[2019-05-31 13:15] mbelang commented on #51096
same problem with `m5` instances and `gunicorn` app. If I expos flask server directly the issue doesn't appear anymore...

[2019-05-31 13:16] rtheis commented on #78308
I have not been able replicate this problem with 1.13.6 or 1.14.2 using containerd as the container runtime.

[2019-05-31 13:26] rramkumar1 commented on #77869
@birdli66 I think this is a valid feature request. Since you have already added the appropriate label, this will be in the backlog.

[2019-05-31 13:26] rramkumar1 commented on #77869
/remove-triage unresolved

[2019-05-31 13:43] joeyparis commented on #60066
When I run this command to patch the pod's finalizer I just get the response `pod "[podname]" not patched`. I tried it on a few of the pods but got the same message for all of them and they all remain with an "Unknown" status. Any ideas?

[2019-05-31 14:12] #73371 closed

[2019-05-31 14:13] #47163 closed

[2019-05-31 14:20] michmike commented on #78577
cc: @ddebroy

[2019-05-31 14:24] yastij commented on #72413
/reopen

[2019-05-31 14:48] timmycarr commented on #69843
/milestone v1.16

[2019-05-31 15:01] ddebroy commented on #78577
/assign

[2019-05-31 15:02] zigmund commented on #76699
@MikeSpreitzer

Almost no insert_failed after I enabled random-fully on kube-proxy and docker rules. See pic. First big drop of insert_failed/sec after I added kube-proxy's rule, second drop to zero is for docker's rule.
![image](https://user-images.githubusercontent.com/1713091/58713477-775ee280-83e4-11e9-9e0e-9689057178e5.png)

I've tried to remove this rule, but kube-proxy recreates it almost i

[2019-05-31 15:29] MikeSpreitzer commented on #76699
Oh, right, the counters you showed earlier say the same thing.

What changed after 08:00 to make insert_failed/sec go up again?

Why are the Docker rules involved?

[2019-05-31 15:35] grosser commented on #29838
ideally this would work via the api too, since atm kubectl does `?limit=500` and then sorts locally

[2019-05-31 15:37] soggiest commented on #65153
/milestone clear

[2019-05-31 15:45] alejandrox1 opened #78589 "[Failing Test] kubeadm-kinder-master-on-stable failing due to errors unmarshaling config"
**Which jobs are failing**:
ci-kubernetes-e2e-kubeadm-kinder-master-on-stable

**Which test(s) are failing**:
task-04-join

**Since when has it been failing**:
Failing since 5/30 at 6:18 PDT.
See [k/k diff](https://github.com/kubernetes/kubernetes/compare/master...release-1.15)

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-master-on-stable

**Reason for fa

[2019-05-31 15:46] alejandrox1 commented on #78589
/sig cluster-lifecycle

[2019-05-31 15:47] benmoss commented on #78565
I think this was a problem with the flannel CNI plugin that was fixed in https://github.com/containernetworking/plugins/pull/309. You could try compiling the flannel plugin (`flannel.exe` not `flanneld.exe`) and see if that fixes the issue. Runtime DNS was added to the Overlay plugin back in March, so you'll need to make sure you're on a version of `win-overlay.exe` that includes the changes from

[2019-05-31 15:49] ttousai commented on #76738
@akutz @tpepper @justaugustus do you still expect to complete this issue for 1.15?

[2019-05-31 15:51] neolit123 commented on #78589
/assign
the issue is known and PR to fix should be up early next week.

[2019-05-31 16:02] namratachaudhary commented on #78582
1. Weave net is currently linux-only - https://github.com/weaveworks/weave/issues/3193#issuecomment-348697832
2. With Calico, it is only available with enterprise-grade support.

another odd behaviour I saw was, upon running `.\start.ps1` twice, the node was finally "ready" but the kubelet stopped posting node status quickly afterwards.

[code]

and within a few minutes,

[code]

The events are sa

[2019-05-31 16:05] christopherhein commented on #77949
/cc @leakingtapan

[2019-05-31 16:09] namratachaudhary commented on #78582
Additionally, this is my cni-conf.json & net-conf.json

[code]

This is exactly how it is described in the docs, I'm failing to understand what could be going wrong here.

[2019-05-31 16:16] zigmund commented on #76699
It is our native load depending on daytime. I added kube-proxy rule at ~9:30 and docker rule at ~13:00.
![image](https://user-images.githubusercontent.com/1713091/58719103-b5fa9a00-83f0-11e9-81dc-2b762eef8daa.png)

Since Docker have masquerade rule I decided to add random-fully to this rule too. The rule is for outgoing traffic from containers.

[2019-05-31 16:17] johnbelamaric commented on #78138
@george-angel If you are using a musl-based distro (e.g., Alpine), it will issue request to all nameservers in parallel. There's nothing we can do on the server side about that.

[2019-05-31 16:38] MrHohn commented on #53451
@soggiest Thanks for checking in. Yes, the fix (https://github.com/kubernetes/kubernetes/pull/78262) is queued for merging ATM.

[2019-05-31 16:40] alejandrox1 commented on #78589
@neolit123 thank you for your prompt response!
could you link to the issue (if there is one) related to this failure (for background)?

[2019-05-31 16:53] dashpole commented on #78561
There is a lot here, I'll do my best to answer it all.

Scenario 2 is not, except in rare scenarios.  Requests are not allowed to exceed `Allocatable` on the node, so for the node to be under memory pressure requires at least 1 pod to be exceeding its requests.

Scenario 1 can happen, but that is by design.  A relatively well-behaved best-effort pod will be kept over Burstable pods which are using

[2019-05-31 16:59] dashpole commented on #78561
/sig node

[2019-05-31 17:16] neolit123 commented on #78589
this is one of the PRs: https://github.com/kubernetes/kubernetes/pull/78542
but the rest are not created yet.

[2019-05-31 17:18] MrHohn commented on #78433
Humm, I can't find anything obviously wrong in your setup and I'm not aware of any IAP configuration that may make it work on only some paths.

Adding @rramkumar1 for more insights. Would it be a IAP layer bug?
/assign @rramkumar1

[2019-05-31 17:21] rramkumar1 commented on #78433
@SaadBinShahid Can you please duplicate this issue in https://github.com/kubernetes/ingress-gce. We can track the issue there.

/close

[2019-05-31 17:21] #78433 closed

[2019-05-31 18:09] benmoss commented on #78555
/assign

[2019-05-31 18:11] chrisghill commented on #78138
@george-angel possibly. I wasn't able to actually solve the DNS server lookup-order issue that this ticket was originally about.  From the comments here it sounds like that would be difficult since Alpine uses musl which issues requests to all nameservers at once.  But, the only reason I was exploring nodelocaldns was because it was a suggested fix to the DNS server timeout issue discussed at leng

[2019-05-31 18:54] Guillaume-Mayer commented on #73738
Hi.
From which version of kubernetes is the v2beta2 version enabled?
It is in the v1.13 api reference documentation.
But seems it's not enabled, or is there a way to enable it?
Thanks

[2019-05-31 19:22] #65387 closed

[2019-05-31 19:54] johnbelamaric commented on #78138
You can blackhole the AAAA requests in CoreDNS with a rewrite rule, something like this will likely work: `rewrite type AAAA X25`. Basically that rewrites any AAAA request to a request for an X25 record, which is highly unlikely to actually exist (you could pick any other obscure record type). Thus the response is NODATA.

[2019-05-31 20:00] johnbelamaric commented on #78254
The issue is we don't have any control over the external DNS servers that the external clients would be using to look up services. So i don't see how we can implement this beyond the options mentioned above. Unless I am not understanding the request.

[2019-05-31 20:02] abeer91 commented on #63022
@bchav Could you please reopen this issue?

[2019-05-31 20:05] rhockenbury commented on #77535
The use case is that a storageClass would not be required per zone.  `allowedTopologies` currently only supports one zone value, which means multiple zones require multiple storageclasses.  The current implementation makes the user choose the zone (storageclass) when creating the PVC, when the desired behavior with `WaitForFirstConsumer` would be for the storage to follow the pod placement, regard

[2019-05-31 20:08] BenTheElder commented on #58512
moving to distroless in more places is going to make this more painful FYI @yuwenma

[2019-05-31 20:26] fedebongio commented on #78454
/assign @logicalhan

[2019-05-31 20:27] fedebongio commented on #78467
/assign @apelisse

[2019-05-31 20:28] fedebongio commented on #78499
/assign @roycaihw

[2019-05-31 20:29] fedebongio commented on #78510
/assign @jpbetz

[2019-05-31 20:50] jeffliu27 commented on #7923
Is there still help needed on this issue? I want to help as a first time contributor.

[2019-05-31 20:55] chrisghill commented on #78138
@johnbelamaric good to know.  However, from what I understand of the timeout issue, the source is in the Linux kernel libraries, and more importantly the race condition prevents the DNS requests from ever hitting a server at all.  At least that's what I pieced together from reading through the issue I linked.  I think that's why Quentin Machu's solution patches it at the network overlay level.  Bu

[2019-05-31 20:56] johnSchnake opened #78599 "Conformance image should surface more (or any) flag options"
**What would you like to be added**:
A way to set generic flags when calling the conformance test image.

**Why is this needed**:
Currently it just respects a handful of flags in an effort to be simple for callers. However, someone has reported a need to set one of the DNS flags https://github.com/heptio/sonobuoy/issues/733 and there isn't a real reason we don't surface _that_ flag. The problem is

[2019-05-31 21:03] githubixx opened #78600 "Not able to update "apiVersion" with K8s 1.14"
**What happened**:
I upgraded from 1.13.5 to 1.14.2 lately.

The [CHANGELOG for 1.14.x](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.14.md#deprecations) mentions quite a few deprecations regarding `apiVersion` for Ingress, Deployment, DaemonSet and a few more.

Now I try to upgrade my Ingresses from `apiVersion: extensions/v1beta1` to `apiVersion: networking.k8s.io/v1beta1` as

[2019-05-31 21:06] dims commented on #78599
@johnSchnake i'd support this

[2019-05-31 21:19] githubixx commented on #78600
/sig apps
/sig api-machinery
/sig network
/sig cli
Sorry if I choose the wrong SIG's but I'm currently not sure where the problem is located. `Ingress` belongs to SIG network but the issue also happens to `Deployment` which belongs to SIG apps but maybe it's just a `kubectl` issue which belongs to SIG CLI or it is something API server related.

[2019-05-31 21:26] Random-Liu commented on #78308
Here is a fix to the root cause in dockershim https://github.com/kubernetes/kubernetes/pull/78603.

[2019-05-31 21:32] kerneltime commented on #65502
If Pods are modeled as VM, we are missing what essentially is a custom init/systemd script to control startup and shutdown. Maybe this a missing layer in the Pod and should not be part of the kubernetes code base itself. It could be implemented as a bidirectional FS across containers or a RPC..
This does need to be solved once and for all pods and containers within it.

[2019-05-31 21:53] oomichi opened #78605 "Check conformance tests call GA APIs only"
**What is a problem**:

This is a part of https://github.com/kubernetes/kubernetes/issues/74432

We have defined the requirements of conformance tests as https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md#conformance-test-requirements
And the first requirement is `it tests only GA, non-optional features or APIs (e.g., no alpha or beta endpo

[2019-05-31 21:53] oomichi commented on #78605
/area conformance
/sig architecture
/sig testing

[2019-05-31 22:02] oomichi commented on #78605
Enable the API operation log in e2e.log on pull-kubernetes-conformance-image-test
---------------------------------------------------------------------------------------------
The job definition: https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-testing/conformance-e2e.yaml#L4
1. It kicks `./../test-infra/experiment/kind-conformance-e2e.sh`.
2. `kind-conformance-e2e.s

[2019-05-31 22:07] prameshj commented on #78138
Thanks @chrisghill
From your earlier comment in this issue I see:

"One of the recommended solutions is to run node-local DNS to prevent the race condition. However, if you go down that path its recommended to have a backup DNS in case the local DNS pod fails."
The recommendation to have a backup DNS - is that something you found in the docs somewhere or ran into an issue that required you to have

[2019-05-31 22:53] yujuhong commented on #78308
The only known runtime/shim that is affected by this is dockershim.

[2019-05-31 22:57] ngaya-ll opened #78607 "Validation error on kubectl apply after kubectl edit"
**What happened**:
Attempting to `kubectl apply` a manifest whose resources have been previously modified using `kubectl edit` (see steps to reproduce below) raises a validation error.
[code]

**What you expected to happen**:
Manifest should be successfully applied.

If this flow is not supported, the user should receive a useful error message indicating what the problem is (e.g. "Resource has bee

[2019-05-31 22:59] ngaya-ll commented on #78607
@kubernetes/sig-apply-bugs

[2019-05-31 23:08] thockin commented on #78020
I know what you are getting at, but there's still an assumption that a single CIDR covers the whole cluster.

[2019-05-31 23:08] #78020 closed

[2019-05-31 23:11] thockin commented on #78210
@louiscryan Can I get an istio assist on this one?

[2019-05-31 23:43] danielqsj commented on #78607
similar with https://github.com/kubernetes/kubernetes/issues/78420

[2019-05-31 23:50] rehevkor5 commented on #75402
Related: https://github.com/kubernetes/autoscaler/issues/1431

[2019-06-01 00:24] bgrant0607 commented on #65098
I also think minReadySeconds should be added to Pod, but I'm not opposed with adding it to StatefulSet first/also, since other controllers also have it

[2019-06-01 00:59] oomichi opened #78613 "Current conformance tests call non-GA APIs"
**What happened**:

We have defined the requirements of conformance tests should call GA APIs only as `it tests only GA, non-optional features or APIs (e.g., no alpha or beta endpoints, no feature flags required, no deprecated features)` on https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md#conformance-test-requirements
However current conf

[2019-06-01 01:02] oomichi commented on #78613
/sig architecture
/sig testing

[2019-06-01 01:07] oomichi commented on #78613
I think we need to remove Alpha API calls at least, the APIs are
[code]

[2019-06-01 01:10] liggitt commented on #78613
we can rename them to v1 to avoid confusion if we want, but those are just test fixtures

[2019-06-01 01:11] chrisghill commented on #78138
@prameshj I don't think I saw HA anywhere explicitly recommended, but in the DNS timeout issue I linked when other users were discussing their solutions and the topic of a DNS server per node came up the problem of HA was usually mentioned as well. I think it was just a recognition that at some point a local DNS server is likely to crash, causing failures in every pod on that node until it recover

[2019-06-01 01:21] oomichi commented on #78613
@liggitt Thanks, I see we need to filter out these Alpha APIs as non-problem.

The called Beta APIs are 50 and they are
[code]

[2019-06-01 01:42] oomichi commented on #78613
CRD e2e test exists as conformance test like https://github.com/kubernetes/kubernetes/blob/master/test/e2e/apimachinery/custom_resource_definition.go#L41

From liggitt's help on the slack:
[code]

[2019-06-01 02:02] liggitt commented on #78613
opened https://github.com/kubernetes/kubernetes/pull/78614 switching the APIService, RBAC, and SubjectAccessReview uses to v1

[2019-06-01 02:04] liggitt commented on #78613
https://github.com/kubernetes/kubernetes/pull/70672 will merge in 1.16 and will stop serving the apps/v1beta1, apps/v1beta2, and most of the extensions/v1beta1 types by default

CRDs are planned to go to v1 in 1.16 and we will switch e2es to use v1 at that point (and likely enable more conformance tests around them)

[2019-06-01 02:06] timyinshi commented on #78576
@kubernetes/sig-storage

[2019-06-01 02:22] #64531 closed

[2019-06-01 03:45] #77030 closed

[2019-06-01 03:45] #77608 closed

[2019-06-01 04:05] liggitt commented on #78600
`kubectl get ingress` is not fully qualified, so kubectl returns the first API listed by the server which contains an ingress resource, which is extensions/v1beta1

The apiserver can return the resource in either version. If you want the new API group now, qualify your get command as `kubectl get ingress.networking.k8s.io`

/close

[2019-06-01 04:05] #78600 closed

[2019-06-01 05:26] andrewsykim commented on #53451
/reopen

This should be left open until the finalizer addition is enabled by default

[2019-06-01 05:56] andrewsykim commented on #78549
Maybe a good issue for @jiatongw?

[2019-06-01 06:08] dstrebel commented on #72956
/milestone v1.16

[2019-06-01 06:22] #78129 closed

[2019-06-01 06:22] #78295 closed

[2019-06-01 06:23] #78443 closed

[2019-06-01 08:28] #66714 closed

[2019-06-01 08:28] jc-lab opened #78617 "All nodes are often in a NotReady state."
Some time...
[code]

Some time...
[code]

kubectl version (From master)
[code]

syslog (from master)
Many same log
[code]

journalctl -u kubelet (from master, but same all nodes)
So many repeat log
[code]

[2019-06-01 09:23] markzhang0928 commented on #58512
Yes, definitely understood;  `[Bug 1096726](https://bugzilla.suse.com/show_bug.cgi?id=1096726)` makes docker hit the headline again.

There are two ways to solve this problem. One way is to fix it like [#39292] (https://github.com/moby/moby/pull/39292), pass root to chroot to for chroot Tar/Untar.
Another way is to implement `kubectl cp` by using a  [`ephemeral container`](https://github.com/kuber

[2019-06-01 09:33] markzhang0928 commented on #58512
Yes, definitely understood; Bug 1096726
<https://bugzilla.suse.com/show_bug.cgi?id=1096726> makes docker hit the
headline again.

There are two ways to solve this problem.
One way is to fix it like [#39292
<https://github.com/kubernetes/kubernetes/issues/39292>] (moby/moby#39292
<https://github.com/moby/moby/pull/39292>), pass root to chroot to for
chroot Tar/Untar.
Another way is to implement kub

[2019-06-01 09:50] Bevisy commented on #78617
You should use `kubectl describe node node-10` for more details. And make sure the service/kubelet status on the 'NotReady' node.
first check service status, then check cluster's nodes network.

[2019-06-01 09:53] yuchengwu commented on #78561
Thanks for the explanation.

Yes, this is what I mean.

Sounds like there is nothing we should do in this issue, closing.

[2019-06-01 09:53] #78561 closed

[2019-06-01 09:54] #77706 closed

[2019-06-01 10:20] george-angel commented on #78138
@prameshj correct, because using node-local DNS alone means every time there is a deployment (adjust resources, new version, etc) - there is downtime for dns resolution on the node. So in my mind having a fallback is a must.

[2019-06-01 11:13] jc-lab commented on #78617
@Bevisy
Thank you for comment.

Below is describe to node-10 when NotReady state.

[code]

The network is always OK (tested by Ping)
Both Internal IP and cni IP.

NotReady state is also caused in master role node.

[2019-06-01 15:45] AceHack commented on #20227
Bump

[2019-06-01 16:31] lentzi90 commented on #73173
I think this is a duplicate of #17512

[2019-06-01 16:50] #76077 closed

[2019-06-01 17:11] michmike commented on #77318
cc: @dineshgovindasamy  as well

[2019-06-01 17:28] michmike commented on #73321
@jingxu97 do we have test cases that verify both volumes and volume subpaths on windows?
can you be specific on the few things that do not work so that i can edit this accordingly?

[2019-06-01 17:29] lentzi90 opened #78621 "Node resource utilization wrong with reserved resources"
**What happened**:
Resource usage does not take reserved resources into account: `kubectl top nodes` shows the **total** usage and compares it to **allocatable** resources when it calculates the utilization.

Example: A node with 10 GB memory in total, 2 GB (20 %) reserved for system/kubelet, 8 GB allocatable.

Let's assume that the reserved memory is actually used.

Some workload is using another

[2019-06-01 17:31] lentzi90 commented on #78621
/sig cli

[2019-06-01 18:04] michmike commented on #78565
cc: @dineshgovindasamy

[2019-06-01 22:42] #67857 closed

[2019-06-01 23:06] jfoy commented on #72533
We've just encountered this as well - kubelet v1.11.7, docker 18.06.3-ce, kernel 4.19.43-coreos. The host had been up for about 52 hours, 40 minutes. A further symptom was that all docker command-line operations, e.g. `docker inspect` or `docker rm`, were failing with respect to only one (stopped) container: a canary pod launched by our monitoring infrastructure, which runs a stub executable long

[2019-06-01 23:43] #71097 closed

[2019-06-02 00:26] #78296 closed

[2019-06-02 03:14] PatrickLang opened #78628 "Windows kubelet won't start "Failed to create listener for podResources endpoint""
**What happened**:

I replaced the kubelet on one of my 1.14 nodes with a build from master, and now I'm getting this error starting up.

Test passes since 5/31/2019 commit b7fa33ec1 have been failing on testgrid. If you look at the logs, the Windows nodes are not coming up. https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows/1134583855047512068

[2019-06-02 03:16] PatrickLang commented on #78628
cc @adelina-t
/priority critical-urgent

[2019-06-02 03:20] PatrickLang commented on #78628
/release v1.15

Release team - it looks like a recent checkin broke windows nodes. We will need a fix here for 1.15

[2019-06-02 04:15] vaustral commented on #72533
What i found with mine is that the the garbage collection is failing on docker system for things like docker image prune -f -a or something in that matter.  You have to run a docker system purge and make a huge effort to get around the size of your images.

Also changing the imagePullPolicy = IfNotPresent worked for us to, ensure your revisonHistoryLimits are reasonable as well i moved from 10 dow

[2019-06-02 04:25] #64136 closed

[2019-06-02 05:39] draveness commented on #77359
Hi @andrewsykim, we could close this issue since the `Logf` function was removed from the framework package.

[2019-06-02 05:50] xiongmaodada opened #78629 ""--kube-reserved-cgroup" kubelet option cannot find cgroup"
start kubelet with below config:
[code]
podruntime.slice  with below config:
[code]
check the podruntime.slice  cgroup, get the following output:
[code]
then, start kubelet.service, run `journalctl -u kubelet.service  -f`  as follows:
[code]
`["podruntime.slice"] cgroup does not exist`
why?

**Environment**:
- Kubernetes version (use `kubectl version`): v1.14.1
- Cloud provider or hardware configu

[2019-06-02 05:53] xiongmaodada commented on #78629
/area kubelet
/sig node

[2019-06-02 05:55] xiongmaodada commented on #78629
@derekwaynecarr

[2019-06-02 06:29] draveness commented on #78420
The root cause of this is the strategic patch. As @danielqsj mentioned, we have to use the `value: null` to fix the problem.

It would lead to API broken if we change the behaviour of strategic merge patch, I'll dig around in the apps validation process and try to find out the solution to this.

[2019-06-02 06:49] NickrenREN opened #78631 "Delete pods from unschedulable queue only when add operations succeeds"
**What happened**:

We will now always delete the pods from unschedulable queue no matter the Add operations succeed or not in `movePodsToActiveQueue` function.

**What you expected to happen**:

Delete pods from unschedulable queue only when add operations succeeds

[2019-06-02 06:50] NickrenREN commented on #78631
/sig scheduling

[2019-06-02 06:50] NickrenREN commented on #78631
/assign

[2019-06-02 07:32] zamog commented on #77174
https://github.com/kubernetes/kubernetes/issues/76424
seems like a related issue --> td;lr add --feature-gates=RuntimeClass=false flag as workaround

[2019-06-02 07:39] tcmichael commented on #78420
@draveness
Thank you for your reply.
According to your advice, I tried to add `value: null` in my second statefulset's yaml, but I still could not update statefulset.
How to fix my yamls to get around the problem?

[2019-06-02 07:43] axot commented on #56903
We still observing DNS timeout even using a standalone node cache, it got much less than before but happens especially when node scaling up any thoughts?

Some error samples,
[code]

Here is the Corefile of node cache.
[code]

[2019-06-02 08:44] NickrenREN commented on #78631
Will the pods be added to the queues again somewhere if we delete them by mistake here ?
It seems that `Update` can not make sure to  add them again.

[2019-06-02 08:53] gaorong opened #78633 "upgrading from v1.13 to v1.14 causes daemonset's container restart unexpectedly"
**What happened**:
I have a kubernetes cluster with version  v1.10.2 and want to upgrade to v1.14.2 step by step, without the use of cluster lifecycle management tools like kubeadm.
when upgrading from v1.13.2 to v1.14.2, some daemonset's container restart unexpectedly.

A new `controllerrevision` was created at this time,  with the only difference from the previous one was adding `spec.containers

[2019-06-02 08:58] gaorong commented on #78633
/sig apps
/sig cluster-lifecycle

@janetkuo @k82cn @liggitt @luxas

[2019-06-02 09:33] xmik commented on #42885
/remove-lifecycle stale

[2019-06-02 09:53] #71930 closed

[2019-06-02 13:13] IvanovOleg opened #78636 "cAdvisor container metric has the empty container_name field"
**What happened**:
I am trying to get the container CPU usage information in grafana, but getting emty diagrams. Grafana has the next dashboard request:
`sum by (container_name) (rate(container_cpu_usage_seconds_total{job=\"kubelet\", namespace=\"$namespace\", image!=\"\",container_name!=\"POD\",pod_name=\"$pod\"}[1m]))`
Here is the part of the cAdvisor output:
`container_cpu_usage_seconds_total{c

[2019-06-02 13:18] IvanovOleg commented on #78636
@kubernetes/sig-node-bug

[2019-06-02 13:41] IvanovOleg commented on #78636
/sig node

[2019-06-02 14:40] weiwei04 opened #78638 "Reserve resource when statefulset is doing rolling update"
**What would you like to be added**:

reserve cpu/memory resource when doing a rolling update on a statefulset with local-pv

**Why is this needed**:

For statefulset with local-pv, the pod is bind to a node, when doing a rolling update on statefulset, the pod is deleted and recreated with new spec.

Consider a  situation, a statefulset pod podA with local-pv on nodeA doing a rolling update, podA

[2019-06-02 14:46] weiwei04 commented on #78638
/sig-apps
/sig-scheduling

[2019-06-02 15:19] tedyu commented on #78629
From cgroupManagerImpl#Exists :
[code]
Can you turn on log V4 so that we can see the above log ?

thanks

[2019-06-02 15:21] tedyu commented on #78629
[code]
It seems if we change return value type to error, the caller would be able to incorporate error message from Exists func.

[2019-06-02 15:22] mattjmcnaughton commented on #78629
Thanks for sharing :) Hope we can help you debug!

Is the information here helpful?https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/node-allocatable.md#recommended-cgroups-setup

[2019-06-02 15:28] mattjmcnaughton commented on #78636
Hi @IvanovOleg ! Thanks for sharing this issue :)

I think you'd actually have the most luck asking this on the [cadvisor](https://github.com/google/cadvisor) project.

Mind closing this issue and opening when there?

[2019-06-02 15:36] tedyu commented on #78631
How about the following change ?
[code]

[2019-06-02 16:02] emmayang commented on #76075
Got exact same error with 1.14.2, same error when run `kubeadm join` and also panic logs. And one more finding is I also got some errors listing for resources, like `Failed to list *v1.Node: Get https://X:6443/api/XXXXv1/nodes?`

[2019-06-02 17:16] IvanovOleg commented on #78636
@mattjmcnaughton, I will create an issue there.

[2019-06-02 17:16] #78636 closed

[2019-06-02 17:35] godzoco opened #78640 "on 1.14.1 when i delete local volume for StatefulSets ,then the pv STATUS it is Terminating all the time"
**What happened**:
on 1.14.1 when i delete local volume for StatefulSets ,then the PersistentVolume STATUS it is Terminating all the time
**What you expected to happen**:
it should be deleted as soon as possible
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
1.14.1 the local volume could work for StatefulSets ?
**Environment**:
- Kubernetes v

[2019-06-02 17:48] tedyu commented on #76075
I wonder if the first panic could be from Value#FieldByIndex
[code]
I came to the above from v.FieldByName call in getItemsPtr

[2019-06-02 17:59] tedyu commented on #76075
Thinking of adding the following protection:
[code]

[2019-06-02 18:01] #71773 closed

[2019-06-02 18:01] #72365 closed

[2019-06-02 18:35] chrisghill commented on #56903
@axot As I understand it there are 3 potential sources for the timeout.  There were Linux kernel patches for 2 of the 3, but the last one is non-trivial to patch (https://github.com/kubernetes/kubernetes/issues/56903#issuecomment-410515255). And I think the node-local-dns might specifically be a workaround for the last one since patching is non-trivial? Anyway, what I'm getting at is maybe try upd

[2019-06-02 19:00] micahhausler commented on #63022
/reopen
/remove-lifecycle stale
/remove-lifecycle rotten
/lifecycle freeze

[2019-06-02 20:05] tedyu commented on #78582
Have you checked kubelet log(s) ?

[2019-06-02 21:05] szuecs commented on #56903
@axot @chrisghill we use coredns as daemonset and dnsmasq in front. We also use conntrack bypass and have only the dns infrastructure on the same node. The postmortem if an incident that triggered the change from our dnsmasq + tc-flannel and coredns backend via serviceip can be found at https://github.com/zalando-incubator/kubernetes-on-aws/blob/dev/docs/postmortems/jan-2019-dns-outage.md
Our setu

[2019-06-03 00:02] atomiccc commented on #68542
I had flannel in a similar bunk state after installing it. Since this is a brand new master I just rebooted the entire server and everything came up cleanly.

[2019-06-03 00:07] #72488 closed

[2019-06-03 00:33] jc-lab commented on #78617
apiserver log (many repeated)

[code]

[2019-06-03 00:36] godzoco commented on #78640
@kubernetes/sig-storage

[2019-06-03 00:44] jc-lab commented on #78617
Resolved.

[code]

[2019-06-03 00:44] #78617 closed

[2019-06-03 00:50] godzoco commented on #78640
/sig storage

[2019-06-03 02:12] NickrenREN commented on #78631
@tedyu I am not sure if we will add them somewhere else. If not, not only `movePodsToActiveQueue` but also `MoveAllToActiveQueue` need to be updated.
I have already send a PR here: https://github.com/kubernetes/kubernetes/pull/78632

[2019-06-03 02:26] xiongmaodada commented on #78629
@tedyu @mattjmcnaughton  thanks for your rely. when I turn on log V4, logs as followed:
[code]
Cgroup  path is not expected: `/sys/fs/cgroup/*/podruntime.slice`, so when I modify `--kube-reserved-cgroup=/podruntime`,  it‘s ok.

so， Is this normal?

[2019-06-03 02:45] chestack commented on #78580
@mattjmcnaughton actually I am not sure if this is expected yet, so open this issue for discussion.

IMO, set all besteffort pods status to Failed then to clean up is a big move for cluster. Maybe eviction process  is a better choice: rank pods --> evict one pod during each interval --> re-compute the node conditions

[2019-06-03 02:57] wupaopao commented on #78579
@kubernetes/sig-network-bugs

[2019-06-03 03:15] draveness commented on #78420
/unassign

Sorry, I do not have enough time for this, anyone interested could take it from here.

[2019-06-03 03:28] draveness commented on #78002
Hi @ahg-g, how is this going on? I could work on this if you don't have the time, thanks :)

[2019-06-03 04:15] cofyc commented on #74923
/lifecycle frozen

[2019-06-03 05:18] tyrone-grech commented on #44703
This would be helpful for us as well, to be able to for example allow developers additional access to certain pods (test environments) than others (Continuous Integration tools like Jenkins).

[2019-06-03 06:17] prameshj commented on #78138
Thanks @george-angel , @chrisghill . I had submitted a KEP that talks about an HA option using the kube-dns service ip as the listen ip for the cache.
https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190424-NodeLocalDNS-beta-proposal.md#design-details

The solution is not fully available in the latest node-cache version, but I did introduce a few commandline flags which wi

[2019-06-03 06:19] prameshj commented on #56903
Since you mentioned it especially happens before node scaling up - do you know if one of the kube-dns pods was running on the nodes when this happens? If you see this pattern, then maybe the requests are going to the kube-dns pod just before it is restarted?

Another question - are you using kube-dns or CoreDNS as cluster DNS?

[2019-06-03 06:40] namratachaudhary commented on #78582
This is the content of error log

[code]

Rest are just info logs.

[2019-06-03 06:40] YoubingLi commented on #78165
@hoyho

   The issue is gone after I upgraded my git version to "2.22.0.rc2".

   You can try it.

[2019-06-03 06:45] adisky commented on #78573
/sig-storage

[2019-06-03 06:46] adisky commented on #78573
/sig storage

[2019-06-03 06:47] adisky commented on #78573
/kind bug

[2019-06-03 07:09] karthikeayan commented on #72150
increase chunk_buffer_limit from 2MB to 20MB solved my issue.

[2019-06-03 07:49] boroda4436 commented on #78126
**SOLVED:** It was required to refresh the Google OAuth2 token and pass to kubeclient. Works fine for all versions.
**IMPLEMENTED** in this [commit](https://github.com/boroda4436/kubernetes-demo/commit/5d67baba0780d58d6bd3d0ce03bad73047112671)

[2019-06-03 07:49] #78126 closed

[2019-06-03 07:54] szuecs commented on #56903
@prameshj good point, cluster autoscaling can interfere with readiness of your pods. Your pod can locally be fine, but the environment not. You should have a stage where only environment pods are allowed to start. Internally we build our own https://github.com/zalando-incubator/kubernetes-on-aws/tree/dev/cluster/manifests/kube-node-ready.
On the other hand you should also look into the tear down p

[2019-06-03 07:58] YoubingLi commented on #78181
Pod has UID attribute.

If the pod belongs to other object such as Job, Deployment, statefulset, the "controller-uid" is set in Pod's Labels.

You can check these 2 fields.

   func getPodControlID(pod *corev1.Pod) string {

        if pod.Labels == nil {
                return string(pod.UID)
        } else {
                uuid, ok := pod.Labels["controller-uid"]
                if ok {

[2019-06-03 08:12] fudali113 opened #78644 "why delete job created pod when job failed ?"
**What happened**:
if my job failed, i can`t find this job created pods, so i can`t find my application error logs

**What you expected to happen**:
if my job failed, this job created pod not delete

**How to reproduce it (as minimally and precisely as possible)**:
run a error job

**Anything else we need to know?**:
https://github.com/kubernetes/kubernetes/blob/4b4420f53e5b6681bbfa5cbf22d8133c4ee

[2019-06-03 08:13] fudali113 commented on #78644
@kubernetes/sig-apps-job

[2019-06-03 08:18] fudali113 commented on #78644
/sig apps

[2019-06-03 08:25] Ankur7890 opened #78645 "Error proxying data from client to backend"
Getting below exception in k8s api server logs.

Error proxying data from client to backend: Master -> Kubelet:10250 write: broken pipe

Can someone help me with the reason for the same.

[2019-06-03 08:36] Joseph-Irving commented on #78644
Once a job had failed, (this occurs when it's exceeded its active deadline seconds or backoff limit) any active pods are deleted to prevent them from running/crashlooping forever. Any pods that aren't active e.g they are in a Pod phase of `Failed` or `Succeeded`, should be left around.

If you want your pods to be left around after failure, changing the restart policy of your pods to `Never` shoul

[2019-06-03 08:41] jacintobarbeira commented on #78210
Hi guys. Finnaly solved this one.
So the istio controller for the mutating webhook relied on calling a pod (istio-automatic-injection) for getting the job done. It did so by posting to that pod on HTTPS.
The problem ended up to be solved by allowing the control plane to talk to pods on TCP 443 on AWS security policies. The AWS guide for setting up security groups for use with K8s did not capture t

[2019-06-03 08:41] #78210 closed

[2019-06-03 08:44] binlaniua commented on #76531
Docker version: 18.09.6
Kubernetes: 1.14.2
Centos: 7.6.1810

[2019-06-03 08:45] fudali113 opened #78646 "Cronjob `spec.schedule` can`t be change when `spec.schedule` value not `"` or `'`"
**What happened**:
my cronJob yaml like:
[code]
i want change `schedule` to `*/1 * * * *`

i just write new value when i must make schedule value is `"*/1 * * * *"` or `'*/1 * * * *'` ,
if value is `*/1 * * * *`, we can got a error message :

[code]

**What you expected to happen**:
`"`,`'` can`t influence logic

**How to reproduce it (as minimally and precisely as possible)**:
change `spec.schedu

[2019-06-03 08:46] fudali113 commented on #78646
/sig apps

[2019-06-03 08:51] aleks-mariusz commented on #76531
this issue has been open almost two months and a ton of people being chiming up that they are affected.. granted the impact seems mainly cosmetic in that there are mostly just erroneous warnings that aren't breaking anything, but it's a bit disappointing there have been no official responses from the kubernetes maintainers as to what might be causing this or if there's any effort being expended to

[2019-06-03 09:00] White-Duke commented on #78480
Kubenertes 1.13.2 depend the CNI plugin version 0.6.0

[2019-06-03 09:06] CanKattwinkel commented on #17088
``` Warning  Translate  14s (x13 over 24s)  loadbalancer-controller   error while evaluating the ingress spec: service "default/prometheus" is type "ExternalName", expected "NodePort" or "LoadBalancer"```

The ExternalName approach doesn't work on GKE as **canmanmake** pointed out, here is the error message for people googling this issue.

[2019-06-03 09:21] siwyd commented on #76531
Same issue here, using the systemd cgroup driver as recommended in the official k8s docs.

CoreOS Container Linux: 2079.4.0
Docker: 18.06.3-ce
Kubernetes: 1.14.2

[2019-06-03 10:24] fudali113 commented on #78644
have a logging pipeline can fixed this question, but this solution need external depend； i think that is not easy to use and delete active pods is not my first feel when job completed(it make me so puzzled on meet this question at first), stop pods is my first feel, have any way to stop active pods but not delete?

[2019-06-03 10:28] lolzyloz commented on #73480
@M00nF1sh\ @mat285 Hi, regarding this issue, what about the case when we are trying to associate an existing security group to a load balancer that we are creating, but we do not wish to delete the security group after we delete the load balancer?

[2019-06-03 10:39] Joseph-Irving commented on #78644
There's no mechanism in kubernetes to "stop/pause" a pod, the pod can enter a non-active state (Failed/Succeeded) by your processes exiting with success (exit code: 0, restart policy: OnFailure/Never) or failure (restart policy: Never). So if your processes are still running when the job becomes failed the only way to stop the pod from continuing to run is to delete the pod.

Also see https://kube

[2019-06-03 11:22] tjucoder opened #78649 "CreateStatefulPod will never got already exists errors"
[code]

**What happened**:
func CreateStatefulPod will never got a already exists errors
func CheckGeneratedNameError will trans 409 into 500
I got a create failed event, but my StatefulSet run well immediately
The events of my StatefulSet looks bad:
[code]

**What you expected to happen**:
I want sink already exists errors as the comment said in the code
I should not got the FailedCreate event wh

[2019-06-03 11:25] tjucoder commented on #78649
sig/statefulset

[2019-06-03 11:34] tjucoder commented on #78649
/sig controller

[2019-06-03 11:37] Joseph-Irving commented on #78649
/sig apps

[2019-06-03 11:40] #78555 closed

[2019-06-03 12:09] DanHam commented on #76531
The 'missing' slice is created [HERE](https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/apply_systemd.go#L170-L176) by `runc`'s `systemd` code. This is why the error is only seen when `systemd` is configured as the cgroup manager.

The error comes from [HERE](https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com

[2019-06-03 12:19] #68946 closed

[2019-06-03 12:29] msau42 opened #78651 "Failing test: [sig-storage] [Serial] Volume metrics should create metrics for total time taken in volume operations in P/V Controller"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-serial

**Which test(s) are failing**:
[sig-storage] [Serial] Volume metrics should create metrics for total time taken in volume operations in P/V Controller

**Since when has it been failing**:
6/1

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-storage-kubernetes#gce-serial

**Reason for failure**:
Probably caused by
https://github.

[2019-06-03 12:29] msau42 commented on #78651
@kubernetes/sig-storage-test-failures
cc @xiangqian @gnufied

[2019-06-03 12:30] cpointner commented on #77174
Thanks @zamog this workaround fixes the problem for me.

[2019-06-03 12:30] msau42 commented on #78651
cc @yuxiangqian

[2019-06-03 12:41] adelina-t commented on #78628
Ok, so the problem here is a little more complicated and we're actually seeing a bug that is actually in the code for quite some time, just that we never used that particular code branch.

But first:
**TL;DR: Quick fix is to start the kubelet on Windows with: --feature-gates="KubeletPodResources=false"**

Now, as to why this is happening:

[2019-06-03 12:45] Ankur7890 commented on #78645
@kubernetes/Error-Proxying

[2019-06-03 12:47] alejandrox1 commented on #78129
Tests have been green since 6/1 🎉

[2019-06-03 12:47] krzysied commented on #77126
Currently this regression is fixed. I'm closing the issue.

[2019-06-03 12:47] #77126 closed

[2019-06-03 12:55] alejandrox1 commented on #76899
Will remove these tests from master-informing for the time being, ref: https://github.com/kubernetes/test-infra/pull/12835

[2019-06-03 12:59] alejandrox1 commented on #78123
@neolit123 is there any more work planned for this issue? I see that some of the kinder jobs are still failing https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-upgrade-stable-master

[2019-06-03 12:59] siwyd commented on #76531
FYI, a simple kubeadm bootstrapped cluster does not seem to have cAdvisor running by default.

[2019-06-03 13:04] rajansandeep commented on #78123
@alejandrox1 merging #78302 and #78033 will resolve and close this issue.

[2019-06-03 13:04] alejandrox1 commented on #78123
Thank you for the update @rajansandeep ! 🎉

[2019-06-03 13:07] msau42 commented on #73019
This has been addressed by #76188
/close

[2019-06-03 13:07] #73019 closed

[2019-06-03 13:23] mattjmcnaughton commented on #78629
Ah, it looks like its appending `.slice` automatically to the cgroup name. At the very least, I think the documentation could be clearer to indicate this will happen. An additional option could be adding the `.slice` suffix only if doesn't already exist.

[2019-06-03 13:41] mahesh862086 opened #78654 "Why Kube-dns could not find API server in kubernetes and automatically restarted at 12:00AM?"
We have a cluster created in GKE. It was running fine but Kube-dns restarted automatically at 12:00AM along with few pods. There were 2 kube-dns pods in the namespace kube-system but only one got restarted with below errors. We also noticed that other pods were untouched.

`I0602 19:04:48.653590       1 dns.go:48] version: 1.14.13
I0602 19:04:48.655733       1 server.go:69] Using configuration rea

[2019-06-03 13:45] dims commented on #78654
/close

please open a bug with your GKE support folks.

[2019-06-03 13:45] #78654 closed

[2019-06-03 13:49] neolit123 commented on #78633
i'd say it's also important to outline the exact sequence of component upgrades.

[2019-06-03 13:50] neolit123 commented on #78572
/sig apps

[2019-06-03 14:04] nzoueidi commented on #76269
@mrbobbytables please let me know if you need help with this.

[2019-06-03 14:13] jmreicha commented on #74862
/remove-lifecycle stale

[2019-06-03 14:13] jmreicha commented on #74862
Still interested in this, just haven't had a chance to look at implementing yet.

[2019-06-03 14:18] godzoco commented on #78640
i find it.
on my pvc haven‘’t been deleted thank you

[2019-06-03 14:18] #78640 closed

[2019-06-03 14:32] dims commented on #70131
For the e2e.test, looks like we need to set [`GOTMPDIR`](https://github.com/golang/go/issues/8451 ) to make sure a specific directory is used instead of the random `/tmp/go-buildXXXXXXXXX`

[2019-06-03 15:25] liggitt commented on #44703
Network policy does not authorize modification of API objects. The details in https://github.com/kubernetes/kubernetes/issues/44703#issuecomment-324826356 describe some of the problems authorizing mutation of an object based on the content of the object being mutated causes.

[2019-06-03 16:22] antoineco opened #78657 "Newly created Azure Disk immediately fails to attach with AttachDiskWhileBeingDetached"
**What happened**:

A disk that was just created by the Azure Disk provisioner remains in a AttachVolume failure loop forever. The reported error makes little sense because the disk was never attached (it is new).

The following Pod events repeat:
[code]

controller-manager's logs:
[code]

State of the disk returned by the Azure API:
[code]

There is no other disk attached to this VMSS instance.

[2019-06-03 16:34] MrHohn commented on #78549
Definitely, would appreciate @jiatongw's help on this :)

[2019-06-03 16:36] mihirnimbalkar commented on #28138
Was there any update on this issue?

I believe we'd greatly benefit from this kubelet API. Our use case is:

We run a standalone kubelet and pass manifest file in /etc/kubernetes/manifests/ folder. We tightly tune --file-check-frequency and --sync-frequency intervals but we still notice a few hundred milliseconds of delay between writing the file and the container start. We could potentially avoid

[2019-06-03 16:44] yujuhong commented on #78628
GCE tests failing too https://testgrid.k8s.io/google-windows#windows-gce
/cc @pjh @mtaufen

[2019-06-03 16:47] MrHohn commented on #53451
Make sense. Should probably remove the 1.15 milestone since enabling by default will happen in next releases?

[2019-06-03 17:34] birdli66 commented on #77869
Great to hear it, thx.

[2019-06-03 17:36] PatrickLang commented on #78628
I'm trying a quick `s/\\/\//` to see if anything else is broken. There are other functions in that same file doing that substitution already so it may make sense to use that as a workaround until a better solution is available.

[2019-06-03 17:39] liggitt commented on #78633
likely triggered by https://github.com/kubernetes/kubernetes/pull/72213/files#r243086103

there was a bug in the way defaulting was applied to the field when it was added in v1.12 in https://github.com/kubernetes/kubernetes/pull/64283

However, the fact that a new defaulted field triggers a restart of a daemonset is concerning, and indicates the change detection strategy used is fragile. It seems

[2019-06-03 17:43] xmudrii commented on #70890
/milestone v1.16

[2019-06-03 17:46] xmudrii commented on #70189
Is there any update is the containerd implementation finished? Are there any relevant issues or PRs that we can use for tracking?

[2019-06-03 18:04] antoineco opened #78660 "Azure Disk detach backoff cancelled due to error "detach azure disk failure, disk not found""
**What happened**:

#78298 made sure that API calls to Azure that return a HTTP code 200 with an embedded error are retried. Nevertheless, we observe a series of errors during the Azure Disk detach backoff while calling `processHTTPRetryResponse()`, and the detach operation is immediately cancelled.

**Happy scenario: the disk is to be re-attached to the same VM.**
The reconciler's `attacherDetach

[2019-06-03 18:08] soggiest commented on #69843
/milestone clear
There is no traction on this over two releases, I'm removing it from milestone tracking.

[2019-06-03 18:09] #74861 closed

[2019-06-03 18:24] #72324 closed

[2019-06-03 18:29] ArcticSnowman commented on #66757
This still needs a resolution

[2019-06-03 18:48] yuxiangqian commented on #78651
this is possibly caused by renaming one label of the metric from "plugin_name" to "volume_plugin". Having a fix under testing now

[2019-06-03 18:48] yuxiangqian commented on #78651
/assign @yuxiangqian

[2019-06-03 19:15] chrischdi commented on #77969
The kubelet CSI part seems to be fixed in https://github.com/kubernetes/kubernetes/pull/72008

[2019-06-03 19:59] PatrickLang commented on #78628
Still working on it - looks like the path to create the directories is also busted.

With 91a29c0 still getting `F0603 19:57:15.224243  285656 server.go:181] Failed to create listener for podResources endpoint: open //./var/lib/kubelet/pod-resources//./pipe/kubelet: The system cannot find the path specified.`

[2019-06-03 20:06] liggitt commented on #78525
/priority critical-urgent

this is by far the flakiest test in the suite, and started after a PR introduced in 1.15

we need to root cause this to make sure we're not regressing before shipping in 1.15

[2019-06-03 20:07] liggitt commented on #78525
http://storage.googleapis.com/k8s-metrics/flakes-latest.json

[2019-06-03 20:19] soggiest commented on #76738
/milestone v1.16

[2019-06-03 20:28] ahg-g commented on #78002
Hi Drave, we have few PRs related to the framework that are not merged yet (because of kubecon, then the code freeze), and so there is no rush implementing this one, I will send a PR probably next week just before the code freeze ends.

[2019-06-03 20:55] soggiest commented on #69376
/milestone v1.16

[2019-06-03 21:13] fedebongio commented on #78607
/assign @apelisse @jennybuckley

[2019-06-03 21:17] apelisse commented on #78607
https://github.com/kubernetes/enhancements/issues/1027 will fix it.

[2019-06-03 21:20] liggitt opened #78663 "TestWebhookReinvocationPolicy flakes"
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestWebhookReinvocationPolicy

reinvocation_test.go:203: Internal error occurred: jsonpatch add operation does not apply: doc is missing path: "/metadata/labels/a"

/cc @jpbetz
/sig api-machinery
/priority important-soon
/kind bug
/area admission-control

[2019-06-03 21:20] liggitt commented on #78663
/milestone v1.15

[2019-06-03 21:21] apelisse commented on #78420
@tcmichael I don't think the problem comes from your YAML, the problem comes from the controller that doesn't update the fields properly.

[2019-06-03 21:25] josiahbjorgaard commented on #77787
@neolit123 @liggitt  Here's a proposed change to the documentation in [content/en/docs/concepts/policy/pod-security-policy.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/policy/pod-security-policy.md):

[code]

Is this sufficient to solve this issue? If so, should I submit a PR there?

[2019-06-03 21:41] mikkeloscar commented on #64923
/remove-lifecycle rotten

[2019-06-03 21:49] rmorrise opened #78664 "kubectl ignores KUBECONFIG when writing cache"
**What happened**:

`kubectl` ignores the `%KUBECONFIG%` setting on Windows and tries to write the HTTP cache to a read-only file location. This seems to cause `kubectl` commands to run slowly (`kubectl get po` takes ~8 seconds for a single pod).

`%KUBECONFIG%` is set, but the setting is being ignored.

[code]

**What you expected to happen**:

All usages of `.kube` should be redirected to `C:\`

[2019-06-03 22:11] justaugustus commented on #77921
/priority important-soon
/milestone v1.16

[2019-06-03 22:11] justaugustus commented on #77921
/help

[2019-06-03 22:21] GerrySeidman commented on #55045
+1 to providing an option for cascading deletion  of PVCs created by StatefulSets when scaling down replicas  or when the StatefulSet is deleted

In our case, the end-user's (incorrect) perspective was that the AuriStor CSI driver was 'responsible' for creating the PersistentVolume Objects.  Since we were logging when the Volumes were dynamically created/deleted, it appeared to the end-user as if

[2019-06-03 22:55] mleklund opened #78669 "PV created too small for PVC when you use the non-i based units M,G, etc."
**What happened**:
When creating a PVC with storage set to 10M, PV is provisioned too small and cannot fulfill the request of the PVC.  When creating a PVC with storage set to 10Mi, PV is sufficiently provisioned.  I tested M/Mi as well as G/Gi and the issue happens with any of the tested non i units.

You can see a bit more discussion on the rook issue list here:

https://github.com/rook/rook/iss

[2019-06-03 22:56] mleklund commented on #78669
/sig storage

[2019-06-03 23:15] pires commented on #71908
Well, the PR hasn't been merged and the bot wants to close it, so don't go and thank me just yet 😢 but I'm happy to learn it fixed it for you.

[2019-06-04 00:07] JCMais commented on #68737
Here is what worked for me with Kubernetes 1.13 on GKE using their own storage class:
1. Changed Replica Set pvc's size
2. Removed Replica Set using: `kubectl delete sts --cascade=false [statefulset-name]`
3. Re-created the Replica Set

Kubernetes automatically re-created the pods 1 by 1 since it detected that the PVC needed to be resized.

[2019-06-04 00:10] msau42 commented on #77174
@cnbailian to summarize, you see this issue in 1.14, but not in master?

And if you disable RuntimeClass feature gate, it works?

I ran through all CSIDriver and CSINode related code in kubelet in master branch. It correctly checks for kubeClient nil everywhere and does not start the informer.

[2019-06-04 00:14] msau42 commented on #77174
This may be fixed by https://github.com/kubernetes/kubernetes/pull/77888 and it's 1.14 cherry-pick https://github.com/kubernetes/kubernetes/pull/77947.

Can you try on release-1.14 head and see if the issue still exists?

[2019-06-04 00:45] caesarxuchao commented on #78525
One thing I noticed:
In the failure [log](https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/78537/pull-kubernetes-integration/1134307152886763521/) of the debugging PR, there were 4 pods belonging to the rc.collection1 deleted by the GC, which was the direct cause of the failure. Search "owner v1/ReplicationController, test.rc.collection1" in the output.

[2019-06-04 01:04] msau42 commented on #75004
/remove-lifecycle stale

[2019-06-04 01:09] jimangel commented on #78651
Thanks for opening this @msau42 let us know if we can help!

/priority important-soon
/milestone v1.15
/cc @alejandrox1 @smourapina @rarchk @alenkacz

[2019-06-04 01:14] MorrisLaw commented on #39090
/remove-lifecycle stale

[2019-06-04 01:15] msau42 commented on #78651
@yuxiangqian is working on a fix

[2019-06-04 01:33] #72595 closed

[2019-06-04 01:33] #71065 closed

[2019-06-04 01:33] #70660 closed

[2019-06-04 01:33] #68202 closed

[2019-06-04 01:33] #70180 closed

[2019-06-04 01:33] #71519 closed

[2019-06-04 01:34] #78572 closed

[2019-06-04 01:39] liggitt commented on #78664
The cache location is not controlled by kubeconfig.

[2019-06-04 01:42] liggitt commented on #78664
There are two caches kubectl uses, one for openapi schemas, controlled by `--cache-dir`, and one for discovery docs, which I don't think is configurable.

Both should be configurable, but I'm not sure about deriving them from $KUBECONFIG

[2019-06-04 02:18] xiongmaodada commented on #78629
@mattjmcnaughton thank you

[2019-06-04 02:22] odeng888 opened #78674 "kubernetes create CNI network errror?"
Jun 04 10:21:21 dev-node2 kubelet[11347]: W0604 10:21:21.292396   11347 cni.go:309] CNI failed to retrieve network namespace path: cannot find network namespace for the terminated container "534b6e9c4a60ac1d82d13236c0d2e5695095251e7ba154ffeafbbc3cbf1dcd67"
Jun 04 10:21:21 dev-node2 kubelet[11347]: time="2019-06-04T10:21:21+08:00" level=info msg="Extracted identifiers" Node=dev-node2 Orchestrator=k

[2019-06-04 02:30] wupaopao commented on #78579
/remove-triage unresolved

[2019-06-04 02:34] wupaopao commented on #78579
@kubernetes/sig-storage-bugs

[2019-06-04 02:34] #68224 closed

[2019-06-04 02:35] #61007 closed

[2019-06-04 02:38] msau42 commented on #78579
sig storage does not handle etcd
/remove-sig storage

@kubernetes/sig-api-machinery-bugs

[2019-06-04 03:40] hainesc commented on #78480
@White-Duke, Please run `kubectl describe <failed_pod> -n <namespace_of_failed_pod>` and post the events of this pod.

[2019-06-04 04:16] yue9944882 commented on #78607
it's the buggy SMP again, server-side apply is addressing its limitations.

[2019-06-04 04:21] antoineco commented on #78669
That's because the `M` and `Mi` notations are **not using the same system of unit** in Kubernetes.

`1M` = 10^6 (Decimal)
`1Mi` = 2^20 (Binary)

Units of storage are usually (if not always) expressed using the Binary SI, so in Kubernetes you can unfortunately not drop the "i".

https://en.m.wikipedia.org/wiki/Binary_prefix

/area documentation

[2019-06-04 04:40] thockin commented on #37218
Let's assume for a minute that we had nothing more significantly on fire
than this (which is NOT the case, but let's pretend)...

First, keep in mind that we have to do this 2 times - liveness and
readiness.  No, wait 3 times, because we just added startup probes.

First convert the internal field to a plural and write the conversion from
external to internal, update all the tests, validation, etc

[2019-06-04 05:35] ddebroy commented on #78577
@DavidSimner what happens if you try to invoke the binary (curl.exe) from a network share exposed to all users in the network (i.e. no GMSA involved)? Does that work in your environment?

[2019-06-04 05:36] adisky commented on #77969
@chrischdi If it is fixed on kubelet side, and the problem only persist on cinder csi driver side, please close this issue and open here https://github.com/kubernetes/cloud-provider-openstack

[2019-06-04 05:52] fudali113 opened #78677 "support all namespace to clusterRoleBings `subjects.namesapce` when kind is ServiceAccount"
**What would you like to be added**:
if `subjects.namespace == ${all-namesapces symbol}` , this subject can match all namespace serviceAccount;

https://github.com/kubernetes/kubernetes/blob/9f85c5c4b56940f88cb854615efad4e9f0c66f20/pkg/registry/rbac/validation/rule.go#L290

https://github.com/kubernetes/apiserver/blob/268a6b65e7a9f82fdeb36723d74a53d5f3c5042a/pkg/authentication/serviceaccount/util.

[2019-06-04 05:57] fudali113 commented on #78677
my case is:

i need through k8s service CRD to implement service discovery, so i need add some role (can access get pod, service, endpoints) to all namespaces default (or some) serviceAccount.

now, we add a namespace, need add a clusterRoleBind with this namespace, this is not easy and if i forget add bind will make error on my application。

[2019-06-04 05:57] fudali113 commented on #78677
/sig rbac

[2019-06-04 06:01] wu0407 opened #78678 "progressDeadlineseconds not respected by the scale the deployment on container Image not exist"
**What happened**:
create deployment which the replica is  0,  and scale up the deployment.
if the image is not found in registry, the deployment not fail, stuck in "Waiting for deployment
 rollout to finish".
**What you expected to happen**:
the deployment respect the progressDeadlineseconds and  rollout status is "deployment exceeded its progress deadline"
**How to reproduce it (as minimally and

[2019-06-04 06:06] matthyx opened #78679 "Alternatives to GCR hosted images for building/testing k8s"
**What would you like to be added**:
An alternative way of getting docker images required for building and testing k/k.

**Why is this needed**:
Some companies we work in (for example mine!) do not allow accessing GCR registries through the corporate firewall. In order to develop and test I need use my phone as a hotspot to download required images locally...

**Possible solutions**:
- override im

[2019-06-04 06:07] matthyx commented on #78679
/sig release

[2019-06-04 06:10] matthyx commented on #78679
Discussed during Kubecon Europe with @BenTheElder and @fejta

[2019-06-04 06:28] DanyC97 commented on #62720
@nevola a while back https://github.com/kubernetes/kubernetes/issues/62720#issuecomment-401923706 it was suggested a doc to be written, was that done and if so can you please share it ? thx

[2019-06-04 06:39] yuxiangqian commented on #78651
apologies for the late reply. fix PR is in for review

[2019-06-04 06:45] desmatz commented on #41881
There is an annotation for ingress object:
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#server-alias
[code]
So ingress object will be:
[code]
And server name in the nginx.conf will be
[code]

[2019-06-04 06:50] deitch commented on #41881
@desmatz that works well for nginx, but it is a specific implementation, not API standard, and thus won't work with other `IngressController`s

[2019-06-04 06:51] deitch commented on #41881
@thockin wrote:

Is there information about it?

[2019-06-04 06:55] yue9944882 commented on #78579
those errors from `available_controller` are not suppose to fail the requests for deployments/pods. can you paste the error response returned from kube-apiserver?

[2019-06-04 07:07] fudali113 commented on #78644
ok, i got it;

but i think this knowledge need write on [job document](https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#handling-pod-and-container-failures), let user can fast get it when them meet with this question;

such as:
`if your job have some error but you restartPolicy is not `Never`, so your job created pods will be deleted`

What do you think? @Joseph-Ir

[2019-06-04 07:12] liucimin commented on #78674
Maybe u should open a issue in calico not in k8s.

[2019-06-04 07:20] skandabhatt commented on #71130
/remove-lifecycle rotten

What's the solution for this issue ?.

[2019-06-04 07:21] skandabhatt commented on #71130
/remove-lifecycle stale

[2019-06-04 07:22] ahadas commented on #73954
ping

[2019-06-04 07:22] ahadas commented on #74471
ping

[2019-06-04 07:22] ahadas commented on #74472
ping

[2019-06-04 07:25] KesavanKing opened #78682 "Unable to deploy statefulsets beyond 14000 in a 250 node cluster"
**What happened**: I am deploying a workloads which are of statefulsets without any volumes attached. When it goes beyond 14000 statefulsets, the replicas remain 0.
 We are sure that node has enough capacity to accomodate pods. And all operations on statefulsets such as scale replicas, get the statefulsets taking longer time.

**What you expected to happen**: Since node has  enough resource capaci

[2019-06-04 07:26] KesavanKing commented on #78682
/sig-scalability

[2019-06-04 07:27] KesavanKing commented on #78682
/sig scalability

[2019-06-04 07:29] oke-py commented on #71908
Thank you @taegyunum and @pires. Sorry for late reply.
I've tried it for v1.14.2, and it works fine.

[2019-06-04 07:29] #71908 closed

[2019-06-04 07:38] mariantalla commented on #20352
/assign

[2019-06-04 07:42] gaorong commented on #78633
@neolit123  first upgrading master component: apiserver, scheduler, controller-manager, (then this issue occurs),  last upgrading add-ons, kubelet, kube-proxy

[2019-06-04 07:49] chrischdi commented on #77969
:+1 thank you @adisky

[2019-06-04 07:50] #77969 closed

[2019-06-04 07:51] ysyh15 opened #78683 "how can i create a daemonset on the k8s master"
any one can help me? thx a lot

[2019-06-04 07:56] Joseph-Irving commented on #78678
/sig apps

[2019-06-04 08:10] gaorong commented on #78633
Agree to what @liggitt said, As a  complete fix, we need to change the logic of "hash or deepequal compare parent objects" to avoid unnecessary restarts of the DaesmonSet pod.

On the other hand, As the controller cannot handle this case for now, could we revert some parts of  https://github.com/kubernetes/kubernetes/pull/72213/files#r243086103 to avoid other people get into this problem?

[2019-06-04 08:40] #72414 closed

[2019-06-04 08:43] MortenRickiRasmussen commented on #65835
/remove-lifecycle rotten

[2019-06-04 08:45] #78683 closed

[2019-06-04 08:49] wupaopao commented on #78579
kube-controller-manager errors:
`Jun 04 16:45:06 CLAM400351 kube-controller-manager[22639]: E0604 16:45:06.076859   22639 node_lifecycle_controller.go:889] Error updating node 100.71.192.161: Operation cannot be fulfilled on nodes "100.71.192.161": the object has been modified; please apply your changes to the latest version and try again
Jun 04 16:45:06 CLAM400351 kube-controller-manager[22639]:

[2019-06-04 08:56] davidwhthomas commented on #62594
As mentioned in https://github.com/kubernetes/kubernetes/issues/62594#issuecomment-420685737 we found this issue was caused by:

1. Insufficient CPU/RAM resource allocation for quick container startup (took a long time to start)
2. Insufficient `initialDelaySeconds` for the probe.

After increasing the resource allocation, the container started more quickly which allowed reducing the `initialDelay

[2019-06-04 09:09] Morriz opened #78684 "gcr.io/fluentd-elasticsearch/fluentd not pullable"
I don't know where to report this, but this endpoint is either nuked or behind auth suddenly:
[code]
I also did a `docker login gcr.io` which was succesfull but made no difference.

[2019-06-04 09:10] Aisuko commented on #30427
Is there any updates?

[2019-06-04 09:13] lovingcodesk opened #78685 "kube-proxy with mode iptables can not work correctly, when deployment repleaces is 2"
- kube-proxy with mode iptables can not lead traffic to each pod randomly, when deployment repleaces is 2

- I have made some tests that request 1000 times one by one, when deployment repleaces is 2,but only the first pod get the all requests, the second pod can not get any request,
this is my serivce yml template:
[code]

- I don't know whether it is a bug ,or anyone can tell me why ?
- I found k

[2019-06-04 09:17] Morriz commented on #78684
@kubernetes/sig-testing-test-failures

[2019-06-04 09:32] tuananh170489 opened #78686 "Grant admin user privileges in secure port mode kube-apiserver"
I've disabled insecure port in kube-apiserver. After that, I initial admin user for k8s cluster using command
`kubectl config set-cluster $CLUSTER_NAME --certificate-authority=/etc/kubernetes/pki/ca.pem --embed-certs=true --server=https://X.X.X.X:6443 --kubeconfig=/etc/kubernetes/config/admin.kubeconfig`
Then, create RBAC for admin user privileges
`kubectl create clusterrolebinding root-cluster-ad

[2019-06-04 09:35] Mentality-is-better commented on #78149
@hoyho   thank you

[2019-06-04 09:37] cnbailian commented on #77174
@msau42 Disable RuntimeClass feature gate works for me.

And release-1.14 no longer has this problem. 👍

[2019-06-04 09:42] Himani-relan commented on #78645
I am facing the same issue in kubeapi-server container logs.
Executing kubectl commands gives the below error:
The connection to the server localhost:8080 was refused - did you specify the right host or port?

Could someone please tell the root cause ?

[2019-06-04 09:49] a8j8i8t8 commented on #78684
Yes, I'm also facing this issue.

[2019-06-04 10:01] bmwiedemann commented on #70131
@dims, on 1.14.1 I applied 78544 and got another diff in man pages:

[code]

I also exported `GOTMPDIR` to a constant path, but something random (`go-build$NUM`) is appended to it during build.
[code]

[2019-06-04 10:07] nevola commented on #62720
Hi @DanyC97 , it wasn't arranged but I'll be available to follow-up with the requirements.

[2019-06-04 10:25] nzoueidi commented on #24057
/remove-lifecycle rotten

Do we still want to have this? If so, I might tackle some points from the above :)

[2019-06-04 10:36] Morriz commented on #78684
Is that repo maintained by google? Probably not. Otherwise I would expect it be found under `gcr.io/google-containers/fluentd-elasticsearch`, which has it's latest version at v2.4.0 as opposed to the version mentioned in the plugin (v2.5.2). Maybe that is an old repo and the new one is now down...

[2019-06-04 10:38] TheKangaroo commented on #78427
It's the pdb for a redis cluster rendered from here (https://github.com/helm/charts/tree/master/stable/redis-ha) but I'm not quiet sure if it is from latest version of the helm chart. Anyways this is the spec of the PDB:
[code]

[2019-06-04 10:39] pires commented on #71908
Oh, interesting.

[2019-06-04 10:42] #72502 closed

[2019-06-04 10:44] mikedanese commented on #75017
We should greatly increase the podgc controller threshold or just remove it now that we have BackoffLimit and the API server/etcd has had significant work done.

https://github.com/kubernetes/kubernetes/blob/9f85c5c4b56940f88cb854615efad4e9f0c66f20/staging/src/k8s.io/api/batch/v1/types.go#L88

cc @caesarxuchao @lavalamp

[2019-06-04 10:56] SaadBinShahid commented on #78433
Duplicated this issue in https://github.com/kubernetes/ingress-gce @ https://github.com/kubernetes/ingress-gce/issues/765

[2019-06-04 11:07] Joseph-Irving commented on #78427
Thanks, I think I follow, so when you have no pods that match the PDB you're seeing something like:
[code]
This is expected behaviour, Desired = Current - MaxUnavailable, e.g if you have 5 pods the desired is 3 as you can tolerate 2 being unavailable. If you have 0 pods then Desired = 0 - 2, which equals -2 but you can't have a negative so it's 0.

If you were using MinAvailable instead of MaxUnav

[2019-06-04 11:34] draveness commented on #77359
/close

[2019-06-04 11:35] #77359 closed

[2019-06-04 12:19] oxddr commented on #76760
/close

[2019-06-04 12:19] #76760 closed

[2019-06-04 12:43] draveness opened #78689 "loop iterator variable might cause potential concurrency problem"
**What happened**:

I was reviewing https://github.com/kubernetes/kubernetes/pull/78563/files which tried to remove the `test := test` statement in tests which seems redundant but appears to be not:

[code]

The `test` variable is a single variable that takes on the value of each map value element. Remove the `test := test` statement led to the failing of [bazel-test](https://prow.k8s.io/view/gcs/

[2019-06-04 12:45] draveness commented on #78689
/sig architecture

[2019-06-04 12:53] mleklund commented on #78669
I am fully aware of the math differences.  And let's be honest when was the last time anyone came and asked for a 1 Tebibyte drive, no they ask you for a 1 Terabyte drive, they may wish for or want a Tebibyte, but it is not what they ask for.  Every drive manufacturer typically markets in Terabyte not Tebibytes as to most storage vendors.

All that aside, If this is a change that has been made in

[2019-06-04 13:13] nikopen opened #78693 "have a saner default value of --terminated-pod-gc-threshold"
controller-manager 's config flag `--terminated-pod-gc-threshold ` currently has a default value of `12500` - that's quite a lot!

/sig apps
/kind bug

[2019-06-04 13:19] liggitt commented on #78633
no, that cannot be reverted

[2019-06-04 13:31] msau42 commented on #77174
Thanks! closing this then
/close

[2019-06-04 13:42] antoineco commented on #78669
Thanks for clarifying :+1:  I did not initially understand the problem correctly, that's why my answer was off.

Any interesting log prefixed with `pv_controller.go` in your `kube-controller-manager`'s logs?

[2019-06-04 13:48] pohly commented on #70668
/remove-lifecycle rotten

[2019-06-04 14:16] SleepyBrett opened #78694 "Crio 1.14.1/2 (and other versions) cause kubelet to stack up rss memory and goroutines until system oom"
**What happened**:

cross posted: https://github.com/cri-o/cri-o/issues/2445

We run a mixed cluster of CRI-O and Docker nodes for testing and we've been seeing Kubelets go into runaway memory and goroutine usage on crio nodes only.

![image](https://user-images.githubusercontent.com/279521/58884238-d9de0a00-8694-11e9-9748-69a3019b5f33.png)

![image](https://user-images.githubusercontent.com/27952

[2019-06-04 14:17] dims commented on #70131
@bmwiedemann can you please try #78695 for the kubeadm config print problem?

[2019-06-04 14:17] SleepyBrett commented on #78694
/sig node
/sig instrumentation

?

[2019-06-04 14:19] dims commented on #70131
@bmwiedemann how exactly do you build the e2e.test?

[2019-06-04 14:36] dims commented on #78689
/sig testing
/remove-sig architecture

[2019-06-04 14:42] dims commented on #17324
@thockin @bgrant0607 do we want to do something here?

[2019-06-04 14:43] dims commented on #18610
@freehan looks like you assigned this to yourself, what's the plan?

[2019-06-04 14:45] dims commented on #48209
@pwittrock can you please reopen if needed?

/close

[2019-06-04 14:45] #48209 closed

[2019-06-04 14:46] dims commented on #68357
@k82cn Klaus, with the stuff already in kube-batch and the new volcano project, do we really need to keep this issue open?

[2019-06-04 14:55] alejandrox1 commented on #76899
xref: https://github.com/kubernetes/test-infra/pull/12835
/close

[2019-06-04 14:55] #76899 closed

[2019-06-04 15:04] TopherGopher commented on #67250
@enisoc I'm going to try taking a whack at this

[2019-06-04 15:09] tuananh170489 commented on #78686
/sig proposals

[2019-06-04 15:14] Joseph-Irving commented on #78678
`progressDeadlineSeconds` is only respected when you're doing a deployment rollout, scaling a replicaset does not count as rollout, it's only when you create a new replicaset by changing something like the pod spec that a rollout occurs.
So as far as I can tell it's expected behaviour for rollout status to not be honoured when scaling the replicaset.

The fact it appears to be honoured when going

[2019-06-04 15:34] onyiny-ang opened #78698 "1.15 Release Notes: "Known Issues""
This issue is a bucket placeholder for collaborating on the "Known Issues" additions for the 1.15 Release Notes. If you know of issues or API changes that are going out in 1.15, please comment here so that we can coordinate incorporating information about these changes in the Release Notes.

/assign @jeefy @saschagrunert @alokpatra

/sig release
/milestone v1.15

[2019-06-04 15:44] johnSchnake opened #78699 "Errors getting pid in conformance image script"
**What happened**:
Ran the conformance image via Sonobuoy with the E2E_DRYRUN option set.
Results for the plugin were missing from the resulting tarball and the logs showed:
[code]

**What you expected to happen**:
No error, the plugin runs normally and reports results.

**How to reproduce it (as minimally and precisely as possible)**:
Not 100%, but it has been reported and I've seen the tarball.

[2019-06-04 15:44] johnSchnake commented on #78699
/sig testing

[2019-06-04 15:49] johnSchnake commented on #78599
So my advanced use case for this is setting the `afterSuiteHook` flag which provides an arbitrary command to ginkgo to execute after the suite finishes.

The problem I think boils down to bash and the complications of it getting in the way and trying to interpret everything/escape things as it sees fit. I've found it impossible to set a reasonable command `echo foo` in a way through the env vars t

[2019-06-04 15:49] rmorrise commented on #78664
How can I set the cache location without specify a command-line argument on every single command?

[2019-06-04 15:51] rmorrise commented on #78664
Feature request - please set up a single environment variable to govern `.kube` location. Don't make me set two or more environment variables and/or command line options when I need to change the .kube path.

[2019-06-04 16:06] mleklund commented on #78669
Not that I saw, though I will go back and review.

[2019-06-04 16:17] jiatongw commented on #78549
Thanks. iI'll take a look

[2019-06-04 16:42] dineshgovindasamy commented on #76666
@pjh  can we please close this issue and open a new issue to track this different issue?
ProcessExplorer or handle.exe(sysinternals) would be the first step to find out who is holding the handle and we can from there.

[2019-06-04 16:42] fejta-bot opened #78701 "pr:pull-kubernetes-kubemark-e2e-gce-big flaked 52 times in the past week"
### Flaky Job: pr:pull-kubernetes-kubemark-e2e-gce-big
 Flakes in the past week: **52**
 Consistency: **91.10%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| ClusterLoaderV2 | 44 |
| Timeout | 14 |
| testing/density/config.yaml | 9 |

#### Previously closed issues for this job flaking:
#65466 #62267 #73105

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/f

[2019-06-04 16:45] jmhodges commented on #31792
I think this is still relevant. The resource docs still don't say how to ask for storage. There's something marked "[future]" which I believe is not how it works today.

[2019-06-04 16:59] dineshgovindasamy commented on #78574
@madhanrm @nagiesek Can you take a look?

[2019-06-04 17:29] cblecker opened #78702 "[umbrella issue] bash in kubernetes"
So Apple is deprecating bash as their default shell in their upcoming macOS 10.16, and moving to zsh. We have had many problems supporting multiple bash versions, and I think might be the right cue to move away from bashisms and onto either python or go code.

We had a lengthy discussion in Slack about this, and the rough draft plan is:
- Establish firm ownership of `hack/` and `build/` (it's fuzz

[2019-06-04 17:33] pjh commented on #76666
Yes, sorry for the delay, I haven't had a chance to investigate further. I'll create the new issue and then close this one.

[2019-06-04 17:33] cblecker commented on #78702
Slack discussion: https://kubernetes.slack.com/archives/C09QZ4DQB/p1559666693008200

[2019-06-04 17:35] BenTheElder commented on #78702
[adding a note that we've also recently had a bunch of issues with bash version compatibility issues on linux, on really commonly installed versions]

For a lot of this tooling, if we do this, we should really consider wholly new tooling. E.G. we have a lot of complexity in the build attempting to "cache" that predates go 1.10, or the rsync stuff which is a bit less necessary now.

[2019-06-04 17:36] pjh commented on #74992
/remove-lifecycle stale

[2019-06-04 17:40] liggitt commented on #78343
these don't:
* APIService
* AuditSink
* CertificateSigningRequest
* ClusterRole
* ClusterRoleBinding
* ConfigMap
* ControllerRevision
* CronJob
* CustomResourceDefinition (and custom resources)
* DaemonSet
* Deployment
* Endpoint
* Event
* HorizontalPodAutoscaler
* Ingress
* Job
* Lease
* LimitRange
* MutatingWebhookConfiguration
* NetworkPolicy
* Node
* PodDisruptionBudget
* PodPreset
* PriorityC

[2019-06-04 17:49] grosser commented on #78343
oh boy, did not expect it to be that complicated :(

[2019-06-04 17:49] #78343 closed

[2019-06-04 17:53] #78651 closed

[2019-06-04 18:07] thockin commented on #78702
The rsync stuff is because MacOS performance is terrible for docker volumes.  I would love to drop it, but last I looked we just couldn't.

I don't disagree that bash may be at the end of it's runway, but I question python as an alternative.

[2019-06-04 18:14] davidz627 commented on #75012
@andyzhangx I remember you solved this with a PR already, could you link it here and close the issue? Thanks!

[2019-06-04 18:20] BenTheElder commented on #78702
The performance got better over time, and with a few tweaks we can drastically reduce the I/O required anyhow. If we can actually leverage go's cache with modules enabled we can also cache the modules within a docker volume instead of bind mounting vendor and aggressively cache most of the build.

[This](https://github.com/kubernetes-sigs/kind/blob/e8513836ae23b59c660e290043380e193f10d07e/Makefile

[2019-06-04 18:22] sambdavidson commented on #77489
Great these logs are helpful! Sorry for the late reply.

So a few observations that might mean we need to dig up additional logs.

It is a little confusing because it appears that you already have a valid certificate(s) that won't rotate for `67434h3m21.14907159s` and `74639h19m44.161551335s`. There are no additional logs about a rotation attempt within that pasted section of logs.

The error you

[2019-06-04 18:22] nutellinoit commented on #78684
Same problem here

[2019-06-04 18:24] fudali113 commented on #78677
/sig auth

[2019-06-04 18:54] liggitt commented on #78686
see the bootstrapping section of https://kubernetes.io/docs/reference/access-authn-authz/rbac/#privilege-escalation-prevention-and-bootstrapping, which describes the methods for getting an initial credential with API permissions

/close

[2019-06-04 18:54] #78686 closed

[2019-06-04 18:55] jpbetz commented on #78663
Investigating now. So far I haven't found a problem in the test code, so I'm investigating the reinvocation logic to see if this is a problem in admission control reinvocation.

[2019-06-04 19:22] vllry commented on #78685
/assign @vllry

@lovingcodesk could you share your service spec, and your kube-proxy config?

[2019-06-04 19:22] vllry commented on #78421
/remove-triage unresolved

[2019-06-04 19:46] liggitt opened #78706 "Some CRDs that duplicate built-in group/version/kinds show up in openapi"
**What happened**:
Created a CRD with a group/version/kind that defines a CustomResourceDefinition type overlapping with the in-tree kubernetes type (**WARNING**: do not create this CRD on a cluster you care about, see https://github.com/kubernetes/kubernetes/issues/78707)

[code]

Note that two definitions for the group/version/kind appear in openapi:

[code]

[code]

[code]

Because both specify

[2019-06-04 19:57] liggitt opened #78707 "Some CRDs that duplicate built-in group/version/kinds reap built-in etcd data on deletion"
**What happened**:

Created a CRD:
[code]

Created another CRD defining an overlapping type with CustomResourceDefinition:
[code]

Verify both exist:
[code]

Deleted the one overlapping with the in-tree CRD type:
[code]

Verify only the overlapping CRD remains:
[code]
and is stuck deleting:
[code]

**What you expected to happen**:

Creation and deletion of the overlapping type CRD would have no ef

[2019-06-04 19:59] jpbetz commented on #78663
I've reproduced and gotten the test to pass consistently. There are two problems (1) there is an error in WebhookAccessor.getUID() where the call returns name, not uid. (2) registering webhooks does not take effect immediately, which causes TestWebhookReinvocationPolicy to flake. Will send out a fix shortly.

[2019-06-04 20:09] liggitt commented on #58682
closing this issue. GA features are covered by https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20180415-crds-to-ga.md and work in progress is tracked/categorized in https://github.com/orgs/kubernetes/projects/28

[2019-06-04 20:09] #58682 closed

[2019-06-04 20:11] liggitt commented on #65973
/assign @sttts @apelisse

[2019-06-04 20:16] jberkus commented on #78702
Just a note that Python is not installed on Windows by default.  So this would make installing python a requirement for Kubernetes Windows users.

/cc @kubernetes/sig-windows-misc

[2019-06-04 20:27] liggitt commented on #62323
only `CRD validation resource immutable` (#65973) remains, closing this umbrella issue in favor of that single issue, which is also tracked in https://github.com/orgs/kubernetes/projects/28

[2019-06-04 20:27] #62323 closed

[2019-06-04 20:40] caesarxuchao commented on #78525
@liggitt do you have time looking into this issue? Yu is OOO and I'm swamped with other things. I probably won't have time for this issue until next Monday.

[2019-06-04 20:46] liggitt commented on #78525
I'm looking into it

[2019-06-04 20:46] liggitt commented on #78525
Found this, which corresponds to the four incorrectly deleted pods:
[code]

[2019-06-04 20:52] apelisse commented on #65973
I'm working on a KEP right now. It will make it impossible to change immutable fields after creation. Will update this issue when the KEP is sent out.

[2019-06-04 21:02] liggitt commented on #78525
Good case (all three pods are processed before the rc attemptToOrphan is processed):
[code]

Bad case (only one pod is processed before the rc attemptToOrphan is processed):
[code]

as a result, the other two pods don't get orphaned, then later get deleted because they reference a non-existent parent.

A race between creating children and deleting parents with orphan:true is inherent, but the test

[2019-06-04 21:03] liggitt commented on #78525
found it. collection1 deletes with nil deleteoptions, exercising the default deletion policy for RC, but setupRCsPods computes whether it should wait for child pods incorrectly:

[code]

[2019-06-04 21:03] cblecker commented on #78702
Contributors, not users. This is focused on the development and build systems. We already have some python in the repo, so a `make verify` will fail in any environment that lacks python.

[2019-06-04 21:26] liggitt commented on #78525
fix is in https://github.com/kubernetes/kubernetes/pull/78537

[2019-06-04 21:33] #78517 closed

[2019-06-04 21:35] stevekuznetsov commented on #78702
POSIX is a fairly onerous and difficult standard to adhere to. Why?

[2019-06-04 21:43] PatrickLang commented on #68375
This would need networking functionality from WS2019 backported to WS2016 container images from Microsoft. There's no plan to do that. That means we can't fix this.

/close

[2019-06-04 21:44] #68375 closed

[2019-06-04 21:44] PatrickLang commented on #68374
This would need networking functionality from WS2019 backported to WS2016 container images from Microsoft. There's no plan to do that. That means we can't fix this.

/close

[2019-06-04 21:44] #68374 closed

[2019-06-04 21:46] liggitt commented on #71052
fixed by https://github.com/kubernetes/kubernetes/pull/78029

[2019-06-04 21:46] #71052 closed

[2019-06-04 21:48] mccv1r0 commented on #78480
Hi @White-Duke  Are you using flannel?  If not what CNI plugin is being used?

[2019-06-04 21:53] #65249 closed

[2019-06-04 22:07] liggitt commented on #72493
the status strategy stomps whatever comes from the incoming object with the objectmeta and non-status fields here:
https://github.com/kubernetes/kubernetes/blob/3cd41a5a0bc4bbdf156bf925316713a1c41d634a/staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/status_strategy.go#L35-L54

it then validates the resulting object here:
https://github.com/kubernetes/kubernetes/blob/3cd41a5a

[2019-06-04 22:49] PatrickLang commented on #74674
/milestone clear
Definitely not in 1.15 since it's past code freeze

[2019-06-04 23:00] TheKevJames commented on #68400
I guess I'm just supposed to keep un-stale-ing this until a @kubernetes/sig-cli-bugs member takes a look?
/remove-lifecycle stale

[2019-06-04 23:02] Random-Liu commented on #78694
Can you find a bad node, send SIGABRT to kubelet, check kubelet log and paste the stacktrace here?

In that way, we can tell whether there is goroutine leakage in Kubelet.

[2019-06-04 23:18] BenTheElder commented on #78702
Also note that _none_ of our builds work on default installs. They require some mixture of docker, bash, make, go, bazel, etc. I don't think Docker is installed by default on most operating systems...

I also don't think there's been any real effort to _build_ from Windows, but we build _to_ Windows from Linux in CI. This shouldn't affect users.

[2019-06-04 23:20] BenTheElder commented on #78702
It's not particularly onerous for _small_ scripts. Anything not small probably shouldn't be in shell.

[2019-06-04 23:29] neolit123 commented on #78534
https://github.com/kubernetes/kubernetes/tree/f14b128ea6429a34b83578d4c2a69a99296a8d31/pkg/util/initsystem

is currently a bit of a problem. it's being used *only* by kubeadm, TMK.
https://cs.k8s.io/?q=pkg%2Futil%2Finitsystem&i=nope&files=&repos=

this either has to move to staging or back to the kubeadm package.
my vote is to move it back to kubeadm.

[2019-06-04 23:35] liggitt commented on #78534
Agreed

[2019-06-04 23:35] stevekuznetsov commented on #78702
Right by why disallow `[[` and all the niceties of it and force everyone to use the POSIX-compliant `[` or `test`? The latter have gotchas that make using them tricky.

[2019-06-04 23:47] #78628 closed

[2019-06-04 23:55] mariusgrigoriu opened #78712 "HPA scales up with no reason / blank reason"
**What happened**:
HPA scales up a deployment without a reason.

[code]

**What you expected to happen**:
There should always be a reason for a scale up or scale down.

**How to reproduce it (as minimally and precisely as possible)**:
Not exactly sure. But we did notice this behavior during a rolling update.

Here's what the deployment strategy looks like:
[code]

And the hpa:
[code]

**Anything e

[2019-06-05 00:09] mariusgrigoriu commented on #72775
+1

We have seen something on the order of 2x the pods --exceeding the HPA max-- maybe more during rolling updates with a surge of only 25%. At our scale that's anywhere from 250 to 1000+ pods.

[2019-06-05 00:29] willthames commented on #67577
With `--feature-gates=CustomCPUCFSQuotaPeriod=true --cpu-cfs-quota-period=10ms` one of my pods really struggled to start up. In the attached prometheus graph you can see a heavily throttled container until I removed the cpu-cfs-quota-period from the kubelet args, at which point the throttling is a lot flatter

<img width="1402" alt="Screen Shot 2019-06-05 at 10 23 13 am" src="https://user-images.g

[2019-06-05 00:31] mariusgrigoriu commented on #78712
@kubernetes/sig-autoscaling-bugs

[2019-06-05 01:00] drakedevel commented on #60134
I think this is due to Amazon Linux 2 shipping an old version of GnuPG, and something about the `repomd.xml.asc` signature requires a newer version.

`repomd.xml` is signed with key ID `6A030B21BA07F4FB`, one of two keys present in https://packages.cloud.google.com/yum/doc/yum-key.gpg . This can be used to verify the signature as follows:

[code]

The story is different on Amazon Linux 2, unfortun

[2019-06-05 01:05] zhonglin6666 commented on #75342
isMultiAttachForbidden return true When setting pv with accessMode value 'ReadWriteOnce'，
node1 attach and not detach when node1 down，more than one node attach volume，it will produce errors:
  attachdetach-controller  Multi-Attach error for volume "pvc-d0fde86c-8661-11e9-b873-0800271c9f15" Volume is already used by pod

[code]

[code]

[2019-06-05 01:06] liggitt commented on #72493
The error (`Invalid value: "mygroup.example.com/v1beta1": must be mygroup.example.com/v1`) seems to match that.

[2019-06-05 01:31] liggitt commented on #72493
Found a consistent reproducer:

1. Create a CRD with two versions and a status subresource (this also gives write permission anonymously so curl works easily):
[code]

2. Set up two loops, each patching the status subresource as fast as they can, each on a different version

tab 1:
[code]

tab 2:
[code]

very quickly, this is triggered from one of the tabs, complaining about the opposite version:

[2019-06-05 01:31] liggitt commented on #72493
raising priority since this is a real bug, not just a test flake

[2019-06-05 01:39] draveness commented on #67250
This issue is similar to #78007

[2019-06-05 01:45] #78663 closed

[2019-06-05 01:46] roycaihw commented on #72493
looking now

[2019-06-05 01:55] KevinTHU commented on #74374
I think this need to be fixed, but not just workaround. a second delete of pod is not a graceful operation.

[2019-06-05 01:57] #52683 closed

[2019-06-05 01:58] tuananh170489 commented on #78686
thank you so much!

[2019-06-05 02:04] liggitt commented on #72493
disabling the watch cache (starting the apiserver with --watch-cache=false) makes it fail 100% of the time on the non-storage version

[2019-06-05 02:05] liggitt commented on #72493
that means that the non-cache storage is not converting the old object into the correct in-memory version for the handler

[2019-06-05 02:07] liggitt commented on #72493
figured it out... statusREST is not setting the expected kind in the New() func, so conversion doesn't know a different in-memory version is expected.

[2019-06-05 02:15] msau42 commented on #74374
I would be happy to help guide someone to come up with a possible design and implementation for a fix.

/help

[2019-06-05 02:26] liggitt commented on #72493
it looks like StatusREST#Get also needs the same fix as the main REST handler for shallow copying object meta

[2019-06-05 02:30] andyzhangx commented on #75012
windows error code check is here: https://github.com/kubernetes/kubernetes/blob/0d1007f84b2cf37ab1c81cfa2e2571c511264403/pkg/util/mount/mount_helper_windows.go#L60
/close

[2019-06-05 02:30] #75012 closed

[2019-06-05 02:36] adgang commented on #41881
I agree. But some regex in DNS is also lowest common API. It would be horrible to support stuff like
abc-*.foo.com. But host names like *.foo.com and supporting domain prefixes seem to be reasonable features.

https://www.ietf.org/rfc/rfc4592.txt

[2019-06-05 03:01] andyzhangx commented on #78660
/assign

[2019-06-05 03:02] andyzhangx commented on #78657
/assign

[2019-06-05 03:07] liggitt commented on #72493
even with those fixed, the oldObject being sent to Update methods is not being converted. updated the conversion integration test to trigger this and to run a set of tests with the watch cache disable to ensure we function correctly. still digging into why the conversion isn't doing what we expect

[2019-06-05 03:14] SleepyBrett commented on #78694
Can do. The second image, btw, show go routines stacking up.

[2019-06-05 03:29] naseemkullah commented on #78684
At the time of writing this the repo is public again but the most recent tag seems to be `v2.4.0`

[2019-06-05 05:31] hainesc commented on #78682
Maybe you have run out 110 pods limit per node. Can you check that?

[2019-06-05 05:36] liggitt commented on #72493
found the root cause... the etcd store code that creates the new object to decode into was not propagating the desired hub group version kind:

https://github.com/kubernetes/kubernetes/blob/714fcd910fb7abf8647a6f67bfb15eeed10854a1/staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go#L687-L690

That meant that when reading from etcd, the "old object" was always kept in whatever version it was re

[2019-06-05 05:40] KesavanKing commented on #78682
I increased the pod limit to 400 . I am able to create deployments.

[2019-06-05 05:47] hainesc commented on #78646
It is a matter of yaml, not kubernetes. BTW, what's wrong if there must be `"` or `'` ?

[2019-06-05 06:14] White-Duke commented on #78480
Yes , I am using flannel

[2019-06-05 07:26] #78525 closed

[2019-06-05 07:38] hjacobs commented on #67577
FYI: current Twitter thread about the topic of disabling CPU throttling: https://twitter.com/it_supertramp/status/1133648291332263936

[2019-06-05 07:54] mariojacobo commented on #70324
+1 we hit this issue the other day. do we know what's the trigger for this issue ? having just 8192 inotify watches  (Kubernetes 1.12.5 on Azure AKS Ubuntu 16.04) seems extremely low. The only viable option here is the DaemonSet as per @jeff1985 , although it would help to understand what exaclty is eating up the watches.

[2019-06-05 07:56] bavarianbidi commented on #73688
/remove-lifecycle rotten

[2019-06-05 08:01] brancz commented on #69676
/remove-lifecycle rotten

I still think this should be more properly addressed.

[2019-06-05 08:05] monotek commented on #78684
@piosz  & @coffeepac

seems the repo permissions were changed to private?

[2019-06-05 08:16] franckgr commented on #70458
/reopen

[2019-06-05 08:31] monotek commented on #78684
For the time being I've build the image again and pushed it to
monotek/fluentd-elasticsearch:27

[2019-06-05 08:49] wu0407 commented on #78678
I intend to  pause deployment in rolling up, current not solution to do it, so we do it with manually scale up

[2019-06-05 09:00] Pigmalion commented on #78684
Hi, I am using helm installation, and imagepullbackoff is my issue now as well .
How can I overcome this with the backup image?
Thanks

[2019-06-05 09:04] #72509 closed

[2019-06-05 09:06] monotek commented on #78684
just add the image & tag to the values file: https://github.com/kiwigrid/helm-charts/blob/master/charts/fluentd-elasticsearch/values.yaml#L2-L6

[code]

[2019-06-05 09:08] bavarianbidi commented on #73688
/remove-lifecycle stale

[2019-06-05 09:18] ping035627 opened #78721 "Job completions can't work"
**What happened**:
When I used job completions, I found that it had been creating pods all the time.
I checked the code and found that the number of successful pods in job was calculated according to the current number of pods, but in fact the completed pods would be deleted by podgc. Therefore, the number of completed pods calculated in job was incorrect.
If I understand correctly, I can fix the

[2019-06-05 09:21] ping035627 commented on #78721
/area controller-manager

[2019-06-05 09:24] ping035627 commented on #78721
/sig apps

[2019-06-05 09:24] ping035627 commented on #78721
@sig-apps-approvers

[2019-06-05 09:50] sylr opened #78723 "Azure: Standard load balancer and multiple VMSS failure"
**What happened**:

Since I've tried to upragde kubernetes from 1.13.5 t o 1.13.6 on my hand deployed aks-engine generated cluster, I have troubles with VMSS and Standard load balancers.

Here my cluster setup:

-  3 Availability Zones in EUW
-  1 or 2 VMSS per Availability Zones
-  Accelerated Networking enabled
-  Using both Standard Load Balancer & Internal Standard Load Balancer

The errors I

[2019-06-05 09:52] sylr commented on #78723
cc @feiskyer

[2019-06-05 09:52] sylr commented on #78723
/sig azure

[2019-06-05 09:53] sylr commented on #78723
Related issue: https://github.com/Azure/aks-engine/issues/1361

[2019-06-05 10:22] dhcn opened #78724 "pvc is not deleted when the owner statefulset is deleted"
/sig Storage
**What happened**:
we create a crd, the cr has a statefulset, the cr has a pv template,and share it with the statefulset.
when we delete the cr, the pvc generated by pv template is still appear.
**What you expected to happen**:
when we delete the cr, the pvc generated by pv template is deleted too. because we may change the pvc template.
**How to reproduce it (as minimally and precise

[2019-06-05 11:04] TheKangaroo commented on #78427
That's right, but in my case I do have pods which match the bdb. But two of them are not ready, so kubernetes behaves correct, when it won't delete an additional pod. But in this case the status is shown as
[code]
when in fact it should be something like
[code]
Or am I missing something about the meaning of the status fields? 🤔

[2019-06-05 11:13] mborsz opened #78726 "Remove custom master setup logic from kubemark"
Currently kubemark uses separate master setup logic. This causes a lots of troubles (e.g. some regressions are not visible in kubemark, additional maintenance cost etc).

We should merge the logic with gce setup scripts.

/assign

[2019-06-05 11:13] mborsz commented on #78726
/sig scalability

[2019-06-05 11:25] k82cn commented on #68357
@bgrant0607 , open a google doc as an umbrella of KEP: https://docs.google.com/document/d/1jgXiLNZUh7Voz-MHeggrC227tQogEVA4wbtlPIKzZPI/edit?usp=sharing (also forward to k/dev), thanks in advance for your comments and suggestions :)

[2019-06-05 11:25] TheKangaroo opened #78729 "Unexpected behavior with networkpolicies and service type loadbalancer"
_I recognized that the networkpolicies behave in an unexpected way in an edge case. I filled an issue at the project calico (https://github.com/projectcalico/calico/issues/2635) about it, but it seems like the unexpected behavior happens in the kube-proxy component._

**What happened**:
Following the description from the calico ticket:

I deployed an app to kubernetes and published it as service t

[2019-06-05 11:38] Joseph-Irving commented on #78427
Right ok, I understand the problem now, to reproduce

create a pdb
[code]
create a job that matches (could be static pod)
[code]
status appears as
[code]
Create a deployment that matches the pdb
[code]
status still wrong
[code]
Delete the job pod `kubectl delete myjob`, status is what you would expect
[code]

[2019-06-05 11:40] sylr commented on #78723
I don't want to shout victory too soon but since I've deleted 1 VMSS out of the four I had it seems to work ...

Previous setup:

- Zone 1: VMSS agentmnrt1 & VMSS agentzone1
- Zone 2: VMSS agentzone2
- Zone 2: VMSS agentzone3

Current Setup:

- Zone 1: VMSS agentmnrt1 & VMSS agentzone1
- Zone 2: VMSS agentzone2

[2019-06-05 11:42] dradoaica opened #78730 "Scheduler should always delete from cache the pod<->node relation when the pod is deleted"
**What happened**:
All pods for statefulsets using a `podAntiAffinity` rule with `requiredDuringSchedulingIgnoredDuringExecution` stay pending with the following message:

[code]

The node that didn't satisfy existing pods anti-affinity rules is empty (has only the system pods):

[code]

The `podAntiAffinity `:

[code]

**What you expected to happen**:

Affinity rules to be respected and pods to b

[2019-06-05 11:55] marvinthepa commented on #50321
I will try:

/reopen

[2019-06-05 11:55] Joseph-Irving commented on #78427
So the reason you're seeing this is because you've got a PDB that is matching pods that are not replicated e.g they don't belong to a deployment,replicaset,statefulset etc.

If the disruption controller finds a pod that does not belong to a controller that can scale it will abort trying to calculate the status. `Failed to calculate the number of expected pods: found no controllers for pod "foo"`.

[2019-06-05 11:59] jeff1985 commented on #70324
@mariojacobo
my understanding is that the cronjob resource is keeping a long history of executed jobs. depending on your execution period, you could end up accumulating lot more pod history, than you actually expect. I had multiple cronjob that needed to be executed each 5minutes.

so what i did in the end, is to implement a stateful set with a simple sleep inside, which would execute the job and

[2019-06-05 12:11] mariojacobo commented on #70324
@jeff1985 we are using a DaemonSet, not  Cronjob. I thought about Cronjobs initially, but they dont'get scheduled on all the nodes, especially with autoscaling enabled.  I tweaked a bit your yaml file and it's working just fine.   Our main concern is not being able to tell what's eating up all the inotify watches.

[2019-06-05 12:21] TheKangaroo commented on #78427
Aah I see, now I get whats the problem here. Thank you for making things clear @Joseph-Irving

[2019-06-05 12:21] #78427 closed

[2019-06-05 12:55] wybzju opened #78733 "pod with readinessProbe will be not ready when kubelet restart"
**What happened:**
pod with readinessProbe will be not ready a little while when kubelet restart, and then the endpoint will changed.
**What you expected to happen:**
When kubelet restart, the ready status of the pod should be true rather than false.
**How to reproduce it (as minimally and precisely as possible):**
1 start a pod with readinessProbe
2 kubectl get po <podName> -o yaml --watch      w

[2019-06-05 13:04] alejandrox1 opened #78734 "[Failing Test] timeouts in ci-kubernetes-e2e-gce-scale-performance"
**Which jobs are failing**:
ci-kubernetes-e2e-gce-scale-performance

**Which test(s) are failing**:
* `testing/density/config.yaml`
* `testing/load/config.yaml`
* `ClusterLoaderV2`

**Since when has it been failing**:
Due to [previous issues with prow](https://github.com/kubernetes/test-infra/blob/master/docs/post-mortems/2019-05-30.md) we cannot at this time determine (we are working on resolving

[2019-06-05 13:08] #70938 closed

[2019-06-05 13:36] divyenpatel commented on #78024
@saravanakumarrajendran are you able to resolve this issue with enabling disk.enableUUID flag on the node VM. If yes, please mark this issue as resolved and close it.

[2019-06-05 13:39] divyenpatel commented on #78336
CC: @subramanian-neelakantan

[2019-06-05 14:42] pakhomov-passteam commented on #76531
Any news?

[2019-06-05 14:46] feiskyer commented on #78723
According to the error message `DifferentSkuLoadBalancersAndPublicIPAddressNotAllowed`, there're some basic public IPs referenced in the LB. Do you still have the manifests for agentzone3?

@jackfrancis Any changes in aks-engine may be related?

[2019-06-05 15:01] xoen commented on #50451
@mccormd Hello don't know if anyone else already pointed out but as far as I know (with my limited knowledge of `NetworkPolicy`) the policy is slightly (but dangerously) wrong because it has two separate [NetworkPolicyPeer](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#networkpolicypeer-v1-networking-k8s-io) so it reads like

allow ingress traffic from:
 - pods in namespaces

[2019-06-05 15:05] sylr commented on #78723
[code]

[2019-06-05 15:18] coffeepac commented on #78684
/assign @coffeepac

[2019-06-05 15:19] coffeepac commented on #78684
Will get this sorted soon, apologies for the break.

[2019-06-05 15:51] vllry opened #78735 "kube-proxy prints misleading error on successful --cleanup"
**What happened**:
`kube-proxy --cleanup` logs a nil error on success, EG:

`server.go:475] <nil>`.

**What you expected to happen**:
kube-proxy shouldn't log an error on success. Either a nil error should be interpreted as success, or an explicit exit boolean should be returned & evaluated.

**How to reproduce it (as minimally and precisely as possible)**:
Run `kube-proxy --cleanup` in master/1.1

[2019-06-05 15:53] coffeepac commented on #78684
the permissions problem has been resolved.  needed to enable the credit card.

@Morriz can you please try pulling the image again and see what happens?  if the pull is successful can you close this ticket?

[2019-06-05 15:53] vllry commented on #78735
/sig network
/priority important-longterm
/cc @DockToFuture

[2019-06-05 15:59] redbaron commented on #65106
/reopen

[2019-06-05 16:05] redbaron commented on #30784
/remove-lifecycle stale

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Tuesday, June 4, 2019 9:54 PM, fejta-bot <notifications@github.com> wrote:

[2019-06-05 16:22] mccv1r0 commented on #78480
@White-Duke Can you post your kubelet/hyperkube command line arguments are?

[2019-06-05 17:01] palade commented on #69687
@reyou Thank you

[2019-06-05 17:16] #55427 closed

[2019-06-05 17:43] verult opened #78737 "Flexvolume master driver is blocking controller-manager from moving to distroless"
There is an effort underway to move to core k8s component images to distroless. One side effect is that shell access is unavailable inside these containers.

Dummy Flexvolume drivers in e2e tests are written as shell scripts, and it's possible that many drivers are written this way as well. These drivers are a problem for controller managers going distroless - the driver Init() call will fail.

Go

[2019-06-05 17:44] verult commented on #78737
/cc @kubernetes/sig-storage-feature-requests

[2019-06-05 17:47] paulgmiller commented on #76338
@squeed did you folks see hangs in the kube proxy watch as well?

[2019-06-05 17:51] verult commented on #69480
CSIDriver object is now in-tree.

/close

[2019-06-05 17:51] #69480 closed

[2019-06-05 17:58] msau42 commented on #78737
Let's also bring this up at the sig meeting tomorrow. 2-4) has the possibility to break many drivers in production.

[2019-06-05 18:28] verult opened #78739 "Remove deprecated built-in CSI RBAC roles in 1.17"
The built-in `system:csi-external-provisioner` and `system:csi-external-attacher` cluster roles here
https://github.com/kubernetes/kubernetes/blob/4e397d971a72f5bc6dbffbacca7297f17e17c572/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go#L471

are deprecated in 1.13
https://github.com/kubernetes/sig-release/blob/master/releases/release-1.13/release-notes-draft.md#deprecations

when this is

[2019-06-05 18:30] verult commented on #78739
/cc @pohly
/priority important-longterm

[2019-06-05 19:02] wsong opened #78741 "Users can exec into pods with the websocket endpoint even without `pods/exec create` privileges"
**What happened**:

If you use the websocket endpoint for execing into a pod, you can exec into the pod if you just have `pods/exec get` privileges, whereas `kubectl exec` (which uses the SPDY endpoint) requires `pods/exec create` privileges.

**What you expected to happen**:
The websocket endpoint would return a 403 if a user without `pods/exec create` privileges tries to exec into a pod.

**How

[2019-06-05 19:06] wsong commented on #78741
@kubernetes/sig-auth-bugs

[2019-06-05 19:14] #66536 closed

[2019-06-05 19:20] liggitt commented on #78741
websocket exec and attach supports using get, explicitly configured here:

https://github.com/kubernetes/kubernetes/blob/e168e558f46159e202ca34b6cb7a243110cc41b9/pkg/registry/core/pod/rest/subresources.go#L79-L80

/close

[2019-06-05 19:20] #78741 closed

[2019-06-05 19:23] joshimhoff commented on #57212
+1 to @tewing-riffyn's question about when @M00nF1sh's PR will be ready for use in EKS.

[2019-06-05 19:24] pjh commented on #76666
I looked at my test nodes which were still running but `handle.exe` did not reveal anything; `C:\ProgramData\docker\containers\` is empty on all the nodes, so whatever was seemingly holding on to those files for too long has released them by now.

I'll try to repro again and capture this debug information closer to when the test fails. I'll file a new issue when I'm able to do that.

Thanks again

[2019-06-05 19:24] #76666 closed

[2019-06-05 19:30] oxddr commented on #78734
/assign @oxddr

[2019-06-05 19:37] d-shi commented on #67577
These are the CPU throttling graphs from before/after we moved to --cpu-cfs-quota-period=10ms in production for 2 latency sensitive services:

<img width="1571" alt="Screen Shot 2019-06-05 at 15 34 35" src="https://user-images.githubusercontent.com/6404307/58984701-a8099800-87a7-11e9-8e4e-03c841c27e88.png">

<img width="1527" alt="Screen Shot 2019-06-05 at 15 36 36" src="https://user-images.github

[2019-06-05 19:38] lllamnyp commented on #73056
I think I've encountered this. I have a CronJob trigerring a backup of our gitlab server. The script goes something like
`´´
... && kubectl exec -t <gitlab-container> gitlab-rake gitlab:backup:create && echo done && ls ...
[code]

[2019-06-05 19:39] jingxu97 commented on #72181
For this race issue, we currently have two PR #72914 and #72665 to address it. I think both approaches work. The difference is
 #72914 follows the existing code which separate the work of removing node from attached list and update node status before attaching in reconciler code, and the actual detaching triggered in operation_executor code. The race condition happens because it needs some coordin

[2019-06-05 19:44] wsong commented on #78741
@liggitt So does that mean that `pods/exec get` is supposed to give you permissions to exec into a pod? It's very confusing to me that you need two completely different permissions to exec into a pod depending on which endpoint you're using. It would be very easy for an admin to remove a user's ability to do `pods/exec create` and think that this means that they can no longer exec into a pod, but

[2019-06-05 20:08] twalla commented on #77557
Can confirm similar behavior on 1.12.7, AWS with kops debian image. Creating the loadbalancer initially modifies the security groups but any changes to loadBalancerSourceRanges after the service has been created isn't reflected in the security groups.

[2019-06-05 20:10] liggitt commented on #78741
An admin that wants to remove access to exec or attach should remove all access to pods/exec and pods/attach.

It means submitting an http GET request to the pods/exec subresource URL.

Unfortunately, the websocket spec directs use of get requests as part of the protocol (https://tools.ietf.org/html/rfc6455#section-1.2)

[2019-06-05 20:14] #64917 closed

[2019-06-05 20:26] devaips opened #78747 "[Umbrella Issue] Create list of tests for promotion that hit unconformant stable endpoints"
Filtering through auditlog data [using APISnoop](https://apisnoop.cncf.io/?useragents=%5B%5Ee2e.test%5D&showUntested=false&showTested=true&showConformanceTested=false&zoomed=level-stable) gets us a nice list of Stable API endpoints which are currently tested but not part of the Conformance suite.

Here is the list of tests which hit those endpoints, excluding Conformance tests, and excluding Stabl

[2019-06-05 20:26] devaips opened #78748 "[Umbrella Issue] Stable/Core API endpoints which are tested but not conformant"
There are a number of Stable/Core endpoints which are tested, but not promoted to conformance. We can filter them into a list using APISnoop: [here](https://apisnoop.cncf.io/?zoomed=category-stable-core&showUntested=false&showConformanceTested=false) (Scroll down).

Promoting tests to cover these endpoints have been made into tickets based on Kind.

## Status Update on Opened Issues and PRs

- Pro

[2019-06-05 20:39] wsong commented on #78741
So the verb used with the `pods/exec` subresource is just supposed to indicate what HTTP method is used with that API endpoint? So an admin building an RBAC role is expected to look at the code and figure out which HTTP methods are supported for the websocket exec endpoint?

The Kube RBAC verbs don't even all correspond to HTTP methods (`watch`, for instance, has no HTTP method analogue) so it see

[2019-06-05 20:39] pmorie commented on #72637
I think it would be extremely useful to develop a standard for what a `/logs` subresource should do; it is a common want to people building abstractions on top of Kubernetes to want to be able to get logs for things via kubectl. Examples: Knative services, Tekton pipelines, etc.

[2019-06-05 20:45] devaips opened #78749 "[Umbrella Issue] List of Stable API Endpoints Hit by Core Kubernetes Components"
Filtering through auditlog data [using APISnoop](https://apisnoop.cncf.io/?useragents=kube-.*&showUntested=true&showTested=true&showConformanceTested=false&zoomed=category-stable-core
) gets us a nice list of Stable API endpoints which are hit by Core Kubernetes components, and are _NOT_ covered by existing conformance tests.

Grouping them by Kind:

- [kube-\*](#sec-1)
    - [ConfigMap](#sec-1-1)

[2019-06-05 20:46] devaii commented on #78749
/sig conformance

[2019-06-05 20:46] devaii commented on #78747
/sig conformance

[2019-06-05 20:49] devaii commented on #78747
/sig testing

[2019-06-05 20:49] devaii commented on #78748
/sig testing

[2019-06-05 20:49] devaii commented on #78749
/sig testing

[2019-06-05 21:03] rgcostea opened #78751 "Why was a max length introduced for the CSI Node ID?"
**What happened**:
node-driver-registrar failed to register a node
**What you expected to happen**:
I expected the node to be registered
**How to reproduce it (as minimally and precisely as possible)**:
Register a node with a node ID exceeding 128 characters
**Anything else we need to know?**:
We overloaded the node ID to contain all of the details necessary to provide data access to the nodes fro

[2019-06-05 21:09] rgcostea commented on #78751
@kubernetes/sig-storage

[2019-06-05 21:42] jingxu97 commented on #77215
ref: https://github.com/kubernetes/kubernetes/pull/51553/files

[2019-06-05 21:52] naseemkullah commented on #78684
Working now, thanks for the quick turnaround.

[2019-06-05 21:56] chiluk commented on #67577
@d-shi something else is going on on your graph.  I think there may be some minimum quota alotment that you are now hitting because the period is so small. I'd have to check to code to be sure.  Basically you inadvertently increased the amount of quota available to the application.  You probably could have accomplished the same thing by actually increasing quota allotments.

[2019-06-05 22:03] shangmu commented on #38756
Then what's the expected behavior (or fundamental difference) of modifying the spec field? If there's no fundamental difference in the two (between `kubectl scale` and editing the spec field), why not just keep the `scale job` command and explicitly state the limitations?

[2019-06-05 22:42] blakebarnett commented on #67577
For us it was a lot more useful to measure latency rather than throttling. Disabling `cfs-quota` dramatically improved latency. I'd like to see similar results for changing the `cfs-quota-period`.

[2019-06-05 22:58] Guo-astro opened #78752 "Service load balancing with memory usage"
**What would you like to be added**:
Presently,  the service cannot load balance according to pod memory usage. Is this by design
or we can enhance it?
**Why is this needed**:
When an application with a large memory footprint, we want to avoid multi same requests routed to the same pod which will kill the pod. Any way to prevent that? Or we can monitor the memory usage of each pod and modify the l

[2019-06-05 23:04] Guo-astro commented on #78752
@kubernetes/sig-architecture-feature-requests

[2019-06-05 23:07] Guo-astro commented on #78752
@kubernetes/sig-autoscaling-feature-requests

[2019-06-05 23:37] cblecker commented on #65180
@spiffxp Thoughts on this? IIRC you had opinions on `kind/*` labels

[2019-06-06 00:31] ping035627 commented on #78721
@kubernetes/sig-apps-approvers

[2019-06-06 01:40] curu commented on #67526
+1.
my dev cluster requires strong network access control, and some pod need access to port range like 32000 to 33000. without port range support, we need to create 1000 iptables rule for one access rule. worstly, the total iptables rules sum up to more than 100,000,  and it took kube-router 10 minutes to sync all the rules.

[2019-06-06 02:02] saad-ali commented on #75738
Thanks for the replies @SandeepPissay and @divyenpatel.

ESX hosts were under provisioned. They were running 5 node VMs which were running "too many pods" with "huge app, huge call, and data processing". This caused the cluster be "very full" and "each node had limited ram remaining". Which caused DRS to try and re-balance the VMs and so there was lots of live migration going on.

We are looking i

[2019-06-06 02:24] ObviousDWest commented on #2707
I just got burned trying to put override values from an application.properties file for a spring boot application into a configMap (in a deployment). It appears to have dotted keys stripped out before they are added as environment variables in the container (without any error/warning message). I don't know if the issue is with "env", "envFrom" or somewhere else. But given how prevalent spring boot

[2019-06-06 02:29] wybzju commented on #78733
@kubernetes/sig-Node-bugs

[2019-06-06 02:44] bCom5 commented on #72990
For those that don't notice, it is a \ after $ and a \ after .txt

[2019-06-06 03:10] vllry commented on #78729
/assign @vllry

[2019-06-06 03:21] #29276 closed

[2019-06-06 03:51] xofred commented on #8876
[code]
This works for me

[2019-06-06 03:58] DaiHao commented on #63465
/reopen

[2019-06-06 05:01] draveness commented on #63465
/reopen

[2019-06-06 05:28] cwdsuzhou commented on #78383
I means `StatefulSet DaemonSet` and some other apps using there priorityClassNames should be forbidden when submitted to k8s
@ahg-g

[2019-06-06 07:32] Davio opened #78755 "Allow following logs for a deployment if pods are creating"
**What would you like to be added**:
If I use a command like `kubectl logs -f --tail=100 -l app=<my-app>` it will only follow the logs if all pods in the deployments are created and running.

If one or more pods are still starting, the command exits with the message:

**Why is this needed**:
I would like to be able to follow the logs of already existing pod(s) and have the logs of the new pod(s) b

[2019-06-06 07:48] andyzhangx commented on #75154
it has been cherry picked to
1.12.8, 1.13.6

[2019-06-06 07:48] andyzhangx commented on #75154
/close

[2019-06-06 07:48] #75154 closed

[2019-06-06 07:51] blepoutr commented on #58198
/reopen

We are having the same comments as @Dieken .
If the Nodeselector is deprecated to be replace by NodeAffinity, we should do the same for PodNodeselector admission controller (making it deprecated) and propose a new admission controller PodeNodeAffinity.

[2019-06-06 07:51] smileusd opened #78756 "statefulset should delete LocalPersistentVolume when node was deleted"
**Why is this needed**:

If a statefulset use LocalPersistentVolume with pvc, when node deletion was happend, the pvc will not be delete, and the pod will stay pending to wait pvc was ready. If all the pvcs need to delete manually when node notready, it is very complicated. So any policies or solutions to auto delete pvc of local volume?

[2019-06-06 07:53] smileusd commented on #78756
/sig storage

[2019-06-06 08:02] blepoutr opened #78757 "Propose an admission controller "PodNodeAffinity" to replace admission controller "PodNodeSelector""
If the Nodeselector is deprecated to be replaced by NodeAffinity (as per doc https://kubernetes.io/docs/concepts/configuration/assign-pod-node/), we should do the same for PodNodeselector admission controller (making it deprecated) and propose a new admission controller PodeNodeAffinity.

[2019-06-06 08:04] blepoutr commented on #78757
@kubernetes/sig-scheduling-feature-requests

[2019-06-06 08:08] blepoutr commented on #78757
Based on #58198

[2019-06-06 08:26] #72571 closed

[2019-06-06 08:45] wybzju commented on #78733
the reason is here: [https://github.com/kubernetes/kubernetes/blob/ef7808fec57284582c7bf3fc834570e5769df83e/pkg/kubelet/prober/worker.go#L200](url)

[2019-06-06 08:48] Joseph-Irving commented on #78377
I'm not sure how you would implement that, the problem is that Job backoff limits and container restart behaviour are totally separate mechanisms. The Job controller is responsible for terminating the pod once it goes past its backoff limit, while the kubelet is responsible for restarting containers based on restart policy, the kubelet has no concept of a backoff limit.

[2019-06-06 08:59] pawelprazak commented on #49387
still and issue, 2 years later

[2019-06-06 09:07] ping035627 commented on #78721
@kubernetes/sig-apps-bugs
@kubernetes/sig-apps-misc

[2019-06-06 09:32] konghui opened #78758 "kubelet didn't renew certificate when the certificate was expired"
**What happened**:
I has a kubernetes cluster. When the certificate was expired. All the node became not ready. And kubelet didn't renew a new certificate. I am sure I was enable the bootstrap feature.

**What you expected to happen**:
kubelet will auto renew a new certificate

**How to reproduce it (as minimally and precisely as possible)**:
enable the bootstrap feature, add option to the kubelet

[2019-06-06 09:45] manderson23 opened #78759 "Documentation for --leader-elect-renew-deadline is incorrect"
The documentation for `--leader-elect-renew-deadline` argument to kube-controller-manager states

```This must be less than or equal to the lease duration```.

When I deploy kube-controller-manager with  `--leader-elect-renew-deadline` and  `--leader-elect-lease-duration` set to the same value I see a panic on startup
[code]

[2019-06-06 09:46] manderson23 commented on #78759
@kubernetes/sig-docs

[2019-06-06 10:28] #72557 closed

[2019-06-06 10:46] dims commented on #78759
/sig docs

[2019-06-06 10:48] dims commented on #70189
@bclau sounds like a no-go for 1.15, let's just move it out as no one is working on it as well.

/milestone v1.16

[2019-06-06 10:52] dims commented on #74843
#77886 got moved out. let's move this issue with it as well

/milestone v1.16

[2019-06-06 10:55] dims commented on #71487
@saad-ali said that https://github.com/kubernetes/kubernetes/pull/73891 is the "permanent fix." and that has merged. So let's close this out

/close

[2019-06-06 10:55] #71487 closed

[2019-06-06 10:57] dims commented on #58034
None one is working on this. Let's move this out of 1.15

/milestone v1.16

[2019-06-06 10:59] dims commented on #68244
/milestone v1.16

same situation as before we kicked it from 1.14->1.15 ...

[2019-06-06 11:06] neolit123 commented on #70707
/milestone v1.16

[2019-06-06 11:59] max-rocket-internet opened #78761 "HPA doesn't scale down to minReplicas even though metric is under target"
**What happened**:

HPA scales to `Spec.MaxReplicas` even though metric is always under target.

Here's the HPA in YAML:

[code]

And here's a description output:

[code]

**What you expected to happen**:

HPA only scales up when metric is above target and scales down when under until `Spec.MinReplicas` is reached.

**How to reproduce it (as minimally and precisely as possible)**:

I'm not sure. W

[2019-06-06 12:00] max-rocket-internet commented on #78761
@kubernetes/sig-autoscaling-bugs

[2019-06-06 12:08] max-rocket-internet commented on #78761
If I scale down manually:

[code]

And these are the resources specified in the deployment:

[code]

[2019-06-06 12:34] liggitt commented on #78758
your config is missing the `serverTLSBootstrap: true` option to enable rotation (it also has a case-typo in `RotateCertificates ` which should be `rotateCertificates`)

/close

[2019-06-06 12:34] #78758 closed

[2019-06-06 12:51] thcdrt commented on #78699
Same error from my side using the command "sonobuoy run".
Sonobuoy Version: v0.14.2

[2019-06-06 12:55] squeed commented on #76338
No, we something else weird - a missed transition in the informers. During APIserver + etcd disruption, we saw UpdateEndpoints(A -> B), then UpdateEndpoints(C->C). That shouldn't be possible, and kube-proxy therefore ignored the change.

[2019-06-06 13:00] johnSchnake commented on #78699
@thcdrt Just to be clear, you saw that `pid` error when doing a normal `sonobuoy run` (which runs the whole conformance suite)?

I'm the primary maintainer of Sonobuoy right now and that indeed seems odd if that's the case (since there would be no reason to have a race with the long-lived test run).  If you wouldn't mind, I'd be very interested in seeing the results tarball from that run (you can

[2019-06-06 13:12] liggitt commented on #78383
priorityclass admission only operates on pods, not workload API objects containing pod specs. when the pods for those workload controllers attempt to be created, priorityclass admission would catch them at that point

[2019-06-06 13:14] liggitt commented on #78724
what version of kubernetes are you using?

[2019-06-06 13:15] liggitt commented on #78724
does the StatefulSet have an ownerReference pointing at the cr instance? can you provide the API objects (full yaml) of the cr instance and the statefulset instance prior to deletion?

[2019-06-06 13:20] thcdrt commented on #78699
@johnSchnake yes exactly, but when launching it again on the same cluster, I didn't have this error anymore. I'll send results to you on slack.

[2019-06-06 13:56] #71268 closed

[2019-06-06 14:02] feiskyer commented on #58034
@dims thanks. This missed v1.15 feature timeline. LGTM of moving to v1.16.

[2019-06-06 14:03] SleepyBrett commented on #78694
@Random-Liu Here is a gist: https://gist.github.com/SleepyBrett/c0400680a60c8cc7ddb3c38aee21ab3c

I did a quick analysis:

[code]

[2019-06-06 14:04] jakebolam commented on #25238
Can we add this behaviour to the HPA docs? I'm happy to put up a PR

[2019-06-06 14:05] mattjmcnaughton commented on #78733
Hi @wybzju, thanks for reporting :)

One thought and one question. First, the version of k8s you're using is not supported (1.10). You can find a list of supported versions here : https://kubernetes.io/docs/setup/version-skew-policy/. As a first step, could you please upgrade to a supported version and see if the issue persists?

Second, are you saying that the pod with readinessProbe will never b

[2019-06-06 14:09] mattjmcnaughton commented on #78674
Hi @odeng888!

Could you please update your bug report to follow the bug report format found here? https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE/bug-report.md. That'll give us some important initial information.

Also, I agree with @liucimin that it could be helpful to also open an issue on the calico project.

[2019-06-06 14:09] mattjmcnaughton commented on #78629
@xiongmaodada no problem :) If this issue is resolved, would you mind closing it? Thanks!

[2019-06-06 14:25] answer1991 opened #78766 "goruntine leak if we use client-go in async timeout scene"
**What happened**:

Recently we found that kube-apiserver will leak goruntine in large-scale scene with lots of 504 response code, and lots of logs like `Throttling request took %v, request: %s:%s`

**What you expected to happen**:

Fix the goruntine leak.

**How to reproduce it (as minimally and precisely as possible)**:

Set-up a large-scale Kubernetes cluster, or the following codes may help yo

[2019-06-06 14:26] answer1991 commented on #78766
/sig scalability
/assign

[2019-06-06 14:27] answer1991 commented on #78766
/sig api-machinery

[2019-06-06 14:46] cizixs commented on #78766
/assign

[2019-06-06 14:48] cwdsuzhou commented on #78383
Thanks for your clarification. I wonder if we need forbid the apps to submit to k8s.

[2019-06-06 14:55] adohe commented on #78766
/cc @adohe

[2019-06-06 15:01] glouis commented on #60807
It seems that namespaces are actually not deleted.
In my case, `kubectl get ns` does not show the deleted namespace but a `kubectl get all -n <namespace> show all resources safe and sound.
I checked on the nodes and docker containers were still running...

[2019-06-06 15:04] liggitt commented on #78383
no, pod-level restrictions occur when the pod is created.

[2019-06-06 15:14] johnSchnake commented on #78699
Yea you're error message is maybe even more confusing:
[code]
It looks like `pgrep` couldn't find the running command. No indication that it failed, but it wasn't running hence the empty pid/valid job spec.

Looking at yours also made me realize that my message given in the description actually listed _2_ values (separated by newlines which is why I didnt notice it). So maybe pgrep was seeing the

[2019-06-06 15:16] johnSchnake commented on #78699
@dims How would you feel about me creating an alternative to the `run.sh`? I wouldn't remove it (so no risk of irrevocably breaking the image) but adding a go binary here too that could run the tests and might be easier to analyze error paths and such. Even handling args/flags more elegantly if we expand it.

[2019-06-06 15:33] liggitt opened #78767 "AdmissionWebhook e2e tests potentially flake in parallel, should scope to specific namespaces/objects"
**What happened**:
The webhook e2e tests each set up admission webhooks that exhibit a variety of behavior (denying requests, changing objects, intentionally timing out, etc)

Some of them scope themselves to specific namespaces, but many do not.

That means that when run in parallel, interference is possible.

**What you expected to happen**:

Each admission webhook scopes itself to a specific na

[2019-06-06 15:37] kwiesmueller commented on #75564
After talking to @DirectXMan12 about this and digging into how status wiping works at the moment, I still got a few questions.
Primarily I would like to understand the reason why status wiping is happening where it is right now. Initially this seems to me like something that should be happening as for example, a mutating admission step.

@liggitt i was suggested to ask if you know more about this

[2019-06-06 15:52] cwdsuzhou commented on #78383
/close

[2019-06-06 15:52] #78383 closed

[2019-06-06 16:09] antoineco commented on #60807
@glouis that's because you bypassed the finalizers using the method above, so Kubernetes didn't have time to execute all those essential deletion tasks.

It's really sad to see so many people blindly advocating for this method without understanding its consequences. It's extremely ugly and can potentially leave tons of leftovers in the cluster. @javierprovecho already [mentioned it](https://github

[2019-06-06 16:21] ObviousDWest commented on #2707
Sorry to necro this thread. My issue turned out to be because I used "sh" in the command, which strips dotted names. Switching to "bash" allowed the variables to pass through as expected.

[2019-06-06 16:32] cliu-splunk commented on #78377
@Joseph-Irving I think the job backoff limit and container restart is related. At least in the code I can see this: https://github.com/kubernetes/kubernetes/blob/8211cabfb2bf3b2b531b13589843130cb47df1b1/pkg/controller/job/job_controller.go#L625

[2019-06-06 16:38] Mwea commented on #67577
@chiluk We (criteo) are experiencing the same issue on some of our java apps. I've followed your thread right there https://lkml.org/lkml/2019/5/17/581. I would like to have your opinion on an alternative fix for this. What would be the better way to get in touch with you ? Want me to answer on the mailing list ?

[2019-06-06 16:42] Joseph-Irving commented on #78377
yes the job controller watches restarts to check if the backoff limit has been reached, and then fails the jobs, terminates pods etc once it has been reached. But the kubelet is what is responsible for actually restarting a failed container and this has no knowledge of the Job controller or what a backoff limit is.

[2019-06-06 16:58] johnbelamaric commented on #47992
/remove-triage unresolved

This is a feature request, but a similar feature is available in CoreDNS. We can consider adding it to the spec but frankly I'd rather do that if we deprecate kube-dns. I think our time is better spent elsewhere than adding this feature there.

@chrisohaver I noticed while looking at this that I don't think `hostname` (and `endpoint_pod_names`) is properly restricting to

[2019-06-06 16:58] sjmiller609 commented on #58065
For my use case, I am attempting to use a bastion host authenticated with google cloud IAP to connect to a private kubernetes endpoint. @11xor6 's comment works for me.

In on the bastion, you only need to run (example - ubuntu)
[code]
You should be able to start the port forward to access the proxy like this (access on local port 1234)
[code]
then this command should work
[code]

[2019-06-06 16:59] johnbelamaric commented on #77860
Can you try with CoreDNS and see if that fixes the issue?

[2019-06-06 17:08] chrisohaver commented on #47992
@johnbelamaric, I thought all Pods in an Endpoint had to be in the same namespace as the Service.  Is that not the case?

[2019-06-06 17:14] johnbelamaric commented on #47992
See Clayton's comment above. The current controller works that way, but
there is not real reason it has to. Since that is how it works, this hasn't
come up in the wild as far as I know.

To test it you can manually create endpoints with a targetRef pointing to a
pod in another namespace.

On Thu, Jun 6, 2019 at 10:11 AM chrisohaver <notifications@github.com>
wrote:

[2019-06-06 17:14] dims commented on #78699
go for it! @johnSchnake

[2019-06-06 17:35] #72612 closed

[2019-06-06 17:35] #72623 closed

[2019-06-06 17:35] #60644 closed

[2019-06-06 17:48] #72493 closed

[2019-06-06 18:18] xmudrii commented on #70249
Hello once again! I'd just like to check what's the current status of this issue and is it still planned for v1.15? Thanks!

[2019-06-06 18:27] yuwenma commented on #70249
[Here](https://github.com/kubernetes/enhancements/blob/master/keps/sig-release/20190316-rebase-images-to-distroless.md#implementation-history)'s the status updates:
We have [these images](https://github.com/kubernetes/enhancements/blob/master/keps/sig-release/20190316-rebase-images-to-distroless.md#rebased-images) rebased.
And here's the [exception list](https://github.com/kubernetes/sig-release/b

[2019-06-06 19:31] liggitt commented on #78724
@kubernetes/sig-storage-misc @kubernetes/sig-apps-misc is there a reason the PVCs created by the statefulset controller don't set up a controller ownerRef pointing at the statefulset?

is it not desired that deletion of the statefulset also delete the associated PVCs?

https://github.com/kubernetes/kubernetes/blob/461f439b24ee43d95f328d225d1464f948f70893/pkg/controller/statefulset/stateful_set_uti

[2019-06-06 19:48] dvonthenen commented on #77678
Cross reference with:
https://github.com/kubernetes/kubernetes/issues/51835

[2019-06-06 19:55] d-shi commented on #67577
@chiluk we did actually try increasing quota allotments (up to the maximum supported by kubernetes), and in no case were tail end latencies nor throttling reduced.

@blakebarnett we developed a benchmark program that measured our latencies, and they went from a range of 10ms-100ms, with an average of around 18ms prior to updating `--cpu-cfs-quota-period`, to a range of 10ms-20ms, with an average o

[2019-06-06 19:57] andrewsykim commented on #73188
/assign @feiskyer @khenidak
/remove-lifecycle stale

[2019-06-06 20:04] rhockenbury commented on #77360
Unfortunately, I'm seeing the same issue with v1.14.3:
[code]

cloud_config
[code]

Works fine when I use the username and password of a vsphere admin, but using cert and key still has authentication issues.

[2019-06-06 20:19] johscheuer commented on #78735
/assign

[2019-06-06 20:19] johscheuer commented on #78735
I would start looking into this but it seems I can't assign myself 🤔

[2019-06-06 20:20] chiluk commented on #67577
@d-shi, you were likely hitting the problem solved by 512ac999 then.

[2019-06-06 20:20] fedebongio commented on #78706
/cc @cheftako

[2019-06-06 20:22] connor1989 commented on #78707
@connor1989

[2019-06-06 20:23] roycaihw commented on #78707
/sub

[2019-06-06 20:24] fedebongio commented on #78766
cizixs@
/cc @jpbetz

[2019-06-06 20:24] fedebongio commented on #78766
@cizixs

[2019-06-06 20:25] connor1989 commented on #78767
@connor1989

[2019-06-06 20:25] fedebongio commented on #78767
/assign @jpbetz

[2019-06-06 20:28] roycaihw commented on #78706
haven't looked into the code yet. I'd expect the naming controller / apiextensions server to prevent conflicting CR GVK, but they are unaware of builtin apis

[2019-06-06 20:30] kempy007 commented on #23864
Multus does not seem to work with openshift 3.11 or atomic host :/

[2019-06-06 20:34] liggitt commented on #78706
CRD handling is isolated to the apiextensions server... it does not have information about all other built-in and aggregated APIs

[2019-06-06 20:38] #72652 closed

[2019-06-06 20:42] jzhoucliqr commented on #69973
same issue for me. Thanks a lot for @wooyanger.  I tried to delete /var/lib/kubelet/pki/kubelet-client*, then it start working.

[2019-06-06 20:47] Mwea commented on #67577
After reading again and again your patch, I've to admit I struggle to understand the impact of this code :
[code]

In a case where the quota expire even if runtime_remaining just borrowed some time from the global pool. At worst you will get throttled for 5ms based on sched_cfs_bandwidth_slice_us. Isnt it?
Do I miss something ?

[2019-06-06 20:54] liggitt commented on #78706
@sttts mentioned something he was working on to make the aggregation layer honor APIService priorities (so that later definitions would not be included if something had already defined a GVK)

[2019-06-06 20:54] roycaihw commented on #78706
a naive idea is to reserve k8s groups in a hard code way

the CRD in https://github.com/kubernetes/kubernetes/issues/78706#issue-452175013 defines a `io.k8s.authorization.rbac.v1.Role` but the kubectl results are about `io.k8s.apiextensions.v1beta1.CustomResourceDefinition`. Did I miss something?

[2019-06-06 20:57] liggitt opened #78776 "divide by zero in genericScheduler#findNodesThatFit"
seen in TestNodePIDPressure in https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/78770/pull-kubernetes-integration/1136730984738197506/

[code]

/milestone v1.15
/sig scheduling
/priority critical-urgent

including in the milestone to make sure this gets triaged before release

[2019-06-06 20:57] liggitt commented on #78776
/assign @bsalamat

[2019-06-06 20:59] liggitt commented on #78776
added in https://github.com/kubernetes/kubernetes/commit/e660e84459b990239ed1a6f65627cd08617d21f6#diff-c237cdd9e4cb201118ca380732d7f361R519 in #77509

[2019-06-06 21:01] liggitt commented on #78706
oops... fixed. I started with an API type under k8s.io/api but the issue only surfaces for specific APIs (due to the generated definition name colliding for some types)

[2019-06-06 21:01] liggitt commented on #78706
that wouldn't address duplicate GVKs from aggregated APIs

[2019-06-06 21:02] dims commented on #78776
cc @ahg-g

[2019-06-06 21:08] msau42 commented on #78724
It is intentional for scale down and then up scenarios.

There have been requests to add this as a new feature but it needs a new API option to preserve backwards compatibility.  Let me try to find the related issues/prs...

[2019-06-06 21:12] liggitt commented on #78677
service accounts are given group memberships that let you grant permissions to all service accounts in a particular namespace (group name `system:serviceaccounts:<namespace>`), or all service accounts cluster-wide (`system:serviceaccounts`). See https://kubernetes.io/docs/reference/access-authn-authz/rbac/#role-binding-examples for these

Granting access to a service account with a particular name

[2019-06-06 21:12] #78677 closed

[2019-06-06 21:14] liggitt commented on #78308
v1.13.7 and v1.14.3 have been released

/close

[2019-06-06 21:14] #78308 closed

[2019-06-06 21:19] liggitt commented on #78175
duplicate of https://github.com/kubernetes/kubernetes/issues/78308

Fixed by #78261 in master
Fixed in v1.13.7 in https://github.com/kubernetes/kubernetes/pull/78320
Fixed in v1.14.3 in https://github.com/kubernetes/kubernetes/pull/78316

/close

[2019-06-06 21:19] #78175 closed

[2019-06-06 21:22] tyrken commented on #42649
It looks to me and from reading this discussion, the code &  https://github.com/kubernetes/kubernetes/pull/74058 that:

* Cronjobs can be "suspended", via any of spec.suspend=true, K8s master halt (e.g. laptop suspend/cost-saving power-down) or, if spec.concurrencyPolicy==forbid, a single job execution taking a long time.
* If StartingDeadlineSeconds ("SDS") is not set, then when you re-enable (i.

[2019-06-06 21:32] liggitt commented on #78766
I don't think it's actually a leak, the goroutines do get released eventually

it looks like there's a context-aware ratelimiter method (`Wait`) we could investigate switching to (though it would need to be scale tested to make sure the more complex per-request logic didn't regress us)

[2019-06-06 21:48] cliu-splunk commented on #78377
@Joseph-Irving I agree that kubelet should only be responsible for restarting the failed container. Then the job controller should not kill the pod if the container is still running. That said, combined with what I posted earlier, I would expect the Nth retry to finish successfully instead of being killed in the middle.

[2019-06-06 21:50] d-shi commented on #67577
@chiluk yes I think are right. Our production servers are still on kernel 4.4, so do not have that fix. Perhaps once we upgrade to a newer kernel we can move CFS quota period back to default, but for now it is working to improve our tail end latencies and we have not noticed any adverse side effects yet. Though it has only been live for a couple weeks.

[2019-06-06 21:53] msau42 commented on #78724
Here's the main issue with discussion: https://github.com/kubernetes/kubernetes/issues/55045

I think the next steps are we need an owner for this feature to develop a KEP and own the implementation.

[2019-06-06 22:14] pjh commented on #78565
Is there an e2e test that covers this situation?

[2019-06-06 22:15] dougm commented on #77360
@rhockenbury any related errors in vCenter's /var/log/vmware/vapi/endpoint/endpoint.log ?

[2019-06-06 22:40] #72043 closed

[2019-06-06 22:46] odinuge commented on #77103
Hi! Noticed that this only checked the normal e2e tests. I have made the script check `e2e_node` and `e2e_kubeadm` as well in https://github.com/kubernetes/kubernetes/pull/78779.

[2019-06-06 23:01] benmoss commented on #78565
@pjh I believe https://github.com/kubernetes/kubernetes/pull/74925 adds one

[2019-06-06 23:48] #77949 closed

[2019-06-07 00:06] mariusgrigoriu commented on #67577
@chiluk Mind summarizing the status of this issue in the kernel? Seems like there was a patch, 512ac999, but it had issues. Did I read somewhere that it got reverted? Or is this fully / partially fixed? If so, what version?

[2019-06-07 00:15] willthames commented on #67577
@mariusgrigoriu it's not fixed, @chiluk has created a patch that should fix it that needs further testing (I'm going to allocate some of my time in the next few days to this)

See https://github.com/kubernetes/kubernetes/issues/67577#issuecomment-482198124 for the latest status

[2019-06-07 00:26] andrewmchen commented on #68712
So what is the correct way to determine if a job is finished and whether it completed successfully?

[2019-06-07 01:24] answer1991 commented on #78766
@liggitt

Yes, the goroutines will get released finally. But think about this:

The kube-apiserver accepts 1000 request in every second (QPS 1000), and QPS of client-go which kube-apiserver used to call apiextensions-apiserver and webhook-server only have 100. As we know, the kube-apiserver HTTP handler is wrapped with timeout filter just like my example codes above, then the backlog goroutines wh

[2019-06-07 01:36] parekhnikunj commented on #67702
Any update?

[2019-06-07 01:42] zyfu90 commented on #40224
You could add a timeout flag to the kubectl rollout status command.

[code]
https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#-em-status-em-

[2019-06-07 01:43] zyfu90 commented on #41336
### You could add a timeout flag to the kubectl rollout status command.
[code]
https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#-em-status-em-

[2019-06-07 02:06] Reinkaos commented on #73056
Hey,

I think that I am encountering this issue as well, my use case is that I am running a long query on Mongo via kubectl exec and after about 20 minutes I am kicked out of the pod. In the syslog of the Node I have this error:

[code]

Would be great to know what the solution is for this.

Thanks,
Richard

[2019-06-07 02:37] ahg-g commented on #78776
I think we should revert #77509, I created #78782.

[2019-06-07 02:55] answer1991 opened #78783 "kube-apiserver goruntine leak when admission or call webhooks"
**What happened**:

Recently we found that kube-apiserver will leak(or we can call it backlog) goruntine in large-scale scene with lots of 504 response code.

Related issue #78766

**What you expected to happen**:

Fix the goruntine leak issue. Make admission and calling webhooks context-aware.

We need provider a method to get the request context from [admission.Attributes](https://github.com/kub

[2019-06-07 02:56] answer1991 commented on #78783
/sig scalability
/sig api-machinery
/assign

[2019-06-07 03:29] soggiest commented on #77873
Is this issue release blocking or can we move it to 1.16?

[2019-06-07 03:33] soggiest commented on #75601
Since there are so many open PRs associated with this umbrella can we move this to 1.16?

[2019-06-07 03:35] soggiest commented on #74375
The associated PRs with this issue have been merged, is this issue still valid or can we close it? If there is more work to do on this can we move it to 1.16?

[2019-06-07 03:37] soggiest commented on #73723
There appears to be a lot to do on this umbrella, I'm going to move this to 1.16
/milestone v1.16

[2019-06-07 03:38] apelisse commented on #73723
Yeah, thanks, clearly not meant for 1.15 at this point.

[2019-06-07 03:39] soggiest commented on #70249
It looks like Klog is still an issue, can we move this to 1.16?

[2019-06-07 03:40] soggiest commented on #62046
/milestone v1.16

[2019-06-07 03:40] neolit123 commented on #75601
@soggiest
yes this will span across multiple releases.
/milestone v1.16

[2019-06-07 03:41] soggiest commented on #56694
Since there appears to more work needed on this issue I'm moving this to 1.16
/milestone v1.16

[2019-06-07 03:47] soggiest commented on #53451
/milestone v1.16

[2019-06-07 03:49] soggiest commented on #48610
/milestone v1.16

[2019-06-07 03:50] soggiest commented on #45419
/milestone v1.16

[2019-06-07 03:55] soggiest commented on #43214
Hello, it looks like most of the work for the 1.15 portion has been completed can we move this to 1.16?

[2019-06-07 03:55] liggitt opened #78784 "x-kubernetes-embedded-resource behavior is not working as specified"
**What happened**:

Created a CRD using the new `x-kubernetes-embedded-resource` extension:
[code]

Checked the published OpenAPI spec:
[code]
[code]

Created an instance of the resource:
foo.yaml:
[code]
[code]
[code]

**What you expected to happen**:

1. kind, apiVersion, and metadata to be added to the schema for the `x-kubernetes-embedded-resource` object
2. `kind` and `apiVersion` to be requi

[2019-06-07 04:05] liggitt commented on #43214
yes

/milestone v1.16

[2019-06-07 04:08] mkumatag commented on #75114
/remove-lifecycle stale

[2019-06-07 04:18] vllry commented on #77476
@randmonkey Is this still an issue for you?

[2019-06-07 04:20] vllry commented on #76070
/close

[2019-06-07 04:20] #76070 closed

[2019-06-07 05:47] #72497 closed

[2019-06-07 06:51] shahnewazrifat commented on #48180
Is there a way to apply configmap at least to all pods in a namespace?

[2019-06-07 06:58] deitch commented on #48180
Short of an admission controller, not that I know of @shahnewazrifat. But I could be missing something.

[2019-06-07 07:54] arocki7 commented on #40224
@zyfu90 Even if you add this, the rollout will still fail - because it's the load balancer timeout which kills the watch and not Kubernetes. The error message clearly says that Kubernetes watch failed even before kubectl timeout.

[2019-06-07 09:19] discordianfish commented on #40443
Still seeing this problem with Kubernetes 1.11.2 even though the supposed fix is included.

[2019-06-07 09:44] jschuiteboer commented on #73738
not only the walkthrough, but also the reference mentions v2beta2: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#horizontalpodautoscaler-v1-autoscaling

server version: v1.13.6-gke.5

`kubectl api-versions | grep autoscaling`:
[code]

[2019-06-07 10:52] deepankermishra commented on #55713
I am hitting the same issue on a 5 node cluster. After deploying a statefulset nginx app and ensuring that each node is assigned only 1 pod, rescheduling of pods does not happen.
[code]

[2019-06-07 11:24] feiskyer commented on #73188
I believe the issue has already been fixed.  @huydinhle @Sennahoi Please open a new issue if you still have the issues.

/close

[2019-06-07 11:24] #73188 closed

[2019-06-07 12:12] #78660 closed

[2019-06-07 12:30] trondhindenes opened #78787 "HPA problems (metrics-server is working)"
**What happened**:
When adding a HPA, I'm getting the following in controller-manager logs:
[code]

Unlike most other hpa problems, I don't think this is a metrics-server issue. Metrics are running fine, as verified running `kubectl top pod/node` and `kubectl get --raw /apis/metrics.k8s.io/v1beta1/pods | jq`

As far as I can understand from the logs, hpa is unable to get the cpu `requests` for the

[2019-06-07 12:35] trondhindenes commented on #78787
/sig autoscaling

[2019-06-07 12:49] jaypipes commented on #78629
@xiongmaodada @mattjmcnaughton It might be worth considering adding a little code somewhere that simply strips off the ".slice" from the cgroup name supplied in `--kubelet-reserved-cgroup` configuration option and just normalizing the input in the configuration package itself (possibly with a warning that prints out stating cgroup should not end in ".slice")

[2019-06-07 13:38] yastij commented on #56694
@soggiest - closing this as we added the testing for this in #78486

/close

[2019-06-07 13:38] #56694 closed

[2019-06-07 13:53] mattjmcnaughton commented on #78629
@jaypipes I think that's a great idea.

@xiongmaodada I will work on that, unless you want to :)

/assign

[2019-06-07 14:23] alejandrox1 commented on #78123
updates: kinder tests were fixed via https://github.com/kubernetes/kubernetes/pull/78545

[2019-06-07 14:31] alejandrox1 commented on #78589
this has been resolved :-)
/close

[2019-06-07 14:31] #78589 closed

[2019-06-07 14:56] #64510 closed

[2019-06-07 15:28] alejandrox1 commented on #76206
Moving this to the next milestone 😃
/milestone v1.16

[2019-06-07 15:32] mccv1r0 commented on #78480
@White-Duke  Check the version of cni installed on CentOS:
[code]
I reproduced using kubeadm, which uses an old version of CNI plugins.  Updating plugins (specificially ```bridge``` fixed the problem.

Problem is fixed by this cherrypick of #75455 back to kube 1.13:

[](https://github.com/kubernetes/kubernetes/pull/75462)

[2019-06-07 16:00] bclau commented on #78023
Don't really know, this happened while running some E2E tests. Don't know which one(s) caused that, and the logs were too big and numerous (log rotation) to analyze.

[2019-06-07 16:11] mariusgrigoriu commented on #72775
I'm seeing that the desired count in the HPA is set to the number of pods with surge. For example, with a starting replica count of 100 and surge of 25%, the new desired count is set to 125. That count is sustained well after the rollout is done until the HPA cooldown elapses and scales the deployment back down.

I think what's happening is that HPA locks in a desired count that includes the surgi

[2019-06-07 16:22] tedyu commented on #78761
Can you attach log to this issue ?

thanks

[2019-06-07 16:26] shaozi opened #78795 "cronjob scheudle does not use master's timezone - instead it uses utc"
**What happened**:
The master is at PDT (-7).

Verified local time on master:

[code]

Created a cronjob with schedule of `"0 12 * * 5"` to run on Friday noon.

[code]

You can see it actually ran on 12 UTC, which is 5AM PDT.

**What you expected to happen**:

According to the document:

**How to reproduce it (as minimally and precisely as possible)**:

1. make sure your host is on some timezone n

[2019-06-07 16:29] chiluk commented on #67577
@Mwea the global pool is stored in cfs_b->runtime_remaining.  As that gets assigned to per cpu run queues (cfs_rq), the amount remaining in the global pool gets decremented.  cfs_bandwidth_slice_us is the amount of cpu runtime that gets transferred from the global pool to the per-cpu run queues.  If you got throttled that would mean that you needed to run and cfs_b->runtime_remaining == 0.  You wo

[2019-06-07 16:34] shaozi commented on #78795
/sig apps

[2019-06-07 16:58] #72683 closed

[2019-06-07 17:12] trondhindenes commented on #78787
This turned out to be caused by some containers in the pod missing `cpu.requests` settings.
So not a bug per se, but it was still tricky to figure out. Would maybe be good if the HPA got an even with `some containers are missing cpu.requests, unable to determine scale settings` or similar to help chase this down.
Even better would be if HPA was able to scale based on cpu usage of a single containe

[2019-06-07 17:22] spiffxp commented on #78562
/milestone v1.15
Pulling this in ref: https://github.com/kubernetes/kubernetes/pull/78691

[2019-06-07 17:35] barney-s opened #78796 "Job stuck for many hours - does not create pod"
**What happened**:

1. CronJob creates Job
2. Job attempts to create Pod and fails due to Internal error (API server failed to run admission webhook)
3. Job retries to create Pod and keeps failing
4. During one of the retry, Pod creation fails with Timeout (API server timeout)
5. Job stops retrying pod creation.
6. CronJob stops scheduling new Jobs since previous Job is active and concurrency is f

[2019-06-07 17:36] barney-s commented on #78796
/sig apps

[2019-06-07 17:53] vllry opened #78797 "Deprecate --cleanup-ipvs flag in kube-proxy"
--cleanup-ipvs is a default-true flag. If set to false, `--cleanup` will skip flushing IPVS rules. It has no impact to normal operation.

"Partial cleanup" feels like a footgun, and I can't find a compelling reason why a user would want to run cleanup, but skip IPVS. I suspect this is a holdover from when autocleanup ran on-boot, before #75408.

**To do this ticket:**
* Deprecate the existing flag

[2019-06-07 17:55] vllry commented on #78797
@shonnungar asked to do this, assuming this is something we're actually okay to deprecate.

/sig network
/kind cleanup
/priority backlog

[2019-06-07 17:56] barney-s commented on #78796
## Analysis

As suspected there seems to be a bug in the way Timeout error is handled.
When timing out, the job controller is not decrementing expectations. It also doesn't return any error. Thereby the controller marks the Job status with active:1. This results in a blackholed Job with no pod having been created.

[code]

Handled via: https://github.com/kubernetes/kubernetes/blob/v1.12.6/pkg/cont

[2019-06-07 17:56] vllry commented on #78797
CC @caseydavenport  @dcbw @thockin would appretiate a sanity check on the admin implications. :)

[2019-06-07 18:03] barney-s commented on #78796
@caesarxuchao @smarterclayton
Any inputs on how to discriminate between Timeout due to pod init delay and Timeout by API server and failure to create Pod ?

[2019-06-07 18:48] neolit123 commented on #78123
/unassign
i was here for:
https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-upgrade-stable-master

it's a bit flaky, but green - which is due to the tooling.

[2019-06-07 19:07] dims commented on #70131
Looks like we are hitting this https://github.com/golang/go/issues/16860 @bmwiedemann (for the .gopclntab problem)

[2019-06-07 19:25] eherot commented on #76568
Also saw this issue on `v1.11.8`. Super frustrating that the only way around it is to wait!

[2019-06-07 20:16] thockin commented on #47992
I'm a bit confused.  This issue is both a bug report and a feature request:

Bug: a deployment which sets `hostname` ends up with weird DNS under a headless service.

Feature: if a pod does not set `hostname` use the pod name.

The remainder is the first time I have thought about this:

Whether the pod behind an endpoint is in the same namespace or not shouldn't matter.  The DNS name is relative t

[2019-06-07 20:33] hpandeycodeit commented on #78797
@vllry I will take this.

Correct me if I am wrong, we deprecate the flag but the IPVS flushing will happen by default in the background whenever the user runs the `--cleanup`

[2019-06-07 20:44] dims commented on #78783
cc @liggitt

[2019-06-07 20:48] vllry commented on #78797
@hpandeycodeit the issue has already been "claimed", pending a sanity check.

Deprecating the flag would entail always flushing IPVS on `--cleanup`.

[2019-06-07 21:02] #72693 closed

[2019-06-07 21:11] davidz627 opened #78800 "CSI Attach (w/ external-attacher) incorrectly errors when multiple volume capabilities are specified in the PV"
/sig storage
/kind bug
xref: https://github.com/kubernetes-csi/external-attacher/issues/153
/cc @msau42 @saad-ali @jsafrane

[2019-06-07 21:46] johnbelamaric commented on #47992
I guess I would argue this:

1) Feature is already supported in CoreDNS, it's not part of the spec but it's there. If you want that behavior, go ahead and deploy CoreDNS.

2) The bug is in kube-dns, in that it gives only one IP instead of all IPs. This is also fixed in CoreDNS and the mitigation is to move to that.

/close

[2019-06-07 21:47] #47992 closed

[2019-06-07 22:17] tedyu commented on #78796
Can we parse the error text which follows 'Error creating:' ?

[2019-06-07 23:32] ryanmcnamara commented on #61185
We are also finding ourselves needing something pretty similar to this use case. In our case we need to enforce that for some instance only some (escalated) users can schedule pods on this instance. To the initial list in the description I would also add "setting the node name explicitly".

Re: the node name explicit setting, the concern here is that even if a taint is "no execute" and a pod doesn

[2019-06-08 02:10] liggitt commented on #78776
Fixed by https://github.com/kubernetes/kubernetes/pull/78782

[2019-06-08 02:10] #78776 closed

[2019-06-08 02:12] liggitt commented on #77873
If this is not a regression in 1.15, I'd expect it can be moved

[2019-06-08 03:29] MarouaniALA commented on #73140
having same issue any updates?

[2019-06-08 03:48] MarouaniALA commented on #73140
I deleted the svc every thing goes alright ;)

[2019-06-08 03:56] MikeSpreitzer opened #78807 "fakeTimer::Stop and Reset do not work"
**What happened**:
I was writing a variant of clock.FakeClock, and noticed a couple of bugs in `func (f *fakeTimer) Stop()`.  Look at the pointer comparison in https://github.com/kubernetes/kubernetes/blob/c7972d9a5e7f555371fec7a3237f08ebc1ae9d7c/staging/src/k8s.io/apimachinery/pkg/util/clock/clock.go#L298 --- the two pointers will never be equal, but the author clearly expected equality when `i`

[2019-06-08 03:57] MikeSpreitzer commented on #78807
@kubernetes/sig-api-machinery-bugs

[2019-06-08 09:56] aojea commented on #70248
Seems that we can start to have automated testing soon :) https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/sigs.k8s.io_kind/348/pull-kind-conformance-parallel-ipv6/1136793268353241088/

[2019-06-08 17:22] #34856 closed

[2019-06-08 17:22] #60558 closed

[2019-06-08 18:23] #68930 closed

[2019-06-08 18:52] BenTheElder commented on #70248
/assign
We're very close to having continuous testing for this.

[2019-06-08 19:24] #69638 closed

[2019-06-08 20:25] #72734 closed

[2019-06-08 21:07] jsmilani opened #78816 "The BoundServiceAccountTokenVolume feature creates tokens only readable by root"
**What happened**:
I am attempting to use the rotating service account certificate feature in kubernetes 1.14.3 and my infrastructure rotates the certificates every day but I found too many problems to fully implement.

This bug specifically addresses the permissions on the token file created inside the projected volume used by the BoundServiceAccountTokenVolume feature flag.

    $ ls -al /var/ru

[2019-06-08 21:13] jsmilani commented on #78816
@kubernetes/sig-auth

[2019-06-08 21:15] jsmilani commented on #78816
/sig auth

[2019-06-08 21:25] sttts opened #78817 "x-kubernetes-int-or-string behavior is not working as specified"
The server-side validation does not check the type of values with `x-kubernetes-int-or-string`.

Create a CRD like:
[code]

Then create a CR:
[code]
It is not rejected, but should because `intorstr` must not be a boolean.

[2019-06-08 21:26] #60694 closed

[2019-06-08 21:26] #72634 closed

[2019-06-08 21:29] #78817 closed

[2019-06-08 21:58] liggitt commented on #78816
Duplicate of https://github.com/kubernetes/kubernetes/issues/74565?

rw------- permissions are intentional. I would expect the owner of the file to be the user of the container.

[2019-06-08 21:58] liggitt commented on #78816
/cc @mikedanese

[2019-06-08 23:23] jsmilani commented on #78816
@liggitt you are right about being duplicate of #74565. I searched forever trying to find more details about using BoundServiceAccountTokenVolume and found very little and what I found was scattered all over. That ticket at points to a fix for this token permission issue when configuring the pod/container spec, but unfortunately I am using it with tools such as helm/tiller which defines its own de

[2019-06-08 23:23] #78816 closed

[2019-06-09 01:11] prameshj commented on #66651
@oxddr Was the problem happening with HostPort services? If yes, that is handled by kubelet, not kube-proxy. This was fixed in https://github.com/kubernetes/kubernetes/pull/59286, however conntrack is not installed by default in GCE VMs. Can you check if that's what you are running into?
We are working on getting conntrack installed by default.

[2019-06-09 01:49] johnjjung commented on #78256
I'm just wondering if any progress has been made on this, otherwise I think I'll have to do a workaround using some node-affinity and lots of labeling and yaml files for each process #

[2019-06-09 02:43] cy-zheng commented on #15066
Any solution with it? I found it so hard to run kubemark.

[2019-06-09 03:04] wybzju commented on #78733
@mattjmcnaughton
The issue can be persist.
The pod is just not immediately ready.

[2019-06-09 03:08] cy-zheng commented on #61538
Same issue... I think the document about kubemark pre-existing cluster deployment should be refined.

[2019-06-09 04:09] andyzhangx commented on #78657
https://github.com/kubernetes/kubernetes/pull/78700 should fix this issue, since the original VM may be in a limbo state.
/close

[2019-06-09 04:09] #78657 closed

[2019-06-09 06:00] zwxu commented on #57627
I0609 05:59:04.141155       1 dns.go:146] Starting endpointsController
I0609 05:59:04.141159       1 dns.go:149] Starting serviceController
I0609 05:59:04.141295       1 logs.go:41] skydns: ready for queries on cluster.local. for tcp://0.0.0.0:10053 [rcache 0]
I0609 05:59:04.141308       1 logs.go:41] skydns: ready for queries on cluster.local. for udp://0.0.0.0:10053 [rcache 0]
I0609 05:59:04.642

[2019-06-09 07:29] cwdsuzhou commented on #75230
/remove-lifecycle stale

[2019-06-09 09:16] bini0209 commented on #72468
I have also same error after restart my master node

[2019-06-09 09:58] Bessonov commented on #57838
/remove-lifecycle stale

[2019-06-09 12:08] jasongwartz opened #78822 "Add floating-point support to IntOrPercent"
**What would you like to be added**:
Additional floating-point handling to `GetValueFromIntOrPercent()` https://github.com/kubernetes/kubernetes/blob/a3ccea9d8743f2ff82e41b6c2af6dc2c41dc7b10/staging/src/k8s.io/apimachinery/pkg/util/intstr/intstr.go#L153, allowing users to pass `0.5` for the same behaviour as `"50%"`.

**Why is this needed**:
Some recent confusion arose with the PodDisruptionBudget

[2019-06-09 12:08] jasongwartz commented on #78822
@kubernetes/sig-api-machinery-feature-requests

[2019-06-09 13:09] mattjmcnaughton commented on #78733
Just to make sure I'm understanding, you are saying that the pod does eventually become ready after the restart, it just isn't immediately ready?

I think the best course of action is, if you are able, for you to upgrade to a supported kubernetes version and then we can see if we can repro on a supported version.

[2019-06-09 13:48] wybzju commented on #78733
@mattjmcnaughton

[2019-06-09 13:57] cmcarey commented on #19317
Getting this issue in `1.14.3`.

I deleted a namespace, and it shows as permanently "Terminating".  Removing the finalizer made no difference, and there are no pods running in the ns.

[2019-06-09 14:51] eloyekunle opened #78824 "Field Selector not applied in fake clients List"
**What would you like to be added**:
Currently, only Label selectors are applied in the `List` methods for the fake clients.

Enhance the `List` methods to also apply Field selectors.

**Why is this needed**:
Prevent false positives in tests depending on field selector being applied.

For example: [this Events test](https://github.com/kubernetes/dashboard/blob/master/src/app/backend/resource/pod/e

[2019-06-09 14:55] pswica commented on #78755
I've been testing this, and I don't think I'm running into this issue. What I do:

[code]

Can you let me know a bit more about the environment you are running kubernetes in?

[2019-06-09 14:57] tedyu commented on #78822
If we enhance IntOrString, it seems the new type should support int, float and string.
[code]

[2019-06-09 14:58] eloyekunle commented on #78824
@kubernetes/sig-api-machinery-bugs

[2019-06-09 14:58] eloyekunle commented on #78824
/good-first-issue /help-wanted

[2019-06-09 15:12] liggitt commented on #78822
IntOrSteing is generally regarded as a mistake, I don't anticipate furthering the multi-schema aspect. It also would not possible to do that in a way that would not break backwards compatibility with old clients.

Additionally, use of floating point numbers in API types is not recommended. See https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.m

[2019-06-09 15:12] #78822 closed

[2019-06-09 15:17] liggitt commented on #78824
Field selectors are applied serverside. The logic to extract object values to match field selectors is not available from within the fake client

[2019-06-09 15:38] eloyekunle commented on #78824
@liggitt Is it possible to simulate the logic in the fake client?

[2019-06-09 15:58] liggitt commented on #78824
You can add reactors to your instance of a fake client that return subsets of the list

[2019-06-09 16:07] JannikZed commented on #67999
hey there, I came across this issue, as I'm facing exactly the described problem with the too long pvc name. Unfortunately, I don't get all the discussions in here and I don't know if and how this issue got solved. I'm using kubernetes 1.13 with rancher 2.2.4 with the following issue:
[code]

[2019-06-09 17:16] soggiest commented on #77873
/milestone v1.16

[2019-06-09 20:33] devaips opened #78828 "Promote LimitRange Tests to Conformance"
Using the list of tested stable endpoints referenced in https://github.com/kubernetes/kubernetes/issues/78748, we can pick out the endpoints which are part of the LimitRange kind:

[replaceCoreV1NamespacedLimitRange](https://apisnoop.cncf.io/?zoomed=operationId-stable-core-replaceCoreV1NamespacedLimitRange&showUntested=false&showConformanceTested=false&level=stable)

[deleteCoreV1NamespacedLimitRa

[2019-06-09 23:04] devaips opened #78830 "Promote PersistentVolumeClaim Tests to Conformance"
Using the list of tested stable endpoints referenced in https://github.com/kubernetes/kubernetes/issues/78748, we can pick out the endpoints which are part of the PersistentVolumeClaim kind:

[createCoreV1NamespacedPersistentVolumeClaim](https://apisnoop.cncf.io/?zoomed=operationId-stable-core-createCoreV1NamespacedPersistentVolumeClaim&showUntested=false&showConformanceTested=false)

[deleteCoreV

[2019-06-09 23:11] devaips opened #78831 "Promote ResourceQuota Tests to Conformance"
Using the list of tested stable endpoints referenced in https://github.com/kubernetes/kubernetes/issues/78748, we can pick out the endpoints which are part of the ResourceQuota kind:

[deleteCoreV1NamespacedResourceQuota](https://apisnoop.cncf.io/?zoomed=operationId-stable-core-deleteCoreV1NamespacedResourceQuota&showUntested=false&showConformanceTested=false&level=stable)

[replaceCoreV1Namespace

[2019-06-09 23:16] devaips opened #78832 "Promote ConfigMap Tests to Conformance"
Using the list of tested stable endpoints referenced in https://github.com/kubernetes/kubernetes/issues/78748, we can pick out the endpoints which are part of the ConfigMap kind:

[patchCoreV1NamespacedConfigMap](https://apisnoop.cncf.io/?zoomed=operationId-stable-core-patchCoreV1NamespacedConfigMap&showUntested=false&showConformanceTested=false)

This is a stable core endpoint which has existing

[2019-06-09 23:22] devaips opened #78833 "Promote Node Tests to Conformance"
Using the list of tested stable endpoints referenced in https://github.com/kubernetes/kubernetes/issues/78748, we can pick out the endpoints which are part of the Node kind:

[replaceCoreV1NodeStatus](https://apisnoop.cncf.io/?zoomed=operationId-stable-core-replaceCoreV1NodeStatus&showUntested=false&showConformanceTested=false)

[replaceCoreV1Node](https://apisnoop.cncf.io/?zoomed=operationId-stab

[2019-06-09 23:52] #67268 closed

[2019-06-09 23:56] devaips opened #78834 "Write Scale Tests for Conformance"
Using the list of tested stable endpoints referenced in https://github.com/kubernetes/kubernetes/issues/78748, we can pick out the endpoints which are part of the Scale kind:

[replaceCoreV1NamespacedReplicationControllerScale](https://apisnoop.cncf.io/?zoomed=operationId-stable-core-replaceCoreV1NamespacedReplicationControllerScale&showUntested=false&showConformanceTested=false)

[readCoreV1Names

[2019-06-10 00:00] devaips opened #78835 "Promote ServiceAccount Tests to Conformance"
Using the list of tested stable endpoints referenced in https://github.com/kubernetes/kubernetes/issues/78748, we can pick out the endpoints which are part of the ServiceAccount kind:

[replaceCoreV1NamespacedServiceAccount](https://apisnoop.cncf.io/?zoomed=operationId-stable-core-replaceCoreV1NamespacedServiceAccount&showUntested=false&showConformanceTested=false)

This is a stable core endpoint

[2019-06-10 01:44] shdeanwang commented on #78511
This issue been solved ,I edited kubernetes config file instead use command  ,and copy the credential code instead use ca.crt and ca.key file.

[2019-06-10 01:44] #78511 closed

[2019-06-10 02:29] cizixs commented on #78766
@liggitt It's not ideal to block on `tryThrottle()` method, as @answer1991 mentioned, this would cause APIServer experience higher and higher load, and unable to recover.

How about return `429 Too Many Requests` after given time(or even immediately), so burst requests won't cause APIServer too much load.

[2019-06-10 02:43] danielqsj commented on #78759
/assign

[2019-06-10 02:55] #69840 closed

[2019-06-10 04:03] hainesc commented on #78480
/triage needs-information

[2019-06-10 04:34] yehaifeng opened #78840 "If it don't record the rollhisory when i deploy the deployment"
**What would you like to be added**:
I want the function than it didn't record rollhistory when i deploy the deployment object.

**Why is this needed**:
Because sometimes the new deployment but the images is not new, and i want rollback the version from images.

[2019-06-10 04:59] inductor commented on #42885
What's the current situation of this? 👀

[2019-06-10 05:22] subramanian-neelakantan opened #78841 "vSphere Volume not placed as per pod's selected node without allowedTopolgies"
**What happened**:
In a vCenter environment with more than one vSAN cluster where we want to treat each cluster as a zone by itself, the Volume gets placed on a vSAN datastore that is not the same cluster as the pod. Here are the details of the yamls.
Storage class:
[code]
StatefulSet:
[code]
Once I deploy the statefulset, one of the pods is scheduled in zone az-1, but VCP creates a PV in zone az-

[2019-06-10 05:24] subramanian-neelakantan commented on #78841
/cc skarthiksrinivas

[2019-06-10 05:52] cy-zheng opened #78842 "Enable setting up Kubemark master outside GCE."
**What would you like to be added**:
Enable setting up Kubemark master outside GCE.

**Why is this needed**:
Currently, kubemark master deployment scripts & config files is designed for GCE, and there are not enough information about deploying on bare metal machines. But kubemark is a brilliant performance test tool and we want to use it in company intranet.

[2019-06-10 05:58] cy-zheng commented on #78842
/sig scalability

[2019-06-10 06:34] 0312birdzhang commented on #61999
This issue still exist.
docker info:
[code]
kubectl version: **v1.11.7**

/var/log/message :
[code]

[2019-06-10 06:36] aojea commented on #70248
Current tests failures for referenceÑ

- [ ] [sig-network] DNS should provide DNS for services [Conformance] expand_more	10m17s
- [ ] [sig-network] DNS should provide DNS for the cluster [Conformance] expand_more	10m11s
- [ ] [k8s.io] [sig-node] PreStop should call prestop when killing a pod [Conformance] expand_more	1m42s
- [ ] [sig-network] DNS should provide DNS for ExternalName services [Confo

[2019-06-10 07:28] zhangxiaoyu-zidif commented on #78206
/assign @fankangbest

[2019-06-10 07:29] zhangxiaoyu-zidif commented on #78766
/assign @cizixs

[2019-06-10 07:32] zhangxiaoyu-zidif commented on #78766
/assign

[2019-06-10 07:33] zhangxiaoyu-zidif commented on #78206
/assign

[2019-06-10 07:33] feiskyer opened #78843 "Cross resource group LoadBalancers"
**What would you like to be added**:

1- support for different LB RG
2- another annotation for the LB name, so that customers can specify a different LB name (matching their naming conventions for example). Useful when 1. is possible.

**Why is this needed**:

Users want to reuse their existing LoadBalancer that are created before provisioning Kubernetes cluster.

/sig azure
/kind feature
/milesto

[2019-06-10 07:47] rkumar1609 commented on #78167
Dear Draveness,

I have downgraded HELM by command #choco install kubernetes-helm --version 2.13.1 --yes --force

but still same issue is occurring. I have received the message of successful downgrade of HELM but nothing help after it.

More details in below link

https://community.qlik.com/t5/Qlik-Sense-Multi-Cloud/Error-while-Installing-Qlik-Sense-in-Kubernetes/m-p/1589721#M102

Can anyone help

[2019-06-10 07:54] draveness commented on #78167
/triage support
/sig apps

[2019-06-10 07:58] draveness commented on #78167
It doesn't seem like a problem with kubernetes, and maybe you could find the support of qilk sense.

[2019-06-10 07:58] sez98 commented on #37546
[code]
this is the reply i get.. please help

[2019-06-10 08:02] rkumar1609 commented on #78167
Dear draveness

Qlik Sense people are saying it is from Kubernetes.

Thanks,
Rohit

[2019-06-10 08:49] Pensu opened #78845 "Kubernetes-master build failing with golang-master"
Hi,

I am trying to build kubernetes-master with golang-master and I am getting this error:

[code]

Here is the golang version:

[code]

Any tips on what could be the issue here? Or how to debug it? TIA.

CC: @mkumatag @liggitt

[2019-06-10 08:56] Pensu commented on #78845
/sig api-machinery

[2019-06-10 09:09] 323929 commented on #74651
@danielloczi Hi danielloczi , How do you fix this issue? I also meet this issue

[2019-06-10 09:19] devarajchidambaram opened #78846 "HPA not working, unknown target CPU"
Im trying to auto scale the kuber pods but   not able to get the hpa cpu metrics . so its failing to auto scale.

deployment.yaml

[code]
Ingress.yaml

[code]

Services.yaml

[code]

CMD output

[code]

Here horizontalpodautoscaler.autoscaling/kubernetes-tutorial-deployment showing  target is UNKNOWN.

kubectl describe will be

This is the error I got

[code]

Im new to the kubernetes . I checked

[2019-06-10 09:37] eloyekunle commented on #78824
Thanks @liggitt. Closing now.

[2019-06-10 09:37] #78824 closed

[2019-06-10 10:07] timyinshi opened #78847 "Problems with building kubernetes"
/kind bug
/sig release

**What happened**:
I'm building kubernetes using the make command, reporting an error, does anyone know why?

root@inserver-inspurclouddev-392-10:/opt/go/src/k8s.io/kubernetes# make
+++ [0610 17:52:14] Building go targets for linux/amd64:
    ./vendor/k8s.io/code-generator/cmd/defaulter-gen
find: 'rsync': No such file or directory
find: 'rsync': No such file or directory
fi

[2019-06-10 10:32] pracucci opened #78848 "Calculate oom_score_adj in a CPU-agnostic way, taking in consideration Pod Priority too"
**What would you like to be added**:

I would like to start a conversation to understand if we may improve `GetContainerOOMScoreAdjust` to:

1. Calculate the `oom_score_adj` in a CPU-agnosticy way
2. Take in account Pod Priority too

**Why is this needed**:

Currently, the `kubelet` sets a `oom_score_adj` value for each container based on the Pod QoS:

- `Guaranteed`: `-998`
- `BestEffort`: `1000`

[2019-06-10 10:32] pracucci commented on #78848
/sig node

[2019-06-10 10:46] rkumar1609 commented on #78167
Dear Draveness,

It could be the problem of HELM instead of Kubernetes, but not of Qlik for sure.

Thanks,
Rohit

[2019-06-10 11:08] oxddr commented on #78734
It seems, that we have an actual problem with test, not only issues with Prow (https://github.com/kubernetes/test-infra/issues/12940). We have two runs, where apiserver blew up. @krzysied is looking into this issue and hopefully by the end of the day (CET time) will be able to provide more insights. Right now I'd claim we have a regression.

/cc @krzysied @mborsz

[2019-06-10 11:54] mattjmcnaughton commented on #78733
Am I understanding that you are suggesting that when we init the readiness worker, we also run `resultsManager.Set` for all container ids to set them to the "proper" state? I think what's hard about that is I don't believe we have any way of knowing what their "proper" state is.

At a higher level, can you describe the application issues you're running into because of the `readinessProbe` being re

[2019-06-10 11:57] chaudyg commented on #77864
**Another example**
Just had another flavour of this incident. It lasted 4 minutes but was quite intense.

- Two apiserver (out of 3) pods got stuck (still investigating the root cause, but it's irrelevant in the current context).
![image](https://user-images.githubusercontent.com/7817963/59192650-16b96d80-8b7b-11e9-8bd2-2286f4a172ab.png)
- the controller-manager leader was still perfectly healthy

[2019-06-10 12:01] tcmichael commented on #78420
/assign

[2019-06-10 12:18] antonlisovenko opened #78852 "Support for "oneOf" validation if status subresource is enabled"
**What happened**:
Cannot create a CRD if both `validation.openAPIV3Schema.oneOf` and `subresources.status` are specified
**What you expected to happen**:
We use `oneOf` for validation but this blocks from using `subresources.status` in the same time

**How to reproduce it (as minimally and precisely as possible)**:
[code]

results in the following exception:
`The CustomResourceDefinition "tests.t

[2019-06-10 12:22] andyzhangx commented on #76076
as the issue detail said, it won't allow attach one azure disk volume to multiple nodes

[2019-06-10 12:22] #76076 closed

[2019-06-10 12:22] RamanPndy commented on #66231
@stupidlittlemonkey How did you solve this problem ? I'm facing the same problem and used flannel as network plugin and kube-proxy is also throwing some errors showing it's not able to list services and nodes. I'm trying to install metric-server service.

Please suggest me any possible solution of this.

[2019-06-10 12:43] tuminoid commented on #68222
This does not work. I'm on 1.14.2.

From container to host:
[code]

From host to container (where * expands to 2 files at least):
[code]

[2019-06-10 12:56] yue9944882 commented on #78852
/sig api-machinery

[2019-06-10 12:59] tuminoid opened #78854 "kubectl cp with wildcards do not work"
**What happened**:
Kubectl cp in 1.14.2 doesn't support wildcards, despite #72641 being merged.

From container to host (trying to copy `entrypoint,sh`):
[code]

From host to container (where * expands to 2 local files at least):
[code]

**What you expected to happen**:
Kubectl can handle wildcards, and files are copied successfully.

**How to reproduce it (as minimally and precisely as possible)*

[2019-06-10 12:59] tuminoid commented on #78854
/sig cli
@dixudx

[2019-06-10 13:08] houshengbo opened #78855 "Not found 404: https://storage.googleapis.com/kubernetes-release-gke/release/v1.13.6-gke.5/kubernetes-client-darwin-amd64.tar.gz"
Not found 404: https://storage.googleapis.com/kubernetes-release-gke/release/v1.13.6-gke.5/kubernetes-client-darwin-amd64.tar.gz,
but the artifact at https://storage.googleapis.com/kubernetes-release-gke/release/v1.13.6-gke.5/kubernetes-client-linux-amd64.tar.gz is available.

I am wondering what is wrong with the link??

[2019-06-10 13:15] wybzju commented on #78733
@mattjmcnaughton
 My suggestion is that when init the readiness worker,  just init the containerID rather than set to empty. and it is not need to run resultsManager.Set。
[code]
Or, don't init the containerID
[code]
In above code, the container status will be set twice with two different status. I think it only should be set once.     if the code run w.resultsManager.Set(w.containerID, result, w.p

[2019-06-10 13:17] liggitt commented on #78741
That is how all the resource verbs work. See https://kubernetes.io/docs/reference/access-authn-authz/authorization/#determine-the-request-verb

No, the subresources and associated verbs should be included in the API doc. That would be worth an issue against https://github.com/kubernetes/website/issues/ to fix the generator to pick up those subresources

[2019-06-10 13:17] oxddr commented on #66651
1) I was able to flush conntrack on the affected machine (which resolved the issue btw), so I assume it was installed there.
2) I am not sure what HostPort is in this context. We had a problem with DNS traffic being blackholed FWIW.

[2019-06-10 14:05] krzysied commented on #78734
I've run gce 5k test manually. It failed in similar way as the prow job. We have regression.

I'm not sure what is the root cause of the regression yet.

Good thing is that regression affected density test, which allows to "quickly" verify if k8s build is good or bad. I will try to run bisection to find the root cause.

[2019-06-10 14:17] adohe commented on #78766
Finally kube-apiserver should not act as proxy to call aa server, redirect should be more acceptable.

[2019-06-10 14:23] liggitt commented on #78766
That requires all API clients to have visibility to all extension servers, and all extension servers to recognize all configured end-user authentication methods. Neither of those can be assumed today.

[2019-06-10 14:24] jrroman commented on #78287
@vllry could I have this assigned to me?

[2019-06-10 14:29] vllry commented on #78287
@jrroman this is currently in progress.

[2019-06-10 14:30] bclau opened #78857 "windows: kubectl port-forward does not work"
**What happened**:

/sig windows

**What you expected to happen**:

``kubectl port-forward`` will generate the follow error when using Windows pods:

    curl http://127.0.0.1:40271
    Handling connection for 40271
    E0610 14:21:10.685551  124724 portforward.go:400] an error occurred forwarding 40271 -> 80: error forwarding port 80 to pod 40c9dc69b4d527427b72ebe4d8ea4a6a794fd7acc96c20373d025743

[2019-06-10 14:34] bclau commented on #78023
Update: This also happens with kube-proxy: https://paste.ubuntu.com/p/qbGKdgBDhc/

It will generate ~1GB of logs every few days while being idle / unused. That is a bit too much, IMO. I've had ~18GB (or more) of logs on a node after a few weeks.

[2019-06-10 15:17] Joseph-Irving commented on #78377
From the docs   `set .spec.backoffLimit to specify the number of retries before considering a Job as failed.` and the API `Specifies the number of retries before marking this job failed. Defaults to 6`. It does seem to indicate that the Nth retry should take place so either this description is wrong or the code should be changed.

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller

[2019-06-10 15:18] claudiubelu opened #78861 "tests: Test creates new node, but does not delete it afterwards"
**Which jobs are failing**:

N/A

**Which test(s) are failing**:

    [sig-auth] [Feature:NodeAuthorizer] A node shouldn't be able to create another node

**Since when has it been failing**:

N/A

**Testgrid link**:

N/A

**Reason for failure**:

The test creates a new ``foo`` node, but it does not delete it after the test ends:

    kubectl get nodes
    NAME                    STATUS     ROLES

[2019-06-10 15:25] dixudx commented on #78854
@tuminoid Actually kubectl cp does support wildcards now.

tar: Removing leading `/' from member names
tar: /entry*.sh: Cannot stat: No such file or directory
tar: Exiting with failure status due to previous errors

Seems we are encountering an edge case. You can try to issue `tar cf - /entry*.sh > /dev/null` in the container manually. A same error will occur.

Anyway, current `kubectl cp` does no

[2019-06-10 15:56] timothysc commented on #72102
@gyuho @xiang90 - what's the state here, this is still an issue.

[2019-06-10 15:57] tuminoid commented on #78854
Can you give working examples? I thought I was testing the simplest possible cases.

`kubectl cp --help` has no examples or mentions about supporting wildcards either.

[2019-06-10 16:01] #78784 closed

[2019-06-10 16:22] pswica commented on #78857
The command actually tells you:

`Forward one or more local ports to a pod. This command requires the node to have 'socat' installed`

I would label this as:

/kind feature
/remove-kind bug

[2019-06-10 16:25] pswica commented on #78847
Do you have rsync installed?

https://github.com/kubernetes/community/blob/master/contributors/devel/development.md#rsync

[2019-06-10 16:33] liggitt commented on #75563
this cleanup is not release-blocking

/milestone v1.16

[2019-06-10 16:35] pswica commented on #76085
What happens if you zip the application to a file, then kubectl cp that file to your OSX machine. To me, it sounds like an OSX/zipper issue rather than a `kubectl exec` one.

[2019-06-10 16:37] justaugustus commented on #71677
/assign @justaugustus @tpepper
/sig release
/area release-eng
/milestone v1.16

[2019-06-10 16:40] justaugustus commented on #68522
This looks like it should be a KEP and not a tracking issue.

I see:

listed as the work item for 1.15; are there any updates regarding this?

/milestone clear

[2019-06-10 16:42] justaugustus commented on #51540
@PatrickLang -- can you provide an update on this?

/remove-sig azure
/remove-lifecycle stale
/milestone clear

[2019-06-10 16:48] dashpole commented on #68522
@justaugustus

This is one of the working items under the metrics overhaul KEP: https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/20181106-kubernetes-metrics-overhaul.md#export-less-metrics

The 1.15 item was completed in #78504, so this doesn't have anything left for 1.15.

[2019-06-10 16:51] nikhita commented on #78527
/cc @fejta @ixdy

[2019-06-10 16:55] mlensment commented on #65835
Any progress on this?

[2019-06-10 17:04] soggiest commented on #78562
Once https://github.com/kubernetes/kubernetes/pull/78851 is merged this should resolve any issues around CoreDNS version.

[2019-06-10 17:06] soggiest commented on #78123
Since #78302 and #78303 we're moved to 1.16, and we're waiting for #78851 to merge, can we move this issue to 1.16?

[2019-06-10 17:10] alejandrox1 commented on #76721
/milestone v1.16

[2019-06-10 17:11] soggiest commented on #74893
This hasn't been worked looked at in about a month, I'm moving to 1.16
/milestone v1.16

[2019-06-10 17:14] soggiest commented on #74375
@spiffxp any updates on this?

[2019-06-10 17:15] alejandrox1 commented on #73884
https://github.com/kubernetes/perf-tests/pull/524 won't merge until code freeze is over
/milestone v1.16

[2019-06-10 17:15] soggiest commented on #74150
Since there was no work on this this release I'll bump it one more. If it slips another release we may want to remove it from milestone tracking.
/milestone v1.16

[2019-06-10 17:16] soggiest commented on #70249
Since I didn't receive a response I'm bumping this to 1.16
/milestone v1.16

[2019-06-10 17:28] alejandrox1 commented on #74931
Last failure was 4 days ago. will continue observing and see if it clears out
/milestone v1.16

[2019-06-10 17:40] siosphere commented on #78854
Trying to copy local to remote with wildcard on the local side does not work.

[code]
Even with providing extension
[code]

[2019-06-10 18:01] JCMais commented on #29420
@thokin @smarterclayton this issue is really old, so sorry to comment on that. But from this thread I suppose the following sections on the docs are wrong:

https://kubernetes.io/docs/concepts/services-networking/service/#dns
https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#srv-records

Since the DNS record seems to not follow this format anymore.

[2019-06-10 18:01] gyuho commented on #72102
@jingyih @jpbetz Can we ping gRPC team again? Open to discuss over the conference call.

[2019-06-10 18:05] dashpole opened #78865 "Local Ephemeral Storage limit not working"
@arunbpt7 opened an issue in kubernetes/enhancements.  I am moving it here.
/kind bug
/priority important-longterm
/sig node

As discussed in #361 , Looking for a solution to restrict ephemeral storage for pods usage . As it is found that ephemeral storage is shared across all the pods and that is going to be fill up /var/lib/docker frequently based on the pods writable layer and logs. This is cau

[2019-06-10 18:06] dashpole commented on #78865
Can you show your monitoring that shows that the pod exceeds its limit for an extended period of time (a few minutes?)

[2019-06-10 18:10] #72808 closed

[2019-06-10 18:14] arunbpt7 commented on #78865
containers:
        - name: busybox
          image:<imagename>
          resources:
            requests:
              ephemeral-storage: "500Mi"
            limits:
              ephemeral-storage: "500Mi"

State:          Running
      Started:      Mon, 10 Jun 2019 12:48:57 -0400
    Ready:          True
    Restart Count:  0
    Limits:
      ephemeral-storage:  500Mi
    Requests:
      eph

[2019-06-10 18:18] rmorrise commented on #40908
This issue is causing outages for my app. What is the recommended way to work around it?

[2019-06-10 18:42] jingyih commented on #72102
@gyuho Will do!

[2019-06-10 18:56] dinfyru commented on #60787
/reopen
I also need `node capacity based on GHz`

[2019-06-10 19:22] liggitt commented on #78633
By the time a kube-apiserver is upgraded to 1.14, all nodes must be at 1.12+.

Prior to upgrading nodes to 1.12+, all API servers must have been at 1.12+ as well, which would have populated the procMount field in any newly created or updated pods.

Part of upgrading nodes to 1.12 is draining existing pods off of those nodes. That means by the time you get to 1.14, there should be no remaining pods

[2019-06-10 19:26] rhockenbury commented on #77360
Seeing a lot of this exception:

[code]

[2019-06-10 19:45] benjaminjb commented on #73492
/remove-lifecycle stale

[2019-06-10 19:57] wsong commented on #78741
Hmm, okay. I guess I didn't properly understand how the request verbs were calculated. Thanks for the link.

[2019-06-10 20:10] davidz627 commented on #70773
/remove-lifecycle stale
still required

[2019-06-10 20:11] davidz627 commented on #72661
/remove-lifecycle stale
I believe this is still not resolved

[2019-06-10 20:11] davidz627 commented on #73535
/remove-lifecycle stale
I believe the PR referenced has not yet merged and the issue is not resolved

[2019-06-10 20:17] dims commented on #77360
whoa! that stack trace is like punch in the gut (brings back memories!) @dougm :)

[2019-06-10 20:24] #67202 closed

[2019-06-10 20:40] liggitt commented on #64333
fixed by https://github.com/kubernetes/kubernetes/pull/78080 in 1.15

[2019-06-10 20:40] #64333 closed

[2019-06-10 20:50] liggitt commented on #78633
that is true, but the default applies to a child field of non-pod objects as well, so it is conceivable a ReplicaSet or Deployment could have remained untouched since before 1.12

/reopen
/assign

[2019-06-10 20:57] aegershman commented on #77535
Witnessing same thing as https://github.com/kubernetes/kubernetes/issues/77535#issuecomment-496750131 and https://github.com/kubernetes/kubernetes/issues/77535#issuecomment-497843332

[2019-06-10 21:03] philips commented on #70132
/remove-lifecycle stale

[2019-06-10 21:10] spiffxp commented on #72661
/milestone clear
I don't think this is specific to v1.14

[2019-06-10 21:13] cliu-splunk commented on #78377
@Joseph-Irving Yeah, as you described, changing the comparison won't help much with the issue.

I feel that something is missing here to ensure a consistent result. To me, it is common that people would rely on a complete run of the container to deal with various logics, e.g. data persistence or resource cleanup in the end.

[2019-06-10 21:16] fedebongio commented on #78783
/assign @caesarxuchao

[2019-06-10 21:18] fedebongio commented on #78845
/assign @jennybuckley

[2019-06-10 21:19] fedebongio commented on #78852
/assign @roycaihw
/cc @sttts

[2019-06-10 21:21] configurator commented on #78845
/cc @configurator

[2019-06-10 21:49] alejandrox1 commented on #78123
@soggiest https://github.com/kubernetes/kubernetes/pull/78303 ? is that the right PR?

[2019-06-10 22:47] tsuna commented on #57250
ah thanks @brunojcm, I had missed the piece about setting the `externalTrafficPolicy` to `Cluster` instead of `Local`. NLB + PROXY protocol works fine now, even though the AWS console still shows all the nodes as unhealthy.

Previously when they were showing nodes as unhealthy I would see 25% of the traffic getting dropped (I have 4 nodes and 3 replicas of the nginx ingress, so the traffic that la

[2019-06-10 23:03] alexeldeib commented on #77489
@sambdavidson I am seeing something similar but kind of opposite. I think my issue may be more config/docs related, so I'll take it elsewhere if it proves to be unrelated.

My kubelet is configured with `tlsCertFile` and `tlsKeyFile`. When I boot up the server, it creates CSRs and when I look in /var/lib/kubelet/pki I see one new Serving certificate and two new Client certificates.

However, Kubel

[2019-06-10 23:20] liggitt commented on #78633
/milestone v1.15

this is important to resolve in 1.14, and in 1.15 before release if at all possible

[2019-06-10 23:20] liggitt commented on #78633
/priority critical-urgent

[2019-06-10 23:23] dougm commented on #77360
@dims indeed!!

@rhockenbury apologies, I must have had the change for PR #78876 locally, but failed to include it as I had focused on the signature issue and updating vendor/

[2019-06-10 23:42] mml commented on #78633
I would like to see test coverage for this, as an upgrade test, since it seems it's a general principle but there might be many ways to violate it.

We should be able to give a resource, and for each resource a set of mutations we think shouldn't cause anything to happen to pods (including the empty mutation: do nothing), and then the test does the upgrade and waits to make sure all the pods were

[2019-06-10 23:56] #77135 closed

[2019-06-11 00:15] #66582 closed

[2019-06-11 00:49] dpkirchner opened #78879 "kubectl cp does not return an error when the source file doesn't exist"
**What happened**:

Running `kubectl cp /some/file/that/doesnt/exist pod:/tmp` silently fails if that source file doesn't exist.

**What you expected to happen**:

I expected kubectl to exit with a non-zero status code and to print a standard error message like so:

`ls: /some/file/that/doesnt/exist: No such file or directory`

**How to reproduce it (as minimally and precisely as possible)**:

Fin

[2019-06-11 00:53] soggiest commented on #78123
Good catch, I meant #78033

[2019-06-11 00:57] tedyu commented on #78854
Looks like the wildcard doesn't support source or destination being local.
See CopyOptions#Run

[2019-06-11 01:00] timyinshi commented on #78847
@pswica  i have installed rsync,but the error is still existed.
root@inserver-inspurclouddev-392-10:/opt/go/src/k8s.io/kubernetes# rsync --version
rsync  version 3.1.3  protocol version 31
Copyright (C) 1996-2018 by Andrew Tridgell, Wayne Davison, and others.
Web site: http://rsync.samba.org/
Capabilities:
    64-bit files, 64-bit inums, 64-bit timestamps, 64-bit long ints,
    socketpairs, hardli

[2019-06-11 01:15] davidz627 opened #78880 "Unclear error when GCE PD disk attached as READ_ONLY and attempting to MountDevice !readOnly"
When an unformatted disk is attached as `readOnly` through `PersistentVolume.spec.GCEPersistentVolumeSource.readOnly` if we then try to mount !readOnly with `Pod.spec.volumes.persistentVolumeClaim.readOnly=false`  we get the error:
[code]

We should return more error information than just "exit status 1"

/kind cleanup
/sig storage
/priority important-longterm
/cc @msau42
xref: https://github.com/