[2021-05-24 00:26] timscm commented on #102210
So I need to wait new version of kubeadm, right?
And there is another issue: the kubenet need to assign nide ipv6 address to key: nodePortAddresses, and then it will create ipvs rule for the ipv6 address on service nodePort, is this a bug? I thought it is, because IPv4 can keep nodePortAddresses=nill, and can create the ipvs rule for the service nodePort.

[2021-05-24 01:05] yuzhiquan commented on #102151
@Haleygo you need make pr in k/k, not self-repo.

[2021-05-24 02:20] navist2020 commented on #102208
It seems that the cni plugin is not started in your cluster.

[2021-05-24 02:23] navist2020 commented on #102208
You can use the following command after the cluster starts:
[code]

[2021-05-24 02:31] yuzhiquan commented on #102211
/triage accepted
/assign
This is refs https://github.com/kubernetes/kubernetes/pull/101822#discussion_r636946012, and i would like to resolve this.
@ahg-g does this issue should wiat for https://github.com/kubernetes/kubernetes/pull/99597 merged first?

[2021-05-24 04:13] uablrek commented on #102210
You must upgrade K8s eventually. How it's done, with `kubeadm` or not, doesn't matter.

I don't understand the second question. "kubenet"? You are using Calico, right. I normally don't set `nodePortAddresses` and nodeports are assigned fine.

Anyway, there questions are not related to this issue and is better asked in some forum, e.g. the #sig-network slack channel https://app.slack.com/client/T09

[2021-05-24 04:13] #102210 closed

[2021-05-24 04:27] vinaykul commented on #5774
/remove-lifecycle stale

KEP approved and targeted for next release. Implementation in progress.

[2021-05-24 04:37] timscm commented on #102210
Sorry, it's a mistake for kubenet, I mean the kube-proxy, it doesn't create the ipvs rule based on IPv6 node ip, but the kube-proxy will create this when I explicitly update the kube-proxy configmap item "nodePortAddresses: null" to "nodePortAddresses: ["130::4/64", "130.255.0.4/32"]", should be this a bug? Because the kube-proxy doesn't get the interfaces automatically which assigned IPv6 address

[2021-05-24 04:50] tomkcpr commented on #71647
This was happening to me for some time until I learned that there is a certificate expiration time.  After installing the bootstrap nodes, the masters should be built out shortly after the bootstrap nodes are started up ( 24H or maybe 8H ).  After that, the masters will not be completed correctly I think.  I wrote up my own install for VMware and OpenShift w/ Kubernetes below and included a link t

[2021-05-24 04:58] uablrek commented on #102210
Ah, I see. Yes I think that is a bug related to you extremely old kernel (please upgrade if you can);
https://github.com/kubernetes/kubernetes/issues/93858

But you found a work-around which is great :+1: I'll make a note in the other issue.

[2021-05-24 04:59] uablrek commented on #93858
Work around; assign the node address to `nodePortAddresses`, please see https://github.com/kubernetes/kubernetes/issues/102210#issuecomment-846726543.

[2021-05-24 05:49] Haleygo commented on #102151
@yuzhiquan Thanks for reminder! I was meant to pull a draft, get it right now.

[2021-05-24 05:54] Haleygo commented on #102151
@ahg-g I am not sure about the second request :

 and I just moved the default set of plugins under createFromProvider, Is that the right place to go?

[2021-05-24 06:59] wzshiming commented on #102230
This is a duplicate Issue #101093
The affected versions are  1.18.18, 1.19.10, 1.20.6, 1.21.0, please try another version.

[2021-05-24 07:26] Bessonov commented on #57660
/remove-lifecycle stale

[2021-05-24 07:48] yuzhiquan commented on #102151
Ok, you can make WIP pr.

[2021-05-24 08:12] MadhavJivrajani commented on #102208
/kind support

[2021-05-24 08:16] ebehar-openai commented on #97778
/close

[2021-05-24 08:17] #97778 closed

[2021-05-24 08:54] swatisehgal commented on #102191
/sig node

[2021-05-24 10:49] #95762 closed

[2021-05-24 10:56] dims commented on #101657
Note from golang team about this bug is here:
https://github.com/golang/go/issues/45697#issuecomment-826007480

[2021-05-24 11:29] swatisehgal commented on #102190
@AlexeyPerevalov is working on this already. https://github.com/kubernetes/kubernetes/pull/97415 fixes the above issue.

[2021-05-24 11:32] fromanirh commented on #102190
worth pointing out that the podresources e2e test don't capture the problem documented here, so they should be updated.
For this reason should _NOT_ cause the tests to fail https://github.com/kubernetes/kubernetes/pull/97415
I can fix the e2e tests later.

[2021-05-24 11:42] Elbehery opened #102248 "[sig-storage][csi-translation] Duplicate zone information for in-tree PV"
#### What happened:
AWS EBS CSI driver returns `duplicate` topology segments
[code]

#### What you expected to happen:
It should merge the `identical` topology segments
#### How to reproduce it (as minimally and precisely as possible):
Enabling `csi-migration` , and then describe the `PV`
#### Anything else we need to know?:
I have found in the docs [this](https://github.com/kubernetes/kubernetes/

[2021-05-24 11:42] MadhavJivrajani commented on #102017
/kind support

[2021-05-24 11:42] Elbehery commented on #102248
/assign @jsafrane

[2021-05-24 11:43] Elbehery commented on #102248
/sig storage
/tirage accepted
/assign @Elbehery

[2021-05-24 12:16] damemi commented on #99605
I was under the impression that the scheduling simulator would focus more on the scheduling behaviors, like @alculquicondor mentioned. From the description:

This implies to me that being able to create/delete pods and nodes is a part of the simulator (ie, test data population), but not what's "being simulated" whereas the behavior of spreading, affinity, preemption, etc is more along what Aldo me

[2021-05-24 13:35] jsafrane commented on #102248
It's caused by the migration from CSI to in-tree PV. AWS EBS CSI driver provides PV with:

[code]

CSI translation changes `topology.ebs.csi.aws.com/zone` -> `topology.kubernetes.io/zone` and we end up with two same items in the array. It makes sense to squash these duplicates.

[2021-05-24 13:59] andyzhangx commented on #97031
@Jiawei0227 FYI, I am planning to use this PR to fix the unmount issue in Azure File & SMB CSI driver: https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/671
Not sure how to handle gracefully in k8s subPath code since that's a common code.

[2021-05-24 14:45] gyliu513 commented on #69687
A really long discussion here :), does this feature has been delivered in Kubernetes? Any document that I can refer to? Thanks!

[2021-05-24 14:48] Cib0rg commented on #78761
I can reproduce that on my 1.18clusterwith custom metrics. And for me that reproduces if I recreate hpa with metrics change - if last metric set high pod count then hpa stucks and don't downscale it.

[2021-05-24 15:13] liggitt commented on #99603
is this required for exec auth GA in 1.22?

[2021-05-24 15:13] danielrodriguez commented on #12123
I would like to take this @eddiezane
cc @seans3 @mengqiy

[2021-05-24 15:18] jsafrane commented on #102248
cc @Jiawei0227 @msau42, what do you think?

[2021-05-24 15:45] DXist commented on #69687
@gyliu513 , at the moment it's available only when

* HPAScaleToZero feature gate is enabled and
* external or objects metrics are used to describe the scaled resource (like length of an external task queue, task ingress/egress ratio, etc.)

[2021-05-24 16:01] junaid-ali commented on #94627
Faced a very similar issue, where scheduler created more than 4 pods (`maxSkew` set to `4`) on one node (only one node available with a specific nodeAffinity label).

[2021-05-24 16:10] #79958 closed

[2021-05-24 16:23] fenngwd commented on #101716
/assign

[2021-05-24 16:23] apelisse commented on #98449
/remove-lifecycle frozen
/cc @nikhita

[2021-05-24 16:24] enj commented on #78494
/assign @enj

To clarify next steps on getting this fixed.

[2021-05-24 16:27] enj commented on #78494
/help

[2021-05-24 16:29] Huang-Wei commented on #94627
@junaid-ali In your case, there is only one node mathing the nodeAffinity constraints (node-type=others), which is `ip-10-0-5-180.*******`. So the searching scope is restricted to that single node, and it implies pods can be indefinitely stacked on it - because `|N-N| <= 4` is always satisfied.

[2021-05-24 16:30] enj commented on #71162
xref: https://github.com/kubernetes/enhancements/pull/1689#issuecomment-632390354

[2021-05-24 16:39] jayunit100 opened #102253 "windows concurrent probing needs more debugging in e2e framework"
#### What happened:

The function
[code]

in staging/src/k8s.io/client-go/tools/auth/clientauth.go

needs a little debug info...

For cross reference https://github.com/kubernetes/kubernetes/pull/98077

[2021-05-24 16:41] junaid-ali commented on #94627
@Huang-Wei thanks for the quick response. So, the condition seems to become `|5-4| <=0` where `4` is the available pods and `5` is total pods since the scope is now limited to only one node (instead of the condition without `nodeAffinity`: `|5-0|<=4`). Please do correct me, if that's wrong.

[2021-05-24 16:58] Huang-Wei commented on #94627
Precisely speaking, `4` is the minimum pods present among the searching scope - it's calculated globally. `5` is the matching pods on the evaluating node.

This is not correct as in the right hand, the value is always `maxSkew` - i.e., `|5 - 4| <= 4(maxSkew)`

This is correct.

[2021-05-24 17:03] Riaankl opened #102255 "Write StatefulSet Patch, Read and Replace Status test +3"
# Progress <code>[4/6]</code>

-   [X] APISnoop org-flow: [Appsv1StatefulSetStatusLifecycleTest.org](https://github.com/apisnoop/ticket-writing/blob/master/Appsv1StatefulSetStatusLifecycleTest.org)
-   [X] Test approval issue: [kubernetes/kubernetes#102255](https://github.com/kubernetes/kubernetes/issues/102255)
-   [X] Test PR: kuberenetes/kubernetes #102256
-   [x] Two weeks soak start date: [Te

[2021-05-24 17:10] junaid-ali commented on #94627
Thanks @Huang-Wei , the `<=0` was a typo 😅 .
`preferredDuringScheduling...` seems to keep the scope open. Thanks again for the help :-)

[2021-05-24 17:10] horizonzy opened #102257 "The logic in staging/src/k8s.io/apimachinery/pkg/labels/selector.go:831 can be optimize"
https://github.com/kubernetes/kubernetes/blob/ebd61572c579476a6537b9002d90c978f24dda4e/staging/src/k8s.io/apimachinery/pkg/labels/selector.go#L827-L840

The response is same at line_829 and line_834. The line_834 just inc the position.

So add a method which just inc the position to take place of line_834.

[2021-05-24 17:14] Riaankl opened #102258 "Write Patch, Read and Repleace DeploymentStatus test +1"
# Progress <code>[4/6]</code>

-   [X] APISnoop org-flow: [Appsv1DeploymentStatusLifecycleTest.org](https://github.com/apisnoop/ticket-writing/blob/master/Appsv1DeploymentStatusLifecycleTest.org)
-   [X] Test approval issue: [kubernetes/kubernetes#102258](https://github.com/kubernetes/kubernetes/issues/102258)
-   [X] Test PR: kuberenetes/kubernetes #102260
-   [X] Two weeks soak start date: 17 Ju

[2021-05-24 17:16] evanfoster opened #102259 "Kubernetes API server memory usage spikes when stopping a large number of watches"
#### What happened:

I was performing some scalability testing focusing on how secret read latency was affected when watching a large number of secrets (~85K) with many watchers (anywhere from 5K up to ~30K).

After I had gathered my data, I stopped my watchers and then saw the memory usage on the master nodes spike dramatically:

![screenshot_024](https://user-images.githubusercontent.com/1582070

[2021-05-24 17:17] evanfoster commented on #102259
/sig scalability

[2021-05-24 17:18] evanfoster commented on #102259
That may not be the best group, but that's where this issue was discussed on Slack last week: https://kubernetes.slack.com/archives/C09QZTRH7/p1621545213006800

[2021-05-24 17:31] Jiawei0227 commented on #102248
Why is aws csi driver provides PV with
[code]

Seems to me this is not needed.

[2021-05-24 17:40] szpak commented on #99354
/remove-lifecycle stale

[2021-05-24 18:05] tallclair commented on #102019
I don't have a specific design in mind, but I'd be happy to discuss some ideas at sig-apimachinery. This was actually forked out of https://github.com/kubernetes/enhancements/issues/1872, which was my initial idea.

[2021-05-24 18:10] msau42 commented on #102248
I believe aws csi driver recently changed to using kubernetes topology labels instead of vendor-specific topology labels. https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/773

Note that the elements of a matchExpression are [ANDed](https://github.com/kubernetes/kubernetes/blob/69c277e42df596a3a57d4becce6fbf7b374ed000/pkg/apis/core/types.go#L2458) together. I'm not sure if that's the corr

[2021-05-24 18:17] eddiezane commented on #12123
/assign @danielrodriguez

Feel free to reach out on Slack if you need help.

[2021-05-24 18:22] Jiawei0227 commented on #102248
I think the topology label is defined by the csi driver? Is it okay to get rid of the vendor specific label?

[2021-05-24 18:23] zoramthanga commented on #99475
We are hitting this issue intermittently on both EKS and AKS with K8s 1.18. What's the best way to handle it? Keep waiting until the mounts eventually succeed?

The errors we're are something like

[2021-05-24 18:33] zshihang commented on #101285
k8s.gcr.io/gke-node-termination-handler is removed from the tree.

/close

[2021-05-24 18:33] #101285 closed

[2021-05-24 18:42] mtaufen commented on #102215
Any updates on this?

[2021-05-24 19:06] dims commented on #102215
@kubernetes/sig-release-leads ping!

[2021-05-24 19:19] justaugustus commented on #102215
On it.
/assign
/area release-eng security
/triage accepted
/milestone v1.22

[2021-05-24 19:20] sfudeus commented on #99126
/remove-lifecycle stale

[2021-05-24 19:36] aojea commented on #102101
/cc

[2021-05-24 19:36] wongma7 commented on #102248
The intention was to put both labels on all nodes to maintain backwards compatibility with existing PVs. but provisioned PVs should only have one or the other, putting both labels on the PV is a bug: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/pkg/driver/controller.go#L658.

Now that we've released the bug and some PVs have both labels, it will be hard to remove the vendor sp

[2021-05-24 19:40] ahmeddrawy commented on #83471
I have the same issues running on `Ubuntu 20.04`, using **kubectl**

[code]

**minikube ` v1.18.1`**
deploying using helm charts,
tried pulling the image from my private registry and worked fine
also i configured the `pullsecret` right and it was working before

[2021-05-24 19:46] ahmeddrawy opened #102263 "Pod stuck in pulling image"
#### What happened:
Pod stuck in pulling image state
#### What you expected to happen:
pull image correctly
#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:
Running using Minikube v1.18.1

#### Environment:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
[code

[2021-05-24 19:47] serathius commented on #57660
/lifecycle frozen

[2021-05-24 20:09] Elbehery commented on #102248
@wongma7 thanks for your follow up.

After the provisioned PV is assigned to a node, removing the duplicate label would still be an issue ?

[2021-05-24 20:14] serathius commented on #57660
What you are proposing is basically changing the logic to make decision over a larger window then just latest data. As so it's not clear where this problem should be solved (either in HPA by collecting multiple samples, or Metrics Server by allowing to pick a window).

Current direction of Metrics Server is speed up metric collection and reporting window to provide the freshest data available when

[2021-05-24 20:14] serathius commented on #57660
/assign @gjtempleton @mwielgus

[2021-05-24 20:14] serathius commented on #57660
/unassign

[2021-05-24 20:26] Bessonov commented on #57660
I'm not op, but I'm interested in opposite, in more responsive scaling reaction for **some of pods**. We have some pods which are cheap to scale up and down. It would be nice to **reduce** the window for average.

[2021-05-24 20:38] #101341 closed

[2021-05-24 20:38] #99828 closed

[2021-05-24 20:41] smarterclayton commented on #102078
There are some interesting aspects of this which correlate with clusters as well - controlling the impact one workload writer can have on others, as well as the space / size controls on other dimensions (or more reliably) than at the api level.  But priority and fairness do address the bulk of the runtime aspects of this, so it's hard to justify a significant amount of investment while that is mat

[2021-05-24 20:44] Riaankl commented on #100863
/open

[2021-05-24 20:44] Riaankl commented on #100863
/reopen

[2021-05-24 20:46] justaugustus commented on #102215
In progress here: https://github.com/kubernetes/release/pull/2080

[2021-05-24 20:48] serathius commented on #57660
For next release of Metrics Server v0.5.0 we are proposing to have the default 15s metrics resolution. This reduces the average scale up time from around 2 minutes in v0.4.4 to around 60s. This is defined as a time needed from container starting to HPA making a next autoscaling decision based on metrics collected from it. This includes 10-20 cAdvisor calculation window, 15s HPA decision period, 15

[2021-05-24 20:49] #93694 closed

[2021-05-24 20:50] prameshj commented on #99712
Closing this since we don't have enough data if this is a bug in NodeLocalDNS. Please reopen if needed.

/close

[2021-05-24 20:50] #99712 closed

[2021-05-24 20:51] justaugustus commented on #102215
/area dependency

[2021-05-24 20:51] prameshj commented on #23864
Thanks Jay! As discussed offline, will join the meeting once we have more clarity on the next steps.

[2021-05-24 20:52] prameshj commented on #23864
Folks interested in port ranges support, can you please fill out this survey to describe your usecase - https://forms.gle/ig2KUkUF3F8a23hs9

This will be valuable in deciding the next steps on the KEP - https://github.com/kubernetes/enhancements/pull/2611

[2021-05-24 21:06] Bessonov commented on #57660
Yeah, I think it would be a great improvement for my use case! Thank you for information!

[2021-05-24 21:32] spiffxp commented on #102101
FYI, this is when I would turn to something driven by the historical data that kettle scrapes from GCS and stores into the `k8s-gubernator:builds` bigquery dataset, such as go.k8s.io/triage

It goes back 14 days by default, but you can go back in time by editing the textbox up top (or use the date picker); and filter against the job name via regex in the textbox on the lower left
![Screen Shot 202

[2021-05-24 21:43] spiffxp commented on #102101
I messed around with the "buildid" parameter in prow's build history until I got reasonably close to when things took a turn for the worse: https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce?buildId=1388309549840076800

(if there's a better way to jump back in history than this, I'm all ears... prow's UX leaves much to be desired here)

That should give folks s

[2021-05-24 21:52] lingsamuel commented on #55046
/remove-lifecycle stale

[2021-05-24 22:26] evanfoster commented on #102259
As an additional data point, this might only be happening with cluster-wide secret watches. I don't know that I've seen this happen when doing namespaced watches.

[2021-05-24 23:18] #99650 closed

[2021-05-24 23:18] #101431 closed

[2021-05-25 00:15] fawadkhaliq commented on #101608
The annotation `service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: "*"` is not supported in the in-tree controller for AWS NLB. The in-tree controller only supports it for the AWS CLB.

We just released AWS load balancer controller v2.2.0 [1], with support for NLB instance mode. It supports setting proxy protocol on AWS NLBs. You can do so in two ways:

1/ use same annotation you're usin

[2021-05-25 00:16] ahg-g commented on #102211
I think you can start, once #99597 is merged, we add the defaulting to v1beta2.

[2021-05-25 00:18] BenTheElder commented on #102237
Is there a reason to go to the extent of building and pushing an image and running a pod versus just having a "unit" / "integration" test that forks/execs something using it?

[2021-05-25 00:20] BenTheElder commented on #100748
it still might not be a terrible idea to write a simple test script to probe the exported logs from a cluster with json logging enabled for any non-json lines once we know that everything should be. I think this could probably be hacked up with jq or something, but I wouldn't position it like a normal e2e test.

[2021-05-25 00:21] YangLu1031 commented on #96915
And I checked the [upstream logs](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-serial/1396857096531611648) after the kubernetes/test-infra#22292 got merged. I saw this message:
[code]
Seems it's still calling k/k/cluster/log-dump.sh instead of test-infra.
@tosi3k, do you have any good example of setup the upstream test jobs to use log-dump.sh of test-infra? Tha

[2021-05-25 00:53] 249043822 commented on #102017
did you deploy the metric-server？

[2021-05-25 01:13] evanfoster commented on #102259
Correction, I believe I'm also seeing this with namespaced watches. I have 100K secrets and saw memory usage spike and then never drop while slowly ramping up 200K watchers.

[2021-05-25 01:23] pacoxu commented on #102263
/sig node

[2021-05-25 01:59] hexfusion commented on #102078
cc @deads2k

[2021-05-25 02:00] Riaankl commented on #100437
/reopen

[2021-05-25 02:48] mengjiao-liu commented on #94900
/assign
I'll look at the summary in this PR #100181 and see what else can be done.

[2021-05-25 03:10] #101879 closed

[2021-05-25 03:10] aduncmj commented on #102208
As far as I know, all components except dns can run normally without cni plugin, so I think it's not related with the cni plugin. By the way, the cni plugin I plan to use is contrail-k8s-cni.

[2021-05-25 03:22] lauchokyip commented on #102160
Hi @apratina . The [resourceVersion](https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions) field is [a way to keep track of the persisted version of the object](https://kubernetes.io/docs/reference/using-api/api-concepts/#generated-values). Every X minutes, the api server will make a call to etcd's database which will truncate old resourceVersion. You are getting the erro

[2021-05-25 03:57] fenngwd commented on #101716
@tamalsaha https://github.com/kubernetes/kube-openapi/pull/235 fix this issue.

[2021-05-25 04:03] suigh opened #102271 "Support pod selection with custom rules"
#### What would you like to be added:
Provide an interface so that the user can return a preferred pod to scheduler from the un-scheduled pods.

#### Why is this needed:
Current scheduler plugin provides `Less` function to sort the pods, `heapsort` is used as the algorithm. `heapsort` is fast, while it will not work if the values that used for sorting can be changed dynamically, this is the limita

[2021-05-25 04:28] sanposhiho commented on #99605
Hi @damemi, thank you for the comment.

The features described above are needed to, as @alculquicondor says, show how the scheduler made the decision(after binding).

Yeah, It's true that we need to be able to see in the scheduler what decisions are made by each plugin in each phase.
So I'm going to implement it after supporting basic operations such as creating pods as described above. Thanks!

I

[2021-05-25 04:48] #94009 closed

[2021-05-25 04:48] #100613 closed

[2021-05-25 06:03] MadhavJivrajani commented on #102257
/sig apimachinery

[2021-05-25 06:03] MadhavJivrajani commented on #102257
/sig api-machinery

[2021-05-25 06:50] sureshpalemoni opened #102274 "additional gate when deleteing namespace"
#### What would you like to be added:
Sometime, a namespace gets deleted accidentally, as a result all of the resources in it gets deleted. As a precaution, we should have additional gate before it gets deleted. Confirm the namespace after deletion.

#### Why is this needed:
Additional security when accidental deletion of namespace.

[2021-05-25 06:51] sureshpalemoni commented on #102274
/sig cli

[2021-05-25 07:09] serathius commented on #57660
/unassign @gjtempleton @mwielgus

[2021-05-25 07:42] leonK-BO commented on #58065
Actually I do not set the HTTPS_PROXY in `~/.kube/config` I am doing that in my bash profile. But there I do not include `socks5://`. Should I include it there?

[2021-05-25 08:32] jsafrane commented on #102248
It depends on which label is going to be removed. I'd suggest to remove the in-tree one (`topology.kubernetes.io/zone`), because we can be sure that nodes have the other label from registering the CSI driver.

[2021-05-25 08:36] Bessonov commented on #30784
/reopen

[2021-05-25 08:43] Elbehery commented on #102248
@jsafrane  +1

[2021-05-25 09:05] Bessonov commented on #65798
@ahmetb Can you explain why did you down vote the post from @Vaccano further?

[2021-05-25 09:09] Bessonov commented on #30784
@liggitt @raelga can you reopen this issue?

I'm trying to analyse why a user can't access kube resources. Everything fine in `kubectl auth can-i`. whoami krew plugin doesn't work on windows. Token contains expected data.

[2021-05-25 09:18] pacoxu commented on #96497
As the current process, it needs a PPR process in https://github.com/kubernetes/enhancements to decide whether this feature should be GA in the next release cycle.

You should get feedbacks and answer the questions in KEP PRR to make sure whether the feature should be promoted.

[2021-05-25 09:28] aojea commented on #100220
This test is super sensible to performance problems, that is something interesting, and important to take into account to the future

If we remove the jobs that are not healthy in the query, there is no failure during lats 7 days

https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=HostPort%20validates%20that%20there%20is%20no%20conflict%20between%20pods&xjob=kops%7Cnetwork-proxy%

[2021-05-25 09:29] #100220 closed

[2021-05-25 09:31] aojea commented on #99801
Same as https://github.com/kubernetes/kubernetes/issues/100220#issuecomment-847711421
super sensible test to performance issues, removing the wrong tests the rate is acceptable
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=KubeProxy%20should%20set%20TCP%20CLOSE_WAIT%20timeout%20&xjob=kops%7Cci-kubernetes-e2e-gci-gce-network-proxy-grpc%7Cci-kubernetes-e2e-ubuntu-gce
I'm going

[2021-05-25 09:31] #99801 closed

[2021-05-25 09:33] bart0sh commented on #99919
@cynepco3hahue @odinuge @derekwaynecarr This issue became a showstopper for promoting [multiple sizes huge pages to GA](https://github.com/kubernetes/kubernetes/pull/99144#issuecomment-843964587). Can you help to fix it?

[2021-05-25 09:34] aojea commented on #93740
This still needs more work, while working past week on the ingress v1beta1 problems I found that sometimes the client that polls the LB hangs, we should at least have a better logging to understand which part is broken on the test.
Is the client? the LB? something between both?

[2021-05-25 09:45] bart0sh commented on #99919
@cynepco3hahue I've noticed a lot of similar error messages in the kubelet log of **successfull** tests. Here is an example: taken from the latest available test run: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial-hugepages/1397069286773624832/artifacts/n1-standard-2-ubuntu-gke-2004-1-20-v20210401-ec1b0cae/kubelet.log:

[code]

The fact that node capacity

[2021-05-25 10:02] pacoxu commented on #94567
#100215 data race, in this case, is fixed and #99174 makes it allow uncertain mount tests to run in parallel.

The flake seems to be really rare now but still exists.
[code]

[2021-05-25 10:11] horizonzy opened #102280 "[Performance Optimization] staging/src/k8s.io/apimachinery/pkg/labels/selector.go:218 on Matches function"
https://github.com/kubernetes/kubernetes/blob/894803ab2e2c3c721847313f63f20b87985006e6/staging/src/k8s.io/apimachinery/pkg/labels/selector.go#L218-L262

line_221 -> line_224. It judge the lable is exist firstly, if the lable exist, then get data from map.

In fact, we can enhance the method `Get`, make it return the flag which the lable is exist, so we can reduce once operation about get data from

[2021-05-25 10:32] medmedchiheb commented on #102280
/sig api-machinery

[2021-05-25 11:02] DrissiReda opened #102283 "Renewing certs including CA after expiration causes Unauthorized"
I'm running kubernetes 1.16.9 with a single master and multiple workers.

Certificates expired and now I attempted to renew certs.
Simply running on master:
[code]
didn't do anything, ca was already expired (my bad, non default 10 years validity).

So I deleted all pki and conf files inside /etc/kubernetes/pki.

Then I ran:
[code]

This worked and I can do use kubectl, but all nodes show "Unauthor

[2021-05-25 11:27] iyashu opened #102285 "Kubelet - Cadvisor Exposes Misleading IO metrics In Cgroup V2"
#### What happened:
We recently upgraded our k8s node from cgroup v1 to cgroup v2 hierarchy and saw that few io related metrics from kubelet (/metrics/cadvisor) are showing erroneous values. for example - `container_fs_writes_bytes_total` or `container_fs_writes_total` always has zero value for all cgroups within that node even though one pod is heavily writing to some pvc in that node. e.g
[code]

[2021-05-25 11:28] DrissiReda commented on #102283
/sig auth

[2021-05-25 11:32] iyashu commented on #102285
/sig node

[2021-05-25 11:41] asmeikal commented on #89156
@yliaog should I assign the issue to myself to submit a fix?

[2021-05-25 12:32] danwinship opened #102286 "NetPol tests arbitrarily enforce the requirement "cluster DNS must be on pod port 53""
#### What happened:
The NetPol tests assume that creating a policy that blocks all egress except to UDP port 53 will still allow DNS. This does not work on OCP because while the DNS _Service_ is on `port: 53`, it redirects to `targetPort: 5353` on the DNS _Pods_ (so that the pods don't need to be pointlessly granted the `NET_BIND_SERVICE` capability), so a policy that only allows to port 53 will b

[2021-05-25 12:36] danwinship commented on #102286
/sig network

[2021-05-25 12:41] creydr commented on #99828
/reopen until #99883 and #100903 got merged (my PR #102074 excluded the changes from the other PRs)

[2021-05-25 12:43] arcivanov commented on #98860
29 are not supposed to be feasible, likely, due to resource constraints but my point was that with 11 feasible putting all on the same machine are is not appropriate regardless of DoNotSchedule OR ScheduleAnyway.

There are PDBs and HPAs associated with both services as well. I wonder if that plays a part.

[2021-05-25 12:57] dgrisonnet commented on #102051
Hey @odinuge, I was referring to all the processes that are not charged into the containers cgroups, but in the pod cgroups. Basically, the goal would be to either extend kubectl top pods to account for the changes made in #95839 or update the documentation to clarify that it only accounts for container resource usages.

I understand that `kubectl top` wasn't designed to be the equivalent of Linux

[2021-05-25 13:23] jayunit100 commented on #102286
hey ! thanks for noticing this dan !  ok yeah lets fix this !

[2021-05-25 13:25] saranyaeu2987 commented on #17620
Below annotation used to work but not any more
`service.beta.kubernetes.io/aws-load-balancer-internal: "true"`
Also not working
`service.beta.kubernetes.io/aws-load-balancer-internal=0.0.0.0/0`

Getting 52 - empty from server error.
Any suggestions?

[2021-05-25 14:44] xmudrii commented on #90311
cc @saschagrunert to take a look

[2021-05-25 14:48] tomkerkhove commented on #85544
/remove-lifecycle stale

[2021-05-25 14:50] serathius opened #102294 "Update etcd to v3.5.0"
/sig scalability

This issue is tracking process of upgrading etcd to 3.5.0 planned for 1.22 K8s release.

Etcd has recently released Beta versions https://github.com/etcd-io/etcd/issues/12970 and is starting the process of correctness and performance testing. To reduce change of finding performance regression late, we will start qualifying Beta Etcd releases on GKE master branch and will upgrade

[2021-05-25 14:51] ahmeddrawy commented on #59376
Have the same issue with private registry, minikube as dev environment,  I pulled the image the before but i pushed some code changes and the CI pipeline build the new image and when i try to upgrade using `helm upgrade --install` i get the same issue :/

[2021-05-25 14:54] #85395 closed

[2021-05-25 14:55] serathius commented on #85544
/lifecycle frozen
That should help

[2021-05-25 14:55] tomkerkhove commented on #85544
Thank you!

[2021-05-25 14:55] xmudrii commented on #70249
@justaugustus Is there any update on this? Are the docs backfilled yet?

[2021-05-25 15:14] serathius commented on #102294
/area etcd

[2021-05-25 15:36] jayunit100 opened #102295 "add ExecWithOptions to exec_util.go for ClientSet Creation"
We should fine grained  debug statements to ExecWithOptions in the framework exec_util.go class , so that in tests where theres alot of execs where hangs can happen i.e. on windows, we can see where tests are getting clogged up.  Mostly i want this for network_policy.go, but i suppose its a generic improvement

[code]

[2021-05-25 15:37] jayunit100 commented on #102295
/sig testing
/good-first-issue

[2021-05-25 15:41] medmedchiheb commented on #102295
/assign

[2021-05-25 15:58] neolit123 commented on #102283
this version is out of support. bug fixes can be backported back to 1.19+.

CA rotation is a complicated topic and is documented here:
https://kubernetes.io/docs/tasks/tls/manual-rotation-of-ca-certificates/

the kubernetes/kubernetes issue tracker is not the right place to ask for support.
you can try the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/remove-kin

[2021-05-25 15:58] #102283 closed

[2021-05-25 16:00] neolit123 commented on #102095
hi, this feels like a request for support.
please use the support forums for that:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-05-25 16:00] neolit123 commented on #102095
if you confirm a real bug in kubernetes, please open a new issue and assign the relevant group / SIG.

/close
/kind support

[2021-05-25 16:00] #102095 closed

[2021-05-25 16:03] neolit123 commented on #102073
@cynepco3hahue please make https://github.com/kubernetes/website/pull/28056 close this issue:

`Fixes kubernetes/kubernetes#102073`

[2021-05-25 16:06] neolit123 commented on #102231
/sig instrumentation

[2021-05-25 16:06] neolit123 commented on #102253
/sig windows

[2021-05-25 16:46] #101657 closed

[2021-05-25 17:02] yliaog commented on #89156
@asmeikal sounds good to me

[2021-05-25 17:17] asmeikal commented on #89156
/assign

[2021-05-25 17:40] Huang-Wei commented on #102271
There are 2 requirements here: dynamic sorting in internal queue and associate scheduler with user's tenancy model.

For now, there is one global internal queue (activeQ) to pop and schedule pods, and hence we adopt the (static) heapsort to order the pending pods. I'm not quite a fan of dynamically sorting ALL pods inside one global queue, as it inevitably applies performance overhead, and it's un

[2021-05-25 17:46] #99919 closed

[2021-05-25 18:02] msau42 commented on #99827
From https://github.com/kubernetes/kubernetes/pull/101694#issuecomment-831235149, it looks like a mistake to not have removed the v1alpha version when promoting to beta. Now it is only possible to stop serving. If we want to remove, we need to find a way to re-persist any v1alpha objects to v1beta/v1.

We also have this problem with the recent v1beta.StorageCapacity objects too

[2021-05-25 18:05] msau42 commented on #99827
A [controller that updates status on all objects](https://github.com/kubernetes/kubernetes/pull/101694#issuecomment-847844020) would be able to address this.

[2021-05-25 18:06] msau42 commented on #99827
@kubernetes/sig-storage-bugs

[2021-05-25 18:09] terinjokes commented on #58065
That's how Go (and `kubectl`) knows to use SOCKS5 mode instead of a [Web proxy server](https://en.wikipedia.org/wiki/Proxy_server#Web_proxy_servers).

[2021-05-25 18:13] ehashman commented on #101851
We discussed this during SIG Node today. There was consensus that we should definitely add the container start time metrics and that this would be useful.

There were questions about the node start time. It's unclear how it would be defined (node boot time? first time kubelet is marked NodeReady? something else?) and how it would be used. From my reading of the original comment, the node start tim

[2021-05-25 18:52] mtaufen commented on #102215
@justaugustus do image versions still need to be bumped in k/k and cherry picked?

[2021-05-25 19:16] MikeSpreitzer opened #102299 "Inconsistencies in `queueset.go`"
#### What happened:
I reviewed the current code to see what had been done to generalize request width.  I found a few inconsistencies in `apiserver/pkg/util/flowcontrol/fairqueuing/queueset/`.

A really simple one is at line https://github.com/kubernetes/apiserver/blob/78f15cef9253969d90e08519943b02c3433c6016/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go#L746 , where `S` is subtracted from

[2021-05-25 19:17] MikeSpreitzer commented on #102299
@kubernetes/sig-api-machinery-bugs

[2021-05-25 19:17] MikeSpreitzer commented on #102299
@tkashem
@wojtek-t
@deads2k
@lavalamp

[2021-05-25 19:28] justaugustus commented on #102215
Chatted with @mtaufen on [Slack](https://kubernetes.slack.com/archives/C2C40FMNF/p1621883228069700).

Remaining tasks:
- [ ] image promotion for debian-iptables: https://github.com/kubernetes/k8s.io/pull/2098
- [ ] resolve failing setcap image builds: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-release-push-image-setcap/1397032345390813184
- [ ] image promotion for setcap
- [ ] update

[2021-05-25 19:30] mkorbi opened #102300 "[Failing Test] kubernetes.up e2e-up.sh"
#### Which jobs are failing:
- gce-os-master-alpha-features

#### Which test(s) are failing:
- kubernetes.Up

#### Since when has it been failing:
22.05.2021
- [first time test failed](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/1395883924374163456)
- [in time of ticket creation latest test failing](https://prow.k8s.io/view/gs/kubernetes-jenkins/log

[2021-05-25 19:57] MikeSpreitzer commented on #102299
BTW, I suspect it would be better if "virtualTime" is not multiplied by request width.  I am working on writing.

[2021-05-25 20:18] fedebongio commented on #102160
/triage accepted
/cc @yliaog to dig on a old bug related to this.

[2021-05-25 20:18] fedebongio commented on #102257
/cc @deads2k
/triage accepted

[2021-05-25 20:19] fedebongio commented on #102280
/cc @yliaog

[2021-05-25 20:19] fedebongio commented on #102280
/triage accepted

[2021-05-25 20:24] ahg-g commented on #102136
/retitle "scheduler: non-compatible change in default topology spread constraints"

[2021-05-25 20:55] ehashman commented on #102148
/cc @BenTheElder
perhaps?

[2021-05-25 20:58] ahg-g opened #102303 "Scheduler: Simplify Plugin Configuration in ComponentConfig"
Currently configuring the scheduler plugins requires explicitly configuring the extension points themselves. For example, consider a custom scheduler configuration that requires enabling `PodTopologySpread`, admins will need to explicitly add it to every extension point as follows:

[code]

Configuring the exact extensions points where a plugin should be enabled offer maximum flexibility to the ad

[2021-05-25 20:58] ahg-g commented on #102303
/cc @damemi @Huang-Wei @alculquicondor

[2021-05-25 21:34] Huang-Wei commented on #102303
I think we need to get more user feedback to evaluate whether it's reasonable to enable/disable a plugin as a whole. Probably sending an email to sig-scheduling mailing list.

And before we adopt the pattern, let's examine existing plugins to verify if current groupings semantically make sense.

[2021-05-25 21:44] ahg-g commented on #102303
Sure, this issue is to have this discussion, I will send an email to the list to bring more attention to the issue.

Even if it doesn't, I don't think this is enough to stop us from pursuing this. We should change the plugins to adhere to the pattern, not the other way around.

Do you have counter arguments to the listed drawbacks? especially number 2 and 3?

[2021-05-25 21:58] jzhoucliqr commented on #102300
Kubelet log:
`"Failed to run kubelet" err="failed to run Kubelet: failed to create kubelet: cloud provider \"gce\" was specified, but built-in cloud providers are disabled. Please set --cloud-provider=external and migrate to an external cloud provider"`

[2021-05-25 22:34] yliaog commented on #102160
i was thinking about https://github.com/kubernetes/kubernetes/issues/91073, it is about 'too large RV', not 'too old RV' though.

[2021-05-25 22:57] #101852 closed

[2021-05-25 23:01] ahg-g opened #102305 "Scheduler VolumeZone plugin returns error instead of unschedulable"
Scheduler VolumeZone plugin returns error when a PVC or StorageClass is not found. This is not really a scheduler error, and so we should be returning Unschedulable instead of Error. This is important to properly track errors in logs as well as `scheduler_attempts` metric.

/sig scheduling
/assign
/cc @cofyc

[2021-05-25 23:03] MikeSpreitzer commented on #102299
I am running into a dilemma.  The whole point of "virtual time" --- R(t) in the original paper --- is that it is shared among all the queues.  They all get work done at the same rate, dR/dt.  But when we generalize so that requests have different widths (and thus work is the sum over requests of `width*duration`), even restricting the virtual world so that a queue runs only one request at a time d

[2021-05-25 23:21] ahg-g commented on #102305
We will patch this back to 1.21 and 1.20

[2021-05-26 00:03] #102110 closed

[2021-05-26 00:54] MikeSpreitzer commented on #102299
But the current implementation approach makes the assumption that all the non-empty queues get work done at the same rate.  As long as we are willing to tolerate the lossages due to that fiction, the queues can share one R(t) meter.

[2021-05-26 01:01] Huang-Wei commented on #102303
Those points make sense to me, esp. in the perspective of simplifying configuration.

[2021-05-26 01:19] #101913 closed

[2021-05-26 01:40] pacoxu commented on #102294
Does this meant that the 3.5.0 should be promoted like https://github.com/kubernetes/k8s.io/pull/1183.

[2021-05-26 01:42] BenTheElder commented on #101913
thank you all for looking into this 🙏

see discussion here https://github.com/kubernetes/test-infra/pull/22193#issuecomment-848259202 for context on bringing it back, and possible causes

[2021-05-26 01:47] pacoxu commented on #102300
It seems to be related with #100136.
/cc @Danil-Grigorev  @andrewsykim

[2021-05-26 02:30] ahg-g commented on #102303
I updated the description to address this point.

[2021-05-26 02:31] pacoxu commented on #102300
I tried to fix it in Ihttps://github.com/kubernetes/test-infra/pull/22347.

[2021-05-26 02:39] #102179 closed

[2021-05-26 02:48] matinjugou commented on #96284
According to (design proposal)[https://stupefied-goodall-e282f7.netlify.app/contributors/design-proposals/storage/mount-options/#preventing-users-from-specifying-mount-options-in-inline-volume-specs-of-pod]

However, this feature is quite essential for our performance tuning. We want a vote to enable this feature.

[2021-05-26 02:49] roycaihw commented on #102013
In general if it takes time for a pod to warm up before it's ready to serve traffic, it should use the readiness probe to signal that. It's unclear to me what exactly the cert generation you mention is. Also it would be weird if the pod is responsible for updating the webhook config that points to itself. Do you have some link to a doc or the code? I'm not sure if you were suggesting something tha

[2021-05-26 02:57] pacoxu commented on #102194
According to https://github.com/kubernetes/test-infra/pull/22035#discussion_r632599214,

😂

https://prow.k8s.io/?job=pull-kubernetes-e2e-gce-alpha-features is green now.

[2021-05-26 03:16] denkensk commented on #102303
@ahg-g  @Huang-Wei
A little bit of concern, I think we can discuss to make `Simplify Plugin Configuration` more suitable for the actual scene.

1. how to set the weight of score of different extension points？
2. how to disable the other plugins in the same extension points like this?
[code]
or
[code]

[2021-05-26 03:36] matinjugou commented on #96284
@rdxmb You can try this as a temporary solution: Change mount options globally by modifying configuration file nfsmount.conf -- (reference)[https://manpages.debian.org/unstable/nfs-common/nfsmount.conf.5.en.html]
Kubernetes uses system-run or exec.Command to execute mount behavior. So global configuration may do help.

[2021-05-26 03:39] ahg-g commented on #102303
Weight is only eligible for Score extension point.

What if we don't support the `*` expression? The alternative is for admins to explicitly list the plugins that they want to disable.

[2021-05-26 03:45] denkensk commented on #102303
Sorry, I mean " how to set the weight of score in different plugins"?

[2021-05-26 03:47] ahg-g commented on #102303
something like this?

[code]

[2021-05-26 03:51] denkensk commented on #102303
Thanks, It's fine to me.

[2021-05-26 04:19] mateuszlitwin commented on #102303
I like the idea of simplifying the configuration.

One problem though is how you configure order in which plugins are executed.

I think it matters for plugin extension points such as PostFilter() which execute plugins until one of the returns Success. AFAIK it matters if you want the `coscheduling` plugin to work with `defaultpreemption` plugin.

[2021-05-26 05:58] chintha-govardhan opened #102308 "CRD definition is changing the property name 'y' in openAPIV3Schema spec to True"
The below CRD is created using kubectl. The CRD contains the openAPIV3Schema spec which has property name as 'y'.

<pre>
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: tests.calci.io
spec:
  group: calci.io
  versions:
    - name: v1 # it's possible to provide multiple versions of a CRD
      served: true # it's possible to disable a CRD
      storage: true #

[2021-05-26 06:07] rdxmb commented on #96284
@matinjugou Thank you very much for this idea. I will see if this is an option - as I actually have multiple NFS-exports with different versions ...

[2021-05-26 06:10] matinjugou commented on #96284
If you do solve it, I hope you can share with us. ^ _ ^

| |
黄超
|
|
***@***.***
|
签名由网易邮箱大师定制

On 05/26/2021 14:07，Marc ***@***.***> wrote：

@matinjugou Thank you very much for this idea. I will see if this is an option - as I actually have multiple NFS-exports with different versions ...

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsu

[2021-05-26 06:24] CaoDonghui123 commented on #102308
/assign
I will try to reproduce it first

[2021-05-26 06:54] suigh commented on #102303
@ahg-g @Huang-Wei
For the current configuration, can we still keep it even the new configuration is convenient for most cases? User can enable/disable one specific extension point by current configuration, needn't change the codes, this can help during development or for debug purpose.

[2021-05-26 06:56] lentzi90 opened #102311 "Update CNI plugins"
The latest release of CNI plugins is [v0.9.1](https://github.com/containernetworking/plugins/releases/tag/v0.9.1), but we still have [v0.8.7 in the dependencies](https://github.com/kubernetes/kubernetes/blob/master/build/dependencies.yaml#L37).

I'll attempt to create a PR for this based on the [last update](https://github.com/kubernetes/kubernetes/pull/94367).

[2021-05-26 06:58] horizonzy opened #102312 "Some typo at informationt staging/src/k8s.io/apimachinery/pkg/labels/selector.go"
### place one:
https://github.com/kubernetes/kubernetes/blob/b496238dd65d86c65183ac7ffa128c5de46705b4/staging/src/k8s.io/apimachinery/pkg/labels/selector.go#L580

meaningfull -> meaningful.

### place two:
https://github.com/kubernetes/kubernetes/blob/ebd61572c579476a6537b9002d90c978f24dda4e/staging/src/k8s.io/apimachinery/pkg/labels/selector.go#L493

informationt -> information.

[2021-05-26 06:59] lentzi90 commented on #102311
/sig network

[2021-05-26 07:11] harshanarayana opened #102314 "docs needed: kube-proxy doesn't support live cleanup (kube-proxy leaves behind stale IP Table rules in KUBE-SERVICES for icmp-port-unreachable)"
#### What happened:
As part of the Kubernetes upgrade workflow we have in place, we are upgrading kubernetes from 1.15.3 -> 1.18.15 (both versions and all versions in the middle are custom patched for different behavior of the `kubelet` and `kubeadm`. None of them having anything to do with kube-proxy's IPVS), and as part of this upgrade we are also migrating the `kube-proxy` from `iptables` to `i

[2021-05-26 07:12] harshanarayana commented on #102314
/label area/kube-proxy

[2021-05-26 07:13] harshanarayana commented on #102314
/sig sig/network

[2021-05-26 07:15] tanjing2020 opened #102315 "[e2e conformance] k8s.gcr.io/conformance-arm64:v1.19.4 (f2676fc8aea6): The Architecture of v1.19.4 shows amd64"
#### What happened:
[code]

#### What you expected to happen:
k8s.gcr.io/conformance-arm64:v1.19.4 is the arm architecture mirror

#### How to reproduce it (as minimally and precisely as possible):
docker pull k8s.gcr.io/conformance-arm64:v1.19.4

#### Anything else we need to know?:
k8s.gcr.io/conformance:v1.19.0 also has the same problem

#### Environment:
- Kubernetes version (use `kubectl vers

[2021-05-26 07:21] harche opened #102316 "Inconsistent timezone shown for the same object"
#### What happened:
When you query an object, say `Node` object the timestamp will show in local timezone, for example
`kubectl describe node ip-10-0-49-125.us-east-2.compute.internal`
[code]
But when you query the same object using `kubectl get node ip-10-0-53-20.us-east-2.compute.internal -o yaml` he same timestamp item will show in UTC,
[code]

#### What you expected to happen:
Shouldn't the ti

[2021-05-26 07:22] josephburnett commented on #80481
/assign pbaderia01

[2021-05-26 07:22] josephburnett commented on #80481
/unassign

[2021-05-26 07:23] josephburnett commented on #80481
/unassign supriya-premkumar

[2021-05-26 07:24] josephburnett commented on #80481
/remove needs-triage

[2021-05-26 07:41] tanjing2020 commented on #102315
/area sig-testing

[2021-05-26 07:44] tanjing2020 commented on #102315
/area testing

[2021-05-26 07:45] tanjing2020 commented on #102315
/sig testing

[2021-05-26 07:51] rdxmb commented on #96284
As this is a global configuration, this is actually not a solution for me.

As a workaround, I've created dedicated PVs and PVCs for that NFS-exports. If I changed the nfsmount.conf to NFS version 3, I'd have to create PVs and PVCs to change my other mounts manually to version 4.

[2021-05-26 07:56] matinjugou commented on #96284
In other words, if your pods use same version nfs-protocol, it will work, right?

| |
黄超
|
|
***@***.***
|
签名由网易邮箱大师定制

On 05/26/2021 15:51，Marc ***@***.***> wrote：

As this is a global configuration, this is actually not a solution for me.

As a workaround, I've created dedicated PVs and PVCs for that NFS-exports. If I changed the nfsmount.conf to NFS version 3, I'd have to create PVs and PVCs to

[2021-05-26 07:57] rdxmb commented on #96284
I think this would be a solution then. I've not tried it.

[2021-05-26 08:00] matinjugou commented on #96284
It's quite confusing why can't we specify the mount options of inline volume.

[2021-05-26 08:05] saschagrunert commented on #90311
Started to follow-up on this in https://github.com/kubernetes/kubernetes/pull/102323

[2021-05-26 08:09] mrpre opened #102324 "Failed to set NUMA affinity with multi containers"
#### What happened:
I have add the kubelet command args with
[code]

I have a pod with two containers. If all the container configured with `Guaranteed ` :
YAML1
[code]
NUMA affinity works

[code]

But when I set QoS of `myapp2` as `Burstable ` it does not woks.
YAML2
[code]
both `myappnuma` and `myapp2` are not set with NUMA affinity(`cat /var/lib/kubelet/cpu_manager_state` or `docker insepct` )

[2021-05-26 09:12] 249043822 commented on #98612
https://github.com/kubernetes/kubernetes/blob/efd7df5c9993a326189da356c0466629b7683a77/staging/src/k8s.io/apiserver/pkg/endpoints/installer.go#L586

In summary,  this problem is due to the cross-group subresources (such as: pods/evction, serviceaccounts/token)  could not paas correct gvr paramter to audit log func. https://github.com/kubernetes/kubernetes/blob/efd7df5c9993a326189da356c0466629b7683

[2021-05-26 09:15] pacoxu commented on #102312
/kind cleanup
/remove-kind feature

BTW, typo in comments  appears to fall under [trivial-edits](https://github.com/kubernetes/community/blob/4026287dc3a2d16762353b62ca2fe4b80682960a/contributors/guide/pull-requests.md#trivial-edits) which we do not encourage.

[2021-05-26 09:23] horizonzy commented on #102312
pr to [kubernetes/enhancements](https://github.com/kubernetes/enhancements) will be better?

[2021-05-26 10:17] #99624 closed

[2021-05-26 10:23] BenTheElder commented on #102148
On receiving the timeout signal the process should begin cleanup / teardown, possibly proceeded by log dumping. It should not ignore it.

We set a large grace period on prow.k8s.io to feasibly allow cleanup.

When the kill signal is recurved that is it.

If you're hitting the timeout regularly you need to increase the configured timeout or speed up the tests.

[2021-05-26 10:31] odinuge commented on #102148
Yes. The current behavior is that the test runner get killed by the `SIGINT` it gets from prow (or what you would call it), and the logs will therefore not be printed and artifacts are not fetched.

With https://github.com/kubernetes/kubernetes/pull/102209, the test runner will "ignore" the SIGINT from timeout, while all its children processes will be killed. It will therefore imminently start pri

[2021-05-26 10:59] serathius commented on #102294
Yes, created https://github.com/kubernetes/k8s.io/pull/2101

[2021-05-26 11:08] DeanBrunt commented on #99451
/remove-licecycle stale

[2021-05-26 11:09] DeanBrunt commented on #99451
/remove-lifecycle stale

[2021-05-26 11:48] pacoxu commented on #102316
/sig cli
From the data side, it should be UTC and it would use the timezone of the client.

[2021-05-26 11:50] jayunit100 opened #102334 "minor netpol test improvements"
#### What happened:

- `probeConnectivity` is a little bit long.  lets make its args into a struct somehow
- lets rethink timeouts, how we pass them down (should we use `time`), and should they be readable from an env var
- consolidate the code for making the newWindowsFramework `framework.NodeOSDistroIs("windows") {`

#### What you expected to happen:

not a functional issue

[2021-05-26 11:51] justaugustus commented on #102294
/area release-eng release-team
/sig release

For tracking:
cc: @kubernetes/release-engineering @kubernetes/release-team

[2021-05-26 11:52] pacoxu commented on #102315
The way that I used to check image architecture is like
[code]

[2021-05-26 11:55] jayunit100 commented on #102334
/sig network

[2021-05-26 11:57] irfansheikh777 opened #102335 "pods scheduled on different node cannot communicate with each other on kubernetes cluster using calico network"
I am facing  this issue troubleshooting long time issue is  I have create Kubernetes cluster with calico network in my on premises server the **pods scheduled  on  different node on this Kubernetes cluster not able to communicate to each other **  . please chcek below scenarios.
There are two worker node **server9** and **server10**
Two PODS are created on server 9 and  one pod created on server 1

[2021-05-26 12:00] jayunit100 commented on #102334
/good-first-issue

[2021-05-26 12:10] pacoxu commented on #102335
/sig network
But I think this is a calico issue which should be tracked/discussed in https://github.com/projectcalico/calico.

[2021-05-26 12:11] SuryaTeja369 commented on #90585
Hi,
@tanrobotix I found another way of resolving this issue without going for upgrade of the Kubernetes.

The issue lies in the fact that kube-apiserver is trying to fetch details with respect to CRDs from ETCD but the memory address of the CRDs are changed as soon as we run the delete statement.

To resolve this you can exec into the etcd pod(if running as a pod or directly via etcdctl command li

[2021-05-26 12:12] pacoxu commented on #102324
/sig node

[2021-05-26 12:18] liggitt commented on #90585
upgrading the API server to the patched version is recommended over deleting data directly from etcd

[2021-05-26 12:19] verb commented on #84353
@MadhavJivrajani Awesome, thanks! The reference to `StartEphemeralContainer` is likely out of date. iirc that was used in an earlier implementation. You're not missing anything. The link you posted is the only place ephemeral containers are started.

[2021-05-26 12:22] damemi commented on #102303
I think for most use cases something exactly like what @ahg-g suggested in https://github.com/kubernetes/kubernetes/issues/102303#issuecomment-848431986 is perfect. But I agree with @suigh that keeping the current approach available for advanced use cases is a good idea, though users will have to pick one or the other. If we add this simplified config, it should be a new field

[2021-05-26 12:22] SuryaTeja369 commented on #90585
@liggitt Any idea how we can upgrade when the apiserver is down in this case(6443 is unreachable)?

[2021-05-26 12:23] verb commented on #84353
FYI @derekwaynecarr since it came up in the last sig-node meetup. This is how we're planning to allow for detection of non-pristine pods.

[2021-05-26 12:36] atantawi commented on #102303
How about keeping the ability to individually configure each extension point as it is today, but add an extension point with the name "all" to apply a configuration to all extension points relevant to the specific scheduler plugin? The use of "all" for a plugin takes precedence over any other extension point configuration of the plugin.
[code]

[2021-05-26 12:42] damemi commented on #102303
@atantawi I like that idea, we could define the `all` "extension point" as the primary configuration option. It could also be a real extension point in the code that plugins (default and out-of-tree) could register with to enable that option for their plugins.

[2021-05-26 12:53] medmedchiheb commented on #102334
/assign

[2021-05-26 12:56] sbocinec commented on #100467
We got first affected by this issue after upgrading our GKE cluster  from `v1.17.17-gke.2800` to `1.18.17-gke.700` for pods running on pre-emptible nodes. Is this k8s `1.18+` specific?

[2021-05-26 13:10] harche commented on #102316
Thanks @pacoxu

[2021-05-26 13:10] primeroz commented on #100467
Same here, as far as i know this is fixed in 1.18.19

fix in https://github.com/kubernetes/kubernetes/pull/99336#issuecomment-824441152 cherrypicked to 1.18 in https://github.com/kubernetes/kubernetes/pull/101343

[2021-05-26 13:35] #97751 closed

[2021-05-26 13:44] javidiaz opened #102339 "Scheduler occasionally has stale state and does not assign pods to nodes that could fit them"
We have a Kubernetes cluster with version v1.19.7.  We have observed that sometimes the kubernetes scheduler does not schedule pods on nodes that are available for them, and the pods remain pending. We added some custom logs to the scheduler code and we were able to determine that when this happens, the scheduler thinks that there is a pod on the available node, even though that pod no longer exis

[2021-05-26 14:21] #102300 closed

[2021-05-26 14:49] #101714 closed

[2021-05-26 15:09] leonK-BO commented on #58065
If I change the proxy from https to SOCKS5 in my bashprofile than all other CLI tools will be as well affected right? Is there a way to provide this SOCKS5 proxy only for kubectl?

[2021-05-26 15:45] bitgandtter commented on #74099
this should be reopened, k8s should not reorder our specs by any means

[2021-05-26 16:08] lavalamp commented on #102299
I see both sides of this; I still think it is double counting to use W*D to advance virtual time AND to occupy W seats. OTOH, I also think it is right that we should be fair over the work (W*D) -- not just duration.

One crazy idea is to add the request to multiple queues, and not execute it until it gets to the head of all the queues it is in. The number of queues it needs to be added to would be

[2021-05-26 16:29] aogier commented on #74099
@jessesuen could you plz reopen?

[2021-05-26 16:38] aojea commented on #101910
I've tried it locally and it did work
did it work for you?
can we close?

[2021-05-26 16:42] aojea commented on #102127
/area network-policy

[2021-05-26 16:48] mkorbi commented on #102300
the PR seems to solved it, thank you!

[2021-05-26 16:52] dylex commented on #101910
Yes this worked, and while it'd be nice if this were better documented I suppose it's in this ticket now so people can find it. There are a few issues with running on multi-homed bare-metal clusters regardless (kubernetes/enhancements#1665 touches on some of them), including lack of published node ExternalIPs, but I understand this isn't a common or well-supported deployment scenario, so we can cl

[2021-05-26 16:52] #101910 closed

[2021-05-26 17:00] aojea commented on #101910
yeah, this just needs some :heart:

[2021-05-26 17:04] mkorbi opened #102345 "[Failing Test][sig-cluster-lifecycle] ci-kubernetes-e2e-kubeadm-kinder-latest-on-1-21"
#### Which jobs are failing:
[kubeadm-kinder-latest-on-1-21](https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-latest-on-1-21&width=20)
#### Which test(s) are failing:
- ci-kubernetes-e2e-kubeadm-kinder-latest-on-1-21
- task-06-e2e-kubeadm

#### Since when has it been failing:
18.05.2021
Failing started with commit e338438b7 after some successful test iterations

#### Testgrid li

[2021-05-26 17:07] MikeSpreitzer commented on #102299
I think "virtual time" is a fuzzy and not easy to think about precisely.  That's why I did a careful write-up with quantitative reasoning, and using a well motivated function `R(t)` like in the original paper.  In the KEP revision I am preparing, I think

- the problem statement (https://github.com/MikeSpreitzer/kube-enhancements/tree/max-min-list/keps/sig-api-machinery/1040-priority-and-fairness#

[2021-05-26 17:10] mkorbi commented on #102345
/sig cluster-lifecycle

[2021-05-26 17:11] dashpole commented on #101894
The error message in https://github.com/kubernetes/kubernetes/issues/101894#issuecomment-844405409 makes me think the apiserver is not available during that test run: `error waiting for scheduler pod to expose metrics: timed out waiting for the condition; the server is currently unable to handle the request (get pods metrics-proxy:10259)`.  Can someone link to the frequency graphs to see if the pr

[2021-05-26 17:19] afirth commented on #34274
still here some months later. not sure what to do about it but all the warnings are still around and i guess it violates the alpha policy. Shame, because it can be really helpful when using things like skaffold and kustomize.
/reopen

[2021-05-26 17:19] pduchnovsky commented on #81976
@jpigree can you please reopen again..
Also try /remove-lifecycle rotten

[2021-05-26 17:22] SergeyKanzhelev commented on #101906
/assign @ehashman

to validate whether it is flaking or not

[2021-05-26 17:26] ehashman commented on #101906
/triage accepted

https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=failed%20to%20get%20logs&test=ConfigMap%20should%20be%20consumable%20via%20the%20environment

Doesn't really appear to be flaking today but there are a few flakes.

[2021-05-26 18:08] xens commented on #58065
I believe that you can do something like this `alias kctl="env HTTPS_PROXY=socks5://proxy-url:port kubectl"`

[2021-05-26 18:23] jpigree commented on #81976
/reopen

[2021-05-26 18:23] jpigree commented on #81976
/remove-lifecycle rotten

[2021-05-26 18:33] jayunit100 commented on #102286
/assign

[2021-05-26 18:34] jayunit100 commented on #102286
yo @mattfenwick im gonna make a `Prober` interface on the kubemanager to decouple it as an arg, just fyi

[2021-05-26 18:40] mattfenwick commented on #102286
💯 okay let me know if I can help @jayunit100 , sounds like that'll work fine ! 👍

[2021-05-26 19:38] ehashman commented on #101894
@dashpole got it: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=MetricsGrabber%20should%20grab%20all%20metrics%20from%20a%20Scheduler

[2021-05-26 19:44] mcallaghan-geotab commented on #74551
The "trick" above did not help.

Attempts to send `5MB` payloads consistently dies after 3x attempts.
[code]

[2021-05-26 20:13] dashpole commented on #101894
I don't think I was right above.  I think the "the server is currently unable to handle the request" is an error coming from the proxy.  The proxy was added around the time this issue was filed (https://github.com/kubernetes/kubernetes/pull/96216), so it seems likely to be related to it.

@knight42 can you take a look?

[2021-05-26 20:26] kishorj commented on #96840
@nsmith5, the in-tree controller is deprecated and new changes are limited to critical bug fixes only. We recommend setting up the [AWS Load balancer controller](https://github.com/kubernetes-sigs/aws-load-balancer-controller) for NLB. The recent v2.2.0 release of the AWS LB controller has support for NLB instance targets, and if the health check port and traffic port are the same and traffic is a

[2021-05-26 20:26] #96840 closed

[2021-05-26 20:32] kishorj commented on #98826
@sanicheev, starting k8s 1.20, you can specify custom health check port via the service annotation `service.beta.kubernetes.io/aws-load-balancer-healthcheck-port`.

The in-tree controller is deprecated and new changes will be limited to critical bug fixes only. If the annotation doesn't work for your use case, you can reopen or create a new issue.

I'm closing the issue for now.

/close

[2021-05-26 20:32] #98826 closed

[2021-05-26 20:46] #102077 closed

[2021-05-26 20:48] v-ilinski commented on #58686
This issue still exists. If kubeadm is used,  there's no way to get a kube-apiserver manifest without an "--advertise-address" argument. If it is set to an empty string in kubeadm.conf via the apiServer/extraArgs, the kube-apiserver maniest will have it set to an empty string also, which will prevent kube-apiserver from starting ...due to the error in the description above.

/reopen

[2021-05-26 21:01] serathius commented on #99270
/wg structured-logging

[2021-05-26 21:02] serathius commented on #100405
/wg structured-logging

[2021-05-26 21:03] serathius commented on #99267
/remove-lifecycle stale
/wg structured-logging

[2021-05-26 21:09] serathius commented on #99265
/remove-lifecycle stale
/wg structured-logging

[2021-05-26 21:17] satyamsareen opened #102352 "Black/night-themed documentation for kubernetes"
Hello Team,

I had a rather simple request.

Can we get black/night-themed documentation for k8s?
The way we have for Docker.

Any thoughts on this.

Cheers and Thanks

[2021-05-26 21:23] serathius commented on #99270
First would be good to analyse which flags makes sense for JSON, for example `--skip-headers` seems specific to klog format.
Discussion on what flags to support should be done in more open space, for example we could send an email to k8s-dev email list with a proposal.

[2021-05-26 21:37] serathius opened #102353 "Support setting depth to structured logging"
Logr and Klog extended the api to provide a method to provide a depth information https://github.com/kubernetes/klog/releases/tag/v2.5.0

To support new changes we should update:
* [x] [User guide](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/migration-to-structured-logging.md) should suggest using depth (@yangjunmyfm192085)
* [x] Restore depth to log

[2021-05-26 21:39] serathius commented on #102353
/help

[2021-05-26 21:53] cheftako commented on #91628
/remove-lifecycle stale

[2021-05-26 22:24] mkorbi commented on #98857
/remove-lifecycle stale
this test runs very infrequently are there any actions planned to either fix this or remove it?

besides this looks green for now

[2021-05-26 22:27] mkorbi commented on #98666
are there any actions planned? the job fails frequently and the test called pod quits at every run

[2021-05-26 22:31] mkorbi commented on #94718
jobs got removed from sig-release-master-informing
can be closed?

[2021-05-26 22:35] underrun commented on #40908
can this be re-opened? still seems useful.

[2021-05-26 22:37] jsturtevant commented on #94718
agreed

/close

[2021-05-26 22:38] #94718 closed

[2021-05-26 22:56] ehashman commented on #99678
/triage accepted

[2021-05-26 23:10] ehashman commented on #102312
/close

[2021-05-26 23:10] #102312 closed

[2021-05-27 00:04] gjkim42 commented on #100622
The issue will be handled by https://github.com/kubernetes/enhancements/issues/2595

/close

[2021-05-27 00:04] #100622 closed

[2021-05-27 01:04] jessesuen commented on #74099
/reopen

[2021-05-27 02:08] pacoxu commented on #101820
@ahg-g I prefer to log only the top 5 or 10 node scores in the log. (I have not read the code yet.😄, will dig into it later.)

[2021-05-27 02:31] pacoxu commented on #102352
/sig docs
https://github.com/kubernetes/website/ is the repo for Kubernetes website and documentation.

/cc @sftim @tengqm

[2021-05-27 02:43] pacoxu commented on #102345
/assign
ClusterStatus is removed from kubeadm recently. I think it would be related.

[2021-05-27 03:05] knight42 commented on #101894
@dashpole This is a known issue, and @pohly is working on it #102050.

Now that #102050 is being blocked by the debugging handler problem, could we merge #101960 to mitigate this problem first? cc @pohly @aojea

[2021-05-27 03:32] gnufied opened #102357 "deprecate alpha annotation used in CSINode for migration detection"
I think we should try and replace alpha annotation with a GAed version because I think we will end up having that annotation until k8s makes V2 (which could be forever).

/sig storage

cc @kubernetes/sig-storage-api-reviews

[2021-05-27 03:34] pacoxu commented on #99177
@ash2k Sorry for the delay. I opened #102356 for this issue.

[2021-05-27 03:48] pacoxu commented on #102345
E2E in https://github.com/kubernetes/kubernetes/blob/release-1.21/test/e2e_kubeadm/kubeadm_config_test.go#L63 will check ClusterStatus.

I opened #102358 which is cherry-pickof  #102157 to 1.21. It would fix this problem.

[2021-05-27 04:05] MadhavJivrajani commented on #102353
/assign

[2021-05-27 04:06] MadhavJivrajani commented on #102353
/triage accepted

[2021-05-27 05:31] Kent1 commented on #77745
anyone found a workaround to this ?

[2021-05-27 06:18] pohly commented on #101894
I would prefer to reach a decision about enabling the debug handlers, but if that's not possible, then merging PR #101960  as mitigation might make sense.

[2021-05-27 06:41] timebertt commented on #101036
This is fixed with https://github.com/kubernetes/kubernetes/pull/101179, right?

[2021-05-27 07:07] engineerakki commented on #44273
Getting this on 1.18.17-gke.700 on pods running on preemptive nodepools.

[2021-05-27 07:46] pmmalinov01 commented on #102294
I do think this can be pointed in the Major Themes for the 1.22 release. I would like your opinions @justaugustus @serathius  on this. If you do think it has a place in it, I will add it to the [Github Discussion](https://github.com/kubernetes/sig-release/discussions/1575).

[2021-05-27 07:54] #102151 closed

[2021-05-27 08:47] mborsz opened #102361 "POST pods/eviction calls can easily violate 1s API call latency SLO"
#### What happened:

If many pods using the same pod disruption budget are deleted at ~the same time, significant part DELETE API calls will finish in more >1s, violating latency SLO.

#### What you expected to happen:
All API calls meet 1s latency SLO.

#### How to reproduce it (as minimally and precisely as possible):

* Create a pod disruption budget object
* Create multiple pods in the same na

[2021-05-27 09:00] AbdulBasitAlvi commented on #102353
/assign

[2021-05-27 09:27] josephburnett opened #102362 "Create HPA v2 Stable API"
#### What would you like to be added:

We need to create a new version v2 (no suffix) along with conversion routines, etc..

#### Why is this needed:

HPA v2beta2 is graduating to stable!

- KEP: https://github.com/kubernetes/enhancements/tree/master/keps/sig-autoscaling/2702-graduate-hpa-api-to-GA
- Tracking issue: https://github.com/kubernetes/enhancements/issues/2702
- Working doc: https://docs

[2021-05-27 09:31] josephburnett commented on #102362
/sig sig-autoscaling
/add help wanted

[2021-05-27 09:32] josephburnett commented on #102362
/sig autoscaling

[2021-05-27 09:33] josephburnett commented on #102362
/label help wanted

[2021-05-27 09:38] josephburnett commented on #102362
/triage accepted

[2021-05-27 09:42] josephburnett commented on #102362
/label "help wanted"

[2021-05-27 09:47] josephburnett commented on #102362
/help

[2021-05-27 09:51] tanjing2020 commented on #102315
[code]
[code]
[code]

[2021-05-27 10:26] wangyysde commented on #102362
/assign

[2021-05-27 10:32] krystiannowak commented on #3595
/remove-lifecycle stale

[2021-05-27 10:35] suigh commented on #102271
@Huang-Wei

Here is the google doc, let's discuss the details on it.
https://docs.google.com/document/d/1HT9VLFcVccTCs7ucTkD2iyYSgR23cBiAP84l0nTQYH4/edit?usp=sharing

[2021-05-27 10:41] zuzzas opened #102367 "kubelet process restart leads to oscillation in Cloud LoadBalancer targets"
#### What happened:

If I were to restart kubelet on one or multiple nodes, it'd immediately set NotReady condition, and after checking PLEG healthiness, it will revert the Node object's condition to Ready. This leads to some thrashing in the list of targets for cloud LoadBalancers. Here's [the code](https://github.com/kubernetes/cloud-provider/blob/471c69a397d928c8fbed526379e600db8a16d51f/control

[2021-05-27 10:57] sivanamu opened #102368 "demo ignore it"
kubectl get pods --all-namespaces -o json  | jq -r '.items[] | select(.status.phase != "Running" or ([ .status.conditions[] | select(.type == "Ready" and .state == false) ] | length ) == 1 ) | .metadata.namespace + "/" + .metadata.name'

[2021-05-27 11:04] sftim commented on #102352
Duplicates https://github.com/kubernetes/website/issues/18798 and https://github.com/kubernetes/website/issues/25061
/triage duplicate

@satyamsareen let's track this in [k/website](https://github.com/kubernetes/website)
/close

[2021-05-27 11:04] #102352 closed

[2021-05-27 11:12] geokb commented on #89476
@dims I just experienced this behavior myself, it happens only with daemonsets where the `MatchExpressions` list inside `RequiredDuringSchedulingIgnoredDuringExecution.NodeSelectorTerms[]` is overridden with:
[code]

I am not really sure whether I am missing something or node affinity does not work correctly with daemonsets.

[2021-05-27 11:20] dims commented on #89476
@geokb can you check if just a regular pod works or not? (as opposed to a daemonset). please do open a fresh issue with enough info.

[2021-05-27 11:23] pohly commented on #92664
The current hostpath driver in k/k testing supports non-default paths, but the e2e.test suite doesn't use that yet.

/assign

[2021-05-27 11:24] Fabian-K commented on #102013
Hi @roycaihw,

here is my understanding of it: The `tekton-pipelines-webhook` pod provides the server for the admission webhooks of the Task CRD. When someone tries to create a new Task instance, the K8s API server sends a request to the pod to check if thats ok. This request needs to be send via https and for that a certificate needs to exist.

When installing the webhook configuration, the caBun

[2021-05-27 11:29] geokb commented on #89476
@dims you mean by creating a pod on its own that doesn't belong to a daemonset spec? if that's the case, at least I am certain that this behavior does not show up when using `RequiredDuringSchedulingIgnoredDuringExecution.NodeSelectorTerms[].matchFields[]` with deployments, because I used this for both deployments and daemonsets. So it's obvious there is something done by some k8s master component

[2021-05-27 11:41] pohly commented on #85101
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md#conformance-test-requirements also require that a test doesn't need privileges to run. We'll have to disable all mount operations when running tests.

[2021-05-27 11:45] wojtek-t commented on #102299
I don't think it's double counting, because those are different things.

And yes - we should be fair over W*D - this is exactly why I wanted to push virtual time by W*D.

@MikeSpreitzer - I've seen your KEP PR, just I'm under water. My Fridays are real working time, so I will take a look tomorrow.

[2021-05-27 12:04] dwakel commented on #49637
I think what is likely to cause this issue is if your cluster runs a health check or a liveness check on your containers before deploying.
Your cluster identifies that your application isnt running and enters a waiting state due to CrashLoopBackOff
This can be fixed by just creating a default get route on your API application on "/" that returns a 200.

[2021-05-27 12:05] #96980 closed

[2021-05-27 12:10] serathius commented on #98989
/remove-lifecycle stale
/lifecycle frozen

[2021-05-27 12:12] yuzhiquan commented on #102211
@ahg-g
I have some questions:
1. if just fix ci failed in #101822 , may be add `registerPriorityConfigProducer` in https://github.com/kubernetes/kubernetes/blob/2d79ebbe588ffcf82c2a4e7667b9ee7c478378a9/pkg/scheduler/framework/plugins/legacy_registry.go#L223 for nodefit score plugin, in producer function can handle `NodeResourcesFitArgs == nil`, add default config for args, then in https://github.c

[2021-05-27 12:24] josephburnett opened #102369 "Create HPA Behavior E2E Test"
#### What would you like to be added:

We need an E2E test for HPA behavior.

#### Why is this needed:

HPA v2beta2 is graduating to stable!

- KEP: https://github.com/kubernetes/enhancements/tree/master/keps/sig-autoscaling/2702-graduate-hpa-api-to-GA
- Tracking issue: https://github.com/kubernetes/enhancements/issues/2702
- Working doc: https://docs.google.com/document/d/1QGT9Waxc500ICGX_TGIoxfO

[2021-05-27 12:24] josephburnett commented on #102369
/sig autoscaling
/triage accepted
/help

[2021-05-27 13:24] unixfox commented on #94625
/remove-lifecycle rotten

[2021-05-27 14:09] mikkeloscar commented on #83107
/remove-lifecycle stale

[2021-05-27 14:25] zioproto commented on #69314
I figured out that in GKE 1.17 I introduced a change in the default behaviour #88895

The detail is here: https://github.com/kubernetes/kubernetes/pull/88894/files#diff-c3ef813be9fe8ea2bbc6eaa7358bbc5e71d819064a1bc280a1fdde52bca11a7fR941

The problem is that the API calls to create a ForwardingRule now always indicate explicitly the Network Tier. If the annotation `cloud.google.com/network-tier` i

[2021-05-27 14:32] mrbetta opened #102373 "Regex for validating Sysctl values in deployments might not be correct."
#### What happened:
The Regex that validates sysctl values in objects doesn't allow names that contain forward slashes. Sysctl values on network subinterfaces contain these forward slashes.

#### What you expected to happen:
Running:
kubectl create -f ./deployment.yaml

Creates the deployment.

#### How to reproduce it (as minimally and precisely as possible):

Create a deployment that brings an a

[2021-05-27 14:36] serathius commented on #102237
Fork/exec should work as long we have can pass flags to process and read it's stdout. Any idea if there are similar tests in k/k that we could take a look at and copy?

[2021-05-27 14:39] serathius commented on #100748
Could you give a hint how to implement and run such script?

[2021-05-27 14:40] mrbetta commented on #102373
/sig cli

[2021-05-27 14:48] lorenz commented on #98473
/remove-lifecycle rotten

[2021-05-27 14:49] josephburnett opened #102374 "Create HPA ContainerResource E2E Test"
#### What would you like to be added:

We need an E2E test for HPA [ContainerResource](https://pkg.go.dev/k8s.io/api/autoscaling/v2beta2#ContainerResourceMetricSource) targets.

#### Why is this needed:

HPA v2beta2 is graduating to stable!

KEP: https://github.com/kubernetes/enhancements/tree/master/keps/sig-autoscaling/2702-graduate-hpa-api-to-GA
Tracking issue: kubernetes/enhancements#2702
Work

[2021-05-27 14:49] josephburnett commented on #102374
/sig autoscaling
/triage accepted
/help

[2021-05-27 14:53] justaugustus commented on #102215
debian-base and debian-iptables k/k references have been updated and backported.

The remaining tasks are:
- [ ] resolve failing setcap image builds: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-release-push-image-setcap/1397032345390813184
- [ ] image promotion for setcap
- [ ] add a build/dependencies.yaml entry for setcap
- [ ] update setcap image references in k/k:
- [ ] backport s

[2021-05-27 14:54] davinchia commented on #20227
+1 to this. We have Java processes backed by Kube pods with sidecars that pipe stdio to the original calling process. This works fine if the calling process is in Kube. This does not work if the callling process isn't in Kube space. Having reverse port forward would allow us to test these Kube-backed processes as part of the standard Java test suite, instead of jumping through manual hoops.

[2021-05-27 14:54] serathius commented on #102353
/remove-help

[2021-05-27 14:59] neolit123 commented on #58686
/reopen

[2021-05-27 15:21] phil9909 commented on #99697
Sorry for the delay.

From the output you provided I removed all event for `startup-exec`, so we can focus on `liveness-exec` first (they share the same problem):

[code]
Now we can see more clearly that it does **two** restarts of the pod and only after that we see `CrashLoopBackOff`. In the beginning this is expected, as the backoff is very short and the status seems not to be updated, but as so

[2021-05-27 15:21] DreamAmbitious commented on #53459
+1 for this

[2021-05-27 15:22] neolit123 commented on #58686
/remove-lifecycle rotten

[2021-05-27 16:01] samuelarogbonlo commented on #102294
How can I be a contributor to this issue? what are the technical checklist that needs to be achieved to close out on the issue?

[2021-05-27 16:04] apelisse commented on #101036
Yeah, I think we can close this, thanks!

[2021-05-27 16:04] #101036 closed

[2021-05-27 16:08] msau42 commented on #100331
/assign @mattcary

[2021-05-27 16:11] serathius commented on #101851
Skipping start time for nodes make sense. Will remove it from original proposal.

[2021-05-27 16:13] msau42 commented on #102357
/triage accepted
/assign @jiaweiwang
@kubernetes/sig-storage-bugs

[2021-05-27 16:14] msau42 commented on #102248
/triage accepted
/assign @wongma7

[2021-05-27 16:14] msau42 commented on #101878
@kubernetes/sig-storage-bugs

[2021-05-27 16:15] msau42 commented on #102357
/assign @Jiawei0227

[2021-05-27 16:26] msau42 commented on #101332
/assign @gnufied
Please also send out an announce email to relevant mailing lists.

Do we have a sense of how many drivers may be impacted? And does this behavior cause any issues today? It turns out a lot of drivers were impacted by the NodePublish mount dir change so if this isn't causing any problems today, I would lean towards letting this one slide.

[2021-05-27 16:26] msau42 commented on #101332
@kubernetes/sig-storage-bugs

[2021-05-27 16:26] lavalamp commented on #7856
I am closing this issue:
* We will never be able to eliminate phase, certainly not in Kubernetes v1.
* We recently merged [new condition guidance](https://github.com/kubernetes/community/pull/4521).
* It's been well over a year since the last comment.

[2021-05-27 16:26] #7856 closed

[2021-05-27 16:28] msau42 commented on #100824
/assign @dims
is this fixed?

[2021-05-27 16:46] jfoy commented on #75890
/remove-lifecycle stale

[2021-05-27 16:46] dashpole commented on #101894
It appears to still be failing based on https://github.com/kubernetes/kubernetes/issues/101894#issuecomment-849065294.  If you are coming here after seeing a flake, rebase your PR to pick up #101960, and see if that fixes it.

[2021-05-27 16:49] secat opened #102378 "kubectl get command not consistent with overlapping resources kind not in the same group"
#### What happened:

The [Kubernetes Gateway API](https://gateway-api.sigs.k8s.io/) and the Istio API both have a resource named Gateway:
[code]

When we are using Istio and the Gateway API in the same Kubernetes cluster, these names will overlap when using `kubectl` on the command line. `kubectl get gateway` might return the Kubernetes Gateway resources and not the Istio Gateway resources or vice

[2021-05-27 16:50] msau42 commented on #85101
I spoke to @johnbelamaric earlier about the privileged requirement and concluded that we can relax it if necessary. So I don't consider requiring privileged an issue.

[2021-05-27 16:54] pohly commented on #101894
Why rebase? Any new test run will be based on merge with current k/k master and thus contain https://github.com/kubernetes/kubernetes/pull/101960.

[2021-05-27 17:07] Priyankasaggu11929 commented on #99270
cc: @Priyankasaggu11929

[2021-05-27 17:30] lavalamp commented on #58686
I suspect the code is treating omitting the argument completely as different than passing it the empty string.

[2021-05-27 17:38] msau42 commented on #100485
/assign @verult @jsafrane
to help look into this.

It looks like we only remove the selected-node annotation on provisioning failure if the [error returned is resource exhausted](https://github.com/kubernetes-csi/external-provisioner/blob/1b9d55dd8c7d8c076abeea1039d261723e2d6efa/pkg/controller/controller.go#L1717). Do you think it makes sense to return rescheduling for any other final error?

[2021-05-27 17:38] msau42 commented on #100485
/triage accepted
@kubernetes/sig-storage-bugs

[2021-05-27 17:42] msau42 commented on #100182
/assign @jsafrane
@kubernetes/sig-storage-bugs

[2021-05-27 17:45] msau42 commented on #99721
/assign @Jiawei0227
to investigate if this could be an issue

[2021-05-27 17:47] msau42 commented on #99677
/assign @jingxu97

[2021-05-27 17:48] secat commented on #102378
/sig cli

[2021-05-27 17:48] msau42 commented on #98186
/assign @gnufied

[2021-05-27 17:54] msau42 commented on #94764
/assign @andyzhangx

[2021-05-27 18:01] msau42 commented on #95888
/remove-lifecycle rotten
/help

[2021-05-27 18:05] msau42 commented on #99518
/assign @Jiawei0227

[2021-05-27 18:10] campoy opened #102380 "JSONSchemaProps should also support YAML encoding/decoding"
#### What would you like to be added:

This issue is about the `JSONSchemaProps` type defined in:
- [k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1](https://github.com/kubernetes/apiextensions-apiserver/blob/41c32f2661cc03c04d3c7e48ccf8107e0f8922b4/pkg/apis/apiextensions/v1/types_jsonschema.go)
- [k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1](https://github.com/kubernete

[2021-05-27 18:12] msau42 commented on #102130
/assign @wenlxie @mkimuram

@kubernetes/sig-storage-bugs

[2021-05-27 18:13] msau42 commented on #102130
/triage accepted

[2021-05-27 18:13] msau42 commented on #102130
/triage accepted

[2021-05-27 18:15] serathius commented on #98251
/remove-lifecycle rotten
/wg structured-logging

[2021-05-27 18:16] msau42 commented on #102097
/triage accepted
@kubernetes/sig-storage-bugs

[2021-05-27 18:18] msau42 commented on #101911
/triage accepted

[2021-05-27 18:20] msau42 commented on #101791
/triage accepted
/assign @gnufied @jsafrane

[2021-05-27 18:20] msau42 commented on #101911
/asign

[2021-05-27 18:20] msau42 commented on #101911
/assign

[2021-05-27 18:26] sguidos commented on #59876
I came across this post after updating my Docker Desktop for Windows to version 3.3 using WSL2 integration.  After several more hours of research, I came across the answer described here:  https://stackoverflow.com/questions/62812948/volume-mounts-not-working-kubernetes-and-wsl-2-and-docker/63524931#63524931

What used to work as:

[code]
Now works as:
[code]
I hope this helps someone else who com

[2021-05-27 18:28] msau42 commented on #101622
/assign @MadhavJivrajani
/triage accepted
@kubernetes/sig-storage-bugs

[2021-05-27 18:31] nmiculinic commented on #100485
It makes sense removing this annotation if node in question does not exist anymore. If the underlying PV can be attached to some other node, like many cloud PVs can, then it should be allowed to do so.

[2021-05-27 18:34] msau42 commented on #101616
I think it's resolved by https://github.com/kubernetes/kubernetes/pull/102282

[2021-05-27 18:36] msau42 commented on #101616
/close

[2021-05-27 18:36] #101616 closed

[2021-05-27 18:43] msau42 commented on #101444
Looks like documentation has room for improvement, but otherwise, it doesn't look like there's an issue.

/close

[2021-05-27 18:43] #101444 closed

[2021-05-27 18:46] msau42 commented on #101397
/triage accepted
/kind feature

[2021-05-27 18:49] msau42 commented on #101378
I think this is the same issue as https://github.com/kubernetes/kubernetes/issues/101911

/assign @msau42 @gnufied
/triage accepted
@kubernetes/sig-storage-bugs

[2021-05-27 19:01] msau42 commented on #101333
/triage accepted
/assign @xing-yang

[2021-05-27 19:03] msau42 commented on #101172
/triage accepted
/assign @mauriciopoppe

[2021-05-27 19:05] msau42 commented on #101153
/assign @divyenpatel
/triage accepted

Is this issue fixed?

[2021-05-27 19:06] msau42 commented on #101130
/assign @mkimuram
/triage accepted

[2021-05-27 19:10] msau42 commented on #100988
I agree it was an oversight to not put the release note under ACTION_REQUIRED. Thank you for the feedback and we'll be sure to correct this in the future.

The remaining discussion sounds more related to kubeadm improvements.

/remove-sig storage
/sig cluster-lifecycle

[2021-05-27 19:11] msau42 commented on #100331
/triage accepted

[2021-05-27 19:11] msau42 commented on #100089
/triage accepted

[2021-05-27 19:12] msau42 commented on #100900
/triage accepted
/assign @Jiawei0227

[2021-05-27 19:13] msau42 commented on #100897
/triage accepted

[2021-05-27 19:13] msau42 commented on #100854
/triage accepted
/help

[2021-05-27 19:15] msau42 commented on #100396
/assign @jingxu97
/triage accepted

[2021-05-27 19:16] msau42 commented on #99981
/triage accepted

[2021-05-27 19:16] msau42 commented on #99955
/triage accepted

[2021-05-27 19:16] msau42 commented on #99955
/assign @bswartz

[2021-05-27 19:16] msau42 commented on #99931
/assign @bswartz
/triage accepted

[2021-05-27 19:17] msau42 commented on #99827
/triage accepted

[2021-05-27 19:17] msau42 commented on #99827
/assign

[2021-05-27 19:23] mrbetta commented on #102373
Maybe this line:

https://github.com/kubernetes/kubernetes/blob/c224ca7674445ec98a2e8876daf53b9846cd3ae1/pkg/apis/policy/validation/validation.go#L368

Should be updated with:
"([a-z0-9][/-_a-z0-9]*)?[a-z0-9*]"

[2021-05-27 19:34] mrbetta commented on #102373
Wrong place:

"([a-z0-9][-_/a-z0-9])?[a-z0-9]"

[2021-05-27 19:53] mrbetta commented on #102373
Also here?
https://github.com/kubernetes/kubernetes/blob/e8760b95bb0a0dfb5c184fd4e5ab95da3650a040/pkg/apis/core/validation/validation.go#L3777

[2021-05-27 20:03] neolit123 commented on #100988
i guess at this point we can close this.
kubeadm has no logic (or a way) to detect missing feature gates in core components.

/close

[2021-05-27 20:03] #100988 closed

[2021-05-27 20:07] thockin commented on #102335
Agree this is for Calico.

/assign @caseydavenport to confirm and close

[2021-05-27 20:11] fedebongio commented on #102380
/cc @roycaihw
/assign @Jefftree
/triage accepted

[2021-05-27 20:11] thockin commented on #102335
/assign @caseydavenport

[2021-05-27 20:14] fedebongio commented on #58686
/help
/triage accepted

[2021-05-27 20:14] fedebongio commented on #102228
/triage accepted

[2021-05-27 20:17] therealmitchconnors commented on #53459
+1 Istio would also like to make use of CRD field selectors.

[2021-05-27 20:21] msau42 commented on #99516
Thanks for the feedback. We are not making any more changes to the in-tree PD driver at this time as it is deprecated and replaced by the PD CSI driver. It looks like the PD CSI driver volume handle format may better suit your needs: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/docs/kubernetes/user-guides/pre-provisioned.md

[2021-05-27 20:22] msau42 commented on #99516
If you have any further suggestions, you can open an issue in https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/. Thanks!

/close

[2021-05-27 20:22] #99516 closed

[2021-05-27 20:23] thockin commented on #102314
We tried implementing a cleanup mode but it was problematic and removed. (see https://github.com/kubernetes/kubernetes/pull/76109)

You can run `kube-proxy --cleanup` but that's pretty coarse.  Maybe we should add a value to that flag to say which mode to try to cleanup?  PRs welcome.

The simplest answer is to reboot.

[2021-05-27 20:24] thockin commented on #102311
@dcbw - assigning to you :)

[2021-05-27 20:24] thockin commented on #102286
/triage accepted

[2021-05-27 20:29] roycaihw commented on #102380
[JSONSchemaProps](https://github.com/kubernetes/kubernetes/blob/59fd0a5c95a428660701dac7fe230dd6ddc4410a/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/types_jsonschema.go#L20) is not different from other built-in types-- we only declare json tags in the Go type.

In Kubernetes, we implemented [a wrapper of go-yaml](https://github.com/kubernetes-sigs/yaml#introduction) to han

[2021-05-27 20:29] #102380 closed

[2021-05-27 20:30] thockin commented on #102127
The short answer is that it is NOT currently being discussed.  To open this discussion we would need someone to lay out the use cases, why existing solutions do not work, and propose API changes.

[2021-05-27 20:31] thockin commented on #102127
/kind feature

[2021-05-27 20:34] thockin commented on #102085
Those repair errors are the place to start - IPs are allocated synchronously, so that means the service controller thinks it allocated an IP in the bitmap but the bitmap disagrees.

[2021-05-27 20:36] thockin commented on #102009
ngingx running in the cluster?  You need to enable access from the nginx proxy in your policy.

[2021-05-27 20:37] thockin commented on #102009
@robscott WRT the other conversation this week.

[2021-05-27 20:37] sgd2z commented on #59876
Thanks @sguidos - That saved me some headache.

[2021-05-27 20:40] thockin commented on #101978
If you are not setting `externalTrafficPolicy: Local` then the default behavior is to SNAT as it might cross hosts.

If you can set that policy, then there will be no SNAT.

Some implementations of service-proxy (other than kube-proxy) can avoid the SNAT in all cases.  I know at least the eBPF implementations can.

[2021-05-27 20:48] thockin commented on #101491
Ping on this  -  is it still a problem @sknaumov ?  If not, we'll close this.

[2021-05-27 20:50] thockin commented on #101216
Who is doing the redirect?  Your app or the LB impl?

[2021-05-27 20:51] thockin commented on #101165
Hi @infa-anisrini - is this still an issue?

[2021-05-27 20:54] thockin commented on #101029
I think your interp is correct @danwinship (for node addresses).

I don't think it's strictly safe for service ports and I am afraid of it. :(

[2021-05-27 20:55] thockin commented on #101029
/triage accepted
/kind bug
/add-label help-wanted

[2021-05-27 20:56] xmudrii commented on #102215
The issue with setcap builds has been resolved. The new setcap image has been promoted and the image references in k/k are updated on master and release-1.21 branches (older branches don't use setcap). All required tasks should be completed, so I'm going to close the issue.

/close

[2021-05-27 20:56] #102215 closed

[2021-05-27 21:00] mohjam2004 commented on #102085
Thanx thockin,
how can I fix it?

[2021-05-27 21:04] #100705 closed

[2021-05-27 21:08] thockin commented on #102314
Let's make this a docs issues - we should write this down

[2021-05-27 21:14] thockin commented on #102127
/triage accepted

[2021-05-27 21:15] thockin commented on #102127
We are looking at DENY as part of cluster network policy.  That may help what you need?

[2021-05-27 21:22] srampal commented on #102127
KEP for CNP referred to in Tim's comment is here ->. https://github.com/kubernetes/enhancements/issues/2091

[2021-05-27 21:22] thockin commented on #102085
It sounds like a bug.  The trick is whether we can reproduce it enough to pin it down.

[2021-05-27 21:26] abhiraut commented on #102127
A couple of questions for @unmarshall

1. Are you looking to explicitly deny this traffic as a cluster administrator persona? If yes, you might be interested in ClusterNetworkPolicy KEP as pointed out by Tim above which includes `deny` actions, the link to the KEP can be found here -> https://github.com/kubernetes/enhancements/pull/2522
2. Are you looking to deny this as a developer persona? If ye

[2021-05-27 22:02] caseydavenport commented on #102335
@irfansheikh777 looks like you've already raised an issue on the Calico GitHub so let's continue discussion there (https://github.com/projectcalico/calico/issues/4638) - I don't think we need a kubernetes issue tracing this. Thanks!

/close

[2021-05-27 22:02] #102335 closed

[2021-05-27 22:20] duhruh commented on #58686
@v-ilinski I can't seem to reproduce this on my machine with `kubeadm`, from a clean install I ran `kubeadm init --config config.yaml`

my relevant config:
[code]

note I tested this with  `localAPIEndpoint.advertiseAddress` not set, then again with it set to `""`

In either case my kube-apiserver runs successfully.

My setup:
[code]

I could have missed something, can you still reproduce this? If

[2021-05-27 22:28] duhruh commented on #58686
/assign

[2021-05-27 22:33] AbdulBasitAlvi commented on #102334
/assign

[2021-05-27 23:20] PushkarJ commented on #100401
Related: https://github.com/spf13/viper/issues/997

[2021-05-27 23:32] rburruss022 commented on #102274
This would be super helpful for new users

[2021-05-28 00:12] kamalrajv commented on #72231
I had similar issue where the new deployment will bring the pods down to 1 and then scale it up to the autoscaler values set.  i had below config in the deployment spec
replicas: 1

Instead of having it defaulted to 1, i had it replaced with minReplicas value of the hpa, then i saw that it maintained that min value when new replicaset is taking action on bringing up the new image.
Although when yo

[2021-05-28 00:26] johngmyers opened #102382 "Unnecessary preemption during DaemonSet rolling update"
#### What happened:

On a cluster with a 3-node control plane, had worker nodes each with a number of high priority DaemonSet pods and a single normal priority StatefulSet pod. The nodes had 220m CPU unallocated.

Updated the spec of a high priority DaemonSet with a 700m CPU request (no change to requests), triggering a rolling update of that DaemonSet.

On each successive node, first the old Daem

[2021-05-28 01:16] tanjing2020 commented on #102315
[code]
[code]

[2021-05-28 01:24] neolit123 commented on #102361
/sig apps

[2021-05-28 01:24] neolit123 commented on #102308
/sig api-machinery

[2021-05-28 01:25] neolit123 commented on #102368
we should use the issue tracker for bug reports / feature requests.

/close

[2021-05-28 01:25] #102368 closed

[2021-05-28 01:27] aziztitu commented on #95459
I've been trying to figure out the opposite for a while. I might be thinking about this the wrong way, but any help here is much appreciated.

Is it possible to deny an approved cert? Or is it possible to block/remove an already approved cert?

[2021-05-28 01:29] rittneje commented on #99513
/remove-lifecycle stale

[2021-05-28 01:34] liggitt commented on #95459
no, once approved, the signer observes and can act on that approval asynchronously, so it cannot then be denied.

You can delete a CSR that has been approved and not yet issued, sure

[2021-05-28 01:56] mengjiao-liu commented on #102373
/assign

[2021-05-28 02:10] aziztitu commented on #95459
@liggitt  Got it. Thanks for the quick reply.

So in the case where I need to allow someone to access the resources, and later block their access, certs would not be the way to go, right?

In that case, would you recommend something like Webhook Token Authenticator?
I've been reading about them, but I'm confused on how to use them with the .config file. Like:
- How/where would you set the webhook-

[2021-05-28 02:15] tanjing2020 opened #102384 "[scheduler] deprecates NodeUnschedulable plugin"
#### What would you like to be added:
Deprecates NodeUnschedulable plugin

#### Why is this needed:
Deprecate Node.Spec.Unschedulable when TaintNodeByCondition is GA'ed(https://github.com/kubernetes/kubernetes/issues/69010)

If node is set to unschedulable, then node will add unschedulable taint.
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/nodelifecycle/node_lifecycle_contr

[2021-05-28 02:16] tanjing2020 commented on #102384
/sig scheduling

[2021-05-28 02:43] zhangjie2012 opened #102385 "K8s node add new label, Prometheus pull data not inconsistent"
Yesterday, I created a issue about K8s Prometheus monitor: https://github.com/google/cadvisor/issues/2880.

After two days of tracking, I found it's not Prometheus's problem (config or monitor exp).

Same prometheus version, and same config files. When add new label to K8s node, In Kubernetes v1.13 `container_memory_usage_bytes` only has one data, But in Kubernetes v1.19 `container_memory_usage_by

[2021-05-28 02:45] zhangjie2012 commented on #102385
`/sig api-machinery`

[2021-05-28 02:52] zhangjie2012 commented on #102385
/sig api-machinery

[2021-05-28 03:02] ahg-g commented on #102382
That is possible.

[2021-05-28 03:02] neolit123 commented on #102316
https://github.com/kubernetes/kubernetes/pull/102366#issuecomment-850076105

[2021-05-28 03:07] andyzhangx commented on #94764
this issue was already fixed in Azure Disk CSI driver: https://github.com/kubernetes-sigs/azuredisk-csi-driver/releases/tag/v1.2.0

[2021-05-28 03:07] andyzhangx commented on #94764
/close

[2021-05-28 03:07] #94764 closed

[2021-05-28 03:19] renukamanavalan opened #102387 "Pods stuck as failed with "Pod Predicate NodeAffinity failed""
#### What happened:
Ref: This is already reported in issue [#72502](https://github.com/kubernetes/kubernetes/issues/72502)

I have one deployment with node affinity to master with replica cnt = 1.
I did not follow up in-depth to get a repro. But now and then, I see a deployment that has a pod stuck as below:

`sonic-k8s-agent-8684d6989d-bhzbf   0/1     NodeAffinity   0          2d1h
`

BTW, the co

[2021-05-28 04:23] navist2020 commented on #102378
You can get the correct result to use in the form `<plural>.<group>`, like
[code]
or
[code]
Their ShortName is also different.

[2021-05-28 04:59] spiffxp commented on #102087
I have no idea if it's relevant here, but I'll just point out that right now the latest release of `buildx` has a bug that prevents it from properly pushing to GCR under certain conditions (see https://github.com/kubernetes/test-infra/issues/20884#issuecomment-783840975 for a description of the problem)

I am hopeful the fix is making its way back up the dependency chain into the next release of `

[2021-05-28 05:07] knight42 commented on #101894
<img width="1111" alt="Screen Shot 2021-05-28 at 13 04 52" src="https://user-images.githubusercontent.com/4237254/119932195-62a68c80-bfb5-11eb-9971-488a6dad23af.png">

@dashpole looks like it has become more stable now.

[2021-05-28 05:31] pacoxu commented on #101894
/close

[2021-05-28 05:31] #101894 closed

[2021-05-28 05:49] BenTheElder commented on #102087
we're using buildx for the same patterns as before only replacing building one platform at a time as a drop in docker build replacement. since we use `--load` when building and then push/manifest push.

we're not affected. it's being pushed by old school docker tooling from the standard docker storage.

sascha mentioned that the newer base images should work properly with `FROM --platform` as they

[2021-05-28 06:23] fzu-huang commented on #96240
Same problem but I can reproduce this case:

1. node with kubelet in  1.11.10-00
2. deploy a pod with configmap volumes subpath.
3. edit configmap, change file content
4. update kubelet to 1.13.12-00
5. we can see contianer of this pod is recreating because container hash has change when we upgrade from 1.11 to 1.13
6. new container created but failed to start,  with same log : `mounting XXX to ro

[2021-05-28 06:46] MadhavJivrajani commented on #102219
/triage accepted

[2021-05-28 06:49] amshankaran commented on #102367
@zuzzas  I'm also facing a similar issue. Could you please specify the time difference between the NodeNotReady state to NodeReady state? Have you enabled IPv6 in your cluster?

[2021-05-28 07:00] v-ilinski commented on #58686
@duhruh the extraArgs/advertise-address should be under the apiServer, rather than controllerManager. (note advertise-address instead of advertiseAddress)

[code]

Would you be able to share the resulting kube-apiserver.yaml manifest? Mine looks like:

[code]

[2021-05-28 07:22] adilshehzad786 opened #102391 "Deployments/auth.yaml: No such file or directory"
#### What happened:
Auth Yaml file could not be detected in the latest Kubernetes Version
#### What you expected to happen:

[code]
#### How to reproduce it (as minimally and precisely as possible):
1.`gsutil -m cp -r gs://spls/gsp053/orchestrate-with-kubernetes .
cd orchestrate-with-kubernetes/kubernetes`

2.  `gcloud container clusters create bootcamp --num-nodes 5 --scopes "https://www.googleap

[2021-05-28 07:23] adilshehzad786 commented on #102391
/sig auth

[2021-05-28 07:28] martinstraesser opened #102392 "Proxy healthz start failure after node CRI maintenance"
#### What happened:

On some nodes in my cluster I had to restart the CRI (in my case `containerd`) for maintenance reasons via:

[code]

As expected the following events where given by `kubectl describe node $NODE_NAME` :
[code]

After `containerd` is ready again the node gets ready again, however there seams to be a persisting issue with the proxy health check:

[code]

#### What you expected to

[2021-05-28 07:31] palnabarun commented on #102214
I think the design choice made in https://github.com/kubernetes/kubernetes/issues/15834#issuecomment-249568245 is correct.

You achieve what you are asking by composing the functionality of command-line constructs like the following:

[code]

[2021-05-28 07:33] martinstraesser commented on #102392
/sig network

[2021-05-28 08:24] odinuge opened #102394 "Node Container Manager [Serial] Validate Node Allocatable fails on systemd cgroup driver"
#### Which jobs are failing:

- `pr-node-kubelet-serial-crio-cgroupv1`
- `pr-node-kubelet-serial-crio-cgroupv2`

#### Which test(s) are failing:

`E2eNode Suite: [sig-node] Node Container Manager [Serial] Validate Node Allocatable [NodeFeature:NodeAllocatable] sets up the node and runs the test`

#### Since when has it been failing:

N/A

#### Testgrid link:

- https://testgrid.k8s.io/sig-node-kub

[2021-05-28 08:31] leonK-BO commented on #58065
@xens thanks for the hint with `alias kctl="env HTTPS_PROXY=socks5://proxy-url:port kubectl"` it seems to work. But now I get following error message:
[code]

[2021-05-28 08:42] odinuge commented on #102394
/sig node

[2021-05-28 08:52] rrnjbrr opened #102397 "2infirst"
Thank you .

[2021-05-28 09:02] cwyj opened #102398 "networkpolicy not work cidr: 0.0.0.0/0"
[code]

hi this is my networkpolicy yaml,my app has 2 ports: 80 and 36000.
i want to allow some ip blocks and namespaces can access port 80.this part is no problem.
i also want to allow all ip blocks can access port 36000.in second ‘from’,it does not work and without any errors.
please give me a hand.thank u!

[2021-05-28 09:20] rrnjbrr opened #102400 "Jupiter Notebook"
#### What happened:

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network

[2021-05-28 09:23] zuzzas commented on #102367
<details>
  <summary>literally one second</summary>

- apiVersion: v1
  count: 1
  eventTime: null
  firstTimestamp: "2021-05-28T09:20:48Z"
  involvedObject:
    kind: Node
    name: test-master-0
    uid: test-master-0
  kind: Event
  lastTimestamp: "2021-05-28T09:20:48Z"
  message: 'Node test-master-0 status is now: NodeNotReady'
  metadata:
    creationTimestamp: "2021-05-28T09:20:48Z"
    name

[2021-05-28 09:38] fzu-huang commented on #68211
Is there a better solution in versions before v1.19？

[2021-05-28 10:03] fduyangchao opened #102402 "outerVolumeSpecName should not set as innerVolumeSpecName when reconstructing volume"
#### What happened:
Pods using ephemeral volumes stuck in "Error" status after node reboot.
[code]
This pod uses an ephemeral volume outer-named "log", which is sourced from a storage plugin developed by my team. According to design, ephemeral volume's inner and outer name are defferent, for example:

volumes in pod spec:
[code]
while in /var/lib/kubelet/pods/<pod_uid>/volumes/<pluginname>, the in

[2021-05-28 10:04] fduyangchao commented on #102402
/sig storage

[2021-05-28 10:18] mrpre commented on #102324
can anyone confirm whether it is a BUG ?

[2021-05-28 10:20] medmedchiheb commented on #102334
@AbdulBasitAlvi Did saw that I've assigned the issue to me!

[2021-05-28 10:25] feisuzhu commented on #19475
@sdminonne please /reopen this, it's still relevant.

[2021-05-28 10:26] CaoDonghui123 commented on #102308
https://github.com/go-yaml/yaml/issues/740#issuecomment-843446726
need update version to gopkg.in/yaml.v3

[2021-05-28 12:27] #102400 closed

[2021-05-28 12:52] wangyysde commented on #102374
/cc @wangyysde

[2021-05-28 13:31] secat commented on #102378
@navist2020 Thanks for the answer.

My point is that is not normal that `kubectl get <resource kind>` is not consistent based on which CRDs are installed.

[2021-05-28 13:49] jkabat opened #102404 "Winterm issue on Windows 8.1 in kubectl exec"
#### What happened:

After latest update (Im not doing it regularly) Im facing following error when trying to connect to GCP pods:

[code]

#### What you expected to happen:
#### How to reproduce it (as minimally and precisely as possible):
#### Anything else we need to know?:

I'm using GIT bash and have no issue with docker-compose EXEC, which might be bitten in similar way:
https://github.com/d

[2021-05-28 13:58] IonutMarica commented on #23726
Had the same problem, my setup has 3 nodes (1 control and 2 workers).
When I issued kubectl get nodes on workers i've got:

[asd1@kubevm-worker1 ~]$ kubectl get nodes
The connection to the server localhost:8080 was refused - did you specify the right host or port?
[asd1@kubevm-worker2 ~]$ kubectl get nodes
The connection to the server localhost:8080 was refused - did you specify the right host or

[2021-05-28 14:09] dmrogers7 opened #102405 "HPA desired replicas not respecting minReplicas when set to 1"
#### What happened:

When deploying a HorizontalPodAutoscaler (HPA) with `minReplicas` set to `1`, the `desired` replicas is set to `0`

#### What you expected to happen:

I expect that the `desired` replicas should fall with the range of `minReplicas` and `maxReplicas` and, in this case, should be calculated to be `1`

#### How to reproduce it (as minimally and precisely as possible):

Deploy thi

[2021-05-28 14:15] dmrogers7 commented on #102405
/sig Autoscaling

[2021-05-28 14:44] jonesbr17 opened #102407 "CVE-2020-28852: Update golang.org/x/text to v0.3.5"
#### What happened:

All versions are vulnerable to CVE-2020-28852.

#### What you expected to happen:

Vulnerability to be mitigated.

#### How to reproduce it (as minimally and precisely as possible):

[code]
This line needs to be updated in go.mod to v0.3.5

#### Anything else we need to know?:

In x/text in Go before v0.3.5, a "slice bounds out of range" panic occurs in language.ParseAcceptLan

[2021-05-28 14:52] zioproto commented on #69314
I link here the relevant documentation for the `cloud.google.com/network-tier` annotation: https://cloud.google.com/kubernetes-engine/docs/how-to/service-parameters#lb_ip

[2021-05-28 14:59] smileusd opened #102408 "kubelet can not auto clean loop device using block volume when upgrade to kuberentes 1.18"
/sig storage

#### What happened:
When upgrade to 1.18 kubernetes, the block volume will can not be cleaned and the PV stayed in Released status due to loop device can not be clean. Because the loop device bind to a wrong directory:
[code]
This because at the new pr [!#84660](https://github.com/kubernetes/kubernetes/pull/84660), it does clean the old symbolic device so `losetup -f` will link to th

[2021-05-28 15:14] Oats87 opened #102410 "Kubelet on first start attempting to `MountVolume.SetUp` volume for pod that enters terminating state while kubelet was offline"
#### What happened:
While trying to debug https://github.com/rancher/rke2/issues/914 and https://github.com/longhorn/longhorn/issues/2629 , I noticed that the `kubelet` continuously attempts to incorrectly perform a `MountVolume.SetUp` for a volume attached to a pod that is terminating. This is caused by `delete`ing the pod while the node is `NotReady`, i.e. `kubelet` not running, then starting th

[2021-05-28 15:15] Oats87 commented on #102410
/sig node
/sig storage

[2021-05-28 15:22] neolit123 commented on #102404
/sig windows cli

[2021-05-28 15:23] neolit123 commented on #102398
/sig network

[2021-05-28 15:23] neolit123 commented on #102398
/kind support

[2021-05-28 15:24] neolit123 commented on #102397
/close

[2021-05-28 15:24] #102397 closed

[2021-05-28 15:25] neolit123 commented on #102387
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", GitCommit:"dff82dc0de47299ab66c83c626e08b245ab19037", GitTreeState:"clean", BuildDate:"2020-07-15T16:51:04Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}

<1.19 is out of support.
you need to check if the problem is reproducible with 1.19+.

/sig apps

[2021-05-28 15:27] neolit123 commented on #102208
/sig node

[2021-05-28 15:52] matthyx commented on #99697
Ok, I see what you're expecting regarding events... I will probably spend time next week trying to understand what's causing these "holes".

[2021-05-28 17:10] bacongobbler commented on #91459
@khenidak nailed it on the head with his last comment. I do agree that we should not be re-defining the behaviour of a PUT request. But the inconsistency of how a Service updates the `spec.clusterIP` field compared to other resources results in inconsistencies in the PUT behaviour.

Once a resource defines fields in the `spec` object, normally Kubernetes leaves it unchanged. My understanding is th

[2021-05-28 17:16] #102097 closed

[2021-05-28 17:16] #102311 closed

[2021-05-28 17:32] fkocik commented on #101786
Hi,

As I am concerned, nodes under containerd 1.4.4 do not report complete memory data anymore.
The main field requested by metrics-server here :
https://github.com/kubernetes-sigs/metrics-server/blob/69697207efb249f3694a312db7dedceb9c953493/pkg/scraper/client/summary/types.go#L89
is always set to **0**.

I currently upgrading my cluster (mutli-arch bare-metal) from **containerd** runtime to **cr

[2021-05-28 17:49] gyohuangxin commented on #52172
I also met this issue in Kubernetes v1.20.0 and the kubelet log was confusing:
[code]

[2021-05-28 17:51] johngmyers commented on #102382
Would the resulting unnecessary preemption, despite PDB, be correctly classified as behavior contrary to the documented expectations of the system?

As for addressing this, perhaps terminating pods should not contribute toward preemption? (assuming they do; I have not read that code)

I will spend more time next week seeing if I can reproduce.

[2021-05-28 17:58] ahg-g commented on #102382
The scheduler respect PDB on best effort basis only (see https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/#poddisruptionbudget-is-supported-but-not-guaranteed). Which documentation are you referring to?

[2021-05-28 17:59] ahg-g commented on #102211
If you don't mind, let me take this one. We need to move the group of default plugins to be set during CC defaulting logic. It is not quite straightforward to do.

[2021-05-28 18:05] johngmyers commented on #102382
https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/#daemonset-update-strategy

Kubernetes is behaving as if both pods of the DaemonSet were simultaneously running on the node.

[2021-05-28 18:14] ahg-g commented on #102382
Not really, it is still true that only one pod is running **on the node**.

[2021-05-28 18:27] johngmyers commented on #102382
If only one pod was running on the node then the scheduler had no justification for preempting the StatefulSet.

The Kubernetes system as a whole needs to maintain the invariants that the Kubernetes system documents, despite such implementation concerns as propagation delay.

[2021-05-28 18:30] ahg-g commented on #102382
Kubernetes is eventually consistent. The controllers driver the system state to eventually match the user declared one.

The invariant "At most one pod of the DaemonSet will be running on each node during the whole update process." isn't being violated.

[2021-05-28 19:25] johngmyers commented on #102382
kube-scheduler is taking action based on a view of the state of the world that never existed. As such, it is performing a preemption contrary to the documented bases.

The usual way of dealing with this sort of issue is with conditional requests. For example, kube-scheduler would need to be able to tell apiserver "delete this pod, but only if all these other pods still exist".

[2021-05-28 19:45] joshross12 commented on #62387
@gabx what was the resolution?

[2021-05-28 20:10] terinjokes commented on #58065
@leonK-BO Hmmm. I've gotten a similar error message (specifically "Unable to connect to the server: socks connect") when the SOCKS5 proxy server was in a bad state, and restarting it resolved the issue. Does your command work with kubectl for commands other than `exec` and `port-forward`? If so, what software are you using for the SOCKS5 proxy server?

[2021-05-28 20:41] Huang-Wei commented on #101135
I'd suggest tweaking the plan a bit:

1. Unroll ScheduleAlgorithm#Extenders() to Scheduler.go ([1.diff](https://gist.github.com/Huang-Wei/53fafb11d2da1a65eb606e44061f6816) for your reference)
    - in scheduer.go, just specify an `Extenders` slice (instead of function `Extenders()`)
    - [temporary] add `[]framework.Extender` to ScheduleAlgorithm#Schedule()
    - so we can make some functions (e.

[2021-05-28 21:22] #96847 closed

[2021-05-28 21:22] #96965 closed

[2021-05-28 21:22] #97316 closed

[2021-05-28 22:32] anthr76 commented on #101786
I'm thinking this is a downstream bug in cadvisor

[2021-05-29 00:25] mattcary commented on #99383
/lifecycle frozen

[2021-05-29 00:38] joelittlejohn commented on #52172
/remove-lifecycle rotten

[2021-05-29 02:10] kishorj commented on #98278
/remove-lifecycle rotten

[2021-05-29 02:10] kishorj commented on #98097
/remove-lifecycle rotten

[2021-05-29 02:11] kishorj commented on #92783
/remove-lifecycle rotten

[2021-05-29 02:26] Oats87 commented on #102410
I'm not sure why `MountVolume.SetUp` is ever being called for a pod in terminating state... https://github.com/kubernetes/kubernetes/issues/70044

[2021-05-29 03:43] ahg-g commented on #102382
The scheduler is taking action based on the stream of events it is receiving from the api-server.

I still fail to understand which "documentation" the scheduler is not adhering to?

Feel free to make a full proposal. But my guess is that the complexity that comes with such approach is not worth it.

One thing you may want to look at is `PreemptionPolicy: Never` as a way to prevent preemption duri

[2021-05-29 03:50] yogesh174 commented on #54542
It worked for me after changing the cgroup to systemd in docker. To do that I edited the `/etc/docker/daemon.json` file to
[code]
And restarted docker with `sudo systemctl restart docker`

[2021-05-29 06:37] sdminonne commented on #19475
@feisuzhu, I'm OK to reopen this issue but would you add more info here? Anything: ideas, implementation WIP, whatever.
Thanks

[2021-05-29 08:15] frittentheke commented on #72757
I suppose this should not go stale then?

[2021-05-29 08:16] frittentheke commented on #72757
@cheftako

I suppose this should not go stale then?

[2021-05-29 08:17] frittentheke commented on #72757
/remove-lifecycle stale

[2021-05-29 08:55] serathius commented on #102353
/priority important-soon
This issue is based on feedback from Kubelet migration retrospection, it is required before organizing migration of next component.
CC @kubernetes/wg-structured-logging-members

[2021-05-29 08:55] serathius commented on #102237
/priority important-soon
This issue is based on feedback from Kubelet migration retrospection, it is required before organizing migration of next component.
CC @kubernetes/wg-structured-logging-members

[2021-05-29 08:57] serathius commented on #100748
/priority important-soon
This issue is based on feedback from Kubelet migration retrospection, it is required before organizing migration of next component.
/cc @kubernetes/wg-structured-logging-members

[2021-05-29 09:15] yangjunmyfm192085 commented on #102353
@MadhavJivrajani  @AbdulBasitAlvi, need any help? If need help,  can give me some tasks to do

[2021-05-29 10:36] serathius opened #102430 "Kubelet JSON logging performance test"
With Kubelet logs fully migrated to structured logging we can measure macro performance improvements related to using JSON logging format. We should use this data to motive more cluster administrators to save on resources.

Requirements:
* Test different logging format to compare. Formats --logging-forma=text, --logging-format=json
* Test different logging verbosity levels: --v=0 (default), and --

[2021-05-29 11:15] ydp commented on #100803
This looks like similar with #101622, which is cause by nfs volume is not accessible.

[2021-05-29 11:20] zx1986 commented on #15478
refs: https://kubernetes.io/docs/concepts/cluster-administration/logging/

[2021-05-29 11:43] serathius commented on #102294
PR https://github.com/kubernetes/kubernetes/pull/102062 to update Etcd is ready, but we found a blocker for merging . There is one test failing https://github.com/etcd-io/etcd/issues/13056
I will take a look into it on Monday, still more eyes on the problem could speed up resolution.

[2021-05-29 12:26] serathius commented on #99265
@gavinfish Are you still working on this or we can let someone else can pick it up?
@kubernetes/wg-structured-logging-members

[2021-05-29 13:04] aduncmj commented on #102208
There are enough resources on the node. The docker version is 18.06 and the kubelet version is 1.12.9. In addition, the contents of the link you provided are what I am looking for. I will also ask for help in those discussion platforms. Thanks a lot!

[2021-05-29 14:44] neolit123 commented on #102208
1.12 is no longer in support. Please try 1.19 or newer and confirm if the
problem is reproducible with this newer version.

[2021-05-29 17:09] ahg-g commented on #102339
It seems that `podX` is not being deleted from the `nominatedPodMap`.

When the scheduler receives a delete event for a pod that is not scheduled yet, it deletes it from the scheduling queue [here](https://github.com/kubernetes/kubernetes/blob/1dd5338295409edcfff11505e7bb246f0d325d15/pkg/scheduler/eventhandlers.go#L206), which is supposed to delete it from the nominatedPodMap [here](https://github

[2021-05-29 17:09] ahg-g commented on #102339
/cc @Huang-Wei who in 1.19 refactored part of that logic

[2021-05-29 19:17] cndoit18 commented on #91459
I agree 👍

[2021-05-29 19:42] serathius commented on #98251
@lala123912 Overall I don't agree on the point that having multi line logs for multiple objects are more readable. Passing non-limited slice of events and dumping all information about it should be considered an anti-pattern.

As we migrate to zap and writing lines gets cheaper we should consider logging each object separately. For short references like pod name passing a slice is ok, however for

[2021-05-29 19:46] serathius opened #102434 "Propose plural version for klog.KObj"
Original discussion https://github.com/kubernetes/kubernetes/pull/99799#discussion_r588252534

Problem is that in golang slice of struct cannot be passed into slice of interfaces they implement. This is due to difference in memory representation of two slices (cant wait for Generics) . For example
[]corev1.Pods{}  cannot be passed to func KObjs(objs []klog.ObjectRef).

/wg structured-logging
@kube

[2021-05-29 21:04] serathius commented on #102353
There are 3 tasks proposed, please pick one so we make sure we don't duplicate work.

[2021-05-29 21:11] aojea commented on #91459
I'm afraid that breaking an API is not a feasible option https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api_changes.md

[2021-05-29 21:59] AbdulBasitAlvi commented on #102353
I am doing the following task @MadhavJivrajani @yangjunmyfm192085

Restore depth to log calls that removed it when migrating to structured logging
- httplog.go

[2021-05-29 22:26] serathius commented on #102353
Thanks for confirmation, added your GitHub handle to this task at the top.

[2021-05-30 00:31] yangjunmyfm192085 commented on #102353
and @MadhavJivrajani?
which one can I do?

[2021-05-30 04:31] MadhavJivrajani commented on #102353
Hey @yangjunmyfm192085, I can do the third point :)

[2021-05-30 04:49] Jeffwan commented on #69687
I am trying to understand the difference between `HPAScaleToZero` and `KEDA`. KEDA supports 0<->1 as well. Besides event source, any difference?

[2021-05-30 05:53] psavva commented on #50375
+1 for me too. It would just help with monitoring and metrics in some weird way :)

[2021-05-30 07:33] MadhavJivrajani commented on #102430
/cc @sladyn98
Since you were interested in the testing aspect of it

[2021-05-30 08:03] MadhavJivrajani commented on #102353
PR for point 3: #102437

[2021-05-30 08:08] MadhavJivrajani commented on #102430
/triage accepted

[2021-05-30 08:19] abhishek0440 opened #102438 "[auth] SSH to kubernetes node"
To take ssh of node using ssh nodename,  password authentication is enabled in etc/ssh/sshd_config file in GKE, cloud shell got disconnected automatically. After connecting to cloud shell again password authentication is disabled again

[2021-05-30 08:30] #97342 closed

[2021-05-30 08:54] vasusheoran commented on #102334
Hey @medmedchiheb , are you working on this? Let me know if I can take this up.

[2021-05-30 09:42] Itaachime commented on #102334
@medmedchiheb Please let us know if u are working on this or not ?

[2021-05-30 10:46] yangjunmyfm192085 commented on #102353
/assign
Ok, let me take a look the first part

[2021-05-30 13:39] serathius opened #102439 "Correctness of InfoS usage should be checked on whole codebase"
For structured logging migration we have developed a tool to klog invocations [logcheck](https://github.com/kubernetes/klog/tree/master/hack/tools/logcheck)

For a given directory logcheck validates two things:
* directory is fully migrated - check if there are non-structured logging calls like `klog.Infof`
* usage of `klog.InfoS` and `klog.ErrorS` is correct - check if key values passed are paire

[2021-05-30 17:22] DXist commented on #69687
It looks like KEDA provides opinionated solution to scale workloads that run on top of different messaging services.

I've used HPAScaleToZero together with RabbitMQ. I configured two custom metrics.

One of them allowed to maintain N messages per worker after median filtering (N - is configured concurrency level per worker).
The second estimated scaling ratio from ingress and egress rates to scal

[2021-05-30 17:35] bacongobbler commented on #91459
That document does allow for breaking changes under the apiVersion. Instead of making a breaking change to v1 services, you can introduce Service v2. Existing v1 services migrate their spec.clusterIP’s existing value (auto-generated or not) to the new version. spec.clusterIP and status.clusterIP would now match their corresponding relationships.

[2021-05-30 17:37] joebowbeer commented on #69687
KEDA is built on top of the HPA and allows the user to leverage ExternalMetrics to define autoscaling criteria based on information from any event source.

Normally the HPA would do the scaling based on these internal and external event sources, but for the 0<->1 case the KEDA docs describe a custom ScaledObject resource, and it is KEDA that creates the HPA when the ScaledObject is created, and de

[2021-05-30 17:43] lauchokyip commented on #102378
/cc @soltysh We discussed about similar cases, `kubectl explain` was having the same [issue](https://github.com/kubernetes/kubernetes/pull/91295).

[2021-05-30 17:44] lauchokyip commented on #102378
/cc @soltysh
We discussed about similar cases, `kubectl explain` was having the same [issue](https://github.com/kubernetes/kubernetes/pull/91295).

[2021-05-30 17:45] lauchokyip commented on #102378
/cc @soltysh

[2021-05-30 17:48] lauchokyip commented on #102378
We discussed about similar cases, `kubectl explain` was having the same [issue](https://github.com/kubernetes/kubernetes/pull/91295).

[2021-05-30 17:48] lauchokyip commented on #102378
We discussed about similar cases, `kubectl explain` was having the similiar [issue](https://github.com/kubernetes/kubernetes/pull/91295).

[2021-05-30 18:36] cocoonkid commented on #54918
Had the same issue today on Ubuntu 21.10 arm64.
[code]

[2021-05-30 23:12] ercindemir opened #102440 "Secret ended with: too old resource version"
I've read a lot about this issue on google and noticed people saying these logs are expected nothing to worry about, but I often see the same logs in the pods and I am curious about how I can get rid of them. Why are we seeing these logs exactly? Please shed some light on that.

Secret ended with: too old resource version

[code]

#### Environment:
- Kubernetes version (use `kubectl version`): 1.1

[2021-05-30 23:15] ercindemir commented on #102440
@lavalamp

[2021-05-31 01:44] Yuan-Junliang opened #102442 "Is the "ReplicaSet has no controller" log level error appropriate?"
#### What happened:
pkg/controller/replicaset/replica_set.go #getReplicaSetsWithSameController()
when scale down replica
if your app is ReplicationController or ReplicaSetController , then will output the error.
if you use DeploymentController for your app, even if something goes wrong, it outout the error, but it doesn't affect the process of the controller.
so is the log error appropriate?

####

[2021-05-31 01:47] Yuan-Junliang commented on #102442
/sig apps

[2021-05-31 01:50] yuzhiquan commented on #102211
Sure,it's my pleasesure to learn something from your code.
/unassign
/assign @ahg-g

[2021-05-31 02:21] gavinfish commented on #99265
/unassign
/help

[2021-05-31 02:25] #98410 closed

[2021-05-31 03:15] n4j commented on #94892
What is the status on this issue? If no one has picked it up yet then I can take a stab at it.

[2021-05-31 03:18] jai commented on #94892
I think you want to ask @Meegada-Mahesh - I didn't assign this issue to myself since I hadn't started work on it. He assigned himself so one would assume he's spending time on it.

[2021-05-31 03:19] Meegada-Mahesh commented on #94892
@n4j Please pick it up if you want. I am spending time on something else right now

[2021-05-31 03:21] n4j commented on #94892
/assign

[2021-05-31 03:29] aviorma commented on #101911
+1

[2021-05-31 03:46] 249043822 commented on #102440
#85723

[2021-05-31 04:28] pacoxu commented on #102440
/sig api-machinery

[2021-05-31 04:34] umangachapagain commented on #102439
@serathius I'd like to pick this up. Do I need to wait till it is triage/accepted?

[2021-05-31 04:41] pacoxu commented on #102434
Good point. I will work on #101820 which may should `node score` list, and it would be a case of this.

[2021-05-31 04:45] pacoxu commented on #102430
#99803 is a kubelet log benchmark example.

[2021-05-31 04:51] pacoxu commented on #102392
/sig node

[2021-05-31 04:51] rkondra1 commented on #90239
IF we have to approve we can use kubectl certificate approve akshay . For Deny we can use  kubectl certificate deny akshay commands.

[2021-05-31 04:57] pacoxu commented on #102385
/sig instrumentation
/cc @dashpole

[2021-05-31 05:00] pacoxu commented on #102391
/kind support
the screenshot seems reasonable to me.

[2021-05-31 05:04] wzshiming commented on #102392
/assign

[2021-05-31 05:12] n4j commented on #94892
@jai Was this discussed in the SIG meeting? If not I can attend one of the SIG meetings and bring this up for discussion.

[2021-05-31 05:13] jai commented on #94892
I have not brought it up - link to agenda and schedule is a few comments up ⤴️

[2021-05-31 05:14] wzshiming commented on #102392
it works well will recover in a minute

[code]

https://github.com/kubernetes/kubernetes/blob/e6136c0303028d68cac67290d94a60cec167ccdf/pkg/kubelet/kubelet.go#L1282-L1296

[2021-05-31 05:30] Huang-Wei commented on #102339
@javidiaz when this problem surfaced, did you spot repeated log entries with "Attempting to schedule pod: mynamespace/podX" and afterwards "Failed to bind pod: mynamespace/podX"?

@ahg-g I'm suspicious the pod deletion did happen and cleared the entry in `nominatedPodMap`, but there is somehow a phantom pod (podX) that keeps retrying and filling `nominatedPodMap`. We used to observe this symptom i

[2021-05-31 06:10] wzshiming commented on #102308
Maybe you can wrap y in quotes, like

[code]

[2021-05-31 06:48] serathius commented on #99265
/help cancel
/assign

[2021-05-31 07:13] CaoDonghui123 commented on #102308
It also decodes to true

[2021-05-31 07:53] g3rzi commented on #101695
Any updates?

[2021-05-31 09:11] aermakov-zalando commented on #99003
/remove-lifecycle stale

[2021-05-31 09:15] saschagrunert commented on #102087
I think we're already fine since we bumped the debian-base images in https://github.com/kubernetes/kubernetes/pull/102342, https://github.com/kubernetes/kubernetes/pull/102341 and https://github.com/kubernetes/kubernetes/pull/102340.

This means that we now use proper multi architecture images for `debian-{base,iptables}`.

/close

[2021-05-31 09:15] #102087 closed

[2021-05-31 09:18] marseel opened #102452 "Failing tests: [sig-storage] CSI Volumes [Driver: csi-hostpath] *"
#### Which jobs are failing:

gce-master-scale-correctness

#### Which test(s) are failing:

Around ~50 tests with prefix "Kubernetes e2e suite: [sig-storage] CSI Volumes [Driver: csi-hostpath] "
Example tests:
[code]

#### Since when has it been failing:
05-27-2021
#### Testgrid link:
https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness
#### Reason for failure:
I've c

[2021-05-31 09:19] marseel commented on #102452
/sig storage
/assign @msau42

[2021-05-31 09:33] ramondeklein commented on #99061
@andyzhangx When will the patched versions be available within AKS? At this time, the latest version in AKS is 1.20.5 :-(

[2021-05-31 10:28] lych77 commented on #82958
The same issue with v1.21.1

[code]

/reopen

[2021-05-31 10:36] #90311 closed

[2021-05-31 10:38] #97512 closed

[2021-05-31 10:49] danishprakash commented on #102362
@wangyysde just a bump, are you working on this? couldn't find a message on slack for the same. Thanks

[2021-05-31 11:16] josephburnett commented on #102362
Hey @wangyysde thanks for volunteering!  Can you touch base with me in #sig-autoscaling-api in the Kubernetes Slack channel?  If you don't want to use slack, just email directly at josephburnett@google.com.

[2021-05-31 12:11] tbasim commented on #55006
Hello is there any update on this issue?

[2021-05-31 12:31] AbdulBasitAlvi commented on #102362
I would also like to start working on creating the new HPA v2 API. If someone is not working on it I can pick it up @josedonizetti @wangyysde

[2021-05-31 12:31] jkaniuk commented on #101904
Still missing occasionally:
![image](https://user-images.githubusercontent.com/5487158/120193525-d5fe0780-c21c-11eb-9012-c81aaefed9e1.png)

[2021-05-31 12:33] jkaniuk commented on #101904
@aojea  - any progress on this?

yes those connections come from test pod in scalability prow cluster

not sure what [???] would be, is there anything before GCP LB?

[2021-05-31 12:35] jkaniuk commented on #93932
@swetharepakula - any progress on this?

[2021-05-31 12:38] danishprakash commented on #102334
@jayunit100 I've created a draft PR https://github.com/kubernetes/kubernetes/pull/102459 due to a lack of response here on who's actually working on the issue. If it turns out to be duplicated effort, feel free to close that PR. If not, I've some questions around the changes if you could take a look. Thanks

[2021-05-31 12:48] soltysh commented on #98501
/assign

I looked at it and from what I've check the last failures from 05/17 each one of them was related with nodes not being ready for tests. I'm going ahead and close this, feel free to re-open if you still see this issue happening.

[2021-05-31 12:48] #98501 closed

[2021-05-31 12:50] redbaron commented on #74415
/remove-lifecycle stale

[2021-05-31 12:54] soltysh commented on #100314
It looks like the failures are coming from default `ProgressDeadlineSeconds` which is 10mins, which kicks in during one of the rollouts:

[code]

[2021-05-31 12:57] soltysh commented on #98180
@atiratree mind checking this one out
/triage accepted

[2021-05-31 12:57] soltysh commented on #100314
@atiratree mind checking this one out
/triage accepted

[2021-05-31 13:02] fsouza commented on #55006
@tbasim I gave up 🙈 But feel free to reopen the issue/PR #55011 and try to get it merged 😁

[2021-05-31 13:07] AbdulBasitAlvi commented on #102334
I did not work on it since I assumed @medmedchiheb was working on it

[2021-05-31 13:21] aojea commented on #101904
I couldn't start yet, hopefully this week I will have some time to work on this

yeah, there has to be all the things needed to go from the pod to the LB: internal infrastructure + vpcs + cluster networking ...

[2021-05-31 13:31] josephburnett commented on #102369
/assign danishprakash

[2021-05-31 13:43] josephburnett commented on #102362
@AbdulBasitAlvi great!  Let's coordinate the work on #sig-autoscaling-api.  Ping me there or stop by the [sig-autoscaling working group meeting](https://github.com/kubernetes/community/tree/master/sig-autoscaling).

[2021-05-31 13:56] xiaopeng-han commented on #102334
/assign

[2021-05-31 14:28] danishprakash commented on #102369
/assign

[2021-05-31 14:53] invidian commented on #45509
I guess this is now solved with `controller.kubernetes.io/pod-deletion-cost` annotation?

[2021-05-31 15:15] davig019 opened #102460 "Kubernetes fails to start after host reboot"
#### What happened:
After server reboot the master does not start
#### What you expected to happen:
The master to start
#### How to reproduce it (as minimally and precisely as possible):
Install k8s using getting started guide and reboot server
#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`): v1.21.1
- Cloud provider or hardware configuration: p

[2021-05-31 15:27] ahg-g commented on #45509
Yes, I think we can close this.

[2021-05-31 15:33] alculquicondor commented on #99205
@ravisantoshgudimetla do you plan to work on a KEP for this for 1.23?

[2021-05-31 15:51] alculquicondor commented on #98857
It looks like this was failing while trying to get nodes running. So not really a failure of the test itself, but the infra.
Since it's green, it should be safe to close.

[2021-05-31 15:53] alculquicondor commented on #98860
/help
we need someone to find repro steps

[2021-05-31 15:54] alculquicondor commented on #98860
/unassign @damemi

[2021-05-31 17:08] cndoit18 commented on #102460
I think it depends on your deployment, can you elaborate on that?

[2021-05-31 18:00] alculquicondor commented on #102339
If a new workload Pod with the same name is created, would that match https://github.com/kubernetes/kubernetes/pull/96071#issuecomment-720955648?

[2021-05-31 18:40] alculquicondor commented on #102303
-1 to `all`, as the API validation becomes more cumbersome when you start mixing the same plugin name across different extension points as well as `all`.

I like the idea of simplifying the API, but I'm not sure we should give away all the flexibility. I think it's a legitimate case to get rid of all score plugins, but not their filter counterparts, for example. I think we could get rid of `PreSco

[2021-05-31 19:14] tfenster commented on #99170
/remove-lifecycle stale

[2021-05-31 19:42] ahg-g commented on #102303
It would be strange if we get rid of `PreScore` and `PreFilter` but not `PostFilter`, which we can't get rid of because it implements preemption.

The extension points are implementation details of any feature. What benefits do we get from exposing those details? Where would this flexibility be useful? I don't buy the debugging argument.

Isn't enough to have a single order across all extension po

[2021-05-31 20:00] pduchnovsky commented on #81976
Would've been awesome if this issue would get fixed.. since currently I had to create automated function that basically creates a custom monitoring metric for each of 'matched_url_path_rule' and copies data from loadbalancer metric, then I use this custom metric as a target value.. this is like really crazy but it works although with very minimal delay and workarounds for duplicate data due to fas

[2021-05-31 21:07] ankeesler commented on #99603
I asked @enj that same question week before last (I've been on PTO). @enj posited that this is a "nice to have" (i.e., it shouldn't block GA) since there are other CLI cred override weirdisms.

[2021-05-31 21:51] ammarzuberi commented on #85443
/remove-lifecycle stale

[2021-05-31 21:52] ammarzuberi commented on #85443
/remove-lifecycle rotten

[2021-05-31 22:45] aojea commented on #90922
/remove-lifecycle stale
There is a KEP in progress https://github.com/kubernetes/enhancements/issues/2593

[2021-05-31 23:27] shawkins opened #102464 "Watch of Service resource with WebSocket does not timeout appropriately"
#### What happened:

Using the Fabric8 client, which defaults to using WebSockets for Watches, I established a Watch on Service resources.  After the timeout (implicit or explicit) rather than the WebSocket seeing a close control frame or even an EOF it continued to be open and fulfill ping/pong requests - but no Service events are sent.

#### What you expected to happen:

The WebSocket would clos

[2021-06-01 00:41] mrueg commented on #64616
/remove-lifecycle stale

[2021-06-01 00:53] DraggonFantasy commented on #98080
The patch about preserving null values in the arrays was merged to the json-patch, so the issue should be fixed

[2021-06-01 01:09] apelisse commented on #98080
We probably need to update the version of json-patch used in kubernetes now!

[2021-06-01 01:22] pacoxu commented on #98080
@apelisse is there a new release version with the fix？

[2021-06-01 01:28] pacoxu commented on #98080
/remove-lifecycle rotten

[2021-06-01 01:58] shawkins commented on #102464
/sig api-machinery

[2021-06-01 02:11] kyrieSun-wow commented on #102128
Finally,problem solved.  The following two commands need to be set on the worker node:
**sysctl -w net.netfilter.nf_conntrack_sctp_timeout_closed=60
sysctl -w net.netfilter.nf_conntrack_sctp_timeout_heartbeat_sent=60**

[2021-06-01 02:58] evanphx commented on #98080
@pacoxu Yup, v5.5.0 has been released with the fixes.

[2021-06-01 06:03] alexarefev commented on #101755
Hi guys! please let us know if you have any new information about the issue. Thanks in advance.

[2021-06-01 06:57] Nirav-Bhadradiya commented on #99675
/assign

Will be working on these files:

 ./staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/types.go
 ./staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/types.go

[2021-06-01 07:06] Nirav-Bhadradiya commented on #99675
Will be working on these files:

./staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/types.go
./staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/types.go

[2021-06-01 07:06] Nirav-Bhadradiya commented on #99675
/assign

[2021-06-01 07:16] matti commented on #28272
/remove-lifecycle stale

[2021-06-01 07:30] saschagrunert opened #102472 "Docker credentials passed via CRI (on image pull) match URL paths by prefix"
#### What happened:

https://github.com/kubernetes/kubernetes/pull/8438 introduced a glob mechanism for [Docker authentication configuration files](https://kubernetes.io/docs/concepts/containers/images/#configuring-nodes-to-authenticate-to-a-private-registry). URL paths are being matched via `strings.HasPrefix`:

https://github.com/kubernetes/kubernetes/blob/4556873abf8aa88ce2ab40476267b0e9d425336

[2021-06-01 07:34] saschagrunert commented on #102472
/sig security node

[2021-06-01 07:36] iusergii commented on #86881
@justinsb, @kireledan is there any progress on this, and can we re-open this?

[2021-06-01 09:01] HongjiangHuang commented on #102472
/ok-to-test

[2021-06-01 09:19] yuzhiquan opened #102476 "Failing tests: [sig-storage] Test_ADC_VolumeAttachmentRecovery/Deleted_Pod_with_migrated_PV"
#### Which jobs are failing:

`pull-kubernetes-unit`

#### Which test(s) are failing:
`Test_ADC_VolumeAttachmentRecovery/Deleted_Pod_with_migrated_PV`
#### Since when has it been failing:

#### Testgrid link:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/102162/pull-kubernetes-unit/1399622097709305856
#### Reason for failure:
[code]
#### Anything else we need to know:
[code]

[2021-06-01 09:21] ilyee commented on #100933
/assign

[2021-06-01 09:21] yuzhiquan commented on #102476
/sig storage
/triage accepted

[2021-06-01 09:23] yuzhiquan commented on #102476
Pr https://github.com/kubernetes/kubernetes/pull/102162 continue failed beacuse this data race, and i did an fix in https://github.com/kubernetes/kubernetes/pull/102477 ,it's ok now.

[2021-06-01 09:40] hysyeah commented on #102405
/assign

[2021-06-01 09:57] pacoxu commented on #98080
Currently, v4.5.0 cannot be removed for kustomize

- sigs.k8s.io/kustomize/api@v0.8.10 is using github.com/evanphx/json-patch@v4.5.0+incompatible.
- staging/src/k8s.io/sample-cli-plugin/go.sum is using v4.5.0+incompatible.

I opened kubernetes-sigs/kustomize#3938 for kustomize.

[2021-06-01 10:09] neujie commented on #65392
Maybe we define a api like csi in nodelifecycle controller to check these nodes status in cluster, before evict pods.
If the api return true, nodelifecycle controller force delete these eviction pods,  or otherwise keep the current code.

[2021-06-01 10:20] yws-ss opened #102479 "[Node Lifecycle Controller] kube-controller-manager's log keep showing "Node <node-name> no longer present in nodeLister!""
#### What happened:

I'm using the Kubernetes version 1.19 on AWS EKS. I found out after I scale-in the node from the nodegroup, I saw the following warning message in the kube-controller-manager logs:

[code]

The longest period could keep reporting for one day or more.

Base on the timeline I conclude from KCM logs, the node "ip-192-168-2-134.ap-northeast-1.compute.internal" should be terminated

[2021-06-01 10:22] SypherSu commented on #102479
/sig  node

[2021-06-01 10:54] zepatrik commented on #93686
Gonna close as there seems to be no interest in this.

[2021-06-01 10:54] #93686 closed

[2021-06-01 10:57] mikkeloscar opened #102480 "kubelet: Panic on portforward streams"
#### What happened:

Since upgrading to Kubernetes v1.19.11 (from v1.19.10) we see occasional panics in kubelet related to portforward streams:

[code]

This issue seem to be introduced with https://github.com/kubernetes/kubernetes/pull/99839

#### What you expected to happen:

`kubelet` should not panic and crash.

#### How to reproduce it (as minimally and precisely as possible):

We have not be

[2021-06-01 11:21] saschagrunert commented on #102480
Hey @mikkeloscar, thank you for the report! :pray:

Uhh, thats unfortunate. The panic occurs there on L101:

https://github.com/kubernetes/kubernetes/blob/c6a2f08fc4378c5381dd948d9ad9d1080e3e6b33/staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection.go#L98-L104

- It looks like `c *connection != nil` because `c.streamLock.Lock()` works.
- A `delete()` on `nil` is a no-op, so `c.strea

[2021-06-01 12:32] HongjiangHuang commented on #102324
/assign

[2021-06-01 12:41] martinstraesser commented on #102392
To reproduce:
On any non-master node execute:
[code]

Thats it. Then observe events e.g. with `kubectl describe node $YOUR_NODE`

[2021-06-01 12:44] mikkeloscar commented on #102480
With a quick look at the streaming code it's likely to be triggered by a timeout in waiting for streams: https://github.com/saschagrunert/kubernetes/blob/v1.19.11/pkg/kubelet/cri/streaming/portforward/httpstream.go#L141

If the above case is hit then it goes down to `h.removeStreamPair(p.requestID)`, and if the timeout occurs before `p.complete` then it means that either `p.errorStream == nil` or

[2021-06-01 12:48] ydp opened #102481 "kubelet SyncLoop hangs at GetCgroupStats due to cadvisor encounter a possible deadlock"
#### What happened:

We saw some pods stuck at ContainerCreating status after doing pods scale up test, the kubelet is unhealthy then:

[code]
After checking the goroutine, found 2 goroutines stuck at semacquire:
[code]
It looks like that kubelet stuck at https://github.com/kubernetes/kubernetes/blob/v1.20.6/pkg/kubelet/kubelet.go#L1195 ,  the reason might be cadvisor went into deadlock in those 2

[2021-06-01 12:55] liggitt commented on #102316
describe is human-readable output, so showing in the local timezone makes sense to me

`-o yaml` is programmatic output, so normalizing to UTC there also makes sense to me

[2021-06-01 12:58] ahg-g commented on #102339
It doesn't seem to me that podX was recreated with the same name.

[2021-06-01 13:11] mscholze commented on #55405
+1 for HTTP content checks.

Found that issue when I've googled for http content checks for liveness and readiness probes. Also found some workarounds with `shell` + `curl`, but then we have to modify image content.

[2021-06-01 13:19] nikhita commented on #93637
/remove-lifecycle stale
k/enhancements issue - https://github.com/kubernetes/enhancements/issues/2768

cc @ykakarap

[2021-06-01 13:19] venkatsc opened #102482 "Failing snapshot tests due to resource version mismatch"
#### Which test(s) are failing:
Snapshots tests

#### Since when has it been failing:
From k8s v20.2

#### Reason for failure:
Some clusters need `v1beta1` resources for [Snapshot resources.](https://github.com/rook/rook/issues/6819#issuecomment-852059116)
Required `v1beta1` snapshot class is provided through file as following
[code]
However, the testing frame work is [not using the supplied versi

[2021-06-01 13:20] Shaverdoff commented on #83884
i have the same bug but vice versa going... kubernetes setup from kubeadm 1.18.8 version
if no network policy - connect well, if i setup policy with labels access=true and run busybox with --labels="access=true" no luck.. image: docker.io/weaveworks/weave-npc:2.8.1

[2021-06-01 13:41] sladyn98 commented on #102237
Yeah, if there are examples that we can go off we can get started on this, i will probe around the codebase.

[2021-06-01 13:41] sladyn98 commented on #102237
/assign

[2021-06-01 13:49] wangyysde commented on #90473
As if batch v1beta1 has be marked deprecated in #99423. Should we close this issue?

[2021-06-01 14:02] cndoit18 commented on #102316
This issue needs to be discussed more.  but I prefer to use the same time zone. describe and `-o yaml` used together may cause me to forget the difference between the two.

[2021-06-01 14:08] wangyysde commented on #102362
@AbdulBasitAlvi Are you start working on this? If not ,I will try to it .

[2021-06-01 14:16] wangyysde commented on #102362
@josephburnett Sorry. I have not Slack account.

[2021-06-01 14:21] sladyn98 commented on #100748
Would this follow the same flow as in `logs/json/json_test.go`  where we  check if json logging is enabled and then run jq separately or within the same flow.
To be more specific:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/component-base/logs/json/json_test.go#L36

Seems to be getting the data and validating it so in that case would we be running `jq` after grabbing t

[2021-06-01 14:25] liggitt commented on #102464
Is this the same issue as https://github.com/kubernetes/kubernetes/issues/85548 ?

[2021-06-01 14:26] rohitChaware opened #102486 "NodeStageVolume is called before NodeUnstageVolume returns success"
#### What happened:
We have a StatefulSet pod using a CSI volume.
After rolling restart, the pod got scheduled on the 'same node' as where it was running before.
The NodeUnstageVolume was called for the CSI volume and the `umount` operation was running.
Before the NodeUnstageVolume returned success, NodeStageVolume was called for the volume.
The `umount` operation of the NodeUnstageVolume deleted

[2021-06-01 14:26] rohitChaware commented on #102486
/sig storage

[2021-06-01 14:29] timebertt commented on #99003
@apelisse @julianvmodesto We are also trying to figure out how to migrate from a typical "read-modify-update/patch"-logic to SSA in our controllers. Because of the problem described in this issue, controllers won't be able to remove optional fields from resources anymore after migrating to SSA.

This applies to both of the following cases:
- if a resource was created before SSA and does not track

[2021-06-01 14:37] cndoit18 commented on #102316
The data inside the program should be stored using UTC. And the human-readable output is using local time zone. I think this is also a solution. I'll update the corresponding PR. thank you

[2021-06-01 14:40] shawkins commented on #102464
It could be related, but in that case the client is calling close.  In this case we expect the server to initiate the close.

[2021-06-01 14:43] viveksyngh commented on #102374
/assign

[2021-06-01 14:51] damijank commented on #60140
Same error, except the download always stops just a MB or two short of a complete 340MB file. The download lasts for circa 50-55 seconds, just one more second needed and the file would be complete. It happens with large files only, but I can not wrap my head around the fact that it always fails seemingly on the "last" packet.

[2021-06-01 15:06] saschagrunert commented on #102480
Thank you for the summary @mikkeloscar, working on a fix in #102489

[2021-06-01 15:13] justaugustus commented on #72871
cc: @kubernetes/release-engineering
Please investigate if this is still valid.

[2021-06-01 15:14] saschagrunert commented on #102480
/triage accepted
/assign

[2021-06-01 15:14] justaugustus commented on #72638
@kubernetes/publishing-bot-reviewers -- is this still something we'd like to pursue?

[2021-06-01 15:15] justaugustus commented on #45506
cc: @kubernetes/sig-api-machinery-feature-requests @kubernetes/release-engineering

[2021-06-01 15:17] sladyn98 commented on #100388
/assign

[2021-06-01 15:18] wilsonehusin opened #102490 "Migrate conformance image to go-runner built by k/release"
In #99178, conformance image replaces its base image from `debian:stable-slim` to `gcr.io/distroless/base`. There was an attempt to use `gorunner` built by `k/release` but it wasn't successful. I personally don't remember which of the sharp edges that was stopping the progress, but it was on the experimental stage of the work so anything could be a suspect (PR history reflects that trial-and-error

[2021-06-01 15:21] wilsonehusin commented on #102490
blerp

/kind cleanup
/remove-kind feature

[2021-06-01 15:33] ravisantoshgudimetla opened #102492 "Possible networking bug causing sig-node test failures in Windows tests"
#### Which jobs are flaking:
https://testgrid.k8s.io/sig-windows-signal#aks-engine-windows-containerd-1.21

#### Which test(s) are flaking:
[sig-node] Downward API should provide container's limits.cpu/memory and requests.cpu/memory as env vars

#### Testgrid link:
https://testgrid.k8s.io/sig-windows-signal#aks-engine-windows-containerd-1.21
#### Reason for failure:
Seems like a networking bug:
[c

[2021-06-01 15:33] ravisantoshgudimetla commented on #102492
/sig windows

Most of the tests in this job are failing

[2021-06-01 15:35] ravisantoshgudimetla commented on #101907
Another run that failed but with a different exit code:

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-1-21-windows-containerd/1399281231979352064

[2021-06-01 15:37] rikatz opened #102493 "Umbrella issue: Reduce release image sizes"
Per last k8s-infra WG, some images are more used than others, most notably kube-proxy. This can be easily explained by the fact that while control plane is restricted to a small set of hosts, all regular clusters needs kube-proxy (unless your CNI does implement it, which is not the case).

kube-proxy image is 118Mb, and diving into it we can see:

[code]

In an effort to optimize it, we can:
* joi

[2021-06-01 15:38] rikatz commented on #102493
/wg k8s-infra
@dims @spiffxp @hh fyi

I'm gonna open a PR to consolidate kube-proxy image, and later we need to discuss with sig-release if `/usr/bin/qemu-x86_64-static` is really necessary in base image

[2021-06-01 15:39] ravisantoshgudimetla commented on #101907
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-1-19-windows/1395958415271923712

[2021-06-01 15:43] justaugustus commented on #102493
xref: https://github.com/kubernetes/release/pull/1622
FYI @kubernetes/release-engineering
/area release-eng

[2021-06-01 15:48] javidiaz commented on #102339
Thanks for looking into this. @ahg-g we can reproduce, should I add the logs entries into those places you suggest? We have log level 4 right now.

@Huang-Wei we do not see the "Failed to bind pod.." log. These are the logs we see:

 May 20th 2021, 05:53:52.319 inactive-scheduler-2 add event for unscheduled pod mynamespace/podX
 May 20th 2021, 05:53:52.319 leader-scheduler About to try and schedul

[2021-06-01 16:01] lavalamp commented on #102440
It just means the current watch connection ended (watches disconnect after 5-10 minutes), and the the client will re-watch, relisting first if necessary. Another issue is open somewhere about removing the log message, which has a poor signal-to-noise ratio.

[2021-06-01 16:01] #102440 closed

[2021-06-01 16:10] dims commented on #102493
@rikatz when i run the container using `docker run -it k8s.gcr.io/kube-proxy:v1.21.0 sh` and peek inside i don't see the `/usr/bin/qemu-x86_64-static` there. is it there in one of the layers and then gets removed?

[2021-06-01 16:25] ravisantoshgudimetla commented on #102492
Closing in favor of https://github.com/kubernetes/kubernetes/issues/98574

/close

[2021-06-01 16:25] #102492 closed

[2021-06-01 16:26] StevenACoffman commented on #60295
/remove-lifecycle rotten

[2021-06-01 16:29] #102407 closed

[2021-06-01 16:33] rikatz commented on #102493
@dims it seems so. But on the upper image:

docker run -it --rm k8s.gcr.io/build-image/debian-base-amd64:buster-v1.7.0 ls -l /usr/bin |grep qemu
-rwxr-xr-x 1 root root   8423624 Jan  3 16:47  qemu-x86_64-static

So this is already part of the layers :(

[2021-06-01 16:40] bowei commented on #55006
/reopen

@dchen1107 -- what is the criteria for a whitelisted sysctl?

[2021-06-01 16:40] jeremyje commented on #98102
/cc @ibabou

[2021-06-01 16:46] devlounge commented on #93900
It doesn't look much maintained and active, sadly

[2021-06-01 16:49] bowei commented on #45438
Can you open an issue on the ingress-gce repo? It's harder to track issues related to a given Ingress controller via issues on the Kubernetes repo.

[2021-06-01 16:53] bowei commented on #93740
@aojea -- any code reference? Improving the client logging sounds like an easy PR

[2021-06-01 17:30] leodotcloud commented on #90770
/remove-lifecycle rotten

[2021-06-01 17:32] jsturtevant commented on #98574
We made some progress on root causing and it maybe due to a bug in HNS, the Windows networking team is looking into it.

[2021-06-01 17:37] Huang-Wei commented on #102339
@javidiaz Thanks for the logs. They're very helpful.

I think the problem lies in the second time, when a preemptor (podX) is retried in scheduler while also being deleted elsewhere:

[code]

In this case, running PostFilter again will fail due to enable to obtain it:

[code]

After that, the error is recorded, but unfortunately, the [nominatedPod is set unconditionally](https://github.com/kuberne

[2021-06-01 17:41] Random-Liu commented on #94892
Today, when using containerd/cri-o, kubelet already redirect the container stdout/stderr to a file on the node, e.g. `/var/log/pods/kube-system_kube-proxy-5c95n_70a72385-e8cf-4825-8fe8-3ce35356f558/kube-proxy/0.log` for the kube-proxy container. It includes both stderr and stdout in the [CRI logging format](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/kube

[2021-06-01 17:42] Huang-Wei commented on #102339
@javidiaz if I guess it right, you should spot some log entries with "Error updating pod mynamespace/podX" repeatedly after the timestamp "May 20th 2021, 05:53:52.365"?

[2021-06-01 17:43] krzysiekg commented on #102430
I am working on this one.
/assign

[2021-06-01 17:51] #102219 closed

[2021-06-01 18:06] 2rs2ts commented on #70585
/remove-lifecycle stale

[2021-06-01 18:09] dims commented on #102493
@rikatz looks like this was introduced in between 1.4.0 and 1.5.0

[code]

[2021-06-01 18:12] Bessonov commented on #52218
/remove-lifecycle stale

[2021-06-01 18:12] Bessonov commented on #52218
/lifecycle frozen

[2021-06-01 18:21] javidiaz commented on #102339
@Huang-Wei  Great you got a lead to fix the issue. I do not see the error log you mention for the PodX specifically, but I do see it for other replicas of the same Deployment that created PodX. Not sure if we lost the error logs for PodX or if it is stuck in some weird state that prevents that log from showing up.

The log I see is something like this

[2021-06-01 18:23] serathius commented on #102430
@pacuxu Thanks for the links. Just to clarify in that issue we were working on benchmarking log volume, in this issue we are looking at performance CPU/Memory usage.

[2021-06-01 18:24] serathius commented on #102430
cc @wojtek-t @mborsz from SIG scalability

[2021-06-01 18:28] Jiawei0227 commented on #100474
Hey @dobsonj @gnufied  any updates on this?

[2021-06-01 18:56] toschneck commented on #45419
As suggested workaround at https://github.com/kubernetes/kubernetes/issues/45419#issuecomment-827038034, downgrade containerd.io to the `1.4.3-1*` version worked, what holds runc in version `1.0.0-rc92` fixed the issue, this small automated script for all ssh to all nodes, fixed it for now:

**ATTENTION:** could cause restarts of potential all pods in your cluster!
[code]

[2021-06-01 18:57] nature-18 opened #102501 "Not able to connect to mongoDb when pod is in terminating state implementing prestop hook"
#### What happened:
We have our microservices are deployed in azure kubernetes service. In one of the pod, we wanted to implement prestop hook, so that before termination, it should gather all inprogress items and update the mongodb collection and deliver the message back to service bus queue to process from where it left. But as soon as the prestop is called, the mongo connection is lost with err

[2021-06-01 19:01] ahg-g commented on #78208
/close

Lots of improvements made since then

[2021-06-01 19:02] #78208 closed

[2021-06-01 19:03] ercindemir commented on #102440
@lavalamp Thank you for your time to comment. I consistently receive these logs in my pods. Is there any way to resolve this?

[2021-06-01 19:51] jsturtevant commented on #98499
xref: https://github.com/kubernetes/kubernetes/issues/101907

[2021-06-01 20:00] Oats87 commented on #102410
I believe my original reported issue is occurring due to a subset of the issue: https://github.com/kubernetes/kubernetes/issues/70044 . As such, I am closing this issue in favor of 70044.

[2021-06-01 20:00] #102410 closed

[2021-06-01 20:03] mateuszlitwin commented on #102303
Some plugin frameworks I worked with had an option to define in a plugin whether plugin should be executed first/last for the specific extension point. In other words you register plugins by simply listing them and plugins specify what extension points to be registered for and in what order should be executed (e.g. first or last or does not matter).

[2021-06-01 20:03] dobsonj commented on #100474
@Jiawei0227 I ended up taking some other bugs to start with, so this is on the back burner for the moment. Feel free to take it if you have some free cycles in the mean time.

[2021-06-01 20:09] vasusheoran opened #102505 "kubelet fails to download image via squid proxy server"
#### What happened:
I have a private GKE cluster and I have set up docker to use squid proxy for worker nodes. **I can successfully pull images** from the private repo by sshing into the worker node and using `docker pull <REPO/IMAGE:TAG>`.

However, when creating a pod, kubelet fails to download image with following error:
`Failed to pull image "<IMAGE>": rpc error: code = Unknown desc = failed t

[2021-06-01 20:16] dims commented on #102505
@vasusheoran please take this up with your GKE support folks.

thanks,

[2021-06-01 20:16] #102505 closed

[2021-06-01 20:18] fedebongio commented on #102308
/cc @roycaihw
thank you Haowei!
/triage accepted

[2021-06-01 20:19] fedebongio commented on #102385
Hopefully David can help with the answer.

/triage accepted

[2021-06-01 20:26] fedebongio commented on #102464
A couple of things were discussed when we triaged this issue:
a) we need to involve the Fabric8 team (~java client?)
b) We don't always default to Websocket, in fact we discussed discontinuing it
c) But the code is still there, so it's allowed for now and we should support it.

Not sure what to do next @lavalamp @deads2k

[2021-06-01 20:26] fedebongio commented on #102440
/triage accepted

[2021-06-01 20:30] msau42 commented on #102452
This may coincide with https://github.com/kubernetes/kubernetes/pull/102282

/assign @pohly
to help take a look

[2021-06-01 20:39] lavalamp commented on #102440
The system is not misbehaving, so I'm not sure what about it you want resolved. You are welcome to send a PR changing the log line if that would help.

[2021-06-01 20:44] BenTheElder commented on #102493
If we ported the iptables wrapper script to a binary (go?) we could do distroless + iptables binaries (build from source or copy from a distro image) + the selection wrapper for the kube-proxy image. A full debian image is overkill anyhow.

[2021-06-01 20:49] lavalamp commented on #102464
a) no, it sounds like an apiserver problem, it should be reproducible with a go client in a test.
b) If anything, we should standardize on websockets. Brower based clients depend on them. And when/if we get rid of SPDY, websockets are the replacement.

This may be relevant to @caesarxuchao's interests.

[2021-06-01 21:05] shawkins commented on #102464
I didn't see an option to use websockets with the go client https://github.com/fabric8io/kubernetes-client/issues/3177#issuecomment-850464286 the impl is at https://github.com/kubernetes/client-go/blob/56494c9682c414b74bb83639bd6890feed82d307/rest/request.go#L671

Is there another code path or go client that will use a websocket for Watches?

[2021-06-01 21:09] lavalamp commented on #102464
Technically I didn't say *our* go client, just *a* go client. 😅 I just had in mind using the raw websockets library.

...we must be testing the websocket watches *somehow*?

[2021-06-01 21:15] rikatz commented on #102493
hum, sounds like something we can do.

@danwinship as the official creator of iptables-wrapper, wdyt?

[2021-06-01 21:23] justaugustus commented on #102493
+1 to Ben's idea!
@rikatz -- Pending Dan's confirmation, are you planning on working on this or do you want RelEng to?

[2021-06-01 21:44] Jiawei0227 commented on #100474
/help

[2021-06-01 21:53] roycaihw commented on #34146
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2021-06-01 21:55] roycaihw commented on #102308
it's unclear how to fix it, but there has been a duplicate issue: https://github.com/kubernetes/kubernetes/issues/34146

[2021-06-01 22:01] rikatz commented on #102493
I can work on this without any problem :) Hope I just don't break anything ;)

About the kube-proxy image anyway, I think we can have a good gain consolidating the RUN commands in kproxy Dockerfile, at least reducing the final image in ~20mb. If this is OK I'll work in two fronts

[2021-06-01 22:02] liggitt commented on #102308
a quoted `"y"` should never convert to `true`.

wrapping it in quotes works correctly for me:

[code]

[2021-06-01 22:03] liggitt commented on #102308
also reported in https://github.com/go-yaml/yaml/issues/283

[2021-06-01 22:04] liggitt commented on #102308
for yaml values like "y", "n", "no", it seems like quoting is required for them to be unambiguous

[2021-06-01 22:45] neolit123 commented on #102481
/sig node

[2021-06-01 22:49] neolit123 commented on #102460
/kind support
/remove-kind bug
until confirmed

reading trough the kubelet logs it seems the apiserver pod is failing to start.
can you try obtaining logs from the apiserver container?

[2021-06-01 22:51] neolit123 commented on #102501
hi, please also please try the support forums for feedback from more users:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support

[2021-06-01 22:52] neolit123 commented on #102501
/sig node
for feedback on this around terminationGracePeriod

[2021-06-01 23:08] puerco commented on #102493
Awesome, if I can help let @rikatz  me know. I take it the script that ben is talking about is this one right?
https://github.com/kubernetes/release/blob/master/images/build/debian-iptables/buster/iptables-wrapper

[2021-06-01 23:13] rikatz commented on #102493
@puerco yup, exactly, based on https://github.com/kubernetes-sigs/iptables-wrappers :)

If you have bandwidth then go for it! Otherwise no worries!

[2021-06-02 00:07] puerco commented on #102493
Start and I'll try to follow you Ricardo. We are pushing for some enhancements for the next couple of releases and won't be able to give it my full attention for two weeks or so.

[2021-06-02 02:23] wzshiming commented on #102392
Can't follow the steps you said to reproduce

[2021-06-02 02:27] wzshiming commented on #102392
[code]

I'm not sure what you did, I guess it might be something like this

[2021-06-02 02:27] wzshiming commented on #102392
[code]

I'm not sure what you did, I guess it might be something like this

[2021-06-02 02:29] yuzhiquan commented on #102476
/assign

[2021-06-02 02:47] n4j commented on #94892
@BorjaEst See the comment above from @Random-Liu and let us know if this works for you or not?

[2021-06-02 02:51] wangyysde commented on #90473
/close

[2021-06-02 02:51] #90473 closed

[2021-06-02 03:21] n4j commented on #102404
@neolit123  Is anyone working on this issue? If not then I would like to give it a stab.

[2021-06-02 03:35] tongchao199 opened #102517 "kubelet panic with fatal error: concurrent map writes"
/sig node
/area kubelet

#### What happened:
kubelet panic with fatal error concurrent map writes when allocate container device

* panic log
[code]

#### What you expected to happen:
kubelet no panic when allocate container device

#### How to reproduce it (as minimally and precisely as possible):
* Create pod, container has extended resource (like nvidia.com/gpu)
* Kubelet panic occasionally on

[2021-06-02 03:37] tongchao199 commented on #102517
/sig node

[2021-06-02 04:48] rajdevworks commented on #99675
/assign
working on these:
 ./staging/src/k8s.io/api/networking/v1/types.go
 ./staging/src/k8s.io/api/networking/v1beta1/types.go

[2021-06-02 05:00] n4j commented on #102404
/assign

[2021-06-02 05:31] theunrealgeek commented on #96717
@danwinship Hey (after a long time). So I have a WIP diff that looks like https://github.com/kubernetes/kubernetes/compare/master...theunrealgeek:sctp_tests_task_2_96717?expand=1 which is basically addressing 2 by creating a new test and combines the individual pieces from the existing tests.

I'm having some trouble with testing this locally. I'm using a sequence of commands like

[code]

and the

[2021-06-02 06:24] navidshaikh commented on #101528
/triage accepted

[2021-06-02 06:47] pacoxu opened #102522 "Failure cluster [ad6b5281...] Deleted_Pod_with_migrated_PV failed for data race"
### Failure cluster [ad6b52817bdb4c8f181e](https://go.k8s.io/triage#ad6b52817bdb4c8f181e)

##### Error text:
[code]
#### Recent failures:
[2021/6/2 上午12:42:44 ci-kubernetes-generate-make-test-count10](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-generate-make-test-count10/1399768036801515520)
[2021/6/1 下午6:42:33 ci-kubernetes-generate-make-test-count10](https://prow.k8s.io/vie

[2021-06-02 07:59] TBBle commented on #69608
/remove-lifecycle rotten

https://github.com/kubernetes/kubernetes/issues/69608#issuecomment-594677833 still seems to be the state of this issue.

[2021-06-02 08:13] adabuleanu commented on #99303
/remove-lifecycle stale

[2021-06-02 08:46] pacoxu commented on #102517
/assign
seems to be a problem here https://github.com/kubernetes/kubernetes/blob/v1.18.9/pkg/kubelet/cm/devicemanager/manager.go#L363-L368

However, 1.18 is EoL, you may upgrade kubernetes to a newer version after it is fixed.

[2021-06-02 08:56] martinstraesser commented on #102392
I isolated the root-cause maintenance step to a movement of the local `containerd` image repository. I did not explicitly touch the kube-proxy or any port. Can you reproduce issue with this:

[code]

[2021-06-02 08:56] martinstraesser commented on #102392
I isolated the root-cause maintenance step to a movement of the local containerd image repository. I did not explicitly touch the kube-proxy or any port. Can you reproduce issue with this:

[code]

[2021-06-02 09:23] JamesTGrant commented on #45363
@prameshj The trouble with node-local-dns-cache is that it's just a cache, typically caching records for 30sec. In my application(s), my typical cluster size is 3 k8s masters and maybe 10 worker nodes, the number of pods on a node is typically about 30-60, but they are usually doing asyncronus, orthoginal DNS requests with little overlap in requested records.  The problem of sending a DNS request

[2021-06-02 09:27] szuecs commented on #45363
@JamesTGrant I can recommend to use a daemonset pod for cache+coredns. We used dnsmasq+coredns and switched to unbound+coredns, both are great solutions. Unbound uses less resources than dnsmasq.

[2021-06-02 09:42] aojea commented on #100890
/close

[2021-06-02 09:48] #100889 closed

[2021-06-02 09:48] #100890 closed

[2021-06-02 10:24] marseel commented on #102452
Thanks for helping @pohly

Can we change it? These tests are run every day, so if we change it we should have new run tomorrow.

What is worth to mention is probably that cluster has 5k nodes.

[2021-06-02 10:29] pohly commented on #102452
Yes: https://github.com/kubernetes/kubernetes/pull/102526

[2021-06-02 10:32] pacoxu commented on #102517
@tongchao199 https://github.com/kubernetes/kubernetes/pull/102525#issuecomment-852865453

At first glance, I think it would be a problem of no locking so I send a PR #102525 to fix it. However, as @klueska pointed out that this method are called serially.

I checked the log and cannot find multi goroutine run into this function. Would you double check if the log you provided is complete?

[2021-06-02 11:39] mrpre commented on #102324
@HongjiangHuang which resource the `kubectl describe` should be used and which log do you need

[2021-06-02 11:41] HongjiangHuang commented on #102324
`kubectl describe pod {pod name}`.

[2021-06-02 12:16] growse opened #102527 "`externalTrafficPolicy=Local` incorrectly rewrites client IP on traffic coming through SingleStack IPv6 loadbalancer services on a dual-stack cluster"
#### What happened:

IPv6 network traffic to a pod via a `SingleStack` IPv6 loadbalancer service with `externalTrafficPolicy=Local` have their source IP addresses rewritten to a seemingly random service cluster IPv6 address. This rewriting is reversed for the return traffic, so traffic flows normally, but the pod ends up not seeing the client IP.

`tcpdump -i any` on the cluster host showing the i

[2021-06-02 12:18] growse commented on #102527
/sig network

[2021-06-02 12:24] mrpre commented on #102324
@zhaojizhuang
NUMA affinity works with YAML1:

[code]

I can check the NUMA by  `/var/lib/kubelet/cpu_manager_state`:
[code]

NUMA affinity not works with YAML2:
[code]

 `/var/lib/kubelet/cpu_manager_state` shows NUMA not works.
[code]

[2021-06-02 12:26] neolit123 commented on #102404
Sure, go ahead.

[2021-06-02 12:32] ilyee commented on #100933
@roycaihw Hi, is this issue still fresh?

Though it's closed but I see that there still exists something to do with improvement for error message of metadata properties validation.

If it's available I will make a pr for this.

[2021-06-02 12:37] spadgett commented on #83961
/remove-lifecycle stale

[2021-06-02 13:04] pigletfly commented on #85966
/remove-lifecycle rotten

[2021-06-02 13:44] soltysh commented on #91652
/remove-lifecycle stale
/lifycycle frozen

[2021-06-02 13:48] soltysh commented on #78564
/remove-lifecycle rotten
/lifecycle frozen

[2021-06-02 13:48] soltysh commented on #82659
We reached GA with CronJobs, further enhancements will be picked from the open issues and addressed as we go.
/close

[2021-06-02 13:48] #82659 closed

[2021-06-02 13:54] shawkins commented on #102464
I adapted https://gist.github.com/jezell/ca4b08b17df3fb7b9dc8783d9a68cc2e to
[code]
It will simply keep running - with no events after the timeout.  If you switch to configmap, it will terminate.

[2021-06-02 14:03] soltysh commented on #75674
/assign @alaypatel07
/remove-lifecycle rotten

[2021-06-02 14:15] n4j commented on #102404
/assign

[2021-06-02 14:32] yehiyam commented on #94892
@n4j @Random-Liu This will only work (at least for docker) if the container is privileged.
Openshift does not allow privileged containers nor it allows host path mount

[2021-06-02 14:53] mkorbi commented on #102077
hey, have you seen the CSI test failing in gce-master-scale? https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness

@mattcary @msau42

[2021-06-02 15:23] liggitt commented on #102464
that's a terrific reproducer, thanks!

[2021-06-02 16:04] mattcary commented on #102077
The provisionner isn't deleting the volume in time. I wonder if this is the
same issue that we've seen with the pd csi driver where at load the
provisionner's watches are getting dropped.

[code]

On Wed, Jun 2, 2021 at 7:53 AM Max Körbächer ***@***.***>
wrote:

[2021-06-02 16:06] nonylene opened #102537 "Pod does not go into unready state while terminating"
#### What happened:

Pod that requires a certain time to drain remains in READY state while terminating, until just before it becomes fully terminated.

#### What you expected to happen:

Once a Pod is deleted, it should go into unready state (within a short time), as the documentation says:

#### How to reproduce it (as minimally and precisely as possible):

1. Create a Pod resource

[code]

`sle

[2021-06-02 16:06] logicalhan commented on #102231
/sig scheduling

[2021-06-02 16:10] logicalhan commented on #102231
I think we ran into something like this in apiserver, which was the reason for this particular health check: https://github.com/kubernetes/kubernetes/blob/b2b4cb17256de8d89d4d5fdbe8d19a2492e8152c/staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go#L69-L83

[2021-06-02 16:14] nonylene commented on #102537
/sig apps

[2021-06-02 16:25] msau42 commented on #102077
Hostpath CSI failures are being investigated in: https://github.com/kubernetes/kubernetes/issues/102452

[2021-06-02 16:37] roycaihw commented on #100933
@ilyee technically the error message was correct: "must not specify anything other than name and generateName, but metadata is implicitly specified". The tricky part is what "anything" means

but since we had three issues about this in the past, I'd be happy to see the error message being improved in a way that is not too verbose. I was thinking of "must not specify anything other than type and pr

[2021-06-02 17:25] uablrek commented on #102527
A seemingly weird question; can you check if the "seemingly random service cluster IPv6 address" happens to be the firsts ipv6 address on the `kube-ipvs0` device?
[code]

[2021-06-02 17:34] uablrek commented on #102527
Are you using the "normal" backend for Calico? I.e. not ePBF or VPP?

[2021-06-02 17:37] lavalamp commented on #102464
Yeah, we should absolutely be able to stick that in a unit / integration test somewhere, thanks!

[2021-06-02 17:54] #54491 closed

[2021-06-02 18:06] liggitt commented on #102464
opened in https://github.com/kubernetes/kubernetes/pull/102539

configmap watch works correctly, service watch hits timeout without the server closing the connection

[2021-06-02 18:41] liggitt commented on #102464
I suspect the issue is in newDecoratedWatcher. Services implement a decorator and configmaps don't.

[2021-06-02 18:43] liggitt commented on #102464
yup, the request context wasn't propagated to the decorated watcher

[2021-06-02 18:54] liggitt commented on #102464
Service decorator was added in 1.20 in 6675eba3eff1c8e565c4060a9c1396f75da7cc3e

Fix with unit and integration test in https://github.com/kubernetes/kubernetes/pull/102539

Will pick to 1.21 and 1.20 once merged

[2021-06-02 19:06] BenTheElder commented on #102476
another instance https://github.com/kubernetes/kubernetes/pull/102508#issuecomment-853312228

[2021-06-02 19:18] mbsulliv commented on #78446
I tried @moewill's loop solution, but most of the time, kubectl wouldn't exit when the error occurred, leaving it stranded in a failed state until I manually hit CTRL+C (and the loop relaunched it).

To address the problem, I cloned the kubectl source and modified it to exit whenever an error occurs.  This appears to be a pretty good workaround for my use case since when the loop relaunches it, ev

[2021-06-02 19:48] giuseppe commented on #99230
this should be fixed with https://github.com/kubernetes/kubernetes/pull/102483

[2021-06-02 20:48] growse commented on #102527
It is.

[code]

I believe so.

[2021-06-02 21:06] fajtgyo opened #102543 "Nodelocal DNS Cache missing auto-populated configuration"
#### What happened:
Nodelocal DNS Cache has been deployed in v1.21.0 cluster, pods are running.
However the stub domains and `__PILLAR__UPSTREAM__SERVERS__` from kube-dns (in fact, coredns) configmap have not been populated in Corefile of nodelocal-dns pods, resulting external and stub domain lookups to fail.

Only default cluster.local stanza is represented and for default domain no upstream serv

[2021-06-02 21:13] danwinship commented on #102493
There was some discussion in #82966 about trying to optimize the image but I think everyone was like "eh, maybe later". Guess it's later?

kube-proxy has several external binary dependencies including at least conntrack, ipset, iptables, ipvs, and modprobe. I'm not sure distroless is the way to go. Maybe just switch to a Linux distro with smaller base images? (Alpine?)

Porting the wrapper to gola

[2021-06-02 21:15] danwinship commented on #96717
I don't think kube-proxy is the problem; it sounds like your network plugin doesn't support SCTP.

I'm pretty sure `kind` supports it so you could try with that...

[2021-06-02 21:23] #102543 closed

[2021-06-02 21:23] fajtgyo commented on #102543
Realized, I have to open it in a different project.

[2021-06-02 21:26] aojea commented on #96717
check the sctp kernel modules is loaded or try to load if for the tests `modprobe -b sctp`

[2021-06-02 21:38] dashpole commented on #102385
This isn't related to the apiserver.  Something added a label to your metric, which makes the new stream distinct from the old one.  The kubelet [only adds name, image, pod name, namespace, container name](https://github.com/kubernetes/kubernetes/blob/043b3fc1e4b80939c24cf000d821ea64e8ad75d1/pkg/kubelet/server/server.go#L958) to its container metrics, so i'm guessing you are running cAdvisor as a

[2021-06-02 21:51] shyamjvs opened #102545 "Get rid of duplicate set of metrics for watch counts"
Just noticed that we have redundant metrics for watch counts like:

[code]
^ This was added in v1.9 as part of https://github.com/kubernetes/kubernetes/pull/52302

[code]
^ This was added in v1.11 as part of https://github.com/kubernetes/kubernetes/pull/63779

We probably should get rid of the latter since the former is more granular and also includes other long-running calls (like proxy). Both se

[2021-06-02 22:39] neolit123 commented on #102345
@mkorbi after https://github.com/kubernetes/kubernetes/pull/102358 merged https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-latest-on-1-21&width=20 seems to have turned green with respect to to the failing test in the issue description.

i'm going to close this, but please revise and re-open if needed.

/close

[2021-06-02 22:39] #102345 closed

[2021-06-02 22:58] BenTheElder commented on #102493
Ah yes, this. Is ipvs kube-proxy still developed? Is this a complete listing

This is still not many binaries, it's just 4 packages (if we ignore the wrapper script), which is not really worth having a bunch of ancillary distro stuff in the image IMHO. We could copy them over from a distro onto e.g. distroless perhaps.

I think alpine / busybox is probably not acceptable as an end-user image due t

[2021-06-02 23:09] howardjohn commented on #102493
For Istio we did build a custom distroless image with just iptables added: https://github.com/istio/distroless/commit/df31f67841c72486cc0a3c6e72ac6a6d5b6e81e9. The problem is a bit simpler for us those since we are running iptables in the pod network namespace not the host so we don't need the wrapper stuff (I think, anyhow, it at least seems to work..).

[2021-06-02 23:15] #102464 closed

[2021-06-02 23:19] sanwishe commented on #102545
/assign

[2021-06-03 01:00] vineelyalamarthy commented on #102545
/assign

[2021-06-03 01:06] Aisuko commented on #102537
Please paste the description of the Pod that would be good

[2021-06-03 01:30] sanwishe commented on #102545
@vineelyalamarthy Thank you very much for assigning. but I’ve already working on this issue. It is a pleasure to working with you next time?
/unassign vineelyalamarthy

[2021-06-03 01:58] theunrealgeek commented on #96717
Cool, let me try with kind then

[2021-06-03 02:09] zhangjie2012 commented on #102385
@dashpole We getting metrics from kubelet, not cAdvisor.

this problem finally we removed Prometheus `relabel_configs` temporary repair ( this will remove container node label info).

![image](https://user-images.githubusercontent.com/2450412/120575287-5efe8400-c453-11eb-80f7-9fdc8ecc320e.png)

I still understand. We have four K8s cluster, all metrics fetch from kubelet, two old  k8s cluster is `

[2021-06-03 02:12] zhangjie2012 commented on #102385
btw, the old cluster(v1.13)'s prometheus config also have `__meta_kubernetes_node_label_(.+)`, we not remove, but work well.

![image](https://user-images.githubusercontent.com/2450412/120575736-2e6b1a00-c454-11eb-81ee-2776d47d23c3.png)

[2021-06-03 02:28] tallaxes opened #102549 "Add conformance tests for required SANs (like kubernetes.default) in apiserver serving certificate"
#### What would you like to be added:

E2E / conformance tests that verify names like `kubernetes.default`, `kubernetes.default.svc`, etc. are part of Subject Alternate Name (SAN) list in the Kubernetes API server serving certificate. (The full list of PQDNs and FQDNs that should be validated may need to be determined).

#### Why is this needed:

There are already E2E / conformance tests for in-cl

[2021-06-03 02:37] tallaxes commented on #102549
/sig testing

[2021-06-03 02:37] tallaxes commented on #102549
/sig architecture

[2021-06-03 02:40] tallaxes commented on #102549
/label area:conformance

[2021-06-03 02:40] CaoDonghui123 commented on #102537
/assign

[2021-06-03 02:42] Oats87 commented on #70044
I've been spending quite a large amount of time attempting to debug/understand why pods can get stuck in a terminating state like this (https://github.com/longhorn/longhorn/issues/2629 for reference, the fundamental issue is the same but has a different cause)

I believe I've identified one path that gets to this state, but it specifically deals with a restarted kubelet due to a mismatch between d

[2021-06-03 03:17] chendave commented on #98746
/cc

[2021-06-03 03:49] tanjing2020 commented on #102384
/assign

[2021-06-03 06:18] peng09 opened #102551 "Deployment rolling update hang during scaling"
#### What happened:

Deployment rolling update hangs if it is scaling at the same time.

#### What you expected to happen:

Changes in deployment's replicas do not block rolling update.

#### How to reproduce it (as minimally and precisely as possible):

Supposing we have a deployment A with replicas 5, and the maxUnavailable is 1 and maxSurge is 0, then we trigger a rolling update (e.g. update im

[2021-06-03 06:18] peng09 commented on #102551
/sig-apps

[2021-06-03 06:20] ilyee commented on #100933
@roycaihw Yes I agree with that, and in additional I think we could split and specify invalid properties to a new error message like " must not specify anything other than name and generateName in the properties: description".

And for invalid type and properties we could stay the same way like "must not specify anything other than type and properties, but metadata is implicitly specified".

[2021-06-03 06:26] MadhavJivrajani commented on #102551
/sig apps

[2021-06-03 06:42] silenceper opened #102552 "when the node restarts, the numa information of the device cannot be obtained from the checkpoint"
#### What happened:
When the node restarts, the numa information of the device cannot be obtained from the checkpoint(maybe device plugin start slow), resulting in an error in the cpuset setting.

Through the tracking code, it is found that when the kubelet is restarted, the Topology information is not retained in the checkpoint.
https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec82

[2021-06-03 06:46] peng09 opened #102553 "Kubelet does not compress container logs"
#### What happened:
Kubelet does not compress container logs and the total disk usage for container logs exceeded ContainerLogMaxSize.

#### What you expected to happen:
Kubelet compress old container logs even if the file size of latest container log file is less than threshold (ContainerLogMaxSize).

#### How to reproduce it (as minimally and precisely as possible):

Supposing the ContainerLogMa

[2021-06-03 06:47] peng09 commented on #102553
/sig node

[2021-06-03 06:56] jiraguha commented on #69687
@DXist for

Interesting, have you any resources/docs showing your setup?

[2021-06-03 07:07] brandond commented on #70044
I think it has to do with pod teardown and BoundServiceAccountTokenVolume. The token controller sees that the pod has the deletion timestamp set, and deletes the bound token secret. The kubelet comes back online and tries to remount everything to properly sequence the pod teardown, but can't because the token has disappeared out from under it.

Ref: https://kubernetes.io/docs/reference/access-auth

[2021-06-03 07:47] Jerry-Ge commented on #101135
Just back from holiday. Thanks @Huang-Wei  for the detailed review and guidance! I will prepare another PR beginning with the Extenders() unrolling.

[2021-06-03 07:55] antoinep92 opened #102556 "Unable to renew expired certificate"
#### What happened:
Control plane is broken. Kubelet is technically running but seems stuck in initialization. I think this is a certificate problem, because it stopped working suddenly with no control-plane, hardware or OS-level change, and the following elements:
- `kubectl get nodes` fails with `unauthorized`
- kube-apiserver POD is restarting and complains with:
[code]

On the other hand, `kub

[2021-06-03 07:56] yangjunmyfm192085 opened #102557 "Provide better guidance for structured logging migration contributors"
#### What would you like to be added:
We need to record the files that have been modified in current pr . Prevent multiple PR conflicts
#### Why is this needed:
When reviewing pr about Structured Logging migration, I found that multiple prs conflicted.
For example:
https://github.com/kubernetes/kubernetes/pull/102469 is conflicted with #99534, #99532, #100672, #100699.

[2021-06-03 08:01] yangjunmyfm192085 commented on #102557
/cc @serathius should we develop a plan for the PRs' submission?

[2021-06-03 08:01] yangjunmyfm192085 commented on #102557
/wg structured-logging

[2021-06-03 08:02] yangjunmyfm192085 commented on #102557
/cc @kubernetes/wg-structured-logging-leads @kubernetes/wg-structured-logging-reviews @kubernetes/wg-structured-logging-members

[2021-06-03 08:03] antoinep92 commented on #102556
/sig auth

[2021-06-03 08:38] yuzhiquan commented on #102557
May be need an checklist like https://github.com/kubernetes/kubernetes/issues/98976 for diff compoent.

[2021-06-03 08:38] serathius commented on #102557
Thanks @yangjunmyfm192085 for bringing this up. Coordinating PRs to avoid conflicts would be a one possible solution, but currently we are not planning to start organizing migration of new components until we collect feedback and draw conclusions from Kubelet migration.

I understand that there is a lot of interest from new contributors to pick migration as an easy task but we don't need to rush a

[2021-06-03 08:41] serathius commented on #102557
I propose to add a section to the top of user guide that specifies:
* How migration is done - We organize migration component by component with time in between to collect feedback. Migration of components that are not marked for it is on best effort and is expected to get delayed review or be rejected (example kubeadm).
* What's the current status of migration - Kubelet was migrated, we are collec

[2021-06-03 08:49] serathius commented on #102557
Looked through PRs listed in the issue. From those 5 that conflict I would only count one or two with quality good enough that it had chance to be merged, the rest should be closed as it doesn't look like author read the guide at all. That's why we need to first improve our process and quality of PRs, before we scale up.

[2021-06-03 09:05] yangjunmyfm192085 commented on #102557
@serathius yeah, I agree with you, let me  update the user guide firstly.

[2021-06-03 09:13] xytis opened #102559 "Conntrack table not flushed for UDP hostPort on pod restart (DaemonSet)"
#### What happened:
DaemonSet with port bound to hostPort is set up to accept UDP traffic. UDP traffic is generated from other pods, delivered to HOST_IP. (Real world example: Datadog agents with statsd metrics)

DaemonSet is rolled out. IP's of DaemonSet pods change. UDP traffic no longer reach DaemonSet pods. (Real world case: metrics not delivered)

#### What you expected to happen:

UDP traffi

[2021-06-03 09:14] xytis commented on #102559
/sig network

[2021-06-03 09:45] johanneswuerbach commented on #69687
I had a talk at a k8s meetup on this https://github.com/johanneswuerbach/k8s-meetup-talk-autoscaling/, which has a documented setup.

It might be a bit outdated, but should give you an idea.

[2021-06-03 09:49] CaoDonghui123 commented on #102537
https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-termination

Termination Grace Period: 30s

[2021-06-03 10:05] uablrek commented on #102527
I have upgraded my Calico to `v3.19.1` and run on K8s `v1.21.1` but I can't reproduce this problem. The external source is preserved. Here is a trace with `tcpdump -ni any port 80` similar to the one in this issue;
[code]
The external source address `1000::1:c0a8:1c9` is preserved. The loadBalancerIP `1000::82` is DNAT'ed to the POD address `1100::b00:f641`, as it should.

[2021-06-03 10:17] uablrek commented on #102527
SNAT is not done by `ipvs` it is done by `ip6tables -t nat`. That the SNAT'ed address is the first on `kube-ipvs0` indicates that the packet is actually routed to `kube-ipvs0` and the source is masqueraded. This is very weird :confused:

Can you do a route query on the K8s node that receives the traffic on your POD address, like;
[code]
The result should be a "cali*" device. Example on my system;

[2021-06-03 11:04] MrPallaBall opened #102562 "Container restart policy - Problem settings Spec in Pod"
I'm following this page og official documentation https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#restart-policy

I would like to set the `spec.restartPolicy`  of a Pod with the Never value, but Kubernetes in GCP give me this message:

The same appends when I set OnFailure value.

How I can set `spec.restartPolicy` with Never value?

[2021-06-03 11:05] growse commented on #102527
I've done some restarting in the interim, so the addresses are now different (confusingly. Sorry! I'll try not to reboot / restart things again)

So, to recap, the client IP is now being rewritten to `fd5a:1111:1111::5854`. This is the cluster IP of an unrelated service. As previously, this is the first address on `kube-ipvs0`:

[code]

The pod ip is now `fd5a:5555:5555:b0a2:a3e9:33ee:7385:7a37`.

[2021-06-03 11:16] uablrek commented on #102527
Ok, the `src fd5a:1111:1111::5854` explains why you get that address as source. IMHO it shouldn't be there! This may be a `Calico` thing.

[2021-06-03 11:18] JCzz opened #102563 "systemd on Ubuntu - Current command vanished from the unit file"
#### What happened:
Unable to restart serv er

#### What you expected to happen:
Running node after restart

#### How to reproduce it (as minimally and precisely as possible):

I found that setting [Docker daemon systemd](https://kubernetes.io/docs/setup/production-environment/container-runtimes/#docker)(Ubuntu 20.04)
[code]

Then I am unable to restart the server/computer(Ubuntu 20.04)

**systemc

[2021-06-03 11:26] uablrek commented on #102527
I set;
[code]
in my calico config. I think that's something you should try also. The device should be the one used for K8s traffic. I have eth0, eth1 and sometimes eth2,3,4. So I _must_ give Calico a hint.