[2019-10-08 18:08] dwarburt commented on #45509
Isn't this already implemented with the TERM signal and `terminationGracePeriodSeconds` on the pod spec or do I misunderstand something?

[2019-10-08 18:08] mrobson commented on #83624
/sig node

[2019-10-08 18:09] ahg-g commented on #83523
@draveness it would be great if you can prioritize finishing this issue, it will allow us to start the work on moving multiple predicates/priorities in parallel to the framework once #83537 is merged.

[2019-10-08 18:11] 2rs2ts commented on #68684
Hacky workarounds are not great

[2019-10-08 18:14] ravisantoshgudimetla commented on #83472
/assign @damemi

[2019-10-08 18:19] neolit123 commented on #83550
@gyuho @liggitt @dims @jpbetz

i think seeing this regression in the etcd client we vendor in k/k.

after hours of bisecting i ended at:
https://github.com/kubernetes/kubernetes/pull/81434

to summarize again:

we are seeing:
[code]

when multiple ipv6 etcd nodes join the cluster.

this starts happening only after https://github.com/kubernetes/kubernetes/pull/81434
it seems as the `ServerName` for

[2019-10-08 18:24] krcroft commented on #77493
rikatz, that looks like a reasonable approach. Although the kernel API isn't guaranteed, they do treat /proc as pretty close to stable. zI think checking proc for the desired features is the first approach and then falling back to those in order that you've suggested in the link.

[2019-10-08 18:29] nimakaviani opened #83628 "PodReadinessGate to support conditions defaulting to True"
Currently `PodReadinessGate` requires a two-step update to the Pod for a user provided condition to be set to `True`.

1. The `conditionType` is introduced when creating the pod
1. The  Pod `status` is patched to set the condition to `True`.

While the behavior works for the initially intended purpose of this field (ie. more control over when to make the Pod available for routing traffic), reversi

[2019-10-08 18:33] kfox1111 commented on #75378
hostPath and emptydir are built in. If every possible emptydir style driver was in tree it would be an unwieldy mess of a code base. There are tons of drivers of that kind. coming up with a solid plugin mechanism resolves the issue.

The other issue is you must wait for several releases to get new code into kubelet, this can take years before an operator can actually start using it. Starting with

[2019-10-08 18:33] machavenu commented on #1806
Hi, Are you still having issues with Kaniko? I am trying to explore on Kaniko, Are there any other alternatives which are proven to be production grade?

[2019-10-08 18:34] liggitt commented on #83550
https://github.com/kubernetes/kubernetes/commit/3d6ae5ef12b2acc7427be43114c4a8da50c042e7#diff-73e6227e3f7452a2c93cff8771f41e2bR368-R396 might be related

[2019-10-08 18:40] howardjohn commented on #79384
@sslavic That would be useful. See https://github.com/helm/helm/issues/6606, with just the deploymentutil helm can drop the k8s.io/kubernetes dependency. I will send a PR soon, at least as a POC, of copying those functions over and removing the dependency

[2019-10-08 18:41] ahg-g opened #83629 "[migration phase 1] NoDiskConflict as filter plugin"
**What would you like to be added**:

Add a filter plugin that calls into NoDiskConflict predicate, example #83460

**Why is this needed**:

Part of  #83554

/sig scheduling
/help
/priority important-soon

[2019-10-08 18:42] msau42 commented on #75378
Renaming things is difficult and can potentially break a lot of things. I am open to improving documentation though to clarify the hostpath csi driver is only intended for testing purposes.

[2019-10-08 18:43] liggitt commented on #83550
cc @jpbetz @gyuho

[2019-10-08 18:47] ahg-g opened #83630 "[migration phase 1] PodFitsResources as framework plugin"
**What would you like to be added**:

Add a filter plugin that calls into PodFitsResources predicate, example #83460

**Why is this needed**:

Part of  #83554

/sig scheduling
/help
/priority important-soon

[2019-10-08 18:48] ahg-g opened #83631 "[migration phase 1] PodFitsHost as filter plugin"
**What would you like to be added**:

Add a filter plugin that calls into NoDiskConflict predicate, example #83460

**Why is this needed**:

Part of  #83554

/sig scheduling
/help
/priority important-soon

[2019-10-08 18:48] liggitt commented on #83550
adding api-machinery / apiserver in case this also affects failover

[2019-10-08 18:49] ahg-g opened #83632 "[migration phase 1] PodFitsHostPorts as filter plugin"
**What would you like to be added**:

Add a filter plugin that calls into PodFitsHostPorts predicate, example #83460

**Why is this needed**:

Part of  #83554

/sig scheduling
/help
/priority important-soon

[2019-10-08 18:50] ahg-g opened #83633 "[migration phase 1] PodMatchNodeSelector/NodAffinity as filter plugin"
**What would you like to be added**:

Add a filter plugin that calls into PodMatchNodeSelector/NodAffinity predicate, example #83460

**Why is this needed**:

Part of  #83554

/sig scheduling
/help
/priority important-soon

[2019-10-08 18:53] ahg-g commented on #83630
/assign @wgliang

[2019-10-08 18:53] ahg-g commented on #83631
/assign @wgliang

[2019-10-08 18:53] ahg-g commented on #83632
/assign @wgliang

[2019-10-08 18:54] liggitt commented on #83550
https://github.com/kubernetes/kubernetes/blob/release-1.16/vendor/google.golang.org/grpc/credentials/credentials.go#L169-L173 looks very wrong and very related, but was also present in 1.15 (https://github.com/kubernetes/kubernetes/blob/release-1.15/vendor/google.golang.org/grpc/credentials/credentials.go#L139-L143)

@jpbetz, do you know if something in the etcd v3.3.15 bump started making use of

[2019-10-08 18:56] liggitt commented on #83550
oh, nevermind, it's https://github.com/kubernetes/kubernetes/blob/release-1.16/vendor/github.com/coreos/etcd/clientv3/balancer/resolver/endpoint/endpoint.go#L231-L240

[2019-10-08 18:59] liggitt commented on #83550
/assign @jpbetz

[2019-10-08 19:09] ahg-g opened #83634 "[migration phase 1] VolumeZoneChecker as filter plugin"
**What would you like to be added**:

Add a filter plugin that calls into VolumeZoneChecker predicate, example #83460

**Why is this needed**:

Part of  #83554

/sig scheduling
/help
/priority important-soon

[2019-10-08 19:12] liggitt commented on #83550
that method should switch to using net.SplitHostPort(); I'm unsure whether it should unwrap ipv6 hosts or return them still in brackets

[2019-10-08 19:14] ahg-g opened #83635 "[migration phase 1] VolumeBindingChecker as filter plugin"
**What would you like to be added**:

Add a filter plugin that calls into VolumeBindingChecker predicate, example #83460

**Why is this needed**:

Part of  #83554

/sig scheduling
/help
/priority important-soon

[2019-10-08 19:18] pisymbol opened #83636 "Add support for unmanaged nodes for AWS cloud provider"
**What would you like to be added**:

I would like the AWS driver to support un-managed nodes like it does for Azure. See Issue #67984 for details.

**Why is this needed**:

The behavior is that unmanaged nodes just get automatically removed because the AWS cloud controller looks to the AWS API to determine if a node exists and to get an instance ID, but then it doesn't see it for unmanaged nodes

[2019-10-08 19:20] ahg-g opened #83637 "[migration phase 1] CSIMaxVolumeLimitChecker as filter plugin"
**What would you like to be added**:

Add a filter plugin that calls into CSIMaxVolumeLimitChecker predicate, example #83460

**Why is this needed**:

Part of  #83554

/sig scheduling
/help
/priority important-soon

[2019-10-08 19:22] adampl commented on #75378
@kfox1111 I think you have mistaken something. There is only one `emptyDir` volume type, and it has only one option - `medium` with only 2 possible values, the default "" (disk) and "Memory" (tmpfs). Of all the multiple in-tree drivers, only the following cannot be used with PVs:

- configMap
- downwardAPI
- emptyDir
- gitRepo (deprecated)
- local
- persistentVolumeClaim
- projected
- secret

Of t

[2019-10-08 19:23] ahg-g commented on #83523
nevermind, this is a priority for phase 2 of the migration plan :)

[2019-10-08 19:25] paalkr commented on #72775
I can absolutely confirm that the bug is still present and reproducible in k8s 1.14.6

[2019-10-08 19:32] jpbetz commented on #83550
/assign

[2019-10-08 19:39] tedyu commented on #83622
In the log for kubelet, do you see the following ?
[code]

[2019-10-08 19:53] lblackstone opened #83639 "Cache OpenAPI schema in memory-cached discovery client"
**What would you like to be added**:

Cache the OpenAPI schema in the `OpenAPISchema` method rather than re-fetching it on every call to this method.

**Why is this needed**:

The API call to retrieve the OpenAPI schema is fairly slow, so it would be helpful to cache the response in the memory-cached discovery client.

[2019-10-08 19:54] lblackstone commented on #83639
/sig api-machinery

[2019-10-08 20:12] sreya92 commented on #83622
On the node where the pod was scheduled
[code]
does not return anything

[2019-10-08 20:15] sreya92 commented on #83622
There are plenty of these however
[code]
[code]

[2019-10-08 20:37] neolit123 commented on #83550
/retitle 1.16: etcd client does not parse IPv6 addresses correctly when members are joining

[2019-10-08 20:40] vllry opened #83642 "Remove or allow customization of CronJob missed start times"
**What would you like to be added**:
Remove the "missed start times" suspension on CronJobs, OR allow this behavior to be customized.

**Why is this needed**:
CronJobs will suspend if 100 start times are missed. There are many ways that this could happen:
* Pods get stuck in Pending/Init
* Containers are crashing (bad version, bad data/APIs, etc)
* A job runs for a very long time

This behavior ma

[2019-10-08 20:42] vllry commented on #83642
/sig apps

[2019-10-08 21:07] lavalamp commented on #83259
https://github.com/kubernetes/kubernetes/pull/83519 fixes the cache and includes a benchmark demonstrating that to trigger this live-lock behavior, it's not enough for calls to check a token to be slow; they must also be constricted / serialized in some way. (imagine: self client QPS limit, or etcd response time gets slower as the number of concurrent requests goes up, or the external webhook chec

[2019-10-08 21:17] tedyu commented on #83622
Initial thought:
[code]
Need to figure out proper way of bubbling up the error in OnCompleteFunc

[2019-10-08 21:26] jpbetz commented on #83550
We will backport the etcd fix to 3.4 and 3.3 once it is merged to master.

[2019-10-08 21:51] vllry commented on #78797
/remove-lifecycle stale

[2019-10-08 21:51] vllry commented on #78797
/good-first-issue

[2019-10-08 21:57] notpad commented on #83637
/assign

[2019-10-08 21:57] notpad commented on #83635
/assign

[2019-10-08 21:58] notpad commented on #83634
/assign

[2019-10-08 22:05] notpad commented on #83629
/assign

[2019-10-08 22:15] codersofthedark commented on #15128
Not really. Doc still doesn't clarify what all field selectors are available for what kind of resources.

[2019-10-08 22:42] #82995 closed

[2019-10-08 22:42] #83193 closed

[2019-10-08 22:50] jpbetz commented on #83550
etcd backports:
- 3.4: https://github.com/etcd-io/etcd/pull/11213
- 3.3: https://github.com/etcd-io/etcd/pull/11216

[2019-10-08 22:51] jpbetz commented on #83028
etcd backports of fix:
- 3.4: https://github.com/etcd-io/etcd/pull/11214
- 3.3: https://github.com/etcd-io/etcd/pull/11215

[2019-10-08 23:12] msau42 commented on #83177
The fix to check for the annotation was made here: https://github.com/kubernetes-incubator/external-storage/pull/521 which was release with external-storage v5.5.0.  CSI external-provisioner v0.4.x [imports v5.2.0](https://github.com/kubernetes-csi/external-provisioner/blob/release-0.4/Gopkg.toml#L41) which does not contain the fix.  CSI external-provisioner v1.0+ should have the fix.

[2019-10-08 23:20] kcmartin commented on #72775
Confirming the bug is still present in K8s 1.14.6 (cluster on AWS, created with kops)

I followed the steps in this comment and experienced the same results:
https://github.com/kubernetes/kubernetes/issues/72775#issuecomment-532034751

[2019-10-08 23:44] vllry commented on #60596
Confirmed code + behavior.
/open

[2019-10-08 23:45] robscott commented on #83212
/close

[2019-10-08 23:45] #83212 closed

[2019-10-08 23:49] vllry commented on #60596
/reopen

[2019-10-09 00:07] #72080 closed

[2019-10-09 00:22] terinjokes commented on #52865
/reopen

Still no way to disable lumberjack's rotation.

[2019-10-09 00:55] kfox1111 commented on #75378
But there is not a driver in existence that does what you want. an emptyDir volume will be deleted as soon as the pod referencing it goes. There is no Persistent Volume in that. So just hooking it up to a PV doesn't work. Once you start  down that path, then there are lots of behavioural options that someone may want to use for emptyDir in a pv. Does it follow the pod lifecycle? namespace lifecycl

[2019-10-09 00:58] 13567436138 commented on #83600
anyone can help me，this problem has stuck me for 2days

[2019-10-09 01:15] wgliang commented on #83633
/assign

[2019-10-09 01:17] wgliang commented on #83630
/remove help

[2019-10-09 01:19] wgliang commented on #83632
/remove-help

[2019-10-09 01:19] wgliang commented on #83630
/remove-help

[2019-10-09 01:19] wgliang commented on #83631
/remove-help

[2019-10-09 01:20] wgliang commented on #83633
/remove-help

[2019-10-09 01:37] #83532 closed

[2019-10-09 01:48] wongma7 commented on #78409
Most of the work has been done by fixing getInstancesByNodeName and GetCandidateZonesForDynamicVolume https://github.com/kubernetes/kubernetes/pull/78276, thank you.

There is also this minor getInstancesByNodeNames func which is only used in DisksAreAttached https://github.com/kubernetes/kubernetes/blob/5e4abfb94613339d585e5d811e4fcec278ff06dc/staging/src/k8s.io/legacy-cloud-providers/aws/aws.go#

[2019-10-09 02:00] #83613 closed

[2019-10-09 02:02] Sakuralbj opened #83648 "Which performance of api-server will be affected by the parameter watch-cache-sizes?"
I want to test how the parameter watch-cache-sizes affect api-server. Which performance metrics of api-server should I focus on after I modify watch-cache-sizes.

[2019-10-09 02:18] benjaminjb commented on #73492
Yeah, that would be great!

But is there some reason why this behavior wasn't adopted for OnDelete?

[2019-10-09 02:19] benjaminjb commented on #73492
/remove-lifecycle stale

[2019-10-09 02:27] liggitt commented on #83648
The larger the number, the more watch event history the apiserver will keep available for a particular resource, at the expense of memory use of those retained watch events. That allows the apiserver to allow watchers to restart watches n events behind the "current" state of a particular resource. If a resource that changes a lot (like pods/endpoints) has a very small watch cache size, a dropped w

[2019-10-09 02:27] #83648 closed

[2019-10-09 02:49] zouyee commented on #83311
<details>
  <summary>busybox mainfest for test and result</summary>
[code]
[code]
</details>

[2019-10-09 03:09] jpbetz opened #83651 "List requests with limit and resourceVersion return incorrect metadata.resourceVersion in response"
List responses return the most recent avilable `metadata.resourceVersion` for the resource at the time the list response was constructed:
[code]

But if `limit` and `resourceVersion` are both, the exact `resourceVersion` requested is instead returned.

[code]

This is what is causing `TestCRDDeletionCascading` to fail for https://github.com/kubernetes/kubernetes/pull/83520. The PR changes reflecto

[2019-10-09 03:16] liggitt commented on #83651
Isn't that what allows continue tokens to work?

[2019-10-09 03:20] smarterclayton commented on #83651
Yes, continue tokens have to bypass watch cache.

[2019-10-09 03:21] smarterclayton commented on #83651
the watch cache (at least today) can't mimic the behavior of viewing at an exact version with the appropriate limit and thus must drop down to etcd.

[2019-10-09 03:21] zhouya0 commented on #83622
I'm running pod with wrong image in k8s 1.15.3. I found no matter wrong image in initContainers or wrong image in Containers. They all have `Pending` status.

[2019-10-09 03:22] andrewsykim commented on #82923
FYI folks - update to CHANGELOG merged yesterday https://github.com/kubernetes/kubernetes/pull/83414.

[2019-10-09 03:24] smarterclayton commented on #83651
but I don't think when that happens we have to honor exact rv - we can use min.  The continue token has an embedded RV which should conflict with user specified RV in any case

[2019-10-09 03:24] smarterclayton commented on #83651
it's too late at night for me to reason about this

[2019-10-09 03:25] sreya92 commented on #83622
That is the problem

On Tue, Oct 8, 2019 at 10:24 PM zhouya0 <notifications@github.com> wrote:

[2019-10-09 03:30] jpbetz commented on #83651
Rewrote the description to more clearly describe what is going on.

[2019-10-09 03:31] #68957 closed

[2019-10-09 03:34] jpbetz commented on #83651
/assign

[2019-10-09 03:49] vllry commented on #80828
/remove-sig usability
/sig cli

[2019-10-09 03:49] vllry commented on #80903
/sig apps

[2019-10-09 04:15] ahg-g commented on #83523
sorry for the back and forth, actually the SharedSchedulerListers type is something we need now. We need to pass it along with SharedInformerFactory to plugins.NewDefaultRegistry() so that we can instantiate predicates/priorities that need those listers. So this is issue is very high priority now.

[2019-10-09 05:32] sukhong commented on #72226
We are facing the same issue on Kubernetes 1.15.3

[2019-10-09 05:35] sukhong commented on #80968
This issue seems to share the same root cause: https://github.com/kubernetes/kubernetes/issues/72226

[2019-10-09 05:35] sukhong commented on #72226
Does this issue share the same root cause with this issue: https://github.com/kubernetes/kubernetes/issues/80968?

[2019-10-09 05:40] wgliang commented on #72506
/remove-lifecycle stale

[2019-10-09 05:41] KristianWindsor commented on #82923
Just launched a new cluster version `1.14.7`. The first thing I do is create a load balancer, and now here I am finding out you can't even launch a basic load balancer??

[2019-10-09 05:43] sukhong commented on #72226
In fact, this issue is actually even worse, because there is no way to detect this zombie pods unless you manually run the command.

[2019-10-09 05:55] sukhong commented on #72226
The problem is that even after nodes become available again, "terminating" pods to not become "ready" again, but they stay terminating forever...

[2019-10-09 06:19] draveness commented on #83523
I'll send a PR to add SharedSchedulerListers soon.

[2019-10-09 06:23] #79972 closed

[2019-10-09 06:34] hex108 commented on #79159
/lifecycle stale

[2019-10-09 07:53] ymmt2005 commented on #83282
What a coincidence.  I just sent a pull request for this same problem as #83273.
That includes the exact reproducer using kind.

[2019-10-09 07:56] #83624 closed

[2019-10-09 07:56] zouyee commented on #83612
Please paste the log if the following fields exist.
[code]

[2019-10-09 08:14] njuicsgz commented on #81775
I have resolved this problem just by deleting rs immediately when pod enters Terminating state.

Code diff like this:
[code]

I test long request which needs 60s to response, the response can be correctly back if the endpoint is deleted from ipvs service. It seems everything works well, thought I want to known what's the disadvantage? If there is any please let me known, thanks. @juliantaylor @and

[2019-10-09 08:23] k-toyoda-pi commented on #81427
I created PR for `storage/testsuites/topology.go`
The file was created after previous commit #81983 was merged.

[2019-10-09 08:26] kewenwang-ai commented on #82118
Yes, our design need to add the CRD into the scheduling queue.

Here is the architecture and components about our design, and the process is described in the figure below.
![architecture](https://user-images.githubusercontent.com/54662167/66464235-302edf80-eab1-11e9-94f0-5cd35acd384a.png)
Based on the figure above, we propose the following principles:
- Kube-Scheduler needs to support the scheduli

[2019-10-09 08:28] kewenwang-ai commented on #82118
About this question, because we need do the scheduling right after the 'splitting' interface, the creation of pod（which means go through the API server） could be done in the extender, if the creation failed, then the splitiing operation failed.
(Of course the scheduler should filter these pods to prevent them from entering into scheduling queue again.)

Yes, in order to keep the CRD in the expecte

[2019-10-09 08:41] pierluigilenoci commented on #69461
/remove-lifecycle stale

[2019-10-09 08:50] cofyc commented on #56180
depdencies:

- kubernetes client: https://github.com/kubernetes/kubernetes/pull/82432
- shared informer factory: https://github.com/kubernetes/kubernetes/pull/83663

[2019-10-09 08:50] cofyc commented on #83635
We can convert the current volume binder into a plugin that implements FilterPlugin (https://github.com/kubernetes/kubernetes/issues/56180).

[2019-10-09 08:51] alitoufighi commented on #83612
@zouyee There were no `eviction manager` journal logs in that period.
After regular initialization logs, There are these:
[code]

After `Reconciler: start to sync state` logs, it took 30 minutes to continue. In that time, there was `DiskPressure` on that node.
Note: My server version is still 1.15.3 and my client (worker) version is 1.16.1, if it matters.

[2019-10-09 08:54] davidq2q commented on #79072
Had the same issue yesterday evening. Disk pressure taint could not be removed. Even after plenty inodes and space was removed. Had to restart everything in order for the taint to be removed. Which is not ideal in a production environment.

[2019-10-09 08:57] davidq2q opened #83668 "Cannot remove disk pressure taint"
**What happened**:
Worker nodes were all under disk pressure. New pods were being evicted. After freeing up space and disk inodes disk pressure state was not refreshed. Removing the taint manually was not working either. Full restart of everything was required.

**What you expected to happen**:
Disk pressure state to be changed to false when inodes and space are freed up.

**How to reproduce it (a

[2019-10-09 09:12] gongguan commented on #78797
/assign

[2019-10-09 09:28] max-rocket-internet commented on #72775
Someone needs to open a new issue. @sbocinec? We are not on 1.14 yet.

[2019-10-09 09:37] AWKIF commented on #82494
@freehan i don't have the logs anymore and i didn't have the time yet to try to reproduce it :(
i'll let you know but indeed it can be related to this issue
thanks

[2019-10-09 09:48] eero-t commented on #79602
/remove-lifecycle stale

[2019-10-09 09:49] eero-t commented on #79602
What kind of evidence?

[2019-10-09 09:49] haoqing0110 opened #83669 "How kubelet & apiserver's choose tls-cipher-suites ?"
**What happened**:
I'm using kubernetes 1.13.9, build with go1.11.13 .

**1. How kubelet & apiserver's choose default tls-cipher-suites ?**
When I use default tls-cipher-suites, find kubelet & apiserver are different
kubelet:
[code]
api-server
[code]
Both kubelet https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/options/options.go#L480 and api-server https://github.com/kubernete

[2019-10-09 09:50] zouyee commented on #83612
The log should be output according to the implementation when evicted happened.
[code]

[2019-10-09 09:58] howardshaw commented on #23880
Any update?
We need to support mixed protocols in loadbalancer svc.

[2019-10-09 10:11] Adirio commented on #82118
What you are proposing is to have a pseudo-CRD-controller (which you called Pod-Splitor) integrated inside the scheduling process.

### About the benefits:
- You claim that this will provide attomicity, which as I already told you, can't be guaranteed even with this setup as there are many other things that may interfere with the cluster state.
- You also claim that this will improve the resource

[2019-10-09 11:05] fungnaz commented on #76531
Problem still exists:
docker v19.03.3 on Ubuntu 18.04, K8S 1.16.1

**lsb_release -a**
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.3 LTS
Release:        18.04
Codename:       bionic

**uname -a**
Linux k1 4.4.0-124-generic #148-Ubuntu SMP Wed May 2 13:00:18 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

**docker -v**
Docker version 19.03.3, build a872fc2f86

**kubead

[2019-10-09 11:19] odinuge commented on #83600
Hi @13567436138,

What does your StorageClass look like? To be able to resize you have to set `allowVolumeExpansion` to true ref the docs. https://kubernetes.io/docs/concepts/storage/persistent-volumes/#expanding-persistent-volumes-claims

[2019-10-09 11:53] cofyc commented on #56180
another issue is how to pass `KubeSchedulerConfiguration.BindTimeoutSeconds` to volume binder plugin.

[2019-10-09 11:54] zhangxingdeppon opened #83672 "Possible Bug: deleted deployment but related pod didn't delete"
**What happened**:
hi,buddies,I did face a problem,it‘s very important to me,in our product environment，sometimes the following situation occurs：deleted deployment but related pod didn't delete
**What you expected to happen**:
I expected to delete deployment ,and delete pod at the same time,in addition. I want to know the reason ,tks
**How to reproduce it (as minimally and precisely as possible)**

[2019-10-09 11:59] cofyc commented on #83554
hi, @ahg-g

VolumeBinder initializer needs to access `KubeSchedulerConfiguration.BindTimeoutSeconds` option.

https://github.com/kubernetes/kubernetes/blob/8577711b61cd768df723c6dac333743159393d23/pkg/scheduler/volumebinder/volume_binder.go#L34-L41

Is it possible to expose it in the framework handler too?

[2019-10-09 12:00] zhangxingdeppon commented on #83672
@kubernetes/sig-apps-bugs

[2019-10-09 12:05] draveness commented on #83554
I could send another PR for this.

[2019-10-09 12:09] neolit123 commented on #83669
/sig auth
/triage support

[2019-10-09 12:10] neolit123 commented on #83668
/sig node

[2019-10-09 12:10] neolit123 commented on #83636
/sig cloud-provider

[2019-10-09 12:12] neolit123 commented on #83330
/sig network
/triage support

[2019-10-09 12:13] neolit123 commented on #83393
/sig cloud-provider
if you are not getting a response here, you can also try the #kops channel on slack or stackoverflow, or even reddit.

[2019-10-09 12:13] neolit123 commented on #83393
/remove-sig cloud-provider
/sig cluster-lifecycle

[2019-10-09 12:15] cofyc commented on #83554
Because this option is only used by volume binder. Alternatively, we can deprecate `KubeSchedulerConfiguration.BindTimeoutSeconds` and use `PluginConfig` to configure volume binder plugin. For backward compatibility, we can inject a `PluginConfig` into `schedulerOptions.frameworkPluginConfig` if `BindTimeoutSeconds` presents and no plugin config for volume binder plugin.
What do you think?

[2019-10-09 12:17] alitoufighi commented on #83612
Ah, I actually made another change that time I didn't think that was the cause of garbage collection, but it seems it was.
I had changed `imageGCHighThresholdPercent` and the scenario above happened also for this one. It was 85% first and I changed it to 80%. Apparently, in that time the disk usage was 82% (oops) and it triggered the garbage collection.
But the rest of the story is the same: Clear

[2019-10-09 12:18] alvaroaleman commented on #8190
@bgrant0607 So [this](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#lists-of-named-subobjects-preferred-over-maps) is not true anymore? Or is it kept as a convention, but third parties that e.G. develop CRD-based APIs should consider using maps instead?

[2019-10-09 12:18] cofyc commented on #83554
But I'm not sure if it is possible other plugins may need this option in the future.

[2019-10-09 12:21] ahg-g commented on #83554
No, this is a plugin configuration parameter, the way to do this is as follows:

1) Add a BindTimeoutSeconds parameter to [ConfigProducerArgs](https://github.com/kubernetes/kubernetes/blob/8577711b61cd768df723c6dac333743159393d23/pkg/scheduler/framework/plugins/default_registry.go#L40)
1) pass this argument as a PluginConfig in the [config producer](https://github.com/kubernetes/kubernetes/blob/85

[2019-10-09 12:32] lbernail commented on #81775
Doing this will disable graceful termination (unless I'm missing something):
- pod enters the Terminating state
- RS is immediately removed
- the established connections are deleted (RST sent at the next packet because of expire_nodest_conn)

[2019-10-09 12:33] liggitt commented on #79602
That the benefits outweigh the complexity introduced by additional API fields and multi-level precedence. Most of the fields that exist in both levels started at the pod level and were added to the container level because more granularity was required. Going the other direction for convenience isn't as compelling.

/sig node

[2019-10-09 12:33] cofyc commented on #83554
Thanks!

[2019-10-09 12:37] 13567436138 commented on #83600
i have added the allexpansion

[2019-10-09 12:38] neolit123 commented on #83290
this error is misleading because TMK there is no such definition as a `DNS-1123 subdomain`, there is the [RFC-1123](https://tools.ietf.org/html/rfc1123), which applies it's naming restrictions to hostnames and not domain names.

if `dns1123LabelFmt` is following RFC-1123 then related errors and documentation should be updated that this regexp tolerates host names and a subset of domain names as pe

[2019-10-09 12:38] neolit123 commented on #83290
/kind documentation

[2019-10-09 13:06] neolit123 commented on #83228
/sig node

[2019-10-09 13:15] neolit123 commented on #83182
/sig scheduling
/remove-kind bug
/kind flake

was this resolved by these PRs:
https://github.com/kubernetes/kubernetes/pull/83179
https://github.com/kubernetes/kubernetes/pull/82884

[2019-10-09 13:16] neolit123 commented on #83119
hi, better ask such questions on our support channels like slack or stackoverflow:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

thanks

/close

[2019-10-09 13:16] #83119 closed

[2019-10-09 13:18] neolit123 commented on #83012
hi, that is why projects like kubeadm, kind, kops, cluster-api and minikube exist.
your feature requests is already being tackled by these projects.

/sig cluster-lifecycle
/close

[2019-10-09 13:18] #83012 closed

[2019-10-09 13:19] neolit123 commented on #82949
/sig scalability
/kind flake

[2019-10-09 13:20] neolit123 commented on #82903
/sig storage

if you think this is a bug try asking in the #sig-storage channel on k8s on slack.
thanks.

[2019-10-09 13:24] CermakM commented on #53248
For shell users [this](https://gist.github.com/CermakM/ad343a1dece01757e6a8719b9a956cce) simple function added to `~/.config/fish/config.fish` kinda does the trick

[2019-10-09 13:41] anderseknert commented on #79395
Just lost a few hours and hairs due to this, if it adds to the evidence. Agreed that a mention in the docs would likely have been good enough to avoid that though.

[2019-10-09 13:42] neolit123 commented on #82775
/sig testing

[2019-10-09 13:45] vkovelkar opened #83675 "Remove permissive-binding to all service accounts in kubernetes cluster"

[2019-10-09 13:47] pete911 opened #83676 "kube-proxy README file to list ipvs modules has typo in the command"
**What would you like to be added**:
change grep argument from `ipvs` to `ip_vs` in `lsmod | grep -e ipvs -e nf_conntrack_ipv4` command so it matches correct ipvs modules. This is in `pkg/proxy/ipvs/README.md` file.
**Why is this needed**:
documentation is misleading and command does not work correctly making people thing that ipvs modules are not loaded

[2019-10-09 13:48] vkovelkar commented on #83675
I enabled the permissive-binding  to k8 cluster,  I need to remove permissive-binding now. any help please..

[2019-10-09 14:10] mattjmcnaughton commented on #81657
I'll take `test/e2e/node` (which I don't believe anyone has taken yet).

[2019-10-09 14:12] DarrienG commented on #77216
This hit us again today. We're still on Kubernetes version `1.13.2` has it been fixed in a later version?

[2019-10-09 14:14] alculquicondor commented on #82118
Additionally to the points made by @Adirio, a few more things to think about:

1. What is the data that the scheduler passes to the Pod-Splitor?
1. How does the design fit within the scheduling cycle? Should a CRD go through all the scheduling algorithms? Should the created pods go through all the algorithms too?

[2019-10-09 14:15] zouyee commented on #83612
The processing logic is as follows
[code]
It’s a bit strange to delete all containers as unused

[2019-10-09 14:19] andrewsykim commented on #82923
/retitle AWS ELB LoadBalancer not being updated in v1.14.7

[2019-10-09 14:21] shanesiebken opened #83679 "SELinux Volumes not relabeled in 1.16, test coverage of volume relabeling is lacking"
**What happened**:
After upgrading from kubelet 1.15 -> 1.16, volumes are no longer relabeled as container_file_t for selinux, causing most pods to fail.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
* Run a kubernetes cluster on 1.15.[0-3].
* Create a pod with a secret, configmap, or with provisioned storage (ebs-csi-driver).
* Find that file

[2019-10-09 14:22] shanesiebken commented on #83679
/sig storage

[2019-10-09 15:02] liggitt commented on #83651
Can you give more details about why it can't make progress? I expected one of the following paths if the client lists at `rv=10,limit=100`:
* rv=10 is not compacted and current: all is well
* rv=10 is not compacted, behind current, but there are no watch events for that resource after rv=10:
  * client lists, gets content, starts watch at rv=10, gets no watch events, eventually watch drops, client

[2019-10-09 15:06] evillgenius75 opened #83683 "1.17 Release Notes: “Known Issues”"
This issue is a bucket placeholder for collaborating on the "Known Issues" additions for the 1.17 Release Notes. If you know of issues or API changes that are going out in 1.17, please comment here so that we can coordinate incorporating information about these changes in the Release Notes.

/assign @cartyc @evillgenius75 @bridgetkromhout

/sig release
/milestone v1.17

[2019-10-09 15:07] shanesiebken commented on #83679
@kubernetes/sig-storage-bugs

[2019-10-09 15:12] serathius commented on #83356
Hey Cong, I can take a look.

[2019-10-09 15:21] #83177 closed

[2019-10-09 15:23] liggitt commented on #83675
If you're referring to https://kubernetes.io/docs/reference/access-authn-authz/rbac/#permissive-rbac-permissions, you can remove that with `kubectl delete clusterrolebinding permissive-binding`

Be aware that that any components relying on permissions granted via that binding will immediate receive forbidden errors.

/close

[2019-10-09 15:23] #83675 closed

[2019-10-09 15:51] notpad commented on #83634
/remove-help

[2019-10-09 15:51] notpad commented on #83637
/remove-help

[2019-10-09 15:52] notpad commented on #83635
/unassign

[2019-10-09 15:52] notpad commented on #83629
/remove-help

[2019-10-09 16:10] n-raymond commented on #73056
Hi everyone !

I am having the same issue using `kafka-console-consumer` tool (e.g. A java program that shows messages incomming from a kafka queue). After a while where the program shows nothing on standard output (no more messages), `kubectl exec` exits with following code 0.

A precision that might interest you : Whereas `kubectl exec` has quit, the process `kafka-console-consumer` was still ru

[2019-10-09 16:25] vkovelkar commented on #83675
thanks

[2019-10-09 16:27] ahg-g commented on #83635
/assign

[2019-10-09 16:27] ahg-g commented on #83635
/remove-help

[2019-10-09 16:45] kfox1111 commented on #75378
yes, it is unfortunately. Your trying to tie together several constructs that weren't intended to be used together, so there are no established communication/code paths that can easily handle that.

I think you can get close by writing an ephemeral csi driver, minus the pv part.

If you really want the pv part, you would need a full blown csi driver as only they have all the hooks needed from kube

[2019-10-09 16:57] dashpole commented on #83560
@derekwaynecarr sorry I didn't get to this... It is all green now, so I think we can close.

[2019-10-09 17:18] liggitt commented on #83669
the serving certificate used constrains available ciphers. I would guess that you are using certificates with different algorithms or key strengths in your apiserver and kubelet installation.

See https://gist.github.com/liggitt/86f21c35770178131f72e9154fde56c3 for an example of the same invocation supporting different ciphers based on the server cert/key.

[code]

/close

[2019-10-09 17:18] #83669 closed

[2019-10-09 17:18] ahg-g opened #83687 "[migration phase 1] Make scheduler cache, volume binder and listers available when registering default plugins"
**What would you like to be added**:

Plump through handlers, such as scheduler cache, volume binder among others to NewDefaultRegistry.

**Why is this needed**:

This is needed register factories for Plugins that need to instantiate predicates/priorities.

/sig scheduling
/assign

[2019-10-09 17:27] tsuna commented on #73056
I can confirm that in my case too when this happened the command was left running inside the container as well.

[2019-10-09 17:28] ahg-g commented on #83687
/cc @k82cn @Huang-Wei

[2019-10-09 17:45] stevebail opened #83688 "Why automatic setting for spec.containers[].resources.requests.cpu?"
**What happened**:

I installed a Pod spec (manifest) with the following CPU resource information:
spec.containers[].resources.requests.cpu: unspecified
spec.containers[].resources.limits.cpu: 500m

k8s created a Pod (or a number of replicas) with the following setting:
spec.containers[].resources.requests.cpu: 500m
spec.containers[].resources.limits.cpu: 500m

**What you expected to happen**:

Wh

[2019-10-09 17:49] davidz627 opened #83689 "Storage DriverInfo has redundant fields `MaxSize` and `SupportedSizeRange`"
Since this refactor added `SupportedSizeRange`: https://github.com/kubernetes/kubernetes/pull/78306
We seem to have these duplicate fields where `SupportedSizeRange` is used in most places and `MaxSize` is only used in one specific spot.

`MaxSize` is currently only used here:
https://github.com/kubernetes/kubernetes/blob/b8b7c376edb62ce8be42cef3728112c5c71d9fa4/test/e2e/storage/testsuites/volume_

[2019-10-09 17:49] davidz627 commented on #83689
/sig storage
/cc @jsafrane @hoyho @msau42

[2019-10-09 17:51] davidz627 commented on #78880
/remove-lifecycle rotten

[2019-10-09 17:51] tedyu commented on #83689
[code]
+1

[2019-10-09 18:05] djbooya commented on #74850
Unfortunately, I'm running into the same issue with v1.16.1

[root@master01 ~]# K8IPRANGE=10.244.0.0/16 && kubeadm init --pod-network-cidr=${K8IPRANGE} --control-plane-endpoint "172.16.185.20:6443" --upload-certs
[init] Using Kubernetes version: v1.16.1
[preflight] Running pre-flight checks
        [WARNING Firewalld]: firewalld is active, please ensure ports [6443 10250] are open or your cluster

[2019-10-09 18:09] liggitt commented on #83651
spoke offline, debug output of the reflector in the failing test was at https://gist.github.com/jpbetz/f7b8660dec1eb073d304eb59fcee8ff6

this showed an unexpected 404 response to list calls:

need to dig into that response more and figure out the cause

@jpbetz also pointed out that when mixing requests that punch through the watch cache (like LIST calls with `limit=...&resourceVersion=...` params

[2019-10-09 18:21] rvakash opened #83691 "CSI cleans up MetaData file when MountDevice times out"
**What happened**:
MountDevice calls csi.NodeStageVolume and if the call times out the defer func() cleans up the MetaData file. If the call to stage eventually goes through and the mount succeeds, future call to MountDevice will bail out since the directory is already mounted and it will return success without creating the meta files and thus causing the future UnmountDevice to fail even before m

[2019-10-09 18:28] rvakash commented on #83691
/sig storage
/assign @jsafrane @saad-ali @vladimirvivien

[2019-10-09 18:31] jpbetz commented on #83651
Thanks for summarizing @liggitt

The test does delete the CRD being watched. I think this explains the "the server could not find the requested resource" responses (LIST CR after CRD is deleted returns 404).

I'll test having the reflector handle `410 Gone` watch responses by relisting with RV="".

[2019-10-09 18:59] shuaipeng123 commented on #76069
@vishnukraj1111 Hi, so how do you fix this problem?

[2019-10-09 19:02] liggitt commented on #83375
/sig auth

[2019-10-09 19:08] msau42 opened #83693 "Failing test: [sig-storage] In-tree Volumes [Driver: local][LocalVolumeType: block] [Testpattern: Pre-provisioned PV (block volmode)] disruptive[Disruptive] Should test that pv used in a pod that is force deleted while the kubelet is down cleans up when the kubelet returns."
**Which jobs are failing**:

**Which test(s) are failing**:
[sig-storage] In-tree Volumes [Driver: local][LocalVolumeType: block] [Testpattern: Pre-provisioned PV (block volmode)] disruptive[Disruptive] Should test that pv used in a pod that is force deleted while the kubelet is down cleans up when the kubelet returns.

**Since when has it been failing**:
10/8/19

**Testgrid link**:
https://k8s-te

[2019-10-09 19:10] msau42 commented on #83691
This is probably the same issue as https://github.com/kubernetes/kubernetes/issues/82190
/assign @gnufied

[2019-10-09 19:32] REBELinBLUE commented on #52345
@aisengard did you ever find a solution to this? We hit exactly the same issue today, we have an initContainer to read some secret data from vault and write it to an `emptyDir` volume which is shared between the `initContainer` and the first container in the pod. The first container reads this file when executing the command and then deletes it so no one can enter the pod and read the file; but if

[2019-10-09 19:46] evillgenius75 commented on #83683
/milestone v1.17

[2019-10-09 19:50] evillgenius75 commented on #83683
/kind feature

[2019-10-09 19:51] caesarxuchao commented on #83332
@rtheis when you said "discovery failure loop", were you saying the [aggregator](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go#L331) repeatedly setting the "FailedDiscoveryCheck", or is there another component suffered discovery failure?

Also what's the impact to the end user?

[2019-10-09 19:52] caesarxuchao commented on #83332
cc @logicalhan since its metrics related

[2019-10-09 20:09] BenTheElder commented on #83594
/close

[2019-10-09 20:09] #83594 closed

[2019-10-09 20:12] rajatkuthiala commented on #75607
@pulpbill Did you find a solution for this issue? My cluster was configured using kops and worked fine for the past 10 months with autoscaling. Yesterday my cluster tried to scale up but the nodes would not join and I was getting the same errors.

[2019-10-09 20:17] NerdyGroupAffiliate commented on #81938
I was going an issue with this.

When I did

      dnsPolicy: None
      dnsConfig:
        nameservers:
          - 8.8.8.8

In my deployment file

Then in the CoreDNS
I forwared 8.8.8.8  to Microsoft's name servers of 168.63.129.16.

The probes seemed to work.

Try this https://www.danielstechblog.io/setting-custom-upstream-nameservers-for-coredns-in-azure-kubernetes-service/

I am still working

[2019-10-09 20:20] cbf123 opened #83695 "topology manager not behaving as expected in 1.16"
**What happened**:
I think I'm seeing a problem with the topology manager.  I have two numa nodes, 22 cores per node.  Kubelet has "--cpu-manager-policy=static --topology-manager-policy=single-numa-node ", and when I try to create a simple pod with 3 cpus and 500Mi of RAM in the guaranteed class it fails.  Describing the pod gives "Resources cannot be allocated with Topology Locality", but I know

[2019-10-09 20:21] cbf123 commented on #83695
@kubernetes/sig-node-bugs

[2019-10-09 20:22] cbf123 commented on #83695
oops, I thought the "close" meant the comment, not the whole issue. :)

[2019-10-09 20:34] ngaya-ll commented on #78607
Okay, I guess I'll keep this issue alive then.

/remove-lifecycle rotten

[2019-10-09 21:04] rtheis commented on #83332
@caesarxuchao The aggregator is repeatedly setting "FailedDiscoveryCheck".  The typical user impact when metrics server API service isn't available is

1. `kubectl top` fails
2. horizontal pod autoscaling doesn't work

In one extreme situation, we've seen all service endpoints disappear which effectively took out the entire cluster network.

[2019-10-09 21:13] borball commented on #81289
I saw lots of mismatchings (in version 1.15.4, probably other newer version as well) between help information/documents and the real commands output, for example:

Command 'kubectl help create' printed '--record' is supported as an option, but when we ran 'kubectl create deployment nginx --image=nginx --record ', it gave an error like 'Error: unknown flag: --record'.

Also, the 'CHANGE-CAUSE' in o

[2019-10-09 21:15] klueska commented on #83695
I was able to reproduce this issue.

The following (new) uint test in `topology_manager_tests.go` fails unexpectedly:
[code]

With any policy other than the `SingleNumaNodePolicy()` this test passes.

This is due to 3 factors:
1) The CPUManager is the only hint provider passing actual valid hints `[{01 true}, {10 true}, {11 false}]`
2)The devicemanager passes `nil` back as its hints, resulting in

[2019-10-09 21:48] 2rs2ts commented on #72320
/remove-lifecycle rotten

[2019-10-09 21:50] 2rs2ts commented on #53331
It was probably not fixed, people just ghost on their own issues :/

[2019-10-09 22:06] mrunalp commented on #83695
@rphillips @zvonkonk ptal

[2019-10-09 23:06] mikedanese commented on #83375
LRUs are not good at scaling and sharding has some major pitfalls as @lavalamp  pointed out. I would suggest that we try to drop the LRU cache for successful authentication results in the token cache.

The main benefit of using an LRU here is bound cache size. Entries in the token cache have a fast expiration independent of the LRU policy. The records probably take up O(2kb) (guesstimate) of memor

[2019-10-09 23:17] mikedanese commented on #83375
If off by default is not enough, more reasoning why the failed cache is not super useful. It might help with an accidental DoS but it doesn't prevent anything actively malicious DoS. I think we can focus our improvements on the success cache.

[2019-10-09 23:19] EmanekaT opened #83698 "HPA scales up when it is expected to scale down."
**What happened**:
[code]
[code]
[code]
HPA scales up until it hits maxReplica.  2 out of 3 pods are running but not ready.
I thought it could be due to missing metrics but the behavior is the same without missing metrics. It behaves the same way even if I set metric value to be 0 for unready pods.

**What you expected to happen**:
Since the usage ratio is 5128m / 53, I expect it to scale down.

*

[2019-10-09 23:21] EmanekaT commented on #83698
/sig autoscaling

[2019-10-10 00:03] oomichi commented on #78605
/remove-lifecycle rotten

[2019-10-10 00:05] EmanekaT commented on #83698
Oh it seems to be the same issue as #78761

[2019-10-10 01:16] njuicsgz commented on #81775
@lbernail thanks for resp.

the tcpdump show me that the established connections will not be deleted as below

this is normal case
[code]

this is compare case
[code]

[2019-10-10 02:06] daixiang0 commented on #83488
@liggitt any input?

[2019-10-10 02:41] dannymk opened #83700 "DaemonSets disallowed by cluster policy"
**What happened**:
Attempted to create a DaemonSets and getting the error:

The DaemonSet "calico-node" is invalid: spec.template.spec.containers[0].securityContext.privileged: Forbidden: disallowed by cluster policy

**What you expected to happen**:

We should be able to create the DaemonSets without this issue.

**How to reproduce it (as minimally and precisely as possible)**:

Just did a node u

[2019-10-10 02:45] dannymk commented on #83700
@kubernetes/sig-auth

[2019-10-10 03:32] mattjmcnaughton commented on #81657
I'll take `test/e2e/lifecycle` and `test/e2e/lifecycle/bootstrap`.

[2019-10-10 04:17] ajax-2 opened #83703 "apiserver_request_count is very big in prometheus"
# Event
Yesterday, my apiserver always crashed because "the number of
"secrets" sent by kubelet to apiserver" was very large and was not released."
# Enviorment
kubernetes: 1.8
# picture
![image](https://user-images.githubusercontent.com/29370146/66538540-5dce6400-eb57-11e9-8aa1-d6881e8be35d.png)

[2019-10-10 04:23] ajax-2 commented on #83703
@kubernetes/sig-kubelet-request-count

[2019-10-10 05:09] krmayankk commented on #72944
/remove-lifecycle rotten

[2019-10-10 05:24] haoqing0110 commented on #83669
@liggitt Thanks! Helps a lot!

[2019-10-10 05:34] pohly commented on #82507
For reference: the API change was requested and discussed in https://github.com/kubernetes/kubernetes/issues/75222.

[2019-10-10 05:35] pohly commented on #75222
/close

This is implemented: https://github.com/kubernetes/kubernetes/blob/6348200c92dec8848e55552f3e8039b3da95bd91/staging/src/k8s.io/api/storage/v1beta1/types.go#L306-L319

[2019-10-10 05:35] #75222 closed

[2019-10-10 05:58] pan87232494 commented on #52757
tried to install k8s 1.14 via kubespray 2.10, this plugin not working.

2019/10/10 05:37:54 Starting to serve on /var/lib/kubelet/device-plugins/nvidia.sock
2019/10/10 05:37:54 Registered device plugin with Kubelet
2019/10/10 05:41:36 ! Try to allocate devices [GPU-def4c886-13cb-53ef-9517-f8d07cfac6d3 GPU-21f11e51-117e-243f-388f-626e217f9b7d]
2019/10/10 05:41:36 ! Try to allocate devices [GPU-def4

[2019-10-10 06:08] yqwang-ms opened #83705 "Pod container restarted even if Pod restartPolicy=Never"
**What happened**:
Pod container restarted even if Pod restartPolicy=Never.

**What you expected to happen**:
Pod container should not be restarted if Pod restartPolicy=Never.

**How to reproduce it (as minimally and precisely as possible)**:
Bring down a node suddenly may reproduce it, but not steady.

**Anything else we need to know?**:
I have berifly checked the kubelet code, seems at least for

[2019-10-10 06:12] yqwang-ms commented on #83705
/sig node
/sig api-machinery
Causes real issue in at https://github.com/microsoft/pai/pull/3695

[2019-10-10 06:18] yue9944882 commented on #83705
/remove-sig api-machinery

[2019-10-10 06:30] whalecold commented on #70010
/remove-lifecycle stale

[2019-10-10 06:47] draveness commented on #83554
Can we prioritize #82072 which adds context to the scheduling framework API? The process of converting existing predicates and priorities could cause a lot of rebasing...

[2019-10-10 06:51] xiaoanyunfei opened #83708 "kubelet creates a new pod when vim opens staticPodPath file"
**What happened**:
when opening staticPodPath file with vim,  such as /etc/kubernetes/manifests/kube-scheduler.yaml, kubelet gets file change
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/config/file_linux.go#L93

-  delete file : `/etc/kubernetes/manifests/4913`(It's always 4913, I don't know why)
-  /etc/kubernetes/manifests/kube-scheduler.yaml > /etc/kubernetes/manifests/kube

[2019-10-10 07:13] cofyc commented on #83635
/assign

[2019-10-10 07:39] zouyee commented on #83668
/assign

[2019-10-10 07:42] zouyee commented on #83708
Please check if there are temporary files or new files under the directory `/etc/kubernetes/manifests/` after performing `vim` operation.

[2019-10-10 07:46] serathius commented on #83356
@brancz

[2019-10-10 08:03] mcginne commented on #72878
@xueweiz I also hit this running Kube 1.14.7.

Output from the commands you mentioned showed:
[code]

I then ran the 2nd command against a few of them:
[code]
And:
[code]

Not sure if this is relevant, but I also noticed this message in kern.log several hours after I was seeing the problem:
[code]

[2019-10-10 08:21] 13567436138 opened #83715 "jekins-jnlp-slave always pending and terminating,why"
[code]

[2019-10-10 08:21] holmesb commented on #55713
@Huang-Wei, Since daemonset pods remain Running throughout a node failure that is not due to OS\K8s crash, this can cause problems when the node returns.  For example, MetalLB DS pods publish routes to the BGP router at startup, but only infrequently thereafter.  If already "Running", they take a long time to publish routes, which can cause network problems and downtime.  If I manually restart the

[2019-10-10 08:21] 13567436138 commented on #83715
/sig pod

[2019-10-10 08:22] iArtur commented on #44273
For my expirience, this error is caused by a lack of internet connection on the cluster.

[2019-10-10 08:44] xueweiz commented on #72878
Hi @mcginne  thanks for sharing these output! And they do confirm my theory. Basically this is not a Kubernetes bug, but a Linux kernel bug.

Yes you are right about the kernel log message, it is the culprit. It's a kernel bug caused by https://github.com/torvalds/linux/commit/2e8e19226398db8265a8e675fcc0118b9e80c9e8

I proposed this patch to fix it: https://lore.kernel.org/patchwork/patch/1135155

[2019-10-10 08:54] Icedroid commented on #78068
I meet the same problem.

[2019-10-10 08:55] xueweiz commented on #72878
Hi @mcginne , sorry, I took a closer look, now I'm not that sure you got affected by the bug I mentioned.
Can you show me the detail of your "OCI runtime create" failure message? Does it look like the one below?

`OCI runtime create failed: container_linux.go:348: starting container process caused "process_linux.go:402: container init caused \"process_linux.go:367: setting cgroup config for procHo

[2019-10-10 08:56] #82160 closed

[2019-10-10 09:02] mcginne commented on #72878
Yes, here is mine - looks very similar:
[code]

[2019-10-10 09:08] niklun commented on #82402
@laddng thanks. I've made a comment on that PR because I don't understand why it should be rejected.

[2019-10-10 09:32] AnkitLogics opened #83719 "Test Issue"

[2019-10-10 10:03] itsecforu opened #83721 "How to force delete namespace?"
Hello! I got this error:
[code]

or:
[code]

[2019-10-10 10:15] itsecforu commented on #83721
Do I need to use `kubectl label pod namepod` ?

[2019-10-10 10:16] zhouya0 commented on #83721
use `kubectl delete namespace/rook-ceph` instead

[2019-10-10 10:18] aojea commented on #83606
@vishal49naik49 what CNI are you using? are you using kube-proxy? ipvs or iptables?

[2019-10-10 10:47] brancz commented on #69676
/remove-lifecycle stale

[2019-10-10 10:55] xiaoanyunfei commented on #83708
No  temporary files or new files

[2019-10-10 11:05] jessehu commented on #77723
Hi @yue9944882 @lavalamp, is the a default or recommended configuration for EventRateLimit?

The official doc https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#eventratelimit only provides this sample config:

[2019-10-10 11:16] #83721 closed

[2019-10-10 11:18] pascalgn commented on #76657
I had a look at a possible implementation. I did not create a PR yet, because the relevant files are in `legacy-cloud-providers` and the [README](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/README.md) said there should only be bug fixes, no new features.

---

In azure_loadbalancer.go, there is some logic which would lead to the load balancer crea

[2019-10-10 11:20] zanetworker opened #83723 "Undo traffic shaping config when annotations are removed"
**What would you like to be added**:
Since https://github.com/kubernetes/kubernetes/pull/63194/files traffic shaping has been supported in the form of annotation. However, there is no way to undo the config, if the annotations are removed for example, then the config would still be there.

My expectation is that if the ingress/egress annotations are removed, then the traffic shaping config on the

[2019-10-10 11:34] hprateek43 commented on #83687
@ahg-g I can pick up this issue if I get a little more context around the solution

[2019-10-10 11:40] FengyunPan2 opened #83724 "Distinguish between ' and " about shell script"
**What happened**:
1.Origin:
+ /root/pfy/kubernetes/_output/bin/ginkgo /root/pfy/kubernetes/_output/bin/e2e.test -- --kubeconfig=/root/.kube/config --ginkgo.flakeAttempts=1 --host=https://192.168.110.121:6443 --provider=kubemark --gce-project= --gce-zone= --gce-region= --gce-multizone=false --gke-cluster= --kube-master=192.168.110.121 --cluster-tag= --cloud-config-file= --repo-root=/root/pfy/kuber

[2019-10-10 11:41] FengyunPan2 commented on #83724
/sig scalability

[2019-10-10 11:48] yqwang-ms commented on #83705
This caused another issue:
**kubelet cannot complete a Pod due to ApiServer "Forbidden: may not be transitioned to non-terminated state"**

**For Pod UID 488528f2-e2d8-11e9-9c63-000d3ab408a6**

**Note the containerID in below kubelet log is be61c146814dbf20d2c38fcbb2dc43505054232d710530175aae04084e26e398:**
`Oct 10 11:02:44 paigcr-a-gpu-1113 bash[4880]: W1010 11:02:44.661306    5037 status_manager

[2019-10-10 11:50] sryabkov commented on #77258
When I tried running the above one-liner provided by @palashgoel7 (although on a different type of object), I got the following error
`Error from server (UnsupportedMediaType): the body of the request was in an unknown format - accepted media types include: application/json-patch+json, application/merge-patch+json`

The solution was to add `--type='merge'`. The final command was
[code]

[2019-10-10 11:50] yqwang-ms opened #83725 "kubelet cannot complete a Pod due to ApiServer "Forbidden: may not be transitioned to non-terminated state""
**What happened**:
For detail, please check: https://github.com/kubernetes/kubernetes/issues/83705#issuecomment-540534187

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
`on-premise
`
- OS (e.g:

[2019-10-10 11:51] yqwang-ms commented on #83725
/sig api-machinery

[2019-10-10 11:51] FengyunPan2 commented on #83724
/close

[2019-10-10 11:51] #83724 closed

[2019-10-10 11:55] yqwang-ms commented on #83725
/sig node
Because it may be caused by https://github.com/kubernetes/kubernetes/issues/83705

[2019-10-10 11:55] yqwang-ms commented on #83705
/sig api-machinery
Because it may cause #83725

[2019-10-10 12:17] ahg-g commented on #83687
Thanks, I already sent a PR.

[2019-10-10 12:29] liggitt commented on #83725
/remove-sig api-machinery

[2019-10-10 12:30] yue9944882 commented on #77723
hi, i dont think there's a default limit configuration for this admission-controller (as far as i know)

[2019-10-10 12:49] nerzhul commented on #83028
thanks for your time. Can we have a backport on 1.15 too please ?

[2019-10-10 12:54] antoinne85 commented on #45509
@dwarburt Looks like you're correct. There are still some obvious gaps in my K8S knowledge.

[2019-10-10 12:55] hokiegeek2 commented on #38532
/remove-lifecycle stale

[2019-10-10 13:00] liggitt commented on #83028
unfortunately the transitive dependencies make a backport to 1.15 prohibitive. see https://github.com/kubernetes/kubernetes/issues/72102#issuecomment-526645978

[2019-10-10 13:03] #35056 closed

[2019-10-10 13:07] jhaagmans opened #83728 "Kubernetes CronJob runs very old job after upgrade"
**Background info**:
We're using Kubernetes CronJobs to periodically run commands on a clone of our production apps. These have `restartPolicy: Never` and `startingDeadlineSeconds: 60` set to ensure jobs never start 60 seconds past their original schedule. When we deploy new code to any of our environments, we update the `image` in the template. Newly scheduled pods then run on the new version of

[2019-10-10 13:07] liggitt commented on #83708
see https://github.com/kubernetes/kubernetes/pull/64880

creating a second manifest file containing an identical pod definition in the static pod directory is not recommended

[2019-10-10 13:09] liggitt commented on #83708
vim creates a temporary file in the directory which the kubelet can observe and (if fast enough) read and process. see https://stackoverflow.com/questions/1636297/how-to-change-the-folder-path-for-swp-files-in-vim for controlling the location where these temporary files are created.

[2019-10-10 13:10] liggitt commented on #83708
see the kubelet log indicating the temporary file: `/etc/kubernetes/manifests/kube-scheduler.yaml~`

/close

[2019-10-10 13:10] #83708 closed

[2019-10-10 13:13] zouyee commented on #83719
/triage needs-information

[2019-10-10 13:13] zouyee commented on #83719
/sig node

[2019-10-10 13:18] liggitt commented on #83703
prior to 1.14, kubelets would poll the API server for updates to secrets/configmaps they have mounted into pods, in order to know whether the contents have changed and they need to update the mounted data. it is expected that the request count will increase over time.

in 1.14+, kubelets watch for changes, which is more efficient.

/close

[2019-10-10 13:18] #83703 closed

[2019-10-10 13:23] liggitt commented on #83700
do you have your API server manifest? That error would indicate that `--allow-privileged` is set to false in your API server, which is not the kubeadm default:

https://github.com/kubernetes/kubernetes/blob/release-1.15/cmd/kubeadm/app/phases/controlplane/manifests.go#L152

[2019-10-10 13:23] liggitt commented on #83700
/sig cluster-lifecycle

[2019-10-10 13:25] liggitt commented on #83725
possibly related: https://github.com/kubernetes/kubernetes/pull/77870

[2019-10-10 13:38] liggitt commented on #83688
/remove-sig api-machinery
/sig node
/remove-kind bug
/kind support

[2019-10-10 13:42] MarkRx commented on #37086
/remove-lifecycle rotten

[2019-10-10 13:57] mattjmcnaughton commented on #81657
Ahhh whoops, I searched for `test/integration/...` full file name, but not the `*`.

[2019-10-10 13:58] mattjmcnaughton commented on #81657
Apologies @palnabarun ! Well, I only got to one or two so still plently left. Lmk if you want to divide them up, or if you are working on all of them, that's great too.

[2019-10-10 14:00] draveness commented on #82715
/close

[2019-10-10 14:00] #82715 closed

[2019-10-10 14:01] draveness commented on #81214
/unassign

The "Increase scheduling backoff queue max duration" part was merged into the master.

[2019-10-10 14:04] draveness commented on #79215
/remove-lifecycle stale
/lifecycle frozon

[2019-10-10 14:04] cthakar commented on #78068
same issue
`kubectl logs kube-scheduler-minikube -n kube-system
I1010 14:00:08.021055       1 serving.go:319] Generated self-signed cert in-memory
I1010 14:00:09.121940       1 server.go:143] Version: v1.16.0
I1010 14:00:09.172179       1 defaults.go:91] TaintNodesByCondition is enabled, PodToleratesNodeTaints predicate is mandatory
W1010 14:00:09.177807       1 authorization.go:47] Authorization

[2019-10-10 14:05] #80667 closed

[2019-10-10 14:06] pisymbol commented on #83636
Updated issue description for clarity.

[2019-10-10 14:07] draveness commented on #82180
/unassign
/assign @Huang-Wei

Since @Huang-Wei is working on the API version change.

[2019-10-10 14:09] zouyee commented on #83668
Unable to reproduce the problem. The taint was transient and has been removed after removed the extra file.

[2019-10-10 14:15] maxstr commented on #78948
/remove-lifecycle stale

Still want to PR this, just looking to iron a few things out on my end

[2019-10-10 14:16] neolit123 commented on #73933
/remove-lifecycle stale

[2019-10-10 14:21] dannymk commented on #83700
[code]

[2019-10-10 14:27] liggitt commented on #83700
yeah, your manifest doesn't have `--allow-privileged=true`. did you customize it? cc @kubernetes/sig-cluster-lifecycle for feedback on what could lead to this scenario

[2019-10-10 14:27] matte21 opened #83732 "k8s.io/client-go/tools/cache/Reflector's paging is duplicated"
**What happened**:
I was studying the code in https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/client-go/tools/cache and noticed that the paginated list reflectors do against the API server to initially populate informer's caches is doubly paginated. In fact, the reflector manually performs pagination: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/c

[2019-10-10 14:27] matte21 commented on #83732
/assign matte21

[2019-10-10 14:27] matte21 commented on #83732
/sig api-machinery

[2019-10-10 14:29] yuyulei opened #83733 "Statefulset controller supports to update pods parallelly"
**What would you like to be added**:
Now Statefulset PodManagementPolicy [detail](https://github.com/kubernetes/kubernetes/blob/4fb75e2f0d9a36c47edcf65f89bb92f20274ee56/pkg/apis/apps/types.go#L50) only defines the policy creating/deleting pods. I hope we can expand the policy, it also can be the policy for updating pods.

If PodManagementPolicy is "OrderedReady", meaning update pod one by one.

If

[2019-10-10 14:30] yuyulei commented on #83733
/sigs apps

[2019-10-10 15:14] claudiubelu opened #83739 "tests: Windows packet fragmentation issue"
**Which jobs are failing**:

sig-windows#flannel-overlay-windows-master

**Which test(s) are failing**:

    [sig-api-machinery] AdmissionWebhook [Privileged:ClusterAdmin] should deny crd creation [Conformance]

**Since when has it been failing**:

Unknown.

**Testgrid link**:

https://testgrid.k8s.io/sig-windows#flannel-overlay-windows-master

**Reason for failure**:

There seems to be an issue r

[2019-10-10 15:17] tedyu commented on #69010
/remove-lifecycle stale

[2019-10-10 15:29] moebius87 commented on #64168
I can confirm that it is not yet possible to access the fields:
  - status.podIP
  - status.hostIP
  - spec.nodeName

tested on AKS running 1.14.6

[2019-10-10 15:29] moebius87 commented on #64168
/remove-lifecycle rotten

[2019-10-10 15:36] syamsundarreddy78 opened #83742 "CNI error and networking plugin"
Failed create pod sandbox.
Error syncing pod
the pods are not able to deploy on the nodes with above error

[2019-10-10 15:37] syamsundarreddy78 commented on #83742
/sig network

[2019-10-10 15:43] gnufied commented on #83679
Is selinux enabled for docker?  Can you paster output of :

```docker info | grep 'Security Options'```

also `docker version`

[2019-10-10 15:44] gnufied commented on #83679
Also please paste YAML of one or more pods which are affected by this. Thank you!

[2019-10-10 16:08] shanesiebken commented on #83679
Security Options -
[code]
Perhaps of note here, we do *not* change the  /etc/docker/seccomp.json installed by docker, and `rpm --verify docker` confirms we don't make changes to that file.

Docker version:
[code]
Client and server blocks match.

Pod yaml incoming

[2019-10-10 16:14] shanesiebken commented on #83679
To clarify, do you want a runnable "minimum reproducible" pod.yaml, or is it more informational? If the latter, I have a pod that breaks and I'm working on the yaml for that, removing sensitive information, etc. If the former, I'll need to spend a few minutes getting a minimal reproduction with busybox or somesuch.

[2019-10-10 17:03] johnbelamaric commented on #73497
/remove-lifecycle rotten
/lifecycle frozen

[2019-10-10 17:07] #65816 closed

[2019-10-10 17:25] answer1991 opened #83745 "Authn is NOT Cheap, Provide a Request Limiter Filter before Authn"
### Authn is NOT Cheap

Authn is NOT cheap, both x509, ServiceAccount, Webhook and some other authn methods. Especially, before the #80465 merged, we found our API Server do ServiceAccount authn cost more then 5min when it's on heavy load, the logs like this:

[code]

With [max-inflight Filter](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/filters/max

[2019-10-10 17:26] answer1991 commented on #83745
/sig scalability
/sig api-machinery
/sig auth

[2019-10-10 17:27] dannymk commented on #83700
Nope, I used a standard kubeadm setup.

[2019-10-10 17:34] neolit123 commented on #83700
there is no process in kubeadm that would exclude the `--allow-privileged=true` flag from the kubeadm static pod manifest for the api-server. the flag is hardcoded.

please double check your seup.

/priority awaiting-more-evidence

[2019-10-10 17:37] answer1991 commented on #83745
We can set [max-inflight Filter](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/filters/maxinflight.go) before authn filter, except one thing, max-inflight  should not limit the masters' request.

[2019-10-10 17:54] aojea commented on #83606
You have to check your CNI configuration and try to make your CNI plugin work,
try to verify that iptables is working correctly too

/triage support

[2019-10-10 18:11] liggitt commented on #83732
cc @jpbetz

[2019-10-10 18:15] JohnStrunk commented on #69699
We found that CSI volumes were disproportionately affected by this problem. A fix that brings CSI into line with in-tree volumes is here: #83747

[2019-10-10 18:19] munnerz commented on #69836
We have a design document that describes our own 'CertificateRequest' resource type, and how it can be used to build "out-of-tree" issuers: https://github.com/jetstack/cert-manager/blob/master/design/20190708.certificate-request-crd.md

You can see the actual API type definition for our resource here: https://github.com/jetstack/cert-manager/blob/d474a5f0b3d5832695571eaa49e6587e1b8e9f19/pkg/apis/c

[2019-10-10 18:32] albertmichaelj commented on #82131
@Jeffwan has this been released in Spark 2.4 yet? I've seen the issue [here](https://issues.apache.org/jira/browse/SPARK-28921) for this fix in 2.4.5, but 2.4.5 has not been released yet. Is there a way to get the submitting of spark jobs working on 2.4.4?

Sorry for necro-ing this, but I really need to figure out a way (using release software) to be able to submit spark jobs on an AWS EKS cluster

[2019-10-10 18:45] tmattausch commented on #83715
I think you may ran into this issue: https://github.com/fabric8io/kubernetes-client/pull/1669

kubernetes client / jenkins plugin needs to be updated depending on your cluster version

[2019-10-10 18:47] jpbetz commented on #83732
/assign

[2019-10-10 18:51] jpbetz commented on #83732
There is a complication with a semantic difference between how paginated and unpaginated lists are executed that matters for the stale read issue we are trying to fix.  I’m mobile but will explain in detail shortly.  Let’s hold off on removing the pager from the reflector until we discuss.

[2019-10-10 19:09] #73407 closed

[2019-10-10 19:09] #76435 closed

[2019-10-10 19:22] mgoltzsche commented on #72944
FYI: [cert-manager](https://github.com/jetstack/cert-manager)'s [cainjector injects](https://docs.cert-manager.io/en/latest/getting-started/webhook.html#cainjector) the `caBundle` on Mutating/ValidatingWebhooks or APIServices annotated with `certmanager.k8s.io/inject-ca-from=<NAMESPACE>/<CERTIFICATE>`.

[2019-10-10 19:47] rpeng commented on #78890
We're running into this bug too, is it possible to get this prioritized?

[2019-10-10 19:47] codenrhoden commented on #64953
/remove-lifecycle stale

[2019-10-10 20:06] jpbetz commented on #83732
https://github.com/kubernetes/kubernetes/pull/83520 will transition reflectors from using resourceVersion="0" to using either resourceVersion="" or resourceVersion="{non-zero resourceVersion}" to prevent reflectors from "going back in time. This change should be correct regardless of if the reflector does pagination directly.

[2019-10-10 20:10] jpbetz commented on #83732
This might not be as bad as it looks at first glance. What will happen here is that a limit will be set on the options passed from the outer pager to the inner. If the inner page returns a response without a continue, the outer pager will know it got a full response and will not do any paging.

If we did decide remove the pager in the reflector, we need to be very careful to understand the impact

[2019-10-10 20:16] roycaihw commented on #83628
/remove-sig api-machinery

[2019-10-10 20:17] rezmont commented on #68712
This sound reasonable.

I'm still unclear when `status.conditions` can contain more than one element. Also what does a `status.conditions[0].status` `Unknown` or `False` mean?

[2019-10-10 20:18] yliaog commented on #83705
possibly related: #77870

/remove-sig api-machinery

[2019-10-10 20:19] manderson23 commented on #78759
/remove-lifecycle rotten

[2019-10-10 20:19] roycaihw commented on #83745
/assign @aaron-prindle

[2019-10-10 20:36] jpbetz commented on #83732
FWIW, I'm in favor of keeping the paging in the reflector. It basically says we want paging from reflectors regardless of how the ListerWatcher is implemented, and I don't see anything wrong with that. Interested in what others think.

[2019-10-10 20:41] #83183 closed

[2019-10-10 20:42] #83028 closed

[2019-10-10 20:42] #83550 closed

[2019-10-10 20:43] tedyu commented on #83732
[code]
That's my understanding as well

[2019-10-10 20:55] EmanekaT commented on #83698
I checked that v1.15.3 does not have the hpa fixes. I'll upgrade my k8s to the lastest version and try again.

[2019-10-10 21:15] dcvtruong commented on #69725
Getting repeated error message of 'NodeNotReady' in kube-controller-manager in 1.13.10
[code]

[2019-10-10 21:15] liggitt commented on #81134
other examples:
[code]

[2019-10-10 21:18] RochesterinNYC commented on #78918
/remove-lifecycle rotten

[2019-10-10 21:27] liggitt commented on #83745
note that https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190228-priority-and-fairness.md assumes availability of authentication-provided info:

[2019-10-10 21:33] liggitt commented on #83745
what version of the API server was that on? I'm curious what you see with the current state of the API server, with these three fixes especially:
1. API object lookup by the auth layer uses informer-fed caches first, and only falls back to live lookup if the cache lookup fails (https://github.com/kubernetes/kubernetes/pull/71816, merged in 1.14)
2. Thread context to client so that rate limiter tok

[2019-10-10 21:40] cheftako commented on #83316
I0926 12:39:42.660] I0926 12:35:26.532235   10594 trace.go:116] Trace[1804745705]: "Reflector ListAndWatch" name:k8s.io/kubernetes/test/utils/pod_store.go:56 (started: 2019-09-26 12:33:26.531728309 +0000 UTC m=+1132.795092692) (total time: 2m0.000301191s):

[2019-10-10 21:47] cheftako commented on #83316
Seems like the test is timing out creating the pods and reflector to watch those pods.

[2019-10-10 22:03] cheftako commented on #83316
Looks like the section of code taking a long time is https://github.com/kubernetes/kubernetes/blob/8f968c41d29c9fb2a322825b0e2c19ed7e589966/staging/src/k8s.io/client-go/tools/cache/reflector.go#L194

[2019-10-10 23:09] cheftako commented on #83316
Checked KAS log and seeing about 7000 requests of the form

I1010 12:26:59.668321       1 httplog.go:90] GET /api/v1/nodes/gce-scale-cluster-minion-group-1-4p2m:10250/proxy/stats/summary: (9.753712ms) 200 [e2e.test/v1.17.0 (linux/amd64) kubernetes/3edbc6a -- [k8s.io] [sig-node] kubelet [k8s.io] [sig-node] Clean up pods on node kubelet should be able to delete 10 pods per node in 1m0s. 146.148.73.1

[2019-10-10 23:27] #82445 closed

[2019-10-10 23:41] roycaihw commented on #83316
I think this is related:

https://github.com/kubernetes/kubernetes/blob/948870b5840add1ba4068e3d27d54ea353839992/test/e2e/node/kubelet.go#L277-L283

[2019-10-10 23:54] roycaihw commented on #83316
/assign

[2019-10-11 00:34] msau42 commented on #77758
/reopen
/remove-lifecycle rotten

[2019-10-11 00:56] McCoyAle commented on #25251
Hey, @timoreimann @errordeveloper This one has been open for some time. Is there anything that is needed?

[2019-10-11 01:00] McCoyAle commented on #34627
@wojtek-t @containscafeine Does the merged pull request resolve this issue?

[2019-10-11 01:08] zouyee commented on #81134
Is the remaining part to be modified  finished by #81158 or another one?
/assign

[2019-10-11 01:11] Jeffwan commented on #82131
@albertmichaelj Hey, it's not released yet. What you can do is you can download Spark source code and build a v2.4.5-SNAPSHOT version with the fix.

Spark release cycle is different, it normally takes > 3 months.

[2019-10-11 01:15] McCoyAle commented on #44701
@wojtek-t Is there any update on this issue? Or anything needed? It looks like there was a merge but the lifecycle frozen afterwards. Just doing some triaging.

[2019-10-11 01:17] jmillikin-stripe commented on #7452
Has there been any progress on this since May? The use of SPDY for `kubectl exec` continues to be a pain point because it's no longer supported by common network proxies (nginx, haproxy, envoy, and so on).

Naively, I would expect something like interactive sessions to be implemented on top of gRPC or another thin layer on the normal HTTP/2 framing. Websockets, CONNECT, and other ways to get a raw

[2019-10-11 01:19] McCoyAle commented on #49466
/remove-lifecycle stale

Due to PR #79334

[2019-10-11 01:44] ZP-AlwaysWin commented on #83719
This log is too obscure, there is not much valuable information, you can provide some more logs, or Yaml file is sented.

[2019-10-11 01:48] qiyongxiao commented on #78965
@php-coder 谢谢。我已经解决了这个问题。如果您看不懂中文，请使用谷歌浏览器的翻译功能。我们中国人看你们发的英文帖子都需要翻译，这个也难不倒你

[2019-10-11 02:00] #83412 closed

[2019-10-11 02:00] #83687 closed

[2019-10-11 02:00] #83695 closed

[2019-10-11 02:03] hex108 commented on #82385
Just sent a PR https://github.com/kubernetes/kubernetes/pull/83756 for it. Please help review it.

[2019-10-11 02:25] yuyulei commented on #83733
cc @kow3ns @smarterclayton @janetkuo

[2019-10-11 02:55] liggitt commented on #81134
The additional ones can be addressed in a second PR

[2019-10-11 03:43] answer1991 commented on #83745
@liggitt thanks for your reply.

Yes, we should consider priority-and-fairness can provide some ability to limit requests before authn, according User-Agent or other some information but not authn info.

For now, we use v1.12 version, but we have cherry-picked these PRs except the first one.  I just worry about SA authn performance in extremely bad situation. Besides x509 and ServiceAccount authn,

[2019-10-11 03:55] yue9944882 commented on #83745
it reminds me of CVE-2018-16875. is the fix picked (v1.12.5+ by #72072)?

[2019-10-11 04:02] answer1991 commented on #83745
@yue9944882

Sure, we use golang 1.12.10 to compile our API Server.

[2019-10-11 04:04] answer1991 commented on #83745
I had updated our user story.

[2019-10-11 05:43] aepshteyn commented on #28369
Why is this issue closed?  It still appears to be a problem for many people (including myself).  Every time I try to run `kubectl logs -f`, the output stops after about 10 minutes.

I'm using the latest version of `kubectl` that I installed today with `gcloud components install kubectl`

My environment looks like this (if it makes any difference):

[code]

[code]

[2019-10-11 05:49] gayathrimenathtcl commented on #83304
@liggitt It is a custom crd. I am using this to support one of my application

[2019-10-11 05:49] #83316 closed

[2019-10-11 05:55] zouyee commented on #83742
/triage needs-information
/remove-triage support

[2019-10-11 05:58] nikhita opened #83761 "checksum mismatch for github.com/coreos/etcd@v3.3.16+incompatible"
The publishing bot is broken right now (https://github.com/kubernetes/kubernetes/issues/56876) because of a checksum mismatch while running `go mod download`:

[code]

I also get this error locally while running `go mod download` on k/k.

etcd was updated to 3.3.16 in https://github.com/kubernetes/kubernetes/pull/83735.

From a quick glance, I'm not completely sure what the problem is since the CI

[2019-10-11 06:10] jpbetz commented on #83761
There was an issue with the release and we had to retag it (https://github.com/etcd-io/etcd/issues/11230).

[2019-10-11 06:12] nikhita commented on #83761
/assign

I'll send a PR shortly

[2019-10-11 06:25] wojtek-t commented on #34627
It was a mitigation, not the fix.
The real fix is to switch leader election to be based on Lease object instead of Endpoints or ConfiMap.
So basically https://github.com/kubernetes/kubernetes/issues/80289

[2019-10-11 06:35] gongguan commented on #78797
@tioxy Um.. I have done it and just ask for a confirm to deprecate it. By the way, you shouldn't only deprecate the flag.

[2019-10-11 07:05] #83531 closed

[2019-10-11 07:12] YesterdayxD commented on #28272
maybe the 256Mi can't limit shmsize actually.
The actual size is half of memory size of node where the pod is running on.
Right?

[2019-10-11 07:35] YangKeao commented on #53188
As mentioned in doc, security context is still not configurable. Every ephemeral container runs with `CAP_SYS_ADMIN` and `CAP_SYS_PTRACE`, but I need to set up an EphemeralContainer with `CAP_NET_ADMIN`.

Will this feature (configurable security context) be added into EphemeralContainer? Or how could I create an ephemeral container with `CAP_NET_ADMIN`?

[2019-10-11 07:58] odinuge commented on #83183
Looks like the CI jobs are cleaning up now!
![Screenshot from 2019-10-11 09-51-49](https://user-images.githubusercontent.com/1467188/66634215-e5c27580-ec0c-11e9-9902-10d111890823.png)

Finally down to single digit number test failures, and away from the 30+ :smile:

[2019-10-11 08:00] anthonma opened #83765 "kubectl get -o custom-columns "Unable to decode server response""
**What happened**:
I've deployed something with helm on my kubernetes cluster.
The guide of the software I've deployed says that helm creates a pod, a service and an ingress.
But when I try to get them via
[code]
I get the following output:
[code]
So I assume that the ingress was not created properly or not at all.

**What you expected to happen**:
An output similar to this:
[code]

**How to repro

[2019-10-11 08:05] anthonma commented on #83765
/sig cli

[2019-10-11 08:08] aepshteyn commented on #77856
@fenglixa any updates since that pull request you referenced?

Just ran into the same problem today:

[code]
Produces output covering the range full range between
1. `2019-10-11T07:23:21.016517977Z` (about 700ms earlier than the given target)
2. `2019-10-11T07:31:14.64916482Z`

-------
I'm using the latest version of `kubectl` that's currently available via `gcloud components install kubectl`:
[co

[2019-10-11 08:14] gaopeiliang commented on #76325
also find in Kubernetes v1.10.11

![image](https://user-images.githubusercontent.com/11383058/66635483-ea555100-ec41-11e9-82e3-269efb235b0f.png)

![image](https://user-images.githubusercontent.com/11383058/66635619-2ee0ec80-ec42-11e9-8b1e-94e4e7a9e41a.png)

[2019-10-11 08:24] anthonma commented on #83765
It seems the command given by the guid I'm following is wrong, because I figured out that the ingress was created properly.

[2019-10-11 08:24] #83765 closed

[2019-10-11 08:44] premsonbaby commented on #59888
Same issue in 1.15, either there is a bug in the HPA, or there is some type of understanding mistake due to the message.

**In simple terms my**
  minReplicas: 1
  maxReplicas: 10

**based on**
  metrics:
  - type: Resource
    resource:
      name: cpu
      targetAverageUtilization: 50

My expectation is HPA will increase or decrease the number of pods between the range of 1 to 10 to keep the av

[2019-10-11 09:14] #83715 closed

[2019-10-11 09:15] 13567436138 commented on #83600
[code]

[2019-10-11 09:27] kengan opened #83767 "Why the memory limit call the node down"
I have deploy a java application in a pod, I set the memory limit is 8G. But the application use much memory than 8G and call the node down.

[2019-10-11 09:35] erik-wramner commented on #64137
We also have this issue in AKS. Would be nice with a more permanent solution. Until then I guess we'll implement one of the workarounds - thanks for posting them!

[2019-10-11 09:36] xichengliudui commented on #83767
Please tell us the steps.

[2019-10-11 09:38] xichengliudui commented on #83742
Can you tell us your steps? In addition, if there is a problem with CNI, please go to https://github.com/containernetworking/cni/issues here

[2019-10-11 09:48] mm4tt opened #83768 "Failed test: ci-kubernetes-e2e-gce-scale-performance #1182340570157158400"
**Which jobs are failing**: ci-kubernetes-e2e-gce-scale-performance #1182340570157158400

**Which test(s) are failing**:  ClusterLoaderV2

**Since when has it been failing**: 2019-10-10 (1 run)

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance

**Reason for failure**:

There were some internal errors when creating MIGs:
[code]

Most likely due to

[2019-10-11 09:48] mm4tt commented on #83768
/assign

[2019-10-11 09:48] kengan commented on #83767
/sig/community/question

I deploy a Java  application in a pod
This application open 10 thread to receive message from rock-mq. After receiving message from mq, each thread down a pdf file in pod  and use Apache tike to analyze the content.
I deploy 32 pods, each pod set limit of 8G memory and 5 cpu.
I found that when the application useed up 8G memory the pod was restarted. After many times resta

[2019-10-11 09:49] kengan commented on #83767
/sig /community/question

[2019-10-11 09:50] kengan commented on #83767
sig /community/question

[2019-10-11 09:51] ahg-g opened #83769 "[migration phase 1] ImageLocality as Score plugin"
**What would you like to be added**:

Add a Score plugin that calls into ImageLocality priority, example #83601

**Why is this needed**:

Part of  #83554

/sig scheduling
/help
/priority important-soon

[2019-10-11 09:51] kengan commented on #83767
/sig community/question

[2019-10-11 09:52] draveness commented on #83769
/assign

[2019-10-11 09:53] draveness commented on #83769
/remove-help

[2019-10-11 10:10] ahg-g opened #83770 "[migration phase 1] NodePreferAvoidPods as Score plugin"
**What would you like to be added**:

Add a Score plugin that calls into NodePreferAvoidPods priority, example #83601. Score Plugin name should be the same.

**Why is this needed**:

Part of  #83554

/sig scheduling
/help
/priority important-soon

[2019-10-11 10:11] kengan commented on #83767
I deploy a Java applicatioin in k8s
This java application open 10 thread to receive message from RockMq. After receiveing message, each thread down a pdf file and analyze the content with apache tike
I deploy 32 pod, each pod set limit 8G memory and  5Cpu
After using up 8 G memory , the pod auto restart. After many time restarting, the node which the pod  at also down. I want to know why the pod r

[2019-10-11 10:12] draveness commented on #83770
/assign
/remove-help

[2019-10-11 10:35] odinuge commented on #83600
Hmm,
That is strange.

What is the output of `kubectl describe pvc <your-pvc>`, and what versions of k8s, rook & ceph are you using?

Also, your `StorageClass` is called `rook-block2` while the pvc from the top post use a storageClass called `rook-block`.

[2019-10-11 10:37] ialidzhikov opened #83771 "Kubernetes v1.13.11 CustomResourceDefinition deletionTimestamp is updated on each DELETE request"
**What happened**:
With Kubernetes v1.13.x CustomResourceDefinition `deletionTimestamp` is updated to time.Now() on each delete request.

**What you expected to happen**:
I would expected the `deletionTimestamp` to be set to the time.Now() of the first delete request and subsequent delete requests to do not modify `.metadata.deletionTimestamp`.

**How to reproduce it (as minimally and precisely as

[2019-10-11 10:39] ialidzhikov commented on #83771
/sig apimachinery

[2019-10-11 10:40] ialidzhikov commented on #83771
/sig api-machinery

[2019-10-11 10:51] kewenwang-ai commented on #82118
I think the atomic scheduling here means that Pods of CRD are scheduled without inserting other Pods that do not belong to this CRD, not even a single Pod, just like the Kube-Batch and gang-sheduling. Thus ensuring that these Pods scheduled either all succeed or none.

I understand that what you mean by "no value" is that the cluster resource state may change during this process. For example Pods

[2019-10-11 10:51] kewenwang-ai commented on #82118
Q1 : Only the CRD info, the extender could keep local cache consistent with the scheduler.

Q2: CRD only need to be split into pods through the split interface. and the returned pods will go through all the algorithms.

[2019-10-11 11:04] yue9944882 commented on #83771
/area custom-resources

[2019-10-11 11:06] cthakar commented on #78068
Issue has been resolved by starting minikube with more cpu and memory

[2019-10-11 11:13] soltysh opened #83774 "kubectl validation produce warnings when invoked non-interactively"
**What would you like to be added**:
Make `--validate=true` produce warning when invoked non-interactively, but still fail when invoked from terminal.

**Why is this needed**:
Currently `--validate` flag is by default set to true, and uses server-side openAPI definition to perform that validation. Unfortunately, in some cases that validation is either wrong, confusing or unable to bypass (see http

[2019-10-11 11:13] soltysh commented on #83774
/sig cli
/priority important-longterm

[2019-10-11 11:17] matte21 commented on #83732
Broadly speaking, the reflector's task is making sure that informer's caches eventually reflect the API server's content (i.e. etcd's). To that end, it issues a LIST and a WATCH, and for each object it receives it creates a delta and adds it to the deltaFIFO. On the basis of what's written above, it seems to me that the mechanics of how and whether to set up paging are a "low-level" implementation

[2019-10-11 11:17] Deepthidharwar opened #83775 "Pods error out with 'Topology Affinity Error' if resources and limits are not mentioned as part of the pod spec. This is after #83492"
**What happened**:

With the latest fix #83697 , which aims to resolve the issue of deploying pods with single-numa-node policy, it seems to have resulted in failure to deploy pods if the pod spec does not have resources and limits constraints. This is resulting in Kube-dns and other pods which do not have resource constraints mentioned fail to deploy due to Topology Affinity Error.
kube-system

[2019-10-11 11:25] #72051 closed

[2019-10-11 11:28] Deepthidharwar commented on #83775
@kubernetes/sig-node-bugs

[2019-10-11 11:29] yue9944882 commented on #83771
/remove-area custom-resources

cant reproduce on master branch, probably already fixed. and on v1.13.1, the issue applies to all graceful-deleting resources..

[2019-10-11 11:32] yue9944882 commented on #83771
it's fixed by #73138

[2019-10-11 11:33] matte21 commented on #83732
@jpbetz [this](https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/apiserver/pkg/storage/cacher) is the package you're referring to, right? Is it the only other place which would be affected? If so, one simple way of dealing with it would be the following:
1. Add a `PageSize` field to [cacherListerWatcher](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/

[2019-10-11 11:40] adelina-t commented on #83739
/cc @PatrickLang

[2019-10-11 11:41] ialidzhikov commented on #83771
Yep, for versions < v1.14 the `deletionTimestamp` is updated on each delete request.
Thank you @yue9944882 for digging in and finding the appropriate issue.

[2019-10-11 11:42] YangKeao commented on #82668
@markzhang0928 I need to set up a container with `NET_ADMIN`. However, ephemeral container doesn't provide configurable security context.

Maybe in most case `SYS_ADMIN` and `SYS_PTRACE` is enough for debugging, but in some situation when I want to debug with tc netem, I need the help with `NET_ADMIN`. (Sorry for complaining about this in comment area of many issues.)

[2019-10-11 11:45] Adirio commented on #82118
We were deinetely not talking about the same "atomic" concept. By atomic you can refer to two different things:

1. Either all pods are shceduled or none is.
2. The cluster state is unable to change since the snapshot is taken until the decission is made.

As we already agreed the second point will never be achived. The first part will be easily implemented with the `Permit` api. A plugin could ea

[2019-10-11 11:52] zvonkok commented on #83775
/cc @klueska @derekwaynecarr @lmdaly

[2019-10-11 12:07] AnkitLogics commented on #83719
Project YAML :

kind: Project
apiVersion: project.openshift.io/v1
metadata:
  name: o-trade
  selfLink: /apis/project.openshift.io/v1/projects/o-trade
  uid: 925e2549-ec1f-11e9-9294-060b8c12d11f
  resourceVersion: '48046487'
  creationTimestamp: '2019-10-11T12:06:35Z'
  annotations:
    openshift.io/description: ''
    openshift.io/display-name: o-trade
    openshift.io/requester: metadeepak1

[2019-10-11 12:07] AnkitLogics commented on #83719
Build POD YAML :
kind: Pod
apiVersion: v1
metadata:
  annotations:
    k8s.v1.cni.cncf.io/networks-status: |-
      [{
          "name": "openshift-sdn",
          "interface": "eth0",
          "ips": [
              "10.129.7.188"
          ],
          "default": true,
          "dns": {}
      }]
    kubernetes.io/limit-ranger: >-
      LimitRanger plugin set: cpu, memory request for container

[2019-10-11 12:09] AnkitLogics commented on #83719
I am using git repo : https://github.com/openshift/openshift-jee-sample.git

[2019-10-11 12:13] AnkitLogics commented on #83719
Hi @ZP-AlwaysWin
 I have added all YAML files,kindly check

[2019-10-11 12:16] ahg-g commented on #83769
Thanks Draven, I think the plugin name can stay the same "ImageLocality"

[2019-10-11 12:17] ahg-g commented on #83770
Thanks Draven, the plugin name can stay the same for this one as well NodePreferAvoidPods

[2019-10-11 12:17] #83631 closed

[2019-10-11 12:34] lmdaly commented on #83775
/assign

[2019-10-11 12:39] jkaniuk commented on #82751
Closing as it is not happening anymore

[2019-10-11 12:39] #82751 closed

[2019-10-11 12:44] jkaniuk commented on #82182
There is ongoing work on Priority and Fairness for API Server Requests:
https://github.com/kubernetes/enhancements/issues/1040
which should help with/fix the problem of apiserver not recovering under load.

The problem did not occur recently.

[2019-10-11 12:46] chen3961 commented on #71907
Same issue here. Version 1.15.
Anyone know how to fix it or explain the root cause?

[2019-10-11 13:00] alculquicondor commented on #82118
I would lean towards Option 1. The only changes to the scheduler would be a new gang-plugin, which we have already discussed before.
Although, I don't quite understand what you mean N+1 snapshots. Is this the number of different states at which a scheduling decision will be made?

[2019-10-11 13:12] ealebed commented on #82987
We have the same situation with ANY liveness command kind, but not with liveness HTTP request (!!!!!).

E.g., with
[code]
in logs:
[code]

or with:
[code]
in log:
[code]

but with:
[code]

all works fine

[2019-10-11 13:15] lmdaly commented on #83775
@Deepthidharwar thanks for alerting us to the issue. Can you try the PR linked?

[2019-10-11 13:15] cliveseldon opened #83778 "x-kubernetes-int-or-string causes panic in apiserver 1.16.1"
**What happened**:
API server panics handling requests for a CRD with OpenAPI validation with `x-kubernetes-int-or-string`

**What you expected to happen**:
CRD is applied successfully.

**How to reproduce it (as minimally and precisely as possible)**:
kind create cluster --image kindest/node:v1.16.1
then kubectl apply:

[code]

Partial logs from API server:

[code]

**Anything else we need to kno

[2019-10-11 13:15] ealebed commented on #82987
[code]

[code]
[code]

[2019-10-11 13:20] cliveseldon commented on #83778
/sig api-machinery

[2019-10-11 13:37] alculquicondor commented on #80372
/assign @draveness

I think you will need to address this before your PR.

My vote would be for `pkg/scheduler/listers` (just dropping the `internal` initial suggestion)

[2019-10-11 13:38] liggitt commented on #83778
/cc @sttts

[2019-10-11 13:49] matte21 commented on #83732
cc @MikeSpreitzer

[2019-10-11 13:50] liggitt commented on #83771
Thanks for the report. This is a duplicate of https://github.com/kubernetes/kubernetes/issues/73098

/close

[2019-10-11 13:50] #83771 closed

[2019-10-11 13:54] liggitt commented on #83745
User-Agent, etc, are not trustworthy sources to use to prioritize traffic

the first fix was the one that would improve service account authentication the most

[2019-10-11 13:59] militarpancho opened #83781 "VolumeMount MountPath does not accept colon character"
**What happened**:

Using volumeMounts with a mountPath to a folder  with a colon character is not allowed, in spite of the fact that docker allows doing it via --mount syntax

**What you expected to happen**:

A mountPath should contain this type of characters

**How to reproduce it (as minimally and precisely as possible)**:

Reproducing it is possible puting a colon in the mountPath field of a

[2019-10-11 14:06] Adirio commented on #82118
Yes, kind of. The number of different time instants when a split or scheduling decission will be made, as he was worried about this aspect, as they will have potentially different free resources in each time.

[2019-10-11 14:12] alculquicondor commented on #82118
If we have the permit plugin, and assuming that there are no other schedulers, the changes are more likely to be removed pods and, thus, more resources. Sure, the split might not be "optimal" anymore, but at least the pods should fit.

[2019-10-11 14:23] klueska commented on #83775
My guess is that this issue was introduced after https://github.com/kubernetes/kubernetes/pull/83492 landed.

Before that, best-effort pods weren't even being considered by the TopologyManager, and the logic for admitting vs. not admitting was skipped.

Which means that we need this fix for this on master, but do not need it on the 1.16 branch.

[2019-10-11 14:27] tedyu commented on #83778
[code]
It seems that s.AnyOf was referencing some invalid address.

[2019-10-11 14:27] ahg-g opened #83782 "Remove deprecated scheduler metrics"
Cleanup deprecated scheduler metrics: https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/metrics/metrics.go

/sig scheduling
/assign @liu-cong

[2019-10-11 14:29] #83399 closed

[2019-10-11 14:29] #83761 closed

[2019-10-11 14:34] klueska commented on #83775
@zvonkok can you verify if it works as expected in the release-1.16 branch. this would verify my claim that it broke with the introduction of #83492 not the fix from #83697

[2019-10-11 14:42] dannymk commented on #83700
I can verify that the specific flag  "- --allow-privileged=true" was not on any of my three api servers.  I was an early adopter and upgraded the systems as the versions progressed.  Can this be the issue?  Somehow the flag got missed in an update?  If this is the case or at this point it does not really matter.  Can I just add that flag to the three api servers and restart them?  Will this fix th

[2019-10-11 14:43] ahg-g opened #83783 "Support dynamically set log level for kube-scheduler"
**What would you like to be added**:
Support dynamically set log level for kube-scheduler,  #68780 is blocked on node controller approval, but we can move forward with a scheduler only change.

/sig scheduling

[2019-10-11 14:43] ahg-g commented on #83783
/help

[2019-10-11 14:44] zvonkok commented on #83775
@Deepthidharwar PTAL

[2019-10-11 14:46] tioxy commented on #78797
Great! No problems @gongguan
I'll follow this issue and check your Pull Request to learn more about this desprecation scenario :+1:

[2019-10-11 14:47] mrkm4ntr commented on #83783
/assign
/remove-help

[2019-10-11 14:51] fahman opened #83786 "ceph rbd resize fails because wrong provisioner is being used"
**What happened**:
Our cluster is set with ceph.com/rbd provisioner (image: quay.io/external_storage/rbd-provisioner:v2.1.1-k8s1.11) instead of default provisioner kubernetes.io/rbd. When resizing cephrbd PVCs, resizing fail.

**What you expected to happen**: Resizing succeeds when changing the size of storage.

**How to reproduce it (as minimally and precisely as possible)**:
1. Download and adju

[2019-10-11 14:56] fahman commented on #83786
/sig storage

[2019-10-11 14:57] liggitt commented on #83304
can you provide the snippet of the admission controller yaml that contains the `caBundle` line, for debugging?

[2019-10-11 15:01] ahg-g commented on #83782
/help
/good-first-issue

[2019-10-11 15:05] liggitt commented on #83778
yes, which is very strange, given s was dereferenced earlier in the same method:

https://github.com/kubernetes/kubernetes/blob/d647ddbd755faf07169599a625faf302ffc34458/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/unfold.go#L28-L38

@sttts is investigating

[2019-10-11 15:11] draveness commented on #80372
+1 on `pkg/scheduler/listers`, I'll send the PR to unblock my #83670.

[2019-10-11 15:14] tedyu commented on #83778
x-kubernetes-int-or-string is exercised in staging/src/k8s.io/apiextensions-apiserver/test/integration/validation_test.go

Not sure what caused panic in Clive's case.

[2019-10-11 15:26] icy commented on #79365
I got the same issue with my setup below

* eks 1.14
* metrics-server-0.3.5
* all pods metrics can be seen from the api (`kubectl get --raw "/apis/metrics.k8s.io/v1beta1/pods`)
* `kubectl top pods` shows expected result
* `hpa` failed to get cpu metrics

[code]

[2019-10-11 15:26] liggitt commented on #83778
@sttts reproduced and has a fix

[2019-10-11 15:44] mrkm4ntr opened #83788 "Merging unreserve plugin into reserve plugin of scheduling framework"
**What would you like to be changed**:
Merge `UnreservePlugin` into `ReservePlugin`. Make `ReservePlugin` have `Reserve` and `Unreserve` methods.

**Why is this needed**:
In the current implementation, if one of reserve plugins fails, the plugins already reserved will not be unreserved.  I tried to fix this in #83557.
There are 2 options to solve this problem.
1. Call all unreserve plugins when so

[2019-10-11 15:45] mrkm4ntr commented on #83788
/assign

[2019-10-11 15:58] MikeSpreitzer commented on #83745
Yes, there is a tension here between wanting to make decisions early and wanting to make decisions based on authenticated information.  There is value in doing some filtering before authentication, but that does not remove the value of also making decisions based on authenticated information.  For the early filtering, don't want to filter as early and cheaply as possible?  I suspect we need to go

[2019-10-11 16:10] liggitt commented on #83745
It would be good to gather evidence of current service account authentication cost that makes it prohibitive to place before the priority-and-fairness filter. See also https://github.com/kubernetes/kubernetes/issues/83375

[2019-10-11 16:15] answer1991 commented on #83745
@liggitt

Yes, thanks for your

Using User-Agent to limit requests is NOT prioritize traffic, but as a emergency strategy to protect API Server when it's in extremely bad situation.

And the filter User-Agent limiter can cooperate well with other limiters by authn info, such as max-inflight and priority-and-fairness, but NOT replace them.

[2019-10-11 16:20] liggitt commented on #83745
The methods I can think of that rate limit specific callers based on untrusted/unverified data (like User-Agent) would allow a bad actor to starve a client that should be high priority or unlimited by flooding requests with a matching User-Agent.

[2019-10-11 16:20] answer1991 commented on #83745
Yes, I mean, these two limiter can cooperate well.

And using User-Agent to limit requests is really a good emergency strategy to protect API Server when it's in extremely bad situation, as it's cheap. And we can decide immediately which User-Agent should be limited through our Grafana monitor graph.

[2019-10-11 16:26] answer1991 commented on #83745
In a production env, when our API Server is going to crash, the first thing we do is limit the specified User-Agent requests, and we get which User-Agents should be limited from our Grafana monitor graph.

Actually, client-go User-Agent information is very illustrative and it's can be trusted.

[2019-10-11 16:29] #83635 closed

[2019-10-11 16:42] gnufied commented on #83679
I need full pod's yaml that is not working. i.e - generated full YAML.

[2019-10-11 16:52] pietdaniel commented on #83336
We've seen this issue as a bug of old `containerd` versions. We couldn't delete a pod using an image which has been garbage collected. Force deleting the container on the host has resolved this. Not sure if this helps your use case though.

[2019-10-11 16:57] hashdelta commented on #65933
I am experiencing the same problems. I am running K8s 1.16, I can see the volumes created and initialized with the requested disk size but the PVC remains as pending. Is it safe to assume vsphere integration is completely broken at this point?

[2019-10-11 17:09] timoreimann opened #83791 "kube-proxy node IP / bind address does not fall back to 127.0.0.1 anymore in iptables mode when node is missing from API"
**What happened**:

Using Kubernetes 1.16.1, I started kube-proxy in iptables mode as a static pod on a master node. The master node was intentionally (and permanently) not available in the API as a Node object.

kube-proxy started up and terminated soon after because it failed to [fetch the Node from the API](https://github.com/kubernetes/kubernetes/blob/v1.16.1/pkg/util/node/node.go#L112-L138) (

[2019-10-11 17:09] Adirio commented on #82118
There may be other pods scheduled in the mid time too.

[2019-10-11 17:16] piotr-ce commented on #81999
+1

[2019-10-11 17:31] #72975 closed

[2019-10-11 17:41] dheerajinganti commented on #58927
I see System UUID set in the System Info of Node is matching with product_uuid and product_serial, however it does not match with ProvideID of the node. Due to this, i am getting no VM found error and node is unable to mound the volume. below are output for provider id and SystemUUID.

all nodes were working fine but since last week, I started getting no VM found error only for two worker nodes. H

[2019-10-11 17:53] #83464 closed

[2019-10-11 18:03] militarpancho commented on #83781
@kubernetes/sig-storage-bugs

[2019-10-11 18:17] neolit123 commented on #83700
the flag was added in 2018. and the `kubeadm upgrade` should have included it if missing.
you might have to add it manually, this will cause a restart automatically and fix the permission issue.

[2019-10-11 18:26] p8ul commented on #50295
I experience this error after switching between projects & login. I solved the issue by running this command

```gcloud container clusters get-credentials --region your-region gke-us-east1-01```

[2019-10-11 19:03] daanemanz commented on #81042
We're seeing the same issue happening on kubelet 1.15.4 on Ubuntu 18.04:

[code]

**System info**
[code]

Please let me know if more info is required.

[2019-10-11 19:22] jpbetz commented on #83732
I don’t feel strongly about this. If consensus is that we should simplify to pagination in listerWatchers and someone wants to own making sure we find all usages where we don’t already have pagination in the listerWatcher and get those updated, and sort out the impact to external codebases arhat import reflectors, I’d be happy to review.

[2019-10-11 19:23] ivan4th opened #83794 "kubectl drain can crash if apiserver connection breaks during delete/evict"
**What happened**:
kubectl drain crashed with panic when apiserver connection disappeared
while there were pods that couldn't be evicted/deleted
(sorry, the problem is a bit hard to reproduce and the log was lost)

**What you expected to happen**:
kubectl drain should exit with a proper error message

**How to reproduce it (as minimally and precisely as possible)**:
Try kubectl drain multiple time

[2019-10-11 19:27] neolit123 commented on #83794
/priority important-longterm
/sig cli

[2019-10-11 19:35] loqutus commented on #83782
/assign

[2019-10-11 20:28] SandeepPissay commented on #83584
/assign @BaluDontu

[2019-10-11 20:29] SandeepPissay commented on #80040
/assign @SandeepPissay

[2019-10-11 20:30] SandeepPissay commented on #79340
/assign @BaluDontu

[2019-10-11 20:32] SandeepPissay commented on #78336
/assign @subramanian-neelakantan

This is as per design and need to be considered as a feature request.

[2019-10-11 20:34] SandeepPissay commented on #78336
/remove-lifecycle rotten

[2019-10-11 20:34] SandeepPissay commented on #78336
/assign @subramanian-neelakantan

[2019-10-11 20:36] SandeepPissay commented on #78336
@subramanian-neelakantan can you take this issue?

[2019-10-11 20:37] shalini-b commented on #78154
/assign @shalini-b

[2019-10-11 20:38] SandeepPissay commented on #78024
/assign @chethanv28

[2019-10-11 20:38] chethanv28 commented on #78024
/assign @chethanv28

[2019-10-11 20:40] SandeepPissay commented on #77535
/assign @subramanian-neelakantan

[2019-10-11 20:40] RaunakShah commented on #77678
/assign @RaunakShah

[2019-10-11 20:41] Pure-AdamuKaapan opened #83803 "FlexVol not finding plugin on restart"
**What happened**:
We installed our storage driver (https://github.com/purestorage/helm-charts/tree/master/pure-k8s-plugin) in a cluster (reproduced on both 1.14 and 1.15), and the plugin was loaded correctly. Upon rebooting a node, kubelet is throwing "no volume plugin matched" errors even though the file is still present and unmodified in the correct directory.

**What you expected to happen**:

[2019-10-11 20:41] Pure-AdamuKaapan commented on #83803
/sig storage

[2019-10-11 20:46] SandeepPissay commented on #75040
@eleanorrigby Can you check if PKS supports SPBM policies in storage class?

[2019-10-11 20:48] SandeepPissay commented on #75738
@divyenpatel can you root cause the issue in the code?

[2019-10-11 20:51] SandeepPissay commented on #71502
/close

Closing this as there is no issue in the code, but its a deployment issue.

[2019-10-11 20:51] #71502 closed

[2019-10-11 20:54] SandeepPissay commented on #65933
@BaluDontu Can you look into this?

[2019-10-11 21:03] stevebail commented on #83688
I found the following sentence in the API reference documentation:
If  Requests is omitted for a container, it defaults to Limits if that is explictly specified.

IMO, such statement or implementation decision does not make sense, at least for CPU.

[2019-10-11 21:10] Vislor commented on #65933
I was experiencing the exact same thing as @hashdelta as well -- I could see the volumes created successfully in the vSphere data store but the PVC's never came out of pending.  I fixed it (in our case) by correcting the permissions on the account used by Kubernetes to access vSphere.

Since our installation had been working since at least 1.9 with no changes in our vSphere installation I assume t

[2019-10-11 21:57] adampl commented on #72393
Are there plans to resolve this issue?

[2019-10-11 22:15] matte21 opened #83810 "SharedIndexInformers can miss notifications"
**What happened**:
I did a review of https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/client-go/tools/cache and found out a case where a SharedIndexInformer can miss a notification. Follows an example scenario where this could happen.

1) A SharedIndexInformer is running, and its reflector is WATCHing.
2) A delete notification for an API object _X_ with namespaced name _N1_

[2019-10-11 22:15] matte21 commented on #83810
/assign

[2019-10-11 22:15] matte21 commented on #83810
/sig api-machinery

[2019-10-11 22:16] matte21 commented on #83810
cc @MikeSpreitzer @liggitt @jpbetz

[2019-10-11 22:20] Huang-Wei commented on #83782
@nitishkumar71 would you mind leaving this @liu-cong or @loqutus , as we should follow the first-come-first-assign rule.

[2019-10-11 22:42] lukeschlather commented on #20473
So this has been hanging around for 3 years. Is there actually guidance here? Shouldn't zero-downtime deploys should work out of the box without tweaking arcane config options to paper over race conditions?

[2019-10-11 22:48] BenTheElder commented on #78946
/remove-lifecycle rotten
/lifecycle frozen

[2019-10-11 22:59] marcus-jameson commented on #47733
I'm still having this issue with kubernetes 1.14.5 on EC2. My digging thus far suggests that with [the implementation of service-controller in 1.14.5](https://github.com/kubernetes/kubernetes/blob/v1.14.5/pkg/controller/service/service_controller.go#L285) that for every update to a service not of type LoadBalancer [the cloud provider's GetLoadBalancer method](https://github.com/kubernetes/legacy-c

[2019-10-11 23:17] jpbetz commented on #83810
cc @wojtek-t

[2019-10-11 23:19] jpbetz commented on #83810
xref https://github.com/kubernetes/kubernetes/issues/27004, https://github.com/kubernetes/kubernetes/pull/27435

[2019-10-11 23:20] liggitt commented on #83810
cc @deads2k

[2019-10-11 23:20] #81281 closed

[2019-10-11 23:20] #78918 closed

[2019-10-11 23:52] stockhausenj commented on #47733
Why are we doing it this way here: https://github.com/kubernetes/kubernetes/blob/v1.14.5/pkg/controller/service/service_controller.go#L284-L285

When we have previous state and can just check to see if the previous service type was of type LoadBalancer?

This example makes a lot of sense: https://github.com/kubernetes/kubernetes/blob/v1.14.5/pkg/controller/service/service_controller.go#L444-L447

[2019-10-12 00:06] 13567436138 commented on #83600
Also, your StorageClass is called rook-block2 while the pvc from the top post use a storageClass called rook-block.
I create another storage class.rook-block is the previous one
[code]
[code]
[code]
I have 1.16.0 and 1.15.0 node
image: rook/rook:master

[2019-10-12 00:33] kengan commented on #83767
/sig community/question

[2019-10-12 00:35] kengan commented on #83767
/sig node

[2019-10-12 01:04] #83778 closed

[2019-10-12 01:27] xiaoanyunfei commented on #83803
The related PR has pended for a long time
https://github.com/kubernetes/kubernetes/pull/80973

[2019-10-12 01:28] dannymk commented on #83700
OK, I added the flag to the three API servers and I am passed that error.  Thank you very much for the help.

[2019-10-12 01:28] #83700 closed

[2019-10-12 01:31] danielqsj commented on #83782
@ahg-g @Huang-Wei sig-instrumentation has a PR to clean all deprecated metrics in v1.18 which include scheduler part: https://github.com/kubernetes/kubernetes/pull/76496.

[2019-10-12 01:32] danielqsj commented on #83782
/sig instrumentation

[2019-10-12 01:36] danielqsj commented on #83782
cc @brancz

[2019-10-12 02:08] wgliang commented on #83782
/remove-help
/remove-good-first-issue

[2019-10-12 02:13] aescobar-icc commented on #50295
thanks @p8ul, That solved my issue.

[2019-10-12 02:16] markzhang0928 commented on #82668
The enhancement of this KEP is still in alpha feature, so it will be satisfied when it's in Beta I suppose.

[2019-10-12 02:44] PengTaoWW commented on #83311
https://github.com/kubernetes/kubernetes/pull/83751 look like fixed

[2019-10-12 03:57] yqwang-ms opened #83826 "Should use Pod creation time instead of its last queued time to sort Pod for the same priority"
**What happened**:
Currently (after https://github.com/kubernetes/kubernetes/pull/73700), we use the **Pod last queued time by scheduler** to sort Pod for the same priority:
https://github.com/kubernetes/kubernetes/blob/0599ca2bcfcae7d702f95284f3c2e2c2978c7772/pkg/scheduler/internal/queue/scheduling_queue.go#L717-L721
https://github.com/kubernetes/kubernetes/blob/0599ca2bcfcae7d702f95284f3c2e2c297

[2019-10-12 04:02] yqwang-ms commented on #83826
/sig scheduling
@bsalamat and @denkensk PTAL

[2019-10-12 04:03] yqwang-ms commented on #83826
/assign @bsalamat
/assign @denkensk

[2019-10-12 04:11] zouyee commented on #83781
Please supply manifest to reproduce the issue.

[2019-10-12 04:16] #83629 closed

[2019-10-12 04:42] #77858 closed

[2019-10-12 04:42] #76598 closed

[2019-10-12 06:27] AmberLJC commented on #78845
Can anyone summarize how to solve this. Still get the same error
THX

[2019-10-12 06:44] #76305 closed

[2019-10-12 07:25] yqwang-ms commented on #83826
@liu-cong I see you just refreshed the Pod timestamp.
https://github.com/kubernetes/kubernetes/blob/0599ca2bcfcae7d702f95284f3c2e2c2978c7772/pkg/scheduler/internal/queue/scheduling_queue.go#L361-L362
So, the Pod timestamp is no longer immutable after init, and no longer means:
https://github.com/kubernetes/kubernetes/blob/0599ca2bcfcae7d702f95284f3c2e2c2978c7772/pkg/scheduler/framework/v1alpha1/in

[2019-10-12 07:34] tangbo-sh commented on #82118
Option 1 is not atomic scheduling(or gang-scheduling), essentially reserving resources until all Pods scheduling of CRD  succeeds or timeout fails. This may result in Pods of CRD scheduling failures or the split scheme is not optimal. So the issue problem is not resolved.

[2019-10-12 07:50] yue9944882 commented on #83810
/cc

[2019-10-12 07:59] jfrabaute commented on #7452
Hi,

I have a setup where proxying `kubectl exec` is working, using openresty.
It should also work with nginx as openresty is based on nginx.

The relevant config in the `location` block to have `kubectl exec` proxied correctly is to add:

[code]

this is the `listen` line in the `server` block:
[code]
The proxied kube-apiserver is running `1.14.3-gke.11` (so, k8s 1.14 with gke modified version).

[2019-10-12 08:04] yue9944882 commented on #83732
/cc

[2019-10-12 08:16] draveness opened #83829 "Performance concern for the graduation of ScheduleDaemonSetPods"
## Overview

The primary concern for graduating ScheduleDaemonSetPods to the stable version could be the overhead to the scheduler and the startup time of daemons. After we graduate this feature, the scheduler would select nodes for all of the DaemonSet pods, which may cause a lot of pods with NodeAffinity to be processed.

This issue is used for tracking the potential performance problem after th

[2019-10-12 08:24] cofyc commented on #83788
or skip if the plugin does not implement the Unreserve interface? we can assume the plugin does not need to unreserve if it does not implement it.

[2019-10-12 08:42] #78953 closed

[2019-10-12 08:56] rajatjindal commented on #83266
I implemented a quick kubectl plugin for doing this. It can be downloaded from here: https://github.com/rajatjindal/kubectl-delete-in-allns

Please refrain from using this in production as it can potentially cause disruption. There are currently no safe-guards for preventing delete from system namespaces (PR welcome)

[2019-10-12 09:02] hex108 commented on #83788
Yes, it could be an option.

[2019-10-12 09:44] k82cn commented on #83554
@ahg-g , should we highlight the required items in 1.17?

[2019-10-12 09:49] k82cn commented on #83668
please help to share the log of controller and kubelet.

[2019-10-12 10:14] #83633 closed

[2019-10-12 10:49] yqwang-ms opened #83834 "PriorityQueue is far from FIFO for same priority Pods"
**What happened**:
By default, user Pod does not have priority (i.e. 0), so usually, they expect **FIFO** scheduling in this case, even if for the PriorityQueue.
In this requirement, the **FI(First In)** should be determined by the [Pod CreationTimestamp instead of last queued time](https://github.com/kubernetes/kubernetes/issues/83826), i.e. the **user expect longest Pending Pod since creation sh

[2019-10-12 10:55] Adirio commented on #82118
Atomic scheduling is quite vague. It is atomic in the sense that either all of them are scheduled or none is. If none is the controller would make a different split decission based on the new cluster state and it will be tried again.

[2019-10-12 10:55] yqwang-ms commented on #83834
/sig scheduling
@bsalamat and @denkensk PTAL

[2019-10-12 11:23] mrkm4ntr commented on #83788
Yes, it is included in option 2.  My PR is already doing this.
The only point is whether to force the corresponding reserve and unreserve to be implemented with the same plugin by the interface.

[2019-10-12 12:28] #77389 closed

[2019-10-12 13:50] liggitt commented on #78845
The "opt out of module mode for builds" commit from https://github.com/kubernetes/kubernetes/pull/82809 is the simplest workaround for the moment. When go 1.13.2 is released and validated by sig-scalability, we will proceed with #82809 and complete the transition to building with 1.13.x

[2019-10-12 14:26] rajatjindal commented on #81873
Hi, I ended up implementing a kubectl plugin for this here:

https://github.com/rajatjindal/kubectl-evict-pod

this is a very simple implementation which just evict a specific pod, but surely can be extended to do it based on label selector (PR welcome).

Thanks
Rajat Jindal

[2019-10-12 14:39] davidkarlsen commented on #67526
/remove-lifecycle rotten

[2019-10-12 14:48] #81879 closed

[2019-10-12 15:52] cwdsuzhou opened #83845 "PV update validation ignored the capacity storge"
**What happened**:

I  shrinks pv manifest successfully, but I pv shrinkage actually did not do that.   I think we may need forbid shrinks pv capacity as pvc

See https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/validation/validation.go#L1854

we do not validate the new pv size.

But for pvc, we validate the size
https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/

[2019-10-12 15:53] cwdsuzhou commented on #83845
/sig storage

[2019-10-12 15:53] cwdsuzhou commented on #83845
/assign

[2019-10-12 16:54] #77933 closed

[2019-10-12 17:26] smarterclayton commented on #83810
This looks similar to failures we were seeing in kube-proxy while doing a rolling master upgrade.  It was repeatable enough that someone hacked a workaround that I later spotted - this is close enough to the description that I’m suspicious that it was real

/priority critical-urgent

Since any missed informer event can cause all sorts of safety violations.

[2019-10-12 17:28] smarterclayton commented on #83810
Note that rolling master upgrades break watches en masse, so a backlogged informer (contention / other locking / busy machine) would be more likely so see it the more caches it has.

[2019-10-12 17:36] PamelaKelly commented on #68026
Hi there, I'm looking for a good first issue. I'll start taking a look at `staging/src/k8s.io/apimachinery/pkg/types` if that's ok?
There doesn't seem to be anyone currently tracked as looking at it in the attached spreadsheet.

[2019-10-12 17:39] liggitt commented on #83810
A great first step would be to craft a test that demonstrates the issue repeatably, to help verify potential fixes resolve it.

[2019-10-12 17:41] entro-pi commented on #68026
I've found a few others I'm actively looking at, you won't get any argument
from me.

On Sat, Oct 12, 2019, 10:38 AM Pamela Kelly <notifications@github.com>
wrote:

[2019-10-12 18:22] adampl commented on #70047
@alwinmarkcf I don't know which solution is more hacky. Removing finalizers doesn't seem right to me ;)

[2019-10-12 21:23] matte21 commented on #83810
@liggitt IYO what would be the most appropriate kind of test, a unit test for the reflector or something higher-level like integration/e2e tests?

[2019-10-12 21:34] chenrui333 opened #83847 "go mod tidy fails in on go1.13 not go1.12"
**What happened**:
`go mod tidy` failure for upgrading [smi-sdk-go](https://github.com/deislabs/smi-sdk-go/pull/32) to golang v1.13.

[code]

**What you expected to happen**:

The build should be clear

**How to reproduce it (as minimally and precisely as possible)**:

1. checkout the repo, https://github.com/deislabs/smi-sdk-go
2. switch to go v1.13.1
3. `go mod tidy`

**Anything else we need to

[2019-10-12 21:45] chenrui333 commented on #83847
/sig sig/api-machinery

[2019-10-12 21:45] chenrui333 commented on #83847
/sig api-machinery

[2019-10-12 23:31] liggitt commented on #83847
support for 1.13 is being added in https://github.com/kubernetes/kubernetes/pull/82809, but I'm confused by that error message. What version of client go are you using?

[2019-10-12 23:32] liggitt commented on #83847
github.com/kubernetes-client/go and k8s.io/client/kubernetes are not packages provided by this repo

[2019-10-12 23:49] liggitt commented on #83847
This appears to be related to packages provided by https://github.com/kubernetes-client/go/blob/master/kubernetes/config/kube_config_test.go

I'd recommend asking about this issue at https://github.com/kubernetes-client/go

/close

[2019-10-12 23:49] #83847 closed

[2019-10-13 00:01] chenrui333 commented on #83847
Cool, I will ask there instead, thanks for the direction.

[2019-10-13 00:09] krmayankk commented on #4301
/assign @krmayankk

[2019-10-13 02:18] ahg-g opened #83848 "[migration phase 1] NodeAffinity as Score plugin"
**What would you like to be added**:

Add a Score that calls into NodAffinity priority, should be added to the existing NodeAffinity plugin, example #83460

**Why is this needed**:

Part of  #83554

/sig scheduling
/help
/priority important-soon

[2019-10-13 02:19] draveness commented on #83848
/assign
/remove-help

[2019-10-13 02:20] draveness commented on #83848
/retitle [migration phase 1] NodeAffinity as Score plugin

[2019-10-13 02:31] ahg-g commented on #80143
/remove-lifecycle stale

Most of the concerns in this issue can be addressed as part of phase 2 of the framework migration.

[2019-10-13 03:48] gongguan commented on #73527
/assign
/remove help

[2019-10-13 04:36] bappr commented on #79606
Hey guys,
Any one got a workaround for this one?

[2019-10-13 06:20] gongguan commented on #78797
/remove-help

[2019-10-13 06:21] gongguan commented on #73527
/remove-help

[2019-10-13 06:50] wojtek-t commented on #73958
/remove-lifecycle stale

[2019-10-13 07:24] lentzi90 commented on #78621
/remove-lifecycle stale

[2019-10-13 07:31] pigletfly commented on #78965
/close

[2019-10-13 07:31] #78965 closed

[2019-10-13 09:04] pratapdasar opened #83850 "Loadbalancer Service with enabled access-log-s3"
/platform aws
/kind bug

Hi Team,

When we create a service type loadbalancer with enabled access logs to the S3 buckets without proper s3 permissions/policy, the service fails  silently in 'pending' state but a loadbalancer is created in the account.

And when we delete the service the loadbalancer in the account persists.

-----Example Start service.yaml------
[code]
-----Example End service.yam

[2019-10-13 09:11] redbaron commented on #78987
/remove-lifecycle rotten

[2019-10-13 10:25] juliantaylor commented on #49628
Unfortunately `--register-with-taints=node.kubernetes.io/unschedulable=:NoSchedule` does not work either without the deprecated `--register-schedulable=false` the taint just does not get added to the node.

Is there really no replacement to get a node registered as cordoned so one does not have to introduce duplicate taints that have the same effect as `node.kubernetes.io/unschedulable`?

[2019-10-13 10:32] nitishkumar71 commented on #83782
Sure. Sorry I didn't notice the assignment.

[2019-10-13 10:38] #83630 closed

[2019-10-13 11:12] #77737 closed

[2019-10-13 12:03] scraxxy opened #83851 "kubectl create deployment not using the deployment name in the container spec"
**What happened**:
`kubectl create deployment` used the default image name in the container spec instead of the deployment name I specified

[code]

**What you expected to happen**:
I expect the container spec to use the deployment name (Like how `kubectl run` does it)

**How to reproduce it (as minimally and precisely as possible)**:
$ kubectl create deployment deploy-test --image=nginx --dry-run

[2019-10-13 13:11] notpad commented on #83637
@ahg-g Do you have any suggestion to the plugin name,  how about `CSIVolume`?

[2019-10-13 13:14] notpad commented on #83634
@ahg-g Do you have any suggestion to the plugin name, how about VolumeZone?

[2019-10-13 13:36] #83769 closed

[2019-10-13 13:39] ahg-g commented on #83634
VolumeZone sounds good.

[2019-10-13 13:56] ahg-g commented on #83637
This one should be ```NodeVolumeLimits```

[2019-10-13 14:55] tedyu commented on #83850
Can you post the controller manager log ?

Thanks

[2019-10-13 16:02] ashvindeodhar commented on #78947
/remove-lifecycle rotten

[2019-10-13 17:16] neolit123 commented on #76377
/triage needs-information

[2019-10-13 17:44] jakepoz opened #83868 "Schedule jobs by order of creation date, not randomly"
**What would you like to be added**: When many Jobs are pending due to resource restrictions, prefer to schedule Jobs in the order they were created, not just randomly.

**Why is this needed**:
We use the Kubernetes Jobs mechanism to schedule tasks on our cluster. Sometimes, we schedule > 100 tasks at a time, and only ~20 are able to be scheduled at one time due to our node pool configuration. Wha

[2019-10-13 17:46] jakepoz commented on #83868
@kubernetes/sig-apps-feature-requests

[2019-10-13 18:18] #83632 closed

[2019-10-13 18:37] fejta-bot opened #83869 "pr:pull-kubernetes-e2e-gce flaked 73 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce
 Flakes in the past week: **73**
 Consistency: **88.90%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| [k8s.io] Pods should support pod readiness gates [NodeFeature:PodReadinessGate] | 40 |
| [sig-scheduling] PreemptionExecutionPath runs ReplicaSets to verify preemption running path | 32 |
| [sig-network] Services should be a

[2019-10-13 18:37] fejta-bot opened #83870 "pr:pull-kubernetes-e2e-gce-100-performance flaked 65 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-100-performance
 Flakes in the past week: **65**
 Consistency: **89.80%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Up | 45 |
| Stage | 17 |
| ClusterLoaderV2 | 12 |

#### Previously closed issues for this job flaking:
#81890 #83529 #73884 #67295 #62592

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-lat

[2019-10-13 18:47] riking commented on #64137
Looks like there's an agreement this is a systemd bug on Pod exit when there are Secret volume mounts. Someone claimed it was fixed on 232 but another user reported seeing it on 238.

Is there a bug reported upstream?

/area teardown
/remove-lifecycle stale

[2019-10-13 19:58] alitoufighi commented on #83612
It was strange to me too!

My logs show that I got a signal for `DeleteUnusedImages` for all of my Pods container images (That were Running and suddenly got Evicted). I actually don't know about the flow of signals and how they're raised in these scenarios, but these lines was ran on my worker:
[code]
Don't you think my experience was caused by restarting the Kubelet service? I think Kubelet had p

[2019-10-13 20:00] jackkleeman commented on #82141
My open PRs on this:
#83580
#83627

[2019-10-13 20:31] timoreimann commented on #25251
@McCoyAle tbh, I haven't worked on this one so long that I'm not sure whether it's still relevant. Do you possibly know? If not and you happen to have a moment to verify whether output ordering is still an issue, I'd love to hear about it.

[2019-10-13 20:31] timoreimann commented on #25251
for now:

/remove-lifecycle rotten

[2019-10-13 20:31] timoreimann commented on #25251
/remove-lifecycle rotten

[2019-10-13 20:32] timoreimann commented on #25251
/remove-lifecycle stale

[2019-10-13 23:24] #38890 closed

[2019-10-13 23:24] #56795 closed

[2019-10-13 23:24] #67727 closed

[2019-10-14 00:10] 13567436138 commented on #83600
I have solved my problem。

[2019-10-14 00:10] #83600 closed

[2019-10-14 01:21] cheftako commented on #815
/remove-lifecycle rotten

[2019-10-14 01:21] cheftako commented on #815
/lifecycle frozen

[2019-10-14 01:32] lichuqiang commented on #83554
@ahg-g I would like to pick of some of the tasks.
So what should I do first? Create issues for related tasks or wait for you to do that?

[2019-10-14 01:32] #83634 closed

[2019-10-14 02:07] ahg-g commented on #83554
Hi @lichuqiang I am creating issues gradually, look for new ones when they become available.

[2019-10-14 02:07] kong62 commented on #80245
@xieyanker One time it was caused by a calico network problem，when network good，solved

[2019-10-14 02:23] ahg-g opened #83873 "[migration phase 1] InterPodAffinityPriority as filter plugin"
**What would you like to be added**:

Add a filter plugin that calls into InterPodAffinityPriority predicate, example #83460

**Why is this needed**:

Part of  #83554

/sig scheduling
/help
/priority important-soon

[2019-10-14 02:23] lichuqiang commented on #83873
/assign
/remove-help

[2019-10-14 02:24] ahg-g opened #83874 "[migration phase 1] EvenPodsSpread as filter plugin"
**What would you like to be added**:

Add a filter plugin that calls into EvenPodsSpread predicate, example #83460

**Why is this needed**:

Part of  #83554

/sig scheduling
/help
/priority important-soon

[2019-10-14 02:25] draveness commented on #83874
/assign

[2019-10-14 02:25] draveness commented on #83874
/remove-help

[2019-10-14 02:25] draveness commented on #83874
/retitle: [migration phase 1] EvenPodsSpread as filter plugin

[2019-10-14 02:25] draveness commented on #83874
/retitle [migration phase 1] EvenPodsSpread as filter plugin

[2019-10-14 02:33] ahg-g commented on #83472
any progress on this one?

[2019-10-14 02:41] draveness commented on #83874
/assign @Huang-Wei
/unassign

[2019-10-14 02:56] jfbai commented on #83874
@draveness May I take over this?

[2019-10-14 02:57] zhouya0 commented on #83851
I don't think container's name must be the same with the deployement's name and actually the containers's name is not important as it's managed by pod. But looks like `kubectl run` and `kubectl create` have different policy i will check if they can be the same.

[2019-10-14 03:00] draveness commented on #83874
@Huang-Wei is going to take this over after the offline discussion, and he is familiar with EvenPodsSpread

[2019-10-14 03:01] jfbai commented on #83874
IC, thanks a lot.

[2019-10-14 03:02] kewenwang-ai commented on #82118
Refer to the [gang-scheduling](https://docs.google.com/document/d/1AUwcvTtULNvow5M9e428FnlvINO1uQ7ojRoTGuTp4DA/edit#), we noticed that our proposal is similar with some ideas mentioned in this doc. Such as [QueueJob and scheduleBatch](https://docs.google.com/document/d/1AUwcvTtULNvow5M9e428FnlvINO1uQ7ojRoTGuTp4DA/edit#heading=h.ckn8nv2jj0xv).

What we proposed here is to use generic CRD instead of

[2019-10-14 03:17] RainbowMango opened #83876 "Panic happends when deprecating metrics"
**What happened**:
CI failed when deprecated metrics. Refer to https://github.com/kubernetes/kubernetes/pull/83836.

The reason is that __a hidden metrics won't be created thus can't be registered to prometheus's registry__.

I guess the other PR failed for the same reason.
#83837 #83838 #83839 #83841
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)*

[2019-10-14 04:42] hprateek43 commented on #83361
@ahg-g @Huang-Wei Do we have a roadmap around this ? Im looking to pick up this issue

[2019-10-14 04:53] ZouRui89 opened #83878 "bug: hpa takes all the metric values from the pods in the same namespaces and with the same labels"
**What happened**:
When hpa started to scale up, I realized that the desriedReplica is more than what I expected.
The  REPLICAS should be 2 instead of 4 after the first autoscaling round.
[code]
**What you expected to happen**:
The  REPLICAS should be 2 instead of 4 after the first autoscaling round.
**How to reproduce it (as minimally and precisely as possible)**:
[code]
[code]
[code]
**Anything

[2019-10-14 05:53] ProgramerGu commented on #83554
This seems clear，thx

[2019-10-14 05:58] Deepthidharwar commented on #83775
@klueska , That's right. This fix is needed for the master branch and not 1.16.
 1.16 works well without #83492.

[2019-10-14 06:09] zouyee commented on #83878
/remove-kind bug
https://github.com/DirectXMan12/k8s-prometheus-adapter/blob/master/docs/config-walkthrough.md

[2019-10-14 06:10] zouyee commented on #83878
/sig autoscaling

[2019-10-14 06:29] ZouRui89 commented on #83878
@zouyee Thx a lot. But this doc won't solve my problem.
I am using my own adapter and metric source is not prometheus.
My problem is that I define that the hpa is target on one deployment A, but k8s passes only the namespace and label of deployment(deployment A)  to the underlying adapter. In that case, if any other deployment(deployment B) under the same ns shares the same label, hpa controller w

[2019-10-14 06:30] wojtek-t commented on #62277
To update:
- event-exported was fixed in https://github.com/kubernetes/kubernetes/pull/83396
- metrics-server was fixed in https://github.com/kubernetes/kubernetes/pull/83015 [still SubjectAccessReviews are being send via JSON, but that would be a larger effort to address it, so we're going to keep as is]

PRs to fix in glbc were merged, we're waiting for the glbc patch release.

[2019-10-14 06:34] gayathrimenathtcl commented on #83304
I am adding cabundle via go code.

`	namespace, err := ioutil.ReadFile("/var/run/secrets/kubernetes.io/serviceaccount/namespace")
	if err != nil {
		glog.Info("error Reading Namespace")
	}
	cabundle, err := ioutil.ReadFile("/var/run/secrets/kubernetes.io/serviceaccount/ca.crt")
	if err != nil {
		glog.Info("error Reading Ca.crt")
	}
	fp := admissionregistration.Fail
	path := "/"
	service := &admis

[2019-10-14 06:44] prameshj commented on #70707
@neolit123 Wanted to ping this thread again, to see what it would take to get the change in kubeadm?

[2019-10-14 06:46] gayathrimenathtcl commented on #83304
I am adding the cabundle via code.

[code]

[2019-10-14 06:55] skingFD opened #83884 "Network policy does not work - Minikube"
Network policy given in "Declare Network Policy" does't not seem to work as expected. Let's follow the steps to replicate this issue.

The URL of "Declare Network Policy" page is [Declare Network Policy](https://kubernetes.io/docs/tasks/administer-cluster/declare-network-policy/ "Declare Network Policy")

Let's start a Minikube terminal on [Hello Minikube](https://kubernetes.io/docs/tutorials/hell

[2019-10-14 06:56] calmkart commented on #83672
please give deployment yaml here?
callmedad & bankcard

[2019-10-14 06:57] skingFD commented on #83884
/sig network

[2019-10-14 07:29] wojtek-t commented on #83810
The lower-level the test will be the better. So ideally unit test.

[2019-10-14 07:38] zhangxingdeppon commented on #83672
okay,no problem,because the related deployment resource has deleted ,just pod resource we can see,but i can give you another deployment yaml that is similar to the related deployment

<pre><code>
[root@D21117U10-62-66 ~]# kubectl edit deployment bkcardocr-8ejw7khl-serving-v1  -n aipaas-modelserving

# Please edit the object below. Lines beginning with a '#' will be ignored,
# and an empty file wil

[2019-10-14 07:51] valentin-krasontovitsch commented on #22351
@liggitt it's interesting that one should use a "pure" key pair for signing and verifying service account tokens rather than a certificate (with expiration date) - I guess it implies that this key should not expire, and thus not be changed.

But what if one wants to change this key anyways, for whatever reason? Let's claim it's just "sane" to rotate keys every now and then.

In that case, it seems

[2019-10-14 08:09] Huang-Wei commented on #83782
@danielqsj  Thanks for letting use know.

I prefer to let it handled by #76496.

/unassign @loqutus
/assign @danielqsj

[2019-10-14 08:09] fabriziopandini commented on #70707
@prameshj this is related to the work we are doing for kubeadm config v1beta2 (you can sync with @rosti  for this effort) and with the work on the addon installer (rif. @stealthybox).

[2019-10-14 08:10] Huang-Wei commented on #83361
@hprateek43 I'm working on the EvenPodsSpread part. Will send out a PR this week.

[2019-10-14 08:41] smileusd opened #83885 "csi block volume not remove data directory when umap volume"
**What happened**:
When I delete the pod of csi block volume, it unmount and delete `/var/mnt/kubelet/plugins/kubernetes.io/csi/volumeDevices/pvc-8efde6e3ee3311e9/dev` directory, but not delete `/var/mnt/kubelet/plugins/kubernetes.io/csi/volumeDevices/pvc-8efde6e3ee3311e9/data/` and the parent directory.
**What you expected to happen**:
When i check the interface in the lastest code(master and rel

[2019-10-14 08:41] smileusd commented on #83885
/sig storage

[2019-10-14 08:48] barkbay opened #83895 "Memory/Timer leak in the work queue"
Hi,

We are experiencing a memory leak in our operator and it seems to be caused by some Timers:
![image](https://user-images.githubusercontent.com/976373/66737404-27049080-ee6c-11e9-998e-91f75a5dd730.png)
_See here the original issue: https://github.com/elastic/cloud-on-k8s/issues/1984_

After some investigations I found out that the [waitingLoop](https://github.com/kubernetes/client-go/blob/172b

[2019-10-14 08:49] k82cn commented on #82118
Gang-scheduling is only one feature of batch scheduler; for example,  [gang plugin](https://github.com/kubernetes-sigs/kube-batch/tree/master/pkg/scheduler/plugins/gang) is only ~100LOC in kube-batch. If we want to also support other features, therer'e several enhancements to default scheduler. We'd like to handle them together which may reduce refactor work later.

[2019-10-14 09:29] alenkacz commented on #83693
/milestone 1.17
/priority important-soon

this is consistently failing in release-master-informing job https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-serial @jsafrane could you please take a look?

[2019-10-14 09:34] yue9944882 opened #83887 "Duplicated RawExtension published in openapi v2 spec"
/sig api-machinery
/kind bug
/cc @sttts

just found this in the published openapi spec from v1.16.1 cluster, sth unhappy in aggregating v2 specs..

[code]

[2019-10-14 09:35] alenkacz commented on #83560
/close

I'll move this to observing but it looks like it got resolved somehow 🤷‍♀

[2019-10-14 09:35] #83560 closed

[2019-10-14 09:43] alenkacz opened #83888 "build-packages-debs is consistently failing"
**Which jobs are failing**:
sig-release-master-informing

**Which test(s) are failing**:
build-packages-debs

**Since when has it been failing**:
Oct 10 21:03 PDT

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#build-packages-debs

**Reason for failure**:
🤷‍♀ the log is empty

**Anything else we need to know**:

/milestone v1.17
/priority important-soon
/sig relea

[2019-10-14 09:51] yue9944882 commented on #83887
/remove-kind bug

this happens when you wire an aggregated apiserver w/ older version to a latest kubernetes cluster

[2019-10-14 09:59] joeyxp opened #83889 "/stats/{namespace}/{podName}/{uid}/{containerName} always return 'no matching container'"
In k8s environment. I try to access kubelet API to get pod stats.
`import requests
requests.get('http://localhost:10255/stats/py17484279885885120/py17484279885885120')
requests.get('http://192.168.0.196:10255/stats/jupyter/py17484279885885120/464e363c-ee5c-11e9-a89b-00163e09f676/py17484279885885120')`
They always return "no matching container".
`requests.get('http://localhost:10255/stats/summary')

[2019-10-14 09:59] alenkacz opened #83890 "Failing test [k8s.io] Container Runtime blackbox test when running a container with a new image should be able to pull image from gcr.io [NodeConformance]"
**Which jobs are failing**:
sig-release-master-informing#gce-windows-master

**Which test(s) are failing**:
 [k8s.io] Container Runtime blackbox test when running a container with a new image should be able to pull image from gcr.io [NodeConformance]

**Since when has it been failing**:
Oct 1, since then it is consistently red

**Testgrid link**:
sig-release-master-informing#gce-windows-master

**

[2019-10-14 10:03] bakshi41c opened #83891 "Ability to pull from ECR from a non EC2 instance"
**What would you like to be added**:
Ability to pull docker images from ECR. This would be doable if credsStore is supported. The code to refresh credentials and pull the image is already there, but it only works if its run on AWS EC2 instance.

**Why is this needed**:
To pull docker images from private repository hosted on AWS ECR.

Related issues:
https://github.com/kubernetes/kubernetes/issues/

[2019-10-14 10:07] bakshi41c commented on #83891
/sig-aws

[2019-10-14 10:09] bakshi41c commented on #83891
@kubernetes/sig-apps-feature-requests
platform/aws

[2019-10-14 10:13] zhouya0 commented on #83851
/assign

see the difference with
`kubectl create`
https://github.com/kubernetes/kubernetes/blob/3ec5fe500d7a56be6ff6c15f916987eaa48c2e94/staging/src/k8s.io/kubectl/pkg/generate/versioned/deployment.go#L74

`kubectl run`
https://github.com/kubernetes/kubernetes/blob/3ec5fe500d7a56be6ff6c15f916987eaa48c2e94/staging/src/k8s.io/kubectl/pkg/generate/versioned/run.go#L741

These two functions show the d

[2019-10-14 10:20] bakshi41c commented on #83891
/remove-sig apps

[2019-10-14 10:21] #83887 closed

[2019-10-14 10:28] bakshi41c commented on #83891
/sig cloud-provider
/area provider/aws

[2019-10-14 10:29] lichuqiang commented on #83873
@ahg-g We have several pod affinity related error types defined: `ErrPodAffinityNotMatch`, `ErrPodAffinityRulesNotMatch`, `ErrPodAntiAffinityRulesNotMatch`, `ErrExistingPodsAntiAffinityRulesNotMatch`.

But I noticed that we only marked `ErrPodAffinityRulesNotMatch` as unresolvable in `unresolvablePredicateFailureErrors`. Any special reason for this?

[2019-10-14 10:30] linbingdouzhe commented on #60152
same problem

[2019-10-14 10:56] soltysh commented on #65646
/reopen
/assign

[2019-10-14 10:56] soltysh commented on #65646
/lifecycle frozen

[2019-10-14 11:10] johscheuer commented on #83884
I assume you started minikube with the default settings ? If so minikube will start with [kubenet](https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/#kubenet) as network plugin which doesn't support `NetworkPolicies`. So you should start [minikube with cni](https://kubernetes.io/docs/setup/learning-environment/minikube/#starting-a-cluster-on-alternative-cont

[2019-10-14 11:38] liggitt commented on #83895
thanks for the report, moved to the main repo for better visibility

/sig api-machinery

[2019-10-14 11:45] liggitt commented on #83895
yes, using NewTimer would be better here

[2019-10-14 11:50] liggitt commented on #83304
interesting... and there is no error reading the /var/run/secrets/kubernetes.io/serviceaccount/ca.crt file?

[2019-10-14 12:22] liggitt commented on #83810
the lowest level that demonstrates the problematic behavior. if the issue is with the interaction between reflector and shared informer, then ideally something at the shared informer level

[2019-10-14 12:25] calmkart commented on #83672
[code]
paste the logs in 06:09:06 and later,maybe 10 second?

[2019-10-14 12:30] RainbowMango commented on #83876
Discoveries after run go test ( by `make test`) after removing backoff and deprecating some metrics:

The kubelet's metrics are protected by the unit tests, and they work well .

The only block is https://github.com/kubernetes/kubernetes/pull/83678, that is I mean register to legacy registry and gather from Prometheus.

[2019-10-14 12:46] ahg-g commented on #83873
This doesn't impact how we do this task, right?

But to answer your question, it seems that ```ErrPodAffinityRulesNotMatch``` is related to node ["didn't match pod affinity rules"](https://github.com/kubernetes/kubernetes/blob/81a8b9804a3bf310cb74446bd8a8e08e0317de22/pkg/scheduler/algorithm/predicates/error.go#L43:2), and that is an unresolvable error preemption wouldn't hep resolving such an erro

[2019-10-14 12:59] draveness commented on #67676
I believe this issue was not solved...

[2019-10-14 13:02] wojtek-t opened #83898 "Refactor transformObject to implement Encoder interface"
Long-term, transformObject:
https://github.com/kubernetes/kubernetes/blob/5219ad7be209b31cdfdae2eda1cd435aff4a3cd2/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/response.go#L40
should be refactored so that it implements Encoder interface (and it has nested encoder inside):

This would allow us to cache the results for difference media.Convert options, which currently is not supported:
https:

[2019-10-14 13:06] mbelchin opened #83900 "Kubernetes 1.10.11 or Kubernetes 1.15.3 service.spec.externalTrafficPolicy does not get real client IP"
**What happened**:

Kubernetes 1.10.11 does not display on my nginx pod the source client IP only displays the internal cluster IP.

I've used the new `service.spec.externalTrafficPolicy: Local` on my Service yaml.

**What you expected to happen**:

Shows the source client IP.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

In a prev

[2019-10-14 13:09] pierewoj opened #83901 "log-dump does not work for nodes without public IP"
**What happened**:
Currently we don't have node logs from kubemark-100 tests:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kubemark-100-gce/1183605832428818437/build-log.txt
W1014 05:20:23.222] ERROR: (gcloud.compute.scp) Instance [kubemark-100-minion-group-kc5r] in zone [us-east1-b] does not have an external IP address, so you cannot SSH into it. To add an external IP addr

[2019-10-14 13:10] pierewoj commented on #83901
/sig scalability

[2019-10-14 13:16] ipuustin commented on #83767
Would it be possible that OOM killer is terminating system processes, causing the host be rebooted? Your system log might have some information about this (see what has triggered OOM killer and which processes it has considered to terminate).

[2019-10-14 13:25] bclau commented on #80534
Same as before: The reason for failure is that the agnhost image version was bumped, but it was not built and published yet.

We're waiting on the kubernetes infra team to setup the automatic image building / publishing process for the kubernetes E2E test images.

[2019-10-14 13:27] liggitt commented on #81979
/close

[2019-10-14 13:27] #81979 closed

[2019-10-14 13:28] matte21 commented on #83810
When the reflector calls `DeltaFIFO.Replace(listResults)` it is expected that for each object _O_ with ID _X_ in `listResults` a delta is added to the DeltaFIFO, but that is (erroneously) not the case if the DeltaFIFO already stores a `Delete` delta for ID _X_ . So it's the DeltaFIFO which causes troubles and should be tested. But that alone does not show the user-visible problem; for a test to fa

[2019-10-14 13:31] hasheddan opened #83903 "[Flaky Test] kind-ipv6-master-parallel"
**Which jobs are failing**: kind-ipv6-master-parallel

**Which test(s) are failing**:
The primary concern is `Overall` failing when starting up the kind cluster, but the following tests have also failed intermittently:

- [k8s.io] [sig-node] Pods Extended [k8s.io] Delete Grace Period should be submitted and removed [Conformance]
- [sig-apps] StatefulSet [k8s.io] Basic StatefulSet functionality [St

[2019-10-14 13:38] liggitt commented on #83810
That seems reasonable. I'd expect a test that sets up the described scenario and exercises both the Relist/Replace and Resync cases described here:

[2019-10-14 13:42] matte21 commented on #83810
Sounds good, I'm at work.

[2019-10-14 13:43] liggitt commented on #82590
I'll defer to @thockin / sig-network folks on that one

[2019-10-14 13:53] pierewoj commented on #83901
Also, this affect other (non-kubemark) tests in case logexporeter fails.

[2019-10-14 13:57] skingFD commented on #83884
Thanks for your answer!
However, I also tried the steps above on a k8s cluster built by kubeadm, whose network component is Weave 2.5.2. And it behaves the same.
**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
[code]
- OS (e.g: `cat /etc/os-release`):
[code]
- Kernel (e.g. `uname -a`):
[code]
- Install tools:
kubeadm.
- Network plug

[2019-10-14 13:59] pierewoj commented on #83901
/assign @pierewoj

[2019-10-14 14:02] #82633 closed

[2019-10-14 14:13] msvticket commented on #80207
/remove-lifecycle stale

[2019-10-14 14:22] liggitt commented on #83903
cc @BenTheElder for kind
cc @neolit123 for kubeadm

[2019-10-14 14:33] aojea commented on #83903
maybe not related to this issue but I was chasing flakes in this job and we have a fix ready to merge to solve some of them

https://github.com/kubernetes-sigs/kind/pull/947

[2019-10-14 14:34] aojea commented on #83903
/assign

[2019-10-14 14:39] tedyu commented on #83898
To implement Encoder interface, the negotiation.MediaTypeOptions would be passed to the class where transformation code (Encode()) resides, right ?

[2019-10-14 14:56] aojea commented on #83903
Indeed, main flakes are on the e2e side, however, I realized that there are 3 failures in the last 200 runs in the provisioning phase.

Let's fix first the main flakes on the e2e are, those are the ones that are causing the instability.

[2019-10-14 15:05] stlaz commented on #81145
Currently it is impossible to configure TLS 1.3 cipher suites as these would always be ignored - https://github.com/golang/go/blob/0fb95e788e8639712b7200a5c08ec023fb3588cb/src/crypto/tls/handshake_server_tls13.go#L151-L157

That means that such ciphers are automatically enabled if you build with TLS1.3-allowing flags.

I'm not sure it would be desirable to remove the ability to set ciphers that ar

[2019-10-14 15:36] ahg-g commented on #83783
@mrkm4ntr do you have a PR for this one?

[2019-10-14 15:53] mortent commented on #77383
/assign

[2019-10-14 15:55] tpepper commented on #82531
1.13.2 is coming https://groups.google.com/forum/#!topic/golang-announce/7zbgLB1kCKU in two days

[2019-10-14 15:59] BenTheElder commented on #83903
We do indeed have occasional flakes on bringup, however I want to note that the tests possibly being more flaky may in fact be due to this being the _only_ IPv6 coverage and we should try to keep that, otherwise they will certainly be worse.

1.5% is not enough to worry about much. That's a wonderful rate for kubernetes e2e :-)
We should fix this, but that's not worth a kubernetes/kubernetes bug,

[2019-10-14 16:05] damemi opened #83909 "Deepcopy gen error: Hit an unsupported type invalid type for invalid type"
**What happened**:
Running `make update` fails with an error:
[code]

This error changes every time to refer to a different type, some examples are:
* `k8s.io/kubernetes/pkg/apis/rbac/v1.SortableRuleSlice`
* `k8s.io/kubernetes/pkg/apis/admission.AdmissionRequest`
* `k8s.io/api/autoscaling/v2beta2.HorizontalPodAutoscaler`
* `k8s.io/api/coordination/v1beta1.Lease`
* `k8s.io/api/core/v1.Binding`

Thi

[2019-10-14 16:06] BenTheElder commented on #83903
I would also be happy to simply exclude the N flakiest tests if it means we continue to monitor IPv6 functioning overall while we continue to work on that unrelated 1.5% => 0%.

[2019-10-14 16:08] BenTheElder commented on #83903
I don't see a comparable test-suite running "on cloud" in release-master-blocking... that seems somewhat alarming. Going to raise this with SIG-release.

[2019-10-14 16:10] damemi commented on #83909
@kubernetes/sig-api-machinery-bugs

[2019-10-14 16:16] klueska commented on #83775
/cc @ConnorDoyle for visibility.

This issue appeared as a result of #83492

[2019-10-14 16:19] droslean commented on #83888
/assign @justaugustus

[2019-10-14 16:21] droslean commented on #83888
related with https://github.com/kubernetes/kubernetes/issues/80715

[2019-10-14 16:23] dcbw commented on #83810
@matte21 just removing those lines of code doesn't quite work though, because the Deletion delta is still in the queue and doesn't get removed when a Sync comes in.

[2019-10-14 16:24] BenTheElder commented on #82531
This is also a security release, have all the relevant non-security patches
landed?

On Mon, Oct 14, 2019, 08:57 Tim Pepper <notifications@github.com> wrote:

[2019-10-14 16:27] liggitt commented on #82531
If it follows the pattern of 1.13.1, only the security patch will be included, and we will have to wait for 1.13.3

[2019-10-14 16:37] dcbw commented on #83810
@matte21 is the testcase literally just adding this to delta_fifo_test.go?

[code]

But for some reason this hangs in the Pop(f).

[2019-10-14 16:41] #77967 closed

[2019-10-14 16:41] #77800 closed

[2019-10-14 16:48] matte21 commented on #83810
@dcbw Yes, the test looks very similar to what you posted, but there's a mistake: expectedList must be of type `Deltas`, not `[]Deltas`.

[2019-10-14 16:56] liggitt commented on #83810
(that would be caught and fail the test immediately by changing `t.Errorf` to `t.Fatalf`)

[2019-10-14 17:13] michaelgugino commented on #82949
Flake https://github.com/kubernetes/kubernetes/pull/83906

[2019-10-14 17:15] michaelgugino commented on #83870
flake https://github.com/kubernetes/kubernetes/pull/83906

[2019-10-14 17:18] tedyu commented on #83810
How about this change ?
[code]
The test from @dcbw would have this:
[code]

[2019-10-14 17:21] mrkm4ntr commented on #83783
@ahg-g I submitted the PR.

[2019-10-14 17:31] cjreyn commented on #23880
This would be very useful

[2019-10-14 17:55] dcbw commented on #83810
Aha, you're totally right :) Had to run off to lunch before spending more time on it :)

[2019-10-14 18:01] bcmills commented on #82531
Correct, security releases include only security-impacting changes.

[2019-10-14 18:02] dcbw commented on #83810
@tedyu DeltaFIFO only de-dupes deletions, but your example would do effectively extend that to compressing Delete+Sync=Sync. You used to be able to build smarter compression off DeltaFIFO (eg https://github.com/openshift/origin/pull/10070/files#diff-0220ccb2c017c89846fc17ff28c57837R176 ) but nobody actually used the DeltaCompressor stuff so we removed it. And nobody above DeltaFIFO expects compres

[2019-10-14 18:06] liggitt commented on #83810
I agree about not compressing. I do wonder if a sync arriving on top of a delete should turn into an Added event (in at least one path, like the one described in this issue, that is exactly what happens).

It's a little hard to reason about what this sync event should be when we know that relists can currently time-travel.

[2019-10-14 18:13] seh commented on #83810
I was [just asking about this very situation](https://kubernetes.slack.com/archives/C0EG7JC6T/p1571054208147900) this morning in the "sig-api-machinery" channel of the "Kubernetes" Slack team. My reading of the code had me expecting that I'd get a _delete_ followed by an _add_.

[2019-10-14 18:15] howardjohn opened #83912 "proto.Merge broken on intstr in Kubernetes 1.16 apimachinary"
**What happened**:
I have a test:
[code]

That passes with `k8s.io/apimachinery v0.0.0-20190612205821-1799e75a0719` (Kubernetes 1.15) but fails with `k8s.io/apimachinery v0.0.0-20190913080033-27d36303b655` (Kubenernetes 1.16)

Logs from pass:
[code]

Logs from fail:
[code]

`proto` here is `"github.com/gogo/protobuf/proto"`. If I switch to `"github.com/golang/protobuf/proto"` this passes on both v

[2019-10-14 18:21] howardjohn commented on #83912
/sig api-machinery

[2019-10-14 18:27] liggitt commented on #83810
This issue is specifically focused on how a queued delete event (typically via directly observing a delete watch event or via absence in a relist/replace) followed by an observed add (via presence in a relist) is handled by DeltaFIFO.

Your question is slightly broader/different, and has multiple facets:
1. Are UID changes considered when handling reflector object add/delete/update events? They ar

[2019-10-14 18:27] pohly opened #83913 "e2e storage: do not depend on kubectl on host"
**What would you like to be added**:

https://github.com/kubernetes/kubernetes/blob/34db57b0071aa62f546020ad4d7cb603196dd0d7/test/e2e/storage/utils/host_exec.go#L87-L110 depends on `kubectl` being installed on the host where the E2E test suite runs.

Instead, the `IssueCommandWithResult` function should execute similar code to kubectl to run the command. Ideally, that utility function then becomes

[2019-10-14 18:28] dcbw commented on #83810
@seh Listeners need to handle Sync too. And the only two in-tree users of NewDeltaFIFO are cache/controller.go and cache/shared_informer.go and they look like they correctly handle Sync.

[2019-10-14 18:30] dcbw commented on #83810
@liggitt @seh no events are compressed at the `cache` level. It's up to DeltaFIFO listeners to do that, and to my knowledge nothing in Kubernetes does anymore.

[2019-10-14 18:30] pohly commented on #83913
/sig storage

[2019-10-14 18:38] dcbw commented on #83810
@liggitt if this happens, I think it should happen on top of the DeltaFIFO, not in the DF. Let's keep DF simpler since it's (a) complicated enough and (b) critical path code.

@liggitt probably the right place for compression, if any happens. IMHO it's correct that Deletes don't get compressed, eg that Delete + Add is not compressed into Update or something like that.

[2019-10-14 18:42] liggitt commented on #83810
I agree, though that specific example **can** happen naturally if it occurs in a window while the reflector isn't getting watch events.

[2019-10-14 18:43] #77992 closed

[2019-10-14 18:43] ConnorDoyle commented on #83775
Thanks for the ping. So is the proposed fix to always admit best-effort pods in the topology manager?

[2019-10-14 18:51] seh commented on #83810
Just to make sure I understand this properly, does this scenario involve an object in the cache with name "x" and UID "u1," then the reflector loses its watch, reestablishes it and lists all the relevant objects in the cluster, finds one named "x" with UID "u2," and since it already has an "x" in its cache, translates this discovery into a `ResourceEventHandler.OnUpdate` call?

[2019-10-14 18:54] liggitt commented on #83810
exactly

[2019-10-14 18:56] dcbw commented on #83810
@liggitt does this mean we couldn't use the `resourceVersion` argument to DeltaFIFO's Replace() to work around whatever https://github.com/kubernetes/kubernetes/pull/26167 is talking about (if that problem still exists)?

[2019-10-14 18:57] liggitt commented on #83810
clients can only use resourceVersion to check equality, not older-than/newer-than

[2019-10-14 19:11] klueska commented on #83775
This only affects the single-numa-node policy because of the "hack" we currently have in place for it: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/topologymanager/topology_manager.go#L248

The right long term fix is to address this as part of: https://github.com/kubernetes/kubernetes/issues/83478

However, if we want to put a short term fix in place to "unbreak" master, @lm

[2019-10-14 19:38] christianhuening commented on #53023
i have the exact same here. K8s `1.15.3`.
I can fix every DaemonSet with that issue by running `kubectl rollout restart ds <DaemonSetName>`. It then get's rerolled and all is fine.

[2019-10-14 19:46] dwbrown2 commented on #74551
@lavalamp is there additional information that would be useful for getting this triaged?

[2019-10-14 19:54] MikeSpreitzer commented on #83810
As noted in Slack, there is now careful commentary in https://github.com/kubernetes/client-go/blob/master/tools/cache/shared_informer.go about what is promised.  There is no promise that a delete followed by an add is delivered as two notifications; it is allowed to be delivered as one update notification.

[2019-10-14 19:59] davidz627 commented on #80226
There were added here: https://github.com/kubernetes/kubernetes/pull/80191

[2019-10-14 19:59] #80226 closed

[2019-10-14 20:00] damemi commented on #83909
Update: I was able to get around this by setting GO111MODULE=off in `hack/lib/init.sh`

[2019-10-14 20:00] #83909 closed

[2019-10-14 20:04] silenceleaf commented on #77310
Is this change merged? which version?

[2019-10-14 20:07] bentastic27 opened #83916 "kubelet does not honor shortened grace period on already-deleting pod"
**What happened**:

Delete a pod with a grace period of 120 seconds, then again with 60 seconds. It will still wait until the first 120 time elapses to delete the pod.

**What you expected to happen**:

For it to use the new grace period of 60 seconds

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Environment**:
- Kubernetes version (use `kubectl version`): 1.14
- Cl

[2019-10-14 20:08] derekrprice commented on #64137
Just a quick update, we are still seeing a memory leak in AKS running K8s 1.14.6 on Ubuntu 16.04.6 (kernel 4.15.0-1060-azure).  After applying the work-around that I posted above, the memory leak becomes almost unnoticeable on a daily basis, but over 30 days, a much slower memory leak is clearly still present.  In fact, it took down our production cluster again today.  I wasn't running the most re

[2019-10-14 20:13] bentastic27 commented on #83916
/sig scheduling

[2019-10-14 20:22] zloo commented on #64137
Hi @derekrprice - I'm pretty sure you're hitting the same issue as I did a year ago. Look at my comment: https://github.com/kubernetes/kubernetes/issues/64137#issuecomment-398784448

Upgrading to a newer systemd and/or upgrading to new Ubuntu fixes the issue. It's a kernel(cgroup implementation) and systemd incompatibility.

[2019-10-14 20:35] lavalamp commented on #82182
The claim is that apiserver was so loaded it couldn't reconnect to etcd? That doesn't seem super probable to me, can you say more specifically what was happening to it to keep it from recovering?

[2019-10-14 20:59] discordianfish commented on #77216
@DarrienG So id you had high IO load and high docker api response times?

[2019-10-14 21:00] conwaychriscosmo opened #83917 "Refactor etcd-version-monitor to use component-base metrics"
**What would you like to be added**:
Refactor etcd-version-monitor to use https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/component-base/metrics
**Why is this needed**:
This is part of a refactoring initiative run by @kubernetes/wg-component-standard to unify metrics dependencies.

/wg component-standard
@stealthybox
@mtaufen

[2019-10-14 21:01] conwaychriscosmo commented on #83917
/assign

[2019-10-14 21:13] damemi commented on #83472
I haven't made any progress on this yet, but it's on my priority now

[2019-10-14 21:25] fedebongio commented on #83898
/assign @wojtek-t

[2019-10-14 21:25] fedebongio commented on #83898
Let us know if you need help

[2019-10-14 21:26] fedebongio commented on #83912
/assign @jennybuckley

[2019-10-14 21:53] ahg-g opened #83922 "All scheduler Node and Pod list/lookups should be from the snapshot"
**What would you like to be added**:
All scheduler Node and Pod lookups should be from the nodeinfo snapshot

**Why is this needed**:
In few places, the scheduler currently lists/lookup nodes and pods from the scheduler cache instead of the snapshot. This causes inconsistencies as the scheduler cache may change during the scheduling cycle of a pod.

/sig scheduling
/assign

[2019-10-14 22:16] dims opened #83923 "CAPG e2e tests fail when running against kubernetes master"
Found when trying to get CAPG e2e tests running against kubernetes master in https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/214.

Essentially clusterctl is looking for providerID and not finding it in the `spec` (example https://pasted.tech/pastes/6e2ede088b103f9a3a501754245d8ba4ed962d4c.raw)

If i delete the node and restart kubelet then the providerID is set and clusterctl runs

[2019-10-14 22:17] dims commented on #83923
suspect number 1 is `EnsureNodeObject` from https://github.com/kubernetes/kubernetes/pull/83339

/assign @neolit123

[2019-10-14 22:23] neolit123 commented on #83923
/sig cluster-lifecycle
/priority important-soon

[2019-10-14 22:51] davidz627 commented on #80208
Looks like this has been resolved by the linked issue: #79990, feel free to reopen if that is not the case
/close

[2019-10-14 22:51] #80208 closed

[2019-10-14 23:00] BenTheElder commented on #83903
Tracking the ~1.5% `kubeadm init` (or `docker exec`? TBD) flakes here https://github.com/kubernetes-sigs/kind/issues/949

Unrelated to that some of these test cases are just flaky `[sig-apps] StatefulSet [k8s.io] Basic StatefulSet functionality [StatefulSetBasic] Should recreate evicted statefulset [Conformance]` is also flaking on GCE in addition to kind.

https://testgrid.k8s.io/conformance-gce#

[2019-10-15 00:48] #77981 closed

[2019-10-15 00:48] #77993 closed

[2019-10-15 01:10] lichuqiang commented on #83873
I see. It has nothing to do with the task itself, except for the expected results in unit tests :)

[2019-10-15 01:15] zouyee commented on #83916
/assign

[2019-10-15 01:26] ahg-g opened #83927 "Scheduler perf test times out"
I ran the perf test as follows:

```make test-integration WHAT=./test/integration/scheduler_perf KUBE_TEST_VMODULE="''" KUBE_TEST_ARGS="-run=^$$ -bench=BenchmarkScheduling/5000Nodes/1000Pods" ```

but after 11m it times out and fails with the following message:

*** Test killed with quit: ran too long (11m0s).

/sig scheduling
/assign @draveness

[2019-10-15 01:27] ahg-g commented on #83927
Hi @draveness , since you worked on the perf tests not long time ago, do you have any idea what is going on?

[2019-10-15 01:28] draveness commented on #83927
Not sure, but I could take a look.

[2019-10-15 01:31] ahg-g commented on #83927
Thanks

That would be great, thanks.

[2019-10-15 01:52] zouyee commented on #83889
/assign

[2019-10-15 01:56] zouyee commented on #83889
a、`/stats/<pod name>/<container name>` Default namespace is default
b、`curl http://xx:10255/stats/kube-system/prometheus-node-exporter-9tg5j/c182f4c6-e973-11e9-b783-00505683371b/prometheus-node-exporter`
It's work well.

[2019-10-15 02:00] ahg-g opened #83928 "[migration phase 1] GeneralPredicates as filter plugin"
**What would you like to be added**:

Add a filter plugin that calls into GeneralPredicates, example #83460.

GeneralPredicates is supposed to be mapped to a plugin configuration that produces the set of plugins that it run, however that will require refactoring the compatibility test, which we can do later in phase 2 of the migration, and so for now we will map GeneralPredicates to an actual plug

[2019-10-15 02:01] draveness commented on #83928
/assign

[2019-10-15 02:01] draveness commented on #83928
/remove-help

[2019-10-15 02:06] ahg-g commented on #83928
for lack of a better name, lets call it ```GeneralFilter```, and clearly comment that this will be removed once predicates are moved to run natively in the plugins.

[2019-10-15 02:22] Davidrjx commented on #76146
@iamdenchik thanks, i had been creating HA cluster, that should not be your situation.

[2019-10-15 02:27] zhangxingdeppon commented on #83672
@calmkart
okay，i  upload ten minutes log,you can see it has some warn log about autoscaling/metric,maybe could ignore the information,beacause we don't need to configure metric-server to autoscaling,tks.
[exceptionPod-relatedLog-ten-minute.log](https://github.com/kubernetes/kubernetes/files/3727136/exceptionPod-relatedLog-ten-minute.log)

[2019-10-15 02:42] Davidrjx opened #83929 "HA cluster by kubeadm 1.16.0: controller manager restart exceptionally"
**What happened**:
Overnight, a controller manager pod in HA cluster with three controlplane nodes had restarted once. two out of three controller manager contains weird logs resembles:
[code]
**What you expected to happen**:
When not deploying any applications, all controlplane component pods should be keeping normal state，namely no any restart but running
**How to reproduce it (as minimally and

[2019-10-15 02:44] Davidrjx commented on #83929
/sig controller-runtime

[2019-10-15 02:45] zouyee commented on #83929
/remove-kind bug

[2019-10-15 02:49] zouyee commented on #83912
cc @liggitt

[2019-10-15 02:51] Davidrjx commented on #83929
@kubernetes/sig-api-machinery-test-failures

[2019-10-15 02:53] zouyee commented on #83889
/sig node

[2019-10-15 02:55] liggitt commented on #83912
I notice you are using a different version of github.com/gogo/protobuf than k8s 1.16. If you match versions, do you still encounter the same issue?

[2019-10-15 02:58] howardjohn commented on #83912
I think I tried updating gogo to the latest version, but looks like k8s is on an older version. Tomorrow I'll try reproducing this on a minimal go.mod and play around with different version combinations

[2019-10-15 03:06] liggitt commented on #83912
One other question, did the merge with 1.15 k8s levels actually work, or did it just not error? I see a log message that might indicate the merge was encountering an error and just skipping something internally.

[2019-10-15 03:21] skingFD commented on #83884
Thanks! After changing my network component from Weave to Calico, the problem is solved.

[2019-10-15 03:21] #83884 closed

[2019-10-15 03:23] Aisuko commented on #60987
I hit the same issue on Kubernetes 1.15.4.

[2019-10-15 03:25] zouyee commented on #83889
/priority awaiting-more-evidence
/triage need-information

[2019-10-15 03:26] zouyee commented on #83889
/assign

[2019-10-15 03:30] cofyc commented on #83913
it makes sense, this utility is used by storage tests for now. we can remove kubectl dependency at first.

[2019-10-15 03:35] cofyc commented on #83913
/assign
I can help with this.

[2019-10-15 03:41] linbingdouzhe commented on #29298
@whereisaaron
as you said , subnet need a tag , so that kubernetes can find the correct sunbets .

[2019-10-15 03:48] ahg-g commented on #83927
It seems that the test is stuck in the following for loop, it is trying to list the pods, but nothing is returned: https://github.com/kubernetes/kubernetes/blob/63bd1d7a5cda357f2d292a62dcbd6487852fc236/test/integration/scheduler_perf/scheduler_bench_test.go#L383

The logs show that the scheduler is working fine, there are scheduler logs indicating that all the "setup" pods were bounded, and so it

[2019-10-15 03:59] ahg-g commented on #83927
ok, I found the difference: the podinformer the test uses to check the status is created with a filter: https://github.com/kubernetes/kubernetes/blob/63bd1d7a5cda357f2d292a62dcbd6487852fc236/test/integration/scheduler_perf/scheduler_bench_test.go#L367

while the scheduler is created without one:
https://github.com/kubernetes/kubernetes/blob/63bd1d7a5cda357f2d292a62dcbd6487852fc236/test/integration

[2019-10-15 04:36] draveness commented on #83927
https://github.com/kubernetes/kubernetes/pull/80697 introduced this problem. I found this issue too and trying to fix this.

[2019-10-15 04:45] hprateek43 commented on #83873
Is a PR open for this? If not, I can pick it.

[2019-10-15 04:46] hprateek43 commented on #83848
@draveness Is someone working on this ? If not, you can assign it to me?

[2019-10-15 04:51] draveness commented on #83848
I'll send the PR, thanks

[2019-10-15 05:25] nilo19 opened #83933 "Azure VMSS misses properties in `instanceView`"
**What happened**:

The cluster is release-1.16.

When a VMSS is manually scaled up, some pointers in `instanceView` of the newly created nodes are nil. Here's the list of the missing ones:

- PlatformUpdateDomain
- PlatformFaultDomain
- ~~RdpThumbPrint~~
- ~~VMAgent~~
- ~~MaintenanceRedeployStatus~~
- ~~Extensions~~
- ~~VMHealth~~
- ~~BootDiagnostics~~

The strikeouts mean they are missing but we

[2019-10-15 05:25] nilo19 commented on #83933
/area provider-azure

[2019-10-15 05:28] feiskyer commented on #83933
/sig cloud-provider
/area provider/azure
/milestone v1.17

[2019-10-15 05:55] sarath4 opened #83936 "ExecStart=/usr/bin/kubelet $KUBELET_KUBECONFIG_ARGS $KUBELET_CONFIG_ARGS $KUBELET_KUBEADM_ARGS $KUBELET_EXTRA_ARGS (code=exited, status=255)"
After i have installed the kubelet am getting the exited and service never starts.  Could you please help.

OS: CentOS Linux 7
Version of services:
[root@node system]# kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.1", GitCommit:"d647ddbd755faf07169599a625faf302ffc34458", GitTreeState:"clean", BuildDate:"2019-10-02T16:58:27Z", GoVersion:"go1.12.10", Compile

[2019-10-15 05:58] johscheuer commented on #83884
Just for the note we also had some issues when we tested network policies with weave and this was the issue thread (I think there is already a solution available which is not activated per default): https://github.com/weaveworks/weave/issues/3452

[2019-10-15 06:04] pohly opened #83937 "refactor test/e2e/common"
**What would you like to be added**:

`test/e2e/common` is a mixture of tests (`test/e2e/common/downward_api.go`) and utility code (`test/e2e/common/events.go`). It would be nice to refactor it so that the utility code can be imported without also importing the tests. Most likely a better place for the utility code is under `test/e2e/framework`.

**Why is this needed**:

The specific reason was th

[2019-10-15 06:21] wojtek-t commented on #83898
I won't get to it any time soon TBH. So marking lifecycle frozen for now.

/lifecycle frozen

[2019-10-15 06:23] luciferhs opened #83938 "kube-apiserver[14274]: E1015 10:17:36.804307 14274 watcher.go:214] watch chan error: etcdserver: mvcc: required revision has been compacted"
[code]
[code]

[2019-10-15 06:32] joeyxp commented on #83889
`requests.get('http://192.168.0.196:10255/stats/jupyter/py17484279885885120/464e363c-ee5c-11e9-a89b-00163e09f676/py17484279885885120')` works for me. The uuid can be any wording.

[2019-10-15 06:32] #83889 closed

[2019-10-15 06:38] TeCHiScy commented on #71765
/reopen

[2019-10-15 06:40] pohly commented on #83913
@okartau also has some code already.

[2019-10-15 06:45] TeCHiScy commented on #71765
Really need this feature, any collaborator can mark it as open?

[2019-10-15 06:52] lichuqiang commented on #83873
@hprateek43 Thanks, I'm working on this.

[2019-10-15 06:54] rajusharma commented on #77383
We don't want to set PDB on cronjobs. The issue is, we have some deployments and cronjobs with same labels and PDB doesn't work for those deployments which have same label as cronjobs.

[2019-10-15 07:01] okartau commented on #83913
Yes, I created (based on ideas from @pohly mostly) change:
https://github.com/intel/pmem-csi/pull/427/commits/f902111346ac9bec08deeeab20cd82b39c117dbe
which eliminates run of local kubectl and  thus enables to run VolumeIO and VolumeMode test suites in pmem-csi CI.

This was still on older k8s base.
In connection to currenlty ongoing rebase to k8s 1.16, it seems we need more framework parameter pa

[2019-10-15 07:02] cofyc commented on #83913
oh, I already sent a PR (https://github.com/kubernetes/kubernetes/pull/83930) to k/k. in the master k8s code, we can simply use `ExecCommandInContainerWithFullOutput` to run the command.

[2019-10-15 07:06] cofyc commented on #83913
I simply remove kubectl dependency from the HostExec. Yours does more, free feel to make any additional improvements.

[2019-10-15 07:16] gayathrimenathtcl commented on #83304
No, I am able to see the base64 encoded certificate while describing `validatingwebhookconfigurations.admissionregistration.k8s.io`

[2019-10-15 07:19] joeyxp commented on #83889
The stats for a specific pod updates about every 10 seconds?  How can i make it more frequent?

[2019-10-15 07:32] pohly commented on #83913
Yes, we need a more complete solution than the one provided by https://github.com/kubernetes/kubernetes/pull/83930.

[2019-10-15 08:13] barkbay commented on #83895
@liggitt thanks for your feedback, could you assign me to this issue ? I will try to provide a fix.

[2019-10-15 08:57] phiremande commented on #83458
@evanmcclure , if you haven't started your work yet, let me know if I can raise a PR for this issue. I have the change ready.

[2019-10-15 09:04] smileusd commented on #83885
duplicated with https://github.com/kubernetes/kubernetes/issues/79780, close this

[2019-10-15 09:04] #83885 closed

[2019-10-15 09:04] droslean commented on #83888
/reopen

Let's keep this issue opened until the next tests will pass.

[2019-10-15 09:46] yangruiray commented on #69973
this helps me a lot, thx. I just mv the file out of the folder, then the link generate a new one. It solves unauthorized problem, node back to Ready again

[2019-10-15 09:51] jkaniuk commented on #82182
Problem started with long response times from etcd, but later on apiserver was overwhelmed with incoming requests (lists by controllers which watches timed out, lost leases, etc.) and never managed to clear its incoming queue. Priority and Fairness should help with recovering in such cases.
Separately, we also discovered problem with go http library, where load on incoming requests to apiserver ca

[2019-10-15 10:04] droslean commented on #83888
Next run of the job passed. [ci-release-build-packages-debs/1184039767226978304](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-release-build-packages-debs/1184039767226978304)
Closing...

/close

[2019-10-15 10:04] #83888 closed

[2019-10-15 10:15] m1kola commented on #52218
#76471 was merged so it's now possible to filter logs by container name on the client using `grep`:

[code]

[2019-10-15 10:24] johscheuer commented on #83606
Can you try the following from one of your nodes:

[code]

use this IP address and try to curl it:

[code]

How did you setup your cluster? Please check the following things:
- Ensure that the `podSubnet` (default for calico: `192.168.0.0/16`) is not overlapping with a real subnet
- Ensure that the `serviceSubnet` (default: `10.96.0.0/12`) is not overlapping with a real subnet (e.g. your workers)

[2019-10-15 10:24] kylefoley76 commented on #67858
So what is the solution to this problem.

I am getting the following error message

`Admins-MacBook-Pro-4:downloads kylefoley$ gcloud compute scp lst_calc.txt instance-1:/home/kylefoley76/hey.txt
No zone specified. Using zone [us-central1-a] for instance: [instance-1].
Updating project ssh metadata...⠧Updated [https://www.googleapis.com/compute/v1/projects/zzz-zzz-250022].
Updating project ssh met

[2019-10-15 10:46] lichuqiang commented on #83873
@ahg-g To my surprise, the anti-affinity related test cases cannot get passed after simply migrating to the new framework. I think the only difference is that we don't have predicateMetadata provided in the new framework.

Looking into the code, seems we have difference in the behavior of processing anti-affinity with/without PredicateMetadata provided: [here](https://github.com/kubernetes/kuberne

[2019-10-15 10:50] cofyc commented on #66567
@jingxu97

I might make a mistake. I guess the userspace filesystem process (I was using ceph-fuse) was restarted by systemd.

yes, the kubelet can remount the volume and restarts the container to update the stale bind mounts in the container.

However, it's too complicated I guess. As a workaround solution, users can run the userspace filesystem process in a process supervisor (systemd), then the

[2019-10-15 10:55] songokudbz commented on #79523
Do you have a timeline when this will be released?

[2019-10-15 11:19] andy199 opened #83943 "help me kubeadm install 1.16.1 kubectl get cs scheduler <unknown>"
[root@k8s-master01 ~]# kubectl get cs
NAME                 AGE
controller-manager   <unknown>
scheduler            <unknown>
etcd-0               <unknown>

[2019-10-15 11:37] derekrprice commented on #64137
@zloo I'm in AKS, so my kernel version is supposed to be managed and their support dragging their feet on my requests to update systemd.  Your comment lists incompatible versions, but what kernel and systemd versions did you settle on?  Maybe if I go in armed with that data it will help with my support ticket.  Thanks!

[2019-10-15 11:41] CallMeFoxie commented on #64137
@derekrprice Most info I had (and that we settled on with @zloo ) is in this post https://github.com/kubernetes/kubernetes/issues/64137#issuecomment-398715410 if that helps?

[2019-10-15 11:42] hprateek43 commented on #83917
Your description is not descriptive enough. Can you be more verbose about the current limitations and what changes you are planning to do, along with some example to show the improvement ?

[2019-10-15 11:42] johscheuer commented on #83561
I think this actually is a bug in the pod autoscaler since the endpoint controller will also remove the pod from the endpoints list (which means it doesn't receive any traffic anymore). Probably nobody noticed this since most of the pods are terminated pretty fast.

[2019-10-15 11:42] saschagrunert commented on #78134
I'm working on this one now.
/assign

[2019-10-15 11:58] derekrprice commented on #64137
@CallMeFoxie Ah, yes, sorry.  I read @zloo's post too fast.  Sounds like if I can get to systemd 232 it might be fixed.  Thanks!

Incidentally, [Debian #912411](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=912411) may also be the same bug.  That one's reported against systemd 230.

[2019-10-15 11:59] barkbay commented on #83895
Thanks, I have opened a PR: https://github.com/kubernetes/kubernetes/pull/83945

[2019-10-15 12:02] jsafrane commented on #74552
When fixing this, please enable also its e2e test (i.e. revert https://github.com/kubernetes/kubernetes/pull/83946)

[2019-10-15 12:02] CallMeFoxie commented on #64137
yup, we "fought" in the same company with @zloo :) they were using Ubuntu Xenial with newer custom kernel and we were using Debian Stretch with stock kernel.
Looking at that Debian bug it looks like backports so yeah, some odd combination of kernel and systemd :).

[2019-10-15 12:28] weizhouBlue commented on #81775
hi @njuicsgz
I have a doubt with you test that you resolved this problem just by deleting rs immediately when pod enters Terminating state. Can you tell your ipvs sysctl setting ?

according to my understanding , kube-proxy need to set net.ipv4.vs.conntrack=1 to use masquarade and set net.ipv4.vs.conn_reuse_mode=0 .
BTW, if set net.ipv4.vs.conn_reuse_mode=1 , this failover issue will not produce b

[2019-10-15 13:15] droslean opened #83947 "[Stale Test] Conformance Openstack (ci-cloud-provider-openstack-acceptance-test-e2e-conformance)"
**Which jobs are staling**:
Conformance Openstack (ci-cloud-provider-openstack-acceptance-test-e2e-conformance)

The last run was on 11 Oct

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#Conformance%20-%20OpenStack

[2019-10-15 13:16] droslean commented on #83947
/sig cloud-provider

[2019-10-15 13:18] droslean commented on #83947
/cc @alenkacz @alejandrox1 @hasheddan @Verolop

[2019-10-15 13:19] militarpancho commented on #83781
This is an example manifest
`apiVersion: v1
kind: Pod
metadata:
  name: test-volume
spec:
  containers:
  - image: docker:19.03-dind
    name: dind
    volumeMounts:
    - mountPath: /etc/docker/certs.d/registry.local:5000
      name: registry-certs
  volumes:
  - name: registry-certs
    secret:
      secretName: registry-certs
`

[2019-10-15 13:31] evanmcclure commented on #83458
I started, but haven’t been able to finish creating the PR. Go ahead and submit yours. Thanks.

Sent from my iPhone

[2019-10-15 13:32] wojtek-t opened #83948 "PDB controller doesn't handle tombstones"
From integration tests:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/83709/pull-kubernetes-integration/1184076134967414784/

[code]

@kubernetes/sig-apps-bugs

[2019-10-15 14:01] ahg-g commented on #83873
The predicate metadata is available in the cycleState, here is an example:
https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/plugins/noderesources/node_resources.go#L45-L48

I will let @Huang-Wei answer to the question why the else path is not behaving the same, that path is executed in the cluster autoscaler case, not the scheduler, we still need to make sure it behaves

[2019-10-15 14:01] zouyee commented on #83948
/assign

[2019-10-15 14:03] tedyu commented on #83948
[code]
How about adding a check for the cast ?

[2019-10-15 14:20] krzysied opened #83954 "Node lifecycle controller - API calls shouldn't be executed under the lock"
Node lifecycle controller should be re-implemented so there is no api calls executed under the lock.

[2019-10-15 14:32] lichuqiang commented on #83873
Oh, got it! thanks

[2019-10-15 14:34] tedyu commented on #83938
Can you post more of the kube-apiserver log (prior to the error) ?

Thanks

[2019-10-15 14:42] jstaf commented on #57250
So I tried this out on a few staging clusters and it appears to be work just fine - here are the steps (these instructions assume you're using nginx-ingress with an AWS NLB load balancer):

* Make sure `externalTrafficPolicy` for nginx-ingress is set to `Cluster`
* Enable proxy protocol v2 in the NLB target groups manually via the AWS EC2 dashboard (click on the target group and hit "edit attribut

[2019-10-15 14:43] liu-cong commented on #83826
Hi,

Please take a look at the commit before mine. I was just trying to maintain
the same logic as before. The logic about podInfo.TimeStamp wasn't changed
by my commit.

On Sat, Oct 12, 2019 at 3:28 AM Yuqi Wang <notifications@github.com> wrote:

[2019-10-15 14:59] asaushkin opened #83955 "kubectl apply failed when configmap is big"
**What happened**:

I have created configmap with a set of libraries that I want use inside a pod. Content of this configmap looks like that:

[code]

Total size of this file is

[code]

When I execute `kubectl apply` I got

[code]

**What you expected to happen**:

Run this command without any issues

**How to reproduce it (as minimally and precisely as possible)**:

Create a configMap with prett

[2019-10-15 15:02] yqwang-ms commented on #83826
@liu-cong I knew that later, so I deleted it. Sorry to bother you....

[2019-10-15 15:08] liu-cong commented on #83826
No worries at all :)

On Tue, Oct 15, 2019 at 11:05 AM Yuqi Wang <notifications@github.com> wrote:

[2019-10-15 15:25] asaushkin commented on #83955
I found that it is etcd limitation. So, I close this issue.

[2019-10-15 15:25] #83955 closed

[2019-10-15 15:29] liggitt commented on #83912
(the reason golang proto merge still works is that the generated XXX_Merge method implements the gogo merger interface, not the golang merger interface, so golang still falls back to reflect-driven mergeStruct)

[2019-10-15 15:50] odinuge commented on #82418
Tests are now passing, https://github.com/kubernetes/kubernetes/pull/82812.

/close

[2019-10-15 15:50] #82418 closed

[2019-10-15 15:51] a200462790 opened #83958 "Support deploying Azure LoadBalancers to different peered VNet"
**What would you like to be added**:
It would be great to allow specifying which Vnet you would like your LB deployed to via Service Annotation.

Azure supports deploying LoadBalancers to peered Virtual Networks when the standard SKU is used.
[Vnet Peering with LoadBalancers](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-peering-overview#requirements-and-constraints)

**Wh

[2019-10-15 15:55] liggitt commented on #83912
Reproducer at https://github.com/liggitt/protobuf/commits/unsized-merge

[code]

[2019-10-15 15:57] a200462790 commented on #83958
/sig cloud-provider

[2019-10-15 15:58] mortent commented on #77383
Ah, I see. I think your best option here is to make sure the pods created by the deployments have a label set that makes it possible to target them in the PDB without also capturing the pods from the cronjobs.

[2019-10-15 16:56] bowei commented on #73527
/good-first-issue

[2019-10-15 16:56] bowei commented on #73527
/help-wanted

[2019-10-15 17:09] spadgett opened #83961 "No way to request table format using WebSockets"
**What happened**:

#71548 added support for `Table` and `PartialObjectMetadata` on watch. This does not work using WebSockets, however, since there is no way to pass an `Accept` header for content negotiation.

**What you expected to happen**:

A `format` query parameter to request `application/json;as=Table;v=v1beta1;g=meta.k8s.io` when watching a resource using WebSockets or some other way to p

[2019-10-15 17:11] smarterclayton commented on #83961
/assign @smarterclayton
@kubernetes/sig-api-machinery-bugs

I am so embarrassed...

[2019-10-15 17:11] bluskool commented on #61486
This workaround did not work for us in EKS. It resulted in the `Failed to retrieve node info: nodes "${node_name}" not found` in the kube-proxy logs. We have a newer version of kube-proxy, so that might be the issue. `--hostname-override=$(NODE_NAME)` instead worked for us. Here is the relevant portion of our kube-proxy manifest.
[code]

[2019-10-15 17:47] lentzi90 commented on #83321
I think I also run into this on 13th Oct:
[code]
Full logs:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/78623/pull-kubernetes-integration/1183345872050589697/build-log.txt

[2019-10-15 18:00] mtaufen commented on #83917
Now that util/metrics has been moved to component-base, folks are looking for places that depend directly on prometheus that should instead depend on util/metrics so we're using a standard metrics interface across the project.

@conwaychriscosmo is helping with this effort and identified etcd-version-monitor as a relatively small component with a direct prometheus dependency that they could start

[2019-10-15 18:08] wwitzel3 commented on #71714
/remove-lifecycle stale

[2019-10-15 18:30] wojtek-t commented on #83948
On Tue, Oct 15, 2019 at 4:04 PM Ted Yu <notifications@github.com> wrote:

Nope - you need something like that:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replicaset/replica_set.go#L379

[2019-10-15 18:32] tpoindessous commented on #66450
I don't think this is resolved

Thanks

/remove-lifecycle stale

[2019-10-15 18:42] tedyu commented on #83948
I was looking at the GetPodFromDeleteAction when I noticed PR opened for this issue.
Hence I didn't update my snippet.

[2019-10-15 18:46] tedyu commented on #71714
commit 2ed3272a5e428690c066a7c09e5c6a2fad3d74b6
Author: Michael FIG <michael@liveblockauctions.com>
Date:   Wed May 15 11:48:17 2019 -0600

    Honour NewFilteredDynamicSharedInformerFactory namespace argument

[2019-10-15 19:09] Bessonov commented on #57660
/remove-lifecycle stale

[2019-10-15 19:42] jktomer commented on #83876
By backoff do you mean the fallback call to prometheus.Register in the various legacyregistry register functions?

[2019-10-15 20:15] tedyu commented on #69299
/remove-lifecycle rotten

[2019-10-15 20:18] alitoufighi commented on #83612
This happened again today. The left side is my worker node which I changed `nodefs.inodesFree` value in `evictionHard` section from 5% to 15%. It evicted all of pods after restarting kubelet.

![image](https://user-images.githubusercontent.com/30089812/66866050-5ff45080-efa5-11e9-9945-2a63e0fc6caf.png)

In logs, I see this for all of my Pods:
[code]
Then it starts detaching volumes and then it rem

[2019-10-15 20:43] hightoxicity commented on #75262
Agree with @juliantaylor that not creating the VS at all would at least allow BGP routing do its job and allow to send packets to proper nodes or maybe the choice to blackhole should only be an option, not the rule...

[2019-10-15 20:58] tedyu commented on #83612
[code]
I think this is because the admission decision is made for all Pods when there is pressure.
It seems we can introduce staged eviction where subset of the Pods are evicted and recheck for resource pressure.

[2019-10-15 21:15] justaugustus commented on #81760
/area release-eng
/priority important-soon

[2019-10-15 21:25] liggitt commented on #83916
In the issue description, both delete commands set a grace period of 60 seconds.

Grace period and deletion timestamp can be updated/shortened with additional delete requests.

See the following example:

In one tab, watch pod events:
[code]

Then create a pod:
[code]

Observe an ADDED event with this metadata:
[code]

Delete with a 120 second grace period:
[code]

Observe a MODIFIED event with th

[2019-10-15 21:31] DarrienG commented on #77216
It's hard for us to pinpoint, but the answer is probably yes. It was during the high point of the workday.

I'll see if I can catch it the next time it happens and look at load then.

[2019-10-15 22:13] mucahitkurt commented on #72346
Hi @msau42, Is not below concern still valid for the current implementation that checks mount point? I mean if the plugin doesn't properly unmount the volume plugin then user's pods will fail to get deleted.

`The main consequence is that we may expose bugs volume plugins that didn't cleanup properly (user's pods will fail to get deleted).`

[2019-10-15 23:10] neolit123 opened #83977 "the k8s-app label in /cluster addons should be disallowed"
please, see:
https://github.com/kubernetes/enhancements/issues/1314
https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/20190916-noderestriction-pods.md

the feature gate MirrorPodNodeRestriction is being added in 1.17 and will be on by default in 1.19.

/sig cluster-lifecycle
/sig cloud-provider
/area test
/kind feature
/priority important-longterm

cc @tallclair @MrHohn @cheftak

[2019-10-15 23:16] BenTheElder commented on #83977
I'm somewhat inclined to suggest @tallclair -- I feel like https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/20190916-noderestriction-pods.md#label-restrictions should also mention updating kube-up (also, does kops need anything? @justinsb)

[2019-10-15 23:32] #75581 closed

[2019-10-15 23:41] neolit123 commented on #83977
https://github.com/kubernetes/kops/search?q=%22k8s-app%22&unscoped_q=%22k8s-app%22

i remembered that kops is also a user of `k8s-app`. also kubeadm has it in it's upgrade process.

hound search:
https://cs.k8s.io/?q=%22k8s-app%22&i=nope&files=&repos=

[2019-10-15 23:55] tpepper opened #83981 "hack/cherry_pick_pull.sh: fails to fetch kind/priority/sig"
I've been seeing a lot of cherry picks on patch release branches where kind/priority/sig are not set automatically from the parent PR on master.  I wondered if maybe this was due to the person not being an org member, but I just submitted:

https://github.com/kubernetes/kubernetes/pull/83980

via the cherry pick automation.  It did not automatically get its kind/priority/sig from my

https://githu

[2019-10-16 00:05] awprice commented on #78416
@derekwaynecarr Are you able to provide any update on this issue?

[2019-10-16 00:13] neolit123 commented on #83943
instead of using `kubectl get cs` look at `kubectl get po -A` and check the status of your control-plane pods. there was a proposal to deprecate `cs` (ComponentStatus) at some point.

thanks
/remove-kind bug
/triage support
/close

[2019-10-16 00:13] #83943 closed

[2019-10-16 00:20] neolit123 commented on #83936
hi, the kubelet that is deployed next to the kubeadm package will crashloop until you start `kubeadm init`. check the status of the kubelet after `kubeadm init` finishes.

/triage support

[2019-10-16 00:21] neolit123 commented on #83936
/remove-kind bug
/sig cluster-lifecycle

[2019-10-16 01:03] cblecker commented on #76093
/remove-lifecycle stale

[2019-10-16 01:09] ramineni commented on #83947
@droslean we have been seeing multiple issues in the past week. we have fixed various issues related to kubetest biuild, go version etc https://github.com/theopenlab/openlab-zuul-jobs/pull/678 , https://github.com/theopenlab/openlab-zuul-jobs/pull/679 , one more fix in progress, https://github.com/theopenlab/openlab-zuul-jobs/pull/682  , hopefully should be resolved soon.

[2019-10-16 01:17] RainbowMango commented on #83917
@mtaufen  @conwaychriscosmo
Here is the PR that migrates etcd version monitor to component-base. https://github.com/kubernetes/kubernetes/pull/83283

The next iteration should after https://github.com/kubernetes/kubernetes/pull/83722.

[2019-10-16 01:20] rajusharma commented on #77383
Yeah we are doing that now by setting different labels for deployment pods and job pods.
Do you think this will remain same or considering it as bug it will be fixed in near future?