[2019-08-12 21:55] jingxu97 opened #81317 "IsLocalEphemeralVolume function misses secret volume type"
In the function IsLocalEphemeralVolume to check whether volume is using ephemeral storage or not, it misses "secret" volume type.
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/util.go#L544

[2019-08-12 22:04] Huang-Wei commented on #81316
The changes has been reverted by #81295.

/cc @ravisantoshgudimetla

[2019-08-12 22:13] tamalsaha commented on #81310
Thanks for the quick response. I am using the default setting of minikube. I just added `--v=10` to raise log level.

No.

No.

Here the steps, if you want to reproduce it locally using minikube:

[code]

Here are kube-apiserver flags:

[code]

[2019-08-12 22:20] msau42 commented on #81191
Part 1b of fix: https://github.com/kubernetes-csi/external-snapshotter/pull/160

[2019-08-12 22:24] msau42 opened #81318 "Enable snapshot tests for pd csi driver"
**What would you like to be added**:
Enable snapshot tests for gce-pd csi driver tests in k/k

**Why is this needed**:
Snapshot is moving to beta in 1.16. We should enable snapshot e2e tests with a real storage driver.

[2019-08-12 22:24] msau42 commented on #81318
/assign @jingxu97
cc @xing-yang

[2019-08-12 22:24] msau42 commented on #81318
/sig storage

[2019-08-12 22:55] cji commented on #81128
Yeah, I used the wrong template to start with on all of these and made a mess. Really appreciate the help cleaning up and labeling them all properly!

[2019-08-12 22:58] msau42 commented on #80967
I'm unsure if there's a great general solution we can do here.  Would it be worth considering adding an aws scheduler plugin to handle this? With volume attach limits, we made a fundamental design assumption that the attach limits are only for volumes and no other devices.

[2019-08-12 23:14] cmluciano commented on #73157
cc @khenidak I think you mentioned that this may be an issue on the cloud-provider side. Can you provide any feedback on if this is something that we should just punt until the forthcoming dualstack GA?

[2019-08-12 23:44] tallclair commented on #81089
I think that's a scenario that fsGroup would address. That said, I agree that it shouldn't be necessary (at least to manually add it) in this case.

[2019-08-12 23:45] tallclair commented on #81089
This has a lot of overlap (maybe a dupe?) with https://github.com/kubernetes/kubernetes/issues/2630

[2019-08-12 23:48] M00nF1sh commented on #80897
related to https://github.com/kubernetes/kubernetes/issues/61486

[2019-08-12 23:49] tallclair commented on #58211
/remove-lifecycle stale

This should be covered by https://github.com/kubernetes/enhancements/pull/1148

[2019-08-12 23:50] tallclair commented on #58211
/milestone v1.17

[2019-08-13 00:13] servicemeshbook commented on #27010
Is it possible for you to share - how you did this?

[2019-08-13 00:16] bsalamat commented on #81214
I do agree that we can make max back-off duration configurable.

We have a daily performance test that runs latest version of K8s built from HEAD and runs a real cluster and measures performance of various components, including the scheduler. In that setup, the scheduler to API server QPS is rate limited at 100 qps. You can see the graph for a 5K node cluster [here](http://perf-dash.k8s.io/#/?jobn

[2019-08-13 00:17] skwokie commented on #39188
**What happened**:
I think I've reproduced this; please feel free to let me know if my expectation is wrong.
I've made a deployment with the following ports declaration:
[code]
When I describe the pod, it has skipped mentioning the port (10000) being opened for UDP.
[code]
**Environment**:
- Kubernetes version (use `kubectl version`):
`$ kubectl version
Client Version: version.Info{Major:"1", Mino

[2019-08-13 00:22] huydinhle commented on #75478
@suker200 @andyzhangx I ran into this issue as well, is there a way to fix this with vmss?

[2019-08-13 00:22] vikramkhatri commented on #27010
@ahelwer

Is it possible for you to share your solution?

[2019-08-13 01:04] andyzhangx commented on #75478
@huydinhle could you provide the detailed error info and k8s version?

[2019-08-13 01:36] zhlhahaha opened #81323 "Question about local E2E test"
Recently I am trying to do e2e test in my local server and I followed this guidance,
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/e2e-tests.md#local-clusters

However, I found local e2e test had been removed from source code. I tracked the change log, but did not find any information on why remove it.
Here are two pr for removing the code:
https://github.com/k

[2019-08-13 01:39] xiaoanyunfei commented on #60987
https://github.com/kubernetes/kubernetes/pull/80973
This pr can fix `orphaned pod volume` which using flexvolume

[2019-08-13 01:42] WanLinghao commented on #81284
seems duplicate #72593

[2019-08-13 01:48] liggitt commented on #81315
For existing clusters that don't currently set it, is setting it to anything other than the current default a breaking change?

[2019-08-13 01:58] choury opened #81324 "cpumanager will remove all entries in state file after restart."
**What happened**:
PR #68619 , it will remove "inactive containers" while reconciling. But the cpumanager started very beginning, it will get empty activePods at it first run. This make state file no sense.

**What you expected to happen**:
We should wait a moment or  notification from podmanager before starting reconcile.
 Some log may be added before remove "inactive containers".

**How to repro

[2019-08-13 01:59] choury commented on #81324
/sig node

[2019-08-13 02:02] verb commented on #10834
/remove-lifecycle stale

[2019-08-13 02:50] tedyu commented on #81324
In reconcileState :
[code]
You mean the cpu assignments would be wiped for the first reconciliation ?

[2019-08-13 02:53] hex108 commented on #81238
/assign

Find the root cause now, will send a PR soon.

[2019-08-13 02:59] choury commented on #81324
@tedyu Yes, you can test it by restarting kubelet.

[2019-08-13 03:04] liucimin commented on #81256
@bluebeach
Yes.It because if u use the privileged.The container will use the host's device.
So all the nvidia-gpu in the host's  /dev will also in the contianer.
So in the container will see all the gpu cards.

Maybe u can use capabilities to get the Container Capability to limit the conatiner use all the root devices.
[code]

[2019-08-13 03:04] tedyu commented on #81324
Do you see any of the following log:
[code]

[2019-08-13 03:10] choury commented on #81324
I see this
`klog.V(4).Infof("[cpumanager] reconcileState: container is not present in state - trying to add (pod: %s, container: %s, container id: %s)", pod.Name, container.Name, containerID)`

[2019-08-13 03:36] hex108 commented on #81238
@tedyu Thanks for your work! Not sure whether you are still investigating it, the flaky test is impacting many PRs now, so I send a PR for it now, sorry for it.

[2019-08-13 03:47] ReturnHttp402 commented on #23726
try reinstall minikube if you have one or try using` kubectl proxy --port=8080`.

[2019-08-13 03:48] liggitt commented on #81114
If you want to, go ahead

[2019-08-13 03:48] liggitt commented on #75777
cc @roycaihw

[2019-08-13 03:49] mouyang opened #81329 "When creating a cronjob, Reference an existing job"
**What would you like to be added**:

An ad-hoc run of a cronjob can be triggered by using the `kubectl job --from=<cronjob>`.  The inverse operation should be available as well:

Sample Command Line: `kubectl create cronjob --from-job=<job>`

Sample YAML definition:
[code]

**Why is this needed**:

Usability from multiple perspectives:
* For unit testing, it is more intuitive to verify a job work

[2019-08-13 03:54] yqwang-ms commented on #81285
/sig api

[2019-08-13 04:00] vegemitecheesetoast commented on #81121
thockin@ let me know that we've added a util function for this:  https://github.com/kubernetes/utils/pull/107

Step one is to re-vendor this lib and then use that function:

https://github.com/kubernetes/community/blob/9258fa171f569a33b62a07239c10bce137598527/contributors/devel/sig-architecture/vendor.md#adding-or-updating-a-dependency

I'm still trying to work out what re-vendoring is and figure

[2019-08-13 04:01] liggitt commented on #75791
when using HTTP/1.1, even if kube-proxy randomly balanced (instead of round-robin, etc), enough concurrent requests would force new connections to open and even out over the long-run

when using HTTP/2, concurrent requests multiplex over a single connection, so fewer connections are opened, and it is more likely a lopsided traffic distribution will result

[2019-08-13 04:27] zouyee commented on #81324
/assign

[2019-08-13 04:32] zigmund commented on #67577
@chiluk tested with GOMAXPROCS=8 vs GOMAXPROCS=10 with cpu.limit=8 - not a big difference, something about 1-2%.

[2019-08-13 04:51] gustavovalverde commented on #77986
This doesn't allow to use GKE with NFS Filestore in Google; as a non-root user

P.D.: Who runs their containers as root?

[2019-08-13 05:16] thockin commented on #81315
Yes.  You can not really change it (well, you can expand it, but not
totally move it), unless you delete ALL services, including
kubernetes.default.

I filed this aspirationally.  It's not on fire, it's just a dumb thing to
have provided a default for.

On Mon, Aug 12, 2019, 6:49 PM Jordan Liggitt <notifications@github.com>
wrote:

[2019-08-13 06:29] vikaschoudhary16 opened #81333 "kubectl/drain lib leaks goroutines and waits forever for the pods to be deleted"
**What happened**:
Two issues in the drain lib:
* Leaking goroutines:
In the drain logic, a goroutine is run for evicting each pod running on the node. If the eviction [fails with error "too many requests"](https://github.com/kubernetes/kubernetes/blob/0e0ea523392f1121f61f99ac30a9bc2043eaed90/staging/src/k8s.io/kubectl/pkg/cmd/drain/drain.go#L366-L368), goroutine continues to make eviction request

[2019-08-13 06:30] xieyanker opened #81334 "'kubectl logs -f' command dosen't print new logs continuously"
**What happened**:

Hello, I deploy k8s on mips64. But It only print previous logs, it can't print pod's new logs continuously when I use `kubectl logs -f` command.
And I view docker's log by `docker logs -f`, I get normal output.
I also try `kubectl logs --follow` with `kubectl logs --follow=true`. Both of them not work.

**What you expected to happen**:

`kubectl logs -f` can print pod's log con

[2019-08-13 06:40] mrwonkerz commented on #80288
@saiyan86 @PatrickLang
You can find the KubeProxy Log [here](https://pastebin.com/nvmkTm90)

[2019-08-13 06:51] ThibaultJanBeyer commented on #57801
My issue was that I had a wrong format of the secret:

It has to be:
[code]

But I only had `{"auths":{"test.com":{"username": … … …`

So make sure to have the `https://` and `/v2/` part.

[2019-08-13 07:03] NickrenREN commented on #81214
Even if we forget to filter pods for new predicates, the worst case is : moving all pods to active queue just like what it does today.

[2019-08-13 07:09] ZimbiX commented on #28746
Thanks @stszap.

We found the `Initialized` condition was not ready enough to be able to start watching the logs, but `ContainersReady` is.

It turns out waiting on the pod to start can be done by using the automatically provided `job-name` as the selector. I'm not sure whether that's GKE-specific though.

I haven't investigated whether running `kubectl logs --follow job/db-migrate` in the foregro

[2019-08-13 07:17] sjgiri commented on #77903
@lbernail I have configured the following
    net.ipv4.tcp_keepalive_time: 20
    net.ipv4.tcp_keepalive_intvl: 10
    net.ipv4.tcp_keepalive_probes: 3
    net.ipv4.tcp_retries2: 5

With this setting, the connection dies faster, "ActiveConnection" becomes 0 on ipvsadm and gets removed from peer list. It takes a max of ~90secs for an existing connection to fail and go through the next available pee

[2019-08-13 07:23] mgdevstack commented on #81000
/assign

[2019-08-13 08:00] mrkm4ntr commented on #81317
Secrets are mounted as tmpfs, so I think they are not local ephemeral "volumes".

[2019-08-13 08:32] jsafrane opened #81343 "Pod with a volume used only in initContainers can't start"
**What happened**:
This dummy pod uses a volume only in `initContainer` and the pod does not start:

[code]

Kubelet emits event `Error: cannot find volume "vol" to mount into container "busybox-init"` and the pod enters `Init:CreateContainerConfigError` status.

**What you expected to happen**:
The pod starts

**Anything else we need to know?**:
VolumeManager / DesiredStateOfWorldPopulator observ

[2019-08-13 08:45] jsafrane commented on #81343
I can't reproduce it outside of #81163.

Sorry for the noise
/close

[2019-08-13 08:45] #81343 closed

[2019-08-13 09:14] disconnect3d commented on #81124
Hey, as I initially found this issue I am happy to give some more details here :).

Yup, the problem relates only to processes on the host - while it is there in the description, it could be a bit more explicit (e.g. why exactly is it "on the host").

**Also while moving a process to a manager's cgroup (usually or always systemd's) on the host is probably not that scary, if this issue is combined

[2019-08-13 09:44] AnjanaAK commented on #80298
I am closing this issue as it was resolved by adding some keepalive settings.

My application was using GRPC protocol for the communication between some services. So, the solution required to set 2 types of keepalives.

TCP keepalives for the pods were set like these (to allow TCP to close the connection before IPVS does it) by adding an init container for the pods:
[code]
GRPC keepalive settings

[2019-08-13 09:44] #80298 closed

[2019-08-13 09:51] biswajit-crvsh commented on #73397
Now , the same issue does not go away even if you patch it like : stop kubelet, remove node and start kubelet again.

Looks like it is coming back again within 24 hours and make the pods evicted to another node. Which is annoying.
Running EKS : Kubernetes version: 1.13
kubelet version: Kubernetes v1.13.7-eks-c57ff8

[2019-08-13 10:00] cpu100 commented on #75777
This problem has been fixed in some [PR](https://github.com/kubernetes/kubernetes/blob/683e405f3179c5cbadd81c78af81d206be40c12a/staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/controller.go#L103). Someone has covered up the problem. It makes it harder for us to find the CPU problem behind it. thanks.

[2019-08-13 10:00] jfbai commented on #81143
`Retry-After` header would be date time as well.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After#Examples

[2019-08-13 10:01] towolf commented on #80968
We are pretty confident that we have been hit by this as well. It's bad.

Our API loadbalancer had a too short backend health check timeout and many nodes couldn't reach the API intermittently.

So we had lots of spurious episodes of this, where all Pods from a node where non-ready and removed from service endpoints.

[2019-08-13 10:09] biswajit-crvsh commented on #73397
/remove-lifecycle rotten

[2019-08-13 10:47] yvespp commented on #76308
See also: #60596

[2019-08-13 11:02] zhangxingdeppon opened #81351 "fluentd-elasticsearch always appear “No default index pattern. You must select or create one to continue”"

[2019-08-13 11:11] bertinatto commented on #81197
Looking at the diff https://github.com/kubernetes/kubernetes/compare/16d9a659d...6049253aa, seems like this is the PR @alejandrox1 is talking about:

https://github.com/kubernetes/kubernetes/pull/75071

[2019-08-13 11:50] #73235 closed

[2019-08-13 12:06] zjj2wry opened #81353 "kube proxy CrashLoopBackOff"
**What happened**:
kube-proxy-worker-d2wd6                                0/1     CrashLoopBackOff   1          6h36m

[code]
Return to normal after reboot pod(delete this pod)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
Client Version: versi

[2019-08-13 12:07] ricky1993 commented on #81214
Do we test scheduler with affinity/anti-affinity policy?
As #72479 mentioned, it is a really slow policy for scheduler.
I find our scheduler schedule a pod cost more than one second if the topology across the nodes for a 5K node cluster.

[2019-08-13 12:07] zjj2wry commented on #81353
/sig Network

[2019-08-13 12:10] disconnect3d commented on #81146
@cji I know this is also visible below but maybe it is worth to have another column with 'Status'? On the other hand this would require updating it manually :/.

[2019-08-13 12:16] k8s-release-robot opened #81354 "Update publishing-bot for release-1.16"
The branch [`release-1.16`][branch] was just created.

Please update the [publishing-bot's configuration][config] to also publish this
new branch.

[branch]: https://github.com/kubernetes/kubernetes/tree/release-1.16
[config]: https://github.com/kubernetes/kubernetes/tree/master/staging/publishing

/cc @kubernetes/publishing-bot-reviewers
/sig release
/area release-eng
/milestone v1.16

[2019-08-13 12:20] Joseph-Irving commented on #81329
/sig cli

[2019-08-13 12:25] danwinship commented on #69882
Well, the discussion above is incomplete; no one ever decided exactly how the data would be passed, and it's not clear to me if you're talking about just passing the annotations or if you mean the entire pod json. So, if you want to describe what you're planning to implement before writing too much code, that might be good.

[2019-08-13 13:06] derekrprice commented on #64137
@edernucci, I liked @reaperes's technique slightly better.  I called it "more surgical" because it checks that the pod is really gone before it clears a scope and it uses systemd to clear it, hopefully doing any other cleanup that systemd might need.  I won't pretend to understand everything that is going on, but @bjhaid's fix looks like it might be clearing scopes that could still be in use and n

[2019-08-13 13:39] taylorsilva commented on #80929
I've been busy but I'll get some logs soon (hopefully). I have this on my TODO 😅

[2019-08-13 13:48] ahelwer commented on #27010
@vikramkhatri In PowerShell:

[code]

The file input/output parameters are self-explanatory, the $Server/Intermediate/RootCertIdentifier parameters are some metadata text snippets which identify the different certs (example, $ServerCertIdentifier = ".cloudapp.azure.com").

[2019-08-13 14:02] alejandrox1 commented on #81197
Yes, I was looking at what @bertinatto mentioned.

I was checking more of these runs, https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/1160911612807221248#0:build-log.txt%3A44652 ,
and other than some flakes it really is just a timeout.

The big question is whether the timeout is due to the number of tests being run (all of them are being run serially) or wheth

[2019-08-13 14:17] liggitt commented on #54709
For e2e, this would also require starting the cluster being tested with a webhook config file, which is difficult to ensure.

[2019-08-13 14:19] liggitt commented on #81286
possibly related to https://github.com/kubernetes/enhancements/pull/1201 (controller talking to older API server which is serving discovery docs advertising API groups it doesn't actually have, and which fail discovery)

[2019-08-13 14:20] msau42 commented on #81197
When I initially created this (optional) pull job, tests took around 3-4 hrs.  8 is definitely not reasonable for a pull job. We should investigate which tests are taking a long time, and also see if we can trim test cases from the pull job. It's only meant to be a quick sanity check of basic CSI functional, not a comprehensive test suite (that's what the periodic jobs are for)

[2019-08-13 14:56] #69373 closed

[2019-08-13 14:57] oxddr opened #81360 "Compute and propagate EndpointsLastChangeTriggerTime for all cases"
This is important to implement [Networking programming latency SLI](https://github.com/kubernetes/community/blob/master/sig-scalability/slos/network_programming_latency.md). At the moment it's only changed when list of pods changes.

According to @wojtek-t this issue would be resolved, when server-side apply would be implemented and we timestamp all changes. At the moment it's hardly feasible to d

[2019-08-13 14:58] oxddr commented on #81360
/sig scalability

[2019-08-13 15:08] bclau commented on #76342
Can you list those tests so I can take a look as well?

Additionally, with the latest Centralization PR, I've included ``test-webserver`` into agnhost as you've previously wanted.

[2019-08-13 15:16] atheiman opened #81362 "Restrict service account token usage to CIDR IP range"
**What would you like to be added**: I'd like to restrict service account token usage to certain IP ranges.

**Why is this needed**: We use a cluster-admin token for GitLab to integrate with Kubernetes (deploys resources to cluster, views pod logs, displays resources in namespaces). Unfortunately GitLab allows this token to be retrieved from the GitLab UI and then the token can be used from anywhe

[2019-08-13 15:33] atheiman commented on #81362
/sig auth

[2019-08-13 15:33] msau42 commented on #81197
Sorry, ignore my last comment. I thought this was referring to the pull-csi-storage-serial job.

[2019-08-13 15:33] riking commented on #46287
Is this a duplicate of #4672 ?

[2019-08-13 15:34] neolit123 commented on #81351
/sig instrumentation

[2019-08-13 15:34] neolit123 commented on #81334
/sig cli

[2019-08-13 15:35] karthicktechnodare opened #81364 "Redeployment does not scale down the old Replica set"
@kubernetes/sig-cloud-provider-bugs When we are trying to redeploy the same deployment which is already running, Deployment does not do the rolling update from old replicaset to new replicaset which means old and new replica sets are keep on running.

I have tried to set the revisionHistoryLimit to 1 but it also does not help. Everytime, I am trying to delete/scale down the old replicaset by  kube

[2019-08-13 15:40] george-angel commented on #46287
It can be considered a subset, depending on how https://github.com/kubernetes/kubernetes/issues/4672 unfolds, currently its very broad.

[2019-08-13 15:44] cann0nf0dder commented on #80982
This could be a result of API server flapping during the upgrade when the pod is trying to deploy.

[2019-08-13 16:01] msau42 commented on #81197
Looking at the run referenced above, I see the longest test cases are:
[code]

[2019-08-13 16:07] gnufied opened #81365 "Uncertain volumes are not detached from node"
it looks like the cleanup of uncertain volumes introduced in https://github.com/kubernetes/kubernetes/pull/71276 is problematic.

The problem is - when a volume is added as "uncertain" to the actual state of the world, it does not actually get added to `nodesToUpdateStatusFor` map so `removeVolumeFromReportAsAttached` fails with:

[code]

I propose that - we fix this by not returning error in `rem

[2019-08-13 16:08] gnufied commented on #81365
cc @kubernetes/sig-storage-bugs

[2019-08-13 16:15] PatrickLang commented on #69823
Tracking in https://github.com/kubernetes/enhancements/issues/1001

Closing this issue

[2019-08-13 16:16] PatrickLang commented on #69823
/close

[2019-08-13 16:17] #69823 closed

[2019-08-13 16:19] PatrickLang commented on #73414
/remove-lifecycle rotten

[2019-08-13 16:19] PatrickLang commented on #74541
/remove-lifecycle stale

[2019-08-13 16:21] PatrickLang commented on #81298
/assign

Will also rebuild with https://github.com/kubernetes-sigs/sig-windows-tools/pull/4

[2019-08-13 16:22] bowei commented on #74541
/lifecycle frozen

[2019-08-13 16:27] CPearring commented on #78865
Ran into something similar to this as well, but on a `1.12.8` cluster and using emptyDir. Initially the pod never got evicted, however in subsequent runs evictions worked properly and I haven't run into this since.
[code]

[2019-08-13 17:04] tallclair commented on #10834
/lifecycle frozen

[2019-08-13 17:11] liggitt opened #81368 "TestVolumeProvision is flaky"
**Which jobs are failing**:

pull-kubernetes-integration

**Which test(s) are failing**:

TestVolumeProvision

Example: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/81330/pull-kubernetes-integration/1161315691412852736/

[code]

**Since when has it been failing**:

Not sure, [triage board](https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestVolumeProvision

[2019-08-13 17:16] gnufied commented on #81365
I think another issue is - when a uncertain volume is detached and detach fails, it will cause uncertain volume to be reported to node's status which is not something we want.

[2019-08-13 17:24] Huang-Wei commented on #81214
Not in the manner of "X pods/s", but we have hourly benchmark tests on that.

Comparing to regular predicates, Pod(Anti-)Affinity involves a lot of extra calculation, and even more to guarantee its "Symmetry". We're continously improving the internal data structure and logic to improve the performance.

BTW: what's the characteristics of your workloads? NodeAffinity, PodAffinity, or PodAntiAffinit

[2019-08-13 17:38] boluisa opened #81370 "External CA: Kubeadm Kubeconfig validation fails when using CA bundle"
**What happened**:
[code]

[2019-08-13 17:58] boluisa commented on #81370
/sig clusterlifecyle

[2019-08-13 17:58] egernst commented on #81009
/cc @egernst

[2019-08-13 18:01] jeanluclariviere opened #81371 "CoreDNS fails to start after upgrading from 1.14.5 to 1.15.2"
**What happened**:
After upgrading a cluster from 1.14.5 to 1.15.2, each coredns pod fails and gets stuck in the "ContainerCreating" stage with error:

**What you expected to happen**:
For coredns pods to come up like normal

**How to reproduce it (as minimally and precisely as possible)**:
using kubeadm, perform the upgrade from 1.14.5 to 1.15.2: sudo kubeadm apply 1.15.2

**Anything else we need

[2019-08-13 18:05] jeanluclariviere commented on #81371
/sig Cluster Lifecycle

[2019-08-13 18:07] jeanluclariviere commented on #81371
I got lucky, it seems i was able to solve the problem by re-installing flannel.

[2019-08-13 18:09] erik-stephens commented on #40610
Thanks @bjhaid, this helps but for my use-case (elasticsearch), I will still need another initContainer in order to get those values into a form that elasticsearch will read (eg write updated config, inject environment variables).  Maybe I can use something like [envdir](https://cr.yp.to/daemontools/envdir.html).  Some soft goals I'm aiming for:

1. Minimal changes to vendor's image
1. Use default

[2019-08-13 18:15] msau42 commented on #81197
Since the majority of test cases are sig-storage, would it help the serial run if we broke up the serial job into multiple jobs?

I can at least see the following splits:
* all non sig-storage tests + sig storage tests not part of the storage test framework
* csi storage framework tests
* in-tree storage framework tests

The problem is this split has to be propagated to all other cluster configs t

[2019-08-13 18:18] msau42 commented on #81197
Longer term, I want to look into reducing the number of permutations of test cases.  For example, most test cases don't need to test all permutations of "dynamic pvs, preprovisioned pvs, and inline volumes".  Testing dynamic pvs is usually sufficient, and preprovisioned and inline volumes wouldn't make a difference to the test case.  But we'll need to think about this on a case by case basis, and

[2019-08-13 18:20] oomichi commented on #81245
Now the core framework imports the following sub frameworks:
[code]

[2019-08-13 18:35] huydinhle commented on #75478
@andyzhangx
Kube version"
[code]
Error from describing the pod
[code]

[2019-08-13 18:36] ricky1993 commented on #81214
Where can I find the parameters of the test mentioned above? Such as --percentage-of-nodes-to-score, policy config, workload(pods and nodes) spec and etc.

Most of our workload is suit to EvenPodsSpread. I have tried to optimize this scenario in our branch before. It is really excited to hear the official supported of this feature.
At the same time, we have some workloads of all of other scenario,

[2019-08-13 19:04] msau42 commented on #81197
PR to reduce number of test permutations here https://github.com/kubernetes/kubernetes/pull/81375

[2019-08-13 19:05] skwokie commented on #23880
Can I ask when this will become available on Mac (Docker Desktop)? How about AWS EKS? Thanks.

[2019-08-13 19:09] rdsubhas commented on #65502
To be frank, this issue is _really bad_ on production.

* First, `istio-init` will setup iptables rules to route all traffic through istio sidecar
* Then, both application & istio-sidecar start together
* And already application starts sending traffic on boot, even before istio data plane is listening on the port

It might be normal to assume that, well for `Deployment` resources, there will be a

[2019-08-13 19:44] astorath commented on #69362
I just wanted to report that the issue is gone, but it's not... Just seen a missing node (one node had disappeared from the group) in the cluster...

[2019-08-13 19:59] buribae commented on #79912
@cblecker Can I work on release-1.14?

[2019-08-13 20:17] gyuho commented on #72102
Update: https://github.com/grpc/grpc-go/releases/tag/v1.23.0 is out. Bumping up gRPC https://github.com/etcd-io/etcd/pull/11029 in etcd master branch, in addition to Go runtime upgrade https://groups.google.com/forum/#!topic/golang-announce/65QixT3tcmg. Once tests look good, we will start working on 3.3 backports.

[2019-08-13 20:25] seanturner83 commented on #76531
F

[2019-08-13 20:36] neolit123 commented on #81371
hi,

the coredns version in kubeadm, between 1.14 and 1.15 did not change - 1.3.1, so not sure how new images would have been used.

the fact that re-installing flannel has solved this, indicates to me that this might be a PSP related problem. our e2e upgrade tests currently don't have PSPs enabled, so we have not seen such a problem.

i'm pretty sure this will re-occur the next time you upgrade.

[2019-08-13 20:36] #81371 closed

[2019-08-13 20:42] cblecker commented on #79912
@buribae Go for it.
/remove-help

[2019-08-13 20:51] mikedanese commented on #81136
This is probably a duplicate of https://github.com/kubernetes/kubernetes/issues/70679

[2019-08-13 21:01] roycaihw commented on #44620
/remove-lifecycle rotten

[2019-08-13 21:03] zegl commented on #81253
/triage support

[2019-08-13 21:15] johscheuer commented on #81216
What kind of CNI Plugin do you use ? This looks like an issue with the allocated Pod CIDR and not the headless service itself. A Pod should never get an already assigned IP address so it seems that something in your CNI setup is not working as expected (or not correctly configured).

[2019-08-13 21:15] #76460 closed

[2019-08-13 21:16] #79732 closed

[2019-08-13 21:16] #79686 closed

[2019-08-13 21:18] #74701 closed

[2019-08-13 21:18] mikedanese commented on #81131
These are the discovery paths for in cluster config. These need to be consistent across all Kubernetes deployments or in cluster config doesn't work. We allow configuration of kube clients via kubeconfig, but have a convention to support zero config within the cluster. These paths are consulted only when a kubeconfig is not provided. To draw an analogy with ssh, this is like saying the $HOME/.ssh/

[2019-08-13 21:18] #81131 closed

[2019-08-13 21:33] johscheuer commented on #81225
Did you verified that your patch actually modified the service, e.g. https://github.com/kubernetes/kubernetes/issues/81161 ? I just tested the behaviour in a minikube cluster with `1.15.2` with kube-proxy in `iptables` mode and everything works as expected. How did you verify that the traffic is still routed to the old endpoints ?

Also your service example is wrong a Kuberntes Service has no `ser

[2019-08-13 21:35] egernst opened #81379 "resource.Quantity.Format isn't set consistently for each v1/type resource"
**What happened**:
Each v1/type Resource type should have a particular format for its quantity. In assessing appropriate values for resource's Quantity.Format (ie, BinarySI, DecimalSI), I see that usage for a given type is not consistent (particularly within test code).

**What you expected to happen**:

I *think* these should be set consistently for a given define resource type.

**How to reprodu

[2019-08-13 21:35] egernst commented on #81379
/cc @dashpole for help on clarifying expectations.

[2019-08-13 21:40] resker commented on #65936
@HolimaX - seems the guidance for reopening it is:

/reopen

[2019-08-13 21:41] dashpole commented on #81379
The proposed values look correct to me

[2019-08-13 21:42] resker commented on #65936
Can confirm beyond the comments from @Holimx that this is still experienced w/ latest K8s.   Could the original reporter / a collaborator reopen?

[2019-08-13 21:43] BenTheElder commented on #79912
1.12.8 is out https://groups.google.com/forum/#!topic/golang-announce/65QixT3tcmg

[2019-08-13 21:45] egernst commented on #81379
Thanks -- I'll sed a PR to make the tests consistent in their usage. I wonder if this should be documented somewhere in the code?

[2019-08-13 21:49] eloyekunle opened #81380 "scale client: support non-namespaced resources"
**What would you like to be added**:
The scale client (`k8s.io/client-go/scale`) currently works fine with namespaced resources. However, it doesn't work for non-namespaced resources e.g. cluster-scoped CRDs. The current implementation should be extended in order to support non-namespaced resources.

The current `ScalesGetter` interface:
https://github.com/kubernetes/kubernetes/blob/f020c915986991

[2019-08-13 22:00] mariusgrigoriu opened #81382 "fails to build with --incompatible_restrict_named_params"
**What happened**:
Running bazel 0.26.1 with `--incompatible_restrict_named_params` flag fails with
[code]

**What you expected to happen**:
The build conforms to https://github.com/bazelbuild/bazel/issues/8147

**Other info**: This was discovered when building an external project that imports Kubernetes for the purpose of building e2e tests. I expect the same error to occur when building Kubernet

[2019-08-13 22:06] Swetad90 opened #81383 "Kubernetes pods still running even if they are evicted"
**What happened**:
I am running a daemonset of minIO using hostpath Volumes. I have attached dedicated disks to these nodes and mounted it on "/data/minio" and mount that into each pod. I haven't edited the default threshold values of kubelet on any node. On event of diskpressure, the minio pods are getting evicted but the kublet still keeps on trying to delete the pods:

`
Aug 13 21:05:45 staging

[2019-08-13 22:09] Swetad90 commented on #81383
/sig node

[2019-08-13 22:39] ofiliz commented on #69882
I am also interested in helping with defining the requirements and the specific mechanisms. I thought passing the entire pod json is probably too much, but maybe we can pass pod labels matching a well-known pattern ("cni*"?) as args to libcni?

Additionally, kubelet could call different CNI plugins (not just the same plugin with a different configuration) based on a well-known pod label. This woul

[2019-08-13 22:59] wongma7 commented on #80177
Here's the KEP (link to e2e specific part) https://github.com/kubernetes/enhancements/pull/1144/files#diff-55982acee19ca4466736d3b3c150218aR160

[2019-08-13 23:23] #81379 closed

[2019-08-13 23:37] cblecker commented on #79912
update master to go 1.12.8: https://github.com/kubernetes/kubernetes/pull/81390

[2019-08-13 23:40] kmala commented on #69882
Thanks @danwinship and @ofiliz
This is what i have in mind:
1) we should have naming convention such that we can pass only those annotations to the cni plugin. I am thinking `containernetwork.k8s.io` or `cni.k8s.io` as the prefix for the annotations
2) We can add those annotations as key value pairs to the args field  in addition to the existing pod name and namespace while creating the runtime co

[2019-08-14 00:31] Huang-Wei commented on #81214
- gce-5000 nodes test link - https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml#L73
- benchmark test link - https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml#L280

They both employ the code in https://github.com/kubernetes/perf-tests/tree/

[2019-08-14 00:35] buribae commented on #79912
update release-1.14 to go 1.12.8: #81392

[2019-08-14 00:44] like-inspur commented on #81253
I found that docker storage use different directory other than /var/lib/docker, so logs under /var/log/containers can't find actural storage dicrectory. Now it works!

[2019-08-14 00:50] BenTheElder commented on #81200
I don't think https://github.com/kubernetes/kubernetes/pull/81157 solved this, though it certainly seems to have fixed some cases. our main CI is still flaking heavily on this:

https://testgrid.k8s.io/conformance-gce#GCE,%20master%20(dev)&show-stale-tests=&width=5&sort-by-flakiness=

[2019-08-14 00:53] mgdevstack commented on #81200
#81341 should fix it.

[2019-08-14 00:56] tedyu commented on #81383
Can you format the snippet in 'How to reproduce' section so that it is more readable ?

thanks

[2019-08-14 01:01] ripta commented on #80967
Can it be a plugin from the node side instead of the scheduler? Reading this snippet:

https://github.com/kubernetes/kubernetes/blob/release-1.15/pkg/kubelet/kubelet_node_status.go#L534-L545

the kubelet seems to export the capacity of the node to the API server, resulting in, for example:

[code]

Being able to set each node seems more flexible, though it still doesn't solve the case of multiple

[2019-08-14 01:03] warmchang commented on #75780
@liggitt The release-1.13 needs to move to go1.11.13

Ref: https://github.com/kubernetes/kubernetes/issues/79912

[2019-08-14 01:10] cblecker commented on #79912
Once the master PR merges, we will need to do the following:
- Cherry pick #81390 back to release-1.15 (@imkin will handle this)
- Cherry pick #81390 back to release-1.14 (@buribae can handle this if they would like)
- A fresh PR opened against release-1.13, bumping it to go 1.11.13
- test-infra golang versions also need to be updated

[2019-08-14 01:33] warmchang commented on #79912
I'll deal with the release-1.13, bumping it to go 1.11.13

[2019-08-14 01:34] warmchang commented on #75780
/assign

[2019-08-14 01:36] Swetad90 commented on #81383
Attached the daemonset.

[daemoset.txt](https://github.com/kubernetes/kubernetes/files/3499466/daemoset.txt)

[2019-08-14 01:53] zq-david-wang commented on #81364
Changing selector would cut the relationship between deployment and its old replicasets.  Hope this can help

[2019-08-14 01:57] buribae commented on #79912
sure. I'll cherry-pick.

[2019-08-14 02:14] almike commented on #48948
I got 30-40% constant usage with minikube, 10-20% with microk8s.
I am new to kube, not sure where to start, but I could dig some logs to help.
would be nice to see this solved as we need to run ingress locally on mac and the only way to do so is to have kube running.

[2019-08-14 02:17] zhiteng commented on #77926
/remove-lifecycle stale

[2019-08-14 02:23] #68050 closed

[2019-08-14 02:36] #71218 closed

[2019-08-14 02:47] liggitt commented on #80718
improved validation errors added in 1.16 in https://github.com/kubernetes/kubernetes/pull/81212

[2019-08-14 02:59] liggitt commented on #72192
/reopen
/lifecycle frozen

[2019-08-14 03:14] LeoLiuYan commented on #78358
May kubelet should ignore SIGPIPE?

[2019-08-14 03:24] cblecker opened #81400 "//test/instrumentation:list_stable_metrics fails due to argument list"
[code]

/assign @serathius
/cc @logicalhan @brancz
/sig instrumentation

[2019-08-14 03:26] gongguan commented on #81353
Is there many hanging iptables process by using `ps -ef | grep iptables`

[2019-08-14 03:36] andyzhangx commented on #75478
@huydinhle there is sth. wrong with the vmss instance:
[code]

I think you need to file an azure ticket to vmss team, thanks.

[2019-08-14 03:36] gongguan commented on #81353
Does execute `iptables -t nat -L` failed?
Is there many hanging iptables process by using `ps -ef | grep iptables`?
If the answer is yes, iptables may be hold by a traced/stopped process.

[2019-08-14 04:02] msau42 opened #81401 "Disable hostpath-v0 tests from alpha suites"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-alpha-enabled-default

**Which test(s) are failing**:
CSI hostpath-v0 tests

**Since when has it been failing**:
8/8

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-storage-kubernetes#gce-alpha-enabled-default

**Reason for failure**:
#80978

**Anything else we need to know**:
We are removing CSI 0.3 support in 1.18, which is before se

[2019-08-14 04:07] msau42 opened #81403 "external provisioner tests failing in alpha suites"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-alpha-enabled-default

**Which test(s) are failing**:
CSI hostpath-v0 tests

**Since when has it been failing**:
8/8

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-storage-kubernetes#gce-alpha-enabled-default

**Reason for failure**:
#80978

**Anything else we need to know**:
We need to update client-go to get the fix for selfLink, bu

[2019-08-14 04:07] msau42 commented on #81403
/assign @childsb @jsafrane
@kubernetes/sig-storage-test-failures

[2019-08-14 04:08] msau42 commented on #81191
alpha-features job is passing now.  For the remaining failures in alpha-enabled job, I've opened up https://github.com/kubernetes/kubernetes/issues/81401 and https://github.com/kubernetes/kubernetes/issues/81403

/close

[2019-08-14 04:08] #81191 closed

[2019-08-14 04:10] tao12345666333 commented on #79912
@cblecker I have opened a PR #81402 to bump to 1.12.7. Should we need do it first?

[2019-08-14 04:24] cblecker commented on #79912
@tao12345666333 No, we don't need to do it as a separate PR.

When @buribae opens the cherry-pick after #81390 merges, they can pick both PRs back at the same time with the following command:
[code]

[2019-08-14 04:38] #81114 closed

[2019-08-14 05:46] zops opened #81405 "kubernetes (v1.15.0~v1.15.2) IPVS Rule lost"
docker version：18.06.3-ce
kubeadm：v1.15.2
kubernetes：v1.15.2
CentOS Kernel：3.10.0-957.21.2.el7.x86_64
kubernetes-dashboard：v1.10.1

1、\#\#\#\# kubernetes-dashboard pod,status Running.
$ kubectl get pod -n kube-ops -l app=kubernetes-dashboard -o wide
NAME                                    READY   STATUS    RESTARTS   AGE   IP
kubernetes-dashboard-79c94979cb-sqbql   1/1     Running   0          22h

[2019-08-14 06:04] singhania opened #81406 "Can't deploy Mix protocols loadbalancer in Azure Kubernetes 1.13.5"
I am using below yaml to deploy a loadbalancer service which as per the document should deploy a loadbalancer with mixed protocol but same was not working.
apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-internal: 'true'
    service.beta.kubernetes.io/azure-load-balancer-mixed-protocols: "true"
  name: abc-xyz
  namespace: abc
  labels:

[2019-08-14 06:25] blacklad commented on #76531
+1 same problem
docker version: 18.09.7
kuberentes: 1.15.2
OS: Centos 7.6

[2019-08-14 07:05] george-angel commented on #68939
/remove-lifecycle stale

[2019-08-14 07:18] jesuslinares commented on #42164
This is happening in my environments (Kubernetes v1.11 and v1.12). The restart solves the issue (https://github.com/awslabs/amazon-eks-ami/issues/195). Is this fixed in the latest releases?.

[2019-08-14 07:36] aojea commented on #76342
Sure, let me know if this link works https://github.com/pulls?utf8=%E2%9C%93&q=is%3Apr+author%3Aaojea+archived%3Afalse+is%3Amerged+e2e+IPv6+user%3Akubernetes+

Typically, is only using net.JoinHosPort to create IPv6 URLs, but sometimes images doesn't work for both IPv4 and IPv6. IIRC I've replaced ngingx by httpd and migrated the redis image

That's great, greping for nginx and httpd in the e2e fo

[2019-08-14 07:40] #81354 closed

[2019-08-14 08:42] weibeld commented on #72051
I get the same error sometimes for the `custom.metrics.k8s.io/v1beta1` API after deleting and reinstalling the [Prometheus Adapter](https://github.com/DirectXMan12/k8s-prometheus-adapter) via the [Helm chart](https://github.com/helm/charts/tree/master/stable/prometheus-adapter):

The `helm install` command fails with the following error:

    Error: could not get apiVersions from Kubernetes: unabl

[2019-08-14 08:51] mucahitkurt commented on #76113
@msau42, @verult if the correct behaviour is `prefix the Node label with the csi driver name` I can fix this issue?

[2019-08-14 09:08] #79640 closed

[2019-08-14 09:10] montanaflynn commented on #73906
I'm hitting this running on AWS EKS with a cluster created using https://github.com/weaveworks/eksctl

[2019-08-14 09:46] serathius commented on #81400
Hey @cblecker,
Looks like this test is passing on testgrid, https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-bazel-test&include-filter-by-regex=instrumentation%3Averify_stable_metric
Which would point to problem being related to specific environment.

From your log looks like problem is specific to **Macs**. I will try to reproduce it to confirm it.

My current ideas

[2019-08-14 09:50] dayyehm commented on #63959
I have hard time getting this working with NLB using ingress controller :
https://kubernetes.github.io/ingress-nginx/deploy/#network-load-balancer-nlb

================================
kind: Service
apiVersion: v1
metadata:
name: ingress-nginx
namespace: ingress-nginx
labels:
app.kubernetes.io/name: ingress-nginx
app.kubernetes.io/part-of: ingress-nginx
annotations:
# Enable PROXY protocol
#servic

[2019-08-14 09:52] dayyehm commented on #63959
I have hard time getting this working with NLB using ingress controller :
https://kubernetes.github.io/ingress-nginx/deploy/#network-load-balancer-nlb

Even subnets are not taking effect here , its not passing my configurations in the API that creates the NLB

================================
kind: Service
apiVersion: v1
metadata:
name: ingress-nginx
namespace: ingress-nginx
labels:
app.kubernetes

[2019-08-14 10:09] cann0nf0dder commented on #81286
@liggitt
Intersting observation:
The upgraded master (1.14) would be flapping to NodeReady if the controller-manager leader is running on any other master still on previous version (1.13). Once I rebooted master which had leader on it and the upgraded controller was elected to be the leader, the issue no longer exists.

Is there any way I can trigger leader election without finding out who the lea

[2019-08-14 10:23] cann0nf0dder commented on #81286
hmm in fact re-election itself doesn't make c8r01 leader when i tried again, leader is still elected at random, so looking for other ways to set newly upgraded master as leader...

[2019-08-14 10:24] amalts commented on #81370
/assign

[2019-08-14 10:28] #81130 closed

[2019-08-14 10:45] shiyan2016 opened #81412 "kubelet_running_pod_count metric is not correct"
**What happened**:
kubelet_running_pod_count is larger than the pod actually running on the node, as follows:

Getting metic on prometheus:
[code]
result is:
[code]
But using kubectl describe node:
[code]
result is:
[code]
kubelet_running_pod_count is 98 but actually there is only 95 pod running on the node.

**What you expected to happen**:
kubelet_running_pod_count should equal the pod actually

[2019-08-14 10:45] shiyan2016 commented on #81412
/sig kubelet

[2019-08-14 12:19] jsafrane commented on #81403
/assign @wongma7

[2019-08-14 13:27] mgdevstack opened #81418 "Update "service using same port but different protocol" e2e to test service reachability"
**What would you like to be added**:
Following are two e2e testing service functioning over same port but different protocol, but do not test service reachability.
1. should be able to update NodePorts with two same port numbers but different protocols
2. should use same NodePort with same port but different protocols
**Note**: _Both the e2e are verifying the same behavior of "service using same p

[2019-08-14 13:32] zouyee commented on #81412
`pc.containerCache.GetPods()`
 It use a cache structure, so there is a delay.

[2019-08-14 13:33] zouyee commented on #81412
/sig instrumentation

[2019-08-14 13:35] zouyee commented on #81405
/sig network

[2019-08-14 13:37] dims commented on #81323
you can use `kubetest` directly to run e2e tests. example https://github.com/kubernetes/test-infra/issues/8698#issue-341745242

[2019-08-14 13:46] zouyee commented on #81383
Can you show more kubelet logs ？
/area kubelet

[2019-08-14 13:48] eloyekunle commented on #78707
Is anyone working on this? I'll like to take a stab at this.

[2019-08-14 14:03] JulienBalestra commented on #67789
/remove-lifecycle rotten

[2019-08-14 14:06] liggitt commented on #78707
Not currently, no.

Great. I'd suggest discussion a potential solution here before diving into code. The two main aspects are:

1. Create-time - Should we forbid creating CRDs that overlap with built-in types?
2. Delete-time - How do we detect a CRD overlapping with a built-in type and skip the etcd cleanup for it

[2019-08-14 14:07] mgdevstack commented on #77973
/remove-lifecycle stale

[2019-08-14 14:08] zouyee commented on #81286
/sig api-machinery
/remove-sig node

[2019-08-14 14:12] liggitt commented on #81286
to be clear, is it the controller-manager process that is restarting, or the apiserver as well?

[2019-08-14 14:16] jsafrane commented on #81403
This implies rebase to 1.15.x in external-storage, which seem to be challenging (at least to me :-) )

[2019-08-14 14:17] eloyekunle commented on #78707
I think we should forbid creating CRDs that overlap (option 1).

[2019-08-14 14:19] liggitt commented on #78707
That can help, but is not sufficient. Imagine:

1. Version n forbids creating overlapping CRDs
2. User on version n creates foo.k8s.io MyType
3. User upgrades to version n+1 which adds foo.k8s.io MyType as a built-in type
4. User deletes CRD

What should happen?

[2019-08-14 14:26] #78735 closed

[2019-08-14 14:35] eloyekunle commented on #78707
For that, we will need delete-time detection of overlapping types as well (option 2), which makes option 1 redundant.

[2019-08-14 14:44] dayyehm opened #81421 "EIP allocation for NLB Nginx-ingress"
The issue points to the reported closed  issue here :
https://github.com/kubernetes/kubernetes/issues/63959

I tested this but its not working correctly and ingress is not respecting the annotations :

I have hard time getting this working with NLB using ingress controller :
https://kubernetes.github.io/ingress-nginx/deploy/#network-load-balancer-nlb

Even subnets are not taking effect here , its

[2019-08-14 14:52] muenchdo commented on #81421
@dayyehm Are you sure this change is already released in your Kubernetes version? It was only merged into master on June 23rd.

[2019-08-14 14:55] dayyehm commented on #81421
the issue here mentioned it was working , and seems it was working correctly for the guy who asked here : #63959
the release is kuberenetes 1.13 but I have to double check with AWS

[2019-08-14 15:09] Swetad90 commented on #81383
I noticed its not just with one daemonset, this behaviour is consistent in the entire cluster.
Pods are evicted but the oldest container in that node never gets killed..It gets the terminated signal but never exits

Aug 14 15:54:02 node-4 kubelet[2166]: W0814 15:54:02.603150    2166 container_manager_linux.go:804] CPUAccounting not enabled for pid: 2166
Aug 14 15:54:02 node-4 kubelet[2166]: W0814

[2019-08-14 15:16] liggitt commented on #73389
fixed in https://github.com/kubernetes/kubernetes/pull/79895 to only check the discovery endpoint the server is required to serve

/close

[2019-08-14 15:16] #73389 closed

[2019-08-14 15:27] MaciekPytel commented on #81380
I think scale subresource support for CRDs falls more into sig-apimachinery domain. After DirectXMan12 moved on from sig-autoscaling I don't think there is anyone in our sig-autoscaling with knowledge of scale subresource internals.

/sig api-machinery

[2019-08-14 15:33] msau42 commented on #81403
1.14 cherry pick also in progress: https://github.com/kubernetes/kubernetes/pull/81407

[2019-08-14 15:38] eloyekunle commented on #78707
@liggitt Do you have any advice for detecting overlapping CRDs?

[2019-08-14 15:39] Swetad90 commented on #81383
https://github.com/kubernetes/kubernetes/issues/54525#issuecomment-340035375

As per this when pod is evicted, containers also should get killed. Any reason as to why it's not happening?

[2019-08-14 15:45] leakingtapan commented on #80967
Similar logic is already added in EBS CSI driver [here](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/pkg/driver/node.go#L508) by using instance type to look up the volume attach limit.

Agree with @justinsb that, to make it working correctly, the challenge comes from storage driver need to be aware of the CNI attachment and vice versa.

[2019-08-14 15:55] liggitt commented on #67610
/reopen
/lifecycle frozen

[2019-08-14 15:59] liggitt commented on #67610
the main difficulties would be go compatibility:
* change the metav1.Object interface GetCreationTimestamp/SetCreationTimestamp methods to use pointers or change implementations to treat missing attributes as zero-values?
* ensure all places that use CreationTimestamp handle nil cases

as long as null values are omitted during serialization, wire compatibility should not be an issue

[2019-08-14 16:00] gnufied commented on #80967
@leakingtapan the CSI driver should support overriding the limits via CLI parameter, if it does not do that already. This was always on my mind but it is hard to track this across different drivers.

@ripta currently since node's status is periodically synced by kubelet, it will cause any external updates to `node.Status.Capacity` to be wiped when kubelet resyncs the status.  But we are getting pr

[2019-08-14 16:15] liggitt opened #81422 "JSONPatch accepts invalid paths with a spurious leading segment"
**What happened**:

[code]

The patch was applied and metadata.annotations modified

**What you expected to happen**:

The invalid path (no leading `/`) would be rejected

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

The JSONPatch library splits the path by `/` and discards the first segment, assuming it is empty:

https://github.com/kuber

[2019-08-14 16:32] ainiml commented on #40180
/reopen

[2019-08-14 16:47] bluebeach commented on #81256
could you please tell me which capability can be used to solve this problem ?

[2019-08-14 16:49] bluebeach commented on #81256
Yeah it's reasonable a privileged container can see all the resources .
I am confused that how a unprivileged container's GPU can be isolated by k8s

[2019-08-14 16:53] #81370 closed

[2019-08-14 17:21] gnufied opened #81425 "Rename PersistentVolumeClaimFileSystemResizePending condition"
I would like us to rename `PersistentVolumeClaimFileSystemResizePending` condition to `PersistentVolumeClaimNodeExpansionPending` which is more accurate for CSI world and more representative of what actually happens on the node. In many cases expansion on node could involve more than file system expansion.

This condition was introduced by Volume expansion feature which is currently in beta though

[2019-08-14 17:21] wenjiaswe commented on #80857
cc @apolcyn from grpc team, as we discussed offline, it seems like the enable mTLS between etcd and kube-apiserver, which is communicated via gRPC (GOLANG) causes very high performance overhead. I also have gce_100 performance test ran on my own cluster with GODEBUG=http2debug=2 turned on. I will keep investigating the share with you if I see anything abnormal. Thanks!

[2019-08-14 17:27] wongma7 commented on #78164
From the original kubelet log, I see a lot of errors like:

May 20 12:30:57 ip-192-168-218-117.us-east-2.compute.internal kubelet[4502]: I0520 12:30:57.063041    4502 kubelet_node_status.go:70] Attempting to register node ip-192-168-218-117.us-east-2.compute.internal
May 20 12:30:57 ip-192-168-218-117.us-east-2.compute.internal kubelet[4502]: E0520 12:30:57.379123    4502 kubelet_node_status.go:92

[2019-08-14 17:29] F5veRings commented on #64002
I tried using @Amos-85 's  method but for some reason it's not actually editing the namespace file at all, so my problem still persists

[2019-08-14 17:29] MrHohn commented on #81000
Thanks, tests have been green since #81341. Closing this.

[2019-08-14 17:29] #81000 closed

[2019-08-14 17:53] oomichi opened #81427 "Use log functions of core e2e framework instead of e2elog sub package"
**What happened**:

We tried to separate logger functionality as subpackage of e2e test framework,
but we've recognized that should be core functionality and we should keep it as
core of e2e test framework after facing circular dependency issues.
After merging https://github.com/kubernetes/kubernetes/pull/81426 the existing callers of subbackage e2elog need to switch
to use log functions of core e

[2019-08-14 17:55] oomichi commented on #81427
/kind bug

[2019-08-14 18:19] andreacasini commented on #75175
It work for me on 1.15.2 with the following vsphere.conf file:

[Global]
        secret-name = "vcp-secret"
        secret-namespace = "kube-system"
        port = "443"
        insecure-flag = "1"

[VirtualCenter "vcsa-03.k8s.lab"]
        datacenters = "LAB"

[Workspace]
        server = "vcsa-03.k8s.lab"
        datacenter = "LAB"
        default-datastore = "DS-02"
        resourcepool-path =

[2019-08-14 19:06] oomichi commented on #81427
temporary closing this issue for making consensus before doing this.

[2019-08-14 19:31] cpanato commented on #65180
ok, i will try to get this issue
first need to know:
- do we all agree to add the new label or is not a label? and that will be `kind/test`? i
- if yes what is the process to create that, can someone point the repo or similar pr?

/cc @nikhita @spiffxp @tpepper @justaugustus

[2019-08-14 19:35] gyuho commented on #72102
@dims @jpbetz https://github.com/etcd-io/etcd/releases/tag/v3.3.14-beta.0 has been released with all the fixes. Please try. Once tests look good in the next few days, I will release `v3.3.14`.

[2019-08-14 19:46] #81303 closed

[2019-08-14 19:46] #81238 closed

[2019-08-14 19:57] spiffxp commented on #65180
I feel like my questions above remain unanswered.
- The original ask is no longer relevant since we no longer gate on the presence of specific `kind/` labels, so what is the ask?
- What does the release team need here?
- How will `kind/test` differ from `area/test`?
- Would `kind/cleanup area/test` describe "improving test coverage"?

[2019-08-14 20:02] cpanato commented on #65180
Ok so, I need to know who has the domain knowledge/decision for that and to clarify the questions above

[2019-08-14 20:05] nicowaisman commented on #81121
Hey ya!
I found an interesting case in apimachinery

[code]

[2019-08-14 20:09] liggitt commented on #75791
@michaelkipper as an experiment, can you run the kube-apiserver with the [`DISABLE_HTTP2=true` envvar](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/net/http.go#L111-L118), and see if that balances out the

[2019-08-14 20:10] liggitt commented on #75791
with sufficient numbers of connections, the random assignment by iptables should spread the load. I think the issue is with the http/2 client not opening multiple connections. One experiment would be to disable http/2 clients with an [`DISABLE_HTTP2=true` envvar](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/net/http.go#L111-L118) when starting the a

[2019-08-14 20:18] Huang-Wei opened #81433 "Enhance cooperation with scheduler binding cycle"
## Motivation

As you may have known, scheduler internally has 2 primary cycles - one is scheduling cycle, the other is the binding cycle. Per the latest scheduler framework, the binding cycle includes plugins like Permit, Prebind, and Postbind. And the other fact is that the binding cycle is running as a separate goroutine:

https://github.com/kubernetes/kubernetes/blob/d5bdb7796adc1231cee94cde99

[2019-08-14 20:19] Huang-Wei commented on #81433
cc/ @ahg-g @liu-cong @bsalamat @hex108 @draveness @alculquicondor

[2019-08-14 20:52] dims commented on #72102
@gyuho i just kicked off a WIP on the k/k CI - https://github.com/kubernetes/kubernetes/pull/81434

[2019-08-14 21:18] alexodle commented on #80968
@tedyu my guess is that the kubelet should reevaluate pod readiness when the node becomes ready again. Does that sound right?

Reason being, the kube-controller-manager has the logic you pointed out to explicitly `MarkAllPodsNotReady` when the node becomes unresponsive, but it doesn't appear that anything actually goes and decides whether or not the pods should become ready again if the node comes

[2019-08-14 21:40] jberkus commented on #65180
So, the one reason I could see having a more concrete "this PR affects testgrid/test-coverage" label is that we've wanted to implement at "test freeze" during code freeze for a while.

However, I'm not convinced that a kind/ label does that any better than the current area/ labels do.  Many contributors would still use kind/bug or king/cleanup for text fixes, because they'd ignore the new label.

[2019-08-14 21:40] ahmad-diaa commented on #72547
Just wanted to share my plan regarding the implementation of this issue.
-  `configurator` methods (such as `CreateFromKeys`, `getPluginArgs`, ...) will be changed into exported functions to be used by the `scheduler` and the `configurator` will be one of the parameters. 
- fields will be incrementally removed from the `configurator` and  passed as parameters to the methods. Each of the following

[2019-08-14 21:48] kachkaev commented on #62822
/remove-lifecycle stale

[2019-08-14 21:52] alculquicondor commented on #72547
cc/ @Huang-Wei

[2019-08-14 22:29] wongma7 commented on #81403
OK, I guess this line in the lib is the culprit: https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/c525773885fccef89a1edd22bb3f813d50548ed1/controller/controller.go#L1214
So I need to update lib then external-storage to pull it in

[2019-08-14 22:34] msau42 commented on #81403
I don't think the lib itself needs to be updated.  Only updating go-client to get the fix to `GetReference` is needed.

[2019-08-14 22:35] wongma7 commented on #81403
Right, lib doesn't dictate what version of client-go to use. Will wait for client-go release

[2019-08-14 22:40] aaron-prindle commented on #76846
PR Roundup - 8/14/2018:
https://github.com/kubernetes/kubernetes/pull/81409
https://github.com/kubernetes/kubernetes/pull/81224

https://github.com/kubernetes/kubernetes/pull/81182
https://github.com/kubernetes/kubernetes/pull/81003
https://github.com/kubernetes/kubernetes/pull/80955

https://github.com/kubernetes/kubernetes/pull/80786

https://github.com/kubernetes/enhancements/pull/1200
https://

[2019-08-14 23:24] pure-yesmat commented on #79355
Hi @saad-ali and @bswartz,
Is there a programmatic way to restart a pod? Also how do we handle the case where the pod restart policy is never?

[2019-08-14 23:34] msau42 commented on #79355
Yes, the programmatic way is to delete the Pod.  I think this is something that should not be handled automatically by the storage system. And it will have to be users that restart their pods when they are ready.

[2019-08-14 23:47] verult commented on #76113
I want to point out that simply prefixing the node may not be enough. In order to keep the prefix as an implementation detail rather than something exposed to the user, the external provisioner might need to be changed in how to deal with StorageClass AllowedTopologies for example. Should AllowedTopologies be specified with the k8s label format or the driver-provided topology format? See [here](ht

[2019-08-15 00:05] BenTheElder commented on #81200
this is looking green now for a few runs, thanks for the fix!

[2019-08-15 00:09] pure-yesmat commented on #79355
Thanks @msau42.

Deleting a pod does not work if it does not belong to a deployment or statefulset.

The summary I get from this is we cannot upgrade programmatically, we have to be ready to keep both drivers around forever. Asking users to delete all their pods for a driver upgrade seems overkill.

[2019-08-15 00:10] tedyu commented on #81433
One option is to pass sched.config.StopEverything into pluginContext.
This way, the plugin's would have access to this channel.

[2019-08-15 00:20] msau42 commented on #76113
Thanks for the explanation! I think nothing needs to be done here.
/close

[2019-08-15 00:20] #76113 closed

[2019-08-15 00:21] msau42 commented on #79355
You don't need to keep them around forever. You can make policies such as the flex driver is being deprecated, and we'll stop supported it by Kubernetes version X.  Here's some steps to migrate your PVs to the CSI driver, etc

[2019-08-15 00:23] Huang-Wei commented on #81433
@tedyu Yes, that could be a variant of option 2. Depending on whether we think it's generic enough to be included in every plugin, or just plugins in "binding cycle".

[2019-08-15 00:30] tedyu commented on #81433
It seems StopEverything is generic for all plugins.

[2019-08-15 00:33] gyuho commented on #72102
Some tests in k8s may break. We need pass `grpc.WithBlock` with the new etcd client. Please take a look at https://github.com/etcd-io/etcd/issues/10980.

[2019-08-15 00:38] jgrossmac commented on #76531
+1 Same problem
Docker: 18.06.2-ce
Kubernetes: 1.14.1
OS: Ubuntu 18.04.2 LTS (Bionic Beaver)
Boostrap Method: KubeAdm

[code]

[2019-08-15 01:14] roycaihw commented on #78706
Three kinds of openapi paths/definitions that we want to prevent CRDs from overwriting:
1. the CRD API
- the spec aggregation in apiextensions-apiserver allows overwriting. I will send a fix
2. other native APIs
- well protected. The spec aggregation in kube-aggregator: 1) ignores duplicated paths and renames duplicated definitions; 2) treats kube-apiserver with [higher priority](https://github.co

[2019-08-15 01:24] warmchang commented on #79912
Hi @cblecker

There is no kube-cross:v1.11.13-1 image in the gcr regitstry, and I'v not the right to make & push it.

https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/kube-cross?gcrImageListsize=30

Do you know who can make this? Thanks.

[2019-08-15 01:34] draveness commented on #81433
What do you think of making `pluginContext` conform to the `context.Context` interface and use it to synchronize the stop signal?

[2019-08-15 01:41] ripta commented on #80967
A-ha! Ok, I incorrectly assumed the nodestatus package updates only capacity keys it knows about.

Thanks for the link. I'll need to learn more about CSINode.

[2019-08-15 01:57] elucidsoft commented on #62788
Are we still talking about GitHub or the fridge?

[2019-08-15 02:06] draveness opened #81438 "Propose a cleanup extension point to the scheduling framework"
/sig scheduling
/priority important-soon
/assign

**Why is this needed**:

The scheduling framework plugin could save pod related states in some extension points and used in others, ex:

1. [Save](https://github.com/kubernetes/kubernetes/pull/80898/files#diff-f58124514ebdc62aefca3f447c95bdadR59-R60) the pod to podAffinityPriorityMap in the Score extension point
2. [Use](https://github.com/kubernet

[2019-08-15 02:26] tao12345666333 commented on #79912
@javier-b-perez PTAL. Thanks. :smile_cat:

[2019-08-15 02:31] cmceniry commented on #59776
/reopen

[2019-08-15 02:34] Huang-Wei commented on #81433
@draveness Incorporating `context.Context` is possible. But current codebase just employs channel (stopCh) from the start of cmd/scheduler, so some refactoring needs to done if it's appropriate.

[2019-08-15 02:44] CamelCaseNotation commented on #77986
I've seen multiple issues around volumes being created as root user such that non-root Pods are not able to read or write to them once mounted. All the issues I've found around this have been open. Why is this a problem that is being ignored by the kubernetes community? Could someone provide examples of best practices such that this does not happen? People should not be expected to run their conta

[2019-08-15 02:45] abursavich commented on #79384
For anyone else who hits this issue, after much weeping and gnashing of teeth, this is the little script I wrote to switch kubernetes versions:

[code]

[2019-08-15 02:51] cwdsuzhou commented on #81273
Thanks, let's talk about it

[2019-08-15 02:52] ProdanLabs commented on #80407
@andrewsykim

[2019-08-15 03:01] shiyan2016 commented on #81412
I look it again now, it still show 98 in prometheus, but actually 95 on the node.

[2019-08-15 03:03] draveness commented on #81433
Just took a look at the related code and found out there is a TODO "once Run() accepts a context, it should be used here":

https://github.com/kubernetes/kubernetes/blob/0d579bfecf7242a7051192011c9afab7d91ddeff/cmd/kube-scheduler/app/server.go#L243-L258

I'd like to pull out a PR to do the refactor with `context.Context` and we could see whether it is appropriate, what do you think?

[2019-08-15 03:08] leakingtapan commented on #79384
@abuisine nice script

[2019-08-15 03:16] zjj2wry commented on #81353
no error

no

It should now be that there is no automatic recovery after a short failure of the node.

[2019-08-15 03:17] davidstack opened #81442 "should DevicePlugin pluginapi.AllocateRequest add pod info and container info"
**What would you like to be added**:
when kubelet call deviceplugin api Allocate,add pod info and container info paramerent, such as

`type AllocateRequest struct {
        Pod  *v1.Pod
       Container Container
	ContainerRequests []*ContainerAllocateRequest
}

`

**Why is this needed**:
in machine learning, when schedule GPU for Pod, because of NUMA info,user may want to select GPU ID on the nod

[2019-08-15 03:39] yue9944882 opened #81445 "Absent root element type will fail CRD publishing"
/kind bug
/sig api-machinery
/area custom-resources

for now CRD validation allows `.spec.validation.openAPIV3Schema.type` to be either empty/unspecified or an "object" type. and openapi publishing will be failing in the former case, it will be published as unstructral regardless of all the specified openapi properties. not sure why the validation allows empty root type in the first place, but we

[2019-08-15 03:42] cblecker commented on #79912
The bazel issues on #81398 need to be fixed first.

[2019-08-15 03:45] cblecker commented on #79912
@imkin You are clear to pick #81394 back to release-1.15
@buribae You are clear to pick #81394 back to release-1.14 (see the command I posted in https://github.com/kubernetes/kubernetes/issues/79912#issuecomment-521096598)

[2019-08-15 03:46] liggitt commented on #81445
only schemas that fully specify types will publish openapi (see [structural schemas](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190425-structural-openapi.md)). v1 CRDs will require structural schemas (see https://github.com/kubernetes/kubernetes/pull/79604).

/close

[2019-08-15 03:47] liggitt commented on #81445
/reopen

[2019-08-15 03:52] eliefly commented on #54221
I met the same problem. My reason is heapster --source in deployment yaml set wrong.
- --source=kubernetes:https://192.168.1.9:6443

[2019-08-15 03:54] yue9944882 commented on #81445
if that's the expected behavior, the CRD validation should forbid non-empty `properties` fields on empty type at root, is it? for now, users from kubebuilder will be using generated yaml in that form, and they will be hitting this issue when publishing.

[2019-08-15 03:57] liggitt commented on #81445
by "fully specified types", I mean "specify a type for every property, including the root". validation will require that in v1, but we cannot tighten validation in v1beta1.

the schema in the description would not pass validation if the top-level type attribute was removed:
[code]
produces:
[code]

/close

[2019-08-15 03:57] #81445 closed

[2019-08-15 04:01] buribae commented on #79912
@cblecker I do not think go.sum and go.mod existed in release-1.14. What should we do?

[2019-08-15 04:05] cblecker commented on #79912
@buribae Sorry, I meant #81390, not #81394

[2019-08-15 04:25] zouyee commented on #81412
Execute the following command：
`curl http://your host:10255/metrics|grep kubelet_running_pod`

[2019-08-15 04:28] zouyee commented on #81412
If you want to monitoring K8S object, I recommend you to use [ksm](https://github.com/kubernetes/kube-state-metrics).

[2019-08-15 04:40] saiwl opened #81446 "Support dynamic cpu limit for burstable services ?"
**What would you like to be added**:
Can kubelet support config cpu limit dynamicly without pod restart? Just a simple advice without specific proposals.

**Why is this needed**:
I personally think this is useful for some burstable services of low QoS such as offline workers. We usually want to make them run slowly rather than killing them when when face resource shortage. Just for burstable servi

[2019-08-15 04:41] saiwl commented on #81446
/sig node

[2019-08-15 05:06] buribae commented on #79912
PR for Cherry pick #81390 back to release-1.14 #81449

[2019-08-15 05:08] monester opened #81450 "Containers startup is blocked by postStart lifecycle hook"
**What happened**:

Containers startup is blocked by postStart lifecycle hook.

**What you expected to happen**:

All containers starting asynchronously.

**How to reproduce it (as minimally and precisely as possible)**:

This pod would never reach `running` state

[code]

**Anything else we need to know?**:

In documentation on page https://kubernetes.io/docs/concepts/containers/container-lifecyc

[2019-08-15 05:18] adamglt commented on #31824
/remove-lifecycle stale

[2019-08-15 05:26] mikedanese commented on #57667
I would like some ability to repo transfer if it doesn't exist. I tried to move an issue to community today and was disappointed.

[2019-08-15 05:43] monester commented on #81450
/sig architecture
/sig docs

[2019-08-15 05:43] mikedanese commented on #81128
Partial dup of https://github.com/kubernetes/kubernetes/issues/57601

[2019-08-15 05:44] Dieken opened #81451 "garbage collect dead containers that have exited for a very long time"
**What would you like to be added**:
https://kubernetes.io/docs/concepts/cluster-administration/kubelet-garbage-collection/#container-collection

Currently container garbage collection doesn't consider exit time of dead containers,  there are many dead containers that exited some months ago on our production kubernetes clusters.

**Why is this needed**:

These dead containers interfere our log col

[2019-08-15 05:47] Huang-Wei commented on #81433
Please hold the PR. Let's do a thorough discussion first.

[2019-08-15 05:49] davidstack commented on #81442
/sig scalability  /sig Architecture /sig Machine Learning /sig Machine Learning /sig Node /sig Scheduling

[2019-08-15 05:51] mikedanese commented on #81111
Closing as a dup of https://github.com/kubernetes/kubernetes/issues/18982

[2019-08-15 05:51] #81111 closed

[2019-08-15 05:52] mikedanese commented on #81136
Deduping.

[2019-08-15 05:52] #81136 closed

[2019-08-15 05:59] Dieken commented on #81451
/sig node
/sig cluster-lifecycle

[2019-08-15 06:00] kharunsamuel1 commented on #80541
Just submitted a PR adding that functionality to the FlattenListVisitor. The behavior is now consistent between the two methods.

[2019-08-15 06:10] mikedanese commented on #81127
cc @immutableT

[2019-08-15 06:23] mikedanese commented on #81125
I've been waiting for this to pop up in an exploit chain. I'd love to default all debugging handlers to off. Some mitigations short of that:
* do more than containsDotDot and don't follow symlinks.
* do a better job of protecting critical secrets e.g. bind or seal in a tpm, encrypt on disk and store encryption keys in an xattr

cc @awly

[2019-08-15 06:23] amalts commented on #79351
@BenTheElder @liggitt  I would like to take this as my first issue. Can i get some pointers to the documentation part?

[2019-08-15 06:25] mikedanese commented on #81118
@cheftako is working on removing ssh tunnels.

[2019-08-15 06:27] mikedanese commented on #81117
Also secrets https://github.com/kubernetes/kubernetes/issues/4710 😢

https://diogomonica.com/2017/03/27/why-you-shouldnt-use-env-variables-for-secret-data/

[2019-08-15 06:31] mikedanese commented on #81140
Can we just deprecate ABAC?

@kubernetes/sig-auth-bugs

[2019-08-15 06:43] sulunemre commented on #68190
@bclouser I have a similar issue, did you find any solution? Thanks!

[2019-08-15 06:45] hex108 commented on #81433
Thanks for it!

I think we need to reach a consensus about it tries to solve the problem at which level:

* If the scheduler receives a shutdown message, plugins need to exit immediately, then there is no escaped goroutine. Then we need pass a channel or something similar to plugins, when plugins need to wait something, it also waits the channel at the same time.

*  If the scheduler receives a sh

[2019-08-15 06:50] hollywater commented on #81216
Sorry. Several days ago I found the CNI installation of work nodes were banned by GWF China when looking through logs. It turns fine now after I reinstall k8s and add proxy at work nodes.
Thank you guys!

[2019-08-15 06:50] #81216 closed

[2019-08-15 06:54] stutteringp0et commented on #76531
Same problem using systemd for kubelet and docker - I'm only commenting to offer an option to reduce the disk IO.

Create /etc/rsyslog.d/01-filter.conf with the following lines:
:msg, contains, "Created slice libcontainer_" ~
:msg, contains, "Removed slice libcontainer_" ~
:msg, contains, "Error while processing event (" ~
:msg, contains, "Failed to get RecentStats(\"/libcontainer_" ~
:msg, contai

[2019-08-15 07:19] louygan commented on #59902
which release will include this change?

[2019-08-15 07:35] bdelsaz opened #81459 "Add context name to output when using kubectl calls"
Hi all,
It would be useful to have the context name included when performing kubectl calls.
Below an example of what I mean:
![image](https://user-images.githubusercontent.com/46991222/63079905-ee196f80-bf3f-11e9-8aee-8ccfe200a0ff.png)

I think this would be an useful feature for folks who work with multiple contexts on the console. Sometimes it is way too easy to perform an action in the wrong co

[2019-08-15 07:43] git006 commented on #49804
用kubectl -n kube-system get pods可以看到pods. 但是没有这个文件/etc/kubernetes/apiserver

[2019-08-15 08:04] shiyan2016 commented on #81412
The result is still 98, as below：
[code]

[2019-08-15 08:13] shiyan2016 commented on #81412
I want to get the non-running pod count on the node. So I use the prometheus query:
[code]
And found that there are negative result. Checking the negative result, it shows the kubelet_running_pod_count is not correct.

Getting kubelet_running_pod use ksm, I think I can add pod node info in the metric kube_pod_status_phase. But kubelet_running_pod_count in kubelet prometheus metic is still a bug.

[2019-08-15 08:18] cann0nf0dder commented on #81286
not sure if I follow. I'm still unable to track what exactly triggers the upgraded master to keep flapping in/out node ready. (most of what I found is in the logs above) What I found is, if the elected (leader) master runs on upgraded version (1.14.4), the issue is not present. Since I have 5 masters, I'm looking for a process to upgrade 1st master and make that a leader, so far the election seems

[2019-08-15 08:39] zouyee commented on #81412
/assign

[2019-08-15 09:03] zouyee commented on #81412
Would you mind to provide the following results?
`kubectl get po --all-namespaces -owide|grep k8s-node01|grep Running|wc -l`
`kubectl get po --all-namespaces -owide|grep k8s-node01|wc -l`
`docker ps|grep pause|wc -l`
`count(kube_pod_info unless on (pod, namespace) (kube_pod_status_phase{job="kube-state-metrics", phase="running"} > 0))  by (node) `

[2019-08-15 09:32] #80784 closed

[2019-08-15 09:55] NeilW opened #81466 "kubectl gluster EndpointNamespace not showing properly"
**What happened**:

[code]

**What you expected to happen**:

EndpointNamespace should be the string name of the namespace used.

**How to reproduce it (as minimally and precisely as possible)**:

Create a glusterfs PV using an EndpointNamespace entry and run 'kubectl describe pv' on the resulting PV.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version

[2019-08-15 09:55] NeilW commented on #81466
/sig cli

[2019-08-15 10:32] shiyan2016 commented on #81412
`kubectl get po --all-namespaces -owide|grep k8s-node01|grep Running|wc -l`
95
`kubectl get po --all-namespaces -owide|grep k8s-node01|wc -l`
95

k8s-node01: docker ps|grep pause|wc -l
98
 `count(kube_pod_info unless on (pod, namespace) (kube_pod_status_phase{job="kube-state-metrics", phase="running"} > 0)) by (node) `
95

[2019-08-15 10:48] oceaneLonneux commented on #46861
Doesn't work for me. I have the cli on 1.12.7 and cluster 1.12

[2019-08-15 11:00] #67813 closed

[2019-08-15 11:27] michaelkipper commented on #75791
We use managed Kubernetes on Google Cloud, so I'm not sure this is possible/sustainable.

[2019-08-15 11:43] xieyanker commented on #81334
I think the source of the problem is `apiserver`.

I log the pod with debug mode as follows:

[code]

Then I use `curl localhost:8080/api/v1/namespaces/kube-system/pods/kube-apiserver-master1/log?follow=true&tailLines=10` to get logs directly, but it cannot log Continuously.

Is there anyone can support some ideas for me?

[2019-08-15 12:01] kharunsamuel1 commented on #81466
/assign

[2019-08-15 12:30] fmors commented on #72107
This is also an issue on K8s v1.12.8.

I have a CronJob that creates a job that makes a dump of a mongo database into an EFS. The first jobs started by this CronJob and their corresponding pods work fine, but after a few jobs it starts to give the same mount errors:

Unable to mount volumes for pod "<pod name>": timeout expired waiting for volumes to attach or mount for pod "<pod>". list of unmoun

[2019-08-15 12:35] arianvp commented on #79472
I have another painpoint here: https://github.com/dhall-lang/dhall-kubernetes/issues/77

When doing code generation from the OpenAPI spec,  objects that describe sum types like `Volume` are hard to generate code for because it's not clear from the spec of `Volume` that only one of the `emptyDir, configMap, azureDisk, ... etc` fields can be used.

[2019-08-15 12:38] kharunsamuel1 commented on #81227
/assign

[2019-08-15 12:53] xieyanker commented on #81334
I have referenced the issue #54205, but no help for me.

[2019-08-15 13:03] liggitt commented on #79472
see the union proposal in https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190325-unions.md#openapi

[2019-08-15 13:15] agolomoodysaada commented on #28969
/remove-lifecycle stale

[2019-08-15 13:35] mattjmcnaughton commented on #81451
Hi @Dieken

Thanks for sharing your issue. To be sure I'm understanding, is the issue that no garbage collection of dead container is occurring? Or is it that specific containers that you'd expect to be garbage collected are not being garbage collected? Any logs you can share would be great.

From reading the link you posted, it does appear that k8s considers the age of containers when deciding wh

[2019-08-15 13:38] lmunro-at-shopify commented on #75791
@liggitt I agree with your interpretation.

Not being able to change anything on `kube-apiserver` (because GKE), I ran an experiment a while ago where I forked [controller-runtime](https://github.com/kubernetes-sigs/controller-runtime) and forced a downgrade from HTTP2 to HTTP1.1 with `SetKeepAlivesEnabled(false)` on the admission controller's `httpServer`.

Forcing a new connection on every reque

[2019-08-15 13:38] mattjmcnaughton commented on #81446
Hi @saiwl :)

Take a look at https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/#create-a-pod-that-gets-assigned-a-qos-class-of-burstable and let me know if you think it could support your use case.

[2019-08-15 13:40] zouyee commented on #81412
`kubelet_running_pod_count` == `docker ps|grep pause|wc -l`
related code :https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L297

[2019-08-15 13:42] liggitt commented on #75791
yeah, not suggesting it as a solution, just as a triage tool to narrow down the issue

[2019-08-15 13:43] liggitt commented on #75791
HTTP/1.1 with keep-alive might be a reasonable balance. serial requests would go to a single backend as long as the connection was kept alive, but concurrent requests would distribute better. I'll look into what it would take to make the webhook clients use HTTP/1.1 as a short-term solution.

[2019-08-15 13:51] alculquicondor commented on #81433
I think the cleanest solution is to wait for the current schedule cycle to finish. That is, wait for `scheduleOne` and its side effects to finish for the current pod.

I observed that `sched.Run` doesn't block. Does anyone know the motivation for this? This means that nothing is tracking `scheduleOne` to finish running. And then `scheduleOne` spawns the go routine that @Huang-Wei mentioned, which

[2019-08-15 13:59] krish7919 opened #81469 "Override NLB health check values based on annotations"
**What happened**:
Please refer: https://github.com/kubernetes/cloud-provider-aws/issues/51

I set the proper annotations, as per the documentation in Kubernetes, to the service of `type: LoadBalancer`  using an AWS NLB:

[code]

However, these settings do not have any effect on the code as per the code [here](https://github.com/kubernetes/cloud-provider-aws/blob/8f6e1e3d2cfa20a0deac088b9c4022d433

[2019-08-15 14:02] cann0nf0dder commented on #81286
To be specific I meant kube-control-manager on the upgraded master needs to be a leader for the issue to resolve.

[2019-08-15 14:03] krish7919 commented on #81469
@kubernetes/sig-aws

[2019-08-15 14:11] SataQiu commented on #81451
Maybe we should add a new flag `--container-maximum-surviving-age`. If the container lives longer than this threshold, clean it up. @Dieken

[2019-08-15 14:17] danwinship commented on #69882
No, there are already other annotations that don't match that naming convention that plugins want access to. Eg, the [Network Attachment annotation](https://docs.google.com/document/d/1Ny03h6IDVy_e_vmElOqR7UdTPAG_RNydhVE1Kx54kFQ/edit#bookmark=id.qlmlur5ks48t) or the [pod bandwidth annotations](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/bandwidth/utils.go#L39). You should pass al

[2019-08-15 14:20] #79548 closed

[2019-08-15 14:59] #75433 closed

[2019-08-15 14:59] #39824 closed

[2019-08-15 15:35] gnufied commented on #81166
/assign

[2019-08-15 15:40] cmcarey commented on #29838
Yes, imo this is a bugfix and not a feature request.

[2019-08-15 15:55] paulsubrata55 opened #81474 "SCTP nodeport service is not working for all IPs present in the node when ipvs is enabled."
**What happened**:
SCTP nodeport service is not working for all IPs present in the node when ipvs is enabled. It is working only for node's InternalIP.

**What you expected to happen**:
SCTP nodeport service must work for all ips present in the node when ipvs is enabled.

**How to reproduce it (as minimally and precisely as possible)**:
Create a kubernetes cluster with at least one node having mul

[2019-08-15 15:57] paulsubrata55 commented on #81474
/sig network
/area kube-proxy
/area ipvs

[2019-08-15 16:10] dims commented on #81118
also the the use of SSH tunnels is not very prevalent in the community. it's limited to select few providers (one?)

[2019-08-15 16:11] dims commented on #81118
related https://github.com/kubernetes/kubernetes/issues/49402#issuecomment-330682787

[2019-08-15 16:30] liggitt commented on #81192
still in progress

[2019-08-15 16:33] RainbowMango commented on #81028
Can I take this task?

[2019-08-15 16:50] Huang-Wei commented on #81433
Actually we don't "wait" here. Once `scheduleOne()` finishes the "scheduling cycle", it spawns a goroutine to perform the "binding cycle" in the background, and continue to the next cycle. So in other words, it's possible there are more than one goroutines flying in the air when the scheduler is being shutdown.

I'm not sure I like it. Current scheduler is adopting an "optmistic" strategy (`assume

[2019-08-15 16:53] lavalamp commented on #75791
For APIService (aggregated apiserver) we deliberately look at the endpoints and connect directly, if we're connecting to a service in the cluster, anyway.

Idea 1: We might want to add similar logic in apiserver to make the webhook connections.

Idea 2 (**actionable experiment**): There's (at least) two relevant ways to configure a Service in Kubernetes--ClusterIP, which ends up with a single IP,

[2019-08-15 17:10] liggitt commented on #75791
Webhooks resolve services the same way aggregated API servers do. API aggregation has the same http/2 balancing issue.

It resolves the [DNS name to a list of IPs](https://github.com/golang/go/blob/master/src/net/lookup.go#L235-L236), then attempts each IP in turn until it makes a successful connection, then reuses that connection (if keep-alive is enabled). It does not load balance.

[2019-08-15 17:11] alculquicondor commented on #80775
@bsalamat any thoughts on the latest proposed solutions?

[2019-08-15 17:17] rajdeep-arora commented on #65066
I am getting similar error
error when replacing "STDIN": configmaps "dag" not found

I am trying to create a configmap dag from a python (.py) file using this command -
kubectl create configmap dag --from-file=./dags/teardown_residual_reservation.py --dry-run -o yaml | kubectl replace configmap dag -f -

[2019-08-15 17:27] jonstelly commented on #53059
/reopen
/remove-lifecycle rotten

[2019-08-15 17:30] Huang-Wei commented on #81433
@alculquicondor I'm not aware of any background on this. I think it's some legacy issue on using `stopCh` and `ctx.Context` there, we can use this chance to consolidate them, for example:

[code]

[2019-08-15 17:39] Huang-Wei commented on #81433
@hex108 I'm leaning toward giving the control to each plugin - which means technically pass in the `ctx.Context` to each plugin, and plugin decides to handle `ctx.Done()` event either at the end of their own cycle, or immediately upon receival.

[2019-08-15 18:06] #78514 closed

[2019-08-15 18:06] #78841 closed

[2019-08-15 18:21] tamalsaha commented on #81310
@liggitt , I wonder if you got a chance to look into this?

[2019-08-15 18:22] bsalamat commented on #80775
I still like option #1 with an `IsUnschedulable` function in `Status`, but I do not have a strong preference. Please feel free to proceed with other options any of those has more votes.

[2019-08-15 18:38] liu-cong commented on #81433
Reading through the conversations, it seems that there are 2 options at a high level:
1. **Passing the stop signal** (be it a context or a channel) **to each Plugin** (using PluginContext or some other form). Each plugins decides how to handle it.
2. The **framework itself handles the stop signal** and plugins don't.
-2.a Upon completion of each plugin, check the signal and return aggressively. So

[2019-08-15 18:39] alculquicondor commented on #81433
If we leave the decision to the plugins, then I still think waiting for the whole "binding" routine to finish is a good idea.

`ListenForSignal` doesn't close the channel. I don't think we are ever closing it, except for tests. However, I assume that is what we are concerned about in the case of the flake.

My recommendation is that we not only close the channel, but wait for anything to finish pr

[2019-08-15 18:49] kmala commented on #69882
Thanks for giving more context. I will make a PR passing all the annotations.

[2019-08-15 18:53] huydinhle commented on #75478
@andyzhangx thank you

[2019-08-15 18:58] mikedanese commented on #81028
Yes please.

[2019-08-15 19:01] liggitt commented on #81100
fixed in master in #80236

/close

[2019-08-15 19:01] #81100 closed

[2019-08-15 19:03] liggitt commented on #81100
looks like the feature branch was last rebased on 7/14:

[code]

[2019-08-15 19:26] andrewsykim commented on #81308
/remove-triage unresolved

[2019-08-15 19:26] andrewsykim commented on #81474
/remove-triage unresolved

[2019-08-15 19:53] Huang-Wei commented on #81433
The decision is still owned by plugins. If they want to finish the whole "binding" routine, they can return "success" as the status; otherwise cancel internally and return "non-success".

Yup, that's a debugger case. The main scheduler process isn't associated with signal handling yet.

[2019-08-15 20:03] neolit123 commented on #63726
/reopen
/remove lifecycle-stale

[2019-08-15 20:15] MikeSpreitzer commented on #76846
I opened #81485 to try to help #81224 along, but am stuck at the integration test failures regading webhooks.

[2019-08-15 20:19] fedebongio commented on #81380
/assign @roycaihw

[2019-08-15 20:19] gnufied commented on #81365
Hmm.. so looks like my original issue was not entirely valid, we seem to be calling detach even if volume fails to remove from `nodesToUpdateStatusFor` field, but we are adding the volume back to `nodesToUpdateStatusFor` field if detach fails, but this is less of a fatal error.

[2019-08-15 20:22] roycaihw commented on #81380
The bug report sounds legit. Does the generic scale client need to be changed (I think so), or does https://github.com/kubernetes/dashboard/pull/4195 solve your issue?

[2019-08-15 20:23] awly commented on #81125
While sealing/encrypting critical secrets is a good idea, I don't think it matters here.
For example, if credential is a bearer token, it's much more likely to be logged post-decryption (e.g. logging request headers, unredacted).

[2019-08-15 21:01] cji commented on #81146
@jdelta-RBS I think the answer is going to vary based on the issue, making it hard to say for sure. Some of these issues are longer term feature requests that have never existed, so they would affect every version. Others would need to be git blamed to look when the code was introduced to get a real understanding of the versions/branches that are affected, and that has not been done.

[2019-08-15 21:02] cji commented on #81146
@disconnect3d great idea! especially now that some of these are being closed as wontfix or duplicates of other issues, I agree having a status column is helpful to understand the current situation more than just seeing a "closed" label on the referenced issues. I've added the column and will do my best to keep things mostly up to date!

[2019-08-15 21:04] eloyekunle commented on #81380
No, the dashboard PR doesn't solve this. I discovered this issue while working on that PR so when https://github.com/kubernetes/dashboard/pull/4195 gets merged, it will only work for namespaced CRDs.

I think the generic scale client needs to be updated, maybe by adding another getter to the ScalesGetter interface:

[code]

[2019-08-15 21:49] thockin commented on #81315
/remove-triage unresolved

[2019-08-15 21:55] aurelienshz commented on #60807
Here's a resource that helped me: https://www.ibm.com/support/knowledgecenter/en/SSBS6K_3.1.1/troubleshoot/ns_terminating.html

It's similar to the solution proposed by @slassh, but it uses `kubectl proxy` to create a local proxy and make the `curl` easier to copy-paste.

[2019-08-15 22:26] BenTheElder commented on #42552
What's the recommendation here? cc @seans3

[2019-08-15 22:27] apolcyn commented on #80857
cc @dfawley

[2019-08-15 22:28] msau42 commented on #71289
/assign

[2019-08-15 22:39] imkin commented on #79912
@cblecker cherry-pick is here.
https://github.com/kubernetes/kubernetes/pull/81487

[2019-08-15 22:47] imkin commented on #79912
@cblecker are we supposed to have the build_dependencies.yaml in 1.15 release?

[2019-08-15 23:02] cblecker commented on #79912
go1.12.9 just got released today. We may have revisit this plan.

[2019-08-15 23:13] dfawley commented on #80857
Can you quantify this in terms of QPS, latency, and/or throughput?  The numbers I see in https://github.com/kubernetes/kubernetes/issues/80857#issuecomment-517641354 seem to show ~15% higher latency in the first set of data vs. the second.

Can you also describe your test environment and workload?

gRPC's TLS implementation is a simple wrapper of https://golang.org/pkg/crypto/tls from the standard

[2019-08-15 23:17] #75449 closed

[2019-08-15 23:50] nomcopter commented on #19077
/remove-lifecycle stale

[2019-08-16 00:32] spiffxp opened #81490 "The serial regular resource usage tracking e2e tests are too slow"
**What happened**:
The following two tests take roughly 65 minutes in ci-kubernetes-e2e-gci-gce-serial:
- `[k8s.io] [sig-node] Kubelet [Serial] [Slow] [k8s.io] [sig-node] regular resource usage tracking resource tracking for 100 pods per node`
- `[k8s.io] [sig-node] Kubelet [Serial] [Slow] [k8s.io] [sig-node] regular resource usage tracking resource tracking for 0 pods per node`

https://testgrid.

[2019-08-16 00:33] spiffxp commented on #81490
/milestone v1.16

[2019-08-16 00:39] spiffxp opened #81491 "The serial HPA e2e tests are too slow"
**What happened**:
The following two tests take roughly 70 minutes in ci-kubernetes-e2e-gci-gce-serial:
- `[sig-autoscaling] [HPA] Horizontal pod autoscaling (scale resource: CPU) [sig-autoscaling] [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability`
- `[sig-autoscaling] [HPA] Horizontal pod autoscaling (scale resource: CPU) [sig-au

[2019-08-16 00:40] spiffxp commented on #81491
/remove-area kubelet
bad copy-pasta

[2019-08-16 00:54] MikeSpreitzer commented on #76846
FYI, here is how I launch for testing right now:
[code]

[2019-08-16 00:58] andyzhangx commented on #75478
@huydinhle problem solved? could you also loop me in the support ticket, my mail: xiazhang@microsoft.com, I would like to know the RCA also, thanks.

[2019-08-16 01:02] BenTheElder commented on #57601
@liggitt what about the deployment tools agreeing to configure the default service account with `automountServiceAccountToken: false` for new clusters? Technically this wouldn't be changing the API as far as I can tell?

[2019-08-16 01:15] RainbowMango commented on #81028
/assgin

[2019-08-16 01:17] RainbowMango commented on #81028
/assign

[2019-08-16 01:22] qq1778551951 opened #81492 "what is the svc of dashboard-metrics-scraper mean in dashboard of version V2.0.0"

[2019-08-16 01:45] davidz627 commented on #68528
/remove-lifecycle rotten

[2019-08-16 01:52] willmao commented on #57801
we are facing a similar issue, one deployment can not pull a image while others are all fine, clone the deployment with a different name and the new deployment can pull image successfully, do not what is wrong

[2019-08-16 02:16] hex108 commented on #81433
@Huang-Wei +1, it makes sense.

[2019-08-16 02:19] justinsb commented on #71305
Have we decided on an approach here?  While pinning iptables to program ip_tables is good, it sounds like if we don't win the race to update alternatives, and something else programs an nf_table rule, we end up with both ip_tables and nf_tables and that packets disappear (per https://github.com/kubernetes/kubernetes/issues/71305#issuecomment-448052889 ).

But on the other hand, if we can ensure th

[2019-08-16 02:22] #75394 closed

[2019-08-16 02:24] adevjoe commented on #81492
/sig dashboard-metrics-scraper

[2019-08-16 02:29] adevjoe commented on #81492
/sig ui

[2019-08-16 02:33] shiyan2016 commented on #81412
I found that one pod had start 3 pause containers, and another pod started 2 pause containers. Do not quite understand what makes that start more pause containers since our pod did not specify extra container use pause image.

[2019-08-16 02:34] trierra commented on #80457
I have a similar issue. Getting the following error, despite `+genclient:nonNamespaced` annotation:
[code]

[2019-08-16 03:03] BenTheElder commented on #79351
@amalts probably at least https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/identifiers.md (https://github.com/kubernetes/kubernetes/issues/79351#issuecomment-505278296) should be updated

[2019-08-16 03:20] shiyan2016 commented on #81412
I think using pause container count to calculate kubelet_running_pod_count is not correct. For example, the pod's pause container had set up successfully, but other container in pod does not in running state.

[2019-08-16 03:36] justinsb commented on #81092
Ingress, so
/sig network

[2019-08-16 03:38] justinsb commented on #81092
Not sure, but I suspect you need to use an httpGet probe

[2019-08-16 03:50] jimangel commented on #78907
Looks like this is still flaking on `task-06-upgrade`:
[code]

/cc @cpanato
/cc @neolit123

[2019-08-16 03:53] justinsb commented on #80967
Once we have CSINode, I'm guessing the AWS VPC CNI driver will need to dynamically update CSINode allocatable for the AWS EBS driver, and the scheduler will watch CSINode objects.  I'm assuming the scheduler keeps a watch on CSINode objects anyway, so this should work, modulo annoying race conditions (?)

Have we thought more about how the scheduler can know not to schedule too many pods?  Should

[2019-08-16 03:58] zouyee commented on #81412
The judgment of the pod running for kubelet is different from other components.

[2019-08-16 04:06] jimangel commented on #81198
Seems better but still flaking as of 8/15...

[2019-08-16 04:10] jimangel commented on #81316
@Huang-Wei it still seems to be failing on `test` / `timeout` with:
[code]

https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-serial

[2019-08-16 04:11] Novex commented on #81001
Oh.. Does that mean that it's intentional that /dev/shm persists across container restarts? Any ideas why that might be the case?

[2019-08-16 04:29] mikedanese commented on #57601
Deployment tools are free to do that if they are ok with breaking users on upgrade, although this isn't something that e.g. GKE could do.

[2019-08-16 05:24] feiskyer opened #81496 ""location" and "subscriptionId" should get got from Azure IMDS when useInstanceMetadata is true"
**What happened**:

PR https://github.com/kubernetes/kubernetes/pull/77906 allows Kubelet to run with no Azure identity:

But actually, subscriptionId could also be got from IMDS.

Also, when getting availability zones, `location` from IMDS should be used instead of cloud-config file:

https://github.com/kubernetes/kubernetes/blob/2974adff27619bb27a27a78bd61de772a2d65bef/staging/src/k8s.io/legacy-

[2019-08-16 05:30] andyzhangx commented on #75396
/reopen

[2019-08-16 05:42] chendave opened #81498 "`flags` should be initialized for apparmor-loader"
**What happened**:
docker image built from source doesn't work with below error message,
[code]

run binary doesn't work either,
[code]

**What you expected to happen**:
profile could be loaded successfully.

**How to reproduce it (as minimally and precisely as possible)**:
-  cd test/images
- make all WHAT=apparmor-loader
- create namespace
- create DaemonSet with the built image
- check the log

[2019-08-16 05:42] chendave commented on #81498
/assign

[2019-08-16 05:50] apalok commented on #62594
Guys same issue I am facing but it happen after time intervals like after 2 days. It works properly in starting and looks stable but after time intervals pod going in infinite loop of restarting one by one of the same service.

[2019-08-16 06:01] Huang-Wei commented on #81316
@jimangel the testgrid is green since the PR reverting:

![image](https://user-images.githubusercontent.com/1425903/63146680-aa128300-bfb0-11e9-9eef-be502bf6b898.png)

[2019-08-16 06:06] saiwl commented on #81446
Thanks for replying! I read the instructions, but it seems not to be what we need. Here are our two typical scenarios：
1、Some services has high cpu usage peaks which will only last for a few seconds or shorter. If they request CPU by the usage peak，there may be a lot resource waste. So we usually set them burstable. The limits cannot be setted too low because of the cpu usage peaks, otherwise the

[2019-08-16 06:41] Dieken commented on #81451
@mattjmcnaughton

Those two settings are for image gc, not container gc.

This issue is a feature request, not a bug report,  currently k8s container gc works correctly,  we have many pods that each has exactly one long dead container,  this doesn't violate maximum-dead-containers-per-container=1,  but those containers have exited for *many months*,  they should be automatically removed because th

[2019-08-16 06:41] rojkov commented on #71233
I've investigated the crash. The culprit is that kubelet doesn't update `/sys/fs/cgroup/hugetlb/kubepods/hugetlb.2MB.limit_in_bytes` upon Node Status Update which happens every 5 minutes by default. Yet it updates the node's resources correctly after enabling hugepages on the host. This creates the possibility to schedule a workload using hugepages on a node with misconfigured limits in the root c

[2019-08-16 08:00] amalts commented on #79351
/assign

[2019-08-16 08:27] donggitdong opened #81504 "kubernetes from 1.9.11 version update 1.13.8 version kube-apiserver error [31244]: E0816 available_controller.go:316] v1beta1.apps"
system : CentOS Linux release 7.6.1810 (Core)  64bit

deploy : ansible-playbook

# kubectl version
[code]

kubectl api-versions
[code]

logs:
[code]

[2019-08-16 08:28] #75383 closed

[2019-08-16 08:46] max-rocket-internet commented on #78761
Just look at these events and missing `reason`:

[code]

[2019-08-16 09:07] davidkarlsen commented on #76308
/remove-lifecycle stale

[2019-08-16 09:13] cmcarey commented on #42552
Yes, imo this is a bug.
I would expect it to watch until I exit the proc.

/reopen
/remove-lifecycle rotten

[2019-08-16 09:21] xichengliudui commented on #77052
/close

[2019-08-16 09:21] #77052 closed

[2019-08-16 09:31] slon7 commented on #79523
Any update on this?

[2019-08-16 10:40] zky881220 opened #81508 "is kubernetes 1.9.2 don't support --etcd-servers-overrides crd type"
[environment]
kubernetes 1.9.2
--etcd-servers-overrides=isolate.harmonycloud.cn/hleases#http://10.10.101.176:2379

crd.yaml
`apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: hleases.isolate.harmonycloud.cn
spec:
  group: isolate.harmonycloud.cn
  version: v1alpha1
  names:
    kind: HLease
    plural: hleases
  scope: Namespaced`

[expected results]
hleases

[2019-08-16 11:32] danwinship commented on #71305
Our approach in OpenShift is to have the relevant pods [mount the entire host filesystem](https://github.com/openshift/cluster-network-operator/blob/29f0129/bindata/kube-proxy/kube-proxy.yaml#L56), and in the [corresponding image](https://github.com/openshift/sdn/blob/master/images/kube-proxy/Dockerfile.rhel) we install [wrapper scripts](https://github.com/openshift/sdn/blob/master/images/iptables

[2019-08-16 11:49] eloyekunle commented on #81380
PR: https://github.com/kubernetes/kubernetes/pull/81507

[2019-08-16 11:54] chrissound commented on #67135
This seems to be in  contradiction to what `kubectl apply` is documented as.  It (replica count) also does not show up as a change when using `kubectl diff -f`...

[2019-08-16 12:02] jimangel commented on #81316
Thanks @Huang-Wei, sorry to mix up the tests.

We'll keep our eye on it for a little longer before closing and I'll make sure we have issues for the other failures.

[2019-08-16 12:05] justinsb commented on #71305
@danwinship my concern is the validation though - should we now run every e2e once with nf_tables and once with ip_tables?  (Ignoring more efficient testing strategies)

I like your suggestion of having iptables do something more sensible, but even if we could guarantee nf_tables operation, I don't believe that's what we've built & tested for.

[2019-08-16 12:06] #75980 closed

[2019-08-16 12:17] GuyCarmy commented on #63371
Also ran into this just now, caused an unintentional trigger.
changed a cronjob with the purpose of delaying it and caused an immediate execution.

just a +1 for this issue.

[2019-08-16 12:40] jamesrgrinter opened #81511 "add field selector for kubectl top"
After discovering [#50140](https://github.com/kubernetes/kubernetes/pull/50140) I then found that whilst it added `--field-selector` for `kubectl get` it didn't generalise it to other commands, such as `kubectl top`

It should be added for consistency across get and top commands (and any others that support label `-l`, e.g. `logs`, `describe`) as a way to narrow the selection of pods by run-time c

[2019-08-16 12:41] jamesrgrinter commented on #81511
/sig cli

[2019-08-16 12:44] danwinship commented on #71305
The two modes are supposed to be equivalent in terms of behavior. (The advantage of using iptables in nft mode is that it lets *other parts* of the system use nft directly, and get nft's advantages, and their rules will interoperate correctly with the iptables-nft rules. Whereas if you use iptables-legacy, the iptables rules and nft rules would conflict with each other in complicated ways.)

So an

[2019-08-16 12:48] alculquicondor commented on #81433
Agreed that leaving the control to the plugin is a good idea. They might consider that any operation they have initiated needs to be completed.

But again, that implies that we should have a wait group for all the routines already spawned, so that we can reliably eliminate the flakes.

[2019-08-16 12:55] rihardsk commented on #74551
I get the same issue when trying to access an in-cluster docker registry. When i try to push an image right after the forwarding is started, everything's fine for about 3 seconds - a couple of layers manage to get pushed but then the upload quickly grinds to a halt and never completes.

Here's output from the `kubectl port-forward`
[code]
And here's how the `docker push` output looks when it has h

[2019-08-16 13:01] justinsb commented on #71305
Thanks @danwinship - good to know it does seem to work on RHEL8!

My view is that we should actively choose ebpf vs nft vs ipvs vs ipt, and if someone wants to change that they have to chop the wood and carry the water - i.e. if the iptables maintainers do the work to replace iptables in our containers, and are generally available to fix breakages, _then_ we should consider adopting nft.

In the a

[2019-08-16 13:21] salt-mountain commented on #52386
Any additional information on this?

[2019-08-16 13:54] fasaxc commented on #71305
That's the approach we've taken with Calico.  We found an iptables-nft bug and worked around.  The iptables developers were responsive when we reported the bug and, as it happens, they'd already committed a fix for the issue we hit and that fix was released into debian within a few weeks.

[2019-08-16 14:03] enj commented on #81140
SGTM, probably should discuss it at the next sig meeting.

[2019-08-16 14:12] mattjmcnaughton commented on #81451
Whoops, you're right @Dieken :)

One other question... would setting `--maximum-dead-containers-per-container=0` work? Or do you want to retain them for some team (but not indefinite)?

[2019-08-16 14:21] 908875137 opened #81513 "other pc can't visit k8s dashboard"
My mac can visit k8s dashboard, but other pc can't.  What's the reason ?
  - [ ] I have tried with the latest version of my channel (Stable or Edge)
  - macOS Version: 10.14
  - Docker for Mac: version: 19.03.1
  - k8s version : 1.14.3
  - eneble k8s on docker for mac setting
  -  apply k8s dashboard.yaml
  -  my mac ip is : 192.168.0.200

### kubectl get service --all-namaspaces

NAMESPACE

[2019-08-16 14:24] mattjmcnaughton commented on #81446
One additional option you have is that - instead of trying to add this behavior directly to k8s - you could write a controller which monitors the appropriate k8s api endpoints and dynamically updates your pod cpu limits accordingly? The advantage of this approach is that it would free you from k8s release cycles and getting community consensus on your approval - i.e. it might result in you having

[2019-08-16 14:44] BenTheElder commented on #42552
/reopen

[2019-08-16 14:49] wouterhund commented on #75488
/remove-lifecycle stale

This is still a huge problem on Azure with the LoadBalancer's tcp timeout.

[2019-08-16 14:49] jimangel commented on #81316
/close

[2019-08-16 14:49] #81316 closed

[2019-08-16 15:20] emfmesquita commented on #75688
I tested it on v1.15.2 and could not reproduce it anymore. I guess it was fixed. So I am closing it.

[2019-08-16 15:20] #75688 closed

[2019-08-16 15:26] liggitt commented on #81504
if there are multiple apiservers, conflicts are expected. that log line can ignore conflict errors

[2019-08-16 15:35] #75248 closed

[2019-08-16 15:59] RobertKrawitz commented on #78865
This happens when the runtime directory (e. g. /var/lib/crio, /var/lib/docker) is not on the kubernetes root filesystem; it's due to [this code in the eviction manager](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/eviction/eviction_manager.go#L501).

It's not apparent to me why this was done, and the author of the code (in changeset 27901ad5df0a338b5cf281d12e046a1cebc316a8) app

[2019-08-16 16:08] adelwin commented on #63326
i think would've made better sense to trim the azurestorageaccountname value when receiving it... anyways the storage account name wont have \n in them right?
I think that just made better developer experience...

[2019-08-16 17:03] yliaog commented on #80457
https://github.com/kubernetes/kubernetes/pull/80458 should fix it, @trierra could you try it?

[2019-08-16 17:16] tallclair opened #81518 "Investigate golangci-lint to simplify our verify-* scripts"
A lot of our go verification scripts are included in [golangci-lint](https://github.com/golangci/golangci-lint), which is designed to aggregate the tools for CI. It looks like the following are included:

- govet
- golint
- gofmt
- misspell
- staticcheck (https://github.com/kubernetes/kubernetes/pull/81189)

This tool might be able to simplify our verify scripts, as it encapsulates some of the fun

[2019-08-16 17:21] liggitt opened #81519 "clean up CRD type godoc"
follow-up from https://github.com/kubernetes/kubernetes/pull/79604#discussion_r314407261

Update the godoc on the CRD API types to follow conventions by matching the serialized field name

/sig api-machinery
/kind cleanup
/assign
/priority important-soon
/area custom-resources

[2019-08-16 17:49] trierra commented on #80457
sure, thank you

[2019-08-16 18:12] spiffxp commented on #81401
/milestone v1.16

[2019-08-16 18:14] RobertKrawitz opened #81523 "When runtime imagefs mount is not on root filesystem, writable layer usage does not count toward ephemeral storage consumption"
**What happened**: When the writable layer of a pod is not on the Kubernetes root filesystem (e. g. /var/lib/crio or /var/lib/docker is not on the Kubernetes root filesystem), it's possible to create an arbitrary amount of data without triggering eviction based on ephemeral storage limit

**What you expected to happen**: When creating 1GB of data in /tmp on a pod whose ephemeral-storage limit is 1

[2019-08-16 18:15] grailsweb commented on #76531
+1 same issue.

Kubernetes 1.15.2
 Cgroup Driver: systemd
 Operating System: CentOS Linux 7 (Core)

kubelet
 --cgroup-driver=systemd

systemd: Removed slice libcontainer_19631_systemd_test_default.slice
systemd: Removed slice libcontainer_19631_systemd_test_default.slice
systemd: Removed slice libcontainer_19637_systemd_test_default.slice
systemd: Removed slice libcontainer_19637_systemd_test_defa

[2019-08-16 18:15] RobertKrawitz commented on #81523
/sig node

[2019-08-16 18:29] spiffxp commented on #81490
Looking for historical context, putting my notes here (WIP):
- These tests live in https://github.com/kubernetes/kubernetes/blob/master/test/e2e/node/kubelet_perf.go
  - https://github.com/kubernetes/kubernetes/pull/48910 is the earliest PR that touched the file under this name (rename from test/e2e/kubelet_perf)
- There is also https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/re

[2019-08-16 18:30] #81401 closed

[2019-08-16 18:35] spiffxp commented on #81490
/assign @yujuhong
as someone who shows up in the history for these tests a fair amount

[2019-08-16 18:39] BenTheElder commented on #57601
To be clear I was only suggesting on wholly new clusters at some new version of the $DEPLOYER.
Is that really an unreasonable change?

Taking GKE for example -- didn't an update stop deploying the dashboard by default for new clusters but it could still be opted into, which would also be true for configuring the default service account? Or when RBAC became default?

[2019-08-16 18:41] stutteringp0et commented on #76531
I took the advise of @goudai and switched everything to cgroupfs - no more errors and CPU usage is way down.

Interesting to note - this issue doesn't affect arm64, where systemd works just fine with no errors or extra cpu usage.

[2019-08-16 18:47] ericzhang08 commented on #81518
Hi @tallclair. Can I work on This issue?

[2019-08-16 19:07] rmweir commented on #80836
@andyzhangx that would be great, I will work on this today or next week

[2019-08-16 19:09] damemi opened #81526 "Many links in API documentation broken"
**What happened**:
There are many spots in API comments that are broken (pointing to https://git.k8s.io/community/contributors/devel/api-conventions.md). One example is here: https://github.com/kubernetes/api/blob/master/core/v1/types.go#L3491, a quick search for that URL currently shows [84 results on github](https://github.com/kubernetes/api/search?q=https%3A%2F%2Fgit.k8s.io%2Fcommunity%2Fcontri

[2019-08-16 19:10] damemi commented on #81526
/assign @damemi
I plan to fix as this should be easy enough. I'm just opening this to track it, since I haven't been able to fetch or push to k8s repos all day. If someone else can then feel free to take

[2019-08-16 19:35] damemi commented on #81526
/label good-first-issue

[2019-08-16 19:36] damemi commented on #81526
/good-first-issue

[2019-08-16 21:18] thockin commented on #71305
A built-in "figure it out" mode seems right.  This is frankly ridiculous.  This is what APIs are for, and like it or not `exec iptables` is an API.  Forcing all parties to coordinate and use the same binaries is ridonculous and clearly not workable.

It sounds like openshift has implemented a "figure it out" mode on its own.  But I know many customers who are not going to be happy hostPath mountin

[2019-08-16 21:28] ReillyProcentive commented on #71305
@thockin Debian Buster is the main one (as Debian is used as the default distro by many of the k8s components), Ubuntu 19.04, RHEL 8 (and the upcoming Centos 8 by extension), Alpine 3.10, Fedora >= 29.

[2019-08-16 21:31] distortedsignal commented on #81188
Boop.

[2019-08-16 23:02] mauilion commented on #60807
removing the finalizer directly as described in the doc above can have consequences. The resources that were pending deletion will still be defined in the cluster even after the namespace has been released. This is the purpose of the finalizer. To ensure that all dependents are removed prior to allowing the deletion of the ns.

[2019-08-16 23:06] matthias50 opened #81533 "Too many EBS volumes mounted to a node"
**What happened**:

Kubernetes allowed more that 40 EBS volumes to be mounted to a node in violation of the AWS recommended limit.

**What you expected to happen**:

The number of EBS volumes mounted is capped at the limit for the node type.

**How to reproduce it (as minimally and precisely as possible)**:

Mount an EBS volume to an AWS instance outside of Kubernetes. An example use case would be

[2019-08-16 23:07] matthias50 commented on #81533
/sig node

[2019-08-16 23:10] odays commented on #3312
I would like to add a +1 to this. This is an issue I am seeing on a number of clusters, like most above, when running java based services the start up time of the JVMs seems to increase exponentially when a node is restarted and lots of JVMs try to start. It is as described above ok when it is restricted to 1 startup per cpu on the node. As soon as it exceeds this I am seeing the pods never starti

[2019-08-16 23:13] matthias50 commented on #81533
It seems like having some command line parameter to kubelet which would inform it of the number of volumes outside of its control could address this issue. Then kubelet could subtract that from the constants defined in attach_limits.go when reporting capacity for the node.

[2019-08-16 23:21] spiffxp commented on #36621
ref: https://github.com/kubernetes/kubernetes/issues/81490

[2019-08-16 23:22] spiffxp commented on #81490
The tests mention deprecation once a soak cluster is available for them https://github.com/kubernetes/kubernetes/issues/36621

[2019-08-16 23:23] Dieken commented on #81451
Yes, I would like maximum-dead-containers-per-container=1 to retain dead container a while for debug, if it’s zero, I’m afraid it will be gc-ed too soon.

[2019-08-16 23:51] spiffxp commented on #81490
Opened https://github.com/kubernetes/kubernetes/pull/81535 to add a `[Feature:foo]` tag

[2019-08-16 23:58] spiffxp commented on #81491
Opened https://github.com/kubernetes/kubernetes/pull/81537 to add a `[Feature:foo]` tag

[2019-08-17 00:02] #76044 closed

[2019-08-17 00:02] #71860 closed

[2019-08-17 00:03] jedblack commented on #70411
I'm getting this error as well.  Running HAPROXY 1.7 on pfsense.

[2019-08-17 00:37] jpbetz commented on #80767
@hh can we get another apisnoop run? We've added coverage for admissionregistration and apiextensions and I'd like to get confirmation from apisnoop that we've got full coverage now.

[2019-08-17 01:12] liggitt commented on #80767
Keeping this open until tests are actually promoted to conformance

[2019-08-17 01:27] spiffxp commented on #81490
https://github.com/kubernetes/kubernetes/pull/81535#issuecomment-522191164 - next step, include these in soak tests

[2019-08-17 01:59] hswong3i commented on #76531
I found another quick dirty workaround solution: force systemd-journald using tmpfs.

Since kubelet keep on injecting log message to systemd-journald where writing into /var/log/journal with additional disk IO, by deleting /var/log/journal logs will go into /run/log/journal which is a tmpfs by default. This works with Ubuntu 18.04 with default /etc/systemd/journald.conf setup.

BTW drawback there

[2019-08-17 02:10] #81496 closed

[2019-08-17 03:34] andyzhangx commented on #63326
`\n` is not allowed in azure storage account name

[2019-08-17 04:34] BenTheElder commented on #79912
https://github.com/kubernetes/kubernetes/pull/81489 brought Kubernetes master to go 1.12.9
https://github.com/kubernetes/kubernetes/pull/81542 for Kubernetes 1.13 to go 1.11.13
/assign
/assign @cblecker

[2019-08-17 04:34] BenTheElder commented on #79912
/lifecycle active

[2019-08-17 04:35] BenTheElder commented on #79912
/priority critical-urgent
bumping given network CVEs in go

[2019-08-17 04:36] BenTheElder commented on #79912
/remove-priority important-soon

[2019-08-17 04:41] BenTheElder commented on #81400
FWIW ARG_MAX can technically vary even on linux ...?
STDIN SGTM

[2019-08-17 04:44] warmchang commented on #79912
Duplicate PR?
https://github.com/kubernetes/kubernetes/pull/81398

[2019-08-17 04:46] BenTheElder commented on #79912
#81398 is incomplete.

[2019-08-17 04:48] #75492 closed

[2019-08-17 04:51] BenTheElder commented on #79912
https://github.com/kubernetes/test-infra/pull/13957 for the test-infra images, though it will need a follow-up or two to actually deploy the new images (kubekins-e2e should get auto-bumped with prow, kubekins-test requires manual updates but isn't relevant for kubernetes >= 1.15)

[2019-08-17 05:24] BenTheElder commented on #40422
@soltysh @liggitt should this be re-opened..?

[2019-08-17 05:26] BenTheElder commented on #81200
pretty sure we can close this now :-)
/close

[2019-08-17 05:26] #81200 closed

[2019-08-17 05:27] BenTheElder commented on #81200
@jimangel I think the automation is a little confused 🤔

[2019-08-17 05:29] BenTheElder commented on #81198
routes are leaking?
cc @MrHohn (also Zihong, please feel free to poke / suggest someone else to bother 🙃)

[2019-08-17 06:18] zouyee commented on #77174
/reopen

[2019-08-17 06:28] zouyee commented on #77174
![image](https://user-images.githubusercontent.com/5785605/63207582-3e88fc80-c0fb-11e9-88ea-69f133e45a6e.png)

[2019-08-17 06:31] mikedanese commented on #57601
I'm not implying that it's unreasonable, just that it's going to be a hard pill to swallow for GA distributions of Kubernetes. I could see this happening in the [v2](https://github.com/kubernetes/kubernetes/issues/8190) pod API.

[2019-08-17 07:02] zouyee commented on #71233
/assign

[2019-08-17 07:08] cblecker commented on #79912
Status:
- master, release-1.15, and release-1.14 have all had both their golang, and the golang.org/x/net dependency updated
- test-infra images for master, release-1.15, release-1.14, and release-1.13 have all been updated
- #81542 is pending to update the golang and bazel versions on release-1.13
- #81546 is pending to update the golang.org/x/net dependency on release-1.13

[2019-08-17 07:15] BenTheElder commented on #79912
[Clarifying that the image definitions were updated, but the general / e2e images have not rolled out yet. The verify / integration images for Kubernetes ≤ 1.14 have though]

[2019-08-17 07:30] zouyee commented on #76075
https://github.com/kubernetes/kubernetes/pull/81543

[2019-08-17 07:51] justaugustus commented on #79912
(golang changes have also been pulled into `release-1.16` with [the latest branch fast-forward](https://github.com/kubernetes/kubernetes/compare/a5110a8849...f142fb7df5).)

[2019-08-17 08:56] iverberk commented on #80313
We are experiencing the same issue. We are running two Open Policy Agent (OPA) pods in our EKS cluster which are the target of webhooks (mutating and validating). In the webhook configuration we specify the OPA service and expect the admission controller to load-balance across the OPA pods, or at least try the other OPA pod when the current one is failing.

Instead what seems to happen is that the

[2019-08-17 09:07] xieyanker commented on #81334
https://github.com/kubernetes/kubernetes/blob/5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0/pkg/kubelet/kuberuntime/logs/logs.go#L375-L404

I have found `kubectl logs -f` call the `waitLogs` method, and will into a loop finally.

And I add some debug logs and rebuild the `kublet`, I found the channel of `w.Events` will not receive any message on mips64, it will into `time.After(stateCheckPeriod)` forev

[2019-08-17 09:19] xieyanker commented on #81334
It is fsontify's question.
https://github.com/fsnotify/fsnotify/issues/241

[2019-08-17 09:28] dracan commented on #42594
Yikes - was wondering why delete seems to now hang. Now I know! IMO a bad choice for the default behaviour :(

[2019-08-17 09:39] llussy commented on #70082
I am using 3.3.13 with k8s 1.13.9 and seeing the same issue.
[code]
**etcd write is not high**

[2019-08-17 09:42] #80194 closed

[2019-08-17 10:34] justaugustus commented on #80715
The issue was originally opened because the [additional make targets hadn't merged](https://github.com/kubernetes/release/pull/818) ahead of [turning on the CI jobs](https://github.com/kubernetes/test-infra/pull/13343).

The jobs are still failing because the scripts expect docker to be running, but there are a few extra buttons that need to tweaked to enable docker-in-docker for prow jobs, which

[2019-08-17 10:40] justaugustus commented on #80715
(Deprioritizing this as the package jobs didn't exist before, so them failing isn't truly the end of the world.)
/remove-priority critical-urgent
/priority important-soon

[2019-08-17 11:00] mgdevstack commented on #80194
#81170 supposed to fix this issue. (based on #81170 PR description)
/open

[2019-08-17 12:56] #75503 closed

[2019-08-17 12:56] #75508 closed

[2019-08-17 13:11] adelwin commented on #63326
so if azure storage account name does not allow `\n` in the name.. then why not just trim the name instead of error...

Because devs would just `echo "name" | base64` and that would already have the \n in the resulting base64-encoded string...
right?

[2019-08-17 13:40] zouyee commented on #81466
/assign

[2019-08-17 13:45] #66531 closed

[2019-08-17 14:57] tedyu commented on #77174
@zouyee
Were you running in standaloneMode (where kubeDeps.KubeClient would be nil) ?
Otherwise do you see the following error log (from server.go) ?
[code]

[2019-08-17 15:15] liggitt commented on #75780
Issues to track specific go bumps aren't generally useful. go1.11.13 is the desired version now and is in progress

[2019-08-17 15:15] #75780 closed

[2019-08-17 15:20] liggitt commented on #78892
if the filesystem allows writing a file, cp should allow it as well. this is working as intended

/close

[2019-08-17 15:20] #78892 closed

[2019-08-17 15:23] liggitt commented on #79488
package flakes for this package were greatly helped by splitting out the volume tests to their own package. Closing this in favor of individual test flake issues

/close

[2019-08-17 15:23] #79488 closed

[2019-08-17 15:24] praseodym commented on #80577
/area workload-api/cronjob

[2019-08-17 15:25] praseodym commented on #79995
/area workload-api/cronjob

[2019-08-17 15:25] praseodym commented on #78646
/area workload-api/cronjob

[2019-08-17 15:25] praseodym commented on #78564
/area workload-api/cronjob

[2019-08-17 15:49] mattjmcnaughton commented on #81451
On Fri, Aug 16, 2019 at 04:23:46PM -0700, Liu Yubao wrote:

I responded in the PR opened about I way that (I think) we could accomplish your
goal without adding new flags. Let's chat there :)

[2019-08-17 16:14] SataQiu commented on #81451
I think there's a scenario that doesn't work with existing flags: I want to keep as many dead containers as possible, but too old dead containers don't make sense to me, and I'd like to delete containers that have been dead for more than a month。

[2019-08-17 16:33] sauragrawal commented on #30189
Any update on this issue?

[2019-08-17 16:59] vikas027 commented on #71305
Ah, I too stumbled on Debian 10 (or buster) for a couple of hours thinking I have messed my networking.

[code]

The above command did not help in my case; installation through [RKE](https://rancher.com/docs/rke/latest/en/).
[code]

Everything started working after installing Debian 9.9.0 :)

[2019-08-17 17:17] leakingtapan commented on #80967
Since kubelet is already setting CSINode's attach limit by calling CSI driver, suspect there will be conflict if CNI driver is also setting the allocatable.

[2019-08-17 17:20] prameshj opened #81555 "Support GlobalAccess for GCE Internal Loadbalancers"
**What would you like to be added**:
Internal LoadBalancer is currently regional in scope. We want to support the ability to connect to the LoadBalancer from regions other than the one it was created in.  The GlobalAccess option allows this.

**Why is this needed**:
With GlobalAccess, clients can connect to the LoadBalancer from any region, obviating the need to create multiple regional ILBs to su

[2019-08-17 17:20] prameshj commented on #81555
/sig network

[2019-08-17 17:20] prameshj commented on #81555
/area gce

[2019-08-17 17:20] prameshj commented on #81555
/area platform/gce
/assign

[2019-08-17 17:41] mohibkhan-nedian commented on #81092
@justinsb Thanks. You are right, it would work only with httpGet probes and not TCP

[2019-08-17 17:41] #81092 closed

[2019-08-17 17:44] mohibkhan-nedian opened #81556 "nginx-ingress-controller keeps crashing on Minikube (with vm-driver=none)"
I am following [this](https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/) tutorial on my Minikube with vm-driver set to none. My nginx-ingress-controller keeps crashing as in logs below. Is it expected issue? Can it work with vm-driver not set to none?

[code]

**What you expected to happen**:
nginx-ingress-controller to work fine

**How to reproduce it (as minimally and

[2019-08-17 17:49] aojea commented on #81080
/unassign
/assign @bclau

[2019-08-17 19:29] praseodym commented on #42649
I've submitted a PR to remove the 'too many missed start times' behaviour: #81557

[2019-08-17 19:30] droslean commented on #80715
@justaugustus There is another solution that requires GCS account. [openshift/ci-vm-operator](https://github.com/openshift/ci-vm-operator) was initialy be written by @stevekuznetsov and one of the main intentions was to make prow to run jobs that require docker by spawning a VM to GCS and run the tests there. It worths to take a look.

[2019-08-17 20:03] #74382 closed

[2019-08-17 21:48] danderson commented on #71305
I think perhaps the core oversight from iptables folks was not thinking that people would want to alter the host netns's firewall both from the host system and simultaneously from within a chroot whose software does not match the host. Outside the container/k8s ecosystem, that would seem like a daft thing to do, so it doesn't surprise me that we're in this mess now :(

FWIW, empirically I'm seeing

[2019-08-17 23:06] #56770 closed

[2019-08-17 23:56] liggitt commented on #81526
Being fixed in https://github.com/kubernetes/kubernetes/pull/74245

[2019-08-18 02:51] youurayy commented on #76531
Turns out this is not a Kubernetes/Containerd/Docker issue per se.

This log flooding is caused by frequent execution of the `runc` binary, which tests (every time) for systemd capabilities by creating two separate test slices (resulting in 4 systemd log messages total + runtime overhead).

As shown by adding `{ debug: true }` into `/etc/docker/daemon.json`, this `runc` execution is caused by k8s

[2019-08-18 06:13] #75439 closed

[2019-08-18 07:13] justaugustus commented on #70132
(Moving the `rget` discussion to https://github.com/kubernetes/release/issues/850.)

[2019-08-18 07:46] andyzhangx commented on #63326
sounds reasonable
/reopen

[2019-08-18 07:54] adelwin commented on #63326
awesome. Thanks @andyzhangx

[2019-08-18 08:46] justaugustus commented on #75701
Dependency comparison operators have long since been fixed for our deb/rpm packages.
For anyone still experiencing issues, please ensure you're using the most recent patch release of the Kubernetes releases that are in support.

As of writing, the following patch releases are most recent:
- https://github.com/kubernetes/kubernetes/releases/tag/v1.15.2
- https://github.com/kubernetes/kubernetes/rel

[2019-08-18 08:46] #75701 closed

[2019-08-18 10:13] DanHam commented on #76531
@youurayy Great! I spotted the root cause of the issue a while back [HERE](https://github.com/kubernetes/kubernetes/issues/76531#issuecomment-498230399) but didn't really know how to go about fixing it.

Let's hope that [runc PR](https://github.com/opencontainers/runc/pull/2109) gets merged soon! Once it's merged will you open a PR to get the updated (vendor) code into Kubernetes?

[2019-08-18 10:53] praseodym commented on #73169
This has probably been broken since Kubernetes v1.6.0 (https://github.com/kubernetes/kubernetes/commit/d141a43d86745fe807dc4f07dde3f7209c3e77e1) when the `getRecentUnmetScheduleTimes` function was changed to take `Spec.StartingDeadlineSeconds` into account.

[2019-08-18 11:07] messagell opened #81564 "kubelet 1.14.3 didn't send server certificate csr to apiserver."
kubelet 1.14.3 didn't send server certificate csr to apiserver.

[2019-08-18 11:16] praseodym commented on #81564
GitHub is not the right place for support requests.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubern

[2019-08-18 11:23] praseodym commented on #81492
GitHub is not the right place for support requests.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubern

[2019-08-18 12:19] #72713 closed

[2019-08-18 12:19] #74848 closed

[2019-08-18 12:47] tedyu opened #81565 "pull-kubernetes-local-e2e always fails"
**Which jobs are failing**:
pull-kubernetes-local-e2e is failing

**Which test(s) are failing**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/80547/pull-kubernetes-local-e2e/1163011106638139392/

where 14 out of 1398 tests failed.
I have run pull-kubernetes-local-e2e around 10 times in the past week.
The particular test that failed was not deterministic.

**Since when has it been f

[2019-08-18 13:06] furkanmustafa opened #81566 "Exec/Attach documentation"
I am having hard time finding documentation exec/attach.

Here, https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14, under "Pod v1 core"
 / "Misc", there is only "Read Log" documented.

Are they documented somewhere? If not, maybe we can have this issue as a task for documenting them.

/sig docs

[2019-08-18 14:21] #73570 closed

[2019-08-18 14:35] tedyu commented on #81565
/area e2e-test-framework
/sig testing

[2019-08-18 14:43] tallskog commented on #74551
Also got the same kind of problem as @rihardsk. When looking at the kube-registry logs from the container, at least the following error logs were seen

`time="2019-08-18T14:28:00Z" level=error msg="response completed with error" err.code="blob unknown" err.detail=sha256:bbab4ec87ac4f89eaabdf68dddbd1dd930e3ad43bded38d761b89abf9389a893 err.message="blob unknown to registry" go.version=go1.6.3 http.r

[2019-08-18 15:43] kargakis commented on #74551
@kubernetes/sig-api-machinery-bugs

[2019-08-18 17:03] liggitt commented on #81565
/cc @dims

[2019-08-18 17:24] #75345 closed

[2019-08-18 18:38] rikatz commented on #81405
@zops can you please post also a ``kubectl get endpoints`` of the objects before and after the error occurs?

Let's see if this is related.

[2019-08-18 18:40] rikatz commented on #81060
@thockin does this need a KEP? Otherwise I can try start working on this.

[2019-08-18 18:41] rikatz commented on #81060
/assign @rikatz

[2019-08-18 18:45] rikatz commented on #79512
@zakthan the thing here is that it depends more on the CNI that you uses (as Calico, Cilium and so) rather than kubernetes by itself.

Imagine the situation where you put into the default-deny rule an annotation that you wan't to log everything that matches that situation.

I'm the original author from the issue into Calico referenced here before, but seeing (this)[https://kubernetes.io/blog/2019/

[2019-08-18 19:00] mattjmcnaughton commented on #81533
/remove-sig node
/sig storage

I think the folks on sig-storage might be better equipped to deal with this, so updating the sig label.

[2019-08-18 19:24] youurayy commented on #76531
@DanHam the role Kubernetes is playing here is that it has `runc` invoked 3x per each etcd health-check, which isn't the best use of container resources.

The `runc` exhibiting this issue is coming from Docker's **containerd.io** package. The runc systemd detection code is not triggered in the Kubernetes codebase, AFAIK.

[2019-08-18 20:21] zegl commented on #81508
Kubernetes 1.9 is no longer supported, please check if you can reproduce this bug with newer versions of Kubernetes.

[2019-08-18 20:23] zegl commented on #81469
/sig cloud-provider

[2019-08-18 21:30] logicalhan commented on #60601
/remove-lifecycle rotten

[2019-08-18 21:31] logicalhan commented on #60601
/reopen

[2019-08-18 21:42] praseodym commented on #75238
See here: https://github.com/containerd/cri/issues/1239

I have no audit log listener installed and I couldn't find anything in journald either. Haven't yet debugged any further, though.

[2019-08-18 21:45] praseodym commented on #75238
I'm closing this issue as is not an actual issue with kube-proxy (I've updated the issue title for clarity). Thanks for the help from everyone here for getting to the root of this problem!

[2019-08-18 21:45] #75238 closed

[2019-08-18 22:28] #75403 closed

[2019-08-18 22:29] #75160 closed

[2019-08-18 23:12] SerialVelocity opened #81575 "Unable to start server when multiple tmpfs exist"
**What happened**:
Kubelet fails to start up on CoreOS which has been PXE booted
[code]

**What you expected to happen**:
Kubelet starts up successfully

**How to reproduce it (as minimally and precisely as possible)**:
Have multiple tmpfs mounts which have different major:minor pairs, e.g.:
[code]

**Anything else we need to know?**:
[A PR to enable tmpfs in cadvisor was merged in 2017](https://g

[2019-08-18 23:13] SerialVelocity commented on #81575
@kubernetes/sig-node-bugs

[2019-08-18 23:30] #74583 closed

[2019-08-19 00:31] #73324 closed

[2019-08-19 01:17] 908875137 opened #81578 "other pc can't visit k8s dashboard"
My mac can visit k8s dashboard, but other pc can't.  What's the reason ?
  - @kubernetes/UI       @kubernetes/dashboard
  - I have tried with the latest version of my channel (Stable or Edge)
  - macOS Version: 10.14
  - Docker for Mac: version: 19.03.1
  - k8s version : 1.14.3
  - eneble k8s on docker for mac setting
  -  apply k8s dashboard.yaml
  -  my mac ip is : 192.168.0.200

### kubectl get

[2019-08-19 01:18] #81513 closed

[2019-08-19 01:23] 908875137 commented on #81578
how to mention a sig ??  I don't find this button or link. Actually , I can't modify the lable.

[2019-08-19 01:28] zouyee commented on #81575
/area cadvisor

[2019-08-19 01:42] logicalhan commented on #74456
/remove-lifecycle rotten

[2019-08-19 01:46] donggitdong commented on #81504
Hello, although it can be used normally, but it will write a lot of unnecessary garbage data into the etcd storage. This morning I found that the data stored in etcd has grown from 30M to more than 500 M. Is there anything good about this? The solution or the idea, I have seen the source code and there is no good solution.

[2019-08-19 01:46] donggitdong commented on #81504
@liggitt

[2019-08-19 01:53] feiskyer commented on #75752
/assign @PatrickLang

[2019-08-19 02:07] bswartz commented on #75535
/remove-lifecycle stale

[2019-08-19 02:18] gouki777 commented on #77489
I up kubenetes version 1.13.5+
my rotate-server-certificates have not repeating the application certificate.
The 1.13 version does not have this problem.
thanks.

[2019-08-19 02:18] #77489 closed

[2019-08-19 02:21] wgliang commented on #81442
This seems to need to start with [KEP](https://github.com/kubernetes/enhancements).

[2019-08-19 02:32] liggitt commented on #81504
Is that logged continuously or does it settle after a few seconds?

[2019-08-19 02:33] #75542 closed

[2019-08-19 02:36] clh-kubernetes commented on #80035
To: SataQiu
By studying the source code of k8s(1.11.4), we find that  after binding the PVC and PV of the pod, the bindVolumeWorker will execute a new sched. config. Error () and reschedule the pod whether the bind result is successful or not.

when affinity-pods are scheduled for the first time, if a pod with unbound PVC, it binds PVC and PV first , and then the pod is rescheduled. Before the pod

[2019-08-19 02:41] draveness commented on #78064
/remove-lifecycle stale

[2019-08-19 03:17] bbotte commented on #70082
You look at it for a few more days, and compare it with before, whether it has affected the cluster anymore. Occasional errors can be ignored

[2019-08-19 03:26] zouyee commented on #81575
/assign

[2019-08-19 04:01] YueHonghui commented on #29927
Any progress about this problem ? We are facing the same problem about cadvisor with @michelgokan .

[2019-08-19 04:17] donggitdong commented on #81504
@liggitt  Is always a continuous error to write data to etcd

[2019-08-19 05:35] #75536 closed

[2019-08-19 06:00] dotbalo commented on #70082
I think this is caused by the slow disk. I also had this warning before. Then I changed the data directory of etcd to a high-performance SSD storage, and there was almost no warning of "took too long".
Here is the monitor diagram for my etcd:

![image](https://user-images.githubusercontent.com/25141522/63242323-99505e80-c289-11e9-9dce-aced54884794.png)

And My cluster version:
[code]
etcd version:

[2019-08-19 06:12] zouyee commented on #81575
Because you mounted `/etc/machine-id` `/var/lib/kubernetes/ssl/kubelet` `/var/lib/kubelet` under the same peer group ( ID: 1), these mount points owns same `major:minor`.

[2019-08-19 06:24] guoweikuang opened #81581 "HPA two downscale action cooldown time is too short"
**What happened**:
I using CPU metrics to scale, when sending the downscale action, it was found that the two downscale times were too short. my cluster hpa settings is --horizontal-pod-autoscaler-downscale-stabilization=5min, two downscale action 5 min, Is this a bug or is it like this?

**What you expected to happen**:
I hope that the time for two downscale operations will be around 5 minutes(ho

[2019-08-19 06:25] guoweikuang commented on #81581
/sig autoscaling

[2019-08-19 06:59] kkmsft commented on #64612
@nikhita @liggitt caesarxuchao - I have the following situation - There are CRDs which were created when using k8s.io/client-go v0.0.0-20180424211516-33f2870a2b83 and json was case insensitive w.r.t to field name similar to the following example below:

[code]

When I attempt with an upgraded go-client, its not able to deserialize the existing CRDs correctly (nil contents). My understanding is tha

[2019-08-19 07:09] zouyee commented on #81578
/sig ui
Perhaps the better way is to ask questions in [UI](https://github.com/kubernetes/dashboard)

[2019-08-19 07:23] Belyenochi commented on #81508
I have the same question
[env]
kubernetes 1.13.2

[2019-08-19 07:29] dahu33 opened #81584 "AWS NLB: support for access log annotations"
**What would you like to be added**:
Add support for AWS NLB access log configuration via annotations. The same annotations currently supported by the ELB classic could be reused:
[code]

[2019-08-19 07:30] dahu33 commented on #81584
/sig aws

[2019-08-19 07:34] davidstack commented on #81442
move this issue to [KEP #1215 ](https://github.com/kubernetes/enhancements/issues/1215)

[2019-08-19 07:34] #81442 closed

[2019-08-19 07:35] 908875137 commented on #81578
Thank you ,  I will move to there.

[2019-08-19 07:35] llussy commented on #70082
it's OK now,I did not do anything.  now disk io normal.   I don't know what was affected before.
IO diagram:（IO high for 33 hours）
![image](https://user-images.githubusercontent.com/18432966/63247090-c2c3b700-c296-11e9-8648-48fc41d14531.png)

[2019-08-19 07:37] brancz commented on #67126
/remove-lifecycle stale

[2019-08-19 07:37] #75538 closed

[2019-08-19 07:40] davidstack commented on #81442
@wgliang  thanks, i will close this issue and move to KEP

[2019-08-19 07:46] noamt commented on #51376
I'm experiencing this as well now.
Version: `1.13.7-gke.8`

[2019-08-19 07:48] #81578 closed

[2019-08-19 08:25] #80365 closed

[2019-08-19 08:56] LudovicTOURMAN commented on #73208
/remove-lifecycle stale

[2019-08-19 09:43] mars1024 commented on #69882
@danwinship @kmala  I don't think we need to pass annotations to CNI plugin, because it's CRI's job to translate pod spec or annotations to CNI RuntimeConfig.
For example, in different scenes, bandwidth may have different annotation keys, like bandwidth.k8s.io or bandwidth.cncf.io, actually bandwidth CNI plugin can't and shouldn't recognize both of them, so we should define some new CNI RuntimeCon

[2019-08-19 09:58] krish7919 commented on #81469
Would a PR help here?

And can it be backported to v1.11.9 which is being used by EKS?

[2019-08-19 10:04] dahu33 commented on #81584
/sig cloud-provider

[2019-08-19 10:04] xiaoxubeii opened #81587 "Network requests would fail in service.spec.sessionAffinity= ClientIP when deleting pod in kube-proxy ipvs mode"
**What happened**:
In kube-proxy ipvs mode, there is a probability failure of network requests of `service.spec.sessionAffinity= ClientIP` when deleting pod.

**What you expected to happen**:
Network requests success.

**How to reproduce it (as minimally and precisely as possible)**:
1 Create a service with `service.spec.sessionAffinity= ClientIP`.
2 Continuous access to this service
3 Delete a po

[2019-08-19 10:04] xiaoxubeii commented on #81587
/sig network

[2019-08-19 10:12] like-inspur opened #81590 "kube-state-metrics get metrics forbidden"
I use scripts under https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/prometheus to install kube-state-metrics, but found that there is no metrics be collected from it, and it always output error like this, although I have config rbac for it.
I0819 10:03:47.668858       1 round_trippers.go:438] GET https://10.150.0.1:443/apis/certificates.k8s.io/v1beta1/certificatesigningrequests

[2019-08-19 10:12] xiaoxubeii commented on #81587
/assign

[2019-08-19 10:16] like-inspur commented on #81590
/sig prometheus

[2019-08-19 10:18] OJFord commented on #8876
I more often want a `stern`-like partial name match than I want selector.

e.g. if you have:
[code]

I just want to do `kubectl exec -it widget-service- sh` or whatever, i.e. `exec` on any matching pod.

[2019-08-19 11:20] wojtek-t commented on #80857
Sorry - those aren't "before" vs "now" - this was something different.
This graph shows the difference:
http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=APIServer&metricname=LoadResponsiveness&Resource=leases&Scope=namespace&Subresource=&Verb=PUT

So it's sth like:
50th perc: 2.5-3.5ms vs 3.7-5ms
90th perc: 12-13ms vs 20-25ms
99th perc; 70-80ms vs 200-220ms
So it seems more like

[2019-08-19 11:29] bclau commented on #80194
PR https://github.com/kubernetes/kubernetes/pull/81008 was also included in #81170, but #81008 already merged, but ``agnhost:2.5`` has not been built and pushed as it should.

[2019-08-19 11:48] MaciekPytel commented on #81491
cc: @mwielgus @josephburnett

[2019-08-19 12:04] squeed commented on #71305
AIUI, there's no obvious way to tell from the kernel which mode is in use on a freshly-booted system. Both subsystems (ipt and nft) have existed for years now, so that's not sufficient. The "signal" is the destination of the symlinks (yes, symlinks - I shudder at the thought of them diverging).

We *could* write a wrapper that uses whichever subsystem already has rules present, but that is terrify

[2019-08-19 12:16] josephburnett commented on #81491
@spiffxp HPA is an important component of K8s and these tests should be release blocking.

Let's work on moving these to a separate job as a fast workaround.  Then I'll work on getting these to run faster or in parallel.

How do we go about creating a new job for these?

[2019-08-19 12:23] atimonin commented on #64743
It looks like it's fixed in https://github.com/torvalds/linux/commit/ee60ad219f5c7c4fb2f047f88037770063ef785f

[2019-08-19 12:38] alculquicondor commented on #72547
cc/ @ahg-g

[2019-08-19 12:39] rihardsk commented on #74551
Increasing the memory limit for the registry container to 200Mi seems to have helped me as well. Thanks @tallskog!

[2019-08-19 12:42] mingzhuyang opened #81596 "pod priority is different the office article"
i use kubernetes version 1.15， i am trying pod priority,but i found same question.
1.I created a globalDefault priority A, but the pod I created that does not display the declaration priorityClassName does not use priority A.

This is different [priorityclass](https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#priorityclass)

2. I defined a pod that references a priorityCla

[2019-08-19 12:43] khuongdp commented on #27362
We see the same problem with 1.14.3 where the old pod is Terminating and the new pod is in ContainerCreating even if we set the strategy.type==recreate. Got problem with Volume is already used by pod(s)...

[2019-08-19 12:46] qiuwenxiang opened #81597 "How can I use the configmap in endpoints ?"
Hello!
    Does configmap supported in endpoints ？
    I would create a lot of endpoints which hava a same ip-value, I want to define the ip-value in configmap, and then endpoints use it.
    like :
     a1-endpoints.yaml
 ***
    -ip : 192.168.0.1 (want to define in config)
    port: 11000
***
    a2-endpoints.yaml
***
    -ip: 192.168.0.1
    port: 12000
***

Thanks!

[2019-08-19 12:59] xmudrii commented on #70505
@saad-ali @jsafrane Hello! I'm bug triage lead for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16?

[2019-08-19 12:59] xmudrii commented on #74843
@wk8 Hello! I'm bug triage lead for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16?

[2019-08-19 13:00] xmudrii commented on #68244
@luxas Hello! I'm bug triage lead for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16?

[2019-08-19 13:00] xmudrii commented on #70249
@tallclair @yuwenma Hello! I'm bug triage lead for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16?

[2019-08-19 13:01] xmudrii commented on #74375
@spiffxp Hello! I'm bug triage lead for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16?

[2019-08-19 13:01] xmudrii commented on #68998
@aermakov-zalando Hello! I'm bug triage lead for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16?

[2019-08-19 13:02] xmudrii commented on #78783
@answer1991 Hello! I'm bug triage lead for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16?

[2019-08-19 13:02] xmudrii commented on #78982
@liggitt @BenTheElder Hello! I'm bug triage lead for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16?

[2019-08-19 13:06] mo-saeed commented on #80365
That's great it's fixed, Would be cool if it can be included in 1.13, 1.14 and 1.15.

Thanks a lot !!

[2019-08-19 13:21] aermakov-zalando commented on #68998
@xmudrii No idea, I'm not a maintainer.

[2019-08-19 13:22] RainbowMango opened #81598 "Add comments when rely on a particular bash version"
**What would you like to be added**:
I suggest adding one comment to remind users to upgrade the bash version.

The patch like this:

[code]

**Why is this needed**:
Maybe some guys' bash version is outdated, they can't run UT pass.  They may met errors as follows:
[code]

Since the case, shell script depends on bash, is rare, I think it's worth adding a comment here to remind the guys to upgrade

[2019-08-19 13:24] xmudrii commented on #62046
@feiskyer Hello! I'm bug triage lead for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16?

[2019-08-19 13:24] xmudrii commented on #75482
@kfox1111 Hello! I'm bug triage lead for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16?

[2019-08-19 13:24] xmudrii commented on #75601
@neolit123 Hello! I'm bug triage lead for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16?

[2019-08-19 13:24] cmcarey commented on #29838
@zedtux

I think you misread @llech's comment - they are arguing in favor of events being time ordered.

[2019-08-19 13:25] xmudrii commented on #78897
@timyinshi Hello! I'm bug triage lead for the 1.16 release cycle and considering this issue is tagged for 1.16, but not updated for a long time, I'd like to check its status. The code freeze is starting on August 29th (about 1.5 weeks from now), which means that there should be a PR ready (and merged) until then.

Do we still target this issue to be fixed for 1.16?

[2019-08-19 13:25] RainbowMango commented on #81598
@mikedanese @dchen1107 @filbranden @yguo0905

If this is acceptable, I will open a PR. Please let me know!

[2019-08-19 13:27] liggitt commented on #78783
yes, this is still targeted at 1.16

[2019-08-19 13:32] neolit123 commented on #75601
hi @xmudrii this ticket is tracking ongoing efforts that will span across multiple releases.
it contains works of `kind/cleanup` / `kind/design` mostly and not `kind/feature`, we should have it in the milestone as is, but update to 1.17 after 1.16 is out.

[2019-08-19 14:04] alculquicondor commented on #80775
The benefit of using the the new status code is that it makes it easier to pass around.
The downside is that we need to be extra careful when writing and reviewing code.

I think option 3 (extra field in Status) is both easier to pass around and easy to write and review. It only uses a tiny bit more memory, but given that the number of plugins is small, that shouldn't be an issue.

[2019-08-19 14:04] michelgokan commented on #29927
I'm not 100% sure but last time I checked with the latest version of
Kubernetes (around one and half months ago) I didn't see this problem
anymore. Can you please update your Kubernetes and check if this problem
still exists or not?

On Mon, Aug 19, 2019 at 6:03 AM YueHonghui <notifications@github.com> wrote:

[2019-08-19 14:06] benmoss commented on #78072
Strange, Windows CPU utilization was introduced in https://github.com/kubernetes/kubernetes/commit/ee44e24cd330ea07ca809fc600de2d10067155d0 and so should definitely be in 1.14.0.

[2019-08-19 14:12] zouyee commented on #81597
Using service instead.

[2019-08-19 14:14] zouyee commented on #81590
/assign
@kubernetes/sig-instrumentation-bugs

[2019-08-19 14:16] benmoss commented on #81088
I wasn't aware of this, we should definitely look at fixing this

[2019-08-19 14:21] brancz commented on #81590
this addon is not maintained and is about to be removed: https://github.com/kubernetes/kubernetes/pull/80351#issuecomment-522519774

[2019-08-19 14:21] alejandrox1 commented on #80715
for tracking
/reopen

[2019-08-19 14:22] alejandrox1 commented on #80715
Thank you for the update @justaugustus

[2019-08-19 14:24] zouyee commented on #81590
/uncc
This add-on is an experimental configuration, and you can use the following repos as an alternative.
[kube-state-metrics]
(https://github.com/kubernetes/kube-state-metrics/blob/master/kubernetes/kube-state-metrics-cluster-role.yaml)
[kube-prometheus](https://github.com/coreos/kube-prometheus)

[2019-08-19 14:25] zouyee commented on #81590
/remove-kind bug
/sig instrumentation

[2019-08-19 14:27] aojea commented on #79866
@thockin I've been playing with this idea of using interface prefixes instead of the cluster-cidr.
I have a working prototype [that is able to differentiate internal and external traffic using a prefix obtained automatically parsing the containers interface names](https://github.com/kubernetes/kubernetes/compare/master...aojea:proxyExternal?expand=1)

The good things are that as you are pointing o

[2019-08-19 14:31] gnufied commented on #81533
The hardcoded values refer to older predicates but newer predicates take volume limit values from - https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/awsebs/aws_ebs.go#L107 function. But even then since AWS provides no API for fetching volume limits, we basically have a table of volume limits based on instance type.

43

So you have at least 6 volumes attached outside k8s? That doesn

[2019-08-19 14:43] gnufied commented on #80967
@justinsb yeah so updating `CSINode` object by CNI driver will likely have similar problem that updating `Node` object directly has.  `CSINode` object is also periodically reconciled by kubelet to report values coming from CSI driver and hence any modifications done by CNI driver will be wiped away when `CSINode` object is reconciled by kubelet.

There are couple of things we could do I think:
1.

[2019-08-19 14:45] Zyqsempai commented on #81519
I will take care of this one.

[2019-08-19 14:59] ahg-g commented on #81433
Does that mean StopEverything is currently only closed in the tests?

[2019-08-19 15:07] deads2k commented on #80178
The intent of these types is different and embedding one within another will create unexpected cross dependencies and usage.  We should not combine different ideas based on similar field names.

/close

[2019-08-19 15:07] #80178 closed

[2019-08-19 15:11] gnufied commented on #81097
Since this is not a generic problem with controller-manager and a fix is in works for Azure, I am going to close this issue.

/close

[2019-08-19 15:11] #81097 closed

[2019-08-19 15:23] zoltan-nz commented on #77986
@CamelCaseNotation Had the same issue and found [this discussion](https://stackoverflow.com/questions/35213589/docker-container-with-non-root-user-deployed-in-google-container-engine-can-not/35235370).

Adding `fsGroup` property to the pod specification solved the issue:
[code]

An example with using a standard volume in Google Kubernetes Engine.

In `Dockerfile`:
[code]

In `deployment.yaml`

[co

[2019-08-19 15:27] cbf123 commented on #72828
I'm not sure where the right place would be to bring this up, so please let me know if there's a better place.  The current proposal/implementation allows for a k8s node to be configured for "best-effort" or "strict" affinity matching and it applies to every pod landing on that node.  Since edge clusters can be quite small, it may not be feasible to dedicate entire nodes for one or the other.  As

[2019-08-19 15:35] kfox1111 commented on #75482
I hope so, but I don't think anyone is actively working on it at the moment. So probably will miss 1.16.

[2019-08-19 15:37] mariantalla commented on #29838
Yep - was just going to say, sounds like you're in fierce agreement. 😄

@krmayankk - is there something still in progress for this issue? Would you mind if I took a look too / continue where you left off, as our platform team stumbles upon this one fairly often.

[2019-08-19 15:43] matthias50 commented on #81533
We have 5 volumes attached outside of k8s currently. I can't explain why the math comes out to 6 except perhaps we are also hitting this issuehttps://github.com/kubernetes/kubernetes/issues/73724 since we are using WaitForFirstConsumer. We will be reducing this to 1 as you suggest. However, this will still result in 2 EBS volumes, one for root and one for the additional EBS volume which we are car

[2019-08-19 15:57] aermakov-zalando opened #81603 "Missing Ubuntu packages for 1.14.6"
Packages for 1.14.6 are missing from https://packages.cloud.google.com/apt/dists/kubernetes-xenial/main/binary-amd64/Packages.

/kind bug

[2019-08-19 15:57] aermakov-zalando commented on #81603
/sig-release

[2019-08-19 15:58] aermakov-zalando commented on #81603
@kubernetes/sig-release-bugs

[2019-08-19 16:10] msvechla commented on #27308
Looks like after 3 years this is still not possible. Are PRs here still welcome? Then I would look into it.

[2019-08-19 16:20] ConnorDoyle commented on #72828
Hi @cbf123

Slight correction: applies to every Guaranteed QoS pod on the node. You can have non-aligned non-Guaranteed pods co-resident with aligned Guaranteed pods on a node with strict policy enabled.

Does that help for your use case? We can discuss the change you suggested in further detail for 1.17 / beta but it’s late in the release cycle to start a new design that touches the pod API. Ther

[2019-08-19 16:31] sharkymcdongles commented on #72155
Same here. As a temp workaround you can make a dummy edit on the daemonset, and it will trigger it to try again.

[2019-08-19 16:44] Huang-Wei commented on #81433
Yes. Additionally, we can explicitly stop this when master lost its lease (if it doesn't today).

[2019-08-19 16:47] msau42 commented on #70505
No, we are not working on this for 1.16.  Please remove the milestone.

[2019-08-19 16:50] xmudrii commented on #70505
/milestone clear

[2019-08-19 16:51] kfox1111 commented on #22368
/remove-lifecycle stale

[2019-08-19 16:54] khenidak commented on #69882
I am concerned with the amount of information we pass into CNI (and how updated they are at the time of `Setup` call). Sure we can work around that by passing the entire pod spec. But do we ensure that pod status updates are fed into CNI as well?

I think we should keep the `setup` and `teardown` interfaces as simple as possible, maybe pass in a service account token (with prober default RBAC role

[2019-08-19 17:02] MrHohn commented on #81198
I recalled there was a similar tracking issue... @rramkumar1 might have more context?

[2019-08-19 17:04] wk8 commented on #74843
@xmudrii : yup we'd love to have this in 1.16, still waiting for kind reviewers on https://github.com/kubernetes/kubernetes/pull/80320 :) ...

[2019-08-19 17:17] erwbgy commented on #60295
Or even easier:
`
kubectl create configmap nginx-ingress-controller.json --from-file=nginx-ingress-controller.json \
&& kubectl label configmap nginx-ingress-controller.json grafana_dashboard=1
`

though it would be much nicer to be able to use --overrides directly like @StevenACoffman says above.

[2019-08-19 17:18] liggitt commented on #27308
The request is still present, but it is still not clear that this would be a good thing to add.

/close

If there's a desire to add this functionality, a [Kubernetes Enhancement Proposal (KEP)](https://github.com/kubernetes/enhancements/blob/master/keps/README.md#kubernetes-enhancement-proposals-keps) should be opened that describes how the new options would interact with [existing scripts that us

[2019-08-19 17:23] danwinship commented on #69882
@mars1024 This is about CNI plugins that are specifically interested in Kubernetes-specific things. There are already other bits of kubernetes-specific information that get passed to plugins (eg, the namespace of the pod). This would just be one more. CNI plugins that want to be container-platform-agnostic would just ignore the kubernetes-specific information

@khenidak No, we would not pass updat

[2019-08-19 17:26] ahg-g commented on #81433
I don't think #81238 should be used as a motivation to what is being proposed to be solved in this issue. Each integration test creates a new scheduler object and the problem with that flake was sharing plugin objects between tests (hence effectively between scheduler instances), which shouldn't happen anyway in both tests and in practice.

So, if the only use case we have for plumping the stop ch

[2019-08-19 17:32] khenidak commented on #69882
@danwinship i understand your point, thank you.

The point i was trying to make. today we will add annotation, because they are needed. Later some CNI will be working with `labels`. Even later some other CNI will will need to work with `owner-ref` etc.. So i what i was trying to say is to find a process where the entire system is accessible `in a regulated fashion` to CNI.

[2019-08-19 17:42] kfox1111 commented on #27308
I'm still interested in this.

What impact do you envision? I'm not seeing how adding a new environment would effect existing clients using KUBECONFIG?

[2019-08-19 17:45] liggitt commented on #64612
to migrate the existing data, you could:
1. fetch the existing custom resource instances from the API server
2. round-trip it through your typed structs using the go json decoder/encoder (which is not case-sensitive)
3. update the custom resource instances using the marshaled data (which would then have the correct case)

[2019-08-19 17:47] liggitt commented on #27308
the comment at https://github.com/kubernetes/kubernetes/pull/60044#issuecomment-405418166 outlines the impact... a script that explicitly sets up the complete client config it wanted (by specifying the KUBECONFIG envvar or by passing --kubeconfig) would pick up namespace or context changes from the environment.

[2019-08-19 18:06] davidz627 commented on #77141
/assign @shanesiebken

[2019-08-19 18:17] lavalamp commented on #80313
Is this a duplicate of #75791?

[2019-08-19 18:26] kfox1111 commented on #27308
Ah. I understand. Thanks for the link. So the issue is, there are a mix of things going on right now, and fixing one might break another.

KUBECONFIG can be used to easily switch between clusters using a single config currently. This is good. You can only easily switch namespaces by writing user wide to that KUBECONFIG (cant easily share KUBECONFIGs) or making a KUBECONIFG per cluster+namespace (h

[2019-08-19 18:30] BenTheElder commented on #78982
I'll leave this one to @liggitt

[2019-08-19 18:39] wwftw commented on #48528
@lavalamp Do you expect this to be on the road map soon? If not, we have a use case that requires this change and I'd like to contribute when I get time. I assume this would be a passive change which requires the service object schema uplifts and corresponding endpoints controller, is there a guideline to propose such API changes/additions?

[2019-08-19 18:40] almos98 opened #81609 "FakeMount doesn't imitate Windows behavior"
**What happened**:
[FakeMounter](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/fake.go) doesn't return an error when the path already exists when running Windows tests.

**What you expected to happen**:
Expected FakeMounter to return an error if running Windows tests and trying to mount a path that already exists. In [mount_windows.go](https://github.com/kubernetes/kubernetes

[2019-08-19 18:41] almos98 commented on #81609
/sig storage
/sig testing

[2019-08-19 18:45] iverberk commented on #80313
Yup, definitely looks like the same issue! The admission controller seems to keep a single connection until that connection is no longer available. Unfortunately, when the pod is lost abruptly, it takes a very long time for it actually to switch over to another pod. When we do a graceful shutdown of the pod it actually fails over normally.

[2019-08-19 18:45] youurayy commented on #56850
[code]

[2019-08-19 18:49] pjh commented on #81609
cc @andyzhangx @msau42

[2019-08-19 18:49] pjh commented on #81609
cc @jingxu97

[2019-08-19 19:03] liggitt commented on #27308
Done, see https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/#merging-kubeconfig-files :)

users.kubeconfig:
[code]

clusters.yaml
[code]
contexts.yaml
[code]

current.yaml:
[code]

Combine the files in the KUBECONFIG envvar:
[code]

See the effective config:
[code]

Credential modifications go to the file that defined the user:
[code]

Context modifications go to

[2019-08-19 19:07] tedyu commented on #78130
Yes. When chown fails, pod would continue to start.

[2019-08-19 19:10] gmorse-gd opened #81610 "AWS NLB service doesn't remove Security Group rules on delete"
**What happened**:
Created a service with k8s v1.12 with NLB annotation and loadBalancerSourceRanges, then deleted it. The security group rules created for the NLB didn't get deleted.

**What you expected to happen**:
The Security group rules for NLB should have been removed. (I don't see any errors in the kubernetes-controller-manager log)

**How to reproduce it (as minimally and precisely as pos

[2019-08-19 19:34] gmorse-gd commented on #81610
/sig cloud-provider

[2019-08-19 19:58] kfox1111 commented on #27308
Hmm.... thats very close indeed. Thanks for the pointers. :)

It looks like in order to get this to work, I still need to copy a small context into the users home directory so they can edit it successfully? Otherwise though, it will all work I think.

Thanks!

[2019-08-19 20:00] cbf123 commented on #72828
Right, it would only be every Guaranteed QoS pod.  That helps, but it means that on a node with "strict" affinity there's no way to represent "This pod needs guaranteed CPU and memory but also needs access to a scarce PCI device even if it means cross-NUMA traffic".

In OpenStack they went so far as to make it possible to specify "best-effort/strict" for each requested PCI device.

[2019-08-19 20:30] wojtek-t commented on #81403
@wongma7 - thanks a lot for bumping the dependency.
Did you have a chance to build the new container with it so that we could update it here:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/utils/utils.go#L446

[2019-08-19 20:52] roycaihw opened #81616 "Apiserver panics creating a stateful set"
**What happened**:
Apiserver panics creating a stateful set which is invalid semantically but valid json-wise according to godoc.

**What you expected to happen**:
Apiserver rejects the create request with a validation error.

**How to reproduce it (as minimally and precisely as possible)**:
Add the following lines to [this stateful set example](https://kubernetes.io/docs/concepts/workloads/contro

[2019-08-19 21:19] pjferrell opened #81619 "Allow CustomResources to define the regex that should be enforced for metadata.name"
CustomResources metadata.name is currently validated using NameIsDNSSubdomain function.  This naming convention is too strict for some CustomResourceDefinition use-cases.  The current behavior could be default, but it would be useful to allow regex definition for metadata.name in the validation schema to be used for enforcement when present.

https://github.com/kubernetes/kubernetes/blob/f4521bf5a

[2019-08-19 21:19] alejandrox1 commented on #81519
/cc

[2019-08-19 21:20] ehashman commented on #69825
/lifecycle frozen

[2019-08-19 21:20] pjferrell commented on #81619
/sig api-machinery

[2019-08-19 21:23] wongma7 commented on #81403
@wojtek-t yeah, opened https://github.com/kubernetes/kubernetes/pull/81620 . (Not sure how to trigger test, or we can just merge and see.)

[2019-08-19 21:25] roycaihw commented on #81616
this could also happen to PATCH and UPDATE

[2019-08-19 21:40] praseodym commented on #81603
They’re available now. Until the release is announced to the kubernetes-announce mailing list, someone is very likely still working on getting all release artifacts built and uploaded.

[2019-08-19 21:42] msau42 commented on #81403
You can manually create a PVC on an alpha cluster to test.

[2019-08-19 22:50] neolit123 commented on #81565
/remove-area e2e-test-framework

[2019-08-19 23:02] jimangel commented on #74917
Friendly ping again on this issue! 👋

/cc @kubernetes/sig-node-test-failures
/cc @dchen1107 @derekwaynecarr

[2019-08-19 23:06] msau42 commented on #81197
Looks like we're under the 8hrs now that https://github.com/kubernetes/kubernetes/pull/81375 has merged

[2019-08-19 23:09] Sanjary commented on #7923
Hey folks, still need a hand? I'd love to help as a first time contributor.

[2019-08-19 23:12] cblecker commented on #79912
We completed this upgrade over the weekend. Thank you to all involved.

To those that attempted PRs, but were unable to be merged: We had to start moving faster because of the security context of 1.12.8, but I'm glad there are others who are interested in this part of the project. I hope you will all attempt again the next time we bump these versions. Feel free to reach out to me in the future if

[2019-08-19 23:12] #79912 closed

[2019-08-19 23:25] bryceroche commented on #11795
Thank you!!!  :D

[2019-08-19 23:37] Sanjary commented on #81511
I would like to work on this as a first time contributor. Just wondering if it would make sense to add field-selector for all subcommands that are currently currently supporting label selector or any concern is being missed. Need some help from experts in this regard to verify my concern.

[2019-08-19 23:43] saiyan86 commented on #81258
Because I see the same images get assigned to many vars in the test code base. This might be confusing and hard to maintain...

[2019-08-20 00:34] Huang-Wei commented on #81433
@ahg-g I agree with you it may not benefit too much for a regular scheduler instance, esp. given that a HA-enabled scheduler setup would exit the whole process when it loses lease:

https://github.com/kubernetes/kubernetes/blob/e2b29cd5089257e84015a63ede78ec72ffcd527f/cmd/kube-scheduler/app/server.go#L264

So to clarify, consolidate the usage of context and channel should only be beneficial for **

[2019-08-20 00:36] cadedaniel opened #81628 "Allow specification of preferred CRD deletion propagationPolicy"
**What would you like to be added**:
A way for CRDs to specify a custom preferred propagationPolicy for deletion.

**Why is this needed**:
I am speaking as a developer of a CRD with a corresponding controller (using [Kubebuilder](https://github.com/kubernetes-sigs/kubebuilder)).

CRD developers must use `ownerReferences` so that CRD controllers can remove finalizers from managed CRDs during deleti

[2019-08-20 00:38] cadedaniel commented on #81628
Note that controller developers can implement this functionality on the controller side with finalizers and a manual search for dependent objects as done [here](https://github.com/kubernetes-sigs/cluster-api/pull/1180/files). However, given that all CRDs which manage resources could use this, I think it should be a candidate for implementation on the server side.

[2019-08-20 00:40] gbraxton commented on #68211
Issue seen on k8s 1.14.3, docker 18.06.3-ce, CoreOs Container Linux 2135.5.0 with subPath from secret in the same directory where another secret has a subPath

[2019-08-20 00:52] cadedaniel commented on #81628
setting sig
/sig api-machinery

[2019-08-20 00:57] zouyee commented on #81575
/sig release
/priority important-soon

[2019-08-20 01:09] bbotte commented on #70082
https://github.com/etcd-io/etcd/pull/10808

[2019-08-20 01:15] bbotte commented on #70082
https://github.com/etcd-io/etcd/pull/10808    https://github.com/etcd-io/bbolt/pull/141   look at these ， i hope can help you

[2019-08-20 01:24] donggitdong commented on #81504
@liggitt  Thank you, I see the source code logic, solve this problem, it is indeed caused by the competition between multiple master nodes.

[2019-08-20 01:24] #81504 closed

[2019-08-20 02:07] dims commented on #81565
/assign @dims

[2019-08-20 02:22] jianzhangbjz commented on #52386
/reopen
/remove-lifecycle rotten

[2019-08-20 02:24] jianzhangbjz commented on #52386
@saiwl Any updates for this issue? Could you help reopen it if it still not be addressed?

[2019-08-20 03:21] alexeldeib commented on #80365
@feiskyer I'm hitting this and it's blocking certain progress for my team -- let me know if I can put on my release-engineering-associate hat and help cherry pick this?

Additionally, regarding this:

There's no negative impact there as long as all the instances have been added to the LB pool, right?

[2019-08-20 03:40] KevinTHU opened #81630 "add livenessProbe and readinessProbe for kube-proxy"
**What would you like to be added**:
1. client-go distinguish the errors of 4 layer and 7 layer. like "Connection reset by peer"(4 layer) and http error from server(7 layer). [now the 4 layer is fused into 7 layer error to make response. ](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/rest/request.go#L771)
2. add livenessProbe and readinessProbe for kube-proxy.

[2019-08-20 03:44] #81466 closed

[2019-08-20 03:47] mingzhuyang commented on #81596
up

[2019-08-20 03:56] KevinTHU commented on #81630
@kubernetes/sig-api-machinery @kubernetes/sig-node @kubernetes/sig-cluster-lifecycle

[2019-08-20 04:22] jianzzha opened #81635 "iptables rule wrong order causes legitimate packets rejected"
**What happened**:
master failed to reach pod service hosted on node cluster_ip

**What you expected to happen**:
master should be able to reach pod service hosted on node cluster_ip

**How to reproduce it (as minimally and precisely as possible)**:
fresh install 1.15.2 on rhel7.6,
master init step: kubeadm init --apiserver-advertise-address=10.16.28.136 --pod-network-cidr=10.244.0.0/16

use flann

[2019-08-20 04:45] mwhittington21 opened #81636 "AWS: node lifecycle controller occasionally removes k8s nodes from the cluster immediately after startup"
**What happened**:
Occasionally, when a new node in one of our busy clusters starts up it will be deleted by `kube-controller-manager` within the first minute of the Kubelet on that node starting and registering with the k8s API.

In the following logs, the node name has been replaced with `<hostname>` for brevity.

The `kube-controller-manager` logs the following:
[code]

Note that there is .4 of

[2019-08-20 04:47] mwhittington21 commented on #81636
/sig aws

[2019-08-20 04:49] mwhittington21 commented on #81636
@kubernetes/sig-cloud-provider-aws

[2019-08-20 04:51] mwhittington21 commented on #81636
@kubernetes/sig-cloud-provider-bugs

/sig cloud-provider

[2019-08-20 05:06] MikeSpreitzer commented on #79776
I made a PR for the object namespace issue: #81637

[2019-08-20 05:09] MikeSpreitzer commented on #79776
Another issue is that the currently implemented models are not expressive enough to identify leader elections for system controllers.  The KEP currently has this syntax:
[code]

But currently there is nothing like that `*` implemented.

[2019-08-20 05:12] MikeSpreitzer commented on #79776
Another issue is that the currently implemented models can not express "any service account".  The KEP currently calls for that, along with negation (whose lack we can work around with higher-precedence matching of the complement):
[code]
(The idea is that earlier flow schemas have matched everything except workload, which consists of users using kubectl and controllers using service accounts.)

[2019-08-20 05:13] MikeSpreitzer commented on #79776
/cc @yliaog
/cc @aaron-prindle
/cc @lavalamp
/cc @deads2k
@mars1024

[2019-08-20 05:34] zerkms commented on #78007
/remove-lifecycle stale

[2019-08-20 06:15] likakuli opened #81638 "duplicate update notification when kube-apiserver restart"
**What happened**:
Duplicate update notification event will be triggered even nothing changes when the apiserver restarted.
**What you expected to happen**:
DO NOT produce duplicate notification.
**How to reproduce it (as minimally and precisely as possible)**:
Use client-go's informer and regist an udpate event handler, then restart the apiserver.
**Anything else we need to know?**:

**Environmen

[2019-08-20 06:15] ban4785 opened #81639 "OutOfcpu occurs when exceed Allocatable CPU resource"
**What happened**:
pod deploy and delete in loop.

**How to reproduce it (as minimally and precisely as possible)**:
our test environment was 32core/64G mem in baremetal.
we set up kubelet with --kube-reserved=cpu=3,memory=4Gi --system-reserved=cpu=3,memory=4Gi, so cpu Allocatable was 6core.
after deployed 28core pod in that node, we expected  kube-scheduler doesn't deploy pod with insufficient cp

[2019-08-20 06:16] likakuli commented on #81638
/sig api-machinery

[2019-08-20 06:23] knightXun opened #81641 "Add Pod eviction plugins"
**What would you like to be added**:
Add kubelet eviction plugins. So we can customize kubelet eviction-manager behaviors.
**Why is this needed**:
kubelet already supported device plugins, so we can allocate special resouce for pods.But so far we make less notice on these device usages of pods. Sometimes we should do some special ation in some special situations. For example, Gpu memory is above a

[2019-08-20 06:26] knightXun commented on #81641
/sig node

[2019-08-20 06:26] knightXun commented on #81641
/sig scheduler

[2019-08-20 06:27] likakuli commented on #81638
If confirmed, i can fix it.

[2019-08-20 06:48] like-inspur commented on #81590
I reference https://github.com/kubernetes/kubernetes/blob/5c3909e93eb6fc7d11ac4554ced962772ae82260/cluster/addons/prometheus/kube-state-metrics-rbac.yaml  and it works!

[2019-08-20 07:16] #81079 closed

[2019-08-20 07:17] wouter-dhaeze opened #81642 "Unable to connect to a http service after upgrade to kubernetes 1.13.7"
**What happened**:
After upgrading our cluster from version v1.12.7-rancher1-2 to version 1.13.7-rancher1-1 networking capabilities between nodes that are connected via a VPN are unavailable.

**What you expected to happen**:
We expect networking to remain working after cluster update.

**How to reproduce it (as minimally and precisely as possible)**:
See
1. We setup a test cluster version v1.12.7

[2019-08-20 07:37] damvinod opened #81644 "PVC in Bound status but pod not able to find volume"
I have an EKS cluster and want to create Persistence storage for Prometheus pod with EBS. The PVC status in cluster shows as Bound but the pod is getting failed to start up due to missing Volumes.

Verified that EBS volume is also not created.

**Root Volume Encryption enabled:** Yes

**Kubenetes Version:** : 1.12

**kubectl version**
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:

[2019-08-20 07:40] zouyee commented on #81644
/sig storage

[2019-08-20 07:49] aermakov-zalando commented on #81603
Thanks!

[2019-08-20 07:49] #81603 closed

[2019-08-20 07:54] k82cn commented on #81639
/sig scheduling

[2019-08-20 07:55] feiskyer commented on #76657
@justaugustus @craiglpeters what do you think about this feature requests?

[2019-08-20 07:56] k82cn commented on #81596
/sig scheduling

@mingzhuyang , would you share related log & yaml file?

[2019-08-20 08:03] Erically opened #81646 "worker nodes appear many created status containers"
**What happened**:
```worker nodes appear many created status containers```
**What you expected to happen**:
```will not appear any created status conatiners```
**How to reproduce it (as minimally and precisely as possible)**:
```run k8s cluster for serveral days```
**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

- Cloud provider or hardw

[2019-08-20 08:08] mingzhuyang commented on #81596
[code]

[code]
but nginx pod not PriorityClass

[code]
i not have  high-priority  ,but i create nginx-2 success

[2019-08-20 08:10] Erically commented on #81646
@kubernetes/sig-Node-bugs

[2019-08-20 08:13] Erically commented on #81646
so many created status containers
![image](https://user-images.githubusercontent.com/7445436/63329870-55328c00-c365-11e9-881a-0da765c881b6.png)

[2019-08-20 08:15] Erically commented on #81646
because of this?It does nothing.
![image](https://user-images.githubusercontent.com/7445436/63330041-acd0f780-c365-11e9-9f99-395454382567.png)

[2019-08-20 08:47] Erically commented on #81646
check the dir /var/lib/docker/containers,the result as below:
![image](https://user-images.githubusercontent.com/7445436/63332427-2ec31f80-c36a-11e9-8729-d5d0285af0bd.png)

[2019-08-20 09:00] #75148 closed

[2019-08-20 09:02] yuyulei commented on #47554
Actually, revisions created by  statefulset, daemonset has different label:

`
// revision created by statefulset
label: controller.kubernetes.io/hash: "1618963020"

// revision created by daemonset
label: controller-revision-hash: "1976076852"
`
@kow3ns @janetkuo should be consistent?

[2019-08-20 09:41] RainbowMango commented on #81028
/remove-help

[2019-08-20 09:43] Suman-Saw commented on #24137
I also faced the issue, I have used below command to delete deployment.
kubectl delete deployments DEPLOYMENT_NAME
but still pods was recreating, so I just deleted the docker images from CR but still faced the same issue. So I crossed check the Replica Set by using below command
kubectl get rs
then finally edit the replicaset to 1 to 0
kubectl edit rs REPICASET_NAME

[2019-08-20 09:49] nocord opened #81650 "also allow TOML"

[2019-08-20 09:52] nocord opened #81651 "also allow TOML"
**What would you like to be added**:
configuration in TOML
**Why is this needed**:
TOML is simpler and easier than YAML

[2019-08-20 09:52] #81650 closed

[2019-08-20 09:57] ihciah commented on #78235
`podSubnet: 10.244.0.0/16` will cause:
```error execution phase addon/coredns: unable to create/update the DNS service: Service "kube-dns" is invalid: spec.clusterIP: Invalid value: "10.96.0.10": field is immutable```.
I've tried adding the following config to disable CoreDNS:
[code]
And the error was still the same.

To reproduce, use this config to init:
[code]
By the way, my kubeadm version is

[2019-08-20 10:07] uablrek commented on #65006
Seem to be fixed by https://github.com/docker/libnetwork/pull/2416

[2019-08-20 10:31] warmchang commented on #65597
Try changing containerName to initContainerName:

[code]

[2019-08-20 11:24] jianzzha commented on #81635
/sig network

[2019-08-20 11:58] jkaniuk opened #81654 "[Failing Test] gce-master-scale-performance - 5k density"
**Which jobs are failing**:
gce-master-scale-performance

**Which test(s) are failing**:
density

**Since when has it been failing**:
density failed on 2019-08-01, 2019-08-08 and 2019-08-18, green otherwise

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance

**Reason for failure**:
2019-08-18
`measurement call APIResponsiveness - APIResponsiveness

[2019-08-20 12:18] lavanyaanbu001 commented on #65141
Hi,

I need to do health check of multiple AKS cluster in our environment. I created a cronjob and authenticate to azure using Serviceprinciple and use the config file to login to kuberenetes cluster.

When i run the cronjob, the job stuck in device login line and failed to proceed. I want my script to run without device login page.

Environment:

Kubernetes version (use kubectl version): 1.13.9
C

[2019-08-20 12:20] derekwaynecarr commented on #80968
@sjenning let’s talk later today if we see an obvious place to fix this unless the reporter has a proposed fix already.

[2019-08-20 12:21] rikatz commented on #81060
@PaulFurtado I've made a PR, take a look to see if this is applicable :)

I'll wait until someone from the ORG also take a look and see what else can be improved.

[2019-08-20 12:27] rmt commented on #72236
Any luck finding an IPVS only solution?  My understanding was that it wouldn't be possible, but I'd very much like to be surprised.

[2019-08-20 12:37] feiskyer commented on #62046
@ksubrmnn  @daschott Do we have updates on the DSR mode in Windows Server?

[2019-08-20 13:06] irajdeep commented on #79702
Sounds somewhat related?
https://github.com/kubernetes/kubernetes/issues/79702

[2019-08-20 13:08] SataQiu opened #81657 "Fix static check failures"
As #81189 has been merged, there are a lot of packages that cannot pass the static check and we need to clean them up!

Step 1: Remove one or two packages (related packages) from the list in - https://github.com/kubernetes/kubernetes/blame/master/hack/.staticcheck_failures
Step 2: Run hack/verify-staticcheck.sh and look at the logged errors
Step 3: Fix the code to ensure that hack/verify-staticche

[2019-08-20 13:10] SataQiu commented on #81657
/help

[2019-08-20 13:11] SataQiu commented on #81657
/priority important-longterm

[2019-08-20 13:12] SataQiu commented on #81657
/sig testing

[2019-08-20 13:37] krzysied opened #81659 "Different verbs for one operation"
**What happened**:
Based on response status code different verbs are reported.

**What you expected to happen**:
Request should have always one verb regardless status code.

**How to reproduce it (as minimally and precisely as possible)**:
Create too many request code (429) for any PUT operation. It will be logged as "update", while success operation are logged as "put".

**Anything else we need t

[2019-08-20 13:39] krzysied commented on #81659
Example:
[code]

[2019-08-20 13:42] krzysied commented on #81659
Verb conversion:
https://github.com/kubernetes/kubernetes/blob/d6035f3e0d79dd05628ef42231beae97806a06ad/staging/src/k8s.io/apiserver/pkg/endpoints/request/requestinfo.go#L167-L168

Logging 429:
https://github.com/kubernetes/kubernetes/blob/d6035f3e0d79dd05628ef42231beae97806a06ad/staging/src/k8s.io/apiserver/pkg/server/filters/maxinflight.go#L181

Logging PUT:
https://github.com/kubernetes/kuberne

[2019-08-20 13:47] wojtek-t commented on #81659
https://github.com/kubernetes/kubernetes/pull/81660 is the fix

[2019-08-20 14:01] tedyu commented on #80968
I am thinking about the following change:
[code]
MarkAllPodsReady is to be implemented.

[2019-08-20 14:27] sjenning commented on #80968
@tedyu not sure that we can do that.

The pods on the node might actually not be ready (readiness probe/gate failure or container failing to start).  We can't just blindly make all pods ready on the node like we can blindly make them not ready.  Marking them not ready is a conservative action to remove the pods from service endpoints until contact with the kubelet can be established again.  Markin

[2019-08-20 14:39] jeanluclariviere commented on #50375
could definitely use this +1

[2019-08-20 14:43] jkaniuk commented on #81654
2019-08-18 test failure is similar to https://github.com/kubernetes/kubernetes/issues/80910
Density test has failed, because of high latency on two, low QPS resource-verb pair (daemonsets PUT again and leases GET which happen only when leases PUT failed)
High latency on both request types came around the same time that etcd was experiencing slowness

apiserver log examples:
`I0818 17:31:54.397735

[2019-08-20 14:45] ahg-g commented on #81281
@bsalamat @misterikkit @Huang-Wei I have a couple of questions:

Q1: Any idea why MaxPriority is exposed in the scheduler API? are you aware of any gotchas if we are to increase the value from 10 to 100?

Q2: If we are to change MaxPriority to 100, the final ranking of nodes will change since we are using a wider range. How do we safely roll such a change that impact core scheduling decisions?

[2019-08-20 14:45] jkaniuk opened #81665 "[Failing Test] gce-master-scale-performance - 5k load"
**Which jobs are failing**:
gce-master-scale-performance

**Which test(s) are failing**:
load

**Since when has it been failing**:
load failed on 2019-08-19, green otherwise

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance

**Reason for failure**:

**Anything else we need to know**:
/sig scalability

[2019-08-20 14:52] tedyu commented on #80968
@sjenning
I agree with you.
MarkAllPodsReady is just a placeholder where per pod action needs to be taken based on liveness check.

[2019-08-20 15:02] jkaniuk commented on #81654
/assign @jkaniuk

[2019-08-20 15:04] rzr commented on #46790
For the record this link is gone:

https://stackoverflow.com/questions/44314054/how-to-run-kubernetes-on-intel-edison

I suspect it depends on docker 32bit for i386 ?

[2019-08-20 15:07] swingflip opened #81666 "Issues with Ports on headless service attached to Stateless Set"
Not sure if this is a bug or I am doing something wrong...

I am trying to expose 5 ports for an Informix Container which is within a statefulSet. It has a headless service attached, to allow other internal stateless sets communicate with it internally.

I can ping the headless service `informix-set-service` from my `informix-0` pod and other pods however when I try `nmap -p 9088 informix-set-serv

[2019-08-20 15:08] swingflip commented on #81666
/sig network

[2019-08-20 15:17] g2github commented on #44665
Someone might want to correct this page that directs the install user to check the kubectl install directly... https://kubernetes.io/docs/tasks/tools/install-kubectl/

[2019-08-20 15:22] draveness commented on #81281
An alternative could be expanding the MaxNodeScore to 100 and keep the MaxPriority as it is.

[2019-08-20 15:44] hex108 commented on #81438
If the scheduler schedules the pod again, the plugin will use the data calculated in the last time. Though we could use a hack for this, ex: check whether the data was initialized before, if it was, delete the original data and initialize a new one, it does not sound like a good idea.

Not sure I understand it correctly, I think plugins should run with initialized data for each schedule cycle,  an

[2019-08-20 16:02] thockin commented on #81060
@freehan @robscott PTAL at this wrt EndpointSlice

[2019-08-20 16:09] ryanmcnamara commented on #80968
What about @alexodle's suggestion here: https://github.com/kubernetes/kubernetes/issues/80968#issuecomment-521422422?

Should the kubelet reconcile all the pods again when it notices it goes from a unknown -> ready state? My perspective is that the kubelet should be responsible for continually making sure that pods that should be ready are marked as ready.

[2019-08-20 16:13] tedyu commented on #81138
@danwinship made the following comment on my PR:

https://github.com/kubernetes/kubernetes/pull/81257#issuecomment-522367492

[2019-08-20 16:16] dchen1107 commented on #79702
cc/ @dashpole who has been looking into this lately ...

[2019-08-20 16:21] jkaniuk commented on #81665
/assign @jkaniuk

Master node was restarted and during that time apiserver did not respond for ~1.5min. After apiserver came back online, number of incoming requests caused increased latency failing the test.

Master node was restarted at the end of the load test, during services deletion:
systemd.log
`Aug 20 05:00:51.707010 gce-scale-cluster-master dockerd[2594]: time="2019-08-20T05:00:51.7069443

[2019-08-20 16:27] daschott commented on #62046
@feiskyer looking internally, it looks as though the minimum version with end-to-end DSR support is Build 18873 or above. So this should be included in
 [Insider release 18945](https://blogs.windows.com/windowsexperience/2019/07/30/announcing-windows-server-vnext-insider-preview-build-18945/)