[2016-05-12 18:58] xiang90 commented on #25286
@mikedanese @roberthbailey I think all we want is to give the users an easy way to spin up a k8s cluster with etcd3 as its backend as an option easily. We can explicitly this is not production ready, but at least then people can help us test it easily or put some non-production jobs on it.

[2016-05-12 19:01] yissachar commented on #25520
This seems to be a general Docker for Mac problem when using --net=host (see https://forums.docker.com/t/beta-9-and-localhost-connection-via-net-host/10471), so I'll close this as it's not a Kubernetes specific problem.

[2016-05-12 19:01] #25520 closed

[2016-05-12 19:06] gmarek opened #25543 "Work around KubeProxy panic that makes Node's network not working"
Currently a Docker bug may cause KubeProxy to crashloop thus making the Node unable to use cluster network, which in turn makes Pods scheduled on this Node unreachable.

To mitigate this issue we need to surface the information about problems with KubeProxy, that will allow scheduler to ignore given node when scheduling new Pods. ProblemAPI is going to address this kind of problems in the future,

[2016-05-12 19:09] metral commented on #25439
duplicate of https://github.com/kubernetes/kubernetes/issues/24479

[2016-05-12 19:17] bgrant0607 commented on #24533
Flakes aside, CI (build/test) failures are typically going to be deterministic. Interactive pods should also only run once, in general.

[2016-05-12 19:25] bprashanth opened #25544 "Ingress controller addon not deployed onto HEAD gke clusters"
Looks we're not actually creating the l7 addon from yesterday (May 10 night was the last green run). We still create it on gke-1.2 clusters and HEAD/1-2 gce:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ingress-release-1.2/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-ingress/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ingress/

@kubernetes/goog-gke I ss

[2016-05-12 19:53] jlowdermilk commented on #25544
cc @maisem

[2016-05-12 19:54] quinton-hoole commented on #23848
@mfanjie @nikhiljindal (after discussion with and approval from @nikhiljindal and @bgrant0607)To

To answer @nikhiljindal 's questions:

1. services created in underlying kubernetes clusters should have the same name as those in the federation.  This enables, amongst other things, adoption of existing services.  It also makes the DNS resolution simpler, as the federated service name, kubernetes se

[2016-05-12 20:00] jeremyeder commented on #23640
Is this the latest status for container pruning or is it being tracked elsewhere?

[2016-05-12 20:06] timothysc commented on #25286
We will likely option enable as an experimental feature at this point.
There needs to be a heck of a lot of vetting involved still, now that kube is in the wild.

/cc @detiber @eparis @smarterclayton @jeremyeder

[2016-05-12 20:21] quinton-hoole commented on #23848
Regarding what DNS A records to publish, see https://github.com/kubernetes/kubernetes/pull/25107#issuecomment-218026648
We will be implementing that for v1.3.

[2016-05-12 20:23] spxtr commented on #25140
This came up recently in #20461. We can consider bumping up to 4 nodes for parallel tests, or using a smaller number of ginkgo nodes than [30](https://github.com/kubernetes/kubernetes/blob/master/hack/ginkgo-e2e.sh#L81).

[2016-05-12 20:57] brendandburns commented on #24963
I'll work on this.

[2016-05-12 21:01] brendandburns commented on #24441
I'm going to take a look at fixing this today.

[2016-05-12 21:14] nikhiljindal opened #25547 "exception on GET /api/v1/proxy/namespaces/kube-system/services/heapster/api/v1/metric-export"
Saw the following on 1.2.4 cluster:

[code]

cc @vishh @piosz
Not sure who is the right person for this.

[2016-05-12 21:20] vishh commented on #25547
cc @mwielgus

[2016-05-12 21:23] janetkuo commented on #25541
and `kubectl delete` too

[2016-05-12 21:24] #24728 closed

[2016-05-12 21:24] ewindisch commented on #23604
+1. I ended up deleting a (non-production) cluster because I couldn't sort this out. It also seems that deployments do not list in 'kubectl get all', which only added to the confusion.

@janetkuo FYI, as a user renaming this issue made it difficult to find.

[2016-05-12 21:24] smarterclayton commented on #25541
Instead of "--all is false", say "multiple resources were provided, but no label selector or --all flag specified"

[2016-05-12 21:25] yifan-gu opened #25549 "cadvisor supports rkt runtime"
Capturing https://github.com/google/cadvisor/pull/1263#issuecomment-218888039

To make cadvisor support rkt in 1.3, we will need to get https://github.com/google/cadvisor/pull/1263 and another PR (implements a rkt specific watcher) in cadvisor, and bump the cadvisor version.

cc @kubernetes/sig-node @tmrts @philips @jonboulle

[2016-05-12 21:28] thockin commented on #25145
@a-robinson Are you active on this?  @jingxu97 may have some starter-project bandwidth to help.

[2016-05-12 21:30] a-robinson commented on #25145
Not active. It would indeed be a good starter project :)

[2016-05-12 21:31] thockin commented on #23163
@jingxu97

[2016-05-12 21:31] thockin commented on #21056
Somewhat larger scope but good education :)
@jingxu97

[2016-05-12 21:31] thockin commented on #18396
I think we did some but not all of this

@jingxu97

[2016-05-12 21:32] thockin commented on #16106
@jingxu97

[2016-05-12 21:33] thockin commented on #23357
5 means 5 bytes - the base unit.
@jingxu97 to see if we can improve UX here - maybe an optional units suffix?

[2016-05-12 21:33] thockin commented on #25368
@jingxu97 if you get through the rest

[2016-05-12 21:34] #20904 closed

[2016-05-12 21:35] thockin commented on #18094
Fixed in master

[2016-05-12 21:35] #18094 closed

[2016-05-12 21:35] #18088 closed

[2016-05-12 21:36] thockin commented on #17970
@vishh ok to close this now?

[2016-05-12 21:36] #16229 closed

[2016-05-12 21:37] caesarxuchao opened #25550 "kubectl apply cannot delete entry from ObjectMeta.Finalizers"
There are system components updating
ObjectMeta.Finalizers, so it requires the three-way merge feature of the strategic merge patch.

ObjectMeta.Finalizers is a slice of string, but the strategicmerge package doesn't handle the merge patch for a slice of a base type. It only uniqifies the entries in the merged slice, but doesn't support removing an entry.

There are two possible solutions:
1. make

[2016-05-12 21:37] thockin commented on #15632
@jsafrane I am going to throw this at you and you can link it to the PR or close it.

[2016-05-12 21:40] thockin commented on #15140
@uluyol there are still a bunch of places in the tree that reference :0.8 or or :1.0 or :2.0 - do you have 15 minutes to finish this cleanup? :D

[2016-05-12 21:40] thockin commented on #10387
@erictune I forget where this live(d) are we still generating the old-style tokens?  Or can we close this?

[2016-05-12 21:41] thockin commented on #10386
@

[2016-05-12 21:41] #10386 closed

[2016-05-12 21:42] #9306 closed

[2016-05-12 21:42] nikhiljindal commented on #23848
Watching is better. We can create DNS entry whenever we get LB info. It does not have to be within 5 seconds.

Re: deletion. yes cascading deletion post 1.3 sounds fine. We will need to do that for cluster as well (when a k8s cluster is removed from federation, delete all resources in that k8s cluster that were created for federation resources). That deletion can look like namespace deletion (we d

[2016-05-12 21:46] thockin commented on #9290
@david-mcmahon I think this is a release-process issue.  We have a gcr.io image of etcd.  I don't know who builds it or under what conditions.  I sort of feel like we should vendor it here and build locally, or at least have our own fork of it that rebase on our schedule.

[2016-05-12 21:46] #9289 closed

[2016-05-12 21:47] thockin commented on #8194
@ArtfulCoder can you link this from you mondo PR's first comment, so it auto-closes

[2016-05-12 21:48] thockin commented on #7825
@ArtfulCoder please link this to your mondo PR's first comment so it auto-closes.

[2016-05-12 21:53] smarterclayton commented on #25330
This was caused by the PR

[2016-05-12 21:53] #25330 closed

[2016-05-12 21:53] hongchaodeng commented on #9290
I would like to take care of it.
Either forking it or maintaining the build script, we can take care of syncing and building etcd image.

[2016-05-12 22:01] quinton-hoole commented on #23848
@mfanjie I suggest that you focus on the reconciliation of the services in the underlying kubernetes clusters in #25517, and I can, in parallel, write a library to program the DNS entries.  Sound good?  I can start on the DNS library today.

[2016-05-12 22:01] mwielgus opened #25553 "Cluster-autoscaler: update GCE kube-up.sh to use new cluster autoscaler"
Ref: https://github.com/kubernetes/contrib/issues/968

[2016-05-12 22:03] janetkuo commented on #25541
Description updated based on suggestion

[2016-05-12 22:12] janetkuo commented on #22337
"kubectl run" changed behavior to create deployments by default. A user mentioned in https://github.com/kubernetes/kubernetes/issues/23604#issuecomment-218890376:

[2016-05-12 22:43] janetkuo commented on #23604
https://github.com/kubernetes/kubernetes.github.io/pull/198 for updating http://kubernetes.io/docs/user-guide/simple-nginx/ & http://kubernetes.io/docs/user-guide/pods/multi-container/

[2016-05-12 22:46] jeremyeder commented on #23357
similar UX issues with nodeallocable cf https://github.com/openshift/origin/issues/8547

[2016-05-12 23:17] spiffxp commented on #23146
SIG-related docs have been copied over to the new repo, I think what remains to be done is someone with wiki access to redirect or remove SIG-related pages as appropriate, see kubernetes/community#3 for more details

[2016-05-12 23:21] osterman opened #25554 "Feature Request: Allow `change-cause` annotation to be overridden in resource file"
## what
- Let the user override the default `change-cause` generated by `kubectl` by specifying it in the `metadata` of the resource file

Example:
![image](https://cloud.githubusercontent.com/assets/52489/15233372/04024156-185d-11e6-8d1f-9f4131bd7829.png)
## why
- The automatic annotations are not very helpful if the same command is always executed
- The end-user can provide more meaningful annot

[2016-05-12 23:24] janetkuo commented on #25554
@kubernetes/kubectl @kubernetes/sig-config

[2016-05-12 23:32] dcowden commented on #24677
@keegancsmith  Based on the comments here, I think I've decided in our implementation that we'll use old-fashioned node-backed volumes, and then set up our containers to send as much data as possible into a 'logging volume' that is actually mounted on the host.

This will involve:
   * redirecting stdout/stderr to a file in the log volume
   * configuring applications to send logs to the log volum

[2016-05-12 23:49] janetkuo commented on #25554
or, we can create another annotation (for user specified change cause) to display in `rollout history`

[2016-05-12 23:49] carsonoid opened #25555 "Services unable to reach themselves in hyperkube (local docker)"
So running the simplest example of nginx on hyperkube everything goes well. I can reach nginx from other pods in the cluster and from the host. But when I try to curl the service ip from within the pod itself then I get no response.

The iptables rules below illustrate the problem

[code]

I think it's because we are marking it for masquerade and then sending the traffic out of the network when th

[2016-05-12 23:56] kargakis commented on #22337
We should use the discovery client when we start combining resources from different api groups into the same aliases.

[2016-05-13 00:01] bgrant0607 commented on #25550
Since `$patch` is currently a directive to the parent, I think the new directive should specify that it applies to a sibling.

I also think we need to move the directive to the key, since the value could be arbitrary (e.g., an integer).

Something like:
[code]

A slash could work as the separator, also. Or maybe `@`.

[2016-05-13 00:08] saad-ali opened #25556 "e2e flake: "Service endpoints latency should not be very high""
The test E2E test `Service endpoints latency should not be very high` failed in `kubernetes-e2e-gce` with:
[code]

Link to logs: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/16770/

[2016-05-13 00:09] dchen1107 commented on #24295
@zmerlynn gave me a node which running into this problem.

* Deleting and recreating pod on the bad node doesn't fix the issue.
* Explicitly mounting sysfs on the bad node does mount sysfs with rw mode, but still throw the error (different one from above) when updating the file:
[code]
* Restarting docker fixes the problem.

Nothing is in docker log again!

[2016-05-13 00:11] freehan commented on #25555
I bet this is a dup of #24350

[2016-05-13 00:13] bgrant0607 commented on #25543
Does kubelet monitor kube-proxy health?

[2016-05-13 00:20] osterman commented on #25554
Yea, a new annotation could work (e.g. `change-desc`).

Alternatively, only populate `change-cause` with the current kubectl command when `--record=true`. This way if the `change-cause` is specified in the resource, it will not be replaced and still honored.

[2016-05-13 00:22] dchen1107 commented on #25543
Kube-proxy today runs as a static pod (daemonset), kubelet treats it the same as other static pods. Yes, Kubelet reports kube-proxy podstatus back to master, that is all. The detail information on kube-proxy is in crashloop at https://github.com/kubernetes/kubernetes/issues/24295#issuecomment-218597689

[2016-05-13 00:23] saad-ali commented on #23634
Happened again recently on gke and gke-slow around the same time:
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/6796/
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-slow/4097/

[2016-05-13 00:24] osterman commented on #25554
For the record, the current behavior is to replace `change-cause` with the current command in the resource definition even if `--record=false`.

[2016-05-13 00:32] dchen1107 commented on #25543
cc/ @philips Brandon, this issue explains my long position against running kubelet, kube-proxy, etc. critical daemons as docker container. I am ok to packaging them into docker image, and running as linux containers, but they shouldn't depend on docker daemon.

[2016-05-13 00:36] mfanjie commented on #23848
@quinton-hoole do you mean you will wrap the dns provider call like ensureDNSRecord or something like that so I do not need care about the detail? sounds fair to me.

[2016-05-13 00:37] yifan-gu commented on #25543
@dchen1107 I think we don't want to run them as docker containers as well, we want to run them as rkt containers.

[2016-05-13 00:49] dchen1107 commented on #25543
@yifan-gu The initial proposal I reviewed was docker container, and I did raise my concerns to @vishh, @mikedanese and coreos developers then. Running it as rkt container should be ok since rkt is daemon-less today, and shouldn't have this chicken egg issue at the first place. But we still have the problem on the nodes without rkt as runtime.

@gmarek At the meeting, I suggested that kube-proxy up

[2016-05-13 01:24] mikedanese commented on #25543
Can I have more description of the bug? Is there a related docker issue? Is there a repro? Does this only affect kube-proxy or will it affect other pods on the node?

We need to support running critical applications (including system daemons) in pods in order to allow easy deployment and integration with vendors (e.g. storage and network vendors). cc @aronchick @thockin since we were just talking

[2016-05-13 02:02] hiroshi commented on #12337
In my case, I have a mongo db replica set at GCE. The members of replica set are specified by local name like `db1.mongo.local`. Currently production app servers at GCE use /etc/hosts to resolve local IPs of those db replicas.

Mongo DB requires a client to be able to resolve all of members of replica set by name. We cannot access those members by IP.

It seems to be a Mongo DB specific problem, b

[2016-05-13 02:12] quinton-hoole commented on #23848
@mfanjie Yes.  I am busy working out the details of ensureDNS.... .
You can focus on getting the services deployed to the underlying clusters in a manner as per my code review comments in #25517.

[2016-05-13 02:32] eparis commented on #24753
I know this isn't the right place really, but is there a way to find the 'most failed unresolved test'? Find the issue with the most # references from other PRs?

[2016-05-13 03:06] Hui-Zhi opened #25557 "NVIDIA GPU: The details needed and risks for NVIDIA GPU workloads, what should be included in kube-scheduler/kubelet?"
# What are needed for NVIDIA GPU functionalites in kubernetes,

Below are a few of my opinions, any feedback is welcome:
- CUDA version relative things and version check.
  - Without version check, workloads could be run on different CUDA version randomly, the libs inside different containers could be different, and drivers installed different bare metals also could be different, but 1 CUDA versio

[2016-05-13 03:18] Hui-Zhi commented on #25557
relative reference:
#19049 #24836 #17035

@therc @erictune @vishh @davidopp the requirements need to be implemented are from my perspective, some features and their details need to be discussed and some of them may not the necessary thing . Also, we need other customers' feedback. Would you mind let me know your feedback first?

[2016-05-13 03:33] roberthbailey commented on #23634
@maisem @andyzheng0831

[2016-05-13 03:39] adohe opened #25559 "resource quota calculate object count wrong"
FYI. I create a resource quota for a namespace, and set the replicationcontrollers number, just like this:

[code]

From this output, you can see we have used `20` replicationcontrollers, but if you run `kubectl get rc --namespace="staging"` and sum the number of rc, you will just get `9`, which means actually we just have `9` rc in this namespace. So it seems the resource quota controller can't a

[2016-05-13 03:39] roberthbailey commented on #23634
In both of those failed builds the master VM never came up.

[2016-05-13 03:48] andyzheng0831 commented on #23634
Is there a way to ssh into the master instance?

[2016-05-13 03:55] roberthbailey commented on #23634
The e2e framework tears it down right away, so it's long gone.

[2016-05-13 04:02] andyzheng0831 commented on #23634
I am not sure if it is related with docker. We received an issue report from a GCI customer recently saying that docker daemon fails to start upon instance bootup. The root cause is https://github.com/docker/docker/issues/18113. We had already cherry-picked the fix into GCI docker, but the image used in GKE does not have it. If docker daemon fails to start, I think master will not work.

[2016-05-13 04:06] roberthbailey commented on #23634
Yeah, if docker isn't running then nothing much is going to happen.

[2016-05-13 04:09] andyzheng0831 commented on #23634
OK, I will raise the priority of internal issue for the log files. Solving that issue will make debug in future easier. Moreover, I will check-pick the docker patch into GCI-beta, which is the branch we reserve for GKE.

[2016-05-13 04:31] thockin commented on #25555
This is an e2e covered feature, so we know it works at least in our "standard" setup.  what cloud are you on, and how did you configure it all?  Did you set the hairpin-mode flag to kubelet?

[2016-05-13 04:33] spxtr commented on #24753
I have the start of something along those lines in https://github.com/kubernetes/test-infra/pull/30. It will show the last 24 hour's flakiest tests in merge-blocking suites, and it won't be difficult to make it also show the last week's.

The most references from other PRs (invoked with `@k8s-bot test this issue: #`) might be interesting as well.

[2016-05-13 04:47] thockin commented on #12337
To be clear, you're trying to move mongodb into kubernetes?  Or just the
consumers of mongodb?

You can add a Service in kubernetes with clusterIP=None and an empty
selector, and then add an Endpoints object that has the IP you want.  This
will make a kube-dns record for you.  It's sort of a workaround, but it
should work for now.

On Thu, May 12, 2016 at 7:03 PM, Hiroshi Saito <notifications@gith

[2016-05-13 04:51] thockin commented on #24295
Awesome.

On Thu, May 12, 2016 at 5:09 PM, Dawn Chen <notifications@github.com> wrote:

[2016-05-13 04:53] thockin commented on #9290
We need to decide WHAT to do first :)

On Thu, May 12, 2016 at 2:54 PM, Hongchao Deng <notifications@github.com>
wrote:

[2016-05-13 05:01] carsonoid commented on #25555
I followed the [local setup guide](http://kubernetes.io/docs/getting-started-guides/docker/) exactly. I'm guessing that the issue is indeed a duplicate of #24350 and that I need to run hyperkube with rw access to /sys so that hairpin can work. I'll report back after testing.

[2016-05-13 05:03] thockin commented on #25521
Let's not confuddle errors with logs.  We often print errors into the logs,
but they aren't the same thing,.

On Thu, May 12, 2016 at 12:45 AM, Paul Morie <notifications@github.com>
wrote:

[2016-05-13 05:04] mfanjie commented on #23848
@quinton-hoole One more thing want to discuss is how can we ensure the service health status? when watcher in federation service controller caught a service update event with LB IPs, it only means the loadbalancer provider assigned ips to the services, but as you mentioned, there might be 0 healthz backend for that service, then we should not create DNS record for it. The problem is that in order

[2016-05-13 05:06] thockin commented on #13577
Is this still open?

[2016-05-13 05:15] saad-ali commented on #24269
Another failure: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/7386/

[2016-05-13 05:20] hiroshi commented on #12337
consumers of mongodb?

Just consume mongodb from kubernetes pods.

selector, and then add an Endpoints object that has the IP you want.  This
will make a kube-dns record for you.  It's sort of a workaround, but it
should work for now.

I'll try, but it seems that name will be `db1.default.svc.cluster.local`, but I want to use any name (e.g. `db1.mongo.local`.

[2016-05-13 05:22] gmarek commented on #25543
@mikedanese - I don't know about any way to repro it other than running huge clusters. Pretty much every run of a 1000 Node cluster has this problem on at least one Node.

[2016-05-13 05:25] quinton-hoole commented on #23848
@mfanjie `kubectl describe service` does this already.  You can check the code there.
All you should need to do is get the endpoints of the service with a single get call.
If the list length is zero, the service is unhealthy.

[2016-05-13 05:28] quinton-hoole commented on #23848
@mfanjie See http://kubernetes.io/docs/user-guide/services/#defining-a-service for details.

[2016-05-13 05:31] thockin commented on #12337
Yeah, the name will be our style.  We don't have any way today for you to
inject your own hostname short of setting it in a DNS server.  I'll have to
think about what we could do here...  /etc/hosts is a poor way to manage
hostnames at scale...

On Thu, May 12, 2016 at 10:21 PM, Hiroshi Saito <notifications@github.com>
wrote:

[2016-05-13 05:37] piosz commented on #25547
cc @a-robinson

[2016-05-13 05:43] piosz commented on #25547
@nikhiljindal could you please elaborate? IIUC this is log from apiserver. Did apiserver crash in this case? Did Heapster crash? Do you have logs from Heapster?

[2016-05-13 05:51] davidopp commented on #24597
To clarify -- this issue is a P0 release blocker for 1.3, because it has caused at least one user to lose data.

[2016-05-13 06:13] gtank commented on #18112
Update: pull request open for the alpha API #25562

[2016-05-13 06:31] wojtek-t opened #25563 "ReplicationController is too slow to support 2000-node clusters"
After changing kubemar-scale to run 2000-node kubemarks (with protobufs), it is failing with errors like these:

14:38:23   [Feature:Performance] should be able to handle 30 pods per node [It]
14:38:23   /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/load.go:174
14:38:23
14:38:23   scaling rc load-small-rc-3813 for the first time
14:38:23   Expected error:
14:38:23

[2016-05-13 06:34] wojtek-t commented on #25563
I did some more debugging around that and I think this is more a test problem than system problem.

Basically, when looking into logs we see that it takes even minutes for a test to observe some pod creation.
Whereas in the system this pod was already created, scheduled and started in the meantime.

I have a feeling that the test itself is cpu-starved on Jenkins. (though I don' understand why 1000

[2016-05-13 06:37] wojtek-t commented on #25563
I will try to run this test from my desktop to see if I see the same.

[2016-05-13 07:01] wojtek-t commented on #25563
Actually - I was completely wrong.

I did some deeper debugging, and it seems it's not test, but ReplicationController that is slow.

As an example in this run:
https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/1148/build-log.txt

see ReplicationController: "load-small-rc-3813"

- It took 3+ minutes to create those pods in the system
- Once they were already crea

[2016-05-13 07:07] davidopp commented on #25563
Do you think it is rate limits again?

cc/ @bprashanth who is always interested in all things ReplicationController-related :)

[2016-05-13 07:11] wojtek-t commented on #25563
I think it's something different this time. I have a hypothesis that this might be related to shared pod informer, but this is just my guess now. I will try to debug this today.

[2016-05-13 07:13] a-robinson commented on #25547
I believe that's just the response / stack trace the apiserver generates when it's asked to proxy a request to a service that doesn't have any endpoints up and running.

[2016-05-13 07:15] a-robinson commented on #25547
I assume that there wasn't a valid heapster pod in the running state at the time, right?

[2016-05-13 07:26] saad-ali commented on #19036
Reactivating issue. This test (`[k8s.io] Density [Feature:Performance] should allow starting 30 pods per node`) looks like it is still flaking with the same error: `/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/density.go:150 There should be no high-latency requests Expected : 1 not to be > : 0`

See:
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job

[2016-05-13 07:44] mqliang commented on #25563
@wojtek-t

I think the reason may be: `getPodJob` and `getPodPetSet`, `getPodReplicaSet` are still slow. I have send several PRs to add lookup cache for RC/RS/DS, but the lookup cache for Job/PetSet has not been merged yet. The PR trying to add namespace index for RC/Pod  has been merged, but I am too busy to send PRs for RS/Job/DS/Deployment.

And since we use shared pod informer, pod local cache

[2016-05-13 07:56] gmarek commented on #22421
This is done for controllers and framework is there for anyone to use.

[2016-05-13 07:56] #22421 closed

[2016-05-13 08:00] wojtek-t commented on #25563
I don't think it's about namespace, because we were always using a single namespace in a test (we want to fix it at some point, but we are not there yet).

However, when I'm looking into logs, the problem is that we are not aware of some pods, or sth like that. The problem is that we even start syncing a given RC really late.

The podStoreSynced may be a problem if the controller is restarted - bu

[2016-05-13 08:05] wojtek-t commented on #25563
Also note, that we don't have any Jobs,PetSets, DS, etc. in our tests (just RCs). SO no matter what the implementation is, all those get* methods should be very fast (in this particular test).

[2016-05-13 08:08] mqliang commented on #25563
@wojtek-t Ok.

Another possible reason is: periodic relist/resync saturate work queue(if you run the test for a long time or several times, and it becomes worse and worse). Just my guess thought, hoping it could help you debug.

[2016-05-13 08:11] AdoHe commented on #25563
/cc

[2016-05-13 08:14] gmarek commented on #23820
We have data from Kubemark. To get data from real clusters #25527 is needed.

[2016-05-13 08:25] saad-ali commented on #25482
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2016-05-13 08:25] #25482 closed

[2016-05-13 08:29] mqliang commented on #25563
BTW, as for lock contention on podStore. The [Big lock](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/cache/thread_safe_store.go#L53) for threadSafeMap make me feel nervous, we could use the locking mechanism which is used in concurrentHashMap in java: breaks the contents up into Segments to avoid locking the whole map.

Some high-quality implementation of concurrentHashMap for G

[2016-05-13 08:31] wojtek-t commented on #25563
@mqliang - yes, that's exactly what I meant by lock contention on podStore.

[2016-05-13 09:31] wojtek-t commented on #25563
Since it is actually a matter of system throughput in general, for 1.3 we will probably change our tests to use more than a single namespace (which should singnificantly improve things). Note that if someone is starting 1000s of RCs and 60000 pods in a cluster, we can probably assume he/she won't be doing it in a single namespace.

However, we should also solve the underlying problem, but it seems

[2016-05-13 09:51] nhlfr commented on #21317
I think that if we are looking for extending downward API with information about nodes, we shouldn't only focus on the name. IMO to keep a consistency and to avoid more feature requests in future, we may cover all the information we have currently about pods, so:

* environment variables
  * node's name
  * node's namespace
  * node's IP address
* volume
  * node's labels
  * node's annotations

O

[2016-05-13 10:10] iaguis commented on #25404
@steveeJ

[2016-05-13 10:31] wojtek-t commented on #25563
I added some traces and run the test locally, and lock contention on podStore doesn't seem to be a problem. The biggest problem is that we are resyncing each RC periodically every 30s. And if we have say 3000RC in a queue for periodic resync and we are creating a new RC, it just takes time to get to processing the new one.
I think I already have some ideas how to fix it and will look into it deepe

[2016-05-13 10:58] mqliang commented on #25563
In other words, it's because periodic relist/resync saturating the work queue. Then https://github.com/kubernetes/kubernetes/issues/24375 is related.

[2016-05-13 11:11] wojtek-t commented on #25563
@mqliang agree.
However, we should try to avoid frequent periodic lists, instead of adding complicated mechanisms of priorities. I need to verify if what I'm thinking works as I want and discuss it, but I think we should be able to solve it in an easier way than adding priorities.

[2016-05-13 11:21] mqliang commented on #24375
Oh, sorry, I think I should be more specific:

I don't mean let the [Queue](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/framework/controller.go#L34) of Informer respect priority. Actually, the queue of Informer ***MUST*** be FIFO, since the informer framework is used by many clients outside the core kube repo and we should be careful not to violate the FIFO assumptions down

[2016-05-13 11:57] malix0 commented on #6862
+1 to have LXC/LXD support

[2016-05-13 13:39] ekuric commented on #23357
@thockin @jeremyeder  I think it should report syntax error / fail in case storage value is without specified unit for it
``` "storage" : "5" ```
If one in PV file leave it without value and in PVC specify same value but add unit [eg. Gi ]  then that is causing troubles if value in PVC file for storage is bigger than one in PV file, and as now it will be
eg. in pv "storage":"5" and pvc file "stora

[2016-05-13 14:28] sjenning opened #25570 "Only the first ThirdPartyResource created in a groupVersion actually installed"
[code]

I create two TPRs:

[code]
Both show up in the ThirdPartyResourceList...
[code]
but only the first is actually installed.
[code]
If I reverse the order in which they are created, the first one is always the one that gets installed.

[2016-05-13 14:32] justinsb opened #25572 "glide dependency flattening"
Now that we're using glide / vendoring (hooray - thank you @thockin ), we have a vendor directory.  But I'm hitting a problem using glide myself in a separate project (upup):

1. I'm taking k8s as a dependency (I want the safe format and mount utility)
2. Because we don't have a glide.yaml / glide.lock file, glide does not flatten the dependencies AFAICT.
3. So glog gets defined twice, once becaus

[2016-05-13 14:35] hiroshi commented on #12337
I agree that /etc/hosts doesn't scale, but it works for small numbers of hosts/containers. It doesn't seem to hart if users can use /etc/hosts in kubernetes.

Anyway I'm looking forward a solution...

For a while I'll try appending hosts to /etc/hosts after starting containers, or adding records to kube-dns etcd...

[2016-05-13 14:44] mqliang commented on #25563
@wojtek-t priority mechanism may not be so complicated as you may think, we could decorate the existing code to implement one.

One possible implementation sketch could be https://github.com/mqliang/kubernetes/commit/d0aea9db2da4285049b05cc0256e44fbab83cc74 , where:

* add SyncAwareInformer which could distinguish Sync events from Update events, leaving the previous Informer as it is, since it has

[2016-05-13 15:26] fluxrad opened #25573 "skydns fails to start when podless service exists"
It appears SkyDNS will fail to start if a service exists that exclusively has failed pods behind it. Both SkyDNS and Kube2Sky enter a failed state causing all kube-dns pods to eventually enter a CrashLoopBackoff state. Steps to reproduce:

1. Create a kube-dns add-on service (in our case 5 replicas).
1. Create a Deployment in the `kube-system` namespace. In our case, Prometheus with a single repli

[2016-05-13 15:35] carsonoid commented on #25555
Running with the /sys mount as rw does indeed fix the issue.

[2016-05-13 16:38] kgelinas commented on #24407
also something is wrong
I can't talk to my lan wich is on the 10.0.0.0/24 subnet from the pod.
minions and master everything is working.

will try rebuild everything.

[2016-05-13 16:41] bgrant0607 commented on #25146
@derekwaynecarr @soltysh @kargakis I am in favor of conditions that are common across all resources. I've mentioned this a bunch of places, such as:
https://github.com/kubernetes/kubernetes/issues/1899#issuecomment-93879097
https://github.com/kubernetes/kubernetes/issues/7856#issuecomment-99711909

This is needed in order to facilitate higher-level orchestration on top of the K8s APIs. The origina

[2016-05-13 16:44] therc commented on #25318
Would it make sense to also make pods belong to a scheduler given the resources it requests, without requiring an annotation? I'm thinking in particular of cases like GPUs or custom resource types. If I add a scheduler that declares being able to handle GPU resources and e.g. custom resources (through a regex?), annotations could be redundant. This wouldn't apply to all instances where there are m

[2016-05-13 16:49] AdiuvoDotFr commented on #20786
Sorry, that's been a long time since I haven't look at this subject.

I finally have bypassed this issue by deactivating authentication on my private registry, and restrict access to my lan only. If one day i wan't to have an access to it from outside, I will eventually add an http login to my reverse proxy.

This is not the best solution, but it does the job for me.

[2016-05-13 17:12] vishh commented on #6862
It would help if someone can enumerate the reasons for wanting lxc support...

[2016-05-13 17:15] chrislovecnm commented on #24030
When will https://github.com/kubernetes/kubernetes/pull/24912 be in a tag??  kube-solo is awesome, but needs a tag 👍

[2016-05-13 17:21] caesarxuchao commented on #13794
I'll unassign myself so that people can pick it. Sorry for sitting on this for a long time..

[2016-05-13 17:23] v1k0d3n commented on #6862
@vishh would this be similar to PR #13079?

application containers are not the same as machine containers from a security perspective, since there is no control over declaring the kernel security posture. i'm not claiming to know what it would take to make this happen in kubernetes-land, but I definitely see a lot of interesting brewing on our side for additional options.

[2016-05-13 17:26] vishh commented on #6862
@v1k0d3n Nope. There will be a proposal out (soon) to define a more user-friendly interface against which lxd can be integrated pretty easily.
It would help if you can enumerate a few advanced/additional options that you need from Kubelet.

[2016-05-13 17:29] chrislovecnm commented on #24840
@magicwang-cn I am getting this on the master right now...

@bgrant0607 who should look at this?  This has been around for a bit :(

[2016-05-13 17:30] lavalamp commented on #25521
Good error handling is hard. I agree that the pkg/errors @thockin linked is a big improvement over fmt.Errorf--I consider that an anti-pattern.

But often it's appropriate to construct errors that are programmatically inspectable (WITHOUT using string parsing), especially if those errors will cross module boundaries. For this reason I think an iron-clad rule is not good. I'd prefer source errors t

[2016-05-13 17:34] tmrts commented on #23837
With appc/spec#603 appc/spec v0.8.1 and coreos/rkt#2624 rkt v1.6.0, container rootfs can be modified to be read-only at the runtime.

[2016-05-13 17:40] vishh commented on #17970
CPU limits are enforced by default now..

[2016-05-13 17:40] #17970 closed

[2016-05-13 17:42] timstclair commented on #25521
I agree that errors need to be programmatically inspectable (which is why it's important to distinguish errors and logs), but I think that could be accomplished if we enforced a standard error package across the entire project. As the slide deck linked above mentions, most of the uses for inspecting errors I've seen could have been better served using a different signal (e.g. return bool instead o

[2016-05-13 17:47] ScubaDrew commented on #20786
I was able to get this working using

`kubectl create secret docker-registry`

and

`imagePullSecrets:
        - name:`

[2016-05-13 17:48] lavalamp commented on #25521
Maybe I need to see an example, but it seems worse than declaring a custom error type and using type assertion logic to introspect.

[2016-05-13 17:50] ixdy commented on #25496
We're working on better monitoring our quota. I don't think there's much more to say in this issue.

[2016-05-13 17:50] #25496 closed

[2016-05-13 17:50] jlowdermilk commented on #23822
Another hit: [kubernetes-pull-test-unit-integration/25695/](https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25537/kubernetes-pull-test-unit-integration/25695/).
No detailed logs, but it looks like this is hitting a 5min timeout:
[code]

[2016-05-13 17:52] girishkalele opened #25578 "Bug in Go client example documentation"
pkg/client/unversioned/doc.go

Example to list pods fails to compile -

pods, err := client.Pods(api.NamespaceDefault).List(labels.Everything(), fields.Everything())

should be

everythingSelector := api.ListOptions{LabelSelector: labels.Everything(), FieldSelector: fields.Everything()}
pods, err := client.Pods(api.NamespaceDefault).List(everythingSelector)

[2016-05-13 17:53] bgrant0607 commented on #24840
https://github.com/kubernetes/kubernetes/tree/master/vendor/k8s.io/heapster/metrics/api/v1/types

Maybe related to vendoring changes?

@mikedanese @vishh

[2016-05-13 17:54] bprashanth commented on #24030
The petset pr will surely be in the 1.3 release, it will probably make it into the next 1.3.0 alpha (https://github.com/kubernetes/kubernetes/releases). To declare petset alpha-feature-complete I need init containers and unready endpoints for services, though.

[2016-05-13 17:54] madhusudancs commented on #24207
I have now run this an aggregate total of 120,000 times across three different machines (all physical machines) and haven't encountered a single failure. Not sure how to even debug this.

Is it some environment thing? Wondering if I should run this in a GCE VM. Also, not sure how much parallelism helps.

[2016-05-13 17:59] jlowdermilk commented on #19036
Ping. This is grinding submit queue to a halt.

[2016-05-13 18:02] justinsb commented on #25572
I think the workaround is to do ` glide install --strip-vendor --strip-vcs`, but that give a lot of warnings the second time (for a lot of packages) e.g.

[code]

[2016-05-13 18:10] mikedanese commented on #24840
Vendoring changes happened on Monday so the original issue predates this. More information required. Can you paste some console logs?

The issue referenced in the title of this PR does not exist in the heapster repo and there are no references to it from the kubernetes codebase

[2016-05-13 18:19] bprashanth commented on #25479
Logs show
[code]

Haven't checked node

[2016-05-13 18:21] bprashanth commented on #25277
This seems to be the core cause of multiple flakes in the flaky test list, and it's a pain to keep debugging the same thing (https://github.com/kubernetes/kubernetes/issues/25333, https://github.com/kubernetes/kubernetes/issues/25479, https://github.com/kubernetes/kubernetes/issues/24782)

@kubernetes/sig-node should we break and retry? are we at the point of using the new docker client that allow

[2016-05-13 18:24] dchen1107 opened #25579 "Add software versions to "kubectl get nodes -o wide" output"
Forked from https://github.com/kubernetes/kubernetes/pull/23684 ...

There are debate over that pr on system automatically publishs the fields in NodeStatus.NodeSystemInfo. I don't fully understand the concern, but in my opinion, the advantage of publishing those labels will help debugging and analyzing the issues related to different OSImage, RuntimeVersion, KubeletVersion, etc. especially for a

[2016-05-13 18:24] spxtr commented on #24207
Doesn't look like anyone has linked this issue in a while, so it could just be fixed due to newer go version or something else? Unfortunately there's not an easy way to find out how often it's failing yet...

[2016-05-13 18:26] bprashanth commented on #24577
Can one of you or @jayunit100 point me at logs I can actually look at? I tried following the line back to the referenced prs, but neither has anything meaningful at first glance (e2es passed apparently? or maybe i missed the failure)

[2016-05-13 18:27] timothysc commented on #25521
You see a lot of this in langs that don't ```throw```, so +1 in general.

Problem is this is a massive cleanup effort...
many hands make light work.

Execution and enforcement are just as important.  Are there any rules based static analysis tools yet for golang?

[2016-05-13 18:28] jayunit100 commented on #24577
Hmmm if I see it again I will. Maybe it's a heisenflake

[2016-05-13 18:32] chrislovecnm commented on #24840
Grumble ... works in one environment but not another ... gawd shoot me now 😄

I am messy with my environment where it broke ... let me get back to yah ...

[2016-05-13 18:40] davidopp commented on #25579
I think we agreed to at least put OS and arch in SystemInfo and labels. @bgrant0607 didn't like the idea of automatically populating everything from SystemInfo into labels, but my opinion is that we could use namespacing to make that user-friendly/not-overwhelming. But for 1.3 we got agreement that at least these two can go in SystemInfo and labels.

[2016-05-13 18:43] yifan-gu commented on #25117
FYI, I believe this will be fixed once #25062 lands.

[2016-05-13 18:57] yifan-gu opened #25581 "rkt: Measure the performance for rktnetes"
As an important aspect of the rktnetes 1.0, we want to give users some data on how the rktnetes performs today in terms of:
- [x] Pod resource overhead
  - CPU, memory usage (https://github.com/coreos/rkt/pull/2520)
  - It's almost there, we might need to do the benchmark for a longer period (>> 10s).
- [x] Pod launch latency
  - From kubelet receives the pod spec to when the pod is running.
  - R

[2016-05-13 18:57] jlowdermilk commented on #19036
Two most recent occurrences on kubernetes-e2e-gce-scalability:

[kubernetes-e2e-gce-scalability/7404](https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/7404) ([internal jenkins](http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/7404/))
[kubernetes-e2e-gce-scalability/7402](https://console.cloud.google

[2016-05-13 19:01] davidopp commented on #19036
Can someone try to binary search which PR caused this to start flaking?

[2016-05-13 19:02] luxas commented on #25555
Okay, let's add `-v /sys:/sys:rw` to the docker guide.
@thockin Does that sound resonable to fix the problem?

[2016-05-13 19:03] erictune opened #25582 "createdBy annotation has wrong apiVersion"
My cluster is version 1.2.4.
I have this pods object created just now, by my Job object.
The annotation key `kubernetes.io/created-by` has the value:

[code]

The problem is that `apiVersion` is just `extensions`, not `extensions/v1beta1`, or `batch/v1`, as I might have expected.

[2016-05-13 19:04] yujuhong commented on #25277
@Random-Liu recently added timeouts for docker operations and it's currently in use. The timeout is set to two minutes. For image pulling, this is set for the response time to the request, not for the subsequent layer pulling/downloading. We should probably ignore flakes older than a week, before the timeout went live.

That said, we have already seen tests hitting this new timeout as well. I am n

[2016-05-13 19:06] luxas commented on #25579
/cc

[2016-05-13 19:08] yujuhong commented on #25439
@metral, thanks. Closing as a dup.

[2016-05-13 19:08] #25439 closed

[2016-05-13 19:09] carsonoid commented on #25555
I've already got a PR #506 for this if that's what you want.

On Fri, May 13, 2016 at 1:03 PM, Lucas Käldström <notifications@github.com>
wrote:

[2016-05-13 19:09] yujuhong commented on #25461
Let's consolidate the image pulling issues and discuss a generic fix in #25461

[2016-05-13 19:09] #25461 closed

[2016-05-13 19:13] yujuhong commented on #25333
Consolidating the image pulling issues to #25277

[2016-05-13 19:13] #25333 closed

[2016-05-13 19:15] yujuhong commented on #25479
[code]

[2016-05-13 19:17] jlowdermilk commented on #22341
This hasn't been seen in over a month, and I suspect was fixed by changes to detect-master and addition of metadataserver lookup caching.

[2016-05-13 19:17] #22341 closed

[2016-05-13 19:19] jeffvance commented on #25120
@jeffvance and @copejon will work on this issue and create a pr shortly.

[2016-05-13 19:19] yujuhong commented on #22603
There are pros and cons. If gcr.io is slow due to high load, backing off is probably better.

Let's move the discussion to #25277 to consolidate all the issues.

[2016-05-13 19:19] #22603 closed

[2016-05-13 19:42] bprashanth commented on #25277
If we cache images it would also fix the gcr.io flake cases like https://github.com/kubernetes/kubernetes/issues/21990

[2016-05-13 19:51] drashkov opened #25585 "Environment variables named specific things not getting passed on from deployment to pods"
Deployment is defined in a json file with several environment varibles. Deployment is deployed using "kubectl apply -f deployment.json". Pods get most of the environment variables defined, but not all.

Specifically, the variables defined in the deployment.json are named:
`
 {
                "name": "DB_HOSTS",
                "value": "10.0.0.1"
              },
              {
                "

[2016-05-13 20:13] bprashanth commented on #25481
Actually i think that's image pulling, the one pod that was in pending only has the pulling event:
[code]
So I'm duping https://github.com/kubernetes/kubernetes/issues/25277

[2016-05-13 20:13] #25481 closed

[2016-05-13 20:16] jlowdermilk commented on #20913
Closing this as obsolete. Reopen if it shows up again.

[2016-05-13 20:16] #20913 closed

[2016-05-13 20:18] piosz commented on #25481
Thank @bprashanth for the investigation!

[2016-05-13 20:20] bprashanth commented on #24483
Turns out only 4 pods actually reached the pulled image state from those kubelet logs:
[code]

So I'm guessing this is image pulling again, but I didn't follow the heapster pod to make sure.

[2016-05-13 20:23] chrislovecnm commented on #24840
[code]

[2016-05-13 20:35] chrislovecnm opened #25588 "Documentation Link Broken"
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/releasing.md

`[Jenkins](http://go/k8s-test/)` Link goes to nowhere land. ... Line 85

[2016-05-13 20:41] caesarxuchao opened #25589 "release_1_3 clientset should use a serializer instead of a codec"
#24789 makes the release_1_3 clientset use a codec that does conversion. A versioned clientset should use a serializer that doesn't do any conversion, because its methods return versioned objects, not internal objects.

There is some discussion in #24789: https://github.com/kubernetes/kubernetes/pull/24789/files/b4c83022e382f60dc9cdbcf65a841c10fdac17a5..3aadafd4119dd1c59218e2a4ee032d64975b5d7f#r62

[2016-05-13 20:49] chrislovecnm commented on #24840
Here is some more:

[code]

[2016-05-13 21:03] jlowdermilk opened #25590 "e2e failing on 1.1: Kubectl client Guestbook application should create and stop a working application [Conformance]"
The Guestbook test started failing on May 10th on the 1.1 and 1.0 branches. It looks like the failure is caused by inability to hit the Guestbook's frontend service via the proxy. See [kubernetes-e2e-gce-release-1.1/2523](https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-release-1.1/2523) for example failure.

I ran the guestbook example on a 1.1 cluster,

[2016-05-13 21:08] lavalamp commented on #25590
You're using a new client w/ an old server? maybe there's a compatibility
bug?

On Fri, May 13, 2016 at 2:03 PM, Jeff Lowdermilk <notifications@github.com>
wrote:

[2016-05-13 21:08] krousey commented on #25590
For a quick sanity check, what does `curl http://127.0.0.1:8001/api/v1/proxy/namespaces/default/services/frontend/` do?

[2016-05-13 21:18] nikhiljindal commented on #25589
cc @mfanjie who also ran into this while using using versioned federation_clientset. Its returning unversioned objects when it should return versioned objects.

[2016-05-13 21:25] thockin commented on #25521
I think we would get a lot of mileage from

1) declaring a standard error-utils package
2) writing down "this is how to handle errors, when to return directly,
when to wrap-and-return, and when to log and discard"
3) converting large swath of code to the new technique

Adding key-value lists and other stuff is secondary, and might make more
sense if/when we have a (related but different) logging o

[2016-05-13 21:26] nikhiljindal opened #25592 "Surface kubectl clusters in kubectl help when talking to federation apiserver"
From https://github.com/kubernetes/kubernetes/pull/24016#issuecomment-218585269:

Will be great to have this. Not critical for 1.3

Ref https://github.com/kubernetes/kubernetes/issues/23653

cc @jianhuiz @kubernetes/sig-cluster-federation

[2016-05-13 21:37] yujuhong commented on #25581
How are you going to measure the cpu/memory usage for rkt? Is that just going to be the metadata server?

[2016-05-13 21:38] yifan-gu commented on #25581
@yujuhong Yes. the rkt api serice

[2016-05-13 21:38] jlowdermilk opened #25594 "integration flake: panic in pkg/controller/framework/controller.go:108"
See [kubernetes-pull-test-unit-integration/25720](https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25564/kubernetes-pull-test-unit-integration/25720/)

[code]

[2016-05-13 21:50] smarterclayton commented on #25589
The client set should use the serializer, but today it must take the responsibility of setting the correct GroupVersionKind on the object prior to invoking the serializer.  It may be necessary to create a Serialization wrapper or a non-converting Codec that do exactly one thing - look up the object to serialize's type in an ObjectTyper and copy it to the GroupVersionKind() a la setTargetKind in ru

[2016-05-13 21:52] smarterclayton commented on #25589
It can ignore overrides for now, but in theory overrides should influence what kind is set.

[2016-05-13 21:52] marlinhares commented on #19332
@ramonrue and @kayrus Thanks for the question and answer.
The solution of removing the token worked for me.

We have in our production: CoreOS 1010.3.0, Flannel

[2016-05-13 21:53] jlowdermilk commented on #25590
Same thing with 1.1 client:
[code]
Interestingly, `curl http://127.0.0.1:8001/api/v1/proxy/namespaces/default/services/frontend` exits 0 with no output.

[2016-05-13 22:05] #24780 closed

[2016-05-13 22:07] #25484 closed

[2016-05-13 22:15] #23298 closed

[2016-05-13 22:25] jason-kane commented on #25489
same symptom here with kubernetes 1.2.1 -- mostly dupes:

~# df -h | grep tmpfs | wc -l
30438

~# df -h | grep tmpfs | sort | uniq | wc -l
65

[2016-05-13 23:23] madhusudancs commented on #24207
@spxtr that's likely the case.

I am attaching a file here with 140K runs -
[stressout.txt](https://github.com/kubernetes/kubernetes/files/264221/stressout.txt)

I am closing this issue again. Please re-open if you find a flake again.

[2016-05-13 23:23] #24207 closed

[2016-05-13 23:30] Random-Liu commented on #25277
Also ref #25408

[2016-05-13 23:58] janetkuo commented on #25588
Hmm it's actually a Google internal link. cc @ihmccreery who authored this line.

[2016-05-14 00:01] dchen1107 commented on #25543
@mikedanese If you want to know the detail, see https://github.com/kubernetes/kubernetes/issues/24295#issuecomment-218597689. It is a docker issue, and pretty rare.

[2016-05-14 00:13] bprashanth commented on #25544
Oh this is fixed, I think it was the GCI image issue

[2016-05-14 00:13] #25544 closed

[2016-05-14 00:14] bprashanth opened #25601 "Delete cluster from kubectl config"
I know `gcloud container clusters` will get the credentials of a cluster and `kubectl config view clustes` will show those credentials. How do I do the opposite? (remove a cluster from what kubectl shows me).

I have lots of random clusters that are long dead in my kubeconfig. I tried some obvious things with no luck:

[code]

Is there an alternative to opening kubeconfig and deleting by hand? Thi

[2016-05-14 00:25] yifan-gu commented on #25581
@yujuhong Do you know if we have any e2e tests for such things already? I found the density test might be helpful.

[2016-05-14 00:26] dchen1107 commented on #25408
dup of #25277

[2016-05-14 00:26] #25408 closed

[2016-05-14 00:26] jlowdermilk commented on #25590
The plot thickens. I now suspect this to be broken at head and the test just isn't catching it. From [kubernetes-e2e-gce/16839](https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/16839):
[code]

This is the same error that I see when I try to curl from inside the frontend container on 1.1:
[code]

[2016-05-14 00:29] bgrant0607 commented on #25579
@dchen1107 How exactly do you intended to use the information?

We definitely need a way to surface more node attributes, from the node, in a customizable way. See also #9044.

Should attributes be represented as API fields, as labels, or both?

If our systems are going to depend on the presence of specific information, the attributes should be represented as fields or as annotations. For instance

[2016-05-14 00:34] mikedanese commented on #24295
Is there a corresponding docker issue?

[2016-05-14 00:51] chrislovecnm commented on #25588
While he is at it would be awesome for him document how to run a local release w/o uploading it to Google Storage. Took me awhile to hunt for the GCE variable ;) Not at my computer or I would list the var.

[2016-05-14 01:19] derekwaynecarr commented on #25559
Prior to kube 1.2, we were slow to observe deletes.  Did it settle back to
9 as expected?  The controller manager has a flag that controls how often
quota is recalculated to observe replenishment.

On Thursday, May 12, 2016, TonyAdo <notifications@github.com> wrote:

[2016-05-14 01:51] nikhiljindal commented on #25375
Happened again: [logs](https://00e9e64bac647af3f3b00010eebddaea638ad3d63c091b2978-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F24016%2Fnode-pull-build-e2e-test%2F5861%2Fbuild-log.txt?qk=AD5uMEtKV6DKupyGeQpE9wacxlG5RS8hL5gGYcelQhzGWeACQFPZLnk_bsCSYagXFvt2L2Ko57sb1MiZTk2aUq0kjV4lniJ4LRvil4Y0GtIj71LC98s8pUKie3CV7suEMoegDl6RKtA_pV0LffuJUNewSFt_fRvjw0o7eX22C

[2016-05-14 01:53] thockin commented on #24295
https://github.com/docker/docker/issues/7101
On May 13, 2016 5:34 PM, "Mike Danese" <notifications@github.com> wrote:

[2016-05-14 01:58] nikhiljindal commented on #25496
Happened again in https://github.com/kubernetes/kubernetes/pull/25232#issuecomment-219188732.

[code]

@ixdy Is there some other issue that I should link k8s-bot to?

[2016-05-14 02:09] justinsb opened #25602 "kube-controller-manager ties node CIDR allocation with cloud route provisioning"
kube-controller-manager currently has one flag, allocate-node-cidrs, which turns on two controllers:

1. A controller which assigns a CIDR to every node created
1. A controller which configures cloud routes for those nodes (on clouds that support this)

However I would like to do the CIDR allocation, without setting up the cloud routes.  In particular, AWS has a 50 node limit for cloud routes, so

[2016-05-14 02:13] newtack opened #25603 "Support for live migration scenario"
I have a partitioned in-memory custom database with let's say 2 partitions dealing with separate accounts (multi-tenant database). I want only 2 instances running on my cluster. When a new version of my custom database is released I'd like to spin off 2 new instances of the new version, transfer the state from the old database to the new one (this would be handled by the database itself) and when

[2016-05-14 02:14] mikedanese commented on #24295
That issue looks slightly different. Inside the container in the docker issue /sys is mounted ro when the user greps mounts. In Dawn's snippet /sys is still mounted rw inside the container. Possibly an issue with capabilities?

[2016-05-14 02:19] mikedanese commented on #24295
(sorry still catching up) perhaps we should file a sperate issue for this.

[2016-05-14 02:37] AdoHe commented on #25559
@derekwaynecarr I take a deep look at the log of kube-controller-manager, and just found this:
[code]
I think the root cause is because the `resourceVersion` is stale, I set the `resourceVersion="0"` explicitly and it seems can fix this.

[2016-05-14 02:56] thockin commented on #24295
I think it was r/w only if explicitly remounted, but it starts as to in
about 0.1% of runs
On May 13, 2016 7:19 PM, "Mike Danese" <notifications@github.com> wrote:

[2016-05-14 03:31] ghodss opened #25605 "Add Ready replica count to DaemonsetStatus"
Readiness is as relevant to daemonsets as deployments, but while DeploymentStatus has "AvailableReplicas" i.e. the number of pods ready for at least minReadySeconds, DaemonsetStatus does not have an equivalent count of replicas that are healthy/ready. Not only can services point at daemonset pods, making readiness relevant, but readiness can also be used to indicate general health. I suggest addin

[2016-05-14 04:08] AdoHe commented on #25559
@derekwaynecarr Besides I am thinking whether it is good to use `utilruntime.HandleError` to handle the sync error. In this scenario, it is hard to tell which resource quota under which namespace has sync error.  Maybe we can add more specific error log here for better trouble shooting. In our case, since we are using kubernetes 1.1.4, and resource quota controller just log the resource quota name

[2016-05-14 04:20] bprashanth commented on #25277
In this failure of gce-slow: https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/5568?pli=1

It looks like we pulled with the bad image to force backoff, then changed the image to a valid nginx to see that backoff was reset. Only, pulling timed out with the nginx as well.

We should probably do something smarter here: https://github.com/kubernetes/kuber

[2016-05-14 05:46] soltysh commented on #25375
And again here: https://00e9e64bac2bbf912a2f6841f17f27d70a561f39e676779a80-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F25475%2Fkubernetes-pull-build-test-e2e-gce%2F39933%2Fbuild-log.txt?qk=AD5uMEvmtO98BU8TNI1_SAznrbmflJceY-GOVfpa4sE_xh1au5eX1FPcCz2va4o2ZwH-HZ_REXIBvCf1FYcXU_XzgUQzdQ6ky91wwfCfT1xG2L7GxXV64mTg5-HHJf8JIDhOBKicdn2N5Age8gxmVoRnVkjl

[2016-05-14 05:49] hongchaodeng opened #25608 "e2e flake: Nodes become unavailable out of sudden"
see [logs](https://00e9e64bacfd3a0bc7a12dba48c5e8f2697d451a9c717e0fb4-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F25415%2Fkubernetes-pull-build-test-e2e-gce%2F39948%2Fbuild-log.txt?qk=AD5uMEtNfKmLyxzoI8y5a8_Da-s9k3Qd5rzsLTDebLnNEVOGVfaX_hU8ySQcb0xMy9kUp-oLDmN_FHaKQy3JE_StFHeZ6bWN1CWqIK7xvUsMYC0IlmEtni7q0LWil3pxpYIFIwsDom73F_unoO38mGfUUcdgG4i-b

[2016-05-14 07:44] rvowles commented on #18372
@abezverk i haven't tried it, but  it is referenced here: https://github.com/kubernetes/kubernetes/blob/master/docs/design/configmap.md

[2016-05-14 07:48] guoshimin opened #25610 "[AWS] Repeated DescribeInstances calls when KCM restarts"
On AWS, whenever the set of nodes changes, or when controller-manager is restarted, controller-manager calls DescribeInstances once for *every* service to get detailed information about the nodes. This, together with other AWS API calls, causes the AWS API request limit to be hit when you have enough services.

The call chain is

nodeSyncLoop --->
updateLoadBalancerHosts --->
(for each service) lo

[2016-05-14 07:55] mqliang commented on #25563
And some other possible solution I can think of:

1) Do not use priority, use ***two*** work queue instead, one for Add/Update/Delete events and another for Sync events.

2) As for the informer, we can also leave the Informer as it is, but do the reflect.DeepEqual at the [UpdateFunc](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replication/replication_controller.go#L147). If

[2016-05-14 09:00] kargakis commented on #25390
@JorritSalverda i think what you want to use is `kubectl replace`

[2016-05-14 09:06] borismattijssen commented on #25341
Hm I don't seem to get a panic, but it sure looks like #25084. I'll wait for that to be fixed.

[2016-05-14 09:22] kargakis commented on #24858
We should also fix the way we sort revisions - 10 should be after 9, not 1.

[2016-05-14 09:23] mbohlool commented on #25541
I think "resource(s) were provided, but no name, label selector, or --all flag specified" is better. I will send a pull request for this as my first PR.

[2016-05-14 11:23] thesuperzapper commented on #25573
I think I have this problem also, did you manage to get a working DNS? If, so I could use a hint.

[2016-05-14 12:29] wojtek-t commented on #25563
@mqliang - I did some experiments and had some internal conversation and I'm going to do short term (Mon) is:
- explicitly requeue controller for resync in case of errors (creating, deleting pods, updating RC status, etc.)
- decrease the frequency of full resync - it should basically be not needed then

Those changes are really easy, and should help significantly with overall system throughput.

S

[2016-05-14 14:31] kargakis commented on #23882
https://github.com/kubernetes/kubernetes/pull/24090 is now on master

[2016-05-14 14:31] #23882 closed

[2016-05-14 14:37] hekike opened #25613 "Pods couldn't reach network after version update to 1.2.4"
I use Kubernetes as Google Cloud's container cluster. I updated my cluster with the built-in tool to `1.2.4`, the update finished in couple of minutes and my pods were started automatically (I use deployments).

But my pods were unreachable via the exposed port and I've seen several network related errors from both my app-log messages and from Kubernetes system as well, like:

[code]

It seemed to

[2016-05-14 14:44] zhouhaibing089 commented on #25613
`10.3.240.10:53` looks like the dns service.

[2016-05-14 14:44] justinsb commented on #25602
Proposed #25614 - I used "configure-cloud-routes" there as the option name but happy to change.

[2016-05-14 14:48] jayunit100 commented on #25515
FWIW
- `clusterState.ForEachPod` cannot/should not be fixed - it is an explicti cluster operation.
- `forEachPod` is just a wrapper used in this particular test.
- If you want to fail if no pods conform to a particular state `clusterState.WaitFor(1,1*time.Minute)` which will fail if < 1 pod exists after a minute.

[2016-05-14 14:49] jayunit100 commented on #25515
And also I totally agree we should phase out the `skipIf` stuff b/c it can yield false positives iirc

[2016-05-14 14:59] jayunit100 commented on #25608
Hi @hongchaodeng can you paste the logs or any info you have on this into a comment or gist or fpaste?
The logs link is expired.

[2016-05-14 15:34] jayunit100 commented on #25605
-  should we  evaluate all the semantics of a deployment and ask what is in common w/ DaemonSetStatus?
- is a daemonset just a specialized case of a deployment, and thus, should it reuse the deployment status parameters ?
There may be some ignorance in my comments here, I'm still trying to wrap my head around the differences between daemonsets vs deployments.

[2016-05-14 15:56] jayunit100 commented on #25578
Good catch ; and This should maybe live in something like `TestExampleGoClient` , so that it runs as part of the unit tests, right?

[2016-05-14 16:07] chrislovecnm commented on #25456
I am guessing that I recreated this with PetSet.  Let me know if this is a different issue, but this smells like the same issue.

1. Created a PetSet with the wrong image.
2. Swore
3. Deleted the PetSet
4. FIxed yaml
5. Created the same petset again
6. Same error - cussed again
7. Rinse wash repeat (did the same think a few times)
8. `kubectl get po` - wth I still have a pod

The pod failed on cre

[2016-05-14 16:10] bprashanth commented on #25456
@chrislovecnm elaborate? do you mean ssh into node + docker delete, kubectl delete hangs, or you scaled down the petset?

[2016-05-14 16:16] chrislovecnm commented on #25456
@bprashanth
`kubectl delete -f cassandra-petset-local.yaml` petset deleted

[code]

[code]
here: https://gist.github.com/chrislovecnm/22ace1559dcb0ba7af64f74123b1fff8

I can still see the pod, and when I create the petset again the pod `cassandra-0` is still there.

You on slack?

[2016-05-14 16:18] chrislovecnm commented on #25456
Full k8s restart did not clear it.

Also I can see the pause docker.  Don't know what it is.

[code]

[2016-05-14 16:22] bprashanth commented on #25456
Yeah that's because the petset won't scale+delete like the rc. It goes off safety first, so it won't touch your volumes if you simply delete it while it has `replicas: N`. Doesn't sound like this bug, lets get on slack.

[2016-05-14 16:30] chrislovecnm opened #25615 "kubectl get not recommending petset"
I am running the latest code off of masters which should include some of the petset functionality that is slated for 1.3.  The recommendation for petset is not showing.  Is the recommend hidden??  I noticed that executing:

[code]
Does not include:
[code]

The command is in the source because:

[code]

Does not throw an error.

[2016-05-14 16:31] bprashanth commented on #25615
Yeah kubectl understands petset, just doesn't know how to recommend it

[2016-05-14 16:45] kargakis commented on #25615
This list should be dynamically populated

[2016-05-14 17:12] hongchaodeng commented on #25608
@jayunit100

Sorry I don't. There are two tricky things:
- Not sure why it expired since it just happened last night.
- I actually saw two different logs provided in the same link. Around 10:05pm I saw a build failure, Then at 10:30pm was the failure reported here.

[2016-05-14 17:20] chrislovecnm opened #25616 "Cassandra Seed Provider - Code improvement"
Low priority issue, but would be nice to have so this docker "could" run outside of k8s.  We are getting the following exception because it is trying to load a file that is not there, and the exception is not trapped.

[code]

[2016-05-14 17:21] chrislovecnm commented on #25616
@bgrant0607 filing an issue on myself 😄

[2016-05-14 17:28] bgrant0607 commented on #1574
Cc @ihmccreery

[2016-05-14 17:39] bgrant0607 commented on #6080
Forgiveness is #1574

[2016-05-14 17:49] chrislovecnm opened #25618 "PetSet not launching more than one pod"
I am running PetSet with only one node.  Should PetSet create more than one Replica?  The single po is up and happy.  Again only have a single k8s node up

Here is the yaml for the pet:

[code]

A bunch of console commands:

[code]

[code]

[code]

[code]

[2016-05-14 17:50] chrislovecnm commented on #25615
Can we get a `pet` abbreviation as well??

[2016-05-14 17:50] JorritSalverda commented on #25390
That seems very insensible. If you think along the lines of desired state configuration it would be much much better if kubernetes does the heavy lifting of determining what needs to happen to achieve the configuration you pass in. I use apply for namespaces, services, secrets and deployments. Does this mean it can have and should have unintended side effects like I saw with this deployment?

[2016-05-14 17:50] chrislovecnm commented on #25618
cc @bprashanth @bgrant0607

[2016-05-14 17:51] chrislovecnm commented on #25618
Kudos to @bprashanth btw ... help is greatly appreciated!!

[2016-05-14 18:10] kargakis commented on #25390
There is an issue with apply on resources with pod templates, let me find it.

[2016-05-14 18:15] kargakis commented on #25390
https://github.com/kubernetes/kubernetes/issues/22342

The verdict out of that issue seems to be that in order for `apply` to work for you, you need to have the deployment created with `kubectl create --save-config` or `kubectl apply`.

doc fix seems to merged a while ago: https://github.com/kubernetes/kubernetes/pull/25074

[2016-05-14 18:16] kargakis commented on #22342
https://github.com/kubernetes/kubernetes/pull/25074 is now on master

[2016-05-14 18:16] #22342 closed

[2016-05-14 18:17] #25390 closed

[2016-05-14 18:17] kargakis commented on #25390
Reopen if the proposed solution is not working for you.

[2016-05-14 18:45] bactisme commented on #6862
@vishh I am not saying that docker's one-process-per-container is broken ... but some people do 😊

If your application talk to a log daemon or simple mail server or ntp, have cron tasks etc. Docker require you to spin as much container. Of course it is better for horizontal scalability and process management ... but it also bring a damageable complexity ...

Lxc can bring simpler deployment: caref

[2016-05-14 19:01] smarterclayton commented on #25416
Dupe of #25139, fixed in #24768

[2016-05-14 19:02] smarterclayton commented on #25416
Actually, not a dupe.  This may be a consequence of other refactors to controller logic - possibly we are missing / dropping events out of the queue.  I would expect it to get fixed on the sync interval though.

[2016-05-14 19:16] JorritSalverda commented on #25390
Cool, thx for your help. I think I originally created the deployment using `kubectl apply` though. But haven't seen the issue after I created this ticket. If it happens again I'll try to get some more detail around previous and current config.

[2016-05-14 19:26] jlowdermilk commented on #25570
cc @brendandburns

[2016-05-14 19:43] jlowdermilk commented on #25603
Since your db is in-memory, you can probably accomplish this by running it in a [deployment](http://kubernetes.io/docs/user-guide/deployments/) and writing a [job](http://kubernetes.io/docs/user-guide/jobs/) that creates the new deployment, triggers the migration, and then spins down the old deployment.

[2016-05-14 19:48] jlowdermilk commented on #25603
A nicer way to accomplish this sort of custom flow would be to use an init container (see #23666 for proposal), which is being implemented fairly soon. That would potentially let you use deployment's update, but the standard rolling-update flow is spin up new pod/wait for running/spin down old pod/repeat. You may still be better off writing a job to manage your custom upgrade scenario.

[2016-05-14 20:01] jlowdermilk commented on #25608
Hi @hongchaodeng,
When filing flaky test issues: please follow https://github.com/kubernetes/kubernetes/blob/master/docs/devel/flaky-tests.md#filing-issues-for-flaky-tests

Without logs, this issue is not actionable. For jenkins runs, pr checks will have a link to a gcs bucket containing logs. Put that link in the issue and apply label `kind/flake` as well as a `team/...` label if you have an idea

[2016-05-14 20:01] #25608 closed

[2016-05-14 20:03] hongchaodeng commented on #25608
That's the link to the log. When I reported it, it was still there...

[2016-05-14 20:14] jlowdermilk commented on #25613
How long were pods unreachable for? Some delay would be expected, because the kube-dns pod has to restart and service controller has to detect location of the rescheduled web server pods. Check events for the service as well as kube-dns events to see if that's what happened.

[2016-05-14 20:20] jlowdermilk commented on #25515
IMO, `clusterState.ForEachPod` *should* fail by default if no pods match the filter. Otherwise, the test looks like it's passing but the check function is never run. I made that change in #25537. If you object to it, please let me know.

[2016-05-14 20:21] bprashanth commented on #25618
# annotations:
        # Flip this to false after each node is stable.
        # To check the stability of a node, see kubectl logs.
        # pod.alpha.kubernetes.io/initialized: "false"

@chrislovecnm you acutually need that
It's to allow admin control over petset deployment, i.e if the admin wants to just deploy a 10 node cluster, but actually not have each node come up till he/she has verified

[2016-05-14 20:31] jayunit100 commented on #25515
Clusterstate.WaitFor(1) followed by Clisterstate.ForEach accomplishes what you need explicitly without adding too much extra boilerplate, right?

[2016-05-14 20:39] mrhwick opened #25620 "Example in "kubernetes 101" does not work."
I have tried to follow the (extremely) brief example described in the below docs:
http://kubernetes.io/docs/user-guide/walkthrough/#pod-management

When I get to the step where we use a simple curl to the pod, the example stops working:

[code]

If I am doing something wrong to cause the issue, then I apologize for complaining. I just ran the tutorial on a fresh set up, and encountered issues.

[2016-05-14 21:00] kargakis commented on #23211
I will start working on this once #19343 is on master.

[2016-05-14 21:01] girishkalele commented on #25503
I was hoping it took care of freeing up all GCE resources before I left for the day - I searched for previous issues related to this and I found https://github.com/kubernetes/kubernetes/issues/4411 which references the same issue.

quote
(2) when cluster is shut down by kube-down.sh external load balancer are not removed.
To solve (2), I suggest just to delete all cluster's services in kube-down.s

[2016-05-14 21:49] chrislovecnm commented on #25618
Awesome!!! Item to add to documentation ;)

I will test drive when I am in front of a computer.

[2016-05-14 22:55] bprashanth commented on #25277
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/16905

[code]

[2016-05-14 23:17] hongchaodeng opened #25621 "jenkins node e2e failed without any log"
A latest result of node e2e in #25415 showed failure with links to log:

https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/25415/node-pull-build-e2e-test/5947/build-log.txt

It only shows "not found"..

[2016-05-15 01:38] hongchaodeng commented on #25608
I see the confusion.

By "sorry I don't" I mean I don't store the logs in anywhere else. The link is strange as described in above two points.

[2016-05-15 02:04] Random-Liu commented on #25277
I look into the log a bit. In the kubelet.log on jenkins-e2e-minion-sk84, we could see:
[code]
And in docker.log, at 2 minutes ago, we could see:
[code]

[2016-05-15 02:11] bprashanth commented on #25277
The issue might be that one such gcr.io flake 404 puts the container into backoff, which hits the test timeout. But we *know* that image exists.

[2016-05-15 02:16] zhouhaibing089 commented on #24971
@smarterclayton I think override the `now()` function call as you did [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/rate_limited_queue_test.go#L155-L167) in `TestDelNode` would resolve this issues, what do you think, if you agree with this, I am gonna to try that.

[2016-05-15 02:24] colemickens opened #25623 "hyperkube arguments don't pass through correctly (w/ kubectl)"
hyperkube + kubectl isn't working as I'd expect:

`./hyperkube kubectl run -i --tty nginx --image=nginx --restart=Never`

results in:

[code]

[2016-05-15 02:28] jakeswenson commented on #23796
@saad-ali should this be re-opened to track what @rmuhic mentions?
because i am seeing this same error as well.
I followed the setup instructions here: http://kubernetes.io/docs/getting-started-guides/centos/centos_manual_config/
[code]
[code]

[code]
[code]

[2016-05-15 02:45] Random-Liu commented on #25277
@bprashanth I found that the 404 error should be caused by an `ImageInspect` before pulling [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/container/image_puller.go#L83). Because the image is not present, docker daemon returns a 404, which is normal.

And after that, docker did start to pull the image
[code]
So it seems that we need to investigate more, :(

[2016-05-15 02:48] smarterclayton commented on #24971
It would fix it, although I think this is broken in the core code, not just in the test.  We suspect real workloads have been impacted by this.

[2016-05-15 02:57] hiroshi commented on #12337
For those who want to append to `/etc/hosts`, following trick seems to work so far...

1) create configMap
[code]

2) write wrapper script `start.sh` and add to your image
[code]
Don't forget `chmod a+x start.sh`

2) use the configmap as volume and run start.sh
[code]

[2016-05-15 04:24] bprashanth commented on #25277
Eitherway in the normal case image pull takes < 1m. Almost all tests poll for the standard 5m till running+ready, if > 2m goes in pulling the image we *might* make the deadline. If it takes 2m, fails, goes into backoff and retries for 2m, we're probably not going to make it.

[2016-05-15 06:52] davidopp commented on #12143
@roberthbailey had suggested it might be useful to have a "dry run" mode where you just ask which is the best node to drain, or best N of some set, but don't drain it. not sure how you express that using a REST API though. also can't remember what the use case was (it might have been for autoscaling scale-down, so you know which node is best to remove?)

[2016-05-15 06:57] davidopp commented on #24333
@justinsb

[2016-05-15 06:57] davidopp opened #25625 "move "kubectl drain" into the server"
random note: @roberthbailey had suggested it might be useful to have a "dry run" mode where you just ask which is the best node to drain, or best N of some set, but don't drain it. not sure how you express that using a REST API though. also can't remember what the use case was (it might have been for autoscaling scale-down, so you know which node is best to remove?)

as an aside, we need to consol

[2016-05-15 08:46] hekike commented on #25613
@jlowdermilk for an ~hour, until I didn't delete them manually and the deployment re-create them

[2016-05-15 09:01] Random-Liu commented on #20762
Close this one since #24443 has been merged.

[2016-05-15 09:01] #20762 closed

[2016-05-15 11:16] #24328 closed

[2016-05-15 11:22] mingfang opened #25626 "cluster-dns setting is not applied to daemonset pods"
Setting cluster-dns causes the /etc/resolv.conf file to be configured correctly for all "normal" pods.
However this does not seem to work for pods created from daemonsets.

[2016-05-15 11:25] zhouhaibing089 commented on #25626
maybe the daemonsets use hostnetwork?

[2016-05-15 11:31] mingfang commented on #25626
@zhouhaibing089 Thanks. Yes my daemonset is using hostnetwork. Is that the expected behavior?

I'm trying to run Zabbix agents as a daemonset and am using hostnetwork to try to monitor the network at the host level.

[2016-05-15 11:38] zhouhaibing089 commented on #25626
referring this: https://github.com/kubernetes/kubernetes/issues/17406

[2016-05-15 11:56] erez-rabih commented on #25131
@timstclair The error happens all the time according to the heapster logs.
It might be related to anther weird thing I experience - I have some pods hung in a Terminating state for a few weeks now.
When I try to `kubectl delete pod <podname>` it doesn't change anything.

[2016-05-15 12:28] luxas commented on #24785
Hi @rhuss!
You should have pinged me from the start :), but noticed this now.
I've written the code for `hyperkube-arm`, and you'll find all links in #17981

For `v1.2.0`, binaries are cross-compiled for ARM on `make release` thanks to #19769, but Docker images aren't built (there wasn't time for that before the release)

Then I submitted #21617, so `v1.3.0-alpha.2` and over will be automatically

[2016-05-15 12:32] luxas commented on #24778
It's working as-is, but is a breaking change from earlier, when `K8S_VERSION` was `1.2.0`. Now it should be `v1.2.0`

Reason: It's better to have the full release tag, and `latest.txt` and `stable.txt` are `v1.x.y`
[code]

Closing as working as intended. Reopen if you do not agree.

[2016-05-15 12:32] #24778 closed

[2016-05-15 12:34] luxas commented on #24510
Great, now it's merged!
Thanks @pbx0

Closing as fixed

[2016-05-15 12:34] #24510 closed

[2016-05-15 12:38] luxas commented on #23417
@pmorie Doesn't ConfigMaps work with `--containerized`?
We should fix that before `v1.3`!
I don't think it's too hard to solve, we just need to use the `NsEnterMounter` I think

[2016-05-15 12:41] luxas commented on #23111
I think this is fixed with #23550, and it's in the latest `v1.2.x` release.
Closing as probably fixed, @deromka reopen if it didn't work

[2016-05-15 12:41] #23111 closed

[2016-05-15 12:42] luxas commented on #22457
Fixed at HEAD

[2016-05-15 12:42] #22457 closed

[2016-05-15 12:42] ncdc commented on #25456
It's important to note that nsenter just drops you in as root with a
minimal environment unless we take steps to do otherwise. Docker exec runs
as the same user as the primary container process with the same environment
and presumably the same protections (cap drops, etc). So it's not as easy
as just switching to nsenter and having it be functionally equivalent.

On Thursday, May 12, 2016, Prashan

[2016-05-15 12:45] luxas commented on #20514
Fixed with #24218 and included in `v1.3.0-alpha.3`

Closing as fixed, reopen if not

[2016-05-15 12:45] #20514 closed

[2016-05-15 12:47] luxas commented on #20058
Came across this now, and we've discussed it in other issues.
This is fixed with #23550, and is in the latest `v1.2` release.
Thanks for reporting though

[2016-05-15 12:47] #20058 closed

[2016-05-15 12:49] luxas commented on #19980
This is fixed in the latest `v1.2` release thanks to #17213 and #23550
Closing as fixed, reopen if not

[2016-05-15 12:49] #19980 closed

[2016-05-15 12:51] luxas commented on #18227
This is working in the latest `v1.2` release with #17213, #21504 and #23550

[2016-05-15 12:51] #18227 closed

[2016-05-15 12:53] luxas commented on #16280
Fixed in `v1.1` and newer releases by #11727

[2016-05-15 12:53] #16280 closed

[2016-05-15 12:59] luxas commented on #22752
The local cluster does support DNS, but there are manual step that have to be taken.
[Here's how to do it](https://github.com/luxas/kube-deploy/blob/1d50a01f62732fa9441875875235b774c25e2e3d/docker-multinode/deployDNS.md) and [here's one example manifest](https://github.com/luxas/kube-deploy/blob/1d50a01f62732fa9441875875235b774c25e2e3d/docker-multinode/skydns.yaml.in) that works cross-platform (`a

[2016-05-15 13:00] luxas commented on #8413
Working, but manual steps are required.
Let's continue the discussion in #22752

[2016-05-15 13:00] #8413 closed

[2016-05-15 13:02] luxas commented on #6601
`cmd/kubernetes` was removed a long time ago.

[2016-05-15 13:02] #6601 closed

[2016-05-15 13:03] luxas commented on #5755
Also see https://github.com/kubernetes/minikube

[2016-05-15 13:47] samber opened #25628 "[Kubectl] - Validate every yaml files before processing them"
When I execute `kubectl create -f namespace.yaml -f pod-app.yaml`, even if pod-app.yaml is not properly formated, namespace.yaml is parsed and interpreted:

[code]

I think both configuration files should be validated before processing resources.

[2016-05-15 13:58] jayunit100 commented on #25628
hmmm...
- Are you suggesting a requirement?
- Or are you suggesting this is a  bug?

[2016-05-15 14:10] samber commented on #25628
It's not a requirement or a bug, just a small improvement to a better experience with kubectl.

I was writing some config files and after my syntax error, I needed to delete my namespace before retrying.

[2016-05-15 14:24] jayunit100 commented on #25628
I agree with you, this has bit me before as well.  I think you're suggesting a requirement nevertheless that kubectl actions should attempt to be "atomic" for lack of a better word

[2016-05-15 14:48] samber commented on #25628
Exactly ! ;-)

[2016-05-15 15:27] ddysher commented on #13577
It seems we still use service ID as loadbalancer name.  I've hard-coded a little bit to make it work (find all loadbalancers in a cluster); it works, but not pretty.

@thockin WDYT?

[2016-05-15 17:06] mikedanese commented on #22752
./hack/local-cluster-up.sh does not support dns last I checked

[2016-05-15 17:42] monokal commented on #6862
I think the majority of people want LXD/LXC support in order to allow for
legacy services. Not everyone's fortune enough to have a completely
green-field environment, myself included.

Mesosphere's DC/OS is now open-source so that's an option, but Kubernetes
support would allow for a single unified platform.
On 14 May 2016 7:46 p.m., "Baptiste M." <notifications@github.com> wrote:

[2016-05-15 18:48] bprashanth opened #25629 "Not enough ips in kubernetes-jenkins-pull"
Master didn't come up because there were no ips:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23567/kubernetes-pull-build-test-e2e-gce/40061/artifacts/
[code]
we're at:
[code]
so we're either running too much on that project or leaking ips.

@kubernetes/goog-testing

[2016-05-15 20:15] bprashanth commented on #25277
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/16967
[code]

And in node logs, https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-jenkins/o/logs/kubernetes-e2e-gce/16967/artifacts/jenkins-e2e-minion-rxhy/kubelet.log:
[code]

[2016-05-15 21:30] #25491 closed

[2016-05-15 21:35] metral commented on #19767
This issue has been resolved by this set of PR's:
- https://github.com/kubernetes/kubernetes/pull/23116
- https://github.com/kubernetes/kubernetes/pull/23673
- https://github.com/kubernetes/kubernetes/pull/25110

It can be closed

[2016-05-15 21:52] ixdy commented on #25629
Now we have a different problem. Someone or something deleted all of the Jenkins GCE VMs in that project.

[2016-05-15 22:02] bprashanth commented on #25629
Sorry, I'm retarded. I did what i always do when there's a leak, free resources. Thought i was deleting disposable vms but i clearly messed that up.

[2016-05-15 22:04] ixdy commented on #25629
well, I will take this opportunity to fully clean up the project.

The node e2e tests occasionally leak VMs. We need to improve our infrastructure to garbage-collect these.

[2016-05-15 22:57] ericln opened #25632 "kube-down aws ec2"
I have created a cluster on aws with `kube-up` script (v1.2.4), and im trying to run the `kube-down` on a different machine from where I ran the `kube-up` with the same kubeConfig file. I only set the env variable `KUBERNETES_PROVIDER=aws`. But after running `kube-down` script (receiving a "done" message), the cluster seems to be....still up, nothing has changed.

I am curious what are the things

[2016-05-15 23:08] rata commented on #25632
@ericln Do you have the aws-shell installed with the same credentials? (or another user with permission for all, but the same credentials seems easier, if the permission hasn't changed).

What is the output?

[2016-05-16 00:08] bprashanth commented on #25629
Things should be running now, closing. More than 60% of the ips are unused.

[2016-05-16 00:09] bprashanth commented on #25618
@chrislovecnm please close this if it works

[2016-05-16 00:23] smarterclayton commented on #25272
I would prefer if we fix glog to not be "--v" because that's crazy.  In
OpenShift we rebound it as "--loglevel" and "--logmodule" - that would then
free up -v to be useful.

Although I would question whether --verbose should really be glog.V(3) with
better formatting.

If it's important to communicate to a user what is happening on run and
expose, I think we should just show more output and then s

[2016-05-16 00:28] smarterclayton opened #25635 "e2e flake: gcloud crashed during upgrade"
[code]

[2016-05-16 00:31] bprashanth commented on #25635
I think concurrent updates of gcloud will cause this. It has a tendency to update itself.

[2016-05-16 01:02] metral opened #25637 "gsutil - no such file or directory in Jenkins unit/integration test"
[code]
here are the full [logs](https://gist.githubusercontent.com/metral/daab0ea3c8f17ff701541cd9bdb64a49/raw/3f350581c5ed8fbbdfc75ffee20b5191341c3b4d/gistfile1.txt) of the Jenkins unit/integration test

[2016-05-16 01:04] bprashanth commented on #25637
This was a defective builder that's been rectified

[2016-05-16 01:04] #25637 closed

[2016-05-16 01:45] bprashanth commented on #25629
So it looks like we go from 0-100, real quick. We're back at 90 something % usage of ips.
I think we're just naturally saturating and need a quota bump, and till that gets approved some runs might flake. Leaving this open in the interim so people don't keep opening issues for the same thing.

[2016-05-16 01:59] bprashanth opened #25639 "Node e2es leak vms"
When the node e2e times out it sometimes leaks a vm. Such vms are usually running the kubelet in standalone mode, but not doing anything else. This exacerbates the IP exaustion: https://github.com/kubernetes/kubernetes/issues/25629

@pwittrock

[2016-05-16 02:26] ixdy commented on #25639
gcloud one-liner to find VMs created over an hour ago, excluding Jenkins VMs:
[code]

[2016-05-16 02:27] ixdy commented on #25629
Cleaned up leaked node e2e VMs:
[code]

[2016-05-16 03:02] davidopp commented on #15675
@kubernetes/sig-cluster-federation

[2016-05-16 03:20] davidopp commented on #25579
I agree that a good criteria is to only put things in labels if they might reasonably be used in scheduling. For the debugging use case Dawn mentioned, we can just put all of NodeStatus.NodeSystemInfo in 'kubectl describe node' (if it's not there already) -- @dchen1107 would that address the debugging use case?

[2016-05-16 04:29] AaronTao1990 opened #25642 "web interface not working"
I referred to the tutorial in [Running Kubernetes Locally via Docker](http://kubernetes.io/docs/getting-started-guides/docker/)  with v1.2.3 and I failed to access the web interface.

Here is the output.

[code]

Any kind of help will be appriciated :)

[2016-05-16 04:35] davidopp commented on #25318
Yeah, I'm a little worried that MetadataPolicy is too restrictive, but anyway, as you say, you could write an admission controller that adds the scheduler name annotation based on the presence or absence of a particular resource (this would work particularly well with #19082). We plan to make it possible to add admission controllers dynamically (without recompiling the system) but it hasn't bubble

[2016-05-16 04:57] bprashanth opened #25643 "Shared informer nil pointer"
https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/25266/kubernetes-pull-build-test-e2e-gce/40130/artifacts/e2e-gce-builder-3-0-master/kube-controller-manager.log
[code]
Observed on https://github.com/kubernetes/kubernetes/pull/25266 but I don't think it's the pr.
Similar to https://github.com/kubernetes/kubernetes/issues/25594 but I don't think I can dupe the stac

[2016-05-16 05:37] Zhomart opened #25644 "[1.2] Invisible controllers from "$ kubectl run""
I was playing with "$ kubectl run something --image=something" and now I stuck with invisible controllers that don't allow me to remove pods. I tried restarting host.

How to remove

Here is the outputs from kubernetes commands:

[code]

The commands I was playing with, got form history:

[code]

Thanks!

[2016-05-16 05:44] krousey opened #25645 "test-cmd flake: kubectl rollout pause deployments --recursive"
[code]

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25221/kubernetes-pull-test-unit-integration/25998/

[2016-05-16 06:26] wojtek-t commented on #25534
Agree - I was planning to do that, but I won't have time for this before 1.3

[2016-05-16 06:38] nhlfr commented on #25615
@kargakis it's not that automatically pupulated, please see my pull request.
@chrislovecnm `pet` subcommand isn't working for me yet. Am I missing something?

[2016-05-16 06:39] asalkeld commented on #7496
If no one is working on this, I could take it on. To clarify, do we just want to switch the flags and commands? Or turn this into something more like "git help" (which is quite nice I think).

There are so many issues open with overlapping scope and ideas all over the place that it is hard to see what is needed here.

[2016-05-16 06:49] mohanbmahajan opened #25647 "Kubernetes monitoring tools updation"
Grafana 3 has nice plugin features, it can be included in the upcoming release

[2016-05-16 07:13] roberthbailey commented on #25625
I think that applies to both autoscaling down and node upgrades.

/cc @mwielgus @ihmccreery

[2016-05-16 07:18] ping035627 opened #25649 "About kube-scheduler supports different node using different scheduling policies"
As I understand, kube-scheduler doesn't supports different node using different scheduling policies currently. I want to know whether the community plans to achieve the function or not. Certainly If my understanding is wrong, please tell me, thanks very much.

[2016-05-16 07:23] singvey999 opened #25650 "on ubuntu 14.04 (vmware vm) , validating cluster failed"
Dear all,
  We met this kind of issue when do "KUBERNETES_PROVIDER=ubuntu ./kube-up.sh".
  the issue came at the below step,
- /root/kube/reconfDocker.sh i
  docker stop/waiting
  docker start/running, process 4601
  Connection to 192.168.132.4 closed.
  Validating master
  Validating root@192.168.132.2
  Validating root@192.168.132.3
  Validating root@192.168.132.4
  Using master 192.168.132.2

[2016-05-16 07:24] mwielgus commented on #25553
Done with https://github.com/kubernetes/kubernetes/issues/25553

[2016-05-16 07:24] #25553 closed

[2016-05-16 07:32] singvey999 commented on #25650
we have 3 nodes(ai,i,i), the nodes'  OS is ubuntu 14.04 ,the environment variables were set properly.
We met this issue many times and could not finish this step "KUBERNETES_PROVIDER=ubuntu ./kube-up.sh".
we can check the nodes status with kubectl get nodes as below
******
root@ubuntu02:~/kubernetes/cluster/ubuntu/binaries# ./kubectl get nodes
NAME            STATUS    AGE
192.168.132.2   Ready

[2016-05-16 07:40] singvey999 commented on #25650
the related status checking as below:
root@ubuntu02:~/kubernetes/cluster/ubuntu/binaries# ./kubectl get svc
NAME         CLUSTER-IP      EXTERNAL-IP   PORT(S)   AGE
kubernetes   192.168.132.1   <none>        443/TCP   22m
root@ubuntu02:~/kubernetes/cluster/ubuntu/binaries# ./kubectl get rc
root@ubuntu02:~/kubernetes/cluster/ubuntu/binaries# ./kubectl get no
NAME            STATUS    AGE
192.168.13

[2016-05-16 08:01] #25127 closed

[2016-05-16 08:05] jsafrane opened #25652 "flake: e2e test timed out"
I got "Build timed out (after 80 minutes)" in https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25216/kubernetes-pull-build-test-e2e-gce/40063/

Build and Installation seems to take quite a long time:
[code]

Which gives us ~13 minutes for actual tests.

[2016-05-16 08:12] kargakis commented on #25615
It is not currently, it "should be".

[2016-05-16 08:12] zhouhaibing089 commented on #18570
I am quite interested at some points:

1.  where is the code for `perf-dash.k8s.io`?
2.  how does those metrics generated?
3.  Is there any documentation for this?

[2016-05-16 08:38] gmarek commented on #23327
cc @davidopp @alex-mohr - do we treat this as a blocker for 1.3 as well? This has the same effect as a crashlooping kube-proxy which we treat as one.

[2016-05-16 08:44] gmarek commented on #18570
@zhouhaibing089:
(@Random-Liu FYI)

1) https://github.com/kubernetes/contrib/tree/master/perfdash
2) It's a hack now - we embed metrics in test logs which we put in our GCS buckets, and perfdash parses them. There's a plan to write a separate files and make it easy to point perfdash to arbitrary URL, but it wasn't prioritized highly enough.
3) No - it's a quickly hacked tool, so no one thought abo

[2016-05-16 08:45] #23784 closed

[2016-05-16 08:52] Random-Liu commented on #18570
@zhouhaibing089 Yeah, it's a hack now.
The performance data is printing like this https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubelet_perf.go#L105
in format of https://github.com/kubernetes/kubernetes/blob/master/test/e2e/perftype/perftype.go.

We also have plan to change this to Prometheus type, but also not prioritized now. Feel free to work on it if you are interested. :)

[2016-05-16 08:53] wojtek-t commented on #19036
I took a quick look into those failures and all failures so far where on "Listing nodes".
Looking into traces, all long calls have traces like this one:

    I0516 01:13:55.053026       5 trace.go:61] Trace "List /api/v1/nodes" (started 2016-05-16 01:13:54.4026014 +0000 UTC):
    [6.736µs] [6.736µs] About to List from storage
    [515.902567ms] [515.895831ms] Listing from storage done
    [517.720

[2016-05-16 09:22] ping035627 opened #25654 "Jenkins GCE e2e: No test results found."
https://github.com/kubernetes/kubernetes/pull/25606

Jenkins GCE e2e — No test results found.
Jenkins unit/integration — No test results found.

why?

[2016-05-16 09:54] gmarek commented on #20804
We're running heapster in kubemarks now, and it's easy to add other components if needed.

[2016-05-16 09:54] #20804 closed

[2016-05-16 09:55] gmarek commented on #20673
Inactive for few months.

[2016-05-16 09:55] #20673 closed

[2016-05-16 09:56] gmarek commented on #20445
We forgot (?) about it for 1.3. Should we put it in a 1.4 list?

[2016-05-16 09:59] gmarek commented on #19681
This test is stable now.

[2016-05-16 09:59] gmarek commented on #18828
Seems so.

[2016-05-16 09:59] #18828 closed

[2016-05-16 10:00] gmarek commented on #15551
I didn't have time to get it done. I think it's obsolete now.

[2016-05-16 10:00] #15551 closed

[2016-05-16 10:03] #5365 closed

[2016-05-16 10:05] gmarek commented on #12069
We're moving to max-pods-per-core performance definition. We'll need to implement this. cc @wojtek-t

[2016-05-16 10:05] #12467 closed

[2016-05-16 10:05] romanek-adam commented on #19619
Hi, we've been hit by this issue and it's a serious one. Would it be possible to backport it to 1.1.x and release it?

[2016-05-16 10:05] gmarek commented on #12640
kube-push is no longer there.

[2016-05-16 10:05] #12640 closed

[2016-05-16 10:07] gmarek commented on #15372
I think it's solved now.

[2016-05-16 10:07] #15372 closed

[2016-05-16 10:07] gmarek commented on #17722
Exposed saturation for controllers, framework is there for everyone to use.

[2016-05-16 10:07] #17722 closed

[2016-05-16 10:08] gmarek commented on #18432
@spxtr @fejta - is this done?

[2016-05-16 10:09] gmarek commented on #18505
Done.

[2016-05-16 10:09] #18505 closed

[2016-05-16 10:09] gmarek commented on #18566
cc @mwielgus

[2016-05-16 10:09] #18571 closed

[2016-05-16 10:09] #20403 closed

[2016-05-16 10:11] gmarek commented on #20805
Heapster is running in Kubemark now. It runs in the external cluster.

[2016-05-16 10:11] #20805 closed

[2016-05-16 10:12] piosz commented on #18566
This is obsolete.

[2016-05-16 10:12] #18566 closed

[2016-05-16 10:13] gmarek commented on #21484
@thockin - can you please reassign if cluster team is a wrong one? This is noticeably flaky.

[2016-05-16 10:14] Hui-Zhi commented on #25557
@vishh I think the discovery functionality must be included in Kubelet, and the right way to get it is by NVML, do you think the same?

[2016-05-16 10:15] gmarek commented on #22165
@lavalamp - is this on your roadmap?

[2016-05-16 10:42] piosz commented on #22176
Obsolete.

[2016-05-16 10:42] #22176 closed

[2016-05-16 10:43] piosz commented on #22491
dupa of #23536

[2016-05-16 10:43] #22491 closed

[2016-05-16 10:44] piosz commented on #23536
#21664 should help, @jszczepkowski is working on it

[2016-05-16 10:45] piosz commented on #23425
Obsolete. We are working on new version of Cluster Autoscaler.

[2016-05-16 10:45] #23425 closed

[2016-05-16 10:49] wojtek-t opened #25657 "e2e flake: Kubectl expose should create services for rc [Conformance]"
It is failing with the following error:

    /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/kubectl.go:836 May 16 03:20:05.931: No pods matched the filter.

Example failure:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/17011/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/16999/
http://kubekins.

[2016-05-16 11:46] tmrts opened #25659 "kube::golang::verify_go_version ssh termination bug"
When I run `hack/test-go.sh` with Go 1.5, it prints out `Please install Go version 1.6 or later` and then terminates my SSH session.

[2016-05-16 12:04] gmarek opened #25660 "Masters in large (>1000 Nodes) clusters need more space on disks"
On GCE by default we have a 10G boot disk that stores all logs and etcd data. It's enough for 1000 Nodes, but larger clusters can run out of space.

@zmerlynn @alex-mohr @wojtek-t

[2016-05-16 12:29] wojtek-t opened #25663 "Backoff in scheduler is not working as intended"
It seems that if a pod doesn't fit on any node, we are trying to schedule it without any backoff.

As an example see those logs from our big cluster:

[code]

 So it seems we are trying to schedule as often as possible, which is definitely a bug.

@davidopp @gmarek @kubernetes/sig-scheduling

[2016-05-16 13:28] zhouhaibing089 opened #25666 "Move PodSecurityPolicy to policy api group"
As the name `podsecuritypolicy` suggests, it may be better to put it at [policy](https://github.com/kubernetes/kubernetes/tree/master/pkg/apis/policy) api group.

Besides, it looks there is convention violation [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/master/master.go#L838-L841):

[code]

/cc @erictune @liggitt @pweil-

[2016-05-16 13:30] vefimova commented on #22986
Hi guys, as it's not possible to assign issue to myself, just posting comment here, that I'm going to prepare patch for it, to not be working on the same isuue with somebody else.
BTW, is there another method to annonce that you started to work on the issue?

[2016-05-16 13:32] ianmiell commented on #20497
We are experiencing a similar issue in production, and are obviating it by restarting the docker service, which appears to resolve.

Although previously we had noted that docker ps was not responding, in the latest incidents it was.

Do we have a set of steps to aid debugging/help identify the root cause that I can pass to our run team?

[2016-05-16 13:34] wojtek-t commented on #19036
OK - so after adding some traces, we can confirm that there are two issues here.

1. etcd is slow in some requests (to confirm a trace):

        I0516 12:59:10.087352       6 trace.go:61] Trace "List *api.NodeList" (started 2016-05-16 12:59:09.582932886 +0000 UTC):
        [6.408µs] [6.408µs] About to list etcd node
        [487.402243ms] [487.395835ms] Etcd node listed
        [504.359283ms] [16

[2016-05-16 13:47] deads2k commented on #25601
`kubectl config unset clusters.gke_kubernetesdev_us-central1-b_cluster-1`.

[2016-05-16 13:52] gmarek commented on #25663
Repro: run a cluster with heapster memory size set to too big to fit on a machine.

[2016-05-16 13:52] rmaugusto opened #25668 "NODE_SIZE update"
Is it possible create a feature in kube-push to update NODE_SIZE instead of recreate a cluster ? I am using AWS.

[2016-05-16 14:14] ihmccreery commented on #25588
Please file a separate issue for running a local release without uploading.

[2016-05-16 14:20] liggitt commented on #25666
The policy API group didn't exist when PSP was added. If I understand it correctly, it is not intended to contain authorization type policy objects (which @deads2k pointed out would be confusing when the policy API group was introduced)

[2016-05-16 14:47] zhouhaibing089 commented on #25666
I see there is an ongoing pull request which introduces [networkpolicy](https://github.com/kubernetes/kubernetes/pull/25638) and that's why I feel the same for psp. what's the confusing point then? I personally feel it is more natural to find a `podsecuritypolicy` in a policy api group..

[2016-05-16 15:08] whitmo commented on #25623
Also seeing this behavior:
`~$ /usr/local/bin/hyperkube kubectl create -f /etc/simple/kube-ui.yaml
Error: unknown shorthand flag: 'f' in -f`

hyperkube from `gcr.io/google_containers/hyperkube:v1.2.2`

[2016-05-16 15:16] ncdc commented on #24620
@krousey pantheon.corp.google.com isn't publicly available, FYI.

[2016-05-16 15:19] ncdc commented on #24620
I'm guessing the best link would either be http://ci-test.k8s.io/kubernetes-e2e-gce/16674/ or https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/16674

[2016-05-16 15:23] ericln commented on #25632
yes the same awscli credential I used for running kube-up (on different machine), following is the output I got from running kube-down.sh

[code]

[2016-05-16 15:29] whitmo commented on #25623
Confirmed this is still an issue on 1.2.4 .

[2016-05-16 15:30] therc commented on #23001
I was able to implement this by putting td-agent.conf in a configmap and mounting that as a volume. I changed the file thus, also including the cluster name:

[code]

[2016-05-16 15:34] caesarxuchao opened #25673 "e2e test flake: kube-up failed"
[code]

Couldn't find an exact match in the existing issue, so I opened this one.

cc @ixdy @fejta

[2016-05-16 15:44] zmerlynn commented on #25445
Can you describe what the node e2e is doing, then (there ? And can it implement what I described?

Is it really that we need about 10,000 node e2es in parallel to hit green?

[2016-05-16 15:53] rata commented on #25632
On Mon, May 16, 2016 at 08:24:11AM -0700, Eric Lin wrote:

Are you sure all the env variables are the same? In which region is the cluster?

[2016-05-16 15:56] nikhiljindal commented on #25645
cc @janetkuo

[2016-05-16 16:00] ping035627 opened #25674 "e2e test flake: No test results found."
From https://github.com/kubernetes/kubernetes/pull/25560

Jenkins GCE e2e — No test results found.

build/make-clean.sh
+++ [0516 05:16:26] Verifying Prerequisites....
+++ [0516 05:16:26] Cleaning out _output/dockerized/bin/ via docker build image
+++ [0516 05:16:26] Running build command....
+++ [0516 05:16:28] Removing data container
+++ [0516 05:16:30] Cleaning out local _output directory
+++ [

[2016-05-16 16:06] isubuz opened #25675 "Out of context pod names in examples"
This is a minor documentation comment.

As per the documentation [here](http://kubernetes.io/docs/user-guide/pods/single-container/), to create a single container pod, `kubectl run` can be used as follows:

[code]

The actual name of the created pod has the prefix `example` followed by some characters.

However, in the **Viewing the pod** section, in all the examples, the pod name is displayed as

[2016-05-16 16:07] ericln commented on #25632
@rata, that's what Im asking, what are the environment variables I need to set for the kube-down to work properly ? I am setting the region and provider that's it

[2016-05-16 16:16] nikhiljindal commented on #25673
Yes happened again: https://github.com/kubernetes/kubernetes/pull/23430#issuecomment-219391799

[code]

[2016-05-16 16:17] jsafrane commented on #24161
@gmarek, I can't access machines in `corp.google.com`. And from the error description it looks like different error - this issue was about volume not being deleted and your error is about pod not being started. Give me access to the logs and I'll look at it.

[2016-05-16 16:17] rata commented on #25632
On Mon, May 16, 2016 at 09:08:56AM -0700, Eric Lin wrote:

You need the same env variables that you use for the setup, that's all you need.
Probably you are setting the region wrong.

So, again, in which region is the cluster? And which env variables are you
setting? (you said only the provider first, now you say provider+region..)

[2016-05-16 16:27] yujuhong commented on #25445
Node e2e creates a single-node cluster with the apiserver and the kubelet on the same machine. It doesn't start any other master component, and also doesn't run add-on pods.
Most of the "node bring-up" problems mentioned in this issue actually manifested via the add-on pods. If the goal is to test node bring-up in the k8s cluster environment, node e2e suite is not  suitable as it is today.

[2016-05-16 16:29] nikhiljindal commented on #24310
cc @caesarxuchao

[2016-05-16 16:29] janetkuo commented on #25375
And again: [log](https://00e9e64bac06cd4dbc4c4cb1aecf9c9326555ec88b3449e18f-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F20918%2Fnode-pull-build-e2e-test%2F6150%2Fbuild-log.txt?qk=AD5uMEvo0CVk98GN65Y-WCDTa1lGU0riqrjAIASLddrqqP44FVpd1pwn7CqON5FgHI4UMLR18JKNu0pBoBMuOJwgmfl1WTrq2x-mIo3_i3_28iLc1A0ILeiAYHGz-d28-EO9rGCT9AfTsglrlFyauNRSeXXZwH3-c5BMpSvDDqDIUi2

[2016-05-16 16:31] janetkuo commented on #25375
@k8s-oncall

[2016-05-16 16:32] ericln commented on #25632
@rata thanks, actually i just got it to work, thanks to your tips :) thanks, I have to set the `aws_default_profile` !!

[2016-05-16 16:34] ericln commented on #25632
just curious, how does kube-down knows which cluster to bring down ? if i have multiple cluster in the same region

[2016-05-16 16:34] caesarxuchao commented on #24479
This occurred to my PR 3 times in a row this morning. Help needed. @pwittrock @ixdy @k8s-oncall.

[2016-05-16 16:38] kargakis commented on #16412
Getting the logs from a pod should inline logs from any hooks into the container log.

cc: @bgrant0607 @smarterclayton

[2016-05-16 16:39] kargakis commented on #16412
cc: @kubernetes/sig-node

[2016-05-16 16:40] zmerlynn commented on #25445
That would certainly catch some class of bugs if run enough (and it's not clear we have sufficient runs for the numbers needed), but yes, we would need a real cluster with its normal add-ons to catch some of these. The method I proposed would, I *think*, catch issues in a cheaper way than spinning up 1000 node clusters, though.

[2016-05-16 16:45] gmarek commented on #24620
@krousey - this is a month-old P0, what's the status of it?

[2016-05-16 16:46] nikhiljindal commented on #24562
Would be great if we can figure out a way to represent valid values and use that in swagger schema validation.
Right now, we put valid values in comments and dont validate them in swagger schema validation.

[2016-05-16 16:48] gmarek commented on #24161
Maybe this: https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gce/16652/build-log.txt

[2016-05-16 16:55] therc commented on #23195
ConfigMaps work for the purpose. I was able to tune override the built-in config, which is a bit more drastic than tweaking knob, but still works:

https://github.com/kubernetes/kubernetes/issues/23001#issuecomment-219456480

[2016-05-16 17:10] nikhiljindal commented on #17176
Yes. Return type for get code version endpoint is `version.Info`: https://github.com/kubernetes/kubernetes/blob/5c30f983d9c821b14899033241e9105aee15641a/pkg/version/version.go#L29

To fix it, we need to add Writes(version.Info) at: https://github.com/kubernetes/kubernetes/blob/5c30f983d9c821b14899033241e9105aee15641a/pkg/apiserver/apiserver.go#L173 (similar to: https://github.com/kubernetes/kubern

[2016-05-16 17:12] spxtr opened #25677 "e2e broken: Kubectl describe should check if kubectl describe prints relevant information for rc and pods"
This has been broken ever since #24806 merged, cc @jayunit100. [Example failure](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-flaky/16994). This test needs to be fixed, deflaked, and then moved out of the flaky suite.

[2016-05-16 17:14] c4po commented on #24860
+1
The kube-push is broken. And for AWS cluster, it's better to create a new *Launch Configurations* and update the *Auto Scaling Groups" than to upgrade Kubernetes on each node. I'm working on a script for that.
Does anyone has idea how to upgrade the *Master Node* in AWS?

[2016-05-16 17:15] bprashanth commented on #25629
Hmm, looks like we're maxing out 150 ips now (https://github.com/kubernetes/kubernetes/pull/25171#issuecomment-219397215)

[code]
Once bitten twice shy, @ixdy kick off your cleanup script? (or gc in a cron job till we fix the leak?)

[2016-05-16 17:17] spxtr commented on #25657
This currently has a 12% flake rate in merge-blocking suites.

[2016-05-16 17:18] ixdy commented on #25629
Yeah, cleaning up now. I'll make it part of our daily cleanup, but we need to figure out why so many of the node e2e tests are getting stuck, which is the root cause. @pwittrock

[2016-05-16 17:22] bprashanth commented on #25639
@kubernetes/sig-node, short term fix? this seems to be the root cause for https://github.com/kubernetes/kubernetes/issues/25629. I don't know why we didn't always leak at this rate, probably the timeouts.

[2016-05-16 17:23] nikhiljindal commented on #24562
http://stackoverflow.com/a/27606822 explains how we can represent enums in 2.0 swagger spec.

[2016-05-16 17:23] felipejfc commented on #24860
@c4po I did like U said some weeks ago to replace the instance types of my cluster, I think it must work well for upgrading kubernetes on them as well. For master, from my understanding you ony have to:
1) upgrade kubelet binary
2) restart the service
3) upgrade the manifests @ /etc/kubernetes/manifests with the new images tags

[2016-05-16 17:27] #25644 closed

[2016-05-16 17:27] felipejfc commented on #25668
last time I needed to do that, I created a new launch configuration equal to the one kube-up created, just changing the instance type, then I replaced it on the auto-scaling group.
I dont think that we have anything more automated than this, It would be very good...

[2016-05-16 17:27] thockin commented on #25644
`kubectl run` creates a "deployment" as of 1.2.  This is actually listed
after you `run`, but it's easy to miss the distinction.  If you want to
stop everything, `kubectl delete deployment ...`

On Sun, May 15, 2016 at 10:37 PM, Zhomart Mukhamejanov <
notifications@github.com> wrote:

[2016-05-16 17:27] yujuhong commented on #25581
Yes, density test tracks the pod startup latency and breaks it down into different segments (e.g., scheduling time). Overall, the pod startup time from create to running should be < 5s to meet the SLo.

For resource usage tracking of kubelet and rkt, we have the resource usage tracking test, which you already know. The relies on the "runtime" resource usage reported by the cadvisor, and I don't th

[2016-05-16 17:30] mikedanese commented on #10136
This seems not flakey anymore

[2016-05-16 17:30] #10136 closed

[2016-05-16 17:31] deads2k commented on #24479
I'm seeing this on all of mine too.

[2016-05-16 17:32] ixdy commented on #25639
Lots of node e2e runs on PR Jenkins are basically stuck after logging this:
[code]

They eventually time out after an hour, which causes us to then leak the VMs.

[2016-05-16 17:33] ixdy commented on #24479
Probably related to #25639. We keep running out of IP address quota because we're leaking VMs all over the place.

[2016-05-16 17:33] rata commented on #25632
On Mon, May 16, 2016 at 09:35:16AM -0700, Eric Lin wrote:

It uses tags on AWS.

A cluster has a name, and things of that cluster are tagged.

Can you close this now? :)

[2016-05-16 17:34] caesarxuchao commented on #25673
I'm see this 3 times in a row

[2016-05-16 17:34] nikhiljindal commented on #15571
With the move to kubernetes.github.io, http://kubernetes.io/swagger-spec/ is not available at all.

Filed https://github.com/kubernetes/kubernetes.github.io/issues/515

[2016-05-16 17:34] caesarxuchao commented on #25673
@ixdy could this have the same cause as #24479?

[2016-05-16 17:37] rmaugusto commented on #25668
I tried that but AWS forces to clear previous storage configuration and I would need to add storages manually, it is not complicated but to automize could make sense if more users have this need.  Thanks

[2016-05-16 17:37] #25632 closed

[2016-05-16 17:38] c4po commented on #24860
@felipejfc  I just tested to create new **Launch Configurations** with new **user-data** for binary url and hash checksum. It works. And the kubernetes master can manage the mixed version of minions. (v1.2.3 and v1.2.4). I think I just need delete all minions nodes created with old **Launch Config** and let the **Auto Scaling Groups** bring up new node and join them to the k8s cluster.

For the Ma

[2016-05-16 17:40] ixdy commented on #25673
Dupe of #25629. We're running out of IP addresses due to leaked VMs.

[2016-05-16 17:40] #25673 closed

[2016-05-16 17:44] yifan-gu commented on #25430
@euank Are you able to test if the rkt 1.6 fixed this?

[2016-05-16 17:48] janetkuo commented on #22986
@vefimova thanks!

[2016-05-16 17:49] yifan-gu commented on #23706
Assign to @sjpotter who is clearer with the use case of this.

[2016-05-16 17:52] lavalamp commented on #23864
@antonmry What API changes are you looking to do to support this? I glanced at your dev branch and it looks like there's a lot more copy-paste going on than I'd expect. I think I can save you effort if you talk out your desired changes here first.

[2016-05-16 17:54] vishh commented on #16412
Kubelet currently uses docker logs, which does not include output from `exec` commands. We are working on improving logging and we can expect probe logs to be inline in the future.
For now, if a probe had ran and returned a non-zero result, kubelet logs the probe output [here](https://github.com/kubernetes/kubernetes/blob/release-1.2/pkg/kubelet/prober/prober.go#L104), as part of kubelet's logs.

[2016-05-16 18:08] yujuhong commented on #16412
@vishh, the code you mentioned is for readiness/liveness probes.

For lifecycle hooks, kubelet [doesn't print the output at all](https://github.com/kubernetes/kubernetes/blob/release-1.2/pkg/kubelet/lifecycle/handlers.go#L53). We should at least logs the output when there is an error.

[2016-05-16 18:10] kargakis commented on #16412
Correction on my comment above: both probe and hook logs should be inlined in the pod log

[2016-05-16 18:12] felipejfc commented on #24860
@c4po have you finished the script? I'ld llike to take a look when it is finished...
For the master, I think it would work well deleting it and creating another one **with the same name** and assigning the same elastic ip to it.
The same name so that it doesn't mess with kube-down.
If you manage to get it to work please let me know.

[2016-05-16 18:16] jlowdermilk commented on #25515
ClusterState.Waitfor(1) does the trick, and is the change I made, but ForEachPod still needs to fail if the filter is empty. It was not obvious that creating an rc then immediately calling `ForEachPod` would be a no-op. Anyway this can be closed once #25537 is cherry-picked onto 1.2; it fixed the two tests that weren't calling `WaitFor` before `ForEachPod`.

[2016-05-16 18:39] c4po commented on #24860
https://github.com/kubernetes/kubernetes/pull/25680/files

[2016-05-16 18:41] c4po commented on #24860
As the master node create on AWS is not in cluster.
My concern about delete master node and create it again is we may lose the data store in the etcd on the master node.

[2016-05-16 18:47] felipejfc commented on #24860
Oh, you are right... maybe it's better to wait for master to be clusterized then, I think it is already on the pipeline for v1.3...

About your PR, you fixed the ASG name:
ASG_NAME="prod-minion-group-us-west-1b"
I think you intended to parametrize it?

[2016-05-16 18:49] yifan-gu commented on #24576
Reopen the issue to capture https://github.com/kubernetes/kubernetes/pull/24633#issuecomment-219502831

[2016-05-16 18:53] spxtr commented on #24758
[This page](http://storage.googleapis.com/kubernetes-test-history/static/index.html) is a start. It shows the pass/fail rate of merge-queue blocking tests for the last 24 hours.

[2016-05-16 19:05] mtaufen opened #25682 "make test_e2e_node: can't find several packages"
Well, the first thing I ran into was:

[code]

`hack/build-go.sh github.com/onsi/ginkgo/ginkgo` failed, presumably because things have moved to `vendor/`?

I had success with this:
[code]

And now I'm stuck on this:

[code]

I replaced my personal paths to home in that error with `HOME` to make things easier to read. Don't interpret that as the script talking about an environment var or anything.

[2016-05-16 19:05] c4po commented on #24860
oh, no. it's a mistake. need remove the test data. ASG_NAME is calculated in util.sh

[2016-05-16 19:17] jayunit100 commented on #25515
Haha ok I guess the for each semantics have already drifted so it's too late :).

[2016-05-16 19:17] jchauncey opened #25683 "kubectl version should not error if server isnt present"
[code]

[2016-05-16 19:20] jchauncey commented on #25683
nevermind was using old version of kubectl. 1.2.3 seems to do the correct thing.

[code]

[2016-05-16 19:20] #25683 closed

[2016-05-16 19:25] kargakis commented on #16412
@vishh @yujuhong until logs will be inlined events would be good to have for failed hooks

[2016-05-16 19:26] bgrant0607 commented on #16412
cc @bprashanth @smarterclayton re. the riak use case.

[2016-05-16 19:34] bgrant0607 commented on #23864
@antonmry Please see:
https://github.com/kubernetes/kubernetes/tree/master/docs/devel/README.md
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/faster_reviews.md
https://github.com/kubernetes/kubernetes/blob/master/docs/api.md
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api_change

[2016-05-16 19:38] bgrant0607 commented on #25615
PetSet is alpha and isn't enabled by default. Listing it unconditionally will generate confusion among users unable to use it. If we add it to the static list, it needs a caveat.

cc @kubernetes/kubectl

[2016-05-16 19:39] spiffxp commented on #25515
/cc @kubernetes/sig-testing

[2016-05-16 19:39] spiffxp commented on #25426
/cc @kubernetes/sig-testing

[2016-05-16 19:44] nikhiljindal commented on #14190
One option is to change this to `type: object` which we are using for custom types. Its generic but at least its not incorrect.

Right now, I think its getting `"type": "string"` from go-restful: https://github.com/emicklei/go-restful/blob/cf20a7d6fefb646f3251bd488b285a192a9d8bd8/swagger/model_builder.go#L142
IntOrString implements json.Marshaler.

A way to fix it might be to add another case to o

[2016-05-16 19:56] thockin commented on #23864
This change, should we decide to do it, doesn't warrant a new API.  It's just some field changes to Services and maybe Pods.  The right place to start is with a proposal doc that details the change, the API compatibility concerns, the load-balancer implementation concerns, etc.

[2016-05-16 19:58] nikhiljindal commented on #14071
@smarterclayton We should add `text/plain` to the `produces` list?

[2016-05-16 20:04] nikhiljindal commented on #14069
Fixed by https://github.com/kubernetes/kubernetes/pull/15906 and https://github.com/kubernetes/kubernetes/pull/15909

[2016-05-16 20:04] #14069 closed

[2016-05-16 20:07] brendandburns commented on #23864
@bgrant0607 @antonmry needs this change to make TeleStax (an RTC framework) work well in Kubernetes, so this isn't a "for fun" request, but rather one that's needed to support their application well.

I agree w/ @lavalamp and @thockin that there are simpler designs, and that a lightweight design proposal is the right way to get to agreement on design quickly.

[2016-05-16 20:16] spxtr commented on #25657
@k8s-oncall this needs attention.

[2016-05-16 20:22] bgrant0607 commented on #8652
Obsolete

[2016-05-16 20:22] #8652 closed

[2016-05-16 20:23] smarterclayton commented on #14071
Log should implement `StorageMetadata` which has `ProducesMIMETypes(verb string) []string`, and we should combine the errors we know the rest endpoint can throw (all the normal serializations) + the values returned by that method.

[2016-05-16 20:32] bgrant0607 commented on #23864
@brendandburns I assumed there was a reason behind the request, but API changes are tricky and expensive. This particular change has been discussed since #1802.

In the best case, any API change would appear in 1.4. If it is blocking an application now, I suggest finding a solution that doesn't require an API change, potentially in parallel with an API and design proposal.

As mentioned above, por

[2016-05-16 20:34] brendandburns commented on #23864
@bgrant0607 totally agree that this is targeted at 1.4  just wanted to give context on the motivation for the change.

[2016-05-16 20:51] sputnik13 commented on #19774
@bprashanth @thockin we're working to get LBaaSv2 support in ASAP, and upstream work for gophercloud is up for review at https://github.com/rackspace/gophercloud/pull/575, we would prefer to do service-type=lb for now given the existing code for LBaaSv1 in the Openstack CPI unless there's some reason such a change wouldn't be accepted by the kubernetes project.

[2016-05-16 21:02] nikhiljindal commented on #13400
We now have `"type": "*versioned.Event"` instead of `"type:"string"`. It should actually be `"type": "versioned.Event"` (without the pointer), which is tracked by https://github.com/kubernetes/kubernetes/issues/24240.
cc @smarterclayton

Closing this one.

[2016-05-16 21:02] #13400 closed

[2016-05-16 21:02] ravilr commented on #18465
@bgrant0607 @janetkuo when can we expect Deployment to be promoted to v1 core out of beta extensions? in 1.3?

[2016-05-16 21:05] caesarxuchao commented on #24479
Now the log only shows "Not Found". For example, see this[log](https://00e9e64bacf8e029f5529c143e9e88209585f4c0e25b47e63a-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F24509%2Fnode-pull-build-e2e-test%2F6192%2Fbuild-log.txt?qk=AD5uMEtOlFv5isxIroPn0qzSgN3PveyDRjVrqu7qVNEmarid1Z4RHKBLQe6qwVGI3d5eGKixMAKt9B505P1TJ_JHJa-KpW3FzDt3xgmxJfPB_VdPkjZjmMRF5H87eYOGO

[2016-05-16 21:06] bgrant0607 commented on #18465
@ravilr We have no specific plans for when Deployment should graduate from beta. We're working on a feature roadmap here:
https://github.com/kubernetes/community/wiki/Roadmap:-Deployment

[2016-05-16 21:08] krousey opened #25691 "Unit test flake: k8s.io/kubernetes/pkg/registry/generic/registry TestStoreList panic"
[code]

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25540/kubernetes-pull-test-unit-integration/26143/

[2016-05-16 21:08] nikhiljindal commented on #6167
We now document the 200 status and return type in success case for most APIs: https://github.com/kubernetes/kubernetes/blob/3111985564f4bfc769111c5708a01d9d711edf70/pkg/apiserver/api_installer.go#L495.

Need to add all possible statuses and return types there.

[2016-05-16 21:13] erictune opened #25692 "Client cert auth does not work when it is the only kind of auth in use."
User on slack sig-auth channel reported that when only client-cert auth was enabled on the apiserver, that kubelets could not register.

Slack conversation:
https://kubernetes.slack.com/archives/sig-auth/p1463428269000258

When basic auth was enabled too (which user does not want on) then kubelets could register fine.
 User showed kubelet config that clearly just uses a client cert, not a password

[2016-05-16 21:14] nikhiljindal commented on #24562
1.2 spec supports representing enums as well: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/1.2.md#433-data-type-fields

[2016-05-16 21:14] erictune commented on #25692
@kubernetes/sig-auth

[2016-05-16 21:15] erictune commented on #25692
Temporary workaround is to enable basic auth or token file with empty file.

[2016-05-16 21:16] nikhiljindal commented on #2971
We are now representing all our custom types as `"type": "object"` in the spec.

[2016-05-16 21:18] dchen1107 commented on #25456
I marked this as p0 for decision if we should disable docker exec completely? Switch to nsenter? Or suggested the user to use http-exec-bridge?

One caveat for nsenter is that nsenter simply enter the namespace, without proper cgroup, even capabilities, besides of carrying other dependency.

[2016-05-16 21:19] mward29 commented on #25692
Thank You for validating this @erictune

[2016-05-16 21:20] bprashanth commented on #25456
So that's a slight pain for the cases I mentioned because I need to at least install mysql or whatever db client into my pet (https://github.com/kubernetes/kubernetes/issues/25456#issuecomment-218552061)

[2016-05-16 21:21] dchen1107 commented on #25456
cc/ @timstclair Can we try to reproduce this failure case with docker 1.11?

[2016-05-16 21:30] dims commented on #14071
@smarterclayton Hmm, i don't see any code that implements the StorageMetadata interface. Guess we have to start with LogREST?

[2016-05-16 21:35] nikhiljindal commented on #2968
Fixing typeToJSON at https://github.com/kubernetes/kubernetes/blob/3111985564f4bfc769111c5708a01d9d711edf70/pkg/apiserver/api_installer.go#L945 should fix this.
Instead of converting unversioned.Time to string, we should convert it to time.Time and then go-restful will correctly handle time.Time.

[2016-05-16 21:41] yujuhong commented on #25375
Dup of #24479

[2016-05-16 21:41] #25375 closed

[2016-05-16 21:56] david-mcmahon commented on #24753
One way to distinguish flakes from real issues is to re-test at the same hash when an error occurs and verify that it reproduces N times.  So it's not one failure that gates the submit queue but N identical failures.  This relatively simple and easy test/change will likely increase the submit queue throughput significantly.  Flakes can still bubble down and and be collected for metrics or followup

[2016-05-16 22:08] girishkalele commented on #25578
This was in the comments for godoc to pick up and publish in the online docs - ideally, we would want to make this a TestExampleGoClient and run unit tests on it, which still retaining the ability for GoDoc generation to pick it up, but I am not sure how we go about it.

[2016-05-16 22:13] imkin commented on #23850
@mbinder which doc did you use to setup the environment?

The vmdk you are supposed to use is provided here. You are using a very old  http://kubernetes.io/docs/getting-started-guides/vsphere/

[2016-05-16 22:17] bgrant0607 commented on #25579
Some of the properties could be added to `kubectl get nodes -o wide` also.

[2016-05-16 22:22] bgrant0607 commented on #23720
cc @kubernetes/sig-auth

[2016-05-16 22:34] girishkalele commented on #25578
Looks like @errordeveloper fixed this today.

Pull Request: https://github.com/kubernetes/kubernetes/pull/25661

[2016-05-16 22:34] #25578 closed

[2016-05-16 22:37] lavalamp commented on #22165
Not at the moment.. Too much to do, not enough people.

[2016-05-16 22:42] dchen1107 commented on #25579
I am not suggesting to having those for scheduler at all. I understand how much pain to use those labels for scheduling.

Here are the scenario which I think should be very useful, especially for a large cluster which has mixed versions (kubelet, kube-proxy, docker, etc...)

Cluster admin is alerted that many nodes went to bad, and they want to do a quick scan on the nodes based on node attributes

[2016-05-16 22:44] krousey commented on #24620
@gmarek I added some logging hoping to get more info, but it seems this fails in a lot of different ways. I'm going to add some retries around setting up the netexec container, since we're not really interested in testing it's robustness.

[2016-05-16 22:51] lavalamp commented on #23864
Yeah. Like @thockin is hinting, I also expected to see this start out as annotations on pod and/or service objects.

(as much as I hate that this is how new fields start, this is how new fields start.)

[2016-05-16 23:04] alex-mohr commented on #24170
1.3 is getting closer and I'd rather avoid some of the issues we saw with 1.2 where tests were only running on GCE but not GKE, so I'm bumping priority and tagging milestone 1.3.

[2016-05-16 23:15] relaxdiego opened #25697 "RBD plugin looks for secret in pod namespace instead of PV namespace"
It took me a while to get past this error because the documentation implied that the secret must be created in the same namespace as the rbd PV. This would be the default namespace and I agree with the documentation.

However, the code seems to behave differently. From this line: https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/rbd/rbd.go#L82 I can see that it's using the namespace

[2016-05-16 23:32] krousey commented on #24620
New type of failure I haven't seen before:

[code]

Some how the prompting auth loader was invoked and the exec call? The config didn't fail to upload, but maybe it wasn't written correctly?

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25546/kubernetes-pull-build-test-e2e-gce/40306/

[2016-05-16 23:32] brendandburns opened #25699 "No logs for e2e runs..."
In the process of running e2e for a PR, I see that there are no logs for a node e2e:

https://00e9e64bace4b37389b0ff2140a0e39991748533d490cd08b3-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F25365%2Fnode-pull-build-e2e-test%2F6205%2Fbuild-log.txt?qk=AD5uMEtJ4gq_vq6AINeD6ZN1oI7J8QQntmzU-Lz8ZkIxQxFaNH_Q9q8wm82jtBopVP-woBV_jaBB7-U5__XyYx2QR44J81Ys3VA1i3pKfX

[2016-05-16 23:33] bgrant0607 commented on #25388
Some of the conventions from https://github.com/kubernetes/kubernetes/blob/master/docs/devel/kubectl-conventions.md could be added to the kubectl overview: http://kubernetes.io/docs/user-guide/kubectl-overview/

[2016-05-16 23:33] dchen1107 opened #25700 "Containers within a pod don't share the same UTS namespace"
During reviewing container runtime interface proposal, I surprisingly found that containers within a pod today only share both network and IPC namespace, not uts one. I don't think there are any production issues caused by this, but we should clean up this.

cc/ @yujuhong @vishh

[2016-05-16 23:36] mingfang opened #25702 "Removing images causes Nodes to stop reporting status"
Running a command like this `docker rmi `docker images -q --filter dangling=true`` will cause the Node to stop reporting status.  The Master will think that the Node has died and will eventually start evicting all the Pods.
This is happening even though the Node is healthy.

[2016-05-16 23:39] krousey commented on #24620
@ncdc does this test need the netexec container? I'm thinking that a lot of the flakiness my be due to issues with netexec (failed writes, partial writes...) Could we do the following:

1. Create a PD from the e2e test and write kubectl + kubeconfig to it (is this possible?)
1. Stand up a busybox container with this PD mounted
1. Use the exec API to call kubectl exec on the busybox pod with the go

[2016-05-16 23:50] jlowdermilk commented on #25426
Fixed by #25598

[2016-05-16 23:50] #25426 closed

[2016-05-16 23:50] jlowdermilk commented on #25515
Fixed by #25426

[2016-05-16 23:50] #25515 closed

[2016-05-16 23:53] Random-Liu opened #25703 "Node E2E: Make conformance test run faster"
Slow conformance test has caused issues like #25639

@liangchenye We should make runtime/image conformance test run faster without breaking the test coverage, possibly by:
* Shorten consistently check interval #25695.
* Remove redundant test cases such as https://github.com/kubernetes/kubernetes/pull/24191#discussion_r62968819.
* ...

/cc @pwittrock

[2016-05-17 00:02] mikedanese opened #25704 "kubectl delete jobs get's rate limited and prints out annoying logs"
[code]

This loop is getting rate limited:

https://github.com/kubernetes/kubernetes/blob/fdb110c859c1bd626ac41c886ed76ab5bc973318/pkg/kubectl/stop.go#L346-L354

cc @soltysh @erictune

[2016-05-17 00:22] mbhinder commented on #23850
I don't remember where I got the link from but we can close this if it has been updated in the image pointed to in the docs

[2016-05-17 00:22] #23850 closed

[2016-05-17 00:44] Random-Liu commented on #22655
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25695/kubernetes-pull-build-test-e2e-gce/40332/

[2016-05-17 00:52] david-mcmahon commented on #19849
@alex-mohr yes.  For the sake of consistency the initial branch follows the current model of creating the tags and initial builds (and pushes).  We could short-circuit that process to just branch and tag which would reduce the time significantly, closer to a few minutes.

Then the actual release with a build and push will take around 45 minutes.

The more variable pieces are how much testing we wa

[2016-05-17 00:54] mml opened #25705 "storePodsNamespacer.List() returns the same pod more than once"
I haven't isolated this in a test case yet, but the code is at https://github.com/kubernetes/kubernetes/blob/master/pkg/client/cache/listers.go#L79

I am using this in the disruption controller to count up all the pods that match the PodDisruptionBudget, and I was puzzled as to why the controller sometimes counted 2 pods, and sometimes 1.  Below are some log lines.  As you can see, it's the same y

[2016-05-17 00:55] mml commented on #25705
@kubernetes/sig-api-machinery

[2016-05-17 00:58] mikedanese commented on #5754
The cluster-id can also double as a preshared secret to authorize the creation of a certificate signing request in the kubelet TLS bootstrap flow. While it's not neccessary to have an cluster bootstrap API behind the cluster-id for this, it does integrate the two bootstrap steps nicely.

[2016-05-17 01:41] asalkeld commented on #20627
I am working on this, PR coming soon.

[2016-05-17 01:49] liggitt commented on #25692
union auth shouldn't be needed for cert auth to work, but I would have expected at least cert and service account token auth, which would have enabled union auth as well.

[2016-05-17 02:03] ixdy commented on #25639
Just to close the loop on this bug:
- we were leaking VMs all over the place because the node e2e jobs were timing out after 60 minutes on PR Jenkins
- the job has been running fine on post-commit Jenkins... but the timeout there is 90 minutes. Builds are usually taking ~60m there
- #24191, which merged two days ago, inadvertently added about 20m to the job runtime
- when Jenkins times out the nod

[2016-05-17 02:08] Random-Liu commented on #23971
https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/25695/node-pull-build-e2e-test/6254/build-log.txt

[2016-05-17 02:35] yifan-gu commented on #25242
So this is fixed by rkt 1.6. But the pod is still restarting, as the container is in unknown state (because it's prepared, not running or exited), so [ShouldContainerBeRestarted()](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/container/helpers.go#L64-L65) always returns true.

We might want to revisit this logic later cc @Random-Liu , but I am moving this off rktnetes 1.0 now.

[2016-05-17 02:40] Random-Liu commented on #25700
@dchen1107 It seems that docker hasn't support sharing uts namespace between containers yet.
Container can only share host name when using host network. (See https://github.com/docker/engine-api/blob/c08ca7c7fadc784880c3ceb3e89d923aa6c13396/types/container/host_config.go#L115-L136)

And also ref https://github.com/kubernetes/kubernetes/issues/1615.

[2016-05-17 02:43] bprashanth commented on #25700
Personally I don't care about UTS that much because I get hostname anyway

[2016-05-17 02:50] asalkeld commented on #23695
I will start work on this one, PR coming soon.

[2016-05-17 04:07] nikhiljindal opened #25713 "node e2e flake: failed to initialize e2e tests using image"
[Logs](https://00e9e64bacb99b30797b8fbdd2233cfcfc5508ffb429d7b7e1-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F24016%2Fnode-pull-build-e2e-test%2F6243%2Fbuild-log.txt?qk=AD5uMEudCCk5x1Ei5cad2dfRspmdProNptmGJSw6vrXYSPwyLC5FKWXnvwfT1DvXi_ajz0vTt8G9Q2_o8AOi_G3riXrkocZJgSdmNnuIbdfPKsVs9WkDAyuk_jRzfLrD-aKALNKSZc8twDISA4U43iegMYuRpx0oyxus5S4mqK8a6ilzK_przi3Af

[2016-05-17 04:25] brendandburns opened #25714 "hyperkube kubectl ... doesn't accept flags."
For example:

[code]

fails.

[2016-05-17 05:17] nikhiljindal opened #25716 "Umbrella issue for various swagger related improvements"
Summarizing all our swagger related issues here:

Improving the spec:
- [ ] Represent Enum types: right now, we represent them as strings and put the possible values in comments. Want to represent them as enum types and use the list of valid values for validation: https://github.com/kubernetes/kubernetes/issues/24562
- [x] Represent strategic merge patch policy in swagger: https://github.com/kuber

[2016-05-17 05:17] nhlfr commented on #21317
FYI, I am working on this and I'll propose PR soon.

[2016-05-17 05:17] nikhiljindal commented on #25716
cc @bgrant0607

[2016-05-17 05:19] nikhiljindal commented on #25716
Other people who have shown interest in fixing swagger related stuff: @AdoHe @paralin @whitlockjc

[2016-05-17 05:27] Pensu commented on #25716
@nikhiljindal I would like to take something up. Let me know if there is anything I can help with.

[2016-05-17 05:28] gmarek commented on #22165
As everywhere;) Just asking.

[2016-05-17 05:30] bprashanth commented on #19774
Do what works best we can fiddle with the details later. The hard part is getting it to work :)

[2016-05-17 05:34] paralin commented on #25716
I don't have much time to work on this right now unfortunately, but as a heavy user of the Kube API within my code I'm very interested in any improvements that happen here.

[2016-05-17 05:41] bgrant0607 commented on #24562
See also #2971

[2016-05-17 05:54] dubstack commented on #25682
I face the same issue.

[2016-05-17 05:55] bgrant0607 commented on #25716
Add representable validation properties (min, max, etc.): #8116

We need a way to represent strategic-merge-patch policies and merge keys.
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md#strategic-merge-patch

There were some issues mentioned here: https://github.com/kubernetes/kubernetes/issues/9097#issuecomment-156011847

There are also issues with the API docu

[2016-05-17 05:56] nikhiljindal commented on #25716
@Pensu Great! Almost all of the issues mentioned above are unassigned right now. Please feel free to pick any!
You can reply "I am working on this issue" when you start working on any of them (so that others know that you are working).

[2016-05-17 06:05] bgrant0607 commented on #560
Done enough, via downward API

[2016-05-17 06:05] #560 closed

[2016-05-17 06:05] Pensu commented on #17176
Working on this, will send a PR if not done already.

[2016-05-17 06:07] bgrant0607 commented on #147
Superseded by more recent issues.

[2016-05-17 06:07] #147 closed

[2016-05-17 06:09] bgrant0607 commented on #367
Affinity/anti-affinity proposals merged and implementations are underway.

[2016-05-17 06:09] #367 closed

[2016-05-17 06:09] bgrant0607 commented on #1570
Nobody is asking for this example.

[2016-05-17 06:09] #1570 closed

[2016-05-17 06:17] bgrant0607 commented on #1827
cc @kubernetes/examples

[2016-05-17 06:23] bgrant0607 commented on #25657
cc @kubernetes/kubectl

[2016-05-17 06:25] bgrant0607 commented on #3128
Obsolete

[2016-05-17 06:25] #3128 closed

[2016-05-17 06:28] bgrant0607 commented on #3058
Obsolete

[2016-05-17 06:28] #3058 closed

[2016-05-17 06:29] bgrant0607 commented on #3476
Done

[2016-05-17 06:29] #3476 closed

[2016-05-17 06:30] nowprovision commented on #25340
I suspect this is due to watch on ThirdPartyResource not returning an resourceVersion as part of the list output. This will confuse the client controllers.

[2016-05-17 06:36] bgrant0607 commented on #4135
@dchen1107 @vishh Can this be closed?

[2016-05-17 06:37] bgrant0607 commented on #4091
cc @kubernetes/sig-node

[2016-05-17 06:37] bgrant0607 commented on #4159
Obsolete.

[2016-05-17 06:37] #4159 closed

[2016-05-17 06:40] bgrant0607 commented on #4201
Done. subPath was added.

[2016-05-17 06:40] #4201 closed

[2016-05-17 06:46] #4860 closed

[2016-05-17 06:46] nowprovision commented on #25340
ListMeta doesn't seem to be populated on ThirdPartyResourceDataList

[2016-05-17 06:48] #5586 closed

[2016-05-17 06:51] thockin commented on #25573
@ArtfulCoder @girishkalele

[2016-05-17 06:56] tmrts commented on #23611
How about running lightweight tests first in Travis (verifying docs, licenses, commit messages etc.) so that it fails-fast if there are trivial mistakes to reduce load of Jenkins infra?

[2016-05-17 07:02] thockin commented on #25543
Can we regroup on this issue this week?  Like tomorrow?

On Fri, May 13, 2016 at 5:01 PM, Dawn Chen <notifications@github.com> wrote:

[2016-05-17 07:12] thockin commented on #25543
I will happily make kube-proxy write to or offer up pretty much any API we
deem necessary to detect this issue.

To me it still feels like a docker health-check suite is needed, and one of
the tests is that sysfs gets mounted rw.  BUt in the mean time, how about
this:

make `/var/run/kubernetes/problems/` be the API.  Any component which feels
that it has a node problem can write a JSON file into

[2016-05-17 07:17] thockin commented on #25503
we should do a proper teardown of all namespaces and of all other top-level
objects, if we can.  That's a substantial project.

On Sat, May 14, 2016 at 2:01 PM, Girish Kalele <notifications@github.com>
wrote:

[2016-05-17 07:25] saad-ali commented on #23796
@bgrant0607 @janetkuo Could you please take a look at this, and reactivate if necessary.

[2016-05-17 07:57] imkin commented on #24407
@kgelinas What subnet is your pod on?

[2016-05-17 08:09] nowprovision commented on #25340
I suspect it is because of this
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/thirdpartyresourcedata/codec.go#L381

Im going to have a go at fixing this via a PR, it might not be perfect surely better than string templating and omission of ListMeta for metdata.

[2016-05-17 08:26] wojtek-t commented on #25663
OK - I think I debugged it.

It was broken by https://github.com/kubernetes/kubernetes/pull/24459 by @fgrzadkowski

To clarify what exactly happens here is that:

1. we are trying to schedule a pod
2. scheduling fails
3. this triggers sending "Unschedulable" pod condition
4. then scheduler watches this change (this is not scheduled pod)
5. and then is trying to schedule again
6. [the backoff is do

[2016-05-17 08:33] wojtek-t commented on #25663
And it wouldn't be that bad, if the condition wouldn't change, but it contains error, which is our case was FitError.Error(), which unfortunately is undeterministic because it is iteration over map.

[2016-05-17 08:37] borismattijssen commented on #25340
Great! Good luck with the fix :)

[2016-05-17 08:46] #19036 closed

[2016-05-17 08:48] gmarek commented on #25543
cc @dchen1107 @alex-mohr @davidopp @wojtek-t @zmerlynn

[2016-05-17 09:00] mqliang commented on #25663
a "smart" workqueue with:
1) priority
2) deadline: we could set the deadline(dequeue time)
3) duplicate removal

may could help in such a case. Have a related proposal for such a workqueue, see https://github.com/kubernetes/kubernetes/pull/20203. (may need update now).

[2016-05-17 09:02] wojtek-t commented on #25663
This would be way to complicated for this usecase in my opinion.

[2016-05-17 09:04] jszczepkowski commented on #25657
The problem reoccurred today:
[code]
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/17075/

[2016-05-17 09:16] luguangzhen opened #25725 "How to use rolling-update with restful api ?"
When I use kubectl tool to rolling-update, everything is normal.
`kubectl rolling-update k8s-ru1 --image=xx:5000/k8s-ru2:latest`

However, follow the guide of kubernetes deployment to achieve rolling-update with the restful api **/apis/extensions/v1beta1/namespaces/bigdata/deployments**, there are 100+ pods created with Terminating status.

k8s-ru1-deployment-4284186922-03yrx                 0/1

[2016-05-17 09:19] mqliang commented on #25663
I agree. We should do some simple in short term. But in the long run, we may need a "smart workqueue"(or a collection of workqueues with different feature combination), which should support:

1) priority
2) round-robin across namespace
3) duplicate removal
4) deadline
5) other potential features

The current FIFO workqueue is too simple IMO.

[2016-05-17 09:33] AaronTao1990 opened #25729 "docker daemon rootfs does not exist"
After installing docker is just working fine and hello-world image runs ok as well. But when I tried to set up a separate “bootstrap” instance of the Docker daemon the hello-world procedure went wrong.

I am trying to set up k8s cluster environment bug got stuck on the first step. I referred to the tutorial in [Installing a Kubernetes Master Node via Docker](http://kubernetes.io/docs/getting-start

[2016-05-17 10:23] kargakis commented on #25725
@luguangzhen what was the state of your deployment prior to the update? You only changed the image, right? Note that `kubectl set image` is on the way: https://github.com/kubernetes/kubernetes/pull/25509

cc: @kubernetes/deployment

[2016-05-17 10:24] piosz commented on #22676
Closing as obsolete.

[2016-05-17 10:29] kargakis commented on #25705
@mml do you have a pull for the disruption controller somewhere?

[2016-05-17 10:35] Pensu opened #25730 "Getting a Power CI for kubernetes"
Hi all,

Since release 1.3.0-alpha3, gcr.io has all the images required to run k8s on powerpc architecture. It would be good to have a CI setup for power, so that future stuff doesn't break on it. How should I proceed with that? I have been told one way is to get the servers in CNCF, but again what would be the specs in that case? Alternatively who is the person to contact?

TIA.

cc: @luxas @bgra

[2016-05-17 11:17] antonmry commented on #23864
Hi @bgrant0607, @thockin, @brendandburns, @lavalamp

I'm new to kubernetes development, so I was trying different things to test and see how the API works, even if in the beginning was different, as soon as I've realized the complexity of the issue,  any of my dev branches have pretended to be a proposal or similar, so please, ignore them.

As far as I understand from your comments, for this issue

[2016-05-17 11:19] luguangzhen commented on #25725
@kargakis Actually, I just want to change (or upgrade) the image with the restful api. That is to say, I just want to use restful API to achieve the operation of rolling-update.

[2016-05-17 11:33] wojtek-t commented on #25132
This is done.

[2016-05-17 11:33] #25132 closed

[2016-05-17 11:58] wojtek-t opened #25735 "node e2e node flake: test panicked"
It failed with the following error:

I0517 07:58:40.157487     944 e2e_node_suite_test.go:94] ******************************************************
I0517 07:58:40.288216     944 e2e_node_suite_test.go:131] Locksmithd is masked successfully
I0517 07:58:43.304213     944 e2e_node_suite_test.go:72] Node services started.  Running tests...
panic: runtime error: integer divide by zero
[signal 0x8 code

[2016-05-17 12:22] soltysh commented on #25704
I think that will fall into the broad category of moving kubectl client code into server https://github.com/kubernetes/kubernetes/issues/12143, especially that the cascading deletion is already implemented starting with https://github.com/kubernetes/kubernetes/pull/23656.

[2016-05-17 12:55] fgrzadkowski commented on #25663
As discussed offline we will stop setting message (short-term) and later with each watch update compare spec and re-attempt scheduling only if spec has changed, i.e. ignore status updates.

[2016-05-17 13:02] nebril commented on #25417
I will try to provide a fix for that.

[2016-05-17 13:12] ncdc commented on #24620
@krousey at a minimum, we need the following:

1. Use the copy of kubectl built from the current git commit
1. Run a proxy somewhere that is not localhost/127.0.0.1
1. Test the kubectl from step 1 with the env vars `http_proxy`, `https_proxy`, `HTTP_PROXY`, `HTTPS_PROXY`
1. Test attach, exec, and ideally port-forward (the 3 commands that currently use the SPDY roundtripper)

Beyond that, I think t

[2016-05-17 13:17] dims commented on #14071
Don't know why this PR did not get linked:
https://github.com/kubernetes/kubernetes/pull/25707

[2016-05-17 13:21] #25735 closed

[2016-05-17 13:31] jsafrane commented on #24161
Thanks for the log. It provisions a GCE PD just fine, it can't attach & mount it:

[code]

And kubelet.log says:
[code]

That's different error, most likely #19953

[2016-05-17 13:32] #24161 closed

[2016-05-17 14:08] bgrant0607 commented on #5589
Obsolete

[2016-05-17 14:08] #5589 closed

[2016-05-17 14:12] smarterclayton commented on #25705
Yikes

[2016-05-17 14:13] c4po commented on #23479
for clustering etcd, https://coreos.com/etcd/docs/latest/clustering.html
I don't think we can do static clustering if we want to manage the master node with ASG.
And if we choose **discovery** https://coreos.com/etcd/docs/latest/clustering.html#etcd-discovery , the only method works in all situation is to use the **Public etcd Discovery Service**.

is there any security concern to use the public e

[2016-05-17 14:22] bgrant0607 commented on #6428
I believe this is done.

[2016-05-17 14:22] #6428 closed

[2016-05-17 14:23] bgrant0607 commented on #5637
@vishh @a-robinson Can this be closed?

[2016-05-17 14:24] mqliang opened #25744 "round-robin work queue proposal"
#### Problem

[work queue](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replication/replication_controller.go#L107) of controller-manager is FIFO, it can not ensure fairness across namespaces: user A create 1000 RCs, and soon user B create 1 RC, user B's RC can not been synced until all the 1000 RCs has been synced. User B get a really bad experience in such a case.

#### Pr

[2016-05-17 14:36] johanhaleby opened #25745 "Workaround 50 paths url-map limit in ingress"
I did the following:
1. Create an ingress with two rules (`kubectl create -f my-ingress.yaml`):

[code]
2. Update the `my-ingress.yaml` file and add about 30 other paths.
3. Apply the changes using `kubectl apply -f my-ingress.yaml` (this returns ok)

Expected: Ingress should be updated with the new paths (url map and load balancer should be updated in the google cloud environment)
Actual: I get t

[2016-05-17 14:41] bgrant0607 commented on #5640
cc @a-robinson

[2016-05-17 14:46] roberthbailey commented on #25730
You should chat with the @kubernetes/test-infra-maintainers folks.

[2016-05-17 14:49] mikedanese commented on #10387
This isn't done yet.

[2016-05-17 14:49] #10149 closed

[2016-05-17 14:54] #25643 closed

[2016-05-17 15:09] yujuhong commented on #25700
Yes, docker doesn't support setting UTS namespace to a container yet, but it does allow setting the hostname. Given that we already have an issue #1615 tracking namespace sharing, let's close this one.

[2016-05-17 15:09] #25700 closed

[2016-05-17 15:12] dcowden opened #25747 "What is the current preferred way to implement a name-based ingress LB on Bare Metal?"
For k8s clusters that are running on bare metal ( for example, on a single developer workstation), we need to implement a dynamic, ingress loadbalancer.

Desired functionality:

1. map inbound host names, or contexts, to an internal service
2. automatically detect new backend services and reconfigure the proxy accordingly
3. use new ingress controllers, so that our production configuration is cons

[2016-05-17 15:20] luxas commented on #25730
First off, I'm obviously a huge +1 on this.

As the implementor of this feature, I would say that we have one important CI layer already: Does it compile on Power?

On every PR, k8s will be built for `arm`, `arm64` and `ppc64le`, and e2e will fail if the code doesn't compile on the given platform (example: earlier there were `+// build linux,amd64` in some places in the code, which broke all other

[2016-05-17 15:20] luxas commented on #25730
xref: #17981

[2016-05-17 15:21] luxas commented on #25747
@bprashanth @aledbf

[2016-05-17 15:26] chrislovecnm opened #25749 "Cassandra Example Version Bump 3.4 to 3.5"
https://github.com/kubernetes/kubernetes/commit/2c1149b09cd34444a48c961a67a039849a220cdd

Bumped the version to 3.5, but the SeedProvider is not at 3.5, as it is built against 3.4.  We either need to get the SeedProvider built against 3.5 or back this out.  An update to 3.5 could easily break this example.  I want to get the SeedProvider into the C* code base so this won't be an ongoing issue.

@b

[2016-05-17 15:29] chrislovecnm commented on #1827
Are we talking about

[code]

Or are we talking about where the built docker is hosted?  It would be nice to for instance have a stock debian instance hosted on  google's docker repo.

[2016-05-17 15:31] gmarek commented on #19953
@saad-ali - any update on this?

[2016-05-17 15:33] andrewmichaelsmith commented on #16779
@roberthbailey suggested I had my use case here so am doing so.

For my case I am not particularly worried about the security implications of pods accessing the API server. My main concern is the [overhead](http://stackoverflow.com/questions/37272853/many-occurrences-of-unmount-in-kubelet) involved in generating all the mounts.

Right now I have 1 pod (skydns) that needs access to the API server a

[2016-05-17 15:35] aledbf commented on #25747
@dcowden service-loadbalancer is not an Ingress controller so is not a "fair" comparison. With service-loadbalancer can accomplish point 2. If you use an Ingress controller you need to create one or more rules to route traffic. Both components provide an status page and SSL termination. The Ingress controller provides better granularity.

It depends. It's easy to start with service-loadbalancer bu

[2016-05-17 15:40] AdoHe commented on #25417
@nebril thanks very much :) If any problem, please comment here.

[2016-05-17 15:41] dcowden commented on #25747
Thank you!  So it seems like the nginx-controller is the preferred solution.
Thank you for the example link, that's perfect!

[2016-05-17 15:42] #25747 closed

[2016-05-17 15:58] dchen1107 commented on #6428
Yes, this is done since 1.1 release for open source k8s.

[2016-05-17 16:04] spiffxp commented on #3120
/cc @kubernetes/sig-testing

[2016-05-17 16:05] spiffxp commented on #24170
/cc @kubernetes/sig-testing

[2016-05-17 16:05] spiffxp commented on #24758
/cc @kubernetes/sig-testing

[2016-05-17 16:06] spiffxp commented on #25629
/cc @kubernetes/sig-testing

[2016-05-17 16:07] chrislovecnm commented on #25749
cc: @kubernetes/examples

[2016-05-17 16:08] spiffxp commented on #25635
/cc @kubernetes/sig-testing

[2016-05-17 16:09] spiffxp commented on #25452
/cc @kubernetes/sig-testing

[2016-05-17 16:09] krousey commented on #24620
@ncdc And the kubectl has to be run from inside the cluster? Also, why do we have to test all 4 env vars? Shouldn't 1 suffice?

[2016-05-17 16:10] spiffxp commented on #25140
/cc @kubernetes/sig-testing

[2016-05-17 16:10] spiffxp commented on #25539
/cc @kubernetes/sig-testing

[2016-05-17 16:11] derekwaynecarr commented on #25705
Would need to see the corresponding PR to know how you are using it.... are you using NamespaceAll?

[2016-05-17 16:12] janetkuo commented on #25677
@jayunit100 the PR #24806 basically undoes #24849...

[2016-05-17 16:12] dchen1107 commented on #25702
@mingfang I couldn't reproduce the issue.

Which docker version are you using? What is the output of kubectl describe nodes <node-id> when the master thinks node is not_ready. Why do you want to remove the images manually? Kubelet does gc un-used images periodically, is it not meeting your requirements?

[2016-05-17 16:13] spiffxp commented on #6222
/cc @kubernetes/sig-testing

[2016-05-17 16:13] spiffxp commented on #23875
/cc @kubernetes/sig-testing

[2016-05-17 16:15] spiffxp commented on #23350
/cc @kubernetes/sig-testing

[2016-05-17 16:15] ncdc commented on #24620
@krousey I don't know that it matters where kubectl is run, as long as it's the kubectl that was just built. We have to test at least 2 - 1 variation of http_proxy and 1 variation of https_proxy. https_proxy is important because it lets us test that proxying works when the apiserver only talks https and that the secure flow is still functional.

[2016-05-17 16:17] spiffxp commented on #24754
/cc @kubernetes/sig-testing

[2016-05-17 16:17] spiffxp commented on #24755
/cc @kubernetes/sig-testing

[2016-05-17 16:17] spiffxp commented on #24759
/cc @kubernetes/sig-testing

[2016-05-17 16:17] spiffxp commented on #24760
/cc @kubernetes/sig-testing

[2016-05-17 16:17] spiffxp commented on #24761
/cc @kubernetes/sig-testing

[2016-05-17 16:18] spiffxp commented on #24762
/cc @kubernetes/sig-testing

[2016-05-17 16:18] spiffxp commented on #24763
/cc @kubernetes/sig-testing

[2016-05-17 16:18] spiffxp commented on #24151
/cc @kubernetes/sig-testing

[2016-05-17 16:18] spiffxp commented on #24904
/cc @kubernetes/sig-testing

[2016-05-17 16:19] spiffxp commented on #24639
/cc @kubernetes/sig-testing

[2016-05-17 16:26] pmorie opened #25754 "Disambiguate IP handling in Kubelet"
There is a method called `GetContainerIP` which uses nsenter to do some work related to the name of the function.  Having spent some time working on downward API for pod IP, I found this method a bit confusing.  In general I feel like it would be helpful to disambiguate the handling of IPs in the kubelet, either in developer documentation or code comments.

@kubernetes/sig-node @kubernetes/sig-net

[2016-05-17 16:28] bgrant0607 commented on #18506
Number of objects etc. don't need to be collected in apiserver.

An addon has been started to do that:
https://github.com/kubernetes/kube-state-metrics

cc @ghodss

[2016-05-17 16:29] bgrant0607 commented on #5639
Superseded by #23376 and other more recent issues.

[2016-05-17 16:29] #5639 closed

[2016-05-17 16:30] bgrant0607 commented on #5657
Believed to be obsolete.

[2016-05-17 16:30] #5657 closed

[2016-05-17 16:31] bgrant0607 commented on #5671
cc @derekwaynecarr

[2016-05-17 16:39] k82 commented on #24411
@AdoHe & @janetkuo , the document was updated accordingly :).

[2016-05-17 16:44] smarterclayton opened #25757 "e2e flake, master did not come up within 300 seconds"
Master did not become available

[code]

[2016-05-17 16:50] bprashanth commented on #25757
Apiserver returning 401 on endpoints
[code]

And Kube proxy is hosed:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25266/kubernetes-pull-build-test-e2e-gce/40292/artifacts/e2e-gce-master-2-minion-r0rk/
[code]

@kubernetes/sig-config maybe certs bootstrapping issue?

[2016-05-17 16:51] bprashanth commented on #25757
I thought @mikedanese was in sig-config, apparently not

[2016-05-17 16:51] kgelinas commented on #24407
all default from config

[2016-05-17 16:56] ixdy commented on #25639
No leaked node e2e VMs this morning! Woohoo!

[2016-05-17 17:00] ixdy commented on #24904
I agree. So much so that we already have an issue open for this. :) #22658

[2016-05-17 17:00] #24904 closed

[2016-05-17 17:01] bprashanth commented on #25639
Is that because of the GC or is this issue fixed?

[2016-05-17 17:03] ihmccreery commented on #24639
A couple of notes:

- Another option is to pin all jobs to a minor version, meaning that when a minor release is branched, all the CI jobs that were pointing at master move over to that branch.
  - This is nice because it means that master lags more than release branches, which is good for helping us get things out the door.  The downside is that having no testing on master ever seems like a bad i

[2016-05-17 17:05] ixdy commented on #25639
The GC PR hasn't merged yet. I think it's because the node e2e tests aren't timing out anymore.

[2016-05-17 17:10] bgrant0607 commented on #5672
@kubernetes/sig-api-machinery Anyone know whether this is still an issue or can be closed?

[2016-05-17 17:14] ixdy commented on #25635
@smarterclayton where/when did you see this? We had a bit of a Jenkins snafu this past weekend which caused a variety of issues, but we should be all clear now.

[2016-05-17 17:17] smarterclayton commented on #5672
I have not seen this in the most recent dumps from metrics (which makes me think this is fixed).

[2016-05-17 17:18] bprashanth commented on #25639
Great! closing then

[2016-05-17 17:18] #25639 closed

[2016-05-17 17:19] ixdy commented on #25730
cc @kubernetes/sig-testing

[2016-05-17 17:20] bprashanth commented on #25635
yeah this was during the new slaves bringup, but I'm guessing in theory it could happen anytime if the updates aren't synchronized.

[2016-05-17 17:23] bgrant0607 commented on #23796
This sounds like a problem with the CentOS package, not with our release itself. That's not 1.2.0. It's an alpha release.

@coolsvap, any idea how we could get the CentOS package updated?

[2016-05-17 17:24] bgrant0607 commented on #23796
For others, support levels and owners for various platforms are documented here:
http://kubernetes.io/docs/getting-started-guides/

[2016-05-17 17:26] spxtr commented on #23350
[Another one](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/17027). It's particularly bothersome because the run still gets reported as a success. That's strange, and probably a separate issue.

[2016-05-17 17:26] luxas commented on #25730
@ixdy Opinions on this?

[2016-05-17 17:29] stevesloka opened #25759 "Pods Stuck Terminating"
I'm seeing an issue that when I delete pods they get stuck `Terminating`. In the kubelet log I see this error:

[code]

Sometimes when I restart the kubelet on that node, then the pod disappears.

I'm running k8s 1.2.3 on CoreOS. Upgrading right now to 1.2.4 to see if that helps.

[2016-05-17 17:33] jayunit100 commented on #25677
hi @spxtr let me get on this right away

[2016-05-17 17:34] ixdy commented on #25730
I think it's a great idea, but (obviously) the challenge is getting hardware. I don't have any leads on that, but if anyone has hardware and wants to start running tests, we can definitely federate those results into our dashboards.

[2016-05-17 17:36] ixdy commented on #23611
@tmrts we'd been doing that for a bit, but Travis was having trouble keeping up even with that. (Part of the problem was likely that our verify-* checks have become very heavyweight.)

[2016-05-17 17:40] ixdy commented on #25629
Root cause (leaking VMs) fixed. Should be in the clear now.

[2016-05-17 17:40] #25629 closed

[2016-05-17 17:41] ihmccreery opened #25760 "e2e flake: minion-group never becomes stable"
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25672/kubernetes-pull-build-test-e2e-gce/40216/

[code]

Assigning to team/control-plane because I know at least @mikedanese has worked on cluster deployment.

[2016-05-17 17:42] eparis commented on #23611
The straw the broke my back was when travis started failing even though the ONLY thing it was doing was

https://github.com/kubernetes/kubernetes/blob/master/.travis.yml#L5

seriously, echo-ing two lines started failing. I vote no to travis after that   :)

[2016-05-17 17:43] nikhiljindal opened #25761 "Passing k8s cluster credentials to federation control plane"
We need a way to pass kubernetes cluster credentials to federation control plane (for it to be able to talk to each k8s cluster).

Right now, we have a string field called `Credential` in ClusterSpec (https://github.com/kubernetes/kubernetes/blob/4e6e51dc266030fa045ac10f0239e6da8d0acd08/federation/apis/federation/v1alpha1/types.go#L43) which admins are required to pass while registering a kubernet

[2016-05-17 17:45] JacobTanenbaum commented on #21648
I can start working on `kubectl set limits` to set resource requests/limits.

[2016-05-17 17:46] lavalamp commented on #25705
The linked code clearly has a locking problem. The call to List and the call to Index will see different sets of data. Thanks for reporting.

[2016-05-17 17:48] ixdy commented on #24479
node e2e was a mess yesterday, but we should be in the clear now. please reopen if you continue to see failures.

[2016-05-17 17:48] bprashanth commented on #25629
@ixdy it occurred to me that an alert on quota > 75% indicates imminent flake. I'd subscribe to that if we had it.

[2016-05-17 17:50] lavalamp commented on #5672
I just searched a random e2e apiserver log and found two instances, both to the /version endpoint. So something is still failing to set this, but probably not the master itself . What calls /version? I'll change the bug title.

[code]

[2016-05-17 17:51] ixdy commented on #25629
I'm working on setting up monitoring and alerting of our GCP quotas. It's unnecessarily difficult to integrate, unfortunately.

[2016-05-17 17:53] saad-ali commented on #19953
@gmarek lots of work on-going (e.g. https://github.com/kubernetes/kubernetes/pull/25457) targeted at 1.3

[2016-05-17 17:53] lavalamp commented on #25705
Most likely introduced in #23795. @wojtek-t @mqliang ideas for a fix?

[2016-05-17 17:54] lavalamp commented on #25705
This would be a regression, so we need to fix before cutting 1.3.

[2016-05-17 17:55] dchen1107 commented on #25356
Here are the status updates on this P0. There are two main issues included in this one, and both are docker related issues:

1) long docker pull or docker pull hung: In 1.3, Kubelet switches to docker native client library and applies timeout to most of docker operations. https://github.com/kubernetes/kubernetes/issues/23563 For docker pull, we applied timeout for initial request. If the download

[2016-05-17 17:55] #25356 closed

[2016-05-17 17:56] timothysc opened #25762 "Update kubelet limits to be pods/core up to some limit."
Per discussions on @kubernetes/sig-scalability, we should update the advertised maximum pods to be a function of pods/core(default 10) up to a hard cap max-pods (currently 110).

xref: https://docs.google.com/a/bobsplanet.com/document/d/1hEpf25qifVWztaeZPFmjNiJvPo-5JX1z0LSvvVY5G2g/edit?usp=drive_web

/cc @kubernetes/sig-node @rrati

[2016-05-17 17:56] lavalamp commented on #5660
I'm gonna steal this since I sorta started some related refactorings...

[2016-05-17 18:00] vishh commented on #4135
Yeah. This can be closed for now.

[2016-05-17 18:00] #4135 closed

[2016-05-17 18:00] dchen1107 commented on #23563
I think this is done.

[2016-05-17 18:00] #23563 closed

[2016-05-17 18:01] vishh commented on #5637
@bgrant0607 We do not have a mechanism to collect metrics from kube components in a portable manner. So I'd say this issue still needs some attention.

[2016-05-17 18:03] thockin commented on #25682
Bug in the test script.  Look for a PR from Michael soon

On Mon, May 16, 2016 at 10:55 PM, Buddha Prakash <notifications@github.com>
wrote:

[2016-05-17 18:17] lavalamp commented on #25761
I think the credential string is totally wrong, and should be removed. Creds should *not* be stored there. Let's think about the use case-- people are going to run an ubernetes shard in a kubernetes cluster. The mechanism we have for giving secret config data is via a secret. You should probably engineer this to work well with a secret. So instead of a "Credential" field, consider a secret ref.

I

[2016-05-17 18:18] bgrant0607 commented on #5637
@vishh Why can't Prometheus just be used for that?

[2016-05-17 18:18] bgrant0607 commented on #5637
Ref #6981

[2016-05-17 18:24] vishh commented on #5637
We can. But that would mean that existing users of heapster based pipeline have to run prometheus as well. Given that kube already support collecting metrics exposed in prometheus compatible format, it should be straightforward to plumb those metrics via heapster.

[2016-05-17 18:25] Random-Liu commented on #23563
@dchen1107 Yeah, the only thing left is "Add kubelet flag making the image pulling timeout configurable." @wojtek-t Do we still need that? If so, I can add it soon. :)

[2016-05-17 18:27] mml commented on #25705
I'm surprised no other test is flaky because of this.

[2016-05-17 18:36] smarterclayton commented on #5672
I'm pretty sure that would be the default Go client, possibly the e2e tests
themselves checking the version at the beginning of the test?

On Tue, May 17, 2016 at 1:51 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-05-17 18:36] wonderfly commented on #24905
Related one: https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/25701/node-pull-build-e2e-test/6235/build-log.txt

[2016-05-17 18:40] lavalamp commented on #23864
One idea is to put the beginning of the range in the current field, and use an annotation of the form `alpha-range-end-<port name>=<range end value>` or some variation thereof, depending on how exactly the mapping will work. This is kinda hokey but should do the trick.

[2016-05-17 18:55] vishh opened #25766 "Store logs from hooks and probes in separate log files"
As of now kubelet inlines log files from probes. #25681 inlines logs from hooks.
Inlining such logs makes it difficult to identify them and also pollutes kubelet logs.
Ideally, these logs should be either inlined into container logs. That is not possible today with the default docker logging driver.
An alternative is to store hooks and prober logs into separate container logs that the kubelet can

[2016-05-17 18:55] mtaufen commented on #25682
See https://github.com/kubernetes/kubernetes/pull/25765

Note that, even though the sudo is removed, something deeper in the tests ultimately uses sudo anyway.

[2016-05-17 19:04] gmarek commented on #25356
I forgot to mention: I was running 2k Node cluster, and some (~80) Nodes failed to start for this reason. After few minutes retry kicked in and I got all 2k Nodes happily running  in time to `validate-cluster` to pass. So - great thanks, it seems to be working. I guess we can even retry a bit sooner.

[2016-05-17 20:06] smarterclayton commented on #25757
This was tracked down and is a problem with the PR.

[2016-05-17 20:06] #25757 closed

[2016-05-17 20:22] pwittrock commented on #23747
Should be resolved in #25267

[2016-05-17 20:22] #23747 closed

[2016-05-17 20:27] mingfang commented on #9005
what was the fix for this?
I'm still seeing this problem in v1.2.4.

[code]

[code]

[2016-05-17 20:28] pwittrock commented on #24905
Just saw another instance of this in the CI.

[2016-05-17 20:30] Random-Liu commented on #24905
I think the flake in https://github.com/kubernetes/kubernetes/issues/24905#issuecomment-219812488 happens because of slow image pulling and container creating.

The pause image takes 30s, the application image nginx takes 75s, while the test timeout is 2 minutes.

[2016-05-17 20:50] yujuhong commented on #4091
We already have tests for prestop hooks, but not for poststart hooks.
Closing as dup of #24444

[2016-05-17 20:50] #4091 closed

[2016-05-17 20:55] deads2k commented on #25744
Is this a problem you're experiencing or a problem that just theoretically exists?  Straight round-robin of namespaces would be annoying since it would allow relative late-comers to "jump the queue".  Static scoring for a priority queue is annoying since ending up with a poor score is a "never do this" sentence.  I've never seen dynamic scoring that scaled in any reasonable way.

Is there a simple

[2016-05-17 20:56] spxtr commented on #24704
[code]
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25505/kubernetes-pull-test-unit-integration/26196/

[2016-05-17 20:58] kargakis commented on #25766
Until we find a solution for the logs, is it reasonable to have events for failed hooks (i think we have for failed probes) ?

[2016-05-17 21:13] vishh opened #25773 "Why expose OutOfDisk condition by default?"
Kubelet currently exposes `OutOfDisk` condition with `Status` set to `false` by default. Why expose that condition unless OutOfDisk condition was observed?

cc @dchen1107 @bgrant0607

[2016-05-17 21:33] asaryal opened #25774 "How to automate a kubernetes cluster to manage docker containers on OpenStack environment?"

[2016-05-17 21:39] erictune opened #25775 "Inconsistencies in pkg/registry"
Some Kinds have a `pkg/registry/$KIND/registry.go`.   A few do not (job, ingress).  Is this an error or is this file optional?

Some kinds do validation in a custom Storage, but other than special validation, don't have anything special about their storage.  Other kinds have special validation in their Strategy.

Some do:

[code]

Others do:

[code]

Likewise for `Canonicalize`.

Some have functio

[2016-05-17 21:51] spxtr commented on #25657
@bgrant0607 can you find an owner for this? It's blocking about 20% of our merge time.

[2016-05-17 22:05] krousey commented on #24620
I have a change pending for this that removes a lot of the moving parts of this test. I cannot confirm that it's a fix (or actually any less flaky due to lack of sample size), but I'm going to close this issue if it goes in.

[2016-05-17 22:09] jayunit100 commented on #24704
Yeah timeout will help it be less flakey but I guess either way the test is inherently async and polling is required

[2016-05-17 22:11] MHBauer commented on #16831
I am familiar with the docker side of events. With a little guidance I can help do the work in the kube code.

[2016-05-17 22:18] a-robinson commented on #5637
It could be either heapster or prometheus, but neither has been done.

[2016-05-17 22:42] mqliang commented on #25705
@lavalamp

Could you please be more specific here?

[2016-05-17 22:54] bgrant0607 commented on #25657
My guess is that it should not be using examples/guestbook-go as the input files. The "testing image pulling from Dockerhub" problem.

[2016-05-17 22:55] bgrant0607 commented on #25657
And `waitFor(1)` should be banned.

[2016-05-17 23:04] bgrant0607 commented on #25773
Why not?

It also might be nicer for clients to flip the polarity to match Ready, say SufficientDisk, in which case being present all the time makes more sense.

For scheduling, we may also want something to translate explicitly these to taints, so that it could respond generically:
https://github.com/kubernetes/kubernetes/blob/master/docs/design/taint-toleration-dedicated.md

[2016-05-17 23:04] ArtfulCoder commented on #25754
@freehan since he is doing kubenet work.

[2016-05-17 23:06] vishh commented on #25773
So would that mean we ideally want to expose all Node Conditions by default even when they are false?

[2016-05-17 23:07] ArtfulCoder commented on #25745
@bprashanth

[2016-05-17 23:08] bgrant0607 commented on #25773
Such as node problems?

Maybe Ready needs to be special because it lets us know whether we can trust any other information

[2016-05-17 23:10] bprashanth commented on #25745
There's a race condition with updating the Ingress fixed in 0.6.2 (I assume you're on 0.6.0), does simply creating the ingress with the 30 paths work?

[2016-05-17 23:11] vishh commented on #25773
[MemoryPressure](
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L1893)
and other node problems...

At the least, we can avoid showing `false` conditions by default in
`kubectl describe nodes`

[2016-05-17 23:11] bgrant0607 commented on #25773
Except for Ready=false

[2016-05-17 23:12] bprashanth commented on #25745
Also is the output you gave me the output of "describe" on the ingress or "logs" on the controller? If it's actually describe, can you give me the ingress you used so i can try to repro it?

[2016-05-17 23:13] vishh commented on #25773
Oh yeah. Thats right!

On Tue, May 17, 2016 at 4:12 PM, Brian Grant <notifications@github.com>
wrote:

[2016-05-17 23:16] vishh commented on #25766
Yeah. That makes sense.

On Tue, May 17, 2016 at 1:59 PM, Michail Kargakis <notifications@github.com>
wrote:

[2016-05-17 23:18] ArtfulCoder commented on #25699
Are you still seeing it ?

@ixdy

[2016-05-17 23:32] andyzheng0831 opened #25778 ""Simple pod should support exec through an HTTP proxy" test fails on kernel 4.4.4+"
Our Jenkins running on the GCI with kernel 4.4.4 captured this failure. The root cause is that test code always uploads linux/386 platform kubectl to a pod for test (https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubectl.go#l301). This version works well on kernel 3.18, but fails on 4.4.4 because of modify_ldt call. Here is the information captured by strace:

execve("./kubectl-386"

[2016-05-17 23:32] bgrant0607 commented on #13929
Please file more specific issues for any remaining problems.

[2016-05-17 23:32] #13929 closed

[2016-05-17 23:33] #18183 closed

[2016-05-17 23:34] bgrant0607 commented on #6180
This has been superseded by other work.
cc @mikedanese

[2016-05-17 23:34] #6180 closed

[2016-05-17 23:35] gtank commented on #24310
Also having this issue over in #25562.

[2016-05-17 23:36] bgrant0607 commented on #3028
This shouldn't be solved by a new pull policy. It needs to be addressed at a higher level, as in Openshift or #1697.

[2016-05-17 23:36] #3028 closed

[2016-05-17 23:37] #25682 closed

[2016-05-17 23:37] pwittrock commented on #24422
I am closing this since it has not been referenced in 20 days.  #24426 may have fixed the issue.  If it pops up again, reopen the issue or create a new one.

[2016-05-17 23:37] #24422 closed

[2016-05-17 23:38] bgrant0607 commented on #9626
Privileged is enabled by default. Control over that is superseded by PodSecurityPolicy.

[2016-05-17 23:38] #9626 closed

[2016-05-17 23:40] Random-Liu commented on #23028
FYI, the first version of node problem detector is ready for review https://github.com/kubernetes/node-problem-detector/pull/1

[2016-05-17 23:41] bgrant0607 commented on #20999
All of the application examples are failing all the time now. :-(

Only the contrived feature examples (DNS, downward API, liveness, secrets) are passing.

[2016-05-17 23:43] bgrant0607 commented on #25714
@brendandburns There are multiple PRs in flight to fix this, I think

[2016-05-17 23:43] pwittrock commented on #25657
I am looking at this

[2016-05-17 23:44] bgrant0607 commented on #25714
See #25512

[2016-05-17 23:44] bgrant0607 commented on #25714
Dupe of #24088

[2016-05-17 23:44] #25714 closed

[2016-05-17 23:45] bgrant0607 commented on #25623
Dupe of #24088

See PR #25512

[2016-05-17 23:45] #25623 closed

[2016-05-17 23:45] ixdy commented on #25699
Node e2e was having lots of problems yesterday. I think we're probably clear now.

[2016-05-17 23:45] #25699 closed

[2016-05-17 23:46] bgrant0607 commented on #24349
hyperkube kubectl flags parsing is being fixed in #25512

[2016-05-18 00:02] andyzheng0831 commented on #25778
@ixdy FYI

[2016-05-18 00:08] jayunit100 commented on #20999
likely could be kubectl related?

[2016-05-18 00:09] #22344 closed

[2016-05-18 01:03] spxtr commented on #25511
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/17052

[2016-05-18 01:03] spxtr commented on #25511
Related to #25657

[2016-05-18 01:06] ghodss commented on #21317
@nhlfr That would be great - we currently have a need for node name in the pod because our log tailer that generates metrics is containerized in the pod, and it needs access to the node name to annotate the metrics with it.

[2016-05-18 01:07] ghodss commented on #21317
@thockin Can you think of another way to satisfy that use case?

[2016-05-18 01:19] chrislovecnm commented on #25749
@bgrant0607 thoughts?

[2016-05-18 01:35] adityakali commented on #25778
Note that this is just because CONFIG_MODIFY_LDT_SYSCALL is not set for GCI. Not specifically related to the particular kernel version.

[2016-05-18 01:41] jchauncey commented on #21317
Sam check out github.com/deis/monitor and look at he telegraf dir at the
start script and it shows how to get the node name using curl
On May 17, 2016 7:08 PM, "Sam Ghods" <notifications@github.com> wrote:

[2016-05-18 01:42] andyzheng0831 commented on #25778
It was set in previous GCI kernel 3.18? Or this is a new kernel flag? Why
not turn it on, if it is on in other distros?
On May 17, 2016 6:35 PM, "Aditya Kali" <notifications@github.com> wrote:

[2016-05-18 01:43] ghodss commented on #21317
Do you need something special in your policy file JSON to allow all pod service account tokens to read their own specs? Or is that allowed by default?

[2016-05-18 01:49] jchauncey commented on #21317
Not that I know of
On May 17, 2016 7:44 PM, "Sam Ghods" <notifications@github.com> wrote:

[2016-05-18 02:01] AdoHe commented on #24411
Thanks @k82

[2016-05-18 02:13] zhouhaibing089 opened #25782 "scheduler test-performance broken"
[code]

I find out that the field name should be `Indexer` actually which is an interface extended from `Store`. https://github.com/kubernetes/kubernetes/blob/master/pkg/client/cache/listers.go#L44

/cc @hongchaodeng

[2016-05-18 02:23] #25677 closed

[2016-05-18 02:31] bprashanth commented on #25677
I'm not convinced it was docker hub flake though, we're seeing general image pull fail (https://github.com/kubernetes/kubernetes/issues/24782, https://github.com/kubernetes/kubernetes/issues/25277#issuecomment-219199703, https://github.com/kubernetes/kubernetes/issues/25277#issuecomment-219256108 to name a few)

[2016-05-18 02:53] bobintornado commented on #25749
I see. I will try building SeedProvider against 3.5

[2016-05-18 04:01] mingfang commented on #25702
Because I'm running kubelet containerize I believe the image garbage collection does not work.
In my logs I'm seeing a lot of these
```kubelet.go:956] Image garbage collection failed: non-existent label "docker-images"```

[2016-05-18 04:11] ngocluanbka opened #25786 "Config two master node when run KUBERNETES_PROVIDER=ubuntu ./kube-up.sh"
Hi, Im trying to setup Kube's cluster with 2 master node `10.0.11.108` and `10.0.11.97` (Ubuntu) with config `"ai ai"` in `cluster/ubuntu/config-default.sh` file.
When i run `KUBERNETES_PROVIDER=ubuntu ./kube-up.sh`, it run deployscript in node `10.0.11.97` two time. And become error:

[sudo] password to copy files and start node:
cp: cannot create regular file ‘/opt/bin/etcd’: Text file busy
cp:

[2016-05-18 04:13] johanhaleby commented on #25745
@bprashanth I'm not sure what you mean by 0.6.0. Running `gcloud -v` gives me:

[code]

And `kubctl version` gives me:

[code]

I've tried removing the old ingress (`kubectl delete ing name`) (but everything is not removed, I had to remove for example the url map manually) and recreate the ingress but it results in the same error.

Well it happens when I write `kubectl describe ing name` but wheth

[2016-05-18 04:16] johanhaleby commented on #25745
I've also tried changing name of the ingress and recreate it, same issue.

[2016-05-18 04:19] bharrisau commented on #24858
Can confirm this. The issue is that the patch isn't updating `metadata.annotations.kubernetes.io/change-cause`, so the rollout history will just copy the value from the previous version. If you started with `<None>` you get that for the patches. In my case I have a different line repeated.

[code]

Builds 7 and 8 were built with different `buildXXX`.

I'm not sure why the patch worked once.

Comma

[2016-05-18 04:19] bprashanth commented on #25745
I mean the version you see when you do `kubectl --namespace=kube-system get rc -l app=glbc -o yaml | grep image`, I'll try to repro with 0.6.2

[2016-05-18 04:22] johanhaleby commented on #25745
`kubectl --namespace=kube-system get rc -l app=glbc -o yaml | grep image` gives me no response, but running ``kubectl --namespace=kube-system get rc -l app=glbc -o yaml` gives me:

[code]

[2016-05-18 04:23] johanhaleby commented on #25745
@bprashanth If you find it more appropriate I'm also available on Slack.

[2016-05-18 04:25] johanhaleby commented on #25745
`kubectl --namespace=kube-system get rc` gives me:

[code]

So it looks like the lb controller is version 0.6.0 just like you say.

[2016-05-18 04:30] wojtek-t commented on #25762
I agree, but this is a medium-term goal. For 1.3 we are going to leave limits as they were so far (i.e. pods/cluster, nodes/cluster).

[2016-05-18 04:48] bprashanth commented on #25745
On HEAD:
[code]
So I ran `kubectl edit` and randomly removed some rules and it worked out.

If you want to upgrade, you should be able to kubectl edit the rc and modify the `image` tag to 0.6.2, and kill the pod. It will come up with the new image.  0.6.2 or higher will be the default in kubernetes 1.3.

I also don't think your "throttling" output is from describe, it's from kubectl, and it should

[2016-05-18 04:52] janetkuo commented on #25236
Closing since doc is updated

[2016-05-18 04:54] janetkuo commented on #24606
Closing since the fix is in

[2016-05-18 04:54] #24606 closed

[2016-05-18 04:59] spxtr commented on #25677
This one wasn't just flaky, it was outright broken, and it's back to just being flaky now :)

[2016-05-18 05:01] janetkuo opened #25788 "Fix how revisions are sorted in kubectl rollout history"
Ref https://github.com/kubernetes/kubernetes/issues/24858#issue-151367079 and https://github.com/kubernetes/kubernetes/issues/24858#issuecomment-219210074
`kubectl rollout history` should sort revisions correctly (10 should be after 9, not 1).

@kubernetes/kubectl @kargakis

[2016-05-18 05:22] yifan-gu opened #25789 "rktnetes: Density tests fails when running 50 pods per node"
Doing benchmark on rktnetes, the Density test works fine with 3 and 30 pods per node. But fails when running 50 pods per node. Because some pods failed to start at the first time. Here is the errors I got from `kubectl get events`

[code]

And

[code]

However, after several restarts, all the pods seem to be in the RUNNING state:

[code]

cc @kubernetes/sig-node @sjpotter @euank @jonboulle @iaguis

[2016-05-18 05:23] Crazykev commented on #24036
@duglin I am trying to implement a image puller and management in kubelet at first, then with a simple graphdriver to share base image between containers. Probably open a new issue to track task later.

[2016-05-18 05:30] johanhaleby commented on #25745
@bprashanth I've now tried upgrading to 0.6.2 and removed both the service (on a different node port) and the ingress and tried to recreate them but I end up this time is says: W0518 instead when I run `kubectl describe ing name`:

[code]
Running `kubectl --namespace=kube-system describe pod l7-lb-controller-v0.6.0-gt8qh` gives me:

[code]

so it indeed looks like it's using 0.6.2.

[2016-05-18 05:32] bprashanth commented on #25745
the throttling lines have nothing to do with ingress, you'll need to recompile kubectl with code that contains the fix

[2016-05-18 05:37] chrislovecnm commented on #25749
Revert in progress https://github.com/kubernetes/kubernetes/pull/25785

[2016-05-18 05:38] #241 closed

[2016-05-18 05:39] johanhaleby commented on #25745
Oh sorry I missed the part where you said the "throttling" was due to a bug with kubectl.

Is 50 a hard limit for ingress paths? We're trying to migrate a legacy app to kubernetes that has all this rules defined in Nginx. Would be nice if we didn't need to use nginx for this but if 50 is a hard limit I suppose we'll have to still use nginx.

[2016-05-18 05:46] mikedanese commented on #20
I think this has been superceded.

[2016-05-18 05:46] #20 closed

[2016-05-18 05:51] mikedanese commented on #2848
We rotate docker logs with log rotate

[2016-05-18 05:51] #2848 closed

[2016-05-18 05:54] livelace opened #25790 "Doesn't detect failed replication controller"
Configuration:

[code]

[root@kube-controller1 ~]# kubectl get pods
NAME          READY     STATUS             RESTARTS   AGE
nginx-4xf35   0/1       CrashLoopBackOff   5

https://paste.fedoraproject.org/367808/63550656/

[root@kube-controller1 ~]# kubectl get rc
NAME      DESIRED   CURRENT   AGE
nginx     1         1         6m

https://paste.fedoraproject.org/367809/46355072/

https://github.com

[2016-05-18 05:58] #6162 closed

[2016-05-18 05:59] mikedanese commented on #8731
This would be a feature of ingress. cc @bprashanth

[2016-05-18 06:00] #18990 closed

[2016-05-18 06:01] #17211 closed

[2016-05-18 06:02] bpradipt commented on #25730
@ixdy if you can share  min spec of the hardware required for CI (cpu, mem, disk), we can take a look and come back with availability.

[2016-05-18 06:04] mikedanese commented on #10126
cc @vishh

[2016-05-18 06:04] #9861 closed

[2016-05-18 06:07] bgrant0607 commented on #5789
Superseded by kubernetes/dashboard.

[2016-05-18 06:07] #5789 closed

[2016-05-18 06:08] #3681 closed

[2016-05-18 06:10] mikedanese commented on #3518
cc @madhusudancs

[2016-05-18 06:11] bprashanth commented on #25745
Don't have anything satisfying to say at the moment, there might be a way to make it work with some tricks around the path matchers let me chew on it

[2016-05-18 06:11] bgrant0607 commented on #5828
Obsolete

[2016-05-18 06:11] #5828 closed

[2016-05-18 06:12] #4046 closed

[2016-05-18 06:13] #3974 closed

[2016-05-18 06:14] mikedanese commented on #3853
All the things dawn listed are done so closing. Feel free to reopen. cc @wojtek-t since perf related

[2016-05-18 06:14] #3853 closed

[2016-05-18 06:15] matthewrudy commented on #24446
Resolved

[2016-05-18 06:15] #24446 closed

[2016-05-18 06:16] #4683 closed

[2016-05-18 06:16] mikedanese commented on #4672
cc @gtank

[2016-05-18 06:17] bgrant0607 commented on #6052
Node controller uses the Informer framework now.

[2016-05-18 06:17] #6052 closed

[2016-05-18 06:18] #4947 closed

[2016-05-18 06:21] bgrant0607 commented on #6067
Obsolete

[2016-05-18 06:21] #6067 closed

[2016-05-18 06:21] mikedanese commented on #4849
This is handled by pod security policy so I don't think we need the flag.

[2016-05-18 06:21] #4849 closed

[2016-05-18 06:23] mikedanese commented on #4806
There hasn't been a need for this. We can fix it when we move to using kubectl apply instead of the shell script.

[2016-05-18 06:23] #4806 closed

[2016-05-18 06:24] #5385 closed

[2016-05-18 06:24] bgrant0607 commented on #6081
Fixed by #4442

[2016-05-18 06:24] #6081 closed

[2016-05-18 06:27] mikedanese commented on #5871
Is this done? cc @fabioy

[2016-05-18 06:27] bgrant0607 commented on #6131
Obsolete (and not specific enough anyway)

[2016-05-18 06:27] #6131 closed

[2016-05-18 06:30] mikedanese commented on #6734
now that we support linearized reads, i don't think this is useful anymore.

[2016-05-18 06:30] #6734 closed

[2016-05-18 06:31] #6704 closed

[2016-05-18 06:32] #6599 closed

[2016-05-18 06:33] roberthbailey commented on #5871
GKE supports heterogeneous nodes. The kube-up shell scripts don't (although they do support multi-zone clusters, so maybe you could somehow take advantage of that to achieve the desired result).

@mikedanese -- will the new deployment scripts support this? I don't think it's worth adding into the kube-up scripts at this point.

[2016-05-18 06:34] #6913 closed

[2016-05-18 06:35] johanhaleby commented on #25745
👍

[2016-05-18 06:36] mikedanese commented on #5871
Ya it's pretty trivial in the new deployment scripts. Ok, I'm going to close then.

[2016-05-18 06:36] #5871 closed

[2016-05-18 06:38] mikedanese commented on #7122
UI is gone.

[2016-05-18 06:38] #7122 closed

[2016-05-18 06:38] bgrant0607 commented on #6348
Obsolete

[2016-05-18 06:38] #6348 closed

[2016-05-18 06:39] mikedanese commented on #7205
I agree that this is stale.

[2016-05-18 06:39] #7205 closed

[2016-05-18 06:39] mikedanese commented on #7205
Coreos is running e2e on rkt.

[2016-05-18 06:41] lavalamp commented on #24753
ref https://github.com/kubernetes/contrib/pull/1006

[2016-05-18 06:47] mikedanese commented on #8231
this is very stale at this point, probably not worth leaving open

[2016-05-18 06:47] #8231 closed

[2016-05-18 06:51] bgrant0607 commented on #6440
FLANNEL_MTU also looks like it is used but not set in https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker-multinode/master.sh

[2016-05-18 06:51] mikedanese commented on #8048
cc @vishh @pwittrock

[2016-05-18 06:51] #8048 closed

[2016-05-18 06:54] bgrant0607 commented on #6464
Closing in favor of #2770

[2016-05-18 06:54] #6464 closed

[2016-05-18 06:55] #8496 closed

[2016-05-18 06:57] bgrant0607 commented on #6617
Not likely to change this. It would be a breaking API change.

Also, we require a single distinguishing field to use as the merge key.

[2016-05-18 06:57] #6617 closed

[2016-05-18 06:58] mikedanese commented on #8412
Seems stale, feel free to reopen

[2016-05-18 06:58] #8412 closed

[2016-05-18 07:01] bgrant0607 commented on #6743
Obsolete

[2016-05-18 07:01] #6743 closed

[2016-05-18 07:05] bgrant0607 commented on #6835
kube-version-change is gone, but the issue also applies to other operations, like kubectl convert.

[2016-05-18 07:10] bgrant0607 commented on #7242
cc @kubernetes/deployment

[2016-05-18 07:12] bgrant0607 commented on #7296
Would be a `kubectl set` command. #21648

[2016-05-18 07:19] roberthbailey commented on #5871
excellent.

[2016-05-18 07:22] bgrant0607 commented on #22061
See also #7369

[2016-05-18 07:27] xiangpengzhao opened #25791 "unit/integration flake: No test results found"
My PR #25024 failed for `Jenkins unit/integration — No test results found.` @vishh once helped to trigger the test again, but failure still exists.

#25674 reports a similar problem `Jenkins GCE e2e — No test results found.`

I also find that several PRs have the same unit/integration flake: #25737, #25771, etc.

@lavalamp would you please help to check this? Thanks!

The build-log is shown as bel