[2018-12-03 23:22] #71505 closed

[2018-12-03 23:48] nyetwurk commented on #24744
@fOO223Fr Thanks!

[2018-12-03 23:49] redbaron commented on #71411
Interesting, are any drawbacks of passing initiator's credentials all the way to kubelet? Would it allow to eliminate one more "superuser" in the form of APIServer?

[2018-12-03 23:56] timothysc opened #71677 "k/k is the canonical source of all build artifacts."
xref: https://github.com/kubernetes/kubernetes/issues/71530

The release-repo contains aspects of the release that we know it should not own.  For example, it owns the publishing of .deb and .rpm artifacts and they are not properly maintained and versioned.  This has been the state of affairs for far too long.

This issue exists as a tracking/umbrella issue to factor out the build artifacts such t

[2018-12-03 23:57] liggitt commented on #71411
Exposing initiator's credentials broadly to the cluster is a non-goal.

Additionally, many API callers have non-forwardable credentials (TLS client certificates). The apiserver could forward information about the initiator to the kubelet, but that information would have to be trusted (e.g. initiator info in headers, verified by mTLS connection proving the apiserver provided the info). Interestingl

[2018-12-03 23:57] timothysc commented on #71530
closing in favor of #71677

[2018-12-03 23:57] #71530 closed

[2018-12-03 23:58] timothysc commented on #71677
/cc @mauilion @kubernetes/sig-cluster-lifecycle

[2018-12-04 00:05] timothysc commented on #71677
/assign @timothysc @dims @ixdy @BenTheElder

[2018-12-04 00:05] timothysc commented on #71677
![image](https://user-images.githubusercontent.com/169553/49409383-0cc73580-f726-11e8-923a-3411f224b7fd.png)

[2018-12-04 00:06] AndresPineros commented on #71411
For clarification, the attacker requires direct access to the Kubernetes API endpoint in order to exploit this vulnerability, right? If the API is behind a firewall, the cluster can't be attacked even with publicly exposed services via LoadBalancer resources.

[2018-12-04 00:57] roycaihw commented on #64536
/remove-lifecycle stale

[2018-12-04 01:52] chrisanthropic commented on #71411
@liggitt - I'm having a hard time understanding the full extent of this. If the API is in a private network (no public exposure), with RBAC enabled, but `--anonymous-auth=true` still around, would it still be vulnerable to this?

[2018-12-04 01:57] liggitt commented on #71411
The first step in the escalation is a properly authorized request to the kube-apiserver that gets proxied to a backend server. A malicious request must be able to reach the kube-apiserver for the vulnerability to be exploited.

[2018-12-04 02:03] idevz commented on #67141
@bladerunner512 have you fix this issue? or do you have any  idears? I have just meetting the same.

[2018-12-04 02:04] Pingan2017 commented on #30189
Have any plan for this? @yujuhong

[2018-12-04 02:05] WingkaiHo commented on #68546
@uablrek  my use ib network with mtu 65520.  The latency of ipvs service is higher than iptables service. I guess if mtu of ipvs

[2018-12-04 02:11] chrisanthropic commented on #71411
That's what I thought, thanks so much for taking the time to answer so quickly!

[2018-12-04 02:33] feiskyer commented on #71594
oops, didn't notice this is a really active cluster. cloud provider would update all vmss instances whenever there're service or backend changes. Could you add other vmss node pools in the same cluster? In that way, each vmss could be upgraded separately.

[2018-12-04 02:57] mikedanese commented on #7452
https://github.com/kubernetes/kubernetes/issues/71411 is an example of the dangers of dropping an http connection to TCP. There's a category of bugs to be avoided but this one was particularly insidious.

[2018-12-04 03:12] danielqsj opened #71683 "Should fix typos like limitting"
**What happened**:
There are some files and comments using `limitting` and `limitted`, but these words are typos.

**What you expected to happen**:
Should rename them with `limiting` and `limited`.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): master branch
- Cloud provider or

[2018-12-04 03:14] danielqsj commented on #71683
/assign

[2018-12-04 03:46] BenTheElder opened #71685 "PR template is slightly unclear"
**What happened**: The PR template is a little unclear to new contributors.

EG:
[code]

If I understand what "uncomment" is, and leave it on it's own line I get:
[code]
which has two problems:
- I probably left the space after the `>` (so the bot regex won't match)
- I probably didn't put a newline before the uncommented line, which is necessary for it to not just continue to be a comment block:

[2018-12-04 04:48] BenTheElder commented on #71685
/remove-kind cleanup

[2018-12-04 04:49] mauilion commented on #71677
linking https://github.com/kubernetes/kubernetes/pull/71686

[2018-12-04 05:09] eddieparker opened #71688 "Parallel Job with work queue: if all pods evicted, new pods never respawned."
**What happened**:

I have a job set up as a "parallel job with work queue": that is, completions is unset and parallelism is set to N, where N is the number of pods I want to spin up.

At some point, the cluster got crowded out and all my pods for the job got evicted:

[code]

Looking at the job (kubectl describe job) I see that none of them have succeeded:

[code]

So I'd expect that once the pr

[2018-12-04 05:13] sarkistlt opened #71689 "prevent unhealthy pod from deployment"
I was trying to find some alternative for docker-swarm rollback command, which allow you to specify rollback strategy in deployment file. In k8s ideally it should use`readinessProbe`, and if didn't pass`failureThreshold` it should rollback, before starting deployment of the next pod (to avoid downtime).

Currently in my deployment script I'm using hook `kubectl rollout status deployment $DEPLOYMEN

[2018-12-04 05:49] tossmilestone commented on #71411
@liggitt Hi, I want to know why the issue isn't fixed in 1.9.x?

[2018-12-04 05:51] tuminoid commented on #71411
Pardon stupid question, but is Heapster considered aggregated API server same as metrics server?

[2018-12-04 06:01] liggitt commented on #71411
Kubernetes supports the most recent three minor releases. The currently supported releases are 1.10.x, 1.11.x, and 1.12.x

No, Heapster is not an aggregated API server. Aggregated API servers register `APIService` objects with non-nil `spec.service` fields, and requests to `/apis/<apiGroup>/<apiVersion>[/...]` endpoints on the kube-apiserver are proxied to the appropriate aggregated server.

[2018-12-04 06:06] lolspider commented on #66231
i have same problem, how to solve it ? why closed?

[2018-12-04 06:09] lolspider commented on #66231
@hwdevops  resoved? how? thx

[2018-12-04 06:18] faraazkhan commented on #71689
Have you tried setting `spec.rollingUpdate.maxUnavailable: 0%` in your deployment, this will force all new pods to come up and be ready before old pods are retired. If new pods are unhealthy, the rollout will fail and you can undo the deployment.

[2018-12-04 07:31] tossmilestone commented on #71411
@liggitt Are there any detail procedures to reproduce the issue? So we can verify that if we have fixed it on 1.9.x.

[2018-12-04 07:34] cizixs commented on #71411
How to reproduce the issue, so we can the kubernetes version is affected by this issue?

An example script/command shows how `kubectl exec` can get all pods information on that node can be helpful.

[2018-12-04 07:43] mysunshine92 commented on #71689
/sig app

[2018-12-04 07:44] mysunshine92 commented on #71688
/sig apps

[2018-12-04 07:47] mysunshine92 commented on #71661
/sig node

[2018-12-04 07:49] mysunshine92 commented on #71665
/sig node

[2018-12-04 08:00] feiskyer commented on #70711
The PR  #70663 has been merged now. No issues any more?

[2018-12-04 08:08] feiskyer commented on #65498
I think the issue has been fixed in the latest acs-engine. @no-stupid-questions Do you still have the issue?

[2018-12-04 08:12] langerkunal opened #71692 "Getting "runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized""
**What happened**:  Used kubeadm init --pod-network-cidr=10.244.0.0/16. And then executed suggested commands.
Selected flannel pod-network:
sysctl net.bridge.bridge-nf-call-iptables=1.
wget https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml.
kubectl apply -f kube-flannel.yml.
kubectl get pods --all-namespaces:
When I run kubectl get nodes I see the state of Mast

[2018-12-04 08:16] langerkunal commented on #71692
@kubernetes/sig-Network-bugs

[2018-12-04 08:19] langerkunal commented on #71692
@kubernetes/sig-network-bug

[2018-12-04 08:20] langerkunal commented on #71692
sig/network

[2018-12-04 08:21] unludo opened #71693 "k8s api not available during nodepool with autoscaling add/remove node"
**What happened**:

Each time a node is added to a nodepool, the cluster enters upgrading status. During this time, the kubernetes api is not available, even for k8s system itself.
For example: k8s.io/dns/pkg/dns/dns.go:192: Failed to list *v1.Service: Get https://10.0.0.1:443/api/v1/services?resourceVersion=0: dial tcp 10.0.0.1:443: connect: connection refused
This means that the GKE console can'

[2018-12-04 08:34] unludo commented on #71693
/sig-autoscaling

[2018-12-04 08:42] unludo commented on #71693
/sig autoscaling

[2018-12-04 08:52] unludo commented on #71693
@kubernetes/sig-api-machinery-bugs
@kubernetes/sig-autoscaling-bugs
@kubernetes/sig-gcp-bugs

[2018-12-04 09:10] yha342 commented on #71411
Is it enough to just update the API Server to a fixed version, or should all the components (scheduler, kubelet, etc.) be updated to the fixed Kubernetes version to be secure?

[2018-12-04 09:20] weilai201 opened #71695 "Can write IP Address in ingress's host"
I depoy my ingress-nginx controller use 'hostNetwork: true'.
When I do not configure the 'host' in my ingress.yaml file. Now, I can visit my app use the host ip (such as 'http://192.168.56.201/app/index.html') where the ingress-nginx-controller pod deployed.
But i found the 'session affinity' cannot take effect. So I read the source code of ingress-nginx. I found it use the http request header 'Ho

[2018-12-04 09:32] mborsz opened #71697 "Framework.CreateNamespace can leak namespaces on retry"
**What happened**:
In https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-killer/83 the test failed due to namespace leakage:
1. First we created e2e-tests-load-30-nodepods-1-pfn9m, but never got response from api server (got 0-length response instead)
2. Then we retried and created e2e-tests-load-30-nodepods-1-m9tq5
3. We added e2e-tests-load-30-nodepods-

[2018-12-04 09:33] mborsz commented on #71697
/cc @kubernetes/sig-testing

[2018-12-04 09:58] moshloop opened #71699 "FailedSync event should include reason / message"
**What would you like to be added**:

Copy some of the Last State information (Reason / Message / Exit Code) to the FailedSync message detail

**Why is this needed**:

To improve first-time usability - the events naturally appear at the bottom of a kubectl describe po output, you have to know to scroll up to the state section to actually identify the root cause.

If accepted I am happy to work on

[2018-12-04 10:00] redbaron commented on #71411
@yha342 , fix is in the apiserver codebase, so it should be enough to update just it

[2018-12-04 10:00] moshloop commented on #71699
/sig cli

[2018-12-04 10:34] qzio commented on #58065
Just want to report that I get similar problem using tinyproxy.

`curl: (56) Received HTTP code 403 from proxy after CONNECT`

However, using squid with the default configuration and
`HTTP_PROXY=<proxy-ip-and-port> HTTPS_PROXY=<proxy-ip-and-port> kubectl get pods` I get through without any error

[2018-12-04 10:39] kivagant-ba commented on #71411
Does this affect ELB/ALB/Ingress controllers in any way? I mean if K8s API is hidden in a private network but load balancers are wide open, is it possible to use this vulnerability?

[2018-12-04 10:44] yue9944882 commented on #67761
no, the same items in the queue will be dedupped. which is just as you say, 1 consumer for 1 item exactly.

[2018-12-04 10:54] #71482 closed

[2018-12-04 10:54] #61326 closed

[2018-12-04 10:58] Nebulazhang commented on #67761
I'm sorry I lost these branches and PRs,  this is my first PR in K8S.

[2018-12-04 11:02] Nebulazhang commented on #67761
there are 5 worker waiting for the key at the same time. When an item arrives, it  be consumed before it is dedupped. So that maybe 5 workers update the resource quota at the same time and lead to conflict

[2018-12-04 11:02] nikhita commented on #71683
/remove-kind bug
/kind cleanup

[2018-12-04 11:06] heikoettelbruecksap opened #71715 "OpenID Connect: Identify user by more JWT claims than just a single one"
Summary:

In our use case, ID tokens of our OpenID connect provider (CF UAA) don't have a single claim that
* uniquely identifies a user and
* is human-readable (= usable in a Kubernetes cluster, e.g. for role bindings, auditing).
However, currently the API server only supports choosing a single claim (=> usernameClaim) which is treated as (expected to be unique) user name within the cluster.
Basi

[2018-12-04 11:15] nikhita commented on #45542
/lifecycle frozen

[2018-12-04 11:16] luxas commented on #61326
Shall we reopen this to track the scalability implications or will you create a different issue to track that @jpbetz @gyuho?

[2018-12-04 11:22] wgliang commented on #71662
Very good proposal and question.
IMO, GeneralPredicates should be the default predicates outside of the scheduler policy.

[2018-12-04 11:50] xuxiaosen opened #71704 "Failed to start ContainerManager failed to get rootfs info: unable to find data in memory cache"
Hi all:
  I have used systemctl to start kubelet(version 1.12.3, 1.11.1 were both tested), but it never start successful.

systemctl -xeu kubelet log shows:
Dec 03 21:33:42 g88d03421.na61 kubelet[46672]: W1203 21:33:42.466504   46672 container.go:507] Failed to update stats for container "/system.slice/systemd-udev-trigger.service": failure - /sys/fs/cgroup/cpuset,cpu,cpuacct/system.slice/systemd-

[2018-12-04 12:18] stafot commented on #51096
Same experience here `EKS` too. `c5` instances.

[2018-12-04 12:24] inercia opened #71705 "kubeadm doesn't properly configure CoreDNS when using a local dnsmasq"
**What happened**:

The CoreDNS pods started by kubeadm crash because of a loop. `dnsmasq` is runnig in the host where kubeadm has been started, so the local DNS resolution is comnfigured as:

[code]

where the `dnsmasq` is running at `0.0.0.0:53`. However, the CoreDNS instance seems to be forwarding requests to 127.0.0.1, leading to this loop. Looking at the crashed container logs:

[code]

And i

[2018-12-04 12:37] shahaf600 opened #71706 "KUBE-PROXY: proxier.go:1306] Failed to execute iptables-restore: exit status 1 (iptables-restore: line 16 failed"
/sig network
/sig node
**What happened**:
we have a deployment of 800 pods, there was a redeployment yesterday of all the pods at once(don't know why it wasn't with rolling update, usually it is). we have a cluster of 113 nodes and this deployment is probably spreaded on all of the nodes, so all of the pods were recreated at once so in 23 of the servers we saw in kube-proxy logs that it could not

[2018-12-04 12:37] edbergavera commented on #71671
@mitpwd does this only affect v1.8.x?

[2018-12-04 12:45] yue9944882 commented on #67761
apologies. i meant the delta fifo in the informer will dedup items on duplication, not the controller's work queue you are mentioning above.  while,  as for the work-queue in the controller, duplicated items will be saved into dirty set until its completely processed (which ends up by `Done()`) by one of the workers. so still, one resource quota will be consumed by one worker. does that make sense

[2018-12-04 13:02] luxas commented on #71202
ping @Lion-Wei

[2018-12-04 13:09] krzysied commented on #71659
![allocations](https://user-images.githubusercontent.com/25119199/49443011-7cdbc700-f7cb-11e8-8b67-851d4cd8ed21.png)

It "hacked" perfdash to get some older results of scheduler benchmark:
- Point 1 is version from commit you pointed out. You are right is cause some additional allocations. It looks like it also cause some problem with performance.
- Point 2 is https://github.com/kubernetes/kuberne

[2018-12-04 13:13] m1093782566 commented on #71202
Yes，we are
发件人：Lucas Käldström
收件人：kubernetes/kubernetes,
抄 送：dujun (D),Mention,
时间：2018-12-04 21:03:57
主 题：Re: [kubernetes/kubernetes] Trace works about enable the ipvs mode for the kube-proxy by default (#71202)

Are you intending to target 1.14?

ping @Lion-Wei<https://github.com/Lion-Wei>

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<http

[2018-12-04 13:16] rosti commented on #71705
Thanks for filing this @inercia !

This is similar to the issues we had in the past with systemd-resolved. In that case we simply redirected the kubelet to use the "real" `resolv.conf` (the one that systemd-resolved is maintaining for compatibility reasons and is pointing directly to the upstream DNS servers).
I'll check if we can do something similar to this with dnsmasq too.

/assign
/lifecycle

[2018-12-04 13:22] luxas commented on #71202
Ok. We need to extensively build out e2e testing for this then.

[2018-12-04 13:22] luxas commented on #71202
cc @kubernetes/sig-testing @kubernetes/sig-cluster-lifecycle @kubernetes/sig-network-feature-requests @kubernetes/sig-architecture-feature-requests for visibility, as this is significant

[2018-12-04 13:30] inercia commented on #71705
Thanks for your reponse @rosti. Fixing it for dnsmasq could be a good solution, but I was wondering if `kubeadm` should also provide some configuration option for overriding the upstream DNS server. I think this could help in this kind of situations where the upstream DNS server is not properly detected, and at the same time maybe some users wouldn't be interested in propagating to the cluster the

[2018-12-04 13:33] gosoon opened #71707 "What is the difference between kube-controller-manager and kube-scheduler to use kubeconfig and config file，there is a strange error"
Kubernetes v1.8.1
kube-controller-manager and kube-scheduler use  /etc/kubernetes/config,the config is:
[code]
And the cluster have errors. kube-controller-manager and scheduler log error is :
[code]
Then I test kubec-controller-manager and scheduler use kubeconfig file,the  kubeconfig file is:
[code]
And the cluster is ready.

/sig auth

[2018-12-04 13:36] pdhung commented on #71411
If the request cannot reach the API servers, the exploit cannot work. But if a user in your cluster can use kubectl, it means that they can connect to K8s API Server, and the CVE can be applied here.

[2018-12-04 13:49] PhillipAmend commented on #71279
@chaosaffe @ainmosni

I'm getting on this!

[2018-12-04 13:54] rosti commented on #71705
@inercia I was thinking along these lines too. It certainly help in these kinds of situations, where we have a local DNS cache, provided by the OS, but we don't want to use it. Certainly, with systemd-resolved escaping from the situation (by redirecting to a different `resolv.conf`) was an easy matter. However, dnsmasq proves a bigger challenge.
I'll try to think of as many different options as I

[2018-12-04 13:56] chrisohaver commented on #71705
Yes, there any number of ways a local DNS cache can be set up on a system. And while putting a loopback address into `/etc/resolv.conf` would be a common trait among them all, the location of the "real"  `/etc/resolv.conf`  is arbitrary (if it even still exists).  Allowing an override of kubelet's resolv-conf would give everyone a simple workaround, without having to go back and manually change ku

[2018-12-04 13:57] wojtek-t commented on #71659
Yes - that was what I had on my mind.

But you're saying that it was fixed? Then the regression must be something different, right? But there weren't any other changes in the original range in scheduler that look suspicious.

[2018-12-04 14:15] krzysied commented on #71659
Ok. I see I created misunderstanding, so I will clarify.

IMHO there were two problem:
- Upfront it allocated array of size #nodes for each config.
`results[i] = make(schedulerapi.HostPriorityList, len(nodes))`
This was fix.
Btw, I though that's what you meant by "unnecessary memory allocations".
- Iterating over copies
`for i, priorityConfig := range priorityConfigs`
I'm not sure whether this wil

[2018-12-04 14:29] liggitt commented on #71671
v1.10.11 also contains the fix

[2018-12-04 14:36] chaosaffe commented on #71279
/cc @chaos

[2018-12-04 14:36] chaosaffe commented on #71279
/cc @chaosaffe

[2018-12-04 14:38] krish7919 commented on #70421
I recently moved to NLB (from ALB) and am running into this issue too.

[2018-12-04 14:40] chrisohaver commented on #71705
Great, so sounds like the option is already there.

I think automagically do it for _dnsmasq_, _kubeadm_ would need to locate _dnsmasq's_ running configuration and parse its flags.  If I recall correctly, _dnsmasq_ can be configured to use an alternate `resolv.conf`, but also can be configured with the upstream IPs directly via `--server` flags.

[2018-12-04 14:40] hongkunyoo opened #71708 "Providing Job sequence number through environment variable"
**What would you like to be added**:
When submitting a job with *completions* filed specified,
1) I want Kubernetes to provide a job sequence number through environment variable
ex)
`printenv`

HOME=/root
other_envs...

Or

2) Generate pod name with sequence number similar to StatefulSet.
ex) myjob-0, myjob-1, ...
Then I can find out which sequenced job I am running inside the container.

**Why is

[2018-12-04 14:55] rosti commented on #71705
That is correct. However, there is a third way to configure dnsmasq. That is thorough D-Bus and is provided for runtime configuration of dnsmasq from a DHCP client (if a lease expires). This is used by Network Manager for example.
If dnsmasq is configured like this, the only sure way to find out what the upstream DNS servers are, is to parse the logs.

[2018-12-04 14:56] inercia commented on #71705
So I'm not an expert on this, but from my understanding of this proposal, each node in the cluster could override the `/etc/resolv.conf` used in containers and, by extension, the upstream server used by CoreDNS. Isn't this a bit concerning taking into account that the CoreDNS replicas could end up being run in machines with different `/etc/resolv.conf`s? Wouldn't be better just to allow users to s

[2018-12-04 15:01] luxas commented on #58010
@kubernetes/sig-node-bugs ping

[2018-12-04 15:01] chrisohaver commented on #71705
It's better to fix the core issue in kubelet configuration.  Hard setting the Coredns config only fixes things for coredns.  It would leave the problem in place for all other pods with dnsPolicy=default.

[2018-12-04 15:05] luxas commented on #64460
@steven-sheehy that's why we added `--cri-socket` to `kubeadm upgrade`, but it's not nice :/

[2018-12-04 15:05] shahaf600 commented on #69658
related to this issue, I work with @aalubin on the same team.
after fixing this issue, I found the metrics-server can't get any data from any node with crio although i see in the hpa description the data:

$ kubectl describe hpa
Name:                                                  ****************
Namespace:                                             algo-prod
Labels:

[2018-12-04 15:11] chrisohaver commented on #71705
A cluster wide option would be nice, since thats how most people will want to deploy (all nodes using the same upstreams). There are cases where you don't want all nodes to use the same upstream DNS, for example, a distant set of nodes may use a closer local upstream DNS.

[2018-12-04 15:12] luxas commented on #69896
@ixdy I think we can just go ahead and start the deprecation cycle for this. WDYT?
cc @david-mcmahon @BenTheElder @kubernetes/sig-cluster-lifecycle

[2018-12-04 15:12] luxas commented on #69896
cc @dims @mkumatag as well

[2018-12-04 15:23] dims commented on #69896
+1 to nuke it

[2018-12-04 15:27] justmeandopensource opened #71711 "v1.13.0 kubectl intermittently can't connect to api server"
**What happened**:
I was using Kubernetes v1.12.x without any issues since its release on CentOS 7 machines. I use kubeadm method for installation using kubernetes repo. I got a vagrant file that does this automatically.
https://github.com/justmeandopensource/kubernetes/vagrant-provisioning.

Today after vagrant provisioned the cluster, I noticed Kubernetes v1.13.0 got installed from Kubernetes re

[2018-12-04 15:32] luxas commented on #23225
@kubernetes/cloud-provider-gcp-maintainers @MrHohn I'm closing this issue, I guess it is done.
If it's not, you may reopen, but if so kube-up/GKE is probably the only one that doesn't run kube-proxy in DS...

[2018-12-04 15:36] luxas commented on #50752
@feiskyer @khenidak What's the current status of this? Are you expecting to go beta/GA/stable with the Azure out-of-tree provider soon?

[2018-12-04 15:37] luxas commented on #45363
cc @kubernetes/sig-cluster-lifecycle

[2018-12-04 15:42] shahaf600 opened #71712 "metrics-server can't pull data from nodes with cri-o related to #69658"
/kind bug

/sig node
/area kubelet
/area kubelet-api

**What happened**:
related to this issue #69658 , I work with @aalubin on the same team.
We are trying to migrate from docker to cri-o for container runtime
after fixing the other issue (#69658 ), I found the metrics-server can't get any data from any node with crio although i see in the hpa description the stats. also metrics-server outputs a

[2018-12-04 15:42] justmeandopensource commented on #71711
/sig cli

[2018-12-04 15:43] justmeandopensource commented on #71711
/sig network

[2018-12-04 15:44] justmeandopensource commented on #71711
/area kubelet
/area kubelet-api

[2018-12-04 15:46] luxas commented on #25730
This can be done with federated testing now, and is the recommended way. If you have a PowerPC cluster, you can run it using kubeadm, and submit the e2e results to testgrid. The k8s community is not gonna do it for you (as we don't have machines), but feel free to help out with this here :smile:
If you want to set up federated testing you can open an issue in test-infra to add the bucket, once you

[2018-12-04 15:46] #25730 closed

[2018-12-04 15:48] apatil commented on #71411
Could someone give an example of an aggregated API endpoint that is usually enabled by default?

[2018-12-04 15:52] luxas commented on #49213
@mikedanese @kubernetes/cloud-provider-gcp-maintainers What's the status of moving out the GCE cluster setup code you have to the new cloud-provider repo in favor of `cluster/`?

[2018-12-04 15:53] alex-nt commented on #71711
I have the same issue after installing the new version. I tried a clean install using `kubeadm` on a new node. The containers for etcd, controller-manager, api-server and scheduler keep getting restarted. In the few seconds I get everything working I was able to see the restarts for each pod:

[code]

Warnings I was able to see:

 - api-server - `I1204 15:28:21.391514       1 log.go:172] http: TLS

[2018-12-04 15:53] justmeandopensource commented on #71711
Apart from the two errors mentioned I also get the below one
[code]

[2018-12-04 15:55] liggitt commented on #71411
the metrics server is an aggregated API server, so `/apis/metrics.k8s.io/v1beta1` is often a valid endpoint

[2018-12-04 15:55] justmeandopensource commented on #71711
@alex-nt
Thanks for providing more information. I see the same details in my environment as well.
The etcd and apiserver pods gets restarted constantly.

Thanks.

[2018-12-04 15:57] inercia commented on #71705
Thanks for the clarification @chrisohaver . I don't have a strong opinion on this, but I think both options could be equally interesting. Some users could need to specify a cluster-wide CoreDNS upstream server, while some users could need to set node-specific DNS resolution options....

[2018-12-04 16:07] luxas commented on #38890
ping @kubernetes/sig-network-feature-requests

[2018-12-04 16:11] luxas commented on #70707
What's the exit criteria for this issue? To make kubeadm implement it or some others as well?
With kubeadm we get kind/minikube/kubespray support for this feature for "free"
kops maybe @justinsb?

[2018-12-04 16:14] luxas commented on #69896
/assign @dims
:wink:

[2018-12-04 16:16] apatil commented on #71411
What is the safest way to "suspend use of aggregated API servers" and to "remove all anonymous access to all aggregated APIs" (https://github.com/kubernetes/kubernetes/issues/71411#issue-384280279) ?

Is it sufficient to move aside the proxy-client-key-file mentioned here: https://kubernetes.io/docs/tasks/access-kubernetes-api/configure-aggregation-layer/#enable-apiserver-flags ?

[2018-12-04 16:33] r7vme commented on #66103
we affected by this issue too. usually restart of kube-proxy does the job.

[2018-12-04 16:39] mikedanese commented on #49213
It's blocked on decoupling from e2e. Someone needs to do the work, and it unfortunately hasn't been prioritized.

[2018-12-04 16:47] shatil commented on #68083
Same boat, and it took forever to debug. On EKS with _only private subnets_ `kubectl describe service ingress-nginx` showed this error:

[code]

I re-created the cluster to include public subnets (i.e., subnets _not_ tagged with `kubernetes.io/role/internal-elb=1`), and EKS created an internet-facing ELB without either of these annotations applied:

[code]

It's definitely expecting `service.beta.

[2018-12-04 16:48] gyuho commented on #61326
@luxas Was there any scalability issue related to etcd 3.3 upgrade?

[2018-12-04 16:50] calvix commented on #66103
+1

[2018-12-04 16:50] PrasadG193 commented on #68957
Hi @misterikkit,
We need to find a way to pass FeatureGate (from scheduler) to ResourceAllocationPriority{} struct (https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/algorithm/priorities/balanced_resource_allocation.go#L29) since it is called when the package is imported. Rest of the changes are done and can be seen at https://github.com/PrasadG193/kubernetes/commit/4abbf63d31e258

[2018-12-04 16:56] strouja commented on #71411
Don't laugh at this question. is Kubernetes version 1.7.11 affected?  I would assume so.  But if anyone can confirm this will help me out considerably.  Thanks James

[2018-12-04 16:57] chrisjgray commented on #71411
I would say Yes, as Kubernetes v1.0.x-1.9.x 1.7.x falls within that range.

[2018-12-04 17:01] kfox1111 commented on #65153
/remove-lifecycle stale

Whats the status of this?

[2018-12-04 17:02] mikedanese commented on #23225
I'd like this to be the on by default in our CI before we resolve. @MrHohn have we made progress on this?

[2018-12-04 17:06] shomron opened #71714 "NewFilteredDynamicSharedInformerFactory ignores namespace parameter"
**What happened**:

The `NewFilteredDynamicSharedInformerFactory` constructor takes a `namespace` argument which is meant to populate a member and be passed along to new informers constructed in `ForResource`. However, `namespace` is ignored and the `namespace` member is initialized to `metav1.NamespaceAll` instead.

**What you expected to happen**:

I exepected `NewFilteredDynamicSharedInformerFa

[2018-12-04 17:07] cadeniyi commented on #65153
I need to look at what the new 1.13 release does before I can answer this.
Hopefully I will do this in the next week.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: kfox1111 <notifications@github.com>
Sent: Tuesday, December 4, 2018 5:02:47 PM
To: kubernetes/kubernetes
Cc: Chris Adeniyi-Jones; Manual
Subject: Re: [kubernetes/kubernetes] Pod Checkpoint files with

[2018-12-04 17:10] shomron commented on #71714
/sig api-machinery

[2018-12-04 17:10] inercia commented on #71705
This seems to be a duplicate of kubernetes/kubeadm#1292. Clossing in favor of the kubernetes/kubeadm issue.

[2018-12-04 17:10] #71705 closed

[2018-12-04 17:41] andrewsykim commented on #49402
Yup we're working through this. I'm not sure we're at a place yet where we can remove that dependency given some providers still depend on it (e.g. `AddSSHKeyToAllInstances`). I think we're in agreeance that the SSH key feature should be removed (or at least shift responsibility to something that is not "core") but we need to be careful not to break anything. Our main focus right now is https://gi

[2018-12-04 18:47] msau42 commented on #71570
@cofyc could you help look at this for local PV tests?

[2018-12-04 18:51] msau42 opened #71716 "Still some flaky volume binding integration tests"
**Which jobs are failing**:
pull-kubernetes-integration

**Which test(s) are failing**:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestVolumeBinding

The flake rate is much better than before, but there are still some occasional flakes.

/kind failing-test

[2018-12-04 18:51] msau42 commented on #71716
cc @cofyc do you have time to investigate?

[2018-12-04 18:52] msau42 commented on #71716
@kubernetes/sig-storage-test-failures

[2018-12-04 19:07] neolit123 commented on #70707
updated KEP link:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/0030-nodelocal-dns-cache.md

@prameshj
what is the maintanance status of the `k8s-dns-node-cache` container in the dns repo?

with this PR adding cache to kubeadm, we don't want to end up in a state where sig-network no longer maintains the cache layer over at https://github.com/kubernetes/dns:
https://github

[2018-12-04 19:09] bsalamat commented on #71659
@wojtek-t as @krzysied mentioned, part of the code is changed, but another part is still the same. https://github.com/kubernetes/kubernetes/pull/70892 is the change submitted later to fix a race introduced in the first PR.
I will send a PR to change the loop and avoid copies. Let's see if it addresses the problem.

[2018-12-04 19:14] MrHohn commented on #65114
/reopen

[2018-12-04 19:15] MrHohn commented on #65114
/remove-lifecycle rotten

[2018-12-04 19:17] yifan-gu commented on #70897
Anyone looking into this?

[2018-12-04 19:19] yifan-gu commented on #71018
This issue is preventing us from switching to the cloud controller manager. Is anyone looking into this?
I also confirmed that this happens on 1.12.2 too.

[2018-12-04 19:33] cjschaef opened #71719 "hyperkube images affected by multiple CVE's"
**What happened**: Debian hyperkube images built for the v1.10, v1.11, v1.12 and v1.13 releases contain multiple security vulnerabilities. `CVE-2018-17456 CVE-2018-0732 CVE-2018-0734 CVE-2018-0735 CVE-2018-0737 CVE-2018-5407 CVE-2018-18311 CVE-2018-18312 CVE-2018-18313 CVE-2018-18314 CVE-2018-1060 CVE-2018-1061 CVE-2018-14647 CVE-2018-1000802`

**What you expected to happen**: Latest debian hyperk

[2018-12-04 19:40] apatil commented on #71411
@liggitt Sorry to bug you, but it would be a huge help to get an answer to my questions in https://github.com/kubernetes/kubernetes/issues/71411#issuecomment-444158981 .

[2018-12-04 19:49] cjschaef commented on #71719
/sig release

[2018-12-04 19:57] sarkistlt commented on #71689
@faraazkhan yes I think this is what I'm looking for, thanks!

[2018-12-04 19:57] #71689 closed

[2018-12-04 20:00] neolit123 commented on #71671
@mitpwd
something you can do is to either mitigate or extract the patch for 1.10:
https://patch-diff.githubusercontent.com/raw/kubernetes/kubernetes/pull/71415.diff

and apply it to a custom k8s build.

**but really the best thing to do is update**, because this is not the only critical fix that is missing in 1.8....

[2018-12-04 20:08] prameshj commented on #70707
kubeadm and kops would be a great.

[2018-12-04 20:11] prameshj commented on #70707
Thanks for sending the PR. sig-network will be maintaining the dns-node-cache image.

[2018-12-04 20:15] neolit123 commented on #70707
with kube-dns being deprecated, i have concerns about that image.

[2018-12-04 20:16] VineetReynolds commented on #52590
Is it possible to reopen this issue?

We have a similar usecase to Rook. We've written a custom Flexvolume driver, where we need access to the PV options during volume unmounting. We have a tiered storage solution where volumes are mounted on a local disk, but the volume is populated with data from a NAS solution (GlusterFS in our case, but could be NFS, Ceph or AWS S3). During unmounting, we need

[2018-12-04 20:22] luxas commented on #61326
@gyuho I don't know, but we should track and investigate if there is :wink:

[2018-12-04 20:24] MrHohn commented on #23225
@luxas @mikedanese Thanks for bumping this up, this is not done yet. But with pod priority becomes beta (https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/), we should try promoting this to default!

One issue though is https://github.com/kubernetes/kubernetes/issues/65114, which means flipping it to default will break our upgrade CI (1.13 -> HEAD). I will look into that be

[2018-12-04 20:33] dthorsen commented on #45363
One thing we have run into is dnsmasq effectively not caching due to the --no-negcache flag. This appears to be caused by resolver libraries querying both A and AAAA for hostnames. Since the AAAA nearly always return NXDOMAIN it seems that dnsmasq fails to cache the A record.  The end result is a lot of extra traffic going to kube-dns as well as our external resolvers. The issue is multiplied by t

[2018-12-04 21:22] blakebarnett commented on #45363
@dthorsen we worked around this issue by specifying the most frequently queried domains in the dnsmasq args like:

[code]

This tells dnsmasq to just return NXDOMAIN without even looking it up (note the lack of a server to send the query to at the end).  It's a bit of a hacky trick but it dramatically reduced the amount of bogus search path queries we were actually processing/forwarding. The big d

[2018-12-04 21:41] minasys opened #71725 "kubectl top nodes not working with Metrics server in K8s 1.10.6"
**What happened**:
I was getting the error "Unable to fully scrape metrics from source kubelet_summary " in the log of the metrics server after creating it.
I added the following lines to metrics-server-deployment.yml
command:

       - /metrics-server

       - --kubelet-insecure-tls

       - --v=10

       - --kubelet-preferred-address-types=InternalIP
and now I can see that the metrics-server

[2018-12-04 21:57] dawidmalina commented on #70411
We are facing this as well. We've tried with this configuration:
[code]
but no luck. But what is strange that if i disable `check check-ssl verify none`, `http-check expect` and `option httpchk` i still see this error in api logs.

[2018-12-04 22:02] bowei commented on #70707
@neolit123 -- I'm not sure I follow the objections. This does not have anything to do with kube-dns, explain?

Also, kube-dns is not yet deprecated.

[2018-12-04 22:12] heikoettelbruecksap commented on #71715
@kubernetes/sig-auth-feature-requests

[2018-12-04 22:36] edbergavera commented on #71671
@mitpwd @liggitt
We're on GKE. The version is 1.10.7-gke.11. I assume this is the same with 1.10.11 which contains the fix?

[2018-12-04 22:41] liggitt commented on #71671
If you are using binaries or packages provided by a distributor (not the ones provided in the open source release artifacts), you should contact them to determine what versions resolve this CVE. Distributors may choose to provide support for older releases beyond the ones maintained by the open source project.

In the case of GKE, information is posted at https://cloud.google.com/kubernetes-engine

[2018-12-04 22:44] ixdy commented on #71677
Is there actually any documentation on nfpm? the README is extremely sparse and doesn't really indicate how to use it or what it does or doesn't support.

[2018-12-04 22:44] strouja commented on #71411
I know the official docs on upgrading state to to from 1.7 to 1.8 then to 1.9 and then to 1.10,  Would anyone know of a way to from 1.7.11 to 1.10.11.  If not we will just figure out the steps and do the 3 separate upgrades.   If something similar has been done before we'd like to hear about it as we have a few customers on 1.7.11 and all need to get upgraded.  We will of course do our own trial a

[2018-12-04 22:52] edbergavera commented on #71671
**All Google Kubernetes Engine (GKE) masters were affected by these vulnerabilities, and we have already upgraded clusters to the latest patch versions. No action is required.**

I'm relieved. Thanks @liggitt :)

[2018-12-04 23:13] justaugustus commented on #71671
@neolit123 and @liggitt -- thanks for responding here!

For the SIG Release perspective, just to echo what was already said, we intend to maintain the existing policy for support, which is the three most recent minor versions. No upstream patches will be provided for pre-1.10 releases.

[2018-12-04 23:39] tallclair commented on #66311
/remove-lifecycle rotten

I was thinking about the use case for this a bit more. I think workloads that need to talk to nodes mostly fall into 2 categories:

1. Cluster-level tools, such as monitoring, which need to talk to every node in the cluster
2. Node-level tools (DaemonSets) that only need to talk to the node they're running on

I'm not sure per-node audiences are the right solution for use

[2018-12-05 00:17] aanm opened #71728 "Unable to run test "should enforce policy based on PodSelector [Feature:NetworkPolicy]""
[code]

As far as I know the busybox image doesn't contain `curl`, only `wget` so I don't understand how the PR that changed from `wget` to `curl` has passed the CI https://github.com/kubernetes/kubernetes/pull/69571

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:

[2018-12-05 00:17] aanm commented on #71728
/sig network

[2018-12-05 01:42] cofyc commented on #71570
sure
/assign

[2018-12-05 01:43] BenTheElder commented on #71202
not sure what coverage we have for this currently (had to track it all!), but we definitely need thorough e2e coverage if we're going to flip defaults. FYI @spiffxp

[2018-12-05 02:00] WanLinghao commented on #71725
+1 in current master branch

[2018-12-05 02:03] WanLinghao commented on #71704
Can you print the dir the log warning about.
For example
ls -al  /sys/fs/cgroup/cpuset,cpu,cpuacct/system.slice/systemd-udev-trigger.service/cpuacct.stat

[2018-12-05 02:03] m1093782566 commented on #71202
There are already some test grids for IPVS proxier.

[2018-12-05 02:07] ixdy commented on #71677
I installed nfpm and ran `nfpm init` and the generated `nfpm.yaml` looks nothing like that:
[code]

(some parts are kinda similar, but things are different enough to be worrying)

[2018-12-05 02:09] ixdy commented on #71677
I'm not sure if this is the right issue, but there's also the meta-question of "why are we even building debs and RPMs?"

[2018-12-05 02:18] cheftako opened #71730 "Add metric for LeaderElection to determine the leader."
**What would you like to be added**:
It would be nice to be able to know for a given leader election who the master was.
It would also be nice to understand things like how often/when leadership changed.

**Why is this needed**:
We have had problems such as the KCM reporting healthy when it had failed to renew the lease.
It would allow us to alert on things like 2 systems simultaneously believing

[2018-12-05 02:19] cheftako commented on #71730
/assign

[2018-12-05 02:19] cheftako commented on #71730
/sig api-machinery

[2018-12-05 02:20] BenTheElder commented on #69896
SGTM

[2018-12-05 02:29] minasys commented on #71725
What do you mean by that @WanLinghao?

[2018-12-05 02:31] xuxiaosen commented on #71704
ls -al  /sys/fs/cgroup/cpu/system.slice/systemd-udev-trigger.service/cpuacct.stat
-r--r--r-- 1 root root 0 Dec  4 12:15 /sys/fs/cgroup/cpu/system.slice/systemd-udev-trigger.service/cpuacct.stat

cat /sys/fs/cgroup/cpu/system.slice/systemd-udev-trigger.service/cpuacct.stat
user 0
system 0

ls -al /sys/fs/cgroup/cpuset/system.slice/systemd-udev-trigger.service/cpuacct.stat
-r--r--r-- 1 root root 0 S

[2018-12-05 02:35] WanLinghao opened #71733 "Let AuditSink could share web config via configmap/secret"
Currently, user must fill the CABundle field in web config of AuditSink. It looks like:
[code]
The CABundle is very long in most case, which is pretty hard to modify.  especially when it comes to a bunch of AuditSink. What's more, the usual case is a bunch of AuditSink share same webhook configuration, obviously we need fill it with same long CABundle one by one. And I am a bit worry about the sec

[2018-12-05 02:40] WanLinghao commented on #71725
@minasys  I also encounter metrics-server not work problem in the kubernetes cluster complied from master branch.

[2018-12-05 03:33] gsf commented on #44273
These errors may arise in 1.11.x on GKE due to this issue:
https://issuetracker.google.com/issues/119820482

[2018-12-05 04:37] patrickshan commented on #60914
we would like to reduce the time out as well as it doesn't make sense to wait for 30s if kube-apiserver couldn't talk to webhook.

[2018-12-05 05:08] dghubble commented on #71202
Some of the issues listed (in particular, not working with hostport #66103) have hindered adopting IPVS in clusters, let alone considering it the default. Since these were missed when IPVS mode was called GA, is there some other maturation window envisioned?

[2018-12-05 05:19] justaugustus commented on #71202
Given @dghubble's feedback, I'd like to see a KEP for this that includes well-defined graduation criteria.

[2018-12-05 05:30] yue9944882 commented on #71683
no need for a dedicated issue for typos, just take it please

/close

[2018-12-05 05:30] #71683 closed

[2018-12-05 05:38] yue9944882 commented on #71707
[code]

you can bypass server certificate verification via `insecure-skip-tls-verify: true`

/close

[2018-12-05 05:38] #71707 closed

[2018-12-05 05:42] yue9944882 commented on #71287
Nov 21 06:22:50 kube-node1 kube-apiserver: I1121 06:22:50.367228    9851 flags.go:33] FLAG: --etcd-certfile=""
Nov 21 06:22:50 kube-node1 kube-apiserver: I1121 06:22:50.367231    9851 flags.go:33] FLAG: --etcd-compaction-interval="5m0s"
Nov 21 06:22:50 kube-node1 kube-apiserver: I1121 06:22:50.367234    9851 flags.go:33] FLAG: --etcd-count-metric-poll-period="1m0s"
Nov 21 06:22:50 kube-node1 kube-

[2018-12-05 05:42] #71287 closed

[2018-12-05 05:47] Nebulazhang commented on #67761
Thank you for pointing out my problems.I do make a mistake here.But my PR is correct and I will show  you my analysis

[2018-12-05 05:58] prakashmishra1598 commented on #69082
@zh168654 I did a few minor changes to get it to work. I created a custom kube-controller manager container image with rbd binaries on it and it worked. I've pushed the image to docker hub (https://hub.docker.com/r/prakashmishra1598/centos-rbd-kube-controller-manager/).

[2018-12-05 06:01] mauilion commented on #71677
In rereading the thing I linked is the doc for goreleasers nfpm integration. Not for nfpm directly.

I'm not committed to this tooling there are other perhaps better options out there. I do like that this uses a single config and syntax to build tar rpm or debs.

[2018-12-05 06:25] ygqygq2 opened #71737 "failed to get APIEndpoint information for this node"
Upgrade from `v1.12.3` to `v1.13.0`. A master node can not upgrade. How to fix it?

[code]

[2018-12-05 06:41] liggitt commented on #71411
Without knowledge of your particular cluster and use, that is difficult to say. The safest way to suspend use of aggregated API servers might be to leave their `APIService` objects registered, and scale down the deployments backing those `APIService` objects, so that no aggregated server instances are available to receive requests. Some potential disruptions that would cause:
  * If portions of th

[2018-12-05 06:56] WanLinghao commented on #68607
https://github.com/kubernetes/kubernetes/pull/68663 has fixed this ,close

[2018-12-05 06:56] #68607 closed

[2018-12-05 06:58] ygqygq2 commented on #71737
I'm skip to run `kubeadm upgrade apply v1.13.0`, then to run the follow command:

[code]

Now is version `v1.13.0`, is that right?

[2018-12-05 07:08] linxiulei opened #71738 "Idea: export volume spec along with volume directory"
**What would you like to be added**:

Volume spec of a pod exported as a file to certain dir (e.g. PodDir/VolumeDir/VolumeType/VolumeName_spec.json)

**Why is this needed**:

A lot of runtimes were introduced along with development of kubernetes, such as kata, gvisor. And technicals of filesystem sharing as 9pfs are not ideal in perspective of performance.

Exporting volume specs can enable runtim

[2018-12-05 07:16] linxiulei commented on #71738
@kubernetes/sig-storage-feature-requests

[2018-12-05 08:17] xiaoxubeii commented on #71486
@bsalamat @hex108 Agree. On the one hand we need to reduce the frequency of unnecessary rescheduling, on the other hand we need to optimize the sorting algorithm. And the #70366 would help to reduce the frequency. But I think "differentiate between node heartbeats vs. actual node updates" is a better approach.

[2018-12-05 08:59] luxas commented on #71677
In one word, to distribute the kubelet and its deps. The only 100% working solution of running the kubelet is on-host using e.g. systemd, so that's why we ship that, along with our CLI tools kubectl and kubeadm.

If we don't want to use fpm or nfpm, we can always consider using bazel to build the packages, in an "extracted" kind of way.

[2018-12-05 09:04] narendraj9 commented on #41596
During a rolling upgrade of a deployment, when does Kubernetes decide that it should start terminating the old pod. It spawns a new pod with new image but does it also wait for the pod to be ready?

[2018-12-05 09:09] Abhik1998 commented on #71486
Yes its a better approach indeed but what if we use the recursion there

On Wed, Dec 5, 2018 at 1:48 PM Tim Xu <notifications@github.com> wrote:

[2018-12-05 09:17] kargakis commented on #41596
@narendraj9 depends on the rolling parameters (and optionally MinReadySeconds if you want to use it) you have set in the RollingUpdateStrategy.

[2018-12-05 09:51] hiephm commented on #33664
We can use Deployment to do that, according to Kubernetes Up and Running book:

In this case, we can exploit this feature by updating kubernetes.io/change-cause annotations to force an update without changing image tag. I tried and it works.

[2018-12-05 09:53] abretaud commented on #70339
Hi, same problem for me, any news?

[2018-12-05 09:55] alex-nt commented on #71711
etcd logs until death (1-2m)

[code]

[2018-12-05 09:57] WanLinghao commented on #71733
@pbarker  WDYT

[2018-12-05 10:46] Arslanbekov commented on #70806
We have faced the same issue and we reproduced with kubernetes api-server v1.13.0

Stacktrace:
[code]

[2018-12-05 11:03] iwita commented on #64685
I think you should change the command args.
Given the fact that you use a hyperkube image you should run

`- command:
    - /hyperkube
    - scheduler
    - --address=127.0.0.1
    - --leader-elect=true`

[2018-12-05 11:06] dimthe commented on #71411
on a 1.9.5 version i have it as --anonymous-auth=false and i deny all  unauthenticated requests

[2018-12-05 11:06] yue9944882 commented on #70806
@Arslanbekov thx for providing the clue! fixed via #71744

[2018-12-05 11:09] krish7919 commented on #70421
/sig aws

Would an MR help here?

[2018-12-05 11:14] jorgesece opened #71745 "PullImage method in remote CRI receive PodSandboxConfig with a nil value"
**What happened**:
PullImage method in remote Container Runtime Interface (CRI) receives always PullImageRequest which contains the SandboxConfig object with a nil value.
 type PullImageRequest struct {
    	// Spec of the image.
    	Image *ImageSpec `protobuf:"bytes,1,opt,name=image" json:"image,omitempty"`
    	// Authentication configuration for pulling the image.
    	Auth *AuthConfig `protob

[2018-12-05 11:29] rtreffer commented on #71071
We see this happening when upgrading from 1.12.1. it must thus be in the delta of 1.12.1 and 1.12.2.

[2018-12-05 11:33] pravinpatilgithub commented on #71411
In our Kubernetes cluster (Azure ACS, Kubernetes version# 1.8.4), we are using kubeconfig in order to establish proxy connection with kubernetes cluster. This is limited to only certain operations team members. It means in order to set connection with kubernetes api server, certificate from kubeconfig is used.  Also, all the apis hosted on this cluster are exposed via azure api management service.

[2018-12-05 11:35] m1093782566 commented on #71071
The issue is graceful termination related and I think we have fixed the bug in v1.13.1.

[2018-12-05 11:40] jorgesece commented on #71745
@kubernetes/sig-api-machinery-bug

[2018-12-05 12:19] mitpwd commented on #71671
Thank you all for the responses, much appreciated.

It is more a challenge of a slow KOPS release cycle. Example, KOPS 1.11 is 7 months late with support of Kubernetes v1.11.x. That means once KOPS will be releases, we will have less than two (2) months to enjoy a maintained Kubernetes version.

KOPS  project should really consider being retired as velocity is not sufficient for secure commercial

[2018-12-05 12:28] yebyen opened #71747 "Docs Formatting - on Command Line Tools reference page for Kube API Server"
Not sure where to report this,

[code]
on https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/ -- looks like an incorrect merge, near the top of the document

Is there a docs repo or is this the right place?  I couldn't find this issue in the master branch, so I'm not sure where the docs are actually generated from.

@kubernetes/sig-docs

[2018-12-05 12:30] yebyen commented on #71747
/sig docs

[2018-12-05 12:36] matthiasr commented on #71071
@m1093782566 will the fix be backported to the 1.12 line? right now this is blocking the 1.12.3 security fix for us.

[2018-12-05 13:08] pohly opened #71748 "e2e storage testsuites: avoid timeout in "volumeMode should fail in binding dynamic provisioned PV to PVC""
**What would you like to be added**:

Here's how the test is written at the moment:
https://github.com/kubernetes/kubernetes/blob/e689d515f77cda51898045d626ec4070e3328194/test/e2e/storage/testsuites/volumemode.go#L329-L330

During a normal test run, this `framework.WaitForPersistentVolumeClaimPhase` will run for five minutes and then time out. The timeout error then is considered a test success.

[2018-12-05 13:24] nerzhul opened #71749 "kubelet 1.13.0 panic when run against 1.12.x kube-apiserver"
**What happened**:

Kubelet panics after registering node

**What you expected to happen**:

Kubelet should not panic

**How to reproduce it (as minimally and precisely as possible)**:

Use kubelet on an ARM64 machine (i'm on Scaleway provider)

**Anything else we need to know?**:

I upgraded from 1.12.3 to 1.13.0

here is the statup log (only the end):

[code]

**Environment**:
- Kubernetes versi

[2018-12-05 13:38] nerzhul commented on #71749
/sig node

[2018-12-05 14:08] thkoch2001 commented on #34772
In case you come here: The scheduler was completely rewritten since 1.4. So even if there is a similar looking issue, it can't be the same.

[2018-12-05 14:24] neolit123 commented on #71671
^ @justinsb

[2018-12-05 14:34] grantstephens commented on #67710
@wwyhy Did you figure this out? I run ran into the same problem.

[2018-12-05 14:35] grantstephens commented on #67710
/remove-lifecycle stale

[2018-12-05 14:40] liggitt commented on #71411
This would work without jq:
[code]

Added to the description

[2018-12-05 14:42] jamestutton commented on #58956
For anyone finding this thread the below workaround may work for now with Centos at least:

Ok so as a work around I have done:

[code]

and adding iptables-* to the exclude in /etc/yum.conf

[code]

This is NOT a good fix as it rolling iptables back 4 releases but until kube-proxy is fixed this may be the only viable option for some

[2018-12-05 14:49] blerko commented on #68358
Can I bump this?

[2018-12-05 14:50] bertinatto opened #71750 "Kubernetes trying to attach non-available volume"
**What happened**:

Kubernetes tries to attach EBS volumes while their status is still `creating`:

[code]
I believe this started to happen after #67812, when volumes and their tags started to be created in the same request. Before that, tags would be set through another call (i.e., `c.tagging.createTags`), which retries if the volume isn't `available`.

**What you expected to happen**:

Kubernete

[2018-12-05 14:51] danwinship commented on #58956
If you're running OpenShift 3.7, you need to get [the latest release, 3.7.72](https://access.redhat.com/errata/RHSA-2018:2906). If you are running any other up-to-date version of kubernetes or OpenShift, you should not be seeing this bug.

[2018-12-05 15:07] jamestutton opened #71751 "v1.9.6 RHEL/CENTOS 7.6 iptables-restore failing. No Service rules"
**What happened**:

Services fail to create iptables rules and errors with

**What you expected to happen**:

iptables-restore  should complete and add nat rules for services

**How to reproduce it (as minimally and precisely as possible)**:

Install Centos 7.6. and kubernetes and try to enable a load balanced service

**Anything else we need to know?**:

-w switch is not and has never been valid

[2018-12-05 15:10] jamestutton commented on #71751
/sig network

[2018-12-05 15:18] danwinship commented on #71751
The bug was fixed in 1.9.7, which was released 8 months ago

[2018-12-05 15:19] pbarker commented on #71733
@WanLinghao interesting idea, we discussed something similar in the last sig-auth meeting around storing authentication information in a secret. One of the issues with this model is the aggregate servers live in different namespaces, and would either need to their own configmap or would need permission to access a shared one. We would need to draw up a reasonable way of doing this. In the case we

[2018-12-05 15:19] bertinatto commented on #71750
CC @jsafrane @gnufied

[2018-12-05 15:41] gnufied commented on #71750
What is the downside of this? IIRC - even when we tagged separately, we used to have few cases where by the time attachment was attempted, volume was not available.  May be tagging while creating the volume makes it worse but someone has to wait for volume to become available - either attach call or create volume call itself.

[2018-12-05 15:42] gnufied commented on #71750
In worse case this causes first attach to fail - but controller will retry anyway.

[2018-12-05 15:51] jamestutton commented on #71751
Ok that good to know.  Unfortunately we using kubernetes version packaged as part of a vendors product so will push back on them as cant directly upgrade the kubernetes version.

Although i would still strongly argue for the --wait=5 arg to be used vs the -w 5 with or without a space as the former appears to less ambiguous and better supported across platforms so struggle to see benefits of using

[2018-12-05 16:05] jsafrane commented on #71750
I think it re-introduces https://github.com/kubernetes/kubernetes/issues/62171

[2018-12-05 16:11] gnufied commented on #71750
No - looking at events attached to the pod, it looks like volume eventually got attached. I think #62171 is unrelated.

[2018-12-05 16:12] uablrek commented on #71202
In the ipv4/ipv6 dual-stack kep https://github.com/kubernetes/enhancements/pull/648 ipvs support is still only "nice-to-have". If proxier ipvs is default one may have to "downgrade" to iptables to get dual stack.
IMO ipvs should be supported also for dual stack.

[2018-12-05 16:13] thockin commented on #70707
I am not sure what the concern is?  The same people and motivations that supported kube-dns for the last 3 years will continue to support the dns-cache, and if that turns out to not be true, someone new will step up.  It is governed by a SIG.

[2018-12-05 16:22] jsafrane commented on #71750
It is related. If you create volume with invalid keys, AWS returns you a volume and in this case Kubernetes will create a PV for it. But then the volume silently disappears. The only way how to detect that is to wait for the volume to either get Available or disappear.

[2018-12-05 16:32] neolit123 commented on #70707
ok, i don't want to a blocking function in any way.
just needed a confirmation that the cache is currently maintained by the same people as kube-dns (a couple of folks were claiming that they are unrelated).

[2018-12-05 16:33] #71747 closed

[2018-12-05 16:36] thockin commented on #70707
They aren't the same thing, but it's not abandonware :)

On Wed, Dec 5, 2018 at 8:33 AM Lubomir I. Ivanov <notifications@github.com>
wrote:

[2018-12-05 16:49] altarasiuk commented on #60134
The same issue.
Amazon Linux

[2018-12-05 16:52] mkimuram commented on #71748
@pohly

Thank you for pointing it out.

I think that this will be achieved by the similar way to https://github.com/kubernetes/kubernetes/pull/71428, it checks that proper events happen instead of waiting for not success.

However, because events are not reliable, https://github.com/kubernetes/kubernetes/issues/71570 will change it to waiting for not success.

Are there any good ideas to check pro

[2018-12-05 17:03] msau42 commented on #71748
For PVC errors, I'm not sure if there's a great way.  For the Pod subpath error, the error is propagated to Pod conditions.  But PVC does not have a similar field.

[2018-12-05 17:12] gnufied commented on #71750
@jsafrane we are still waiting for volume to become available if volume has kms key - https://github.com/jsafrane/kubernetes/blob/7bbe309d8d64adf72b13ced258f1e97567dd945d/pkg/cloudprovider/providers/aws/aws.go#L2229

[2018-12-05 17:30] mrIncompetent opened #71752 "kube-scheduler is missing permissions for delegated authentication"
**What happened**:
The kube-scheduler crashes with v1.13 as it is missing the required permissions for delegated authentication:
[code]

kube-scheduler runs in a different kubernetes cluster.

v1.12 does not have the `--authentication-kubeconfig` flag - and it does not try to load the ConfigMap kube-system/extension-apiserver-authentication

v1.13 without `--authentication-kubeconfig` uses the in-

[2018-12-05 17:31] mrIncompetent commented on #71752
/assign @sttts

[2018-12-05 17:32] mrIncompetent commented on #71752
/sigh auth

[2018-12-05 17:43] dineshgovindasamy commented on #70279
With the CRI ContainerD implementation we are removing the multiple ADD calls. 2019 as a platform supports namespace as a top level object. We are making the ContainerD changes to expose and use namespace. Once the code stabilizes in ContainerD we will bring it to Dockershim.

[2018-12-05 17:51] daschott commented on #71130
Hi @gprashanthkumar can you use Windows Server and follow these instructions: https://docs.microsoft.com/en-us/virtualization/windowscontainers/kubernetes/getting-started-kubernetes-windows ?

[2018-12-05 18:13] zx8 opened #71753 "`kubectl get pods --sort-by` no longer sorts correctly"
**What happened**:
`kubectl get pods --sort-by=.metadata.creationTimestamp` seems to have regressed and no longer sorts by creation timestamp.

**What you expected to happen**:
`kubectl get pods --sort-by=.metadata.creationTimestamp` should sort by creation timestamp.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
N/A

**Environment**

[2018-12-05 18:14] zx8 commented on #71753
/sig cli

[2018-12-05 18:16] lavalamp opened #71754 "aggregator: serve downstream apiserver discovery documents from cache rather than proxying"
The aggregator proxies users to downstream apiservers when discovery documents are requested for a particular API group & version. The proxy code has historically been, to use a technical term, super buggy. In particular, this made [CVE-2018-1002105](https://github.com/kubernetes/kubernetes/issues/71411) much, much worse than it needed to be.

The aggregator already scrapes discovery from downstre

[2018-12-05 18:23] lavalamp commented on #71754
/sig api-machinery

cc @deads2k @liggitt @cheftako

On Wed, Dec 5, 2018 at 10:18 AM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2018-12-05 18:33] basicfu commented on #71711
I was the problem,I'm back to v1.12.X

[2018-12-05 18:33] prameshj commented on #70707
@neolit123 yes, the cache is currently maintained by the same folks as kube-dns. I am part of that team too.

[2018-12-05 18:53] kacole2 commented on #64021
/remove-lifecycle stale

[2018-12-05 18:54] daschott commented on #71130
DaemonSets like kube-flannel-ds should not be scheduled on Windows as they're not supported. Windows runs flannel as a host-agent process instead today.

[2018-12-05 18:55] kacole2 commented on #64021
@dougm @embano1 would this be a good time to submit a KEP to k/enhancements that will be filed under SIG-VMware?

[2018-12-05 19:04] mikedanese commented on #54960
More generally, authentication to dynamic api services and webhooks is hard:

https://docs.google.com/document/d/1rtnPnrW2Ws1I8h826oYwSKuqWif5SaRnm2jvwFH9lIk/edit

[2018-12-05 19:14] PatrickLang commented on #64531
The problem is that the portForward streaming operation invokes `nsenter` and `socat` on the node. Those aren't available (or required) on Windows.

https://github.com/kubernetes/kubernetes/blob/a0c2788249ae1582d10089e7a34bb54fc6b3879d/pkg/kubelet/dockershim/docker_streaming.go#L204

[2018-12-05 19:56] Celestialdeath99 commented on #64924
@adam-stanek If you are willing to share your solution it would be greatly appreciated! I have been trying everything I can think of to get this to work but nothing is working as of yet.

[2018-12-05 19:56] mgoodness commented on #71411
Gravitational has created a vulnerability test utility: https://github.com/gravitational/cve-2018-1002105

[2018-12-05 20:03] lavalamp commented on #27114
Configure a liveness check for the health container!

(Also, go binaries that do simple things are very fast to start and reliable. Just a thought. :) )

[2018-12-05 20:04] Freyert commented on #57671
This is happening to me on the following versions:

[code]

I have a stateful set with just `1` replica.

The `serviceName` matches the service's name:

[code]

[code]

[2018-12-05 20:12] matthyx commented on #27114
Actually, that's exactly what I should do to use the health container at first.
Ah, right, the liveness probe will cause the container to restart, not the whole pod?

[2018-12-05 20:14] minasys commented on #71725
any news about this bug?

[2018-12-05 20:17] PatrickLang commented on #70279
Cc @jsturtevant

[2018-12-05 20:22] Freyert commented on #45779
### Solved

Turns out I had the FQDN pattern incorrect. (Not only can you get the Service, and the Service Selector wrong, but you can also do this.)

I was using: `hidden-secondary-mongo-hidden-secondary-0.hidden-secondary.svc.cluster.local`

Which is the pattern: `<pod>-<N>.<namespace>.svc.cluster.local`

When I should have used:

`hidden-secondary-mongo-hidden-secondary-0.hidden-secondary-mongo

[2018-12-05 20:37] liggitt commented on #71754
this could also make discovery more reliable, and ease the impact of downtime for aggregated servers whose resources are not persisted (like the metrics server), but whose unavailability currently pauses components like the namespace cleanup controller and garbage collector controller for safety

[2018-12-05 20:41] misterikkit commented on #67680
I think this will be "fixed" by #71399

[2018-12-05 20:44] narendraj9 commented on #41596
With `minReadySeconds`, k8s will wait for that many seconds after a pod has gotten ready. Without that it should at least wait for the pod to be ready.

[2018-12-05 20:45] mingf commented on #70334
Hi,
Can I know where "imageRepository: "xxxx"." is ? I run into the same error ...

[2018-12-05 20:51] Secretions commented on #71411
@liggitt  Under "affected configurations", it seems to suggest that if you run the given kubectl command and have no output, you do not have any exploitable endpoints for the aggregation api portion of this vulnerability.

However, in "vulnerability impact" immediately below it states "_In default configurations, all users (authenticated and unauthenticated) are allowed to perform discovery API ca

[2018-12-05 21:00] liggitt commented on #71411
@Secretions - clarified the "Affected configurations" and "Vulnerability impact" sections

[2018-12-05 21:01] #70806 closed

[2018-12-05 21:34] leakingtapan commented on #71750
+1 on this issue. I have seen this quite often on my v1.12 cluster too. So this is an issue even before #67812

[2018-12-05 21:36] chris530 commented on #71411
thanks @mgoodness

[2018-12-05 22:06] Rub21 commented on #55894
Sometimes the solution is only to add `quote` in all numeric variables: e.g 👇

[code]

[2018-12-05 22:10] gnufied commented on #24317
This should be available as beta feature in 1.12.

[2018-12-05 22:19] bartelsb commented on #70543
Hi @mrunalp, do you have an issue for this opened in the https://github.com/kubernetes-sigs/cri-o project? If so, please add a link to it so that we can follow the discussion and be alerted when the fix is available. Thanks!

[2018-12-05 23:02] gtseres commented on #68251
/remove-lifecycle stale

[2018-12-05 23:34] misterikkit commented on #68955
So after some discussion, it seems like our informer event handlers do three things.
1. update our cache
2. update our equivalence cache
3. update our scheduling queue

I think that these should be split into separate event handlers, such that all cache-updating handlers are part of the `cache` package, and all queue-updating handlers are part of the `queue` package.

This should also rebase on to

[2018-12-05 23:35] misterikkit commented on #68955
Forgot to mention: Splitting the handlers should not incur a substantial performance penalty. We use `SharedInformerFactory`, so the API calls and informer cache are shared by all event handlers.

[2018-12-05 23:37] gnufied commented on #70750
I will look into this.

/assign

[2018-12-05 23:42] jingxu97 opened #71760 "Use workqueue model in expand_controller"
**What would you like to be added**:
Currently, expand_controller for resizing a volume is using desired/actual state model. The controller watches PVC add/update/delete events and then for each event, it updates its in-memory cache to store the resize request information. A reconciler periodically compares desired state and actual state and take actions in order to move actual state to the desire

[2018-12-05 23:46] jingxu97 opened #71761 "Remove resync logic and use workqueue.AddAfter in pv_controller"
**What would you like to be added**:
Currently pv_controller  has its own resync loop which periodically list all PVCs/PVs and put them into the queue. One main reason for this resync is that pv_controller does not add the item back if operation fails, so it relies on resync to put them back to get processed. We should consider to use workqueue_AddAfter method to only add back the object in which

[2018-12-05 23:52] mattdornfeld commented on #29804
This should be reopened. It seems k8s app controller is no longer maintained.

[2018-12-05 23:55] henrydcase commented on #3312
Interesting concept. Also quite familiar for some reason

[2018-12-06 00:52] #59524 closed

[2018-12-06 01:40] m1093782566 commented on #23864
/remove-lifecycle rotten

[2018-12-06 01:45] WanLinghao commented on #71753
/assign

[2018-12-06 01:56] jaywryan commented on #63475
@aizuddin85 any work arounds?

[2018-12-06 02:19] lolspider commented on #66231
### **running flannel service** on master nodes resolve my problem (Client.Timeout exceeded while awaiting headers)

[2018-12-06 02:41] Ryan-Jiang-MYOB commented on #49343
Good try Ian ;)

[2018-12-06 02:53] molon commented on #70334
@mingf `kubeadm.yaml`

[2018-12-06 02:56] axot opened #71765 "detach-keys support"
By default docker use ctrl-p as detach-keys which caused ctrl-p(previous-history) not work.
If it is possible to add detach-keys option will be great.

/kind feature

[2018-12-06 03:05] tossmilestone commented on #71411
Great thanks to @mgoodness !

[2018-12-06 03:41] kaizhaokover commented on #61224
/open
/sig kubeadm
/help

[2018-12-06 04:17] flf2ko opened #71769 "kubectl help can't display underscore properly"
**What happened**:
kubectl help description can't display underscore properly.

Example 1:
`kubectl diff -h`

[code]
The environment variable `KUBECTL_EXTERNAL_DIFF` displayed but missing underscore.

Example 2:
`kubectl apply edit-last-applied -h`

[code]

The environment variable `KUBE_EDITOR` with an additional space before underscore.

**What you expected to happen**:

Display underscore prope

[2018-12-06 04:20] flf2ko commented on #71769
/sig cli

[2018-12-06 04:44] langerkunal commented on #71692
any update on this?

[2018-12-06 04:58] yue9944882 commented on #71754
would be better if aggregator could cache openapi doc from AA similarly

[2018-12-06 05:13] jacobblock commented on #64924
Glad I found this thread; running into exact same issue. Private k8s cluster running behind rancher. Images that are pulling from github are failing along the lines of the above discussion. I think all the images seeing the issue are alpine based (version 3.8.1). @Celestialdeath99 would a custom resolv.conf work for your use case? See https://gist.github.com/superseb/f6894ddbf23af8e804ed3fe44dd484

[2018-12-06 05:50] andrewsav-datacom opened #71772 "Cronjob leaves behind pods after jobs are deleted"
**What happened**:

There seems to be a regression after 1.13 release. A Cronjob with default settings does not clean up completed pods. The job themselves are getting deleted as expected, but the pods are left behind. This seems to be related to https://github.com/kubernetes/kubernetes/pull/70872 @juanvallejo

**What you expected to happen**:

Expected the pods for now non-existent child jobs  of

[2018-12-06 05:55] mgdevstack commented on #67607
Based on discussion following approaches are considerable -
https://github.com/kubernetes/kubernetes/issues/67607#issuecomment-418856861
https://github.com/kubernetes/kubernetes/issues/68339#issuecomment-423678023

So closing this issue.

[2018-12-06 05:55] #67607 closed

[2018-12-06 05:56] andrewsav-datacom commented on #71772
/sig apps @liggitt  @soltysh @juanvallejo

[2018-12-06 06:00] Sreelalithavankam commented on #41336
You can describe the pod and see the state or see the logs of the pod

[2018-12-06 06:01] andrewsav-datacom commented on #71772
/priority severe

[2018-12-06 06:05] mauilion commented on #71772
Should include a known issues in 1.13.0 as well

[2018-12-06 06:10] AtomWyq opened #71773 "how to remote debug kubernetes process"
how to remote debug kubernetes process, such as using ide in windows to debug the kube-apiserver running on linux

/triage support

[2018-12-06 06:52] nikhita commented on #62325
https://github.com/kubernetes/apiextensions-apiserver/issues/28#issuecomment-372751580

Like mentioned in @sttts's and @bgrant0607's comment, I don't think we will support enums. Closing this, but please feel free to reopen if needed.
/close

[2018-12-06 06:52] #62325 closed

[2018-12-06 06:52] myonlyzzy commented on #71773
you can run kube-apiserver by dlv .
` dlv --listen=":40000" --headless=true --api-version=2 exec kube-apiserver  -- --etcd-servers=http://127.0.0.1:2379 -- --insecure-port=8070 `
if you run kube-apiserver in a container you need add  below
[code]
then you can create a remote debug in idea.

[2018-12-06 07:03] nikhita commented on #62323
/cc @liggitt @roycaihw

[2018-12-06 07:10] llamahunter opened #71775 "Headless service dns entries not created if service name contains hyphen"
**What happened**:
Created a headless service so that DNS names would be created for my stateful set pods.  The service name contained a hyphen '-' character

**What you expected to happen**:
DNS entries of the form <pod-name>.<service-name>.<namespace>.<cluster-suffix> would be created by kube-dns.  However, they are not if the service name contains a hyphen.

**How to reproduce it (as minimally

[2018-12-06 07:40] seunghunee opened #71780 "Adding e2e test suites about DELETE, POST node"
**What would you like to be added**:
 e2e test suites about:
- DELETE /api/v1/nodes/{name}
- POST /api/v1/nodes

**Why is this needed**:
This is an important effort, part of a broader effort to improve the coverage of the conformance tests, and improving Kubernetes test coverage generally is one of the most important areas where we could spend such resources.

/kind feature

[2018-12-06 07:41] seunghunee commented on #71780
/sig testing
/sig node

[2018-12-06 07:55] AtomWyq commented on #71773
i start kube-apiserver on linux, and exec
 dlv --listen=:2345 --headless=true --api-version=2 attach ${PID of kube-apiserver}

then use JetBrains GoLand to debug code, code can connected to linux  kube-apiserver successfully, but breakpoints has no effect

[2018-12-06 07:58] llamahunter commented on #71775
/sig network

[2018-12-06 08:00] llamahunter commented on #71775
Hmm... it's very strange that this doesn't work, since the end to end example here *appears* to test this case.

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/dns.go

Yet, as with the simple example above using nginx, it can demonstrably be shown not to work.

[2018-12-06 08:31] zh168654 commented on #69082
so no longer use rbd-provisioner, use custom controller manager instead. I'll try, thinks~

[2018-12-06 08:46] llamahunter commented on #71775
Ugh... nevermind.  I think I found the secret incantation while reading the endpoint reconciliation code.
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/endpoint/endpoints_controller.go#L447
Not only does the pod need to have a hostname, but it needs to refer to the service name via the Pod.Spec.Subdomain, which is set via the StatefulSet.Spec.ServiceName field.

[2018-12-06 08:46] #71775 closed

[2018-12-06 09:04] roffe commented on #15478
I strongly recommend against using fluentd as it has several bugs that can make your life h*ll when running k8s

in_tail prevents docker from removing container https://github.com/fluent/fluentd/issues/1680.

in_tail removes untracked file position during startup phase. It means the content of pos_file is growing until restart and can eat up a ton of cpu scanning through it when you tails lots of

[2018-12-06 09:12] vdboor opened #71783 "Running 1.13.x kubelet against 1.12.x apiserver errors due to missing volumeMode"
Upgrading a cluster from 1.12.3 to 1.13.0 causes pods to break because the "volumeMode" is missing.

**What happened**:

all pods with volumes became unavailable:

`Dec  6 09:31:46 experience kubelet[24011]: E1206 09:31:46.522733   24011 desired_state_of_world_populator.go:296] Error processing volume "media" for pod "djangofluent-tst-test-6cfc6555-9bfm6_fluentdemo(0dd95f6c-ed7e-11e8-afe8-52540009

[2018-12-06 09:16] aizuddin85 commented on #63475
There is a timer within the provisioner.go that will release the lock eventually after 10 mins if I recall correctly. Somehow I forgot to capture which line it was from the codebase.

[2018-12-06 09:16] vdboor commented on #71783
/sig node

[2018-12-06 09:22] mysunshine92 commented on #71745
/sig node

[2018-12-06 09:24] KevinKingKong opened #71784 "apiserver aggregator can not change the request.Host when access the external http service"
**What happened**:

When apiserver is using apiservice and service EXTERNAL-IP to access the external http service(a sample metric service),the "http request header Host" is still the apiserver's Host, causing the external http proxy services are failed to forward the request normally.

The requested link is like this， **client  ->  apiserver  ->  external http proxy service  ->  real http service

[2018-12-06 09:33] KevinKingKong commented on #71784
/sig api-machinery

[2018-12-06 09:35] Jenychen1996 commented on #54542
the same question I have

[2018-12-06 09:42] gosoon commented on #71661
@vishh
![image](https://user-images.githubusercontent.com/31582214/49575447-aa687200-f97d-11e8-9ad6-587bb50ce3f1.png)

kubernetes/cmd/kubelet/app/server.go

Sorry to bother you，I would like to ask if the comment here means that  ‘----eviction-hard=’ flag can be used  in kubelet config?

[2018-12-06 09:56] pohly commented on #71748
Michelle Au <notifications@github.com> writes:

They get posted as status, but I agree, this might not be easy to wait for.

[2018-12-06 10:05] krzysied commented on #71659
@bsalamat Thanks for the PR! I see it is merged now.

I guess this will fix the issue. However let's keep this issue open. I will post update on this after few days - the impact will be clearly visible in 5k nodes test which runs once per day.

[2018-12-06 10:17] scottconrad88 commented on #68227
I have also been encountering the issue as @yudiandreanp above. It is only when I spin up an ingress-nginx elb service. If I add the annotation `service.beta.kubernetes.io/aws-load-balancer-internal: 0.0.0.0/0` to any of my over services it works as expected

[2018-12-06 11:00] yue9944882 commented on #66536
/remove-lifecycle stale

[2018-12-06 11:05] krzysied commented on #71659
Btw, I was thinking about current benchmark for scheduler. IIUC it runs [scheduler_bench_test.go](https://github.com/kubernetes/kubernetes/blob/master/test/integration/scheduler_perf/scheduler_bench_test.go), which has tests for 100, 500 and 1000 nodes. Maybe we should add 5k node tests - for example the one you used to measure PR impact `BenchmarkScheduling/5000Nodes/1000Pods-12`?
Assuming that i

[2018-12-06 11:19] consideRatio commented on #61132
Still affected, but the google cloud console and api the gcloud API is warning about this properly

[2018-12-06 11:30] cuppett commented on #70588
From the [AWS SDK for Go](https://docs.aws.amazon.com/sdk-for-go/api/aws/session/):

We could add a config option, but just relying on an environment variable to the kubelet may suffice and be simpler?

[2018-12-06 11:35] nmiculinic opened #71787 "PodSecurityPolicy choose the wrong one, making pod unable to start"
**What happened**:
I start a deployment:
[code]

The controllers do their thing and I end up with following pod:
[code]
and since nginx starts with root user it fails. Horribly.

However there is another security policy, `semi-restricted`:
[code]
which ought to be selected.

The service account has permissions for both policies
[code]
**What you expected to happen**:
The pod wouldn't have it's sec

[2018-12-06 11:41] nmiculinic commented on #71787
There's also a workaround if I renamed my `semi-restricted` to `10-semi-restricted` for example to force this one to be chosen over `restricted` one... not pretty though.

[2018-12-06 11:46] lowang-bh commented on #54870
# kubectl get pod
NAME                       READY     STATUS              RESTARTS   AGE
job-backofflimit-2-9n74x   0/1       Error               0          34s
job-backofflimit-2-bt796   0/1       Error               0          1m
job-backofflimit-2-fgktc   0/1       Error               0          49s
job-backofflimit-2-gfhlx   0/1       Error               0          1m
job-backofflimit-2-gzd54

[2018-12-06 11:50] #71655 closed

[2018-12-06 12:15] soltysh commented on #71772
Lemme see if I can easily reproduce this.

[2018-12-06 12:34] bholagabbar-mt commented on #13488
Has there been any update on this ? We're looking to have this feature too.

[2018-12-06 13:01] zjj2wry opened #71788 "sample apiserver report failed to list *wardle.Fischer: the server could not find the requested resource"
**What happened**:
sample api server log:
[code]
registry:
[code]

It seems that the internalversion's informer list watch v1beta1 fischers API, but the fischers only have the v1alpha1 API in sample apiserver. where determine which version of the API the internalversion informer calls? another questions is ```Admit(a admission.Attributes)```  access attributes，can we directly use versioned informe

[2018-12-06 13:04] zjj2wry commented on #71788
/sig api-machinery
I want to fix this problem waiting for the mountainier confirmation

[2018-12-06 13:06] marc-sensenich opened #71789 "The Azure Cloud Controller Manager was unable to create an Internet exposed Load Balancer"
**What happened**:
The Azure Cloud Controller Manager was unable to create an Internet exposed Load Balancer with `type: LoadBalancer` without any additional source addresses

Error encountered
[code]

**What you expected to happen**:
The Azure Cloud Controller Manager should create an Internet exposed Load Balancer with `type: LoadBalancer`

**How to reproduce it (as minimally and precisely as po

[2018-12-06 13:07] adam-stanek commented on #64924
@Celestialdeath99 Will this be helpful? https://gist.github.com/adam-stanek/8331d44bb38b864efdd693667ea170c1 I don't have time right now to create proper repo with step by step docs, but I might do it during some weekend if you think it would be useful for more people.

Please keep keep in mind that I am not a Go developer. I have put the code together after some research and it is working fine fo

[2018-12-06 13:21] ggaurav10 commented on #50648
I have k8s 1.11
How can I create xfs volumes there?

[2018-12-06 13:28] zjj2wry opened #71791 "SelfSubjectAccessReview result is incorrect"
**What happened**:
[code]
result: use below
~~➜  kubernetes git:(master) ✗ cluster/kubectl.sh auth can-i use psp --as=system:serviceaccount:default:default -v 8
{"namespace":"default","verb":"use","group":"extensions","resource":"podsecuritypolicies"}},"status":{"allowed":true,"reason":"RBAC: allowed by RoleBinding \"psp/default\" of ClusterRole \"cluster-admin\" to ServiceAccount \"default/defaul

[2018-12-06 13:57] liggitt commented on #71772
/milestone v1.13

[2018-12-06 14:22] apatil commented on #71411
@liggitt there are two tests circulating for configurations that are vulnerable to the aggregated API exploits: the test you added to the issue description,

[code]

and https://github.com/gravitational/cve-2018-1002105 which @mgoodness posted above.

As mentioned in this issue: https://github.com/gravitational/cve-2018-1002105/issues/5 their results aren't always the same. In fact, we have cluste

[2018-12-06 14:23] boocup opened #71794 "Pod CIDR"
I am trying to modify the Pod CIDR used by nodes. I have uncommented the "podCIDR:" in cluster.yaml, but the Pod CIDR shown in the node page of the dashboard doesn't reflect my change. Is there more that needs to be done? BTW- I am trying to get more IPs available so I can have more pods per node.

[2018-12-06 14:32] dims commented on #71411
@apatil the gravitational tests for `whether the cluster allows unauthenticated access to the API, which will then allow unauthenticated access to aggregate API endpoint` ... however, if there are NO aggregated apis (as shown by @liggitt 's command) then the cluster is still ok (hopefully @liggitt can confirm this). You are still vulnerable to the other code path `Clusters that grant pod exec/atta

[2018-12-06 14:34] liggitt commented on #71411
If there are no `APIService` objects that route to a service (the `kubectl get apiservices` check), that means no aggregated servers are configured in the cluster, and the anonymous escalation via aggregated discovery API requests is not possible.

That said, if you are still running a vulnerable version and later add an aggregated API server, it would become exploitable.

[2018-12-06 14:34] jsafrane commented on #71750
Oh, sorry for the noise.

[2018-12-06 14:39] pkanna000 commented on #62822
Is this enhancement request closed or implemented in 1.13 version?(Add IPv4/IPv6 Dual-Stack support )

[2018-12-06 14:41] apatil commented on #71411
Thanks very much for the clarity.

[2018-12-06 14:41] liggitt commented on #71791
can you clarify your full setup, and what the unexpected behavior is?

there appear to be other rolebindings to the service account in question (specifically, `cluster-admin` was bound to the service account within that namespace according to the message `allowed by RoleBinding "psp/default" of ClusterRole "cluster-admin" to ServiceAccount "default/default"`) that were not shown in the recreation

[2018-12-06 14:43] liggitt commented on #71787
the order policies are chosen in is described in https://kubernetes.io/docs/concepts/policy/pod-security-policy/#policy-order

/close

[2018-12-06 14:43] #71787 closed

[2018-12-06 14:45] cpressland opened #71796 "CronJob Pods do not automatically remove themselves when successfulJobsHistoryLimit is configured"
**What happened**:
Jobs do not remove thier associated Pods when spawned from a CronJob with `successfulJobsHistoryLimit` set

**What you expected to happen**:
CronJob spawned Pods to delete themselves after a N number of succesful runs.

**How to reproduce it (as minimally and precisely as possible)**:
Create a CronJob with a fairly frequent run schedule and set the `successfulJobsHistoryLimit` v

[2018-12-06 14:49] zjj2wry commented on #71791
[code]

[2018-12-06 14:50] liggitt commented on #71796
duplicate of https://github.com/kubernetes/kubernetes/issues/71772

/cc @soltysh
/close

[2018-12-06 14:50] #71796 closed

[2018-12-06 14:51] liggitt commented on #71783
/sig storage

[2018-12-06 14:53] liggitt commented on #71783
does this mean you are running a 1.13-level kubelet against a 1.12-level kube-apiserver?

[2018-12-06 14:54] liggitt commented on #71794
podCIDR is an immutable field. to modify it, the Node object must be deleted and recreated. this typically also means existing pods must be drained from the Node

/close

[2018-12-06 14:54] #71794 closed

[2018-12-06 14:56] mostworld77 commented on #71411
What about Kubernetes <1.5.x that no have "apiservices" daemon running/installed?
And Could you please explain "user", which user do you mean.
User that have shell access to kube-master and/or user from outsite through a hosted application (ex. apache server on running pod->to API-Server) and/or User that have general access to kube machines without shell access.
Thanks in advance

[2018-12-06 15:03] liggitt commented on #71518
duplicate of #69686

fixed in #70830 in master and v1.13.0
picked to 1.12.x in #70927, targeted at 1.12.4
picked to 1.11.x in #70928, targeted at 1.11.6

/close

[2018-12-06 15:03] #71518 closed

[2018-12-06 15:15] boocup commented on #71794
right. I have done Kube-aws destroy. then after modifying the field in cluster.yml ran kube-aws up. Should I expect the change to be reflected? Apologies if I am missing something.

[2018-12-06 15:16] mittaus commented on #29540
Thanks @vsethi13. I followed your steps and it worked for me.
Running the `kubernetes-dashboard-*` in master node working for me

[2018-12-06 15:19] liggitt commented on #71791
yes, the attributes provided to the subjectaccessreview must be correct in order for the result to be correct

namespace can always be provided to [self]subjectaccessreview requests, the authorization check for the verb/resource/scope is generic. when checking if a PSP can be used, the namespace of the pod being checked is provided so that permission to use a PSP can be scoped to a single namespac

[2018-12-06 15:21] liggitt commented on #71411
The APIService API was alpha in 1.6.x, and beta and enabled by default in 1.7.x+. kube-apiserver releases without an APIService API do not have the ability to proxy to aggregated API servers, so anonymous escalation via aggregated discovery API requests is not possible on those versions.

Any actor that can send a network request to the kube-apiserver.

Escalation paths for this vulnerability begi

[2018-12-06 15:21] usernkey commented on #66959
/remove-lifecycle rotten

[2018-12-06 15:31] liggitt commented on #71794
ah, that would be better asked in https://github.com/kubernetes-incubator/kube-aws

[2018-12-06 15:40] liggitt commented on #71791
selfsubjectaccessreview using the attributes in the provided review to match authorization rules is working as intended

/close

[2018-12-06 15:40] #71791 closed

[2018-12-06 15:47] zeapo opened #71798 "Requests redirected wrongly redirected on 1.11.5 or 1.10.11 not on previous version"
**What happened**:
We have a cluster with aws-alb-ingress-controller and ambassador. Both are deployed on the same namespace. Ambassador is used to proxy requests to different services on the cluster.
The ingress we use contains two rules, one to redirect to `ambassador-daemon` and another to the ambassador admin.

Everything was working fine in the version 1.11.3 and 1.11.4. After the CVE, we dec

[2018-12-06 15:51] nmiculinic commented on #71787
Policy `restricted` shouldn't have been validated in the first place since the pod has containers running as root, which is in the contraction with the pod security policy.

/open

[2018-12-06 15:58] liggitt commented on #71787
PodSecurityPolicy uses the information in the pod spec, and the pod spec did not indicate the container required running as root.

[2018-12-06 16:05] adidenko commented on #71071
Got the same with upgrade from 1.11.2 to 1.11.5.

[2018-12-06 16:06] nmiculinic commented on #71787
So if I set `pod.spec.securityContext.runAsUser` to 0 the psp shall do the correct thing?

[2018-12-06 16:09] gnufied commented on #71760
Just for background - the reason we chose not to use workqueue is because, resize is level based. So resize of a PVC from 2GB to 4GB and then to 6GB and finally to 8GB - need not visit all the nodes in transaction. If while 2GB to 4GB resize was in progress and other resizes arrive, then for that PVC only final resize will be done ignoring intermediate ones. So, we will have to internally manage s

[2018-12-06 16:11] liggitt commented on #71787
Yes

[2018-12-06 16:11] astrieanna opened #71799 "winkernel kube-proxy assumes nodename and hostname are the same"
**What happened**: When using the vsphere cloud provider and a hostname override, kube-proxy does not recognize local endpoints correctly.

**What you expected to happen**: kube-proxy should use the same logic as kubelet to determine nodename. The nodename does not need to be the same as the hostname override.

**How to reproduce it (as minimally and precisely as possible)**:
(1) Run a cluster on

[2018-12-06 16:14] pascalgn opened #71800 "Nested volumes sometimes not mounted correctly"
**What happened**:
When running Jenkins in Kubernetes on Azure, we have two volumes, `/var/jenkins_home` (which is on a CIFS network share) and `/var/jenkins_home/workspaces` (which is from a persistent volume). When the Jenkins pod is starting, for example after the node has rebooted, it can happen that /var/jenkins_home gets mounted, but /var/jenkins_home/workspaces does not.

**What you expecte

[2018-12-06 16:16] liggitt commented on #71753
bisected to dba032d5e74dded1f6bb75c9ca444e3e7a3fb6e9 (https://github.com/kubernetes/kubernetes/pull/70629)

/assign @soltysh

[2018-12-06 16:21] pascalgn commented on #71800
/sig azure
/sig storage

[2018-12-06 16:21] Shnatsel commented on #69722
Most likely this is happening because your workload requests an amount that's below the actually available amount of CPU and memory on the nodes. The actually available resources differ from the advertised ones in two ways:

1. Some resources are occupied by kubelet and dockerd. You can look up how much is actually available to the pods by running `kubectl describe nodes | grep --after-context=5 A

[2018-12-06 16:30] shadow4040 commented on #71411
That means the affected versions for this CVE are beginning with "Kubernetes v1.6.x" and not with "Kubernetes v1.0.x" as described ?

[2018-12-06 16:31] losipiuk commented on #69722
As @Shnatsel pointed it is impossible for us to fully understand the cause what you are seeing without access to cluster itself. Please consult GKE support.

[2018-12-06 16:31] losipiuk commented on #69722
/close

[2018-12-06 16:31] #69722 closed

[2018-12-06 16:35] liggitt commented on #71411
The pod exec/attach/portforward escalation path applies back to 1.0.x

[2018-12-06 16:43] #71798 closed

[2018-12-06 16:45] astrieanna commented on #71799
This also applies to other proxiers (the ones on linux):
https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/endpoints.go#L221

[2018-12-06 16:48] astrieanna commented on #71799
/sig network

[2018-12-06 16:50] MrHohn commented on #68142
/remove-lifecycle stale

[2018-12-06 16:54] wongma7 commented on #71761
@jsafrane

[2018-12-06 17:06] liggitt commented on #71753
opened https://github.com/kubernetes/kubernetes/pull/71805 to fix

[2018-12-06 17:18] dineshgovindasamy commented on #71799
@astrieanna We use the same logic as other Proxies. I think we should table this discussion in the SIG Network meeting if we want to change this to all proxies.

[2018-12-06 17:31] ChiefAlexander commented on #71071
@m1093782566 can you provide more information on the fix? I would be interested to look over the commit.

[2018-12-06 17:36] liggitt commented on #71753
/assign

[2018-12-06 17:41] liggitt opened #71807 "Sweep for calls to delete that result in orphaning dependents"
**What happened**:

Several resources default to orphaning dependents for backwards compatibility:
* daemonsets in extensions/v1beta1, apps/v1beta2
* deployments in extensions/v1beta1, apps/v1beta1, apps/v1beta2
* replicasets in extensions/v1beta1, apps/v1beta2
* statefulsets in apps/v1beta1, apps/v1beta2
* jobs in batch/v1
* cronjobs in batch/v1beta1, batch/v2alpha1
* replicationcontrollers in v1

[2018-12-06 17:48] liggitt commented on #71807
cc @kubernetes/sig-apps-misc

[2018-12-06 17:53] jingxu97 commented on #71760
I think depending on how fast user sends out their request and how fast controller processes, both desired/actual state and workqueue model might end up processing every request or just one final request. They should not have much differences.

For example, if user changes from 2GB to 4GB, and then change from 4GB to 6GB in the next second. In desired/actual state model, sync_volume_resize control

[2018-12-06 18:15] liggitt opened #71808 "upgraded requests to aggregated API servers do not work when using ssh tunnels"
**What happened**:

upgrade requests to aggregated APIs (like websocket-based watch requests) on a kube-apiserver using --ssh-user hang

**What you expected to happen**:

Websocket-based watch requests work properly

**How to reproduce it (as minimally and precisely as possible)**:

1. Start a kube-apiserver configured to use a node dialer to reach services/pods (e.g. with `--ssh-user`)
2. Ran an

[2018-12-06 18:16] liggitt commented on #71808
/sig api-machinery

/cc lavalamp

[2018-12-06 18:16] lbernail opened #71809 "When using IPVS with graceful termination, connections to services with sessionAffinity are not expired"
**What happened**:
After updating the pods backing a service with sessionAffinity set, all communications to the service stopped working.

**What you expected to happen**:
Communications should continue to work

**How to reproduce it (as minimally and precisely as possible)**:
1- Create a service with `sessionAffinity: ClientIP` backed by a deployment of a single pod
2- Connect to the service from

[2018-12-06 18:17] Cherishty opened #71810 "How to control the access to certain Nodeport from external via iptables"
We have a lot of services set up by Nodeport and available from external via `<node_ip>:<node_port>`  .

It should be a common requirement that I would like to control the access to certain services, which means the requests from some of IPs may access to it, while others not.

We'd like to use `iptables` to meet this requirement, which gets a lot of **confusion** since kubernetes use it to setup

[2018-12-06 18:18] Cherishty commented on #71810
/sig network

[2018-12-06 18:34] mcrute commented on #70588
/good-first-issue

[2018-12-06 18:35] mcrute commented on #70421
/good-first-issue

[2018-12-06 18:36] jmcmeek opened #71811 "api timeouts when using token authentication"
**What happened**:
One of our customers has a workload that makes a lot of api calls using serviceaccount tokens.  They have seen periods of increasingly slow responses eventually leading to many requests failing due to a 1 minute timeout in the apiserver. Requests using other authentication mechanisms (certificate, OIDC tokens) at the same time see no slowdown or timeouts.

**What you expected to

[2018-12-06 18:41] jmcmeek commented on #71811
@kubernetes/sig-auth-bugs

[2018-12-06 18:43] mcrute commented on #59406
/good-first-issue

[2018-12-06 18:44] rajansandeep commented on #66460
According to @BenTheElder and [this comment](https://github.com/kubernetes/kubernetes/pull/70369#issuecomment-444961117), 1.9 is no longer supported. CoreDNS image is available as gcr.io in release 1.10

This issue has been resolved.
/close

[2018-12-06 18:44] #66460 closed

[2018-12-06 18:49] leakingtapan commented on #45726
@gnufied are you still working on this?

[2018-12-06 18:52] thockin commented on #29804
Before we open new issues, I'd appreciate getting a deeper sense of the problem you are facing.  This bug doesn't say anything about that.

[2018-12-06 19:04] liggitt commented on #71811
added informer lookup in https://github.com/kubernetes/kubernetes/pull/71816

[2018-12-06 19:04] liggitt commented on #71811
/assign

[2018-12-06 19:36] liggitt commented on #71808
The code in question is here:
* https://github.com/kubernetes/kubernetes/blob/257a6d5bfa8f39c2432fc2314c06bc9bda9ad726/staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go#L151-L167

handlingInfo.proxyRoundTripper is built here:
* https://github.com/kubernetes/kubernetes/blob/257a6d5bfa8f39c2432fc2314c06bc9bda9ad726/staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go#L23

[2018-12-06 19:41] krmayankk commented on #68955
@misterikkit  are you talking about scheduler/internal/cache or scheduler/cache ? ( i think the former)

We have the following Queue and Caches being manipulated by the event handlers.

podQueue internalqueue.SchedulingQueue
schedulerCache schedulerinternalcache.Cache
equivalencePodCache *equivalence.Cache
 Is moving both the caches to internal/cache ok ? I think they should be in different packag

[2018-12-06 19:44] gnufied commented on #45726
@leakingtapan nope. feel free to take a look.

[2018-12-06 19:44] leakingtapan commented on #50898
@justinsb https://github.com/kubernetes/kubernetes/pull/67812 address this. Should we close this issue?

[2018-12-06 19:45] liggitt commented on #71749
a few questions:
* can you provide full output of `kubectl version`, including the server version?
* did you upgrade kube-apiserver to 1.13.0?
* are you running static pod manifests on the kubelet?

[2018-12-06 20:12] emmanuel commented on #50898
Based on my (admittedly brief) reading of the changes in #67812, I believe they address different issues.

This is about allowing the user to specify arbitrary tags in a PVC, whereas #67812 is about atomicity of the volume creation and tagging (performing both in a single operation, as opposed to the previous two operations).

If I'm correct, then I believe this issue still remains.

[2018-12-06 20:31] misterikkit commented on #68955
@krmayankk Yes, I meant `scheduler/internal/cache`. `equivalenceCache` is being removed (and redesigned) starting with https://github.com/kubernetes/kubernetes/pull/71399, so those event handlers will go away (along with the requirement to sequence cache vs eCache updates).

I agree with you that cache and eCache belong in separate packages.

I think the informers should be passed into `cache.New`

[2018-12-06 20:45] cblecker commented on #70711
Things are running fine in CI. If you're still experiencing issues, please let us know.

/close

[2018-12-06 20:45] #70711 closed

[2018-12-06 20:47] misterikkit opened #71819 "[scheduler] improve logging for successful binding"
**What would you like to be added**:
We should add a log line (at V1 or V2) each time the scheduler successfully creates a binding. The log should include,
- pod namespace/name
- target node
- number of nodes evaluated
- number of feasible nodes found

**Why is this needed**:
If the scheduler thinks everything is going well, almost nothing gets logged about scheduling decisions. Adding this log wi

[2018-12-06 20:48] misterikkit commented on #71819
/help
/good-first-issue

To anyone who wants to help with this, please make sure that sig-scheduling approves of this enhancement first.
/cc @bsalamat @k82cn

[2018-12-06 20:56] TheKevJames commented on #63494
@mbohlool Sorry for the late response on this one. I can no longer reproduce this bug on version 1.11.2-gke.18. Thanks!

[2018-12-06 20:56] #63494 closed

[2018-12-06 20:56] TheKevJames commented on #68400
/remove-lifecycle stale
@kubernetes/sig-cli-bugs

[2018-12-06 21:06] neolit123 commented on #71677
@timothysc here is an experimental container that builds kubeadm and the kubelet:
https://github.com/neolit123/kubeadm-builder

we spoke about that on Tuesday, or was it Wednesday.

[2018-12-06 21:12] dims commented on #71677
we now have `go get github.com/kubernetes/kubernetes/cmd/kubeadm` and `go get github.com/kubernetes/kubernetes/cmd/kubelet` working! :)

[2018-12-06 21:20] lavalamp commented on #71714
/assign @caesarxuchao

[2018-12-06 21:20] lavalamp commented on #71752
/assign @liggitt

[2018-12-06 21:36] lavalamp commented on #71693
Please file a support request: https://cloud.google.com/kubernetes-engine/docs/support

It's not clear from this report what has gone wrong, but I suspect it is not a kube-apiserver problem. Support can help you more.

(It is possible the support request will eventually be routed to me or my team but then we will have the necessary context to diagnose.)

[2018-12-06 21:36] #71693 closed

[2018-12-06 21:40] liggitt commented on #67761
to clarify, the conflict errors are seen in the quota controller log, correct? some degree of conflict is expected, so lowering the verbosity of conflict errors would be a more reasonable fix

[2018-12-06 21:45] hb3b commented on #71151
Any thoughts? @kubernetes/sig-auth-feature-requests

[2018-12-06 22:40] nerzhul commented on #71749
hello @liggitt
* i had rollbacked this node cannot currently
* no i didn't. I just upgraded on one server kube-proxy and kubelet. Kube-proxy works fine.
* i don't have static pods, just daemonsets on this node (metrology)

[2018-12-06 22:44] liggitt commented on #71749
kubelet must not be newer than kube-apiserver

be sure to upgrade kube-apiserver to 1.13 before upgrading kubelet

[2018-12-06 22:44] liggitt commented on #71749
/close

[2018-12-06 22:46] tariq1890 commented on #11852
I have 16 GB of ram and my build fails

[2018-12-06 22:46] nerzhul commented on #71749
i understand but why not just have a proper error instead of a ugly stack trace then ? it's more proper than an unhandled error.

[2018-12-06 23:11] BenTheElder commented on #11852
having 16 GB of ram != exposing 16 GB to the docker daemon depending on your setup. if you're on docker for mac / windows you'll need to configure it to allow more ram for the VM

[2018-12-06 23:12] nikhilk commented on #46574
Is there a plan to make the Fluent Bit approach more 1st class (eg. option when creating a cluster w. gcloud, or at the least fully documented) and possibly even the default?

[2018-12-06 23:14] thockin commented on #11852
Being able to run Linux builds on Mac is the source of much of the
complexity in the build system.  I still think we should just not.

On Thu, Dec 6, 2018 at 3:12 PM Benjamin Elder <notifications@github.com>
wrote:

[2018-12-06 23:48] logicalhan commented on #71165
I have some reservations about this actually. This effectively circumvents one of the reasons we have metric whitelisting in prometheus-to-sd, specifically we use it to audit the number of metrics ingested (so we can ensure we don't exceed quota). Labelling effectively disguises the growth in cardinality for our metrics, which can potentially be problematic down the line.

[2018-12-07 00:14] krmayankk commented on #65990
/remove-lifecycle rotten

[2018-12-07 00:14] krmayankk commented on #65990
/reopen

[2018-12-07 00:14] krmayankk commented on #65990
/sig kubelet

[2018-12-07 00:15] krmayankk commented on #65990
@kubernetes/sig-scheduling-feature-requests  @bsalamat  is this still relevant ?

[2018-12-07 00:31] bsalamat commented on #71659
@krzysied I like the idea of having a benchmark test for running 5K node clusters. The test does not take much to run on my machine. As you can see in the results it takes about 2 minutes to run when it schedules 10,000 pods after an initial warm-up of scheduling 1,000 pod. So, every two hours sounds very reasonable to me.

[2018-12-07 01:41] vishh commented on #71661
Yes, the flag should work. cc @dashpole

[2018-12-07 01:45] brentpearson commented on #68146
I've discovered that in a working environment, I can shell into the kube-dns pod --> kubedns container, and ping external addresses, either with a domain name or IP. In an environment where the DNS has started failing (but connectivity still functions when using IPs), if I shell into the kubedns container, I can't ping external addresses, even if using IPs.

[2018-12-07 01:49] liggitt commented on #71749
/reopen
cc @kubernetes/sig-node-bugs for disposition

[2018-12-07 01:50] liggitt commented on #71749
code in question is here:

https://github.com/kubernetes/kubernetes/blob/1cd6ccb34458def1347ae96b2e8aacb5338f8e1d/pkg/kubelet/kubelet_pods.go#L546

note that this is an unsupported configuration

[2018-12-07 02:40] guangruiQin opened #71823 "Node status unchanged after restarting KUBELET"
Is this a BUG REPORT or FEATURE REQUEST?:
BUG REPORT

What happened:
systemctl restart kubelet, keep trying "kubectl get node", node will be notready and then endpoints on that node will be not ready
What you expected to happen:
node stays in ready status during kubelet restart
How to reproduce it (as minimally and precisely as possible):
Just restart kubelet and then keep trying "kubectl get node

[2018-12-07 02:42] wgliang commented on #71819
I can take this if sig-scheduling approves of this enhancement.
/assign
/remove-help

[2018-12-07 03:08] Nebulazhang commented on #67761
Yes, and the conflict errors are also seen in api-server log  when create a pod . Too many conflict errors cause pod  create to fail.

[2018-12-07 04:01] turchanov opened #71825 "kubeadm incorrectly upgrades kubelet.conf for certificate rotation during cluster upgrade"
**What happened**:
We routinely upgrade our kubernetes cluster to from 1.8->1.9->1.10->1.11->1.12 so that I cannot say when exactly that happend but it is evident that when kubernetes enabled at some point kubelet certificate rotation by default it hasn't patched `/etc/kubernetes/kubelet.conf` to refer to that "rotatable" certificate (`/var/lib/kubelet/pki/kubelet-client-current.pem`).
In out clus

[2018-12-07 04:15] Linuxbody opened #71826 "Coredns"
[ERROR] plugin/errors: 2 1832739969549183765.325799172751613093. HINFO: unreachable backend: read udp 10.233.102.132:49471->219.141.136.10:53: i/o timeout
E1207 03:34:20.049977       1 reflector.go:205] github.com/coredns/coredns/plugin/kubernetes/controller.go:318: Failed to list *v1.Namespace: Get https://10.233.0.1:443/api/v1/namespaces?limit=500&resourceVersion=0: dial tcp 10.233.0.1:443: i/o

[2018-12-07 04:46] Linuxbody opened #71827 "coredns"
kubespray-2.8
Kubernetes版本 1.12.3
CentOS Linux 7
4.18.16-1.el7.elrepo.x86_64

[root@node3 coredns]# kubectl -n kube-system logs -f coredns-76cc59fb67-58jvq
.:53
2018-12-07T04:42:00.816Z [INFO] CoreDNS-1.2.6
2018-12-07T04:42:00.816Z [INFO] linux/amd64, go1.11.2, 756749c
CoreDNS-1.2.6
linux/amd64, go1.11.2, 756749c
 [INFO] plugin/reload: Running configuration MD5 = dcbdb2052e98794e3ce3d2c41f785ef9
E

[2018-12-07 05:07] mortent commented on #71165
I understand the concern, but in this case the number of workqueues will be relatively low (I think we might be 20-30 now?) and we only have one label on the metrics. I would be more concerned if we had a high cardinality label and/or multiple labels.
@loburm You have any guidance here?

[2018-12-07 05:40] #71827 closed

[2018-12-07 05:41] Quentin-M commented on #71071
This is pretty insane, we got bitten really hard on production earlier today.

[2018-12-07 05:56] Quentin-M commented on #71202
https://github.com/kubernetes/kubernetes/issues/71071

[2018-12-07 05:58] chaolou commented on #45509
statefulset is only support delete pods in order, but not specific pods

[2018-12-07 06:06] myonlyzzy commented on #71773
check you breakpoints maybe kube-apiserver  never run there.

[2018-12-07 06:18] Quentin-M commented on #71071
Was the bug chery-picked?

[2018-12-07 06:20] basicfu commented on #71711
@justmeandopensource You try to modify the docker version,
My environment the same as you:
kubernetes version: 1.11.1
docker version : 1.13.1-84
change to 18.06.1-ce no problem
I have installed the kubernetes 1.13.0,use docker 1.13.1-84 will restart,change to 18.06.1-ce no problem

[2018-12-07 06:38] kritishpahi commented on #32522
Got similar issue with AWS:
Dec 07 06:35:14 ip-172-20-73-203 kubelet[1188]: E1207 06:35:14.739628    1188 summary.go:102] Failed to get system container stats for "/system.slice/kubelet.service": failed to get cgroup stats for "/system.slice/kubelet.service": failed to get container info for "/system.slice/kubelet.service": unknown container "/system.slice/kubelet.service"
Dec 07 06:35:14 ip-172-2

[2018-12-07 07:09] tanshanshan commented on #71769
I found the same problem
`kubectl config unset --help`
[code]

PROPERTY _NAME the same as above you paste

in https://github.com/kubernetes/kubernetes/blob/71cf45f35ca7baa3fdc44ebe4992b71ab1741277/pkg/kubectl/cmd/config/unset.go#L42

[2018-12-07 07:16] maplain opened #71829 "vSphere cloud provider unable to detachVolume if node is deleted but not vSphere vm"
/kind bug

**What happened**:
We had a pod with persistent storage. We drained the node firstly. Then, we deleted the node through kubectl, but the worker vm keeps there. The PV was not attached to the node that the Pod migrated too.  As a result, rescheduled statefulset pod is stuck in pending state forever.

**What you expected to happen**:
PV is detached from old vm successfully so that statefu

[2018-12-07 07:18] maplain commented on #71829
/sig-vmware

[2018-12-07 07:20] maplain commented on #71829
@SandeepPissay @abrarshivani @divyenpatel

[2018-12-07 08:19] mysunshine92 commented on #71823
/sig node

[2018-12-07 08:19] #62310 closed

[2018-12-07 08:19] loburm commented on #71165
Whitelisting in prometheus-to-sd is used for different purpose: telling which metrics we should push to Stackdriver and which not. AFAIK 20-30 different label values is not critical at all for Stackdriver, I have seen worth. So I think it's ok, if that is something controlled in the code, and not autogenerated (for example node name).

Also I don't think that any possible Stackdriver limitations s

[2018-12-07 08:42] justmeandopensource commented on #71711
@basicfu
Thanks for the suggestion. It indeed worked very well. I went for docker version 18.09 ce though. During cluster initialization, I got a warning that this version has not been validated and only upto 18.06 is validate. But anyway it worked perfectly fine.

Thanks for your inputs. I am going to close this issue.

[2018-12-07 08:43] #71711 closed

[2018-12-07 08:43] uablrek commented on #65006
Still not even a comment on https://github.com/docker/libnetwork/issues/2289.
Maybe time cut the dependency to this lib that seem unmaintained?

[2018-12-07 08:49] basicfu commented on #71711
@justmeandopensource
Recommend that you install designated version of the docker
I use `yum -y install docker-ce-18.06.1.ce` There will be no warning
v1.13.0 External Dependencies See: <https://github.com/kubernetes/kubernetes/blob/2ea50003797952e599ae24cd58e6e9f98caa4d5a/CHANGELOG-1.13.md#external-dependencies>
[code]

[2018-12-07 08:55] justmeandopensource commented on #71711
Thanks @basicfu
I will stick to it.

[2018-12-07 09:03] alex-nt commented on #71711
Double checked the version of my docker installation.
Works: **Docker version 1.13.1, build 8633870/1.13.1**
Fails: **Docker version 1.13.1, build 07f3374/1.13.1**
Will try to get them inline later today. Thanks @basicfu :+1:

[2018-12-07 09:06] narg95 commented on #70257
@ltupin worked :)

@kubernetes-team just push the new version to the registry please

[2018-12-07 09:13] basicfu commented on #71711
@alex-nt I am in `docker-1.13.1-68` also there is no problem,But in the `docker version : 1.13.1-84` also have this problem,Cluster restart due to minor version changes, So I use `docker-ce`

[2018-12-07 09:18] chendave opened #71832 "kubemark should hornor the config defined in the "config-default.sh""
**What happened**:
I want to run kubemark with a exsiting kubernetes cluster, set CLOUD_PROVIDER='local', and defined the config-default.sh as below, code path is "cluster/kubemark/local/config-default.sh",
[code]

After that, run the benchmark like this,
./test/kubemark/run-e2e-tests.sh --ginkgo.focus=[Feature:Performance]

But it is still trying to connect with "http://127.0.0.1:8080" and failed

[2018-12-07 09:20] chendave commented on #71832
/sig scalability

[2018-12-07 09:32] chendave opened #71836 "[Question] kubemark Failure in Spec Setup"
**What happened**:
I have a k8s cluster and hope to run kubemark with CLOUD_PROVIDER set to 'local', and defined the config-default.sh as below, code path is "cluster/kubemark/local/config-default.sh",
MASTER_IP="192.168.17.24"
MASTER_NAME="k8smaster"
NUM_NODES="3"
CLUSTER_IP_RANGE="10.224.0.0/11"
SERVICE_CLUSTER_IP_RANGE="10.0.0.0/16"
CLOUD_PROVIDER="local"
KUBERNETES_PROVIDER="local"
KUBE_MASTER

[2018-12-07 09:33] chendave commented on #71836
/sig scalability

[2018-12-07 09:42] ggaurav10 commented on #50648
changed `fsType` to `fstype` in the storageClass, and it worked.

[2018-12-07 09:50] slevinson commented on #68286
+1
More info on exit reason would be very helpful

[2018-12-07 09:56] lbernail commented on #71071
Yes this probably comes from the fix in the `delete` function (not really related to the title of the PR).

@m1093782566 I can create the cherry-pick for 1.12. Do we want to backport the full PR or only the fix in the delete function? (to avoid changing behavior with UDP flows in 1.12)

[2018-12-07 09:56] adidenko commented on #71071
@Quentin-M it looks like the bug was introduced by https://github.com/kubernetes/kubernetes/pull/66012 which was cherry-picked to 1.11.5 and 1.12.2 releases:
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md#changelog-since-v1114
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md#other-notable-changes-1

[2018-12-07 10:20] slimee opened #71837 "MountVolume.SetUp failed for volume “mongo-two”: lstat /var/lib/mongo: no such file or directory"
**What happened**:
Failed to mount a local-storage volume. (stateful-set with PVC + PV + local-storage class)
First PV is at "Bound" status with correct PVC, but deployment never ends.
Kubelet log say:  lstat /mongo/data: no such file or directory
But /mongo/data exists on the hosts.

**What you expected to happen**:
Volume should be successfully mounted.

**How to reproduce it (as minimally and p

[2018-12-07 10:41] yastij opened #71838 "frontend ip lost while service still exsting on azure"
This happened for the second time, I've seen some frontend ip configuration for internal loadbalancer being cleaned up while we did not delete the corresponding service.

- audit logs do not show anything interesting
- controller-manager (`--v=4`) did not show anything interesting
- Azure activity log shows the following:

[code]

/priority critical-urgent
/kind bug
/sig azure

cc @feiskyer

[2018-12-07 10:50] sp-joseluis-ledesma commented on #64751
/remove-lifecycle stale

[2018-12-07 11:25] aoxn opened #71839 "Kubelet report False runtime status while restart"
**What happened**:
When we restart kubelet , we found that kubelet post NodeNotReady status imediately.  This would result in cloud-controller-manager removing Loadbalancer backend imediately which is not expected.

After go through the kubelet log, we found that kubelet report `container runtime is down` but actually it is up. That is kubelet report a false container runtime status while restart

[2018-12-07 11:36] rdxmb commented on #60987
same problem here

[code]
Ubuntu 16.04. LTS
Docker 17.03.3.-ce
using HostPath and iSCSI as volumes

[2018-12-07 11:49] pmichali commented on #62822
The KEP for this feature was moved from https://github.com/kubernetes/community/pull/2254 to https://github.com/kubernetes/enhancements/pull/648.

I'll let @leblancd comment on the status of the KEP, but for myself, I won't be able to continue working on dual-stack (I do have an outstanding PR out for review - https://github.com/kubernetes/kubernetes/pull/70659).

[2018-12-07 12:47] yastij commented on #71838
/sig cloud-provider

[2018-12-07 12:56] prometherion opened #71843 "Unboundable PV if `.spec.claimRef.namespace` key is null"
**What happened**:

Seems that the key `.spec.claimRef.namespace` is not mandatory and can break the PV _claim_ reference.

[code]

After creating the resources I get wrong _claim_ and obviously unbounded PVC due to `pending` state.

[code]

**What you expected to happen**:

I expect to see applied the current namespace or the `default` one or a validation error during the creation phase.

[code]

[2018-12-07 12:56] prometherion commented on #71843
/sig storage

[2018-12-07 13:42] redbaron opened #71845 "kubectl makes GET request despite --watch-only=true being set"
**What happened**:

`kubectl get <resource> <name> --watch-only`  makes GET request for a resource despite what documentation says

**What you expected to happen**:

Only WATCH request is made

**How to reproduce it (as minimally and precisely as possible)**:

[code]

notice there is a first GET,  which fetches object, if I understand `--watch-only` description correctly it shouldn't be there.

**

[2018-12-07 14:09] sylr commented on #71594
What make syou think they won't be also upgraded all at once ?

[2018-12-07 14:10] sylr commented on #71594
@feiskyer Can you pass this issue internally to the VMSS team at @Azure ?

[2018-12-07 14:15] matthiasr commented on #71071
I think all of #71515 should be cherry-picked. Graceful termination overall was only introduced and cherry-picked with #66012 so the behavior change has already happened.

[2018-12-07 14:36] redbaron commented on #71845
does it need to make that GET request? I know it is pretty unrealistic, but there can be an RBAC role with watch only verb

[2018-12-07 14:40] liggitt commented on #71845
yes, otherwise it doesn't know when it is done getting the initial set of ADDED events for existing items

[2018-12-07 14:44] msau42 commented on #71837
Are you using containerized kubelet?

[2018-12-07 14:44] redbaron commented on #71845
But subsequent watch request is `resourceVersion=0` , doesn't it mean "send me all events since you received this request" ?

[2018-12-07 14:46] vdboor commented on #71783
@liggitt Ah, good to know!  I always upgraded the kubelets first, and then performed `kubeadm upgrade`. 🤦‍♂️

[2018-12-07 14:49] liggitt commented on #71783
that doesn't sound right. cc @kubernetes/sig-cluster-lifecycle

[2018-12-07 14:53] liggitt commented on #71845
In the list case, we use the rv from the list as our watch starting point. in the single-version case, we use `0` and skip printing the first event.

[2018-12-07 15:00] jsafrane commented on #71761
IMO it would have some impact on PVC binding. If both PVC and PV are not pre-bound to anything, then binding is initiated by an event on **PVC**. The controller processes an event on PVC (e.g. periodic sync) and looks for a suitable PV and binds them. If there is no PV, it waits for the next periodic sync. Currently, nothing happens if a new PV becomes available so a PVC could be bound now. PVC st

[2018-12-07 15:02] slimee commented on #71837
@msau42 yes

[2018-12-07 15:14] mmaring-stackod commented on #60987
is there any update on this, this is causing us alot of grief.

[2018-12-07 15:28] justinsb opened #71850 "Differentiate between authenticated & non-authenticated images"
Currently kubernetes allows for an image pulled using a secret to be referenced without a secret by other pods.  The AlwaysPullImages admission controller fixes that, but at the expense of always pulling the image, creating a hard dependency on the registry being available.

Can we discuss a solution that allows for kubernetes to differentiate between public and private images?  Or that can cache

[2018-12-07 15:29] msau42 commented on #71837
We made some fixes for containerized kubelet in the past, but I don't recall if you had to expose rootfs or just the local volumes into the kubelet container.  cc @cofyc

[2018-12-07 15:29] justinsb commented on #71850
/sig node

[2018-12-07 15:30] neolit123 commented on #71783
@vdboor
what step of the upgrade guide is failing for you:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-13/

as you can see the kubelet is upgraded last and this process hasn't changed much since 1.11.

[2018-12-07 15:34] liggitt commented on #71783
Step 1 of https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-13/#upgrade-the-control-plane does `apt-get upgrade kubelet`

[2018-12-07 15:39] astrieanna opened #71851 "kube-proxy conflates nodename and hostname"
**What happened**: When the nodename is different from the hostname (set by the OS or the --hostname-override argument), kube-proxy believes all endpoints are remote endpoints. This breaks networking config.

**What you expected to happen**: Hostname and nodename are not required to be the same, so this should work.

**How to reproduce it (as minimally and precisely as possible)**:
Run kube-proxy

[2018-12-07 15:40] astrieanna commented on #71799
@dineshgovindasamy good point. I'm closing this issue in favor of one that is focused on kube-proxy as a whole, since this is not just windows. https://github.com/kubernetes/kubernetes/issues/71851

[2018-12-07 15:40] #71799 closed

[2018-12-07 15:50] neolit123 commented on #71783
that's a problem in the docs.

kubelet ugprade should be done after.

[2018-12-07 15:54] neolit123 commented on #71783
i will log an issue. :\

[2018-12-07 15:58] krzysied commented on #71659
@bsalamat I've created PR #71849 with 5k nodes test case.

[2018-12-07 16:14] yuko11 commented on #63726
@tallclair isn't it a good idea to add your internal company's CA certificate into underlying host CA certificate bundle file and mount it into each POD? It would allow you to get public CA updates with underlying host OS update, and you can easily manage internal company's CA (except of you need to recreate all cluster hosts to change it). Having Public CA bundle + internal CA certs in configmaps

[2018-12-07 16:32] gnufied commented on #71829
This is known problem. vsphere cloud provider needs UUID from node object for successful detach and if you delete the node object - detach will no longer work.  I opened a PR to fix this awhile back - https://github.com/kubernetes/kubernetes/pull/69691 (based on https://github.com/kubernetes/kubernetes/pull/63413)  which stores the UUID in a configmap, so as even if node object is deleted, we can

[2018-12-07 16:35] gnufied commented on #62392
/reopen
/remove-lifecycle-rotten

[2018-12-07 16:37] hhjie opened #71853 "I use azure storage in China area; but the api is not "core.chinacloudapi.cn";"
/triage support

[2018-12-07 16:40] Joseph-Irving commented on #39824
Yeah that doc could do with some rewording to make it clear what actions obey the PDB, currently it gives example of non voluntary disruptions like hardware failure, node deletion etc but then it seems to imply that something like deleting a deployment is a  voluntary disruption and would therefore obey PDB.

This doesn't make any sense to me, if I've deleted a deployment I do not expect my pods t

[2018-12-07 17:05] flyingcougar commented on #71327
@Ramyak
Re: Problem 1 - You can also reproduce this by using pod anti-affinity. Zone score is calculated only based on nodes filtered by predicates. IMO zone score should be calculated using all nodes.

[2018-12-07 17:08] #71600 closed

[2018-12-07 17:30] slimee commented on #71837
Ok I add just my local volume into kubelet and it works.
Thanks you very much @msau42

[2018-12-07 17:30] #71837 closed

[2018-12-07 17:31] twistedpair commented on #55406
Any update on the ability that @flypenguin mentions, blacklisting rather than whitelisting? I'd like to simple block all RFC1918 CIDRs. but all the test.

[2018-12-07 17:49] maplain commented on #71829
@gnufied thanks for getting back and sharing your thoughts on this issue!

I'm aware of your this fix:https://github.com/kubernetes/kubernetes/pull/70291 but it could not handle the situation where k8s node is removed manually.  In which case, vcp will receive the nodeDelete event and clean up cache inevitably. and host itself is not powered off all the time.

vcp has a RediscoverNode method but a

[2018-12-07 18:07] krmayankk commented on #39824
imo `kubectl delete --respect-pdb` is more intuitive. People know what delete does, and now they want it to respect disruption budgets. evict introduces a new verb which is known to expert api user but probably needs more explaining to kubectl user.

Also am i reading this correctly that StatefulSets doesnt respect PDB ?

[2018-12-07 18:07] neolit123 commented on #11852
the (quick-)release build is a memory hog.

if you want to build only certain components you can use `make WHAT`:
[code]
this hardly peaks at 1.5GB for me.

also the control plane and other images are already pre-built with each release and available at gcr.io/ - e.g. `gcr.io/google-containers/kube-apiserver`.

so unless one wants to re-release k8s i don't see a reason why `make *release` should b

[2018-12-07 18:07] jwenz723 commented on #57801
same here. Running on EKS v1.10.11-eks.

[2018-12-07 18:17] thockin commented on #11852
`make kubelet` also works - everything in `cmd` is promoted to a top-level
make rule :)

On Fri, Dec 7, 2018 at 10:08 AM Lubomir I. Ivanov <notifications@github.com>
wrote:

[2018-12-07 18:19] liggitt commented on #11852
you just saved me about 1000 keystrokes a week

[2018-12-07 18:46] BenTheElder commented on #11852
This issue would happen even if we told people to use a Linux VM on Mac
explicitly - the developer needs to configure enough RAM on their end.

The builds eat a _lot_ of resources wherever you build.

On Thu, Dec 6, 2018, 15:16 Tim Hockin <notifications@github.com wrote:

[2018-12-07 18:50] BenTheElder commented on #11852
If someone wants to build k8s enough to boot it but isn't actually cutting
a release, something like this should suffice on a recent branch:

make quick-release-images
make kubelet kubectl kubeadm

The {quick-}release-images targets will let you build images without
building the entire release including tarballs etc. You probably don't need
any of that.

On Fri, Dec 7, 2018, 10:45 Benjamin Elder <

[2018-12-07 18:53] gnufied commented on #71829
@maplain I wasn't talking about that fix. I was talking about - https://github.com/kubernetes/kubernetes/pull/69691 which will fix this issue.

[2018-12-07 19:18] recampbell commented on #70179
We saw similar behavior and believe it is due to this known issue: https://success.docker.com/article/the-docker-stats-command-reports-incorrect-memory-utilization

[2018-12-07 19:36] obriensystems commented on #71411
Fixed in
https://github.com/kubernetes/kubernetes/issues/71411
for
https://jira.onap.org/browse/LOG-895

[2018-12-07 20:39] dkirrane commented on #71502
Seeing the same issue on kubeadm 1.12.3 cluster
`persistentvolume-controller  Failed to provision volume with StorageClass "thin-disk": No VM found`

[2018-12-07 20:43] dkirrane commented on #65933
Still hitting this in kubeadm created cluster `1.12.3`
PVC won't provision
`persistentvolume-controller Failed to provision volume with StorageClass "thin-disk": No VM found`

kube-controller-manager pod shows:
`E1207 20:14:34.655991       1 datacenter.go:78] Unable to find VM by UUID. VM UUID:`

[2018-12-07 20:45] sharkguto commented on #66961
+1

[2018-12-07 21:20] Laski commented on #48948
/remove-lifecycle stale

This is still happening to me in v0.30.0

[2018-12-07 21:53] liggitt commented on #71850
duplicate of https://github.com/kubernetes/kubernetes/issues/18787 ?

[2018-12-07 22:05] justinsb commented on #71850
Thanks @liggitt - quite right. I hope you had to look the PR number up ;-)

[2018-12-07 22:05] #71850 closed

[2018-12-07 23:01] #59368 closed

[2018-12-07 23:28] misterikkit opened #71859 "[scheduler cleanup phase 2]: Move users of `factory.NewConfigFactory` to `scheduler.New`"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.

Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

If you contributed in phase 1, please give others a chance before claiming this issue. You can also help out by reviewing the phase 2 PRs.

Our existing, multi-st

[2018-12-07 23:28] misterikkit opened #71860 "[scheduler cleanup phase 2]: Flatten Top Level Scheduler Struct"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.

Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

If you contributed in phase 1, please give others a chance before claiming this issue. You can also help out by reviewing the phase 2 PRs.

Currently, the type [`

[2018-12-07 23:29] misterikkit opened #71862 "[scheduler cleanup phase 2]: Rename `pkg/scheduler/cache` to `pkg/scheduler/nodeinfo`"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.

Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

If you contributed in phase 1, please give others a chance before claiming this issue. You can also help out by reviewing the phase 2 PRs.

Nearly all of the "cac

[2018-12-07 23:29] misterikkit opened #71863 "[scheduler cleanup phase 2]: Rename `pkg/scheduler/util` to `pkg/scheduler/internal/podinfo`"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.

Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

If you contributed in phase 1, please give others a chance before claiming this issue. You can also help out by reviewing the phase 2 PRs.

This package contains

[2018-12-07 23:29] misterikkit opened #71864 "[scheduler cleanup phase 2]: Move predicate types from `pkg/scheduler/algorithm` to `pkg/scheduler/algorithm/predicates`"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.

Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

If you contributed in phase 1, please give others a chance before claiming this issue. You can also help out by reviewing the phase 2 PRs.

The predicate types in

[2018-12-07 23:29] misterikkit opened #71865 "[scheduler cleanup phase 2]: Move priority types from `pkg/scheduler/algorithm` to `pkg/scheduler/algorithm/priorities`"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.

Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

If you contributed in phase 1, please give others a chance before claiming this issue. You can also help out by reviewing the phase 2 PRs.

The priority types in

[2018-12-07 23:29] misterikkit opened #71866 "[scheduler cleanup phase 2]: Move predicate and priority registration into their own packages"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.

Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

If you contributed in phase 1, please give others a chance before claiming this issue. You can also help out by reviewing the phase 2 PRs.

The package `pkg/sched

[2018-12-07 23:29] misterikkit opened #71867 "[scheduler cleanup phase 2]: Move compatibility_test.go to `pkg/scheduler/api`"
**PLEASE COORDINATE WITH SIG-SCHEDULING BEFORE WORKING ON THIS ISSUE.** We want to avoid the situation where two people accidentally start work on the same fix.

Main tracking issue: https://github.com/kubernetes/kubernetes/issues/68951

If you contributed in phase 1, please give others a chance before claiming this issue. You can also help out by reviewing the phase 2 PRs.

The tests in `pkg/sche

[2018-12-07 23:44] davidkarlsen commented on #64021
how about using dmidecode to get UUID? For smaller sites it is interesting enough to not land on the . same ESX host

[2018-12-07 23:54] feiskyer commented on #71594
@sylr there're plans of supporting LB backends updates for each instance. that should be rollout next year.

[2018-12-07 23:55] justinsb commented on #66885
The default mode of operation is to register all nodes with the ELB.  kube-proxy on each node then forwards traffic to a pod.

externalTrafficPolicy = Local registers all nodes, but uses a health-check such that only nodes with pods will be marked healthy.  This means that traffic doesn't need to be forwarded.  A health-check should be faster than adding and removing backends entirely from the Loa

[2018-12-08 00:18] izgeri commented on #2630
@michalpiasecki1 can you give more info about how you resolved this for postgres?

I have the server.crt and server.key files stored in a k8s secret `pg-certs-secret` and I want to mount them into my container running `postgres:9.6`. I have this set up with:
[code]

But deploying this, the container dies with the error `FATAL:  could not load server certificate file "/etc/certs/pg_server.crt": Per

[2018-12-08 00:21] samuela opened #71869 "`failed to garbage collect required amount of images. Wanted to free 473842483 bytes, but freed 0 bytes`"
**What happened**: I've been seeing a number of evictions recently that appear to be due to disk pressure:
[code]
Taking a look at `kubectl get events`, I see these warnings:
[code]
Digging a bit deeper:
[code]
There's actually remarkably little here. This message doesn't say anything regarding why ImageGC was initiated or why it was unable recover more space.

**What you expected to happen**: Ima

[2018-12-08 00:40] wgliang commented on #71859
/assign
/remove-help

[2018-12-08 00:41] ahmad-diaa commented on #71860
@misterikkit Can I give it a try?

[2018-12-08 00:45] bgrant0607 commented on #13488
@bholagabbar-mt What is your use case?

cc @kow3ns @janetkuo

[2018-12-08 00:50] misterikkit commented on #71860
@ahmad-diaa sure. Reach out here or on slack if you run into trouble.

[2018-12-08 00:53] yuexiao-wang commented on #71862
I will work on it

[2018-12-08 00:59] wgliang commented on #71862
Cool, thanks for you help @yuexiao-wang
/remove-help

[2018-12-08 01:18] yliaog commented on #71784
so test-ext-adaptor.dailyevn.net is the proxy server, and from its access log, you see the req header is "127.0.0.1:6443", which is the apiserver's host.

It seems that is working as expected. i.e, when apiserver sends the request to the proxy server, the req header should be apiserver's host. it cannot be the proxy server's host.

Am I missing something here?

[2018-12-08 01:29] samuela opened #71870 "`Error from server (NotFound): daemonsets.extensions "fluentd-gcp-v3.0.0" not found`"
**What happened**: I've been seeing these errors in StackDriver constantly:
[code]

**What you expected to happen**: fluentd to work.

**How to reproduce it (as minimally and precisely as possible)**: Start a cluster on GKE. Look at the logs.

**Anything else we need to know?**: I'm also seeing errors like this after upgrading to 1.11.3-gke.18:
[code]

**Environment**:
- Kubernetes version (use `k

[2018-12-08 01:29] samuela commented on #71870
/sig gcp

[2018-12-08 01:47] izgeri commented on #2630
For reference, I just figured this out and it worked when I added
[code]
to the spec.

[2018-12-08 01:51] sa9226 opened #71871 "gluster endpoints are disappearing"
In our env. we are using heketi/gluster dynamic provisioning for persistent volumes.
Our cluster is used by many application teams in dev as well as production.  We are noticing endpoints related pvc are disappearing once in while. It's not impacting all endpoints only few once in a while. Once the endpoint is missing if pod any chance restart having trouble mounting the pvc and failing. Any help

[2018-12-08 02:04] sa9226 commented on #71871
@kubernetes/cluster-lifecycle-bugs

[2018-12-08 02:11] bsalamat commented on #71466
@seh I agree with you that what you are seeing is probably the same as #71486. We are trying to address the two scenarios. One is already merged. The other one is being addressed.

[2018-12-08 02:40] denkensk commented on #71864
I will take it.

[2018-12-08 02:42] yuexiao-wang commented on #71862
@wgliang thanks

[2018-12-08 02:49] mysunshine92 commented on #71871
/sig storage

[2018-12-08 02:56] yuexiao-wang commented on #71867
I would like to take it and thanks

[2018-12-08 03:09] denkensk commented on #71864
/remove-help

[2018-12-08 03:32] KevinKingKong commented on #71784
@yliaog Thanks for your reply。Apiserver uses "test-ext-adaptor.dailyevn.net" to access proxy server，the http req header's Host should be "test-ext-adaptor.dailyevn.net" but is "127.0.0.1:6443"，this is not conform to IETF specification(https://tools.ietf.org/html/rfc7230#section-5.4)

[2018-12-08 03:36] liggitt commented on #71871
That sounds suspiciously like
https://github.com/kubernetes/kubernetes/pull/58547 which was fixed in 1.9.3

[2018-12-08 03:41] sonasingh46 commented on #71865
I would like to work on this issue.

[2018-12-08 03:41] sonasingh46 commented on #71865
I will take it.

[2018-12-08 04:39] #37598 closed

[2018-12-08 05:09] johnnyflute commented on #37922
I used to set proxy manually on my docker engine, I reset it to system proxy, and it seems work normal to me

[2018-12-08 05:13] #56721 closed

[2018-12-08 05:57] corest commented on #71078
Hitting the same for k8s 1.12.3 and 1.13.0. Kubelet unable to get nodeinfo -> fails to register itself. Happens only for master node. Restart of the kubelet fixes the issue

[2018-12-08 06:41] #57094 closed

[2018-12-08 07:12] xuekew opened #71878 "net/http: HTTP/1.x transport connection broken: malformed HTTP response"
**What happened**:
[root@master ~]# kubectl logs my-web
Error from server: Get http://node1:10250/containerLogs/default/my-web/nginx: net/http: HTTP/1.x transport connection broken: malformed HTTP response "\x15\x03\x01\x00\x02\x02"

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernete

[2018-12-08 07:38] adohe commented on #71807
cc @adohe

[2018-12-08 07:42] andyzhangx commented on #71800
@pascalgn since `jenkins-home` is an existing azure file and `jenkins-home-workspace` is a new disk, usually mounting `jenkins-home` should be faster. While all mount points should not have mounting time sequence.

[2018-12-08 08:03] mysunshine92 commented on #71863
I will work on it

[2018-12-08 08:04] mysunshine92 commented on #71863
/remove-help

[2018-12-08 08:36] lbernail commented on #71071
@Quentin-M : Can you check the logs on kube-proxy and confirm that these types of messages are gone:
[code]

[2018-12-08 08:39] lbernail commented on #71071
Also, if everything works with `1.12.1`, there is a strong probability that the issue comes from graceful termination (#66012)

[2018-12-08 08:43] lbernail commented on #71071
I think I have an idea: I wonder what happens if we try to add a real-server that is still in graceful termination. In this case we should just increase the weight to 1 and remove it from the gracefultermination list.

I'll try to test this scenario as soon as I can (but it will tricky because I'm at Kubecon next week)

@Lion-Wei what do you think?

[2018-12-08 09:12] luxas commented on #71202
@uablrek Yes, but in ipv6-only cluster ipvs should still work out-of-the-box without a "downgrade" to iptables, right?

Also I noticed this fun thing that ipvs is marked as experimental still in the CLI:
[code]

[2018-12-08 09:17] luxas commented on #49213
cc @roberthbailey

[2018-12-08 10:40] lbernail commented on #71071
Ok scratch that, I just tested and it works fine. Code responsible for it is here: https://github.com/kubernetes/kubernetes/blob/456c351e31517543e0686b2cadf21615d30a738f/pkg/proxy/ipvs/proxier.go#L1538-L1542

In that case, the RS is removed from the `gracefulDelete` list and from IPVS RS. I wonder if setting the weight back to 1 instead might not be better

I'll try other things based on this part

[2018-12-08 10:45] #66027 closed

[2018-12-08 11:46] #66065 closed

[2018-12-08 12:02] pascalgn commented on #71800
I already suspected this might not necessarily be a Kubernetes issue, at least not exclusively. I searched a bit more and found:

](https://serverfault.com/questions/403550/nfs-mount-mounted-inside-another-nfs-mount-disappears-randomly)_

A similar entry is _[NFS mounts depending on other NFS mount fail to mount at boot.
](https://serverfault.com/questions/763997/nfs-mounts-depending-on-other-nfs-

[2018-12-08 12:44] Zanadar commented on #34059
I there a spot we could  add some sort of simple grep check that would run on git commits to prevent more of this sneaking in? I'd love to open a PR on that, I'm just not sure where it'd go.

[2018-12-08 12:45] zgfh commented on #37705
Facing up same issue.

[2018-12-08 12:47] #59418 closed

[2018-12-08 13:14] hokiegeek2 commented on #38532
Hi Everyone,

I vote for this. My use case is that, when using Argo, the pods never get cleaned up when the workflows end. I would like the Pod Terminated hook so either the Argo team can add this functionality or I can create a Zamboni service. I can do polling for this, obviously, but responding to the k8s event stream would be way cooler.

[2018-12-08 13:32] avtarsingh12015 commented on #64002
I am also facing the same issue.
![image](https://user-images.githubusercontent.com/20569900/49686513-aa05dd80-fb1b-11e8-8d1f-9b96d32ba293.png)

![image](https://user-images.githubusercontent.com/20569900/49686525-c43fbb80-fb1b-11e8-966d-141f4553166d.png)

[2018-12-08 15:18] blkerby commented on #67342
I hit this error on k8s v1.11.5:

[code]
When I look at the node, I see the devicePath looks normal:
[code]

[2018-12-08 16:18] #71737 closed

[2018-12-08 16:52] liggitt commented on #71878
you are contacting a https url using http

/close

[2018-12-08 16:52] #71878 closed

[2018-12-08 17:52] #66072 closed

[2018-12-08 19:15] bhavin192 commented on #71866
I would like to work on this.

[2018-12-08 20:17] timbunce commented on #48948
@rcorre, or someone with permission, please edit the title to remove the reference to 1.7.

[2018-12-08 23:05] xuekew commented on #71878
my config

[2018-12-08 23:05] xuekew commented on #71878
root/kubernetes/server/bin/kube-apiserver \
  --admission-control=NamespaceLifecycle,LimitRanger,DefaultSt
rageClass,ResourceQuota,NodeRestriction \
  --insecure-bind-address=0.0.0.0 \
  --kubelet-https=false \
  --service-cluster-ip-range=10.68.0.0/16 \
  --service-node-port-range=20000-40000 \
  --etcd-servers=http://etcd:2379 \
  --enable-swagger-ui=true \
  --allow-privileged=true \
  --audit-

[2018-12-08 23:07] liggitt commented on #71878
You should drop --kubelet-https=false from your invocation. That is causing the apiserver to try to reach the kubelet using http, but the kubelet is serving over https.

[2018-12-09 01:08] kvaps commented on #71783
Same problem after upgrading to `v1.13`, adding `volumeMode: Filesystem` to PVs does not making any change.

[code]

[2018-12-09 01:12] liggitt commented on #71783
@kvaps what version is your apiserver at? Can you include the output of `kubectl version`?

[2018-12-09 01:29] samuela commented on #60807
But what does the `kubernetes` finalizer do exactly? Is there any risk that resources are not being correctly cleaned up with this hack?

[2018-12-09 01:45] samuela opened #71886 ""Error from server (NotFound): scalingpolicies.scalingpolicy.kope.io "fluentd-gcp-scaling-policy" not found""
**What happened**: We're seeing all sorts of these errors in our logs:
[code]

If I use the following "advanced search" in stackdriver `textPayload = "Error from server (NotFound): scalingpolicies.scalingpolicy.kope.io \"fluentd-gcp-scaling-policy\" not found\n"`, I see hundreds of these.

**What you expected to happen**: GKE to work as advertised without producing hundreds of errors.

**How to re

[2018-12-09 01:45] samuela commented on #71886
/sig gcp

[2018-12-09 01:45] samuela commented on #71886
See also https://github.com/kubernetes/kubernetes/issues/67538#issuecomment-443390112.

[2018-12-09 01:51] samuela commented on #71869
I just upgraded my master version and nodes to 1.11.3-gke.18 to see if that would be any help, but I'm still seeing the exact same thing.

[2018-12-09 02:37] kvaps opened #71887 ""Scope has no PIDs. Refusing" messages when using --cgroup-driver=systemd"
**What happened**:

I have strange issue when using `systemd` cgroups driver, example messages:

[code]

**What you expected to happen**:

No messages

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[code]

**Anything else we need to know?**:

When switching `systemd` to `cgroupfs` problem is going out.

**Environment**:
- Kubernetes version (use `kubectl version`):
[co

[2018-12-09 02:40] kvaps commented on #71887
/sig node

[2018-12-09 03:12] samuela commented on #71869
FWIW "Boot disk size in GB (per node)" was set to the minimum, 10 Gb.

[2018-12-09 03:42] VanitySoft commented on #33664
updating kubernetes.io/change-cause annotations to what allows this? @hiephm

[2018-12-09 03:57] yanghaichao12 commented on #71851
@astrieanna   excluding test code,maybe  "https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/endpoints.go#L221" will never be reached....
at the top function "endpointsToEndpointsMap", there's a judgement
`	if endpoints == nil {
		return nil
	}
`
below is called path:
endpointsToEndpointsMap<-EndpointChangeTracker.Update<-Proxier.OnEndpointsUpdate<-Proxier.OnEndpointsAdd
OnEndpointsAdd

[2018-12-09 05:14] gosoon commented on #71661
OK，thanks.

[2018-12-09 05:41] wgliang commented on #71819
@k82cn @bsalamat
What‘s your opinions？I will submit PR if you think this is ok.

[2018-12-09 06:07] mnaser opened #71888 "Replace references of gcr.io with generic name"
**What happened**:
It seems that by default, all references to images point towards `gcr.io` for things like `pause` containers.  In addition, it seems that the official Docker images are released there as well.

**What you expected to happen**:
Ideally, using a non-vendor specific name.  Perhaps, something like `k8s.cncf.io` or a similar foundation-level path which brings Kubernetes towards decre

[2018-12-09 09:07] #66017 closed

[2018-12-09 10:08] #65791 closed

[2018-12-09 10:08] #66109 closed

[2018-12-09 10:12] justaugustus commented on #62514
/remove-lifecycle rotten
/reopen

[2018-12-09 11:37] Amos-85 commented on #64002
@avtarsingh12015  ,
try to follow their rook documentation to clean the ceph-cluster:
[https://github.com/rook/rook/blob/master/Documentation/ceph-teardown.md](url)

seems there is still resources in the rook-ceph namespace and that's why is it stuck on terminating status.

[2018-12-09 11:40] aasaru commented on #65575
I can confirm the workaround works also on Mac for getting pods:

`$ kubectl get pods --server-print=false
`
While without --server-print the command gives an error:

[code]

[2018-12-09 11:59] voor commented on #23880
/remove-lifecycle stale

[2018-12-09 12:10] #52745 closed

[2018-12-09 12:10] #64821 closed

[2018-12-09 12:49] feiskyer commented on #71838
@yastij What logs have you got from kube-controller-manager when this is happening? And which version of kubernetes are you running?

[2018-12-09 12:52] feiskyer commented on #71749
Refer the discussion here: https://github.com/kubernetes/kubernetes/pull/69061#discussion_r220394742

[2018-12-09 13:58] gnufied commented on #71578
Closing since it should be fixed by fixing kubelet crash.
/close

[2018-12-09 13:58] #71578 closed

[2018-12-09 15:31] vvkkhjt commented on #68474
/remove-lifecycle stale

[2018-12-09 17:04] #71151 closed

[2018-12-09 18:21] yliaog commented on #71784
Yes, i see your point. I'll take a closer look at the code today or tomorrow.

[2018-12-09 20:17] bsalamat commented on #71486
@xiaoxubeii We should have all three changes to address all known scenarios efficiently. The three changes are:
1. #57057 back off mechanism
2. #71488 fair sorting of pods in the scheduling queue
3. #71551 smarter processing of node updates

Node updates are not the only trigger for the scheduler to retry unschedulable pods. The scheduler also retries when running pods terminate, among a couple of

[2018-12-09 21:40] jb-sean commented on #33664
@hiephm @VanitySoft, this workaround has already been mentioned in the original issue’s list of workarounds, “Fake a change to the Deployment by changing something other than the image”. This includes changing/deleting/adding any annotation. There’s nothing special about the `kubernetes.io/change-cause` annotation in this case.

[2018-12-09 22:01] mcasperson commented on #70601
I've experienced this same error using Google OIDC and the k8s-oidc-helper. But the issues eventually rectifies itself. So my process is:

1. Build the local ~/.kube/config file using `k8s-oidc-helper`.
2. Add the appropriate RBAC cluster role bindings
3. Run `kubetctl get nodes`. This fails with `error: You must be logged in to the server (Unauthorized)`, and my log files have `Unable to authenti

[2018-12-09 22:20] #62770 closed

[2018-12-09 23:20] lbernail opened #71894 "When using IPVS, service deletion does not trigger graceful termination"
**What happened**:
When deleting a service, graceful termination does not work:
- If no RS is in the graceful termination list, the VS will be deleted and traffic from existing connections will be blackholed
- If an RS is in graceful termination, VS deletion will be postponed, but the ClusterIP (and others) will be unbound from kube-ipvs0 so traffic will be blackholed

**What you expected to happe

[2018-12-10 02:29] samuela opened #71897 ""terminate called after throwing an instance of 'google::MetadataUpdater::ConfigurationValidationError*'""
**What happened**: I'm seeing this error in my GKE logs for the metadata-agent:
[code]

**What you expected to happen**: The default GKE metadata-agent to not throw errors on the default configuration.

**How to reproduce it (as minimally and precisely as possible)**: Run a cluster on GKE.

**Anything else we need to know?**: I haven't messed with the metadata-agent config at all.

**Environment**

[2018-12-10 02:30] samuela commented on #71897
/sig gcp

[2018-12-10 02:54] superdave commented on #53533
Agreed. I'm happy to help write a KEP, because I have some definite ideas for this, but I've never done one before and would rather have a more experienced hand on the rudder.

[2018-12-10 02:56] superdave commented on #53533
But, also, I don't have the bandwidth for keeping up with a Slack channel in my spare time; if there's a more asynchronous method of coordinating, let me know.

[2018-12-10 03:05] zrbilvoe commented on #66961
+1

[2018-12-10 04:56] feiskyer commented on #71789
Sorry, didn't notice 'Internet' is not supported within the sourceAddressPrefixes field. The error is introduced in https://github.com/kubernetes/kubernetes/pull/71484. Let me file another PR to fix it.

/kind bug
/priority critical-urgent
/assign

[2018-12-10 05:50] #67983 closed

[2018-12-10 05:57] #71894 closed

[2018-12-10 07:03] danicheeta commented on #54918
I had this problem when issuing `kubeadm init` after `kubeadm reset` (weave as network plugin). haven't realized why but could fix it by deleting weave images from docker. don't forget to restart docker and kubelet

[2018-12-10 07:31] huynq0911 commented on #71867
Hi! I am contributer and I would like to take it.

[2018-12-10 07:50] devurandom commented on #42544
/remove-lifecycle stale

[2018-12-10 07:59] forbxy opened #71903 "cadvisor fsHandler did't recycled thread"
**What happened**:
Kubelet start a lot of threads，if count of threads over 10000， kubelet crashed
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
it seems if the disk of docker have I/O pressure， it happened

**Anything else we need to know?**:
this is the logs of kubelet when it happen
Dec 10 15:49:25 rs04 kubelet[26898]: I1210 15:49:25.131960

[2018-12-10 07:59] #71809 closed

[2018-12-10 08:02] saagievictor opened #71904 "kubeadm kube-controller-manager does not have ceph rbd binary anymore"
Hello :-)

**What happened**:
I have updated my cluster from 1.11.3 to 1.12.3, thus converting hypercube use to kubeadm.
Everything is working but the creation of **new** RBD persistent Volume.
When I create a new volume, it fails continuously with the error:
[code]
After some checks, it appears that the kube-controller-manager docker image which is used to create PV has no ceph rbd binary, while

[2018-12-10 08:02] venthur commented on #68457
/remove-lifecycle stale

[2018-12-10 08:05] aixeshunter opened #71905 "Pod be scheduled in untainted master with lower priority."
**What would you like to be added**:
Pod be scheduled in untainted master with lower priority.

**Why is this needed**:
I have a cluster with 3 masters and 3 nodes, the masters are untained and pods can be scheduled in them.

But I want the pod runs in nodes preferentially if their resources are enough only. Because the masters are very significant but resource in cluster is limited, so that they

[2018-12-10 08:07] saagievictor commented on #71904
/sig storage

[2018-12-10 08:10] mgdevstack commented on #70990
Seeking attention from @kubernetes/sig-node-test-failures for troubleshooting issue.

`[k8s.io] Container Runtime blackbox test when starting a container that exits should report termination message from log output if TerminationMessagePolicy FallbackToLogOnError is set [NodeConformance]` test is running successful on various platforms but not able to retrieve test's execution logs in kubelet's lo

[2018-12-10 08:15] forbxy commented on #71903
/sig Cluster Lifecycle

[2018-12-10 08:15] forbxy commented on #71903
/sig cluster-lifecycle

[2018-12-10 08:16] forbxy commented on #71903
[](https://github.com/kubernetes/kubernetes/issues/21022)

[2018-12-10 08:18] forbxy commented on #71903
#21022

[2018-12-10 08:29] krmayankk commented on #71905
its not clear what you want. It seems you prefer to run on nodes in some condition while on master on other conditions. Does node affinity and anti affinity help with your case  https://kubernetes.io/docs/concepts/configuration/assign-pod-node/  ?

[2018-12-10 08:31] krmayankk commented on #71904
/area kubeadm

[2018-12-10 08:50] mysunshine92 opened #71907 "Podstatus becomes MatchNodeSelector after reboot management nodes"
**What happened**:
[code]

I have  1 management nodes + 1 worker nodes，node1 is  the management nodes
After reboot node1, Podstatus becomes MatchNodeSelector and rc create one new pod which status is Running
after reboot, I check node1's label matches pod‘s nodeAffinity

**What you expected to happen**:
after reboot, podstatus is also Running

**How to reproduce it (as minimally and precisely as p

[2018-12-10 08:51] mysunshine92 commented on #71907
Ref: #52902

[2018-12-10 08:53] mysunshine92 commented on #52902
/reopen

[2018-12-10 08:55] aixeshunter commented on #71905
Hi, thanks your answer.
But I prefer to run on nodes if the resource(CPU, memory) is enough only, if not, the pod runs on master.

In general， my goal is to let the pods run as much as possible on the node instead of the master.

[2018-12-10 08:57] krmayankk commented on #68955
@misterikkit

I dont think the above separation is being strictly followed. For e.g. in addNodeToCache
https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/factory/factory.go#L971  updates the schedulerCache and https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/factory/factory.go#L975 updates the SchedulingQueue.

[2018-12-10 09:07] FrostyLeaf commented on #71071
Got an issue with the upgrade from 1.12.0 to 1.13.0, seems like related to this one.

I've posted it on [stackoverflow](https://stackoverflow.com/questions/53686816/content-length-limitation-in-http-requests-to-pod-ip-and-port/53698913#53698913)

[2018-12-10 09:09] mysunshine92 commented on #71907
cc @k82cn

[2018-12-10 09:43] oke-py opened #71908 "cluster/kube-up.sh failed while waiting for the API to be reachable"
**What happened**:

Following the document, [Running Kubernetes on Google Compute Engine](https://kubernetes.io/docs/setup/turnkey/gce/), `cluster/kube-up.sh` failed.

[code]

Error logs below were written on kubernetes-master instance.

[code]
Secret value is null.
[code]

**What you expected to happen**:

Referring to [cluster/gce/config-default.sh#L221-L232](https://github.com/kubernetes/kubern

[2018-12-10 09:49] oke-py commented on #71908
@kubernetes/sig-gcp-bugs

[2018-12-10 10:19] elasti-jeans commented on #51884
/reopen

The issue is still there as of Kubernetes 1.11
In my case, the pod is running ok on 2 out of 3 nodes - but the last one has some issue, which I'm unable to debug due to the pod repeatedly getting into Pending and getting replaced with another one. Some kind of gradual backoff mechanism would be useful in this case.

This is what I see:
`
$ kubectl describe daemonset csi-mypod
Name:

[2018-12-10 11:05] s5u-ishida opened #71910 "Failed to start kubelet (1.10.11/arm) with Raspberry Pi 3 (HypriotOS v1.9.0, DockerCE 18.04.0)."
**What happened**:
In order to correspond to the following CVE-2018-1002105 with Raspberry Pi 3 (HypriotOS v 1.9.0, Docker CE 18.04.0),

https://github.com/kubernetes/kubernetes/issues/71411

I changed the K8s 1.10.2 to 1.10.11 and tried to join K8s master (1.10.11/amd64), the following error message was output on RP3.
[code]

kubelet startup failed from /var/log/syslog on RP3.
[code]
Previously,

[2018-12-10 11:18] amolredhat commented on #71737
While upgrading kubeadm we got below error. Any idea how to fix this?

[code]

[2018-12-10 11:33] #65118 closed

[2018-12-10 11:33] #65207 closed

[2018-12-10 11:33] #66113 closed

[2018-12-10 12:39] Nebulazhang opened #71912 "Cannot delete namespace"
**What happened**:

We update k8s from 1.7.8 to 1.8.13.
Then there are three namespaces cannot be deleted.
[code]
controller-manager logs :
[code]
I restart api-server  and controller-manager ,but nothing happened.

**What you expected to happen**:
Delete the ns (not -f)
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kuber

[2018-12-10 13:04] deshui123 commented on #69280
@sebastien-prudhomme
Hi, what dose "try using the CSI driver if KUBE_MAX_PD_VOLS is working in Kubernetes 1.12" mean?
I tried Kubernetes 1.12 in _**Openstack**_ ENV,  my CSI driver is **cinder**, when i set KUBE_MAX_PD_VOLS = 5 to kube-scheduler, i can also create more than 5 pods attached volumes.
==============
------   kube-scheduler.yml   -----
   env:
  - name: KUBE_MAX_PD_VOLS
    value: "5"

[2018-12-10 13:21] jkemp101 commented on #60518
It looks like this PR https://github.com/kubernetes/kubernetes/pull/63321 might fix this. Has anyone had a chance to try it?

[2018-12-10 13:48] janosroden commented on #25908
Until the sidecar support arrives you can use a docker-level solution which can be easily removed later: https://gist.github.com/janosroden/78725e3f846763aa3a660a6b2116c7da

It uses a privileged container with a mounted docker socket and standard kubernetes labels to manage containers in the job.

[2018-12-10 14:15] mars05 opened #71914 "Kube is automatically upgraded from v1.12.3 to v1.13.0"
Why the version of kubelet, kubeadm, kubectl automatically upgraded from v1.12.3 to v1.13.0 ?
I don't want to upgrade it now.

I installed it with yum install. Is there a similar situation, how should I solve it?

/kind bug

[2018-12-10 14:59] mars05 commented on #71914
The problem has been solved.
This is caused by the automatic update of yum.

[2018-12-10 14:59] #71914 closed

[2018-12-10 15:35] SARAN-thala commented on #24669
If you add multiple certificates in `tls.cert` key. Please do this like this
[code]
Otherwise you'll get an error in ssl cert chain validation.
Always put main certificate first.

[2018-12-10 15:37] #66146 closed

[2018-12-10 15:37] #66161 closed

[2018-12-10 16:22] andjelx commented on #71071
Got the same on 1.11.5. Temporary reverted from ipvs to iptables.

[2018-12-10 16:32] voor commented on #23880
Just for a quick workaround if you're encountering this with things like MetalLB, you can actually have two `Services` mapped to the same IP Address. This does require a workaround annotation, `metallb.universe.tf/allow-shared-ip: "true"`

[code]

[2018-12-10 16:33] liggitt commented on #71349
/assign @k82cn

[2018-12-10 16:53] #68437 closed

[2018-12-10 17:42] nikhita commented on #56306
/remove-lifecycle rotten

[2018-12-10 17:43] nikhita commented on #49801
/remove-lifecycle rotten

[2018-12-10 17:43] nikhita commented on #49801
/lifecycle frozen

[2018-12-10 17:44] nikhita commented on #59551
/remove-lifecycle rotten

I guess this is still relevant.

[2018-12-10 17:45] Quentin-M commented on #71071
You can rollback kube-proxy very specifically, without getting affected by the vulnerability.

[2018-12-10 17:48] emptywee commented on #71071
@Quentin-M Yeah, that thought has struck my mind, but then on the other thought if I did it I'd not have graceful termination, which has been there all along with iptables. Not sure that our customers would like the change.

[2018-12-10 17:54] nikhita commented on #67047
/remove-lifecycle rotten

[2018-12-10 17:55] ut0mt8 commented on #71665
Well well upgrading to 1.13 worker seems to register again, but the error message remain .?.
I will test further...

[2018-12-10 17:59] emptywee commented on #71071
@Quentin-M does it mean there will be no fix for 1.11.x to address this bug?

[2018-12-10 18:38] nikhita commented on #49489
/lifecycle frozen

[2018-12-10 18:41] nikhita commented on #63435
/remove-lifecycle rotten

I guess this is still relevant?

[2018-12-10 18:57] simonfontana commented on #63874
@buzai Do you know what version this was fixed in? I'm running v. 1.11.2 and have similar issue.

[2018-12-10 18:59] MrHohn commented on #51292
/remove-lifecycle rotten

[2018-12-10 18:59] MrHohn commented on #51292
/lifecycle frozen

[2018-12-10 19:00] #71789 closed

[2018-12-10 19:16] misterikkit commented on #68955
You are correct. I would like that to be resolved as part of this issue. I think that we could accomplish this by passing the various informers into the constructor for both cache and queue. The two modules might add event handlers for the same event, but that is OK. Since our informers come from a `SharedInformerFactory`, the overhead will be small.

[2018-12-10 19:30] msau42 commented on #71748
I mean that today PVC.status.conditions are only used by the resizing controller.  So we would have to consider if it makes sense to report binding errors in the PVC conditions as well.

[2018-12-10 19:35] Laski commented on #48948
Is there any information I can give to help debugging this?

[2018-12-10 20:10] bluemalkin commented on #71577
Any update on this? If it's not posted in the right place please let me know! Thanks

[2018-12-10 20:18] sfitts commented on #36222
Just ran into this in EKS (1.10.3) -- highly annoying.  I have one config map that will come out OK if I use create directly, but if I pipe the output of `create --dry-run -o yaml` to apply then it gets munged.  Does seem like this is something that needs addressing.

[2018-12-10 20:20] misterikkit commented on #71860
/assign @ahmad-diaa
/remove-help
(don't worry if assignee field doesn't update)

[2018-12-10 20:21] misterikkit commented on #71862
/assign @yuexiao-wang

[2018-12-10 20:22] misterikkit commented on #71863
/assign @mysunshine92

[2018-12-10 20:37] misterikkit commented on #71865
/assign @sonasingh46
/remove-help

[2018-12-10 20:51] stevemcquaid commented on #35054
@fabianofranz are you still working on this? I'd be happy to take over to get my first kubernetes contrib

[2018-12-10 21:13] bsalamat commented on #71819
@wgliang I agree that we need the log records.

[2018-12-10 21:32] coffeepac commented on #63447
/close

[2018-12-10 21:32] #63447 closed

[2018-12-10 22:10] mattparkes opened #71919 "OIDC not working when .well-known/openid-configuration has an Expires header of -1"
**What happened**:
OIDC does not seem to work in `1.9.11` when `.well-known/openid-configuration` has an `Expires` HTTP header of `-1`:
[code]

**What you expected to happen**:
`kubectl get pods` to work when using an OIDC user.

**How to reproduce it (as minimally and precisely as possible)**:
Using: `image: gcr.io/google_containers/kube-apiserver:v1.9.11` with something like:

[code]
[code]

**A

[2018-12-10 22:15] mattparkes commented on #71919
/sig api-machinery

[2018-12-10 22:16] mattparkes commented on #71919
Hopefully @kuberetes/sig-api-machinery is the correct group, otherwise it could need help from @kubernetes/sig-auth...

[2018-12-10 22:49] towolf opened #71920 "kubectl diff -Rf (recursive mode) does not work"
**What happened**:

I get a diff, when I specify a file directly, but on recursive mode, no diff is shown anymore:

[code]

**What you expected to happen**:

Recursive mode should work

**How to reproduce it (as minimally and precisely as possible)**:

Have a bunch of YAML manifest, but with name collisions, e.g. Service `heapster`, Deployment `heapster`, etc

**Anything else we need to know?**:

[2018-12-10 22:52] towolf commented on #71920
/sig cli

[2018-12-10 22:54] towolf commented on #71920
@apelisse I think the files are overwriting each other?

[code]

[2018-12-10 23:10] SandeepPissay commented on #71829
@maplain

How long did you wait until you deleted the node? Did you wait until kubernetes rescheduled the pods in the drained node to some other node? Did you not see kubernetes/vcp detaching volumes from drained node to the new(scheduled) node before you manually deleted the node?

In step 3 (where you are draining the node), is the grace period in seconds. If yes, then 10 seconds is probably too

[2018-12-10 23:12] apelisse commented on #71920
Yeah, good catch, I'll try to fix that asap

[2018-12-10 23:22] towolf commented on #71920
Thanks! By the way, very nice work with dry-run and diff. I was waiting for this.

[2018-12-10 23:43] lbernail commented on #71071
The cherry-pick just got merged in 1.11 too
We just need to wait for the next patch releases in the 3 branches (but if you want to test it before I can easily create a custom kube-proxy build (or, even easier, an hyperkube docker image with the patch)

[2018-12-10 23:49] apelisse commented on #71920
@towolf Feel free to look at the PR and give your opinion!

[2018-12-10 23:55] emptywee commented on #71071
Thank you very much @lbernail ! A publicly available docker image would be nice to have! I'd love to test it!

[2018-12-11 00:10] mbohlool opened #71925 "CRD deletion may fail if webhook conversion is not available"
In case of conversion webhook failure, a list may not be possible on CRs but CRD deletion code tries to list and delete all CRs which may fail preventing CRD to be deleted.

A workaround is to set conversion to None for that CRD and delete it.

The fix would be to return a storage interface with None converter for CRD deleter to use.

[2018-12-11 00:10] mbohlool commented on #71925
/sig api-machinery

[2018-12-11 00:23] shailesh91 opened #71927 "K8s dashboard edit always shows JSON editor even when Actions for object show view/edit YAML"
@kubernetes/sig-ui

**What happened**:
Whenever I try to view or edit a deployment or any other k8s Object in Kubernetes Dashboard, I always see a JSON Editor/Viewer even when the Actions drop-down nav on the far right of a record show View/Edit YAML.

**What you expected to happen**:
I was expecting to see a YAML Viewer/Editor when selecting Action for K8s Object (for Example a Stateful Set Deplo

[2018-12-11 00:32] neolit123 commented on #71825
issue moved to https://github.com/kubernetes/kubeadm/issues/1317
thanks.
/close

[2018-12-11 00:32] #71825 closed

[2018-12-11 00:34] neolit123 commented on #71912
/close

i'm sorry but 1.8 is outside of the support skew.
please try updating to a 1.11 as the current minimum supported version.

you can also try asking for help on slack or stackoverflow.

[2018-12-11 00:34] #71912 closed

[2018-12-11 00:34] neolit123 commented on #71905
/sig scheduling

[2018-12-11 00:35] neolit123 commented on #71927
/sig ui

[2018-12-11 00:35] shailesh91 commented on #71927
/sig ui

[2018-12-11 00:36] neolit123 commented on #71888
/sig node
/remove-kind bug
/kind design

[2018-12-11 00:38] neolit123 commented on #71904
this is not a kubeadm problem directly but rather a release process issue. kubeadm is just a consumer of the images.

it's unclear to me why this binary was removed.

/sig release

[2018-12-11 00:38] verult opened #71928 "When a PVC is provisioned with delayed binding, it never recovers from a failed provision"
**What happened**: If a PVC with delayed binding fails to provision (for example due to a StorageClass parameter error), even when the error is fixed later on, provisioning never succeeds.

**What you expected to happen**: After the error is fixed, provisioning should retry and succeed.

**How to reproduce it (as minimally and precisely as possible)**:
- Create a StorageClass with VolumeBindingMod

[2018-12-11 00:46] #65633 closed

[2018-12-11 00:54] yuexiao-wang commented on #71867
OK, @huynq0911 go head

[2018-12-11 00:58] gnufied commented on #68528
/remove-lifecycle stale

[2018-12-11 01:00] msau42 commented on #71928
cc @cofyc

[2018-12-11 01:00] verult commented on #71928
Once the scheduler fails to schedule a pod, the pod goes back into the scheduler queue to be retried, right? Then during the next attempt, the scheduler assumes the pod's volumes again, which sets the annotation in the AssumeCache, and then propagates to the API through `bindVolumes()`.

But the annotation is missing. Looking at the controller manager logs, the log message indicating the annotatio

[2018-12-11 01:20] ashishb commented on #30961
Thanks @smaslennikov

[2018-12-11 02:05] huynq0911 commented on #71867
@yuexiao-wang thanks!

[2018-12-11 02:08] feiskyer commented on #68374
/remove-lifecycle stale

[2018-12-11 02:35] buzai commented on #63874
@simonfontana

I am not sure which version, but the latest is no problem, I have already run, and you should pay attention to your network environment, whether the virtual machine network is linked to each other.

[2018-12-11 02:55] zhangxiaoyu-zidif opened #71930 "add a new predicate: max replicas limit per node"
**What would you like to be added**:
add a new predicate: max replicas limit per node

**Why is this needed**:
I want to add a new predicate that supports this scene:
when we deploy a statefulset, we need control the replicas number of statefulset. Considered that the network, memory, disk IO are limited. we could appoint the number of replicas to deploy in one node. Anti-affinity could not help u

[2018-12-11 02:56] zhangxiaoyu-zidif commented on #71930
/sig scheduling

[2018-12-11 03:02] WanLinghao commented on #71903
/cc

[2018-12-11 03:12] aixeshunter commented on #71905
Maybe `kubectl taint nodes master1  node-role.kubernetes.io/master=:PreferNoSchedule` can be worked?

[2018-12-11 03:35] andyzhangx commented on #67261
close this issue since it's already resolved
/close

[2018-12-11 03:35] #67261 closed

[2018-12-11 03:39] zhangxiaoyu-zidif commented on #71930
https://github.com/kubernetes/kubernetes/pull/71913#issuecomment-446061296

[2018-12-11 03:42] aixeshunter commented on #71905
Yeah, it is worked for me !!!

[2018-12-11 03:42] #71905 closed

[2018-12-11 03:47] m1093782566 commented on #71071
The fix is already cherry-picked to v1.11, v1.12 and v1.13.

Would you please test them so we can close this issue.

[2018-12-11 04:50] #66186 closed

[2018-12-11 05:08] farmer-hutao commented on #71866
/assign

[2018-12-11 05:10] farmer-hutao commented on #71866
I want to have a try, thanks!

[2018-12-11 06:00] cofyc commented on #71673
yes, it's sometimes annoying especially if you don't need this cluster for a while
probably we can tear down cluster on exit (like clean up in e2e tests) optional

[2018-12-11 06:17] bholagabbar-mt commented on #13488
@bgrant0607 @kow3ns @janetkuo The usecase for our systems is multifold.

1. Secrets updating - I'm sure you realise that there are many companies such as mine, that have build their own abstractions over kubernetes. We have our own container management system that is orchestrated over kubernetes. So the [helm suggestions(https://github.com/kubernetes/kubernetes/issues/13488#issuecomment-431399754)

[2018-12-11 06:45] ictfox commented on #69324
This issue related to rbd provisioner code here:
https://github.com/kubernetes-incubator/external-storage/blob/master/ceph/rbd/pkg/provision/provision.go#L124

And I found the related pv name has passed in parameter: options.PVName, maybe there are not much concern about the needs to keep them match in UUID before.

[2018-12-11 07:02] #70113 closed

[2018-12-11 07:21] christopherhein opened #71935 "Remove additional glog references"
There are multiple files which still have references to `glog` mostly via comments. These should be replaced with `klog`

[code]

[2018-12-11 07:36] montanaflynn commented on #13488
@bholagabbar-mt just change an environment variable and it'll trigger a rolling deploy:

[code]

[2018-12-11 08:08] goodluckbot opened #71938 "Add device_used field in API server"
**What would you like to be added**:
Proposing to add device_used field in API server, i.e. let kube-master/api/v1/pods returns which device is being used by the container.

**Why is this needed**:
Users may want to get the device info of certain container, e.g. GPU, sriov, rdma. And use it for scheduling and monitoring purpose.

Have an implementation of this already, and if need, would create an

[2018-12-11 08:10] wanghaoran1988 commented on #71930
@zhangxiaoyu-zidif Does this cover your issue ?https://github.com/kubernetes/kubernetes/issues/40358

[2018-12-11 08:15] liggitt commented on #71938
/remove-sig api-machinery

Particulars of APIs belong to the sig for that area... pods and devices are sig-node. A proposal for a feature normally starts with getting involved with the sig in question and getting feedback on the idea, then opening a KEP (https://github.com/kubernetes/enhancements/blob/master/keps/0000-kep-template.md)

[2018-12-11 08:16] liggitt commented on #71938
@kubernetes/sig-node-feature-requests

[2018-12-11 08:38] andyzhangx opened #71940 "vm sku restriction policy does not work in azure disk attach/detach"
**What happened**:
vm sku restriction policy does not work in azure disk attach/detach
If user set up a vm sku(vm size) restriction policy, only allow set up specified VM size in current subscription, disk attach/detach would fail. Error is like following:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**

[2018-12-11 08:43] liggitt commented on #71925
I don't think we can/should shortcircuit the conversion...

* if the customresource has a finalizer, it should be honored, which means persisting the object back to storage with a deletionTimestamp, which means successfully converting it to/from whatever version is in etcd to the current storageVersion
* watchers need to receive delete events, in the version they are watching, which means successf

[2018-12-11 08:44] liggitt commented on #71927
thanks for the bug report. please open it against https://github.com/kubernetes/dashboard/issues

/close

[2018-12-11 08:44] #71927 closed

[2018-12-11 08:44] rajathagasthya commented on #68578
Mind if I take this?

[2018-12-11 08:45] Pingan2017 commented on #71907
@yujuhong @dchen1107 Have any idea for this ?
After node restart , kubelet receives infomation about pods and the node from etcd , then admit the pods. if kubelet can't get node info from apiserver,it will initial node info with default labels.
if you config the label via api before (eg. kubectl label node ), the admit for the pod will fail and kubelet will set the pod status to MatchNodeSelector.

[2018-12-11 08:53] berlinsaint commented on #71071
@m1093782566 i'm testing this . btw, when will the community publish the small release for this?

[2018-12-11 08:57] mysunshine92 commented on #71935
@christopherhein  I will work on it

[2018-12-11 09:01] zhangxiaoyu-zidif commented on #71930
@wanghaoran1988  thanks, that case is similar to mine. we can summary those needs, and make this feature convincing.

[2018-12-11 09:04] m1093782566 commented on #71071
Thanks @berlinsaint

The new small release with the fix will be published in less than 2 weeks.

[2018-12-11 09:15] zhangxiaoyu-zidif commented on #71930
To summarize that:
case 1:
pre-planed env: we need to control the replicas per node to avoid too many pod scheduled to one node. In fact as to one node, its disk IO resource, disk quota, network bandwidth, and other resource are limited, so the accurate limited replicas number is needed.

case 2:
ClusterAutoscaler env: In CA when a replicaset/deployment is created and its pods cannot schedule due

[2018-12-11 09:18] zhangxiaoyu-zidif commented on #71930
@bsalamat @resouer  @k82cn
if we have some plan to implement this feature, I could do some help.

[2018-12-11 09:55] #55527 closed

[2018-12-11 09:55] #64254 closed

[2018-12-11 10:12] mangelajo commented on #23864
+1 to this on my side, I'm working on cluster-to-cluster communication PODS that need to route lots of services, it would be very helpful to be able to expose a bunch of ports at once so I don't need to re-kick the pod to define new pods.

[2018-12-11 10:12] wgliang commented on #71930
@zhangxiaoyu-zidif
Thanks, the scene you described does exist, and I agree that we should cover this case. But I think we should consider this case from two dimensions, resource limitation and business limitation.

For the first case you mentioned, from the resource limitation, I think it is more biased towards resource planning. Even dIsk IO should consider whether it can calculate the remaining

[2018-12-11 10:15] wgliang commented on #71930
And are we still considering a wider range of Pod number limit, such as tor or zone?

[2018-12-11 10:40] kisshore commented on #5774
Hello @vinaykul ,
Is there any update of it ? is that document got approved?

[2018-12-11 10:40] kisshore commented on #5774
When docker supporting

 command , why not kubernetes?

[2018-12-11 10:41] kisshore commented on #5774
/remove-lifecycle stale

[2018-12-11 10:49] #66654 closed

[2018-12-11 11:32] zhangxiaoyu-zidif commented on #71930
No, CPU resource is totally different from IO, bandwidth resource, resource isolation is rather urgent.

how could we calculate the number dynamically?  If we could not, accurate and static replicas number is preferred.

[2018-12-11 11:57] #42616 closed

[2018-12-11 12:06] atavakoli commented on #67295
This test seemed to flake for me as well (PR #71575, [GCS artifacts](http://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/71575/pull-kubernetes-e2e-gce-100-performance/29132/)).

Snippet from the logs:

[code]

[2018-12-11 12:36] DylanBLE opened #71948 "Scheduler's heap queue caused pods Pending for a long time"
**What happened**:
I created some pods but some of them remained Pending for a long time.
[code]
The scheduler log showed it's working on some other pods repeatedly:
[code]
**For the record, I enabled the Priority feature and all the pods were using the same priority-class.**

**What you expected to happen**:
pods get scheduled on time.

**How to reproduce it (as minimally and precisely as possibl

[2018-12-11 12:37] DylanBLE commented on #71948
/sig scheduling

[2018-12-11 12:41] DylanBLE commented on #71948
I think it may caused by the queue which uses heap as data structure.

[2018-12-11 12:54] DylanBLE commented on #71948
I write a test to confirm pods with the same priority don't have stable order.
[code]
[code]

[2018-12-11 13:00] bclau opened #71949 "tests: MaxContainerBackOff tests are flaky when using Windows nodes"
**Which jobs are failing**:

N/A

**Which test(s) are failing**:

    [k8s.io] Pods  should cap back-off at MaxContainerBackOff [Slow][NodeConformance]
    [k8s.io] Pods  should have their auto-restart back-off timer reset on image update [Slow][NodeConformance]

**Since when has it been failing**:

Unknown. Tests are flaky when using Windows nodes.

**Testgrid link**:

N/A

**Reason for failure**

[2018-12-11 13:09] #71940 closed

[2018-12-11 13:42] rvvincelli commented on #68427
Hi, I might give more details later, but what we find surprising is that a pre-existing Azure disk, assigned with a proper direct claim to a pod, after being increased in size on the Azure side (no k8s involved) still shows the old size in a `df -h`.

Furthermore the internal driver shadows everything so I am not sure that `fdisk`ing and the sort is viable, and it feels wrong anyway.

What kind of

[2018-12-11 13:51] andyzhangx commented on #68427
@rvvincelli k8s use `resize2fs` to grow volume size in linux, try:
`resize2fs /dev/sd?`

[2018-12-11 13:55] rvvincelli commented on #68427
@andyzhangx Thank you for your prompt answer :) Yes that is what I meant with `fdisk` and friends. But could you please confirm the following: if I manually extend the slice, doing something already happening in the driver on a virgin disk, would this change be permanent ie survive the pod?

Differently stated, can I just resize once and forget about it?

Thanks,

[2018-12-11 14:03] andyzhangx commented on #68427
@andyzhangx yes, resize once would always work, it would be permanent, and you could only change size of `unattached` azure disk.

[2018-12-11 14:07] nikhita commented on #71925
/kind bug
/area custom-resources

[2018-12-11 14:16] wgliang commented on #71948
Interesting, we do not seem to have a mechanism to ensure that pods of the same priority are dequeued in the order in which they enter the queue.

@bsalamat @k82cn

[2018-12-11 14:56] tcf909 commented on #56539
I'm running in to the same issue when using maxUnavailable: 0. The difference between a pod going offline before a new pod is online is a big deal in my app. I use maxSurge: 100% and want all my pods replacement pods to be online before the old pods go offline.

Unfortunately the antiAffinity rules do not allow for this currently. It would be nice to have it on a per replicaSet so that the new ver

[2018-12-11 15:15] liggitt commented on #71925
I think this is actually working as designed (need to make sure the deletion recovers or can proceed once the webhooks is available again)

[2018-12-11 15:30] Joseph-Irving opened #71951 "Emit events when Daemonset fails to schedule pod due to hostport clash"
**What would you like to be added**:
An event to be emitted when a daemonset pod fails to be place on a node due to a hostport clash
**Why is this needed**:
When deploying a daemonset it can be quite difficult to work out why it's not scheduling any pods when you have a hostport clash as it does not emit any events.

It seems in the code this was purposefully prevented, it assumed hostport clashes

[2018-12-11 15:34] Joseph-Irving commented on #71951
@kubernetes/sig-apps-feature-requests

[2018-12-11 15:36] tderoock commented on #59368
We are also seeing this issue with type loadbalancer. We are on 1.11.

Our use-case is the following:
multiple devices are sending to an aggreagator machine. This machine forwards the UDP packages to a loadBalancer in gcp.

When debugging the service, I noticed the following:
- The traffic is assigned to one pod, and the packages are not loadbalanced (client and server are the same cfr use-case)
-

[2018-12-11 15:39] yue9944882 commented on #71925
fallback to non-converter sounds fine.

if we've decided to destroy a CRD, do we really have to hold until its webhook fixed? besides, the deleter required only the namespace/name of the listed CRs, it doesn't matter if the converion webhook fails to convert its content.

[2018-12-11 15:45] rvvincelli commented on #68427
@andyzhangx thank you again, so basically this is it: https://docs.microsoft.com/nl-nl/azure/virtual-machines/linux/expand-disks
This goes in the direction of: https://github.com/kubernetes/kubernetes/issues/35941
It must be specified that static provisioning https://github.com/kubernetes/examples/tree/master/staging/volumes/azure_disk/static-provisioning/managed-disk comes at the risk of having t

[2018-12-11 15:56] liggitt commented on #71925
See https://github.com/kubernetes/kubernetes/issues/71925#issuecomment-446118200 for reasons deletion needs the webhook working

[2018-12-11 16:14] yue9944882 commented on #71925
yes, but the finalizer exists in the object meta which doesn't require a converion. iiuc, the finailzers would still be honored we switched non-converter.

not sure about this one. from a user's perspective, why are we keeping the watchers (a controller or admission webhook whatever) running before we actually delete that CRD. 🤔

[2018-12-11 16:21] liggitt commented on #71925
Because we're about to delete the objects they are watching and we must inform them of that

[2018-12-11 16:24] lbernail commented on #71071
@emptywee : here you go : `lbernail/hyperkube:v1.12.4-beta.1`
Let us know how it works for you!

[2018-12-11 17:00] johnSchnake commented on #71666
@kubernetes/sig-apps

[2018-12-11 17:11] serafss2 commented on #23562
The issue in my case (Google Cloud Platform) was just that we reached the quota limit of static addresses so the kubernetes service was not able to reserve an IP.

[2018-12-11 17:37] charandas commented on #68321
Like @SneakyMax , I tried moving to coredns, but even with the current release 1.2.6, I see this issue sometimes.

For me, it arises in clusters that are only connected via a layer-2 switch as far as their calico routing. The L3 network is there, but we prefer not to bind kubernetes services to it. This is so that we can migrate the IP Ranges in the datacenter, without having to worry about etcd,

[2018-12-11 18:31] yuyongzhang1 commented on #44485
RafalKrych/all,

I am looking to deploy sctp protocol based service in Kubernetes cluster, is k8s-sctp merge solve this problem?

which release support sctp?

Does Kuburnetes ingress support sctp as well?

Any pointers are very much appreciated.

-zyy

[2018-12-11 18:33] emptywee commented on #71071
@lbernail is it okay to use it with everything else at v1.11.5 ?

[2018-12-11 18:33] yuyongzhang1 commented on #44485
Anyone knows if GCE supports SCTP now?

Thanks a lot.

-zyy

[2018-12-11 19:22] Stelminator commented on #65400
This was hard to find: https://www.terraform.io/docs/providers/google/d/datasource_client_config.html

I'm not sure if that solves your problem, but, this was the bit I needed for authorization w/o client cert or master auth.  I'm leaving it here in case it helps someone else.

[code]

crosslink to other somewhat relevant issue: https://github.com/Shippable/support/issues/4667

[2018-12-11 20:04] vllry commented on #58640
I'd like to work on this as a first-PR.

[2018-12-11 20:13] #71920 closed

[2018-12-11 21:20] roboman2444 commented on #65937
/remove-lifecycle stale
This is still an issue in 1.10.11

[2018-12-11 21:47] verult commented on #71928
I see this behavior in 1.12.3 as well.

[2018-12-11 22:09] derekperkins commented on #25766
Not having logs makes debugging stop hooks nearly impossible.

[2018-12-11 22:12] lbernail commented on #71071
@emptywee yes it should work without any problem (I have been running kube-proxy 1.11 on 1.10 clusters for months)

I can also do a 1.11 build later today

[2018-12-11 22:17] emptywee commented on #71071
@lbernail yeah, would be nice to have an image from the same release version.

[2018-12-11 22:18] heikoettelbruecksap commented on #71715
@kubernetes/sig-auth-feature-requests

[2018-12-11 22:44] kfox1111 commented on #22368
@dims

[2018-12-11 22:53] hgokavarapuz commented on #71869
@samuela any update on the issue ? I see the same problem.

[2018-12-11 23:08] #64653 closed

[2018-12-12 00:00] jberkus commented on #71153
Another burst of failures on this test and the related "0 pods per node" test this week.

[2018-12-12 00:05] liggitt commented on #71715
in this case, using "{origin}|{user_name}" sounds counter to the intent of the identity provider. presumably the sub uniquely identifies the user independently of the authentication origin to allow authentication via other origins to map to the same user. By taking "{origin}|{user_name}" as the identity, it means the same user authenticating via a different origin would lose all kubernetes permiss

[2018-12-12 00:05] #71715 closed

[2018-12-12 00:07] wgliang commented on #71951
That's a good point.
@k82cn @bsalamat

[2018-12-12 00:37] tylfin opened #71975 "Orphaned pods after job is deleted via successfulJobsHistoryLimit"
**What happened**:
Noticed `Completed` pods were not being deleted after job was deleted. Retried with the template from https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/ with `successfulJobsHistoryLimit`. After a few minutes I saw this output:

[code]

**What you expected to happen**:

I expected that when the Kubernetes controlled successfully deleted the associated jobs via t

[2018-12-12 00:40] tylfin commented on #71975
/sig api-machinery

[2018-12-12 00:45] tylfin commented on #71975
These are the logs from the controller:

[code]

Strange there is no mention of ` type: 'Normal' reason: 'SuccessfulDelete' delete Pod`

[2018-12-12 00:53] jkowalski commented on #71975
FWIW - getting something very similar on my cluster after upgrading to 1.13 - 1.12 worked fine. I have a CronJob that runs every 5 minutes and is set to retain 3 successful pods:

  failedJobsHistoryLimit: 1
  successfulJobsHistoryLimit: 3

Since the upgrade I'm seeing Completed pods growing unboundedly.

Log entries:

I1212 00:50:02.796987       1 event.go:221] Event(v1.ObjectReference{Kind:"Cron

[2018-12-12 00:56] Pingan2017 commented on #71975
/sig apps

[2018-12-12 01:00] berlinsaint commented on #71071
@m1093782566 @lbernail  After one night obversation, the ipvs sync Error log doesn't seen anymore, while
it occurs at once one night before. But still need more time to verify it, thanks a lot, it made me annoyed long time.

[2018-12-12 01:20] misterikkit commented on #71866
Sorry for the delayed reply.

@bhavin192, are you able to work on this? If not, @farmer-hutao could take it.

[2018-12-12 02:03] hex108 commented on #71948
It has been fixed in https://github.com/kubernetes/kubernetes/pull/71488.

[2018-12-12 02:11] mattparkes commented on #71919
Upgrading to `1.10.11` resolved this issue.

[2018-12-12 02:11] #71919 closed

[2018-12-12 02:57] deshui123 commented on #67342
We see the same issue with kubenete v1.10.2.
Pod status is "ContainerCreating" and the event is
`Events:
  Type     Reason       Age                  From                   Message
  ----     ------       ----                 ----                   -------
  Warning  FailedMount  7m (x384 over 14h)   kubelet, dev-g02-w-12  Unable to mount volumes for pod "es-data-1_paas(caaca102-fd30-11e8-9806-fa1

[2018-12-12 03:01] hannius commented on #66532
不是这个问题吧，实测不行。

[2018-12-12 03:04] hannius commented on #66532
--validate=false 直接忽略验证

[2018-12-12 03:36] squarelover commented on #71870
Yes, I've been having these issues as well.

My cluster version is 1.11.2-gke.18 for both the master and the nodes.

Is this fixed in the latest versions? I'd like to hold off on deploying the nodes if possible. But will do it if it fixes this issue.

[2018-12-12 03:37] DylanBLE commented on #71948
/close

[2018-12-12 03:37] #71948 closed

[2018-12-12 03:46] leighyu1983 commented on #32987
Still occur on Kubernetes v1.11.3 cluster

[2018-12-12 04:11] ld-singh commented on #70257
Not able to build new image as well now. Getting below error:
/bin/sh: 1: ulimit: error setting limit (Operation not permitted)

Newer version on fluentd-es image i.e. 2.3.1 giving same error as older versions:

config error file="/etc/fluent/fluent.conf" error_class=Fluent::ConfigError error="Unknown filter plugin 'concat'. Run 'gem search -rd fluent-plugin' to find plugins"

[2018-12-12 06:17] jaffrey007 opened #71985 "error: unable to recognize "mysql-rc.yaml": no matches for /, Kind=ReplicationController"
kubernetes: version: 1.5.2
when I run: kubectl create -f mysql-rc.yaml. it throws error as title.
The yaml file of RC  is :
apiVersion: v1
kind: ReplicationController
metadata:
  name: mysql                #metadata of resource
spec:                        # spec(properties) of resource
  replicas: 1                #number of resource to be created
  selector:                  # define a unique po

[2018-12-12 06:46] gengcixi commented on #41025
I occur this error on my board. and finally found the /proc/config.gz file not found , need open this config in kernel compile.

[2018-12-12 06:53] kovetskiy commented on #70082
@lixianyang if you still wonder, I tried 3.2.18 and it works better than 3.2.24, I don't see these read-only request took too long messages anymore.

[2018-12-12 07:01] naveenmprakash commented on #65933
Is patching the nodes with the providerID the only way to make this work? I faced the same issue with v1.11.3 and was planning to upgrade to 1.12.x hoping that this was solved in 1.12.

[2018-12-12 07:12] tanshanshan commented on #71985
the content you paste does not be formatted  ,I format it and it is ok ,
and you should write your Environment info such as  kubernetes version

[code]

[2018-12-12 07:18] tomasnorre opened #71986 "Keep indentations for kubectl -w command"
**What would you like to be added**:

It would be great to keep indentations on `-w` e.g. kubectl get pods -w

**Why is this needed**:

This would help getting a better overview when using the watch option.

/kind feature

[2018-12-12 07:19] tomasnorre commented on #71986
/sig cli

[2018-12-12 07:47] Pingan2017 commented on #71975
I think it's fixed in #71802

[2018-12-12 08:04] anton-dutov commented on #71975
@Pingan2017
Seems no, that fixess issue with default settings where i have ` concurrencyPolicy: Replace`