[2018-06-29 19:14] rocketraman commented on #60714
I believe I just ran into this same issue. I don't have an init container, but upon startup when Kafka attempted to reconnect to zookeeper, the restarted pod in the stateful set was unable to connect. Resolution to zookeeper was checked from the other pods still running, via `exec` + `nslookup` and they had no issues resolving the name.

The OPs workaround of cordoning the host leads me to believe

[2018-06-29 19:15] rocketraman commented on #60714
/remove-lifecycle stale

[2018-06-29 19:16] stefanasseg commented on #43962
+1

[2018-06-29 19:30] khenidak commented on #60714
ref: https://github.com/Azure/acs-engine/issues/2971

[2018-06-29 19:48] luxas commented on #65557
Hmm, the admission controller isn't: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubeapiserver/options/plugins.go#L131-L139.
Expected or not?

In this case, kubeadm doesn't use `--admission-control` but instead relies on the default list.
My question is, _would you recommend that_ the P&P admission controller is enabled in v1.11?

[2018-06-29 19:50] luxas commented on #65458
I'd advocate for putting all componentconfig API types in `k8s.io/componentconfig` or similar. If that's too controversial, let's put stuff somewhere in `pkg/` like the kubelet and kube-proxy do. I think we should prioritize this in v1.12

[2018-06-29 20:03] AlexPereverzyev commented on #52172
I've got similar issue after switching Docker's json file logging driver to non-blocking mode in /etc/docker/daemon.json - lots of 'Cannot create symbolic link because container log file doesn't exist!' warnings from kubelet and empty /var/log/containers directory.
Default, blocking mode works just fine.
Could be timing issue, related to Docker log buffer size.

[2018-06-29 20:17] jcrowthe opened #65651 "Azure: ResourceGroupNotFound on v1.11.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
@kubernetes/sig-azure-bugs

**What happened**:
The Azure cloud provider code used by `kube-controller-manager` appears to fail to reach out to Azure on all requests, starting in v1.11.0. Error:

Log snippet:
[code]

Cloud provider config:
[code]

**What you expected to happen**:
kube-controller-manager would properly talk to Azure ARM API to

[2018-06-29 20:29] arkanmgerges commented on #42306
Humm, I'm not sure how could I make it run in my settings, I have 6 machines on VirtualBox installed by using kubeadm, kubelet, and kubectl.
By the way, the above issue I solved it, by using NodePort on the heketi service, now I'm using my hostname + port, e.g.:
[code]
And it worked.

But about what you mentioned to use kube controller manager as a pod, I'm not sure how to install my master node u

[2018-06-29 20:37] luxas commented on #65023
Yes, we can. Everything went smoothly here so there weren't any major items to discuss on this issue.
Thanks for the great work all :tada:!

[2018-06-29 20:37] #65023 closed

[2018-06-29 21:11] mcluseau commented on #63858
@2rs2ts it was a humoristic remark ;-) I'm waiting for the improvement in containerd. It seems they're even gonna hide the details about List vs Stream in the client, so we may just have to bump de client version at some point here.

[2018-06-29 21:19] mtaufen commented on #65458
The approach @sttts and I talked about (which I agree with) is to put these
APIs in staging and publish to a separate repo e.g.
k8s.io/componentconfig. @sttts
is there any progress on that front?

On Fri, Jun 29, 2018 at 12:51 PM Lucas Käldström <notifications@github.com>
wrote:

--
Michael Taufen
Google SWE

[2018-06-29 21:55] liggitt commented on #65647
@juanvallejo @soltysh

[2018-06-29 21:59] dekkagaijin commented on #63682
A few proposals we came up with:

1. Detect illegal characters, `%`-encode the offending characters, then either:
   1. Use the existing `X-Remote-Extra-` header prefix, blindly URLDecoding on the API server.
        * This breaks keys that look URLEncoded.
   1. Prefix encoded keys with `X-Remote-Extra-Encoded-` (for example), `X-Remote-Extra-` otherwise.
        * This would involve adding an ex

[2018-06-29 22:04] juanvallejo commented on #65647
@deads2k looks like we need to special-case printflags for apply. Will open PR

[2018-06-29 22:13] dashpole commented on #42676
/remove-lifecycle stale

[2018-06-29 22:58] PiotrSikora commented on #65502
@ant31 I think that the aggregated health check is also a good idea and might be even a preferred way of checking the health status of a workload with a sidecar, however, I don't think it solves the dependency issue, since all outgoing connections initiated by the workload will be failing before the proxy container becomes healthy, which might result in workload prematurely exiting/crashing/being

[2018-06-29 23:16] mtaufen opened #65658 "Remove node out of disk condition"
IIRC this condition has been deprecated for a long time; it is probably time to remove it.

[2018-06-30 00:02] ITBlogger commented on #40244
This is still an issue. What's the status on getting this fixed?

[2018-06-30 00:33] jiayingz opened #65661 "kubelet restart seems getting slower recently"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
We noticed this as the test/e2e_node/gpu_device_plugin.go has been failing recently due to timeout on waiting for gpu resource to show up after kubelet start/restart. From running the gpu_device_plugin e2e_node test on GCE, I saw it took ~37 seconds for kubelet to start CM DeviceManager after it restarts, and then took ~12 seconds f

[2018-06-30 00:33] jiayingz commented on #65661
/cc Yu-Ju Hong Lantao Liu
/sig node

[2018-06-30 00:41] Random-Liu commented on #65661
Ref https://github.com/kubernetes/kubernetes/pull/65541

[2018-06-30 01:21] stewart-yu commented on #65458
Yes, this was fairly controversial @mtaufen. Have saw @liggitt 's [comment](https://github.com/kubernetes/kubernetes/pull/54211#issuecomment-382016831), put in `cmd` seems strange

[2018-06-30 01:30] #65421 closed

[2018-06-30 01:33] Rouche commented on #49926
Sorry for my n00b question in advance. I am just starting using kops and got this issue too on us-east-2a.

How do you specify t2.large? This is my create command:
```kops create cluster kitfox-k8s-test.k8s.local --zones us-east-2a --yes```

Thanks.

[2018-06-30 02:17] feiskyer commented on #53451
@yastij What errors have you seen when re-creating the service?

[2018-06-30 02:40] feiskyer commented on #28924
@yastij Yep, Azure creates health probes for load balancer backends.

[2018-06-30 03:44] m1093782566 commented on #64905
Yes.

[2018-06-30 05:46] tubzby opened #65663 "docker pull k8s.gcr.io/fluentd-elasticsearch:v2.2.0 failed with authentication required"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

deploy EFK with  cluster/addons/fluentd-elasticsearch/, find out deploy failed with Error: ImagePullBackOff.

after doing a docker pull on one node I find out the registry server is requiring Authentication.

[code]

**What you expected to happen**:

fluentd images can pull from k8s.gcr.io

**How to reproduce it (as mini

[2018-06-30 05:48] tubzby commented on #65663
/sig auth

[2018-06-30 08:28] luxas commented on #57618
@nikhita yes I hope we can prioritize this in v1.12 and go with something like `k8s.io/componentconfig` for this
cc @sttts @liggitt @mtaufen @thockin

[2018-06-30 08:38] bronger commented on #64802
I run a “normal” kubeadm-created k8s but with only an untainted master (no nodes). apiserver was evicted also also after one hour not rescheduled.

[2018-06-30 09:19] luxas commented on #64627
@lavalamp `k8s.io/bootstrap` SGTM. I think it needs to be in the "core" organization as stuff in core will depend on it (e.g. the apiserver)

[2018-06-30 09:32] luxas commented on #65337
Resolved in https://github.com/kubernetes/kubernetes/pull/65338 :tada:

[2018-06-30 09:32] #65337 closed

[2018-06-30 09:37] luxas commented on #64920
Hi, thanks for taking time to create this issue :wave:!
Please reopen this issue in https://github.com/kubernetes/kubeadm/issues.
Thank you!

[2018-06-30 09:37] #64920 closed

[2018-06-30 09:43] luxas commented on #57213
What's the status of this issue from a SIG API Machinery standpoint?

[2018-06-30 09:45] sttts commented on #64627
k8s.io/bootstrap or k8s.io/bootstrap-auth both sound fine, maybe the later. Do we expect non-auth content?

[2018-06-30 09:46] irvifa opened #65665 "HPA may not working properly in Kubernetes version 1.9.6"
**Is this a BUG REPORT or FEATURE REQUEST?:**

/kind bug

**What happened**:

Yesterday on 4:29PM GMT+7 the number of pods suddenly decreasing drastically from 50 to 3 though the traffic come to that deployments is actually just the same. The number of 3 here is the minimum number of pods intended for my HPA. I'm running Kubernetes version 1.9.6 and this is what we found in the metrics logs:

[cod

[2018-06-30 09:48] irvifa commented on #65665
/sig gcp
/sig autoscaling

[2018-06-30 09:50] luxas commented on #55414
/lifecycle frozen
Reopening this issue.
@runcom @Random-Liu @feiskyer is there anything we can/should do here at this moment in time?
xref https://github.com/kubernetes/kubeadm/issues/533

[2018-06-30 09:55] luxas commented on #57334
This bug was fixed long time ago.

[2018-06-30 09:55] #57334 closed

[2018-06-30 09:57] luxas commented on #64627
@sttts the bootstrap tokens are used for both JWS validation and auth.

[2018-06-30 09:59] luxas commented on #53213
This is still relevant. cc @kubernetes/sig-cluster-lifecycle-bugs @kubernetes/sig-testing-bugs
/lifecycle frozen

[2018-06-30 09:59] #59095 closed

[2018-06-30 10:03] luxas commented on #26093
/help
I don't know what dependencies kubelet of today has, if someone could do an audit and dig into all the Exec calls, and report here it'd be great :smile:

[2018-06-30 10:22] hzxuzhonghu opened #65666 "leader election get/update too frequently, consuming too much cpu resource."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

After https://github.com/kubernetes/kubernetes/commit/102090d1f12f9b00571d440470ba040e0632fbe0#diff-b6938a5b251dfe543ced1b918d9fb244R213 merged, the leader election is calling too many api calls.

Previously it calls with a 2s interval by default. Now it calls with 0 interval.

**Anything else we need to know?**:

**Environment**:

[2018-06-30 10:22] hzxuzhonghu commented on #65666
/sig api-machinery

[2018-06-30 10:22] hzxuzhonghu commented on #65666
/assign

[2018-06-30 10:29] #64222 closed

[2018-06-30 13:03] luxas commented on #64627
Yep, I think that is the best option we have here.

:+1:
@liztio will look into this and help out as well. Right now she's OOO AFAIK, though.
We'll discuss the exact implementation plans we have in SIG Cluster Lifecycle and (hopefully) be able
to create a short proposal for how to proceed in more detail.
/assign @liztio

[2018-06-30 16:16] opsnull commented on #65110
@miaoshixuan My kubelet root dir is a symbol link too, I found the same problem. Have you resoloved it ?

[2018-06-30 16:18] opsnull commented on #65110
@rgembalik have you resolved it ?

[2018-06-30 17:29] yastij commented on #53451
@feiskyer - when re-creating the service the following error appears:

[code]
It's because of 2 things:

-  the service is not being cleaned up on the azure-side
-  we are fixing a Load balancer private IP

[2018-06-30 17:32] mbert commented on #64920
Filed [new issue #960](https://github.com/kubernetes/kubeadm/issues/960)

[2018-06-30 17:34] smarterclayton commented on #65646
Working from the use cases here (see all events as they happen, where
deletes are actively limiting as events TTL on busy clusters at roughly the
rate of creates):

As a user I want to see a stream of creations or changes to arbitrary Kube
resources

As a user I want to know when an object is deleted when watching it

As a user, I want to see all changes to a single object until it is deleted

As

[2018-06-30 18:15] rgembalik commented on #65110
@opsnull Unfortunately not yet. We have an update in our ToDo list, so I'm hoping that it will help us due to what the author has mentioned above. Since we have some production stuff running on our cluster, this update will have to wait, so I may not be able to confirm it any time soon.

[2018-06-30 18:16] craigbox opened #65670 "Make kubectl exec support pod/ prefix in the name provided"
/kind feature

I have a curl pod deployed for debugging, and I'd like to be able to exec into it using the output of `kubectl get -oname` like this

```kubectl exec $(kubectl get pods -l app=curl -oname)```

I can't, because `get -oname` returns pod/curl-FOO and kubectl exec does not allow resources with slashes:

[code]

Client details:

[code]

[2018-06-30 18:16] craigbox commented on #65670
/sig cli

[2018-06-30 20:09] #56794 closed

[2018-06-30 20:19] bsalamat commented on #65557
Priority admission controller must be enabled by default in 1.11. My understanding was that it was enabled even in 1.10 (I am on mobile and cannot check right now), but the feature gate flag was preventing the admission controller from resolving priority values. In 1.11, the feature gate is enabled and the admission controller resolves priorities.

Regardless, if the admission controller is disabl

[2018-07-01 02:34] ravisantoshgudimetla commented on #64802
I think in case of kubeadm, the api-server pod is static, so eviction shouldn't have happened, if they have critical pod annotation already.

[2018-07-01 03:07] shigy123456 opened #65671 "Timeout: request did not complete within allowed duration"
kind bug

**What happened**:
when i create a deploy,it can not be create,it show "timeout"

**What you expected to happen**:
i want to create the deploy normally,and i want to know the reason that can not be created

**How to reproduce it (as minimally and precisely as possible)**:
yaml:
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: nginx-deployment2
spec:
  replicas: 1
  templ

[2018-07-01 03:19] shigy123456 commented on #65671
@kubernetes/sig-NODE-node

[2018-07-01 03:36] Sergey80 commented on #53333
I disabled swap but still have the same issue / message / error.
(I checked it is off)

swapon -s
Filename				Type		Size	             Used	Priority
/dev/sdb3                              	partition	29295612	0	-1

after reboot - same  message.

[2018-07-01 07:20] #58629 closed

[2018-07-01 08:21] #58948 closed

[2018-07-01 08:21] #59105 closed

[2018-07-01 09:36] jy1779 opened #65672 "nslookup: can't resolve '(null)': Name does not resolve"
nslookup: can't resolve '(null)': Name does not resolve
nslookup: can't resolve 'kubernetes': Try again

[2018-07-01 10:52] george-angel commented on #7433
/remove-lifecycle stale

[2018-07-01 10:52] bronger commented on #64802
My journalctl says:

[code]
Using kubeadm 1.11.0.  The pod data of apiserver is:
[code]

[2018-07-01 13:12] davidkarlsen commented on #65562
Big thanks for the explanation to get things working again, just want to add two notes:
1. the config.yaml needs to exist for the write-to-file step, just do a touch /var/lib/kubelet/config.yaml first
2. there will be a reference to kubeadm-flags.env, this file will not exist on the other nodes, so copy it from where control plane was fixed, or else CNI will go south:
[code]

[2018-07-01 13:34] kz commented on #65670
This looks like a regression from this commit: https://github.com/kubernetes/kubernetes/pull/33176/commits/ea12b32d6aa355358842afa1d869454e5f2e9266

[2018-07-01 13:35] ashanaakh commented on #65670
I'll take this.

[2018-07-01 14:31] dipeshm01 commented on #44665
create .kube folder and a symlink on it to the directory which has the yaml files and pem file (k8s related)  and right smylink inside the .kube folder to right yml file - that should solve the problem...

[2018-07-01 15:29] luxas commented on #32638
xref: https://github.com/kubernetes/kubernetes/issues/56523
The cAdvisor port 4194 got disabled by default in v1.11 and the option to enable it overall is gonna be removed in v1.12

[2018-07-01 16:49] sanjitsaluja commented on #65544
@akhilyendluri Can you please explain how you resolved this issue with a terraform script fix. I'm working on a terraform project and seeing a similar issue.

[2018-07-01 17:34] bsalamat commented on #48647
This is already written and the feature is implemented: #57963.

[2018-07-01 17:34] #48647 closed

[2018-07-01 20:33] #40027 closed

[2018-07-01 21:53] jaredledvina commented on #64234
Yep, looks like we're good to go here.

[2018-07-01 21:53] #64234 closed

[2018-07-01 22:06] redbaron commented on #49746
/remove-lifecycle stale

[2018-07-01 22:07] jaredledvina opened #65674 "kube-controller-manager - panic: runtime error: index out of range"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Brand new install of Hypriot OS v1.9.0 on a Raspberry Pi Model B. Installed the latest v1.11 of `kubelet`, `kubectl`, and `kubeadm`. Performed the following commands:
[code]

Everything reported successful and not errors were logged during the installation. However, `kube-controller-manager` errors and gets caught in a cra

[2018-07-01 22:16] jaredledvina commented on #65674
I've had a hard time figuring out which SIG specifically might be owners for this but I _think_ scheduling might

@kubernetes/sig-scheduling-bugs

[2018-07-01 22:56] alexsandro-xpt commented on #58357
Some news about Azure Application Gateway as Ingress at AKS?

[2018-07-01 23:18] bradjones1 opened #65675 "Enable provisioning of external L4 service LoadBalancer with IPv6"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig gcp

**What happened**:

External load balancers created via a service record provision only an IPv4 address. According to the [GCP documentation](https://cloud.google.com/compute/docs/load-balancing/ipv6), load balancers may be allocated an IPv6 address, however it appears these instructions only apply to GCE configurations made ma

[2018-07-01 23:36] #59071 closed

[2018-07-02 00:32] wgliang commented on #65674
#65603 maybe have fixed your issue. Or we can ensure if you give the last commit key.

[2018-07-02 00:37] #43672 closed

[2018-07-02 00:46] k82cn commented on #65192
I'd like to see what happened after #65372 merged, refer to [comments](https://github.com/kubernetes/kubernetes/issues/65372#issuecomment-400873429) for detail

[2018-07-02 00:50] akhilyendluri commented on #65544
I had a issue in the terraform worker nodes. It was related to the name mappings between the policies and the worker node itself.

[2018-07-02 01:30] hzxuzhonghu commented on #65671
I think you should check whether your etcd cluster is healthy.

[2018-07-02 01:30] xieydd commented on #61500
I  meet same problem ,but i reboot doesn`t work...

[2018-07-02 01:34] #65210 closed

[2018-07-02 01:38] cwocwo commented on #57452
The same error:
[code]

[2018-07-02 01:39] #61682 closed

[2018-07-02 01:42] shigy123456 commented on #65671
thanks for your  advice，i have checked etcd and i restart the etcd,it work normally.

[2018-07-02 01:44] jaredledvina commented on #65674
Hey @wgliang, thanks for the tip, I'm not sure how to properly give the last commit key I'm running. Is there a command or something I can use to get you that information?

If it helps, here's the version of the packages I've installed from https://packages.cloud.google.com/apt/
[code]
[code]
[code]

[2018-07-02 01:46] shigy123456 commented on #65671
but the problem still exists.

[2018-07-02 01:47] jaredledvina commented on #65674
And from https://packages.cloud.google.com/apt/dists/kubernetes-xenial/main/binary-armhf/Packages, I believe that version of `kubelet` is this `.deb.`: https://packages.cloud.google.com/apt/pool/kubelet_1.11.0-00_armhf_b7b98c3f9afda576a8778ae748ddbc0f449675380410d04c76a13b5947255ab8.deb

[2018-07-02 01:53] WanLinghao commented on #64734
@liggitt  friendly ping

[2018-07-02 02:00] feiskyer commented on #28924
@yastij Yep, service doesn't aware of pod's probes so load balancers are depending on endpoints changes (unhealthy pods will be removed from endpoints) for such cases.

[2018-07-02 02:07] liggitt commented on #65647
Did providing a template change the default output to go-template generally?

[2018-07-02 02:28] jarrpa commented on #38399
/remove-lifecycle stale

[2018-07-02 02:44] liggitt commented on #65674
This is fixed in master in https://github.com/kubernetes/kubernetes/pull/65596 and will be fixed in 1.11.1

[2018-07-02 02:44] #65674 closed

[2018-07-02 02:47] liggitt commented on #65674
The issue was introduced in https://github.com/kubernetes/kubernetes/commit/f7cf33e218b93da90e8051c51131b64843ca9cfc#diff-ac6d86c4c48c967b3742e839bb016029 which assumed that casting a uint32 to an unsized int would always be positive. On a 32-bit platform, that is not the case

[2018-07-02 02:52] liggitt commented on #65658
Really? What was the replacement?

[2018-07-02 02:53] liggitt commented on #65604
/kind bug

[2018-07-02 03:28] feiskyer commented on #65025
Fixed in #65412.

[2018-07-02 03:28] #65025 closed

[2018-07-02 04:03] #65574 closed

[2018-07-02 04:13] rkttu-devsisters commented on #65163
@PatrickLang @daschott The issue has been open for a long time, and I want to know if anything has been done.

[2018-07-02 04:39] feiskyer commented on #62046
/remove-lifecycle stale

[2018-07-02 04:52] jaredallard commented on #59031
/remove-lifecycle rotten

[2018-07-02 05:16] nikhita commented on #61770
/remove-lifecycle stale

PR is still open.

[2018-07-02 05:28] AndresPineros commented on #33664
For our CI-CD we have 3 use cases for developers and QA's:
1. Change the image tag. For example, 'develop' to 'feature_testing_something'
2. Re-pulling the same image. If they updated the 'develop' tag and want to re-deploy it.
3. Just restarting a service. No image was updated, nothing changed. They just want to restart the pods.

So, I haven't implemented this but to automate I would do somethin

[2018-07-02 06:43] #50309 closed

[2018-07-02 06:48] WanLinghao opened #65685 "`kubectl create priorityclass` failure"
/kind bug

**What happened**:
When I try to create a priorityclass object like:
`kubectl create priorityclass default-priority --value=1000 --description="high priority"`
It fails with `error: no matches for kind "PriorityClass" in version "scheduling.k8s.io/v1alpha1"`
And when I try create it with yaml file like:
[code]
It works.

**What you expected to happen**:
Create a priorityclass object wit

[2018-07-02 07:08] nikhita commented on #65685
/sig cli

[2018-07-02 07:50] george-angel commented on #3595
/remove-lifecycle stale

[2018-07-02 08:15] komljen commented on #55094
Same here, I forgot to put `M` when setting memory limits.

[2018-07-02 08:29] CaoShuFeng commented on #65670
Sorry, I found that --show-kind doesn't work with -oname

[2018-07-02 08:33] sttts commented on #57213
This topic was discussed in last sig-api-machinery meeting. But there is not more than general acknowledgement of the issue. Nobody came up with a design to solve it.

[2018-07-02 08:41] sttts commented on #65458
Yes, there is. KEP in progress.

I don't feel so strongly about the place where we put the internal types. We can also decide that on a per-command basis. If most of the code is in cmd/ already and we don't create an import cycle, let's move them to cmd/. We we have a lot of code in pkg/ and pkg/ should obviously not depend on cmd/, we can move them into pkg/.

[2018-07-02 08:48] JetMuffin commented on #58217
After debugging I found it's caused by cgroup in my case. Similar to #55386, `cpuacct.stat` has 6 fields which expected to be 4 on my server and cadvisor cannot collect container metrics.

Modify some codes at [vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/cpuacct.go#L88](https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/opencontainers/runc/libcontainer/cgroups

[2018-07-02 08:58] CaoShuFeng commented on #65670
kubectl exec $(kubectl get pods -l app=curl -ojsonpath='{range .items[*]}{.metadata.name}{"\n"}{end}')

[2018-07-02 09:03] CaoShuFeng commented on #65685
Do you have --runtime-config=scheduling.k8s.io/v1alpha1=true set in kube-apiserver?

[2018-07-02 09:06] sttts commented on #65517
/assign @juanvallejo @soltysh

[2018-07-02 09:14] sttts commented on #65442
+1 we should do that. Otherwise, aggregated API server builders will ship those roles. Not sure we want that from a security point of view.

[2018-07-02 09:16] WanLinghao commented on #65685
@CaoShuFeng  No, if set this, it works.

[2018-07-02 09:19] feiskyer commented on #65651
@jcrowthe Are there any other errors besides ResourceGroupNotFound one?

[2018-07-02 09:19] CaoShuFeng commented on #65685
Agree this is a bug. v1beta1 should be preferred.

[2018-07-02 09:31] icowan opened #65695 "Pod restart multiple times"
# Pod restart multiple times

I have a question...

- Kubernetes version: 1.10.4

### Question 1:

- Environment variables:
- key: POD_XXX_KEY value: helloworld

my application start code:

[code]

so.. Then pod at start
0 start: POD_XXX_KEY is null, panic POD_XXX_KEY not found.
1 start: POD_XXX_KEY is null, panic POD_XXX_KEY not found.
2 start: POD_XXX_KEY is 282ecd65-222f-e22c1aa8986b

deploymen

[2018-07-02 09:46] #55151 closed

[2018-07-02 09:46] ash2k opened #65696 "Data race in TestVSphereLoginWithCaCert"
**What happened**:
Data race in tests in an unrelated PR https://github.com/kubernetes/kubernetes/pull/64654
Logs https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/64654/pull-kubernetes-bazel-test/51222/
[code]
/kind bug
/area platform/vsphere
/area cloudprovider
/sig cloud-provider

[2018-07-02 09:46] ash2k commented on #65696
/kind flake

[2018-07-02 09:48] wgliang commented on #59555
/remove-lifecycle rotten

[2018-07-02 09:51] icowan opened #65697 "When multiple pods are on the same node, only one pod is successfully started, and all others fail."
# When multiple pods are on the same node, only one pod is successfully started, and all others fail.

**Environment**:
- Kubernetes version (use `kubectl version`):  1.10.4
- OS : centos 7.4

create a Endpoints:

[code]

![](https://ofbudvg4c.qnssl.com/images/k8s/WechatIMG2275.jpeg)

my application code:

[code]

When multiple pods are on the same node, only one pod is successfully started, and a

[2018-07-02 09:52] wojtek-t opened #65698 "Turn on profiling in tests"
Currently, in our tests, we have an ability to profile kube-apiserver (profiling enabled by default) and scheduler (we switch it on in scalability tests).

However, we need an ability to profile other components too, in particular:
- controller-manager
- kube-proxy
[for those it's a matter of enabling it in our tests]
- kubelet
[which doesn't export /profile handler]

@kubernetes/sig-scalability-f

[2018-07-02 09:55] talolierwork commented on #58512
+1

[2018-07-02 10:14] spiddy commented on #53140
Is this still the case? I just tested granting the `edit` role to a user in a namespace and he can manage networkpolicies inside that namespace.

I would expect this to be restricted as you say likewise with resourceQuotas (which is restricted to `[get list watch]`)

[code]

[2018-07-02 10:23] narender-singh commented on #61886
on a side note, i have used PodNodeSelector to only allow a single namespace pods to be created on gpu nodes, but now when i am creating daemonset they are not getting scheduled on gpu nodes. they go in pending state & terminate and so on. can someone please guide if it is related or is there any solution for this.

[2018-07-02 10:54] tnozicka commented on #61886
@narender-singh likely, although there is always an easy solution of fixing your DS to have the same node selector as the pods would have after admission. But that only fixes the hotloop of pending-> terminate->create. The reason pods are evicted by kubelet is that they shouldn't run there at all. (If those pods are actually meant to run on those nodes, the root cause is elsewhere.)

[2018-07-02 10:54] #64740 closed

[2018-07-02 11:48] #56714 closed

[2018-07-02 12:32] ateleshev opened #65703 "Kubelet can't unmount glusterfs volumes"
/kind bug

**What happened:**
The node#1 in the cluster lost network connection with the node#2 which contains GlusterFS node with some distributed volume. At the same time node#2 received request to delete this volume (delete workload: Pod + PVC).
After some time connection was restored between node#1 and node#2.
Kubelet tries remove Pod and can't complete this opperation becouse pvc and volume i

[2018-07-02 12:43] ateleshev commented on #65703
/sig storage

[2018-07-02 12:54] jsafrane opened #65704 "Dynamic provisioning creates block volumes with FSType: ext4"
In-tree volume plugins create PS with `fsType: ext4` when provisioning a block volume (i.e. `volumeMode: Block`) . Block volumes should have empty fsType, Kubernetes won't create anything on them.

/kind bug
/sig storage
/assign

[2018-07-02 12:55] hchenxa opened #65706 "the status of volumeClaimTemplates was pending even if the pvc was created already"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I create a statefulset with volumeClaimTemplates defined, after the statefulset finish creation, check the status of volumeClaimTemplates, find it's still pending like below:
[code]

but actually, the pvc have created:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)

[2018-07-02 13:37] juanvallejo commented on #65647
Yes, for commands that originally supported --template, the default was go-template as far as I recall

[2018-07-02 13:45] wojtek-t commented on #65441
We should have confirmation for that later today, but so far the run looks much better, so I'm optimistic.

There is one more regression which is connected to logexporter, which should be fixed byhttps://github.com/kubernetes/kubernetes/pull/65694 (once that will merge)

[2018-07-02 13:45] nikhita commented on #54709
looks like this is still relevant

/remove-lifecycle rotten

[2018-07-02 13:47] wojtek-t commented on #65441
I tried to understand why the difference is so huge. There indeed are a number of iptables rules for all "non-empty" services (which was doubled in this PR), but there is constant number of those - so it shouldn't be that huge.
So I added this: https://github.com/kubernetes/test-infra/pull/8535 which should allow us for profile kubeproxy memory and hopefully understand where the memory is coming f

[2018-07-02 13:53] wojtek-t commented on #48107
@danwinship - given all the above, I think the only open question that I still have is:
"what is grabbing iptables lock in our tests and keeps it for 2s+ so that kube-proxy is not able to grab it during some sync rounds".
I've looked into kubelet logs and didn't see any traces, meaning that it doesn't seem to be kubelet. Can this be something in OS?
@danwinship - thoughts?

[2018-07-02 14:00] venkatraj-icp opened #65708 "Migrate Pod"
Hi,

I want to move or migrate my pod to different namespace

Please let me know any possible

[2018-07-02 14:02] soltysh commented on #65530
I've opened https://github.com/kubernetes/kubernetes/pull/65709

[2018-07-02 14:20] sebt3 commented on #64649
I'm still having the issue with 1.11, i'ld like to know what was your fix

[2018-07-02 14:22] IvanovOleg opened #65712 "Kubelet v1.11.0 ignores --config"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig bugs

**What happened**:
I have set some parameters via config file f.e. "StaticPodPath", but kubelet v1.11.0 ignores it and doesn't load manifests.
**What you expected to happen**:
Config file works fine
**How to reproduce it (as minimally and precisely as possible)**:
config.yaml:
[code]
[code]

**Anything else we need to know?**:
**E

[2018-07-02 14:25] pablodav opened #65713 "KUBE-MARK-DROP not found on windows kubelet stderr"
**Is this a BUG REPORT or FEATURE REQUEST?**: bug report

**What happened**: log shows KUBE-MARK-DROP not found the bin in windows kubelet, something that doesn't looks fine in windows.

**What you expected to happen**: Just have clean run without these errors?

**How to reproduce it (as minimally and precisely as possible)**: Run kubelet on windows

**Anything else we need to know?**:

**Environm

[2018-07-02 14:31] luxas commented on #61649
cc @kubernetes/sig-cluster-lifecycle-feature-requests

[2018-07-02 14:35] pablodav commented on #65713
/sig windows

[2018-07-02 14:43] joejulian commented on #64649
I don't know. It worked fine for a while then I needed to restart that node for unrelated purposes and it failed again so I'm still having the problem, too.

/reopen

[2018-07-02 14:43] maksymx commented on #65575
Thanks @roaddemon for workaround. I took version 1.10.5 instead of 1.8.7

[2018-07-02 14:44] msau42 commented on #65604
/assign

Yes this limitation was called out in the design document because setting pod node name directly will bypass the scheduler.

To address this use case, I think PV controller would have to be enhanced to look at pods

[2018-07-02 14:46] joejulian commented on #64649
I've built a binary with go 1.10 and it still has the same problem, fwiw.

[2018-07-02 14:58] adelton commented on #61474
The same issue is happening with OpenShift packaged in Fedora rawhide as origin-node-3.9.0-2.fc29.x86_64.

[2018-07-02 15:38] ant31 commented on #65502
Yes, it will crash-loop until the envoy proxy is up, which is perfectly fine: it's not going to be stalled.
Things with hard dependencies exist, but they should be solved outside kubernetes core in my opinion (like with startup-scripts or init-containers)

I propose to move forward on the aggregated-health-probes proposal. It will solve the described use case for istio, and I think it's globally u

[2018-07-02 15:45] neolit123 commented on #61649
seems like the most reasonable option to me.
separate objects in separate files, even if the potential of flag duplication can occur. easier to maintain too.
one OS can transparently ignore the config for a different OS if it encounters it.
preferably no OS specific CLI flags.

[2018-07-02 16:00] davidxia opened #65716 "Question: PodSecurityPolicy doesn't allow Pods created by custom MutatingWebhookController that injects sidecar without securityContext.allowPrivilegeEscalation"
/kind bug

### What happened:

I have a cluster in which I run a custom MutatingWebhookController that injects sidecar containers. This was working fine. When I created Deployments, the Pods that were created had the sidecar containers. After I enabled the PodSecurityPolicy admission controller and applied this PodSecurityPolicy, I was unable to create Deployments in namespaces my custom controlle

[2018-07-02 16:03] nmittler commented on #65502
@ant31 Agreed that aggregated health probes are a generally useful feature and worth implementing.

Applications with a hard dependency between containers will likely encounter a startup delay for the pod, as @PiotrSikora suggested. I suspect the added delay of crash looping will be acceptable for most applications (especially if the pod won't be receiving traffic).  Let's move forward with aggreg

[2018-07-02 16:04] yue9944882 commented on #65706
/sig apps

[2018-07-02 16:06] xetys commented on #60807
That's strange, I've never seen such a finalizer. I just can speak based in my experience. I did that several time in a production cluster and it's still alive

[2018-07-02 16:57] yliaog commented on #64627
staging/src/k8s.io/bootstrap looks good.

[2018-07-02 17:31] mattmoyer commented on #18982
As a start, we could add a new flag `--client-ca-revocation-list-file=/path/to/crl.pem` to point at a local CRL file. This would allow for manual revocation of certs which would meet many use cases and matches the solution that ended up in etcd (https://github.com/coreos/etcd/pull/8124).

To revoke a certificate, a user would:

1. Sign a CRL using the CA (or a dedicated CRL issuer).
1. Get the CRL

[2018-07-02 17:41] davidxia commented on #65716
/sig auth

[2018-07-02 17:47] mujtabaahmed1991 commented on #65387
@thockin if nobody is working on it can I take it as my first issue?.

[2018-07-02 17:51] mikedanese commented on #18982
* Who keeps track of serial numbers? The [local signer](https://github.com/cloudflare/cfssl/blob/275fb308ac705bf5631d23b941f7b56dc436e39d/signer/local/local.go#L295-L296) doesn't. How do you reasonably construct CRLs with the kubeadm setup?
* How long is the CRL valid for? What regenerates the CRL when it is close to expiring? Kubeadm is a main, not a daemon. Do we fail open or closed when CRLs be

[2018-07-02 17:52] clandry94 commented on #65233
I can work on this!

/assign

[2018-07-02 17:53] mikedanese commented on #18982
I would prefer OCSP stapling with a validation authority that had some plugable policy engine, e.g. OPA.

[2018-07-02 17:55] omkensey commented on #65502
Does the 1.11 beta feature "PodReadinessGates" solve all or most of this?  It looks like work in a similar vein, at least:  https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-readiness-gate

[2018-07-02 18:28] smarterclayton opened #65718 "kubectl get pods.v1beta1.metrics.k8s.io fails, but should succeed"
Metrics v1beta1 resources can't be listed by kubectl 1.10.  It's probably an artifact of kind vs resource split, but this is broken and should work (this is a valid aggregated api with a valid discovery doc).

[code]

Expected:

kubectl get should have listed the types by trying to get custom columns for the metrics endpoint (which will be the next bug) or fall back to default display output.  Thi

[2018-07-02 18:29] smarterclayton commented on #65718
@juanvallejo for us to consider metrics official we need to be able to do this via the CLI.  Can you help @DirectXMan12 track this down?

[2018-07-02 18:30] IvanovOleg commented on #65712
1.10.5 ignores as well

[2018-07-02 18:31] mikedanese commented on #63682
No matter what, we are making an incompatible change to fix this. We will need an action required release note.

2 is out of the question in my opinion. I am in favor of (1. i.) because I don't like the idea of dropping ExtraInfo that might be attenuating the AuthContext.

[2018-07-02 18:35] bsalamat commented on #65557
Good point, users would be able to set priority values manually in that case.

[2018-07-02 18:37] sebt3 commented on #64649
running etcd 3.2.18 :
[code]
Still have the issue

[2018-07-02 18:39] dekkagaijin commented on #63682
SGTM

[2018-07-02 18:41] nmittler commented on #65502
@omkensey that may solve the problem, I'm not quite sure yet.

The definition of the pod phase *Running* is `The Pod has been bound to a node, and all of the Containers have been created. At least one Container is still running, or is in the process of starting or restarting.`

I suspect that once a pod is running, it will start receiving traffic ... even if only one of the containers has been suc

[2018-07-02 18:42] bsalamat commented on #65557
This is the cherrypick fo the PR into 1.11: https://github.com/kubernetes/kubernetes/pull/65717

[2018-07-02 18:46] bsalamat commented on #65557
Expected or not?

My understanding is that, these are plugins which are disabled by default and Priority is not among them.

[2018-07-02 18:51] liggitt commented on #65557
Any plugin not in the `defaultOnPlugins` list is disabled by default

[2018-07-02 18:57] JulienBalestra commented on #61717
/remove-lifecycle stale

[2018-07-02 19:14] ReSearchITEng commented on #60869
/remove-lifecycle stale.

On Sun, Jul 1, 2018 at 7:18 AM fejta-bot <notifications@github.com> wrote:

[2018-07-02 19:29] liggitt commented on #65718
what does `kubectl api-resources --api-group=metrics.k8s.io` show?

[2018-07-02 19:33] DirectXMan12 commented on #65718
[code]

[2018-07-02 19:34] DirectXMan12 commented on #65718
that said, I think the issue *might* be a restmapper ignoring discovery information.  I just lost my place debugging, but more info in a couple of minutes.

[2018-07-02 19:41] DirectXMan12 commented on #65718
Yeah, if discovery says the resource name is `pods`, the RESTMapper shouldn't have

[code]

Also, ![filthy hobitses](https://media.giphy.com/media/QZ59vM1qoPRSM/giphy.gif)

[2018-07-02 19:41] liggitt commented on #65718
does kubectl 1.11 work properly? I know it started leaning more heavily on discovery

[2018-07-02 19:42] DirectXMan12 commented on #65718
That was my thought.  This is testing with a master kubectl

[2018-07-02 19:42] DirectXMan12 commented on #65718
Let me see if I can track down what's going wrong.

[2018-07-02 19:51] liggitt commented on #63682
I agree, though a version-skewed extension API server that misinterprets an encoded value from a new aggregator is a form of dropping the info, if the authorizer that acts on the attenuation isn't expecting two variants of the extra info.

For example, say your authenticator returns extra data of "acme.com/scopes=[userinfo]"

An old aggregator would encode that into a header an old extension serve

[2018-07-02 19:51] DirectXMan12 commented on #65718
ahhh

[2018-07-02 19:54] msau42 opened #65721 "Conformance: Add subpath tests for atomic volumes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-feature-requests

**What happened**:
In test/e2e/storage/subpath.go, the tests with context "Atomic writer volumes" are candidates to be added to the conformance suite.

[2018-07-02 19:56] DirectXMan12 commented on #65718
This guess is wrong:

https://github.com/kubernetes/kubernetes/blob/dd97a7bc59c913c71730dba8b8de274820466417/staging/src/k8s.io/client-go/restmapper/discovery.go#L104

Specifically, it's probably wrong to *completely* ignore the provided plural name if we don't have a singular name.  Patching that (temporarily) to just not have a singular name seems to fix the issue (partially, the 1.12 client see

[2018-07-02 20:00] DirectXMan12 commented on #65718
RE: the `Accept` header, the header is `application/json;as=Table;v=v1beta1;g=meta.k8s.io, application/json`.  metrics-server is current using code from Kubernetes 1.8 for the apiserver library (currently updating it, along with a big refactor) :-/

[2018-07-02 20:01] thockin commented on #2630
I am still hopelessly confused about this bug.  There seems to be about 6 things being reported that all fail the same way but are different for different reasons.

* nginx drops supplemental groups
* ssh/postgres demands a particular mode for keys (and does not accept group-read)
* something about running as root ?

Can someone explain, top-to-bottom the issue (or issues) in a way that I can foll

[2018-07-02 20:06] mbohlool commented on #65612
/cc

[2018-07-02 20:20] rtripat opened #65724 "Allow extension API server to read requestheader-client-ca from extension-apiserver-authentication ConfigMap"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
When I start the core API server with `requestheader-client-ca-file`, it populates the `extension-apiserver-authentication` ConfigMap in `kube-system` namespace with the requestheader CA. This allows the extension API server to dynamically discover the CA and use it for validating the client certificate of aggregator l

[2018-07-02 20:22] juanvallejo commented on #65718
@smarterclayton

Sure, will look into this

[2018-07-02 20:22] rtripat commented on #65724
/sig apimachinery
@kubernetes/sig-apimachinery-feature-requests

/cc @DirectXMan12

[2018-07-02 20:23] smarterclayton commented on #65718
Yikes!

On Mon, Jul 2, 2018 at 4:00 PM, Solly Ross <notifications@github.com> wrote:

[2018-07-02 20:24] juanvallejo commented on #65718
@DirectXMan12

Hm, if the server is old enough it might be the case that it does not accept as=Table

[2018-07-02 20:30] dekkagaijin commented on #63682
@liggitt to clarify, my proposal is that only strings with offending characters (your 3rd example) would be base64-encoded in 1.ii., non-offending strings would be unaltered and backwards-compatible with existing api servers (the new header would be ignored). If a new client encodes offending strings and sends them under an explicitly coded header, we'd avoid the risk of misinterpreting the wire f

[2018-07-02 20:36] liggitt commented on #63682
that doesn't work, for a couple reasons:
* how does a backend server know whether a given header should be base64-decoded? Would `X-Remote-Extra-enp6` represent the extra key `enp6` or `zzz`?
* go header parsing normalizes header case, which destroys information required by base64 encoding (https://github.com/golang/go/blob/1c69384da4fb4a1323e011941c101189247fea67/src/net/textproto/reader.go#L506)

[2018-07-02 20:40] luxas commented on #65557
Which means we probably have a bit broader problem wrt this as it's not enabled by default. Should we do that in v1.11.1 as well if it always was the intention in order to not let the user set any priority value (as the feature gate is enabled)?

[2018-07-02 20:41] luxas commented on #64627
@yliaog do you want to help with this? I can guide you how to get started and we'll do this teamwork everyone together :smile:?

[2018-07-02 20:43] liggitt commented on #65557
Yes. https://github.com/kubernetes/kubernetes/pull/65722

[2018-07-02 20:44] luxas commented on #57618
KEP in progress in gdocs for this, will be converted to md soon: https://docs.google.com/document/d/1-u2y03ufX7FzBDWv9dVI_HyiIQZL8iz3o3vabeOpP5Y/edit#heading=h.iaigv0q3o3ur

[2018-07-02 20:50] dekkagaijin commented on #63682
We'd add a separate set of headers (specified in a separate set of flags) which unambiguously designate encoded keys.

Then we can encode it in hex? That way, abnormal charsets would still be preserved.

[2018-07-02 20:59] juanvallejo commented on #65718
cc @soltysh

[2018-07-02 20:59] yliaog commented on #64627
Sure, I can help work on it.

[2018-07-02 21:00] bsalamat commented on #65557
I have not been able to find any list called `defaultOnPlugins`. Could you please send a link?

[2018-07-02 21:00] ceridwen opened #65725 "Misleading error when using patch with name and generateName both set"
/kind bug

**What happened**:

When passing JSON that contains both the name and generateName fields to the API server, if the object with that name already exists, the API server returns the following error every time:

[code]

**What you expected to happen**:

A 409 error with the reason set to AlreadyExists, because a resource with that name already exists.

**How to reproduce it (as minimally

[2018-07-02 21:02] dekkagaijin commented on #63682
@liggitt tl;dr Newest proposal:

Normal `key`:  "X-Remote-Extra-`key`"
`key` with illegal char(s): "X-Remote-Encoded-Extra-`hex(key)`"

[2018-07-02 21:03] liggitt commented on #65557
https://github.com/kubernetes/kubernetes/blob/92b81114f43f3ca74988194406957a5d1ffd1c5d/pkg/kubeapiserver/options/plugins.go#L130-L140

[2018-07-02 21:11] bsalamat commented on #65557
Thanks! The function name confused me.

[2018-07-02 21:12] liggitt commented on #63682
I think it is better for an old extension API server to have an encoded and uninterpreted extra key values in its userinfo than for it to drop it completely. That keeps the info available for an authorizer to make use of if it wants to, keeps the data in audit logs, etc.

A new set of header prefixes has a lot of ripples for proxies and config, and once we're out of the skew window, I don't think

[2018-07-02 21:36] dekkagaijin commented on #63682
So is the proposal to encode, use the existing header, skip decoding? If so, what encoding?

[2018-07-02 21:58] #59282 closed

[2018-07-02 22:05] DirectXMan12 commented on #65724
@kubernetes/sig-api-machinery-feature-requests, since it looks like the at-mention didn't take

[2018-07-02 22:21] finndev commented on #51333
Hi, I am facing the same issue. When a node crashed/deleted and a pod was running there, can not remove the pod from the list:

[code]

[code]

However, it is still there. Not deleted.

Is there any way to remove it from the list?

[2018-07-02 22:29] eswarbala commented on #65724
Thanks Jordan. This is something we are interested in contributing to and ask for being cherrypicked to patch releases of 1.10.x and 1.11.x. That conversation can wait once we have the PR out.

[2018-07-02 22:31] smarterclayton opened #65727 "kubectl 1.10 prints header after a chunk, instead of only once"
In kubectl 1.10, when I fetch enough pods to cause a ranged page (>500), the headers get printed twice:

[code]

The headers should only be printed once.  This is a bug in chunk printing.

@kubernetes/sig-cli-bugs

[2018-07-02 22:31] smarterclayton commented on #65727
@juanvallejo

[2018-07-02 22:52] santiagopoli opened #65728 "Feature Request: SubNamespaces"
/kind feature

Hi there!

At my company, we are currently provisioning different Kubernetes clusters for each product team. Recently, we were talking about the possibility of provisioning a single cluster, and giving each team its own namespace. The problem relies on the fact that several teams are using more than one namespace within their clusters. For example, Team A has two namespaces: Infrast

[2018-07-02 22:58] juanvallejo commented on #65727
/assign juanvallejo

[2018-07-02 23:13] liggitt commented on #65728
This has been discussed many times (including when the original namespaces feature was designed and implemented). Until now, it has not been accepted as a direction because of the internal and external complexity it would introduce. It's also difficult to see how this could be added in a way that would remain compatible with existing API clients

[2018-07-02 23:16] liggitt commented on #65725
Thanks for the report. This is a duplicate of https://github.com/kubernetes/kubernetes/issues/32220

/close

[2018-07-02 23:16] #65725 closed

[2018-07-02 23:28] liggitt commented on #65708
objects cannot be moved between namespaces or change names without being deleted/recreated

You can output the API object, clear the namespace, and recreate it in another namespace

/close

[2018-07-02 23:28] #65708 closed

[2018-07-02 23:48] itowlson commented on #58357
@alexsandro-xpt I don't think we have anything to share on that at the moment, as there isn't an AG ingress controller (sorry, I haven't had time to pick it up again).  Once there's an ingress controller, you should be able to use it in AKS just as in a handrolled or acs-engine cluster.

Do ping the team on this (I'm not very active on upstream at the moment) - I'm not sure if there's an AKS UserV

[2018-07-02 23:48] liggitt commented on #65727
I'm pretty sure this is working as intended. The column spacing is computed given a set of specific data. For a new chunk, the column spacing can be different, and we want headers aligned with content

[2018-07-02 23:49] RenaudWasTaken commented on #64614
Any update on this?

[2018-07-02 23:52] #64774 closed

[2018-07-02 23:59] brianmartin opened #65732 "Unbounded kube-apiserver memory growth"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

One of our static kube-apiserver pods will climb in memory usage by ~200 MB per minute until it fills up the 32 GB of memory on the instance. When it crashes or is manually restarted, another kube-apiserver (possibly the replacement, possibly one from another master) will begin to exhibit the same runaway memory usage ne

[2018-07-03 00:00] brianmartin commented on #65732
@kubernetes/sig-api-machinery-bugs

[2018-07-03 00:42] forestgagnon commented on #65575
Just got bit by this too and am having to pin the kubectl version, is this issue closed because it won't be fixed?

[2018-07-03 00:48] bigV0616 opened #65734 "open /etc/docker/certs.d/registry.access.redhat.com/redhat-ca.crt: no such file or directory"
system: centos7 kernel:3.10
i use kubectl get pod fount status is ContainerCreating,
![image](https://user-images.githubusercontent.com/26765206/42192790-9d4e5b08-7e9d-11e8-8c36-086c5d7dc7c3.png)
how resolve this question? tks

[2018-07-03 01:11] liggitt commented on #65575
Yes. 1.8 is outside the supported skew window for kubectl 1.11, and the server side bug causing this is fixed in 1.9+

[2018-07-03 01:19] #65090 closed

[2018-07-03 01:19] #65461 closed

[2018-07-03 01:22] m1093782566 commented on #65611
/close

It's fixed by #65533

[2018-07-03 01:22] #65611 closed

[2018-07-03 01:30] wenlxie commented on #65604
@msau42 Seems I need to check the design doc first. I read that before, but I didn't remember this.
Thanks for the reply and so kind as alway.

[2018-07-03 01:31] andraxylia commented on #60807
Same issue on 1.10.5. I tried all advice in this issue without result. I was able to get rid of the pods, but the namespace is still hanging.

[2018-07-03 01:33] andraxylia commented on #60807
Actually, the ns too got deleted after a while.

[2018-07-03 01:35] andraxylia commented on #60807
It would be good to understand what causes this behavior, the only finalizer I had is kubernetes. I also have dynamic webhooks, can these be related?

[2018-07-03 01:49] BenTheElder commented on #30784
@mikedanese @liggitt any thoughts? I'd love to help push this forward again if there are no current objections.
As @munnerz says it seems like we should do this now that we have `kubectl auth can-i`

[2018-07-03 02:09] hchenxa opened #65738 "[Question]Does nodeLabelRole support multiple values?"
here is the output of node list by `kubectl`
[code]

just want to know if we can define multiple roles for a node.

[2018-07-03 02:21] feiskyer commented on #65233
+1 for the feature.

cc @kubernetes/sig-cli-feature-requests

[2018-07-03 02:34] liggitt commented on #30784
I don't see the connection between the two... that API does not expose everything a whoami service would...

I'm on the fence about committing to exposing this info via an API. The human readable denial forbidden message encountered as part of a denial is subject to change, and could be masked if deemed too sensitive a response.

[2018-07-03 02:44] liggitt commented on #65738
yes. node "roles" just displays labels prefixed with `node-role.kubernetes.io/`

a node with these labels:
[code]
would display as having the roles `infra,compute`

/close

[2018-07-03 02:44] #65738 closed

[2018-07-03 02:46] #65666 closed

[2018-07-03 02:49] liggitt commented on #65622
/assign @kow3ns @mattfarina

[2018-07-03 03:05] liggitt commented on #65314
@tallclair do you know if anything set up by an init container can bleed into something the main containers have access to?

[2018-07-03 03:09] CathySha opened #65740 "Cannot update service from another type to ExternalName because of clusterIP and port"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
Cannot update service from another type to ExternalName using io.fabric8.kubernetes.client.dsl.internal.ServiceOperationsImpl.replace(Service item).
The Request Body is:
 {
        "name": "sha1",
        "namespace": "sha",
        "uid": "xxx",
        "labels": [{
            "xxx": "xxx"
        }],
        "selector"

[2018-07-03 03:21] CathySha commented on #65740
@kubernetes/sig-api-machinery-bugs

[2018-07-03 03:39] seleznev commented on #34137
Looks like PR #59170 about PVC only. But with `/stats/summary` you can get stats for all mounted volumes (including emptyDir, secrets, etc).

[2018-07-03 03:48] BenTheElder commented on #30784
@liggitt Fair enough...

This is not my usual domain, admittedly, but could we place this API behind a policy then? I'd guess for most deployments usernames are not very concerning compared to scanning stolen credentials with `can-i` or even just trying to deploy something nasty without checking for access...

I think a *lot* of Kubernetes users are "cluster admins" permission-wise but are not qui

[2018-07-03 03:56] liucimin opened #65743 "No timeout when Kubelet Calling cni plugin"
**BUG REPORT**:

/kind bug

**What happened**:
When the kubelet create sandbox by cni plugin.
It will just use exec.Cmd to call the cni binary file.
In some cni plugin,such as contiv,the cni binary file may be locked and no return.
In this case, when kubelet first time call RunPodSandbox got a ctx timeout. the next time kubelet re-creates PodSandbox, it will always report this timeout.

![image](h

[2018-07-03 03:56] liucimin commented on #65743
/assign liucimin

[2018-07-03 04:09] Lion-Wei commented on #57841
@jsravn @m1093782566 @rramkumar1 @jhorwit2 Hi, guys. Recently I have been testing this issue, and got some result. Here is my test step:

1. Create a pod with `liseCycle/preStop` specified and `terminationGracePeriodSeconds=300`. Expose this pod to a service.

[code]

2. Check this pod and service.

[code]

3. Use `telnet` test service clusterIP connection.

[code]

4. Use `kubectl` delete pod, co

[2018-07-03 04:13] SEJeff commented on #30784
@liggitt Could said api not be wrapped with rbac and sensible default policy shipping upstream? This is a problem most anyone who creates roles, bindings, or service accounts is going to deal with, and not all who create roles or bindings (or service accounts for their namespaces) have or want cluster admin privileges. It generally isn't considered a security hole in 'nix for local users to use wh

[2018-07-03 04:20] liggitt commented on #65740
/sig networking
/kind feature

[2018-07-03 04:20] liggitt commented on #65740
Some type transitions are not allowed. You can delete and recreate a service with a different type

[2018-07-03 04:58] liucimin commented on #65743
sig/node

[2018-07-03 05:01] liucimin commented on #65743
/sig networking

[2018-07-03 05:03] liucimin commented on #65743
/sig node

[2018-07-03 05:11] liggitt commented on #30784
Unless the default policy exposed it to all users, it’s unlikely to be broadly useful, right?

Can you clarify what you mean by that? The circumstances in which someone 1) needs to grant themselves permissions, 2) has the ability to grant themselves permissions, and 3) doesn’t know their own username seem very narrow. I also am not seeing how this would help a service account creator.

[2018-07-03 05:16] CathySha commented on #65740
Thank you for the answer.
I tried to delete and recreate a service with a different type, but a problem always occurred: deletion can always success, but sometimes recreation fails...
I tried to get the origin service from cluster firstly, and then tried to delete the old service and create the new service, if deletion succeeded and recreation failed, then recreated the origin service, but it give

[2018-07-03 05:25] WanLinghao opened #65744 "Make webhook support more auth review API"
/kind feature
Currently, the webhook authorizer doesn't support selfsubjectrulesreview API. It just returns a empty list as well as an error like `webhook authorizer does not support user rule resolution`. In the future, with more authorization review API imported, users are deserved to have more options on webhook authorization review.One possible solution is keeping current webhook RESTClient co

[2018-07-03 05:46] CathySha commented on #65740
Thank you @liggitt .
And I also have a question: Can I rename a service? If yes, how to rename the service?

[2018-07-03 05:58] liggitt commented on #65744
/close
This is currently tracked in https://github.com/kubernetes/kubernetes/issues/52745

There’s a variety of additional pieces of information we want to feed to the webhook authorizer:
* ability to indicate what apiversion to speak, so we can move to v1 and away from v1beta1
* ability to indicate the failure policy (fail deny or fail no opinion)
* ability to indicate support for rules review. F

[2018-07-03 05:58] #65744 closed

[2018-07-03 05:59] liggitt commented on #65732
Is this reproducible with etcd3?

[2018-07-03 06:00] liggitt commented on #65740
No, name and namespace are immutable. You can delete and recreate an object with a different name

[2018-07-03 06:10] m1093782566 commented on #57841
Impressive test, @Lion-Wei

@jsravn @jhorwit2 please provide your feedback.

[2018-07-03 06:19] ceshihao commented on #63371
The same problem #65457

[2018-07-03 06:29] ceshihao commented on #63371
I think maybe it can be resolved by making CronJobSpec.Schedule immutable at lease. Since CronJob does not keep the last update time.

[2018-07-03 06:56] yue9944882 commented on #65732
@brianmartin Could you show us your configuration options of your apiserver? `target-ram-mb` or `watch-cache` related options of etcd.

[2018-07-03 07:05] IvanovOleg commented on #65712
@liggitt I've took parameters from as described https://github.com/kubernetes/kubernetes/blob/release-1.10/pkg/kubelet/apis/kubeletconfig/v1beta1/types.go

[2018-07-03 07:08] kalote commented on #61406
Same issue: I'm trying to get a list of environment variable that have "password" / "credentials" in it for audit purpose but cannot do it with jsonpath.

Any plan on having this feature?

[2018-07-03 07:09] yue9944882 commented on #65697
/kind support

Hi, you are not supposed to create an `Endpoints` manually. the `Endpoints` is more of a "status" nature and will be generated/updated by the matching between `Pod`'s label and `Service`'s labelSelector.

[https://kubernetes.io/docs/concepts/services-networking/service/#defining-a-service](https://kubernetes.io/docs/concepts/services-networking/service/#defining-a-service)

[2018-07-03 07:30] onlyjob commented on #27543
Over two years passed... Perhaps it's time to finally fix the issue instead of closing it automatically?

[2018-07-03 07:35] DatPhanTien opened #65746 "Spark job dynamic resource allocation with Kubernetes"
Dear,

We are interesting in running Spark jobs on Kubernetes.
There are two types of Spark jobs in our cluster.

- Batch jobs that have high workload but do not require fast response.
- Interactive jobs, that are triggered from user side, which have strict response time requirement (order of seconds or less).

Expectation:
1) We would like to know whether it is possible to put priority for such j

[2018-07-03 07:41] yue9944882 commented on #65746
/kind support

[2018-07-03 07:44] icowan commented on #65697
@yue9944882 Mysql is not in the k8s cluster, It's not a Pods。it is a large entity Mysql cluster。 I need to access it through Endpoints.

[2018-07-03 07:52] k82cn commented on #65746
/sig scheduling

For case 1: [priority/preemption feature](https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/) will make sure the pod with higher priority to run (preempt lower priority pod if necessary).

For case 2: [kube-arbitrator](https://github.com/kubernetes-incubator/kube-arbitrator) support share resource between jobs by DRF, DRF with weight and Proportion is on go

[2018-07-03 07:54] #29901 closed

[2018-07-03 07:55] k82cn commented on #65746
/cc @foxish @erikerlandson
/cc @bsalamat

[2018-07-03 07:55] k82cn commented on #65746
/sig big-data

[2018-07-03 08:04] DatPhanTien commented on #65746
Dear

Thanks for your fast answer.
Our cluster runs other long-running services also (HDFS, HBase, ...).
We deploy Spark via a Spark docker image that we built.

Best

[2018-07-03 08:06] andyzhangx opened #65750 "smb mount security issue"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
user PowerShell Environment Variables to store user input string to prevent command line injection, the env var in PowerShell would be taken as literal values and not as executable vulnerable code, this kind of fix is common for command line injection issue (called: parameterized way)

**What you expected to happen**:

**H

[2018-07-03 08:17] idealhack commented on #65712
/sig node

[2018-07-03 08:39] fabiand commented on #65622
Hm. I understand.

[2018-07-03 08:49] IvanovOleg commented on #65712
@tommyknows There was an issue that kubernetes manifests haven't been discovered because StaticPodPath was set in the config without flag. I am creating a new environment with lowercased parameters in the config file to test.

[2018-07-03 09:06] nevola commented on #62720
Hi @thockin that sounds good. Although I'm not a go developer expert, I accept the challenge.

[2018-07-03 09:12] CharlesCara opened #65753 "Incorrect documentation for kubectl create job"
/kind bug

The documentation given by `kubectl create job --help`  has incorrect syntax in the Usage section.
Currently shows:

`Usage:
  kubectl create job NAME [--from-cronjob=CRONJOB] [flags] [options]`

Should show
`Usage:
  kubectl create job NAME [--from=cronjob\CRONJOB] [flags] [options]`

**Environment**:
- Kubernetes client version v1.10.0

@kubernetes/sig-docs-bug

[2018-07-03 09:17] lambertpan commented on #65544
@akhilyendluri is it possible for you to share the fix?

[2018-07-03 09:19] rohanand commented on #65753
@CharlesCara I can look into this!

[2018-07-03 09:37] nikhita commented on #27543
/remove-lifecycle stale
/help

[2018-07-03 09:37] nikhita commented on #27543
For those who want to work on this, instructions for bumping a dependency exist here: https://github.com/kubernetes/community/blob/master/contributors/devel/godep.md.

[2018-07-03 09:39] MarcMielke opened #65754 "Unable to delete a StatefulSet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Can't delete a statefulset.

**What you expected to happen**:
Successful delete of the resource.

**How to reproduce it (as minimally and precisely as possible)**:
`kubectl get statefulsets <name> -n <namespace> -v=9`, works. Using `-v=9` shows that it uses apis/apps/**v1beta1**/namespaces/\<namespace\>/statefulsets/\<nam

[2018-07-03 09:49] ericjee commented on #52757
hi guys, any further update with this user story/case? we have more than 30 services need share GPUs in dev(qa / beta) ENV 😭😭

[2018-07-03 10:10] IvanovOleg commented on #65712
Lowercased parameters fixed the issue.

[2018-07-03 10:10] #65712 closed

[2018-07-03 10:15] nikhita commented on #65753
This has been fixed in v1.11 in https://github.com/kubernetes/kubernetes/pull/62215.

[code]

@rohanand I'd suggest to pick up a good-first-issue/help-wanted issue if you are new here and still want to contribute!

/close

[2018-07-03 10:15] #65753 closed

[2018-07-03 10:16] loburm commented on #65266
@CaoShuFeng I see that you have been performing API graduation from alpha to beta last time. Do you want to take care about doing the same for stable, or should I take it?

And do you think that there are any blockers for it?

[2018-07-03 10:20] nikhita commented on #65754
looks like a dupe of https://github.com/kubernetes/kubernetes/issues/59867

[2018-07-03 10:21] nikhita commented on #65754
/sig apps

[2018-07-03 10:24] #65293 closed

[2018-07-03 10:31] CaoShuFeng commented on #65266
Would be good either way.

I remembered that we will delete some field whens upgrade the audit API.
https://github.com/kubernetes/kubernetes/issues/52160#issue-256206047

Not very sure. Do we wait until [issues here](https://github.com/kubernetes/kubernetes/issues/65266#issue-333995465) get solved?

[2018-07-03 11:06] andrewshadura commented on #27543
This issue is trivial to fix, why does it take so long to even have it looked at?

[2018-07-03 11:14] AlexeyPerevalov opened #65756 "Kubernetes obtains ip address from containers' eth0 instead of CNI output"
/kind bug

In current implementation Kubernetes doesn't get ip address from CNI output,
it gets ip address from container's eth0 (network.DefaultInterfaceName) interface
in (network.GetPodIP). But there is possible use cases without eth0 inside container,
e.g. VhostUser CNI plugin, when it used w/o multus CNI plugin. Also there is no
agreement to keep interface exactly with the eth0 name inside th

[2018-07-03 11:22] AlexeyPerevalov commented on #65756
/sig network

[2018-07-03 11:25] CaoShuFeng opened #65757 "[kubeadm]failed to pull image "k8s.gcr.io/coredns-amd64:1.1.3": exit status 1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The output of my kubeadm:
[code]

When I pull the image with docker pull, I get such output:
[code]

But other images are successfully pulled as we can see from previous log.
Why?

[2018-07-03 11:28] nikhita commented on #65757
/sig cluster-lifecycle

cc @luxas

[2018-07-03 11:34] gtie commented on #61062
I'm running into this issue as well, though restarting kubelet does nothing for me. As seen in the kubelet summary output, the imageFs usage numbers do not add up (namely the usage size is 3x the capacity size). The incorrect numbers would be a reason for the ImageGC code not to run at all (with or without kubelet restart) - that's what I'm observing on my side.

Kubelet logs show an error like:
`

[2018-07-03 11:47] dims commented on #27543
@imdario @onlyjob @andrewshadura we could use help! there is a open PR which seems to have got stuck, can you please work with the author of https://github.com/kubernetes/kubernetes/pull/56775 (or take over that PR?)

[2018-07-03 11:53] tiukhtinvladimir opened #65760 "Is there a way to set --cluster-dns= on kubelet dynamically"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind question

**What happened**:
Once DNS service IP changes user must change --cluster-dns= kubelet flag as well. The question is is there a way to set --cluster-dns= on kubelet dynamically? Thanks

[2018-07-03 11:57] tiukhtinvladimir commented on #65760
/sig node

[2018-07-03 12:08] onlyjob commented on #27543
I can't help and you guys should be able to do it without asking author of  "mergo"  for help...  :)

[2018-07-03 12:21] ash2k commented on #65696
Another time it flaked in an unrelated PR https://github.com/kubernetes/kubernetes/pull/64664
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/64664/pull-kubernetes-bazel-test/51422/

@kubernetes/sig-cloud-provider-bugs

[2018-07-03 12:37] luxas commented on #65757
Ugh @rosti can you fix this please? I missed this in the PR that just got merged, should be `k8s.gcr.io/coredns:1.1.3` without the arch suffix as this is a manifest list

[2018-07-03 12:37] nickychow commented on #56703
I'm also seeing this in 1.9.9. Can we please backport this to 1.9.x?

[2018-07-03 12:41] luxas commented on #61649
Random idea, what about (re)using something like what kustomize (https://github.com/kubernetes-sigs/kustomize) does?

[2018-07-03 12:47] rosti commented on #65757
Getting on with this ASAP.

[2018-07-03 12:48] onlyjob commented on #27543
I've heard "feel free to send us a PR" before. But there are some problems:

 * Bad dynamics. I feel little incentive to participate when such a trivial issue remains to be the problem for years...

 * Contributor's agreement. You wouldn't even accept PRs from me so I'm not even trying any more. I've made it easy for you by pasting valid tested patch here and anyone is still free to apply it on my

[2018-07-03 13:04] fabiand commented on #62773
Is this fixed in 1.10 and/or 1.11?

[2018-07-03 13:08] jesusofsuburbia commented on #38067
@luxas or @mkumatag
just to make sure what is meant here with `manifest lists` -
will container images such as `kube-proxy` soon be multi-arch using manifest lists (for images without explicit architecture)?

Background: I currently have the problem that `kubeadm` generates a DaemonSet
with `gcr.io/google_containers/kube-proxy-amd64:v1.11.0`, which doesn't allow `kubeadm join` from **arm** devices

[2018-07-03 13:09] dims commented on #27543
@onlyjob we have been discussing such concerns and trying to come up with solutions in the `Contributor Experience Special Interest Group` in https://github.com/kubernetes/community/tree/master/sig-contributor-experience please do feel free to join us on the slack channel etc. would love for you to participate and help come up with solutions to make things better. For example adding/modifying depe

[2018-07-03 13:11] imdario commented on #27543
I'm happy to help but I won't be able to in the next two weeks. I'll check this [TestOldMergoLib](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/clientcmd/client_config_test.go#L31) in order to ensure the compatibility.

I'm obliged to say that the old behavior was based in a real bug, so it wasn't intended to work as it did. It should be possible to update

[2018-07-03 13:11] mkurylec commented on #65721
/assign @mkurylec

[2018-07-03 13:16] #65750 closed

[2018-07-03 13:23] dims commented on #27543
Awesome! thanks @imdario

[2018-07-03 13:44] andrewshadura commented on #27543
@dims, @imdario: but there’s a patch somewhere in the comments above, I thought that should be helpful already :) It shouldn’t be difficult for someone who’s actually contributing to the project to take that patch and rebase it to the current code.

[2018-07-03 13:45] ars05 opened #65765 "kubectl on macosx doesn't list pods"
**this a BUG REPORT**
/kind-bug

**What happened**:
kubctl v0.11.0 is not responding to get pods command, on mac osx Darwin  17.5.0 Darwin Kernel Version 17.5.0: Mon Mar  5 22:24:32 PST 2018; root:xnu-4570.51.1~1/RELEASE_X86_64 x86_64

**What you expected to happen**:
get a list of running pods

**How to reproduce it (as minimally and precisely as possible)**:
install v1.11.0 run kubectl get pods

[2018-07-03 13:59] bgrant0607 commented on #57659
Ref #23233

[2018-07-03 14:12] RenaudWasTaken commented on #62773
I believe 1.9.5, 1.9.6, 1.10.0 1.10.1, 1.10.2 are the only releases affected by this bug.

[2018-07-03 14:20] #62795 closed

[2018-07-03 14:35] kvaps opened #65766 "Can not force delete pod in Unknown state"
**BUG REPORT**:

/kind bug

**What happened**:

Cannot force delete pods in `Unknown` state, after upgrade to `1.11`.
[code]
[code]
But nothing happend, pod is still there

**What you expected to happen**:

Pod successful removed.

**How to reproduce it (as minimally and precisely as possible)**:

* Run pod on some node
* Force shutdown the node
* Try to remove the pod

**Anything else we need to

[2018-07-03 14:37] kvaps commented on #65766
/sig cli

[2018-07-03 14:43] vishh commented on #52757
Can you post the workloads for which you intend to share GPUs? How do you
plan on handling gpu memory requirements? Is it ok to over provision GPU
memory?

On Tue, Jul 3, 2018, 2:50 AM ericshen <notifications@github.com> wrote:

[2018-07-03 14:48] jcrowthe commented on #65651
Not that I could see. I checked the logs for kube-apiserver -controller-manager -scheduler and -proxy, but only saw the few lines listed above, or ones very similar to it.

[2018-07-03 14:57] sporkmonger commented on #57291
I have a use-case where init containers are running into a rate-limit enforced by an external system if they go into crash loop, which just ensures the loop continues. Would like to be able to adjust crash back off to prevent hitting that externally enforced rate-limit without needing to resort to something hacky like e.g. a sleep inside the init container.

[2018-07-03 15:08] #65500 closed

[2018-07-03 15:19] SamClinckspoor commented on #57992
/remove-lifecycle stale

behaviour is still observable for us on 1.9

[2018-07-03 15:26] thockin commented on #57659
@Glennvd You can create a node pool with a taint - any pod that doesn't explicitly tolerate that taint will avoid those nodes.

[2018-07-03 15:41] davidxia commented on #65716
@liggitt Thanks for explaining. Is there an order to mutating webhooks? I’m wondering whether my custom controller or PodSecurityPolicy controller runs first and what the ordering logic is.

[2018-07-03 15:41] omkensey commented on #65502
It appears to be exactly what PodReadinessGates is for.  Looking at it in more depth last night, it looks like to use PRG it’s expected that something is actually going to be monitoring pods as they come up, and injecting the PRG condition(s) in their status fields, so code would need to be written to do that — but code would need to be written anyway, and using PRG I think the the status injector

[2018-07-03 15:48] fturib commented on #65757
fyi @rajansandeep , @chrisohaver

[2018-07-03 15:48] RenaudWasTaken opened #65770 "pluginwatcher: Handling re-registration"
Hello!

/sig node
/cc @jiayingz @vikaschoudhary16 @vishh @vladimirvivien @sbezverk @saad-ali

In other PRs, the issue of plugin registration and most importantly re-registration has surfaced. There's been some talks about implementing it in the CSI handler and the device plugin already has some sort of mechanism to handle it.

First we should agree on the definition of re-registration as this has

[2018-07-03 16:05] ericjee commented on #52757
@vishh thx for reply:)
[code]
Currently we just settle memory usage via `tf.GPUOptions`
[code]
we have bunch services handle lower frequency requests, which deployed for internal user(VC, test user, .etc), if there is a way to allocate gpu memory like other system resources in k8s, my users can build their app more efficient. and yes, over provision is ok..

[2018-07-03 16:21] RenaudWasTaken opened #65772 "Allow the pluginwatcher lifecycle to do zero downtime upgrade"
Hello!

/sig node
/cc @jiayingz @vikaschoudhary16 @vishh @vladimirvivien @sbezverk @saad-ali

Currently the lifecycle of a plugin going through the pluginwatcher process is the following:

![current](https://user-images.githubusercontent.com/2519571/42231914-2e5331e2-7eed-11e8-9cca-efb86f4c5e91.PNG)

This is an issue as it doesn't allow pluginwatcher consumers to implement zero downtime upgrade. P

[2018-07-03 16:21] RenaudWasTaken opened #65773 "[Umbrella issue] Plugin Watcher Work Tracker"
This issue is meant to track and discuss planned work items for the plugin watcher API across releases.

This is not finalized yet. This issue will be updated once the community agrees to the different features and schedule.

The original design document [is here](https://docs.google.com/document/d/1dtHpGY-gPe9sY7zzMGnm8Ywo09zJfNH-E1KEALFV39s)

## v1.11: Done
- [X] Implement the pluginwatcher base

[2018-07-03 16:34] Zhuvikin commented on #55517
I think this flag is still needed at least for attach/detach operations in case when some static pod needs volume and controller isn't up yet. My case is to use cinder volume plugin in static pod definition like follows.
[code]

[2018-07-03 16:44] #65757 closed

[2018-07-03 16:51] splashx opened #65775 "Support enabling BlockStorage but disabling LoadBalancer in cloud provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I use [Openstack Block Storage](https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/#openstack) but my cloud provider doesn't support Openstack LBaaS. Because of the latter I've been using MetalLB instead to get things going. However I keep getting warnings when deploying a `ServiceType: LoadBalanc

[2018-07-03 17:06] adampl commented on #60807
@xetys Well, finally I used your trick on the replicas inside that namespace. They had some custom finalizer that probably no longer existed, so I couldn't delete them. When I removed the references to that finalizer, they disappeared and so did the namespace. Thanks! :)

[2018-07-03 17:07] vielmetti commented on #38067
@jesusofsuburbia - that sounds like a problem that should be raised as an issue of its own!

[2018-07-03 17:12] splashx commented on #65775
/sig kubernetes-cloud-provider

[2018-07-03 17:13] splashx commented on #65775
/sig cloud-provider

[2018-07-03 17:16] msau42 commented on #65552
I think it's still worth fixing this to wait for unmount.  Non-attachable plugins like NFS will benefit from this extra protection.

Attachable plugins like PD and EBS have deletion protection built in.  They won't delete if the volume is still attached.  And I think a solution for waiting for detach will require a new finalizer with possible coordination with the attach/detach controller, so it c

[2018-07-03 17:21] brianmartin commented on #65732
@yue9944882 Here's a full [gist of our apiserver invocation](https://gist.github.com/brianmartin/b879da3e03e387fd9c49ddd23514dd42). In particular, we do not explicitly specify `watch-cache`, `target-ram-mb`, or `max-requests-inflight`. Our cluster currently has ~75 nodes with ~1750 pods total.

@liggitt We have not been able to reproduce this issue outside of our production cluster, which is using

[2018-07-03 17:22] nmittler commented on #65502
IIUC, the idea of aggregated health probes would not require any custom code (assuming each container has a means for performing health checks). Or am I missing something?

[2018-07-03 17:39] mikedanese commented on #63682
I think the proposal is to do (1.i.)ish. Encode using percent encoding in new front proxies and decode in new downstream backends. Use the same header. If old downsteams get jumbled (percent encoded) extra info keys, at least it will be available to the authorization (often delegated) and audit layer. This is better than using a new header because:

1. Old backends would ignore the new header. Thi

[2018-07-03 17:39] olemarkus commented on #61486
We had exactly the same issue. Setting the DHCP domainname <region>.compute.internal solved the problem.

[2018-07-03 17:53] Random-Liu opened #65777 "Flexvolume test fails on ubuntu"
* https://k8s-testgrid.appspot.com/sig-node-containerd#e2e-ubuntu
* https://k8s-testgrid.appspot.com/sig-node-containerd#containerd-e2e-ubuntu

It passes on COS.

@kubernetes/sig-node-bugs @kubernetes/sig-storage-bugs
/cc @yguo0905 @verult

[2018-07-03 17:53] vishh commented on #65772
@RenaudWasTaken can you elaborate more on how/why the current lifecycle hinders upgrades?

[2018-07-03 17:54] #65400 closed

[2018-07-03 17:57] zetaab commented on #65775
/sig openstack

[2018-07-03 18:03] juanvallejo opened #65778 "Add tests for --template printing with rollout commands"
We need to add test-cmd tests for `kubectl rollout ...` commands to ensure that each one supports template printing (go-template, jsonpath, etc.), and that executing a command with just the `--template` flag defaults to printing using `go-template`.

If the rollout commands currently do not support the above criteria, they should be updated to do so.

cc @soltysh @deads2k

[2018-07-03 18:03] juanvallejo commented on #65778
/sig cli

[2018-07-03 18:03] juanvallejo commented on #65778
/assign

[2018-07-03 18:05] zetaab commented on #65775
that error is coming from row https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go#L744 but I am not 100% sure should we support metallb in openstack cloud provider integration. Metallb is not part of openstack. @dims any opinion?

[2018-07-03 18:13] gnufied commented on #65777
I can look into this, since likely this was introduced because of latest changes I made.

[2018-07-03 18:18] #43872 closed

[2018-07-03 18:19] dims commented on #65775
@zetaab if there is no LBaaS in the environment and or no `[LoadBalancer]`, we should not try to deploy one (and let metallb to do the work as it is supposed to). i think.

[2018-07-03 18:23] liggitt commented on #65716
yes, the order is specified here: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubeapiserver/options/plugins.go#L62-L95

* the mutating webhook admission plugins run last during the mutating phase
* the validating webhook admission plugins run last during the validation phase with the exception of the quota admission plugin and "deny all" admission plugin

[2018-07-03 18:24] zetaab commented on #65775
@splashx when you start node, do you see this log print in logs? https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack.go#L599

[2018-07-03 18:30] #65475 closed

[2018-07-03 18:32] dekkagaijin commented on #63682
SGTM, I'll put together a PR

[2018-07-03 18:37] davidxia commented on #65716
Thanks!

[2018-07-03 18:37] #65716 closed

[2018-07-03 18:51] brianmartin commented on #65732
@liggitt We've done a bit more digging and are now upgrading from 1.9.8 to 1.9.9. In particular, your change here https://github.com/kubernetes/kubernetes/pull/65339 may be relevant for us, as we cycle through many pods which utilize tolerations. I'll provide an update here once we're upgraded.

[2018-07-03 18:53] brianmartin commented on #65732
Ah, disregard my last comment. (duh) We're observing a leak in the kube-apiserver, where that fix is for the kube-controller-manager.

[2018-07-03 19:41] splashx commented on #65775
@zetaab With the original config `Claiming to support LoadBalancer` doesnt show up the log files. The only reference for `openstack.go` in the logs is:

[code]

Now, if adding `notworking` as `lb-version` it yields:

[code]

And:

* ✅ The IP allocation via MetalLB works
* ✅ The service is remotely available
* ✅ The warning on `LoadBalancer` object disappears:

[code]

[2018-07-03 19:47] zetaab commented on #65775
weird, without this Loadbalancer thing it should end up to row https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack.go#L601 and print "Claiming to support LoadBalancer". Now when you added that Loadbalancer section with random lb-version it ends up to row https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/opens

[2018-07-03 19:57] splashx commented on #65775
@zetaab I take it back. my log level was too high. It does show up:

[code]

[2018-07-03 20:00] zetaab commented on #65775
cool, then we should have check in https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack.go#L573 function as first thing which checks is LoadBalancer even defined in config - if no then return nil, false

[2018-07-03 20:07] MHBauer commented on #27543
Wow, what a blast from the past. I took a whack at this as one of my first attempts at a PR. I'm curious enough to take a quick look at it, but I'd prefer if an expert ended up handling it.

[2018-07-03 20:12] cblecker commented on #27543
@onlyjob @andrewshadura This issue was opened telling "us" to take an action. It wasn't opened as a bug, or with details on why this action should be taken. Upgrading for upgrading's sake isn't something that is necessarily needed with vendored code. The whole point of vendoring your source code is so that a code base isn't broken when a dependency makes a breaking change, like the mergo library d

[2018-07-03 20:13] cblecker commented on #27543
/remove-help
/assign

[2018-07-03 20:13] vishh commented on #52757
@ericjee So your workload is tensorflow. Is it training or inference? Do you care about just memory or GPU core isolation as well? I assume you are aware that TF support for unified memory is [still experimental](https://github.com/tensorflow/tensorflow/commit/b1139814). Also, Nvidia does not support memory isolation yet in their GPU stack. Also, it is not clear yet if MPS can and should be used f

[2018-07-03 20:18] zetaab commented on #65775
@dims (or someone else openstack guy) do you have time to run some test to fix this? I am on vacation and I do not have my test environment with me :)

I am thinking to add following to row https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack.go#L575

[code]
So I am trying to check is lbOpts totally empty, if yes - then it does not initialize opensta

[2018-07-03 20:22] nmittler commented on #65502
@omkensey @ant31 After taking another look at [the probe docs](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes), I see:

`A Pod is considered ready when all of its Containers are ready.`

That may be all we need actually.  If I read that correctly, giving the Envoy container a readiness probe would prevent traffic from being sent to the pod until that c

[2018-07-03 20:23] mikedanese commented on #60661
cc @alexcope

[2018-07-03 20:53] finndev opened #65783 "Can't delete deployment, job doesn't complete"
**This a BUG REPORT

/kind bug

**What happened**: Not possible to delete a deployment

**What you expected to happen**: Successfully delete the deployment

**How to reproduce it (as minimally and precisely as possible)**:

Have a deployment:

[code]

Trying to delete it:

[code]

The command above takes years and doesn't complete. After exiting with CMD+C (left it 5+min running) the deployment is

[2018-07-03 20:54] MHBauer opened #65784 "bash on mac os is too old so ﻿`hack/godep-save.sh` does not work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
tried to update godeps on mac OSX
`hack/run-in-gopath.sh hack/godep-save.sh`

Eventual error out with
[code]

osx bash is old and doesn't know what the `-A` flag is for declare.

**What you expected to happen**:
successfully finish running the scripts

**How to reproduce it (as minimally and precisely as possible)**:
see

[2018-07-03 21:38] wsong opened #65785 "API server can return "Unauthorized" responses immediately after startup"
/kind bug

**What happened**:
When the Kubernetes API server starts up, requests return a 401 Unauthorized error for a few seconds after the API server starts. After about 5 seconds or so, requests start working again. In the API server logs, when this happens, we see this error:

[code]

I think this is because of this commit:

https://github.com/kubernetes/apiserver/commit/64c5ecc45e9252a46103ab

[2018-07-03 21:43] wsong commented on #65785
@kubernetes/sig-api-machinery

[2018-07-03 21:44] wsong commented on #65785
@kubernetes/sig-api-machinery-bugs

[2018-07-03 21:53] achanda commented on #65221
I see the same behaviour after creating a cluster with kops on AWS.

[2018-07-03 22:16] liggitt commented on #65785
/sig auth

Your curl example is not using bearer token authentication, only x509 credentials. How are you starting the apiserver in that test?

[2018-07-03 22:18] liggitt commented on #65783
/sig cli
/sig apps

What do you see if you fetch the deployment, replicaset, and pods from the API? Can you post the yaml output from the API for those objects?

[2018-07-03 22:20] liggitt commented on #65766
If you fetch the pod yaml from the API, what finalizers are listed on the pod?

[2018-07-03 22:23] wsong commented on #65785
Here's our API server args:

[code]

[2018-07-03 22:29] liggitt commented on #65785
Thanks. A couple more questions:
* can you capture the output from the curl command failures with -v added?
* does your server startup do anything to regenerate the cert/key used by that curl command?

[2018-07-03 22:37] wsong commented on #65785
Here's the curl output for a successful request:

[code]

And here it is for an unsuccessful one:

[code]

We do not regenerate certs.

[2018-07-03 23:13] roycaihw commented on #63622
The test seems to be green in the past two weeks. Wonder if it's fixed / mitigated?

[pull-kubernetes-e2e-gce](https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&include-filter-by-regex=Aggregator%20Should%20be%20able%20to%20support%20th)
[ci-kubernetes-e2e-gci-gce](https://k8s-testgrid.appspot.com/sig-api-machinery#gce)

[2018-07-03 23:14] mbohlool opened #65790 "[CRD] No-op conversion should not be the default conversion"
In designing new conversions for CRDs we realized we would have a problem on the downgrade path if we default to no-op conversion all the time (as we do in 1.11). Assume we add some other conversions, e.g. webhook conversion. User defines two version and a conversion webhook to convert v1 to v2, assuming v1 is the storage version. The schema for v1 and v2 could be completely different and a contro

[2018-07-03 23:32] gyliu513 opened #65791 "local-up-cluster.sh failed when specifying API_HOST as docker0 addr"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

I was using code from master, and set `API_HOST=172.17.0.1`, and `hack/local-up-cluster.sh` report error as follows, but I found that `172.17.0.1` is not using `8080`.

[code]

[2018-07-03 23:32] gyliu513 commented on #65791
/sig cluster-lifecycle

[2018-07-03 23:48] f3flight commented on #50321
/reopen
run into this lack of a feature today, had to revert to dokcer exec to run etcdctl with ETCDCTL_API=3 variable inside default etcd container deployed by kubeadm

[2018-07-03 23:53] mkurylec commented on #65721
# https://github.com/kubernetes/kubernetes/pull/65793

[2018-07-04 00:53] socceranoo opened #65795 "Support for docker create option --storage-opt in POD deployment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Is there support in kubectl pod deployment for docker option --storage-opt if there is an option need to be passed to the docker graph/storage driver during POD deployment ?
**What you expected to happen**:
Need a way to pass in deployment yaml file to instruct the underlying docker storage driver which some custom op

[2018-07-04 01:30] dims commented on #27543
@onlyjob please see @cblecker 's effort and help if possible there - https://github.com/kubernetes/kubernetes/pull/65779#issuecomment-402279223

[2018-07-04 02:15] liggitt commented on #65785
I'm unable to reproduce the issue using curl on a tight loop with client certificate auth as shown, even if the apiserver is set up to additionally use OIDC authn... the very first API request that connects succeeds. Are you seeing this for all clients, or only those that attempt to use OIDC bearer tokens?

[2018-07-04 02:18] liggitt commented on #65765
can you include trace information to see what is coming back from the server by passing `--v=9`? be sure to remove any credential headers before pasting

[2018-07-04 02:36] MarcMielke commented on #65754
very similar, yes. But I do not see the `no kind "GetOptions"` bit in my output:
[code]

[2018-07-04 02:52] pluttrell commented on #49753
/remove-lifecycle stale

[2018-07-04 02:53] hex108 opened #65797 "Add max retries when pod's restartPolicy is RestartPolicyOnFailure"
If pod's `restartPolicy` is `RestartPolicyOnFailure`, its containers will be restarted constantly if they fail. However it might be meaningless if the failure is caused by system failure or some of user's program internal errors. It will fail even it retries a lot of time. At the same time, we could not recognize which cases to restart or not. I propose to add max retires for the policy `RestartPo

[2018-07-04 03:26] yue9944882 opened #65798 "Need a "whoami" sub-command for kubectl"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

We might want to know informations about client's identity via "kubectl". Especially the name and the groups in `UserInfo`.😃

**What you expected to happen**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `ku

[2018-07-04 03:43] yue9944882 commented on #60781
/remove-lifecycle rotten

[2018-07-04 04:30] yue9944882 commented on #65798
@kubernetes/sig-cli-feature-requests 😃

[2018-07-04 04:48] nikhita commented on #65784
/cc @sttts since you use a mac

[2018-07-04 04:48] nikhita commented on #65784
/cc @cblecker

[2018-07-04 04:49] nikhita commented on #65790
/sig api-machinery

[2018-07-04 04:49] nikhita commented on #65790
/cc @sttts @liggitt

[2018-07-04 04:51] cblecker commented on #65784
What version of OSX and what version of bash are you using?

[2018-07-04 05:03] thockin commented on #65784
The licenses script is important but horrible.

[2018-07-04 05:39] jesusofsuburbia commented on #38067
@mkumatag oh wow, thanks for the link. yes, I have a mixed cluster! it looks like the restriction takes the same approach I'm doing manually at the moment. Still waiting for the _manifest lists_ though, but at least it's documented for now. Thanks again, also for your work!

[2018-07-04 05:59] gyliu513 commented on #65791
@nikhita  I think this may caused by the `curl` command at here https://github.com/kubernetes/kubernetes/blob/master/hack/local-up-cluster.sh#L264-L284

[2018-07-04 06:29] kvaps commented on #65766
Hi, here is
[code]
those pods was created by DaemonSet and StatefulSet

After removing finalizer field, pods successfully disappear. So no bug?

[2018-07-04 06:35] bryan831 commented on #15478
any updates on this? so how has anyone running k8s with Docker containers settled logging to some backend like AWS CloudWatch?

[2018-07-04 07:00] utkarshmani1997 commented on #61275
/remove-lifecycle stale

[2018-07-04 07:33] sttts commented on #65784
`hack/godep-save.sh` worked last time I tried (some days ago, on 10.13.5.

[2018-07-04 07:42] frittentheke commented on #65569
@caesarxuchao

1) Yes, nameabc-757b9c656-77lmr is the pod still stuck in "Terminating"
2) There are NO dynamic admission webhooks.
3) Here you go with the JSON:

[code]

[2018-07-04 07:42] sttts commented on #65790
Won't we have the same problem whenever we add a conversion feature like a nother kind of declarative conversion? Our normal unmarshaling mechanism will drop the new conversion kind and the conversions therefore are incomplete on a rollback.

[2018-07-04 07:43] sttts commented on #65790
The same is true when using a CRD with a /status subresource in 1.11. After switching back to version without beta support for subresources, the semantics of the endpoints fundamentally changes. Maybe one can argue that this  case might be easier to debug than a wrong schema.

[2018-07-04 07:49] wojtek-t commented on #65441
The last run succeeded, so I'm almost convinced that @shyamjvs PR was a victim.
I will leave that open to have one more green run, and then close it.

In the background, we will try to figure out the exact reasons why it cause that regression and hopefully fix that.

[2018-07-04 07:55] ensonic opened #65804 "rbac error messages are incomprehensible and not helpful"
/kind bug

**What happened**:
[code]
[code]
The error I am getting is a large blob of unformatted text (not even json or yaml):
[code]

**What you expected to happen**:
It to work or to give a concise error message. I am running this as a user who is cluster owner, so how can I not have the right privileges for anything?

**Environment**:
[code]
running on GKE (Master version: 1.9.6-gke.1, Node ve

[2018-07-04 08:00] wojtek-t commented on #65698
controller-manager and kube-proxy has been enabled (it requires some cleanup in job configs in test-infra though, but it's happening independently)

for kubelet - I will take a look.

[2018-07-04 08:03] shyamjvs commented on #65698
Did you intend to just turn on profiling for the components or you also want to capture them in our tests (because the latter needs more changes)?

[2018-07-04 08:05] wojtek-t commented on #65698
I just wanted the former. The latter we can do if needed - for now I just wanted to be able to grab them on running tests, which wasn't possible so far.

[2018-07-04 08:20] loburm commented on #65266
#52160 (comment)
Thanks for pointing. Do we need any period for testing newly introduced/renamed fields?

user-agent field was added. @x13n could you update it?
Other changes (non optional one) are not changing API fields. Code removal for legacy audit logging can be done in parallel.

[2018-07-04 08:31] xlgao-zju commented on #65071
If `current version == requested version`, should we just skip the upgrading?
@detiber

[2018-07-04 08:42] CaoShuFeng commented on #65266
Agree. I think so.

Sounds good to me.  I could start coding in Friday, if I am responsible for upgrading the API. What do you think?

[2018-07-04 08:46] shyamjvs commented on #53321
/reopen
/remove-lifecycle rotten

(as I just noticed this)

[2018-07-04 08:47] loburm commented on #65266
Sounds as a plan. In meantime, I'll start working on removing legacy audit logging.

[2018-07-04 08:48] IvanovOleg commented on #65663
I have the same issue

[2018-07-04 09:37] huangjiasingle commented on #58801
/remove-lifecycle

[2018-07-04 10:17] wojtek-t commented on #65698
Actually kubelet also exposes profiling handlers - I just failed to find them initially.
https://github.com/kubernetes/test-infra/pull/8576 is fixing that

[2018-07-04 10:28] nikhita commented on #65670
/remove-help

@ashanaakh thanks for creating the PR! :tada:

[2018-07-04 10:34] #59318 closed

[2018-07-04 10:49] enhuali commented on #63190
@jingxu97 I have this problem also!

[2018-07-04 10:58] #65698 closed

[2018-07-04 11:04] kvaps commented on #65766
OK, this steps solved my problem:
[code]

[2018-07-04 11:04] #65766 closed

[2018-07-04 11:34] chrissound opened #65812 "Unable to ping node port cluster ip, services time out"
kubectl version
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fcd3d5f436da26c980becec37ceefe", GitTreeState:"clean", BuildDate:"2018-06-27T20:17:28Z", GoVersion:"go1.10.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fcd3d5f436da26c980becec37ceefe", GitTreeStat

[2018-07-04 11:36] chrissound commented on #65812
/sig networking

[2018-07-04 11:37] chrissound commented on #65812
[code]

[2018-07-04 11:44] KernelPanicAUS commented on #24472
@kubernetes/sig-aws is this still on the roadmap?

[2018-07-04 11:52] wojtek-t commented on #31345
/remove-lifecycle stale
/lifecycle frozen

https://github.com/kubernetes/kubernetes/pull/50102 (once figured out) should fix this issue.

[2018-07-04 12:19] ebalakumar opened #65813 "Failed to update status for pod in kub slave node"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
Pods are not running in Slave nodes .

- created the master , added flannel network .
- created slave node and added it to the cluster by running kubeadm join command
- Node is getting added . Able to see it in Ready status when I run Kubectl get nodes in Master .
- Systemctl status kubelet shows  below errors:
 **Failed

[2018-07-04 12:21] ebalakumar commented on #65813
/sig cluster-ops
/sig node

[2018-07-04 12:35] neolit123 commented on #65791
hi, what happens if you try on a different port e.g. `API_PORT=8001`?

[2018-07-04 12:39] AliYusuf95 commented on #65221
I face the same problem after creating a cluster on Azure using **AKS**.

[2018-07-04 12:49] hce137 commented on #52172
Just add more evidence, we got exactly the same issue as @AlexPereverzyev did.
kubelet 1.8.13, docker 17.12.1-ce

[2018-07-04 12:50] ingvagabund opened #65814 "Have requests to cloud provider non-blocking"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

There is no guarantee SDK(s) handling requests to cloud providers will response in a reasonable amount of time. Some periodically running routines  (e.g. node status update) can hang for a long time before they finish their job which can cause Kubelet to loose its ability to report/respond in time. E.g. request for n

[2018-07-04 12:53] redbaron opened #65816 "controller-manager should acquire lock after checking configugration"
/kind feature
/sig cluster-lifecycle

**What happened**:

controller-manager acquires locks without checking configuration, which makes it not self-hosted friendly. Problem can happen, when some configuration options are incorrect, lets say certificate file doesn't match key, or file is missing completely, or credentials are not sufficient, controller-manager starts nevertheless and blocks on acqu

[2018-07-04 12:54] pplu opened #65817 "kubectl cluster-info wording"
/kind bug

**What happened**:

The wording of kubectl cluster-info is misleading. When no cluster is running, it will state (in green) that the kubernetes master is running.
[code]

**What you expected to happen**:

I would expect a different message, like
[code]
Or a `Kubernetes master is NOT at http://localhost:8080`

**How to reproduce it (as minimally and precisely as possible)**:

Execute kub

[2018-07-04 13:06] pplu commented on #65817
@kubernetes/sig-cli-bugs

[2018-07-04 13:19] aleksandra-malinowska opened #65818 "Can't delete apiservice - kubectl delete apiservice freezes"
Running `kubectl delete apiservice v1beta1.external.metrics.k8s.io` freezes.

This is also causing custom metrics HPA e2e tests to fail in teardown: https://k8s-testgrid.appspot.com/sig-autoscaling-hpa#gci-gce-autoscaling-hpa

cc @kawych @MaciekPytel

[2018-07-04 13:34] soltysh commented on #63371
Making the schedule immutable is not practical, imho.

[2018-07-04 13:35] soltysh commented on #65457
I'm going to close this as a duplicate of #63371.

[2018-07-04 13:35] #65457 closed

[2018-07-04 13:36] loburm opened #65819 "Truncating backend doesn't work with buffered backend for audit logging"
/kind bug

**What happened**:
Created cluster with truncating and buffered modes enabled for audit logging.

**What you expected to happen**:
Audit logs supposed to be written to the file or send via webhook.

**How to reproduce it (as minimally and precisely as possible)**:
Create clusters with next env variables set:
ENABLE_APISERVER_ADVANCED_AUDIT=true
ADVANCED_AUDIT_TRUNCATING_BACKEND=true
ADV

[2018-07-04 13:37] loburm commented on #65819
Most probably that's because we are not starting goroutine responsible for reading those events from the buffer:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/plugin/pkg/audit/truncate/truncate.go#L132

[2018-07-04 13:41] chrissound commented on #65812
I also found this SO question which also seems to show the same behaviour: https://stackoverflow.com/questions/50401355/requests-timing-out-when-accesing-a-kubernetes-clusterip-service

[2018-07-04 13:57] pdecat commented on #64743
@thockin I have been hitting this issue for several months and just hit it right now on GKE 1.8.12-gke.1 with COS 65.10323.85.0 and Network Policies enabled (Calico 2.6.7).

Cannot see any hairpin setting on the nodes' kubelets.

Any idea when the hairpin mode was changed on GKE?

[2018-07-04 14:08] pdecat commented on #64743
Also, just found a commit reverting HAIRPIN_MODE back to hairpin-veth apparently: https://github.com/kubernetes/kubernetes/commit/7def53abb414715532b57347cfc486623188bae3

[2018-07-04 14:09] swimablefish opened #65820 "IPVS latency and throughput is not as stable as iptables"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
In our k8s(1.10.2) cluster, the components use thrift to communicate. In our profiling, the latency and throughput are good at the beginning. But after 1 or 2 minutes, the latency increased and the throughput descreased.
If we change to iptables, the latency and throughput are very stable. The values of  average and 95 p

[2018-07-04 14:11] CalvinHartwell commented on #47326
@krmayankk sorry to respond to this necro post, but did you come to any conclusion on this? I assume you can create a LimitRange which is really small for namespaces which should be restricted from using certain storageclasses, correct?

Have CSI plugins in k8s 1.10 and the new storage improvements in 1.11 sorted out any issues?

[https://kubernetes.io/docs/tasks/administer-cluster/limit-storage-c

[2018-07-04 14:12] liggitt commented on #65790
If there's a shared field (discriminated union) that indicates the type of conversion, the older server can at least recognize it is in an unknown state and disallow writes that would persist bad data, or refuse to serve the custom resources altogether

[2018-07-04 14:15] swimablefish commented on #65820
@kubernetes/sig-network-bugs

[2018-07-04 14:20] finndev commented on #65783
A reboot of the master node fixed it

[2018-07-04 14:20] #65783 closed

[2018-07-04 14:35] yue9944882 commented on #65732
@liggitt @brianmartin I was worrying about the leak before. It could possibly caused by dead/inactive go routine produced from `Watch` call of etcd storage (also for etcd3).

[https://github.com/kubernetes/kubernetes/blob/df1826c9d7d0f9a7651170a9629dd1cec0d4c3b0/staging/src/k8s.io/apiserver/pkg/storage/etcd/etcd_helper.go#L240](https://github.com/kubernetes/kubernetes/blob/df1826c9d7d0f9a7651170a9

[2018-07-04 14:38] #59175 closed

[2018-07-04 14:42] pdecat commented on #64743
Last occurrences of `hairpin` I could find in Stackdriver Logging are from the we upgraded to 1.8.12-gke.1 on the 2018/06/14:

[code]

[2018-07-04 14:52] LRueckert opened #65825 "HostPath mount type FileOrCreate creates a directory on the node"
/kind bug

**Context**:
- E2E test `[k8s.io] KubeletManagedEtcHosts should test kubelet managed /etc/hosts file [Conformance]` failed because `busybox-3` (the one with the volume mount doesn't start)
- doesn't start due to mounting error:
[code]
  - copied the failing pod and reduced it to the parts that are failing

**What happened**:
- creating a pod from the following template:
[code]
- pod cre

[2018-07-04 14:58] pdecat commented on #64743
A freshly created GKE 1.8.12-gke.1 cluster with 3 nodes and network policy enabled produces the following output:

[code]

[2018-07-04 15:03] pdecat commented on #64743
A freshly created GKE 1.8.12-gke.1 cluster with 3 nodes and network policy disabled at creation produces the following output:

[code]

[2018-07-04 15:03] khelll commented on #56430
I have installed the Prometheus custom metrics adapter which worked for 2 hours then, the cluster became unresponsive and I started to see the same error above for **both** custom metrics and metrics. Only when I disabled the adapter things went back to normal.
So, I guess @DirectXMan12 hunch about one API service going down is taking this down seems right.

[2018-07-04 15:05] pdecat commented on #64743
A freshly created GKE 1.9.7-gke.3 cluster with 3 nodes and network policy enabled at creation produces the following output:

[code]

[2018-07-04 15:11] pdecat commented on #64743
A freshly created GKE 1.10.5-gke.0 cluster with 3 nodes and network policy enabled at creation produces the following output:

[code]

[2018-07-04 15:17] dyroffk opened #65826 "rr3456789"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-07-04 15:17] dyroffk commented on #65826
Accidentally opened.  Closing

[2018-07-04 15:17] #65826 closed

[2018-07-04 15:22] liggitt commented on #65732
I don't think that is the issue. Watch requests have timeouts associated with them, and do get closed, at which point the context object is removed. We also haven't seen this sort of memory growth in all servers, and I think something that fundamental like that would appear more consistently.

[2018-07-04 15:32] RenaudWasTaken commented on #65772
Hello @vishh

The current lifecycle does not hinder upgrades. I've opened this issue as part of the pluginwatcher work tracker umbrella issue in order to discuss the registration mechanism with the community.

The goal is to discuss whether the registration mechanism of the pluginwatcher should be designed for 0 downtime upgrades. This is currently not the case in the device manager mechanism (We

[2018-07-04 15:47] discordianfish commented on #57109
/remove-lifecycle stale
/lifecycle freeze

[2018-07-04 15:48] discordianfish commented on #22723
/remove-lifecycle stale
/lifecycle freeze

[2018-07-04 17:24] liggitt commented on #65818
can you run with --v=8 and see trace output for what the delete command is waiting for?

[2018-07-04 17:29] vishh commented on #65772
Thanks for explaining. Sounds reasonable to me to include this in Beta.
Having a simpler lifecycle is always preferable.

On Wed, Jul 4, 2018 at 8:34 AM Renaud Gaubert <notifications@github.com>
wrote:

[2018-07-04 17:32] liggitt commented on #65804
The error includes all the RBAC permissions you don't currently have that you are attempting to create. We can look into clarifying the message text, but all the information in it is relevant.

This is because GKE uses two authorizers, and RBAC role/clusterrole creation requires you to have the permissions you are creating via an RBAC role. This is issue https://github.com/kubernetes/kubernetes/is

[2018-07-04 17:34] liggitt commented on #65818
/sig cli

[2018-07-04 17:37] trondhindenes opened #65835 "pod crashes if /run/secrets is used as a mount target"
/kind bug

**What happened**:
After upgrading from 1.9.0 to 1.10.2 / 1.10.5 (tried both), we started to get multiple containers in crash loop. This turned out to be caused by the fact that we usually map Kubernetes secrets to the container path `/run/secrets` and use company-internal libraries to populate application config from these secrets. I don't know what the change is from 1.9.0 to 1.10.x (

[2018-07-04 18:19] liggitt commented on #65106
It is a bug, but the bug is that duplicate keys are allowed in the first place. Fixing that validation in the least disruptive way possible would likely be the best solution

[2018-07-04 18:21] cblecker commented on #57667
Updated issue to reflect removed teams.

[2018-07-04 18:22] trondhindenes commented on #65835
/sig node

[2018-07-04 18:52] xmudrii commented on #65818
@liggitt I'm having the same issue as well. It happens with any API Service. When you delete it, it gets a deletion timestamp, but never get deleted.

**Kubernetes version:** development version with `local-up-cluster.sh`. Currently running on `692f9bb7b1`.

**How to reproduce:** One of the ways to reproduce the issue is to deploy the [sample-apiserver](https://github.com/kubernetes/sample-apiserv

[2018-07-04 18:56] shyamjvs commented on #53255
/remove-lifecycle stale

On Wed, Jul 4, 2018, 8:43 PM fejta-bot <notifications@github.com> wrote:

[2018-07-04 19:42] xmudrii commented on #65818
@liggitt Looks like all the mentioned problems are related to some bug in `kubectl`. I tried to test deletion with `kubectl` 1.10.5 (while still running Kubernetes 1.11), and it works normally.

All resources are always deleted, and there're no any hang on(s).

Here's delete `--v=8` output when deleted with `kubectl` 1.10.5:
[code]

`kubectl version` with kubectl 1.11:
[code]

`kubectl version` wi

[2018-07-04 19:44] sttts commented on #65790
That's what @mbohlool suggests, isn't it? I just add that it is not enough to only follow this pattern for the highlevel type of conversion (no-op, webhook, declarative), but we have to be very carefull for any other extension of the conversion mechanism, i.e. to have this defensive discriminated union handling at a much finer grained level.

[2018-07-04 20:21] whereisaaron commented on #15478
@bryan831 it is popular to collect the k8s container log files using fluentd  or similar and aggregate them into your choice of back-end, CloudWatch, StackDriver, Elastisearch etc.

There are off-the-shelf Helm charts for e.g. [fluentd+CloudWatch](https://github.com/kubernetes/charts/tree/master/incubator/fluentd-cloudwatch), [fluentd+Elastisearch](https://github.com/kubernetes/charts/tree/master/

[2018-07-04 20:37] bilby91 commented on #56902
@akhilyendluri I'm in the same situation as yours. Trying to run a simple demo app using EKS. `kube-dns` nor my demo service can start due to the same issues.

I tried recreating `kube-dns` but the same issue happens.

[code]

[2018-07-04 20:49] Stono commented on #60099
I would like to +1 this, and validate the use case that they can cause code that runs perfectly fine locally to fail on k8s, due to env variables being quite commonly named they end up clashing with many scripts.

We need to be able to either turn them off, or have them prefixed with `K8S_`

[2018-07-04 20:51] liggitt commented on #65790
Yes. Fortunately, this isn't a situation you can get into without action taken by the cluster administrator. Documentation should be clear that any new conversion methods should only be used once there is no possibility of downgrading to a version where they do not exist and are supported

[2018-07-04 20:52] liggitt commented on #65818
kubectl 1.11 actually waits for the resource to be deleted before returning, so it is possible a garbage collection bug could block it. You can pass --wait=false if you don't want to wait and return once the deletion request has been submitted.

[2018-07-04 21:02] xmudrii commented on #65818
@liggitt I've tried with `--wait=false`, but it still never gets deleted with kubectl 1.11.

Here's output for `kubectl delete -f artifacts/example/apiservice.yaml --wait=false --v=8`:
[code]

However, the APIService is never gone:
[code]
Describe returns same output as before, with deletion timestamp:
[code]

[2018-07-04 21:19] xmudrii commented on #65818
@liggitt The reason why that happen is mostly likely change in deletion policy between kubectl 1.11 and 1.10.

Kubectl 1.10 deletes it with the following request:
[code]
However, kubectl 1.11 does it with:
[code]

I tried to reproduce the same using the API directly, without kubectl, and I get the same results.

First, I proxied the API with `kubectl proxy`, then used the curl command with Foregro

[2018-07-04 21:33] liggitt commented on #65818
That indicates the garbage collection controller (the bing responsible for removing the foregroundDeletion finalizer) is stuck for some reason. The controller manager log output could be revealing

[2018-07-04 21:57] gyliu513 commented on #65791
@neolit123 I set the `API_PORT` to 8001, 18001 and others, all failed with same message, but I found that my port was actually not occupied.

[code]

[2018-07-04 22:01] #63940 closed

[2018-07-04 22:21] gun1x commented on #49432
I am getting the same issue now. Containers which have PVC for a RBD storageclass get stuck in ContainerCreating.

[2018-07-04 22:34] XericZephyr commented on #50305
Hi, @thockin @drinktee, if I have to update the cluster CIDR anyway, is there an instruction?

[2018-07-04 22:52] gun1x commented on #61543
I am having the same issue.
k8s: v1.9.5
ceph: 12.2.5 luminous
platform: ubuntu 16.04

[2018-07-04 23:10] liggitt commented on #65835
/sig storage

[2018-07-04 23:11] liggitt commented on #65825
/sig storage

[2018-07-04 23:33] liggitt commented on #65685
/sig scheduling

[2018-07-04 23:59] liggitt commented on #65816
I agree that static validation should be done before acquiring the lease

[2018-07-05 01:12] neolit123 commented on #61649
yet, separate files are not _that easy_ to maintain. it's the Unix way to sparse a configuration all over the place.

using the `---` separator is arguably better:
https://github.com/kubernetes/kubernetes/blob/master/hack/testdata/multi-resource-yaml.yaml

[2018-07-05 01:52] #65685 closed

[2018-07-05 02:50] #59197 closed

[2018-07-05 02:57] CaoShuFeng commented on #65819
We are trying to fix it here: https://github.com/kubernetes/kubernetes/pull/65823

[2018-07-05 03:20] techtonik commented on #55398
So what are specific metrics that should be collected for now to close this issue? I guess the rest of metrics could be picked up when more issue arise.

[2018-07-05 03:30] shigy123456 opened #65840 "apiserver can not restart when i modify its configuration file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
my kubernetes cluster have not enough clusterip,so i modify the apiserver's configuration file,the config item is "--service-cluster-ip-range=10.233.0.0/18",when the configuration item is changed,the process of apiserver is stopped,but it is not started,so i change the configuration item back,the process of apiserver is started.

**

[2018-07-05 03:31] shigy123456 commented on #65840
@kubernetes/sig-NODE-node

[2018-07-05 03:36] shigy123456 commented on #65671
@dchen1107

[2018-07-05 03:37] shigy123456 commented on #65840
@dchen1107

[2018-07-05 03:47] hzxuzhonghu commented on #65818
@liggitt I think this is because `apiservices` resources is ignored by gc.
[code]

[2018-07-05 03:51] #58056 closed

[2018-07-05 03:51] #55121 closed

[2018-07-05 03:51] #21967 closed

[2018-07-05 03:51] hzxuzhonghu commented on #65818
Do we have to document these resources can not be deleted with `'{"propagationPolicy":"Foreground"}'`

[2018-07-05 04:13] liggitt commented on #65818
That seems like a bug. I'd rather see those removed from the list of exclusions. I cannot think of a reason those last two should be on this list.

@deads2k, can you?

[2018-07-05 04:43] gitplyx opened #65842 "Cant‘t up controller-manager"
报错日志
root@k8smaster:~# kube-controller-manager log
W0705 12:38:45.362348   27430 client_config.go:533] Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
W0705 12:38:45.362409   27430 client_config.go:538] error creating inClusterConfig, falling back to default config: unable to load in-cluster configuration, KUBERNETES_SERVICE_HOST and KUBERNETES_SE

[2018-07-05 05:09] gitplyx opened #65843 "NO't get nodes"
root@k8smaster:~# kubectl get csr
NAME                                                   AGE       REQUESTOR                 CONDITION
node-csr-00NHp-Cdq0qUqXGYnIu81KB39_a56-llQKS5aGn_ecU   3h        system:bootstrap:zhqvxa   Pending
node-csr-0k4pYdZvY1zzt2OeL2wqqzeGKnVyymqMoSBh1kk2_as   18h       system:bootstrap:ut2yb5   Approved
node-csr-1Lei-DbgwPkdpefHR3Wq7viQOp7UYnlxYEwN4-L1h4E   11h       s

[2018-07-05 05:58] figo commented on #65772
@RenaudWasTaken  thanks for write this up, i think this is a valid issue, what i observed on a GPU cluster, there is a delay between GPU device plugin deployment success and GPU capacity (capacity and allocatable) shows up in node info, which i believe it is similar to upgrade downtime.
although i have not measured the exact delay, but it more than 1 or 2 seconds.

/cc myself.

[2018-07-05 06:07] hzxuzhonghu commented on #65671
@shigy123456 You should give more details, otherwise no one knows how to help you.

[2018-07-05 06:15] shigy123456 commented on #65671
ok,i have reloaded my k8s environment,the problem is gone.but i do not know the reason of timeout.but ths for paying attention to my problem.

[2018-07-05 06:15] #65671 closed

[2018-07-05 06:15] wojtek-t commented on #65441
Given the second green run in a row, I'm closing this as fixed.
There are a couple minor things that we can improve, but these aren't causing any slo violation as of now.

[2018-07-05 06:15] #65441 closed

[2018-07-05 06:19] shigy123456 commented on #65840
i have solved my problem by restart the process of kubelet.i think the apiserver can restart,but it has spent too much time,so the better way is restarting kubelet,not waiting  for the apiserver's restarting to be completed

[2018-07-05 06:19] #65840 closed

[2018-07-05 06:34] andyzhangx opened #65845 "create azure storage account failed in azure file plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Create an azure file in k8s would fail, following error is returned when `kubectl describe pvc pvc-azurefile`
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.11
-

[2018-07-05 06:40] nikhita commented on #65818
Not saying we should keep them in the list, but I think the original idea was (from @deads2k's comment in  https://github.com/kubernetes/kubernetes/pull/54320#discussion_r146604344):

[2018-07-05 06:54] fejta-bot opened #65847 "pr:pull-kubernetes-bazel-test flaked 30 times in the past week"
### Flaky Job: pr:pull-kubernetes-bazel-test
 Flakes in the past week: **30**
 Consistency: **95.20%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| //pkg/cloudprovider/providers/vsphere:go_default_test | 4 |

#### Previously closed issues for this job flaking:
#53936

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2018-07-05 07:12] lxy16611 commented on #43805
skipping pod synchronization - [Failed to start ContainerManager systemd version does not support ability to start a slice as transient unit]
This is my problem。This is because the node is using"systemd" while the master is using "cgroupfs". I fixed it by both use "cgroupfs".

[2018-07-05 07:23] moepot commented on #23581
/remove-lifecycle rotten

[2018-07-05 07:51] samedguener commented on #52757
Hey guys,

we have the use-case that we want to run multiple inference models (with low request rate) on a single GPU. While inferences with large request income should be assigned to dedicated GPUs.

We have investigated: While it is possible to share one GPU among multiple containers (using nvidia-docker2), it is not possible to do this on K8s (using Nvidia Device Plugin, nvidia-docker2 etc. pre

[2018-07-05 08:11] sttts commented on #65818
+1

[2018-07-05 08:23] xmudrii commented on #65818
+1

I've tested removing that line, and then running Kubernetes and deleting an APIService with Foreground Policy, and it works as intended.

[2018-07-05 08:53] marquiz opened #65850 "Advertise Kernel version and OS image as node labels"
**FEATURE REQUEST**:
/kind feature

**What you expected to happen**:
Make information about kernel version and OS image available as (default) node labels. The information is already being advertised by kubelet in status.nodeInfo, but, this cannot be used as a selector for pod assignment. Moreover, there already exists some closely related labels (i.e. arch and os).

The use case for this would sp

[2018-07-05 08:58] nikhita commented on #62290
This has been fixed in https://github.com/kubernetes/test-infra/pull/8482. Closing.

/close

[2018-07-05 08:58] #62290 closed

[2018-07-05 09:32] marquiz commented on #65850
/sig node

[2018-07-05 09:42] gitplyx opened #65851 "can‘t create kubelet-apis"
today i have a truble
configure ：
root@k8smaster:~/kubernetes/api-server# kubectl create clusterrolebinding kube-apiserver:kubelet-apis --clusterrole=system:kubelet-api-admin --user kubernetes
Unable to connect to the server: x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify candidate authority certificate "kubernetes")

[2018-07-05 09:45] Vskilet commented on #60652
/remove-lifecycke rotten

[2018-07-05 09:46] Vskilet commented on #60652
/remove-lifecycle rotten

[2018-07-05 09:53] uablrek commented on #64960
/dev/random seems to be updated in the kernel and has now caused start-up problems in [snapd](https://forum.snapcraft.io/t/snapd-service-delays-startup-in-ubuntu-18-04-with-4-15-0-24/6205). The "fix" seems to be backported to earlier kernels. I think this will cause more problem in the near future, and not only on small VMs.

[2018-07-05 10:30] softputer opened #65853 "kuberentes pod get requests before the pod can resolve the other pods dns in the same cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When pod A is started, new requests to pod a is already accepted by pod A, but when   pod A wants to access pod B's service, I get the error message that pod A cannot resolve service B, hostname cannot be resolved.But after a while, pod A can resovle pod B's service.But pod A has lost many requests already.
**What you expected to ha

[2018-07-05 11:11] nikhita commented on #65818
/kind bug

[2018-07-05 11:11] nikhita commented on #65818
/cc @caesarxuchao @jennybuckley

[2018-07-05 11:18] jsravn commented on #57841
@m1093782566

I discussed this with @Lion-Wei on slack, and I tested it myself to confirm. I'll repeat my notes here:

Even though `ipvsadm -lnc` shows ESTABLISHED, if you try to actually send packets on the telnet connection they will get blackholed. A simple test is:

Start http server exposed as a service (replace nodeSelector as appropriate):
[code]

Start a client shell, on a separate node:

[2018-07-05 11:33] yeluolei commented on #48948
same issue in mac with 0.28

[2018-07-05 11:49] XishengCai opened #65855 "Pod pending for erver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When Pod pending , I delete all pods, but all pods still pending when I recreate only one pod. My all components run by docker container except kubelet. The log of kube-controller-manage report the pods that wanted gc cant't found.
**What you expected to happen**:
I hope that after pod pending, I cant create  the pod properly when I

[2018-07-05 12:06] deads2k commented on #65818
Yeah

I wasn't alone in that thread.  I see evidence a partner in crime a few comments up. :)

[2018-07-05 12:18] liggitt commented on #65851
That is a general connectivity issue between kubectl and your apiserver. Verify the kubeconfig file you are using is correct. You can view your current connection information with `kubectl config view`

/close

[2018-07-05 12:18] #65851 closed

[2018-07-05 12:18] deads2k commented on #65818
Scrubbed the list down to events in https://github.com/kubernetes/kubernetes/pull/65856 .  I'm less sure about double counting behavior for extensions and quota (might have been why networkpolicy was added), but the comments says it was discussed with @liggitt https://github.com/kubernetes/kubernetes/pull/54320#discussion_r146621171

[2018-07-05 12:19] heshamMassoud commented on #24925
I have a question here, if I have:

Pod **A** deployed there has `spec.containers[].resources.requests.cpu`:0.2
Pod **B** deployed there has `spec.containers[].resources.requests.cpu`:0.8

In the case of a single core node on GCP → 1 CPU:
- Pod A will get 20% of the CPU time.
- Pod B will get 80% of the CPU time.

In the case of a dual-core node on GCP → 2 CPU:
- Pod **A** will get (0.2/2 = 10%) o

[2018-07-05 12:21] licarth commented on #41881
@rdsubhas Here is my implementation of what you suggedted, with `nginx-ingress` helm chart :

`values.yaml`
[code]
then
[code]

[2018-07-05 13:34] Xyrion opened #65863 "failed to load Kubelet config file /var/lib/kubelet/config.yaml after kubelet update"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
/var/lib/kubelet/config.yaml got removed after kubelet update.

**What you expected to happen**:
kubelet update without /var/lib/kubelet/config.yaml being removed.

**How to reproduce it (as minimally and precisely as possible)**:
Yum update kubeadm.x86_64 0:1.11.0-0 kubectl.x86_64 0:1.11.0-0  kubelet.x86_64 0:1.11.0-0
Restart kubel

[2018-07-05 13:34] Xyrion commented on #65863
/sig release

[2018-07-05 13:37] Shinerrs commented on #65863
+1

[2018-07-05 14:03] chucky2305 commented on #1899
Either i am doing something wrong or i misunderstood the concept behind `kubectl wait`.

I use kubectl wait in my gitlab ci pipeline.

Stage 1: Deploy my app
Stage 2: Detect if the app is deployed and running.

In Stage 2 i wanted to use
`kubectl wait --timeout=60s --for condition=ready pod -l release=branch123,pod-name=php-nginx`

When the deployment is not ready and no pod can be found with a la

[2018-07-05 14:04] chucky2305 opened #65868 "kubectl wait ignores timeout"
/kind bug
/sig cli

Either i am doing something wrong or i misunderstood the concept behind kubectl wait.

I use kubectl wait in my gitlab ci pipeline.

Stage 1: Deploy my app
Stage 2: Detect if the app is deployed and running.

In Stage 2 i wanted to use
kubectl wait --timeout=60s --for condition=ready pod -l release=branch123,pod-name=php-nginx

When the deployment is not ready and no pod can be

[2018-07-05 14:11] wojtek-t commented on #63025
@krzysied - i think in the past you told me offline that it's mostly due to memory. I started thinking if that's really the case (based on memory usage of kube-proxies in real clusters).

When I think more about it, I actually started thinking that maybe what's happening is:
- hollow-proxy is cpu-starved
- because of that it's not able to process things fast enough, we are accumulating a bunch of

[2018-07-05 14:11] wojtek-t commented on #63025
We can also try to profile kube-proxy to see where exactly it's spending time now.

[2018-07-05 14:20] NeilW opened #65869 "external cloud-controller-manager listens insecurely by default"
/kind bug

**What happened**:
When building a cloud-controller-manager using the pro-forma manifests, the cloud-controller ends up listening insecurely on port 10253 by default

**What you expected to happen**:

The documentation should explain what the cloud-controller-manager is doing on that port, and how to secure it - assuming it is required.

I'd expect it wouldn't listen insecurely by defau

[2018-07-05 14:23] wojtek-t commented on #63025
Actually, profiles are relatively obvious.
[profile001.pdf](https://github.com/kubernetes/kubernetes/files/2166931/profile001.pdf)

Optimizing ReadLine would give us huge benefits in terms of both cpu-usage and memory allocations.
https://github.com/kubernetes/kubernetes/pull/65815/ is small step towards that

[2018-07-05 14:26] nazarenkoff opened #65870 "Add ability to add/remove persistent volumes for StatefulSet"
**FEATURE REQUEST**:

Please add ability to add/remove persistent volumes for StatefulSet by editing volumeClaimTemplates

/kind feature

**What happened**:
I'm trying to add new persistent volume to existing StatefulSet by adding metadata to volumeClaimTemplates and getting error

**What you expected to happen**:
New persistent volume created for added claim

**How to reproduce it (as minimally a

[2018-07-05 14:39] jayunit100 opened #65871 "Figure out what to do about go-bindata ."
**Is this a BUG REPORT or FEATURE REQUEST?**:

BUG REPORT
**What happened**:

Source bug, not functional at all.   Gobindata is now 'gone'.

**What you expected to happen**:

Gobindata would be around forever.

We use gobindata in e2e (maybe other places) for embedding kubberentes components.  If we *ever* update it, it might be from a 3rd party GitHub user that we dont trust/know (see https://twi

[2018-07-05 14:42] Seb-SK commented on #17088
Hi @cesartl ,

Thanks a lot for your post, it actually helps a lot !

But I'm still stuck on the last step : I tried a sample use-case with a quick nginx deployment as a test web server (yeah using a proxy as a test server is a little weird, ;)), and I'm trying to contact this server using the "Ambassador" option.
=> when I use kube-ctl port-forward on the nginx pod, I can display the test page wi

[2018-07-05 14:56] jayunit100 commented on #65871
cc @kubernetes/sig-testing-misc

[2018-07-05 15:02] #59206 closed

[2018-07-05 15:05] dims commented on #65871
cc @cblecker @thockin

[2018-07-05 15:18] vishh commented on #52757
Have you looked into serving multiple models with tensorflow serving -
https://stackoverflow.com/questions/45749024/how-can-i-use-tensorflow-serving-for-multiple-models

On Thu, Jul 5, 2018, 1:53 AM Samed Güner <notifications@github.com> wrote:

[2018-07-05 16:02] RenaudWasTaken commented on #52757
If you don't have any security or isolation "requirements" (i.e: The nvidia-docker way of sharing of GPUs) then there is a trick.

You could fork the nvidia device plugin to advertise more GPUs to Kubernetes. You would then maintain a map of "fake GPUs" that maps to "real GPUs". When a pod lands on Kubelet you'd inject the real GPU.

e.g:
On your machine you have GPU-AAAA and GPU-FFFF, your device

[2018-07-05 16:05] jhorwit2 commented on #65869
/sig cloud-provider

[2018-07-05 16:07] xguerin commented on #39824
Also relevant to my interest. Sequentially deleting pods in a StatefulSet respect the PDB. Batch-delete the pods with their label does not. The documentation does not make such a distinction. What is the proper approach to avoid batch-delete voluntary disruptions?

[2018-07-05 16:09] mattfarina commented on #65098
/cc @kow3ns

[2018-07-05 16:10] jhorwit2 commented on #65842
/close

@gitplyx Please recreate this issue and fill out the information requested in the template.

[2018-07-05 16:10] #65842 closed

[2018-07-05 16:10] jhorwit2 commented on #65843
/close

@gitplyx Please recreate this issue with the required information requested in the template.

[2018-07-05 16:11] #65843 closed

[2018-07-05 16:13] jhorwit2 commented on #65820
/area ipvs

@swimablefish Thanks for the report. Would you happen to have any of the metrics (graphs or numbers)?

[2018-07-05 16:18] soltysh commented on #65647
Cherry-picked into 1.11 in https://github.com/kubernetes/kubernetes/pull/65873.

[2018-07-05 16:20] jhorwit2 commented on #57841
@jsravn what you described sounds like what should happen when `expire_nodest_conn = 0`(default).

https://www.kernel.org/doc/Documentation/networking/ipvs-sysctl.txt

[2018-07-05 16:30] jhorwit2 commented on #65695
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2018-07-05 16:30] #65695 closed

[2018-07-05 16:32] jhorwit2 commented on #65672
@jy1779 Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes). If you think this is a bug in kubernetes core, then please reopen or recreate an issue following the issue template.

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make

[2018-07-05 16:32] #65672 closed

[2018-07-05 16:37] jhorwit2 commented on #65618
@ljani This is by design, load balancers do not include master nodes in the available pool of backend servers. You should remove the `node-role.kubernetes.io/master` label from your node and ensure it's schedulable & ready in order for it to be a backend. (exact filter logic lives [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/service_controller.go#L585-L619))

[2018-07-05 16:41] jhorwit2 commented on #65613
@micahhausler Sadly, this change would require a lot more changes to support. I'm going to add sig/network instead since this would be a change to the service controller / cloud provider interface. The load balancer logic actually has no idea about the pods themselves and only receives nodes & the service object.

/sig network
/remove-sig aws

[2018-07-05 16:42] thomasjungblut commented on #52757
That's a smart idea. The current 1:1 limitation comes from the device plugin, or is the protocol between k8s and the plugin just not expressive enough?

[2018-07-05 16:44] jhorwit2 commented on #65613
The reason i removed sig aws is this feature could/does apply to multiple clouds. AFAIK most, if not all major clouds, support some number of custom routes which enable pod ip routing on any host in the cloud network. This feature would apply to all those as well.

[2018-07-05 16:57] ljani commented on #65618
@jhorwit2 Thanks for the response. So, it's okay to remove the `node-role.kubernetes.io/master` label even if there's only one node in the cluster? Are there any drawbacks? I was a bit wary of that, because I thought each cluster would need at least one master and you should only remove the `NoSchedule` taint from it. The [kubeadm guide](https://kubernetes.io/docs/setup/independent/create-cluster-

[2018-07-05 16:58] BenTheElder commented on #65871
xref: https://github.com/jteeuwen/go-bindata/issues/5

[2018-07-05 17:10] BenTheElder commented on #65871
Specifically per https://github.com/jteeuwen/go-bindata/issues/5#issuecomment-370294693 go-bindata should now be [archived](https://help.github.com/articles/archiving-a-github-repository/) (readonly on GitHub), if we want a maintained copy we will definitely need to go elsewhere.

FWIW [thockin already commented that we vendor this](https://twitter.com/thockin/status/961313949491712001) in the mea

[2018-07-05 17:14] jhorwit2 commented on #65618
It all depends on how the cluster is setup and if they depend on the labels or not. Single node clusters will probably always have some quirks.

[2018-07-05 17:18] yue9944882 commented on #65798
Since that no one is interested to give it a try for now...
I'll raise a PR for this possibly

[2018-07-05 17:18] yue9944882 commented on #65798
/assign

[2018-07-05 17:29] dims commented on #63343
/close

[2018-07-05 17:29] #63343 closed

[2018-07-05 17:49] brianmartin commented on #65732
Here's a visual for `docker.mem.rss` for our kube-apiserver containers over the last week. The y-axis is in GB, where our request limit is set to 18GB starting Fri 8pm.

There are definitely periods of non-growing memory usage.

![screenshot 2018-07-05 10 45 20](https://user-images.githubusercontent.com/130559/42339073-c213a96c-8040-11e8-9e8c-ee6c2739051d.png)

[2018-07-05 17:53] liggitt commented on #65732
Do you have audit logs for the growth periods to narrow down what types of activity correspond to growth?

[2018-07-05 17:56] ljani commented on #65618
I've been following the [Creating a single master cluster with kubeadm](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/) guide and thus I'm using `kubeadm`. I'll try and see how it goes.

[2018-07-05 18:05] #43756 closed

[2018-07-05 18:05] kfox1111 opened #65874 "multiple authentication-token-webhook's"
/kind feature

**What happened**:
There is only one --authentication-token-webhook-config-file option so you can only have one authentication backend for token based auth.

**What you expected to happen**:

I would like to be able to specify a "default", and other named webhooks <name>. The user's kubeconfig file can specify the name and the name will be passed along with the token during token va

[2018-07-05 18:05] #43754 closed

[2018-07-05 18:05] #43448 closed

[2018-07-05 18:08] jhorwit2 commented on #65874
/sig auth

[2018-07-05 18:09] jhorwit2 commented on #65870
/sig apps

[2018-07-05 18:16] karlhungus commented on #62120
Seems like this is at least partially fixed by: https://github.com/kubernetes/kubernetes/pull/57932

[2018-07-05 18:19] jhorwit2 commented on #65697
This sounds like a problem with your networking configuration (i've had this happen when i've goofed my network config). I'd recommend opening this issue up under that specific project since they'll be able to assist debugging.

If you feel this is a problem with core kubernetes, then please feel free to reopen this issue or create another one; however, please make sure to follow the issue templat

[2018-07-05 18:19] #65697 closed

[2018-07-05 18:42] vetm73 opened #65875 "Ingress externalips stopped working after 1.11 upgrade"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
I think it's a bug ( or configuration issue )

**NGINX Ingress controller version**:
0.16.2

**Kubernetes version** (use `kubectl version`):
1.11.0

**Environment**:
arm

- **Cloud provider or hardware configuration**:
Raspberry Pi 3
- **OS** (e.g. from /etc/os-release):
Raspbian Stretch
- **Kernel** (e.g. `uname -a`):
Linux PI01 4.14.50-v

[2018-07-05 18:49] vetm73 commented on #65875
@kubernetes/sig-network

[2018-07-05 19:06] jhorwit2 commented on #65618
The docs are probably incorrect when it comes to this because it wasn't tested.

/reopen
/remove-sig node
/sig cluster-lifecycle

[2018-07-05 19:09] hogepodge commented on #65696
@frapposelli bringing this to your attention as a vsphere dev.

[2018-07-05 19:42] daschott commented on #65163
Thank you for the detailed logs, this is helpful. I tried to reproduce this issue on 1.10.4 on-prem but all vNICs stayed... Where in the Windows CNI repository does it say that you need flannel? You can use flannel for automated route management, but you can also do this manually.

Either way, this issue is on our radar and we will follow up on this as soon as possible.

[2018-07-05 20:15] rgembalik opened #65879 "Pods stuck in Terminating status (UnmountVolume.TearDown failed)"
/kind bug

**What happened**:
Many pods after deleting will stick infinitely in Terminating status, due to inability to unmount volumes (`UnmountVolume.TearDown failed`; mostly default secrets, but occasionally it would also include openebs volumes). It may be connected with `/var/lib/kubelet` symlinked into `/opt/kubelet`, but thats a guess based on hints in #65110. Unlike in the mentioned issue,

[2018-07-05 20:19] rgembalik commented on #65879
/sig storage

[2018-07-05 20:22] rgembalik commented on #65110
@opsnull Update didn't help me, so I reported a new issue since this one was closed by the author. Feel free to describe your case in there as well. If you have a solution, I'd be happy to see it in there as well.

[2018-07-05 20:54] liggitt commented on #65874
One consideration is that this would currently expose token credentials to multiple remote webhooks (c.f. https://github.com/kubernetes/kubernetes/issues/12316)

[2018-07-05 21:10] kfox1111 commented on #65874
+1. but could also be part of the solution of not passing tokens to backends that they aren't intended for as there would be more info on where to route the token.

[2018-07-05 21:14] cblecker commented on #65871
I opened https://github.com/kubernetes/kubernetes/issues/59491 up, but we didn't really take any action. It's vendored, so it's not really urgent. We can either migrate to something else, or we could fork it into `third_party/`.

/shrug

[2018-07-05 21:15] liggitt commented on #65850
In node info, possibly, but as labels, this proved contentious in https://github.com/kubernetes/kubernetes/pull/51006

[2018-07-05 21:57] xmudrii commented on #65818
I guess `soon` is going to work as we already have the PR. Can anybody put the labels?

/priority important-soon

[2018-07-05 22:03] fabiand commented on #62773
Thanks @RenaudWasTaken

[2018-07-05 22:40] aojea commented on #65784
Default bash version in OSX is pretty old, you can check your current version with
[code]

The `declare -A` option is only available on version 4 or newer, so you have to install a new bash version `brew install bash`
The shebang line in the script `#!/usr/bin/env bash` will use the first bash in your PATH, which should be the new one.

[2018-07-05 22:56] cblecker commented on #65784
so this error is actually being thrown by `hack/update-godep-licenses.sh`. there's actually a version check in that script to ensure you're running bash >4 (https://github.com/kubernetes/kubernetes/commit/ae12275ec83247d3f21c4d146ec2e8e63a61a8be)

I'm curious though.. because you *have* declare, but just not the -A flag... but somehow you're passing the version check, which I know fails on bash 3

[2018-07-05 23:00] jamesddube commented on #65863
+1

[2018-07-05 23:00] gopinatht commented on #43962
+1

[2018-07-05 23:14] liggitt commented on #65863
Are you using the dynamic kubelet config feature, or just specifying --config?

Did the file get removed after an OS reboot or a simple kubelet upgrade? If after an OS reboot, is that location on a tmpfs-backed filesystem?

[2018-07-05 23:44] dims commented on #65869
the behavior is the same with `kube-controller-manager` with port 10252.

[code]

`curl -kvs http://localhost:10252/metrics` and `curl -kvs http://localhost:10252/healthz` are served on that port. so its probably the same with cloud-controller-manager.

[2018-07-06 00:30] stewart-yu commented on #65869
Don't worry, we will discard in securely ASAP , and using in securely port both in `kube-conreoller-manager` and `cloud-controller-manager`。 See [PR](https://github.com/kubernetes/kubernetes/pull/64149)
/cc @sttts

[2018-07-06 00:53] cmeiklejohn commented on #43993
Was there any resolution to this issue?  I'm also experiencing the following error, which is preventing container deployment.

[code]

[2018-07-06 01:45] smarterclayton opened #65883 "io/kubernetes/pkg/cloudprovider/providers/gce EnsureInternalBackendServiceGroups/GetRegionBackendService_failed is flaky"
Seeing several of the tests in ./pkg/cloudprovider/providers/gce flake 1 in 5-10 runs when run locally (I am logged in to gcloud).  Is it possible one of the APIs is not correctly shimmed and is fetching real data?

[code]

@kubernetes/sig-cloud-provider-bugs

[2018-07-06 01:47] smarterclayton commented on #65883
@nicksardo @grayluck @agau4779 you were the last folks in here - why would this and other internal_tests in here be flaking?

[2018-07-06 01:54] Lion-Wei commented on #57841
When you set `expire_nodest_conn = 0`, after delete rs the connection will be closed immediately when a packet arrives, instead of nothing.
But still not what we need. . . Seems like "set weight to 0" is the only way, though we prefer IPVS origin solution...

[2018-07-06 02:04] swimablefish commented on #65820
The first is using iptables, the second is using ipvs

![screen shot 2018-07-06 at 10 02 33 am](https://user-images.githubusercontent.com/3191024/42356201-bc179488-8103-11e8-90c0-59f8721d97ad.png)
![screen shot 2018-07-06 at 10 03 15 am](https://user-images.githubusercontent.com/3191024/42356213-d4d5bf9a-8103-11e8-9039-61cfe93c8dbf.png)

[2018-07-06 02:06] smarterclayton commented on #65883
Happens in both master and 1.11 release branches

[2018-07-06 03:18] Lion-Wei commented on #65875
/sig network
/kind bug

[2018-07-06 03:30] liggitt commented on #65871
Agree this is a duplicate of https://github.com/kubernetes/kubernetes/issues/59491

/close

[2018-07-06 03:30] #65871 closed

[2018-07-06 03:32] liggitt commented on #65798
Duplicate of https://github.com/kubernetes/kubernetes/issues/30784

/close

[2018-07-06 03:32] #65798 closed

[2018-07-06 03:34] ashi009 opened #65885 "Make cluster name available in Downward API"
/kind feature

**What happened**:
https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/#capabilities-of-the-downward-api doesn't support `metadata.cluster` or similar

**What you expected to happen**:
Expose cluster info through downward API

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

As doc

[2018-07-06 03:35] buianhthang commented on #64913
@jamsyoung it works for me, thanks

[2018-07-06 03:38] integrii commented on #50309
This is an incredibly huge workaround, but I was able to get this with the following:

- Put a cAdvisor daemonset in the cluster
- Setup a cAdvisor service with `externalTrafficPolicy: Local` set
- Use the downwards API to expose the pod's name as an environment variable
- From the program, query the cAdvisor service URL for all containers
- From the list of containers, find those with the annotat

[2018-07-06 03:51] hongshibao commented on #65097
@mwielgus

[2018-07-06 03:58] ashi009 commented on #65885
/sig api-machinery

[2018-07-06 04:21] wh211212 commented on #65863
how to solve these problems, I have some errors...

[2018-07-06 04:32] yue9944882 commented on #30784
😃Didn't realize this feature requests have already been raised years ago.

This is the very pain-point when I'm trying to set up RBAC rules for myself. Currently information about user's identity is not very sensitive if we could only get the one about ourselves. Also, client identity is mostly stored in unsecured places, like x509 public key. Worrying about the security here might be unnecessary

[2018-07-06 04:56] lcasassa commented on #65583
It happen to me today... What can I do?

[2018-07-06 05:43] Keyur1729 commented on #65863
Am facing same issue.
Am not able to start kubelet service on the minion nodes.
`Jul 06 10:56:02 worker-node1 systemd[1]: Starting kubelet: The Kubernetes Node Agent...
Jul 06 10:56:03 worker-node1 kubelet[1487]: I0706 10:56:03.087376    1487 feature_gate.go:230] feature gates: &{map[]}
Jul 06 10:56:03 worker-node1 kubelet[1487]: F0706 10:56:03.087489    1487 server.go:190] failed to load Kubelet

[2018-07-06 06:33] Lion-Wei commented on #65868
I think `kubectl wait` will error out if can't get resource.
@deads2k , is this by design?

[2018-07-06 06:39] k82cn commented on #62092
/lifecycle frozen

[2018-07-06 06:40] goblain commented on #43962
well, I've stopped rebasing the https://github.com/kubernetes/kubernetes/pull/46517 pull request cause it seems there is no will to merge it in foreseeable future.

[2018-07-06 06:43] Lion-Wei commented on #65820
Interesting. . .
@m1093782566

[2018-07-06 06:56] lisirrx opened #65887 "[bug]kubeadm config image list gives differnet image name from kubeadm init use in cfact"
/kind bug

**What happened**:

I used `kubeadm config image list` to pull images by myself because of the network.
it gives me:
[code]

when I use `kubeadm init` to star a new cluster. It stucks at here.

[code]
When I try to find the reason by looking up the log made by docker:
[code]
I found that it request for a image named "pause" rather tah "pause-amd64" I have mentioned above.
When I chagned

[2018-07-06 06:58] marquiz commented on #65850
@liggitt: Reading the comments of that, I can understand the contradictions around making kernel version a default label of kubelet. An alternative would be implementing it in [node-feature-discovery](https://github.com/kubernetes-incubator/node-feature-discovery)

What do you think about "OS image" label? That is much more "stable", albeit can also change after system upgrade.

[2018-07-06 07:04] wssiqi commented on #65863
Face the same problem.

I am just want to install k8s on a  clean Centos7.
Follow the guideline https://kubernetes.io/docs/tasks/tools/install-kubeadm/

kubelet could not start and logs as below:
Jul 06 14:56:05 localhost.localdomain kubelet[2478]: F0706 14:56:05.038955    2478 server.go:190] failed to load Kubelet config file /var/lib/kubelet/config.yaml, error failed to read kubelet config file

[2018-07-06 07:06] Lion-Wei commented on #65358
That' true. But as you mentioned kubenet should be deprecated in the future, so should not be a big deal. : )

[2018-07-06 07:06] Lion-Wei commented on #65358
Can we close this issue for now?

[2018-07-06 07:13] wssiqi opened #65888 "/var/lib/kubelet/config.yaml is missing while installing"
/kind bug

I am trying to install kubernetes on Centos7.

After finished the below step:
https://kubernetes.io/docs/tasks/tools/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

i found kubelet is not started.
Below is the logs.
<pre>
Jul 06 14:56:04 localhost.localdomain systemd[1]: Started kubelet: The Kubernetes Node Agent.
-- Subject: Unit kubelet.service has finished start-up
-- Define

[2018-07-06 07:28] luzhzhsoft opened #65889 "Deleting a Job do not cleanup the pods it created."
/kind bug

What happened:
when i delete a job ,the pods which created by job do not be deleted.

What you expected to happen:
Deleting a Job will cleanup the pods it created.

How to reproduce it (as minimally and precisely as possible):
create a job which  have initcontainers and pod restart policy set OnFailure。use restapi to delete job

Environment:
Kubernetes version:v1.6.7
OS: center os

[2018-07-06 07:29] jasonrichardsmith commented on #26707
So I have played around with an init container that has a shared volume with a container for /etc/resolve.conf.
In the initcontainer:
1. Through the downward api I get the nodeName.
2. Using the nodename I get the pod for for dns daemonset running on the same node.
3. Using that I write the resolve.conf and exit the initcontainer.

I think this will insure the shortest route.
I would like to write

[2018-07-06 07:33] andyzhangx opened #65890 "SMB mount on Windows does not support subPath"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
azure file mount on Windows does not support subPath after security fix: https://github.com/kubernetes/kubernetes/issues/60813, root cause is `filepath.EvalSymlinks(hostPath)` will return error for azure file mount path, the error message would be like following:
[code]

Related k8s code:
https://github.com/kubernetes/kube

[2018-07-06 07:33] andyzhangx commented on #65890
/assign

[2018-07-06 07:34] WisWang commented on #65863
I upgrade my cluster from 1.10.3 to 1.11.0 with kubeadm. I also met this issue, I use this to generate the kubelet config file `kubeadm upgrade  node config  --kubelet-version v1.11.0`, and `systemctl daemon-reload&&systemctl restart kubelet`, I also changed the `cgroupDriver`  in `/var/lib/kubelet/config.yaml` , My cluster all `cgroupDriver` both docker and kubelet is `systemd`, Now the node look

[2018-07-06 07:47] sttts commented on #65869
As @stewart-yu is writing, this is actively being worked on. We want secure ports with authn/authz for 1.12.

[2018-07-06 08:06] ensonic commented on #65804
Thanks for the quick reply.

What format is the output? Can we do anything about the formatting?

Re authorizers. I'll see if I can add the relevant parties to cluster-admin role.

[2018-07-06 08:08] lbernail commented on #65358
@Lion-Wei sure. I created this issue after a quick discussion on the Kubernetes slack, mostly to document it

[2018-07-06 08:12] #65888 closed

[2018-07-06 08:17] Lion-Wei commented on #65358
/close

[2018-07-06 08:17] #65358 closed

[2018-07-06 08:21] Lion-Wei commented on #65387
Is anybody working on this issue. Seems like ipvs might have the same problem.

[2018-07-06 08:41] chrissound commented on #65812
@jhorwit2 fair enough. There are still the remaining issues with the node ports however.

I've reinstalled everything with using a single network interface instead and it worked perfectly

[2018-07-06 08:52] schweikert commented on #64510
Thank you for this!

I was surprised on how Kubernetes handles this, and I would actually have expected even a default wait time between removing the pod from the list of pods that should receive traffic, and the sending of the TERM signal. I think that the vast majority of containerized applications don't handle well the current behavior (especially considering that even after the TERM you might

[2018-07-06 08:59] #65845 closed

[2018-07-06 09:00] frankh commented on #65097
I've made a very hacky workaround, I have a cronjob that runs every 3 minutes, and sets the minimum replicas on an HPA to `$currentReplicas - $downscaleLimit`. If anyone feels like using it it's here: https://gist.github.com/frankh/050943c72273cf639886b43e98bc3caa (but I wouldn't trust it in production)

[2018-07-06 09:01] Lion-Wei commented on #65387
/assign

[2018-07-06 09:20] definitelyuncertain commented on #59629
Bumping to ask if there's a fix underway. I need to use the GPU quota feature that is enabled by using the Device Plugin and this bug makes it impossible to enforce.

[2018-07-06 09:20] #59235 closed

[2018-07-06 09:28] shenlanse opened #65894 "[bug] garbagecollector not start successfully"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

garbage collector hang in `WaitForCacheSync`

https://github.com/kubernetes/kubernetes/blob/v1.9.2/pkg/controller/garbagecollector/garbagecollector.go#L140

[code]

Because `gc.dependencyGraphBuilder.IsSynced` return false continuely, controller not started.

**What you expected to happen**:

garbage collector works as

[2018-07-06 09:44] redbaron commented on #57916
/remove-lifecycle stale

[2018-07-06 09:46] nikhita commented on #65894
/sig api-machinery
/kind bug

/cc @liggitt @caesarxuchao @jennybuckley

[2018-07-06 09:46] wgliang commented on #65887
/assgin

[2018-07-06 09:47] wgliang commented on #65887
/assign

[2018-07-06 09:49] nikhita commented on #65887
cc @luxas

[2018-07-06 09:55] hongshibao commented on #65097
@frankh I think this feature is useful, especially when it is expensive to scale up pods (e.g. initialzation of a pod takes much CPU resource). For such case, I perfer not to scale down pods so aggressively.

[2018-07-06 09:55] cesartl commented on #17088
Hi @Seb-SK,

I don't think this issue is the best place to discuss that. You can always discuss with the Ambassador team or their Gitter or the new slack [here](https://bit.ly/2s8s3RQ)

I'm not an Ambassador expert but I can try to help you there.

[2018-07-06 10:06] wgliang commented on #65894
@shenlanse
This issue had been fixed in PR(#57932).

[2018-07-06 10:07] aojea commented on #65784
@cblecker I think that the problem is that there is no exit inside the `if` sentence so it warns the user but it continues running.

[2018-07-06 10:12] wojtek-t commented on #63025
https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/apis/kubeproxyconfig/v1alpha1/defaults.go#L56
It would be great if you could figure this out].

So now I finally know where it is coming from. It's hardcoded in hollow_proxy.go:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubemark/hollow_proxy.go#L86

So i will make it configurable so that we can experiment with this a bit

[2018-07-06 10:20] dnavre commented on #65863
Same happened to me.

[2018-07-06 10:52] tiukhtinvladimir commented on #65760
@jhorwit2 Thanks for the prompt response. Can you please treat this report as proposal then. Because I don't see any problem to make kubelet query kubernetes API to get DNS ClusterIP and provide it to pods dynamically instead of managing --cluster-dns flag each time you do any changes in DNS service

[2018-07-06 10:59] terrywang commented on #65221
Encountered the same issue on brand new k8s v1.11.0 single master cluster bootstrapped using kubeadm v1.11.0. It can be consistently reproduced using latest kubeadm and k8s. It used to work on 1.10.x before upgrading, looks like something has changed.

[code]

Node OS: Ubuntu 16.04 LTS, 3 EC2 nodes (t2.small) inside the same VPC, same subnet (network segment).

kubectl version
[code]

Docker CE
[c

[2018-07-06 11:08] mateobur commented on #65863
I pasted my `config.yaml` from another similar cluster and then followed @WisWang procedure, and my cluster came back to life.

Posting the conf here in case it is useful for somebody else, obviously, it may not match your cluster conf.

[code]

[2018-07-06 11:42] shyamjvs commented on #65626
I have an idea for short-term fixing this problem - let's name 2k-node job clusters and 5k-node job clusters differently for now.
The long-term fix would be to move all the jobs to us-east1-b (then we can revert the short-term fix). I'll send a PR.

[2018-07-06 11:49] #65626 closed

[2018-07-06 11:56] uablrek commented on #64960
Numerous bug reports indicates that this is a kernel change which make /dev/urandom block for a long time. In that case the slogan of this bug report is misleading, but the problem remains and the solution. For Ubuntu "havege" is the proposed work-around.

[2018-07-06 12:01] deads2k commented on #65868
Resource identification happens and then it waits on those resources.  That means the initial set of resources is predictable.  Otherwise you end up with a race of "how many of these should I wait for if they keep appearing".

Try waiting for the condition on the deployment (which should exist) instead of the individual pods.

[2018-07-06 12:07] chucky2305 commented on #65868
This was actually my Plan B. First kubectl wait on the deployment and in second step kubectl wait to see if the pod is ready.

[2018-07-06 12:13] azzaka commented on #65863
+1

[2018-07-06 12:17] anandsinghkunwar commented on #22903
@thockin Anyway to do this now?

[2018-07-06 12:18] klausenbusk commented on #64960
https://fedoraproject.org/wiki/Common_F28_bugs#boot-random-block explain it quite well.

[2018-07-06 12:31] klausenbusk commented on #64960
I assume `kube-apiserver`use the Go [`GetRandom`](https://golang.org/pkg/internal/syscall/unix/#GetRandom) function, which use the [`getrandom`](http://man7.org/linux/man-pages/man2/getrandom.2.html) syscall.

[`getrandom`](http://man7.org/linux/man-pages/man2/getrandom.2.html) can block:

[2018-07-06 12:48] dusansusic opened #65903 "PersistenVolume requires volume type?"
I have k8s 1.10.3 provisioed on AWS with kops.

I defined PV:
[code]

[code]

Applying this PV results with an error:
[code]
but volume is created (EBS).

Am I missing something or this is kind of a bug?
/kind bug

- Kubernetes version (use `kubectl version`):
[code]

[2018-07-06 12:49] dusansusic commented on #65903
/kind bug

[2018-07-06 12:52] frapposelli commented on #65696
/assign @dougm

[2018-07-06 12:53] soltysh commented on #65266
@x13n what do you mean by that? When was it deprecated?

[2018-07-06 12:54] #65263 closed

[2018-07-06 13:00] x13n commented on #65266
@soltysh This one was a carryover from https://github.com/kubernetes/kubernetes/issues/60392. If it wasn't deprecated then I agree we should deprecate it first.

@loburm FYI

[2018-07-06 13:04] soltysh commented on #65517
@juanvallejo this seems similar to https://github.com/openshift/origin/issues/20226

[2018-07-06 13:10] yue9944882 commented on #65517
Even though this bug looks small, it might involve larger changes both in fixing and refactoring.. A typical corner case😳
/shrug

[2018-07-06 13:41] RenaudWasTaken commented on #59629
@definitelyuncertain you can use Pod Preset to always inject `NVIDIA_VISIBLE_DEVICES=void` in your pods.

[2018-07-06 13:42] redbaron commented on #63608
@MikeSpreitzer  very nice investigation you've done here!

[2018-07-06 13:45] detiber commented on #65863
We haven't called it out explicitly in the past, but we are planning on calling this out explicitly in the Install docs for the 1.12 release. The kubelet and kubeadm packages *should not* be upgraded outside of performing the kubeadm upgrade steps for the cluster.

https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-11/ has the steps needed for performing a cluster upgrad

[2018-07-06 13:45] detiber commented on #65863
/assign

[2018-07-06 13:45] detiber commented on #65863
/close

[2018-07-06 13:45] #65863 closed

[2018-07-06 13:47] soltysh commented on #65266
I haven't heard it being deprecated, but I might be wrong. If it wasn't please update this to deprecate it for now and not remove.

[2018-07-06 13:51] loburm commented on #65266
@soltysh
It was deprecated according to the official documentation: https://kubernetes.io/docs/tasks/debug-application-cluster/audit/#legacy-audit

But also I have checked release notes from 1.8 release, and looks like this information was not added there. Not sure what is going to be the correct way to proceed now.

[2018-07-06 14:10] soltysh commented on #65727
Hmmm... I'm guessing this might be related with the chunk size, which results in each data package to contain its own headers, which then gets printed. We could maybe omit the headers given that we're working with a single resource type here.

[2018-07-06 14:11] liggitt commented on #65894
this was actually fixed in https://github.com/kubernetes/kubernetes/pull/57340 in [1.9.3](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md#changelog-since-v192)

/close

[2018-07-06 14:11] #65894 closed

[2018-07-06 14:13] liggitt commented on #65903
two different things are going on here...

1. your manually created PV is invalid, because it is missing a type, as the error describes
2. you have a default storage class, which means that PVC objects that request storage can have a PV auto-provisioned for them. that is likely what is resulting in the created PV object.

/sig storage
/close

[2018-07-06 14:13] #65903 closed

[2018-07-06 14:16] liggitt commented on #65885
metadata.cluster is actively prevented from being populated:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/registry/rest/create.go#L100-L101

I don't think it should be added to the downwardAPI until that changes

[2018-07-06 14:19] liggitt commented on #65727
that will result in misaligned headers

[2018-07-06 14:39] liggitt commented on #65804
it's the stringification of the go structs representing the uncovered rules. it is not intended to be consumed as an API. It could likely be made more readable

[2018-07-06 14:59] rezroo commented on #2630
@thockin My use-case is very simple. I'm injecting a secret (ssh key) into a container that is not running as root. The ssh key in /home/<username>/.ssh must have 400 permission which I can do, but must also be owned by the UID, or it won't work. I don't want to give this pod any root privilege of any sorts, so an init container that modifies the UID of the file does not work for me. How do I do i

[2018-07-06 15:02] khelll commented on #56430
More updates, the metrics server is suffering again even when the custom metrics server is not there anymore. Please discard my note above.

[2018-07-06 15:07] erain opened #65905 "`make` complains go version1.10.3"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When running `make` in a freshly cloned repo, it errors out with complaining `go1.10.3` is not great enough go version.

[code]

**What you expected to happen**:
`make` can work with go1.10.3 with a clean repo.

**How to reproduce it (as minimally and precisely as possible)**:
1. Clone the K8s git repo.
2. Set the go versi

[2018-07-06 15:10] erain commented on #65905
Oh it looks like the problem is already fixed. Close the issue.

[2018-07-06 15:10] #65905 closed

[2018-07-06 15:40] ashi009 commented on #65885
@liggitt I can't tell if this is being actively prevented. It seems a feature got disabled after being committed to the codebase as the native multi-cluster feature is not yet work.

As both 858e515f85dd6d8ba1cebaf82e882326dadbc118 and 7be20b0daca8755ddef9c4d9ce9090e9c50a53c8 don't have any description, could you point me the discussion on why the cluster name is ignored after being ignored?

[2018-07-06 15:50] liggitt commented on #65804
/assign

[2018-07-06 15:51] liggitt commented on #65804
improved the error message in #65909

[2018-07-06 16:01] integrii commented on #50309
For my situation, I was actually just looking to call the cAdvisor API to get stats on pods rapidly.  I needed the docker container name to do that, which is not the `metadata.uid`.

I think this issue was created to find container IDs, which is also not `metadata.uid`.  Thanks for looking, though!

[2018-07-06 16:09] jhorwit2 commented on #65812
@chrissound It sounds to me like you're doing custom network stuff beyond just installing via kubeadm and running kubectl apply on the flannel manifests, is that correct? If so, i'd recommend opening an issue on flannel's project to ask about your specific problem.

[2018-07-06 16:12] liggitt commented on #65885
the field was added to ObjectMeta with no intention for it to apply to pods (original PR was in https://github.com/kubernetes/kubernetes/pull/28921, and was only targeted at higher-level objects that could exist across clusters in a multi-cluster setup). It doesn't make sense to include such a field in the downward API if the API server responsible for the objects that populate the downward API (t

[2018-07-06 16:15] jhorwit2 commented on #65889
/sig apps
/remove-kind feature

[2018-07-06 16:29] jhorwit2 commented on #65625
@Hugh-ifly  You should open this issue up under flannel's project as it's related to your networking configuration/setup. You'll get better support / way faster support by doing so.

/close

[2018-07-06 16:29] #65625 closed

[2018-07-06 16:31] jhorwit2 commented on #65623
@lincoohe I'm closing this as the issue template is not filled out thus we can't help diagnose any problems. Please recreate the issue with the template filled out if you still need help and think there is a bug in core kubernetes. If this is a support question please use stackoverflow.

/close

[2018-07-06 16:31] #65623 closed

[2018-07-06 16:38] liggitt commented on #65889
is this still accurate on more recent versions? this should be something garbage collection is taking care of

[2018-07-06 16:41] jhorwit2 commented on #65438
As CaoShuFeng has mentioned, you can source the file in the container. You can share the file via an empty dir volume that the init container and main container share.

If you feel this doesn't satisfy your needs please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are

[2018-07-06 16:41] jhorwit2 commented on #65438
/close

[2018-07-06 16:41] #65438 closed

[2018-07-06 16:45] jduncan-rva opened #65910 "Make AWS Cloud Provider aware of multiple VPCs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Kubernetes' upstream AWS cloud provider plugin assumes there's only ever one VPC involved in a given deployment. Breaks use cases such as having a single master manage segregated groups of workers in different VPCs for different test environments.

**Anything else we need to know?**:

**Environment**:
- Kubernetes ver

[2018-07-06 16:47] dims commented on #50309
ah thanks @integrii

[2018-07-06 16:48] dougm commented on #65696
Looks like the race was added in Feb 2017 here:
https://github.com/kubernetes/kubernetes/commit/6d1c4a3c49b3346b09e53cbab8b9538987f0142e#diff-7c3b2ad0beb4382e2278c779808949b5R329

But that code path wasn't covered by go test until vcsim support was added here: https://github.com/kubernetes/kubernetes/commit/e22f9ca4ae7ddac1a035312e371eb60ae319fef3#diff-3c386806c8805a8326bbd408293f552eR159

I'll wo

[2018-07-06 16:55] liggitt commented on #65818
/status approved-for-milestone

[2018-07-06 17:15] dims commented on #28272
size limit with tmpfs is being worked on in https://github.com/kubernetes/kubernetes/pull/63641

[2018-07-06 17:22] thockin commented on #2630
Right.  That seems clear.  If we fixed this, does it apply to every usecase
herein?  Or is there more?

I could see adding a `user` field in various places.

e.g. start with this.  Implement it and add some tests.  I need a volunteer
to carry the football.   It's not a ton of effort, honestly, lprobably less
than a day, but I won't have time to spend on it any time soon.

Anyone?

[code]

On Fri,

[2018-07-06 17:32] neolit123 commented on #65887
/cc @chuckha
possible duplicate / similar issue:
https://github.com/kubernetes/kubeadm/issues/962

[2018-07-06 17:56] joejulian commented on #64649
Ok, bisected this trouble back to #57944. @jpbetz PTAL

[2018-07-06 18:03] #65817 closed

[2018-07-06 18:03] #65233 closed

[2018-07-06 18:11] joejulian commented on #64649
Despite the expectations expressed in #47131, tested versions including #57160 still had this problem.

[2018-07-06 18:17] nikhita commented on #65818
For the record:

- https://github.com/kubernetes/kubernetes/pull/65856: original fix against master (1.12)
- https://github.com/kubernetes/kubernetes/pull/65915: cherry-pick to 1.11
- https://github.com/kubernetes/kubernetes/pull/65916: cherry-pick to 1.10
- https://github.com/kubernetes/kubernetes/pull/65918: cherry-pick to 1.9

The cherry-picks only cherry remove CRDs and APIServices from the li

[2018-07-06 18:29] #58059 closed

[2018-07-06 18:55] soltysh commented on #65266
I missed that or forgot about it :wink: in that case, we're good to completely remove it, especially that it was disabled by default since 1.8.  Just ensure to have a proper message that we are removing it in release notes, this time.

[2018-07-06 19:01] #65812 closed

[2018-07-06 19:02] luxas commented on #65887
Closing in favor for https://github.com/kubernetes/kubeadm/issues/962

[2018-07-06 19:02] #65887 closed

[2018-07-06 19:52] joejulian commented on #64649
Reverted 57480 and commit 31ff8c6 on v1.11.0 and have a [working 1.11 image](quay.io/joejulian/kube-apiserver:f8859134cf) on arm64: https://github.com/joejulian/kubernetes/tree/v1.11.0_undo_pr57480

[2018-07-06 20:16] verult commented on #65777
That's strange, the dummy driver just sets up a tmpfs so it should be fairly quick. I wonder if there's something else blocking pod creation?

[2018-07-06 20:44] tallclair commented on #2630
@vikaschoudhary16 @derekwaynecarr this has some overlap / implications for user-namespace mapping.

[2018-07-06 21:09] jennybuckley opened #65925 "Make sure forceAllowCreate works for all the custom storage implementations"
(from @liggitt in this [comment](https://github.com/kubernetes/kubernetes/pull/65154/files/c60fe4fb7623e7c20696d7093c11a09d5c86987a#r199905155))
https://github.com/kubernetes/kubernetes/blob/c60fe4fb7623e7c20696d7093c11a09d5c86987a/pkg/registry/core/service/storage/rest.go#L330

This is the issue to track fixing service storage, and making sure all the other custom storage implementations work, or

[2018-07-06 21:29] khimaros commented on #15157
It appears that Mozilla has provided a fork of go-yaml which supports comment parsing: https://github.com/go-yaml/yaml/compare/v2...mozilla-services:v2

[2018-07-06 21:32] #58957 closed

[2018-07-06 22:13] wendorf commented on #65732
I'm on @brianmartin's team, so can help answer.

I believe there's correlation with times of moderately heavy pod creation. We have a custom Spark job launcher that can create on the order of ~1000 pods every hour or so. We haven't proved that this is the cause, but our intuition is leading us in that direction. They're pods with tolerations in order to be scheduled on a group of nodes dedicated t

[2018-07-06 22:22] ixdy commented on #8830
This issue is getting some discussion on the kubernetes-sig-architecture google group: https://groups.google.com/forum/#!topic/kubernetes-sig-architecture/6db06hcL8NE

[2018-07-06 23:31] MHBauer commented on #65784
huh, you're right.

I do have bash 4.
[code]
I think I have an incorrect root cause. I made assumptions. My apologies. I'll try and take another look at it next week.

[2018-07-07 00:08] ixdy opened #65928 "make generated_files is not detecting codegen tag changes correctly"
/kind bug

It seems like `make generated_files` doesn't always detect codegen tag changes correctly, for example, when someone adds or removes a `// +k8s:` codegen tag.

An easy way to reproduce this bug:
1. Run `make generated_files` and copy `pkg/generated/openapi/zz_generated.openapi.go` out of tree.
2. Find some package with a `// +k8s:openapi-gen=true` tag and remove it. For example,
[code]
3

[2018-07-07 00:19] ixdy commented on #65928
OK, it's a bit more subtle than I first thought.

It seems like it might only do the wrong thing when you delete a tag; added tags seem to be detected properly.

[2018-07-07 01:30] DazWilkin opened #65930 "NFS Example: Challenged executing scripts|binaries stored on shared volumes"
/kind bug
@kubernetes/sig-storage-bug

**What happened**:

I'm using the NFS volume backed by PD SSD to share read-write volumes across multiple nodes. This appeared to  have been working (and still does for executale) files but, on shared volumes, I'm able to reliably kill a shell by attempting to execute a script and receive "file not found errors".

**What you expected to happen**:

I expect to

[2018-07-07 02:42] hzxuzhonghu commented on #65818
#65856 fixes this

/close

[2018-07-07 02:45] jagosan commented on #65883
/cc cheftako

[2018-07-07 04:13] hogepodge commented on #52249
Full integration testing implemented in https://github.com/kubernetes/cloud-provider-openstack. Closing.

[2018-07-07 04:13] #52249 closed

[2018-07-07 04:13] hogepodge commented on #52249
/close

[2018-07-07 04:39] #57946 closed

[2018-07-07 05:40] #59326 closed

[2018-07-07 06:19] shahbour opened #65933 "vsphere cloud provider vcp stopped working after update to kubernetes 1.11.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig cloud-provider
**What happened**:
I had vcp working perfectly on kubernetes v1.9.6 . I had the installation done using kubeadm on our vsphere/vcenter environment .

Yesterday i did update from 1.9.6 -> 1.10.4 -> 1.11.0 , but after the update I am not able to put vcp back to work. I tried complete reinstall but still it is not working . I

[2018-07-07 06:46] definitelyuncertain commented on #59629
@RenaudWasTaken Pod Preset will also not do as there is a trivial way to bypass it. According to [this](https://kubernetes.io/docs/concepts/workloads/pods/podpreset/) (see section "Disable Pod Preset for a Specific Pod") anyone can add one line to their pod spec and prevent this from taking effect.

I am also hesitant to try out an experimental plugin(GKE). That's why I wanted to know if this migh

[2018-07-07 07:03] jomeier opened #65936 "Pod with dynamic volume stays in 'unknown' state if node powers off. Delete not possible"
Hi,

we are using rook (ceph) as storage solution in our kubernetes cluster.

If we deploy the mysql demo from rook everything works as expected. But if we kill the node which hosts the mysql pod, the mysql pod gets this status, the newly spawned pod is stuck in ContainerCreating forever:

[code]

Deletion of the pod with this method doesn't work:

[code]

The pod with the 'unknown' pod will be st

[2018-07-07 07:10] jomeier commented on #65936
This stackoverflow article sent me in the right direction and solved my problem:

https://stackoverflow.com/questions/35453792/pods-stuck-at-terminating-status

I had to type:

[code]

An editor opens with the manifest for the pod. Remove these two lines:

[code]

Saved the file and leave the editor. The pod with the 'unknown' state will be killed immediately and the newly spawned pod will start a

[2018-07-07 07:18] jomeier commented on #51835
#65936

[2018-07-07 07:19] jomeier commented on #24137
Maybe this is a possible workaround: #65936

[2018-07-07 07:20] jomeier commented on #27882
Maybe this is a possible workaround: #65936

[2018-07-07 07:21] jomeier commented on #65569
Same here: #65936

[2018-07-07 07:21] nagapavan opened #65937 "[API] PVC stuck in pending for NFS/EFS storage class. Corresponding PV is not automatically created."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig aws

**What happened**:
I have created a PVC for a [EFS volume](https://github.com/kubernetes-incubator/external-storage/tree/master/aws/efs), with ConfigMap in place.
[code]
`aws-efs` StorageClass is available:
[code]

However the PVC creation is stuck in state pending.
kubectl status of PVC:
[code]

**What you expected to happen**:
Co

[2018-07-07 07:29] mukeshnayak1 commented on #55807
@srikumarb, any update on this? When can I expect this to be fixed?

[2018-07-07 08:10] gitplyx opened #65939 "con't in pod"
root@kube-node1:# kubectl get pods
NAME READY STATUS RESTARTS AGE
my-nginx-86555897f9-ddjcg 1/1 Running 0 12m
my-nginx-86555897f9-xglkd 1/1 Running 0 12m
nginx 1/1 Running 0 8m
nginx-ds-7g6fp 1/1 Running 0 1h
nginx-ds-9cjjv 1/1 Running 0 1h
nginx-ds-jrzqs 1/1 Running 0 1h
root@kube-node1:# kubectl exec -it nginx bash
error: unable to upgrade connection: Forbidden (user=kubernetes, verb=create, res

[2018-07-07 09:16] ashi009 commented on #65885
It probably not makes sense to include it at this point, but the cluster name should be included in longterm. The cluster name can be used in at least the following ways:

- log entry labeling
- monitoring time series labeling
- cross-cluster service discovery

[2018-07-07 11:42] BKS1989 opened #65942 "unable to mount: special device(EBS) worker node"
**What happened**:
in aws console it`s showing ebs volume is created and attached to worker node  but  i am getting  this error on kubelet that unable to mount volume

**Mounting command: systemd-run
Jul 07 11:08:53 ip-172-31-14-233.ap-southeast-1.compute.internal kubelet[1839]: Mounting arguments: --description=Kubernetes transient mount for /var/lib/kubelet/pods/20b9d9a7-81d0-11e8-b81b-02de2bc48

[2018-07-07 11:50] BKS1989 commented on #65942
/sig aws

[2018-07-07 11:51] BKS1989 commented on #65942
/sig aws

[2018-07-07 13:05] mshaverdo opened #65943 "POD IP isn't released when node dies"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When node shuts down,  IP address of pods on this node still "assigned", i.e. we can' t re-use this IP to start pod with the same IP on other node (in case of manually assigned IP). Also, it leads to IP address leakage, and, potentially, to IP pool exhaustion.

**What you expected to happen**:
IP should be released and av

[2018-07-07 14:13] liggitt commented on #65939
Your apiserver is using a client certificate with CN=kubernetes to connect to kubelets. That user is not currently authorized to use the kubelet API.

The `system:kubelet-api-admin` default cluster role defines the permissions required to access that API. You can grant that permission to your apiserver kubelet client user with `kubectl create clusterrolebinding apiserver-kubelet-api-admin --cluste

[2018-07-07 14:13] #65939 closed

[2018-07-07 17:52] #55253 closed

[2018-07-07 18:05] neolit123 commented on #65933
/cc @kubernetes/sig-cloud-provider-bugs

[2018-07-07 18:14] neolit123 commented on #65618
please, mind that kubeadm documentation with desist from adding cloud provider specific documentation in the future, but instead link to external resources.

/cc @kubernetes/sig-cluster-lifecycle-bugs
/cc @kubernetes/sig-cloud-provider-bugs

[2018-07-07 18:35] thejmazz commented on #9995
@gmile have you tried the socat -> service ([proxy-to-service](https://github.com/kubernetes/contrib/tree/master/for-demos/proxy-to-service)) approach? i.e. swap your NodePort for a ClusterIP and have a DaemonSet running socat's that proxy to it (you may need to enable `hostPort` plugin for your CNI)

[2018-07-08 00:29] liggitt commented on #58362
xref https://github.com/kubernetes/kubernetes/pull/59805#issuecomment-381660154

/close

[2018-07-08 00:29] #58362 closed

[2018-07-08 00:29] liggitt commented on #65325
the memory issue was fixed by https://github.com/kubernetes/kubernetes/pull/65339

/close

[2018-07-08 00:29] #65325 closed

[2018-07-08 00:30] liggitt commented on #60312
@sttts @mbohlool did the last bits of this get flushed out by the CRD versioning work?

[2018-07-08 00:45] liggitt commented on #65663
/sig node

[2018-07-08 00:54] liggitt commented on #65160
fixed in https://github.com/kubernetes/kubernetes/pull/65381

/close

[2018-07-08 00:54] #65160 closed

[2018-07-08 01:12] dims commented on #65408
/sig node

cc @derekwaynecarr @liggitt

[2018-07-08 01:12] chinuy commented on #64802
So, it sounds to me that minikube should add such annotation.

[2018-07-08 01:41] #65784 closed

[2018-07-08 03:01] #56569 closed

[2018-07-08 05:03] #56458 closed

[2018-07-08 05:52] ibrasho commented on #61573
@sethvargo The biggest hurdle in this is that Kubernetes is using some base64 trickery to display the string `REDACTED` (basically setting the certificate data to the decoded bytes from `REDACTED`).

We can change this to `TRUNCATE` or `TRUNCATEDCRT` but not `TRUNCATED` (it has to be a valid base64 encoded string). I tried exploring multiple options for the text, but I couldn't find a suitable one

[2018-07-08 07:10] shahbour commented on #65933
checking the UUID I seems to have it

[code]
But the log says
[code]
Looks like VM UUID is empty ? , can it be a permission issue that vcp is not able to read the node System UUID ?

[2018-07-08 08:06] #58826 closed

[2018-07-08 08:39] stealthybox commented on #64924
@davidkarlsen, you can override the ndots option on the `ClusterFirst` policy by setting `spec.dnsConfig.options` to `{name: ndots, value: "1"}`

This feature was first introduced in 1.9

ref:
https://kubernetes.io/docs/concepts/services-networking/dns-pod-service#pod-s-dns-config

spec:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/network/pod-resolv-conf.md

[2018-07-08 08:42] stealthybox commented on #64924
^ Regardless of the existing ability to override ndots, the peculiar DNS behavior described in this issue may need to be addressed.
Should we re-title this?

[2018-07-08 09:50] stealthybox commented on #65562
@davidkarlsen `/var/lib/kubelet/kubeadm-flags.env` is a node-specific overrides file:

Run `kubeadm alpha phase kubelet write-env-file` on each node to run the applicable logic that writes this file.

@danderson could you add this step (and maybe also point 1 about touching the config) to your write-up of the workaround?

[2018-07-08 09:52] nikhita commented on #65928
/cc @sttts

[2018-07-08 10:14] pashok2398 opened #65950 "Support for custom tls cipher suites in kube-proxy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
SSL Medium Strength Cipher Suites Supported

**What you expected to happen**:
Add `--tls-cipher-suites` option to `kube-proxy` as in `kube-apiserver`

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
PR for api-server and kubelet https://github.com/kubernetes/kuber

[2018-07-08 14:12] #55404 closed

[2018-07-08 14:55] IvanovOleg opened #65953 "kube-controller-manager tries to find storage account instead of key-vault"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig Azure

**What happened**:
kube-controller-manager failed to start with the next error:
`2018-07-08T14:42:28.82944156Z stderr F E0708 14:42:28.829339       1 tokens_controller.go:261] error synchronizing serviceaccount kube-system/cronjob-controller: Internal error occurred: rpc error: code = Unknown desc = failed to create key, error: s

[2018-07-08 15:13] #59570 closed

[2018-07-08 17:15] #33195 closed

[2018-07-08 17:33] yingnanzhang666 opened #65954 "apiserver cannot recover after restarting apiserver in large scale cluster(5k nodes, 15w pods)"
On a large cluster - 5k nodes and 15w pods(more than 500MB for pod spec). 5 master nodes, there are one apiserver and etcd on each master nodes.
When restart all the apiservers, the memory of etcd members increases rapidly to about 100G. And the leader keep to be elected frequently. And in the etcd log, it shows some request takes very long time.
[code]
After investigating, kubelet and other daemo

[2018-07-08 17:38] yingnanzhang666 commented on #65954
/sig scalability
/sig api-machinery

[2018-07-08 21:13] arturalbov commented on #3595
Are there any plans for this issue?
We're running [elassandra](https://github.com/strapdata/elassandra) docker image in k8s and need possibility to change ulimits. Maybe someone have some hacks how to set them for elassandra?
I've tried to add
[code]
with
[code]
to stateful set specification but it didn't work.

[2018-07-09 00:21] sethvargo commented on #61573
@ibrasho I can't help but laugh at:

I'm not wed to any particular name. I also have no problem displaying the entire certificate. The crux of the issue is that a CA **public key** is not secret or sensitive. It's a public key 😄

[2018-07-09 01:36] anthonydahanne commented on #46381
/remove-lifecycle stale

[2018-07-09 02:30] andyzhangx commented on #65953
Do you have link about how to "Run kubernetes with Azure Key Vault"? It looks like we need to specify an external resource group for key vault feature.

[2018-07-09 03:24] dc520 opened #65958 "artifactory :"unauthorized: The client does not have permission for manifest""
**What happened**:
I use artifactory as the docker registry and create the corresponding secret based on the documentation, as follows:

- kubectl_ create secret docker-registry cn-artifactory --docker-server=<my-artifactory-website:5006> --docker-username=<myusername> --docker-password=<mypassword>--docker-email=xxx@xx.com -n public

Then I created a test YAML file with the following contents:

a

[2018-07-09 03:29] krmayankk commented on #65943
@mshaverdo  is this specific to Calico ?

[2018-07-09 03:31] krmayankk commented on #65936
/sig node

[2018-07-09 03:31] krmayankk commented on #65936
/sig scheduling

[2018-07-09 03:32] krmayankk commented on #65936
This could also be related to eviction feature not configured

[2018-07-09 03:36] krmayankk commented on #65855
This bug doesnt have sufficient information. Can you do `kubectl describe <podname> -n <namespace>` and paste the output here

[2018-07-09 05:08] tnozicka commented on #62197
/remove-lifecycle stale
(I believe this is moving forward as part of the new "apply" work - https://github.com/kubernetes/community/blob/master/keps/0006-apply.md)

[2018-07-09 05:41] luzhzhsoft commented on #65889
@liggitt  only in my old version. in the latest version ,it seems to work fine

[2018-07-09 05:44] #65889 closed

[2018-07-09 05:55] dc520 commented on #65958
1.9.0版本 的集群创建出来的secret type 是 kubernetes.io/dockercfg ，我把集群升级到1.9.6之后，创建的secret type变成了kubernetes.io/dockerconfigjson，这让我解决了我碰到的问题。

[2018-07-09 05:56] dc520 commented on #65958
The secret type created by the 1.9.0 version of the cluster is kubernetes.io/dockercfg. After I upgraded the cluster to 1.9.6, the created secret type became kubernetes.io/dockerconfigjson, which solved the problem I encountered. problem.

[2018-07-09 05:57] #65958 closed

[2018-07-09 06:35] IvanovOleg commented on #65953
Got a response from developers.

[2018-07-09 06:45] andyzhangx commented on #65953
Do you have link about how to "Run kubernetes with Azure Key Vault"? What's your k8s version?

[2018-07-09 06:51] jomeier commented on #65936
@krmayankk:
What exactly do you mean?

How does this help in automatic termination of pods which have bound persistent volumes ? Is kubernetes currently able to handle that?

[2018-07-09 06:54] IvanovOleg commented on #65953
https://github.com/Azure/kubernetes-kms/blob/master/manual-install.md
v1.11.0

[2018-07-09 06:57] andyzhangx commented on #65953
/assign @ritazh

[2018-07-09 06:57] andyzhangx commented on #65953
cc @ritazh

[2018-07-09 07:29] #59620 closed

[2018-07-09 08:30] sttts commented on #60312
Should be fixed with the versioning work.

/close

[2018-07-09 08:30] #60312 closed

[2018-07-09 08:36] anupam4881 commented on #65464
Is there any update on same ? , today again we are getting  same error, if you need any log for diagnose kindly let me know .

Regards
Anupam

[2018-07-09 08:52] eyalzek commented on #3595
@arturalbov we do something similar with elasticsearch/cassandra, just create a custom image with an alternate entrypoint script, e.g:

[code]

then supply the same capabilities you mentioned (`privileged` isn't required):

[code]

[2018-07-09 08:56] vincentwu2011 opened #65965 "Failed to mount configmap as volume in a Daemonset Pod if it's evicted before"
@kubernetes/sig-Apps-bug
**What happened**:
I have a pod is created by a daemonset. Because of the hard disk pressure, the pod is evicted. After I free the disk space and now there is enough free disk space. And the pod is going to start again. But it hangs on ContainerCreating status. From the log of kubelet, it failed to mount a configmap volume.
The error message in kubelet as below:
...
I0709

[2018-07-09 09:02] sttts commented on #65517
Can you put this into words? What's the actual issue?

[2018-07-09 09:03] lf1029698952 opened #65966 "leaderelection lost, kube-controller-manager and kube-scheduler FATAL restart"
/kind bug
 /sig kube-controller-manager

**What happened**:
Kubernetes v1.7.11
kube-controller-manager and kube-scheduler FATAL restart, and all nodes update node status failure.

kube-controller-manager fatal logs:
[code]
kube-scheduler fatal logs:
[code]
kube-apiserver ERROR logs
[code]
kubelet ERROR logs:
[code]
I have migrated the etcd database to another machines, Everything was normal at tha

[2018-07-09 09:05] lf1029698952 commented on #65966
/sig cluster-lifecycle

[2018-07-09 09:13] jsravn commented on #57841
@Lion-Wei do you need any help w/ the dev side of this? I can probably find some time for it. Although, it's still not clear to me what the proposed solution is.

Either
1. Put a configurable timeout period into kube-proxy that is used to manage the IPVS connections (weight 0 for timeout, then remove). Just fixes IPVS and is a little hacky, but works similar to the iptables proxier (which relies o

[2018-07-09 09:15] redbaron commented on #52683
/remove-lifecycle stale

[2018-07-09 09:17] skeetwu opened #65967 "failed to start kubelet after rename instance hostname"
/kind bug
/sig kubelet

**What happened**:
kubelet failed to start after rename hostname.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. create an instance in openstack dashboard, named "bbbb-node-4".
2. due to work requirements, we should edit this instance hostname to "vm-10-10-10-10".
3. edit this instance's name to "vm-10-10-10-10" in ope

[2018-07-09 09:39] lf1029698952 commented on #65966
I'm not sure whether it's a network problem between nodes and master. Will network problems cause kube-controller-manager fatal to restart?

[2018-07-09 09:40] lf1029698952 commented on #65966
/kind bug

[2018-07-09 09:40] kamesh2229 commented on #49442
Hi,

I tried deploying using oc debug -f <template name> and getting the below error.

oc debug -f elasticsearch-template.yml
error: cannot debug elasticsearch: unable to extract pod template from type *template.Template

So deployed the normal way how i was doing and  still facing the problem but now the container is not at all started in this case

oc process -f elasticsearch-template.yml  PROJE

[2018-07-09 09:41] m1093782566 commented on #57841
#64947?

[2018-07-09 09:41] kamesh2229 commented on #49442
sorry please ignore wrong window

[2018-07-09 09:48] tamalsaha opened #65968 "Kubernetes repository can't be vendored"
We have written a cli tool that uses kubectl util libraries. Today I was trying to upgrade from Kubernetes 1.10 dependency to 1.11 . But I found that I can't compile code after I revendor to Kubernetes 1.11 . The problem is that  https://github.com/kubernetes/kubernetes/blob/v1.11.0/pkg/kubectl/util/i18n/i18n.go#L107 uses generated code from https://github.com/kubernetes/kubernetes/tree/v1.11.0/pk

[2018-07-09 09:49] ibrasho commented on #61573
I agree. The issue is with how this is implemented currently. 😂

I tried to come up with a suitable string (given the constraint) and couldn't find anything acceptable...

I personally prefer to print the CA certificate since we are already printing user tokens and client certs that are *actual* secrets.

[2018-07-09 09:55] hoegaarden commented on #65968
There is a discussion going on [over here](https://groups.google.com/d/msg/kubernetes-sig-release/GuP_hCI75pI/CYQfLq11CgAJ) about that.

[2018-07-09 09:58] tamalsaha commented on #65968
/sig release

[2018-07-09 10:11] mshaverdo commented on #65943
@krmayankk I tested it only with Calico, but due to pod IP management implementation (via kubelet) it seems it affects all CNI plugins

[2018-07-09 10:38] mkjpryor-stfc commented on #51040
@phsiao: What was your solution to this? Also in an automation scenario, I would like a node to be able to drain itself and remove itself from service, rather than relying on the master to drain it.

[2018-07-09 11:08] redbaron commented on #65816
you mean leader periodically releases locks? maybe, but it can't prevent outage, because all correctly configured controller-managers going to be killed quite quickly.

maybe starting informers and stopping them? this would be most realistic check.

[2018-07-09 11:11] cybersuv opened #65969 "Kubelet is pointing to incorrect StorageOS volume location"
@kubernetes/sig-contributor-experience-storageos
BUG REPORT

**What happened**:

I have an in-house kubernetes cluster with 3 nodes (Cent OS 7). I have setup storageos as the persistent volume manager and all the services look good. But, when I am trying to create a volume claim and mount the same to a mysql pod, I am getting a weird error.

`MountVolume.SetUp failed for volume "pvc-619daabb-835c-

[2018-07-09 11:15] redbaron commented on #65106
strategic patch and resource validation are on a different levels, each should do best to ensure correctness. Validating PODs for keys duplications is a good thing of course, but strategic patch should do it's part too: either detect unsupported case and return error or start supporting it, silently `null`ing  key is the worst option IMHO

[2018-07-09 11:28] #65819 closed

[2018-07-09 11:38] akopitsa commented on #46861
recreating the deployment works but it should not be

[2018-07-09 11:45] wojtek-t commented on #65954
Couple thoughts:
1. What release you were running? The profile looks a bit suspicious to me - once cache is initialized, https://github.com/kubernetes/kubernetes/pull/59871 should make GetAttrs much cheaper.
2. 40cores doesn't sound surprising - we're officially recommending 64 core VMs for master VMs with 5k nodes - https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-common.sh