[2016-10-15 07:44] #34016 closed

[2016-10-15 07:46] luxas commented on #33924
This is fixed by preflight checks, and `kubeadm reset` should be run in between now.

[2016-10-15 07:46] #33924 closed

[2016-10-15 07:47] luxas commented on #33919
@pires so we can close this now?

[2016-10-15 07:47] matchstick commented on #34453
@saad-ali I know you are busy but can you look at this for triage? If not let me know. @kubernetes/sig-storage

[2016-10-15 07:48] luxas commented on #33910
@dgoodwin can I assign this to you?

cc @jbeda as well

[2016-10-15 07:48] luxas commented on #33812
Thanks for the information, but it seems like this is no real issue, so I'm closing it

[2016-10-15 07:48] #33812 closed

[2016-10-15 07:50] luxas commented on #33641
@justinsb @errordeveloper @pires What's the status of this issue?
Anything we can do easily and who should I assign it to?

[2016-10-15 07:52] luxas commented on #34311
Closing this as a duplicate of #33638

[2016-10-15 07:52] #34311 closed

[2016-10-15 07:54] luxas commented on #34025
I don't understand why this should be done.
Please clarify this now when we already have the api group and the possibility of specifying flags via a file

[2016-10-15 09:01] pires commented on #33919
@luxas as far as I can tell, yes.

[2016-10-15 09:03] #33919 closed

[2016-10-15 09:05] pires commented on #33641
@luxas you can assign it to me. Here's how my fix would look like:
* Add `--hostname-override <hostname_or_ip>` flag to `kubeadm join`
* When the flag above is set, run `kubelet`  with `--hostname-override <hostname_or_ip>`.

[2016-10-15 09:34] soltysh commented on #28977
The problem is not with the controller, but with the deletion logic.

Yes, there's no job prunning implemented.

@erictune @bgrant0607  I'm currently implementing job pruninng downstream in https://github.com/openshift/origin/pull/11345 would it make sense to have some pruning mechanism in k8s? Or we should rather extend the garbage collection, iiuc it currently handles only pods, am I right?

[2016-10-15 09:34] nkwangleiGIT opened #34882 "Approach to collect user log inside the container"
Hi,
I found that there was a pull request below to add LogDir support for collecting logs inside containers(user application, but not redirect to standard docker stdout/stderr), it's much a convenient approach and will save lots of resource required by log agent compared with sidecar pattern.

https://github.com/kubernetes/kubernetes/pull/13010

But this pull request was closed, is there any other

[2016-10-15 09:45] BoriszhangSec opened #34883 "No generated endpoints, is none"
i deploy heapster,all pod running,but no work for me

kubectl version
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0+a16c0a7", GitCommit:"a16c0a7f71a6f93c7e0f222d961f4675cd97a46b", GitTreeState:"not a git tree", BuildDate:"2016-09-27T09:17:08Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0+a

[2016-10-15 10:15] soltysh commented on #34710
@erictune @bgrant0607 I've raised this topic in #28977 and I guess it might apply to other resources as well.

[2016-10-15 10:41] luxas opened #34884 "release a new version of kubeadm"
The last two weeks I've been focusing on getting kubeadm master more stable so we can do a release, and implementing new features. I'm collecting here now what should be done:

Changelog for the new release:
- Switch to the 10.12.0.0/16 subnet: https://github.com/kubernetes/kubernetes/pull/33668
- Fix kubeadm on AWS by including /etc/ssl/certs in the controller-manager https://github.com/kubernete

[2016-10-15 10:54] soltysh commented on #30243
The completed pods should be cleared by the gc at some point in time.

[2016-10-15 11:07] asheshambasta commented on #33729
+1

[2016-10-15 11:11] soltysh commented on #34833
There's nothing wrong with jobs itself, looks like a GKE problem, most probably in #34670.

[2016-10-15 11:11] #34833 closed

[2016-10-15 11:20] BoriszhangSec commented on #34883
BTW,excutor kubectl cluster-info
==== START logs for kube-system/heapster-v1.2.0-beta.1-1428998303-kown7 ====
Error from server: the server rejected our request for an unknown reason (get pods heapster-v1.2.0-beta.1-1428998303-kown7)

[2016-10-15 11:40] pires commented on #33542
@luxas this is fixed.

[2016-10-15 11:52] luxas commented on #33542
Great, thanks!

[2016-10-15 11:52] #33542 closed

[2016-10-15 12:01] Buzer opened #34886 "kubectl not using all of the yaml documents in some cases"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): daemonset, kubectl

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): B

[2016-10-15 12:28] bbnnt commented on #6888
Images did got pushed correctly to google container registry

[code]

plus (in case)

[code]

then

[code]

Having the kind of following in a kubernetes deployment :

[code]

and running `kubectl create -f the_file_containing_what-s_above.yaml` followed by `kubectl get pods` always returned some errImagePull 403 unhautorized etc…

Restarted both docker-machine and minikube, in case. same.

People

[2016-10-15 12:32] andyxning commented on #34704
@yujuhong Any plan for adding this functionality in Kubernetes. :-)

[2016-10-15 12:37] pires commented on #31711
We have agreed to have several `kubeadm` components with each having its own graduation requirements, right? E.g., `kubeadm` could be GA while `kubeadm HA` is alpha.

[2016-10-15 12:42] hanikesn commented on #22609
This issue still exists with 1.4.1.

[2016-10-15 12:48] k8s-merge-robot opened #34887 "kubernetes-e2e-gci-gce-autoscaling-migs: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-autoscaling-migs/555/

Multiple broken tests:

Failed: [k8s.io] Cluster size autoscaling [Slow] should correctly scale down after a node is not needed when there is non autoscaled pool[Feature:ClusterSizeAutoscalingScaleDown] {Kubernetes e2e suite}

[code]

Issues about this test specifically: #34102

Failed: [

[2016-10-15 13:41] k8s-merge-robot opened #34888 "kubernetes-e2e-gci-gke-staging: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-staging/80/

Multiple broken tests:

Failed: [k8s.io] DaemonRestart [Disruptive] Kubelet should not restart containers across restart {Kubernetes e2e suite}

[code]

Issues about this test specifically: #27502 #28722 #32037

Failed: [k8s.io] Pod Disks Should schedule a pod w/ a RW PD, gracefully remove it, then

[2016-10-15 13:47] pires commented on #31711
@mikedanese we should add testing (#34136) as a hard requirement for GA.

[2016-10-15 13:48] pires commented on #33928
I can support that but make sure to update docs to reflect that functionality.

[2016-10-15 13:50] #15834 closed

[2016-10-15 13:58] bbnnt commented on #6888
In the end, this SO response was the issue : http://stackoverflow.com/a/36286707/102133
But that's the only place it could clearly be explained

[2016-10-15 14:04] k8s-merge-robot opened #34889 "kubernetes-e2e-gci-gce-kubenet: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-kubenet/943/

Run so broken it didn't make JUnit output!

[2016-10-15 14:47] k82cn opened #34890 ""hack/verify-generated-swagger-docs.sh" always failed on Mac."
**Platform**:
Mac (`Darwin Klauss-MacBook-Pro.local 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64`)

**Output of pre-commit**:
[code]

[2016-10-15 14:59] yolkov commented on #33894
I've installed according to instructions https://github.com/kelseyhightower/kubernetes-the-hard-way/blob/master/docs/04-kubernetes-controller.md

[2016-10-15 16:45] mikedanese commented on #31711
Added to the beta graduation requirements,

[2016-10-15 17:01] undassa commented on #23241
@amolsh @chinmayb
It seems that you have no etcd installed.
`sudo apt-get install etcd`

Than check that etcd is started
`sudo service etcd start`
`sudo service etcd status`

And after that repeat kube-up.sh

[2016-10-15 18:05] lukemarsden commented on #34044
@errordeveloper Actually, I think starting things again is the right thing to do, at least on Ubuntu. Otherwise you can't run `apt-get install kubeadm; kubeadm init; kubeadm reset; kubeadm init`, which I think is desireable.

[2016-10-15 18:28] pires opened #34893 "kubeadm: pre-flight checks return false positives"
Here's one example:
[code]

The important part here is that port 443 is not being used but, when the user has no superuser privileges, `kubeadm` can't test bind that port and assumes it's already bound. In this particular case, regular users can't bind port numbers <1024 (it's possible but not by default).

I am not sure if we have other pre-flight checks that suffer from this.

This is low-hangin

[2016-10-15 18:36] #7347 closed

[2016-10-15 19:15] smarterclayton commented on #34856
I'm fine with that.  The relevant check is pkg/apiserver/resthandler.go
DeleteResource to add an else for "if len(body) > 0" - use the equivalent
logic from GetResource with:

opts := api.DeleteOptions{}
if err := scope.ParameterCodec.DecodeParameters(req.Request.URL.Query(),
scope.Kind.GroupVersion(), &opts); err != nil {
scope.err(err, res.ResponseWriter, req.Request)
return
}

and that should b

[2016-10-15 19:24] luxas commented on #29014
@dims Seems like this is only half-finished...
Will you continue with adding `doc.go` files to those directories who haven't got it?

[2016-10-15 19:25] luxas commented on #29014
We should have a verification test for this as well

cc @mikedanese @ixdy

[2016-10-15 19:26] luxas commented on #34893
Very soon we will get rid of the 443 :)

I came across it as well, but I think the only "flake" is 443, so soon this is fixed

[2016-10-15 19:41] pires commented on #34893
Well, for ports, instead of binding (listen) we could just dial as any other client. This would fix it permanently!

[2016-10-15 20:09] emac08 commented on #34278
causing major issues for us... is there a resolution/upgrade in the pipeline for gke?

[2016-10-15 20:22] pwittrock commented on #34800
Can you get the desired result with a PATCH call?  I what are the merge keys used for VolumeMounts?

[2016-10-15 20:27] nambrot commented on #29166
I just upgraded to 1.4.1 and the issue re-appeared :(

[2016-10-15 20:31] pwittrock commented on #34782
While you are working on drain issues

[2016-10-15 20:34] dgoodwin commented on #34893
I actually had it connecting originally and then read that this suffers from failing to handle ports that are in use but still not accepting connections. Attempting to bind appeared to be the most reliable way to determine.

[2016-10-15 20:40] bgrant0607 commented on #28977
cc @caesarxuchao @lavalamp

[2016-10-15 20:47] pires commented on #34893
@dgoodwin it is such case when a TCP listener is established but no acceptor is in place, good point.

[2016-10-15 21:01] wojtek-t opened #34896 "Restart controller-manager (and apiserver/scheduler) during our e2e tests"
From time to time, we are hitting problems that restarting controller-manager is causing some serious issues. In the last few days we were e.g. forced to build 1.4 patch release because of bug in restarting node-controller (but IIRC this isn't the first case of such type of bugs).

I think that we should introduce a simple e2e test that will just restart controller manager. If we start running thi

[2016-10-15 21:05] liggitt commented on #34896
If there are failures, will they manifest in other tests that are running in parallel and be difficult to trace to the controller manager restart?

[2016-10-15 21:05] justinsb commented on #27796
When I try to log in with github to verify my CLA, I get an access denied error, and then when I try again I get access denied with "You have already registered this identity".  Is there any way I can verify my CLA?

[2016-10-15 21:08] justinsb commented on #27796
Oh ... and then when I look at the "Details" link for someone that hasn't signed the CLA, I _do_ get _my_ CLA.   I would expect to see the CLA status for the user in question.

[2016-10-15 21:20] nckturner commented on #27796
Also having problems with the CNCF CLA.  Chose individual contributor, and was unable to change the email it chose for me which was an old work email, probably pulled from github (luckily was able to access it).  Now, I can see my signed CLA but am still not marked approved on the PR.

[2016-10-15 21:22] praoreo opened #34897 "kube-scheduler and kube-controllermanager not coming up in 1.4.1 with --kubeconfig option"
Hi,

I am trying to upgrade my lab from kubernetes 1.3.6 to 1.4.1. After copying the latest kube-scheduler and kube-controllermanager binary I am not able to start the process as it says "unable to build config from flags: invalid configuration: no configuration has been provided"

[code]

[code]

I have a valid kubeconfig file at "/var/lib/kube-scheduler/kubeconfig/config" and "/var/lib/kube-cont

[2016-10-15 21:25] ymqytw commented on #34800
I will take a close look next Monday.

[2016-10-15 23:11] smarterclayton commented on #34896
Along those lines, can we easily flag the restart into the stream of logs
so that it's obvious that a restart happen?  I would assume locality on all
the tests running at the time w.r.t. failures.

On Sat, Oct 15, 2016 at 5:05 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-10-16 00:39] AdoHe commented on #34886
@Buzer I will take a look, seems like the yaml decoder issue.

[2016-10-16 01:09] shashidharatd commented on #34575
I figured out this is happening because after make clean or a fresh clone, kubectl will not be available when we are trying to get the semantic_image_tag_version() in here. https://github.com/kubernetes/kubernetes/blob/master/build/util.sh#L26

[2016-10-16 01:11] feiskyer commented on #34672
@Random-Liu  I think releasing resources is part of `RemoveSandbox`, e.g. if resources release failed, the api should report an error. Once `RemoveSandbox` failed, kubelet will continue to see this sandbox. And kubelet will call `RemoveSandbox` again later so shim could release the resources again. That's why I think periodically sync is not required.

@yifan-gu We don't expect runtimes to underst

[2016-10-16 01:34] chrislovecnm commented on #23896
@bprashanth why are we putting this into core, when there are tools like helm that are handling this?

[2016-10-16 01:38] #34790 closed

[2016-10-16 02:03] MikeSpreitzer opened #34899 "Confusion over kube version installed by kubeadm"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kubeadm

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

[2016-10-16 02:12] MikeSpreitzer opened #34900 "kubeadm specifies etcd-servers twice in apiserver manifest"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kubeadm

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

[2016-10-16 02:13] MikeSpreitzer commented on #34900
CC @kubernetes/sig-cluster-lifecycle

[2016-10-16 02:13] MikeSpreitzer commented on #34899
CC @kubernetes/sig-cluster-lifecycle

[2016-10-16 04:02] thockin commented on #34453
My question was whether the YAML that the server has matches the YAML you
sent.  I found a bug in `kubectl apply` which caused my initial repro to
match your experience, but when I work around the bug (`kubectl replace`
instead of apply), the bug did not repro.

On Fri, Oct 14, 2016 at 5:27 PM, Werner Beroux <notifications@github.com>
wrote:

[2016-10-16 04:26] thockin commented on #16508
Karl,

I don't buy this.  If it runs as multiple processes, what difference does
it make whether it is one on-disk file?

On Fri, Oct 14, 2016 at 6:19 PM, Karl Isenberg <notifications@github.com>
wrote:

[2016-10-16 04:29] thockin commented on #16508
On Fri, Oct 14, 2016 at 9:32 PM, Drew Rapenchuk
<notifications@github.com> wrote:

Oh, heck no, not in a point release.  At BEST this would be 1.5, more likely 1.6

Again, if the tarball you extracted had 8 symlinks, named the same as
the old programs, and one actual mega-bin -- doesn't that largely
alleviate the issue of anyone actually having to know about this
change?

I apologize if I ever ins

[2016-10-16 04:54] k8s-merge-robot opened #34902 "kubernetes-e2e-gci-gke-subnet: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-subnet/99/

Run so broken it didn't make JUnit output!

[2016-10-16 06:43] karlkfi commented on #16508
The controller manager bundled all the controllers into one binary and now they're inseparable, irreplaceable, and inextensible. Bundle the other components and I guarantee they will become more and more inseparable. This is the opposite of pulling them apart into separate repos to combat the very real struggles of managing a monorepo on github. See #24343

[2016-10-16 07:35] #33867 closed

[2016-10-16 10:00] gl328518397 commented on #29540
Starting HTTP server on port 9090
Creating API server client for http://localhost:8080
Error while initializing connection to Kubernetes apiserver. This most likely means that the cluster is misconfigured (e.g., it has invalid apiserver certificates or service accounts configuration) or the --apiserver-host param points to a server that does not exist. Reason: Get http://localhost:8080/version: di

[2016-10-16 10:00] k8s-merge-robot opened #34903 "kubernetes-e2e-gci-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce/1436/

Run so broken it didn't make JUnit output!

[2016-10-16 11:00] k8s-merge-robot opened #34904 "kubernetes-e2e-gci-gke-pre-release: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-pre-release/946/

Run so broken it didn't make JUnit output!

[2016-10-16 14:09] #34530 closed

[2016-10-16 14:18] Stono commented on #33447
+1, this is lame :(

[2016-10-16 14:24] Stono commented on #29166
I have just upgraded to 1.4.1 and have this issue too - none of my pods with PVs are starting... NOT COOL.  Please advise?

[2016-10-16 14:25] Stono commented on #29903
Hi - I have just upgraded to 1.4.1 and have this exact issue.
Please advise quickly as currently our services are down.

[2016-10-16 14:59] smarterclayton commented on #16508
What's the difference between splitting them and letting you turn them off
individually?

I'm all for extension being possible and easy - I deal with the pain of
extending Kube everyday, and it's why Jordan and David and Stefan are full
time on making Kube extensible - but I still would prefer a unified
controller manager with optional disablement to 20 controller processes for
a number of reasons

[2016-10-16 15:04] vishh commented on #33447
The fixes are underway (< 1 week).

On Sun, Oct 16, 2016 at 7:18 AM, Karl Stoney <notifications@github.com>
wrote:

[2016-10-16 15:39] dgoodwin commented on #33910
Technically in Joe's domain per our most recent separation of duties, though things may change in the coming week.

[2016-10-16 16:01] thockin commented on #16508
100% agree that controllers should be flag-disableable and logically
isolated.  They share some I frastructure, for efficiency, but that's
opportunistic.  AFAIK that was never proposed, but I would back such a PR.

On Oct 16, 2016 8:00 AM, "Clayton Coleman" <notifications@github.com> wrote:

[2016-10-16 16:36] Stono commented on #33447
Awesome.

[2016-10-16 16:38] smarterclayton commented on #16508
@ncdc / @deads2k in case that was already in your 1.5 planned items

On Oct 16, 2016, at 11:01 AM, Tim Hockin <notifications@github.com> wrote:

100% agree that controllers should be flag-disableable and logically
isolated. They share some I frastructure, for efficiency, but that's
opportunistic. AFAIK that was never proposed, but I would back such a PR.

On Oct 16, 2016 8:00 AM, "Clayton Coleman"

[2016-10-16 17:40] MrHohn commented on #33894
Sorry for the delay.

I see, the instructions are running the master components on three different `controller` nodes, interesting. I believe this is good.

For the errors in your logs. I think there was some conflicts between the resources this addon manager were trying to create and thoses resources created by the others addon manager before. I would say if you try again to spin up a new kuberne

[2016-10-16 18:10] pwittrock commented on #34413
@ymqytw Would you look into this one as well?

[2016-10-16 18:17] kamigerami commented on #34613
Merged in https://github.com/kubernetes/kubernetes.github.io/commit/965eb76254eeb2870111cfc48c793118443d028d

[2016-10-16 18:17] #34613 closed

[2016-10-16 18:27] chakri-nelluri commented on #32543
@rbtcollions we cannot support this use case.
Provisioner creates volumes when a claim is created & bound. There is no pod at that point of time. We cannot pass the pod DNS name to the provisioner.

[2016-10-16 18:34] sheerun commented on #33729
For me it failed first time, but then I've booted fresh ubuntu 16.04, and did:

[code]

Second time it succeeded.

[2016-10-16 18:34] luxas commented on #34899
We just haven't released the new kubelet,kubectl v1.4.1 debs yet or the version of kubeadm that defaults to v1.4.1, but the change has been made at HEAD.

Sorry for the confusion; we'll very soon release and updated the doc a little in beforehand...

See: #34884

[2016-10-16 18:34] #34899 closed

[2016-10-16 18:36] luxas commented on #34900
You're completely right. We'll fix it

[2016-10-16 19:02] karlkfi commented on #16508
This is like the core difference between SOA and Microservices. SOA bundles together services and the things that use them, even if they communicate exclusively via network. Microservices are separated out into components that are individually maintained and only share code via shared library.

Thockin is arguing for SOA here: logically isolated, but physically coupled with shared infra.

I don't

[2016-10-16 19:03] luxas commented on #34044
This is now fixed with https://github.com/kubernetes/kubernetes/issues/34807

[2016-10-16 19:03] #34044 closed

[2016-10-16 19:07] luxas commented on #34494
@freehan Please review the code that we've added to `pkg/util/initsystem` and see if it satisfies your requirements

[2016-10-16 19:07] timothysc commented on #34508
/cc @davidopp @aveshagarwal

[2016-10-16 19:18] luxas opened #34909 "Remove cluster/ubuntu in favor for kubeadm"
WDYT? @mikedanese @MikeSpreitzer

The code there is really old and hasn't been touched for real since ~June this year...

Can we do this for v1.5?

cc @kubernetes/sig-cluster-lifecycle

[2016-10-16 19:21] gmarek commented on #34896
We need to do this in large cluster tests. In small ones some problems might not appear.

[2016-10-16 19:27] luxas commented on #17981
For everyone interested, arm binaries has been released for kubernetes since v1.2.

For v1.2.x, use my project kubernetes-on-arm v0.7.0
For v1.3.x, use docker-multinode or kubernetes-on-arm v0.8.0
For v1.4.x, use kubeadm

You may also read https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/multi-platform.md

I consider this work done since a while ago thanks to the linked PRs abov

[2016-10-16 19:27] #17981 closed

[2016-10-16 19:30] quinton-hoole commented on #34896
Great idea. We created a bunch of similar disruptive tests a while ago
(disconnect/restart etcd, API server etc), but we might have accidentally
skipped controller manager restarts. We know how to manage these. More when
closer to keyboard :-)

On Oct 16, 2016 12:21 PM, "Marek Grabowski" <notifications@github.com>
wrote:

We need to do this in large cluster tests. In small ones some problems
might

[2016-10-16 19:41] yolkov commented on #33894
Thanks for your reply.

I'll try later when I will setup another kubernetes cluster.

[2016-10-16 19:52] quinton-hoole commented on #34896
Here are some example disruptive tests:

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/etcd_failure.go

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/restart.go

Note also that there is considerable overlap between the tests contemplated in this issue, and the our automated upgrade tests, which, amongst others, upgrade and restart all control plane components.  We s

[2016-10-16 20:01] rbtcollins commented on #32543
@chakri-nelluri ah - thats a shame. Is that the only limit? e.g. another way we could do it is to place a unique token in the secret, and use that to exchange for a certificate - only that pod would know the token, and the certificate service could introspect the pod to see the claim metadata.

[2016-10-16 20:04] quinton-hoole commented on #34896
PS:  The restart tests above restart all nodes (hopefully including master nodes - but we should check that). So we might already have one form of the tests that you're considering already. It would be pretty easy to run all or some of the other e2e tests in the same test run - that's a simple config change.

[2016-10-16 20:05] k8s-merge-robot opened #34910 "[k8s.io] ScheduledJob should not emit unexpected warnings {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-staging-parallel/1120/

Failed: [k8s.io] ScheduledJob should not emit unexpected warnings {Kubernetes e2e suite}

[code]

Previous issues for this test: #32034

[2016-10-16 20:16] k8s-merge-robot opened #34911 "[k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/6840/

Failed: [k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26185 #27142 #30275 #31101 #31105 #32059 #32074 #32078 #32098 #32437 #32525 #33344

[2016-10-16 20:28] jayunit100 commented on #31795
ok, patch is in the companion PR, When we rely on predicateMetadata, we see the checkServiceAffinity function is indeed much faster...
[code]
When we don't rely on predicateMetadata, and keep the intermediate computation for every pod...
[code]
Conclusion = removing this from checkServiceAffinity significantly speeds the function up without breaking functionality.

[2016-10-16 21:06] timothysc commented on #31795
Thanks for data @jayunit100 !

[2016-10-16 21:17] k8s-merge-robot opened #34912 "kubernetes-e2e-gce-multizone: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-multizone/4442/

Run so broken it didn't make JUnit output!

[2016-10-16 21:24] chakri-nelluri commented on #32543
@rbtcollins AFAIK we do not have a way to pass the pod specific or per-volume specific parameters to dynamic provisioning infra (it has nothing to do with flex volume). The only way is to manually create persistent volumes with pod specific parameters, every time you want one.

Between, you will not be able to return secret objects, provisioner only handles persistent volumes. You can still have y

[2016-10-16 21:40] buildmaster commented on #34583
just to add to this, the reason why it's a deal is I actually don't have full control over where the nodes run, as they're in an autoscale group across all AZs. So you could have master in AZ a and nodes in b and c just because that's what the auto scale group picked.

[2016-10-16 21:55] pesho commented on #29832
I think I'm running into a related issue, or at least the same root cause. When using PV+PVC Cinder volumes the Kubelet fails to confirm that they are attached (even though I see the volume is attached in Horizon). The same `udevadm` error shows in the kubelet logs:

[code]

However, on Ubuntu 16.04 at least, `udevadm` is located in a different place:

[code]

[2016-10-16 22:03] pesho commented on #29832
Adding a symlink to the correct `udevadm` location seems to have resolved the issue for me:

[code]

[2016-10-16 22:23] davidopp commented on #16508
Personally I think what users care about is whether they can extend the system by writing components that run as pods, e.g. their own schedules, their own controllers, their own autoscalers, their own admission controllers, etc. I'm much more concerned about the fact that we don't yet have out-of-process admission controllers or a reasonable way for people to replace etcd with another storage syst

[2016-10-16 22:33] k8s-merge-robot opened #34913 "kubernetes-test-go: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/18172/

Run so broken it didn't make JUnit output!

[2016-10-16 23:01] wernight commented on #34453
It matches almost. The difference are the mounts: It only keeps one of the two mounts.

[2016-10-16 23:21] thockin commented on #34453
Can you try with kubectl replace instead of apply?  It sounds like you hit
the same bug...

On Oct 16, 2016 4:02 PM, "Werner Beroux" <notifications@github.com> wrote:

[2016-10-16 23:41] jayunit100 commented on #34504
We will need to follow up on this, the nil exception is fixed now but I think there are other moving parts we need to patch, gmarek I think has a patch on the way

[2016-10-17 00:13] MikaelCluseau commented on #32543
@rbtcollins I agree with @chakri-nelluri, the right place seems to be the mount call for a flexvolume. But I think it would be much simpler to have a container creating it in a emptyDir volume.

[2016-10-17 00:55] wernight commented on #34453
Looks like it's working; but `replace` doesn't work for services, so it's really a workaround for now.

[2016-10-17 01:43] saad-ali commented on #34794
@jsafrane Looks like you added this test a few days ago in PR https://github.com/kubernetes/kubernetes/pull/32485. It is passing in the normal suite, but appears to be failing in multizone. Could you take a look. CC @quinton-hoole who might be able to provide more information about how these tests differ/expectations.

[2016-10-17 01:45] thockin commented on #34453
It does work for services, you just need to RMW first.

On Oct 16, 2016 5:56 PM, "Werner Beroux" <notifications@github.com> wrote:

[2016-10-17 01:57] Johnzinvalid opened #34915 "Where can we configure the parameters for kubelet of kubeadm?"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kubeadm kubelet

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEA

[2016-10-17 01:58] monaka commented on #19317
At least in my case, it might be API issue...?

[code]

kube-apiserver:

[code]

kube-controller-manager

[code]

[2016-10-17 02:13] chrislovecnm commented on #28709
Has anyone recreated this?  Probably going to close.

[2016-10-17 02:14] chrislovecnm commented on #27670
Going to close this.  Not able to reproduce reliably.

[2016-10-17 02:14] #27670 closed

[2016-10-17 02:15] chrislovecnm commented on #24286
Closing this please refer to https://github.com/kubernetes/kubernetes/issues/27239 in order to network K8s clusters together.

[2016-10-17 02:15] #24286 closed

[2016-10-17 02:19] zacharynevin commented on #19405
@a-robinson Is there a reason that that the fluentd-gcp logger is not a daemonset? It seems to be set up as individual pods (e.g. I did `kubectl get daemonset --namespace kube-system` and couldn't find the gcloud logger). It would be much easier to update the fluentd-gcp version if this were the case.

[2016-10-17 02:21] Johnzinvalid commented on #34915
@kubernetes/sig-cluster-lifecycle

[2016-10-17 02:26] ikaven1024 commented on #34582
i met the same issue when using 1.4.x on linux.

[2016-10-17 02:33] roberthbailey commented on #34909
We should start looking at removing a lot of the "code" under `/cluster`. But given that kubeadm doesn't handle provisioning, I'm not convinced that we can remove it all (unless it finds a new home in a different repo).

[2016-10-17 03:06] bprashanth commented on #29055
Makes sense, so we need to define resource request on https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/skydns-rc.yaml.in#L85. are you suggesting 100m cpu and the default 10k/10mb memory? if cpu is left unspecified I believe it gets the lowest possible allocation under load (2 shares).

[2016-10-17 03:27] hhzguo opened #34916 "Does this make code better"
This is not a bug nor a feature request, but code improvement.

In pkg/controller/informers/core.go

Can we change the code to the following?
func (f *namespaceInformer) Informer() cache.SharedIndexInformer {
    informerType := reflect.TypeOf(&api.Namespace{})
    informer, exists := f.informers[informerType]
    if exists {
        return informer
    } else {
        f.lock.Lock()
        defer

[2016-10-17 03:30] nhlfr commented on #34283
I'm working on this.

[2016-10-17 03:32] Roshanson opened #34917 "How to install k8s on Ubuntu14.04 on Master node only?"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

yes

---

**Kubernetes version** (use `kubectl version`):

Kubernetes  1.2

**What happened**:

I use  this link http://kubernetes.io/docs/getting-started-guides/ubuntu/ to install k8s on Ubuntu 14.04

**this is my    /config-default.s

[2016-10-17 04:01] sheerun commented on #33798
@bboreham The same issue still happens on 16.04 even after upgrading weave net:

[code]

[2016-10-17 04:09] sheerun commented on #33798
Manually adding `net.bridge.bridge-nf-call-iptables=1` to `/etc/sysctl.conf` and restarting helped

[2016-10-17 04:20] thuandt commented on #29166
I attached directly persistent disk to pods. After upgrade to 1.4.1, the issue appeared.

Any solution?

It happened many times when I use test cluster in 1.3.x and also 1.2.x

[2016-10-17 05:10] davidopp commented on #25320
I think @kevin-wangzefeng may have started working on it, so you should check with him.

What I proposed was that empty toleration key (empty string) means "match all keys"
I think it would only make sense to use it with Exists operator (so it means "match all values and all keys"), so we would check that in validation.

[2016-10-17 05:25] k82cn commented on #34820
/cc @kubernetes/kube-proxy

[2016-10-17 05:33] MrHohn commented on #34883
How did you delpoy the `heapster`? Could you also show the output of `kubectl get deployment  --namespace=kube-system`?

And for the output of `kubectl get pods -o wide --namespace=kube-system`, did you just paste partial of it? I wonder what were the statuses of `kube-proxy`s.

[2016-10-17 05:41] IanLewis opened #34919 "federation/deploy/deploy.sh create_federation does not create needed secrets"
I created a cluster (1.4.3) on GCE using kube-up.sh and then followed instructions on deploying the federation control plane -> http://kubernetes.io/docs/admin/federation/

After running deploy.sh deploy_federation the `federation-apiserver-credentials` and `federation-controller-manager-kubeconfig` secrets are not created in the `federation` namespace. The API server and controller do not start w

[2016-10-17 05:41] IanLewis commented on #34919
@madhusudancs

[2016-10-17 05:47] Deepak1100 opened #34920 "failed to fit in any node"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
failed to fit in any node Insufficient CPU
scheduler and other

---

**Is this a BUG REP

[2016-10-17 05:56] laverite opened #34921 "Number of Pods > Requested Replicas and Pods Dying with Canary"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): canary, too many pods, pods dying, label selector

---

**Is this a BUG REPORT or FEA

[2016-10-17 06:03] k82cn commented on #34886
@AdoHe , I'd like to try it; would you help me?

[2016-10-17 06:08] andyxning opened #34923 "Get host ip via environment variable inside Kubernetes containers"
In pure docker environment, we can run ```docker run --env HOST_IP=`hostname -i` nginx /bin/bash``` to pass the host ip as `HOST_IP` environment variable into container. This is because this command is run under a shell and `hostname -i` is first substituted with the host ip, then the actual command to run the container is `docker run --env HOST_IP=192.168.1.1 nginx /bin/bash`.

However, under Kub

[2016-10-17 06:13] jingxu97 commented on #29903
Hi @stono, sorry for the inconvenience. I think delete the pods and then recreate  them should solve the problem. Please let me know if it is not working or you have other issues for doing this way.

The fix for this problem is currently under review #34859.

[2016-10-17 06:19] jingxu97 commented on #29903
Also @stono, if you want to make sure, I can help take a look at your logs to double check the root cause of your issue. You can share your cluster information (project name, cluster name, zone) to my email jinxu@google.com or slack on @jinxu if it is ok. Thanks!

[2016-10-17 06:39] zreigz commented on #29307
You should use the following command to delete hello-node:
`
kubectl delete deployment hello-node
`
It is described here:
https://github.com/kubernetes/kubernetes/issues/23406

[2016-10-17 06:49] krmayankk commented on #33845
@kargakis started working on this. Still new to this community. I had raised this earlier, but how does one get an issue assigned, since before its assigned its unclear who is working on it. @caesarxuchao  thanks for the pointers. I  have started looking into your PR for RC as reference. One question , what is the controller-ref-manager and do you think adding a controller ref for ReplicaSets/Repl

[2016-10-17 06:57] k82cn opened #34924 "Move "mesos/docker" cloud provide into kube-mesos-framework."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Kubernetes version** (use `kubectl version`):
master

**Description**:
Currently, the `contrib/mesos` has been moved to https://github.com/kubernetes-incubator/kube-mesos-framework/ , so the `mesos/docker` cloud provider can not work with Mesos because of lacking of `km` .

The proposal is to move `mesos/docker` cloud pr

[2016-10-17 07:00] krmayankk commented on #33845
@caesarxuchao it seems we would also need a ReplicaSetControllerRefManager, is this design explained somewhere in the proposals. Was there a possibility of a more generic design which would do this based on controllerRef and not need specific refManagers ?

[2016-10-17 07:24] BoriszhangSec commented on #34883
@MrHohn thanks for reply
i deploy k8s on mesos
proxy status: all node proxy is running
ps -ef | grep 'km proxy'
root     13586 10556  0 15:11 pts/2    00:00:00 grep --color=auto km proxy
root     25396 25367  0 10月13 ?      00:51:29 /var/lib/mesos/slaves/a3ab587e-eeea-4c9e-a252-3e9163694aa5-S3/frameworks/a3ab587e-eeea-4c9e-a252-3e9163694aa5-0000/executors/4d0d8c7d2142cd35_k8sm-executor/runs/98a4cb

[2016-10-17 07:28] sttts commented on #34839
Overlapping with https://github.com/kubernetes/kubernetes/issues/32792

[2016-10-17 07:29] bboreham commented on #33798
Presumably because you are calling it in a context where the search path does not include `.svc.cluster.local`. This is working as defined.

On the `bridge-nf-call-iptables` point, this is exactly what we write into the control file. Can you supply logs from startup of the `weave` container when this is not working?

[2016-10-17 07:30] bryk commented on #33698
@MrHohn Dashboard UI can run as a Deployment.

[2016-10-17 07:39] k8s-merge-robot opened #34926 "kubernetes-e2e-gci-gke-prod-parallel: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-parallel/1141/

Multiple broken tests:

Failed: [k8s.io] Services should serve multiport endpoints from pods [Conformance] {Kubernetes e2e suite}

[code]

Issues about this test specifically: #29831

Failed: [k8s.io] Deployment RollingUpdateDeployment should scale up and down in the right order {Kubernetes

[2016-10-17 07:39] errordeveloper opened #34927 "kubeadm pre-flight output message needs fixing"
[code]

Firstly, it has some typos. Secondly, it doesn't tell the user how to skip the checks.

I'd like it to look more like this:

[code]

[2016-10-17 07:40] errordeveloper commented on #34884
Yes, I also would like to fix https://github.com/kubernetes/kubernetes/issues/34927.

[2016-10-17 08:18] pcorpet opened #34930 "Automatically detect switf url on OpenStack does not cope with multiple object stores"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

openstack swift
openstack swift_server_url

---

**Is this a BUG REPORT or FEATURE

[2016-10-17 08:25] pires commented on #34927
This output is not like this anymore. Did you run the latest in master?

[2016-10-17 08:26] wernight commented on #34453
That mount error didn't appear on another test on another project, so possibly it was a temporary fluke.

I get: `Service "foo" is invalid: spec.clusterIP: Invalid value: "": field is immutable` like on issue #11237 . You say one can read-modify-write, just I don't see that on [kubectl replace](http://kubernetes.io/docs/user-guide/kubectl/kubectl_replace/). Do you mean to manually retrieve it the

[2016-10-17 08:40] k8s-merge-robot opened #34932 "kubernetes-kubemark-gce-scale: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/1491/

Run so broken it didn't make JUnit output!

[2016-10-17 08:54] vefimova commented on #32829
hey, I'm working on this one.

[2016-10-17 09:01] feelobot opened #34933 "Federated Cluster Sets"
**FEATURE REQUEST:**
- As a kube administrator, I would like to run a tool that exists once on every cluster. Much like a DaemonSet, but instead of one on each node, one on each cluster that is registered to the federated api server.

**Why?:**
Lets say I have a tool like https://github.com/Vungle/chef-synk it communicates to both a chef server and a kubernetes api in order to add/remove chef node

[2016-10-17 09:08] mikkeloscar opened #34934 "federation: running `make` should only build and not setup a cluster on GCE."
**FEATURE REQUEST/IMPROVEMENT**

**What happened**:

I'm hacking on the federation stuff and running `make` inside the [federation folder](https://github.com/kubernetes/kubernetes/tree/master/federation). This will not only build binaries and hyperkube image, but it will also push the image to gcr and setup a cluster in GCE based on your current gcloud context.

**What you expected to happen**:

I

[2016-10-17 09:27] yuexiao-wang opened #34936 "Miss to call Unlock in TestHammerController"
**Kubernetes version** (use `kubectl version`):
The latest

**What you expected to happen**:
when call Lock(), we need to call Unlock()

I have send a PR to fix this issue and PTAL.

Signed-off-by: yuexiao-wang wang.yuexiao@zte.com.cn

[2016-10-17 09:32] wojtek-t opened #34938 "Requests retried after 429 are not being throttled by client"
When we are issuing a request to apiserver from client, this is being throttled according to client-specific throttler:
https://github.com/kubernetes/kubernetes/blob/master/pkg/client/restclient/request.go#L854

However, if we get 429 error from apiserver, the retry of it is not being throttled:
https://github.com/kubernetes/kubernetes/blob/master/pkg/client/restclient/request.go#L798

This means,

[2016-10-17 09:43] kargakis commented on #33845
@krmayankk the issue is already assigned to you. @caesarxuchao, me, and anyone from @kubernetes/deployment can help with reviews.

[2016-10-17 09:56] luxas commented on #34884
We should aim to get the release out of the door today.
I think we'll manage without #34927, but #34719 and #34907 need to get merged.

Please fix the rebase failure and I'll merge it.

[2016-10-17 10:04] pires commented on #34884
Agreed.

[2016-10-17 10:04] tazjin opened #34940 "ReplicaSet created phantom pod"
**Is this a request for help?**

No, we worked around it but I'm suspicious that it may be a bug.

**What keywords did you search in Kubernetes issues before filing this one?**

Lots of things, like `ReplicaSet`, and more general search on the issue tracker using Google. There are some issues that I think may be related but aren't exactly this problem: #29735, #1892

---

**Kubernetes version**

[

[2016-10-17 10:06] #34900 closed

[2016-10-17 10:16] errordeveloper commented on #34927
@pires, thanks, will check latest.

[2016-10-17 10:24] hus787 opened #34941 "Pods stops responding"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: GCP

**What happened**:

After sustained running for around a weeks the pods stopped serving any request. Ssh-ing into the instance curl-ing the IP of the pod didn't respond to the request. The service was

[2016-10-17 10:27] rbtcollins commented on #32543
@MikaelCluseau perhaps I should open a new issue, to avoid taking this one sideways?

I'm obviously missing something - how do I make sure I've only handed out the cert to the desired pod if the pod is just using an emptyDir volume itself? Presumably the pod is then asking the CA for the cert directly - but it has nothing with which it can proove its identity except its IP address - and if we're a

[2016-10-17 10:52] wojtek-t opened #34943 "Addon-manager is using 1.3.0-beta.2 kubectl"
Addon-manager is using 1.3.0-beta.2 version of kubectl:
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/addon-manager/Makefile#L23

This seems bad for the component that we are running in production. We should update it to at-least non-beta version, and probably to 1.4.x something.

[2016-10-17 10:53] wojtek-t commented on #34943
@kubernetes/sig-cluster-lifecycle

[2016-10-17 11:11] MikaelCluseau commented on #32543
@rbtcollins for now, the discussion volume on this is ok I think, and if we get a conclusion it may help API design; but if it begins to be long debate then yes, I'm in favor of another issue. For the initialization pod auth, I was thinking of the service account (http://kubernetes.io/docs/user-guide/accessing-the-cluster/#accessing-the-api-from-a-pod): that should allow you to rely on the existin

[2016-10-17 11:15] errordeveloper commented on #34884
Ok, turns out I've used an old build when I created #34927. Pre-flight check errors look ok when I build from master.

[2016-10-17 11:16] errordeveloper commented on #34927
Ok, so new output format looks like this:
[code]

I still think we should add suggestion about the flag.
[code]

Also, I we should indicate alpha status.

[2016-10-17 12:21] aveshagarwal commented on #25320
@davidopp thanks, its ok with me if @kevin-wangzefeng is working on it, so I will leave it to him.

Is someone working on "NoScheduleNoAdmit" implementation too, as I haven't seen it any PR? In case no, I would be happy to help with it.

[2016-10-17 12:32] a-robinson commented on #19405
It should be a daemonset soon. For more context, see #23306 and #32088

[2016-10-17 12:44] sandys commented on #16508
guys - quick question. Will hyperkube include infrastructure for self-update (just like heroku-cli https://github.com/heroku/cli) . There have been other similar projects based on heroku cli - https://github.com/sanbornm/go-selfupdate, https://equinox.io/ , etc

One of the big challenges today is to figure out how to update k8s in production. Currently, the best is the hyperkube based coreos instr

[2016-10-17 12:55] jayunit100 commented on #34938
Isn't there the backoff manager command line option for apiserver?  default is set to zero iirc....

[2016-10-17 13:03] wojtek-t commented on #34938
Isn't there the backoff manager command line option for apiserver? default is set to zero iirc....

I don't understand how this is related. Backoff-manager by default adds "0" sleep, yes. But this has nothing to do with the bug reported above.

[2016-10-17 13:15] pires commented on #34927
As per pre-flight checks PR, alpha warning only shows up on errors other than pre-flight ones.

[2016-10-17 13:31] MikeSpreitzer commented on #34909
I thought the point of kubeadm was to make `/cluster` obsolete.  I support that.  But kubeadm is still in alpha and `/cluster` is not dead yet.  I have a PR in progress for `/cluster/ubuntu` right now.  Let's not jump the gun.  In general, for the sake of users, there should be a transition period during which both the new and the old work and are supported.

[2016-10-17 13:34] MikeSpreitzer commented on #34909
It is also true that I have not had time to follow the cluster-lifecycle work closely.  Is it intended that kubeadm not address provisioning?  What is the vision for how that would be done, in the glorious future?

[2016-10-17 13:36] pires commented on #34909
Related question, is there such a thing as a Provision API?

[2016-10-17 13:40] zefciu commented on #32398
After some debugging I find that even on the side of apiserver the object's JSON is correctly patched in patchResource method. The problem must be on deeper level. Still looking.

[2016-10-17 13:41] craigbox opened #34949 "kubeadm doesn't work on GCE"
The [getting started guide for kubeadm](http://kubernetes.io/docs/getting-started-guides/kubeadm/) assumes you will use a CNI plugin, and kube-dns will crash-loop until you have one installed.

If you are on GCE, you shouldn't need a CNI plugin; you should be able to use kubenet, but kubeadm today only supports add-on networks.

[2016-10-17 13:43] gmarek commented on #34221
@mml - this is flaking less than once a week (broken test runs doesn't count), by our policy it's P2.

[2016-10-17 13:55] bboreham commented on #30681
Can this be closed since 1.4.0 updated the base CNI version?

[2016-10-17 13:57] bboreham commented on #32595
I believe this was fixed in 1.4.

[2016-10-17 14:08] thejaay opened #34950 "Common.sh incorrect directory for some commands"
Hi,

I'm working on a fresh CoreOS installation, juste followed basic steps and did the following comands :
$cd ~
$git clone https://github.com/GoogleCloudPlatform/kubernetes.git
$sudo su
# cd kubernetes/build
# ./release.sh

====>
+++ [1017 13:34:19] Verifying Prerequisites....
cp: cannot stat 'build/build-image/Dockerfile': No such file or directory
!!! Error in ./../build/common.sh:424
  'cp bu

[2016-10-17 14:11] aveshagarwal commented on #34508
@derekwaynecarr

[2016-10-17 14:14] errordeveloper commented on #34884
Now that we have all PR merged, we need to agree on the process. First of all we need to release latest binaries into the unstable channel, so we can test end-to-end from packages. I believe we have a URL for binaries built in CI, who know what it is should make a PR to update [the URL](https://github.com/kubernetes/release/blob/05117a866c69619f426045bc05b01da12b7548b0/debian/xenial/kubeadm/debian

[2016-10-17 14:19] hus787 commented on #34941
Dirty hack to get this thing to go away temporarily. Downgrade and upgrade the version of your  k8s.

[2016-10-17 14:20] hus787 commented on #34312
https://github.com/kubernetes/kubernetes/issues/34941#issuecomment-254220870

[2016-10-17 14:41] pires commented on #34884
I definitely agree we must test all scenarios manually before releasing. If we can’t, we shouldn’t release.

[2016-10-17 14:43] k8s-merge-robot opened #34953 "TestStoreWatch {registry}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/18196/

Failed: TestStoreWatch {registry}

[code]

[2016-10-17 14:43] timothysc commented on #34938
Wait, we added the exponential back-off on 429 for exactly this reason.. what happened to that code-path?

[2016-10-17 14:47] quinton-hoole commented on #26725
@shashidharatd Has volunteered to take this one.  Thanks Shashi!

[2016-10-17 14:51] fangli1211 opened #34954 "iptables no longer found in PATH on DCOS"
from proxy.log using v1.4.3, running on the DCOS 1.9

**Unable to create proxier: failed to initialize iptables: error creating chain "KUBE-PORTALS-CONTAINER": executable file not found in $PATH:
Flag --resource-container has been deprecated, This feature will be removed in a later release**

[2016-10-17 14:54] pmorie commented on #34738
@bprashanth There are already fakes for cloud provider.  All the dependencies are there to integration test this controller, we basically just need for someone to have time to go and do it.

[2016-10-17 15:02] wojtek-t commented on #34938
@timothysc - this is not about exponential back-off. This code still exists.
The problem is that if we are retrying a request (as a result of exponential backoff), this is not being throttled (and in my opinion it definitely should).

[2016-10-17 15:03] luxas commented on #31937
Here we go: #34906

[2016-10-17 15:07] wojtek-t commented on #34938
In other words, if a bunch of requests from one client will get 429s, then in the upcoming second we can end up issuing more the QPS limit requests per second from this client (<qps-limit> new requests, a bunch of retries from the previously failed with 429 ones).

[2016-10-17 15:07] quinton-hoole commented on #34575
Awesome!  Thanks @shashidharatd

[2016-10-17 15:09] Buzer commented on #34886
Document was fixed in upstream with https://github.com/projectcalico/calico/pull/97

The issue was apparently that the "---" was followed by a space. YAML standard doesn't seem to be completely explicit if this is okay or not.

[2016-10-17 15:12] luxas commented on #34915
Just edit `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf`

@kubernetes/sig-cluster-lifecycle

[2016-10-17 15:15] timothysc commented on #34938
Agreed, but I could have sworn we should have jittered the back-off to prevent the re-flooding.

I suppose we'll also need to backoff the qps limits too.

[2016-10-17 15:18] roberthbailey commented on #34943
@jessfraz @saad-ali

This appears to be another place we need to keep up to date as we cut newer releases.

[2016-10-17 15:25] errordeveloper commented on #34884
cc @mikedanese @dgoodwin

[2016-10-17 15:28] mikedanese commented on #34943
I need to cut another release that contains a version of kubectl with --prune. It's it also important to cut a release that uses v1.4? Is it causing issues?

[2016-10-17 15:28] eschwartz opened #34956 "kubelet failed to restart: "crypto/tls: failed to parse certificate PEM data""
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
- "crypto/tls: failed to parse certificate PEM data"

---

**Is this a BUG REPORT or

[2016-10-17 15:29] maci0 commented on #5607
I don't think it has been implemented yet. But it seems what @therc wants to do has.
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go has some nvidia stuff.

It's still missing support for other devices.
It used to work in docker with volume mounts, my guess it when they introduced --device they locked down the volume mounts using device cgroups
https://www.kernel.org/doc/Docu

[2016-10-17 15:44] #26079 closed

[2016-10-17 15:45] luxas commented on #34884
The packaging scripts in kubernetes/release now uses the latest version: https://github.com/kubernetes/release/pull/160

When you've verified they are working properly, @mikedanese should push them to unstable and stable

[2016-10-17 15:57] pires commented on #34884
@dmmcquay please test as well and provide your feedback here.

[2016-10-17 16:09] k82cn commented on #34516
Is that urgent? I'd like to try this one and pick up related knowledge :).

[2016-10-17 16:23] eparis commented on #34516
It's not super urgent for this release, I think we'd be happy to see someone get it!

[2016-10-17 16:45] ymqytw commented on #34800
The root cause is that PATCH doesn't support multiple maps share the same key in one single list. In this case, 2 items share key `vol` in list `volumeMounts`.
When applying a patch to a list of maps on the API server, it needs a merge key to find which item to apply to. In this case, the patch is applied to the first item with key `vol` that turns out to be wrong.

[2016-10-17 16:50] caesarxuchao commented on #32829
Thanks @vefimova!

[2016-10-17 16:50] jessfraz commented on #34943
Oh interesting do you think the release script should change the version here as well, or maybe this should be pulled from some sort of version file so it's always in sync

[2016-10-17 16:50] alena1108 commented on #33588
@janetkuo @AdoHe is it possible to include this fix to one of the 1.4 releases? We'd really like our users to have of k8s alpha features (Scheduled jobs is one of them) that can be configured only using 1.4 client; w/o them potentially hitting this regression.

[2016-10-17 17:06] jsravn commented on #29735
From the code, it looks like deployment api generates an adler-32 checksum of the pod template, then uses that to create a new replicaset `deploymentname-<hash>`. If that hash already exists, it barfs with the controller-manager loop.  So it looks to me, from a quick read, as simply a hash collision handled poorly. This seems to mirror what I'm seeing, since it only happens on deployments with a h

[2016-10-17 17:10] jbeda commented on #33910
This will be resolved as we implement the stuff out of #30707

[2016-10-17 17:18] piosz commented on #34713
This was moved to flaky suite. Decreasing priority

[2016-10-17 17:20] spxtr commented on #20646
It's cleaned up and we've made steps to keep it from happening again. Please open a new issue if this reoccurs.

[2016-10-17 17:20] #20646 closed

[2016-10-17 17:21] #34816 closed

[2016-10-17 17:22] erictune commented on #34377
@tnachen Agree about prioritization.  I think we have several avenues we can pursue for fairness/elasticity, so we don't need to block on it.

[2016-10-17 17:25] kargakis commented on #29735
@jsravn I don't think you would get a hash collision even with >100 deploys (not sure where Adler starts to fail though). Even the slightest change in the pod template changes the hash. Can you provide the pod template of the existing replica set that blocks the deployment controller and also the latest state of your deployment?

I think this issue is simply us not handling AlreadyExists errors wh

[2016-10-17 17:36] jbeda commented on #16508
Wow -- there are a lot of things being conflated in this issue.

* [from @karlkfi] Mega controller manager.  I agree that we should make it easier to do things like add new controllers (or disable some).  The single controller manager is a nod toward efficiency with things like unified watch caches.  But this is all a separate issue form this.
* Single process Kubernetes -- hyperkube is not about

[2016-10-17 17:39] bprashanth commented on #29055
@bowei Hmm, you are a member of the Kubernetes org but I can't assign the bug to you. I think you got unassigned on my last comment, perhaps because you jumped in/out of membership somehow?

[2016-10-17 17:43] spxtr commented on #34879
The timeout is 480 minutes but it takes about [400 minutes](https://k8s-testgrid.appspot.com/google-gke#gci-gke-test&graph-metrics=test-duration-minutes&include-filter-by-regex=Overall) on average. That should be bumped up.

[2016-10-17 17:47] ncdc commented on #22609
@timothysc yes, it still exists. We have an endpoint reconciler for the kubernetes service in OpenShift that uses etcd 2's key ttl mechanism to maintain a lease. If an apiserver goes down, one of the remaining members will remove the dead backend IP from the list of endpoints. If we can agree on a mechanism to do this in Kube (there were some concerns about etcd key ttl), I'd be happy to put toget

[2016-10-17 17:48] jingxu97 commented on #19593
@saad-ali @thockin should we put a note for this in the doc?

[2016-10-17 17:48] pweil- opened #34963 "PSP usability subresources"
Creating follow up issue for https://github.com/kubernetes/kubernetes/pull/33080#issuecomment-249038736

Create subresources for PSP usability items:

"use" subresource on the PodSecurityPolicy object that returns 200 if you are authorized to use that PSP, and 403 if you are not.

"match" subresource on a PodSecurityPolicy object that takes a Pod and returns 200, plus a JSON message that says "mat

[2016-10-17 17:52] Random-Liu commented on #33189
Seems not. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-cri/855
[code]

[2016-10-17 17:59] griffinkelly commented on #34920
I am having this exact same issue.

[2016-10-17 18:03] DanHoerst opened #34964 "Leader election errors in >=1.4.0 clusters"
**Kubernetes version** (use `kubectl version`):
Seen in both 1.4.0 and 1.4.3. Do not see the issue in <1.4.0 - which makes sense since the referenced code `leaderelection.go:317` does not exist pre-1.4.0.

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CoreOS beta-1185.1.0
- **Kernel** (e.g. `uname -a`): `Linux master 4.7.3-coreos #1 SMP

[2016-10-17 18:03] mikedanese commented on #34884
@luxas debs are pushed automatically to stable. We need to pick a point to tag unstable as new stable.

[2016-10-17 18:11] wojtek-t commented on #34932
I was experimenting with significantly larger kubemark clusters (4000-node ones). I had to manually kill few runs due to different problems. All of these belong to this category. So this is WAI.

[2016-10-17 18:11] #34932 closed

[2016-10-17 18:13] vishh opened #34965 "cAdvisor leaking journalctl processes"
Extracted from https://github.com/kubernetes/kubernetes/pull/23491#issuecomment-251777767

[code]

https://github.com/kubernetes/kubernetes/pull/23491 set kubelet unit files to restart just the kubelet process and this ends up orphaning and leaking `journalctl` processes launched by cAdvisor.
AFAIK, this behavior can leak many other processes like `du`, `ls`, `mount`, etc.

@kubernetes/sig-node we

[2016-10-17 18:13] vishh commented on #34965
Assigning to @dchen1107 to find an appropriate owner.

[2016-10-17 18:18] mikedanese commented on #34884
I think we should pick the v1.5-alpha.2 release for this, not a ci build off master. We should be tapping into the main kubernetes release cycle now that we are in the main repository.

[2016-10-17 18:25] vishh commented on #34965
cc @saad-ali @rootfs we need to come up with a better solution for https://github.com/kubernetes/kubernetes/pull/23491#issuecomment-205556234

[2016-10-17 18:27] krousey commented on #34938
@wojtek-t I think the intended mechanism is for the server to respond with 429 and a "Retry-After" header which will be respected here: https://github.com/kubernetes/kubernetes/blob/master/pkg/client/restclient/request.go#L822 pulled from here: https://github.com/kubernetes/kubernetes/blob/master/pkg/client/restclient/request.go#L1038

[2016-10-17 18:29] vishh commented on #34965
Reverting #23491 might cause storage issues. So let's find out a better solution.

[2016-10-17 18:31] pwittrock commented on #34800
I agree with Tim.  PATCH is really broken and I am not certain there is any benefit in using patch with edit since the use case is very different than with apply.  I think we would actually want the optimistic locking failures to be surfaced to the user instead of ignore them since the user expects to write the complete state with edit.  Lets switch edit to use Replace and add this to the list of

[2016-10-17 18:33] wojtek-t commented on #34938
@krousey what you wrote we already have. But then we still can end-up with significantly more requests send out from a given client than its qps limit/burst is.
See https://github.com/kubernetes/kubernetes/pull/34939 for the fix I am suggesting.

[2016-10-17 18:45] mikedanese commented on #34884
@saad-ali when are you planning on cutting v1.5-alpha.2 ?

[2016-10-17 18:51] mikedanese commented on #34909
kubeadm is not meant to replace cluster/. kubeadm has a much smaller scope than the tooling in cluster.

Tools like terraform/deployment manager/cloudformation tackle this. Is out of scope of k8s to solve this generally but some specific examples would be good. kubernetes-anywhere [phase1s](https://github.com/kubernetes/kubernetes-anywhere/tree/master/phase1) are examples of simple provisioning us

[2016-10-17 18:53] luxas commented on #34884
v1.5.0-alpha.1 just got released, so we should **not** wait ~2 weeks for the next release for this.

This time a commit is ok, but for the next time, sure

[2016-10-17 18:56] xjlu opened #34968 "Variable expansion doesn't work with valueFrom"
**Kubernetes version** (use `kubectl version`):

client version: v1.3.6
server version: v1.4.1

**Environment**:
- **Cloud provider or hardware configuration**: aws
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
I wanted to build one new URL from a saved secret, but the variable expansion doesn't work. The `env` in the c

[2016-10-17 18:59] mikedanese commented on #34884
According to the release calendar there should be a v1.5-alpha.2 today. I think v1.5-alpha.1 slipped a week. Is that correct @saad-ali ?

[2016-10-17 19:00] mikedanese commented on #34884
Oops misread. Looks like next one is on 10/31.

[2016-10-17 19:04] imkin commented on #34039
@kerneltime

[2016-10-17 19:11] k8s-merge-robot opened #34970 "[k8s.io] Networking [k8s.io] Granular Checks: Pods should function for node-pod communication: http [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws-updown/2695/

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Pods should function for node-pod communication: http [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #33631 #33995

[2016-10-17 19:17] chakri-nelluri commented on #32543
Update: Docker API is very minimalistic as of today. We were interested in extending the API to have an uniform interface between Docker & Kubernetes. Talking to Docker, learnt that the existing volume plugins approach of centralized controller (and remote attach/detach calls) might not be a fit for Docker & Swarm architecture.

Given that and the slew of new features we have in pipeline(ex: snaps

[2016-10-17 19:19] yujuhong opened #34974 "CRI: clarify the podsandbox resources cleanup behavior"
Today kubelet examines containers periodically, and tries to stop/remove/create containers to meet the desired states of the pods. Kubelet is also responsible for reclaiming network resources (by calling `TearDownPod`) when they are no longer needed.

**How is this different with CRI?**

In CRI, instead of assuming an “infra container” , we opt for a more generic pod “sandbox” concept, and leave t

[2016-10-17 19:28] yujuhong commented on #33189
Uh...is this error unique to the CRI suite? "Resource temporarily unavailable" seems generic enough that it could've happened in other integration too...

[2016-10-17 19:37] bprashanth commented on #34738
Lets see if we can do this post code-freeze in 1.5

[2016-10-17 19:53] aegixx commented on #5017
@etotheipi Any update on the progress you made?  Any link to the work-in-progress?  I'm willing to help with this effort.

[2016-10-17 19:56] bgrant0607 commented on #16337
Also related to #10179

[2016-10-17 20:12] dims commented on #34956
@eschwartz Do you have --cert-dir in the kubectl command line? (or --tls-cert-file and --tls-private-key-file?) if it's cert-dir, do you have kubelet.crt/key files? (do they exist, do they look all right?) same questions if you have the specific files listed on the command line as well.

[2016-10-17 20:15] pwittrock commented on #34800
@ymqytw Is the problem that the merge key is 'vol' and there are multiple items with the same merge key in the list?

[2016-10-17 20:22] fabianofranz opened #34977 ""Unable to register third party resources" in kubectl help"
With a Kube server down, any request for cmd help in `kubectl` prints the unexpected message "Unable to register third party resources: Get https://<host:port>/api: dial tcp <host:port>: getsockopt: connection refused".

[code]

Help commands are not supposed to perform API requests, not even to fetch the API resources.

Kubernetes version: latest master, currently `GitVersion:"v1.5.0-alpha.1.416+

[2016-10-17 20:22] fabianofranz commented on #34977
@kubernetes/kubectl

[2016-10-17 20:24] fabianofranz commented on #34977
@AdoHe @deads2k I didn't investigate yet but this might be related to the discovery RESTMapper in https://github.com/kubernetes/kubernetes/pull/34854 or the Factory refactoring in https://github.com/kubernetes/kubernetes/pull/33180.

[2016-10-17 20:24] chrislovecnm opened #34978 "Improve Cassandra Example"
Inside of K8s IP addresses are transient.  C\* expects fixed IP addresses.  I have an idea that needs to be tested. We may be able to use data on a PV and the C\* option `-Dcassandra.replace_address` when a pod is restarted, the C\* ring may adjust automatically.

[2016-10-17 20:25] chrislovecnm commented on #34978
@erictune do you want to assign this to me and label with C* example?

[2016-10-17 20:34] eschwartz commented on #34956
yes -- I ran `systemctl cat kubelet`, and found that it is started with:

[code]

So I looked in `/etc/kubernetes/ssl/`:

[code]

That's weird... all those files are empty. And the date created time is marked as today (~19hrs after kubelet failed, probably around the time that I tried restarting kubelet).

Looking at the kubelet service, I see that the CoreOS unit actually executes a wrapper aroun

[2016-10-17 20:34] deads2k commented on #34977
This message isn't usually important since TPRs are rare.  opened https://github.com/kubernetes/kubernetes/pull/34981 to glog this message.

[2016-10-17 20:35] pipejakob commented on #33930
Although I can't assign this to myself, I was going to take a stab at this.

/dibs

[2016-10-17 20:39] ymqytw commented on #34800
@pwittrock Yes. Patch will apply to the first item that matches the merge key.

[2016-10-17 20:48] eschwartz commented on #34956
I copied the certs over from `/etc/kubernetes/ssl/` on another working node into the failing node, and restarted kubelet. And it came back up -- the node is back online.

This tells us _what_ happened (the certs were destroyed, so it couldn't restart), but not _why_ the certs were destroyed, or why kubelet failed in the first place.

[2016-10-17 20:49] pwittrock commented on #34800
@saad-ali @caesarxuchao This seems like an issue with defining the merge key for the VolumeMounts resource since the merge key must be unique within the list.  Is that correct?

[2016-10-17 20:52] timstclair commented on #32837
@rrati are you working on this issue? Do you have any comments on the solution proposed in https://github.com/kubernetes/kubernetes/issues/32837#issuecomment-253091453?

[2016-10-17 21:03] Random-Liu commented on #33189
I found this in the test `DisruptionController evictions: enough pods, replicaSet, percentage => should allow an eviction`, which is all green in `gci-gce`.

[2016-10-17 21:06] sjenning commented on #31272
I am working on this now.

### Callsite 1
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_getters.go#L255
`(kl *Kubelet) cleanupOrphanedPodDirs()`
`(kl *Kubelet) getPodVolumeNameListFromDisk(podUID types.UID) ([]string, error)`
`util.ReadDirNoExit()`

### Callsite 2
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/volumemanager/reconciler/reconciler.go#L534

[2016-10-17 21:13] huksley commented on #33729
[code]
Using this command. Still experience issues on 16.04:

[code]

[code]

[2016-10-17 21:14] eparis commented on #34822
What happens now is that on provision we copy the secret namespace/name as an annotation onto the `PV`. The reason we do that is so that on de-provision we don't need the `StorageClass` to actually do the de-provision (we still need the secret).

This is suggest we stop copying that information onto the `PV`. If the `StorageClass` or the `Secret` gets deleted you cannot de-provision the `PV`. (Bef

[2016-10-17 21:22] timothysc commented on #32837
not - atm.

[2016-10-17 21:22] ryan-loanpal opened #34982 "Secrets with specific permissions (defaultMode or mode) not being applied in Kubernetes 1.4.0"
**BUG REPORT**

**Kubernetes version:**
client version: 1.4.0
server version 1.4.0

**Environment:**
- Cloud Provider: GCP/GKE (Google Container Engine)
- OS in container: CentOS 7
- Kernel in container: 3.16.7-ckt25-2

**What happened**:
Attempting to use the "defaultMode" or "Mode" permissions option for Secrets recently added in Kubernetes 1.4.0. does not actually apply requested permissions on

[2016-10-17 21:33] timstclair commented on #32837
I'm going to take this then. I want to make sure it's fixed in 1.5.

[2016-10-17 21:33] caesarxuchao commented on #34800
Right, the merge key needs to be unique. Maybe change to use `MountPath` as merge key? It looks to be unique. But it will be a breaking change, I guess the server regards the patch generated by old clients as invalid.

[2016-10-17 21:46] pwittrock commented on #34800
@thockin Patch definitely has its share of issues.  It sounds like the one you encountered here is actually an issue with how VolumeMount is implemented.  I still think there is little value with using patch for edit generally beyond catching these sorts of issues.

[2016-10-17 21:47] k8s-merge-robot opened #34985 "kubernetes-e2e-gke-staging: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6555/

Run so broken it didn't make JUnit output!

[2016-10-17 21:47] k8s-merge-robot opened #34986 "kubernetes-e2e-gke-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13801/

Run so broken it didn't make JUnit output!

[2016-10-17 21:47] dims commented on #34956
@eschwartz if you were using cert-dir, then there was a worry about the automatic cert generation clobbering the existing files. But since you are using --tls-cert-file and --tls-private-key-file, it's not kubelet itself that could have clobbered the files (since it just reads the files when those 2 options are set).

[2016-10-17 21:49] sferich888 commented on #31613
Does https://github.com/kubernetes/kubernetes/issues/17226 need to be linked to this too?

[2016-10-17 21:49] sferich888 commented on #17226
cross linking https://github.com/kubernetes/kubernetes/issues/31613

[2016-10-17 21:54] pwittrock commented on #27454
@wu8685 @fabianofranz Can we close this issue now?

[2016-10-17 21:54] dashpole commented on #33444
It appears the only time that we report an incorrect NodeFs or ImageFs is when using GCI because we look first at "/", rather than "/var"

[2016-10-17 21:57] pwittrock commented on #28695
@ardnaxelarak @brendandburns Should we close this and create another issue for remaining items?  Would printing a message about the --quiet flag when running without --quiet be sufficient?

[2016-10-17 21:59] pwittrock commented on #31267
Splitting it up SGTM.

[2016-10-17 22:01] erictune commented on #34776
@mml @davidopp @ko3ns talked about this just now.  Summary:

- Eric would be fine with replacing maxUnavailable with minAvailable, or with having both.
- If you chose to not change or add, consider at least making maxUnavailable optional for 1.5, so it is easier to change later.
- The API would be useful, but tricky to implement, so we don't want very many apps to have to serve such an API.
-  We

[2016-10-17 22:02] erictune commented on #34776
@mwielgus leave it up to you what to do.

[2016-10-17 22:02] davidopp commented on #34782
recording for posterity: the reason we don't need to wait for pods to reschedule before moving on to the next node when draining, is that the disruption budget itself will prevent evicting more pods from until the ones from the drained node have rescheduled and are ready (if such evictions would be unsafe).

[2016-10-17 22:02] kargakis commented on #34977
I wouldn't expect TRP to be rare in the future.

[2016-10-17 22:04] davidopp commented on #34782
(but the thing described in the first entry in this issue, and implemented in #34778, is necessary, because otherwise it's not safe to shut down the machine / remove the VM, since the containers may be in their graceful termination period)

[2016-10-17 22:09] danielfrg commented on #33544
I am still having this issue even after disabling SELinux. I am trying this on EC2 on CentOS 7.2 with ami: `ami-6d1c2007`. Ubuntu 16.04 worked perfectly.

Are the new pkgs available on: `http://yum.kubernetes.io/repos/kubernetes-el7-x86_64` or should I be using a different repo?

It does hang in the same step `waiting for 'control plane'` but I don't even get any docker containers running (from `d

[2016-10-17 22:11] pwittrock commented on #29115
@AdoHe Is this something you are working on or should I add it back to the list of items for new contributors?

[2016-10-17 22:12] #31702 closed

[2016-10-17 22:12] pwittrock commented on #33065
@xingzhou Any updates?

[2016-10-17 22:13] kargakis commented on #34776
Let's keep this as simple as possible. I would prefer to replace.

We already use Available in Deployments and RC/RS which is Ready+MinReadySeconds. Once we push MinReadySeconds down to Pods and add an Available condition it will be clearer what "available" means cc: @bgrant0607

[2016-10-17 22:29] spxtr commented on #34986
suspicious, no build log

[2016-10-17 22:30] danielfrg commented on #33544
Actually I just made it work. There is a small difference between CentOS and Ubuntu. In CentOS you have to manually start the kubelet: `systemctl enable kubelet && systemctl start kubelet`. After that everything worked.

[2016-10-17 22:37] duglin commented on #28695
I'd prefer if we didn't make it even more unnecessarily verbose than it already is :-)

[2016-10-17 22:37] hongchaodeng commented on #34709
@wojtek-t @gmarek
Can you share about how to reproduce it?
I didn't know how to run the jenkins builder config from [here](https://github.com/kubernetes/test-infra/blob/9a8f726a3da9dfcd8404fc526a93686c43a86ed3/jenkins/job-configs/kubernetes-jenkins/kubernetes-kubemark.yaml#L155-L188). I have to manually run kubemark.

[2016-10-17 22:40] bgrant0607 commented on #16337
Note that new resources cannot be created in namespaces that are being deleted:
https://github.com/kubernetes/kubernetes/blob/e02b73ff67dd2dbaab18d1c959d9b58de21d415a/plugin/pkg/admission/namespace/lifecycle/admission.go#L162

And we already treat the default and kube-system namespaces specially (and openshift-infra in OS):
https://github.com/kubernetes/kubernetes/blob/e02b73ff67dd2dbaab18d1c959d9

[2016-10-17 22:50] kargakis commented on #34363
cc: @mfojtik

[2016-10-17 22:51] k8s-merge-robot opened #34990 "[k8s.io] Summary API when querying /stats/summary should report resource usage through the stats api {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/10330/

Failed: [k8s.io] Summary API when querying /stats/summary should report resource usage through the stats api {E2eNode Suite}

[code]

[2016-10-17 22:59] kerneltime opened #34992 "vSphere Cloud Provider panics in the absence of a cluster"
Recent changes in master https://github.com/kubernetes/kubernetes/pull/30935 that were pulled into the 1.4 release branch lead to vSphere cloud provider to panic when only a single ESX node is present under a vCenter.

I am in the process of testing and creating a PR for this.

[code]

[2016-10-17 23:02] pbx0 commented on #33825
I have run into the same problem myself. Containerized builds seem to not be setting up the GOPATH correctly. I get this error in non-containerized builds if I don't create my GOPATH properly, but in containerized builds we don't have easy control of how the GOPATH is setup in the container so it doesn't matter how it was cloned originally.

[2016-10-17 23:02] kargakis commented on #23252
@ddysher is this still an issue?

[2016-10-17 23:09] kargakis commented on #22388
cc: @mfojtik

[2016-10-17 23:13] kargakis commented on #21511
We don't anymore

[2016-10-17 23:13] #21511 closed

[2016-10-17 23:17] bgrant0607 commented on #25503
I'm closing this as a dupe of #4630.

[2016-10-17 23:17] #25503 closed

[2016-10-17 23:19] kargakis commented on #14801
@kubernetes/sig-apps

[2016-10-17 23:20] #34915 closed

[2016-10-17 23:26] bgrant0607 commented on #15203
Ref #4630

[2016-10-17 23:31] #34575 closed

[2016-10-17 23:33] imkin commented on #34364
I do not think we should bypass cloud provider. The cloud provider "may not like it". For "small network outages" there could be resilience built that could say "I will retry a few more times "  or "I will retry in few seconds to see if "uncontrollable" events resolve themselves.

[2016-10-17 23:35] saad-ali commented on #34943
+1

[2016-10-17 23:40] timstclair commented on #23411
Fixed with https://github.com/kubernetes/kubernetes/pull/34631

[2016-10-17 23:40] #23411 closed

[2016-10-17 23:43] #34445 closed

[2016-10-17 23:47] mikedanese commented on #34943
I don't think that is a good idea to do in the release script. We would need to do this as part of the ci build. I don't think it's a bad thing that we are using an older version and if we upgrade during a release from v1.3 to v1.4 then there is a huge amount of change that is untested. All of v1.4 alpha window we tested against kubectl v1.3. We have not ran one e2e test against kubectl v1.4.

[2016-10-17 23:52] AdoHe commented on #33588
@alena1108 I will double check this regression, and open a cherry-pick PR.

[2016-10-17 23:54] AdoHe commented on #34886
@Buzer actually this is a regression bug of 1.4, you can refer #33588 for more detail. I will test the old calico document with the master branch.

[2016-10-17 23:58] hongchaodeng commented on #34709
I have a 4k nodes with etcd3 and protobuf running now. Let me see if I could reproduce it.

[2016-10-17 23:59] xiang90 commented on #34709
@wojtek-t How long should we expect to get this reproduced?

[2016-10-18 00:01] yujuhong opened #34999 "CRI: calling TearDownPod with a exited infra container causing errors"
In the default, non-CRI integration, kubelet never calls `TearDownPod` with an exited infra container.
In the new CRI integration, kubelet tries to call `TearDownPod` whenever it needs to start a new sandbox. Because `Pid` of an exited container is always 0 (from `docker inspect`), kubenet cannot get the network namespace for the container by reading `/proc/0/ns/net`. This causes `TearDownPod` to

[2016-10-18 00:01] AdoHe commented on #34977
[code]
yes, I am spending more time to fix TPR outstanding issues.

[2016-10-18 00:05] bgrant0607 commented on #16337
For my own reference: https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/cluster-loadbalancing/glbc

[2016-10-18 00:12] #34794 closed

[2016-10-18 00:22] #31729 closed

[2016-10-18 00:23] k8s-merge-robot opened #35000 "[k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner should provision HDD PD on GCE/GKE {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-multizone/4475/

Failed: [k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner should provision HDD PD on GCE/GKE {Kubernetes e2e suite}

[code]

Previous issues for this test: #34794

[2016-10-18 00:24] quinton-hoole commented on #31624
Fixed by #34652

[2016-10-18 00:24] #31624 closed

[2016-10-18 00:24] spxtr commented on #35000
Fix is merged but hasn't carried over yet.

[2016-10-18 00:24] #35000 closed

[2016-10-18 00:26] dchen1107 commented on #32837
re: @timstclair comment at: https://github.com/kubernetes/kubernetes/issues/32837#issuecomment-253091453

If what you proposed above is limited to two cases: 1) AppArmor enable / disable 2) Pod with configMap exist or not, I think leaving the pod at pending state with proper reason should be fine. The only caveat I could think about is autoscaler. If autoscaler is smarter enough to understand why

[2016-10-18 00:33] yujuhong commented on #34289
Uploaded #34991 to properly run "resource usage tracking tests" on GCI.
Also filed #34999 for a network teardown issue that's been causing many test failures in the cluster e2e serial suite.

[2016-10-18 00:34] k8s-merge-robot opened #35002 "[k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner should provision HDD PD on GCE/GKE {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-multizone/1420/

Failed: [k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner should provision HDD PD on GCE/GKE {Kubernetes e2e suite}

[code]

Previous issues for this test: #34794 #35000

[2016-10-18 00:40] dchen1107 commented on #32837
cc/ @mwielgus on autoscaler

[2016-10-18 00:45] saad-ali opened #35003 "Deduplicate NFS server containers"
There are two NFS server containers in the kubernetes code:
- [kubernetes/examples/volumes/nfs/nfs-data/Dockerfile](https://github.com/kubernetes/kubernetes/tree/master/examples/volumes/nfs/nfs-data)
- [test/images/volumes-tester/nfs/Dockerfile](https://github.com/kubernetes/kubernetes/tree/master/test/images/volumes-tester/nfs)

Instead of maintaining both (nearly identical), I propose removing t

[2016-10-18 00:45] timstclair commented on #32837
It looks like the cluster autoscaler only looks for unscheduled pods. @mwielgus can you confirm that?

[2016-10-18 00:49] imkin commented on #34248
@ZedCode Can you provide your output for iptables also

[2016-10-18 00:54] k8s-merge-robot opened #35004 "kubernetes-e2e-gci-gke: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke/1883/

Run so broken it didn't make JUnit output!

[2016-10-18 01:27] k8s-merge-robot opened #35006 "kubernetes-e2e-gci-gce-etcd3: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-etcd3/1138/

Run so broken it didn't make JUnit output!

[2016-10-18 01:28] asalkeld opened #35007 "Add support for other object types to "kubectl set selector""
**Is this a request for help?**

No

**What keywords did you search in Kubernetes issues before filing this one?**
set selector

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Small FEATURE REQUEST:

When adding "kubectl set selector" I was asked to start simply by only adding support for Services. Once we understand the usecase better we should support for the other object types.

Se

[2016-10-18 01:29] #31984 closed

[2016-10-18 01:34] ZedCode commented on #34248
Hi @imkin imkin,

Sure thing!
Minion 1 - 10.248.30.38
[code]
Minion 2 - 10.248.30.40
[code]
Minion 3 - 10.248.30.37
[code]
Minion 4 - 10.248.30.39
[code]
Master - 10.248.30.36
[code]
Let me know what else I can provide, I haven't had much time to continue troubleshooting this week, but getting this to work would be a really great template for building our bare metal deployment.

Thanks!
ZC

[2016-10-18 01:54] k82cn commented on #34516
That's great :). let me try it.

[2016-10-18 01:58] laverite commented on #34921
user error.  after reading up on replication controllers,  labels and what not this totally makes sense now.

[2016-10-18 01:58] #34921 closed

[2016-10-18 02:04] xingzhou commented on #33065
@pwittrock, I'm still investigating the code at present, but I will try to make a POC first in next week

[2016-10-18 02:12] asalkeld commented on #35007
This will be needed in pkg/kubectl/cmd/set/set_selector.go in the function  updateSelectorForObject()

[code]

[2016-10-18 02:18] oulinbao opened #35009 "PC with 4G memory is down when executing cmd like make or make test on Ubuntu 16.04"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
master branch

**Environment**:
- **Cloud provider or hardware configuration**:
  acer i3 2328, 4G memory
- **OS** (e.g. from /etc/os-release):
  ubuntu 16.04
- **Kernel** (e.g. `uname -a`):
  Linux bao-acer 4.4.0-42-generic #62-Ubuntu SMP Fri Oct 7 23:11:45 UTC 2016 x86_64 x86_64

[2016-10-18 02:19] adg opened #35010 "Surface missing dlls through events"
**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7e0f222d961f4675cd97a46b", GitTreeState:"clean", BuildDate:"2016-09-26T18:16:57Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7e0f222d9

[2016-10-18 02:21] k8s-merge-robot opened #35011 "kubernetes-kubemark-gce-scale: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/1495/

Run so broken it didn't make JUnit output!

[2016-10-18 02:42] bprashanth commented on #35010
I guess the issue here is that there's no way (but for execing into your container and running ldd, right?) for the kubelet to know that your base image lacks those dlls.

[2016-10-18 02:46] adg commented on #35010
Well, the error message doesn't necessarily need to say anything about missing linked libraries. But there should be some way to differentiate between a binary failing to execute and the binary not existing.

The error message

implies the binary is missing, but it's there.

[2016-10-18 03:19] JackTiger opened #35012 "How kube-dns add forward dns in new version of kubernetes? In the before version, I can use this way. SKYDNS_NAMESERVERS - set a list of nameservers to forward DNS requests to when not authoritative for a domain, "8.8.8.8:53,8.8.4.4:53". Overwrite with -nameservers string flag."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-10-18 03:35] thockin commented on #34800
Change the key to mountPath is better.  I'm not sure it's guaranteed
unique, but at least duplicate values there are not useful.

I can send a PR for that.

I 100% agree that `edit` == `replace`.  We should just fix that.  It's
human-centric - patch is too clever.

In this particular case, I'd rather see the whole list replaced, rather
than an attempted patch, anyway.

On Mon, Oct 17, 2016 at 2:46

[2016-10-18 03:41] thockin commented on #19593
SGTM

On Mon, Oct 17, 2016 at 10:48 AM, Jing Xu <notifications@github.com> wrote:

[2016-10-18 03:44] thockin commented on #34453
yeah, `kubectl get -o yaml > file.yml; edit; kubectl replace -f file.yml`.

We know what the bug is, hopefully we can fix it in a 1.4.x

On Mon, Oct 17, 2016 at 1:26 AM, Werner Beroux <notifications@github.com>
wrote:

[2016-10-18 03:48] justinsb opened #35014 "Trust AWS metadata for region"
cf #35013 - when we get the region from the AWS metadata, we should probably assume it is valid, rather than validating against a static list.

[2016-10-18 04:10] saad-ali commented on #34800
unique, but at least duplicate values there are not useful.

Any backwards compatibility concerns?

I think this should be fine. CC @kubernetes/sig-storage

[2016-10-18 04:10] saad-ali commented on #34453
Ref root cause: https://github.com/kubernetes/kubernetes/issues/34800

[2016-10-18 04:28] tatsuhiro-t opened #35015 "watch resync goroutine leak after "401: The event in requested index is outdated and cleared" error"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

watch leak

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG RE

[2016-10-18 04:30] pwittrock commented on #33065
SGTM.

[2016-10-18 04:38] pwittrock opened #35016 "Kubectl edit should use replace instead of patch"
Currently, when using kubectl edit, the end user is presented with the full yaml, makes some changes after looking at it, and then patches the existing yaml.  Just doing a replace and throwing a user facing error on a optimistic lock failure seems like a better approach since this is user facing and the full yaml is present.

[2016-10-18 04:40] pwittrock commented on #34800
File #35016 for the `kubectl edit` to use "Replace" instead of "Patch".  Re-assigned to @thockin for the VolumeMounts changes.  If there are other ux specific items on this feel free to reassign back to myself and @ymqytw .

[2016-10-18 04:40] pwittrock commented on #35016
@ymqytw If this is a simple change I'd prioritize it for sometime this week.

[2016-10-18 05:09] bgrant0607 commented on #27430
On naming:

This is not a Set. The members are ordered and indexed. I agree with @erictune that it's an Array. So, `s/Set/Array/g`.

Deployment, Job, and DaemonSet are named according to use case, not according to mechanism. Therefore, names like NamedArray or IdentityArray are less than ideal.

It's useful to be able to refer to the pods as instances of the group; for example, pods of DaemonSet a

[2016-10-18 05:15] chakri-nelluri commented on #32543
@rbtcollins IIUC that sounds doable :). If you need credentials to talk to your CA, you can use Kubernetes secrets for it. Flex volume will pass the secret in the call outs.

[2016-10-18 05:54] zreigz commented on #30586
I would like take this task. Is it fine for you?

[2016-10-18 06:10] mdshuai opened #35017 "[eviction]Node always keep in DiskPressure when receive nodefs.available signal"
**Kubernetes version** (use `kubectl version`):
v1.5.0-alpha.1.393+57a47b6af50b94-dirty

**What happened**:
Create a pod with **hostpath**, create some large file to trigger nodefs.available eviction, the eviction manger can clean the pod but can't delete the file created by pod. Node will always keep in DiskPressure=True and can't come back.

**What you expected to happen**:
The eviction manager

[2016-10-18 06:11] mdshuai commented on #35017
@derekwaynecarr

[2016-10-18 06:35] wojtek-t commented on #34709
Ohh - actually you should also increase QPS limits:
(--kube-api-qps=100 --kube-api-burst=100 in both scheduler and controller manager).
Also increase set LOAD_TEST_THROUGHPUT=50

And then wait ~30minutes on load test.

[2016-10-18 06:42] kevin-wangzefeng commented on #25320
@aveshagarwal I think it's #34400 (previously #26501), but I didn't get time to take a look yet.

[2016-10-18 07:54] wojtek-t opened #35020 "Kubemark is not mounting master disk"
While running kubemark tests we are facing "no space left on device" problems, because master-disk is not mounted in kubemark.

[2016-10-18 08:05] feiskyer commented on #34999
I think this logic is wrong. Should only call network plugins when it is ready. Trying to fix this in #35019.

[2016-10-18 08:09] nleib commented on #30586
fine by me if you are referring the question to me.

[2016-10-18 08:09] zreigz commented on #30586
I think annotation is good place where I can store the message. Any other idea ?

[2016-10-18 08:15] floreks commented on #34559
It's great to hear that you liked our proposal.

We've investigated couple of possible solutions to add support for coloring. As we can see `kubeadm` module uses mostly `fmt` package for printing. There is `initLogs` called which initializes `glog` but is it actually used somewhere? There are no references in `kubeadm` module.

First option (if log/glog is not used) is to use default `log` package

[2016-10-18 08:23] bizhao commented on #31256
Agreed.
I'm new to K8s and still struggling to run end2end against an existing cluster.

[2016-10-18 08:25] alphashuro commented on #33664
What is the consensus on this?

[2016-10-18 09:09] tazjin commented on #34940
This reoccurs with the same `Deployment` sometimes, even after completely deleting it.

Controller manager logs show:

[code]

[2016-10-18 09:13] kargakis commented on #30586
Could also be a NodeCondition.

[2016-10-18 09:15] xilabao commented on #33824
export KUBE_GIT_VERSION=${version}

[2016-10-18 09:23] kargakis commented on #35007
@kubernetes/kubectl

[2016-10-18 09:24] zreigz commented on #30586
Yes it is good idea. I could set  `NodeConditionType` for new type `SchedulingDisabled` and then set the message.

[2016-10-18 09:29] pires opened #35025 "Add kubeadm init/join unit tests"
Implement unit (eventually, integration) tests for `kubeadm`.

This is an effort for Q4 2016 to be lead by @errordeveloper, @dmmcquay and @pires.

Refs #34136

[2016-10-18 09:30] pires opened #35026 "Add kubeadm init/join e2e tests"
Implement e2e tests for kubeadm.

This is an effort for Q4 2016 to be lead by @errordeveloper, @dmmcquay and @pires.

Refs #34136

[2016-10-18 09:36] feiskyer commented on #34974
I think runtime still needs to perform periodic resource cleanup check even after adding the new state.

The reason is distinguishing the two different state: `NotReady` and `Exited`, especially in the following scenarios:

- Containers terminated unexpectedly
- Resource cleanup failed

Since the periodic work is necessary, how about fully dedicating the cleanup to runtimes and keeping the sandbox

[2016-10-18 09:37] kargakis commented on #30586
@smarterclayton @davidopp I assume admins should be allowed to set specific NodeConditions.

[2016-10-18 09:55] sebgoa opened #35028 "canary deployment not working properly with matching labels"
Hi,

I am on 1.4.0 using minikube:

[code]

I am trying to do a basic canary deployment. The way I am doing it is to run a simple deployment with:

[code]

This works as expected and the pod created as a label `run:hostname`

Now I run another deployment like so:

[code]

Both deployments generate pods with label `run:hostname` which I am expecting to be OK, because the service would be able to ma

[2016-10-18 09:56] jsravn commented on #29735
@kargakis sure... I admit I may be wrong - that was my just my super quick analysis. :) I need to try reproducing to see if it's actually the case - which I'll try now. Here's the replicaset that it complains already exists:

[code]

And the current failing deployment (although, I believe it started failing at generation 204, version 0.612.0).

[code]

[2016-10-18 09:58] cristifalcas commented on #22609
:+1:

[2016-10-18 10:06] zreigz commented on #30586
For implementation point of view it should be enough to update condition Ready to state `False` with reason `SchedulingDisabled` and with given message.

[code]

[2016-10-18 10:16] sebgoa commented on #35028
ok so user error, my bad.

The two deployments need to have a `track` key so they can differentiate on its value.

[code]

we can close, there is nothing here...moving on.

[2016-10-18 10:16] #35028 closed

[2016-10-18 10:38] bogdando commented on #33554
This conversation definitely fixed white spaces I had with understanding ndots in action, thank you for details - I've updated the bug description. This has nothing to the bug relevance tho.

[2016-10-18 10:38] jsravn commented on #29735
Hash collisions are definitely a problem. I wrote up a test and can get a collision within a couple hundred versions (only version changes). Here's pod_test.go:

[code]

I'm guessing we can't improve the hash function at this point, to maintain backwards compatibility? We should at least handle the collision somehow - what do you suggest?

[2016-10-18 10:44] bogdando commented on #33554
@thockin regarding https://github.com/kubernetes/kubernetes/issues/33554#issuecomment-251870060 the behavior may be related to the dnsmasq config SkyDNS relies on (IIUC) and NXDOMAIN caching. For example, it may be asking a randomly chosen server from the config (default behavior, unless the strict-order is set), returning the first encountered NXDOMAIN via the server, and give up on trying more.

[2016-10-18 10:46] jsravn commented on #29735
Further, in the example I gave above, the hash output only has a cycle length of 120, after which all newer versions collide with previous hashed values.

[code]

[2016-10-18 10:52] jsravn commented on #29735
I suppose the immediate workaround is to limit deployment revision history to small values (http://kubernetes.io/docs/user-guide/deployments/#revision-history-limit).

[2016-10-18 10:54] bogdando commented on #33554
@thockin hardcoded ndots:5 is still a pain point, despite on implementation details of DNS stack. This keeps this issue relevant.

[2016-10-18 10:56] jasonhubs commented on #33544
kubeadm can't start the container of kube-discovery,and bolck at the commad:"<master/apiclient> created API client, waiting for the control plane to become ready". I had setenforce 0,who can help me?oh my god

[2016-10-18 11:00] errordeveloper commented on #33544
Jason, it would be best if you hop on #kubeadm channel on Slack and we can
debug your issue in a more interactive manner.

On Tue, 18 Oct 2016, 11:56 jasonhubs, <notifications@github.com> wrote:

[2016-10-18 11:21] kargakis commented on #29735
@jsravn thanks for the test! I run it as well and I see the same results. @smarterclayton @bgrant0607 can you have a look? An immediate workaround is to use revisionHistoryLimit, yes. In reality most users won't care about the history of 200 replica sets but it is concerning that Adler breaks that fast.

[2016-10-18 11:23] rrati commented on #32837
@timothysc I had not gotten to it yet.

[2016-10-18 11:29] mwielgus commented on #32837
Cluster autoscaler looks for unschedulable pods, the pods that scheduler tried to put somewhere but failed and set the appropriate pod condition.

[2016-10-18 11:46] jimmidyson commented on #25961
`HOSTALIASES` env var is a no-go - from http://serverfault.com/questions/65199/is-it-possible-to-alias-a-hostname-in-linux#comment1019328_490188:

[2016-10-18 11:48] kayrus opened #35031 "kubelet: https prober and "InsecureSkipVerify" flag"
I've just noticed that http prober has the following issues:

HTTPS prober has hardcoded `InsecureSkipVerify` tls option:

[code]

Shall we allow to configure it within `readinessProbe`/`livenessProbe`? I.e.

[code]

[2016-10-18 11:52] kayrus opened #35032 "kubelet: http prober DNS resolver"
When you use internal service name (when you have installed DNS add-on), kubelet doesn't use it for probing:

[code]

Even when you define `--cluster-dns=10.254.0.10` inside kubelet.

This problem actually lies in go implementation (see https://github.com/golang/go/issues/12503, which should be resolved soon). But I suggest a hack. When there is defined resolver, we have to resolve host first (i.e

[2016-10-18 11:56] aveshagarwal commented on #25320
@kevin-wangzefeng Yes https://github.com/kubernetes/kubernetes/pull/34400 implements NoScheduleNoAdmit.

[2016-10-18 11:57] deads2k commented on #34977
I think this still stands.  You'll get a different error later on if you attempt to actually use the TPR with the missing mapping.

[2016-10-18 12:22] diegodelemos commented on #30243
What is the current state of this issue? We are really interested in having such behaviour because we are going to use Kubernetes to execute a set of steps of a workflow and if a certain step fails, what we would expect is: the job stops and a option to get a log specifying the failure reason is available.

Besides, addressed to @erictune on behalf of his [comment](https://github.com/kubernetes/ku

[2016-10-18 12:50] imkin commented on #34248
@ZedCode Can you try with DNS_SERVER_IP="192.168.128.120"

[2016-10-18 12:57] glerchundi commented on #14661
@bprashanth @thockin which is the status of this issue? I would like to add GCE LB health checking, did you solved by making kubelet port available or how?

[2016-10-18 12:59] #34977 closed

[2016-10-18 13:02] xrow commented on #30712
Hello,

here is more information. The reason is the node reports:

´´´
[root@docker02 ~]# cat /var/log/messages | grep -i "NodeHasSufficientDisk"
Oct 18 02:16:13 docker02 kubelet: E1018 02:16:13.486754    7308 event.go:193] Server rejected event '&api.Event{TypeMeta:unversioned.TypeMeta{Kind:"", APIVersion:""}, ObjectMeta:api.ObjectMeta{Name:"docker02.intern.de.147cdb6fab495d63", GenerateName:"",

[2016-10-18 13:05] deads2k opened #35036 "document advice about generation/observedGeneration for controllers"
For some kinds of controllers, its important to know which `generation` the `status` is valid for.  I don't think its strictly needed for all controllers, but its worth some thought to determine whether its easier to apply the rule for everyone or if that would cause unnecessary controller churn for meaningless changes.

Also, if you have multiple controllers working off the same object (service a

[2016-10-18 13:38] juanvallejo commented on #29115
Wouldn't this have been fixed by https://github.com/kubernetes/kubernetes/pull/31163?

[2016-10-18 13:50] miry commented on #34101
@petergardfjall but weave-net  was up 15m ago and dns last event was 25m ago. try to restart dns pod.

[2016-10-18 14:09] gowrisankar22 opened #35039 "Error: 100: Key not found (/coreos.com) [1] - flannel issue"
I have followed below official Kubernetes documentation for the setup but facing few issues during the pod creation and flannel startup.
http://kubernetes.io/docs/getting-started-guides/ubuntu/#prerequisites
Issue 1:
My installation went fine but I could see an error coming from flannel starting . Please find the attached logs,

etcd start/running, process 49275
Error:  100: Key not found (/coreos

[2016-10-18 14:11] errordeveloper commented on #34101
It would be easier if folks could hop on #kubeadm channel in Slack and we
can debug step-by-step. It became really hard to pick individual setup
differences in this thread.

On Tue, 18 Oct 2016, 14:50 Michael Nikitochkin, <notifications@github.com>
wrote:

[2016-10-18 14:14] shashidharatd opened #35040 "Federation soak weekly deployment failing"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-weekly-deploy-gce-federation/1

looks like permission issue
ERROR: (gcloud.compute.project-info.describe) Could not fetch resource:
 - Required 'compute.projects.get' permission for 'projects/k8s-jkns-gce-federation-soak'

@madhusudancs @quinton-hoole

[2016-10-18 14:32] bogdando opened #35041 "Add kubeadm to hyperkube"
FEATURE REQUEST: Please add the kubeadm binary to hyperkube or ship it as a separate container perhaps

[2016-10-18 14:40] kargakis commented on #34466
Opened https://github.com/kubernetes/kubernetes/pull/34952

[2016-10-18 14:44] aveshagarwal commented on #29503
I looked into one of the issues in this flake:
`
Oct 17 08:02:42.268: Failed to find kubernetes.io/e2e-taint-key-bfaf5898-947a-11e6-af4c-0242ac11000b=testing-taint-value:NoSchedule in Name:            jenkins-e2e-master
`
kubectl returns successfully after adding a new taint to the node. However, the added taint does not exist in the kubectl describe response during verification. However the issue

[2016-10-18 14:55] errordeveloper opened #35043 "discuss the meaning of kubeadm init --api-advertise-addresses"
As of #34607, we have the following code:

[code]

It turns out that the condition will always be true, which was not what I desired when I wrote #34607, however it may be what we want, let's discuss here.

When I wrote this, I have overlooked the fact that when kubeadm auto-detects the primary IP , it just sets it in `s.API.AdvertiseAddresses` and doesn't indicate that it's an auto-detected IP.

[2016-10-18 14:56] ZedCode commented on #34248
Hi @imkin - I will edit that in the initial configuration and re-up my cluster this morning to see if that helps things work out of the box so to speak. Thanks! ZC

[2016-10-18 15:16] quinton-hoole commented on #35040
@madhusudancs I also don't seem to have permissions on that project (k8s-jkns-gce-federation-soak).  Could you please address the issue Shashi reported above, and at the same time make sure that k8s-federation@ have owner perimissions on that project, to remove yourself as an SPOF :-).  Thanks.

[2016-10-18 15:29] derekwaynecarr commented on #35017
@mdshuai -- we should probably document this scenario, but we should not change the content written to the hostpath.

[2016-10-18 15:29] #35017 closed

[2016-10-18 15:33] fabianofranz commented on #29115
Yes, this was fixed by https://github.com/kubernetes/kubernetes/pull/31163. This issue can be closed.

[2016-10-18 15:35] kad commented on #34695
You can try kubeadm with patch applied from PR #35044 : https://www.dropbox.com/s/mgl182d7mzc0jiw/kubeadm?dl=0 It works at least in my environment behind restrictive proxy.

[2016-10-18 15:41] timbunce commented on #14232
@tnsasse that InfluxDB problem is probably #33775.

[2016-10-18 15:44] ZedCode commented on #34248
Hey @imkin I have edited my configuration as follows:
[code]
I have re-run the `cluster/kube-up.sh` script and everything came up and validated. I am still experiencing the same behavior, however.

I now see this in the logs for the DNS service via the dashboard:
[code]
I see that the service can't be reached by kubectl either (it doesn't even return kube-dns like it did previously):
[code]
I also

[2016-10-18 15:44] pwittrock commented on #27430
As Brian mentioned, a key differentiator on PetSet is that it is composed of unique-ish individuals working in concert with one another.

Some alternatives to consider:
- Cohort
  - This is short and a way of referring to a group of individuals working together
- Concert
  - Also short
- CollaboratorArray (Pods = Collaborators)
  - Also clearly defines the individual items as working together inst

[2016-10-18 15:44] whitlockjc commented on #16748
I'm looking into this.

[2016-10-18 15:48] DanHoerst commented on #34964
This seems to be an issue of my control nodes all having a `master` hostname. Setting unique hostnames on the control nodes seems to have resolved the issue.

[2016-10-18 15:48] #34964 closed

[2016-10-18 15:48] pwittrock commented on #33664
Longer term some CICD system should support this.

Immediate term: It would probably be simple to create a controller that listens for changes to a container registry and then updates a label on all deployments with a specific annotation.  You could install this controller into your kubernetes cluster using helm.

I will try to hack a prototype together later this week.

[2016-10-18 15:49] rdtr commented on #23354
According to the charts repository, we should only manage data nodes as a pet set? Do client node and (dedicated) master nodes works as deployments?

[2016-10-18 15:50] pwittrock commented on #27430
@devin-donnelly @steveperry-53 @jaredbhatti You all interested in weighing in on the language aspects of naming?

[2016-10-18 15:58] ericchiang commented on #34091
Yep. The default for RBAC is to restrict all access. You'll have to explicitly give service accounts permission if you want them to access the API. I imagine DNS will require reading services, updating services/status (or something similar) and reading endpoints.

To the best of my knowledge dashboard requires pretty much root access, though perhaps someone from @kubernetes/dashboard-maintainers c

[2016-10-18 15:59] #29115 closed

[2016-10-18 16:01] chrislovecnm commented on #20379
Hitting this today.  @thockin who is assigned to this?

[2016-10-18 16:01] 14msitaqadeer opened #35045 "CLI(kubectl) and dashboard(UI) not in sync on deletion of POD"
If a POD is deleted from UI, it still appears in CLI and vice versa if a POD is deleted from CLI it does not remove from UI.

[2016-10-18 16:03] eschwartz commented on #34956
Ok... so any ideas on what could have gone wrong, then?

[2016-10-18 16:06] pwittrock commented on #27430
One other thought, I don't love the PetSet name for a completely different reason, which is that it implies these things are going to be a lot of work to maintain.  I'd rather have a name that indicates how they are managed differently than Deployments, but not that they are fundamentally require a lot of care and maintenance.  (though in some cases they might this isn't inherent to how we manage

[2016-10-18 16:06] bgrant0607 commented on #27430
@pwittrock The name should ideally clearly distinguish the purpose from ReplicaSet.

[2016-10-18 16:06] ymqytw commented on #34413
@pwittrock Yeah, I will look into this issue.

[2016-10-18 16:15] hongchaodeng commented on #34709
@wojtek-t
OK. I will rerun it.
Next time, please provide one step script to reproduce the scenario.

[2016-10-18 16:24] whitlockjc commented on #16748
First pass looks like this:

[code]

It appears each API Declaration has an `info` property and that is not allowed.  _(See: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/1.2.md#52-api-declaration)_  I will start with that and once I'm there I'm sure I'll see the same things you are above.

As the author of `swagger-tools`, I can tell you that the error you're seeing above _sho

[2016-10-18 16:25] kargakis commented on #32567
If there are no use-cases for Recreate Deployments now that we have Pet Sets, I would like us to deprecate the Recreate strategy for Deployments. Then we wouldn't need this change too.

[2016-10-18 16:26] #34847 closed

[2016-10-18 16:26] #34992 closed

[2016-10-18 16:32] erictune commented on #27430
OrdinalSet: individuals could be called Ordinals; carries forward the set-suffic that some people like; emphasizes that the individuals have numbers.

[2016-10-18 17:00] chrislovecnm commented on #35014
Per an ex-aws'er "we have seen cases where metadata will fail", so we nee to make sure that we can fail fast and log.

[2016-10-18 17:03] chakri-nelluri commented on #32543
Updated the proposal in PR #33538

[2016-10-18 17:07] grahamhayes opened #35048 "OpenStack LBaaS V2 Behaves differently depending on the provider"
**Is this a BUG REPORT or FEATURE REQUEST?** BUG

**Kubernetes version** (use `kubectl version`): master

**Environment**:
- **Cloud provider or hardware configuration**: OpenStack Provider
- **OS** (e.g. from /etc/os-release): n/a
- **Kernel** (e.g. `uname -a`): n/a
- **Install tools**: n/a
- **Others**:

**What happened**:
When using the "Octavia" provider for LBaaS on OpenStack, it creates at l

[2016-10-18 17:08] timothysc commented on #34709
Is this really P0 then?

[2016-10-18 17:08] #34938 closed

[2016-10-18 17:14] hongchaodeng commented on #34709
After increase "LOAD_TEST_THROUGHPUT=50", I did get some 500 from apiserver
[code]
It's POST though.

[2016-10-18 17:15] xiang90 commented on #34709
@hongchaodeng it should be similar. i guess the api + stroage + etcd - client + etcd server path times out somehow. let's investigate into it.

[2016-10-18 17:24] shahidhk commented on #33666
@moravit Are you still working on this?

[2016-10-18 17:24] chakri-nelluri commented on #32501
@drngsl Most of these concerns should be addressed in #33538. Please take a look and let me know your feedback.

[2016-10-18 17:30] kargakis commented on #34800
@kubernetes/kubectl

[2016-10-18 17:30] kargakis commented on #35016
@kubernetes/kubectl

[2016-10-18 17:33] kargakis commented on #34091
cc: @deads2k @liggitt

[2016-10-18 17:36] wojtek-t commented on #34709
Yes - it is happening in both GET and POST.
I think this might be strongly correlated with this: https://github.com/kubernetes/kubernetes/issues/34938
when I increase max-infligh-limit in apiserver significantly, I stopped seeing those 500s. Though I don't have good explanation for it yet.

[2016-10-18 17:40] xiang90 commented on #34709
@wojtek-t

Is it possible that the queue (i assume the length is controlled by max-infligh-limit ) is getting longer (more requests or etcd slows down somehow) to a point that api server starts to drop requests?

[2016-10-18 17:45] austinmoore- opened #35052 "AWS: Shared resource tag"
In order to use some resources in AWS, Kubernetes currently requires "ownership" of the resource with the tag `KubernetesCluster=<cluster_id>`. However, some resources can belong to more than a single Kubernetes cluster. Resources could potentially be used by things outside of Kubernetes, or perhaps by other Kubernetes clusters one day. Once the `KubernetesCluster` tag is applied to these resource

[2016-10-18 17:48] wojtek-t commented on #34709
Since #34938 seems to be related, it definitely seems to be related to the length of queue (yes max-inflight-limit is basically the maximum number of requests that can be processed in parallel by apiserver - so as you wrote it's basically the the length of queue).
if the queue is getting too long, the it is somehow probable that etcd is not able to process them in 5s.

@xiang90 What do you mean by

[2016-10-18 17:49] janetkuo opened #35054 "kubectl --v= is underdocumented"
_(Comes from user)_

The most important thing for cloud support is insight, logs, verbosity. The description of the `--v` argument reads:
`--v=0: log level for V logs`
- What are the different log levels?
- What level is most useful to see all API calls?
- What is "V"?
- What would be a useful standard reply to a customer? "Please re-run this command with --v=9 and send me the output"

With gcloud

[2016-10-18 18:03] grahamhayes opened #35056 "OpenStack LBaaS V2 Deletes Load Balancers if "ManageSecurityGroups" is true."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Kubernetes version** (use `kubectl version`): Master

**Environment**:
- **Cloud provider or hardware configuration**: OpenStack
- **OS** (e.g. from /etc/os-release): n/a
- **Kernel** (e.g. `uname -a`): n/a
- **Install tools**: n/a
- **Others**:

**What happened**:
`EnsureLoadBalancer` now can update a LB instead of deleting it and

[2016-10-18 18:07] #34890 closed

[2016-10-18 18:14] jdfless commented on #29166
This issue occurred for me on 1.4.0 as well.

[2016-10-18 18:16] #33096 closed

[2016-10-18 18:19] sam-obeid commented on #5017
@etotheipi I am willing to help test this too.

[2016-10-18 18:22] madhusudancs commented on #35040
@shashidharatd ACLs changed.

@quinton-hoole You should have the access now. All the relevant groups have been given appropriate permissions.

[2016-10-18 18:22] #35040 closed

[2016-10-18 18:23] huksley commented on #33729
Resolved adding more space to master. Documentation should clarify minimum required space for master node.

[2016-10-18 18:27] haizaar commented on #23354
Client nodes are stateless and can be managed a regular deployment (usually
behind a service).

Masters however are stateful, that is, require persistent disks; and should
be treated as a petset.

On 18 Oct 2016 18:50, "Norio.Akagi" <notifications@github.com> wrote:

[2016-10-18 18:30] chakri-nelluri commented on #32550
Updated the proposal in PR #33539. PTAL.

[2016-10-18 18:36] wied03 commented on #27282
I think my last comment is pointless. The proposal doc referenced above describes it pretty well.

[2016-10-18 18:41] smarterclayton commented on #32567
JEE apps need recreate.

On Tue, Oct 18, 2016 at 12:25 PM, Michail Kargakis <notifications@github.com

[2016-10-18 18:41] smarterclayton commented on #32567
I think half of our OpenShift users in production use recreate

On Tue, Oct 18, 2016 at 2:41 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-10-18 18:41] liggitt commented on #34091
The best practice for all users (not just service accounts) is to assign them roles with the minimal set of permissions required, at the minimal scope required.

There is work ongoing in 1.5 to define the following types of roles:
* discovery role (giving access to discovery endpoints), granted to all users by default
* roles for in-tree controllers (granted to service accounts, so each controller

[2016-10-18 19:01] childsb commented on #34211
autoscale --> solly

[2016-10-18 19:04] Random-Liu commented on #29478
Another potential thing needs to support once it gets approved, just track here https://github.com/kubernetes/kubernetes/pull/34928.

[2016-10-18 19:09] pwittrock commented on #35054
@fabianofranz This one you want to take a look at?

[2016-10-18 19:10] ixdy opened #35058 "hyperkube images take forever to build"
I'm pretty sure that building the hyperkube images takes longer than building kubernetes itself now.

At least a large part of this seems to be that we download and install ~172 extra debian packages several times (once for each arch).

<details>

[code]

</details>

Not sure how to improve this - maybe better caching? Do we actually want to install these extra packages? Should we use a better bas

[2016-10-18 19:11] ixdy commented on #35058
cc @aaronlevy @colemickens @david-mcmahon

(not really sure who "owns" hyperkube, if anyone)

[2016-10-18 19:14] fabianofranz commented on #35054
@pwittrock yes, I can take this one.

[2016-10-18 19:22] ghodss commented on #35054
Related: #13282

[2016-10-18 19:23] kargakis commented on #32567
I assume that most of them are using recreate because of RWO volumes. Why JEE apps need recreate? Since replica sets/deployments are valuing availability over consistency and pet sets the other way around I would expect us to try and move users from running their stateful apps with recreate deployments to use pet sets once they get stable.

[2016-10-18 19:24] kargakis commented on #32567
Maybe though that doesn't mean we should fix recreate

[2016-10-18 19:24] kargakis commented on #32567
Maybe though that doesn't mean we shouldn't fix recreate

[2016-10-18 19:38] xiang90 commented on #34709
@wojtek-t

If we make the queue length longer, then api server will internally timeout some requests in the queue without returning 429. Then the not throttled requests flood will not be triggered. So we will not see the extensive 500s.

If we make the queue length shorter, then api server will deny requests with 429 before internally timeout the requests. Once 429 is returned, we will trigger the

[2016-10-18 19:44] sputnick commented on #10564
Is there any way to cascade the delete today with the Rest API? It seems like the api delete still doesn't delete pods in v1.4 for a Deployment which must mean that the business logic is all in kubectl which makes it difficult to keep up with kubectl features in other clients...

[2016-10-18 19:57] xiang90 commented on #34709
@wojtek-t Also from etcd log, it seems that it was experiencing CPU starvation. It prints out a lot of warnings. Originally, I thought etcd might be slow for some external reason. Now I figured out the API server and etcd were running on the same machine. I doubt API server used a lot of CPU.

[2016-10-18 20:29] marun commented on #30151
Why should an ingress claim relate public DNS names and QOS tier?  Wouldn't it make more sense to have separate claims for each?

[2016-10-18 20:33] marun commented on #30151
I think reserved DNS names would make sense in all cases.  I'm less clear why QOS would be something that ingress controllers should be required to support.

[2016-10-18 20:38] knobunc commented on #30151
Over on OpenShift we have customers who want to claim a path too.  So, they have a hosting site that has a standard dns name, but each project wants to claim the first directory in the URL.  So, for our existing router we might accommodate this by having a "CLAIM_PATH_DEPTH" argument to the router pod, and then it would assign the routes to the namespaces based on the depth given (it would default

[2016-10-18 20:54] jbeda commented on #35058
The hyperkube binary is one thing.  I think the image ends up being big as we drag in so much stuff.  I wasn't involved in creating the docker image so I can't comment.

Ideally this thing would be slim and would have minimal external dependencies.  Fixing this starts with mapping why we have each of those deps imported.

[2016-10-18 20:58] fabianofranz commented on #27454
@pwittrock yes, this can be closed.

[2016-10-18 21:01] spxtr commented on #34878
Fixed by #34895

[2016-10-18 21:01] #34878 closed

[2016-10-18 21:08] pwittrock commented on #35045
Can you provide steps to reproduce?

[2016-10-18 21:10] pwittrock commented on #35010
That is surprising.  Can we give the exit code of the binary as well?

[2016-10-18 21:12] pwittrock commented on #35007
set selector is a bit odd since we probably don't want to change the selectors on controller objects.  Presumably the main use case here is for updating service label selectors?

[2016-10-18 21:16] daniilyar opened #35062 "'Stat fs failed: no such file or directory' error in kubelet logs"
Running Kubernetes 1.4.1 at AWS (Ubuntu 14.04 LTS). Kubernetes cluster is spinned with 'contrib/ansible' playbook with the only change of `--cloud-provider aws` argument added to all cluster internal services (such as kubelet).

After spinning up and terminating several pods with config like below

[code]

I see a following error in kubelet logs logged each 40-60 sec:

[code]

Error contains a dif

[2016-10-18 21:17] ymqytw commented on #35016
It should be a simple change.

[2016-10-18 21:18] kshafiee commented on #27436
Great post @keontang !

Do you happen to have any detailed instructions of you HA implementation? I'm trying to reproduce your HA cluster, Thx

[2016-10-18 21:19] aveshagarwal commented on #25320
Is this the expectation with NoScheduleNoAdmit?

a) NoSchedule part of NoScheduleNoAdmit is exactly similar to existing NoSchedule and is for pods going via scheduler.

b) NoAdmit part of NoScheduleNoAdmit is for static pods (created directly by kubelet, i..e the pods not going through the scheduler).

[2016-10-18 21:19] pwittrock commented on #34788
Closing this as resolved

Resolution: Duplicate of  #32306

[2016-10-18 21:19] #34788 closed

[2016-10-18 21:22] pwittrock commented on #34146
@fabianofranz Would you be able to own this or find it an owner?

[2016-10-18 21:23] pwittrock commented on #33817
@AdoHe Is this something you can take a look at?

[2016-10-18 21:27] pwittrock commented on #32676
@AdoHe Can you own this or find it an owner?

[2016-10-18 21:31] kargakis commented on #35007
@pwittrock the first impl of `set selector` (https://github.com/kubernetes/kubernetes/pull/28949) will support only services. I am not sure if we ever proceed with having the command work with controller objects, we need to sort it out in this issue.

[2016-10-18 21:39] bgrant0607 commented on #29735
cc @janetkuo @pwittrock

[2016-10-18 21:42] daniilyar commented on #35062
My `docker info` output:
[code]

[2016-10-18 21:52] k8s-merge-robot opened #35064 "TestUpdatePods {replicaset}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/18247/

Failed: TestUpdatePods {replicaset}

[code]

[2016-10-18 21:52] eparhei opened #35065 "g"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-10-18 21:52] bgrant0607 commented on #27430
On ordinal: https://github.com/kubernetes/kubernetes/issues/260#issuecomment-59438307

[2016-10-18 21:57] chrislovecnm commented on #35065
Was this accidentally openned?

[2016-10-18 21:58] kelseyhightower opened #35068 "API Server returns HTTP 200 OK on "too old resource version" errors"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
- "too old resource version"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

[code]

[code]

**What happened**:

When the resource version is too ol

[2016-10-18 22:07] krousey commented on #34868
@yujuhong It seems that resource usage collection is now failing. I see a lot of lines like:

[code]

in the build log. Is kubelet no longer reporting these?

[2016-10-18 22:07] thockin opened #35069 "on machines with iptables default deny, kubelet could enable ports in iptables"
I have a customer who is using Kubelet on a machine with iptables configured for default deny.  When running with plain Docker, it will configure any hostPort mapping to ACCEPT.   Kubelet does not.  Worse, Docker does not seem to handle this when running in host-network, but it probably should.

So this idea: Kubelet could/should enable `<pod-id>:<ports>` and `<node-ip>:<host-ports` for ACCEPT.

D

[2016-10-18 22:14] yujuhong commented on #34868
@krousey there is no "misc" container on GCI nodes. Since the tests don't actually check the resource usage for "misc", I just removed this in the PR yesterday #34991.
The soak cluster will continue to fail until it gets redeployed (next week?).

[2016-10-18 22:16] Random-Liu opened #35070 "CRI: Package aliases are not following golang convention"
As is mentioned in https://github.com/kubernetes/kubernetes/pull/33988#discussion_r83764898.

In CRI and dockershim, we are using package name containing capitalized characters e.g. `internalApi` and `runtimeApi`.

This is not align with golang convention https://blog.golang.org/package-names, we should change this to `internalapi` and `runtimeapi` in one PR.

@timstclair @yujuhong @feiskyer
/cc @

[2016-10-18 22:16] aveshagarwal commented on #21566
There is an existing admission plugin PR with taints/tolerations that does similar https://github.com/kubernetes/kubernetes/pull/30302 .

[2016-10-18 22:17] davidopp commented on #25320
Unfortunately we're not going to have time to get #34400 into 1.5.

But as for what you described @aveshagarwal, it is correct except I'm not sure the term "static pods" is correct (or maybe I just don't understand the definition you're using). But as you said, it is for pods that are submitted directly to Kubelet, e.g. by creating a pod with NodeName already filled in.

[2016-10-18 22:20] aveshagarwal commented on #25320
@davidopp I just picked the word static pod from here: http://kubernetes.io/docs/admin/static-pods/

[2016-10-18 22:24] davidopp commented on #25320
Yeah I'm not sure whether NoAdmit would affect static pods. The intended use case was a regular pod that sets NodeName directly. Static pods are a bit different as they are created from a manifest file (and in theory by HTTP but nobody does that).

[2016-10-18 22:34] yujuhong commented on #34999
It's not necessarily wrong given the implementation today. If dockershim reports sandbox "not ready" after the infra container died on its own, we still need to tear down the resources such as IP addresses and host ports. See #34974 for why calling this may be a safeguard if we can't represent the resources correctly today.

[2016-10-18 22:42] paralin commented on #34621
Can this be closed? PetSet is in alpha and not enabled on default.

[2016-10-18 22:47] chrislovecnm commented on #34621
:thumbsup

[2016-10-18 22:47] mikedanese opened #35073 "kubeadm: Discovery interface needs to be refactored"
The token discovery interface is not properly factored to extend to the other two discovery methods. Discovery should return a kubeconfig. TLS bootstrap should accept a kubeconfig. The internals of the token discovery should be hidden.

cc @dgoodwin @kubernetes/sig-cluster-lifecycle

[2016-10-18 22:48] #34621 closed

[2016-10-18 22:49] yujuhong commented on #34974
@yifan-gu @euank do you guys have any opinion on whether or not to introduce a new state?

[2016-10-18 22:49] jlowdermilk commented on #34621
To summarize, if you want to test petset on GKE, create an [alpha cluster](https://cloud.google.com/container-engine/docs/alpha-clusters).

[2016-10-18 22:52] mtaufen opened #35074 "Add a timestamp to the suffixes created for e2e node test objects"
Currently the e2e node tests create various objects (kubelet systemd service, folder for extracting test tarball, etc.), these objects currently get a random int suffix to make them distinct from equivalents across test runs. When you ssh into a node to debug your tests, it is hard to tell which object relates to your latest test run. I propose adding a short timestamp to the suffix string of thes

[2016-10-18 22:58] Random-Liu commented on #35074
SGTM. Thanks for filing the issue!

And we should also organize the directories we create on the node. Currently, node e2e create:
* `node-e2e-pod464777457` for static pod
* `node-e2e023305963` for etcd
* `gcloud-e2e-121486241` for test binary and result.

It's not obvious to figure out which is doing what. We should also organize the directory structure.

[2016-10-18 23:00] edsiper commented on #32762
note: more progress here:

https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/issues/87#issuecomment-254660087

[2016-10-18 23:07] #27454 closed

[2016-10-18 23:08] pwittrock commented on #35007
SGTM.  We should have the documentation reflect that.  I would explicitly not have it work with controller objects, and I would have a user message stating they shouldn't change selectors on controller objects.

[2016-10-18 23:16] quinton-hoole commented on #35068
Looks like a straight bug to me.

[2016-10-18 23:18] bgrant0607 commented on #28977
@soltysh GC can handle all kinds of resources.
https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/garbage-collection.md

[2016-10-18 23:26] bgrant0607 commented on #28977
@soltysh Job keeps around all dead pods?

Job needs to keep the successful pods. It doesn't strictly need to keep around failed ones, though keeping them can be useful for debugging, especially if the logs aren't pushed. I think a reasonable starting point would be to keep the most recent failed pod for any given completion. I wouldn't add a configurable policy at this point.

You'll also want to

[2016-10-18 23:27] yifan-gu commented on #34672
+1

That's why I am saying checkpointing config isn't necessary the solution for resource clean up.

[2016-10-18 23:28] Random-Liu commented on #33189
A new issue we may want to keep an eye one https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-cri-gce-e2e-ci/502. Some observations:
* Docker is down when the test failed (around 00:35:00).
* From that time on, there is no more [kern.log](https://storage.googleapis.com/kubernetes-jenkins/logs/kubelet-cri-gce-e2e-ci/502/artifacts/tmp-node-e2e-b78c3331-gci-dev-55-8820-0-0/kern.

[2016-10-18 23:34] timstclair commented on #35070
This has happened before (https://github.com/kubernetes/kubernetes/issues/15319), it will happen again. We should add a presubmit check.

[2016-10-18 23:37] grosser opened #35076 "Add kubectl log --all flag so I don't have to manually iterate all my containers"
atm a `kubectl log some-pod` only returns `choose one of: [kubedns dnsmasq healthz]` ... but if something is wrong I usually want to just get all of the logs ...

So I'd love to have `--all` which then prints

[code]

[2016-10-18 23:37] ixdy commented on #35064
@deads2k will #35047 fix this?

[2016-10-18 23:37] timstclair commented on #35070
List of packages violating the convention: https://gist.github.com/timstclair/72da2df961d85606cce3d9bf266ecef8

[2016-10-18 23:40] zmerlynn commented on #34032
@mml: This test is about to enter the blocking category on SQ. Do you have time to look at this, or do I need to blacklist `DisruptionController` on AWS and find someone to fix the testing hole? I know I don't have the time right now.

[2016-10-18 23:41] AdoHe commented on #32676
@pwittrock I will take care of it by myself.

[2016-10-18 23:41] AdoHe commented on #33817
@pwittrock sure

[2016-10-18 23:43] mml commented on #34032
@davidopp how much do we care about this feature working on AWS?  Can we disable it for now and fix at our leisure?

[2016-10-18 23:47] AdoHe commented on #35045
/cc @AdoHe

[2016-10-18 23:52] pwittrock commented on #32676
@AdoHe Thanks :)

[2016-10-18 23:54] mml commented on #34776
Originally we were going to add MinReadySeconds to the PDB, but it seemed crazy complicated to specify so many thresholds and to specify MinReadySeconds in Yet Another Place.

Thus in the PDB type we have written Available but the code implements Ready.

To make matters even muddier, even "Available" isn't quite going to be the actual definition we use, as we'll probably be counting pods *approved

[2016-10-18 23:54] AdoHe commented on #34965
@vishh I did something on node-problem-detector to use go-systemd instead of journalctl. You may want to take a look [here](https://github.com/kubernetes/node-problem-detector/pull/33)

[2016-10-19 00:00] quinton-hoole opened #35078 "Refactor select e2e tests and incorporate them into automated upgrade testing"
We have a super handy framework called ["chaosmonkey"](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/chaosmonkey/chaosmonkey.go) (curiously named despite it having relatively little in common with [Netflix Chaosmonkey](http://techblog.netflix.com/2012/07/chaos-monkey-released-into-wild.html), other than ours modelling upgrades as disruptions).

And we already have a few tests that

[2016-10-19 00:03] smarterclayton commented on #32567
Because they use caches and other shared protocols that cannot tolerate two
versions of the same code Being run at the same time.

Probably 90% of all web applications ever written can't tolerate two
versions of the same code running at the same time.

On Oct 18, 2016, at 3:23 PM, Michail Kargakis <notifications@github.com>
wrote:

I assume that most of them are using recreate because of RWO volum

[2016-10-19 00:05] smarterclayton commented on #23354
You only need petsets if you need strong leader guarantees (at most one).
Generally master components require that, but it's always worth asking.

On Oct 18, 2016, at 2:28 PM, Zaar Hai <notifications@github.com> wrote:

Client nodes are stateless and can be managed a regular deployment (usually
behind a service).

Masters however are stateful, that is, require persistent disks; and should
be treat

[2016-10-19 00:05] zmerlynn commented on #34032
Is there anything special about AWS vs, say, on-prem, etc? My guess is that there's something minorly wrong with the timing here, based on looking at [kubelet.log](https://00e9e64bacf9dc6ab47b331e6d10541bc9ba3fe2f3c57ffe62-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/logs%2Fkubernetes-e2e-aws%2F6048%2Fartifacts%2Fi-d0bf480c%2Fkubelet.log?qk=AD5uMEvVxVBPcBZk_pmx7xpnvYFsF

[2016-10-19 00:07] mml commented on #34032
@zmerlynn I can't imagine anything specific to the test that would vary based on provider.  As you suggest, it's probably something ancillary like that the pods have not started.

[2016-10-19 00:16] mml commented on #34032
Hmm... we actually already wait up to 10 minutes for at least one pod to be running.  Perhaps we should wait until all pods are running before proceeding.

[2016-10-19 00:20] haizaar commented on #23354
I'll reiterate that running ES masters without persistent storage can
easily lead to massive data losses:
http://tech.zarmory.com/2016/07/you-better-have-persistent-storage-for.html

On 19 Oct 2016 03:06, "Clayton Coleman" <notifications@github.com> wrote:

[2016-10-19 00:23] asalkeld commented on #35007
@pwittrock yip, that is how I have it now. see https://github.com/kubernetes/kubernetes/pull/28949/files#diff-ca09d9af0b033ca4bcecc8362a9cfddbR219

[2016-10-19 00:26] philips commented on #34278
@freehan Can you explain this a bit more:

The dockershim is built-in to the kubelet process and then may be a different process in the future. How does this fix the issue?

[2016-10-19 00:32] zmerlynn commented on #34032
Oh, I see now. Yeah, I was misreading the `test/e2e/disruption.go:74` failure, that's just roundtripping the `PodDisruptionBudget` itself.

[2016-10-19 00:36] hongchaodeng commented on #34709
@wojtek-t
Can't reproduce it.

We did observe some 500s, but they are from density test, not load test. Secondly, those 500s have latencies smaller than 100ms.

From etcd metrics, we have small number of failed requests:
[code]
Unlike the 100k as you provided above.

We have been observing for hours the behavior of apiserver and etcd. Nothing bad is happening.

Below are our config to run the test

[2016-10-19 00:37] hongchaodeng commented on #34709
k8s commit is cefd680d7264a0e94cf75737daa44b3834ce987c

[2016-10-19 00:40] nikhiljindal opened #35080 "Failing to fetch pod logs when federation e2e fails"
Example:

https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/5347/build-log.txt

Relevant part:

[code]

As a result, we no longer have federation apiserver and federation controller manager pod logs to debug failures.

cc @kubernetes/sig-cluster-federation

[2016-10-19 00:43] alex-mohr commented on #27430
My vote for criteria we should use, extracted from https://github.com/kubernetes/kubernetes/issues/27430#issuecomment-231835429 above:
[code]
Thus, +1 to StatefulSet or StatefulArray, even if you could technically use it for non-stateful things too.

Re: Set vs. Array, everything else is a Set, so I think departing from that convention adds more friction and thus cost than the benefits we'd gain f

[2016-10-19 00:45] pwittrock commented on #35007
SGTM.  If you would, add me to the PR just for reviewing the docs pieces

[2016-10-19 00:46] philips commented on #28667
I want to echo what @thockin [has said](https://github.com/kubernetes/kubernetes/issues/28667#issuecomment-253131081):

Reading through all of this I see the argument for doing this to [fix a bug](https://github.com/kubernetes/kubernetes/issues/34278) and give more power to the runtimes. But, I don't understand why we need to do it in this release with everything else we are trying to accomplish i

[2016-10-19 00:55] hach-que commented on #32542
I'm running into this issue as well, however my Kubernetes node has sufficient disk space and no ephemeral storage.  This is a cluster on Google Cloud.

This is what `df` reports:

[code]

Yet, I see these errors when it tries to pull down images:

[code]

This really doesn't make a lot of sense to me.  I'm going to terminate the node and wait for the cluster to spin up a new one (this is the only

[2016-10-19 00:57] mml commented on #34032
No.  Line 74 is waiting for the PDB to be updated, and it waits only 1 minute.  The PDB won't be updated until all the pods are running.  I have a PR that waits for all 3 pods to be running before proceeding with this test.  Will send shortly.

[2016-10-19 01:01] feiskyer commented on #34999
That's right. Network resources should be released no matter what status of the sandbox. (I'm going to close #35019.)

cc/ @kubernetes/sig-network

[2016-10-19 01:08] hongchaodeng commented on #34709
At the end entire suite failed due to "no disk space":
[code]

One more thing to note that we should replace HDD (IOPS: 7.5 read, 15 write) with SSD (600 read, 600 write).

[2016-10-19 01:08] bgrant0607 commented on #27430
Ok, since we are using the indices for sequencing, ordinal is more accurate than it was originally, and is less ambiguous than nominal.

It is, however, less suggestive of the use case than Stateful or Persistent. However, while the primary use case is stateful applications, it's not the only use case. Similar to indexed jobs, the index could be used to distribute soft state:
https://github.com/ku

[2016-10-19 01:09] bgrant0607 commented on #27430
On Set vs Array, another option is to drop those suffixes completely, along the lines of Deployment and Job.

[2016-10-19 01:14] yujuhong commented on #28667
@philips, could you clarify a little bit whether you are disagreeing with the general direction of delegating the networking to the runtime, or just questioning the timeline?

kubelet checks the current state of all containers and sandboxes, and create/remove them if necessary. If runtime can faithfully report that there are still remaining resources allocated to the container/sandbox, kubelet wil

[2016-10-19 01:19] devin-donnelly commented on #27430
The basic difference between ReplicaSet and PetSet is that PetSet's members
are denominated somehow, while ReplicaSet's are anonymous, right?
"Denominated" is a mouthful, but other (shorter) synonyms for "named" might
be appropriate.

Re: Set vs. Array: I've seen "collection" used to good effect to describe a
grouping of related things in no particular order (such as set) and that
aren't guarantee

[2016-10-19 01:22] bprashanth commented on #34278
Hmm, I think you may be conflating issues. Moving networking logic into the docker-shim is not going to fix the ip leak, the debate is weather the kubelet should even care. This is my understanding of the discussion on the short-term pr (https://github.com/kubernetes/kubernetes/pull/34373).

In today's world, the kubelet lists containers, and if a given container ID (be it name or hash) doesn't sh

[2016-10-19 01:25] bgrant0607 commented on #27430
Thanks, @devin-donnelly. In this case, the members are ordered (sequential startup) and contiguous.

[2016-10-19 01:32] bgrant0607 commented on #27430
I agree with @alex-mohr about the main purpose.

The API group is apps. We could use `StatefulApp` or even just `Stateful` (/apps/.../statefuls/).

[2016-10-19 01:32] yujuhong commented on #28667
I think there is some misunderstanding here. We are *NOT* doing #34780 to fix a bug. This issue was created back in July so that we could reach a consensus on how to handle networking in CRI. PR #34780 is simply implementing the that.

I think @thockin was saying that each runtime can implement its own networking logic, and if there is ever a need to factor out a common library, we can do it (but

[2016-10-19 01:34] yujuhong commented on #28667
@yifan-gu I think kubelet is not going to dictate what network plugins you use, whether it be CNI or not. For example, @thockin also mentioned in https://github.com/kubernetes/kubernetes/issues/28667#issuecomment-237158082 that docker native driver may appeal to some users.

[2016-10-19 01:35] bprashanth commented on #34278
@sampeka @emac08 you can work around it by purging unused ips.
Enter /var/lib/cni/networks/kubenet on the node and you'll see what's described in https://github.com/kubernetes/kubernetes/issues/34278#issue-181543914.

You can peek into each file, and match it with a running container:
[code]
And you can delete them by feeding that list to xargs
[code]

[2016-10-19 01:42] saad-ali commented on #34822
Although removing the reference to the secret from the PV annotation doesn't fix the main vulnerability: instead of "anyone who can write PV annotations" it is "anyone who can write a StorageClass object and a PVC object"... "can steal any secret on the system...". Since, the existing solution is really bad, and this slightly improves the situation, FWIW, I'm ok with this change. @thockin's idea o

[2016-10-19 01:43] yujuhong commented on #34278
@philips please see #34974 for the discussion on `PodSandbox` resource cleanup in CRI.

[2016-10-19 01:47] yifan-gu commented on #34974
Seems weird when it's calling `StopPodSandbox()` on `NotReady`. Do you mean it cleans up resources?

[2016-10-19 01:50] Random-Liu commented on #34974
I think `NotReady` here just mean some idle resources, and we should stop the idle stuff. But I agree, we may need a better name instead of `NotReady`. :)

[2016-10-19 01:53] saad-ali commented on #34884
`v1.5.0-alpha.1` went out on Oct 13. Keeping a two week cadence, `v1.5.0-alpha.2` is planned for the 27th

[2016-10-19 02:10] #34469 closed

[2016-10-19 02:10] yujuhong commented on #34974
Yes, basically the sandbox is "running" (i.e., "consuming some resources that can be reclaimed"). It could be running but not ready or ready, but it doesn't matter. Kubelet can call `stop` to reclaim some resources.

[2016-10-19 02:11] kelseyhightower commented on #35068
Another thing that I find odd is that the resource version will remain too old and there is no way to retrieve a resource version that is current and will work with a future watch request.

Hours later and no changes to the nginx endpoints results in the following:

Get the current nginx endpoint and capture the resource version (250647):
[code]
[code]

Start a watch using the resource version (25

[2016-10-19 02:13] smarterclayton commented on #29735
Adler was only used because we were originally overly concerned about the hash performance.  We need to be using a reasonably (but not excessively) fast hash where collision chance is >> 1 in 1e5, and preferably > 1e10 or more.

[2016-10-19 02:15] smarterclayton commented on #29735
fnv would be an easy change

[2016-10-19 02:16] smarterclayton commented on #32567
Heroku, for instance, defaults to a recreate strategy for exactly this
reason.

On Tue, Oct 18, 2016 at 8:03 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-10-19 02:24] smarterclayton commented on #13282
We should update the docs.  6-9 have definite value, 5 was really the "be verbose" debug.

[2016-10-19 02:33] jasonhubs opened #35084 "kubeadm:can't start the container of "kube-discovery""
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
no

**Kubernetes version** (use `kubectl version`):
1. kubernetes version:

[code]
2. kubeadm,kubelet,kubectl and kubenetes-cni version:

[code]

the url above :http://files.rm-rf.ca/rpms/kubelet/

**Environment**:
- **Cloud provider or hardware configuration**:

`virtual machine and the nat net-work`
- **OS** (e.g. from /etc/os-relea

[2016-10-19 03:13] qmx commented on #34134
I'd love to help to make this happen, can anyone mentor me on what needs to be done?

[2016-10-19 03:16] rbtcollins commented on #32543
@MikaelCluseau are service accounts templated in Deployments? Seems like every pod gets the same service account - default ? We'd be trusting no-one else manages to spawn pods in the same namespace AIUI - and I'm not saying thats a problem, just trying to make sure I have a clear understanding of the trust boundaries we're going to be establishing.

[2016-10-19 03:20] quinton-hoole opened #35086 "kubectl create service loadbalancer --help produces incorrect output"
kubectl create service *loadbalancer* --help

Create a *LoadBalancer* service with the specified name.

Examples:
  # Create a new *nodeport* service named my-lbs
  kubectl create service loadbalancer my-lbs --tcp=5678:8080

$ kubectl version
\Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7e0f222d961f4675cd97a46b", GitTreeState:"clean", BuildDat

[2016-10-19 03:21] onorua commented on #34965
what about initial proposal to move volumes to FUSE in pod scope?

[2016-10-19 03:31] pwittrock commented on #29735
Tangentially... having ~200 RS resources hanging around per-deployment seems like a lot and I imagine could result in triggering unknown-unknowns.  IMHO the revision history limit should be bounded by default before moving out of beta.  I can image things like automated hourly builds creating lots of history.

[2016-10-19 03:42] feiskyer commented on #34999
@yujuhong It seems more discussions are required for #34780, how about to do a quick fix of this problem? e.g. enforce runtime to return a empty string instead of nil pointer in such cases:

[code]

By the way, after #34780, netns is not used any more by kubelet and it can be removed from CRI.

[2016-10-19 04:12] CooCooCaCha commented on #27430
Some random suggestions:
- MemberSet
- ClusteredSet

[2016-10-19 04:14] smarterclayton commented on #29735
Generally bounds would be enforced by limit ranges, which already bound
number of replica sets

On Oct 18, 2016, at 11:31 PM, Phillip Wittrock <notifications@github.com>
wrote:

Tangentially... having ~200 RS resources hanging around per-deployment
seems like a lot and I imagine could result in triggering unknown-unknowns.
IMHO the revision history limit should be bounded by default before moving

[2016-10-19 04:27] dronnix commented on #6862
+1

[2016-10-19 04:29] feiskyer commented on #35070
Hmm, maybe it's my problem. Changing this would conflict with a lot of pending PRs, let's fix this later.

[2016-10-19 04:41] smarterclayton commented on #23354
My statement had nothing to do with that.  The guarantee petsets provide is
only about parameterization of the pod template for a unique identity, and
a convenience for "at most one pod" will be running.

If you are using general cloud provider PVs and have a single master, a
deployment may actually be the correct implementation, even if is counter
intuitive.

Elasticsearch specifically may prefer

[2016-10-19 04:46] pwittrock commented on #29735
Thanks

[2016-10-19 04:53] liggitt commented on #13282
I always thought of V(4) as debug-level, and V(5) as trace-level

[2016-10-19 05:33] ghost opened #35088 "Duplicate code about GenericConfig's Complete() in APIServer module"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-10-19 05:43] petergardfjall commented on #34101
@miry I did restart the pod with no luck (by the way, when you say _restart_ a pod, I assume you mean deleting the pod (and have the replica set replace it), right)?

It is stuck in `ContainerCreating`, although it appears to have reached slightly farther, beeing able to at least create containers. However

[code]

But I guess I'll follow @errordeveloper's advice and take it on the slack channel.

[2016-10-19 06:10] Smalinuxer commented on #34950
you need to go to the root dir of kubernetes
not the kubernetes/build
then execute ./build/release.sh

[2016-10-19 06:15] thockin commented on #34974
Is an IP address fundamentally different than some disk space (logs) ?
Both are finite resources, though one is more finite than the other.  What
principle distinguishes the resources that should be cleaned up while in
Exited?

On Tue, Oct 18, 2016 at 7:11 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-10-19 06:18] k8s-merge-robot opened #35089 "[k8s.io] Pods should contain environment variables for services [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/10368/

Failed: [k8s.io] Pods should contain environment variables for services [Conformance] {E2eNode Suite}

[code]

Previous issues for this test: #30548

[2016-10-19 06:24] thockin commented on #34822
I'm wary of abusing finalizers just yet.  It's not clear that this is
really going to be what we want.  I think I am OK to trigger an error in
case of StorageClass going away.

OTOH, writing to a PV's annotations is a pretty high level of privilege.

@erictune @matchstick for any ideas

On Tue, Oct 18, 2016 at 6:43 PM, Saad Ali <notifications@github.com> wrote:

[2016-10-19 06:35] thockin commented on #14661
We're actually using cloud healthchecks for something different now, so we
should close this.

On Tue, Oct 18, 2016 at 5:58 AM, Gorka Lerchundi Osa <
notifications@github.com> wrote:

[2016-10-19 06:44] feiskyer commented on #34974
The main difference is they are handled by different component: runtime is in charge of disk while shim (with network plugin) is in charge of network resources (IP, port mapping). And I think this is the potential assumption of this issue. If all resources are managed by runtime itself, then there is no such resources cleanup problem.

[2016-10-19 06:44] k82cn opened #35092 "`No resources found.` is printed by kubectl when error."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug

**Kubernetes version** (use `kubectl version`):
master

**What happened**:

`No resources found.` is printed when error.

[code]

**What you expected to happen**:
Only error message was printed.

[2016-10-19 06:45] glerchundi commented on #14661
Ok @thockin can you point me to the documentation/issue/whatever to follow the new direction? I'll appreciate any hint that helps me finding out this concrete topic.

Thanks

[2016-10-19 06:53] thockin commented on #14661
https://github.com/kubernetes/kubernetes/pull/29409

On Tue, Oct 18, 2016 at 11:45 PM, Gorka Lerchundi Osa <
notifications@github.com> wrote:

[2016-10-19 06:54] petergardfjall commented on #34101
So I actually did manage to get it working at last.

The last missing piece of the puzzle was to follow the advice of point 5) in http://kubernetes.io/docs/getting-started-guides/kubeadm/#limitations:

If anyone is interested, my `Vagrantfile` ended up looking as follows:

[code]

[2016-10-19 06:55] glerchundi commented on #14661
thanks!

[2016-10-19 07:02] mqliang opened #35093 "Can only and one third party resource"
I add three third party resources, but it turns out only one works. Even if I restart API server, the problem still exists.

[code]

[code]

[code]

[2016-10-19 07:02] mqliang commented on #35093
@brendandburns

[2016-10-19 07:17] wojtek-t commented on #34709
Hmm - strange. The config looks exactly as ours.

@wojtek-t Also from etcd log, it seems that it was experiencing CPU starvation.

@xiang90 can you please write which logs suggests so (so that I can also detect it in the future)?

cpu-starvation (at least from time to time) is probably possible.
How many CPU should etcd have in such configuration (i.e. kubemark-4000 with settings from above).

I w

[2016-10-19 07:19] rogerwelin commented on #34695
@kad thanks, I will look into it

[2016-10-19 07:21] #34800 closed

[2016-10-19 07:26] vklonghml opened #35096 "kube-apiserver flag redefined: log_dir"
hi,forums
when i run go install in cmd/kube-apiserver, then start this binary, the service always failed with
panic(0x305bb20, 0xc8203cb430)
/usr/local/go/src/runtime/panic.go:481 +0x3e6
flag.(FlagSet).Var(0xc820088300, 0x7f9dde6366a0, 0xc8203cb3e0, 0x42546b0, 0x7, 0x4714660, 0x2f)
/usr/local/go/src/flag/flag.go:776 +0x454
flag.(FlagSet).StringVar(0xc820088300, 0xc8203cb3e0, 0x42546b0, 0x7, 0x0, 0

[2016-10-19 07:46] errordeveloper commented on #34884
I believe test instructions for someone who has already installed kubeadm would be something like:

### On Ubuntu 16.04
[code]

## On CentOS or other EL7-based distros
[code]

And finally:
[code]

Can anyone here test this, so we can can point folks who had issue at these?

[2016-10-19 08:03] #30589 closed

[2016-10-19 08:03] #31937 closed

[2016-10-19 08:20] xrow commented on #30712
@dchen1107

What is your docker version?
[code]
Is your docker daemon is still runnning when node is not ready?
Yes.

Please let me know what other information you need.

[2016-10-19 08:30] haizaar commented on #23354
I agree completely. In fact we use deployment-per-master strategy
(pre-petset approach) to run ES masters. My only intention was to warn
others from falling into trap of running ES masters without persistence.

On 19 October 2016 at 07:42, Clayton Coleman <notifications@github.com>
wrote:

--
Zaar

[2016-10-19 08:42] ingvagabund commented on #34801
Commit causing the test to fail was reverted by https://github.com/kubernetes/kubernetes/pull/34961

[2016-10-19 08:42] kargakis commented on #34776
This is unfortunate because it means PDB cannot work with controllers that use MinReadySeconds. Note that Available is a superset of Ready so if something works with Available it can also work with Ready, not the other way around. I see two solutions to this: 1) add Available condition to pods or 2) add MinReadySeconds to PDB. I also don't like 2 and 1 doesn't seem to be something we will have in

[2016-10-19 08:44] gl328518397 commented on #29540
Starting HTTP server on port 9090
Creating API server client for https://192.168.3.1:443
Error while initializing connection to Kubernetes apiserver. This most likely means that the cluster is misconfigured (e.g., it has invalid apiserver certificates or service accounts configuration) or the --apiserver-host param points to a server that does not exist. Reason: Get https://192.168.3.1:443/version

[2016-10-19 08:54] thaume commented on #34884
Hey @errordeveloper thanks for the update ! Just ran your script, here are the results.

After updating the master, the other node disapeared (I guess this is pretty normal, since the `kubeadm reset` and `kubeadm init` create a new "join" token).
[code]

After running the update on the second pod + joining, my apiserver and k8s dashboard are fiercly running on port `:6443`.

A quick note, a prefli

[2016-10-19 09:16] JorritSalverda commented on #33745
I managed to get overlay fs to work in the Docker in Docker image. I use the following in the manifest to get this to work:

[code]

I've tested it with a number of builds an everything seems to be running fine, so I'll close this issue.

[2016-10-19 09:16] #33745 closed

[2016-10-19 09:17] chandresh-pancholi commented on #34154
I have given read access to a user and trying to access graphana dashboard. I am also getting same error.
Any idea what could be the reason?

[2016-10-19 09:27] swq499809608 commented on #29166
Name:		docker-data
Namespace:	default
Node:		10.252.8.46/10.252.8.46
Start Time:	Wed, 19 Oct 2016 17:11:21 +0800
Labels:		<none>
Status:		Pending
IP:
Controllers:	<none>
Containers:
  rbd-rw:
    Container ID:
    Image:		kubernetes/pause
    Image ID:
    Port:
    State:		Waiting
      Reason:		ContainerCreating
    Ready:		False
    Restart Count:	0
    Volume Mounts:
      /mnt/rbd from rbdpd

[2016-10-19 09:29] bogdando commented on #35041
Related https://github.com/kubernetes/kubernetes.github.io/issues/1319
Use case is: user may want to install binaries that listed as kubeadm dependencies from hyperkube, not from packages. Thus, the kubeadm must be able to be installed w/o dependencies or just from hyperkube

[2016-10-19 10:01] wojtek-t commented on #35020
I'm reopening it for now, since it seems that we are still facing "no space left on device" issues in kubemark scale.

[2016-10-19 10:06] gajus commented on #23618
For the record, I am getting the same issue on v1.4.0.

[code]

[2016-10-19 10:09] #34221 closed

[2016-10-19 10:10] #35093 closed

[2016-10-19 10:17] hrdcdr opened #35103 "AWS: cluster/kube-up.sh stays in loop forever in version 1.4.3"
When I run cluster/kube-up.sh it loops on Waiting for cluster initialization. I was tried to spin up a cluster in us-west-1, us-west-2, eu-west-1 several times and no result.
There is output from a startup script:

[code]

[code]

From master node:

[code]

[code]

[code]

[2016-10-19 10:24] errordeveloper commented on #28296
I think this is a bug in `kubectl set image`.

[2016-10-19 10:39] errordeveloper opened #35105 "kubectl set image outputs user-facing message when output is redirected"
I've been testing a simple upgrade script for kubeadm, and discovered this surprising behaviour:
[code]

The problem is with `running in local mode...` message, it shouldn't appear when output is being redirected.

[2016-10-19 10:52] k8s-merge-robot opened #35106 "[k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-serial/159/

Failed: [k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27662 #29820 #31971 #32505 #34221

[2016-10-19 11:22] ajohnstone commented on #34413
Getting this issue too on 1.4.3

[code]

[code]
yaml
[code]

[2016-10-19 11:36] deads2k commented on #35093
Known problem from https://github.com/kubernetes/features/issues/95. You have to get them inside one sync interval.  I am surprised restarting didn't help though.

[2016-10-19 11:41] errordeveloper commented on #34101
I am very happy to hear you got it working, we planning to add a proper
vagrant how-to, once we have tested latest packages. Have you referred to
the Ansible code in k8s-playgound repo linked from the docs?

On Wed, 19 Oct 2016, 07:54 Peter Gardfjäll, <notifications@github.com>
wrote:

[2016-10-19 11:45] deads2k commented on #35064
Yes.  Looks like it cleared up after it merged.

[2016-10-19 11:45] #35064 closed

[2016-10-19 11:46] k8s-merge-robot opened #35107 "kubernetes-e2e-gce-etcd3: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-etcd3/4000/

Run so broken it didn't make JUnit output!

[2016-10-19 11:52] k8s-merge-robot opened #35108 "[k8s.io] Cluster size autoscaling [Slow] should increase cluster size if pods are pending due to host port conflict [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-autoscaling/1112/

Failed: [k8s.io] Cluster size autoscaling [Slow] should increase cluster size if pods are pending due to host port conflict [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}

[code]

Previous issues for this test: #33793

[2016-10-19 11:57] petergardfjall commented on #34101
@errordeveloper: yes, I did have a look at that code and just adapted their `sed` snippet to my particular setup.

[2016-10-19 12:02] gmarek commented on #35106
Fix is merged.

[2016-10-19 12:02] #35106 closed

[2016-10-19 12:10] k8s-merge-robot opened #35110 "[k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/2366/

Failed: [k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27662 #29820 #31971 #32505 #34221 #35106

[2016-10-19 12:12] gmarek commented on #35110
Fix has been merged... still waiting for the first run.

[2016-10-19 12:12] #35110 closed

[2016-10-19 12:17] AdoHe commented on #35092
I believed this has been fixed #34981

[2016-10-19 12:33] k82cn commented on #35092
@AdoHe , it seems not; in https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/get.go#L326 , it's not necessary to print `No resources found.` if errs is not empty.

[2016-10-19 12:33] zreigz commented on #35076
If there is a need I can work on this

[2016-10-19 12:38] eparis commented on #34822
I restate my position that: `No cluster admin is going to accidentally give a user permission to manage StorageClasses but a cluster admin could certainly give a user the ability to annotate a PV without realizing how dangerous it is.`

I'm fine with the system being unable to de-provision a PV if the admin deleted the storage class. We can work in the future to try to keep the storage class from

[2016-10-19 12:42] #33375 closed

[2016-10-19 12:45] wojtek-t commented on #32024
@resouer - since you asked for some pseudo-code, let me write what I think is missing

1. I think that we should add a method to cache to invalidate only a predicate with a given name (on all nodes). This should be pretty simple.
[Reason: in many cases (e.g. change in a volume) it doesn't make sense to invalidate all the cache, we can only invalidate predicates related to volumes].

2. In general

[2016-10-19 12:48] AdoHe commented on #35092
@k82cn ok, seems other issue.

[2016-10-19 13:20] wojtek-t opened #35117 "Avoid computing the same information multiple times in scheduler"
Looking into profiles of scheduler, there shows a bunch of things that we are doing unnecessarily.
In particular, instead of computing the same information for a given node multiple times, we should cache it as part of NodeInfo:
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/schedulercache/node_info.go#L32

The information that should be cached and reuse later include:
-

[2016-10-19 13:23] #35105 closed

[2016-10-19 13:30] wojtek-t commented on #35117
Another quick optimization should be optimizing "selectHost" method:
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/generic_scheduler.go#L132

In fact it doesn't need to sort the whole list (which is O(nlgn).
All we need to do is to choose the elements that have highest score, and sort only those by node name (to leave the logic that we currently have with round-robic lo

[2016-10-19 13:39] wojtek-t commented on #35117
And we should also limit the amount of places where we call "Parallelize" (because those are relatively expensive). The whole MR-like priorities is a step in this direction too.

[2016-10-19 13:39] fw0037 opened #35118 "how to remove the docker images and tag the image again?"
when I using the commands in kubernetes like below:

docker build -t cenginetest:latest  /root/
docker tag  <imageid>  http://10.60.80.80/cenginetest
docker push  http://10.60.80.80/cenginetest

then I using kubectl create -f /root/cenginetest.yaml to create pods.
using docker rmi -f <imageid> to remove the image, because of the incorrect pods.
Now I rebuild the image and tag the image again, but

[2016-10-19 13:43] wojtek-t commented on #35020
Seems to be fixed by https://github.com/kubernetes/kubernetes/pull/35102

[2016-10-19 13:43] #35020 closed

[2016-10-19 13:52] eparhei commented on #35065
@chrislovecnm yes, I don't know what has happened. I noticed it when I saw the email corresponding your comment. Sorry :)

[2016-10-19 13:53] ingvagabund commented on #34801
No more flake comments for the last day, closing.

[2016-10-19 13:56] k8s-merge-robot opened #35121 "[k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/2468/

Failed: [k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27662 #29820 #31971 #32505 #34221 #35106 #35110

[2016-10-19 13:59] lukaszo opened #35123 "Create firewall flake"
I1019 05:22:31.267] Creating new network: jenkins-e2e
W1019 05:22:31.486] WARNING: You are creating a legacy network. Using --mode=legacy will be required in future releases.
W1019 05:22:53.272] Created [https://www.googleapis.com/compute/v1/projects/k8s-jkns-pr-gci-gke/global/networks/jenkins-e2e].
I1019 05:22:53.442] NAME         MODE    IPV4_RANGE     GATEWAY_IPV4
I1019 05:22:53.442] jenkins-e2

[2016-10-19 14:57] chrislovecnm commented on #35065
No worries. Please close the issue.

[2016-10-19 15:03] kargakis opened #35126 "Protobuf serializer messes with 2xx responses from the api server"
We have an endpoint that replies with 204 every time it doesn't have any work to do but the protobuf serializer returns an "empty data" error when decoding and makes callers believe there is an actual error.  It shouldn't.

cc: @kubernetes/sig-api-machinery @smarterclayton

[2016-10-19 15:05] #35065 closed

[2016-10-19 15:16] smarterclayton commented on #23896
https://github.com/atlassian/smith is a slightly different take on this.

To answer your question in brief (the template proposal covers this a lot better) - Helm and Templates are slightly different tools and have different strengths.

The strengths of templates is that they can be stored on the API server as API objects, that they can define parameterization clearly, and that they are simple eno

[2016-10-19 15:28] sandys commented on #35041
+1 on this. i would rather not depend on package manager for k8s updates... especially when i may need to get some patches.

i would much rather have

[code]

[2016-10-19 15:31] errordeveloper commented on #35041
cc @kubernetes/sig-cluster-lifecycle

[2016-10-19 16:22] fabianofranz commented on #13282
There are logs present across the codebase that go from 0 up to 10.

I'd suggest we formally embrace **0-4 as debug-level** logs, and **5-10 as trace-level** ones. Then I'd do 3 things:

1) Update the flag description to something like the one below.

[code]

Also, short and long forms are equal today (`-v` and `--v`), we could in addition consider a longer long form like `--loglevel`, although th

[2016-10-19 16:22] fabianofranz commented on #35054
Reproducing the comment I added in https://github.com/kubernetes/kubernetes/issues/13282#issuecomment-254864687:

There are logs present across the codebase that go from 0 up to 10.

I'd suggest we formally embrace **0-4 as debug-level** logs, and **5-10 as trace-level** ones. Then I'd do 3 things:

1) Update the flag description to something like the one below.

[code]

Also, short and long forms

[2016-10-19 16:23] thockin commented on #32215
This looks OK, I'll review the PR next.  It seems problematic to get rid of all the legacy flags, though.  My biggest desire is that we move in the direction of:

a) old flags work for compat
b) config file is better than flags
c) configMap (same exact format as config file) is how we really operate

None of this is "public" API in the sense of the kube API.  The fact that it all lives in pkg/apis

[2016-10-19 16:29] ncdc commented on #32215
@thockin the format of the config file is "public" and should be versioned with compatibility considerations. Wouldn't you agree?

[2016-10-19 16:32] bogdando opened #35133 "kubeadm feature flags"
FEATURE REQUEST:

Add runtime/config feature flags for granular control of `kubeadm init` tasks. Like:
- etcd clustering,
- certs management,
- container images pulling,
- configs generation,
- static pods definitions for system components,
- essential addons installation.

**Use case**:
One may want to use hyperkube and do not pull images for apiserver and other components.
Or one may want to onl

[2016-10-19 16:33] kmala opened #35134 "kubectl apply fails when the type of env var in the manifest changes from value to configmap reference"
**Kubernetes version** (use `kubectl version`): 1.4.0

**Environment**:
- **Cloud provider or hardware configuration**: GKE

**What happened**: `kubectl apply` fails to change the way environment variable is specified from a normal value to a configmap reference.

**How to reproduce it** (as minimally and precisely as possible): Create a deployment object with an environment var in the container m

[2016-10-19 16:34] ncdc commented on #32215
Also, re b) and c), are you saying that the ideal execution is something like `kube-proxy --kubeconfig=$kubeconfig --configmap=$namespace/$configmap`, where `--kubeconfig` specifies a kubeconfig file the component uses to talk to the apiserver, and `--configmap` specifies which configmap to use for configuration? Or just that you store it in a configmap, and lay it down via a volume in the pod?

[2016-10-19 16:40] hongchaodeng opened #35135 "Have a better way share infra to reproduce flaky/scale issue"
Nowadays the upstream test infra is owned by Google and community members has no way to access it.

It becomes horrible issue when we need to rerun the test and reproduce the issue:
- inconsistency between the ways to rerun the test.
- test infra is different.

The problem becomes very serious when test involves multiple components to work together, and becomes time consuming. Scheduler, scale iss

[2016-10-19 16:40] hongchaodeng commented on #34709
Moved to #35135

My take on etcd logs is that it's taking a long time to serve requests, failed a lot of requests. Check "etcd_grpc_requests_failed_total" metrics.

[2016-10-19 16:41] hongchaodeng commented on #35135
@timothysc @wojtek-t @xiang90

[2016-10-19 16:43] hongchaodeng commented on #34709
@wojtek-t

Can you reproduce it? If so, can you share with us (sharing everything incl cluster)?

[2016-10-19 16:43] yujuhong commented on #34999
I am fine with a short-term fix. @feiskyer wanna send a PR?

[2016-10-19 16:44] bogdando commented on #35133
cc @kubernetes/sig-cluster-lifecycle

[2016-10-19 16:47] xiang90 commented on #34709
@wojtek-t Any idea on how to reproduce this? Do we did something wrong?

If you take a look at failed requests, there are many of them. So etcd requests failed for sure.

There are other symptoms from the logging line you provided.

Normally, a request takes ~30ms to go through due to slow HDD.

[code]

If you checked the metrics for fsync, they matches.

But sometime, a request might take 1 secon

[2016-10-19 17:07] smarterclayton commented on #35126
Hrm.  We're letting the decoder handle zero byte input (on the off chance that the decoder understand empty objects).  JSON and Protobuf serializer behave differently in presence of empty.

If we read a file on disk, an empty file is an error (it's not a valid object).  So I think the serializers should error on empty output (and handle "almost" empty like `{}` as they do today), and rest client s

[2016-10-19 17:23] spxtr commented on #35123
For some reason it's using `jenkins-e2e` for all clusters rather than the agent name.

[2016-10-19 17:29] derekwaynecarr commented on #30909
This was fixed in https://github.com/kubernetes/kubernetes/pull/33274

[2016-10-19 17:29] #30909 closed

[2016-10-19 17:36] MrHohn opened #35140 "kubedns should not use Kubernetes service as the ready signal"
From [current kubedns codes](https://github.com/kubernetes/kubernetes/blob/master/pkg/dns/dns.go#L153-L162). The `kubedns` starts with running services and endpoints store controller, and setups the ready signal once `Get(kubernetesSvcName)` returns.

Although store controllers will start with `list`ing all objects and sync, there is no guarantee that all existing services/endpoints can get fully

[2016-10-19 17:36] ghodss commented on #13282
SGTM. I think you can omit the short flag version since all flags are automatically converted internally to long-flag and that's where we want to end up anyways.

I think you still want some more docs and/or guidelines (especially for developers) that give people a little more guidance on what log level to pick within that range, both for when you're debugging and for when you're developing.

[2016-10-19 17:44] ghodss commented on #34800
Just out of curiosity, why is name allowed to be non-unique in VolumeMounts? If it can't be used to refer uniquely to a mount, why does the field even exist?

[2016-10-19 17:44] spxtr commented on #35123
It's testing GCE! I'll fix.

[2016-10-19 17:48] MrHohn commented on #34274
Sorry to bother, I want to know what is the plan for "Prune all restmappings"? I think addon-manager will need this feature (at lease need to also prune given additional restmappings?).

[2016-10-19 17:51] bprashanth opened #35145 "Node controller shouldn't hard delete pods on partitioned nodes"
Background https://github.com/kubernetes/kubernetes/issues/31762
Proposal  https://github.com/kubernetes/kubernetes/pull/34160
Proposed actions for 1.5 https://github.com/kubernetes/kubernetes/pull/34160#issuecomment-254764348

At a high level:

Today:
- Partition
  - nodecontroller "deletes" (sets deletionTimestamp)
  - kubelet doesn't see this
- Partition lasts for 5m
  - nodecontroller "hard de

[2016-10-19 17:53] wojtek-t commented on #35145
@gmarek

[2016-10-19 17:54] spxtr commented on #34986
[code]

[2016-10-19 17:54] mikedanese commented on #34274
I have not started working on it. I can take a look or you can if you want.

[2016-10-19 17:56] ghodss commented on #35016
When you say "optimistic lock failure", what mechanism exactly are you referring to?

[2016-10-19 17:58] davidopp commented on #34856
cc/ @mml

[2016-10-19 17:59] dims commented on #29534
Looks like there's a bug with status 'assigned' : https://bugzilla.redhat.com/show_bug.cgi?id=1379484

[2016-10-19 18:00] MrHohn commented on #33289
Sorry to bother, is there an ETA for this?

FYI, as #34513 merged, we will upgrade the addon-manager to support rolling update for `Deployment` once `kubectl apply --prune` is ready to go. After that I will start working on enabling horizontal autoscaler for `kube-dns`. These will happen before 1.5 code freeze.

[2016-10-19 18:02] thockin commented on #34800
It is the name of the volume.  I can mount the same volume in more than one
place, especially true with subPath.

On Wed, Oct 19, 2016 at 10:44 AM, Sam Ghods <notifications@github.com>
wrote:

[2016-10-19 18:07] bprashanth commented on #35140
Yeah we can list all services, populate records, setup the watch for updates, then open up for business.

[2016-10-19 18:09] derekwaynecarr commented on #27430
@bgrant0607 - I have a concern with `StatefulApp`.  We will be answering tons of questions that say, "No, you do not have to use a StatefulApp if you want to have a persistent volume attached to your application.".  Much of the PM/user feedback we have got from the Red Hat side of the house is that "State" is a term that is too overloaded for this context.  We have had some users request "Multiple

[2016-10-19 18:09] bprashanth commented on #35140
Maybe we can fit this into 1.5? We recently had someone scale down a cluster and experience a mini crisis because their new replicas ended up hitting the new kube-dns pods and crashing when lookup failed

[2016-10-19 18:20] davidopp commented on #27430
+1 to @derekwaynecarr 's comment above about anything of the form Stateful*

I think it's actually worse to be overly-specific than to be not-obvious-until-someone-explains-the-connection.

[2016-10-19 18:29] pwittrock commented on #34254
cc @pwittrock
cc @lavalamp

[2016-10-19 18:36] MrHohn commented on #35140
Sounds good, I can take a look at this.

[2016-10-19 18:36] ymqytw commented on #34413
I observed the APIVersion is wrong sometimes when using encoder to [encode](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/apply.go#L397) a internal object
Sometimes it has `"apiVersion":"autoscaling/v1"` which is correct, but sometimes it has `"apiVersion":"extensions/v1beta1"` which is wrong.

I think there is something wrong with the [encoder](https://github.com/kubernetes

[2016-10-19 18:41] MrHohn commented on #34274
Sure, I can take a look at this if it is not complicated.

I wanna follow the plan you proposed before: add a `--type` flag to modified the `visitedRESTMappings`

[2016-10-19 18:47] mbohlool commented on #34254
For Definitions, we can add them all today as a comment tag for types.

For Operations, with current use of gorestful, we can only have hacky ways to implement them, and we need to change (hack) gorestful too. My plan for next version is to have a IDL (something like proto services) for routes so we can add tags/comments to each route and it would be the best way to implement above operation exten

[2016-10-19 19:02] vreon opened #35149 "kubectl apply emits error when patching a ScheduledJob"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

Nope!

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

kubectl, apply, scheduledjob, batch/v1

---

**Is this a BUG REPORT or FEATURE R

[2016-10-19 19:10] bgrant0607 commented on #27430
@derekwaynecarr @davidopp I disagree. An obscure name won't help us. The name can help steer new users in the right direction, which can be hard to do with documentation alone. OTOH, we can explicitly state in all the relevant docs that all controllers and pods support PVCs/PVs, and the tradeoffs of using those other mechanisms (lack of fencing, lack of generating claims from a template, lack of m

[2016-10-19 19:12] bgrant0607 commented on #29735
cc @lukaszo

[2016-10-19 19:14] bgrant0607 commented on #29735
@pwittrock:

@kargakis sent a PR to change the defaults (#34339), but we'd need a new apiversion to do that.

[2016-10-19 19:14] k8s-merge-robot opened #35150 "kubernetes-e2e-gci-gce-reboot: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-reboot/916/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by triggering kernel panic and ensure they function upon restart {Kubernetes e2e suite}

[code]

Issues about this test specifically: #34123

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by or

[2016-10-19 19:18] ZhangBanger commented on #34067
Does this make sense?

`make release-skip-tests WHAT=cmd/kubectl GOFLAGS=-v`

[2016-10-19 19:24] gmarek commented on #35145
From NC perspective it's a trivial change, so it's more related to all other controllers than to NC.

I'd rather not do it for 1.5, as we're introducing taints/tolerations as a way to handle Pod evictions. Doing both those things will increase the probability of a serious bug. If we want to pursue this we'd need to figure out a good story for on-prem clusters when the Node will never come back (it

[2016-10-19 19:24] #35121 closed

[2016-10-19 19:27] danpaik commented on #27430
fyi, this email was just sent out to the kubernetes-dev mailing list regarding the vote.

Dear Kubernetes Community,

In version 1.3, we alpha released a feature called “PetSets” which enables stateful application support in Kubernetes.  After careful consideration and discussion with community members, we have decided to change the name of this feature “PetSets” (background: https://github.com/ku

[2016-10-19 19:28] smarterclayton commented on #27430
The names you've listed don't seem to correspond to any of the better suggestions that have been generated in the past.  Can you describe how you picked these names out of the suggestions above?

[2016-10-19 19:32] smarterclayton commented on #35145
We can't move pet sets to beta without this change, and if the proposal is accepted I think the general pod safety issue is more important to general users of kube than taints and tolerations in specific.

[2016-10-19 19:34] smarterclayton commented on #35145
I don't think eviction has anything to do with hard deletion.  The decision
on whether to evict sends the delete signal.  Hard deletion has no
intersection with NodeUnresponsive.

But these are all things that should be discussed on the proposal, not here
(if you're disagreeing that force pod deletion should not be done by the
node controller).

On Wed, Oct 19, 2016 at 3:24 PM, Marek Grabowski <no

[2016-10-19 19:39] vreon commented on #35149
Found kubernetes/kubernetes#34010 while looking through the changelog; this is probably a duplicate of that issue. Will upgrade and confirm.

[2016-10-19 19:41] bacongobbler commented on #23920
We've also seen this issue with Deis. We use a hostPort with a container called [registry-proxy](https://github.com/deis/registry-proxy) to bypass the Docker `--insecure-registry` requirement for internal networks. We've seen this occur only on CoreOS-specific installations such as with [kube-aws](https://github.com/coreos/coreos-kubernetes). Vagrant (Fedora), GKE (Debian), AWS (Ubuntu) and [Minik

[2016-10-19 19:44] hjacobs commented on #29789
:+1: we are also interested in this feature :smile: We are currently implementing our own adapter with custom annotation to automatically assign Route 53 DNS records (Alias) for the ELB.

[2016-10-19 19:46] danpaik commented on #27430
We started by listing pretty much all of the suggestions that came in through this thread and then discussed each one on whether it was confusing with other features or technology (e.g. ReplicaSet, ShardSet) or sounded odd (IndividualSet), had potential for controversy, etc. and eliminated as we went down the list over a few rounds of discussion.  We also wanted to end up with a manageable list (<

[2016-10-19 19:49] hjacobs opened #35151 "Container Spec env vars: allow simple map instead of list of name/value pairs"
**Is this a request for help?**: no

**What keywords did you search in Kubernetes issues before filing this one?**: env, spec, environment

---

I would like to conveniently specify container environment variables via a simple map instead of having a list of "name"/"value" pairs.

I.e. rather than defining the following (real world examples have a much larger number of env vars):

[code]

I would

[2016-10-19 19:49] bach1 commented on #34101
@petergardfjall : thanks for the hint. I can also confirm that I have a working system now.

[2016-10-19 19:53] gmarek commented on #35145
I don't care about NC, I strongly believe that *something* on master should be doing hard deletions. I'm not sure why this issue was created if not to discuss this, but sure - it should be discussed on the original proposal. I'll probably won't have time to read it through though - I'll be happy if @thockin or @davidopp will be OK with this change.

[2016-10-19 19:57] davidopp commented on #35145
I gave up following the original discussion because it got too long. I'll schedule an in-person meeting with @bprashanth to try to extract the important bits. I share @gmarek 's concern about making additional changes to NodeController in 1.5. We already have one PR out for review that makes large changes for NodeController.

[2016-10-19 19:58] rca commented on #13313
Going by @iterion's comment above, I ran the following on each system and after some minutes logs started appearing:

[code]

The lag possibly due to  kubelet sorting out symlinks in `/var/log/containers` ?

[2016-10-19 19:58] smarterclayton commented on #27430
It would have been good to do that slightly more transparently.  I was
surprised by this, and I wasn't aware this was coming up.

On Wed, Oct 19, 2016 at 3:46 PM, Dan Paik <notifications@github.com> wrote:

[2016-10-19 20:08] foxish commented on #35145
The change proposed to the NC would essentially be to turn all the force deletions of pods to graceful ones. Each of those cases that currently exist are listed in https://github.com/kubernetes/kubernetes/pull/34160#issuecomment-254384363.

[2016-10-19 20:13] bprashanth commented on #35145
The change should be easy to make and is mostly in line with the philosophy that hard deletion by an automated system is considered harmful.

The solution is: some controller (autoscaler, human) deletes the node (either in cloudprovider or in kubernetes), or human/custom-controller deletes pods with --grace-period=0.

[2016-10-19 20:14] errordeveloper commented on #34101
Have you enabled userspace mode in kube-proxy also?

On Wed, 19 Oct 2016, 20:49 bach1, <notifications@github.com> wrote:

[2016-10-19 20:15] therc commented on #21783
Can we close this? I think it's solved now

[2016-10-19 20:17] yujuhong commented on #34974
@thockin, ideally, kubelet should just be able to remove all all the inactive sandbox/containers right away, but It currently can't do that for the reasons I stated in the original post.
Given the constraints, if other resources are as flexible, we can wait until kubelet remove all of them in one shot.

However, we have very limited network resources (e.g., 256 IPs), so it may not be desirable to

[2016-10-19 20:17] justinsb commented on #21783
SGTM ...  we can always reopen if needed!

[2016-10-19 20:17] #21783 closed

[2016-10-19 20:19] vreon commented on #35149
No dice; the same behavior is present in `1.4.3`.

[code]

[2016-10-19 20:21] bprashanth commented on #35145
Implementation aside: I think it's always better to put safety first. Controllers like RC can take the "unsafe" decision. Today it's the opposite.

Even with forgiveness, safety would take precedence if there were a partition. The nodecontroller would only set deletionTimestamp. The RC would create a replacement anyway.

[2016-10-19 20:21] kargakis commented on #35126
- oc can never result in a 204 because it always forces a new rollout (and either succeeds or fails depending on the state of the triggers).
- The trigger controller watches for deployment configs and it may reconcile one that doesn't need to be updated (already deployed, no change in the pod template or image update). In such a case /instantiate doesn't have anything to do and will return a 204.

[2016-10-19 20:28] ixdy commented on #34675
of course this hasn't failed since then...

[2016-10-19 20:34] aaskey commented on #34052
+1. Looking forward to seeing this issue being addressed soon.

[2016-10-19 20:37] hjacobs commented on #32775
I personally would disagree partly here: the number of availability zones depends on the region, so how can you schedule something in AZ "c" in Frankfurt region ("eu-west-1") when it only has two availability zones as of now?

What I'm trying to say: you generally need to know the target region in order to properly select a zone (obviously for special cases hardcoded values like "a" always work).

[2016-10-19 20:39] kdima commented on #34007
We have figured out what happened. We were running CoreOS stable release which does not include recommended version of docker. After upgrading to CoreOS Beta with Docker version 1.11.2 this issue went away. Given how much effort tracking this down was I don't know if it might make sense to alert the user that they are running on a not recommended version of software.
Feel free to close the bug.

[2016-10-19 20:40] hjacobs commented on #9877
:+1: for documentation regarding production clusters on AWS --- I already [asked on "kubernetes-users" mailing list](https://groups.google.com/forum/#!topic/kubernetes-users/WRsVjG7vc9Y), but there was only one response so far. I would appreciate to hear from any production "Kubernetes on AWS" users out there :smile:

[2016-10-19 20:42] ncdc commented on #24070
Picking this back up. We **do** need the logs option when attaching. Because there can be a delay before `kubectl run` sees the pod as `Running`, it is possible for the container to produce output prior to `kubectl run` being attached to the container. In this case, you miss whatever output was produced prior to attaching. We are flaking a ton because of this in OpenShift (openshift/origin#11240).

[2016-10-19 20:48] marun opened #35156 "kubectl should indicate how it is configuring itself"
`kubectl` can implicitly configure itself in a number of different ways:
-  `/etc/kubernetes/admin.conf`
- `~/.kube/config`
- `KUBECONFIG` env var
- env vars + token (running in a pod)

When more than one of these sources of configuration are present on a given host, it would be helpful to be able to determine how `kubectl` is configuring itself.   Maybe add a config command (e.g. `config show-sou

[2016-10-19 20:50] smarterclayton commented on #35126
What is the specific client code you are calling?

On Wed, Oct 19, 2016 at 4:21 PM, Michail Kargakis <notifications@github.com>
wrote:

[2016-10-19 20:52] timstclair opened #35157 "PodStatus for un-runnable pods"
Several issues can cause a Pod to be stuck in the waiting state. For example, if a pod is created with a ConfigMap volume that doesn't exist, the pod will remain in the Waiting state, but the indication of why is only logged as an event, which are ephemeral.

We should persist the error message by setting the `PodStatus`'s `Reason` and `Message` fields to indicate why the Pod was stuck in that sta

[2016-10-19 20:55] marun commented on #35156
I also noticed that the usage message for ``kubectl config`` (as of 1.4.3) doesn't mention ``/etc/kubernetes/admin.conf`` or how kubectl will configure itself when running in a pod:

[code]

Is this deliberate or an oversight?

[2016-10-19 20:55] smarterclayton commented on #35145
The important delta here is that in a heavily partitioned clusters, you might end up with a lot more pods that are waiting for deletion - say your partition threshold is 50% - you could end up with 50% more pods than 1.4 (the replacements and the pending deletions).  The admin has to decide when to resolve partition anyway - if they delete the node (as per the proposal) then pod GC will clean up t

[2016-10-19 20:59] fabianofranz commented on #34146
@pwittrock on it.  ;)

Before anything else I'll submit a PR to [ghodss/yaml](https://github.com/ghodss/yaml) to switch back to [go-yaml](https://github.com/go-yaml/yaml) since it seems more reliable and it's now licensed as Apache 2.0 (https://github.com/go-yaml/yaml/issues/160#issuecomment-219503469 and https://github.com/go-yaml/yaml/commit/e4d366fc3c7938e2958e662b4258c7a89e1f0e3e).

[2016-10-19 21:00] kargakis commented on #35126
There is no client code involved apart from [the instantiate call in the controller](https://github.com/openshift/origin/blob/5134734ee2abc109b37abc558d2c9140bf72acd2/pkg/deploy/controller/generictrigger/controller.go#L44). In the server, [here](https://github.com/openshift/origin/blob/5134734ee2abc109b37abc558d2c9140bf72acd2/pkg/deploy/registry/instantiate/rest.go#L76-L82) is the reply that cause

[2016-10-19 21:01] #2965 closed

[2016-10-19 21:01] MikaelCluseau commented on #32543
@rbtcollins Yes, the trust boundaries are at the namespace level here. If you want it at the pod level,  the flexvolume approach would be ok (use the mount call that know the target pod). IIUC, in your case, it seems that the pods must not to access the API anyway because you have a very low level of trust in them. If they can't access the API, they won't be able to read the secrets in their names

[2016-10-19 21:02] Starefossen commented on #34884
@errordeveloper are you sure the new packages are pushed to `-unstable`?

The `filelists.xml` looks very much the same:

* https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/repodata/filelists.xml
* https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64-unstable/repodata/filelists.xml

[2016-10-19 21:14] smarterclayton commented on #35126
The instantiate client method is wrong - it needs to handle the difference between getting a 204 and an object:

[code]

Should be calling `.Do()` and then checking StatusCode != 204.  Then calling `.Into()`.

The client method should be checking whether the body is length 0 before calling the status decode check.