[2022-03-01 08:10] pacoxu opened #108405 "promoting use of parallel image pulls"
### What would you like to be added?

/sig node

kubelet flag `--serialize-image-pulls` is by default true. It has a performance issue that one big image pulling would block all pods starting(that need a new image).

The current solution is change the flag `--serialize-image-pulls=flag`.

Some discussions in https://github.com/kubernetes/enhancements/pull/2217#discussion_r556918795, #93239 tries t

[2022-03-01 09:05] 249043822 commented on #107804
only see two fork-bomb pods become Failed in Before phase, but can't see the podstatus, maybe need some debug info
[code]

[2022-03-01 09:09] MurzNN commented on #95116
I've got exactly the same problem and now I am tinkering with it already several days without any good progress :( I've asked in support channels, bug get no working advice how to resolve it.

Provided solution using `kubeadm init phase kubeconfig admin` doesn't help, it successfully regenerates the file (if I move previous one, if not - shows the error `[kubeconfig] Using existing kubeconfig file

[2022-03-01 09:47] MurzNN commented on #95116
The source of my problem was that I've configured only 2 master nodes, instead of minimal amount of 3 nodes. So when the one of two noes goes down, in `apiserver` pod I've catched the output, describing this problem:
[code]

Viewing logs after node2 is already down is tricky because they are not duplicated to syslog and `kubectl logs` stops working, so to catch this you need to run log watcher in

[2022-03-01 09:51] uablrek commented on #108319
I can't recreate this when I try to follow thre inscructions with pod not-ready rather than node not ready. When the pod is made ready again is not stated, so I tried;

1. Make a connection to a pod
2. make it not-ready. The weight is set to 0, the connection prevails
3. Re-start kube-proxy. The weight is still 0, connection still working
4. Make the pod ready
5. The weight is set to 1 after a whi

[2022-03-01 10:21] uablrek commented on #108319
I triage this issue as a bug, but it's really a duplicate of https://github.com/kubernetes/kubernetes/issues/92019 which was never fixed (it seems). Don't know if the proper action is to close this issue and re-open #92019.

/triage accepted

[2022-03-01 10:41] uablrek commented on #108319
@aojea @thockin Please instruct if this issue shall be closed as duplicate and https://github.com/kubernetes/kubernetes/issues/92019 re-opened

@andrewsykim PTAL at https://github.com/kubernetes/kubernetes/issues/92019

[2022-03-01 11:04] neolit123 commented on #95116
In the latest kubeadm HA guide we recommend 3 or more odd number CP
machines.

[2022-03-01 11:05] neolit123 commented on #95116
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/
On Mar 1, 2022 13:04, "Lubomir I. Ivanov" ***@***.***> wrote:

[2022-03-01 11:06] MurzNN commented on #95116
The problem is that you *recommend*, not *require* them. Can you explicitly describe in the documentation that with only 2 CP users will face unavailability of both nodes, if one of them goes down? Thanks!

[2022-03-01 11:11] neolit123 commented on #95116
Well i guess it is more of a requirement because it is under the prerequisites section.

You are probably seeing this problem as well
https://github.com/kubernetes/kubeadm/issues/2567
I am hoping we can fix it soon.

[2022-03-01 11:22] huylv commented on #91600
Thank you very much, @mac-chaffee. I have added requests and limits for ephemeral-storage to the deployment and it has been stable for 2 weeks so far.

[code]

One question is: how is it not evicted now when the limits are set to 4GB, but in the past it was evicted for requesting up to 200+GB of ephemeral-storage? It could have been evicted because of another pod on the same node, but at least tha

[2022-03-01 11:22] MurzNN commented on #95116
Yes, but maybe add a little note there, that with 2 CP nodes unavailability of any single node will lead unavailability of whole cluster API?

[2022-03-01 11:24] andyzhangx commented on #106677
just comment following code, and then `go test` it works, thanks!
[code]

[2022-03-01 11:50] neolit123 commented on #95116
Thats actually the bug in etcd that we want to fix with https://github.com/kubernetes/kubeadm/issues/2567

[2022-03-01 12:05] 4F2E4A2E commented on #75436
I am still encountering this issue:
[code]

[code]

[code]

[2022-03-01 12:27] uablrek commented on #108257
There have been discussions of deprecating the user-space proxier. Maybe transfer it to [kpng](https://github.com/kubernetes-sigs/kpng). A question is if anybody still uses it. Seems like you do, so if possible please explain if you have a use-case where the user-space proxier is wanted/needed.

[2022-03-01 12:28] paralin commented on #96564
@dims Isn't this still relevant? Can we re-open?

/reopen

[2022-03-01 12:53] kapiljain1989 commented on #93792
@adtac Could you please help me in this, Just little brief what we want to do in this?

[2022-03-01 12:56] sanposhiho commented on #93792
@kapiljain1989

This issue will be finished in https://github.com/kubernetes/kubernetes/pull/101799.

[2022-03-01 12:59] dims commented on #96564
/reopen

[2022-03-01 13:00] carlosdamazio commented on #108257
Hey @uablrek. Actually, I was casually reading the source code and I saw a `TODO` over there regarding the nil checks. Regarding your question, we should check if anyone actually uses it though, or maybe discuss its usage or deprecation a little further.

[2022-03-01 13:07] carlosdamazio commented on #108257
Quick question though: I saw in the [kpng](https://github.com/kubernetes-sigs/kpng) news that the user-space proxy porting was near completion, maybe it's worth talking to them in order to check upon the status.

[2022-03-01 13:23] kapiljain1989 commented on #93792
@sanposhiho Thank you for the update and also it help me to understood what we wanna achieve in this task :)

[2022-03-01 13:34] paralin commented on #96564
@dims Thanks. Ran into this recently when trying to generate protobufs using drpc, which uses the new v2 protobuf compiler (even though I'm still using the old golang/protobuf as protolib).

The errors are initially related to the go packages being named "resource" for example (no slashes or dots). When I removed that check in the proto compiler it complained about something else instead.. not so

[2022-03-01 13:45] kapiljain1989 commented on #108298
@s-urbaniak Are you working on it?
I am new for k8s contribution, is it good issue to start with?

[2022-03-01 13:48] dims commented on #96564
@paralin the urgency was reduced a bit as we got this in https://github.com/kubernetes/kubernetes/pull/100488#issue-838794121

[2022-03-01 14:05] i-am-yuvi commented on #108384
/assign

[2022-03-01 14:05] i-am-yuvi commented on #108384
/unassign

[2022-03-01 14:35] #107625 closed

[2022-03-01 14:51] rdxmb commented on #94927
/remove-lifecycle stale

[2022-03-01 16:38] damemi commented on #89930
/remove-lifecycle stale

[2022-03-01 16:42] jcleira commented on #107980
I got to have a look more in detail on the diff command under `--server-side=true`.

Using the flag is triggering an `apply` attempt for the endpoint BEFORE doing the `diff`, and the conflict is the error returned because the initial `apply` is a client-side apply and the second one (triggered by adding the flag as mentioned) is `server-side`.

It would work with this command chain:
[code]

Probab

[2022-03-01 17:18] gnufied commented on #108221
@houjun41544 that deletion does not really deletes the object from API server.The VA has a finalizer, which must be removed after successful detach of volume from node and then and only then VA is deleted. So we need to find out, how is extenal-attacher removing the finalizer if detach is failing from the node.

[2022-03-01 17:26] ravisantoshgudimetla commented on #107114
/sig auth

[2022-03-01 17:41] NikhilSharmaWe commented on #108063
@pacoxu What should be the default value of kubeClient, value which should be used when it is nil ?

[2022-03-01 17:56] hanamantagoudvk opened #108424 "[sig-network] Services [It] should be able to up and down services"
### Which jobs are failing?

E2E sig-network

### Which tests are failing?

[sig-network] Services [It] should be able to up and down services

### Since when has it been failing?

NA

### Testgrid link

_No response_

### Reason for failure (if possible)

  Mar  1 17:19:31.858: Unexpected error:
      <*errors.StatusError | 0xc003dbc820>: {
          ErrStatus: {
              TypeMeta: {Kind: ""

[2022-03-01 17:57] hanamantagoudvk commented on #108424
/sig network

[2022-03-01 18:28] tamalsaha opened #108427 "Extended api server blocks deletion of namespace"
### What happened?

We have deployed a k8s extended apiserver in, say namespace "kubedb". Later we try to `k delete ns kubedb`. The namespace stays in terminating stage. If I check the status.conditions of the namespace, I see

[code]

The problem seems to be that K8s is waiting to delete resources provided by the EAS. But the EAS pods are already gone (garbage collected). So, the namespace deleti

[2022-03-01 18:28] tamalsaha commented on #108427
/sig api-machinery

[2022-03-01 18:33] NikhilSharmaWe commented on #107919
@liggitt Are we thinking on adding a new field `Cause string` in `type Error struct`.
- If yes, then I can see that we can distinguish between `invalid transition` and `invalid content`. But how are we sure about that if an errors `Cause` field is equal to `disallowed transition`, it is actually because of **disallowed transition**.

Maybe I am missing a point from your explanation, could you plea

[2022-03-01 18:37] khenidak commented on #108281
This is by design, for the following reason: Pod API object is tied to a sandbox (network namespace) on a node. The sandbox itself can restart/crash/deleted and come back with a different IPs. Node restart will cause recreation of sandboxes and hence new set of IPs. The pod object itself didn't change but its representation on the node (aka status) has changed.

What you are seeing is kubelet figu

[2022-03-01 18:38] NikhilSharmaWe commented on #107919
@liggitt Are we thinking on adding a new field `Cause string` in `type Error struct`.
- If yes, then I can see that we can distinguish between `invalid transition` and `invalid content`. Are we going to know that an error is because of `disallowed transition` is by that the whether the error have `Cause` field or not ? Am I correct here ?

If I am wrong in my understanding maybe I am missing a poi

[2022-03-01 18:39] NikhilSharmaWe commented on #107919
/assign

[2022-03-01 18:40] khenidak commented on #108267
What is the reason for tracking endpoint slices @acnodal-tc? I understand that gateways route to services not slices.

[2022-03-01 18:41] khenidak commented on #108255
/triage accepted

@thockin -- thoughts? I believe the doc are due for a refresh.

[2022-03-01 18:53] acnodal-tc commented on #108267
I'm working on a Gateway that routes directly to endpoints for better performance.

[2022-03-01 18:54] khenidak commented on #107583
Step 3 does not make complete sense https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/controllermanager.go#L277

@PradeepKumar-15  can you check that you have disabled leader-election? (https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/controllermanager.go#L227)

Otherwise we need to look at go client and check that leader elect

[2022-03-01 18:59] liggitt commented on #108427
The namespace controller must verify all registered API types are cleaned up before it can safely permit a namespace to be deleted. Deleting a backing service for an APIService without removing the APIService objects is a usage error. It's not generally safe for the controller to assume that it can delete APIService objects (you could be recreating or relocating the service, and the data would app

[2022-03-01 19:01] khenidak commented on #106713
I think we should be able to "hold" the port with just bind(2). I don't remember seeing bind in go. We may have to call the syscall directly.

[2022-03-01 19:31] tamalsaha commented on #108427
Here I have deleted the namespace. Is namespace is considered "a backing service for an APIService"?

I understand. Should it be possible for the user to say that namespace to garbage collect such apiservices (instead of doing so automatically)?

[2022-03-01 19:33] liggitt commented on #108427
The service was in the namespace, so yes... that triggered deletion of the service and pods backing the APIservice before you removed the APIservice

cluster-scoped objects don't have the ability to indicate they are owned by namespaced objects, no

[2022-03-01 19:35] tamalsaha commented on #108427
So, is there anything that can be done at the k8s level? Or, the only option is to tell users  who get into such a situation is to just clean up the apiservices manually and then wait for the ns deletion to happen.

[2022-03-01 19:38] segevfiner commented on #27264
/remove-lifecycle stale

[2022-03-01 20:03] thockin commented on #106713
Yes, I did this originally, but (IIRC) there's no tool that tells you the
port is actually busy, so writing tests for it was hard.

On Tue, Mar 1, 2022 at 11:01 AM Khaled Henidak (Kal) <
***@***.***> wrote:

[2022-03-01 20:10] liggitt commented on #108427
If the API group/version represented by an APIService is gone and isn't coming back, they should delete that APIService object. If it could come back, they need to restore functioning of the backing service so the namespace controller can ensure resources in that group/version don't exist before it will finalize any terminating namespaces.

[2022-03-01 20:27] PradeepKumar-15 commented on #107583
No, we do not have leader-election disabled.

[2022-03-01 20:49] #107973 closed

[2022-03-01 21:16] jpbetz commented on #108427
/triage accepted

[2022-03-01 21:16] jpbetz commented on #108388
/triage accepted

[2022-03-01 21:17] jpbetz commented on #108380
/cc @cheftako
/triage accepted

[2022-03-01 21:17] jpbetz commented on #108344
/triage accepted

[2022-03-01 21:18] jpbetz commented on #108322
Nudge for above question

[2022-03-01 22:26] george-angel commented on #13136
/remove-lifecycle stale

[2022-03-02 00:02] sftim commented on #108427
It might be helpful to log an explanatory Event when someone tries to delete a namespace that holds an APIService (that will then block / have an impact on removal of the namespace).

[2022-03-02 00:05] jingxu97 opened #108433 "Simplify node status update volumeAttached list"
### What would you like to be added?

The current logic in node_status_updater, it retrieves the list of nodes that need to be updated in node status (due to new volumes are attached to that node). At the same time, it mark those node in actual state for updateNodeStatusUpdateNeeded as False (those nodes do no need to be updated in node status any more).

Then node_status_updater will try to conne

[2022-03-02 01:05] armstrongli opened #108435 "nil pointer issue on Time object"
### What happened?

debug encounter panics on Time object. but panic doesn't happen when running it.

<img width="727" alt="image" src="https://user-images.githubusercontent.com/8025018/156272701-248a47d1-e9bb-493e-9753-034baed7619f.png">

### What did you expect to happen?

no panics

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to know?

[2022-03-02 01:46] h4ghhh commented on #108384
/triage accepted

[2022-03-02 01:48] armstrongli commented on #108435
/assign [api-machinery](https://github.com/kubernetes/kubernetes/labels/sig%2Fapi-machinery)

[2022-03-02 01:48] armstrongli commented on #108435
/sig api-machinery

[2022-03-02 01:50] pacoxu commented on #108405
1. The question here is why we cannot change the default value of `--serialize-image-pulls` to false. Is there any blocker?
2. If the behavior is not the default, is it not preferred?
3. From the installer aspect, can the installer detect if the container runtime supports parallel image pulling and sets the flag to false? This is also a way to promote the use of parallel image pulling

[2022-03-02 01:56] houjun41544 commented on #108221
I understand what you mean.

ADcontroller started detach at 08:39.
[code]
And from the external-attacher log, external-attacher removed the finalizer at 08:50, as follows.
The external-attacher may have some exceptions and was not started until 8:49.
[code]

[2022-03-02 02:14] pacoxu commented on #108063
If Kubelet is running in standalone mode, there is no apiserver and `kubeClient` should be nil.

[code]
From my first look, I think the change should be something like above.

[2022-03-02 02:29] #105155 closed

[2022-03-02 04:20] bswartz commented on #99955
I'm looking to push the PR to change the feature gate to beta this week or next. I'm currently working on updating the out-of-tree portions of it to beta to support this change. There's every reason to believe 1.24 will ship with the feature gate defaulting to on.

[2022-03-02 04:29] #105061 closed

[2022-03-02 05:00] RaynorGu commented on #59876
How can I mount path in wsl(/home/user/project) into the k8s pod?

[2022-03-02 06:53] kerthcet opened #108444 "remove `SelectorSpread` plugin"
### What would you like to be added?

Feature gate `DefaultPodTopologySpread` is GA, shall we remove `SelectorSpread` plugin then. I also get support from https://github.com/kubernetes/kubernetes/pull/91793#issuecomment-639800733.  Or next release will be the proper time.

### Why is this needed?

Remove unneeded plugin.

[2022-03-02 06:53] kerthcet commented on #108444
cc @Huang-Wei @alculquicondor @ahg-g

[2022-03-02 06:54] kerthcet commented on #108435
/assign

[2022-03-02 07:11] kerthcet commented on #108435
/unassign as some one has created pr.

[2022-03-02 07:12] kerthcet commented on #108435
/unassign
as someone has created pr.

[2022-03-02 07:23] #108077 closed

[2022-03-02 07:50] avijeetpandey commented on #108355
/assign

[2022-03-02 09:41] markus-wa commented on #99955
thanks for the status, that sounds great 😊

[2022-03-02 09:45] douxiaoniu77 opened #108446 "k8s performance test: clusterload2 Or k8s e2e test?"
Recently,  I'm trying to  execute performance test on k8s cluster with kubemark tool, but after several days investigation, I'm so confused which tool/framework I should use:  clusterload2? or kubernetes e2e test?

https://github.com/kubernetes/perf-tests/tree/master/clusterloader2
https://github.com/kubernetes/kubernetes/tree/master/test/kubemark

Would anyone please help to provide some suggesti

[2022-03-02 09:47] flokli commented on #76570
/remove-lifecycle stale

[2022-03-02 10:51] aojea commented on #108424
you have to add more logs, that snippet is not enough to understand the problem, I think that github allow to attach tarballs or you just can link to a gist

[2022-03-02 11:25] aojea commented on #106713
net.Listen* are opening a socket and "binding" it

https://cs.opensource.google/go/go/+/refs/tags/go1.17.7:src/net/sock_posix.go;l=194;drc=refs%2Ftags%2Fgo1.17.7

[2022-03-02 11:38] jim3ma commented on #89313
/remove-lifecycle rotten

[2022-03-02 11:39] jim3ma commented on #89313
/reopen

[2022-03-02 12:58] wojtek-t commented on #108357
We've run a couple tests with GOGC=63, 75 and 90 to confirm all the above hypothesis and the finding is that:
- GOGC=63 - brings back memory usage to the original point (for our particular 5k test)
- GOGC=75,90 - bring it down but by smaller amounts respectively
- even with GOGC=63, we observe visible drop in API call latencies (not as huge as with default GOGC=100, but still visible)

Thinking mo

[2022-03-02 13:02] MadhavJivrajani commented on #108435
@armstrongli I'm not sure this is a bug. I'm not really able to reproduce it as well (tried with a debugger as well) and again no panic occurs when you actually run it. `p.String()` simply formats the struct here, nil dereference or not doesn't really come into picture. Please attach a test that proves an actual panic occurs in some form.
/remove-kind bug

[2022-03-02 13:04] armstrongli commented on #108435
it panics when debugging step by step. it doesn't when running it directly. that's the wired part.

[2022-03-02 13:34] rtheis commented on #73698
/remove-lifecycle rotten

[2022-03-02 13:35] dims opened #108449 "Remove pv-recycler dependency on busybox:1.27"
Noticed this issue when looking at logs to figure out which images we use in a e2e test and from where. for example:

[code]

Looks like it is from here:
https://cs.k8s.io/?q=busybox%3A1.27&i=nope&files=&excludeFiles=&repos=kubernetes/kubernetes

[2022-03-02 13:40] dims commented on #108449
/assign @mkumatag
/sig storage

cc @xing-yang @msau42

[2022-03-02 13:44] dims commented on #108449
see background in https://github.com/kubernetes/kubernetes/issues/70249 and https://github.com/kubernetes/enhancements/blob/master/keps/sig-release/1729-rebase-images-to-distroless/README.md

[2022-03-02 14:04] pohly opened #108451 "storage capacity tracking: switch storage version from v1beta1 to v1"
### What would you like to be added?

The override in https://github.com/kubernetes/kubernetes/blob/ab69524f795c42094a6630298ff53f3c3ebab7f4/pkg/kubeapiserver/default_storage_factory_builder.go#L64 can be removed in Kubernetes v1.25 because then the oldest supported kube-apiserver for downgrades will be v1.24 which will understand the v1 format.

Also need to adapt test/integration/etcd/data.go.

[2022-03-02 14:04] pohly commented on #108451
/assign

[2022-03-02 14:24] hrabhijith opened #108453 "Cannot access Kubernetes Cluster after Master node Dynamic IP changes"
### What happened?

I had a single node (only master) Kubernetes cluster up and running with couple of workloads. The cluster was created using "Kubeadm".

Now, the IP address of the Master node changes due to DHCP or assume that I had to shift the Master node to other network or unplugged the ethernet and connected to a different NIC. (Dual NIC)

The following issues come up:

**1. Kubectl access

[2022-03-02 14:37] hrabhijith commented on #108453
/sig k8s-infra
/sig network
/sig node

[2022-03-02 14:53] alculquicondor commented on #108444
We need to do it for a new ComponentConfig version

I think we should be ready to graduate component config to v1 next release (1.25) https://github.com/kubernetes/enhancements/tree/master/keps/sig-scheduling/785-scheduler-component-config-api

Do you want to own that?

That doesn't mean that we can remove the code in 1.25. We need to support v1beta3 for at least 2 more releases after we publish a

[2022-03-02 15:09] kerthcet commented on #108444
I'll take this into my TODO list then. Thanks aldo.

[2022-03-02 15:32] RichardoC commented on #90438
Which version are you using? I can't find a reference to "challenges" in the [v1.23 API docs](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.23/) or kubectl
`$ kubectl api-resources | grep challenge
$`

Thanks!

[2022-03-02 15:34] RichardoC commented on #104252
Thanks! Regardless of the port number conventions, k8s should be able to recover from this unfortunate scenario.

I hope this request makes sense?

[2022-03-02 15:37] aojea commented on #108453
@neolit123 does kubeadm allows to change the IP? I don't think that can works since certificates are using those IPs right?

[2022-03-02 15:46] hrabhijith commented on #108453
The idea behind running the kubeadm init second time is to regenerate the certs with new IP. I have deleted certs before running kubeadm init. I had also tried giving just --advertise-api-address=<newIP> to kubeadm init. But still it fails.

I have no idea about what does kubeadm do second time, after changing IP. I just followed steps which worked before for people in this scenario.

[2022-03-02 15:57] aojea commented on #106651
This kernel issue was fixed, thanks Florian Westphal and @VivekThrivikraman-est

/close

[2022-03-02 15:57] #106651 closed

[2022-03-02 15:57] neolit123 commented on #108453
changing the IP of the CP node is not supported and complicated, you should have used the control-plane-endpoint option with a DNS name instead of --apiserver-advertise-address. see here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#considerations-about-apiserver-advertise-address-and-controlplaneendpoint

and then just change the IP behind the DNS.

[2022-03-02 15:58] #108453 closed

[2022-03-02 15:59] neolit123 commented on #108453
/remove-sig node network k8s-infra
/remove-kind bug
/sig cluster-lifecycle

[2022-03-02 16:49] thockin commented on #86186
Dup of #20151 (though this has better discussion overall).

I've heard this request many times but we still haven't come up with anything.

https://github.com/kubernetes/kubernetes/issues/20151#issuecomment-1011137709 offers another suggestion which is somewhat interesting.  It's worth noting that secrets volume uses tmpfs, so the secrets are not actually written to disk - which this proposal woul

[2022-03-02 16:49] thockin commented on #20151
Let's converge this into #86186

[2022-03-02 17:08] andrewsykim commented on #108307
/remove-sig cloud-provider
/sig cli

[2022-03-02 17:08] andrewsykim commented on #108283
/triage accept

[2022-03-02 17:09] jiahuif commented on #108307
https://storage.googleapis.com/k8s-release-dev/ci/k8s-stable.txt Not Found
/sig release

[2022-03-02 17:13] andrewsykim commented on #108248
/triage accept
/assign @elmiko

[2022-03-02 17:13] andrewsykim commented on #108248
/triage accepted

[2022-03-02 17:13] andrewsykim commented on #108283
/triage accepted

[2022-03-02 17:26] hrabhijith commented on #108453
### use kubeadm init phase certs --config, and switch to using a DNS control-plane-endpoint

How to switch to DNS for control-plane-endpoint with existing cluster using IP address for both advertise-api-address and control-plane-endpoint? Should I edit kubeadm-config configmap in kube-system ? If yes, should I replace IP to DNS name for these two fields? or update DNS name to control-plane-endpoin

[2022-03-02 17:30] eddiezane commented on #108245
/triage accepted
/assign @soltysh

[2022-03-02 17:32] eddiezane commented on #108206
Please work with the helm authors if this is still an issue. As Lubomir said the import should be `k8s.io/kubectl`.

/close

[2022-03-02 17:34] eddiezane commented on #108161
Please reopen if you are able to provide a reproduction case.

/close

[2022-03-02 17:35] #108161 closed

[2022-03-02 17:36] eddiezane commented on #108135
This seems like a valid bug.

/triage accepted

[2022-03-02 17:36] brianpursley commented on #108307
https://storage.googleapis.com/k8s-release-dev/ci/k8s-stable1.txt (not found)
vs
https://storage.googleapis.com/kubernetes-release-dev/ci/k8s-stable1.txt (found)

Could it be related to the changes made here?
https://github.com/kubernetes/test-infra/pull/22840

[2022-03-02 17:39] eddiezane commented on #107743
/sig network

[2022-03-02 17:39] #105420 closed

[2022-03-02 17:39] #105434 closed

[2022-03-02 17:41] #107714 closed

[2022-03-02 17:46] #105369 closed

[2022-03-02 17:47] atiratree commented on #107333
/assign atiratree

[2022-03-02 17:48] eddiezane commented on #107291
@lauchokyip want to take a look at this one?

[2022-03-02 17:49] brianpursley commented on #107333
https://github.com/kubernetes/kubernetes/blob/00b528cdf42ae4c1771f3a51c557a1f289701113/staging/src/k8s.io/kubectl/pkg/cmd/cp/cp.go#L390-L391

[2022-03-02 17:55] verb commented on #108135
Agreed! Thanks for pointing this out @howardjohn

/assign

[2022-03-02 17:56] eddiezane commented on #107012
This was closed by https://github.com/kubernetes/kubernetes/pull/107044

/close

[2022-03-02 17:57] #107012 closed

[2022-03-02 17:58] khenidak commented on #106713
Binding to the +1 to same port should yield into `errno 98` for 2+ calls.

[2022-03-02 17:58] SergeyKanzhelev commented on #108348
/assign @ipochi

@ipochi any progress on this?

[2022-03-02 18:09] aojea commented on #107743
that will only return the primary IP address until https://github.com/kubernetes/kubernetes/pull/101566 is implemented.

Or you can use a hostnetwork pod and check the PodIPs, or just get the IPs from the Node API

[2022-03-02 18:14] SergeyKanzhelev commented on #108348
/triage accepted

[2022-03-02 18:24] ehashman commented on #108364
/remove-wg iot-edge
/cc @mrunalp

It's not clear to me if this is a supported use case. cgroupv2 support is only in beta.

/triage needs-information

[2022-03-02 18:26] ehashman commented on #108353
This bug doesn't seem to have enough details to reproduce or further investigate. You must include your cluster version, the container runtime, kubelet logs, and any relevant Kubernetes manifests along with clear steps to reproduce so we can help with your issue.

Once more details are provided, the bug will be accepted.

/triage needs-information

[2022-03-02 18:28] ehashman commented on #82268
This bug doesn't seem to have enough details to reproduce or further investigate. This was reported about 1.16 which is long out of support. The kubelet pod lifecycle underwent a refactor in 1.22 so this bug may no longer exist.

Can you please attempt to reproduce this on a supported version of Kubernetes after the pod lifecycle refactor (1.22+), and include your cluster version, the container ru

[2022-03-02 18:28] ehashman commented on #106884
/remove-triage needs-information
/priority important-soon

[2022-03-02 18:33] ehashman commented on #108009
Thanks for attaching the log. This isn't the full kubelet log, it doesn't start from when the kubelet starts up. Can you please include the full log? You may also want to include the logs from after the kubelet is restarted so we can see what changes when it restarts.

From what I can see, looking at errors like

[code]

it appears that there may be a node-level issue with the mounts, but we would

[2022-03-02 18:35] NikhilSharmaWe commented on #108433
@jingxu97 Do we need any improvements after the PR https://github.com/kubernetes/kubernetes/pull/108167 is merged because in the description I do not see any signs of improvements needed ?

Please inform I will look forward to work on it.

[2022-03-02 18:36] ehashman commented on #93925
/unassign

[2022-03-02 18:37] rphillips commented on #108009
The kubelet pod lifecycle was refactored in Kubernetes 1.22. I recommend trying out Kubernetes 1.23. Prior versions had some race conditions with mount points.

[2022-03-02 18:38] ehashman commented on #107632
In that case, this is an issue with the Deployment controller, not the node. Deleting the pod is probably working around the issue with the deployment controller.

/unassign
/remove-sig node
/remove-triage needs-information

[2022-03-02 18:39] ehashman commented on #106420
/unassign

[2022-03-02 18:40] ehashman commented on #106884
/unassign
/assign @smarterclayton @bobbypage @rphillips

[2022-03-02 18:44] hrabhijith commented on #108453
/kind support

[2022-03-02 18:44] ehashman commented on #105743
/unassign

Please raise this in a SIG Node meeting. I'm not sure how high priority this is, but per https://github.com/kubernetes/kubernetes/pull/85807#issuecomment-560466440 I'm not sure if this is desirable.

[2022-03-02 18:44] xhejtman commented on #108009
Unfortunetelly, the log is rotated/recycled, so it is not available, but I try to reproduce it with artificial pods. Btw, it seems that under heavy paralellel requests, kubelet strongly dislikes if mount fails or perhaps even timeouts. (if like 50 pods is spawned at once, it can happen that some mount takes more time and do temporary timeout).

However, as @rphillips suggests, I also try newer ver

[2022-03-02 18:46] ehashman commented on #106367
This test no longer appears to be flaking on either job. I think this issue can be closed.

/close

[2022-03-02 18:46] #106367 closed

[2022-03-02 19:09] elmiko commented on #108248
just adding a note here, i am going to look at updating the documentation to be more clear about the deprecation of the `--cloud-provider` flag.

[2022-03-02 19:15] eddiezane commented on #108307
cc @puerco

[2022-03-02 19:15] eddiezane commented on #107955
/triage accepted

[2022-03-02 19:26] liggitt commented on #108357
I'd recommend being more specific in the release note (quantify the latency drop we saw instead of `huge`), but yeah... surfacing the default time/space tradeoff has changed in golang and you may need to use GOGC to tune that seems reasonable

[2022-03-02 20:09] jonesbr17 opened #108463 "CVE-2021-38561: Update golang.org/x/text to v0.3.7"
### What happened?

Kubernetes versions 1.21 and 1.22 are vulnerable to CVE-2021-38561

### What did you expect to happen?

Vulnerability to be mitigated.

### How can we reproduce it (as minimally and precisely as possible)?

go.mod needs to be updated to include `golang.org/x/text v0.3.7`

### Anything else we need to know?

This is fixed in the master and release-1.23 branches, but older releas

[2022-03-02 20:09] jonesbr17 commented on #108463
/sig release

[2022-03-02 20:15] jonesbr17 opened #108464 "CVE-2021-43565: Update golang.org/x/crypto to v0.0.0-20211202192323-5770296d904e"
### What happened?

Kubernetes versions 1.21 - 1.23 are vulnerable to CVE-2021-43565

### What did you expect to happen?

Vulnerability to be mitigated.

### How can we reproduce it (as minimally and precisely as possible)?

go.mod needs to be updated to include `golang.org/x/crypto to v0.0.0-20211202192323-5770296d904e`

### Anything else we need to know?

The package was updated to a non-vulnera

[2022-03-02 20:24] tkashem commented on #108357
/cc

[2022-03-02 20:24] rehevkor5 commented on #25238
That is helpful if you're using `kubectl`, but it doesn't appear to matter if you use Helm, sadly.

[2022-03-02 21:37] neolit123 commented on #108464
according to this page:
https://www.whitesourcesoftware.com/vulnerability-database/CVE-2021-43565

the affected package is:
`golang.org/x/crypto/ssh`

this repository has no use of this package outside of tests:
https://github.com/kubernetes/kubernetes/search?q=%22x%2Fcrypto%2Fssh%22

are there other implications here?

/sig security

[2022-03-02 21:50] neolit123 commented on #108463
/sig security

`golang.org/x/text` was probably updated for other reasons.

this page has the following:
https://www.whitesourcesoftware.com/vulnerability-database/CVE-2021-38561

this repository has no direct use of the `golang.org/x/text/language` package.
what is the exposed vulnerable surface?

[2022-03-02 22:43] thockin commented on #106713
Opening the port after the iptables rules is probably OK for kube-proxy, since failing the port bind is not going to cause the iptables rules to be skipped (the port bind is advisory at best).  It would not work in the dockershim hostPort path, which would NOT install iptables if bind failed.  But that's gone now.

Or, just hear me out, https://github.com/kubernetes/kubernetes/issues/100643

[2022-03-02 23:01] dims commented on #108357
@liggitt @wojtek-t looks a bunch of projects use `debug.SetGCPercent` to customize `GOGC` example [1]. Do we want to add a command line param to expose this explicitly? (so then we can document that folks can tweak that command line param)

[1] https://github.com/containerd/containerd/search?q=SetGCPercent

[2022-03-02 23:02] liggitt commented on #108357
my first reaction is that I would rather not get in the business of plumbing options to the runtime that can already be set via envvars

[2022-03-02 23:15] dims commented on #108357
gotcha. at least we should log it so will be easier when folks open issues, we can ask them to grep for it.

[2022-03-02 23:22] khenidak commented on #106713
Here are two things we can do. I think we should do them together:

1. Re-organize the loop as described above. back port the change
2. Create a process that scans the node ports (where a service should be listening) and tries to bind() if it does then it throws a log line. This process can be part of the proxy or a stand alone agent people can run it if they are interested in. Basically more or l

[2022-03-02 23:28] dims commented on #108449
slack discussion - https://kubernetes.slack.com/archives/C09QZFCE5/p1646228520456379

[2022-03-02 23:38] liggitt commented on #108357
That seems like a good idea in general (possibly other things like GOMAXPROCS, too, etc)

[2022-03-02 23:39] thockin commented on #106713
I'm just not sure what value that loop offers.  Either your app doesn't
work and you notice it OR you don't notice it, in which case who cares?

On Wed, Mar 2, 2022 at 3:22 PM Khaled Henidak (Kal) <
***@***.***> wrote:

[2022-03-02 23:49] khenidak commented on #106713
I am for going with option-2 directly(remove the port opener and figure out how we want to do that scanner).

[2022-03-03 00:14] Spiderpig86 commented on #89898
Has anyone ever run into issues where the probes fail occasionally with EOF (what does an EOF imply, no response?)? I have been able to confirm that the service is responsive and the `/health` endpoint works but would fail from time to time with a connection refused.

[code]

Thanks

[2022-03-03 00:53] jingxu97 commented on #108433
[code]

this is the logic I am thinking to change. Before it first mark all nodes from NodeStatusUpdateNeeded list to false (which means no update needed for these nodes) and then add them back if node update fails. I think it is better to mark the node to no update needed after update successfully.

[2022-03-03 02:13] ldsdsy commented on #108384
/unassign

[2022-03-03 02:49] NikhilSharmaWe commented on #108433
/assign

[2022-03-03 03:26] kkkkun commented on #108384
/assign @h4ghhh

[2022-03-03 03:39] kerthcet commented on #108288
It seems like we we have a meeting today right? @Huang-Wei

[2022-03-03 03:41] haosdent commented on #108288
yep. @kerthcet

[2022-03-03 03:42] kerthcet commented on #108288
I think I have missed it. 😅

[2022-03-03 04:14] imesh commented on #69696
I think we could use the approach explained on the following FAQ page for moving `kube-dns` and `metrics-server` pods:
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-to-set-pdbs-to-enable-ca-to-move-kube-system-pods

[2022-03-03 05:42] #87844 closed

[2022-03-03 06:22] krmayankk commented on #80611
the actual KEP is here https://github.com/kubernetes-sigs/scheduler-plugins/pull/2/files

[2022-03-03 06:24] liyimeng commented on #108364
@ehashman let ceanup the bug. be-prepared to move forward GA :D

[2022-03-03 07:14] aojea commented on #106713
+1

[2022-03-03 07:16] mk46 commented on #19310
I would like to give a try.
/assign

[2022-03-03 07:39] jcleira commented on #106741
I started investigating this yesterday.

/assign

[2022-03-03 07:56] vaibhav2107 commented on #104298
/assign

[2022-03-03 08:01] sfowl commented on #106083
This behaviour is still present on the latest version of minikube:

[code]

After creating the pod, it runs and is restarted a few times until OOM-killer is triggered and the kube-apiserver is no longer reachable.

The deep directory trees created by the hostile process persist on the node's filesystem,even after the pod is restarted e.g.

[code]
I.e. one "deep" directory for each restart.

This c

[2022-03-03 09:20] wojtek-t commented on #108357
Thanks - so modifying my proposal for release note:
[code]

Reference to the above 10x:
https://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=APIServer&metricname=LoadResponsiveness_PrometheusSimple&Resource=nodes&Scope=resource&Subresource=&Verb=GET

I opened https://github.com/kubernetes/kubernetes/pull/108480 for it - if we agree that's the right way, will add to other components

[2022-03-03 09:47] vrevelas opened #108481 "In-tree vsphere cloud provider: PV creation hangs in pending state when vSphere returns permission denied"
### What happened?

A PersistentVolume created using the in-tree vsphere cloud provider hangs in a 'Pending' state with no error message if the vSphere account lacks appropriate permissions. The is true even with the kube-controller-manager logs set to debug as per the [troubleshooting guide](https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/troubleshooting.html). In my case it

[2022-03-03 09:50] vrevelas commented on #108481
/sig cloud-provider

[2022-03-03 09:51] freefri commented on #107899
Hello, this happened again, so I am sharing some new details:

The output again from the `free -h` command:
[code]

The output of the `top` command ordered by `%MEM`:
![image](https://user-images.githubusercontent.com/2754631/156530629-e5f94664-0b2e-4cd5-ad77-47b2e0bdc55d.png)

I think this should confirm there are non-Kubernetes workloads using a lot of memory.

Here a list of pods runing on this

[2022-03-03 10:31] aojea opened #108483 "[Umbrella Issue] Integration framework: reduce goroutine leakage"
The integration framework runs an apiserver and sometimes other components before each test execution, however, the shutdown is not clean and is leaving a lot of goroutines orphan that keep accumulation between different runs.

Some orphan goroutines are connections to etcd, and since the etcd process is shared for all test, we don't know if this can cause contention and flakiness on the job.

We

[2022-03-03 10:32] aojea commented on #108483
/sig testing

[2022-03-03 10:33] hrabhijith commented on #108453
I created a new cluster using kubeadm

`sudo kubeadm init --control-plane-endpoint=<DNS>`

Then I checked /etc/kubernetes contents:

[code]
All files have IP and not DNS.

Only places the DNS is used in this case are,

[code]

How this argument is helping to solve IP changes of the node. If changed manually, then above issues.

[2022-03-03 11:42] neolit123 commented on #108453
The DNS would at least help worker nodes to not have to rejoin.
As you found there are a lot of places with the IP. You have to manually change it everywhere...certificates, manifests, configmaps.

[2022-03-03 11:45] #100483 closed

[2022-03-03 11:51] neolit123 commented on #108453
If you already did this step on the CP node and generated new CA, the worker nodes would have to rejoin anyway because they no longer trust this server and they have no client credentials for it.

Its actually less work to recreate the cluster.
Maybe backup with Valero can help, but it should be done when the cluster is active.

[2022-03-03 11:52] jsafrane commented on #105323
/remove-lifecycle rotten

[2022-03-03 12:18] hrabhijith commented on #108453
Thanks for the replies.
In my case, there are no worker nodes. The cluster has only one node and that is CP. And when IP of the CP changes, even if I change the /etc/kubernetes contents everywhere (manifests, configmaps) and generate new apiserver certs with new IP, I am not able gain access to the cluster and Kubelet is giving errors, mainly connection refused.

I will check the backup option you

[2022-03-03 12:45] cyclinder commented on #108464
I'd take this one.
/assign

[2022-03-03 12:46] fungiboletus commented on #57325
If you are coming there from a search engine like me, here are some links to help you:

 - Check if the ClusterSecrets issue is closed and the feature is released.  #70147 It's not in early 2022 but it may be in the future.
 - Use a third-party tool such as:
   - [zakkg3/ClusterSecret](https://github.com/zakkg3/ClusterSecret)
   - [IBM-Cloud/kube-samples/secret-sync-operator](https://github.com/IB

[2022-03-03 13:46] tkashem commented on #108302
the refactor PR has merged, the actual PRs to fix the issues are on the way

/reopen

[2022-03-03 13:58] Argh4k opened #108488 "Reduce amount of statusStack logs when server timeouts a lot"
### What would you like to be added?

/sig scalability

We should limit the number of stackTraces that we print in case of timeout. I am thinking about having a limit of stackTraces that can be logged in a specific time window, but I'm happy to discuss other possible solutions for this.

### Why is this needed?

Currently for each timeout we log additional statusStack with the part of runtime stac

[2022-03-03 14:36] dims commented on #108449
Looks like we can switch to `k8s.gcr.io/debian-base:v2.0.0` see below:

[code]

[2022-03-03 14:47] dims commented on #108449
looks like this image supports all the arch(es) we care about as well:

![image](https://user-images.githubusercontent.com/23304/156588319-285016f8-5c87-48e3-88dc-c5f6119d0f56.png)

[2022-03-03 14:51] Nmaxime commented on #83111
/remove-lifecycle stale

[2022-03-03 15:15] liggitt commented on #108435
see previous discussion in https://github.com/kubernetes/kubernetes/pull/105982

[2022-03-03 16:03] dashpole commented on #103186
/reopen
/remove-lifecycle rotten

[2022-03-03 16:13] DaspawnW commented on #3312
I'm here with @HcgRandon, we have a fleet of spring boot applications, and for them it's really a big problem. The context initialization consumes 1-2 CPU cores, afterwards it consumes near to nothing.
So a solution like the pod-startup-lock is very cool, with the drawback that what happens if another node runs into a crashloop during startup; how to handle this :-(

[2022-03-03 16:18] NikhilSharmaWe commented on #108488
@Argh4k Could you please elaborate about the approach should be taken for adding this feature through your suggestion
- `having a limit of stackTraces that can be logged in a specific time window`.

Looking forward to work on this.

[2022-03-03 16:20] matthyx commented on #3312
Please watch this [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/1287-in-place-update-pod-resources/README.md), as in the future there will be ways to modify requests/limits without pod restarts.

With SpringBoot in particular you'll soon have a solution with [native](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/) to generate graalVM images tha

[2022-03-03 16:21] ehashman commented on #106083
/remove-kind feature
/kind bug

[2022-03-03 16:45] sanposhiho commented on #101820
Just FYI: this may be related to https://github.com/kubernetes/kubernetes/issues/107556 in the future.

In #107556, we cannot add all scores to the event message (because the event msg has the limit on the length), so I am thinking we need to sort node-scores by total score and add the score of top N nodes.
And, if we do so, we can easily achieve to log the top M Node's score by using this sorted

[2022-03-03 17:03] HcgRandon commented on #3312
@vsevel I'm not sure if language specific workarounds are a valid solution to a very real issue that many large scale production applications face. I have to very slowly scale up my pods ~16-32 at a time when I do a cold boot otherwise the cluster and it's nodes will fail and go unresponsive.

[2022-03-03 17:13] NikhilSharmaWe commented on #107919
@liggit Could you please give your thoughts in my [previous](https://github.com/kubernetes/kubernetes/issues/107919#issuecomment-1055741300) comment.

[2022-03-03 17:14] NikhilSharmaWe commented on #107919
@liggitt Could you please give your thoughts in my [previous](https://github.com/kubernetes/kubernetes/issues/107919#issuecomment-1055741300) comment.

[2022-03-03 17:48] fedebongio commented on #108358
/triage accepted

[2022-03-03 17:49] fedebongio commented on #108322
@aniketsingh03 could you take a look to the open question please?

[2022-03-03 17:50] fedebongio commented on #108372
/assign @MadhavJivrajani
/triage accepted

[2022-03-03 17:51] fedebongio commented on #108435
/assign @liggitt @MadhavJivrajani
Thank you Jordan and Madhav for taking a look!
/triage accepted

[2022-03-03 18:07] aniketsingh03 commented on #108322
I mostly wanted to capture some queue related metrics which I had configured otherwise(not through workqueue's metric interfaces), and had to update the metric as soon as `Add()` was successful but it never returned anything which made it difficult to track whether or not an item was added to the queue.
Sorry about the late reply 😅

[2022-03-03 18:16] ehashman opened #108497 "Flag stable metric changes for additional approval"
### What would you like to be added?

Currently, stable metric changes can be approved by top-level approvers and are not obviously "special" to a contributor.

We have verify scripts that will prevent adding or changing stable metrics without updating Instrumentation-owned files, but the errors can easily be "fixed" by running the corresponding update script. Contributors may end up doing so to f

[2022-03-03 18:27] SergeyKanzhelev commented on #106893
I didn't realize that `pod-infra-container-image` has no analogs in CRI. There is no way in either runtime to pin the image. Thus marking the flag as deprecated may be premature - the end user has no alternatives and have to keep using this flag.

I suggest we revert the flag deprecation PR: https://github.com/kubernetes/kubernetes/pull/108045

[2022-03-03 18:50] Argh4k commented on #108488
I think we can approach it in a few different ways. For example:
- If we logged stackTrace for some request within last let's say 2 seconds, do not log this stackTrace
- If we logged more than 30 stackTraces in last minute, do not log this stackTrace

Overall anything that throttles the number of stackTraces that we produce is a viable solution for me.

[2022-03-03 18:56] gfvirga opened #108498 "Add sinceTime to api swagger"
### What would you like to be added?

Hello,

I am looking for help to re-add [sinceTime ](https://github.com/kubernetes/kubernetes/blob/85c43df3f6090f13a1004098a852553d1c61c745/pkg/apis/core/types.go#L4651) from the PodLogOptions REST call into the swagger file.
I have tried a few things locally on my machine and when I run the generator script it creates the correct options in `zz_generated.deep

[2022-03-03 19:01] dgrisonnet commented on #108497
I don't think we had any issue with top-level approvers graduating metrics to stable in the past, but I also don't think they should be able to do that, so I would be in favor of that change.

[2022-03-03 19:07] dims commented on #107442
let's close this out!

thanks,
dims

[2022-03-03 19:25] SergeyKanzhelev commented on #107442
/close

[2022-03-03 19:25] #107442 closed

[2022-03-03 19:40] liggitt commented on #107919
no, I'm thinking of defining a new value for the existing `Type` field inside a particular status cause:
https://github.com/kubernetes/kubernetes/blob/72232dfb43598e1e4cb3231ef67ed4c6116a9044/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L940-L946

this is already returned to API clients in a status response:
[code]

if a client saw an error status response which included causes and al

[2022-03-03 19:41] DaspawnW commented on #3312
IMHO the KEP is currently the first thing that makes me feel there will be a real solution available in the end.

[2022-03-03 19:45] Riaankl opened #108499 "Revised Update patchCoreV1NamespacedPodStatus test - +1 endpoint coverage"
# Progress <code>[2/6]</code>

- [x] APISnoop org-flow : [patchCoreV1NamespacedPodStatus.org](https://github.com/apisnoop/ticket-writing/blob/master/patchCoreV1NamespacedPodStatus.org)
- [x] test approval issue : #108499
- [ ] test pr : [!](https://pr.k8s.io/)
- [ ] two weeks soak start date : [testgrid-link](https://testgrid.k8s.io/)
- [ ] two weeks soak end date : xxxx-xx-xx
- [ ] test promotion

[2022-03-03 19:46] Riaankl commented on #108235
Replaced by #108499

[2022-03-03 19:59] ehashman commented on #107899
Your top screenshot again confirms you are using a large amount of [buffer cache](https://www.linuxtopia.org/online_books/linux_system_administrators_guide/buffer-cache.html). It is not accounted for in per-process memory usage views.

It also appears there is some sort of memory leak on your system, because the used memory by processes shown does not add up to anywhere near 3.6Gi. The node hasn't

[2022-03-03 19:59] Riaankl commented on #108235
This issue and it's PR are closed in favour of #108499

[2022-03-03 20:55] jh5pzj3p opened #108502 "Putin = Hitler"
### What happened?

Russians are insane, killing people left and right.

### What did you expect to happen?

Did not expect this shit happening to my country!

### How can we reproduce it (as minimally and precisely as possible)?

Be weak as worm.

### Anything else we need to know?

The evil must be stopped! Do anything possible to stop it!
Tomorrow this crazy pooteen can hit the "red button".

#

[2022-03-03 21:08] thockin commented on #108324
My questions are not about size.

It seems to assumt hat the test runs from a checked-out k/k repo - is that a bad assumption?

If so, should we literally embed the file (how?) or just encode it as a Go struct definition or string variable?

[2022-03-03 21:12] aojea commented on #108324
The tests should not be here, the problem it has now is that the installation manifest is outdated ... basically created a circular dependency between nginx-ingress and kubernetes, that is the reason why I had to disable them when v1beta ingress was disabled

[2022-03-03 21:17] thockin commented on #108281
100%

I don't think we should do that.  If you have untrusted actors setting that
value, you have already lost.

I don't think we are really saying that the IP can change underneath a running
pod.  The Pod object in the API has a longer lifetime than a process or even a
cgroup.

Exactly.  Consider:
* pod is created
* kubelet starts pod lifecycle
* CNI assigns IP "X"
* kubelet published pod IP X in

[2022-03-03 21:18] #108502 closed

[2022-03-03 21:20] thockin commented on #108281
Closing for now - working as intended

[2022-03-03 21:20] #108281 closed

[2022-03-03 21:24] dcbw commented on #107482
Closing for now; please re-open if you have updated information and/or the the logs requested by @khenidak. Thanks!
/close

[2022-03-03 21:24] #107482 closed

[2022-03-03 21:28] thockin commented on #108267
I'm surprised that a finalizer would get overridden (I'd expect it to trip up the controller, but not get overridden).  @robscott We should make sure that is covered in tests!  For example, if a finalizer prevents deletion, kube-proxy should be smart enough to not include endpoints in a being-deleted slice.

That said, those are managed resources and you can't expect to modify them safely.  There

[2022-03-03 21:28] smarterclayton opened #108504 "Failure cluster [9680dae9...] [sig-node] Probing container should have monotonically increasing restart count [NodeConformance] [Conformance]"
### Failure cluster [9680dae909cbef5f1b13](https://go.k8s.io/triage#9680dae909cbef5f1b13)

In
[code]

</span>

##### Error text:
[code]
#### Recent failures:
[2/26/2022, 7:33:20 PM ci-kubernetes-kind-conformance-parallel](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-conformance-parallel/1497731538819747840)
[2/26/2022, 4:09:22 PM ci-kubernetes-kind-conformance-parallel-ip

[2022-03-03 21:30] thockin commented on #108257
I don't object to making it clearer or more consistent, if you want to spend time on it, but it's not a high priority.  That said, I think a nil value in that map would be really bad (and should be impossible) and I don't know how we would raise a signal about it.

[2022-03-03 21:31] thockin commented on #108257
let us know if you want to try to fix it, otherwise we can just close this.

[2022-03-03 21:35] thockin commented on #108065
triage ping

[2022-03-03 21:46] thockin commented on #107743
I don't think the problem is the need for `hostIPs`, though.  apiserver *thinks* it is calling out to an IPv6 address and the node is never seeing that.

If you SSH to the apiserver machine and run that manual curl, does it work?

[2022-03-03 21:50] #105703 closed

[2022-03-03 21:50] thockin commented on #105617
any news here?

[2022-03-03 21:59] khenidak commented on #105617
Not yet. should have something by tom.

[2022-03-03 22:25] Riaankl commented on #108499
/triage accepted

[2022-03-03 23:20] uablrek commented on #107743
I can't recreate this problem on v1.22.2 in a dual-stack setup with IPv6 as "base" family. `kubectl logs` works on any pod.
[code]

[2022-03-04 00:01] #108449 closed

[2022-03-04 00:26] shuaichang commented on #16563
This seems to be an old issue, but it's a bit surprising to me that it seems Kubelet still does not support garbage collecting images with device mapper by reading through Kubelet GC code. Please see the following and feel free to correct if I'm wrong:

![image](https://user-images.githubusercontent.com/28563006/156674905-2946533f-8992-4fd7-a954-57e50a59d337.png)

Although Kubelet called cri.image

[2022-03-04 00:33] wgj commented on #87747
Any chance this can be revisited? Thanks!

[2022-03-04 01:50] l1b0k commented on #90298
/reopen
/remove-lifecycle rotten

[2022-03-04 01:59] chendave commented on #108324
I have trouble to enable those testcases, seems like there are something done on the gce or gke specifically.
what's your suggestion about those testcases? keep it as is, dig it further, or just remove those testcases?

[2022-03-04 03:50] #107130 closed

[2022-03-04 05:10] MadhavJivrajani commented on #108498
/sig node

[2022-03-04 05:22] Marrysmithgs commented on #108499
Can you make same code like booklified app. I need same UI/UX but in different code.

[2022-03-04 06:01] #99813 closed

[2022-03-04 06:26] #107955 closed

[2022-03-04 06:52] zroubalik commented on #96242
/remove-lifecycle stale

[2022-03-04 07:06] wangyuan0916 commented on #64760
I met this problem.
I'm user kubernetes 1.22.2 and api-server is deployed as a process running on host vms.
In my env,  there're a lot of audit logs generated.
[code]
as you can see, audit-2022-03-03T14-28-05.286.log.1 and audit-2022-03-03T15-20-18.770.log.1 are the two neighboring file. But there seems be log missing the tail of "audit-2022-03-03T14-28-05.286.log.1" and the head of "audit-2022-03

[2022-03-04 07:41] pacoxu commented on #89477
/reopen
/remove-lifecycle rotten

Pod spec warnings for beta node labels have been added since v1.22.

[2022-03-04 07:51] pacoxu commented on #103009
I tested the pod yaml(in the description) with v1.23 and the pod can be created and running with contained 1.4.6.
Let me test with old cluster with docker.

[2022-03-04 08:10] ipochi commented on #108348
I think the problem is this [line](https://github.com/kubernetes/test-infra/blob/27199ba5579711a98cdf21716cd469d8d866400a/config/jobs/kubernetes/sig-node/containerd.yaml#L1333)

The lock contention arguments should have been part of `--test-args` but instead they are mistakenly added to `--node-test-args`

I think this would have been caught if the job was merged first and then the e2e test, but I

[2022-03-04 08:54] aven-ai commented on #83471
Have the same issue.
Kubernetes v1.18.3, docker 19.03.9.

I think this should be dockerd's bug. By restart dockerd, triggerd the pod pull iamge again, and it will work.

And  I checked dockerd's thread stac,  found a pull image thread stuck in **`pullschema2layers`**.

As long as this thread exists, the new pod on the node can no longer pull the image

<img width="1075" alt="image" src="https://us

[2022-03-04 09:14] pacoxu commented on #103009
In v1.24, dockershim support is removed.

So I wondered if we should fix this issue.

[2022-03-04 09:48] adisky commented on #108348
its a kubelet flag, they should be part of `--node-test-args` only, see above job
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-node/containerd.yaml#L1302

Although `--node-test-args` should be single quoted as done everywhere else, possibly it could be a problem?

[2022-03-04 10:05] ekoaripurnomo commented on #60140
https://github.com/kubernetes/kubernetes/issues/60140#issuecomment-1049872517

Thanks, this work for me

[2022-03-04 10:20] shuheiktgw opened #108511 "[Flaky test] integration-master, TestServiceAccountTokenAuthentication"
### Which jobs are flaking?

integration-master

### Which tests are flaking?

- ci-kubernetes-integration-master.Overall
- k8s.io/kubernetes/test/integration/serviceaccount.TestServiceAccountTokenAuthentication

### Since when has it been flaking?

It started to happen since 2022-03-03

### Testgrid link

https://k8s-testgrid.appspot.com/sig-release-master-blocking#integration-master

### Reason

[2022-03-04 10:31] shuheiktgw commented on #108511
https://github.com/kubernetes/kubernetes/pull/108309
This PR might relate to this issue

[2022-03-04 10:38] ipochi commented on #108348
@adisky

Thanks for the insight. Yep it seems the `--node-test-args` is the correct place.
I've created a PR https://github.com/kubernetes/test-infra/pull/25509 to add correct args.
PTAL.

[2022-03-04 10:39] shuheiktgw commented on #108511
/sig auth

[2022-03-04 11:05] aojea commented on #108324
if they don't work and confuse people I think that is fair to remove it, let me ping ingress-nginx folks

@rikatz are you ok removing the ingress nginx test from k/k that were disabled when the v1beta1 -> v1 API drama?
I think that you have already a good CI running them

[2022-03-04 11:13] #105114 closed

[2022-03-04 11:55] VivekThrivikraman-est commented on #108065
Bit more detail on the setup, here the egress traffic(source) to LBIP is sent through pods secondary ip which is routed to the cluster through DC GW, basically simulating North south traffic. But we don't suspect secondary to DC GW having any issue(it is L2) and from the logs shared it is clear that the traffic has hit a node in cluster after ipvs rules are programmed, but has wrong reply tuple.
I

[2022-03-04 12:10] liggitt commented on #89477
I keep finding more places with node selectors we're not yet issuing warnings for. #94646 has a list, currently: PersistentVolumeSpec, StorageClass, CSIStorageCapacity, RuntimeClass

[2022-03-04 12:19] pacoxu commented on #89477
Just found that and will work on it next week.

[2022-03-04 12:36] PicoCreator commented on #101933
@ericrdgz - would be willing to give the pod-completion-reaper a try for your use case?

Generally looking for feedback on it - beyond our environment, for this exact use case haha

[2022-03-04 13:10] rikatz commented on #108324
Go for it :)

[2022-03-04 14:01] #101653 closed

[2022-03-04 14:25] kinderyj commented on #108464
same issue

[2022-03-04 14:25] MikeSpreitzer commented on #104462
/reopen

[2022-03-04 14:45] aojea commented on #108267
finalizer keeps the slice hanging, repro:
[code]

endpoint controller complains about ....
[code]

[2022-03-04 15:01] #105183 closed

[2022-03-04 15:20] carlosdamazio commented on #108257
I already opened a PR with the clearer nil checks for this specific module `pkg/proxy/userspace/roundrobin.go` in #108259, so you can review it. I think whether this would have nil values into the service map we should discuss this apart and try to reproduce this case (if any would happen).

[2022-03-04 16:20] #101135 closed

[2022-03-04 17:06] sftim commented on #108451
/sig storage

[2022-03-04 17:35] astoycos commented on #108518
/sig api-machinery

[2022-03-04 17:44] tssurya opened #108523 "Gracefully draining Services/Endpoints"
### What happened?

Currently when services or endpoints are deleted we remove the conntrack entries for UDP & SCTP services:
https://github.com/kubernetes/kubernetes/blob/88f97283393715c7fa870dd90be0fd0d0faad6bd/pkg/proxy/iptables/proxier.go#L736
https://github.com/kubernetes/kubernetes/blob/c5fbcd735d67a7cc209301dc690579fb0816e2ab/pkg/util/conntrack/conntrack.go#L132

This causes ABORT to never

[2022-03-04 17:44] tssurya commented on #108523
/sig-network

[2022-03-04 17:45] tssurya commented on #108523
/sig network

[2022-03-04 17:59] aojea commented on #108523
TCP behavior can not be changed, people expect that their applications terminate the connections gracefully, and stop doing that is a breaking change.
In UDP we don't know in which state is the connection, so we just simple drop it because the only signal we have is that the endpoint/service disappear, otherwise we blackhole traffic and services no longer work... I think that is the only solution

[2022-03-04 18:24] aojea commented on #108267
it is dropped .... eventually

[2022-03-04 18:35] uablrek commented on #108523
Is graceful termination _really_ necessary when a service is deleted?

I mean, it's not the same as a pod termination which can be a part of a scale-in. When a used delete a service it should be because it should not be used anymore, e.g when unloading an app. A used that have a use-case where traffic _must_ be gracefully terminated when a service is deleted can gracefully terminate all endpoints

[2022-03-04 18:56] uablrek commented on #108523
Related https://github.com/kubernetes/kubernetes/issues/101968#issuecomment-843272392

Iptables and ipvs is different.

[2022-03-04 19:14] thockin commented on #108267
how?  Does someone clear the finalizer?

On Fri, Mar 4, 2022 at 10:24 AM Antonio Ojea ***@***.***>
wrote:

[2022-03-04 19:16] aojea commented on #108267
Ahh, no, sorry, the slice remains ... The controller gives up

[2022-03-04 19:23] khenidak commented on #105617
/remove-sig network

as a side comment. There is two opposing forces. From networking standpoint. if pods are not ready then the LB controller must assume that they are not functional and start routing the traffic away frpm them (specially in "multi tenant" cluster). Consider the case of network partition and pods restarted with different ips, that may mean that LBs are now - not just pointing to

[2022-03-04 19:28] aojea commented on #108523
Heh, that as good question , I have to test that, if I connect to a service and I delete the service, do I keep the connection until the pod goes down?

Regarding endpoints, I was checking how other are doing and seems that haproxy has an option to explicitly indicate shutdown connection if backend is down http://cbonte.github.io/haproxy-dconv/2.2/configuration.html#5.2-on-marked-down, is.somethin

[2022-03-04 19:37] chajath opened #108524 "Horizontal pot autoscaler fails to get externel metric due to timeout in apis/authorization.k8s.io/v1/subjectaccessreviews"
### What happened?

Tested with both custom metric driver and KEDA. When HPA is configured for a external metric (whether its Stackdriver or KEDA internal), hpa fails to see the value with the following message:

`
  Warning  FailedGetExternalMetric  2m5s (x60 over 22m)  horizontal-pod-autoscaler  unable to get external metric triton-batch/s0-prometheus-gpu_utilization/&LabelSelector{MatchLabels:m

[2022-03-04 19:39] chajath commented on #108524
/sig autoscaling

[2022-03-04 19:43] francardoso93 commented on #77575
I had all resources properly set in all containers and kept struggling with this. The only solution I found was to downgrade from apiVersion: autoscaling/v2beta2 to apiVersion: autoscaling/v2beta1

[2022-03-04 19:45] chajath commented on #108524
If I manually fetch the metric with

`kubectl get --raw "/apis/external.metrics.k8s.io/v1beta1/namespaces/triton-batch/s0-prometheus-gpu_utilization?labelSelector=scaledobject.keda.sh%2Fname%3Dtriton"`

I can see the value just fine. So I don't think it's the issue with external metric API itself, but rather what horizontal-pod-autoscaler does on the side.

[2022-03-04 20:15] wedaly opened #108525 "Add tests for kube-proxy --detect-local-mode configurations"
### What would you like to be added?

Add tests to validate kube-proxy NAT rules for each --detect-local-mode configuration in kind clusters.

### Why is this needed?

We want to validate that iptables NAT rules work as expected for all supported --detect-local-mode configurations in a Kubernetes cluster.

* [KEP 2450](https://github.com/kubernetes/enhancements/tree/0e4d5df19d396511fe41ed0860b0ab9

[2022-03-04 20:16] wedaly commented on #108525
/sig network

[2022-03-04 20:20] tallclair commented on #86186
My general advice to people worried about arbitrary file read vulnerabilities is to manually fetch the secret from the API. The downside to this is that it requires modifying the application to understand Kubernetes. However, I think any non-standard solution we come up with is going to require some application modification to adapt to the constraints. Another downside to fetching via the API is y

[2022-03-04 20:21] wedaly commented on #108525
I'm available to work on this

[2022-03-04 20:22] tallclair commented on #86186
Another note: if the goal is to just have a delete-able secret file, that should be doable today with an init container: mount the secret into the init container (or fetch it directly), and the init container copies the secret to a writeable tmpfs emptydir.

[2022-03-04 20:28] thockin commented on #86186
Init container doesn't handle container-restarts  I think the core problem
is that it's not a "one time" thing but a "one time per restart" thing or
even "one time per-restart or when the secret changes".

Modifying apps to do their own thing is the complete answer.  While we
might be able to do something without that, I am not sure it's worth the
effort.

On Fri, Mar 4, 2022 at 12:23 PM Tim Allcl

[2022-03-04 20:47] danwinship opened #108526 "definition of "internal" vs "external" service traffic, behavior of LB IP short-circuit"
Service traffic can be "internal" or "external" but we never explicitly define exactly what these mean.

[The docs](https://kubernetes.io/docs/concepts/services-networking/service/#external-traffic-policy) say:

(emphasis added)

The [internalTrafficPolicy KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2086-service-internal-traffic-policy) says:

(emphasis added)

The

[2022-03-04 21:09] eblume commented on #42544
This remains a relevant issue, as far as I am aware.

/reopen
/remove-lifecycle rotten

[2022-03-04 21:40] ghostsquad commented on #103151
this is like a 2min read: This provides some really useful insight into the problem:
https://blog.benwinding.com/github-stale-bots/

The way I see it, issues should never be closed, and it doesn't really matter if you have 100 open issues or 10,000.

As a maintainer, personally, I'd want to concentrate on
1. confirmed bugs first (which would could be annotated as labels)
2. unlabeled issues that c

[2022-03-04 22:19] jsturtevant commented on #107561
I ran into this on a Dev cluster which was not under stress. I got the context exceeded deadline and it did not resolve itself:

[code]

[2022-03-04 22:57] cbandy opened #108528 "apimachinery/errors: HasStatusCause is incorrect for wrapped errors"
### What happened?

I have a controller that creates objects. It uses `"k8s.io/apimachinery/pkg/api/errors".HasStatusCause(err, corev1.NamespaceTerminatingCause)` to notice when create fails due to a deleting namespace.

This check was working well until I moved it away from each `Create` call. In some cases, the error is wrapped using `fmt.Errorf()` causing the function to always return false.

#

[2022-03-05 06:52] NikhilSharmaWe commented on #107919
@liggitt
After adding constant `CauseTypeFieldValueNotSupported CauseType = "FieldValueNotSupported"`.
- We need to make method to generate errors which have this value of `StatusCause.Type` equal to `FieldValueNotSupported`. Are we thinking of making methods similar to [these](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/errors.go#L178-L195) which

[2022-03-05 06:53] pacoxu commented on #102612
/remove-lifecycle rotten

[2022-03-05 07:18] uablrek commented on #74383
No. Tested on v1.23.3

/close

[2022-03-05 07:26] uablrek commented on #74383
Sorry, war a bit fast on that one. Missed that the addressed node MUST NOT have a local endpoint.
/reopen

[2022-03-05 07:34] uablrek commented on #74383
The problem still remains, but it is an unsupported case according to the "destination" model described in https://github.com/kubernetes/kubernetes/issues/108526. Even though the source is internal (a pod) traffic to the nodePort should be treated as "external" and as such it MUST NOT be routed to a node without a local endpoint for `externalTrafficPolicy: Local`.

I leave this issue open, but it

[2022-03-05 07:36] uablrek commented on #108526
Related https://github.com/kubernetes/kubernetes/issues/74383#issuecomment-1059713473

[2022-03-05 07:42] uablrek commented on #90131
A port can't be opened on "some addresses" so this must be done by filter/firewall. Is it possible to support this case with cluster-wide network-policies?

[2022-03-05 07:52] liushi001 opened #108537 "Static pod status is always Init:0/1 when init container GC'd before kubelet restart."
### What happened?

When init container of static pod was GC'd and kubelet was restarted. The status of the static pod is alway Init:0/1 and never come back to Running.

[code]

### What did you expect to happen?

The pod status is Running

### How can we reproduce it (as minimally and precisely as possible)?

1. remove exited init contianer of one static pod.
2. restart kubelet

### Anything else

[2022-03-05 07:54] liushi001 commented on #108537
/sig node

[2022-03-05 10:14] #103224 closed

[2022-03-05 12:27] vhscom commented on #60140
In disaster recovery scenarios `--retries=10` isn't going to cut it.

Here's how you can use `rsync` to workaround this issue:
https://vhs.codeberg.page/post/recover-files-kubernetes-persistent-volume/

https://user-images.githubusercontent.com/97140109/156882836-1cc82ff0-0a6e-4458-b30d-410801f33c83.mp4

[2022-03-05 13:08] damalhot commented on #107743
@thockin :  I need `hostIPs` for sure. While I am now getting IPv6 address of node, I am hitting this issue where `kubectl logs` is returning me error.
If I understand your question right, I think I have already answered that in my initial post under item 4.  Pasting it again here:

I try to simulate the HTTP request as probably performed by kube-apiserver and I am getting success (as shown below)

[2022-03-05 13:26] damalhot commented on #107743
Hi @uablrek ! I appreciate the information you provided. That brings up two questions to my mind:
1. How to configure "Base" IP family?
2. I am seeing that system services (like kubernetes and kube-dns) are still single family in my cluster, whereas the services I create are dual family. Maybe I am doing something wrong. Maybe something is incomplete in my setup. Can you please help?

kubernetes s

[2022-03-05 14:39] uablrek commented on #107743
To configure a dual-stack cluster where the "default" family is IPv6 (the family your services will get if no family is specifird) use;
[code]
to the api-server. Be aware that the k8s programs must use ipv6 addresses so also specify;
[code]
Bind addresses to other k8s programs, e.g kube-proxy, should also be ipv6 addresses, any `::` or loopback `::1`.

Your cluster will become an IPv6 cluster with

[2022-03-05 14:43] uablrek commented on #107743
And you may run into problems with certificates generated for ipv4 if you just reverse --service-cluster-ip-range in an already-installed cluster (I use a token in my test-cluster to avoid those problems).

[2022-03-05 15:18] Abirdcfly opened #108542 "Update misspell version"
### What would you like to be added?

Update misspell version in ci test.

I think there are 2 options available here:
Option 1: Continue using `hack/verify-spelling.sh` and just change `github.com/client9misspell` to `github.com/Abirdcfly/misspell`
Option 2: Add misspell in golangci-lint, delete `hack/verify-spelling.sh`
Option 3: Maybe Just add misspell in golangci-lint.

I will split into 2 pr,

[2022-03-05 15:37] Abirdcfly commented on #108542
kindly ping @MadhavJivrajani

[2022-03-05 15:40] Abirdcfly commented on #108542
/sig testing

[2022-03-05 16:17] NikhilSharmaWe commented on #108488
@Argh4k Could you please give some info about where we need to add these new conditions (when we get multiple timeouts simultaneously) we are thinking about adding.

Some code pointers will be really helpful.

[2022-03-05 16:17] NikhilSharmaWe commented on #108488
/assign

[2022-03-05 22:45] visit1985 commented on #103182
/remove-lifecycle stale

[2022-03-06 02:16] #104987 closed

[2022-03-06 02:52] denli8 opened #108543 "WebSocketNamespacedPodExecAsync get System.Net.Sockets.SocketException (10053) error"
### Which jobs are failing?

development environment：
development language：csharp & asp.net core 3.1
kuberentes version：1.20
KubernetesClient version: 4.0.26

I want to create a web terminal use kubernetes api,
but when I tried to create a websocket service, it reported an error;
so i need some help ,thank you !

### Which tests are failing?

[code]

**invoke code**
[code]

from ui, i get error :

[2022-03-06 05:17] kerthcet opened #108545 "`TestErrConnKilled` met race detected during execution"
### What happened?

Unit test `TestErrConnKilled`  failed for several times due to race detected. Details see: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/108541/pull-kubernetes-unit/1500141824923144192

Report this in case of potential bug.

/sig testing

### What did you expect to happen?

Unit test passed as normal.

### How can we reproduce it (as minimally and precisely as pos

[2022-03-06 05:18] kerthcet commented on #108545
I'd like to take a research first.

[2022-03-06 05:25] tanvp112 commented on #40422
https://github.com/kubernetes/kubernetes/pull/102873

[2022-03-06 07:05] uablrek commented on #101607
/remove-lifecycle stale

[2022-03-06 07:34] uablrek commented on #101607
I have re-tested as described in https://github.com/kubernetes/kubernetes/issues/101607#issuecomment-853906646 with;
[code]
The invalid conntrack entry is not renewed and is cleared after 120s, and the connect start to work.

So the kernel update in linux-5.14 seem to work as expected.

With `linux-5.12.1` the conntrack entry is renewed for every connect attempt and the problem occurs.

[2022-03-06 07:37] uablrek commented on #101607
This issue is solved by a Linux kernel patch added in `linux-5.14`. Closing ...

/close

[2022-03-06 07:37] #101607 closed

[2022-03-06 07:47] uablrek commented on #108523
Please note that https://github.com/kubernetes/kubernetes/issues/101607#issuecomment-855461836 is closed;

[2022-03-06 11:25] #105494 closed

[2022-03-06 14:40] daniel-garcia commented on #82942
/remove-lifecycle stale

[2022-03-06 15:08] samunbest opened #108546 "How to set different env depends on node when use daemonset"
the cluster has different nodes，i need to allocate different memory since each node can provide different resource

[2022-03-06 15:09] sonia0325 commented on #108499
Hi i am new here in this github community. I have found a website american xl bully puppies. This site is awesome. It contains all type of puppies. Please must visit this website if you interested in american bully puppies.
Thanks!

[2022-03-06 16:18] ialidzhikov commented on #87336
/remove-lifecycle stale

[2022-03-06 16:18] ialidzhikov commented on #94590
/remove-lifecycle stale

[2022-03-06 17:45] NikhilSharmaWe commented on #107919
@liggitt
As you mentioned above that `When they find transitions that are disallowed, most use helper methods to construct validation errors`
https://github.com/kubernetes/kubernetes/blob/b181e174f25df752eb176c2393b95569646230d3/staging/src/k8s.io/apimachinery/pkg/util/validation/field/errors.go#L173-L200

Should we do something like in these methods add
cause in the error.Details where `metav1.St

[2022-03-06 18:05] lauchokyip commented on #107291
@eddiezane , `kubectl top` pulls the data from `metrics.k8s.io/v1beta1` and if I am not mistaken, the only thing `kubectl` does is formatting and printing it out. I think this issue might be more related to sig-instrumentation

/sig-instrumentation

[2022-03-06 18:07] lauchokyip commented on #107291
/sig instrumentation

[2022-03-06 19:48] Bessonov commented on #37471
/remove-lifecycle stale

[2022-03-06 21:25] #64391 closed

[2022-03-06 21:25] #105519 closed

[2022-03-06 21:57] vaibhav2107 commented on #104491
/remove-lifecycle stale

[2022-03-06 22:06] ahg-g commented on #105977
/remove-lifecycle stale

[2022-03-06 23:44] dims opened #108549 "some logs for kube-up created nodes do not have anything in them"
Example using a random PR for `pull-kubernetes-e2e-gce-ubuntu-containerd`, take a look at:
https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/108541/pull-kubernetes-e2e-gce-ubuntu-containerd/1500141824650514432/artifacts/e2e-3fd5a49f6a-a7d53-minion-group-4krc/

in this set of logs, at least 4 files are empty
- kube-container-runtime-monitor.log
- kube-node-configuration.log
- kube-proxy.log

[2022-03-07 02:16] njucjc commented on #97908
I implemented this feature in our own csi plugin, and now I just share this idea

[2022-03-07 02:33] njucjc commented on #97908
It‘s not a official csi plugin feature，i just share a raw idea in our own csi plugin’s implementation

[2022-03-07 02:46] #108549 closed

[2022-03-07 03:02] sorkinl commented on #102545
There is a PR for this issue already and it seems it was decided what to do with the duplicate metric and I am not sure if this issue is relevant anymore?https://github.com/kubernetes/kubernetes/pull/102595#issuecomment-858833484

[2022-03-07 03:22] wangyuan0916 opened #108551 "Missing logs when log rotation happens"
### What happened?

I'm user kubernetes 1.22.2 and api-server is deployed as a process running on host vms.
In my env,  there're a lot of audit logs generated.
[code]
as you can see, audit-2022-03-03T14-28-05.286.log.1 and audit-2022-03-03T15-20-18.770.log.1 are the two neighboring file. But there seems be log missing the tail of "audit-2022-03-03T14-28-05.286.log.1" and the head of "audit-2022-03

[2022-03-07 03:25] #83834 closed

[2022-03-07 03:25] #87278 closed

[2022-03-07 05:09] dharmjit commented on #106945
/assign

[2022-03-07 05:10] MadhavJivrajani commented on #108546
@samunbest please elaborate and provide more details as to what your question is.
/kind support

[2022-03-07 05:10] MadhavJivrajani commented on #108526
/sig network

[2022-03-07 05:57] 249043822 commented on #108537
/triage accepted
/assign

[2022-03-07 06:05] MadhavJivrajani commented on #108545
Duplicate of https://github.com/kubernetes/kubernetes/issues/108043
/close

[2022-03-07 06:05] #108545 closed

[2022-03-07 06:55] wojtek-t commented on #105884
/remove-lifecycle rotten

[2022-03-07 07:18] ardaguclu commented on #106617
I think, this issue needs to be handled after [exit code normalizations](https://github.com/kubernetes/enhancements/pull/2574) are completed.

/unassign

[2022-03-07 07:27] #98981 closed

[2022-03-07 07:53] pohly commented on #106945
/unassign
/assign @dharmjit

Thanks for your help, please also look at KObjs.

[2022-03-07 07:55] pohly commented on #106945
For KObjs, we need benchmark variants that iterate over slices of different lengths (1, 10, 100, ....).

[2022-03-07 07:56] pohly commented on #106945
Moving the code is no longer planned. If we find that the current KObjs has severe performance drawbacks, we need to consider what we can do about this in klog itself.

[2022-03-07 08:08] komalgade commented on #108355
/assign

[2022-03-07 08:10] somaninga-pujari commented on #36222
Hello There,
One of our colleague has edited configmap with wrong data, now whole cluster inaccessible with any of role, need help on immediate basis and much appreciated.
Error:
through eksctl - Error: getting auth ConfigMap: Unauthorized
through  kubectl error: You must be logged in to the server (Unauthorized)

[2022-03-07 08:22] pyama86 opened #108555 "can't update label after live migration."
### What happened?

refs:https://github.com/kubernetes/cloud-provider-openstack/issues/1801

I realized bellow logs after my instance live migration over AZ.
[code]
I solved it by removing the label.

[code]

The point where the log is generated is [here](https://github.com/kubernetes/kubernetes/blob/bf7b9119f03b83e373907dea09348d6878f30e7f/pkg/volume/csi/nodeinfomanager/nodeinfomanager.go#L325-L3

[2022-03-07 08:35] samunbest commented on #108546
in short,when deploy a daemonet, i want to set different env depends on the node which the pod was scheduled.

[2022-03-07 08:53] dharmjit commented on #106945
Thanks @pohly , I will take a look.

/assign

[2022-03-07 09:58] limhawjia opened #108556 "Measuring watch delay experienced in control loops"
Hi everyone, I am seeking some advice regarding an issue that I have been facing. Any suggestions or feedback on this issue will be greatly appreciated :)

In Kubernetes, controllers rely heavily on the Watch mechanism provided by the apiserver to efficiently detect changes in the system. When you send a Watch request for a particular resource, the apiserver keeps the HTTP connection alive and str

[2022-03-07 09:59] xuchen-xiaoying commented on #108556
/sig instruments

[2022-03-07 10:02] xuchen-xiaoying commented on #108556
/sig scalability

[2022-03-07 11:01] sunnoy opened #108558 "Why is there an abnormal listening IP， in kube-proxy"
### What happened?

kube-proxy listening abnormal IP
<img width="879" alt="image" src="https://user-images.githubusercontent.com/19342276/157018811-d5242ccc-1e80-4061-96d6-1b81e5a5311d.png">

### What did you expect to happen?

kube-proxy has no listening other ip

### How can we reproduce it (as minimally and precisely as possible)?

i dont kwon

### Anything else we need to know?

_No response_

[2022-03-07 11:01] sunnoy commented on #108558
/triage accepted

[2022-03-07 11:03] sunnoy commented on #108558
/sig network

[2022-03-07 11:22] tibetsam commented on #98094
i'm running into same issue here @caesarxuchao could you please reopen this ticket? And what more information you would like to have? Thanks.

[2022-03-07 12:22] evanskinner opened #108560 "Pod anti-affinity not respected when binding PVCs to PVs when etcd timeout"
### What happened?

I have a stateful set with node anti-affinity set on it so that the pods will all run on different nodes. local-storage is used for the PVCs. This normally all works fine, but in one deployment of the statefulset there was an etcd blip and the PVCs for db-0 AND db-2  both got allocated a PV on the same k8s node. Logs from the scheduler:

[code]

What seems to happen then is the

[2022-03-07 12:41] evanskinner commented on #108560
/sig scheduling

[2022-03-07 13:19] wojtek-t commented on #90743
In the case I have seen, the etcd-level list was really fast (etcd logged latency like 500ms), but the overall call took ~45s (spent mostly in the deserialization loop IIUC). We can add a similar check in the deserialization loop.

It's a bit more complex to that.
For List calls there are few things:
- listing from etcd [I agree with you that we can probably ignore that in the first attempt]
- des

[2022-03-07 13:21] dims opened #108562 "Avoid pulling images straight from dockerhub in e2e tests"
In PR [1] below, we added support for logging which images were pulled by running the docker/ctr commands and saving them into images-containerd.log and images-docker.log, So now we need to look at those log files to see if we pull any images from places we don't want to ... like dockerhub. See PR [2] as an example of a e2e test that was pulling `nginx` from dockerhub.

How to deal with any images

[2022-03-07 13:26] dims commented on #108562
/sig testing

[2022-03-07 14:38] pacoxu commented on #108562
/triage accepted
/assign

[2022-03-07 15:55] liggitt commented on #107919
I was envisioning a field-level error helper method ChangeForbidden, similar to https://github.com/kubernetes/kubernetes/blob/ad46b4f9215ce34fe316e4473767531456a81188/staging/src/k8s.io/apimachinery/pkg/util/validation/field/errors.go#L194-L200

Any validation check that is forbidding some transition from the old object's field value to the new object's field value (rather than just validating the

[2022-03-07 16:13] Berthelmaster commented on #90292
Anything new?

[2022-03-07 16:37] trozet commented on #108523
Yes I believe it is. Otherwise you are bypassing the close states of a stateful protocol. This can lead to applications waiting to detect end states with timeouts, and retransmission failures. It is also avoiding things like TCP TIME_WAIT state which is there for a good reason. Imagine you have a service which is deleted and then immediately recreated, and the client and server re-use the same sou

[2022-03-07 16:42] uablrek commented on #108523
@trozet That is all valid general arguments and applies to pod/endpoint termination. But services are different. Removing a service should only happen when you terminate/unload an app, in which case shutdowns doesn't matter. And;

[2022-03-07 17:36] NikhilSharmaWe commented on #107919
@liggit
So we added new `ErrorType` constant `ErrorTypeChangeForbidden ErrorType = "FieldChangeForbidden"` and  its helper method, after that we need change validation functions to return errors (which follows forbidden transitions) with `ErrorType` equals to the value of constant `ErrorTypeChangeForbidden`.
- But this task according to me will be very tedious because there are many validation fun

[2022-03-07 17:37] NikhilSharmaWe commented on #107919
@liggitt
So we added new `ErrorType` constant `ErrorTypeChangeForbidden ErrorType = "FieldChangeForbidden"` and  its helper method, after that we need change validation functions to return errors (which follows forbidden transitions) with `ErrorType` equals to the value of constant `ErrorTypeChangeForbidden`.
- But this task according to me will be very tedious because there are many validation fu

[2022-03-07 17:46] TRIVEDISAGAR37 opened #108571 "kubeadm init fails due to kubelet isn't running"
### What happened?

"kubeadm init" continuously fails due to kubelet isn't running or healthy.

All the certs, manifests files are downloaded and loaded on the system into the "/etc/kubernetes/" pki and manifests files upon init command.

But when it comes to initializing the cluster using thos files using kubelet, it is keep giving me the error.

[kubelet-check] It seems like the kubelet isn't ru

[2022-03-07 18:18] khenidak commented on #108558
That is port opener.

Kube-proxy holds ports open for services of that has NodePorts. The idea is to stop mistakes where the user runs an app (not managed by kubelet) and use one of the port in  api-server `--service-node-port-range` flag.

The IPs you see are the NodeAddresses reported by the cloud provider.

[2022-03-07 18:19] khenidak commented on #108558
/assign @khenidak

[2022-03-07 18:19] khenidak commented on #108558
/triage needs-information

[2022-03-07 18:33] #105579 closed

[2022-03-07 18:41] khenidak commented on #108523
Graceful termination is scaling pod replicas to zero with `SIGTERM` followed by configurable grace period followed by `SIGKILL` described in details here: https://cloud.google.com/blog/products/containers-kubernetes/kubernetes-best-practices-terminating-with-grace. That works with rolling forward, backward and eviction. Now even when a pod is deleted the buffers that was `send(2)` will still go ou

[2022-03-07 19:12] rphillips commented on #108364
/triage accepted

[2022-03-07 19:13] rphillips commented on #108364
Got a report from @stevekuznetsov that this may be broken in `kind` as well.

/assign @giuseppe

[2022-03-07 19:40] ciberkleid commented on #94860
+1 on this issue to re-open it.

Another case in which this happens is with `kubectl get img` if both Knative Serving and kpack are installed.

Calling `kubectl api-resources` shows that a kpack Image resource should have four aliases:
[code]

Three of these aliases work:
[code]

However, one of the aliases (`img`) does not work:
[code]

I think it is important to inform the user that the `img` re

[2022-03-07 19:42] ciberkleid commented on #94860
/reopen

[2022-03-07 19:52] ciberkleid opened #108573 "Warn users about CRD alias naming conflicts"
Issue https://github.com/kubernetes/kubernetes/issues/94860 was closed as stale so opening a new one.

Another case in which this happens is with `kubectl get img` if both Knative Serving and kpack are installed.

Calling `kubectl api-resources` shows that a kpack Image resource should have four aliases:
[code]

Three of these aliases work:
[code]

However, one of the aliases (`img`) does not work

[2022-03-07 19:55] ciberkleid commented on #108573
/cli

[2022-03-07 19:56] ciberkleid commented on #108573
/sig cli

[2022-03-07 20:09] dobsonj commented on #89290
@smileusd ran into this bug recently on v1.18, and I don't see anything that would fix this issue on later releases either.
/reopen
/lifecycle freeze
/assign

[2022-03-07 20:11] dobsonj commented on #89290
/triage accepted

[2022-03-07 20:12] dobsonj commented on #89290
/lifecycle frozen

[2022-03-07 20:23] wojtek-t commented on #108272
@MikeSpreitzer - ignoring this `SetCurrentR` for a moment, the most part is actually consumed by SampleAndWatermark histogram. I think that we need to get back and reevaluate if we really need all of that and if we can't relax what kind of message we want from them.

So currently, we're looking at 1ms intervals and report sample, hi and low for each of that. The question is whether we really need

[2022-03-07 20:36] koolwithk commented on #66924
I tried @[plantegg](https://github.com/plantegg) solution adding `options ndots:7` but it had no effect. It's seems like hit or miss. It gave me result first time but then it was giving error. I tried multiple times and some time I got nslookup result but It was very infrequent.

I also ran nslookup for `ndots:5, ndots:7, ndots:10`  in while loop approx. **200** times with **timeout=2** seconds. B

[2022-03-07 21:02] liggitt commented on #107919
That's correct

You're not wrong, but this is the correct way to make the change. We can't change existing error signatures to return new "invalid change" errors, because not all callers of the existing functions are erroring over field changes.

[2022-03-07 22:04] bvarga commented on #89917
gateway-api is in preview for gke, see:

https://cloud.google.com/kubernetes-engine/docs/concepts/gateway-api

[2022-03-07 22:57] trozet commented on #108523
@uablrek @khenidak what about removing a pod as an endpoint to a service. Is that a graceful termination case or not?

[2022-03-08 01:17] qiutongs opened #108575 "Add block I/O in the ContainerStats of CRI"
### What would you like to be added?

Block I/O is the stats of tracking how many bytes are read/written from/to the block device on the node, for a particular container.

It is straightforward to add it in the FilesystemUsage
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto

### Why is this needed?

With this new feature, we can figure

[2022-03-08 01:29] ArangoGutierrez commented on #107556
Will help @sanposhiho
/assign

[2022-03-08 03:58] cprak-nydig commented on #39178
still running into this issue on 1.21.5

[2022-03-08 04:09] pacoxu commented on #108562
- [ ] https://github.com/kubernetes/kubernetes/blob/34a6a7ca11d2ce257415c02b07c1b80678188769/test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-testing.yaml#L67
- [ ] https://github.com/kubernetes/kubernetes/blob/34a6a7ca11d2ce257415c02b07c1b80678188769/test/e2e/storage/flexvolume_online_resize.go#L224
- [ ] several images under /test/e2e/testing-manifests/ like debian:jessie
-

[2022-03-08 04:44] MadhavJivrajani commented on #108575
/sig node

[2022-03-08 06:15] kkkkun commented on #108427
When ns's status is terminating, if ns's change, it will update status.
https://github.com/kubernetes/kubernetes/blob/34a6a7ca11d2ce257415c02b07c1b80678188769/pkg/controller/namespace/deletion/namespaced_resources_deleter.go#L548

[2022-03-08 06:21] kkkkun commented on #108573
Could you please execute `k get img --v 8` and get more thing?

[2022-03-08 06:22] kkkkun commented on #108483
/cc

[2022-03-08 06:33] ardaguclu commented on #108234
This PR https://github.com/kubernetes/kubernetes/pull/106388 will very likely solve also that problem.

/unassign

[2022-03-08 06:38] robinchia opened #108579 "The code proxier.go failed to check kernel module when the folder /proc/module is not exsit"
### What happened?

When the kernel is statically compiled and statically loaded, and the folder /proc/modules is not exsit. In the kubernetes, use the ipvs. The code proxier.go failed to check  /proc/module  when it is not exsit. In the line 628, the err is not nil. But when  the folder /proc/modules is exsit, it go to the line 639.
The question is that, how the code runs to 614 line?

### What d

[2022-03-08 07:14] sunnoy commented on #108558
i understand this “Kube-proxy holds ports open for services of that has NodePorts”，but the IP is not NodeAddresses reported by the cloud provider，node does not have this field

[2022-03-08 07:22] pacoxu commented on #108575
related with #92287 (add a reference here)

[2022-03-08 07:24] pacoxu commented on #108573
/kind bug
adding a warning for that is valid to me

[2022-03-08 07:25] pacoxu commented on #108579
/sig network

[2022-03-08 07:31] pacoxu commented on #108571
/area kubeadm
/sig cluster-lifecycle node
for triage

After https://github.com/kubernetes/kubernetes/pull/104854, kubeadm changed the swap check to a warning. You can check the init log at the beginning.

For cgroupfs, there should be an error message like `misconfiguration: kubelet cgroup driver: %q is different from docker cgroup driver: %q", kubeCgroupDriver, cgroupDriver`. I tried to change it

[2022-03-08 07:34] pacoxu commented on #108555
/sig node storage

[2022-03-08 07:44] pacoxu commented on #108551
/sig auth instrumentation
/area audit

[2022-03-08 08:01] pacoxu commented on #108546
https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/#use-pod-fields-as-values-for-environment-variables

nodeName and hostIp are available in downward API.

[code]

hostIPs is on the way in https://github.com/kubernetes/kubernetes/pull/101566

[2022-03-08 08:05] pacoxu commented on #108543
It sounds like a support ticket for https://github.com/kubernetes-client/csharp.

/kind support

[2022-03-08 08:05] pacoxu commented on #108543
/remove-kind failing-test

[2022-03-08 08:16] samunbest commented on #108546
Thanks a lot。
My container is run java application ，I need to manage it use a daemonset, since my nodes have different memory size, I need to set different env JAVA_TOOL_OPTIONS depends on the node where the pod was sheduled, Does it works？

[2022-03-08 08:19] giuseppe commented on #108364
could you try running directly cAdvisor and see if it collects any stat?

[2022-03-08 08:25] pacoxu commented on #108537
https://github.com/kubernetes/kubernetes/issues/88886#issuecomment-800764877

kubelet will check the status of the main containers before restarting the init container. If init is not finished like `Init:0/1` and the main container is not started yet, the init container should be recreated. My question is how to make a static pod hung in `init: 0/1` status. Does the init container fail to start or

[2022-03-08 08:32] kkkkun commented on #108573
Could you please paste `kubectl api-resources` ?

[2022-03-08 09:02] #98035 closed

[2022-03-08 09:54] Robbie558 opened #108582 "Master upgrade to v1.22.X failing for kube-controller-manager & kube-scheduler"
### What happened?

We are running an upgrade of our Kubernetes master nodes via Ansible, from version 1.21.X to 1.22.X.  Our playbook issues a `kubeadm upgrade apply v{{ version }} -y --v=5` command, which appears to reliably upgrade the `kube-apiserver` image on first run. However it doe not reliably upgrade the `kube-controller-manager` and `kube-scheduler`  images, with the  `kube-controller-m

[2022-03-08 09:56] uablrek commented on #108065
I can replicate a similar scenario, but perhaps not the same, by temporary removing the LBIP from kube-ipvs0. The conntrack entry has not been load-balanced, the LBIP not translated, nor has it been SNAT'ed to the node-ip;
[code]
This looks like the packet has not been routed to ipvs. I can't explain that the time-stamp suggests otherwise.

To replicate;
[code]
If new udp packets are sent constant

[2022-03-08 10:08] Robbie558 commented on #108582
/sig cluster-lifecycle

[2022-03-08 10:26] 249043822 commented on #108537
Do you mean this issue? this issue is that while kubelet restarts, static pod object has no podstatus saved, so its new podstatus is generated by runtime, but the init container is lost and would not be created again, so its state becomes Waiting, so is the case described by this issue.

[2022-03-08 10:34] jiaozhenkai opened #108584 "Pod of DaemonSet manage that be scheduled to a node which reach max pod limit(maybe other reasons) can not display node IP"
### What would you like to be added?

A daemonset pod is scheduled to the node of cluster failed, should display node ip instead of `<none>`.

### Why is this needed?

A daemonset pod be scheduled to every node in cluster, if failed, `kubectl get po -o wide -n <ns>` may be not display node IP. if  we have a cluster that contains thousands of nodes, we won't distinguish which nodes that haven't ds

[2022-03-08 10:36] mk46 commented on #108579
Hi @aojea, if https://github.com/mk46/kubernetes/commit/d3bcf87da345a3714782305747ad5ba65de3d82a make sense then I would like to open a PR for this.
 Thanks!!

[2022-03-08 10:44] jiaozhenkai commented on #108584
/sig cli

[2022-03-08 10:55] uablrek commented on #108065
This error has been seen;
[code]
May not be related, but then again, it might. The error is cast here https://github.com/kubernetes/kubernetes/blob/19762408612e49401aa46d8396c7032462fe5ab0/pkg/proxy/ipvs/netlink_linux.go#L133-L136

The go library function [InterfaceAddrs](https://pkg.go.dev/net#InterfaceAddrs) casts an error, unclear why. A guess is that it bug-out if it firsts reads an interface

[2022-03-08 10:55] mk46 commented on #108579
/assign

[2022-03-08 10:56] kidlj commented on #106754
/assign

[2022-03-08 11:13] uablrek commented on #108065
An "I-dont-know-what-im-doing-but-it-feels-right" fix may be to add some retries.

[2022-03-08 11:38] aojea commented on #108579
Have we figured out the answer to the question?
Do we have an unit test reproducing the issue?

https://github.com/kubernetes/kubernetes/blob/19762408612e49401aa46d8396c7032462fe5ab0/pkg/proxy/ipvs/proxier.go#L618-L637

/area ipvs

[2022-03-08 12:29] liyimeng commented on #108364
how can I run cadvisor in k8s,  I do this:

[code]

 I failed to start
[code]

My cluster use Containerd, not docker runtime.

[2022-03-08 13:04] liyimeng commented on #108364
I use this https://github.com/google/cadvisor/tree/master/deploy/kubernetes  Not help either, the same problem.
Likely because I am not using docker but Containerd.

[2022-03-08 13:58] A-Zaporozhchenko opened #108587 "External resources fail to be DNS-resolved from PreStop hook on pod termination"
### What happened?

I'm trying to save the application state to the external location on pod termination. To do this I selected the Kubernetes pod PreStop hook. PreStop hook calls the application HTTP endpoint that needs to save state to AWS Systems Manager Parameter Store. From within the app I receive an error alike

`java.net.UnknownHostException: sts.eu-west-1.amazonaws.com`.

To scope down th

[2022-03-08 14:56] MadhavJivrajani commented on #108372
@faust64 still not able to reproduce :/
I tried replicating the yaml you pasted above.
Could you maybe try the delete operation with increased verbosity to get more logs so that we can try and see what's going on?
[code]

[2022-03-08 15:21] danwinship commented on #108523
Is there consensus that TCP is doing everything right already? What about the case of explicitly-specified source ports? There was some suggestion in the meeting that either (a) the reason SCTP doesn't work right is because when using SCTP people tend to explicitly bind a source port, and kube-proxy's model doesn't handle that, _OR_ (b) the reason our code treats SCTP and TCP differently is becaus

[2022-03-08 15:22] RichardoC opened #108588 ""Get Connect Proxy" behaviour unclear from documentation when pod has multiple ports"
### What happened?

All operations under https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.23/#-strong-proxy-operations-pod-v1-core-strong- say that the requests are "to portforward of Pod" or "to proxy of Pod" but it unclear which port this is, or how to proxy a request to another port on the pod via the REST API rather than using kubectl.

### What did you expect to happen?

The d

[2022-03-08 15:22] RichardoC commented on #108588
/sig api-machinery

[2022-03-08 15:40] uablrek commented on #108523
### TCP

I would say it "should work" with https://github.com/torvalds/linux/commit/e15d4cdf27cb0c1e977270270b2cea12e0955edd that was added in linux-5.14. I have tested it manually as described in https://github.com/kubernetes/kubernetes/issues/101607#issuecomment-1059911699. Even when the client constantly re-connects using the same port, the stale conntrack entry expires after 120s, the entry is

[2022-03-08 15:46] trozet commented on #108523
If a TCP service is deleted today obviously the ports are not cleared and the connection continues to work. If we make a change where TCP conntrack entries are flushed, then a client trying to send the next TCP packet on the now deleted conntrack entry would force the kernel to send a TCP RST. Which sounds like the desired behavior. We need to change TCP to also be flushed on service deletion, ass

[2022-03-08 16:04] uablrek commented on #108523
Note, TCP RST is a response. If a client is silent (not sending anything) it will not receive any RST's. This is different from a FIN.

I remind about the current behavior when a service is deleted (https://github.com/kubernetes/kubernetes/issues/101968#issuecomment-843272392);

**proxy-mode=iptables** - The connection lives on as if nothing has happened. It is up to the application to detect the

[2022-03-08 16:14] scampagna opened #108589 "pod's state is still ready/running on a Node that is shut down for more than 2 hours !"
### What happened?

I've a cluster with one master and 3 workers. I shut down the 3 workers for more than 2 hours.
I typed : kubectl get nodes -o wide and I got

AME               STATUS     ROLES                  AGE     VERSION   INTERNAL-IP     EXTERNAL-IP   OS-IMAGE             KERNEL-VERSION    CONTAINER-RUNTIME
ip-172-31-25-234   Ready      control-plane,master   9d      v1.23.4   172.31.25.

[2022-03-08 16:20] yurilaaziz commented on #108589
/sig node

[2022-03-08 16:58] warent commented on #83471
great find @aven-ai, if you create a dockerd issue can you link it here?

[2022-03-08 16:58] warent commented on #83471
For anyone else wondering, I've moved off of GCP and the problem hasn't happened since then.

[2022-03-08 17:05] uablrek commented on #108523
If the service has no selector the user has taken the responsibility of handling this. It can mimic the (rather complex) graceful termination of K8s, or do something else. User handled endpoints can vary a lot, like beeing outside the cluster for instance, so IMHO K8s should not interfere or "help" in any way.

If an endpoint is removed because the pod has become not-ready its different. I don't t

[2022-03-08 17:23] giuseppe commented on #108364
I was suggesting to run cadvisor directly on the host, not in a container

[2022-03-08 19:13] trozet commented on #108523
I'm still not quite clear on this. Consider the following example:
client pod ---> service ---> server pod

The service is using a label selector to determine server pod is an endpoint. Client has a currently established TCP/SCTP connection to server. Now, the server pod is updated and the label is removed that selects it as an endpoint to this service. Should the connection continue to function u

[2022-03-08 19:22] saiskee commented on #36222
yaml marshallers will write a string to a multiline string e.g.
multiline_string: |
  some string!
  with new lines and \ no need to escape things
UNLESS
1. The string contains a \t character
2. The string terminates in a space character
2. The string contains a substring which matches the regex `\n[ ]+\n`

[2022-03-08 19:34] #99603 closed

[2022-03-08 19:39] bobbypage opened #108594 "Kubelet reports Ready=true for pod and containers conditions during kubelet level evictions"
### What happened?

In 1.22+, when kubelet evicts a pod, it updates the pod status to api-server marking the pod phase as failed / succeeded. However, the kubelet continues to report Ready=true pod condition until the all of the containers are fully terminated by the container runtime.

As a result, since the pod is still considered ready, external controllers (e.g. the endpoint controller), utili

[2022-03-08 19:39] bobbypage commented on #108594
/sig node

[2022-03-08 19:40] bobbypage commented on #108594
See discussion in https://github.com/kubernetes/kubernetes/issues/105358#issuecomment-932520852 for a different but related issue

[2022-03-08 21:11] jackfrancis commented on #96411
https://github.com/kubernetes/kubernetes/pull/104484 is still active

[2022-03-08 21:11] jackfrancis commented on #96411
/remove-lifecycle rotten

[2022-03-08 21:17] fedebongio commented on #108518
/cc @aojea @wojtek-t @deads2k (since you are all commenting in the respective PR)

Thanks!
/triage accepted

[2022-03-08 21:17] fedebongio commented on #108322
/triage accepted

[2022-03-08 21:19] fedebongio commented on #108528
/cc @tallclair
/triage accepted

[2022-03-08 21:20] fedebongio commented on #108588
/remove-sig api-machinery
/sig node

[2022-03-08 22:25] ciberkleid commented on #108573
Results of `k api-resources | grep -i img`:
[code]

[2022-03-09 00:00] rchincha opened #108596 ""protectKernelDefaults: true" fails since checks conflict with default kernel settings"
### What happened?

kubelet fails to start when `protectKernelDefaults: true` because it expects sysctl param 'kernel.panic=10' as per:

https://github.com/kubernetes/kubernetes/blob/e6c093d87ea4cbb530a7b2ae91e54c0842d8308a/staging/src/k8s.io/component-helpers/node/util/sysctl/sysctl.go#L56

	KernelPanicRebootTimeout = 10

However,

https://www.kernel.org/doc/Documentation/sysctl/kernel.txt

[code

[2022-03-09 00:01] #108596 closed

[2022-03-09 01:09] brianpursley commented on #108307
Most of [sig-cli's periodic skew tests](https://testgrid.k8s.io/sig-cli-master) are also failing for the same reason.

Something is supposed to be writing those txt files to the k8s-release-dev bucket, but that seems not to be happening.

Judging by the alert info, the problem seems to have started around Feb 21.

[2022-03-09 01:18] lucca commented on #82440
@ehashman I seem to have a repro using `busybox` as a container:

- Minikube v1.25 (configured at 4 cpus, 4Gi memory)
- Kubernetes v1.23.3
- containerd v1.6.1 (everything else came out of the box with minikube. I updated just this from v1.4)
- [Pod spec](https://gist.github.com/lucca/0456d3e0edacd0e51e8d9015c38e9176): `busybox` container, 10 replicas, using `cat` as a liveness/readiness probe
- [S

[2022-03-09 01:59] 249043822 commented on #108589
This behavior is controlled by kube-controller-manager and  as expected, because all nodes are not-ready, it enters master disruption mode and stop all evictions.

[2022-03-09 02:02] 249043822 commented on #108589
/remove-sig node
/sig apps

[2022-03-09 03:12] pacoxu commented on #108584
You can check the pod yaml.
[code]

DaemonsetController will create a pod for each node with nodeAffinity.
But the kube-scheduler failed to schedule it to the node due to `Too many pods` error.  So I think this is expected.

`kubectl get pod -o wide` shows nodeName of pod.spec.nodeName. It will not check the nodeAffinity.

[2022-03-09 03:17] pacoxu commented on #108582
https://v1-22.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

### For the other control plane nodes
Same as the first control plane node but use:
[code]
instead of:
[code]

[2022-03-09 03:44] lauralorenz commented on #107530
CI Signal shadow here, still observing flaky behavior.

[2022-03-09 03:45] lauralorenz commented on #107702
CI Signal Shadow here, still has flaky behavior

[2022-03-09 03:48] lauralorenz commented on #108511
This subtest has no more failures after 3/3.

/close

[2022-03-09 03:49] #108511 closed

[2022-03-09 03:55] lauralorenz commented on #108222
These failures no longer appear; tracking backwards they seem to have been fixed by https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/502 and then when they reappeared later were fixed by https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/531.

/close

[2022-03-09 03:56] #108222 closed

[2022-03-09 03:56] lauralorenz commented on #108223
These failures no longer appear. xref for fix in the comment on capg-conformance-v1beta1-ci-artifacts https://github.com/kubernetes/kubernetes/issues/108222#issuecomment-1062529301

/close

[2022-03-09 03:56] #108223 closed

[2022-03-09 05:29] andizzle commented on #108372
I can reproduce this when two deployments share the same selector labels.

[code]

Delete any one of them with `cascade=orphan` will result in pod termination, however, if you delete the remaining deployment, the pods will remain.

[2022-03-09 07:02] jiaozhenkai commented on #108584
Hi, Thanks to reply, this is my ds pod yaml in my test cluster:

[code]
And I also check our cluster of product that ds pod be scheduled to failed, every pod have node name in nodeAffinity. So I think `kubetl get po -o wide` show node name is a good idea.

And a ds pod have a nodeAffinity, so whatever I delete it, it will be scheduled to same node.

I try to pull request add this feature.

[2022-03-09 07:28] 249043822 commented on #108504
/triage accepted
/assign

[2022-03-09 07:32] afbjorklund commented on #106917
Some docs being added, for keeping "docker" runtime:

* https://github.com/kubernetes/website/issues/32129

[2022-03-09 08:16] FrommyMind opened #108604 "kubectl create role command cannot recognize resource rs.extensions"
### What happened?

create clusterrole command with resource value `rs.extensions` not work.
I got this example command from the help note.

[code]

But got error with the example command.

[code]

### What did you expect to happen?

I think it should work like `rs/extensions`

[code]

### How can we reproduce it (as minimally and precisely as possible)?

yes.

### Anything else we need to know?

[2022-03-09 08:18] freefri commented on #107899
Well `sync && echo 1 > /proc/sys/vm/drop_caches` showed a drop in cache memory from 3.4G to 1.8G, this is also adding some more free memory and Kubelet reported no memory pressure on the pod after doing this. But as you said, all processes in top should not be using us much as 3.1G displayed on free.

[code]

Thank you for your help, I will keep investigating this issue as not related with Kuberne

[2022-03-09 08:18] FrommyMind commented on #108604
/sig CLI

[2022-03-09 08:58] SinaShirparvar commented on #72593
This Issue Resolved for me with Doing This Steps:

We must allow "allowedUnsafeSysctls:" in **kubelet** configuration of ALL **worker nodes**:

[code]
Then restart kubelet service for apply change:

`systemctl restart kubelet`

[2022-03-09 09:13] kerthcet opened #108605 "drop beta node labels"
### What would you like to be added?

We stop applying the beta OS labels in Kubernetes 1.19, should we remove these beta labels in v1.24. I also get support from https://github.com/kubernetes/kubernetes/blob/9946b5364e8199ac832161e17155bd005c391fc5/pkg/controller/nodelifecycle/node_lifecycle_controller.go#L144-L157

### Why is this needed?

Remove beta node labels.

[2022-03-09 09:13] kerthcet commented on #108605
/sig node
/assign

[2022-03-09 09:39] pacoxu commented on #108587
I tried to test with your yaml and it is running successfully.
Could you try to `curl google.com` inside your pod by `kubectl exec -it xxx - curl google.com` to test? Does you dns work correctly?

[2022-03-09 09:46] wojtek-t opened #108606 "Scheduler throughput is low(er than expected) in large clusters when updating daemonsets"
As part of https://github.com/kubernetes/perf-tests/issues/1311 we're trying to simplify (and further speed up) our scalability tests.

Currently the main reason of the elevated pod startup across the whole test is roughly described here:
https://github.com/kubernetes/perf-tests/issues/1311#issuecomment-740586889

At the high-level what is happening is:
- each controller (within kcm) has its own q

[2022-03-09 09:57] palonsoro commented on #108523
From some experience "on the field", it is kind of usually expected that the readiness probes mean "ready to accept new connections", not "ready to accept new and keep existing connections".

Let's consider this example use case: some application whose thread pool is configured such that it can handle up to 400 TCP connections. A readiness probe may return "true" or "false" based on whether the ap

[2022-03-09 10:23] SebastianHurubaru commented on #2289
Is this feature being addressed? Having the same issue with creating a serverless architecture including license servers that are hostname & mac address dependent! Thanks!

[2022-03-09 10:50] rbroggi commented on #25238
I wanted to contribute with my 2-cents:

We have faced the issue of defining `spec.replicas` while having `hpa` enabled - in our case the situation was even more confusing as at a certain point when we had around 11 pods (defined by `hpa`) we started a deployment and instead of seing the number of our ready replicas drop to `3` (which was the `spec.replicas` defined in our `deployment.yaml`) we sa

[2022-03-09 10:51] pacoxu commented on #108605
dup with #89477

[2022-03-09 11:23] kerthcet commented on #108606
According to this doc [How Daemon Pods are scheduled](https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#how-daemon-pods-are-scheduled), daemon pods are scheduled by the preference of `NodeAffinity`.

Percentage of nodes to score is dynamic,  but yes, 5k cluster we'll go through the first 500 nodes. https://github.com/kubernetes/kubernetes/blob/a41f9e976da10af28169cbbfebbce5ad4ba

[2022-03-09 11:46] dalei2019 commented on #18096
really need this feature！

[2022-03-09 11:59] ahg-g commented on #108606
This is great! really wonderful to see that the scheduler is actually able to reach those limits that we assumed it would based on what we are observing in integration tests but never in a real load test!

We should add an integration benchmark test to track this.

DS pods are just like any other pods from the scheduler's POV, the DS controller simply adds a required node affinity to force the sch

[2022-03-09 12:16] pacoxu commented on #108405
sounds good and will start the work if Preliminary agreement  reached.

My main question is when should we  do not enable it.

[2022-03-09 12:22] Shubham82 commented on #108604
/sig auth
/assign

[2022-03-09 12:23] RichardoC opened #108608 "kubectl create help implies a list of service accounts can be references in a clusterrolebinding"
### What happened?

I'm not sure whether this is the documentation being unclear, or a bug with kubectl itself but I suspect the former.

Given this help page
[code]
I expected to be able to use
[code]
Instead I got the following error
[code]

### What did you expect to happen?

To get the same output as defining the flag twice

aka
[code]
and

[code]
should give the same output, or the help page

[2022-03-09 12:27] ahg-g commented on #108606
Another solution is to change daemonset controller to set `NominatedNodeName` on the pod, the scheduler is already optimized to test the node indicated by `NominatedNodeName`; but we need to check how that impacts preemption logic in general.

[2022-03-09 12:32] RichardoC commented on #108608
/sig cli

[2022-03-09 12:43] ahg-g commented on #108606
The only "generic" optimization is to not be strict on trying to find "10%" number of nodes. Other than that, optimizations will likely be done on a case by case basis just like the DS one.

Brainstorming a bit on how we can be more adaptive: significantly lower the number of nodes to score based on the number of pending pods in the queue. As the queue grows, we score less nodes per pod, as it shr

[2022-03-09 12:56] sftim commented on #108497
Related, stable metrics changes should some day trigger a docs PR to update a reference doc.
(there's no reference doc listing stable metrics yet, but I hope that changes)

[2022-03-09 13:06] b8kings0ga commented on #101933
I really want the feature of "RestartPolicy: Never", but I have a thought that we can have a threshold of restarts for deployment that can make deployment doing the "recreate" action, since Recrete on every restart seems too intense for me

[2022-03-09 13:52] robinchia commented on #108579
I think the question is that,  when I use statically compiled  kernel system as cabernets work node, and the folder /proc/module is not exsit. The Kube-proxy log is that:
E0308 05:15:01.994259       1 server_others.go:106] Can't use the IPVS proxier: error getting installed ipvs required kernel modules: Failed to read file /proc/modules with error open /proc/modules: no such file or directory
I030

[2022-03-09 14:20] danwinship commented on #108523
I'm not sure that's an action we expect users to take, so I'm not sure there's any specific expected behavior...

Kube-proxy doesn't make any attempt to track you doing this; if a previously-working endpoint stops matching the service's selector, then kube-proxy immediately forgets about the endpoint (ie, as though you had deleted it with `--force --grace-period 0`).

[2022-03-09 14:25] superherointj commented on #108299
I'm having same issue of pods not scaling down but it could be my mistake once I'm not used to feature.
I'm running `k3s v1.23.3+k3s1`.

I'm using:
`
      autoscaling:
        minReplicas: 1
        maxReplicas: 4
        targetCPUUtilizationPercentage: 50
        targetMemoryUtilizationPercentage: 50
        downscaleStabilization: 180
`
It never scales down. I check loads using: `kubectl get hp

[2022-03-09 14:45] uablrek commented on #108523
I don't know a way to forcefully break a TCP connection when the peers are silent. It would be like a man-in-the-middle attack. A ICMP `Destination Unreachable` can be sent by any network element along the path, but is also a response.

[2022-03-09 14:57] carantunes opened #108609 "Inject schedule name into newly created job"
### What happened?

In cronjob_controllerv2.go, jobs name pass from epoch in seconds to epoch in minutes

`name := fmt.Sprintf("%s-%d", cj.Name, getTimeHash(scheduledTime))`

to

`
func getJobName(cj *batchv1.CronJob, scheduledTime time.Time) string {
	return fmt.Sprintf("%s-%d", cj.Name, getTimeHashInMinutes(scheduledTime))
}
`

### What did you expect to happen?

Expected this to be documented s

[2022-03-09 15:09] uablrek commented on #108523
Actually I become unsure. I have only seen it as an OS response. The OS should be able to send a unsolicited RST, but I don't know if it ever does. I tested to setup a tcp connection between peers on 2 vms and did a `kill -9` on the server, but the OS close the connection with FIN.

[2022-03-09 15:11] A-Zaporozhchenko commented on #108587
@pacoxu The DNS is working and your command succeed on a running pod. The thing is that when I try to execute the very same `curl` in a PostStart hook, it works. It doesn't work only at PreStop hook phase.

I was wondering if it can be a limitation of AWS EKS and not the k8s itself.

[2022-03-09 15:42] thockin commented on #2289
This one s something a CNI implementation might choose to offer, but not
something we can demand of them all.

That said, I had a discussion recently about a possible future API that
would maybe make this easier to represent and govern.  For the near term,
it's net plugins or bust.

On Wed, Mar 9, 2022, 2:24 AM Sebastian Hurubaru ***@***.***>
wrote:

[2022-03-09 15:51] stlaz commented on #106110
@enj looking into it, I'll see what we can do

[2022-03-09 15:52] rphillips commented on #108405
There are other performance impacts by doing parallel image pulls as well. I vote on enforcing the opt-in to parallel image pulls.

[2022-03-09 16:18] Robbie558 commented on #108582
This behaviour was due to backup manifest files for the `kube-controller-manager` pod in the `/etc/kubernetes/manifests/` directory on the master nodes.  Removing these allowed the `sudo kubeadm upgrade apply` command to succeed on the first iteration.

[2022-03-09 16:18] #108582 closed

[2022-03-09 16:28] liangyuanpeng commented on #108546
You can use init container to set your JVM param for your different pod.

[2022-03-09 16:32] liggitt commented on #108405
I have vague memories of correctness issues with parallel image pulls. That was a looooong time ago and maybe those have been resolved by now, but if we're contemplating changing a default, we need to be certain we're not regressing users.

[2022-03-09 16:33] pohly commented on #102430
/remove-lifecycle stale

[2022-03-09 16:37] MadhavJivrajani commented on #108609
/sig apps docs

[2022-03-09 16:40] chrisnegus commented on #106917
@mrbobbytables What is the endgame for closing this issue?

[2022-03-09 17:02] chris-short commented on #106035
I don't think this needs to be worked on as part of the dockershim docs cleanup.

[2022-03-09 17:46] Dragoncell commented on #108348
Thanks for the PR. After the PR submit, the test is still failing somehow with
[code]

[2022-03-09 17:49] liggitt commented on #108609
cc @soltysh

[2022-03-09 17:51] liggitt commented on #108605
thanks for opening the issue

/close
in favor of https://github.com/kubernetes/kubernetes/issues/89477

that issue links to a list of places node labels are referenced from. before removal, we have to ensure all places we reference node labels have warned about removal, *and* that there is a non-disruptive way to transition existing objects referencing the beta labels.

[2022-03-09 17:51] #108605 closed

[2022-03-09 17:52] liggitt commented on #108608
the flag can be specified multiple times, or (I think) as a comma-separated list. agree the `[]` notation is confusing... I think that's how cobra prints the default value (which is an empty list)

[2022-03-09 17:53] liggitt commented on #108604
extensions/v1beta1 is no longer served since 1.16

the example should be updated to refer to `rs.apps`

[2022-03-09 17:56] Huang-Wei opened #108610 "volumebinding unit tests run slowly"
The unit tests in pkg pkg/scheduler/framework/plugins/volumebinding cost ~30 seconds on my m1max machine:

[code]

Among the tests, a single test even costs ~5 seconds:

[code]

It doesn't look like a good signal. It may be worth taking a close look to polish the tests a bit.

/sig scheduling
/kind cleanup
/help

[2022-03-09 17:58] pohly commented on #106428
/remove-lifecycle stale

[2022-03-09 18:24] eddiezane commented on #107702
It looks like there isn't progress yet fixing this upstream in Go https://github.com/golang/go/issues/49035.

I'll get the test updated to using 1 more now.

/assign

[2022-03-09 18:39] Shubham82 commented on #108608
Hi @liggitt @RichardoC

I have tried and confirmed that it works with multiple flags:

[code]
But for the comma-separated list, doesn't work.

Kubectl version: v1.23.3  and k8s version v1.23.3

[2022-03-09 18:49] Shubham82 commented on #108604
Thanks, @liggit for this information, I will update this.

One more thing I have to ask here should I also do update the files/folders under [translations ](https://github.com/kubernetes/kubernetes/tree/2cd5c54f39b3adb4e8532a123b8cc697cf657bc8/staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl) folder like template.pot.

[2022-03-09 19:21] Huang-Wei commented on #108083
@miamipanther this issue looks more complex than I thought. If you don't mind, I can take it over providing a fix.

[2022-03-09 19:28] Shubham82 commented on #108608
The same update for rolebinding:

[code]
Should we write like this(same for clusterrolebinding):
 **`--serviceaccount=[]: Service accounts to bind to the role, in the format <namespace>:<name>. To bind multiple serviceaccount to the role, specify the flag multiple times.`**

[2022-03-09 20:01] arthurlm44 commented on #79224
When using 3rd party software, this feature would be tremendously helpful.
I can't always control the source code, and sometimes the source code expects to fetch a value from configmap, yet I can't store it in my cluster as a configmap.
Would be nice to be able to reference a secret field from the configmap...

[2022-03-09 20:22] leonardpahlke commented on #106566
/close

[2022-03-09 20:22] #106566 closed

[2022-03-09 21:00] koolwithk opened #108615 "grpc feature gates - Liveness probe errored: missing probe handler"
### What happened?

Enabled [feature gate](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) `GRPCContainerProbe=true` on my self managed kubernetes v1.23.4

- /etc/kubernetes/manifests/kube-apiserver.yaml
[code]
I followed the grpc liveness example mentioned on [docs](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-prob

[2022-03-09 21:38] wedaly commented on #108525
I think there are two main scenarios to validate:
A) Packets between two pods through a service ClusterIP aren't NAT'd. Pretty sure this is already covered by [an existing test](https://github.com/kubernetes/kubernetes/blob/f93be6584ea57d1d01a0ca1d2c5e96782713d311/test/e2e/network/service.go#L928).
B) Packets from a pod to a node through a NodePort service are forwarded and NAT'd. I couldn't find

[2022-03-09 21:48] hfuss commented on #39178
So the issue has been solved as mentioned in https://github.com/kubernetes/kubernetes/issues/39178#issuecomment-436033217

You need to have a `StorageClass` which uses `WaitForFirstConsumer` as the `bindingMode`. Otherwise with the `Immediate` mode that most default classes use, the volume provisioner will select any AZ which might not align with where the consumer of the volume ends up getting sc

[2022-03-09 21:53] yliaog commented on #108322
how do you define Add() successful? there are a few 'return' in Add()

[2022-03-09 22:16] revoteon commented on #108594
Whats more, is that if "terminated" pod's IP is reclaimed by another pod, the traffic is routed to the new pod, which can be a completely different service and in a different namespace. I've replicated this in GKE 1.22.x with pre-emptible nodes.

[2022-03-09 22:26] yibozhuang commented on #108610
I can take a stab at it.
/assign

[2022-03-09 23:00] RichardoC commented on #108608
Thanks for the investigation, another approach that might help is adding an example with the comma separated service accounts in the examples section.

I do wonder if there's a clearer representation that could be output by cobra, to make it clear what the behaviour should be...?

[2022-03-09 23:02] #103632 closed

[2022-03-09 23:03] mattcary commented on #100897
@dannylee- some of the mechanisms that glusterfs needs are starting to be deprecated, eg the --experimental-mounter-path flag is deprecated upstream and will be removed, for example, in GKE in the ~1.24 time frame.

It sounds like https://github.com/kadalu/kadalu/ is the migration story---is that still true?

[2022-03-09 23:46] Huang-Wei commented on #91633
/remove-lifecycle stale

[2022-03-09 23:48] aojea commented on #108518
/assign @astoycos

he already has a PR https://github.com/kubernetes/kubernetes/pull/108080 and David's blessing
https://github.com/kubernetes/kubernetes/pull/108080#discussion_r821171649

[2022-03-09 23:59] aojea commented on #108525
I think that the tests are there

https://github.com/kubernetes/kubernetes/blob/f93be6584ea57d1d01a0ca1d2c5e96782713d311/test/e2e/network/networking.go#L143-L158

what is needed is to setup jobs with kube-proxy using different configurations, we have currently all this jobs with kind

https://testgrid.k8s.io/sig-network-kind

[2022-03-10 00:11] fotstrt commented on #46070
Hello,

When I use privileged mode, all Pods are scheduled on the same GPU (although the node has 8 GPUs).
Do you know if I can have both the privileged mode and all pods running on different GPUs?

Thank you!

[2022-03-10 01:42] jqmichael commented on #44713
[mount-propagation](https://kubernetes.io/docs/concepts/storage/volumes/#mount-propagation)

[2022-03-10 01:51] #108135 closed

[2022-03-10 03:01] oprinmarius opened #108621 "Soak Tests for Azure K8s clusters with Windows Nodes"
### What would you like to be added?

**Add a new job in Prow for Windows Soak tests.**

* The job will be scheduled weekly, with the option to be triggered manually.
* The test should be configurable to run arbitrary builds of Kubernetes, including HEAD
* The test will use **Cluster API Provider for Azure** for cluster provisioning
* The Soak tests will repeatedly run **clusterloader2** on Window

[2022-03-10 03:02] oprinmarius commented on #108621
/sig windows

[2022-03-10 03:06] #104864 closed

[2022-03-10 03:13] oprinmarius commented on #108621
/sig testing

[2022-03-10 03:23] chenhong0129 opened #108622 "Pod stuck in Terminating when deleting , kubelet Error: "UnmountVolume.TearDown failed for volume:remove /var/lib/kubelet/pods/xxx/volumes/kubernetes.io~glusterfs/test-gluster-pv: directory not empty"
### What happened?

When I update resource with "kubectl apply -f test.yaml", old pod is Terminating and cannot delete successfully. Kubelet log Error: "UnmountVolume.TearDown failed for volume:remove /var/lib/kubelet/pods/xxx/volumes/kubernetes.io~glusterfs/test-gluster-pv: directory not empty
`Dec 21 16:08:27 node01 kubelet[1243]: I1222 00:08:27.395056    1243 reconciler.go:183] operationExecuto

[2022-03-10 03:23] #108041 closed

[2022-03-10 03:34] chenhong0129 commented on #108622
/sig storage

[2022-03-10 04:17] #107702 closed

[2022-03-10 04:18] ipochi commented on #108348
Thanks, I know about that, hence https://github.com/kubernetes/kubernetes/pull/108563

[2022-03-10 04:50] anguslees commented on #108258
@mborsz I think you're suggesting that we should consider increasing apiserver --request-timeout default?  Or at least, ensure --request-timeout default, this range limit, and an expected time to fetch a page from etcd all make sense together.  (Great point!)

I feel like whatever we do, there's always a legitimate-but-pathological query that a client can construct that will take a long time - you

[2022-03-10 04:59] MadhavJivrajani commented on #108615
/sig node

[2022-03-10 05:00] MadhavJivrajani commented on #108609
/remove-sig docs
/kind documentation

[2022-03-10 05:49] #108348 closed

[2022-03-10 05:50] pacoxu commented on #108405
In the beginning, I know https://github.com/moby/moby/issues/15283 (Issues when pulling images in parallel with aufs) is an issue of docker before 1.9 with aufs.

If container runtime cannot support parallel pull, it can have a configuration or flag to disable or limit the parallel pulling.

Is there some data/benchmark on it?

[2022-03-10 06:01] Shubham82 commented on #108608
Hi, @RichardoC  I think adding the example is good so that users who reference this document get the proper information.
but there is already mention of how to this flag with create command under the usage section:

[code]
What do you suggest @liggitt?

[2022-03-10 06:21] amarts commented on #100897
from kadalu project, we don't have 'online' migration completed yet. But sure, for anyone wanting to have glusterfs as an option in k8s, they can use kadalu :+1:

[2022-03-10 06:49] MadhavJivrajani commented on #108372
I am able to reproduce this, thanks!
/sig apps
This *might* be related to apps.

[2022-03-10 06:50] afbjorklund commented on #106917
Just realized that we are still using the "kubenet" CNI, and that it will be deleted along with the "dockershim" CRI...

* https://github.com/kubernetes/kubernetes/issues/100707

Need to add a similar change to minikube, to use CNI for _all_ container runtimes and remove Docker special case.

[code]

Maybe it should be mentioned in the migration docs (for docker) ?

I know that containerd and cri-

[2022-03-10 06:50] smileusd opened #108623 "support fsgroup and file permissoin for csi inline volume"
### What would you like to be added?

enable fsgroup and file permission on csi-inline volume

### Why is this needed?

If not enable this, non-root user can not read/write the file in the csi inline volume mountpoint.

[2022-03-10 06:50] smileusd commented on #108623
/sig storage

[2022-03-10 06:54] smileusd commented on #108623
In the latest code the fsgroup will skip app when volume is csi inline:
[code]

[2022-03-10 06:54] MadhavJivrajani commented on #108372
When I try the above yaml that @andizzle commented, and delete the deployment `nginx-deployment-canary`:
- The pods terminate
- But the corresponding replica set is not deleted
  - Which means the deployment is technically still orphaning its direct dependent, so the problem might be with replicaset?

[2022-03-10 06:55] MadhavJivrajani commented on #108372
fwiw, the docs on [label selectors](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/) says:

I'm yet to dive deeper here, but this *could* be a possible reason.

[2022-03-10 07:04] leonardpahlke commented on #105677
does not seem like the test is failing anymore
/close

[2022-03-10 07:04] #105677 closed

[2022-03-10 07:13] chaochn47 commented on #108258
Any thoughts on this proposal? @ptabor from your comment on https://github.com/kubernetes/kubernetes/pull/94303#issuecomment-773174456

[2022-03-10 07:22] ipochi commented on #108348
@adisky @SergeyKanzhelev

The test passes https://k8s-testgrid.appspot.com/sig-node-kubelet#kubelet-gce-e2e-lock-contention

[2022-03-10 07:32] koolwithk commented on #108615
After adding **feature-gates** into kubelet  `/usr/lib/systemd/system/kubelet.service.d/10-kubeadm.conf` on all worker node. I'm not seeing any error message. Thank you!

[code]

[2022-03-10 07:32] #108615 closed

[2022-03-10 08:12] kidlj commented on #106754
It seems difficult to implement this without breaking `ObjectTracker` interface.

[code]

`ObjectTracker.Watch` method doesn't know anything about label/field restrictions, so the watcher created by it doesn't have the information to filter objects/events.

[2022-03-10 09:07] #88150 closed

[2022-03-10 10:07] PrasadG193 commented on #107218
I would like to work on this if its still relevant

[2022-03-10 10:44] aojea commented on #108526
ExternalIP and LoadBalancerIP are not necessarily external , there are multiple implementations that create them as Virtual IP inside the cluster, they doesn't exist outside of the cluster, they are just forwarded externally ... MetalLB is a good example

[2022-03-10 11:07] gnufied commented on #108063
We can't just skip updating node objects and still do rest of reconstruction if `kubeClient` is nil. This could potentially be unsafe because volumes which are being used may not be reported correctly via node APIs. So we need to rethink - what volume functions are expected to work if api-server is unavailable? Is standalone mode supposed to mount any volumes at all? cc @jingxu97

[2022-03-10 11:16] FearlessHyena commented on #69696
I've tried the PDB workaround and it doesn't work reliably
Also as per that documentation

So this workaround doesn't cover all cases (as many folks have commented earlier). The fact that these are system pods created automatically by GKE should also imply that they should be automatically managed by GKE and not cause a glaring problem with their own system

[2022-03-10 11:47] vdboor opened #108630 "kubectl run accidentally exposes --kustomize flag"
### What happened?

The `kubectl run` command provides a `--kustomize` flag but this doesn't do anything.

[code]

### What did you expect to happen?

most likely the flag shouldn't exist. I have no idea how kustomize could be useful here to start a single pod.

### How can we reproduce it (as minimally and precisely as possible)?

This creates a pod, and shows that `--kustomize NOTEXiSTING` is ig

[2022-03-10 11:49] vdboor commented on #108630
/sig cli

[2022-03-10 13:16] liggitt commented on #108608
in the specific flag help, we can mention the flag can be repeated to add multiple subjects

[2022-03-10 13:27] alculquicondor commented on #108606
Interestingly, given that DS only match one node, we don't even run PreScore/Score for them.

In terms of Filters, perhaps we could reconsider the order in which we run them?
Only taints&tolerations are checked before node selectors. Are taints present in the cluster?

Still, avoiding having to search for the x% will likely give the most performance boost.

[2022-03-10 14:04] nickekstest opened #108633 "apiVersion: certificates.k8s.io/v1 approving cert but never issuing it."
### What happened?
apiVersion: certificates.k8s.io/v1 approving cert but never issuing it.

Result:
my-svc.example.com 39m kubernetes.io/kube-apiserver-client kubernetes-admin Approved

I've tried making the csr a few different ways.

### What did you expect to happen?

Expected Result:
my-svc.example.com 39m kubernetes.io/kube-apiserver-client kubernetes-admin Approved,Issued

### How can we repr

[2022-03-10 14:11] ahg-g commented on #108606
The overhead is not from running the scores, but from continuing to search for 500 eligible nodes, and so every time all  5k nodes go through filters.

[2022-03-10 15:13] dannylee- commented on #100897
Isn't Kadalu still in beta?  It's currently at 0.8.10.

[2022-03-10 15:16] lxxin opened #108635 "https://github.com/kubernetes/kubernetes/issues/60388#issuecomment-368399542"
https://github.com/kubernetes/kubernetes/issues/60388#issuecomment-368399542

@jiayingz perhaps I misunderstood your comment. Thanks for your reply and clarification.

_Originally posted by @pineking in https://github.com/kubernetes/kubernetes/issues/60388#issuecomment-368766688_

[2022-03-10 15:20] #108571 closed

[2022-03-10 15:49] xhejtman commented on #108009
And a new kubelet log that contains kubelet start, lock, kubelet restart and continuing.
[kubelet.log.gz](https://github.com/kubernetes/kubernetes/files/8224841/kubelet.log.gz)

[2022-03-10 16:08] #104357 closed

[2022-03-10 16:53] Shubham82 commented on #108604
Hi @liggitt

Any Inputs on this!

[2022-03-10 17:02] liggitt commented on #108604
I don't know how the translation files are maintained, sorry

[2022-03-10 17:35] dashpole commented on #108556
/assign @logicalhan

[2022-03-10 17:37] dashpole commented on #108551
/assign
/triage accepted

[2022-03-10 17:38] dashpole commented on #108497
/triage accepted

[2022-03-10 17:38] dobsonj commented on #89290
I tested this scenario with the hostpath driver on k8s 1.24 (built from master) on a local VM using a slightly modified version of the examples/csi-app-inline.yaml spec (added fsGroup and fsType):
[code]
And this does not panic kubelet
[code]
It does not panic because of this check:
https://github.com/kubernetes/kubernetes/blob/e9af39914797d40766b166e18dac3a441a2bf5d4/pkg/volume/csi/csi_mounter.go

[2022-03-10 17:38] dashpole commented on #108497
/assign ehashman

[2022-03-10 17:40] marosset commented on #108621
/triage accepted

[2022-03-10 17:43] marosset commented on #107114
/triage accepted
We saw this again recently in SIG-windows tests

[2022-03-10 17:44] Shubham82 commented on #108604
Don't be sorry, it's OK!

Thanks!

[2022-03-10 17:50] dashpole commented on #107146
Can this be closed?

[2022-03-10 17:54] marosset commented on #107290
@claudiubelu is this still an issue?
Is there an issue in containerd/contianerd we can link to if this is an issue in containerd.

[2022-03-10 17:55] marosset commented on #105336
sig-windows backlog refinement:
We haven't seen this in a while so we will close for now.
/close

[2022-03-10 17:56] #105336 closed

[2022-03-10 18:53] liyimeng commented on #108364
@giuseppe I did not expect running cadvisor on host is so challenging.
Finally manage doing so anyway. No, it dose not work, cadvisor crash and failed to start

[code]

If switch to cgroupv1, it works like a charm.  On the same host with the same cadvisor binary.

[2022-03-10 19:10] jyotimahapatra commented on #100707
@dims 👋 Im from the bug triage team. Wanted to check if there are other PRs needed to close this issue.

[2022-03-10 19:10] #105341 closed

[2022-03-10 19:14] jyotimahapatra commented on #106917
@afbjorklund can you help us with which documentation it could be suitable for. @nate-double-u this is a new ask around doc, wanted to make you familiar with the ask.

[2022-03-10 19:22] afbjorklund commented on #106917
@jyotimahapatra : I think for the migration docs it would be best to have it in PR https://github.com/kubernetes/website/issues/32131 (for https://github.com/kubernetes/website/issues/32129), for new installations I think that setting up CRI and CNI are a big part of those docs.

[2022-03-10 20:07] Huang-Wei commented on #108606
Thanks @wojtek-t and sig-scalability team raising this issue.

Exactly. `percentageOfNodesScore` doesn't work that great in a large cluster, even it reveals a paradox: the more congested  the cluster is, the more work scheduler needs to do and thus lower throughput & high latency - as it needs to iterate more nodes to try to reach the quorum (defined by `percentageOfNodesScore`), and unfortunately

[2022-03-10 20:18] liyimeng commented on #108364
I manage to start up cadvisor via tuning my system with tip from https://www.ibm.com/docs/en/ahte/4.0?topic=wf-configuring-linux-many-watch-folders.

 and now it collect metric as expected, but not sum them properly. i.e. the total is always 0. see attach pictures.
<img width="912" alt="Screenshot 2022-03-10 at 21 15 40" src="https://user-images.githubusercontent.com/3155688/157747653-be623bac-6e2

[2022-03-10 20:35] ahg-g commented on #108606
I think this is not enough. It is more efficient to return the exact node/nodes if PreFilter is able to determine them in O(1); otherwise it is still O(n)

I think we could change PreFilter to return a `PreFilterResult` similar to PostFilter, that now includes a NodeNames slice and can be in the future extended to include the number of nodes to score:

[code]

[2022-03-10 20:35] wedaly commented on #108525
For the test configurations, I was thinking of adding these:

1. ci-kubernetes-kind-detect-local-node-cidr
2. ci-kubernetes-kind-detect-local-bridge-interface-name (after #95400 merged)
3. ci-kubernetes-kind-detect-local-bridge-interface-name (after #95400 merged)

These would have the same configuration as [ci-kubernetes-kind-network](https://github.com/kubernetes/test-infra/blob/1efdc7f59247ca75

[2022-03-10 20:35] dims commented on #100707
all set. thanks @jyotimahapatra

[2022-03-10 20:46] qiutongs opened #108640 "Infrequent unhealthy Kubelet"
### What would you like to be added?

Infrequent occurrence of following log indicating [health-monitor.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/health-monitor.sh#L65) - curl on http://127.0.0.1:10248/healthz - failed with connection reset:

[code]

This raised a few questions.

1. Does one connection failure necessarily mean kubelet should be restarted? If not, Sho

[2022-03-10 20:46] alculquicondor commented on #108606
Sounds good. I thought it might be a major refactor, but we already have an index by node name in the cache.

[2022-03-10 20:51] Riaankl opened #108641 "Write Batchv1JobLifecycleTest +4 Endpoints"
# Progress <code>[9/10]</code>

- [x] APISnoop org-flow: [Batchv1JobLifecycleTest.org](https://github.com/apisnoop/ticket-writing/blob/master/Batchv1JobLifecycleTest.org)
- [x] Test approval issue : #108641
- [x] Test PR : #108642 - Needed an update on the handling of anotations
- [x] Two weeks soak start date : [testgrid-link](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-def

[2022-03-10 21:03] Riaankl commented on #108641
/triage accepted

[2022-03-10 21:09] jsturtevant commented on #108621
One additional aspect we could add is to update https://github.com/kubernetes/perf-tests/tree/master/perfdash to view the metrics that are outputted into the prow artifacts cluster.  We could then run that instance in the [community cluster](https://github.com/kubernetes/k8s.io/blob/main/running-in-community-clusters.md#how-to-run-your-thing-in-our-clusters) similar to how the [perf-dash does this

[2022-03-10 21:14] RichardoC commented on #108608
This sounds good to me, might be worth doing the same for other places that use the same behaviour?

[2022-03-10 21:43] alculquicondor opened #108645 "JobTrackingWithFinalizers: Orphan pods might not get the finalizer cleared"
### What happened?

I run into a situation where a pod didn't loose the finalizer, then it blocked the deletion of a namespace.

We do have an integration test for orphan pods
https://github.com/kubernetes/kubernetes/blob/425ff1c8e2d29874926abb7da37641cf785c4ff3/test/integration/job/job_test.go#L537

But I fear that it might not cover all cases

### What did you expect to happen?

Finalizer to alw

[2022-03-10 21:43] alculquicondor commented on #108645
/sig apps
/area batch

[2022-03-10 21:57] alculquicondor commented on #108645
Another theory for a repro: delete pods right before deleting the job.

[2022-03-10 22:01] Huang-Wei commented on #108606
`PreFilterResult` sounds good.

Some design questions: how do we deal with the result from each PreFilter(), intersecting them I suppose? If so, are we going to intersect them at the end of running all PreFilter plugins, or, pass the result from the previous PreFilter plugin to the next?

[2022-03-10 22:06] ahg-g commented on #108606
We will merge them, I will send a WIP PR in a few minutes.

[2022-03-10 23:38] ahg-g commented on #108606
WIP: https://github.com/kubernetes/kubernetes/pull/108648

[2022-03-10 23:43] iXinqi opened #108649 "Refactor "test/e2e/windows/gmsa_full.go""
### What would you like to be added?

1. "work e2e" and "read/write file" test cases have the same set up and clean up functions. We should hoist the same setup logic to a beforeEach and do the clean up in a afterEach. Create this issue to track it as mentioned in this comment: https://github.com/kubernetes/kubernetes/pull/108432#discussion_r819055340

2. Follow up on using dns name in the remote

[2022-03-10 23:44] iXinqi commented on #108649
/sig windows

[2022-03-10 23:47] iXinqi commented on #108649
/assign @iXinqi

[2022-03-11 01:17] PBTests commented on #95408
I have this exact issue with ContainerD. Rather than fill the thread with pointless nonsense, can anyone point people with this issue in the correct direction?

[2022-03-11 03:51] pacoxu commented on #108604
/assign
I will update the docs.

[2022-03-11 04:13] Shubham82 commented on #108604
Hi @pacoxu
I am already working on it.
I have one doubt on translation files, which I already asked in the sig-cli channel.
Could you please tell me if you know that it will be a great help!

[2022-03-11 04:20] pacoxu commented on #108604
/usassign
ok

[2022-03-11 04:21] Shubham82 commented on #108608
Sure @RichardoC
I will do that.

[2022-03-11 04:27] pacoxu commented on #108604
You can check the kubectl example.
https://github.com/kubernetes/kubernetes/blob/9d512581b85ae8f2f315e042ed4bfc76d921bfb4/staging/src/k8s.io/kubectl/pkg/cmd/create/create_clusterrole.go#L49
![image](https://user-images.githubusercontent.com/2010320/157801710-ebf94e04-59b1-499b-9b6d-71de4bd06039.png)

And the role/clusterrole and something else alse needs an update.

Code in website: I think it is

[2022-03-11 04:35] Shubham82 commented on #108604
yes, I already saw where to update the things, but I have one doubt in template.pot file which is under translation [folder](https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/kubectl/pkg/util/i18n/translations/kubectl), I just wonder I have to update this file also,

[2022-03-11 04:36] smileusd commented on #89290
@dobsonj THX, also link to this https://github.com/kubernetes/kubernetes/issues/108623

[2022-03-11 05:00] MadhavJivrajani commented on #108640
/sig node

[2022-03-11 05:18] #98815 closed

[2022-03-11 05:36] pacoxu commented on #108604
/cc eddiezane

[2022-03-11 06:35] Shubham82 commented on #108608
I have fixed it here: #108654
PTAL!

[2022-03-11 07:43] muyangren2 commented on #108546
I think you not very well understand Pod’s concept ,for your scene  you just need set Pod.spec.containers.resources

[2022-03-11 07:57] vikas027 commented on #45131
Yes, it does, try it out :)

[2022-03-11 08:30] pacoxu commented on #108546
I got that. However, using daemonset, the resource limits/requests are all the same for pods in different nodes. (Why you are using daemonset? it is still not clear.) 😄

[2022-03-11 08:48] giuseppe commented on #108364
It is a known limitation since Linux doesn't expose per core CPU usage on cgroup v2

[2022-03-11 08:49] cyclinder commented on #108255
I'd take this one.
/assign

[2022-03-11 08:52] aojea commented on #108525
commented on #95400 , let's start in experiment mode

[2022-03-11 08:53] kerthcet commented on #108606
Sorry, but I still can't get the point. For this matter, how we get the `NodeNames` from plugin `NodeAffinity`'s `PreFilter`. Besides, since this is a break change to users(we modified the interface), do we have other scenarios/reasons that strongly support this change.

[2022-03-11 09:12] muyangren2 commented on #108542
/assign

[2022-03-11 09:15] chendave commented on #108324
/close
Since there is no problem to run those testcase on gce or gke, and those testcases are not designed to run locally, so close it.

[2022-03-11 09:16] #108324 closed

[2022-03-11 09:43] liyimeng commented on #108364
@giuseppe  I see. But total cpu and memory usage are always 0. What could go wrong? what should I look into?

[2022-03-11 09:56] cpsrujana opened #108656 "kube proxy is not available after kubernetes installation"
### What happened?

We have installed Kubernetes using kubespray. we have observed that kube-proxy didnot come up. kubeadm-config.yaml has the required kubeproxy configuration.

In the api server logs, there is an error to connect etcd.
And etcd container seems to be recreated during that time.

Can somebody help me in understanding the root cause of this issue. We are trying on a fresh machine.

[2022-03-11 10:03] aojea commented on #108656
/transfer kubernetes-sigs/kubespray

This should be open on the corresponding project

Thanks

[2022-03-11 10:06] MadhavJivrajani commented on #108635
@lxxin is this supposed to be an issue?

[2022-03-11 10:46] samunbest commented on #108546
yes，I  manged to do it in this way. Thanks a lot.

[2022-03-11 10:47] #108546 closed

[2022-03-11 11:08] subrnath opened #108657 "Error "unable to retrieve the complete list of server APIs: metrics.k8s.io" when any K8s resource is being created by operator through ansible K8s module."
### What happened?

We are trying to deploy a CNF in K8s cluster 1.23.1 with ansible operator from quay.io and following error is coming. This is seen when the metrics-server is installed. If metrics-server is deleted, this error is not seen and all the K8s resources are created fine by the Operator.

{"level":"error","ts":1646985248.079765,"logger":"proxy","msg":"Unable to determine if virtual re

[2022-03-11 11:13] giuseppe commented on #108364
what is the content of `/sys/fs/cgroup/cgroup.subtree_control`?

[2022-03-11 12:05] esiperu-est opened #108658 "Dual Stack: kube-api communication iwth"
### What happened?

in dual stack deployment with preferred-ipaddress-family: ipv6.

kubelet is configured to listen on <ipv6> address : 10250 using address configuration for kubelet.

commands like **kubectl <exec/log/..>** are failing with connection timeout,

### What did you expect to happen?

kubectl commands should work fine.

### How can we reproduce it (as minimally and precisely as possib

[2022-03-11 12:29] NikhilSharmaWe commented on #108573
@ciberkleid Could you please explain me this statement of yours
I think it is important to inform the user that the img resource may refer to **_more than one type_**.
Especially **_more than one type_** part.

[2022-03-11 12:31] liyimeng commented on #108364
@giuseppe
[code]

[2022-03-11 12:45] rhzs commented on #2630
/remove-lifecycle stale

[2022-03-11 12:59] NikhilSharmaWe commented on #108063
@pacoxu Could you please give your thoughts on the above comment.

[2022-03-11 13:17] ciberkleid commented on #108573
In this example, the types would be `images.kpack.io` and `images.caching.internal.knative.dev`.

I am not sure how restricting aliases would work (would it be a bug in kpack or knative? would it be an operator decision on a per-cluster basis? both have their drawbacks...). However it is implemented, at the very minimum, if nothing else changes, the current result of `k get images` or `k get img`

[2022-03-11 13:45] akamac commented on #86479
External clients use AWS load balancer, while requests from control plane nodes go to haproxy on localhost thanks to `/etc/hosts` trick, thus do not reach AWS LB.

[2022-03-11 15:25] ahg-g commented on #108606
The affinity is selecting a specific node, the node name will be in the constraint  value.

isn't this a strong enough reason on its own? daemonsets are deployed in every single cluster, and they are causing a significant drop in performance at scale. Also, this is not a breaking change to "users"; this interface isn't an object API nor a configuration API; this is a development API which we can c

[2022-03-11 15:27] #105597 closed

[2022-03-11 16:07] dgrisonnet commented on #107291
/remove-sig cli

This seems to be a problem with prometheus-adapter rather than kubectl since the data exposed by the resource metrics API is incorrect.

[2022-03-11 16:10] dgrisonnet commented on #107291
@tomas-k-mall since this issue is not related to Kubernetes, could you please reopen it in https://github.com/kubernetes-sigs/prometheus-adapter and share the configuration of your adapter?

/close

[2022-03-11 16:11] #107291 closed

[2022-03-11 16:32] TBBle commented on #97739
Assuming no surprising changes in direction, containerd's CRI implementation is going to parse a `HostPath` as `IDType://ID`, with specific back-compat for `class/ID` as dockershim and dockerd-cri support that already by the implementation in dockerd.

Assuming https://github.com/containerd/containerd/pull/6618 lands with the current behaviour, I intend to propose support for `IDType://ID` in dock

[2022-03-11 16:33] chesire0myles commented on #44816
@danwinship Seriously, thank you ;)

[2022-03-11 17:17] goshlanguage commented on #72155
/remove-lifecycle stale

[2022-03-11 18:54] reylejano commented on #106917
Linking the Docs Dockershim Removal project board
https://github.com/orgs/kubernetes/projects/67

[2022-03-11 19:52] #106608 closed

[2022-03-11 20:17] lyveng commented on #92506
We also faced a similar issue in one of our clusters. @mborsz I was trying to find out from code the dependency between the informers and node authorizer. Any idea where it is? Just curious.

[2022-03-11 20:55] liggitt commented on #92506
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authorizer/node/node_authorizer.go is where the node authorizer lives

it makes decisions using a [graph](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authorizer/node/graph.go) which is populated using [informers](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authorizer/node/graph_po

[2022-03-11 21:26] #107078 closed

[2022-03-11 21:28] #105240 closed

[2022-03-11 21:35] mikebrow commented on #102613
SGTM to add a CRI Probe() API, when can we start.

[2022-03-11 21:55] ArangoGutierrez commented on #108355
https://github.com/kubernetes/kubernetes/pull/108359

[2022-03-12 00:19] dobsonj commented on #108623
Hey @smileusd I'm using #89290 to track this issue and just filed a PR for it.
It should be a small bug fix, no need for a new feature / enhancement. Let's close this one as a duplicate.
/close

[2022-03-12 00:31] mkimuram opened #108663 "E2E tests for `AnyVolumeDatasource` feature"
### What would you like to be added?

E2E tests for `AnyVolumeDatasource` feature

### Why is this needed?

E2E tests for `AnyVolumeDatasource` feature to be Beta (Please see https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1495-volume-populators#alpha---beta-graduation)

[2022-03-12 01:22] esiperu-est commented on #108658
/sig node
/sig network

[2022-03-12 01:23] pratheeksu commented on #83306
This happens because of Flannel. If your client is not bound to both the IP address and the port, the HB messages are routed to other virtual interfaces within your cluster. This can be seen in your logs, where the HB is sent 10.244.0.0. Since it's not configured to receive SCTP messages, an ABORT message is sent, and the SCTP server closes the connection.

The fix is to use Calico or bind the cli

[2022-03-12 01:23] esiperu-est commented on #108658
/sig cluster-lifecycle

[2022-03-12 03:45] houjun41544 opened #108665 "Pod runs normally but still reports "FailedScheduling" event repeatedly"
### What happened?

The Pod has been running normally for more than two days, but the "FailedScheduling" event is still reported repeatedly.
![image](https://user-images.githubusercontent.com/25921749/157999468-f79c307f-5d87-4a71-b031-0377e3aa3282.png)

I can see in the kube-scheduler log that the pod was scheduled for the first time and failed due to a binding failure. The reason for the failure

[2022-03-12 06:14] lxxin commented on #108635
no, its a mistake

[2022-03-12 06:15] MadhavJivrajani commented on #108635
ack, thanks!
/close

[2022-03-12 06:15] #108635 closed

[2022-03-12 07:09] houjun41544 commented on #108665
/sig scheduling

[2022-03-12 07:47] nadenf commented on #58065
/remove-lifecycle stale

[2022-03-12 08:32] #103690 closed

[2022-03-12 09:01] jlsong01 commented on #107543
@jiahuif hey, are you working on it? If not, may i take a try?
cc @fedebongio

[2022-03-12 09:06] zohebs341 opened #108668 "How random command is getting executed - K8s version 1.21.7 -- kubectl edit sts -n xyz -n namspace"
### What happened?

"-n"  ------>There is no such parameter defined in kubectl edit sts --help

How come a random command is working without usage being defined in kubectl edit sts --help

# kubectl edit sts -n xyz -n kafka --> The statefulset "xyz" doesn't exist in kafka namespace, it should throw error like no resources found or some other error. But it is opening a file with all statefulsets av

[2022-03-12 10:31] NikhilSharmaWe commented on #108573
@ciberkleid @pacoxu So we have to add a warning in the logs when we face this situation like - `use different alias or use the fully qualified resource name`.

But where the code is written for this log.

When I did `git grep -n 'No resources found in default namespace.'` in the repo, nothing shows up.

[2022-03-12 11:29] xens commented on #58065
FYI the work to fully support SOCKS proxies has been merged into master a while ago https://github.com/kubernetes/kubernetes/pull/105632.

As of today you can build `kubectl` from the master branch so patching is not needed anymore. It should be part of Kubernetes 1.24 that will be released in a month.

[2022-03-12 12:09] sftim commented on #108609
I'm not sure if the generated name for Jobs was / is part of the API definition for CronJob. My guess is that an implementation of CronJob is compliant no matter what naming scheme it uses, and that people wishing to match Jobs associated with a CronJob should use either labels and selectors, or owner references.

[2022-03-12 13:46] denkensk commented on #108665
copy form https://github.com/kubernetes/kubernetes/pull/108667#pullrequestreview-908006146

1. The root case is why etcd returns `etcdserver:request timed out` but update successfuly and also scheduler did't receive the binding event? It feels like there are errors in multiple component interactions. I think we need to dig into the reasons for that Instead of just patching, right?

2. IIUC.  We ha

[2022-03-12 14:13] xhejtman commented on #108009
I tested 1.23.4 and unfortunatelly, the bug is still there.
[code]

[2022-03-12 14:30] NikhilSharmaWe commented on #108573
@pacoxu @ciberkleid I think we have to update the statement which is printed here
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/cmd/get/get.go#L598-L600
according to my previous comment. Could you please confirm.

[2022-03-12 14:30] NikhilSharmaWe commented on #108573
/assign

[2022-03-12 15:16] bishal7679 commented on #90077
I want to create an ingress in kubernetes-dashboard but this giving me an error with the apiversion networking.k8s.io/v1beta1
how can resolve this @hoang-innomizetech @liggitt pls help me out

apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: dashboard-ingress
  namespace: kubernetes-dashboard
spec:
  rules:
  - host: dashboard.com
    http:
      paths:
      - backend:

[2022-03-12 15:19] brianpursley commented on #108630
This comes from the inclusion of DeleteFlags:
https://github.com/kubernetes/kubernetes/blob/0e697e19ac9f73e2efa0e60157730ba8731e3847/staging/src/k8s.io/kubectl/pkg/cmd/run/run.go#L108

...which brings in FilenameFlags:
https://github.com/kubernetes/kubernetes/blob/8f8138bc35f59ef04b77a3520d8d1065603ccdb7/staging/src/k8s.io/kubectl/pkg/cmd/delete/delete_flags.go#L35

...which has Kustomize, resulti

[2022-03-12 15:28] theAkito commented on #90077
@bishal7679

1. Change the `apiVersion`'s value to `networking.k8s.io/v1`.
2. Overhaul your current Ingress, to match the newest specification.

https://kubernetes.io/docs/reference/using-api/deprecation-guide/#ingress-v122

For example, you have to change `servicePort` to `service.port.number` and `serviceName` to `service.name`. You are also required to provide an explicit `pathType`, etc. All t

[2022-03-12 15:44] aojea commented on #83306
@pratheeksu since it seems you have experience with SCTP, do you have an opinion about this https://github.com/kubernetes/kubernetes/issues/108523 , basically is to know if SCTP behaves differently in the wild as TCP and we should "forcefully" shutdown its connections or better to let the application handle the graceful shutdown

[2022-03-12 15:58] aojea commented on #102613
at this point I really don't have time, but the next step should be to create a KEP and get it approved for 1.25

[2022-03-12 21:34] #105655 closed

[2022-03-13 04:44] huanghantao commented on #90399
@like-inspur I have the same problem. Have you solved it now?

[2022-03-13 09:42] #104681 closed

[2022-03-13 12:16] marckhouzam commented on #94927
/assign @marckhouzam

[2022-03-13 13:03] xhejtman commented on #106884
Hello, tested 1.23.4 and outofcpu bug is still present. It is not only for terminating pods. It happens also in case, you spawn like 400 new pods and not all can be executed so they are pending and some of them end with outofcpu even before running. This causes e.g., nextflow workflow manager so for this tool, 1.22+ is currently unusable as one needs to restart the pipeline or impose only small li

[2022-03-13 13:44] xhejtman opened #108674 "containerd denial of service if starting huge number of pods"
### What happened?

If starting a large number of new pods (100+) all from the same image that is not currently present on nodes, containerd is flooded with pull requests and I can see messages like this:
[code]

underlaying storage is SSD. I have max_concurrent_downloads = 3, but it does not seem to take effect here.
Containerd version is 1.5.5-0ubuntu3~20.04.2, kubernetes version 1.21.10.

Is th

[2022-03-13 16:42] #101743 closed

[2022-03-13 17:42] #105440 closed

[2022-03-13 17:42] #105613 closed

[2022-03-13 17:57] ravens commented on #108523
Regarding SCTP, from a user perspective (working for a telco software company, heavily users of SCTP) it would be great to gave a graceful disconnection when endpoint are disappearing; when services are removed, well I don't think there is any exceptions regarding the behavior, imo.

To give a more concrete example of what does it means for a telco use case for example, consider this example on on

[2022-03-13 18:04] uablrek commented on #108658
The address specified to kubelet seems to be lost in the description in this issue.

Anyway, I tested in my dual-stack cluster with default family ipv6 an I could _not_ reproduce the problem, log/exec works;
[code]

[2022-03-13 18:04] chaosreload commented on #79224
Please reopen this issue. Here is my situation:

An app with config file like this:

    spring:
      cloud:
        nacos:
    mongodb:
      connectionString: "mongodb://username:password@localhost:27017"

There is mongodb  credentials in config file, which is not able to split in to two parts. If there is native way in kubernetes to reference the mongo credentials from a secret  in a configmap

[2022-03-13 18:26] uablrek commented on #108579
IMHO making assumptions on how the kernel is built is wrong. K8s should test the _function_ not check for modules or /proc/config. The problem is general and not specific for kube-proxy. There _may_ be cases when checking the modules is the only option, but then there should be an option to disable the tests and leave the responsibility to the user, e.g `--disable-kernel-checks`. Users that have t

[2022-03-13 18:39] uablrek commented on #108523
Gracefully?

Linux kernel sctp (lksctp) or user-space?

What are you expecting of K8s when this happens (if you could get anything)?

When an sctp socket is closed by the kernel because the process is killed I would expect the kernel to terminate (abort) the sctp association, similar to closing a TCP-connection when that happens. If the kernel doesn't do that, there is not much K8s can do.

[2022-03-13 18:47] ravens commented on #108523
@uablrek lksctp using C bindings from go. ideally I would have expected some ABORT coming back to the eNB. I will try do redo a more controlled experiment, i.e. within k8s or not and compare the behavior. But I think the idea was to illustrate the kind of issues in the context of the discussion, i.e. the original issue:
`This causes ABORT to never happen and hence no graceful termination.`

[2022-03-13 20:54] Riaankl opened #108675 "Ineligibility of Log endpoints for Conformance testing"
We have a question regarding the eligibility of the following 2 endpoints for conformance;
- logFileListHandler
- logFileHandler
We found this PR Don’t test the debug /logs endpoint on GKE. [#47478](https://github.com/kubernetes/kubernetes/pull/47478/files) that disables testing of /log endpoint for GKE.

Is this still valid or should the exclusion of GKE be reconsidered? Does this provider requir

[2022-03-13 20:54] Riaankl commented on #108675
/triage accepted
/sig architecture
/area conformance

[2022-03-13 20:57] Riaankl commented on #108675
[Slack thread](https://kubernetes.slack.com/archives/C78F00H99/p1646954251942429) confirmed that these endpoints should no be eligible for conformance. They should be considered an operational tool, not related to application consistency across distros.

[2022-03-13 21:54] rittneje commented on #99513
/remove-lifecycle stale

[2022-03-13 23:42] #105664 closed

[2022-03-14 00:46] scubakiz opened #108677 "ttlSecondsAfterFinished setting is ignored when Job is created by CronJob. Always defaults to 30"
### What happened?

When I set ttlSecondsAfterFinished: 120 in a Job, it works fine.  However, when I use it in a jobTemplate in CronJob, it's ignored and the CronJob always creates a Job with this value set to 30.

### What did you expect to happen?

I expect ttlSecondsAfterFinished to be set correctly when the CronJob creates the Job.

### How can we reproduce it (as minimally and precisely as p

[2022-03-14 01:24] mengjiao-liu commented on #108677
/assign
I'll try to reproduce the issue first.

[2022-03-14 02:58] pacoxu commented on #108674
/sig node
have you tried to set kubelet flag `--serialize-image-pulls=false`?

[2022-03-14 03:25] pacoxu commented on #108657
Helm fixed a similar issue https://github.com/helm/helm/issues/6361 by https://github.com/helm/helm/pull/6908.
/sig api-machinery instrumentation

[2022-03-14 03:26] robinchia commented on #108579
There is not any regex parsing error in line 628. In my case, n matter whether the /proc/modules directory exists or not, this code will not detect the configuration file which is  /boot/config-XXX, that makes it impossible to read the loaded features of the static kernel.
The code won't run to there:
`kernelConfigFile := fmt.Sprintf("/boot/config-%s", kernelVersionStr)
  kConfig, err := ioutil.Re

[2022-03-14 03:43] pacoxu commented on #108668
/sig cli

`kubectl options`
- Print the list of flags inherited by all commands

[2022-03-14 04:44] kerthcet commented on #104984
/remove-lifecycle stale

[2022-03-14 05:15] s-kawamura-w664 opened #108678 ""kubectl logs --follow" has not printed new logs after log rotation."
### What happened?

When running `kubectl logs pod-name --follow`, new logs are not output to the logs command after the log file has grown and rotated.

### What did you expect to happen?

Even after log rotation, new logs are output to `kubectl logs pod-name --follow`.

### How can we reproduce it (as minimally and precisely as possible)?

The following steps will reproduce it.

1. Deploy a Pod

[2022-03-14 05:18] s-kawamura-w664 commented on #108678
/sig node

[2022-03-14 05:19] s-kawamura-w664 commented on #108678
/assign

[2022-03-14 05:25] esiperu-est commented on #108658
Hello Lars,

There is one point which was missed to mention, kubelet shall be configured with **--cloud-provider=external**.  With this flag set, we observe the failure in communication

[2022-03-14 05:44] uablrek commented on #108658
Then this is not a K8s bug. My guess is that the cloud-provider doesn't set the node-ip's correct, or that the address you specify to kubelet is not a node-ip.

[2022-03-14 06:02] robinchia commented on #108579
I'm sorry that it is /proc/modules, not /proc/module.
If I compile kernel when the kernel's config is CONFIG_MODULES = Y, so the /proc/modules will not exist.

[2022-03-14 06:06] adyanth commented on #108374
Where can I look at logs for this since it is not provisioned using a storageClass? Looks like the host might not be able to read the subPath, but the container can.

[2022-03-14 07:19] limhawjia commented on #108556
Hi @logicalhan, do you have any thoughts on this?

[2022-03-14 07:29] mengjiao-liu commented on #97355
/reopen

[2022-03-14 07:34] mengjiao-liu commented on #97355
/remove-lifecycle rotten

[2022-03-14 07:35] mengjiao-liu commented on #97355
/area test

[2022-03-14 07:39] yuyue9284 opened #108681 "Mount points not propagated as expected when using subpath."
### What happened?

We performed mount in shared emptyDir volume subpath in one container, and read the data through the same mounted subpath in another container. And the container failed to read the data under the mount point occasionally.

After some investigation, I thought this may be caused by the bind options used during the kubelet preparation the subpath. It use `bind` instead  of `rbind`

[2022-03-14 08:22] aojea commented on #108658
seems a duplicate of this https://github.com/kubernetes/kubernetes/issues/107743

[2022-03-14 08:30] uablrek commented on #108658
Similar but in https://github.com/kubernetes/kubernetes/issues/107743 `exec` worked, right?

That makes is a harder problem. This issue seem to be a bug in the cloud-provider.

[2022-03-14 08:33] aojea commented on #108658
yeah, I was hoping we can find the pattern , seems neither both of use was able to reproduce it :shrug:

[2022-03-14 08:42] Riaankl opened #108683 "Job for logs/ci-audit-kind-conformance is failing"
We have notice that the job for logs/ci-audit-kind-conformance have constantly been failing since 8 March 2022. We noticed it because the job result is used to feed APIsnoop app and web page.
Log state:
[code]
/sig testing
/area conformance

[2022-03-14 08:43] Riaankl commented on #108683
/assign @aojea @dims

[2022-03-14 08:46] Riaankl commented on #108683
From [Slack converstion](https://kubernetes.slack.com/archives/C09QZ4DQB/p1647244835167439?thread_ts=1647220889.753239&cid=C09QZ4DQB):
[code]
The script to install the cluster is using [audit.k8s.io/v1beta1](http://audit.k8s.io/v1beta1) and it has been deprecated https://github.com/kubernetes/kubernetes/pull/108092

"I think you just have to switch to v1 here https://github.com/ii/kind/blob/616249

[2022-03-14 08:48] Riaankl commented on #108683
/cc @zachmandeville

[2022-03-14 09:11] esiperu-est commented on #108658
may be (?). cloud-provider setting ipv4 address first and ipv6 address (which is being used on node's INTERNAL-IP).
During "kubectl exec command execution", kube-api takes first ip address from the LIST of INTERNAL-IP's. kube-api gets ipv4 address, and tries to connect using ipv4-address. Whereas kubelet is configured to listen on ipv6-INTERNAL-IP.

Is there such possibility.
(from the initial loo

[2022-03-14 09:14] aojea commented on #108658
the cloud providers are not consistent on IP assignment to nodes, it seems they are fixing it here
https://github.com/kubernetes/kubernetes/pull/107750

maybe related?

[2022-03-14 09:21] uablrek commented on #108658
Nah, I don't think the order matter in this case. In my cluster;
[code]
IPv4 is before IPv6 in both `--node-ip` and in status for the node and it still works.

[2022-03-14 09:25] esiperu-est commented on #108658
In our scenario, I see --node-ip:<ipv6 address>. There isn't ipv4-address provided.
In our scenario, even metric-server unable to communicate with kubelet.

PFA snippet.
![image](https://user-images.githubusercontent.com/98801879/158142843-46c4968e-6803-421e-9969-5b8691abb279.png)

(may be not, from initial look.. taking a deeper look at code)

[2022-03-14 09:27] uablrek commented on #108658
From the "ps" above `--node-ip=192.168.1.2,1000::1:192.168.1.2`. "192.168.1.2" is ipv4

[2022-03-14 09:34] kkkkun commented on #108630
It seems to delete object which created by `run` command.
https://github.com/kkkkun/kubernetes/blob/0e697e19ac9f73e2efa0e60157730ba8731e3847/staging/src/k8s.io/kubectl/pkg/cmd/run/run.go#L447

[2022-03-14 09:40] esiperu-est commented on #108658
One more observation:
If we configure metric-server with :  "--kubelet-preferred-address-types" with HOSTNAME only ; **kubectl exec/log** works fine (o	--kubelet-preferred-address-types=Hostname).

[2022-03-14 10:46] #105698 closed

[2022-03-14 10:47] xhejtman commented on #108674
It is already set to false as default. Perhaps should I try opposite, i.e., set to true?

[2022-03-14 11:38] uablrek commented on #108658
Then this is not a K8s bug. My guess is that the cloud-provider doesn't set the node-ip's correct, or that the address you specify to kubelet is not a node-ip?

[2022-03-14 12:25] lsc615 opened #108687 "About kubelet.go:2267 node "" not found problem for help"
### What happened?

The cluster has been running for a while, and suddenly found that some nodes show the NotReady status, which cannot be restored to normal. I tried to restart the kubelet, but it could not be solved.

### In the master aaaaaaa69
kubectl get node
NAME          STATUS     ROLES    AGE   VERSION
aaaaaaa69   Ready      master   80d   v1.16.9
aaaaaaa82   Ready      master   80d   v1.

[2022-03-14 12:37] lsc615 commented on #108687
/sig node

[2022-03-14 12:37] esiperu-est commented on #108658
Here is output which shows cloud provided assigned ipv6address (if I am not wrong):
--
eccd@worker-pool1-f0a48xt3-santosh-eisnans-stack01:~> ss -a | grep 10250
**tcp LISTEN 0 4096 [dead::2]:10250 [::]:***
============================================
eccd@worker-pool1-f0a48xt3-santosh-eisnans-stack01:~> ps -lef | grep kubelet
4 S root 6458 6327 0 80 0 - 179194 - Feb22 ? 00:00:50 /csi-node-driver-re

[2022-03-14 12:53] yangjunmyfm192085 commented on #108687
Node notready generally means that the kubelet does not report the status or the node conditions are not satisfied. Could you  check whether the kubelet can access the apiserver, and check whether there are other error records in the kubelet logs?

[2022-03-14 12:55] Shubham82 commented on #108604
Hi @eddiezane
PTAL!

[2022-03-14 12:58] pohly opened #108688 "client-go: emit warnings for caller of client-go, not client-go itself"
### What would you like to be added?

When client-go warns about something, for example a deprecated API, the source code location is warnings.go, the file which calls klog.Warn:
[code]

The corresponding backtrace is:
[code]

It would be nicer if that source code location was the caller of client-go.

### Why is this needed?

Application developers then get a hint about which code they need to ch

[2022-03-14 12:58] pohly commented on #108688
/sig instrumentation

[2022-03-14 13:10] uablrek commented on #108658
Looks like `kubelet` is doing the right thing, it uses the address `dead::2` as it's told. `dead::2` _may_ be a ligit ipv6 address but it looks to me that someone is trying to tell us that something is wrong.

Again, this does not seem to be a K8s problem. Please try to get help from openstack.

[2022-03-14 13:25] esiperu-est commented on #108658
sure, will try to check with openstack team (by collecting more logs). If you have any clues/suggestions, related to : set of commands which can be used for debugging openstack, will start from there and go forward..

One more info, if you can share output of "describe node <node-name>" will try to see the difference between them .. to understand the difference in NodeIp population...

[2022-03-14 13:33] uablrek commented on #108658
It's [here](https://github.com/kubernetes/kubernetes/issues/108658#issuecomment-1066552953). Just in json format.

[2022-03-14 13:36] #108675 closed

[2022-03-14 14:04] pacoxu commented on #108681
/sig storage
/cc @mengjiao-liu

[2022-03-14 14:05] pacoxu commented on #108677
/sig apps
/area workload-api/cronjob

[2022-03-14 14:07] jnummelin opened #108689 "`pod.status.containerStatuses.imageID` not 100% accurate"
### What happened?

When running multi architecture apps the `pod.status.containerStatuses.imageID` might be bit misleading.

For example when running a pod with `docker.io/nginx:1-alpine` image, the pod status show the following:
[code]

This corresponds to the images digest:
[code]

How ever as this specific image is a multi-arch image, it would be helpfull* to know which actual manifest/image i

[2022-03-14 14:22] endocrimes commented on #102782
Sadly, still an issue. (I've been thinking off-and-on about doing a bigger refactor that I hope to get to in the next few weeks that should help fix the storage tests for good)

[2022-03-14 15:50] logicalhan commented on #108556
/triage accepted

[2022-03-14 16:34] #89290 closed

[2022-03-14 17:04] alculquicondor commented on #108689
/sig node

[2022-03-14 17:49] jsturtevant commented on #107561
@deepgupt4 this issue is specific for tracking the bug on Windows.  from your output it looks like this is occurring on Linux (looks like the logs are from the control plane nodes).  There was a fix for linux here: https://github.com/containerd/containerd/issues/4604#issuecomment-1027293621.  You are on an older version of containerd (1.4), I would suggest upgrading to a newer version as the backp

[2022-03-14 18:04] Riaankl commented on #108683
/triage accepted

[2022-03-14 18:10] Zheaoli commented on #108681
/assign

[2022-03-14 18:34] afbjorklund commented on #106917
Looks like "kubenet" is still available in cri-dockerd, maybe spoke too soon after reading those other issues...

Perhaps it wouldn't be a bad idea to start using CNI anyway, and use a "bridge" example like those other CR ?

[2022-03-14 18:36] Zheaoli commented on #108681
related https://github.com/kubernetes/kubernetes/issues/106994

I don't think supporting the ‘rbind’ would be a great idea.

Thinking about the following steps

1. We got two containers, A and B, in the same pod
2. We got a local PV shared with A and B
3. The user mount rbind a directory in A to the local PV
4. This means that people can access some of the internal directories in A from B

I think

[2022-03-14 19:07] liyimeng commented on #108364
Any more ideas @giuseppe

[2022-03-14 19:20] epochsupport commented on #90077
HI Team,

I want to route the request to external Load balancer of 3rd party vendor from the ingress/Service, Could you help on that

[2022-03-14 19:38] dem4gus commented on #90077
I'm not a member of the Kubernetes team so I obviously can't speak for them, but I don't think this issue is an appropriate place to be requesting support like that. You can refer to the Kubernetes documentation and the documentation for your 3rd party vendor if you need more help.

https://kubernetes.io/docs/concepts/services-networking/

[2022-03-14 19:55] zohebs341 commented on #108668
@pacoxu In kubectl edit sts --help

I don't see, "-n" tag with example.

If i hit command, kubectl edit sts -n randomstsname -n namespace

Its creating a file with all available statefulsets in that namespace. I mean to say, it is not considering "randomstsname"

[2022-03-14 21:45] jiahuif commented on #107543
@jlsong01 Thanks for pinging. Sorry for letting this fall of my radar. Please go ahead and send a PR. I will be more than happy to review it.

[2022-03-14 21:46] jiahuif commented on #107543
Meanwhile, could you paste KCM log with verbose level set to 4? You can add `--v=4`, default is `--v=2`

[2022-03-14 22:34] wedaly commented on #108525
I realized that the "BridgeInterfaceName" mode might be hard to validate in kind, since it doesn't seem to be creating a bridge interface. We can still validate the other modes though -- NodeCIDR and InterfacePrefix (with prefix "veth") both work.

[2022-03-14 23:24] #108285 closed

[2022-03-14 23:43] Riaankl commented on #108683
![image](https://user-images.githubusercontent.com/61125752/158278582-5eeb1357-302e-47bb-aef9-c87474ad5a43.png)
Problem solved.
Thank you @aojea

[2022-03-14 23:43] #108683 closed

[2022-03-14 23:44] s-kawamura-w664 commented on #108678
I have investigated this issue.
I found that when the problem occurs, it always goes through the same place and then there is a problem.

https://github.com/kubernetes/kubernetes/blob/897f2f78a5c7ff659dfce23f53dd36b9261a23c9/pkg/kubelet/kuberuntime/logs/logs.go#L351-L365

When a log file is renamed by rotation, `recreated` becomes true, but immediately after the renaming, `os.Open(path)` will resu

[2022-03-15 00:10] ritpanjw commented on #100313
@andrewsykim should we close this PR then ?

[2022-03-15 00:13] ritpanjw commented on #105019
Hi 👋 . Checking in from bug triage for 1.24, there is no activity on this PR from last 2-3 weeks,  Should we be tracking progress on this issue for 1.24 release?

[2022-03-15 00:14] ritpanjw commented on #68397
@krmayankk Hi 👋 . Checking in from bug triage for 1.24, is the task complete or still small changes are pending ?

[2022-03-15 00:20] jsalatiel commented on #47202
any updates on this ?

[2022-03-15 00:57] pacoxu commented on #108668
[code]
Take care of the last line above for running `kubectl edit sts --help`.

[code]

For duplicate flags, the second one will override the first one.

[2022-03-15 00:57] pacoxu commented on #108668
/kind support
/remove-kind bug
since this is not like to be a bug.

[2022-03-15 01:40] yuyue9284 commented on #108681
Got it, thanks, is there some documentation about the subpath constraints?

[2022-03-15 02:17] pacoxu commented on #105019
We are waiting on tests to be fixed before we merge the PR. It may have a little risk since the code freeze will come in two weeks.

[2022-03-15 03:03] houjun41544 commented on #108665
Close this issue as #96582 has fixed it.

[2022-03-15 03:03] #108665 closed

[2022-03-15 03:09] limhawjia commented on #108556
@logicalhan thanks for the feedback!

Yes, we understand that such a metric will be difficult to implement, and would require some sort of coordination between distributed components.

We came up with a preliminary idea on how we might measure this metric, and were wondering if you could provide us some feedback on it as well.

First, we add a `lastUpdated` timestamp to each object in the form of

[2022-03-15 03:43] V0idk opened #108700 "Pod Pending, invalid capacity 0 on image filesystem"
### What happened?

Pod Pending

[code]

### What did you expect to happen?

Pod Running

### How can we reproduce it (as minimally and precisely as possible)?

https://github.com/kelseyhightower/kubernetes-the-hard-way

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[code]

</details>

### Cloud provider

<details>

</details>

### OS version

<details>

[co

[2022-03-15 03:54] lsc615 commented on #108687
OK, I try

[2022-03-15 05:08] #108504 closed

[2022-03-15 06:17] pacoxu commented on #108700
/sig node
/cc @jackfrancis

[2022-03-15 06:36] DenisScherbakov commented on #108523
Hello guys,
I'm joining to this discusstion quiet late. I was involved into issue #70020 which was resolved by PR #74073.
We work in telecom area and widely use SCTP as well.
Iit is not clear for me what kind of a problem we introduced by flushing conntrack entries? Lack of possibility to send ABORT to peer is a problem, right?

Let me explain why we thought flushing of conntrack entries is a good

[2022-03-15 06:42] ravens commented on #108523
@DenisScherbakov the 10s was not intentional - this is an hardware eNB that has an embedded stack acting as a SCTP client I don't really control. I need to to a more controlled experiment and take a pcap at the edge of the cluster.

[2022-03-15 07:00] ringerc commented on #73986
It has been exciting to discover that k8s binaries are shipped stripped, without external debug symbols in the image, with no symbol-server and without a separate downloadable archive of debug symbols.

Debugging a binary yields

[code]

[2022-03-15 07:30] #92664 closed

[2022-03-15 08:49] aojea commented on #108523
I see the problem, so SCTP in the wild doesn't behave as TCP , that means the hypothesis based on the academic definition of stateful and stateless protocols will break the actual SCTP users ...
but still seems to be scenarios that people will benefit of being able to choose between shutdown connections on close, there were several request to implement that on TCP too for typical active/passive de

[2022-03-15 09:41] PrasadG193 commented on #107218
/assign @PrasadG193

[2022-03-15 11:03] mengjiao-liu commented on #108677
This is the yaml I use:
[code]
 I used `kind` to run the k8s `1.21.10` version on the `MacOS` environment without reproducing this issue, `ttlSecondsAfterFinished` cleans up the job as expected (because `kind` does not have `kindest/nod:1.21.9` image, but k8s `1.21.9` to `1.21.10` does not have `ttlSecondsAfterFinished` this some code changes should not affect).
[code]

I tested this problem in k8

[2022-03-15 11:26] thamaraiselvam opened #108703 "Retry cronjob after specific time interval"
### What happened?

I am trying to retry failed cron job after specific time interval rather than immediate retry, Is there way to do it?

### What did you expect to happen?

I could not find anything related to this on Kubernetes documentation

### How can we reproduce it (as minimally and precisely as possible)?

NA

### Anything else we need to know?

NA

### Kubernetes version

<details>

[cod

[2022-03-15 11:41] denissabramovs commented on #60538
Still hitting deadlock in v1.7.1

[2022-03-15 11:53] #108687 closed

[2022-03-15 11:53] lsc615 commented on #108687
@yangjunmyfm192085 thanks

[2022-03-15 11:56] MadhavJivrajani commented on #108703
/sig apps

[2022-03-15 12:27] felixhuettner commented on #91444
/remove-lifecycle stale

[2022-03-15 13:12] #108656 closed

[2022-03-15 13:17] V0idk commented on #108700
sche not working

[2022-03-15 13:40] ahg-g commented on #108606
@wojtek-t the optimization is merged, it should significantly improve DS scheduling throughput and latency, are you able to run the scale tests again from head?

[2022-03-15 14:42] MKruger777 commented on #96459
I had exactly the same issue. Followed the steps listed above and it solved my issue. Thanks @petr-motejlek , much appreciated!

[2022-03-15 14:54] oliver-subskribe opened #108706 "kubectl auth can-i is inconsistent and confusing for exec"
### What happened?

I want to check of a group I reference in a role-binding I created in current namespace can exec into pods, namely I want to confirm that users in group `my-group` can use `kubectl exec`.

The following, based on specifying the command I want to use rather than the API equivalent, did not work:
[code]

I find out I need the individual verbs of the API, not the kubectl command I

[2022-03-15 14:58] oliver-subskribe commented on #108706
/sig cli
/sig usability

[2022-03-15 15:12] alculquicondor opened #108707 "Data race in pkg/kubelet/nodeshutdown test"
### Which jobs are flaking?

pull-kubernetes-unit

### Which tests are flaking?

k8s.io/kubernetes/pkg/kubelet/nodeshutdown

### Since when has it been flaking?

Not sure, just saw it today

### Testgrid link

_No response_

### Reason for failure (if possible)

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/108705/pull-kubernetes-unit/1503733519241711616

[code]

### Anything else we

[2022-03-15 15:12] alculquicondor commented on #108707
@smarterclayton @bobbypage

[2022-03-15 15:13] ialidzhikov commented on #106894
I hope that this issue should be fixed with `cluster-autoscaler@v1.23` when you specify CSI migration related feature flags to the cluster-autoscaler. For more details you can check https://github.com/kubernetes/autoscaler/pull/4539.

[2022-03-15 15:20] teiclap commented on #108523
In SCTP the graceful shutdown is not ABORT.
From SCTP perspective it's much better not to try to do any graceful operation.

[2022-03-15 15:29] aojea commented on #108523
@teiclap  can you please elaborate?
I can see in the RFC that the protocols support both shutdown modes https://datatracker.ietf.org/doc/html/rfc4960#section-3.3.7

We should explain the reasons, and this also will benefit to educate people without experience in this protocol (like me :) )

[2022-03-15 15:55] teiclap commented on #108523
A graceful shutdown is meant not to loose any data, this is accomplished in SCTP by means of SHUTDOWN procedure. ABORT doesn't guarantee that data is flushed.
Let's try and see what happens when you remove a SCTP service is some different modes:
1. SCTP server crashes. The remote peer will notice it by exploting the retransmission counter, when expired the peer will drop the association itself. Si

[2022-03-15 16:12] rittneje opened #108708 "inconsistent behavior between client- and server-side apply"
### What happened?

I reordered the list of environment variables in a Deployment spec.

With regular `kubectl apply`, this causes the Deployment to change.

With `kubectl apply --server-side`, this does not cause the Deployment to change.

### What did you expect to happen?

I expect client- and server-side apply to work the same.

### How can we reproduce it (as minimally and precisely as possib

[2022-03-15 16:38] zfrhv opened #108709 "Add namespaces hierarchy"
### What would you like to be added?

Be able to create sub namespaces inside a namespace.
just as creating subdirectories inside a directory.

### Why is this needed?

- Being able to manage quotas:
  - lets say we have a big client, and they have a lot of small teams.
    I can give quota with resources as much as they paid for, and they can decide for their own to manage their resources for the

[2022-03-15 16:39] jlsong01 commented on #108707
/assign
I would like to take a try

[2022-03-15 16:42] zfrhv commented on #108709
/sig Security
/sig Usability

[2022-03-15 18:05] marosset opened #108711 "[Flakey Test] capz-windows-containerd-master ~ various tests ~ httpd timeouts"
### Which jobs are flaking?

We are seeing a various test flakes in https://testgrid.k8s.io/sig-windows-signal#capz-windows-containerd-master where Windows pods encountering errors making calls to httpd pods.

### Which tests are flaking?

We have seen these flakes in the following tests:
- [sig-node] Container Lifecycle Hook when create a pod with lifecycle hook should execute prestop exec hook p

[2022-03-15 18:05] marosset commented on #108711
/cc @ravisantoshgudimetla @jsturtevant @claudiubelu

[2022-03-15 18:45] mdbooth commented on #108658
@esiperu-est If you are able to test with #107750 applied I'd be interested to know if it resolves your issue. I suspect it will.

[2022-03-15 18:46] neolit123 commented on #108633
/sig auth

[2022-03-15 19:25] esiperu-est commented on #108658
I will not be able to give feedback soon, as the issue is observed in customer deployment (which I dont have direct access and it requires cloud-provider like openstack)

[2022-03-15 20:01] ialidzhikov commented on #108709
@zfrhv you can check the following project https://github.com/kubernetes-sigs/hierarchical-namespaces.

[2022-03-15 20:28] invidian commented on #106962
/remove-lifecycle stale

[2022-03-15 20:58] zfrhv commented on #108709
well, looks great
we will try it out. thanks !

[2022-03-15 20:58] #108709 closed

[2022-03-15 21:29] dims commented on #105953
closing as WONTFIX

[2022-03-15 21:29] #105953 closed

[2022-03-15 21:40] aojea commented on #108707
The tests that use klog are racy

https://github.com/kubernetes/kubernetes/pull/108553

[2022-03-15 22:49] Neraud commented on #106957
I've produced the same issue on my clusters.

I'm running Debian 11 on bare metal (homelab) and in VM (test).
My clusters are installed using kubeadm, and I'm using multus and calico as CNI.

The issue is triggered as soon as a pod is removed.
I've triggered it by deleting a simple Pod, scaling down a Deployment, or running a CronJob.
On the node where the pod was removed, the logs are then floode

[2022-03-15 22:51] bobbypage commented on #106957
Is this only issue with CRI-O? What about containerd? The reports above seem to all be on CRI-O?

/cc @haircommander

[2022-03-15 23:39] SergeyKanzhelev commented on #96524
/reopen
/remove-lifecycle rotten

[2022-03-16 00:23] lauralorenz opened #108715 "[Failing test] gce-cos-master-scalability-100"
### Which jobs are failing?
release-master-blocking

[gce-cos-master-scalability-100](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-scalability-100)

### Which tests are failing?

kubetest.ClusterLoaderV2
ci-kubernetes-e2e-gci-gce-scalability.Overall
ClusterLoaderV2.load: [step: 19] Collecting pod startup latency
ClusterLoaderV2.load overall (testing/load/config.yaml)
(intermi

[2022-03-16 00:25] lauralorenz commented on #108715
/sig scalability

[2022-03-16 00:39] lauralorenz commented on #108715
Am I crazy or is this robot not working?

/sig scalability

[2022-03-16 01:20] jlsong01 commented on #108707
/unassign
as another two fix prs are already in progress

[2022-03-16 02:36] ringerc commented on #73986
I've raised an enhancement proposal https://github.com/golang/go/issues/51692 for `go tool link` (`cmd/link`) to add first-class support for external debuginfo archive generation. That would be consistent with the usual golang approach of minimising external build dependencies and using only the golang toolchain itself for builds.

However it's already possible to generate detached debuginfo and s

[2022-03-16 03:33] V0idk opened #108718 "Ping pod IP from other node reject, Chain FORWARD (policy DROP 22 packets, 1848 bytes)"
### What happened?

https://github.com/kelseyhightower/kubernetes-the-hard-way/issues/697

[code]

### What did you expect to happen?

ping success

### How can we reproduce it (as minimally and precisely as possible)?

https://github.com/kelseyhightower/kubernetes-the-hard-way/issues/697

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[code]

</details>

###