[2019-06-11 01:17] #72799 closed

[2019-06-11 01:21] timyinshi commented on #78847
@pswica thanks,The problem was resolved when rsync was installed

[2019-06-11 01:36] liggitt commented on #78633
agreed. for the moment, I updated the fixtures for our workloads used in the upgrade tests to ones that would have triggered this

[2019-06-11 01:51] Pingan2017 commented on #78879
/assign
/sig cli

[2019-06-11 02:07] kbruner commented on #67662
Also seeing this in 1.12 on GKE (1.12.8-gke.6).

[2019-06-11 02:22] draveness commented on #78846
/sig autoscheduling

[2019-06-11 02:23] draveness commented on #78846
/sig autoscaling

[2019-06-11 02:23] draveness commented on #78840
/sig apps

[2019-06-11 03:12] xuemzhan commented on #52757
It's a useful and fantastic feature, marks for tracing.

[2019-06-11 03:12] dcbw commented on #77130
@chenchix any response for the questions in https://github.com/kubernetes/kubernetes/issues/77130#issuecomment-489089194 ?

[2019-06-11 03:19] chinglinwen commented on #66528
same issue here for kubernetes v1.14.1

[2019-06-11 03:58] zhiweiv commented on #78857
There is a PR Implement port forwarding for windows https://github.com/kubernetes/kubernetes/pull/75479.

[2019-06-11 04:01] xulis commented on #12964
I created the Endpoints and  Services,it worked well for a while,But not long after, Endpoints lost subsets:
[code]
Before things happen
[code]
After the incident
[code]

why...

[2019-06-11 04:03] leeren opened #78890 "Applying DaemonSet configurations with `change-cause` annotations results in blank `CHANGE-CAUSE` descriptions reflected in rollout history"
**What happened**:
Manually adding `spec.template.metadata.annotations.kubernetes.io/change-cause` to a `kind:DaemonSet` manifest and subsequently applying the configuration changes failed to show the `CHANGE-CAUSE` description in the DaemonSet's rollout history.

Relevant contents of the `DaemonSet` configuration (**test.yaml**):

    …
    metadata:
      name: test
    spec:
      template:

[2019-06-11 04:05] leeren commented on #78890
/sig cli

[2019-06-11 04:19] globervinodhn opened #78891 "Handling E2E tests using to be deprecated features like 'NodeSelector'"
**What would you like to be added**:
As per the link, https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity - NodeSelector is to be deprecated.
Extract:- "nodeSelector continues to work as usual, but will eventually be deprecated, as node affinity can express everything that nodeSelector can express."

Under this scenario, I have the following queries:-
   1

[2019-06-11 04:47] globervinodhn commented on #78891
/area conformance
/sig architecture
/kind cleanup

[2019-06-11 04:51] liggitt commented on #78633
fixes opened for 1.12, 1.13, 1.14, and master

[2019-06-11 05:13] VinodKumarGoku opened #78892 "Kubectl cp command over writes the running process executable without warning"
**What happened**: While performing kubectl cp of an executable from host to a container in pod. It copied successfully and modified all the permission of the existing file. The running process crashed.

**What you expected to happen**: kubectl cp should not perform direct copy of running executable files in usage from some other process. Instead it should report error for the same.

**How to repr

[2019-06-11 05:49] praseodym commented on #77787
I'd change that to

to be a little more complete.

[2019-06-11 05:59] dlevene1 commented on #70324
So, we're also having this problem and via another post there's an inotify_watcher.sh script

[code]

Output of a system which experiencing this issue is...
[code]

So something in kubelet is watching a lot of files.. almost 72k to be exact!

A comparison from another host which is behaving - its < 1 k
[code]

[2019-06-11 06:04] feiskyer opened #78893 "Add HTTP headers to ACR"
**What would you like to be added**:

Add HTTP header `X-Meta-Source-Client: azure/kubelet` to ACR credential provider.

**Why is this needed**:

Refer https://github.com/Azure/acr/blob/master/docs/http-headers.md. The HTTP headers could help to identify the source client of ACR requests.

/sig azure
/kind feature
/milestone v1.16

[2019-06-11 06:40] tuminoid commented on #78854
That doesn't make any sense. Wildcard destination isn't a thing, and remote to remote is not supported at all. Also, where/what is CopyOptions#Run?

It succeeds, why wouldn't it? There is /entrypoint.sh in container, and tar will pack it up fine.

[code]

[2019-06-11 07:08] #78566 closed

[2019-06-11 07:23] #65481 closed

[2019-06-11 07:24] lbogdan opened #78895 "Excessive kube-controller-manager storage-related logging"
**What happened**:
I have a cluster with ~10000 PVs, and my `kube-controller-manager` logs are flooded with
[code]
for every PV, every 2 minutes, so a total of **10000 log lines every 2 minutes**!

**What you expected to happen**:
Logs not to be flooded.

**How to reproduce it (as minimally and precisely as possible)**:
Create 10000 PVs, watch `kube-controller-manager` logs get flooded with the me

[2019-06-11 07:24] lbogdan commented on #78895
Cc @kubernetes/sig-storage-bugs

[2019-06-11 07:31] lbogdan commented on #78895
After a quick search, it seems to be solved by https://github.com/kubernetes/kubernetes/commit/713925bf3e5cf9ecde460ec036dd6605e59a61e3, closing.

[2019-06-11 07:31] #78895 closed

[2019-06-11 07:50] embano1 commented on #77535
As per K8s API, `allowedTopologies` is of type array so that should not block you. We're working on fixing the in-tree VCP storage handling to have the user experience inline with that of the other cloud provider implementations fully supporting topology-aware volume scheduling.

[2019-06-11 07:51] mgdevstack commented on #78891
IMO,

+1 for all new e2e to use NodeAffinity instead of NodeSelector as NodeAffinity can handle broader range constraints.

+1, for upcoming release i.e. v1.6, this is definitely a candidate for promotion. There is no such clarity about the release since when `NodeSelector` would be deprecated. Once it is deprecated, respective Conformance e2e can be demoted following [Conformance Test Version Ske

[2019-06-11 08:18] devarajchidambaram opened #78896 "Kubernetes is not starting"
In windows 10 environment  minikube is not starting with existing vm.

Throwing errors.

[code]

[2019-06-11 08:20] subramanian-neelakantan commented on #77535
Please follow the fix to issues #78514 and #78841 for VCP supporting topology-aware scheduling.

[2019-06-11 08:28] AdamMichaelLong commented on #76075
I got the same error on 1.14.1, I found it was occurring specifically when the new node I was attempting to join to the cluster had a kubeadm and kubernetes-cni packages that are ahead of master kubeadm version. And perhaps why tests are passing.

This is not a solution, but some people landing here might find it useful to have a workaround and get the node back in version parity with master node.

[2019-06-11 08:29] kebyn commented on #50375
+1

[2019-06-11 09:16] #78847 closed

[2019-06-11 09:19] timyinshi opened #78897 "Build container version error"
/kind bug
/sig release

**What happened**:
I want to build a docker version of kubernetes, just do make quick-release?
When I do make quick-release, something goes wrong, can someone help me see what's going on?
make quick-release
+++ [0611 17:02:27] Verifying Prerequisites....
+++ [0611 17:02:27] Building Docker image kube-build:build-e597cac0f2-5-v1.12.1-2
+++ [0611 17:04:32] Creating data conta

[2019-06-11 09:24] smrutiranjantripathy commented on #57250
Hi ,
I enabled proxy support + externalTrafficPolicy: Cluster . The NLB endpoint responded to requests but after a while it started showing me  400 Bad Request. Enabling the proxy-support breaks the NLB.
And most surprising thing is even if it is showing 400 to Bad Request to curl , the target group shows all targets as healthy.
Any thoughts about it.

[2019-06-11 09:32] mysunshine92 opened #78898 "hostpath: Unable to mount volumes for pod: timeout expired waiting for volumes to attach or mount"
Is this a BUG REPORT or FEATURE REQUEST?:

    Uncomment only one, leave it on its own line:
/kind bug

**What happened**:
i have create a static pod which has hostpath volume, but the pod is not able to mount to those volumes. The error message thrown by the k8s is:

Unable to mount volumes for pod "iag-194.167.0.1_kube-system(5055cd2bc4b19cdcf21a841cf6e0576b)": timeout expired waiting for volume

[2019-06-11 10:39] zenglian commented on #56038
--image-repository = ？

[2019-06-11 10:41] thatreguy commented on #37086
/open

[2019-06-11 10:44] rkumar1609 commented on #78167
I had words with Qlik people they are saying its from HELM side

[2019-06-11 10:55] mysunshine92 commented on #65500
/reopen

[2019-06-11 11:13] aga20 opened #78900 "Glusterfs wrong server list in IPv6 case"
**What happened**:
We are using kubernetes with IPv6 host network. The glusterfs cluster what we are using is running on this network too (and all endpoint is created with this IPv6 address). I have these endpoints:
[code]

And the mount command from a live env ps command:

[code]

So as you can see the glusterfs mount helper script split the ipv6 addresses and keep only one (this is why the mount

[2019-06-11 11:15] aga20 commented on #78900
/sig storage

[2019-06-11 11:16] aga20 commented on #78900
@humblec

[2019-06-11 11:16] aga20 commented on #78900
If you agree with this I can fix it.

[2019-06-11 11:17] dixudx commented on #78854
/assgin

[2019-06-11 11:39] squeed commented on #75485
Thanks for looking in to this. We got away with this for so long, mostly because it took CNI two years to do a release.

[2019-06-11 11:44] timyinshi commented on #78897
I found that the method kube::build::run_build_command_ex was not executed. Does anyone know why it could not be executed?
build/common.sh line 628
  kube::build::run_build_command_ex \
    "${KUBE_RSYNC_CONTAINER_NAME}" -p 127.0.0.1:"${KUBE_RSYNC_PORT}":"${KUBE_CONTAINER_RSYNC_PORT}" -d \
    -e ALLOW_HOST="$(${IPTOOL} | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*'

[2019-06-11 11:51] mborsz commented on #78562
I made small experiment: reran 330 gce-scale-performance test (330 is first run with upgraded cos and it still uses coredns 1.3.1) with DNS_MEMORY_LIMIT=300Mi to see what is the amount of memory that coredns needs after the regression. The max usage is 180.2Mi (which is higher than default 170Mi limit causing some pods OOMing).

The coredns upgrade to 1.5.0 was reducing the memory usage to values

[2019-06-11 11:55] alejandrox1 commented on #78734
@oxddr  @krzysied any updates on this? :eyes:

[2019-06-11 12:16] seeruk commented on #67662
Just got this now on AWS (v1.12.6-eks-d69f1b):

[code]

Using Istio 1.1.7, if that helps at all. I updated some nodes and switched to a new node type, and whilst it was supposed to be bringing these pods back up, it just never did. It's only in our staging environment right now at least!

[2019-06-11 12:19] alejandrox1 opened #78901 "[Flaky Tests] Flaky reboot tests"
**Which jobs are failing**:
* ci-kubernetes-e2e-gci-gce-reboot
* ci-kubernetes-e2e-gce-cos-k8sbeta-reboot

**Which test(s) are failing**:
There are multiple reboot tests failing, such as:
* [sig-cluster-lifecycle] Reboot [Disruptive] [Feature:Reboot] each node by switching off the network interface and ensure they function upon switch on
* [sig-cluster-lifecycle] Reboot [Disruptive] [Feature:Reboo

[2019-06-11 12:22] krzysied commented on #78734
@alejandrox1 We are working on this. We haven't found the root cause yet.

I'm running bisection to find the problematic commit. Based on the current results, it looks like it is something from this range https://github.com/kubernetes/kubernetes/compare/59f0f2d2f9cf24...7929c15ec7a

[2019-06-11 12:31] neolit123 commented on #78901
/assign @justinsb
Justin, PTAL if you can or delegate to someone with knowledge of the gce-cos* jobs.
thanks.

[2019-06-11 12:37] aga20 commented on #78900
Relevant glusterfs bug:
https://bugzilla.redhat.com/show_bug.cgi?id=1719290
Please note this is only affect IPv6 case!

[2019-06-11 12:44] gaorong commented on #78633
thanks @liggitt , I have verified your patch works fine in our cluster environment.

[2019-06-11 12:51] MarkRx commented on #37086
/reopen

[2019-06-11 12:51] MarkRx commented on #37086
/remove-lifecycle rotten

[2019-06-11 12:54] cizixs commented on #78796
@tedyu It seems initialization timeout and APIServer network timeout returns the same error message. There is no way to distinct them with only error string.

[2019-06-11 13:20] gbdevw opened #78902 "Feature Request : volumeClaimTemplates available for Daemon Sets"
/reopen

/sig apps

**Feature Request :**

I would like to be able to use the volumeClaimTemplates with a Daemon Set.

**Why?**

I am using local persistent volumes on my nodes and I would like to be able to 'say' : "Hey K8S ! Schedule a pod on each node with a daemon set. For each pod, once scheduled, dynamically create a pvc to claim a local storage attached to the node the pod is scheduled on u

[2019-06-11 13:23] guillaume-braibant commented on #78902
/sig-apps-feature-requests

[2019-06-11 13:25] chrisohaver commented on #78562
Is the memory usage of CoreDNS of 1.3.1 with COS-beta consistently higher in all the scale tests (500, 2k, 5k, etc), or just the 5k test?  Is "330" test 330 nodes?

[2019-06-11 13:29] #72486 closed

[2019-06-11 13:29] #70363 closed

[2019-06-11 13:34] mborsz commented on #78562
Sorry, by 330 I meant https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/330/

We have only 100 node tests and 5000 node tests and in 100 node tests I can't see any visible increase and in 5000 node test there was a significant memory increase right after "330" build of ci-kubernetes-e2e-gce-scale-performance.

[2019-06-11 13:53] cizixs commented on #78796
Can we check if pod is created and uninitialized right after error check?

[code]

@caesarxuchao @smarterclayton

[2019-06-11 14:01] mattjmcnaughton commented on #78848
Thanks for your idea @pracucci !

To start discussion, could you share a little more about the advantages of setting `oom_score_adj` in a CPU agnostic way? Is the main benefit that you feel it makes more sense conceptually (i.e. CPU shouldn't impact a memory only concept) or are there additional benefits?

The Pod Priority point is interesting! To be sure I'm understanding, is the problem that jus

[2019-06-11 14:03] mattjmcnaughton commented on #77864
@chaudyg thanks for the additional info!

I agree with you that we should look at exposing some form of parameter giving the cluster admin control over how quickly the pods are marked `NotReady`. We could set a sensible default (perhaps even what exists now).

Curious to hear from @derekwaynecarr when he gets a second :)

[2019-06-11 14:04] ranjujohn commented on #65933
Hello @divyenpatel I was trying to setup vsphere cloud provider with K8s 1.14.1. This is a fresh cluster and the provider ID is updated as below. Default storage class is also available. I created a test PVC and it always shows pending. But on the VMware side I can see that the kubevols folder gets created in the specific datastore and the dynamic vmdk file is also created. Any help will be apprec

[2019-06-11 14:19] pracucci commented on #78848
Thanks @mattjmcnaughton for your reply.

We have several pods running critical applications for which we need low latency. On such pods we do **not** set the CPU limit in order to avoid CPU throttling (I'm aware some people disable the CFS quota entirely on clusters, but we benefit from CPU limits for very specific use cases).

Such pods with requests sets but without CPU limit set are assigned th

[2019-06-11 14:24] josiahbjorgaard commented on #77787
/assign
See PR for docs at https://github.com/kubernetes/website/pull/14820

[2019-06-11 14:32] vllry commented on #78752
Perhaps post a KEP? Removing sig-arch until there is a cross-SIG plan.

/remove-sig architecture

[2019-06-11 14:35] vllry commented on #15494
@bgrant0607 any chance on an update?

[2019-06-11 14:38] vllry commented on #14924
@thockin @deads2k @lavalamp

This issue is super old, what is still outstanding? Would be helpful to update the issue.

[2019-06-11 14:45] vllry commented on #21560
@bgrant0607 any chance of followup? This seems useful to have codified.

[2019-06-11 14:46] chrisohaver commented on #78562
Is there a way to tell in the logs/artifacts of the test you just ran if CoreDNS restarted during the test at all? Not via OOM kills but otherwise exiting and getting re-spawned?

[2019-06-11 14:47] vllry commented on #30329
/priority backlog

[2019-06-11 14:48] vllry commented on #30329
Would be good to follow up with the cloud-provider out-of-tree split and see if there's lessons to be learned.

[2019-06-11 14:48] vllry commented on #31571
/priority backlog

[2019-06-11 14:50] vllry commented on #31571
/remove-priority important-soon

[2019-06-11 14:52] vllry commented on #66859
@timothysc @spiffxp could you look at this during an upcoming conformance meeting?

/sig testing
/priority important-longterm

[2019-06-11 14:55] vllry commented on #56985
/remove-sig architecture
/priority backlog

[2019-06-11 14:56] vllry commented on #55435
Let sig-arch know if there are any ongoing/soon plans for this, otherwise we'll unwatch and pass this to the component sigs.

[2019-06-11 14:57] liggitt opened #78904 "Upgrade tests do not check pod instances and restart counts are identical for workload objects"
**What happened**:

An upgrade of only the API server should not result in pod recreations or container restarts.

Today, this can accidentally be triggered by introducing new defaults to types within PodSpec (c.f. https://github.com/kubernetes/kubernetes/pull/69988, https://github.com/kubernetes/kubernetes/issues/69445, https://github.com/kubernetes/kubernetes/issues/78633).

The workload upgrade

[2019-06-11 14:58] vllry commented on #53600
/backlog

[2019-06-11 14:58] vllry commented on #53600
/priority backlog

[2019-06-11 14:59] aermakov-zalando commented on #39113
/reopen

[2019-06-11 14:59] liggitt commented on #78904
cc @smarterclayton @mml

[2019-06-11 15:01] aermakov-zalando commented on #39113
We've just been bitten by something similar on 1.13.5. On some of the nodes, kubelet was starting the init containers (and posting the events about it), but pod statuses weren't updated at all for 3-4 minutes.

[2019-06-11 15:06] soggiest commented on #78562
Since #78551 is moved to 1.16 I'll be bumping this milestone as well
/milestone v1.16

[2019-06-11 15:15] bhack commented on #72025
Don't stale please

[2019-06-11 15:34] alejandrox1 commented on #78734
For more context on this issue, from https://github.com/kubernetes/test-infra/issues/12940 :

The problem was first noted in here https://github.com/kubernetes/test-infra/issues/11594#issuecomment-499605601 .

[2019-06-11 15:47] bjhaid commented on #40610
would folks be comfortable with kubelet having a configurable whitelist of node-labels that can be consumed by pods via the downward-api. I am constantly hitting snags that having this feature would have unblocked or prevented weird workarounds

[2019-06-11 15:59] alenkacz opened #78907 "[Flaky Tests] task-06-upgrade is failing on master-informing"
**Which jobs are failing**:
sig-release-master-informing

**Which test(s) are failing**:
task-06-upgrade

**Since when has it been failing**:
it's flaking at least since 30th of May https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-upgrade-stable-master/1134236301210423298

We don't have more history than that.

**Testgrid link**:
https://testgrid.k8s.io/sig-rel

[2019-06-11 16:02] mylesagray commented on #65933
@ranjujohn are there no logs in the `kubectl describe pvc` output?

[2019-06-11 16:07] DarrienG commented on #77216
This continues to hit with services stuck eternally in ContainerCreating. We've upgraded to the latest CoreOS and all

[code]

Killing the pod usually fixes it. Even if it reschedules on the same node. This time it did not. The only fix was restarting kubelet.

[2019-06-11 16:10] neolit123 commented on #78907
/assign

[2019-06-11 16:16] cben commented on #73692
/remove-lifecycle stale

I need to address review feedback on my PR.

[2019-06-11 16:18] andrewhowdencom commented on #40157
My knowledge of this stuff is pretty limted, but kernel seems to indicate its at least possible to get a notification when there is memory pressure in the cgroup:

See https://www.kernel.org/doc/Documentation/cgroup-v1/memory.txt

[2019-06-11 16:38] alejandrox1 commented on #78907
/milestone v1.16

[2019-06-11 16:40] errordeveloper commented on #77629
/unassign
/label help-wanted

[2019-06-11 16:42] errordeveloper commented on #77629
/cc @bboreham @murali-reddy

[2019-06-11 16:49] fejta-bot opened #78909 "pr:pull-kubernetes-integration flaked 34 times in the past week"
### Flaky Job: pr:pull-kubernetes-integration
 Flakes in the past week: **34**
 Consistency: **92.10%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| k8s.io/kubernetes/test/integration/apiserver/admissionwebhook TestWebhookReinvocationPolicy | 13 |
| k8s.io/kubernetes/test/integration/apiserver/admissionwebhook TestWebhookReinvocationPolicy/all_webhooks_reinvoked_when

[2019-06-11 16:49] bboreham commented on #77629
You seem to have had lots of things crashing.
It's hard to say what the cause is, from the information given.
Do you have any logs?  Start with the Weave Net pod and kubelet.

[2019-06-11 16:52] oxddr commented on #78734
@alejandrox1 the problem you mentioned has been mitigated using larger disk in the build cluster. At the moment we have a regression in Kubernetes itself - for a yet unknown reason apiserver is dying in the middle of density tests.

[2019-06-11 16:55] ranjujohn commented on #65933
@mylesagray Please find the screenshot below. Between I actually went through your blog too (https://blah.cloud/kubernetes/setting-up-k8s-and-the-vsphere-cloud-provider-using-kubeadm/).

![image](https://user-images.githubusercontent.com/10082696/59291073-55821d00-8c7a-11e9-992b-deabc05451b2.png)

[2019-06-11 17:19] krzysied commented on #78734
+1 I'm running manual tests that aren't using test-infra infrastructure, kubetest version remains unchanged between the runs. Some of the test passed, some failed. This regression should be unrelated to test-infra.

About the regression... Current scope of bisection is https://github.com/kubernetes/kubernetes/compare/163ef4d22c925f02f38565d2ac22b6611f82d042...5e185544421 so it's only few commits l

[2019-06-11 17:32] JnMik commented on #50375
Yup that would be nice.

[2019-06-11 17:53] roycaihw commented on #71508
/close

as it's working as expected

[2019-06-11 17:53] #71508 closed

[2019-06-11 18:30] avorima commented on #77104
@jianglingxia Hey, sorry I don't use cinder-csi-plugin as well but our csi plugin sometimes takes up to 45 seconds for attach. We fixed our timeout issues by setting the `--timeout` flag of the [external-attacher](https://github.com/kubernetes-csi/external-attacher#important-optional-arguments-that-are-highly-recommended-to-be-used). Maybe that helps

[2019-06-11 18:44] avorima commented on #76135
You don't have to use a StatefulSet according to [this document](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/container-storage-interface.md#cluster-level-deployment). I think the pros and cons of each deployment method are explained quite nicely here

[2019-06-11 18:45] yujuhong commented on #75049
@benmoss @PatrickLang do you know of a better way to handle this, or would we have to change the ACLs as the comments above suggest?

[2019-06-11 18:49] liggitt opened #78913 "TestWebhookConverter storage version wait is flaky"
**Which jobs are failing**:

pull-kubernetes-integration

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestWebhookConverter

**Which test(s) are failing**:

TestWebhookConverterWithDefaulting

/assign @sttts
/priority important-soon
/area custom-resources
/sig api-machinery
/kind flake
/milestone v1.16

[2019-06-11 18:49] liggitt commented on #78909
TestWebhookReinvocationPolicy was fixed in https://github.com/kubernetes/kubernetes/pull/78708 on 6/4 9:35PM ET, triage board shows that resolved flakes - https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestWebhookReinvocationPolicy

TestStressingCascadingDeletion was fixed in https://github.com/kubernetes/kubernetes/pull/78537 on 6/4 11:35PM ET, triage board shows that r

[2019-06-11 18:49] #78909 closed

[2019-06-11 18:50] avorima commented on #76113
If I may chime in for a user perspective opinion; I think this is good. It gives me complete control over what my topology key is supposed to look like. I'd rather not see an error or warning for "incorrect" topology key, or even worse that it's just ignored.

[2019-06-11 18:52] benmoss commented on #75049
I think we would have to use ACLs. I ultimately added these lines just to make these tests pass: https://github.com/cloudfoundry-incubator/kubo-release-windows/blob/0831c11effeafb16f56e347daa229adb10757eeb/jobs/kubelet-windows/templates/bin/kubelet_ctl.ps1.erb#L133-L138

[2019-06-11 19:24] msau42 commented on #76113
It opens up the possibility for conflicting topology keys between different drivers. Also need to consider the security implications

[2019-06-11 19:30] mbergal opened #78917 "kubelet.exe on Windows leaks process handles"
/sig windows

Kubernetes version 1.14.3

Running  just one pod, the number of open process handles increases and reaches 17090 over few hours

![image](https://user-images.githubusercontent.com/167835/59300685-6a988500-8c55-11e9-9aaf-3b45d479d1f2.png)

[2019-06-11 19:49] dcbw commented on #23864
@kempy007 Multus does work with OpenShift 3.11 though it's not quite as well integrated as with OpenShift 4.x

[2019-06-11 20:50] liggitt commented on #78633
required changes are merged for 1.15, retargeting at 1.14, will close once https://github.com/kubernetes/kubernetes/pull/78883 is merged

[2019-06-11 20:52] liggitt commented on #74375
this is not release blocking
/milestone v1.16

[2019-06-11 20:55] RochesterinNYC opened #78918 ""No resource limits." message for namespaces should be improved and made more clear."
**What would you like to be added**:

If I have a `Namespace` that has a `ResourceQuota` resource and I describe the namespace, I see that CPU and Memory limits/requests are present for the namespace, but a confusing "No resource limits." message is present at the bottom.

Ex.

[code]

I would like to see this "No resource limits." message replaced with something that makes it more clear to the us

[2019-06-11 21:00] RochesterinNYC commented on #78918
/sig cli

[2019-06-11 21:21] alejandrox1 opened #78919 "[Failing Test] DNS configMap nameserver [IPv4] Forward external name lookup should forward externalname lookup to upstream nameserver in master-blocking"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-serial

**Which test(s) are failing**:
[sig-network] DNS configMap nameserver [IPv4] Forward external name lookup should forward externalname lookup to upstream nameserver [Slow][Serial]

**Since when has it been failing**:
Failing since 6/10 at 16:58.
[k/k diff](https://github.com/kubernetes/kubernetes/compare/3a50c0069...d873167e8).
Decent ch

[2019-06-11 21:41] claurence commented on #78734
@oxddr @krzysied are either of y'all able to join our burndown call tomorrow to get some clrity on this issue and if we need a fix for 1.15?

Burndown is at 9am PT

[2019-06-11 21:45] kempy007 commented on #23864
Thanks @dcbw, I pinned it down to interface requiring promisc mode enabling.  Is OpenShift 4.x now deployable to non aws targets now, I see more providers now. :) I will eagerly try v4 tomorrow.

[2019-06-11 21:54] alejandrox1 commented on #78919
This is blocking the release
/cc @claurence

[2019-06-11 22:07] rehevkor5 commented on #29298
Relevant documentation in AWS: "Cluster VPC Considerations" https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html

If using EKS, tagging of the VPC & subnets referenced in your EKS cluster appears to be automatic. However, it may be necessary to tag additional subnets.

[2019-06-11 22:15] tallclair commented on #73275
/remove-lifecycle stale

[2019-06-11 22:18] tallclair commented on #55435
No plans to address this, but I'd like to keep it open for now. It's worth thinking about in the next evolution of PodSecurityPolicy.

[2019-06-11 22:29] jimangel commented on #78919
I noticed in the https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/1138444096910659586/build-log.txt it thinks it's testing 1.16 alpha:

[code]

[2019-06-11 22:35] rajansandeep commented on #78919
/assign

[2019-06-11 22:42] rajansandeep commented on #78919
https://github.com/kubernetes/kubernetes/pull/78920 should fix it.
Sorry for the mess-up!

[2019-06-11 22:45] oxddr commented on #78734
That's 6pm CEST - I can make it then. Hopefully we'll be able to provide more insight tomorrow.

[2019-06-11 22:51] thockin commented on #40610
Can we talk about concrete needs?  What snags are you hitting?

I have heard concrete need for topology info, which is stored as labels and is indistinguishable from other labels.  That (rightly) sets off alarms for security-conscious people.  Do we need to first-class topology?  I'm less confident in that.

The last thing we really want is another configuration knob that admins have to know about

[2019-06-11 23:04] thockin commented on #69362
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2019-06-11 23:27] yujuhong commented on #78917
You may have run into this issue: https://github.com/kubernetes/kubernetes/issues/78555
The PR to cherrypick the fix to 1.14 hasn't been merged yet. https://github.com/kubernetes/kubernetes/pull/78665

[2019-06-11 23:30] yujuhong commented on #78857
The PR has already been merged, pending moving the pause image to a repo owned by sig-windows (and maybe push an official pause image with this feature?)
/assign @benmoss

[2019-06-11 23:54] erik-stephens commented on #40610
Our use case is being able to inform elasticsearch pods about topology so that we can make sure shards get placed across failure domains (eg racks).  Currently, we have to contort ourselves through some awkward initContainers to get those details into elasticsearch configs.

[2019-06-11 23:58] yujuhong commented on #60338
@feiskyer is there anything left to do for this bug?

[2019-06-12 00:00] devaips commented on #78831
Relevant PR: https://github.com/kubernetes/kubernetes/pull/78331

[2019-06-12 00:07] thockin commented on #40610
ACK.  Another +1 for topology.  I am not sure the right answer.  Moving
topology to a distinct struct would make it easy to copy that info into
pods, but there's a lot of momentum around labels already, so we'd have to
do both for the indefinite future.

As far as I know, nobody is signed up to try to push that yet.

On Tue, Jun 11, 2019 at 4:55 PM Erik Stephens <notifications@github.com>
wrote:

[2019-06-12 00:19] kbruner commented on #67662
Ooooh, we're also running Istio.  (And I just saw the issue again in a different GKE cluster.)  With the automatic sidecar-injection.  Maybe an interplay problem with that admission controller.

[2019-06-12 00:20] mikedanese commented on #63732
The validation described in the issue is allowed by the spec.

https://tools.ietf.org/html/rfc2818#section-3.1

[2019-06-12 00:45] liggitt commented on #78852
restructure this to define the properties and types, then define oneOf pattern validation for a particular property:

[code]

[2019-06-12 00:51] liggitt commented on #78852
note that this structure (defining properties and types outside of oneOf/anyOf blocks) is required in 1.15 in order to take advantage of openapi schema publishing, defaulting, pruning, and will be required for all CRDs in v1. see https://github.com/kubernetes/website/blob/dev-1.15/content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions.md#specifying-a-structural-sc

[2019-06-12 00:52] bjhaid commented on #40610
Sorry for not providing an helpful case :) All my snags have all been topology related, app needs to know what region/az or datacenter it is deployed to.

Where do I get to sign up for this :) I don't mind pushing it if I get guidance

[2019-06-12 00:56] #78852 closed

[2019-06-12 00:57] liggitt commented on #74729
startup errors related to everything attempting to contact etcd indicates an error between your kube-apiserver and your etcd server

/close

[2019-06-12 00:57] #74729 closed

[2019-06-12 00:59] liggitt commented on #78724
/close

duplicate of #55045

[2019-06-12 00:59] #78724 closed

[2019-06-12 01:07] liggitt commented on #73971
closing for lack of information

/close

[2019-06-12 01:07] #73971 closed

[2019-06-12 01:10] liggitt commented on #78795
this is working as intended. adding timezone support to cronjobs was proposed in https://github.com/kubernetes/kubernetes/issues/47202 and ultimately decided against. see https://github.com/kubernetes/kubernetes/issues/47202#issuecomment-360820586

/close

[2019-06-12 01:10] #78795 closed

[2019-06-12 01:10] liggitt commented on #77651
picks are merged, closing

/close

[2019-06-12 01:10] #77651 closed

[2019-06-12 01:12] liggitt commented on #78217
for lack of additional information, closing as addressed by #74747

[2019-06-12 01:12] #78217 closed

[2019-06-12 01:13] #78919 closed

[2019-06-12 01:13] liggitt commented on #77465
fixed by https://github.com/kubernetes/kubernetes/pull/77475

/close

[2019-06-12 01:13] #77465 closed

[2019-06-12 01:26] liggitt commented on #78751
To be compliant with the CSI spec. See https://github.com/container-storage-interface/spec/blob/master/spec.md#size-limits

https://github.com/container-storage-interface/spec/pull/132

[2019-06-12 01:26] #78751 closed

[2019-06-12 01:28] liggitt commented on #72888
/close

[2019-06-12 01:28] #72888 closed

[2019-06-12 01:30] mikedanese commented on #78252
Why not just use the requestheader authenticator?

https://kubernetes.io/docs/reference/access-authn-authz/authentication/#authenticating-proxy

[2019-06-12 01:31] #73504 closed

[2019-06-12 01:32] liggitt commented on #73584
This is working as designed. Finalizers block deletion of the pod API object, not termination of the containers. You can use graceperiodseconds and prestophooks to give your containers time to shut down gracefully on termination.

[2019-06-12 01:32] #73584 closed

[2019-06-12 01:35] liggitt commented on #73791
@kubernetes/sig-auth-bugs

[2019-06-12 01:36] liggitt commented on #74280
in 1.14, upgraded to go1.12, multiple backend connections are opened if required

/close

[2019-06-12 01:36] #74280 closed

[2019-06-12 01:36] mikedanese commented on #20165
Ref https://github.com/kubernetes/enhancements/pull/704

[2019-06-12 01:38] liggitt commented on #74689
This is working as designed. If the node is removed and reported as missing from the cloud provider, the pods will be moved to a new node. A powered-off node could power back on at any moment, so the pods are left on that node to ensure they are never started in two places at once.

/close

[2019-06-12 01:39] #74689 closed

[2019-06-12 01:39] #70925 closed

[2019-06-12 01:39] liggitt commented on #75212
/lifecycle frozen

[2019-06-12 01:44] mikedanese commented on #73791
This is probably fixed by https://github.com/kubernetes/kubernetes/pull/71757

[2019-06-12 01:45] liggitt commented on #74838
godep restore is gone. long live godep.

the replacement explicitly requires jq as one of the first steps in the script

/clsoe

[2019-06-12 01:45] draveness commented on #78830
/assign

[2019-06-12 01:49] draveness commented on #78831
/assign

[2019-06-12 01:52] liggitt commented on #76703
/close
duplicate of #75980

[2019-06-12 01:52] #76703 closed

[2019-06-12 01:55] liggitt commented on #77983
fixed in #78018

/close

[2019-06-12 01:55] #77983 closed

[2019-06-12 02:09] draveness commented on #78832
/assign

[2019-06-12 02:12] liggitt commented on #68717
closing due to lack of additional info, and the suggested resolution in https://github.com/kubernetes/kubernetes/issues/68717#issuecomment-454224801

/close

[2019-06-12 02:12] #68717 closed

[2019-06-12 02:15] liggitt commented on #68227
closing as a duplicate of https://github.com/kubernetes/kubernetes/issues/59113

/close

[2019-06-12 02:15] #68227 closed

[2019-06-12 02:18] liggitt commented on #70685
Please see the instructions for enabling the feature in both the API server and controller manager, and for specifying the options in your API objects to make use of the feature.

/close

[2019-06-12 02:19] #70685 closed

[2019-06-12 02:22] mbergal commented on #78917
Seems like it is in v1.15.0-rc.1, I will try that I think

[2019-06-12 02:35] liggitt commented on #66401
cc @kubernetes/sig-cli-bugs

[2019-06-12 02:46] Pingan2017 commented on #78898
/sig storage

[2019-06-12 02:58] mbergal opened #78925 "Running kubelet.exe v1.15.0-rc1 w/o parameters produces error invalid configuration CgroupsPerQOS"
/sig windows

[code]

[2019-06-12 03:43] JK-97 opened #78926 "ping my nameserver 10.96.0.10 fail"
i use to this command deploy my k8s.
` kubeadm init --pod-network-cidr=10.244.0.0/16`
and i want to deploy kubeflow on k8s.
but my problem is : pod   in kubeflow namespeaces can not DNS，but can ping succes public network ip.
i use this comand to see the dns server:
`cat /etc/resolv.conf `
**nameserver 10.96.0.10
search kubeflow.svc.cluster.local svc.cluster.local cluster.local
options ndots:5**

b

[2019-06-12 04:00] #74838 closed

[2019-06-12 04:00] thockin commented on #74838
The bug was lurking DESPITE the `require-jq` but since the rewrite it doesn't seem to trigger any more..

[2019-06-12 04:39] JainaHarshaVardan opened #78927 "kuberenetes-pods"
Hi all I create a Deployment file   Then applied file by using command "kubectl apply -f abc.yml"
after deployed that one deployment  and one pod files are created.
when I'm trying to delete deployment file  deployment as well as pod files are deleted previously ...

but when I'm trying to delete deployment . deployment file only deleting.pod is not deleting..
if I'm trying to delete pod explicitl

[2019-06-12 04:39] mkumatag commented on #78845
/cc

[2019-06-12 04:53] morriski commented on #67526
+1

[2019-06-12 05:00] liggitt commented on #78892
kubectl cp uses tar under the covers. I would be surprised if tar detected/handled that scenario the way you are requesting

[2019-06-12 05:54] dixudx commented on #78854
@tuminoid @siosphere I got a fix #78928. Please help verify. Thanks.

error: one of src or dest must be a remote file specification

I did manually test #72641. But I disabled the glob by `set -f` (this was set by .bashrc automatically). `*` gets expansion. So the command gets multiple arguments, more than expected 2.

tar: Removing leading `/' from member names
tar: /entry*.sh: Cannot stat: No su

[2019-06-12 06:25] jordanrinke commented on #70082
I am using 3.3.10 with k8s 1.14 and seeing the same issue. My SSD volume gets around 600MBps. I was able to move the etcd data dir to an NVME drive that gets around 2980MBps and everything seems to be working fine now. So there is definitely a performance issue. This is an empty k8s cluster, it certainly shouldn't need NVME speeds for that. I can reproduce this by flipping the data volume to the S

[2019-06-12 06:38] dotbalo commented on #70082
@jordanrinke The warning "took to long" may not be a problem with SSD disk performance, or it may be caused by high network latency. If it is not very frequent, it has no effect on the cluster. Before I created a new cluster, "took too long" will appear. Later, I migrated the etcd data directory to other storage, and there is no warning, just like you.

[2019-06-12 06:43] jordanrinke commented on #70082
This is all local, single node, single master, so it certainly isn't network latency. It is constant, I can't perform any service lookups it will error out saying the request took to long. Which in my case I discovered because CoreDNS was not working, because it could not list any services from kubernetes. That goes away when I move it to the NVME, move it back to the SSD and the errors start agai

[2019-06-12 07:24] timyinshi commented on #78897
Hello, I'm building kubernetes using the make quick-release command to report an error, what's the reason?

+++ [0612 15:08:56] docker command:docker
    run
    --name=kube-rsync-e597cac0f2-5-v1.12.1-2
    --user=0:0
    --hostname=inserver-inspurclouddev-392-10
    --volumes-from
    kube-build-data-e597cac0f2-5-v1.12.1-2
    -p 8730:8730
    -d
    -e ALLOW_HOST=10.221.128.98
172.17.0.1
    --e

[2019-06-12 07:56] mysunshine92 commented on #78927
/sig apps

[2019-06-12 07:58] mysunshine92 commented on #78927
kubectl delete deploy <deployment-name> -n <namespace>
use above command, you can delete deploy.

[2019-06-12 08:07] draveness commented on #78831
the `createCoreV1NamespacedPersistentVolumeClaim` is supposed to included in https://github.com/kubernetes/kubernetes/issues/78830 imo.

[2019-06-12 08:14] timyinshi opened #78930 "How do I limit the number of pids that a single pod can start"
/kind bug
/sig node
/sig apps

**What happened**:
I found a problem: a pod for the database postgres, because the daemon kept pulling up the service, took up a lot of pids until it ate up the pids on the node where the pod was, making the node unavailable
I wonder if there is any way to limit the number of pids that a single pod can start, and what needs to be done?

**What you expected to happen*

[2019-06-12 08:15] feiskyer commented on #60338
@yujuhong this is actually cleanup instead of bug. I think there're still many places needing to improve.

/kind cleanup

[2019-06-12 08:40] krzysied commented on #78734
It looks like the klog update is root cause of the issue. We are going to revert the change to fix the tests -  #78931.

[2019-06-12 08:48] #72846 closed

[2019-06-12 08:57] Pingan2017 commented on #78930
start kubelet with `--pod-max-pids`

`      --pod-max-pids int                                                                                          Set the maximum number of processes per pod.  If -1, the kubelet defaults to the node allocatable pid capacity. (default -1) (DEPRECATED: This parameter should be set via the config file specified by the Kubelet's --config flag. See https://kuberne

[2019-06-12 09:06] juv commented on #66020
/remove-lifecycle stale

fejta-bot <notifications@github.com> schrieb am Mi. 12. Juni 2019 um 07:47:

[2019-06-12 09:54] Arziel commented on #74741
Still nothing? There are lots of solved issues, but doesn't seems fixed at all.

#71772 #71796 #71975

[2019-06-12 09:57] max-rocket-internet commented on #78761
Hi @tedyu

I am using AWS EKS so the only HPA related log entries I can see are like this and nothing more:

[code]

[2019-06-12 10:15] mm4tt commented on #78845
/cc @mm4tt

[2019-06-12 10:16] CallMeFoxie opened #78933 "Endpoints without service get removed on controller leader acquire"
Hi
**What happened**:
We run a several "fake" services in our cluster -- just endpoints, **WITHOUT** the Service resource available. However when leader election for controller-manager happens the Endpoints resource is deleted.

**What you expected to happen**:
Keep the Endpoints resource.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create v1.Endpoints resource with sever

[2019-06-12 10:17] CallMeFoxie commented on #78933
/sig apps
/sig cluster-lifecycle

[2019-06-12 10:24] maolujun commented on #76531
@claudineimatos
I deliberately reproduce the problem
master node：

Jun 12 17:59:16 xbt1 systemd: Scope libcontainer-9832-systemd-test-default-dependencies.scope has no PIDs. Refusing.
Jun 12 17:59:16 xbt1 systemd: Scope libcontainer-9832-systemd-test-default-dependencies.scope has no PIDs. Refusing.
Jun 12 17:59:16 xbt1 systemd: Created slice libcontainer_9832_systemd_test_default.slice.
Jun 12 17

[2019-06-12 10:36] timyinshi commented on #78930
@Pingan2017 thanks.
another problem,what is the value of pod-max-pids,How much do I need to set?

[2019-06-12 11:04] max-rocket-internet commented on #78761
@tedyu Is there some other way I can get more debug information?

[2019-06-12 11:24] DanHam commented on #76531
@siwyd
kubelet has a 'built in' version of cAdvisor that it uses to retrieve container metrics such as CPU and memory usage. The error message comes from use of this built in version.

@pakhomov-passteam
I believe the inclusion and use of cAdvisor to provide metrics is due to be deprecated soon (in v1.15 of k8s??) and the CRI will be utilised instead. See [HERE](https://github.com/kubernetes/commu

[2019-06-12 11:37] justaugustus opened #78935 "Update top-level reviewers/approvers for k/k"
@mborsz (SIG Scalability) started a [thread](https://groups.google.com/d/topic/kubernetes-sig-scale/6V60w-ABYCw/discussion) to inquire if we had a mechanism for revert-only approvers, which as far as I know isn't something that exists today.

I haven't seen policy on graduating into the top-level OWNERS file, but as stated in the SIG Scalability charter and mentioned by @mm4tt:

So they should hav

[2019-06-12 11:38] justaugustus commented on #78935
/remove-kind bug

[2019-06-12 11:38] justaugustus commented on #78935
Happy to coordinate making the OWNERS update, btw.

[2019-06-12 11:39] tedyu commented on #78761
There are logs at higher verbosity. e.g. (not that this would be logged in your cluster)
[code]
See if you can tune up verbosity

[2019-06-12 11:47] claudineimatos commented on #76531
Hi @maolujun ,

Yes I've did it. I've recreated the cluster with Cgroup as the cgroupfs of the Master and Systemd for the Nodes but in this case, the logs stopped on Master but still happening on Nodes.
Anyway as far as I've found yet, the doc doesn't say anything about only use Systemd on the Nodes.

[2019-06-12 11:53] t-anil-kumar commented on #76995
Not sure on version 1.10.9, but on my current installation having version 1.12.4, the following works
[code]
Sample Ouput:
[code]

[2019-06-12 12:08] max-rocket-internet commented on #78761
@tedyu thanks for the suggestion but I don't think we have that option on EKS as it's K8S service: https://docs.aws.amazon.com/eks/latest/userguide/control-plane-logs.html

I guess I have to chase it up with AWS support?

[2019-06-12 12:26] smarterclayton commented on #78935
Is there some documentation about getting approval for these reverts being difficult?

Has ContribEx considered handling this with a revert bot that would respect a different group?

[2019-06-12 12:30] tuminoid commented on #78854
That was not in anyway obvious that it should get exactly two arguments. I'd even argue that kubectl should handle getting multiple sources gracefully, rather than force specific single-quote syntax to do expansion by itself.

In this case the entry*.sh is passed to kubectl for expansion as it doesn't match anything locally. It rather looks like kubectl treats it literally, instead of expanding it

[2019-06-12 12:32] holgero commented on #78252
This looks promising. What would it expect as value? The subject as it is specified in the certificate (something like "O=system:masters/CN=system:cluster-admin" ), or just the common name?

[2019-06-12 12:35] krzysied commented on #78734
I've just finished testing HEAD w/o klog update. Test passed without a problem.
It seems there is no other regressions (regarding density test).

[2019-06-12 12:40] holgero commented on #78252
My guess is, the subject needs to be parsed by the proxy and assigned to username and groupname headers, right? The proxy I have in mind is an envoy proxy and as far as I know it cannot do that at the moment. That would mean I need to bridge this gap somewhere...
Not sure if it makes more sense to teach the proxy how to separate a subject line into group and user names. Or if it is a better idea t

[2019-06-12 12:43] liggitt commented on #78935
a revert bot solution sounds ideal

[2019-06-12 12:56] smarterclayton commented on #78935
I would expect it to be more generally useful / efficient to let any approver or reviewer of a PR ask a bot to create a pre-approved revert PR within a window.  That scales much better than human approvals anyway.

[2019-06-12 13:43] jerbob92 commented on #74071
/remove-lifecycle stale

[2019-06-12 13:44] white-cloud commented on #45300
Hello @amelbakry  i tried to execute your example but it is not working . it creates only one pod passive-active-0 in a crash state ?!!!  any suggestions please.

Thank you

[2019-06-12 13:44] liggitt commented on #78252
It expects the exact username and groups in the request headers, no interpretation/transformation is performed. All authentication logic is delegated to the auth proxy.

[2019-06-12 13:54] mikedanese commented on #78252
This subject is available to filters:

https://github.com/envoyproxy/envoy/blob/ff960238f966e906d26ef0c21c89d7b52b174b9c/include/envoy/ssl/connection.h#L56-L60

So a filter is responsible for parsing the distinguished name and converting it into appropriate headers. This is hopefully straightforward to do in a lua or wasm extension.

[2019-06-12 13:55] mborsz commented on #78562
We don't collect coredns logs for periodic tests. I'm rerunning the "330" test, I will collect logs and will post them here.

[2019-06-12 13:56] Sakib37 opened #78936 "Permission to "pods/*" should work"
@kubernetes/sig-Auth-feature-requests

**What would you like to be added**:
When creating role I restrict user permission to a namespace, I tried to add "pods/*" in rules but it does not work. However, it works for services.
current working role is

[code]

expected role:

[code]
**Why is this needed**:
Accessing all sub resources with wildcard(*) is much cleaner than individually writing all subr

[2019-06-12 14:00] mattjmcnaughton commented on #78848
Gotcha gotcha. This request makes a lot of sense to me.

Do you have a high level proposal for how you'd like to see `oom_score_adj` calculated?

@kubernetes/sig-node-feature-requests I'm wondering whether a KEP is appropriate/necessary in this case?

[2019-06-12 14:04] krish7919 commented on #49387
I cannot believe this has been around for so long without a solution.

[2019-06-12 14:05] bfalese-navent commented on #73738
How can i enable autoscaling/v2beta2? i'm on kubernetes 1.13.3

[2019-06-12 14:10] mattjmcnaughton commented on #78930
You probably already saw this blog post (it was posted on slack), but linking here in case anyone looks at this issue in the future :)

https://kubernetes.io/blog/2019/04/15/process-id-limiting-for-stability-improvements-in-kubernetes-1.14/

[2019-06-12 14:12] neolit123 commented on #78907
xref the potential fixes:
https://github.com/kubernetes/kubernetes/pull/78915
https://github.com/kubernetes/kubeadm/pull/1605

[2019-06-12 14:17] mikedanese commented on #71004
Is this fixed?

[2019-06-12 14:18] #71004 closed

[2019-06-12 14:29] willzhang opened #78937 "Document search is blocked by the Great Wall Firewall?"
**what happend?**
I need to prepare for the CKA examination in the near future.But I found that I couldn't use the search function of official documents to get anything.
The serch results have always been Fetching results..,nothing get.
I had to configure shadowsocks in global mode so that VPN could proxy all requests to use the search function.
**what i want？**
can you provide a search for china?

[2019-06-12 15:01] #78937 closed

[2019-06-12 15:14] thockin commented on #78935
A bot sounds good to me - I don't know how we would enforce human "revert
only" permissions, since reverts aren't really reverts.  Maybe there's
git-fu I don't know here...

On Wed, Jun 12, 2019 at 5:57 AM Clayton Coleman <notifications@github.com>
wrote:

[2019-06-12 15:15] jsafrane opened #78940 "e2e test setup fails on Ubuntu"
**What happened**:
[A prow job](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml#L148) that uses Ubuntu image fails during Kubernetes installation:

[code]

Full log: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/68108/pull-kubernetes-e2e-gce-iscsi/1137914995519000579/

Indeed, `cluster/gce/ubuntu/node-helper.sh` is

[2019-06-12 15:16] jsafrane commented on #78940
/sig testing

[2019-06-12 15:16] jsafrane commented on #78940
@kubernetes/sig-testing

[2019-06-12 15:16] bfalese-navent commented on #73738
@damemi Could you help us down here?

Which kubernetes version has enabled autoscaling/v2beta2
Sorry to bother.

[2019-06-12 15:38] damemi commented on #73738
@bfalese-navent autoscaling/v2beta2 was introduced around 1.12 (https://v1-12.docs.kubernetes.io/docs/setup/release/notes/), so I would think it would be enabled then

[2019-06-12 15:54] mylesagray commented on #65933
@ranjujohn - are there no items in the “Events” output just under your screenshot of the command? That should list the actual failure cause.

VCP is deprecated but as are all in tree cloud providers from every vendor, it is recommended you keep using this until CSI and CCM for vsphere GA, but the depreciation notice is there as advice, it will take be removed for another few (yet to be decided) K8

[2019-06-12 15:55] #72684 closed

[2019-06-12 15:55] #72766 closed

[2019-06-12 15:56] khenidak commented on #23880
@feiskyer FYI..

[2019-06-12 16:14] kfox1111 commented on #75220
/remove-lifecycle stale

[2019-06-12 16:17] kwojcicki opened #78942 "Api-server returns error 400 cycle detected"
**What happened**:

curl call to api-server ended up returning a 400 cycle detected.

[code]

**What you expected to happen**:

I expect the http request to either provide a different location or return the expected response.

**How to reproduce it (as minimally and precisely as possible)**:

Start minikube

[code]

Create the name space

[code]

[code]
[code]

Create function

[code]
Perform curl

[2019-06-12 16:25] ranjujohn commented on #65933
@mylesagray - There are no messages or errors under the events section. What you can see in the screenshot is the whole output of describe command. Not sure why is it so. As I mentioned, volume gets created as given in the screenshot above. I will recreate the cluster tomorrow with K8s 1.14.3 and get back.

[2019-06-12 16:45] soura49 commented on #78846
We had the same issue.
all the containers in the deployment need to have the resources limits.
that fixed the issue for us

[2019-06-12 17:08] claurence commented on #78698
linking to a semi-long slack thread around a known issue in klog: https://kubernetes.slack.com/archives/C09QZTRH7/p1560358363041600

[2019-06-12 17:17] liggitt commented on #78734
hoisting [discussion from slack](https://kubernetes.slack.com/archives/C09QZTRH7/p1560358427043000) for posterity:

1. --log-file was not working properly, causing things to get logged multiple times to the same file (unknown if this issue pre-existed in glog, or if klog regressed in the <= 1.14 timeframe, but there were no --log-file related changes in klog between v1.14.0 and master as of the re

[2019-06-12 17:31] Legogris commented on #31222
This is still hitting us. Use-case: containerized application which listens on HTTP but redirects all non-encrypted HTTP requests to `https://` (using `X-Forwarded-Proto` header).

Deployment with the following probes:
[code]

As mentioned above, deploying this on GKE with an Ingress creates a GLBC and an health-check for HTTP on `/`, resulting in 502s.
I can manually change the health-check in th

[2019-06-12 17:57] #53059 closed

[2019-06-12 18:38] tallclair commented on #77789
/cc @justinsb

[2019-06-12 18:41] liggitt commented on #78252
I'm not eager to base server decisions on client certificates we have not actually verified private key possession of. Unless there are compelling reasons the request header authentication method the API server already is not sufficient, support for this feature will likely not be added.

[2019-06-12 18:47] austinmoore- opened #78945 "Multiple kops bazel jobs failing due to --experimental_remote_spawn_cache flag"
**Which jobs are failing**:
- pull-kops-bazel-build
- pull-kops-bazel-test
- pull-kops-verify-gofmt

--

**Since when has it been failing**:
- pull-kops-bazel-build - last success: 2019-06-11 18:08:03 +0000 UTC
- pull-kops-bazel-test - last success: 2019-06-11 18:08:04 +0000 UTC
- pull-kops-verify-gofmt - last success: 2019-06-11 18:08:03 +0000 UTC

**Testgrid link**:

https://testgrid.k8s.io/pres

[2019-06-12 18:49] austinmoore- commented on #78945
I noticed it with these PRs:
https://github.com/kubernetes/kops/pull/6957
https://github.com/kubernetes/kops/pull/7096
https://github.com/kubernetes/kops/pull/7139
https://github.com/kubernetes/kops/pull/7112

[2019-06-12 18:50] austinmoore- commented on #78945
/sig testing

[2019-06-12 18:51] tallclair commented on #46983
/assign @dekkagaijin

Is this already fixed?

[2019-06-12 18:53] tallclair commented on #43932
What work remains here?

[2019-06-12 18:56] dekkagaijin commented on #46983
Yup, fixed

[2019-06-12 19:00] #46983 closed

[2019-06-12 19:04] devaips commented on #78831
You're right, it was incorrect. I've changed it now. Thanks for noticing!

[2019-06-12 19:41] sanketmlad commented on #34884
Is there any plan to upgrade kubeadm so that Kubernetes cluster will handle load balancing by themselves and will kube-apiserver will not require external load balancing?

[2019-06-12 20:10] BenTheElder opened #78946 "yaml may fail to parse spuriously"
**What happened**: JSON with comments in it (IE Yaml) will be "detected" as JSON because it matches `^\s+{.*` in the first 100 bytes and be parsed as JSON even though it is valid YAML instead.

**What you expected to happen**: We should parse valid YAML as YAML. We should probably parse everything as YAML since it is a superset of JSON.

**How to reproduce it (as minimally and precisely as possibl

[2019-06-12 20:11] BenTheElder commented on #78946
/sig api-machinery

[2019-06-12 20:15] ashvindeodhar opened #78947 "Delayed call to add network interface to the container"
**What happened**:
In windows, when I create multiple pods simultaneously I see CNI ADD call to the workload container gets delayed. ( by as much as 2 mins with 10 simultaneous pod creation ).
Debugging this indicates that there is something in the kubelet waiting to set up stats before making the call to add network interface to the container.

**What you expected to happen**:
Don't expect this d

[2019-06-12 20:17] Katharine commented on #78946
For the sake of completeness, here is a valid yaml file that won't work:

[code]

This isn't valid JSON because it has a comment and trailing commas, but it is valid yaml, and should be treated as such.

[2019-06-12 20:17] ashvindeodhar commented on #78947
/sig Windows

[2019-06-12 20:19] BenTheElder commented on #78940
the nodes receive files staged via the release scripts and downloaded by the cluster/ scripts, I don't think sig testing will be the right group to fix this.

SIG node has some owners related to the various images that might have some idea how this is setup

[2019-06-12 20:20] BenTheElder commented on #78940
/sig release
this is _probably_ an issue in the release scripts

[2019-06-12 20:21] maxstr opened #78948 "Option to use ctmark instead of nfmark for marking/matching kube-proxy traffic"
**What would you like to be added**:
Right now kube-proxy marks and matches traffic bound for service VIPs with nfmark (`iptables MARK`) rules. I would like to be able to mark and match VIP traffic using ctmark(`iptables CONNMARK`) rules instead.

**Why is this needed**:
One issue with using nfmarks is that they persist through packet encapsulation for tunnel devices. This means that for traffic t

[2019-06-12 20:22] maxstr commented on #78948
/sig network

[2019-06-12 20:24] mikebrow commented on #75238
@praseodym can you confirm this is still reproducible? I added tests in containerd/cri to verify we are correctly filtering said masked readonly paths, and have not been able to reproduce your error.

[2019-06-12 20:25] FlippinBerger commented on #78946
Are there any downsides to tidying this up to all be parsed as YAML, or do we need to go in and make the GuessJSONStream a bit better at differentiating between the two? Either way I'd be willing to take a crack at this as my first issue, with a little direction, if it's still free for the taking.

[2019-06-12 20:28] justaugustus commented on #78940
cc: @kubernetes/release-managers @kubernetes/release-engineering

[2019-06-12 20:30] BenTheElder commented on #78946
This is what @smarterclayton had to say in the slack thread linked above.

...

claytonc  [1 hour ago]
they were in streaming contexts

claytonc  [1 hour ago]
did we have a streaming yaml parser?  i think there was a reason we couldn’t use it at the time

claytonc  [1 hour ago]
we need the raw yaml to pass to the deserializer for sure

claytonc  [1 hour ago]
this predates the streaming deserialize

[2019-06-12 20:35] liggitt commented on #78946
we need to be *super* sure that doesn't regress performance or correctness (some yaml-related normalization issues at https://github.com/kubernetes/kubernetes/issues/73655 and https://github.com/kubernetes-sigs/yaml/pull/14)

[2019-06-12 20:37] maxstr opened #78949 "Option to specify source NAT address for VIP traffic"
**What would you like to be added**:
Right now, depending on the service type, kube-proxy will usually mark traffic to service VIPs to hit an iptables `MASQUERADE` rule for source NAT. I would like to be able to configure kube-proxy to use an iptables `SNAT` rule instead with a specified address.

**Why is this needed**:
Similar to https://github.com/kubernetes/kubernetes/issues/78948, the use of

[2019-06-12 20:37] maxstr commented on #78949
/sig network

[2019-06-12 20:42] liggitt commented on #78845
the branch at https://github.com/liggitt/kubernetes/commits/go-1.13 allows `make all` to work using go1.13 (but not go1.12).

It fixes:
* Opting into vendor mode when using modules (required in go1.13)
* Switching away from ./vendor/foo builds to just build foo (this is what doesn't work in 1.12)
* Hacked up boilerplate locating code that was making assumptions about GOPATH that are no longer true

[2019-06-12 20:47] BenTheElder commented on #78946
performance I can see, but we don't _have_ correctness currently?

[2019-06-12 20:49] liggitt commented on #78933
This is working as designed. If you want to define endpoints persistently, create a service of the same name with an empty selector. See https://kubernetes.io/docs/concepts/services-networking/service/#services-without-selectors

https://github.com/kubernetes/kubernetes/blob/4f29960cb2058c4f556bf1e5ba49c9a29a501e70/pkg/controller/endpoint/endpoints_controller.go#L568-L596

[2019-06-12 20:49] #78933 closed

[2019-06-12 20:49] roycaihw opened #78950 "hack/local-up-cluster fails to bring up kubelet and a node"
**What happened**:

kubelet terminated unexpectedly during hack/local-up-cluster
[code]
kubelet log
[code]
as a result apiserver cannot find the node to schedule pods
[code]
**What you expected to happen**:

kubelet runs successfully and hack/local-up-cluster creates a single node cluster

**How to reproduce it (as minimally and precisely as possible)**:

run hack/local-up-cluster from HEAD

**Any

[2019-06-12 20:56] liggitt commented on #78946
There are several yaml->json helper methods, and I don't know the state of all of them w.r.t. numeric parsing (parse to float64? uint64? int?) and handling of edge cases (xref https://github.com/kubernetes-sigs/yaml/pull/14#discussion_r271939039). We just need to be sure we're not switching to something that accepts data it shouldn't or loses round-trip information.

When accepting an API request

[2019-06-12 21:03] BenTheElder commented on #78946
:+1:

To be fair, that's not happening at this layer, this layer _only_ looks at the content bytes and decides to parse based on that. If we are explicitly told it's JSON at some higher layer hopefully we aren't using this code at all.

[2019-06-12 21:06] alertedsnake commented on #45746
/remove-lifecycle stale

[2019-06-12 21:08] liggitt commented on #78936
If you want to give unrestricted access to all resources, you can grant that with `*`

Unrestricted access to all current and future subresources is misleading to reason about. Different subresources are used for different purposes. Authorizing all subresources of a resource assumes that no new subresource will ever be added that grants access to far more powerful capabilities. Granting access to

[2019-06-12 21:08] #78936 closed

[2019-06-12 21:37] liggitt commented on #73291
implemented in https://github.com/kubernetes/kubernetes/pull/78080

[2019-06-12 21:37] #73291 closed

[2019-06-12 21:42] MrHohn commented on #77135
cc @bowei

[2019-06-12 21:55] liggitt commented on #70502
cc @jpbetz for impact on admission reinvocation

[2019-06-12 21:59] liggitt commented on #62277
/assign @smarterclayton

[2019-06-12 22:02] MrHohn commented on #77134
+1, even just knowing an object is deleted but pending on finalizer removal would be very helpful.

[2019-06-12 22:18] MrHohn opened #78952 "Disallow mutating finalizing service objects"
/kind bug
/sig network

**What happened**:

Delete a Service object with a finalizer. Mutate the Service.

**What you expected to happen**:

Mutation should be disallowed?

**Anything else we need to know?**:

This is a follow-up of https://github.com/kubernetes/kubernetes/issues/77135, but scoped to Service object only.

As mentioned, we probably would want to reject changes to Service while fina

[2019-06-12 23:31] khogeland commented on #70506
looks like this was fixed by https://github.com/kubernetes/kubernetes/commit/c2fcdc818be1441dd788cae22648c04b1650d3af#diff-e057ec5b2ec27b4ba1e1a3915f715262

[2019-06-12 23:39] gugahoi commented on #49466
Not sure if this has a different solution but an example here:

- Pod has an init container that does DB migrations
- After init is successful app container starts and connects to DB
- Somehow db gets out of wack (rolled back by an external process for example)
- App container starts restarting as it is not able to run on older DB schema
- Stuck in forever restarting loop as init container is not

[2019-06-13 00:20] jingxu97 commented on #72181
ping @saad-ali for reviewing this issue and PRs for fixing it. Thanks!

[2019-06-13 00:37] qiyongxiao opened #78953 "mips64le make errors for kubelet"
##I make kubelet on linux/mips64le, i get some errors. Any one can help me?
[code]

[2019-06-13 00:38] MrHohn opened #78954 "Service Load balancer may not be cleaned up on type change"
**What happened**:
Service Load balancer may not be cleaned up on type change if below sequence happen:
1. Service type changes from `LoadBalancer` to `ClusterIP`
2. Service controller restarts/crashes before it gets a chance to process the update from 1.
3. Service controller starts up again and sees the service doesn't want load balancer, hence skips it.
4. The load balancer resource sticks arou

[2019-06-13 00:38] MrHohn commented on #78954
/sig network

[2019-06-13 00:43] timyinshi commented on #78930
@mattjmcnaughton thanks,I would like to know what value of pod-max-pids needs to be appropriate?

[2019-06-13 00:54] gyuho commented on #72102
Just discussed with gRPC team and @jingyih. We will rework on this in the next few weeks.

[2019-06-13 01:31] jxiewei commented on #76316
proxier doesn't crash, service B becomes inaccessible, because underlying hns endpoint is gone.

[2019-06-13 01:49] RainbowMango commented on #78954
@MrHohn Can i reserve this issue in advance? :) I'd like to take this issue as my first issue.

[2019-06-13 02:04] gmaghera commented on #17144
@pwittrock selectors work very well for logs, although it requires a little more typing.  The only real drawback for using selectors is the inability to also use -f or --follow in the same command.

BTW, for those waiting on this to be implemented, kubetail or stern might be worth looking at in the meantime.

[2019-06-13 02:10] fudali113 commented on #78646
the wrong is write string in yaml not need  `"` or `'`, but there must need and not this description on the document.

[2019-06-13 02:10] FengyunPan2 opened #78956 "Reschedule some pods when a new node is added into cluster"
**What would you like to be added**:
Move some pods which run on high-load node to the new node.

**Why is this needed**:
Currently I have three nodes, there are many pods running on them, their cpu usage are 60%~70% and their momery usage are 60%~70%.
\---
NodeA: ready  65%
NodeB: ready  65%
NodeC: ready  65%
\---
For unknown reasons, a node was down(ready->unready), its pods will be rebuilded. T

[2019-06-13 02:14] FengyunPan2 commented on #78956
/sig node
/area scheduler
/area kubelet

[2019-06-13 02:31] zgfh opened #78957 "es add-on: should we add memory limit?"
**What happened**:
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/es-statefulset.yaml#L75
no memory limit
**What you expected to happen**:
limit memory

[2019-06-13 02:32] zgfh commented on #78957
/sig  cluster-lifecycle

[2019-06-13 02:35] FengyunPan2 commented on #78956
I have a idea:
Add the following parameter for eviction_manager,  if a new node is added into cluster or a unready node becomes ready, eviction_manager would trigger a pod eviction when node met  thresholds
/---
--eviction-pod-to-new-node：
A set of eviction thresholds (e.g. memory.available<2.5Gi) that if met and new node is added into cluster would trigger a pod eviction.
--eviction-pod-to-new-no

[2019-06-13 02:55] FengyunPan2 commented on #78956
My detailed steps:
step1: The eviction_manager watches the cluster nodes, if there are some nodes rrom unready to ready, go to step2; if there are some new nodes was added into cluster, go to step2; others...
step2:  determine the set of thresholds we need to drive eviction behavior, (i.e. cpu usage threshold
 and memory usage threshold are met), ifmet go to step3.
step3: Get the lower priority po

[2019-06-13 02:57] cwdsuzhou commented on #77209
@jsafrane  could you help take a look?
/help-wanted

[2019-06-13 02:59] rockylee3128 commented on #75114
Hi, dims, I met the same problem, do you fix it

[2019-06-13 03:01] FengyunPan2 commented on #78956
\cc @dchen1107
\cc @dashpole
\cc @vishh
Can you give me some suggestions? Thanks.

[2019-06-13 03:02] FengyunPan2 commented on #78956
/cc @dchen1107
/cc @dashpole
/cc @vishh
Can you give me some suggestions? Thanks.

[2019-06-13 03:04] FengyunPan2 commented on #78956
BTW, it need add a parameter to enable\disable this enhancement.

[2019-06-13 03:14] Nebulazhang commented on #72181
@jingxu97
We have PR #72914 and #72665 to address this issue.
I have reviewed #72665 ,the logic of #72665  is easier to understand.
Put `RemoveVolumeFromReportAsAttached` into `verifyVolumeIsSafeToDetachAndUpdateNodeStatus` which is in `GenerateDetachVolumeFunc`.
The scope  where we can  detach volume safely is reduced. If we need add some other logics before detach in the future, should we add th

[2019-06-13 03:40] pickledrick commented on #78865
I was able to recreate this issue on a `1.13.5` cluster

For the node that was being tested an EBS volume was attached to the instance and mounted as an xfs volume to `/var/lib/docker`

The deployment with resources set had a pod scheduled to the node in question.

"Execing" into the pod and running.

[code]
Created a file larger than the set ephemeral storage limit of 500Mi. The pod was not evict

[2019-06-13 04:31] liggitt commented on #78956
xref https://github.com/kubernetes-incubator/descheduler

[2019-06-13 04:52] liggitt commented on #78942
What cycle is detected? The redirect is adding a trailing slash.

[2019-06-13 05:43] randmonkey commented on #77476
It's OK now since it does not affect the running loop of kube-proxy, and we can resolve it by upgrading to k8s 1.14.

[2019-06-13 06:10] limbuu commented on #11342
I am having same issue.I have been using kubernetes for more than a year. I recently ran into a problem i had never seen. I have stage and production cluster running in GKE. While i can access anything in stage cluster, i am having problem while using command : kubectl exec -it [podname] bash and kubectl logs -f [podname]. It says  Error from server: error dialing backend: No SSH tunnels currently

[2019-06-13 06:12] limbuu opened #78963 "Kubectl exec -it [podname] bash throws error: Error from server: error dialing backend: No SSH tunnels currently open."
I have been using kubernetes for more than a year. I recently ran into a problem i had never seen. I have stage and production cluster running in GKE. While i can access anything in stage cluster, i am having problem while using command : kubectl exec -it [podname] bash. It says  Error from server: error dialing backend: No SSH tunnels currently open. Were the targets able to accept an ssh-key for

[2019-06-13 06:17] rockylee3128 opened #78964 "kubernetes didn't work on arm64"
![image](https://user-images.githubusercontent.com/35210314/59408186-035e0a80-8de6-11e9-9117-110af12241df.png)

[2019-06-13 06:23] dixudx commented on #78854
@tuminoid In this case, the `entry*.sh` is passed to remote kubelet, where it will get expansion.

[2019-06-13 06:27] qiyongxiao opened #78965 "在mips64le平台上编译kubelet遇到一些错误，请求帮助"
/sig platform supported

 **I have several mips64le servers. I cloned the kubernetes source code and compiled it using make. When I compiled with make all, I couldn't generate the "_output" folder in the current directory. I needed to create the folder manually and the "bin folder" inside. After the creation is completed, I execute the file prompted "_output/bin/" again without permission to execu

[2019-06-13 06:39] tuminoid commented on #78854
The point here is that it didn't get expanded in remote kubelet. Doing the manual tar in container works, but not via kubectl, so nobody expanded it, but rather treated it as literal.

[2019-06-13 06:57] dixudx commented on #78854
It got expanded in the remote kubelet. The above error just proved that.
In the fix, I used another way to avoid getting expansion.

[2019-06-13 06:58] holgero commented on #78252
@mikedanese Thanks for the hint, I think we will give that option using a filter a try.

[2019-06-13 07:00] holgero commented on #78252
@liggitt Sure, I understand. That feature would need to also include a reason for trusting that header.

[2019-06-13 07:29] mborsz commented on #78562
In my test attempt, e.g. `coredns-5b969f4c88-hlccw` has OOMed:

[code]

Logs for previous pod run doesn't contain anything useful:
[code]
Full "kubectl describe pods" and kubelet logs are available here:
https://gist.github.com/mborsz/3020c369d4ca38803307b50539b1695d

[2019-06-13 08:01] feiskyer commented on #23880
@khenidak Azure already supports this by annotation `service.beta.kubernetes.io/azure-load-balancer-mixed-protocols`.  It can easily migrate to new methods after it's supported from Kubernetes spec.

[2019-06-13 08:02] FengyunPan2 commented on #78956
@liggitt Get it, thanks.
/close

[2019-06-13 08:02] #78956 closed

[2019-06-13 08:03] siwyd commented on #76531
@DanHam Thanks for the explanation. So how can I get rid of those warning messages? By running cAdvisor standalone?

[2019-06-13 08:09] Silvanoc opened #78968 "Don't install CNI plugins to /opt"
**What would you like to be added**:

Let RPM and DEB packages install CNI plugins under `/usr/lib/cni`, `/usr/lib/cni-plugins` or similar.

**Why is this needed**:

Current installation path for CNI plugins (`/opt/cni`) is not aligned with Debian and Fedora packaging best practices (even possibly policies).

In the case of *Fedora*, [previous versions](https://pagure.io/packaging-committee/blob/9

[2019-06-13 08:18] Silvanoc commented on #78968
@kubernetes/sig-release-proposals

[2019-06-13 08:23] sadeghrz opened #78969 "firewall block telnet from pods to outside of k8s"
i can't connect to my outside services from pods. i can ping outsides ips but cannot telnet our connect to any of its open ports until i turned off nodes firewall.
bit i don't want to turned off my nodes firewall. any other suggestion ?
thank you.

@kubernetes/sig-network-misc
@kubernetes/sig-vmware-misc

[2019-06-13 08:26] Silvanoc commented on #78968
BTW, other packages being provided install under `/usr/bin`. Therefore at least for the **sake of consistency**, this issue should be considered. No matter how much interest exists on being compliant with any packaging policies.

[2019-06-13 08:32] Silvanoc commented on #78968
Probable relevant source code:

For Fedora packaging: https://github.com/kubernetes/kubernetes/blob/c27444fe99f343429311717887611cf98365fdb8/build/rpms/kubernetes-cni.spec#L19

For Debian packaging: https://github.com/kubernetes/kubernetes/blob/4f29960cb2058c4f556bf1e5ba49c9a29a501e70/build/debs/BUILD#L143 and https://github.com/kubernetes/kubernetes/blob/4f29960cb2058c4f556bf1e5ba49c9a29a501e70/b

[2019-06-13 08:35] joberget opened #78970 "kubelet-wrapper crashes when upgrading from 1.12.3 to 1.13.x"
**What happened**:

We first drained the master and ran kubectl delete node master, reinstalled it and upgraded to 1.13.3. Then the problem started, kubelet-wrapper crashes, logs in the bottom. I also tried to upgrade it to 1.13.7 and it fails as well. Downgrading to 1.12.3 works fine. Is this because of 1.13 talking to 1.12 apiserver? We upgrade kubelet and api at the same time on the node.

**Wh

[2019-06-13 08:37] amouat commented on #22888
If anyone else reads this, I did partly implement this in Trow: https://github.com/ContainerSolutions/trow.

[2019-06-13 09:17] willzhang opened #78971 "change static-pod path in kubelet config the apiserver will down."
**version**
[code]
**what happend?**
when you follow the step config static-pod,
https://kubernetes.io/docs/tasks/administer-cluster/static-pod/

change the path at
[code]
change to
[code]
then restart kubelet, you will can't connect the apiserver,why?
[code]

[2019-06-13 09:31] willzhang commented on #78971
maybe i should not config static pod at master node

[2019-06-13 09:44] DaiHao opened #78972 "daemon controller failed to delete pods from unmatched nodes"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2019-06-13 09:45] DaiHao commented on #78972
/sig apps

[2019-06-13 09:45] DaiHao commented on #78972
/assign @DaiHao

[2019-06-13 10:10] shufanhao commented on #46508
Any update for it, I also want to know cluster cidr value from k8s api. So that do not need pass this value by env.

[2019-06-13 10:11] chinglinwen opened #78973 "Kubelet doesn't recognize child process oom kill"
**What happened**:
There's php-fpm pod, which have many child process, somehow the child process got oom killed

**What you expected to happen**:
Expect pod to restart

**How to reproduce it (as minimally and precisely as possible)**:

1. create pod with command: `stress --cpu 1 --io 1 --vm 1 --vm-bytes 200M --timeout 30s --backoff 3m`

2. kubectl exec pod shell,  execute extra command: `stress --

[2019-06-13 10:15] chinglinwen commented on #78973
/sig node

[2019-06-13 10:16] Vicyangkang commented on #75870
我也遇到这个问题，最后是怎么解决的呢

[2019-06-13 10:48] likakuli opened #78976 "kube-scheduler plugin's strange code"
**What happened**:
regist a preBind plugin will cause kube-scheduler panic
**What you expected to happen**:
do not panic
**How to reproduce it (as minimally and precisely as possible)**:
regist a preBind plugin
**Anything else we need to know?**:

[code]

The comment for Enabled
[code]

Thus i am confused by the code and the comment

**Environment**:
- Kubernetes version (use `kubectl version`):
v

[2019-06-13 10:50] likakuli commented on #78976
sig/scheduling

[2019-06-13 11:36] josephburnett commented on #78712
I've started looking into this.  (Also found in https://github.com/kubernetes/kubernetes/issues/78761).  This is what I think is going on:

When HPA computes a recommendation, it ignores any pods whose metrics are missing.  However it recomputes with fake missing metrics to see what they might have done.  When the initial recommendation is to scale down, it injects fake metrics of 100% usage (for

[2019-06-13 11:39] josephburnett commented on #78712
The defective code path is:

[2019-06-13 11:43] josephburnett commented on #78712
The defective code path is:

https://github.com/kubernetes/kubernetes/blob/4f29960cb2058c4f556bf1e5ba49c9a29a501e70/pkg/controller/podautoscaler/replica_calculator.go#L134

because `currentReplicas` is from status and could be larger than spec.replicas by design when rolling out a Deployment update:

https://github.com/kubernetes/kubernetes/blob/4f29960cb2058c4f556bf1e5ba49c9a29a501e70/pkg/control

[2019-06-13 11:51] mariojacobo opened #78977 "Kubernetes node sysctl configuration"
**What happened**:

We have applied this workaround https://github.com/kubernetes/kubernetes/issues/70324#issuecomment-466107181 to increase the number of inotify watches. this is fine and working properly, I can "fs.inotify.max_user_watches" with the correct value from all pods in all namespaces.

Now, we wanted to increase the following values as well, however the same workaround did not do the

[2019-06-13 11:59] mariojacobo commented on #78977
/sig aks

[2019-06-13 12:04] mariojacobo commented on #78977
/sig scheduling

[2019-06-13 12:15] #58329 closed

[2019-06-13 12:36] Huang-Wei opened #78980 "Missing "protoc" when running API compatibility test"
**What happened**:

API compatibility test depends on the presence of binary `protoc` in $PATH, but our presubmit ci job seems to be missing that: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/77327/pull-kubernetes-bazel-test/1139080812092723202/build-log.txt

[code]

https://github.com/kubernetes/kubernetes/blob/4f29960cb2058c4f556bf1e5ba49c9a29a501e70/staging/src/k8s.io/apimachi

[2019-06-13 12:37] Huang-Wei commented on #78980
/sig apimachinery
/cc @liggitt

[2019-06-13 12:39] Huang-Wei commented on #78980
/sig api-machinery
/cc @liggitt

[2019-06-13 12:41] tedyu commented on #78712
@josephburnett
What do you think of my change in #78714 ?

[2019-06-13 12:46] Huang-Wei commented on #78980
A simple solution is to include `protoc` in:

https://github.com/kubernetes/test-infra/blob/bf4a71fd9ef14fc42473b719a5bd12f2b68b3b80/config/jobs/kubernetes/sig-testing/bazel-build-test.yaml#L19

But it doesn't help for users' running on a machine without `protoc`.

[2019-06-13 12:47] liggitt commented on #78980
The test does not depend on protoc. If the test fails, and protoc is present, it will dump more detailed info about the failure of protoc is available. By the time that message is logged, the test has already failed.

/close

[2019-06-13 12:47] #78980 closed

[2019-06-13 12:51] liggitt commented on #78980
Details about the test are added in a readme here: https://github.com/kubernetes/kubernetes/pull/78656

[2019-06-13 12:54] chrisohaver commented on #78562
That was _with_ the with DNS_MEMORY_LIMIT=300Mi memory bump?

[2019-06-13 12:55] vladikr commented on #66525
/reopen

[2019-06-13 12:56] vladikr commented on #66525
/remove-lifecycle rotten

[2019-06-13 13:06] ranjujohn commented on #65933
@mylesagray I tried with a fresh cluster but still the pvc shows pending. Below is the error I got in the controller logs. I also found another ticket (https://github.com/kubernetes/kubernetes/issues/72905) for similar issue.

goroutinemap.go:150] Operation for "provision-default/test-claim[ee798e76-8dd4-11e9-9e8b-005056858582]" failed. No retries permitted until 2019-06-13 12:15:29.021689773 +000

[2019-06-13 13:12] mborsz commented on #78562
With default DNS_MEMORY_LIMIT=170Mi

[2019-06-13 13:14] KevinRiordan opened #78981 "Unable to connect to the server: Service Unavailable"
**What happened**:
Cluster has been running for several days, Calico-node pods (x3) are all ready but 0/1. Also nodelocaldns is in CrashLoopBackOff on node3. I tried rebooting each node and nothing changed. Also as a repercussion of this after doing a helm delete --purge there are pods stuck in the terminating state on node 3

**What you expected to happen**:
calico and dns to work properly
**How

[2019-06-13 13:17] Huang-Wei commented on #78980
Thanks @liggitt. My local change (with API changes) passed with re-generated API compatibility data:

1. Run `UPDATE_COMPATIBILITY_FIXTURE_DATA=true go test ./vendor/k8s.io/api -run //HEAD &>/dev/null` (this generates lots of diff date under `staging/src/k8s.io/api/testdata/HEAD/`)
2. Then run `bazel test //staging/src/k8s.io/api:go_default_test` passed.

My question is should I (a) check-in the r

[2019-06-13 13:21] liggitt commented on #78970
This sounds like a duplicate of https://github.com/kubernetes/kubernetes/issues/71749

Make sure your API server is at least 1.13.x. If it is not, a 1.13.x kubelet will not run against a < 1.13.x API server. The npe was changed to a nicer message in 1.14 in https://github.com/kubernetes/kubernetes/pull/74529

[2019-06-13 13:22] liggitt commented on #78970
Yes. See https://kubernetes.io/docs/setup/release/version-skew-policy/ (specifically the upgrade order section)

/close

[2019-06-13 13:22] #78970 closed

[2019-06-13 13:24] liggitt opened #78982 "Some unit tests do not pass locally, but pass in bazel CI"
**What happened**:

Some unit tests are not passing:

[code]

Yet CI unit test jobs (both merge-blocking and post-merge) are passing.

**What you expected to happen**:

CI to run all unit tests

/cc @kubernetes/sig-testing @sttts
/priority critical-urgent
/milestone v1.15

[2019-06-13 13:24] liggitt commented on #78982
/sig testing

[2019-06-13 13:26] liggitt commented on #78982
https://github.com/kubernetes/kubernetes/pull/78978 adds the missing packages to some of the test invocations, but pull-kubernetes-bazel-test is still green on that PR, which means bazel test is using some other method for finding unit tests to run

[2019-06-13 13:30] liggitt commented on #78980
check in the regenerated data along with your PR

[2019-06-13 13:33] Huang-Wei commented on #78980
Got it. Thanks.

[2019-06-13 13:49] chrisohaver commented on #78562
OK, I was hoping to see if the coredns was restarted at all during the DNS_MEMORY_LIMIT=300Mi test.

The reason: If a CoreDNS Pod was to restart during the test for any non-OOM reason, then this could start a OOM kill cycle. When CoreDNS initializes, the k8s api client will spike memory when syncing a large endpoints/services lists ([known issue in k8s client-go](https://github.com/kubernetes/kube

[2019-06-13 13:51] holgero commented on #78252
@mikedanese

Unfortunately it seems to be unavailable to lua filters, in the blue note box below https://www.envoyproxy.io/docs/envoy/v1.10.0/configuration/http_filters/lua_filter.html?highlight=lua#connection-object-api it states that the ssl connection object doesn't expose any API. And I wasn't able to get the peer info from the ssl object.

[2019-06-13 13:59] liggitt commented on #78982
good news on the ciphersuites test, it looks like it is being run, but the test assumed it could parse go source, which is not accurate in a bazel env, and passed if it failed looking up the source

[2019-06-13 14:05] liggitt commented on #78252
Re-parsing a client certificate (and potentially intermediate chain) on every request would also significantly impact request handling. That is intended to be done once at connection establishment.

[2019-06-13 14:06] jecafarelli commented on #60807
I second @antoineco message. I tested this out on one of our sandbox environments because we were constantly getting stuck namespaces. after about a month all the docker daemons were freezing for no reason. Turns out we created huge memory leaks from leaving resources behind.

After a lot of trial and error, and reading through these comments, it turned out to be custom resource definition for cor

[2019-06-13 14:35] liggitt commented on #78982
also good news on the grpc test, it looks like that passes reliably on linux, which is where bazel is running

[2019-06-13 14:38] Siegfriedk commented on #60807
@jecafarelli good hint for Production Clusters. But unfortunate for me, i was just not able to kill it otherwise. I also knew i will recreate the whole cluster later on.

I tried analysing the issue but nothin in this thread helped me to solve it by other means.

[2019-06-13 14:41] mattjmcnaughton commented on #78950
Thanks for raising such a detailed issue!

cc @dashpole any thoughts here?

Confusingly, I think the kubelet has been assigned a different cgroup for memory and for cpu... however the fact that its using `user.slice` makes me think the user is relying on system defaults.

@roycaihw out of curiosity, have you made any mods to how your system assigns cgroups?

[2019-06-13 14:43] liggitt commented on #78982
summary: the two failing tests are explainable as:
* bazel ci doesn't have go source available and the ciphersuites test decided to skip and report success in that case (fix for the bug in https://github.com/kubernetes/kubernetes/pull/78984 needs to be in 1.15, rework of the test will happen in 1.16)
* bazel ci runs the envelope grpc tests on linux where they pass reliably, but the tests make assu

[2019-06-13 14:45] mattjmcnaughton commented on #78973
Thanks for sharing this issue!

To be sure I'm understanding, the problem your describing is the following: k8s has a main process, lets call it ProcessA, which is functioning normally. There is an additional process, lets call it ProcessB, which is also running on the container, but it was started through an `exec`. When ProcessB is killed with an OOM error, and ProcessA continues to run, the pod

[2019-06-13 15:08] max-rocket-internet commented on #39090
Us too

Us too.

Our problem is that Java uses maximum CPU during startup. The startup process can take anywhere between 1-5 mins depending on the. And this process is enough to trigger the HPA to scale up. In extreme cases the HPA will scale to `maxReplicas`. With really no options to customise the HPA we are left with no options.

Even some simple options for the `HorizontalPodAutoscaler` resour

[2019-06-13 15:08] austinmoore- commented on #78945
Looks like it's working now.

[2019-06-13 15:08] #78945 closed

[2019-06-13 15:20] DanHam commented on #76531
@siwyd
Unfortunately not. I think the warning messages are due to some race condition between runc and the inbuilt cAdvisor. This will need to be fixed by the k8s developers.

[2019-06-13 15:22] max-rocket-internet commented on #65097
Duplicate of https://github.com/kubernetes/kubernetes/issues/39090

[2019-06-13 15:23] cofyc commented on #72031
/lifecycle frozen

[2019-06-13 15:24] mariusgrigoriu commented on #78712
Theory verified. We see the feedback loop on our clusters multiple times per day, escalating the number of pods up to a couple thousand more than needed. Using spec.replicas also has the behavior of locking in the deployment surge amount well after the deployment is done until the HPA decides to scale it back down. Another effect of this feedback loop is that users who run `kubectl rollout status`

[2019-06-13 15:33] siwyd commented on #76531
@DanHam Got it, cheers!

[2019-06-13 15:58] jsafrane opened #78987 "Corrupted filesystem when iSCSI is under load"
`[sig-storage] In-tree Volumes [Driver: iscsi][Feature:Volumes] [Testpattern: Inline-volume (ext4)] volumes should be mountable` fails occasionally with iSCSI volumes.

I added `pull-kubernetes-e2e-gce-iscsi` job that runs e2e tests on iSCSI volumes on Ubuntu (because iscsiadm is installed there) and the aforementioned test flakes there.

The test does this:

1. It picks a node and runs all pods d

[2019-06-13 16:01] max-rocket-internet opened #78988 "HPA is too sensitive for some applications. Can we average over time?"
For some applications the HPA is too sensitive. This is due to [the design](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/):

For many applications this causes too much scaling activity. For example:

- Spiky workloads that vary a lot in the short term
- Java applications that are slow to start and use max CPU during startup

It would be great if we could simply specify

[2019-06-13 16:02] max-rocket-internet commented on #78988
FYI @DirectXMan12

@kubernetes/sig-autoscaling-feature-requests

[2019-06-13 16:04] apelisse commented on #65973
KEP: https://github.com/kubernetes/enhancements/pull/1099

[2019-06-13 16:19] #69879 closed

[2019-06-13 16:34] jpbetz commented on #70502
Thanks @liggitt.

Right now our toleration merge logic is to treat any two tolerations with the same (key, effect) as merge-able. But after reading through the taints and tolerations documentation I'm not sure that's right. `tolerationSeconds` appears to be the only field that does not somehow identify the toleration w/r/t how it matches against taints. I'm curious what if there would be any ill e

[2019-06-13 16:35] antoineco opened #78989 "Azure Disk detach backoff aborted due to error "Long running operation terminated with status 'Canceled': Code="" Message="'""
**What happened**:

Same symptoms as #78700, different error:
[code]

This time the backoff is aborted way before the usual 15 min client timeout:
[code]

controller-manager's logs:
[code]

**What you expected to happen**:

The backoff succeeds and the failed detach operation gets retried.

**How to reproduce it**:

A single Pod with a single Azure Disk.
This seems quite hard to reproduce, but it

[2019-06-13 16:38] Ramyak commented on #73867
/remove-lifecycle rotten

[2019-06-13 16:40] msau42 commented on #78865
cc @kubernetes/sig-storage-bugs @jingxu97

[2019-06-13 16:41] tedyu commented on #72775
What if you set the surge to lower than 25% (considering the lagging cooling behavior) ?

[2019-06-13 16:52] antoineco commented on #78989
Before any further investigation, I'd like to be fully transparent:

This customer is running [this code](https://github.com/antoineco/kubernetes/blob/v1.10.14-beta.3-azuredisks/pkg/cloudprovider/providers/azure/azure_controller_common.go#L116-L119) which is `release-1.10` with backported patches.
I just noticed a [subtle difference](https://github.com/antoineco/kubernetes/blob/v1.12.10-beta.1-azu

[2019-06-13 17:20] #33193 closed

[2019-06-13 17:20] #72130 closed

[2019-06-13 17:20] #71783 closed

[2019-06-13 17:27] redbaron commented on #70010
/remove-lifecycle rotten

-------- Original Message --------
On 13 Jun 2019, 18:22, fejta-bot wrote:

[2019-06-13 18:04] BenTheElder commented on #78982
and _all_ of our CI, except some limited windows node e2e stuff ...

[2019-06-13 18:20] redbaron commented on #78987
Interesting that failing test sees partial write. writer pod does echo with redirect and total write size is well below not only 4KB FS block size, but also 512 bytes sector size, so it must be super atomic, yet it is not :-/

-------- Original Message --------
On 13 Jun 2019, 17:01, Jan Šafránek wrote:

[2019-06-13 18:26] jingxu97 commented on #78865
@pickledrick @arunbpt7 Could you please share your pod yaml file? You can also email me jinxu at google.com if you prefer. Thanks!

[2019-06-13 18:37] MrHohn commented on #78954
@RainbowMango Sure thing, feel free to work on this and glad that you can help :)

[2019-06-13 19:00] arunbpt7 commented on #78865
apiVersion: apps/v1
kind: Deployment
metadata:

[2019-06-13 19:06] 85humberto commented on #46041
How I can handle if the iqn is not the same to each portal?

172.XX.XX.2:3260,3 iqn.1992-04.com.emc:XX.XXXXXXXXXXXXXX.a5
172.XX.XX.1:3260,1 iqn.1992-04.com.emc:XX.XXXXXXXXXXXXXX.a4
172.XX.XX.5:3260,2 iqn.1992-04.com.emc:XX.XXXXXXXXXXXXXX.b4
172.XX.XX.6:3260,4 iqn.1992-04.com.emc:XX.XXXXXXXXXXXXXX.b5

[2019-06-13 19:13] bazzargh opened #78993 "Still not garbage collecting ipvs realservers"
**What happened**:
We upgraded to 1.14.3 expecting #77802 to have fixed #76664 (ie ipvs rules for coredns servers on UDP port 53 should be removed automatically). A few days later, we had yet-another coredns outage, inspection showed that ipvs rules were pointing at deleted coredns pods

**What you expected to happen**:

A coredns scaledown should not leave bad ipvs rules hanging around

**How to

[2019-06-13 19:16] bazzargh commented on #78993
/sig network

[2019-06-13 19:17] redbaron commented on #78987
does it change if you create a single IQN, portal and multiple LUNs underneath? So there will be just a single login and a single logout by the kubelet for the whole test run.

[2019-06-13 19:28] mkimuram commented on #78550
PR for [KEP](https://github.com/kubernetes/enhancements/pull/1105) is created.

[2019-06-13 19:31] jingxu97 commented on #78865
@arunbpt7 did you miss some part of yaml file?

[2019-06-13 19:43] greghaynes opened #78994 "Connections to service ClusterIP with no endpoints are not rejected"
**What happened**:
When making a TCP connection to a service's ClusterIP when there are no endpoints in the service the connection remains in SYN_WAIT state until an external timeout occurs (possibly indefinitely).

**What you expected to happen**:
This connection should be immediately rejected and consequently closed on the client side.

**How to reproduce it (as minimally and precisely as possib

[2019-06-13 19:43] timjkelly commented on #63214
Any update on this? I'd love to be able to define everything in a manifest file instead of having a mile-long command using overrides.

[2019-06-13 19:44] greghaynes commented on #78994
/sig networking

CC @cmluciano @dcbw (thanks for the help in slack!)

[2019-06-13 19:45] imriss commented on #33777
@myonlyzzy , thanks for your explanation. Is there any workaround that you suggest? In our case, it is a `helm` chart that deploys four `statefulset` that race against each other. However, the actual utilization does not go up enough to activate the `Auto Scaling group`, while many of the pods go in pending state with this error (`Insufficient cpu`).

[2019-06-13 19:46] greghaynes commented on #78994
Attaching a dump of iptables-save -c on the compute node which receives these incoming connections:

[iptables-save-noendpoint.txt](https://github.com/kubernetes/kubernetes/files/3287848/iptables-save-noendpoint.txt)

Interesting things to note:
The reject rule seems to be in place: `[0:0] -A KUBE-SERVICES -d 10.97.221.209/32 -p tcp -m comment --comment "default/helloworld-go-m9j7m-69c w5:http has

[2019-06-13 19:57] timothysc opened #78995 "Remove the /cluster directory"
For years we have publicly stated that the /cluster directory is deprecated and not maintained.  However every cycle it is updated and there are bugs found+fixed by sig-cluster-lifecycle.

I'd like to enumerate in this issue what needs to get done in order for us to wholesale remove the /cluster directory.

/assign @dims @spiffxp @justinsb @timothysc
/cc @liggitt @neolit123

[2019-06-13 20:00] dims commented on #78995
/area code-organization

[2019-06-13 20:01] timothysc commented on #78995
/cc @andrewsykim

[2019-06-13 20:04] neolit123 commented on #78995
or potentially break it down and move certain sub-folders out of tree.
currently it contains a collection of items:
- image files (conformance image, etcd)
- kube-up
- random bash scripts used by test-infra/kubetest deployers as helpers
- addons and the addon manager.

[2019-06-13 20:05] liggitt commented on #78995
looking at the references to it...

/sig testing
for e2e bringup

/sig scalability
for kubemark bringup

[2019-06-13 20:12] davidz627 commented on #74594
/remove-lifecycle stale
woudl still be a nice change

[2019-06-13 20:18] connor1989 commented on #78942
@connor1989

[2019-06-13 20:19] 0asp0 commented on #62421
I cannot contribute code (my coding is too bad ;-) but I'd love to see this feature. I want to use it to configuration of logstash pipelines configuration. I have about 30 pipelines per logstash. Each pipeline has it's own directory below pipelines directory.

[2019-06-13 20:20] fedebongio commented on #78913
/cc @roycaihw

[2019-06-13 20:21] j-griffith opened #78996 "PVC DataSource doesn't check for nil APIGroup"
**What happened**:
While implementing the new VolumePVCDataSource feature I discovered that even though the we don't use APIGroup (the appropriate setting is `""`) if the APIGroup is omitted it results in a nil pointer exception on the API server.

**What you expected to happen**:
APIGroup should be able to be omitted from the spec

**How to reproduce it (as minimally and precisely as possible)**:

[2019-06-13 20:22] j-griffith commented on #78996
I have a simple fix, will post PR in a moment

[2019-06-13 20:22] j-griffith commented on #78996
/sig storage

[2019-06-13 20:23] fedebongio commented on #78942
/assign @apelisse

[2019-06-13 20:25] fedebongio commented on #78946
/cc @apelisse @jennybuckley

[2019-06-13 20:49] apelisse commented on #78946
Do we know exactly where we're trying to guess the format? My understanding is that this should not happen when reading from http request since I would expect the content-type to be set (or defaulted to a value, rather than guessed ... maybe that's the problem).

[2019-06-13 21:09] prameshj commented on #66651
/remove-triage unresolved

[2019-06-13 21:11] prameshj commented on #66651
thanks @oxddr , kube-dns is using ClusterIP for which the iptables rules are already deleted. Let me look into it some more and back.

[2019-06-13 21:12] prameshj commented on #77650
@danielloczi any update on the test where you query individual pods?
/remove-triage unresolved

[2019-06-13 21:17] dims commented on #78935
So, i'd like to help with a few things:
- help with code organization related PRs that need top level approval
- as part of dep-approvers, i can't really help with go.mod/go.sum changes currently as those files are in the root directory
- as i am on the east coast, i can help with reverts as well if needed.

thanks,
dims

[2019-06-13 21:21] andrewsykim commented on #78993
@bazzargh thanks for reporting this. Can you share `kube-proxy version` output and the output from  `ipvsadm -Ln |grep :53`?

[2019-06-13 21:24] #66388 closed

[2019-06-13 21:26] prameshj commented on #78206
@answer1991 what is the motivation for this? Is it because the same name will resolve with both the in-cluster and external searchpaths?
The dns client resolver is going to attempt all the searchpaths anyway and wait for all responses.

So if we have a DNS record for "kubernetes.default.mynewpath" and if mynewpath is a custom searchpath, we will get that ip for pods resolving "kubernetes.default"

[2019-06-13 21:32] paulgmiller commented on #76338
Went to the sig-networking meeting they want me to push this a bit more witht he api machinery folks to see if the watch should just periodically reset. Going to that sig meeting next to try and get some help. Agree that would fix issues in ingress other places as well.

Sounds like kubelet may have patched around this issue. links from @bjhaid
From Ayodele (bjhaid) Abejide to Everyone:  02:29 PM

[2019-06-13 21:46] neolit123 commented on #78534
xref
https://github.com/kubernetes/kubeadm/issues/1600
https://github.com/kubernetes/kubeadm/issues/1205

[2019-06-13 21:59] bazzargh commented on #78993
So other engineers are currently tearing down all those clusters, but from a previous test:
[code]
is an example of the ipvsadm output; eg the second line there has `Masq    0      0          2` - weight 0, 0 active connections, 2 inactive connections. This is an example of one where the inactive connections don't ever hit zero. Talking to one of these clusters:
[code]
... honest we really are run

[2019-06-13 22:04] Kamikozz commented on #60807
This official solution helped me: https://success.docker.com/article/kubernetes-namespace-stuck-in-terminating
This is not the same as `kubectl edit namespace rook-ceph`

[2019-06-13 22:06] josephlewis42 commented on #77508
We have a similar use-case: we're using namespaces in K8s for tenant isolation. Each namespace can build containers from source and serve them (via Knative).

We'd like to allow setting quotas over the whole namespace for cluster stability, but also on the containers running servers so they can't auto-scale up and prevent new build containers from being scheduled.

[2019-06-13 22:09] justinwalz commented on #53023
I just observed this on one of our clusters as well. To add some context to potentially help reproduce, the daemonset was applied before a config, so all pods were in `CreateContainerConfigError`. I then applied the config, and all containers transitioned to `Running`. However it seems like the DS status didn't quite catch onto this from a "availability" perspective, but it did on a "ready" one.

[2019-06-13 22:15] shubhambhattar commented on #23621
I was having the same issue and I found out that my indentation wasn't proper in yaml file.

What I did to cross-check was I opened my  Kubernetes Dashboard and clicked on `View/Edit YAML` of the concerned deployment.
There in `spec`, I checked my `env` was showing as below:
[code]

instead of
[code]

Thus, I cross checked my YAML and found out that `env` was defined as
[code]
instead of
[code]

[2019-06-13 22:30] pickledrick commented on #78865
@jingxu97

`apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: debug
  name: debug
spec:
  selector:
    matchLabels:
      app: debug
  template:
    metadata:
      labels:
        app: debug
    spec:
      containers:
      - image: quay.io/pickledrick/debug
        imagePullPolicy: Always
        name: debug
        resources:
          limits:
            ephemeral-

[2019-06-13 22:32] bazzargh commented on #78993
BTW, we do know that clearing those rules fixes the DNS errors we see (timeouts hitting coredns).
[code]

This monstrosity ^ removes the weight 0 rules for DNS, NB this is not particularly safe, the grep patterns don't exclude TCP or ports like 5301, but since those wouldn't match our deletion command we get away with it. We've been able to successfully recover from the problem with this script an

[2019-06-13 22:43] andrewsykim commented on #78993
Thanks @bazzargh

The protocol is actually fetched from netlink which resolves the protocol returned from conntrack as `tcp` or `udp` (see [here](https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/vishvananda/netlink/nl/conntrack_linux.go#L13-L16))so it's weird it comes out as UDP on your logs. Will look into this and get back to you.

[2019-06-13 22:47] andrewsykim commented on #78993
Found the culprit https://github.com/kubernetes/kubernetes/blob/master/pkg/util/ipvs/ipvs_linux.go#L299-L309 will open a patch shortly, thanks @bazzargh

cc @m1093782566 @lbernail

[2019-06-13 22:49] bazzargh commented on #78993
Nice catch @andrewsykim!

[2019-06-13 22:51] liggitt commented on #78996
/priority critical-urgent
/milestone v1.15

[2019-06-13 23:08] johnbelamaric commented on #77860
Any update on this?

[2019-06-13 23:11] andrewsykim opened #79001 "E2E Test IPVS graceful termination"
**What would you like to be added**:
E2E tests for IPVS graceful termination.

**Why is this needed**:
The IPVS graceful termination logic should have better test coverage given bugs in the graceful termination logic (for example https://github.com/kubernetes/kubernetes/issues/78993) can cause lots of networking issues on a cluster, in some cases it takes the entire cluster down. This will be tric

[2019-06-13 23:13] andrewsykim commented on #79001
/sig network
/area ipvs

[2019-06-13 23:21] msau42 commented on #73773
/remove-lifecycle rotten

[2019-06-13 23:46] dashpole commented on #78950
It sounds like we might want to handle the error more gracefully.  If we can't get the kubelet's cgroup, we should fall back to collecting metrics from all cgroups.

[2019-06-13 23:55] dashpole commented on #78865
@arunbpt7 can you query the summary api (localhost:10255/stats/summary) from the node that pod is running on to make sure it is measuring disk space correctly?

[2019-06-14 00:15] neolit123 commented on #78907
the flakes have stopped after:
https://github.com/kubernetes/kubernetes/pull/78915

https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-upgrade-stable-master

/close

[2019-06-14 00:48] #66875 closed

[2019-06-14 00:55] rhockenbury commented on #77535
Right.  The issue is in how VCP uses `AllowedTopologies` when an array of zones is specified. #78841 looks like it addresses exactly that.

[2019-06-14 01:35] ORESoftware opened #79004 "My cluster got very weird after `kubectl delete svc --all`"
I read that this was a command that could be issued:

[code]

what happens is that kubernetes service itself was deleted (and then seems to have restarted itself)

so this was the outcome of the above command:
https://stackoverflow.com/questions/56585220/cannot-tail-logs-of-pods-failed-create-pod-sandbox?noredirect=1#comment99758111_56585220

my cluster was pretty messed up after running the delet

[2019-06-14 01:36] ORESoftware commented on #79004
@kubernetes/sig-x

[2019-06-14 02:22] zaneclaes commented on #70044
I'm also getting this issue, and nothing is fixing it. I've tried:
- Rebooting
- Restarting the docker daemon
- Deleting and re-applying all Kubernetes resources
I'm running `microk8s` on `Ubuntu 18.04` with all packages up-to-date.

[2019-06-14 02:40] zq-david-wang commented on #78994
Same issue here, I think "hairpin mode" does not work in fitler table, and all incluster service access would stuck in sync_send when service have no endpoints

[2019-06-14 02:54] zq-david-wang commented on #78994
the "hairpin mode" does not even work during this stage of tcp connection.....

[2019-06-14 02:55] chinglinwen commented on #78973
I expect that pod would be  restarted ( though not sure enough, I think you have more experience about this ), I'm surfacing this issue here

In some way, I just encounter the problem, and suspect the pod to be restarted, so we can know the problem earlier, otherwise, it may need manual restart the pod ( as currently we do, and it's happen frequently )

I'd like to hear your thoughts

by reading t

[2019-06-14 03:01] zq-david-wang commented on #78994
Strange thing, I got "Connection refused" response when accessing the service on node, but got "timeout" inside pod

[2019-06-14 03:33] zq-david-wang commented on #78994
Dig it further, I found that the forward table should also have a rule setup for services with no endpoints.

Manually add a rule in iptables should fix the issue.
"iptables -I FORWARD -d 10.97.221.209/32 -p tcp -m comment --comment "default/helloworld-go-m9j7m-69c w5:http has no endpoints" -m tcp --dport 80 -j REJECT --reject-with icmp-port-unreachable"

It seems that  kube-proxy should also setu

[2019-06-14 03:36] #75292 closed

[2019-06-14 03:36] #75233 closed

[2019-06-14 03:40] feiskyer commented on #78989
/assign @andyzhangx

[2019-06-14 03:42] answer1991 commented on #78206
@prameshj This issue influence is not about in-cluster dns but data-zone dns(or we can call it external dns).

For example:

Node's resolv.conf file has search "my-domain.com", and we have an external dns record "app.my-domain.com", then the Pod's resolv.conf file has search "my-domain.com", and the Pod will resolve  "app" dns record from "app.my-domain.com".

Then we have a canary rollout for the

[2019-06-14 04:22] answer1991 opened #79006 "Pod ReadinessGate does not support strategic patch to add an item"
**What happened**:

Pod's ReadinessGate is a slice, which must support strategic patch to add an item, but actually it is not.

**What you expected to happen**:

Pod ReadinessGate support strategic patch to add an item

**How to reproduce it (as minimally and precisely as possible)**:

A Pod named "pod1" has ReadinessGate ["bar"],  when we want to add a ReadinessGate "foo", we use `kubectl` to pat

[2019-06-14 04:23] answer1991 commented on #79006
/sig api-machinery
/assign

[2019-06-14 04:48] jschalz commented on #78467
Is there a PR/work associated with this issue yet?

[2019-06-14 05:18] yue9944882 commented on #79006
the field misses the patch key so SMP doesn't work. flip side of the coin, it breaks backward-compatiblity so the change is not acceptable. ref: https://github.com/kubernetes/kubernetes/issues/72475#issuecomment-450964421. in favor of server-side apply to address the issue.

[2019-06-14 05:24] weiZhenkun commented on #71907
and have you resolved this problem?

[2019-06-14 05:25] weiZhenkun commented on #71907
@Pingan2017 and have you resolved this problem?

[2019-06-14 05:33] mgdevstack commented on #73425
/reopen
This is a umbrella issue to track related Issues and PRs.

[2019-06-14 05:38] ranjujohn commented on #72905
I get similar error when i tested K8s **1.14.3** with vsphere cloud provider. Any work around for this?

goroutinemap.go:150] Operation for "provision-default/test-claim[ee798e76-8dd4-11e9-9e8b-005056858582]" failed. No retries permitted until 2019-06-13 12:15:29.021689773 +0000 UTC m=+151.946011736 (durationBeforeRetry 500ms). Error: "Operation cannot be fulfilled on persistentvolumeclaims "test-

[2019-06-14 05:47] pakhomov-passteam commented on #76531
Is it safe to use k8s-cluster with systemd cgroup driver for production or we should swith back to cgroupfs instead?

[2019-06-14 05:52] prameshj commented on #78206
I see... In this case, whether you have the order as  ["my-domain.com", "sandbox.my-domain.com"] or  ["sandbox.my-domain.com","my-domain.com"], the pod will lookup both "app.my-domain.com" and "app.sandbox.my-domain.com". just a matter of which IP shows up first in the result.  I think it would be good to have a short KEP since this will change the default behavior.

[2019-06-14 06:02] answer1991 commented on #79006
@yue9944882 got it, thanks for you reply.

[2019-06-14 06:02] #79006 closed

[2019-06-14 06:11] danielloczi commented on #77650
Unfortunately I was unable to reproduce the problem. We don't use IPVS.

[2019-06-14 06:22] prameshj commented on #77650
Thanks for the update, i am closing this issue. Feel free to reopen if needed.
/close

[2019-06-14 06:22] #77650 closed

[2019-06-14 06:24] answer1991 commented on #78206
@prameshj

NO, the pod only lookups the "app.my-domain.com", because the dns record "app.my-domain.com"
 can be resolved, and stop to look up "app.sandbox.my-domain.com".  The search explain from `man resolv.conf`:

[code]
---

OK, I will write a KEP for this issue

[2019-06-14 06:37] yue9944882 commented on #79004
even tho kube-apiserver can recover from this by itself, but we still have to treat the "kubernetes.default" service nicely or it'll mess up many things

[2019-06-14 06:38] yue9944882 commented on #79004
/sig api-machinery

[2019-06-14 06:45] lbernail commented on #79001
I haven't worked with e2e tests yet but I'd be happy to help with this

[2019-06-14 06:52] falfaro commented on #76935
ping?

[2019-06-14 06:58] andyzhangx opened #79009 "azure resource id should be case insensitve"
**What happened**:
azure resource id should be case insensitve, while some places are case sensitve:

https://github.com/kubernetes/kubernetes/blob/b8ba75bcd9d3be31e4b53105b2cc67538c9c2d1b/staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController.go#L265
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to

[2019-06-14 07:00] zq-david-wang commented on #78994
This is fixed by following PR which add kube-services to forward chain
https://github.com/kubernetes/kubernetes/pull/72534

[2019-06-14 07:02] fankangbest opened #79010 "HandlePodCleanups() pass nil to APIPod"
**What happened**:
We have customized killContainer() function. We need to get something from pod's annotations in killContainer(). But we find we can't get pod's annotations correctly in the below scenario.

The pod may be killed by HandlePodCleanups() in some cases such as we delete pod at the time we just create the pod. However, in HandlePodCleanups(), nil is passed to APIPod.
[code]
So in kil

[2019-06-14 07:04] answer1991 commented on #79010
/sig node

[2019-06-14 07:05] fankangbest commented on #79010
/sig node
/assign

[2019-06-14 07:29] #77998 closed

[2019-06-14 07:50] jsafrane commented on #78987
I want the tests to be independent and race free. I don't want to maintain a state per node to know that the first test creates IQN, the last one removes it and keep a table of user / free LUNs.

[2019-06-14 08:06] changyaowei commented on #79010
May be we can get apipod by func ``` kl.podManager.GetPodByUID() ``` and use it to replace nil

[2019-06-14 08:29] Mentality-is-better opened #79013 "Hi, how does kubernetes support ipv6 networks"
Hello, how does kubernetes support ipv6 network? I don't know how to configure it. Now I know that calico supports ipv6, and I use kubeadm to deploy kubernetes

[2019-06-14 08:48] rockylee3128 commented on #78964
/sig scalability

[2019-06-14 08:55] pires commented on #60001
FYI the KEP is now https://github.com/kubernetes/enhancements/pull/683.

[2019-06-14 08:57] szuecs commented on #73843
/remove-lifecycle rotten

[2019-06-14 09:02] andyzhangx commented on #78989
@antoineco thanks for your reporting, PR #76981 makes the detach lock smaller in the detach retry loop logic. It reports `abort backoff: detach disk` due to timeout. Per our internal investigation and discussion, the time out issue is due to detach disk operation is preempted by other operations, thus never return back. Will update if there is any further conclusion, thanks.

[2019-06-14 09:09] snowplayfire commented on #78842
I have recorded how to setup a kubemark cluster outside GCE as follows: https://github.com/snowplayfire/kubemark-outside-gce

Hope it is helpful for you.

[2019-06-14 09:11] snowplayfire commented on #78483
I have recorded how to setup a kubemark cluster outside GCE as follows: https://github.com/snowplayfire/kubemark-outside-gce

Hope it is helpful for you.

[2019-06-14 09:23] antoineco commented on #78989
I understand, but here the operation was "Canceled" after 1,5 min, and the backoff was never retried, yet the controller-manager was trying to attach the disk over and over again. Something's wrong.

[2019-06-14 09:36] josephburnett commented on #78712
Thanks @tedyu for the patch.  As @mariusgrigoriu said, that just give better information.  I'll focus first on fixing the feedback loop and then take a look at your PR.

[2019-06-14 09:46] melwynjensen commented on #60903
Had a similar question which I have posted here https://stackoverflow.com/questions/56592929/how-pods-are-able-to-mount-the-same-pvc-with-readwriteonce-access-mode-when-stor

[2019-06-14 09:50] #76512 closed

[2019-06-14 10:05] mm4tt commented on #78734
Yesterday's run, with reverted https://github.com/kubernetes/kubernetes/pull/78465, passed.
I believe we can close this one.

[2019-06-14 10:16] andyzhangx commented on #78989
@antoineco it's a little weird, even it back off once, it should have logs like following:
[code]

It should happen between `23:43:19`(update backing off) and `23:44:55` (update abort backoff), while I could not find any detach disk operation logs between this time.

[2019-06-14 11:09] #78405 closed

[2019-06-14 11:13] karolinepauls commented on #52218
Kubectl logs is useful for local debugging. It obviously won't work at scale, where you need to search logs from thousands of pods.

The only thing I need is for `kubectl logs` to be able work like `tail -F` - print logs as they appear for all containers that match current query. This doesn't need to be enabled on production but is INCREDIBLY useful when working with local clusters.

Scenario (sam

[2019-06-14 11:19] holgero commented on #78252
I played around with lua filters a bit more and finally had success to get the subject value into the lua coding. So there seems to be a way to achieve what I need with a combination of configuring envoy to set the x-forwarded-client-cert request header and a lua filter.
This would mean that nothing needs to be done on kube api server side.

[2019-06-14 12:16] hamiBU opened #79023 "In which part of the codes, the scheduler tries to get the PodSpecs from etcd?"

[2019-06-14 12:20] antoineco commented on #78989
Exactly, I don't see any retry.

Here's are all the logs entries these 2 timestamps FYI:
[code]

[2019-06-14 12:21] maolujun commented on #76531
@claudineimatos
Try to reinstall kubelet on the slave node

master node:

salve node:

rm -rvf /etc/kubernetes/kubelet.conf
rm -rvf /etc/kubernetes/bootstrap-kubelet.conf
rm -rvf /etc/kubernetes/pki/ca.crt
kubeadm join 192.168.110.XX:6443 --token XXXXXXXXXXXXXXXXXXX --discovery-token-ca-cert-hash sha256:XXXXXXXXXXXXXXXXXXX

or
salve node memory resource problem

[2019-06-14 12:28] Symbianx commented on #75581
We are blocked by this issue, can't resize any PVCs

[2019-06-14 12:34] dims commented on #78842
@snowplayfire if you want to update the content here - https://github.com/kubernetes/community/tree/787bc4f78c9e2d23c614103ebc4d477b9a240258/contributors/devel/sig-scalability - that will be great as well!

[2019-06-14 12:39] paulhodson commented on #60748
I'm working with device plugins and also wish for this feature. I have a varying number of devices per node so the ability to map all devices of a type `/dev/abc*` would be ideal. Currently the device plugin container (and other init containers it depends on) have map `/dev` and require `privileged: true` which is not a good fit for secure systems.

[2019-06-14 12:46] antoineco commented on #78989
I think the key information here is that the instance 28 ("k8s-customer-38464140-vmss00000s") was deleted

[2019-06-14 13:08] KevinRiordan commented on #78981
Issue was discovered. The issue was caused by one of the servers time being off (thought it was 2016). this prevented calico and dns from operating properly and brought down the whole cluster.

This also prevented a rebuilding of the server using kubespray returning the error that there were certifacte issues and that the CA was not trusted.

Resetting the time allowed a rebuild of the cluster but

[2019-06-14 13:10] liggitt commented on #78467
there is not. a PR would be welcome

[2019-06-14 13:12] andyzhangx commented on #78989
@antoineco if `instance 28 ("k8s-customer-38464140-vmss00000s")` is deleted, backoff will fail, and finally pvc disk would be released, but in your case, that disk `k8s-mstr-c731ust-customer-d1-kub-pvc-5abc9086-816b-11e9-bb30-000d3a26911b` is not released?

[2019-06-14 13:13] liggitt commented on #70502
at the very least no updates should be made by the toleration admission plugin on update that would break pod validation. I'm unsure what the desired behavior is on create

[2019-06-14 13:16] liggitt commented on #79023
The scheduler uses an API client informer (passed into scheduler construction at https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/scheduler.go#L149) to read pods from the API server, not from etcd.

/close

[2019-06-14 13:16] #79023 closed

[2019-06-14 13:16] a-hat opened #79024 "fluentd-elasticsearch: add fluent-plugin-grok-parser"
Would you consider to add the gem for [fluent-plugin-grok-parser](https://github.com/fluent/fluent-plugin-grok-parser)?

It could be helpful to parse the log output and extract additional fields

[2019-06-14 13:19] krzysztof-jastrzebski commented on #78988
HPA calculates average over metrics returned from metrics server which returns average value over some period of time depending on how it is configured. HPA doesn't store any metrics in its state. You probably could reconfigure metrics server and kubelet but I wouldn't advice it.

Another thing is that when we calculate utilization we us 0 as cpu usage for pods that are not ready for the first 5 m

[2019-06-14 13:21] liggitt commented on #78913
several of the webhook converter tests have similar flakes. it looks like the wait for storage version to become effective times out occasionally

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestWebhookConverter

Rare flakes seen in all of these tests:
* TestWebhookConverterWithWatchCache/nontrivial-converter
* TestWebhookConverterWithWatchCache/metadata-mutating-conv

[2019-06-14 13:21] liggitt commented on #78913
cc @jpbetz

[2019-06-14 13:27] liggitt opened #79026 "Add serialization fixtures for apiextensions (CRD and ConversionReview types)"
Follow up from https://github.com/kubernetes/kubernetes/pull/78309

Add compatibility testing for the apiextensions-apiserver APIs (CRD and ConversionReview types)

Some special-case fuzzing will be required for the rawextension fields

/sig api-machinery
/priority important-soon
/assign

[2019-06-14 13:28] liggitt opened #79027 "Add serialization fixtures for kube-aggregator (APIService type)"
Follow up from #78309

Add compatibility testing for the kube-aggregator API (APIService type)

Some special-case fuzzing will be required for the rawextension fields

/sig api-machinery
/priority important-soon
/assign

[2019-06-14 13:29] liggitt opened #79028 "Add serialization fixtures for meta APIs (PartialObjectMetadata, Table types)"
Follow up from #78309

Add compatibility testing for the meta APIs (PartialObjectMetadata, Table types)

Some special-case fuzzing will be required for the rawextension fields

/sig api-machinery
/priority important-soon
/assign

[2019-06-14 13:32] jsafrane commented on #78987
I reproduced it partly outside of Kubernetes: adding a new IQN somehow disrupts the other IQNs. https://github.com/jsafrane/iscsi-reproducer

I can get `Buffer I/O error on dev sdc, logical block 123428, async page read` reliably, but no lost writes and filesystem corruption (FS is always clean).

[2019-06-14 13:48] redbaron commented on #78987
Nice! IMHO it is worth reporting to https://www.mail-archive.com/open-iscsi@googlegroups.com/maillist.html

[2019-06-14 13:52] ramnes commented on #52218
@karolinepauls IIRC [stern](https://github.com/wercker/stern) does this

[2019-06-14 14:02] antoineco commented on #78989
Surprisingly not, the last log entries from the issue description are just repeated forever.

The next day at 12:54 someone eventually ran ``az vmss update-instances --instance-ids '*'`` and the disk attached.

[2019-06-14 14:27] nrvnrvn opened #79034 "Setting labels and annotations: inconsistent behavior"
**What happened**:
We used a resource file for the `kube-system` namespace to set up labels for it. This was required to get our Network policies working to allow pods from other namespaces access the system DNS. (_Please note that I described this particular case to better explain what led to discovery of the issue. The issue is more broad and has nothing to do about Network Policies_).

Soon we

[2019-06-14 14:33] josephburnett commented on #78712
Pull request is out for review: https://github.com/kubernetes/kubernetes/pull/79035#issue-288355508

I found several other cases where we return `scale.Status.Replicas` which can cause a positive feedback loop.

[2019-06-14 14:36] timothysc commented on #77095
/assign @johnSchnake

[2019-06-14 14:54] alanjcastonguay commented on #78693
Reference https://github.com/kubernetes/kubernetes/blob/c48ed1c5aca6e06b6a3d70d5f189216df3150379/pkg/controller/podgc/config/v1alpha1/defaults.go#L23-L31

[2019-06-14 14:57] nrvnrvn commented on #79034
/sig api-machinery
/sig cli

[2019-06-14 15:07] vinayitp commented on #61005
I am having a similar issue; did anyone find root cause and any solution? Thanks.

[2019-06-14 15:11] draveness commented on #70585
/assign

[2019-06-14 15:21] mariusgrigoriu commented on #72775
The amount of increase in the HPA feedback loop decreases. Also it's more likely that we break out of the feedback loop sooner as the rolling update completes faster. However, there is still a positive feedback loop.

[2019-06-14 15:43] ashrayjain commented on #76935
Since the bug is in dockershim, the "workaround" that has worked for us is to switch to containerd.

[2019-06-14 16:05] spiffxp commented on #76342
Versioning question that is tripping me up in PR reviews: I've seen bumps to `2.0` and `2.1`, is the intent for different groups of PRs to reference different versions, or move them all up at once?

[2019-06-14 16:21] alejandrox1 commented on #78901
/milestone v1.15

[2019-06-14 16:21] alejandrox1 commented on #78901
/milestone v1.16

[2019-06-14 16:25] bclau commented on #76342
Part 1 bumps to version 2.0, part 2 bumps to version 2.1.

Now, by mistake, Centralization part 2 merged before part 1, which is why it's a bit weird right now, but it should be better once part 1 merges.

[2019-06-14 16:31] RobertKrawitz opened #79040 "Graduate LocalStorageCapacityIsolationFSQuotaMonitoring to beta"
**What would you like to be added**:

LocalStorageCapacityIsolationFSQuotaMonitoring allows use of XFS-style quotas to monitor emptydir storage consumption.  It is alpha in 1.15; graduate it to beta in 1.16

**Why is this needed**:

Monitoring by quota is a lot more efficient than monitoring by du.

xref https://github.com/kubernetes/enhancements/issues/1029

[2019-06-14 16:32] answer1991 commented on #72475
@liggitt

Have we had any specifications about how to set the new field tag to prevent the similar issue happen again?

[2019-06-14 16:35] KevinRiordan commented on #78981
Also when the clock is off the cluster does not work but resetting the clock allows the node to rejoin the cluster and then everything works again.

[2019-06-14 16:36] RobertKrawitz commented on #79040
/sig node

[2019-06-14 16:37] KevinRiordan commented on #78963
kubectl exec -it --namespace <namespace> <pod-name> -- /bin/bash

[2019-06-14 16:39] jpbetz commented on #78913
Yikes, I’ll sort it out.

[2019-06-14 16:43] #72128 closed

[2019-06-14 16:44] cbf123 opened #79042 "TestLoopbackHostPortIPv6 test fails"
**What happened**:
The TestLoopbackHostPortIPv6 test fails as follows:
--- FAIL: TestLoopbackHostPortIPv6 (0.00s)
    config_selfclient_test.go:61: no ipv6 loopback interface

**What you expected to happen**:
Testcase should pass.  At a first glance at least, there seems to be an IPv6 loopback address (::1) on the "lo" device on the host, so I'd expect this test to work.

**How to reproduce it (as

[2019-06-14 16:44] cbf123 commented on #79042
/sig network

[2019-06-14 16:46] cbf123 commented on #79042
@kubernetes/sig-network-bugs

[2019-06-14 16:59] Smaxor5 commented on #8593
This guy 2020

[2019-06-14 17:15] ddebroy opened #79043 "Need to check migrated PVs get deleted through CSI if CSI migration was enabled post provisioning"
**What happened**:
If an in-tree volume is provisioned with in-tree provisioner (without migration enabled) and later migration gets enabled, the PV controller is expected to coordinate with the CSI external provisioner to make sure it does get deleted.

For above to happen, this [piece of code](https://github.com/kubernetes/kubernetes/blob/ffffd6b6f55d15c6868bc2080419740dc7a0d93d/pkg/controller/v

[2019-06-14 17:15] ddebroy commented on #79043
/assign

[2019-06-14 17:16] ddebroy commented on #79043
/sig storage

[2019-06-14 17:37] 0verc1ocker commented on #61005
@vinayitp, for me it was two CNIs being deployed side-by-side on the same cluster and having IP allocation issues. It was pretty specific to my environment in my case.

[2019-06-14 17:37] dashpole commented on #78865
Our tests for this are not super consistent: https://k8s-testgrid.appspot.com/sig-node-kubelet#node-kubelet-serial&include-filter-by-regex=LocalStorageCapacityIsolationEviction, but are mostly green.  I'll try and bump the timeout on the serial tests to see if we can get a clearer signal.

[2019-06-14 17:56] stealthybox commented on #2630
I was perplexed to see that `fsGroup` was an option and `fsUser` was not.
Also, the permissions/mode portion of this is confusing. We should make it clearer how volumes like EmptyDir get their default mode or allow the user to set it explicitly, as this is a pretty normal unix admin task.

If root is the only user that can ever own your volume (aside from using an initContainer to chmod it at runt

[2019-06-14 18:05] andrewsykim commented on #78993
/remove-triage unresolved

[2019-06-14 18:08] ravibagri5 commented on #77258
You can get rid of this issue by manually editing the pv and then removing the finalizers which looked something like this:

  - kubernetes.io/pv-protection```
examples removing for finalizers

kubectl patch pvc pvc_name -p '{"metadata":{"finalizers":null}}'
kubectl patch pv pv_name -p '{"metadata":{"finalizers":null}}'
kubectl patch pod pod_name -p '{"metadata":{"finalizers":null}}'

[2019-06-14 18:13] andrewsykim commented on #79001
/remove-triage unresolved

[2019-06-14 18:20] gretel commented on #61005
happens to me using recent `k3s`, too.

[2019-06-14 18:23] jingxu97 commented on #2630
@stealthybox, thank you for the feedback. I am currently working on a proposal for API on volume ownership and permission and will share with the community soon. Feedback/comments are welcome then.

[2019-06-14 18:39] PontusNyberg commented on #28321
Got this today and i would probably not have found the error in at least a couple of more hours.
flag=true instead of flag="true"

[2019-06-14 19:14] agolomoodysaada commented on #77215
@jingxu97 , the referenced pull request is great but is missing disk io time. Which cannot be deduced from this list of metrics.

[code]

Is it possible to add these metrics and link them at the pod level? As a consumer of metrics, I would like to monitor the read and write io time spent by each pod. If a pod is consuming all host disk read IOPS, I need to be able to alert of that and inspect that

[2019-06-14 19:50] venkatalolla commented on #72395
@Unrealnew Hi,

I have the same problem with v1.14.0, the worker nodes are unstable they keep switching back and forth between `Ready` and `NotReady` state and the see the following error
``failed to ensure node lease exists, will retry in 7s, error: leases.coordination.k8s.io "worker-1" is forbidden: User "system:node:worker-1" cannot get resource "leases" in API group "coordination.k8s.io" in th

[2019-06-14 20:00] caioaao commented on #28241
I see this was closed 1 year ago, but I can't find a solution online. Is this actually fixed or just rotten?

[2019-06-14 20:06] vinayitp commented on #61005
Some more details:

Working Cluster
I0614 19:02:33.319303       1 endpoints.go:234] Setting endpoints for "kube-system/kube-dns:dns" to [10.244.0.54:53 10.244.0.55:53]
I0614 19:02:33.319313       1 endpoints.go:234] Setting endpoints for "kube-system/kube-dns:dns-tcp" to [10.244.0.54:53 10.244.0.55:53]
I0614 19:02:33.319326       1 config.go:124] Calling handler.OnEndpointsAdd
I0614 19:02:33.31933

[2019-06-14 20:26] #75004 closed

[2019-06-14 20:31] rafatio opened #79046 "kubelet: Failed to find subsystem mount for required subsystem: pids"
**What happened**:
We're updating the cluster from 1.12.1 to 1.14.3. When kubelet goes up for the first time, the following warnings related to cgroups pids controller appear:

`kubelet[4854]: W0612 qos_container_manager_linux.go:139] [ContainerManager] Failed to reserve QoS requests: failed to set supported cgroup subsystems for cgroup [kubepods burstable]: Failed to find subsystem mount for requ

[2019-06-14 20:38] rafatio commented on #79046
/sig kubelet

[2019-06-14 20:39] neolit123 commented on #78698
Concurrently joining control-plane nodes does not work as expected in kubeadm 1.15.0. The feature was planned to release with 1.15.0, but possibly a fix will come in a follow up patch release.

[2019-06-14 20:40] rafatio commented on #79046
/sig node

[2019-06-14 21:14] jarvisuser90 commented on #66108
I used the following command to create a default config (on a fresh installation):
[code]

This solved my problem.

[2019-06-14 21:22] timothysc commented on #78534
Given that this is going to take a while and is a pretty large logistical effort given all the tentacles, would it be ok with this group ( @dims @liggitt ) to open issues in the kubeadm repo and we can triage and address?  This way it's part of our milestone burndown.

[2019-06-14 21:24] mikedanese commented on #77489
Multiple CSRs created in early kubelet boot is expected under some conditions. https://github.com/kubernetes/kubernetes/pull/77936

@alexeldeib sounds like a separate issue.

[2019-06-14 21:28] neolit123 commented on #78534
i was thinking of having the import boss issue as the parent one and if a certain topic gets complicated (i can think of a couple...) we can log an child issue.
today we did some work on the  easier parts.

technically this k/k issue might be a bit redundant, but it's OK to have it too.

[2019-06-14 21:40] vorburger opened #79048 "build/run.sh failure due to fetch false preventing from being pulled"
**What happened**:
I'm noob just trying [to follow the README](https://github.com/kubernetes/kubernetes#you-have-a-working-docker-environment) for the first time, but `build/run.sh` fails early on:

[code]

**What you expected to happen**:
I guess i expected `build/run.sh` as advertised in the README? :smile:

**How to reproduce it (as minimally and precisely as possible)**:
1. Fedora 30 Server
1.

[2019-06-14 21:42] vorburger commented on #79048
The problem seems pretty obvious to me, unless I'm missing something:

How could `docker build` work with `--pull=false` for `FROM k8s.gcr.io/kube-cross:v1.12.5-1`, if you never pulled that image before?

I'll raise a PR proposing a fix...

[2019-06-14 21:44] vorburger commented on #79048
@kubernetes/sig-contributor-experience-bugs

[2019-06-14 21:45] praseodym opened #79049 "Create SECURITY.md for GitHub security policy page"
**What would you like to be added**:
GitHub has a [security policy page](https://github.com/kubernetes/kubernetes/security/policy) that uses a SECURITY.md file from the repository to show the project's security policy.

**Why is this needed**:
Adding this file makes it easier for security researchers to learn about the correct place to report a vulnerability in the Kubernetes project.

[2019-06-14 21:46] praseodym commented on #79049
/sig docs

[2019-06-14 21:58] BenTheElder commented on #79048
Where are we documenting this workflow? The usual workflow should probably be `make WHAT=cmd/kubectl` (or bazel...)

In [the link](https://github.com/kubernetes/kubernetes#you-have-a-working-docker-environment) you provided above I see make?

[2019-06-14 22:08] outception commented on #72991
It results in creating an overlay automatically, not using the volume special by hostPath.

[2019-06-14 22:09] vorburger commented on #79048
found [here](https://github.com/kubernetes/kubernetes/blob/master/build/README.md#key-scripts)

happy [to try Bazel](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/bazel.md)...

that `make` ultimately seems to end up doing pretty much exactly the same:

[code]

[2019-06-14 22:28] cblecker commented on #79048
Looks like it has to do with a difference in flag meanings between docker and podman. `docker build --pull=false` seems to be the equivalent of a `podman build --pull-always=false`. `podman build --pull=false` has a different meaning and functionality.

I would suggest opening up a bug report against libpod.. if they're going to provide an emulation layer, it should probably associate the right fl

[2019-06-14 22:34] rhockenbury commented on #78947
Related - https://github.com/kubernetes/kubernetes/issues/78479

[2019-06-14 22:54] vorburger commented on #79048
https://github.com/containers/buildah/issues/1675

[2019-06-14 22:54] #79048 closed

[2019-06-14 23:28] vorburger opened #79056 "bazel build: ERROR: WORKSPACE file can not be a symlink if incrementally updated directories feature is enabled."
**What happened**:
`bazel build` fails with:

    ERROR: WORKSPACE file can not be a symlink if incrementally updated directories feature is enabled.

**What you expected to happen**:
`bazel build` to work?

**How to reproduce it (as minimally and precisely as possible)**:
[code]

NB: Showing `bazel build` twice above is not a typo - it does work for me the very very first time, but subsequent att

[2019-06-14 23:29] vorburger commented on #79056
@kubernetes/sig-contributor-experience-bug

[2019-06-14 23:34] vorburger commented on #79056
/sig contributor-experience

[2019-06-14 23:37] vorburger commented on #79056
`bazel shutdown` actually works around this problem - but shouldn't be needed?

[2019-06-14 23:43] thockin commented on #77629
I can't fathom how LimitRange affects this.  It only applies at admission (pod creation).

[2019-06-14 23:45] thockin commented on #78560
Is there an actual performance problem this fixes or is it just hypothetical?

I'm sort of against this - I kind of prefer calling out to a well-known tool instead of taking a dependency on yet another library and having to code and debug logic that already exists.

In hindsight, we probably should just call ipvsadm, too.

[2019-06-15 00:57] roycaihw commented on #78913
iiuc sending an empty patch gets short-circuited and doesn't bump CR generation, even if the storage version gets changed, which means we do not re-write to etcd and go through the encoding path
https://github.com/kubernetes/kubernetes/blob/ec02afb46edba4f673173811491498c709de990a/staging/src/k8s.io/apiextensions-apiserver/test/integration/conversion/conversion_test.go#L958

this would be racing a

[2019-06-15 01:00] jaygorrell commented on #77629
I imagined this couldn't be true and there had to be something else. If that's 100% certain I'm fine closing this since I'm unlikely to gather more information anytime soon to reproduce as the issue has been resolved in my clusters.

It just seemed like too much of a coincidence that I had these heavy pods running for months (alongside hundreds of smaller pods) until shortly after adding a too-sma

[2019-06-15 01:15] liggitt commented on #78913
That's correct. It needs to be something that will persist to storage like an incrementing annotation. Good catch

[2019-06-15 01:16] keryy commented on #16785
:KUBE-FORWARD - [0:0]
Jun 15 00:13:34 worker-k8s-n01 kube-proxy[27338]: -A KUBE-FORWARD -m comment --comment "kubernetes forwarding rules" -m mark --mark 0x00004000/0x00004000 -j ACCEPT
Jun 15 00:13:34 worker-k8s-n01 kube-proxy[27338]: -A KUBE-FORWARD -s 172.16.0.0/20 -m comment --comment "kubernetes forwarding conntrack pod source rule" -m conntrack --ctstate RELATED,ESTABLISHED -j ACCE
Jun 15 00

[2019-06-15 03:15] pswica commented on #78227
I can confirm, on test, that this issue exists. It ends up being pretty difficult, in my opinion.

As stated above, it only affects pods and not deployments.

Error is caused here: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/rest/request.go#L1142

When I tested, I got `r.err == nil` and `!errors.IsUnexpectedServerError(r.err)`. Even if I forced to the next blo

[2019-06-15 04:32] zhangxiaoyu-zidif commented on #74374
when recreate pod, check if the PVC was label with deletion. maybe we could delete the PVC immediately by force  and create a new PVC before Pod creation.

[2019-06-15 05:20] roycaihw commented on #78913
you're right. Generation is for non-metadata change only, and the RV changes. I queried etcd locally and the apiVersion did change for an empty patch

(sidetracking: another observation is after changing the storage version (say v1 -> v2; noop convertor), empty-patching v2 endpoint would bump generation, while empty-patching v1 endpoint wouldn't)

[2019-06-15 06:33] qqzeng commented on #33777
it works for me!

[2019-06-15 08:02] yemanaung commented on #44308
https://github.com/yemanaung

[2019-06-15 09:08] hainesc commented on #78646
[code]
Run this example which I get from https://github.com/go-yaml/yaml. It ends with an error. It will be OK if you replace `*/1 * * * *` by a simple string with blank such as `x yz`. If you think it is an bug, you can post an issue for go-yaml.

[2019-06-15 10:58] hamiBU opened #79065 "How to change or update resource limits after scheduling?"
I would like to change/update resource limits after scheduling. What levels should I do?
What parts of codes in go are necessary to be considered?

[2019-06-15 11:01] gajus commented on #49896
I am on v1.12 and I do not understand the message:

[code]

Here is the affinity definition:

[code]

Resource requirements:

[code]

Here is the node pool definition:

<img width="473" alt="Screenshot 2019-06-15 at 11 56 40" src="https://user-images.githubusercontent.com/973543/59550654-24009e80-8f65-11e9-88b6-27ca6e97ec91.png">

What is the reason it cannot be scheduled?

[2019-06-15 11:02] gajus commented on #49896
Never mind. As I posted this, I realised that I typed "secondary" instead of "supporting" infrastructure as the label target.

[2019-06-15 11:42] LiquoriChris opened #79067 "Azure managed disk not mounting as pv"
**What happened**: Getting a MountVolume.Setup failure when configuring a pv with an Azure managed disk.

**What you expected to happen**: Volume should mount to share and be available.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create standard managed disk storage class.
2. Create deployment with a pvc and pv.

**Anything else we need to know?**: Currently using a stan

[2019-06-15 12:02] #72297 closed

[2019-06-15 12:08] dims commented on #78534
@timothysc @neolit123 please cross link when you can. Let's keep this open at least for 1.16 cycle.

[2019-06-15 12:22] oliveiracdz commented on #48569
Hi, everyone!

Any workaround?

Tks!

[2019-06-15 15:05] #71888 closed

[2019-06-15 15:05] #67566 closed

[2019-06-15 15:49] mattjmcnaughton commented on #78950
@dashpole collecting metrics from all the cgroups on the system? Any concerns about how many cgroups there could be?

Also, @dashpole or @roycaihw any interest in implementing this fix (assuming we go with the fallback behavior)? If not, I can try.

[2019-06-15 15:52] #78996 closed

[2019-06-15 15:54] mattjmcnaughton commented on #78973
I would like someone else to confirm, but I believe that a container will only be considered a "failure" if its main process fails. I wonder, is there anyway that we could use the liveness probe here to accomplish your aims? I think that's what k8s typically uses for custom health checks. Alternatively, I wonder if there's also a way to make the failure of the child process lead to the failure of

[2019-06-15 15:55] mattjmcnaughton commented on #78973
One last thought - I think that you may get the quickest answer if you close this issue and instead ask your question in the #sig-node channel on the k8s slack. I've found it to be slightly quicker for these types of problems.

[2019-06-15 16:02] davidkarlsen opened #79069 "panic during `kubeadm init phase kubeconfig all`"
[code]

**What happened**:
[kubeconfig] Using existing kubeconfig file: "/etc/kubernetes/kubelet.conf"
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x18 pc=0x116df4b]

**What you expected to happen**:
should pass OK, or return an message describing what's wrong.

**How to reproduce it (as minimally and precisely as po

[2019-06-15 16:03] mattjmcnaughton commented on #79046
Thanks for looking into this!

Do you want to create a pr? We can then merge this into master and also cherry-pick it back into 1.14. Alternatively, if you don't have capacity for a pr I'm happy to take a stab.

[2019-06-15 16:03] davidkarlsen commented on #79069
@kubernetes/sig-node-bugs @kubernetes/kubeadm-maintainers

[2019-06-15 16:11] tedyu commented on #79069
It seem dereferencing clientcmdapi.Config caused the panic in validateKubeConfig

[2019-06-15 17:14] mikedanese commented on #78252
@holgero if you get this working and are feeling altruistic, please feel free to post the results here (e.g. lua extension code with friendly license). I'm sure others will run into the same thing, so it would be good to have somewhere to point them.

[2019-06-15 18:12] pswica commented on #78211
I agree with @liggitt . I fixed this in my previous PR that fixes `kubectl cp` when copying directly to a directory.

[2019-06-15 18:21] portante opened #79071 "Avoid formatting message strings before invoking logging sub-system"
**What happened**:

See line: https://github.com/kubernetes/kubernetes/blob/503ac59abe106f6cfc894d33b46b4ddfafe38aef/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L544

[code]

**What you expected to happen**:

[code]

In the hopes that the `Infof` method is smart enough to *only* format the log message when the `info` level is sufficient to emit the log message.

**How to reproduce it (as minima

[2019-06-15 20:10] #72977 closed

[2019-06-15 21:22] tedyu commented on #79069
Under branch origin/release-1.4, I don't seem to find kubeconfig.go

[2019-06-15 21:23] hanoisteve opened #79072 "Cannot remove node taints from worker nodes"
**What happened**:
Found my worker nodes in Not Ready state - determined both nodes tainted. Issued command to untainted the nodes and got confirmation that nodes were untainted but checking again the taint remained.

**What you expected to happen**:
Tainted status to be removed.

**How to reproduce it (as minimally and precisely as possible)**:

kubectl taint nodes --all node.kubernetes.io/unreac

[2019-06-15 21:25] hanoisteve commented on #79072
kubectl patch node k8s-node1 -p '{"spec":{"Taints":[]}}'. did not remove it either

[2019-06-15 21:26] hanoisteve commented on #79072
/sig Taints

[2019-06-15 21:49] rafatio commented on #79046
Just created:
#79073

[2019-06-15 22:41] hanoisteve commented on #79072
I checked again with

kubectl get nodes -o json | jq .items[].spec.taints
null
[
  {
    "effect": "NoSchedule",
    "key": "node.kubernetes.io/unreachable",
    "timeAdded": "2019-06-15T22:31:12Z"
  }
]
   Got the timestamp and it keeps getting updated every time I delete so maybe I can close this bug. I would like to know in what sense it is unreachable and if there is any diagnostics I can run

[2019-06-15 22:56] onyiny-ang commented on #78698
@claurence @liggitt How about:

Using --log-file is known to be problematic in 1.15. This presents as things being logged multiple times to the same file. The behaviour and details of this issue, as well as some preliminary attempts at fixing it are documented [here](https://github.com/kubernetes/kubernetes/issues/78734#issuecomment-501372131)

[2019-06-15 23:15] keremgocen commented on #75191
anyone working on this? @sathish-thangaraj

[2019-06-15 23:58] 007 commented on #48767
/remove-lifecycle stale

[2019-06-15 23:58] 007 commented on #48767
/remove-lifecycle rotten

[2019-06-16 01:46] LiquoriChris commented on #79067
@kubernetes/sig-storage

[2019-06-16 01:50] LiquoriChris commented on #79067
@kubernetes/sig-storage

[2019-06-16 02:37] rockylee3128 commented on #78964
@luxas can you give me some advice?

[2019-06-16 02:48] chinglinwen commented on #78973
Thanks. your reply is very helpful ( I'll try slack too ).

I'll consider try to have such  liveness probe, from a brief look, it seems not an easier way ( I don't see any clue how php-fpm can do it, I'm actually don't know php well, it's my colleague writing service in php  ).

Using liveness probe have some feels like a workaround, maybe we can solve it once for all the similar case ( rather tha

[2019-06-16 03:02] rockylee3128 commented on #75114
Hi, @dims , I met the same problem, do you fix it

[2019-06-16 03:04] chaosaffe commented on #25456
/remove-lifecycle frozen
/lifecycle rotten

[2019-06-16 03:07] draveness commented on #75635
/close

Feel free to reopen it if you have any further questions.

[2019-06-16 03:07] #75635 closed

[2019-06-16 04:18] #73000 closed

[2019-06-16 05:11] thatreguy commented on #10179
Any status for this? I usually select all workloads in gke cluster and shudder to think what would happen if I didn't unselect the nginx loadbalancer deployment!
And same goes for services(which has nginx ingress)
Perhaps something like a deleteProtect=true flag would suffice in the spec file?
A mutation flag does not make sense here as we'll have to edit(ie. mutate) the spec to change the flag.

[2019-06-16 05:34] hanoisteve commented on #79072
I posted more details here including describe on node:  https://stackoverflow.com/questions/56614136/how-to-remove-kube-taints-from-worker-nodes-taints-node-kubernetes-io-unreachab

[2019-06-16 06:20] #32326 closed

[2019-06-16 07:24] liboyue23 commented on #65575
I try this reference is ok
https://www.benpickles.com/articles/72-downgrading-kubectl-with-homebrew

[2019-06-16 09:07] hanoisteve commented on #79072
Found the problem on the syslog of worker node:

server.go:265] failed to run Kubelet: Running with swap on is not supported, please disable swap! or set --fail-swap-on flag to false. /proc/swaps contained:

[2019-06-16 09:09] hanoisteve commented on #79072
Evidently swap got turned on the node workers. That was the problem, so closing this issue.  kubelet[29207]: F0616 06:25:05.597536   29207 server.go:265] failed to run Kubelet: Running with swap on is not supported, please disable swap! or set --fail-swap-on flag to false. /proc/swaps contained: [Filename#011#011#011#011Type#011#011Size#011Used#011Priority /dev/xvda5                              p

[2019-06-16 09:09] #79072 closed

[2019-06-16 09:24] #72296 closed

[2019-06-16 11:27] #72747 closed

[2019-06-16 13:29] #73018 closed

[2019-06-16 14:04] mattjmcnaughton commented on #79069
/remove-sig node
/sig cluster-lifecycle

Just updating your sigs, which I think will help get the proper eyes on this the fastest :)

[2019-06-16 14:21] dixudx commented on #78854
/assign

[2019-06-16 14:22] fudali113 commented on #78646
i know this problem is not a bug via read [yaml alias document](https://yaml.org/spec/1.2/spec.html#alias//)

but i can't understand not error tips when this yaml first apply?  and i want write this to cronjob documents.

@hainesc

[2019-06-16 14:27] fudali113 commented on #78564
hello

[2019-06-16 14:57] jaypipes commented on #46255
What's the latest status on this issue?

[2019-06-16 15:15] hainesc commented on #78646
Can you show me your raw yaml file that you applied to `kubectl`? And the output when you applied it.

[2019-06-16 15:25] medmedchiheb opened #79080 "Provide more reliable restrictions for secrets"
By default in kubernetes, secrets can be consumed by pods or users in the specified namespace.

**What would you like to be added**:

I suggest, doing more restrictions for secrets.
By RBAC, is great.
But, we could also enhance the restrictions

I'm thinking about adding `podSelector` In the secret object itself, by doing this, secrets are restricted by default until you specify the `podSelector`.

[2019-06-16 15:31] medmedchiheb commented on #79080
/sig api-machinery

[2019-06-16 15:37] davidkarlsen commented on #79069
Relates to https://github.com/kubernetes/kubeadm/issues/1361

[2019-06-16 15:55] mcanevet commented on #65274
/remove-lifecycle stale

[2019-06-16 17:02] nikhita commented on #79049
/remove-sig docs
/sig contributor-experience

[2019-06-16 17:33] brunojcm commented on #57250
@tsuna Is your VPC CNI plugin updated? Maybe that is affecting these health checks somehow. Mine is now at version 1.4.1, it was 1.2.1 before, both seem to work well in this regard.
Ref.: https://docs.aws.amazon.com/eks/latest/userguide/cni-upgrades.html

[2019-06-16 21:37] #69474 closed

[2019-06-16 21:51] sftim commented on #78995
Is this also relevant to SIG Docs?

[2019-06-16 22:22] caarlos0 commented on #64120
any workarounds for this on 1.9.8?

[2019-06-16 23:04] leoudimg commented on #56304
This issue happens in bare metal installation too... so I think this is not a issue from minkube

[2019-06-17 01:38] liucimin commented on #79065
Now the K8s not support this.
U can see the huawei paas repositiy.
It commit their finish.

[2019-06-17 01:42] #73051 closed

[2019-06-17 03:22] draveness commented on #78831
/unassign

/assign @mgdevstack

[2019-06-17 03:26] warlice opened #79090 "k8s api doesn't support the --device args which support by the docker api。"
**I want mount a char device into container，but not grant privilege to the container**:
1. I use hostpath binding a char device to container。
2. if i doesn't grant privilege to the container， i can't open the char device in the docker container。
3.  if i grant privilege to the container， char device can open in the docker container。

**Docker command client support --device，but i can't find this a

[2019-06-17 03:39] xiongmaodada commented on #78629
@mattjmcnaughton thank you！

[2019-06-17 03:39] #78629 closed

[2019-06-17 03:46] gugahoi commented on #10179
Also would appreciate this, particualrly I would like to flag some namespaces as `noDelete`. I understand at the moment I could create some RBAC policies for that, is that the best approach?

[2019-06-17 04:26] tsuna commented on #57250
I'm using the AWS VPC CNI version 1.4.1 as well.

[2019-06-17 04:38] yue9944882 commented on #79027
out of curiousity, api-service type doesn't seem to have rawextension fields?

[2019-06-17 05:38] almiche commented on #78755
Hi there I can replicate this error by creating a statefulset (since it takes a bit longer than a deployment to boot up). Right after creating the statefulset if I attempt to run `kubectl logs statefulset/<name>` I end up with exactly that error

For reference here is my statefulset's yaml:
[code]
I've run into this issue quite a bit when booting up large StatefulSets which can take sometimes minu

[2019-06-17 05:59] qiyongxiao commented on #78965
/sig platform supported

[2019-06-17 06:15] chenglu01 commented on #76146
I hava seem issue. until now,not fix.  kube-apiserver logs at below:

 k8s-master-1 kube-apiserver[27480]: E0617 13:55:33.043583   27480 controller.go:148] Unable to remove old endpoints from kubernetes service: StorageError: key not found, Code: 1, Key: /registry/masterleases/172.21.230.246, ResourceVersion: 0, AdditionalErrorMsg:

[2019-06-17 06:27] nikhita commented on #79056
I can reproduce this as well...same bazel version as issue body.

/cc @ixdy @fejta @BenTheElder

[2019-06-17 06:51] aojea commented on #79013
You can check follow links that explain how to set up a kubernetes cluster with IPv6

https://github.com/leblancd/kube-v6
https://github.com/aojea/kindnet/blob/master/docs/Kubernetes-IPv6-Cluster.md

[2019-06-17 06:57] wgliang commented on #78976
@likakuli Is there any panic context information or stack information?

[2019-06-17 07:02] paranoidaditya commented on #78755
Have you tried using the `pod-running-timeout` flag?

`The length of time (like 5s, 2m, or 3h, higher than zero) to wait until at least one pod is running`

[2019-06-17 07:21] mborsz commented on #77733
I was thinking about some potential solutions here and this one seems to be interesting to me:

1. kube-controller-manager keeps in memory list of all NotReady nodes
2. kube-controller-manager keeps in memory watch-based list of pods (or simply uses shared listeners for this)
3. If any node becomes NotReady, adds to the NotReady nodes and evicts all pods using cache.
4. If there is any change to p

[2019-06-17 07:48] #69113 closed

[2019-06-17 07:48] agrakhov commented on #74340
seeing same issue with weave net, any ideas?

[2019-06-17 08:01] dror-weiss commented on #45509
@daudn , we're struggling with the same issue and as this issue is over 2 years old I'm having doubts it will be addressed soon.

Have you managed to figure out a solution?

[2019-06-17 08:28] jmf0526 commented on #71907
Same issue here, is there any workaround?

[2019-06-17 08:33] likakuli commented on #78976
@wgliang here is the log
Log file created at: 2019/06/13 18:15:55
Running on machine: localhost
Binary: Built with gc go1.12.1 for darwin/amd64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
F0613 18:15:55.302272   86650 factory.go:261] error initializing the scheduling framework: prebind plugin foo does not exist
goroutine 1 [running]:
k8s.io/kubernetes/vendor/k8s.io/klog.sta

[2019-06-17 08:41] daudn commented on #45509
@dror-weiss The only solution is to use CloudRun. There is a problem with that as well. CloudRun has a timeout on GKE, it's not supposed to. When the timeout of CloudRun on GKE is removed, I think that's the most optimal solution. My work is on hold until Google fixes the issue and removes the timeout when running CloudRun with GKE.

[2019-06-17 08:44] peter-wangxu commented on #79090
Give a try, add following cap for your contain
[code]

[2019-06-17 08:46] cwdsuzhou commented on #64952
@jsafrane @vladimirvivien

I found the error would happen when a pv is attahing(volumeattachment has created) and the csi-attacher is deleted at the same time. Then the log would print so frequently (because of recursion).

[2019-06-17 08:50] gaorong opened #79093 "kubelet failed to delete orphaned pod directory when "/var/lib/kubelet/pods" directory symbolically links to another device's directory"
**What happened**:
In our kubernetes cluster, there are some slave nodes whose root partition has a very little disk space,  so we add another larger-size disk device and symbolically link `/var/lib/kubelet/pods` to a directory located at this larger device. however, kubelet failed to delete orphaned pod directory,  there are lots of spam logging as below:
[code]

After diving into this problem, I

[2019-06-17 08:53] discordianfish commented on #54967
/reopen
/remove-lifecycle stale
/remove-lifecycle rotten
/lifecycle freeze
/cc @fejta Feedback: I don't like it.

[2019-06-17 09:08] chavacava commented on #45509
We are experimenting a workaround with [Argo](https://github.com/argoproj/argo), things look good so far.

[2019-06-17 09:13] warlice commented on #79090
i used the capabilities   add： ["ALL"] ，which include “SYS_ADMIN”, for a container , but also the container  can't open char device. The error message is not permission to open it.

[2019-06-17 09:18] krzysied opened #79096 "[Failing test] GCE-5000: additional list calls in load test"
**Which jobs are failing**:
gce-scale-performance

**Which test(s) are failing**:
Laod test

**Since when has it been failing**:
2019-05-28 10:01 CEST (?)

**Testgrid link**:
https://testgrid.k8s.io/sig-scalability-gce#gce-scale-performance

**Reason for failure**:
There are additional services, pods, nodes calls made by kubelets. Test not always fails due to this, however those call have impact o

[2019-06-17 09:18] krzysied commented on #79096
/sig scalability

[2019-06-17 09:26] krzysied commented on #79096
![kubelet_services_list](https://user-images.githubusercontent.com/25119199/59593525-67d4de80-90f2-11e9-8109-9b600d3be722.png)
[services list - kubelet](http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=APIServer&metricname=LoadRequestCountByClient&client=kubelet%2Fv1.16.0%20(linux%2Famd64)%20kubernetes&code=200&component=apiserver&group=&resource=services&scope=cluster&subresour

[2019-06-17 09:28] krzysied commented on #79096
/assign

/cc @mborsz

[2019-06-17 09:33] krzysied commented on #79096
[code]
Based on kubelet logs, it looks like apiserver is closing watch connection. To recreate watches kubelet needs to list resources. This would explain these additional calls.

[2019-06-17 09:35] neolit123 commented on #79069
i don't think it's related to:
https://github.com/kubernetes/kubeadm/issues/1361
it was about a feature/documentation that is already added in 1.15.

ideally we should not panic in these lines:
https://github.com/kubernetes/kubernetes/blob/release-1.14/cmd/kubeadm/app/phases/kubeconfig/kubeconfig.go#L239-L242
or `kubeadm init phase kubeconfig all`

panicing on line 242 suggests that your kubeconfi

[2019-06-17 09:36] neolit123 commented on #79069
/assign

[2019-06-17 09:37] neolit123 commented on #79069
/remove-kind bug
/triage support

[2019-06-17 09:37] neolit123 commented on #79069
/kind feature
for not panicing on machine generated kubeconfig.

[2019-06-17 09:43] p0lyn0mial commented on #65612
/remove-lifecycle rotten

[2019-06-17 09:58] max-rocket-internet commented on #78988
This not really an option, especially for EKS/GKE/AKS users.

OK this looks interesting! Thanks for the information. I rechecked and this issue is not present in our 1.12 clusters, only older k8s versions. So I will close as it seems to be resolved from 1.12.

[2019-06-17 09:58] #78988 closed

[2019-06-17 10:10] chestack commented on #72482
@denverdino cloud you please help to share how to dump the goroutines stack trace of kubelet like what you did in your comment #1.  thanks a lot.

[2019-06-17 10:17] limbuu commented on #78963
No that doesn't work

[2019-06-17 10:38] White-Duke commented on #78480
Solved

[2019-06-17 10:38] #78480 closed

[2019-06-17 10:39] davidkarlsen commented on #79069
Sorry - can't provoke this any longer as I had to get my cluster on it's feet.
What I did was to delete the config files and let kubeadm regenerate them, which made the panic go away.

[2019-06-17 10:39] mylesagray commented on #65933
@ranjujohn - Can you post the output of `kubectl describe pv`?

[2019-06-17 10:49] neolit123 commented on #78971
by changing the path are you also copying the api server pod manifest to the new path?
currently kubeadm does not support configuring the `/etc/kubernetes/manifests` path.

/sig cluster-lifecycle

[2019-06-17 10:50] neolit123 commented on #78971
/remove-kind bug
/triage support

[2019-06-17 10:50] ranjujohn commented on #65933
@mylesagray PV is not created. So obviously nothing to describe. It gets created at the VMware side.

[root@k8s-1m ~]# kubectl get pv
No resources found.
[root@k8s-1m ~]#

[root@k8s-1m ~]# kubectl describe pv
[root@k8s-1m ~]#

[2019-06-17 10:52] avorima commented on #71105
@msau42 Hey, I'd like to take this if nobody is working on it

[2019-06-17 10:52] neolit123 commented on #78896
/close
thank you for the report, but please try filing this issue in the kubernetes/minikube repository.

[2019-06-17 10:52] #78896 closed

[2019-06-17 11:05] denverdino commented on #72482
This issue is fixed by #72709

[2019-06-17 11:29] krzysied commented on #79096
[code]
From apiserver perspective the watches are being closed after ~0.1s. There is no error there.

[2019-06-17 11:37] #79009 closed

[2019-06-17 11:42] krzysied commented on #79096
@alejandrox1 It looks like there is another regression in gce 5k, that needs to be investigated. Could you add milestone, please?

/cc @wojtek-t

[2019-06-17 11:54] JieJhih commented on #78976
@likakuli Can you provide any information about your registry? Something like: https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md#plugin-registration

[2019-06-17 11:55] konghui opened #79100 "add extend resource by set option of kubelet"
same as #60504

**What would you like to be added**:
 I hope kubelet can add a option help user can't add extend resource directly, without send patch request to the kube-apiserver
**Why is this needed**:
Because send patch request is not easy way on the product environment, need two steps:
1. Need open the kubectl proxy
2. send patch request to the apiserver

In some scenario device plugin is not

[2019-06-17 12:50] KevinRiordan commented on #78981
+1

[2019-06-17 12:52] benmoss commented on #75561
/reopen

This is either a Windows bug or a GCE Agent bug, but the existing fix is solely a workaround for the `cluster/gce` set of provisioning scripts.

[2019-06-17 12:52] benmoss commented on #75561
@madhanrm did you ever investigate this?

[2019-06-17 12:52] likakuli commented on #78976
@JieJhih I didn't implement a plugin. Only add a plugin to the KubeSchedulerConfiguration,

algorithmSource:
  provider: DefaultProvider
apiVersion: kubescheduler.config.k8s.io/v1alpha1
bindTimeoutSeconds: 600
clientConnection:
  acceptContentTypes: ""
  burst: 100
  contentType: application/vnd.kubernetes.protobuf
  kubeconfig: ""
  qps: 50
disablePreemption: false
enableContentionProfiling: fals

[2019-06-17 12:57] #75132 closed

[2019-06-17 13:02] wgliang commented on #78976
Although I am not sure, but I think it is your registry problem, just like @JieJhih  said, can you post the registry? Thanks

[2019-06-17 13:06] wgliang commented on #78976
@likakuli Maybe I understand your question. Indeed, if scheduler can't find the plugin you registered, it will panic directly. This is actually a composite expectation, because if it continues to execute you will not get the scheduling process and results you expect, so it is better to expose it in advance.

[2019-06-17 13:42] timothysc commented on #78995
xref -https://github.com/kubernetes/kubernetes/pull/78543
^ Is an example of continued technical debt that we see and have to pay for in different ways across SCL.

[2019-06-17 13:42] timothysc commented on #78995
xref -https://github.com/kubernetes/kubernetes/pull/78543
^ Is an example of continued technical debt that we see and have to pay for in different ways across SCL.

[2019-06-17 14:11] liggitt commented on #79027
Oops, copy/paste from one of the other follow up issues

[2019-06-17 14:18] leahciMic commented on #48948
Wondering what the best way to develop locally for kubernetes? The base load and slowness of minikube is a deal breaker for rapid development especially when using a laptop.

I have thought about:

1. Running it on a server dedicated to this. This could be a potential solution to run it on a server on my network, but it has it's own issues like being more difficult to update docker images etc, or

[2019-06-17 14:21] dims commented on #48948
@leahciMic did you try kind? https://github.com/kubernetes-sigs/kind

[2019-06-17 14:22] SunHarvey commented on #44665
Because  slave node missing configuration file  “config”
Solution
master:
    mkdir -p $HOME/.kube
    cp -i /etc/kubernetes/admin.conf  $HOME/.kube/config
    chown $(id -u):$(id -g) $HOME/.kube.conf
slave :
Copy files from remote master node ， and rename to config
    mkdir -p $HOME/.kube/
    scp root@matet:/etc/kubernetes/admin.conf   $HOME/.kube/config

[2019-06-17 14:45] nikhita commented on #67566
FYI the way to use code-generator right now is: https://github.com/kubernetes/sample-apiserver/#when-using-go-111-modules

[2019-06-17 14:52] arunbpt7 commented on #78865
@dashpole

# curl -s http://localhost:10255/stats/summary
#

[2019-06-17 14:56] sciffer commented on #33777
Can you share the yaml config?

Thanks,
Shalom

On Sat, Jun 15, 2019 at 2:35 AM Zeng Qiaoqiao <notifications@github.com>
wrote:

[2019-06-17 14:58] daudn commented on #45509
@chavacava I had a look into workflows and wasn't too impressed since it's rather static. Basically piping the output of the first 'process' as input for the next process.

Do you think it's worth me giving it a shot? Can you give me a lil summary of how you are using Argo and for what purpose? If implemented in Argo, does Argo have full control of Nodes? Since my jobs are compute-intensive and lo

[2019-06-17 14:59] msau42 commented on #71105
Hi @avorima thanks for volunteering! Let us know if you have any questions

[2019-06-17 15:09] aaronbbrown commented on #73572
@rushtehrani Were you successful ☝️?  I'm running into this same problem (unfortunately on a 1.10 cluster, which doesn't have this patch) and received the error:

[code]

[2019-06-17 15:13] danwinship commented on #78994
ok then
/close

[2019-06-17 15:18] chavacava commented on #45509
@daudn Argo, as any framework, has its limitations but contrary to CloudRun it can be deployed in our in-premises clusters, and that is a very important point for us.
As you mention, in Argo you can pipe data (_results_) from a process to another, but you can also create _artefacts_ that are saved in a central storage (typically an object store), then you need some glue-code to retrieve the right

[2019-06-17 15:28] jeremywadsack commented on #45509
@daudn, while I'm looking at Argo, if you think it's overkill for your
situation, it sounds like you might be able to accomplish what you need
with jobs and autoscaling. We use that now with compute intensive jobs. By
setting resource request (or affinities) we can ensure that a job pod is
scheduled into the right node group. With autoscaling the nodes get added
when the jobs are scheduled and rem

[2019-06-17 15:36] alejandrox1 commented on #79096
From the looks of it this looks like it is something to fix during v1.16, but please correct me if i'm wrong on this @krzysied
/milestone v1.16

[2019-06-17 15:37] cmluciano commented on #78994
@greghaynes Didn't you say that this forward rule was not working for you?

@zq-david-wang The installed k8s version of 1.14.3 should include that patch right? If so, why would this issue still be happening?

[2019-06-17 15:42] zhan849 commented on #75136
/remove-lifecycle stale

Sry about the delay, Q2 has been crazy, will finalize the KEP by end of next week.

[2019-06-17 16:07] alejandrox1 commented on #78123
The GCE test failures were fixed by https://github.com/kubernetes/kubernetes/pull/78691 and https://github.com/kubernetes/kubernetes/pull/78920
/close

[2019-06-17 16:07] #78123 closed

[2019-06-17 16:09] alejandrox1 commented on #78734
The specific perf regression due to klog v0.3.2 was revert.
However this job is not completely green due to https://github.com/kubernetes/kubernetes/issues/79096

/close

[2019-06-17 16:09] #78734 closed

[2019-06-17 16:23] jin commented on #79056
Fix is to update to 0.26.1. This is https://github.com/bazelbuild/bazel/issues/8475

[2019-06-17 16:33] mm4tt commented on #79096
I'm not sure if we can move this to 1.16.
The last run of the **release blocking** gce-scale-performance failed due to this:
![uF5GbcTyVVR](https://user-images.githubusercontent.com/2604887/59620862-c5612f00-90e2-11e9-83c1-bc081040a526.png)

@krzysied, have we tried running the test with reverted COS version upgrade? Last time we talked about this you had a hunch that it may be related.

[2019-06-17 16:42] krzysied commented on #79096
I'm also not sure about this 1.16. On the other hand is hard to make the decision when previous runs were affected by another regression...

Currently I'm running test to see if the problem is with COS. I'll post update tomorrow morning.

[2019-06-17 16:51] greghaynes commented on #78994
@cmluciano Correct, this rule is not matching on 1.14.3 for me.

[2019-06-17 17:19] alejandrox1 commented on #79096
@mm4tt @krzysied let me understand the scope of this better.

During code thaw (currently), these are the release blocking jobs [1.15-blocking](https://testgrid.k8s.io/sig-release-1.15-blocking).
During the rest of any release cycle, these are the release blocking jobs [master-blocking](https://testgrid.k8s.io/sig-release-master-blocking).
The ci-kubernetes-e2e-gce-scale-performance (the job liste

[2019-06-17 17:31] BenTheElder commented on #79056
/sig release

[2019-06-17 17:54] devdattakulkarni commented on #74560
@tamalsaha How did you solve the problem?

@nilebox I am still getting the error even after calling klog.InitFlags() in my main().

[2019-06-17 18:00] fabianvf commented on #72637
I've seen a few operators using imperative CRDs (like Backup + Restore) that struck me as a possible case where custom subresources might be cleaner.

As for `logs` I would definitely like to have that added to the group of standardized subresources, it would be incredibly useful especially when users have access to the Custom Resources but not the operator (ie, the operator is cluster-scoped). @p

[2019-06-17 18:14] cmluciano commented on #78994
/reopen

[2019-06-17 18:29] mm4tt commented on #79096
To recap the whole picture here:

1. On May 27th, in https://github.com/kubernetes/test-infra/pull/12773 we stopped overriding the cos version in our scalability test (we had done do it for some historical reasons that I only have a vague idea about).  Since then the scalability tests started using the oss default cos version, bumped up to cos-beta-73-11647-64-0 in https://github.com/kubernetes/ku

[2019-06-17 18:45] claurence commented on #79096
Thanks @mm4tt for the added details.

Given this we are delaying the 1.15 release to tomorrow to get a better idea of these failures and if we do need to hold the release for them.  Please let us know as early tomorrow as possible what the impact to release is (i.e. if we need to delay further than a day or if we can ship with these issues and fix them in a followup patch)

[2019-06-17 19:27] RRAlex commented on #57187
/remove-lifecycle rotten

[2019-06-17 19:39] #55453 closed

[2019-06-17 19:46] logicalhan opened #79108 "Add readyz to GCE manifest"
Add readyz to GCE manifest for readiness checking on the apiserver.

/assign @logicalhan

[2019-06-17 19:46] logicalhan commented on #79108
/sig api-machinery

[2019-06-17 20:05] thockin commented on #77629
Correct - that is only when a pod is first admitted and schedule.

Given that we can not repro, I will close this for now, but if anyone else sees this and can find a correlation, please reopen!

[2019-06-17 20:05] #77629 closed

[2019-06-17 20:07] thockin commented on #78935
I have no objections, but I am not sure how to express the bounds of this stuff in general.  There's certainly a lot of code organization, CHANGELOG, etc PRs that I'd be happy to not get.

[2019-06-17 20:09] devdattakulkarni commented on #74560
Update:
Pinning component-base in go.mod to following version solved it for me.

replace k8s.io/component-base => k8s.io/component-base v0.0.0-20190612130303-4062e14deebe

[2019-06-17 20:41] BenTheElder commented on #71579
/remove-lifecycle stale

[2019-06-17 20:45] BenTheElder commented on #79048
thanks! @cblecker do you think those are really a good workflow? I would think the best workflow is to use the make / bazel targets :sweat_smile:

[2019-06-17 20:55] cblecker commented on #79048
Well, you *are* running make targets.. it just some are able to be run inside the containerized build system. Running a `make release` is basically a `build/run.sh make cross`. Totally a supported method. What we don't currently support is unique configurations for other build tools (like podman/buildah).

[2019-06-17 21:09] hh commented on #78830
We need to identify exactly which test is hitting *PVC endpoints.

[2019-06-17 21:10] arbach commented on #71765
Any update on this ?

[2019-06-17 21:13] arbach opened #79110 "Detach sequence key support, Ctrl + P"
ctrl+p is commonly used as up arrow, however same combination is the detach sequence for docker. This need to be configured in the coniguration file, or command line option --detach-key.

Will be great if we can add same option to kubectl.

@kubernetes/sig-cli-feature-requests

[2019-06-17 21:14] arbach commented on #79110
@kubernetes/sig-cli-feature-requests

[2019-06-17 21:16] jennybuckley commented on #79004
/cc @jpbetz

[2019-06-17 21:19] jennybuckley commented on #79034
/cc

[2019-06-17 21:20] jennybuckley commented on #79080
/sig auth
/remove-sig api-machinery

[2019-06-17 21:32] #79049 closed

[2019-06-17 21:41] roycaihw commented on #78913
another theory:

our cached storage strategy could be stale if the CRD informer merges multiple events together (e.g. the informer does a re-list). Two scenarios:

1. delete-create-update events merged into an update event:
- strategy with UID:a was created on demand for CRD Foo
- Foo was deleted and recreated
- strategy with UID:b was created on demand for the new Foo
- new Foo got updated (e.g.

[2019-06-17 21:55] sftim commented on #18982
A few thoughts.

1. OSCP stapling could work via periodic updates to CertificateSigningRequest objects. That way, parts of the cluster can use long-lived certificates and also let clients benefit from stapled OCSP responses.
   For example, stapling an OCSP response that says that the certificate is OK for the next 300 seconds.
   OCSP stapling is useful for clients outside the cluster (eg `kubect

[2019-06-17 22:03] #71134 closed

[2019-06-17 22:45] devaips opened #79115 "Promote Pod Test to Conformance"
Using the list of tested stable endpoints referenced in https://github.com/kubernetes/kubernetes/issues/78748, we can pick out the endpoints which are part of the Pod kind:

[patchCoreV1NamespacedPodStatus](https://apisnoop.cncf.io/?zoomed=operationId-stable-core-patchCoreV1NamespacedPodStatus&showUntested=false&showConformanceTested=false)

[listCoreV1PodForAllNamespaces](https://apisnoop.cncf.io

[2019-06-17 22:55] roycaihw commented on #78950
thanks for looking into this! @mattjmcnaughton Sorry I'm not familiar with cgroups. I'm don't know any modification to my system assigns cgroups in particular

[2019-06-17 23:05] nilebox commented on #74560
/remove-lifecycle stale

[2019-06-17 23:20] devaips opened #79116 "Promote PodTemplate Test to Conformance"
Using the list of tested stable endpoints referenced in https://github.com/kubernetes/kubernetes/issues/78748, we can pick out the endpoints which are part of the PodTemplate kind:

[createCoreV1NamespacedPodTemplate](https://apisnoop.cncf.io/?zoomed=operationId-stable-core-createCoreV1NamespacedPodTemplate&showUntested=false&showConformanceTested=false)

This is a stable core endpoint which has e

[2019-06-17 23:46] devaips opened #79117 "Promote PersistentVolume Tests to Conformance"
Using the list of tested stable endpoints referenced in https://github.com/kubernetes/kubernetes/issues/78748, we can pick out the endpoints which are part of the PersistentVolume kind:

[createCoreV1PersistentVolume](https://apisnoop.cncf.io/?zoomed=operationId-stable-core-createCoreV1PersistentVolume&showUntested=false&showConformanceTested=false)
[deleteCoreV1PersistentVolume](https://apisnoop.

[2019-06-18 00:34] logicalhan opened #79118 "Add ability to show hidden/deprecated metrics for metrics-registry"
The metrics framework requires the ability to optionally display hidden (deprecated) metrics. A boolean needs to be piped through the registry (possibly at initialization or possibly set later) which then needs to be passed to the Create function so that we can determine whether we need to actually create the metric.

/sig instrumentation

[2019-06-18 00:42] mm4tt commented on #77538
After the conversation I had with @bowei, I'm un-assigning to make it go through the regular triage process.

/unassign @freehan

It's not a super high priority, but would be great if someone from the sig-network team could take a look. This effort could potentially result in releasing over 10K of public IPs.

[2019-06-18 01:39] cofyc commented on #66567
/lifecycle frozen

[2019-06-18 02:08] zq-david-wang commented on #78994
@cmluciano, yes it should be in 1.14.3 (I verified it on 1.14.3....),  sorry I did not pay too much attention to the version in this bug report.....
In my 1.14.3 cluster, there would be a rule adding kube-service to forward chain:

[code]

@greghaynes could you verify this rule in your cluster?
The kube-services should also be in INPUT/OUTPUT chain in filter table.

[2019-06-18 02:20] hh commented on #78830
The tests that we could promote here would increase coverage by 4 endpoints.
However we need a test strategy for storage that works across all providers.
Basically tests that support the various ways providers supply PVCs.

[code]

[2019-06-18 02:21] hh commented on #78828
Promoting this one test will increase Conformance Coverage by 4 endpoints.

[code]

[2019-06-18 02:22] hh commented on #78831
The specific tests that if promoted would increase Conformance Coverage by 2 endpoints:
[code]

[2019-06-18 02:37] hh commented on #78831
Promoting https://github.com/kubernetes/kubernetes/pull/79120 will increase Conformance Coverage by 2 endpoints.

[2019-06-18 02:52] nbwest opened #79121 "kubectl wait --all with --all-namespaces doesn't find resources"
Running the command
kubectl wait --for=condition=Ready pods --all --all-namespaces
results in
error: no matching resources found**What happened**:
However, running
kubectl wait --for=condition=Ready pods --all -n kube-system
provides expected output with pods in namespace being enumerated.

**What you expected to happen**:
All pods in all namespaces would be checked against the Ready condition

**

[2019-06-18 02:54] hh commented on #78832
Promoting https://github.com/kubernetes/kubernetes/pull/79119 will increase Conformance Coverage by 1 endpoint.

[code]

[2019-06-18 02:58] vllry commented on #78685
/close

[2019-06-18 02:58] #78685 closed

[2019-06-18 03:01] vllry commented on #77493
/unassign

[2019-06-18 03:04] vllry commented on #77476
/close

Reopen if this issue re-occurs.

[2019-06-18 03:04] #77476 closed

[2019-06-18 03:05] hh commented on #78835
Promoting this test will increase Conformance Coverage by 1 endpoint.
[code]

[2019-06-18 03:32] hh commented on #79116
Promoting either of these test will increase Conformance Coverage by 1 endpoint.
[code]

[2019-06-18 03:35] nbwest commented on #79121
@kubernetes/sig-apps-bugs

[2019-06-18 03:37] xudifsd commented on #25456
Same here, hanging for more than 12 hours. I've tried to restart docker daemon and kubelet, not working. But restart of etcd works for me.

[2019-06-18 03:37] zachmandeville commented on #78834
Promoting #79112 would increase conformance coverage by two endpoints
[code]

[2019-06-18 03:50] RainbowMango commented on #78954
Any task i can do now?

[2019-06-18 03:50] Mentality-is-better commented on #79013
@aojea  Thank you

[2019-06-18 03:53] vllry commented on #79013
/close

[2019-06-18 03:53] #79013 closed

[2019-06-18 04:10] vllry commented on #73698
/unassign

[2019-06-18 05:12] globervinodhn opened #79126 "Slow Test analysis: "Pod should avoid nodes that have avoidPod annotation""
**What would you like to be added**:
The existing E2E test - "Pod should avoid nodes that have avoidPod annotation" - takes around 684 seconds i.e., 11 minutes to execute successfully. The tet is currently not marked SLOW as is expected to be.

**Why is this needed**:
Analysis to determine the reason for such slow execution of the test is a must to ensure that remedial solutions can be applied for

[2019-06-18 05:13] globervinodhn commented on #79126
/sig testing
/sig priority

[2019-06-18 05:15] globervinodhn commented on #79126
/kind design
/kind cleanup

[2019-06-18 05:16] globervinodhn commented on #79126
remove /kind feature

[2019-06-18 05:20] globervinodhn commented on #79126
/unlabel /kind cleanup

[2019-06-18 05:35] globervinodhn opened #79127 "Improve E2E to test Pod Anti-Affinity: "Pod should be scheduled to node that don't match the PodAntiAffinity terms""
**What would you like to be added**: The existing E2E - "Pod should be scheduled to node that don't match the PodAntiAffinity terms" (priorities.go) - is to to be improved upon as per the below points,

1. The check at the end is to verify that the pod is scheduled onto the node that does not match the Pod anti-affinity rules and this has to be done with Gomega Expect-To but Gomega Expect-NotTo is

[2019-06-18 06:13] annProg commented on #78993
Same problem on kube-proxy 1.12.9 。 Only UDP rules not updated

![image](https://user-images.githubusercontent.com/4145852/59657349-08023480-91d3-11e9-90da-c44bd523666b.png)

[2019-06-18 06:34] Davidrjx commented on #75290
i encountered same problem,any solution?

[2019-06-18 06:52] peter-wangxu commented on #79090
Did you try my advice? can you share how you test?

[2019-06-18 06:58] Moshem123 commented on #65233
Workaround for the meantime:
[code]

[2019-06-18 07:17] alenkacz commented on #79126
I'll take a look at this one

[2019-06-18 07:52] svenbs commented on #78125
This also happens in our environment for cronjobs quite regularly.
Because of different reasons cronjob pods sandboxes wont be created. Resulting in hanging cronjobs getting overdued. This also triggers #42649 for us (jfi).

[2019-06-18 07:56] ppanczyk commented on #69528
+1
I use custom CSI plugin and would also like to be able to modify **and remove** nodeAffinity for provisioned volumes.

[2019-06-18 08:00] Pingan2017 commented on #79100
/sig cli

[2019-06-18 08:13] #67057 closed

[2019-06-18 08:29] holgero commented on #78252
@mikedanese Sure, I will do that. There is also an issue open at envoyproxy/envoy about the need for a parsed subject as header: https://github.com/envoyproxy/envoy/issues/6601

[2019-06-18 08:40] lingyanmeng commented on #20753
Thanks @robersongomes , it works for me!

[2019-06-18 08:46] zq-david-wang commented on #78994
@greghaynes  I am reading the output of iptables-save you posted on slack when I notice a rule which may be relevent.
[code]
It seems calico would insert a default ACCEPT "policy" for forward chain via a specific rule....
But I am not sure which chain would be processed first, kube-service or cali-FORWARD

According to your post, cali-FORWARD came first, my guess is that cali-FORWARD chain got pro

[2019-06-18 08:50] medmedchiheb opened #79134 "Ability to move/copy all namespaced objects"
**What would you like to be added**:

Always testing require some good functionality.
in kubernetes we have some good testing behavior.
but we could enhance it.

I'm suggesting to be able to move or copy all namespaced API objects from a namespace to another.

However, it's a powerful feature, since when you are going to test something but you won't modify actual state.

i suggest also, to be spec

[2019-06-18 08:59] liqlin2015 opened #79135 "kubernetes for edge computing case"
**What happened**:
I expect to run a kubernetes with minimum resource for edge computing case. For example, run kubernetes on you phone, IoT device, switch, etc

**What you expected to happen**:
The edge case may not require much complex scheduling, admission control plugin, volume plugin. So we'd expect to
- disable those component in the building stage to have a minimum hyperkube binary.
- light

[2019-06-18 08:59] liqlin2015 commented on #79135
/ kind feature

[2019-06-18 09:01] chiragrk commented on #78228
I seem to hitting the exact same error:

minikube --vm-driver=none start  --extra-config=kubelet.resolv-conf=/run/systemd/resolve/resolv.conf

kubetest --provider=local --test --test_args="--host=https://localhost:8443 --ginkgo.focus=\[Feature:Performance\]"

logs:
--------
W0618 08:44:07.163354   17440 metrics_grabber.go:79] Master node is not registered. Grabbing metrics from Scheduler, Controll

[2019-06-18 09:42] snowplayfire commented on #78842
@dims  I have committed a PR as your suggestion, thank you!

[2019-06-18 09:51] timoreimann commented on #67853
hey there @vladimirvivien 👋 can I ask if this issue was closed because it got fixed?

[2019-06-18 10:19] bazzargh commented on #78993
@annProg you may want to follow #79103 the fix for this bug is being applied to 1.12.x there

[2019-06-18 10:34] rohitsardesai83 commented on #79135
Please check https://github.com/kubeedge/kubeedge/ .
Maybe it suffices some of your requirements.

[2019-06-18 10:38] daudn commented on #45509
@chavacava So even with Argo the scaling issue remains. Problem is, we do about 300 runs a year. each run has 48 parallel processes on separate CPUs. That's 300 x 48 x 10 = 144,000 compute hours/year (simply waiting to scale down) The CPU's are 6Core 24 Gb. So 144,000 x $0.214 = $30,816 per year wasted on waiting for nodes to scale down.

@jeremywadsack Jobs work on top of Kubernetes, the entire p

[2019-06-18 10:45] mborsz commented on #79096
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1140530001343418374 has failed as well with:

[code]

kube-apiserver.log for that request has this entry:
[code]

So we have spent most of the time in 'Writing http response' which can mean one of: lack of network or cpu in kube-apiserver or client, but based on our grafana dashboards for that period it lo

[2019-06-18 11:03] DanAmt commented on #50375
+1 for sure

[2019-06-18 11:05] mborsz commented on #79096
I can't find any other LISTs around that time (there are some O(10s) earlier and after, but I don't think they can affect this given that they are finishing in O(80 ms)).

[2019-06-18 11:11] mborsz commented on #79096
clusterloader2 doesn't seem to be very busy that time:
[code]

[2019-06-18 12:06] MohammedFadin commented on #61117
I'm having the exact same issue on IBM Cloud Kubernetes as well.

[2019-06-18 12:31] krzysied commented on #79096
I've run tests with reverted COS. I haven't spotted any difference. There is still a problem with additional service lists.

[2019-06-18 12:46] mborsz commented on #79096
Re failing density test:

The increased latency is caused by a huge number of pods LISTS generated by node-controller (taint manager?).

On the initization, taint manager iterates all nodes and for each triggers /api/v1/pods?labelSelector=nodeName=X query which generates very big load on the cluster. This increases all the latencies.

In the

In the 1140530001343418374 run, the latency graph looks

[2019-06-18 12:47] mgoldbas commented on #61051
I am getting 255 error codes on my airflow deployment, any tips would be appreciated

[2019-06-18 12:48] mborsz commented on #79096
For me, it looks like we have three different issues right now:
1. Density test -- node controller overloading master
2. replicaitoncontrolller LIST latency in load
3. Increased number of LIST services in load test.

While 2. can be a flake, 1. and 3. both seem to be valid issues.

[2019-06-18 13:05] chestack commented on #72482
using pprof is a answer to my question
`curl http://localhost:8001/api/v1/proxy/nodes/node-1/debug/pprof/goroutine?debug=2`

@denverdino  thank you anyway.

[2019-06-18 13:30] claurence commented on #79096
@wojtek-t @shyamjvs - have you all gotten enough information to determine if this should block the 1.15 release?

[2019-06-18 13:43] mborsz commented on #79096
Just to dump our (my and @krzysied) understanding of the problem '3.'.

For some unknown yet reason, kubelets are failing to renew lease:

e.g. in 1140530001343418374, ```104.196.17.9``` node:
[code]

What is interesting is that although kubelet claims it hasn't received response to PUT:

[code]
kube-apiserver.log says it finished in 7ms:
[code]

Then kubelet retries to PUT update which fails as t

[2019-06-18 14:00] andrewsykim commented on #78993
Main fix is in master, cherry pick PRs approved and should be merged soon. Please re-open if you can reproduce on versions with latest fix (https://github.com/kubernetes/kubernetes/pull/78999)

/close

[2019-06-18 14:00] #78993 closed

[2019-06-18 14:03] claurence commented on #79096
@mborsz would anyone who is looking into this issue be able to join our 1.15 release call in an hour (8am PT) to give an update?

[2019-06-18 14:28] benmoss commented on #75561
@dineshgovindasamy @madhanrm is there a plan for HNS to support multiple IPs on the same interface?

[2019-06-18 14:31] gridworkz commented on #61117
It seems to happen to me when I have too many application instances running
and too few nodes. It doesn't matter what the size of the nodes are. I have
a simple 3 node test cluster going. I create one project/namespace and run
one instance of Odoo - all good. I add a few more instances of Odoo and
after a week or so I'm plagued with pleg. My nodes are beefy too. This has
happened on Upcloud, Hetzn

[2019-06-18 14:34] mariojacobo commented on #40846
@ThomasHartz  was tearing my hear out with this issue. thanks a bunch !

[2019-06-18 14:40] vllry commented on #7856
@lavalamp what are the next steps?

[2019-06-18 15:05] mm4tt commented on #79096
Thanks @mborsz and @krzysied, great analysis!

If we can exclude the COS version upgrade, then there is a big chance that the regression is only in the master branch and not in the 1.15 branch.
We'll need one more day though to verify this assumption.

We'll be running the tests shortly on 1.15, they take ~12h so we'll have the results by tomorrow's morning.

[2019-06-18 15:12] tmc9031 opened #79141 "add "kubeadm stop" parameter (or any other cli) to stop entire cluster"
**What would you like to be added**:
Please add "kubeadm stop" parameter (or any other cli) to implement safely stop entire cluster for manitain some server node

**Why is this needed**:
Read all k8s document i can NOT find any method to stop cluster, and have to directly poweroff all server node
I am NOT sure that is safe for container running, i hope k8s can provided official poweroff method

[2019-06-18 15:17] tmc9031 commented on #79141
/sig cluster-lifecycle

[2019-06-18 15:25] justaugustus commented on #79096
/sig release
/milestone v1.15
/priority critical-urgent

[2019-06-18 15:42] rokerkony commented on #44273
/reopen
it seems many more people have a problem with this

We have the same problem (`Kubenet does not have netConfig. This is most likely due to lack of PodCIDR`) on
- GKE with k8s version 1.11.8-gke.6

[2019-06-18 16:01] Ramane19 commented on #30961
Can someone help me with this? I get the error of "error converting YAML to JSON: yaml: line 5: mapping values are not allowed in this context"

 2 ----
      3  apiVersion:v1
      4  kind:PersistentVolume
      5  metadata:
      6    name: pv-1
      7    labels:
      8     type: local
      9 spec:
     10   capacity:
     11     storage: 5Gi
     12   accessModes:
     13     -ReadWriteOnce

[2019-06-18 16:21] dannyk81 commented on #71358
Hey @lbernail @m1093782566 I've been following this issue and we recently hit the keepalive timers inconsistency problem in few of our clusters.

The specific issue relates to a Java service using spymemcached library (in case others hit similar issue), this library creates a persistent connection to memcached, however doesn't set the SO_KEEPALIVE option on the socket, we patched it to support it

[2019-06-18 16:31] lbernail commented on #71358
@dannyk81 you can allow more sysctls with `--allowed-unsafe-sysctls` but I thought net.* was whitelisted
Which version of Kubernetes are you running?

[2019-06-18 16:39] dannyk81 commented on #71358
@lbernail, I'm on 1.13.2

I thought so too... however the documentation (from 1.14) states:
[code]

[code]

I suppose we'll have to edit our kubelet configuration to allow tuning these attributes :disappointed:

The other alternative would be to extend the IPVS timeout beyond 7200 seconds, but I don't feel comfortable with this approach since it's a bit difficult to predict the impact of this chan

[2019-06-18 16:50] max-rocket-internet commented on #78761
Our deployment strategy could be also relevant:

[code]

[2019-06-18 16:56] chardch commented on #71437
Hey @davidz627 It looks like these tests are being run in Ubuntu still. https://testgrid.k8s.io/canonical-ubuntu2-k8sstable1#gce-ubuntu2-k8sstable1-serial

To confirm, these xfs tests shouldn't be running for Ubuntu?

[2019-06-18 17:01] bclau commented on #68791
/reopen

[2019-06-18 17:01] bclau commented on #68791
/remove-lifecycle rotten

[2019-06-18 17:09] nzoueidi commented on #65180
Do we still need this? I might work on it..

[2019-06-18 17:11] paulhodson commented on #73240
Device plugins in general are too dependent on `privileged: true` in my opinion. I encountered the same problem, and have addressed it for now by creating a `pluginusers` group on the node and all relevant containers and having a `node-prep` container which does:
[code]
It goes without saying that the `device-plugins` folder is mapped from node to container.

I am hopeful that the security model w