[2021-11-24 10:28] pohly commented on #106428
We have this problem in kubelet. With the benchmark + log analysis tool from https://github.com/kubernetes/kubernetes/pull/106594 I found the following struct parameters with embedded multi-line strings in a kubelet log:

[code]

[2021-11-24 10:32] aojea commented on #106569
:/ not a single failure in 20 mins

[code]

[2021-11-24 10:41] almiroshnich commented on #88555
Here's the relevant issue that has a workaround for this problem, plus some deep-dive details about the root cause.
https://github.com/kubernetes/kubernetes/issues/89898#issuecomment-876539217

[2021-11-24 10:44] Rajalakshmi-Girish commented on #106569
@aojea Can you please try:
[code]

[2021-11-24 10:50] yuvaldolev commented on #105798
@mauriciopoppe Yes, I tried `kubetest`, but got the same errors as well

[2021-11-24 11:07] Rajalakshmi-Girish commented on #106569
Why was the binary for `^TestReconnectBroken` being generated when we are running stress tool for `TestHTTP1DoNotReuseRequestAfterTimeout`?
Please help me understand if I am missing something.

[2021-11-24 11:10] nilesh-telang commented on #105703
Hi,

Sorry for the delay in updating the status. I have run multiple tests to verify the behavior. I have specified below the results of the tests and what I plan to attempt next.

To summarize, unfortunately in all the tests that I ran, connection to external components (SNS, Kafka, Redis) failed during the graceful shutdown period. I will be running further tests to verify if there is a work aro

[2021-11-24 11:22] aojea commented on #106569
I was lazy and carried over the cli flags, but it doesn't matter, the generated binary is the same

[code]

[2021-11-24 11:49] pantelis-karamolegkos commented on #53459
+1

[2021-11-24 13:02] VivekThrivikraman-est opened #106651 "After pod restart sctp traffic does not reach other pod behind Loadbalancer service"
### What happened?

There were 2 pods serving sctp traffic behind Loadbalancer service(externaltrafficpolicy cluster). The  sctp client accessing the LB service reuses source port. After the pod to which the sctp client was connected is restarted(or stopped) the traffic is not routed to the other available endpoint because of stale conntrack entry, since the client continuously retries to establis

[2021-11-24 13:07] VivekThrivikraman-est commented on #106651
/sig network

[2021-11-24 13:15] #95488 closed

[2021-11-24 13:18] pohly opened #106652 "JSON: *v1.Container not logged as struct"
### What happened?

kubelet logs a "container" key/value pair:
https://github.com/kubernetes/kubernetes/blob/c8c81cbfbb381129c904ed1ab387744946cf807a/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L902

That value is a `*v1.Container`:
https://github.com/kubernetes/kubernetes/blob/c8c81cbfbb381129c904ed1ab387744946cf807a/pkg/kubelet/kuberuntime/kuberuntime_container.go#L100

The resulting JSON log

[2021-11-24 13:18] pohly commented on #106652
/sig instrumentation
/wg structured-logging

[2021-11-24 13:37] wojtek-t opened #106654 "Unify kubemark-scale settings with 5k-node tests wrt to core components flags"
As mentioned in:
https://github.com/kubernetes/kubernetes/pull/106085#issuecomment-977863691

We seem to be setting different flags for kubemark-scale.

FWIW - I don't think it's the only thing actually. If seems that certain env-vars that we're setting in the kubemark configs:
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml#

[2021-11-24 13:38] wojtek-t commented on #106654
/triage accepted

I will try to look into it later this week

[2021-11-24 13:45] neolit123 commented on #106589
This seems like a change that should be part of 1.23 before release and
backported to older releases.

Although our HA upgrade e2e tests are not exhibiting the bug for some
reason.

[2021-11-24 14:17] pohly commented on #106652
This happens when passing `*v1.Container` (pointer) as value in the key/value pair. It works when passing `v1.Container` (value).

[2021-11-24 14:47] sebltm commented on #106419
@denkensk
1. It's a rather small cluster, around 50 nodes with 800 or so pods, but with multiple autoscaler groups that can take the cluster to a few hundred nodes
2. If by multi-scheduler, you're talking about multiple schedulers (default + user-provided) then no, we're only using the default scheduler running on three master nodes
3. Nope, our scheduler is very much vanilla as far as I know

[2021-11-24 14:47] liggitt commented on #106625
changing a CRD from NamespaceScoped=true to NamespaceScoped=false is not supported, and should be prevented by update validation:

https://github.com/kubernetes/kubernetes/blob/c8c81cbfbb381129c904ed1ab387744946cf807a/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation.go#L113

https://github.com/kubernetes/kubernetes/blob/c8c81cbfbb381129c904ed1ab387744946cf807

[2021-11-24 14:48] liggitt commented on #106625
/remove-sig cli

[2021-11-24 14:49] liggitt commented on #104641
if the updated merge is not available ~today, we should revert #105983 to make sure we don't ship 1.23 with unfinalized changes

[2021-11-24 14:55] aojea commented on #106651
yeah,
/triage accepted
/assign

[2021-11-24 14:56] liggitt opened #106656 "openapi v3 fixtures embed Kubernetes version"
### Which jobs are failing?

pull-kubernetes-verify

### Which tests are failing?

verify-openapi

### Since when has it been failing?

Since master moved to 1.24.0-alpha.0 tag

### Testgrid link

_No response_

### Reason for failure (if possible)

The openapi v3 fixtures embed the Kubernetes version. This means master and release branches conflict, and means master starts failing tests as soon a

[2021-11-24 14:57] liggitt commented on #106656
The fix is to do the same thing we do for the openapi v2 json fixture, and drop the version: https://github.com/kubernetes/kubernetes/pull/84654

[2021-11-24 15:04] dims commented on #104641
cc @endocrimes @SergeyKanzhelev @ehashman

[2021-11-24 15:08] liggitt commented on #104641
fyi, this is apimachinery, not node

[2021-11-24 15:36] liggitt commented on #104641
Actually, since we're in rc territory already, I opened the revert in https://github.com/kubernetes/kubernetes/pull/106660 and picked to release-1.23 in https://github.com/kubernetes/kubernetes/pull/106661. Once the updated merge is ready, we can consider backports.

[2021-11-24 15:37] nerzhul commented on #93802
i confirm we have the same issue on our side on 1.21 series. on a very very huge fileshare (millions of files) it chown for minutes, strace on kubelet process showed it.
[code]
patching our CIFS driver with FSGroup: false solved the issue

[2021-11-24 15:45] neolit123 commented on #106622
/sig apps

[2021-11-24 15:46] jsturtevant commented on #106640
We discussed this a bit on slack, the test is using %COMPUTERNAME% to validate we are running on the host. This value is truncated to 15 chars on windows due to netbios.  We could use the hostname, which isn't truncated, with a fallback to computer name for this validation to make the test validate more scenarios.

Important to note that some scenarios might not work if in older environments that

[2021-11-24 15:49] neolit123 commented on #106649
hi, how are you creating the cluster? kubeadm or something else?

what is the concern if the oom score is -977?
why do you think the oom score should be 988.

value close to 1000 means = more likely for the process to be killed.

/sig network

[2021-11-24 15:49] neolit123 commented on #106649
/triage needs-infromation

[2021-11-24 16:17] jiahuif commented on #104641
Since we already have two new candidates for the new algorithm, this issue should settle soon-ish.

[2021-11-24 16:18] liggitt commented on #104641
that's fine, but at this point, this seems like a candidate for v1.23.1 via normal backport

[2021-11-24 16:18] varshaprasad96 commented on #105353
@uhari03 can this be moved to the 1.24 milestone? Looks like 1.23 milestone has been cleared from #105415

[2021-11-24 16:25] pohly commented on #106652
This seems to be how `zap.Reflect` handles pointers. Options for solving this:
- in Kubernetes: find values that are pointers via static analysis and treat that as error, then replace with value
- in zapr: when checking values, add reflection while iterating over key/value pairs and replace pointer with value on-the-fly (must be optional)
- in zap: make behavior or `zap.Reflect` configurable

[2021-11-24 16:29] uhari03 commented on #105353
@varshaprasad96 I'm guessing it has to be moved to 1.24 now, I'm still waiting for someone to approve so the test runs.
We were blocked by the CLA due to issues with the latest linux foundation migration, but that has been resolved.

[2021-11-24 16:31] thockin commented on #106267
It was added for a reason, but I think that reason was mixed-family slices (before we decided to break it up into single-family slices).

What would it mean to have multiple addresses here?  Are they assumed to be equivalent?  Or do they have different context (like a split-horizon)?  If the latter, there isn't any metadata here (i.e. it's not a struct like `podIPs` to allow new fields).

I am inc

[2021-11-24 16:34] pohly commented on #106652
Another, better option:
- in Kubernetes: wrap the `zapcore.Encoder` for JSON so that `AddReflected` first replaces a pointer with its value

This has the advantage that neither zap nor zapr must be changed and that the additional reflection step + copying only happens directly before it is needed.

[2021-11-24 16:36] #106656 closed

[2021-11-24 16:40] MadhavJivrajani commented on #106625
@astraw99 if possible, please try to reproduce this on a a K8s version that is currently supported. More info [here](https://kubernetes.io/releases/version-skew-policy/#supported-versions).
(1.18.x does not have patch support anymore)

[2021-11-24 16:43] sudeep-ib commented on #15478
This probably needs to be re-opened :)

[2021-11-24 17:02] brianpursley commented on #106125
@SaiHarshaK Do you think `wait.Poll` is even needed?  It seems like if the status is not Running at this time, that is an error.

I find it strange that this would time out.  Does that imply the status of the pod is not running?

I wonder if liveness probes continue to run while prestop is in progress.  :thinking:

[2021-11-24 17:03] serathius commented on #104549
/retitle Provide default audit logging policy

[2021-11-24 17:04] serathius commented on #104549
/remove-lifecycle stale

[2021-11-24 17:15] #102908 closed

[2021-11-24 17:23] SaiHarshaK commented on #106125
@brianpursley I also think that it isn't necessary. The pre-stop hook will make sure the pod is still running so there shouldn't be any error returned. If for some reason it failed, then it just might be an issue with the code changes.

[2021-11-24 18:08] Rajalakshmi-Girish opened #106663 "[Flaky Test] Kubernetes-unit-tests ^TestStatefulSetControl is being flaky"
### Which jobs are flaking?

periodic-kubernetes-unit-test-ppc64le
**Sample failed job:** https://prow.k8s.io/view/gs/ppc64le-kubernetes/logs/periodic-kubernetes-unit-test-ppc64le/1463383575909896192

https://prow.k8s.io/job-history/gs/ppc64le-kubernetes/logs/periodic-kubernetes-unit-test-ppc64le

### Which tests are flaking?

test `TestStatefulSetControl` and its sub tests under ```k8s.io/kuberne

[2021-11-24 18:08] pohly commented on #106652
I can only reproduce that for `*v1.Container`, but not for some custom struct?!

[2021-11-24 18:13] chrishenzie commented on #101397
/remove-lifecycle stale

[2021-11-24 18:14] chrishenzie commented on #101397
/remove-lifecycle stale

[2021-11-24 18:15] NikhilSharmaWe commented on #106652
@pohly can I work on this issue.

[2021-11-24 18:24] pohly commented on #106652
I should have looked closer. `*v1.Container` implements `String`, and that is what zap calls. It's a pointer receiver, which explains why it doesn't happen when passing by value (pointer receivers get called only for pointers).

The `String` implementation is in `generated.pb.go`, i.e. all API structs have this problem.

The best solution would be to auto-generate a `MarshalLog` function for all o

[2021-11-24 18:24] ehashman commented on #106635
Discussed at [SIG Node CI](https://docs.google.com/document/d/1fb-ugvgdSVIkkuJ388_nhp2pBTy_4HEVg5848Xy7n5U/edit#bookmark=id.enugitdwq2u1) today - the easiest solution now that 1.23 has been branched is to punt these tests out of the serial lane so we can get it green again for 1.23, since any changes at this point must be backported and we would prefer that this is not release-blocking.

[2021-11-24 18:24] pohly commented on #106652
@NikhilSharmaWe: thanks for the offer, but this is not an easy problem. It's not at all clear how to solve it.

/assign

[2021-11-24 18:25] matthyx commented on #106566
I wanna dig what's the impact of the api-server version on this flake.
/assign

[2021-11-24 18:29] SergeyKanzhelev commented on #106571
Archived it from CI dashboard as ppc64le is out of scope

[2021-11-24 18:30] SergeyKanzhelev commented on #106626
Seems related to https://github.com/kubernetes/test-infra/pull/24438

@leiyiz can you take a look?

[2021-11-24 18:30] SergeyKanzhelev commented on #106626
/assign @leiyiz

[2021-11-24 18:31] SergeyKanzhelev commented on #106466
/assign @kewu1992

[2021-11-24 18:33] SergeyKanzhelev commented on #106367
/assign @ehashman

to update the status

[2021-11-24 18:36] pohly commented on #106652
I tried stripping the `String` method by wrapping a `*v1.Container` like this:
[code]

Doesn't work. Normally a `type newType oldType` strips methods for `oldType`, but not here: `String` is still found by `zap.Any`.

[2021-11-24 18:38] ehashman commented on #106566
@matthyx pointed out today that this is _only_ failing against latest;

- https://testgrid.k8s.io/sig-node-kubelet#kubeadm-kinder-kubelet-1-19-on-1-20
- https://testgrid.k8s.io/sig-node-kubelet#kubeadm-kinder-kubelet-1-19-on-1-21
- https://testgrid.k8s.io/sig-node-kubelet#kubeadm-kinder-kubelet-1-20-on-1-21
- https://testgrid.k8s.io/sig-node-kubelet#kubeadm-kinder-kubelet-1-20-on-1-22
- https://te

[2021-11-24 18:40] SergeyKanzhelev commented on #96614
Since we have a PR open, removing rotten:

/remove-lifecycle rotten

@Kanshiroron do you have any means to check if PR addresses the bug?

[2021-11-24 18:42] SergeyKanzhelev commented on #106549
/remove-kind bug
/kind support

If this is not a supported version, unless we have a repro on supported version we unlikely will look into it. One option is to seek support on k8s forum.

/close

[2021-11-24 18:43] #106549 closed

[2021-11-24 18:44] SergeyKanzhelev commented on #106606
/remove-kind bug
/kind feature

[2021-11-24 18:44] SergeyKanzhelev commented on #106606
/remove-sig node

(please re-add if SIG Node help is needed here)

[2021-11-24 18:45] SergeyKanzhelev commented on #106639
/triage accepted

[2021-11-24 18:45] SergeyKanzhelev commented on #106639
/cc @bobbypage

[2021-11-24 18:47] matthyx commented on #103717
This is fixed AFAIK.

[2021-11-24 18:47] #103717 closed

[2021-11-24 18:50] ehashman commented on #106566
This quoted triage link covers a lot more tests than this one. If you confine your search just to this test, you can see that the flake rate has increased significantly, and this particular failure mode only started on 11/17 (see image screenshot above): https://storage.googleapis.com/k8s-triage/index.html?test=Probing%20container%20should%20%5C*not%5C*%20be%20restarted%20with%20a%20exec%20%22cat%

[2021-11-24 18:57] Kanshiroron commented on #96614
@SergeyKanzhelev sorry I actually missed @matthyx PR. No I unfortunately no easy way to test this, but I guess with some guidance I may be able to.

[2021-11-24 19:47] ehashman opened #106664 "[Flaky test] [sig-node] when gracefully shutting down with Pod priority should be able to gracefully shutdown pods with various grace periods"
Flaked a couple of times on serial lane with the same error.

Test is relatively new.

https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial&exclude-non-failed-tests=20&width=5

This run only has the single test flake: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/1462855916385734656

/sig node
/kind flake
/cc @wzshiming @bobbypage

### Failure cluste

[2021-11-24 19:55] ehashman commented on #106506
/unassign
I'm not actively working this one

[2021-11-24 19:57] ehashman commented on #106635
/milestone clear

https://github.com/kubernetes/test-infra/pull/24464 should address this; we won't get a fresh serial run for another ~6 hours so let's confirm next business day that this is temporarily fixed.

[2021-11-24 19:58] ehashman commented on #106635
/remove-priority critical-urgent
/priority important-longterm

[2021-11-24 20:39] liggitt commented on #106529
weird... the 1.24... tags showed up, but not the 1.23 beta or rc tags:

https://github.com/kubernetes/api/tags

[2021-11-24 20:40] liggitt commented on #106529
once the 1.23 branch config is added to the publishing rules, I'd expect the 1.23 rc tags to sync, but I can't explain why the 1.23 beta tags didn't

[2021-11-24 20:42] liggitt commented on #105353
yes, this is not a regression in 1.23, so it's not release blocking

/milestone v1.24

[2021-11-24 21:06] liggitt commented on #106615
Updated triage showing sharp increase in statefulset failures/flakes after 11/18

https://storage.googleapis.com/k8s-triage/index.html?test=%5BsS%5Dtateful%5BsS%5Det&xjob=flaky%7Cwindows%7Ccount10&xtest=Volume%7C%5E(Up%7CTest%7CTimeout%7CTearDown%7CUpgradeTest)%24

[2021-11-24 21:17] liggitt commented on #106566
agreed the current flake just increased dramatically

[2021-11-24 21:18] aojea commented on #106566
it seems it started on 11/18, but doesn't affect a lot of jobs, removing windows and kinder jobs https://storage.googleapis.com/k8s-triage/index.html?test=%2Ftmp%2Fhealth&xjob=windows%7Ckinder it seems only affects `ci-kubernetes-e2e-ubuntu-gce` that uses `docker` as CRI.

Analyzing https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce/1463296830803546112 the test
fails

[2021-11-24 21:22] matthyx commented on #106566
yes, https://github.com/kubernetes/kubernetes/pull/106463

[2021-11-24 21:24] liggitt commented on #106365
cc @verb

does this need to be resolved before 1.23, since ephemeral containers is beta this release?

/milestone v1.23

[2021-11-24 21:25] aojea commented on #106566
and https://github.com/kubernetes/kubernetes/pull/106501 :/

[2021-11-24 21:26] matthyx commented on #106566
@aojea do you think it could come from incompatibility between api-server and kubelet when their version differ (testing the upgrade path)?

[2021-11-24 21:33] huikang opened #106666 "[sample-controller] Wrong go version in go.mod file of the sample-controller"
### What happened?

go build -o sample-controller .
# sigs.k8s.io/json/internal/golang/encoding/json
vendor/sigs.k8s.io/json/internal/golang/encoding/json/encode.go:1249:12: sf.IsExported undefined (type reflect.StructField has no field or method IsExported)
vendor/sigs.k8s.io/json/internal/golang/encoding/json/encode.go:1255:18: sf.IsExported undefined (type reflect.StructField has no field or me

[2021-11-24 21:45] liggitt commented on #106635
can we keep it in the milestone until we get a verified green run?

[2021-11-24 21:56] aojea commented on #106566
The test runs a pod in the background, apiserver only checks that if restarts Getting the status, AFAIK is not communicating directly with the pod,  the probes runs from kubelet to the pod, the timeout comes from kubelet

The grpc probe PR #106463 adds a probe that uses grpc, I can't see that modifies the exec handler path ...

The CRI conversion seems the more suspicious #106501 here

[2021-11-24 21:57] liggitt commented on #104641
revert merged to master, will get picked to 1.23. reset priority and milestoned as 1.24, but a fix here could be eligible for backport to release branches, including 1.23.x

[2021-11-24 21:59] jiahuif commented on #104641
Got it. Will have the new implementation ready soon.

[2021-11-24 22:02] matthyx commented on #106566
Maybe I cannot read git logs correctly, but I think #106501 merged after the first flake:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-22-latest/1461077185820364800

(I should go to sleep to align my eyes...)

[2021-11-24 22:12] jsturtevant commented on #106608
@NikhilSharmaWe sorry I could have been clearer in the issue.  The test it's self needs to be updated to handle nodes that do not have consistent memory.

The logic in the test is wrong if the nodes  don't all have the same memory values: https://github.com/kubernetes/kubernetes/blob/aff056d8a197f6a404ad5e02210ca662d16c3dbe/test/e2e/windows/memory_limits.go#L111

This results in pods that won't fi

[2021-11-24 22:14] matthyx commented on #106566
There are at least 2 more flakes that happened before the merge of #106501:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-22-latest/1461107492594388992
and
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-22-latest/1461168143048118272

[2021-11-24 22:21] aojea commented on #106566
the kinder upgrade job has failures before, the rate increased on 18/11 and the gce jobs, that didn't have failures on that test before, started to fail.
When chasing flakes the first thing that I try to do is to remove the noise, and seems that the gce jobs have a better signal,
https://github.com/kubernetes/kubernetes/issues/106566#issuecomment-978229028

[2021-11-24 22:25] BenTheElder commented on #106566
docker still involves dockershim and not the CRI codepaths though?

and indeed that job is currently setting

and we can see the dockerd logs in docker.log under each node in ARTIFACTS.

[2021-11-24 22:29] BenTheElder commented on #106566
FWIW, yes, see e.g. https://github.com/kubernetes/test-infra/pull/21735/files

kube-up.sh has logic added for a while now to support dynamically installing a newer runtime from upstream builds when running ubuntu nodes. tagged versions should just work. e.g. we could do one of the v1.6.0 betas.

KIND jobs as currently setup can be switched, but is not as readily per-job, we usually maintain one kn

[2021-11-24 23:15] lorenz opened #106668 "API deprecation metrics misleading with garbage collection controller"
### What happened?

I was checking if everything in my cluster has upgraded to non-deprecated API versions prior to upgrading.
In https://github.com/kubernetes/kubernetes/pull/73032 the apiserver_requested_deprecated_apis metric was added
to help operators determine if there are any users of deprecated APIs left. But in a 1.21.7 cluster the extensions/v1beta1 ingresses gauge is always 1. Using aud

[2021-11-24 23:16] lorenz commented on #106668
/sig api-machinery

[2021-11-24 23:37] #106246 closed

[2021-11-24 23:42] sftim commented on #106437
Here's one example of where that kind of code ends up (and it looks a bit messy):
https://kubernetes.io/docs/reference/kubernetes-api/config-and-storage-resources/persistent-volume-claim-v1/#alpha-level

What I meant though was code like https://github.com/kubernetes/kubernetes/blob/aff056d8a197f6a404ad5e02210ca662d16c3dbe/staging/src/k8s.io/api/apps/v1beta1/types_swagger_doc_generated.go

As far

[2021-11-24 23:42] xing-yang commented on #101878
/remove-lifecycle stale

[2021-11-25 00:02] sftim commented on #106649
/triage needs-information

[2021-11-25 00:05] sftim commented on #106603
/retitle Standard for Type=LoadBalancer Service TLS configuration

[2021-11-25 00:10] sftim commented on #106603
Sounds like a big challenge to me. Cloud infrastructure takes different kinds of configuration, whether Kubernetes likes it or not. Some providers act as CAs and issue their own X.509 certificates; other providers expect you to get your own and upload the private key material. Maybe there's a provider that generates a key and gives you a CSR to get signed.

An API that covers all these cases is go

[2021-11-25 00:23] Alceatraz commented on #105762
+1
Same issue, Everything get crash and restart like 5min, And api-server work 30s then all things gone, Many CrashLoop, tail logs for pods give lot of shutdown by signal term https://github.com/kubernetes/kubeadm/issues/2609

[2021-11-25 01:09] jayunit100 commented on #106640
We'll be working on this as part of a broader windows operational readiness work.  Thanks wenli for digging into it.
/assign @weiwenli97

[2021-11-25 01:11] neolit123 commented on #106666
/sig api-machinery

[2021-11-25 01:11] vsxen commented on #106649
Yes , use kubeadm

I think burstable pod oom score is 998 and I find the burstable pod in default ns oom score is 998,
so who set coredns oom score?

https://github.com/kubernetes/kubernetes/blob/release-1.21/pkg/kubelet/qos/policy.goo#L25-L31

[2021-11-25 01:15] jayunit100 commented on #106640
Just for broader context...

the reason wenli discovered this is, bc we heavily test cluster API over here :), where the dynamically generated host name appends machine-set + cluster characters, so the machines have names like this:
[code]
to the machines initial name, and it's hardcoded.  We want to try to
improve this upstream , and have a proposal to do this in flight also: https://docs.google.

[2021-11-25 01:25] neolit123 commented on #106649
ok

the kubelet container manager is managing the scores of containers.

this is how kubeadm setups the coredns pods:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/addons/dns/manifests.go#L74

they have `priorityClassName: system-cluster-critical` which results in the score that you are seeing.

https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-evi

[2021-11-25 01:25] #106649 closed

[2021-11-25 01:34] vsxen commented on #106649
`The kubelet also sets an oom_score_adj value of -997 for containers in Pods that have system-node-critical Priority`

Can you let me know which Func do it?

[2021-11-25 01:45] cyclinder commented on #106267
if it was meant as equivalent, why put multiple same addresses into Addresses?  what is the purpose of this?  I don't understand what the purpose of this is.

[2021-11-25 01:52] neolit123 commented on #106649
this is in the 1.22 changelog:

qos polocy is managed here:
https://github.com/kubernetes/kubernetes/blob/0691157ec4d2386f98cff6dc4e2a02433710218c/pkg/kubelet/qos/policy.go

for dev questions you can ask in #sig-node on k8s slack.

[2021-11-25 02:00] neolit123 opened #106669 "[failing test] kubeadm-kinder-latest-on-1-22"
### Which jobs are failing?

https://testgrid.k8s.io/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-latest-on-1-22

this job runs kubeadm 1.23 (latest master) against the latest SHA release-1.22 for  core k8s (kubelet, apiserver, etc...)
this is a "release informing" job.

### Which tests are failing?

kubeadm-init: kubeadm fails to create a cluster

### Since when has it been failing?

11-24

since

[2021-11-25 02:03] neolit123 commented on #106669
/triage accepted
/sig release
@kubernetes/release-engineering

[2021-11-25 02:08] neolit123 commented on #106669
/sig api-machinery

[2021-11-25 02:18] neolit123 commented on #106669
according to:
https://jubianchi.github.io/semver-check/#/version/1.22.5-rc.0.5%2B8fa00736d77acc

[code]

this semver comparison also treats the `rc..*` as a pre-release of `1.22.5`:
https://semvercompare.azurewebsites.net/?version=1.22.5-rc.0.5%252B8fa00736d77acc&version=1.22.5-rc.0.1%252B8fa00736d77acc&version=1.22.5%252B8fa00736d77acc

[2021-11-25 02:25] neolit123 commented on #106669
the problem seems to be in kubeadm trying to use the tag from the `master` branch which is currently 1.24-alpha and the latest 1.22:
[code]

/remove-sig api-machinery
/remove-sig release

[2021-11-25 02:28] neolit123 commented on #106669
/assign

[2021-11-25 02:41] thockin commented on #106267
The first version of the API had both IP families in a single slice, so it
made sense to have multiple addresses.  We changed that, though we didn't
immediately remove the old support.

So my best guess is that we _should have_ converted this to a singular
value when we did that, but we missed it.

On Wed, Nov 24, 2021, 5:45 PM Cyclinder ***@***.***> wrote:

[2021-11-25 03:24] andyzhangx commented on #97031
/reopen

[2021-11-25 04:12] mkumatag commented on #106663
It will be great if you can mention the source of the test as well, may be a link or package from where is it run will be more helpful.

[2021-11-25 04:37] astraw99 commented on #106625
@liggitt Got what you said, but we used the `extension-apiserver` manner, implemented this method `NamespaceScoped() bool`:
https://github.com/kubernetes/kubernetes/blob/c8c81cbfbb381129c904ed1ab387744946cf807a/staging/src/k8s.io/apiserver/pkg/registry/rest/create.go#L41-L48

It is not about field change validation(`CustomResourceDefinitionSpec.Scope`), but is about dirty data issue.

[2021-11-25 04:57] Rajalakshmi-Girish commented on #106663
@mkumatag Have updated the description with those details.

[2021-11-25 04:59] liggitt commented on #106625
I see. It is invalid to change the scope of a resource type without first deleting all existing data that is stored as the opposite scope type. The built in types and CRD-based types do not permit this, and you would need to prevent this in your implementation as well.

[2021-11-25 04:59] #106625 closed

[2021-11-25 05:00] NikhilSharmaWe commented on #106608
@jsturtevant So, here we have to fix the logic because the logic is wrong for the case when the nodes don't have the same memory values, which is I think is `totalAllocatable.Value()`, Is it ?
So, do we need to change `memValue := totalAllocatable.Value()` because it is the total memory and when it is fixed then the pods present will get appropriate memory limit by `memPerPod := memValue / int64(a

[2021-11-25 05:01] mkumatag commented on #106663
The failed testcase in the attached report is:

[code]

[2021-11-25 05:05] adisky commented on #106566
Even if we doubt  PR #106463 or PR #106501 is the culprit both PR's are not cherry-picked to 1.22 and 1.21 and 1.22, 1.21 Kubeadm Kinder also started flaking after 18/11

https://storage.googleapis.com/k8s-triage/index.html?job=ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-22-latest&test=Probing%20container%20should%20%5C*not%5C*%20be%20restarted%20with%20a%20exec%20%22cat%20%2Ftmp%2Fhealth%22%20live

[2021-11-25 05:16] #102939 closed

[2021-11-25 05:19] neolit123 commented on #106566
kubeadm-kinder-upgrade-1-22-latest upgrades a 1.22 cluster to 1.23 and runs the test suite from 1.23 on the 1.23 cluster.

[2021-11-25 05:23] adisky commented on #106566
sorry i meant `ci-kubernetes-e2e-kubeadm-kinder-kubelet-1-22-on-latest`, IIUC it tests 1-22 kubelet on latest?
https://storage.googleapis.com/k8s-triage/index.html?job=ci-kubernetes-e2e-kubeadm-kinder-kubelet-1-22-on-latest&test=Probing%20container%20should%20%5C*not%5C*%20be%20restarted%20with%20a%20exec%20%22cat%20%2Ftmp%2Fhealth%22%20liveness%20probe

[2021-11-25 05:30] neolit123 commented on #106566
yes, kubelet there is at 1.22, control-plane, kubeadm and test suite are at latest (1.23).

[2021-11-25 05:33] Rajalakshmi-Girish commented on #106663
**The user error message might be useful to debug the issue.**
Got the below trace when I ran without `-test.v` flag to stress tool:
[code]

[2021-11-25 06:07] wzshiming commented on #106664
/assign

[2021-11-25 06:25] liggitt commented on #106668
I agree that's a bit ugly. Fortunately, it won't be an issue for future APIs that graduate from a beta to a ga version in the same API group (extensions/v1beta1 ingress was the last remnant of the ill-fated extensions group whose APIs had to migrate to other groups before graduating)

the controller prefers more stable API versions when available, so in the future, as soon as a v1 is available, it

[2021-11-25 06:28] liggitt commented on #106668
It's worth calling this edge out in the documentation, though.

[2021-11-25 06:33] liggitt commented on #106666
Thanks for the issue. Since the method is in the sigs.k8s.io/json library, the correct place to update this would be in the sigs.k8s.io/json repo, not here. A PR in that repo would be fine if you wanted to open one.

[2021-11-25 06:33] #106666 closed

[2021-11-25 06:47] liggitt commented on #106423
As noted in https://github.com/kubernetes/kubernetes/pull/102755, the vulnerable function is not in use. Is this an issue that affects this code base?

[2021-11-25 06:48] liggitt commented on #106417
hostPort is only one type of resource that could prevent a surge rollout. I'm not sure special-casing it makes sense.

[2021-11-25 06:55] BUHPS2261R opened #106672 "Pod Initialization Error upon removing the PVC"
### What happened?

Our Pega Platform Application is hosted in Kubernetes environment and Stream is a service node which is part of it. As part of Application Maintenance, We had to perform clean restart which included PVC's Unmount from Stream POD. Upon doing that, Pod is not getting initialized when we re-install the application.

Tried remove the Stateful-set and it's pods too to fix the issue,

[2021-11-25 07:08] wojtek-t commented on #106654
This isn't really true - we have this logic that is appropriately setting KUBEMARK_-prefixed env-vars:
https://github.com/kubernetes/kubernetes/blob/master/test/kubemark/gce/util.sh#L66-L73

So the only thing is to unify the settings.

[2021-11-25 07:16] #102552 closed

[2021-11-25 08:09] ChristopherLenz commented on #87546
For me using kc for 'kubectl create is more intuitiv'. Aditionally I like to have a temporary pod for curl

[code]

[2021-11-25 08:27] aojea commented on #106566
so, everything points that is something outside of the k/k code base then?

[2021-11-25 08:34] matthyx commented on #106566
I tend to think the same... golang or grpc lib regression?

[2021-11-25 08:48] aojea commented on #106566
duh, thanks Ben :upside_down_face:

 it seems kinder jobs are using dockeshim too, no?

[code]
is this affecting only jobs using dockershim? because the answer then is clear :)

[2021-11-25 08:54] #106459 closed

[2021-11-25 09:02] collimarco commented on #106603
Actually I think that **most providers are already using a similar strategy**:
1. You provide a TLS certificate (e.g. using a native K8s secret of type TLS)
2. You reference that TLS secret name in the LoadBalancer annotation (in the future this could be moved to spec, like Ingress already does).

Some providers ask to upload the secret manually from their dashboard and then reference it in the an

[2021-11-25 09:06] #106654 closed

[2021-11-25 09:44] silenceper opened #106675 "When the pod needs to be deleted, terminate the image pull request？"
### What happened?

I found that when the container is deleted, the image is being pulled until the image is pulled.

### What did you expect to happen?

When the pod is deleted, terminate the mirror pull request

### How can we reproduce it (as minimally and precisely as possible)?

1. Scheduling a new pod to node, the image is relatively large
2. Then delete this pod
3. As you can see in the kub

[2021-11-25 10:06] jonashackt commented on #80828
For others seeking a solution until `v1.23` is available broadly (see https://stackoverflow.com/a/70108500/4964553):
[code]

[2021-11-25 10:07] jonashackt commented on #80828
For others seeking a solution until `v1.23` is available broadly (see https://stackoverflow.com/a/70108500/4964553):
[code]

[2021-11-25 10:12] cyclinder commented on #106267
so we should change the API doc? Or It's just that documenting it will only use the first address in the `pkg/proxy/endpointslicecache.go`, like you said above

[2021-11-25 10:17] pohly commented on #106652
The alternative is to generate this function for all types:
[code]

I think that needs to go into https://github.com/kubernetes/code-generator/tree/master/cmd/go-to-protobuf, directly or indirectly. The String method itself seems to come from protoc.

[2021-11-25 10:59] adisky commented on #106566
yes kinder jobs & `ci-kubernetes-e2e-ubuntu-gce` both uses dockershim

Mostly looks like, need to dig more, But couldn't find any suspected commit merged in k/k or k/test-infra that is causing this :(

[2021-11-25 11:25] sftim commented on #96951
/reopen

[2021-11-25 11:27] sftim commented on #96951
/transfer website

[2021-11-25 11:39] aojea commented on #106603
if you check the link that you are referencing there is a note that says

[2021-11-25 11:49] woodliu commented on #32326
Any updates, this is needed!

[2021-11-25 11:55] kerthcet commented on #106426
I can give some help.
/assign

[2021-11-25 12:08] bertinatto opened #106677 "Missing Azure File e2e tests"
### What happened?

Azure File is one of the intree storage plugins available in k8s, however, we currently don't have a e2e tests for it.

Having such tests would be helpful to test CSI migration for Azure File.

### What did you expect to happen?

Azure File e2e tests should run on Azure.

### How can we reproduce it (as minimally and precisely as possible)?

Just run the storage e2e test suite

[2021-11-25 12:09] bertinatto commented on #106677
/sig storage
/assign
/cc @andyzhangx @Jiawei0227

[2021-11-25 12:09] bertinatto commented on #106677
CC @msau42

[2021-11-25 12:18] Jiawei0227 commented on #106677
We are migrating all the cloud provider related tests to cloud-provider specific CI. So I think azurefile e2e test should be running on cloud-provider-azure or azurefile-csi-driver.

[2021-11-25 12:19] matthyx commented on #106566
Do we have a way to increase the timeout ONLY for `dockershim` tests?

[2021-11-25 12:22] andyzhangx commented on #106677
actually you could run azure file e2e tests by, it's not in k/k repo:
[code]

[2021-11-25 12:43] bertinatto commented on #106677
@Jiawei0227 I agree these jobs should be running on Azure-specific CI. However, the intree plugin code lives in kubernetes/kubernetes, so IMO the code for the tests should be hosted in the same code base.

@andyzhangx I believe those tests jobs you listed don't run the k/k test suite, they seem to run a different testsuite specific to Azure. As far as I know, one of the requirements for CSI migrat

[2021-11-25 12:50] andyzhangx commented on #106677
@bertinatto those azure file e2e tests could run against k/k PR, and could test against csi migration, see example PR here: https://github.com/kubernetes/kubernetes/pull/105070, we don't have resources to add those tests to k/k.

[2021-11-25 13:01] kkkkun opened #106679 "APIResponseCompression would increase P99 In apiserver"
We make a performance test to verify feature gain  which would take to us ?
Environment:  64C128G
We create a new crd which size is 3kb.
| crd | compress(size/cpu/bandwidth/P99)    | discompress(size/cpu/bandwidth/P99) |
| :-----| ----: | :----: |
|crd:1000 qps:2 | 3.1M/3C/48M/168ms         |  100k/3C/1.7M/181ms               |
|crd:2000 qps:2 | 6.1M/3.3C/48M/310ms      |  202k/3.1C/1.7M/334ms

[2021-11-25 13:06] kkkkun commented on #106679
/remove-kind feature
/kind test

[2021-11-25 13:07] kkkkun commented on #106679
/kind flake

[2021-11-25 13:08] kkkkun commented on #106679
cc @liggitt  @smarterclayton @wojtek-t

[2021-11-25 13:09] verb commented on #106365
Thanks for pinging this, I missed it. Investigating...

/assign

[2021-11-25 13:44] neolit123 commented on #106566
We just updated the kinder jobs to address the creation of the release-1.23
branch so the flake history is gone due to the job refresh. This
unfortunately landed during debug time...

Not all kinder jobs use docker. Kinder-regular-1.23 uses containerd (not
the latest containerd ver).

[2021-11-25 14:10] leileiwan opened #106681 "It’s easy to overflow when casting resource.Quantity to int64 with BinarySI formate"
### What happened?

// test code
[code]
// result
=== RUN   TestBinary
    util_test.go:42: binarySI data {i:{value:0 scale:0} d:{Dec:0xc00060fc20} s: Format:BinarySI} is overflow
--- FAIL: TestBinary (0.00s)

FAIL

// notice
100000Gi cast to int64 overflow but 1000000000G not

### What did you expect to happen?

The calculation concluded that the error is too large with BinarySI formate.

// http

[2021-11-25 14:14] leileiwan commented on #106681
/sig apimachinery

[2021-11-25 14:16] leileiwan commented on #106681
/sig api-machinery

[2021-11-25 14:17] andyxning commented on #73492
/remove-lifecycle stale

[2021-11-25 14:18] andyxning commented on #73492
/reopen

[2021-11-25 14:42] chin1711 commented on #62157
Hi All we are also getting same error but is there any way we can disable tls 1.0 on Wsl itself

[2021-11-25 14:42] MadhavJivrajani commented on #106679
Not sure how this is a flake
/remove-kind flake
/sig scalability

[2021-11-25 15:39] vdemeester commented on #86245
/reopen
/remove-lifecycle rotten

[2021-11-25 15:49] swatisehgal commented on #106571
/cc

[2021-11-25 16:20] collimarco commented on #106603
@aojea The details are different, yes, and that's the point of opening this issue... IMHO K8s should provide standardization for such a common use case (load balancer with SSL/TLS secret).

In any case the note that you mention, which is about Ingress, shows that both nginx and Google have much in common... they both use `tls:` in the Ingress spec to reference the secret. Only the implementation d

[2021-11-25 16:22] adisky commented on #106566
@neolit123 Are you talking about this job https://testgrid.k8s.io/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-latest? It is running on containerd but the test is not flaking on this job

[2021-11-25 16:24] adisky commented on #106566
possibly we have to check, but wanted to know the reason why it suddenly started flaking on dockershim, could it be related to docker version?

[2021-11-25 16:28] neolit123 commented on #106669
so this already fixed by updating the kubeadm jobs post the release-1.23 branch creation.
there is no longer a job `latest-on-1.22` and the job is not `latest-on-1.23` because we have a new k/k branch and the kubeadm test jobs were rotate as a result of that...
https://github.com/kubernetes/test-infra/pull/24442

we normally try to rotate the jobs as soon as the new branch is cut, but to avoid thi

[2021-11-25 16:28] #106669 closed

[2021-11-25 16:35] thockin commented on #106267
I'd like some of the others to comment, but it's this a US holiday, so it might be a few days..

[2021-11-25 16:35] dprotaso opened #106682 "Liveness Probe with an invalid command doesn't trigger container restarts and ContainersReady remains True"
### What happened?

Create a deployment with an invalid liveness probe and you'll see events like

But the container did not restart and `ContainersReady` status is `True`

### What did you expect to happen?

ContainersReady is `False`
Container is restarted

### How can we reproduce it (as minimally and precisely as possible)?

Create a deployment with an invalid liveness probe

[code]

### Anyth

[2021-11-25 17:08] neolit123 commented on #106566
only the `kubeadm-kinder-<ver>` jobs use containerd. the reason for that is that we want coverage for dockershim and !dockershim. depending on what happens with dockershim in 1.24 we might switch everything to containerd.

from what i see in the history / discussion in this thread, only kubeadm jobs that use dockershim / docker were flaking...the docker version used in all kubeadm tests is 18.09.4

[2021-11-25 17:28] neolit123 commented on #106682
/sig node

[2021-11-25 17:29] neolit123 commented on #106675
please fill all the details in the issue template and reopen after that is done.

/triage needs-information
/close

[2021-11-25 17:30] neolit123 commented on #106672
please include all the details that are missing in the issue description, k8s version, CSI, CNI...etc.

/sig storage

[2021-11-25 17:36] atiratree commented on #106054
So to reitarate, the issue is, to have an option as a cluster admin to look at any Deployment to see  if any of its replicas lost Availability. And to have easier time reading disrupted/misbehaving deployments.

This could be indeed solved by a new condition called for example `CompletelyAvailable`, `FullyAvailable`, etc. This would tell us if we lost any pod regardless of `maxUnavailable` value a

[2021-11-25 19:03] NikhilSharmaWe commented on #106637
@msau42 I would like to work on this issue. I am not able to find any code or info about resource.limits object. Could you please provide some resources, so that I can better my understanding about what we are trying to achieve here.

[2021-11-25 19:31] pohly commented on #106652
Benchmarking shows now significant difference between JSON output with string vs. struct:
[code]

[2021-11-25 19:53] NikhilSharmaWe commented on #106513
I would like to collaborate. Could Please someone elaborate what we are trying to achieve here because there is not much information about that.

[2021-11-25 23:29] grosser commented on #106513
`adds` afaik is how many items get queues
`retries` afaik is how often an item is retried
the goal would be to have some instructions to say "if you see >10% retries then follow these steps to find out what is going on"

[2021-11-26 02:11] woodliu commented on #32326
/reopen
Is there any plan to support add pod label within cadvisor?

[2021-11-26 02:29] silenceper commented on #106675
@neolit123  Relevant information has been added

[2021-11-26 02:36] pacoxu commented on #106682
I tested with your yaml and get below errors and the pod is restarting.
[code]

[2021-11-26 02:42] dprotaso commented on #106682
Which k8s version? I tested on 1.21 kind

[2021-11-26 02:42] pacoxu commented on #106682
There is a loop:
- After it restarted, it became `ready and running`.
- After one liveness probe check, the container will be restarted and mark as `not ready`.
- After it restarted, it became `ready and running`.
- ...

[2021-11-26 02:45] pacoxu commented on #106681
See https://github.com/kubernetes/kubernetes/issues/102134#issuecomment-844696891

[2021-11-26 03:10] neolit123 commented on #106675
please also add the container runtime info.

/sig node apps
/reopen

[2021-11-26 03:13] neolit123 commented on #106675
not clear if a feature / bug.

/kind feature

[2021-11-26 03:15] pacoxu commented on #106663
/sig storage apps
/cc @mattcary

[2021-11-26 03:35] pacoxu commented on #106635
CI is green today after skipping DevicePluginProbe tests .
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial

[2021-11-26 03:49] kkkkun commented on #106679
KEP: https://github.com/kubernetes/enhancements/blob/0e4d5df19d396511fe41ed0860b0ab9b96f46a2d/keps/sig-api-machinery/2338-graduate-API-gzip-compression-support-to-GA/README.md
beta PR: https://github.com/kubernetes/kubernetes/pull/77449

[2021-11-26 04:02] MadhavJivrajani commented on #106679
/sig api-machinery

[2021-11-26 04:46] leileiwan commented on #106681
It doesn't seem to solve my problem. The above test case proves that binarySI data(100000Gi) is easier to overflow than decimalSI(1000000000G) conversion to int64.
[code]

[2021-11-26 05:23] pacoxu commented on #106622
The key failure seems to be`failed calling webhook "validation.istio.io": Post https://istiod.istio-system.svc:443/validate?timeout=30s: dial tcp 10.233.30.109:443: i/o timeout`.

The istiod.istio-system returned timeout and the `istiod` pod is `Running`. Why was the POST request timeout? I suspect it is an istio problem, not a Kubernetes problem.

[2021-11-26 07:01] wzshiming opened #106689 "Kubelet reports Pod status NotReady for the first time after restart"
### What happened?

Pod status NotReady was reported for the first time after Kubelet restart. And then it goes back to Ready very quickly
As a result, Pod IP is removed from Endpoints by Controller-Manager and added. Caused a certain amount of jitter to the cluster as a whole.

Pod actually works fine

### What did you expect to happen?

Kubelet reports the correct Pod status at the first time af

[2021-11-26 07:01] wzshiming commented on #106689
/sig node

[2021-11-26 07:01] wzshiming commented on #106689
/assign

[2021-11-26 07:18] hanamantagoudvk commented on #105320
@khenidak , any idea when will the fix be available ?

[2021-11-26 07:24] #96240 closed

[2021-11-26 08:04] smoshiur1237 opened #106691 "Kubernetes node healthcheck issue (Kubelet is unable to read logs from pods)"
### What happened?

Kubelet is running on a worker node, an issue occurs which makes kubelet unable to read logs from pods which can be seen by describing the worker node,

From describe node output:

`Warning ContainerGCFailed <invalid> (x1266 over 21h) kubelet failed to read podLogsRootDirectory "/var/log/pods": open /var/log/pods: input/output error`

This indicates that kubelet is running but

[2021-11-26 08:06] smoshiur1237 commented on #106691
/sig node

[2021-11-26 08:23] sachithmuhandiram commented on #106622
Yes, that was my thought, then I deploy a service in non-istio namespace, deployment ok, but I can not connect to the service.

[2021-11-26 08:48] mengmann commented on #106374
Hi @sftim

not yet. i just wanted to make sure this new feature gets documented when available.

[2021-11-26 09:34] weilaaa commented on #106675
It seems that as soon as the pod became terminating, we should notify the image puller to cancel the pulling and notify the process reporter to stop reporting

[2021-11-26 09:58] ialidzhikov opened #106693 "Release notes in CHANGELOGs no longer contain links to the PR itself and to the PR author"
### What happened?

Release notes in CHANGELOGs no longer contain links to the PR itself and to the author.
Open https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.22.md#changelog-since-v1223 and verify that the PR and the PR author are not links (just plain text).
Open https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.22.md#changelog-since-v1221 an

[2021-11-26 10:00] ialidzhikov commented on #106693
/sig release
/area release-eng

[2021-11-26 10:14] wzshiming commented on #101565
/remove-lifecycle rotten

[2021-11-26 10:15] silenceper commented on #106675
@weilaaa
Yes, I am working on adding this feature.
This feature can improve the startup speed of containers to a certain extent, especially for containers with larger images

[2021-11-26 10:23] qmloong commented on #100277
mark

[2021-11-26 10:25] leonardpahlke opened #106694 "[Failing test][sig-storage] gce-cos-k8sbeta-default, volumeMode should not mount / map unused volumes in a pod"
### Which jobs are failing?

gce-cos-k8sbeta-default

### Which tests are failing?

- Kubernetes e2e suite.[sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Dynamic PV ...
- Kubernetes e2e suite.[sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Generic Ephemeral-volume ...
- Kubernetes e2e suite.[sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Inline-volume ...
- Kub

[2021-11-26 10:26] pacoxu commented on #106540
For `sandbox creation failure` and `context deadline exceeded` errors, I prefer to think it's maybe caused by a slow docker API. I think you should check the container runtime logs first.

[2021-11-26 11:07] collimarco commented on #106603
Here's another provider that uses the same strategy for the external LoadBalancer (annotations + tls secret):

Linode: https://www.linode.com/docs/guides/getting-started-with-load-balancing-on-a-lke-cluster/

[2021-11-26 11:42] miguepintor commented on #102387
/remove-lifecycle rotten

[2021-11-26 11:43] soltysh commented on #106054
@atiratree wrt adding conditions I'd like you to keep in mind this work https://github.com/kubernetes/enhancements/pull/2833

[2021-11-26 13:21] sladg commented on #52386
Same problem on EKS with T3 nanos.

[2021-11-26 13:39] qmloong commented on #96945
Is there any bad effects on this flapping?
@wu0407

[2021-11-26 13:53] oradwell commented on #103607
@pere3 @caleb15 we have the same thing with Forbid

we use helm templates to deploy using Spinnaker so everytime we recreate cronjobs they have the old `apiVersion: batch/v1beta1`. I think they automatically get modified when cronjob objects are created to upgrade to `batch/v1`.

I didn't know that objects were automatically modified when they have the old apiVersion. I noticed Ingress objects wer

[2021-11-26 16:25] #101041 closed

[2021-11-26 17:26] #45506 closed

[2021-11-26 17:53] Gajanana commented on #82987
My liveness probe had a script . My script used to call Rest API which actually checks overall health . When rest API is not responding or hanged for any reason we get this error "Liveness probe errored: rpc error: code = DeadlineExceeded desc = context deadline exceeded" . I used `–max-time 10` option to `curl` and now whenever API times out i have handled it to make as failure and probe works fi

[2021-11-26 18:27] #99973 closed

[2021-11-26 18:27] #94022 closed

[2021-11-26 18:28] slavitch commented on #99268
/reopen
Reopen this please.

[2021-11-26 18:45] marcosmas28 commented on #102646
Hi @rajeshnailwal,
I'm facing the same issue with the AMF function and the SCTP protocol. I'm using Calico as CNI and NodePort for exposing this service:

[code]
I have a similar NodePort configuration for the webui service (TCP) and it works fine, but for some reason the SCTP service doesn't open the port on the worker host:
AMF Pod:
[code]
Worker host:
[code]

Other checks:

[code]
Please can yo

[2021-11-26 18:56] dprotaso commented on #106682
You're replies aren't particularly helpful - I understand what is supposed to happen. I'm pointing out that on my kind cluster running K8s 1.21 the restart is not occurring -`restartCount: 0`.

That's why I'm asking what version of Kubernetes you're running - since if this is fixed in 1.22 I'll close this issue or cherry pick the change back to the 1.21 branch

[2021-11-26 19:27] #101784 closed

[2021-11-26 20:03] scottnice opened #106696 "Valid FlexVolume Plugin skipped if another plugin is missing and then added"
### What happened?

When kubelet is running if you create two volume plugin directories here: /usr/libexec/kubernetes/kubelet-plugins/volume/exec

/usr/libexec/kubernetes/kubelet-plugins/volume/exec/cifs
/usr/libexec/kubernetes/kubelet-plugins/volume/exec/nodeagent~uds

You will see these expected logs:

[code]

Now if you copy over the cifs plugin file to cifs directory and then copy the uds plug

[2021-11-26 20:06] scottnice commented on #106696
/sig k8s-infra

[2021-11-26 20:45] dprotaso commented on #106682
Testing on Kind 1.22.4 - I do not see restarts

[code]

[2021-11-26 21:10] dprotaso opened #106697 "Deployment Conditions - Progressing & Available not updated appropriately"
### What happened?

There are numerous cases where the deployment doesn't update it's `Progressing` condition to have a status of `False` with the reason `ProgressDeadlineExceeded`.

Similarly `Available` remains `True` when I would expect it to become `False`

/sig apps

### What did you expect to happen?

After any spec change and after `spec.progressDeadlineSeconds` has elapsed the condition ty

[2021-11-26 21:12] dprotaso commented on #106697
Related issues:
https://github.com/kubernetes/kubernetes/issues/103450
https://github.com/kubernetes/kubernetes/issues/105842
https://github.com/kubernetes/kubernetes/issues/106054

[2021-11-26 21:55] aojea commented on #106697
/cc @soltysh

[2021-11-26 21:57] aojea commented on #106682
@dprotaso I think that you are hitting this https://github.com/kubernetes-sigs/kind/issues/2551, can you check if is the same issue?

[2021-11-26 21:57] collimarco commented on #106603
Basically **it would be as simple as adding the following to the LoadBalancer spec**:

1. add an optional `protocol` attribute to `spec`, with values `tcp` (default) or `http` (for level 7 load balancer)
2. add an optional `ssl: tls-secret-name` attribute to `ports[*]`

Most providers (see links above) could easily adopt the new spec, by just renaming their current annotations...

Please let me kn

[2021-11-26 21:59] aojea commented on #102646
https://github.com/kubernetes/kubernetes/issues/102646#issuecomment-858989979

kube-proxy just forward packets, the sockets are opened by your application on the pod

[2021-11-26 22:11] aojea commented on #106603
I like the idea, and I think that it will be the ideal, but I personally find that is too late to include it in an overloaded API like `Services`. It also depends on the cloud providers, just see how long it takes to agree in one field https://github.com/kubernetes/enhancements/issues/1435

Those kind of changes are hard to implement, they are not easy, you need to live with 2 implementations, sup

[2021-11-26 22:27] marcosmas28 commented on #102646
Hi @aojea, thanks for your reply.

Now I understand what you say about the sockets:

Please can you share some hint how to check kube-proxy and iptables?
I compare the rules for two services, with similar configuration, the only difference is the protocol (and port numbers of course):

TCP Service working fine from outside the cluster:
[code]
SCTP Service working fine inside the cluster but not wo

[2021-11-26 23:07] thockin commented on #106603
My gut instinct is to agree with @aojea on this.  I'd rather see support added to Gateway (it should already be possible to express this, I think) than to add more and more to Service.

I am afk today, but I will let this cook in the back of my brain.

[2021-11-26 23:07] dprotaso commented on #106682
Doesn't seem Kind specific - ie.

with GKE 1.21.5-gke.1802

[code]

Pod containerStatus
[code]

Pod's phase is `Running`

[2021-11-26 23:23] aojea commented on #106682
oh, sorry,  I only read the error message

you are just claiming that the error should trigger a restart

with the risk of making another mistake, can this be related to https://github.com/kubernetes/kubernetes/pull/94115?

[2021-11-27 00:58] dprotaso commented on #106682
Related but not the same.

I think my main concern is not necessarily the restart but the fact that the Container & Pod is considered 'Ready'

[2021-11-27 01:59] huoqifeng opened #106698 "[Feature] Add pod level logs API"
### What would you like to be added?

Kubernetes and CRI well defined the logs for containers, while VM based Pod are common used today as alternative of `pause` container as a Sandbox for more strict isolation, like [Kata Containers](https://github.com/kata-containers),  [Containerd](https://github.com/containerd/containerd) is also proposing a [Sandbox API](https://github.com/containerd/containe

[2021-11-27 02:05] brianpursley commented on #93474
/remove-lifecycle stale

[2021-11-27 04:07] ssst0n3 opened #106699 "hack/update-vendor.sh failed due to k8s.io/kubernetes/test/integration/examples"
### What happened?

hack/update-vendor.sh failed

[code]

### What did you expect to happen?

hack/update-vendor.sh executed sucessfully

### How can we reproduce it (as minimally and precisely as possible)?

follow the steps above please

### Anything else we need to know?

_No response_

### Kubernetes version

v1.22.4

### Cloud provider

<details>

</details>

### OS version

<details>

[code]

[2021-11-27 04:57] Gezx opened #106700 "nodeSelector doesn't work when select the specific node"
the yaml

apiVersion: v1
kind: Pod
metadata:
  name: hellok8s
  namespace: default
  labels:
    app: myapp
    version: v1
spec:
  containers:
  - name: mynginx
    image: nginx
  nodeSelector:
    type: master

when execute "kubectl apply -f pod.yaml"
the output

The Pod "hellok8s" is invalid: spec: Forbidden: pod updates may not change fields other than `spec.containers[*].image`, `spec.initCon

[2021-11-27 05:31] yxxhero commented on #106700
@Gezx Please provide more info about your k8s. example: version...
please see the tips:
[code]

[2021-11-27 05:40] yxxhero commented on #106691
@smoshiur1237
[code]
The above prompt indicates that your disk is damaged.

You can try this project to detect disk error https://github.com/kubernetes/node-problem-detector

[2021-11-27 07:28] #100596 closed

[2021-11-27 07:50] NikhilSharmaWe commented on #106401
@liggitt I would like to collaborate for fix the validation issue for custom resources. Could you please guide me with some code pointers, files and elaborate on how can I proceed to fix this bug

[2021-11-27 11:19] aojea commented on #106682
this is weird, I can reproduce it too ... but how is this e2e test passing?

https://github.com/kubernetes/kubernetes/blob/f572e4d5b4a1496356eccf29c34adac02280beeb/test/e2e/common/node/container_probe.go#L119-L134

https://testgrid.k8s.io/conformance-kind#conformance,%20master%20(dev)&include-filter-by-regex=liveness%20probe

[2021-11-27 12:12] aojea commented on #106682
reproduced https://github.com/kubernetes/kubernetes/pull/106702#issuecomment-980545261

/triage accepted
/assign

[2021-11-27 13:02] aojea commented on #106682
here is the thing, prober errors are not considered as probe failures

https://github.com/kubernetes/kubernetes/blob/9a75e7b0fd1b567f774a3373be640e19b33e7ef1/pkg/kubelet/prober/worker.go#L268-L271

[2021-11-27 13:36] aojea commented on #106682
hmm, this seems to be this way since 2015 , if the probe exit status is not 0, it is considered a probe failure and it is not taken into account

https://github.com/kubernetes/kubernetes/pull/8011/files#diff-adc1514d1ea8c99128cb68f9e11dd5f852a0e5131905a99ec865d83028723ec7

https://github.com/kubernetes/kubernetes/blob/9a75e7b0fd1b567f774a3373be640e19b33e7ef1/pkg/probe/exec/exec.go#L64-L70

let me

[2021-11-27 15:16] neolit123 commented on #106700
please re-open once you fill the issue template properly:
https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE/bug-report.yaml

/close
/triage needs-information
/sig node

[2021-11-27 15:16] #106700 closed

[2021-11-27 15:17] neolit123 commented on #106698
/sig node

[2021-11-27 15:19] neolit123 commented on #106699
+++ [1127 12:03:16] logfile at /tmp/update-vendor.IGZu/update-vendor.log
+++ [1127 12:03:16] go.mod: update staging references
An error has occurred. Please see more details in /tmp/update-vendor.IGZu/update-vendor.log

does this only happen for you with `git checkout v1.22.4` or also with other tags?

/sig architecture
/area code-organization

[2021-11-27 18:08] thockin commented on #106682
It doesn't seem right to me, but I lack context on why it might be intended.

Someone from sig-node might know if it is oversight or intentional.

On Sat, Nov 27, 2021, 5:37 AM Antonio Ojea ***@***.***> wrote:

[2021-11-27 19:47] Neilblaze commented on #106693
@ialidzhikov Can I go for it?

[2021-11-27 19:52] ialidzhikov commented on #106693
Let’s wait for input from the sig release folks. They should be able to share whether the change is done on purpose or whether there is a regression with the release note handling.

/cc @cpanato @puerco

[2021-11-27 20:17] serathius commented on #106050
All points on the list were addressed.

[2021-11-27 20:17] #106050 closed

[2021-11-27 20:50] #99453 closed

[2021-11-28 02:24] Congrool commented on #101776
Hi, does this feature have any further work?

[2021-11-28 03:02] vupv opened #106704 "kubelet does not create Node object during TLS bootstrap; kubeadm join fails at missing Node object"
### What happened?

I1128 09:41:52.918552  420211 round_trippers.go:454] GET https://192.168.1.88:6443/api/v1/nodes/master01.fe.me?timeout=10s 404 Not Found in 4 milliseconds
I1128 09:41:52.918589  420211 round_trippers.go:460] Response Headers:
I1128 09:41:52.918600  420211 round_trippers.go:463]     X-Kubernetes-Pf-Flowschema-Uid: bca17f72-03c8-467f-8875-6d56b570935d
I1128 09:41:52.918621  42021

[2021-11-28 04:04] ahg-g commented on #106546
The reason is that the scheduler keeps trying to schedule higher priority starving lower priority pods from getting any scheduling cycles.

We tried to improve this behavior in newer versions (https://github.com/kubernetes/kubernetes/issues/94009). I see you are using v1.18, can you try on 1.22 or 1.23?

[2021-11-28 04:15] ahg-g commented on #106545
We should have a pod "replace" function that removes then adds back the pod while holding the lock.

[2021-11-28 04:33] astraw99 commented on #106625
Got it, thanks :)

[2021-11-28 04:36] vupv commented on #106704
addition log

[2021-11-28 04:36] vupv commented on #106704
Nov 28 00:00:41 master01.fe.me kubelet[411584]: E1128 00:00:41.751545  411584 kubelet.go:2412] "Error getting node" err="node \"master01.fe.me\" not found"
Nov 28 00:00:41 master01.fe.me kubelet[411584]: E1128 00:00:41.851126  411584 controller.go:144] failed to ensure lease exists, will retry in 7s, error: leases.coordination.k8s.io "master01.fe.me" is forbidden: User "system:node:maste>
Nov 28 0

[2021-11-28 05:00] NikhilSharmaWe commented on #106536
@ehashman I would like to collaborate to change the OpenTelemetry package to a stable version in [k8s.io/apiserver](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/go.mod#L34) and [k8s.io/component-base](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/component-base/go.mod#L23) Could you please give me some direction what steps can I take t

[2021-11-28 06:04] mkumatag commented on #106663
triage link: https://storage.googleapis.com/k8s-triage/index.html?text=persistentvolumeclaim%20%22datadir-foo-0%22%20not%20found#bd447fbb2a6ec77324f6, its flaking for quite sometime.

[2021-11-28 06:34] sanposhiho opened #106705 "support to load custom plugins with `plugin` package so that users can use custom plugins without building custom scheduler"
Hello team.
/sig scheduling

## What would you like to be added?

This is an idea and is needed to be discussed.

There is a unique package called `plugin` in Go standard library.
https://pkg.go.dev/plugin

This package may enable us to allow users to use their custom plugin without building custom scheduler.

(Please let me know if this same idea has already been discussed in the past.)

## PoC

[2021-11-28 06:39] sanposhiho commented on #106705
/assign

[2021-11-28 06:40] sanposhiho commented on #105329
Thanks for having the discussion.

/close

[2021-11-28 06:40] #105329 closed

[2021-11-28 07:34] tfenster commented on #99170
/remove-lifecycle stale

[2021-11-28 07:38] #99656 closed

[2021-11-28 10:02] iinfotech006 commented on #43867
This would be a very important feature, we shouldn't have to destroy an entire namespace because of a little mistake in naming. Incase of installing nginx ingress with helm, you have to destroy the entire cluster if you made a mistake. Too bad

[2021-11-28 10:38] #72811 closed

[2021-11-28 11:09] lianghao208 commented on #106546
@ahg-g  thanks for the reply. I look up the #94009, but I can't find any improvements about higher priority pods starve lower priority pods. Can you elaborate which PR is related to this?

[2021-11-28 11:24] lianghao208 commented on #106546
@ahg-g
I think I get your point: if a cluster has big numbers of unschedulable pods, it can lead to starvation (pod not getting scheduling cycles) .

I am still confused about the requeuing logic. When unschedulable pods are moved back to activeQ, will they still queue ahead of those lower priority pods that never been scheduled before?

[2021-11-28 12:31] aojea commented on #106682
I misread the code, scratch my last comments, the exit status is considered as failure, it has several layers of error handling ...

[2021-11-28 12:46] aojea commented on #106682
The difference is the error type, this is a "legit" failure
[code]
the error is embedded into a grpc error for a wrong command
[code]

[2021-11-28 13:14] aojea commented on #106682
@saschagrunert @mrunalp I don't have clear if the runtimes should treat this error differently

https://github.com/kubernetes/kubernetes/blob/9a75e7b0fd1b567f774a3373be640e19b33e7ef1/vendor/github.com/opencontainers/runc/libcontainer/container_linux.go#L379-L381

 or if we should workaround it in kubernetes and "reconstruct" the errors from the GRPC error, same way we are doing with the timeout er

[2021-11-28 15:24] ahg-g commented on #106705
We looked at this before, I don't remember the conclusion though. @Huang-Wei why didn't we pursue this?

[2021-11-28 15:34] scottasmith commented on #106464
I have spent many hours on this and I have found the issue in my case.

I am running with:
- Debian Bullseye (cgroup v2 seems to be enabled by default)
- Trying to run kubelet & co. v1.22.x

The default Kubernetes cgroupDriver is `systemd`. I have tried Kubernetes v1.21.x with no problems on the same machine (downgrade with apt).

The problem I am facing is that every container after `kubeadm init

[2021-11-28 15:57] ahg-g commented on #106546
This is a general improvement on when unschedulable pods should be tried again. In your case those unschedulable pods are predominantly higher priority. If those pods are not moved as often to the active queue, then lower priority pods should have a higher chance of getting scheduling cycles.

[2021-11-28 17:32] aojea commented on #106682
unwrapping the error works https://github.com/kubernetes/kubernetes/issues/106682
but I'm afraid that we have to add it behind a feature gate like we did with the timeout error, because probes that were passing will start failing :shrug:

[2021-11-28 17:39] #100602 closed

[2021-11-28 18:27] Huang-Wei commented on #106705
This was firstly discussed in #100723. It'll be an architectural decision if we can eliminate all the challenges like build portability.

[2021-11-28 18:29] Huang-Wei commented on #106705
btw: I wasn't aware of `-trimpath` by the time I did the research. I'd like to do another round of research.

[2021-11-28 19:05] sanposhiho commented on #106705
Thanks for information. (feel free to close this issue as duplicated if you want)

As [this comments](https://github.com/kubernetes/kubernetes/issues/100723#issuecomment-811562012) said, Using this package may be quite a tough road. 😓

I feel that if we are going to offer this feature to our users, we will need at least some sort of fairly detailed guide. Like [this comment](https://github.com/gol

[2021-11-28 19:05] Neilblaze commented on #106693
Sure! I'll be waiting for their call :D

[2021-11-28 19:22] sanposhiho commented on #106705
As [mentioned](https://github.com/kubernetes/kubernetes/issues/100723#issuecomment-811562012), another way to make it so that users don't have to build their scheduler for custom plugins is to support plugins in rpc.

https://github.com/hashicorp/go-plugin.

However, performance would be a concern like extender, rpc call is definitely slower than calling native functions.

[2021-11-28 20:49] NikhilSharmaWe commented on #106426
@damemi I would like to collaborate. Could you please elaborate and tell in **what files** the changes should be made for handling the weight of Score Plugins in API Defaulting.

[2021-11-28 23:04] justaugustus commented on #56876
Slack convo for https://github.com/kubernetes/kubernetes/issues/56876#issuecomment-981157871: https://kubernetes.slack.com/archives/C2C40FMNF/p1638139647251300

[2021-11-29 00:22] puerco commented on #106693
It is a regression, the release notes program was modified to not render the links by default:
https://github.com/kubernetes/release/pull/2274
...but we need to update the release process to render them.  Let's get this fixed before the 1.23 release.
/priotity improtant-soon

[2021-11-29 00:23] puerco commented on #106693
/assign

[2021-11-29 01:44] lianghao208 commented on #106546
@ahg-g
Is the `PrioritySort` plugin determine the order of pods in active queue?
[pkg/scheduler/framework/plugins/queuesort/priority_sort.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/plugins/queuesort/priority_sort.go)
[code]
If so, higher priority pods will always queue ahead of lower priority pods. That makes sense to me.

[2021-11-29 01:49] kerthcet commented on #106546
yes, that's where the activeQ enqueue logic locates.

[2021-11-29 01:54] lianghao208 commented on #106546
@kerthcet @ahg-g
Thanks for the help! I think my problem can be solved by upgrading to v1.22.

[2021-11-29 01:54] #106546 closed

[2021-11-29 01:59] ssst0n3 commented on #106699
I am sure, but I tested a few randomly and no errors were reported. Such as v1.21.7:

[code]

[2021-11-29 02:34] ahg-g commented on #106546
I am actually interested to verify if upgrading to 1.22 does solve it for your workload. Are you able to test and verify?

[2021-11-29 05:03] NikhilSharmaWe commented on #106129
@liggitt does this issue need help, I would like to collaborate. Could you please elaborate about what we are trying to achieve here.

[2021-11-29 05:12] NikhilSharmaWe commented on #106094
@tkashem I have not worked on testing before, could you please guide me a little on how can I benchmark test the cluster or code for getting info about the relative cost (cpu/memory) for deep copies. By this I will gain some experience in testing space.

[2021-11-29 08:17] #106693 closed

[2021-11-29 08:24] Kartik494 commented on #106589
@neolit123 Could you please confirm whether the #106591 is planned after the v1.23 release ?

[2021-11-29 08:26] Kartik494 commented on #105129
@pzheng1025 i have raised PR #106489 for this .PTAL

[2021-11-29 08:59] Kartik494 commented on #105429
Hi @chandra279mohan  is this deployment manually written for specific task or is there any link which you could provided for testing this deployment

[2021-11-29 09:01] Kartik494 commented on #105429
It seems like it's an error on `mountPath` you provided in the deployment file

[2021-11-29 09:09] untcha commented on #105204
I'm experiencing the same issue some times for the `kube-root-ca.crt` and always when the cron-job or the corresponding pod is mounting a configmap with a shell script in it. The warning appears on every run but the job itself runs successful.

My cron-job runs a shell script to update the digitalocean dns record for my domain.

Appears since I upgraded my baremetal k3s cluster to v1.22.3

[2021-11-29 09:09] saschagrunert commented on #106682
I think a CRI change would allow us being more flexible with the error handling here. Ref: https://github.com/kubernetes/kubernetes/pull/106702#pullrequestreview-817508445

[2021-11-29 09:47] #86812 closed

[2021-11-29 09:57] fvasco commented on #86812
Has been this issue fixed?
In which release?

[2021-11-29 10:19] jsafrane commented on #104493
When a node is down, there is nothing that would call NodeUnpublish / NodeUnstage. There is a timer in kube-controller-manager that will "force" detach volumes from the node after 6 minutes. Hence ControllerUnpublish may be called before NodeUnpublish / NodeUnstage.

Still, when the shutdown node comes back up, it should get NodeUnpublish / NodeUnstage calls. Did it get them?

[2021-11-29 10:27] aojea commented on #106682
Agree, since we find out the problem, I think that this is going to be better handler by sig-node, unassigning myself and Tim and Clayton, and ccing node friend so it goes through the sig-node process

/unassign @aojea @thockin @smarterclayton
/cc @saschagrunert @ehashman @mrunalp

[2021-11-29 10:47] aojea opened #106709 "CoreDNS is not able to start on DualStack clusters"
### What happened?

Clusters created with kubeadm using DualStack are not able to work, because CoreDNS pods never get ready

[code]

Seeing one failed job logs https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kind-network-dual/1448567856974270464/artifacts/logs/kind-control-plane/pods/kube-system_coredns-78fcd69978-lqk7j_bb2015db-af37-45d4-be49-a8382d1156f6/coredns/0.log

It s

[2021-11-29 10:50] jsafrane opened #106710 "Volumes are detached while they're still mounted on a node"
### What happened?

A/D controller tries to detach volumes that are still mounted after 6 minutes. The conditions to trigger the detach are: https://github.com/kubernetes/kubernetes/blob/9a75e7b0fd1b567f774a3373be640e19b33e7ef1/pkg/volume/util/util.go#L387

I.e. all containers are finished. But that does not guarantee that volumes are unmounted. When a CSI driver can't unmount a volume for 6 minut

[2021-11-29 10:55] aojea commented on #106709
/cc @BenTheElder @neolit123 @chrisohaver

I didn't notice it was failing for more than 1 month :face_with_head_bandage:

I didn't have time to dig into it yet, but this PR landed just that day

https://github.com/kubernetes/kubernetes/commit/941c78f411a994d2a8f0f9c3ea280bd3746733b7

@neolit123 how is that the pods running has the version 1.8.4 but the PR seems to update kubeadm to 1.8.6?

[2021-11-29 11:36] tosmi commented on #105204
we experience the same issue on openshift 4.9.7 which is based on k8s 1.22.2. we are running a `CronJob` that mounts custom configmaps and secrets as volumes:

[code]

so i think it's not only related to _kube-root-ca.crt_.

the job runs fine, but we see the messages above in the events every time the job is triggered.

[2021-11-29 12:21] maxwellxxx opened #106713 "Nodeport led to many CLOSE_WAIT TCP connections by using kube-proxy iptables mode."
### What happened?

A lot of CLOSE_WAIT connections were found on k8s node. (The IP x.216 is the ip address of the k8s node.)
![image](https://user-images.githubusercontent.com/6694798/143841167-e0c004bf-179f-4e5d-9924-4b7d803a2326.png)

It happens at the moment of kube-proxy adding new endpoints to a non-endpoints nodeport-service. In a long-running cluster, the number will be huge as time goes o

[2021-11-29 12:22] lianghao208 commented on #106546
@ahg-g
This problem only appeared in my production environment so far, it couldn't be upgraded to 1.22 yet. :(
I will let you know as soon as I can verify the solution by upgrading to 1.22.

[2021-11-29 12:23] VictoryAnn opened #106714 "Kubelet: Container GC why Keep latest one if the pod still exists ?"
In my environment, one node have 2000+ completed pods, it means there are many pause sandbox in this node, cause inspect container timeout then kubelet is abnormal.

Question:

when container gc,  why Keep latest one if the pod still exists ?

If I change container gc GarbageCollect to DeleteAllUnusedContainers , What is the impact?

[2021-11-29 12:30] Karthik-K-N commented on #106569
@aojea I have seen that, there are no failures after increasing the timeout to 200 Millisecond from 100 Millisecond [here](https://github.com/kubernetes/kubernetes/blob/bf9ce7fd76068903e909358d2b25b05da7e4a431/staging/src/k8s.io/client-go/rest/request_test.go#L2998)

Before increasing the timeout:
[code]

After increasing the timeout
[code]

Machine information
[code]

Is there any way i can find,

[2021-11-29 12:31] aojea commented on #106713
kubeproxy opens a socket on the nodeport port to avoid malicious behaviors, I think that is what you are showing,no?

[2021-11-29 12:40] endocrimes commented on #102285
1.23 is shipping with `runc` `1.0.2`, which should close this issue out

[2021-11-29 12:43] endocrimes commented on #89903
@SergeyKanzhelev Could you link to the relevant upstream PRs and the K8s updates for tracking/closing of this?

[2021-11-29 13:29] aojea commented on #106569
Maybe we can just bump the timeout in the test, is not like we need such granularity and we are taking of milliseconds only .,.. , maybe something in the standard library is racing?

[2021-11-29 13:43] jsafrane commented on #106710
/sig storage
/priority important-longterm

[2021-11-29 13:47] #102493 closed

[2021-11-29 13:52] chrisohaver commented on #106709
Looking into this today. The error from CoreDNS should only happen when the kubernetes plugin fails to sync with the Kubernetes API, either because it can’t connect, or it can’t sync the lists of services/endpointslices.  There were changes and fixes to the API connection code, so it could be a regression.

[2021-11-29 14:04] chrisohaver commented on #106709
Actually no. The changes I was thinking of were already in 1.8.4.

[2021-11-29 14:27] dashpole commented on #106536
This needs a release of etcd before we can update the opentelemetry dependency.  See https://github.com/etcd-io/etcd/pull/13361#issuecomment-977052654

[2021-11-29 14:37] chrisohaver commented on #106709
I was unable to reproduce this issue in a kind dual stack cluster. After upgrading coredns to 1.8.6 (from 1.8.0 installed by kind), and adding list/watch permission for endpointslice, the pods were ready.

[2021-11-29 14:45] serathius commented on #89267
/lifecycle frozen

[2021-11-29 14:45] aojea commented on #106569
submitted https://github.com/kubernetes/kubernetes/pull/106716 for bumping the timeout on this test, thanks for keep pushing

[2021-11-29 14:48] aojea commented on #106709
let me check if is a regression in kind :thinking:

[2021-11-29 15:08] tkashem opened #106717 "kube-apiserver panics with "Header called after Handler finished" when health probes time out"
### What happened?

`kube-apiserver` panics with `Header called after Handler finished` error when health probes time out.

The following stack trace shows this error (from an apiserver that uses `1.21.0`:
[code]

The `Header called after Handler finished` is thrown by net/http because `handleRootHealth` attempts to call `http.ResponseWriter.Header` after the request had timed out (handler had com

[2021-11-29 15:12] tkashem commented on #106717
/sig api-machinery
cc @p0lyn0mial

[2021-11-29 15:13] tkashem commented on #106717
/assign @benluddy

[2021-11-29 15:14] jayunit100 opened #106718 "Suspicion: E2E Test GetReadySchedulableNodes blocks single node/tainted cluster nodes from passing e2e"
### What happened?

I think this function, maybe needs to be aware of non blocking taints... esp for the "only a few  nodes,and theyre all tainted" scenario..

[code]

while investigating this we should also look at this function, not sure we should be using spec.unschedulable anymore, because i think its deprecated?
[code]

MIGHT HAVE some funny logic in it that prevents  SINGLE windows worker no

[2021-11-29 15:15] jayunit100 commented on #106718
/sig windows

[2021-11-29 15:19] benluddy commented on #106717
/assign

[2021-11-29 15:20] aojea commented on #106709
working with 1.8.6 and yesterdays kubernetes
[code]

[code]

podIPs
[code]

[2021-11-29 15:35] aojea commented on #106709
This is weird, I hit a similar issue in openshift, endpoints doesn't match the IP family of the kubernetes.default service

[code]

[code]

apiserver service is single stack, at least until this KEP https://github.com/kubernetes/enhancements/pull/2956 fixes it

What I don't understand is why the order of the IPs in kind is different
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kuberne

[2021-11-29 16:27] encodeflush commented on #106694
/milestone v1.23
/priority critical-urgent

[2021-11-29 17:03] rajula96reddy opened #106719 "[Failing test][sig-storage] gce-cos-k8sbeta-serial"
### Which jobs are failing?

gce-cos-k8sbeta-serial

### Which tests are failing?

- Kubernetes e2e suite.[sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Dynamic PV (block volmode)] disruptive[Disruptive][LinuxOnly] Should test that pv used in a pod that is deleted while the kubelet is down cleans up when the kubelet returns
- Kubernetes e2e suite.[sig-storage] In-tree Volumes [Driver:

[2021-11-29 17:07] rajula96reddy opened #106720 "[Failing test][sig-storage] gce-cos-k8sbeta-slow"
### Which jobs are failing?

https://testgrid.k8s.io/sig-release-1.23-informing#gce-cos-k8sbeta-slow

### Which tests are failing?

- Kubernetes e2e suite.[sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Dynamic PV (block volmode)] multiVolume [Slow] should access to two volumes with different volume mode and retain data across pod recreation on different node
- Kubernetes e2e suite.[si

[2021-11-29 17:41] msau42 commented on #106694
All of these tests require gce pd driver which has been disabled in kube-up clusters. This looks like another skip that needs to be added. cc @leiyiz

[2021-11-29 17:41] msau42 commented on #106694
/assign @leiyiz @mattcary

[2021-11-29 18:19] MadhavJivrajani commented on #106094
@NikhilSharmaWe 👋🏼
I'm currently working on this and will document everything on this issue if you'd like to follow along and pitch in with questions/feedback! :)

[2021-11-29 18:21] aojea commented on #106718
/sig testing

we should be careful with the fallout of changing these methods  :grimacing:

[2021-11-29 18:27] NikhilSharmaWe commented on #106094
@MadhavJivrajani that will be great.
Thank you.

[2021-11-29 18:28] aojea commented on #106709
my fault, sorry for the noise :sweat_smile:

[2021-11-29 18:48] ehashman commented on #106390
Hi @NikhilSharmaWe, it is very important that this test suite is accurate and doesn't flake and I don't have time to onboard a new contributor to help with it right now, sorry.

[2021-11-29 19:03] leiyiz commented on #106694
Seems like this test is owned by [sig-cloud-provider-gcp], does this test not use `cloud-provider-gcp` for cluster-up yet? @jpbetz

[2021-11-29 19:08] jpbetz commented on #106694
My high level understanding is that this is an in-tree test and so shouldn't transition to use `cloud-provider-gcp` (out-of-tree), but should instead skip any tests that are not supported in-tree. Please correct me if that's not the case.

[2021-11-29 19:12] leiyiz commented on #106694
Oh I'm just a bit confused as I thought the owner tag meant this test is somehow set up with `cloud-provider-gcp`. if this test uses `cloud-provider-gcp` for the cluster bring-up and thus pdcsi driver is installed, in-tree tests should pass as well. I guess the owner tag does not mean it is set up with `cloud-provider-gcp`?

[2021-11-29 19:17] ehashman commented on #102231
/remove-kind bug
/kind cleanup

[2021-11-29 19:21] jpbetz commented on #106694
Right, `sig-cloud-provider-gcp` owns both in-tree and out-of-tree tests. For example, it looks like this is a test where the gcp cloud provider is enabled, but it's enabled in-tree (https://github.com/kubernetes/test-infra/blob/1167bbff3220b02d439bc2312b1d694f2029b051/config/jobs/kubernetes/generated/generated.yaml#L59).

[2021-11-29 19:35] leiyiz commented on #106694
thanks for the clarification!

[2021-11-29 19:38] bskidmore commented on #97076
Is there a path forward to remediate this issue within the k8s?

[2021-11-29 19:41] MikeSpreitzer opened #106726 "APF executing seat count is never zero"
### What happened?

While investigating another issue, I noticed that the `apiserver_flowcontrol_priority_level_seat_count_watermarks` histograms never get an Observation of zero.  This makes no sense.

See https://github.com/kubernetes/kubernetes/pull/106085#issuecomment-977567398 and related following remarks for some details.

### What did you expect to happen?

I expected the count of seats oc

[2021-11-29 19:41] MikeSpreitzer commented on #106726
@tkashem
@wojtek-t

[2021-11-29 19:43] jsturtevant commented on #106278
had another flake here: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1465027326419931136

[2021-11-29 20:11] justaugustus commented on #56876
@nikhita's debugging guide for https://github.com/kubernetes/kubernetes/issues/56876#issuecomment-981157871: https://gist.github.com/nikhita/4f266a04ab5858284f39d8f3b94c30f1

[2021-11-29 20:18] mattcary commented on #106663
/assign

Thanks for creating the issue. Jordan alerted me to this and I've started looking into it.

I'm not sure what's going on, I can only reproduce with stress.

[2021-11-29 20:21] MikeSpreitzer commented on #106726
@kubernetes/sig-api-machinery-bugs

[2021-11-29 20:31] jingxu97 commented on #74374
@cofyc Is this issue completely resolved or still need some fixes after your change?

[2021-11-29 20:43] astoycos commented on #106011
Hi @QWERTY92009 This is most likely a question for/ issue for the Calico CNI since they are the ones responsible for the datapath implementation of Network Policy.

[2021-11-29 20:47] jsturtevant commented on #106608
Yes, I think think the simplest thing to so would be get a list of windows nodes iterate though each one, looking up the allocatable memory for the node, creating a pod to fill that memory and assign it to that node for scheduling via `nodeselector`, ensuring the scheduling was successful.  Then once the nodes are all full deploy the pod that should go into pending (code should stay the same).

ps

[2021-11-29 21:23] #106569 closed

[2021-11-29 21:35] aojea commented on #97076
you can enable an admission controller https://github.com/kubernetes/kubernetes/pull/97395

[2021-11-29 22:13] gman0 opened #106729 "Interaction between NodeUnstageVolume and NodePublishVolume"
### What happened?

Interaction between failing `NodeUnstageVolume` and `NodePublishVolume` results in unmountable volumes.

We've observed a following series of events taking place:
1. The last consumer of a volume leaves the node, triggering `NodeUnstageVolume`.
2. For some reason this call fails, but still manages to unmount the volume from the node. Nevertheless, it returns an error.
3. Kubele

[2021-11-29 22:14] gman0 commented on #106729
/sig storage

[2021-11-29 22:41] #106709 closed

[2021-11-29 22:51] tynril commented on #104443
/remove-lifecycle stale

[2021-11-29 23:33] verb commented on #106365
I'm having trouble reproducing this. The [projected volumes](https://kubernetes.io/docs/concepts/storage/projected-volumes/) doc says that file mode should be set to the `RunAsUser` in the pod's (not container) `SecurityContext`.

The owner is sometimes taken from the container's `RunAsUser`, though, I suspect when there's only one `volumeMount` for the `volume`.  If I create a pod with a containe

[2021-11-29 23:42] howardjohn commented on #106365
t2 reproducer:
[code]

Testing we can access the token
[code]

---

With ephemeral containers:
[code]

attach ephemeral container:
[code]

Testing access:
[code]

[2021-11-29 23:46] msau42 commented on #106365
There is special logic to handle setting permissions for projected service account tokens. I wonder if the logic is not handling ephemeral containers properly. https://github.com/kubernetes/kubernetes/pull/89193

[2021-11-30 00:01] olenm commented on #17144
does shell completion solve the issue of case 3 for OP?

I'd like to see this issue re-opened - I do not entirely agree that its the shell's job to process a list of pod-names and parse it with grep/awk/sed, and then feed it to the user when an attempt for `kubectl get pod nginx` is used with the intent to list all pods that start with that prefix.

[2021-11-30 00:19] SergeyKanzhelev commented on #89903
thank you for a ping. We failed to vendor fixes to kubernetes because of circular dependency to CRI. Standalone cAdvisor needs to be used in these cases. There is some information: https://cloud.google.com/kubernetes-engine/docs/concepts/using-containerd#metrics-missing that needs to be ported to https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/. Filed docs task: https

[2021-11-30 00:20] SergeyKanzhelev commented on #89903
@szimonek can you try using standalone cAdvisor and check if issue is resolved?

[2021-11-30 01:08] VictoryAnn commented on #106714
/sig Node

[2021-11-30 02:08] thyarles commented on #87546
Hi there! Improving a little more, thank you all!

[code]

[2021-11-30 02:28] liggitt commented on #106365
The logic in https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/2451-service-account-token-volumes/README.md#file-permission (implemented in https://github.com/kubernetes/kubernetes/pull/89193) requires visibility to all containers at pod creation time.

If all non-ephemeral containers run as a unified, non-root uid, the token will only be readable by that uid.

[2021-11-30 03:00] humblec commented on #106729
@gman0 what kind of PVC ( RWO, RWX ) is in use here?

[2021-11-30 04:01] EdmundsEcho opened #106730 "kubectl does not connect to local machine api"
sig/CLI

### What happened?

New M1 pro machine.  New installs.  I have kube cluster made with kind on digitalOcean.  The kube object config file works on the cloud.  I get "can't find api version.." looking errors when I use the configuration to create a cluster locally.  It's clear that my kubectl is not connecting to anything that can provide a list of the available apis, so all in all makes se

[2021-11-30 04:11] thyarles commented on #51076
Awesome! I tried both commands bellow and I got a PASS on both:
[code]

[2021-11-30 04:28] cofyc commented on #102902
/remove-lifecycle stale

[2021-11-30 04:48] NikhilSharmaWe commented on #106608
Do we have some examples in the repo where we do something similar for other nodes ?

First we need to make `getWindowsNodes()` function or is it already present ?

Also Do we need to run the whole code(After Modifying) inside `overrideAllocatableMemoryTest` in loop for every windows node and if even one return fails, the test fails.

[2021-11-30 05:48] yxxhero commented on #106714
@VictoryAnn Please use the correct issue template to ask questions. Thanks very much.

[2021-11-30 06:13] pctseng7 commented on #40413
Following, is there any update or solution?

[2021-11-30 06:16] #105733 closed

[2021-11-30 06:56] MadhavJivrajani commented on #106730
/sig cli
/triage needs-more-information

[2021-11-30 06:57] MadhavJivrajani commented on #106730
/triage needs-information

[2021-11-30 07:11] thockin commented on #60789
I had a little time to hack and this one seemed approachable.  In truth it will need a mini-KEP to proceed.  #106732

[2021-11-30 07:11] Sam-Sundar-Apty opened #106733 "Service endpoints not reachable within pods"
### What happened?

Hi K8s Team,

We have an offline environment where Microk8s is deployed with Calico node and CoreDNS as DNS.

We could see DNS is not resolving endpoints and are getting i/o timeout. We have followed [this article](https://github.com/ubuntu/microk8s/files/7587411/redhat.txt) to remove NFTABLE and use iptable instead, and also added below env in caliconode daemonset
[code]
When

[2021-11-30 07:15] mythi commented on #92211
Fixed in cri-o/containerd and documented in https://kubernetes.io/blog/2021/11/09/non-root-containers-and-devices/

/close

[2021-11-30 07:16] #92211 closed

[2021-11-30 07:25] Sam-Sundar-Apty commented on #106733
/sig Network

[2021-11-30 07:27] likakuli opened #106734 "Pod stuck in terminating state with pod worker exit and containers not exist"
### What happened?

Pod stuck in terminating state in my k8s cluster（v1.20.10）. Finally I found that the pod worker exit and the pod’s containers not exist already by log message. Restart kubelet could resolve the problem.

### What did you expect to happen?

Kill pod successfully even there is no containers exist in runtime.

### How can we reproduce it (as minimally and precisely as possible)?

[2021-11-30 08:16] aojea commented on #106733
/remove-kind bug
/kind support

This looks at first sight more a deployment issue than a bug, it also mentions lot of different components that are not tracked by the kubernetes/kubernetes project, I suggest you to check first on one of those projects and reopen the issue if you are sure this is a bug in the Kubernetes code.

Thanks

/close

[2021-11-30 08:16] #106733 closed

[2021-11-30 08:32] luozhiwenn opened #106735 "kubelet doesn't clean up the termination-log file on the host"
### What happened?

Each time a container needs to be created, the kubelet will create a termination-log file on the host and mounts the file to the path specified by the terminationMessagePath field in the container for outputting termination messages.
The paths of these files on the host are as follows:
`/var/lib/kubelet/pods/{POD_ID}/containers/{CONTAINER_NAME}/{RANDOM_NUM}`

It seems that kube

[2021-11-30 08:39] luozhiwenn commented on #106735
/sig node

[2021-11-30 08:40] #105806 closed

[2021-11-30 08:52] cofyc commented on #74374
/remove-lifecycle rotten
not resolved completely, but the impact is minor (I guess).

[2021-11-30 09:01] aojea commented on #102646
some distros, like Redhat, disable SCTP by default in the kernel because of security issues, just check that you the kernel SCTP modules loaded if your app uses them.

as with every networking problem, check that the connectivity works in every segment of the path:
1. it works connecting from the same pod
2. it works connecting from the host to the pod
3. it works connecting from the host to the s

[2021-11-30 09:19] sebltm commented on #106419
So I've confirmed that we're not using any kinds of multi or custom scheduler.
However, we have noticed that this issue only ever occurs (as far as we could tell) with pods that have requests less than or equal too 100m of CPU

[2021-11-30 09:50] wojtek-t commented on #106361
We should double check the history, but I think that in the past we were:
- asynchronously sending bind request
- updating the cache before sending the request
and then the timeout was actually protecting us from the binding request actually not succeeding.

So I agree with Aldo - that we should double check if this timeout is at all needed currently.

[2021-11-30 10:23] okechukwu-opara commented on #55872
you can add "--validate=false" at the end of your script.

[2021-11-30 10:27] kebe7jun opened #106738 "Missing completion of `kubectl config set-context`"
### What happened?

The `kubectl config set-context` command does not automatically complete the existing contexts.

### What did you expect to happen?

The contexts are automatically listed when the tab is pressed.

### How can we reproduce it (as minimally and precisely as possible)?

kubectl config set-context <TAB>

### Anything else we need to know?

_No response_

### Kubernetes version

<de

[2021-11-30 10:28] kebe7jun commented on #106738
/sig cli

[2021-11-30 10:32] #102476 closed

[2021-11-30 10:37] amarkevich commented on #49937
/reopen plz

[2021-11-30 11:29] smallAttr opened #106741 "throw unable to upgrade connection exception by executor.Stream ?"
### What happened?

I used command `remotecommand`( import "k8s.io/client-go/tools/remotecommand") to create streamExecutor.
when I exec this code
executor.Stream(remotecommand.StreamOptions{
			Stdin:             t,
			Stdout:            t,
			Stderr:            t,
			Tty: 			   true,
			TerminalSizeQueue: t,
		})
and throw error **unable to upgrade connection....** .

debug and I found that the

[2021-11-30 11:30] smallAttr commented on #106741
/sig cli

[2021-11-30 11:50] gman0 commented on #106729
@humblec This was RWX. I've tested RWO too (in a single-node cluster though). The VolumeAttachment object is kept around until `NodeUnstageVolume` succeeds. Scheduler would choose the node that already has the attachment anyway, so we're back in the same situation, where only `NodePublishVolume` is called -- without staging first.

[2021-11-30 12:25] silenceper opened #106742 ""procMount=unmasked" of pod doesn't work when use docker as runtime"
### What happened?

"procMount=unmasked" of pod doesn't work when use docker as container runtime.

docker inspect xxx
[code]
pod:
[code]

### What did you expect to happen?

set `MaskedPaths` and `ReadonlyPaths` empty.

### How can we reproduce it (as minimally and precisely as possible)?

use dockerd as container runtime

### Anything else we need to know?

_No response_

### Kubernetes version

[2021-11-30 13:15] ak2766 commented on #94524
The same thing for me trying to go from `v1.21.7` to `v1.22.4`:

[code]

[2021-11-30 13:33] #95600 closed

[2021-11-30 13:45] tosmi commented on #105204
searching the k8s 1.22.2 source code for the message above lists two locations:

* `pkg/kubelet/util/manager/cache_based_manager.go` and
* `pkg/kubelet/util/manager/watch_based_manager.go`

i'm a noob in regards to k8s source code but it seems to be this is a caching issue.

[2021-11-30 13:53] fanchuanster commented on #73570
jenkins@7b4cc536a0af:~$ time kubectl get namespace -v6
I1130 13:50:18.055615   13278 loader.go:372] Config loaded from file:  /var/jenkins_home/.kube/config
**I1130 13:50:38.948753   13278 round_trippers.go:454] GET https://36D0F801E271A8098A58237D06FC3BE0.gr7.eu-central-1.eks.amazonaws.com/api?timeout=32s 200 OK in 20892 milliseconds**
I1130 13:50:38.957243   13278 round_trippers.go:454] GET http

[2021-11-30 13:56] claudiubelu commented on #102100
I've seen this other flakes  recently on the master branch runs [1][2].

[1] https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1463022222498074624
[2] https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1464115646240395264

I have sent a PR here, which already merged: https:/

[2021-11-30 14:02] hrittikhere commented on #73570
For me deallocating the VM and creating a new system with fresh installation started working without delays. Quite strange because I wasn't able to pin point the reason but it works and that's okay with me.

May no one faces the same issue in a production cluster 🙂

[2021-11-30 14:25] BinacsLee commented on #106545
/assign

[2021-11-30 14:34] #96803 closed

[2021-11-30 15:11] felixhuettner opened #106745 "Inconsistent behaviour of SSA in combination with resourceVersion for different resources"
### What happened?

I want to create new resources (for this example configmaps and services) using ServerSideApply. When creating these resources i want to make sure that the name of the resource is not already in use (as the name is generated randomly).

To create a new configmaps i follow the following workflow:
1. I generate a name that i wish to use
2. I list all configmaps in the namespace i

[2021-11-30 15:17] pohly opened #106746 "logcheck: not applied to packages under staging"
### What happened?

I recently added a benchmark to staging/src/k8s.io/component-base/logs/benchmark which has code that triggers an error from current logcheck (`ErrorS` is passed a slice with `...` - valid, but not handled by the tool). See https://github.com/kubernetes/kubernetes/pull/106594

I did not get an error for that from `pull-kubernetes-verify`.

I did get it only after moving the benc

[2021-11-30 15:22] felixhuettner commented on #106745
/sig api-machinery

[2021-11-30 15:27] endocrimes commented on #102880
Now we have all three backports LGTM'd and Approved from a node pov, we need to go through the cherry pick approval process which I'm not super familiar with

For reference inline:
- 1.20: https://github.com/kubernetes/kubernetes/pull/106295
- 1.21: https://github.com/kubernetes/kubernetes/pull/106254
- 1.22: https://github.com/kubernetes/kubernetes/pull/106253

[2021-11-30 15:40] fromanirh commented on #102880
Neither am I, but I'll have a deep look ASAP. Thanks!

[2021-11-30 15:44] liggitt commented on #106745
is it only Service that displays the inconsistent behavior? is this reproducible in 1.22 (Service REST handling was unified with other resources in that version)

[2021-11-30 15:46] felixhuettner commented on #106745
It seems like it is only services. At least i did not find another resource that has this behaviour as well. Allthough i only tested the ones listed above.

Yes, i reproduced it using k3s in 1.22.4

[2021-11-30 15:47] liggitt commented on #104531
This is a regression in 1.22, caused by https://github.com/kubernetes/kubernetes/commit/3eadd1a9ead7a009a9abfbd603a5efd0560473cc#diff-d0efebc6b30989428cd9bc3f04bb15cd75134e38ad38ce21a648fed69389c7aeL273

The change was intentional, since restarting a node should not *necessarily* stop all pods/containers on that node (see https://github.com/kubernetes/kubernetes/pull/104798#issuecomment-924038286)

[2021-11-30 15:51] smarterclayton commented on #104531
I agree with Jordan, that is what we should have done.  People using graceful shutdown on non-terminal pods should be informed of this behavior change as well (someone deploying in 1.22 not using transient nodes may be impacted by this in a way that causes data loss).

[2021-11-30 15:57] endocrimes commented on #102880
@ehashman has been through the process before and might be able to give you some pointers

[2021-11-30 16:02] billmetangmo commented on #36117
Same for me but i needed to restart kube master nodes

[2021-11-30 16:04] smarterclayton commented on #104531
@ehashman @rphillips see upthread, Jordan and I also briefly discussed back porting the config flag that would set the default as well (we should explore that in the fix), and for distros that want to use beta graceful shutdown but are not using transient nodes, we should recommend that they leverage that flag in order to avoid data loss on pods (if we indeed decide to include the flag).

[2021-11-30 16:05] lauchokyip commented on #93100
Given the size of the PR for `expose.go`, I don't think this should be a good first issue.

[2021-11-30 16:05] lauchokyip commented on #93100
/remove good-first-issue

[2021-11-30 16:05] QWERTY92009 commented on #106011
Thanks @astoycos. Do you agree that targeting a pod with a network policy should not affect NodePort service? Thanks!

[2021-11-30 16:08] lauchokyip commented on #93100
/remove-good-first-issue

[2021-11-30 16:47] encodeflush commented on #106719
/priority important-soon

[2021-11-30 16:48] encodeflush commented on #106720
/priority important-soon

[2021-11-30 17:08] EdmundsEcho commented on #106730
Apologies for my confusion, but do I need to provide additional information?

[2021-11-30 17:11] liggitt commented on #101989
@SergeyKanzhelev is this still unresolved? if so, is it still being investigated?

[2021-11-30 17:37] ddebroy opened #106749 "Handle detach operations after A/D controller has shut down and pod referencing a CSI migrated volume has been deleted while the A/D controller was down"
### What happened?

If A/D controller has shut down and pod referencing a CSI migrated volume is deleted (as commented in https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_attacher.go#L417-L420), the detach may not be handled correctly. Specific handing of this situation in https://github.com/kubernetes/kubernetes/commit/129f15328bfc159e759260408fedbb9ea1ab2b61#diff-3e8f8a6e5

[2021-11-30 17:44] claudiubelu opened #106750 "[sig-apps] Deployment deployment should support proportional scaling [Conformance] failure"
### Which jobs are failing?

aks-engine-windows-containerd-master

### Which tests are failing?

[code]

### Since when has it been failing?

Unknown

### Testgrid link

https://testgrid.k8s.io/sig-windows-signal#aks-engine-windows-containerd-master

### Reason for failure (if possible)

In the test job failure below, we can see the following messages:

[code]

The test is trying to spawn 10 pods.

[2021-11-30 17:51] claudiubelu opened #106751 "test flake: [sig-windows] [Feature:Windows] Kubelet-Stats Kubelet stats collection for Windows nodes when running 3 pods should return within 10 seconds"
### Which jobs are failing?

aks-engine-windows-containerd-master

### Which tests are failing?

[sig-windows] [Feature:Windows] Kubelet-Stats Kubelet stats collection for Windows nodes when running 3 pods should return within 10 seconds

### Since when has it been failing?

Unknown

### Testgrid link

https://testgrid.k8s.io/sig-windows-signal#aks-engine-windows-containerd-master

### Reason for

[2021-11-30 18:26] ddebroy commented on #106749
/sig storage

[2021-11-30 18:57] jayunit100 opened #106752 "Add UDP NetworkPolicy tests for windows"
### What would you like to be added?

Right now our networkpolicy tests for windows dont test UDP connections.

### Why is this needed?

In some corner cases, adding UDP test coverage will round out our ability to conform Windows nodes to the broader networkpolicy conformance initiatives we have.

[2021-11-30 19:01] dims opened #106753 "[WIP][IGNORE_ME][publishing-bot-nightly] test issue"
Please ignore... testing something

[2021-11-30 19:29] karunasagark commented on #104694
/remove-lifecycle stale

[2021-11-30 19:32] ahg-g commented on #106419
I think this is caused by a static pod being created on the node, likely kube-proxy. Static pods cause race conditions between kubelet and the scheduler.

[2021-11-30 19:33] jsturtevant commented on #106580
/triage accepted
/priority important-soon

[2021-11-30 19:33] jsturtevant commented on #106580
/milestone v1.24

[2021-11-30 19:57] aojea commented on #106745
/cc @aojea @thockin @khenidak
If is only services we should take a look
/sig network

[2021-11-30 20:17] mikebrow commented on #76951
https://github.com/kubernetes/enhancements/issues/3066

[2021-11-30 21:02] dims commented on #106753
[code]

[2021-11-30 21:15] fedebongio commented on #106548
/assign @MikeSpreitzer @tkashem
Seems to be related to P&F
/triage accepted

[2021-11-30 21:17] fedebongio commented on #106668
@lorenz would you be up to add this case to our documentation? Let us know, thanks!
/help
/triage accepted

[2021-11-30 21:18] fedebongio commented on #106679
/triage accepted

[2021-11-30 21:20] fedebongio commented on #106681
/assign @yliaog
/triage accepted

[2021-11-30 21:20] fedebongio commented on #106717
/triage accepted

[2021-11-30 21:21] fedebongio commented on #106745
/cc @apelisse @jpbetz @leilajal
/triage accepted

[2021-11-30 21:22] fedebongio commented on #106574
/triage accepted

[2021-11-30 21:22] fedebongio commented on #106625
/triage accepted

[2021-11-30 21:24] fedebongio commented on #106625
/triage accepted

[2021-11-30 21:24] fedebongio commented on #106666
/triage accepted

[2021-11-30 21:37] aojea commented on #106548
this webhook error message looks suspicious

[2021-11-30 21:51] bbarnes52 commented on #68720
@denkensk could I trouble you to update this issue for posterity?

As far as I can tell, the initial implementation of equivalence classes was removed in https://github.com/kubernetes/kubernetes/pull/71399 and the design described in https://docs.google.com/document/d/1x907Ow183mHVdmIgBO_BjZA0DPjPnB1lzCRnbBtm1Ks/edit#heading=h.41ul1d88aj6c was started in https://github.com/kubernetes/kubernetes/pu

[2021-11-30 22:43] #106753 closed

[2021-11-30 22:43] dims commented on #106753
going to use https://github.com/kubernetes-nightly/kubernetes/issues/1

[2021-11-30 22:49] jcpuzic commented on #106464
I spent a bit more time on this issue and found the line that should be added to /etc/containerd/config.toml referenced here:

https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd-systemd

was not in the correct place.  Once I moved the line my pods stayed up.  As a note, I did confirm Debian Bullseye is cgroup v2 enabled by default:

https://www.debian.org/releas

[2021-12-01 00:07] howardjohn opened #106754 "client-go fake: watch does not respect label selector"
### What happened?

Created a watch with LabelSelector set in fake client. It is ignored.

### What did you expect to happen?

LabelSelector is respected

### How can we reproduce it (as minimally and precisely as possible)?

Call .Watch() on any fake. Sorry I don't have a trivial runnable example right now but can get one latter if needed

### Anything else we need to know?

https://github.com/ku

[2021-12-01 01:47] ssst0n3 commented on #106699
I found something strange:

File `./staging/src/k8s.io/sample-apiserver/pkg/generated/openapi/` exists under the source code, but not exists under the container started by `./build/shell.sh`.

[code]

[code]

[2021-12-01 01:56] ssst0n3 commented on #106699
So the quick-dirty solution to avoid hack/update-vendor.sh failed is, just copy the missed file into the container:
[code]

[2021-12-01 01:56] ssst0n3 commented on #106699
But why this file will be missing in the build container?

[2021-12-01 03:01] cyclinder commented on #104234
hi everyone!

Is anyone doing this? I am willing to do this！

[2021-12-01 03:22] smallAttr commented on #106741
/sig api-machinery

[2021-12-01 03:29] NoicFank opened #106757 "kubelet /run interface not support spaces in commad"
### What happened?

why kubelet /run interface using space to split the cmd?
[code]
which leads to
[code]

### What did you expect to happen?

I want to use kubelet /run interface to run a command in container, and get the run result. The command contains many spaces.

### How can we reproduce it (as minimally and precisely as possible)?

send to kubelet /run interface
[code]

### Anything else we

[2021-12-01 03:56] maxwellxxx commented on #106713
Emmm... no. It seems like kubeproxy just listens on nodeport but never does accept. In some scenarios, connections will backlog in accept list, when client close the connection, CLOSE_WAIT  left.

[2021-12-01 04:03] wwc13485375003 opened #106758 "can not add a new node"
### What happened?

when I add a new node by kk , the calico is not ready. My four node ip is 172.28.138.127,172.28.138.128,172.28.252.244，172.20.196.48,but the new 172.20.196.48 has some problem.
run "calicoctl node status" on the 172.28.138.127
| PEER ADDRESS | PEER TYPE | STATE | SINCE | INFO |

+—————-+——————-+——-+————+————-+

| 172.28.138.128 | node-to-node mesh | up | 2021-11-09 | Establishe

[2021-12-01 04:43] k82cn commented on #105802
co-scheduling is just one feature of batch system, e.g. [Slurm](https://slurm.schedmd.com/documentation.html); and there're also several feature interactions between those features, e.g. co-scheduling + preemption, which make a batch system more complex. So are we going to do all of those features into k/k for batch workload?

Yes; based on complexity of batch scheduler, we proposed to have a new

[2021-12-01 06:27] sunlintong opened #106760 "Why my apiserver requests per second so high, but everything is OK?"
### What happened?

**My cluster’s apiserver seems handling millions of request per-second, what’s the wrong?**

I execute the follow promql to get apiserver qps:
[code]
response:
[code]
As you see, the QPS is more than 10 millions. It’s **unbelievable**!
There’s only 21 nodes(3 of them is master, means 3 apiserver replicas) and 2000+ pods in my cluster.
And every apiserver replicas user no more t

[2021-12-01 07:11] k82cn commented on #105802
In addition, prefer to have neutral repo for batch interface, similar to CSI, CNI, CRI and so on. And let's the orchestrators/organization to build their own implementations :)

I used to create [openBSI](https://github.com/openbsi) for that purpose, but the progress is slow because of effort :(

[2021-12-01 07:17] SimoneLazzaris commented on #104625
/remove-lifecycle stale

[2021-12-01 07:26] aojea commented on #106758
This looks more like a Calico issue, so you should report the problem on their github project.

Thanks
/close

[2021-12-01 07:26] #106758 closed

[2021-12-01 07:29] aojea commented on #106713
The traffic received in the port specified by the nodeport is forwarded to the corresponding pods (the ones that belong to the Service with the node port), the socket open is just a security measure it should not accept any connection.

When the nodeport service is removed, kube-proxy closes the socket

[2021-12-01 07:32] aojea commented on #104234
at least I didn't see any PR from @amustaque97 , in case of collision please sync between both to avoid duplicate efforts

[2021-12-01 07:44] aojea commented on #106760
You can enable the apiserver audit logs and have more granularity https://kubernetes.io/docs/tasks/debug-application-cluster/audit/ to understand what is generating those queries

[2021-12-01 08:16] jonyhy96 opened #106761 "Failure cluster [87f43c63...]"
### Failure cluster [87f43c6306441ac424c1](https://go.k8s.io/triage#87f43c6306441ac424c1)

##### Error text:
[code]
#### Recent failures:
[2021/11/30 下午5:25:50 ci-kubernetes-generate-make-test-count10](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-generate-make-test-count10/1465612524052287488)
[2021/11/30 上午11:24:25 ci-kubernetes-generate-make-test-count10](https://prow.k8s.io

[2021-12-01 08:17] jonyhy96 commented on #106761
/sig cli

[2021-12-01 08:21] jonyhy96 commented on #106761
There may have two issues to fix:
1. ginkgo doesn't support run with `-count`
2. the assertion must check whether schema is nil first

[2021-12-01 08:26] 249043822 commented on #106714
keeping the lastest failed container is for users to see the failure reason by container logs and status details

DeleteAllUnusedContainers  is used by eviction while node has resource disk pressure, but it still uses the same gcPolicy with GarbageCollect, still keep the latest one exited container, unless your pod is terminal.

[2021-12-01 08:36] NikhilSharmaWe commented on #105678
Do this case need a change code in [this](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/apimachinery/resource_quota.go#L1102) type of cases
**IMO** : this will never fail because whether err will be `nil` or it will exist. So, we don't need to change this code.

[2021-12-01 08:39] jonyhy96 commented on #106761
/assign

[2021-12-01 08:53] zhucan opened #106763 "Run kube-controller-manager with binary mode failed"
### What happened?
![image](https://user-images.githubusercontent.com/13997135/144202783-bd64babd-83c6-48c2-bc22-eeb907c80f91.png)

### What did you expect to happen?

Run kube-controller-manager with binary mode successfully.

### How can we reproduce it (as minimally and precisely as possible)?

1. git clone https://github.com/kubernetes/kubernetes.git
2. cd GOPATH/src/github.com/kubernetes/kube

[2021-12-01 09:50] Ahmed-Aghadi commented on #105678
IMO : this will never fail because whether err will be nil or it will exist. So, we don't need to change this code.

What I had done in this case was :
`if err != nil && !apierrors.IsAlreadyExists(err) {`
				`framework.Failf("expected 'alreadyExists' as error, got instead: %v", err)`
			`}`

[2021-12-01 10:16] pohly commented on #105678
Note that that `err != nil` is redundant (= not wrong, just not needed). I later clarified that in https://github.com/kubernetes/kubernetes/pull/106646.

[2021-12-01 10:38] mfanjie opened #106765 "Dry-run support for HPA"
### What would you like to be added?

Can we add dry-run function in HPA, similarly to VPA?
From code implementation perspective, this is low cost/risk change and  it would be super useful for many cases.
As I know, some organizations changed the HPA code and just for dry-run, it's better if it can be supported natively.

### Why is this needed?

HPA is is flexible enough to support built-in metri

[2021-12-01 10:41] mfanjie commented on #106765
/sig autoscaling

[2021-12-01 10:50] sunlintong commented on #106760
I used this audit config to watch pod audit log.
[code]
The log quantity is small. not reaching the million level.

[2021-12-01 11:16] amustaque97 commented on #104234
Hi @cyclinder, apologies I was busy with some other work. You must please continue.

[2021-12-01 11:34] NahisWayard commented on #103355
Hello.
I encountered the same issue here. My volume was an `emptyDir` I had to use a `hostPath` instead and I noticed that when the volume was mounted `fsGroup` was ignored. I didn’t test the other ephemeral volume types.
The same workaround with an init container worked.

[2021-12-01 11:57] denkensk commented on #68720
@bbarnes52
The new design was not merged because (maybe....) there were not enough people to help review the code. Do you have similar requirements as described in the design document? Can you describe it in detail? Maybe we can think about restarting it.

[2021-12-01 12:14] dhineshbabuelango commented on #62099
You got any solution for this?

[2021-12-01 12:23] rparwani16 commented on #53881
Client Version created . Server version : Unable to connect to the server: dial tcp 127.0.0.1:8080: connectex: No connection could be made because the target machine actively refused it.

[2021-12-01 12:51] tulsluper commented on #105933
We've updated kubelet in our clusters to v1.20.13 (which contains the cherry picked fix), but still observe the issue
[code]

[2021-12-01 12:53] ak2766 commented on #94524
So, today I tried something.  I did this:
[code]

I then tried the `kubeadm upgrade plan` command again and what do you know:

<details>
<summary>Upgrade Plan</summary>

[code]

</details>

I'm going to destroy the cluster again and detail the steps I'm having to take manually that `kubeadm` is no longer doing.  The one that is very annoying is that on upgrade, the static pod manifests aren't bein

[2021-12-01 12:56] ak2766 commented on #94524
/reopen

[2021-12-01 12:57] ak2766 commented on #94524
/dang it!

[2021-12-01 13:02] kevintatro commented on #47202
I'd be super disappointed if this timezone functionality goes away without a replacement. We are currently running 1.21 and are looking forward to 1.22 specifically because of the timezone support. Determining schedules in UTC and making sure development teams understand that isn't really an issue for us, but our biggest problem is twice per year (when daylight savings starts and ends) I have to r

[2021-12-01 13:23] bavarianbidi commented on #10043
1.21 still have the `binding` resource. Is anyone already working on it or is there a reason why the binding resource still get served?

[2021-12-01 13:28] ak2766 opened #106767 "Unable to upgrade cluster more than 2 times using kubeadm."
### What happened?

I deployed a cluster of 10 nodes - 3 control-plane nodes and 7 worker nodes - and an external 3 node ETCD cluster on the 3 control-plane nodes.  The initial deployment was for v1.20.13.  I created a BASH script after going through Kubernetes the hard way.

I then proceeded to upgrade the cluster using another BASH script to v1.21.7.  That did not go so well.  Well, the upgrade

[2021-12-01 13:30] ak2766 commented on #106767
/sig cluster-lifecycle

[2021-12-01 13:34] ak2766 commented on #94524
I've created a new issue: #106767

[2021-12-01 13:43] datashaman commented on #60140
In my case the file is only 17MB. Can't do it.

[2021-12-01 14:14] alculquicondor commented on #53331
Can you elaborate? Those are fields for the Job spec. So you have to put them as part of .jobTemplace.spec

[2021-12-01 14:20] marckhouzam commented on #94927
I was really missing this feature so I posted a PR:
https://github.com/kubernetes/kubernetes/pull/106755

[2021-12-01 14:32] damemi commented on #89930
/remove-lifecycle stale

[2021-12-01 14:47] jlsong01 commented on #105658
@ehashman hello, I would like to contribute if docs update is need. Thanks.

[2021-12-01 15:23] MadhavJivrajani commented on #106763
/sig api-machinery

[2021-12-01 15:25] MadhavJivrajani commented on #104623
/remove-lifecycle stale
/lifecycle frozen

[2021-12-01 15:29] ahg-g commented on #89930
A great deal of progress have been made on this already, can we get an update on where we stand now? what is left?

[2021-12-01 15:33] marcosmas28 commented on #102646
Hi @aojea, thanks for your comments.
Apparently, there is something with SCTP and NAT. I did some tests with ncat and all tests within the cluster were OK :pod, service, host, other host in the same LAN, etc.
In my actual topology, I have one SCTP endpoint in a K8s pod accessible with a public address and the other SCTP endpoint behind a NAT and in this scenario I have failures. Troubleshooting wi

[2021-12-01 16:08] sebltm commented on #106419
So regarding my comment above, this is no longer true as we have noticed a pod with a request of 300m CPU getting the problem.
@ahg-g if this was a race condition, I would expect none of the pods to be able to run at all, but in our case usually one pod manages to actually get running but we still see many replicas get scheduled on the same node but never actually run because of the OutOfCpu error

[2021-12-01 16:09] thockin commented on #106652
Oddly the implementation of `String()` seems to be auto-generated (generated.pb.go).  I can't help but feel like we should NOT be doing that.

[2021-12-01 16:12] thockin commented on #106652
@smarterclayton or @wojtek-t  I didn't know PB code generated .String() methods for every type (and pretty useless definitions, too).  Curious if you have more color to add.

[2021-12-01 16:23] alculquicondor opened #106769 "Evaluate moving Pod resources calculation to k8s.io/component-helper"
### What would you like to be added?

Refactor [`computePodResourceRequest`](https://github.com/kubernetes/kubernetes/blob/108c284a330a82ce1a1f80238e4f54bf5e8b045a/pkg/scheduler/framework/plugins/noderesources/fit.go#L162:6) and [`calculateResource`](https://github.com/kubernetes/kubernetes/blob/108c284a330a82ce1a1f80238e4f54bf5e8b045a/pkg/scheduler/framework/types.go#L715) so that the shared bits

[2021-12-01 16:24] alculquicondor commented on #106769
/sig scheduling
/sig node

[2021-12-01 16:25] pohly commented on #106652
FWIW, given that logging of these structs so far has been done with the String() output and developers might expect that also in JSON output, I'm now leaning towards simply leaving everything as-is.

[2021-12-01 16:29] alculquicondor commented on #106769
@liggitt for thoughts on whether this is a bad idea.

[2021-12-01 16:45] calvh opened #106770 "[Flaking test][sig-release-master-informing] gce-scale-correctness.Overall"
### Which jobs are flaking?

gce-master-scale-correctness

### Which tests are flaking?

- Kubernetes e2e suite.[sig-network] Networking Granular Checks: Services should update nodePort: udp [Slow]
- ci-kubernetes-e2e-gce-scale-correctness.Overall
- kubetest.Test
- Kubernetes e2e suite.[sig-storage] CSI Volumes [Driver: csi-hostpath] [Testpattern: Dynamic PV (filesystem volmode)] volumeMode should

[2021-12-01 17:12] jsturtevant commented on #98499
There were two issues here, the issue with the test timing should be fixed by https://github.com/kubernetes/kubernetes/pull/103371 and the other is node port overlaps which should be fixed https://github.com/Azure/aks-engine/pull/4767

Once the aks-engine fix is in I will monitor for this error.

[2021-12-01 17:15] jayunit100 commented on #106752
/sig windows

[2021-12-01 17:21] yliaog commented on #106681
@leileiwan i think you're right, 15 is too conservative. do you mind to send a PR to fix it?

[2021-12-01 17:25] thockin opened #106771 "Kubelet --cluster-dns-service vs --clusterdns (maybe)"
xref #101682

I have wondered if we should add a kubelet option like `--cluster-dns-service` (as an alternative to `--cluster-dns`) which takes a service ns/name (e.g. "kube-system/kube-dns") and looks up the IP(s).  That would avoid the need for a static DNS IP at all.

Kubelet could spawn a gorotine to poll it.  Any pod that starts before the DNS Service is up would not get a nameserver or maybe

[2021-12-01 17:30] ritpanjw commented on #106589
Hi @Kartik494  , this is bug triage shadow here 👋
I'd like to check what's the status of this issue, release 1.23 would be happening this week
Thank you

[2021-12-01 17:32] aojea commented on #95570
/assign

[2021-12-01 17:44] SergeyKanzhelev opened #106772 "grpc field name in probes is not consistent between json and proto"
### What happened?

The new grpc probe feature introduced a new field for grpc probes that has an inconsistent name between json and proto and needs to be changed before release goes out. Otherwise this inconsistency will be stayed forever as it will be close to impossible to change field names.

See thread: https://kubernetes.slack.com/archives/CJUQN3E4T/p1638309300059900

/sig node
/priority cri

[2021-12-01 17:44] SergeyKanzhelev commented on #106772
/triage accepted

[2021-12-01 17:53] jsafrane commented on #106710
Right now, a volume is detached from a node when: (all pods that use the volume are deleted from the API server OR all their container are stopped) AND (the volume is unmounted OR 6 minutes passed).

Idea for a solution: Issue detach of a mounted volume only when all pods are force-deleted from the API server.

More formally: Detach when [(All pods that use the volume are deleted from the API serv

[2021-12-01 18:04] torgerss commented on #13136
+1 given the need for security this definately is something i would like to be able to do.  I have terabytes of storage from a legacy application we want to access through a NFSv4 with either creds or krb authentication as we migrate it to a kubernetes cluster.

[2021-12-01 18:09] ehashman commented on #106566
Do we have any updates on this issue? If we have isolated the timeouts/flakiness to dockershim, is that a release blocker if the other container runtimes do not have such an issue?

[2021-12-01 18:11] ehashman commented on #106506
I think this is similar to https://github.com/kubernetes/kubernetes/issues/106566#issuecomment-978229028 in that mainly dockershim jobs are affected.

[2021-12-01 18:12] ehashman commented on #106125
@SaiHarshaK is there an associated PR to fix this flake?

[2021-12-01 18:13] mauriciopoppe opened #106773 "volume_provision metric is not reported if CSIMigration is turned on"
### What happened?

While fixing a metrics issue I saw in https://github.com/kubernetes/kubernetes/pull/106609/files#r755513290 that for a cluster created with CSIMigration during volume provisioning the metric `volume_provision` is only emitted for intree code (and not for a CSI Driver).

In the source code these lines control whether we follow the in-tree/out-of-tree paths:

https://github.com/k

[2021-12-01 18:14] mauriciopoppe commented on #106773
/sig storage
/kind bug

[2021-12-01 18:15] SaiHarshaK commented on #106125
I can make the PR for removing the polling, but i wasn't sure what is expected here - Do I remove the wait.Poll entirely as discussed above?

[2021-12-01 18:17] ehashman commented on #106664
New recent failures:

[11/30/2021, 1:33:17 PM ci-kubernetes-node-kubelet-serial-containerd](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial-containerd/1465794717928132608)
[11/29/2021, 1:24:13 PM ci-kubernetes-node-kubelet-serial-containerd](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial-containerd/1465431408347451392)
[1

[2021-12-01 18:20] ehashman commented on #106626
/triage accepted

[2021-12-01 18:23] ehashman commented on #106326
I see no flakes after the 19th: https://storage.googleapis.com/k8s-triage/index.html?test=TestSyncLabels

/triage accepted
/close

[2021-12-01 18:23] #106326 closed

[2021-12-01 18:30] ehashman commented on #106735
/triage accepted
/assign @rphillips

[2021-12-01 18:32] jsafrane commented on #106710
Another idea: Add a new flag to CSIDriver, say `DetachMountedVolumes`.
We would need to extend internal Detach() call to include a flag if the volume to detach is mounted or not (A/D controller knows that) and the CSI volume plugin would check CSIDriver and potentially reject detach of a mounted volume. This way, it would not be possible to ever force detach a mounted volume, even when a pod is fo

[2021-12-01 18:33] ehashman commented on #106691
I think this may be a valid bug but we will need a reproducer case in order to fix it. Can you please provide a minimal reproducer?

/triage needs-information

[2021-12-01 18:36] ehashman commented on #106689
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/100277#issuecomment-910517011

If we want to fix this, we need to propose an enhancement/KEP, as it will be a behaviour change.

/close

[2021-12-01 18:36] #106689 closed

[2021-12-01 18:38] ehashman commented on #106675
This seems to be expected behaviour. The kubelet doesn't have a mechanism to prematurely terminate an image pull if a container is deleted; the image will get cleaned up as part of normal GC.

If we want to change this behaviour, we will need to propose an enhancement for how that design would work.

/close

[2021-12-01 18:38] #106675 closed

[2021-12-01 18:38] reylejano commented on #106772
/milestone v1.23

[2021-12-01 18:40] ehashman commented on #106742
/triage accepted
/priority backlog

We are dropping dockershim support in 1.24 so even if this is a valid bug, it may not get fixed.

I believe this is enough information to reproduce/proceed, so marking as triaged.

[2021-12-01 18:40] ehashman commented on #106772
/assign @SergeyKanzhelev

[2021-12-01 18:41] ehashman commented on #105658
@jlsong01 feel free to submit a PR to the website!

[2021-12-01 18:41] ehashman commented on #105658
/remove-priority important-soon
/kind documentation

[2021-12-01 18:43] ehashman commented on #101989
I believe this is not being actively investigated. @SergeyKanzhelev has suggested we close it.

/close

[2021-12-01 18:43] #101989 closed

[2021-12-01 18:44] ehashman commented on #70585
/assign @cynepco3hahue

[2021-12-01 18:45] ehashman commented on #83107
/remove-lifecycle rotten
as this was confirmed on a supported version, 1.20.x

/help

[2021-12-01 18:48] ehashman commented on #83107
Updated KEP link from above: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/1029-ephemeral-storage-quotas

[2021-12-01 18:49] ehashman commented on #89903
/assign @SergeyKanzhelev

[2021-12-01 18:51] ehashman commented on #102285
1.21: https://github.com/kubernetes/kubernetes/pull/104530
1.22: https://github.com/kubernetes/kubernetes/pull/104529

Fixed on HEAD and 1.21.

Too high risk to backport to 1.20: https://github.com/kubernetes/kubernetes/pull/104237#issuecomment-896156770

/close

[2021-12-01 18:51] #102285 closed

[2021-12-01 18:52] ehashman commented on #102149
/remove-lifecycle rotten
/close

I believe this was addressed by the 1.22 pod lifecycle refactor; we haven't seen short-lived pods getting stuck in a while, and it is particularly easy to trigger this in CI.

[2021-12-01 18:53] #102149 closed

[2021-12-01 18:53] ehashman commented on #102880
/assign @fromanirh

[2021-12-01 19:00] BenTheElder commented on #106506
FTR the jobs in the OP are not dockershim based, kubeadm's kinder jobs do often use dockershim but kind (not kinder) does not support dockershim.

https://storage.googleapis.com/k8s-triage/index.html?test=Events%20should%20be%20sent%20by%20kubelets%20and%20the%20scheduler%20about%20pods%20scheduling%20and%20running

is looking good though, fwiw

[2021-12-01 19:02] ehashman commented on #93925
20% overall CPU utilization, especially on a large node is not trivial... to me this smells like a performance issue. I haven't had the time to dive into this but the kubelet logs will hopefully be helpful.

/remove-lifecycle stale

[2021-12-01 19:05] ehashman commented on #106420
/remove-triage accepted
/triage needs-information

Reading over this more closely, this may be an install environment specific issue.

Can you please attach a copy of the kubelet logs (preferably at v=4 or higher) for the affected node?

[2021-12-01 19:07] sbangari opened #106775 "Windows nodes observing flapping in service connectivity during deployment of unrelated services."
### What happened?

During a Kubernetes deployment the connectivity to web services from Windows nodes is flapping. There are intermittent traffic delays and some errors observed on web services during the deployment. Post deployment the flapping is no longer observed.

### What did you expect to happen?

No flapping in connectivity during the deployment.

### How can we reproduce it (as minimally

[2021-12-01 19:07] ehashman commented on #106499
Thanks for the update!

/close

[2021-12-01 19:08] #106499 closed

[2021-12-01 19:12] ehashman commented on #106537
@jurschel have you confirmed that this wasn't related to your specific application by deploying the same pinned version across various versions of k8s, or are you running the latest? Briefly skimming the documentation for the application in question, I would expect that a Cassandra cluster would have significantly greater CPU and memory requirements than your original listed ones.

[2021-12-01 19:13] ehashman commented on #103944
Sounds like this has been fixed, thank you!

/close

[2021-12-01 19:13] #103944 closed

[2021-12-01 19:24] ehashman commented on #104295
Allocatable does not refer to how much resources are in use by your node. It refers to how many resources are available for the kubelet to allocate, given the limits for system reserved specified. In this case, all hugepages on the system are allocatable, none were reserved.

Consider this trivial example of a local-up-cluster with no system reserved specified that has a single 1 CPU pod scheduled

[2021-12-01 19:24] #104295 closed

[2021-12-01 19:25] ehashman commented on #27264
/remove-triage needs-information
/triage accepted

given reproducer

[2021-12-01 19:25] ehashman commented on #27264
/remove-priority backlog

[2021-12-01 19:25] ehashman commented on #27264
/remove-lifecycle frozen

[2021-12-01 19:28] ehashman commented on #104289
Ah, this seems like a race between the kubelet and the system daemon. We would not expect a system daemon restart as part of normal operations. Kubelet only sets this at startup. I'm not sure whether we would consider this a bug or not. Let me ask some folks...

/remove-triage needs-information

[2021-12-01 19:31] ehashman commented on #92851
We need to verify that it affects a current, supported version of Kubernetes. 1.17 is not supported.

Additionally, we would need significantly more information if someone was going to be able to assist in fixing the bug. We will need, at minimum, v=4 or higher verbosity logs from a kubelet on an affected system.

[2021-12-01 19:47] damemi commented on #106426
@NikhilSharmaWe it looks like @kerthcet has already offered to work on this, but if you would like to collaborate on it feel free. The code in question is located in https://github.com/kubernetes/kubernetes/blob/9dc0489/pkg/scheduler/framework/runtime/framework.go#L292-L306, and we are interested in moving it to the actual API defaulting sections, probably https://github.com/kubernetes/kubernetes/

[2021-12-01 19:52] astoycos commented on #106011
So there is no defined dependency between services and network policy.  That being said if you were to apply a policy allowing nothing (denying everything) to a specific pod, and it was the only backend to a nodeport service, then yes the traffic _should_ be dropped.  Does that help at all or can I elaborate more :)

[2021-12-01 20:23] rtheis commented on #103675
Is it possible to amend the security announcement with the changes noted in my previous comment?

[2021-12-01 20:53] sbangari commented on #106775
/sig windows

[2021-12-01 21:02] aojea commented on #106771
Some installers use host network pods for bootstrapping the cluster, installing the scheduler, controller-manager and apiserver ... I think that they will the main stakeholders, I'm curious about their feedback on this ...

/sig cluster-lifecycle

/cc @justinsb @neolit123

[2021-12-01 21:19] jsturtevant commented on #106775
/triage accepted
/priority important-soon

[2021-12-01 21:40] SergeyKanzhelev commented on #76570
cc: @alculquicondor

A workaround as mentioned may be setting [`concurrencyPolicy`](https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/#concurrency-policy) from `Allow` to `Replace` in order to ensure that whenever a new job it's scheduled it will delete the last job running. Would this work?

[2021-12-01 22:12] alculquicondor commented on #76570
Another workaround is to use `activeDeadlineSeconds` in the job Template as suggested here: https://github.com/kubernetes/kubernetes/issues/53331#issuecomment-358274195

@soltysh are you aware of any new KEPs that are looking into tackling this?

[2021-12-01 23:05] zerkms commented on #92851
Given this bug is unlikely to ever be fixed even if I spend couple days collecting all those crazy amount of details (one may see how reproducing a race condition is not an easy job), I'd rather just close this issue.

Thanks!

[2021-12-01 23:05] #92851 closed

[2021-12-01 23:16] Huang-Wei opened #106780 "scheuler not always clear a preemptor's nominatedNodeName as expected"
A pod's `.status.nominatedNodeName` is set by the scheduler to mark this pod as a preemptor (let's call it P1), with a cost of preempting low-priority pods (let's call it P0). The preemptor doesn't get scheduled instantly; instead, it has to wait for the victims to be fully terminated and then deleted physically. During the waiting period, some cases may happen:

#### Case 1

A high-priority pod P

[2021-12-01 23:17] Huang-Wei commented on #106780
cc @mateuszlitwin @ahg-g @alculquicondor @damemi

I will work on a fix on this.

/assign

[2021-12-02 00:00] Huang-Wei commented on #105802
@k82cn some clarifications below:

Co-scheduling is definitely not all about batching. This issue is actually proposing making a long-requested batching directive (PodGroup) natively supported in k/k. It doesn't block external schedulers to implement or not implement this directive.

I agree that developing in a new repo gives the best flexibility. However, like this issue mentioned, managing anot

[2021-12-02 01:30] qixiaobo commented on #66135
"progressDeadlineSeconds": 600

[2021-12-02 01:37] cyclinder commented on #104234
thanks @amustaque97

[2021-12-02 01:56] #106407 closed

[2021-12-02 02:51] ssst0n3 commented on #106699
After reading the source code of makefile, I found a target `generated_files`, this will generate these files missing. So prefer solution is execute `make generated_files` before `hack/update-vendor.sh`
[code]

But I have not found any reference to told me I should `make generated_files` at first if I want to update vendor.

https://github.com/kubernetes/community/blob/master/contributors/devel/si

[2021-12-02 02:55] #100478 closed

[2021-12-02 03:24] kerthcet commented on #106426
Yes, I'm working on this issue also, but I haven't push commits yet for I still have some questions, let's discuss about it
 here. Correct me if any mis-understandings.

Since we'll merge out-of-tree plugins [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/scheduler.go#L236-L239), I think move the codes to `default.go` will miss some plugins.

And I prefer to move the code

[2021-12-02 04:01] adisky commented on #106566
- flaking due to liveness probe timeout, current timeout is set to 5s
- Mostly flaking on dockershim jobs, with control plane on latest/1.23

![image](https://user-images.githubusercontent.com/7712693/144354813-3b12a2b8-c087-4577-9095-772007d0c25a.png)

- CRI conversion could not be the reason since flaking with high frequency on older kubelet versions (1.21,  1.22)as well
- Started flaking with m

[2021-12-02 05:03] bbarnes52 commented on #68720
Thanks for the details @denkensk. We're migrating to Kubernetes and are interested in running clusters larger than 5000 nodes. We're not yet sure where the scaling limit will ultimately come from, I was looking into equivalence classes since it was marketed as a critical feature for scaling Borg.

[2021-12-02 06:01] sunlintong commented on #106760
/sig Instrumentation

[2021-12-02 06:10] pacoxu commented on #106761
/triage accepted

[2021-12-02 06:13] vsxen commented on #106735
--maximum-dead-containers int32                            Maximum number of old instances of containers to retain globally.  Each container takes up some disk space. To disable, set to a negative number. (default -1) (DEPRECATED: Use --eviction-hard or --eviction-soft instead. Will be removed in a future version.)
      --maximum-dead-containers-per-container int32              Maximum number of

[2021-12-02 06:21] koushikmgithub opened #106784 "Cannot access service from within a pod -- Minikube"
### What happened?

I have a simple Kubernetes Service up and running in a single Pod. I went inside the docker container for that Pod by
kubectl exec -it my-nginx-5b56ccd65f-twv25 /bin/sh . I try to curl <service> to access the Service, but it receives connection timeout error. I also test by curl <Pod IP> :80, which works without any issue. Also, I am able to access the service from different po

[2021-12-02 07:33] qixiaobo commented on #106697
From my
progressDeadlineseconds not respected by the scale the deployment

[2021-12-02 07:44] koushikmgithub commented on #73481
@jiashenC  - Did you find any work around ? I am also facing the same issue with minikube.  I have opened an issue.
https://github.com/kubernetes/kubernetes/issues/106784

Please let me know if you find any resolution or any work around.

[2021-12-02 08:40] kkkkun commented on #106622
You can curl  "https://istiod.istio-system.svc:443/validate?timeout=30s" or curl podip:443 by manual ？

[2021-12-02 08:47] aojea commented on #104234
/assign @cyclinder

[2021-12-02 08:49] Hamza-Aziz commented on #53881
Try to run the command as an administrator if you're on Windows

[2021-12-02 08:50] sachithmuhandiram commented on #106622
`podip:443`

`curl istiod.istio-system.svc:443/validate?timeout=30s`

[2021-12-02 09:02] kkkkun commented on #106622
podip:443 failed:  means pod has a problem. may be unhealthy
curl istiod.istio-system.svc:443/validate?timeout=30s failed: means dns can not resolve domain, may be caused by pod error?

[2021-12-02 09:04] kkkkun commented on #106622
podip:443 failed: means pod has a problem. may be unhealthy

curl istiod.istio-system.svc:443/validate?timeout=30s failed: means dns can not resolve domain, may be caused by pod error?

[2021-12-02 09:05] sachithmuhandiram commented on #106622
Well, this is the same thing if I try for non istio namespace pod.
That means it should be an issue in K8. Isnt it?

[2021-12-02 09:14] kkkkun commented on #106622
I agree this point. You should check pod status and log first.

[2021-12-02 09:29] pacoxu commented on #106767
/area kubeadm
I will try to reproduce it tomorrow.
After 1.23 with #105741, UnversionedKubeletConfigMap will help us using `kubelet-config` instead of `kubelet-config-1.xx`.

[2021-12-02 09:45] adisky commented on #106566
Ran locally multiple times on Ubuntu+Dockershim, test never failed
![image](https://user-images.githubusercontent.com/7712693/144397453-7ebb44ba-95a1-40a0-afb6-fc4045179518.png)

[2021-12-02 09:48] sachithmuhandiram commented on #106622
istiod logs
[code]

Kubectl describe pod (istiod)
[code]

[2021-12-02 09:58] #78481 closed

[2021-12-02 10:01] matthyx commented on #106566
Same version of kernel and dockershim? Because since we haven't changed anything to our code base, it might be a perf regression elsewhere?

[2021-12-02 11:51] luozhiwenn commented on #106735
In my k8s cluster, these options are left at their default values.
I notice that the termination-log file on the host still exists, even though the exited containers has been clean up by kubelet.

[2021-12-02 11:59] #98449 closed

[2021-12-02 12:06] adisky commented on #106566
Used Ubuntu 20.04 which is used by `ci-kubernetes-e2e-ubuntu-gce`, kubeadm kinder jobs use 18.04. `kubetest --up` is failing for me on 18.04 with weird reasons
https://storage.googleapis.com/k8s-triage/index.html?test=%2Ftmp%2Fhealth&xjob=windows%7Ckinder

[2021-12-02 12:18] bavarianbidi commented on #10043
not entirely sure if i'm right, but from my current assumption it seems that there isn't an implementation for the `bindings subresource` for pods (xref: https://github.com/kubernetes/kubernetes/blob/0fe049cb93683e488b9829316ac889bc4c2e42fc/pkg/registry/core/pod/rest/subresources.go) and we still use the generic `binding` resource for pods (https://github.com/kubernetes/kubernetes/blob/0fe049cb936

[2021-12-02 12:51] scottasmith commented on #106464
This doesn't work for me. I have it all set up in Ansible to configure the containerd cgroup, etc.
I have temporarily had to take it out on my homelab while I get on with testing other things.

I have just manually added these back in, copying from page linked in-case I missed something (obviously, without the "...") and updated the kubelet config. It's gone back to restarting the pods constantly

[2021-12-02 13:38] damemi commented on #106426
@kerthcet I don't think out-of-tree plugins will miss the validation if we move it to API. This is going to be agnostic of the specific plugin types, validating that there is just a weight set for each score plugin and that those weights aren't more than the max score. Another possible location could be here: https://github.com/kubernetes/kubernetes/blob/9dc0489c1ae3540453d94348efcc536585c31805/pk

[2021-12-02 13:56] akshaydmore opened #106790 "Watcher not able to raise events after the mentioned resource version for client version 1.22.4"
### What happened?

Getting the resource version of existing CRD and  using it in watcher to get events after mentioned version and then chaning the CRD,  1.22.3 is giving me the MODIFIED event but not 1.22.4.

### What did you expect to happen?

It should give modified event.

### How can we reproduce it (as minimally and precisely as possible)?

Use 1.22.4 for reproduction and guess it will be r

[2021-12-02 14:02] alculquicondor commented on #106780
What is the proposed solution? Note that case 2 could be that P2 is scheduled on a different node and P1 is blocked due to anti-affinity rules. So, in general, whenever a pod gets scheduled, we would need to verify if Pods with nominated node name needs to be cleared.

Should we start thinking of some expiration time instead? Even if the time we choose is not enough for pods to terminate, the pod

[2021-12-02 14:04] akshaydmore commented on #106790
/sig api-machinery

[2021-12-02 14:06] akshaydmore commented on #106790
triage/foo

[2021-12-02 14:20] claudiubelu commented on #106750
Similar failure: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1466025744520974336

In the test run above, the test ``[sig-network] Proxy version v1 A set of valid responses are returned for both pod and service ProxyWithPath [Conformance]`` failed because it couldn't schedule a single pod in time. The pod was issued at around ``13

[2021-12-02 15:05] wilmardo commented on #60748
/remove-lifecycle rotten

Still has a usecase and not resolved

[2021-12-02 16:09] fromanirh commented on #102880
all the backports got merged, I think we can now close this issue

[2021-12-02 16:09] #102880 closed

[2021-12-02 16:18] encodeflush commented on #106770
/milestone v1.23
/priority important-soon

[2021-12-02 16:33] PushkarJ commented on #85867
/label official-cve-feed

(testing the new label from https://github.com/kubernetes/test-infra/pull/23428)

[2021-12-02 17:18] rkojedzinszky commented on #104531
I dont know if its related, but since 1.22, I frequently see Terminated pods still running. It happens if I accidentally pull the power plug, or something like that. And those pods are up and running after the nodes come back, but their state is Terminated:

[code]

It seems that these pods are daemonset pods.

[2021-12-02 17:20] akshaydmore commented on #106790
priority/important-soon

[2021-12-02 17:34] ehashman commented on #106760
Kubernetes does not use issues on this repo for support requests. Thanks for opening a post on the forums; you may also want to try reaching out on slack, perhaps in the #kubernetes-users channel.

/remove-kind bug
/kind support
/close

[2021-12-02 17:36] akshaydmore commented on #106790
/sig apps

[2021-12-02 17:38] ehashman commented on #106746
I'd expect this to work for `staging/` but not `vendor/`, can you clarify which is the issue here?

/triage needs-information

[2021-12-02 17:42] ehashman commented on #106652
I don't know that we actually have a guideline for this. It's not clear from the structured logging spec.

I don't think this is limited to node/v1.Container; I'm pretty sure any struct with a String() function will get logged like this, even with JSON logging turned on.

I'd be worried about the performance implications of serializing these objects, possibly repeatedly, at runtime into JSON. This

[2021-12-02 17:43] ehashman commented on #106652
I think this needs further discussion before we can triage this, can we discuss at the Instrumentation and/or Architecture?

[2021-12-02 17:48] ehashman commented on #106534
Server version is unsupported (1.18) and this seems like a klog bug rather than Kubernetes bug as this is a custom controller. Closing.

/close

[2021-12-02 17:49] #106534 closed

[2021-12-02 17:53] Huang-Wei commented on #106780
The idea would like similar to [one](https://github.com/kubernetes/kubernetes/pull/91750) I proposed before, but that unfortunately caused a [regression](https://github.com/kubernetes/kubernetes/issues/91972), so I will more pay more attention to different corner cases and add sufficient tests this time.

True, this is actually the limitation of the current preemption algorithm - which searches pr

[2021-12-02 18:14] alculquicondor commented on #106769
/help

cc @ingvagabund

[2021-12-02 18:18] alculquicondor commented on #106545
/triage accepted

[2021-12-02 18:26] alculquicondor commented on #105977
What about having a new PodConditionType that the autoscaler can populate when it tried to scale up and failed?

Then the scheduler waits for this condition to be present in the Pod to use the fallback mode.

@liggitt would this be acceptable from an API perspective?

[2021-12-02 18:43] alculquicondor commented on #106780
Right, that sounds like the correct solution.

[2021-12-02 18:44] alculquicondor commented on #106780
/triage accepted

[2021-12-02 18:48] thockin commented on #106652
If you are concerned about serialization cost, there's not much the log
layer can do - you have to take control of that.

IMO, these String() methods are kind of awful.

On Thu, Dec 2, 2021 at 9:43 AM Elana Hashman ***@***.***>
wrote:

[2021-12-02 19:10] pohly commented on #106746
There is a comment in the script that `staging` is meant to be tested through the symlinks under `vendor`:

https://github.com/kubernetes/kubernetes/blob/2ac6a4121f5b2a94acc88d62c07d8ed1cd34ed63/hack/verify-structured-logging.sh#L74-L77

I don't care how `staging/src/k8s.io` gets tested as long as it is tested somehow.

[2021-12-02 19:17] pohly commented on #106652
That's the same conclusion that I arrived at later. It becomes a question of what the consumers of those particular log messages want to have, which isn't clear in this case. I asked for opinions on #sig-node, but got no response.

We have a mechanism (`logr.Marshaler`) now to override that for specific types, if desired. The "if desired" part is what we need to figure out.

I'm fine with just clo

[2021-12-02 20:48] alculquicondor commented on #106545
Does this only happens when there is a 2nd scheduler? Otherwise I don't see how the recreated node would be assigned to a node without passing through the queues first.

[2021-12-02 21:09] fedebongio commented on #106741
/cc @caesarxuchao
/help
/triage accepted

[2021-12-02 21:11] fedebongio commented on #106763
/assign @yliaog
/triage accepted

[2021-12-02 21:14] fedebongio commented on #106790
/assign @roycaihw
/triage accepted

[2021-12-02 21:21] yliaog commented on #106763
did you start the kube apiserver? it looks the controller manager has trouble to discover resources

[2021-12-02 21:23] liggitt commented on #106772
resolved in master and release-1.23

[2021-12-02 21:23] #106772 closed

[2021-12-02 22:30] ehashman commented on #105978
/kind documentation
/triage accepted

[2021-12-02 22:53] PushkarJ commented on #104980
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2021-12-02 22:53] PushkarJ commented on #100096
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2021-12-02 22:53] PushkarJ commented on #97076
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2021-12-02 22:53] PushkarJ commented on #95624
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2021-12-02 22:54] PushkarJ commented on #95623
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2021-12-02 22:54] PushkarJ commented on #95622
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2021-12-02 22:54] PushkarJ commented on #95621
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2021-12-02 22:54] PushkarJ commented on #93032
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2021-12-02 22:54] PushkarJ commented on #92914
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2021-12-02 22:54] PushkarJ commented on #92315
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2021-12-02 22:54] PushkarJ commented on #91542
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2021-12-02 22:55] PushkarJ commented on #91507
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2021-12-02 22:55] PushkarJ commented on #89378
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2021-12-02 22:55] PushkarJ commented on #89377
/label official-cve-feed

(Related to https://github.com/kubernetes/sig-security/issues/1)

[2021-12-02 22:56] PushkarJ commented on #85867
Related https://github.com/kubernetes/sig-security/issues/1

[2021-12-03 00:41] k82cn commented on #105802
Proposed to start a new working group for that in CNCF/TAG-runtime: https://github.com/cncf/tag-runtime/issues/38

No, our customized scheduler already imports all algorithms from upstream, it's not necessary to use multi-scheduler in one cluster; this solution is used for the hosted k8s service, e.g. CCE, EKS, AKS.

[2021-12-03 01:12] jsturtevant commented on #104111
fix was released in containerd 1.5.8 and 1.6.beta3
/close

[2021-12-03 01:12] #104111 closed

[2021-12-03 01:35] yuzhiquan commented on #106769
/assign
/triage accepted

[2021-12-03 01:41] chenhong0129 opened #106795 "Pod affinity with operator "NotIn" does not work"
### What happened?

When I config Pod affinity with operator "NotIn", all replicas schedulered on the same node.
More strangely，Other pods without related pod affinity/antiAffinity will also be schedulered to the node where Pod affinity with operator "NotIn" is running，Although the resources of this node are not optimal. When I  change kube-scheduler debug log level to 10, It can be seen that the

[2021-12-03 01:58] zhucan commented on #106763
apiserver is running.

[2021-12-03 02:00] ahg-g commented on #105802
We indeed need a forum to discuss batch related efforts.

As you may all know, we have been investing in improving batch support in core k8s, we started with the the Job API (indexed job, suspend, reliable tracking, 1:1 pod to node assignment, automatic job cleanup).

We also proposed an approach for job management: bit.ly/k8s-job-management, focused on job-level placement and provisioning. We wil

[2021-12-03 02:03] #102481 closed

[2021-12-03 02:42] knight42 commented on #47862
Hi all! I have created a kubectl plugin [krelay](https://github.com/knight42/krelay) to support forwarding UDP port, you could install it by [krew](https://krew.sigs.k8s.io/): `kubectl krew install relay`. In addition `krelay` could forward data to a IP or hostname as well.

Please feel free to give it a try. I am looking forward to your feedback!

[2021-12-03 02:49] likakuli commented on #106734
/reopen

[2021-12-03 02:55] k82cn commented on #105802
We may have different implementation based on the specifications; it may not an extender of k8s scheduler :)

[2021-12-03 02:59] knight42 commented on #72597
Hi all! I have created a kubectl plugin [krelay](https://github.com/knight42/krelay) which is able to forward data to a specific IP or hostname.

Although it might not fully meet the requirement described in the issue, if all you want is to forward traffic to external hosts or IP addresses that are only accessible within the cluster as described by @daniel-kun, please feel free to try it out, I th

[2021-12-03 03:03] #102672 closed

[2021-12-03 03:21] ahg-g commented on #105802
but it still can be hosted in k/k or a subproject of k/k because the target orchestrator is k8s. CNI/CRI for example is not k8s specific api, and that is why it is hosted outside k/k.

[2021-12-03 04:08] JohnRusk commented on #79805
@wgliang I recently noticed there's a simpler solution, to the problems of Kubelet load after API server restart.

By setting some environment variables for kubelet, you can make it do exponential backoff. This causes much bigger backoff than just the 1 second interval in the Retry-After. It seems to solve the problems with Kubelets reconnecting.

Yes, it's kind of surprising that exponential back

[2021-12-03 04:11] NikhilSharmaWe commented on #106608
@jsturtevant Do we have some examples in the repo where we do something similar for other nodes ?

First we need to make getWindowsNodes() function or is it already present ?

Confirming : Also Do we need to run the whole code(After Modifying) inside overrideAllocatableMemoryTest in loop for every windows node and if even one return fails, the test fails.

[2021-12-03 04:47] shenyyi commented on #89898
Is this the reason "exec curl" can workaround httpGet probe issue? Will this still work after 1.20?

[2021-12-03 04:52] likakuli commented on #106734
/sig node

[2021-12-03 05:50] johngmyers commented on #97071
Could this be a dup of 89178?

[2021-12-03 06:41] uablrek commented on #106784
As [mentioned](https://github.com/kubernetes/kubernetes/issues/73481#issuecomment-477762607) this is a "hairpin" issue and is a bit different in different environments. I made a search on "minikube hairpin" and [this](https://stackoverflow.com/questions/54911270/kubernetes-service-can-not-send-request-to-itself) may be related. It seems to be resolved on Linux.

/sig network
/area windows

[2021-12-03 07:09] Aisuko commented on #69725
Which version of the Kubernets, I hit this issue on V1.9. Is there any solution?

[2021-12-03 07:16] uablrek commented on #106509
I have had a similar problem when deploying a cluster where the K8s api-server is running outside the cluster (there are no "master" nodes). IMHO that is a very convenient setup since you isolate the K8s processes (with HA and what-not) from the workers. I think AWS has that type of setup, you define a cluster and can configure it and check it and _then_ you add some workers.

Anyway, back to the

[2021-12-03 07:25] iamejboy commented on #106548
We have managed to fixed that but it didn't resolved the issue. here is new log before api dies.
`I1203 07:16:49.056279       1 shared_informer.go:240] Waiting for caches to sync for cluster_authentication_trust_controller
I1203 07:16:49.056305       1 dynamic_cafile_content.go:167] Starting client-ca-bundle::/etc/kubernetes/ssl/ca.pem
I1203 07:16:49.056328       1 dynamic_cafile_content.go:167] S

[2021-12-03 07:25] k82cn commented on #105802
How to handle Volcano (CNCF) & YuniKorn (Apache), maybe others ?

[2021-12-03 07:36] Aisuko commented on #42158
Hi guys, I hit the same issue on v1.9. Is there more information can help us? We deployed operator which the reconcile conflict with kubernetes controller-manager? or the watch-list cache mechnism has some issue in some point can trigger?

[2021-12-03 07:52] SergeyKanzhelev opened #106798 "dockershim.sock in 1.23 only supports v1 of CRI and tools dependent on v1alpha2 will not work"
### What happened?

With this change: https://github.com/kubernetes/kubernetes/pull/106501 the version of CRI API that `dockershim.sock` exposes is `v1` (as oppose to `v1alpha2` it used to be). So tools that takes dependency on dockershim.sock will fail with:

[code]

/sig node
/priority critical-urgent

### What did you expect to happen?

v1alpha2 is exposed as before. Especially given that we on

[2021-12-03 07:55] SergeyKanzhelev commented on #106798
/cc @saschagrunert @liggitt

[2021-12-03 08:03] sunlintong commented on #106760
Why ths is not a **BUG**?
I think the millions of request is incredible.
Source code here:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go#L495-L530

/reopen

[2021-12-03 08:23] aojea commented on #106760
you need to find out who is doing those requests, if is not a kubernetes component like the controller-manager or the kube-scheduler is not a bug, is something in your cluster

[2021-12-03 08:36] sunlintong commented on #106760
I analysed the audit log, it's normal. And I think there is no need to find out who is doing those requests. Do you think one container use just 1 core、4Gi can hold 10 millions of request per second?

[2021-12-03 09:12] koushikmgithub commented on #106784
Thanks @uablrek . It's work for me as well. I have executed the below command and after that issue is resolved.

minikube ssh -- sudo ip link set docker0 promisc on

[2021-12-03 09:12] #106784 closed

[2021-12-03 09:22] creekpld commented on #47202
@benlangfeld  Is this is how the Shema should look like then?

[code]

[2021-12-03 09:24] aojea commented on #106760
I think that there is a miscommunication problem here, if you think there is a bug you should explain where is the bug and how to reproduce it, you are saying that the the metric is wrong? or it not measuring the requests correctly?

[2021-12-03 09:27] furkanmustafa commented on #47202
@creekpld I think just `timezone` would do for a field name.

[2021-12-03 09:30] tavin commented on #47202
Why not even be compatible with [cronjobber](https://github.com/hiddeco/cronjobber) and use `timezone: America/New_York`?

[2021-12-03 09:40] sunlintong commented on #106760
Thanks for apply. Yes, I think it not measuring the requests correctly. But actually I don't know how to reproduce. Because only my prod environment has this questions. It doesn't mesure my k8s cluster. I jusr think this is a metric bug and I want know why.

[2021-12-03 09:41] sftim commented on #47202
After the v1.23 release (due next week), folks are welcome to join in with the SIG Apps discussion on whether and how to add timezone support to this API. See https://github.com/kubernetes/community/tree/master/sig-apps#readme for details.

[2021-12-03 09:42] aojea commented on #103512
Just this week in a totally unrelated issue, I've observed go's GC causing long pauses on web servers under stress, we should check if this can be a cause here ...

[2021-12-03 10:14] felixhuettner commented on #106745
I discovered the issue is no longer present on the master branch.
I will do a git bisect to find the fixing commit

[2021-12-03 10:24] felixhuettner commented on #106745
The issue is fixed in ccf337657075cd93619c25071f38840ce1acd3b8 .
So the fix will be included in 1.23.

I would assume this is a change that is not reasonably backportable?

[2021-12-03 11:20] wgliang commented on #79805
@JohnRusk Thank you for your attention and suggestions.

In fact, I am more inclined to have adaptive and default control capabilities on the server side. We cannot guarantee that any user will remember to adjust this parameter.

IMO, the community pays too much attention to historical technical decisions, and we need to look forward (a single Kubernetes cluster has become larger and larger and ha

[2021-12-03 11:46] maxwellxxx commented on #106713
Yes, that is in the ideal case. At the moment of kube-proxy adding new endpoints to a nodeport-service(that having non-endpoints before), the connection will be accpeted.

[2021-12-03 12:07] simrangupta234 opened #106801 "[Failing Test][sig-cluster-lifecycle-kubeadm][kubeadm-kinder-upgrade-1-22-1-23]"
### Which jobs are failing?

kubeadm-kinder-upgrade-1-22-1-23

### Which tests are failing?

### Kubernetes e2e suite: [sig-node] Probing container should *not* be restarted with a exec "cat /tmp/health" liveness probe [NodeConformance] [Conformance]

/home/prow/go/src/k8s.io/kubernetes/_output/local/go/src/k8s.io/kubernetes/test/e2e/framework/framework.go:630
Nov 25 20:49:58.623: pod container-pr

[2021-12-03 12:08] aojea commented on #106713
:thinking: , it has to have an iptables REJECT rule if there are not endpoint, when you add endpoints the corresponding NAT rules are added, the traffic should never reach the socket

[2021-12-03 12:28] collimarco opened #106802 "Waiting for Job completion in InitContainer (or before main container starts)"
### What would you like to be added?

A common pattern is to include the release phase (e.g. database migrations) inside a Job.
Then you need to wait until the migration is completed before starting the new pods: you can use an InitContainer for that.

For example if you use Rails you can:
1. Create a Job (e.g. `migration-job`) with `rails db:migrate` command
2. Inside the Deployment (e.g. web app

[2021-12-03 13:11] YanzhaoLi commented on #88820
Any updates?

[2021-12-03 13:17] liggitt commented on #106798
good catch, agree on keeping dockershim as-is in 1.23 ahead of removal

[2021-12-03 13:34] saschagrunert commented on #106798
/assign

[2021-12-03 13:45] saschagrunert commented on #106798
Fix is incoming in #106803

[2021-12-03 14:16] QWERTY92009 commented on #106011
Thanks @astoycos. The affected rabbimq pod does have network policies allowing ingress / egress to all other pods within the cluster (this was done to troubleshoot this problem, previously limited to only pods within its namespace to which it should be communicating), and also ingress from the external IPs accessing the rabbitmq pod from outside the cluster. But when these networkpolicies are appl

[2021-12-03 14:19] evaneaston commented on #47202
@sftim So not Monday, the one after?  I'll see if I can carve the time to advocate for this.

Just throwing down my first-draft "manifesto" to resume the discussion of why this should happen:

- Adjusting timezones at the cluster level is impractical for many.
- Adjusting cluster timezones only makes sense for organizations headquartered and doing in one location.
    -  Corollary: for orgs with c

[2021-12-03 14:28] ardaguclu commented on #104324
@Jefftree you are right, problem looks to be solved.

I'm closing this issue.

[2021-12-03 14:28] #104324 closed

[2021-12-03 15:23] dkulchinsky commented on #106274
Hey @aojea, any thoughts or updates about this?

[2021-12-03 15:30] alculquicondor commented on #105802
They still run on kubernetes, so they can still depend on kubernetes repos, right?

[2021-12-03 15:38] acnodal-tc commented on #19475
Hi @sdminonne I'm not sure what info you're looking for but let me describe a use case that I'm working on. The Marin3r Envoy control plane https://github.com/3scale-ops/marin3r/ has a controller that launches Envoy proxy engine pods on demand. It uses its own image as an init container for the Envoy pods. It would be great if the controller could find out what image it is so it could use the same

[2021-12-03 15:43] jlsong01 commented on #106637
@NikhilSharmaWe  Hello NikhilSharmaWe, are you working on this issue? If not, could I take a try?

[2021-12-03 15:55] mattcary commented on #97071
We think this is due to mkfs having problems on PD, see #104282 for the conversation.

[2021-12-03 16:04] liggitt commented on #105977
does cluster autoscaler currently write to pod status? do we want it fanning out writes that way (both from the perspective of performing lots of writes and for permissions purposes)?

does scheduler have any awareness of cluster autoscaler today?

[2021-12-03 16:11] alculquicondor commented on #105977
Cluster Autoscaler currently only writes events. So if CA only updates the pod condition when the condition changes, there is not much risk of too many writes. From a permissions perspective, it would just need write access to the pod status (the same permission that scheduler has).

Going a bit into technical details, I think this merge strategy allows Pod status updates not to bump into each oth

[2021-12-03 16:13] NikhilSharmaWe commented on #106637
@jlsong01 I am unable to figure out how to make object `PVC.spce.resource.limits` free of garbage values because I am unable to find any info about this object. @msau42 Could you guide about this object and some useful code pointers.

@jlsong01 if you have an idea of making a useful solution, you can very well proceed. Also if you have some idea about how to execute this task, could you please sha

[2021-12-03 16:30] aojea commented on #106274
I'm really busy these days, but my suggestion is to try to check which parts of ^^^ this path ^^^ works and which parts don't , i.e you can try to see if it ONLY happens for traffic that comes through the load balancer, and not if is generated within the cluster or ....

[2021-12-03 16:40] tstraley commented on #60164
/reopen

[2021-12-03 16:43] SergeyKanzhelev commented on #106798
I closed my PR, your PR has a conversion logic which is needed

[2021-12-03 16:50] lubronzhan commented on #88820
Hi @timoreimann Could you share the updates on this issue?
Thank you

[2021-12-03 17:00] dkulchinsky commented on #106274
Understood and thanks for taking the time 👍🏼
but my suggestion is to try to check which parts of ^^^ this path ^^^ works and which parts don't , i.e you can try to see if it ONLY happens for traffic that comes through the load balancer, and not if is generated within the cluster or ....

[2021-12-03 17:12] dkulchinsky commented on #106274
Thanks for taking the time to look into this @aojea!

(apologies for closing/reopening... finger slipped, haha)

This path works as expected:
[code]

This is where we see the issue:
[code]

The issue occurs only for traffic originated from Pod(s) running in the cluster (`[service A]` above), the fact that `[service A]` also receives packets from external sources shouldn't be a factor here, isn't i

[2021-12-03 17:22] cortex3 commented on #70082
I'm seeing a lot of these messages too. The backend_commit_duration seems fine to me and neither IOPS or CPU usage are looking strange

[2021-12-03 17:46] victor-sudakov opened #106806 "A StatefulSet does not respect fsGroup when creating a volume from a volumeClaimTemplate"
### What happened?

I create a StatefulSet with a spec.template.spec.securityContext.fsGroup=65534. The complete manifest can be found below. After the creation of a Pod, however, the volume mountpoint remains with "root:root 755" permissions.

### What did you expect to happen?

I expect the volume mountpoint to have "775 root:nobody" permissions.

### How can we reproduce it (as minimally and pr

[2021-12-03 18:23] verb commented on #106365
Thanks for the test cases and the links to the KEP, they made it much easier to figure out what's going on here.

It sounds like everything is working as intended. The KEP even mentions that ephemeral containers are excluded from the heuristic. The only question is whether we should update the projected volume docs to mention the special handling of tokens.

@howardjohn you mentioned that fsGroup

[2021-12-03 18:26] howardjohn commented on #106365
Not really, since it impacts all volumes. Basically the use case is a sidecar wants access to a token. With setting fsGroup at the pod level, it impacts the main application's volumes which typically breaks everything. The changes in KEP 2451 fix this, but not with ephemeral containers.

That being said, I do not personally have a real use case for this, unless the volume could also be added dynam

[2021-12-03 18:29] liggitt commented on #106365
is running the ephemeral container as a non-0 uid that is different than the non-0 uids of the other containers common?

[2021-12-03 18:33] howardjohn commented on #106365
I highly doubt it. For context on how I found this, I was experimenting with running a service mesh sidecar as an ephemeral container. That was almost entirely just an experiment and clearly an abuse of what ephemeral containers were design for though -  I was mostly just playing around with things

[2021-12-03 18:47] victor-sudakov commented on #106806
/sig storage

[2021-12-03 19:33] MaciekPytel commented on #105802
Sorry, I missed this discussion earlier and I can see it moved on to other topics. Circling back for a second to integration with CA: the problem with coscheduling plugin and Cluster Autoscaler is much broader than looking at PodGroup resource. CA algorithm at its core is greedy binpacking that can be summed up with this pseudocode:

[code]
Notably this algorithm runs only PreFilters/Filters() and

[2021-12-03 19:57] medyagh opened #106807 "`v1.23.0-rc.0` breaks `crictl images` for Docker container-runtime (works fine on 1.23.0-beta.0)"
### What happened?

On minikube HEAD we tried to bump the "newest" Kubernetes version from k8s `1.23.0-beta.0` to k8s `v1.23.0-rc.0`

however this breaks "crictl images" command

[code]

however if we start minikube with `1.23.0-beta.0` crictl works fine

[code]

in changelog I see there are API changes https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.23.md#api-change
but

[2021-12-03 20:05] medyagh commented on #106807
@ehashman any insight on this issue ? I suspect it is related to this PR https://github.com/kubernetes/kubernetes/pull/106501

[2021-12-03 21:18] dgkanatsios commented on #53459
+1, so we can avoid filtering by Labels
That would be a great and welcome addition. Currently, our controller updates the CR.Status, it will take an extra Update call to update the Labels map as well.

[2021-12-03 21:42] #106798 closed

[2021-12-03 22:31] bpinske commented on #96242
I've unfortunately independently discovered this very same problem with external metrics scaling very poorly, particularly under Keda querying prometheus.

Is there any particular reason that the solution cannot be a naive increase to the number of goroutines spawned to process the HPA objects concurrently on every 15 second loop execution? There was an acknowledgement above that an HPA object may

[2021-12-03 23:16] k82cn commented on #105802
If so, are we going to re-implement or re-define "hot" CRDs in k/k? All those CRDs run on k8s and dependent on k8s repos :)

Currently, both Kuberentes (Graduated) and Volcano (Proposing to Incubating) are CNCF projects, YuniKorn is an Apache Incubating project; so it's better to have a neutral place/repo to align the interface, e.g. WG in CNCF.

Even more (hm... mybe not necessary), such a repo/W

[2021-12-03 23:57] amrmahdi opened #106809 "Removing a duplicate environment variable from the container spec ends up deleting the environment var entirely"
### What happened?

Consider the following deployment spec:

[code]

Notice that there is a duplicate env entry `TEST`. We realize it is duplicate so we remove one and update the container spec to be

[code]

And then `kubectl apply` the updated deployment spec. What happens is that the env `TEST` is no longer there in the newly created container.

### What did you expect to happen?

I expected th

[2021-12-04 01:11] #103506 closed

[2021-12-04 02:29] JohnRusk commented on #79805
I like your comment about looking forward @wgliang.

[2021-12-04 02:32] amrmahdi commented on #106809
/sig api-machinery

[2021-12-04 03:50] #103835 closed

[2021-12-04 03:58] MurzNN commented on #19781
Current etcd version have 1.5mb limit already, with ability to increase it: https://etcd.io/docs/v3.5/dev-guide/limit/

Does this mean, that we can increase this limit in fresh k8s versions too?

[2021-12-04 04:54] AndrewSav commented on #47202
Just to remind a real life problem that we are trying to solve, here is our scenario:

[2021-12-04 07:24] BaskiGIT commented on #77508
Hi our use case is that in a single namespace there are some services with minimal requests/limits and some other databases with far higher requests/limits

While we can achieve this with restricting ResourceQuota with priorityClass it would be more convenient to do based on labels without having to introduce priorityClass

[2021-12-04 09:30] jlsong01 commented on #106637
/assign

[2021-12-04 09:48] jlsong01 commented on #106637
Here is the fix proposal, please feel free to comment if anything needed. @msau42
1. The tighten validation would be added, which means, if `spec.Resources.Limits[core.ResourceStorage]` is present, not matter what value in them, the validation will failed with error indication.
2. Regarding pvc supports limit or not , IMHO, No. Since the storage claimed by pvc can not be shared with another pvc, t

[2021-12-04 10:30] victor-sudakov commented on #106806
After some experimenting I have a reason to believe that this permissions problem is minikube-specific.

Here is a simpler manifest to reproduce (permissions on /d01 remain root:root):

[code]

[2021-12-04 13:47] jsturtevant commented on #103032
/remove-lifecycle stale

[2021-12-04 14:38] danwinship commented on #106267
So maybe we should just declare that the array is essentially a bug, and only the first address is used? Maybe something should warn if you ever set additional addresses?

(FTR, the context that I noticed this in was that I was adding unit tests, and was creating EndpointSlices with a single Endpoint and multiple Addresses, which doesn't work; you need multiple Endpoints with a single Address each

[2021-12-04 14:40] wyike commented on #82727
@subrnath  looks like you fix it from application itself to exclude this issue, right

[2021-12-04 16:47] liggitt commented on #106809
Thanks for the report. This is a duplicate of #58477, consolidating this issue there.

[2021-12-04 16:47] #106809 closed

[2021-12-04 16:53] IJOL commented on #60987
We had that from below ( a big pile of them i must say ) in our kubelet logs just today, so maybe the problem in our, not very ancient, k8s v1.18.10 is still there,

`E1204 15:46:01.851192    1556 kubelet_volumes.go:154] orphaned pod "067f154f-7ad7-4bbe-b83c-87539b66638e" found, but volume paths are still present on disk : There were a total of 40 errors similar to this. Turn up verbosity to see t

[2021-12-04 18:15] liggitt commented on #106529
this is resolved now, starting with v0.23.0-rc.X tags

[2021-12-04 18:15] #106529 closed

[2021-12-04 18:15] liggitt commented on #106365
since this is not a bug, switching type to documentation and removing from milestone

[2021-12-04 18:17] liggitt commented on #100313
@thockin commented +1 about fixing this before 1.23 in https://github.com/kubernetes/kubernetes/issues/100313#issuecomment-915651654, but https://github.com/kubernetes/kubernetes/pull/106497 does not appear to be making progress.

1.23.0 rc 1 was just released... what are the implications if this issue is not fixed in 1.23.0?

[2021-12-04 18:23] justinsb opened #106814 "PV tests do not account for zones"
### Which jobs are failing?

https://testgrid.k8s.io/google-aws#kops-aws-misc-ha-euwest1

### Which tests are failing?

Kubernetes e2e suite.[sig-storage] In-tree Volumes [Driver: aws] [Testpattern: Pre-provisioned PV (ext4)] volumes should store data

### Since when has it been failing?

Unknown, I would guess a long time.  But these used to work, so likely broken by moving topology into storagec

[2021-12-04 19:08] robscott commented on #100313
Sorry, didn't do a great job of updating this. @danwinship has a PR that will fix this issue, but after some [discussion in Slack](https://kubernetes.slack.com/archives/C09QYUH5W/p1636995039151500), we determined that this should not be blocking for topology beta. Sorry, that thread falls off before a clear conclusion, but I know there was at least one more follow up chat thread continuing that di

[2021-12-04 19:27] liggitt commented on #100313
Thanks for updating, moved to 1.24

[2021-12-04 21:51] getkub commented on #69697
A more handsfree option in case if someone finds useful
[code]

## Finding pvc's which are in Terminating and patching them in a loop
[code]

### Check to see if anything still remains
[code]

[2021-12-05 00:50] justaugustus commented on #80546
I haven't been able to work on this, but as it's been open for a while, and I haven't seen work-stopping friction, it leads me to believe we don't actually need it.

If anyone feels differently, feel free to reopen.
/close
/unassign

[2021-12-05 00:50] #80546 closed

[2021-12-05 02:10] cyclinder commented on #104234
I'm working on this now, but  I'm stuck in here,  I got the line, and then how I extract `proxier.iptablesData.Bytes()` at -3 and +3 from that line?

[2021-12-05 06:35] cbandy commented on #47202
I would like to add that adding a "timezone" to the specification is only a small part of getting a job to run at the "right" times.

These past months, the group that manages "the timezone database" has been working through what information should be kept in that database, how that information is identified, and more. [[1]](https://mm.icann.org/pipermail/tz/2021-June/030194.html) [[2]](https://mm

[2021-12-05 07:22] victor-sudakov commented on #106806
I think it's somehow related to https://github.com/kubernetes/minikube/issues/12360
Probably not a generic Kubernetes problem.

[2021-12-05 07:22] #106806 closed

[2021-12-05 07:35] SaiHarshaK commented on #106125
We might still the wait.Poll method because it is the condition timeout causing the error, so it might be better to retry. Ideally it is supposed to see that the pod is running and complete which isn't happening.

Current PR reduces the interval time to do more tries, alternatively what we can do is to increase the gracefulTermination period to 75seconds and let the original [wait.Poll](https://gi

[2021-12-05 10:32] arun1587 commented on #104234
you may need to write a helper function to extract them from the logs.
my 2 cents..
here is my version for reference.
you could add some tests, to cover the boundary conditions.
[code]

[2021-12-05 12:01] allenhaozi opened #106825 "pod stucking when mount volume"
### What happened?

I used [kind](https://github.com/kubernetes-sigs/kind) to set a csi plugin environment

When testing the mount, got the fellowing error:
[code]

Looks like an RBAC problem

### What did you expect to happen?

volume can be mount properly

### How can we reproduce it (as minimally and precisely as possible)?

1. use kind deploy a cluster
2. fluid dev environment  [dev-with-kind]

[2021-12-05 12:03] allenhaozi commented on #106825
sig/storage

[2021-12-05 13:20] #102720 closed

[2021-12-05 14:07] SataQiu commented on #106795
Hi @chenhong0129  You can try to use `podAntiAffinity` https://kubernetes.io//docs/concepts/scheduling-eviction/assign-pod-node/#affinity-and-anti-affinity

[2021-12-05 14:14] djain13 commented on #78494
@s-urbaniak @enj
My team at IBM is also hitting into this issue. Is someone working on the fix?

Cheers
Dharmesh

[2021-12-05 14:52] yxxhero commented on #106825
@allenhaozi Firstlly. You should try to fix RBAC issue. Thanks very much.

[2021-12-05 15:56] allenhaozi commented on #106825
thank u , add `list` verbs fix it

[2021-12-05 15:56] #106825 closed

[2021-12-05 15:58] Riaankl commented on #95966
This PR was fixed by https://github.com/kubernetes/kubernetes/pull/95128
/close

[2021-12-05 15:58] #95966 closed

[2021-12-05 16:27] tkashem opened #106826 "apf: exempt request does not note flowschema and prioritylevelconfiguration in the response header"
### What happened?

In Priority and Fairness, exempt request does not note `flowschema` and `prioritylevelconfiguration` in the response header.

[code]

We’re missing `X-Kubernetes-Pf-Flowschema-Uid` and `X-Kubernetes-Pf-Prioritylevel-Uid` from the response headers

### What did you expect to happen?

We expect the response headers  `X-Kubernetes-Pf-Flowschema-Uid` and `X-Kubernetes-Pf-Priorityle

[2021-12-05 16:35] tkashem commented on #106826
/sig api-machinery
/assign

cc @MikeSpreitzer @wojtek-t

[2021-12-05 18:27] visit1985 commented on #103182
/remove-lifecycle stale

[2021-12-05 21:28] #84473 closed

[2021-12-05 21:28] #103581 closed

[2021-12-05 22:29] #103312 closed

[2021-12-05 23:14] liggitt commented on #106807
I think this is a duplicate of https://github.com/kubernetes/kubernetes/issues/106798, fixed in https://github.com/kubernetes/kubernetes/pull/106803 and in 1.23.0-rc.1.

Can you verify this is resolved in rc.1 for you?

[2021-12-05 23:18] liggitt commented on #106790
no changes related to CRDs or watches were merged between 1.22.3 and 1.22.4

do you have a minimal reproducer program demonstrating how you're constructing the watcher and awaiting modified events?

[2021-12-06 04:58] sanposhiho commented on #106705
Close this issue as duplicated. I'll comment about this issue on #100723.

/close

[2021-12-06 04:58] #106705 closed

[2021-12-06 05:01] sanposhiho commented on #100723
#106705 is the same idea. (closed due to duplicated with this issue.)
The result of my small investigation for `plugin` pkg is mentioned on #106705.

[2021-12-06 05:56] uablrek commented on #101607
/remove-lifecycle stale

[2021-12-06 06:08] uablrek commented on #106476
Blog that describes the problem at; https://medium.com/flant-com/kubernetes-graceful-shutdown-nginx-php-fpm-d5ab266963c2

I especially like the chart. It illuminates the problem in K8s; there is no kube-proxy<->kubelet communication (and there shouldn't be!). They both react independently on kube-api updates.

[2021-12-06 06:39] chenhong0129 commented on #106795
Thank you. I know that podAntiAffinity with operator "In" can work, but why pod affinity with operator "NotIn" does not work? There are no restrictions on this method of use in official documents.

[2021-12-06 07:26] nirnanaaa commented on #106476
Indeed. (the part in their article about sigterm is very missleading, because it doesn't matter how well your app handles sigterm, if new traffic will still arrive after your app shutdown was completed, that's the "Practice. Potential problems with graceful shutdown" in their article).

I totally get that there is not supposed to be a link, don't get me wrong, most of these errors could - and prob

[2021-12-06 08:20] prbakhsh commented on #61117
I have the same issue in my bare metal k8s.
k8s version: v1.19.3
cni: weave net

[2021-12-06 08:30] #80354 closed

[2021-12-06 08:30] #103167 closed

[2021-12-06 08:30] #103477 closed

[2021-12-06 08:32] yhrn commented on #82942
/remove-lifecycle stale

[2021-12-06 09:05] allenjol commented on #70685
@dioguerra did your resolved this problem ,i have the same problem

[2021-12-06 09:28] msvticket commented on #57838
It seem to be even worse in 1.21.2. Not even deleting a pod works; the new pod still has the old nodeSelector. I had to resort to deleting the StatefulSet and creating it again.

[2021-12-06 10:00] ahmed-mez opened #106836 "Support `IN` operator for field selectors."
### What would you like to be added?

Currently, `IN` operator is only supported for label selectors. Field selectors should also support `IN` operator as this is the only way to implement the `OR` operator on values.

### Why is this needed?

- Feature parity and consistency between label selectors and field selectors.
- Allow implementing `OR` rules based on field selectors

[2021-12-06 10:04] maxwellxxx commented on #106713
Yes, at the moment of "adding NAT rules", no REJECT rule or NAT rules is existed in the iptables, the traffic reach the socket of kube-proxy listened on.

[2021-12-06 10:30] ahmed-mez commented on #106836
/sig api-machinery

[2021-12-06 10:30] nu007a commented on #30716
/mark

[2021-12-06 11:37] akshaydmore commented on #106790
def start _watcher(self, _request_timeout=0):
        stream_kwargs = copy.deepcopy(self.kwargs)
        stream_kwargs['_request_timeout'] = 120
        stream_kwargs['field_selector'] = None if not self.obj \
            else "metadata.name={}".format(self.obj)
        if self.resource_version:
            stream_kwargs['resource_version'] = self.resource_version
        watch = self.watch.stream

[2021-12-06 11:39] akshaydmore commented on #106790
Did you try reproducing beacause m able to reproduced it .

[2021-12-06 11:42] uablrek commented on #106476
I don't think this can be done "by the means of kube-api" so to speak. A pod can get closer by monitoring it's own endpoints, but beside being quite complex it will still not know if all kube-proxys has updated the actual load-balancing. To introduce some status for (removed) endpoints that is updated when all kube-proxy instances has updated load-balancing, I find horrible. Just imagine the clust

[2021-12-06 14:00] neolit123 commented on #106767
I don't see how this can happen without external interference e.g deleting
the CM or passing --config.

When upgrade from 1.20 to 1.21 is done. The 1.21 CM is created, If not an
error is thrown during upgrade. This means that the 1.22 upgrade will
always find the CM.

We actually have e2e tests that ensure that the CM is cteated post upgrade.

/priority awaiting-more-evidence

[2021-12-06 14:05] neolit123 commented on #106589
Looks like the release team did not want this last minute change in 1.23.0.

Backporting it might need discussion.. .
Seems fine for 1.24.
On Nov 29, 2021 10:24, "Kartik Sharma" ***@***.***> wrote:

@neolit123 <https://github.com/neolit123> Could you please confirm whether
the #106591 <https://github.com/kubernetes/kubernetes/pull/106591> is
planned after the v1.23 release ?

—
You are receiving t

[2021-12-06 14:17] liggitt commented on #106790
that looks like python, so I'm not sure what client library you are using.

I was unable to reproduce with the versions in your issue description:

start a 1.21.2 server:

[code]

build a 1.22.3 kubectl, create a crd, then start watching:

[code]

in another tab, modify the CRD:

[code]

first tab sees modified event:
[code]

I then repeated the test with a 1.22.4 kubectl and saw the same expected

[2021-12-06 14:22] liggitt commented on #106745
oh, I didn't realize the service update change didn't land until 1.23. I would not expect ccf3376 to be backported, but a more targeted bugfix for this issue against earlier versions might be possible.

[2021-12-06 14:30] akshaydmore commented on #106790
we have same python version for kubernetes libraray  1.12 while testing with both 1.22.3 and 1..22.4

[2021-12-06 14:35] felixhuettner commented on #106745
We found a suitable workaround for older versions. So from my perspective we would not need a backport anymore.
Would it then make sense to close this issue?

---

For anybody having the same issue and interested in our solution:
1. Create the service using a POST call. Set a fieldmanager in this call.
2. The object is now created in k8s and has managed fields set to the `Update` operation
3. Send

[2021-12-06 14:41] neolit123 commented on #106464
The cgroupfs driver may not work with cgroup v2.
Cgroup v2 is rather new and they may be undocumented problems with it, the kubelet and the container runtimes.

A systemd driver with the latest stable kubelet and the latest stable containerd should work with cgroup v2. If it doesn't you may have to switch to a distro with v1 for the time being.

[2021-12-06 14:42] neolit123 commented on #106464
/sig node
This is not a kubeadm problem per se.

[2021-12-06 14:45] neolit123 commented on #106699
I haven't looked much at this area. If you have a fix PR you can try
sending it.

[2021-12-06 15:32] dgrisonnet commented on #106760
Thank you for raising this issue @sunlintong, but besides the question of whether this is a bug or a support request, your environment is using an outdated Kubernetes version that is not supported anymore, which is a valid reason to close an issue. So I will be closing it again for now until you are able to reproduce the problem on a supported version. see https://kubernetes.io/releases/version-sk

[2021-12-06 15:32] #106760 closed

[2021-12-06 15:33] ialidzhikov commented on #87336
/remove-lifecycle stale

[2021-12-06 15:33] ialidzhikov commented on #94590
/remove-lifecycle stale

[2021-12-06 16:11] neolit123 commented on #106801
this is due to:
https://github.com/kubernetes/kubernetes/issues/106566
let's track the problem in the same issue.

thanks
/close

[2021-12-06 16:12] #106801 closed

[2021-12-06 16:15] NikhilSharmaWe commented on #106608
@jsturtevant I need some guidance. Could you please take a look on previous comment.

[2021-12-06 16:16] mattcary commented on #100840
/remove-lifecycle rotten

/cc @leiyiz

This is different from the ROX read-only issue you've been looking at Leiyi, but maybe similar enough it could be cleaned up at the same time?

[2021-12-06 16:19] nonylene commented on #102537
@sftim

Thanks, I just submitted an issue: https://github.com/kubernetes/website/issues/30765.

Yes, that's correct.

[2021-12-06 16:44] neolit123 commented on #106704
there is something going wrong with your cluster bring up...
you have to debug what is happening and why is the node object never created.
it can fail to create the node object if the kubelet is trying to connect to a failed-to-start kube-apiserver container.

since i don't see a bug or feature request here (yet) marking as support

/remove-kind bug
/kind support
/sig cluster-lifecycle

maybe rela

[2021-12-06 16:45] neolit123 commented on #106704
i think node names with dots `.` **should** work, buy you can also try renaming your hosts to not have dots - e.g. `master01-fe-me` and try again...

[2021-12-06 16:48] jeremybusk commented on #92287
Unstale pls

[2021-12-06 17:06] ialidzhikov opened #106842 "CREATE request for already existing object is denied with `exceeded quota`"
### What happened?

CREATE request for already existing object is denied with `exceeded quota` by the ResourceQuota admission plugin.

### What did you expect to happen?

CREATE request for already existing object (and when the resourcequota is exhausted) to be denied with `already exists` (`409 Conflict`).

### How can we reproduce it (as minimally and precisely as possible)?

1. Create a test na

[2021-12-06 17:08] ialidzhikov commented on #106842
/sig api-machinery
/area apiserver

[2021-12-06 17:12] neolit123 commented on #106807
/sig node

[2021-12-06 17:12] neolit123 commented on #106802
/sig apps node

[2021-12-06 17:13] neolit123 commented on #106795
/sig scheduling

[2021-12-06 17:15] neolit123 commented on #106757
/kind support
/sig node

[2021-12-06 17:15] neolit123 commented on #106754
/sig api-machinery

[2021-12-06 17:16] neolit123 commented on #106713
/sig network

[2021-12-06 17:22] enj commented on #103760
/remove-lifecycle stale
/assign @rajibmitra

Feel free to take a look into this.

[2021-12-06 17:25] enj commented on #104071
Per https://github.com/kubernetes/kubernetes/issues/104071#issuecomment-900611179 I believe this can be closed as this is something that should be fixed in Go.

/close

[2021-12-06 17:25] #104071 closed

[2021-12-06 18:32] Huang-Wei commented on #106545
The corner case was described in #85726.

[2021-12-06 18:36] Bessonov commented on #37471
/remove-lifecycle stale

[2021-12-06 18:40] neolit123 commented on #106771
AFAIK, `kube-system/kube-dns` is a hardcoded assumption in at least `kubectl cluster-info` e2e suite tests, kubeadm and kube-up. i don't see it in conformance tests, but we may have to double check if it is.

if that value is pinned as a default in a new kubelet option then kube-up and kubeadm will not have to opt-in into setting it.
ideally the value should be a KubeletConfiguration option instea

[2021-12-06 18:40] neolit123 commented on #106771
would love to hear what @justinsb thinks of the proposal as well.

[2021-12-06 18:55] #106262 closed

[2021-12-06 18:55] MikeSpreitzer commented on #106826
What was the change that introduced this regression?

[2021-12-06 19:14] MikeSpreitzer commented on #106826
It was my PR #105873 that caused the problem.  I mistakenly thought that we could bundle notification of the classification with doing the work estimation.  Those two should be unbundled.