[2017-02-08 01:10] krzyzacy commented on #41108
@shyamjvs Reverted and see if it will recover.

I kicked the same job twice locally and try to figure out what [docker command](https://github.com/kubernetes/test-infra/blob/master/jenkins/dockerized-e2e-runner.sh#L54-L57) is needed for kubemark. I suspect it killed something that was running, but I would expect next runs should recreate the GCP resources.

[2017-02-08 01:19] #12509 closed

[2017-02-08 01:35] krzyzacy commented on #41108
@shyamjvs

but I feel like `./test/kubemark/stop-kubemark.sh` was triggered twice in a row which causes the failure?

[code]

[2017-02-08 01:39] shiywang commented on #40968
I think "switch" is good, vote for "switch", I would like to work on this when I finished `apply subcommand` @pwittrock @ymqytw WDYT?

[2017-02-08 01:52] krzyzacy commented on #41108
nvm, it was always like this...

[2017-02-08 01:54] liggitt commented on #40968
I prefer use. It connects to the current context selection command (`use-context`), pairs nicely with a resource arg (`use namespace/foo` or `use ns/foo`), and reminds me of selecting a current database (`use database_name`)

If we start by requiring the resource type qualifier (`use namespace/foo` or `use ns/foo`), that leaves the door open for other types of context in the future

[2017-02-08 02:06] smarterclayton commented on #40968
Would we want to have "use user"?  Cause that doesn't roll off the tongue

On Feb 7, 2017, at 8:54 PM, Jordan Liggitt <notifications@github.com> wrote:

I prefer use. It connects to the current context selection command (
use-context), pairs nicely with a resource arg (use namespace/foo or use
ns/foo), and reminds me of selecting a current database (use database_name)

If we start by requiring the

[2017-02-08 02:21] gnufied commented on #41102
@blakebarnett yeah I haven't cherry picked this PR to release-1.5 branch. We have noticed similar problem. I will open a PR to cherry pick the commit to 1.5.

So basically the reason we are looping is - because we expect volume to be detached eventually and then k8s should be able to delete it.

[2017-02-08 02:44] nikhiljindal commented on #33196
@jimmidyson Yes checking status code for all operations in success range of >=200 && <300 lgtm.

[2017-02-08 03:14] Hui-Zhi commented on #40998
According to @vishh , yes.

[2017-02-08 03:40] smarterclayton commented on #40908
Liveness probes only apply to the container, this is as designed.  Can you describe why you expected the pod to be restarted?

[2017-02-08 03:50] madspaulin commented on #40908
All our pods are multi-container pods. The containers in the pod form a tight group and really cannot function without each other (or new incarnations thereof). When working, the containers build up shared and internal state, so when one pod is restarted, the shared state of the group is invalidated (think "the right half of you brain was just wiped out"). The containers are built by different tea

[2017-02-08 04:04] liggitt commented on #41081
we can do this for localhost if needed, though it's a bit weird. the IP case concerns me, since we can't use SNI for that, and can't assume localhost will resolve to a particular interface

how?

[2017-02-08 04:07] smarterclayton commented on #29472
If you have an internationalization proposal, I'd be happy to add design
points on the server side implications of translation to it.  It's
something we've discussed quite a bit.

The design proposal for get has been germinating for a while in discussions
with the sig.  it'll go up soon, now that we've completed the prerequisite
changes for it.

The point of server side rendering is that we have s

[2017-02-08 04:08] smarterclayton commented on #29887
Hrm, nothing inside of apimachinery except meta/v1 should have json or protobuf tags.  What are you planning on using?

[2017-02-08 04:14] smarterclayton commented on #40908
Ok, this is a feature request then.  It's not unreasonable, but is not
supported today.

[2017-02-08 04:55] resouer commented on #40908
@madspaulin This is a interesting case, could you please provide a example of your workload (e.g. Pod yaml with public images), so we can test and try to find a solution? (please remember to exclude confidential informations out).

Ideally, containers in same pod should not rely on each other (otherwise you need to use `initContainer`). So we assume restarting a single container is fine.

[2017-02-08 05:32] jingxu97 commented on #39657
@Jan-M Thank you for providing us your use case of snapshots. Could you please provide a little more details (steps) on  how statefulset and claim templates work when you need to replace initially created volumes with bigger ones so that I understand the workflow. Thank you!

[2017-02-08 06:28] jobz opened #41120 "kube-controller-manager stops after few minutes in multi-master set up"
We have a Kubernetes three master node set up with HA proxy enabled

Master1        |
Master2        | HA proxy |     Worker Node1, worker Node2
Master3        |

 OS: Ubuntu 16.04.1 LTS (GNU/Linux 4.4.0-59-generic x86_64)
 Kubernetes version: 1.4.6
 Etcd Version: 3.1.0

ETCD cluster  nodes         = 3
Number of Master nodes =3
Number of Worker nodes =2

The issue is one of the kube-controller-man

[2017-02-08 07:07] krzyzacy commented on #41108
I would say 500-gce is still hanging -> timeout for some reason, someone might want to take a look there.

[2017-02-08 07:36] wojtek-t commented on #41108
@krzyzacy - now this is hanging because you changed the name of resources and we have quota issues. I will cleanup the project and it should solve the problem.

[2017-02-08 07:49] unbornchikken commented on #41010
@chrislovecnm I'm just a newcomer who try to get familiar with your platform by doing the guides of your documentation: https://kubernetes.io/docs/admin/multiple-zones/

So my question is, where can I find an *actual* guide about how should I set up a multizone cluster in AWS, please?

Is this guide: https://github.com/kubernetes/kops/blob/master/docs/aws.md
And this command: https://github.com/ku

[2017-02-08 08:16] JorritSalverda commented on #41012
I'm running a modified version of elasticsearch - https://github.com/pires/docker-elasticsearch-kubernetes - that uses the SVC dns records for discovery and doesn't depend on the order. Of course tt could use a deployment instead of a statefulset but I need the PDs to be provisioned, hence the use of the statefulset.

The dependency on the first node lowers total availability a lot, especially sin

[2017-02-08 08:19] Dmitry1987 commented on #38774
Hi @justinsb ,
I remember I tried it on pods with single container, because I package our apps 1 per pod for now. And I knew I should specify container name, and tried that too, it had same result.  For example there's this helm chart of mongodb:  https://github.com/kubernetes/charts/tree/master/incubator/mongodb-replicaset  which has 3 containers in pod, named  "install" / "bootstrap" / and the S

[2017-02-08 08:57] krzyzacy commented on #41108
@wojtek-t hummm... not as I notice? (Inside the test things should still be the same? Or it's because I triggered `--test` in e2e.go?)

[2017-02-08 09:00] wojtek-t commented on #41108
So everything used to be called "kubemark-500-****" and after your changed it was renamed to "bootstrap-***".

[2017-02-08 09:01] wojtek-t commented on #41108
That said, I'm not saying we should leave it as "kubemark-500-*", but that wasn't "no-op".

[2017-02-08 09:03] krzyzacy commented on #41108
oh yeah I changed the cluster name (used the default one indeed), my bad, will switch it back in my PR.

[2017-02-08 09:05] noggin143 commented on #27796
I'm trying to register CERN with the CNCF CLA.

I have created a CNCF CLA for company 'test' to get a copy of the agreement to review with our legal team. Unfortunately, I now cannot register CERN as an organisation.

Can you delete the 'test' company that I registered and reset me back to the status of not being known by the system. My e-mail is tim.bell@cern.ch.

[2017-02-08 09:20] soudy opened #41125 "kube-dns with preemptible nodes cause downtime"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kube-dns preemptible

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2017-02-08 09:26] TamalSaha opened #41126 "Node does not reconnect to master after upgrading master"
I am upgrading master of a cluster from 1.5.1 -> 15.2 using the upgrade.sh script.  After upgrade, it seems that nodes does not auto reconnect with master. If I restart the kubelet on nodes, they reconnect to master. I have not change anythign regarding --register-node (so it should be default true). My question is how do I get nodes to reconnect to new master without having to restart kubelet on

[2017-02-08 09:28] sttts commented on #41081
I had hoped there is some elegant way for skipping the hostname check. We can make the `tls.Config` of the client to accept our known server SNI certs, but the hostname check will stop the connection. Found some (pretty ugly) way in https://github.com/hashicorp/consul/blob/master/tlsutil/config.go#L253, basically switch to insecure mode and doing the cert check manually. Not sure I want that in ku

[2017-02-08 09:36] klinakuf commented on #37922
The solution for me was to make sure that in _/etc/environment_ the **https_proxy** is set properly

[2017-02-08 09:37] slintes commented on #33196
hey all, thanks for notifying us about this change, I updated the Amdatu Kubernetes client.
https://bitbucket.org/amdatulabs/amdatu-kubernetes/

[2017-02-08 09:47] kargakis commented on #39785
@kubernetes/test-infra-maintainers is it possible to increase the verbosity level for tests that run on aws? I am interested in the controller manager log specifically.

[2017-02-08 09:47] #40155 closed

[2017-02-08 09:47] #40768 closed

[2017-02-08 09:51] bruceauyeung opened #41127 "kubefed init hangs"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug report

**Kubernetes version** (use `kubectl version`):

Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1", GitCommit:"82450d03cb057bab0950214ef122b67c83fb11df", GitTreeState:"clean", BuildDate:"2016-12-14T00:52:01Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Cloud provider o

[2017-02-08 09:58] mtbbiker commented on #27882
@gmarek Thank for the reply and heads-up

[2017-02-08 10:16] nagavenkatab opened #41128 "kubernetes-anywhere deployment is failing with vsphere cloud provider if deployment is running behind proxy"
I am using https://github.com/colemickens/kubernetes-anywhere/blob/master/phase1/vsphere/README.md to deploy kubernetes with vsphere provider.

during make deploy, the deployment is failing on master node with

INFO     : files: createFilesystemsFiles: createFiles: op(10): [started]  writing file "/etc/kubernetes/manifests/etcd.json"
INFO     : files: createFilesystemsFiles: createFiles: op(10): [

[2017-02-08 10:37] Jan-M commented on #39657
We try to build a PostgreSQL and Cassandra operator to run Cassandra and PostgreSQL for our engineering teams. Typically increasing available disk space is one of the first "maintenance" issues one needs to have covered.

AWS does not allow resizing existing EBS volumes - the workflow is _screwed_. You need to create an EBS snapshot (takes time), then create a new EBS volume from a snapshot and th

[2017-02-08 11:16] robhaswell commented on #17088
@paralin thanks for the suggestion, I haven't tested it, however I am leaning towards a similar solution for my specific requirement by using a LoadBalancer as you suggest to point to my own nginx-based router's service. This approach uncovered a bug in `kube-proxy`, see #40870.

I'm afraid that I have currently put this issue down while I am working on other priorities, but I will be able to retu

[2017-02-08 11:24] robhaswell commented on #17088
@bprashanth in my instance, my frontend app connects to its component services using DNS as service discovery. They connect to a static name, e.g. `postgres` or `redis`. By deploying different versions in different namespaces, we get 100% satisfactory service discovery. We are unwilling to implement a different method of service discovery for the following reasons:

1. More complexity brings more

[2017-02-08 11:29] robhaswell commented on #17088
@thockin at some point between you making this comment and today, this functionality regressed. See #40870. I would appreciate it if you could accelerate @taimir's request for a second opinion on that thread please!

[2017-02-08 11:33] pigmej commented on #38372
https://github.com/ivan4th/hoseproxy This is small project by @ivan4th to reproduce that bug.

[2017-02-08 11:43] iocanel commented on #22405
In the [Fabric8 Kubernetes Client for Java](https://github.com/fabric8io/kubernetes-client) we are using the following code generation chain:

1. [From golang source to json schema](https://github.com/fabric8io/kubernetes-model/blob/master/cmd/generate/generate.go)
2. [From json schema to Java Pojos](https://github.com/fabric8io/kubernetes-model/blob/master/kubernetes-model/pom.xml#L101)
3. [From

[2017-02-08 11:58] dhilipkumars opened #41130 "Anti-Affinity should be a default property of Statefulset"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
---
Statefulset / petset
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feat

[2017-02-08 12:46] cwsolee commented on #38067
IC, Yes, my team did the enablement for K8s binaries a while back and just got pick up since 1.6 alpha 1. We'll look at latest Flannel to see what we need to do. To provide gcr.io/google_containers/k8s-dns-kube-dns-s390x. do u know who we can talk to? Or we'll go thru our usual community route.

[2017-02-08 13:04] resouer commented on #40745
@sigxcpu76 Could you please post full version of log so we can find out which line caused crash?

[2017-02-08 13:14] taimir commented on #40870
FYI, the service-to-service forwarding chain didn't work in my dev cluster even if both services are in the same namespace (as the problem described above seems to be conceptual). The services being in different namespaces is a whole separate issue on it's own.

[2017-02-08 13:16] sigxcpu76 commented on #40745
Unfortunately I cannot find the log anymore. It was rotated and deleted, it seems.

[2017-02-08 13:24] shyamjvs commented on #41108
Closing this issue as tests are back to green after the revert.Thank you @krzyzacy @wojtek-t !

[2017-02-08 13:24] #41108 closed

[2017-02-08 13:32] robhaswell commented on #40870
Yes, I apologise, I noticed that this functionality doesn't work even in the same namespace while constructing this issue, but did a bad job of removing the references to namespacing.

[2017-02-08 13:33] resouer commented on #40649
It seems in your case, `kubelet` process is still alive and can reach `kube-apiserver`?  But where reported `operation timeout: context deadline exceeded`? Do you mean `kubectl events` failed?

[2017-02-08 14:11] resouer commented on #28051
Relies on #29459

[2017-02-08 14:25] resouer commented on #41130
Just raise one thought, I think:

1. adding anti-affinity to StatefulApps is very simple
2. we can not assume  `None of these workloads would want to be co-located in the same node/host` unless user requires that

[2017-02-08 14:34] nkwangleiGIT commented on #41057
I tried this on minkube 1.5.2, and not able to recreate this issue, only saw one unbound pvc that was defined in pod template. Can you please upload the templates to create pvc and pod?

[2017-02-08 14:36] jhorwit2 commented on #40649
Something in the control plane could not talk to the kubelet (still learning the flow of things), so commands like drain would not work nor could i stop pods on that node. Events started coming in that the node was timing out (the code snippet is a copy paste of the event from the dashboard).

[2017-02-08 14:41] DanyC97 commented on #27436
@lavalamp i don't get it why you closed this issue, it should have been left open until someone pushed a PR to add this detailed info to the docs.

Currently there is not blog as suggested by @mikedanese  and no docs updated hence is a bit difficult for anyone who find @keontang 's comment to have a full implementation etc

Would appreciate if you reconsider re-open it.

[2017-02-08 15:02] resouer commented on #40753
This is just set by kubelet `minimum-container-ttl-duration`, which by default is 1 min.

So you can see after your container exited, it will be GCed after `CREATED` >= 1min. Not `15-30s`.

Set it to a larger value should fix your issue, see: https://kubernetes.io/docs/admin/garbage-collection/

[2017-02-08 15:15] liggitt commented on #39906
apply has been updated to work with third party resources in 1.6 in #40666

[2017-02-08 15:15] #39906 closed

[2017-02-08 15:16] liggitt commented on #29542
fixed in #40666

[2017-02-08 15:16] #29542 closed

[2017-02-08 15:17] liggitt commented on #40119
apply is fixed. #35993 covers edit

[2017-02-08 15:17] #40119 closed

[2017-02-08 15:28] antoineco commented on #40182
It used to be recommended to start Docker with `iptables=false` and `--ip-masq=false` in a Kubernetes deployment, would it be a viable approach to ensure these are effectively disable using a `kubelet` flag?

[2017-02-08 15:53] exarkun commented on #25241
Here is the code (found for me by a colleague) responsible for generating the "spec.ClusterIP" error message:

https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/validation.go#L2584-L2588

The condition is basically "If the service's old type was not ExternalName and the service's new type is not ExternalName and the service's old spec had a ClusterIP assigned, reject the upda

[2017-02-08 15:54] paralin commented on #17088
If you need a huge design change in something like Kubernetes to do a relatively common deployment pattern, you're doing it wrong. Clearly you're not interested in my advice towards how you can fix your problem without significant design changes in Kubernetes.

I rest my case, but urge you to rethink your approach. Reread the docs on how DNS and pod ips work, particularly around multiple / cross n

[2017-02-08 15:59] bboreham commented on #40182
Personally I would be happier with the minimum required to make Kubernetes work, rather than blanket turning on IP forwarding from anywhere to anywhere.

Also, it seems to me that specifying `--iptables=false` while leaving `--ip-forward` defaulted to `true` is a very obscure way to arrive at your desired result.

[2017-02-08 16:03] rootfs commented on #40099
@kpgriffith there doesn't seem to be a switch in unit test yet, but it is not hard to make one

[2017-02-08 16:05] rootfs commented on #40789
@idcrook is iscsiadm on the PATH? is kubelet running on the host or inside a container? In the latter case, is `iscsiadm` inside the container too?

[2017-02-08 16:11] exarkun opened #41140 "non-ExternalName v1.Service cannot be replaced"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

"service replace", "spec.ClusterIP".  I found https://github.com/kubernetes/kubern

[2017-02-08 16:14] robhaswell commented on #17088
@paralin please re-read my response to your suggestions. You suggested using a LoadBalancer service to direct traffic to the correct endpoint. I have tried this and this functionality does not work as described in the documentation. I tried your suggestion of multiple Ingress resources, and that didn't work. I also took inspiration from this, and tried having multiple Ingress resources in differen

[2017-02-08 16:17] rootfs commented on #39202
@CristianPop also see #41041 and #40941. Are you going to create a pull request?

[2017-02-08 16:39] paralin commented on #17088
You've still not read and understood my suggestion, which means at this point you're probably skipping reading anything I'm posting at all. Remember that I'm the one that made this issue in the first place, and yes, I was in the exact same position with the exact same deployment model as you.

I suggested using a Nginx Ingress Controller from the official kubernetes ingress controller implementati

[2017-02-08 16:44] cdragga commented on #41041
@rootfs I should be able create a PR for this issue; the LUN rescan PR will probably get handled by someone else on my team.  Is the fix itself sufficient, or does it require tests?

[2017-02-08 16:56] rootfs commented on #41041
@cdragga thanks, the rescan fix doesn't have to unit test. The mount path fix needs also a unit test fix here
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/iscsi/iscsi_util_test.go#L46

[2017-02-08 16:57] corlettb opened #41141 "Kubelet failure to umount glusterfs mount points"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
glusterfs, umount
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

[2017-02-08 17:11] chrislovecnm commented on #41010
There are multiple tools for an install, and I agree the documentation needs some TLC.

https://github.com/kubernetes/kops/blob/master/docs/aws.md is one of your best options.  There are others out there as well.

[2017-02-08 17:11] dashpole commented on #41033
I just realized that Kubelet Garbage Collection is actually meant to be replaced by eviction according to [the eviction documentation](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/kubelet-eviction.md#deprecation-of-existing-features).  That would explain why the thresholds are the same.
@derekwaynecarr are we still planning to depreciate periodic Garbage Collec

[2017-02-08 17:26] adambom opened #41142 "GCE: Specify Image ID in StorageClass for dynamic volume provisioning"
**FEATURE REQUEST?**

I would like to be able to optionally specify an Image ID (for GCE) as part of the volume provisioning parameters for a `StorageClass`. Then any persistent volume claims referencing that storage class could dynamically provision disks based off of that image.

I've taken a stab at an initial implementation, which I will reference here. I may be missing a few things, but happy

[2017-02-08 17:27] kow3ns commented on #41130
@dhilipkumars
1. You can use parameterized helm charts to allow users to specify hard, soft, or no anti-affinity and to materialize the correct rule for them see [zk](https://github.com/kubernetes/charts/blob/master/incubator/zookeeper/templates/ss.yaml#L21-L53)
2. Are you claiming that we need to materialize affinity rules for users because it is too difficult or cumbersome? If not, what is probl

[2017-02-08 17:30] timothysc opened #41143 "[BUG] Audit all quorum reads"
**BUG:**

We found an issue that crop'd up on an upgrade from 1.3.x->1.4.Y where we see a strikingly large increase in iops on the etcd node 4-5x.  On large clusters that do not have sufficient iops this can cause etcd sync and timeout problems, which then manifest into other issues.

e.g. trigger false leader-election and cluster instability

**Kubernetes version** (use `kubectl version`):
1.4 &

[2017-02-08 17:31] mikedanese commented on #40753
15-30 seconds lines up with what the bug reporter describes if the container was running for 30 seconds before exiting...

Are logs accessible after the container is deleted? 15-30 seconds seems unreasonably aggressive GC frequency on a node without disk pressure.

[2017-02-08 17:35] dankohn commented on #27796
@noggin143 You've got to email your request to helpdesk@rt.linuxfoundation.org and they will help you out.

[2017-02-08 17:43] nikhiljindal commented on #33196
Great thanks @slintes both the known bad clients have now been fixed!
That was fast :)

[2017-02-08 17:48] robhaswell commented on #17088
OK, I think I understand your suggestion, but let me play that back to you:

* Create an nginx Ingress Controller so that we have something we can route to.
* Create a LoadBalancer service and include the Ingress Controller in its selector. OK great, now we have a single IP, all Ingress resources are served under this IP.
* Create an Ingress resource under some given namespace, and specify our app

[2017-02-08 18:04] dhilipkumars commented on #41130
@kow3ns @resouer Thanks for taking a look at the issue.
Imagine every time we open the refrigerator door we have to manually switch on the light inside it? Switching on the light is neither too difficult nor putting a switch there is cumbersome.  My argument is if something is too obvious the its worth making it automatic, if its going to save 30secs while writing a stateful yaml or a chart that c

[2017-02-08 18:25] madspaulin commented on #40908
@resouer Could you provide a bit more detail on "Ideally, containers in same pod should not rely on each other" ? If not, what is the purpose of creating tightly coupled containers and the entire concept of a Pod ? If they should not rely on each other, I could just schedule them individually (with the extra overhead of network latency and using shared storage, but that is a different discussion)

[2017-02-08 18:28] exarkun commented on #41140
Probably user error.  The `PUT` is accepted if I actually include the same value for `ClusterIP` instead of leaving it out.

[2017-02-08 18:28] #41140 closed

[2017-02-08 18:36] kargakis commented on #39666
I saw the storage error today in some test, a lot was going on during that time and it got lost.

[2017-02-08 18:50] abrarshivani commented on #41128
@nagavenkatab Can you please let me know which phase2 ignition container you are using? i.e value of attribute ```installer container (phase2.installer_container)``` in your config file

[2017-02-08 18:50] bowei commented on #38067
@cwsolee -- send a pull request enabling the architecture to the repository

[2017-02-08 18:57] zmerlynn commented on #36379
This test is continuing to fail way too often, especially on `kops-aws`. It's moving from "Flake" to "Just broken".

[2017-02-08 19:02] zmerlynn commented on #36379
Recent PR builder failures on AWS solely caused by this test:
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/36376/pull-kubernetes-e2e-kops-aws/11386/
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/41145/pull-kubernetes-e2e-kops-aws/11383/
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/41114/pull-kubernetes-e2e-kop

[2017-02-08 19:09] yujuhong opened #41150 "kubectl get pod <pod_name> should return the pod even if if it's terminated"
**What happened**:

Pod `foo` failed. I want to inspect the status of the pod, but getting the pod directly returns nothing.
[code]
Adding the `--show-all` (`-a`) option shows the pod.
[code]

**What you expected to happen**:

I understand by default `get pod` only shows non-terminated resources, but since I specified the pod name explicitly, I'd expect to get the pod regardless of its state.

[2017-02-08 19:31] saad-ali opened #41152 "Kops can't run alpha versions without KOPS_RUN_OBSOLETE_VERSION"
A bunch of PRs for the 1.5 branch are blocked because the `pull-kubernetes-e2e-kops-aws` suite keeps failing with `e2e.go:230: Something went wrong: starting e2e cluster: kops configuration failed: exit status 1`.

Looks like the issue is specific to the pull test suite for 1.5--the CI suite [ci-kubernetes-e2e-aws-release-1.5](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-ku

[2017-02-08 19:31] saad-ali commented on #41152
@kubernetes/test-infra-maintainers can you help with this please.

[2017-02-08 19:33] yujuhong commented on #36379
My PR also encountered these failures so I checked the logs yesterday. I'll just dump whatever I found here for the person who's going to debug further. The deployment test in question was verifying that the old replica set (RS) is deleted. In the tests I checked, the pod (replica) managed by the RS was deleted almost immediately, but the RS could not be deleted for a prolonged period of time (~5

[2017-02-08 19:35] ixdy commented on #41152
Doesn't look like a test-infra issue to me; the failure appears to be

[code]

[2017-02-08 19:36] ixdy commented on #41152
cc @zmerlynn

[2017-02-08 19:37] paralin commented on #17088
Ingress is designed to do http level routing of traffic while services do TCP level routing. For your use case I would use a subdomain to route to the dev environment for sure.

Usually people don't switch entire namespaces to do deployments, so kubernetes isn't designed towards that model as heavily. However, I can understand why you're doing it, and I definitely think you'll do fine with this ap

[2017-02-08 19:37] smarterclayton commented on #33196
We still can't change this - previous statements about backwards
compatibility holds.  Two examples that we know of means many more might be
broken that we don't.  I'm going to hold the line on compatibility here -
if there's a non-crazy boundary for a change, I'd support it.

On Wed, Feb 8, 2017 at 12:43 PM, Nikhil Jindal <notifications@github.com>
wrote:

[2017-02-08 19:39] zmerlynn commented on #41152
cc @justinsb

[2017-02-08 19:41] zmerlynn commented on #41152
This looks like it was broken by https://github.com/kubernetes/kops/pull/1790

[2017-02-08 19:41] smarterclayton commented on #41130
We give users the pod template as the lowest level primitive.  We don't
impose complex defaulting rules on the pod template because it imposes
higher level constraints - other tools that might want to use that
assumption now have to behave differently.  Anything that exposes a pod
template needs to behave consistently, and for that reason alone we're
unlikely to implement this as defaults on the s

[2017-02-08 19:41] Random-Liu commented on #41126
@TamalSaha kubelet does not register itself again unless you restart it.

IIUC, during master upgrade, we should:
* Preserve the etcd storage on master, so after master upgrade the previously registered nodes are still be in apiserver;
* Preserve the master ip, so that kubelet can still connect to the apiserver.

In that case, you don't necessarily need to restart your kubelet.

[2017-02-08 19:47] nikhiljindal commented on #33196
Agreed.

From @bgrant0607 :

How about if we detect that asynchronous deletion is happening because of orphanDependents and set the status to 202 only then?

[2017-02-08 19:51] bprashanth opened #41153 "Stricter checking/validation of statefulset pvcs"
Currently theren's no enforcement around statefulset volume templates, which means the burden is on the user to make sure there's no collision. A user can create:

Petset 1: petset  Claim: alpha-beta
Petset 2: beta-petset Claim: alpha

and end up with a collision. The controller should be smarter, maybe we need something like parent-ref?
@kubernetes/sig-apps-bugs @jingxu97

[2017-02-08 19:51] saad-ali commented on #41152
CC @justinsb

[2017-02-08 19:52] zmerlynn commented on #41152
I have a fix, but am having trouble authing to GitHub, of course.

[2017-02-08 19:54] jeremywadsack commented on #32929
@codablock We are not on 1.5 yet (likely this week or weekend).

Our situation was similar except that it was just two pods on two nodes. The detach never happened either because the OOM killed kubelet (mostly addressed in 1.4.0) or the detach took longer than the timeout for starting the new pod (I think this was addressed later). There were other issues addressed in the linked PRs.

Your case is

[2017-02-08 19:54] justinsb commented on #41152
Ah - I think we are not "sorting" a development version correctly..

[2017-02-08 19:56] zmerlynn commented on #41152
@justinsb: Yeah, I spent a couple minutes looking at the base PR, but it wasn't obvious. Plus it takes a couple hours for a kops PR to work all the way to `kops-aws`, so I'm inclined to duct-tape it for now.

[2017-02-08 20:11] somejfn opened #41154 "Kubelet should retry refreshing its ECR token when throttled by AWS API"
**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T04:57:25Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2+coreos.0", GitCommit:"3ed7d0f453a551724

[2017-02-08 21:16] zmerlynn commented on #41152
It looks like this is resolved. We'll figure out on the `kops` side what the longer resolution is, if there is one.

[2017-02-08 21:17] janetkuo commented on #35534
All the work was done, closing

[2017-02-08 21:17] #35534 closed

[2017-02-08 21:19] smarterclayton commented on #33196
If orphanDependencies: false is opt in and we don't think anyone is using
it yet i think that's much safer.  That's also something we can handle in
the generic code (returning a metav1.Status{Code: Accepted} is trivial).
I'd be ok with that.

On Wed, Feb 8, 2017 at 2:47 PM, Nikhil Jindal <notifications@github.com>
wrote:

[2017-02-08 21:23] smarterclayton commented on #41153
I'm actually wondering whether this might be valuable in some circumstances.

On Wed, Feb 8, 2017 at 2:51 PM, Prashanth B <notifications@github.com>
wrote:

[2017-02-08 21:24] smarterclayton commented on #40908
There have been a couple of abortive proposals that would cover pod signalling, but nothing concrete so far.  I do think that individual containers should be able to yank a plug and force a whole pod restart (would prefer that to be something in container, vs an API)

[2017-02-08 21:26] colemickens opened #41158 "hack/godep-save.sh consumes all memory, fails to actually save"
This is on HEAD with a couple commits trying to update a dependency.

When I use `hack/godep-save.sh`, the script slowly consumes all memory (32GB) and panics on OOM.

I can't run `godep save ./...` manually any longer, I believe due to the specially vendored repos.

I've tried with v75 and v79 of `godeps`.

I'm a bit stuck and any suggestions would be appreciated.

[2017-02-08 21:27] colemickens commented on #41158
Shamelessly and apologetically tagging @thockin for any possible suggestions.

[2017-02-08 21:28] argent-smith commented on #40789
@rootfs in my case, kubelet i rinning in the container. I suppose that's the reason. Already posted a Q in the Rancher forum.

[2017-02-08 21:30] wattsteve commented on #39657
@kerneltime if I'm understanding your question correctly, I would expect the user experience to be as follows:
- Kube dev can run "kubectl get pvc" and see all their claims. That same dev can request a snapshot on one of those claims, which will in turn create a snapshot on the back-end and a new corresponding pv and pvc for that snapshot. Thus, when the user runs "kubectl get pvc" again, the user

[2017-02-08 21:31] weaseal opened #41159 "HPA should allow definition of time period to average over for scaling operations"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no, feature request

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): hpa cpu average

---

**Is this a BUG REPORT or FEATURE REQUEST?** (

[2017-02-08 21:37] janetkuo commented on #36379
Because of garbage collector, deleting an RS is now async by default. We should check RS's deletionTimestamp before trying to delete it.

[2017-02-08 21:38] bprashanth commented on #41153
Yeah it does allow sharing, and we can assume the user has set the right access modes, but I was thinking the risk of wrong access mode x unintentional sharing is higher than other places where we tolerate such issues (eg: overlapping selectors)

[2017-02-08 21:39] colemickens commented on #41158
Reset, attempt #2 from scratch, I get this:
[code]

Even though the package exists... https://github.com/mattn/go-isatty

[2017-02-08 21:41] nikhiljindal commented on #33196
Great!

I am also planning to update the Delete() method in registry to return isDeleted boolean (similar to isCreated boolean returned by Update() that we use to return 201).
I can then return 202 if orphanDependents was false and registry returned isDeleted = false.
Does that sound good?
This is to still return 200 for resources that dont have cascading deletion even if user request contains Orp

[2017-02-08 21:45] colemickens commented on #41158
Same result, even when I purge `Godeps/` and `vendor/` ahead of time.

[2017-02-08 21:56] mml commented on #40110
@mikedanese can you confirm that your PR #38212 would have caused the same problem if `master` was running etcd v2?  I'm trying to rule out any interaction with the etcd v3 or our scripts related to it.

[2017-02-08 22:00] idcrook commented on #40789
@rootfs kubelet running inside a container.  kargo uses containers for everything in k8s cluster, I think:

[code]

Running `docker exec -it  <container> sh`, to look around, there is no `iscsiadm`. There are other local mounts of host filesystem, including `/var/lib/kubelet/` however.

On ubuntu nodes in my k8s cluster, `iscsiadm` lives at `/usr/bin/iscsiadm`... ?

[2017-02-08 22:07] mtaufen opened #41161 "Remove --require-kubeconfig and the default kubeconfig path in v1.10"
This will be the end of the deprecation period for --require-kubeconfig.

[2017-02-08 22:21] janetkuo commented on #36379
Filed #41163

[2017-02-08 22:47] yujuhong commented on #36379
/cc @caesarxuchao since it takes so long for the garbage collector to delete the RS.

[2017-02-08 23:04] rootfs commented on #40789
@argent-smith @idcrook I don't know how kubelet container image looks like in these setups. And I am not sure if binding host's iscsiadm, if exists, to kubelet container works.

For reference, openshift installs iscsi initiator package in [node container image](https://github.com/openshift/origin/blob/master/images/node/Dockerfile#L23).

[2017-02-08 23:04] kerneltime commented on #39657
@wattsteve There is an additional use case, Example: EBS allows taking snapshots that did not originate from kubernetes, should aws provider detect snapshots take via EBS APIs and expose them within kubernetes? This might be an overkill but might open up some use cases where providers can implement snapshots policies not managed by kubernetes.

[2017-02-08 23:15] yujuhong commented on #40908
Is restarting (i.e., recreating) each container in the pod individually sufficient for your case (as opposed to delete the entire pod)? If so, a hacky way to achieve this is to add a liveness probe to each of the containers in the pod and point these checks to the special health check container you have. If any of the connections is closed, the liveness checks will fail, causing all containers to

[2017-02-08 23:18] alex88 commented on #41070
Same here
[code]

[2017-02-08 23:32] zfy0701 commented on #34583
We also hit this problem because different use case.

We have master running in all us-west-2a us-west-2b us-west-2c
We use nodeSelector to create pod under a specific zone, say us-west-2b

we use a storage class with default zone (which is us-west-2 I assume)
and then it seems the volume is created at us-west-2a instead of us-west-2b

it seems when volume is created, it doesn't consider the node

[2017-02-08 23:37] snavien commented on #39701
Was that the only line you changed, because since then there has been updates to the image, pod name and there were no kubernetes_service_host settings available; The current version is giving me issues and just adding the iface is not sufficient

[2017-02-08 23:38] nikhiljindal commented on #33196
Sent https://github.com/kubernetes/kubernetes/pull/41165

[2017-02-09 00:02] mml commented on #40636
I am wiring this up now, but I'm not sure why we have `STORAGE_BACKEND` as a separate variable.  When would you want its value to be different than `TARGET_STORAGE`?

[2017-02-09 00:24] emmanuel commented on #38498
@yifan-gu I work with @dhawal55 and @SleepyBrett . Is there an issue on rkt related to this mount issue that we can track?

[2017-02-09 00:38] adityakali commented on #40936
IMO this is indeed a release blocker.

[2017-02-09 01:26] jayunit100 opened #41171 "scheduler_perf cant match nodes."
**What keywords did you search in Kubernetes issues before filing this one?**
scheduler_perf.
**Is this a BUG REPORT or FEATURE REQUEST?**
Bug
**Kubernetes version** (use `kubectl version`):
Master

Looks like perf test is broke. I'll dig into the details.

[code]

Leads to

[code]

Will add more details later or issue a PR if its something trivial.

[2017-02-09 01:27] jayunit100 commented on #37633
serialized on #41171 which seems to indicate these are broke right now.

[2017-02-09 01:42] westwin commented on #35941
@whitecolor , I'm actually using openshift-origin, with the oc command line, I can manullay resize the PV by oc edit pv pv_id

[2017-02-09 01:51] jerryjung commented on #41070
@resouer
pod.yaml
<pre>
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: jupyter-notebook
spec:
  replicas: 1
  selector:
    matchLabels:
      component: jupyter-notebook
  template:
    metadata:
      labels:
        component: jupyter-notebook
    spec:
      containers:
        - name: jupyter
          image: jerryjung/jupyter-notebook:latest
          command: ["start-note

[2017-02-09 02:28] resouer commented on #40908
@madspaulin By "replying on" I mean "sequence between" each other. Otherwise, there're two tricks you can consider: initContainer (start and finish before all other containers), and liveness probe (check if pre-conditions are ready). But we are not sure what's your case actually is, posting your pod yaml would help a lot.

[2017-02-09 02:37] ligc commented on #41127
I am running into the same issue, kubefed init hang and never returns.

Here is the command and output, my Kubernete cluster is run using kubernetes binaries and systemd configuration files.

[code]

[2017-02-09 02:42] birdstar commented on #35979
If I delete manually in following order, it works.
[code]

[2017-02-09 02:45] ligc commented on #41127
Might be related to https://github.com/kubernetes/kubernetes/issues/39271

[2017-02-09 03:38] caesarxuchao commented on #36379
That's strange. I'll take a look later.

In the mean time, the deployment controller should delete the RS with DeleteOptions.OrphanDependents = false, then the RS will go away immediately, and the garbage collector will delete remaining RS's pods in the background.

[2017-02-09 03:55] vishh commented on #40753
IIUC, Kubelet will remove containers of pods have been evicted or deleted from the apiserver.
By default, it is configured to not GC container at all based on [this defaulting configuration](https://github.com/kubernetes/kubernetes/blob/095f4ef6243b62ead42a26b8ad47ed9ecbdc174c/pkg/apis/componentconfig/v1alpha1/defaults.go#L283).

What version of kubelet are you running?

@dashpole we need to updat

[2017-02-09 04:16] ligc commented on #41127
Built binaries from Kubernetes master branch, could move on with specifying --api-server-service-type=NodePort flag with kubefed.

[2017-02-09 04:28] smarterclayton commented on #41153
Any reports of this happening yet?  I could see setting parent ref, but we still aren't clear on whether deleting the SS should orphan the pvc the same way.  I want to orphan pvc differently than pods in many cases

[2017-02-09 05:41] nagavenkatab commented on #41128
@abrarshivani I am using "docker.io/colemickens/k8s-ignition:latest"

[2017-02-09 06:21] sarat-k commented on #40991
PR addressing this - https://github.com/kubernetes/kubernetes/pull/41119

[2017-02-09 06:46] iam404 commented on #40581
Looks like reason for this was some of the nodes was going 100% CPU spikes. With moving to a more core and compute optimized instances this issue is not reproducible now.

But whenever a node goes to 100% CPU usages it never return back to normal. And since k8s tries to replicate pods on remaining healthy node, some of the healthy node also goes to "unknown" state and eventually complete cluster g

[2017-02-09 07:02] resouer commented on #41070
I can see this is a master so by default it is non-schedulable: `Taints:			node.alpha.kubernetes.io/role=master:NoSchedule`

If you want to deploy containers on this machine, please remove that taint:
[code]

[2017-02-09 07:02] resouer commented on #41070
@alex88  please check if you are facing the same problem.

[2017-02-09 07:06] mikedanese commented on #40110
@mml yes, I don't think this problem is etcd related, as far as i can tell right now.

[2017-02-09 07:09] ichekrygin commented on #21604
Hi, we see a similar issue with
- `v1.4.8`
- `image: gcr.io/google_containers/kubedns-amd64:1.8`
- kube-dns pod count: 8
Running from inside the pod the dns lookup seems to be all over the place
[code]

[2017-02-09 07:27] wojtek-t commented on #40636
This probably can be renamed - those were added somewhat independently but should basically be the same variable.

[2017-02-09 07:49] iam404 commented on #39031
Facing the same issue .
Using hyperkube `quay.io/coreos/hyperkube:v1.5.2_coreos.2`

[2017-02-09 08:13] unbornchikken commented on #41010
Ok, that worked, thanks. Do you wanna add documentation label to this issue, or should I close it for good?

[2017-02-09 08:35] raveeram opened #41185 "Multi-Master Clusters: Kubelet doesn't close connections immediately if a Master crashes"
**Kubernetes version**: v1.5.1

Environment:
- **Cloud provider**: Azure
- **OS**: "Ubuntu 16.04 LTS

We're trying to do some fail-over testing of masters.
When a master is brought down via a hard stop(eg. VM power off), existing Agent-Kubelet connections to that master hang until they timeout instead of disconnecting. As a result, the Kubelet is not able to post the node's heartbeat and the nodes

[2017-02-09 08:41] kargakis commented on #36379
These RSs are not supposed to have pods, hence they are eligible to be cleaned up by the deployment controller safely.

[2017-02-09 08:55] argent-smith commented on #40789
@rootfs thanks. Right now I'm waiting on Rancher team's reaction. In my case, it's probably their bug.

[2017-02-09 08:56] thockin commented on #41158
I am OOO until Friday, but I don't have anything non-obvious to offer.
What is OOMing?  godep itself?

On Wed, Feb 8, 2017 at 1:45 PM, Cole Mickens <notifications@github.com>
wrote:

[2017-02-09 08:58] caesarxuchao commented on #36379
Even so, using DeleteOptions.OrphanDependents = false is still correct, because that will lead to the immediate deletion of the Deployment. Otherwise when the api server receives the deletion request from the deployment controller, it will merely add a orphanFinilizer for the Deployment, and wait for GC to determine when it's safe to really delete the Deployment.

[2017-02-09 09:01] kargakis commented on #36379
This test is ensuring that revisionHistoryLimit works for Deployments iow. that the Deployment controller is cleaning up old ReplicaSets for a Deployment. There is no Deployment deletion involved.

[2017-02-09 09:08] jerryjung commented on #41070
@resouer As you informed me, the container was normally create. What is the cause of this?

[2017-02-09 09:15] resouer commented on #40753
@vishh Aha, I didn't notice the GC doc is outdated.

But if it's latest version of kubelet, `MaxPerPodContainer` (default to 1) should trigger GC every minute, right. That can't explain why both two exited containers are removed in this case ...

[2017-02-09 09:18] resouer commented on #41070
The k8s 1.5 assume it's unsafe to deploy user containers to master. So master will be tainted as NoSchedule by default.

I will close this issue.

[2017-02-09 09:18] #41070 closed

[2017-02-09 09:31] resouer commented on #40990
I can't reproduce this on my local env. @workhardcc Are you sure you are checking the right process? How you got the PID of container?

[2017-02-09 09:33] kargakis opened #41187 "Revisit log verbosity in the Deployment controller"
Will happen in the 1.6 timeframe.

@sttts

[2017-02-09 10:02] kyjsqd222 commented on #31845
have you solved the problem yet?

[2017-02-09 10:09] bqluan opened #41188 "Can not see output of provision script in real-time when building cluster with vagrant and virtualbox"
**Kubernetes version**:
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T04:57:25Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTree

[2017-02-09 10:53] AdoHe commented on #41150
@kubernetes/sig-cli-misc

[2017-02-09 11:20] #31845 closed

[2017-02-09 12:03] CristianPop commented on #39202
I've read the issues you've linked and they describe the same problems I've faced and addressed in the fix.

I will create a pull request. The only reason that kept me from doing it already is that I wanted to follow the contributors' guide.

[2017-02-09 12:39] jsafrane commented on #41096
I can't reproduce it with today's Kubernetes master branch. My iSCSI volume is always unmounted and detached by kubelet with --keep-terminated-pod-volumes=false

[2017-02-09 12:52] kargakis commented on #40870
@kubernetes/sig-network-misc

[2017-02-09 13:34] raffaelespazzoli opened #41193 "Ability to Unmount Volumes when a Container is Ready"
This is a new feature request.

Many applications read the credentials they need at start-up and then keep the credential in memory.
Using secret or vault workflows such as the one described [here](https://github.com/Boostport/kubernetes-vault) credentials are passed to the container as files in a mounted filesystem.
Anyone who can rsh to that container can see the credentials also I suspect anyon

[2017-02-09 14:01] antoineco opened #41194 "Job spec: restartPolicy defaults to invalid value"
**Is this a request for help?**: No.

**What keywords did you search in Kubernetes issues before filing this one?**: "supported values"

ref #35131

---

**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

**Kubernetes version**: 1.5.2

**Environment**: not relevant for that issue

**What happened**:
* I created a Job **without** a `restartPolicy` (`spec.template.spec.restartPolicy`)
* The j

[2017-02-09 14:04] gnufied commented on #40577
cc @kubernetes/sig-network-bugs (looks like only tim is there in that SIG)

[2017-02-09 14:11] keontang commented on #27436
Wol, so many people care about ha master, i will make the doc in my spare time.

[2017-02-09 14:24] alex88 commented on #41070
@resouer Ok so the problem was that I had PVC in an aws az without a running node on it, the only one running on that was the master but obviously it wasn't schedulable.
Thank you

[2017-02-09 14:30] timothysc commented on #41143
@gmarek Do you have a link to the endpoints controller re-write?

[2017-02-09 14:32] wojtek-t commented on #41143
@timothysc - I meant this PR: https://github.com/kubernetes/kubernetes/pull/41114
It may not be significant change, but potentially may affect something.

[2017-02-09 14:35] sanderploegsma commented on #40512
Right, my behaviour seems to be slightly different. I just caught another of these errors, and while @jeffkpayne mentions a wrong expiry date, my config file doesn't have any config at all for the cluster. For reference, here is the `~/.kube/config` file at the exact time the error occurs:
[code]

[2017-02-09 14:45] rootfs commented on #41096
works for me now with latest master code. Thanks @jsafrane

[2017-02-09 14:45] #41096 closed

[2017-02-09 14:49] MartinPyka commented on #39334
+1 for adding the fix for #38894 into the next release

[2017-02-09 15:36] rdaoc commented on #40180
I had the same error with GKE Containers (1.5.2) using the GCI image.  They work on a container_vm 1.5.2 cluster as they should.

[2017-02-09 15:51] smarterclayton opened #41198 "GCE dynamic provisioning did not retry when GCE API returned 502"
Encountered against 1.5.2 last night:

https://ci.openshift.redhat.com/jenkins/job/zz_origin_gce_image/106/testReport/junit/(root)/Extended/_k8s_io__StatefulSet__k8s_io__Basic_StatefulSet_functionality_should_provide_basic_identity/

[code]

It does not look like the provisioner retried in 30s, but the run is longer than that and did not wait.

[2017-02-09 15:52] timothysc commented on #41143
@wojtek-t once that lands I can run a quick experiment, it's super easy to detect in etcd-debug-logs.

[2017-02-09 16:01] mdshuai opened #41199 "HPA should rollback replicas if new scaled pods useless"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
This is not a bug, just some case HPA need enhance

**What happened**:
In one case, pods cpu usage is increased by a very shot traffic request and keep long time, HPA will scale some pods to balance the traffic, but actually new created pods can't take any works and useless. But when HPA keep the useless pods, In my opinion, we need rollba

[2017-02-09 16:04] mdshuai commented on #41199
@derekwaynecarr  @DirectXMan12

[2017-02-09 17:05] andrewsykim commented on #37962
@justinsb no worries! Thanks for responding.

Based off a quick look at the aws credential code (https://github.com/kubernetes/kubernetes/blob/master/pkg/credentialprovider/aws/aws_credentials.go), it seems like its decoupled from the main aws code we use in the controller manager. That might explain why there's no retry logic. Maybe a good place to start could be importing the main AWS code into

[2017-02-09 17:05] kow3ns commented on #41130
@dhilipkumars
1. The number of nodes is not static. Heuristically determining behavior based on cluster size as a default is over-complicated and error prone.
2. Defaulting to nothing seems safer and less surprising than materializing node anti-affinity unless the user specifies something else (e.g. rack, power-domain).
3. I don't see a clean way to specify that you don't want anti-affinity (i.e.

[2017-02-09 17:39] jingxu97 opened #41203 "Add bootTime in Node Status request"
This PR is to justify adding the node bootTime information in its status. The following is to describe the use case.

When node is restarted, the attached volumes will be detached automatically for some volume types such aws ebs and gce pd. The volume controller running on master does not know this information and will continue to regard this volume is still attached, so that re-attach will not be

[2017-02-09 17:40] jingxu97 commented on #41203
cc @Random-Liu cc @dchen1107

[2017-02-09 17:41] karol-brejna-i opened #41204 "fluentd-elasticsearch addon doesn't enforce proper mapping"
I tried to search the issues for "elasticsearch mapping", "elasticsearch mappings", "elasticsearch template' but found nothing similar.

So I fill this BUG REPORT.

**Kubernetes version**:
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T04:57:25Z", GoVersion:"go1.7.4", Compiler

[2017-02-09 17:49] madhusudancs commented on #41127
cc @kubernetes/sig-federation-bugs

[2017-02-09 17:49] madhusudancs commented on #41127
@ligc cool! The fix (via `--api-server-service-type` flag that you mentioned) will be in v1.6

[2017-02-09 18:04] jingxu97 commented on #37854
close this PR. Please reopen it if anyone hit problem again.

[2017-02-09 18:04] #37854 closed

[2017-02-09 18:14] jingxu97 commented on #34583
Just want to check whether PR  #38505 is good enough to solve the issue raised here?

[2017-02-09 18:15] jeremywadsack commented on #40415
I saw this as well upgrading from 1.4.7 to 1.5.2. This happened across most of our deployments, but not all. All of the deployments have attached secrets and/or attached persisted volumes, but some of each worked and some of each doubled.

Two such were redis instances (these are the simplest of our manifests). The only difference between the two manifests is some label values, the name of the pd,

[2017-02-09 18:19] jeffkpayne commented on #40512
Right, ok, I've seen more of these too, and I'm thinking that there must be some race condition between the context switch and the next `kubectl` command.  Although, I would think that the context switch would be a synchronous operation, however, I've seen issues in other area of GCP which use eventual consistency liberally...

[2017-02-09 18:24] jasonswat commented on #39872
I got that same error, but was able to use "replace" instead of "apply" which did what I was trying to do:

[code]

I updated snapshot-scheduledjob.yml with a new schedule of 1,8,16

[code]

[2017-02-09 18:26] r4j4h opened #41206 "Jessie apt-get package incomplete"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): jessie, kubectl, apt-get, package

---

**Is this a BUG REPORT or FEATURE REQUEST?**

[2017-02-09 18:40] colemickens commented on #41158
(Sorry to disturb vacation, thanks for taking a look!)

Turns out it's because my homedir is symlinked: https://github.com/tools/godep/issues/434

[2017-02-09 18:40] #41158 closed

[2017-02-09 18:42] pskrzyns commented on #41143
cc @listomin @ss7pro

[2017-02-09 18:48] Random-Liu commented on #41203
Is this the only possibility that volumes will be detached unexpectedly? If not, periodically sync with cloud provider may be a more general solution.

The boot time will also be useful for debugging and unexpected node reboot (e.g. kernel panic) handling.

[2017-02-09 18:58] jingxu97 commented on #41203
On Thu, Feb 9, 2017 at 10:48 AM, Lantao Liu <notifications@github.com>
wrote:

I think so. Unless user detach manually, detach should not happen
unexpectedly.

--
- Jing

[2017-02-09 19:06] marun opened #41209 "[Federation][kubefed] Should bind flags directly to a configuration type"
``kubefed`` currently defines flags and then assigns the values from the flags to individual variables.  This makes maintenance and testing more difficult than necessary.

cc: @kubernetes/sig-federation-misc

[2017-02-09 19:06] marun commented on #41209
I'm working on this, and will be taking advantage of the change to refactor the tests to ease future maintenance.

[2017-02-09 19:09] xiang90 commented on #41143
Just a reminder: if you run etcd3.1+, then quorum read will not hit disk at all: Fast linearized reads (https://coreos.com/blog/etcd-3-1-announcement.html)

[2017-02-09 19:17] madhusudancs commented on #41209
I think @irfanurrehman is also working on this. Please coordinate.

[2017-02-09 19:18] madhusudancs commented on #41209
cc @kubernetes/sig-federation-bugs

[2017-02-09 19:23] troykinsella commented on #23378
I'm still getting this issue with:
[code]
Should it have been fixed for that release?

[2017-02-09 19:29] marun commented on #41209
Why is he working on something without filing an issue first?  I'm responding to your suggestion to implement better testing and flag binding was the obvious place to start.

[2017-02-09 19:31] davidopp commented on #25320
ref/ #41172 #39469 #39914 #40355 #41014 #41068 #41073 #41133

[2017-02-09 19:40] alexandroscgb commented on #40969
hi. I'm stuck in the part where they create the statefulset, with this following error:

Temporarily unable to list nodes (will retry)

This shows up after kubeadm init on the master. Any ideas?

[2017-02-09 19:46] yujuhong commented on #36379
The test was trying to delete the old replicaset directly (without deleting the deployment). I commented on @janetkuo's PR https://github.com/kubernetes/kubernetes/pull/41163#issuecomment-278526438 that I think the excessive deletion requests from the deployment controller may have caused conflicts with garbage collector's PUT request. This delays the deletion until the test timed out when the dep

[2017-02-09 19:50] yujuhong commented on #36379
For example, after retrying 5 times internally, the gabage collector [should log this error message](https://github.com/kubernetes/kubernetes/blob/v1.6.0-alpha.1/pkg/controller/garbagecollector/garbagecollector.go#L341)

[2017-02-09 20:00] timothysc commented on #41143
@xiang90 v3 mode only though... right?

[2017-02-09 20:01] timothysc commented on #41143
I'm updating master right now btw.. @wojtek-t I'm going to need a container push por-favor.

[2017-02-09 20:03] jingxu97 commented on #39657
@Jan-M thank you for sharing your use case. I am wondering for the first one "swap" EBS volume, do you think we can help to automate the process? For example, in pod definition, give a snapshot volume name and k8s will automatically generate PV for it (restore snapshot to a volume)?

[2017-02-09 20:09] tonglil commented on #40459
Is anyone running on OS X? I wonder if the warning means I can't put up a local cluster on OS X:
[code]

[2017-02-09 20:09] kow3ns commented on #5017
FWIW we have ZooKeeper as a [helm chart in incubator](https://github.com/kubernetes/charts/tree/master/incubator/zookeeper). I'm working on a Kafka chart presently, but it will take some time.

[2017-02-09 20:09] jingxu97 commented on #39657
@kerneltime I am thinking it is possible that snapshots are created by admins (not through k8s). For k8s to manage them, we can create snapshot objects for them (similar to creating PV for a physical disk). Suppose PVC can specify a snapshot object, a PV could be automatically created from this snapshot and bound to this PVC.

[2017-02-09 20:25] wstrange commented on #10439
A good survey of other secret solutions:

https://medium.com/on-docker/secrets-and-lie-abilities-the-state-of-modern-secret-management-2017-c82ec9136a3d#.k3yxv32o9

[2017-02-09 20:28] smarterclayton commented on #41130
@dhilipkumars the easiest is when I'm running stateful processors that are worker queues for another stage in a pipeline.  Imagine a web service behind a load balancer that receives incoming log events and then sorts and indexes those locally before sending them on to a database.  That could easily be a stateful set if the worker needed persistent storage (needed to process large chunks of logs at

[2017-02-09 20:43] MikeSpreitzer commented on #27398
Is the host kublet part of the "outside world"?  In the case of a multi-tenant cluster, at least, I would argue that the host kubelet is a private detail of the cluster implementation, not something exposed to tenants of the cluster.  So it would be legitimate for the host kubelet to see details that are not exposed to the outside world.

If a pod's main IP address is used for probing (i.e., healt

[2017-02-09 20:52] mml commented on #40636
OK.  In my test code, I expose two flags `--etcd-upgrade-version` sets `TARGET_VERSION` and `--etcd-upgrade-storage` drives the other two.  I'll look into removing one of the variables after the tests are running.

[2017-02-09 21:09] stevekuznetsov commented on #40973
This is occurring with pretty high incidence in our CI -- is someone from @kubernetes/sig-node-bugs assigned to triage this?

[2017-02-09 21:10] ronaldpetty commented on #36745
I see the same behavior on 1.5.2 (node is on same box as api-server, all insecure mode.)

[code]

[2017-02-09 21:12] liggitt commented on #36745
correct, `--require-kubeconfig` is still needed in 1.5.x

[2017-02-09 21:20] kargakis commented on #36379
For posterity, the test is not trying to delete anything, it's merely trying to observe that the deployment controller deleted the old replica set for a deployment.

[2017-02-09 21:48] madhusudancs commented on #41209
This is an unreasonable expectation. People can't be expected to file issues for 10 line code refactors/code health changes. Whether this particular change is exactly 10 lines is a topic for bike shedding, but the argument still holds. Expecting people to file issues for such things demotivates most people from doing any code health improvements and thus results in bad code overall. We get a good

[2017-02-09 21:57] Bekt commented on #13385
We experience this often. All nodes report healthy, but a pod gets stuck in restart loop (for whatever reason). However, if I delete the pod, it is recreated just fine (managed by RC or Deployment).

Is there any way to kill a pod after some threshold of restart?

[2017-02-09 22:04] ronaldpetty commented on #36745
Thanks for clarifying, I confirmed it worked with `--require-kubeconfig`.

[2017-02-09 22:08] wongma7 commented on #26247
@ncdc I see you've got custom resync periods in https://github.com/kubernetes/kubernetes/pull/40759 and are working on moving a lot of controllers over to shared informers, is the PV controller also one you plan to move?

[2017-02-09 22:08] Random-Liu commented on #41203
/cc @kubernetes/api-approvers

[2017-02-09 22:12] ncdc commented on #26247
@wongma7 yes, I am planning on moving all of them

[2017-02-09 22:13] ncdc commented on #26247
I'm tracking the overall list here https://trello.com/c/kpiFmic9/121-use-generated-shared-informers-listers-everywhere-possible

[2017-02-09 22:14] ncdc commented on #26247
If you have bandwidth, feel free to work on some of them. Just let me know so we don't both do the same thing!

[2017-02-09 22:22] wongma7 commented on #26247
@ncdc okay, I'm going to start working on converting the PV controller. (we have a trello card too https://trello.com/c/K4pGlGPV/391-persistent-volume-controller-should-use-shared-informer ;) ).

[2017-02-09 22:23] marun commented on #41209
@madhusudancs Your response suggests that you're taking my comment to have far more gravity than I intended.  I didn't realize that advocating for publicizing intent would be controversial.  I agree that it shouldn't be required, and I'm sorry if I gave you that impression.

In development communities that I've been a part of, I have found that publicizing intent before starting implementation of

[2017-02-09 22:24] ncdc commented on #26247
@wongma7 you'll need to base it off of #40759

[2017-02-09 22:25] Jan-M commented on #39657
Imho the swap itself is ugly anyways. It is already supported as Kubernetes honors a volume id change in the PV (or a PV change in the PVC, and also the scheduler honors failure domain correctly) once a pet/pod gets terminated and recreated. I feel that this is more AWS related to fight some limitation there (I see little need for this if your volume is in fact only logical in the underlying provi

[2017-02-09 22:27] #40499 closed

[2017-02-09 22:27] #26406 closed

[2017-02-09 22:54] vladlosev commented on #36072
I am still seeing this on v1.5.2.

[2017-02-09 22:57] jayunit100 commented on #41171
@timothysc i think

[code]

is supposed to be

[code]

?  Not sure but i think the source of this bug is https://github.com/kubernetes/kubernetes/pull/40176/files#diff-3126019cd381f25186f4fa8c8da06ec6R85

Possibly just a typo might have been introduced in that patch?  If not maybe its just an issue with the way we need to update the labelling json or something.  I can take another look in the morn

[2017-02-09 23:05] saad-ali commented on #41203
I would prefer that we leave the storage provider check in place and do other things (like reduce quota rate, make AWS disk naming more robust, etc) and then reduce the rate of the check. Then this logic can be added on top of that, and trigger whenever we know a reboot has happened.

CC @kubernetes/sig-node-api-reviews
CC @kubernetes/sig-storage-bugs

[2017-02-09 23:57] yujuhong commented on #36482
#40330 changes the daemon controller to recreate pods if they've failed. This should ensure that the daemonset recovers from the transient error.

We can still enhance kubelet to prevent the race condition from happening, but I think this is not urgent. Removing the milestone.

[2017-02-10 00:33] krousey opened #41224 "RBAC: Kubelet can't recreate master node after update"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kubelet RBAC

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: GCE
- **Install tools**: make quick-release && go

[2017-02-10 00:34] krousey commented on #41224
cc @msau42 since you were running into this.

[2017-02-10 00:37] krousey commented on #41224
cc @mikedanese

[2017-02-10 00:40] yujuhong commented on #36264
The cluster e2e has just become mandatory for every PR: https://github.com/kubernetes/test-infra/pull/1861

[2017-02-10 00:44] #33061 closed

[2017-02-10 00:44] #40818 closed

[2017-02-10 00:48] madhusudancs commented on #41209
@marun and I have taken this conversation offline. We will post an update.

[2017-02-10 00:48] yujuhong commented on #38164
We now run CRI + docker 1.10 in node e2e.

[2017-02-10 00:48] #38164 closed

[2017-02-10 00:55] kenkouot commented on #26309
@dlouzan Thanks for the excellent investigation here! We're running into this issue to running the latest stable openresty 1.11.2.2 which builds with nginx core 1.11.2. We're on k8s 1.4.

I'd also like to clarify that, at least according to this article (https://www.nginx.com/blog/dns-service-discovery-nginx-plus/), the `resolver` configuration for nginx is only available in nginx 1.11.3+. I'm cur

[2017-02-10 00:59] freehan commented on #31307
@squeed offered to help writing a CNI port-forwarding plugin.

[2017-02-10 01:01] freehan commented on #31307
Probably easier to reuse the iptables logic in https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/hostport/hostport_manager.go

[2017-02-10 01:06] rmmh commented on #36264
Do you have another PR that has broken just CRI?

Adding additional required PR jobs is quite expensive in terms of test latency and overall PR merge velocity. If a new suite won't catch failures more than 1% of the time, it's *probably* not worth doing it in a presubmit job.

[2017-02-10 01:09] freehan commented on #35457
Merged https://github.com/kubernetes/kubernetes/pull/41223

[2017-02-10 01:09] #35457 closed

[2017-02-10 01:11] freehan commented on #35531
merged: https://github.com/kubernetes/kubernetes/pull/39903

Reopen or open another issue if more information needed

[2017-02-10 01:11] #35531 closed

[2017-02-10 01:21] yujuhong opened #41225 "Checking and stabilizing CRI builds"
We have completed for CRI blockers for the rollout. According to the timeline in [rollout plan](https://docs.google.com/document/d/17QowuJd9BX3puEa47tYtN6yjACz851XCv4rs9RLg1Sc), we will switch the default to CRI implementation next week (2/14).  Before that, we should verify that CRI builds are passing at a rate that is equivalent to its counterparts (gci, non-cri).

Current CRI (cluster e2e) buil

[2017-02-10 01:28] yujuhong commented on #36264
@rmmh yes we have encountered those problems before. I think it's a necessary step since we are trying to roll out CRI as default in the 1.6 release, and we'd like to prevent any regression during the crunch time. It's likely that we'll remove these once the rollout is completed.
(By the way, these tests run every PR, but are not yet "required").

[2017-02-10 01:31] rmmh commented on #36264
OK. We might consider removing one of the GCI jobs to switch over to CRI as the default.

[2017-02-10 01:41] chrislovecnm commented on #41010
It is in the wrong repo for docs issue.  If you want to add an issue to the https://github.com/kubernetes/kubernetes.github.io that would be awesome!  Otherwise please close

[2017-02-10 01:42] dchen1107 commented on #41203
I think Introducing bootTime to Node.Status is useful field, and we talked about adding it a while back.

But I am not sure adding UpdateAfterBoot flag to Node.Status API since it only represent the volume manager internal state here. The volume manager can do its own checkpoint and state machine based on bootTime.

I also agreed with @saad-ali above. Introducing the bootTime to your logic should

[2017-02-10 01:53] timothysc opened #41228 "[RFE] Update PodSpec on eviction * 2 of initial request."
Update PodSpec on eviction * 2 of initial request.

**Kubernetes version** (use `kubectl version`):
master

**Environment**:
*

**What happened**:
- People are terrible at specifying their resource requests, and can bounce too often

**What you expected to happen**:
- Request * 2 or some EXPR evaluation on bounce.

**How to reproduce it** (as minimally and precisely as possible):
Submit a small re

[2017-02-10 02:04] workhardcc commented on #40990
Yeah, I also doubt about my way.
1.`kubectl describe pod c-a-k8stest-gz01-4016391935-qcxc9`, get "Container ID"
2.login to node：
[code]
7614 is the right pid？

[2017-02-10 02:06] ligc commented on #41127
@madhusudancs Thanks. Several other issues I workarounded through updating the yaml files of federation-api-server and federation-api-server manually:

1. etcd pvc for federation-api-server, I do not have dynamic pvc mechanism setup, so I manually created the pvc fellowship-apiserver-etcd-claim

2. The "image" version in federation-api-server.yaml and federation-controller-manager.yaml, the image

[2017-02-10 02:20] shashidharatd commented on #41127
CoreDNS cannot be used with kubefed yet. To use CoreDNS dns provider you need to provide a config. one [PR](https://github.com/kubernetes/kubernetes/pull/40528) is yet to be merged.
As soon as it is merged, we can provide the config file to kubefed to initialize dns-provider.
BTW, here is the format of the dns-provider config for CoreDNS
[code]
assuming CoreDNS is deployed with etcd as backend in

[2017-02-10 02:22] RobinLe commented on #37922
use shadowsocks or modify hosts access google in china.

my solution:
open the below link
https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/repodata/primary.xml

and find the package location and download it.
example kubelet:
https://packages.cloud.google.com/yum/pool/8a299eb1db946b2bdf01c5d5c58ef959e7a9d9a0dd706e570028ebb14d48c42e-kubelet-1.5.1-0.x86_64.rpm

Install all packages m

[2017-02-10 02:35] resouer commented on #40990
No, it's the process id of containerd. Use:

[code]

[2017-02-10 02:35] #40990 closed

[2017-02-10 03:24] resouer commented on #40973
@hongchaodeng When generating ENVs for container, there is a known race that kubelet may generate ENV before service is started.

See this: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go#L412-L416

May be we should make `client-go` retry for more times?

[2017-02-10 03:25] bruceauyeung commented on #41127
hi @ligc @madhusudancs ,  i encountered a problem about pv. would you please help me out?

i have alreay created a pv manually for :

NAME       CAPACITY   ACCESSMODES   RECLAIMPOLICY   STATUS      CLAIM     REASON    AGE
etcddata   1Gi        RWO           Recycle         Available                       16h

my pv.yaml:

apiVersion: v1
kind: PersistentVolume
metadata:
  name: etcddata
  \# namesp

[2017-02-10 03:29] anshumanbh commented on #25908
@erictune I have a use case which I think falls in this bucket and I am hoping you could guide me in the right direction since there doesn't seem to be any official recommended way to solve this problem.

I am using the client-go library to code everything below:

So, I have a job that basically runs a tool in a one container pod. As soon as the tool finishes running, it is supposed to produce a r

[2017-02-10 03:39] ligc commented on #41127
@bruceauyeung  if you do not have dynamic pvc mechanism like glusterFS, you will need to create the pvc manually, and make sure the pvc is in bound status before running kubefed.

[2017-02-10 03:39] justlaputa commented on #10421
found the same issue:

[2017-02-10 03:42] bruceauyeung commented on #41127
@ligc if i create pvc manually( needs namespace `federation-system` being created first), `kubefed init` will complain:

[2017-02-10 03:55] ligc commented on #41127
@bruceauyeung  right, it is kind of chicken and egg situation. What I did was to run the following commands to save the yaml files, customize them and create the service,deployments manually. There are still some issues that prevent kubefed from being run successfully. As I mentioned in the earlier comment.

[code]

[2017-02-10 03:59] shashidharatd commented on #41127
@bruceauyeung, @ligc, you don't have to create etcd pvc beforehand. it would be created during kubefed init. why is the assumption that etcd pvc need to be created before kubefed init?

[2017-02-10 04:05] shashidharatd commented on #41127
if your cloud provider does not provide dynamic pv provisioning, can disable etcd persistence using `--etcd-persistent-storage=false` flag for now.
We need to consider the scenarios where dynamic provisioning of pv in not provided but can create pv statically. @madhusudancs request your thoughts on this

[2017-02-10 04:18] ligc commented on #41127
Without the etcd persistent storage, I think it means that the federation-apiserver could not be migrated to the other worker nodes.  Is it possible to use the etcd in host Kubernetes cluster? which usually has high availability configured.  Creating the PV beforehand does not seem to be a problem for me, but we may consider use storageclass or something else to make sure the pv prepared for feder

[2017-02-10 04:44] liggitt commented on #41224
c.f. https://github.com/kubernetes/kubernetes/issues/17731

[2017-02-10 04:52] liggitt commented on #40021
Yes, similar to https://github.com/kubernetes/kubernetes/pull/40760/files#diff-6e3b476b9225d1213dc6ad13e453fc16R1138

What gives the NPD API credentials in your deployment? I would expect that process to also bind those credentials to the npd role

[2017-02-10 05:15] liggitt commented on #38997
Much has been done since 1.4.

1. There are [default clusterroles and clusterrolebindings defined](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/) which are loaded at server start (you can also load them yourself as a superuser, though you'll need to go back to the [v1alpha1](https://github.com/kubernetes/kubernetes/tree/15466fcca9c6c

[2017-02-10 05:31] k82cn opened #41235 "Add Binder to HTTPExtender of scheduler"
Currently, the extender allows an external process to filter and prioritize nodes when scheduling a pod.  But the process may also need to do preparation before binding Pod to host; for example, in kube-mesos, the k8sm-scheduler will ask Mesos to start kubelet before binding the Pod to host.

/cc @kubernetes/sig-scheduling-misc

[2017-02-10 05:46] liggitt commented on #39256
kops is green again, closing this

[2017-02-10 05:46] #39256 closed

[2017-02-10 05:49] liggitt commented on #38997
at HEAD, kube-up.sh and kubeadm start up with RBAC enabled

https://github.com/kubernetes/kubernetes/issues/40021 tracks remaining roles that need defining

kops has issues to track RBAC enablement:
https://github.com/kubernetes/kops/issues/1231
https://github.com/kubernetes/kops/issues/1130 (which might look familiar)

[2017-02-10 05:49] #38997 closed

[2017-02-10 06:04] amoghgarg1990 opened #41237 "Cannot create services when using AWS Application Load Balancer for ETCD"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): etcd, load balancer, invalid json, failed to allocate serviceip

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Kubernetes version** (use `kubectl version`): v1.4.7 (Bug occurs in v1.4.8 and v1.5.2 as well)

**Environment**:
- **

[2017-02-10 06:43] liggitt commented on #38963
PVs are cluster-scoped objects. They do not exist in a namespace. To get permission to use the PV API with RBAC you need a ClusterRole bound at the cluster scope with a ClusterRoleBinding.

[2017-02-10 06:43] #38963 closed

[2017-02-10 06:50] hridyeshpant commented on #24791
do we have any solution for this?

[2017-02-10 06:54] luxas commented on #41206
cc @mikedanese ^

[2017-02-10 06:55] dixudx commented on #41206
@r4j4h There are no available kubernetes packages for `Jessie` on https://packages.cloud.google.com/apt/dists/kubernetes-jessie. It is an empty repo.

If you visit https://packages.cloud.google.com/apt/dists/kubernetes-jessie/main/binary-amd64/Packages, you may find an empty page. While if you visit https://packages.cloud.google.com/apt/dists/kubernetes-xenial/main/binary-amd64/Packages, you may s

[2017-02-10 07:10] #36273 closed

[2017-02-10 07:11] tyranron commented on #36482
@yujuhong I confirm that after adding `--node-labels` opt with required labels to Kubelet starting command, issue does not happen anymore.

[2017-02-10 07:39] luxas commented on #41143
@timothysc At the same time you're bumping all other tags to 3.1.0 and making the PR to push the new image, please bump https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/images/images.go#L33 as well.

And remember to ping @wojtek-t or whoever is pushing it to push for all architectures

[2017-02-10 07:49] resouer commented on #36482
Please note `--node-labels` update have a known issue #28051 after node is restarted, a fix for that is on the way but relies on finish of #29459.

[2017-02-10 08:01] madhusudancs commented on #41127
We need to consider the scenarios where dynamic provisioning of pv inis not provided but can create pv statically. @madhusudancs request your thoughts on this

We definitely need to support this. Could one of you file a separate issue for this so that we can track it and ensure it is implemented?

[2017-02-10 08:04] #38418 closed

[2017-02-10 08:07] madhusudancs commented on #41127
@ligc

Skipping this as this is discussed above.

This is expected. There is a `--image` flag to `kubefed init` that you can use to override the image name and version. You could either push your image to a registry and use that or you could use an official released image. A newer version of kubefed works with an older version of the federation server components.

CoreDNS support is very new. We s

[2017-02-10 08:09] gopinatht commented on #28330
Guys, any information on this? I have the exact same issue

[2017-02-10 08:17] shashidharatd commented on #41127
for this issue, the node of the cluster seems to not have an `NodeExternalIP` type. currently we only use this type of IP for node port type service for api-server.
I would suggest we should update kubefed to use `NodeLegacyHostIP` in abscence of `NodeExternalIP` for api-server node port type service supporting such clusters.
@madhusudancs, shall i send a PR fixing this?

@ligc, thank you for test

[2017-02-10 08:45] madhusudancs commented on #41127
@shashidharatd I am Ok doing that.

Also, looking at @ligc's example I wonder if we should also allow people to customize the endpoint address. But the problem is it is tricky to decide if you should use the entire endpoint supplied or you should append the NodePort to the supplied endpoint address.

Let's do the LegacyHostIP fallback for now.

[2017-02-10 08:46] bruceauyeung commented on #41127
i ran `./kubefed --v=99 init fellowship --host-cluster-context=admin@kubernetes  --dns-zone-name=example.com --kubeconfig=/etc/kubernetes/admin.conf --image=gcr.io/google_containers/hyperkube-amd64:v1.5.1 --api-server-service-type=NodePort --storage-backend=etcd3 --etcd-persistent-storage=false`

and still got :

I0210 22:52:08.264218  100789 round_trippers.go:423] Response Headers:
I0210 22:52:08

[2017-02-10 09:00] Random-Liu commented on #40021
I figured it out.
For addon daemonset NPD, I placed both the service account and role binding in the addon pod yaml file.
For standalone NPD, I placed a role binding file in the addon directory, and addon manager should pick up it and create the binding.

[2017-02-10 09:00] dhilipkumars commented on #41130
@smarterclayton  Thanks for the usecase, as you have mentioned even for that workload the spread wouldn't hurt.   when i asked for _Could you site some examples...._ I was looking for a scenario where the user would want to purposely `disable` anti-affinity for that statefulset workload _(if it was offered by default)_.

I completely agree with @kow3ns its not well thought idea to automatically ch

[2017-02-10 09:02] resouer commented on #40887
@calebamiles  I will take a look at this. This is actually a known race but did not show frequently.

[2017-02-10 09:05] kargakis commented on #40415
Idea: introduce a new PodTemplateGeneration field that will be incremented on PodTemplate updates (similar to Generation is updated on Spec updates) and hash that to generate the new ReplicaSet name.

[2017-02-10 09:27] nagavenkatab commented on #36295
getting the same issue for kube-controller-manager and kubelet for the version

# kubectl version
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T04:57:25Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersio

[2017-02-10 10:19] bboreham commented on #41185
The description seems odd to me.  One end of a TCP connection can never know what happened if the other end simply went away: the only options are to time out or wait.

Did you mean there should be multiple independent connections, and the connection to the dead master is holding up a conversation to the live one?

[2017-02-10 10:24] gajju26 commented on #39229
Hi Luxas,

I am trying to use kubeadm for extending Kubernetes CI for s390x. While using kubeadm I came to know that the required docker image "gcr.io/google_containers/etcd-s390x:3.0.14" is not published for s390x. I think in Kubernetes we have enabled the code so that etcd image will be pushed to gcr.io.

Regarding CI: I understand using kubeadm we can create a node and using "kubeadm join --tok

[2017-02-10 10:58] fejta commented on #39229
Yes, the desired end state is that the s390x machines join a kubernetes cluster, and run kubernetes pods.

Our prow deployment monitors github etc for commits/comments/timer events and schedules the appropriate pods to complete the desired testing.

BTW, right now we are in the middle of migrating our jobs to use kubernetes pods. Would either of you two like to help this process? If so contact @kr

[2017-02-10 11:01] najehtoumi commented on #3764
Hi,
It 's possible build Dockerfile using Kubernetes??

[2017-02-10 11:02] shashidharatd commented on #41127
@bruceauyeung, The problem you are facing is related to RBAC. you should upgrade your cluster to use latest version of k8s. RBAC is the default access control post 1.5 version.

[2017-02-10 11:09] wojtek-t commented on #41143
@mml @fgrzadkowski

I'm not convinced we should do to 3.1 in 1.6 release (I'm probably fine with upgrading unit tests to use, it, but I'm not sure about everything else). Obviously we can create an image, but I don't know if it should become a default.

[2017-02-10 11:14] iTagir commented on #41194
Hello!
 I have checked the code, it appears that in two functions the restartPolicy by default set to RestartPolicyNever.
func (JobV1) Generate(genericParams map[string]interface{}) (runtime.Object, error) {
func (CronJobV2Alpha1) Generate(genericParams map[string]interface{}) (runtime.Object, error) {

And in the third function it is set to Always.
func (BasicPod) Generate(genericParams map[strin

[2017-02-10 11:19] SydOps commented on #32522
+1, got same issues. Terminated nodes are kept in nodes list with `NotReady` status.

[2017-02-10 11:46] iTagir commented on #40869
Hello!
the reason to that is the way how function copyFromPod and copyToPod are programmed.
copyToProd uses tar utility to untar on the target (pod) thus the permissions and ownership are preserved. copyFromPod also relies on tar utlity to create tarball before copy it locally.
When it comes to untar the file on the local system though it uses GO function to walk through the tar, create directorie

[2017-02-10 12:22] wojtek-t opened #41244 ""should serve a basic image on each replica with a private image" consistently failing in large clusters"
The "should serve a basic image on each replica with a private image" (for both ReplicaSet and ReplicationController) is consistently failing in large clusters since few days:

last failure:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-large-cluster/63

Looking into events it always happens exactly the same, i.e.:
[code]

It seems like a regression from th

[2017-02-10 12:23] wojtek-t commented on #41244
@shyamjvs

[2017-02-10 12:37] kovvik commented on #26404
Any progress with it? We have the same problem, pretty much Cinder API request  (couple hundreds/min) with 6 nodes and 3 volumes.

[2017-02-10 12:57] kargakis commented on #40415
PodTemplateGeneration is essentially a revision of the Deployment. We already maintain a revision annotation in Deployments and we treat it as API (the Rollback spec uses it).

[2017-02-10 13:05] kargakis commented on #39785
Seems like an issue with `hasFailed` not moving the Deployment back to the main queue for the progress check. This will take more logging ...

[2017-02-10 14:26] timothysc commented on #41143
Too early to tell until we have testing cycles on it.

Currently waiting on rkt to push an updated tag on dependency rev matching.

[2017-02-10 14:27] Analect commented on #15180
@cmoad
I am port-forwarding kibana, as you show above, which was working for me yesterday fine ... I was able to view and interact with developer tools and run various REST API calls.

However, today ... I get this error on the main kibana screen ...
`Kibana did not load properly. Check the server output for more information.`

... and the developer tools will no longer render.

![image](https://c

[2017-02-10 14:27] luxas commented on #41143
@timothysc They did it seems

[2017-02-10 14:29] timothysc commented on #41143
They pushed it to master, I want a stable tag.

[2017-02-10 14:32] luxas commented on #41143
Ah, that can take some time :/ https://github.com/coreos/rkt/milestone/59

[2017-02-10 14:44] aaron-trout commented on #40182
This also appears to stop NodePort services from working. (Thanks to @bboreham for the workaround!)

[2017-02-10 14:45] bboreham opened #41247 "procfs.PidOf description comment is incorrect"
The description of `procfs.PidOf` says:

[code]

However the implementation will interpret the name as a regex.  So for example "..." will match any three-letter string. This is not what I understand by "exact match".

https://github.com/kubernetes/kubernetes/blob/e9de1b0221dd8687aba527e682fafc7c33370c09/pkg/util/procfs/procfs_linux.go#L99

[2017-02-10 15:13] chuckbutler commented on #41019
If any bot can, I would like to take this issue and have it assigned to me. I'll have a fix proposed in short order once we have upgrade testing giving me clean results that our HA master's have 1:1 crypto keys across all the units.

[2017-02-10 15:14] jayunit100 commented on #41171
ok, i think i see...  it wants to match the label `kubernetes.io/sched-perf-...`... from this node:

[code]
into this set
[code]

so the set is empty.  I guess it could be a bug in the way the match selector is being produced, but the code looks clean to me.  will double check.

[2017-02-10 15:19] mikedanese commented on #41206
I can publish kubectl to most of the distros. Supporting kubelet is significantly harder....

[2017-02-10 15:23] kargakis commented on #40224
@fwynyk since you upgraded from 1.4.6 to 1.5.2 did you by any chance see anything related to https://github.com/kubernetes/kubernetes/issues/40415?

[2017-02-10 15:47] ncdc commented on #41194
cc @soltysh

[2017-02-10 15:53] #39978 closed

[2017-02-10 16:00] soltysh commented on #41194
This is working as expected. Since there are two possible values and the default for `restartPolicy` is `Always` we require user to explicitly set one of the available values: `Never` or `OnFailure`. The code you've pointed to is generators which are behind `kubectl run` command and those too require specifying that policy, but using `--restartPolicy` flag.

[2017-02-10 16:05] iTagir commented on #40869
cc @brendandburns could you please share your thoughts on this? What was the idea behind using tar utility in the pod and a function at local? Do you think that tar dependency should be removed?

[2017-02-10 16:05] #41194 closed

[2017-02-10 16:18] MHBauer commented on #40524
If `local-up-cluster` isn't supported, what is? I want to stand up a non-prod version of my changes for long enough to manually test.

[2017-02-10 16:25] yujuhong commented on #37580
This test is still flaking in cri-serial. Some examples:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-cri-serial/86
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-cri-serial/84

Need to check the logs to see if the symptoms are the same.

[2017-02-10 16:26] antoineco commented on #41194
@soltysh wouldn't it be more elegant to require this parameter, instead of making it default to some invalid value? `Always` feels as good as `foobar`.

[2017-02-10 16:31] gnufied opened #41249 "Provide metrics for all API calls being made to an external cloudprovider"
For 1.6 I am working to provide metrics for storage API calls being made by Kubernetes to external Cloud provider.

However, we should consider extending these metrics to cover all API calls being made by Kubernetes to external Cloud provider. This will give us greater visibility of Cluster Health and identify bottlenecks before they become show stoppers.

The proposal https://github.com/kubernete

[2017-02-10 16:32] soltysh commented on #41194
That is dating time, before `Job` was here, and when `Always` for long-running containers was reasonable. I'll see what's doable, though :)

[2017-02-10 16:32] soltysh commented on #41194
Thanks for feedback, I've never thought this might be problematic 👍

[2017-02-10 16:33] ncdc commented on #40459
I don't believe this is an issue any more. The latest commit does this:

[code]

The only "issue" I have is that I have to `chown` the files in `/var/run/kubernetes` to my user since they're owned by root.

[2017-02-10 16:37] antoineco commented on #41194
It's not problematic, but throws a misleading error and differs from the errors usually thrown by required params. I guess there's a fine line here between a bug an a feature here.

![Bug vs feature](http://img.memecdn.com/Bug-vs-Feature_o_17562.jpg)

[2017-02-10 16:43] yujuhong commented on #41225
ci-kubernetes-node-kubelet-cri-serial:
https://k8s-testgrid.appspot.com/google-node#kubelet-cri-serial-gce-e2e
 - #37580: "Validate OOM score adjustments once the node is setup pod infra containers oom-score-adj should be -998 and best effort container's should be 10"
 - Docker Daemon Network should recover from ip leak
    - There are a few failures, but some of them were caused by namespace dele

[2017-02-10 16:44] MHBauer commented on #40459
@ncdc yes. this works for me for this issue.

[2017-02-10 16:45] MHBauer commented on #40459
fixed by #40193

[2017-02-10 16:45] MHBauer commented on #40524
Did #40193 fix this problem?

[2017-02-10 16:45] cmoad commented on #15180
@Analect I believe kibana has the option of making Elasticsearch calls on the server running kibana or on your client machine. If it is configured on the client machine, then you need to also have access to the Elasticsearch server from your client. I can't think of any other reason why it wouldn't work. We use kibana exactly as you show and Elasticsearch calls are made from the server running kib

[2017-02-10 16:49] pmorie commented on #14207
bump

`local-up-cluster.sh` failures have proven to be extremely frustrating to newcomers on the project -- I would really like this to go under test ASAP.

[2017-02-10 16:49] pmorie commented on #14207
Here's some additional evidence: #40459

[2017-02-10 16:52] #40459 closed

[2017-02-10 16:52] MHBauer commented on #14207
As one of those users. Get the simple no-arg, no-environment-variable config version to always work.

[2017-02-10 16:54] irfanurrehman commented on #41209
@marun I have seen ur PR, it looks ok to me.. and its not that big to cause any reasonable code conflict, so lets go ahead with the process of getting it in, meanwhile lets be in sync for future PRs.. :)

[2017-02-10 16:57] alejandroEsc commented on #14207
@pmorie is correct, as a dev myself i find failures here incredibly frustrating and time consuming to debug.
Very disheartening when i pull latest from master only to find things other than my changes are broken and i cant test my changes any longer.

[2017-02-10 17:00] smarterclayton commented on #41130
The alternative is just that we educate people how to require anti-affinity
and tell them that it works across all controller types in docs and in
tooling.

On Fri, Feb 10, 2017 at 4:00 AM, Dhilip <notifications@github.com> wrote:

[2017-02-10 17:04] shashidharatd opened #41253 "Federation service controller refactoring"
Creating this issue here to manage the multiple pieces involved while doing #40296. I would be breaking that PR into smaller and easily acceptable ones.
### Background:
We have been getting some issues related to federated services because some corner cases are not handled in the controller. Current federated service controller also predates the federated informer framework which handles lot of sc

[2017-02-10 17:13] marun commented on #40616
Being able to disable federated services is effectively what is required, so closing in favor of #38593.

[2017-02-10 17:13] #40616 closed

[2017-02-10 17:23] caseydavenport commented on #35911
This is as designed for now.

The expectation is that updates to the spec will be allowed when the NetworkPolicy API moves from v1beta1 to GA.

[2017-02-10 17:24] colemickens commented on #41185
Yes, that's what we're concerned we're seeing. Notice the timestamps on GET request and the timeout. They're 17minutes apart... and during that time there are no other GET watch requests fired, and there are no more attempts to post kubelet status, hence the nodes going unhealthy.

[2017-02-10 17:57] kow3ns opened #41255 "Burst Semantics for StatefulSet Pod creation"
**FEATURE REQUEST**
The current behavior of StatefulSet is to not create a successor Pod before all predecessors are Running and Ready. The current implementation will not deadlock if more than one Pod is failed, but it will fail to make progress if a Pod is unhealthy. Specifically, if Pod-0 and Pod-4 are both dead, the current implementation will attempt to resurrect Pod-0, but it will not attemp

[2017-02-10 17:58] kow3ns commented on #41255
@smarterclayton I wanted to put StatefulSet burst in as a feature request to aggregate tracking for issues that can be resolved by its implementation.

[2017-02-10 18:03] kow3ns commented on #41153
No reports of collisions afaik, but the naming scheme causes issues with the internal hashing mechanics of dynamic provisioner when it is trying to ensure that all claims for a Pod in an SS are met by volumes allocated in the same zone/region #40910.

[2017-02-10 18:20] smarterclayton commented on #41255
I think we could potentially allow `/burst=replicas` to be handled by the app itself as "initial quorum" as an env var.  That might mean that we only need burst=all.  Thinking about all quorum joiners i'm aware of:

1. Given a known initial quorum size M and an unknown scale size N
2. An individual container can form a quorum by only attempting to join for pods `SET-[0,M)`
3. Pods `SET-[0,M)` disa

[2017-02-10 18:24] r4j4h commented on #41206
If it's at all difficult I don't think you should put yourself through extra work trying to publish to the extra distros at this point.

I believe I changed some lines from xenial to jessie thinking it would be safer, and others might too, so warning that we're purposely using xenial even in other distros in the docs would probably be just as effective and easier.

I apologize for straying from th

[2017-02-10 18:29] mikedanese commented on #41206
The problem with jessie and kubelet is that they have chosen not to enable memcg by default and to enable requires a kernel boot param, so we would have to muck with grub configs and restart the machine. No one has had time to sketch the user experience around that yet. Publishing kubectl everywhere would not be tricky.

[2017-02-10 18:34] jayunit100 commented on #41171
fixed

[2017-02-10 18:34] #41171 closed

[2017-02-10 18:57] freehan commented on #41225
I am investigating `[Service should create endpoints for unready pods]`

[2017-02-10 19:16] kow3ns commented on #41255
I can't think of any for which the ENV solution can't be made to work of for which the burst=replicas adds a huge benefit. imo burst=all is the feature that provides the most value. Given that, how about the following semantics.

[code]
If set to true, it will burst across the entire set, and if set to false, or not present, the current behavior will be adopted. This seems simple enough to impleme

[2017-02-10 19:25] raveeram commented on #41185
Yes, you'd expect the PUT NodeStatus request to timeout soon enough to attempt it on another master rather than taking 17mins..

[2017-02-10 19:35] jbeda commented on #40295
Hit this: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/36101/pull-kubernetes-bazel/4564/

[2017-02-10 19:39] jbeda commented on #39471
hit this https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/36101/pull-kubernetes-unit/17219/?log#log

[2017-02-10 19:48] spxtr commented on #40295
#39975 ?

[2017-02-10 19:56] liggitt commented on #39471
for those who can't read byte slices in place:
[code]

[2017-02-10 19:58] smarterclayton commented on #41255
I think we want to kill that annotation anyway (I thought there was an issue open from one of us on it).

I'd be ok with alpha being burst=true - alpha after all will give us experimentation time on what we need.

[2017-02-10 20:13] ixdy commented on #39229
https://github.com/kubernetes/kubernetes/pull/36050#issuecomment-272007705 has status of the s390x images from a month ago.

Basically, we couldn't build an etcd image for s390x then because the golang version (1.6.3) didn't support s390x. It's now using 1.7.4, so it seems to work, though it looks like etcd v2.2.1 doesn't build:
[code]

The rest of the build process gives worrying messages, but I'

[2017-02-10 20:14] madhusudancs commented on #41127
@shashidharatd I think we should fix this. If we don't fix this, people won't be able to use kubefed with older versions of the clusters.

[2017-02-10 20:15] liggitt commented on #41224
In the case where a kubelet starts up and sees a mismatch between the externalid field and its own idea of what its external id is, it is trying to delete itself.

Questions I have:
* what can make the external id mismatch occur (in cloudprovider and non-cloudprovider cases)?
* is it even safe for a kubelet to summarily delete itself (as it is trying to do today), or can that mess up apiserver/con

[2017-02-10 20:15] madhusudancs commented on #40398
Fixed by @irfanurrehman in PR #40917.

[2017-02-10 20:15] #40398 closed

[2017-02-10 20:17] cmluciano commented on #10421
is this still an issue?

[2017-02-10 20:21] madhusudancs opened #41263 "kubefed should use the right RBAC API version depending on the host cluster"
We made a few changes to RBAC policies in PR #40392 to address the issue described in #39555. RBAC API was in alpha and in Kubernetes 1.6 the API is being promoted to beta. PR #40392 only used the beta API types. This makes kubefed incompatible with pre-1.6 clusters. We should make kubefed 1.6 compatible with previous versions of the cluster. We can use the discovery API to accomplish this.

cc @k

[2017-02-10 20:21] madhusudancs commented on #41127
Filed an issue for RBAC beta API dependency here -  #41263.

[2017-02-10 20:24] cmluciano commented on #26309
@kenkouot do report your results when you get a chance.

[2017-02-10 20:36] yujuhong commented on #37580
It could be that with CRI, it takes kubelet longer to clean up. Or, even worse, that kubelet is not cleaning up properly. We need more information on this on failure.
 - Dumping pods on the node
 - Dumping containers (`docker ps`) on the node. Accessing docker directly is not ideal, but it's okay because the test itself only applies to docker. Alternatively, we can get the current running containe

[2017-02-10 20:46] ericchiang commented on #36847
Can someone assign me to this? cc @calebamiles

All the links are broken, so I can't see where that's implemented.

[2017-02-10 20:54] madhusudancs opened #41265 "kubefed init should generate username/password for admin account and tokens for components"
`kubefed init` only generates TLS certs and keys for authentication with the federation API server. It should also generate basic username/password and tokens to make it easier for clients to communicate with the federation API server.

cc @kubernetes/sig-federation-bugs

[2017-02-10 21:22] krousey commented on #41224
On Fri, Feb 10, 2017 at 12:15 PM, Jordan Liggitt <notifications@github.com>
wrote:

happens in both GCE and GKE upgrades.

who can update node status. I would view this as strictly worse than giving
kubelets node delete privileges.

[2017-02-10 21:34] #36011 closed

[2017-02-10 21:35] luxas commented on #39229
Thanks @ixdy, I think 3.0.14 is the only thing that's required (s390x is new after all, so we don't have to build things were moving away from to it)

Anyway, @ixdy could you tag the image `3.0.14` `3.0.14-kubeadm` as well?
That's the image kubeadm is currently using while waiting for a stable etcd3 tag.

/cc @timothysc @wojtek-t

[2017-02-10 21:35] #26637 closed

[2017-02-10 21:35] #33114 closed

[2017-02-10 21:35] #40819 closed

[2017-02-10 21:45] mbohlool commented on #22405
My thoughts on those three steps:

on 1: It generates json schema directly from go code and not OpenAPI spec. The source changes a lot and this process cannot be repeated easily (I guess the json schema cannot be updated right now because most of those packages are moved/modified). Also some of the packages are internal. Generally we should use OpenAPI spec for this.
on 2: While we may have no iss

[2017-02-10 21:51] freehan commented on #41225
For `[Service should create endpoints for unready pods]`, the failure symptoms is as follows:

1. RC scale to 0.
2. Pod (has a PreStop life cycle hook to sleep 600s) should be terminated slowly
3. The test is expecting to reach the slow terminating pod, but the pod is gone.

[2017-02-10 21:56] ixdy commented on #39229
has anything in source control been adding the `-kubeadm` tags? or has it just been ad hoc?

[2017-02-10 22:18] madhusudancs opened #41267 "Federation control plane should use service accounts to communicate with federated clusters"
Our initial control plane bootstrap and cluster registration mechanisms just uploaded the credentials of the user who ran the respective scripts to the cluster hosting the federation control plane and used those user credentials to communicate with the registered clusters. Uploading and using a single user's credentials for cluster-wide operations is a bad idea and many people have voiced their co

[2017-02-10 22:22] kerneltime commented on #41128
@nagavenkatab can you try with the container image specified here.
https://github.com/kubernetes/kubernetes-anywhere/blob/master/phase1/vsphere/README.md

[2017-02-10 22:24] luxas commented on #39229
@ixdy Nothing under source control because it was a push that was a once-only push for kubeadm so we could release the stable version of it (and there weren't any other etcd3 images at the time)
However, as soon as we get a source-controlled tag we can rely on for all arches, we'll switch

[2017-02-10 22:29] ixdy commented on #39229
tagged `gcr.io/google_containers/etcd-s390x:3.0.14-kubeadm`.

[2017-02-10 22:36] #554 closed

[2017-02-10 22:36] bgrant0607 commented on #656
Obsolete

[2017-02-10 22:36] #656 closed

[2017-02-10 22:37] bgrant0607 commented on #699
@pmorie @csrwng Is this done?

[2017-02-10 22:40] bgrant0607 commented on #907
@smarterclayton @lavalamp Is this still relevant?

[2017-02-10 22:45] #1989 closed

[2017-02-10 22:47] bgrant0607 commented on #2838
Subsumed by doc overhaul, and docs have been moved to kubernetes.github.io, so closing here

[2017-02-10 22:47] #2838 closed

[2017-02-10 22:48] bgrant0607 commented on #2839
Subsumed by doc overhaul, and docs have been moved to kubernetes.github.io, so closing here

[2017-02-10 22:48] #2839 closed

[2017-02-10 22:49] bgrant0607 commented on #2841
Somewhat obsolete

[2017-02-10 22:49] #2841 closed

[2017-02-10 22:49] #2842 closed

[2017-02-10 22:56] lavalamp opened #41269 "godep restore error"
I manually cleaned out my GOPATH and ran:

[code]

[2017-02-10 22:56] lavalamp commented on #41269
@gmarek @deads2k Does one of you understand this?

[2017-02-10 23:03] lavalamp opened #41270 "staging/copy.sh (or my env) seems broken"
[code]

I also can't run staging/prime-apimachinery.sh, but I'm not sure if I should be able to or not.

(yes, I ran godep restore, hopefully #41269 is not a big deal)

[2017-02-10 23:23] jingxu97 commented on #41044
cc @k8s-mirror-storage-misc

[2017-02-10 23:25] jingxu97 commented on #41044
cc @kubernetes/sig-storage-bugs  @kubernetes/sig-storage-misc

[2017-02-10 23:49] jingxu97 commented on #41203
@dchen1107 I agree UpdateAfterBoot flag is internal state that is not very appropriate to put inside the node status. But between master and node, node has no information when the last time master updates its volume status and cannot determine whether the update is after node reboot or not. I am thinking whether we should create an internal API object which contains volume related information used

[2017-02-10 23:50] Random-Liu commented on #41225
The issue is that we set the default 2 minutes timeout for `ExecSync`, which causes the 600s `PreStop` to be canceled in 2 minutes.

We should change `ExecSync` to respect the timeout passed in https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/remote/remote_runtime.go#L284.

Except `ExecSync`, we should also change timeout for:
* PullImage: Image pulling may take quite a long time.

[2017-02-11 00:05] lxpollitt commented on #35911
(And that is planned for Kubernetes 1.6 release.)

[2017-02-11 00:06] shyamjvs commented on #41269
@lavalamp I tried running godep restore starting from a clean slate (new GOPATH with just k8s repo in it) and it worked fine. Checked it with 2 godep versions (v74 and v78) and both seem to work ok. Could you tell the godep version you're using and also if you started out with just the k8s repo inside GOPATH? Also, the package 'k8s.io/apimachinery/pkg/openapi' shouldn't even be fetched as it's not

[2017-02-11 00:15] jpoon commented on #36611
Thanks for the fix @rootfs. Closing this issue.

[2017-02-11 00:15] #36611 closed

[2017-02-11 00:35] freehan commented on #41225
For `[Docker Daemon Network should recover from ip leak]`, I was not able to repro so far.

I will run `service docker restart` in a loop over the weekend and see if we have any leaked ips.

[2017-02-11 00:51] yujuhong commented on #41225
The ci-kubernetes-e2e-cri-gce-serial has been pretty flaky compared with the non-CRI builds. One thing I found is that  [Pod Disks should be able to detach from a node which was deleted](https://k8s-testgrid.appspot.com/google-cri#gce-serial&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Pod%5C%20Disks%5C%20should%5C%20be%5C%20able%5C%20to%5C%20detach%5C%20from%5C%20a%5C%20node

[2017-02-11 01:50] justinsb commented on #41143
Do we know what the underlying issue is?

[2017-02-11 02:01] timothysc commented on #41143
In 1.4 folks added an excessive # of quorum reads.  In etcd 2.x - 3.0.y that will force a write to disk.

[2017-02-11 02:05] justinsb commented on #41143
Right, but is this something we (or even I) could fix?  Do we have a read yet on where those calls are coming from?

[2017-02-11 02:13] saad-ali opened #41283 "Image updates appear to have broken CI"
The following tests suites are failing for the `release-1.5` branch:
* [ci-kubernetes-e2e-gce-slow-release-1.5](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-slow-release-1.5)
  * [Started failing](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-slow-release-1.5?before=2437) when PR https://github.com/kubernetes/kube

[2017-02-11 02:18] yujuhong commented on #41224
If a node instance is recreated with the same name, it will register as the same node.
This apparently also happens in tests (https://github.com/kubernetes/kubernetes/issues/41225#issuecomment-279105794).

AFAIK, attach/detach controller annotates the node object to keep states. If the node is backed by a new (VM) instance, it is probably safe/better to recreate the node object and start afresh. O

[2017-02-11 02:22] justinsb commented on #41143
In the 1.4 branch, I can't see where we would ever pass Quorum=true to etcd unless you have turned it on with `--etcd-quorum-read=true`  I might be missing something though, because I can't see where we did quorum=true at all in etcd3.

In the 1.5 branch, etcd2 also looks to never switch the Quorum flag, and it continues to default to false AFAICT.  For etcd3, We do set `clientv3.WithSerializable(

[2017-02-11 03:19] davidopp commented on #40358
cc/ @bsalamat

[2017-02-11 03:26] gnufied commented on #41044
Correct me if I am wrong but this hasn't been a problem till now because even on AWS - we can only attach a volume to only one node, not multiple. Theoretically we may have a state where volume is attached to node N1 but we are now trying to attach it to node N2 but it has to be detached from N1 first before it can be attached to N2 and whenever that happens we seem to be updating the device path.

[2017-02-11 03:44] #37504 closed

[2017-02-11 03:45] k82cn commented on #37449
build passed with latest codes.

[2017-02-11 03:45] #37449 closed

[2017-02-11 03:46] k82cn commented on #31068
roadmap of kube-mesos, closed it here.

[2017-02-11 03:46] #31068 closed

[2017-02-11 03:57] k82cn commented on #41235
cc @davidopp , @timothysc

[2017-02-11 04:29] githubvick opened #41284 "Inter Services communication not working with Kube DNS"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
Yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):  No issues found. Keywords-  kube-dns services communication kubernetes issue
No dup

[2017-02-11 05:42] r4j4h commented on #41206
Yep, good point! Backports provides newer kernels for more, but also requires restarting the machine. What an annoying situation!

[2017-02-11 06:01] mc0e opened #41286 "Please provide release dates in CHANGELOG.md"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): changelog

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE RE

[2017-02-11 06:39] jingxu97 commented on #41044
GCE PD actually can attach to multiple instances with readOnly. But GCE PD
device path is constructed from PD name so that one device path is ok. I
thought AWS can support this too. Since AWS cannot, this issue is not
causing problem for now.

On Fri, Feb 10, 2017 at 7:26 PM, Hemant Kumar <notifications@github.com>
wrote:

--
- Jing

[2017-02-11 07:15] davidopp commented on #40998
FWIW there are already several other issues for GPU support -- can we consolidate down to one (or at least fewer than five)?
ref/ #17035 #19049 #23587 #25557

[2017-02-11 08:23] #25557 closed

[2017-02-11 08:24] #19049 closed

[2017-02-11 08:28] Hui-Zhi commented on #40998
@davidopp I have closed #25557 and #19049 , but I don't have the privilege to close the others. Please take a look at #28216 if you have time.

[2017-02-11 08:55] caesarxuchao commented on #41269
I tried on master (0a124f2d1e217e150244def243ee3c4991095274) godep worked. What's the exact commit you tried godep with?

[2017-02-11 08:58] caesarxuchao commented on #41270
Hmm, maybe it's your godep version. Mine is godep v75 (darwin/amd64/go1.7.4). I tried on master (0a124f2d1e217e150244def243ee3c4991095274) and it worked.

[2017-02-11 09:25] hjacobs commented on #25625
I would like to see `kubectl drain` on the server side. `kubectl drain` currently is unreliable for us and fails for many cases (e.g. when hitting `Job` resources on some node). We are evaluating the best approach to get proper "safe" autoscaling on AWS (we are already doing it in a non-safe manner with https://github.com/hjacobs/kube-aws-autoscaler).

[2017-02-11 09:47] hjacobs commented on #31487
@mikekap isn't this what [Pod Disruption Budget](https://kubernetes.io/docs/admin/disruptions/) is for?

[2017-02-11 10:03] dhilipkumars commented on #41255
+1 for this
[code]

[2017-02-11 10:15] dhilipkumars commented on #41130
Closing the issue in favour for improved documentation.

[2017-02-11 10:15] #41130 closed

[2017-02-11 10:20] hjacobs commented on #41255
I think we are also interested in this feature for our PostgreSQL/[Spilo](https://github.com/zalando/spilo)/[Patroni](https://github.com/zalando/patroni) clusters. /cc @CyberDem0n

[2017-02-11 10:36] jackie-qiu commented on #37922
@RobinLe That works for me.

[2017-02-11 11:43] Analect commented on #15180
@cmoad ...thanks .. was able to resolve by removing the `.kibana` index.  Not sure what the problem was.

[2017-02-11 14:02] jmccormick2001 commented on #14207
+1

[2017-02-11 14:46] nagavenkatab commented on #41128
@kerneltime this time the deployment goes fine(till before validation), but the node are not getting registered.
I am seeing the below errors in kubelet logs on all nodes

Feb 11 20:08:28 photon-zv1KbtvMG docker[705]: I0211 20:08:28.646009     735 conversion.go:134] failed to handle multiple devices for container. Skipping Filesystem stats
Feb 11 20:08:35 photon-zv1KbtvMG docker[705]: E0211 20:08:

[2017-02-11 14:55] iocanel commented on #22405
In this step we use POJOs _(plain objects that contain just a couple of fields)_. For each of those objects we create two things:

- A Builder
- A Fluent Interface (An interface the define all the builder methods, but build itself)
- An Fluent Class (An implementation of the fluent interface)

The main reason that we separate the builder and then fluent, is that the fluent allows us to `inline` it

[2017-02-11 17:14] tutman96 opened #41294 "v1beta1.ReplicaSetList.items is null"
Kubernetes Server Version: v1.5.2
Client Version: N/A
Environment: GKS

When a ReplicaSetList is queried through `/apis/extensions/v1beta1/namespaces/default/replicasets` and no replica sets exist or none are matched with labelSelector, the results look like this:

[code]

however, in previous versions (on server v1.4.7 at least), the results would be:

[code]
(notice the "items" field is empty ar

[2017-02-11 18:09] dolftax commented on #3604
@rgolg Quoting your comment above "To reuse the same volume, a little extra coding is needed to have a volume attach to the new replaced instance on deployment."

Could you be a bit more specific on this? Just steps would add more clarity :)

[2017-02-11 19:53] justinsb commented on #36272
@davidopp can we do some speculative execution?  If we assume the node label is going to be `node-role.kubernetes.io/master=true`, can you confirm what the taint & tolerations should be?

[2017-02-11 22:18] peay commented on #31553
@soltysh I may be able to pick this up and send a PR once #40932 is merged if no one is working on this.

As far as I understand, currently:
- `kubectl` manually reaps the pods when deleting a job (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/stop.go)
- `kubectl` does not delete the jobs when deleting a cronjob (i.e., no reaper for this case -- the jobs stay)
- the controller m

[2017-02-11 22:51] divyenpatel commented on #41087
PR Merged. Closing this issue.

[2017-02-11 22:51] #41087 closed

[2017-02-11 23:26] kargakis commented on #37396
@kubernetes/sig-network-misc

[2017-02-12 00:40] davidopp commented on #36272
I would suggest just using the same taint key as you're using for the label.

Tolerations match against taints by key so there isn't a separate key for the toleration; it's just whatever the taint key is.

[2017-02-12 00:46] feiskyer commented on #40857
Right. Besides, `RemovePodSandbox()` will also remove all containers belonging to the sandbox, but we want to keep terminated containers for fetching logs, e.g.

[code]

[2017-02-12 03:15] AdoHe commented on #40968
sounds reasonable to me. I think `use` should be more appropriate here.

[2017-02-12 03:40] AdoHe commented on #25241
@ymqytw ptal.

[2017-02-12 03:41] gyliu513 commented on #40782
Improved test code coverage for plugin/pkg/admission/admit https://github.com/kubernetes/kubernetes/pull/41297

[2017-02-12 03:43] AdoHe commented on #39824
`kubectl evict` sounds good to me. I would like `delete` always do a normal deletion and get the object deleted.

[2017-02-12 03:50] AdoHe commented on #40813
[code]
This should be some server-client version skew, and basically we should support old server version.

[2017-02-12 03:50] AdoHe commented on #40813
will take a look asap.

[2017-02-12 03:52] AdoHe commented on #39699
@viglesiasce thanks very much, I would help review this :)

[2017-02-12 03:56] AdoHe commented on #11490
/cc

[2017-02-12 04:36] liggitt commented on #41294
Fixed in https://github.com/kubernetes/kubernetes/pull/39888

Will be in 1.5.3

[2017-02-12 04:36] #41294 closed

[2017-02-12 04:52] liggitt commented on #31517
Support for recognizing user information from headers sent by an authenticating proxy (which could use LDAP to authenticate if it wanted to) was added in 1.5

[2017-02-12 04:52] #31517 closed

[2017-02-12 04:54] #2205 closed

[2017-02-12 04:56] liggitt commented on #2380
Proxy is available as subresources on services and pods, and policy allows controlling access to specific subresources and resource names

[2017-02-12 04:56] #2380 closed

[2017-02-12 04:57] liggitt commented on #5028
Cadvisor runs inside kubelet and does not need to expose its own API port.

[2017-02-12 05:01] liggitt commented on #21562
Closing as dupe

[2017-02-12 05:01] #21562 closed

[2017-02-12 05:03] liggitt commented on #25692
I'm unable to reproduce this. Closing due to age.

[2017-02-12 05:03] #25692 closed

[2017-02-12 05:05] liggitt commented on #28292
Fixed in https://github.com/kubernetes/kubernetes/pull/34047

[2017-02-12 05:05] #28292 closed

[2017-02-12 05:06] liggitt commented on #30079
@soltysh is this resolved?

[2017-02-12 05:08] liggitt commented on #30905
TokenReview API works directly against the authenticator, so OIDC token auth works with it as intended.

[2017-02-12 05:08] #30905 closed

[2017-02-12 07:39] naisanza commented on #38758
What's the output when running `kubectl delete pods <pod name> --namespace <namespace>` ?

[2017-02-12 07:40] davidopp commented on #41235
At some point (in terms of increased functionality) the scheduler extender becomes the wrong approach and writing a custom scheduler is better. I wonder if this request crosses that point...

[2017-02-12 09:13] k82cn commented on #41235
The purpose of scheduler extender is to re-use k8s-scheduler's policy, e.g. PodAffinity. If writing a custom scheduler, it'll import scheduler related codes which introduces code level dependency.

[2017-02-12 09:56] davidopp commented on #41235
I think the question is whether we want to expand the scheduler API beyond just asking the API server to bind pods to nodes.

[2017-02-12 09:57] davidopp commented on #41235
(What kube-mesos is doing sounds a little odd...)

[2017-02-12 10:21] k82cn commented on #41235
The original idea was from kube-mesos; the kubelet is started on-demand. So before binding Pod to host, k8sm-scheduler need to make sure kubelet is started, and then, bind Pod to the host (by calling API); otherwise, no kubelet retrieves the Pod.

Honestly, did not make up other scenario right now; but `Filter`/`Prioritize`/`Bind` are the major actions of scheduler and http extender is configurabl

[2017-02-12 12:36] shiywang commented on #41286
I think add release dates make people get more information about the history of kubernetes. Is there anyone knows how to check the the accurate date of every version release, I would like to add that information if I know how to check that.

[2017-02-12 12:50] gjcarneiro commented on #15169
For my use case I would require `PreferNodeLocal` (nodes in some datacenters cannot run this type of pod), but it is listed merely as "future work" under the proposal.  What a pity...

[2017-02-12 15:55] ichekrygin commented on #10421
It is for us in `v1.4.7,v1.4.8`

[2017-02-12 16:44] ravigadde commented on #41235
@k82cn are you thinking of an interface similar to the one in #11470?

[2017-02-12 17:11] kargakis commented on #40415
The very first step we should probably take here is to shake off the assumption from our helpers that there can be only one replica set with a unique PodTemplate. Both [FindNewReplicaSet](https://github.com/kubernetes/kubernetes/blob/7738f41b958bd8a8018333b9c3eb86c563e1ee1a/pkg/controller/deployment/util/deployment_util.go#L613) and [FindOldReplicaSets](https://github.com/kubernetes/kubernetes/blo

[2017-02-12 17:16] k82cn commented on #41235
@ravigadde , yes, similar requirements on `Bind` :).

[2017-02-12 20:27] justinsb opened #41302 "federation API not in client-go"
The federation objects are not currently in client-go.  I believe this makes it hard/impossible to use federation with client-go.  The challenges I hit:

* you would have to refer to the main kubernetes/kuberentes repo again for the federation objects
* mixing and matching the federation objects from kubernetes/kubernetes is tricky, because for example ClusterSpec has a SecretRef field which is of

[2017-02-12 20:31] davidopp commented on #41235
Can you explain at a high level what problem you're trying to solve? I haven't looked at the Kubernetes-on-Mesos code in a very long time, and don't remember how it works. Is the problem you're trying to solve how to get Kubernetes-on-Mesos scheduler to work with scheduler extender approach?

[2017-02-12 20:35] a-robinson opened #41303 "Unhelpful error message about missing kubectl binary"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

cross

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Doc request

[2017-02-12 21:23] davidopp commented on #41228
I believe what you're asking for is Vertical Pod Autoscaling (#10782)
Please close (and add your comments there) if you agree this is a duplicate.

[2017-02-12 21:33] davidopp commented on #13385
This seems like a reasonable request though it's tricky to pick the right policy.

@kubernetes/sig-node-feature-requests

[2017-02-12 22:42] kfox1111 commented on #29913
I have a use case in mind for this too. On one of my systems, I have a small number of nodes in the cluster. (3). one of which is more of a quorum node (low power/capacity). I run most of my containers out of docker but I do have a need for vm level isolation for a few things that need a higher level of security and isolation then the rest. Being able to set an attribute on a pod to make it run in

[2017-02-13 01:35] feiskyer commented on #41247
Will open an PR fix this comment

[2017-02-13 01:47] Pendoragon commented on #35911
good to know, thanks! @caseydavenport @lxpollitt

[2017-02-13 01:52] liggitt commented on #29415
the TPR type needs to specify the kind, singular, and plural resource names

[2017-02-13 01:52] liggitt commented on #35993
fixed in https://github.com/kubernetes/kubernetes/pull/41304

[2017-02-13 01:53] liggitt commented on #38694
closing, e2e attempts to do a subject access review to check for serviceaccount access prior to running a test, but tolerates clusters that don't have it enabled

[2017-02-13 01:53] #38694 closed

[2017-02-13 02:06] k82cn commented on #41235
This relates to the project in kube-mesos (https://github.com/kubernetes-incubator/kube-mesos-framework/projects/1 ).

Currently, kube-mesos modified Kubernetes's code to make it running on Mesos, e.g. k8sm-controller-manager & kubelet; and it also write a custom scheduler. It has two issues
1. The custom scheduler missed scheduling policy, e.g. affinity
1. Modified codes introduce dependency, e.g

[2017-02-13 03:22] himulawang commented on #38369
Same problem

[2017-02-13 03:30] timothysc commented on #41228
This is a stop gap till the magical unicorn exists.  As of today, bouncing is a real issue.

[2017-02-13 03:40] smarterclayton commented on #30180
https://github.com/kubernetes/community/pull/123 is close and https://github.com/kubernetes/community/pull/363 would reuse the same mechanism.

[2017-02-13 03:47] bruceauyeung opened #41305 "kubefed init fails"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug report

**Kubernetes version** (use `kubectl version`):
kubectl , kubefed, kubeadm binary version: compiled from master today
kubectl version:

Client Version: version.Info{Major:"", Minor:"", GitVersion:"v0.0.0-master+$Format:%h$", GitCommit:"$Format:%H$", GitTreeState:"not a git tree", BuildDate:"1970-01-01T00:00:00Z", GoVersion:"go1

[2017-02-13 04:21] liggitt commented on #41302
cc @kubernetes/sig-api-machinery-misc @kubernetes/sig-federation-feature-requests

[2017-02-13 04:30] davidopp commented on #41228
I think implementing this would use a lot of the same infrastructure as VPA (basically all the same bits except the prediction parts, if you hardcode a policy like 2*previous as you suggested).  So they should at least be considered together IMO.

cc/ @krzysztofgrygiel

[2017-02-13 04:35] smarterclayton commented on #907
It's still dangerous.  We shouldn't be hotlooping in until for the simplest reason that it allocates an object every time it loops which is bad for a very small loop.  Until should be reserved for long running operations, not very short ones.

[2017-02-13 04:38] davidopp commented on #25318
AFAIK there is no remaining work for moving multi-scheduler to Beta (though we really could use some better testing). #38871 by @k82cn replaced the annotation with a field.

Upgrading to 1.6 will break existing users of this feature and they will have to switch to fields, but this within the bounds of our policy for alpha features. Information about upgrading has been sent to kubernetes-dev ([here

[2017-02-13 04:48] davidopp commented on #25319
Remaining work for moving Affinity to beta:
- [ ] PR to add back support for the alpha annotation under feature-gate and the associated tests (#41215) needs to be completed and merged: assigned to @timothysc
- [ ] PR to reject empty TopologyKey for the field (but not the annotation), and remove the --failure-domains scheduler command-line flag (#41195) needs to be completed and merged: assigned to

[2017-02-13 04:52] gnufied opened #41307 "Attach and detach operations in volume attach detach controller share exponential backoff timer"
This is a minor problem which can sometimes slow down attach when a volume is being detached from one node and getting attached to another.

The root of the problem is - attach and detach operations run by using volumeName and hence they end up sharing exponential backoff timer of one operation with another (until either of them completes), this can cause attach operation on second node to needles

[2017-02-13 04:54] gnufied commented on #41307
@childsb can you assign this to me? I think, we can may be fix some of the slowness around attach/detach in AWS with this bug.

[2017-02-13 04:59] davidopp commented on #25320
Remaining work to move taints & tolerations to Beta:
- [ ] Make cluster autoscaler 1.6 use field-based taints and remove annotation-based taints (with taint key “ToBeDeletedByClusterAutoscaler”): assigned to @mwielgus
- [ ] Make rescheduler 1.6 use field-based taints and remove annotation-based taints (with taint key “CriticalAddonsOnly”) and use field-based tolerations and remove annotation-based

[2017-02-13 04:59] liggitt commented on #41265
I'd recommend tokens over basic auth

[2017-02-13 05:56] resouer commented on #25320
@davidopp I think we can now continue the implementation `TaintEffectNoScheduleNoAdmit` in #34400, right? Since we are aiming it at 1.6 ref https://github.com/kubernetes/kubernetes/issues/25320#issuecomment-261571143

If so I am going to update #34400 very quickly.

[2017-02-13 06:01] davidopp commented on #25320
@resouer I don't think we should do NoScheduleNoAdmit for 1.6. It is too much changing in one release and I have not heard any strong requests for it from customers (of Google or any of our partners). It is definitely useful for some scenarios (e.g. "protect" the kubelet when pod is not scheduled by default scheduler) but I think the risk outweighs the benefit for putting it into 1.6. I think it w

[2017-02-13 06:06] resouer commented on #25320
@davidopp That's fair enough, just read this comment and why I'm asking:
[code]

Let's keep our plan as it is.

[2017-02-13 06:12] madhusudancs commented on #41265
@liggitt is it reasonable to provide support for both with an option to selectively disable them?

[2017-02-13 06:16] davidopp commented on #41235
Since the extender(s) [run(s)](https://github.com/kubernetes/kubernetes/blob/3dbbd0bdf44cb07fdde85aa392adf99ea7e95939/plugin/pkg/scheduler/generic_scheduler.go#L201) after the default scheduler's predicate functions, can you get the same effect as a Bind operation by having scheduler extender filter the list of nodes down to just one node (i.e. return just one node in the list)?

[2017-02-13 06:18] davidopp commented on #25320
Yeah, I am not sure the background for that comment. Maybe at one point we said we were going to do it for 1.6 (I can't remember), but I think that in light of all of the other changes it would be safer to delay it to 1.7. Sorry about that.

[2017-02-13 06:25] ravigadde commented on #41235
This is the recipe as of now :) The drawback is that it requires the extender to import the priority functions from k8s scheduler (selector, replica spreading etc). A separate Bind call or a modified Prioritize interface that can just return one node should solve the issue.

[2017-02-13 06:40] bruceauyeung commented on #41305
cc @madhusudancs

[2017-02-13 07:05] Pensu commented on #38228
@dsnet Hi, I am trying to look into etcd test panic errors. Do you think it's because of invalid use of http.Hijacker as stated above or should I start looking from somewhere else? @bradfitz @jessfraz

[2017-02-13 07:17] zreigz commented on #31343
I can work on this. I will take a look deeper into 3prs and I will try prepare some code proposal

[2017-02-13 07:22] davidopp commented on #41235
I'm confused.

IIUC, the Bind operation that is being requested, would tell the API server "bind the pod to node X."

How is that different from extender returning a single-node filtered list (and some random number for the priority)?

It seems that how the extender decides which node X to pick is orthogonal to whether there is a Bind operation or it just returns a single-node list -- either way i

[2017-02-13 07:37] sttts commented on #41302
We could blindly copy federation types into client-go as well. But I would very much prefer to start thinking about making client-go more composable to avoid that it becomes our new monolith repo. /cc @deads2k

[2017-02-13 08:09] ravigadde commented on #41235
Lets take an example, perhaps that will help clear up things.

1) k8s scheduler picks 5 nodes - n1, n2, n3, n4, n5

**Option 1 (current)**
2) Filter call to extender
3a) extender runs its predicates and picks n2, n3, n4
3b) extender runs its priority functions and k8s priority functions (that are imported) and scores 100, 50, 40
3c) extender picks n2 (creates an alloc against n2) and returns that

[2017-02-13 08:25] davidopp commented on #41235
Oh sorry, I mis-read #11470. I thought the Bind you wanted was from extender to API server, but you want the other way around. So the Bind you have in mind is a message from API server to extender saying "node X has been chosen for pod P"? And the API server promises not to actually bind the pod to the node (i.e. fill in NodeName) until the scheduler extender says it is OK to do so? What does step

[2017-02-13 08:44] nagavenkatab commented on #41128
@kerneltime I redeployed the whole setup, now it is working fine.
Thank a lot for the fix provided with the new image.

[2017-02-13 08:44] #41128 closed

[2017-02-13 08:46] gmarek commented on #41269
@lavalamp - I never saw this kind of error in my very limited and very painful history with godeps. My guess would be that you have some issue with apimachinery repo (e.g. it's synced to the master of expected version or sth). Whenever I had any problems I ended up deleting most of the things under `$GOPATH/src` (or temporary moving to some other place if I didn't want to get rid of it), which usu

[2017-02-13 08:48] jsafrane commented on #41044
I think that GCE is the only plugin that supports one volume attached to different nodes. I can imagine a flex plugin using similar feature (e.g. clusteded LVM on iSCSI can be attached to multiple nodes), however I would not bother with flex for now.

[2017-02-13 08:50] lakeBaikal commented on #34428
So am I.
`[root@localhost kubernetes]# make
+++ [0213 16:26:08] Building the toolchain targets:
    k8s.io/kubernetes/hack/cmd/teststale
    k8s.io/kubernetes/vendor/github.com/jteeuwen/go-bindata/go-bindata
+++ [0213 16:26:09] Generating bindata:
    test/e2e/framework/gobindata_util.go
+++ [0213 16:26:09] Building go targets for linux/amd64:
    cmd/libs/go2idl/deepcopy-gen
./hack/run-in-gopath.

[2017-02-13 08:53] gmarek commented on #25320
There's a subbullet for the last checkbox:
- write a admission controller that'll set default tolerations for NC taints to all Pods that doesn't have them.

[2017-02-13 09:05] lakeBaikal commented on #34428
So am I. Did anybody resolved it ?

+++ [0213 16:26:08] Building the toolchain targets:
    k8s.io/kubernetes/hack/cmd/teststale
    k8s.io/kubernetes/vendor/github.com/jteeuwen/go-bindata/go-bindata
+++ [0213 16:26:09] Generating bindata:
    test/e2e/framework/gobindata_util.go
+++ [0213 16:26:09] Building go targets for linux/amd64:
    cmd/libs/go2idl/deepcopy-gen
./hack/run-in-gopath.sh: line

[2017-02-13 09:17] davidopp commented on #25320
Oh yes -- thanks for remembering that! Will you have time to do that? Or do you think @kevin-wangzefeng could do it? (He has written an admission controller before.)

[2017-02-13 09:21] gmarek commented on #25320
I asked @kevin-wangzefeng on some PR, but he didn't respond. If he won't do it today or tomorrow I'll need to write it.

[2017-02-13 09:42] xingzhou commented on #41150
agree that this should be supported since the name of the pod is pointed out explicitly in the command.

[2017-02-13 10:30] Crassirostris commented on #39041
OK, thanks! I will check kubetest shortly

[2017-02-13 10:54] soltysh commented on #31553
@peay actually before implementing this for CronJobs, I was thinking of moving the current Job reaper server side. CronJob do not have reaper implemented as of yet.

Having said that, I'm not sure if this is doable for 1.6. We have a code freeze in ~2 weeks, and having both seems like a quite an effort to have it done for now. Finally, I was hoping to leave that one for myself, if you don't mind,

[2017-02-13 11:06] piosz commented on #39785
The test is very flaky in https://k8s-testgrid.appspot.com/sq-blocking#gci-gke. Can we please fix it soon or move to flaky suites (#41257 from @spxtr).

[2017-02-13 11:12] kargakis commented on #39785
This test is very flaky **only** in GKE. Can we disable it only for GKE?

[2017-02-13 11:43] wojtek-t opened #41316 ""Do not marhal internal struct" panic in apiserver"
When running some large cluster tests, apiserver panicked for me with this log:
[code]

@kubernetes/sig-api-machinery-misc @smarterclayton @lavalamp

[2017-02-13 11:47] dimpavloff commented on #26670
@Krylon360 I don't work on the codebase but it seems to me the code should work already. The code you've linked gets called https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L2730 with the ELB's SG arg.
The issue is to do with modifying the Node's SG, which happens here https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aw

[2017-02-13 11:55] wojtek-t commented on #41316
@gmarek @timothysc @davidopp

it seems to be taint-related to me (looking into stacktrace from above, in particular those 2 lines):
[code]

[2017-02-13 11:57] spacexnice opened #41317 "Kubeadm alpha 1.6.0 CSR stuck"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

yes ,   here is the kubeadm join --discovery token://xxxx:xxxxxxxx:ip:port   output.

[code]

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply the

[2017-02-13 12:13] liggitt commented on #41316
Dupe of https://github.com/kubernetes/kubernetes/issues/40491

[2017-02-13 12:26] Crassirostris commented on #39041
@ixdy Reproducible with kubetest

[2017-02-13 12:28] #29832 closed

[2017-02-13 12:44] gmarek opened #41318 "Events in NodeController are not working"
I noticed that we have no events from NodeController for some time now and I suspect this PR as this touches Event machinery. I see logs like:
[code]
I fixed the problem (using types from `pkg/api/v1` instead of `client-go/pkg/api/v1` when creating Event messages), but once I did this unit tests started to panic:
[code]

cc @deads2k @wojtek-t @piosz

[2017-02-13 12:46] #22425 closed

[2017-02-13 12:48] peay commented on #31553
OK, sure!

[2017-02-13 13:03] shyamjvs commented on #31715
@jessfraz @bprashanth This still seems to be an issue. I don't have too much context into this, but has it been decided to increase the quota or add garbage collection logic in the test or just let it stay as it is for now? It would be great if we could make it green again :)

[2017-02-13 13:09] deads2k commented on #41318
There seem to be multiple node controllers now.  Which one is failing?

[2017-02-13 13:11] deads2k commented on #41318
Think I found it.  Helpers for helpers for helpers.  I'll open a pull shortly.

[2017-02-13 13:17] deads2k commented on #41302
I agree.  We need to think about how different client-go APIs interact and build on top of each other instead of simply producing a copy/paste which can never be extended.  As we get more aggregated API servers like service-catalog and (hopefully) podinjectionpolicy, this becomes even more obvious.

@lavalamp @caesarxuchao

[2017-02-13 13:19] gmarek commented on #41318
I'm including the fix in #41311, so NC is covered. I'm not sure that the same thing wasn't happening in other components as well.

[2017-02-13 13:23] deads2k commented on #41318
Opened https://github.com/kubernetes/kubernetes/pull/41322 .

[2017-02-13 13:27] deads2k commented on #41318
Ah, I didn't see the fix I expected there, so #41322 may still be needed.  The other controllers pass their actual object through, not an `ObjectReference` that is getting matched by type assertion, so they're ok.  Seem like only kubelet related things do that, so I've picked up a couple stragglers after the transition.

Just to briefly explain why we have this pain.  All controllers, the schedule

[2017-02-13 13:31] ChrisBuchholz commented on #40346
I can confirm this also fixed the problem for me, @slouly.

[2017-02-13 14:12] fgrzadkowski opened #41323 "etcd migration tool crashloops if there is a problems during first attempt"
If in line line #190 is executed also for step 2.2.1 if the tool failed during first run of upgrade. I guess we should also check for the step and compare it to version.

@mml

[2017-02-13 14:13] fgrzadkowski opened #41324 "Add more logs to etcd migration tool"
At the very least it should be clear when (timestamp) the migration started and finished.

@mml

[2017-02-13 14:55] fgrzadkowski opened #41327 "etcd migration tool crashed it there is a back directory"
If crashed and then next runs are broken due to #41323

@mml

[2017-02-13 15:01] morallo opened #41328 "Custom DNS entries for kube-dns"
**Is this a request for help?**: No.

**What keywords did you search in Kubernetes issues before filing this one?**: kube-dns custom dns entry

---

**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

**Kubernetes version** (use `kubectl version`): v1.5.2

**Environment**:
- **Cloud provider or hardware configuration**: baremetal,
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 8

[2017-02-13 15:05] k82cn commented on #41235
@davidopp , thanks very much; I think initializers will solve the problem: in kube-mesos-initializer, it'll ask Mesos to launch task (including the kubelet for the first time); and then, the kubelet can start the Pod accordingly.
As you said, if it's not the latest initializer and the following initializers failed, it need a notification to let Mesos kill the task. I think we can discuss those rac

[2017-02-13 15:08] morallo commented on #41328
Reading [this](https://groups.google.com/d/msg/kubernetes-users/bXRxKM8WlWM/rk4HG9KOBAAJ), I don't know if this is already in the works.

@thockin could you clarify the status? Thanks!

[2017-02-13 15:18] deads2k commented on #41269
@lavalamp heapster introduces cycles into our godep graph which results in craziness as you try to have both heapster and kubernetes in place.  That's the reason we have a lot of empty folders sitting around.

My guess would be that you have a current heapster and an old apimachinery.

[2017-02-13 15:21] ravigadde commented on #41235
@davidopp the Bind call can originate from the scheduler too, before it binds a pod with the apiserver. If the bind call  to apiserver fails subsequently, pod is rescheduled and extender can release the stale alloc.

If the Bind originates from apiserver initializer, there is a window where extender is scheduling with stale resource usage information.

[2017-02-13 15:34] irfanurrehman opened #41333 "[Federation][kubefed] Flag cleanup"
**Kubefed init** recently added **--apiserver-arg-overrides** and **--controllermanager-arg-overrides**, which can now be used to pass arguments to federation apiserver and controller manager during initial deployment.
There are some flags which were used as explicit flags, which should be removed and these new ones should be used instead.

[2017-02-13 15:46] deads2k commented on #39471
I just hit another manifestation.  `client_test.go:302: Failed updating patchpod with patch type application/merge-patch+json: labels are: map[baz:qux foo:bar]`

@wojtek-t we have a "get" cache now, don't we?  Any chance that's doing something weird with our test here?

[2017-02-13 15:50] liggitt commented on #39471
Gets only hit the cache if you opt in

[2017-02-13 15:52] timothysc commented on #41228
TBH scalable community driven metrics based auto-scaling (VPA & HPA) is not something I see happening for several releases at best, given the plethora of solutions and conflicts surrounding them.

[2017-02-13 15:56] micahhausler commented on #34137
@timothysc I'd be happy to make a PR that adds this, but I'm not sure where I'd need to add this. Would this be a cadvisor patch or a k8s patch? What package might that take place in?

[2017-02-13 15:58] snoby opened #41336 "kubectl rollout status reports timed out waiting on condition"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

reporting a bug
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

kubectl rollout status
---

**Is this a BUG REPORT or FEATURE REQUEST?*

[2017-02-13 16:17] smarterclayton commented on #41150
Yeah, filtering should not happen on get of one or more names.  It's only the list call that should filter.

[2017-02-13 16:18] smarterclayton commented on #41150
Setting to 1.6 because this is a usability issue.

[2017-02-13 16:43] timothysc commented on #41316
closing this one.

[2017-02-13 16:43] #41316 closed

[2017-02-13 16:45] timothysc commented on #40491
Taints are being converted to fields in 1.6 release, so that code will be excised and hard type checks will be in place.

[2017-02-13 16:55] felipejfc opened #41339 "EBS in AWS clusters is all about issues and headaches"
Using EBS volumes is way too unstable on k8s aws deployments, we've been using kubernetes since version 1.2, now running a 1.5.2 cluster and the problems have always been there and never solved.
80% of the time I need to delete a pod under a replication controller or deployment that have a PVC linked it, it does not work, the problem varies, sometimes I saw this same message:

[code]

repeatedly f

[2017-02-13 17:21] cmluciano commented on #41328
This is recently added to kube-dns [here](https://github.com/kubernetes/dns/pull/28/files). It will be configurable through a [config-map](https://github.com/kubernetes/dns/pull/39). This functionality should land in the 1.6 release of Kube.

[2017-02-13 17:24] morallo commented on #41328
Thank you @cmluciano :-)

[2017-02-13 17:45] cofyc opened #41341 "can not access kubedns and custom services cluster ip"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Clou

[2017-02-13 18:01] irfanurrehman commented on #41305
@bruceauyeung, can u please run it (kubefed init) again with more verbose option (say --v=6) and then take the log.
thanks!

[2017-02-13 18:10] krousey commented on #41224
@liggitt would you be ok with adding delete permissions for kubelet because it has them and uses them today, and then taking the argument about whether it should be done another way to it's own issue?

[2017-02-13 18:15] liggitt commented on #41224
see https://github.com/kubernetes/kubernetes/issues/41345

[2017-02-13 18:16] dashpole commented on #40474
Updating this PR with a couple examples failures, in-case they are useful:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-flaky/113?log#log
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-flaky/112?log#log
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-flaky/90?log#

[2017-02-13 18:29] dashpole opened #41347 "Increase in number of "ExceededGracePeriod" errors during eviction tests."
I have noticed 5 inode eviction test runs in the past 3 days that have failed because they evict an extra pod with the message:
`ExceededGracePeriod: Container runtime did not kill the pod within specified grace period.`

I am not sure if it is a coincidence, but they have all been on ubuntu trusty.
Runs:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-f

[2017-02-13 18:33] zmerlynn commented on #41244
This should be fixed. (See internal bug 35098482)

[2017-02-13 18:33] #41244 closed

[2017-02-13 18:38] dashpole commented on #41347
This test has 3 pods: volume and container inode-hog-pods, which are meant to be evicted, and normal-memory-usage-pod, which is not meant to be evicted.
What happens in these runs is that the 'volume-inode-hog-pod' is evicted successfully.  Then the 'container-inode-hog-pod' is unable to be evicted with the error: ExceededGracePeriod, causing the 'normal-memory-usage-pod' to be evicted as well.

W

[2017-02-13 18:41] thockin commented on #41328
@bowei

[2017-02-13 18:42] thockin commented on #40491
Is someone working on this?

[2017-02-13 18:47] bowei commented on #41328
@morallo -- it would be great to write up a example of what you are looking for and we can go from there.

* If they are in the cluster.local domain, it might not be a good idea given the potential for name clash.
* If they are in a separate domain (e.g. acme.local.), there is a proposal coming that will allow you to designate optional stub domains that have their own custom name servers. In that

[2017-02-13 18:48] bowei commented on #41328
Open the issue on kubernetes/dns, so it will be more visible to the DNS work (kube-dns has been split off into a separate repo)...

[2017-02-13 18:52] jessfraz commented on #38228
ya I would start there

On Sun, Feb 12, 2017 at 11:05 PM Peeyush gupta <notifications@github.com>
wrote:

[2017-02-13 19:04] jingxu97 commented on #13418
I think we might at least use a seperate gorountine to cleanupOrphanedPodDirs() function. My understanding is if a pod becomes Orphaned, it will not comes back. So even during cleanup, the desired pods are changing, it should not be a problem. Reopen this issue for further discussion.
cc @yujuhong

[2017-02-13 19:07] timothysc commented on #40491
*this being the excised taints from annotations to fields... yes.
/cc @aveshagarwal is.

[2017-02-13 19:18] thockin commented on #37396
This is not true in all environments.  DNS, for example, will complain or
reject replies from any IP except the one it targetted.

This should be covered by the OnlyLocal work which we hope to progress in
1.6 or at worst 1.7

@mrhohn

On Sat, Feb 11, 2017 at 3:26 PM, Michail Kargakis <notifications@github.com>
wrote:

[2017-02-13 19:19] gnufied commented on #41339
Does this happens when pod being managed by Deployment is moved from one node to another? We have identified some of those and fixed it - https://github.com/kubernetes/kubernetes/pull/39850

It should be released as part of 1.5.3 when released. Can you try v1.5.3-beta.0 and let us know if you are still seeing the problem. cc @kubernetes/sig-storage-bugs

Also if you still have some pod hanging in

[2017-02-13 19:23] boynux commented on #37396
Yes, that's true in case of dns which does not really care about the source
of the request however it's also not the case for all types of services,
when service wants to know the originator address, which will be changed
now, however ipvs (lvs) directly routing would be a solution as well (
which currently docker Swarm uses)

On Mon, Feb 13, 2017, 8:19 PM Tim Hockin <notifications@github.com> wro

[2017-02-13 19:35] madhusudancs commented on #37306
Pasting Quinton's comment from the discussion here:

"""
OK, so I reminded myself what the underlying bug is here, and the proposed solutions.  Thanks Madhu for capturing that here:

https://github.com/kubernetes/kubernetes/issues/37306

I think that we need to implement the relatively minor fix to bug in the GCE Ingress Controller (GLBC),  so that it creates cluster-specific rather than global fi

[2017-02-13 19:38] quinton-hoole commented on #37306
I think that we need to implement the relatively minor fix to bug in the GCE Ingress Controller (GLBC),  so that it creates cluster-specific rather than global firewall rule names so that one GLBC does not overwrite the firewall rule created by another GLBC, in another cluster (which is what it erroneously does today).

As for the backwards compatibility concern (essentially, how do we cause the o

[2017-02-13 19:44] chuckbutler commented on #41019
Change is in the pipeline @jonathanmarsaud   Thanks a bunch for reporting this issue with detailed reproduction instructions. I feel that this patch is a good first step towards resolution. I haven't done a full gambit test of the implications as HA control plane has been on the roadmap but is scheduled for completion at a later date. However with you testing this already, this should bring the ma

[2017-02-13 19:47] madhusudancs commented on #37306
Let's please not underestimate this effort. There are production clusters where people are running real stuff. At the very least, it has to go through rigorous upgrade testing. Everything looks conceptually and practically simpler on paper :)

I am not entirely sure what those serious problem are. Could you please elaborate? It is a test fix, a workaround until we get the code working, to give con

[2017-02-13 20:05] thockin commented on #37396
LVS direct return is only viable with a very different model of Services
than Kube offers, including no port remapping.

On Mon, Feb 13, 2017 at 11:24 AM, Mohammad Arab <notifications@github.com>
wrote:

[2017-02-13 20:09] quinton-hoole commented on #37306
@madhusudancs You're right, the small GCLB change will need testing. But so equally will the more complex alternative (as if the federation control plane messes up the firewall rules, the clusters will also potentially be bricked).  Admittedly the more complex alternative's logic will only be invoked on clusters which join a federation, but those may themselves be production clusters.  So I don't

[2017-02-13 20:11] boynux commented on #37396
That's also true, I'm just exploring the possibilities.
There might be 1 in 100 of the applications that need this feature
including mine (radius)  which I deployed it outside of the cluster for
now. But it's not a big chunk of applications anyway.

Tproxy might be another option which I'm currently exploring too. But this
is going to be way more complex than lvs which I'm willing to sacrifice
por

[2017-02-13 20:13] madhusudancs commented on #37306
Other approaches don't need less testing or are relatively easier. Among the alternatives, per-cluster firewall is the relatively the least difficult. But that doesn't mean it is a cake walk.

[2017-02-13 20:14] juanvallejo opened #41353 "Use of hardcoded "UserResources" breaks `kubectl get all` if server does not have at least one of the resources"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.1.778+7585c46bc18913-dirty", GitCommit:"7585c46bc18913232a72d83e2f5a02a5a1f65c1b", GitTreeState:"dirty", BuildDate:"2017-02-13T18:47:18Z", GoVersion:"go1.7", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"", Minor:"", GitVersion:"v0.0.0-master+$Fo

[2017-02-13 20:23] bradfitz commented on #38228
Please prioritize this if you can. Go 1.8 final is due out this week. It's been over two months with this bug open. We had hoped to hear the Kubernetes was passing with Go 1.8 already (and perhaps learn of bugs you might discover), but we can't hold up the release for it.

I might recommend a new CI builder testing against Go tip in the future, to catch regressions earlier.

[2017-02-13 20:43] DirectXMan12 commented on #41199
How would the HPA know which pods are "useless"?  It will already scale down when the work drops.  I'm not entirely sure what you're suggesting here.

[2017-02-13 21:36] #41224 closed

[2017-02-13 21:40] timothysc commented on #34137
/cc @timstclair

[2017-02-13 21:41] ahmed-madkour opened #41359 "Bad Reqeust log errors when using --cloud-provider=azure"
**Kubernetes version** : v.1.5.2

**Environment**:
- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): Ubuntu 14.04.5 LTS

I have added "--cloud-provider=azure --cloud-config=/etc/kubernetes/azure.json" to the apiserver,  controller-manager and kubelet services but I get a Bad Request in the logs

**Errors from kube-controller-manager.log**
[code]

**Errors

[2017-02-13 21:49] felipejfc commented on #41339
it happens even if lets say, deployment has replication of 1 and then we kill this one pod and then a new pod get rescheduled in the same machine but it timeouts waiting for the volume to be mounted, I have no pod in this state right now because I solved it earlier by restarting the node that the pod was being scheduled >.<

[2017-02-13 21:52] timstclair commented on #34137
Volume stats collection is currently only in the Kubelet, so this would be a Kubernetes patch. I believe we don't currently translate the Summary metrics (including volume) into prometheus metrics. Most stats are translated in cAdvisor directly, and some additional Kubelet specific stats are translated [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/metrics/metrics.go). I'm

[2017-02-13 22:14] cheftako commented on #39975
Still seeing this issue

[2017-02-13 22:46] nivwusquorum commented on #36803
but why, though?

[2017-02-13 22:47] #41359 closed

[2017-02-13 22:50] ahmed-madkour commented on #41359
It is solved I was using username & password while I should register an app in the azure active directory and use its id & secret.

[2017-02-13 22:52] Bekt commented on #40068
@JeanMertz any update?

We are having this issue on a brand new cluster (1.5.1) with brand new deployments. How often does the cleaning process happen?

[code]

[code]

[code]

[2017-02-13 23:12] calebamiles commented on #41054
**cc: @philips**

[2017-02-13 23:23] lavalamp commented on #41302
client-go should not be a grab bag for clients for all APIs. The long term plan here is to have a two-layer client structure.

* client-core contains things like RESTClient, discovery client, dynamic client, transport, informers, etc.
* client-go contains the API types and generated code

Other projects (like federation) can host their own version of the latter.

Additionally I'd like to get to a

[2017-02-13 23:56] a-robinson opened #41369 "Server binaries shouldn't be required to run kube-down"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
[kube-down missing]

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2017-02-14 00:20] xingzhou commented on #41150
I would like to work on this if nobody now is taking care of it.

[2017-02-14 00:33] yujuhong commented on #37580
I can reproduce this process leak by running the "Network should recover from ip leaks" on my own node, *without* CRI enabled. The image used in the test was `gci-dev-57-9202-20-0`, and the docker version 1.11.2.
The test creates 100 pods, then restarts the docker service by `systemctl restart docker` 6 times, with 20s interval in between. After the test ends, there could be multiple processes run

[2017-02-14 00:35] yujuhong commented on #37580
On the side note, the test should not be blindly checking all `pause` processes. It should, instead, take a snapshot of the system before the test and only check the new `pause` processes created by the tests.

[2017-02-14 00:39] bprashanth commented on #39423
Yeah this controller can be quite a bit smarter.

Before getting into the implementation details, note:
* I don't know if all cloudproviders have a threadsafe implementation of the LB interface, we should verify and test before parallelizing operations in the core.
* We'll probably get the most gain from using health checks for all LBs, like we already do for "OnlyLocal" loadbalancers (https://kub

[2017-02-14 01:02] ixdy commented on #15639
I feel like things have probably gotten worse. Additional issues:

8. Far too many containers in one namespace (`gcr.io/google-containers`)
9. Container definitions (`Dockerfile`, build steps, etc) spread across a variety of repos (kubernetes, contrib, test-infra, and a multitude of feature repos)
10. Related to above, it's difficult to determine where an image's source lives (additional metadata

[2017-02-14 01:02] k82cn commented on #41235
Similar issue to kube-mesos; but I think we can discuss in kubernetes/community#132 for this case, e.g. add a notification to extender on finial result (maybe already covered).

[2017-02-14 01:05] ixdy commented on #8686
The "current state" of May 22, 2015 looks a lot like the "current state" of February 13, 2017.

How happy are we with this? How much of the "desired state" still makes sense to try to attempt?

x-ref #15639 which seems somewhat related

[2017-02-14 01:32] saad-ali opened #41374 "`release-1.5` build flaking"
`release-1.5` branch release builds have started to randomly fail; see https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-build-1.5/

All the failed builds:
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-build-1.5/122/
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-build-1.5/127/
* https://k8s-gubernat

[2017-02-14 01:39] ixdy commented on #41374
oh, I bet we need to cherry-pick https://github.com/kubernetes/kubernetes/pull/39773.

[2017-02-14 01:40] saad-ali commented on #41374
Ah nice, I'll get that cherry picked. Thanks.

[2017-02-14 01:44] madhusudancs commented on #41265
@perotinus will be working on this issue. He isn't in the assignees list. So I am assigning this to myself as a place holder.

[2017-02-14 02:14] netroby opened #41377 "Installing kube via kubeadm , kubectl logs kube-dns-xxxx : Error from server (BadRequest):"
OS: ubuntu 16.04 x86_64

I am try to install kube cluster as the guide describe : https://kubernetes.io/docs/getting-started-guides/kubeadm/

while i check all pods status :
[code]

[2017-02-14 02:15] netroby commented on #41377
and can not get flannel-ds logs
[code]

[2017-02-14 03:18] bruceauyeung commented on #41305
@irfanurrehman @madhusudancs the logs are very huge, so i pasted it here:
http://pastebin.com/raw/7L1BsKF0

[2017-02-14 03:23] liggitt commented on #36803
the name in a service port maps to the name field in the port struct of a corresponding endpoint. when there's only one, it's unambiguous. when there's more than one, you need the name on the servicePort and endpointPort to connect them.

[2017-02-14 03:30] mdshuai commented on #41199
@DirectXMan12 HPA can know which pods are "useless" by check get pod's cpu metrics.
In this case only one pod's cpu metrics is 802m, but others pods are cpu=0,  this means new created pods do nothing.
What I suggesting here is that if new created pods cpu=0 and keep a long time, we need rollback replicas=1 and give user some feedback.  or "CURRENT = total metrics/running pods" => "CURRENT = total

[2017-02-14 03:39] #28896 closed

[2017-02-14 03:44] liggitt opened #41379 "Add a configmap manager to cache duplicate configmaps"
Clone of https://github.com/kubernetes/kubernetes/issues/19188 for configmaps

A secret manager was added to the kubelet to reduce duplicate requests for secrets (if a secret was used in multiple volumes, pull secrets, and envvars)

The same should be done for configmaps to keep parity between those two objects.

cc @wojtek-t @yujuhong

[2017-02-14 03:44] liggitt commented on #19188
opened https://github.com/kubernetes/kubernetes/issues/41379 to track configmaps

[2017-02-14 03:44] #19188 closed

[2017-02-14 03:49] liggitt commented on #29675
Yes, `/apis/*` works as of https://github.com/kubernetes/kubernetes/pull/28304

[2017-02-14 03:49] #29675 closed

[2017-02-14 03:52] liggitt commented on #31665
The browser is required to authenticate when accessing the secured API server port. As https://github.com/kubernetes/kubernetes/issues/31665#issuecomment-247342834 demonstrates, that can be done with certificate-based authentication.

For token-based authentication, browsers do not give you a way to send bearer tokens automatically with your requests.

The dashboard describes how you can use `kube

[2017-02-14 03:52] #31665 closed

[2017-02-14 03:59] liggitt commented on #35576
Closing this as the original issue has been fixed.

DefaultStorageClass is a valid admission plugin in HEAD

[2017-02-14 03:59] #35576 closed

[2017-02-14 04:02] liggitt commented on #39086
is this resolved?

[2017-02-14 04:06] #40441 closed

[2017-02-14 04:08] liggitt commented on #40441
fixed in https://github.com/kubernetes/kubernetes/pull/36898

[2017-02-14 04:22] caesarxuchao commented on #41302
I agree with @lavalamp's vision.

[2017-02-14 04:57] chao007 opened #41381 "No storageclass info when using `cluster/kubectl.sh get pv` if create pvc with alpha annotation"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Kubernetes versi

[2017-02-14 05:11] screeley44 commented on #41381
I'll take a look at this

[2017-02-14 06:53] soltysh commented on #25908
@anshumanbh I'd suggest you:

1. use a persistent storage, you save the result file
2. use `hostPath` mount, which is almost the same as 1, and you've already tried it
3. upload the result file to a known remote location (s3, google drive, dropbox), generally any kind of shared drive

[2017-02-14 07:15] sttts commented on #39086
Yes.

[2017-02-14 07:15] #39086 closed

[2017-02-14 08:23] davidopp commented on #41235
We discussed this issue a bit in the sig-scheduling meeting today. IIUC the argument was that although initializer approach should be able to handle the "run code between scheduler choosing node and kubelet starting pod" (e.g. the Mesos use case), it doesn't handle (or would not easily handle) the (separate) feature request for the scheduler extender to find out which node was chosen before the bi

[2017-02-14 08:40] k82cn commented on #41235
So scheduler will also send a node candidates list to extender? and extender will bind it based on it local state?

[2017-02-14 08:43] davidopp commented on #41235
Both use cases are addressed by the 6-step process in my previous comment. For Mesos use case, scheduler starts task between step 5 and 6. For "local state" use case the extender records the binding in its local state between step 5 and 6. Does that make sense?

[2017-02-14 08:46] k82cn commented on #41235
That's great :). It also make kube-mesos simpler: less code on race condition handling.

[2017-02-14 08:56] pizzarabe commented on #27282
I am confused. If you can not label volumes at the moment, why is https://kubernetes.io/docs/user-guide/security-context/ talking about that?

[...]

[2017-02-14 08:57] GinFungYJF opened #41391 "What's the specification of the slave that runs "bazel build" in your jenkins CI ?"
I find it takes long time to build kubernetes. For some reason, I want to know the specification of the slave that runs bazel-build in the your CI. What's more, why your jenkins runs "bazel clean" before "bazel build" every time?

[2017-02-14 09:03] morallo commented on #41328
Thanks all for the replies.
Follow-up issue in kubernetes/dns: https://github.com/kubernetes/dns/issues/55

[2017-02-14 09:03] #41328 closed

[2017-02-14 09:12] piosz opened #41393 "Move fluentd images to contrib repo"
Fluentd image should not be a part of core Kubernetes. Fluentd configuration should be passed via ConfigMap.

cc @fgrzadkowski @igorpeshansky @qingling128

[2017-02-14 09:13] krmayankk opened #41394 "Deployment should support both Failure Domains and Update Domains"
Feature Request: Deployments should support the concepts of Failure Domains and Update Domains as first class citizens and it should be easy to request those features in the Deployment Spec.

Currently Kubernetes Deployments can spread pods across failure zones using the annotations  `failure-domain.beta.kubernetes.io/zone` on a best effort basis.We can make that a hard requirements by using pod a

[2017-02-14 09:27] krmayankk commented on #37563
Is this also about code reuse ?

[2017-02-14 09:55] kargakis commented on #37563
Certainly code reuse is nice to have but this issue is more about api consistency across the controllers.

[2017-02-14 11:05] #38340 closed

[2017-02-14 11:29] jamiehannaford commented on #33881
Does this still require a fix? If so, I'd like to help out. Am I correct in assuming the best fix would be the one suggested in https://github.com/kubernetes/kubernetes/issues/33881#issuecomment-256697325?

[2017-02-14 11:53] Phanindra48 commented on #40997
Logs from `/var/log/kube-apiserver.log`
[code]

[2017-02-14 12:52] neelance commented on #17088
@paralin I think the main confusion here is due to how Google Container Engine behaves. My first expectation on how Ingress should work was exactly what you described: Simply have multiple `Ingress` resources and the ingress controller will make all of them available on the same node port / IP address to the outside world, right?

But then I tested this:
[code]
And this is what I got on Google Con

[2017-02-14 13:23] jakexks commented on #39526
Just a quick note to say this is not specific to AWS, Running in vSphere, after around ~40 PVs the sheer number of reconciliation API requests killed the vSphere API, and maxed out the CPU on both the vSphere API host and the kube master node running the controller manager.

[2017-02-14 13:40] piosz commented on #41071
cc @brancz @fabxc

[2017-02-14 13:53] pizzarabe opened #41405 "Kubelet --read-only-port does not work"
**BUG REPORT**

**What happened**:

The configuration of --read-only-port=0 in kubelet does not disable the read-only-port

https://kubernetes.io/docs/admin/kubelet/

**What you expected to happen**:

If read-only-port=0 is configured the port should be disabled

(Changing the read-only-port to sth. else (for example 12050) does not work either)

**Kubernetes version** (use `kubectl version`):

[c

[2017-02-14 13:57] paralin commented on #17088
@neelance you're right, the GCE controller behaves differently than one might expect, and from how I think it's supposed to work, at least from how the developers explain it in this thread.

Maybe open another issue? This one is too far gone I think.

[2017-02-14 14:11] screeley44 commented on #41381
@chao007 - so the beta annotation works for OCP 3.4?  And only the alpha annotation doesn't show up?

[2017-02-14 14:31] pweil- commented on #22179
@krmayankk @pmorie @thockin This isn't a complex fix, here are what I think the issues will be:

1.  use fsgroup as the primary gid or not (I would vote for no which means a new api field which would be the bulk of the code).
2.  should the runAsNonRoot kubelet strategy also check the GID now?
3.  update the security context provider like so to send `--user=<uid>:<gid>` (sub out the new api field

[2017-02-14 14:32] luxas commented on #38228
@jessfraz Talked to you some weeks ago, are you gonna bump to go1.8 when it's ready like we thought?
Seems like we have to sort out the Hijacker issue, but apart from that I think it should be pretty straightforward
cc @ixdy @wojtek-t

[2017-02-14 14:33] pweil- commented on #22179
oh, and in addition, modify the PSP to allow a strategy for controlling said field.  The existing strategies should be able to be reused.

[2017-02-14 14:36] kargakis commented on #41377
Should be fixed in 1.5.3 and 1.6

[2017-02-14 14:37] pweil- commented on #22179
@php-coder FYI

[2017-02-14 14:54] irfanurrehman commented on #41305
@bruceauyeung, there seemed to be an issue in kubefed.
You can please pull the commit in the PR I raised, if you want to verify and confirm before it gets merged.

thanks!

[2017-02-14 14:56] kargakis commented on #41336
There is a bug with 'rollout status' not respecting strategy parameters. Can you also post the output of 'get pods' before you have a look at the status of the Deployment while you hit this timeout?

[2017-02-14 15:00] crassirostris opened #41411 "Create an e2e test to check whether system component's logs are ingested"
Problem https://github.com/kubernetes/kubernetes/issues/40936 showed, that despite e2e tests for container's logs, we still can encounter regressions for system logs.

We need to establish an e2e test for ingesting system components's logs:

* kubelet
* docker

CC @piosz

[2017-02-14 15:08] githubvick commented on #41284
Since I was using the flannel network, there was an issue with the communication between the pods in the flannel network.

Particularly this part, FLANNEL_OPTIONS="--iface=eth1" to be set as without it, it takes up the default interface and doesn't work. So, added the parameter and it worked. Thanks.

[2017-02-14 15:08] #41284 closed

[2017-02-14 15:11] krancour commented on #17088
@neelance, I had the same confusion initially. Container Engine's "L7" ingress controller isn't implemented using the familiar model that others have described here. It actually provisions an HTTP/S load balancer _per_ ingress. Besides not being what you want, that could also be costly. fwiw, I highly recommend dumping that ingress controller. I _think_ you can just uninstall it, but a more resili

[2017-02-14 15:18] timothysc commented on #41235
I just want to state on this issue, as I've mentioned on the SIG calls.  I'm firmly in the camp where I believe that it should be easy to fork and rebase your own scheduler and that maintaining the extender in the long term is actually a liability.

By compartmentalizing the scheduler and cleaning up the dependancies we can pretty easily make it where folks could write their own custom logic, and

[2017-02-14 15:25] xiang90 commented on #41054
what kind of documentation?

[2017-02-14 15:38] pmorie commented on #22179
@vpal sorry for the latency - github pings are not really usable for me these days.

I would be okay adding a feature that lets you control the primary GID of a container.  I *do not* want to make the FSGroup the primary GID.  FSGroup is supposed to be a supplemental group, and changing it to be a primary GID is not backward compatible and would break a number of existing users (anyone running Pos

[2017-02-14 15:52] rootfs commented on #38824
@justinsb @saad-ali  cinder volume has "force" detach
https://github.com/kubernetes/kubernetes/pull/39055

[2017-02-14 16:06] bcorijn commented on #30939
For what it's worth, I'm still seeing this behaviour on my cluster running the following configuration:
Kubernetes: 1.5.2 (spawned with kops 1.5.1)
OS: Ubuntu 16.04
Docker: 1.12.3 (and cgroup driver: cgroupfs)
Systemd: 229

Example output:
[code]

[2017-02-14 16:34] Crassirostris opened #41415 "DNS is unavailable from container on master node"
Currently, fluentd on master is unable to ingest logs from master node on GCE.

After some investigation it turned out that DNS (10.0.0.10) is unavailable from inside the fluentd container: no host can be resolved, doesn't depend on the fluentd image version. Fluentd container on the minion node works, no problems whatsoever.

Steps to reproduce:

* Spin up a cluster on GCE
* Check fluentd logs on

[2017-02-14 16:39] neelance commented on #17088
I have tried Nginx now and it works fine. I'll also take a look at Traefik.

So you and me have figured it out, but others will probably run into it again and again. Google Container Engine is one of the easiest ways to try/use Kubernetes and obviously people try the preinstalled ingress controller first.

How can we bring this up with the right people? The Kubernetes project is not directly respo

[2017-02-14 16:39] smarterclayton commented on #40491
Opened https://github.com/kubernetes/kubernetes/pull/41416 to print the panic.

[2017-02-14 16:51] fabxc commented on #41071
As etcd already exposes some of that information, is it necessary to proxy-expose it in the proposed component?
One wants to monitor the etcd instances simultaniously anyway.

That one might be tricky. How should size be measured and to what precision, e.g. number of records vs. bytes on disc.

[2017-02-14 16:57] bigkraig commented on #41154
@deads2k @erictune @liggitt I can take a shot at adding an exponential backoff retry on this. Would it be something that should be done at the credentialprovider level or is an ECR specific implementation good?

This is biting us pretty often. Thanks!

[2017-02-14 16:57] a-robinson opened #41419 "TestConfigMapController test flake"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/41412/pull-kubernetes-unit/17829/#k8siokubernetesfederationpkgfederation-controllerconfigmap-testconfigmapcontroller

[code]

[2017-02-14 16:59] piosz commented on #41415
cc @thockin @bowei @kubernetes/sig-network-bugs

[2017-02-14 17:11] #40427 closed

[2017-02-14 17:15] paralin commented on #17088
It is. GLBC is written by the same devs in the same repos

[2017-02-14 17:17] deads2k commented on #41154
I could see having a general kind of credential provider (peer to lazy maybe?) that knows to retry.  I don't remember if there's an obviously signal though.  Might require replumbing.

[2017-02-14 17:22] gnufied commented on #41307
Currently exponential backoff is disabled in attach and detach controllers and hence they do not suffer from this problem, if we do enable the exponential backoff then we might run into this issue.

I am going to close this for now.

[2017-02-14 17:27] HakShak commented on #38774
Because this seems to be popping up on related Google searches. If you are having this problem and it says `Error from server (InternalError): an error on the server ("unknown") has prevented the request from succeeding` (emphasis on the *InternalError* bit) and you have a Kube in GKE, you might need to check your project sshKeys, as they might be full (32kb max).

https://cloud.google.com/sdk/gcl

[2017-02-14 17:28] pierreozoux commented on #23525
I'm using GCE, and I didn't manage to make this storageClass working as expected.

Here is my kubectl version:
[code]

Here is my default storage class:
[code]

And if I:
[code]

the actual volume that get provisioned is a `standard` one and not an `ssd`.

I'd love to have this working :)

I just tried as @chrislovecnm said to s/pd-ssd/ https://www.googleapis.com/compute/v1/projects/myproject/zone

[2017-02-14 17:35] cmluciano commented on #39792
Does externalName work for your use case https://kubernetes.io/docs/user-guide/services/#without-selectors

[2017-02-14 17:40] neelance commented on #17088
I filed https://github.com/kubernetes/ingress/issues/276, that seems like the right place.

[2017-02-14 17:57] liggitt commented on #40383
I'd recommend you use the proxy subresource on the service, which does support patch:

[code]

[2017-02-14 18:01] liggitt commented on #40383
Not sure if we want to continue to expand the root proxy capabilities, but if we do, https://github.com/kubernetes/kubernetes/pull/41421 adds patch support

[2017-02-14 18:03] mml opened #41422 "Run some e2e tests against 2.2.1"
There are two reasons for this.

1. We'll be supporting users running 1.6 with 2.2.1 even though we'll encourage and support upgrading to 3.0.
2. There's always the risk that 3.0 won't be ready for 1.6.

The tests listed below currently run 3.0 in v2 mode, but should be switched to bring up clusters running against 2.2.1.  This is not an exhaustive list; it's just what we have right now.  Please a

[2017-02-14 18:21] calebamiles commented on #41422
**cc: @ethernetdan**

[2017-02-14 18:28] jingxu97 commented on #29903
@munjalpatel sorry for the late response. Are you still have the error every 24 hours? What version of kubernetes in your cluster? Thanks!

[2017-02-14 18:37] jessfraz commented on #38228
Yes that is the remaining issue and unfortunately I don't have the
bandwidth to look into right now :(

On Tue, Feb 14, 2017 at 6:32 AM Lucas Käldström <notifications@github.com>
wrote:

[2017-02-14 18:40] jessfraz commented on #41283
Ah this one too [ci-kubernetes-e2e-gci-gce-reboot-release-1.4](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot-release-1.4)

[2017-02-14 18:42] bowei commented on #41415
This is from HEAD?

[2017-02-14 18:44] mml commented on #41071
Can we substitute the term `API version` for `backend version`?  `API` vs `binary` is very clear, but `backend` is muddy, as evidenced by the first few comments in this issue.

[2017-02-14 18:48] Crassirostris commented on #41415
@bowei From HEAD today, can't say the exact commit

But the problem actually is there for quite some time, for two weeks at least.

[2017-02-14 18:57] alexbrand opened #41428 "Kube-scheduler dies when connection to API server is lost"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

kube-scheduler, scheduler, dies, lost, master

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): **BUG REPORT**

**Kubernetes version** (use `kubectl version`): **v1.5.2**

**Environment**:
- **Cloud provider or hardware configuration**:

[2017-02-14 19:02] anshumanbh commented on #25908
@soltysh I don't want the file to be stored permanently. On every run, I just want to compare that result with the last result. So, the way I was thinking of doing this was committing to a github repository on every run and then doing a diff to see what changed. So, in order to do that, I just need to store the result temporarily somewhere so that I can access it to send it to Github. Make sense?

[2017-02-14 19:11] jingxu97 commented on #39526
This might cased by the sync state every 5 second through cloud provider in
volume controller. PR #41363 change the default value to 1 minute. It was
also cherrypicked to 1.5.3. Please give it a try after upgrading the
version and kindly let us know whether there still any issue. Thanks!

On Tue, Feb 14, 2017 at 5:24 AM, Jake <notifications@github.com> wrote:

--
- Jing

[2017-02-14 19:14] munjalpatel commented on #29903
@jingxu97 Yes, I still have these errors. I have to manually delete the nodes everyday to fix the issue. All three nodes are currently on: 1.4.8.

[2017-02-14 19:32] bowei commented on #41415
There are two issues at work here:
1. kube-proxy is not run on the master node, which means service VIPs will not be accessible from the master.
1. fluentd pod that runs on the master uses ClusterFirst, which means the resolv.conf points to the service VIP.

One of those needs to change for the DNS to work.

[2017-02-14 19:33] Bekt opened #41432 "Deployment ReplicaSets not cleaned up, even with revisionHistoryLimit set"
**Is this a BUG REPORT or FEATURE REQUEST?** Bug Report

**Kubernetes version**:
[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CoreOS 1235.9.0
- **Kernel** (e.g. `uname -a`):
`Linux xx.ec2.internal 4.7.3-coreos-r2 #1 SMP Thu Feb 2 02:26:10 UTC 2017 x86_64 Intel(R) Xeon(R) CPU E5-2670 v2 @ 2.50GHz GenuineIntel GNU/Linux
`
- **Inst

[2017-02-14 19:34] Bekt commented on #40068
Opened a new issue as a bug report over at #41432.

[2017-02-14 19:42] #41323 closed

[2017-02-14 19:42] #41324 closed

[2017-02-14 20:02] yujuhong opened #41435 "kubelet log lines are dropped at times"
While debugging some failures on GCI (COS), a few people have noticed that some log messages that should've been there were missing in the output of `journalctl -u`.
One very likely cause is that journald rates limits the log messages of individual services and drops messages accordingly.

The configuration is in `/etc/systemd/journald.conf` and by default the limits are set to
[code]

If journald

[2017-02-14 20:20] Crassirostris commented on #41415
@bowei OK, thanks! I will try to change the dnsPolicy tomorrow to see if it helps

Could you please explain what have changed since 1.5? For what I know, fluentd was moved to DaemonSet, is this the reason?

[2017-02-14 20:22] jingxu97 commented on #29903
@munjalpatel Since we have quite some fixes since 1.4.8. Could you please try the latest version and let us know whether you still have the problem? If you need, you could also share with me your zone, project and cluster name so that I can take a look at the controller log.

[2017-02-14 20:27] micahhausler commented on #34137
I don't have a great way of monitoring PVC device usage without adding it to the kubelet `/metrics`. I already have prometheus set up, and cAdvisor doesn't pick up mounts from an EBS volume. Is there a better way to monitor PVC device usage?

[2017-02-14 20:32] montanaflynn commented on #23651
I'm running into this issue where we have our deployment and services defined in a file and use `kubectl replace` as part of automated deployment, the services don't actually change but we would like to keep them in the same file if possible.

[code]

[2017-02-14 20:40] fhaynes commented on #30939
I am also still seeing this behavior with 6 clusters setup identically to what @bcorijn has

[2017-02-14 21:04] #40936 closed

[2017-02-14 21:08] deads2k opened #41438 "need to provide a deep copy test"
The apimachinery roundtripping test does not ensure that deep copies work.  We need to provide a deep copy test that makes sure we don't end up with shallow copies.

[2017-02-14 21:13] Random-Liu commented on #41435
@yujuhong Thanks for filing the issue and found the cause. I also observed this for many times. This sometimes makes it very hard to debug when important logs are missing.

[2017-02-14 21:20] bowei commented on #41415
@piosz -- this looks like your change:

[code]

[2017-02-14 21:25] timstclair commented on #10834
I was just thinking about audit logging, and how it relates to some of the proposals discussed here. We don't currently have any logging of which commands were run through an exec shell (the initial command is logged as part of the request, but not the stdin stream). Since exec could be used to stream arbitrary data, there's a risk of filling up the audit logs with garbage if we logged all stdin.

[2017-02-14 21:35] verb commented on #10834
In the more generic solution it becomes a matter of cluster policy, e.g. restricting available debug images to the "logbash" image which logs all commands to some preferred log aggregator. I tend to lean towards solving this in an image rather than in the kubelet.

[2017-02-14 21:36] yujuhong commented on #41435
Some clarification: I only suspected that this could be the cause, but didn't have time to verify yet :-)

[2017-02-14 21:39] jingxu97 commented on #40972
@hongchaodeng Do you still experience this issue? Normally we can have an idea where the delay come from the log files. Could you please share the log when the issue happened? Thanks!

[2017-02-14 22:03] tonglil commented on #33871
This still seems the case and not made very explicit. Any updates?

[2017-02-14 22:11] adityakali commented on #33871
This has been fixed in the image sometime back. I believe the next Kubernetes image update (https://github.com/kubernetes/kubernetes/pull/41027) will pick up the new image with fixes.

[2017-02-14 22:15] vpal commented on #22179
@pmorie

Regarding this I would definitely do the opposite, like with Docker when you  `--user=<uid>:<gid>` provide on the command line it forces an override on the UID and GID. So you do this when you know what you are doing and you know that you want something else than what is defined in the image.
If someone does not use for example images directly from foreign repositories and has the opportu

[2017-02-14 22:18] thockin commented on #41394
This feels like a specific form of topological consideration.  I am finally going to open an issue on that.

[2017-02-14 22:31] smarterclayton commented on #41394
update domain sounds like something that is part of the deployment strategy and is related to custom deployment strategies, of which we have burned lots of electrons discussing.

We have a large number of deployments today that are not using `failure-domain.beta.kubernetes.io/zone` but instead using custom labels, sometimes with overlapping sets.  Something simple in deployment wouldn't really hel

[2017-02-14 22:32] smarterclayton commented on #41394
PodInjectionPolicy is also relevant for affinity @pmorie @jessfraz

[2017-02-14 22:33] jessfraz commented on #39845
fwiw when we launched it with docker i tested all the publically available dockerfiles on github and docker hub with it...

so it was not done without much testing, we also only had one issue iirc after the release which was a lot better than i expected.

[2017-02-14 22:38] tonglil commented on #33871
Thank you

[2017-02-14 22:42] thockin opened #41442 "Arbitrary topology through the system"
This topic has come up many times lately, so I am writing down my thoughts.

Assertion: topology is arbitrary.  Today we sort of capture "region" and "zone" as special things, which we decorate as labels on a few resource kinds.  That works for AWS and GCE and other clouds, but a) falls down in case of on-premise environments and b) isn't used pervasively (e.g. https://github.com/kubernetes/kubern

[2017-02-14 22:42] thockin commented on #41394
https://github.com/kubernetes/kubernetes/issues/41442

[2017-02-14 22:46] smarterclayton commented on #41442
Topology is arbitrary, based on what I see in existing production deployments and what we have enabled and encouraged via liberal use of labels.  Rack / bar / switch are already out there.

I will say that without topo-awareness on scale down or due to replacement complex topology is academic (the desired constraints are violated too easily).  Some form of convergence is more important to the peop

[2017-02-14 22:47] vishh commented on #39845
+1 for attempting to roll out the default docker configuration.

Ideally, we want users to use seccomp profiles that is fined tuned for each
container.
We might have to develop some tooling to make it easy to consume this
feature in k8s. The current approach of storing profiles on node's root
partition is complicated.

On Tue, Feb 14, 2017 at 2:34 PM, Jess Frazelle <notifications@github.com>
wrote

[2017-02-14 22:52] hongchaodeng commented on #40972
@jingxu97 What logs?

[2017-02-14 22:52] jessfs commented on #39845
Just want to add my +1 for making this the default.

[2017-02-14 22:54] timstclair opened #41443 "Log initiating user with request in kubelet for auditing purposes"
Requests are logged into the Kubelet log, but they don't currently include any identifying information. Simply identifying the authenticated user won't be particularly useful since it will all come through the apiserver. Rather, we want to log the user that initially sent the request to the apiserver, which was then forwarded to the kubelet. I believe acting-as attributes fill these requirements i

[2017-02-14 23:00] paralin opened #41444 "Digital Ocean load balancers / cloud provider"
**Environment**:
- **Cloud provider or hardware configuration**: Digital Ocean (unimplemented?)

Digital Ocean has just released their Load Balancer feature to General Availability.

https://www.digitalocean.com/products/load-balancer/

Now that Block Storage #39326 is also available, I think Digital Ocean should now be a good candidate for a new Cloud Provider implementation.

https://github.com/

[2017-02-14 23:04] liggitt commented on #41443
Kubelet authorization isn't as granular as the API server authorization. normal users would not be authorized to hit the Kubelet API directly, so Acting-As  wouldn't work here. I would rather rely on the audit log in the API server to see which users performed which actions

[2017-02-14 23:08] timstclair commented on #39845
feature in k8s. The current approach of storing profiles on node's root
partition is complicated.

Agreed, I consider this alpha-behavior. For both seccomp & apparmor I'd like to add the ability to consume a ConfigMap (or maybe a new resource) as a profile. However, I consider this tangential to the issue discussed here.

Adjusting the default is already supported through the PodSecurityPolicy, bu

[2017-02-14 23:26] ravigadde commented on #41235
PR submitted using #41447

[2017-02-14 23:27] ravigadde commented on #41235
@k82cn Would really appreciate if you can give this a spin.

[2017-02-15 00:01] calebamiles commented on #41010
closing per discussion

[2017-02-15 00:01] #41010 closed

[2017-02-15 00:03] calebamiles commented on #36847
done, @ericchiang

[2017-02-15 00:04] Bekt commented on #41432
Huh, I tested with `v1.5.2+coreos.2` and it's working as expected...

I'm not sure if you guys keep issues open for older versions, feel free to close otherwise.

[2017-02-15 00:04] skevy commented on #32526
@JeanMertz did you have any luck with this issue?

[2017-02-15 00:16] SydOps commented on #32522
Get help and dig the problem deeply, seems related this commit:

https://github.com/kubernetes/kubernetes/commit/5ccd7a325e342bdb4c17d2624983dde871ee2465

The forcedelete function is adjusted in version 1.5

https://kubernetes.io/docs/admin/node/

[2017-02-15 00:21] SydOps commented on #32522
Not sure why disable this function above kubernetes 1.5

We implement kubernetes in aws autoscaling group. If the terminated nodes keep `NotReady` status, a lot of daemonset pods are in pending status.

[2017-02-15 00:25] krmayankk commented on #22179
thanks all of you for jumping in . @pweil- where is the code that passed the primary uid and primary gid to docker ?
I think i agree with all of you that we need a new field for primary gid and we cannot use the fsgroup field. This feature should allow overriding the uid/gid in the image, and i think everyone agrees with that. @vpal you might have misunderstood @pmorie comments but i will let him