[2019-10-23 14:19] Timvissers commented on #83040
@xwang95054 Could you explain what the configuration issue was?

[2019-10-23 14:20] regardfs opened #84237 "make WHAT='test/e2e/e2e.test' Error"
**What happened**:
[code]

**What you expected to happen**:
Pass ....
**How to reproduce it (as minimally and precisely as possible)**:
make WHAT='test/e2e/e2e.test' on tag v1.13.10
**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.13.10
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`): centos7.6
- Kernel (e.g. `unam

[2019-10-23 14:21] regardfs commented on #84237
I want more document about how to setup an env for e2e test......

[2019-10-23 14:24] msau42 commented on #84226
What if you put it in protection controller instead so we avoid having to make significant changes to PV controller?

[2019-10-23 14:33] mcandre opened #84239 "Better error message on client, server version mismatches"
**What would you like to be added**:

* Replace confusing text

with a more accurate message like

* Link to https://kubernetes.io/docs/tasks/tools/install-kubectl/ for more assistance.

**Why is this needed**:

The current error message implies that the client is much older than the server, when in fact this error is just as likely to be caused by the client being much newer than the server.

The

[2019-10-23 14:39] gongguan commented on #73527
@wojtek-t  One concern about service selector cache: what if service's selector updated?
By the way, does the same problem exist in endpointslice controller?

[2019-10-23 14:44] tjmnmk commented on #50375
+1

[2019-10-23 14:47] gongguan commented on #73527
/unassign

[2019-10-23 15:02] xiaoanyunfei commented on #84214
/assign

The reason may be here

[2019-10-23 15:18] oxddr commented on #75541
/remove-lifecycle rotten

There were a lot of changes since I've opened this issue. I'll try to verify whether it's still the case and prepare fix if needed.

/assign

[2019-10-23 15:22] mikebrow commented on #47775
It is consistent.. but it is also confusing. The documentation is correct, but you have to read it all to get the gist and because it's confusing it is easy to make mistakes. suggest clarification with examples

[2019-10-23 15:24] mcandre opened #84240 "Official Docker images for kubectl"
**What would you like to be added**:

Publish an official Docker Hub images with the kubectl client installed, one per kubectl version to support different Kubernetes servers.

**Why is this needed**:

Some Kubernetes job workflows require using Kubernetes clients to manipulate command line calls to other pods.

https://hub.docker.com/search?q=kubectl&type=image

The good news is that Docker Hub h

[2019-10-23 15:27] mcandre opened #84242 "Automatically hoist kubectl binary into pods"
**What would you like to be added**:

Just like Kubernetes automatically inserts credentials and environment variables into pods, it could also insert kubectl client binaries.

**Why is this needed**:

kubectl client versions are limited to a select range of Kubernetes server versions. By automatically providing access to the right client in each pod, the user is relieved of having to manage and c

[2019-10-23 15:44] liggitt commented on #78605
opened https://github.com/kubernetes/enhancements/pull/1332 with a proposal for an automated way to ensure no beta REST APIs or features are required to pass conformance

[2019-10-23 15:44] liggitt commented on #78613
opened kubernetes/enhancements#1332 with a proposal for an automated way to ensure no beta REST APIs or features are required to pass conformance

[2019-10-23 15:45] majjihari opened #84244 "kube-proxy log shows Failed to retrieve node info: Unauthorized"
/sig latest
**What happened**:
kubeadm initialized successfully with below command:
sudo kubeadm init --config kubeadm-config-external-etcd.yaml --upload-certs --v=6

Below is kubeadm-config-external-etcd.yaml file
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: stable
controlPlaneEndpoint: "192.168.0.87:6443"
etcd:
    external:
        endpoints:
        - https:

[2019-10-23 15:55] alenkacz opened #84245 "node-kubelet-master is failing in master-blocking"
**Which jobs are failing**:
node-kubelet-master

**Which test(s) are failing**:
test setup

**Since when has it been failing**:
23rd October 16:46 PDT

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#node-kubelet-master

**Reason for failure**:
[code]

**Anything else we need to know**:

/priority critical-urgent
/milestone v1.17
/cc @epk @alejandrox1 @hasheddan @Verolop

[2019-10-23 15:56] alenkacz commented on #84245
/sig node

[2019-10-23 15:58] liggitt opened #84246 "kube-apiserver fails to start if scheduling.k8s.io/v1beta1 is disabled"
1. Run the apiserver with `--runtime-config=scheduling.k8s.io/v1beta1=false`
2. View the log

[code]

/sig scheduling
/milestone v1.17

xref https://github.com/kubernetes/enhancements/pull/1332

Fixed by https://github.com/kubernetes/kubernetes/pull/76362

[2019-10-23 15:58] liggitt commented on #84246
/priority important-soon

[2019-10-23 15:58] liggitt commented on #84246
/kind bug

[2019-10-23 16:03] liggitt commented on #84246
cc @yue9944882

[2019-10-23 16:05] neolit123 commented on #83929
the --v flag?

[2019-10-23 16:09] majjihari commented on #84244
/sig platform/other

[2019-10-23 16:12] majjihari commented on #84244
platform/other

[2019-10-23 16:18] philipp1992 opened #84247 "vmware uuid upper / lower case issue with kubernetes cloud provider"
**What happened**:

When configuring kubernetes for vsphere cloud provider, the following errors occurs when creating a dynamically provisioned vsphere pvc:

vsphere.go:1108] Starting to create a vSphere volume with volumeOptions: &{CapacityKB:3145728 Tags:map[kubernetes.io/created-for/pvc/namespace:vsan-test kubernetes.io/created-for/pvc/name:task-pv-claim kubernetes.io/created-for/pv/name:pvc-30

[2019-10-23 16:20] liggitt commented on #76674
xref https://github.com/kubernetes/enhancements/pull/1332

[2019-10-23 16:22] liggitt commented on #69836
xref https://github.com/kubernetes/enhancements/pull/1332

[2019-10-23 16:50] ahg-g commented on #84186
/cc @liu-cong

[2019-10-23 17:00] tpepper commented on #82467
@dims is there additional info sought, if so I'm happy to do more or ready to close this?

[2019-10-23 17:01] philipp1992 commented on #84247
sig platform/other

[2019-10-23 17:06] cwdsuzhou commented on #84136
Thanks, after I read the codes, I find the event did not send

[2019-10-23 17:09] andreib1 commented on #81723
Thanks.  I know those events are available, and you are right, they are very useful.  When it comes to cluster monitoring though, I want to be able to see why my pods are being turned over.  Kublet knows the reason, and it generates a log to tell me it killed the pod.  But at the moment it's hiding this reason.  This should be surfaced so that I can then get a metric of pods being killed due to OO

[2019-10-23 17:18] MrHohn commented on #80070
/remove-lifecycle stale

[2019-10-23 17:19] wmgroot commented on #78056
We have the same desire at our company to allow developers to list the names of secrets for debugging and transparency, without being able to read the secret itself.

/remove-lifecycle stale

[2019-10-23 17:24] dims commented on #82467
+1 to close this for now @tpepper

/close

[2019-10-23 17:24] #82467 closed

[2019-10-23 17:44] tallclair opened #84248 "Node-local API cache"
**What would you like to be added**:

A dedicated node-local API for retrieving node-local resources, including:
- Pods scheduled to the node
- The node object itself

The API should have clear semantics for adding additional resources as needed. This includes consistent API paths, SubjectAccessReview patterns, SLOs around cache accuracy, and cache-miss handling.

**Why is this needed**:

For larg

[2019-10-23 17:45] tallclair commented on #84248
related: https://github.com/kubernetes/kubernetes/issues/28610

[2019-10-23 17:53] liggitt commented on #78056
Thanks for the feature request, but this is unlikely to make progress as an issue. A proposal that works through the design along with the implications of such a change can be opened as a [KEP](https://github.com/kubernetes/enhancements/tree/master/keps#kubernetes-enhancement-proposals-keps).

/close

[2019-10-23 17:53] #78056 closed

[2019-10-23 17:53] oomichi commented on #78613
@liggitt Thanks for doing that, +1

[2019-10-23 17:55] tedyu commented on #80070
@MrHohn
Do you have suggestion where the check for resolv.conf limit should be moved to ?

Thanks

[2019-10-23 18:05] soltysh commented on #83774
This was discussed during today's SIG-CLI and we've agreed that given the workaround described in https://github.com/jetstack/cert-manager/issues/2197#issuecomment-541023390 we don't see any value to work on this.
If you can provide us with a reasonable argument why this should be fixed, please feel free to repoen and report that.

[2019-10-23 18:05] #83774 closed

[2019-10-23 18:42] FerronN opened #84252 "kubelet.service won't start"
I've updated (1.14 > 1.15) my cluster a few months ago and everything was working fine. Now I can't connect on the master node to kubectl (The connection to the server <ip>:6443 was refused - did you specify the right host or port?), because the kubelet service won't start.

[code]

[2019-10-23 18:49] tedyu commented on #80070
@MrHohn
How about lifting the resolv.conf check to the beginning of Kubelet#syncLoop (outside the for loop) ?

[2019-10-23 19:07] tedyu commented on #84252
/etc/kubernetes/bootstrap-kubelet.conf doesn't exist.
Since it was working for some time, the file was likely deleted recently.

[2019-10-23 19:11] liu-cong commented on #83472
In migrating custom predicates to filter plugins #84187, I am gonna ignore the custom predicate name and use the default name.

[2019-10-23 19:15] FerronN commented on #84252
@tedyu it doesn't exist, that's true, but any clue on how to get it back/generate? I can't find a thing about it.

[2019-10-23 19:16] fejta commented on #80120
Sounds fine to me, but I'm not a maintainer of kubectl. You'll need to get the attention of sig-cli

https://github.com/kubernetes/community/tree/master/sig-cli

[2019-10-23 19:22] #77130 closed

[2019-10-23 19:48] #82149 closed

[2019-10-23 19:49] cblecker commented on #65180
/woof

[2019-10-23 19:51] #84209 closed

[2019-10-23 19:53] mitar commented on #80346
/remove-lifecycle stale

[2019-10-23 19:58] cheftako commented on #78271
/remove-lifecycle rotten

[2019-10-23 19:58] cheftako commented on #78271
/lifecycle frozen

[2019-10-23 20:03] aadhik opened #84254 "IP Forwarding disabled causes K8s services exposed over clusterIP to fail"
**Disabling ip forwarding on host machine causes cluster Ip exposed service to fail

**Security requirement mandates ip forwarding to be disabled , as sson as we do that , cluster IP fails for services , also the core dns starts crashing , as its not able to access its services:

**Expose a nginix service over cluster IP , disable ip forwarding **:

**Anything else we need to know?**:

**Environme

[2019-10-23 20:14] EmanekaT commented on #83698
I confirmed that this is fixed in 1.16.2.

[2019-10-23 20:14] #83698 closed

[2019-10-23 20:29] FerronN commented on #84252
All my certs where renew in all files except in kubelet.conf. Don't know why, but this fixed it.

`sudo kubeadm alpha kubeconfig user --org system:nodes --client-name system:node:$(hostname) > kubelet.conf`

[2019-10-23 20:29] #84252 closed

[2019-10-23 20:30] wongma7 commented on #84226
Agree. Another idea I was thinking is now that we have volumeAttachment objects we could use those for synchronization between attach/detach controller and pv controller, but actually using `node.status.volumesAttached` is much simpler and works for all plugins, not just csi.

As for putting it in the protection controller, I think it is achievable but it will be in a roundabout way.

If we use pr

[2019-10-23 20:49] msau42 commented on #84226
Protection controller would need to keep the finalizer on until the volume is gone from volumesAttached.  The way I see it, PV controller and attach/detach controller have independent concerns.  Protection controller is actually coordinating operations between all these other controllers (ie kubelet and pv controller, AD and pv controller, etc)

[2019-10-23 20:54] 2rs2ts commented on #56582
Another use case: the Kubernetes Service Catalog. It makes secrets based on ServiceBinding names (from what I understand) and we don't want to give it the ability to CRUD _all_ secrets in whatever Namespace is using the Service Catalog to create things with the AWS Service Broker. If we could restrict the secrets it could manipulate to specific names we could avoid giving it an escalation path to

[2019-10-23 21:07] 2rs2ts commented on #56582
By the way, "fragile" is better than "broken" which is what the current system that requires you to give way too broad access is :)

[2019-10-23 21:23] wongma7 commented on #84226
OK. PV controller still needs to be aware of the finalizer somewhere before it calls `reclaimVolume`. But I see your point about offloading the logic to protection controller.

[2019-10-23 21:26] bhagwat070919 opened #84256 "AWS Cloud Provider attempts to delete LoadBalancer security group it didn’t provision"
**What happened**:

- Created multiple services with LoadBalancerType as ELB , added a annotation of  `service.beta.kubernetes.io/aws-load-balancer-security-groups` with the same SG for all services.
- Deleted one of the services.
- The cloudcontroller tries to delete the SG by annotation.
- This also causing aws api throttling.

**What you expected to happen**:

- Service and ELB should get delet

[2019-10-23 21:27] bhagwat070919 commented on #84256
/sig aws

[2019-10-23 21:28] bhagwat070919 commented on #84256
/platform/aws

[2019-10-23 21:31] bhagwat070919 commented on #84256
/sig platform/aws

[2019-10-23 21:31] bhagwat070919 commented on #84256
/sig cloud-provider

[2019-10-23 21:32] bhagwat070919 commented on #84256
/area provider/aws

[2019-10-23 21:37] msau42 commented on #84226
The protection controller today already controls when PV controller goes into reclaim with the existing finalizer.

[2019-10-23 21:44] odinuge commented on #78964
/close

[2019-10-23 21:44] #78964 closed

[2019-10-23 21:48] wongma7 commented on #84226
Is is it like: finalizer on the PVC prevents PVC from being deleted which controls whether PV doesn't go into Released. Anyway, I can read the protection controller code on my own time... (Since I don't understand it I think that disqualifies me from implementing this? :))

[2019-10-23 21:55] todd-dsm commented on #79606
just ran into this myself; here's a [workaround]; it's not sexy but it totally works.

Output from a run just iterates from the replica count:

[code]

Should only have to adjust `$deployName` and `$deployReplicas`.

[workaround]: https://github.com/todd-dsm/kafka-ops/blob/master/scripts/inst_zookeeper.sh#L81-L87

[2019-10-23 22:07] tariq1890 commented on #51641
/reopen
/remove-lifecycle rotten

[2019-10-23 22:15] msau42 commented on #84226
Yes that's the gist of it :-)  If you're interested, here's some leisure reading:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/postpone-pvc-deletion-if-used-in-a-pod.md

[2019-10-23 22:20] mrueg commented on #82326
Since docker-ce 18.09 has reached EOL and there are no new versions planned (https://github.com/docker/docker-ce/pull/621#issuecomment-545649667), it would be great to have official support for a newer version of docker-ce.

[2019-10-23 22:22] abursavich opened #84257 "CustomResourceDefinitionSpec missing default scope value"
**What happened**:
The comments for the `Scope` field in `apiextensionsv1.CustomResourceDefinitionSpec` state that the default value is `Namespaced`, however no default value is set.

- Default value and comment removed: https://github.com/kubernetes/kubernetes/commit/05d8b448d274e30772750fcea71b10c8177e556e
- Comment re-added: https://github.com/kubernetes/kubernetes/commit/e60b82a7b83b982a28399f

[2019-10-23 22:22] abursavich commented on #84257
cc: @liggitt

[2019-10-23 22:24] cofyc commented on #84226
Is it possible that a volume may fail or take some time to detached from the host. If it has any chance, it might not a good idea to delay pvc deletion in this case. This will prevent users from using the pvc with the same name to claim a new volume or slow down this process.

When using statefulset, pods have stable storage identities. If associated volume has failures or a new empty volume is re

[2019-10-23 22:27] abursavich commented on #84257
/sig api-machinery

???

[2019-10-23 22:31] msau42 commented on #84226
I think this is not an issue for cloud volumes, which protect against deletion in its control plane, but for other plugins that don't have this kind of protection, would deleting the volume first cause detach to permanently fail?

[2019-10-23 22:31] wongma7 commented on #84226
Would need metrics to prove this, but my suspicion is that implementing this would actually improve pvc deletion time.

Currently, deletion fails repeatedly while the volume is still attached and it exponentially backs off. Then the next step after the volume is detached succeeds.

With this implemented, deletion should succeed on the first try almost immediately after the volume is detached.

[2019-10-23 22:37] cofyc commented on #84233
/sig storage
HostExec was originally written for local PV tests. If we want to replace SSH in e2e, some features must be supported and I’d like to help on this.
cc @msau42 @jsafrane

[2019-10-23 22:42] liggitt commented on #84257
This is a documentation bug (the improved docs were copied from v1beta1 and this diff was missed). The default is intentionally omitted to make CRD creators explicitly state their scope.

/kind documentation

[2019-10-23 22:53] #83794 closed

[2019-10-23 22:53] neolit123 commented on #82326
please see:
https://github.com/kubernetes/kubeadm/issues/1821#issuecomment-539059244

[2019-10-23 22:58] xueweiz commented on #72878
Hi @wenjun8888 , the [patch](https://lore.kernel.org/patchwork/patch/1135155/) was accepted and first released in Linux kernel 5.4-rc3. See [here](https://github.com/torvalds/linux/blob/v5.4-rc3/kernel/sched/fair.c#L4934).

If you could use Linux 5.4-rc3, or somehow apply the patch to your current kernel, that might be helpful :)

[2019-10-23 23:15] cofyc commented on #84226
Right now pvc can be deleted immediately if the pod is gone (pvc protection controller). It’s not possible to improve pvc deletion time.

I might be wrong. Volume is going to be released and reclaimed (Delete reclaim policy) after pvc is deleted. If we are going to solve this issue in protection controller, pvc deletion should be delayed until volume is detached? My concern is this might slow down

[2019-10-23 23:21] mabushey commented on #76782
Can this be reopened?

[2019-10-23 23:21] mabushey commented on #76782
/reopen

[2019-10-23 23:22] msau42 commented on #84226
For cloud volumes, deletion will be triggered, but will fail repeatedly until volume is detached because the cloud control planes prevent disks from being deleted while attached.

[2019-10-23 23:24] mabushey opened #84263 "kubectl describe pv <pv name> should tell the user what nodes the hostpath was created on"
#76782 was incorrectly closed by a bot so I'm reopening it here.

When you have a local provisioner and create a PV, describe needs to tell you what node the PV is on. This isn't a nice to have feature, it's a BUG.

[2019-10-23 23:25] cofyc commented on #84226
I see. Sorry I don’t know much about cloud volumes.

[2019-10-23 23:26] mabushey commented on #84263
@kubernetes/sig-bug

[2019-10-23 23:33] cgthayer commented on #44377
Hmm, setting the storageClassName to the empty-string didn't work for me on GKE.

[code]

[2019-10-23 23:35] wenjiaswe commented on #82641
/assign @jingyih as you mentioned you would like to update etcd server side to 3.4.3.

[2019-10-23 23:43] jingyih commented on #82641
Sounds good. I will work on updating default etcd server to 3.4.3.

/assign

[2019-10-24 00:01] cofyc commented on #84226
I agree this problem should be solved but don’t think it is a good idea to delay pvc deletion to delay volume deletion. I remember there are some issues to detach volumes from unresponsive nodes (because we don’t know the node is shut down or only inaccessible from apiserver).

I prefer implementing it in pv controller.

[2019-10-24 00:40] saad-ali commented on #84169
@cduchesne did some great debugging on this. Here is what he found:
* Kubernetes volume layer has code to periodically verify that volumes are attached.
* It triggers every minute by default.
* For CSI, the Kubernetes volume code has NOT implemented "bulk verify volume attach", so kubernetes falls back to calling verify volumes attached PER NODE.
* The Kubernetes CSI code fetches a `VolumeAttachme

[2019-10-24 00:47] draveness commented on #82702
/reopen

[2019-10-24 01:04] davidz627 commented on #84169
Would recommend this method since #79743 means that the sync is not actually doing anything. Until this is resolved the VerifyVolumesAttached for CSI is just wasting resources.

[2019-10-24 01:10] draveness commented on #84248
Hi @tallclair, do you mind if start to work on this?

[2019-10-24 01:18] draveness commented on #80372
I think the PodFilter has already been moved to listers package by @ahg-g

[2019-10-24 01:18] draveness commented on #80372
we could close this one if it is the job left.

[2019-10-24 01:24] ahg-g commented on #80372
this is done indeed.

/close

[2019-10-24 01:24] #80372 closed

[2019-10-24 01:43] gongguan commented on #84248
/assign

[2019-10-24 01:51] Davidrjx commented on #83929
yes

[2019-10-24 01:54] danielqsj commented on #84257
/assign

[2019-10-24 02:20] #78367 closed

[2019-10-24 02:35] hchenxa opened #84269 "can not build echoserver on s390x"
**What happened**:
[code]

**What you expected to happen**:

the docker image should be built on s390x

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Net

[2019-10-24 02:36] hchenxa commented on #84269
/sig test

[2019-10-24 02:41] hchenxa commented on #84269
/sig testing

[2019-10-24 03:03] rhockenbury commented on #84247
The provider id doesn't look right.  What vsphere version and vm hardware version are you using?  Also, k8s 1.11 might have the bug where the provider is pulled from the `product_uuid` instead of `product_serial`.

[2019-10-24 03:31] simonxlh commented on #79384
I have tried this replace.But it reminds that

go: bk-bcs/bcs-mesos/bcs-process-daemon/process-daemon/manager imports
	k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/util/json: k8s.io/kubernetes/staging/src/k8s.io/apimachinery@v0.0.0-20191024020719-31b7e3d90535: parsing go.mod:
	module declares its path as: k8s.io/apimachinery
	        but was required as: k8s.io/kubernetes/staging/src/k8s.

[2019-10-24 03:36] wuyafang commented on #82285
I don't know. #79657 is into kubernetes:master on 11 Jul. Maybe versions which released after that time? emm..you can check the code by yourself

[2019-10-24 03:51] gongguan commented on #73527
/assign

[2019-10-24 04:05] rnsv commented on #71851
I was able to workaround this issue as follows

[code]

[2019-10-24 04:35] BenTheElder commented on #83903
TLDR pretty sure this is permanently fixed now FWIW, we had fun tracking this down 😅

[2019-10-24 04:36] willthames commented on #82573
One point to note here is that setting the `fsGroup` to the gid of the pod is a commonly documented workaround for this issue. However, this gid is typically 0 by default, which doesn't seem ideal - but if you then set the gid of the pod with `RunAsGroup`, this solution no longer works (`fsGroup` seems to be dropped if `RunAsGroup` is set to the same value (presumably as it's no longer a supplemen

[2019-10-24 05:03] #84246 closed

[2019-10-24 05:04] vivisquirrel opened #84272 "Events from "kubectl describe" are incorrect when pod contains multiple contianers. (1.15.2)"
**What happened**:
The events information from "kubectl describe pod xxx" is incorrect, some important events are missing. in this case, image pulling event is missing.
**What you expected to happen**:
new image pulling event is expect to be showed in "kubectl describe pod xxx" outputs.
**How to reproduce it (as minimally and precisely as possible)**:
[step1]
create a manifest shown as below. ther

[2019-10-24 05:23] #75357 closed

[2019-10-24 06:07] negz commented on #70147
I came across this issue because it bore resemblance to a defunct design I wrote a few months back for https://github.com/crossplaneio/crossplane/. Crossplane is in part a series of controllers that provision and manage the lifecycle of cloud based resources (e.g. AWS RDS instances, GCP CloudMemorystore instances, etc)  given a set of Kubernetes custom resources representing those things. We use a

[2019-10-24 06:14] draveness commented on #84248
Per offline discussion with Tim. This is a very big issue. And I'm going to work on it. Thanks @gongguan

/assign

[2019-10-24 06:15] wojtek-t commented on #80289
/remove-lifecycle stale

[2019-10-24 06:26] liggitt commented on #84272
When many events are generated for a single pod, the kubelet may rate limit events and not send them. Event recording is best effort by the kubelet in order to avoid overwhelming the API server. cc @derekwaynecarr

[2019-10-24 06:45] gongguan commented on #84248
/unassign

[2019-10-24 06:47] hhxyda opened #84278 "Kubernetes building is failing runtime Kubernetes building is failing"
go version: go1.12.7.linux-amd64.tar.gz
kuberbetes-version:release-1.15
bulid problem：
k8s.io/kubernetes/cmd/kubeadm
fatal error: runtime: out of memory

runtime stack:
runtime.throw(0x6785f7, 0x16)
	/usr/local/go/src/runtime/panic.go:617 +0x72
runtime.sysMap(0xc030000000, 0x4000000, 0x85a7b8)
	/usr/local/go/src/runtime/mem_linux.go:170 +0xc7
runtime.(*mheap).sysAlloc(0x842d00, 0x38c000, 0x842d10,

[2019-10-24 06:55] hprateek43 commented on #71863
@alculquicondor I reviewed the scheduler and think we can safely move `error_channel.go` and its test cases into an internal package. I just made this change on a local branch and seems to work. Will open a issue for it and send the PR for merge.

[2019-10-24 07:06] zouyee commented on #84278
[code]
There may be not enough memory, try opening swap

[2019-10-24 07:09] matthyx commented on #84178
I have proposed a PR, but could you elaborate on your wip... as it doesn't seem this case is correctly detected by the tests I have added?

[2019-10-24 07:13] draveness commented on #84248
/remove-help

[2019-10-24 07:23] philipp1992 commented on #84247
[root@worker~]# cat /sys/class/dmi/id/product_serial
VMware-42 28 e7 84 3f 9e 99 8e-31 1b 29 a2 5a d1 12 d3

[root@worker~]# cat /sys/class/dmi/id/product_uuid
4228E784-3F9E-998E-311B-29A25AD112D3

kubectl get nodes -o json | jq '.items[]|[.metadata.name, .spec.providerID, .status.nodeInfo.systemUUID]'
[
  "worker",
  "vsphere://4228e784-3f9e-998e-311b-29a25ad112d3",
  "4228E784-3F9E-998E-311B-29A

[2019-10-24 07:27] smourapina commented on #78893
@feiskyer @justaugustus Bug triage for 1.17 here with a gentle reminder that code freeze for this release is on November 18. Is this issue still intended for 1.17?

[2019-10-24 07:30] smourapina commented on #78904
@tnozicka @liggitt Bug triage for 1.17 here with a gentle reminder that code freeze for this release is on November 18. Is this issue still intended for 1.17?

[2019-10-24 07:31] gongguan commented on #84248
Ok, I'll watch and learn.

[2019-10-24 07:31] odinuge commented on #84178
Thanks for the PR! My wip didn't get that much further, and I am still not sure what the best way is.

The "main" difficulty I see is that fact that a probe can only hold one of two values:

https://github.com/kubernetes/kubernetes/blob/ea4570a412a918e24a89992c0daa80efda4a7ae5/pkg/kubelet/prober/results/results_manager.go#L43-L51

In StartupProbe we need to initialize with one of them, and detect

[2019-10-24 07:37] smourapina commented on #76342
@johnSchnake Bug triage for 1.17 here. This issue has been open for a significant amount of time and since it is tagged for milestone 1.17, we want to let you know that the 1.17 code freeze is coming in less than one month on November 18th. Will this issue be resolved before then?

[2019-10-24 08:07] zq-david-wang commented on #45476
Limiting kernel memory usage may help preventing a rouge process spawn  way too many threads causing the host out of resources

[2019-10-24 08:21] thdrnsdk commented on #84142
same issue
i think it was really critical iuuse so hope hot fixed asap

[2019-10-24 08:26] ProgramerGu opened #84281 "kubernetes 1.13.4 patch extended-resource Invalid sig/api-machinery"
**What happened**:
I use client-go (API) to patch a node for some Resources，information like this
name 127.0.0.1
type application/json-patch+json
data [{"op":"add","path":"/status/capacity/xxx-volume","value":"10"}]
It return with no error but the node status didn`t change,Resources didn`t patch successful.
Why is this happening?and what should I do to fix it?
Please......

**What you expected to

[2019-10-24 08:32] ProgramerGu commented on #84281
/sig api-machinery

[2019-10-24 08:33] tedyu commented on #84248
It would be good to get agreement on the points raised under Open design questions before implementation starts.

[2019-10-24 08:36] smourapina commented on #78164
@wongma7 @justinsb Bug triage for 1.17 here with a gentle reminder that code freeze for this release is on November 18. Is this issue still intended for 1.17?

[2019-10-24 08:42] smourapina commented on #82158
@verb Bug triage for 1.17 here with a gentle reminder that code freeze for this release is on November 18. Is this issue still intended for 1.17?

[2019-10-24 08:55] verb commented on #82158
@smourapina Yes, please keep it in 1.17. I will look at it more today.

[2019-10-24 09:12] alculquicondor commented on #80372
For reference, this was the fixing PR #84193

Thanks, guys

[2019-10-24 09:13] opengers commented on #81308
@njuicsgz  In fact, `tcpfin` in `ipvsadm -l --timeout` is corresponding to the TCP FIN_WAIT state.

![image](https://user-images.githubusercontent.com/8316357/67470480-614a0b00-f680-11e9-8ea8-29e86acb81aa.png)

[2019-10-24 09:27] smourapina commented on #70249
@tallclair @yuwenma Bug triage for 1.17 here with a gentle reminder that code freeze for this release is on November 18. Is this issue still on track for 1.17?

[2019-10-24 09:34] matthyx commented on #84178
@thockin maybe you could jump in?

[2019-10-24 10:27] mozhata commented on #38806
encountered some problem

[code]
I thought pod should keep pending rather than create a new pod
what should I do to avoid this ?

[2019-10-24 10:44] wojtek-t opened #84284 "Migrate Kubemark to distroless"
There are CVEs happening in different images - we already migrated Kubmeark from busybox in https://github.com/kubernetes/kubernetes/pull/84231, but we should go one step further and migrate the base image to distroless.

There are some things that would need to be changed mentioned here:
https://github.com/kubernetes/kubernetes/pull/73539

/sig scalability

[2019-10-24 10:45] wojtek-t commented on #84284
@kubernetes/sig-scalability-bugs @mm4tt

[2019-10-24 10:55] lordcf opened #84285 "Error getting while creating elasticsearch stateful set"
Access Modes:  [ReadWriteOnce]
Events:
  Type     Reason            Age                 From                    Message
  ----     ------            ----                ----                    -------
  Normal   SuccessfulCreate  25m                 statefulset-controller  create Claim data-es-cluster-0 Pod es-cluster-0 in StatefulSet es-cluster success
  Warning  FailedCreate      22s (x67 over 2

[2019-10-24 10:56] notpad commented on #84284
Can I work on this?
/assign

[2019-10-24 10:56] notpad commented on #84284
/remove-help

[2019-10-24 10:59] wojtek-t commented on #84284
@notpad - sure that would be great.

[2019-10-24 11:31] kwaazaar commented on #45419
I don't seen this issue mentioned in the changelog for 1.14. Does that mean it was not cherry picked (yet)? Will it be?

[2019-10-24 11:33] draveness commented on #84248
Yes, I'll open a KEP first before pulling the implementation

Regards,
Draven
On Oct 24, 2019, 4:40 PM +0800, Ted Yu <notifications@github.com>, wrote:

[2019-10-24 11:53] alenkacz commented on #84245
duplicate of #84236

[2019-10-24 11:53] #84245 closed

[2019-10-24 11:55] starchx opened #84287 "AWS Cloud Controller add/remove security group ingress inconsistency"
**What happened**:

When creating a service backed by AWS Elastic Load Balancer, and when the cluster tag "kubernetes.io/cluster/<EKS cluster name>" is *not* present on worker node security group:

* Creating the service: an ingress rule was successfully created in worker node security group with load balancer security group as source. Expected.
* Deleting the service: the ingress rule created ear

[2019-10-24 12:05] danil-smirnov commented on #16707
Can we have this implemented?

[2019-10-24 12:05] starchx commented on #84287
/sig cloud-provider

[2019-10-24 12:06] starchx commented on #84287
/remove-sig network

[2019-10-24 12:13] konghui commented on #80410
/remove-lifecycle stale

[2019-10-24 12:17] wojtek-t commented on #84107
@danwinship - still failing. This time the error is
[code]

We probably need to clean up sanityChecks a bit more - this seems to be a similar issue.

[2019-10-24 12:18] danwinship commented on #84107
yeah, I'll temporarily un-`[Slow]` the tests in my next PR so I can make sure they're actually fixed this time

[2019-10-24 13:06] jsafrane commented on #84226
IMO, it's only clouds who implement 3rd party attach - because there must be some control over the hosts (real HW, not necessarily VMs) to add / remove devices there. And those typically have a protection.

The reason we have PVC protection is that users tend to delete PVCs while they still have running pods. They then get surprised that their PV is deleted and their pod is not happy that underlyi

[2019-10-24 13:21] NickScottKortical commented on #39420
Yup, i am still seeing this happen as well.

[2019-10-24 14:03] johnSchnake commented on #76342
I think that we have followed this issue to a reasonable conclusion; there are 3 pending PRs up that will further image consolidation and fixup some tests.

I will take a look at the "and improve documentation" part of this today and see if there is some clear work that needs done on that front.

I don't think anything beyond those tickets needs done and this is just an umbrella ticket for those r

[2019-10-24 14:11] ahg-g opened #84296 "Add unit test to catch scheduler's node order evaluation regressions"
**What would you like to be added**:
A unit test that verifies the evaluation order of the nodes in the scheduler.

**Why is this needed**:
The scheduler evaluates the nodes in a specific order until it finds a pre-defined minimum number of feasible nodes. To give all nodes a fair chance of being evaluated,  in each scheduling cycle, the scheduler starts evaluating from where it left off in the pr

[2019-10-24 14:13] mrkm4ntr commented on #84296
/assign

[2019-10-24 14:13] cofyc commented on #84226
However it’s not a problem to delete a PVC when no pods use it.
PV can wait for its underlying storage to be detached from the host but IMO pvc does not need to. Otherwise a pvc cannot claim (recreated with the same name) a new PV until previous PV is detached from the host.

[2019-10-24 14:14] mrkm4ntr commented on #84296
/remove-help

[2019-10-24 14:46] sftim commented on #30603
Still wanted
/remove-lifecycle stale

[2019-10-24 14:48] shturec commented on #83377
Let me try to rephrase and add to that.

Currently, the default `ShouldRetry` implementation for handling transient errors is to retry on connection reset error, `429`, `500`, `504` http errors and on errors that suggest client delay (i.e. http responses with error code > `399` that had header `Retry-After`) in that order.

There are a couple of issues in that approach.
- Using error codes to disc

[2019-10-24 15:01] invidian opened #84298 "Too big terminationGracePeriodSeconds value leads to pod hanging forever in Terminating state"
**What happened**:

When `terminationGracePeriodSeconds` for pod is higher than `9999999999999999`, Pod hangs forever in `Terminating` state. This may lead to node become NotReady.

Kubelet logs:
[code]

**What you expected to happen**:

Pods should not pile up on the node.

**How to reproduce it (as minimally and precisely as possible)**:

Create following deployment:
[code]

Once deployed, run f

[2019-10-24 15:08] SleepyBrett commented on #82346
Just had this happen again on a node running 1.16.2

restarting containerd seems to solve this issue

Found the following logs in the kubelet, this may be just before or just after the event.

[code]

[2019-10-24 15:13] draveness commented on #69010
We can't deprecate the Unschedulable field unless we have v2 node API, per discussion in https://github.com/kubernetes/kubernetes/pull/84266#issuecomment-545951881. We'll revisit this issue after that

/lifecycle frozen

[2019-10-24 15:34] tedyu commented on #84298
How about putting maximum value for the grace period (such as 1 year - open to suggestion):
[code]

[2019-10-24 15:40] invidian commented on #84298
I guess that would work. But I'd dig down into it because this issue is also happening in the underlying code too.

[2019-10-24 15:42] cgthayer commented on #44377
Ok, now in Oct 2019, it appears that for GKE the right approach is
1. create a filestore volume
2. create a k8s PersistentVolume
3. finally create the k8s PersistentVolumeClaim

Details are here: https://cloud.google.com/filestore/docs/accessing-fileshares
For my purposes this doesn't work because the minimum charges is around $200 US/month for 1TB, and I just need a tiny 10GB backup for some smal

[2019-10-24 15:45] thockin commented on #84178
Unfortunately, I just don't know this code at all any more.  Clearly we have some state that we track, since they all have failureThreshold, so there's something between "success" and "fail" for the signal.

I mean, this should be functionally the same as livenessProbe, right?

[2019-10-24 15:47] uablrek commented on #65006
Seems to be solved by the dual-stack effort, closing...

[2019-10-24 15:47] #65006 closed

[2019-10-24 15:49] thockin commented on #84178
@Random-Liu can maybe help guide?

[2019-10-24 16:11] msau42 commented on #44377
@cgthayer, you should still be able to bring your own nfs on gke, but you need to create the PVs beforehand, or use something like the nfs-client provisioner.  If you're still having issues, can you open a new issue, since this one has been resolved?

[2019-10-24 16:12] invidian commented on #84298
/sig api-machinery

[2019-10-24 16:19] liggitt commented on #83916
I see. You're saying the shortened grace period and deletionTimestamp show up in the API, but the kubelet does not actually honor the shortened value in the API and continues allowing the pod to have the original grace period before terminating the process and doing the final pod deletion?

[2019-10-24 16:20] liggitt commented on #83916
/reopen
/remove-sig scheduling
/sig node

[2019-10-24 16:20] Kanshiroron commented on #65304
/remove-lifecycle rotten

[2019-10-24 16:22] DarrienG commented on #77216
We had the same issue again, and are here to report back.

Unfortunately our metrics for disk pressure seem to be malfunctioning at the moment, but we were able to capture CPU usage and general load.

CPU usage (orange is iowait, almost all cores were spinning at 100%) :

<img width="199" alt="Screen Shot 2019-10-24 at 12 17 12 PM" src="https://user-images.githubusercontent.com/5041953/67505043-81

[2019-10-24 16:48] krzysied commented on #84151
Kubemark 5000 returned to standard values:
![image](https://user-images.githubusercontent.com/25119199/67507246-d1f82400-f68e-11e9-8a89-d97b59a9c8aa.png)

[2019-10-24 16:50] neolit123 commented on #83929
the addition of the --v flag does not affect the behaviour of the component.

[2019-10-24 16:53] bentastic27 commented on #83916
Yup that's exactly what I'm questioning as intended behavior or not.
Perhaps I used the wrong notes during my initial filing of the ticket
(apologize for not being super clear). Shall I open another GH issue for
this or should I update this one and we re-open?

On Thu, Oct 24, 2019 at 12:22 PM Jordan Liggitt <notifications@github.com>
wrote:

[2019-10-24 17:24] ahg-g commented on #83321
/assign @ravisantoshgudimetla

[2019-10-24 17:29] Huang-Wei opened #84306 "Evaluate b.N in scheduler's benchmark tests"
Right now we manually set `b.N` to the pods' number of a scheduler benchmark test case, but `b.N` is a number supposed to controlled by Golang benchmark framework **<sup>\[1\]</sup>**. Manually modifying it is usually looked at as an anti-pattern, or even usage error.

https://github.com/kubernetes/kubernetes/blob/8c1ffb59e39b44aeb68be3da0f83c285e5fbe01f/test/integration/scheduler_perf/scheduler_b

[2019-10-24 17:32] ahg-g commented on #81719
We have another two items that should be on the list:
1) Improve coverage, for example add interpod affinity benchmarks for PreferredDuringSchedulingIgnoredDuringExecution: https://github.com/kubernetes/kubernetes/pull/82841#discussion_r326191534
2) Fix the dashboard: #84186

[2019-10-24 17:34] kireledan commented on #79913
I'd love to help out with this cleanup.

[2019-10-24 17:35] Huang-Wei opened #84307 "Refactor scheduler benchmark tests to make it more extensible"
Current benchmark tests are hardcoded to be a certain kind of workloads. It can be refactored to be more extensible and customizable, so that users can leverage the benchmark utilities while composing their own workloads to benchmark.

A possible approach is to use Golang templating to define a YAML to support customizable workloads specs.

/sig scheduling
cc/ @ahg-g @draveness
/help
Part of #8171

[2019-10-24 17:36] Huang-Wei commented on #81719
2 more added asking for help:

- Evaluate b.N in scheduler's benchmark tests #84306
- Refactor scheduler benchmark tests to make it more extensible #84307

[2019-10-24 17:50] mtaufen commented on #68244
@tahsinrahman recently started working on this, not sure if we'll merge code by the deadline or not

[2019-10-24 17:54] neolit123 commented on #75601
hi @smourapina
the work is still ongoing.
/milestone v1.18

[2019-10-24 18:00] ahg-g commented on #84306
/assign ingvagabund

[2019-10-24 18:09] neolit123 commented on #84278
last time i checked `make quick-release` required at least 8GB of ram.
building individual components requires much less.

you can try e.g. `make all WHAT=cmd/kubelet`, `make all WHAT=cmd/kubeadm`

/sig release
/triage support

[2019-10-24 18:12] neolit123 commented on #84244
/sig network

[2019-10-24 18:15] neolit123 commented on #84237
/sig release testing
i haven't tried using e2e.test without bazel.
if you have bazel you can try:
[code]

[2019-10-24 18:15] neolit123 commented on #84085
/sig storage

[2019-10-24 18:16] neolit123 commented on #84142
/sig autoscaling

[2019-10-24 18:17] neolit123 commented on #84201
/sig apps
?

[2019-10-24 18:18] neolit123 commented on #84204
/sig release

[2019-10-24 18:18] neolit123 commented on #84210
/sig node

[2019-10-24 18:19] neolit123 commented on #84239
/sig cli

[2019-10-24 18:19] alejandrox1 commented on #77197
bumping to the next milestone for now but we need to reevaluate this issue.
/milestone v1.18

[2019-10-24 18:19] alejandrox1 commented on #77095
bumping to the next milestone for now but we need to reevaluate this issue.
/milestone v1.18

[2019-10-24 18:20] neolit123 commented on #84247
/sig cloud-provider
you can also try asking on the #provider-vsphere channel on k8s slack.

[2019-10-24 18:20] alejandrox1 commented on #76206
bumping to the next milestone for now but we need to reevaluate this issue.
/milestone v1.18

[2019-10-24 18:21] wongma7 commented on #78164
/close

No, I found this issue only affected 1.11-1.13 and we fixed it in https://github.com/kubernetes/kubernetes/pull/82550. (Issue creator is using 1.12)

[2019-10-24 18:21] #78164 closed

[2019-10-24 18:21] neolit123 commented on #84247
this k8s version is out of support. also 1.14 will be going out of support with the release of 1.17.

[2019-10-24 18:27] bclau commented on #83739
/cc @dineshgovindasamy

[2019-10-24 18:47] sukhong opened #84308 "container_sockets, container_threads, container_max_threads metrics always return 0"
**What happened**:

container_sockets, container_threads, container_max_threads metrics were added as part of Kubernetes 1.16 release.

However, I only see 0 for these metrics.

**What you expected to happen**:

These metrics should give non-zero numbers.

**How to reproduce it (as minimally and precisely as possible)**:

New cluster using Kubernetes 1.16.2 + Prometheus 2.11.1.

Scraped container_

[2019-10-24 18:55] rajibmitra commented on #67718
@hh  can I assign it to myself ?

[2019-10-24 18:55] #83473 closed

[2019-10-24 18:56] #84185 closed

[2019-10-24 18:56] #84257 closed

[2019-10-24 19:25] sukhong commented on #84308
@kubernetes/sig/api-machinery
@kubernetes/sig/node

[2019-10-24 19:26] #75274 closed

[2019-10-24 19:28] rcash commented on #83868
Hi @jakepoz I'm a student in UT Austin's Virtualization class, are you still looking for people to contribute to this issue?

[2019-10-24 19:44] cofyc commented on #58635
/remove-lifecycle stale

[2019-10-24 19:45] cofyc commented on #58635
/remove-lifecycle rotten

[2019-10-24 20:13] DarrienG commented on #77216
FYI we caught this again and the load was high again when this happened. I might as well confirm suspicions and say that this is the case.

[2019-10-24 20:18] fedebongio commented on #84184
/label help-wanted

[2019-10-24 20:19] fedebongio commented on #84184
/help

[2019-10-24 20:19] ialidzhikov opened #84310 "deletionGracePeriodSeconds is set to 0 and --grace-period is ignored"
**What happened**:
Deployment metadata.deletionGracePeriodSeconds is always set to 0.

**What you expected to happen**:
I would expect the value of `--grace-period` to be respected.

**How to reproduce it (as minimally and precisely as possible)**:
1. Apply a deployment with a finalizer:
[code]

2. Delete the deployment with `--grace-period` arg
[code]

3. Ensure that `.metadata.deletionGracePerio

[2019-10-24 20:20] jtherin commented on #84242
You can easily do that with an initContainer.

[2019-10-24 20:20] fedebongio commented on #84248
/cc @lavalamp

[2019-10-24 20:21] ialidzhikov commented on #84310
/sig api-machinery

[2019-10-24 20:24] fedebongio commented on #84281
/cc @liggitt

[2019-10-24 20:28] fedebongio commented on #84298
Moving to sig-node since it's a kubelet bug
/remove-sig api-machinery
/sig node

[2019-10-24 20:28] ialidzhikov commented on #84310
@liggitt, @nikhita is the `deletionGracePeriodSeconds` always set to 0 because of the presence of a custom finalizer `foo/bar`?

[2019-10-24 20:29] fedebongio commented on #84308
/cc @logicalhan
/remove-sig api-machinery

[2019-10-24 20:38] #74350 closed

[2019-10-24 20:45] pkburton commented on #70047
Same issue.  In my case, rook had failed all of the monitors over time and recreated them with new service IPs.  My PVs are no longer pointing to valid monitors.

[2019-10-24 20:58] wojtek-t commented on #84149
Actually, this one will be still failing as of now - the reason for it is described here:
https://github.com/kubernetes/kubernetes/pull/80004/files#r338788521

[2019-10-24 21:01] liggitt commented on #84310
no, because the deployment resource does not support graceful deletion (graceful deletion requires server-side support, and only the pods resource currently implements it)

[2019-10-24 21:02] liggitt commented on #84310
/remove-kind bug
/kind documentation

docs should make it clearer that graceful deletion is only supported by particular resources

[2019-10-24 21:04] liggitt commented on #84281
Your patch is modifying fields within the status stanza of the object

All changes to the status stanza are ignored when sending updates to the main node resource endpoint (`/api/v1/nodes/<name>`). Changes to status are only effective when updating via the status subresource endpoint (`/api/v1/nodes/<name>/status`).

If we had a mechanism for warning, we could emit a warning if we detected changes

[2019-10-24 21:04] #84281 closed

[2019-10-24 21:07] ialidzhikov commented on #84310
Thank you @liggitt for the fast reply. I was digging in k/website but cannot find anything similar. It will be for sure useful to put these details in the docs.

[2019-10-24 21:36] timothysc commented on #69845
/assign @andrewsykim

[2019-10-24 21:39] #78407 closed

[2019-10-24 21:53] andrewsykim commented on #69845
@thockin would you be opposed to a flag on the apiserver to disable the node port allocation for Service Type=LoadBalancer (node ports being allocated by default)? Sounds like it's useful in the context of MetalLB and other external controllers consuming Service Type=LoadBalancer but not requiring the node port on kube-proxy.

[2019-10-24 23:02] ghostsquad opened #84314 "Push the CoreDNS 1.6.3 image in gcr.io"
Need to push the latest CoreDNS image to gcr.io
The 1.6.3 image is available in docker coredns/coredns:1.6.3

similar to #81810

[2019-10-24 23:03] ghostsquad opened #84315 "Push the CoreDNS 1.6.4 image in gcr.io"
Need to push the latest CoreDNS image to gcr.io
The 1.6.4 image is available in docker coredns/coredns:1.6.4

similar to #81810

[2019-10-24 23:04] ghostsquad commented on #84314
/sig network
/sig cluster-lifecycle

[2019-10-24 23:04] ghostsquad commented on #84315
/sig network
/sig cluster-lifecycle

[2019-10-24 23:27] wu105 commented on #30603
This issue was openned in 2016, but it is still not clear to me what direction we are going on this.

If we are using Docker client directly, to have images' signature verified, all we need to do are the following:

- define a bunch of environment variables such as DOCKER_CONTENT_TRUST

- make sure that a bunch of relevant files exist, usually under .docker and .notary

Then we can proceed with do

[2019-10-24 23:48] saad-ali commented on #84169
Chris pointed out another bottleneck.

https://github.com/kubernetes/kubernetes/blob/3f402534f303f018f02be15f6f5d8a0add391563/pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go#L586

The A/D controller DSW populator periodically fetches all PV objects. This should be done through an informer as well.

[2019-10-24 23:55] msau42 commented on #84169
I feel like the kubelet DSW populator intentionally doesn't use an informer but don't remember the reason why. cc @gnufied @jsafrane do you remember?

[2019-10-24 23:57] cduchesne commented on #84169
Is it possibly for security reasons to only request resources it is allowed to access?

[2019-10-25 00:02] notpad commented on #84307
/assign

[2019-10-25 00:02] notpad commented on #84307
/remove-help

[2019-10-25 00:05] msau42 commented on #84169
NodeAuthorizer should restrict kubelet access to PVs to only those used by pods scheduled to that node. https://kubernetes.io/docs/reference/access-authn-authz/node/

[2019-10-25 00:06] msau42 commented on #84169
(also I just answered my own question. NodeAuthorizer prevents kubelet from using informers on those restricted objects, because informers have to List)

[2019-10-25 00:08] svallala commented on #83550
Seeing the same issue after upgrading to v3.3.17

019-10-24 23:54:17.742204 I | etcdserver: starting server... [version: 3.3.17, cluster version: to_be_decided]
2019-10-24 23:54:17.744517 I | etcdserver: 3286414e675bdaa2 as single-node; fast-forwarding 9 ticks (election ticks 10)
2019-10-24 23:54:17.745133 I | etcdserver/membership: added member 3286414e675bdaa2 [https://[fd74:ca9b:3a09:868c:10:9:

[2019-10-25 00:16] cduchesne commented on #84169
What I've noticed with the kubelet pv.get and pvc.get loops, is that if there are a lot of volumes mounted, pods don't start for 1-3 minutes because the kubelet is waiting to have processed required PVCs before starting the pod. The kubelet will even report an error because it was waiting so long in some cases:

[code]

[2019-10-25 00:31] tedyu commented on #84169
For the code Chris pointed out in DSW populator, how about adding a cache (with short TTL) ?
If there is hit in the cache, use the PV object from cache.

[2019-10-25 00:57] kvaps opened #84322 "IPVS Graceful Termination can break NFS failover logic"
**What happened**:

Kube-proxy is keeping RS until all connections have expired.

NFS client is trying to use this RS over and over and as fact they stuck by trying to reach the IP-address of old pod instead just using new one.

**What you expected to happen**:

After one pod is dying and new one created all the connections will be redirected to new one.

**How to reproduce it (as minimally and pr

[2019-10-25 01:00] msau42 commented on #84169
I think we required kubelet to do an API lookup during admission for StorageInUseProtection feature, to prevent a race with the PV object being stale. But I think the normal volumemanager workflow doesn't periodically reconcile PVs

I think we added a reconciling control loop for online resizing feature. Maybe that is what is causing the issue.

[2019-10-25 01:04] liggitt commented on #83550
The issue is client-side, and will be fixed in 1.16.3 by https://github.com/kubernetes/kubernetes/pull/83968

[2019-10-25 01:06] mrbobbytables commented on #76269
All outstanding PRs have been merged. 🎉
@dims is there anything else you think should be done this round? or is this issue good to close?

[2019-10-25 01:12] ddebroy commented on #77237
/remove-lifecycle rotten

[2019-10-25 01:12] ddebroy commented on #77237
Being addressed in https://github.com/kubernetes/kubernetes/pull/83098

[2019-10-25 01:15] ddebroy commented on #74553
/remove-lifecycle rotten

[2019-10-25 01:35] dims commented on #76269
Excellent @mrbobbytables let's close this round out.

/close

[2019-10-25 01:35] #76269 closed

[2019-10-25 01:43] tedyu commented on #74553
useCSIPlugin already has this check:
[code]
Is there anything else which needs to be done for this issue ?

[2019-10-25 01:53] #84147 closed

[2019-10-25 02:09] vryzhenkin opened #84326 "Upgrade to 1.16.x failed if CoreDNS was previously deployed with self-built image"
**What happened**:
Upgrade using kubeadm failed because of CoreDNS migration enchancement

**What you expected to happen**:
Upgrade passed correctly

**How to reproduce it (as minimally and precisely as possible)**:
1. Use any 1.15.x Kubernetes with CoreDNS that deployed with any unusual image (self built for example). We using commits counter as part of image tag, e.g - 1.6.2-100.
2. Try to upgra

[2019-10-25 02:11] vryzhenkin commented on #84326
/sig cluster-lifecycle

[2019-10-25 02:15] McCoyAle commented on #84272
/sig node
/area kubelet

[2019-10-25 02:26] gongguan commented on #84184
/assign

[2019-10-25 02:33] ProgramerGu commented on #84281
Thanks a lot ~

[2019-10-25 02:42] tedyu commented on #84326
The error came from vendor/github.com/coredns/corefile-migration/migration/migrate.go

It seems you should mention this issue on coredns project

[2019-10-25 02:48] McCoyAle commented on #84285
@lordcf Are you reporting a bug/issue or requesting assistance? This might be something that needs to be posted to stackoverflow and tagged with kubernetes.

[2019-10-25 02:54] McCoyAle commented on #80463
Hi @linqingping Do you still need assistance with this issue? If so, can you provide more/updated details?

[2019-10-25 03:00] hex108 commented on #84186
The ci job's config is at https://github.com/kubernetes/test-infra/blob/2323f5653036e46a582425b3bdaaa11fe99b96db/config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml#L339.

And one of failed logs could be found at https://storage.googleapis.com/kubernetes-jenkins/logs/ci-benchmark-scheduler-master/1181929333778812934/build-log.txt.

I tried to reproduce it on my local machine(

[2019-10-25 03:17] andrewsykim commented on #84322
During graceful termination, the weight of the terminating real server should be set to 0. You would only send traffic to this real server if it is over the same connection that was opened prior to graceful termination starting.

[2019-10-25 03:18] andrewsykim commented on #84322
btw, we are evaluating the validity of graceful termination here https://github.com/kubernetes/kubernetes/issues/81775

[2019-10-25 03:18] andrewsykim commented on #84322
/remove-triage unresolved

[2019-10-25 03:18] andrewsykim commented on #84322
/assign

[2019-10-25 03:52] jfbai commented on #77733
@wojtek-t @mborsz Hi, is there any progress on this issue? I observed the same problem in my testing cluster with thousands of nodes when doing scalability test. And @mborsz's idea looks reasonable, so, I'd like to implement it and run on my testing cluster, if no side effect occurs, I will run it on production.

Do you have any suggestions? Thanks a lot.

[2019-10-25 04:02] msau42 commented on #84097
/close
Test flakiness has significantly gone down

[2019-10-25 04:02] #84097 closed

[2019-10-25 04:10] hh opened #84330 "Generate Definitive List of all tests from source code w/ metadata in CSV / JSON format"
We want to utilize / generate https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md#conformance-test-comment-metadata
to generate a comprehensive list of tests, with all available metadata.

We manually add a src path and last string in the test to identify tests as conformance tests within https://github.com/kubernetes/kubernetes/tree/master/

[2019-10-25 04:10] hh commented on #84330
/area conformance
/sig architecture

[2019-10-25 04:14] hh commented on #84330
We did some initial work here:
https://github.com/kubernetes/kubernetes/compare/master...ii:csv-output-conformance-walk

[2019-10-25 04:18] weathery commented on #71887
The same problem.
[code]

[2019-10-25 04:23] thosieucoi opened #84332 "Error "ssh: command not found""
I'm using Kubernetes Clusters to run Gitlab Runner (CICD). When I tried to ssh to an Ubuntu instance to deploy my source code I got the error "ssh: command not found"

Part of my deploy code is below

`ssh ubuntu@$xx.xx.xx.xx -tt /bin/bash <<EOT
    echo "${ENV}" > .env
    sudo docker image prune -f
    ...`

Would anyone help me in this case?

[2019-10-25 04:36] zouyee commented on #84332
You need to install ssh utils.
`apt-get install openssh-client`

[2019-10-25 04:42] SataQiu opened #84333 "Pod cannot be launched on the node after increasing the cpus of the node"
**What happened**:
We deployed a k8s cluster on the virtual machines and it worked fine!
We configured the kubelet parameter as:
`--cpu-manager-policy=static --kube-reserved=cpu=1,memory=1Gi --system-reserved=cpu=1,memory=1Gi`.

When we try to add CPUs to a node, we first shut down the machine and restart the node after adding CPUs.
However, we found that the Pod for this node was not created prop

[2019-10-25 04:44] thosieucoi commented on #84332
@zouyee: Thank you for your response. Sorry but where should I install it?

[2019-10-25 04:45] SataQiu commented on #84333
/sig node

[2019-10-25 04:51] deitch commented on #80339
@munnerz, you wrote:

Would you consider a canonical guide to safe importing? I think @ibuildthecloud is correct in that the pain in importing something just to build a client, controller, etc is not fully appreciated. Having an official guide and some samples on how to do it safely and cleanly, while not addressing the core issues raised entirely, would be a huge help to those of us doing it unde

[2019-10-25 04:52] feiskyer commented on #78893
@smourapina yep

[2019-10-25 04:57] SataQiu commented on #84306
/cc

[2019-10-25 05:02] rajibmitra commented on #84330
/assign rajibmitra

[2019-10-25 05:06] weathery commented on #76531
The same problem.
[code]

[2019-10-25 05:55] #83272 closed

[2019-10-25 05:56] #78739 closed

[2019-10-25 06:08] hprateek43 commented on #71863
@alculquicondor I am opening a new issue around channels that links to this one, the PR will fix that instead of this umbrella issue

[2019-10-25 06:08] wojtek-t commented on #77733
Yes - it's happening - I hope it will be merged within the next couple days:
https://github.com/kubernetes/kubernetes/pull/81167

[2019-10-25 06:12] weathery commented on #76531
When i has updated the containerd to containerd.io-1.2.10-3.2.el7.x86_64, the problem has been solved.
[code]

[2019-10-25 06:28] jfbai commented on #77733
Thanks for this info, it would be a great improvement in a large scale cluster.

[2019-10-25 06:30] weathery commented on #76531
When i has updated the containerd to containerd.io-1.2.10-3.2.el7.x86_64, the problem has been solved.
[code]

[2019-10-25 06:52] brancz commented on #70916
@steinybot What’s probably blocking it is the metrics API APIService pointing at a service in that namespace, and the service has already been deleted.

As a side note, the metrics APIs are and always will be read only and I might be missing something entirely but why should we be blocking finalizes on a read only API? Should we not have the ability in the APIService to say it’s read only and ther

[2019-10-25 06:53] deitch commented on #44165
/reopen

[2019-10-25 06:57] hprateek43 opened #84338 "Introduce Internal Channels for scheduler"
**What would you like to be added**:
The `scheduler` currently has a generic `util` package that stores a lot of common functionalities. Currently the `error_channels` for any errors that may arise in the scheduling framework are present here. W.r.t #71863 which serves as umbrella issue for scheduler cleanup, channels should become an internal package for scheduler.

**Why is this needed**:
The `e

[2019-10-25 07:24] draveness commented on #80224
/remove-lifecycle stale
/lifecycle frozen

[2019-10-25 07:42] draveness commented on #28610
KEP is now here https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20181024-service-topology.md

[2019-10-25 07:56] YueHonghui opened #84340 "We need resource request/limit in the pod level"
**What would you like to be added**:
Now, one of our usecases, we need to attach network NICs/ENIs into Pod. The number of NICs on a node is limited, so we create a device plugin to represent such a resource and calculate NICs requirement in scheduler. The problem is, we don't know where to put `request`/`limit` into the Pod spec. We don't think the container level is the right place, because netw

[2019-10-25 07:56] aojea commented on #84315
@ghostsquad I think that those images were pushed because they were required by kubeadm

https://github.com/kubernetes/kubernetes/pull/82127

do you plan to bump the CoreDNS verison in kubeadm too?

/cc @neolit123 @rajansandeep

[2019-10-25 07:57] YueHonghui commented on #84340
/sig scheduling

[2019-10-25 08:25] zhucan commented on #68688
@saad-ali I have implement the NodeGetInfo call. But it still has this issue. My kubernetes version is 1.14.3.

[2019-10-25 08:43] pierewoj commented on #83901
No fix is needed, turns out that gcloud compute uses iap-tunelling for instances without public IP. When you encounter this issue, make sure that your user has the "roles/iap.tunnelResourceAccessor" rote (it is required to create the IAP tunnel).

[2019-10-25 08:43] #83901 closed

[2019-10-25 08:44] wojtek-t commented on #84107
After the last fix, it seemed to finally recover.

[2019-10-25 08:44] #84107 closed

[2019-10-25 09:22] justaugustus commented on #84236
/assign @dchen1107 @derekwaynecarr

[2019-10-25 10:11] kvaps commented on #84322
@andrewsykim thanks for clarification.

Is there any clue why is it not working?

* Service have address `10.102.69.203`.
* I had a nfs-server pod with `10.112.1.195` address.
* After recreating the pod, address was changed to `10.112.2.27`.

Client had active connection to the server through IPVS:

[code]
This is that connection, it's stuck there for ages:
[code]

You're right, weight is changed,

[2019-10-25 10:21] #84332 closed

[2019-10-25 10:37] frzme commented on #82339
While a random container would certainly be bad the first container in the list seems like a reasonable default. Making it more easy to get to the logs I want would be appreciated

[2019-10-25 10:49] verb commented on #53188
I've forgotten what prompted us to close this, but that's correct. The design that landed does not have a configurable security context. I'll reopen this as a feature request and update the description.

[2019-10-25 11:02] verb commented on #53188
/remove-lifecycle stale
/remove-kind bug
/remove-priority important-soon
/priority backlog

[2019-10-25 11:03] verb commented on #53188
/remove-priority important-soon

[2019-10-25 11:06] verb commented on #53188
FYI @pjbgf reopened this issue to track your request

[2019-10-25 11:16] verb commented on #27140
/priority important-longterm
/remove-priority backlog

[2019-10-25 11:16] verb commented on #45922
/kind feature
/priority important-longterm

[2019-10-25 11:18] verb commented on #80875
/priority backlog

[2019-10-25 11:19] verb commented on #80875
/good-first-issue

[2019-10-25 11:22] verb commented on #80875
ok, maybe this doesn't meet all of the good first issue criteria.

/remove-good-first-issue

[2019-10-25 11:22] verb commented on #80875
/area kubelet

[2019-10-25 11:28] verb opened #84353 "Ephemeral Containers: Automatically taint pods with ephemeral containers"
**What would you like to be added**: Automatically adding an annotation to pods in which an ephemeral container has been added.

**Why is this needed**: A common usage pattern for ephemeral containers is to perform some debugging action in a pod that changes its state in some fashion. Since the pod is no longer pristine, it should be marked as such so it could automatically be deleted.

[2019-10-25 11:29] verb commented on #84353
/sig node
/priority backlog

[2019-10-25 11:32] verb commented on #82158
I want to use #82192 to resolve this.

/priority important-soon

[2019-10-25 12:17] #84149 closed

[2019-10-25 12:30] superseb commented on #83679
I think I'm seeing the same thing, to reproduce, use the following resource YAML:

[code]

On k8s v1.15.5 (hyperkube)

[code]

On k8s 1.16.2 (hyperkube)

[code]

@shanesiebken Are you in Enforcing mode (`getenforce`) ?

[2019-10-25 12:32] ialidzhikov opened #84354 "CustomResourceDefinition with deletionTimestamp is not removed after patching its finalizers"
**What happened**:
CRD with deletionTimestamp and `customresourcecleanup.apiextensions.k8s.io` finalizer is not deleted (removed from the store) after removing the finalizer.

**What you expected to happen**:
I would expect after removing the finalizer the CRD to be removed from the store.

**How to reproduce it (as minimally and precisely as possible)**:
1. Apply crd
[code]

2. Apply crd object w

[2019-10-25 12:33] ialidzhikov commented on #84354
/sig api-machinery
/area custom-resources

[2019-10-25 12:36] vryzhenkin commented on #84326
@tedyu True. Will notify them also.

[2019-10-25 12:58] discordianfish commented on #77216
@DarrienG Yeah as I expected, the problem here is that calls to docker timeout while docker still tries to execute the operation and finally successed. Kubernetes doesn't know about it and retries, leading to this conflict.
I'm afraid there is no easy fix for this. You'd have to have some docker api semantics that guarantees if a call times out it will actually not executed. You best options are s

[2019-10-25 13:01] Rand01ph commented on #80875
I would like contribute to this。

[2019-10-25 13:17] chrisohaver commented on #84326
/cc @rajansandeep

[2019-10-25 13:22] verb opened #84359 "Ephemeral Containers: Enable container namespace targeting"
**What would you like to be added**: Targeting individual container namespaces using ephemeral containers

**Why is this needed**: Currently ephemeral containers get the default namespaces for the pod: if `shareProcessNamespace` is set the ephemeral container runs in the shared process namespace, otherwise it gets an isolated process namespace.

Running in the same process namespace as a target co

[2019-10-25 13:23] verb commented on #84359
/assign @verb
/priority backlog

[2019-10-25 13:32] shanesiebken commented on #83679
Hey @superseb thanks much for following on with example YAML. We've been totally swamped with work so I haven't had time to address this issue.

To answer your question: we were seeing all pods with storage (configmaps, secrets, persistent volumes) failing in Enforcing mode, and disabling Enforcement (`setenforce 0`) allowed the same pods to successfully run, with no problem. There was not as much

[2019-10-25 13:35] jamesmedice commented on #23621
kubectl create secret generic mysqlcontainer --from-literal=username='user' --from-literal=password='pass'
kubectl get secret  mysqlcontainer -o yaml > secret.yaml
kubectl apply  -f secret.yaml

*********************************************
my pod. yaml
apiVersion: v1
kind: Pod
metadata:
  name: secretenv
spec:
  containers:
  - name: secretcontainer
    image: redis
    env:
      - name: SECRETS

[2019-10-25 13:56] rajansandeep commented on #84326
/assign
In such cases where the migration isn't supported and the user chooses to ignore the warnings from the preflight check, the migration should be skipped.

wdyt? /cc @chrisohaver @neolit123

[2019-10-25 14:11] michaelajr commented on #43784
Does #41821 fix this?

[2019-10-25 14:12] serathius commented on #83465
/assign
/remove-help

[2019-10-25 14:16] gongguan commented on #73527
@wojtek-t Excuse me, one concern about the service selector: should cache updated while service selector changed?

[2019-10-25 14:23] rajansandeep commented on #84314
We only push the images of coredns to gcr.io if they are to be included as part of the k8s release.
This isn't needed as probably a newer version will be included for k8s 1.17
/close

[2019-10-25 14:23] #84314 closed

[2019-10-25 14:33] rajansandeep commented on #84315
We only push the images of coredns to gcr.io if they are to be included as part of the k8s release.
There might be a newer version which we will decide to include for k8s 1.17.
Since this is the latest release, for now, this can remain open.

[2019-10-25 14:41] nataizya-s opened #84363 "AWS NLB service type stuck in pending when loadBalancerSourceRange is set for 1 CIDR in VPC"
**What happened**:
Creating a service type of NLB with the loadBalancerSourceRange specified in the service spec in a VPC with a secondary CIDR fails as the service remains in a Pending state despite the loadbalancer being created in the AWS console.

**What you expected to happen**:
Service should be created successfully.

**How to reproduce it (as minimally and precisely as possible)**:
Creata s

[2019-10-25 15:00] chrisohaver commented on #84326
Yes.  IMO, the warnings should be phrased like "CoreDNS configuration migration will not occur: <reason>"... so  that a user expects the config migration will not be done.

[2019-10-25 15:11] ghostsquad commented on #84315
I see. I wasn't sure. I just noticed that many of the manifests out there reference gcr instead of the a dockerhub variant

[2019-10-25 15:15] bclau commented on #84158
Hmm... I've added an ``ifconfig -a``:

     ---> c1b96828b92c
    Step 3/14 : COPY qemu-s390x-static /usr/bin/
     ---> Using cache
     ---> 6af1e60176f4
    Step 4/14 : RUN ifconfig -a
     ---> Running in e26e7bc1a788
    ifconfig: : error fetching interface information: Device not found
    The command '/bin/sh -c ifconfig -a' returned a non-zero code: 1
    Makefile:37: recipe for target 'al

[2019-10-25 15:43] dllegru opened #84366 "AWS ELB - Kubernetes doesn't remove Security Group on failed CreateLoadBalancer event."
**What happened**:
Created a classic load balancer service with k8s v1.13
Classic load balancer fails on creation (for different reasons). Before the LoadBalancer gets created, aws first creates EC2 SecurityGroup, thus on reaching LoadBalancer failure (Error code: TooManyAccessPointsException) it doesn't remove the previously created EC2 SecurityGroup.

**What you expected to happen**:
The Securit

[2019-10-25 15:45] dllegru commented on #84366
/sig cloud-provider

[2019-10-25 15:49] oliverisaac opened #84367 "Add `-x` Shorthand For `--context` Flag"
**What would you like to be added**:

It would be fantastic if there were a shorthand flag for the `--context` flag. I would suggest `-x`

**Why is this needed**:

When working with multiple contexts it is tedious to type `--context` all the time.

[2019-10-25 15:50] ialidzhikov commented on #84354
/cc @liggitt @yue9944882

[2019-10-25 15:51] oliverisaac commented on #84367
@kubernetes/sig-cli-feature-requests

[2019-10-25 15:54] liggitt commented on #84354
this was fixed in https://github.com/kubernetes/kubernetes/pull/77952 in 1.15+

/close

[2019-10-25 15:54] #84354 closed

[2019-10-25 16:00] mcandre opened #84368 "Preserve chmod permissions on Kubernetes binaries"
**What would you like to be added**:

When serving the various Kubernetes binaries over HTTP(S), such as `kubectl`, please preserve recommended chmod permissions. For example, `chmod +x` or `chmod a+x` would be applied to the binaries before upload, and all processes and storage mechanisms involved should make sure to preserve these bits. If necessary, TGZ archive the binaries for an intact pass-t

[2019-10-25 16:00] pkelleratwork commented on #60152
any movement on this?

[2019-10-25 16:00] ialidzhikov commented on #84354
Thank you for the info @liggitt .
Does it makes sense to cherry-pick to release-1.14?

[2019-10-25 16:03] liggitt commented on #84354
a behavior change like that that is not fixing a regression is not generally backported

[2019-10-25 16:12] AnitaNayak opened #84369 "Building peer-finder image on s390x"
Building peer-finder Image on s390x. Currently, peer-finder Image build is not supported on s390x.

[2019-10-25 16:12] whapster commented on #83936
hello I think  this needs to be re-open. I am attempting a 4 node cluster with 1 master 3 workers. 2 workers can join master, however 3 worker cannot get kubelet to start. we have attempted to re-image and install several times with different packages but same issue.

Here is the info from this problem node.

All are CentOS 7

docker -v
Docker version 1.13.1, build 7f2769b/1.13.1

kubelet --versio

[2019-10-25 16:25] liggitt opened #84372 "update `k8s.io/client-go` release process docs to stop adding major version tags"
go modules require libraries that are module-aware (contain a go.mod file) and use a semver tag >=2.0 to include the major version as a suffix of the module name (e.g. `example.com/library/v2`).

https://github.com/golang/go/wiki/Modules#semantic-import-versioning

The fact that this was required was unclear previously. go1.13 begins enforcing this and refuses to build a module required at v2.0.0

[2019-10-25 16:29] liggitt commented on #84372
For the v12.0.0 tag, I'm inclined to leave it as-is for git consumers, potentially updating the release note in github to indicate what should be used instead with go modules

We can continue publishing non-semver tags to make new client-go releases addressable.

Before creating a new major version tag, we would need to enable semantic import versioning on the client-go repo.

[2019-10-25 16:55] serathius commented on #81863
/assign @serathius

[2019-10-25 16:58] serathius commented on #81863
Sorry @conwaychriscosmo for taking long to respond. I was working on it, even thou it was not visible on Github.

[2019-10-25 17:01] neolit123 commented on #83936
Oct 25 16:05:02 centos-7-k8s-worker-01.novalocal systemd[1]: Unit kubelet.service entered failed state.
Oct 25 16:05:02 centos-7-k8s-worker-01.novalocal systemd[1]: kubelet.service failed.

the kubelet logs e.g. using `journalctl -xeu kubelet` should provide more details about the failure.

[2019-10-25 17:02] liggitt commented on #84372
/kind documentation
/remove-kind bug

this is more of a process/awareness issue, I guess

[2019-10-25 17:03] sttts commented on #84372
@nikhita do we have docs for the client-go release process anywhere?

[2019-10-25 17:08] whapster commented on #83936
okay will run those. thanks.

[2019-10-25 17:11] neolit123 commented on #84326
/area kubeadm

[2019-10-25 17:13] neolit123 commented on #84326
@rajansandeep

SGTM

[2019-10-25 17:15] neolit123 commented on #84315
@aojea

kube-up too.

@rajansandeep

There might be a newer version which we will decide to include for k8s 1.17.
Since this is the latest release, for now, this can remain open.

sounds good, thanks for the response.

[2019-10-25 17:51] yashbhutwala commented on #34549
/remove-lifecycle rotten

[2019-10-25 17:51] yashbhutwala commented on #34549
/reopen

[2019-10-25 18:00] liggitt commented on #82339
A logs request that doesn't specify a container in a multi-container pod is underspecified. Allowing it to work by defaulting to the first container means an existing scripted logs invocation could silently break if a second container was added to a deployment. Failing early rather than allowing potentially bad data to be returned/propagated/acted on is preferable.

/close

[2019-10-25 18:00] #82339 closed

[2019-10-25 18:15] #83791 closed

[2019-10-25 18:16] oomichi opened #84380 "Move test specific functions from e2e core framework"
**What happened**:

During the work for reducing invalid dependencies from the e2e core framework to subpackages of the core framework, we found a lot of particular test specific functions.
That means these each function is used at a single e2e test module only.
These functions are unnecessary to be shared as e2e framework function, so we've just
moved these functions to the particular test module

[2019-10-25 18:26] oomichi commented on #84380
This working item is under discussion as https://kubernetes.slack.com/archives/C9NK9KFFW/p1572027916008400
Please don't start this before the consensus.

[2019-10-25 18:28] alejandrox1 commented on #84380
/kind cleanup
/remove-kind bug
/area e2e-test-framework
/sig testing
/priority important-longterm

[2019-10-25 18:30] oomichi commented on #84380
@alejandrox1 Thanks for taking care of this quickly :-)

[2019-10-25 18:34] david-yu commented on #82326
Hi folks, David from Docker here, we have run and validated Docker Engine 19.03 for Kubernetes 1.14 back in June, so Docker 19.03 is indeed supported for Kubernetes 1.14 and above: https://testgrid.k8s.io/sig-node-docker#Summary

Let me know how else we can help.

[2019-10-25 19:40] alejandrox1 commented on #84380
The proposed policy to follow for what methods are to be kept within the framework:

What do you think @oomichi ? does that sound good?

[2019-10-25 19:54] liggitt commented on #78904
it is still important, and I would like to see it addressed in 1.17 if at all possible

[2019-10-25 20:07] prithviramesh commented on #84165
I'd like to take a stab at this if that's ok with @xiaoanyunfei

[2019-10-25 20:45] AndrewSav commented on #70916
So where do I see information about why namespase is still not terminated? On 1.16 I ran `kubectl describe namespace` and I saw nothing that says what's blocking. Where do look for it?

[2019-10-25 20:51] oomichi commented on #84380
@alejandrox1 Thanks for bring it up here.
As I said on the slack, I agree with his idea.

[2019-10-25 21:06] Random-Liu commented on #82522
We are working on adding the support in containerd, and we'll get stats from the hcsshim. https://github.com/containerd/cri/issues/1275

If `docker stats` is where the overhead comes from, we can optimize it in the following ways:
1) Actually we only need very minimal stats about a container in CRI https://github.com/kubernetes/cri-api/blob/master/pkg/apis/runtime/v1alpha2/api.proto#L1248, a lot o

[2019-10-25 21:18] cheftako commented on #43784
/assign @logicalhan

[2019-10-25 22:18] Random-Liu commented on #82522
I tested the stats on containerd on windows, and it is fairly cheap.
[code]

Please note that the writable layer size is not supported yet in containerd.

@wawa0210 Are you sure `GetContainerStats` takes most of the time?

I saw that in Docker we use `InspectContainerWithSize` to get the writable layer size. That operation can potentially take a long time based on the underlying implementation. An

[2019-10-25 22:21] tedyu commented on #76731
/remove-lifecycle rotten

[2019-10-25 22:37] #81400 closed

[2019-10-25 22:37] ahg-g commented on #84186
can you try and reach out to the test-infra people? ping them on the slack channel perhaps.

[2019-10-25 22:37] tommyongib commented on #79523
This is a breaking issue in multiple versions but the fix #80394 is not prioritized yet. Does anyone have a workaround at the moment?

[2019-10-25 22:37] #83922 closed

[2019-10-25 22:56] howardjohn opened #84388 "EndpointSlice breaks for services with long port names, which are legal on the Service"
**What happened**:
No endpoints created in the EndpointSlice for my service due to the port on the service being too long. Logs show:
[code]

EndpointSlice created has no endpoint:
[code]

**What you expected to happen**:
Service that works with Endpoints should work with EndpointSlice. If this is intentional, it should be clearly documented

**How to reproduce it (as minimally and precisely as po

[2019-10-25 22:56] howardjohn commented on #84388
/sig networking

[2019-10-25 23:03] howardjohn commented on #84388
For a rough measure of impact, Istio had 5 ports that were over this limit (and many more that were right at 15 characters), so I suspect it may not be terribly rare.

[2019-10-25 23:04] #78360 closed

[2019-10-25 23:06] leakingtapan commented on #82369
/platform aws

[2019-10-25 23:07] tedyu commented on #76718
/remove-lifecycle rotten

[2019-10-25 23:08] leakingtapan commented on #82369
/area platform/aws

[2019-10-25 23:09] leakingtapan commented on #82369
/area provider/aws

[2019-10-25 23:38] pshirshov commented on #75503
Hey, why this issue is closed? We have exactly the same problem - RSS as seen from host machine is lot lower than as all the k8 metrics...

[2019-10-26 01:02] tedyu commented on #77733
I was the discussion.
Here is the code which used to be cacher.go#L253 :
[code]
FYI

[2019-10-26 01:06] hex108 commented on #84186
yes, I have tried to get help from @krzysied , he is busy now. I'll try more.

[2019-10-26 01:58] kenwoodjw commented on #72051
I have the same issue  /reopen

[2019-10-26 02:48] willzhang opened #84394 "kubeadm init --proxy-mode=ipvs"
### what happend?
[code]
### kubernetes version
[code]
### what i do
i have enabled ipvs
[code]
and install ipset
[code]

then init the master
[code]

## what i want
follow [here](https://github.com/kubernetes/kubernetes/tree/master/pkg/proxy/ipvs#cluster-created-by-kubeadm), it say
[code]

is it possible use kubeadm init --proxy-mode=ipvs ,
 Instead of config it in the kube-config.yaml?
i just wa

[2019-10-26 03:01] wawa0210 commented on #82522
Thanks for the reply, yes, I am sure `GetContainerStats` is the most time consuming.
Because in our own environment, these stats information is not required, I commented this code, and the interface response time is almost the same as Linux.
I later tested the return time of the docker stats interface separately. It is very slow in linux and windows. There is no difference. The response time of a

[2019-10-26 04:36] sergey-safarov commented on #79523
For AWS you can associate elastic IP with pod. Need make aws cli call.

If you need static private IP then you can create DaemonSet attach NIC with static IP as second NIC to EC2 instance and node some label (like `kamailioIP=10.21.0.34`). Later you  start pod with `host` network, get node label, bound to required host IP.

If you need static public and private IPs, then you can customize node-gro

[2019-10-26 05:10] #74249 closed

[2019-10-26 05:23] yliaog commented on #82522
I timed various calls in:
https://github.com/kubernetes/kubernetes/blob/2bb35caa18d0c2c3ade2d89c41158dfbfdbc54b2/pkg/kubelet/dockershim/docker_stats_windows.go#L28

W1026 05:01:07.787724    2940 docker_stats_windows.go:82] Info: 9.7872ms
W1026 05:01:07.787724    2940 docker_stats_windows.go:83] GetContainerStats: 2.2006699s
W1026 05:01:07.787724    2940 docker_stats_windows.go:84] InspectContainer

[2019-10-26 05:39] yliaog commented on #82522
run 'docker stats' directly show about the same amount time as that from kubelet docker_stats_windows.go
PS > Measure-Command {docker stats 9a476754d43d --no-stream}
Days              : 0
Hours             : 0
Minutes           : 0
Seconds           : 2
Milliseconds      : 427
Ticks             : 24273497
TotalDays         : 2.80943252314815E-05
TotalHours        : 0.000674263805555556
TotalMinute

[2019-10-26 05:49] Random-Liu commented on #82522
OK. So it is something in `docker stats` really slow.

And we don't have that issue in containerd.

[2019-10-26 06:49] rosscdh commented on #82905
Seems the module split took place? Be grand to bring this up to date.

Great work on kustomize by the way it is THE way to work with kube

[2019-10-26 07:35] josiahbjorgaard commented on #80269
Bug triage for release 1.17 here. Since this issue has been tagged for the milestone, we would like to check it's status. Code freeze is on Nov. 19. Will this issue be resolved before then?

[2019-10-26 07:35] josiahbjorgaard commented on #83259
Bug triage for release 1.17 here. Since this issue has been tagged for the milestone, we would like to check it's status. Code freeze is on Nov. 19. Will this issue be resolved before then?

[2019-10-26 07:36] josiahbjorgaard commented on #83683
Bug triage for release 1.17 here. Since this issue has been tagged for the milestone, we would like to check it's status. Code freeze is on Nov. 19. Will this issue be resolved before then?

[2019-10-26 07:36] josiahbjorgaard commented on #79523
Bug triage for release 1.17 here. Since this issue has been tagged for the milestone, we would like to check it's status. Code freeze is on Nov. 19. Will this issue be resolved before then?

[2019-10-26 08:00] josiahbjorgaard commented on #81760
Bug triage for release 1.17 here triaging bugs. Still good to go? Don't forget that code freeze is Nov. 18!

[2019-10-26 08:08] josiahbjorgaard commented on #83479
Bug triage for release 1.17 here. Since this issue has been tagged for the milestone, we would like to check it's status. Code freeze is on Nov. 19. Will this issue be resolved before then? If not, we should move it out of the milestone.

[2019-10-26 08:09] josiahbjorgaard commented on #81134
Bug triage for release 1.17 here. Since this issue has been tagged for the milestone, we would like to check it's status. Code freeze is on Nov. 19. Will this issue be resolved before then? If not, we should move it out of the milestone.

[2019-10-26 08:09] josiahbjorgaard commented on #76064
Bug triage for release 1.17 here. Since this issue has been tagged for the milestone, we would like to check it's status. Code freeze is on Nov. 19. Will this issue be resolved before then? If not, we should move it out of the milestone.

[2019-10-26 08:09] josiahbjorgaard commented on #65200
Bug triage for release 1.17 here. Since this issue has been tagged for the milestone, we would like to check it's status. Code freeze is on Nov. 19. Will this issue be resolved before then? If not, we should move it out of the milestone.

[2019-10-26 08:10] josiahbjorgaard commented on #84065
Bug triage for release 1.17 here. Since this issue has been tagged for the milestone, we would like to check it's status. Code freeze is on Nov. 19. Will this issue be resolved before then? If not, we should move it out of the milestone.

[2019-10-26 08:10] sbueringer commented on #27308
@StephanX

I had similar problems. That's why I wrote: https://github.com/sbueringer/kubectx

Mostly build for my personal use cases, but maybe it helps.

[2019-10-26 08:32] josiahbjorgaard commented on #83554
Bug triage for 1.17 here. Code freeze is Nov. 18th. Will this issue be closed by then? If not, can we move it out of the milestone?

[2019-10-26 08:40] gajus commented on #72051
/reopen

[2019-10-26 09:36] odacremolbap opened #84398 "Kubectl returning wrong message for CSR deny"
**What happened**:
Denying a certificate signing requests show a message indicating that the requests was approved

[code]

**What you expected to happen**:
A denial message would be expected

**How to reproduce it (as minimally and precisely as possible)**:
After generating a CSR, create the `CertificateSigningRequest`

[code]

Deny the certificate request manually
[code]
Notice the **approved**

[2019-10-26 11:05] markyjackson-taulia commented on #78995
@spiffxp @timothysc @justinsb @dims @mariantalla Bug triage for 1.17 here with a gentle reminder that code freeze for this release is on November 18. Is this issue still intended for 1.17?

[2019-10-26 12:07] markyjackson-taulia commented on #59848
@jpbetz Bug triage for 1.17 here with a gentle reminder that code freeze for this release is on November 18. Is this issue still intended for 1.17?

[2019-10-26 12:11] markyjackson-taulia commented on #75564
@apelisse @kwiesmueller Bug triage for 1.17 here with a gentle reminder that code freeze for this release is on November 18. Is this issue still intended for 1.17?

[2019-10-26 12:12] markyjackson-taulia commented on #76624
@jpbetz @deads2k Bug triage for 1.17 here with a gentle reminder that code freeze for this release is on November 18. Is this issue still intended for 1.17?

[2019-10-26 12:12] markyjackson-taulia commented on #77988
@apelisse Bug triage for 1.17 here with a gentle reminder that code freeze for this release is on November 18. Is this issue still intended for 1.17?

[2019-10-26 12:13] markyjackson-taulia commented on #80515
@liggitt Bug triage for 1.17 here with a gentle reminder that code freeze for this release is on November 18. Is this issue still intended for 1.17? I see you move it to 1.17 so I just wanted to be sure.

[2019-10-26 12:14] markyjackson-taulia commented on #80916
@jennybuckley Bug triage for 1.17 here with a gentle reminder that code freeze for this release is on November 18. Is this issue still intended for 1.17?

[2019-10-26 12:14] markyjackson-taulia commented on #81422
@liggitt Bug triage for 1.17 here with a gentle reminder that code freeze for this release is on November 18. Is this issue still intended for 1.17?

[2019-10-26 12:15] markyjackson-taulia commented on #81117
Bug triage for 1.17 here with a gentle reminder that code freeze for this release is on November 18. Is this issue still intended for 1.17?

[2019-10-26 12:17] markyjackson-taulia commented on #75551
@mikedanese Bug triage for 1.17 here with a gentle reminder that code freeze for this release is on November 18. Is this issue still intended for 1.17?

[2019-10-26 13:04] ahg-g commented on #83554
we should be able to close it by then, multiple PRs in flight.

[2019-10-26 13:17] alejandrox1 commented on #78995
/milestone v1.18

[2019-10-26 14:07] kwiesmueller commented on #75564
@markyjackson-taulia there is a [WIP KEP PR](https://github.com/kubernetes/enhancements/pull/1123) addressing this issue and we are working on it. Looking at the amount of work still ahead and that the KEP wasn't really discussed outside the wg, I'm not sure if we'll make 1.17

[2019-10-26 14:14] knight42 commented on #80515
@liggitt I guess https://github.com/kubernetes/kubernetes/pull/80572 could be merged now?

[2019-10-26 14:17] liggitt commented on #84388
This needs to be resolved before endpointslices graduate from alpha

[2019-10-26 14:23] liggitt commented on #80515
It is in the review queue and should still make 1.17

[2019-10-26 14:46] langyenan opened #84403 "why kubelet admits guaranteed pods when under disk pressure?"
In the code below, kubelet rejects pods with QOS type guaranteed when under disk pressure, but when kubelet is **also** under memory pressure, those pods are accepted, is this behavior expected? Why is that?

https://github.com/kubernetes/kubernetes/blob/2896fb0be8515e909df71bf29074acf32c54c969/pkg/kubelet/eviction/eviction_manager.go#L128-L164

[2019-10-26 14:50] langyenan commented on #84403
/area kubelet
/sig node

[2019-10-26 15:16] tedyu commented on #77988
In Store#updateForGracefulDeletionAndFinalizers (called by Store#Delete), I see e.Storage.GuaranteedUpdate call wrapping the SimpleUpdate func.

[2019-10-26 15:26] tedyu commented on #84403
See this comment:
[code]
It came with commit e94d7b3802a

[2019-10-26 15:32] tedyu commented on #79470
I lean towards to option #2 as well.

[2019-10-26 15:35] tedyu commented on #79194
Related to #84169

[2019-10-26 15:36] liggitt commented on #84330
not sure if you're envisioning committing the resulting file like the current conformance.txt file, but if so, including line numbers will make the resulting file a rebase magnet

[2019-10-26 16:27] deitch commented on #48180
/remove-lifecycle stale

[2019-10-26 16:29] yliaog commented on #82522
'docker stats' on all containers takes about 1s longer than 'docker stats' on *one* container. so instead of polling for 'docker stats' for each container one by one, it's a possible optimization to get all container stats in one call.

PS > Measure-Command {docker stats --no-stream}
Days              : 0
Hours             : 0
Minutes           : 0
Seconds           : 3
Milliseconds      : 749
Tic

[2019-10-26 18:16] odacremolbap commented on #84398
/sig cli
/sig auth

[2019-10-26 18:37] kikisdeliveryservice commented on #81490
Hi @spiffxp @alejandrox1 @yujuhong !

Bug Triage Release Team checking in.  Code freeze for the 1.17 release is on November 18. Will this make it in?  Thanks!

[2019-10-26 18:40] kikisdeliveryservice commented on #81491
Hi everyone,
Bug Triage Release Team checking in.  Code freeze for the 1.17 release is on November 18. Will this make it in?  Thanks!

[2019-10-26 18:44] kikisdeliveryservice commented on #81052
Bug Triage Release Team checking in.  Code freeze for the 1.17 release is on November 18. Will this make it in?  Thanks!

[2019-10-26 18:45] riking commented on #84254
This is pretty straightforward - conduct a review and change the security policy. For example, "only approved binaries on kubernetes hosts (outside pods)", where the approval process ensures they handle IP forwarding properly.

[2019-10-26 18:46] kikisdeliveryservice commented on #82428
Bug Triage Release Team checking in. Code freeze for the 1.17 release is on November 18. Will this make it in? Thanks!

[2019-10-26 18:48] kikisdeliveryservice commented on #82497
Bug Triage Release Team checking in. Code freeze for the 1.17 release is on November 18. Will this a fix for this issue make it in? Thanks!

[2019-10-26 18:51] kikisdeliveryservice commented on #74379
hi @andrewsykim @cheftako @dims

Bug Triage Release Team checking in. Code freeze for the 1.17 release is on November 18. Is this still intended for 1.17? Thanks!

[2019-10-26 18:52] kikisdeliveryservice commented on #82296
hi @liggitt

Bug Triage Release Team checking in. Code freeze for the 1.17 release is on November 18. Is this still intended for 1.17? Thanks!

[2019-10-26 18:53] kikisdeliveryservice commented on #72956
Hi @BenTheElder

Bug Triage Release Team checking in. Code freeze for the 1.17 release is on November 18. Is this still intended for 1.17? Thanks!

[2019-10-26 18:56] kikisdeliveryservice commented on #82532
Hi all,

Bug Triage Release Team checking in. Code freeze for the 1.17 release is on November 18. Is this still intended for 1.17? Thanks!

[2019-10-26 19:31] riking commented on #84040
Given that this is in `system:public-info-viewer`, does that mean this is simply a documentation bug for (oneof k8s, kube-hunter)?

[2019-10-26 19:55] neolit123 commented on #82532
hi @kikisdeliveryservice
this effort is going to continue in the next cycle(s).
/milestone v1.18

[2019-10-26 20:02] riking commented on #83929
The fact that they have accumulated restarts is not actually a problem here. 2 into 2 is not a problem, 0 into 2 is.

The restart count was not improved by the flag flip, instead it was reset (to 0) by your update.

[2019-10-26 20:10] Planktonette commented on #84040
Would that mean that passing --anonymous-auth=false to the API configuration would turn off these public endpoints then?

[2019-10-26 20:12] riking commented on #83834
In your example, it seems like the cluster is getting less work done after your change?

| 4 | 169 | 131 | 131/200 |
versus
| 4 | 194 | 21| 21/200 |

300 jobs done > 215 jobs done, so your throughput is better before the change

Do jobs A and B have ordering requirements with each other?

[2019-10-26 20:25] #78488 closed

[2019-10-26 20:34] BenTheElder commented on #72956
This will go into 1.18 most likely. We have some new issues to fix with the
next version of shellcheck WIP.

On Sat, Oct 26, 2019, 11:56 Kirsten <notifications@github.com> wrote:

[2019-10-26 21:51] tedyu commented on #82497
From the crash report : addr=0x0
Prior to calling strings.Count, there is a check:
[code]
The check should have prevented the nil access.

[2019-10-26 21:55] raushan2016 opened #84407 "Sample apiserver crashes with Failed to list *v1.ValidatingWebhookConfiguration"
**What happened**:
I1026 21:48:49.499318       1 dynamic_cafile_content.go:166] Starting request-header::/tmp/requestheader-client-ca-file714625551
I1026 21:48:49.499683       1 dynamic_serving_content.go:129] Starting serving-cert::/apiserver.local.config/certificates/tls.crt::/apiserver.local.config/certificates/tls.key
I1026 21:48:49.500181       1 secure_serving.go:160] Serving securely on [::

[2019-10-26 21:55] raushan2016 commented on #84407
@kubernetes/sig-api-machinery-bugs

[2019-10-26 22:02] raushan2016 commented on #84407
Seems like the cluster has
API Version:  admissionregistration.k8s.io/v1beta1
Kind:         MutatingWebhookConfiguration

But the sample api-server expects
API Version:  admissionregistration.k8s.io/v1
Kind:         MutatingWebhookConfiguration

Is there a way to make it work by using the last good version of apiserver which works with v1beta1

[2019-10-26 22:46] raravena80 commented on #69041
/remove-lifecycle stale

[2019-10-26 22:47] aojea commented on #84315
/close

[2019-10-26 22:47] #84315 closed

[2019-10-26 23:07] brianv0 commented on #56374
How can the stalemate on this be broken?

It seems like, to get this working, the following issues/PRs, at a minimum, need to be considered/tackled, in addition to this one:

https://github.com/moby/moby/issues/8460
https://github.com/kubernetes/community/pull/2285

With also these related things:
https://github.com/containerd/containerd/issues/2516
https://github.com/containerd/containerd/pull/25

[2019-10-26 23:09] stopsopa commented on #62511
Any help?

[2019-10-26 23:42] dims commented on #74379
/milestone v1.18

[2019-10-27 00:37] #84398 closed

[2019-10-27 00:53] yqwang-ms commented on #83834
@riking  Note the Timestamp in the table is normalized, which means one specific value only have relative meaning in its own table. From what I tested, the throughout looks the same before and after this change.
Job A and Job B doesn't depend on each other, this issue is just mentioned they are queued in an unfair way.

[2019-10-27 02:06] liggitt commented on #84407
The v1.16.0 level of the sample apiserver still uses v1beta1

[2019-10-27 02:07] liggitt commented on #84407
The sample apiserver in master (and in 1.17) will list v1 admission webhooks.

/close

[2019-10-27 02:07] #84407 closed

[2019-10-27 04:38] RickyRajinder commented on #84201
Would this require changing the `schedule:` field in `CronJob` to require a timezone suffix?

[2019-10-27 06:10] jfbai commented on #84380
@oomichi I looked through files `expect.go`, `framework.go` and `node_util.go`, and found some of the functions are used in a single module. Then fixed them.

[2019-10-27 06:35] #71506 closed

[2019-10-27 08:04] gaorong commented on #84403
you can find an answer from the proposal doc: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/kubelet-eviction.md#feasibility-checks-during-kubelet-admission
[code]

[2019-10-27 10:34] langyenan commented on #84403
thank you @tedyu @gaorong !

I think current code is not following the eviction design of `DiskPressure` condition.
the proposal is: `DiskPressure -> reject all pods`
but the code is:  `DiskPressure + MemoryPressure -> admit`, guaranteed pods are not rejected any more.

`kubelet` seems to be working fine though, maybe here's the reason:

`On the other hand, the DiskPressure condition if true shoul

[2019-10-27 15:21] brightzheng100 opened #84417 "To build and apply a high performant, unified expression engine for K8s?"
**What would you like to be added**:

It's always a pain while looking at this:

[code]

Should we consider, or are we considering, to build a unified expression engine for overall K8s so things may become much easier, like this?

[code]

**Why is this needed**:

It's verbose, or sometimes confusing, while expressing some expression "logic" for some conditions using pure YAML syntax.
You may list

[2019-10-27 15:23] brightzheng100 commented on #84417
/sig scheduling

[2019-10-27 15:23] tedyu commented on #75484
It seems option #2, the JSON file, seems to be better.

[2019-10-27 15:55] notpad commented on #84284
Hi @wojtek-t, based on the discussion in #73539, the kubmeark image has dependency on `mount` and maybe more other utilities. So it seems impossible to migrate the base image to distroless?  Or do we need something like debian-hyperkube-base?

[2019-10-27 16:26] mitar commented on #69816
/remove-lifecycle stale

[2019-10-27 16:34] mesutcelik commented on #78761
@itninja-hue

Scale Down stabilization is 5 minutes by default and you can change it with that flag.

`--horizontal-pod-autoscaler-downscale-stabilization`

see more details [here](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#algorithm-details).

[2019-10-27 16:40] tnqn opened #84419 "EndpointSlice is not created after enabling EndpointSlice on a pre-existing cluster"
**What happened**:
EndpointSlice **for masters** was not created after enabling EndpointSlice on a pre-existing cluster. Only those EndpointSlices managed by kube-controller-manager were created.
[code]

**What you expected to happen**:
EndpointSlice for masters should be created after enabling EndpointSlice on a pre-existing cluster, the same as the EndpointSlices managed by kube-controller-manag

[2019-10-27 18:42] droslean commented on #84183
We still hit
[code]

[2019-10-27 19:35] antmonnier commented on #74741
I'm using 1.16.0 and pods are still not removed after jobs are deleted.

[2019-10-27 20:20] aojea commented on #83869
Flaked on this PR https://github.com/kubernetes/kubernetes/pull/84422 that is unrelated (I guess) to the tests failing
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/84422/pull-kubernetes-e2e-gce/1188512561180446722/

[2019-10-27 20:54] tedyu commented on #83869
From minion-group-nb56/kubelet.log :
[code]
From build.log:
[code]
It seems that the test should have waited longer for pod Ready condition to become true.

[2019-10-27 21:05] neolit123 commented on #84394
hi,

Instead of config it in the kube-config.yaml?
i just want create one single master ,i don't want to create a configfile.

no it is not possible.
better migrate all CLI flags to config values.

all these are possible using the v1beta1 and v1beta2 config:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

i'm going to close this as "not a bug", let me know if you have fur

[2019-10-27 21:05] #84394 closed

[2019-10-27 21:50] #75319 closed

[2019-10-27 21:55] psimaj commented on #83107
I will look into this issue.

[2019-10-27 22:25] phillycheeze commented on #46381
Can this be re-opened? The workaround is nice, but a built-in supported command would be way better.

[2019-10-28 00:12] tedyu commented on #83869
See https://github.com/kubernetes/kubernetes/pull/84425#issuecomment-546749316
[code]
The above should be related to the test failure.

[2019-10-28 01:23] icobra commented on #83024
kubectl version
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe5036ef3df2967d086711e6c0c405941e14b", GitTreeState:"clean", BuildDate:"2019-10-15T19:18:23Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe5036ef3df2967d086711e6c0c405941e14b", GitTreeSta

[2019-10-28 01:30] hubv commented on #78900
Need bug a fix in k8s ASAP. I git the same issue.

[2019-10-28 01:45] amgads commented on #78900
Should not be closed

[2019-10-28 01:51] daixiang0 commented on #66421
update

[2019-10-28 01:58] tedyu commented on #66421
v1.10.5 was quite old.

I wonder if this is reproducible on 1.15+

[2019-10-28 01:59] mysunshine92 opened #84426 "for every huge page resource, we need to remove it from allocatable memory when Updating Node Allocatable limit across pods"
**What happened**:
In the code below, we remove huge page resource from allocatable memory when updating node status, but we doesn't  remove huge page resource from allocatable memory when Updating Node Allocatable limit across pods

we remove huge page resource from allocatable memory when updating node status.
		allocatableReservation := nodeAllocatableReservationFunc()
		for k, v := range node.

[2019-10-28 01:59] mysunshine92 commented on #84426
/sig node

[2019-10-28 02:36] tedyu commented on #84426
The second snippet was from pkg/kubelet/cm/node_container_manager_linux.go, right ?

It seems that containerManagerImpl doesn't have direct access to node.status

[2019-10-28 03:42] liggitt commented on #84065
All PRs are merged

/close

[2019-10-28 03:42] #84065 closed

[2019-10-28 03:43] liggitt commented on #84053
The etcd client in master has been upgraded

/close

[2019-10-28 03:43] #84053 closed

[2019-10-28 03:44] elvizlai commented on #15878
can this be a little larger?

for istio EnvoyFilter grpc descriptor bin file is not large enough.

[2019-10-28 03:45] liggitt commented on #83923
Reverted in https://github.com/kubernetes/kubernetes/pull/84012

Is this resolved?

[2019-10-28 03:53] lutierigb commented on #39420
I was able to repro this. looking at the kube-controller-manager log I see that it actually deletes all those resources by calling ensureExternalLoadBalancerDeleted but it doesn't seem to know that's being shutdown and continues to run the ensureExternalLoadBalancer method which re-creates all that, shortly after the controller is gone and those resources are left behind in you project. confirmed

[2019-10-28 04:01] JokerDevops opened #84430 "please apply your changes to the latest version and try again"
The kubernetes version I used was 1.13.6
There is an error in my kube-controller-manager node:
[code]
I checked my version, but it was all 1.13.6.
How can I get further information about my cluster version and troubleshoot this error?

[2019-10-28 04:01] mumutu66 commented on #80963
similar problem  want to know how `currentAverageUtilization ` calculated .  I got a weired value when change `heapster`  to `prometheus-k8s-adapter `  on only one HPA

[code]

[code]

since the memory value is valid from prometheus

[code]
and the resource is valid

[code]

I don't know if this is a kind of bug ..

[2019-10-28 04:14] Chwetion opened #84431 "seems fatal error: concurrent map read and map write due to kubelet reboot and goes through a short NotReady"
**What happened**:
kubelet reboot and goes through a short NotReady
**What you expected to happen**:
kubelet is running normally
**How to reproduce it (as minimally and precisely as possible)**:
unable to reproduce currently
**Anything else we need to know?**:
the host cpu load is not high when this happens, and the /var/log/message as follow (view all logs through attachments):

[code]
[message.l

[2019-10-28 04:33] boddumanohar commented on #82428
on which version on kubernetes should I try to reproduce this issue?

[2019-10-28 04:41] tedyu commented on #84431
After the line with hashmap_fast.go, there were some logs omitted.
Can you post the omitted lines ?

[2019-10-28 04:46] boddumanohar commented on #79485
can someone please conform if they are still failing?

[2019-10-28 05:02] Chwetion commented on #84431
There is a message.log link below the log to get all the logs.

[2019-10-28 05:20] natlibfi-arlehiko commented on #63704
/remove-lifecycle stale

[2019-10-28 05:30] ssup2 opened #84435 "cloud_config is not reloaded, updated."
Kubernetes Version : v1.16.0
OS Version : Ubuntu 16.04

---

Hi. I'm testing reloading cloud_config for LoadBalancer Service.

I modifiy all cloud_config files in all cluster nodes. And restart kube-controller-manager, kube-api-server and all kubelet. But It seems to that kubernetes is not update cloud_config. And use previous version of cloud_config.

When I Create LoadBalancer Service. Message l

[2019-10-28 05:51] MoonShining commented on #82428
Server Version: version.Info{Major:"1", Minor:"10+", GitVersion:"v1.10.5-tke.3", GitCommit:"53e244be925234190938376fe8637189b6caf125", GitTreeState:"clean", BuildDate:"2018-12-04T04:06:15Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}

more likely to be an issue in client-go

[2019-10-28 05:57] jiatongw commented on #77197
Sorry, I lost track of this issue. It seems like `service_util.go` has been broken up into `framework/service/*.go`. So I think this issue can be closed. @alejandrox1

[2019-10-28 06:08] tanjunchen commented on #84380
i will pick up size.go   skip.go

[2019-10-28 06:19] hwdef commented on #84380
I will pick clean.go

[2019-10-28 06:34] kovkev commented on #57801
Hi kubernetes! I'm also trying to set something like this up and there is no clear way to troubleshoot the issue.

I use https://github.com/bazelbuild/rules_k8s#aliasing-eg-k8s_deploy where I specify the namespace to be "default".

I set in my deployment.yaml file a `imagePullSecrets: - name: regcred` under the `spec.template.spec` level.

I ran `KUBECONFIG=/etc/kubernetes/admin.conf kubectl patch

[2019-10-28 06:56] JokerDevops commented on #84430
@athenabot
sorry,I didn't understand what you said. Here is my node information:
[code]

[2019-10-28 06:56] uablrek commented on #81760
@dims @adelina-t I am using hyperkube in test environment and would pretty much want to continue to do so. I can help with testing and contributions.

is it agreed that https://github.com/adelina-t/hyperkube is the repo to use?

[2019-10-28 07:00] uablrek commented on #81760
Oh, and what is the time frame? When will I not be able to do;
[code]
in the k8s dir?

[2019-10-28 07:03] SataQiu commented on #84380
I will pick up create.go、exec_util.go、rc_util.go

[2019-10-28 07:28] wojtek-t commented on #84284
The mount one we may get rid of - basically we should be able to switch to FakeMounter:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubemark/hollow_kubelet.go#L114

[2019-10-28 07:44] matthyx commented on #78679
/remove-lifecycle stale

[2019-10-28 07:56] roberthbailey commented on #39420
@lutierigb - it sounds like you've found a race condition.

Unfortunately, neither @k4leung4 nor I work on this part of the system any longer. @zmerlynn can probably point you in the right direction though.

[2019-10-28 07:57] clarklee92 commented on #84430
This error message means that  the node resourceVersion changed before `kube-controller-manager` update executed.

[2019-10-28 08:01] OoEddieoO opened #84438 "kube-proxy clean udp conntrack after node network resumed"
**What happened**:
A k8s cluster with node 172.16.100.50(master)  172.16.100.51(worker)  172.16.100.52(worker)
A pod on 172.16.100.50 send UDP packets to a device outof K8S cluster,  and the device recv port is  5060. Then send port is a random port given by K8S, we assume it is 6688.  After device recv the UDP packets, it reply UDP packets to 6688.
When we disconnect the network of 172.16.100.52

[2019-10-28 08:07] clarklee92 commented on #84380
/asign I will pick flake_reporting_util.go、get-kubemark-resource-usage.go、google_compute.go、log_size_monitoring.go.

[2019-10-28 08:16] YuikoTakada commented on #84380
i will pick pods.go and suites.go

[2019-10-28 08:19] hwdef commented on #84380
I will pick up nodes_util.go,profile_gatherer.go,provider.go,

[2019-10-28 08:35] Aisuko commented on #60807
This solution useful for me, thanks.

[2019-10-28 09:01] #78274 closed

[2019-10-28 09:04] zhengcanbin commented on #69311
Is there any progress on this issue?

[2019-10-28 09:16] wojtek-t commented on #73527
yes

[2019-10-28 09:58] ahg-g commented on #83581
/help
/unassign @alculquicondor

[2019-10-28 10:09] gotoworld commented on #70334
the same issue on kubenetes V1.60 + centos8 + docker V19.3

[2019-10-28 10:09] gotoworld commented on #70334
the same issue on kubenetes V1.160 + centos8 + docker V19.3

[2019-10-28 10:35] dims commented on #81760
@uablrek when we have a new github repository where you can do the same thing.

@justaugustus do we want to do that this week?

[2019-10-28 10:36] dims commented on #83923
yes. the test grid is green - https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-gcp#capg-conformance-stable-k8s-master

/close

[2019-10-28 10:36] #83923 closed

[2019-10-28 10:39] dims commented on #15878
@elvizlai please propose a PR with the change you need and we can debate there. Folks don't usually look at chatter in closed issues.

[2019-10-28 10:44] JokerDevops commented on #84430
I may not quite understand what you mean.
Does not the content of the resourceVersion field always change?

[2019-10-28 10:45] JokerDevops commented on #84430
I may not quite understand what you mean.
Does not the content of the resourceVersion field always change?

[2019-10-28 10:54] sstoner opened #84443 "upgrading from v1.13.6 to v1.14.7 causes container restart unexpectedly"
**What happened**:

I have a kubernetes cluster with version v1.13.6 and I want to upgrade to v1.14.7 step by step, without the use of cluster lifecycle management tools like kubeadm.

Firstly, I upgrade apiserver, scheduler and controller-manager to v1.14.7 and cluster works well. Then I upgrade kubelet one by one.

when I upgrade kubelet from v1.13.6 to v1.14.7, all processes containers restarte

[2019-10-28 10:55] sstoner commented on #84443
/sig node

[2019-10-28 10:59] pohly commented on #80339
@munnerz wrote:

Which I found to be not so useful when it came to reviewing the resulting change. When looking at a modified `go.mod` file after `go mod tidy`, a reviewer only gets to see the git hash. It is possible to see whether those are all consistent, but that isn't obvious and the original intent ("use Kubernetes 1.15.0") is lost.

Not running `go mod tidy` isn't an option either, because

[2019-10-28 11:00] brancz commented on #70916
I would expect that either apiserver and or controller manager logs could help, but I'm not that familiar with that part of Kubernetes, so probably good if people with that focus area could comment.

[2019-10-28 11:02] dims commented on #72638
/area code-organization

[2019-10-28 11:03] dims commented on #72638
/remove-lifecycle stale

[2019-10-28 11:03] #78570 closed

[2019-10-28 11:24] leowucn opened #84446 "upgrading from 1.15.0 to 1.16.2 using `kubeadm upgrade` and get two versions of server"
**What happened**:
I have a kubernetes cluster with version v1.15.0, and I upgraded the cluster to v1.16.2 using command `kubeadm upgrade`。Then I checked the version of the cluster multiple times, the results are below:
[code]
[code]
The problem is that the server version of the k8s is not the same. Is it running two sets of k8s even after I upgrading to `v1.16.2`?

**What you expected to happen**

[2019-10-28 11:32] gongguan commented on #83581
/assign

[2019-10-28 11:52] hex108 opened #84447 "Convert podPassesBasicChecks to a prefiler plugin"
**What would you like to be added**:

Convert [podPassesBasicChecks](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/core/generic_scheduler.go#L181) to a prefilter plugin. It is called at begin of every schedule.

**Why is this needed**:

It will be more uniform and concise.

Note: if we convert it now(in migration phase 1), we need register it by default for compatibility.

/si

[2019-10-28 11:58] justaugustus commented on #81760
@dims -- Yep, it's top of mind to get the ball rolling on the migration this week!

[2019-10-28 11:59] hasheddan commented on #83768
@mm4tt looks like this has seen an uptick in failures in the last couple of days. Do you think we should move forward with a resolution?
ref:https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-performance
cc @alenkacz @droslean @Verolop @epk

[2019-10-28 12:44] mm4tt commented on #83768
The recent failures were due to https://github.com/kubernetes/kubernetes/issues/84151
The issue described in this bug hasn't reoccurred. I think we can close this issue it was a one-off thing.
/close

[2019-10-28 12:44] #83768 closed

[2019-10-28 12:47] hasheddan commented on #83768
@mm4tt sounds good, thanks!

[2019-10-28 13:22] PaulAnnekov commented on #80586
/remove-lifecycle stale

[2019-10-28 13:30] ahg-g opened #84448 "Remove NodeInfoSnapshot from framework interface"
**What would you like to be added**:
Remove NodeInfoSnapshot from the scheduler's framework handler interface.

**Why is this needed**:
We have a new abstract interface for listing/getting nodes/pods from the snapshot named SharedLister, plugins should use that instead of the internal NodeInfoSnapshot struct used by the scheduler.

/sig scheduling
/assign

[2019-10-28 13:32] arbourd commented on #3595
/remove-lifecycle stale

[2019-10-28 13:39] gongguan commented on #83581
/remove-help

[2019-10-28 13:41] OoEddieoO commented on #84438
it is ipvs mode

[2019-10-28 14:19] yue9944882 commented on #21988
/reopen

[2019-10-28 14:20] yue9944882 commented on #81759
/cc

[2019-10-28 14:22] smourapina commented on #77019
Pinging @sethp-nr as well: any status update on this issue?

[2019-10-28 14:23] smourapina commented on #78164
Thanks @wongma7 for the status update!

[2019-10-28 14:25] yue9944882 commented on #21988
this issue confuses me.. currently the apiVersion/kind are marked as optional which conflicts w/ the fact that they're actually required by kube-apiserver.. while this issue is asking these fields to be required..

[2019-10-28 14:25] yue9944882 commented on #21988
@kubernetes/sig-api-machinery-misc

[2019-10-28 14:34] wojtek-t opened #84452 "Registrations in conversion machinery are extremely misleading"
Currently, there are two ways of registering conversion functions:
(1) Using AddConversionFuncs():
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/runtime/scheme.go#L341
(2) Using AddConversionFunc()/AddGeneratedConversionFunc():
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/runtime/scheme.go#L353

And what is extr

[2019-10-28 14:57] droslean opened #84454 "[Failing Test] gce-master-scale-performance (ci-kubernetes-e2e-gce-scale-performance)"
**Which jobs are failing**:
`gce-master-scale-performance (ci-kubernetes-e2e-gce-scale-performance)`

**Which test(s) are failing**:
`testing/load/config.yaml`

**Since when has it been failing**:
`27 Oct 10:02 PDT`

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-performance

**Reason for failure**:
[code]

[2019-10-28 14:58] droslean commented on #84454
/milestone v1.17

[2019-10-28 14:58] liu-cong opened #84455 "Migrate CheckServiceAffinity custom predicate to Filter plugin"
**What would you like to be added**:
convert CheckServiceAffinity to a filter plugin

**Why is this needed**:
part of #84187 which is part of #83554

**Additional Notes**
Please refer to #84297 as an example.

/sig scheduling
/cc @ahg-g
/priority important-soon
/help

[2019-10-28 15:00] droslean commented on #84454
/cc @alenkacz @alejandrox1 @hasheddan @Verolop

[2019-10-28 15:02] liu-cong opened #84456 "NodeLabelPriority as Score Plugin"
**What would you like to be added**:
convert NodeLabelPriority to a score plugin
https://github.com/kubernetes/kubernetes/blob/571cea0519eef38d77524f4074b3bd31bb7f5091/pkg/scheduler/algorithm_factory.go#L393-L402

**Why is this needed**:
part of #83554

**Additional Notes**
#84297 as an example for converting a custom predicate to a filter plugin. The work required here should be very similar to i

[2019-10-28 15:04] liu-cong opened #84457 "ServiceAntiAffinityPriority as score plugin"
**What would you like to be added**:
convert ServiceAntiAffinityPriority to a score plugin
https://github.com/kubernetes/kubernetes/blob/571cea0519eef38d77524f4074b3bd31bb7f5091/pkg/scheduler/algorithm_factory.go#L382-L392

**Why is this needed**:
part of #83554

**Additional Notes**
#84297 as an example for converting a custom predicate to a filter plugin. The work required here should be very si

[2019-10-28 15:04] nathan-beneke commented on #20227
I would also really appreciate this feature

[2019-10-28 15:05] liu-cong opened #84458 "RequestedToCapacityRatio as score plugin"
**What would you like to be added**:
convert RequestedToCapacityRatio to a score plugin
https://github.com/kubernetes/kubernetes/blob/571cea0519eef38d77524f4074b3bd31bb7f5091/pkg/scheduler/algorithm_factory.go#L403-L411
**Why is this needed**:
part of #83554

**Additional Notes**
#84297 as an example for converting a custom predicate to a filter plugin. The work required here should be very simila

[2019-10-28 15:05] notpad commented on #84456
/assign
/remove-help

[2019-10-28 15:05] guusvw commented on #20227
Bump!

[2019-10-28 15:06] notpad commented on #84457
/assign
/remove-help

[2019-10-28 15:09] ahg-g commented on #84455
Plugin name should be ServiceAffinity.

[2019-10-28 15:10] ahg-g commented on #84457
Plugin name should be ServiceAffinity (so we will have a Score for this one and Filter for CheckServiceAffinity predicate under the same plugin).

[2019-10-28 15:11] ahg-g commented on #84456
should be added as a Score under the existing NodeLabel plugin.

[2019-10-28 15:15] bazzargh opened #84459 "pod quota evaluator adds termination grace period twice"
**What happened**:
Dev asked me to explain why deletionTimestamps for pods were in the future, went to find the line that added the grace period before setting the timestamp and found this:
https://github.com/kubernetes/kubernetes/blob/58563975c126a5807b8e272d3cb393ef5d23fa0e/pkg/quota/v1/evaluator/core/pods.go#L398
`if now.After(deletionTime.Add(gracePeriod)) {`

**What you expected to happen**:

[2019-10-28 15:17] mrkm4ntr commented on #84458
/assign

[2019-10-28 15:20] mrkm4ntr commented on #84458
/remove-help

[2019-10-28 15:20] bazzargh commented on #84459
/sig scheduling
(I think?)

[2019-10-28 15:23] danielqsj commented on #84455
/assign
/remove-help

[2019-10-28 15:26] tedyu commented on #84459
@bazzargh
Do you want to submit a PR ?

[2019-10-28 15:27] kvaps commented on #81775
Hi, I have the same problem when I try using nfs-server-provisioner. After restarting the pod, the client connections are stuck due they try to reuse old connections.
For more details see https://github.com/kubernetes/kubernetes/issues/84322#issuecomment-546293485

I can confirm that disabling graceful termination or setting `sys.net.ipv4.vs.conn_reuse_mode` to `1` solves my problem.

[2019-10-28 15:37] mcandre opened #84460 "Better patch behavior for overriding container requests, limits"
**What would you like to be added**:

Better syntax and semantics for `kubectl edit`, so that important properties such as requests and limits can be modified on existing container definitions in job pod templates.

**Why is this needed**:

Currently, the patch feature either appends new containers or else drops existing properties. I want a true merge, so that I can easily modify resource paramet

[2019-10-28 15:38] mcandre opened #84461 "Allow requests, limits to be dynamically modified on job pod templates"
**What would you like to be added**:

Permit resource requests, limits to be altered on existing job pod templates.

**Why is this needed**:

To use Kubernetes to its full extent.

[2019-10-28 15:41] alejandrox1 commented on #84454
This seems related to https://github.com/kubernetes/kubernetes/issues/84151
the run today might be a flake so we should keep on eye on this one.
If tomorrow's run works then this should be good to close :smile:
/sig scalability
/priority critical-urgent

[2019-10-28 15:45] bazzargh commented on #84459
@tedyu no, for 2 reasons - I'm not familiar enough with that quota code to write an appropriate test, and legal at $job would take an age to approve me signing the CLA (they would eventually, it's just slow - and I should probably get those wheels in motion anyway, I'm sure we'll find more stuff)

[2019-10-28 16:00] liggitt commented on #84443
The computation leading to that message is performed here: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L446-L449

Prior to https://github.com/kubernetes/kubernetes/pull/57741 (shipped in 1.16), the container hash looked at all fields in the container struct type . That meant that any change to any type used within the container API type defin

[2019-10-28 16:00] #84443 closed

[2019-10-28 16:14] ereslibre commented on #81760
/cc

[2019-10-28 16:26] alejandrox1 commented on #84236
some notes on this...
There is this interesting part of work that is going on
[code]

before the errors starts happening
[code]

The calls for creating, deleting, and reporting the error appear to come from here https://github.com/kubernetes/kubernetes/blob/946df1a9148402d582704c9c8a8600b74e421e55/test/e2e_node/runner/remote/run_remote.go#L518

This is the same place where the error message `unabl

[2019-10-28 16:29] tpepper commented on #84236
Also failing on the patch release branches ci-kubernetes-node-kubelet-{beta,stable1,stable2}:
 * https://testgrid.k8s.io/sig-release-1.16-blocking#node-kubelet-1.16
 * https://testgrid.k8s.io/sig-release-1.15-blocking#node-kubelet-1.15
 * https://testgrid.k8s.io/sig-release-1.14-blocking#node-kubelet-1.14

[2019-10-28 16:29] liggitt commented on #84040
It would.

[2019-10-28 16:41] hh commented on #67718
/assign @rajibmitra

[2019-10-28 16:41] JoelSpeed commented on #84142
I've been looking into this and have made some interesting observations about the behaviour within our systems at least:

Firstly, during the update, we see `New size: x; reason: All metrics below target` even though `x` is greater in size than the current replica count, and this continues to increase over time. This suggests the bug may be somewhere in here: https://github.com/kubernetes/kubernet

[2019-10-28 16:42] lavalamp commented on #81759
Just to set expectations, this is not currently a high priority for SIG API Machinery.

[2019-10-28 16:47] alejandrox1 commented on #83937
/priority important-longterm
/lifecycle active
@danielqsj has been working on it

[2019-10-28 16:58] tedyu commented on #84459
The following code from staging/src/k8s.io/apiserver/pkg/registry/rest/delete.go around line 117 verifies your assumption:
[code]

[2019-10-28 17:06] oomichi commented on #84380
The PR for create.go is already created by @clarklee92 .

@clarklee92 Please check what other people picked already before posting a PR.

[2019-10-28 17:10] cadmuxe commented on #76064
The fix [PR#80059](https://github.com/kubernetes/kubernetes/pull/80059) is still pending in review.

[2019-10-28 17:21] oomichi commented on #84380
node_util.go is already picked/posted by @jfbai

[2019-10-28 17:26] Liujingfang1 commented on #82905
The re-factorization of Kustomize is in progress. This will make the integration into kubectl easier. cc @monopole

[2019-10-28 17:28] alejandrox1 commented on #84380
Update on this: this was brought up with the larger testing-commons group and we decided to use the above as a guideline but not as an exact rule. We will judge each PR that makes a change of this sort (moving code out of the e2e test framework) on a case per case basis.

[2019-10-28 18:04] BenTheElder commented on #79485
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-bazel-build
it's not, the most recent failure is totally unrelated
/close

[2019-10-28 18:04] #79485 closed

[2019-10-28 18:12] apelisse commented on #73723
@alenkacz A good place to start, which is not super technical but still a good place to start is: https://github.com/kubernetes-sigs/structured-merge-diff/issues/115

[2019-10-28 18:13] hh commented on #84330
I'm hoping is that we can have generated metadata that doesn't directly refer to line numbers, but allows us to uniquely identify all tests.

Ensuring that we don't have duplicate "final string IT context" wouldn't be too hard for conformance.txt, as are around 28 that are the same.

[code]

However for the entire set that would require quite a few changes.
It integer or short string in a tag [id:

[2019-10-28 18:18] oomichi commented on #84380
@alejandrox1 That is a nice point.
I wrote @andrewsykim point as one of the above **Implementation Rules**, and another rule comes from https://github.com/kubernetes/kubernetes/pull/84412#discussion_r339700674 which adds another invalid dependency.

[2019-10-28 18:38] tjg184 commented on #65937
My security groups were not correctly defined on the EFS file system, which prevented the mount.  I was able to confirm this, by starting an EC2 instance (separate from the worker nodes) and tried to mount the EFS volume on the command line.

Once I fixed security groups, it created fine with either `path: /` or `path: /persistentvolumes`

[2019-10-28 18:59] #83617 closed

[2019-10-28 19:27] tallclair opened #84473 "Dependency Injection for Kubelet initialization & startup"
Kubelet construction and initialization is, to put it frankly, a mess. More specifically here is a (partial) list of issues:

- Kubelet's constructor is over 550 lines (and the kubelet struct is 325 lines!)
  - But actually, a big chunk of construction is hidden in KubeDeps, which is initialized over a few hundred more lines in https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/s

[2019-10-28 19:27] tallclair commented on #29391
Closing this in favor of https://github.com/kubernetes/kubernetes/issues/84473

[2019-10-28 19:27] #29391 closed

[2019-10-28 19:36] tedyu commented on #84473
[code]
I hear you.

[2019-10-28 19:46] apelisse commented on #77988
I've had 0 time to look at this, if you want to take a shot at it @tedyu, let me know if I can help?

[2019-10-28 19:48] bowei commented on #39420
/assign @MrHohn who is working on ensuring proper LB deletion

[2019-10-28 19:48] bowei commented on #39420
/assign @MrHohn

[2019-10-28 19:48] bowei commented on #39420
/reopen

[2019-10-28 20:16] msau42 commented on #83513
These files will have to be updated:
https://github.com/kubernetes/kubernetes/blob/14344b57e56258e87cbe80c8cd80399855eca424/pkg/kubeapiserver/default_storage_factory_builder.go#L60
https://github.com/kubernetes/kubernetes/blob/31a4596393650b943b250c1f45c9d06abca309c8/test/integration/etcd/data.go

[2019-10-28 20:42] neolit123 commented on #82326
thanks for confirming @david-yu
PR is here https://github.com/kubernetes/kubernetes/pull/84476

[2019-10-28 21:08] ahg-g commented on #84187
/close

[2019-10-28 21:08] #84187 closed

[2019-10-28 21:08] #83203 closed

[2019-10-28 21:11] liggitt commented on #82497
that doesn't hold in a race condition

[2019-10-28 21:13] cbf123 opened #84479 "rebooting node (and maybe just restarting kubelet) results in running pod going "Failed""
I'm investigating a case where a node has 6  'windriver.com/isolcpus' devices exposed to kubelet via a device plugin.  Kubelet is running with --topology-manager-policy=restricted.

A running pod is consuming 4 of the devices.  The node was rebooted and after coming back up kubelet logged this:
topology_hints.go:46] [devicemanager] Unable to generate topology hints: requested number of devices una

[2019-10-28 21:13] cbf123 commented on #84479
@kubernetes/sig-node-bugs

[2019-10-28 21:18] klueska commented on #84479
/assign klueska

[2019-10-28 21:20] klueska commented on #84479
My initial guess is an incorrect assumption in `GetTopologyHints()`. It is assumed that this will only ever  be called once per container for any given hint provider. If it is called more than once, then I can clearly see why this issue might occur. The `devicemanager` itself has recovered the devices for the container, but the implementation of `GetTopologyHints()` is treating it as a new request

[2019-10-28 21:20] klueska commented on #84479
Seems they do go through the admithander again: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1901

Surprised we didn’t catch this earlier…

[2019-10-28 21:54] robscott commented on #84388
/assign @robscott

[2019-10-28 21:54] robscott commented on #84388
/remove-triage unresolved

[2019-10-28 21:55] david-yu commented on #82326
Thank you @neolit123. Appreciate the PR, we typically test engines for major versions of Engine that are released like 19.03 with the latest version of Kubernetes that is available at the time. On our next engine, we will re-run the test and submit the results to testgrid. Let me know how I can better coordinate this.

[2019-10-28 22:09] david-yu commented on #82326
Also let me know if there is anything else that is needed to close this issue out. Thanks.

[2019-10-28 22:12] neolit123 commented on #82326
hi, the PR should close this issue.

i guess, one option is just creating a similar issue once the test job is available in test-grid and running green for a while? @yastij or me can then proceed to update the validators.

[2019-10-28 22:13] david-yu commented on #82326
Ok thank you, that sounds like a good process we can follow moving forward.

[2019-10-28 23:26] danielqsj commented on #84473
/cc

[2019-10-28 23:42] smarterclayton commented on #84452
AddConversionFunc accepts a different signature, and is newer and more performance.  AddConversionFuncs is friendlier to humans but not as performant.

All code should be using AddConversionFunc

[2019-10-29 00:17] tpepper commented on #84236
With respect to the cos image, it does appear to be available, eg:

[code]

Still that is a very deprecated cos version: cos-stable-60 was deprecated as of Oct 12, 2017.  Regardless of the outcome of this issue, we might also want to consider there are newer active/stable/LTS branches listed at https://cloud.google.com/container-optimized-os/docs/release-notes#current_active_releases which might b

[2019-10-29 00:32] warmchang commented on #70585
/remove-lifecycle stale

[2019-10-29 00:48] #84195 closed

[2019-10-29 00:49] #82326 closed

[2019-10-29 00:49] tpepper commented on #84236
The cos image is found, as per the logs:

[code]

Maybe it's the ubuntu-gke-1804-d1703-0-v20181113 image?

[2019-10-29 00:55] andrewsykim opened #84490 "Should we remove the alpha.kubernetes.io/provided-node-ip annotation?"
**What would you like to be added**:
If a kubelet reported a node IP via `--node-ip` AND it was using an external cloud provider (`--cloud-provider=external`), it would apply an annotation `alpha.kubernetes.io/provided-node-ip: <ip>` on the node object during registration which would then be read by the external cloud provider to [ensure that node IP is added by the cloud provider](https://github.

[2019-10-29 00:56] andrewsykim commented on #84490
/sig cloud-provider

[2019-10-29 01:07] tpepper commented on #84236
That ubuntu image also exists:

[2019-10-29 01:07] tpepper commented on #84236
[code]

[2019-10-29 01:36] rphillips commented on #84236
@tpepper in my cloud console (with deprecated images showing) the ubuntu image does not show up for me and the cos- image does.

<img width="760" alt="Screen Shot 2019-10-28 at 8 34 22 PM" src="https://user-images.githubusercontent.com/1963/67730219-62ea3a80-f9c2-11e9-9890-e4e602f4cc14.png">
<img width="785" alt="Screen Shot 2019-10-28 at 8 34 02 PM" src="https://user-images.githubusercontent.com/

[2019-10-29 01:39] rphillips commented on #84236
I do not have a default region on this project, though when I go to 'Create Instance' it defaults to `us-central1`.

[2019-10-29 01:45] xiaoanyunfei commented on #84473
/cc

[2019-10-29 01:48] leowucn commented on #84446
@kubernetes/sig-cli-bugs

[2019-10-29 01:50] feiskyer commented on #84052
Thanks @dguendisch @chewong. I think we can close it now

/close

[2019-10-29 01:50] #84052 closed

[2019-10-29 01:51] zqzzq opened #84492 "how to get imageID in container"
**What happened**:
I want to get imageID in container, so I used status.containerStatuses[0].imageID in env, but it got failed with error message:
[code]
is there a way to get imageID in container?
**What you expected to happen**:
get imageID in container
**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Environment**:
- Kubernetes version (use `kubectl version`):1.11

[2019-10-29 02:02] RobertKrawitz commented on #83107
See https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/20180906-quotas-for-ephemeral-storage.md (which is currently in alpha). This uses XFS quotas (which also work on suitably enabled ext4fs filesystems) to monitor storage for emptydir volumes.  I'd like to graduate this to beta, if for no other reason than this.

Extending this beyond emptydir volumes will probably require simi

[2019-10-29 02:18] jceresini opened #84493 "Feature request: K8s API support for filtering Jobs by the CronJob that owns them"
**What would you like to be added**:
The ability to filter (on the API-side) for a list of Jobs that belong to a given CronJob. I'm creating CronJobs using `generateName`, so at the time of creation I don't know the full CronJob name. But I want to be able to get a list of Jobs that were run as part of that CronJob. Here's a simplified version of an example CronJob:

[code]
And a Job that runs as

[2019-10-29 02:21] jceresini commented on #84493
/sig apps

[2019-10-29 03:12] draveness commented on #84473
/assign
/remove-help

[2019-10-29 03:13] draveness commented on #84248
/assign @serathius

[2019-10-29 03:16] clarklee92 commented on #84380
I didn't noticed that `create.go` already picked by @SataQiu , sorry about that.
After looking around, there is noting need to do with: `flake_reporting_util.go`,`get-kubemark-resource-usage.go`,`google_compute.go`,`log_size_monitoring.go`,`test_context.go`(not picked).
I will pick the left: `resource_usage_gatherer.go`,`util.go` .

[2019-10-29 03:28] oomichi commented on #84380
@clarklee92 Thanks for your investigation, I've updated the above list based on your input :-)

[2019-10-29 03:42] hwdef commented on #84380
@oomichi
I think cleanup.go is does not need to be modified,
Cloud you please help me confirm it?

[2019-10-29 03:42] calmkart opened #84494 "delete crd but not stop informer watch/list"
**What happened**:
when i create a crd and delete it, the kubernetes controller logs stderr
`reflector.go:123] k8s.io/client-go/metadata/metadatainformer/informer.go:89: Failed to list *v1.PartialObjectMetadata: the server could not find the requested resource`
again and again.
If I delete more crd, the stderr will disturb me so I can't see other information.

**What you expected to happen**:
if i

[2019-10-29 03:44] calmkart commented on #84494
/sig api-machinery

[2019-10-29 03:46] hwdef commented on #84380
@oomichi
and profile_gatherer.go

[2019-10-29 05:38] saad-ali commented on #77324
/reopen

[2019-10-29 05:57] SataQiu commented on #84380
There is noting need to do with exec_util.go, and I have filed a PR for rc_util.go. @oomichi

[2019-10-29 06:47] dungdm93 commented on #79299
/remove-lifecycle stale

[2019-10-29 06:56] JingLMalan opened #84497 "Kubernetes is starting... all the time"
**What happened**:
Kubernetes is starting... all the time
**What you expected to happen**:
Kubernetes is running

**Environment**:
- Kubernetes version (use `kubectl version`):v1.14.7
- OS (e.g: `cat /etc/os-release`):10.15 Catalina
- Kernel (e.g. `uname -a`):Darwin localhost 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019; root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64
- Diagnostic

[2019-10-29 07:21] wojtek-t commented on #84452
Thanks for confirmation @smarterclayton - this is consistent with what I wrote above.

I will try to work on that in my free cycles, unless someone else will pick it up in the meantime.
The first step towards that - #84464 is out for review

[2019-10-29 07:23] tsmetana commented on #80333
Forgot about this one but I'll try again...
/remove-lifecycle stale

[2019-10-29 07:23] yue9944882 commented on #84494
this is exactly a duplicate of https://github.com/kubernetes/kubernetes/issues/79610, am i missing anything?

[2019-10-29 07:28] boddumanohar commented on #84426
here: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/nodestatus/setters.go#L333
we are removing huge page resource from allocatable memory when updating node status.

and 
here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/node_container_manager_linux.go#L170
we are not removing huge page resource from allocatable memory when Updating Node Allocatable limit

[2019-10-29 07:38] hex108 commented on #80039
/remove-lifecycle stale

[2019-10-29 07:40] zhouya0 commented on #84492
supported values: "metadata.name", "metadata.namespace", "metadata.uid", "spec.nodeName", "spec.serviceAccountName", "status.hostIP", "status.podIP".

[2019-10-29 08:04] clarklee92 commented on #84380
After some PRs merged, some functions will be called outside framework module, so we may move them one by one.

[2019-10-29 08:34] nagapavan commented on #65937
Closing this old issue. Recent comments may not be related to the actual problem I had.

[2019-10-29 08:34] #65937 closed

[2019-10-29 08:35] #83581 closed

[2019-10-29 08:47] jkaniuk commented on #84454
[measurement call APIResponsiveness - APIResponsiveness error: top latency metric: there should be no high-latency requests, but: [got: {Resource:serviceaccounts Subresource:token Verb:POST Scope:namespace Latency:perc50: 4.33ms, perc90: 7.017ms, perc99: 1.101365s Count:131}; expected perc99 <= 1s]]

Subsequent test was green. Linked problem seems unrelated - it had high PodStartupLatency.

With c

[2019-10-29 09:06] gaocegege commented on #28272
I think so and it is why we need https://github.com/kubernetes/kubernetes/pull/63641

[2019-10-29 09:13] goodjerrycao opened #84505 "nodeport service with 'externalTrafficPolicy: Local' doesn't work well for internal traffic"
![k8s](https://user-images.githubusercontent.com/57129554/67752489-07758680-fa6e-11e9-97f1-e272a3e0f1eb.jpg)

To describe it in words:

1. POD Client and POD MySQL Master running on Node A, POD MySQL Slave running on Node B.
2. POD Client sends mysql query request to the NodePort on Node A.
3. The mysql query request is executed randomly on two PODs(MySQL Master and MySQL Slave).

Because nodeport

[2019-10-29 09:31] davidq2q opened #84508 "dockerd very high memory consumption"
**What happened**:
Yesterday one of my nodes crashed because it was out of memory. One of the reasons why it crashed was that an elasticsearch data node pod went through the roof and jumped from 30 Gi memory to 50 Gi. However besides the elasticsearch process I also noticed in htop that dockerd consumed 33% of the systems memory which is 120 Gi.

After the node crashed I imposed resource limits on

[2019-10-29 09:54] verb commented on #80875
@Rand01ph great! Your help would be most appreciated. Feel free to ask questions in issue.

@praveensastry I haven't heard from you, have you made any progress? Do you want to work with @Rand01ph or hand it off?

[2019-10-29 10:32] davidq2q commented on #84508
/sig bugs

[2019-10-29 10:32] davidq2q commented on #84508
/sig platform/other

[2019-10-29 10:34] davidq2q commented on #84508
/sig api-machinery

[2019-10-29 10:50] avik-so commented on #20227
@nathan-beneke  @guusvw Have you tried Telepresence? https://www.telepresence.io/

[2019-10-29 10:54] Davidrjx commented on #83929
@riking yes

[2019-10-29 10:58] Davidrjx commented on #83929
@neolit123 you are right,thanks

[2019-10-29 11:20] VojtechVitek commented on #74414
Is there any workaround for this? I want to prune resources within a single namespace only.

[2019-10-29 11:31] droslean opened #84512 "[Failing Test] gce-cos-master-serial (ci-kubernetes-e2e-gci-gce-serial)"
**Which jobs are failing**:
`gce-cos-master-serial (ci-kubernetes-e2e-gci-gce-serial)`

**Which test(s) are failing**:
[code]
[code]
[code]

**Since when has it been failing**:
28 Oct 21:40 PDT

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-cos-master-serial

**Reason for failure**:

[sig-scheduling] SchedulerPredicates [Serial] validates MaxPods limit number

[2019-10-29 11:32] droslean commented on #84512
/sig storage
/sig scheduling

/milestone v1.17

/cc @alenkacz @alejandrox1 @hasheddan @Verolop

[2019-10-29 12:48] ikogan commented on #20227
While Telepresence technically does the job, it doesn't really integrate with many of the tools like [skaffold](https://github.com/GoogleContainerTools/skaffold) and PyCharm.

[2019-10-29 12:57] droslean opened #84514 "[Flaky Jobs] Reduce CI jobs flakiness"
There are a lot of jobs that are important for every release.

Most of the jobs are being reported from `testgrid` as `FLAKY` and the situation always does an unpredictable rotation.

With this issue opened, we want to track the `FLAKY` jobs and take the necessary actions to reduce or fix their flakiness.

## Current flakes to start with:

# sig-release-master-blocking
`integration-master`
[code]

[2019-10-29 13:02] Bryji commented on #69262
We have seen what looks like this issue - possible regression? It took 11m for the volume to attach.

[2019-10-29 13:04] paulhodson commented on #79228
Note a workaround is to use the pod resources endpoint to [monitor device plugins](https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/#monitoring-device-plugin-resources), but this seems a bit roundabout vs. say a setting.

It would be ideal if the device plugin could specify that any pods consuming its resources should be terminated or not.

[2019-10-29 13:13] stevebail opened #84515 "Namespace API documentation needs updates"
**What happened**:

I have compared the API operations between the Namespace design spec and the Namespace 1.16 API reference and found a couple of inconsistencies.

Namespace design spec can be found at
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/namespaces.md

Namespace 1.16 API reference can be found at
https://kubernetes.io/docs/reference/gene

[2019-10-29 13:14] stevebail commented on #84515
/sign api-review

[2019-10-29 13:16] whapster commented on #83936
I ended up re-installing fresh setup and all good now. We can close ticket.

thanks

[2019-10-29 13:21] andyzhangx commented on #69262
@Bryji it's more likely that disk could not be detected under `/dev/disk/` dir inside vmss instance, is it a transient issue?

[2019-10-29 13:27] andyzhangx opened #84516 "BYOK(Bring Your Own Key) support for azure disk"
**What would you like to be added**:
BYOK(Bring Your Own Key) support for azure disk

dependency: https://github.com/Azure/azure-sdk-for-go/tree/master/services/compute/mgmt/2019-07-01/compute

**Why is this needed**:

/kind feature
/assign
/priority important-soon
/sig cloud-provider
/area provider/azure

[2019-10-29 13:49] Bryji commented on #69262
Seems to happen consistently on the 2nd pod of a new deploy. We have seen 3-4 times in a row deleting and re-deploying this project. Doesn't seem to be an issue for the kafka-0 and kafka-2 pods, just kafka-1.

[2019-10-29 14:05] wozniakjan commented on #70916
@steinybot the fact that the namespace status you posted doesn't contain even healthy conditions is odd. If I am able to reconstruct the timeline correctly, https://github.com/kubernetes/kubernetes/pull/82288 was merged before 1.16.0 release, so deleting namespace should always contain some status conditions (either reporting errors or the "ok" conditions).

I will try to summarize my understandin

[2019-10-29 14:21] bzuelke commented on #69262
The version we’re running is k8s 1.13.12 in useast2. And right this is on vmss.

[2019-10-29 14:29] neolit123 commented on #80774
/lifecycle frozen

[2019-10-29 15:22] liu-cong commented on #82427
Though more about this and I don't think these metrics make sense. The filtering and scoring heavily depend on the pod and node spec/status. As a result, it hard to reason about the metric values. Is the value high because of the filter/score logic? Or is it because of the specific combination of pod and node spec? I doubt if we can get any useful information from these metrics.

The way we run fi

[2019-10-29 15:36] jiatongw commented on #77197
/close

[2019-10-29 15:47] tedyu commented on #79610
I was thinking about adding two func's to SharedInformer interface:
[code]
Given the above, sharedInformerFactory would be able to sideline informers whose count of event handlers reaches zero.
In the following snippet, such sidelining is done in WaitForCacheSync (it can also be done in a new factory func):
[code]
This way, we don't need to introduce stop channel for each informer.

[2019-10-29 16:02] rubencabrera commented on #71869
I am hitting this on Openstack using v1.11.10

Node is completely out of disk space and kubelet logs are now a loop of:

[code]

[2019-10-29 16:12] chrisohaver commented on #84326
Upgrade passed correctly

I think the best we can do here is to allow the upgrade to pass, but this will, in most practical cases, result in a cluster without a functioning DNS.  The most common practical use-case for using a self built image of CoreDNS is to use external plugins.  During the kubeadm upgrade, CoreDNS will be replaced with a stock release version of CoreDNS.  When that new version

[2019-10-29 16:40] vryzhenkin commented on #84326
@chrisohaver Yea, it's kinda strong words that "Upgrade passed correctly". Probably, I think the best solution will be to make possible skip Corefile migration and make kubeadm finish the upgrade without Corefile changes. Guys that using custom images of CoreDNS should care about Corefile for new version by themselves, IMO.

[2019-10-29 16:52] kyleian commented on #67941
@joeyparis In a similar spot; any idea what compatibility issues there were?

[2019-10-29 17:02] liggitt commented on #84494
yes, duplicate of https://github.com/kubernetes/kubernetes/issues/79610

/close

[2019-10-29 17:02] #84494 closed

[2019-10-29 17:05] leakingtapan commented on #69697
/remove-lifecycle stale

[2019-10-29 17:06] hh commented on #82089
We can move the discover discussion to another issue, but I was able to process the data in a way that reduced load time considerably.

We shouldn't need to add operationId to the logs, so I'm closing.

[2019-10-29 17:06] #82089 closed

[2019-10-29 17:06] liggitt commented on #84515
patch is uniformly supported on all resources that support get and update. we typically don't retrofit every design document with details of new generic behavior.

I'm not sure why the API docs do not include finalize details. They are included in the openapi spec that is used to generate those docs. From https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/openapi-spec/swagger.json:

[2019-10-29 17:06] hh commented on #82089
Thanks for the suggestion  @lavalamp

[2019-10-29 17:13] hh commented on #80770
/area conformance

[2019-10-29 17:17] aojea commented on #44918
/reopen

This imposes limitations on IPv6 for the node mask that can be used
https://github.com/kubernetes/kubernetes/pull/79993

[2019-10-29 17:18] liggitt commented on #84492
imageID is not a supported field for the downward API, so the only way to obtain it via the API is an actual API request to fetch the pod info

/remove-kind bug
/close

[2019-10-29 17:18] #84492 closed

[2019-10-29 17:29] tallclair commented on #84248
Notes from sig-node discussion 2019-10-29:

- Question: If we build an apimachinery API on the node, would we want to include other (not just RO APIs) node APIs in the new API? Or scope it just to a local cache?
- Concern: Running more software on the node multiplies the resource costs by the number of nodes.
  - Alternative: Run a caching server for a group of nodes, rather than for each node
- C

[2019-10-29 17:33] hh commented on #80439
/remove-lifecycle stale

[2019-10-29 18:00] bg-chun opened #84526 "Hugepages PRs Tracker"
# Note : The issue in enhancement repo will be used for PRs Tracker https://github.com/kubernetes/enhancements/issues/1539

--------------------------------------------------------------------------------------------------------------------------------------

This issue is Hugepages PRs Traker.
[This google doc](https://docs.google.com/document/d/1Xnb3ioEH_JmWLdFJ-i6Lp7jFc_fDuzzAa2oEXJglBbM/edit#)

[2019-10-29 18:01] bg-chun commented on #84526
/sig node
/cc @derekwaynecarr @dchen1107

[2019-10-29 18:01] bg-chun commented on #84526
/cc @derekwaynecarr @dchen1107

[2019-10-29 18:02] lavalamp commented on #84248
I'm concerned by the security implications of a second entrypoint into cluster data. I don't really see how to shoehorn an apiserver into kubelet in a way that solves the potential inconsistency of authn/authz rules being applied by different components; additionally, the need to run such rules means that a cache can never really be truly local.

Is there a reason we can't solve this by "just" sca

[2019-10-29 18:03] bg-chun commented on #84526
/assign derekwaynecarr

[2019-10-29 18:04] bg-chun commented on #84526
/assign dchen1107

[2019-10-29 18:07] neolit123 commented on #84446
hi, it's unlikely this can happen without kubeadm throwing an error.
do you have logs of the kubeadm upgrade command?

/triage support

[2019-10-29 18:16] adityadani opened #84528 "Support ReadOnlyMany AccessMode in portworx volume provisioner."
**What would you like to be added**:
Currently Portworx volume provisioner supports `ReadOnlyOnce` and `ReadWriteMany` modes.
We would like to add support for `ReadOnlyMany` access mode.

Currently it fails with the following error:

[code]

**Why is this needed**:
This will enable users of Portworx volume provisioner to provision ReadOnlyMany PV/PVCs.

[2019-10-29 18:18] adityadani commented on #84528
/sig storage

[2019-10-29 18:20] jennybuckley opened #84530 "Admission chain for underlying resource is not called for requests to /scale subresource"
**What happened**:
When a user makes a modifying request to an object through the /scale subresource, the /scale admission chain is called, but mutating and validating admission for the underlying resource are not. This introduces some unexpected behavior and also makes certain valid use cases impossible to enforce consistently.

For example, if a user wants to register a webhook on Deployments wh

[2019-10-29 18:31] yujuhong commented on #84236
There are 99 VMs in this project. I think we've run into resource leak + quota issue again. Manually deleting the VMs now

[2019-10-29 18:53] k8s-release-robot opened #84532 "Update publishing-bot for release-1.17"
The branch [`release-1.17`][branch] was just created.

Please update the [publishing-bot's configuration][config] to also publish this
new branch.

[branch]: https://github.com/kubernetes/kubernetes/tree/release-1.17
[config]: https://github.com/kubernetes/kubernetes/tree/master/staging/publishing

/cc @kubernetes/publishing-bot-reviewers
/sig release
/area release-eng
/milestone v1.17

[2019-10-29 18:55] yujuhong commented on #84236
Finished deleting them. Should be resolved now.

[2019-10-29 19:12] stevebail commented on #84515
/cc @liggitt
Good to know, thank you!

Do you think we should also update the description for the finalize action from the openapi spec as well?
For instance, I see PUT /api/v1/namespaces/{name}/finalize has the following description:
"description": "replace finalize of the specified Namespace"

I don't know about you but this is not very a good description :)
Maybe it should say something like th

[2019-10-29 19:27] jennybuckley commented on #84530
/sig api-machinery
/priority help-wanted
/cc @lavalamp @mariantalla

This is related to (one of the causes of) #82046 "Server-side Apply: Ownership not tracked for scale subresource"

[2019-10-29 19:30] jennybuckley commented on #84530
/priority backlog
/help

[2019-10-29 19:35] #73321 closed

[2019-10-29 19:38] khenidak commented on #84248
It might be worth doing the #s exercise comparing having kubelet as cache on every node, and the implication on its min h/w requirements etc vs. either by _scaling api-server as @lavalamp said_ or _cache(write through or not) as a replicated stateless pod_  presenting the same api endpoint as apiserver and acts as as a target for `kubernetes default service`, and can only be deployed if the cluste

[2019-10-29 19:49] odinuge commented on #82747
Test failures can now be tracked in https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial-alpha

[2019-10-29 19:56] tpepper commented on #84236
A first green run is now showing at https://testgrid.k8s.io/sig-release-master-blocking#node-kubelet-master

[2019-10-29 20:14] lavalamp commented on #80770
Not really. Stuff like this is on our list for being done eventually but not in a useful time frame for you.

[2019-10-29 20:17] lavalamp commented on #84248
I think folks will find an apiserver cache with incomplete resource support very confusing.

[2019-10-29 20:26] fedebongio commented on #84310
looks like the PR for documentation update was merged, we can close this one

[2019-10-29 20:27] fedebongio commented on #84310
/close

[2019-10-29 20:27] #84310 closed

[2019-10-29 20:28] fedebongio commented on #84372
/assign @nikhita @sttts

[2019-10-29 20:32] liggitt commented on #84530
This probably isn't well-defined enough to be marked as `help wanted`. Need to think through the implications on existing webhooks before making changes here.

/help cancel

[2019-10-29 20:32] liggitt commented on #84530
/remove-help

[2019-10-29 20:36] liggitt commented on #84310
this would be a useful thing to warn about from the server-side once we have that ability. xref https://github.com/kubernetes/kubernetes/pull/73032

[2019-10-29 20:45] liggitt commented on #84431
is this reproducible against a 1.14 or newer kubelet? 1.12 is [no longer in support](https://kubernetes.io/docs/setup/release/version-skew-policy/#supported-versions).

[2019-10-29 20:48] liggitt commented on #84530
/remove-help

[2019-10-29 21:06] liggitt commented on #84515
Not easily. That is generated from https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/installer.go#L689, which is clever, but unlikely to work well for arbitrary subresources. That generation should probably be made more generic.

I don't typically see it happen, but nothing prevents multiple finalizer actors from using that field. Each is expected to r

[2019-10-29 21:17] andrewsykim commented on #69845
/assign @thockin

[2019-10-29 21:43] psimaj commented on #66766
I will attempt to solve this issue.

[2019-10-29 21:56] sukhong commented on #80968
We were affected by this issue again today:
![image](https://user-images.githubusercontent.com/3857851/67812163-acd32f00-fa5b-11e9-94f8-b17f21b014e3.png)

A node became temporarily unreachable for 1 minute, and all the pods within this node were marked Unready and never recovered.

Can we please get some attention to this issue? This is a pretty serious bug that can impact a lot of production clus

[2019-10-29 22:18] jcomputer opened #84539 "Add warning to help users with unclear error `standard_init_linux.go:211: exec user process caused "argument list too long"`"
Kubernetes generates multiple environment variables in every container per port per service (see [here](https://kubernetes.io/docs/concepts/services-networking/service/#environment-variables)). Normally this is fine, even nice. But in a large enough cluster, this can break your workloads by trying to create too large a set of environment variables. And even more surprisingly (to someone unfamiliar

[2019-10-29 22:20] jennybuckley commented on #84530
@liggitt I should have read https://github.com/kubernetes/community/blob/master/contributors/guide/help-wanted.md first, I assumed `Good First Issue` was the only one that needed those requirements

As for the implications on existing webhooks, I think the only safe thing to do is to call both the /x/scale webhooks and /x webhooks when a user makes a request to /x/scale. Then the decision would be

[2019-10-29 22:22] jcomputer commented on #84539
/sig scalability

[2019-10-29 22:31] lavalamp commented on #84530
Implicitly this would mean that a mutating webhook might change some part of the object *other than* the `.spec.replicas` field, even though the user called the /scale subresource, which is surprising but I'm not sure how it could be any other way.

[2019-10-29 22:32] apelisse commented on #84530
Also, the changes are typically shown because the object is returned to the client. In this case, the scale object is returned to the client.

[2019-10-29 22:34] lavalamp commented on #84530
Validating & Mutating webhooks can't be interleaved, I think, so this isn't an option.

[2019-10-29 22:44] apelisse commented on #74414
We're still working on improving prune, the current mechanism is broken enough that we don't recommend people us it.

[2019-10-29 22:45] apelisse commented on #74414
Also look like it's been fixed recently.

[2019-10-29 23:55] sukhong commented on #80968
This occurred again in Kubernetes 1.16.2

[2019-10-29 23:55] baranov1ch opened #84541 "Kubenet not working with pod CIDRs from node spec in 1.16"
**What happened**:

I have a node with a CIDR allocated using k8s ipam:
[code]
but kubenet cannot allocate addresses for pods. Here is how kubenet configures host-local ipam:

[code]

note, that `subnet` field is 10.47.128.1/24, not 10.47.128.0/24

The error is like that:
[code]

**What you expected to happen**:

Pods are expected to run in the node

**How to reproduce it (as minimally and precise

[2019-10-29 23:58] erheron commented on #80177
Hi! Would this issue be suitable for me as first-time contributor?
I will be happy to help with it, came because of "help wanted" label

[2019-10-30 00:20] #84233 closed

[2019-10-30 00:21] #84448 closed

[2019-10-30 02:08] cofyc commented on #83224
FYI, I've implemented this feature in CRD based on Kubernetes 1.16.0 StatefulSet code: https://github.com/cofyc/advanced-statefulset

[2019-10-30 02:12] liggitt commented on #84530
That seems really problematic… the whole point of the scale subresource is that only the replicas field will change

[2019-10-30 02:29] liggitt commented on #84530
A few questions to explore the implications of that:
* What user would be passed in the admission attributes to the /x admission call (the original user or the apiserver loopback user)?
* Would you expect the same double-call approach for /status?
* (already raised above) what would happen if a mutating admission plugin for /x modified a field other than replicas?

[2019-10-30 03:04] raravena80 commented on #68981
/remove-lifecycle stale

[2019-10-30 04:35] andyzhangx commented on #84516
Update:
azure go sdk is ready now,
Step 1: https://github.com/kubernetes/kubernetes/pull/84543

[2019-10-30 04:36] liggitt commented on #84541
cc @khenidak

[2019-10-30 04:51] chiluk commented on #70585
AFAICT this inadvertant throttling is likely resolved by fixes 512ac999 and de53fd7aedb in the kernel.  Complain to your distros to get these fixes backported.

[2019-10-30 04:56] wtan825 commented on #40214
Any update on this?

[2019-10-30 05:56] frittentheke commented on #3595
/remove-lifecycle stale

[2019-10-30 06:08] thockin commented on #69845
I am curious why "I need to not expose nodeports", as opposed to "I don't need to expose NodePorts".

It's not clear to me if this is a per-Service option or a global thing (e.g. apiserver flag).  I feel obligated to point out that a global flag here might make your cluster non-conformant (I actually can't see where, but the service tests are twisty).

What would happen if I ask for type=NodePort?

[2019-10-30 06:10] liqlin2015 commented on #80355
Close it based this PR https://github.com/kubernetes/kubernetes/pull/79451

[2019-10-30 06:10] #80355 closed

[2019-10-30 06:14] #83472 closed

[2019-10-30 06:22] whypro commented on #17619
Can someone please explain the background of "resource-only container"? Why kube-proxy need it before?

[2019-10-30 06:25] jingweno commented on #23864
Any updates on supporting port range? I think it's a very useful feature

[2019-10-30 06:40] olivejing opened #84545 "corrupted files caused kubelet restart and kubelet restart failed"
**What happened**:
corrupted files in rook volume caused kubelet restart and kubelet restart failed, then caused node Notready
[code]

**What you expected to happen**:
kubelet service start up normally
**How to reproduce it (as minimally and precisely as possible)**:
when files are corrupted in pvc volume, it caused kubelet service restart failed
**Anything else we need to know?**:

**Environment*

[2019-10-30 07:12] Capstan opened #84546 "JSONSchemaProps reports to be Draft-04 but is used by OpenAPI v3 schema"
**This is a low priority, mainly documentation-related issue.**

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/types_jsonschema.go describes `JSONSchemaProps` as [JSON Schema Draft-04](https://json-schema.org/specification-links.html#draft-4). However, it is used by https://github.com/kubernetes/kubernetes/blob/master/staging

[2019-10-30 07:25] magicsong commented on #67974
i create 1500 pods on a three-node k8s, and i saw this. is it related?

[2019-10-30 07:34] draveness commented on #70585
That would be great, could you help to link this commits to this issue?

[2019-10-30 08:23] gertcuykens commented on #66994
/remove-lifecycle stale

[2019-10-30 08:27] Capstan commented on #84546
/sig api-machinery

[2019-10-30 08:45] goodjerrycao commented on #84505
@kubernetes/sig-network-bugs

[2019-10-30 08:53] george-angel commented on #30656
/remove-lifecycle stale

[2019-10-30 09:02] Rand01ph commented on #80875
@verb I think I will refactoring the func `convertToAPIContainerStatuses()` and can handle all type of container such as `InitContainer` or `EphemeralContainer`, whitout some func args。

[2019-10-30 09:30] #82641 closed

[2019-10-30 09:35] bhack commented on #42950
See also how was gone this old upstream thread https://github.com/kubernetes/kubernetes/issues/1513

[2019-10-30 10:01] wojtek-t commented on #84452
https://github.com/kubernetes/kubernetes/pull/84503 is the second piece out for review

Once this is done, the only remaining piece would be migrating the `meta` API group from using it.
I already started doing that in https://github.com/kubernetes/kubernetes/pull/84441 but there are a bunch of test failures there that I didn't dig deep enough to (from the first glance they seem to be test issues,

[2019-10-30 10:20] msschl commented on #43784
Any news on this?

[2019-10-30 10:41] droslean opened #84548 "[Failing Test] build-packages-debs (ci-release-build-packages-debs)"
**Which jobs are failing**:
`build-packages-debs (ci-release-build-packages-debs)`

**Since when has it been failing**:
29 Oct 11:47 PDT

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#build-packages-debs

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @alenkacz @alejandrox1 @hasheddan @Verolop

[2019-10-30 10:42] droslean commented on #84548
/assign @justaugustus
/milestone v1.17
/sig release
/priority critical-urgent

[2019-10-30 11:10] #84161 closed

[2019-10-30 11:13] mkumatag commented on #69358
/remove-lifecycle stale

[2019-10-30 11:15] mkumatag commented on #69358
/help

[2019-10-30 11:20] aojea commented on #84541
/assign

[2019-10-30 11:36] aojea commented on #84541
@dcbw just curious about this behavior and unrelated to this bug

are there any special reasons for nor using the golang net package?
CNI can't work if the subnet is not using the network address like in this case?

[2019-10-30 11:53] sakserv commented on #69845
I would lean towards the per-Service option. However, the reasoning is for a feature that doesn't exist, but probably should down the road.

The overall ask here is due to MetalLB, which does not require a NodePort to function. However, other future on-prem LBs might need NodePorts, similar to how the cloud offerings work.

Today, we can only have one LoadBalancer implementation in the cluster AFA

[2019-10-30 12:17] droslean commented on #84548
@dchen1107 Can you check why there is no such release in `cri-tools` repo?

[2019-10-30 12:19] droslean commented on #84236
Closing the issue, since the job is green.

[2019-10-30 12:19] #84236 closed

[2019-10-30 12:22] droslean commented on #84088
The job is green after https://github.com/kubernetes/kubernetes/compare/a3560d3ad...2896fb0be

[2019-10-30 12:22] droslean commented on #84088
/close

[2019-10-30 12:22] #84088 closed

[2019-10-30 12:24] droslean commented on #84454
The job is green. Closing....
/close

[2019-10-30 12:24] #84454 closed

[2019-10-30 12:27] deads2k commented on #84248
Our authn/authz already uses caches to validate SA tokens and RBAC rules.  Barring some latency races, it hasn't been much of a practical issue.

By allowing the kubelet to server an API surface that is compatible with the kube-apiserver, but which only contains those resources that are present on the node, we can make it easier to develop more narrowly scoped plugins.

I would not start by allowi

[2019-10-30 12:28] droslean commented on #84512
@k82cn Can you check
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/1189439973992960002
`[sig-scheduling] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow]`

[2019-10-30 12:29] ahg-g commented on #84456
/milestone 1.17

[2019-10-30 12:30] ahg-g commented on #84456
/milestone v1.17

any progress on this one?

[2019-10-30 12:30] ahg-g commented on #84457
/milestone v1.17

@notpad any progress on this one?

[2019-10-30 12:31] ahg-g commented on #84455
/milestone v1.17

@danielqsj any progress on this one?

[2019-10-30 12:33] droslean commented on #84514
`Conformance - OpenStack` FLAKY

@kubernetes/sig-scheduling-misc
Can you check [ci-cloud-provider-openstack-acceptance-test-e2e-conformance/1572106709](https://prow.k8s.io/view/gcs/k8s-conformance-openstack/periodic-logs/ci-cloud-provider-openstack-acceptance-test-e2e-conformance/1572106709) ?

[2019-10-30 13:02] denkensk opened #84554 "Remove the pod Info in waitingPodsMap When the pod is deleted"
**What would you like to be added**:
When the pod is scheduled to the `permit` phase and I delete the pod,  the pod still remains in the `waitingPodsMap` until the plugin allow/reject/timeout(Especially when waiting for a long time).

**Why is this needed**:
We need to take the initiative to delete the data in the `waitingPodsMap` and terminate the process in waiting state of `permit` plugin to en

[2019-10-30 13:07] ahg-g opened #84555 "make PrioritizeNodes a private function of genericScheduler"
**What would you like to be added**:
[PrioritizeNodes](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/core/generic_scheduler.go#L698) is an exported function in genericScheduler.go, it accepts many parameters that already exist in genericScheduler struct, we should just make it a private function in genericScheduler to simplify its signature.

/sig scheduling

[2019-10-30 13:07] ahg-g commented on #84555
/help

[2019-10-30 13:08] draveness commented on #84555
/assign
/remove-help

[2019-10-30 13:12] deads2k commented on #84530
I can see value in adjusting this behavior, but it is a significant behavioral change for admission plugin authors.  They *should* be relying on diffs of old and new objects to make decisions about whether an action is allowed, but I think we can be fairly certain they aren't all doing it correctly.  How would you phase this in to be safe for existing consumers?  Just an opt-in or would we be one

[2019-10-30 13:22] neolit123 commented on #70249
/milestone v1.18

[2019-10-30 13:24] liggitt commented on #83745
For well-behaved clients, it could be useful, but if it's unverified, I don't see how it can be trusted.  How would you detect/prevent a bad actor from flooding requests with a user-agent matching a client that should be high priority or unlimited?

[2019-10-30 13:30] pohly commented on #83265
Probably caused by this code: pkg/volume/util/volumepathhandler/volume_path_handler_linux.go

[2019-10-30 13:40] droslean opened #84556 "[Failing Test] aks-engine-azure-1-16-windows (ci-kubernetes-e2e-aks-engine-azure-1-16-windows)"
**Which jobs are failing**:
`aks-engine-azure-1-16-windows (ci-kubernetes-e2e-aks-engine-azure-1-16-windows)`

**Since when has it been failing**:
`29 Oct 17:03 PDT`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#aks-engine-azure-1-16-windows

**Reason for failure**:
[code]
**Anything else we need to know**:
/cc @alenkacz @alejandrox1 @hasheddan @Verolop

/sig windows
/mi

[2019-10-30 13:45] mfrister commented on #54923
/remove-lifecycle stale

[2019-10-30 13:49] droslean commented on #84556
/milestone v1.17

[2019-10-30 13:49] droslean commented on #84556
/cc @michmike

[2019-10-30 13:51] droslean commented on #84556
/cc @michmike

[2019-10-30 13:52] #60869 closed

[2019-10-30 14:07] dims commented on #84545
/remove-sig architecture
/sig node

[2019-10-30 14:11] dims commented on #83222
@roycaihw Do we really need this to be discussed in sig-arch? can you please start a thread on the mailing list and/or line up an item in the next meeting. I think this might be just handled in api-machinery if not please do as mentioned before.

[2019-10-30 14:14] dims commented on #81878
/area code-organization

[2019-10-30 14:16] dims commented on #81450
/remove-sig architecture

let's please allow docs folks to triage this and escalate if needed to arch.

[2019-10-30 14:20] dims commented on #67250
@alejandrox1 @krmayankk Do you want to deal with this in the tech debt work group? PTAL

[2019-10-30 14:26] ahg-g commented on #84554
I think we can update the event handler for deleting pods to reject the pod. Can you send a PR for that?

[2019-10-30 14:32] margach opened #84557 "Unable to copy files using kubectl cp to pod in a volume mount back by pvc"
**What happened**:
1. Created a deployment
2. Mounted a PVC
3. Tried to copy files to Mount path using `kubectl cp`
4. Copy failed with `File system is read only`
5. My PVC has `accessMode` set to `ReadWriteOnce`

**What you expected to happen**:
The files to be copied successfully using `kubectl cp`

**Environment**:
- Kubernetes version (use `kubectl version`):
v1.16.1(kubectl)
v1.14.4 (server)

[2019-10-30 14:33] denkensk commented on #84554
OK，I will send a pr for it.

[2019-10-30 14:37] zouyee commented on #84557
/sig cli

[2019-10-30 14:46] pirminjanka commented on #83307
+1

[2019-10-30 14:47] ahg-g commented on #84514
@ravisantoshgudimetla @damemi do you guys mind looking into this or tag the right people who can debug the issue?

[2019-10-30 14:51] damemi commented on #84514
I will try to find some openstack people to help with this

[2019-10-30 14:53] andrewsykim commented on #69845
The original ask was to only disable NodePorts for Service Type=LoadBalancer via a flag on the apiserver. Type=NodePort behavior would not change.

[2019-10-30 15:01] dmlabs commented on #83307
+1
Our company offers Kubernetes as PaaS. We manage Kubernetes, including IaaS OS updates and if a customer does not specify the PDB correctly, we are not able to drain the node for the OS updates.
A `--ignore-poddisruptionbudget` flag would be werry helpfull for our use case.

[2019-10-30 15:02] andrewsykim commented on #69845
The main use-case similar to what @sakserv mentioned is that NodePorts themselves are useful, but depending on the cloud provider's implementation of load balancers, node port allocation for Service Type=LoadBalancer could be unnecessary. The two main problems are:
* # of LBs is now limited to # of available node ports (not problematic in most clusters)
* node ports are exposed for an LB even thou

[2019-10-30 15:16] thockin commented on #69845
@andrewsykim

There are tests that presume LB is a superset of NodePort - I am not 100% sure, but this cluster would almost certainly fail e2e and possibly conformance.  It would also introduce some weird semantics (which are already present in the downgrade path) where users have to clear the NodePort field in order to change type from NodePort to anything else.

It's not that I disagree with the

[2019-10-30 15:23] excavador commented on #20227
Telepresence does this job terrible
- it modifies you kubernetes state, replace your objects by own objects. If you lost connection your installation would be broken
- it does not allow to port-forward only single port, only all ports of deployment/pod

More precisely, I want to see solution which intercept network connection initiation to specific service/deployment/pod port and forward it to my

[2019-10-30 15:47] ingvagabund commented on #84306
Short update. I have update the scheduler_perf_test.go code to keep `b.N` as it is so I can see what values of `ns/op` I get. Also setting the benchmark time to 1s (which should be default). Running only `BenchmarkScheduling`. What I get is

[code]
The operation time does not look too asymptotic since `b.N` variable is used incorrectly here.

`b.N` always starts at 1 and is incremented based on ho

[2019-10-30 15:54] yogeek commented on #69264
As already discussed on Slack, this does not seem to be fixed in my side :
https://github.com/kubernetes/kubernetes/pull/74910#issuecomment-545583386

Can someone confirm this please ?

[2019-10-30 16:08] serathius commented on #84248
tldr; For now I would propose for kubelet to support "node" and "pods" resources but with full benefits of k8s apimachinery.

Idea for node-local cache was born from rising interest in building node base logging and monitoring agents that can scale. Instead of developing autoscaling and sharding for cluster wide applications, we can deploy per node agents running in DaemonSet that scale horizontal

[2019-10-30 16:08] kfox1111 commented on #83265
Did a strace on losetup -j. looks like the same info can be had by:
cat /sys/block/loop0/loop/backing_file

[2019-10-30 16:11] tpepper commented on #84236
Also FTR all patch release branch CI also went green after @yujuhong 's fix.

[2019-10-30 16:35] tblazina opened #84564 "Copying file into pod more than 2 times using kubectl cp throws error"
**What happened**:
I have copied a local file to a directory in a pod which is VolumeMount of a PVC linked to an Azure File Share using `kubectl cp some_file <some-namespace>/<some-pod>:/volume_mounted/directory/in/pod`, changed the file once copied it again, and changed  and copied it a third time and received the following error:

[code]

After this if I `exec` into the container and go to where

[2019-10-30 16:37] tblazina commented on #84564
/sig cli

[2019-10-30 16:42] andrewsykim commented on #81775
It sounds like the desired behavior for graceful termination is largely dependant on how applications handle graceful termination. Wondering if we should just make the graceful period configurable and call it a day

[2019-10-30 16:43] michmike commented on #84556
@adelina-t can you please take a look? thanks!

[2019-10-30 16:43] michmike commented on #84556
/assign @adelina-t

[2019-10-30 16:46] andrewsykim commented on #77019
cc @nckturner @M00nF1sh @mcrute

[2019-10-30 16:51] cheftako commented on #43784
So we know if this is an issue. I just tried this on a 1.12 cluster and it seemed to work.
$ curl -k https://localhost/healthz
ok

[2019-10-30 16:52] liggitt commented on #84546
cc @sttts
/remove-kind bug
/kind documentation

[2019-10-30 16:55] #78638 closed

[2019-10-30 16:57] msau42 commented on #84514
For the projected volumes test, it looks like the test container returned with an error code:
Terminated:&ContainerStateTerminated{ExitCode:128,Signal:0,Reason:ContainerCannotRun,Message:OCI runtime start failed: container process is already dead: unknown

But from the output, it seems ok:
I1030 08:41:12.500] Oct 30 08:41:06.866: INFO: Output of node "bootstrap-e2e-minion-group-t61q" pod "pod-proj

[2019-10-30 17:18] gandhiano commented on #55946
maybe this can be reopened? /reopen

[2019-10-30 17:32] #84458 closed

[2019-10-30 17:56] sebolabs commented on #80897
exactly the same issue on EKS 1.14, with Nginx IC 0.26.1 😑

[2019-10-30 18:14] oomichi commented on #84380
@hwdef Thanks for your help :-) I've updated the above list based on your input.

[2019-10-30 18:43] adelina-t commented on #84556
@michmike @droslean The issue here was the dnsName for the master node in Azure exceeded the allowed length. This was introduced by this change in kubetest: https://github.com/kubernetes/test-infra/pull/14998 that was subsequently reverted by this one: https://github.com/kubernetes/test-infra/pull/15024 . I see that a new test image was generated and the bot merged the image update in the config 2

[2019-10-30 18:45] tallclair commented on #82295
related: https://github.com/kubernetes/kubernetes/issues/82379

[2019-10-30 18:49] tallclair commented on #82295
From sig-auth discussion 10/30: Consider adding an audit annotation.

[2019-10-30 18:57] lbernail commented on #81775
I think the current graceful termination behavior is what most of us expect with some remaining problems:
- conn_reuse_mode =0 is great for performance but triggers a lot of small issues. More context on why it's set up this way here: https://github.com/kubernetes/kubernetes/issues/70747 and here: https://github.com/kubernetes/kubernetes/issues/71358)
- the default value for tcp_retries2 is too hi

[2019-10-30 18:57] kvaps commented on #84322
I don't think this is the way out.

Here is problem exactly on the client side. Kubernetes is using kernel's nfs client, and if connection is lost (eg due pod restart or physical node failure) NFS-client will always try to reconnect regardless of the server.
And if you have some active I/O operations, this connection will always be routed the old pod's address due combination of graceful terminati

[2019-10-30 19:02] andrewsykim commented on #81775
Or kube-proxy watching Pods but I don't think it's worth the performance trade-off

[2019-10-30 19:04] andrewsykim commented on #81775
Sounds like there are quite a few things we can tune, I am in favor of the following tunables as a start:
[code]

(see https://github.com/kubernetes/kubernetes/issues/84041 for tcp/tcpfin/udp timeouts)

I think it might be worthwhile to write up a KEP for this so all the possible options are considered. Anyone want to own this work?

[2019-10-30 19:07] ahg-g opened #84570 "Convert interpod affinity priority to a "map-reduce" pattern"
**What would you like to be added**:

The pre-work for this is done, so converting it to map-reduce should be straightforward and includes the following steps:

1) Factor out [topologyPairToScore calculation](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/algorithm/priorities/interpod_affinity.go#L103-L211) to be run in PriorityMetadataProducer, and store the result in [priorit

[2019-10-30 19:08] ahg-g commented on #84570
/priority important-soon

[2019-10-30 19:09] ahg-g commented on #84570
/assign @draveness

@draveness would you like to work on this one?

[2019-10-30 19:11] kvaps commented on #81775
I'm agree with that solution, I think this is most expected behavior in this case.

[2019-10-30 19:27] alejandrox1 commented on #79612
Let's take a look at this
/priority important-longterm
/sig api-machinery
/remove-sig testing
/remove-lifecycle rotten

[2019-10-30 19:29] alejandrox1 commented on #79660
This sounds important
/remove-lifecycle rotten
/lifecycle frozen

[2019-10-30 19:29] alejandrox1 commented on #79628
This sounds important
/remove-lifecycle rotten
/lifecycle frozen
/priority backlog

[2019-10-30 19:29] alejandrox1 commented on #79660
/priority backlog

[2019-10-30 19:30] thyarles commented on #60807
Hi guys,

If someone (like me) still have this issue and have to use a POST to fix, I made an script to make our life easy: https://github.com/thyarles/knsk. It kill all namespaces in **Terminating** status.

Thanks.

[2019-10-30 19:32] thyarles commented on #84109
Hi guys,

Until we have an fix, I made a script to make life easier: https://github.com/thyarles/knsk. It kill all namespaces in **Terminating** status.

Thanks.

[2019-10-30 19:33] alejandrox1 commented on #79607
/priority backlog
/cc @kubernetes/sig-cli-feature-requests

[2019-10-30 19:34] alejandrox1 commented on #79595
/sig scheduling
/priority backlog
/kind feature
/cc @kubernetes/sig-scheduling-feature-requests

[2019-10-30 19:39] alejandrox1 commented on #79590
This doesnt belong to sig testing. Let's relabel and look for this
/remove-lifecycle rotten
/remove-sig testing
/sig apps
/cc @kubernetes/sig-node-proposals
/priority backlog

[2019-10-30 19:40] alejandrox1 commented on #79590
/remove-sig node

[2019-10-30 20:26] tallclair opened #84571 "[FR] Include raw request body in audit logs"
Current audit logs can include the request/response body when logged at `Request` or `RequestResponse` level. However, the object included has been deserialized and reserialized, and can lose some information in the conversion process.

There should be an optional way to include the raw request body. For example, the current audit logs would not do a good job of capturing [CVE-2019-11253 (billion-

[2019-10-30 20:27] tallclair commented on #84571
/cc @lavalamp @liggitt

[2019-10-30 20:42] tedyu commented on #82295
How about adding audit annotation key:
[code]

[2019-10-30 20:54] krmayankk commented on #20227
Tech-debt: (Sig-Architecture)
Category: Usability
Reason:   Improve debuggability for editors, help attach debugger to containers

[2019-10-30 21:02] alejandrox1 commented on #70249
Context: sig-architecture subgroup work to search for technical debt
Category: Security
Reason: Distroless containers decreased attack surface

[2019-10-30 21:09] krmayankk commented on #23864
Context: sig-architecture subgroup work to search for technical debt
Category: Networking
Reason:  Wider adoption, useful for RTP/media kind of traffic, community interest, not supported in usermode kubeproxy

[2019-10-30 21:15] krmayankk commented on #3595
Context: sig-architecture subgroup work to search for technical debt
Category: Enterprise Readiness
Reason: community interest, people trying workarounds, useful for enterprise workloads, improves enterprise adoption

[2019-10-30 21:17] BenTheElder commented on #80177
I think the issue may be to figure out what the correct replacement is. The code changes are probably not hard but knowing what they should be may be interesting and require buy in.

"good first issue" is used on issues that are targeting for first time contributors, "help wanted" has been a little more contentious :sweat_smile:

[2019-10-30 21:18] jjshanks commented on #84203
I believe this also impacts returning logs via a reactor as `restclient.Request{}` does not implement `runtime.Object`

[2019-10-30 21:21] krmayankk commented on #39420
Context: sig-architecture subgroup work to search for technical debt
Category: Networking
Reason: Improves adoption in Public Cloud, improves CTS(Cost to Serve),  k8s service is no longer declarative,

[2019-10-30 21:31] vinit-saini commented on #64002
I faced the same issue and had to remove the resources being used by the namespace manually from my openstack enviornment. From kubectl, didn't find any way to cleanup namespace mess..

[2019-10-30 21:57] korjavin commented on #30784
It's very useful when using CI/CD to understand what account is used

[2019-10-30 22:26] tallclair commented on #84473
/cc @alejandrox1
(this is tech debt)

[2019-10-30 22:32] tallclair commented on #82295
Maybe `authentication.k8s.io/plugin-name`? Or might we want to subdivide different plugins?
(more consistent with the authorization annotaitons: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/filters/authorization.go#L35)

As an asside, we should probably centralize the well-known audit annotations. Or should we consider promoting them to fields?

[2019-10-30 22:44] pjh commented on #74991
/remove-lifecycle rotten

[2019-10-30 22:45] tedyu commented on #82295
'authentication.k8s.io/auth-mechanism' seems to be a bit more general compared to 'authentication.k8s.io/plugin-name'.

For this issue, probably introducing one audit annotation key suffices.

[2019-10-30 22:46] pjh commented on #74991
cc @Random-Liu @yliaog

@Random-Liu did some investigation here and I believe found that docker is the bottleneck here, and that with containerd the stats performance is much faster.

[2019-10-30 22:48] chiluk commented on #70585
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=512ac999
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=de53fd7aedb
and probably for completeness
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=763a9ec06c4

YW.  Say hi at Kubecon.

[2019-10-30 22:52] tallclair commented on #84248
I agree with restricting this to read-only pod & node requests for now, and only expanding it on a case-by-case basis addressing real user requirements. I don't see much benefit to making it write-through.

My primary motivation is to remove the /pods endpoint, which is currently poorly supported. I agree that horizontally scaling the apiserver or a cluster-wide write-through cache could address t

[2019-10-30 23:55] #83404 closed

[2019-10-31 00:02] mrrandrade commented on #73382
Hey guys!

Original bug poster here, I've come here just to give a warm thank you to all involved with this issue.

I wanted to post the "benchmarks" of the several improvements made to kube-proxy on my setup.

My setup has around 20k lines of ipvsadm -Ln. I have a machine on my cluster running exactly 0 workloads - no pod workload, basically nothing other than kubernetes/calico using CPU.

These

[2019-10-31 00:57] draveness commented on #84570
Sure, thanks for asking

/remove-help

[2019-10-31 01:19] tanjunchen commented on #84380
@oomichi
size.go  and skip.go  do  not  need  to be modified.
Could  you  help me confirm it? THX.

[2019-10-31 01:30] mtaufen commented on #84473
Modularizing the Kubelet will probably give us some good ideas on how to restructure KubeletConfiguration in future config API versions.

[2019-10-31 01:38] hwdef commented on #84380
@oomichi
I think there is noting need to do with provider.go.

[2019-10-31 01:47] pigletfly commented on #52817
/priority important-soon

[2019-10-31 02:03] njuicsgz commented on #81775
I am not agree with this, Only

The purpose of graceful termination, as I understand, contains 2 part:
1) make best effort, the processing requests on terminating rs could response to client correctly
2) all new requests from client (no matter same conn_track or not) could route to new rs

from my experiment:
a)  setting weight to 0 will route new requests to the terminating pod(rs) in the case of

[2019-10-31 02:12] hex108 commented on #80611
/remove-lifecycle stale

[2019-10-31 02:14] lbernail commented on #81775
@njuicsgz this does not match my tests or the one from @andrewsykim. Both of us tried to send traffic after removing the RS but while the entry still existed in the conntrack. The connection was closed after the next packet which broke graceful termination (we are using long tcp connections for the tests but this would also break any in-flight http request).

There is a misleading comment in the i

[2019-10-31 02:15] lbernail commented on #81775
Yes, we really can't do that, on large clusters the memory usage of kube-proxy would be far too high (and this would mostly defeat the purpose of endpoints)

[2019-10-31 02:18] Tennen commented on #65110
also on `v1.11.5`

[2019-10-31 02:19] riking commented on #81140
From a code-level standpoint, is there any reason the Scanner couldn't be replaced with repeated calls to [json.Decoder.Decode](https://godoc.org/encoding/json#Decoder.Decode)?

[2019-10-31 02:20] jfbai commented on #84571
@tallclair I'd like to take this task. :)

/assign

[2019-10-31 02:21] jfbai commented on #84571
/remove-help

[2019-10-31 02:47] #84497 closed

[2019-10-31 02:55] kewenwang-ai commented on #82118
What if we implement this proposal through the framework, not the extender?
1. It still seems that we need to add the generic-CRD into the scheduling queuing. We can sort the CRD and the pod according to its priority by 'Sort Plugin'.
2. Every cycle of framework, if we pick up a CRD from the scheduling queue, we could introduce a 'Split Plugin' to do the splitting. And schedule the pods through th

[2019-10-31 03:09] 2qif49lt opened #84577 "NodePort dont response on guest node."
**What happened**:
i have 5nodes clutser, and the service with type NodePort and `externalTrafficPolicy: Local` that to acquire source IP. the deplotment selected by this service  is  assigned with `nodeSelector`   to a fixed node.

request is ok through the fixed work node, but  dont work from any other guest nodes.
is a feature？

**What you expected to happen**:

guest nodes should be ok also.

[2019-10-31 03:20] mikedanese commented on #81140
That's what it does right now for the most part:

https://github.com/kubernetes/kubernetes/blob/da5b90a8c33611a06114a6886eff2b074e646a65/pkg/auth/authorizer/abac/abac.go#L86

There's some special handling to continue support of preversioned config.

[2019-10-31 03:20] njuicsgz commented on #81775
@lbernail
Your tests make sense. Deleting rs makes connection error when client sending more packets, this is reasonable for graceful termination. But, for case in my test, which client reuse local port, large number of http short requests comming with same connection, the new request will continue routing to same terminating rs untill the pod recieve SIGKILL. That betrays the purpose of graceful

[2019-10-31 03:31] manalotoj commented on #75296
@fejta Ran into same issue today. Is there any estimate on when this may be fixed? Thanks.

[2019-10-31 03:39] k82cn commented on #82118
It's hard to do that in a short time; kube-batch does scheduling in job/podgroup level, and default scheduler does scheduling in pod level; that makes them hard to merged. I'm working on the migration, but I don-t think we can do that in a short time :)

[2019-10-31 04:55] #84388 closed

[2019-10-31 04:58] saurabh-sprinklr commented on #72759
No one reported it so it was closed. But do we have a fix for this?

[2019-10-31 05:07] #78580 closed

[2019-10-31 05:39] andyzhangx commented on #84516
/reopen
there should be another PR to address this

[2019-10-31 05:48] riking commented on #81140
I meant something more like:

[code]

This would allow JSON objects to be split across multiple lines, and you're not worrying about line length limits anymore either.

[2019-10-31 06:04] shufanhao commented on #5607
Actually, this solution also need run the daemonSet with ```securityContext:
          privileged: true```

[2019-10-31 06:07] shufanhao commented on #5607
+1
also need access /dev/mem in unprivileged container and don't want to run any pod with ```securityContext: privileged: true```

[2019-10-31 06:13] zeratullich commented on #76531
This issue can be fixed  by ``` rpm  -Uvh https://download.docker.com/linux/centos/7/x86_64/edge/Packages/containerd.io-1.2.10-3.2.el7.x86_64.rpm``` on Centos-7 .

[2019-10-31 06:16] hainesc commented on #81450
/sigs kubelet

Add sigs to this issue. Thanks

[2019-10-31 06:17] hainesc commented on #81450
/sigs node
/area kubelet

[2019-10-31 06:33] #81324 closed

[2019-10-31 06:51] oded-dd commented on #54482
This is a super important feature for us because ELB using least outstanding requests routing algorithm which cause data loss and NLB has limitations of 250 nodes per AZ. Once this feature/bug is resolved we can setup the NLB with externalTrafficPolicy: Local which will override the limitation of 250 nodes.

[2019-10-31 06:53] yqwang-ms commented on #81285
Thanks @krmayankk added this to debt, so, any progress there?
Could anyone help on this? :)

[2019-10-31 07:04] justaugustus commented on #81760
Migration issue opened in k/org: https://github.com/kubernetes/org/issues/1365

[2019-10-31 07:06] #84577 closed

[2019-10-31 07:11] njuicsgz commented on #81308
yes. the fixed 120s of TIME_WAIT is just 2 * MSL.

[2019-10-31 07:24] MaxCaresYww opened #84580 "The name of pod created by daemonset will be truncated at 64 characters"
**What happened**:
The name of pod created by daemonset will be truncated at 64 characters

**What you expected to happen**:
The name of pod should be correctly expanded within length of 253 characters as shared here
https://kubernetes.io/docs/concepts/overview/working-with-objects/names/

**How to reproduce it (as minimally and precisely as possible)**:

Use following yaml could reproduce the iss

[2019-10-31 07:30] ttousai commented on #78554
Bug triage for 1.17 here with a gentle reminder that code freeze for this release is on Nov. 18. Is this issue still intended for 1.17?

[2019-10-31 07:31] ttousai commented on #75482
Bug triage for 1.17 here with a gentle reminder that code freeze for this release is on Nov. 18. Is this issue still intended for 1.17?

[2019-10-31 07:35] DeadZen commented on #48520
This issue is not even remotely close to solved

[2019-10-31 07:36] ttousai commented on #73655
Bug triage for 1.17 here with a gentle reminder that code freeze for this release is on Nov. 18. Is this issue still intended for 1.17?

[2019-10-31 07:38] ttousai commented on #73489
Bug triage for 1.17 here with a gentle reminder that code freeze for this release is on Nov. 18. Is this issue still intended for 1.17?

[2019-10-31 07:52] Adirio commented on #82118
The third point is doable, as we already said. The first (and by extension the second) is really intrusive. Aside from all of the arguments against having CRDs in the scheduling queue we already gave, there is one we haven't consider: resource ownership.

Simplifying things, deployments are owned by the deployment controller. When a change is made to its spec, the deployment controller will handle