[2016-07-21 06:57] kargakis commented on #29357
cc: @kubernetes/deployment @smarterclayton

[2016-07-21 07:26] sdouche commented on #29298
@qqshfox good point, it's a private subnet. Why private subnets are ignored? How to create a private cluster?

[2016-07-21 07:28] qqshfox commented on #29298
you can create a internel ELB by using some magic k8s metadata tag.

[2016-07-21 07:40] so0k commented on #13313
For anyone coming here - the PR to deploy the logging add-on as a DaemonSet instead of a drop-in manifest on the nodes is linked here: https://github.com/kubernetes/kubernetes/issues/15324

The reason it's not in 1.3 seems to be a missing feature to handle upgrades... (the DaemonSet needs NodeSelector to ensure a single fluentd agent per node by filtering on the kubelet version running on the node

[2016-07-21 07:44] so0k commented on #13313
Overall, future of Logging is best summarised in https://github.com/kubernetes/kubernetes/issues/24677 - will most likely move away from streaming everything to stderr / stdout to ease tagging of logging source.

[2016-07-21 07:57] kevin-wangzefeng opened #29362 "make taints unique by <key, effect> on a node"
Currently in the existing implementation, how should a taint be unique (i.e. by `key` or `<key, effect>`) on a node is not clear,

1. server side validation don't actually check if there are duplicated taints any reject the request.
2. kubectl command has an implicit semantic that taint is unique by key.
[code]

Discussed with @davidopp and @bgrant0607 , David's idea is:

As discussed, we should m

[2016-07-21 08:05] jimmycuadra commented on #15546
For anyone still finding this issue via Google/GitHub search, you can see the details of how I ended up doing this in the k8s cluster deployment tool I'm building at my company: https://github.com/InQuicker/kaws. The important parts, with regards to this issue, are the definition of the load balancers in `terraform/balancers.tf`, and the security groups assigned to the balancers, k8s masters/nodes

[2016-07-21 08:13] kevin-wangzefeng commented on #29362
Add milestone since we are planning to do it for 1.4

[2016-07-21 08:18] vklonghml opened #29364 "multi-ports support in pod"
Hi all,
Does anybody have ever encounter a situation that you want two or more ports in one pod. This issue  is about to propose a suggestion, which creates multi-ports for the pods.

---
## Problem description

Many services in some usage scenarios need multi-network plane, different data plane or management plane. However, k8s can't afford multi-network for the pods, each container in the cluste

[2016-07-21 08:19] jimmycuadra commented on #19765
The reason using the recommended kubelet-wrapper approach bothers me, and why I have opted not to use it thus far, is that it relies on a separate distribution of kubelet itself on CoreOS's quay.io account. On a few occasions I've tried it, the version of k8s I was trying to use had not yet been packaged and released, and I only found this out when I brought up a new cluster and everything failed

[2016-07-21 08:22] lukaszo commented on #15310
@mikedanese Can you describe these attempts? I only saw one one kubectl side.

[2016-07-21 08:24] sdouche commented on #29298
"some magic k8s metadata tag"? What are they?

[2016-07-21 08:30] kevin-wangzefeng commented on #25320
Some updates:
- added an new item **make taints unique by <key, effect> on a node #29362**, to clarify what make a taint unique on a node.
- updated item **Implement NoScheduleNoAdmit and NoExecute (previously NoScheduleNoAdmitNoExecute, see #28082)** `NoScheduleNoAdmitNoExecute` is now to use `NoScheduleNoAdmit` + `NoExecute` instead

[2016-07-21 08:31] fvigotti commented on #29303
cat >/etc/systemd/system/hello.service <<EOF
[Unit]
Description=MyApp

[Service]
TimeoutStartSec=5
Environment=HOME=/root
ExecStart=/bin/bash -c "/usr/bin/env > /tmp/env"

I've checked , @mikekap  You are right,
in systemd under the
`[Service]` for the kubelet service descriptor,
adding a line : `Environment=HOME=/root` (and obviously having the correct /root/.docker/config.json ) seems to fix the

[2016-07-21 08:33] tazjin commented on #29076
@jingxu97 There doesn't seem to be anything "sensitive" in the kubelet logs, so here you go: https://storage.googleapis.com/ohgod-us/kubelet-logs.tar.gz

[2016-07-21 08:39] pieterlange commented on #29298
@sdouche You have to tag your subnet with the "KubernetesCluster" tag. I see you used kube-aws before, you can look at that for inspiration on how to to properly create your subnets. Also note that making a loadbalancer in a private subnet doesn't make much sense if you want to expose a service to the world (can't route in)

[2016-07-21 08:40] pires commented on #19765
Using something else than the pure `kubelet` also bothers me. I'm left wondering why stuff like `socat` is stripped from CoreOS.

[2016-07-21 08:46] tobegit3hub commented on #23562
I thinks `External IP` could only work in `GCE` right now and you can use `NodePort` in other IaaS. Please correct me if I'm wrong.

[2016-07-21 08:56] sdouche commented on #29298
Hi @pieterlange. Ok so, if I want a private cluster, how to expose service and pods w/o ELB?

[2016-07-21 08:59] mfanjie commented on #29247
Thanks @dims, not sure if this is my mac configuration problem.

The strange thing is I did not see the error when I run build on release-1.3.0, I can workaround this problem by do full build on my linux env, close the issue now. I will try more times when I clean up my handy tasks.

[2016-07-21 09:39] #28868 closed

[2016-07-21 10:16] dims commented on #26591
cc @lixiaobing10051267

[2016-07-21 10:43] luxas commented on #29132
Well, I thought it was obvious, @wojtek-t, but pointing it out now: Push the images for all arches if there's a Makefile with support for it, and the README says one should.

Thanks!

[2016-07-21 10:50] wojtek-t commented on #29132
@luxas - I did "make push".
What should I do to push everything?

[2016-07-21 10:56] hanikesn commented on #29059
Could you decrease the verboseness when the volume is already mounted? This is polluting our logs and makes more important failures harder to follow.

[2016-07-21 11:44] cben commented on #29289
IIUC https://github.com/kubernetes/kubernetes/blob/master/docs/design/identifiers.md
"UIDs" should be unique in space and time, distinguishing today's node named "foo.example.com" from next week's other node reusing the same name...

nodes do have a good Node.metadata.uid:
[code]

It's just that the ref in events (at least ones I saw) doesn't include it.

[2016-07-21 11:57] cben commented on #29289
Also reproducable on v1.3.2 (master didn't build for me):
https://gist.github.com/cben/821cee393fff7e319a2031d4b015cbdb

[2016-07-21 12:07] pieterlange commented on #29298
I do not understand what you're trying to accomplish so it's a little bit difficult to help. Issues like these (this is starting to look like a support request) are better solved through slack chat or stackoverflow as there's no actionable material for the developers here. I suggest closing the ticket and trying over there.

[2016-07-21 12:11] moolitayer commented on #29289
Reproduces on master on my machine:
"gitVersion": "v1.4.0-alpha.1.491+ecebdb570739ec-dirty",
"gitCommit": "ecebdb570739ec0a37368a25d895e5a8e10036db"

Event:
[code]

Node:
[code]

[2016-07-21 12:13] ramitsurana commented on #25572
I don't know if this may help you or not.But I think @justinsb that maybe glide has some unresolved issues.This is a conversation on using glide on minikube https://github.com/kubernetes/minikube/pull/71 .Although currently I fail to understand why kubernetes is using godeps if they have glide installed and working in place ? This is just a suggestion,I maybe wrong about this.

[2016-07-21 12:25] oc243 opened #29374 "local-cluster-up.sh kubernetes service has no endpoint"
07eb9ec seems to have broken the kubernetes service when using `local-cluster-up.sh`:

With this patch:
[code]

Without it:
[code]

Tested with v 1.3.2.

[2016-07-21 12:30] deads2k opened #29375 "GKE smoke tests don't match GKE cluster-up"
GKE smoke tests passed for https://github.com/kubernetes/kubernetes/pull/28788, but the GKE tests broke with (see https://github.com/kubernetes/kubernetes/pull/29361)

[code]

From what I understand, the actual scripts are internal, but @wojtek-t noted:

in https://github.com/kubernetes/kubernetes/pull/28788#issuecomment-234204179

@kubernetes/test-infra-maintainers @kubernetes/goog-gke

[2016-07-21 12:31] deads2k commented on #29375
@piosz cc (saw you on the original thread)
@kubernetes/rh-cluster-infra this is blocking a pull we need for security downstream (#28788) and I'm at loss as to how to debug it.

[2016-07-21 12:49] sdouche commented on #29298
You're right, sorry. Back to the initial request: I think it would be better to write: "could not find any **public** subnets for creating the ELB". What do you think?

[2016-07-21 13:20] piosz commented on #29375
@deads2k thanks for filling this.

[2016-07-21 13:31] timothysc commented on #29132
works, thx!

[2016-07-21 13:42] #29121 closed

[2016-07-21 14:04] vefimova opened #29377 "Add support for options --dns and --net=host are not mutually exclusive in docker 1.12"
Docker 1.12 is going to be relased in a week and it will contain feature  "The option --dns and --net=host should not be mutually exclusive" (https://github.com/docker/docker/pull/22408)
Let's enable using this functionality in kubelet. For now in case of "hostNetwork: true" set all dns settings are ignored if any.

[2016-07-21 14:35] bboreham commented on #29211
The manual says "This is the signal that the calling process will get when its parent dies."; it is applied to the `sudo` process, so that will get killed if the `e2e_node` process dies. That isn't what we are looking for:

    // Killing the sudo command should kill the server as well.

[2016-07-21 14:37] wojtek-t commented on #22448
@xiang90 - IIUC, currently it is not even possible to run kubernetes using etcd3 using kube-up script. Is this something you (or someone else) is going to work on soon?

[2016-07-21 14:40] xiang90 commented on #22448
@wojtek-t I do not have enough bandwidth (and expertise) to work on the setup script. It would be great if someone else can work on it. Also, we want to run e2e test with v3 api (starting api server with flag=etcd3). We have been doing this for the last two months or so. It would be great if upstream starts to do that. It would give us more confident about using etcd3 as default backend.

[2016-07-21 14:45] dstroot opened #29381 "Access from inside a K8S cluster to external database via Internet?"
This is a cross post from Minikube [352](https://github.com/kubernetes/minikube/issues/352) - sorry, wanted to see if this is a Kubernetes hurdle or a Minikube hurdle:

Minikube sets up a local network on your host box so your dev box and minikube can talk to each other. If I run a container inside minikube that needs access to resources/services **on the internet** (not just the local machine) is

[2016-07-21 15:07] rootfs commented on #29224
It looks to me a transient flake: only test 0644 timed out while similar other tests passed.

[2016-07-21 15:14] wojtek-t commented on #22448
@xiang90 - I'm happy to setup tests, but to do that, we need to be able to configure it using kube-up startup scripts. And I also don't have time to do it anytime soon.

So it seems that we are blocked on changing kube-up to support etcd3.

[2016-07-21 15:20] xiang90 commented on #22448
Do you know who maintains kube up?

On Jul 21, 2016 8:14 AM, "Wojciech Tyczynski" <notifications@github.com>
wrote:

[2016-07-21 15:22] wojtek-t commented on #22448
@xiang90 - there isn't a single person - anyone who needs to modify it is doing the work.

[2016-07-21 15:28] timothysc commented on #22448
/cc @justinsb

[2016-07-21 15:33] apelisse commented on #29303
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-07-21 15:33] #29303 closed

[2016-07-21 15:37] crawford commented on #19765
CoreOS is meant to be a lightweight distribution with a smaller-than-average attack surface. We very intentionally do not ship a lot of tools in the OS (e.g. python, ruby, socat, file, bc, qemu), with the intent that applications bring specific versions of their dependencies. We expect the kubelet/hyperkube/whatever container image to bring along its dependencies, which is one of the reasons we ma

[2016-07-21 15:38] mwielgus opened #29383 "A helper to build informers for each of the running federated clusters"
A common scenario when writing federated controllers is: "start an informer for each of the running clusters and tie its life cycles to the lifecycle of the corresponding cluster in federated apiserver". There is a bunch of various corner cases and it won't be good if everyone will try to reinvent the wheel.

Part of #29347

cc: @quinton-hoole @wojtek-t

[2016-07-21 15:39] pwittrock commented on #29357
@erictune

Is this problem as evident when the change in scale is not so large (1.1x vs 2x)

It depends on what is in the new version.  If you scale by 10%, the new RS will immediately have 10% of the Nodes.  If the new version has a bug where it 500s all logins, this will probably be noticeable.  If the new version has a flag flipped to rollout a new feature to users and it immediately goes to 10

[2016-07-21 15:40] apelisse commented on #29360
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-07-21 15:40] #29360 closed

[2016-07-21 15:44] apelisse commented on #29381
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-07-21 15:44] #29381 closed

[2016-07-21 15:53] mwielgus opened #29384 "Data structure to facilitate retries in federated controllers"
Another common scenario when writing a federated controllers are retries. After creating an object  in federated api server a success code is returned to the user. However the fun is just to begin and many thing may go wrong and require multiple retries. Even if everything goes well in some cases it may be needed to execute object-related action after a shorter or longer delay, without having to i

[2016-07-21 16:04] pwittrock commented on #29322
@AdoHe mind taking a look?

[2016-07-21 16:13] jimmycuadra commented on #19765
Fair points @crawford, and thanks for the additional context. As it applies to this issue, it still seems like the the official kubelet release needs a better story around packaging its dependencies with it in some way. There may be more tweaks that CoreOS has made to the distro-provided kubelet image, but the changes we're talking about would benefit any theoretical system with similar properties

[2016-07-21 16:16] ncdc commented on #19765
One option for socat in particular (which would likely apply to most/all other external kubelet executable dependencies) is to add it to the pause container. I'm actually going to look at doing that as a part of #25113

[2016-07-21 16:21] xiang90 commented on #22448
@wojtek-t @timothysc OK. I am not aware of that before. I thought someone maintains the scripts. We will take some time to look into it next week. Thanks for the information.

[2016-07-21 16:30] sosiouxme commented on #17226
So could we at least have the non-security-impacting options available?

[2016-07-21 16:37] yissachar opened #29386 "Kubectl should offer context completions for config use-context"
When trying to bash complete `kubectl config use-context` the completions offered are file/directory completions, which are not relevant to the command. Instead it should offer completions from the available kubectl contexts.

[2016-07-21 16:39] jingxu97 commented on #29059
Sure. We will work on that. Thanks for posting the issue.

Jing

2016年7月21日星期四，Steffen Hanikel <notifications@github.com> 写道：

--
- Jing

[2016-07-21 16:40] bgrant0607 opened #29387 "Translate Heroku app.json and/or CloudFoundry application manifests to K8s"
To make it easier to migrate from Heroku or CF to K8s.

Not sure how feasible it is, but here's the Heroku spec:
https://devcenter.heroku.com/articles/app-json-schema

It's an all-in-one spec that includes functionality we don't currently support, such as builds, "addon" services, and probably some of the lifecycle scripts. We could translate a subset and print warnings about unsupported features.

[2016-07-21 16:45] cjcullen commented on #29375
@spxtr for gke smoke tests. I'll dig into why #28788 broke GKE.

[2016-07-21 16:50] thockin commented on #17226
I think at this point, we need someone to try it and see what works.  Does
someone who is invested in this have some time?

On Thu, Jul 21, 2016 at 9:31 AM, Luke Meyer <notifications@github.com>
wrote:

[2016-07-21 17:05] wojtek-t commented on #29375
Thanks @cjcullen !

[2016-07-21 17:07] thockin commented on #25572
Kubernetes is NOT using glide yet.  We filed a number of bugs with glide, and are waiting for them.  They seemed like smallish bugs, but the glide folks have a more general solution they want to use, which has left us waiting.

@mattfarina is there no shorter path? I filed my issues literally 3 months ago.

Anyway, I am going to close this since I think it was based on the mistaken belief that we

[2016-07-21 17:07] #25572 closed

[2016-07-21 17:09] spxtr commented on #29375
The GKE smoke test doesn't actually use kubernetes from your PR yet, it uses whatever is the default for GKE. I'll fix that in the next week.

[2016-07-21 17:23] pwittrock commented on #29218
cc @roberthbailey

[2016-07-21 17:29] ivan4th commented on #26840
Should probably reopen it for now. #29034 only fixes a related issue with init container validation. The core issue with `kubectl apply` on pods will self-resolve once init containers are in beta state, but for now it's still there. So I'd suggest reopening this issue for now, too.

If someone needs to patch k8s right now to have `kubectl apply` work on pods with init containers, the following lin

[2016-07-21 17:36] erictune commented on #29357
Here is one way I am looking at it, tell me if this line of reasoning makes sense:

1. image changes typically come from CI/CD or directly from the user.
  1. These can be delayed in time if necessary.
2. scale changes will often come from autoscaling (either HPA or something the user implemented)
  1. autoscaling is often driven by load offered to the service
  1. you cannot really stop offered l

[2016-07-21 17:45] roberthbailey commented on #29218
@Salakar -- I'm sorry that the upgrade broke your deployments. https://cloud.google.com/container-engine/docs/clusters/upgrade (which can be found by following the "Learn More" link in the cloud console) describes how node upgrades are implemented:

Deleting the instances removes them from the Kubernetes cluster, which removes any customizations that you've added to the nodes (including labels), e

[2016-07-21 17:46] errordeveloper commented on #19805
Would this be of any use to Helm? Or is it purely to do with `kubectl`?

cc @kubernetes/helm-maintainers

[2016-07-21 17:46] Random-Liu commented on #25926
Simillar issue: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29181/kubernetes-pull-build-test-e2e-gce/50007/

[2016-07-21 17:51] mikedanese commented on #15310
I feel like there were two kubectl and one server side. Server side one here: https://github.com/kubernetes/kubernetes/pull/19627

[2016-07-21 17:52] mikedanese commented on #19805
Kubectl apply can be used as a library, so it's potentially reusable. Not sure if helm is using it yet though.

[2016-07-21 17:56] ramitsurana commented on #25572
Cool.Thanks @thockin for the clarification.Hopefully glide guys could fix those issues asap.It would be interesting to watch out for the kubernetes advancement with the upcoming glide features.Hey @thockin just a quick question out of the box,Any plans on using https://github.com/coreos/torus or https://github.com/emccode/rexray for any future kubernetes releases ?

[2016-07-21 18:00] smarterclayton commented on #29387
Here's the logic in OpenShift we use for this

https://github.com/openshift/origin/blob/master/pkg/generate/appjson/appjson.go

although it has pointers to more complex build steps not available in Kube.

On Thu, Jul 21, 2016 at 12:40 PM, Brian Grant <notifications@github.com>
wrote:

[2016-07-21 18:00] timstclair commented on #29346
We could do this, but I think it's harder to manage than filters on Ginkgo, especially as we need to add more distro-specific tests like this. We would also need to spin up more VMs, but I don't know whether that would be a problem.

This could be a fallback, but I'd like to avoid this sort of automatic detection in tests. The problem is if the detection breaks and the test is always skipped it's

[2016-07-21 18:02] pwittrock commented on #29312
@AdoHe Would you take a look at this?

[2016-07-21 18:05] pwittrock commented on #29271
@rhcarvalho the -o format is designed for scripting, the use case is just different from yours.  You should be able to paste the output of `-o name` into `kubectl get`.  Does `kubectl get ns -o jsonpath='{.items[*].metadata.name}'` do what you want?  If this is a common use case we could create another -o flag value.

[2016-07-21 18:10] erictune commented on #29357
Here is another way that I looked at it:

1. scale changes and image changes will often come from different sources.  We'd like those sources to not need to be aware of each other.
2. If the CI/CD system sends out a new image at time tx, and the autoscaler sends a "scale up" command at time ty, then it is non-determinisitic which order the updates will arrive, and when the controller will see it.

[2016-07-21 18:12] rickypai commented on #23580
Question regarding `sts:AssumeRole` and running proxies with DaemonSet:

It seems while we can use trust relationship to limit the number of roles the Kubnernetes workers are allowed to assume, it still means that Kubernetes workers, which runs all applications as Pods, can potentially expose all roles and is a single point of failure.

Instead, would it be possible that, instead of running the pr

[2016-07-21 18:14] dstroot commented on #29381
Got it!  Thanks.

[2016-07-21 18:20] Random-Liu commented on #29346
From the node conformance test perspective, If our test is distro-aware, the node conformance test can support more distros. :)

[2016-07-21 18:21] colhom commented on #29298
@apelisse it's a meta-issue that's tracking the effort, which is split across a half dozen or so discrete work items (the checkbox list)

[2016-07-21 18:34] timstclair commented on #11662
Old issue, but @pmorie made some recent progress on this. https://github.com/kubernetes/kubernetes/pull/25028

[2016-07-21 18:36] mikebrow commented on #22923
I wrote one. I didn't make it very generic choosing to focus on using ubuntu in a vm, it would need tweaks to expand to RHL etc.

Feel free to take from it what you will. I'd be happy to help out...

https://developer.ibm.com/opentech/2016/06/15/kubernetes-developer-guide-part-1/

[2016-07-21 18:37] euank commented on #19765
I'd like to provide a little more context to your comments about kubelet, dependencies, and the CoreOS kubelet-wrapper, @jimmycuadra.

First of all, the work of packaging dependencies with kubelet is being done with the [hyperkube image](https://github.com/kubernetes/kubernetes/blob/42a1deeff381518a97eae6293fbf0d89b3b630ee/cluster/images/hyperkube/).

It is true that we have our own package/distri

[2016-07-21 18:39] #28869 closed

[2016-07-21 18:44] k8s-merge-robot opened #29390 "[k8s.io] Kubectl client [k8s.io] Update Demo should create and stop a replication controller [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11648/

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should create and stop a replication controller [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28565 #29072

[2016-07-21 18:45] timstclair opened #29391 "Clean up Kubelet constructor & dependencies"
Forked from https://github.com/kubernetes/kubernetes/pull/29216.

Kubelet dependency construction and injection is arbitrarily distributed across a few places. There are lots of dependencies that are initialized in the various Kubelet constructors, and it's not obvious to me when a dependency should be in the KubeletConfig vs the constructor. I think we need a better story here around dependency i

[2016-07-21 18:47] timstclair commented on #29391
Related issue: https://github.com/kubernetes/kubernetes/issues/11662

[2016-07-21 18:48] wojtek-t opened #29392 "Kubemark-500 run didn't run test and is green"
In this run, we didn't even started tests, and the run is green:
http://kubekins.dls.corp.google.com/view/Scalability/job/kubernetes-kubemark-500-gce/4096/console

This is super frightening and should be fixed ASAP.

@kubernetes/test-infra-maintainers @gmarek

@spxtr - maybe you can take a look or reassign?

[2016-07-21 18:48] mikebrow commented on #13876
FWIW If you're new and try to follow the steps they don't all work. I put together a blog that covers most of what's needed to get started with building kube.  https://developer.ibm.com/opentech/2016/06/15/kubernetes-developer-guide-part-1/

I was planning on submitting some PRs to fill in the holes in development.md. Though not sure how this document should fit with #22923 "guide for new contribu

[2016-07-21 18:49] timstclair commented on #29346
I don't think anything in the conformance test should be distro dependent. E.g. AppArmor should not be a part of the conformance suite.

[2016-07-21 18:54] spxtr commented on #29392
I'll take a look.

[2016-07-21 18:59] saad-ali opened #29395 "Node E2E Flake: "PrivilegedPod should test privileged pod" fails with "invalid character""
Saw this in PR E2E run failure:
[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29240/node-pull-build-e2e-test/15326/
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/29240/node-pull-build-e2e-test/15326

[2016-07-21 18:59] michelleN commented on #19805
@errordeveloper yes - we're keeping the behavior of `helm upgrade` in line with the behavior as `kubectl apply` for now but we'll need delete functionality eventually, especially since we are tracking all of the resources that created on an install of a chart.

@mikedanese how can we go about using kubectl as a library? Do you have an example of that or any thoughts there? ... Would love to not re

[2016-07-21 19:09] rkrzewski commented on #27430
+1 to ShardSet. A shard of a distributed database has a stable identity and associated persistent storage. Shards may added/removed from the system, but it is a non-trivial operation that requires careful planning and execution. This is the gist of a PetSet as I understand it.
Also the terms "shard" / "sharding" are already familiar the intended users of this feature, which is IMO an advantage ove

[2016-07-21 19:12] kfox1111 commented on #24721
I'm trying to mount a server that needs -o nolock to work too...

The linux kernel has been ok with an open ended set of options to mount. is it really a problem?

[2016-07-21 19:14] wojtek-t commented on #29392
To be clear - we understand why the error happenned. I don't understand why the test was green there.

[2016-07-21 19:18] rhcarvalho commented on #29271
@pwittrock the use cases I've observed doing code reviews:

1. Iterate over all namespaces to get certain resources from that namespace:

[code]

2. Iterate over all namespaces, then iterate of over resource types that produce logs and fetch logs one by one:

[code]

  Above we can use `-o name` for listing pods because later we'll pass it to `kubectl logs` that accept the `type/name` syntax. We c

[2016-07-21 19:20] kfox1111 commented on #24721
oh. soft is useful sometimes, as is vers=3

[2016-07-21 19:28] chrishiestand commented on #27430
I think ShardSet is a little too narrow because sharding is a subset of what PetSets do. PetSets allow the stateful representation of shards. PetSets are also for the stateful management of unsharded data like SQL master/slave replicas or etcd clusters where data is replicated but not sharded. As best as I can tell the commonality is statefulness.

[2016-07-21 19:29] k8s-merge-robot opened #29397 "[k8s.io] Kubectl client [k8s.io] Update Demo should scale a replication controller [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/20495/

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should scale a replication controller [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28437 #29084 #29256

[2016-07-21 19:30] erictune commented on #23580
But a proxy would be single point of failure too.  If it goes down, pods cannot refresh their creds via 169.254.169.254.

[2016-07-21 19:32] erictune commented on #23580
It depends on whether you want better uptime or better security.

[2016-07-21 19:33] justinsb opened #29398 "rolling-update with empty file panics"
For example
[code]

[2016-07-21 19:33] justinsb commented on #29398
This is with recent kubectl:

[code]

[2016-07-21 19:35] rickypai commented on #23580
I was thinking running multiple-instances of proxies behind a load balancer to provide redundancy. But at least this way, the proxies' roles are isolated.

[2016-07-21 19:35] Random-Liu commented on #29346
Oh, yeah. You are right. :)

[2016-07-21 19:41] rkrzewski commented on #27430
Agreed, but does "StatefulSet" make sense? Are the things in the set stateful, or the set itself? I think most people would assume the latter. ShardSet does not have this ambiguity.
"Replica" has already been established as the identical, interchangeable kind in Kubernetes lingo, so I think using a different word is warranted for the replicas that have distinguishable identity.

[2016-07-21 19:43] spxtr commented on #29392
https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/e2e-runner.sh#L424

`dump_cluster_logs` doesn't actually fail the test, so it's swallowing the exit code and not using it.

[2016-07-21 19:55] jimmycuadra commented on #19765
Sounds like we're all on the same page then. :} Thanks for the details, @euank!

[2016-07-21 20:11] mml commented on #29341
When creating a cross-region load balancer, you can specify a custom health check.  The health check acts as a health check on the **instance** (in GCP parlance, **node** in kubernetes), but since each `backend-service` can specify its own health check, the health check is in reality can check anything, including only your pod.  See https://cloud.google.com/compute/docs/load-balancing/http/cross-r

[2016-07-21 20:15] wongma7 commented on #29224
@spxtr The test flaked because at that time `PodStartTimeout` was erroneously set to 30 seconds. In this test the pod succeeded after 33 seconds so when the timeout is 5 minutes there's no problem. https://github.com/kubernetes/kubernetes/blame/master/test/e2e/framework/util.go#L89

[2016-07-21 20:15] lavalamp commented on #29002
Third party resource installation is *not* meant to be flipped on and off often. The only use case for that is testing your third party bring up. And there it's sufficient to just keep listing the third party data path until it returns a success value. For extra certainty, look up the endpoints of the kubernetes service and make sure it appears on every endpoint.

The add is an async operation. It

[2016-07-21 20:27] mikedanese commented on #19805
The actual patch can be create with [CreateThreeWayMergePatch }(https://github.com/kubernetes/kubernetes/blob/master/pkg/util/strategicpatch/patch.go#L1143-L1153) witch the apiserver can accept with a PATCH verb to a resouce with `ContentType: application/strategic-merge-patch+json`. kubectl apply does a bit more, e.g. use annotations to keep track of the original configuration but it's still fair

[2016-07-21 20:37] spxtr commented on #29224
OK, so it looks like we can close this?

[2016-07-21 20:52] davidopp commented on #29362
@kevin-wangzefeng I'm going to assign this to you and @Dingshujie

[2016-07-21 21:00] thockin commented on #25572
Wrt torus and rexray, we have not investigated using them directly as part
of the system.  Concrete ideas on how to leverage new tech into better
solutions are ALWAYS welcome, though.

On Jul 21, 2016 10:57 AM, "Ramit Surana" <notifications@github.com> wrote:

[2016-07-21 21:06] rootfs commented on #24721
so far I see the following options are requested:
vers, soft, tcp/udp

I believe rsize/wsize are helpful too. Maybe cache params as well.

Anything else?

[2016-07-21 21:07] rootfs commented on #17226
let's track it at #24721

[2016-07-21 21:14] madhusudancs commented on #28615
Potential fix in PR #29394.

[2016-07-21 21:18] wongma7 commented on #29224
Yeah, the timeout is going to stay 5 mins: https://github.com/kubernetes/kubernetes/pull/29286. Anyway my PR only changes some logic when containers are first created so it had minimal if any effect on the time it took for the pod to succeed here

[2016-07-21 21:19] kfox1111 commented on #24721
There's a lot of options here:
http://linux.die.net/man/5/nfs

[2016-07-21 21:20] foxish commented on #28977
Unable to reproduce this with 1.3.0/1.3.0 combination with a very similar job.
Are there some other conditions I am missing? @dstynchula, are you able to reproduce it reliably?

[2016-07-21 21:24] bfallik commented on #28977
@foxish I don't know about reproducibility but I have a live VM that's exhibiting this so if you want me to poke at the state I can.
[code]

[2016-07-21 21:36] bradfitz commented on #29001
Hi, I own Go's net/http and http2 stuff.

I saw https://github.com/golang/go/issues/16451 but it appears that the bug is actually in Kubernetes.

When you get the error message:

"panic: Header called after Handler finished"

That means the ResponseWriter.Header() method was called after the ServeHTTP completed.

So, I went looking up your panic's call stack looking for suspects.

My first guess w

[2016-07-21 21:39] kfox1111 opened #29401 "flexvolume and remote volumes"
Tried to work around the lack of nfs option support in the volume plugin by adding a flexvolume that passed options through. It worked ok, but then I tried adding a second instance of the flexvolume with a different name with a lustre mount instead. I only seem to ever get one at a time to work. So there is some kind of lock in the same host I think preventing it.

Secondly, it loolks like the cod

[2016-07-21 21:54] pwittrock commented on #23896
Does that mean we have review bandwidth?

[2016-07-21 21:55] spxtr commented on #29224
Sounds good to me.

[2016-07-21 21:55] #29224 closed

[2016-07-21 21:57] pwittrock commented on #29271
Alternatively we could be kubectl recognize `-n namespace/default` as valid

[2016-07-21 21:59] bparees commented on #23896
I have review bandwidth, though my review perspective is largely limited to the original proposal intent and what was done in openshift, not so much "is this how we want it to be integrated into k8s"

[2016-07-21 22:01] pwittrock commented on #23896
SGTM.  Let me sync up with Brian on our goals.  A good chunk of Templates is implemented.  Would like to get feedback on some changes I made to the original proposal.

[2016-07-21 22:01] mml commented on #29341
Hmm... it seems we are currently not exposing anything about health checking or any knobs around load balancing through Ingress right now.  It seems impoverished compared to the service implementation.  Worth noting that even non-federated Ingress might be far away from what we need.

From http://kubernetes.io/docs/user-guide/ingress/#loadbalancing

[2016-07-21 22:16] lavalamp commented on #29001
Thank you for that write up, I knew the timeout handler was incredibly
problematic (it leaks goroutines for requests that hang!) but it seems it's
worse than I thought.

On Thu, Jul 21, 2016 at 2:36 PM, Brad Fitzpatrick <notifications@github.com>
wrote:

[2016-07-21 22:20] lavalamp opened #29402 "verify godeps doesn't"
@Random-Liu noticed that my own dependency update got the wrong commit in Godeps.json, but verify-godeps didn't fail the PR. I think it is broken. I noticed that it also didn't fail even when I manually edited files in vendor/.

[2016-07-21 22:21] lavalamp commented on #29402
@matchstick @thockin

[2016-07-21 22:29] yissachar opened #29403 "Poor kubectl error message for bad Deployment"
I went to edit my deployment to add some resource requests:

`kubectl edit deployment/mything`

I set my resources and saved the file:

[code]

But got the unhelpful message:

The problem was that I had left out the `requests` object:

[code]

Once I fixed this it deployed successfully, but it would have been nice to get a more descriptive error message.

[2016-07-21 22:36] bgrant0607 opened #29405 "Automatically get test whitelist from github teams"
It looks like jenkins's allowed user whitelist is manually updated:
https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins-pull/kubernetes-pull.yaml#L142

And "add to whitelist" no longer works.

Since the list is hard to update and most contributors don't understand the rules for updating it, it doesn't get updated. It looks like it hasn't been updated since t

[2016-07-21 22:37] yujuhong opened #29406 "kubelet's /stats/summary endpoint may return inaccurate ImageFs `UsedBytes` for docker v1.10+"
Kubelet relies on `docker history` to get the size of layers for each image, so that it can deduplicate shared layers. This is fine for docker v1.9 or before. For docker 1.10+, docker stops generating a random image ID for each layer, and just uses the content addressable IDs. Except for the top layer, every other layer has a `<missing>` ID. Kubelet relies on using the image layer IDs as keys, and

[2016-07-21 22:39] pwittrock commented on #29298
@justinsb WDYT?

[2016-07-21 22:42] ixdy commented on #29405
I filed a FR to have the Jenkins plugin look at GitHub teams almost a year ago... https://github.com/jenkinsci/ghprb-plugin/issues/160

[2016-07-21 22:50] pwittrock commented on #29357
So, my question to you guys is, what algorithm (be it option 1, option 2, or some other option) will give the same, or nearly the same end state, for each of these possible paths:

I believe Option 2 results in nearly the same states for each of the paths.  With Option 1, paths 2&3 are the same, but different from 1 and 4

@kargakis Thoughts?

[2016-07-21 22:51] mml opened #29407 "Ingress controller not syncing instance group."
Two problems, really
1. We're having trouble syncing the IG.
2. We're not warning the user.  No events.

Context: Trying to set up a simple 1-cluster service visible through an ingress before trying a federated version (#29341).

[code]

Chasing down forwarding-rule->http-target-proxy->url-map->backend-services->instance-group (phew!)...

[code]

Here's some stuff from the gclb.log

[code]

[2016-07-21 22:52] Random-Liu commented on #29406
IIUC, we tried to deal with `<missing>` layer https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/images.go#L80.

But I'm not sure whether there will usually be layers with the same `Created` time.

[2016-07-21 22:55] roberthbailey commented on #29292
We could add a shutdown script that calls into the apiserver and asks in to drain the node rather than adding an api endpoint to the kubelet.

In GCE (at least), the VM will give you a chance to do a graceful termination when the VM is getting shut down so if you resize a MIG down we could get better behavior than we currently have (there will still be cases for an unexpected shutdown, e.g. kernel

[2016-07-21 22:57] yujuhong commented on #29406
The problem now is every layer (except for the top layer) is `<missing>`. I don't believe the code can dedup shared layers correctly under the circumstances. My understanding is that the code tackling the `<missing>` IDs assumes it happens rarely and relies on `CreatedBy` (not `Created` time)  as the key. E.g., the key could be `/bin/sh -c /tmp/build.sh`

[2016-07-21 23:06] jingxu97 commented on #29076
Hi Vincent,

Thank you very much for the detailed debugging information. I tried to look
through the kubelet log from nodes you provided, didn't find anything
related to volume formatting. The following lists the timeline related to
gce-pd
I noticed that there are murmur and ejabbered storage too. And
ejabberd-storage got attached and mounted between two nodes for a few
times. Are those storage re

[2016-07-21 23:09] yujuhong commented on #29406
I don't think any kubernetes component consumes the stats, so the impact of this is limited. On the other hand, if we get accurate information from `docker history`, maybe it's not worth keeping this code?

[2016-07-21 23:14] tazjin commented on #29076
@jingxu97 Hey again!

The ejabberd and murmur storage was not affected by this at all, it's only the disks mentioned before.

I'm quite sure that the problem occured during that unusual 6 minute mount period, that is when these syslog entries were made - note the "unknown partition table" entries: https://git.tazj.in/tazjin/incidents/raw/k8s-disks/logs/syslog.md

Can you see in the GKE-side logs w

[2016-07-21 23:16] Random-Liu commented on #29406
Yeah, it's `CreatedBy`, :0

[2016-07-21 23:18] davidopp commented on #29292
I'm still not convinced. IMO node drain should be orchestrated by the Kubernetes control plane. The thing that is triggering shutdown should call into the API server to trigger the drain, which (once we implement server-side drain) can choose the "best" node to drain and/or the best drain schedule according to disruption budget, grace period, and other considerations. The post-drain actions can be

[2016-07-21 23:19] yujuhong commented on #29406
It's fine. I don't think created time is better in this case ;)

[2016-07-21 23:20] coufon opened #29408 "Pod creation throughput calculation in e2e density test may be incorrect"
In e2e density test, pod creation through is calculated by _1 / (pod creation latency) * (node number)_

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/metrics_util.go#L451

This way underestimates the throughput of creating a batch of pods, because the creation process is concurrent instead of sequential. A better way may be

_throughput per node = (pod number) / (batch c

[2016-07-21 23:21] coufon commented on #29408
@Random-Liu @yujuhong

[2016-07-21 23:25] Random-Liu commented on #29408
@wojtek-t @gmarek
/cc @kubernetes/sig-scalability

[2016-07-21 23:31] yujuhong commented on #29292
@davidopp @roberthbailey It looks to me that you two actually agreed on *something* should call into the apiserver and ask it to drain the node. Am I missing something?

[2016-07-21 23:53] bfallik commented on #28977
FWIW in my case the job is stuck with exactly the same state that @soltysh described. Here's the snippet from the kubectl log:
[code]
parallelism:0, completions:1, active:1, succeeded: 1

[2016-07-22 00:03] AdoHe commented on #29002
That's just what I mean, we should document this [here](https://github.com/kubernetes/kubernetes/blob/master/docs/design/extending-api.md)

[2016-07-22 00:05] AdoHe commented on #29312
@pwittrock I will take a look today.

[2016-07-22 00:09] spxtr commented on #29405
My [CI on GKE](https://github.com/kubernetes/test-infra/tree/master/ciongke) system checks an org and a team. It will be a while before that's in place, though.

[2016-07-22 00:12] AdoHe commented on #29289
@cben @moolitayer yes, node uid is generated in server side, you can see [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/rest/create.go#L71) and [here](https://github.com/kubernetes/kubernetes/blob/a0a07600273c6b901d8c3d6dc3ff7c7bbbd9f1fa/pkg/api/meta.go#L30), so in controller-manager, typically we can get this value.

[2016-07-22 00:12] #24568 closed

[2016-07-22 00:26] Random-Liu commented on #29406
[code]
It seems that some layers' digests are duplicated. Don't quite understand, hm.

[2016-07-22 00:28] ace-n opened #29410 "Add dry-runs + optional stricter validation to kubectl create"
#11488 proposes adding a "dry-run" flag to kubectl. I plan to implement such a flag for `kubectl create` that, when included, would prevent `kubectl create` from actually making any API requests.

In addition, I plan to add the validation logic for testing example pod configurations to `kubectl create` itself. The tests' validation logic is (much) stricter than the existing `kubectl create` valida

[2016-07-22 00:29] ace-n commented on #29410
cc @kubernetes/kubernetes

[2016-07-22 00:36] bprashanth opened #29411 "fluentd ooms too much"
@jimmidyson any ideas? It's a pig.

[2016-07-22 00:40] ace-n commented on #29410
As part of my changes, I would need to set defaults on an object of type `api.Pod  (*"k8s.io/kubernetes/pkg/api".Pod)`, but the `SetDefaults_Pod` method only accepts `"k8s.io/kubernetes/pkg/api/v1".Pod`.

Furthermore, I took a look at the files for each of these classes ("pkg/api/types.go" and "pkg/api/v1/types.go" and they look fairly similar to me at a glance. What's the reasoning behind having

[2016-07-22 00:46] jingxu97 commented on #29076
Hi Vincent,

We checked the master node, unfortunately the log for 17th is rolled over.
But I talk with Saad, and we think normally master log does not give much
information except just attach and detach requests. We are trying to build
a cluster and see whether the issue can be reproduced. One thing we want to
confirm is how the file system uuid is retrieved? Could you please share
the command yo

[2016-07-22 00:50] ixdy commented on #29405
I also just created https://github.com/kubernetes/test-infra/pull/302 to update the lists to the current teams.

[2016-07-22 00:54] coufon commented on #29408
Sorry that I was confused with the tests of batch creating and sequential creating. In the density test, the throughput of batch creating is calculated somewhere else:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/density.go#L389

[2016-07-22 00:54] #29408 closed

[2016-07-22 00:59] timstclair commented on #28641
Happened again.

[2016-07-22 01:19] smarterclayton commented on #29001
We only using the timeout handler because we didn't have a real
timeout method on http.  If we're ready to use context timeouts we
should start that here and remove the goroutine.

[2016-07-22 01:22] dims commented on #29374
Looks like we don't like explicitly don't want to allow 127.0.0.1 loopback address here - https://github.com/kubernetes/kubernetes/blob/165add8692c276115805a4a14d619138253fcdd3/pkg/api/validation/validation.go#L3136

[code]

[2016-07-22 01:26] Random-Liu commented on #29411
XRef https://github.com/kubernetes/kubernetes/issues/27630.

[2016-07-22 01:33] duglin opened #29415 "Have a more consistent naming policy for TPRs"
Right now if I create a third party resource (TPR):
- I give it a name of `org1-type.myorg1.org`
- I create new resources by POSTing to `apis/myorg1.org/v1/namespaces/default/org1types`
- with a `kind` of `Org1Type`

that's 3 different ways the name is referenced: org1-type, org1types, Org1Type

I would recommend that we not do any name tweaking. Let the user pick the name and then just use that.

[2016-07-22 01:34] jianzhangbjz commented on #29360
@apelisse Thanks your kindly reply.

[2016-07-22 01:41] duglin commented on #29415
/cc @lavalamp

[2016-07-22 02:24] jeffchanjunwei opened #29417 "kubedns can not work. Pod cantainer don't have the nameserver of kubeservice."
**I download the  k8s source code version release 1.3 , then 'make' to deploy the k8s. after that config k8s files refer to http://kubernetes.io/docs/getting-started-guides/centos/centos_manual_config/ .
The k8s cluster servie ip range is 10.254.0.0/16. I deploy on vms of openstack, whose infor showed bellow:**
centos-master: 10.139.4.183
centos-minion1: 10.139.4.184
centos-minion2: 10.139.4.195

[2016-07-22 03:02] vklonghml commented on #29364
does anyone have any ideas about the issue, thks.

@kubernetes/sig-network @kubernetes/sig-node
cc @freehan @Random-Liu

[2016-07-22 03:21] justinsb opened #29418 "AWS kube-up fails due to download timeout"
We download the kube bundle from S3 with curl `--max-time=80`.  But, now that the bundle is well over 1GB, 80 seconds is often not long enough on some of the smaller AWS instances (I think it's a combo of disk slowness, CPU slowness for the SSL and network slowness).

PR coming which bumps it to 300 once I have tested it.

[2016-07-22 03:37] smarterclayton opened #29420 "SRV records for DNS appear to be wrong"
On 1.3.2:

[code]

Headless service using hostname annotations (what petset is expecting)

[code]

For non-headless, the following *used* to return `_port._proto.ENDPOINT.service.namespace.sv.cluster.local`, but now appears not to.

[code]

Notice no port info returned by the record or no leading name prefix.

PetSet peer finder is depending on the new SRV format (so any change would break our alp

[2016-07-22 03:39] pwittrock commented on #29357
@smarterclayton Any opinion here?

[2016-07-22 03:39] smarterclayton commented on #29420
@thockin @bprashanth

[2016-07-22 03:43] justinsb opened #29422 "AWS kube-up fails with `MASTER_OS_DISTRIBUTION: unbound variable`"
`cluster/../cluster/../cluster/aws/../../cluster/common.sh: line 521: MASTER_OS_DISTRIBUTION: unbound variable`

I think #27961 got confused between e.g. KUBE_MASTER_OS_DISTRIBUTION and MASTER_OS_DISTRIBUTION; it definitely doesn't match GCE.

PR coming in once I've tested.

[2016-07-22 03:44] saad-ali commented on #29297
@grivescorbett Could you share your kubelet logs with me from when this happens. Specifically grab the `/var/log/kubelet.log` from the node that your pod is scheduled to.

[2016-07-22 03:46] saad-ali commented on #28992
Introduced in https://github.com/kubernetes/kubernetes/pull/28714 removed in https://github.com/kubernetes/kubernetes/pull/29234. Closing issue.

[2016-07-22 03:46] #28992 closed

[2016-07-22 03:57] bprashanth commented on #29420
SRV records broke in the middle (https://github.com/kubernetes/kubernetes/issues/26116) and I noticed because petset also broke. Looks like i only fixed the headless version to do what I want. @girishkalele @matchstick

[2016-07-22 03:58] saad-ali commented on #25828
I haven't received any information from @pnovotnak yet.

@FlavioF if you are running into the same issue, feel free to share your pod/pv/pvc files, your repro steps, kubelet logs, and master kube-controller-manager logs with me and I'll take a look. There are a handful of storage bugs in 1.3 that we're tracking. I'd like to understand if you guys are running into a new issue or hitting one of thos

[2016-07-22 04:00] smarterclayton commented on #29420
So the headless version more or less is "wrong" (in the sense that it's not quite following the SRV pattern for ports).  I like it being easier to get at the hostnames under the set, but it does seem inconsistent. that we return no port info there.

[2016-07-22 04:05] saad-ali commented on #29166
@nambrot When you run in to the issue again, please grab the `/var/log/kubelet.log` from the node experiencing the issue and share it with me along with your pod/pvc/pv definitions. I'll ask you for information about your GKE cluster and can grab your master logs.

@w0mbat Please feel free to do the same. If you are running your own master please also share the `/var/log/kube-controller-manager.lo

[2016-07-22 04:08] justinsb opened #29424 "AWS kube-up: fails to create /srv/kubernetes/abac-authz-policy.jsonl"
[code]

[2016-07-22 04:13] saad-ali opened #29425 "kubectl get pvc shows 0 capacity for PersistentVolumeClaim"
Bound  PersistentVolumeClaim shows 0 capacity

[code]

From http://stackoverflow.com/questions/38463725/persistentvolumemound-bound-but-with-0-capacity-using-kubernetes-on-google-compu

[2016-07-22 04:13] justinsb commented on #29424
Looks like this was broken by #29164 (which means no cherry pick).  Fix incoming...

[2016-07-22 04:23] bprashanth commented on #29420
I think i just made it do whatever it did in older versions, i.e working test with previous kube-dns, test broke, I looked up spec, sounded like we weren't following spec anyway, so i just went for backward compat. Suggested fix?

[2016-07-22 04:41] smarterclayton commented on #29420
It's possible it broke even further back.

Assuming this ever worked correctly, SRV at least has a fairly well defined spec - originally we followed it w.r.t. setting up ports and such, and it's hard to argue that we shouldn't at least consider being compliant.  Complicates pet set lookups.

Other alternatives:
- introduce a new suffix (like `.endpoints.`) where we more carefully define the behavi

[2016-07-22 04:45] bprashanth commented on #29420
I think this is minor. Worst case i can do 2 looksup, one for endpoints, then a ptr. But it already works this way so, so it's compat vs spec. I do think it broke earlier, thought that's no reason to not bite the bullet.

[2016-07-22 04:47] smarterclayton commented on #29420
For a SRV you are allowed to strip leading _ signifiers, so there's that option.  PTR is kind of ugly, I'd like to avoid that as much as possible.  Being able to do a single query to get this info is pretty important to lots of clients.  Would rather make the call useful.

[2016-07-22 04:48] saad-ali commented on #29202
My initial thought was a rolling deployment creates a second pod while the first pod is still running (by default), and since the GCE PD would already be attached to the first node, the 2nd pod would fail whenever it landed on a different machine.

But it looks like you are using the `Recreate` strategy which is supposed to kill all existing Pods before creating new ones.

When you run into this a

[2016-07-22 04:51] justinsb commented on #29422
cc @maisem

[2016-07-22 05:43] wojtek-t commented on #27142
We had performance regression few hours ago - revert: https://github.com/kubernetes/kubernetes/pull/29429 should fix the problem.

[2016-07-22 06:29] wojtek-t commented on #29001
Thanks for looking into it @bradfitz

@smarterclayton - can we use context timeouts without http2? If so, that might be the best option.
Also, I didn't look into the related code, but can we do it only this place for now?

[2016-07-22 07:03] hodovska opened #29433 "kubectl create limit: need for specification of usage"
How should the usage of new subcommand `kubectl create limit` look like?

kubectl create sub-command will be created to provide simpler way of how to create LimitRanges for pods and containers. For now it is possible by object definiton in file and passing to kubectl create.

One named limitRange object consists of multiple values which are specified by:
    - type - pod or container,
    - resour

[2016-07-22 07:05] #29424 closed

[2016-07-22 07:06] hodovska commented on #29433
Suggestion of how the sub-command could be used:

[code]

[2016-07-22 07:20] anzhsoft opened #29434 "kubelet only choose the first api-server given， caused all services unavailable."
one of The kubelet's start parameter is
-api-servers=[]: List of Kubernetes API servers for publishing events, and reading pods and services. (ip:port), comma separated.

It appears that it's designed for api-server's HA, only if one of the api server is alive, that everything will work well.

But I found that the kubelet would only choose the first api server, even if I gave it 3 api -servers. If

[2016-07-22 07:41] #28135 closed

[2016-07-22 07:43] AdoHe commented on #29289
@smarterclayton @cben @moolitayer I just opened a PR #29437 to fix this, ptal.

[2016-07-22 08:13] #28643 closed

[2016-07-22 08:36] lixiaobing10051267 opened #29440 "Many websites are invalid in docs"
such as: docs\design\indexed-job.md
line 868:
Kubelet does support [expanding varaibles without a
shell](http://kubernetes.io/v1.1/docs/design/expansion.html)

[2016-07-22 08:59] #18667 closed

[2016-07-22 08:59] kargakis commented on #29357
Regarding Option 2 what if there are two updates: first is the new template, second is the scaling (and the order really matters) ?

@bgrant0607 wanted proportional scaling by default - we could make it configurable so users can fallback to the old behavior but you still end up working on a level-based way for proportional scaling.

[2016-07-22 09:23] wojtek-t commented on #29392
OK - that's a great point.

This is what is wrong - in case of failure of the test we should dump the logs, but we should turn down the kubemark cluster and fail the test. I will take a look how to do it in the easiest way.

[2016-07-22 09:34] tazjin commented on #29076
@jingxu97 I made new volumes based off snapshots before and after the incident, attached them to an instance and used `lsblk -f -o NAME,UUID`

[2016-07-22 09:39] #28785 closed

[2016-07-22 09:40] k8s-merge-robot opened #29444 "[k8s.io] Etcd failure [Disruptive] should recover from SIGKILL {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1767/

Failed: [k8s.io] Etcd failure [Disruptive] should recover from SIGKILL {Kubernetes e2e suite}

[code]

[2016-07-22 10:09] bboreham commented on #28510
I had the exact same problem.  This message, output in the early stages of the build, seems relevant:

[code]

[2016-07-22 10:28] errordeveloper commented on #19805
@mikedanese so we are talking about retrieving original objects and comparing those? How can we figure out what belongs to the same directory/group/batch?

I've looked at `annotations.LastAppliedConfigAnnotation` and it seems to relate to the each individual object... Anyway, I don't think it'd make much sense to store previous versions of current object and other objects from the same directory i

[2016-07-22 11:56] soltysh opened #29448 "Kubelet should attach SHA of image(s) to pod status"
Moving this piece from [this comment](https://github.com/kubernetes/kubernetes/pull/27129/files/4a60be831efce93d7e210df47d79e7c18d5d13c2#r71607506). Generally the idea is to have the kubelet to attach SHA of the image(s) running in a pod in the pod status field. This will be useful for the aforementioned image policy proposal and related image auditing capabilities.

@erictune fyi

[2016-07-22 12:22] errordeveloper commented on #24649
I think `--file-list` (`-F`) is good, it's more explicit about what it is. Using stdin is also a good idea, basically just like `-f`. Not too sure about `--filenames`, it seems like it'd be easy to misread.

[2016-07-22 12:23] dims commented on #29053
@thockin the following PR went in a couple of weeks ago: https://github.com/kubernetes/kubernetes/pull/28522/commits/08974941636634dc41e7f6e4a37f784f30834ed5

[2016-07-22 12:26] errordeveloper commented on #19805
Also, I'm thinking that making this a dependency of #24649 may be a good idea, and users would probably find that reasonable.

[2016-07-22 12:52] k8s-merge-robot opened #29449 "[k8s.io] Services should work after restarting apiserver [Disruptive] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13406/

Failed: [k8s.io] Services should work after restarting apiserver [Disruptive] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28257 #29159

[2016-07-22 12:55] DavadDi opened #29450 "how kube-apiserver worked on binding 443 port using non-root?"
I noticed that installed kube-apiserver prog can start  on port 443 (<1024) using non-root user 'kube'.

But I can't find any clue how kube-apiserver prog works. Any help? I have the problem of binding port 443 when upgrade kube-apiserver by cp.

Also I know linux capabilities (CAP_NET_BIND_SERVICE Bind a socket to Internet domain privileged ports (port numbers less than 1024).) such as:

But I fi

[2016-07-22 13:04] k8s-merge-robot opened #29451 "TestUpdateSelectorToRemoveControllerRef {replicationcontroller}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/14717/

Failed: TestUpdateSelectorToRemoveControllerRef {replicationcontroller}

[code]

[2016-07-22 13:40] nambrot commented on #29166
Will do. I moved from having many smaller instances to larger instances and
that so far avoided the issue

On Fri, Jul 22, 2016 at 12:06 AM, Saad Ali <notifications@github.com> wrote:

[2016-07-22 14:22] grivescorbett commented on #29297
Oddly this morning when I went tried with a fresh cluster I couldn't replicate it, but then the same bug started happening while it was trying to mount secrets.  Yesterday I had switched to using a secret instead of a configmap because it seemed to had fixed the issue, lol.  In this case it's failing to mount a `secret` named `core-config-files`

[kubelet.log.txt](https://github.com/kubernetes/kub

[2016-07-22 14:26] pigmej opened #29453 "AppController - stateful app deployments"
AppController will allow to work with statefull applications that involve many components (openstack for example) more easy and more native. AppController will understand dependencies between kubernetes objects and therefore it will create them in correct order. It will be deployed as POD. At first it will be just responsible for initial deployment, then can be extended to support post deployment

[2016-07-22 14:37] smarterclayton commented on #29001
I'll have to double check but we can use context timeout safely with
1, and both etcd and our apiserver would probably respect it correctly
here.

[2016-07-22 14:41] edsiper commented on #29411
did you faced any issue ?

[2016-07-22 14:46] smarterclayton commented on #29453
Can you contrast what you are proposing to PetSets (which are generally intended to solve this)?

Also, when suggesting things like this, we prefer to have a discussion in the GitHub Kubernetes repo in an issue, create a proposal, get consensus, and only then open a feature in the feature repo.

[2016-07-22 14:49] smarterclayton commented on #29453
Also, I think the next sig-apps call would be a great place to discuss this issue - @michelleN if necessary can we make room on the agenda?

[2016-07-22 14:56] yujuhong commented on #29406
`sha256:5f70bf18a086007016e948b04aed3b82103a36bea41755b6cddfaf10ace3c6ef` is the hash of an empty layer. See https://github.com/docker/docker/issues/22072#issuecomment-210510562

[2016-07-22 15:01] smarterclayton commented on #10456
There is work ongoing by @marun for OpenShift to implement a combination VRRP gateway for a subnet range that would offer simple LoadBalancer behavior on services with stable external IPs.  It would be a new type of controller, and we anticipate moving this into a community project sometime in the next few months.

[2016-07-22 15:02] pigmej commented on #29453
@smarterclayton you just cannot deploy whole openstack as PetSet. Also as I said " then can be extended to support post deployment actions."

PetSets are super cool, but sometimes you will have dependency between k8s job and daemonset.

Can we create PoC to show our idea? Also I would like to add that this stuff would be more similar to controllers than PetSets itself.

@smarterclayton I was instr

[2016-07-22 15:06] jimmidyson commented on #29411
How much memory are you seeing it use? Can you share any resource usage stats? We don't face issues with it, although it may not be on the scale you're using it.

[2016-07-22 15:14] derekwaynecarr opened #29456 "Services that consume multiple node ports are charged for 1 in quota"
If a service consumes multiple node ports, quota is only charging for one of those and not all.

[2016-07-22 15:24] derekwaynecarr commented on #29456
/cc @kubernetes/rh-cluster-infra

I am putting a patch together per our chat @ncdc

[2016-07-22 15:25] derekwaynecarr commented on #29456
@sdminonne fyi

[2016-07-22 15:37] derekwaynecarr commented on #29433
Due to history of `LimitRange` existing before requests/limits were clearly defined, I would like the command to reflect where we want `LimitRange` to go so it will continue to function even when we have a v2 concept for that resource.  That could mean using slightly different flag names than the API fields (which muddle default and defaultRequest).

[2016-07-22 15:37] brendandburns commented on #29002
fwiw, the async nature is intentional.  the system is purposely de-coupled, there are lots of other examples of this in the system (e.g. creating a replication controller doesn't create pods immediately)

It's much more robust this way (of course it does put a little more burden on the client side)

I could see adding a utility function somewhere to wait, but honestly it's basically

[code]

[2016-07-22 15:38] philips commented on #29453
@pigmej Could this be implemented as a third party controller? If not why?

[2016-07-22 15:43] ncdc commented on #29453
This sounds a lot like #1704

[2016-07-22 15:51] jeffmendoza commented on #29410
cc @kubernetes/kubectl

[2016-07-22 15:58] pigmej commented on #29453
@philips Could be, I didn't put any technical details by intention though for now. We could also reuse some parts of "new" workflow (#25067). But still we would like to have it "in" kubernetes and not to have yet another separate framework that uses kubernetes to do stuff.

But yeah #1704 sounds kinda similar too, though AppController is more application/workload orineted, while #1704 is more work

[2016-07-22 16:21] bgrant0607 commented on #29453
Yes, it does sound like #1704.

Please also see the decision for Workflow:

https://github.com/kubernetes/kubernetes/pull/24781#issuecomment-215914822
https://github.com/kubernetes/kubernetes/issues/25067

This will need to be implemented outside the core.

[2016-07-22 16:27] apelisse commented on #29450
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-07-22 16:27] #29450 closed

[2016-07-22 16:29] apelisse commented on #29434
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-07-22 16:29] #29434 closed

[2016-07-22 16:30] pigmej commented on #29453
@bgrant0607 I'm aware of workflow decision that's why I put `'new' workflow` ;-) Thanks for links though.

And yes the idea was to implement it outside core. But there may be some need to modify core (not major though).

[2016-07-22 16:30] apelisse commented on #29401
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-07-22 16:30] #29401 closed

[2016-07-22 16:32] duglin commented on #29002
@brendandburns yep, I get that and for lots of things the async nature makes sense. But I'm not sure it makes sense for all. For example, I think people would understand that it takes a while to spin up containers, but I'm not so sure the delay for creating a new resource type (which is mainly updating etcd) is so easy to understand.

I think, at an abstract level, a lot of this goes to the UX. Su

[2016-07-22 16:41] #24392 closed

[2016-07-22 16:47] pwittrock commented on #29440
@lixiaobing10051267 Would you be willing to file a PR against the kubernetes/kubernetes.github.io docs rep to fix the issues you find?

[2016-07-22 16:48] pwittrock commented on #29398
@AdoHe I think this is a duplicate, but just in case.

[2016-07-22 16:50] girishkalele commented on #29053
@dims Since the dns pod is an addon, it does not run the in-tree version automatically.

The kubedns container needs to be rebuilt and pushed to gcr.io and the addon kube-dns yaml updated etc to have the change take effect.

I've been holding off building and pushing a new container and changing the kube-dns yaml in the addons directory, we had a few more improvements to the DNS pod we were trying

[2016-07-22 16:56] thockin commented on #29053
This.,  But also, that commit changes everything to V(2) but I thought we
generally run at V(2) anyway?  And it doesn't focus on cleaning up the text
of messages to be more useful.

On Fri, Jul 22, 2016 at 9:51 AM, Girish Kalele <notifications@github.com>
wrote:

[2016-07-22 17:02] pwittrock commented on #29410
cc @lavalamp

What you are seeing has to do with internal vs external representation of the types.  Types are converted to an internal for business logic processing.

[2016-07-22 17:03] mikekap commented on #23330
On a small note to future readers, this is partially fixed by #27256, in 1.3.0+.

[2016-07-22 17:03] mtaufen commented on #27980
First draft of proposal here: https://github.com/kubernetes/kubernetes/pull/29459

[2016-07-22 17:06] pwittrock commented on #29410
@ace-n What are you using to set the defaults?  I believe that is normally performed on the server side.

[2016-07-22 17:07] pwittrock commented on #29403
@yissachar Would you be interested in filing a PR to fix the issue?

[2016-07-22 17:09] smarterclayton commented on #29410
There was discussion that the implementation of dry run had to be on the server, not on the client.  Which would mean tooling up the admission chain to handle persist / not-persist variants (quota increment for instance has to be skipped in a dry-run)

[2016-07-22 17:09] rootfs commented on #24721
fix is at https://github.com/kubernetes/kubernetes/pull/29460

[2016-07-22 17:14] yujuhong commented on #29039
I created a simple http server pod with container port 8080 and host port 10234

[code]

Curling the pod_IP:container_port works.
[code]
Curling the localhost:host_port failed hangs.
[code]

[2016-07-22 17:25] ace-n commented on #29410
@pwittrock I was using the `SetDefaults_Pod` method [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/defaults.go#L127).

(It's possible that this is meant to be an internal/server-side method - but I was trying to implement --dry-run and --validate=strict client-side, since that's where [examples-test.go](https://github.com/kubernetes/kubernetes/blob/master/examples/examples_

[2016-07-22 17:34] girishkalele commented on #28648
# Proposal

The solution is to create a sidecar container which will discover its pod's parent object (either a ReplicationController or a ReplicaSet->Deployment) and scale the `Replica` parameter based on the number of schedulable nodes in the cluster.

# Methodology

We use a Golang binary that will run as a Kubernetes API client and watches the number of schedulable nodes in the cluster and syn

[2016-07-22 17:36] k8s-merge-robot opened #29461 "[k8s.io] Variable Expansion should allow composing env vars into new env vars [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/20538/

Failed: [k8s.io] Variable Expansion should allow composing env vars into new env vars [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-22 17:36] girishkalele commented on #28648
# Rolling Upgrade - Considerations

Since the mapping parameters are not baked into the code but are read from the ConfigMap, having M replicas running old sidecars and N containers running new sidecars during a rolling update should not be an issue.

[2016-07-22 17:36] Deepak1100 opened #29463 "one or more request from haproxy to cluster-ip(service-ip) are getting miss at the time of deployment of other app(RC)"
Hi,

I have multiple app's(rc).
So whenever i am deploying RC 'A' , one or more req of RC 'B'  and for other RC's is getting miss for like a second.
So i think whenever there is creation of new container kube-proxy is rewriting whole iptables rule. And at time if there is any request happening at that they are getting miss.

i am getting errors like this from haproxy at the time of deploying  App

[2016-07-22 17:37] girishkalele commented on #28648
cc @roberthbailey @thockin

[2016-07-22 17:37] yissachar commented on #29403
@pwittrock Maybe, trying to sort some things out regarding the CLA.

If I was to work on a PR, do you have a pointer on where I would start?

[2016-07-22 17:43] smarterclayton commented on #29410
It would not be recommended to directly invoke defaulting on the client side today.  Our general goal is to move most of this logic back to the server, and adding more in the client now is going to complicate that.

[2016-07-22 17:44] smarterclayton commented on #24649
Are there any standard names in use in GNU utils that we can crib?

On Fri, Jul 22, 2016 at 8:22 AM, Ilya Dmitrichenko <notifications@github.com

[2016-07-22 17:48] jeffmendoza commented on #29410
This is making me think that we could possibly have a separate command:

kubectl validate (client side validation)
kubectl create/run --dry-run (server side dry run)

[2016-07-22 17:49] smarterclayton commented on #29410
Yes, the client side validator that specifically invokes validate would make a lot of sense.

[2016-07-22 17:52] girishkalele commented on #29420
Would love a summary about all of this.

What we expect the SRV records to look like for correctness for the various cases of ServiceSpec:type.
And what we need them to be for petset to work correctly.

[2016-07-22 17:57] fabianofranz commented on #24649
@smarterclayton Maybe `--files-from` from the POSIX guidelines: http://www.gnu.org/prep/standards/html_node/Option-Table.html#Option-Table

[2016-07-22 17:59] smarterclayton commented on #24649
That's about as official as I can imagine!

[2016-07-22 18:09] luxas commented on #29132
@wojtek-t Seems like I should document/clarify it even more then.
See here: https://github.com/kubernetes/kubernetes/blob/master/cluster/images/etcd/README.md

Might be worth it to just automatically push all arches on "make push"... I may put it on my todo list :)

[2016-07-22 18:13] luxas commented on #26093
Thanks @detiber! (And for anyone out there that knows even more deps of the kubelet, comment!)

I think @timstclair meant that all storage drivers are soft deps, so kubelet would log a warning.

[2016-07-22 18:35] thockin commented on #29420
I am out today, so can't fully process.  AFAIK we always required the _port._proto prefixes to get port numbers.  We supported SrV queries without that as a convenience, but port was always 0, because there can be multiple ports.

I SWEAR this is covered by e2e and documented.  If I am wrong, that should be step 0.  Document t the schema we expect to work, and the results we expect to return.

[2016-07-22 18:53] ncdc commented on #29433
cc @kubernetes/kubectl @kubernetes/rh-ux

[2016-07-22 19:03] yujuhong commented on #29252
Just a note: there is experimental nvidia GPU support in pkg/dockertools. We'll need to handle that.

[2016-07-22 19:06] wonderfly commented on #27551
Unfortunately this needs a new owner, and probably from Kubernetes team. @gmarek, Can you unassign me?

cc/ @kubernetes/goog-image

[2016-07-22 19:13] dcbw commented on #27398
@MikeSpreitzer removing apiHidden would be fine with me; that makes things simpler if all addresses that a plugin returns are reported to the API server.

[2016-07-22 19:17] dcbw commented on #27398
With the example of the health-check address, there's no requirement that it conform to any of the IEEE scopes.  A plugin could have a separate routable network for them too.  I think we still need some kind of distinction since the meaning of these addresses is defined a much higher level than IEEE scopes...

[2016-07-22 19:18] k8s-merge-robot opened #29467 "[k8s.io] Docker Containers should be able to override the image's default command and arguments [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11721/

Failed: [k8s.io] Docker Containers should be able to override the image's default command and arguments [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-22 19:18] timothysc commented on #29001
I'm inclined to re-enable http2 and force resolution, b/c it's uncovering dormant bugz.  Opinions?

[2016-07-22 19:28] MikeSpreitzer commented on #27398
@dcbw: Yes, I was just trying to cut down the problem a little.  I agree that the distinction of being used for probing is not discernible from the address itself and thus needs to be conveyed by an accompanying piece of data.  I am just saying that *some* of the distinctions that have been raised in this conversation do *not* need any additional data.

[2016-07-22 19:32] matchstick commented on #27551
@dchen1107 Can you find an owner for this?

[2016-07-22 19:37] smarterclayton commented on #23376
Which issue will we use to track the metrics API being available as a first class api?  Should we discuss this in the next @kubernetes/sig-api-machinery call?

[2016-07-22 20:03] quinton-hoole commented on #23376
cc: @mwielgus re: Federation cross-cluster load-based scheduling.

[2016-07-22 20:03] bprashanth commented on #27551
I think the work here is to automate https://github.com/kubernetes/kubernetes/issues/27551#issuecomment-226570940 so it makes debugging this easier. There's nothing else one can do to figure out why we failed to place kube-master-configuration on the master.

[2016-07-22 20:05] aristidesfl commented on #29206
This is problem supposed to be fixed by https://github.com/kubernetes/kubernetes/pull/29300

[2016-07-22 20:24] pwittrock commented on #29357
Regarding Option 2 what if there are two updates: first is the new template, second is the scaling (and the order really matters) ?

If the updates are made close enough together that the control loop may or may not see both in the same iteration...

- Option 2 will always proportionally scale.
- Option 1 will non-deterministically either proportionally scale or scale the new RS

If the updates ar

[2016-07-22 20:31] david-mcmahon commented on #28435
I am unlikely to have the bandwidth to drive this further this quarter or before 1.4.  Area leads should be assigning the subtasks @jbeda identified and I filed issues for to get this done before 1.4.   @thockin @mikedanese @davidopp @luxas @quinton-hoole @alex-mohr.  Please cc anyone I've missed.

[2016-07-22 20:33] david-mcmahon commented on #27368
@lavalamp can you elaborate further here on what exactly we want to check or can we just close this?

[2016-07-22 20:34] erictune commented on #29357
It seems like the A:B ratio should increase significantly only if our confidence in B has increased.  Only the passage of time and successful health checks of B-pods should increase our confidence in B.  An increase in replicas does not imply an increase in confidence.  So, from that standpoint, option 1 doesn't make sense to me.

[2016-07-22 20:36] kargakis commented on #29357
It's worth noticing that option 2 will scale the wrong replica set(s) (the order matters - we asked for the template to rollout first and then for the scaling to happen) while option 2 will always correctly scale the new replica set first, albeit non-deterministically.

[2016-07-22 20:36] nikhiljindal opened #29469 "Figure out why federation does not work with 1.3.0 kubectl"
From slack channel:

cc @kubernetes/sig-cluster-federation @jianhuiz

[2016-07-22 20:44] kargakis commented on #29357
This can go either way: you run a deployment with 10 pods, you rollout a bad image that you discover only at runtime, by that time you have minimum availability but you also have pods that take all the places up to your surge count. You rollout a fix to the new image and you scale up at the same time to hasten the new rollout or an autoscaler scales you up. If you proportionally scale before you r

[2016-07-22 20:47] cjcullen opened #29470 "Support query parameters in httpGet livenessProbe"
Brought up in https://github.com/deis/controller/issues/774 and http://stackoverflow.com/questions/38532286/kubernetes-liveness-probes-with-query-string-parameters.

I don't think it would be hard to add, but I don't know whether or not it's a model we want to encourage/support.

[2016-07-22 20:50] ncdc commented on #26135
I've seen what I think is this same issue on 2 PRs today: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29465/kubernetes-pull-build-test-e2e-gce/50230/ and https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29249/kubernetes-pull-build-test-e2e-gce/50218/

[2016-07-22 20:54] kargakis commented on #29357
--> deployment=10, maxUnavailable=2, maxSurge=3, rs1=10
Bad image lands
--> deployment=10, rs1=8 (minimum availability maintained), rs2=5
New fixed image lands plus you scale to 20
If you proportionally scale before rs3:
--> deployment=20, rs1=14, rs2=9 (note that these 9 pods are broken)
Minimum availability should be 20-2=18 pods and you are only running 14.
If you let the new replica set run as

[2016-07-22 21:13] therc commented on #29470
This should already be working, even without adding new API types for the query parameters. My PR was merged a few days after the Deis bug was opened (but this is the first time I see it):

https://github.com/kubernetes/kubernetes/pull/25064

[2016-07-22 21:15] pwittrock commented on #29357
In a level based system we do not operate on events, but on the observed state at the time we sync.  We cannot depend on ordering of events or distinction of separate updates vs a single update to drive behavior.

I think you meant "option 1" here.  Option 1 will NOT always correctly scale the new replica set.  You cannot determine what it will choose to do.

We should either always scale proporti

[2016-07-22 21:31] kargakis commented on #29357
Is this true? Think of the two possible scenarios with option 1:
1. events are noticed separately - great
2. events are noticed as one update - the new replica set is scaled as part of the rollout process unless you are scaling down.

In both cases, we execute the contract of rolling out the latest state of the deployment whereas that's not the case with option 2. Honestly, I don't mind taking the

[2016-07-22 21:35] rickypai commented on #12742
@erictune: in the workaround, wouldn't this mean the nodes need to store on disk the superset of secrets needed by all pods that may be scheduled? also, preventing pods from mounting specific host paths, which may expose it secrets it's not supposed to have access to, would require additional logic.

[2016-07-22 21:42] kargakis commented on #29357
Actually, if we make this change then I may be convinced that option 2 is better because we will end up with deterministic behavior and none of the problem of option 2 with the current state of proportional scaling.

[2016-07-22 21:45] smarterclayton opened #29472 "WIP: Proposal for moving "printers" (kubectl get) to the server"
Still WIP

As mentioned in #12143 (and #11617) we want to move printers to the server so that all clients can benefit from them, the naive client implementation is simpler, and so we can avoid having to perform external -> internal conversions in the client.
## Considerations
- A `kubectl get` is an alternative representation of the underlying API object or objects - in HTTP and REST this is most

[2016-07-22 21:45] smarterclayton commented on #29472
Still in progress

[2016-07-22 21:59] k8s-merge-robot opened #29473 "TestAdmissionNamespaceExists {autoprovision}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/14735/

Failed: TestAdmissionNamespaceExists {autoprovision}

[code]

[2016-07-22 22:04] pmorie commented on #29358
So is the issue here that we made a bad assumption about how the GCE API will behave for detach when the node doesn't exist?

[2016-07-22 22:07] jingxu97 commented on #28750
@smarterclayton, I am working on this bug. Could you please list the steps to reproduce this error so I can further debug it. Thanks a lot!

[2016-07-22 22:10] saad-ali commented on #29358
Not so much a bad assumption, more a missed case.

[2016-07-22 22:12] lavalamp commented on #29002
The fact that there can be multiple apiservers means it really is an async
operation: you need to wait for each apiserver to get the watch
notification and install the handlers. Operations with that sort of
dependency are never synchronous in our api.

Is it problematic to just do the wait loop, or just wait 10 seconds or
something? How often are you adding new 3rd party resources?

On Fri, Jul 22

[2016-07-22 22:14] lavalamp commented on #29002
(I'm not arguing that we shouldn't make things easy for users, rather that
we are working on other things that are even worse for users and this is
less important since it should be used infrequently.)

On Fri, Jul 22, 2016 at 3:12 PM, Daniel Smith <dbsmith@google.com> wrote:

[2016-07-22 22:16] lavalamp commented on #29415
Yeah, this is really unfortunate. It's also not trivial to change. :/

[2016-07-22 22:28] lavalamp commented on #29410
Yeah, we need a dry-run option on POST. Needs to be done server-side.

[2016-07-22 22:29] erictune commented on #22298
Relevant discussion in https://github.com/kubernetes/kubernetes/pull/27129#discussion_r66492519

[2016-07-22 22:30] lavalamp commented on #27368
If the tag produced by git describe is wrong, then our post submit build job and post submit test jobs silently stop functioning correctly. That is, the post submit test jobs start looking for a build in the wrong place and pick up the last build pushed there. This caused our test jobs to be useless for a couple days until we noticed the problem.

[2016-07-22 22:32] lavalamp commented on #27368
The request here is for a test that will notice this condition and fail visibly.

[2016-07-22 22:35] #29374 closed

[2016-07-22 22:35] #29422 closed

[2016-07-22 22:55] yujuhong opened #29478 "CRI implemention in kubelet (with in-process docker integration)"
This issue tracks TODOs for the client-side implementation of CRI in kubelet, as well as the in process docker integration via CRI (#31459).
- [x] Support [pull `qps` and `burst` for image pulling](https://github.com/kubernetes/kubernetes/blob/007257a5adac832d276af10cbe0c617e6189f04a/pkg/kubelet/dockertools/docker.go#L120). I think we should extract the logic `dockerPuller` for the new runtime to

[2016-07-22 23:17] jingxu97 commented on #29076
Vincent, Thanks for the information.

We did a little experiment just to make sure that the data loss is not
caused by volume reformat. Basically I created a new gce-pd and attached to
a node. After the first time format the file system, run the lsblk to check
the uuid. And then format it again, the uuid returned from lsblk is
changed. Thanks!

JIng

On Fri, Jul 22, 2016 at 2:35 AM, Vincent Ambo <

[2016-07-22 23:41] lixiaobing10051267 commented on #29440
@pwittrock  I'd like to fix, but I haven't found the new website for above invalid website:   http://kubernetes.io/v1.1/docs/design/expansion.html

[2016-07-22 23:47] ixdy commented on #28638
cc @kubernetes/release-maintainers @kubernetes/test-infra-maintainers

[2016-07-22 23:49] azell opened #29480 "`kubectl logs` does not work for pods running on the master"
k8s version:

[code]

daemon set: https://github.com/kubernetes/kubernetes/tree/release-1.3/examples/newrelic

The daemon set deploys correctly and is running on all of the nodes including the master.  However logs can be retrieved only from the nodes.  Asking for the logs from the pod on the master fails:

[code]

Though the logs do exist in Docker.  Logging onto the master and running `docker lo

[2016-07-23 00:22] tazjin commented on #29076
Alright, that's both good and bad because it probably widens the range of potential causes. I've been thinking if there's anything in my services that could have caused it, but because it happened to two mostly unrelated pods I don't think so.

[2016-07-23 00:41] duglin commented on #29002
Just as background on my current experimentation with TPRs: I'm using a single hyperkube env, which I think has just a single API server. In this work, which is actually part of an education class, we're walking thru a script that registers some TPRs and then creates instances of them to show students about the concept and how to use them.  I'm finding at after each `kubectl create` I have to add

[2016-07-23 00:43] mikelorant commented on #28892
Can verify this issue and I am having the exact same problem. Destroying minions with EBS volumes attached does not allow the container to restart.

[2016-07-23 01:30] madhusudancs commented on #29469
Any idea if this is still an issue with v1.3.3?

[2016-07-23 01:57] jlowdermilk commented on #28439
All the errors here are
[code]

That issue was fixed by #28794, and it looks like it hasn't flaked since.

[2016-07-23 01:57] #28439 closed

[2016-07-23 02:12] Random-Liu commented on #28698
FYI, now we have the first green node e2e build with:
[code]

[2016-07-23 03:43] justinsb commented on #29480
I have tracked this down: on the master kubelet is running with `--enable-debugging-handlers=false`.

This flag turns off a lot of functionality: run, exec, attach, portforward, logs, containerLogs, pprof & runningpods.

I'm not sure whether we want to allow access to the master pods in this way.  And whether we should split this up and/or rely on authentication more.  @mikedanese WDYT?

[2016-07-23 03:44] alena1108 opened #29493 "Fail to update service's named port with "kubectl apply""
Kubernetes v1.3
Kubelet v1.3

Steps to reproduce:

1) Create a service with the named port:

[code]

2) Change "port" from 80 to some other value, call kubectl apply. It fails:

[code]

Workaround: rename  the port, and then apply works fine

[2016-07-23 04:03] #29418 closed

[2016-07-23 04:15] yahavb opened #29496 "code in spec/containers never updated (e.g. guestbook/index.html)"
I am trying to modify the application code shared in guestbook example.
For example I changed the index.html (minor text change) and tried to recreate the frontend controller as the code declares in the fronted-controller.yaml under containers(php-redis).
Bit no matter what Im doing, the original guestbook index.html always used.
I guess its comes with the image: gcr.io/google_samples/gb-frontend:

[2016-07-23 04:20] lixiaobing10051267 opened #29497 "Same problem still exists after I execute gofmt many times while going commit"
root@ubuntu:/home/zte/share/k8s-clone2/src/k8s.io/kubernetes# git commit
Checking that it builds... OK

Checking for files that need gofmt... ERROR!
Some files have not been gofmt'd. To fix these errors,
copy and paste the following:
  gofmt -s -w pkg/apis/rbac/validation/policy_comparator_test.go

Does someone know how to solve it?

[2016-07-23 04:22] yahavb commented on #29496
Alos, I logged in to three frontend instance and saw that the index.html deployed under /var/www/html is the original one and NOT the one the controller spec specified.

[2016-07-23 05:19] bscott commented on #17397
Any update as I cant upgrade existing clusters because kube-push gives me the message "kube-push is broken"

[2016-07-23 05:28] lixiaobing10051267 commented on #29497
have fixed, thx.

[2016-07-23 05:28] #29497 closed

[2016-07-23 05:43] zhjchen opened #29501 "restart cassandra pod will not come up"
Using the example Cassandra yaml to start Cassandra ( Cassandra 2.2.7) cluster.
In my test, each Cassandra runs as kubernetes deployment. Two Cassandra pods are running. Each pod has only one container.

To simulate Cassandra restart, I kill the Cassandra java process in container, pod will start one new container. However the new container will not come up since Cassandra will the following excep

[2016-07-23 06:01] AdoHe commented on #29398
I will double check this.

[2016-07-23 07:33] matchstick commented on #29076
@tazjin @saad-ali @jingxu97 @thockin

First off we all want to thank you for your detailed debugging patience and help. It is great to work with someone like you.

1) I noticed you attached an abbreviated version of the kern.log for the two nodes. Is there anyway you can send the whole thing? I am pretty sure it does not  yield anything sensitive. It might allow us to match up the other activities

[2016-07-23 07:41] k8s-merge-robot opened #29503 "[k8s.io] Kubectl client [k8s.io] Kubectl taint should update the taint on a node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11756/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl taint should update the taint on a node {Kubernetes e2e suite}

[code]

Previous issues for this test: #27976

[2016-07-23 09:38] kargakis commented on #29202
Can you post the state of your replica sets? We recently merged a fix where the deployment process waits for the old replica set to be fully scaled down before proceeding with scaling up the new replica set: https://github.com/kubernetes/kubernetes/pull/27713 - not sure if that fix is included in 1.3

cc: @kubernetes/deployment

[2016-07-23 10:58] #29392 closed

[2016-07-23 11:27] k8s-merge-robot opened #29506 "[k8s.io] Job should fail a job {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11765/

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]

Previous issues for this test: #28773

[2016-07-23 11:52] Hui-Zhi commented on #29252
So far only Docker support Nvidia GPU, add the GPU interface maybe not a good idea.

[2016-07-23 12:43] cvle commented on #8074
Having the Attach/Detach Controller landed in 1.3 (https://github.com/kubernetes/kubernetes/pull/26351), does it mean we can remove the compute-rw scope from the nodes?

[2016-07-23 13:05] cvle commented on #28878
Latest 1.3 GCE image is based on Docker version 1.11.2. Thanks!

[2016-07-23 13:05] #28878 closed

[2016-07-23 13:48] tazjin commented on #29076
@matchstick You're welcome! It's great to see bug reports being taken seriously also :+1:

1) Sure thing: https://storage.googleapis.com/ohgod-us/syslogs.tar.gz
This is `/var/log/syslog` from that day, the `kern.log` has been rotated and I didn't fetch it. However I think syslog is configured on those instances to contain all the same messages.

2) 10GB SSD PDs

[2016-07-23 14:20] xiang90 commented on #29001
here.

I am not sure this is true. For things like decoding/encoding, they can take long time and do not respect context. If we want a "hard" timeout, we cannot trust the approach. If an approximate timeout is fine, probably we can do it.

[2016-07-23 14:48] k8s-merge-robot opened #29511 "[k8s.io] Job should scale a job up {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11775/

Failed: [k8s.io] Job should scale a job up {Kubernetes e2e suite}

[code]

[2016-07-23 15:48] k8s-merge-robot opened #29512 "[k8s.io] Etcd failure [Disruptive] should recover from network partition with master {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1776/

Failed: [k8s.io] Etcd failure [Disruptive] should recover from network partition with master {Kubernetes e2e suite}

[code]

[2016-07-23 17:09] k8s-merge-robot opened #29513 "[k8s.io] MetricsGrabber should grab all metrics from API server. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11782/

Failed: [k8s.io] MetricsGrabber should grab all metrics from API server. {Kubernetes e2e suite}

[code]

[2016-07-23 18:29] justinsb commented on #29398
Thanks - it isn't a big deal, because I obviously didn't intend to rolling update to an empty manifest :-)  (I was experimenting with templating my manifests and made an error)   But let me know if you need any more info to reproduce!

[2016-07-23 22:19] #27857 closed

[2016-07-23 22:35] k8s-merge-robot opened #29514 "[k8s.io] Services should work after restarting kube-proxy [Disruptive] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1778/

Failed: [k8s.io] Services should work after restarting kube-proxy [Disruptive] {Kubernetes e2e suite}

[code]

[2016-07-23 22:38] ericchiang commented on #25570
Does #28414 address this issue?

[2016-07-24 01:25] k8s-merge-robot opened #29516 "[k8s.io] SchedulerPredicates [Serial] validates that NodeSelector is respected if matching [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/1824/

Failed: [k8s.io] SchedulerPredicates [Serial] validates that NodeSelector is respected if matching [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-24 01:43] huang195 opened #29517 "Build problem on both Mac and Linux"
Doing a `build/run.sh make` resulted in the following error on a Mac with 16GB of memory. I'm using Docker for Mac on this machine.

[code]

[2016-07-24 01:49] huang195 commented on #29517
And btw, whatever happened to the instruction to build locally? `hack/build-go.sh` just gives the following error:
[code]

[2016-07-24 02:24] thockin commented on #3752
Allowing dots in service names would make DNS for services much less
predictable and harder to manage.  I have not yet heard a reason not to
move to 1035 (longer, same regex) and a moderate reason (client-side
validation) not to move to 1123 (longer, looser regex).

It annoys me to be different.  The implication of going to 1123 labels (not
subdomains) is that any client that half old validation r

[2016-07-24 02:26] thockin commented on #3752
To be clear, I think moving to any form of subdomains (allowing dots) is off the table.

[2016-07-24 04:53] roberthbailey commented on #8074
That (and moving the ingress controller to the master) were the last remaining things that I knew of blocking us, but we'd need to run e2e tests on a cluster w/o scopes to see what might have picked up an inadvertent dependency on having the scope available.

For example, @vishh found (in https://github.com/kubernetes/kubernetes/pull/28871) that the kubelet had picked up a dependency on having a s

[2016-07-24 05:05] #29248 closed

[2016-07-24 05:45] k8s-merge-robot opened #29519 "[k8s.io] PrivilegedPod should test privileged pod {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11818/

Failed: [k8s.io] PrivilegedPod should test privileged pod {Kubernetes e2e suite}

[code]

[2016-07-24 07:52] jmhodges commented on #25832
Oh, while I'm back here to look this up again, I should note using that command doesn't prevent you from accidentally replacing a configmap that's been modified while you weren't looking.

Not sure how to make that happen from the command line without a bunch of `base64` and `kubectl patch` work.

[2016-07-24 09:25] k8s-merge-robot opened #29521 "[k8s.io] Probing container with readiness probe should not be ready before initial delay and never restart [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/6098/

Failed: [k8s.io] Probing container with readiness probe should not be ready before initial delay and never restart [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-24 10:28] Nesh108 commented on #10456
I jump in and I would like to extend the question: my cloud provider (not AWS/GCP) doesn't support floating IPs out of the box, although I can contact them and they can assign it to the servers I need.

Would that be enough for my services to be able to pick up an external IP (they are currently stuck in <pending>)? If not, what steps do I need to take to be able to do so?
Also, would I need 1 flo

[2016-07-24 11:11] feiskyer commented on #29252
@Hui-Zhi I think it's ok for adding new features to new runtime interfaces, as runtimes could choose whether support to support those features or not.

[2016-07-24 11:23] adohe opened #29522 "node controller needs to precondition pod deletion against Pod uid"
From #29437 comment. We may have potential for delete-create-delete race in the node controller because we don't check pod uid.  Basically node controller needs to precondition pod deletion against Pod uid. @smarterclayton ptal.

[2016-07-24 12:43] lixiaobing10051267 commented on #29158
trigger the retest directly, problem has been fixed, thx :)

[2016-07-24 12:43] #29158 closed

[2016-07-24 12:44] lixiaobing10051267 commented on #29258
retest directly has fixed the problem, thx:)

[2016-07-24 12:44] #29258 closed

[2016-07-24 13:25] jegesh commented on #19818
I have this same problem.  What caused it for you?  What was your solution?

[2016-07-24 14:39] wojtek-t commented on #29001
Can we please, first fix the issue, and only the reenable http2? If we won't fix our problems, we should not enable it, in my opinion.

[2016-07-24 14:47] thockin commented on #10456
If they can assign a floating IP to one or more cluster nodes, then the
existing iptables logic should kick in and handle the rest.

The only questions are which nodes and how many?  Because we can easily
program the LB in GCE (which is a true VIP unlike AWS) we assign it to
*all* nodes.  This gives us best resilience against a mode going down or
becoming overloaded.  But it has a cost.

The cost

[2016-07-24 19:17] dims commented on #29480
@azell @justinsb There's another issue (dup) https://github.com/kubernetes/kubernetes/issues/25448

[2016-07-24 19:29] montanaflynn opened #29524 "Editing with `-o json` returns invalid JSON"
Recently I was experimenting with changing `KUBE_EDITOR` for a Golang pre-purposed faux editor when editing resources when I noticed that it couldn't be marshaled. Upon inspecting the output JSON I noticed it had the same comments that the default yaml version has. Valid JSON cannot have comments.

Since the comment also gives warning / error information upon saving it must be decided where to put

[2016-07-24 19:38] montanaflynn opened #29525 "Error: unknown shorthand flag: 't' in -type=json"
When I was looking into kubectl patch I noticed the last example didn't work:

[code]

Returned:

`Error: unknown shorthand flag: 't' in -type=json`

## Kubernetes Version:

[code]

## Steps to Reproduce:

1. Make a pod.

2. Try to patch it with the example from usage help:

[code]

[2016-07-24 20:00] Mangirdaz commented on #24654
@mnowrot any luck with this one?

[2016-07-24 20:08] mnowrot commented on #24654
Not really - I decided to run Kubernetes on Ubuntu and completely dropped this way of running Kubernetes.

[2016-07-24 20:14] Mangirdaz commented on #24654
I'm facing same issue on ARM on Raspberry PI. So not much way to back :D

[2016-07-24 20:19] jkemp101 commented on #26673
I believe I am getting this same error on 1.3 running AWS.  I was running some test deployments using the deployment below.  The {{ version }} gets set to the current timestamp.  I had made a change of maxSurge from 1 to 2 and redeployed using pykube which I think does a patch.  The new replicaset was never created.  The log gets many of the already exists entries.  I just redeployed again and it

[2016-07-24 21:24] justinsb commented on #29480
Nice find @dims.  That issue wants to fix the error message, so let's use this issue for making logs work on the master!

[2016-07-24 21:27] vishh commented on #8074
Auto-configuring gcr.io credentials require service accounts as of now. I
wonder if there is a way to work around that?

On Sat, Jul 23, 2016 at 9:53 PM, Robert Bailey <notifications@github.com>
wrote:

[2016-07-24 21:39] bitstrider opened #29527 "Hello Node Walkthrough yields error on kubectl commands"
OS: Win10 64bit

**> gcloud version**
Google Cloud SDK 118.0.0
kubectl
kubectl-windows-x86_64 1.2.5

**> kubectl version**
Client Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.5", GitCommit:"25eb53b54e08877d3789455964b3e97bdd3f3bce", GitTreeState:"clean"}
error: couldn't get version/kind; json parse error: json: cannot unmarshal string into Go value of type struct { APIVersion strin

[2016-07-24 22:12] pwittrock commented on #29357
Honestly, I don't mind taking the non-determinism that comes with option 1 not only because it's no different from what happened until we got proportional scaling but also because option 2 is broken for some scenarios.

We we need to support the scenarios you are describing then we need to rollback proportional scaling.

[2016-07-24 22:28] #29527 closed

[2016-07-24 22:41] bitstrider commented on #29527
Turns out I was failing to config with credentials the step before, running on `Google Cloud SDK Shell  (cmd)`:
**>gcloud container clusters get-credentials hello-world**
Fetching cluster endpoint and auth data.
ERROR: (gcloud.container.clusters.get-credentials) environment variable HOME or KUBECONFIG must be set to store credentials for kubectl

I switched to `bash` to workaround:
**$ gcloud.cmd

[2016-07-24 23:28] pwittrock commented on #24654
@mikedanese Will the cluster setup work being done address this by providing a replacement?

[2016-07-25 00:09] xiang90 commented on #29001
@smarterclayton @wojtek-t @lavalamp I read a little bit more about the timeout handler code, and found there are other races. For example, the timeoutWriter does not buffer writes. The original handler and the timeout handler can write to the same writer at the same time when time out happens. The response body can be totally corrupted. I can do a simple fix with some limitations. The limitations

[2016-07-25 01:57] kant111 commented on #5017
why do we need ZooKeeper to deploy Kafka on kubernetes? why Kuberentes cannot take care of managing zookeper cluster?

[2016-07-25 02:36] AdoHe commented on #29493
@alena1108 please use `kubectl apply` to create the inital resource, it should be ok in you case.

[2016-07-25 02:57] k82ma commented on #29517
@huang195 , what's your go version & XOS version? I can build k8s latest code on Mac :). Here's the my environment:

[code]

[code]

[2016-07-25 03:01] caesarxuchao commented on #28713
I find the cause of the flake and will send a patch later. The failed test sets up a RC and a pod which depends on the RC, then it starts the GC, deletes the RC, and expects the GC to garbage collect the pod. It fails because the GC starts the reflectors of different resources in goroutines and they start list and watch at different time. This is a case where GC will observe the deletion of the RC

[2016-07-25 03:54] lojies commented on #29307
`$ kubectl run hello-node --image=aronchick/hello-node:2.0 --port=8080 --expose=true`
this will create a service and deployment.
`Error from server: services "hello-node" already exists`
this error was returned because service existed.in fact the deployment was existed too.
`$ kubectl delete svc hello-node`
this only deleted svc but deployment was left so the next err was reported.

So i think bot

[2016-07-25 05:19] mdshuai commented on #29517
@huang195 How many free memory in your env? Before I met this same error in my vm, I just make sure I have more memory.

[2016-07-25 06:09] talk2vino opened #29533 "Need a StraightForward way to use Custom Config in Cloud-Monitoring Addons"
Environment: Kubernetes in AWS

Kubernetes Version : 1.2.4

Current Cloud Monitoring Addons use the data path as "emptyDir{}" , if we need a historical data . We need the Persistent Volumes to store such data.

Initially i thought of change the file under "cluster/addons/cluster-monitoring/*" will solve my issue.

So add the "persistent volumes" to the cluster monitoring tool "influxdb,ElasticSear

[2016-07-25 06:11] mdshuai opened #29534 "Build error with 'undefined: elliptic.P224' on RHEL/Fedora"
When build latest k8s on rhel/fedora env, always failed with error

[code]

detail build info: https://paste.fedoraproject.org/395191/69424585/
My go version is go1.6.2 linux/amd64
I notice there is known issue about golang on rhel https://bugzilla.redhat.com/show_bug.cgi?id=1038683

[2016-07-25 06:13] mdshuai commented on #29534
@ncdc Could you help check the problem, now I can't build latest k8s on aws instance to test.

[2016-07-25 06:18] resouer commented on #24036
@cyphar Very glad if you can pick up this! I think you may have noticed the existing OCI-runtime proposal #26788 which is not including `containerd` as I know. It would also be great if you can help to review the proposal.

[2016-07-25 08:00] Seth-Karlo commented on #29469
Hey guys, some more info for you:

[code]
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"3+", GitVersion:"v1.3.0-beta.1", GitCommit:"1c7855093eb999c8f3cedb19d3467cd7b691e35e", GitTreeState:"clean", BuildDate:"2016-06-17T00:58:51Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"3+", GitVersion:"v1.3.0-beta.1", GitCommit

[2016-07-25 08:03] JorritSalverda commented on #29202
I'm now on version 1.3.2 for both the master and the nodes and the issue still happens.

The replica set seems to scale down before the new one scales up, but the old pod is still **Terminating** while the new one is already at **ContainerCreating**.

Describing the pods it seems the **SuccessfulCreate** of the new pod happens before the **SuccessfulDelete** of the old one, but the exact timestamp

[2016-07-25 08:20] JorritSalverda commented on #29202
old pod node kubelet.log:

[code]

new pod node kubelet.log:

[code]

[2016-07-25 08:43] AdoHe commented on #29472
@smarterclayton I think it would be better to list some work items here so other people can pick and help. wdyt?

[2016-07-25 09:05] ShengjieLuo commented on #23726
I have met this problems too. Since I need to use Kubernetes1.2.2, I use docker to deploy the kubernetes. The same problem happens. The apiserver is down. Logs here,
[code]
The apiserver is failed and I cannot deploy Kubernetes. Does anyone know about it?

[2016-07-25 09:32] Crapworks opened #29538 "[PetSets] stable storage IDs across clusters"
Hi all,

we are using:

[code]

Our Setup:
We are spinning kubernetes clusters on demand on an OpenStack environment and developed a self service that allows our endusers to create/destroy their clusters. (If relevant, we use terraform to create/destory the OpenStack environment and Salt to create a kubernetes cluster afterwards)

I have been playing around with PetSets lately and was hoping to gi

[2016-07-25 09:54] wojtek-t commented on #28713
@caesarxuchao - we may have the same problem in ReplicaSet tests, that I added as mostly a copy of RC tests. When you will be fixing it, can you please also check (and fix) RS tests? Thanks!

[2016-07-25 10:21] nagarjung commented on #26776
Can I have a look at this Bug if it is a beginner level. @piosz @deads2k  If yes could you help me to understand more about the Bug.

[2016-07-25 10:26] lukemarsden commented on #19805
@errordeveloper and I are taking a look at this today. We're going to start by trying to understand the current behavior and the desired behavior and then write down some examples to make sure we're on the right track.

[2016-07-25 10:37] dims commented on #29525
@montanaflynn : This was already fixed. https://github.com/kubernetes/kubernetes/commit/216649b822693b04bb2b18e567d2f1d6ae1d6f9f#diff-def56c6f251836aa7686f7cdc30ce71d

[2016-07-25 10:37] rihabbanday opened #29540 "kubernetes-dashboard pod in CrashLoopBackOff state"
I am trying to intsall Kubernetes dashboard by the command:

`kubectl create -f https://rawgit.com/kubernetes/dashboard/master/src/deploy/kubernetes-dashboard.yaml`.

However when I do `kubectl get po -o wide --all-namespaces` I see the status of the kubernetes-dashboard pod as "CrashLoopBackOff". The output of command `kubectl logs kubernetes-dashboard-3717423461-gxrwv --namespace=kube-system` lo

[2016-07-25 10:38] dims commented on #29480
@justinsb Sounds good to me :)

[2016-07-25 11:03] IanLewis opened #29542 "kubectl apply does not update ThirdPartyResource object."
I have a ThirdPartyResource object. The resource is as follows:

resource.yaml

[code]

crontab.yaml

[code]

I create the resource and object

[code]

However, when I run apply I fails to update the properties.

[code]

kubectl is sending a request to the API and if I watch the object I get a modified event but it is still the old value. Getting the object also returns the old value.

[code]

I s

[2016-07-25 11:05] lukemarsden commented on #19805
We've reproduced the problem which we believe this ticket is intended to solve.

See https://gist.github.com/errordeveloper/b0b5bd07b2a69694c771b9047fc4d30d for files before and after and intended new behavior.

[2016-07-25 11:21] nvartolomei opened #29543 "Issues with long polling/persistent connections between containers"
Had anyone these issues? Or maybe you know a better place to ask this.

I'm running a redis and listening to a pubsub channel from another pod. After some time the subscriber isn't receiving messages any more.

Using redigo client.

[2016-07-25 11:38] AdoHe commented on #29542
@IanLewis what's your kubernetes version? `kubectl version` can give you this info.

[2016-07-25 12:11] IanLewis commented on #29542
Here ya go. Didn't realize the client wasn't 1.3.3 yet.

Client was pulled from https://storage.googleapis.com/kubernetes-release/release/v1.3.0/bin/darwin/amd64/kubectl

    Client Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.0", GitCommit:"283137936a498aed572ee22af6774b6fb6e9fd94", GitTreeState:"clean", BuildDate:"2016-07-01T19:26:38Z", GoVersion:"go1.6.2", Compiler:"gc", Platfor

[2016-07-25 12:36] nagarjung commented on #29307
Hi @aronchick @lojies what is the status of the issue? Is the issue reproducible? If yes could you please help me to know the steps to reproduce.

[2016-07-25 13:03] dims commented on #29453
@pigmej - Do you have an example of these annotations and some write up on what would happen when the AppController is enabled? (Take an existing kubernetes non-trivial example, add annotations and describe how the annotations affect the example)

[2016-07-25 13:25] thkoch2001 opened #29545 "missing images in getting-started-guides/logging"
The images were removed in 3521a66dcec0347883e655594d264ba4c33f87c4 but the article was not updated. So there are broken images now in
http://kubernetes.io/docs/getting-started-guides/logging/

[2016-07-25 13:29] soltysh commented on #29506
Still the same gke problem from #28656.

[2016-07-25 13:29] #29506 closed

[2016-07-25 13:30] soltysh commented on #29511
Looks like a gke problem, already handled in #28656.

[2016-07-25 13:30] #29511 closed

[2016-07-25 13:38] MikeSpreitzer opened #29546 "Inadequate doc of create-flanneld-opts in cluster/ubuntu/util.sh"
The comment on this function describes the first argument but not the second.

[2016-07-25 13:38] MikeSpreitzer commented on #29546
CC @dalanlan

[2016-07-25 13:41] MikeSpreitzer opened #29547 "cluster/ubuntu/reconfDocker.sh should be flexible wrt Flannel backend"
That script right now uses a constant value for the Flannel backend configuration; it should be configurable.

[2016-07-25 13:41] MikeSpreitzer commented on #29547
CC @dalanlan

[2016-07-25 13:43] huang195 commented on #29517
@k82cn Here's my env info:
[code]

[2016-07-25 13:44] huang195 commented on #29517
@mdshuai I have 16GB of memory. I actually rebooted my machine before compiling kube again just to make sure I have a clean slate, and I'm getting the same problem.

[2016-07-25 13:46] dims commented on #29545
@thkoch2001 - The documentation has moved to a separate repo, could you please file this bug there?
https://github.com/kubernetes/kubernetes.github.io/blame/f9d8c58e69355ee0f63b84a18a77369fcfd8a0d4/docs/getting-started-guides/logging.md#L22

https://github.com/kubernetes/kubernetes.github.io/issues

Looks like the image is here:
https://github.com/kubernetes/kubernetes.github.io/blob/master/images

[2016-07-25 14:02] cvle commented on #29166
Ran into same issue, am downgrading from 1.3.2 to 1.3.0, to see if the issue persists.

[2016-07-25 14:04] smarterclayton commented on #29001
Timeout is partially to keep watches from remaining open forever
accidentally (due to coding error or unexpected error conditions).  Since
watch needs hijack, does that mean a simple fix as you are suggesting could
(potentially) leave watchers open if the handler has error conditions or
other problems?

On Sun, Jul 24, 2016 at 8:09 PM, Xiang Li <notifications@github.com> wrote:

[2016-07-25 14:04] smarterclayton commented on #29001
(it's possible the context solution would have that issue as well, I just
want to sort out the minimum change here)

On Mon, Jul 25, 2016 at 10:04 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-07-25 14:05] smarterclayton commented on #3752
I thought we did short names because we were afraid that we would run out
of allowed DNS characters.

On Sat, Jul 23, 2016 at 10:26 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-07-25 14:07] gbergere opened #29548 "Mounting EBS not working in k8s 1.3.X with AWS"
Hi guys, I'm trying to make it work from 1.3.0 we are now on 1.3.3 (I tried as well) and no way to mount my EBS volume in k8s after attached it.

I discovered that from federation-up.sh script to make federation working and I finally isolated my problem to the fact that when I need to use an EBS volume k8s succeed to attach it to the correct node but never mount it (I guess anyway my EBS is not fo

[2016-07-25 14:09] xiang90 commented on #29001
@smarterclayton

 Hijacking and timeout cannot work well together I think. Once we hijack it, we have to cancel the timeout handler and set TCP timeout on the conn. The timeout handler cannot assume the inner hijacked handler speaks http anymore. Writing HTTP timeout headers once it timeouts makes no sense after the hijacking. That is part of the reason standard lib does not support timeout + hija

[2016-07-25 14:11] pmorie commented on #25489
@daniel-yavorovich is this still an issue?

[2016-07-25 14:17] pmorie commented on #26864
This is a dupe, yes.  Fundamentally the problem is that the mount point isn't propagating back into the mount ns of the container where the hyperkube process is running.

[2016-07-25 14:40] sachincab opened #29549 "No API token found for service account "default"
Hi Team,

I getting below error when creating pods for kube-dns addon.
According to this issue (https://github.com/kubernetes/kubernetes/issues/11222), it suggest to remove ServiceAccount flag from --admission-control in kube-apiserver.

We are trying to use ServiceAccount to propagate private docker registry credentials to pods, however it complain for No API token found for service account "defa

[2016-07-25 14:41] xiang90 commented on #29001
@smarterclayton

Also for the watch thing, actually we cannot really HTTP timeout a watch handler. We will actually write the header before we start waiting the events. Once the header write is done, we cannot cancel it correctly at HTTP layer. Also once we ever write out any events as HTTP response body, we cannot really cancel that HTTP response.

See https://github.com/kubernetes/kubernetes/blo

[2016-07-25 14:50] dims commented on #3752
@thockin So we pick https://github.com/kubernetes/kubernetes/pull/29523 over https://github.com/kubernetes/kubernetes/pull/28005 ?

[2016-07-25 14:52] huang195 commented on #29517
Thinking this might be a Docker on Mac problem, I tried a build on a Linux machine 16GB of memory. Here's the error I'm getting:
[code]

Kube build was straight-forward before, what happened?

[2016-07-25 14:53] dpratt commented on #28643
I can't seem to find a cherry pick of this into the recently released 1.3.3, but it's entirely possible that I've missed it. Is this going to be in any of the 1.3.x builds, or do I have to roll my own off master until 1.4 comes out?

[2016-07-25 14:54] bradfitz commented on #29001
I don't know Kubernetes internals. What are you all trying to accomplish? Is there something you need from net/http which is too hard or not possible right now? Maybe I can help?

[2016-07-25 14:54] alex-mohr commented on #29064
Neither #29096 nor #29101 have been cherrypicked for 1.3 (and #29096 is tagged v1.4).  Is that appropriate?

[2016-07-25 15:02] alexbrand commented on #27097
As @timstclair mentioned in https://github.com/google/cadvisor/issues/1394#issuecomment-234677894, it'd be great to keep Windows in mind when defining this interface.

[2016-07-25 15:05] ncdc commented on #27097
FYI @DirectXMan12

[2016-07-25 15:06] dhawal55 commented on #29233
This is fixed as part of the following pull: (#29240)[https://github.com/kubernetes/kubernetes/pull/29240]

[2016-07-25 15:09] laboger commented on #25886
Where are you getting this docker image from?
Will you be moving to golang:1.7 when it is released?

[2016-07-25 15:15] atombender commented on #25572
@thockin: Does this bug have a corresponding issue filed in the Glide repo that I can track? I'm trying to write an app that uses the Kubernetes client, and my app is using Glide, and so of course I ran into this issue right away.

FWIW, Glide has a lot of bugs, and not a lot of development activity, but is still the best vendoring solution available to us.

[2016-07-25 15:47] apelisse commented on #29493
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-07-25 15:47] #29493 closed

[2016-07-25 15:48] apelisse commented on #29496
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-07-25 15:48] #29496 closed

[2016-07-25 15:48] apelisse commented on #29501
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-07-25 15:48] #29501 closed

[2016-07-25 15:55] #29525 closed

[2016-07-25 16:04] timoreimann commented on #25572
@atombender Listing the [issues created by Tim](https://github.com/Masterminds/glide/issues/created_by/thockin) is probably a good start.

FWIW, the glide upstream issues shouldn't be a blocker to vendoring Kubernetes in your application. At least, it wasn't for me when I vendored Kubernetes 1.2.5 for [my Kube example application](https://github.com/timoreimann/kubernetes-goclient-example).

[2016-07-25 16:18] #17542 closed

[2016-07-25 16:19] kyleferguson commented on #28750
We've run into this same issue. Does anyone have a temporary workaround they've found until the fix is available? We're having a hard time deploying due to certain services not being able to create new pods. Any help is greatly appreciated :)

[2016-07-25 16:33] cvle commented on #29166
Downgrading to 1.2.5 fixed my issues. I first noticed the problems on GKE 1.3.2, where the default-token suddenly could not be mounted anymore. Later I deleted the whole pool and recreated a new one. Then all my persistent disks could not be mounted, but default-token was working again. Downgraded to 1.3.0 and issue still exists, downgrading to 1.2.5 works. I can't promise, but if I can find the t

[2016-07-25 16:50] jeffmendoza commented on #29410
Looks like trying to include a client side 'kubectl validate' would pull in too much server code into kubectl. @ace-n is going to try a stand-alone validate tool, then we can see if a 'kubectl validate' command would make sense.

[2016-07-25 16:50] caesarxuchao commented on #28713
Sent #29550 to fix.
@wojtek-t it's a pure GC test, it doesn't involve RC or RS, so we should be fine.

[2016-07-25 16:53] lukemarsden commented on #19805
Proposal in https://github.com/kubernetes/kubernetes/pull/29551, please provide feedback on that PR. It's entirely possible that we're missing something here.

cc @mikedanese @bgrant0607

[2016-07-25 16:59] rootfs commented on #29534
also hit this issue on Fedora 24

[2016-07-25 17:03] dhawal55 commented on #28643
I just created a pull request to merge this fix into release-1.3 branch https://github.com/kubernetes/kubernetes/pull/29554. Hopefully, we will get this fix in v1.3.4

[2016-07-25 17:08] ncdc commented on #29534
We're working on it. For now, you can use travis-ci/gimme.

[2016-07-25 17:08] jingxu97 commented on #28750
Hi Kyle,

I am trying to investigate this problem. Could you please send us the
kubelet log from your system during the issue occurred so that we can take
a look at it. Thanks!

Best,
Jing

On Mon, Jul 25, 2016 at 9:20 AM, Kyle Ferguson <notifications@github.com>
wrote:

--
- Jing

[2016-07-25 17:14] jingxu97 commented on #28750
We are still in the process of investigating the problem. But want to add
one update about it is

The behavior of preventing following mount operations
happen will be changed in the fix
https://github.com/kubernetes/kubernetes/pull/28939
<https://www.google.com/url?q=https://github.com/kubernetes/kubernetes/pull/28939&sa=D&usg=AFQjCNE0EagFQTysH0i433hIz60zpw7TFw>
 and should be part of v1.3.4.

Eve

[2016-07-25 17:14] gmarek commented on #29064
I'm not really sure it's worth cherry-picking. The main fix (waiting for full sync before assigning any CIDRS by @bprashanth) is cherry-picked, rest are (I believe) minor bugs with a really small chance of surfacing (e.g. we thought that #28879 is P1).

That being said if we think they should be cherry-picked I can create PRs.

[2016-07-25 17:15] smarterclayton commented on #28750
@pmorie was looking into this on our end (so folks know) - he says he found
a mount race.

On Mon, Jul 25, 2016 at 1:08 PM, Jing Xu <notifications@github.com> wrote:

[2016-07-25 17:36] lavalamp commented on #29001
What we need is to have started out using the context package and made
every handler use the timeout feature sensibly. I don't think there's a
quick fix here, even if something drastic happened like adding context's
timeout functionality to http.Request: it doesn't do any good without
kubernetes code changes, too. Even more drastic things like the ability to
shut down other goroutines from the tim

[2016-07-25 17:42] jingxu97 commented on #28750
Great! @pmorie Could you share the findings you have? Thank you!

Jing

On Mon, Jul 25, 2016 at 10:15 AM, Clayton Coleman <notifications@github.com>
wrote:

--
- Jing

[2016-07-25 17:46] smarterclayton commented on #29410
Is this validation beyond swagger?  Like defaulting and actually invoking
the server side validation?

On Mon, Jul 25, 2016 at 12:50 PM, Jeff Mendoza <notifications@github.com>
wrote:

[2016-07-25 17:46] vishh commented on #28698
@Random-Liu What about testing with old container VM?

[2016-07-25 17:49] smarterclayton commented on #29001
We should start plumbing context for 1.4.  That's an easy win, and a lot of
mechanics are already in place.  Even if we don't get
attach/exec/portforward wired, we will be closer to where we want to be.

On Mon, Jul 25, 2016 at 1:37 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-07-25 17:50] smarterclayton commented on #29522
Ack

[2016-07-25 17:51] xiang90 commented on #29001
@lavalamp @smarterclayton

Timeout handler and context are complementary for each other. They do not provide exact same functionality. It highly depends on what we are trying to achieve in long term.

Context on request can propagate deadline, cancellation to inner processors. It can help with shutting down go routines and fail fast. A lot of stuff cannot respect context, for example large decodin

[2016-07-25 17:54] luxas commented on #25886
We're using the official `golang` images, and will pick up `1.7` as soon as it is released for testing I think.
Then if the testing and scalability teams think it's safe to use, we'll switch to 1.7

BTW, where is your patch for this? Can you link to it?

[2016-07-25 17:56] mikedanese commented on #29480
What do you mean by this exactly? Isn't this dependent on the deployment style and possible today?

[2016-07-25 17:58] #28145 closed

[2016-07-25 17:59] luxas commented on #24654
The problem is not with kube-deploy itself, it's just that the "old" docker-multinode that was written a long time ago was copied over to kubernetes.github.io, while the current docker-multinode solution is developed in kube-deploy.

See: https://github.com/kubernetes/kubernetes.github.io/pull/876

(But hopefully, we'll soon get to a point where we have 3-5 core deployments, not ~20s of them like

[2016-07-25 18:00] Random-Liu commented on #28698
@vishh To test old container VM, we need to a good way to install newest docker release on the containerVM. Maybe download and unpack binary directly.

[2016-07-25 18:02] pmorie opened #29555 "Secret and ConfigMap volume do not report unique volume name correctly"
The secret and configmap volume name do not report the unique volume name correctly.  They should both incorporate the namespace of the secret/configmap into the value returned so that the volume manager will correctly handle their mount/unmounts when different namespaces contain secrets or configmaps with the same name.

cc @saad-ali

Related: #28616

[2016-07-25 18:02] lavalamp commented on #29001
I guess we probably need both. Timeout handler needs to produce a response
writer that locks, and that somehow handles being hijacked...

On Mon, Jul 25, 2016 at 10:51 AM, Xiang Li <notifications@github.com> wrote:

[2016-07-25 18:04] madhusudancs commented on #29469
@Seth-Karlo There were a number of changes that went in between `v1.3.0-beta.1` and `v1.3.0` and I am not even sure if we tested the version skew between those two versions. Is it possible to upgrade your cluster to the latest stable 1.3.x version?

Also, what is your current-context set to (`$ kubectl config current-context`)? Is it pointing to the federation API server?

[2016-07-25 18:08] xiang90 commented on #29001
@lavalamp hijacked is easier to "achieve" than "flush". They are all achievable with some limitation. Once we ever write anything to a HTTP response over the wire, it is impossible to timeout it.  So there are good reasons for not supporting hijack and flush to not mess up HTTP responses.

There is another discussion happening on the original change here: https://github.com/kubernetes/kubernetes/p

[2016-07-25 18:12] jeffmendoza commented on #29410
Yes, anything that could be done stand-alone without a server.

[2016-07-25 18:13] a-robinson commented on #29411
It gets bad under high load, in particular. The main issue is the buffers filling up due to not being able to keep up with the rate of logs being written to disk (and read in by the input plugin) and apparently not having a large enough memory limit to handle the number of full buffers that it ends up with. We could put a band-aid on the problem by buffering to disk instead of memory, but then we'

[2016-07-25 18:14] liggitt commented on #29001
I am concerned about buffering all responses to memory just to support timeout (as the standard handler does)

[2016-07-25 18:15] derekwaynecarr commented on #28315
related:  https://github.com/kubernetes/kubernetes/pull/26751

Are the concerns around BE pods as large when `kubelet` is having a cgroup tier for it, and for each pod within it?  Are you looking to protect SLO guarantees around resources that are not cgroup restricted?

[2016-07-25 18:16] a-robinson commented on #29411
To be clear, I don't mean that we need to buy extra memory headroom so much as extra CPU headroom. No matter how much memory is allocated, fluentd won't be able to do its job if it can't keep up with at least the average log rate on each node.

[2016-07-25 18:20] Seth-Karlo commented on #29469
@madhusudancs I can do, sure thing. It is definitely pointed at the federated API server, but I will test an upgraded version of the federated-api-server and report back.

[2016-07-25 18:22] madhusudancs commented on #29469
@Seth-Karlo Thanks!

Also, we don't have componentstatus for federation components. So `kubectl get cs` doesn't work if you point it to a federation API server. If you want to get the componentstatuses of Kubernetes cluster components then use `kubectl --context=<kube-cluster-context>`. You can get the kube-cluster-context from `kubectl config view`

[2016-07-25 18:23] xiang90 commented on #29001
@liggitt Can you provide a better way to do it? If you ever write anything to the actual writer, there is no chance to get it back in my opinion. Also I do not think it really matters.

@bradfitz I think this (https://github.com/kubernetes/kubernetes/issues/29001#issuecomment-235036633) is the main concern. Opinion?

[2016-07-25 18:36] justinsb commented on #29480
@mikedanese kube-up is our canonical installation reference (for the moment) and right now it registers the master as a node, but also sets `--enable-debugging-handlers=false`.

Shall we just change that to `--enable-debugging-handlers=true` ?  Any negative consequences?

The situation we have now is that we set up a cluster, but the pods that are running on the master are "broken" when it comes t

[2016-07-25 18:36] smarterclayton commented on #29001
I would maybe argue (as I started to above) that we need to handle all the
nested stuff correctly, but that we do need a hedge if someone screws up.
We do control in the code pretty well who can hijack - it's only a small
number of code paths.  So i'm fairly convinced that we can solve the
timeout problem distinct from the hijack problem.  If you timeout fetching
a list of all pods, we have a seri

[2016-07-25 18:44] Seth-Karlo commented on #29469
@madhusudancs Yep, I know it doesn't have that option, but it should spit out the correct error message when it does not have that in my opinion, like the kubectl with v1.3.0-beta.1.

[2016-07-25 18:50] xiang90 commented on #29001
@smarterclayton That is OK. Once we wrote anything to the connection, we just cannot expect the timeout handler to still work by sending a timeout header. It should just shutdown the connection instead. Agree?

[2016-07-25 18:55] k8s-merge-robot opened #29559 "[k8s.io] Deployment scaled rollout should not block on annotation check {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29432/kubernetes-pull-build-test-e2e-gce/50413/

Failed: [k8s.io] Deployment scaled rollout should not block on annotation check {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #29432.

[2016-07-25 18:59] madhusudancs commented on #29469
@Seth-Karlo agreed.

[2016-07-25 19:00] smarterclayton commented on #29001
Agree.

On Mon, Jul 25, 2016 at 2:50 PM, Xiang Li <notifications@github.com> wrote:

[2016-07-25 19:11] pwittrock commented on #29357
Eventually, we should consider changing other things re proportional scaling like scaling up proportionally to the healthiest replica set instead of the biggest.

Worth talking about.  Outside the scope of how we address the immediate issue.

[2016-07-25 19:12] ixdy commented on #28641
Still flaking. cc @kubernetes/test-infra-maintainers

[2016-07-25 19:48] chuckbutler opened #29563 "High Availability documentation still references podmaster"
The High Availability diagram still references Podmaster, which appears to have been deprecated as of Kubernetes v1.2

http://kubernetes.io/docs/admin/high-availability/

This should be updated to remove podmaster, and instead call out the --leader-elect flags on the apiserver/scheduler.

[2016-07-25 19:59] sjenning commented on #25570
@ericchiang unfortunately no.  Just pulled master and rebuilt and the same situation exists.

[2016-07-25 20:05] #29233 closed

[2016-07-25 20:22] gmarek commented on #27662
It was fixed by #29005 + #29111, and sequently broken by the #28970 and fixed by the revert #29245. We need to figure out why #29005 and #29111 fixed this test, as it seems strange.

[2016-07-25 20:22] #27662 closed

[2016-07-25 20:22] gmarek commented on #28070
It was fixed by #29005 + #29111, and sequently broken by the #28970 and fixed by the revert #29245. We need to figure out why #29005 and #29111 fixed this test, as it seems strange.

[2016-07-25 20:22] #28070 closed

[2016-07-25 20:24] gmarek commented on #29064
@fabioy - do you think that #29096 should be cherry picked into 1.3 branch?

[2016-07-25 20:27] gmarek opened #29568 "Investigate why switching from looking at Events to looking at Scheduled condition fixed a number of SchedulerPredicate tests."
Events were working fine for quite some time, but for some reason started causing problems some time ago. Tests are moved to using PodCondition and are passing, but we may have missed some Event-related regression.

I don't know which team or what priority I should put in this issue.
cc @wojtek-t @davidopp @fgrzadkowski

[2016-07-25 20:37] lavalamp commented on #29001
Agree.

On Mon, Jul 25, 2016 at 12:00 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-07-25 20:40] yifan-gu commented on #29213
Prefer the 1st option.

[2016-07-25 20:42] gmarek commented on #23233
@bgrant0607 - it's really handy to have this running continuously when debugging add-ons. One can push a new version and update the manifest on a running cluster to get a dev version in and iterate faster. Whatever we decide to do I'd like to keep this particular flow easy enough (firing a job that will read manifests or something is good enough, but I don't want to make it complex).

[2016-07-25 20:46] gmarek commented on #27320
SchedulerPredicates stopped being the main culprit, so I don't thing @davidopp is a correct assignee any-more.

[2016-07-25 20:50] gmarek commented on #29513
API server died in that suite - it's not a test flake.

[2016-07-25 20:50] #29513 closed

[2016-07-25 20:52] gmarek commented on #28641
@ixdy - can you paste the link to logs or a suite/run number?

[2016-07-25 20:55] bprashanth opened #29572 "Document per namespace sysctl and how to set them in pods"
Source of major confusion in webserver tuning, but I'm sure that's just one victim.
- lack of documentation (best i could find was https://github.com/docker/docker/blob/master/opts/opts.go#L257)
- how do i set it on the host? (daemon set, probably)
- how do i set it in container? (privileged sidecar for network sysctls)

@kubernetes/sig-node

[2016-07-25 20:56] ixdy commented on #28641
my own pet peeve! sorry about that.
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29477/kubernetes-pull-build-test-e2e-gce/50321/ is the failing run.

[2016-07-25 21:01] ncdc commented on #29572
@bprashanth see #26057

[2016-07-25 21:01] bradfitz commented on #29001
Btw, if the ServeHTTP goroutine panics, that will do the best possible thing for both HTTP/1 and HTTP/2. In HTTP/1, assuming you're replying with at least HTTP/1.1 and you've already flushed the headers so it's using HTTP chunking, it'll kill the TCP connection immediately without a proper 0-byte EOF chunk, so the peer will recognize the response as bogus. In HTTP/2 the server will just RST_STREAM

[2016-07-25 21:07] rosskukulinski commented on #29166
I'm consistently running into this on GKE w/ 1.3.2.  Trying to downgrade to 1.3.0, then 1.2.5 if that doesn't work.

[2016-07-25 21:08] bprashanth commented on #29572
So that says:

which is pretty much what I could figure out from the link to docker source above. But experimentation shows that /proc/sys/net/netfilter/nf_conntrack_max is not per ns, and I think i found a couple more. What am i missing?

Without reading through the proposal, setting it on a contaienr pipes through to the host, or does someone still need the daemon set?

[2016-07-25 21:11] lavalamp commented on #29001
We do websockets over HTTP/1.1, as it happens. We also do SPDY to support
mulitdirectional arbitrary binary data. (attach, exec, portforward to
processes running in the cluster).

On Mon, Jul 25, 2016 at 2:02 PM, Brad Fitzpatrick <notifications@github.com>
wrote:

[2016-07-25 21:13] quinton-hoole commented on #29383
Agreed!

[2016-07-25 21:16] bradfitz commented on #29001
On Mon, Jul 25, 2016 at 2:12 PM, Daniel Smith <notifications@github.com>
wrote:

 Okay, so use Hijacker for that only. I would avoid it everywhere else.

We also do SPDY to support

Why SPDY? SPDY's supposed to be dying and dead soon, and Go's HTTP/2 lets
you do the same. Within a Handler, just read the request body and write the
response body at the same time. Likewise on the client side. (except

[2016-07-25 21:20] gmarek commented on #28641
@dchen1107

[2016-07-25 21:22] edsiper commented on #29411
would you please share your fluentd.conf/td-agent.conf ?, I would like to learn more about your use case and suggest improvements.

[2016-07-25 21:23] rosskukulinski commented on #29166
Confirmed 1.2.5 resolves the issue.  @saad-ali I'm happy to spin up another cluster to attempt to recreate the issue.

[2016-07-25 21:25] apelisse opened #29575 "Top-level doesn't have OWNERS"
#29482 never got assigned to anyone by blunderbuss because there is no top-level OWNERS.

Having a top-level OWNERS file would also help as a "default" OWNERS for any new directory that doesn't have OWNERS yet.

cc @bgrant0607

[2016-07-25 21:25] quinton-hoole commented on #27804
@mml I assume that secrets are the way to distribute such certs?

[2016-07-25 21:26] quinton-hoole commented on #27804
cc: @madhusudancs for the GA requirements list.

[2016-07-25 21:29] lavalamp commented on #29001
SPDY is there because we wrote that before HTTP/2 was a thing, and we have
a ton of clients that need to continue to work, and even though we'd all
love to update it to use HTTP/2, we have more important priorities... :/

On Mon, Jul 25, 2016 at 2:16 PM, Brad Fitzpatrick <notifications@github.com>
wrote:

[2016-07-25 21:33] bprashanth commented on #29411
If the assertion is that this isn't fluent but our inability to accurately size the pod, maybe we should start by profiling fluent un-chained and see how it does? I wonder if there are other confiurations that might make it more efficient, perhaps tag team with docker's logging drivers so it isn't free form parsing?

@edsiper thanks! the pod yaml is
https://github.com/kubernetes/kubernetes/blob/ma

[2016-07-25 21:45] erictune commented on #27804
Secrets are the way to distribute a private key.
Config map or kubeconfig-in-a-secret are the way to distribute a
self-signed public key for reaching the main apiserver.
The container base image is the de-facto way to distribute certs for
globally recognized CAs.

On Mon, Jul 25, 2016 at 2:27 PM, Quinton Hoole <notifications@github.com>
wrote:

[2016-07-25 21:46] vishh commented on #29572
The sysctl proposal mentions maintaining a file that will list sysctl that
are namespace aware.
The general strategy is to let kubelet configure sysctls and not have pods
update sysctls themselves.

One of the open questions on that proposal is that of knowing which sysctls
can be safely set to a higher value by default globally... Any inputs in
that regard will help!

On Mon, Jul 25, 2016 at 2:08

[2016-07-25 21:52] dchen1107 commented on #28641
The most recent failure reported by @ixdy has the error message in kubelet.log of the master node:
[code]

I think it is a dup of https://github.com/kubernetes/kubernetes/issues/28997, which should be fixed by #29492

[2016-07-25 21:52] #28641 closed

[2016-07-25 21:53] bprashanth commented on #29572
I can write down the common ones for webserver tuning, when i have some time. Maybe @aledbf or @PiotrSikora know off the top of their head the ones we use in https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx

[2016-07-25 21:53] saad-ali commented on #29166
Thanks for the info.

"The default-token suddenly could not be mounted anymore" issue is tracked by https://github.com/kubernetes/kubernetes/issues/28750#issuecomment-231814056 and should be fixed (or at least much less likely to cause problems) in v1.3.4.

This is the issue that I'm really interested in.

That would be great!

@rosskukulinski That would be great. If you get a repro. Pls share the

[2016-07-25 21:55] ixdy commented on #28641
Thanks @dchen1107! I should probably have also pointed out that the failure I linked was on a PR being cherry-picked into release-1.3, so it might be fixed in master already.

[2016-07-25 22:00] aledbf commented on #29572
`net.core.somaxconn` and `net.ipv4.ip_local_port_range` are the ones used in the [sysctl](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/examples/sysctl/change-proc-values-rc.yaml#L80) example. I've been unable to find a list of the values is possible to change in a network namespace.

[2016-07-25 22:01] dchen1107 commented on #28997
Shouldn't we run into the same issue for 1.3 GKE release? If we do, we need to patch 1.3. cc/ @alex-mohr @roberthbailey

[2016-07-25 22:05] a-robinson commented on #29411
Profiling is definitely the right place to start here. I think what I'd assert is that we definitely have a pod-sizing problem and *likely* also have a fluentd problem. Profiling will help with both.

[2016-07-25 22:06] euank commented on #28740
The etcd3 update will also update rkt to v1.12, so this should be fixed by #29399

[2016-07-25 22:20] hongchaodeng opened #29578 "Decoupling API version from storage layer"
ref: https://github.com/kubernetes/kubernetes/pull/29528#issuecomment-235029962

What's the problem?
We don't want to couple API objects to low level storage library and thus we introduced versioner to decouple API version from storage version.
However, we coupled the logic of API versioning into storage layer currently. We should separate this layer out. Storage interface should return storage ve

[2016-07-25 22:20] hongchaodeng commented on #29578
@xiang90 @smarterclayton

[2016-07-25 22:31] yujuhong opened #29579 "CRI: Handle streaming requests (attach/exec/port-forward)"
I re-titled the issue since the discussion has naturally shifted to the general design and implementation of streaming requests.
**Please read the summary doc before joining the discussion. Thanks!**
https://docs.google.com/document/d/1MreuHzNvkBW6q7o_zehm1CBOBof3shbtMTGtUpjpRmY/edit?usp=sharing

------ The original post -----
#25273 added terminal resizing for run/attach/exec. We need to support

[2016-07-25 22:35] smarterclayton commented on #29578
Makes sense

[2016-07-25 22:36] quinton-hoole commented on #27565
I think that this is pretty much all done elsewhere (federated namespaces, and events).  Assigning to @nikhiljindal to close as appropriate.

[2016-07-25 22:37] quinton-hoole commented on #27026
@nikhiljindal is working on adding support for events.

[2016-07-25 22:40] quinton-hoole commented on #26762
I think these issues are all resolved now, and this issue has served it's purpose. Closing.

[2016-07-25 22:40] #26762 closed

[2016-07-25 22:41] quinton-hoole commented on #26675
@nikhiljindal Can this issue be closed yet?

[2016-07-25 22:42] a-robinson commented on #28851
@toidi - sorry for the delay, but I'm not sure without investigating why it isn't including more fine-grained timestamps. The `time_format` in our config should be parsing out the sub-second portion of the docker logs' timestamps. Have you managed to figure anything out since your last comment?

[2016-07-25 22:42] vishh commented on #29572
A list with safe defaults will be helpful.

On Mon, Jul 25, 2016 at 3:01 PM, Manuel Alejandro de Brito Fontes <
notifications@github.com> wrote:

[2016-07-25 22:42] smarterclayton commented on #29410
I wouldn't mind a separate validate command that just called swagger.  Did we think that was insufficient to be useful?  Or does the fact that it has to fetch swagger defeat your desire not to hit the server?

[2016-07-25 22:42] bprashanth commented on #29411
@gmarek can maybe handle this as part of his (node) scale testing? filling up an n1-standard-32 seems to generate logs too fast for fluentd to keep up. You could argue that fluentd is not part of kubernetes, but it affects cluster stability at the end.

[2016-07-25 22:43] #28561 closed

[2016-07-25 22:43] quinton-hoole commented on #26656
I assume that @madhusudancs will want to take care of this as part of his improvements to the Federation build and deploy automation?  Adding 1.4 milestone for tracking purposes.

[2016-07-25 22:44] quinton-hoole commented on #26655
I gather that this is done now.

[2016-07-25 22:48] quinton-hoole commented on #24996
This fits into what @mwielgus is working on.  Tentatively assigning to him so that we don't lose track of it.

[2016-07-25 22:49] ncdc commented on #29579
It has to be pushed down to the runtime given that the docker exec
implementation is different from rkt.

On Monday, July 25, 2016, Yu-Ju Hong <notifications@github.com> wrote:

[2016-07-25 22:49] smarterclayton commented on #29001
All that being said, our biggest blocker moving off SPDY is not being
able to reuse enough of the go client to avoid having to reimplement
the protocol ourselves.  @ncdc is there an issue somewhere describing
that?

[2016-07-25 22:50] #23492 closed

[2016-07-25 22:53] roberthbailey commented on #28997
@jlowdermilk @a-robinson

[2016-07-25 22:57] quinton-hoole commented on #3683
This is done in Federated Services and Cross-cluster Service Discovery in v1.3.

[2016-07-25 22:58] #3683 closed

[2016-07-25 23:06] euank commented on #28789
To clarify the "Rkt integrates with Kubernetes via the new API (?). OWNER: CoreOS." item at the end, @yujuhong

We do intend to integrate as soon as we reasonably can in order to gain better feature-parity (such as exponential backoff, init containers, etc), and in order to be as well supported of a k8s runtime as we can be.

Due to the design of rkt, this might end up taking a bit longer, but we'

[2016-07-25 23:09] steakknife commented on #1957
ZK is worth considering for [ginormous](http://www.apache.org/foundation/thanks.html) enterprise / JVM / Hadoop shops.

[2016-07-25 23:09] euank commented on #29579
The only other option I can think of is the interface being a pty, in which case the resizes would not be pushed down to the runtime, though initial pty creation would be.

[2016-07-25 23:21] saad-ali commented on #29202
This certainly looks like https://github.com/kubernetes/kubernetes/issues/27362 ("deployments dont wait for pod termination") which was fixed by PR https://github.com/kubernetes/kubernetes/pull/27713. It appears the new pod is unable to start because the volume is still attached to the old one on a different node.

@JorritSalverda can you share with me your GKE project name/cluster name/zone, I'll

[2016-07-25 23:25] kfox1111 opened #29582 "namespace level emptyDir"
emptyDir works great to pass data between containers in a pod. Its better then using a hostPath as it is self cleaning and isolated to only those containers that need it.

In the same way, there is a need for something like a DeamonSet to provide services that can be shared between multiple Pods living on a single machine, but don't need to talk to anything else. so using a hostPath for this works

[2016-07-25 23:30] igorpeshansky commented on #29411
Does the config in the fluentd container specify the number of threads? If not, it defaults to one, and if there is sufficient latency in the receiving service, it'll fall behind. Try setting num_threads to 8 in the config.

[2016-07-25 23:48] ConnorDoyle commented on #28315
@derekwaynecarr I think a great example of something that falls outside the Kubelet's current scope is manipulating RMIDs and associated cache allocations. There will be some affordance in the Linux kernel but it's my understanding the cgroups controller won't fly. So, think cgroups-like. I don't have enough historical context personally about the long-term intentions for what functionality the Ku

[2016-07-25 23:53] caesarxuchao commented on #26120
By UID tombstones do you mean etcd3's ability to store versions of deleted objects or constructing our own API?

[2016-07-26 00:01] mml commented on #29341
OK.  One piece of background info is that an instance may be present in at most one *load-balanced* instance group.  If you try to violate this condition, it shows up when you try to add the second group to a backend-service.  If that doesn't make sense now, just wait.  I'll refer to this One Instance Group Rule later.

So you have a list of instances on which your pod is running.  A1..A2 in zone

[2016-07-26 00:11] smarterclayton commented on #26120
Possibly both.

[2016-07-26 00:16] erictune commented on #12742
@rickypai

In this scenario, the node only stores one, or a few secrets.  Those secrets are used to  get additional secrets from vault.  Those secrets would not be stored on disk but on tmpfs.  On node reboot, and admin needs to ssh to each node and place a secret onto the tmpfs again.

Whether you need additional logic to prevent pods from mounting specific host paths depends on your threat model

[2016-07-26 00:20] jingxu97 commented on #29297
Hi Gabe, I looked the log file you shared and found the following error
message. So it looks like secret "core-config-files" cannot be found. Could
you check whether there might be any mismatch about the names? Thanks!

E0722 13:57:45.600651    3450 secret.go:168] Couldn't get secret
default/core-config-files
E0722 13:57:45.600675    3450 goroutinemap.go:155] Operation for "
kubernetes.io/secret/c

[2016-07-26 00:26] onlyjob commented on #28740
etcd3 is much more disruptive change than upgrading _rkt_...

[2016-07-26 00:28] jingxu97 commented on #26864
I think https://github.com/kubernetes/kubernetes/pull/27054 should fix the issue of  infinite (thousands) mounts

[2016-07-26 00:29] k8s-merge-robot opened #29585 "[k8s.io] [Feature:Example] [k8s.io] Celery-RabbitMQ should create and stop celery+rabbitmq servers {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/13275/

Failed: [k8s.io] [Feature:Example] [k8s.io] Celery-RabbitMQ should create and stop celery+rabbitmq servers {Kubernetes e2e suite}

[code]

Previous issues for this test: #27683 #27726 #27857

[2016-07-26 00:32] jmhodges commented on #28184
I see this is tagged as help-wanted! If someone lets me know roughly what the deployment language for this looks like, I'll definitely contribute. I'm just not actually sure how to do it.

[2016-07-26 00:42] gmarek commented on #29411
The only way I may be able to help with this is to provide a repro if needed, but I guess everyone can start up a 100 containers logging stuff at full speed. I won't have time to do debugging of any kind though...

[2016-07-26 01:14] bprashanth commented on #29411
This is part of node scalabitliy, we need to figure out the cpu required by fluentd to support "normal" log levels of running 100 containers on a node without getting starved so much that it ooms (lots of containers on node > fluetd ooms > out of disk > node not ready > containers rescheduled on healthy node... and you lose the entier cluster).

@igorpeshansky we only give fluentd 100m cpu, we nee

[2016-07-26 01:17] mfanjie commented on #27234
same problem here, reported by #29247

[2016-07-26 01:24] gmarek commented on #29411
Yeah - it'll be hard. The 'expected load' varies greatly depending on applications running on cluster. What's worse we probably should be able to handle applications running in full debug mode so spitting out A LOT of logs...

[2016-07-26 01:27] bprashanth commented on #29411
this is part of @matchstick's "we need to start profiling disruptive apps" idea

[2016-07-26 01:29] #28997 closed

[2016-07-26 01:34] smarterclayton commented on #29420
Ok, so here's the doc: https://github.com/kubernetes/kubernetes/blob/bd36b0d315939b9038e5cdb076d7f3b179e3c15d/cluster/addons/dns/README.md#srv-records

Fairly sure we broke normal service SRV dns.  That's an API regression and needs to be fixed.

Where do we go from here for headless?  I don't think that you should be required to define two services - one headless and one not, in order to be able

[2016-07-26 01:34] smarterclayton commented on #29420
Setting this to 1.3 because this appears to be an API regression of DNS.

[2016-07-26 01:39] olalonde opened #29587 "Kube-up and kube-down with exsisting VPC"
I couldn't find information on this in the docs. Is it possible to use `./cluster/kube-up.sh` and `./cluster/kube-down.sh` with an existing AWS VPC (e.g. the default VPC)?

[2016-07-26 01:41] euank commented on #28740
I committed a godep bump of rkt to v1.11.0 https://github.com/euank/kubernetes/tree/update-vendored-rkt, but I need to double check that all the other changes really were transitive dependencies before we'd want to merge it.

I highly doubt that bump actually fixes the original issue here as well because I didn't have to make any code changes in `rkt.go`

[2016-07-26 02:04] tagomoris commented on #29411
If fluentd's memory buffer is growing continuously without any errors of output plugins, the only reason of it is that output plugins takes too long time to write logs into destination.
Are you using Google Cloud Logging? Response time of cloud services are sometimes relatively slow.
As @igorpeshansky mentioned, it looks better to specify `num_threads 8`.

[2016-07-26 02:07] bprashanth commented on #29411
Yeah that's a good point about cloud being slow. Will bumping up the thread count actually help if it's constrained to 1/10th of a core via cpu limits? I suppose if each thread is going to handle a different tcp connection to the cloud and offload data in parallel

[2016-07-26 02:12] philips commented on #26093
Is this part of NodeSpec? I am still unclear what https://github.com/kubernetes/features/issues/56 is trying to describe.

cc @vishh @dchen1107 @yujuhong @aronchick @aaronlevy

[2016-07-26 02:12] igorpeshansky commented on #29411
Correct, threads are needed to absorb the latency, so they will mostly be in the wait state. I'm not certain Ruby will throttle threads if they run over the limit, but I think Kubernetes might compensate...

[2016-07-26 02:14] smarterclayton opened #29590 "Document how beta InitContainer respect RestartPolicy=OnFailure"
The proposal mentions that only Always or Never is supported.  I don't see any reason not to support OnFailure (and that's the way it's implemented).

If there's agreement, I'll update the proposal.

[2016-07-26 02:14] smarterclayton commented on #29590
@kubernetes/sig-node

[2016-07-26 02:46] madhusudancs commented on #26655
Work is all done, the PR is under review. I will close it once the PR is merged.

[2016-07-26 02:49] Random-Liu commented on #29039
I've tried with `--iptables=false --ip-masq=false`, and it still doesn't work.
I started a pod using hostport 8001, I didn't work when kubenet is enabled:
[code]
My docker configuration:
[code]
Iptable rules:
[code]

[2016-07-26 03:12] mfanjie commented on #27234
the root cause is
https://github.com/kubernetes/kubernetes/blob/master/build/common.sh#L597 OS user is set to container, while it actually does not exists in container. introduced by commit: https://github.com/kubernetes/kubernetes/commit/ac75bd11cfd9ca927b38b51e08a55d626e5a3131.
my build can be run by comment this line.

[2016-07-26 03:14] smarterclayton commented on #28929
Not all resources create events.  In fact, events are really more intended for informational (this happened) to *complement* the watch that each resource supports, rather than to reflect.  I.e. creating things doesn't automatically generate events, it generates a record of changes in etcd that is reflected via the watch API.  Events themselves have to be sent by components.  We try to send events

[2016-07-26 03:23] tagomoris commented on #29411
Ruby doesn't throttle threads, but uses just one CPU core either way. It should do nothing problematic.
IMO it might be better to add `num_threads 4` or larger specification in default configuration for google cloud logging if there are more reports about it.

[2016-07-26 03:29] asalkeld commented on #29555
It seem to me like the namespace is missing from these VolumeSources. As an alternative we would have to pass namespace into GetVolumeName() or just prefix the result (for all plugins).

[2016-07-26 03:36] a-robinson commented on #29411
Agreed, adding threads should be the first change we try.

[2016-07-26 04:00] yahavb commented on #29496
NP sorry about it. I realized the image needs to be recreated for every change before executing the yaml.
On Jul 25, 2016, at 8:49 AM, Antoine Pelisse <notifications@github.com<mailto:notifications@github.com>> wrote:

Please re-post your question to stackoverflow<http://stackoverflow.com/questions/tagged/kubernetes>.

We are trying to consolidate the channels to which questions for help/support
a

[2016-07-26 04:31] davidopp opened #29597 "Collect and archive kube-system pod resource usage (especially memory) from scalability e2e"
So we can give accurate guidance on sizing them in large clusters.

ref/ #21500

cc/ @bprashanth @wojtek-t @gmarek

[2016-07-26 04:35] bradfitz commented on #29001
@smarterclayton, @ncdc, I'm super curious, because the HTTP/2 in Go 1.6+ should be sufficient. Let me know how I can help.

[2016-07-26 04:55] toidi commented on #28851
No, I've switched to logstash https://github.com/UKHomeOffice/docker-logstash-kubernetes

[2016-07-26 05:08] bgrant0607 commented on #29126
See also https://github.com/kubernetes/kubernetes.github.io/issues/874

[2016-07-26 05:55] thockin commented on #27234
We don't really support user-namespaces at all, and as such I have very little context on how Docker has implemented them (I just have not played with it yet).

I am open to ideas on how to solve this.

@jfrazelle for some expertise.  Context: our dockerized tools used to run as root, which left debris on the host-side with owner-root, requiring `sudo make clean`.  Now we always run docker images

[2016-07-26 05:56] gmarek commented on #29597
We have them in our scalability test results (100 node clusters) and we check if they're inside the bounds. We can try running full 2k Node cluster with resource-gathering on, though I may need some tweaking to get it working on such a big scale.

[2016-07-26 06:00] davidopp commented on #29597
That's great. I think the things @bprashanth would want are running it on 2k node clusters (like you said) and also keeping some archive of the last N results in an easy-to-find place.

[2016-07-26 06:13] thockin commented on #29039
@dcbw or @matchstick do you or yours have any bandwidth to help triage this?  If hostports are really broken, that's really bad.

@Random-Liu are you saying *all* hostport behavior is broken for you or just in that e2e case?

[2016-07-26 06:25] argusua commented on #29297
Hi. We had the same issue after some rolling update. We have fixed this by restarting all minion nodes. Unfortunately, we don't have saved any logs.  But I don't think that problem in mismatch names because we don't change config maps.

[2016-07-26 07:01] thockin commented on #29420
Can we clarify exactly what is not working?

I don't think that ever worked as you are asserting it did.  I am 96.2% sure I *always* saw the following behavior:

[code]

So, to my eyes, this is working as intended.  I don't have a 1.2.x cluster up, but I can do it if I need to.  What are you claiming to see in 1.2.x that is now broken?

I created 2 identical services, 3 replicas, 1 port. Only diff

[2016-07-26 07:06] magicwang-cn commented on #28718
@zhulinhong

[2016-07-26 07:16] a-robinson commented on #28851
Cool, thanks for the pointer!

[2016-07-26 07:40] matchstick commented on #29076
@saad-ali @jingxu97 Can some one update this issue with the /dev/sd<letter> for

- phpbb-storage
- mariadb-storage
- slapd-storage

It would help us confirm some of the data from the syslog files tazjin posted.

[2016-07-26 07:55] Random-Liu commented on #29039
@thockin For now, it only doesn't work in our node e2e test framework.

In the regular e2e test framework, many master components are using hostport, and they are working well. So it looks like that some configuration is needed to support host port, but we've no idea what is missing in the node e2e framework.

[2016-07-26 08:38] asalkeld commented on #29555
Also see #29582.

[2016-07-26 09:07] sttts commented on #29390
Duplicate of #28608. Closing.

[2016-07-26 09:07] #29390 closed

[2016-07-26 09:18] k8s-merge-robot opened #29604 "[k8s.io] Kubectl client [k8s.io] Simple pod should support port-forward {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11963/

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support port-forward {Kubernetes e2e suite}

[code]

Previous issues for this test: #28371

[2016-07-26 10:12] nebril opened #29607 "ConfigMaps consuming pod facts"
## The problem

I would like to use pod facts (such as pod IP address) in ConfigMaps, so that each container configuration is populated with the correct value of a pod fact.

## Possible solution

The idea is to add templates to ConfigMap values, so each time a ConfigMap is applied to a pod - it can transform the value into something specific to a pod.

The example syntax would be `$(variable.name

[2016-07-26 10:55] tazjin commented on #29076
FYI I had to remove the original affected disks from our project, as it's just a hobby project and we don't have the budget to keep them up for debugging.

Snapshots of those are still saved for now.

[2016-07-26 11:44] simonswine commented on #23663
It took me a while to find the command for GKE so I will just post it here:

[code]
https://cloud.google.com/container-engine/docs/clusters/operations#updating_a_container_cluster

[2016-07-26 12:02] fpytloun commented on #29243
Hello,
facing the same issue. Does anyone have a workaround?

[2016-07-26 12:04] Seth-Karlo commented on #29469
@nikhiljindal @madhusudancs This appears to be fixed in version 1.3.3:

[code]

[2016-07-26 12:08] igorpeshansky commented on #29411
@tagomoris: Yes, I intend to set the default num_threads to 8 in the Google config. I'm not sure Kubernetes uses the same config, though, so it may need to be changed in the fluentd container config as well.

[2016-07-26 12:20] dims commented on #29590
SGTM @smarterclayton

[2016-07-26 13:08] k8s-merge-robot opened #29613 "[k8s.io] Job should keep restarting failed pods {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11974/

Failed: [k8s.io] Job should keep restarting failed pods {Kubernetes e2e suite}

[code]

Previous issues for this test: #28006 #28866

[2016-07-26 13:11] soltysh commented on #29613
Still the same GKE problem #28656.

[2016-07-26 13:11] #29613 closed

[2016-07-26 13:41] Dmitry1987 commented on #25174
I just noticed this issue too (luckily before hitting full disk, during inspection of minions).
I have latest K8s v1.3 on AWS, and "m3.medium" nodes which have 32gb SSD as primary disk, put all the docker storage on small 4gb ephemeral.
Automatic disk detection and choice for different AWS instances already exist in installer script (https://github.com/kubernetes/kubernetes/blob/master/cluster/aws

[2016-07-26 13:45] k8s-merge-robot opened #29614 "[k8s.io] Pods should *not* be restarted with a /healthz http liveness probe [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11976/

Failed: [k8s.io] Pods should *not* be restarted with a /healthz http liveness probe [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-26 13:45] k8s-merge-robot opened #29615 "[k8s.io] Pods should have their auto-restart back-off timer reset on image update [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/6894/

Failed: [k8s.io] Pods should have their auto-restart back-off timer reset on image update [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27360 #28096

[2016-07-26 13:57] gigaroby commented on #26673
I hit the same problem as well after the call to `kubectl apply -f folder/` where folder contained 3 deployment manifests.
All three manifests suffered from the problem afterwards.

[code]

[2016-07-26 14:03] Dmitry1987 commented on #25174
@vishh :  is it possible to reconfigure current setup with "--root-dir" flag?  I mean, can it be used on existent cluster, or only when creating new one?

[2016-07-26 14:12] smarterclayton commented on #29420
Ok, then maybe I misinterpreted this spec every time I saw it.  Let me go back and look, but I'll assume this is just insufficiently doc'd.

[2016-07-26 14:23] smarterclayton commented on #29420
I thought the spec required that the root query return the service answers, but I can't find anything to corroborate that.

[2016-07-26 14:28] Dmitry1987 opened #29616 "AWS: instances "user-data" encrypted, can't copy/modify"
Hello, I am trying to setup a "spot instances" group using some external service, not 'AWS Spot fleet', and I need to provide "user-data" text (together with AMI image, and other options) for Node instances.
But initial autoscaling group with minions that was created, has "user-data" encrypted.
What is the encryption type and how can I decrypt it? (and is it possible to avoid encryption of this da

[2016-07-26 14:28] Trane9991 opened #29617 "[1.3.2] Pod stuck in the ContainerCreating state while mounting secret timeout"
Hello, I have GKE 1.3.2 version and my cluster stopped being able to mount Secret files as Volumes.

I'm keep getting:
[code]
after checking instances logs on the StackDriver i can see next message:
[code]

secrets with other names working normal, but the secret with name **text-secret** make pod hangs.
[code]
and not trying to restart it either.

**UPDATE:**
Looks like issue related to the https:

[2016-07-26 14:33] od0 commented on #29407
Thanks for posting this, @mml. I'm running into the same issue. Any recommendations for a workaround, or anything I can test out to support/investigate?

[2016-07-26 14:38] gmarek commented on #29597
OK, I'll speak with @bprashanth in person.

[2016-07-26 14:50] rootfs commented on #28671
@chao007 do you have kubelet logs from both nodes?

[2016-07-26 14:59] jchauncey commented on #19317
Im facing the same problem in GKE. Bouncing the cluster definitely fixes the issue (they are immediately terminated).

[2016-07-26 15:18] ncdc commented on #29604
@cjcullen sending this your way since it's the gcloud credentials issue again. Please reassign as necessary. Thanks!

[2016-07-26 15:22] zihaoyu opened #29620 "Mount EBS volume fail if --hostname-override is set on kubelet"
Possibly related to/duplicate of #29548

I'm running Kubernetes 1.3.0 and having trouble mounting EBS volumes to pods. The volumes seem to be attached to the minion, but not mounted.

`xvdba` device is the EBS volume I'm trying to mount:
[code]

The RC definition:
[code]

From `kube-controller-manager` log:
[code]

From `kube-kubelet` log:
[code]

[2016-07-26 15:22] ncdc commented on #28845
@cjcullen this is not test-specific issue and instead is a problem with kubectl trying to use the discovery client to get a list of the apiserver's resources. Somewhere along the line, it's receiving a 404 when it shouldn't be. Without GKE master logs, it will be impossible to track this down. I'm reassigning to you for now but I'd be happy to help if there's some way to get at the master logs.

[2016-07-26 15:23] jingxu97 commented on #29297
I am thinking this reported bug
https://github.com/kubernetes/kubernetes/issues/29555 might cause the
problem. But it would be good to have more logs to confirm it. If the issue
comes up again, please share the kubelet log with us so that we can do more
debugging. Thanks!

On Mon, Jul 25, 2016 at 11:25 PM, Dmytro Kozlovskyi <
notifications@github.com> wrote:

--
- Jing

[2016-07-26 15:32] jingxu97 commented on #29548
Hi @gbergere Thank you for posting the issue. Could you please share the kubelet log with us so that we can debug it? Thanks!

[2016-07-26 15:34] jingxu97 commented on #29620
@zihaoyu , from the log message you posted I noticed that the error is "nodes "10.72.4.178" not found." Could you please share the full kubelet log so that we can further debug it? Thanks!

[2016-07-26 15:44] smarterclayton commented on #29420
So maybe this was just me having unrealistic expectations - I never realized you couldn't actually discover the ports for a service for SRV unless you support wildcards like `*._tcp.SVC.NS.svc.cluster.local`.

[2016-07-26 15:48] Gnouc commented on #28929
@smarterclayton So how can I know if a `Service` was created? Is it possible via API or I must use some thing like controller framework?

[2016-07-26 15:51] rootfs commented on #27725
@erikgrinaker opened a fix.

[2016-07-26 15:54] wallverb commented on #27430
I would say - keep PetSet and focus on something more important. There are already Masters/Slaves and BlackLists/WhiteLists and we live with it :)

[2016-07-26 16:03] zihaoyu commented on #29620
@jingxu97 The beginning of the log was rotated out, so I launched a new minion. It is in another AZ so I created a new Volume in that AZ and updated the RC.

The log is created as a Gist: https://gist.github.com/zihaoyu/34fe59482328067bbaaf95308b21e088.

[2016-07-26 16:04] jaxxstorm opened #29624 "Malformed JSON when starting kube-proxy"
I have a brand new kubernetes setup, and I'm unable to add the first node to the cluster.

The error dumped when start kube-proxy is this:

[code]

I did a tcpdump of the request returned from the API and found this:

[code]

The request sent directly before that was this:

[code]

I assume I've misconfigured something here, but I can't figure out what? How can I debug this? I asked on the k8s sla

[2016-07-26 16:29] smarterclayton commented on #28929
You would use the "watch" API:

GET https://server/v1/pods?watch=1

returns a stream of JSON documents (line delimited individual JSON objects):

{
  "type": "ADDED",
  "object": ... // an API object
}
{
  "type": "MODIFIED",
  "object": ... // the updated API object
}
...

On Tue, Jul 26, 2016 at 11:48 AM, Cuong Manh Le <notifications@github.com>
wrote:

[2016-07-26 16:29] kfox1111 commented on #16779
I kind of like the doNotMountApiToken idea at the container level. I'm working on a pod that will allow users to run custom code in it so I don't want them having any access at all to k8s from that container, but the rest of the containers/pods on the system are ok to have access. For now, I'm going to try @erictune's emptyDir mount trick.

[2016-07-26 16:45] euank commented on #29213
I'll work on option 1)

The work, as I understand it now, is roughly:

[ ] Change the `make release` target to build the hyperkube image and copy it as an artifact for deployment (like other images / master components)
[ ] Update the cluster/gce/coreos stuff to load the hyperkube image
[ ] Update the userdata to include a `kubelet-wrapper` script that uses said hyperkube image, or use the one ship

[2016-07-26 16:49] chuckbutler commented on #8313
Can I get someone to assign this bug to me? I'd like to work through this and make the experience better -- (even though this is much later than the bug was originally filed)

[2016-07-26 17:01] Gnouc commented on #28929
@smarterclayton Ah, I mean watch events for all resource. Currently I use http://kubernetes.io/kubernetes/third_party/swagger-ui/#!/api%2Fv1/listEvent

Do you mean `/api/v1/services?watch=1`?

http://kubernetes.io/kubernetes/third_party/swagger-ui/#!/api%2Fv1/listService

[2016-07-26 17:05] kfox1111 commented on #29297
I've been seeing this issue too, but I for sure only am using one namespace so no conflicting names, I think. But I am using the same configmaps in different pods, which may trigger it?

I have a lot of configmaps/secrets and have been doing a lot of rolling upgrades as I develop things. I was on kubernetes 1.3.0 and just did an upgrade to try and see if that would fix things. Unsure yet as I just

[2016-07-26 17:08] kfox1111 commented on #29297
I have just seen it on kubelet 1.3.2. Pod stuck creating

[2016-07-26 17:24] kfox1111 opened #29626 "pdsh functionality"
kubectl exec is a very handy way to get into pods for debugging or for doing minor maintenance things.

If you have a lot of pods, it can be painful to run through them though. HPC systems usually use a tool called pdsh (http://linux.die.net/man/1/pdsh) or some other similar tool to run a command across multiple nodes. It would be awesome if kubectl exec could take a label selector or a type/name

[2016-07-26 17:29] mercuriete commented on #27234
Thanks for the answer.
I've already tried to fix my problem disabling user-namespaces and of course it works.

I am concern about the debris left by docker when using volumes so i enable this feature in order to fail when a container tries to write files where i dont want to.

I dont have enough experience with docker and kubernetes to propose any solution but it would be good if someone came up w

[2016-07-26 17:32] jfrazelle commented on #27234
seems like if the user configured their docker daemon to use user namespaces, kubernetes should just work... the configurations for username spaces is at the docker daemon level it shouldn't affect how a container is actually run.

[2016-07-26 17:34] jfrazelle commented on #27234
I can look into the failing script... is this more for _building_ kubernetes on a machine where userns is enabled? or _running_ it. I really believe _running_ it should have no issues. Building is a completely different story. For example you cannot build docker on a machine configured with userns enabled because the container that builds docker is privileged.

[2016-07-26 17:36] vishh commented on #25174
@Dmitry1987 Our current deployment scripts do not support updates that well. A manual (hacky) approach would be to update `/etc/default/kubelet` on all the nodes with the new flags and restart kubelet.

[2016-07-26 17:38] mercuriete commented on #27234
the problem is when i build kubernetes with userns.. with my configuration the process runs with uid = 100000. (and this uid doesn't exist as user in my system)
But the owner of the folder where the kubernetes source is cloned... is me (uid = 1000).
So it is imposible to copy from a container even beeing root because root is mapped to 100000 that doesnt exists.

Maybe is my fault. but in the end..

[2016-07-26 17:40] ChetanBhasin opened #29627 "Deployment Scripts fail in AWS region ap-south-1"
While using the deployment script, we get the following trace:

[code]

It looks like the AMIs are not available for this region. I got this trace after I copied the Kubernetes default AMI and to this region and setting `AWS_IMAGE` environment variable.

[2016-07-26 17:41] Dacode45 commented on #21396
I'm having the same issue. The connection hangs.

[2016-07-26 17:44] thockin commented on #29420
I think this was a side-effect of etcd not recursively descending into
directories with leading underscore, but I think it is correct.  Different
ports are not interchangeable.

That said, I have no real experience with SRV outside of Kubernetes, so I
am not exactly sure what expectations people might have.

On Jul 26, 2016 8:45 AM, "Clayton Coleman" <notifications@github.com> wrote:

[2016-07-26 17:45] mercuriete commented on #27234
mmm maybe i have to put 777 permissions to this folder in order to give access to the container...
I will try it tomorrow.

[2016-07-26 18:09] sttts commented on #27430
+1 for PetSet

ShardSet or StatefulSet are not better than what we have now.

On Tue, Jul 26, 2016 at 5:54 PM, wallverb <notifications@github.com> wrote:

[2016-07-26 18:17] ncdc commented on #29001
@bradfitz we previously chatted about this in https://github.com/golang/go/issues/13444. We have interfaces in Kubernetes that look like this:

[code]

We hijack the HTTP/1.1 connection and then use spdystream to create streams. We then `io.Copy` between the user's local stdin/stdout/stderr and the streams. In the Kubernetes nodes, we `io.Copy` between the streams and stdin/stdout/stderr in the co

[2016-07-26 18:41] ncdc commented on #29001
@bradfitz oh, one other thing: because our data flow is client executable -> kube-apiserver -> kubelet -> container, we end up using a proxy to transmit the data between kube-apiserver and kubelet. This is how we're currently doing it: https://github.com/kubernetes/kubernetes/blob/ef0c9f0c5b8efbba948a0be2c98d9d2e32e0b68c/pkg/registry/generic/rest/proxy.go#L128-L193. In short, we:

1. dial the kube

[2016-07-26 18:41] derekwaynecarr commented on #29473
Hmm, this is bad if this is failing since the test is really basic.

I suspect something related to merging shared informers:
https://github.com/kubernetes/kubernetes/commit/037d116add1f4a59db2767d21aa6189a4c9cabb0
https://github.com/kubernetes/kubernetes/commit/fc0a3c6dcbe331f981fe8d2ced257d3629399949

/cc @hodovska @ncdc @kubernetes/rh-cluster-infra

[2016-07-26 18:41] derekwaynecarr commented on #29473
I will try to take a look to see if I can figure the problem.

[2016-07-26 18:52] pmorie commented on #28750
So far I've spent most of my time looking at the mount timeouts.  I have findings to report (trying to figure out the right place) on that, but not yet on the umount issues.

[2016-07-26 18:55] derekwaynecarr commented on #29473
Ok, I think the issue is we do a `Start` on the shared informer in our tests and we should not be doing this ;-)  The call to Start may wipe the store as it was populated here for the test:
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/namespace/autoprovision/admission_test.go#L72

[2016-07-26 18:55] derekwaynecarr commented on #29473
I am going to go through all admission_test and remove the shared informer start call

[2016-07-26 19:00] liggitt commented on #29473
cc @deads2k, who was wondering how shared informer use passed tests when non-test code wasn't originally calling `Start()`

[2016-07-26 19:02] derekwaynecarr commented on #29473
Ok, that isolated the flake.  we can either keep Start() and have the mock call return the right result, or remove the Start call and just work against the populated store.  Trying either approach out now.  Right now, commenting out start stopped the flake with 10k test runs

[2016-07-26 19:06] k8s-merge-robot opened #29629 "[k8s.io] Deployment deployment should label adopted RSs and pods {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gce/6225/

Failed: [k8s.io] Deployment deployment should label adopted RSs and pods {Kubernetes e2e suite}

[code]

[2016-07-26 19:10] goltermann commented on #29327
@kubernetes/sig-testing this appears to be currently blocking the queue entirely.

[2016-07-26 19:23] arschles opened #29630 "Does kubectl support getting third party resources?"
I noticed that `kubectl` client 1.3.2 doesn't have a `kubectl get` command for third party resources. There are certainly ways to get it via `curl` or similar, but does `kubectl` support it via a CLI call similar to `kubectl get 3pr`?

[2016-07-26 19:26] smarterclayton commented on #28929
Events are their own thing - watching events (caused by services) is
different than watching services.

On Tue, Jul 26, 2016 at 1:01 PM, Cuong Manh Le <notifications@github.com>
wrote:

[2016-07-26 19:51] timothysc commented on #28051
@vishh do you know if there is an assignee for for 1.4.  Our ops folks are not fond of having to manage node configs in maintain label sanity across restarts.

/cc @twiest @scollier

[2016-07-26 19:51] timothysc commented on #25811
closing as a dupe of #28051

[2016-07-26 19:51] #25811 closed

[2016-07-26 20:02] kyleferguson commented on #28750
@jingxu97 Cursory glance at the logs I couldn't find anything, it was a couple days ago. I'll try to recreate if I get some time later and capture it.

We're on GKE and don't the ability to rollback the master so we're kind of stranded. Some of our services are stuck and unable to deploy, and we have scheduled tasks (daily reports, etc.) that are very intermittent. Seems to be dependent on what no

[2016-07-26 20:10] derekwaynecarr commented on #29473
This particular issue is because of https://github.com/kubernetes/kubernetes/pull/26709#issuecomment-234538176 not being done.

/cc @ncdc @hodovska -- I am going to put a PR into stop the bleeding, but this still has work remaining.

[2016-07-26 20:13] derekwaynecarr commented on #29473
I actually worry how a number of things are working.  Basically, the current contract is requiring that admission handler touch the informer they want prior to call to `Start` - this is error prone.

[2016-07-26 20:19] vishh commented on #28051
@timothysc No one is working on completing node labels AFAIK.

[2016-07-26 20:19] vishh commented on #28051
cc @dchen1107

[2016-07-26 20:29] timothysc commented on #28138
/cc @kubernetes/sig-node

[2016-07-26 20:31] vishh commented on #28138
@luxas I don't think so. We need to start with a design first.

[2016-07-26 20:37] ace-n commented on #29410
If @jeffmendoza doesn't want to involve a server, this would probably be easiest to implement by

[2016-07-26 20:39] madhusudancs commented on #29469
@Seth-Karlo thanks for verifying. I think this was an issue with the `v1.3.0-beta.1` release. I am closing this issue for now. If you see this issue again when you upgrade your `kubectl` or your cluster please reopen this issue or let us know.

[2016-07-26 20:39] #29469 closed

[2016-07-26 20:55] arschles commented on #29630
Nevermind, I just discovered `kubectl get thirdpartyresource`. closing

[2016-07-26 20:55] #29630 closed

[2016-07-26 21:00] ivan4th commented on #29297
I'm working on a fix for this. The problem began with this commit:
https://github.com/kubernetes/kubernetes/commit/3567b1f9c48bb6879fbe7d36b8c634e849f59438
But the actual problem is that `wrappedVolumeSpec` is incorrectly reused for different config map mounts:
https://github.com/kubernetes/kubernetes/blob/d7150bfaeae642efc08c8ede0ed2ec8ecb340c8e/pkg/volume/configmap/configmap.go#L125

NewWrapperM

[2016-07-26 21:21] dims commented on #28487
@liyimeng Can we close this now? looks like the PR has merged

[2016-07-26 21:22] yifan-gu opened #29633 "Race in `Downward API volume should update annotations / labels on modification`"
Ref https://github.com/kubernetes/kubernetes/issues/28462
Ref https://github.com/kubernetes/kubernetes/issues/28416

I believe these two flakes have the same root cause:

When there's a pod UPDATE event to kubelet, kubelet will invoke the `volume manager` to update the pod state to introduce the updated annotation:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/volumemanager/volu

[2016-07-26 21:24] dims commented on #28687
1 implies, there could be a 2, 3, 4... So is "roles.kubernetes.io/master: true" any better?

[2016-07-26 21:24] spxtr commented on #29327
Docker was hanging on `agent-heavy-1`. I rebooted the machine and kicked off a new run.

[2016-07-26 21:25] yifan-gu commented on #29633
This can be easily reproduced locally with such pod:
[code]

After creating the pod, try to `kubectl edit` the pod and change the annotation value. We can find the content in the volume under `/var/lib/kubelet/pods/$uid/volumes/kubernetes.io~downward-api/podinfo/annotations` is not always changed quickly enough.

[2016-07-26 21:25] pdbogen commented on #28710
FWIW, I observed that this occurs when a node is upgraded; because it seems to not update the node resources. If I stopped kubelet, kubectl deleted the old node, and then started kubelet, it had the correct annotation when it re-registered itself.

[2016-07-26 21:28] bprashanth commented on #23663
@simonswine you can also simply "disable" it by specifying an annotation like: https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/BETA_LIMITATIONS.md#disabling-glbc

[2016-07-26 21:30] derekwaynecarr commented on #29473
Ok, so this is not breaking all other things because `NamespaceLifecycle` was not actually moved to use the shared informers.  If it was moved, it too would have been broken.  There are no tests for `NamespaceExists` because its deprecated, and `NamespaceAutoProvision` which was moved to the informer is the only thing thats broken and only because of the invalid test.

[2016-07-26 21:30] derekwaynecarr commented on #29473
I ran out of time today to fix this completely, will send PR in the morning.

[2016-07-26 21:31] dims commented on #28560
@ncdc @jberkus : Does this PR help with your situation? https://github.com/kubernetes/kubernetes/issues/29607

[2016-07-26 21:31] bprashanth commented on #29039
The work here is debugging the diff between e2e and node e2e clusters, I suspect the packets are getting trapped by some rule before hitting the ones in https://github.com/kubernetes/kubernetes/issues/29039#issuecomment-234601574 (because those look alright at first glance). Also I don't think docker deletes iptables rules if restarted with --iptables=false.

[2016-07-26 21:35] bprashanth commented on #29597
We should track this for all default installed system daemons (dns, fluent, proxy etc). How do we check if they're inside bounds? Speaking to @gmarek one idea to track them was to display them in the perfdash, but just a simple test will do I suppose. Is there an example of a test that tracks resource usage of an existing cluster addon that i can copy for dns and proxy?

[2016-07-26 21:45] simonswine commented on #23663
@bprashanth I have tried that before, but it did not work for me (setting ingress class annotation to nginx). Even after deleting the object in GCE it was constantly recreated by the lbc controller. Maybe GKE is using an slightly older version...

[2016-07-26 21:47] jberkus commented on #29607
Why rename the pod fact variables? Why not just use the canonical downward API names?

[2016-07-26 21:48] gmarek commented on #29597
You can use any e2e test run with a `gather-resource-usage=true` flag. It will gather and print resource usage for all kube-system pods throughout the test run.

[2016-07-26 21:51] jberkus commented on #29607
Also: will this interpretation work regardless of where the $(var) is in the configmap?  i.e. will it work for yml config data, or with concatination?  Examples:

    data:
        api.address: $(pod.IP):8001

    data:
        api.config: |
              admin_host: $(pod.IP)
              node_name: $(pod.name)
              mode: replication

[2016-07-26 21:58] yannchristensen opened #29638 "panic 'concurrent map writes' in kube-controller-manager in the DeploymentController"
kube-controller-manager is hitting a panic 'concurrent map writes'. We have hit this several times, our cluster has 3 worker nodes and around 10 pods so it is small.

version info:
Client Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.4", GitCommit:"3eed1e3be6848b877ff80a93da3785d9034d0a4f", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.0+c

[2016-07-26 22:01] spxtr commented on #29327
We're green :)

[2016-07-26 22:01] #29327 closed

[2016-07-26 22:06] olalonde opened #29640 "Kibana does not return logs that start with "::""
I installed k8s using `cluster/kube-up.sh` with AWS provider.

I have a container which outputs logs in this format:

[code]

For some reason, logs that look like this are not visible through Kibana but other logs are (e.g. `User just registered!`). After changing my log format to something more simple the logs start showing up in Kibana, e.g.:

[code]

I have no idea how to dig further into this

[2016-07-26 22:21] akashgangil commented on #25417
This seems to be a issue with all the patch requests. Here is another scenario:

I made patch request to delete annotation from the node resource but my xpath was wrong.
instead of /metadata/annotations, I gave /metadata/annotation (​*no s*​) and I faced the same panic error. fyi, the patch worked when I give the right xpath.

[2016-07-26 22:22] dims commented on #25417
@nebril Can you please refresh/re-submit your PR? now that 1.4 is open?

[2016-07-26 22:33] grobie opened #29642 "Increase TTL of DNS resource records of pod lookups"
The new kube-dns implementation does not longer do any kind of validation for pod resource lookups  (e.g. `8-8-8-8.whatever.pod.local.`). Neither the existence of the IP nor namespace is validated and the record will simply contain the parsed IP address.

Given the returned result will never change, the usage of the default TTL of 30s causes an unnecessary amount of DNS queries in our network. Usi

[2016-07-26 22:34] #26834 closed

[2016-07-26 22:34] yograterol opened #29643 "How I can upgrade Kubernete's version on AWS?"
Hi,

I looked for a way to upgrade Kubernete on AWS but I didn't find one.

[2016-07-26 22:55] pmorie opened #29644 "Downward API volume plugin and env should have parity"
Currently, the downward API is fragmented slightly across the environment and volume plugin flavors.

The volume plugin supports:
- pod name
- pod namespace
- pod labels
- pod annotations
- resource limits

The environment API supports:
- pod name
- pod namespace
- pod IP
- resource limits

The disparity is due to a couple different factors:
1.  labels and annotations can be updated -- but we curr

[2016-07-26 22:57] minjs opened #29645 "nodes can not auto recover from OutOfDisk."
3 of my 5 nodes hit the OutOfDisk in 2 months ago. And then, those 3 nodes can not be used even the disk usage is dropped. I have to remove the node from cluster and restart the kubelet on that disk.

"conditions":[{"type":"Ready","status":"True","lastHeartbeatTime":"2016-07-26T22:50:53Z","lastTransitionTime":"2016-06-14T21:25:15Z","reason":"KubeletReady","message":"kubelet is posting ready status

[2016-07-26 22:59] pmorie commented on #29607
IMO, the correct way to do this is to use the downward API.  I suggest we create an issue for populating template files from secrets, downward API, config maps, and arbitrary other sources of information if that is a desire.  We have discussed templates quite a bit in the past, but I believe this is a new flavor of the templating problem that we haven't previously considered.

See discussion on #2

[2016-07-26 23:01] asalkeld commented on #29297
Nice find @ivan4th

[2016-07-26 23:06] pmorie commented on #29607
For the record, I don't debate at all that populating a template with different sources of information from the kube API (secrets, configmap, downward API etc) is a valid problem.  That said, that feature would be more than just a change to configmap, and definitely not a change to the configmap volume plugin.

[2016-07-26 23:15] jberkus commented on #29607
It's really the templating issue that I'm interested in.  The overarching goal is to get rid of entrypoint.sh scripts, *without* needing to make significant modifications to the containerized applications.

[2016-07-26 23:16] jberkus commented on #28560
@dims: somewhat, but not completely.  See comments on that PR.

[2016-07-27 00:19] dims commented on #25417
@nebril never mind, i see the info in the PR why it was closed (https://github.com/kubernetes/kubernetes/pull/25866#issuecomment-225526576)

@akashgangil what version are you on? Can you try master?

[2016-07-27 00:31] AdoHe commented on #28051
I would do this if we decide to persist node labels at last.

[2016-07-27 00:49] AdoHe commented on #29638
@kubernetes/deployment

[2016-07-27 00:52] AdoHe commented on #29624
@jaxxstorm could you tcpdump the requests kube-proxy sends to apiserver?

[2016-07-27 00:54] pmorie commented on #29607
@jberkus yeah, I am also interested in that too.  I look forward to discussing it when we have an issue :)

[2016-07-27 01:01] k8s-merge-robot opened #29647 "[k8s.io] Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gce/6226/

Failed: [k8s.io] Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster. {Kubernetes e2e suite}

[code]

[2016-07-27 02:30] zihaoyu commented on #29620
@jingxu97 Looks like a node name mismatch? `kubelet` log says:
[code]
But from the API the node's name is actually:
[code]
For starting the `kubelet`, I do use a flag:
[code]

[2016-07-27 02:37] zihaoyu commented on #29620
Indeed! After I removed the `--hostname-override` flag from kubelet and restarted it, the volume was mounted successfully into the pod.
[code]
Looks like there is a bug in Kubernetes when `--hostname-override` is enabled, mount volume will fail? Van you verify?

[2016-07-27 02:42] smarterclayton opened #29651 "PetSet describer should show the pod template, like RC / D / DS"
Makes it hard to see what a petset is supposed to be doing.

Should just be able to reuse the template displaying code.

@bprashanth

[2016-07-27 03:03] bprashanth commented on #29597
Alright, we should start measure kube-dns resource usage through a soak e2e then. I can take a stab at it when i have the time. We should also write something similar for all core components.
@matchstick fyi

[2016-07-27 03:06] bprashanth commented on #23663
That'll only work in a 1.3+ cluster, which by this time should be rolled out throughout gke. On 1.3 we're running the gce ingress controller on the master, fyi. I just tried it with:
[code]
Please let me know if that doesn't work for you, and also include kubectl version.