[2018-01-23 02:05] bgrant0607 commented on #24206
If this is still an issue, it should be in test-infra.

[2018-01-23 02:05] #24206 closed

[2018-01-23 02:07] bgrant0607 commented on #1111
https://github.com/kubernetes/kubernetes/search?utf8=%E2%9C%93&q=minion&type=

This only exists in a few places in the cluster directory, which we're going to eliminate at some point, so this done enough

[2018-01-23 02:07] #1111 closed

[2018-01-23 02:12] bgrant0607 commented on #25550
/remove-lifecycle stale

[2018-01-23 02:13] bgrant0607 commented on #25385
There are kube-shell and others

[2018-01-23 02:13] #25385 closed

[2018-01-23 02:15] bgrant0607 commented on #26234
/remove-lifecycle stale

[2018-01-23 02:17] bgrant0607 commented on #15673
I mentioned this to @bsalamat last week

/remove-lifecycle stale

[2018-01-23 02:19] KeithTt commented on #41469
@fejta-bot Close it.

[2018-01-23 02:19] #41469 closed

[2018-01-23 02:20] zouyee commented on #58633
/sig storage

[2018-01-23 02:22] timothysc commented on #58652
There are PRs either pending or merged on this.

/cc @jpbetz @wojtek-t @xiang90

[2018-01-23 02:22] bgrant0607 commented on #30413
I think this is redundant with #11485

[2018-01-23 02:22] #30413 closed

[2018-01-23 02:23] bgrant0607 commented on #35007
Selectors for workload controllers are most immutable now

[2018-01-23 02:24] bsalamat commented on #57471
@ravisantoshgudimetla Thanks for the update and your help. Your plan sounds good to me. I have a couple of small comments:
1. I think ` IsCriticalPod` should return true for both `system-node-critical` and `system-cluster-critical` priorities. We should create a function to check these two priorities and returns true for system critical pods. The function should be usable by other components. So,

[2018-01-23 02:25] bgrant0607 commented on #34292
/remove-lifecycle stale

[2018-01-23 02:29] bsalamat commented on #41394
@krmayankk It means that the issue is not going to auto-close. You can go ahead and write your proposal.

[2018-01-23 02:34] timothysc commented on #58652
xref: https://github.com/kubernetes/kubernetes/pull/57480 , https://github.com/kubernetes/kubernetes/pull/57230

closing, and folks can PR if there are compelling reasons todo a minor version bump.

[2018-01-23 02:34] #58652 closed

[2018-01-23 02:38] bgrant0607 commented on #21582
see also: https://github.com/heptio/ark

[2018-01-23 02:39] bgrant0607 commented on #43214
We need to figure out what to do with Ingress

[2018-01-23 02:40] #24264 closed

[2018-01-23 02:41] bgrant0607 commented on #170
/remove-lifecycle stale
/lifecycle frozen

[2018-01-23 02:41] bgrant0607 commented on #8702
/remove-lifecycle stale
/lifecycle frozen

[2018-01-23 02:43] bgrant0607 commented on #18188
local-up-cluster is for developers
minikube is for users
closing as obsolete

[2018-01-23 02:43] #18188 closed

[2018-01-23 02:44] puneetguptanitj commented on #51475
I am not sure if it is a good idea, I think it should interact with API server just that shouldn't mutate any state in etcd.

Otherwise what guarantee would a a successful dry run provide if it doesn't even interact with the server?

There might be RBAC rules to be evaluated
Or availability checked for certain API groups.

I think current contract of extremely useful to see if everything with a re

[2018-01-23 02:49] bgrant0607 commented on #10179
/remove-lifecycle stale

[2018-01-23 02:51] bgrant0607 commented on #18610
/remove-lifecycle stale
/lifecycle frozen

[2018-01-23 02:52] bgrant0607 commented on #4630
/lifecycle frozen

[2018-01-23 02:57] bgrant0607 commented on #3562
/remove-lifecycle stale

[2018-01-23 02:58] bgrant0607 commented on #19680
/remove-lifecycle stale

[2018-01-23 03:00] bgrant0607 commented on #24562
/remove-lifecycle stale

[2018-01-23 03:03] liggitt commented on #58639
That is intentional. Otherwise, updating a source secret or configmap, then updating a pod's image or deploying a new pod would not be guaranteed to see the new secret/configmap content.

when a secret or config map reference is added, the cached object is cleared and is fetched on next Get():

https://github.com/kubernetes/kubernetes/blob/ddea2dd56ff76168d2597c9cea62aa110a78f81c/pkg/kubelet/secre

[2018-01-23 03:03] #58639 closed

[2018-01-23 03:04] Lion-Wei commented on #58637
I think we can use selectors in same `NetworkPolicyPeer` as AND, combine `NetworkPolicyPeer` list with OR.

[2018-01-23 03:18] gyliu513 opened #58654 "Upgrade etcd to 3.2.14"
We have upgrade etcd to 3.2.13 in https://github.com/kubernetes/kubernetes/pull/57480 and https://github.com/kubernetes/kubernetes/pull/57230 for Kubernetes 1.10.X

In etcd 3.2.14, there is one fix which [fixed a panic during a defrag like below with etcd v3.2.10 under heavy load (larger IO wait)](https://github.com/coreos/etcd/blob/master/CHANGELOG.md#v3214-2018-01-11)，this is a very important fi

[2018-01-23 03:21] gyliu513 commented on #58652
Thanks @timothysc , I have filed another issue https://github.com/kubernetes/kubernetes/issues/58654 to bump up the minor version for etcd due to a critical fix for large scale cluster.

[2018-01-23 03:22] liggitt commented on #58654
probably don't need this and https://github.com/kubernetes/kubernetes/issues/56438 both open

[2018-01-23 03:33] liggitt commented on #39722
Dashboard documentation now directs users to use `kubectl proxy` and access the dashboard at http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/

https://github.com/kubernetes/dashboard/#documentation also links to the various ways to expose the dashboard at https://github.com/kubernetes/dashboard/wiki/Accessing-dashboard

/close

[2018-01-23 03:33] #39722 closed

[2018-01-23 03:35] dixudx commented on #58648
ping @k82cn
I saw you touched this part of codes.

[2018-01-23 03:50] andypeker commented on #9802
There is already feature that could judge pod where to schedule ------ label ! Now, you design another feature do the same thing, absolutely same thing .... Is it necessary ?

[2018-01-23 03:51] JinsYin opened #58655 "Volume's size is smaller than requested or volume's class does not match with claim"
kubernetes 1.8.2

## `StorageClass`:

[code]

## Before setting the default `StorageClass`:

[code]

[code]

[code]

[code]

## After setting the default `StorageClass`:

[code]

[code]

[code]

[code]

[code]

[2018-01-23 03:53] JinsYin commented on #58655
After setting the default storage class, I can no longer manually create PV / PVC.

[2018-01-23 03:55] harryge00 opened #58656 "godep save: Unable to find dependent package k8s.io/kubernetes/pkg/kubelet/apis in context of /root/coding/src/k8s.io/kubernetes/pkg/apis/componentconfig/v1alpha1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Cannot `godep save`

[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
Lastest master
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):

[2018-01-23 03:55] JinsYin commented on #58655
/sig  storage

[2018-01-23 03:59] resouer commented on #15673
I would also like to help, it's really useful. Hope to see any lead of scheduling/resource management can own this work.

[2018-01-23 04:17] stewart-yu commented on #58656
/asign

[2018-01-23 04:20] fejta-bot opened #58657 "Failure cluster [4be0f4...] failed 177 builds, 23 jobs, and 203 tests over 1 days"
### Failure cluster [4be0f4e6c3b8d002698b](https://go.k8s.io/triage#4be0f4e6c3b8d002698b)
##### Error text:
[code]
##### Failure cluster statistics:
203 tests failed,    23 jobs failed,    177 builds failed.
Failure stats cover 1 day time range '22 Jan 2018 02:41 UTC' to '23 Jan 2018 02:41 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-instrumentatio

[2018-01-23 04:49] #58545 closed

[2018-01-23 04:49] #57189 closed

[2018-01-23 04:51] bgrant0607 commented on #46073
/remove-lifecycle stale

[2018-01-23 04:53] bgrant0607 commented on #7311
/remove-lifecycle stale
/lifecycle frozen

[2018-01-23 04:54] bgrant0607 commented on #8550
/remove-lifecycle stale
/lifecycle frozen

[2018-01-23 04:56] bgrant0607 commented on #42917
/remove-lifecycle stale

At minimum, the pattern of using node selectors to coordinate DaemonSet upgrade with node upgrades should be documented.

[2018-01-23 04:58] bgrant0607 commented on #48209
cc @monopole

[2018-01-23 04:59] bgrant0607 commented on #48209
/remove-lifecycle stale

[2018-01-23 04:59] bgrant0607 commented on #24744
/remove-lifecycle stale
/lifecycle frozen

[2018-01-23 05:01] bgrant0607 commented on #39188
/remove-lifecycle stale

[2018-01-23 05:01] bgrant0607 commented on #1698
/remove-lifecycle stale
/lifecycle frozen

[2018-01-23 05:02] bgrant0607 commented on #3676
/remove-lifecycle stale
/lifecycle frozen

[2018-01-23 05:02] bgrant0607 commented on #22675
/remove-lifecycle stale
/lifecycle frozen

[2018-01-23 05:03] bgrant0607 commented on #22909
We made selectors immutable for this reason.

[2018-01-23 05:03] #22909 closed

[2018-01-23 05:03] bgrant0607 commented on #3084
/remove-lifecycle stale

[2018-01-23 05:05] bgrant0607 commented on #25241
/remove-lifecycle stale

[2018-01-23 05:05] bgrant0607 commented on #12428
This is not feasible

[2018-01-23 05:05] #12428 closed

[2018-01-23 05:06] bgrant0607 commented on #20941
/remove-lifecycle stale

[2018-01-23 05:07] bgrant0607 commented on #51830
cc @kubernetes/sig-api-machinery-proposals

[2018-01-23 05:07] bgrant0607 commented on #51830
/remove-lifecycle stale

[2018-01-23 05:08] bgrant0607 commented on #1768
/remove-lifecycle stale
/lifecycle frozen

[2018-01-23 05:09] bgrant0607 commented on #43658
@mbohlool Is there another issue for the API linter?

/remove-lifecycle stale

[2018-01-23 05:10] bgrant0607 commented on #34274
/remove-lifecycle stale

[2018-01-23 05:11] bgrant0607 commented on #21912
/remove-lifecycle stale

[2018-01-23 05:11] saad-ali commented on #54108
This feature made it in to 1.9 as alpha:
* 11/30 - Everything merged except change in scheduler. Change in scheduler is nice to have but not critical.
* 11/29 - unmerged PR (scheduler): https://github.com/kubernetes/kubernetes/pull/55957
* 11/29 - merged PRs (PVC Protection controller, admission controller plugin, CLI): https://github.com/kubernetes/kubernetes/pull/55824 https://github.com/kuberne

[2018-01-23 05:15] bgrant0607 commented on #32157
Related issues: #9106, #52670, #53451, #53193

[2018-01-23 05:15] bgrant0607 commented on #8830
/remove-lifecycle stale
/lifecycle frozen

[2018-01-23 05:16] bgrant0607 commented on #6487
/remove-lifecycle stale
/lifecycle frozen

[2018-01-23 05:21] bgrant0607 commented on #4934
I think I/we swept through the field comments a while ago to ensure that immutable fields were documented as not being updatable.

[2018-01-23 05:21] #4934 closed

[2018-01-23 05:25] bgrant0607 commented on #14573
This can be implemented using taints/tolerations

[2018-01-23 05:25] #14573 closed

[2018-01-23 05:26] bgrant0607 commented on #18185
/remove-lifecycle rotten

[2018-01-23 05:26] bgrant0607 commented on #19319
/remove-lifecycle rotten

[2018-01-23 05:27] bgrant0607 commented on #17905
/remove-lifecycle rotten

[2018-01-23 05:28] bgrant0607 commented on #17333
/remove-lifecycle stale
/lifecycle frozen

[2018-01-23 05:30] bgrant0607 commented on #20587
Redundant with #3955

[2018-01-23 05:30] #20587 closed

[2018-01-23 05:35] k82cn commented on #58648
@phsiao , good catch ! The options in my mind are
  1. Added a new predication for Unschedulable
  1. Taint nodes when cordon/uncordon

[2018-01-23 05:40] k82cn commented on #58635
xref https://github.com/kubernetes/kubernetes/issues/49798

[2018-01-23 05:50] feluxe commented on #53661
I have the same issue, when I run `kubectl` on my Linux laptop.

    $ kubectl get nodes
    error: Error loading config file [...] CertificateAuthorityData: decode base64: illegal base64 data at input byte 135, parsing 324 ...FdE1Dc0d$" [...]

[code]

[2018-01-23 05:57] SarshesJ commented on #51675
/close

[2018-01-23 05:57] #51675 closed

[2018-01-23 06:00] liggitt commented on #53661
@feluxe it looks like you have a trailing $ in your data, which is not a valid base64 character

[2018-01-23 06:01] ericstoekl commented on #32522
I am running into this issue with my GKE clusters.

### Environment
 - 1.7.11-gke.1, us-west-1a.
 - I had a ~8 container service deployed to the cluster
 - Instance size used is the smallest allowed for GKE cluster.
 - Left it running for 1 night

### My issues
 - 2 of my 3 nodes in a 3-node cluster are in `NotReady` status according to `kubectl get nodes`
 - When I run `kubectl describe node` on

[2018-01-23 06:01] liggitt commented on #53661
[]byte data in kubeconfig objects must be represented as valid base64 strings

/close

[2018-01-23 06:01] #53661 closed

[2018-01-23 06:03] yianL commented on #54878
Thanks for the clarification!

[2018-01-23 06:03] feiskyer commented on #58600
Finally found this is not the case. For clusters with multiple AS, primaryAvailabilitySetName couldn't be an empty string in our current implementations. Or else, it would need a huge refactoring.

[2018-01-23 06:03] #58600 closed

[2018-01-23 06:05] feluxe commented on #53661
@liggitt I tried to remove it but it doesn't work either way.

I don't know if it matters, but I generated the config entry using this command `gcloud container clusters get-credentials my_cluster --zone my_zone --project my_proj` in my GKE cloud shell.

[2018-01-23 06:10] nicklan opened #58662 "publishNotReadyAddresses not working on service"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Set up a headless service with `publishNotReadyAddresses` set to true.  Set up a stateful set that uses that service as its governing service, and specified a readiness check.  The pods come up, but never move to ready, and the pods also never show up as endpoints in the service.

**What you expected to happen**:
The pods

[2018-01-23 06:16] nicklan commented on #58662
/sig network

[2018-01-23 06:28] liggitt commented on #53661
@feluxe did you copy paste from the screen output? Is it possible you truncated some of the values? If you're able to provide a redacted version of your kubeconfig (no user credentials or hostnames), that would be helpful.

[2018-01-23 06:39] gyliu513 commented on #56438
I filed an issue to upgrade to etcd 3.2.14 at https://github.com/kubernetes/kubernetes/issues/58654 as 3.2.14 has a critical fix for large scale cluster.

Any comments to track the upgrade in this issue? I want to close https://github.com/kubernetes/kubernetes/issues/58654 and update this issue from etcd 3.2.13 to 3.2.14, comments @jpbetz @timothysc @liggitt

[2018-01-23 06:41] humblec commented on #58615
/assign @humblec

[2018-01-23 06:51] vainu-arto commented on #58379
So @dashpole you are saying that the previous claim by @bsalamat that "This is WAI. If you enable Pod priority and preemption and some of your Pods have larger than zero priority, they could cause lower priority pods to get evicted." is incorrect, and there are multiple bugs here instead of just one?

Bug 1. is well known at this point (it's not possible to set a priority for a static pod).
Bug 2.

[2018-01-23 06:58] pbedadham commented on #58582
Yeah- Some thing wrong with my network resolution or image. Spun a new VM with new image and worked as expected.

Thank you for your support.

[2018-01-23 06:58] AnkitVaidya01 opened #58670 "Target in prometheus is showing down."
Below is my prometheus.yml file

![image](https://user-images.githubusercontent.com/34238738/35262213-b164aac6-0039-11e8-982f-2ef6c74e3058.png)

But on prometheus UI the target is showing as down.

![image](https://user-images.githubusercontent.com/34238738/35261981-948d40e4-0038-11e8-8e22-4d92ecad6e39.png)

Also prometheus not giving any stats for application running on node.

@brancz @grobie @to

[2018-01-23 06:58] #58582 closed

[2018-01-23 06:58] linyouchong commented on #45419
The default pleg-relist-threshold is 3 minute.
Why can't we make pleg-relist-threshold configurable, and then set it a larger value.
I have made a PR to fixed it
https://github.com/kubernetes/kubernetes/pull/58279

[2018-01-23 07:05] xingzhou commented on #58455
I'd like to take this as I'm also doing the FlexVolume resizing work.
/assign

[2018-01-23 07:20] justlaputa commented on #22224
I met same problem in my AWS cluster, is this a issue or by-design? would it be fixed later?

[2018-01-23 07:33] brancz commented on #58670
You're using the wrong config. Use this one: https://github.com/prometheus/prometheus/blob/master/documentation/examples/prometheus-kubernetes.yml

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue on Kubernetes. On the mailing list, more people are available to potentially r

[2018-01-23 07:33] brancz commented on #58670
/close

[2018-01-23 07:33] #58670 closed

[2018-01-23 07:37] feluxe commented on #53661
@liggitt Your are right! I made a mistake when I copied the value from the little in-browser terminal, which I'm not used to. I checked it multiple times until I realized it. Such a stupid mistake.. Sorry for bothering!

[2018-01-23 07:39] bgrant0607 commented on #57181
I understand why someone would want this, but it's not so easy.

1. Controllers don't update pods in place -- see #9043. They create new ones, sometimes indirectly, as with Deployment, which creates new ReplicaSets when the pod template changes.
2. Pods are largely immutable, so the controllers can't modify them even if they were smart enough to.
3. Controllers don't reason about scheduling constr

[2018-01-23 07:55] justlaputa commented on #22224
if you are not using native aws route table to route traffic to pods, instead using other network implementations like flannel (my case), you can add this flag to controller manager to prevent this issue from happening:

[code]

[2018-01-23 08:03] linyouchong commented on #58633
@vladimirvivien can you assign it to me ?

[2018-01-23 08:06] #57765 closed

[2018-01-23 08:07] krlng commented on #58145
Yes, exactly. I also tried to fix the error manually, so first I created the sg-group `lb-sg-fbc8d6fd-fd19-11e7-b228-fa163e2ed309-kube-system-ingress-nginx-ingress-controller`. After that kubelet complained about empty pool-targets. After fixing that, it complained about invalid endpoint which pointed to the nginx server, don't know how to fix that one yet.

I just want to point out: All that erro

[2018-01-23 08:07] PiotrProkop commented on #58296
@tnozicka default Arch kernel doesn't have a hugetlb cgroup controller compiled in(been there done that, I use Arch as well), so you have to prepare your own kernel to run it.

[2018-01-23 08:27] francoran commented on #54918
@Arau Thanks for you detailed explanation. Jus to clarify, when you wrote

you meant restart the kubelet or the service that connected to the ELB (re-applied conf)?

[2018-01-23 08:40] kargakis commented on #54487
/remove-lifecycle stale
/lifecycle frozen

[2018-01-23 08:50] feiskyer opened #58675 "kube-controller-manager panic with Azure vmss"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

kube-controller-manager panic when removing a lot of nodes from kubernetes cluster:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

- Create a cluster with Azure cloud provider and enable VMSS
- Join a lot of nodes (>50) in Kubernetes cluster and then remove t

[2018-01-23 08:50] feiskyer commented on #58675
/sig azure

[2018-01-23 08:54] yastij commented on #58648
@k82cn - From discussion with @gmarek we might want to check node.Spec.Unschedulable when checking taints (i.e on the predicate responsible for checking taints).

[2018-01-23 08:55] linyouchong commented on #58632
I want to help fixing it, but I don't know  what should the CSI access mode `SINGLE_NODE_READER_ONLY` mapped with?
ReadWriteOnce  -->  VolumeCapability_AccessMode_SINGLE_NODE_WRITER
       ?                   -->  VolumeCapability_AccessMode_SINGLE_NODE_READER_ONLY
ReadOnlyMany   -->  VolumeCapability_AccessMode_MULTI_NODE_READER_ONLY
ReadWriteOnce + ReadOnlyMany -->  VolumeCapability_AccessMode_M

[2018-01-23 09:22] nikhita commented on #58597
This occurs as a result of #48211. So we can probably close this issue.

[2018-01-23 09:22] #58597 closed

[2018-01-23 09:22] Arau commented on #54918
Hi @francoran, I meant restart the kubelet via systemctl.

[2018-01-23 09:28] nikhita commented on #57316
CRD versioning feature issue: https://github.com/kubernetes/features/issues/544.

[2018-01-23 09:28] verb commented on #58296
@PiotrProkop If it were a kernel problem I would have expected the kubelet to fail the first time it was started rather than the second time.

This isn't confined to Arch, though. I'm having the same problem with the default Debian kernel:

[code]

[2018-01-23 09:33] nikhita commented on #55541
ping @justinsb ^

[2018-01-23 09:41] nikhita commented on #42521
Can someone update the issue title to CRD instead of TPR? Thanks!

[2018-01-23 09:46] abhilashkk commented on #51691
/lifecycle frozen

[2018-01-23 09:47] abhilashkk commented on #51691
/remove-lifecycle stale

[2018-01-23 09:50] nikhita commented on #42521
This issue was originally for TPRs. For CRDs, we have the opposite problem.

If we use `kubectl get pod`, it will list the native `Pod` and not the CRD `pod`. However, this ends up hijacking the CRD.

I think we should not allow CRDs having names same as native resources. Wdyt?

[2018-01-23 09:51] abhilashkk commented on #51691
Looks like this feature is in backlog https://trello.com/b/rjTqrwjl/windows-k8s-roadmap with priority 1, but not sure about the target release version.

[2018-01-23 09:54] Bhuvanesh1208 commented on #57718
Im also facing the same issue but im not using kubeadm.
My kubelet service is running fine but i see the following logs

Jan 23 09:35:32 ip-10-0-10-4 kubelet[10988]: I0123 09:35:32.305044   10988 kuberuntime_manager.go:758] checking backoff for container "kube-controller-manager" in pod "kube-controller-manager-ip-10-0-10-4.ec2.internal_kube-system(d0ed6ff6dd66e0a6e8f8f04433d97776)"
Jan 23 09:35:3

[2018-01-23 10:06] nikhita commented on #57042
Looks like the real issue here is that CRD age does not change form `<invalid>` _as soon as_ it becomes `Established`.

Can someone update the PR title to reflect the same? Thanks!

[2018-01-23 10:12] huzhengchuan opened #58678 "assign pod ip running in node with multiple network interface"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Run application on kubernetes, the application use hostNetwork: true, and the application scheduler to node-A, the node-A has mutilple eth interface, I see the ip of pod is from the ip of node. but something want the other eth interface. because the eths interface has different performance.  how to set it?
it will effect

[2018-01-23 10:13] huzhengchuan commented on #58678
/sig network

[2018-01-23 10:43] PiotrProkop commented on #58296
@verb can you check if your Kernel was compiled with `CONFIG_CGROUP_HUGETLB=y` flag? You can do it by running:
`grep CGROUP_HUGETLB /boot/config-4.9.0-4-amd64`

[2018-01-23 11:00] m1093782566 opened #58681 "Should ignore address not exist error when unbind IPVS serivce address from dummy device"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig network

/area ipvs

**What happened**:

delete a nodeport service, ipvs proxier will report error:

[code]

That's because we didn't bind nodeport ip address to dummy device.

**What you expected to happen**:

Ignore nodeport ip address unbind error - ignore address not exist error when unbind IPVS serivce address from dummy device

*

[2018-01-23 11:02] nikhita opened #58682 "Umbrella issue for CRDs moving to GA"
This is a continuation of the [CustomResourceDefinition feature](https://github.com/kubernetes/features/issues/95).

As discussed earlier, the plan is to go GA. This is the list of tasks that need to be addressed for CRDs.

Please categorize (do not remove, please) whichever does not seem appropriate for moving to GA and put your name behind it. If you want to add any notes specific to a task, ple

[2018-01-23 11:02] nikhita commented on #58682
/sig api-machinery
/area custom-resources

[2018-01-23 11:10] bzy-hh commented on #35062
I have same problem

[2018-01-23 11:18] #58427 closed

[2018-01-23 11:19] porridge commented on #58387
@krzyzacy do you have a reference for the AWS quota problem? It seems to be broken still (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/54294/pull-kubernetes-e2e-kops-aws/69061/)

[2018-01-23 11:35] verb commented on #58296
Sure, looks like it was not:

[code]

Documentation (especially in the error message) would be great, but if the kubelet isn't going to survive a restart, I would prefer that it not start the first time. Better to fail immediately than eventually.

[2018-01-23 12:00] nikhita commented on #42521
/cc @sttts

[2018-01-23 12:29] liggitt commented on #42521
No, the ability to use the same name in different groups was a key feature of API groups

[2018-01-23 12:31] nikhita commented on #42521
@liggitt How about establishing a priority?

[2018-01-23 12:38] klausenbusk opened #58686 "kube-apiserver: --advertise-address/--bind-address not working with "blank" ip"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

The help for `kube-apiserver` states the following:
[code]
but that doesen't seems to be the case.
Setting either `--advertise-address` or `--bind-address` blank, yields the following error:

[code]

**What you expected to happen**:

`kube-apiserver` should start as expected.

**How to reproduce it (as minimally and precisely as po

[2018-01-23 12:40] klausenbusk commented on #58686
cc @kubernetes/sig-api-machinery-bugs

[2018-01-23 12:48] hwchiu commented on #57280
@midoblgsm  this worked for me!! thanks.

[2018-01-23 12:56] liggitt commented on #42521
We already have that: the order listed in discovery, which is what kubectl uses to resolve ambiguous names, and is controlled by priority fields in registered APIService objects.

[2018-01-23 12:57] John-Lin commented on #57280
@midoblgsm it works like a charm!!

[2018-01-23 12:58] k82cn commented on #58648
That's OK to me, just one comment that there maybe two same predicate error :).

[2018-01-23 13:03] dims commented on #58686
i'd say we fix the comment :)

[code]

[2018-01-23 13:30] porridge opened #58691 "Pod startup errors which break BeforeSuite are hard to debug"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
@kubernetes/sig-scalability-bugs
/priority important-soon
umbrella issue: https://github.com/kubernetes/kubernetes/issues/56062

**What happened**:

`BeforeSuite` failed in the following runs with some variant of the `Error waiting for all pods to be running and ready: X / Y pods in namespace "kube-system" are NOT in RUNNING and READY state

[2018-01-23 13:31] wojtek-t commented on #58654
@jpbetz - I think this is an important one.

[2018-01-23 13:37] stephanwesten opened #58692 "Kubectl cp gives "tar: removing leading '/' from member names" warning"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In a shell type the following command:

kubectl cp <podname>:<source path and filename> <destination path and filename>

This gives the following error / warning:
tar: removing leading '/' from member names

**What you expected to happen**:
I did not expect the tar error / warning. Using the kubectl cp command in scripts/

[2018-01-23 13:39] matteosilv opened #58693 "servicePort field in endpoints resource"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig api-machinery

**What happened**:

In many occasions we need to know if a service is "ready" to accept connections. For that, we need to know at least one of its pods it's ready. Calling the **service** API endpoints you don't have this information.

As a workaround we use the **endpoints** API e check its subsets information to fin

[2018-01-23 14:07] nikhita opened #58695 "kubectl does not use containing API group when resolving shortname from discovery"
Copying the issue from https://github.com/kubernetes/apiextensions-apiserver/issues/11

Here is my CRD

[code]

CRD Data

[code]

Outputs

[code]

Expected to see the resource list when kubectl get dpl

Versions

[code]

[2018-01-23 14:07] nikhita commented on #58695
/sig api-machinery
/area custom-resources
/kind bug

[2018-01-23 14:08] nikhita commented on #58695
@liggitt Can you check if the title is right for this case?

[2018-01-23 14:13] porridge opened #58696 "Namespace deletion succeeds but returns a 401"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/priority failing-test
I don't think this is really sig-scalability related, more like something for @kubernetes/sig-api-machinery-bugs or @kubernetes/sig-testing-bugs
Umbrella issue: https://github.com/kubernetes/kubernetes/issues/56062

**What happened**:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gc

[2018-01-23 14:19] vikaschoudhary16 commented on #56944
/assign

[2018-01-23 14:23] nikhita commented on #58695
/cc @sttts @deads2k

[2018-01-23 14:34] xforze commented on #51691
Oh, this looks great :-)

[2018-01-23 14:43] RenaudWasTaken commented on #56307
@tengqm sorry for the delay.
I think your concerns are a valid concern. But I think the current model is pretty much broken and should be reworked.

It has way too many edge cases to try and work around not calling Allocate on container start.

[2018-01-23 14:44] deads2k commented on #58695
If you collide with another short name, you have to qualify with a group.  It should follows normal resolution rules for priority

[2018-01-23 14:48] sttts commented on #58642
/assign

[2018-01-23 14:50] liggitt commented on #58695
`dpl` isn't a colliding shortname.

it expanded dpl -> deployments, then resolved deployments against preferred group order.

[2018-01-23 14:51] RenaudWasTaken commented on #56307
The problem we had with a release or dealloc function was that it had either `At most once` or `At least once` semantics and we couldn't agree to add the latest.

I do intend to get to that `Deallocate` at some point some people have been requesting it.

[2018-01-23 14:53] liggitt commented on #58695
updated description to narrow the report to the case which is a bug

[2018-01-23 14:56] liggitt commented on #58696
@DirectXMan12 what does the metrics server respond with if a GET is done on a namespace that doesn't exist?

[2018-01-23 15:09] tcolgate commented on #54859
We're pretty sure this has now been resolved. I can't clearly state when, but as of 1.8.4 this appears to be resolved (I've asked a few colleagues, we can't be sure when it stopped).

[2018-01-23 15:10] danwinship commented on #58637
It's true

In theory, yes, but there are no proposed use cases for ipblock plus anything else, so it seems like extra work for implementors with no gain for users. It also potentially constrains us in the future.

You don't want to call it "RemotePodSelector" or "ExternalPodSelector" or something like that if it can also select pods in the local namespace. So I feel like we'd be stuck with somethi

[2018-01-23 15:11] #54859 closed

[2018-01-23 15:25] porridge opened #58699 "TLS handshake timeout in 100-node load test"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
@kubernetes/sig-scalability-bugs
/priority failing-test
umbrella issue: https://github.com/kubernetes/kubernetes/issues/56062

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/9976 failed with:
[code]

**What you expected to happen**:

- this kind of error should proba

[2018-01-23 15:26] mattfarina commented on #53201
/sig windows

[2018-01-23 15:32] porridge commented on #58699
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/9976/artifacts/e2e-scalability-master/kube-apiserver.log shows over 100 TLS handshake errors (presumably from clients) between 19:10:01.203144 and 19:19:15.807571 (and none outside this window).

[2018-01-23 15:47] bgrant0607 commented on #55435
@liggitt Is there a design doc, admin guide, or something that describes how Build pods are locked down in Openshift?

Pods were designed to facilitate sharing among containers comprising the pod. And I imagine they won't remain essentially immutable forever.

In order to inject containers of higher privilege than what the user would normally be allowed to do, the other containers (e.g., mounting

[2018-01-23 16:00] CodeJjang opened #58703 "Kubectl applying yaml with tolerations not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig api-machinery

**What happened**:
I'm trying to apply a yaml file of a `Deployment`, which contains pod tolerations in its Pod Spec section.
Everything works fine, Deployment, ReplicaSet and Pods are created according the yaml, `Kubectl` doesn't return any error, but the tolerations are just not being added.
I tried apply to an existin

[2018-01-23 16:05] joewilliams commented on #52657
We may also be seeing this issue on:
* Kube 1.6.7
* Debian 8 (jessie)
* linux 4.8.0-0.bpo.2-amd64

We have no cronjobs.

[2018-01-23 16:11] rofr commented on #51691
This issue isn't really specific to windows. Of course the --security-opt flag is but wouldn't it be smart in general to have a "docker-args" property in the pod.yaml analogous to args property for container args?

[2018-01-23 16:15] cmluciano commented on #14371
/close

[2018-01-23 16:15] #14371 closed

[2018-01-23 16:16] cmluciano commented on #17115
/close

[2018-01-23 16:16] #17115 closed

[2018-01-23 16:16] cmluciano commented on #40627
/close

[2018-01-23 16:16] #40627 closed

[2018-01-23 16:17] cmluciano commented on #51445
@tatsuhiro-t Any luck with this?

[2018-01-23 16:17] jamiehannaford commented on #52657
@cheftako In your [local testing](https://github.com/kubernetes/kubernetes/issues/52657#issuecomment-330716414), where in the CM was the leak occurring? Did you identify a fix?

[2018-01-23 16:17] jamiehannaford commented on #52657
/remove-lifecycle stale

[2018-01-23 16:20] cmluciano commented on #41055
@dashpole @vishh Should we close this in favor of something else?

[2018-01-23 16:25] NiclasHedam commented on #42636
I believe this issue has aged away.

[2018-01-23 16:25] NiclasHedam commented on #42636
/close

[2018-01-23 16:25] #42636 closed

[2018-01-23 16:34] cmluciano commented on #33586
@kubernetes/sig-network-bugs think this is still relevant?

[2018-01-23 16:36] cmluciano commented on #36277
can anyone in @kubernetes/sig-windows-bugs help with this?

[2018-01-23 16:37] cmluciano commented on #36277
/remove-lifecycle rotten
/remove-lifecycle stale

[2018-01-23 16:38] cmluciano commented on #9079
/close
kube-dns is now using dnsmasq

[2018-01-23 16:38] #9079 closed

[2018-01-23 16:46] ncdc commented on #24070
@sjenning the only one that I think is critical is what I mentioned above - run a pod without a TTY and you want ALL its output. I have to defer to @mrunalp @yujuhong and everyone else in @kubernetes/sig-node-feature-requests @kubernetes/sig-node-bugs to figure out if there's a way to handle this.

My knowledge is still limited to how docker does it:

1. create container
2. attach
3. start contain

[2018-01-23 16:46] cmluciano commented on #9106
Possible dupe of https://github.com/kubernetes/kubernetes/issues/52670

[2018-01-23 16:48] cmluciano commented on #58599
@kubernetes/sig-network-bugs

[2018-01-23 16:51] cmluciano commented on #40270
@kubernetes/sig-network-feature-requests

[2018-01-23 17:06] liggitt commented on #55435
https://github.com/openshift/origin/blob/master/docs/proposals/security-context-constraints.md was the original design. The relevant points are:

https://github.com/openshift/origin/blob/master/docs/proposals/security-context-constraints.md#escalating-privileges-by-an-administrator

1. Build pods are created by a controller with access to privileged security policies, so the pods it creates are al

[2018-01-23 17:07] piosz commented on #56854
cc @bsalamat @davidopp

[2018-01-23 17:12] liggitt commented on #55435
I agree. All or nothing access to the pod is a *much* clearer boundary.

[2018-01-23 17:18] michmike commented on #36277
cc: @bsteciuk

[2018-01-23 17:18] #58648 closed

[2018-01-23 17:24] cblecker commented on #39696
/remove-lifecycle rotten
I believe this is still relevant.

[2018-01-23 17:28] mtaufen commented on #58362
Any other opinions on this? Jordan had thought it a little strange to do a subresource that's intended for giving access to a *more* privileged entity, since I guess most subresources are for giving access to *less* privileged entities than touch the primary resource. But maybe that's just tradition, and we can buck the trend?

[2018-01-23 17:35] ketzacoatl commented on #41339
From what I've seen, this is still a problem.

[2018-01-23 17:46] mikedanese commented on #58362
The /approve subresource on certificatesigingrequests has that same semantics. I don't think there a really any other options if we want to handle this in the Authorizer subsystem.

[2018-01-23 17:54] yujuhong commented on #27754
I think the issue is obsolete, and rotation of non-stdout/stderr container logs is configured differently in different cloud setups.

[2018-01-23 17:54] #27754 closed

[2018-01-23 17:58] jpbetz commented on #58654
Agreed. Updating to 3.2.14 instead of 3.2.13. We will use https://github.com/kubernetes/kubernetes/issues/56438 to track.

[2018-01-23 17:58] #58654 closed

[2018-01-23 18:02] bsalamat commented on #54190
/remove-lifecycle stale

[2018-01-23 18:27] #58675 closed

[2018-01-23 18:31] MrHohn commented on #42282
I hit a similar error again while trying to modify service type from NodePort to ClusterIP. Opened a new bug on https://github.com/kubernetes/kubectl/issues/221.

[2018-01-23 18:34] wojtek-t commented on #14118
This has been significantly optimized in 2017. Closing.

[2018-01-23 18:34] #14118 closed

[2018-01-23 18:36] dchen1107 commented on #58638
cc/ @yujuhong

[2018-01-23 18:36] yujuhong commented on #58638
/cc @crassirostris

[2018-01-23 18:36] jonhosmer commented on #58370
Happens in 1.8.7 also with Deployments:
[code]

[2018-01-23 18:37] dchen1107 commented on #58638
cc/ @kubernetes/sig-instrumentation-misc

[2018-01-23 18:48] krzyzacy opened #58709 "pull-kubernetes-e2e-kops-aws is flaky due to quota setup in the cncf account"
open an issue to track progress:

last update: https://kubernetes.slack.com/archives/C09QZ4DQB/p1516685722000284

cc @justinsb @chrislovecnm @mattlandis @arun-gupta
/sig aws
/kind bug

[2018-01-23 18:55] jpbetz commented on #56438
@gyliu513 I've updated this issue to reflect that we will bump to 3.2.14.

[2018-01-23 18:56] ahmetb commented on #17080
Not sure if we should have vendor-specific Ingress docs on the site. We can link to them, but I think they should be outside the official docs.

- There are too many Ingresses even today (gce, nginx, contour), and many more probably being developed since Azure/AWS are now offering hosted k8s too.
- Ingress is being planned to revamped completely. (a v2, or abandon) That's why any effort to start i

[2018-01-23 18:59] gyuho commented on #58654
just fyi. etcd CHANGELOG link is changed to https://github.com/coreos/etcd/blob/master/CHANGELOG-3.2.md#v3214-2018-01-11.

[2018-01-23 19:09] vasartori commented on #56903
In my tests, using this option on /etc/resolv.conf
`options single-request-reopen`

Fixed the problem.
But I don't find a "clean" way to put it on pods in kubernetes 1.8.
What I do:
[code]

@mikksoone Could you try if it solve your problem too?

[2018-01-23 19:17] mbohlool commented on #38637
Kubectl 1.8 is the latest version that uses swagger 1.2 spec. That means we can remove swagger 1.2 from head and hence it will not be available in 1.10. I will announce the deprecation with 1.9.3 release.

[2018-01-23 19:19] dblackdblack commented on #29276
+1 . This used to work back when affinity was indicated via the `scheduler.alpha.kubernetes.io/affinity` pod annotation. We used this feature but it is now broken.

[2018-01-23 19:21] mattlandis commented on #58709
The earlier VPC limit increase only went out to some regions.  I have pushed the VPC limit update to all regions.

Have a request in progress for increasing the instance limit to 60 for all regions.  Waiting for approvals should hear back in the next 24 hours.

Have someone looking into the 5k limit increase for scalability testing.  That may take longer.

[2018-01-23 19:25] krzyzacy commented on #58387
let's ref https://github.com/kubernetes/kubernetes/issues/58709 in the future, I'll close this one as this is not the actual failure

/assign
/close

[2018-01-23 19:25] #58387 closed

[2018-01-23 19:28] cblecker commented on #54371
@thockin Is this still relevant?

[2018-01-23 19:35] cjcullen commented on #24279
/close
This was fixed by #24487

[2018-01-23 19:35] #24279 closed

[2018-01-23 19:52] sjenning opened #58711 "kubelet: invalid pod phase transition from Failed to Succeeded"
xref https://github.com/openshift/origin/issues/17595

I haven't found a trivial reproducer for this yet.

~~I've pasted the node log entries of a single pod and its containers that exhibit this issue:
https://paste.fedoraproject.org/paste/DMlfGbbi~WiezZFBIAv-zw~~

If you search for "updated successfully", you can see the transition from Running -> Failed -> Succeeded.

I've tracked it as far as t

[2018-01-23 19:56] sjenning commented on #58711
/assign
/assign dashpole

[2018-01-23 19:57] cjcullen commented on #31798
My thinking on this has evolved:
I now think it is reasonable to hit the authorizer before we determine if the path is valid.

From a security perspective, we lower the risk that we leak information to unauthorized callers (e.g. if I get a 403 trying to list `SecretObjects` but a 404 trying to list `Widgets`, I just learned something about this cluster I shouldn't have been able to).

From an auth

[2018-01-23 19:58] squeed commented on #57280
This isn't a problem with Kubernetes, rather one with Flannel and the host-local ipam plugin.

I recommend you configure your host-local ipam plugin to use a dataDir in `/run`, instead of the default in `/var/lib`. That will mean that IPAM is cleared on every reboot.

I think this issue can be closed. Perhaps the recommended Flannel configuration should be updated, but that's an issue for the Flan

[2018-01-23 19:59] yujuhong commented on #58638
Discussed in the sig-node meeting. There are legacy symlinks for docker and (new) CRI log paths. I don't think we need to change the former. As for the latte, since there will be many CRI logging improvements planned for 1.10, it'd be the good time to start the discussion and make any necessary changes.

@portante @derekwaynecarr do you have something in mind already about how the metadata should

[2018-01-23 20:07] yujuhong commented on #58638
As for maintaining backward compatibility, for docker(shim), it'd need to recreate (delete and create new) the symlinks. As for other CRI runtimes, either draining the containers or creating symlinks from new to the old may be adopted.

[2018-01-23 20:10] justinsb commented on #58709
Thanks you @mattlandis (and @krzyzacy ).  And getting the smaller limit bump faster, followed by a bigger increase for scale testing seems like a great approach - we need the former "today", the latter is important but less critical!

[2018-01-23 20:12] dashpole commented on #58711
We can try and address this in two different ways that I can think of:
1. We can identify all states that could produce different statuses (e.g. a sandbox with no containers is either Pending or Failed/Succeeded, depending on previous state), and use historical statuses to determine which of the two it is.  In this case, we can find the root cause of the bug, and determine how the previous state s

[2018-01-23 20:12] dashpole commented on #58711
cc @yujuhong

[2018-01-23 20:41] cmluciano commented on #57280
/close

[2018-01-23 20:41] #57280 closed

[2018-01-23 20:50] cmluciano commented on #17080
That's a good point. @kubernetes/sig-network-pr-reviews WDYT?

[2018-01-23 21:17] #55489 closed

[2018-01-23 21:45] yujuhong commented on #58635
I talked to @bsalamat and @dchen1107 and I think it's advised to use taints instead of conditions (ref: #57690).

That said, I find the definition of "stopped" a bit vague. @jingxu97, could you define what "stopped" means, whether a node can recover from the state, and if it can, what do we expect the state of the recovered node to be. Also, it'd be nice to see how "stopped" would be interpreted i

[2018-01-23 21:49] vladimirvivien opened #58718 "CSI - Mark CSIPersistentVolumeSource type as Beta"
This task is to indicate that type CSIPersistentVolumeSource is now `Beta`.

/sig storage

[2018-01-23 21:56] jennybuckley commented on #52657
@jamiehannaford
We think the issue isn't so much that the CM is leaking memory, but that the job controller manager is actually designed to rely on an ever increasing cache in order to figure out how many pods have completed. ([here](https://github.com/kubernetes/kubernetes/blob/f34d3af809169007e7f474a26751ee675c0664ac/pkg/controller/job/job_controller.go#L624)). This decision was made because of

[2018-01-23 22:27] tatsuhiro-t commented on #51445
I don't see this issue these days, we use various versions of kubernetes 1.8.x to 1.9.x.

[2018-01-23 22:39] patrickf55places commented on #52172
For those watching this issue, joelittlejohn and cjyar updated their comments to license the code under MIT (you don't get notifications for edits). Thanks guys!

[2018-01-23 22:44] Random-Liu commented on #58642
Still see this failure after #58697 is merged:
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/20811
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-cri-containerd-e2e-gci-gce/1906

Reopen.

[2018-01-23 22:54] liggitt commented on #58642
Looks like the client doesn't differentiate between 500 and 503 here: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/errors/errors.go

It should. Will open a fix shortly

[2018-01-23 23:24] joelsmith opened #58719 "Kubelet silently deletes any files written to secret volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When a container has a secret volume and creates or updates a file on the secret volume, the changes disappear within a minute or two. This behavior is confusing and surprising to container creators. Because the volume acts read-only (by reverting any changes made), a better solution would be do disallow writes to the vol

[2018-01-23 23:26] yujuhong commented on #53601
@yifan-gu has sent out the announcement.

Will close this once the PR gets merged.

[2018-01-23 23:27] joelsmith commented on #58719
/assign

[2018-01-23 23:28] joelsmith commented on #58719
/sig node
/sig storage

[2018-01-23 23:29] mbohlool commented on #43658
yes: https://github.com/kubernetes/kubernetes/issues/44005

I am closing this one as it is a duplicate.

[2018-01-23 23:29] #43658 closed

[2018-01-23 23:31] mbohlool commented on #51422
@roycaihw is this the linter you've added?

[2018-01-23 23:35] devlounge commented on #25908
I am also impacted by this issue. Any update on when we could have a solution ?
The sidecar container pattern is used more and more and a lot of us won't be able to use k8s cronjobs and jobs until this gets resolved.

[2018-01-23 23:40] yujuhong opened #58721 "Remove rktnetes code"
rktnetes is scheduled to be deprecated in 1.10 (#53601). According to the [deprecation policy](https://kubernetes.io/docs/reference/deprecation-policy/) for beta CLI and flags, we can remove the feature in 1.11.

@kubernetes/sig-node-api-reviews

[2018-01-23 23:40] yujuhong commented on #32134
Closing since we are deprecating rktnetes (#53601)

[2018-01-23 23:40] #32134 closed

[2018-01-23 23:40] yujuhong commented on #28740
Closing since we are deprecating rktnetes (#53601)

[2018-01-23 23:40] #28740 closed

[2018-01-23 23:41] yujuhong commented on #27975
Closing since we are deprecating rktnetes (#53601)

[2018-01-23 23:41] #27975 closed

[2018-01-23 23:41] yujuhong commented on #13260
Closing since we are deprecating rktnetes (#53601)

[2018-01-23 23:41] #13260 closed

[2018-01-23 23:44] phsiao commented on #58703
Noticed that you client (v1.5.4) is much older than server, maybe that caused this?

[2018-01-24 00:03] aca02djr commented on #56903
Also experiencing this on 1.8.6-gke.0 - @vasartori suggested solution resolved the issue for us too 👍🏻

[2018-01-24 00:11] abhi commented on #55905
Today In sig-node https://docs.google.com/presentation/d/1BKbTa7RBVMTjZlk_6CV5SZfV4fen3bzk5PoqiXYIUK4/edit#slide=id.g3262a28663_0_0 was discussed. With the follow 4 options:

Option 1: Point Cadvisor to the container log file to monitor container stats.
Pros: Easier implementation.
Cons: With log rotation feature coming soon , this will only be a temporary workaround. How do we handle log rotation

[2018-01-24 00:14] ixdy commented on #58220
@liggitt two points:
1. Those changes have been running in the master branch for close to a month now
2. AFAIK nothing official is using the bazel artifacts currently

So it seems like it would probably be safe to do?
Also the build stuff in 1.9 hasn't drifted too far from master yet.

[2018-01-24 00:25] zouyee commented on #54526
/close

[2018-01-24 00:25] #54526 closed

[2018-01-24 00:30] portante commented on #58638
Encoding the information in the path of the log file seems reasonable still, but elongates the path, something like:

[code]

Which might allow for existing paths to be seen and recognized as the old form, with the new form detected by the hierarchy of directories.

Thoughts?

[2018-01-24 00:35] salmicrosoft commented on #46381
/remove-lifecycle stale

[2018-01-24 01:03] yujuhong commented on #58638
@portante the current CRI log path is `/var/log/pods/PODUID/CONTAINERNAME_INSTANCENUMBERlog`

Kubernetes API does not include a container UUID, so I assume you meant the ID created by the container runtime.
Currently, kubelet constructs the log path and passes it to the runtime *before* creating a container. The runtime will create a container and return an ID. As a result of this, it's not possib

[2018-01-24 01:07] ericchiang commented on #51422
Ensuring the proto name is identical to the json name is another check that'd be good to include https://github.com/kubernetes/kubernetes/issues/45183

[2018-01-24 01:28] michmike commented on #34327
I think this is complete. cc: @JiangtianLi  do you agree?

[2018-01-24 01:30] michmike commented on #34327
/assign sig-windows

[2018-01-24 01:30] michmike commented on #34327
/assign michmike

[2018-01-24 01:31] michmike commented on #34327
/close

[2018-01-24 01:31] #34327 closed

[2018-01-24 01:48] stewart-yu commented on #58692
It's not a bug, may be missing parameter `-C` in tar.
/assign

[2018-01-24 02:00] JiangtianLi commented on #34327
@michmike I agree, with David's work this issue can be closed.

[2018-01-24 02:23] gnufied commented on #58455
/assign @xingzhou

[2018-01-24 02:23] gnufied commented on #58455
oh boy. I can't assign you. anyways - please open a PR when this is done, I will review.

[2018-01-24 02:31] Lion-Wei commented on #58628
I can help to do this. : )

[2018-01-24 02:32] wenjiaswe commented on #58552
@bjhaid, I tried to use a crt file with no DNS field for the etcd in kubernetes master, and restarted kube-apiserver, I actually didn't see any log entry regarding "bad certificate" issue in kube-apiserver.log, kubernetes run fine. I am not sure if it's because of my setting didn't simulate your scenario or if I looked at the wrong place for the error message. I actually couldn't recognize the ima

[2018-01-24 02:52] dims commented on #58296
@verb can you please check if #58727 works (as in fails!) for you?

[2018-01-24 03:01] BenTheElder commented on #58387
FWIW I'm going to make kubekins-e2e preinstall this now.

[2018-01-24 03:04] jianglingxia opened #58729 "cloud provider could not be initialized"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
add --cloud-provider=openstack --cloud-config=/etc/kubernetes/kube-openstack-conf
**What you expected to happen**:
the kube-controller-manager service and the kubelet service not running

Jan 23 16:07:03 node-2 kube-controller-manager: F0123 16:07:03.221788   21103 controllermanager.go:181] error running controllers: cloud

[2018-01-24 03:04] jianglingxia commented on #58729
/sig openstack

[2018-01-24 03:07] jianglingxia commented on #58729
I see the err return that the func:
![image](https://user-images.githubusercontent.com/25783555/35312481-9ad2bd4e-00f6-11e8-99aa-b64a52483fec.png)
why initialize failed?thanks
/assign @FengyunPan

[2018-01-24 03:27] guangxuli commented on #54318
@ncdc What's progress about creating a common package that put the common configuration? Need i start this work.

[2018-01-24 03:40] Lion-Wei commented on #58703
v1.9.1 works fun.

[2018-01-24 03:41] yue9944882 opened #58730 "Setting kube-proxy port range with"BeginPort+Offset" format"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Implement this TODO:
[https://github.com/kubernetes/kubernetes/blob/35ed5338b104f41c91efb2b842e92fded6d0b509/staging/src/k8s.io/apimachinery/pkg/util/net/port_range.go#L53](https://github.com/kubernetes/kubernetes/blob/35ed5338b104f41c91efb2b842e92fded6d0b509/staging/src/k8s.io/apimachinery/pkg/util/net/port_range.go

[2018-01-24 03:42] yue9944882 commented on #58730
/sig api-machinery

[2018-01-24 04:21] fejta-bot opened #58733 "Failure cluster [1093c2...] failed 237 builds, 11 jobs, and 1 tests over 1 days"
### Failure cluster [1093c2dbafe8ebde6397](https://go.k8s.io/triage#1093c2dbafe8ebde6397)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    11 jobs failed,    237 builds failed.
Failure stats cover 1 day time range '23 Jan 2018 03:06 UTC' to '24 Jan 2018 03:06 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 11 |

##### Top

[2018-01-24 04:21] fejta-bot opened #58734 "Failure cluster [0c19d2...] failed 106 builds, 10 jobs, and 1 tests over 1 days"
### Failure cluster [0c19d25ade6353e32822](https://go.k8s.io/triage#0c19d25ade6353e32822)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    10 jobs failed,    106 builds failed.
Failure stats cover 1 day time range '23 Jan 2018 03:06 UTC' to '24 Jan 2018 03:06 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 10 |

##### Top

[2018-01-24 05:03] liggitt commented on #58220
ah, I thought that's how the build scripts were building

[2018-01-24 05:06] BenTheElder commented on #58220
presubmit / CI uses bazel builds heavily, but releases etc. use the
dockerized (non-bazel) builds currently. this should be safe to backport if
someone wants to take it on.

On Tue, Jan 23, 2018 at 9:04 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2018-01-24 05:16] liggitt commented on #58642
opened https://github.com/kubernetes/kubernetes/pull/58735

[2018-01-24 05:27] liggitt commented on #58734
duplicate of https://github.com/kubernetes/kubernetes/issues/58709

[2018-01-24 05:27] #58734 closed

[2018-01-24 05:35] FengyunPan commented on #58729
What is '10.62.106.33:8089/v2.0'? Keystone? Auth_url?

Can't access openstack, please check '10.62.106.33:8089'.

[2018-01-24 06:14] jianglingxia commented on #58729
auth_url
![image](https://user-images.githubusercontent.com/25783555/35316784-713d0bfc-010e-11e8-818b-0aab206bd962.png)
but
![image](https://user-images.githubusercontent.com/25783555/35317254-db30b71e-0110-11e8-8b8a-4f342d3c0220.png)

[2018-01-24 06:15] pavank1933 opened #58736 "v1 API cannot be used to access GKE regional clusters"
Tried to create GKE cluster in europe-west3.
Command:
**gcloud container clusters create test-cluster  --num-nodes=3 --zone europe-west3**
Facing the below issue:-
ERROR: (gcloud.container.clusters.create) ResponseError: code=400, message=v1 API cannot be used to access GKE regi
onal clusters. See http://goo.gl/Vykvt2 for more information

Tried many scenarios, still the same issue

[2018-01-24 06:32] pavank1933 commented on #58736
Resolved the above issue by executing the below two commands:
    $ gcloud config set project PROJECT_ID
    $ gcloud config set compute/zone eu-*****

[2018-01-24 06:33] #58736 closed

[2018-01-24 06:46] #45700 closed

[2018-01-24 06:56] evildoerX opened #58738 "new test"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-01-24 07:12] harryge00 commented on #49462
@justlooks  How did you solve this?

[2018-01-24 07:40] roberthbailey commented on #44856
The salt configuration was removed in https://github.com/kubernetes/kubernetes/pull/58248.

/close

[2018-01-24 07:40] #44856 closed

[2018-01-24 07:40] roberthbailey commented on #44822
The salt configuration was removed in #58248.

/close

[2018-01-24 07:40] #44822 closed

[2018-01-24 07:50] Lion-Wei commented on #58695
Did a little research, turn out kubectl will take `dpl.sadlil.com` as it's short name:
[code]

I can give a shot to solve this problem, unless it's by design...  : )

[2018-01-24 07:54] stewart-yu commented on #58729
can you use `1.9.0+` or `master` have a try? @jianglingxia

[2018-01-24 08:10] m1093782566 commented on #53433
If I want kube-proxy to watch its own node, what clusterrole I should bind to kube-proxy?

[2018-01-24 09:16] nikhita commented on #46404
/remove-lifecycle rotten

[2018-01-24 09:35] jiaxuanzhou commented on #56272
i still recommend to record the event when the delete api was sent and record it

[2018-01-24 09:37] jiaxuanzhou commented on #57773
on the other hand, instead we can also record the the requested resource of the pods belong to the node in the prometheus interface.

[2018-01-24 09:44] dixudx commented on #58695
@Lion-Wei FYI. PR #58741.

[2018-01-24 09:59] brancz commented on #55905
I understand that these statistics are interesting to know, but I'm wondering if they need to be part of core/resource metrics at all. It feels to me this falls under normal host monitoring. I'm not sure I understand why this would need to be exposed by cAdvisor or CRI.

[2018-01-24 10:11] Flowwwie opened #58742 "[Feature Request] Add a "Job Status" feature similar to "Rollout Status""
Where the command will exit when all Pods in the Job are terminated but not before, and return an exit code of 0 if all Pods were successful, or appropriate exit code if some Pods did not succeed.

This would allow actions to be performed after the Job has run - without polling - dependent on the Jobs overall "Success".

For e.g. Running performance tests from Parallel pods using a Job, and perfor

[2018-01-24 10:43] jsravn commented on #41339
We haven't had an EBS issue at all since 1.7ish. So I'm happy with closing this.

[2018-01-24 10:51] jdanekrh commented on #49270
The important qualifier is the part

I missed that on multiple scanning through the https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/ document.

[2018-01-24 11:06] m1093782566 opened #58744 "Support topology aware service routing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

/sig network

/assign

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `

[2018-01-24 11:45] dims commented on #58738
/close

:)

[2018-01-24 11:45] #58738 closed

[2018-01-24 11:46] dims commented on #58729
1.6.9 is too old. yes please try newer versions like @stewart-yu mentions

/close

[2018-01-24 11:46] #58729 closed

[2018-01-24 11:50] dims commented on #58610
/close

this has come up before without satisfactory solutions ...

[2018-01-24 11:50] #58610 closed

[2018-01-24 11:55] zetaab commented on #58635
@yujuhong stopped means for instance virtual machine in openstack which is stopped (not running currently). Currently this thing is not supported at all, and if we stop instance that node is deleted from kubernetes but volumes are still there as attached.

[2018-01-24 11:58] jsafrane opened #58747 "vSphere cloud provider should not require its own role and policy"
In 1.9 vSphere cloud provider creates a new `vsphere-cloud-provider` client, new shared informer factory and lists nodes [here](https://github.com/kubernetes/kubernetes/blob/2f4cca73af088a0547feeab75c8dc3fb92fde6b6/pkg/cloudprovider/providers/vsphere/vsphere.go#L221)

IMO, the cloud provider should not create it's own client at all. GCE uses [SetInformer interface](https://github.com/kubernetes/ku

[2018-01-24 11:59] verb commented on #58296
No, this doesn't resolve the issue.

Logs from the first start:
[code]

Logs from the second start:
[code]

[2018-01-24 12:06] dims commented on #58296
@verb Do you have the `/sys/fs/cgroup/hugetlb/` directory? in that case what i have is insufficient :(

If you don't have that directory, then we should probably look for a better spot to put that check? any advice?

[2018-01-24 12:13] verb commented on #58296
No, that directory is missing on my system:

[code]

[2018-01-24 12:13] stewart-yu commented on #58616
/assign

[2018-01-24 12:32] adam-sandor opened #58748 "CronJob with Forbid policy keeps creating Jobs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Created a CronJob with the `Forbid` concurrency policy. The Pod it was trying to run failed to pull its image. The CronJob kept creating new Jobs on every run but they could never execute so just kept piling up. The result is I had to manually delete all jobs as deleting the Pod and the CronJob didn't help in resolving t

[2018-01-24 12:58] php-coder commented on #58630
@jingxu97 Please, update the subject and description to add details.

[2018-01-24 12:59] k82cn commented on #58748
/sig apps

[2018-01-24 13:02] php-coder commented on #58619
/sig apps
/sig docs

[2018-01-24 13:16] #47167 closed

[2018-01-24 13:16] aliasmee commented on #44370
+1

[2018-01-24 13:17] k82cn commented on #58042
I'd like to close that according to my test; refer to the above comment for the detail.
If any more comments, please feel free to open that.

[2018-01-24 13:17] #58042 closed

[2018-01-24 13:37] #51182 closed

[2018-01-24 13:40] elevran commented on #58624
Agree that service meshes will drive interest here.
I don't think it belongs in a k8s NetworkPolicy. An alternative may be to (optionally) derive NetworkPolicy objects from a higher level, application-centric, policy.

Also, the use of having protocol specific entities in the spec may not scale. Agree with @louiscryan and @rshriram about trying to consolidate and generalize.
Having `operation`, `r

[2018-01-24 14:20] feiskyer opened #58750 "Add support of hyperv isolation for windows containers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

This is needed for:
- running Windows Server 2016 containers on Windows Server 1709
- providing a stronger isolation boundary between pods. This is important for scenarios where you need to host pods for multiple tenants or security levels on the same node

Proposal is to use an annotation, not an API change: `windows.kubernetes.io/isolation-type=hype

[2018-01-24 14:20] feiskyer commented on #58750
/sig windows

[2018-01-24 14:34] justinsb commented on #37151
/remove-lifecycle stale

[2018-01-24 14:34] justinsb commented on #37151
/remove-lifecycle rotten

[2018-01-24 15:14] pospispa commented on #58272
@xingzhou you mentioned [here](https://github.com/kubernetes/kubernetes/pull/58273/#discussion_r161936092) that there are several log messages per second for the same pod for the same problem.

Please, do you consider the several log messages per second to be an issue?

[2018-01-24 15:16] outkaj commented on #51764
I had this issue on AKS and resolved by upgrading the cluster from 1.7.7 to 1.8.2 (as a note for anyone who happens to find themselves in the same situation).

[2018-01-24 15:19] rchampag commented on #57110
Hi, any idea on when this might get fixed? Thanks!

[2018-01-24 15:25] bgrant0607 commented on #17324
/remove-lifecycle stale
/lifecycle frozen

[2018-01-24 15:33] bjhaid commented on #58552
@wenjiaswe

I created a repo to generate the broken cert for you:

https://github.com/bjhaid/bad_cert_repro

you should be able to use the `foo.bar.com` keys as it is, just modify your `/etc/hosts` to point your etcd node's ip address at `foo.bar.com` and you should be good, you can also modify `gen_bad_cert` to generate the cert matching the hostname you care about

apiserver does not log anythin

[2018-01-24 15:34] mattfarina commented on #39892
@fabiand what do you need to get it started? What are you thinking?

[2018-01-24 15:47] shyamjvs commented on #45650
/remove-lifecycle rotten
/lifecycle frozen

[2018-01-24 15:49] liggitt commented on #58748
/assign @soltysh

[2018-01-24 16:33] #54335 closed

[2018-01-24 16:37] montyontherun commented on #16863
+1

[2018-01-24 16:54] #53601 closed

[2018-01-24 16:58] kfox1111 commented on #29582
this is still quite relevant.

[2018-01-24 16:58] kfox1111 commented on #29582
/lifecycle rotten
/remove-lifecycle stale

[2018-01-24 16:58] nikhita commented on #19736
/remove-lifecycle stale
/lifecycle frozen

[2018-01-24 17:05] serathius commented on #56854
Scheduler was ignoring Unschedulable nodes, so at cluster startup with no other node available, addons where scheduled on master.
Fixed here https://github.com/kubernetes/kubernetes/issues/58648

[2018-01-24 17:27] soltysh commented on #14186
/remove-lifecycle stale
/lifecycle frozen

[2018-01-24 17:36] rayterrill commented on #57709
This bit me so hard - been struggling with this for weeks. Your note about 'nslookup localhost' clued me in, @sunriax. Up and going now. Cheers.

[2018-01-24 17:37] soltysh commented on #17244
/remove-lifecycle rotten
/lifecycle frozen

[2018-01-24 17:41] dashpole commented on #58569
cc @kubernetes/sig-storage-feature-requests

I am not very familiar with the inner workings of container storage, but at first glance it seems like a mechanism to modify storage "underneath" a pod without needed to attach/detach or restart pods is more in-line with how kubernetes treats container resources.  Generally, we strive to ensure applications don't require knowledge of infrastructure (e.g

[2018-01-24 17:46] r7vme opened #58759 "azure load balancer created with wrong backend port"
/kind bug

**What happened**:
azure load balancer created with wrong backend port.

I'm creating load balancer from:
[code]

My nginx pods
[code]

Finally in Azure portal i see that everything is fine except "backend port", which is set to 80.

**What you expected to happen**:
Load balancer will have "backend port" set to node port, which in my case was selected to `32451`.

**How to reproduce it

[2018-01-24 17:46] r7vme commented on #58759
![2018-01-24-18 42 14-screenshot](https://user-images.githubusercontent.com/1277504/35347938-e72cc5dc-0136-11e8-9a87-cf913473ac03.png)

[2018-01-24 17:47] rchampag commented on #57110
@JiangtianLi, thanks for the swift reply! I need to learn some new (for me) github skills to get that PR.

[2018-01-24 17:50] r7vme commented on #58759
/sig azure

[2018-01-24 17:53] DirectXMan12 commented on #58696
hmm... let me double check

[2018-01-24 17:58] khenidak commented on #50062
So if the use case to have one service exposed with LB then
1. add ```type: Load Balancer`` to the service annotation
2. add ```service.beta.kubernetes.io/azure-dns-label-name``` with your dns label to the service

if the use case is to have ingress controller with a DNS label, then the service that exposes the ingress controller to the LB should have the above.

if the use case is to have multipl

[2018-01-24 18:14] DirectXMan12 commented on #15157
I actually had event-driven parsing and serialization in my fork of go-yaml -- I just never got to finish it.  Someone could pick up my work where I left off.  I'd definitely be willing to show what else needed to be done.

[2018-01-24 18:14] DirectXMan12 commented on #54084
/remove-lifecycle stale

[2018-01-24 18:30] khenidak commented on #47733
they are part of the controller manager logs. All the logs re LB are generated mostly by this file https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_loadbalancer.go

[2018-01-24 18:30] brendandburns opened #58761 "Service proxy can proxy to arbitrary external IPs"
If you create a Service without a selector and manually set endpoints, and then make a request via the Service websockets proxy on the API server the network connection is initiated from the APIserver's network namespace, not the client.

This means that using this technique a user can access IP address that they may not be privileged to access (for example services in other namespaces).

We shoul

[2018-01-24 18:31] sibtainabbas10 commented on #57718
Hi @dims. I was running into a similar issue. Just a couple of questions on your provided solution:

1.

[2018-01-24 18:31] brendandburns commented on #58761
/sig-network

[2018-01-24 18:31] brendandburns commented on #58761
/sig network

[2018-01-24 18:35] liggitt commented on #53433
can you point to where kube-proxy watches nodes? if so, that should be added to the node-proxier role.

[2018-01-24 18:40] DirectXMan12 commented on #58696
[code]

It returns a 200 as of v0.2.1 (the most recent code change).  That's probably wrong, but not the 401 that you saw before.

[2018-01-24 18:46] sibtainabbas10 commented on #57718
Hi @dims. I am running into a similar issue. Just a couple of questions/confusions on your and @oonisim 's provided solutions:

1.

Is it really necessary to tag the resources? (Just asking to make things simpler)If so, then where can I find the `<cluster name>`?

2.

Does this config file need to be created? Or is it located somwhere? If so, where?

3.

correct information needed for the specific

[2018-01-24 18:48] mbohlool commented on #58616
Is this on head? or do you have some code change then running update-bazel?

[2018-01-24 18:58] yujuhong commented on #24305
There are other ongoing efforts (tracked by newer issues) to ensure tests are portable across runtimes. Closing this.

[2018-01-24 18:58] #24305 closed

[2018-01-24 19:10] dghubble commented on #43784
I sympathize with the kops point. Neither of these options seem particularly safe. Enabling insecure port isn't viable and anon seems to have its own subtleties and risks for mistakes. https://gist.github.com/erictune/9dc7ae4b22505b9a8c20ad9cd03a45cc

[2018-01-24 19:22] yujuhong commented on #55905
I don't want to get into the argument of what's core and the difference between core and Summary API, so I'll set that aside :-)
kubelet still needs this to enforce disk policy and eviction.

[2018-01-24 19:24] ankitgoelcmu commented on #29307
Is this fixed yet. I am also facing the same issue

[2018-01-24 19:25] tgraf commented on #58624
Yes, this is exactly the purpose of this issue. In my opinion, Kubernetes either includes L7 or policy becomes obsolete in Kubernetes. I doubt that users will want to duplicate allowed service to service connectivity and port numbering information across two different systems.

The assumption is definitely to cover the most common protocols. I think this is not much different than what happened to

[2018-01-24 19:39] CodeJjang commented on #58703
Indeed updating the kubectl version fixed it. Closing, thanks.

[2018-01-24 19:40] #58703 closed

[2018-01-24 19:41] tallclair commented on #58083
From sig-auth discussion:

Graduating to V1 should require:
1) Restore audit in the scalability tests (already planned for 1.10)
2) A story for how other components are expected to integrate into the audit system.

For (2), the idea is that going to V1 puts the burden of integration on new features (as opposed to audit developers), but first they need the necessary hooks to integrate. I think the

[2018-01-24 20:12] php-coder commented on #58616
@mbohlool it was on 3258431 commit but I believe nothing changed since then.

[2018-01-24 20:32] adnavare commented on #58238
Hi @radu-matei : are we removing that broken link? If you want i can work on this issue?

[2018-01-24 20:41] pmichali opened #58766 "IPv6: Pod net CIDR size calculated is invalid"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
For IPv6, the node CIDR size is hard coded to /64. This causes an error bringing up the kube-controller, as the size must be for a smaller subnet (larger value) that what is used for the pod subnet, which is specified for some CNI plugins (e.g. Calico).

In addition, this is a catch-22, as the pod subnet prefix cannot be

[2018-01-24 20:44] pmichali commented on #58766
/assign pmichali

[2018-01-24 20:58] daniel-kun commented on #51764
I'm seeing this issue with k8s 1.9.1 on a Raspberry Pi 3, too. Deleting one of the deployments spits out "timed out waiting for the condition", and the deployment is still there.

On this cluster, I experience that the apiserver vanishes from time to time - I have to systemctl restart kubelet in those cases to get it up again. Maybe it's related.

The cluster was initialized with kubeadm (v1.9.1,

[2018-01-24 21:15] #58761 closed

[2018-01-24 21:18] euank commented on #29213
socat is included in the base image for recent versions of Container Linux, and that cluster folder is going away at some point (hopefully soon)

/close

[2018-01-24 21:18] #29213 closed

[2018-01-24 21:20] khenidak opened #58770 "Azure - Cloud Provider / ARM Calls"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The cloud provider specifically in response to service sync loop produce a large # of GET calls against ```.../providers/network/loadbalancer``` and ```../providers/network/networkSecurityGroups```. This does not affect smaller clusters but does affect larger clusters as it quickly burn through [ARM calls quota limits](ht

[2018-01-24 21:21] khenidak commented on #58770
@kubernetes/sig-azure-misc

[2018-01-24 21:29] jingxu97 commented on #58635
@yujuhong @bsalamat and @dchen1107 I updated the proposal based on the feedback. PTAL Thanks!

[2018-01-24 21:30] mbohlool commented on #58616
that commit is not merged? or forced push upon? I can't check it out in my local git. What I am trying to do is to reproduce this. Is there any branch/repo I can reproduce this on?

[2018-01-24 21:33] php-coder commented on #58616
Yes, it's possible.

The key here isn't in code but in the environment:

[code]

Try to create a directory with k8s sources outside of the `$GOPTH` (symbolic link should be enough).

[2018-01-24 21:44] mbohlool commented on #58616
I think all generators assume a path structure for kubernetes that should be $GOPATH/src/k8s.io/kubernetes. Do we need to support code outside of this path?

[2018-01-24 21:46] mbohlool commented on #58616
OK. I get it now, so you are saying we should improve error reporting here :)

[2018-01-24 21:48] jingxu97 commented on #58630
@php-coder Sorry this is a mistake. Close this issue.

[2018-01-24 21:48] #58630 closed

[2018-01-24 21:54] timothysc commented on #7528
EL7.4 - kernel(s) are the lower bound.

[2018-01-24 22:21] piosz commented on #56854
Thanks @serathius

[2018-01-24 22:21] #56854 closed

[2018-01-24 22:34] rvkubiak commented on #58012
I haven't started yet, but if you have spare cycles you can probably make some progress.  I don't have a doc yet, but the idea is that we create Google Container Builder (https://cloud.google.com/container-builder/) configs that can build each addon.  Once we have the builds working in GCB then we can setup build triggers, although we haven't yet proposed what we want to trigger on to generate new

[2018-01-24 23:05] k82cn commented on #58406
No sure the discussion history :); personally, prefer to deprecate `Unschedulable` and replace it with taint.

[2018-01-24 23:09] smarterclayton commented on #58112
I think the implications of this are too wide reaching.  I agree that it's a good thing to do.  I don't think breaking anyone using this today is acceptable.

[2018-01-24 23:10] smarterclayton commented on #58112
Do we need more reasons for people to hate sig/api-machinery?

[2018-01-24 23:12] smarterclayton commented on #58112
A more measured change might be to make this no longer an integer by adding a character prefix in front of it.

[2018-01-24 23:21] yastij commented on #58406
@k82cn - same here, the goal would be to deprecate its usage, start checking taints everywhere unschedulable is used. Also, as long as we as we have v1, we might have to keep checking for both.

[2018-01-24 23:25] yastij commented on #58635
@jingxu97 @yujuhong  +1 the way to go is taint, as work is being done to move our internal logic to taints instead of condition.

Also Looping @augabet @EtienneCoutaud

[2018-01-24 23:32] adnavare commented on #58619
Is this a expected behavior and known and only documentation needs to be updated? Or is it a bug and needs code rework?

[2018-01-24 23:35] RochesterinNYC commented on #33777
I might be seeing this as well (on GKE):

I have a deployment with:
[code]

trying to deploy to a cluster that has 3 nodes with `15.89 CPU` allocatable and `57.65 GB` memory allocatable but getting `Insufficient cpu (3), Insufficient memory (6)` for scheduling.

Doing stuff like bumping the second container down to:

[code]
results in the same scheduling issue.

[2018-01-24 23:46] khenidak opened #58776 "Controller --service-sync-period is not respected"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The service sync loop is too aggressive and does not respect ```--service-sync-period``` as documented here https://kubernetes.io/docs/reference/generated/kube-controller-manager/ nor does it default to 5 mins. Calls are spawn off immediately to cloud provider's ```EnsureLoadBalancer()```

**What you expected to happen**:

[2018-01-24 23:49] k82cn commented on #58406
great, there's same subtask in my mind:

1. add deprecated description to `Unschedulable`
2. define the taint for `Unschedulable`
3. update `kubectl cordon/uncordon` command
4. replace `Unschedulable` with taint
5. maybe others ??

[2018-01-24 23:52] vladimirvivien commented on #58632
@linyouchong access modes is a feature that still being debated... There's no clear mapping right now between k8s access mode and its meaning in CSI.

cc @saad-ali

[2018-01-24 23:59] vladimirvivien commented on #58628
@Lion-Wei Ok.  There are several common functions that could be relocated in a file `pkg/volume/csi/csi_util.go`.  Some functions are common and not meant to be re-used and so should not move. Let me know if that makes sense.

[2018-01-25 00:00] caesarxuchao opened #58778 "User should be able to update `metadata.generation` field of a custom resource"
User cannot update the generation field by themselves, because the apiserver clears the change in [BeforeUpdate](https://github.com/kubernetes/kubernetes/blob/40212c17cdf4d7bc2a45c495cf0d37ebab032578/staging/src/k8s.io/apiserver/pkg/registry/rest/update.go#L103). This makes sense for native objects, because it would have confused controllers if user were allowed to change generation freely. The ku

[2018-01-25 00:02] caesarxuchao commented on #58778
Relaying @erictune 's suggestion in an email:
[code]

[2018-01-25 00:05] lavalamp commented on #58112
Why not both? :)

I want to at least get this out behind a flag so people can test whether they are doing it wrong.

[2018-01-25 00:11] liggitt commented on #58112
If it's about testing or putting friction in the mindless "atoi(resourceVersion)" path to make it clear to clients parsing resource versions they are doing a Bad Unsupported Thing (TM), a simple alpha prefix accomplishes that without any of this complexity.

Anything we do must absolutely be behind a gate and off by default for at least a release for HA skew reasons.

[2018-01-25 00:13] divyenpatel commented on #58747
@jsafrane issue regarding `client can not list nodes` is getting fixed with creating `ClusterRole` and binding with `vsphere-cloud-provider` ServiceAccount.

See https://github.com/kubernetes/kubernetes/issues/57279#issuecomment-359607201

@jsafrane is there a way in kubernetes, we can fix this without assigning permissions to  `vsphere-cloud-provider` serviceaccount?

We will look into SetInforme

[2018-01-25 00:18] dankohn commented on #7528
@timothysc RHEL 7.4 uses the 3.10 kernel.

https://access.redhat.com/articles/3078#RHEL7

[2018-01-25 00:19] yguo0905 opened #58779 "webhooks: use SSH tunnels iff the webhook is not directly routable from apiserver's network environment"
We are getting the following error when the apiserver connects the webhook on localhost (configured via URL). We should only use the SSL tunnel for the connections to nodes when the webhooks are running as services.

[code]

/sig api-machinery
/kind bug
/assign @yguo0905

[2018-01-25 00:27] psyhomb commented on #45746
Is there anything new on this, cause I have same issue on my side?

[2018-01-25 00:28] bsalamat commented on #57471
The design doc how to handle preemption for DaemonSet Pods is available [here](https://docs.google.com/document/d/1v7hsusMaeImQrOagktQb40ePbK6Jxp1hzgFB9OZa_ew). The document includes tasks and their release target.

[2018-01-25 00:28] mml commented on #27744
/remove-lifecycle rotten

On Wed, Jan 24, 2018 at 3:49 PM, fejta-bot <notifications@github.com> wrote:

[2018-01-25 00:37] verult commented on #44370
Like @msau42 mentioned, is the storage class created and set to default before the PVC is created? @IlyaSemenov I tried your helm chart, and if I create a PVC before installing the chart, the storage class is created only after the PVC exists.

I wasn't able to reproduce the issue otherwise using nfs-provisioner. @IlyaSemenov @aliasmee what are your repro steps?

[2018-01-25 00:38] #56527 closed

[2018-01-25 00:39] resouer commented on #57773
I totally understand what you are asking.

But I would suggest you don't try to require API change of node in sig-node, but try to ask exporting this information from kube-scheduler.

Because it is scheduler that maintains this information by a internal data structure named `nodeInfo`, if register part of its info into kube-scheduler's metric, you'll be set.

[2018-01-25 00:42] resouer commented on #57773
Feel free to ping me if you agree to close this one and create a new issue in sig-scheduling. I can help with that.

[2018-01-25 00:44] gopinatht commented on #1685
Hey Guys, I see this issue frozen but is there any news on being able to bulk watch multiple resources?

[2018-01-25 00:57] piosz commented on #5618
/close
obsolete

[2018-01-25 00:57] #5618 closed

[2018-01-25 01:04] feiskyer commented on #58759
@r7vme This is expected behavior on Azure. On each nodes, there will a DNAT rule for each publicIP:svcPort, e.g.

[code]

[2018-01-25 01:09] piosz commented on #29739
@MaciekPytel to triage

[2018-01-25 01:15] liggitt commented on #58778
I'd prefer to keep this unmodifiable until we have the spec/status bits available. Components rely on fields within metadata to follow uniform system-enforced behavior and should not have to be concerned that an object is a CRD and its generation is allowed to behave in unexpected ways

[2018-01-25 01:17] liggitt commented on #58747
cloud provider specific roles should be applied externally as we prepare for moving cloud provider specific components out of tree.

@deads2k had feedback on the way that was wired in that would be good to adjust before copying that pattern

[2018-01-25 01:18] vishh commented on #53533
I'd be open to considering adopting zswap if someone can evaluate the implications to memory evictions in kubelet.

[2018-01-25 01:21] piosz commented on #32326
/remove-lifecycle rotten

[2018-01-25 01:22] piosz commented on #32326
cc @dchen1107

[2018-01-25 01:27] piosz commented on #36360
/close

[2018-01-25 01:27] #36360 closed

[2018-01-25 01:29] piosz commented on #23195
https://kubernetes.io/docs/tasks/debug-application-cluster/logging-stackdriver/
Changing fluentd parameters

[2018-01-25 01:29] #23195 closed

[2018-01-25 01:31] piosz commented on #25547
/close

[2018-01-25 01:31] #25547 closed

[2018-01-25 01:32] piosz commented on #21425
@MaciekPytel for triage

[2018-01-25 01:33] msau42 commented on #58569
Sorry I've been busy this week. I will think about this next week.

[2018-01-25 01:39] m1093782566 commented on #53433
Thanks @liggitt and I have figured it out.

[2018-01-25 01:41] #57964 closed

[2018-01-25 01:47] liggitt commented on #57424
* Should probably drop the alpha from the annotations and include in well known annotations constants
* Also need to update the admission plugin config to read from a versioned config object

[2018-01-25 01:48] liggitt commented on #53433
Watching nodes is expensive… do we plan to have kube-proxy on every node watch nodes?

[2018-01-25 01:53] m1093782566 commented on #53433
I agree watching node is expensive. But, I just have no better idea... To clarify, I mean kube-proxy watch its own node just like what we did for kubelet so that the cost is reduced?

[2018-01-25 01:56] piosz commented on #56226
@thockin even through apiserver (kube?) aggregator?

[2018-01-25 01:59] MrHohn opened #58785 "Remove version suffix from cluster addon name"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement
/sig cluster-lifecycle

**What happened**:
There are couple cluster addons that use name in format `*-<version>`:
- Metric server deployment:
https://github.com/kubernetes/kubernetes/blob/de694a8aa69e3138c3915c1518c548e96e73561c/cluster/addons/metrics-server/metrics-server-deployment.yaml#L26
- Heapster deployment:
https://github.com/

[2018-01-25 02:04] stewart-yu commented on #58785
/assign

[2018-01-25 02:07] wackxu commented on #57424
@liggitt I can help do it. Can you take a look at https://github.com/kubernetes/kubernetes/issues/58198

[2018-01-25 02:09] xingzhou opened #58786 "Add "ExpandFS" interface to "ExpandableVolumePlugin""
Per discussion in ["Growing FlexVolume Size"](https://docs.google.com/document/d/1dwom9xQ3Fg5F_jJrybr0slp-QsO3_CKiisxzNRoMhec/edit) proposal, we thought that it would be good to add a new interface named `ExpandFS` to `ExpandableVolumePlugin`. `ExpandFS` will be called when file system resizing is required (offline or online resizing in the future), and this call will let underneath volume plugin

[2018-01-25 02:28] Random-Liu commented on #55905
Some clarification:

* For option 2. It's not possible to that "kubelet can inform cadvisor to monitor the the subdirectory to collect container stats". Today Kubelet is talking to cadvisor via cadvisor API, and cadvisor API doesn't support any configuration. It means that if we go with option 2, different container runtime still need to integrate with cadvisor, and let cadvisor provide container

[2018-01-25 02:32] stewart-yu commented on #48843
does two task can do head? @dashpole
[code]
if can , i glad to do that.

[2018-01-25 02:47] zhangxiaoyu-zidif opened #58788 "After update docker, the pod lose mounted glusterfs volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
1. create a rc, and its pod mounted a glusterfs volume by PV and PVC;
2. update docker and do not restart container with ` live-restore: true`
3. the container and pod are normal, but the glusterfs volume can not be accessed any more from container. but the glusterfs volume is normal.
4. restarting pod could resolve this p

[2018-01-25 02:48] zhangxiaoyu-zidif commented on #58788
/sig storage
/sig node

[2018-01-25 02:48] zhangxiaoyu-zidif commented on #58788
/cc @YuxiJin-tobeyjin  @yuexiao-wang

[2018-01-25 02:49] zhangxiaoyu-zidif commented on #58788
/cc @jsafrane

[2018-01-25 02:51] jiaxuanzhou commented on #57773
@resouer Harry, i considered that before, if we collect the metrics from scheduler, we can not export the total objs of the pods related with nodes, as there is no available api to get the pods objs from scheduler;  if just want to add metrics in prometheus interface, only total requested resource of the cluster could be calculated and export to prometheus counter.
 i still wish the metric of the

[2018-01-25 02:54] colemickens commented on #57424
Hey @wackxu I'm working on this right now. Just a heads up.

[2018-01-25 02:57] rhatdan commented on #54487
Can you attach the AVC's you see on the node when you run this?

ausearch -m avc -ts recent

[2018-01-25 03:07] wackxu commented on #57424
Also need to update the admission plugin config to read from a versioned config object

@colemickens Hi, The second I have done almost half work, Can I continue on the second and the first you can continue working on.

[2018-01-25 03:41] wojtek-t commented on #1685
https://github.com/kubernetes/kubernetes/pull/57792

[2018-01-25 03:55] colemickens commented on #57424
Sounds great. Thanks @wackxu!

[2018-01-25 04:07] feiskyer commented on #58770
@khenidak Also noticed the problem when I'm scaling a lot of nodes. Will add a cache for LB and NSG next week.

[2018-01-25 04:27] mikedanese opened #58790 "Implement TokenRequest"
/sig auth

Implement this proposal: https://github.com/kubernetes/community/pull/1460

Most of the pieces made it in to 1.10 under the TokenRequest feature flag which is currently alpha. Notably missing are:
- Changes to TokenRequest to support non-apiserver audiences
- The JWK url endpoint

Before beta:
- [x] resolve https://github.com/kubernetes/kubernetes/pull/55019#discussion_r170391801
- [x]

[2018-01-25 04:44] mappedinn opened #58792 "How to get the DNS name of a service in google cloud platform?"
Hi,

In this repository [https://github.com/mappedinn/kubernetes-nfs-volume-on-gke](https://github.com/mappedinn/kubernetes-nfs-volume-on-gke) I am trying to share a volume through NFS service on GKE. The NFS file sharing is successful if hard coded IP address is used.

But, in my point of view, it would be better to use DNS name in stead of hard coded IP address.

Below is the declaration of the

[2018-01-25 05:18] davidhao3300 opened #58793 "kubectl apply does not properly minimize patch when using JSON merge patch"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug Report
/kind bug

**What happened**: Assume a CustomResource
original:
[code]
current:
[code]
modified:
[code]

original add-and-change patch current -> modified
[code]
filtered add-and-change patch (non-nulls only)
Note that at this point, the patch could have been optimized to `{}`
[code]

original deleted patch between original -> modified
[code

[2018-01-25 05:25] davidhao3300 commented on #58793
@kubernetes/sig-api-machinery-bugs
the oroblematic behavior exists in the apimachinery folder

[2018-01-25 05:39] xingzhou commented on #58272
This is because by [this fixed interval](https://github.com/kubernetes/kubernetes/blob/99fb21f61fc0e6c1fffc0d4b5138665806eadce6/pkg/kubelet/volumemanager/volume_manager.go#L60) that DSW populator will loop all the pods and check the unprocessed volumes. In terms of log, I think it should be ok, as log should record the actual tracking of the code execution, but for event, I'm thinking it is too of

[2018-01-25 05:45] liggitt commented on #58793
Not to detract from the reported issue, but expecting users to use apply without giving them patch permissions doesn’t really make sense.

[2018-01-25 06:15] davidhao3300 commented on #58793
right - to clarify, we have a repo filled with managed config files. When someone updates the repo, we apply all the config files in the repo (automated), but we don't want certain people changing certain objects of the repo.

[2018-01-25 06:17] davidhao3300 commented on #58793
Thus, even if unprivileged people don't change restricted resources, the apply command will fail overall because we unnecessarily attempt to patch a restricted resource that hasn't changed

[2018-01-25 06:30] resouer commented on #57773
Of course you can ...  Please take a look at `NodeInfo` data structure as I mentioned above: https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/schedulercache/node_info.go#L39 It definitely contains everything you want, and again, kubelet does not even care about `resources.request` , it's a 100% scheduler knowledge.

The issue need to be discussed will the metrics expected to be e

[2018-01-25 06:31] ConnorDoyle opened #58795 "Rename package deviceplugin to devicemanager for consistency."
/kind cleanup
/sig node

[2018-01-25 06:56] dineshsckloud9 opened #58796 "cluster autoscaling not working on multizone.. scaling up only in first zone?"
**Wants to confirm Bug or Issue in configuration**:

Trying to create multizone cluster with autoscaling. I am able to create multizone cluster and second managed instance group instance added to the master and works fine until that.

When load increases kube-control-manager spinning up nodes only in first zone, it is not multizone autoscaling, it seems...

What could be the issue? Is this a bug?

[2018-01-25 07:26] dineshsckloud9 commented on #58796
For second node kube-control-manager is saying no node group config

I0125 07:22:04.001560       5 static_autoscaler.go:280] Calculating unneeded nodes
I0125 07:22:04.205565       5 utils.go:398] Skipping kubernetes-minion-group-scg7 - no node group config
I0125 07:22:04.205606       5 utils.go:407] Skipping kubernetes-minion-group-1cxd - node group min size reached

[2018-01-25 07:38] dixudx commented on #58695
/assign

[2018-01-25 07:52] mwielgus commented on #58796
cc: @bskiba @wojtek-t

[2018-01-25 08:10] resouer opened #58797 "Revisit invalidation of volume related predicate in equivalence class"
**What happened**:

When cleanup the existing equivalence class code. I noticed there may be duplication in handlers of Pod, PV, PVC change.

For now we will invalidate volume related predicates for all nodes on PV  and  PVC add.

Can we assume that volumes will only be attached to Node during Pod add? So we can just deal with those predicates on Pod add/delete. Don't need to bother PV/PVC at all.

[2018-01-25 08:31] mappedinn commented on #58792
@kubernetes/sig-network-bug @kubernetes/sig-gcp-bug

[2018-01-25 08:37] yastij commented on #58406
@k82cn - yup, but for 4 it is more something like check taints wherever we checn for unschedulablr, since we cannot just replace `node.Spec.Unschedulable` until v1 is gone.

[2018-01-25 08:45] zhangxiaoyu-zidif commented on #58788
[code]

[2018-01-25 08:47] Baschdl commented on #45819
/remove-lifecycle rotten

[2018-01-25 08:47] zhangxiaoyu-zidif commented on #58788
the log show that we could not find the ep, but in fact the ep is still there, I think I find the reason. it may relate to service and endpoint. we create endpoint without service. so the error message is misunderstanding.
/cc @MrHohn

[2018-01-25 08:55] #58795 closed

[2018-01-25 09:04] zhangxiaoyu-zidif commented on #58788
https://github.com/kubernetes/kubernetes/blob/dd272ea3fd04d41fc95572572a19bf704ab7b062/pkg/volume/glusterfs/glusterfs.go#L154
this code check the service not the endpoint.

[2018-01-25 09:07] r7vme commented on #58759
Thanks, @feiskyer . I got it working, we did not open AzureLoadBalancer traffic initially.

two things:
1) why to expose nodeport (32451) then?
2) ok, if k8s use port 80 on node, why k8s still healthchecks port 32451?

[2018-01-25 09:15] zhangxiaoyu-zidif commented on #58788
https://github.com/kubernetes/kubernetes/blob/dd272ea3fd04d41fc95572572a19bf704ab7b062/staging/src/k8s.io/client-go/rest/request.go#L630

this code show that namespaces is not existed, but it really exists.

[2018-01-25 09:16] k82cn commented on #58406
@yastij , my major point is to handle it task by task to make sure we did not miss anything :).

[2018-01-25 09:19] yastij commented on #58406
yes we definitely should

[2018-01-25 09:21] huangjiasingle opened #58801 "deployment rollingupdate create new rs too late"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**What happened**:
when l rollingupdate the deployment , the DeploymentStrategyType is RollingUpdate, the new rs created after the old rs's pod was marked deleted  16 minute .
the event like this :
[code]

in the controller's log , l found the new rs create in the 36m ago, in the apiserver's log , l can't find any new rs's created info .

*

[2018-01-25 09:25] huangjiasingle commented on #58801
@kubernetes/sig-Autoscaling

[2018-01-25 09:26] huangjiasingle commented on #58801
@kubernetes/sig-Autoscaling-bugs

[2018-01-25 09:28] huangjiasingle commented on #36117
@kargakis l open a new issue https://github.com/kubernetes/kubernetes/issues/58801, l found the deploy-controller create the new rs too late ,so l think the new rs doesn't created before

[2018-01-25 09:33] huangjiasingle commented on #58801
@freeformz @brosner @gnufied @ncdc can you help me to analysis this ?

[2018-01-25 09:55] been2io opened #58803 "containers don't remove from node,after it deleted from server"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**: In k8s v1.7.2 ,Pods already deleted from server,but the container is still running in node.You can't delete it by docker rm,it will recreate and no error in kubelet log.the container will remove after u reboot the machine.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**

[2018-01-25 09:58] simsimon commented on #50122
We got the exact same issue.
We have pods which are not removed and stay in terminating status:
[code]

When we describe them we see following output:
[code]
We can try to delete it, no error message, but the pod will still be there:
[code]
When we try to attach to it, like logging:
[code]

[2018-01-25 10:24] mkumatag commented on #43556
/close will open another issue if we hit this issue again.

[2018-01-25 10:24] mkumatag commented on #43556
/close

[2018-01-25 10:24] #43556 closed

[2018-01-25 10:34] jsafrane commented on #58747
@divyenpatel, thanks for the pointer to old issue.

I reworked this one to remove vsphere's own client (and policy).

[2018-01-25 10:37] tiukhtinvladimir opened #58805 "kube-scheduler doesn not have --write-config-to option"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We face
[code]
But there is no way to generate default config file

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environment**:
- Kubernetes version 1.9.2

[2018-01-25 10:42] pospispa commented on #58272
I agree with 1 msg to people.

Well, the DSW populator checks the unprocessed volumes several times per second. Would it be better to check them less frequently? An error that may occur can be basically permanent, e.g. in case PVC Protection is enabled and [a pod is using PVC that is being deleted](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/volumemanager/populator/desired_sta

[2018-01-25 10:43] stewart-yu commented on #58805
I'll take a look it

[2018-01-25 10:58] JordanP commented on #29292
I am also looking into something similar. I am running on GKE, I mainly uses daemonset and used the managed instances groups autoscaler to scale horizontally my GKE cluster. I'd like somehow my pod or my node to get informed when the MIG is going to "kill me" because of a scaledown event.

[2018-01-25 11:01] MaciekPytel commented on #21425
I probably won't be able to properly look into this before 1.10, but this is something that should be addressed and I'm planning to get to it as soon as we close features for 1.10.

/remove-lifecycle rotten

[2018-01-25 11:03] klausenbusk commented on #54965
I assume this is the expected behavior? `bootkube` [need](https://github.com/kubernetes-incubator/bootkube/issues/453) the hostIP when starting `kube-apiserver` as a [pod](https://github.com/kubernetes-incubator/bootkube/blob/master/pkg/asset/internal/templates.go#L151) (`--advertise-address=podIP`). So right now the only solution seems to be removing `--advertise-address` from `kube-apiserver`, b

[2018-01-25 11:09] CaoShuFeng commented on #56209
Hi:
Api changes to advanced audit:   https://github.com/kubernetes/kubernetes/pull/58806
add rbac info to advanced audit: https://github.com/kubernetes/kubernetes/pull/58807
add psp info to advanced audit : https://github.com/kubernetes/kubernetes/pull/58143
support annotations for admission webhook: https://github.com/kubernetes/kubernetes/pull/58679 (WIP)

[2018-01-25 11:24] am-shahraki opened #58808 "Problem with Kube-apiserver after configuring token auth and ABAC"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I have changed kube-apiserver.yaml to configure  token auth and ABAC
 - --token-auth-file=/etc/kubernetes/pki/auth.csv
    - --authorization-policy-file=/etc/kubernetes/pki/authp.json

I put the files in pki which is mount normally. Now the kube-apiserver cannot run. the log is
...
{"log":"I0125 11:16:03.334976       1 logs.go:41]

[2018-01-25 11:27] bskiba commented on #58796
The problem here is that the kube-up.sh scripts are not set up to work well with multiple zones and Cluster Autoscaler, and we do not plan to add such support.

However, you can tell autoscaler about the node groups in other zones so that it can start to scale them up.
SSH to the master node and take a look at /etc/kubernetes/manifests/cluster-autoscaler.manifest
It contains a parameter --nodes=<m

[2018-01-25 11:47] soltysh commented on #43214
@janetkuo @enisoc @kow3ns I've noticed we still keep internal extensions versions for deployments, replicasets and daemonsets. The same applies for storage version, iow. we store them using the `extensions/v1beta1`. Both of these should move, internals to apps, and storage version to use `apps/v1` accordingly. Does any of you have that planned, I think it's reasonable to address it in 1.10 and sta

[2018-01-25 12:14] klausenbusk commented on #24317
Is there any issue tracking this? At the momemt there seems to be no way, to limit the amount of pod k8s schedule to a node with X volumeType (ex a flexvolume plugin).

Right now I use a flexplugin to use [DigitalOcean Block Storage](https://www.digitalocean.com/products/storage/) as volume (with help from a [dynamic provisioner](https://github.com/kubernetes-incubator/external-storage/tree/master

[2018-01-25 12:18] gmile opened #58811 "Feature request: Support renaming PVC"
/kind feature

**What happened**:
After deleting a StatefulSet, it's not possible to rename a dynamically created PVC.

**What you expected to happen**:
After deleting a StatefulSet, it is possible to rename a dynamically created PVC.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a StatefulSet with one replica,
2. Make some state, e.g. write some data to disk, from

[2018-01-25 12:18] dineshsckloud9 commented on #58796
In my case i tried adding flag --nodes=:: 2 times and its not scaling at all.. Even in first zone its not scaling

[2018-01-25 12:31] wittlesouth commented on #58588
I agree the report is more suitable for the registry on top of kubernetes project. I found the Kubernetes registry add-on at this GitHub page:

https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/registry

When I clicked on the "issues" link for that page, it took me to the core Kubernetes issue section where I posted this bug. If the bugs for the Kubernetes registry add-on are not

[2018-01-25 12:32] gmile commented on #58811
/sig storage

[2018-01-25 12:34] bskiba commented on #58796
I'm sorry, I've made a mistake in my post, I updated it.

The flag should be following: --nodes={min}:{max}:{MIG link}, where min=minimum number of nodes, max=maximum number of nodes, MIG link is sth like:
https://www.googleapis.com/compute/v1/projects/{project-name}/zones/{mig-zone}/instanceGroupManagers/{mig-name}

[2018-01-25 12:48] k82cn commented on #47318
/lifecycle frozen

[2018-01-25 12:52] huzhengchuan commented on #58678
the question can fix like this
https://kubernetes.io/docs/concepts/services-networking/service/#services-without-selectors

[2018-01-25 12:52] #58678 closed

[2018-01-25 12:56] dineshsckloud9 commented on #58796
Will it work if i give region instead of zone?

https://www.googleapis.com/compute/v1/projects/{project-name}/regions/{REGION}/instanceGroupManagers/{mig-name}

[2018-01-25 12:58] bskiba commented on #58796
Unfortunately no, Kubernetes works with zonal MIGs on GCE

[2018-01-25 12:59] sttts commented on #58778
This comes with @nikhita's https://github.com/kubernetes/kubernetes/pull/55168. I agree with @liggitt that we should get in ASAP instead of thinking about workarounds.

[2018-01-25 13:35] lpabon opened #58813 "kubelet CSI version matching should check only major.minor.X values"
/kind bug

**What happened**:
Kubelet CSI client checks for an exact version match.

**What you expected to happen**:
Kubelet CSI client checks for a Major.Minor.X match. It should not check that the patch level matches.

cc: @saad-ali @vladimirvivien

[2018-01-25 13:35] lpabon commented on #58813
/sig-storage

[2018-01-25 13:40] jsafrane commented on #58788
@humblec, does it ring a bell?

[2018-01-25 13:45] sibtainabbas10 commented on #56610
What was the issue in the `cloud-config`? Can anyone share the correct contents of `cloud-config`?

[2018-01-25 14:02] thewalk commented on #57359
are you saying that the kubelet need to be updated?

[2018-01-25 14:18] szaharici commented on #57359
No, it was just a misconfiguration, all the nodes had a hostname-override pointing to the same node therefore preventing the retrieval of the logs

[2018-01-25 14:38] jhorwit2 commented on #54965
@klausenbusk You can use `--node-ip` flag on the kubelet. That has some limitations though.

[2018-01-25 14:50] tomas-c opened #58814 "Pods recreated without waiting for termination with strategy.type=Recreate"
/kind bug
/sig scheduling
/sig autoscaling

**What happened**:

Created a deployment with strategy.type=Recreate. Deleted a pod created by that deployment. Ran kubectl get pods. See the old pod being terminated and a new one being created.

This is an issue for pods that should only have one running instance.

Also same problem when using RollingUpdate strategy with maxSurge=0 and maxUnavailable=1

[2018-01-25 14:53] tomas-c commented on #58814
@kubernetes/sig-scheduling-bug
@kubernetes/sig-autoscaling-bug

[2018-01-25 14:53] jberkus commented on #39892
I'm not sure which SIG would own a Planet.  I'll ask.

[2018-01-25 15:11] fabiand commented on #39892
- [ ] Place to put the aggregator (planetplanet)
- [ ] Support on making up the right theme
- [ ] Repo to keep the sources
- [ ] Decide on how the list of feeds is maintained (repo?)

I think that's about it

[2018-01-25 15:12] idvoretskyi commented on #39892
cc @thockin

[2018-01-25 15:17] munnerz commented on #53109
FYI, as of #54660 it is now possible to tweak the ListOptions used by a SharedInformerFactory in order to watch uninitialized objects. This would be a factory-wide tweak however, meaning all controllers in kube-controller-manager would need to handle uninitialized objects cleanly.

[2018-01-25 15:21] sttts commented on #54698
@soltysh you did something with RoundTripSpecificKindWithoutProtobuf and deepcopy recently. Do you have a link?

[2018-01-25 15:23] munnerz commented on #58792
I think this is because the kubernetes nodes in GKE are not configured to use kube-dns to resolve DNS queries (only the containers created on that node are).

There's not really a clean way around this, so I'd say your best bet is to set a static clusterIP in your nfs-server service:

[code]

and then set up a DNS A record to resolve to `10.247.248.43` and use that.

[2018-01-25 15:31] jberkus commented on #39892
Well, the big thing is that we need a SIG or WG to be responsible for post policy and what feeds are in the planet.

[2018-01-25 15:32] rphillips commented on #58012
Thanks for the update... Does GCB have multiarch support (amd64, arm, arm64, ppc64le, s390x)? The current base images are built for those architectures using qemu.

[2018-01-25 15:32] idvoretskyi commented on #39892
I hope, CNCF may support this from the marketing side.

cc @dankohn

[2018-01-25 15:42] ncdc commented on #54318
@guangxuli sorry for the delayed response - I've been battling the flu.

We need to decide where to put it. Something like `pkg/configapi` maybe? I'm also wondering about how we deal with conversions between api versions for the actual config apis like kubeproxy. If we do this, ideally we'd just have a single package that has the common structs, and that could be referenced by both the internal an

[2018-01-25 15:51] mxey commented on #39823
The PR that was merged solved the issue for pods inside clusterCIDR. But it doesn't handle hostNetwork pods that use the node IP, like when you want to expose the API server as a load-balanced service externally.

I'm not sure why the “kubernetes forwarding conntrack pod source rule” has to be limited to the pod CIDR, since --ctstate RELATED,ESTABLISHED should already ensure it does not allow traf

[2018-01-25 15:52] liggitt commented on #58642
fix merged, will monitor https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/

[2018-01-25 15:53] errordeveloper commented on #58609
/sig cluster-lifecycle

[2018-01-25 15:55] errordeveloper commented on #58609
I'd help if you could provide the output of `kubectl get node --output yaml` to start with. This maybe somehow dependent on the configuration of your local network, but we can take a look at that later.

[2018-01-25 16:01] plombardi89 commented on #44165
@adohe did you ever fix this? Still seeing this issue in server 1.7.2 and client 1.8.4

[2018-01-25 16:06] sttts commented on #55435
The problem now is that we essentially support this privileged managed sidecar now as long as you run an insecure environment without restricting PSPs in place. So people deploy Istio and suddenly we cannot tell them to secure their cluster anymore because PSPs are broken. Hence, I have my doubts that we have success with not supporting managed sidecars **and** expect people stop using them, at le

[2018-01-25 16:12] zapman449 commented on #51785
Hello?

[2018-01-25 16:17] sttts commented on #50076
/lifecycle frozen

[2018-01-25 16:20] sttts commented on #42521
I noticed in one of my discovery cache files, that we have a strange order right now: apps, extensions, ...., CRD groups, core/v1.

@liggitt do you refer to this order? I would have expected core/v1 first. Is it a bug?

[2018-01-25 16:23] liggitt commented on #42521
core/v1 is always first, followed by group/version order in `~/.kube/cache/discovery/$host/servergroups.json`

[2018-01-25 16:28] sttts commented on #42521
It should, but: https://gist.github.com/sttts/5e5a087fb8e7afc69c2ceda20257a45d

[code]

And the same for OpenShift: https://gist.github.com/sttts/c62fe2be4fdc1b31449377b9bf6a47d1

[code]

[2018-01-25 16:29] sttts commented on #42521
Or do you mean we have logic in place that fixes the wrong discovery order for core/v1? Then it's fine.

[2018-01-25 16:38] liggitt commented on #42521
looks like we pin "v1" first here:
https://github.com/kubernetes/kubernetes/blob/068e1642f63a1a8c48c16c18510e8854a4f4e7c5/staging/src/k8s.io/client-go/discovery/restmapper.go#L41-L47

for consistency, I'd also expect us to do the same here:
https://github.com/kubernetes/kubernetes/blob/068e1642f63a1a8c48c16c18510e8854a4f4e7c5/staging/src/k8s.io/client-go/discovery/discovery_client.go#L125-L153

[2018-01-25 16:43] carolynvs commented on #44932
I hope it's okay to unmark this as stale?

/remove-lifecycle stale

I'd like to be able to filter using comparison operators such as greater than and less than for Service Catalog. Semver would be amazing but standard comparisons have a lot of value as well. I am interested in trying to flesh this out further, maybe do an implementation.

[2018-01-25 16:44] enisoc commented on #43214
I found a tracker for moving the controller code: https://github.com/kubernetes/kubernetes/issues/55714

I'm not sure if we have one yet for moving the internal and storage versions.

All versions of Deployment, ReplicaSet, StatefulSet, and DaemonSet except apps/v1 are deprecated already as of 1.9. However, we have no concrete plans to remove any of the deprecated versions because there is still a

[2018-01-25 16:53] sttts commented on #44932
/lifecycle frozen

[2018-01-25 16:53] carolynvs commented on #44932
@sttts Thanks! ❤️ I am still learning how to talk to the ci robot.

[2018-01-25 17:01] #44301 closed

[2018-01-25 17:07] yastij commented on #58406
@gmarek - should we define a specific taint for unschedulable ? (i.e what happens when a user uses cordon/uncordon)

[2018-01-25 17:22] errordeveloper commented on #58814
/sig scheduling
/sig apps

[2018-01-25 17:35] ericchiang commented on #58588
Ah. Based on my reading of the docs, the addons directory is deprecated https://kubernetes.io/docs/concepts/cluster-administration/addons/#legacy-add-ons

That registry directory hasn't had much traffic, and there's no OWNERS file either. Maybe issues like https://github.com/moby/moby/issues/33991 would be better?

[2018-01-25 17:40] liggitt commented on #43214
I'd recommend we start disabling deprecated resources from being served by default. That leaves the server able to decode objects stored in extensions/v1beta1, and lets clusters that require the deprecated versions to re-enable them with `--runtime-config`, but will push the ecosystem to stop using the deprecated resources.

[2018-01-25 17:50] liggitt commented on #43214
opened https://github.com/kubernetes/kubernetes/pull/58819 to disable serving extensions/v1beta1 network policy by default (deprecated since 1.7)

[2018-01-25 17:51] pvanderlinden opened #58820 "DiskPressure without a cause"
/kind bug

**Description**:
On some days I keep getting periods where the node has disk pressure according to kubernetes:
- Attempting to reclaim nodefsInodes
- node status is now: NodeHasDiskPressure

But disks are fine on the node:
[code]

**Environment**:
- Kubernetes version (use `kubectl version`): v1.8.5-gke.0
- Cloud provider or hardware configuration: Google Cloud (GKE)
- OS (e.g. from /et

[2018-01-25 17:55] pvanderlinden commented on #58820
@kubernetes/sig-node-bugs
/sig node

[2018-01-25 17:59] roycaihw commented on #51422
@mbohlool The linter in #54887 checks that the JSON field name matches canonical form of the external name. The checking of godoc on external API fields using the camelCase form of the field is also on the plan to be added once we get the API linter framework merged.

[2018-01-25 18:03] nickkeyzer commented on #55618
@chenww we're experiencing the exact symptoms on one of our nodes.
Our deployments are very similar:

- Kubespray
- Kuberentes v1.8.2+coreos.0
- CentOS 7.3
- Flannel

We're even running Prometheus and fluentd as well. Did you ever find a resolution for this issue? We're thinking it could be related to kubelet.

Thanks

[2018-01-25 18:18] poweld opened #58821 "Cannot create a service that selects labels with prefix"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Attempted to create a service with a pod label selector for the label named `statefulset.kubernetes.io/pod-name`. Received the following error in response: `The Service "my-service" is invalid: spec.selector: Invalid value: "statefulset.kubernetes.io/pod-name": a valid label must be an empty string or consist of alphanume

[2018-01-25 18:29] poweld commented on #58821
/sig network

[2018-01-25 18:39] crimsonfaith91 commented on #46250
/close

[2018-01-25 18:39] #46250 closed

[2018-01-25 18:48] maxbbender opened #58822 "DNS working on some workers but not others"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Pods running on a worker node can't resolve DNS (kubernetes.default or google.com) however if they are run on a different worker node in our kub setup it can resolve DNS
**What you expected to happen**:
Regardless of which worker node the pod is deployed to it should be able to resolve DNS

**How to reproduce it (as minim

[2018-01-25 18:51] maxbbender commented on #58822
/sig network

[2018-01-25 18:57] mrunalp commented on #55905
:+1: to option 4. Thanks!

[2018-01-25 19:06] johnweldon commented on #57691
@asridharan can you say which versions you used for both to resolve this?

[2018-01-25 19:08] msau42 commented on #54710
seems to be ok now
/close

[2018-01-25 19:14] MrHohn commented on #58785
@stewart-yu Seems like the robot doesn't allow us to assign, but feel free grab the issue if you like.

But before starting the work, it might be better to see if folks from instrumentation would have other thought.

[2018-01-25 19:15] Ctesias commented on #37471
Same problem using an alias on mac, converted it to a bash function and it worked:

`kshell() {
serverName=$(kubectl get pods | cut -d" " -f1 | grep server)
kubectl exec -it $serverName ash --namespace=<namespace>
}`

[2018-01-25 19:19] yujuhong opened #58823 "CRI: Implement container log rotation"
TL;DR: We want to allow kubelet to rotate the container stdout/stderr logs, and add a CRI call to ask the runtime to reopen the log file.

kubelet decides the log directory structure and passes to the runtime the path where container log should be stored. Given the level of knowledge and control kubelet has, it is currently the best candidate to rotate the logs (vs. runtime or a separate daemon).

[2018-01-25 19:26] MrHohn commented on #58821
@poweld You put a `/` in the label value, which is not allowed. Do you want something like:
[code]

[2018-01-25 19:29] jingxu97 commented on #54108
@mlmhl @mtanino Actually, I think my PR of new design of reconstruct volume can address the issue here https://github.com/kubernetes/kubernetes/pull/58177/files#diff-450e811a4953f760ff1594ede8b2037eL526, right?

[2018-01-25 19:34] MrHohn commented on #58822
From the not working worker logs, seems like kube-dns service is not reachable at all. Is kube-proxy running on that worker node?

Could you define what is a Proxy node?

[2018-01-25 19:35] roberthbailey commented on #27150
What version of the autoscaler are you running (older versions didn't scale evenly across multiple zones)?

@mwielgus

[2018-01-25 19:42] #54710 closed

[2018-01-25 19:43] #58695 closed

[2018-01-25 19:44] mtanino commented on #54108
@jingxu97

I think your volume reconstruction refactor keeps `deviceMountPath` into asw.attachedVolumes but local volumes('rbd', `fc`, `iscsi`) needs `devicePath` in this case.
As you know I proposed a patch which keep `devicePath` into attachedVolume at (https://github.com/kubernetes/kubernetes/pull/54264), but the proposed patch wasn't accepted.

So I think your `new reconstruction proposal` and

[2018-01-25 19:47] tallclair commented on #56209
Thanks for breaking this up, it's much easier to review now.

[2018-01-25 19:52] tallclair commented on #56209
Sorry, meant to close https://github.com/kubernetes/kubernetes/pull/58143.

[2018-01-25 19:54] poweld commented on #58821
Thank you @MrHohn  I'm not sure what I was thinking.

[2018-01-25 19:54] #58821 closed

[2018-01-25 20:13] tatchiuleung opened #58826 "Unable to Dynamic Provision PVC with XFS"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:
Unable to dynamic provision PVC with XFS

**What you expected to happen**:
Successfully attach/mount/allocate PVC with XFS fsType

**How to reproduce it (as minimally and precisely as possible)**:
1. Create storage class
[code]
2. Create PVC
[code]
3. Create Deployment
[code]
4. Deployment created successfully,

[2018-01-25 20:21] soltysh commented on #43214
@enisoc that's fine, but the moratorium is about supporting versions that will be supported in the future. So we need to ensure that stored versions for the aforementioned resources are supported. Iow. we need to move the storage to apps/v1 asap. That's a preliminary step for actual removal of an object. The deprecation should not have happen before that move, so we need to catch up. I'll try to c

[2018-01-25 20:22] tatchiuleung commented on #58826
@kubernetes/sig-storage-experience-bugs

[2018-01-25 20:23] tatchiuleung commented on #58826
@kubernetes/sig-storage-bugs

[2018-01-25 20:25] bgrant0607 commented on #17460
Closing in favor of https://github.com/kubernetes/website/issues/7092

[2018-01-25 20:25] #17460 closed

[2018-01-25 20:29] ianchakeres commented on #58826
@tatchiuleung - is `mkfs.xfs` installed? Kubernetes uses this program to perform the formatting of xfs volumes, and this binary is a part of the `xfsprogs` package.

[2018-01-25 20:46] tatchiuleung commented on #58826
@ianchakeres Yes xfsprogs is already installed on the instance. In fact, on the same instance, I ran mkfs.xfs to format the EBS volume so that I can mount it at /var/lib/docker

[2018-01-25 20:53] dtzar commented on #50062
@khenidak - Scenario 1 worked for me on a 1.9.1 K8s cluster.  Thanks!

[2018-01-25 21:00] mml commented on #54816
I can't reproduce this on master `v1.7.11-gke.1` (using a kubectl from head).

/sig apps
/cc @erictune
/cc @janetkuo
/unassign

[2018-01-25 21:08] steveperry-53 commented on #34401
Adding @ryanmcginnis who works on the GKE docs.

Unless I'm missing something, this is all about default requests and limits set by GKE. Correct me if I'm wrong, but I don't think Kubernetes itself has default request and limits. So any doc that explains this belongs in the [GKE docs](https://cloud.google.com/kubernetes-engine/docs/), not the [Kubernetes docs](https://kubernetes.io/).

[2018-01-25 21:08] DreadPirateShawn commented on #43495
/remove-lifecycle stale

Any update on this? Please advise.

[2018-01-25 21:09] jennybuckley commented on #58642
@cheftako

[2018-01-25 21:10] jennybuckley commented on #58686
@cheftako

[2018-01-25 21:11] viteksafronov commented on #8876
/remove-lifecycle rotten

[2018-01-25 21:13] jennybuckley commented on #58693
/sig networking

[2018-01-25 21:13] jennybuckley commented on #58693
/sig network

[2018-01-25 21:15] jennybuckley commented on #58696
@roycaihw

[2018-01-25 21:18] jennybuckley commented on #58730
/sig network
Does anyone besides kube-proxy use this?

[2018-01-25 21:18] #56604 closed

[2018-01-25 21:21] janetkuo commented on #54816
Copying from the thread https://groups.google.com/forum/#!topic/kubernetes-users/YVmUgktoqtI:

@mattmoor would you paste the full error message? It's crucial for debugging.

[2018-01-25 21:23] janetkuo commented on #57167
The `rollbackTo` field was deprecated, but the rollback behavior is still supported in `kubectl`.

[2018-01-25 21:25] jennybuckley commented on #58793
cc @mbohlool @lavalamp @jpbetz @mengqiy @caesarxuchao
/sig cli

[2018-01-25 21:26] ahmetb commented on #34401
Sounds about right. I saw different limits on different platforms, or even the different versions of GKE. it would be good to confirm first however.

[2018-01-25 21:44] jingxu97 commented on #54108
@mtanino I see. I think updating devicePath proposed at #54264 is actually ok. I will talk to Saad about it. Thanks!

[2018-01-25 21:46] kargakis commented on #43495
@kubernetes/sig-node-bugs

[2018-01-25 21:51] mtanino commented on #54108
@jingxu97
Thank you for taking care of this problem.

[2018-01-25 21:54] asridharan commented on #57691
@johnweldon this is my `glide.yaml`:
[code]
The above dependency worked for me.

[2018-01-25 22:09] ianchakeres commented on #58826
Looks like hypercube is likely missing `mkfs.xfs`.

Related issue: https://github.com/coreos/coreos-kubernetes/issues/467

[2018-01-25 22:09] obriensystems commented on #57528
We are good under 1.9.2 - thank you

[2018-01-25 22:12] bkochendorfer opened #58833 "aws elb integration : recover from elb deletion"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Using the `aws` cloud provider we were able to successfully create an external elb and route external traffic through the ELB. If you then manually delete the ELB the `kube-controller-manager` does not update or create a new ELB. `kubectl get svc -o wide` will still report the missing external elb name.

I discovered thi

[2018-01-25 22:13] ianchakeres commented on #58826
This PR is related: https://github.com/kubernetes/kubernetes/pull/56937

[2018-01-25 22:14] bkochendorfer commented on #58833
/sig aws

[2018-01-25 22:25] EtienneCoutaud commented on #58803
/sig node

[2018-01-25 22:48] davidhao3300 opened #58834 "kubectl apply -o yaml does not output proper yaml when changing multiple objects"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug report

/kind bug

**What happened**: Given the following file:
[code]
returns
[code]
which is not valid yaml (needs a document separator)
**What you expected to happen**: For the output to be a List object containing the 2 ConfigMaps

**How to reproduce it (as minimally and precisely as possible)**: Described above

**Anything else we need to know

[2018-01-25 22:50] davidhao3300 commented on #58834
I do need to confirm whether this is still occurring on master

[2018-01-25 22:54] davidhao3300 opened #58836 "kubectl apply outputs "unchanged" lines, which muddles the output when using -o (yaml|json)"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug Report

/kind bug

**What happened**: Applying a file that has no changes compared to current will output something like `configmap "test" unchanged`, which muddles the output when using `-o yaml`

**What you expected to happen**: Using the -o flag should suppress the unchanged messages in stdout to prevent output from being muddled

**How to repro

[2018-01-25 22:58] klausenbusk commented on #54965
That doesen't seems to change anything, `podIP` is still blank.

[2018-01-25 23:02] khenidak commented on #50062
Please close the issue the. :-)

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: David Tesar <notifications@github.com>
Sent: Thursday, January 25, 2018 12:53:52 PM
To: kubernetes/kubernetes
Cc: Khaled Henidak (Kal); Mention
Subject: Re: [kubernetes/kubernetes] Azure: configure the properties of load balancer endpoint through annotations (#50062)

@khenidak<https:

[2018-01-25 23:11] davidhao3300 commented on #58836
confirmed on latest stable version (1.9.2)
@kubernetes/sig-cli-bugs

[2018-01-25 23:13] davidhao3300 commented on #58834
Confirmed on latest stable version
@kubernetes/sig-cli-bugs

[2018-01-25 23:27] bsalamat commented on #58635
There are some ambiguities here for me. To clarify things and see if my understanding is correct, let's look at different scenarios one at a time (I use node and the underlying VM of the node interchangeably here):
1. Node has network issues and cannot be reached: This is recoverable and I don't think "stopped" would be the right taint for it. It is after all not stopped. It is not responding to n

[2018-01-25 23:34] Random-Liu opened #58837 "ElasticSearch e2e test is red."
https://k8s-testgrid.appspot.com/google-gce#gci-gce-es-logging becomes completely red after https://github.com/kubernetes/kubernetes/pull/58525 is merged.

/cc @monotek @coffeepac

@kubernetes/sig-instrumentation-misc

[2018-01-25 23:38] Random-Liu commented on #58642
@liggitt Thanks! :)

[2018-01-25 23:38] jdumars commented on #50062
Closing, please feel free to re-open if this occurs again.

[2018-01-25 23:38] #50062 closed

[2018-01-25 23:48] jingxu97 commented on #58635
@bsalamat Thanks for your comments. For scenarios 3 and 4, I think there is some confusion.
3. Node is paused (sleep/suspend): actually in this case, since OS is not shutdown, the mounts will still exist, so for our case, we cannot detach volumes, which means we should not taint the node with situation
4. Node is shutdown: when node is shutdown, actually the node is still exist in cloud provider (

[2018-01-25 23:52] MrHohn opened #58839 "[flaky test] kube-proxy migration jobs often fail on ingress resources comparision"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig network
/area test

**What happened**:
kube-proxy migration jobs are flaky since the ingress resource comparison logic was added:
- https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-latest-upgrade-kube-proxy-ds
- https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-latest-downgrade-kube-proxy-ds

An example error as below:
[co

[2018-01-25 23:54] liggitt commented on #58811
Names are a fundamental part of the way the API identifies objects. Renaming an object would chang its identity, and is not supported. Is there an alternate way this use case could be addressed other than renaming?

[2018-01-26 00:11] j0gger commented on #58686
Happy to volunteer

[2018-01-26 00:27] simonxy commented on #48575
I had same problem on OSX with native bash:
[code]
It seems like, the whole thing only works when:

- upgrade bash to ver. 4+, https://coderwall.com/p/dmuxma/upgrade-bash-on-your-mac-os
- install bash-complete@2 from brew, ```brew install bash-completion@2```
- run ```kubectl completion bash > ~/.kube/kubectl_autocompletion```, then source it in ```~/.bash_profile```
[code]
above code snippet is w

[2018-01-26 00:31] bsalamat commented on #58635
@jingxu97 Thanks for clarification. I guess I now understand it better. So, the taint will be applied only to scenario #4 where the node is shutdown, because the node is not deleted from K8s clusters in all cloud providers. This sounds good to me. Maybe, we want to call the taint "shutdown" then?

[2018-01-26 00:51] yujuhong commented on #58635
I've already seen many different operations like "suspend", "pause", "stop", "shelve"...
Regardless what the final name of the taint is, I think it's fair to say that the taint should clearly state that the node should be in the shutdown state (e.g., volumes unmounted), etc.

[2018-01-26 00:51] krmayankk commented on #7451
i am seeing 2000 connections from apiserver to etcd  on a 215 node network. I am also seeing bi directional connection one fro apiserver to etcd which makes sense and i am also seeing a tcp6 connection from etcd to apiserver which doesnt make sense. This is in 1.7.4 .

<img width="889" alt="screen shot 2018-01-25 at 4 49 04 pm" src="https://user-images.githubusercontent.com/16662068/35419952-bca4d

[2018-01-26 01:27] lichuqiang commented on #58823
/cc

[2018-01-26 01:30] nikhita commented on #58778
/assign

[2018-01-26 01:48] guangxuli commented on #54318
@ncdc that's ok, pay attention to your health.

[2018-01-26 02:01] davidhao3300 commented on #58836
I have a solution to this, still waiting on my company to look over the agreement

[2018-01-26 02:06] mikedanese commented on #4957
ref https://github.com/kubernetes/community/pull/1604

[2018-01-26 02:28] jhorwit2 commented on #58613
/area cloudprovider

@dims do you have anymore information on this? I can't reproduce this on existing nodes before the CCM was created or new nodes added to a cluster.

[2018-01-26 02:29] #43783 closed

[2018-01-26 02:29] tjliupeng commented on #58609
@errordeveloper , below is the output of `kubectl get node --output yaml`:
`
apiVersion: v1
items:
- apiVersion: v1
  kind: Node
  metadata:
    annotations:
      flannel.alpha.coreos.com/backend-data: '{"VtepMAC":"12:ec:07:26:03:a3"}'
      flannel.alpha.coreos.com/backend-type: vxlan
      flannel.alpha.coreos.com/kube-subnet-manager: "true"
      flannel.alpha.coreos.com/public-ip: 10.135.80.7

[2018-01-26 02:34] jingax10 opened #58844 "GCE IP Aliases CI is broken"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

https://k8s-testgrid.appspot.com/google-gce#gci-gce-ip-alias is broken since PR #56132 was merged.

By looking into logs, from kube-master-configuration.log

Jan 25 22:45:08.439501 bootstrap-e2e-master configure-helper.sh[1265]: /home/kubernetes/bin/configure-helper.sh: line 1838: NODE_IPAM_MODE: unbound variable

**What

[2018-01-26 02:35] jingax10 commented on #58844
/sig network

[2018-01-26 02:45] euank commented on #39823
I'd argue that any iptables/firewalling for a pod using `hostNetwork` isn't the responsibility of Kubernetes, @mxey.

There's no reasonable way for k8s to actually know what interfaces a host-network container binds to, what ports it listens on, or what expectations it has. The cluster operator should probably be responsible for that networking case.

[2018-01-26 02:46] msau42 commented on #58797
Sorry, I'm really busy this week, but will think about this next week.  Please ping me if I forget.

[2018-01-26 02:53] smarterclayton commented on #7451
It's probably best to open another issue.  Please indicate whether you are using etcd3 schema and the exact version of etcd.  It could be caused by bad pooling settings at a couple of levels, but with http2 in place you shouldn't have more than a handful of connections between api server and etcd.

[2018-01-26 03:07] chenchun opened #58850 "Add InterestedResources as a pod filter based on pods' requested resources to extender config"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

This is helpful to scheduler performance if the extender targets on a small group of pods.

[2018-01-26 03:08] chenchun commented on #58850
/sig scheduling

[2018-01-26 03:32] clivez opened #58853 ""tiller-deploy" pod could not become ready when there was a time jump from a future time to right time after the nodes reboot"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Background:
There is something wrong with the time in one of our systems, when reboot, the time on the nodes jumps to a future time, and after a few minutes, the chrony will change the time to right one.

At the beginning, we faced a node notReady problem, we restarted kubelet service after time changing back, the node b

[2018-01-26 03:45] liggitt commented on #43214
not quite, it's about not removing any types needed to read persisted versions until migration is solved

Agree with this. Opened https://github.com/kubernetes/kubernetes/pull/58854 to do that

[2018-01-26 03:50] colemickens commented on #58686
@dims Are you saying that's what the comment should be updated to, or that part should be removed?

(This is from me reading through this for the first time, and actually demonstrated by the two cases the OP has posted above)

The `--advertise-address` does not, in any case, default to `--bind-address`. It also does not default to `0.0.0.0`. In fact, even if you do specify `0.0.0.0`, the code stil

[2018-01-26 03:54] zhangxiaoyu-zidif commented on #58788
[code]

[2018-01-26 04:00] liggitt opened #58855 "AdmissionWebhook already exists flakes"
Seeing lots of "already exists" failures trying to register mutatingwebhookconfigurations or customresourcedefinitions as part of webhook e2e tests

According to https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=already%20exists&test=AdmissionWebhook this has been consistently happening for a while

just a sampling from today:
https://k8s-gubernator.appspot.com/build/kubern

[2018-01-26 04:03] liggitt commented on #58642
haven't seen this in the 12 hours since the fix merged, was seeing it every 2-3 hours before.

/close

[2018-01-26 04:03] #58642 closed

[2018-01-26 04:07] bgrant0607 commented on #21648
/remove-lifecycle stale

[2018-01-26 04:17] cblecker commented on #44505
@kubernetes/sig-contributor-experience-feature-requests @grodrigues3 @spiffxp @parispittman @Phillels
This might be an important task for the 1.10 cycle.

[2018-01-26 04:23] fejta-bot opened #58856 "Failure cluster [f71707...] failed 107 builds, 7 jobs, and 1 tests over 1 days"
### Failure cluster [f71707e07f87eccb3a58](https://go.k8s.io/triage#f71707e07f87eccb3a58)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    7 jobs failed,    107 builds failed.
Failure stats cover 1 day time range '25 Jan 2018 03:03 UTC' to '26 Jan 2018 03:03 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 7 |

##### Top fa

[2018-01-26 04:31] huangjiasingle commented on #58801
@kubernetes/sig-controller-bugs

[2018-01-26 05:27] clivez commented on #58853
Could it be the same reason with https://github.com/kubernetes/kubernetes/issues/54130 ?

[2018-01-26 05:43] clivez commented on #58853
/sig api-machinery

[2018-01-26 06:57] mengqiy commented on #17237
/remove-lifecycle rotten
/lifecycle frozen

[2018-01-26 07:00] MHBauer commented on #15552
/close

[2018-01-26 07:00] #15552 closed

[2018-01-26 07:06] MHBauer commented on #44005
/lifecycle frozen
being worked on

[2018-01-26 07:47] MartinPyka commented on #25050
/close

[2018-01-26 07:47] #25050 closed

[2018-01-26 07:47] MartinPyka commented on #25050
can be closed

[2018-01-26 08:06] monotek commented on #58837
Pretty sure this is because the needed 2.0.4 image is not yet available in gcr.io. See: https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/fluentd-elasticsearch

[2018-01-26 08:27] dennypenta commented on #49546
It probably happened because of healthchekers had was directed to wrong endpoint.
You have to check it and change if a backend service have error.

[2018-01-26 08:46] mxey commented on #39823
I meant explicitly regarding services where those pods are the endpoints of a service, so Kubernetes does know the address and the port.

[2018-01-26 08:51] vikaschoudhary16 opened #58866 "Support device plugin advertised timeouts"
We need both timeouts:
1. per device plugin timeout -- advertised by device plugins
2. Kubelet's upper bound default timeout: added by PR #58282

- Device plugin registration should be failed if its timeout is more than Kubelet's upper bound.
- If plugin had advertised a within allowed range timeout, its own timeout should be used in the RPC
- If any plugin has not advertised timeout, Kubelet's de

[2018-01-26 08:52] vikaschoudhary16 commented on #58866
/assign

[2018-01-26 09:19] chentao1596 opened #58868 "Daemonset can not create the needed pod when the node has enough resource after the other daemonset delete"
**What happened**:
I create two daemonsets, only one can create the needed pod because of the node's resource is not enough.
I delete the normal one, but the other one still not create the needed pod.

**What you expected to happen**:
I hope the other one can quickly create the needed pod.

**How to reproduce it (as minimally and precisely as possible)**:
My enviroment:
 1 master + 1 node
 two dae

[2018-01-26 09:22] chentao1596 commented on #58868
/cc k82cn

[2018-01-26 09:27] edisonxiang opened #58870 "Support GetLabelsForVolume In OpenStack"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

OpenStack Provider does not implement PVLabeler.GetLabelsForVolume Interface.
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/cloud.go#L213

**What you expected to happen**:

Since ```PersistentVolumeLabelController``` will invoke ```GetLabelsForVolume``` interface
in Cloud-Controller-Manager,

[2018-01-26 09:30] edisonxiang commented on #58870
/sig openstack
/area cloudprovider

[2018-01-26 09:57] dineshsckloud9 opened #58873 "line 958: AUTOSCALER_MIG_CONFIG: unbound variable"

[2018-01-26 10:06] dineshsckloud9 commented on #58796
I'm running cluster-autoscaler v1.1.0 and trying from kubernetes 1.9.2 in GCE

[2018-01-26 10:07] dineshsckloud9 commented on #27150
i'm running cluster-autoscaler     v1.1.0, running on GCE kubernetes 1.9.2

On Fri, Jan 26, 2018 at 1:06 AM, Robert Bailey <notifications@github.com>
wrote:

[2018-01-26 10:20] zhangxiaoyu-zidif commented on #58788
this may be a bug that, why ep was replaced with pv.

[2018-01-26 11:03] raffaelespazzoli commented on #41792
/close

On Jan 25, 2018 11:39 PM, "fejta-bot" <notifications@github.com> wrote:

[2018-01-26 11:03] #41792 closed

[2018-01-26 11:09] losphantom commented on #58059
I got the same problem

[2018-01-26 11:48] dims commented on #58686
@colemickens makes sense. thanks for digging in. (my first thought was that if there was a mismatch between the help text and functionality then we could have just fixed up the help text, but your analysis makes more sense!)

[2018-01-26 11:49] pierreozoux commented on #46230
@hubt could you close the issue please?

[2018-01-26 12:20] k82cn commented on #58868
delete pod or DS?

[2018-01-26 12:20] k82cn commented on #58868
/sig apps

[2018-01-26 12:34] #32432 closed

[2018-01-26 12:55] dineshsckloud9 commented on #27150
How to find the exact version? could you please help me?

I sent you the docker image version

On Fri, Jan 26, 2018 at 3:37 PM, Dinesh SC <dinesh.sc@kloud9.nyc> wrote:

[2018-01-26 13:00] mappedinn commented on #58792
Thank @munnerz for your answer.

I tried many IP addresses, but I am always getting the same error message: **The Service "nfs-server" is invalid: spec.clusterIP: Invalid value: "10.247.248.43": provided IP is not in the valid range**

Any advice? Or any link for a documentation...

[2018-01-26 13:09] #45482 closed

[2018-01-26 13:13] #33747 closed

[2018-01-26 13:27] ktsakalozos commented on #58449
Hi @errordeveloper, there is this old thread https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-sig-cluster-lifecycle/6bDBuem0gQY/k_jF9WfDCgAJ .

But I do not see anyone moving to the new repo https://github.com/kubernetes-providers

[2018-01-26 13:34] mappedinn commented on #58792
With a cluster of version `v1.8.6-gke.0`, the error message became better and I got finally a correct IP address for the service.

For that IP address, I tried to use a DNS A record as follows:

[code]

and for the PersistentVolume, it is defined as follows:

[code]

And actually, the error I am getting is:

**MountVolume.SetUp failed for volume "nfs" : mount failed: exit status 1 Mounting command

[2018-01-26 13:39] munnerz commented on #58792
So you've done the first half of what I suggested (setting a static IP on the service), however you've missed the second half:

[code]

Because it is the *node* that mounts the NFS volume, and because the *node* is not configured to use kube-dns to resolve hostnames, it is unable to resolve `.cluster.local` addresses. You need to configure a DNS entry in an *upstream* (or public) DNS zone to resol

[2018-01-26 13:51] antoineco commented on #54514
/remove-lifecycle stale

[2018-01-26 14:07] StevenACoffman commented on #58837
What makes a new image be generated? Or is it a manual process?

[2018-01-26 14:13] ligustah commented on #33212
We observed a pretty strange issue with service annotations (they would be silently dropped by kubectl, from what I can tell) in two of our clusters (1.7.11), which turned out to be caused by kubectl being updated to 1.9 by brew.
Not really too big of an issue - even though I did cost some time to figure out, but I'd definitely prefer kubectl making it clear to me that it might not work correctly

[2018-01-26 14:26] pekura opened #58875 "Selflink of custom resource objects with Cluster scope is wrong"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I created a custom resource definition with -this is important - scope "Cluster". Then I created an element of that kind. Then I fetched the element and saw that the "metadata.selfLink" attribute had an incorrect value. The path did not contain the custom resource name. Trying to fetch the element using API results in 404 response.

[2018-01-26 14:49] xpoveda opened #58876 "kubernetes cluster, in kubeadm join: [discovery] Failed to request cluster info, will try again getsockopt: connection refused]"
Hi, I have created a kubernetes cluster but the `kubeadm join` returns the error:

[code]

Can you help me?

The port 6443 is listen in master and I don't have enabled the firewall.

[code]

[code]

Thanks so much!!.

Xavier.

Steps
====

Vagrantfile
-----------
[code]
[code]

Docker installation
---------------------
Master and all nodes
[code]

Kubeadm installation
-----------------------
Master

[2018-01-26 15:00] gmarek commented on #58505
I'm not familiar with the Preemption/Priority design, so I don't know where is preemption happening (Node or control plane).

But despite that I wouldn't read what you wrote as inconsistency. Priority takes precedence over QoS when it can. But if some QoS Pods are not allowed to run somewhere it's not an issue with preemption/priority or QoS. It's a separate predicate.

Slight OT, but related to y

[2018-01-26 15:09] gmarek commented on #58406
I'm not sure about having specific Taint for Unschedulable is a good idea. Pretty much any Taint with NoSchedule effect will do (and this is what we should be checking).

[2018-01-26 15:10] gmarek commented on #14111
/remove-lifecycle state
/lifecycle frozen

[2018-01-26 15:10] mappedinn commented on #58792
Could you please tell me which version kubectl are you using?

I solved the problem by just upgrading kubectl of my GKE cluster from the version `1.7.11-gke.1` to `1.8.6-gke.0`.

[code]

Actually, this the final version of yaml files:

[code]

[code]
Anyway, I still interested on how to configure that DNS entry in an upstream DNS zone to get my private IP resolved. So can you please give me more d

[2018-01-26 15:12] pekura commented on #58875
@kubernetes/sig-api-machinery-bugs

[2018-01-26 15:13] pekura commented on #58875
@kubernetes/sig-api-machinery-bugs

[2018-01-26 15:16] gmarek commented on #14111
@yastij - I wrote a bunch of validation logic for Events v2 in the initial PR, but it may be worth revisiting to check if all fields are properly validated, according to kubernetes/community#1659.

[2018-01-26 15:18] vbmade2000 commented on #7204
@dchen1107 Do we still need it ?

[2018-01-26 15:19] xpoveda commented on #58876
/sig bug

[2018-01-26 15:38] DirectXMan12 commented on #58785
I generally agree with this suggestion, although I was under the impression that the issue was with the way the addon reconciler script worked.  Someone more familiar with that should chime in.

[2018-01-26 15:45] mattfarina commented on #47202
@iterion Thanks for the issue and pull request. We discussed it quite a bit over the past week, both in SIG Apps and in SIG Architecture. While the use cases this could be useful for make sense we also had to discuss the downsides. For example, every compliant Kubernetes distribution would need to have a timezone database and keep it up to date. Timezones, daylight savings time, and the details of

[2018-01-26 16:09] lostick commented on #32987
Can confirm, if you wait some time if you be applied.

[2018-01-26 16:11] bgrant0607 commented on #22680
/remove-lifecycle stale

[2018-01-26 16:14] bgrant0607 commented on #55435
@sttts I believe in sidecars -- that's one of the main motivations for why pods exist.

So, the need in the Istio case is NET_ADMIN for Istio (so it can muck with iptables), but not for the application container?

[2018-01-26 16:16] gnufied opened #58881 "k8s.io/kubernetes/test/integration/scheduler TestAllocatable flaking"
The aformentioned test case has been flaking for a while with following error:

[code]

[2018-01-26 16:16] gnufied commented on #58881
/sig testing
/sig scheduling

[2018-01-26 16:23] #34732 closed

[2018-01-26 16:32] kesor commented on #3595
There are plenty more arguments why this is required at https://github.com/moby/moby/issues/4717 and merged in https://github.com/moby/moby/pull/9437; All that K8s should do is allow to pass these arguments to the container it runs. Why is there even discussion here concerning about cgroups support? That has been resolved on the container level. All you has to do is allow to pass the extra argumen

[2018-01-26 16:34] maxkondr opened #58882 "kube-proxy can't start properly"
/kind bug

**What happened**:
Kube-proxy addon can't start properly. There are a lot of errors in kube-proxy.log

**What you expected to happen**:
Everything works fine

**Configuration**:
- Kubernetes version (use `kubectl version`): 1.9.2
- Cloud provider or hardware configuration: OpenStack with floating IP
- OS (e.g. from /etc/os-release): CoreOS  1576.4.0
- Public node domain: etsys-sm-107.vm

[2018-01-26 16:47] dims commented on #3595
@kesor totally fair. i am digging up old issues like this and trying to see what we can do. yes, its easy to pass arguments to docker for sure, but need to figure out if something can be done for other CRI implemenations

[2018-01-26 16:55] centromere commented on #55894
@janetkuo Why did you close this? You said:

The OP however, did exactly what you said to do:

and it still did not work.

[2018-01-26 16:57] ayj commented on #55435
For Istio use-case `NET_CAP_ADMIN` should be sufficient for InitContainer to program iptables. `privileged` was only added to make injection work with SELINUX on OpenShift (see https://github.com/istio/issues/issues/34#issuecomment-308905920). It looks like an alternative would be to sort out the proper SELINUX policy required to allow NET_CAP_ADMIN.

cc @debianmaster

[2018-01-26 17:00] bgrant0607 commented on #54654
/remove-lifecycle stale
/lifecycle frozen

[2018-01-26 17:02] bgrant0607 commented on #31571
/remove-lifecycle stale
/lifecycle frozen

[2018-01-26 17:05] liggitt commented on #58881
cc @kubernetes/sig-scheduling-test-failures

[2018-01-26 17:05] liggitt commented on #58790
@kubernetes/sig-auth-feature-requests

[2018-01-26 17:20] #58873 closed

[2018-01-26 17:21] yastij commented on #58406
@gmarek - I agree, in case of `kubectl cordon` we can add a taint with key `node.kubernetes.io/cordon` or something like that with a `NoSchdeule` effect. This might help us especially if the node has no taints.

[2018-01-26 17:26] yastij commented on #14111
@gmarek - I'll take a look

[2018-01-26 17:31] BenTheElder commented on #55437
This should at least give a better warning now hopefully, a patch was made upstream. I'll be adding a CI target to make sure [planter](https://github.com/kubernetes/test-infra/tree/master/planter) can bazel build soonish which will give us more signal.

[2018-01-26 17:32] saumoh commented on #55435
Another use case for container specific SP is where a privileged container accesses API's that provide identity credentials, like SPIFFE workload API and Envoy SDS api, that can be used by application containers within that Pod. The application containers should not have privileges to access the API

[2018-01-26 17:33] yujuhong commented on #16456
@pmorie @tallclair is this issue outdated?

[2018-01-26 17:46] hubt commented on #46230
ok

[2018-01-26 17:46] #46230 closed

[2018-01-26 17:51] jiayingz commented on #52190
/remove-lifecycle stale

[2018-01-26 17:59] errordeveloper commented on #58876
/sig cluster-lifecycle
/area kubeadm

[2018-01-26 17:59] mikebrow commented on #55905
Option 4 seems the best solution.

[2018-01-26 18:03] errordeveloper commented on #58876
VirtualBox+Vagrant networking is hard to get right. Have you tried using some of the Vagrantfiles floating around in community? For example https://github.com/davidkbainbridge/k8s-playground worked well for many folks.

[2018-01-26 18:04] errordeveloper commented on #58876
I'm not entierly sure this is not one of the know issues, I'm tempted to close... cc @luxas.

[2018-01-26 18:09] errordeveloper commented on #58609
It looks you actually have one IP address on each node, and it appears to be in a private range. If you have some kind NAT setup. If your cluster is functional, I wouldn't worry about it, otherwise try passing `--node-ip` to kubelet on each node with the address you'd like to assign to that node.

[2018-01-26 18:10] errordeveloper commented on #58609
/area kubeadm
/area kubelet

[2018-01-26 18:12] errordeveloper commented on #58599
Please provide the output of `kubectl get pods --namespace=kube-system --output=wide`.

[2018-01-26 18:13] errordeveloper commented on #58587
/sig cluster-lifecycle
/area kubeadm

[2018-01-26 18:16] coffeepac commented on #58837
Manual process.

@piosz or @crassirostris can one of you two build and push the new 2.0.4 version?

[2018-01-26 18:16] errordeveloper commented on #58587
Have you managed to work around this or are you planning to open to propose a change in a PR?

[2018-01-26 18:21] errordeveloper commented on #58188
You will get a new certificate when you upgrade. It's generally a good idea to upgrade more frequently then once a year. This is one of the reasons why kubeadm is still in beta, but the good news is that we are working to fix this soon.

[2018-01-26 18:22] errordeveloper commented on #58188
/close

Closing in favour of https://github.com/kubernetes/kubeadm/issues/206.

[2018-01-26 18:22] #58188 closed

[2018-01-26 18:34] MrHohn commented on #58785
@DirectXMan12 The addon-manager is essentially doing `kubectl apply -f` periodically, hence any change on the addon resource will be applied upon cluster upgrade. That is also the way some other addons already followed since v1.5 (https://github.com/kubernetes/kubernetes/pull/36008).

[2018-01-26 18:34] errordeveloper commented on #57236
I sound like your cluster spans multiple DCs, and I don't believe this is was supported. Have you considered setting up separate control planes for each DC and using something to reconcile your configuration? You could use multi-cluster aka federation, but there are simpler ways to ensure your deployments are in sync.
It is known that some folks wish to do something similar to enable bursting to p

[2018-01-26 18:35] stevekuznetsov commented on #19427
Guess SIG CLI is not interested?

/close

[2018-01-26 18:35] #19427 closed

[2018-01-26 18:50] mighq commented on #57325
I believe the threat is not so significant, if we setup authorization (RBAC) rules, so only ingress-controller service-account can access the secrets inside the proposed "cert-management" namespace.

Or am I missing something?

[2018-01-26 18:59] derekwaynecarr commented on #58471
I think as a best practice users that write static pod manifests should apply a system priority to prevent eviction, but I do not think the kubelet should do anything magical about that source.

[2018-01-26 19:02] dashpole commented on #58541
reopening until it is cherrypicked to 1.9

[2018-01-26 19:04] liggitt commented on #57325
what determines if a user in namespace foo is allowed to commandeer certificates in some other namespace for securing traffic coming to services in namespace foo?

[2018-01-26 19:11] divyenpatel commented on #58747
/assign rohitjogvmw

[2018-01-26 19:21] prashima commented on #58334
@kubernetes/vmware
@prashima @divyenpatel

[2018-01-26 19:35] ixdy commented on #20017
Does anyone still want this? It's trivial to add if desired.

[2018-01-26 19:38] yastij commented on #58635
@jingxu97 @bsalamat @yujuhong - before moving with this, we should clarify how we should handle quick reboot use cases, where users rely on the fact volumes are still attached.

One solution is to add a flag to handle this and not break expected behaviour.

[2018-01-26 19:38] timothysc commented on #20017
There is a pre-amble at the top of the output that indicates version now, it was done a while ago, so closing this issue.

[2018-01-26 19:38] #20017 closed

[2018-01-26 19:41] ConnorDoyle commented on #49964
Here is a design doc to address only part of the problem: making CPU manager and device manager agree on numa alignment. https://github.com/kubernetes/community/pull/1680

[2018-01-26 19:49] ottoyiu commented on #45746
/assign sig-aws

[2018-01-26 19:50] ottoyiu commented on #45746
/sig aws

[2018-01-26 19:55] ottoyiu commented on #45746
This function is the culprit as it does not deal with the case where you want the protocol to be TCP and backend protocol to be SSL.

https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L3153

[2018-01-26 20:04] jingxu97 commented on #58635
@yastij For quick reboot case, the following will happen, I think.
1. After node is shutdown for about half a minute, node controller will check cloud provider whether node still exist or not. If node at this moment, is already restarted, node controller will not do anything (except updating node status)
2. If node is not yet up when node controller checks cloud provider, currently, for some cloud

[2018-01-26 20:06] kfox1111 commented on #12338
/remove-lifecycle rotten

[2018-01-26 20:16] #47427 closed

[2018-01-26 20:23] #58471 closed

[2018-01-26 20:35] liggitt commented on #58881
causing many many failures:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-unit/77059/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-unit/77060/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-unit/77071/
https://k8s-gubernator.appspot.com/build/kubernete

[2018-01-26 20:41] roberthbailey commented on #27150
The docker image version should be sufficient. @mwielgus - can you look at this when you get a chance?

[2018-01-26 20:51] mikksoone commented on #56903
Doesn't solve the issue for me. Even with this option in resolv.conf I get timeouts of 5s, 2.5s and 3.5s - and they happen very often, twice per minute or so.

[2018-01-26 20:52] liggitt commented on #58881
looks like a spike of flakes around scheduler in the past day or so:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&job=pull-kubernetes-unit&test=k8s.io%2Fkubernetes%2Ftest%2Fintegration%2Fscheduler

[2018-01-26 20:57] autostatic commented on #24190
/close

[2018-01-26 20:57] #24190 closed

[2018-01-26 21:00] autostatic commented on #24190
K8s 1.2.4, back in the days....

[2018-01-26 21:01] jingax10 opened #58886 "pull-kubernetes-e2e-gke failed consistently due to "cluster_api_version not found""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

pull-kubernetes-e2e-gke failed consistently

https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gke

By looking into logs and checking the corresponding project k8s-jkns-pr-gci-gke on GCP, no k8s cluster is created.

**What you expected to happen**:

**How to reproduce it (

[2018-01-26 21:01] jingax10 commented on #58886
/sig network

[2018-01-26 21:10] xpoveda commented on #58876
Hi Ilya,

You can close the issue, the problem is the ip used in kubeadm join
instruction.

Kubeadm has generated the ip of bridge interface and the correct ip is the
ip of master host.

Solved this issue.

The battle continous.

Thanks so much!!!

Xavier.

El 26 ene. 2018 7:05 PM, "Ilya Dmitrichenko" <notifications@github.com>
escribió:

I'm not entierly sure this is not one of the know issues, I

[2018-01-26 21:12] MrHohn opened #58887 "[test failure] pull-kubernetes-e2e-gke is consitently failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/priority failing-test
/area platform/gke
/team gke

**What happened**:
From https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gke, the GKE presubmit job has been failing since 1/24/2018 (the earliest run I can find). The same error logs from [the latest run](https://k8s-gubernator.appspot.com/

[2018-01-26 21:12] MrHohn commented on #58887
/sig gcp

[2018-01-26 21:13] MrHohn commented on #58887
Dupe of #58886.

[2018-01-26 21:13] #58887 closed

[2018-01-26 21:20] jingax10 commented on #58886
/priority failing-test
/area platform/gke
/team gke
/cc MrHohn

[2018-01-26 21:20] jingax10 commented on #58886
/sig gcp

[2018-01-26 21:27] liggitt commented on #58881
possibly corresponding with merge of https://github.com/kubernetes/kubernetes/pull/58555

[2018-01-26 21:34] #57498 closed

[2018-01-26 21:34] #57974 closed

[2018-01-26 21:49] php-coder commented on #15080
I think this is fixed and the documentation is there: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

@pmorie Please, close it if you agree.

[2018-01-26 22:21] janetkuo commented on #55894
@centromere

The config @dusansusic used is an `apps/v1` Deployment. This API version isn't supported until 1.9.0+.

[2018-01-26 22:41] janetkuo commented on #55894
@centromere I think that aforementioned config file had been updated when I saw this issue. It was originally `apps/v1beta2` when @dusansusic used it.

So updating my response: `apps/v1beta2` is only supported in 1.8.0+ clusters. @dusansusic would you reopen this issue if you saw this error in an 1.8.0+ cluster when trying to create a `apps/v1beta2` Deployment?

[2018-01-26 22:43] bschwartz757 commented on #24745
@tlvenn , Thanks for the help. I had looked at @nicksardo 's example but revisited it when you posted the link. The missing piece turned out to be changing the default backend timeout, which I would not have gotten from reading the documentation on this topic. Once I did that, the websocket connections worked just fine.

Incidentally, we started noticing that the default backend for the project in

[2018-01-26 22:48] bsalamat commented on #58881
#58555 is an improvement to an alpha feature which is disabled by default. Anyway, I will take a look.

[2018-01-26 22:56] dtzar commented on #50062
For reference, I created this post which walks people through the scenario: http://ow.ly/Fqge30i1O0U

[2018-01-26 22:56] Random-Liu opened #58891 "Move node-perf-dash to a new home"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup
@kubernetes/sig-node-proposals

First suggested in https://github.com/kubernetes/contrib/issues/762
Reminded by @foxish

TODO:
- [ ] Find a new home.
- [ ] Move the directory.
- [ ] Rename packages.

[2018-01-26 22:58] bgrant0607 commented on #4855
Operations:
* Turn up
* Upgrade
* Downgrade
* Teardown

Strawman upgrade sequence:
1. Upgrade masters (apiserver, controller manager, scheduler)
2. Enable new APIs
3. Upgrade addons (caveats: don't remove old DaemonSets, maybe support API version discovery)
4. Disable old APIs
5. Upgrade nodes

[2018-01-26 23:04] StuAtGit commented on #58619
@adnavare  - that is an excellent question, that I can't answer without good documentation, because I have no idea what is considered "expected behavior"... because the documentation is unclear!

So at the very least, the docs need to be updated, but maybe the code too?
I would love for a process that returns 0 to not be considered "Failed", but ultimately that's up to whoever maintains that code.

[2018-01-26 23:06] yastij commented on #58635
@jingxu97 - ok I'm fine with, so basically what we have to do:

1. Create the shutdown taint
2. Let the cloud/node_controller taint the nodes that have been terminated
3. Make volume controller look for shutdown taint and unmount volumes

Will this be transparent to CSI or should it watch for the taint and issue corresponding call to the plugin ?

[2018-01-26 23:16] jingxu97 commented on #54108
@mtanino Talked to Saad about this issue, we can update the devicePath after local attach finishes to solve the problem. I can made the changes in my PR https://github.com/kubernetes/kubernetes/pull/58177

[2018-01-26 23:18] jingxu97 commented on #58635
This will be transparent to CSI. Only volume controller needs some changes to check the taint so that detach will be issued without delay.

[2018-01-26 23:22] #17837 closed

[2018-01-26 23:25] mtanino commented on #54108
@jingxu97

Great! Thank you for your help.

[2018-01-26 23:28] resouer commented on #58881
I am re-running it locally. equiv class is enabled for scheduler integration test if I remembered correctly.

[2018-01-26 23:31] nicklan opened #58892 "kubectl apply on a service yaml crashes apiserver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Applying the following yaml causes our apiserver to crash:
[code]

The error output by kubectl is:
[code]
The apiserver logs show:
[code]
The only actual change was that the existing service was ClusterIP and not LoadBalancer (despite the last applied annotation).  Removing the last applied annotation did not resolve the

[2018-01-26 23:34] yastij commented on #58635
@jingxu97 - SGTM

[2018-01-26 23:34] masroorhasan commented on #56076
@4c74356b41 LB was not configured properly as our vnet is wired specifically to be in our domain. As mentioned on the second post - its not a kubernetes issue. I've incorrectly said it might even be an azure issue since its actually our vnet configuration. I'm new to kubernetes + azure configuration thus the issue was not explained as well (+ incorrect assumptions).

[2018-01-26 23:36] sauryadas opened #58893 "Bug: k get nodes on AKS with Service Catalog returns nodes after 5 mins"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:
Service Catalog in Azure Container Service (AKS) cluster
$ kubectl get nodes
 returns nodes after 5 mins;

**What you expected to happen**:
$ kubectl get nodes
should return almost instantaneously

**How to reproduce it (as minimally and precisely as possible)**:
Install Service Catalog on a AKS cluster

**Anything else we

[2018-01-26 23:40] nicklan commented on #58892
/sig api-machinery
/sig network

[2018-01-27 00:04] k82cn commented on #58505
Yes; but if BE pod has higher priority, the other pods with lower priority will be evicted by kubelet.

This maybe better, no idea on which pod will be BE but with higher priority :) @bsalamat , do you think we should reject BE pod with MemoryPressure toleration, even it has a higher priority?

[2018-01-27 00:13] matthewfischer opened #58894 "docs still say to set cloud-provider/cloud-config in apiserver, but API server fails to start if you do."
/kind bug

**What happened**:

I was following the docs to try to set AWS as my cloud provider. See this URL:

https://kubernetes.io/docs/getting-started-guides/scratch/#cloud-providers

Specifically:

<img width="429" alt="screen shot 2018-01-26 at 5 10 57 pm" src="https://user-images.githubusercontent.com/1686293/35465804-ec94683c-02bb-11e8-96aa-a4d16f2d36c6.png">

However when you set --cloud-p

[2018-01-27 00:24] cheftako commented on #58296
I'm seeing this issue as well.
$ grep CGROUP_HUGETLB /boot/config-4.9.0-4-amd64
# CONFIG_CGROUP_HUGETLB is not set
$ ls -al /sys/fs/cgroup/hugetlb/
ls: cannot access '/sys/fs/cgroup/hugetlb/': No such file or directory

[2018-01-27 00:26] sean-krail opened #58895 "Deployment API version apps/v1beta2 is being changed to extensions/v1beta1 on creation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When I create an example Deployment found at [kubernetes/website](https://github.com/kubernetes/website/blob/snapshot-final-v1.8/docs/tasks/run-application/deployment.yaml) with api version `apps/v1beta2`, the api version I see when I perform `kubectl get deploy nginx-deployment -o yaml` is `extensions/v1beta1`.

**What

[2018-01-27 00:29] k82cn commented on #58406
@gmarek , not sure whether we should handle `Unschedulable` specially; AFAIK, `kubectl cordon` set this flag for node maintenance, this taint should not be tolerated.

[2018-01-27 01:01] #58844 closed

[2018-01-27 01:10] liggitt commented on #58895
`kubectl get deployment` without qualification gets the first version of deployments the server indicates it is capable of returning.

The deployment you created can be retrieved in any of the supported versions. To get a specific group or version, fully qualify your get request:

kubectl get deployment.apps …
kubectl get deployment.v1beta2.apps …

/close

[2018-01-27 01:10] #58895 closed

[2018-01-27 01:12] liggitt commented on #58893
Non responsive add on api servers can cause discovery requests to hang. In 1.9, the apiserver is more proactive at removing such API servers from discovery

[2018-01-27 01:12] nicksardo commented on #36572
@ChrisTerBeke and others, the GCE HTTP(S) Load Balancer does not support URL rewriting. The annotation "ingress.kubernetes.io/rewrite-target" does nothing when class="gce".  Recommend you check the load balancer configuration in GCP console for more light on the subject. Look at the URL map and check that the backend services are healthy.

OP marked this as answered in their stackoverflow post: ht

[2018-01-27 01:12] #36572 closed

[2018-01-27 01:13] jingxu97 commented on #54108
@mtanino Could you please help test PR #58177 to see whether it solves the issue? Thanks!

[2018-01-27 01:14] liggitt commented on #58892
Fixed in https://github.com/kubernetes/kubernetes/pull/49258 in 1.9

Picked to 1.8.x in https://github.com/kubernetes/kubernetes/issues/55580 so upgrading to the latest 1.8.x release will include this fix

/close

[2018-01-27 01:14] #58892 closed

[2018-01-27 01:21] tallclair opened #58898 "Document addon best-practices"
We should add a developers guide for addons that get pulled into Kubernetes. Guidelines should include:

- Base image policy (https://github.com/kubernetes/kubernetes/issues/40248#issuecomment-280781931)
- Security settings guidelines
- PodSecurityPolicy guidelines

/cc @luxas @ixdy

[2018-01-27 01:47] Random-Liu opened #58901 "PodSecurityPolicy Capability test is using wrong CAP format."
The pod security policy capability test is using wrong CAP format with `CAP_` prefix.

In our document, we explicitly say:
[code]

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/auth/pod_security_policy.go#L237

It fails for cri-containerd.

I'll find out why it doesn't fail for Docker, maybe docker has handled it.
But we should fix the test anyway.

@kubernetes/sig-node-bugs

[2018-01-27 01:52] tlvenn commented on #24745
Ha great to hear @bschwartz757 ! Ya that backend timeout is easy to be oversighted. I am wondering if having a pretty big timeout for regular http(s) traffic is an hindrance to the load balancer.

Is there any guideline on this ? I mean should I use rules at the ingress level to create a backend dedicated to my websocket so that only this backend has a 86400 timeouts while the rest of the traffic

[2018-01-27 02:13] bsalamat commented on #58881
Ah, that's right. Actually, Jonathan initially faced some flakiness during the development of the PR, but later on he thought those were addressed, but it doesn't seem so. He started his paternity leave. I guess at this point, we should revert his PR until we fix the issue.

[2018-01-27 02:15] matthewfischer commented on #58894
@kubernetes/sig-docs
@kubernetes/sig-api-machinery

[2018-01-27 02:17] matthewfischer commented on #58894
@kubernetes/sig-docs
@kubernetes/sig-api-machinery

I think those are where it should go.

I would love to know the right place to set this. From my general poking around it seems that there's a lot of movement underway for cloud-providers with some being frozen and moved out of tree? All I want to do is have k8s make an EC2 volume for me, which seems simple enough in theory.

[2018-01-27 02:35] liqiang75 commented on #26532
i also meet this problem,but before this one ,i kubectl create another successfully,i want to know why this oappears?

[2018-01-27 02:37] bsalamat commented on #58505
I would like to mention several points here:
1. First of all, I should say that a high priority BE pod is a result of bad configuration and we should not optimize for it, but given that it is not rejected by the system, we must handle it.
1. A BE pod will never cause preemption due to lack of resources, because a BE pod needs zero resources from scheduler's point of view.
1. Because of point #1, I

[2018-01-27 03:06] mindprince opened #58905 "TestTaintNodeByCondition is flaking"
/kind bug
/sig scheduling
/sig node
/sig testing

Example failures:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/58141/pull-kubernetes-unit/77112
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/58890/pull-kubernetes-unit/77121
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/58890/pull-kubernetes-unit/77139

It's one of t

[2018-01-27 03:08] been2io commented on #58803
i found this error: Orphaned pod "2c7fa3c4-eba4-11e7-bd0d-0625dd5109e0" found, but volume paths are still present on disk. : There were a total of 1 errors similar to this.  Turn up verbosity to see them.

[2018-01-27 03:12] bsalamat commented on #58905
Looks like a few scheduler integration tests are flaky. There was another report earlier: #58881.
We are [reverting a suspect PR](https://github.com/kubernetes/kubernetes/pull/58903) until we find a fix.

[2018-01-27 03:26] m1093782566 commented on #23864
/assign

for better task tracking.

[2018-01-27 03:29] m1093782566 commented on #23864
/area ipvs

[2018-01-27 03:32] chentao1596 commented on #58868
delete DS.

[2018-01-27 03:35] wittlesouth opened #58908 "NodePort only responding on node where pod is running"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Running a 3-node cluster, NodePort service with one pod only responds on one node, the node where the pod is running. Attempts to access the service on the NodePort via other nodes times out with no response.

**What you expected to happen**:
Service should respond on the service port from any node.

**How to reproduce it

[2018-01-27 03:36] wittlesouth commented on #58908
/sig network

[2018-01-27 04:45] dineshsckloud9 commented on #58796
Multizone scaling with MIG per zone seems working but could not launch more than 3 instances.. MIG showing 1 -> 2 but its not launching in gce... What could be the problem?

[2018-01-27 04:55] dineshsckloud9 commented on #27150
Thanks Robert... Version is fine,

Facing new problem,

Multizone scaling with MIG per zone seems working but could not launch more
than 3 instances.. MIG showing 1 -> 2 but its not launching in gce... What
could be the problem?

I0127 04:52:37.565409 5 scale_up.go:110] Skipping node group
https://content.googleapis.com/compute/v1/projects/global-snow-193212/zones/europe-west1-b/instanceGroups/kub

[2018-01-27 05:00] #58901 closed

[2018-01-27 06:07] mengqiy commented on #20508
/remove-lifecycle rotten
/lifecycle frozen

[2018-01-27 06:38] mindprince commented on #57125
/lifecycle frozen

[2018-01-27 07:31] #58876 closed

[2018-01-27 07:49] mlmhl opened #58911 "Report a more human readable error message if mount an unformatted volume as read only mode"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Currently, if a pod requests a volume as read only mode, we will mount according device only, without format it. So if the volume was unformatted, the device mount operation will fail and return a verbose and obscure error messages. This message will appear in the events of according `Pod`.

**What you expected to happen**:

For re

[2018-01-27 07:50] mlmhl commented on #58911
/assign

[2018-01-27 09:02] tjliupeng commented on #58599
@errordeveloper , below is the output of `kubectl get node --output yaml`:
`apiVersion: v1
items:
- apiVersion: v1
  kind: Node
  metadata:
    annotations:
      flannel.alpha.coreos.com/backend-data: '{"VtepMAC":"12:ec:07:26:03:a3"}'
      flannel.alpha.coreos.com/backend-type: vxlan
      flannel.alpha.coreos.com/kube-subnet-manager: "true"
      flannel.alpha.coreos.com/public-ip: 10.135.80.73

[2018-01-27 09:49] #58796 closed

[2018-01-27 12:20] gmile commented on #58811
@liggitt technically yes, it is possible to get around without renaming. As I mentioned above there are two options:

1. wait for GKE to enable Kubernetes 1.9, when PVC resizing is available https://github.com/kubernetes/kubernetes/pull/55815,
2. workaround, by copying the `/data` folder twice, e.g. split item 5 above into two, e.g.:
    1. delete smaller PVC,
    2. create another big PVC with th

[2018-01-27 12:22] gmile commented on #58811
Since renaming is fundamental part and is not supported is any way, I guess I'm going to close this one.

Although renaming would be more convenient (and resizing would be even more convenient), I was able to solve my problem without renaming by double-copying the data.

[2018-01-27 12:22] #58811 closed

[2018-01-27 12:52] bhack commented on #54011
Ok for dkms but also Debian packaged drivers support dkms but the directories organizzation was not strictly compatibile with that plugin.
Kops still rely on Debian images and probably there will be some licensing issue to publishing custom AMI with Nvidia installed driver. @bluca Any feedback from the Debian Nvidia team?

[2018-01-27 14:40] liggitt commented on #58905
The revert cleaned up the failures
/close

[2018-01-27 14:40] #58905 closed

[2018-01-27 14:41] liggitt commented on #58881
The revert cleaned up the failures
/close

[2018-01-27 14:41] #58881 closed

[2018-01-27 14:42] Thermi commented on #42293
/remove-lifecycle rotten
/lifecycle frozen

[2018-01-27 14:42] Thermi commented on #44415
/remove-lifecycle rotten
/lifecycle frozen

[2018-01-27 15:00] bluca commented on #54011
Sorry, can't say I'm familiar with the context - TL;DR?

[2018-01-27 15:17] liggitt commented on #11070
Largely addressed by the tokenrequest proposal

#58790

/close

[2018-01-27 15:17] #11070 closed

[2018-01-27 15:18] #40376 closed

[2018-01-27 15:23] liggitt commented on #56278
Possible the fix in https://github.com/kubernetes/kubernetes/pull/49688 resolved this. What apiserver version are you running?

[2018-01-27 15:43] dims commented on #58894
/sig aws
/area cloudprovider

[2018-01-27 16:11] dims commented on #3595
@kesor @csandanov @palonsoro @cesargomezvela @gdmello - Do you have some time to kick the tires of #58904 and provide some feedback?

[2018-01-27 18:19] sean-krail commented on #58895
That's confusing. I would think that it would return the version that I uploaded or the latest version of deployments the server is capable of returning.

Anyways, thanks!

[2018-01-27 18:49] gertcuykens commented on #58719
Config volumes and secret volumes on a subdirectory also have this side effect, see ref 458
[code]
Secrets will first appear and then disappear

[2018-01-27 19:57] gnufied commented on #42293
@Thermi have you tried any of latest builds? This should be fixed now.

[2018-01-27 19:57] gnufied commented on #42293
/close

[2018-01-27 19:57] #42293 closed

[2018-01-27 20:26] Thermi commented on #42293
I haven't, because I don't administrate any Kubernetes clusters on AWS anymore.

[2018-01-27 20:39] jhorwit2 commented on #58908
@wittlesouth could you please post the service manifest!

[2018-01-27 20:50] bgrant0607 commented on #9633
/remove-lifecycle rotten
/lifecycle frozen

[2018-01-27 21:04] xpoveda opened #58921 "kubeadm join and error [discovery] Failed to request cluster info, will try again: [Get https://10.0.0.10:6443/api/v1/namespaces/kube-public/configmaps/cluster-info: x509: certificate is valid for 10.96.0.1, 10.0.2.15, not 10.0.0.10]"
Hi, I have solved the issue https://github.com/kubernetes/kubernetes/issues/58876 with the modification of IP in "kubeadm join".

10.0.0.10 is the IP of master.

But now appears this another issue and I can't to add the node to cluster.

[code]

root@master:~# kubectl get nodes
NAME      STATUS    ROLES     AGE       VERSION
master    Ready     master    18m       v1.9.2

Thanks so much!!

Xavier.

[2018-01-27 21:06] xpoveda commented on #58921
/area kubeadm
/sig cluster-lifecycle

[2018-01-27 22:03] shadycuz opened #58922 "Namespace and pod refuse to delete 1.8.3"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Deleted a namespace which had 1 pod it in.

**What you expected to happen**:
The namespace and all resources to delete as usual

**How to reproduce it (as minimally and precisely as possible)**:

It's 1 pod with a gluster/heketi PVC

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl

[2018-01-27 22:10] shadycuz commented on #58922
@kubernetes/sig-node-bugs

I think?

[2018-01-27 23:14] bhack commented on #54011
@bluca Basically one of the main topic is the compatibility of Debian "officially" packaged Nvidia driver with [nvidia-docker2](https://github.com/NVIDIA/nvidia-docker). We are also figuring out if a Debian AMI could be public available on AWS with preinstalled nvidia-docker and driver or will have licensing issue by Nvidia. Have you any contact in Nvidia debian packaging team with Nvidia licensin

[2018-01-27 23:27] bhack commented on #54011
I've tried to to /cc @onlyjob in a previous comment here as the K8 debian package maintainer.

[2018-01-27 23:27] broady commented on #23403
/remove-lifecycle stale

[2018-01-27 23:28] broady commented on #23403
/remove-lifecycle rotten

No updates on this?

[2018-01-28 02:23] devenfan commented on #58217
the same error from kubelet 1.9.1:

<pre>
root@ubuntu-64:/opt/bin# systemctl status kubelet
● kubelet.service - Kubernetes Kubelet Server
   Loaded: loaded (/lib/systemd/system/kubelet.service; enabled; vendor preset: enabled)
   Active: active (running) since Sun 2018-01-28 10:01:55 CST; 17min ago
     Docs: https://github.com/kubernetes
 Main PID: 20940 (kubelet)
    Tasks: 21
   Memory: 71.0M

[2018-01-28 05:06] hzxuzhonghu commented on #58855
/cc

[2018-01-28 05:53] #55097 closed

[2018-01-28 05:55] fejta commented on #58277
@kubernetes/sig-architecture-feature-requests
@kubernetes/sig-node-feature-requests

On the other hand this report doesn't have a lot of info so maybe just close?

[2018-01-28 05:56] fejta commented on #58308
@kubernetes/sig-azure-misc

[2018-01-28 05:56] #55096 closed

[2018-01-28 05:56] #55098 closed

[2018-01-28 05:57] #55111 closed

[2018-01-28 05:57] #55133 closed

[2018-01-28 05:57] #55292 closed

[2018-01-28 05:57] #55367 closed

[2018-01-28 05:57] #55537 closed

[2018-01-28 05:57] #55573 closed

[2018-01-28 05:57] #56663 closed

[2018-01-28 05:57] #56662 closed

[2018-01-28 05:57] #56541 closed

[2018-01-28 05:57] #56182 closed

[2018-01-28 05:57] #56181 closed

[2018-01-28 05:57] #55110 closed

[2018-01-28 05:57] #55655 closed

[2018-01-28 05:57] #56123 closed

[2018-01-28 05:58] #56125 closed

[2018-01-28 05:58] #56124 closed

[2018-01-28 05:58] #58233 closed

[2018-01-28 05:58] #58129 closed

[2018-01-28 05:58] #58130 closed

[2018-01-28 05:58] #58126 closed

[2018-01-28 05:58] #58127 closed

[2018-01-28 06:00] fejta commented on #58620
@kubernetes/sig-scheduling-bugs

[2018-01-28 06:01] #58656 closed

[2018-01-28 06:01] fejta commented on #58656
Maybe ask about this in kubernetes-dev channel on slack if you can't figure it out?

[2018-01-28 06:01] #54591 closed

[2018-01-28 06:02] fejta commented on #58594
@kubernetes/sig-storage-test-failures

[2018-01-28 06:03] fejta commented on #58429
@kubernetes/sig-network-test-failures

[2018-01-28 06:05] fejta commented on #58526
Please try stackoverflow and/or the kubernetes-users channel on slack

[2018-01-28 06:05] #58526 closed

[2018-01-28 06:05] fejta commented on #58430
@kubernetes/sig-network-test-failures

[2018-01-28 06:06] fejta commented on #58423
It means the package should be `e2e_node` not `e2e-node`.

I don't think we need an issue for every TODO
/close

[2018-01-28 06:06] #58423 closed

[2018-01-28 06:08] fejta commented on #58657
Seems limited to Jan 22-23, rate dropped from 15/hr to zero
/close

[2018-01-28 06:08] #58657 closed

[2018-01-28 06:09] fejta commented on #58692
@kubernetes/sig-cli-feature-requests

[2018-01-28 06:09] fejta commented on #58733
@kubernetes/sig-gcp-test-failures

[2018-01-28 06:10] fejta commented on #58220
@kubernetes/sig-release-bugs

We really ought to fix this if we can.

[2018-01-28 06:12] fejta commented on #54730
/close
@kubernetes/sig-node-test-failures
no hits since Jan 23

[2018-01-28 06:12] #54730 closed

[2018-01-28 06:12] fejta commented on #54732
@kubernetes/sig-gcp-test-failures

A bunch of GCP jobs time out

[2018-01-28 06:13] fejta commented on #58856
@kubernetes/sig-gcp-test-failures

A bunch of gke jobs fail to start clusters

[2018-01-28 06:14] fejta commented on #58449
@kubernetes/sig-cluster-lifecycle-feature-requests

[2018-01-28 06:15] fejta commented on #58808
@kubernetes/sig-auth-misc

[2018-01-28 06:17] fejta commented on #58792
@kubernetes/sig-network-misc @kubernetes/sig-storage-misc

Would this conversation be better on stackoverflow and/or slack?

[2018-01-28 06:18] #54771 closed

[2018-01-28 06:18] fejta commented on #56737
/close
cluster no longer present

[2018-01-28 06:18] #56737 closed

[2018-01-28 06:19] fejta commented on #56738
@kubernetes/sig-cluster-lifecycle-test-failures

Where do we stick upgrade failures? This still happens at a reasonable rate

[2018-01-28 06:20] fejta commented on #56739
/close
no hits anymore

[2018-01-28 06:20] #56739 closed

[2018-01-28 06:20] fejta commented on #56914
/close
no recent hits

[2018-01-28 06:20] #56914 closed

[2018-01-28 06:20] fejta commented on #57223
/close
no recent hits

[2018-01-28 06:20] #57223 closed

[2018-01-28 06:21] fejta commented on #57298
This cluster is pretty dumb, just notes that tests failed

@kubernetes/sig-testing-bugs

[2018-01-28 06:21] fejta commented on #57433
/close
no recent hits

[2018-01-28 06:21] #57433 closed

[2018-01-28 06:21] fejta commented on #57585
@kubernetes/sig-network-test-failures

Still happening on the docker-validation suite continuously

[2018-01-28 06:22] fejta commented on #57602
/close
no recent hits

[2018-01-28 06:22] #57602 closed

[2018-01-28 06:22] fejta commented on #57612
/close
no recent hits

[2018-01-28 06:22] #57612 closed

[2018-01-28 06:22] fejta commented on #58893
@kubernetes/sig-azure-misc

[2018-01-28 06:23] fejta commented on #58882
This is networking, right? Is this a stackoverflow question though?

@kubernetes/sig-network-bugs

[2018-01-28 06:24] fejta commented on #57730
/close
no recent hits

[2018-01-28 06:24] #57730 closed

[2018-01-28 06:24] fejta commented on #57775
/close
no recent hits

[2018-01-28 06:24] #57775 closed

[2018-01-28 06:24] fejta commented on #57818
@kubernetes/sig-cli-test-failures

Still happening regularly

[2018-01-28 06:24] fejta commented on #52204
/close
no recent hits

[2018-01-28 06:24] #52204 closed

[2018-01-28 06:25] fejta commented on #52205
/close
no recent hits

[2018-01-28 06:25] #52205 closed

[2018-01-28 06:25] fejta commented on #52206
Another dumb cluster
@kubernetes/sig-testing-bugs

[2018-01-28 06:25] fejta commented on #52207
/close
no recent hits

[2018-01-28 06:25] #52207 closed

[2018-01-28 06:25] fejta commented on #52210
/close
no recent hits

[2018-01-28 06:25] #52210 closed

[2018-01-28 06:25] fejta commented on #52209
@kubernetes/sig-gcp-test-failures

Problems on GKE?

[2018-01-28 06:26] fejta commented on #52208
@kubernetes/sig-node-test-failures

sometimes problems starting nodes

[2018-01-28 06:27] fejta commented on #52619
@kubernetes/sig-node-test-failures
@wonderfly

problems starting the gci jobs

[2018-01-28 06:27] fejta commented on #52600
/close
no recent hits

[2018-01-28 06:27] #52600 closed

[2018-01-28 06:28] fejta commented on #52601
/close
no recent hits

[2018-01-28 06:28] #52601 closed

[2018-01-28 06:28] fejta commented on #52598
/close
no recent hits

[2018-01-28 06:28] #52598 closed

[2018-01-28 06:28] fejta commented on #52599
@kubernetes/sig-testing-bugs

dumb clusters galore!

[2018-01-28 06:29] fejta commented on #58267
@kubernetes/sig-gcp-test-failures

problems deleting firewalls

[2018-01-28 06:29] fejta commented on #58266
/close
no recent hits

[2018-01-28 06:29] #58266 closed

[2018-01-28 06:30] fejta commented on #58265
@kubernetes/sig-cluster-lifecycle-test-failures

problems starting gke clusters

[2018-01-28 06:31] fejta commented on #58252
@kubernetes/sig-gcp-test-failures regional job seems broken

[2018-01-28 06:31] fejta commented on #58253
@kubernetes/sig-testing-bugs dumb cluster

[2018-01-28 06:32] fejta commented on #58128
/close
no recent hits

[2018-01-28 06:32] #58128 closed

[2018-01-28 06:32] fejta commented on #58125
@kubernetes/sig-cluster-lifecycle-test-failures the kubeadm job flakes PRs at least 20% of the time

[2018-01-28 06:32] fejta commented on #57988
/close
no recent hits

[2018-01-28 06:32] #57988 closed

[2018-01-28 06:33] fejta commented on #52954
/close
no recent hits

[2018-01-28 06:33] #52954 closed

[2018-01-28 06:33] fejta commented on #53314
@kubernetes/sig-node-test-failures issues in the soak jobs?

[2018-01-28 06:34] fejta commented on #58424
Please use stackoverflow for support questions
/close

[2018-01-28 06:34] #58424 closed

[2018-01-28 06:34] fejta commented on #58383
Please use stackoverflow or slack for support questions
/close

[2018-01-28 06:34] #58383 closed

[2018-01-28 06:34] fejta commented on #58333
Please use stackoverflow or slack for technical support
/close

[2018-01-28 06:34] #58333 closed

[2018-01-28 06:35] fejta commented on #58285
@kubernetes/sig-api-machinery-misc are addons part of scheduling or api-machinery?

[2018-01-28 06:36] fejta commented on #58339
@kubernetes/sig-node-feature-requests

[2018-01-28 06:37] fejta commented on #52213
@kubernetes/sig-testing-bugs who owns the soak tests?

[2018-01-28 06:37] fejta commented on #52211
@kubernetes/sig-apps-test-failures job tests seem to be failing

[2018-01-28 06:38] fejta commented on #52507
/close
no recent hits

[2018-01-28 06:38] #52507 closed

[2018-01-28 06:38] fejta commented on #52581
@kubernetes/sig-network-test-failures network tests timing out

[2018-01-28 06:38] fejta commented on #52579
/close
no recent hits

[2018-01-28 06:38] #52579 closed

[2018-01-28 06:39] fejta commented on #52926
@kubernetes/sig-gcp-test-failures stackdriver logging jobs are broken

[2018-01-28 06:39] fejta commented on #52953
/close
no recent hits

[2018-01-28 06:39] #52953 closed

[2018-01-28 06:39] fejta commented on #52955
@kubernetes/sig-apps-test-failures statefulset tests are flaky

[2018-01-28 06:40] fejta commented on #53087
/close
no recent hits

[2018-01-28 06:40] #53087 closed

[2018-01-28 06:40] fejta commented on #53300
@kubernetes/sig-testing-bugs bad cluster

[2018-01-28 06:50] fejta commented on #52728
/assign @sttts @mattfarina
/assign

Stefan aren't you working on this?

[2018-01-28 06:54] fejta commented on #55330
/close

[2018-01-28 06:54] #55330 closed

[2018-01-28 07:18] fejta commented on #51735
/assign @cblecker

[2018-01-28 07:18] #51735 closed

[2018-01-28 07:25] fejta commented on #44515
no recent hits
/close

[2018-01-28 07:25] #44515 closed

[2018-01-28 07:27] fejta commented on #45677
/close
no recnet hits

[2018-01-28 07:27] #45677 closed

[2018-01-28 07:31] ConnorDoyle commented on #58339
/kind cleanup
/assign
Blocked on main checkpoint manager PR

[2018-01-28 08:14] maxkondr commented on #58882
not sure that this issue relates to network somehow, but RBAC.
Actually I am trying to reproduce the environment that kubeadm creates during K8S deploy, but it seems I have missed smth.

[2018-01-28 08:43] dlsniper commented on #24735
First of all, @fejta-bot you're rotten, not the issue.
Second of all, the k8s documentation is still the worst I've seen.
Third of all, if someone says that I should fix it given how this is open-source and all that fluff, I would kindly invite you to get me hired at one of the companies that actually develop k8s and pay money to get people to "open-source develop" it, and I'll be happy to write y

[2018-01-28 10:04] krmayankk commented on #8229
@wojtek-t does this require a flag or feature to be enabled in apiserver ? i am using 1.7.4 and seeing lots of tcp connections open from apiserver to etcd , somewhere around ~2000

[2018-01-28 10:18] sttts commented on #52728
@fejta yes: https://github.com/kubernetes/kubernetes/pull/57795

[2018-01-28 10:33] nikhita commented on #24527
/remove-lifecycle rotten
/lifecycle frozen

[2018-01-28 10:34] nikhita commented on #58875
/assign

[2018-01-28 11:21] nikhita commented on #58875
Created the PR: https://github.com/kubernetes/kubernetes/pull/58926

[2018-01-28 11:24] Thermi commented on #32075
/remove-lifecycle rotten
/lifecycle frozen

[2018-01-28 12:01] liggitt commented on #58285
Cluster lifecycle (addons in general) or networking (dns in particular)

[2018-01-28 12:37] jpds commented on #10456
This issue is also fixed by https://metallb.universe.tf/

[2018-01-28 13:19] minherz commented on #55894
The official kubernetes documentation [clearly states](https://kubernetes.io/docs/reference/workloads-18-19/) that versions 1.8.* uses deployment `apiVersion` as `apps/v1beta2` and versions 1.9.* as `apps/v1`. In the original post it was stated that the problem exists for versions 1.7.7 and 1.8.0. However, it is unclear whether version 1.8.0. was the cluster or kubectl.

[2018-01-28 14:29] Xuxe opened #58927 "vSphere cloud provider fails to attach a volume due to Unable to find VM by UUID"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I'm trying to deploy a Kubernetes v1.9.2 cluster on vSphere with the vSphere-Cloud-Provider.
All works fine except the persistent volume attachment.
With Kubernetes v1.8.7 the attachment works fine on the same VMs and vSphere environment.

**What you expected to happen**:
The volume attachment works without errors like "Ca

[2018-01-28 14:37] Xuxe commented on #58927
/sig storage
/sig cloud provider

[2018-01-28 14:50] dims commented on #54012
per comment from @mindprince looks like we need to move this milestone to v1.11 (https://github.com/kubernetes/kubernetes/issues/54101#issuecomment-359127274)

[2018-01-28 14:52] CesarF commented on #58921
Same issue,

[2018-01-28 16:15] #39101 closed

[2018-01-28 16:16] bhack commented on #54011
@bluca see also https://github.com/NVIDIA/nvidia-docker/issues/617

[2018-01-28 17:12] yurig93 commented on #52906
@jingxu97 yes, moreover dynamically provisiond ebs volumes sometimes fail to attach...
`Events:
  Type     Reason                 Age                 From                                                  Message
  ----     ------                 ----                ----                                                  -------
  Normal   Scheduled              41m                 default-scheduler

[2018-01-28 18:24] j0gger commented on #58686
@colemickens What should be the default? 0.0.0.0? Or should it retain the current behavior of picking up hosts default interface?

[2018-01-28 18:34] j0gger commented on #58686
/assign

[2018-01-28 19:20] bgrant0607 commented on #58277
There are no plans and no prior requests AFAIK, and we don't have hardware to test it.

It also looks like a pretty small niche at this point:
http://linuxgizmos.com/amd-reveals-arm-and-x86-soc-and-apu-plans/

Yes, closing.

[2018-01-28 19:20] #58277 closed

[2018-01-28 19:23] smarterclayton commented on #29708
/close

I don't think there's enough reason to keep this specific issue open

On Sun, Jan 28, 2018 at 1:39 PM, fejta-bot <notifications@github.com> wrote:

[2018-01-28 19:23] #29708 closed

[2018-01-28 19:24] smarterclayton commented on #28746
/remove-lifecycle rotten
/lifecycle frozen

On Sun, Jan 28, 2018 at 11:37 AM, fejta-bot <notifications@github.com>
wrote:

[2018-01-28 21:06] martynd commented on #57325
Have come across this also, @frittentheke @liggitt.

As a _TLDR_; I think the best line of segregation would be at the ingress class level.
The ingress controller would load any applicable secrets for the class for which it will be servicing irrespective of namespace (basically the same manner in which it does with the ingress resources themselves).

By _design_, ingress classes are the more divid

[2018-01-28 21:08] wmlynch commented on #58212
I found this issue:  https://github.com/kubernetes/kubernetes/issues/58212

[2018-01-28 22:02] jdanbrown commented on #29838
/remove-lifecycle rotten

[2018-01-28 22:02] jdanbrown commented on #29838
/remove-lifecycle stale

[2018-01-28 22:02] jdanbrown commented on #29838
Still an issue and still confusing to the user. I'd love to see a fix for this!

[2018-01-28 23:07] jhorwit2 opened #58931 "OpenAPI custom columns don't work with `--watch` flag"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I have custom columns defined via the openapi attribute for resources in my apiserver. They show up just fine when I run `kubectl get instances` but they do not show up when I run `kubectl get instances -w`

[code]

**What you expected to happen**:

I expect the same columns that show up in `kubectl get` to show up when

[2018-01-28 23:24] euank commented on #53887
/close

inode issues are largely container-runtime (e.g. docker) issues, not k8s issues.

[2018-01-28 23:24] #53887 closed

[2018-01-28 23:51] rjmorse commented on #52984
The instructions (from v1.5) referenced specified [building on Windows ](https://github.com/kubernetes/website/blob/9d9f87257a7f7377dc7b876242a800d5b794b407/docs/getting-started-guides/windows/index.md#component-setup) which has known issues. The instructions were [updated with v1.9](https://github.com/kubernetes/website/pull/6180) to reflect the cross-build method (Windows binaries are built on L

[2018-01-28 23:57] rjmorse commented on #56751
The [Getting Started guide for Windows](https://kubernetes.io/docs/getting-started-guides/windows/) was [updated a bit after](https://github.com/kubernetes/website/pull/6180) you created this issue.  OVN/OVS is not the only solution for networking in a heterogeneous cluster.  It is probably the most complete option as of today IMO.

[2018-01-29 00:00] rjmorse commented on #56752
I believe this is resolved by comments at https://github.com/kubernetes/kubernetes/issues/56696#issuecomment-348874784 and updated docs with v1.9 release at https://kubernetes.io/docs/getting-started-guides/windows/

[2018-01-29 00:38] rjmorse commented on #57129
Please re-post your question to [Stack Overflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see mess

[2018-01-29 00:55] rjmorse commented on #53881
This doesn't look related to running Kubernetes on Windows, but getting Minikube running inside a VM on Windows. This should probably be closed in favor of creating a new question on Stack Overflow, or finding one that is already answered.

A number of related troubleshooting issues exist: https://stackoverflow.com/search?q=%5Bminikube%5D+windows

[2018-01-29 00:55] rjmorse commented on #44705
This issue should likely be closed for staleness.

[2018-01-29 01:32] ConnorDoyle commented on #28315
Vote to close this for now unless there is active work on it, or if that work is happening out of tree.