[2020-06-24 16:54] hasheddan commented on #73168
@cofyc is this going to be addressed? If not, can I remove https://github.com/kubernetes/kubernetes/blob/f834c92ce1163afd44bb039cc3785b9b4ce66b1e/test/e2e/storage/persistent_volumes-local.go#L282?

[2020-06-24 16:58] TBBle commented on #92321
As noted in https://github.com/kubernetes/cloud-provider-aws/issues/87#issuecomment-648603010, changing most of these options will require a new `TargetGroup`, and so supporting these will fix in-passing #80996, as changing `externalTrafficPolicy` fails when it implicitly changes these values and the `TargetGroup` is modified. `externalTrafficPolicy` should affect the _defaults_ before the overrid

[2020-06-24 17:16] justaugustus commented on #92242
Thanks everyone!

[2020-06-24 17:24] brettjenkins commented on #88986
Could this be the cause of this issue I'm seeing? I'm new to K8s/flannel/MetalLB so it's possible I've done something stupid

OS: Freshly installed Ubuntu 18.04 LS

MetalLB: v0.9.3

Fresh installation of k8s via kubeadm - 3 node cluster, 1 master, 2 nodes.
BCP mode connected to pfsense using openbgpd

Flannel: v0.12.0-amd64

K8s version: v.1.18.4

Kube-Proxy has been set to ipvs mode with strict o

[2020-06-24 17:31] #65414 closed

[2020-06-24 17:44] Huang-Wei opened #92475 "Preemption logic on PDB violations"
In one recent fix (#91986), we enhanced the preemption logic to respect `pdb.Status.DisruptedPods`. But there is a glitch:

https://github.com/kubernetes/kubernetes/blob/ef8380e6c0ada9ef682d2d3566cbb16b79445233/pkg/scheduler/core/generic_scheduler_test.go#L1486-L1502

- if we changed the DisruptedPods  in L1499 from "a" to "b", the test would fail
- it would also fail if we change the pods (i.e.,

[2020-06-24 17:44] Huang-Wei commented on #92475
/assign

[2020-06-24 17:44] Huang-Wei commented on #92475
cc/ @ahg-g @denkensk

[2020-06-24 17:50] sarabjeetdhawan commented on #23880
Ok, do NOT try this workaround. It broke my MetalLB. I mean it worked fine for a few mins and now the IPs are not accessible at all. Infact, even after i removed the service and recreated the old way(by just using TCP), i still can't access the services at all even though they are showing up and running on the master. urghhhhh

[2020-06-24 17:51] zimmertr commented on #23880
I've been using that strategy in production for months without issue.

[2020-06-24 17:51] #80586 closed

[2020-06-24 17:54] brandond commented on #23880
@sarabjeetdhawan that's because you're not supposed to set it to 'true' everywhere, you're supposed to set it to a unique key per service that you want to share an IP. If you set all your LBs to the same thing ('true', for example) it will try to group them all together. This is covered in the docs.

[2020-06-24 17:57] sarabjeetdhawan commented on #23880
hmm.. this what my yaml file looked like.. Any ideas how to fix it back so that it can atleast start working with one protocol (TCP or UDP):

kind: Service
apiVersion: v1
metadata:
  name: testdns-tcp-service
  annotations:
    metallb.universe.tf/allow-shared-ip: "true"
spec:
  selector:
    app: testdns
  type: LoadBalancer
  loadBalancerIP: 10.108.35.148
  ports:
  - name: dnstcp
    port: 53

[2020-06-24 17:58] neolit123 commented on #92431
that is true, the "argument map" in kubeadm would allow you to override the default.
i added the item the kubeadm ticket https://github.com/kubernetes/kubeadm/issues/1612 because using different logic between v4 and v6 is weird.

what happens after kubeadm passes your arg to kube-controller-manager.yaml, is out of scope for kubeadm - i.e. if the range is not respected and this relates to the reque

[2020-06-24 18:00] miekg commented on #23880
That's a fairly baseless claim that warrants evidence.

On Wed, 24 Jun 2020, 19:50 ssd2020, <notifications@github.com> wrote:

[2020-06-24 18:05] sarabjeetdhawan commented on #23880
Maybe I did something wrong there as @brandond just mentioned. If I did, I am just trying to understand exactly how to revert that change and do it the right way.

[2020-06-24 18:11] fl-max commented on #90922
I think **expanding** a CIDR (ie. `/24` to `/23`) block is much more tedious than **shrinking** a CIDR (ie. `/24` to `/25`). Assuming this is true, maybe it would be better to split this into two features; "Expand CIDR mask size" and "Shrink CIDR mask size". I believe the latter would be much simpler to implement.

[2020-06-24 18:29] neolit123 commented on #92360
tracked here:
https://github.com/kubernetes/kubeadm/issues/2197

[2020-06-24 18:38] brandond commented on #23880
This is not the right place for a tutorial on proper use of MetalLB anyways. This belongs on a slack channel somewhere at best.

[2020-06-24 18:42] sarabjeetdhawan commented on #23880
I understand. I am now using a completely different "key" for each service pair in this way:

e.g. for ss-dns pod:

[code]

However, i just cannot reach these ports (53/10000) at all anymore. Even when I am not using this workaround (e.g. using just one TCP service):

I even rebooted my master and I see this now:

[code]
I am in a bind. Not sure what happened there.. Any help is appreciated..

[2020-06-24 18:50] zimmertr commented on #23880
Please understand that every time you leave a comment here you send a notification to dozens of people. Many of which are only subscribed to this issue to track its closure.

GitHub's Issue tracker is not a place where you should seek support for software. There are dedicated channels for this. Including a public Slack server with a channel for MetalLB.

https://kubernetes.slack.com/messages/metal

[2020-06-24 19:18] alexeldeib commented on #61667
@mtaufen @dashpole any news about this? I know some large providers use this in production, is there any work in progress to map this to kubelet config? Is there anything blocking simply moving the flag to component config?

I'm interested in using this feature but also want to convert to component config, this was one of the standouts still missing.

[2020-06-24 19:28] evalsocket opened #92480 "client-go returns error if serverResourcesForGroupVersion method return 0 resources"
**What happened**:
In client-go package [Memcached](https://github.com/kubernetes/kubernetes/blob/dc0122ca6a7503de3923d5026073882822d5008e/staging/src/k8s.io/client-go/discovery/cached/memory/memcache.go#L228) return error if we get zero resources of group version but ideally it should return nil.

**What you expected to happen**:
`serverResourcesForGroupVersion` method should return nil if it get

[2020-06-24 20:06] sarabjeetdhawan commented on #23880
I apologize for flooding this thread with all this information. I just want to update for other folks who may get spooked by looking at my original comment about that workaround breaking my MetalLB.

By incorrectly sharing the keys between two different deployments, i broke the whole thing (Thanks @brandond for pointing that out). I had to reboot the master and nodes for it to start accepting conn

[2020-06-24 20:09] neolit123 commented on #92360
i cannot reproduce the issue:

panic: test timed out after 2m0s

[code]

the above is tested in a fairly low spec-ed Ubuntu VM.
having these integration tests run for about <60 seconds has always been the case, so if they are failing in the prow jobs, my explanation is slow CPU during the runtime of the tests.

[2020-06-24 20:24] neolit123 commented on #92360
to clarify further, there are no recent changes that increase the runtime of these particular tests.

kubeadm cmd tests can set a custom KUBE_TIMEOUT to more than 2 minutes if that is what the maintainers want to avoid the recent observed decrease in performance in the prow cluster (confirmed by others as well). maybe increasing the timeout to 3 or 4 minutes (that is an threshold increase from 2x

[2020-06-24 20:31] #92186 closed

[2020-06-24 20:52] Riaankl commented on #90877
Notes from Conformance Meeting:
6 May 2020

- It's not necessary one per node, it has a target set of schedulable nodes, count and compare that
- taints are considered destructive - there is a utility to get me a list of schedulable nodes
- Number of pods ready is equal to the number scheduled
- Daemonset is doing what it is doing VS what the user is expecting
- As a user I expect it to deploy to

[2020-06-24 20:59] alculquicondor commented on #89396
We just fixed this for KubeSchedulerConfiguration (going for v1beta1 in 1.19) #91625

Once this is GA, the Policy API (which uses this Extender type) will be removed #92143

[2020-06-24 20:59] alculquicondor commented on #89396
/close

[2020-06-24 21:00] #89396 closed

[2020-06-24 21:14] michaelgugino commented on #80389
@liggitt could you reopen this?  I don't have permissions, there are other issues outstanding related to this bug.

[2020-06-24 21:17] r-dilip commented on #76660
where else can we get the node capacity locally without making an remote call to either the metrics server or the API Server.
Previously, we were making a call to the /spec/ endpoint and parsing the CPU and Memory Capacity from the response, like below.

root@omsagent-rs-6bcfff79fb-bt476:/opt/microsoft/omsagent/plugin# curl http://$NODE_IP:10255/spec/
{
  "num_cores": 2,
  "cpu_frequency_khz": 239

[2020-06-24 21:17] BenTheElder commented on #88553
@AkihiroSuda someone has to actually propose a plan and staff an effort to remove this, which will require non-trivial work.

Switching out bazel would require ensuring alternatives exist and run smoothly in CI at minimum.

We still only have caching in presubmit via bazel and our builds are non trivial, there's a quick prototype of doing something this for go on our CI, but the person who built t

[2020-06-24 21:21] BobyMCbobs commented on #90877
Uncertainties:
- how many DaemonSet Pods should be expected for the test?
- should Nodes be labeled to cap the number of expected DaemonSet Pods? - is there risk to this? - is it a behaviour that is allowed in conformance?

[2020-06-24 21:24] BenTheElder commented on #88553
Note that https://github.com/kubernetes/kubernetes/issues/88553#issuecomment-602411809 does not propose a workable plan, we can't just stop testing build & unit in presubmit, and merely switching them will incur non-trivial CI overhead, despite treating it otherwise, our resources there are finite and wg-k8s-infra has not taken ownership of them yet so they are not easily changed. Someone needs to

[2020-06-24 21:27] ankeesler commented on #91913
Seems like a least common denominator here is to fix the describe behavior so that it doesn't create so many clients. I'll try to see if I can improve on that for starters.

[2020-06-24 21:28] cheftako commented on #92411
@ragunathan23 Could you provide the output for the following commands?
kubectl get mutatingwebhookconfiguration sidecar-injector.istio.io -o yaml
kubectl get mutatingwebhookconfiguration istio-sidecar-injector -o yaml
kubectl -n istio-system get endpoints istio-sidecar-injector -o yaml

[2020-06-24 21:29] BenTheElder opened #92488 "verify-generated-files-remake.sh fails to fail"
[code]
/sig testing
/sig release

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/92474/pull-kubernetes-files-remake/1275829687804760065

[2020-06-24 21:32] BenTheElder commented on #92360
we did just change go version? I have no other particular insight.

the prow cluster cannot guarantee performance when all the jobs are free-for-all CPU and changing that is non-trivial.

I've semi-recently set a minimum default CPU request across the board, which should _reduce_ issues with poor performance.

[2020-06-24 21:33] BenTheElder commented on #92360
we also have unbounded increased usage of prow via more and more project but the node pool is fixed size ...
we should really get the wg-k8s-infra move prioritized :/

[2020-06-24 21:34] neolit123 commented on #92360
i tested with 1.14.4 locally.

should this be done still?

[2020-06-24 21:35] BenTheElder commented on #92360
I see from your output that about 1/2 of the current timeout is achieved locally on a machine that is probably not under any load, so increasing the timeout SGTM

[2020-06-24 21:36] neolit123 commented on #92360
ack, i will send a PR to increase the timeout.

[2020-06-24 21:41] fejta commented on #88553
Getting these repos update to bazel v1 has already happened, and we have patterns for using `.bazelversion` in presubmit to validate the new version works before flipping it on.

Whether or not we are using bazel, figuring out a recipe for not downloading many GBs of worth data for each test on each commit on each PR will be a gigantic CI improvement.

[2020-06-24 21:50] johngmyers commented on #80389
/reopen

[2020-06-24 21:53] johngmyers commented on #80389
/close
Looks like there was a commit merged fixing this. @michaelgugino please explain what the other issues are or open new issues for them.

[2020-06-24 21:54] aojea commented on #91548
/assign
it seems that this is the most affected

https://testgrid.k8s.io/sig-testing-kind#kind-ipv6-master-parallel

[2020-06-24 22:08] jkaniuk commented on #92470
Cause:
Recently introduced new measurement - OOM Tracker - listen OOM events reported by node-problem-detector.
Bug: OOM Tracker did not filter out events that happened before tests started, so also during cluster up.
Addon resizer is not fast enough to resize pods (like heapster) during cluster creation, leading to OOMs, which were reported as test failures.

Already fixed here: https://github.co

[2020-06-24 22:10] hasheddan commented on #92470
Thanks @jkaniuk! This only runs once a day so may take a bit to confirm :+1:

[2020-06-24 22:10] aojea commented on #91548
some errors on the failing job

`Jun 24 20:35:30.272: INFO: exec kind-worker2: stderr:    "5120+0 records in\n5120+0 records out\n20971520 bytes (21 MB, 20 MiB) copied, 0.734787 s, 28.5 MB/s\nlosetup: /tmp/local-driver-cb628f37-301e-45ce-a39c-26c579c377bd/file: failed to set up loop device: No such file or directory\n"`

per slack conversation, Ben has an idea of what can be causing those errors
h

[2020-06-24 22:16] neolit123 commented on #92360
PR is here:
https://github.com/kubernetes/kubernetes

[2020-06-24 22:22] jherrera123 commented on #92488
I'll work on this one

/assign

[2020-06-24 22:29] MrHohn commented on #90830
The name is confusing :) ESIPP (External Source IP Preservation) is now a GA Service API field -> ExternalTrafficPolicy.

Took a quick glance at the test result - it looks like there are some blips on the load balancer traffic that are affecting the test result. I believe it is more of a test setup issue other than a real bug.

Consider that it's been flaky for a long long while and nobody has giv

[2020-06-24 22:35] BenTheElder commented on #90830
what sort of "test setup" issue?
the cluster? the test readiness logic?

Tests can be ~jailed with a `[Flaky]` tag

On Wed, Jun 24, 2020 at 3:29 PM Zihong Zheng <notifications@github.com>
wrote:

[2020-06-24 22:44] michaelgugino commented on #80389
@johngmyers Yeah, that was my PR, it only covered the case of pending pods, not pods in any other state.

Per all the previous discussions here, I think we should aim to include all not ready pods.  The workflow is a bit different than what we did for just pending pods; for just pods stuck in pending, we know they were never ready, so we don't even have to check PDBs.  For pods that are not ready,

[2020-06-24 22:56] johngmyers commented on #80389
/reopen
for the general case of pods not in the Ready state.

[2020-06-24 23:02] MrHohn commented on #90830
the cluster? the test readiness logic?

Sorry for no being clear, I observed some I/O timeouts on the load balancer traffic and that seems to trigger the session affinity being unhold. I was thinking that the test logic is not entirely correct that it tries to verify the behavior while the load balancer is still being stabilized. I guess "test setup" is a wrong word, but the way the test is writte

[2020-06-24 23:10] pjh commented on #88974
Hi @hasheddan, yes we are getting value from `gce-windows-1909-master` and `gce-windows-2019-master`. For each test job it looks like there are currently four tests that are consistently failing, and other tests are flaking occasionally. This is certainly a useful signal to tell us "things are stable, nothing major is broken." When something major _was_ wrong, we [fixed it](https://github.com/kube

[2020-06-24 23:16] hasheddan commented on #88974
@pjh thanks for following up and definitely understand that these last few months have been extremely disruptive! Is there anything that we can do to help your team? I and other CI signal members would be more than happy to jump in and help maintain some of these jobs with you :)

[2020-06-25 00:35] wwz801226 commented on #92242
good

[2020-06-25 00:36] wwz801226 commented on #92242
1.16.4 resolved

[2020-06-25 01:22] divyenpatel opened #92496 "unable to mount the volume on windows node VMs"
**What happened**:
unable to mount the volume on windows node VM.

mount is failing with

Steps:

1. Created SC, PVC, and POD.
2. Note down node on which pod was created.
3. deleted pod.
4. cordoned node noted in the step-2.
5. recreated pod using the same claim.
6. Pod creation is failing with FailedMount.

**What you expected to happen**:
Volume should be mounted on node VM.

**How to reproduce

[2020-06-25 01:22] divyenpatel commented on #92496
/sig-vmware

[2020-06-25 01:23] divyenpatel commented on #92496
/sig-windows

[2020-06-25 01:25] divyenpatel commented on #92496
/sig windows
/sig storage
/sig vsphere

[2020-06-25 01:26] divyenpatel commented on #92496
@gab-satchi @SandeepPissay

[2020-06-25 01:29] pigletfly commented on #88523
/remove-lifecycle rotten

[2020-06-25 01:38] robscott commented on #91954
Hey @emilwallner, thanks for the bug report! I've spent some time digging through the code and unfortunately haven't found anything quite yet. I've got a few follow up questions for you that could help debug this:

1. Did this issue appear for you in GKE 1.17? Have you run into this on older Kubernetes versions?
2. Was there any other network activity during this test?
3. Have you run into this is

[2020-06-25 01:42] therealbubbasour commented on #88986
Does it help to change Flannel backend from vxlan to to host-gw in your deployment? In my case that was a workaround that resolved the problem at hand with delays. @brettjenkins

[2020-06-25 01:54] BenTheElder commented on #92488
thanks!
/remove-sig release
(on second thought this is just SIG Testing)

[2020-06-25 01:54] BenTheElder commented on #92488
/lifecycle active

[2020-06-25 01:59] #87558 closed

[2020-06-25 02:26] #91677 closed

[2020-06-25 04:20] BobyMCbobs commented on #90916
When using the _appv1.Deployment_ structure instead of maps of interfaces to build the structure in a patch of the Deployment, this error comes up. Still in progress

yment-static":"true"}: `selector` does not match template `labels`, spec.selector: Invalid value: "null": field is immutable]

[2020-06-25 04:40] #79523 closed

[2020-06-25 04:43] bitti commented on #27308
I think @liggitt provided the best solution yet, since it works with standard tools. The only problem is that he provided so many examples that the main point may have been obstructed. All you need to have is a setup of minimal config files to define the different contexts and an easy way to switch.

There is one thing required though to make this practical: the context defining config files shoul

[2020-06-25 04:57] ragunathan23 commented on #92411
@cheftako Please find the output for the respective commands:
1. kubectl get mutatingwebhookconfiguration sidecar-injector.istio.io -o yaml
Error from server (NotFound): mutatingwebhookconfigurations.admissionregistration.k8s.io "sidecar-injector.istio.io" not found

2. kubectl get mutatingwebhookconfiguration istio-sidecar-injector -o yaml

apiVersion: admissionregistration.k8s.io/v1
kind: Mutati

[2020-06-25 05:22] gongx commented on #89922
@barucoh
If we set a 'strict' requirement for affinity/anti-affinity, the scaling down deployment will definitely honor the setting.
If we set a 'prefer' requirement for affinity/anti-affinity,  it means that we are trying the best to honor the setting, and even the deployment, before scaling down, can not be guaranteed. So, after scaling down, the deployment does not fully honor the setting shoul

[2020-06-25 05:37] karthikdialpad commented on #68940
This problem still persist, is there any workaround available to fix this?

[2020-06-25 06:11] 13567436138 opened #92499 "kubectl annotate doesnot have --list option"
**What would you like to be added**:
add --list option to kubectl annotate command

**Why is this needed**:
like kubectl label command，show annotations quickly

[2020-06-25 06:54] StefanSa commented on #92463
This helps me as a short-term solution.
`yum update --skip-broken --nobest`

but does not fix the actual packet conflict.

[code]

[2020-06-25 07:02] mister0825 commented on #70082
Another vote for slow disks being the underlying issue. I'm running a 3-master, 3-worker OpenShift 4 cluster on top of RHV with each VM having 4 vCPUs and 16GB RAM. Ran into these exact same issues until I moved the virtual disks for my master VMs to NVMe storage. Not a single issue since. Upgrades that took over 2 hours now finish in ~ 30 minutes. 'etcdctl check perf' now PASSes every time as wel

[2020-06-25 07:50] tosi3k commented on #92470
I see the newest test run (the one started at 10:01 PDT on 06-24-2020) is green and it indeed uses the fix in https://github.com/kubernetes/perf-tests/pull/1346. The issue can be closed now.

[2020-06-25 07:52] tosi3k commented on #92470
/close

[2020-06-25 07:54] pjbgf commented on #82647
A least privileged custom seccomp profile for the dashboard depends on a few PRs being merged (https://github.com/kubernetes/kubernetes/pull/90949, https://github.com/kubernetes/kubernetes/pull/90948), as pointed out on issue #84623.

[2020-06-25 08:11] dgrisonnet opened #92500 "Data race when creating isomorphic Events with an "k8s.io/client-go/tools/events".EventRecorder"
**What happened**:

I wrote a test creating multiple isomorphic Events with an "k8s.io/client-go/tools/events".[EventRecorder](https://github.com/kubernetes/client-go/blob/master/tools/events/interfaces.go#L26) and stumbled upon a data race.

The data race happens in the [recordToSink](https://github.com/kubernetes/client-go/blob/v0.18.2/tools/events/event_broadcaster.go#L153) function. It seems t

[2020-06-25 08:13] dgrisonnet commented on #92500
/sig api-machinery

[2020-06-25 09:11] rakeshreddybandi commented on #91994
HI @alculquicondor Sorry for delay.. Created a PR

[2020-06-25 09:24] brettjenkins commented on #88986
What are the steps to do this @therealbubbasour ?

[2020-06-25 09:58] leodotcloud commented on #90770
I am not sure if the successive delete operations are triggered by k8s. The delete operations have the same opID with differing "sub" field. The same opID indicates that the second delete operation did not initiate from rancher/k8s but it could be some internal task triggered inside vCenter.

DELETE SUCCESS:
var/run/log/hostd.log:2020-06-19T00:08:31.300Z info hostd[2796274] [Originator@6876 sub=Os

[2020-06-25 10:00] hkamel opened #92502 "[Failing test] Conformance - GCE- master (ci-kubernetes-gce-conformance-latest)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

Test Panicked
/usr/local/go/src/runtime/map_faststr.go:204

k8s.io/kubernetes/vendor/k8s.io/apimachinery/pkg/util/sets.String.Insert(0x0, 0xc001406da8, 0x1, 0x1, 0x0)
	/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/vendor/k8s.io/apima

[2020-06-25 10:01] invidian commented on #92067
I also get hit by this, when single controller node gets rebooted and scheduler starts as static container before kubelet becomes ready.

[2020-06-25 10:05] viktoriaas commented on #13136
+1 need this support too. I just can't believe kubernetes doesn't support nfs4 with krb in any (obscure) way

[2020-06-25 10:09] JulienBalestra opened #92504 "[azure] kube-controller-manager panics because of the cloud-config init"
**What happened**:

While trying to setup a `kube-controller-manager` outside of the cluster, I had a panic as follow:

[code]

**What you expected to happen**:

Produce an error message as my configuration lacks some options.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.18.

[2020-06-25 10:17] JulienBalestra commented on #92504
/sig cloud-provider

[2020-06-25 10:29] danwinship commented on #92439
Is there some feature/bugfix you're working on in kubernetes that needs this?

[2020-06-25 10:37] luigibk commented on #92439
Yes, in kubernetes/dns (node-cache) actually.

https://github.com/luigibk/dns/pull/1/files

That PR is working, but it's only in my fork of kubernetes/dns at the moment as it depends on this. It solves this:

https://github.com/Azure/AKS/issues/1642

Adding this code to ebtables would help me avoid re-inventing the wheel there.

[2020-06-25 10:42] luigibk commented on #92439
... not sure if you've seen that ... but I have created  a PR to solve this issue already:

https://github.com/kubernetes/kubernetes/pull/92440

[2020-06-25 10:58] ragunathan23 commented on #92411
@cheftako one more observation. Today I deployed one custom metric for HPA purpose and the metrics were served over HTTPS. Kube API server started throwing the following error which is similar to the above-mentioned problem.

v1beta1.custom.metrics.k8s.io failed with: failing or missing response from https://10.97.179.122:443/apis/custom.metrics.k8s.io/v1beta1: Get https://10.97.179.122:443/apis/c

[2020-06-25 11:17] therealbubbasour commented on #88986
I don't have a PhD in Kubernetes, so I use K3s which is very easy to get up and running. Please have a look [here](https://rancher.com/docs/k3s/latest/en/installation/network-options/). You just set this on the master for deployment which is one liner discussed [here](https://rancher.com/docs/k3s/latest/en/quick-start/).

These arguments may be relevant:
[code]

[2020-06-25 11:22] shashankv02 commented on #92242
@justaugustus Is the fix applicable for 1.13.5 as well? We are still seeing this.

[code]

[2020-06-25 11:31] RobertKielty commented on #92469
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress/1275710904180150274

[2020-06-25 11:42] danwinship commented on #92439
Yes, I saw the PR first.

So, kubernetes/kubernetes isn't really intended to be vendored into other repos and kubernetes/dns is being bad here. It's dubious to add methods to `kubernetes/pkg/util/ebtables` that kubernetes itself isn't using because someone else might just end up removing them later when they notice that they're not being used...

OTOH the PR needs access to the internals of the eb

[2020-06-25 11:55] danwinship commented on #92439
/triage unresolved
adding back the triage tag so we'll talk about this at today's sig meeting...

[2020-06-25 11:55] test-account-0 commented on #74099
Not really a solution, but I'm ignoring it for now:
[code]

[2020-06-25 11:59] RobertKielty commented on #90736
Latest failure on this job is being tracked on this issue #91236

[2020-06-25 12:03] RobertKielty commented on #91236
This has failed again - https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1276103618642055168

[2020-06-25 12:11] jhgoodwin commented on #53533
As a naive software developer, it seems perfectly reasonable to me for system pods with time sensitive workloads to request a non-swap behavior, and other workloads (by default) pushed into a best effort category. Wouldn't that solve all the concerns?

[2020-06-25 12:15] rohith-vallabhaneni commented on #34583
The nodes running on other availability zones couldn't access this PV until if you use EFS rather than EBS

[2020-06-25 12:17] rkojedzinszky commented on #91073
Any ideas, suggestions where to look further?

[2020-06-25 12:40] rkojedzinszky commented on #91073
Today I have re-initialized 2 of my 3 master nodes to make sure etcd replicas are not corrupted. Just after the nodes have been joined, the same behavior could be observed: connecting to different masters resulted in different resourceVersions.

[2020-06-25 13:04] zhouya0 commented on #92499
/assign

[2020-06-25 13:04] RobertKielty commented on #91236
So reviewing the above logs note how in

**STEP: checking client pod connected to the backend 1 on Node IP 10.138.0.5**

28 attempts are made all in the 25th second of the 2 minute at 11am

Should this Step back off and wait a few seconds in between tries?

Am off to review the code. brb

[2020-06-25 13:10] hasheddan commented on #92502
/retitle [Failing test] Conformance - GCE- master (ci-kubernetes-gce-conformance-latest)

I am landing a fix for this now

/assign

[2020-06-25 13:23] mborsz opened #92506 "Node authorizer fails to authorize requests right after kube-apiserver restart"
**What happened**:

In kubernetes clusters with O(100k) pods, the initialization of watch cache and shared informer inside of kube-apiserver takes 30-50 seconds. Before this happens, node authorizer is not able to accept any request.
When this happens, kubelets are retrying the requests leading to a retry loop and generating a significant load on the master which in effect can significantly slow d

[2020-06-25 13:28] jan-hudec commented on #53533
@metatick said:

Linux standard C library is designed for replacing the memory allocator; the `malloc`, `realloc` and `free` are called through pointers for that purpose. So you could just LD_PRELOAD a library that would override them to allocate from a mmapped file.

It would actually perform exactly as normal swap, because it would be managed by the very same code in kernel. The only difference

[2020-06-25 13:31] RobertKielty commented on #91236
From reading ...  https://github.com/kubernetes/kubernetes/blob/e529bd0bcad66fd9afe4e7ad248acbc13563aaa0/staging/src/k8s.io/apimachinery/pkg/util/wait/wait.go#L430-L442

the intention expressed in the test code looks good to me.

It is not clear to me why there is a mismatch between the 28 tries in the POD Client Logs
and the expressed intention running the logContainsFn(podBackend1) every 5 secon

[2020-06-25 13:31] jan-hudec commented on #53533
@anguslees,
Did you ever get around to check the behaviour. If so, can you add some resolution or a link to one, please?

Thanks,
Jan

[2020-06-25 13:34] aojea commented on #91236
@RobertKielty we are trying to catch one failure in this PR that has additional debugging, it dumps the conntrack table of the nodes on a failure
https://github.com/kubernetes/kubernetes/pull/92423

[2020-06-25 13:43] hasheddan opened #92511 "[Failing Test] capg-conformance-v1alpha3-k8s-master (ci-cluster-api-provider-gcp-make-conformance-v1alpha3-k8s-ci-artifacts)"
**Which jobs are failing**:

`capg-conformance-v1alpha3-k8s-master (ci-cluster-api-provider-gcp-make-conformance-v1alpha3-k8s-ci-artifacts)`

**Which test(s) are failing**:

`Overall`

**Since when has it been failing**:

`06-24-20 21:29 CDT`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-informing#capg-conformance-v1alpha3-k8s-master

**Reason for failure**:

[code]

**Anything e

[2020-06-25 13:59] mm4tt commented on #92506
/sig scalability

[2020-06-25 14:12] luigibk commented on #92439
Thanks for your comments. I saw iptables used that way in node-cache and I thought it would be good for consistency to go down the same route with ebtables. To be honest I am not very keen on forking the entire package, for obvious reasons, but I can understand your reservations about this change.

[2020-06-25 14:17] #92511 closed

[2020-06-25 14:37] hkamel commented on #92502
Thanks @hasheddan !

[2020-06-25 15:06] farah commented on #92044
thanks @gnufied!

/assign

[2020-06-25 15:15] lubronzhan opened #92512 "Node not deleted when VM is deleted in vSphere environment"
**What happened**:
We have k8s cluster with version `v1.16.7`. And I noticed that if I deleted worker node VM from IAAS, then node stuck in  `notReady` state, I created statefulset before and the pod scheduled on that node was stuck in `Terminating` state, and no new pod was created to replace that.

Node should be deleted if no instance is found

**Related log**
[code]
[code]

[code]

When I chec

[2020-06-25 15:16] lubronzhan commented on #92512
/sig cloud-provider

[2020-06-25 15:20] zuzzas commented on #51017
/remove-lifecycle stale

[2020-06-25 15:23] vladiceanu commented on #50375
+1

[2020-06-25 15:36] divyenpatel commented on #92496
This issue only happens when the node does not have the docker image specified in the pod spec, and pre-formatted volume is specified in the pod spec.

If we pre-pull the docker image on the node, then this issue does not appear.

[2020-06-25 15:43] pvanderlinden commented on #68712
I think it no only needs documentation, but also a change:
It would be good to have 2 fields (probably needs better names), this way it's easy and clear when a job is finished and if it failed or not and when (someone can look at failed, succeeded and conditions for details):
- finished_time: only set when the job finished (either completely failed or completely finished)
- finish_type: 'failed or

[2020-06-25 15:45] spicysomtam commented on #50375
Its 2020 and its still a +1 from me.

[2020-06-25 15:54] mkur-ops opened #92515 "Container resource autoscaling spec.behavior.scaleDown.policies[0].value: Invalid value: 0: must be greater than zero"
**What happened**: Cannot create example described in [Configurable scale up/down velocity for HPA](https://github.com/kubernetes/enhancements/blob/master/keps/sig-autoscaling/20190307-configurable-scale-velocity-for-hpa.md#story-4-scale-up-as-usual-do-not-scale-down) story 4:

While creating HPA with `value:0` to disable autoscaling following error appears: `The HorizontalPodAutoscaler "autoscale

[2020-06-25 15:57] alanbrent commented on #89153
To add to the affected versions question: We're experiencing this in our EKS clusters, currently running version `v1.14.9-eks-f459c0`.

AFAICT that issue explicitly refers to using `pod.spec.securityContext.runAsUser`, which we are **not** doing. Instead, the container image sets the execution user. While the effect is roughly the same, the relevant Pod configuration is different so I probably wou

[2020-06-25 16:12] jafferaws commented on #91664
I have sorted out the issue. I have created a Python code that watches the Worker node creation events. So whenever ASG spins up a new node, after it joins to the cluster, the node wil be having a role as None , later the python code will add a appropriate label to the node dynamically.

Also, I have created a docker image with base of python script I created for node-label and it will run as a po

[2020-06-25 16:17] kag0 commented on #83938
I'd like to /reopen this issue. I agree that behavior working as designed shouldn't be logged as an error. Errors are something that we set alarms on, to draw the attention of those who maintain the cluster.
Logging errors for expected behavior makes it MUCH harder to find and deal with real errors that are affecting availability.

[2020-06-25 16:32] yacklebeam commented on #83938
Completely agree...the fact that something to be ignored (because it's "working as designed") is being logged as an error should be a red flag for a maintainer of any project, and something to /fix/.

[2020-06-25 16:32] jafferaws commented on #91664
Python Code:

`#!/bin/env python

from kubernetes import client, config, watch

import os, json

if "KUBECONFIG" in os.environ:
    config.load_kube_config()
else:
    config.incluster_config.load_incluster_config()

core = client.CoreV1Api()

def add_node_label(name, key, val):
    body = dict(metadata=dict(labels=dict([(key, val)])))
    core.patch_node(name, body)

if __name__ == "__main__":

[2020-06-25 16:39] xwu2git commented on #92358
Any response?

[2020-06-25 16:40] brancz commented on #58638
@portante we were re-iterating on this issue in today's sig instrumentation meeting, and the guarantee that Kubernetes gives is that a namespace is unique at any point in time, so we were wondering what use cases this was a necessity for?

[2020-06-25 16:41] dashpole commented on #58638
This came up at sig-instrumentation today.  We were trying to figure out what kinds of problems you could prevent by adding namespace UID.

[2020-06-25 16:45] #74650 closed

[2020-06-25 16:46] #92475 closed

[2020-06-25 17:21] pantelis-karamolegkos commented on #67014
We are experiencing a similar issue.

We are running `jenkins` on GKE 1.16.

We are using the official helm [chart](https://github.com/helm/charts/tree/master/stable/jenkins) to deploy it.

Very often, after a restart, the master pod fails to go into `Running` state because of failed mount error.

[code]

The problem usually gets resolved by itself after a long time, usually (a lot more than) 10 m

[2020-06-25 17:25] debugmiller commented on #45419
We have also encountered this issue where a container listed by docker ps hung on docker inspect
[code]
In our case we noticed the affected container was stuck on `runc init`. We were having trouble attaching or trace the main thread of `runc init`. It seemed that signals were not being delivered. As far as we could tell the process was stuck in the kernel and not making transitions back to user s

[2020-06-25 17:33] damemi commented on #89930
@ingvagabund has started moving some of these helpers to a newly-approved `library-go` staging repo, see https://github.com/kubernetes/kubernetes/pull/92507

[2020-06-25 17:33] #92270 closed

[2020-06-25 17:41] portante commented on #58638
The life-time of a namespace in kubernetes is potentially much shorter than log retention requirements placed on customers using that namespace, either self-imposed or legal.  A namespace might live for 2 months in a Kube deployment, but the logs might need to be retained for 1 year.

The UID ensures that re-used namespaces over time won't be tracked as the "same" when stored in some aggregated re

[2020-06-25 17:42] jcantrill commented on #58638
This original ask stems from a collector being able to scrape logs for pods and namespaces which no longer exist.  Possibly this is an issue related to the GC of those artifacts?  We experienced this issue in cases where QE was creating, deleting, re-creating a namepace that had the same name.  Technically, the left over logs are from a different namespace and the only way to uniquely identify the

[2020-06-25 18:18] justaugustus commented on #92272
We've published [v1.18.5-rc.1](https://github.com/kubernetes/kubernetes/releases/tag/v1.18.5-rc.1), [v1.17.8-rc.1](https://github.com/kubernetes/kubernetes/releases/tag/v1.17.8-rc.1), and [v1.16.12-rc.1](https://github.com/kubernetes/kubernetes/releases/tag/v1.16.12-rc.1), which include new hyperkube images.

Can you test these and let us know if this resolves your issue?
We're holding off on any

[2020-06-25 18:18] justaugustus commented on #92250
We've published [v1.18.5-rc.1](https://github.com/kubernetes/kubernetes/releases/tag/v1.18.5-rc.1), [v1.17.8-rc.1](https://github.com/kubernetes/kubernetes/releases/tag/v1.17.8-rc.1), and [v1.16.12-rc.1](https://github.com/kubernetes/kubernetes/releases/tag/v1.16.12-rc.1), which include new hyperkube images.

Can you test these and let us know if this resolves your issue?
We're holding off on any

[2020-06-25 18:19] justaugustus commented on #92275
We've published [v1.18.5-rc.1](https://github.com/kubernetes/kubernetes/releases/tag/v1.18.5-rc.1), [v1.17.8-rc.1](https://github.com/kubernetes/kubernetes/releases/tag/v1.17.8-rc.1), and [v1.16.12-rc.1](https://github.com/kubernetes/kubernetes/releases/tag/v1.16.12-rc.1), which include new hyperkube images.

Can you test these and let us know if this resolves your issue?
We're holding off on any

[2020-06-25 18:47] bridgetkromhout commented on #91880
/remove-triage unresolved

[2020-06-25 19:10] liggitt opened #92520 "[Flaky test] TestExpectationsOnRecreate"
**Which jobs are flaking**:

* pull-kubernetes-bazel-test

**Which test(s) are flaking**:

[code]

**Testgrid link**:

**Reason for failure**:

**Anything else we need to know**:
- links to go.k8s.io/triage appreciated
- links to specific failures in spyglass appreciated

* https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/90454/pull-kubernetes-bazel-test/1276221145426694147
* https://s

[2020-06-25 19:10] rkojedzinszky commented on #91073
Now, it can be seen, that querying different apiservers again return different resourceVersions:
[code]
192.168.8.60:16443 is a haproxy load-balancing traffic between 3 masters.

[2020-06-25 19:21] rkojedzinszky commented on #91073
@wojtek-t @jpbetz please let me know where to go further. My cluster runs on PI boards, perhaps, not the fastest ones. But if this issue depends on slow hardware, than it can pop up anytime on fast hardware as well.As I wrote, today I reinitialized 2 of my 3 masters to make sure no partitioning occured. Also, please have a look at my comments. Or, if you have a clue that my setup is broken, please

[2020-06-25 19:33] rkojedzinszky commented on #91073
It seems that it happens to resources where no objects exist at all. Can it be?

[2020-06-25 19:38] BenTheElder commented on #90739
/sig testing

[2020-06-25 20:14] fedebongio commented on #92500
/assign @jingyih
Would you mind taking a look to this one? thanks!

[2020-06-25 20:15] damemi commented on #92389
/cc @seans3

[2020-06-25 20:19] ialidzhikov commented on #92275
I checked now, `k8s.gcr.io/hyperkube:v1.16.12-rc.1` is fixing this issue (caused by and reproducible with `k8s.gcr.io/hyperkube:v1.16.11`). Thank you!

[2020-06-25 20:42] liggitt opened #92521 "consider setting GODEBUG=asyncpreemptoff=1"
**What happened**:

Kubernetes is poised to ship 1.19 based on go1.14 (as of https://github.com/kubernetes/kubernetes/pull/88638)

Per https://golang.org/doc/go1.14#runtime:

Based on discussion in reported issues (golang/go#36644, golang/go#38033, golang/go#38836), it appears that some stdlib methods can also encounter EINTR errors more frequently, and do not handle them in go1.14.

A stdlib miti

[2020-06-25 20:43] liggitt commented on #92521
cc @dims @justaugustus

[2020-06-25 20:44] pjh opened #92522 "Add Windows 2004 test jobs for GCE"
Windows Server 2004 was released last month, and sig-windows will likely support it for K8s 1.19. We need to add new test jobs that will appear on the [google-windows](https://testgrid.k8s.io/google-windows) / [sig-windows](https://testgrid.k8s.io/sig-windows) testgrids.

Steps to do this:
- Create a suitable VM image for Windows 2004 nodes. Historically for our test jobs we've used GCE's "Windows

[2020-06-25 20:44] pjh commented on #92522
/sig windows

[2020-06-25 20:44] pjh commented on #92522
/assign

[2020-06-25 20:45] pjh commented on #92522
/sig cloud-provider

[2020-06-25 20:46] pjh commented on #92522
cc @michmike @marosset @jsturtevant @jeremyje @YangLu1031

[2020-06-25 21:00] prameshj commented on #92248
Those errors should only happen at startup when the kube-dns service is still being setup. Are the i/o timeout errors consistently showing up?

[2020-06-25 21:05] BenTheElder commented on #92521
Is it possible for a binary to set this on itself at runtime?

[2020-06-25 21:05] prameshj commented on #92248
/assign @MarcoPalomo

[2020-06-25 21:06] prameshj commented on #92248
/remove-triage unresolved

[2020-06-25 21:07] wangyira commented on #92469
/assign @rramkumar1

[2020-06-25 21:07] wangyira commented on #92451
/assign @danwinship

[2020-06-25 21:09] liggitt commented on #92521
nope, happens before main() is called:

https://github.com/golang/go/blob/master/src/runtime/proc.go#L526-L577

[2020-06-25 21:10] wangyira commented on #92439
/assign @danwinship

[2020-06-25 21:10] wangyira commented on #92412
/assign @anfernee

[2020-06-25 21:12] wangyira commented on #92369
/assign @thockin

[2020-06-25 21:14] cmluciano commented on #92369
I'm also starting to work on the kube-proxy config changes so I can probably help out here if this is something we want to push forward

[2020-06-25 21:16] wangyira commented on #92306
/assign @bowei

[2020-06-25 21:17] wangyira commented on #92276
/assign @rikatz

[2020-06-25 21:19] bowei commented on #92155
/assign

[2020-06-25 21:19] jvassev commented on #53501
Hi,
This is really a kubelet problem. The /containerLogs endpoint [expects](https://github.com/kubernetes/kubernetes/blob/b98d9407cfdc24c477ab8066d1fb69ea0983a2f9/pkg/kubelet/kuberuntime/logs/logs.go#L280) to find a log file in `/var/log/pods/...` as mentioned in the first comment.

On EKS, using journald as log-driver works as expected. Their fork of k8s contains traces if a journal library used:

[2020-06-25 21:20] wangyira commented on #92125
/assign @dcbw

[2020-06-25 21:21] wangyira commented on #92098
/assign @thockin

[2020-06-25 21:22] wangyira commented on #92033
/assign @cmluciano

[2020-06-25 21:30] cheftako commented on #92411
Couple quick things. 1) "failurePolicy":"Fail" This means any problem, such as the istio service being unavailable will cause the webhook to refuse the incoming request. 2) rules: operations:["CREATE"],"resources":["pods"] means you will only get requests to create pods. However if that pod is for instance the pods need to serve the webhook or your metric server, then it won't get created. Have to

[2020-06-25 21:35] BenTheElder commented on #92521
/lifecycle active
/remove-triage unresolved

[2020-06-25 21:39] bigbitbus commented on #89898
We are also seeing this issue - trying to run a Django+WSGI+nginx server that works on a lower version of K8s, when we try this on Linode's managed Kubernetes service - LKE we see this

[code]

[2020-06-25 21:40] mtaufen commented on #61667
It was just moved: https://github.com/kubernetes/kubernetes/pull/91863

[2020-06-25 21:42] mtaufen commented on #44248
That makes sense for flags. Are there other warnings we'd want to be
careful with?

On Mon, Jun 22, 2020 at 12:41 PM Justin Santa Barbara <
notifications@github.com> wrote:

--
Michael Taufen
Google SWE

[2020-06-25 22:02] sapeish commented on #92296
It would help if the `subPath` limitation was also documented in the ConfigMaps section  where no limitation is mentioned and took me hours to get to this thread and understand what was the underlying issue: https://kubernetes.io/docs/concepts/configuration/configmap/#mounted-configmaps-are-updated-automatically

[2020-06-25 22:06] sapeish commented on #50345
It would help if the `subPath` limitation was also documented in the ConfigMaps section where no limitation is mentioned and took me hours to get to this thread and understand what was the underlying issue: https://kubernetes.io/docs/concepts/configuration/configmap/#mounted-configmaps-are-updated-automatically

[2020-06-25 22:16] justaugustus commented on #92521
FYI @kubernetes/release-engineering

[2020-06-25 22:45] thockin commented on #92369
I don't object to this in theory.  I expect it will expose a number of deps
to other k/k packages which will need to either be broken or the targets
will have to be moved up-and-out into leaf repos.  I also want to be
careful about what we claim is a "supported" API.  Today, it's all internal
which gives us a lot of freedom.  If we want to support APIs more widely,
we will need to think hard about

[2020-06-25 22:51] kfox1111 opened #92529 "ResourceQuota calculation"
**What happened**:

ResourceQuota usage by a pod seems to be the sum of the requests / limits of all containers within a pod, including initContainers.

**What you expected to happen**:

initContainers only run one at a time, and never when the main containers are running. So to make a pod QoS Guaranteed, those resources must be reserved and will never be used at runtime.

IE, its doing sum(contai

[2020-06-25 22:53] kfox1111 commented on #92529
/sig scheduler

[2020-06-25 22:54] kfox1111 commented on #92529
/sig scheduling

[2020-06-25 23:59] liggitt commented on #92529
Is that not what https://github.com/kubernetes/kubernetes/pull/29588/files fixed?

[2020-06-26 00:04] kfox1111 commented on #92529
That sure does look like a fix.

I could have sworn I ran into this a little while ago. I'll double check. Maybe something else happened to the namespace when I did it at the same time.

I'll verify.

[2020-06-26 00:16] kfox1111 commented on #92529
Hmm.. I am unable to verify it now on a fresh minikube. I think I ran into some other issue. Sorry for the noise.

[2020-06-26 00:16] #92529 closed

[2020-06-26 00:32] vishiy commented on #68522
@dashpole - Thanks. But running yet another pod/workload just for a few metrics and running many for each of these metrics is not scalable/sustainable in my opinion. So unless the metric server has these metrics available as a single consolidator/aggregator, we should probably rethink deprecating the remaining endpoints. It just breaks tooling & solutions people have built and these metrics are su

[2020-06-26 02:49] ragunathan23 commented on #92411
I am not sure whether we can delete the webhook as they might impact the
functionality of ISTIO. As I mentioned earlier with respect to metric
server which doesn't have any webhook also failing with connect timed out
exception. But after I changed the pod spec of the metric server with
hostNetwork: true, it started working.
Also I mentioned the pod network and kube api server are in different
subn

[2020-06-26 02:57] #90724 closed

[2020-06-26 02:59] riking commented on #82428
Comment on Slack said that this is likely due to https://github.com/golang/go/issues/31643

[2020-06-26 03:13] riking commented on #83471
Just had to try to support an outage caused by all 2 pods of a deployment getting stuck in image pull. The image is hardly gigabytes in size and shouldn't take more than ~2-3min to pull.

[2020-06-26 03:18] michmike commented on #92522
cc: @adelina-t

[2020-06-26 04:07] enj opened #92535 "auth: request signing"
Just writing down some thoughts from the [June 24th, 2020 sig-auth meeting](https://www.youtube.com/watch?v=Phco26zYEYs).

The kube API server supports generic authentication mechanisms via the aggregator front proxy (this proxy performs the actual authentication and then uses mTLS+headers to assert the desired identity to the API server).  As expected, this mechanism can be used to support Kerber

[2020-06-26 04:11] enj commented on #92535
cc @cjcullen

[2020-06-26 04:36] ragunathan23 commented on #92411
@cheftako we can get on a call, let me know your availability. I am in the IST timezone.

[2020-06-26 05:58] cheftako commented on #92411
I'm cheftako on Kubernetes slack. Feel free to reach out and we can arrange some time. I'm Pacific time

[2020-06-26 06:01] cheftako commented on #89466
/remove-lifecycle stale

[2020-06-26 06:02] cheftako commented on #89466
@fengzixu Are you still having the issue? If so can we get the info? If not can we close this issue?

[2020-06-26 06:09] BenTheElder commented on #92521
noting that docker has opted to skip over go 1.14 due to this issue.

On Thu, Jun 25, 2020 at 3:16 PM Stephen Augustus <notifications@github.com>
wrote:

[2020-06-26 06:45] wojtek-t commented on #91073
Ahh - the fact tht it happens for types with no objects actually made me know what is happening here.

Basically what is happening is that when kube-apiserver is starting, watchcache is initialized from "now" (i.e. it will be synced to resource version that was globally last in etcd at the time when it was initialized).
However, later it's updated only on changes of resources of those types. So wh

[2020-06-26 07:08] #92502 closed

[2020-06-26 07:40] MarcoPalomo commented on #92248
Not only at the startup. They are still showing up on each pod.

[code]
Even in the coredns logs, I still spot these "too long" domain name like down under :

[code]

[2020-06-26 07:46] uablrek commented on #92369
As I think as extending `kube-proxy` with more features or proxiers is a closed path, creating specialized proxiers must be the way forward.

I think there will be more custom-made stand-alone proxiers in the future living side-by-side with `kube-proxy` and selected with the `service.kubernetes.io/service-proxy-name` label;
[code]

I think now people copy code from `kube-proxy` in a kind of "wild-

[2020-06-26 07:47] wojtek-t commented on #91073
https://github.com/kubernetes/kubernetes/pull/92537 is out for review

[2020-06-26 07:58] aaronsuns commented on #50345
It's so sad that this one is closed without any improvement.   So we have to use symlink to workaround this problem?

[2020-06-26 08:11] justaugustus commented on #88408
/assign @saschagrunert
/unassign

Sascha -- Can you take this? I thought I was going to have time to look at this, but it's been a while.

[2020-06-26 08:25] ialidzhikov commented on #92504
/area provider/azure

[2020-06-26 08:30] saschagrunert commented on #88408
Sure, the reason for the failing test seems to have changed, I'm on it.

[2020-06-26 08:50] jkaniuk commented on #90955
Another flake on 2020-06-25:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1276123499869507584

[code]

[2020-06-26 08:53] jkaniuk commented on #90955
@VineethReddy02 - with another flake, could you look into it?

[2020-06-26 09:04] gianarb commented on #86295
Hello!! I had a look at this discussion and the sig-release is in the process of assigning old issues that does not have a sig yet. Related to this work there is this issue https://github.com/kubernetes/kubernetes/issues/87876 from @lubinsz that we do not know who can pick it up. Should we do as @BenTheElder and close it because out of scope for upstream? Thanks

[2020-06-26 09:15] cristiklein commented on #92535
Thanks for the detailed write-up @enj

I understand there are two concerns regarding the client-side request proxy:

1. **How to transmit configuration from kubeconfig to the proxy?** I think this can easily be addressed in the client-go to proxy API by making sure that relevant kubeconfig entries are transmitted. This can either be done with each request or as part of getting a connection UUID. I

[2020-06-26 09:38] saschagrunert commented on #88408
Fix is incoming in https://github.com/kubernetes/release/pull/1379

[2020-06-26 09:40] neicunlideyu opened #92538 "NodeDeletion Admission Plugin"
**What would you like to be added**:
A NodeDeletion admission plugin rejects node deletion request when the node is still ready.

**Why is this needed**:
If a ready node is deleted, pod gc controller will delete pods scheduled on the node immediately and forcely with zero grace period.
- This behaviour may have a bad effect on running pods because business processes are killed forcely.
- If many n

[2020-06-26 09:46] RameshJampana opened #92539 "certified-conformance : ./sonobuoy run --mode certified-conformance --wait -v 5 failed with timeout error"
certified-conformance : ./sonobuoy run --mode certified-conformance --wait -v 5 failed with below error

 level=error msg="Result processing error (409): result systemd-logs/cluster already received"
level=error msg="Result processing error (409): result systemd-logs/cluster already received"
 level=error msg="Result processing error (409): result systemd-logs/cluster already received"
level=error

[2020-06-26 09:52] mythi commented on #92211
@kad @mikebrow @RenaudWasTaken @mrunalp I've updated the Google doc based on what we discussed earlier this week. We ran out of time in SIG-NODE this week but I'll follow-up with this topic in the next call.

Meanwhile, we could discuss and agree on the annotation to use. How about separate entries for user/group as follows:

`io.kubernetes.cri.devices.uid: runAsUser`
`io.kubernetes.cri.devices.gi

[2020-06-26 09:53] brancz commented on #58638
If I understand correctly, this is not about a namespace being deleted and re-created quickly, but rather the same namespace name being used after a longer period of time, and the inability to differentiate those.

[2020-06-26 10:28] JasonRD commented on #86942
@alculquicondor We checkout the latest code of scheduler, find it had resolved the problem. And it is fixed with [this pr ](https://github.com/kubernetes/kubernetes/pull/86230).

[2020-06-26 10:51] uablrek commented on #86866
It sound this can be solved with a "headless service";

https://kubernetes.io/docs/concepts/services-networking/service/#headless-services

In this case K8s does not load-balance, you get all targets in the DNS response and shall to the load-balancing yourself.

Possible combined with a StatefulSet.

[2020-06-26 10:52] akshatailakal opened #92541 "Want to Upgrade elastissearch version to 7.7 using official elasticsearch docker image instead of custom docker image for upgradation"
I am trying to upgraded pods with 7.7 version of elasticsearch. Unable to do so. below is values.yaml. Referring to here https://www.docker.elastic.co/r/elasticsearch/elasticsearch-oss:7.7.1 for offical docker image
[code]
But pods are not running and are in CrashLoopBackOff state. below is the description of the pod

[code]

[2020-06-26 11:06] uablrek commented on #74677
Both iptables and ipvs proxiers generates input to "iptables-restore". It might be sufficient to store these for later retrieval?

The latest succesful and the latest failed (if any).

[2020-06-26 11:29] jwldk commented on #63371
Well, we had a fun morning with this issue. Was meaning to push a cronjob forward for later, but we sent out 1000 emails before we could kill it. Not what you would expect for a simple change og schedule.

[2020-06-26 11:36] wojtek-t commented on #92506
While #92508 is universally needed imho, I think that eventually we will need a bit more than that.

In the ideal world, I would like to have a post-start-hook that will not only wait for informers to be synced, but in addition to that will wait for the initial state to actually be applied in node-authorizer state. What I mean by that is "ensuring that handlers for all objects from the "initial li

[2020-06-26 11:52] strmdvr commented on #70324
/remove-lifecycle stale

[2020-06-26 11:54] cshivashankar commented on #61117
Is this issue resolved ? I am getting PLEG issues in my cluster and observed that this open issue from a long time.what is the resolution for this ?

[2020-06-26 11:55] cshivashankar commented on #45419
Is this issue resolved?
I am getting PLEG issues in my cluster and observed this open issue.
Is there any workaround for this?

[2020-06-26 12:10] rikatz commented on #74677
Lars is doing some old issue digging o/

I think the biggest issue with that is the size of the file. Tim's idea of putting some rate limiting is nice, also I think some authentication would be great as firewall rules tend to be 'confidential'.

The thing is: what happens when you've Calico and IPVS, Calico generating 50k rules and IPVS with 4k of services? ipvsadm-save returns a 1Mb file (that's

[2020-06-26 12:29] uablrek commented on #74677
If you want the entire iptables-save I would agree, but I meant the input to iptables-restore that kube-proxy generates in it's sync.

You can see it in the logs as a loong string with lots of "\"\n\"" which makes it hard to read and a ref to an error on "line 63".

That data only contains kube-proxy things. But it can of course be big anyway, but would be requested "on demand" from kube-proxy so

[2020-06-26 12:33] hakman commented on #91982
Fixed by #91366.
/close

[2020-06-26 12:33] liggitt commented on #92538
/remove-sig api-machinery

[2020-06-26 12:33] #91982 closed

[2020-06-26 12:34] rikatz commented on #74677
My point here is, for debugging reasons it would be great to have what kube-proxy generated and what really is installed / configured in the host.

So you can take the smaller and the big picture (and also see what kube-proxy proposed to be applied has really been applied in the host) but hey, great :D let's dig into that.

@thockin as this was your idea originally, what's the approach you've been

[2020-06-26 12:35] dims commented on #92539
please ask in https://github.com/vmware-tanzu/sonobuoy

/close

[2020-06-26 12:35] #92539 closed

[2020-06-26 12:47] den-is commented on #89898
UPD: So since my last comment, I've updated timeouts to something more realistic. e.g.:
[code]
Everything was quiet since then. But the day before yesterday, and yesterday: My prometheus-operator> alertmanger and slack have have exploded. And today by magic it is silent again not a single alert.

My apps is a usual PHP+Nginx pod. Staging environments deployed on 3 huge boxes. Just a dozen preview

[2020-06-26 12:59] CermakM commented on #77724
/reopen

[2020-06-26 13:01] CermakM commented on #77724
Really, what's the current way to extend the scheduler if this is deprecated? No luck so far figuring it out.

[2020-06-26 13:43] dims commented on #92521
@BenTheElder @liggitt how about we do old-school style fork-exec? https://gist.github.com/dims/a2a3f51804cce919a5cdd7fcb3f4fd1e

[2020-06-26 13:44] alculquicondor commented on #86942
#86230 is included in 1.18 though. Could you recheck the latest release of 1.18?

[2020-06-26 13:51] ewolinetz commented on #58638
correct

[2020-06-26 14:13] waynr commented on #92272
@justaugustus after working around the way our mount paths horribly break the hyperkube image's (perfectly reasonable) use of `alternatives` (we inexplicably decided at one point in the past to mount `/etc:/etc` and `/var:/var` into our kubelet container and I had no success in breaking these mounts down into smaller, actually necessary mounts that don't break `alternatives`) I once again encounte

[2020-06-26 14:14] seh commented on #63371
We too ran into this problem this week, several times before we caught on to what was going on.

[2020-06-26 14:18] waynr commented on #92272
Oh and just to clarify, attaching to the kubelet container and installing iproute2 appears to have fixed the worker node where this was happening.

[2020-06-26 14:33] liggitt commented on #92521
that's clever, but I would really like to avoid that... that seems full of edge cases

[2020-06-26 14:35] #87292 closed

[2020-06-26 14:44] CyberHippo commented on #63371
Also encountered this issue and I can't find a way to clear the `lastScheduleTime` except by deleting the CronJob..

[2020-06-26 14:49] liggitt commented on #92521
cc @kubernetes/sig-scalability-misc @mm4tt

I'd be interested to know if this cropped up in any of the scale testing on 1.14

[2020-06-26 15:14] aojea commented on #91236
for those following the issue, we've added extra debugging to the test so it dumps the whole conntrack table once it finish.
We should look that there is NO stale entries, connections from the pod client to the deleted endpoint)
and there is conntrack entries to the new endpoint from the pod client.

[2020-06-26 15:18] prameshj commented on #92248
ok, that likely means that coreDNS upstream did not respond to node-local-dns pod in 2s(which is the read timeout), so node-local-dns closed the connection. I just saw the issue description:

These requests are being sent because of searchpath expansion. But it seems like there is searchpath expansion happening twice.
For queries like:
[code]
I suspect the client app is looking up - "elasticsearch

[2020-06-26 15:38] BenTheElder commented on #92541
This sounds like you're asking for help with a helm chart -- helm is not part of the kubernetes project nor are the charts. You should file this bug against the chart.

[2020-06-26 16:04] ellistarn opened #92548 "Test autoscaling_timer.go incorrectly resets min/max ASG size after test."
**What happened**:
After the test ASG min/max were reset to the desired node count.

**What you expected to happen**:
Min/Max shouldn't be reset, desired should.

**How to reproduce it (as minimally and precisely as possible)**:
Run this command twice:
``` make WHAT=test/e2e/e2e.test &&  _output/bin/e2e.test --ginkgo.focus="\[sig-autoscaling\] \[Feature:ClusterSizeAutoscalingScaleUp\] \[Slow\] Aut

[2020-06-26 16:04] ellistarn commented on #92548
/assign ellis-tarn

[2020-06-26 16:09] micahhausler commented on #92535
The other option not yet discussed would be to integrate message signing directly into the client. Currently AWS uses a form of request signing ([SigV4](https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html)), but I don't think integrating a provider specific authentication mechanism is the right approach.

There is an early [IETF draft](https://datatracker.ietf.org/doc/draft-ietf

[2020-06-26 16:10] BenTheElder commented on #92548
/sig autoscaling

[2020-06-26 16:58] Zheaoli commented on #92364
/sig storge

[2020-06-26 16:58] aarononeal commented on #58748
Jobs with `concurrencyPolicy: Forbid` are still spawning at the scheduled time even though the previous job is still running.

The previous job is still in the `Pending / PodInitializing` status as the init container is performing a long running backup. A second job starts then interfering with the first.

Is this policy Pod state specific?

[2020-06-26 16:59] Zheaoli commented on #92364
/sig Storage

[2020-06-26 17:02] JulienBalestra commented on #92504
cc @feiskyer

[2020-06-26 17:02] tallclair commented on #76660
Why is it a problem to get the information from the API server?

[2020-06-26 17:14] tallclair commented on #53125
The system has to do work to restart the container. If the container is continuously exiting (even if it's success), then that creates a lot of churn for the system without a backoff.

[2020-06-26 17:15] tallclair commented on #91542
Thanks for the correction. Fixed.

[2020-06-26 17:16] VishalLahane opened #92551 "Multi Reference Key for ConfigMap and Secret"
**What would you like to be added**:
Using existing configMap or secrete keys create a new environment variable using multiple keys from configMap or environment variable.

Example:

env:
- name: SEVERHOST_PORT
  valueFrom:
    configMapRef:
      key: SERVER_HOST_NAME:SERVER_HOST_PORT
      name: db-server-details

like this, it should give me **SEVERHOST_PORT=demosever.demodomain.com:7744**

**W

[2020-06-26 17:23] briansneddon opened #92552 "configure-helper.sh doesn't assemble-docker-flags for containerd runtimes"
https://github.com/kubernetes/kubernetes/blob/e5f55dd9d0969af3a37e7880d9b88c9aef8c654d/cluster/gce/gci/configure-helper.sh#L2739-L2741

When CONTAINER_RUNTIME is docker (or unset) then assemble-docker-flags is called and docker environment flags are generated and written out to /etc/default/docker in order to be loaded in during startup.

When the CONTAINER_RUNTIME is containerd (e.g. when using a

[2020-06-26 17:30] robscott opened #92553 "Some IPVS e2e tests are failing"
**Which jobs are failing**:
pull-kubernetes-e2e-gci-gce-ipvs

**Which test(s) are failing**:
Not all of these fail on every run:
[sig-network] Networking Granular Checks: Services should function for endpoint-Service: http
[sig-network] Services should allow pods to hairpin back to themselves through services
[sig-storage] Flexvolumes should be mountable when non-attachable
[sig-network] Networkin

[2020-06-26 17:33] robscott commented on #92553
This seems related to https://github.com/kubernetes/kubernetes/issues/91253, but if I'm interpreting test results correctly pull-kubernetes-e2e-gci-gce-ipvs never stopped failing.

[2020-06-26 17:45] briansneddon commented on #92552
/sig network

[2020-06-26 18:02] portante commented on #58638
Yes.

** Long answer below to try to illustrate why adding the UID is beneficial to Kubernetes. **

The responsibility of any log aggregation system is to maintain access to logs via authorized users only.  It is NOT the responsibility of any Kubernetes deployment to ensure the log aggregation system can do that.

However, the way log aggregation systems ensure proper access to a namespace's logs

[2020-06-26 18:16] rodrisbach commented on #85560
Hi @muthu31kumar I had the same problem and I resolved it using the following arguments on my deployment:
`apiVersion: apps/v1
kind: Deployment
metadata:
  name: metrics-server
  namespace: kube-system
  labels:
    k8s-app: metrics-server
spec:
  selector:
    matchLabels:
      k8s-app: metrics-server
  template:
    metadata:
      name: metrics-server
      labels:
        k8s-app: metrics-ser

[2020-06-26 18:40] AndiLi99 commented on #73625
Hi @xing-yang, that pr is a bit outdated and I don't think I have any further comments to add besides needing to rebase and deal with merge conflicts.

[2020-06-26 18:49] #92269 closed

[2020-06-26 19:19] liggitt commented on #92521
alternatively, go1.15 is due out on 7/1 ... if scale and testing looks good on that, we might consider moving to that for 1.19

[2020-06-26 19:38] Huang-Wei commented on #91817
@ahg-g we need a doc PR working on this.

[2020-06-26 19:41] johan1252 opened #92557 "The presence of admission validating webhooks breaks Ephemeral Containers"
**What happened**:
Adding a validating webhook with resources section of `"pods/*"` or `"*/*"` breaks ability to add Ephemeral Containers as described in https://kubernetes.io/docs/tasks/debug-application-cluster/debug-running-pod/#ephemeral-container

**What you expected to happen**:
[code]
Debug command should attach to the running pod and allow user to interact with the ephemeral container imag

[2020-06-26 19:43] johan1252 commented on #92557
/sig api-machinery

[2020-06-26 20:06] ialidzhikov commented on #92275
Closing as v1.16.12 is now live.

/close

[2020-06-26 20:06] #92275 closed

[2020-06-26 20:19] thockin commented on #92369
@mcluseau was also looking at some infrastructure to make it easier to write new proxiers

[2020-06-26 20:20] GabyCT opened #92558 "Failing while trying to install k8s in ubuntu"
I am trying to install kubernetes with the following steps in Ubuntu 18.04 LTS
[code]
These steps were taken from https://kubernetes.io/es/docs/tasks/tools/install-kubectl/

However, while trying to perform
[code]
We are getting the following error
[code]
I am trying to install the following kubernetes version
[code]

[2020-06-26 20:29] mcluseau commented on #92369
@thockin thanks for the tag. The draft (https://github.com/mcluseau/kube-proxy2/blob/master/doc/proposal.md) has not changed much since january, and I still the same numbers. I recently got some time to make progress. The actual minimum amount of code for a proxier is currently that:

[code]

proxiers have a baseline of 13MB.

Examples here: https://github.com/mcluseau/kube-proxy2/tree/master/exam

[2020-06-26 20:31] divyenpatel commented on #92496
Got the debug log help get `target` and `driverpath`.

https://github.com/kubernetes/kubernetes/blob/v1.17.5/vendor/k8s.io/utils/mount/mount_windows.go#L235-L238

Code:

[code]

Log:

[code]
cmd help - https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/cmd

here command code is executing to mount volume is

[code]

[2020-06-26 21:04] marosset commented on #92081
@jingxu97 - the containerd PR to supported named pipe mounts for Windows has merged.
I have not had a chance to validate csi-proxy works with containerd on Windows but hope to do so soon.

[2020-06-26 21:14] marosset commented on #91575
Fixed by https://github.com/kubernetes/kubernetes/pull/90554

[2020-06-26 21:20] marosset commented on #90142
/assign

[2020-06-26 21:22] PierreKelbert commented on #71647
have the same issue after new install with kubeadm. Worked fine until reboot... Is there a way to get logs from apiserver to help ?

[2020-06-26 21:24] marosset commented on #90336
/priority critical-urgent
/kind failing-test
/milestone v1.19

[2020-06-26 21:27] marosset commented on #92522
We should add 2004 jobs for Azure / aks-engine as well @jsturtevant FYI

[2020-06-26 21:55] BenTheElder commented on #91548
various changes have been made and the past 10 runs have passed for both jobs.
for now
/close

[2020-06-26 21:55] #91548 closed

[2020-06-26 21:55] BenTheElder commented on #91548
<img width="566" alt="Screen Shot 2020-06-26 at 2 55 09 PM" src="https://user-images.githubusercontent.com/917931/85904249-0e02fc00-b7bd-11ea-9704-9186720cf987.png">

[2020-06-26 21:56] BenTheElder commented on #92386
currently failing due to issues with the following tests:

[sig-scheduling] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance]
[sig-scheduling] SchedulerPredicates [Serial] validates that NodeSelector is respected if not matching [Conformance

previously more scheduler tests were broken.

[2020-06-26 22:34] dvaldivia opened #92559 "Headless Service not publishing not ready addresses for statefulset"
**What happened**:

Deploying a StatefulSet with a headless service and properly configured `spec.serviceName` doesn't publish the underlying pod's on the internal Kube-DNS for at least 30 seconds after pod creation, even if the headless service has explicit `publishNotReadyAddresses: true` and even if a pod has a `readinessProbe` of 1 second which shouldn't matter if the publishNotReadyAddresses

[2020-06-26 22:35] dvaldivia commented on #92559
/sig network

[2020-06-26 22:45] Huang-Wei commented on #86942
@jianxingzhe As it's impossible to back port fixes to 1.13 (the version you're using), I'd suggest to upgrade to 1.18 to see if the problem still exists.

BTW: In recent releases, we delivered quite a number of fixes on saving unnecessary scheduling attempts. Also, the preemption logic, esp. the nominatedNodeMap parts got revisited and a few fixes have been delivered (in 1.19).

---

Re:

It's tru

[2020-06-26 23:14] lavalamp commented on #92157
I had a chat with @maxsmythe and @tallclair about this and I had another idea.

The theory is that a webhook author really does want their policy enforced. But for some operations, it's more important that the cluster not burst into flames. And the webhook author might not know which operations those are for the cluster.

So, the idea is, instead of making every webhook separately exclude some ope

[2020-06-26 23:14] thockin commented on #92098
@danwinship @dcbw @lachie83 @andrewsykim Can I list you folks?  Anyone else who wants to be in?

[2020-06-26 23:19] ghostsquad commented on #45509
This seems very similar to a `PodDisruptionBudget`, but allows for runtime ranking, which would be similar to how an HorizontalPodAutoscaler decides to modify a deployment to scale up.

I would propose introducing a new resource, maybe called a `PodDisruptionWatcher`, that would influence the "randomness" of choosing which pod to terminate during scale down.

Some of this example spec is taken fro

[2020-06-26 23:26] ghostsquad commented on #45509
Additionally, you could have a "LowBar" value, such that only pods _below_ a certain threshold, regardless of ranking can be terminated.

[2020-06-26 23:28] ghostsquad commented on #45509
When combined with a long enough pre-stop hook, even the pods that are selected for termination can gracefully finish their work, and shut down.

[2020-06-26 23:53] Huang-Wei opened #92561 "Typo of PercentageOfNodesToScore"
There are some typos which put "PercentageOfNodesToScore" (correct) as "PercentageOfNodeToScore" (wrong):

[code]

/cleanup
/sig scheduling
/good-first-issue

[2020-06-26 23:57] divyenpatel commented on #92496
based on the debug log, the issue is `getDriveLetterByDiskNumber` not returning the correct drive letter for given diskNumer. for some reason, func returned `^@`.

https://github.com/kubernetes/kubernetes/blob/v1.17.5/vendor/k8s.io/utils/mount/mount_windows.go#L242-L253

[code]

later `driverPath := driveLetter + ":"` is adding `:`.

and resulting driverPath `^@:`is incorrect.

[2020-06-27 00:11] rakeshreddybandi commented on #92561
/assign

[2020-06-27 02:02] rafaelsisweb commented on #45234
/reopen please consider this feature.

[2020-06-27 02:15] BenTheElder opened #92563 "{pull,ci}-kubernetes-e2e-gce-ubuntu-containerd are failing"
this is blocking merges.

pretty sure I have the fix here https://github.com/kubernetes/test-infra/pull/18089

/sig testing
/sig node
/priority critical-urgent
FYI @kubernetes/ci-signal

[2020-06-27 02:17] BenTheElder commented on #92563
up failing
https://testgrid.k8s.io/sig-release-master-blocking#gce-ubuntu-master-containerd
failing to download in the logs:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce-containerd/1276638936235511808/artifacts/bootstrap-e2e-master/kube-master-installation.log
suspected break: https://github.com/kubernetes/test-infra/pull/18086

[2020-06-27 02:29] BenTheElder commented on #92563
https://prow.k8s.io/?job=pull-kubernetes-e2e-gce-ubuntu-containerd
<img width="522" alt="Screen Shot 2020-06-26 at 7 28 11 PM" src="https://user-images.githubusercontent.com/917931/85912680-3271cf00-b7e3-11ea-978c-a149b6e64860.png">
The only passing runs are from PRs installing custom versions.

[2020-06-27 02:30] BenTheElder commented on #92563
/assign

[2020-06-27 02:30] BenTheElder commented on #92563
/lifecycle active

[2020-06-27 02:48] BenTheElder commented on #92563
successful up https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/92212/pull-kubernetes-e2e-gce-ubuntu-containerd/1276703610704498689/

[2020-06-27 02:52] BenTheElder commented on #92269
Thanks everyone.

[2020-06-27 03:23] BenTheElder commented on #92563
Above run passed and the PR merged

[2020-06-27 03:23] #92563 closed

[2020-06-27 04:22] BenTheElder commented on #92253
done in https://github.com/kubernetes/kubernetes/pull/92212
/assign @thockin
/close

[2020-06-27 04:22] #92253 closed

[2020-06-27 04:25] BenTheElder commented on #92563
<img width="1338" alt="Screen Shot 2020-06-26 at 9 25 31 PM" src="https://user-images.githubusercontent.com/917931/85914525-969c8f00-b7f3-11ea-8674-1ab2731b7bf6.png">

cluster up in the CI job now too https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce-containerd/1276730285869764608

[2020-06-27 07:00] luomoyisheng opened #92564 "kubelet: fatal error unexpected signal during runtime execution"
**What happened**:
[code]

**What you expected to happen**:

[code]
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:Physical machine
- OS (e.g: `cat /etc/os-release`):centos7.6
- Kernel (e.g. `uname -a`):  3.10.0-957.el7.x86_64
- I

[2020-06-27 08:07] aojea commented on #91548
thanks Ben

[2020-06-27 09:26] #91503 closed

[2020-06-27 09:55] feiskyer commented on #92504
@JulienBalestra  thanks for reporting the issue and filing the PR to fix it

[2020-06-27 09:56] satishbellapu commented on #92561
/assign

[2020-06-27 10:07] Zheaoli commented on #92382
/assign

[2020-06-27 10:12] Zheaoli commented on #92382
@m1o1 Hello I have a test on my VM

[code]
It seems works fine?

[2020-06-27 10:41] aojea commented on #92098
count on me @thockin if you need more people

[2020-06-27 11:07] tedyu commented on #92563
Nice job, Ben.

[2020-06-27 11:11] tedyu commented on #92564
1.13 is quite old.
Do you have a chance to try recent 1.18 release ?

Please provide log prior to Jun 26 10:07:11 so that we can have more context.

thanks

[2020-06-27 11:11] kaushalendrakumar commented on #62897
I also faced the similar issue. I followed the https://kubernetes.io/docs/setup/independent/install-kubeadm/ and fixed it.

[2020-06-27 11:55] #87552 closed

[2020-06-27 12:25] artback commented on #90833
Active @alam0rt ?

[2020-06-27 12:30] luomoyisheng commented on #92564
Since the business is already running in this environment, there is no way to update the version, I am looking for other solutions, do you have any suggestions?

[2020-06-27 13:06] chief93 commented on #86680
Issue can have same origins of bugged parsing of CLI args, like here [https://github.com/kubernetes/kubernetes/pull/82473#issuecomment-650558765](https://github.com/kubernetes/kubernetes/pull/82473#issuecomment-650558765)

[2020-06-27 13:21] liggitt commented on #92557
This looks like an issue with the ephemeral container storage. It is inheriting the New function from the pod storage to return a core.Pod{}, but that doesn't match the type the ephemeral storage actually expects.

I think the ephemeral storage should probably set up its own New method to return the proper type.

Enabling the feature gate for the ephemeral container feature in the webhook admissio

[2020-06-27 13:21] liggitt commented on #92557
/remove-sig api-machinery

[2020-06-27 13:22] chief93 commented on #92451
@Queuecumber Hi! I have a question about how you set up the `--feature-gates` option? All my tries were resulted in start-up errors of any of `kube-api-server`, `kube-controller-manager` and so on. I've discovered that this is not about the `IPv6DualStack` flag, but either about **ANY** of those feature gates.

I've described more about it [here](https://github.com/kubernetes/kubernetes/pull/82473

[2020-06-27 13:37] Queuecumber commented on #92451
That's weird, for me that part worked fine

The only thing I changed was in the kubeadm `ClusterConfiguration`:

[code]

You could try copying my kubeadm config it's pretty generic and see if it fixes your issue

[2020-06-27 13:40] tomqwpl opened #92570 "Pods being orphaned if Job deleted too quickly?"
I'm using kubernetes v1.16.6-beta.0 (Windows Docker Desktop)

I have an operator that creates a Job, then watches for it to complete and deletes it.
I'm getting orphaned Pods left lying around. Looking at the Pods, they have no owner reference.
If I don't delete the Job in the operator, I can see that the Pods then have an owner reference, so when I delete job manually, the pods get deleted.
On th

[2020-06-27 13:44] Queuecumber commented on #92451
Another question about dual stack I have is: what happens if I run out of pod ips?

E.g. given that I have a /64 for pod ips, there's a lot more ipv6 addresses than ipv4 addresses. Right now every pod needs to get both address types. So I assume if I run out of ipv4 I won't be able to make new pods even though I have plenty of ipv6 left. Which kind of defeats one of the purposes of using ipv6 in t

[2020-06-27 15:48] bronger commented on #24725
My backup pod contained a bug and restarted over and over again, wearing out the backup disk. This is not good! And any remedy is more complicated than being able to set restartPolicy=Never.

[2020-06-27 16:21] sbezverk commented on #92369
@mcluseau what framework you proposed buys me as a developer of a flavour of proxy? Does it make it faster? Not sure, Does it make it more reliable? not sure either, does it help to get nftables module into Google's linux distribution? Really doubt. So could you explain what DOES it buy me?

[2020-06-27 16:46] hprateek43 commented on #92388
The goal is to have these benchmarks for the local developer, or we plan to track these benchmarks against the master branch ?

[2020-06-27 17:11] mcluseau commented on #92369
@sbezverk my approach is to decouple the k8s' business logic from the actual application to a system. So things like computing the topology requested by the user to the targets for the specific node the proxy is running will be done on the proxy side, while applying those computed targets. Thus, developing a proxier implies only writing the code for the subsystem you're targeting, like nftables, b

[2020-06-27 18:06] Huang-Wei commented on #92561
@satishbellapu we usually follow a first-come-first-get rule, so given @rakeshreddybandi has claimed it earlier, would you mind leaving it to him?

[2020-06-27 22:00] brianpursley commented on #90739
Fixed by PR

[2020-06-27 22:00] #90739 closed

[2020-06-27 22:33] chief93 commented on #92451
@Queuecumber thanks for advice! I was looking for trying it, but for the moment don't have any idea of how to do it correctly, because the advised patch for `ClusterConfiguration`, which is recognized only by `kubeadm`, but cannot be applied within it (I didn't found any option for such action), seems to be applied by `kubectl`, right?

[2020-06-27 22:35] Queuecumber commented on #92451
I'm not sure I fully understand what the issue is but the way you use that config is through kubeadm to set up a new cluster.

[2020-06-27 22:42] theonlijuan commented on #70082
Thanks for the feedback @mister0825 and @koehn.

I'm running on digitalocean droplets. Each node has 4 vCPUs and 8GB RAM.

Can't seem to find a way to change disk storage format, though. I can resize, but doesn't seem to be the the issue here. Very new to this, so help is much appreciated.

<https://blog.bejarano.io/kubernetes-etcd-and-disk-throughput/> this article was great; but I still have no

[2020-06-27 22:51] chief93 commented on #92451
@Queuecumber I see, but I need to enable the dual stack in an already seted up cluster, not the new one

[2020-06-27 23:13] Queuecumber commented on #92451
I highly doubt that will ever be a supported scenario but if you get it to work please write down how you did it. We have a few VMs that we can bring up and tear down as needed that we are using to test the feature, once it works we're going to rebuild the main cluster taking our services offline for some time. You might consider that procedure instead.

[2020-06-27 23:15] alam0rt commented on #90833
Feel free to pick it up. Have been quite busy.

[2020-06-28 00:30] chief93 commented on #92451
Sure I'll notice it :) That's why I am also trying different things around the `Kubernetes` installations and networking (In my case I'm having the Kubernetes run on the `LXC` containers, and nodes are set up for using `MetalLB` connected by `BGP` with `Mikrotik` as `LoadBalancer` (thats why I'm searching for `IPv6` solution - because I want to delegate the routed public `/48`, or at least one of

[2020-06-28 00:35] Queuecumber commented on #92451
This is the same goal we have, I'm actually leaning towards an ipv6 only solution with nat64 at this point, but if dual stack matures it may be the right move.

[2020-06-28 00:48] justaugustus commented on #92250
k8s.gcr.io/hyperkube:v1.16.12 is live, as part of https://github.com/kubernetes/kubernetes/releases/tag/v1.16.12, so this should be resolved now.

Other patches:
https://github.com/kubernetes/kubernetes/releases/tag/v1.18.5 --> k8s.gcr.io/hyperkube:v1.18.5
https://github.com/kubernetes/kubernetes/releases/tag/v1.17.8 --> k8s.gcr.io/hyperkube:v1.17.8

/close

[2020-06-28 00:49] #92250 closed

[2020-06-28 01:08] #87659 closed

[2020-06-28 01:39] yqwang-ms commented on #81285
/remove-lifecycle rotten

[2020-06-28 02:02] #92098 closed

[2020-06-28 02:08] elsesiy commented on #74178
/remove-lifecycle stale

[2020-06-28 02:40] k82cn commented on #92570
/sig apps

[2020-06-28 02:55] skynetrulz opened #92574 "Login to k8 cluster using a new key and csr signed using "certificatesigningrequests" object failing with Error "error: You must be logged in to the server (Unauthorized)""
**What happened**: kubectl commands to k8 cluster using a new key and csr signed using "certificatesigningrequests" object failing with Error "error: You must be logged in to the server (Unauthorized)"

**What you expected to happen**: Login to be successful

**How to reproduce it (as minimally and precisely as possible)**:  Follow this article

https://kubernetes.io/docs/reference/access-authn-au

[2020-06-28 03:07] Forget-C opened #92575 "can't use name.service:port to access pod service"
**What happened**:
can not use name.service:port to access pod service
that‘s  a grpc service
use service:port
![image](https://user-images.githubusercontent.com/25631506/85936463-b9cb5980-b92d-11ea-959e-390dc58759fb.png)
use name.service:port on client
![image](https://user-images.githubusercontent.com/25631506/85936481-dc5d7280-b92d-11ea-8386-74a60b055bb2.png)
ping name.service on client
![image

[2020-06-28 03:09] enj commented on #92535
@cristiklein

Sure, but it is unclear to me where sig-auth folks land on creating such an API.  My current estimate is that there seems to be a desire to use the existing API surface without any further additions.

I would disagree with this statement strongly.  A minority of users have pointed out that there is some concern that running kubeconfigs from an untrusted source could cause harm.  But

[2020-06-28 04:01] riking commented on #79159
Dupes are getting filed.

/remove-lifecycle rotten

[2020-06-28 05:35] nrjohnstone commented on #45509
I'm using a very similar approach to @antoinne85 and @jeremywadsack . Self terminating jobs are the way you want to go to solve the producer/consumer pattern here. The main pain is that you need an orchestrator that sits there watching the metrics and deploying/fiddling with the job.

KEDA can almost do this, but there are a number of issues with ExternalScalers that mean it doesn't quite work out

[2020-06-28 06:15] #92570 closed

[2020-06-28 06:16] tomqwpl commented on #92570
My bad. I was failing to set an appropriate deletion policy

[2020-06-28 07:04] wawa0210 commented on #92574
/sig auth

[2020-06-28 07:12] wawa0210 commented on #92574
Judging from the error message, it may be caused by the permission problem of your kubectl configuration~~ What identity is your kubeconfig configured?

[2020-06-28 07:20] skynetrulz commented on #92574
Sorry, i didn't get your comment. In my kubeconfig file, i have the new key, new crt (signed by api server) and ca cert

[2020-06-28 07:47] codeaprendiz opened #92580 "Docs website seems to be broken"
## Kubernetes Docs Release notes link seems to be broken with overlapping UI

Hi team,
I am seeing overlapping UI in the website. Attaching a screenshot for the same.

![image](https://user-images.githubusercontent.com/18071639/85941603-f2bafc80-b934-11ea-83cd-109996ff1e0f.png)

[link](https://kubernetes.io/docs/setup/release/notes/)

[2020-06-28 07:50] satishbellapu commented on #92561
Sure sorry I didn’t notice that, but not sure how to pull back the commit.

[2020-06-28 08:05] VishalLahane commented on #92551
/sig/architecture
/sig usability
/sig scalability
/sig cli
/sig storage

[2020-06-28 08:06] VishalLahane commented on #92551
/sig architecture

[2020-06-28 08:23] alex-vmw commented on #53023
Thanks @mowings, we have recently made the same observation in our clusters as well. When pods belonging to DS get evicted, the DS fails to update status on recovery.

[2020-06-28 08:30] justaugustus commented on #92272
@waynr -- Opened https://github.com/kubernetes/kubernetes/pull/92581 for this.
ref: https://github.com/kubernetes/kubernetes/pull/92281#issuecomment-650717496

[2020-06-28 09:13] justaugustus commented on #92272
/remove-triage unresolved

[2020-06-28 09:23] jonasdebeukelaer commented on #88406
/remove-lifecycle rotten

so is this intended behaviour?

[2020-06-28 10:00] chenqiangzhishen commented on #89007
same as OutOfMemory case which will continuously create pods if specified nodeName in Deployment with the specified node doesn't have more memory provided.

[2020-06-28 10:21] YuxiJin-tobeyjin commented on #83483
Following, any news?

[2020-06-28 10:24] klueska commented on #83483
The proposal linked in the description was accepted and merged earlier this month: https://github.com/kubernetes/enhancements/pull/1121

The plan is to get the code merged by the code freeze on July 9th to make it into 1.19. if that doesn’t happen, it will be added for 1.20.

[2020-06-28 10:34] justaugustus commented on #92558
@kubernetes/release-engineering -- Can someone assist @GabyCT?
/sig release
/area release-eng

[2020-06-28 10:46] justaugustus commented on #92463
@StefanSa -- What happens when you completely remove `kubelet` and `kubernetes-cni` and then attempt to install one of the following kubelets:
- kubelet-1.18.5-0
- kubelet-1.18.4-1

(Related to https://github.com/kubernetes/kubernetes/issues/92242.)
/assign
/area release-eng
cc: @kubernetes/release-engineering

[2020-06-28 11:38] Lion-Wei commented on #92553
/assign
I'll try to fix those cases

[2020-06-28 11:40] Lion-Wei commented on #92553
@robscott May I ask why do you think this is related to #91253? Seems like first two flexvolumes related cases failed, then after some commit, service related cases start failing.

[2020-06-28 11:51] AkashSarda commented on #92559
Can I have a look at it?

[2020-06-28 11:52] jayunit100 commented on #92559
/assign @AkashSarda

[2020-06-28 12:01] aojea commented on #92553
@Lion-Wei let me handle the services tests, I think I know the problem, will try to submit a fix today.
Do you know what happen with the storage ones?

[2020-06-28 12:14] artback commented on #90833
/assign

[2020-06-28 12:19] #76568 closed

[2020-06-28 13:04] tanjunchen commented on #92580
@codeaprendiz
I think you can open an issue in https://github.com/kubernetes/website , not here.

[2020-06-28 13:10] kriaos opened #92582 "kubelet: [signal SIGBUS: bus error && kubelet.service: main process exited"
Hi:
kubelet: fatal error: unexpected signal during runtime execution
systemd: kubelet.service: main process exited, code=exited, status=2/INVALIDARGUMENT
systemd: Unit kubelet.service entered failed state.

Env:
k8s version: 1.13.7
kernel: 3.10

Details：

Jun 22 11:01:18 worker1 kubelet: fatal error: unexpected signal during runtime execution
Jun 22 11:01:18 worker1 kubelet: [signal SIGBUS: bus er

[2020-06-28 13:43] wanyaoqi opened #92583 "pod terminating but not removed from service endpoints"
**What happened**:
Deploy a etcd cluster with static pod
One of the nodes is down,  pod status marked terminating, but not removed from service endpoints
[code]
**What you expected to happen**:
pod terminating removed from endpoint list, removed dns record

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a etcd cluster  with 3 or more members and manual down one of node
De

[2020-06-28 13:53] sroze commented on #57187
I'd like to look at contributing such a feature as my first code contribution to Kubernetes. I guess the first sensible step is to draft a technical strategy and get early feedback before writing any piece of code so here we go. I see two possible options:

## 1. We allow to update pods' probes (without a container restart)

We could figure out a way to make the probes update-able. As a reminder,

[2020-06-28 13:58] hellojukay commented on #78068
/reopen

[2020-06-28 14:12] hex108 commented on #79159
/reopen

[2020-06-28 14:39] funding-invoice-admin commented on #88555
sorry can you tell me hpw did you manage the error at the end ?

[2020-06-28 15:13] Zheaoli commented on #92583
/sig node

[2020-06-28 15:17] praseodym commented on #92541
/remove-kind feature
/triage support

[2020-06-28 15:17] praseodym commented on #92582
GitHub is not the right place for support requests.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubern

[2020-06-28 15:22] schweikert commented on #92558
I believe this might be caused by packages.cloud.google.com returning a status code 500, which is something that seems to affect some clients (and that Google is analyzing/fixing).

You can check with this command: `curl -o /dev/null -s -w "%{http_code}\n" "https://packages.cloud.google.com/apt/doc/apt-key.gpg"`

[2020-06-28 15:22] #80855 closed

[2020-06-28 15:27] tedyu commented on #92583
Do you have kubelet log around the time when default-etcd-9jdxklnf88  entered Terminating state ?

Thanks

[2020-06-28 15:55] krrypto opened #92585 ""reservedCpus" ignored when passed in config.yaml ,works when passed as argument "--reserved-cpus""
**What happened**:
Trying to isolate two cores,
cat /var/lib/kubelet/config.yaml|grep -i reservedCpus
reservedCpus: "0,1"

restarted kubelet.
Still kubectl is reporting allocated and Capacity as the same

If i pass --reserved-cpus=0,1 as kubelet start arguments then kubelet is reserving it correctly.

/usr/bin/kubelet --bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf --kubeconfig=/etc/

[2020-06-28 15:58] schweikert commented on #92558
Note that this issue should be resolved now.

[2020-06-28 16:06] #88408 closed

[2020-06-28 16:10] wanyaoqi commented on #92583
@tedyu
default-etcd-9jdxklnf88 Terminating after node-1 down, and node-1 not start so far
 I found some log in kube-controller-manager about default-etcd-9jdxklnf88

[code]

Thanks for your help

[2020-06-28 16:24] tedyu commented on #92583
In deletePodHandler of taint_manager.go:
[code]
Probably you can find some clue in apiserver log.

[2020-06-28 17:02] wanyaoqi commented on #92583
lots of error like this:
[code]
not found infomation about delete pod default-etcd-9jdxklnf88

[2020-06-28 17:20] neolit123 commented on #92451
this is related:
https://github.com/kubernetes/kubernetes/pull/91875

[2020-06-28 17:21] neolit123 commented on #92585
/sig node
/area kubelet

[2020-06-28 18:20] dims commented on #66321
/reopen

[2020-06-28 18:25] #85877 closed

[2020-06-28 18:42] sowhatim commented on #90079
I see, yes. This was randomly stuck for me but worked later on a new cluster. I haven't seen this issue since . Also maybe because I am using bigger instances now .

Will close out the issue as I haven't got the time to reproduce .

[2020-06-28 18:43] #90079 closed

[2020-06-28 19:10] aojea commented on #92553
/assign
I just submitted a PR to fix the failing tests

[2020-06-28 19:29] shashankv02 opened #92586 "Installation of 1.13.5 kubeadm and kubelet on Centos/RHEL broken. kubeadm-1.13.5 is installing kubelet-1.18.5 as dependency"
**What happened**:

When kubeadm-1.13.5, kubelet-1.13.5 yum packages are attempted to be installed together, installation fails with dependency error. When tried individually, it works. But when `kubeadm-1.13.5` package is installed, it is installing `kubelet-1.18.5` instead of `kubelet-1.13.5`. The workaround seems to be installing `kubernetes-cni-0.7.5` along with `kubeadm-1.13.5` and `kubelet-1

[2020-06-28 19:30] shashankv02 commented on #92586
/sig release

[2020-06-28 19:38] shashankv02 opened #92587 "Installation of kubeadm=1.13.5* and kubectl=1.13.5* apt packages is broken"
**What happened**:

When trying to install `kubeadm=1.13.5*` or `kubelet=1.13.5*` on ubuntu, installation fails due to dependency on kubernetes-cni (= 0.7.5). Workaround is to install `kubernetes-cni=0.7.5-00` along with these packages

[code]

# Workaround

Install `kubernetes-cni=0.7.5-00`

[code]

**What you expected to happen**:

`apt-get install kubelet=1.13.5*` and `apt-get install kubeadm=1

[2020-06-28 20:05] benvdh commented on #69696
I had a similar issue on one of our clusters with 2 node pools:
- default: 3 nodes (no autoscaling)
- etl: 0 - 5 nodes (autoscaling enabled)

Even though I have not been able to solve the issue completely yet (1 node always remains in the autoscaling pool, that were 2 nodes before I implemented pod disruption budgets), I have been able to resolve the issue with the NoControllers warning. Just post

[2020-06-28 20:35] krrypto commented on #92585
looks like a configuration issue:

Jun 29 00:32:39 k8worker1 kubelet[4963]: : v1beta1.KubeletConfiguration.ReadObject: found unknown field: reserved-cpus, error found in #10 byte of ...|rved-cpus":0,"rotate|..., bigger context ...|","nodeStatusUpdateFrequency":"0s","reserved-cpus":0,"rotateCertificates":true,"runtimeRequestTimeou|...

Is there a document explaining the right variable to use for re

[2020-06-28 20:50] robinpercy commented on #92585
@krrypto looks like you want reservedSystemCPUs: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubelet/config/v1beta1/types.go#L733

[2020-06-28 22:07] nairb774 commented on #75957
I think multiple PDBs applying to a Pod can make sense if you think about disruptions at different aggregations of an application. If you imagine the smallest unit of aggregation of an application being a Deployment, there might be a desire to limit disruptions for that deployment. But then the next level up the aggregation tree could be a Service. It isn't all that far fetched for a Service to bl

[2020-06-29 01:35] Lion-Wei commented on #92553
@aojea Thanks, seems like all cases fixed.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gci-gce-ipvs/1277317530691571712

[2020-06-29 02:25] ymmt2005 commented on #91812
@br0ziliy
I understand that this issue is happening because kube-proxy in IPVS mode
installs an empty rule into Nodes who do not run pods of the Service.

IIUC, this is not specific for 1.18.3; kube-proxy works the same at least for
the last several releases.

I don't know this is intended or not, but this can be improved by changing
kube-proxy not to install empty IPVS rules if there are no Servi

[2020-06-29 02:56] Riaankl commented on #90916
replaceAppsV1NamespacedDeploymentStatus added to test.  Increase cover by 1 Endpoint

[2020-06-29 03:49] draveness opened #92592 "Unhealthy device cause the scheduler failed to schedule"
**What happened**:

Currently, the device manager calculated the node's allocatable and capacity by healthy and unhealthy devices.

https://github.com/kubernetes/kubernetes/blob/aadaa5d6a917fcb354bce80a0bd1830c95cfbcc3/pkg/kubelet/cm/devicemanager/manager.go#L519-L567

Suppose there are two GPU devices on the node, GPU1 and GPU2. When GPU1 is allocated to a pod and soon become unhealthy,

+ Kubele

[2020-06-29 03:50] draveness commented on #92592
/cc phanhuy1502

[2020-06-29 04:07] 13567436138 opened #92593 "kubectl config set-credentials add exec info error"
**What happened**:

[root@master01 .kube]# kubectl api-versions
error: couldn't get available api versions from server: Get https://192.168.198.154:6443/api?timeout=32s: getting credentials: decoding stdout: yaml: line 3: could not find expected ':'
[root@master01 .kube]#
[code]

is this right  apiVersion: client.authentication.k8s.io/v1beta1

**What you expected to happen**:

**How to reproduce i

[2020-06-29 04:09] 13567436138 commented on #92593
/sig cli

[2020-06-29 04:20] amgads commented on #42632
Would like to reopen the issue /reopen
This is need. heketi supports tls, but k8s glusterfs csi doesn't and blocking usage

refer to the following issue link https://github.com/heketi/heketi/issues/1467

[2020-06-29 04:21] 13567436138 commented on #92593
why my cluster doesnot have ExecCredential resource

[2020-06-29 04:26] amgads opened #92594 "Support for connecting to glusterfs csi using TLS"
_Originally posted by @fejta-bot in https://github.com/kubernetes/kubernetes/issues/42632

Need k8s glusterfs csi to support connect with tls. Heketi supports tls, but k8s is blocking it.
Refer to the following link for the required changes "NewClientTLS()"

https://github.com/heketi/heketi/issues/1467

[2020-06-29 05:01] briantopping commented on #23864
I am reminded of this issue as I try to put an [NFS server](https://rook.io/docs/rook/master/nfs.html) behind a load balancer for ex-cluster servicing. Portmapper hands out ports that the LB is not forwarding and thus this does not work.

Wondering if https://github.com/cilium/cilium can solve kube-proxy scale issues by bypassing iptables limitations.

[2020-06-29 05:18] #90570 closed

[2020-06-29 05:50] iamejboy opened #92596 "Warning: Operation Delete is not supported on WorkloadEndpoint type, Unable to run pod after versionUpdate to v1.18.[4|5]"
**What happened**:

Recently, I tried to do version update from v1.18.3 to v1.18.4 or v1.18.5, and pods are were unable to get IP

cloud-controller-manager-nz7pf                                        0/1     CrashLoopBackOff   49         3h9m    <none>
npd-v0.4.1-lcrwz                                                                  0/1     CrashLoopBackOff   39         4h38m   <none>

**What you

[2020-06-29 05:54] iamejboy commented on #92596
/sig network

[2020-06-29 06:04] uablrek commented on #91812
This is intended and is the same for proxy-mode=iptables.

The whole point of `externalTrafficPolicy:Local` is to deliver the traffic *only* to local PODs. It is explained [here](https://kubernetes.io/docs/tutorials/services/source-ip/#source-ip-for-services-with-type-nodeport). It is in the "NodePort" chapter but NodePort is implicit for type=LoadBalancer so the function is the same.

This is not

[2020-06-29 06:32] uablrek commented on #91812
/triage support

[2020-06-29 06:32] uablrek commented on #91812
/remove-triage unresolved
/remove-kind bug

[2020-06-29 07:56] StefanSa commented on #92463
@justaugustus
i  remove `kubelet` and `kubernetes-cni`and installed it again successfully with:
`yum install kubelet-1.18.5 kubeadm-1.18.5`, however, a `yum update` still fails.

[code]
As already mentioned, we don't see that on our nodes that are based on centos 7, currently we only see this problem with the master that is based on centos 8.

[2020-06-29 08:18] codeaprendiz commented on #92580
oh okay, @tanjunchen thanks let me open the issue there.

[2020-06-29 08:20] #92580 closed

[2020-06-29 08:26] dmitry-irtegov commented on #92250
Sorry, tested already on 1.16.12.  Yes, it does solve the issue.

[2020-06-29 08:27] FogDong opened #92598 "The pvc controller automatically add protection finalizer when there is only completed pod"
**What happened**:
The pvc controller automatically add protection finalizer when there is only completed pod.
[code]
[code]
I looked at the  [souce code](https://github.com/kubernetes/kubernetes/blob/7942dca975b7be9386540df3c17e309c3cb2de60/pkg/controller/volume/pvcprotection/pvc_protection_controller.go#L277) and realized that the controller did not judge the pod status, is there any reason to s

[2020-06-29 08:28] FogDong commented on #92598
/sig storage

[2020-06-29 08:57] lubronzhan commented on #92512
Same issue as this one https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/256. The issue and [fix](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/256) is  cluster API repo.
We should fix it inside node_controller in k/k

[2020-06-29 08:59] Hi-Fi commented on #91601
Made some tries related to this. When the issue is on, pods can still be scheduled to the node (without definition or with "nodeName" selector).

If trying to use Affinity/Antiaffinity, pods doesn't get scheduled to node.

Working when issue is on:
[code]

Not working at the same time:
[code]

Also when checked the latter's even those were quite interesting:
[code]

* First event is when manifest

[2020-06-29 10:09] soulxu opened #92600 "Pod won't be considered for preemption even its nominated node is considered as UnschedulableAndUnresolvable by filters"
**What happened**:
When a Pod's nominated node is considered as UnschedulableAndUnresolvable in the filter stage, the scheduler doesn't consider that pod for preemption even there are pods can be preempted on another node.

**What you expected to happen**:
When the pod's nominated node is considered as 'UnschedulableAndUnresolvable ' (For example, the taint being added by those conditions, https:/

[2020-06-29 11:08] codemanufaktur opened #92601 "e2e conformance tests doesn`t cleanup psp and clusterRole 'e2e-test-privileged-psp'"
**What happened**:
I executed all e2e tests named `[Conformance]`, they ran successfully. After the tests were ran, a psp `e2e-test-privileged-psp` and a clusterRole `e2e-test-privileged-psp` were left in the cluster.

**What you expected to happen**:
the conformance tests will clean up properly

**How to reproduce it (as minimally and precisely as possible)**:
run all tests named with `[Conforman

[2020-06-29 11:13] lalwk commented on #89650
/remove-lifecycle stale

[2020-06-29 11:16] dims commented on #92587
@kubernetes/release-engineering
/sig release
/area release-eng

[2020-06-29 11:16] dims commented on #92586
@kubernetes/release-engineering
/sig release
/area release-eng

[2020-06-29 11:21] codemanufaktur commented on #92601
/sig testing
thx ;-)

[2020-06-29 11:38] BSWANG commented on #89440
/reopen
#88543  not fix this issue.

[2020-06-29 11:47] luigibk commented on #92439
Hi @danwinship,

Did you manage to discuss this?

[2020-06-29 11:52] ragunathan23 commented on #92411
@cheftako it's a flannel issue. For now able to fix the issue by changing the flannel backend to host-gw from vxlan. Not sure why it didn't work with vxlan. Thanks for @nustiueudinastea (Alex) for debugging the issue.

[2020-06-29 11:52] #92411 closed

[2020-06-29 12:10] AndreiBamboi opened #92602 "Kubelet will pull only signed when DCT is enabled to docker at node level"
**What would you like to be added**:
After following this guide https://docs.docker.com/engine/security/trust/content_trust/ to enable DCT on kubernetes nodes, i expected that the docker engine used by kubelet should make use of this feature but it isn't. I would like that those env variable should be enabled by specifying an additional deployment parameter similar for imagepullsecret.

ex. of pos

[2020-06-29 12:24] superbrothers commented on #89140
/remove-lifecycle stale

[2020-06-29 12:26] lingxiankong commented on #90462
Hi @liggitt, does that mean the remote webhook service must be up and running before starting kube-api? We are maintaining the OpenStack keystone webhook implementation, we config `--authorization-webhook-config-file` to start kube-api before actually starting keystone service (because keystone service needs to access k8s API, kind of chicken and egg), it was running ok before, but failed recently

[2020-06-29 12:31] matt-palmer-tfs commented on #43924
I am also having the same issues, but on EKS in this case. I am using a daemonset to deploy a privileged workload to attempt the fixes above on all nodes to solve this problem (images are on a private signed registry).

[2020-06-29 12:38] jtslear commented on #81873
Hello, @jtslear as Bug Triage Shadow for 1.19. Assigning to sig-contributor-experience. If this is incorrect, please notify us and remove the sig.

/sig contributor-experience

[2020-06-29 12:47] luxas commented on #78109
This is not fixed, reopening.

[2020-06-29 12:47] luxas commented on #78109
/remove-lifecycle rotten

[2020-06-29 12:49] AndreiBamboi commented on #92602
/sig node

[2020-06-29 12:50] luxas commented on #78109
It's fixed for the scheduler (#83619), but not for controller-manager, the kubelet or proxy AFAIK.
cc @sttts @mtaufen @stealthybox

[2020-06-29 12:53] jtslear commented on #90902
@liggitt I'm trying to determine if this issue is still slated for the v1.19 release.  All linked PR's are closed, some at least one closed prior to any code merge.  Do you have any insight on whether this should be kept for 1.19 or bumped to 1.20?

[2020-06-29 12:53] luxas commented on #76506
/remove-lifecycle rotten
/reopen

This doesn't seem "fixed" yet.

[2020-06-29 13:12] dims commented on #53023
Anyone seen this in newer version of k8s? (1.16.3 seems to be the last/highest reference)

[2020-06-29 13:25] wojtek-t commented on #91236
@aojea - we have runs with the conntrack dump now, e.g. this one:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ip-alias/1277478719090331648

would you be able to take a look into it?

[2020-06-29 13:40] aojea commented on #91236
not yet :/ , but I think tomorrow can have some time

[2020-06-29 13:51] rikatz commented on #92276
Hey @david-enli let's take a look into that.

I didn't understood the first part of the issue, when you do a nslookup from the nodes they don't resolve correctly the address?

Also, can you please provide some further information:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:

[2020-06-29 13:51] rikatz commented on #92276
/triage needs-information

[2020-06-29 13:53] ewjmulder commented on #67761
Another place where we see this happening: in our Airflow (https://github.com/apache/airflow) workflow there is a point when lots of pods are created at the same time to run some calculations in parallel. From time to time, we hit this bug:

`HTTP response body: {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"Operation cannot be fulfilled on resourcequotas \"delphi-r

[2020-06-29 14:30] danwinship commented on #92439
yes, sorry, didn't get a chance to get back to this on Friday.
(I /lgtm'ed the PR)
/remove-triage unresolved

[2020-06-29 14:31] verb commented on #92557
ack, thanks for the report & triage! I'm digging into it now.

[2020-06-29 14:32] GabyCT commented on #92558
@schweikert thank you, today I was able to install k8s
[code]

[2020-06-29 14:33] rashmisingh85 commented on #43867
Is there any work around to rename the workspace other than deleting the existing one and creating new ?

[2020-06-29 14:41] morimoto-cybozu commented on #92019
@andrewsykim @SataQiu
How is this going? Though I know that there are so many issues other than this, I hope this issue is fixed and backported soon.
I failed to let you know that this is not just a theoretical bug. I experienced the problem when I restarted Kubernetes components for version upgrade. The restart of the API servers made the appearance of back-end Pods' statuses unstable, and the re

[2020-06-29 14:46] andrewsykim commented on #92019
I think it's a little late to try to address this in v1.19, but in 1.20 we're going to start tracking "terminating" states with EndpointSlice and so we can appropriately set the weight based on the terminating state of the endpoints.

[2020-06-29 15:29] alculquicondor commented on #91601
"nodeName" is not a selector. Using nodeName would bypass scheduling.

You are saying that the reason why the pod shouldn't have been scheduled in the missing node is because it was a master?

We are seeing `8 node(s) didn't match node selector` going to 7. I assume no nodes were removed at this point, correct?

[2020-06-29 15:34] adtac commented on #92388
I believe the primary focus is on the latter. However, you should be able to run the benchmarks locally as well.

[2020-06-29 15:34] br0ziliy commented on #91812
Thanks @uablrek for explanation.
I'm closing this.

[2020-06-29 15:34] #91812 closed

[2020-06-29 16:00] liggitt commented on #90462
Multiple authorizers can be specified (e.g. `--authorization-mode=Node,RBAC,Webhook`), and the earlier authorizers are consulted first, so you can specify a webhook that is not accessible without breaking cluster-level actors that would normally be authorized via the Node or RBAC authorizers.

I'm not aware of anything related that changed

[2020-06-29 16:05] apelisse commented on #90902
I don't think we have a proper fix for that yet. Almost certainly 1.20.

[2020-06-29 16:25] mikebrow commented on #92211
To set the security context for each individual device or use a wildcard to set all devices or use some other useful pattern. Suggest: annotation: io.kubernetes.cri.setHostDeviceSecurityContext value={path/wildcards uid=(int or runAsUser) gid=(int or runAsGroup)}  where path is either the full or partial path of the host device supporting wildcards to cover case A, runAsUser meaning use the contai

[2020-06-29 16:29] mikebrow commented on #92211
another alternative would be to not allow wildcard for the setHostDeviceSecurityContext annotation and use some other annotation for the basic default run as uid:gid of the container process.

[2020-06-29 16:42] Hi-Fi commented on #91601
"NodeName" try was to highligh, that node is usable and pod gets there if wanted. So thing is not node's unability to start pods.

Test cluster has 9 nodes; 3 masters and 6 workers. Before the non-working node was successfully started, events told information about all available nodes: `0/8 nodes are available: 8 node(s) didn't match node selector.`. But when that node that would match node select

[2020-06-29 16:51] ccampo133 commented on #86881
Wold love to see this implemented. It allows us to use a single load balancer for many TLS hosts, instead of one LB per host. This is more cost and resource effective.

For now, manually adding the additional certificates to the LB in the AWS console or with the AWS CLI seems to work.

[2020-06-29 16:56] dims commented on #92601
/area conformance

[2020-06-29 16:59] apelisse commented on #87840
I'm actually happy with https://github.com/kubernetes/kubernetes/issues/87840#issuecomment-586696631 now :-)

The only thing is that we need to make "*********" different in before and after, possibly by appending a different string in both, maybe "(before)"/"(after)" so that diff(1) catches the difference.

If anyone wants to try to implement it, I'd be happy to review the change!

[2020-06-29 17:08] hasheddan commented on #91548
@BenTheElder looks like we are seeing quite a few flakes here again. Would you prefer we reopen or is this being tracked elsewhere?

[2020-06-29 17:09] alculquicondor commented on #91601
Note that nothing guards against over-committing a node, but the scheduler. So this doesn't really show much.

My question is: was the 9th node tainted from the beginning? I'm trying to look for (1) reproducible steps to reach the state or (2) where the bug could be.

[2020-06-29 17:11] BenTheElder commented on #91548
In recent history on the non-ipv6 job I see:
- bazel build flake (https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1277542387874271234) which is just the build, not kind specific
- udp services test flakes (already tracked in another issue)

[2020-06-29 17:14] BenTheElder commented on #91548
IPv6 has the same build flake, and loop setup issues.
I'm waiting on approval for https://github.com/kubernetes/k8s.io/pull/987

[2020-06-29 17:15] Hi-Fi commented on #91601
Yes, taint was there all the time at this case, as the non-receiving node was master. But we have seen the same issue on both masters and workers.

Still no idea where the issue comes from, just that at least recreation of node and restart of the node seem to be fixing the issue. But those are a bit "hard" ways to fix the things.

[2020-06-29 17:19] justinsb commented on #92162
@nckturner what do you think about just having `Enabled()` always return true in the ecrProvider?

It looks like the `Provide(image)` function will then only be called, but will immediately short-circuit when it sees that this isn't an ecr image, based on the regex https://github.com/kubernetes/kubernetes/blob/ec36ff40016e1ea612ae364b3b550cd31dd04651/pkg/credentialprovider/aws/aws_credentials.go#L

[2020-06-29 17:25] hasheddan opened #92612 "[Failing Test] [sig-scheduling] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance]"
**Which jobs are failing**:

`Conformance - GCE - master`
`conformance-ga-only`
`capg-conformance-v1alpha3-k8s-master`
`gce-cos-master-serial`

**Which test(s) are failing**:

`[sig-scheduling] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance]`
`[sig-scheduling] SchedulerPredicates [Serial] validates that NodeSelector is respected if not matching

[2020-06-29 17:25] hasheddan commented on #92612
Potential fix here: https://github.com/kubernetes/kubernetes/pull/92603

[2020-06-29 17:28] hasheddan commented on #92612
Originally introduced here: https://github.com/kubernetes/kubernetes/pull/92450
Previous fix attempts: https://github.com/kubernetes/kubernetes/pull/92509 https://github.com/kubernetes/kubernetes/pull/92545

[2020-06-29 17:36] liggitt commented on #92521
Actually, looking at the k8s and go schedules, we might be able to pick up go1.15 when it reaches RC state (targeting July 1, 2020), and if all looks good, switch to 1.15.0 when it is released (targeting August 1, 2020). That gives a month of soak on the RC, and ~3 weeks of soak on the .0 release.

[2020-06-29 17:36] justaugustus commented on #92521
/assign
/area release-eng
To start building prerelease images and getting a branch up to soak.

[2020-06-29 17:40] divyenpatel commented on #92496
@marosset I see this is moved to Backlog. Is this already fixed in post  v1.17.5.

I think `getDriveLetterByDiskNumber` is returning non ascii letter i guess.

[2020-06-29 17:40] kkeshavamurthy commented on #92601
/assign

[2020-06-29 18:02] SEAPUNK commented on #87840
I assume we have to type that bot command to keep this issue open?

/remove-lifecycle stale

[2020-06-29 18:14] tnqn opened #92613 "kubelet always creates sandbox twice for Pods with RestartPolicyOnFailure"
**What happened**:
For a Pod with `RestartPolicyOnFailure`, kubelet would attempt to create a new sandbox for it even after all container succeeded. Logs as below:
[code]

This issue is similar to https://github.com/kubernetes/kubernetes/pull/68980 which fixed the case of pods whose RestartPolicy are Never.

It caused unnecessary CRI and CNI calls, confusing logs and conflicts between the routine

[2020-06-29 18:16] neolit123 commented on #92613
/sig node

[2020-06-29 18:17] neolit123 commented on #92594
/sig storage
/kind feature

[2020-06-29 18:17] tnqn commented on #92613
Created #92614 which may fix this.

[2020-06-29 18:18] tnqn commented on #92613
/assign

[2020-06-29 18:18] neolit123 commented on #92564
/sig node

[2020-06-29 18:20] neolit123 commented on #92480
/sig api-machinery

[2020-06-29 18:32] dprotaso commented on #92226
@liggitt Can we re-open this issue - it seems like service links will degrade pod start time even when there's a modest # of services in a namespace.

Context: https://github.com/knative/serving/issues/8498#issuecomment-650614371

[2020-06-29 18:33] mattmoor commented on #92226
It's actually worse than that.  Above a certain number of services new pods will fail to start altogether.

[2020-06-29 18:35] liggitt commented on #92226
A distinct issue tracking performance problems or startup issues would be fine, but changing the default for core/v1 isn't really an option... it would break far more current users.

[2020-06-29 18:59] oguzyildiz1991 commented on #71612
@ean5533 @its-dave would they get any notifications if the replies got many upvotes after the issue was closed? I wonder if we should create a new issue instead

[2020-06-29 19:03] dprotaso commented on #92226
Sounds good

[2020-06-29 19:06] hh commented on #90877
Asked for feedback in slack via [#k8s-conformance](https://kubernetes.slack.com/archives/C78F00H99/p1593457560167700)

[2020-06-29 19:09] jonesbr17 commented on #90416
This is resolved, images have been updated to longer be impacted by this CVE.

[2020-06-29 19:09] #90416 closed

[2020-06-29 19:13] dprotaso opened #92615 "1000+ services in the same namespace will degrade pod start time & eventually prevent pods from starting"
From: https://github.com/kubernetes/kubernetes/issues/92226

**What happened**:

Having a modest number of services in your namespace will eventually degrade pod start time and after a certain number of services pods will fail to start.

**What you expected to happen**:

The number of services in a namespace should not prevent a pod from starting or degrade its start time.

**How to reproduce it (

[2020-06-29 19:15] jonesbr17 opened #92616 "Multiple images affected by CVE-2020-3810"
**What happened**: The latest images for the apiserver, controller-manager, and scheduler are vulnerable to [CVE-2020-3910](https://nvd.nist.gov/vuln/detail/CVE-2020-3810).

**What you expected to happen**: Latest images built using community automation should have patches to address existing security vulnerabilities.

**How to reproduce it (as minimally and precisely as possible)**: Build latest

[2020-06-29 19:37] dprotaso commented on #92615
/sig node

[2020-06-29 19:50] RobertKielty commented on #92306
So for some reason cluster up ran for a long time and it appears that the pod bootstrap-e2e-minion-group-cs6p failed to come up

[ci-kubernetes-e2e-gci-gce-containerd #1274819907329986560](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-containerd/1274819907329986560/nodelog?pod=&junit=junit_runner.xml&wrap=on&logfiles=%2Fkubernetes-jenkins%2Flogs%2Fci-kubernetes-

[2020-06-29 19:55] nic-hima commented on #40413
^ I would also like an answer on this. Ran across a similar problem, different application.

[2020-06-29 20:03] RobertKielty commented on #92306
It happened three times
| Time      | Link                                                                                                             |
| ------------- | ------------- |
| 19:12 PDT |[]( https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce-containerd/1276638936235511808) |
| 17:11 PDT | https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes

[2020-06-29 20:48] alculquicondor commented on #91601
Long shot, but if you run into it again... could you check if there are any nominated pods to the node that doesn't show up?

[2020-06-29 20:51] fmehrdad opened #92618 "Nodeport and service stops working on 1.15.3"
**What happened**:
I have 6 identical clusters and use the same service.yaml on all.
On 2 of the clusters once in a while the nodeport and service port stop responding.  the application is working fine and if I curl the pod ip it still works.
Sometimes deleting the service and creating it again fixes the issue.
Other time I have had to restart all of the nodes.
restarting all kube-proxys did not h

[2020-06-29 21:01] alculquicondor commented on #91601
I'm posting question as I think of possible scenarios:

- Do you have other master nodes in your cluster?

[2020-06-29 21:03] fmehrdad commented on #92618
/sig network

[2020-06-29 22:29] andrewsykim opened #92620 "Add unit tests for iptables rules in the IPVS proxy"
**What would you like to be added**:
The IPVS proxy uses iptables rules as well for things like packet filtering and masquerading traffic. We should have unit tests similart to the iptables proxier for the iptables rules created for the IPVS proxy.

**Why is this needed**:
More test coverage is always better :)

[2020-06-29 22:30] andrewsykim commented on #92620
cc @AkashSarda

@AkashSarda has expressed interest in working on this one

[2020-06-29 22:30] andrewsykim commented on #92620
/sig network
/area ipvs

[2020-06-29 22:31] andrewsykim commented on #92620
/assign @AkashSarda

[2020-06-29 22:57] AndiLi99 opened #92622 "E2E test: support longer test names"
**What would you like to be added**:
Currently test names are formed by concatenating the ginkgo context's together. The testname is used to create a directory. This creates a limit on the length of the the testname, as most operating systems can only support a filename of up to 255 bytes. This concatenating is done by the logging library (I think)

A way to break up the long test names by ginkgo

[2020-06-29 23:00] spiffxp commented on #92612
/area conformance

[2020-06-29 23:32] seeruk opened #92623 "Ability to configure TCP Load Balancers on GKE"
**What would you like to be added**:

Many other cloud providers allow their load balancers to be configured via annotations (for example; Alibaba Cloud, AWS, Azure, DigitalOcean, Scaleway - in fact, these are all of the other clouds I've check so far, and _all_ of them support this kind of configuration).

One of the things that's extremely handy with this configuration is being able to do things

[2020-06-29 23:33] seeruk commented on #92623
/sig cloud-provider

[2020-06-29 23:54] #78549 closed

[2020-06-30 00:00] AndiLi99 commented on #92622
/sig testing

[2020-06-30 00:03] BenTheElder commented on #92622
why are we using the testname to create a directory?
even if we do need to create a directory per test we should probably use something more unique.
sometimes multiple storage test entries wind up with the same test name

[2020-06-30 00:04] BenTheElder commented on #92622
/sig storage

[2020-06-30 00:09] BenTheElder commented on #92623
GKE has https://cloud.google.com/kubernetes-engine/docs/concepts/backendconfig for some of these things that would otherwise often be annotations / labels.

In general new features are discouraged from the in-tree cloud providers, as they're actively being moved out of tree.
https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/20180530-cloud-controller-manager.md#motivati

[2020-06-30 00:12] BenTheElder commented on #92602
Kubernetes is moving away from direct usage of docker to the CRI - Container Runtime Interface.
I don't think new docker specific features are being used. A feature like this would likely need an enhancement proposal to CRI https://github.com/kubernetes/enhancements

[2020-06-30 00:15] BenTheElder commented on #92623
/area provider/gcp
@cheftako how is this being handled now, are we tracking this sort of thing here or cloud-provider-gcp?

[2020-06-30 00:28] anfernee commented on #92412
@Abhishek1121-tech can you provide more information of how you configure your cluster? for example, how is kube-proxy is configured?

[2020-06-30 00:40] ddebroy commented on #92496
@divyenpatel as mentioned in https://kubernetes.slack.com/archives/C0SJ4AFB7/p1593475924226700?thread_ts=1593472121.224600&cid=C0SJ4AFB7, there is an effort to get rid of drive letters from the format and mount code paths for Windows in 1.19.

For your scenario in 1.17.5, after you introduce the VMDK into the Windows VM, what does `(Get-Partition -DiskNumber %s).DriveLetter` return?

[2020-06-30 01:34] #92439 closed

[2020-06-30 01:34] #91994 closed

[2020-06-30 01:57] lingxiankong commented on #90462
Thanks @liggitt, i will do some test accordingly

[2020-06-30 02:24] ahg-g opened #92628 "Preemption plugin should lookup the pod from informer cache"
Currently the preemption plugin gets the latest version of the pod from [the api server directly](https://github.com/kubernetes/kubernetes/blob/88c1386e0cd39e1939a923e44e799bc639ee4275/pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go#L103). This is not needed and expensive (costs an api request).  We  should change this to lookup the pod from the informer cache.

/sig schedu

[2020-06-30 02:34] Huang-Wei commented on #92600
This seems to be a duplicate of #85677.

[2020-06-30 02:38] cofyc commented on #73168
is this case still flaky?

[2020-06-30 02:59] yue9944882 commented on #92374
a workaround will be setting the service's type to `ExternalName` and put your target host name in that service. that will work the same as directly specifying the webhook URL.

https://github.com/kubernetes/kubernetes/blob/88c1386e0cd39e1939a923e44e799bc639ee4275/staging/src/k8s.io/apiserver/pkg/util/proxy/proxy.go#L111

[2020-06-30 03:14] michmike commented on #92496
@divyenpatel what happens if you try to remount the volume on the same node where it was originally attached?

[2020-06-30 03:38] 13567436138 opened #92629 "kubectl config set error"
**What happened**:
[code]
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
···
[root@master01 ~]# kubectl version
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe5036ef3df2967d086711e6c0c405941e14b",

[2020-06-30 03:39] 13567436138 commented on #92629
/sig cli

[2020-06-30 03:56] zhouya0 commented on #92629
/assign

[2020-06-30 04:19] mattmoor commented on #92615
To clarify, 1000 Knative Services currently translates to about 2000 Cluster IP services and 1000 ExternalName services.

[2020-06-30 04:23] divyenpatel commented on #92496
In that case, I have observed that volume is getting mounted successfully.

[2020-06-30 04:26] divyenpatel commented on #92496
@ddebroy we do not log output of `(Get-Partition -DiskNumber %s).DriveLetter`. I am working on adding a debug log and re-deploying cluster with the custom image.

[2020-06-30 04:55] cheftako commented on #92623
I think its fine to track it here for now but we will want to make sure the fix is applied to both until we finalize the cutover.

[2020-06-30 05:57] dhineshbabuelango opened #92633 "Nodeport is creating only tcp6 ports."
**What happened**:
I am trying to create a nodeport which exposes UDP and TCP on the same nodeport.
I will create an AWS network Loadbalancer with protocol TCP_UDP for the same port. I was able to create everything but the network load balancer health check is failing because it can do health check only for IPv4.

**What you expected to happen**:
Nodeport to create only IPV4.

**How to reproduce i

[2020-06-30 06:01] #87684 closed

[2020-06-30 06:38] like-inspur opened #92634 "old job of cronjob produce don't clean"
**What happened**:
I run curator cronjob on my kubernetes and run job once a day, but found that old faild job exist for a long time and sucees job keep three, but only newest pod exist like below:
[code]

**What you expected to happen**:
I think if pod don't exist any more, kubernetes reserve job is meaningless, because I can't see log of job

**Environment**:
- Kubernetes version (use `kubectl v

[2020-06-30 06:40] JasonRD commented on #68211
any progress？

[2020-06-30 07:03] #92488 closed

[2020-06-30 07:20] ezYakaEagle442 opened #92635 "Add tips in the cheatsheet for the certifications or not"
**What would you like to be added**:
sometime the copy&paste from [https://github.com/kubernetes](https://github.com/kubernetes) does not work in VI due to indentation issues, the VIM tip below fixes the issue.

[code]

**Why is this needed**:
That can help developers to be more efficient but also anyone clearing the CKAD & CKA exams, it is unfair to waste time during the exam just because people

[2020-06-30 07:32] ezYakaEagle442 commented on #92635
/docs

[2020-06-30 07:34] ezYakaEagle442 commented on #92635
/sig docs

[2020-06-30 07:34] adamdougal commented on #77058
/remove-lifecycle rotten

[2020-06-30 07:46] ezYakaEagle442 opened #92636 "Add cron syntax in the cheatsheet for the certifications or not"
**What would you like to be added**:
Add CronJob full syntax at [https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs](https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs) and also in the [CheatSheet](https://kubernetes.io/docs/reference/kubectl/cheatsheet)

# ┌───────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌───────────── day of the month (1 - 3

[2020-06-30 07:47] ezYakaEagle442 commented on #92636
/sig docs

[2020-06-30 07:50] ailox commented on #54923
Still relevant as ever.
/remove-lifecycle stale

[2020-06-30 08:52] Hi-Fi commented on #91601
All clusers have 3 masters (so restarting of those is easy)

No.

One interesting thing noticed today: I had cluster where one master was not receiving pod from DaemonSet. We have ChaosMonkey in use, which terminated one of the worker nodes. That's interesting, this made the pod to go to the master that was not receiving it earlier. So somehow removal of other node than the problematic one seemed

[2020-06-30 09:00] wuchuxiong commented on #67974
I think it's the same issue with https://github.com/kubernetes/kubernetes/issues/85389

[2020-06-30 09:03] rwanyoike commented on #45509
Hy Nathan, are you able to share the  implementation of the orchestrator
code. Thanks.

On Sun, Jun 28, 2020, 08:35 Nathan Johnstone <notifications@github.com>
wrote:

[2020-06-30 09:06] Jetman80 opened #92638 "Node memory and cpu capacity inside limited LXD container detected wrong"
**What happened**:
Node memory and cpu capacity inside limited LXD container detected from the host machine. Resources allocation depends on node capacity. If the node runs inside limited LXD container actual resource limits are applied by linux internals (cgroups, LXD etc), but k8s will try to allocate more resources than available to the node container as capacity is detected from the LXD host.

[2020-06-30 09:11] soulxu commented on #92600
@Huang-Wei actually, I found this case after review #85677. I file this issue since I feel it should be another case. The #85677 want to cleanup the nomnated node for cluster autoscaler. This is case need to allow the pod to preempt on other nodes again even it has a nomanted node. But I may understand incorrectly, please mark it duplicated if I'm wrong. Thanks for help anyway.  :)

[2020-06-30 09:23] Jetman80 commented on #92638
/sig node

[2020-06-30 09:50] ivanangelov opened #92639 "K8s Ingress spec: Headless services routing for StatefulSet pods"
**What would you like to be added:**

K8s Ingress to be able to route external traffic to a specific pod of a StatefulSet which is exposed by a headless Service.

**Example:**
[code]

**Why is this needed:**

We are implementing a High availability setup for our K8s based solution. We are using a StatefulSet and would like to make use of the Horizontal Pod Autoscaler in order for our pods to be sc

[2020-06-30 09:52] #91498 closed

[2020-06-30 09:55] ivanangelov commented on #92639
/sig network

[2020-06-30 10:05] brightzheng100 opened #92640 "kubelet keeps flooding errors: open /sys/fs/cgroup/memory/kubepods.slice/memory.limit_in_bytes: no such file or directory"
**What happened**:

The `kubelet` keeps flooding errors:

[code]

**What you expected to happen**:

The `kubelet` should be ready for bootstrapping, for example, by `kubeadm`.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

[code]

**Environment**:

[code]

[2020-06-30 10:06] fasaxc commented on #92596
The error `Operation Delete is not supported on WorkloadEndpoint type` is from Calico.  Examining a log that the OP shared with me, it appears that Calico is not recognising that the orchestrator is Kubernetes; Calico determines the orchestrator by examining the CNI argments like so:
[code]
Have the K8S_POD_NAME and/or K8S_POD_NAMESPACE arguments been removed?

[2020-06-30 10:08] brightzheng100 commented on #92640
/sig node

[2020-06-30 10:20] krystan commented on #30518
This is no longer the case: https://aws.amazon.com/blogs/aws/new-advanced-request-routing-for-aws-application-load-balancers/

[2020-06-30 11:02] aojea commented on #92639
@aledbf is not this something that is being done as part of https://github.com/kubernetes-sigs/service-apis ?

[2020-06-30 11:46] benvdh commented on #69696
I had some spare time left to do some more testing, and finally was able to resolve the issue with a combination of node taints, and pod disruption budgets. The node-taints already seem to prevent a lot of additional services from running on the nodes in my auto-scaling pool (e.g. metrics server, heapster etc.), and then only 3 services seem to remain:
- kube-proxy
- fluentd-gcp
- prometheus-to-sd

[2020-06-30 12:13] cofyc commented on #91318
duplicated https://github.com/kubernetes/kubernetes/issues/92186

[2020-06-30 12:13] #91318 closed

[2020-06-30 12:19] marybe opened #92647 "how to make readiness probe not skip certificates with HTTPS?"
I'm using readinessProbe on my container and configured it to work on HTTPS with scheme attribute. My server expects the get the certificates. how can I configure the readiness probe to support HTTPS with certificates exchange? I don't want it to skip the certificates

[code]

[2020-06-30 12:25] marybe commented on #92647
/sig cluster-lifecycle

[2020-06-30 12:58] cynepco3hahue commented on #92583
I think the control plane is waiting for the kubelet confirmation that the pod was terminated, but the kubelet does not respond, so the control-plane can not really delete the pod from the etcd. Once you will restore the connection to the kubelet, the pod will disappear.

[2020-06-30 13:00] hasheddan commented on #92612
Seeing green runs on a few jobs since #92603 was merged. Will monitor for a few more runs then close this out. Jobs of note:

https://testgrid.k8s.io/sig-release-master-blocking#Conformance%20-%20GCE%20-%20master
https://testgrid.k8s.io/sig-release-master-blocking#conformance-ga-only
https://testgrid.k8s.io/sig-release-master-informing#capg-conformance-v1alpha3-k8s-master
https://testgrid.k8s.io/s

[2020-06-30 13:58] alculquicondor commented on #91601
I'm confused now... Does your daemonset tolerate the taint for master nodes? In other words... is the bug for you just the scheduling event or also the fact that the pods should have been scheduled?

[2020-06-30 13:58] danwinship commented on #90251
/remove-triage unresolved

[2020-06-30 14:18] Hi-Fi commented on #91601
Issue is, that node is not found by scheduler even there's at least one matching affinity (or antiaffinity) settings.

That's why I said that the taint error is expected, and should have been there already at the first event (as taint is not part of the affinity criteria)

[2020-06-30 14:23] alculquicondor commented on #91601
Understood. I was trying to confirm your setup to make sure I'm not missing something.

I don't think the node is "unseen" by the scheduler. Given that we see `0/9 nodes are available`, we can conclude that the node is indeed in the cache. It's more like the unschedulable reason is lost somewhere, so we don't include it in the event.

[2020-06-30 14:27] Hi-Fi commented on #91601
True, total count matches always with actual node count. Just more descriptive event text is not given on all nodes, but that can be separate issue as you mentioned.

[2020-06-30 14:39] BenTheElder commented on #92638
The resource detection comes from cAdvisor. https://github.com/google/cadvisor
This same issue happens in a docker container.

Last I spoke to SIG node members, this is not officially supported (running kubelet in a container). It used to be supported to run "containerized" kubelet as in kubelet intentionally managing an underlying host but running / delivered itself via a container, but this was

[2020-06-30 14:39] robevansuk opened #92648 "describe returns results when the name is an incomplete match, inconsistently to `kubectl get`"
**What happened**: `kubectl describe secret [partial secret name]` returns the closest match eg. if the full secret name is `default-token`, then using `default` will return successfully

**What you expected to happen**: expected a `Error from server (NotFound): secrets "default" not found` response type as for other types of get/describe

**How to reproduce it (as minimally and precisely as possi

[2020-06-30 14:44] BenTheElder commented on #92648
/sig cli

[2020-06-30 14:45] robevansuk commented on #92062
You attach to a pod rather than a deployment surely?
You could also try `kubectl get pods (-n namespace)` and once you have the pod ID try:
`kubectl attach pod/[POD_ID] (-n namespace)`
Alternatively you can try:
`kubectl exec -it (-n namespace) [POD_ID] -- bash`

[2020-06-30 14:45] BenTheElder commented on #92647
/remove-sig cluster-lifecycle
/sig node

[2020-06-30 14:46] xing-yang commented on #69528
/remove-lifecycle stale

[2020-06-30 14:52] BenTheElder commented on #92306
Do we know what pod that is?

On Mon, Jun 29, 2020, 13:03 Robert Kielty <notifications@github.com> wrote:

[2020-06-30 15:02] JamesMurkin opened #92649 "Improve user experience of using scheduler policies"
**What would you like to be added**:

Either:
 - Solid documentation on how to add a policy without disrupting existing Kubernetes scheduler behaviour
 - A way to add a custom partial scheduler policy that is merged with the default

**Why is this needed**:
I'll use a basic use case for describing this issue. I would like the scheduler to fill nodes before scheduling pods on the next node, just bi

[2020-06-30 15:06] JamesMurkin commented on #92649
/sig Scheduling

[2020-06-30 15:40] alculquicondor commented on #91601
Are you able to look at your kube-scheduler logs? Anything that seems relevant?

[2020-06-30 15:44] redbaron commented on #65012
/remove-lifecycle stale

[2020-06-30 15:49] brijeshRHCA opened #92653 "Provide annotation to set ALPN policy for AWS NLB when use with service type as Loadbalancer"
AWS recently launched ALPN policy for NLB [1]. It would be good to have a "annotation" so that we can provide ALPN policy name in "service" manifest.

I looked at the NLB documentation regarding ALPN policy, in which, it is configured on the NLB listener [2][3]. Hence I looked at AWS cloudprovider code of Kubernetes for latest release i.e 1.18, Especially around the logic where NLB listener is bei

[2020-06-30 15:53] Hi-Fi commented on #91601
I think @zetaab tried to look for that without success. I can try when the issue occurs again (as well as that nominated pod thing asked earlier)

[2020-06-30 15:56] Ajitesh13 commented on #68026
Hello, is this still a relevent issue ? I would like to work upon

[2020-06-30 16:03] alculquicondor commented on #91601
If possible, also run 1.18.5, in case we inadvertently fixed the issue.

[2020-06-30 16:27] vggarg96 commented on #47775
Hello I am new to the kubernetes and i am trying to start the deployment. I have a local docker image with latest tag as I am testing my application and it is not feasible to keep changing the version. I set the imagePullPolicy to ifNotPresent but it is still trying to pull the image from the docker hub. any suggestions??

[2020-06-30 16:33] pohly commented on #92622
I assume this is about the artifacts, for example `_sig-storage_CSI_Volumes_Driver_csi-hostpath_Testpattern_Dynamic_PV_block_volmode_allowExpansion_volume-expand_Verify_if_offline_PVC_expansion_works/` in https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/91939/pull-kubernetes-e2e-kind/1277884307708317696/artifacts/?

The test name is guaranteed to be unique per test run. It was chosen beca

[2020-06-30 16:34] pohly commented on #92622
In this example, the directory might then become `sig-storage/CSI_Volumes/Driver_csi-hostpath_Testpattern_Dynamic_PV_block/volmode/allowExpansion/volume-expand/Verify_if_offline_PVC_expansion_works` (I'm guessing a bit what the component texts are - I'm not sure).

[2020-06-30 16:37] pohly commented on #92622
Oh, there's an old todo about doing exactly that. It wasn't possible at the time because gubernator couldn't handle deeply nested directories: https://github.com/kubernetes/kubernetes/blob/c5941e283fd7e37e953832d6743e7ea3b556ab7a/test/e2e/storage/testsuites/base.go#L585-L588

[2020-06-30 16:54] Jetman80 commented on #92638
After some additional research I've found it is not a kubelet issue, but docker issue. Docker sees host's /proc fs even in LXD container. There is a workaround: https://github.com/rancher/rancher/issues/21057 .

[2020-06-30 16:54] #92638 closed

[2020-06-30 17:03] hasheddan commented on #92612
Jobs are looking green :heavy_check_mark:

/close

[2020-06-30 17:04] #92612 closed

[2020-06-30 17:38] danwinship commented on #92451
/remove-triage unresolved
/remove-kind feature
/kind documentation

[2020-06-30 17:41] danwinship commented on #92451
In general, we document the _expected_ state of alpha features, but we don't explicitly document specific known bugs, because... well, we'd rather spend time fixing them than documenting them. Hence, I don't know how much is really going to get done here.

Fixed by #91400.

[2020-06-30 17:46] danwinship commented on #91940
/retitle DualStack: nodes and hostNetwork pods have only a single IP

[2020-06-30 17:47] danwinship commented on #91494
Yeah, this isn't a kubectl bug; the pod actually only has one podIP, and kubectl is showing that correctly.
#91940 tracks the dual-stack hostNetwork pod IP bug
/close

[2020-06-30 17:47] #91494 closed

[2020-06-30 17:48] danwinship commented on #90704
I'm calling #91940 the canonical dual-stack node IPs issue
/close

[2020-06-30 17:48] #90704 closed

[2020-06-30 17:51] michmike commented on #92496
@divyenpatel is there a storage command you can run to forcibly unmount the volume in vsphere storage so that the volume pvc can be attached to a new node? this will be a manual and fairly expensive workaround, but a workaround nonetheless

[2020-06-30 17:59] danwinship commented on #85443
https://github.com/kubernetes/enhancements/pull/1665 covers fixing up node IPs for dual-stack, though it currently lists dual-stack `pod.Spec.HostIPs` as a "Non-Goal". (Though that's in part because it "can be done fairly trivially later if we decide it's useful", and I guess if there's already a feature request for it here then that means it would be useful to some people so maybe it should be ad

[2020-06-30 18:04] divyenpatel commented on #92496
@michmike I do not see any issue with unmounting and detaching volume. Volume gets unmounted and detached from the node and gets attached to the new node. but mount fails on the new node.

I have confirmed this by looking at the events set on the Pods

[code]

[2020-06-30 18:14] danwinship commented on #73760
Yeah, it might be best to just expose all of `node.Status.Addresses`, serialized as JSON? Then if someone really needs to know the second IPv6 ExternalIP, they can find that.

But it's also goofy to add a redundant `PodStatus.Addresses` just so people can access it via the downward API, so maybe another possibility would be to let people do something like:

[code]

where `kind` would default to `P

[2020-06-30 18:17] chief93 commented on #92451
@danwinship hi? what about the described bug of parsing CLI args? [https://github.com/kubernetes/kubernetes/issues/92451#issuecomment-650560740](https://github.com/kubernetes/kubernetes/issues/92451#issuecomment-650560740)

[2020-06-30 18:32] hh commented on #92273
@bernokl Since you are generating **'[Conformance]'.yaml** for previous releases for the cncf/k8s-conformance PR gate.

Can you generate back to 1.9, and ensure that the tests above, that lack the version have it added back into the metadata at the test level for the correct version.

[2020-06-30 18:46] danwinship commented on #92451
I'm not sure what you're doing wrong

    kube-controller-manager --feature-gates=IPv6DualStack=true

works fine for me

[2020-06-30 18:57] michmike commented on #92496
@marosset can we have someone from the storage team take a look please?

[2020-06-30 19:19] cjellick opened #92704 "Potential license conflict"
I ran an OSS license scan of a codebase that has this project as a dependency and came across an interesting hit.

This go-vhd dependency specified here:
https://github.com/kubernetes/legacy-cloud-providers/blob/1bd57a2af8f3a65a82398a87ce5a99f855e277f1/go.mod#L22
has a snippet of code from StackOverflow which is license under creative commons sharealike. Here's the code in question:
https://github

[2020-06-30 19:31] jonesbr17 opened #92664 "CSI Volume tests should work with non-default kubelet root directories"
**What happened**:
The CSI hostpath driver used in the e2e tests expects the root directory of nodes to be set to `/var/lib/kubelet`, [hardcoded here](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml#L130-L133), however nodes can be configured to use different paths. The tests should find out the root directory f

[2020-06-30 19:33] jonesbr17 commented on #92664
/sig testing

[2020-06-30 20:10] cmluciano commented on #92033
@ghudicziusI I agree that we can do better about surfacing all of the modules that we expect to be loaded already. I will work on that PR, but I'm also still interested in why we would not find ip_vs_sed.ko loaded on your system.

 I'm not super familiar with gentoo setup but I found a few related threads in there mailing lists that may be related to issues you are having. I personally do not have

[2020-06-30 20:13] chief93 commented on #92451
@danwinship I'm trying to set this option in the `/etc/kubernetes/manifests/*` files, and setting of ANY of `--feature-gates` leads to described parsing errors.

[2020-06-30 20:31] neolit123 commented on #92451
the presence of the following in the kubeadm ClusterConfiguration should suffice for kubeadm to propagate the IPv6DualStack feature gate the components that need it.

[code]

but in your config, i see `yes` instead of `true`.

[2020-06-30 20:31] danwinship commented on #92451
It sounds like you are copying from an example that passes flags on the command-line and is using the quotes as shell metacharacters, but you are putting the flags into a context where the quotes are not treated as shell metacharacters and hence just get passed to kubernetes directly

[2020-06-30 20:32] 2rs2ts commented on #75957
I think @yaseenisolated had it right.

Rather than letting users shoot themselves in the foot we should protect them.

[2020-06-30 20:34] Queuecumber commented on #92451
That's my config not his and it works, in yaml any "truthy" value parses as JSON true and any "falsy" value parses as JSON false.

[2020-06-30 20:39] michaelgugino commented on #75957
The problem with this is the selectors.  While it's somewhat tractable to compare the selectors of other PDBs in a given namespace, there is nothing stopping a pod being created in the future that has labels that match multiple PDBs.

[2020-06-30 20:45] neolit123 commented on #92451
@Queuecumber

i had a vague memory that this is the case, but was wondering if it somehow ended up as `--feature-gates=IPv6DualStack=yes`, which would not work.

@chief93

the kubeadm feature gate (under ClusterConfiguration) propagates the --feature-gates flag to files in /etc/kubernetes/manifests/* and the "kube-proxy" DeamonSet, so you don't have to do that.

[2020-06-30 20:51] andrewsykim commented on #92620
/remove-triage unresolved

[2020-06-30 20:54] BenTheElder commented on #92664
/sig storage
/remove-sig testing
This is a SIG storage specific issue.

[2020-06-30 20:55] chief93 commented on #92451
@danwinship , @neolit123 again, I'm following OFFICIAL Kubernetes instruction of enabling feature gates, in this case - the `IPv6DualStack`, here if the link: [https://kubernetes.io/docs/concepts/services-networking/dual-stack/](https://kubernetes.io/docs/concepts/services-networking/dual-stack/) and, again, I'm trying of enabling this feature in the ALREADY SET UP cluster, NOT the NEW one, so `ku

[2020-06-30 21:10] 2rs2ts commented on #75957
Well, our belief is that there should be such a thing to stop it, in much the same way that a Pod that mounts a non-existent volume can't be created.

[2020-06-30 21:11] 2rs2ts commented on #88293
/remove-lifecycle rotten

[2020-06-30 21:13] droslean commented on #76342
/milestone v1.20

[2020-06-30 21:14] Queuecumber commented on #92451
@chief93 I just brought up our dual stack test cluster here's a (sanitized) dump of the arguments from the apiserver

[code]

hopefully you can use that to work out what you're doing differently

[2020-06-30 21:17] 2rs2ts commented on #88197
/remove-lifecycle rotten

[2020-06-30 21:21] 2rs2ts commented on #53331
Should I file a duplicate issue since the OP has not reopened the issue?

[2020-06-30 21:26] chief93 commented on #92451
@Queuecumber thank you very much! And I want to notice that you also used the `--feature-gates=IPv6DualStack=true` without quotes, in opposite of official Kubernetes docs. Sadly this is not the first time when it's docs are just wrong :(

[2020-06-30 21:29] Queuecumber commented on #92451
Might as well update the docs to delete that section on known issues then and we can all continue to be confused until it works

That's great news

Yes the docs do seem to be wrong, that configuration file was generated by the kubeadm config not hand written so it shoudl be a safe reference. The goal of this issue is, after all, to get the docs into a better state.

[2020-06-30 21:49] neolit123 commented on #92451
i'm confused why `--feature-gates=IPv6DualStack=true` vs `--feature-gates="IPv6DualStack=true"` makes a difference.

in any case it feels like the logic here should tolerate it:
https://github.com/kubernetes/component-base/blob/master/featuregate/feature_gate.go#L179-L200

[2020-06-30 22:06] ghudiczius commented on #92033
@cmluciano, as I mentioned, it was not available (neither as a kernel modules, nor as a compiled-in part of the kernel
As it was a local issue with my setup, the solution was to recompile the kernel with ip_vs_* enabled (compiled into the kernel in my case, but that's just a question of personal preference)

Since the IP_VS modules are compiled into the kernel, the `find` command returns no files,

[2020-06-30 22:36] neolit123 commented on #92451
and here is a more detailed explanation:

[code]

so instead of changing https://kubernetes.io/docs/concepts/services-networking/dual-stack/, maybe we should instead patch https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/component-base/featuregate/feature_gate.go to tolerate quoted values for `--feature-gates`.

[2020-06-30 22:40] neolit123 commented on #92451
/wg component-standard

[2020-06-30 22:53] luigibk commented on #92439
Thanks!

[2020-06-30 23:08] fara-nak commented on #24725
Please open this, we need the pod not to restart, what's the point of "Never" if we can't use it?

[2020-06-30 23:11] thockin commented on #85395
Revisiting this after a while (unfortunately not with a much better answer).

There are 2 things that could be in play here.

Easier: If the goal is to get some metadata from pods all the way into DNS to tweak how SRVs are served, we can probably do that.  E.g. Something in Service that says "carry these labels from pods", which endpoint controllers could respect and pass into Endpoints.  Now, we

[2020-06-30 23:18] kbruner commented on #59848
This issue hasn't been updated in 4 months. Are you still expecting to complete it for 1.19? @kubernetes/sig-api-machinery-bugs @kubernetes/sig-apps-bugs @kubernetes/sig-scalability-bugs

[2020-06-30 23:23] kbruner commented on #80916
@apelisse Is this still slated for 1.19? We're approaching code freeze.

[2020-06-30 23:24] kbruner commented on #75564
@apelisse Is this still slated for 1.19? We're approaching code freeze.

[2020-06-30 23:25] apelisse commented on #80916
Yes absolutely, we've done a lot of progress on that, we're almost ready, thanks!

[2020-06-30 23:25] Huang-Wei commented on #92600
If the nominatedNodeName can be cleared properly in any case, this issue will no longer exist. From this point of view, I'd say this issue is a sub-case of #85677.

[2020-06-30 23:37] yaseenhamdulay commented on #75957
We could do both. Prevent creation of pods that match multiple PDBs (its an invalid state) and prevent PDBs from being created  whose selectors match pods that have another PDB associated with them.

[2020-06-30 23:47] chief93 commented on #92451
@neolit123 and this is what I've thought about this either from beginning... [https://github.com/kubernetes/kubernetes/pull/82473#issuecomment-650558765](https://github.com/kubernetes/kubernetes/pull/82473#issuecomment-650558765)

[2020-06-30 23:51] michaelgugino commented on #75957
For this to be completely implemented, you'd also need to check updates to all pods and all PDBs.  Also, you have to compare the selectors, not just if there will be any pods matching both, as there might not be any matching pods at creating of a PDB.  Also, need to sort out to do with things like stateful sets and deployments that are not pods, but will attempt to create them.

I'm heavily on the

[2020-07-01 00:02] Huang-Wei commented on #92600
BTW: in your description, if "The nodeA is down", how it comes out "a Pod's nominated node is considered as UnschedulableAndUnresolvable in the filter stage"? nodeA should NOT have existed in the result of Filter(), right?

(if the nodeA is just being shutdown, we still treat it as a normal node)

[2020-07-01 01:11] DesistDaydream opened #92671 "After the aggregation api is deleted, the deleted api still exists in the kube-apiserver metrics"
**What happened**:
After the aggregation api is deleted, the deleted api still exists in the kube-apiserver metrics
[code]
`v1beta1.external.metrics.k8s.io`  This api still exists in metrics
[code]

**What you expected to happen**:
I hope that the metrics of apiserver can synchronously clean up the deleted api

**How to reproduce it (as minimally and precisely as possible)**:
Create a new API and

[2020-07-01 01:13] alejandrox1 opened #92672 "Get Kubelet address from kubelet config during node e2e tests"
There is a todo in the node e2e test suite to obtain the kubelet address from the kubelet config
https://github.com/kubernetes/kubernetes/blob/e4ece47f2ff403b28ffeed44eb5cf97d2aa219a6/test/e2e_node/util.go#L61-L62

The kubelet address is used in https://github.com/kubernetes/kubernetes/blob/e4ece47f2ff403b28ffeed44eb5cf97d2aa219a6/test/e2e_node/util.go#L77

The kubelet flag is itself deprecated,

[2020-07-01 01:13] alejandrox1 commented on #92672
/sig node

[2020-07-01 01:21] knabben commented on #92672
@alejandrox1 can I give it a try?

[2020-07-01 01:23] liggitt commented on #92671
I'm pretty sure that once a given series is created, it cannot be removed.

cc @logicalhan

[2020-07-01 01:24] vkuznet commented on #80963
/close

[2020-07-01 01:24] #80963 closed

[2020-07-01 01:25] knabben commented on #92672
/assign knabben

[2020-07-01 01:27] soulxu commented on #92600
If the NodeA is down, the node life cycle controller will add taint 'node.kubernetes.io/unschedulable' to the node, then the TaintToleration filter will return 'UnschedulableAndUnresolvable '. It also means that it isn't only about nodeA is down, there are other conditions in this 'https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/#taint-nodes-by-condition to return 'Uns

[2020-07-01 01:28] DesistDaydream commented on #92671
Such useless data will generate useless alerts。
I have no choice but to restart kube-apiserver or silences the alart。

[2020-07-01 01:29] DesistDaydream commented on #92671
Such useless data will generate useless alerts。
I have no choice but to restart kube-apiserver or silences the alerts。

[2020-07-01 01:31] alejandrox1 opened #92673 "Document node e2e workflow"
I think it would be useful to explain exactly how node e2e tests are executed.
It isn't the easiest thing in the world to understand the flow of data through the e2e node test binary.
This would also help untangle everything that is done to get the tests running which will simplify the code and make it a bit easier to know what is going on during in the up stage of tests.

The entry point into the

[2020-07-01 01:32] alejandrox1 commented on #92673
/kind documentation
/kind-remove feature

[2020-07-01 01:32] alejandrox1 commented on #92673
/remove-kind feature

[2020-07-01 01:35] Huang-Wei commented on #92600
@soulxu then we should better describe it as "being applied with a Taint", which more general. When you say "node is down", it usually refers to the node is deleted physically.

[2020-07-01 01:36] soulxu commented on #92600
@Huang-Wei I got it, thanks again! let me correct it

[2020-07-01 01:37] alejandrox1 opened #92674 "Cleanup e2e_node/jenkins"
There are some leftover test artifacts from the time when e2e tests were executed with Jenkins.
The artifacts can be found here https://github.com/kubernetes/kubernetes/tree/master/test/e2e_node/jenkins

We should look into these files and see
* what do we need to move elsewhere?
* what needs to be updated?
* what can we delete?

/help wanted
/good-first-issue
/sig node

[2020-07-01 01:37] Huang-Wei commented on #92600
Also it's different from #85677. Let's not mention "node is down" in the description to avoid confusion.

[2020-07-01 01:38] alejandrox1 commented on #92674
/kind cleanup
/remove-kind feature

[2020-07-01 01:46] soulxu commented on #92600
thanks, done :)

[2020-07-01 01:50] igcherkaev opened #92675 "Kubelet 1.17.8 breaks pod/container startup"
**What happened**:

There was a happy kubernetes cluster running 1.17.6 version of kubelet and everything.
Once upgraded to 1.17.8: kubelet 1.17.8 breaks pod/container startup.

**What you expected to happen**:

Pods created and started successfully.

**How to reproduce it (as minimally and precisely as possible)**:

No pods with cluster IP can be started. They all go to crashloop. They seem to st

[2020-07-01 01:51] igcherkaev commented on #92675
/sig network

[2020-07-01 02:39] iamejboy commented on #92596
Hi @fasaxc thank for looking into this. We have determined that this was issue with the hyperkube image released that don't contain iproute2 package. I created an image from already merged PR linked to this issue, and successfully solved this issue. We will have to wait then for v1.18.6 released for official image.

[2020-07-01 02:39] #92596 closed

[2020-07-01 02:49] brightzheng100 commented on #92640
Well, it turns out that it is a false alarm as I was trying to manually provision K8s on Docker containers.

I must have missed something as it works well by using [`kind`](https://github.com/kubernetes-sigs/kind)'s base image

[2020-07-01 02:49] #92640 closed

[2020-07-01 02:53] webPageDev opened #92676 "kubelet can not rotatecert when restart kubelet or node"
**What happened**:
I configured --rotate-certificates=true when starting the kubelet service.And I see in the environment that --feature-gates=RotateKubeletClientCertificate=true is set.At this time, the communication between kubelet and apiserver is normal.The certificate in the /var/lib/kubelet/pki/kubelet-client-current.pem directory is valid for one year.
When the certificate is valid, I resta

[2020-07-01 03:00] yue9944882 commented on #92671
metrics are resettable by sending `DELETE` requests to the `/metrics` endpoint

[2020-07-01 03:02] timyl commented on #92412
@anfernee this is more like the issue as below
https://github.com/kubernetes/kubeadm/issues/2205

[2020-07-01 03:05] liggitt commented on #92671
Is it possible for the API server to automatically delete specific series when the API objects driving those series are removed?

[2020-07-01 03:08] zhouya0 commented on #92648
Actually you can see the logic written in `kubectl describe`:
https://github.com/kubernetes/kubernetes/blob/180af4240c42906f072112e7ac7818f4b3574c5a/staging/src/k8s.io/kubectl/pkg/cmd/describe/describe.go#L240-L253
So it behave as designed to, seems not a bug.
What should be discussed:
1. should `kubectl get` behave the same?
2. using `kubectl describe secrets/default` and `kubectl describe secret

[2020-07-01 03:27] zhouya0 commented on #89685
/close

[2020-07-01 03:27] #89685 closed

[2020-07-01 03:28] DesistDaydream commented on #92671
I tried as follows:
1.delete API
[code]
2.reset metrics
[code]
3.But the series is still
[code]

[2020-07-01 03:33] howardjohn commented on #91686
We have proven this is an Istio issue, see https://github.com/istio/istio/issues/25112 for details. tl;dr don't block the handler for the informer

/close

[2020-07-01 03:50] enj opened #92678 "CSR API: cluster signing duration is not flexible and has unsafe defaulting"
Kube controller manager supports a built-in set of controllers called `csrsigning`.  These implement the default `kubernetes.io/*` CSR signers and are commonly used (i.e. via `kubeadm`).  Currently all certificates signed from these controllers have a static lifetime configured via the `--cluster-signing-duration` flag:

https://github.com/kubernetes/kubernetes/blob/908847c01e9640ffce2ffda5acf88d9

[2020-07-01 04:02] liggitt commented on #91686
Thanks for the follow up

[2020-07-01 04:02] #91686 closed

[2020-07-01 04:16] ArchangelSDY opened #92680 "Azure: Wrong condition when expiring nil VM entry in VMSS cache"
**What happened**:
https://github.com/kubernetes/kubernetes/blob/180af4240c42906f072112e7ac7818f4b3574c5a/staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go#L182-L188

**What you expected to happen**:
From the comment above it should be `if vmEntry.virtualMachine == nil && time.Since(vmEntry.lastUpdate) > 15*time.Minute`

**How to reproduce it (as minimally and precisely as possib

[2020-07-01 04:59] logicalhan commented on #92671
It is possible to remove a series after creation but this isn't something we currently support as an API.

There are some **HUGE** caveats to that statement though.

1. Only a subset of metrics are resettable (and even that subset is not consistent).
2. This is a non-standard, undocumented API which means there is no explicit contract that should allow one to believe this is something one can depe

[2020-07-01 05:09] logicalhan commented on #92671
What is your alert condition?

[2020-07-01 05:14] DesistDaydream commented on #92671
like this: `sum by(name, namespace) (sum_over_time(aggregator_unavailable_apiservice[5m])) > 0`

For example, I created some test API and deleted them after the aggregation failed, but these deleted API will still generate alert

[2020-07-01 05:18] logicalhan commented on #92671
You want to use `rate` here. If your condition is the change in the metric value between some past point and now, then it will only alert for that window of time (events age out of the window).

[2020-07-01 05:34] DesistDaydream commented on #92671
Thankful.Chang the rules can prevent useless alerts.

[2020-07-01 06:03] logicalhan commented on #92671
What makes it not suitable for monitoring availability? I don’t quite understand what you are saying..

[2020-07-01 06:07] logicalhan commented on #92671
Also when I said ‘rate’, I actually meant ‘delta’.

[2020-07-01 06:18] knight42 commented on #92634
This works as expected since cronjob will keep 1 failed finished jobs by default. You could explicitly set `cronjob.spec.failedJobsHistoryLimit` to 0.

[2020-07-01 06:18] knight42 commented on #92634
/remove-kind bug

[2020-07-01 06:18] DesistDaydream commented on #92671
e.g.`aggregator_unavailable_apiservice{name="v1beta1.metrics.k8s.io"}`  The value of this sample is 1 for 5 minutes. Then a promQL like `rate(aggregator_unavailable_apiservice[5m])` cannot accurately indicate whether the API has been successfully aggregated

[2020-07-01 06:20] bronger commented on #24725
Well, to be fair, the parameter exists because it is inherited from pod spec. A deployment spec contains a pod spec with some constrains, one of them being that restartPolicy can only be Never.

I *think* the reasoning behind this is that deployments are not jobs.  Like a container must be able to cope with the fact that it can be shut down at any time, a deployment must be able to cope with the f

[2020-07-01 06:27] CatalinAdlerDF commented on #67761
This also happens in our cluster on GKE and we do create job objects at high rate: up to 10k.
We get the job object created but it does not have a pod; pod takes forever to get even get created.

[2020-07-01 06:34] logicalhan commented on #92671
Use delta. This tells you if, in the last X minutes, how much more you have increased in your accumulated unavailability. Also, this metric technically never has to tell you if you’re available, it only count unavailable data points.

If you use ‘sum’ and compare against the value 0. Then you’ve asked for the situation you are encountering, which is fire once and never reset.

[2020-07-01 06:36] knight42 commented on #92675
@igcherkaev From the logs you provided, looks like kubelet failed to get network status of pods because of missing `ip` command.
Could you please try installing `ip` command on your host?  Not sure what the actual package name is on `Flatcar Container Linux`, on ubuntu the package name is `iproute2` and on centos7 it is `iproute`, may be something like that on flatcar container linux.

[2020-07-01 06:44] phil9909 commented on #58512
/remove-lifecycle stale

[2020-07-01 06:48] wojtek-t commented on #59848
We slightly improved that in 1.18, but nothing more is planned for 1.19.

[2020-07-01 06:53] DesistDaydream commented on #92671
`delta` similar.
e.g.
I modified the configuration at 14:30 to make the API aggregation fail
The sample value of my query at 14:34 is not 0, and an alarm is generated at this time. But when the sample value of my query at 14:40 is 0 again, this alart disappears, but in fact, API aggregation still fails.

[2020-07-01 07:06] #86773 closed

[2020-07-01 07:07] #92504 closed

[2020-07-01 07:07] #92548 closed

[2020-07-01 07:08] #92499 closed

[2020-07-01 07:15] like-inspur commented on #92634
@knight42 But pod of failed job doesn't reserve, so I can't see reason of job failed. How to reserve pod of failed job

[2020-07-01 07:20] knight42 commented on #92634
@like-inspur what is the restartPolicy spcified in the pod template? Is it `OnFailure`?

[2020-07-01 07:43] wojtek-t commented on #91073
This has been fixed/mitigated in 1.18. Going to backport to 1.18 now.
It seems 1.18 is the first version affected (the offending changes were reverted in 1.17 months ago).

[2020-07-01 08:02] RobertKielty commented on #92306
checking :  We have not had an incident of this problem in three days

@BenTheElder from [ogs/ci-kubernetes-e2e-gci-gce-containerd/1274819907329986560](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-containerd/1274819907329986560/nodelog?pod=&junit=junit_runner.xml&wrap=on&logfiles=%2Fkubernetes-jenkins%2Flogs%2Fci-kubernetes-e2e-gci-gce-containerd%2F127481990732

[2020-07-01 08:25] Abhishek1121-tech commented on #92412
@timyl, yes the same issue kubernetes/kubeadm#2205.
As far for the ipv4 everything looks fine and ipv6 not working (Dual stack).

@anfernee below the configuration.

command:- kubeadm init --config config.yaml --upload-certs

---
apiVersion: kubeadm.k8s.io/v1beta2
apiServer:
  timeoutForControlPlane: 4m0s
certificatesDir: /etc/kubernetes/pki
clusterName: kubernetes
dns:
  type: CoreDNS
etcd:
  loc

[2020-07-01 08:38] cofyc commented on #92141
@Huang-Wei what do you think? the real extender interface implementation [`HTTPExtender`](https://github.com/kubernetes/kubernetes/blob/8b9c9eade3447a9c2d0ac089bd960dc71996cb84/pkg/scheduler/core/extender.go#L41-L53) is not tested in unit tests actually. We can reimplement the current FakeExtender with the real `HTTPExtender` with a mock extender server.

[2020-07-01 08:40] Avatat opened #92690 "runtime error when running apiserver with HTTP Konnectivity egress"
**What happened**:
apiserver crashes when I try to use it in connection with HTTP-mode Konnectivity egress:
[code]

**What you expected to happen**:
Apiserver should start normally. Konnectivity in UDS mode works OK.

**How to reproduce it (as minimally and precisely as possible)**:
Set up Konnectivity services, and set below configuration as   :
[code]

**Anything else we need to know?**:

**Envi

[2020-07-01 09:54] #81143 closed

[2020-07-01 10:48] pencilkill commented on #61171
mark

[2020-07-01 11:08] RobertKielty commented on #92386
These SchedulerPredicates jobs are still flaking

[Sorted by flakiness ](https://testgrid.k8s.io/sig-release-master-blocking#conformance-ga-only&sort-by-flakiness=)

[sig-scheduling] SchedulerPredicates [Serial]
 - validates resource limits of pods that are allowed to run [Conformance]
 - validates that NodeSelector is respected if not matching [Conformance]
 - validates that NodeSelector is respe

[2020-07-01 11:20] RobertKielty commented on #90736
[sig-network] Conntrack should be able to preserve UDP traffic when server pod cycles for a NodePort service has not failed in a long time

[2020-07-01 11:23] elgalu commented on #89742
/remove-lifecycle stale

[2020-07-01 11:46] FrimIdan opened #92697 "Completed pod and running pod share the same IP"
**What happened**:
A completed pod and a running pod is sharing the same IP
![image](https://user-images.githubusercontent.com/40820488/86239577-3e291100-bba8-11ea-8d10-6c27f5fb3122.png)

**What you expected to happen**:
While I understand that the completed pod is not running, I think that the expected behavior is to update the completed pod status with an empty IP.

**How to reproduce it (as min

[2020-07-01 12:12] rikatz commented on #92675
Hey @igcherkaev just a complement from @knight42: are you using hyperkube? Or the kubelet binary directly?

I'll try to check what commits might have changed from 1.17.6 to 1.17.8

@knight42 thanks for tackling this issue! About Flatcar, it's 'hard' to say which package is the 'ip' because Flatcar uses the Container OS model (it's the successor of CoreOS and similar to the behavior of Fedora CoreO

[2020-07-01 12:19] rikatz commented on #92276
@david-enli friendly ping

[2020-07-01 12:23] rikatz commented on #91331
@wk60807430 @system51 issue will be closed tomorrow if no further information can be provided :)

About Calico, changing the backend worked? About flannel, is that clear about the NFT and have you tried to change the policy of FORWARD to ACCEPT just to confirm the case? It seems there's a PR opened into Flannel to solve this: https://github.com/coreos/flannel/pull/1318/files

Thank you!

[2020-07-01 12:30] rikatz commented on #92675
Alright, so the only PR that MIGHT have impact in this are https://github.com/kubernetes/kubernetes/pull/79409/files and https://github.com/kubernetes/kubernetes/pull/92494

I'll give a check into the hyperkube PR (which is simpler), waiting just you to provide information if this is the case.

Thank you

[2020-07-01 12:38] HubbeKing opened #92698 "Kubeadm upgrade from 1.18.4-00 to 1.18.5-00 fails on Ubuntu 20.04 due to unmet dependencies and package conflicts"
**What happened**:
When attempting to upgrade the control-plane nodes of kubeadm cluster running on Ubuntu 20.04 from kubeadm 1.18.4-00 to 1.18.5-00, the upgrade fails because of an unmet dependency on kubernetes-cni >= 0.8.6, which is not possible to install because of a conflict with kubelet 1.18.4-00.
I suspect the only way to resolve this would be to upgrade both kubeadm and kubelet at the sam

[2020-07-01 12:41] HubbeKing commented on #92698
/sig release

[2020-07-01 12:46] rikatz commented on #92675
Yep, so I can confirm hyperkube 1.17.6 cames with the ``ip`` command installed while 1.17.8 don't.

Checking where is this used into the kube-proxy package so I can provide sig-release with further information

[2020-07-01 12:56] wk60807430 commented on #91331
1 kube-proxy and flannel running as a binary inside my  cluster.
2
![image](https://user-images.githubusercontent.com/40818413/86245936-d345fd00-bbdc-11ea-91b5-dd10918ebcea.png)
3
![image](https://user-images.githubusercontent.com/40818413/86246011-e9ec5400-bbdc-11ea-9170-80379769c75b.png)

4  when i run a iptables -P FORWARD ACCEPT probloem still there. I can't get DNS or other UDP service  by co

[2020-07-01 12:57] ahuret commented on #87126
We're hitting the same issue. I can see these traces happens when operations are "too long", exemple:
[code]

[2020-07-01 12:57] knightXun opened #92699 "daemonset controller cannot create pod"
**What happened**:
Controller cannot create pod, It always report events: `Warning  FailedCreate  12m (x21 over 46m)  daemonset-controller  Error creating: Timeout: request did not complete within requested timeout
`

**Environment**:
linux
- Kubernetes version (use `kubectl version`):
1.16
- Cloud provider or hardware configuration:
aws
- OS (e.g: `cat /etc/os-release`):
linux

[2020-07-01 13:08] rajaskakodkar opened #92700 "Integration test suite failing"
I am facing test case failures while running integration test cases using test-dockerized.sh with an added flag "-p 1" to disable parallelism. Following failures are observed on 1.18.4 branch

[code]
However, if I run each of these modules individually, I see that only one of the test cases fails from each module
with the error
[code]
and if that test case is run individually, it passes

How can I

[2020-07-01 13:08] akshaysharama opened #92701 "Kubectl/helm rollout/upgrade is not working for statefulset pod with multiple containers"
**What happened**:
We are trying to do a helm upgrade of a statefulset pod with two containers running in it.
Test scenarios:
positive test case
1) If trying to upgrade pod with working image, helm upgrade is working fine.
failure test case
1) If trying to upgrade pod with faulty image/wrong image tag, helm upgrade happened and pod went into crashloopback off.
after if again doing helm upgrade wit

[2020-07-01 13:10] rajaskakodkar commented on #92700
/sig testing

[2020-07-01 13:16] akshaysharama commented on #92701
/sig testing
/sig scheduling
/sig scalability
/sig release

[2020-07-01 13:16] rikatz commented on #92675
This should be fixed with https://github.com/kubernetes/kubernetes/pull/92581

[2020-07-01 13:23] rikatz commented on #92675
/remove-triage unresolved
/close

@igcherkaev it's going to be probably released in the next minor update of Kubernetes, the PR is already merged and is being cherry-picked to the other versions!

I'm closing this as there's a solution in the code, but please feel free to reopen if you think this is a different case.

Thank you!

[2020-07-01 13:23] #92675 closed

[2020-07-01 13:23] rikatz commented on #92675
@knight42 and thank you for your help triaging this :)

[2020-07-01 13:27] rikatz commented on #91331
/remove-triage needs-information

OK, will take some further look

[2020-07-01 13:29] RobertKielty opened #92702 "kind-ipv6-master-parallel job is flaking"
**Please note that I am logging this as an umbrella issue, I believe some of these tests are already being investigated**

**Which jobs are flaking**:

kind-ipv6-master-parallel

**Which test(s) are flaking**:
Lots of failures and flakiness
- [sig-network] Networking Granular Checks: Services should function for pod-Service: http
- [sig-storage] CSI Volumes [Driver: csi-hostpath] [Testpattern: Dyn

[2020-07-01 13:30] RobertKielty commented on #92702
/sig ci-signal

[2020-07-01 13:30] RobertKielty commented on #92702
/sig test

[2020-07-01 13:31] kwiesmueller commented on #75564
I'd still like to get this in for 1.19, but don't know if it's realistic.
Even if we agree on a final implementation this week, it will still be a notable amount of work and take extensive review before we can merge it.
Very disappointing to not make it again.

[2020-07-01 13:39] dims commented on #92704
/area code-organization

[2020-07-01 13:39] dims commented on #92704
/assign @andyzhangx

[2020-07-01 13:43] dims commented on #92704
/milestone v1.19
/priority important-soon

[2020-07-01 13:44] shaozi commented on #23864
What is the plan on this feature? Any work around? Needed for
* Media Server
* RTC Server
* SIP/RTP Server
* NFS Server
* Samba DC
* Telnet Server

[2020-07-01 14:05] kvaps commented on #23864
Also for STUN server

[2020-07-01 14:10] #76827 closed

[2020-07-01 14:13] BenTheElder commented on #92702
/cc @aojea @BenTheElder

[2020-07-01 14:19] flickerfly commented on #49387
As @luvkrai stated, I have to use grep to find containers in CrashLoopBackOff status. Here's how I'm filtering right now. I sort by nodeName to show if I have a node that is causing more problems than others. Seems like a super hard problem somehow. Funny we can get all these output in the "STATUS" column consistently, but can't filter on that column without additional tools.

`  oc get pods --all

[2020-07-01 14:30] flickerfly commented on #49387
If I had more Golang knowledge, I think how this is accomplished to build the "STATUS" column would be clear here and might lead to a better solution.
https://github.com/kubernetes/kubectl/blob/7daf5bcdb45a24640236b361b86c056282ddcf80/pkg/describe/describe.go#L679

@aalexand To avoid some of the brittle aspects of grep you could use the `--no-headers --output custom-columns= ` option to specify wh

[2020-07-01 14:31] michaelkolber commented on #92704
Not a huge difference, but this is likely actually licensed under [CC BY-SA 3.0](https://creativecommons.org/licenses/by-sa/3.0/), not 4.0. See https://stackoverflow.com/help/licensing.

[2020-07-01 14:38] aojea commented on #92702
OMG :face_with_head_bandage:

[2020-07-01 14:46] igcherkaev commented on #92675
@knight42 the ip command has always been there
[code]
Since kubelet is running in a container there, I'll check if it has all paths and mounts necessary to run the ip command. Thanks for the clue.

[2020-07-01 14:49] andyzhangx commented on #92704
the k/k code actually does not reference [utf16BytesToString](https://github.com/rubiojr/go-vhd/blob/0bfd3b39853cdde5762efda92289f14b0ac0491b/vhd/util.go#L59-L73), since that function is in https://github.com/rubiojr/go-vhd, do you mean we should remove `rubiojr/go-vhd` from k/k totally?

[2020-07-01 14:54] nikhita commented on #92704
@andyzhangx Yes, we would either need to remove `rubiojr/go-vhd` from k/k _or_ ask the maintainers of  `rubiojr/go-vhd` to update `utf16BytesToString`.

This means that `rubiojr/go-vhd` (and k/k if we end up using it) should be licensed until CC-BY-SA.

[2020-07-01 15:08] kbruner commented on #75564
@kwiesmueller Thank you for the update. Can I go ahead and update the release milestone to 1.20?

[2020-07-01 15:23] cmluciano commented on #92033
Yep that makes sense, can you rename the issue to something like "Log errors if all ip_vs kernel modules are not found".

/remove-triage unresolved

[2020-07-01 15:31] igcherkaev commented on #92675
@rikatz oh, didn't notice your updates! Cool, great! Thanks for the quick fix!

[2020-07-01 15:34] serathius commented on #92393
/close

[2020-07-01 15:37] enj commented on #74379
`541` is for the `client-go` exec credential provider.  https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/20191004-out-of-tree-credential-providers.md is the KEP for the cloud provider work.

[2020-07-01 15:38] droslean commented on #74379
@enj Since the code freeze is approaching, shall we move this to 1.20?

[2020-07-01 15:40] enj commented on #74379
@droslean I do not know the current status of this work (I am not on sig-cloud-provider).

[2020-07-01 15:41] droslean commented on #74379
@enj Thanks for the feedback. @dims WDYT?

[2020-07-01 15:47] rikatz commented on #92675
Fix wasn't mine :) Just found the great work the sig-release does and they were really quick finding this (2 days ago, I think) and already fixing

But anyway, thanks for raising this and please feel free to reach if you find something else!

[2020-07-01 15:48] apelisse commented on #89627
I have no knowledge about this issue, I would rather ask @yliaog again.

[2020-07-01 15:52] PidgeyBE commented on #92639
If you are prepared to use voyager instead of nginx as ingress controller; they seem to support this already:
https://voyagermesh.com/docs/10.0.0/guides/ingress/http/statefulset-pod/#forward-traffic-to-specific-pods-of-a-statefulset

[2020-07-01 15:57] dims commented on #74379
+1 to move it @droslean

/milestone v1.20

[2020-07-01 16:31] cjellick commented on #92704
Would this ultimately be backported to older versions of k8s or would you just do it in 1.19?

[2020-07-01 16:34] aojea commented on #91253
/reopen

per @msau42 comment this is an IPVS only problem

https://github.com/kubernetes/kubernetes/pull/92584#issuecomment-652521262

[2020-07-01 16:35] liggitt commented on #92699
A timeout error often means the api server is unavailable or overloaded. Is your API server available and healthy when you are observing this? If not, ca. You provide relevant API server logs?

[2020-07-01 16:38] knightXun commented on #92699
nope, the kubernetes is managed by aws. I cannot see anything from apiserver.. aws tells me they change few of kubernetes

[2020-07-01 16:42] liggitt commented on #92699
Without more information about the state of the API server, this issue will be difficult to investigate.

[2020-07-01 16:47] igcherkaev commented on #92675
@rikatz haha, let's praise @justaugustus then :)

[2020-07-01 16:57] BenTheElder commented on #91253
@aojea please file a new issue.
This issue was about quay.io being down.

[2020-07-01 17:03] serathius commented on #92393
/sig instrumentation

[2020-07-01 17:05] ykakarap commented on #90931
@apelisse Looks like in the SIG-CLI meeting it was decided to not enable the user to use the `--server-side` and `--force` flag together. kubectl should fail immediately with a warning that `--force` should not be used with server side apply.

Do you mind if I start working on this issue? I will reach out to you and other members of the SIG to get more details needed.

I am a new contributor to k8

[2020-07-01 17:13] coltonstapper commented on #89076
/remove-lifecycle stale

[2020-07-01 17:14] aojea commented on #91253
ack
/close

[2020-07-01 17:15] #91253 closed

[2020-07-01 17:17] aojea opened #92708 "[failing test] "Flexvolumes should be mountable when non-attachable" fails when using ubuntu node image"
The test

[sig-storage] Flexvolumes should be mountable when non-attachable

fail using kube-proxy in IPVS mode

xref: https://github.com/kubernetes/kubernetes/pull/92584#issuecomment-652521262

https://testgrid.k8s.io/sig-network-gce#pull-gci-gce-ipvs

[2020-07-01 17:18] aojea commented on #92708
/sig network
/area ipvs
/cc @andrewsykim

[2020-07-01 17:18] aojea commented on #92708
/kind failing-test

[2020-07-01 17:18] agowa338 commented on #23864
The workaround is:

[2020-07-01 17:20] jvanz commented on #90293
I've digged into this a little bit further. I believe this is just a annoying warning message. AFAICS, it does not show any issue...

I was reading the kubelet, its volume manager and the volume plugins source files. It seems that's the expected behavior. The desiredStateOfWorldPopulator sync loop always call the [MarkRemountRequired](https://github.com/kubernetes/kubernetes/blob/v1.17.4/pkg/kubel

[2020-07-01 17:35] apelisse commented on #90931
@ykakarap Thanks for summarizing the discussion! I'd love to see you submit a PR for that, that's awesome!

[2020-07-01 17:37] ykakarap commented on #90931
/assign @ykakarap
/lifecycle-active

[2020-07-01 17:44] jingxu97 opened #92710 "subpath test "should fail if subpath directory is outside the volume" is not working in Windows"
Need to investigate this subPath test failure in Windows

[2020-07-01 17:46] Huang-Wei commented on #92141
Sure, that makes sense to me. BTW: that may also help catching potential marshal/unmarshal issues.

However, I'd expect the mock extender server to used only in pure Extender testings, i.e., the other tests which wrap extenders can still use FakeExtender as testing extender is not their primary purpose.

[2020-07-01 18:31] gitizenme commented on #72597
Still needed

[2020-07-01 18:31] mattfarina commented on #88709
@toonsevrin Have you considered releasing this as a stand along CRD/controller?

[2020-07-01 18:47] toonsevrin commented on #88709
@mattfarina No, sadly enough not. I decided not to go through with the project that required this and started focusing [on a new project of mine](https://kubescale.github.io/website/).

Anyways, if you or anyone else is interested in starting this, I'd be glad to help!

[2020-07-01 19:39] aojea commented on #88458
/remove-lifecycle stale
/lifecycle frozon

[2020-07-01 19:41] aojea commented on #92702
/remove-triage unresolved
The job need more resources, what's interesting is that it affects always the same group of tests

[2020-07-01 19:57] liggitt opened #92728 "LICENSES/vendor/go.opencensus.io/LICENSE is not present"
**What happened**:

Running `hack/update-vendor-licenses.sh` manually includes this file in LICENSES.

Running `hack/verify-vendor-licenses.sh` complains if it is present.

The file was incorrectly dropped in https://github.com/kubernetes/kubernetes/pull/91366/files#r448584903

This needs to be resolved before 1.19 ships

/priority important-soon
/milestone v1.19
/cc @munnerz @thockin

[2020-07-01 19:58] dims commented on #92728
/area code-organization

[2020-07-01 20:13] liggitt commented on #92728
fixed in https://github.com/kubernetes/kubernetes/pull/92729

[2020-07-01 20:32] brianpursley opened #92730 "Some scheduled e2e jobs always fail with "e2e-up.sh: exit status 2""
**Which jobs are failing**:

From the [triage dashboard](https://storage.googleapis.com/k8s-gubernator/triage/index.html#10593569f958de2147a5):

The following jobs failed 100% of the time (as of when this issue was created):

- [ci-containerd-e2e-gci-gce](https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-containerd-e2e-gci-gce) - hourly
- [ci-containerd-e2e-ubuntu-gce](https://prow.k8s

[2020-07-01 20:47] brianpursley opened #92731 "Missing logging agents causing Job ci-kubernetes-e2e-gci-gce-sd-logging to fail"
Job ci-kubernetes-e2e-gci-gce-sd-logging always fails with this error:
[code]

### Triage Dashhboard Link:
https://storage.googleapis.com/k8s-gubernator/triage/index.html#9faccb3eb85a99912a98

### Error text:
[code]
### Recent failures:
[7/1/2020, 11:36:39 AM ci-kubernetes-e2e-gci-gce-sd-logging](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-sd-logging/127835175364

[2020-07-01 20:48] brianpursley commented on #92731
/kind failing-test

[2020-07-01 20:48] brianpursley commented on #92731
Not sure if this is sig instrumentation or not, but I thought I would start there. Feel free to reassign.

[2020-07-01 21:38] #87755 closed

[2020-07-01 21:58] mateuszlitwin opened #92733 "Azure provider uses VMSS API instead of metadata service when computer name prefix differs from VMSS name"
**What happened**:
If computer name prefix does not match VMSS name, then Azure cloud provider will use VMSS API instead of using metadata service data. This leads to throttling, because every affected kubelet is making API requests.

**What you expected to happen**:
Azure cloud provider should use metadata service data instead of calling VMSS API when instance is current.

**How to reproduce it (

[2020-07-01 21:59] mateuszlitwin commented on #92733
/sig cloud-provider

[2020-07-01 22:00] mateuszlitwin commented on #92733
/area provider/azure

[2020-07-01 22:01] mateuszlitwin commented on #92733
CC @feiskyer

[2020-07-01 22:18] thockin commented on #84997
So the short answer is that no, there is not such a hook, and I am not sure we want it.  If you start out "unready" then you must have a readinessProbe, so you should be able to handle what you need at that time?  Or is this about the larger pod readinessGates and you want a notification that upstream LBs have finished?

[2020-07-01 22:18] #84997 closed

[2020-07-01 22:25] #85741 closed

[2020-07-01 22:47] brianpursley opened #92734 "A couple of scheduled e2e jobs fail creating and getting RC"
### Failure cluster
https://storage.googleapis.com/k8s-gubernator/triage/index.html?#acb0ebd30035e7aaee80

##### Error text:
[code]

[code]
#### Recent failures:
[7/1/2020, 4:26:30 PM ci-kubernetes-e2e-gce-new-master-gci-kubectl-skew](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-gci-kubectl-skew/1278424684005691393)
[7/1/2020, 3:47:37 PM ci-kubernetes-e2e-g

[2020-07-01 22:48] brianpursley commented on #92734
/label failing-test

[2020-07-01 22:49] brianpursley commented on #92734
/kind failing-test

[2020-07-01 23:03] brianpursley commented on #92734
At first I thought this was because generators were removed from `kubectl run`. That still might be the cause of this, but I'm not 100% sure off-hand.

[2020-07-01 23:22] #91287 closed

[2020-07-01 23:23] shivasuri commented on #68466
Hi, I just ran into this issue on on k8s 1.14. What version is this fixed in, if any?

[2020-07-01 23:25] liggitt commented on #68466
Fixed in https://github.com/kubernetes/kubernetes/pull/76124 in 1.16

[2020-07-01 23:29] andrewsykim commented on #92708
/remove-triage unresolved

[2020-07-01 23:42] liggitt commented on #92710
cc @andyzhangx

[2020-07-02 00:50] brianpursley commented on #92730
Not sure on the sig for this. Please reassign if this belongs to a sig other than testing.

[2020-07-02 01:43] neolit123 commented on #92678
i think supporting configurable expiration per request makes sense.

today that is solely `kubernetes.io/kube-apiserver-client-kubelet` during TLS bootstrap. we also have a small user base for `kubernetes.io/kubelet-serving` (which seem related to gathering kubelet metrics mostly), but serving cert rotation is disabled by default as it requires extra work today.

slightly tangential and this will

[2020-07-02 01:50] neolit123 commented on #92734
/sig cli

[2020-07-02 01:51] neolit123 commented on #92733
/remove-sig cloud-provider
/sig cloud-provider

(trying to remove the `needs-sig` label)

[2020-07-02 01:51] neolit123 commented on #92733
/sig cloud-provider

[2020-07-02 01:52] neolit123 commented on #92700
/remove-sig testing
/sig api-machinery
/kind failing-test

[2020-07-02 01:53] neolit123 commented on #92700
based:

but feel free to adjust.

[2020-07-02 02:00] enj commented on #92678
Sorry I should have been a bit more specific.  I meant that when `kubeadm` is used to spin up a cluster, it is generally common to use the built-in KCM signers with `kubeadm` managed PKI (i.e. those controllers are running).  What that means is that it is then possible to use the Kube CSR API to mint certs for `kubernetes.io/kube-apiserver-client` and similar, and that the lack of revocation combi

[2020-07-02 02:05] andyzhangx opened #92737 "pull ACR image fail randomly using managed identity"
**What happened**:
PR(https://github.com/kubernetes/kubernetes/pull/92330) did not fix the pull image issue using Managed Identity completely, e.g. when there are two images from two different ACR repos, image pull will still fail randomly.

The suggestion is to introduce per-registry token cache (only for Managed Identity)

**What you expected to happen**:

**How to reproduce it (as minimally and

[2020-07-02 02:08] cnphil opened #92738 "Write audit logs when failing open a validating admission webhook request"
**What would you like to be added**:
The validating admission webhook, when the failing policy is set to Ignore, will fail open a webhook request. Consider write an audit log when a request is allowed by failing open.

**Why is this needed**:
Fail open events SHOULD be audit logged for integrity. For us specifically, we are currently using the image policy webhook which exports an audit log when f

[2020-07-02 02:11] cnphil commented on #92738
/sig api-machinery

[2020-07-02 02:14] andyzhangx commented on #92704
thanks, Let me remove the `rubiojr/go-vhd` code in v1.19, actually that part of functionality is deprecated in Azure cloud provider already. My initial thought is only do this in v1.19

[2020-07-02 02:14] andyzhangx commented on #92704
/kind bug
/priority important-soon
/sig cloud-provider
/area provider/azure

[2020-07-02 02:20] neolit123 commented on #92678
that is true.

kubeadm itself currently just creates these certificates without the KCM (which has _some_ potential for drift):
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/certs/certlist.go#L249-L278
we used to have alpha support for signing arbitrary certificates using the KCM, but we dropped that when the `signerName` change was introduced.

it can definitely be p

[2020-07-02 02:40] warmchang commented on #82440
/remove-lifecycle rotten

[2020-07-02 02:57] sapeish commented on #50345
Using symlinks didn't work for me. I tried creating the symlinks on an initContainer for a config file being mounted from a ConfigMap, but later when it's the turn for the app container to run (Elasticsearch in my case) it overwrites the symlinks with it's default config files. And I have no way of having this app reading from a different path it would not overwrite.

[2020-07-02 03:18] alejandrox1 opened #92741 "pull-kubernetes-node-e2e has been flaking more recently"
**Which jobs are failing**:
pull-kubernetes-node-e2e

**Which test(s) are failing**:
Seems that the test runner is failing to actually run the e2e tests as no test output or artifacts are produced.

**Testgrid link**:
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-node-e2e

**Triage Link**:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&job=pull-k