[2017-07-03 17:55] caseydavenport commented on #9307
/close

[2017-07-03 17:55] #9307 closed

[2017-07-03 18:25] Thermi commented on #41913
Even with `--show-all`, they don't show up.

[2017-07-03 18:33] #48414 closed

[2017-07-03 18:45] tremble commented on #5164
We've recently discovered "oc observe" and we love it.  The latest thing we're using it for is triggering a prune of build/deployment/image resources on a namespace when someone starts a build.

We've also used them for:
* Adding GlusterFS Service/Endpoints "just-in-time" to projects so that PVs can be properly mounted (this has allowed us to delete ~1600 Services) rather than having to add the ob

[2017-07-03 18:47] tremble commented on #5164
Oh, one thing that did catch us out, because it opens and listens to a local port, when you try running 2 on the same hosts during an initial prototyping phase it'll bomb out.

[2017-07-03 18:48] shyamjvs commented on #48359
Figured out the reason for the failure. It's because of the '--retry_time=120' argument to the container command in the test pod (ref https://github.com/kubernetes/kubernetes/blob/master/test/e2e/common/secrets.go#L265) which is leading to the pod entering success status 2m after it's started. So we don't even give enough time for the secret to get updated by kubelet before the pod terminates.

[2017-07-03 18:51] cmluciano commented on #48436
I think this is only possible with some CNI plugins.

cc @caseydavenport @bboreham

[2017-07-03 18:53] shyamjvs commented on #48359
I've tested (on the currently running 5k node cluster) with the retry time increased to podLogTimeout (= 540s) and it works. I'll send out a PR fixing this and also changing equivalent tests for configMap and projected to be similar to that of secrets as we've now moved to caching manager for configmaps too.

[2017-07-03 18:56] xmik commented on #38988
I would be happy and eager to close this issue once https://github.com/kubernetes/kubernetes/issues/28051 is implemented.

[2017-07-03 19:06] puja108 commented on #23013
@mfornasa like I said #23013 (comment) helps on 1.6

Otherwise, now that we have DS updates an update might trigger the logic, too. Haven't tested that, yet, though.

[2017-07-03 19:44] smarterclayton commented on #30918
I think we (at the time) hadn't used it extensively.  It's hard to argue from your list that headless services aren't the bedrock of the hierarchy.

[2017-07-03 20:05] #48393 closed

[2017-07-03 20:12] nikhita commented on #38113
@enisoc As a part of Google Summer of Code, I will be sketching out a proposal for this soon. :tada:

[2017-07-03 20:14] arun-gupta opened #48447 "<invalid> age shown for a running pod"
Created a gossip-based cluster using kops 1.6.2. Created a WildFly RC using the resource file https://github.com/arun-gupta/kubernetes-java-sample/blob/master/wildfly-rc.yaml.

Watched the status as `kubectl get -w po`. Its shown as:

[code]

The second pod `AGE` is shown as `<invalid>` even though it's in `Running` status.

Terminating the watch and viewing the status again shows the output corre

[2017-07-03 20:39] arun-gupta commented on #48447
/sig aws

[2017-07-03 21:48] jingxu97 commented on #48438
@jsafrane how about gce pd? I assume it will fail if creating a gce pd with invalid key?

[2017-07-03 22:05] ravisantoshgudimetla commented on #44944
@davidopp @mml

So, I have started working on this and the way I want to implement this:

For drain:
- Check for list of taints available on the node and if one the taints have a `NoSchedule` effect, no taints would be added to it.
- If not, add a taint which has `NoScheule` effect.

Uncordon would be exact opposite operation.

I am a bit concerned about effect part. Please let me know WYT.

[2017-07-03 22:24] ravisantoshgudimetla commented on #48147
/kind bug

[2017-07-03 22:24] ravisantoshgudimetla commented on #48147
/assign @ravisantoshgudimetla

[2017-07-03 23:05] gyliu513 commented on #48147
/assign @ravisantoshgudimetla

[2017-07-03 23:10] jingxu97 commented on #45191
@caruccio found this related thread https://github.com/openshift/origin/issues/7983
@rootfs does the fix #41597 should fix the problem @caruccio mentioned above? Thanks!

[2017-07-03 23:44] toonsevrin commented on #48367
sorry about the poor explanation: NodePort currently masks ip.

[2017-07-03 23:46] toonsevrin commented on #48367
@lxpollitt I'm basically looking for a NodePort variant without the loss of the SourceIP.

[2017-07-04 01:13] jianzhangbjz commented on #48420
I compiled the `Go` binary from the source, and also cleaned the old folder, checkout to the `go master` branch to compile the `go`, but it still did not take effect.
Today, I will replace the `cgo` code and have a try. :) thanks @gyliu513

[2017-07-04 02:48] gmflau commented on #37393
Is StatefulSet being supported on GKE now?

[2017-07-04 02:50] foxish commented on #37393
Since 1.4, yes.

[2017-07-04 03:10] riclava commented on #47131
+1

[2017-07-04 03:15] dixudx commented on #48447
@arun-gupnta pod AGE shown as `<invalid>` is because of [the time difference between your kubectl
server and kubelet node](https://github.com/kubernetes/kubernetes/blob/master/pkg/printers/internalversion/printers.go#L311). Maybe they are synced to different NTP servers.

[2017-07-04 03:28] gmflau commented on #37393
Wonder if this is an issue with Deployment Manager ?

On Mon, Jul 3, 2017 at 7:51 PM, Anirudh Ramanathan <notifications@github.com

[2017-07-04 04:51] feiskyer opened #48452 "storage.kubernetes.io/scratch is always kept 0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When LocalStorageCapacityIsolation feature is enabled, `storage.kubernetes.io/scratch` in node status is always kept 0.

**What you expected to happen**:

`storage.kubernetes.io/scratch` in node status should reflect the real storage capacity.

**How to reproduce it (as minimally and precisely as possible)**:

Enable Loc

[2017-07-04 05:38] astropuffin opened #48453 "schedulerName field not supported in fieldselector"
/kind bug
/sig api-machinery

**What happened**: trying to select pods based on which scheduler they are using

**What you expected to happen**: using fieldSelector would enable me to defer the filtering to the api server instead of using a local for loop over all pods

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**: m

[2017-07-04 05:39] xiangpengzhao commented on #48422
/sig node

[2017-07-04 05:40] xiangpengzhao commented on #48436
/sig network

[2017-07-04 05:40] xiangpengzhao commented on #48437
/sig network

[2017-07-04 05:41] astropuffin commented on #48453
@kubernetes/sig-api-machinery-* because it's purely an API interface issue

[2017-07-04 05:41] xiangpengzhao commented on #48452
/sig storage
/sig cli

[2017-07-04 05:42] xiangpengzhao commented on #48453
/sig api-machinery

[2017-07-04 05:42] astropuffin commented on #48453
/sig api-machinery

[2017-07-04 05:43] xiangpengzhao commented on #48282
/sig node
/sig auth

[2017-07-04 05:44] xiangpengzhao commented on #48419
/sig auth

[2017-07-04 05:59] k82cn commented on #48453
That's a reasonable request; we can just get the pods that scheduler interested.

[2017-07-04 06:02] k82cn commented on #48452
/cc

[2017-07-04 06:12] weiwei04 commented on #32149
Opened a pr to fix this issue, @soltysh @erictune @erictune

[2017-07-04 06:21] FengyunPan opened #48455 "Can't use a load balancer in front of the etcd cluster for etcd-servers"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
hang up when get kubernetes resource

**What you expected to happen**:
success to get pod

**How to reproduce it (as minimally and precisely as possible)**:
1.    Set up an etcd cluster.
2.   Configure a load balancer in front of the etcd cluster. For example, let the address of the load balancer be $LB.
3.   Start Kuberne

[2017-07-04 06:23] FengyunPan commented on #48455
/sig etcd

[2017-07-04 06:26] FengyunPan commented on #48455
cc @xiang90  PTAL

[2017-07-04 06:33] xiang90 commented on #48455
etcd3 uses http2. make sure your lb supports http2.

also this has nothing to do with k8s as far as i can tell. so closing.

[2017-07-04 06:33] #48455 closed

[2017-07-04 06:41] Pensu commented on #43989
@ixdy @rmmh So, I have created a project name kubernetes-ppc64le, and it has gcs bucket named ibm-ppc64le, that has the junit xml files, so for me the prefix would be: "kubernetes-ppc64le/ibm-ppc64le"? Or do I need to put in the particular format?

[2017-07-04 06:43] wojtek-t commented on #48359
Great - so my suggestion was correct.

[2017-07-04 06:46] FengyunPan commented on #48455
Sorry, can you tell more about it. My etcd3 has been disabled TLS and my lb is a simple loadbalance from Neutron, so it seems there is no relationship with https, please correct me if my understanding is wrong.

[2017-07-04 06:49] xiang90 commented on #48455
@FengyunPan i never said it has anything to do with https. i said http2.

[2017-07-04 06:51] wojtek-t commented on #36120
This sounds really cool. I would really like to get rid of ugorji finally.

`unsafe` territory it's kind of hard to beat standard JSON.

Yeah - I agree.

[2017-07-04 06:53] FengyunPan commented on #48455
Sorry, I'll check it, thank you very much.

[2017-07-04 07:18] shyamjvs commented on #48359
@wojtek-t Yup, thanks :)
Though I wonder how this test for secret was passing before (when you increased test timeout), because the retry_time for the pod was still 2m back then which means the update was actually happening under 2m previously(?)

[2017-07-04 07:23] sttts commented on #42031
As this is not a bug, closing.

[2017-07-04 07:23] #42031 closed

[2017-07-04 07:31] FengyunPan commented on #48455
The reason is my lb can't support http2.

[2017-07-04 07:31] wojtek-t commented on #48359
I don't know - maybe something changed with the container itself? It's probably not worth investigating now.

[2017-07-04 07:39] jsafrane commented on #48438
@jingxu97 GCE does not manage encryption keys centrally via API calls, so it's not possible to get into this situation there.

[2017-07-04 07:42] bboreham commented on #48436
As far as I know there is no specific configuration inside Kubernetes to ask for a pod ip to conform to anything.

This feature could be added on the outside by an annotation, and the CNI plugin could be extended to look for that annotation. I, personally, don't know of a plugin that does this.

[2017-07-04 07:46] chestack commented on #48455
@xiang90 , any client should use http2 when to connect to etcd api (v3)?

[2017-07-04 08:00] ahawkins opened #48458 "Heapster metrics don't match container runtime metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Kubernetes container CPU metrics (from heapster) do not correlate with container run time (Docker) CPU utilization metrics.

**What you expected to happen**:

We recently switched over our production environment to Kubernetes. I'd like to enforce CPU limits on the containers. I'm getting conflicting CPU metrics that do n

[2017-07-04 08:38] sumitkgaur commented on #42618
I am facing the exact issue with latest bits too  !!!  Can somebody help to triage this ? mawentao02 were you able to solve the issue at your setup ?

[2017-07-04 08:54] ahawkins commented on #48458
/sig node

On Tue, Jul 4, 2017, at 01:30 PM, Kubernetes Submit Queue wrote:

Links:

  1. https://github.com/ahawkins
  2. https://github.com/kubernetes/test-infra/blob/master/commands.md
  3. https://github.com/kubernetes/community/blob/master/sig-list.md
  4. https://github.com/kubernetes/kubernetes/labels
  5. https://github.com/kubernetes/kubernetes/issues/48458#issuecomment-312808680
  6. htt

[2017-07-04 09:00] loburm opened #48461 "Expose namespace_id through the Downward API"
/kind feature

Currently Downward API supports only pod name and namespace name. For the prometheus-to-sd component we need to have an access also to id's of these objects, so correct gke_container resource for Stackdriver could be created: https://cloud.google.com/monitoring/api/resources

[2017-07-04 09:01] keir-rex opened #48462 "kube-dns restarts frequently - Exit Code 2"
BUG REPORT

/kind bug

**What happened**:
Kube DNS restarts very frequently with error message: `fatal error: concurrent map writes`

**What you expected to happen**:
Kube DNS should be more robust to failures and restart less frequently.

**How to reproduce it (as minimally and precisely as possible)**:
- Run `kube-dns-v15`
- We run a cluster of 3 Kube DNS nodes though this is unlikely required

[2017-07-04 09:05] keir-rex commented on #48462
/sig dns

[2017-07-04 09:07] shyamjvs commented on #48359
As long as it's not a regression in kubelet we're fine.

[2017-07-04 09:08] keir-rex commented on #48462
/sig network

[2017-07-04 09:09] gyliu513 opened #48463 "local storage PV can be created even if there are no such path"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I was using the local storage feature, but found that the PV can always be created even if the local path does not exist. This will cause my pod failed to start.

**What you expected to happen**:
Can we make the PV creation failed?

**How to reproduce it (as minimally and precisely as possible)**:
1) Two nodes in the clus

[2017-07-04 09:09] gyliu513 commented on #48463
/sig storage

[2017-07-04 09:14] loburm commented on #48461
/sig api-machinery

[2017-07-04 09:15] loburm commented on #48461
/c @piosz

[2017-07-04 09:20] tianshapjq commented on #44107
@vishh I would like to give a try about adding gpu metrics to cAdvisor. I commited a pr [43934](https://github.com/kubernetes/kubernetes/pull/43934) in leveraging the nvidia-smi binary but it seems not a perfect choice depending of nvidia-smi. Do you think it's ok to leverage NVML instead of depending of nvidia-smi binary?

[2017-07-04 09:25] xiangpengzhao commented on #48461
@loburm This is introduced by https://github.com/kubernetes/kubernetes/pull/48125

[2017-07-04 09:27] piosz commented on #48461
@xiangpengzhao awesome! how about namespace_uid?

[2017-07-04 09:31] ddysher commented on #48463
This is work as intended.  Right now, we trust admin to create the 'right' PV.

[2017-07-04 10:04] gyliu513 commented on #48463
The admin may make some typo when creating the local volume or creating PV, depending on admin  to resolve this may make the user experience bad.

[2017-07-04 10:05] muffin87 commented on #45688
@moon03432: I have the same problem. Can you tell me how you resolved the problem?

I see containers in state `Dead`

[code]
When it comes to deleting I also get this error message

[code]
The strange thing for me was that the mountinfo grep listed my three hits:

[code]

When I look at the pids i see:

[code]

[2017-07-04 10:17] WIZARD-CXY opened #48465 "Get pod log too slow"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

When I want to get a pod log, it takes so long to get the result back. For example:
$ kubectl logs  test-args-4026945960-4pmmv --since=59s -n u-keadmin-default

the apiserver log is below(use 1m7s for this request):
[code]
and the kubelet cpu usage is high.I did the cpu profiling on kubelet and found out json Unmarshal is using mos

[2017-07-04 10:19] WIZARD-CXY commented on #48465
@kubernetes/sig-node

[2017-07-04 10:26] WIZARD-CXY commented on #48465
@Random-Liu, I found out you implemented almost log functionality, can u give me some advice on how to quickly get pod log? Thanks

[2017-07-04 10:27] WIZARD-CXY commented on #48465
@k8s-merge-robot /sig node

[2017-07-04 10:32] CallMeFoxie opened #48466 "StatefulSet numbering offset"
/kind feature

Hi
it would be nice if StatefulSets could set an offset to their numbering - a lot of applications often start counting from 1 making it a bit messy translating from 0 to 1 between applications ("app part 1 runs on app-0.app.default.svc.cluster.local" etc). Or when having one load spread across multiple clusters - one going 0-20 and second going 21-40 for example to spread failover

[2017-07-04 10:33] CallMeFoxie commented on #48466
/area stateful-apps
/area usability

[2017-07-04 10:36] #44536 closed

[2017-07-04 10:38] jicki opened #48467 "kubernetes 1.7.0 kubedns not work !!"
## env
[code]

## the kubedns metrics:
[code]

## dnsmasq logs:

[code]

## kubedns logs:

[code]

## nslookup test

[code]

## resolv.conf

[code]

pls  help me ~

[2017-07-04 10:55] treemanzhou commented on #48436
thanks a lot

[2017-07-04 10:55] #48436 closed

[2017-07-04 11:00] xiangpengzhao commented on #48461
@piosz I misread. I thought only pod uid was expected. namespace uid is not supported yet. If supportting it makes sense, I will send a PR to add it.

[2017-07-04 11:08] piosz commented on #48461
@xiangpengzhao the original issue was only about pod_id while we'd like to see also namespace_id, so I'd glad to see PR with namespace_id also.

Also could you please update [the documentation](https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/#capabilities-of-the-downward-api)?

[2017-07-04 11:08] KIVagant commented on #43168
@dkerwin , how you did this?

[2017-07-04 11:21] #47114 closed

[2017-07-04 11:31] stuart-warren commented on #24562
Do we just need to add more struct tags?

https://github.com/emicklei/go-restful-openapi/blob/fcb3b5066076d24834269f956e1ab68496f69a49/property_ext_test.go#L14

[2017-07-04 11:43] benbc commented on #48422
@supereagle Thank you for looking at this? What environment did you run that in, GKE?

[2017-07-04 11:52] WIZARD-CXY commented on #46984
@yujuhong I think I can give a hand because I have experience on cadvisor and kubelet before.

[2017-07-04 11:54] supereagle commented on #48422
I test on my k8s cluster setup with VMs.  The k8s version is v1.6.4

[2017-07-04 12:04] WIZARD-CXY commented on #48465
I read the design-proposal doc https://github.com/kubernetes/community/blob/master/contributors/design-proposals/kubelet-cri-logging.md

[code]
And I think  maybe we can write a docker log plugin to do this?https://docs.docker.com/engine/admin/logging/plugins/#install-the-logging-driver-plugin

[2017-07-04 12:09] munnerz commented on #36485
What are the chances of this being classed as a bug and backported to supported Kubernetes versions? This is quite a problematic behaviour that will require me to either:

a) build my health check to check for the existence of a particular file/some state, and trigger a pod recreation in the event it's not present (thus also preventing me allowing the pod to ever restart, and causing it to only ev

[2017-07-04 12:19] feiskyer commented on #46984
@WIZARD-CXY Cool. Thanks.

[2017-07-04 12:21] xiangpengzhao commented on #48461
Thanks! Will do.

[2017-07-04 12:30] crassirostris commented on #48465
/sig instrumentation

@WIZARD-CXY What is the volume of logs? What is the network throughput?

[2017-07-04 12:34] CallMeFoxie commented on #48467
All seems to work fine for me:
[code]

[2017-07-04 12:38] piosz commented on #48461
thanks @xiangpengzhao!

[2017-07-04 12:39] jsafrane commented on #48438
I tried a simple fix, but when I use an invalid encryption key and AWS `CreateVolume` call returns a volume, subsequent `DescribeVolumes` on this volume is actually successful. The volume seem to exist for a short while, it appears after approx. 500ms . Now what?

[2017-07-04 12:43] ReSearchITEng commented on #48350
Thanks for the fix!
I cannot build it myself. Here is a simple storage class:
https://raw.githubusercontent.com/ReSearchITEng/kubeadm-playbook/master/nfs.yaml

once deployed, from CLI it should show "(default)":
[code]

[2017-07-04 12:48] crassirostris commented on #48465
@WIZARD-CXY 1 minute seems highly suspicious. Usually, container logs would be under 10MB in size, you don't need much time to parse 10MB of jsons. Anyway, to confirm your suspicion about parsing logs, you can try using `tail` option, otherwise kubelet reads and parses all entries starting from the beginning of the file [\[1\]](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuber

[2017-07-04 12:54] xmik commented on #41817
I've found that we should use:
  * addon-manager v6.1 with k8s v1.5 ([source](https://github.com/kubernetes/kubernetes/issues/43755#issuecomment-289840535))
  * addon-manager v6.4-beta.1 or v6.4-beta.2 with k8s v1.6 ([addon-manager changelog](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/addon-manager/CHANGELOG.md))

I use k8s v1.6.6. When using  addon-manager v6.4-beta.1 or

[2017-07-04 13:52] xiangpengzhao commented on #48466
/sig apps

[2017-07-04 13:53] xiangpengzhao commented on #48467
/sig network

[2017-07-04 13:56] #46924 closed

[2017-07-04 14:43] BastiPaeltz opened #48471 "When deleting rbd PVCs, corresponding PV goes into failed state"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I first created a RBD StorageClass. Mounting and using this works fine. However when I delete a PVC and check the corresponding PV, it says `released` for a few seconds before going into `failed` state.
Example:

[code]
I tried to get this working since I started using RBD on Kubernetes. First I ran into [this](https://gi

[2017-07-04 14:46] BastiPaeltz commented on #48471
/sig storage

[2017-07-04 14:47] bryanlarsen opened #48472 "REST API: labelSelector matchExpressions?"
When writing some code against the Rest Job List API (https://kubernetes.io/docs/api-reference/v1.6/#list-45), I expected the labelSelector parameter to use the same syntax as the new style selectors (with matchLabels and matchExpressions).   So then I set about trying to find the documentation on how you expect an object to be encoded into a query string.   It was only after I failed to find such

[2017-07-04 14:50] bryanlarsen commented on #48472
@kubernetes/sig-api-machinery-*

[2017-07-04 15:14] jsravn commented on #43168
@KIVagant You can also delete the namespace to cascade the delete.

[2017-07-04 15:25] discordianfish commented on #48396
@matthiasr I don't have access to the controller nor it's logs because it's GKE and the master components are managed.

But here is the endpoints object:
[code]

Yes, without wiping any state. The VMs were shutdown and just came back online. I haven't checked but would assume they haven't changed IPs etc.

[2017-07-04 15:26] mkumatag commented on #48453
I have some bandwidth, I can work on this.
/assign

[2017-07-04 15:32] jeroenjacobs1205 commented on #48124
ipv6 is disabled here, so this is the output:

[code]

[2017-07-04 15:37] matthiasr commented on #48396
I'm not very familiar with GCE, but this is something I think would be valuable to confirm. I can imagine that there are wild edge cases if a pod changes IP addresses over time. Normally they don't but I can see this happening if a VM came back with the same name (thus picking up the former node object including all scheduled pods) _and_ these pods are in the host network namespace.

[2017-07-04 15:45] discordianfish commented on #48396
I still hope this issue gets some attention from GKE people who should know best.. and are needed to debug this anyway. Unfortunately I don't have the $150/mo right now to help them fixing this issue. ;)

[2017-07-04 16:12] #48359 closed

[2017-07-04 16:50] vdavidoff commented on #43528
Thanks Vish. I think I now better understand my confusion.

When one sets `system-reserved`, the amount of memory actually reserved for the system's _full time_ use is `system-reserved` minus the hard eviction threshold. Another way to think of this is as though the node's total memory is being decreased by the hard eviction threshold, though the memory actually exists to be used as a buffer durin

[2017-07-04 16:56] kwiesmueller commented on #24687
@jingxu97 we just migrated to the new cos due to the deprecation of container-vm and I can confirm that NFS is still not working with us. We keep getting the `Output: mount.nfs: Connection timed out` error on an up-to-date cluster.

[2017-07-04 17:10] ArunRamakani commented on #42559
@dgpc Thanks a lot your solution solved my problem

[2017-07-04 17:16] sbezverk opened #48476 "unable to list third party defined resource 1.7.0"
/kind bug
@kubernetes/sig-auth
**What happened**:
thirdpartyresource defines new kind networks.kuberbetes.com, I modify cluster roles
to allow system:nodes group to access it:

[code]
**What you expected to happen**:
I am expecting to be able to list it with system:node:{node name} but instead I get forbidden.

kubectl get networks --as-group=system:nodes --as=system:node:sbezverk-srv-10.sbezverk.

[2017-07-04 17:16] sbezverk commented on #48476
@kubernetes/sig-auth

[2017-07-04 17:17] sbezverk commented on #48476
/sig auth

[2017-07-04 17:59] thockin commented on #19764
@pmorie and I had sketched out a "merge" volume, but we'd need an ower

On Sun, Jul 2, 2017 at 7:38 PM, Clayton Coleman <notifications@github.com>
wrote:

[2017-07-04 19:04] cblecker commented on #48368
ID from triage tool: 2093fd01d5f51de5f467f5

Seen a number of these: https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&test=TestReplicaSetController

@kubernetes/sig-federation-test-failures

[2017-07-04 20:27] cblecker opened #48478 "build/ docker scripts hang on Docker 17.06.0-ce"
Ran into a local environment issue when running things through the build/ scripts and docker images. When running Docker CE for Mac 17.06, I found there was a functionality change on `docker wait`.. previously if the container specified didn't exist, `docker wait` would just exit with an error and a non-zero status. However, on 17.06, the command (and the build/ script) hangs and doesn't exit.

`d

[2017-07-04 23:33] xiangpengzhao commented on #48472
/sig api-machinery

[2017-07-05 01:16] cleverlzc commented on #27988
The same error：
[code]
Any solution?  Thanks in advance!!!

[2017-07-05 01:24] cleverlzc commented on #27988
@wangzhuzhen

[2017-07-05 01:26] cleverlzc commented on #27988
How did you solve it？ @wangzhuzhen

[2017-07-05 01:46] jicki commented on #48467
/kind bug

[2017-07-05 02:02] supereagle commented on #48422
@benbc  Sorry for my mistake, I have reproduced this error. I will continue to look at this.

[2017-07-05 02:18] unixwitch opened #48483 "After upgrading to 1.7.0, Kubelet no longer reports cAdvisor stats"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug report.

 /kind bug

**What happened**:

I upgraded a cluster from 1.6.6 to 1.7.0.  Kubelet no longer reports cAdvisor metrics such as container_cpu_usage_seconds_total on its metrics endpoint (https://node:10250/metrics/).  Kubelet's own metrics are still there.   cAdvisor itself (http://node:4194/) does show container metrics.

**What you expecte

[2017-07-05 02:22] unixwitch commented on #48483
@kubernetes/sig-node-misc

[2017-07-05 02:46] liggitt commented on #48416
This is racy... admission doesn't serialize, so two defaults could be admitted concurrently (within the same API server or via different API servers in an HA setup)

[2017-07-05 02:48] xingzhou commented on #47727
After some investigation in the code, found out that or `DaemonSet`, it's now using `ControllerRevision` object to record the revision information. So here I can see two solutions to record revision time for `DaemonSet`:
• Add a new attribute named `RevisionTime` to `ControllerRevision` object. Considering `ControllerRevision` is also used for `StatefulSet`, so `StatefulSet` can also record the ti

[2017-07-05 03:01] WIZARD-CXY commented on #48465
@crassirostris thanks for your reply. The log has about 1000 lines and the network bandwidth is large enough because I use it in a small cluster, the network throughput is not a problem.

[2017-07-05 03:05] xilabao commented on #48476
do you create the cluster role using "kubectl create role" command? I think the apiGroup should be "kubernetes.com" and the resource should be "networks".

[2017-07-05 03:41] davidopp commented on #42002
@wojtek-t wrote (in the doc, but let's use this issue rather than the doc for this particular topic):

Just to make sure we're defining "dry run mode" the same way -- we're talking about running the regular scheduler algorithm on the DaemonSet pod, but the scheduler does not update any cached state and does not send the binding to the master when it's done, yes? Is your concern that too many of th

[2017-07-05 03:48] cblecker commented on #48478
Looks like this is a bug that will be fixed in 17.06.1. Reverting back to 17.03 (previous stable) fixes in short term.

[2017-07-05 04:15] sbezverk commented on #48476
@xilabao I do not use "kubectl create role" command, I just created yams file with definitions I needed.
I tried what you suggested but still see the same issue:
[code]

[code]

[2017-07-05 04:19] WIZARD-CXY commented on #48465
@crassirostris I think I know why it is slow. Although they are all 900 lines of log, but use tail(time <1s) to specify the line is much more faster than use since(about 1m). Because according to function ```ReadLogs``` implementation, when you use since method, it needs to json.Unmarshal all the log lines in the log file to determine whether it should be in the result or not while tail method is

[2017-07-05 04:22] WIZARD-CXY commented on #48465
I think when use since option to get log, kubelet should use binary search to get to the right read point instead of linear search which  is really slow. I can submit a pr to fix this. @crassirostris @Random-Liu

[2017-07-05 04:35] MrHohn commented on #41817
@xmik Below error is benign, feel free to ignore:
[code]
Could you clarify the addon-manager version for the second type of error you posted? From the changelog doesn't seem like `addon-manager v6.4` is released yet.

[2017-07-05 04:37] smarterclayton commented on #47727
Why isn't revision time equal to the creation timestamp of the revision?
Why do we need two times?  We don't have accurate modification timestamps
of any DaemonSet/StatefulSet anyway.

On Tue, Jul 4, 2017 at 10:48 PM, Tom Xing <notifications@github.com> wrote:

[2017-07-05 04:51] ahawkins commented on #48458
ping @kubernetes/sig-node-misc

[2017-07-05 04:55] xilabao commented on #48476
`networkses.kubernetes.com` is odd.  the name might be "network.kubernetes.com"

[code]

[2017-07-05 05:13] xingzhou commented on #47727
@smarterclayton, IIUC, when we use rollout undo to rollback a DaemonSet, it will reuse the old ControllerRevision object and update the revision number, so there is no field at present to record the update time, like deployment revision, I'm thinking add a field or annotation to record this info.

[2017-07-05 05:22] MrHohn commented on #48437
@liggetm Have you confirmed the endpoint was up and ready? Like `kubectl get ep`?

Saw you comment on another thread, this shouldn't be related to health check --- health check is used by LoadBalancer from cloud providers, but your cluster is running on bare metal and using nodePort.

From what you described above, it seems like the cause is kube-proxy didn't notice there is a local pod running on

[2017-07-05 05:29] MrHohn commented on #48437
I created a v1.5.2 k8s cluster but failed to reproduce your issue. But I was running cluster on GCE and the backend pod is on one of the nodes instead of master.

[2017-07-05 05:29] dixudx commented on #48483
@unixwitch seems to be related to cadvisor. See whether PR #48485 could fix this.

[2017-07-05 05:46] milla commented on #44273
I have the same issue

[2017-07-05 05:57] davidopp commented on #47867
Great, thanks for looking into it!

[2017-07-05 06:12] jianzhangbjz commented on #48420
Still did not work. I doubt it is a problem of package management. I just want to add myself package not the third package(example.com/xxx/xxx), is there any way?

[2017-07-05 06:23] ikaven1024 commented on #38802
i meet the same issue. i am using k8s v1.6.4 with flannel v0.7.1. Do flannel need /proc/sys/net/bridge/bridge-nf-call-iptables? the file does not exist on my host system.

[2017-07-05 06:27] davidopp commented on #44944
I think just adding a NoSchedule taint (and opposite for uncordon) is sufficient -- no need to check whether there are already taints on the node. (Unless I'm missing some corner case you have in mind?)

The trickier part is making sure this doesn't break the current users of cordon, since Unschedulable is unfortunately not the exact same thing as a NoSchedule taint.

ref/ #42001

cc/ @kubernetes/

[2017-07-05 06:34] wojtek-t commented on #42002
@davidopp - yes I think we understand it the same way - for me it is "running scheduling algorithm (in scheduler itself) in the current state without applying any changes to the internal state".

So what I was trying to say is that:
1. currently it's not possible to run multiple "dry-run queries" at the same time (also not simultanously with some other real scheduling)
2. to make this API somehow

[2017-07-05 06:39] davidopp commented on #42002
Good point about cluster autoscaler; I hadn't thought about that. (You could imagine "dry run" mode allowing you to add nodes, not just a pending pod, but that's starting to get pretty complicated...)

For the others, my point is just that maybe continuing to do sequential scheduling would be OK (mix dry-runs and real scheduling, but never both at the same time, in sequence) if we limit the rate o

[2017-07-05 06:46] xiangpengzhao opened #48488 "hack/verify-golint.sh should exit immediately if golint isn't installed"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig contributor-experience

**What happened**:
When running `hack/verify-golint.sh` without `golint` installed, the script hangs for seconds and then exits with below error.

[code]

**What you expected to happen**:
If `golint` isn't installed, `hack/verify-golint.sh` should exit immediately and give help info on how to install `golint`.

**

[2017-07-05 06:46] wojtek-t commented on #42002
Maybe - we just need to list the usecases and see if rate-limiting wouldn't make it unusable due to too small number of possible requests.

[2017-07-05 06:57] xiangpengzhao commented on #48488
/assign

[2017-07-05 07:20] xingzhou commented on #48361
I'd like to take a look at the issue, have you ever tried to describe the pod?

[2017-07-05 07:22] #46776 closed

[2017-07-05 07:29] xiangpengzhao commented on #48461
Take another look at the issue and find that we aren't able to expose namespace uid through the Downward API, unfortunately.

Currently Downward API supports `fieldRef` which selects a field of the pod, and `resourceFieldRef` which selects a resource of the container. However, namespace-uid is not a field of the pod. We can't expose it as a field.

@piosz @loburm

[2017-07-05 08:42] benbc commented on #48422
Thank you @supereagle.

[2017-07-05 08:44] piosz commented on #48461
Got it. Thanks @xiangpengzhao for the clarification.
@loburm it seems we need to live without namespace-id.

[2017-07-05 08:44] #48461 closed

[2017-07-05 08:53] gyliu513 commented on #38923
I was confused here: Why the rbd was needed in the `controller-manager` container? I found that the failure log was found in kubelet, so seems we need to put the `rbd` binary to kubelet but not controller manager?

[code]

[2017-07-05 09:10] riclava opened #48491 "Why the kubernetes's binary of controller manager has a wrong md5sum can start ?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
the kube-controller-manager can start, but when I use tls, it says parameter not defined, like below, then i check the md5sum of it, it show's that it has a wrong md5sum
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
copy binary when extract like `tar zxvf server.tar.gz && cp kube

[2017-07-05 09:13] loburm commented on #48461
Thanks for checking it.

[2017-07-05 09:16] riclava commented on #48491
/sig binary-release

[2017-07-05 09:17] xiangpengzhao commented on #43340
@justinsb any updates?

[2017-07-05 09:18] #45970 closed

[2017-07-05 09:37] luxas commented on #34924
@k82cn What are the next steps to do here? Just rip everything mesos-specific out of the core like #47232?

[2017-07-05 09:42] luxas commented on #44944
@davidopp I think I have an idea, but can you elaborate on the edge cases?

[2017-07-05 09:42] cofyc commented on #38923
@gyliu513

hi, there are two parts:

- Volume Provisioning: Currently, if you want dynamic provisioning, RBD provisioner in `controller-manager` needs to access `rbd` binary to create new image in ceph cluster for your PVC.
 [external-storage](https://github.com/kubernetes-incubator/external-storage) plans to move volume provisioners from in-tree to out-of-tree, there will be a separated RBD provi

[2017-07-05 09:47] xmik commented on #41817
@MrHohn thanks for noticing that. I thought `addon-manager v6.4` is the latest, even though there is no changelog entry for it. But on google docker registry: https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/kube-addon-manager-amd64 it's written that it was uploaded 1 Feb 2017.

My mistake that I thought `addon-manager v6.4` is the latest, since I've been also using it previous

[2017-07-05 09:55] m-bharathkrishna commented on #42040
@reza-ebrahimi Am also trying to do the same inside the VM and could not pull. Can you help suggesting what fixed the issue for you?

[2017-07-05 09:58] gyliu513 commented on #38923
Ah, I see, I was not using `dynamic provision`, so no need to update `controller-manager`. But as now most people are using `hyperkube` and all kubenetes services are using same image, so if we can put the `rbd` binary to the `hyperkube` image, then it should works. Thanks @cofyc

[2017-07-05 09:58] crassirostris commented on #27988
@cleverlzc Check your apiserver logs for related errors. Try logging into the container (base image is debian, so there's api-get available) and accessing Kubernetes API manually.

We have [e2e tests](https://k8s-testgrid.appspot.com/google-gce#gci-gce-es-logging&width=20) to verify that ES DS is working, so that's a problem with your deployment configuration, that's what I can tell with the data

[2017-07-05 10:01] alok87 commented on #17512
You can use the below command to find the percentage cpu utlisation of your nodes
[code]

[code]

[2017-07-05 10:06] discordianfish opened #48493 "Azure: Volume fails to attach after getting dropped:"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
After two pods with volumes got deleted (still not sure if by k8s itself as response to issues or manually, possibly triggering the issue), the scheduler tries to recreate them but the volumes couldn't get attached. Here is one example:

*pv object*:
[code]

*apiserver log*:
[code]

First reference of volume in *Kubelet lo

[2017-07-05 10:07] crassirostris commented on #48465
@WIZARD-CXY Yes, that's exactly what I meant

Binary search is an obvious enhancement, but I don't know the node team plans regarding it. I think the complexity in the `ReadLogs` function is getting out of hand and it requires careful refactoring, but I'll be happy to see your contribution :)

Let's wait for what @Random-Liu thinks about this

[2017-07-05 10:15] discordianfish commented on #48493
Well that's interesting: Deleting the affected pod again and have it recreate not only resolve the issue for this pod but also for the other pod with the same issue. Somehow it looks like a race condition which gets resolved by recreating any of the affected pods.

[2017-07-05 10:16] jicki commented on #48467
@CallMeFoxie  How should i do it?   thank !

[2017-07-05 10:16] discordianfish commented on #48493
@kubernetes/sig-azure and @kubernetes/sig-storage-bugs I guess?

[2017-07-05 10:40] supereagle commented on #27796
I can not save after edit my organization, there is error `You must select one or more groups for this content`. Anyone could help?  Thanks!

[2017-07-05 10:51] munnerz commented on #30999
In my particular use case, we have an on-prem cluster and a GKE cluster federated together.

The on-prem cluster is of a fixed size, and the GKE cluster has the autoscaler enabled. I've then set the weight for the on-prem cluster to '50', and the weight for the GKE cluster to '1' (in an attempt to create a 'burst mode' style setup, where cloud resources are utilised only when required).

Aside fro

[2017-07-05 10:52] unixwitch commented on #48483
Using latest release-1.7 plus 71160031 doesn't seem to make a difference.  It logs this at startup now:

[code]

But the metrics are still missing:

[code]

[2017-07-05 11:00] unixwitch commented on #48483
I'm not sure if this is related, but Kubelet is also logging this every 10 seconds:

[code]

[2017-07-05 11:03] #33648 closed

[2017-07-05 11:28] unixwitch commented on #48483
This looks the same as #47744, but the fix for that was merged before 1.7.0 release, so I'm not sure why it's still broken.

@Random-Liu

[2017-07-05 11:57] sttts commented on #48152
Lgtm. Let's proceed with this.

[2017-07-05 12:34] ravisantoshgudimetla commented on #44953
/sig cli

[2017-07-05 13:02] gyliu513 commented on #38923
@cofyc another question is if I run kubernetes directly on the host but not in container, then once I installed `rbd utility`, then ceph + kubernetes should works for both controller-manager and kubelet, right?

[2017-07-05 13:25] gnufied commented on #48438
As suggested elsewhere this seems like an oversight/bug in EBS's implementation of `CreateVolume` API call. No error is shown in cloudtrail logs too when this happens.  We need to get in touch with Amazon and clarify what should be expected behaviour.

[2017-07-05 13:47] FengyunPan opened #48500 "LoadBalancer service without affinity"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
Creating service(type: LoadBalancer, sessionAffinity: ClientIP), service has no affinity.

**What you expected to happen**:
The service has affinity
**How to reproduce it (as minimally and precisely as possible)**:
1. Create a service, its yaml as following:
kind: Service
apiVersion: v1
metadata:
  labels:
    app: applic

[2017-07-05 14:10] cmluciano commented on #48367
Are you looking for sessionAffinity?

[2017-07-05 14:21] cmluciano commented on #48462
I believe that https://github.com/kubernetes/dns/pull/79 was merged May 3rd, so it probably was not included in a release until 1.6/1.7. @MrHohn can you confirm?

[2017-07-05 14:22] k82cn commented on #48491
/sig release

[2017-07-05 14:54] dimpavloff commented on #45911
@danielfm We're seeing exactly the same missing symlink behaviour with a prometheus pod which at the moment is the only "heavy IO on boot" service we have. Your summary https://github.com/kubernetes/kubernetes/issues/45911#issuecomment-302820569 sounds quite plausible, given https://github.com/kubernetes/kubernetes/issues/39028

[2017-07-05 15:04] spzala commented on #18266
@magicwang-cn hello, since this issue is over a year old and also etcd 3.2 is out - can we please verify if this issue is still valid? If not, can we please close it? Related issue #20540 has a comment that etcd3 should solve problems related to large cluster. Thanks!

[2017-07-05 15:10] Platzii commented on #38923
We solved this by creating our own images and adding the kube-controller-binary in it.

Dockerfile:
[code]

Note that we are requesting a specific version of the ceph-common package (11.2.0)
Feel free to use/adapt for your needs

[2017-07-05 15:11] discordianfish opened #48503 "Document apiserver's proxy, especially rewriting"
/kind feature

**What happened**:
I'm trying to reach a application which includes some resources in HTML, some other dynamically from js.

The apiserver proxy appears to dynamically rewrite the html to "fix" URL urls by prepending the proxy path (e.g `/api/v1/namespaces/default/services/prometheus/proxy/`). That doesn't work for things loaded via js.

Now the application supports setting a proxy

[2017-07-05 15:12] discordianfish commented on #48503
@kubernetes/sig-networking

[2017-07-05 15:22] spzala commented on #18245
@zhengguoyong hi, it's over a year since this issue was reported. Can we please close it if it's not an issue any more? /cc @thockin  Thanks!

[2017-07-05 15:27] gnufied opened #48504 "Change mechanism of zone selection for dynamic provisioning"
Using AWS as an example, the current zone selection mechanism looks like following (assuming no zone is specified in StorageClass)

1. Filter all running instances in the region. The region information is usually derived from zone information configured in cloudprovider's config.
2. Make a set of zones from running instances in the region.
3. select a zone from list of zones in step#2 using round

[2017-07-05 15:31] kangarlou commented on #37801
I think parameters in the storage class should always be treated as opaque. As a result, we shouldn't promote any keywords in the parameters section of the storage class. I also think fsType shouldn't be a keyword outside of the parameters section as there are countless other knobs that different plugins require. (Where do we draw the line? Should mount options be added as new keywords?) I'm of th

[2017-07-05 15:33] mtanino commented on #47311
@Thoro
Thanks, let me investigate further implementation.

[2017-07-05 15:48] ConorNevin commented on #48378
I'm also seeing this using kubeadm v1.7 - it's preventing nodes from joining the cluster

[2017-07-05 15:50] ConorNevin commented on #48282
I'm also gettting this error with `kubeadm join` on a fresh 1.7 cluster

[2017-07-05 15:59] bgrant0607 commented on #4301
Regarding victim selection by an external controller: While not theoretically sound, deleting a pod and then reducing the replicas count should usually work. The controller victimizes new pods, so a new pod may be created, but then would be deleted again.

A simplistic prune policy (newest, oldest, random) would add another knob and not be nearly as good as the [current policy](https://github.com/

[2017-07-05 16:01] gnufied commented on #48416
I think until we have a solution that solves this properly (transactions may be?) - I think the solution proposed here is "good enough", since it solves a real problem.

[2017-07-05 16:02] cofyc commented on #38923
@gyliu513 Yes

[2017-07-05 16:02] smarterclayton commented on #48388
@derekwaynecarr is there anyone who can look at this?

[2017-07-05 16:15] Iwan-Zotow opened #48506 "Pod which is Complete is back to life"
/kind bug

**What happened**:

Running multiple computation jobs on Google Computing Engine, Docker, and watch how many pods are
done and how many still running. When checking pods for completion, one pods (and I
don't know which one) suddenly moves back to Running.

See terminal output below

beamuser@pigsty:~/Documents/EGS/runEGS/XcScripts$ kubectl get pods -a | grep Co | wc
    588    2940   34

[2017-07-05 16:22] kfox1111 commented on #43112
@pmorie If the configmap/secret's snapshot lifecycle matched the rc/rs that it was associated with, it would be deleted by the same action that deletes the rc/rs, and wouldn't need to be kept track of individually?

[2017-07-05 16:26] FarhadF commented on #48483
I have the same issue on **newly installed** cluster.
[code]
Missing all `container_*` metrics in `http://10.100.1.3:10254/metrics | grep container_*`
I can see other metrics without grep!

Container metrics are available on `curl http://localhost:10255/stats/summary`
[code]

[2017-07-05 16:29] liggitt commented on #48416
It's a rare enough issue, easily correctable if it occurs. I'd wait for an initializer solution.

[2017-07-05 16:29] spzala commented on #18188
@bprashanth Hi, a gentle touch base, this still an issue? If not, can we please close it? I unfortunately couldn't verify it but a lot has been changed with doc and we are at v1.7 now. Thanks!

[2017-07-05 16:42] sarahnovotny commented on #27796
hi @supereagle your best bet is to send an email to helpdesk@rt.linuxfoundation.org.  (please feel free to cc me.

[2017-07-05 16:48] MrHohn commented on #48462
That recent fix was cherrypicked into 1.6 branch (#47328) and should be released with v1.6.5+ (https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#changelog-since-v164).

@keir-rex Though you mentioned `Run kube-dns-v15` above, that is a really old version and the codes have changed dramatically since then.

ref: Below is the kubedns addon released with v1.5.2:
https://github.com/kub

[2017-07-05 17:08] smarterclayton commented on #36813
I think this is very reasonable to support.

[2017-07-05 17:09] cmluciano commented on #22180
/close

closing due to inactivity

[2017-07-05 17:09] #22180 closed

[2017-07-05 17:10] #32080 closed

[2017-07-05 17:11] cmluciano commented on #34356
/close

please reopen if you detect this in release 1.4-1.7

[2017-07-05 17:11] #34356 closed

[2017-07-05 17:17] jingxu97 commented on #24687
@kwiesmueller Could you please provide more details about your NFS setup so that we can help figure out what the problem is. Thanks!

[2017-07-05 17:31] kwiesmueller commented on #24687
@jingxu97 sure thing!
The Cluster is a default GCE Project on 1.6.4 using cos.
The NFS Server is this:
[code]
The Volume for the Server is a Google PD.

The Clients are using the Server like this:
[code]

Oh and the NFS Server IP is fixed in the Service:
[code]

Oh and there are no errors on the server side and I can not find any in Google Logs as well...
But the Pods return this:
[code]

[2017-07-05 17:39] spzala commented on #18180
@mikedanese Hi, a gentle touch base :), are we there to close this issue? Thanks!

[2017-07-05 17:45] MrHohn commented on #48467
@jicki Are you using busybox for the `curl` pod? Busybox has some known issues with dns search path, see: #44723, #45479

[2017-07-05 17:45] divyenpatel commented on #48124
Can you go to the container's directory
/var/lib/docker/containers/<container-id> and check `hosts` file, localhost should be mapped to 127.0.0.1, for container as well.

[2017-07-05 17:57] enisoc commented on #38113
@nikhita That's great! I have been researching some options, but did not start writing yet. Please tag me when you have a proposal as I would like to comment.

[2017-07-05 18:09] nikhita commented on #38113
@enisoc Sure, will do! :+1:

[2017-07-05 18:18] gnufied commented on #48416
@liggitt is there any documentation for the initializer solution? I was looking at - https://github.com/kubernetes/community/blob/master/contributors/design-proposals/apiserver-build-in-admission-plugins.md

Is that the same thing you were talking about?

[2017-07-05 18:45] arunkjn commented on #17088
Probably out of context, but how does the Nginx controller by kubernetes differ with the one provided by nginx? And which one is preferred and why?
I was trying the approach suggested by @neelance on nginx plus controller by nginx but it does not seem to work.

[2017-07-05 19:37] #48089 closed

[2017-07-05 19:47] jingxu97 commented on #24687
Could you try to use gcr.io/google_containers/volume-nfs:0.8 as the NFS server container image? And also use Path: '/' in client volumes. This makes sure to use NFSv4.

[2017-07-05 19:56] bowei commented on #47725
@ami-fairfly how were you able to narrow down the problem to the kube-proxy component? It sounds like the 504 is being generated from the ELB in this case.

[2017-07-05 20:06] bowei commented on #37853
@keyingliu please open a new issue for your kube-proxy problem. This issue is specifically about the kernel soft lock up issue which has been resolved.

/assign

[2017-07-05 20:06] bowei commented on #37853
/close

[2017-07-05 20:06] #37853 closed

[2017-07-05 20:08] freehan commented on #48396
Just by applying setup from https://gist.github.com/discordianfish/77b1e4f82ebe966ec5ce341aa3366155
I cannot reproduce the problem.

If you can ping me on k8s slack channel, I may be able to provide more help.

cc bowei@ dnardo@ if you have any idea.

[2017-07-05 20:11] spiffxp opened #48509 "Unit tests are failing on darwin / OSX"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
`make test` on darwin fails for two packages
[code]
[code]
**What you expected to happen**:
These tests should pass on darwin / OSX, or be skipped if they're linux-specific.  [Our docs on unit tests](https://github.com/kubernetes/community/blob/master/contributors/devel/testing.md#unit-tests) say they should pass on all pl

[2017-07-05 20:16] velo commented on #37546
Same for `1.6.3`

[2017-07-05 20:27] crimsonfaith91 commented on #48069
@dixudx Did you mean that the bug is resolved starting v1.6.5?

[2017-07-05 20:28] Cynerva opened #48510 "Pods sometimes don't get an IP if kubelet restarts while ContainerCreating"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I had a couple pods end up with no IP after a restart of kubelet. With no network, they're not able to function properly.

[code]

This message from kubelet logs is spammed indefinitely:
[code]

**What you expected to happen**:

The pods should get IPs assigned to them.

**How to reproduce it (as minimally and precisely

[2017-07-05 20:30] wongma7 commented on #48416
@gnufied https://github.com/kubernetes/community/blob/master/contributors/design-proposals/admission_control_extension.md

[2017-07-05 20:31] MrHohn commented on #41817
Sorry for the confusion, it seems like someone (probably me) mistakenly pushed the v6.4 image. Let me check if we could delete that to avoid misleading more users.

[2017-07-05 20:35] bamb00 opened #48511 "CrashLoopBack error does not go to pod/container log"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
CrashLoopBackOff occurs but does not get write to log and fluentd unable to collect
**What you expected to happen**:
Fluentd collects the "CrashLoopBackOff" occurrence  from log
**How to reproduce it (as minimally and precisely as possible)**:
1. Deploy Fluentd daemonset
2. Deploy a pod that write a message to "termination

[2017-07-05 20:36] Cynerva commented on #48510
@kubernetes/sig-network-bugs Could y'all take a look at this? Not sure if you're the right folks to tag, bit of a guess on my part. Thanks!

[2017-07-05 20:43] flx42 commented on #44107
@tianshapjq the discussion is now here:
https://github.com/google/cadvisor/issues/1436

I listed multiple options, but we haven't decided on which approach to follow.

[2017-07-05 20:48] dims commented on #48509
/assign dims

[2017-07-05 20:51] jpeeler commented on #46965
The projected volume driver wasn't released until 1.6. It's unclear to me if you upgraded all of Kubernetes or not, but if it was just kubectl projected volumes won't work.

[2017-07-05 20:53] freehan commented on #48107
Are the nodes running on CVM or COS? It looks like it is running on CVMm, right?

[2017-07-05 21:05] freehan commented on #48107
Is there anyway we can execute "lsof" on a cluster in the bad state?

[2017-07-05 21:20] doprdele commented on #47511
+1

[2017-07-05 21:21] shyamjvs opened #48513 "Make nodes upload logs to GCS directly instead of going through jenkins worker"
We're currently copying logs from each of the nodes to the jenkins worker (through ssh) and then uploading that bulk of logs from the worker to GCS. This poses multiple issues:
- It's super time-consuming (eg. on large cluster (5k-node) this takes ~5 hrs) and so wastes money
- We're blocked on the worker's network bandwidth
- We overwhelm the worker's disk (thrashing it in case of 5k-node tests)

[2017-07-05 21:21] #48173 closed

[2017-07-05 21:22] shyamjvs commented on #48513
FYI, https://github.com/kubernetes/kubernetes/pull/48204 was sent a short-term fix.
cc @spiffxp

[2017-07-05 21:22] freehan commented on #48107
It looks like iptables util cannot listen to linux domain socket. I suspect kube-proxy failed to close it during one run. Not sure why. I will send a PR to expose the error soon.

[2017-07-05 21:26] shyamjvs commented on #48107
@freehan The nodes were running on cos (which I guess is the same as gci). Ref: https://github.com/kubernetes/test-infra/blob/master/jobs/ci-kubernetes-e2e-gce-enormous-cluster.env#L33

[2017-07-05 21:28] krzyzacy commented on #48513
will move the job from jenkins to prow make it easier to incorporate with logexporter?

[2017-07-05 21:31] nicksardo opened #48515 "GCE: Project Id used for firewall mgmt instead of network project Id"
In the GCE Cloudprovider package, firewall should be created in the project which contains the network.  Currently, the compute project Id is used. This is a broken feature of K8s 1.7.0.

[2017-07-05 21:31] nicksardo commented on #48515
/assign
/sig network
/area platform/gce

[2017-07-05 21:32] yguo0905 commented on #47853
/assign

[2017-07-05 21:35] shyamjvs commented on #48513
I don't think it affects much. I need to make the change inside the kubetest binary (where we do the logdump step) and that isn't really related to where we're running it IIUC.

[2017-07-05 21:49] krzyzacy commented on #48513
ah, true, not super familiar with the dump script, so I guess the plan is to add another dump mode for scalability jobs? Or the logexporter will be good for any e2e tests?

[2017-07-05 21:52] quinton-hoole commented on #34333
Will be addressed by https://github.com/kubernetes/kubernetes/issues/33622#issuecomment-304390631 targeted for v1.8.

[2017-07-05 21:54] fejta commented on #48513
Nice work so far!

BTW should we make this the default behavior once we have it working for the large jobs?

[2017-07-05 22:05] ixdy commented on #48478
FWIW, it seems that workaround was added in Dec 2014 (https://github.com/kubernetes/kubernetes/commit/21eb09fb6a2) for https://github.com/docker/docker/issues/3968.

The comment there suggests it was hard to reproduce as of docker 1.11; apparently https://github.com/moby/moby/pull/20848 (targeted for docker 1.13) may have fixed it for good.

[2017-07-05 22:07] ixdy commented on #48478
cc @zmerlynn

[2017-07-05 22:10] #48167 closed

[2017-07-05 22:31] #48511 closed

[2017-07-05 22:37] bamb00 opened #48520 "CrashLoopBack error does not go to pod/container log"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
CrashLoopBackOff occurs but does not get write to log and fluentd unable to collect
**What you expected to happen**:
Occurrences of the error "CrashLoopBackOff" should write to the Pod log even if the container did not receive the message/event.  This would allow user to identified which nodes where the pod is residing experiencing

[2017-07-05 22:43] bamb00 commented on #48520
sig/log

[2017-07-05 22:50] #48488 closed

[2017-07-05 22:59] nicksardo opened #48521 "GCE: Config's network name ignored when it's not a url"
#47881 broke support for specifying network name.

[2017-07-05 23:10] divyenpatel commented on #48520
can you provide YAML file for deploying this pod.

cc: @luomiao @BaluDontu @tusharnt

[2017-07-05 23:12] kwiesmueller commented on #24687
Will try right tomorrow, thanks!

[2017-07-05 23:19] jcbsmpsn commented on #48191
/cc @mikedanese

[2017-07-05 23:19] jcbsmpsn commented on #48191
/assign @mikedanese

[2017-07-05 23:24] bamb00 commented on #48520
apiVersion: v1
kind: Pod
metadata:
  name: dt-msg-path-demo
spec:
  containers:
  - name: dt-msg-path-demo-container
    image: debian
    command: ["/bin/sh"]
    args: ["-c", "sleep 60 && echo Sleep expired > /var/log/containers/dt.log"]
    terminationMessagePath: "/var/log/containers/dt.log"

[2017-07-05 23:28] sakshamsharma opened #48522 "Add support for Google Cloud KMS as encryption provider for encryption at rest"
Google Cloud KMS should be available as an encryption provider using envelope encryption (KEK-DEK).

Documents on this feature:
[A Plan For Kubernetes Secrets](https://docs.google.com/document/d/1JAwPuZg47UhfRVlof-lMw08OJztunW8pvTNxDK3rCF8/edit)
[Encryption of secrets at the database layer](https://github.com/kubernetes/community/pull/607/files)
[Implementing KMS plugins](https://docs.google.com/d

[2017-07-05 23:28] sakshamsharma commented on #48522
/sig auth

[2017-07-05 23:28] sakshamsharma commented on #48522
/assign @jcbsmpsn

[2017-07-05 23:32] nicksardo commented on #48521
/sig network
/assign
/area platform/gce

[2017-07-05 23:44] destijl commented on #12742
@djschny you can, and having an encrypted disk is expected. The advantages of doing this on top are discussed in the first section of the proposal.

[2017-07-05 23:56] caesarxuchao opened #48523 "ci-kubernetes-e2e-gci-gce-scalability-release-1-7 is failing"
It looks like a test configuration failure:

[code]

@gmarek @wojtek-t

[2017-07-06 00:03] rmmh commented on #43989
No, GCS buckets are in a global namespace not associated with the project.

If you upload the 3rd run of a job to gs://ibm-kubernetes/logs/volume-e2e/3 with started.json, finished.json, build-log.txt, and artifacts/junit*.xml, then the prefix in the testgrid config would be ibm-kubernetes/logs/volume-e2e.

[2017-07-06 00:38] tianshapjq commented on #44107
@flx42 thx for your reference, I followed that issue as well. But I just wanna know if any news about this discussion?

[2017-07-06 00:40] flx42 commented on #44107
Not that I'm aware of.

[2017-07-06 01:01] lev-kuznetsov commented on #48361
Here's the output for describe, you can get the same output by removing the `rm` flag from my reproduce script and describing the `ubuntu` pod

[code]

[2017-07-06 01:12] lev-kuznetsov commented on #48361
As a workaround, I currently create a pod by piping echo of a full descriptor with the configmap and a blocking command and then I exec my process in the pod, kind of like this:

[code]

My actual use case is that I'm trying to run unit tests as part of my CI process and I'd like to take advantage of secrets storage except there doesn't appear to be a way to block for a job completion, and even if

[2017-07-06 01:13] WIZARD-CXY commented on #48465
ok

[2017-07-06 01:18] xiangpengzhao commented on #48500
/sig network

[2017-07-06 01:25] jianzhangbjz commented on #48420
I found a `BUILD` file in each folder, like: [plugin/pkg/scheduler/algorithm/priorities/util/BUILD](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/priorities/util/BUILD). Is it auto-generated? Maybe the problem is here.

[2017-07-06 01:37] xiang90 commented on #25283
Right. This is exactly why etcd operator uses the alpha `tolerate-unready-endpoint` feature. Can we make it beta in 1.8 release?

[2017-07-06 01:38] xiang90 commented on #25283
/cc @bprashanth

[2017-07-06 01:38] xiang90 commented on #47880
/cc @bprashanth

[2017-07-06 01:48] xiangpengzhao commented on #48420
It is auto-generated, but it's only used by [Building with Bazel](https://github.com/kubernetes/community/blob/master/contributors/devel/bazel.md), e.g. `make bazel-build`.

[2017-07-06 01:49] xiangpengzhao commented on #48420
Did you try to run the raw `go build` to build your own source files? Were there any errors? There may be some clues.

[2017-07-06 01:59] jicki commented on #48467
@MrHohn  I tested it You are right.
So it is the problem of busybox
Thank ~

my  pod  image to alpine

[code]

[2017-07-06 02:03] xiangpengzhao commented on #48163
`/approve no-issue` didn't work in https://github.com/kubernetes/kubernetes/pull/44129#issuecomment-313272618

[2017-07-06 02:14] xiangpengzhao commented on #48520
/sig node
/area logging

[2017-07-06 02:15] k82cn opened #48527 "Align GroupName in pkg/apis"
**Is this a BUG REPORT or FEATURE REQUEST?**:
enhancement/cleanup

/kind bug
/sig api-machinery

**What happened**:
In `pkg/apis`, there're 3 types of GroupName: `xxx`, `xxx.k8s.io`, `xxx.kubernetes.io`. Should we align them to `xxx.k8s.io`?

@kubernetes/sig-api-machinery-misc

[2017-07-06 02:25] spzala commented on #18801
@HaiyangDING  @feihujiang hi, is this still a valid issue? If not, can you please close it? A gentle touch base as it's more than a year this issue was last discussed. Thanks!

[2017-07-06 02:33] jianzhangbjz commented on #48420
@xiangpengzhao Oh, thanks!, Running `go build ./...` command under the `$GOPATH/src/k8s.io/kubernetes` folder, got a lot of `can't load package` errors about `staging`, but none of my source package. Then, run `go build ./...` cmd under the `$GOPATH/src/k8s.io/kubernetes/plugin/pkg/scheduler/algorithm/priorities`, no errors.

[2017-07-06 02:34] MrHohn commented on #48467
@jicki Great! Could you close this issue please? Thanks.

[2017-07-06 02:50] dixudx commented on #48483
@FarhadF But it works well on my new created cluster.

[code]

[code]

[2017-07-06 02:56] HaiyangDING commented on #18801
@spzala Thanks for mentioning. I am closing this.

[2017-07-06 02:57] #18801 closed

[2017-07-06 02:58] xiangpengzhao commented on #48420
I have no more ideas...

Since this issue is neither a bug nor a feature request, could you please re-post your question to [kubernetes on stackoverflow](https://stackoverflow.com/questions/tagged/kubernetes)? Hope we can get an answer there:)

[2017-07-06 03:21] aloisio31 opened #48528 "service resource support set-based selector"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What you expected to happen**:
As the [doc][1] says:

  [1]: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/

I want to get _endpoints_ by _service_ that select _pods_ with **key** = **v1** or **v2**. Is there any way to do so?

/sig api-machinery

[2017-07-06 03:24] aloisio31 commented on #48528
@kubernetes/sig-api-machinery-*

[2017-07-06 03:39] spzala commented on #18801
@HaiyangDING no problem at all and thank you for quickly verifying and closing!

[2017-07-06 04:03] cblecker commented on #48478
cc @spiffxp who I'm guessing stumbled on this same thing an opened dupe tickets with docker/moby heh

[2017-07-06 04:06] cblecker commented on #48500
/assign

[2017-07-06 04:06] cblecker commented on #48500
Fixed in #48501
/close

[2017-07-06 04:06] #48500 closed

[2017-07-06 04:50] philipn commented on #45626
Could this issue be re-opened?  We are seeing this as well with the latest `kops` and k8s 1.6.4.  I'd expect the dead pods to be restarted.

[2017-07-06 04:52] xiangpengzhao commented on #48528
/sig api-machinery
/sig network

[2017-07-06 05:40] gmarek commented on #48523
@kubernetes/test-infra-maintainers

[2017-07-06 05:41] mkumatag opened #48530 "Test image dependencies from kubernetes/kubernetes.github.io repo"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Part of conformance test following images are used in `test/e2e` which needs to be ported to support multi architecture

1. gcr.io/google_containers/liveness:e2e	- https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/user-guide/liveness/image/Dockerfile
2. gcr.io/google_containers/update-demo:nautilus -

[2017-07-06 05:42] xingzhou commented on #48361
I tried the same scenario yesterday, single `env` attribute is working well, but `envFrom` does not work. digging into the code on the issue now, so one other work around here is also to use the single `env`

[2017-07-06 05:42] mkumatag commented on #48530
/assign
/sig testing

[2017-07-06 05:42] mkumatag commented on #48530
/cc @luxas @ixdy

[2017-07-06 06:22] ami-fairfly commented on #47725
@bowei We have done a few things to narrow down the problem:

- Tried switching the ELB to an out-of-cluster instance and it worked fine
- Tried removing a few relatively busy kubernetes instances from the ELB and it reduced the issue.
- Refreshing the browser a few times also helped reduce the amount of 504s.

I have to say that we tried upgrading to k8s 1.6 and so far the issue seems to have dis

[2017-07-06 06:57] jicki commented on #48467
/close

[2017-07-06 06:57] #48467 closed

[2017-07-06 07:12] luxas commented on #48530
Feel free to move these over here.
They aren't used anymore in the docs repo, I checked that now.

What is used by core e2e/conformance tests should be in the core repo until we move the full `test/` out

Side note, there probably is some other images that are unused as well:
[code]
But as long as they are not used in core, no reason to move over.

[2017-07-06 07:17] mkumatag commented on #48530
but I see in docs they are using the `liveness` image in docs : https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/

[2017-07-06 07:22] wojtek-t commented on #48513
We need a careful discussion about this. The problem is e.g. what if node is unready after tests?
As of now, we won't be able to schedule anything there, and thus won't get logs from it.
At some point we may be in better position, when we will be able to schedule on not-ready nodes (this is planned, there is an open issue for it), but still if kubelet will be down we won't be able to gather logs u

[2017-07-06 07:24] fgrzadkowski commented on #48071
How about just using hostname and node selector?

--
Filip

On Mon, Jul 3, 2017 at 2:03 PM, Mik Vyatskov <notifications@github.com>
wrote:

[2017-07-06 07:38] luxas commented on #48530
yes, there is that one reference, but that's no reason not to move.
That one reference will still be valid after the move, it don't require _the source to be there_

[2017-07-06 08:07] roobert commented on #33483
@nicksardo: I can't find anything in the 1.7 changelog about this feature, has it been postponed?

It would also be great to get clarification on whether the internal load balancers will be accessible to networks attached via VPNs.

Thanks,

[2017-07-06 08:56] jianzhangbjz commented on #48420
Sure, here: [How to add new packages in Kubernetes](https://stackoverflow.com/questions/44944004/how-to-add-new-packages-in-kubernetes). I doubt I missed something for the steps of updating package,  and hope to find the docs of the steps of adding new algorithm packages. :)

[2017-07-06 09:30] jbunce commented on #42701
+1 for this. @k82cn will this be backmerged?

[2017-07-06 09:42] keir-rex commented on #48462
Great, thanks for the update and pointers. I'll look at updating to the correct version for `1.5.2` and we're considering an upgrade to 1.6 in the near future.

Is there any chance of the fix for this race condition being back-ported to `1.5.x`? If not is it a bad idea to upgrade to the KubeDNS version released for `1.6.5`?

Finally, am I correct in my above assumption that this relates to #44711

[2017-07-06 09:51] gmarek commented on #48071
I'm not sure we can depend on hostname to identify the master.

[2017-07-06 09:51] qiujian16 commented on #40973
met the same problem, especially when we reboot the master node.

[2017-07-06 09:53] k82cn commented on #42701
ok, let me creat a backmerge pr for 1.6

[2017-07-06 10:16] shyamjvs commented on #48513
+1 to what Wojtek wrote. In fact not just kubelets, we want most control plane components to be working. However we don't need the scheduler as most likely we're going to run it as a daemonset.

[2017-07-06 10:24] wojtek-t commented on #48513
Daemons may use scheduler in the relatively near future: https://github.com/kubernetes/kubernetes/issues/42002

[2017-07-06 10:53] shyamjvs commented on #48513
Aah! Thanks for the lead.

[2017-07-06 10:56] sttts commented on #48527
These determine the HTTP path. So we cannot fix our broken naming easily.

[2017-07-06 11:02] crassirostris commented on #48071
Problem is, for example in GCE deployment, there's no difference in labels on master and on the nodes. If we add a special label to mark the masters, then we can use nodeAffinity.

[2017-07-06 11:31] xiangpengzhao commented on #7304
We currently have four places to fire events for kube-proxy:
- [birthCry](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-proxy/app/server.go#L776)
- [a `readOnlySysFS` error occurs](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-proxy/app/server.go#L682)
- [Failed to open local port](https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go#L1

[2017-07-06 11:36] xiangpengzhao commented on #28665
[Networking Features Wiki](https://github.com/kubernetes/kubernetes/wiki/Networking-Features-under-development) has no more details about this and it hadn't been updated for one year. I also don't find any discussion on this in [SIG-network meeting agenda](https://docs.google.com/document/d/1_w77-zG_Xj0zYvEMfQZTQ-wPP4kXkpGD8smVtW_qqWM). Should we close this?

/cc @caseydavenport  @cmluciano

[2017-07-06 11:46] k82cn commented on #48527
yes. Agree that's complex; I try to create a PR today; but I found lots of code are using text, e.g. "apps".

[2017-07-06 11:46] liubog2008 opened #48537 "List only accessible namespaces"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Now RBAC can only enable or disable request to LIST namespaces.

**What you expected to happen**:

I hope to LIST partial namespaces in which I can access namespaced resource. Or I can LIST only "gettable" namespaces.

**Environment**:
- Kubernetes version v1.6

[2017-07-06 11:47] xiangpengzhao commented on #2139
As per the discussion in the issue, this can be a use case of multiple-networks.

@nikhilk Would you please join the mailing list and post your use case there?
 see: https://groups.google.com/forum/#!topic/kubernetes-sig-network/8nDSQ2hF40w

[2017-07-06 11:55] sttts commented on #48527
It break the api, that's the bigger problem.

[2017-07-06 11:57] deads2k commented on #48527
I think we should align them (we chose `k8s.io`) and it can be done by double registering for some period of time.

[2017-07-06 11:58] dims commented on #48463
@gyliu513 i agree

[2017-07-06 12:27] liubog2008 commented on #48537
/sig auth

[2017-07-06 12:41] kwiesmueller commented on #24687
Getting this on the NFS Pod:
[code]
The client Pod now only gives a timeout, nfs error:
[code]

[2017-07-06 12:43] kwiesmueller commented on #24687
NFS Depl:
[code]

Client:
[code]

[2017-07-06 12:59] kargakis commented on #38612
Seems ugly for the endpoints controller
<details>

[code]
</details>

[2017-07-06 13:05] avra911 commented on #24687
Your server points to: `- mountPath: /exports` while apache tries to reach `nfs: path: /`, should be the same path, this is one thing I see right now

---- On Thu, 06 Jul 2017 15:44:48 +0300 Kevin Wiesmüller &lt;notifications@github.com&gt; wrote ----

NFS Depl:

apiVersion: extensions/v1beta1 kind: Deployment metadata: name: fileserver namespace: {{ "NAMESPACE" | env }} labels: app: fileserver sp

[2017-07-06 13:05] jianzhangbjz commented on #48420
This problem turned out to be caused by the `CGO_ENABLED` variable! Although I already set it enabled in environment variable as the below shows, but it is disabled in the [hack/lib/golang.sh](hack/lib/golang.sh), still need to modify it manually, it was torture. :scream:
[code]

[2017-07-06 13:39] dixudx commented on #48537
/cc

[2017-07-06 13:50] kwiesmueller commented on #24687
@avra911 No, I can not mount / on my PD obviously... I was jut following @jingxu97 's advise to switch the client path.

[2017-07-06 13:50] jdumars commented on #48493
/sig azure

[2017-07-06 13:56] spiffxp commented on #48478
Yeah note to self, filing issues on moby directly gets a faster response. Thanks @cblecker

[2017-07-06 14:04] crassirostris commented on #48520
@bamb00 There are two separate problems that can be happening:

- kubelet doesn't write logs about this event, you can check it by filtering kubelet logs manually while on the node (using `journalctf -u kubelet`)
- fluentd doesn't pick up the logs, you can check fluentd pod's logs for any signs of problems

[2017-07-06 14:04] crassirostris commented on #48520
/sig instrumentation

[2017-07-06 14:25] tmjd commented on #46705
One reason to remove compaction from k8s is because it requires giving k8s the root role in etcd when using RBAC.  I have been setting up etcd RBAC (with certificates) and was seeing a compact error and, when I asked in the etcd IRC, I was told that to allow compaction to work it was necessary to have the root role.

I'm not sure I would advocate to remove it all together but it would be nice to h

[2017-07-06 14:50] sttts opened #48548 "Reintegrate aggregation support for OpenAPI"
As discussed in https://github.com/kubernetes/kubernetes/pull/46734 the 1.7 implementation of OpenAPI aggregation is reverted on master via https://github.com/kubernetes/kubernetes/pull/48547, in favor of a less intrusive implementation for 1.8.

[2017-07-06 14:51] sttts commented on #48548
/sig api-machinery

[2017-07-06 14:53] kwiesmueller commented on #24687
Never mind... Running now...
NFSv4 works, the new Container is good... @jingxu97 where could one find the dockerfile for this one?
And the last issue on which I posted the manifests was, that NFS had not enough resources and then killed itself.

[2017-07-06 15:06] crassirostris commented on #35195
/sig instrumentation

[2017-07-06 15:20] crassirostris commented on #35195
@hach-que

I don't think it's possible or makes any sense. [Changing the logging agent configuration](https://kubernetes.io/docs/tasks/debug-application-cluster/logging-stackdriver#configuring-stackdriver-logging-agents) to pick up only stderr seems more reasonable

It's going to be available not very long time from now

I don't think the data is available in terms of metrics anywhere right now, b

[2017-07-06 15:45] leblancd opened #48550 "Fix IPv6 address handling in iptables proxier"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Upon code inspection, several issues were found revolving around handling of IPv6 addresses:
- There are three places where a string specifying IP:port using something like the following:
         if index := strings.Index(e.endpoint, ":"); index != -1 {
   This will fail for IPv6 since V6 addresses contains many colons,

[2017-07-06 15:48] leblancd commented on #48550
/sig network
/area ipv6

[2017-07-06 15:54] erik777 commented on #44377
The problem I am having is GKE creates a new PV for the client-side PVC instead of using the NFS one created.  The result is you see a new DISK show up in GCE, client pods not on the node the PV was attached to error out, and touches to the attached volumes do not show up on the NFS server.

The example seems to expect that the PVC created with nfs-pvc.yaml will automatically match the PV created

[2017-07-06 16:12] nicksardo commented on #33483
It's in the changelog: "[beta] Support creation of GCP Internal Load Balancers from Service objects " https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#cloud-provider-enhancement

Folks, I can only comment on integrating ILBs into Kubernetes. For everything else, you have to go through the correct channels: https://cloud.google.com/support/docs/issue-trackers.

[2017-07-06 16:35] roobert commented on #33483
After some further searching it looks like the answer to whether internal load balancers are routable via GCP VPNs can be found under the _Restrictions_[1] heading: "You cannot send traffic through a VPN tunnel to your load balancer IP."

Hope this helps the others.

[1] https://cloud.google.com/compute/docs/load-balancing/internal/

[2017-07-06 16:53] guillelb opened #48554 "How to release the Retain PersistentVolumes"
Using k8s v1.6.1.

I created PVs with reclaimpolicy: Retain. In the k8s doc sais "Retain – manual reclamation"

Once, I used it by a PVC, and PVCs are deleted, I want to release the volumes, but volumes are still "Bound"

**PVs**
[code]

How can I release the volumes, and put in Available state again?

[2017-07-06 16:56] ixdy commented on #48523
/assign @krzyzacy

[2017-07-06 16:58] ixdy commented on #48523
last passing run: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-release-1-7/61/
first failing run: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-release-1-7/62

[2017-07-06 17:07] ixdy commented on #48523
https://github.com/kubernetes/test-infra/pull/3266

[2017-07-06 17:14] #28665 closed

[2017-07-06 17:16] freehan commented on #28665
Let us use the spreadsheet to track features.

[2017-07-06 17:17] ravisantoshgudimetla commented on #48059
/assign @ravisantoshgudimetla

[2017-07-06 17:17] freehan commented on #7304
Some events have been added. Open new issue if more needs to be added. Closing this one.

[2017-07-06 17:17] #7304 closed

[2017-07-06 17:21] #30498 closed

[2017-07-06 17:23] erik777 commented on #24687
Thanks @jingxu97.  I got it working with your client-side method instead of the PVC from example, which never matched the PV.

Do you know if there is a way to provide input on k8s direction to help prioritize? I'd like to see k8s provide a purely dynamic, including elastic scaling, with no single points of failure for a horizontally clustered database.  This NFS solution, with a static IP in the

[2017-07-06 17:25] #7562 closed

[2017-07-06 17:34] bgrant0607 commented on #43112
A lightweight approach was previously described here:
https://github.com/kubernetes/kubernetes/pull/31701#issuecomment-252110430

Closing as a dupe of #22368.

[2017-07-06 17:34] #43112 closed

[2017-07-06 17:45] cmluciano commented on #47862
cc @kubernetes/sig-cli-feature-requests

[2017-07-06 17:46] csbell commented on #48368
/assign @perotinus

[2017-07-06 17:46] cmluciano commented on #47725
@ami-fairfly do the problems in this issue https://github.com/kubernetes/kubernetes/issues/45126 sound familiar?

[2017-07-06 17:47] caseydavenport commented on #2139
Given the age of the conversation here I think we should close this and re-open / create a new issue if there are more recent requests for this. Will close in a few days if there are no objections.

/assign

[2017-07-06 17:51] bgrant0607 commented on #22368
Main response to the earlier proposal:
https://github.com/kubernetes/kubernetes/pull/31701#issuecomment-252110430

[2017-07-06 17:52] MrHohn commented on #48462
@keir-rex Yes that should be due to refactoring. Because we moved kube-dns codes out of kubernetes/kubernetes repo in v1.6, and the fix is in kubernetes/dns repo, it would be tricky to backport fixes and images to v1.5.

I think it is safe to use kube-dns released for v1.6.5+ on v1.5 cluster. You will need to comment out the optional configMap part (it's a 1.6 feature) in template (https://github.

[2017-07-06 17:52] spxtr commented on #48163
See https://github.com/kubernetes/kubernetes/pull/44129#issuecomment-313282611

This is very confusing behavior.

[2017-07-06 17:56] bgrant0607 commented on #30657
@iceandroidph ConfigMap can already be used to deliver config files. Just put the data into a single value and use the configmap volume source.

https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#add-configmap-data-to-a-volume

[2017-07-06 17:56] #30657 closed

[2017-07-06 17:59] apelisse commented on #48163
It's far from perfect, but it also makes sense to have approvers be actual approvers.

[2017-07-06 18:04] dchen1107 commented on #48483
This looks like a dup of  #47744. @dashpole can you please verify this? Thanks!

[2017-07-06 18:04] spxtr commented on #48163
Right, but I think this is super confusing:

<img width="782" alt="screen shot 2017-07-06 at 11 02 31 am" src="https://user-images.githubusercontent.com/7368979/27925727-b7f0cf70-623a-11e7-9ad4-1bedb0f59ac0.png">

It's not clear who can actually `/approve no-issue` it, and the PR author doesn't know how to proceed.

[2017-07-06 18:05] apelisse commented on #48163
Oh I completely agree with that, we could re-word the text. Suggestion?

[2017-07-06 18:07] spxtr commented on #48420
What package are you trying to add? Why does it need CGO?
cc @ixdy , also see #48541

[2017-07-06 18:12] sbezverk commented on #27398
FYI  @thockin @hwinkel @dcbw @feiskyer
@rkamudhan, I have finished initial testing of Multus, excellent job Kural!! I brought a POD with 4 interfaces,
1 loopback, 1 management (flannel) , 1 mapped to Linux bridge and. 1 SRIOV VF layer 2 interface.  I will still need to check the connectivity but from control plane perspective, it looks great.  Thanks a lot.

[2017-07-06 18:19] crimsonfaith91 commented on #48163
We can state the user is not one of the approvers, and remove the user from the list.

e.g.,
[APPROVALNOTIFIER] This PR is **NOT APPROVED** [_dims_ is not one of the approvers]
This pull-request has been approved by: _brendandburns_, _xiangpengzhao_

[2017-07-06 18:31] nbutton23 commented on #47725
One thing to keep in mind with ELBs is that they have HTTP keep alive (called idle timeout) on by default, and its set to 60seconds. That needs to be 1 second less than your apps keep alive. This was the cause of 504s for several of our apps.

http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/config-idle-timeout.html

To configure the ELB idle time-out you can set this annotation of y

[2017-07-06 18:32] armandocerna commented on #45626
We are also experiencing this issues on kops 1.6.2 with k8s 1.6.6.  Pod marked as "Completed" with the error ` Error syncing pod, skipping: rpc error: code = 2 desc = Error: No such container: 7fdee2d9ec06f73770864510fb833618a3aabb139b197f381a62877e2007034a
`

[2017-07-06 18:34] kargakis commented on #48554
/sig storage
/kind support

[2017-07-06 18:34] kargakis commented on #48503
/sig api-machinery

[2017-07-06 18:35] janetkuo opened #48558 "Move ReplicaSet and DaemonSet to apps API group"
TODOs:
- [ ] DaemonSet moved to apps group
- [ ] ReplicaSet moved to apps group

@kubernetes/sig-apps-feature-requests

[2017-07-06 18:40] enisoc commented on #25283
@erictune @janetkuo @kow3ns We had discussed promoting `tolerate-unready-endpoints` since we need it for StatefulSet and no one has come up with anything better. We should make a decision and include it in our GA roadmap for workload controllers.

[2017-07-06 18:47] pmichali commented on #48478
I did this hack to get around the issue:
[code]

[2017-07-06 18:50] smarterclayton opened #48559 "429 rejections are not tracked by a prometheus metric"
When we are shedding load it is very difficult to determine why.

[2017-07-06 18:53] woopstar commented on #8524
How was this solved?

[2017-07-06 19:02] enisoc commented on #47880
ref #25283

[2017-07-06 19:12] dashpole commented on #48483
On a newly created cluster from head, this particular issue appears to be resolved, and is most likely a dup of #47744.

`curl localhost:4194/metrics | grep container_cpu_usage_seconds_total
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--

[2017-07-06 19:20] unixwitch commented on #48483
I'm not sure this is #47744 because it was still broken for me with 1.7.1-beta.0.3 Kubelet (with 1.7.0 master).   That build does have e90c4779b388f7cea956d73e4426ab1835bf775a in it, which I thought was the fix for #47744.

I can bring up a test cluster to see if this is related to upgrading, but I imagine that's unlikely.  Maybe it's affected by commandline options or system configuration?  (Runn

[2017-07-06 19:21] timstclair opened #48561 "Advanced Auditing Beta Changes"
As we work with the new "advanced auditing" API, we're noticing places where the API could be improved. I'm opening this issue to track all the changes we'd like to make to the API when it goes to beta.

## API Changes:

- [x] `audit.Event.ObjectRef.APIVersion` currently holds both the the API group and version, separated by a `/`. We should break these out into separate fields.
- [x] Policy shoul

[2017-07-06 19:23] RemingtonReackhof commented on #30507
I'm new to this project and would like to take a look at this issue. I've started working on the sorting by column feature

[2017-07-06 19:27] mtanino commented on #47311
@Thoro @rootfs
Hi, Can you try this POC code?
https://github.com/mtanino/kubernetes/commit/67938bd13ff080e05466658f581295f804414e22

ex.  pv.yaml
[code]

[2017-07-06 19:31] rushabh268 commented on #47695
@liggitt  I just picked up 1.7.0 and am noticing this error in the master logs:
`kubelet_node_status.go:106]` Unable to register node "ovs-11.k8s.test.com" with API server: nodes "ovs-11.k8s.test.com" is forbidden: node ovs-10.k8s.test.com cannot modify node ovs-11.k8s.test.com`

[2017-07-06 19:42] cmluciano commented on #47725
Interesting, maybe we need to add this to the docs on kops

[2017-07-06 19:43] cmluciano commented on #48462
/close

please reopen if this persists on 1.6

[2017-07-06 19:43] cmluciano commented on #48462
/assign

[2017-07-06 19:53] apelisse commented on #48163
What about the following?

[2017-07-06 19:54] unixwitch commented on #48483
New cluster with 1.7.1-beta.0.3 Kubelet:

[code]

[2017-07-06 20:06] crimsonfaith91 commented on #48163
Yes, we should explain about validity of an approver. How about this?

[APPROVALNOTIFIER] This PR is **NOT APPROVED** [_dims_ is a valid approver]
This pull-request has been approved by: brendandburns, xiangpengzhao

No associated issue. Update pull-request body to add a reference to an issue, or a valid approver for this pull-request should issue a `/approve no-issue` command.

[2017-07-06 20:13] spxtr commented on #48163
In this case it should also say what it means to be a valid approver. I'm guessing valid approvers are those who can approve at least one file in the PR?

[2017-07-06 20:14] gg7 opened #48563 "Reserving a service IP for custom use / apiserver HA"
/kind feature

I currently use multiple `A` DNS records for my canonical apiserver address in order to provide some kind of fault-tolerance if a master goes down in my on-premise Kubernetes deployment:

[code]

This works most of the time, but if a master dies sometimes various `kubelet`s fail to report node statuses multiple times and Kubernetes starts rescheduling pods. If kubelet and kube-proxy

[2017-07-06 20:17] apelisse commented on #48163
Yeah, but I really don't want to create a notion of "invalid" approvers. Every one should be a valid approver, even though they can't approve any files.

[2017-07-06 20:21] mengqiy opened #48564 "RFC: kubectl should not depend on internal types?"
As part of the efforts to move kubectl out of the main repo, kubectl may not depend on the internal types in the main repo.
We @kubernetes/sig-cli-maintainers want to come up with a plan for kubectl with the help from @kubernetes/sig-api-machinery-misc.

Paste some discussion in slack #sig-api-machinery channel.

@deads2k:

if that's the direction they want to go, internal types either have to go

[2017-07-06 20:21] mengqiy commented on #48564
/sig cli

[2017-07-06 20:25] dims commented on #48163
@apelisse +1, we should be welcoming reviews.

@apelisse @spxtr In this specific case since @brendanburns had already approved and the bot failed just because of the missing issue number. The bot should honored the "/approve no-issue" i feel.

[2017-07-06 20:37] caesarxuchao opened #133553 "client-go needs backwards compatibility test"
Client-go needs backwards compatibility test, i.e, checking if a PR changes the public interfaces of client-go. The benefits are:
 * Ensuring release-note is added if a PR has backwards incompatible changes.
 * Making breaking changes more obvious, so developers can avoid them if possible.
 * Helping determine if the major version of client-go needs to be bumped when we cut a release.

The backwar

[2017-07-06 20:37] crimsonfaith91 commented on #48163
@spxtr we can include definition of a valid approver under `Details` tab.

[2017-07-06 20:40] dashpole commented on #48483
@unixwitch I finally realized you are using the wrong port.  10255 is the kubelet's port for prometheus metrics.  As you can see, it gives a metric for runtime operation latency.  Port 4194 is the cadvisor port, which has container metrics.  See if that works.

[2017-07-06 20:58] ereOn commented on #44954
I currently manage to get the cluster name by querying the following URL:

[code]

Is this not supposed to work ?

[2017-07-06 20:59] #44393 closed

[2017-07-06 21:10] crimsonfaith91 commented on #48558
/cc

[2017-07-06 21:19] mengqiy commented on #48209
2 more PRs:
Move `k8s.io/kubernetes/pkg/client/retry` to `k8s.io/client-go/util/retry`: #47011 @lavalamp Is this OK for you?
Eliminate `kubectl` dependency on `kubelet`: #48529

[2017-07-06 21:20] mengqiy commented on #48209
For `k8s.io/kubernetes/pkg/util/exec` and `k8s.io/kubernetes/pkg/util/interrupt`, there are no easy way to resolve.

I'd like to initialize the process to create a new `util` repo for these two pkgs, if no one against this.
Is there a doc for how to do that? Or I can just do it in the staging area first?

[2017-07-06 21:27] thockin commented on #48209
I'd rather we not bounce it through staging if we can avoid it.

On Thu, Jul 6, 2017 at 2:20 PM, Mengqi Yu <notifications@github.com> wrote:

[2017-07-06 21:59] jcbsmpsn commented on #43670
In progress: https://github.com/kubernetes/kubernetes/pull/48231

[2017-07-06 22:05] smarterclayton commented on #48558
Are we going to bump the API version as was requested (after the fact) for deployments?

[2017-07-06 22:21] nicksardo opened #48568 "GCE: ApiEndpoint specifies alpha/beta/v1 but doesn't support simultaneous use"
#47881 breaks several things

1) The api endpoint is hardcoded in multiple places of the cloud provider.
2) Api endpoint is only used for main client, not the beta client which is used simultaneously.
2) The api endpoint flag specifies alpha/beta/v1; however, we have two GCE clients (v1 and beta). How does that work?

/assign @cadmuxe

[2017-07-06 22:21] nicksardo commented on #48568
/assign @freehan

[2017-07-06 22:21] nicksardo commented on #48568
/sig network
/area platform/gce

[2017-07-06 22:26] jlowdermilk opened #48569 "Addon manager should support addons switching between mode=Reconcile and mode=EnsureExists without modifying the addon manifest"
/kind feature

Cluster add-ons should support switching between `addonmanager.kubernetes.io/mode=Reconcile` and `addonmanager.kubernetes.io/mode=EnsureExists` by updating the addon definition via kubernetes API.

Current addons like dashboard, fluentd agent and kube-dns specify `addonmanager.kubernetes.io/mode=Reconcile` in their manifest files. This effectively means they cannot be updated withou

[2017-07-06 22:26] jlowdermilk commented on #48569
cc @mikedanese

[2017-07-06 22:37] ixdy commented on #47558
/assign

[2017-07-06 22:43] spiffxp commented on #48283
This would be useful info to help flesh out kubernetes/test-infra#3349

[2017-07-06 22:44] spiffxp commented on #48283
/priority important-soon

[2017-07-06 22:46] verult opened #48570 "Default FlexVolume driver directory is not writable on COS."
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature

Default FlexVolume driver directory is `/usr/libexec/kubernetes/kubelet-plugins/volume/exec/`, which is not writable on COS images. Should have a different default directory to enable FlexVolume on COS.

/kind feature

/assign @verult

[2017-07-06 22:46] verult commented on #48570
/sig storage

[2017-07-06 23:16] alexandercampbell commented on #48368
Same failure on my PR: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/48572/pull-kubernetes-unit/39298

[2017-07-06 23:17] bgrant0607 commented on #23896
There are many, many tools that can do parameter substitution and other forms of config generation:
Helm
OC new-app
Kompose
Spread
Draft
Ksonnet/Kubecfg
Konfd
Templates/Ktmpl
Fabric8 client
Kubegen
kenv
Ansible
Puppet
KPM
Nulecule
OpenCompose
Chartify
Podex
k8sec
Kploy
kb80r
k8s-kotlin-dsl
KY
kdeploy
K8comp
Kontemplate
kexpand
Deploymentizer
Broadway
srvexpand

(links will go elsewhere)

For now,

[2017-07-06 23:17] #23896 closed

[2017-07-06 23:18] bgrant0607 commented on #36750
Closed #23896, so closing this also.

[2017-07-06 23:18] #36750 closed

[2017-07-07 00:30] amitkgupta opened #48575 "kubectl bash completion causes bash file path completion to fail"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Bash file path completion fails when trying to run `kubectl` commands and `source /usr/local/etc/bash_completion.d/kubectl` is in `~/.bash_profile`.  If I run `kubectl delete -f ../<TAB>` then I get the error message show below in the section on reproduction.

**What you expected to happen**:

I espect to see files/direc

[2017-07-07 01:05] jianzhangbjz commented on #48420
@spxtr It is our own schedule algorithm packages made of the `c` code. We need to add it into `priority` module via the `cgo`.

[2017-07-07 01:38] dims commented on #47966
hey @hogepodge can you please reopen this?

[2017-07-07 01:52] k82cn commented on #48527
I think this's not urgent issue. If we agree to do that, I may contribute after 1.8.

cc/ @smarterclayton

[2017-07-07 02:03] amitkgupta commented on #48575
/sig cli

[2017-07-07 03:14] dixudx commented on #48558
/cc

[2017-07-07 03:15] mengqiy commented on #48209
As @thockin suggested, the util repo should be very generic utils, which can be used by other k8s unrelated project.
What about other k8s related utils? Should we have something like an `API_util` repo as well?

cc: @caesarxuchao

[2017-07-07 03:25] mengqiy commented on #48209
Some utils that may not fit in generic `util` repo:
- k8s.io/kubernetes/pkg/api/v1/helper
- k8s.io/kubernetes/pkg/controller/deployment/util
- k8s.io/kubernetes/pkg/client/retry
...

Where should they go?

[2017-07-07 03:28] xiangpengzhao opened #48579 "Updating service to NodePort type gets port lost"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig network
/cc @thockin @smarterclayton @freehan
/assign

**What happened**:

1. Create a ClusterIP type service
[code]

[code]

2. Edit the service. Change it's type to NodePort and add a Port.
Note: the new port has same port number but protocol with the existing Port.
[code]

3. See the updated service. **The TCP Port was eaten.**
[code]

[2017-07-07 03:32] xiangpengzhao commented on #48579
I will be OOO the next week. Since this bug is not so urgent, I will fix it ASAP when I'm back. Folks who are interested in this can take it :) BTW, I can join in the discussion from my phone.

[2017-07-07 04:02] helinbo2015 commented on #27796
@wyc good job!

[2017-07-07 04:13] liggitt commented on #47695
It appears the credential created for ovs-10.k8s.test.com is being used on a different node (ovs-11.k8s.test.com). Giving each node the correct credential would allow it to be authorized as expected

[2017-07-07 04:35] shiywang commented on #47862
/assign

[2017-07-07 04:46] smarterclayton commented on #25283
Be sure to include sig-network

On Jul 6, 2017, at 2:40 PM, Anthony Yeh <notifications@github.com> wrote:

@erictune <https://github.com/erictune> @janetkuo
<https://github.com/janetkuo> @kow3ns <https://github.com/kow3ns> We had
discussed promoting tolerate-unready-endpoints since we need it for
StatefulSet and no one has come up with anything better. We should make a
decision and include it in o

[2017-07-07 05:16] rushabh268 commented on #47695
Can you please explain how can I do that? I am new to Kubernetes so not sure how to do that.

[2017-07-07 05:23] praving55 commented on #43800
I am seeing the same thing on 1.7 as well.

[code]

[2017-07-07 06:12] hogepodge commented on #47966
@dims I don't think I have enough privileges to reopen. It's probably best to create a new issue and reference this one.

[2017-07-07 06:29] bcorijn commented on #45626
I also still see/saw this on Kube 1.6.6 created with kops 1.6.2. I had it quite often (at least every other day) ever since I rolled to 1.6.6, but since last week it seemingly has calmed down, without any intervention..

[2017-07-07 06:34] xingzhou commented on #48361
So now, I think only `env` is in the option list of `kubectl run`. Considering this is related to ticket #26299, @bgrant0607, not sure if we can propose a new option `envFrom` for `kubectl run`. As for now, `envFrom` supports two kinds of sources: configmap and secrets, so the new option would play like:
`kubectl run nginx --image=nginx --envFrom='ConfigMapRef=abc' --envFrom='SecretRef=def'`
Do yo

[2017-07-07 06:44] davidopp commented on #48041
@thockin suggested that one approach is to add a new non-namespaced kind (call it Taint), and have NodeSpec point to it rather than inlining the Taint in the NodeSpec as we do today. The name of the Taint object would be something like `<key>_<value>` (it probably wouldn't need to have any actual contents). RBAC would be used to give create/update/delete permission to whomever you want to allow to

[2017-07-07 06:46] yuvipanda commented on #34366
Would this land for 1.7 on GKE?

[2017-07-07 06:49] cblecker commented on #48579
I'm not sure this is a bug. In the first configuration yaml, you're defining the ports array twice. I'm the second, you're only defining it once. The ports array should only be defined once.

[2017-07-07 07:04] jingxu97 commented on #24687
@kwiesmueller The docker file is https://github.com/kubernetes/kubernetes/blob/master/test/images/volumes-tester/nfs/Dockerfile

[2017-07-07 07:07] jingxu97 commented on #24687
@erik777 You mentioned PVC never matches PV. Do you know the reason for it?

I am not sure I understand your second question. Could you please give me more details? Thanks!

[2017-07-07 07:28] luxas commented on #47695
@rushabh268 Let's debug that on Slack instead... It's unrelated to this issue AFAICS

[2017-07-07 07:36] xiangpengzhao commented on #48579
@cblecker Did you mean the below yaml by `the first configuration yaml`?
[code]

Please note that the two ports have same port number but different protocols. This is allowed.

[2017-07-07 07:36] helinbo2015 opened #48585 "Exec `docker restart pause container`, kubelet can not detect this change of pause container."
**What happened**:
After exec `docker restart pause_container_id`, then exec `docker exec -ti linked_container_id`,  i got the following error.
[code]

**What you expected to happen**:
the above the error message mybe is expected for linked container used the IPC and Network namspace is broken. but wait for over 10mins,  kubelet can not detect this error and restart all of continers in this pod.

[2017-07-07 07:37] xiangpengzhao commented on #48585
/sig node

[2017-07-07 07:39] xiangpengzhao commented on #48561
/sig api-machinery

[2017-07-07 08:01] IanLewis opened #48586 "[Mac OS/docker-machine] Could not connect to rsync container. See build/README.md for setting up remote Docker engine."
I get the following error when trying to build the current master branch on a Mac. From the timestamps you can see that it takes about 25min of "Syncing sources to container" before the error shows up.

[code]

Docker machine is installed and seems to work well.

[code]

I even upped the memory of the VM to 5GB to no avail.

After I get the above error I can see that the rsync container is still r

[2017-07-07 08:02] fgrzadkowski commented on #48071
@gmarek why not? For GCE we explicitly define the name in our configuration.

[2017-07-07 08:03] fgrzadkowski commented on #48071
Just to be clear - I know it'd be a hack, but I think it'd work :)

[2017-07-07 08:04] IanLewis commented on #48586
@kubernetes/sig-contributor-experience-misc

[2017-07-07 08:12] gyliu513 opened #48588 "Should not support HPA for DaemonSet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig apps

**What happened**:
I can create a HPA policy for DaemonSet, this is not right as the DaemonSet do not have `replicas` and the HPA should validate this when create the HPA policy.

**What you expected to happen**:
The HPA should have some validation to make sure we cannot create HPA policy for DaemonSet.

**How to reproduce it (as

[2017-07-07 08:16] fogongzi opened #48590 "kube-control-manager hanged by "attempting to acquire leader lease..." /sig controller-manager /sig bug"
/area [controller-manager]
/kind [bug]
**Is this a BUG REPORT or FEATURE REQUEST?:**

/kind bug
/area controller-manager

I install kubernetes 1.7 on ubuntu 17.04. The master includes three nodes and owns high availability by etcd election. Only a node (10.71.156.238) with kube-control-manager looks good. The other two nodes(10.71.156.176,10.71.156.170) with kube-control-manager is always hangin w

[2017-07-07 08:21] gyliu513 opened #48591 "Cannot autoscale StatefulSet via kubectl"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig cli

**What happened**:

I can create HPA policy for StatefulSet but cannot scale the StatefulSet via kubectl.

[code]
**What you expected to happen**:

I should be able to scale the StatefulSet via kubectl.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubern

[2017-07-07 08:25] lnquy commented on #44662
@csarora: I got exactly the same error when running `minikube` k8s under a proxy.
I tried to use `curl` to connect to the `kubectl` API server and got `curl: (56) Received HTTP code 504 from proxy after CONNECT`.
The problem is I already set the `env no_proxy` for the minikube network which can be access normally by using browsers but some how the request from `curl` still went to the proxy first

[2017-07-07 08:36] unixwitch commented on #48483
@dashpole The problem is that in 1.6 and earlier, port 10255 returned cAdvisor container metrics.  The fact it no longer does is an incompatible change which has broken Prometheus, which uses this port to scrape from: https://github.com/prometheus/prometheus/blob/release-1.7/discovery/kubernetes/node.go#L156

If this was intentionally changed, shouldn't there have been an entry in the release note

[2017-07-07 08:57] ebbeelsborg commented on #36031
@timstclair I gave that approach a try with the following strategy:
1. Add the two new types.
2. Change the return type of TranslatePodUID to ResolvedPodUID and make consequential changes.
3. Take MirrorPodUID into use.
4. Possibly use the new types in places where the comments or code already suggests it.

I've pushed steps 1 and 2 to feature branch 36031 in my [fork](https://github.com/blackwood

[2017-07-07 09:07] georgebuckerfield commented on #48591
It looks like this isn't supported yet?
https://kubernetes.io/docs/user-guide/kubectl/v1.6/#autoscale

Related https://github.com/kubernetes/kubernetes/issues/44033

[2017-07-07 09:39] nikhita opened #48593 "hack/godep-save.sh pulls down docker/docker/project dir"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I am trying to update the vendor directory by following the instructions here: https://github.com/kubernetes/community/blob/master/contributors/devel/godep.md.

When I run `./hack/godep-save.sh`, an extra directory is pulled:

[code]

This directory contains a `CONTRIBUTORS.md` which contains a symlink -  `../CONTRIBUTIN

[2017-07-07 09:40] nikhita commented on #48593
cc @cblecker @sttts

[2017-07-07 10:08] sokoow opened #48596 "skydns/kube2sky replication controller doesn't bind volumes and starts only one container out of two"
/kind bug
/sig api-machinery
@kubernetes/sig-api-machinery-*

**What happened**:
When trying to mount hostPath to skydns/kube2sky replication controller, it's not being mounted at all. Also, when volume/volumeMount sections of yaml are added to kube2sky, 2nd container in replication controller which is skydns never starts.

**What you expected to happen**:
I should be able to add hostPath volume t

[2017-07-07 10:15] dims commented on #47966
Ah. thanks @hogepodge

[2017-07-07 10:15] sokoow commented on #48596
/sig api

[2017-07-07 10:16] dims commented on #47966
/assign

[2017-07-07 10:16] dims commented on #47966
/reopen

[2017-07-07 10:16] dims commented on #47966
Looks like the bot commands worked! @hogepodge (https://github.com/kubernetes/test-infra/blob/master/commands.md)

[2017-07-07 10:36] sttts commented on #48593
For the record (compare the links above): this was seen before, but seems to be not easily reproducible. I tried on Mac and didn't see this.

[2017-07-07 10:46] dixudx commented on #48069
@crimsonfaith91 @tadas-subonis Actually the container's environment are created in the order variables are declared. So the front env vars may not get interpolated with appended/new env vars.

The bug I am saying is,

This bug did exist not exclusively on v1.6.4 and v1.6.5. But it got fixed on v1.7.0.

[2017-07-07 10:52] gyliu513 commented on #48591
It's weird, the document already claim support https://kubernetes.io/docs/tasks/run-application/scale-stateful-set/

[2017-07-07 10:57] georgebuckerfield commented on #48591
AFAIK, scaling is a separate thing to autoscaling. You should be able to do:
[code]
But not:
[code]

[2017-07-07 11:09] gyliu513 commented on #48591
Ah, I see, thanks @georgebuckerfield

[2017-07-07 11:37] r0bj opened #48600 "kube-proxy 1.7.0: health check server bind to 127.0.0.1 despite set 0.0.0.0 via --healthz-bind-address"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kube-proxy DaemonSet:
[code]

Note option `--healthz-bind-address=0.0.0.0`

Despite option `--healthz-bind-address=0.0.0.0` kube-proxy bind port 10249 to `127.0.0.1`:

[code]

Note:
[code]

**What you expected to happen**:

kube-proxy should bind port 10249 (health check server) to 0.0.0.0.

**Environment**:
- Kubernetes

[2017-07-07 11:54] deads2k commented on #48564
So boiling down that paste, I saw two concrete suggestions:

 1. create interfaces to abstract the differences between versions and use them. -  This actually works reasonably well for commands that do get, mutation, put (we did it openshift for one set of types).  That means it works for something like the node management commands.  It would not work as well for commands that create requests: `ca

[2017-07-07 11:54] gm42 commented on #19953
Please re-open, this is still happening with v1.6.4

[2017-07-07 11:56] mclarke47 opened #48602 "kubectl get events sorting by timestamps throwing unknown type error"
/kind bug
[code]
Seems to happen for both timestamps
[code]
[code]
Downgrading to kubectl 1.6.6 seems to fix it

[2017-07-07 11:59] gmarek commented on #48071
Only for clusters created by kube-up and/or using the same naming scheme.

[2017-07-07 12:11] improbable-yifan opened #48603 "apiserver request timeouts causing healthy node to be removed from LB's target pool"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

One of our etcd node had some networking issues that caused all writes to that node to time out for a minute or so.

[code]

We see a bunch of extremely long node status update requests on the k8s API server that talks to the broken etcd node.

[code]

A lot of kubelet workers had issues updating their node status when t

[2017-07-07 12:15] improbable-yifan commented on #48603
@kubernetes/sig-api-machinery-*

[2017-07-07 12:22] improbable-yifan commented on #48603
@kubernetes/sig-api-machinery-

[2017-07-07 12:35] fgrzadkowski commented on #48071
Correct, but I think these are the clusters we need to fix, right?

--
Filip

On Fri, Jul 7, 2017 at 2:00 PM, Marek Grabowski <notifications@github.com>
wrote:

[2017-07-07 12:37] #40452 closed

[2017-07-07 12:40] #48420 closed

[2017-07-07 12:52] justinsb commented on #45956
cc @kubernetes/sig-cli-bugs

[2017-07-07 13:02] smarterclayton commented on #48483
This does seem like a regression in behavior.

[2017-07-07 13:03] cblecker commented on #48579
Yes, that's the one I meant. But note you have "ports:" twice.

[2017-07-07 13:13] crassirostris opened #48606 "Bug in Stackdriver Logging soak test"
Pods should be run in parallel with checking the logs from the backend to fit into the timeout.

[2017-07-07 13:21] delfer commented on #43389
ca.crt bug can be fixed with
``
echo '      ca_cert_bundle_path: "/srv/kubernetes/ca.crt"' >> cluster/openstack-heat/kubernetes-heat/fragments/configure-salt.yaml
``
But after appears:

Conclusion:
- magnum not working...
- kube_up not working...

[2017-07-07 13:57] gmarek commented on #48071
For tests yes, this is a fine hack. The problem is that it won't work on production setups on GCE. Maybe that's fine, I don't know.

[2017-07-07 14:01] whitecolor commented on #30606
So is it possible to force particular policy on created PV via PVC configuration?

[2017-07-07 14:35] fabianofranz commented on #41353
/sig cli

[2017-07-07 14:49] whitecolor opened #48609 "Reuse existing Persistent Volume (GCE)"
I trying to reuse persistent volume on GCE (kubernetes 1.6.4) for new Deployment (via PVC):

- Created PVC (using heml releases),
- PV was provisioned
- Manually changed PV reclaim policy to `Retain` from `Delete`
- Delete helm release - it deletes PVC, but due to policy change PV stays (status `Released`)
- Deploy new release with `PVC.spec.volumeName` set to existing PV name
- Deployment fail to

[2017-07-07 14:53] xiangpengzhao commented on #48579
Ah, thanks for pointing it out! This might be the cause. But I remembered I also tested the case without the second `ports` line, it had the same issue. I can't verify this now. Will test it when I'm back to my keyboard.

[2017-07-07 14:55] improbable-yifan commented on #48603
/sig api-machinery

[2017-07-07 15:02] DirectXMan12 commented on #48388
I'll take a look

[2017-07-07 15:06] sokoow commented on #48596
It helped when I split the manifest into two replication controllers:

[code]

and

[code]

[2017-07-07 15:10] fgrzadkowski commented on #48071
Why it wouldn't work in production on GCE? I think we are still deploying
on GCE using kube-up.sh, right?

--
Filip

On Fri, Jul 7, 2017 at 3:58 PM, Marek Grabowski <notifications@github.com>
wrote:

[2017-07-07 15:17] crassirostris commented on #48071
@fgrzadkowski Well, there's kopf, there're clusters deployed manually

What about adding a `kubernetes.io/ismaster=true` label to the master and `kubernetes.io/ismaster=false` to the nodes together with the fluentd change? It doesn't seem breaking something, 'tis just a label

[2017-07-07 15:19] xiangpengzhao commented on #48609
/sig storage

[2017-07-07 15:20] xiangpengzhao commented on #48602
/sig cli

[2017-07-07 15:21] spzala commented on #7585
@vmarmol hi, just a gentle touch base since it's been two years of this issue was last discussed. Do we still want to keep it open or can we please close it? Thanks!

[2017-07-07 15:21] smarterclayton opened #48610 "Overloaded API servers (sending 429) never cause clients to rebalance"
When running API servers behind proxies, most of our clients (anything depending on rest client) is very good at not dropping connections.  However, this means that in the event one of the backing API servers is rate limited, the API server *stays* rate limited because clients never rebalance.

![graph](https://www.dropbox.com/s/pdmkchoaya4wn6v/Screenshot%202017-07-06%2017.52.44.png?raw=1)

The gr

[2017-07-07 15:23] fgrzadkowski commented on #48071
That's true, but we don't control how they manage/deploy add-ons and we
don't plan to change resources there.

--
Filip

On Fri, Jul 7, 2017 at 5:17 PM, Mik Vyatskov <notifications@github.com>
wrote:

[2017-07-07 15:41] whitecolor commented on #48609
Seems to work if to remove `ClaimRef` from PV, then is becomes `Available`, and is bound to with new PVC with `volumeName` set.

I would like to confirm if this is a valid method and doesn't break any rules.

Also there is a question of the validity of PV  reclaim policy change for this case to `Retain`, is it this a valid method to keep it from deletion?

[2017-07-07 15:48] smarterclayton commented on #48368
@kubernetes/sig-federation-bugs @kubernetes/sig-testing-bugs

This is flaking quite a lot, can we get some eyes on it?

[2017-07-07 15:50] shyamjvs commented on #48610
fyi we have issue https://github.com/kubernetes/client-go/issues/222 for this.
Observed it during 5k-node scale tests.

[2017-07-07 15:50] smarterclayton commented on #48610
I think we should do both.  222 won't fix non-kubernetes clients.

[2017-07-07 15:51] nikhita commented on #48593
So `vendor/github.com/docker/docker/project/` should actually contain `CONTRIBUTING.md` (not `CONTRIBUTORS.md` due to the change at https://github.com/moby/moby/pull/31847 but surprisingly the change is not reflected?

I even ran `./hack/godep-restore.sh` before godep-save..

[2017-07-07 15:53] thockin commented on #46442
I stand by my (roughly stated above) litmus test.

If a stop/restart cycle can be described as "a really slow reboot" (ie. local disk state (eg. emptyDirs - irreplaceable), probably remote disk attachedness, (maybe) IP address + secondary static routes, etc. are preserved) then the Node object should probably persist.  Perhaps more concretely: if a Pod existed on the Node at the time it was stoppe

[2017-07-07 15:58] erik777 commented on #24687
@jinkxu97 I could not figure out the reason. It does not produce an error.  Is there a way to diagnose the matching logic of PVCs on GKE?

As for second question, how is prioritization of new features determined, or is this a free for all open source project.  Being from Google, and undoubtedly maintained in part by Google and other large IT companies using it, was wondering how discussion around

[2017-07-07 16:18] sttts commented on #48593
Isn't our 1.11.2 version too old?

[2017-07-07 16:18] thockin commented on #36120
So I am convinced json-iterator works well for round-tripping object ->
JSON -> object.  I am not yet convinced it handles all sorts of JSON input
in sane ways.  Could use help designing tests for that or convincing
ourselves their tests are good enough.

On Mon, Jul 3, 2017 at 11:52 PM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2017-07-07 16:20] nikhita commented on #48593
Thought so too. But it doesn't tell us why it's not reproduce-able every time then.

[2017-07-07 16:21] mtanino commented on #48609
When I removed entire ClaimRef entry from released PV, I could succeed to reuse existing PV to new PVC.

[code]

[2017-07-07 16:33] whitecolor commented on #48609
Yes, now it is working for me too after I delete pod (kicked Deployment). Just need to ensure that it will be stable.

So I would like to confirm if this is a valid method and doesn't break any rules.

Also, there is a question of the validity of PV  reclaim policy change for this case to `Retain`, is it this a valid method to keep it from deletion?

[2017-07-07 16:33] mtanino commented on #48609
But if I didn't remove entire ClaimRef entry like below, the PV status was changed to Available but it couldn't be reused. This seems like a bug.
And I'm not sure what change is applied via dashboard UI.

[code]

[2017-07-07 16:33] cmluciano commented on #48600
@kubernetes/sig-network-misc

[2017-07-07 16:35] mtanino commented on #48609
@gnufied @jsafrane @rootfs

[2017-07-07 16:39] thockin commented on #47992
On Mon, Jun 26, 2017 at 4:10 AM, Dennis Docter <notifications@github.com> wrote:

This is true - log into a pod and run `hostname`

[code]

We then run into the issue of overlapping hostnames, which has an open
PR under consideration.

So the proposal here is, if I understand

[code]

I am less comfortable using hostname if subdomain doesn't match.
Hostname was only specified to be unique within a

[2017-07-07 16:43] bamb00 commented on #48520
@crassirostris Kubelet does not write this event...Is this by design, known issue, future feature? Also, where is the kubelet log path and can fluentd collect the log from kubelet?

Thanks.

[2017-07-07 16:46] cmluciano commented on #46103
/close

fix in https://github.com/kubernetes/kubernetes/pull/46372

[2017-07-07 16:46] #46103 closed

[2017-07-07 16:47] cblecker commented on #48593
Yeah, so the issue here is that godep doesn't do a full copy of the repo into vendor.. it only copies *.go files, and any legal/licencing files. `CONTRIBUTORS` is considered a licence file, while "CONTRIBUTING" is not. So in this case, the symlink is copied, but the destination file is not.

This has been fixed at head (in the PR you point out), but we can't go back in time and change the 1.11.2 t

[2017-07-07 16:52] alexandercampbell commented on #48368
fwiw, I ran the test with the race detector locally 10-15 times and could not reproduce the issue.

[code]

[2017-07-07 16:53] smarterclayton commented on #48610
Added a fix in #48616 for server side

[2017-07-07 17:02] MrHohn commented on #48600
Sorry for the confusion, I forgot to update the release note in #44968.

In v1.7, kube-proxy's healthz server will serve on [port 10256](https://github.com/kubernetes/kubernetes/blob/v1.7.0/pkg/master/ports/ports.go#L41-L43) instead, setting flag `healthz-bind-address` should affect this port. Meanwhile, [port 10249](https://github.com/kubernetes/kubernetes/blob/v1.7.0/pkg/master/ports/ports.go#L2

[2017-07-07 17:02] cblecker commented on #48593
Wholeheartedly agree on last point, @sttts 👍 : https://github.com/kubernetes/kubernetes/issues/44873

[2017-07-07 17:04] andrey01 opened #48617 "kubeadm's os.Hostname() isn't getting the FQDN the expected way? (causes a fail to join a node in 1.7.0 when hostnameOverride is used)"
An interesting issue occurred to me this week, the (v1.7.0) kubeadm init cannot register itself:

[code]
we are setting the ``KUBELET_EXTRA_ARGS=--hostname-override=kitchen-k8s-minion.novalocal`` in ``/etc/systemd/system/kubelet.service.d/20-extra-args.conf``

Checking the hostname:

[code]

Interestingly, mesos does ``hostname -f`` to get the FQDN as seen in https://github.com/kubernetes/kubernet

[2017-07-07 17:06] andrey01 commented on #48617
/sig area/kubeadm

[2017-07-07 17:07] andrey01 commented on #48617
/sig kubeadm

[2017-07-07 17:09] andrey01 commented on #48617
/sig area/kubeadm

[2017-07-07 17:10] andrey01 commented on #48617
/sig cluster-lifecycle

[2017-07-07 17:13] sttts commented on #48593
This might be fixed with https://github.com/kubernetes/kubernetes/pull/48615. @nikhita can you try again without the apimachinery dir in the GOPATH? I tried with godep-save and didn't see the project/ anymore. But I also had no change in gengo I think.

[2017-07-07 17:14] nikhita commented on #48593
@nikhita On it now. :+1:

[2017-07-07 17:20] cblecker commented on #48586
possibly related to https://github.com/kubernetes/kubernetes/issues/48478

Bug with Docker 17.06.0-ce. Will be fixed in Docker 17.06.1-ce, or you could roll back to Docker 17.03

[2017-07-07 17:28] bowei commented on #48600
/assign @MrHohn

please close when the docs are updated

[2017-07-07 17:39] erik777 commented on #37705
What is the impact of not being able to change the PVC size while it is bound in this scenario:

I changed PV size via GKE web.
I ran resize2fs.

But, I cannot change the PVC capacity.  Do I need to be concerned about the node restarting?

I'd feel relieved if you could just kubectl edit the capacity, because then I wouldn't have to worry about potential unknown impact later.  Can we get that basi

[2017-07-07 17:41] brmakana commented on #44103
Has anyone else had a look at this? How are folks normally targeting services to statefulset pods right now?

[2017-07-07 17:46] marun commented on #48368
This test duplicates e2e coverage, and I'm going to propose its removal.

[2017-07-07 17:48] anisimovsergey opened #48620 "The latest Elasticsearch and Kibana images are missing in gcr.io"
/kind bug

Elasticsearch and Kibana images, used in fluentd-elasticsearch addon, were updated to newer versions (5.4.0) in CL [b23b919](https://github.com/kubernetes/kubernetes/commit/b23b919b05c84cef84473ff938e33438da33bca0)

I expect that I should be able to fetch corresponding Docker images using
**gcr.io/google_containers/elasticsearch:v5.4.0-1** and **gcr.io/google_containers/kibana:v5.4.0**

[2017-07-07 18:02] snowball77 commented on #43389
I got this one also after fixing the ca.crt issue (any more issues more afterwards). You can fix this one by removing the webauth part from the kubelet if it is on the master node. You need to patch this in default in the kubelet folder in saltbase. Alternatively, you may want to include the master node in the cluster, in this case you have to add an --api-server to the master kubelet.

After reso

[2017-07-07 18:06] timstclair commented on #36031
@ebbeelsborg Sounds good. Can you open a pull request with your changes? It's ok if you're still working on it, just put `[WIP]` (work in progress) in the title, to indicate it's not ready for a full review. Thanks!

[2017-07-07 18:07] spil-dennis commented on #47992
Something along those lines, however i'd keep the current validation like:

[code]

Since that's what the spec is currently, it makes sense not to change that. That being said, if you fall back to the pod name, that one is guaranteed to be unique within the namespace and the namespace, which is also part of the DNS name, where as for the hostname, there are no restrictions at all afaik.

For singl

[2017-07-07 18:17] #30921 closed

[2017-07-07 18:18] dcbw opened #48623 "pull-kubernetes-federation-e2e-gce: error during ./federation/cluster/federation-up.sh: exit status 1"
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/48613/pull-kubernetes-federation-e2e-gce/13405/build-log.txt

Pretty hard to figure out what's going wrong because there are no artifacts, despite the build log saying it fetched some.

[2017-07-07 18:25] cblecker commented on #48620
/area logging
/sig instrumentation
cc: @coffeepac @crassirostris @piosz

[2017-07-07 18:27] crimsonfaith91 commented on #48069
@dixudx Thanks for the detailed explanation! :)

[2017-07-07 18:27] kvc-code commented on #42306
Any activity towards resolving this? I'm having the same issue on GKE under Kubernetes 1.6.6

[2017-07-07 18:29] mtaufen commented on #18554
Refactoring the KubeletConfiguration API object is one of my OKRs for this quarter. This doesn't directly impact the internal runtime Kubelet object, because the data from KubeletConfiguration gets forwarded to the Kubelet object. But it will probably make it easier to refactor the Kubelet object in the future.

[2017-07-07 18:31] verult opened #48626 "Automated FlexVolume setup on COS images."
Today there are many obstacles preventing users from setting up FlexVolume on a GCE COS image easily. The default FlexVolume driver directory is not writable. Custom mount utilities can't be installed. Solutions exist for these problems but they are time-consuming to execute manually. On top of these, there are also the common FlexVolume pain points such as manual driver and mount utilities instal

[2017-07-07 18:31] verult commented on #48626
/sig storage

[2017-07-07 18:31] verult commented on #48626
/assign @verult

[2017-07-07 18:32] ravisantoshgudimetla commented on #44944
@davidopp

So, the way I want to do it - I will update both unSchedulable field and NoSchedule taint for cordon and uncordon with a comment mentioning that unSchedulable will be eventually deprecated. Would it cause any problem, looking at the code, it seems drain is mostly a client side functionality(no code in server for it), so we should be good.

Its not an edge-case as such but I am thinking

[2017-07-07 18:33] ravisantoshgudimetla commented on #44944
/sig cli

[2017-07-07 18:33] spzala commented on #18554
@mtaufen thanks!

[2017-07-07 18:40] dchen1107 commented on #48483
@luxas is this caused by your change on cAdvisor availability: https://github.com/kubernetes/release/pull/356

[2017-07-07 18:48] DirectXMan12 commented on #48388
@smarterclayton I cannot seem to reproduce this.  I've attempted with Kubernetes v1.6.2, as well as openshift/origin@83efc339e7c9939d56e481a77b51320ae14d4155.

I've attempted creating the job both by `kubectl create -f`-ing the given YAML (I had to unset the label selectors here) and by converting the YAML to JSON and directly injecting it into etcd.

Once created, I attempted to get the object us

[2017-07-07 19:02] gaballard opened #48628 ""No kind is registered for the type runtime.Unknown" error when creating RBAC resources on 1.6.6"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I create a List resource containing ClusterRole or ClusterRoleBinding resources. I try to create or apply the List to my Google Container Engine-hosted K8S v1.6.6 cluster. The cluster has RBAC enabled. All attempts produce the following error:

`error: unable to get type info from the object "*runtime.Unknown": no kind i

[2017-07-07 19:04] gaballard commented on #48628
/sig rbac
/sig resources

[2017-07-07 19:08] luxas commented on #48483
@dchen1107 No, definitely not. That was disabling the public cAdvisor port for kubeadm setups only.

It's reported that custom scripts were used and this happened even though cAdvisor was accessible publicly.

[2017-07-07 19:09] luxas commented on #48483
This seems very kubelet-internal. Also notice the error log message attached above

[2017-07-07 19:17] gaballard opened #48629 ""no kind ClusterRole is registered for version rbac.authorization.k8s.io/v1beta1" when creating RBAC resources on K8S 1.6.6"
Is this a BUG REPORT or FEATURE REQUEST?:

/kind bug

What happened:

I create a ClusterRole resource. I try to apply the ClusterRole to my Google Container Engine-hosted K8S v1.6.6 cluster. The cluster has RBAC enabled. All attempts produce the following error:

`error: unable to decode "[filename].yaml": no kind "ClusterRole" is registered for version "rbac.authorization.k8s.io/v1beta1"`

Extrem

[2017-07-07 19:17] gaballard commented on #48629
/sig rbac
/sig resources

[2017-07-07 19:22] unixwitch commented on #48483
I wasn't aware of kubernetes/release#356, but if I understand it right, this means a cluster installed by kubeadm has no way to access cAdvisor metrics from Prometheus at all (without manual configuration by the administrator): they are no longer exposed by Kubelet, and they can't be retrieved from cAdvisor directly because its HTTP server is disabled.

It seems to me that disabling cAdvisor by de

[2017-07-07 19:27] kachkaev commented on #47142
@ssubramanian123 were you able to overcome the issue in the end? Looks like I've got the same thing in a single-node kubadm-flavoured k8s 1.7.

[2017-07-07 19:30] bowei commented on #47142
@ssubramanian123 -- if AWS has DNS QPS limits, running the lookup in a loop will cause the QPS limit to be hit. Can you measure the outgoing DNS QPS to make sure that you are not triggering that issue?

[2017-07-07 19:31] unixwitch commented on #48483
(As an aside, I was planning to disable cAdvisor with `--cadvisor-port=0` in our clusters to avoid exposing unauthenticated metrics, but I had to revert that for 1.7.0 because of this change; so even though we don't use kubeadm, this is still a functionality regression for us, even if we can work around it.)

[2017-07-07 19:41] enisoc commented on #48152
We need at least one PR with `release-note-action-required`. I put it on #48353 since that was the first step. I also added a link to the migration guide in the release note.

[2017-07-07 19:49] lavalamp commented on #48564
kubectl long had a problem where it round-tripped through internal types, which caused it to inappropriately apply defaulting etc. We mostly fixed that a few releases ago.

My own roadmap for kubectl involves all custom command implementations moving to the server, where they will be available for other clients as well. With that in mind, I have a 4th option to consider in addition to @deads2k's t

[2017-07-07 19:58] fiatala commented on #20466
Apologies for commenting on the dead thread, but I wanted to ask here before creating a new issue/request. Is there any way for the subPath to be dynamic per pod? I know it's a string and not a mapping, but supporting the downward API variables would provide a good way to share storage and avoid collisions.
Centralized log storage is one use case.
If there's another way to do something like this,

[2017-07-07 20:03] csbell commented on #48623
Test cluster is back up now. http://prow.k8s.io/?type=presubmit&job=pull-kubernetes-federation-e2e-gce shows resumed passing tests.
/close

[2017-07-07 20:03] csbell commented on #48623
/close

[2017-07-07 20:03] #48623 closed

[2017-07-07 20:11] ravisantoshgudimetla commented on #47604
@bsalamat I see that you raised PR's for Add pod priority, https://github.com/kubernetes/kubernetes/pull/48377 - Can you please create individual issues against each task, so that it becomes clear. I want to work on some items and it will be helpful to have individual issues with clear description. Also, with these issues, they can be assigned to individuals. WDYT?

[2017-07-07 20:12] ravisantoshgudimetla commented on #47604
/cc @derekwaynecarr

[2017-07-07 20:17] nikhita commented on #48593
just for the record, #48615 does not prevent `vendor/github.com/docker/docker/project/` - but it does help in vendoring gengo. :)

[2017-07-07 20:21] joshperry commented on #34982
Wow, @dankirkpatrickmp2. Thank you much, we flubbed that one alright.

[2017-07-07 20:27] luxas commented on #48483
I'm still pretty sure cAdvisor is running just fine and pretty much everything still works although you disable the cAdvisor _public port_. cAdvisor is run inside of the kubelet and still accessible at `<node-ip>:10250/stats/` IIRC. That endpoint shows you everything cAdvisor would have show in an unauthenticated manner.

However, in order to be focused, I think that that is unrelated to the issue

[2017-07-07 20:28] smarterclayton commented on #32026
Unifying the proxy in https://github.com/kubernetes/kubernetes/pull/48631

[2017-07-07 20:29] spadgett opened #48632 "Typo in pod evicted status message"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The `pod.status.message` for evicted pods has a typo (extra "Pod" before the sentence).

[code]

**How to reproduce it (as minimally and precisely as possible)**:

Enable `evication-hard` in the node config `kubeletArguments` with a large memory available value to force a pod to be evicted. Check the pod YAML for the sta

[2017-07-07 20:32] deads2k commented on #48152
Makes sense.  I put the release-note on that one, but forgot about the extra "action required" bit.

[2017-07-07 20:32] apelisse commented on #48163
I don't think I'm really opposed to letting people do `/approve no-issue`. Everytime we've opened the door to let people do more, it's only been positive, and the expected bad behaviors that we had initially expected never occurred.

I vote we let anyone do `/approve no-issue`.

cc @dchen1107 @grodrigues3 @pwittrock

[2017-07-07 20:32] smarterclayton opened #48633 "kubectl should use websockets for exec, port forward, logs, and attach"
SPDY is dead (https://github.com/kubernetes/kubernetes/issues/7452).  WebSockets is at least better supported.  We can tunnel most things over web sockets and it is better supported than SPDY.  We should switch kubectl to only use web sockets, and fix the various issues.  I'd like to deprecate SPDY in 1.8 and potentially remove in 1.9, given that there are almost no integrations leveraging SPDY ou

[2017-07-07 20:32] smarterclayton commented on #7452
Tracking #48633 to move kubectl to web sockets.

[2017-07-07 20:33] lavalamp commented on #48521
This seems to be responsible for the bloodbath here: http://k8s-testgrid.appspot.com/google-gke#gke&width=20

Since this has been broken for a while we're just going to roll forward-- Nick already has a PR out.

[2017-07-07 20:33] unixwitch commented on #48483
But this outputs JSON, which Prometheus doesn't understand.  There is no way to collect the metrics in Prometheus format any more, at least in kubeadm's default configuration.

Well, the two changes are unrelated, yes.  But the combination of both together is quite unfortunate for Prometheus users as both existing sources of Prometheus-format cAdvisor metrics have been disabled at the same time.

[2017-07-07 20:36] spiffxp opened #48634 "Create integration testing framework"
/assign Q-Lee
/sig testing
/kind feature

Created as a result of sig-testing v1.8 / 2017 planning.  Accidentally created originally as kubernetes/test-infra#3372

@fejta @Q-Lee can you provide some context here?  I'm assuming this is about creating a `test/integration/framework` package that is similar to `test/e2e/framework`, presumably with the idea that making it easier to write integration tes

[2017-07-07 20:50] janetkuo commented on #44407
This is fixed

[2017-07-07 20:55] janetkuo commented on #37597
This is fixed

[2017-07-07 20:55] #37597 closed

[2017-07-07 21:04] janetkuo commented on #22512
This is already covered by deployment unit tests

[2017-07-07 21:04] #22512 closed

[2017-07-07 21:06] derekwaynecarr opened #48638 "kubelet fails to heartbeat with API server with stuck TCP connections"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
operator is running an HA master setup with a LB in front.  kubelet attempts to update node status, but `tryUpdateNodeStatus` wedges.  based on the goroutine dump, the wedge happens when it attempts to GET the latest state of the node from the master.  operator observed 15 minute intervals between attempts to update node s

[2017-07-07 21:06] derekwaynecarr commented on #48638
/cc @kubernetes/sig-node-bugs @sjenning @vishh

[2017-07-07 21:10] janetkuo commented on #48385
@nils2504 Were you able to reproduce this consistently? Would you also include the config of the pods that don't get deleted in the bug as well? Get it from `kubectl get pod xxx -o yaml`. I just need to see one example.

[2017-07-07 21:14] vishh commented on #48638
cc @wojtek-t @gmarek

[2017-07-07 21:15] caesarxuchao commented on #48209
Same question on where should the k8s-dependent util go, e.g., k8s.io/kubernetes/pkg/api/v1/helper?

We don't want to move them to k8s.io/api, as we want to keep the repo to be only about the schema.

Creating another repo to host them seems to be overly complicated. Each new repo adds complexity to the dependency chain and slows down development.

[2017-07-07 21:15] janetkuo commented on #46932
@krmayankk No, hash is required for generating idempotent ReplicaSet names and unique labels

[2017-07-07 21:17] crimsonfaith91 commented on #43324
/cc

[2017-07-07 21:20] #46827 closed

[2017-07-07 21:23] derekwaynecarr commented on #48638
we have to setup some timeout, but i am worried about the potential impact on any watch code.

[2017-07-07 21:23] ixdy commented on #39590
/assign

Somehow this slipped by without getting triaged earlier.
@chrislovecnm is this still an issue?

[2017-07-07 21:24] while1eq1 commented on #28226
Any word on this?

[2017-07-07 21:25] derekwaynecarr commented on #48638
note: this is different than the Dial timeout (which we do appear to have default).

[2017-07-07 21:26] xiangpengzhao commented on #48638
I remember @jayunit100 has a related PR but I don't know if it has been merged finally.

[2017-07-07 21:29] mtanino opened #48639 "FC volume plugin should support World Wide Identifier (WWID) parameter as an unique volume identifier"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

/kind bug
/kind feature

**What happened**:

Currently FC volume plugin supports two parameters "targetWWNs" and "lun" to specify volume from the /dev/disk/by-path/ directory. However as mentioned on the Red Hat's persistent naming documentation, devices referenced by  by-path might be changed.

This means that volume for Pod A is potentially used

[2017-07-07 21:31] mtanino commented on #48639
/sig storage

[2017-07-07 21:33] derekwaynecarr commented on #48638
need to take a pass at kube-proxy too.  i see no explicit timeout there as well at first glance.

[2017-07-07 21:34] mtanino commented on #48639
cc @msau42 @saad-ali @rootfs @childsb

[2017-07-07 21:48] #48370 closed

[2017-07-07 21:54] smarterclayton commented on #48633
I'll take refactoring exec and port forward to share code and allow web sockets.

[2017-07-07 22:09] enisoc commented on #44407
Do we actually want to stop setting the annotation at some point? If so, we should reopen this until we ensure there is an announcement of the deprecation (i.e. release note) and a tracking issue to actually do the removal, targeted at the proper milestone.

[2017-07-07 22:19] nicksardo commented on #48521
@bowei @lavalamp

On second thought, I believe I'm swapping one issue for another. My PR fixes the network's name, but may be breaking the network's project ID for GKE tests.

**Currently:**
The compute project ID is used as the network project. This is used for generating network and subnetwork URLS.

**PR's Behavior**
With the introduction of shared networks, the cloudprovider should get the net

[2017-07-07 22:30] chrislovecnm commented on #39590
Have not tried in many months so I cannot say for certain. Is OS X Bazel build supported yet?

[2017-07-07 22:37] sudharkrish opened #48643 "kudernetes commands error out dial tcp i/o timeout. kudeadm join command fails."
**What happened**:
After successfully initializing cluster on Master Node, kudeadm join command from slave nodes to Master Node fails.

**What you expected to happen**:
After successfully initializing cluster on Master Node, expected that I can join slave nodes to Master Node.

**How to reproduce it (as minimally and precisely as possible)**:

Using kubernetes version 1.7.0.
Following installation

[2017-07-07 22:39] ixdy commented on #47558
I've moved `kazel` to `repo-infra/kazel`.

Next steps:
1. Make `hack/*-bazel.sh` scripts use `kazel` instead of `gazel`.
2. Make `kazel` run across the entire repo, similar to what `gazelle` will do.
3. Remove go rule functionality from `kazel` (or at least make it configurable)
4. Make `hack/*-bazel.sh` scripts use `gazelle` and `kazel` together.

An open question is how to version `kazel` and `g

[2017-07-07 22:45] joshperry commented on #34982
I've changed my config to use octal 0400 (also tried 256 decimal) and it is now working properly. So perhaps not an upgrade issue, at least for me, from ~1.3.

[2017-07-07 22:46] davidopp commented on #47604
I think this could be broken down into a few separate issues. Here's one possibility. Note that I'm just listing the things that haven't been started yet (IIUC the goal is for people to see what work they could take, so things that are already started probably aren't relevant?)
* implement priority/preemption in pod scheduling logic
* documentation for priority/preemption
* design for adding prior

[2017-07-07 22:51] kachkaev commented on #47142
Very strange. I just tried `ping 8.8.8.8` and `nslookup google.com` inside both

[code]
but none of these commands worked. Can it be an issue of flannel, not DNS?

[2017-07-07 23:02] k8s-merge-robot opened #48645 "pr:pull-kubernetes-e2e-gce-bazel flaked 18 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-bazel
 Flakes in the past week: **18**
 Consistency: **96.20%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Stage | 39 |
| Up | 38 |
| [k8s.io] Cluster level logging using GCL should check that logs from containers are ingested in GCL | 11 |

<details><summary>Rationale for assignments:</summary>

| Assignee or SIG area | Ow

[2017-07-07 23:27] jingxu97 commented on #46442
Related to disk attachedness issue during vm stop/restart cycle.

For GCE PD
when a vm stop/restart, the disk will be automatically detached from the vm. Our attach_detach_controller periodically checks disk attached/detached through cloud provider. If during stop/restart cycle, the node and pods are not deleted from API server, controller will detect disk detached and tries to attach it again to

[2017-07-07 23:31] sudharkrish commented on #48643
@kubernetes/sig-Network-misc

[2017-07-07 23:41] bgrant0607 commented on #4210
@smarterclayton Is this along the lines of what you were thinking?
[code]

[2017-07-07 23:47] bsalamat opened #48646 "Implement priority/preemption in pod scheduling logic"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature request

/kind feature

Tracking issue for implementing priority and preemption in Kubernetes scheduler.

[2017-07-07 23:47] bsalamat commented on #48646
@kubernetes/sig-scheduling-feature-requests

/assign

[2017-07-07 23:50] bsalamat opened #48647 "Write a design doc on adding priority to ResourceQuota"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature Request

/kind feature

@kubernetes/sig-scheduling-feature-requests

[2017-07-07 23:51] bsalamat opened #48648 "Implement adding priority to ResourceQuota"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature request

/kind feature

@kubernetes/sig-scheduling-feature-requests

ref/ #47604

[2017-07-07 23:53] bsalamat opened #48649 "Write user documentation for priority and preemption"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature request

/kind feature

@kubernetes/sig-scheduling-feature-requests

ref/ #47604

[2017-07-07 23:54] bsalamat commented on #48647
ref/ #47604

[2017-07-07 23:54] bsalamat commented on #48646
ref/ #47604

[2017-07-07 23:56] bsalamat opened #48650 "Update ResourceQuota documentation to reflect priority"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature Request

/kind feature

@kubernetes/sig-scheduling-feature-requests

ref/ #47604

[2017-07-07 23:57] bowei commented on #47142
@kachkaev we've had many kube-dns + flannel in the past that have turned out to be flannel config, may want to do a search whether or not this is the case...

[2017-07-07 23:57] bsalamat commented on #47604
Thanks, @davidopp!
I created the issues to track remaining work items.

[2017-07-08 00:45] #35911 closed

[2017-07-08 01:09] ravisantoshgudimetla commented on #47604
Thanks @davidopp and @bsalamat !!

[2017-07-08 02:00] stephenlb commented on #48633
+1 for http/2.

[2017-07-08 02:24] smarterclayton commented on #48633
It's unlikely we'll get there anytime soon, unless someone steps up for the
end to end work.  The near term is about reducing to a single solution
rather than two.

On Jul 7, 2017, at 10:00 PM, Stephen L. Blum <notifications@github.com>
wrote:

+1 for http/2.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/kubernetes/ku

[2017-07-08 03:16] thockin commented on #20466
Open a new issue.  It's not a terrible idea.

On Jul 7, 2017 12:59 PM, "fiatala" <notifications@github.com> wrote:

[2017-07-08 04:05] thockin commented on #34366
Hang tight for GKE announcements :)

On Thu, Jul 6, 2017 at 11:47 PM, Yuvi Panda <notifications@github.com>
wrote:

[2017-07-08 05:18] luxas commented on #48483
So the right thing to do here now is to investigate what made kubelet stop reporting cAdvisor container metrics in its own `/metrics` endpoint _in all cases_.

Hopefully we can patch this and restore the v1.6 behavior.

[2017-07-08 05:28] FengyunPan opened #48654 "Ingress's address has many repeated ip or hostname"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
\# kubectl get ingress -o wide
NAME            HOSTS               ADDRESS                                                 PORTS     AGE
nginx-ingress   www.cluster.local   10.0.0.9,10.0.0.5,10.0.0.8,10.0.0.8,10.0.0.6,10.0.0.6   80, 443   1m

\# kubectl describe ing
Name:			nginx-ingress
Namespace:		default
Address:		10.0.

[2017-07-08 05:50] glennschmidt opened #48656 "Broken symlinks when mounting a subPath of a configMap volume"
/kind bug

When I create any of the data mapping volume types (configMap, secret, projected), I can create an arbitrary directory hierarchy inside the volume using the 'path' option. However, if I try to mount one of these subdirectories (using the 'subPath' mount option) I get a mount that just contains broken symlinks.

This might be an accepted limitation rather than a bug, but if so it should

[2017-07-08 05:52] FengyunPan commented on #48654
/sig api

[2017-07-08 06:06] davidopp opened #48657 ""Simulation" of scheduling behavior needs to work with modified scheduler policies, replacement schedulers, and multiple schedulers"
This issue is forked off from #42002

#20204 moved the core scheduler predicates (the one used in kubelet admission) into a "library" function called GeneralPredicates so it could be shared with the default scheduler and with components that need to do "simulation" (need to know whether a particular pod will schedule) like rescheduler, cluster autoscaler, DaemonSet controller, etc.

This approach

[2017-07-08 06:06] davidopp commented on #42002
I'm not sure where we should go with this. If we rely on DaemonSet controller to manage critical system pods (e.g. run kube-proxy on every node), then the system may break if the cluster admin substitutes a scheduler that doesn't schedule the DaemonSet pods as expected.

I discussed this a little with @timothysc and his perspective (I'll let him elaborate more on it) was that there are many things

[2017-07-08 06:15] dixudx commented on #48632
@spadgett I've tested on v1.6.4. Had been got fixed.

[code]

[code]

[2017-07-08 06:18] xiangpengzhao commented on #48654
/sig cli

[2017-07-08 06:20] xiangpengzhao commented on #48656
/sig storage

[2017-07-08 06:22] Paxa commented on #39494
Having same issue, downloaded minikube and kubectl today
[code]

[code]

[2017-07-08 06:52] xiangpengzhao commented on #48632
/sig node

[2017-07-08 06:53] #48386 closed

[2017-07-08 06:53] #48347 closed

[2017-07-08 06:54] xiangpengzhao commented on #48629
/sig auth

[2017-07-08 06:55] xiangpengzhao commented on #48628
/sig auth

[2017-07-08 09:26] kachkaev commented on #47142
Thanks for the hint @bowei. I ran `kubeadm init` again, now with weave-scope as a pod network. When I am inside kubedns and dnsmasq containers of kube-dns, `ping EXTERNAL_IP` works. But interestingly `nslookup google.com` returns

[code]

__dnsmasq container__
[code]

__kubedns container__
[code]

Feels like the cluster does not have any external DNS server to use. Could this be a fault of kubeadm

[2017-07-08 11:59] mikedanese commented on #47558
Opened https://github.com/bazelbuild/rules_go/issues/614 which I was planning on doing in gazel.

[2017-07-08 12:01] igoratencompass commented on #40067
I can see the same issue with 1.6.7. I tried concatenating the CA cert at the end of the kubelet's cert file as per it's help page:

[code]

but no difference. It is interesting that there is an option `--tls-ca-file` for the `kube-apiserver` but not for `kubelet` (or at least it is missing in it's help output).

[2017-07-08 12:33] kachkaev commented on #47142
Looks like I figured things out – dnsmasq on the host was the problem. Kubeadm was confused with `nameserver 127.0.0.1` in `/etc/resolv.conf`, so could not resolve any external IP addresses. After bringing `/etc/resolv.conf` back to normal, external names became resolvable from the pods:

[code]
(these must be your datacentre's DNS servers or google ones)

One more caveat is related to presence of

[2017-07-08 13:02] #48094 closed

[2017-07-08 14:06] mtanino commented on #48554
I think if the Pods and PVCs are deleted without any problem, the STATUS of PVs will be changed to "Released" automatically.

Did you see any problem on your kubelet log?

[2017-07-08 14:09] #48265 closed

[2017-07-08 14:09] #48521 closed

[2017-07-08 14:58] #48368 closed

[2017-07-08 15:50] #48559 closed

[2017-07-08 16:04] apelisse commented on #48209
Yeah, I think the plan right now is to go with: `k8s.io/utils` being non-k8s-specific go libraries, and `k8s.io/k8s-utils` being a place for everything else.

That's two general repos, and those two should be pretty stable overall, so I don't think it'll make it much more complicated.

[2017-07-08 17:07] fraenkel commented on #48297
Are we ok with the slight changes in metrics that come with moving to promhttp?

[2017-07-08 17:24] crassirostris commented on #48520
@bamb00 Configurations of fluentd, present in this repo (e.g. [fluentd-gcp](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-gcp/fluentd-gcp-configmap.yaml)) already export kubelet logs, including ones in journald. Where those logs are depends on the OS, on COS, these logs are in journald under unit `kubelet`, on ubuntu AFAIR under /var/log/kubelet.log.

You can also exp

[2017-07-08 17:43] smarterclayton commented on #48209
k8s-utils is a weird name and will cause endless confusion.  Something like k8s.io/pkg or k8s.io/common more clearly indicates this is shared.  I don't want to call anything utility except the totally generic repository - that word is overused and is lazy :)

[2017-07-08 17:48] #37435 closed

[2017-07-08 17:53] crassirostris commented on #48620
@anisimovsergey Thanks for noticing! Built and pushed

[2017-07-08 17:53] #48620 closed

[2017-07-08 19:11] subodh01 opened #48663 "Nutanix volume plugin for kubernetes"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature Request
/kind feature

@kubernetes/sig-storage
**What happened**:
Nutanix volume plugin will allow allow use of a nutanix cluster for persistent volume. This will also allow dynamic volume provisioning using a storage class.

**What you expected to happen**:

NA
**How to reproduce it (as minimally and precisely as possible)**:
NA

**Anything el

[2017-07-08 19:30] mikedanese commented on #47055
Moving these conditions to Taints is the best way to fix this.

[2017-07-08 19:33] apelisse commented on #48209
Thanks, I don't strongly care about the name yet but these are better suggestions than mine (which I really didn't like anyway). We have not created this repository so we can still discuss this detail.

Do we agree on the overall structure? Golang non-k8s specific libs in one repo, k8s packages in another?

[2017-07-08 19:41] lorenz commented on #45688
Just wanted to say that this is still an issue on 1.7.0. This is also not caused by a process hanging on to the mountpoint, I can just unmount the path/volume myself an kubelet will clean up the container. Could we just have kubelet try unmounting if it sees that a volume can't be removed because it's busy? I could prepare a PR for that.

[2017-07-08 20:33] xiangpengzhao commented on #48663
/sig storage

[2017-07-08 21:01] whitecolor commented on #48609
I still have the error of deployment on the first start (just after creation), then I delete the pod, it recreates it and starts ok.

[2017-07-08 21:24] smarterclayton commented on #48209
Yes, sgtm

[2017-07-08 22:33] #48606 closed

[2017-07-09 00:02] kilianc commented on #44273
Same

[2017-07-09 00:09] fraenkel commented on #48297
Found a second issue with the handler name which appears as a tag in the metrics. If you have the new and old handler register, the second one panics because there is a naming collision on the handler tag.

[2017-07-09 00:16] fraenkel commented on #48297
The above is only an issue in our unit tests because the etcdserver is registering the old handler.

[2017-07-09 00:42] k82cn commented on #47055
yes. agree, I'm working on the proposal to match Condition and Taints.

[2017-07-09 00:47] fraenkel commented on #48297
Sorry, its not the handler name but the subsystem name that is prepended as part of the metric name. For now I will allow the test to override the value.

[2017-07-09 00:48] ncdc commented on #48638
@derekwaynecarr fyi I reported this earlier as #44557

[2017-07-09 02:35] danielfm opened #48666 "Allow NodeRestriction to admit evictions for pods bound to the node itself"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature request

/kind feature

In [kube-aws](https://github.com/kubernetes-incubator/kube-aws/), we have a feature that handles node draining in response to instances being replaced by the Auto Scaling Group; this works by detecting the node is about to be terminated, and running `kubectl drain --force --ignore-daemonsets --delete-local-data <node>` i

[2017-07-09 02:38] danielfm commented on #48666
/sig node

[2017-07-09 02:55] dixudx commented on #48666
/cc

[2017-07-09 04:53] crimsonfaith91 commented on #43324
I never wrote a skew test before. Will the steps below appropriate for creating the version skew test?

1. introduce 2 helper functions in [util.go](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go):
- `SkipUnlessKubectlVersionEquals()` for `kubectl v1.6`
- `SkipUnlessServerVersionEquals()` for `cluster v1.5`

2. write a function named `testDeleteDeploymentVersionSke

[2017-07-09 06:20] ami-fairfly commented on #47725
@cmluciano That problem does not sound related.

@nbutton23 thanks, however since upgrading to Kube 1.6 we did not see this issue again. If this happens again however I will be sure to check the idle timeout.

Closing this for now as it seems gone in 1.6

[2017-07-09 07:53] xiangpengzhao commented on #32221
Already fixed.

https://github.com/kubernetes/kubernetes/blob/master/pkg/quota/evaluator/core/services.go#L148

/cc @cmluciano

[2017-07-09 07:57] xiangpengzhao commented on #32221
ref: #39364

[2017-07-09 10:54] supereagle commented on #48422
@benbc   This bug has been fixed by @derekwaynecarr in PR #46246, and cherry-picked into release-1.6 by PR #48099. The latest release [v1.6.7](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#downloads-for-v167) has included this patch, you can have a try on this release.

[2017-07-09 11:16] xiangpengzhao commented on #30974
/cc @cmluciano

[2017-07-09 12:10] fraenkel commented on #47304
The same failures are occurring with my PR's unit tests
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/48664/pull-kubernetes-unit/39682/

[2017-07-09 12:24] supereagle opened #48668 "Revert workaround in 46246 as API has been consistent"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
There are bugs #48422, #46241, #44348 caused by the inconsistent APIs as explained in [46241#issuecomment-303218549](https://github.com/kubernetes/kubernetes/issues/46241#issuecomment-303218549).
In order to fix these issues and cherry-pick the patch into release-1.6, PR #46246 provides a workaround to keep the change as small as po

[2017-07-09 12:34] supereagle commented on #48668
/sig node

[2017-07-09 13:32] rinsu1987 commented on #25754
Can I start looking into this? Please assign it to me.

[2017-07-09 13:42] subodh01 commented on #48663
Opened a FEAT issue: https://github.com/kubernetes/features/issues/350

[2017-07-09 13:42] #48663 closed

[2017-07-09 13:51] xiangpengzhao commented on #35988
Are you still facing this? Seems like you misconfigured or your nodes were lack of some components. We are going to close this. Feel free to re-open it if you still face this issue.

/cc @thockin @cmluciano

[2017-07-09 14:20] ianchakeres commented on #47304
I'm seeing this failure on a PR too https://github.com/kubernetes/kubernetes/pull/47999.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/47999/pull-kubernetes-unit/39717/

[2017-07-09 14:39] xiangpengzhao commented on #36622
Could you please share the repro steps of `quickly recreating a service`?

[2017-07-09 15:44] x89 commented on #44308
@chaidas unfortunately I think nobody would have a clue what I was on about if I said that!

Interesting trivia though. :)

[2017-07-09 15:48] nikhita opened #48675 "Auto-generation by deepcopy is broken"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

While working on PR #48630, deepcopy did not update auto-generated files at all places.

After updating the `gengo` vendor directory, I did a `./hack/update-codegen.sh` which only updated _some_ of the deepcopy files. This made tests fail (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/48630/pu

[2017-07-09 15:48] nikhita commented on #48675
/cc @sttts

[2017-07-09 15:48] nikhita commented on #48675
/sig api-machinery

[2017-07-09 15:50] fraenkel opened #48676 "kubectl/cmd tests can take a while to fail"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When running `make test WHAT=k8s.io/kubernetes/pkg/kubectl/cmd`, it was failing with a timeout of 120s.

**What you expected to happen**:
It should succeed in less than 10s.

**How to reproduce it (as minimally and precisely as possible)**:
My KUBECONFIG is set to a cluster that is resolvable but not accessible, its a pri

[2017-07-09 15:53] fraenkel commented on #48676
/sig cli testing

[2017-07-09 17:10] spzala commented on #47361
Hi guys, @cblecker @chenopis a gentle reminder on on-going discussion of having a separate repo.. any thoughts? There is a related discussion going on in service-catalog project https://github.com/kubernetes-incubator/service-catalog/issues/453 that such a separation would be helpful. Thanks!

[2017-07-09 20:01] ianchakeres commented on #48342
Here's the related issue on docker, https://github.com/docker/for-mac/issues/1714

[2017-07-09 21:40] thockin commented on #45143
In my mind, this is what finalizers are good for.  We don't often use them as such, especially because transactions don't exist, but this is what they are for.

[2017-07-09 21:48] fiatala opened #48677 "Downward API support in volume subPath"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

We would like a way to dynamically generate host paths when mounting volumes. The `subPath` feature creates directories on demand, but the names assigned to those directories are static.

Supporting the downward API variables would provide a good way to share storage and avoid collisions.
Centralized log storage is one use case.

For ex

[2017-07-09 22:00] paultag commented on #19333
I think closing this was a mistake - it's a needed feature, and the incomplete implementation will likely result in other people opening similar issues.

[2017-07-09 22:46] xiangpengzhao commented on #48677
/sig storage

[2017-07-10 00:02] jeffmoss commented on #41070
Check your AWS EC2 limits.

[2017-07-10 00:09] huggsboson commented on #29972
I tried adding a sidecar with the same name, but it unfortunately fails validation because the container name collides with the init container name.

[2017-07-10 01:27] xingzhou commented on #48602
Seems like a printer issue, I will try to reproduce and fix it.

[2017-07-10 01:45] IanLewis commented on #39494
@Paxa this is exactly the issue. Your kubectl is 1.3. You need to upgrade kubectl to the latest version.

[2017-07-10 02:10] FengyunPan commented on #47257
@wlan0 I will take care of the Rackspace.

[2017-07-10 02:14] baldeynz opened #48679 "enabling batch/v2alpha1 API in 1.6.1 seems to break kubectl get events"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig Scheduling
@kubernetes/sig-scheduling

**What happened**:
As per https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/#prerequisites we have enabled the batch/v2alpha1 API in our cluster by adding the " - --runtime-config=batch/v2alpha1=true" startup argument to our api server. After the apiserver has been restarted we ca

[2017-07-10 02:33] cleverlzc commented on #16836
I also encounter this issue，it seemed that my busybox is not work rightly. But inner my pod, kubedns can work, healthz container can not resolve the domain name.Anyone kown why?  My kubernetes version is v1.4.6. Thanks in advance!
[code]
 the logs in healthz container:
[code]

[2017-07-10 02:49] WIZARD-CXY commented on #48465
@Random-Liu any thoughts?

[2017-07-10 02:51] WIZARD-CXY commented on #48465
I read the docker log search code only to find it is using linear search to find the correct since read point.The function signature (in docker 1.13.0) is ```func (l *JSONFileLogger) readLogs(logWatcher *logger.LogWatcher, config logger.ReadConfig) { ```

[2017-07-10 03:02] xiang90 commented on #47867
@davidopp @k82cn shall this issue be closed then?

[2017-07-10 03:42] andrewmyhre commented on #39178
To add a twist to this.. I'm provisioning the Gitlab helm chart (from the [Gitlab repository](https://docs.gitlab.com/ee/install/kubernetes/gitlab_chart.html)) which provisions 3 PVCs which are used by a single pod. My nodes are in AZs us-east-1a and us-east-1c. The dynamically created PVs are each created in a random AZ (I assume either us-east-1a or us-east-1c) so the pod can only be created if

[2017-07-10 04:10] evictor opened #48680 "kubeadm setup to kubectl proxy => http: proxy error: x509: certificate is valid for [internal IPs]"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug report

/kind bug

**What happened**: Cannot use `kubectl proxy` from a remote machine with a cluster set up using `kubeadm`; receive the error `Starting to serve on 127.0.0.1:8001I0709 20:48:16.424033    4250 logs.go:41] http: proxy error: x509: certificate is valid for [several internal IPs], not [external IP used to access the cluster master]`.

[2017-07-10 04:12] evictor commented on #48680
@sig-cluster-lifecycle-bugs

[2017-07-10 04:12] evictor commented on #48680
@kubernetes/sig-cluster-lifecycle-bugs

[2017-07-10 05:29] k82cn commented on #47867
I think so.

[2017-07-10 05:35] caesarxuchao commented on #45210
Closed by https://github.com/kubernetes/kubernetes/pull/45384

[2017-07-10 05:35] #45210 closed

[2017-07-10 05:36] #47867 closed

[2017-07-10 05:52] fogongzi commented on #48590
@kubernetes/sig-controller-manager-bugs

[2017-07-10 06:23] sttts commented on #48675
/cc @thockin

[2017-07-10 06:23] sttts commented on #48675
I have seen this as well. I was changing gengo at the same time. So maybe it only happens in that case.

[2017-07-10 06:24] sttts commented on #48675
@nikhita deepcopy is not in ./hack/update-codegen.sh, but in `Makefile.generated_files`.

[2017-07-10 06:32] liggitt commented on #36120
The state machines around numbers are concerning, especially on non-normalized input. The first bit I checked (exponent handling) was handled differently in different parts of the library, and didn't handle positive exponents (`1E+10`) correctly.

It's also very accepting of malformed input. A few examples:
* It accepts `{"foo":navy}` because it sees the `n`, skips four characters and assumes it i

[2017-07-10 06:36] itskingori commented on #45626
@tudor this happened to us when we `kubectl delete pod/xxxxxxxxxxx --force --grace-period`'d some pods ... we did this because they were stuck terminating. The warning after that action is a bit ominous i.e.

[code]

And so we went poking around after doing it and we found tonnes of errors in `/var/log/syslog` i.e.

[code]

We found a couple of dead pods ... and cleaned them using this  ...

[code

[2017-07-10 06:42] taowen commented on #36120
@liggitt You can post issues to the project, I will fix it.

[2017-07-10 06:46] liggitt commented on #36120
https://github.com/json-iterator/go/pull/125
https://github.com/json-iterator/go/pull/124

[2017-07-10 06:58] m1093782566 opened #48681 "Node Controller fail to mark all pod not ready when some errors occur"
**Is this a BUG REPORT?**:

Yes.

**What happened**:

1. Kubelet stopped posting node ready heatbeat

2. Node controller updated node status to unknown

3. Controller manager changed leader before node controller marking all pods NotReady on the unready node

4. Pods on the NotReady node always in PodReady condition and resulting in service redirecting traffic to it.

**What you expected to happen

[2017-07-10 07:08] sttts commented on #47304
This is probably what we are seeing: https://github.com/golang/go/issues/18806

[2017-07-10 07:12] sttts commented on #47304
And fixed in golang, probably for 1.9: https://go-review.googlesource.com/c/45088/

[2017-07-10 07:26] taowen commented on #36120
@liggitt fixed. thanks

[2017-07-10 07:27] rmohr opened #48682 "ccccccfngfnjcktbbgufffkdvfihflvejugbfbdlibtj"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-07-10 07:28] #48682 closed

[2017-07-10 07:29] xingzhou commented on #48361
Submitted one patch to add a new option "envFrom" for `kubectl run`, for discussion

[2017-07-10 08:06] Pensu commented on #43989
@rmmh I tried doing that, but when I trying to create a bucket, it says that I need to select a project mandatorily. Did you face anything like this?

[2017-07-10 08:17] zhangqx2010 opened #48687 "kubeadm join doesn't work for 1.7."
/kind bug

**What happened**:
I deployed a lab cluster in 1.6. And then use kubeadm reset to tear down the cluster.
Then I install 1.7 version kubelet and kubeadm.
kubeadm init on master succeeded.

On the other node:
[code]

kubectl get nodes only show master
[code]

**What you expected to happen**:
On Master:
kubectl get nodes show all nodes

**How to reproduce it (as minimally and precisely as

[2017-07-10 08:22] fasaxc opened #48688 "Flake? E2E Test failed with GCP quota exceeded"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

CI tests for #48469 failed with a quota error:

[code]

Full logs:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/48469/pull-kubernetes-kubemark-e2e-gce/38580/build-log.txt

**What you expected to happen**:

Clean test run.

**How to reproduce it (as minimally and precisely as possible)**:

I don't know

[2017-07-10 08:24] fasaxc commented on #48688
@kubernetes/sig-testing-misc

[2017-07-10 08:28] stregatto commented on #40745
Problem still remains, no chance to change go version til we are using kubelet from google repos (http://apt.kubernetes.io). kubelet was built using go 1.7.4

[2017-07-10 08:29] stregatto commented on #40745
Kubelet version v1.5.6

[2017-07-10 08:36] luxas opened #48690 "Cloud Controller Manager Beta Requirements"
Forked from https://github.com/kubernetes/features/issues/88 in order to allow more discussion.

Things needed for beta
-----------------------------------

1. Lots of docs (tutorials, blogs, walkthroughs etc)
2. Testing with various clouds (dogfooding)
3. Automatically build and create a image for cloud-controller-manager(CCM) on gcr.io
4. Automatically run e2e tests for CCM
5. bugfix for kubelet

[2017-07-10 08:37] luxas commented on #48690
/sig cluster-lifecycle

[2017-07-10 08:38] offlinehacker opened #48691 "kubectl force apply SIGSEGV with podDistributionBudgets"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When trying to forcefully update `podDistributionBudget` using `kubectl apply --force -f pdb.json` command segmentatio voliation happens.

[code]

**What you expected to happen**:

podDistributionBudget to be replaced

**How to reproduce it (as minimally and precisely as possible)**:

create `pdb.json`:

[code]

Create `

[2017-07-10 08:41] yan234280533 opened #48692 "Headless service can not using node port , so it can not to using cloudprovider LB."
We use headless service to deploy stateful resource. The stateful resource is deploy ok. But we found that the headless service can not  support node port and LoadBalance service type. So it can not support be called through LB.

How can we to solve it?

[2017-07-10 08:41] zhangqx2010 commented on #48687
/sig cluster-ops

[2017-07-10 08:43] offlinehacker commented on #48691
@kubernetes/sig-cli

[2017-07-10 08:45] offlinehacker commented on #48691
/sig cli

[2017-07-10 09:03] dennis-bell commented on #26202
@pwittrock Any update on this issue, kinda annoying that deployment breaks on a label update
We use it for storing versions, but also changing the behaviour like described by @hjacobs

[2017-07-10 09:03] rasheedamir commented on #39178
just like @andrewmyhre I am provisioning jenkins which provisions two PVC's which are being used in the single pod. I have two nodes both in different AZ's. And PV's are being created randomly in different AZ's and since they are never created in same AZ; therefore my pod fails to start.

[2017-07-10 09:09] andrey01 commented on #48617
/kind bug

Marking as bug due to the fact it was working in Kubernetes 1.6.6 (and all below releases) and has stopped to work with the K8s v1.7.0.

[2017-07-10 09:13] zhangqx2010 commented on #48687
noticed error in system log on 02v:

[code]

[2017-07-10 09:19] wojtek-t opened #48694 "GPU tests consistently failing in 1.7 branch"
https://k8s-testgrid.appspot.com/release-1.7-blocking#gce-gpu-1-7

They started failing around 07/07/2017.

@vishh @davidopp

[2017-07-10 09:20] kargakis commented on #48688
/assign @krzyzacy

[2017-07-10 09:21] benbc commented on #48422
@supereagle Thank you.

I'm a little suprised that this is fixed by that PR. In my testing I see the `No ref for container` warning log ([here](https://github.com/yujuhong/kubernetes/blob/8f9935326781088f5f9e7587a2ca1d192a4269c7/pkg/kubelet/prober/prober.go#L98)), which I think indicates that the call to `.Eventf()` where the fix is ([here](https://github.com/yujuhong/kubernetes/blob/8f99353267810

[2017-07-10 09:21] kargakis commented on #48688
@krzyzacy IIUC, your new tool, boskos, is destined for fixing these kinds of failures, right?

[2017-07-10 09:23] cleverlzc commented on #16836
Now, I have made some progress. But, there is still some problem, as fllowing:
[code]
The full name "kubernetes.default.svc.cluster.local" can be resolved,  but the part name or only service name "kubernetes" can't be resolved.  Is anyone kown why？

[2017-07-10 09:32] zhangqx2010 commented on #48687
/sig cluster-lifecycle

[2017-07-10 09:42] crassirostris commented on #48465
@WIZARD-CXY Oh, he's not available currently

@yujuhong @dashpole @dchen1107 Do you have any thoughts on tuning the read logs method's performance? Are you OK with contributions to this part?

[2017-07-10 09:47] m1093782566 commented on #48681
/sig controller

[2017-07-10 09:52] wojtek-t commented on #43600
@justinsb - friendly ping. Did you have chance to verify this?

[2017-07-10 10:00] jsravn opened #48696 "Pods in "Unknown" state should not count against namespace quotas"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We had a node outage which caused kubelet to be unable to contact apiserver. This causes the node to go to `NotReady` state, and in turn causes all pods on the node to go to `Unknown`.

When the controller tried to spin up a replacement replica for each pod, it fails due to namespace quotas being exceeded. The `Unknown` s

[2017-07-10 10:05] jsravn commented on #48696
/sig node

[2017-07-10 10:16] supereagle commented on #48422
In my test environment, not found the error `No ref for container`. Maybe this is another bug, but I am not sure how to reproduce it. You can have a try to verify this on the latest release v1.6.7.

[2017-07-10 10:23] jsafrane commented on #48609
When you delete a PVC, corresponding PV becomes `Released`. This PV can contain sensitive data (say credit card numbers) and therefore nobody can ever bind to it, even if it is a PVC with the same name and in the same namespace as the previous one - who knows who's trying to steal the data!

Admin intervention is required here. He has two options:

* Make the PV available to everybody - delete `PV

[2017-07-10 10:28] #47304 closed

[2017-07-10 10:36] jsravn commented on #48696
Nevermind, I see there is already a PR for this -https://github.com/kubernetes/kubernetes/pull/46542.

[2017-07-10 10:36] #48696 closed

[2017-07-10 10:38] dims commented on #47257
Merging #47593 for OpenStack

[2017-07-10 11:15] shiywang commented on #26202
also cc @mengqiy

[2017-07-10 11:16] whitecolor commented on #48609
Thanks for the comment. Good, that is techically supported by solution, probably it should be documented somewhere. Though as I said after creation new PVC bound to exiting PV (via its UID) and deployment that uses this PV, deployment failed to start with error above, after I deleted the pod, it started again. Probably kind of bug, as I said i'm on GCE (1.6.4).

[2017-07-10 11:56] cosmincojocar commented on #23720
@ericchiang @liggitt Do you have any plans to move on with this feature?

I'm investigating the integration of Azure Active Directory groups with RBAC roles. Azure Active Directory typically embeds a custom claim into the JWT, which points to the Graph API from where the groups can be fetched, something like this:
[code]
The call to the Graph API must be authenticated as well. I am curios to hear

[2017-07-10 12:28] spadgett commented on #48632
@dixudx Great, thanks. I'll close the issue since it's fixed.

[2017-07-10 12:28] #48632 closed

[2017-07-10 12:41] shyamjvs opened #48700 "Apiserver request logger panicking on post/put/delete requests in kubemark-scale"
kubemark-scale has been failing since run 506 (almost 5 days now). Both load and density tests are failing some requests to create/scale/delete RCs and services with msgs like these:

[code]

cc @kubernetes/sig-scalability-misc @gmarek @wojtek-t

[2017-07-10 12:43] shyamjvs commented on #48700
From the apiserver logs, it seems like something's wrong around the request logging:

[code]

[2017-07-10 12:47] shyamjvs commented on #48700
cc @kubernetes/sig-api-machinery-bugs

/assign @lavalamp
Feel free to reassign as apt :)

[2017-07-10 12:49] killy001 opened #48701 "Kubernetes persistentvolume capacity not work"
### the file pv.yaml like this:
[code]

### the file pvc.yaml like this:
[code]

### the file pvpod.yaml like this:
[code]

When the hostpath /tmp/data or container path /usr/share/nginx/html size more than 5Mi, there is nothing happened. The shared volume size should less than 5Mi. I think the capacity does not work. Why?

[2017-07-10 12:51] pmichali commented on #45954
I think this is what I'm seeing (consistently) with #46138 and #46874.

[2017-07-10 12:55] pmichali commented on #45978
@madhusudancs I still see this issue (I think it is this) on #46138 and #46874. Can you please advise?

[2017-07-10 13:00] shyamjvs commented on #48700
Fyi, here's the build-log I looked into:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/508/build-log.txt
and the master logs:
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/508/artifacts/kubemark-5000-kubemark-master/

[2017-07-10 13:02] clenimar opened #48703 "kubelet keeps attempting to reclaim nodefs after upgrade to 1.7.0"
I just upgraded a cluster from 1.5.2 to 1.7.0, and it's working fine, although `kubelet` keeps trying to reclaim nodefs. Not sure why. Any thoughts?

My cluster runs in an OpenStack environment, it's provisioned by Openstack Magnum. I upgraded it by replacing all the binaries and services to 1.7.0, and it seems to be working fine.

Describing the master node (pay attention to the events below - 12

[2017-07-10 13:17] yogesh9391 commented on #39494
I answered for this question at https://stackoverflow.com/questions/44950816/not-able-to-deploy-k8s-pod-when-tried-through-jenkins-job-on-gce/45013094#45013094

[2017-07-10 13:24] xiangpengzhao commented on #48701
/sig network

[2017-07-10 13:28] Paxa commented on #39494
@IanLewis I just downloaded latest minikube and kubectl

[2017-07-10 13:32] krish7919 opened #48705 "Kube proxy fails and then hangs without dying."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Service was not able to communicate with backend deployment.
Checked the logs and found that kube-proxy had panic-ed.
My assumption is it was because the dependencies of kube-proxy did not spin up before kube-proxy itself.

**What you expected to happen**:
Expectation is that kube-proxy would panic in this case and restar

[2017-07-10 13:35] krish7919 commented on #48705
@kubernetes/sig-network

[2017-07-10 13:57] sttts commented on #46690
This might be the same error we see constantly today (e.g. in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46138/pull-kubernetes-federation-e2e-gce/13815/):

[code]

[2017-07-10 14:02] sttts commented on #46690
/cc @nikhiljindal

[2017-07-10 14:04] VioletRainbows commented on #47511
I've tried to make Azure CA works. Here are my findings:

- Unable understand the configuration requirement for `--cloud-config` (works with environment variables)
- It is able to scale, but k8s is not able to see the new nodes as per next point.
- Azure CA only works with Scale Sets, but k8s does not support Scale Set (yet?).

Relevant issues:
https://github.com/colemickens/azure-kubernetes-statu

[2017-07-10 14:07] sttts commented on #45978
Here is a recent log: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46138/pull-kubernetes-federation-e2e-gce/13815/

[2017-07-10 14:11] pmichali commented on #45978
I see a few other people have the same log messages as what I see. The failure seems consistently occurring (I tried retest 2x).

[2017-07-10 14:24] cmluciano commented on #48694
/sig node

[2017-07-10 14:24] cmluciano commented on #48694
@mindprince Is this still awaiting the new gcloud sdk release?

[2017-07-10 14:26] mtanino commented on #48609
@jsafrane

Thank you for the comment. I'll add these steps to the documentation.
By the way, @whitecolor mentioned that there is a case admin want to keep physical disk even if PV/PVC are deleted.
Do we currently have a way to do this?

[code]

FYI, we got a following comment on the slack.
[code]

[2017-07-10 14:29] copejon commented on #44377
The example PVC is missing an important line:
[code]
Since 1.6(?) Kubernetes has dynamic provisioning turned on by default.  So when a PVC is created, if it's missing the `volume.beta.kubernetes.io/storage-class` key value, it assumes the default storage class and provisions and binds a volume.

To disable this behavior, set the key value as  `"volume.beta.kubernetes.io/storage-class": "" `.

[2017-07-10 14:30] cmluciano commented on #30974
/assign

[2017-07-10 14:30] cmluciano commented on #30974
/close

[2017-07-10 14:30] #30974 closed

[2017-07-10 14:31] cmluciano commented on #19333
@freehan @nicksardo @aledbf Is this a feature that we should target for 1.8?

[2017-07-10 14:33] cmluciano commented on #35988
/assign

[2017-07-10 14:33] cmluciano commented on #35988
/close

[2017-07-10 14:33] #35988 closed

[2017-07-10 14:35] cmluciano commented on #32221
/assign

[2017-07-10 14:35] cmluciano commented on #32221
/close

[2017-07-10 14:35] #32221 closed

[2017-07-10 14:37] dixudx commented on #48703
/cc

[2017-07-10 14:38] cmluciano commented on #48705
/sig azure

[2017-07-10 14:41] aledbf commented on #19333
@cmluciano which feature?

[2017-07-10 14:42] jsafrane commented on #48609
Thanks! It should not be part of regular operation and it's very advanced topic / workaround, but it's part of the API and it's supported.

Right now you can set the policy to Retain. We're adding a policy field to StorageClass for 1.8 in #47987 so admin can configure it for some/all provisioned PVs.

That's not true, deleting a PV does not do anything to the GCE PD, it remains there. Deleting PVC

[2017-07-10 14:53] dixudx commented on #48701
/cc

[2017-07-10 14:54] bmwiedemann opened #48710 "kubernetes packages differ for each build"
/kind bug

**What happened**:
[code]
have a date+time string embedded in them in the format
2018-08-15T19:08:34Z
that differs for each build

**What you expected to happen**:
It should be possible to build reproducibly, generating identical binaries no matter when (and where)

**How to reproduce it (as minimally and precisely as possible)**:
on openSUSE do
[code]

**Anything else we need to know?*

[2017-07-10 15:03] luispabon commented on #43632
Thank you for this feature.

Our use case is different. On an nginx/php-fpm set up where our local dev is via docker-compose yet we're deploying into kubernetes, we can use the exact same nginx config on both environments.

[2017-07-10 15:30] johnjjung commented on #30656
+1 for this feature. I have to rebuild my docker container and make sure the Docker file has USER root as the last line, then debug, then disable this.

docker command line seems to have a --user flag

[2017-07-10 15:33] BenAbineriBubble commented on #30656
johnjjung, if you have ssh access to the node you can connect to the container using docker with the user flag which might save you a bit of time.

[2017-07-10 15:35] johnjjung commented on #30656
Hmm, awesome let me try this

On Jul 10, 2017, 11:34 -0400, BenAbineriBubble <notifications@github.com>, wrote:

[2017-07-10 15:40] lumjjb commented on #22888
@smarterclayton Is there anything we can do to help on the work on mutating webhook admission controllers? Would definitely like to see it in 1.8!

[2017-07-10 15:42] k82cn commented on #42002
So we're going to still let DaemonSet schedule its pods?

I think the replacement scheduler should handle Pods's attributes well, e.g. mirror pod, critical pods.

[2017-07-10 15:49] ericchiang commented on #23720
@cosmincojocar I moved away from implementing this in 1.7 because the token auth-N webhook is probably sufficient for our use cases. A group webhook is probably even harder because it'd require the OpenID Connect plugin to start passing more claims via the user Extra fields. e.g. how would your webhook get the `_claim_name` custom claim?

I wrote up a short proposal for CoreOS explaining our curre

[2017-07-10 16:02] yujuhong commented on #48506
I believe this has more to do with how `kubectl` displays the information. The `STATUS` column of `kubectl` may show `Completed` even though the pod is being restarted.

[2017-07-10 16:18] shiywang commented on #48198
@deads2k sorry, just have some naive questions here. what is this `Additional<Type>Indexes`,  could you tell me more specific what kind of go type or method you want here ? every time I saw this `<>` just let me remind C++  template, and also what is this `Additional` means ?

[2017-07-10 16:20] ncdc commented on #48198
`<Type>` is an api type such as `Pod` or `Deployment`

[2017-07-10 16:30] mindprince commented on #48694
These are GCE GPU tests. These are unrelated to gcloud release (that's for GKE).

I think something is wrong with the test setup, the gce gpu tests are passing on the master branch: https://k8s-testgrid.appspot.com/google-gce#gce-gpu

On the 1.7 branch, the test grid is showing a lot of unrelated tests being run and the GPU tests are not being run:

@krzyzacy Did something change in how we run 1.7

[2017-07-10 16:31] mindprince commented on #48694
/assign

[2017-07-10 16:32] thomastaylor312 commented on #42654
This didn't land in 1.7, is there anything holding this up or could I submit a patch for this? The expires header parsing issue is causing problems for us trying to use Okta

[2017-07-10 16:37] maleck13 opened #48714 "Enhance the codegen script within the staging sample apiserver to work with multiple groups and versions"
The codegen script located in ```staging/src/k8s.io/sample-apiserver/hack/update-codegen.sh``` was updated as part of the following PR
https://github.com/kubernetes/kubernetes/pull/48549
This PR fixed several issues with the script but further enhancements could be made:

1) It currently only works with a single group and version. It would be better if it could be used with multiple groups and ver

[2017-07-10 16:43] ericchiang commented on #42654
@thomastaylor312 can you send a fix for https://github.com/coreos/go-oidc/issues/136 ? I was hoping to move away from those subpackages since we're trying to move to the new package, but updating the old one and doing a small bump here seems reasonable.

[2017-07-10 16:55] ixdy commented on #48710
/sig release

[2017-07-10 17:03] krzyzacy commented on #48694
/assign

caused by https://github.com/kubernetes/test-infra/commit/1aedc7b48d027c789a84ed412ab8ed1e55fa6e15

[2017-07-10 17:03] mindprince commented on #48694
The last passing build log has GINKGO_TEST_ARGS=--ginkgo.focus=\[Feature:GPU\].
The failing build log doesn't have this environment variable set.

Trying to find out why.

[2017-07-10 17:08] krzyzacy commented on #48688
no, that should be janitor, and seems something is leaking badly from the test

[2017-07-10 17:09] krzyzacy commented on #48688
I'll check the project, @MrHohn IMO it does not even run test, any suspicious?

[2017-07-10 17:10] xrl opened #48716 "Kubelet is not cleaning up pod volumes, leaving statefulset in pending state"
**Bug report**:

/kind bug
/kind sig-openstack
/kind sig-storage

**What happened**:
I created a statefulset for job runners, each with some mounted volumes for scratch space, and after a few recreates the pods were stuck in _pending_. Reading over kubelet logs it looks like the pods are not marked as free because volumes are not disappearing.

**What you expected to happen**:
Statefulset up and d

[2017-07-10 17:13] xrl commented on #48716
@kubernetes/sig-openstack @kubernetes/sig-storage

[2017-07-10 17:13] xrl commented on #48716
/type sig-openstack
/type sig-storage

[2017-07-10 17:13] pwittrock opened #48717 "All e2e tests must have owners comment"

[2017-07-10 17:14] whitecolor opened #48718 "Limit pod/resources allocation on a certain pool"
Didn't find this in API, seems not possible if there is multiple pools to tell that created compute resources (pods) should be allocated on a certain pool?

[2017-07-10 17:17] sakshamsharma commented on #46964
The mentioned PR has been merged. We may need to wait for an etcd release / update the dependency on etcd for us to be able to fix this in Kubernetes.

[2017-07-10 17:26] kksriram commented on #12742
We've been looking at [this](https://github.com/kubernetes/kubernetes/issues/12742#issuecomment-243235263) and have a proposal that builds on @smarterclayton implementations in 1.7.

I'm new to this, so do I create a new issue to track managing the encryption key for a K8S cluster, via Vault?

[2017-07-10 17:28] fasaxc opened #48719 "Client TCP connections have to wait full timeout when set of endpoints goes from empty to non-empty"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

* I started a TCP client and server pod in parallel.
* The client tries to access the server through a service IP
* Client manages to get its SYN packet sent before kube-proxy finishes setting up the NAT rules for the service.
* The first packet establishes a conntrack entry for the TCP connection but the conntrack entry

[2017-07-10 17:33] thomastaylor312 commented on #42654
Yeah, I'll take a look at it. Thanks @ericchiang

[2017-07-10 17:36] xrl commented on #48716
Manually fixed:

[code]

now those pod volumes are gone:

[code]

[2017-07-10 17:37] krzyzacy commented on #48694
/close
close via https://github.com/kubernetes/test-infra/issues/3411

[2017-07-10 17:37] #48694 closed

[2017-07-10 17:38] gnufied commented on #48716
/sig storage

[2017-07-10 17:48] MrHohn commented on #48688
Quick update: Seems like the auto-network includes more regions than before so we hit quota limit when too many PR jobs are running together.

[2017-07-10 17:50] krzyzacy commented on #48688
sent a quota bump, will need a better design in the future.

[2017-07-10 17:53] joshwget commented on #48690
We can certainly help out with (1) and (2). I just updated the Rancher cloud-controller-manager to support Kubernetes 1.7 and we'll be running completely upstream with our next release as a result.

Once we test out this version and make something available I'd be happy to write up a blog post on it. The Kubernetes docs already reference https://github.com/rancher/rancher-cloud-controller-manager

[2017-07-10 17:55] yujuhong commented on #48219
@asac nice digging! If your editor creates a temporary file which contains exactly the same pod object, this would leave kubelet confused and it will delete the pod when the file is deleted. This is a known issue, and the fix would be for kubelet to scan the content of the directory periodically to ensure the correct pods are started eventually. There is a bug tracking this but I couldn't find it

[2017-07-10 17:55] baldeynz commented on #48679
not 100% sure this is a bug, might be configuration issue, will close and reopen if needed

[2017-07-10 17:55] #48679 closed

[2017-07-10 17:57] spxtr opened #48721 "Docker stuck on "open /run/containerd/(elided)/(elided)/process.json: no such file or directory""
/kind bug
:fire: :fire: :fire:
**Environment**:
- Kubernetes version: 1.6.4
- Cloud provider or hardware configuration**: GKE
- OS: COS 57
- Kernel: Linux 4.4.35

I run a workload that creates many short-lived pods. I noticed a handful of my pods in the `Unknown` state. 12/50 of my nodes are in the `NotReady` state. Describing one of them yields:
[code]
Evidently the kubelet isn't showing up. I SS

[2017-07-10 17:58] spxtr commented on #48721
/sig node

[2017-07-10 18:03] dashpole commented on #48721
What version of docker are you using?

[2017-07-10 18:04] whitecolor commented on #48718
Seems PodSpec's `nodeSeletor` would work.

[2017-07-10 18:04] #48718 closed

[2017-07-10 18:04] yujuhong commented on #36485
I sent a fix #45799, but the change is quite large and porting it back could be difficult.

[2017-07-10 18:07] yujuhong commented on #48219
Found it. It's #40123

[2017-07-10 18:07] joshwget commented on #48690
On another note, there was some talk in [a PR](https://github.com/kubernetes/kubernetes/pull/40160) that supporting out-of-tree credential providers might be in scope for cloud-controller-manager. I'm not sure if this would necessarily be a beta feature, but it would be great to determine whether this should be considered in scope or not. If not I'll file a separate issue on this since we're prett

[2017-07-10 18:12] nikhiljindal commented on #46690
cc @csbell (the current federation on call)

[2017-07-10 18:14] dashpole commented on #48721
We generally dont handle things like this in the kubelet, as there are too many ways for docker to fail for us to do this effectively.  The best thing to do in this scenario is probably to make sure we surface the issue so that people can more easily discover and recover from it.  This may be something the node problem detector can handle.

[2017-07-10 18:17] spxtr commented on #48721
[code]

[2017-07-10 18:20] bowei commented on #16836
There are some versions of busybox that do not implement `resolv.conf` search paths (see Search in http://man7.org/linux/man-pages/man5/resolv.conf.5.html). Use a different base image.

[2017-07-10 18:20] bsalamat commented on #47867
Just to clarify: Kubelet correctly accounts the resources used by terminated-but-not-yet-deleted pods, i.e, kubelet does not count the resource usage of those pods towards total usage on the node. Scheduler, however, does not do the same. Scheduler waits for a pod to be deleted, and then it deducts its resource request from the associated node total usage. Upon deletion of a pod, scheduler is noti

[2017-07-10 18:20] evictor commented on #48680
Is there a way to add a SAN to some certificate somewhere to allow access via the public IP? Or tunnel, or VPN, or...?

[2017-07-10 18:24] krzyzacy commented on #48523
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-release-1-7/80

/close

[2017-07-10 18:24] #48523 closed

[2017-07-10 18:26] magescher commented on #44954
Using the Python API, I get the current cluster name as follows:
[code]

[2017-07-10 18:29] liggitt commented on #44954
That's just the name of the cluster stanza in your local kubeconfig file, and doesn't have any bearing on the server's view of the world

[2017-07-10 18:34] liggitt commented on #48680
kubeadm-specific issues are tracked in https://github.com/kubernetes/kubeadm/issues/
I'd suggest moving this issue there

[2017-07-10 18:36] evictor commented on #48680
Thanks, will do.

[2017-07-10 18:38] cosmincojocar commented on #23720
@ericchiang Thanks, this is very helpful. The solution would be to deploy a webhook service between api-server and AAD, which can receive `TokenReview` requests over a mutually authenticated TLS connection. It verifies the bearer token, fetches the groups from Graph API if token is valid, and then returns the groups in the `TokenReview` response to the api-server.

[2017-07-10 18:41] #48680 closed

[2017-07-10 18:46] nicksardo opened #48725 "GCE: Misleading error message"
https://github.com/kubernetes/ingress/blob/master/controllers/gce/controller/controller.go#L311

Code appends ":Quota" to error when the HTTP status is forbidden. This may be accurate, but it could also be an insufficient permissions error.  This gets propagated to an event raised for the ingress resource and will cause user confusion.

[2017-07-10 18:47] #48725 closed

[2017-07-10 18:47] chrislovecnm commented on #45626
/open

[2017-07-10 18:50] bowei commented on #48719
@freehan seems like another use case for flushing the conntrack entry?

[2017-07-10 18:51] chrislovecnm commented on #45626
/reopen

[2017-07-10 18:51] janetkuo commented on #43324
@crimsonfaith91

Take `[k8s.io] Kubectl client [k8s.io] Kubectl rolling-update should support rolling-update to same image [Conformance]` in http://k8s-testgrid.appspot.com/1.6-1.7-kubectl-skew#gce-1-7-1.6-cvm for example -- it is running 1.6 kubectl and 1.6 kubectl e2e test (https://github.com/kubernetes/kubernetes/blob/release-1.6/test/e2e/kubectl.go#L1217-L1251) against 1.7 server.

The first s

[2017-07-10 18:53] thockin commented on #8202
too late.  I don't think we can actually fix this without breaking.

[2017-07-10 18:53] #8202 closed

[2017-07-10 19:12] tudor commented on #45626
@chrislovecnm I can't reopen the issue as it was closed by a contributor to the repo. The only workaround I have is restarting the docker daemon.

[2017-07-10 19:12] tudor commented on #45626
@erictune, please consider reopening this? Thank you!

[2017-07-10 19:24] cblecker commented on #45626
/assign

[2017-07-10 19:24] cblecker commented on #45626
/reopen

[2017-07-10 19:25] bsalamat commented on #42002
This is a tough one and is hard to say which one is a better approach. If I had to decide, I would still let the main scheduler schedule DaemonSet pods. I agree with @timothysc that admin can do many things to break a system. Even if we let the DaemonSet controller schedule its pods, a substitute scheduler can still break the system badly by, for example, not scheduling ReplicaSet pods. I know tha

[2017-07-10 19:25] cblecker commented on #45626
/unassign

[2017-07-10 19:29] rickypai commented on #43632
@luispabon the discrepancy between dev/prod would probably cause problems beyond just difference in networking setup. have you considered using [minikube](https://kubernetes.io/docs/getting-started-guides/minikube/) to have parity between the two environments?

[2017-07-10 19:32] asac commented on #48219
Hi,

On 10 July 2017 at 19:56, Yu-Ju Hong <notifications@github.com> wrote:

I dont see that vim is creating a file with the same content. it just
creates an empty file to see if it can create a file in the directory it
wants to write to with the right flags afaiui ... check out the code here:

https://github.com/vim/vim/blob/master/src/fileio.c#L3744

Can you explain problems for kubelet with suc

[2017-07-10 19:52] smarterclayton commented on #48388
Was due to a custom admission controller attempting to mutate the job.

[2017-07-10 19:56] davidopp commented on #42002
One thing I forgot that @timothysc had suggested was that we could have scheduler conformance tests that verify that a replacement scheduler meets whatever minimum criteria we have. (This is kinda an automated version of #17208.) This is an excellent idea regardless of what we do with DaemonSet. For example it could verify that the scheduler implements the predicates that are built into kubelet ad