[2020-04-30 01:29] grosser opened #90623 "Admission that tries to add an annotation fails when annotations is nil"
a modifying admission webhook that produces this patch:
[code]
fails when using `kubectl run`
[code]

it even fails when try to initialize annotations before setting:

[code]

this is on 1.17

[2020-04-30 01:30] grosser commented on #90623
/sig api

[2020-04-30 01:30] grosser commented on #90623
/sig api-machinery

[2020-04-30 01:32] tedyu commented on #90589
From the above log, it seems you were experiencing same problem as described in #60987

[2020-04-30 02:01] ZhiFeng1993 opened #90624 "Add support for using parameters and ENV variables to PostStart/PreStop handler"
**What would you like to be added**:
Currently, PostStart and PreStop hook are not supporting taking arguments and ENV variables like a container does. I'd like to add this functionality into them.

**Why is this needed**:
This feature could extend flexibility in container lifecycle hooks.

[2020-04-30 02:43] liggitt commented on #90623
do you have the full patch your webhook is returning to initialize and set the annotations?

[2020-04-30 02:48] liggitt opened #90625 "status.podIP validation is not run during pod/status updates"
**What happened**:
PodIP validation for well-formedness was added in 1.16 in https://github.com/kubernetes/kubernetes/commit/54d42e6a658f84ea66593d3107f41db6931a5fbf

However, it was added to the ValidatePod() validation method, which is called for create/update requests to the main pod resource, not status update requests to the pods/status subresource, which is where pod IPs are actually set by

[2020-04-30 02:51] grosser commented on #90623
[code]

[2020-04-30 02:53] grosser commented on #90623
... if that payload worked it would still:
- leave a race-condition open where multiple webhooks could try to reset annotations
- still be a trap for anyone building admission webhooks

... so ideally it would work without the reset to `{}`

[2020-04-30 02:58] Huang-Wei opened #90627 "TestNominatedNodeCleanUp flakes"
**Which jobs are flaking**:

k8s.io/kubernetes/test/integration/scheduler.TestNominatedNodeCleanUp

**Which test(s) are flaking**:

- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration/1255184557414551553
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration/1255652298948874240

**Testgrid link**:

https://testgri

[2020-04-30 03:01] liggitt commented on #90623
mutating webhooks are run sequentially, so there's no race

Unfortunately, jsonpatch doesn't give a single-operation way to optionally initialize a map and set a child while leaving other members intact if the map already exists.

If the existing object has no annotations, either of these would do what you want (note there are no quotes around the `{}` value):

option 1 - init then set:
[code]
opt

[2020-04-30 03:08] #90623 closed

[2020-04-30 03:37] tedyu commented on #90624
Can you describe your use case in more detail ?

/sig node

[2020-04-30 03:45] nilo19 commented on #90600
/assign

[2020-04-30 04:30] xmapst commented on #79359
In which version was it fixed?
The k8s version I use is:
[code]
windows Server core version:
[code]
The problem still appears @loganhz @ksubrmnn
[code]

[2020-04-30 04:50] MikeSpreitzer opened #90632 "Incomplete list of operations for admission webhook"
**What happened**:
Working on other doc bugs, I went looking for what calls admission plugins.  I found four call sites for validating plugins, documented in https://github.com/kubernetes/website/issues/20673 .  They correspond to the verbs CONNECT, CREATE, DELETE, and UPDATE.  But only two of those verbs are documented at https://github.com/kubernetes/kubernetes/blob/863ce9726e0aa617f03332f42ff3c

[2020-04-30 04:51] MikeSpreitzer commented on #90632
@kubernetes/sig-api-machinery-bugs

[2020-04-30 05:04] liggitt commented on #90632
Looks like docs are correct in https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#matching-requests-rules and https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#request and

[2020-04-30 05:08] liggitt commented on #90632
The API doc can be updated to call out all four operations and clarify that "all" means "all four admission operations"

[2020-04-30 05:59] weili10 commented on #90588
The first if statement only check the 'ready' sandbox count > 1.
I encountered a situation that there were 2 sandbox status in the list, the first is not ready and the second is ready. In this situation it would said there is no ready sanbox found and kill the pod.

[2020-04-30 06:00] weili10 commented on #90588
The first if statement only check the 'ready' sandbox count > 1.
I encountered a situation that there were 2 sandbox status in the list, the first is not ready and the second is ready. In this situation it would said there is no ready sanbox found and kill the pod.

[2020-04-30 06:56] mydockergit commented on #89731
Any update ?

[2020-04-30 06:58] fml2 opened #90633 "Allow to specify char encoding when mounting ConfigMaps as volumes"
**What would you like to be added**:

As decribed [here](https://kubernetes.io/docs/concepts/configuration/secret/#projection-of-secret-keys-to-specific-paths) and [here](https://kubernetes.io/docs/concepts/storage/volumes/#configmap), it is possible to present a configMap entry or a secret as a file to the application.

ConfigMap entries and textual secrets (not the binary ones) are characters; f

[2020-04-30 07:07] liggitt commented on #90633
UTF-8 is the supported encoding for data items. If another encoding is needed, use the binaryData map to plumb the exact bytes you want to inject

[2020-04-30 07:12] liggitt commented on #90633
`kubectl create configmap` detects if the input is valid utf8 and puts non-utf8 content in the binaryData map automatically:

https://github.com/kubernetes/kubernetes/blob/66e3c66eafdcecc49c20f21953b2b069fc17f645/staging/src/k8s.io/kubectl/pkg/generate/versioned/configmap.go#L262-L270

[2020-04-30 07:16] desaintmartin opened #90634 "Container API: document that SecurityContext applies to the Container instead of Pod"
**What happened**:
types.go states that Container.SecurityContext applies to a Pod, which can be misleading since we already have PodSecurityContext.

`Security options the pod should run with.`

**What you expected to happen**:
Documentation states that it applies to container

**How to reproduce it (as minimally and precisely as possible)**:
-

**Anything else we need to know?**:
-

**Environmen

[2020-04-30 07:26] vofish commented on #82943
Hi guys,
I'm trying to set up a k8s cluster on bare-metal.
For now, I have 3 servers with real IP and VLAN interfaces (network: 10.10.0.0/24) connected via vSwitch.
I'm using kubeadm to create a single control plane cluster. I want to configure my cluster running on VLAN, internal IPs with access from the Internet through a real IP of Master node. Is it correct init command?

`kubeadm init --contr

[2020-04-30 07:28] desaintmartin commented on #90634
/sig api-machinery
/kind documentation

[2020-04-30 07:38] tongchao199 commented on #69785
/reopen

@acmore Have you solved this problem？
@k82cn We encountered the same problem？

**What happened**:
We deployed a job with backofflimit 0, parallelism: 1, completions: 1 and enabled pod preemption and priority. However we found that sometimes when a pod is preempted, the status of the job which owns the preempted pod will be updated to active: 1, succeeded: 1, failed: 0, and job controller

[2020-04-30 07:45] tongchao199 opened #90636 "Job status updated succeeded when pod is preempted"
/kind bug
/sig apps
/sig node
/sig scheduling

**What happened**:
We deployed a job with backofflimit 0, parallelism: 1, completions: 1 and enabled pod preemption and priority. However we found that sometimes when a pod is preempted, the status of the job which owns the preempted pod will be updated to active: 1, succeeded: 1, failed: 0, and job controller will complain that too many active pods f

[2020-04-30 08:01] fml2 commented on #90633
This is not enough IMO. Even if the data itself is provided as "valid" UTF-8 (and I want to just specify it as text), I might want to give it as some other encoding to the application. E.g. UTF-16.

[2020-04-30 08:08] circum1 commented on #52757
@adampl I do not manage the k8s cluster, but I guess points 1-2 are ok as gpu-using pods are working if I add nvidia.com/gpu: 1 to the limits.

I am using tensorflow/tensorflow:1.12.0-gpu-py3 image.

Deploying with the following deploy.yaml:

[code]

nvidia is configured:

[code]

If I remove the resource part, and add env, then seemingly nvidia-docker does not configure my pod:

[code]

Result:

[2020-04-30 08:15] tedyu commented on #90588
[code]
Please look at the code on line 428.
In the scenario you described, readySandboxCount should be 1.

Can you attach relevant part of kubelet.log so that we can understand the situation ?

Thanks

[2020-04-30 08:21] circum1 commented on #52757
Reply to myself: the "tolerations:" part is needed to put the pod to the right node... How wonderful would be if I had learn k8s instead of just trying to copy-paste SO answers from here and there :)

[2020-04-30 09:10] eladm26 commented on #90485
Hi @harshanarayana,
I saw this line about mutating `.spec.selector` after creating DeamonSet:
`Also, once a DaemonSet is created, its .spec.selector can not be mutated`
are you sure it doesn't apply to `nodeSelector` as well? because I can see you're using `patch` to update `nodeSelector`.

[2020-04-30 09:13] #85766 closed

[2020-04-30 09:16] harshanarayana commented on #90485
@eladm26 I'm aware of the immutable nature of `spec.selector` but I was trying to test with `nodeSelector` which is a value that can be turned. And it was getting updated without fail. Everytime. Just that the pods would never get scheduled in random cases where the expected count was > 0

[2020-04-30 09:24] sumitKash commented on #70411
I am on kubeadm version :"v1.17.4"

Getting the TLS handshake error, which is causing my kube-apiserver to restart.

`Flag --insecure-port has been deprecated, This flag will be removed in a future version.
I0430 09:13:29.046060       1 server.go:596] external host was not specified, using 192.168.0.109
I0430 09:13:29.046715       1 server.go:150] Version: v1.17.4
I0430 09:13:29.682184       1 plu

[2020-04-30 09:49] permanzh opened #90637 "kubelet.go:2267] node "master1" not found"
install kubernetes with kubeadm, the version is 1.18.2,  kubadm init failed in the master node wth lots of _node "master1" not found_ in /var/log/messages file.

`
● kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/etc/systemd/system/kubelet.service; enabled; vendor preset: disabled)
  Drop-In: /etc/systemd/system/kubelet.service.d
           └─10-kubeadm.conf
   Active: ac

[2020-04-30 09:51] weili10 commented on #90588
I add a log statement
`klog.V(2).Infof("SandBoxStatus: %+v", podStatus.SandboxStatuses)`
at line 434 to print the sandbox statuses, and substitute the massive pod info with xxx in the log.

What I have done is that deploy a pod and then reboot the system, and then try to re-deploy the pod by SyncPod() funciton.

`I0211 16:29:50.617009    3737 kuberuntime_manager.go:480] Syncing Pod "web-always-01b

[2020-04-30 11:47] adampl commented on #52757
@circum1 I guess `nvidia-container-runtime` is not set as the default Docker runtime in your cluster.

[2020-04-30 12:24] neolit123 commented on #90637
this could be a temporary error in the kubelet.

this means you have not applied a CNI plugin with `kubeactl apply ...`. see:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#pod-network

please re-open if you find bugs.
/triage support

/close

[2020-04-30 12:24] #90637 closed

[2020-04-30 12:26] tedyu commented on #90588
How about the following change ?
[code]

[2020-04-30 12:26] hasheddan commented on #87194
/close

[2020-04-30 12:26] #87194 closed

[2020-04-30 12:40] hasheddan commented on #90117
@soltysh I am seeing intermittent failures on `kubectl` test that was addressed in #90364, any thoughts?

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1255806186905669635

[2020-04-30 12:43] hasheddan commented on #90586
@kubernetes/sig-storage-bugs looks like there are a number of `[sig-storage]` failures here, can someone take a look?

[2020-04-30 13:03] aaronsuns commented on #50345
There are so many people encounter exactly the same problem as I have, there are existing files on a existing folder, I want to add more files from a configmap/secret,  it works as subPath, but it not auto-updated when configmap/secret is changed.   would be good to get that work, not lots of symlink or initContainer work around.

[2020-04-30 13:05] rikatz commented on #90590
/assign

@nielsole Maybe this is a dup of https://github.com/kubernetes/kubernetes/issues/51891 ?

[2020-04-30 13:11] cjreyn opened #90641 "kube-proxy not respecting metricsBindAddress"
**What happened**:
kube-proxy binds on IPv6 address when "metricsBindAddress: 0.0.0.0:10249" is set in its config file

**What you expected to happen**:
Since an IPv4 address has been requested, it should bind on IPv4 address 0.0.0.0:10249

**How to reproduce it (as minimally and precisely as possible)**:
Check the config map named "kube-proxy" in the kube-system namespace. This drives kube-proxy

[2020-04-30 13:45] tedyu commented on #90588
@weili10
Can you give us more information about your deployment ?

* version of k8s
* version of CRI

[2020-04-30 13:48] hasheddan commented on #89847
@spiffxp I will try moving it over today 👍

/assign

[2020-04-30 13:56] grosser commented on #90623
thx, I'll try that ... yeh I think the `"{}"` is what got me 🤦

[2020-04-30 14:18] #62861 closed

[2020-04-30 14:24] alculquicondor commented on #90616
I think I prefer option 1.
It looks like the only reason why it's a goroutine instead of a synchronous call is the API request to get an updated pod.

But I think we shouldn't need it. If an update comes in while we were doing a scheduling cycle (with more changes than just status), the pod should go in the active queue, and then we don't need to add it to the unschedulable queue (and that shouldn

[2020-04-30 14:28] nielsole commented on #90590
Thanks for the pointer, it is a duplicate of https://github.com/kubernetes/kubernetes/issues/51891.

[2020-04-30 14:28] #90590 closed

[2020-04-30 14:38] jammerful commented on #49931
/reopen

@DirectXMan12 What would be the best way to try to get this feature prioritized?

[2020-04-30 14:45] flexera-cnixon commented on #85963
https://github.com/FairwindsOps/rbac-manager#dynamic-namespaces-and-labels might be worth a quick look after this.

We could leave the devs with create permissions on namespaces and let the rbac manager add rolebindings based on the namespace labels

[2020-04-30 15:10] cpointner commented on #86281
We experience the exact same problem using Netapp/trident. Ever since we upgraded to Kubernetes 1.17.5 (from 1.16.8) attaching volumes to nodes takes up to 30 Minutes. The cluster is not very big - all in all we have less then 100 PVs and only a few PVCs get created/deleted every day. Also the problem can be reproduced by adding a single PVC and starting one pod that only uses this one new PVC.

A

[2020-04-30 15:11] cjreyn commented on #90641
My mistake, it looks that the bind is on the v6 and the v4 address. Closing.

[2020-04-30 15:11] #90641 closed

[2020-04-30 15:19] #85607 closed

[2020-04-30 15:39] Joseph-Irving commented on #90553
I can reproduce this behaviour on Kubernetes 1.18.0

[2020-04-30 15:46] mlbiam commented on #89163
i started working on plugins to replace this functionality.  i'm willing to take a crack at implementing directly into kubectl.  If I'm reading through the various issues, it appears that all of the apis support websockets (pod/exec and pod/portforward) so its just someone having bandwidth to implement the switch from SPDY to websockets?  or am i over simplifying this?

[2020-04-30 16:12] spiffxp opened #90647 "Very few PRs have merged in the past few days"
https://monitoring.prow.k8s.io/d/d69a91f76d8110d3e72885ee5ce8038e/tide-dashboard?orgId=1&from=now-30d&to=now

https://prow.k8s.io/tide-history?repo=kubernetes%2Fkubernetes&branch=master

Tide is continually retesting PR's but unable to merge them due to flakes or failures.  Batches are more likely to encounter them, and so are basically never merging.  This kills the merge velocity of this repo.

[2020-04-30 16:22] spiffxp commented on #90647
FYI @kubernetes/ci-signal

[2020-04-30 16:26] lavalamp commented on #89163
Yeah, most of the gap here is the need for someone to dig in and work on it.

On Thu, Apr 30, 2020 at 8:46 AM Marc Boorshtein <notifications@github.com>
wrote:

[2020-04-30 16:46] dims commented on #90647
![image](https://user-images.githubusercontent.com/23304/80736826-aabc5c80-8ae0-11ea-8b72-7eb17632bca2.png)

[2020-04-30 16:48] dims commented on #90647
Another instructive link is https://prow.k8s.io/?repo=kubernetes%2Fkubernetes&type=batch&state=failure

[2020-04-30 16:50] tedyu commented on #90588
By injecting pod sandbox in TestSyncPodWithInitContainers, I was able to exercise the mentioned condition.
[code]
with the following proposed change, there would be one SyncResult instead of 5.
[code]

[2020-04-30 16:54] ZhiFeng1993 commented on #90624
@tedyu  sure.

So our use case is to use a K8s Deployment to do health-check for a long-running job running in another cluster. We also hope by cleaning up the health-check Pod, the long-running job it monitors will be cleaned up too by a PreStop hook. That requires taking parameters(like job name) in the PreStop hook that K8s doesn't support in the meantime.

An example yaml file is like:
`apiVer

[2020-04-30 16:55] BurtonQin opened #90651 "staging: test.Fatal() can only be used in test goroutine instead of its child"
**What happened**:
`testing.Fatal()/FailNow()/SkipNow()/...` can only be used in test goroutine.
`t.Fatal()/Fatalf()/FailNow()` "[must be called from the goroutine running the test or benchmark function, not from other goroutines created during the test.](https://golang.org/pkg/testing/#T.FailNow)"

There are four cases related to this kind of bug:
- [ ] staging/src/k8s.io/apiserver/pkg/storage/ca

[2020-04-30 17:02] tedyu commented on #90624
Thanks for the example.
I wonder why the termination of long-running job is contingent on the monitoring job.
The monitoring job may not function normally but long-running job should still run (assuming it is important).

[2020-04-30 17:05] Huang-Wei commented on #90616
I checked the asynchronous call's history, it was introduced 6 years ago... And the comment also assumed it was for temporary use. I think we should enough reasons to optimize it, just need to be cautious for regression. I will craft a PR.

I feel the same.

[2020-04-30 17:25] jayunit100 commented on #90108
/remove-triage unresolved

[2020-04-30 17:37] ZhiFeng1993 commented on #90624
Yes this is a valid point. Associating the healthcheck job with a long-running job is not a best practice, also because of preStop hook is lacking this feature, we had to give up this option eventually. But there are some other cases where we'd like to bind the healthcheck task with(like another healthcheck task). Or we'd like to use the deletion of a Pod as a trigger to some other tasks.

My poin

[2020-04-30 17:40] tedyu commented on #90624
Conceptually I agree with you.

[2020-04-30 17:45] tedyu commented on #90588
@feiskyer
Since you were the author of the underlying code, can you chime in ?

[2020-04-30 17:50] MikeSpreitzer commented on #90632
/good-first-issue

[2020-04-30 18:29] justaugustus commented on #90647
FYI @kubernetes/release-team @kubernetes/release-engineering

[2020-04-30 18:30] spiffxp commented on #90647
Now that https://github.com/kubernetes/test-infra/pull/17454 has merged I think we're waiting to see if verify takes less time

[2020-04-30 18:40] aramase commented on #90186
@tamilmani1989 I'm not able to reproduce this either. Are you able to consistently reproduce this issue?

[2020-04-30 18:41] aramase commented on #90186
/remove-triage unresolved

[2020-04-30 18:42] aramase commented on #86667
/remove-triage unresolved

[2020-04-30 18:45] uablrek commented on #90186
I can reproduce it consistently. I can take it if you like.

[2020-04-30 18:48] ZhiFeng1993 commented on #90632
/assign

[2020-04-30 18:48] James-QiuHaoran commented on #43680
You can get the pod-node information by doing this:

[code]

[2020-04-30 18:50] aramase commented on #90186
@uablrek I'll try it again and see if I can reproduce. If yes, then I would love to take a stab at the fix. If I can't by this week, I'll let you take it :)

[2020-04-30 18:51] ZhiFeng1993 commented on #90624
/assign

[2020-04-30 18:51] wojtek-t opened #90652 "Reduce the number of calls to GCE API (for clusters on GCE) coming from cloud node-controller"
For external cloud provider - Kubelet setting the TaintExternalCloudProvider taint: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_node_status.go#L266

The results in calling `initializeNode` function in cloud node-controller:
https://github.com/kubernetes/kubernetes/blob/5c276a451d64d161b21d70042d93f4c4b8e3201d/pkg/controller/cloud/node_controller.go#L323

This (in a hea

[2020-04-30 18:56] uablrek commented on #90186
@aramase Sound good.

The problem does not exist for ipv6-only only dual-stack, so I think the problem is in the "meta proxier". If I remember correctly a problem is that endpoints have no "ipFamily" as services do so the addresses must be analyzed, set 0 addresses means no addresses to analyze...

[2020-04-30 19:00] BenTheElder commented on #90647
/cc

[2020-04-30 19:08] wojtek-t commented on #76374
@mm4tt - is there anything missing to be done here?

[2020-04-30 19:09] prathameshd9 commented on #17512
All the comments and hacks with nodes worked well for me. I also need something for a higher view to keep track of..like sum of resources per node pool !

[2020-04-30 19:16] alculquicondor commented on #90308
WDYT @Huang-Wei ?

[2020-04-30 19:40] aojea commented on #90625
/remove-triage unresolved

[2020-04-30 19:56] matthias50 commented on #90334
This is what I am seeing now after letting this run for a while:

[code]

It looks like it is cleaning correctly the `n.log` files but is leaving the `n.log.datestamp` and `n.log.datestamp.gz` files

[2020-04-30 19:57] matthias50 commented on #90334
Here are some log entries which might shed light on the problem:
[code]

[2020-04-30 20:07] tedyu commented on #90334
Some .gz files were removed:
[code]

[2020-04-30 20:09] matthias50 commented on #90334
Good point. But for some reason, lots more were left behind.

[2020-04-30 20:14] fedebongio commented on #90514
/cc @lavalamp @MikeSpreitzer
Seems to be related to the Fairness and Priority feature

[2020-04-30 20:15] fedebongio commented on #90581
/cc @caesarxuchao @cheftako

[2020-04-30 20:16] fedebongio commented on #90597
/assign @yliaog

[2020-04-30 20:17] fedebongio commented on #90634
/cc @liggitt @deads2k @mikedanese

[2020-04-30 20:29] tedyu commented on #90334
I don't see the following log from containerLogManager#removeExcessLogs:
[code]
Can you verify whether you were using the patch posted in https://github.com/kubernetes/kubernetes/issues/90334#issuecomment-621490056 ?

Please check the code in containerLogManager#addContainerToMap where I update container in the for loop. This would feed the correct parameter, runningContainer, to removeExcessLogs(

[2020-04-30 20:30] kmala commented on #82743
/remove-lifecycle stale

[2020-04-30 20:54] thockin commented on #90403
If this is not a k8s bug or feature, we should close it

[2020-04-30 20:54] #90403 closed

[2020-04-30 20:55] thockin commented on #90210
Should this be kept open?

[2020-04-30 20:59] thockin commented on #90108
If this is not reproducible and we believe it is not a k8s bug, we should close the issue.

Looking at the logs pasted: "kube-probe/1.13+" is kubelet probing.  Al the rest are coming from 127.0.0.1 - that's FROM INSIDE the pod.  Something internal is poking that URL

[2020-04-30 20:59] #90108 closed

[2020-04-30 21:02] BenTheElder opened #90653 "flake: [sig-node] RuntimeClass should reject a Pod requesting a RuntimeClass with an unconfigured handler"
**Which jobs are flaking**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_kind/1536/pull-kind-e2e-kubernetes/1255955923654938628

**Which test(s) are flaking**:
[sig-node] RuntimeClass should reject a Pod requesting a RuntimeClass with an unconfigured handler

**Testgrid link**:

**Reason for failure**:

[code]

... which isn't that working as intended??

**Anything

[2020-04-30 21:04] hasheddan commented on #89847
`containerd-node-conformance` is green since #17452 https://testgrid.k8s.io/sig-node-containerd#containerd-node-conformance

[2020-04-30 21:09] liggitt commented on #90653
the error it is expecting is a FailedCreatePodSandBox error on the node because there's no handler configured for the runtimeclass

the error it's getting is an admission error trying to create the pod immediately after creating the runtimeclass (the admission plugin populates runtimeclasses via informer and hasn't observed the runtimeclass yet)

[2020-04-30 21:14] bowei commented on #90043
/assign @prameshj

[2020-04-30 21:14] bowei commented on #90043
/remove-triage unresolved

[2020-04-30 21:14] bowei commented on #90043
pavithra -- can you take a look?

[2020-04-30 21:15] liggitt commented on #71646
This is still an issue. There are even first-class e2e helpers that encourage this antipattern (e.g. `e2eevents.WaitTimeoutForEvent`)

/lifecycle frozen

[2020-04-30 21:16] bowei commented on #90043
Looks like is discussion on the linked PR in the DNS repo.

[2020-04-30 21:16] bowei commented on #89917
/remove-triage unresolved

[2020-04-30 21:17] danwinship commented on #90483
What version of kubernetes? Sounds vaguely like #74839 which should be fixed in 1.15 and later

[2020-04-30 21:17] bowei commented on #89917
This is by design, the Ingress object can only target services in the same namespace.
We have been exploring changing this in the service-apis work (which is work in the sig on a redesign of Ingress + some aspects of Service).

[2020-04-30 21:18] cmluciano commented on #90210
I'm fine closing since we are tracking this for the v1 Ingress release.

[2020-04-30 21:19] bowei commented on #89917
Reading through your bugs, I want to clarify that "is not able to communicate" means:

1. you can't write a config to do this.
2. you have a config, but the traffic cannot reach your application.

If this is 1. then this is part of the API, if it is the case for 2., then if you can post an anonymized version of your config, it would be great.

[2020-04-30 21:20] prameshj commented on #90043
This has been fixed in 1.15.12 image.
https://github.com/kubernetes/dns/issues/365

[2020-04-30 21:20] prameshj commented on #90043
/close
Please reopen if needed.

[2020-04-30 21:21] #90043 closed

[2020-04-30 21:23] BenTheElder commented on #90653
per discussion xref: https://github.com/kubernetes/kubernetes/issues/71646

[2020-04-30 21:45] tedyu commented on #90652
The InstanceMetadataByProviderID would be added to every cloud provider, such as aws, azure, etc.
right ?

[2020-04-30 21:55] tedyu commented on #90334
I noticed some iterations were 10 minutes apart:
[code]
If what you pasted was not contiguous in kubelet log, please search for the .gz files which were left undeleted.

[2020-04-30 21:55] thockin commented on #90444
Rather than build this into Kubernetes, can you build it externally?  Specifically, make a Service with no selector as your "local facade".  Write a pod that repeatedly resolves the upstream SRV, filters by whatever criteria you want, and then writes the Endpoints and/or EndpointSlices for the "local facade".

Now you are using all the "normal" kubernetes logic and you don't need to fight to get a

[2020-04-30 21:55] Harriiup commented on #60807
De seguro les sera util este articulo:

https://access.redhat.com/solutions/5038511

En realidad lo que existe es un conflicto en las apiservices, podrian validar el estado de salud de las apis en openshift :

oc get apiservices -o=custom-columns="name:.metadata.name,status:.status.conditions[0].status"

la api que falle necesitarán reiniciarla , reiniciando el pod o el deployement que pertenezca

[2020-04-30 21:58] theAkito commented on #60807
Pretty disrespectful to use your own language in a place where everyone agrees to speak English. 👎

[2020-04-30 22:00] chris-brace commented on #60807
Where does everyone agree to speak English?

On Thu, Apr 30, 2020 at 17:58 theAkito <notifications@github.com> wrote:

--
Chris, Lead Architect @ brace.ai

--

Confidentiality Notice: This email is intended for the sole use of the
intended recipient(s) and may contain confidential, proprietary or
privileged information. If you are not the intended recipient, you are
notified that any use, review,

[2020-04-30 22:10] thockin commented on #90236
Cool.  This will be fun.

While it seems that localhost nodeport might be a weird thing, I know that there are people who use it.  The example that immediately comes to mind is an in-cluster docker registry that uses a NodePort to be available to kubelet as "localhost:32100".  This works because, while docker demands TLS for registries, it makes a special exception for localhost.  So a pod can say

[2020-04-30 22:11] #90210 closed

[2020-04-30 22:12] Harriiup commented on #60807
ready, excuse me it was for my speed, it was fixed

[2020-04-30 22:21] lavalamp commented on #60807
We have a multi lingual user base, it's bad enough that none of our tools are internationalized, we can at least be nice here on github, please.

[2020-04-30 22:25] jasonraimondi commented on #23013
We had the same problem on v1.15.10 with Daemon Set only using 3/9 available nodes. After attempting all sorts of solutions. The fix was to roll the nodes and let the Daemon Set find the new nodes.

[2020-04-30 22:34] alculquicondor commented on #88028
@notpad can you do that?

[2020-04-30 22:40] alculquicondor commented on #88093
I'll tackle this next, after #90657, but just focusing in PluginArgs.
I plan to call the validation functions that will live in `pkg/scheduler/apis/config/validation` from the relevant places in the framework.

[2020-04-30 22:53] anguslees commented on #90259
This seems relevant background: https://github.com/kubernetes/kubernetes/issues/6910

[2020-04-30 22:53] alculquicondor commented on #87703
@fengzixu can you still work on this?

[2020-04-30 22:54] alculquicondor commented on #87703
https://github.com/kubernetes/kubernetes/blob/dbbf868014039cfdf1e5e98a8efa532141a9fcc5/pkg/scheduler/factory_test.go#L176

[2020-04-30 23:15] aojea commented on #74551
I was going through the issue and I don't have clear that all the errors commented here are SPDY problems, some of the errors mentioned in that issue seems network related issues, some extract from different comments:

* `socat[8709] E connect(5, AF=2 127.0.0.1:88, 16): Connection refused`
* `read: connection reset by peer`
* `write: broken pipe Handling connection for 8080`
* `socat[23094] E writ

[2020-04-30 23:19] spiffxp commented on #90647
We had a batch of 4 merge, I suspect many of the others may no longer qualify as eligible since they don't have the new pull-kubernetes-remake-files test

[2020-04-30 23:20] aojea commented on #89163
Regarding SPDY , I guess that some of the problems will be alleviated implementing a keepalive to avoid that intermediate devices close the connections, @ereslibre started one PR related https://github.com/kubernetes/kubernetes/pull/81179/files#diff-3bbfcb7dde16b70158fb46470c7fb745R23

[2020-04-30 23:38] liggitt commented on #90633
Only if you require providing input as UTF-8 and mapping that to non-UTF8 content as a file. That is a very niche use case. If you need to provide non-UTF8 charset data, using the binaryData field allows you to do that.

I don't anticipate making API and kubelet changes to support config charset translation.

[2020-04-30 23:38] #90633 closed

[2020-05-01 00:02] fengzixu commented on #87703
Ok. It seems like the #88027 was finished. Let me do it

[2020-05-01 00:23] brona90 commented on #68712
bump

[2020-05-01 01:35] leexiaominghub opened #90661 "Which component guarantees that the modification of the configmap conforms to the configmap format?"
ie, when I add "- --v=4" to kube-proxy as flag after "--config" flag, it report an error and forbid this modification, however,  it is ok when put it just after kubeproxy.  It makes me confused.

does apiserver do this? and which port of apiserver do this ?thanks

**What would you like to be added**:

**Why is this needed**:

[2020-05-01 01:42] tedyu commented on #90334
Updated patch where cleanupUnusedLogs(logs) is only called for running container:
[rm-excess-log-4.txt](https://github.com/kubernetes/kubernetes/files/4562148/rm-excess-log-4.txt)

[2020-05-01 02:30] #90625 closed

[2020-05-01 02:33] tedyu commented on #90334
Updated patch where cleanupUnusedLogs(logs) is only called for running container:
[rm-excess-log-4.txt](https://github.com/kubernetes/kubernetes/files/4562278/rm-excess-log-4.txt)

Also simplified containerWithLog struct with the Container fields we use. This decouples the struct from Container struct pointer so that the new code doesn't get in the way of go GC.

[2020-05-01 02:47] feige0304 commented on #85338
i had the same problem, but not found the solution.  @shaopenghui

[2020-05-01 02:51] feige0304 commented on #82126
I also have this problem
I found that the state of the containers is running when I describe pod
However, in fact, this container does not exist
k8s version:1.15.9
docker version:18.09

[2020-05-01 02:53] feige0304 commented on #82126
this issue should be reopened.

[2020-05-01 02:56] tedyu commented on #85338
1.15.3 was quite old.

@tedburner @feige0304
If you have kubelet log around the time Linux was rebooted, mind attaching to this issue ?

Thanks

[2020-05-01 03:37] liggitt commented on #89212
/cc @karan

[2020-05-01 04:06] justaugustus commented on #90416
/assign
I'm handling the last mile on configuring image building for the base images.

[2020-05-01 04:23] heyste opened #90663 "Add deleteCoreV1CollectionNamespacedPod Mock Test - +1 endpoint coverage"
# Progress <code>[2/6]</code>

-   [X] APISnoop org-flow: [deleteCoreV1CollectionNamespacedPodTest.org](https://github.com/cncf/apisnoop/blob/master/tickets/k8s/deleteCoreV1CollectionNamespacedPodTest.org)
-   [X] Test approval issue: [kubernetes/kubernetes#90663](https://github.com/kubernetes/kubernetes/issues/90663)
-   [ ] Test pr: kuberenetes/kubernetes#
-   [ ] Two weeks soak start date: test

[2020-05-01 04:37] BurtonQin commented on #90651
/sig Testing

[2020-05-01 04:47] tamilmani1989 commented on #90186
@aramase Not consistent but i could repro it more often. I kept the kubenet cluster for long time. jut deleted recently. I can create a repro and share you access to cluster if you are not able to repro

[2020-05-01 04:56] zhan849 opened #90664 "Kube-apiserver has timeout talking to etcd, probably due to etcd socket leak"
**What happened**:
API server panic due to timeout talking to etcd (k8s 1.16.8, etcd 3.3.10)

[code]

checked with etcdctl inside etcd pod, it's failed to connect to server as well, due to `connect: cannot assign requested address`

[code]

etcd process has ~25k open socket
[code]

kernel configuration leaves ~28k socket for process
[code]

Checked a few etcd pods the error is the same, and open s

[2020-05-01 05:34] tongchao199 commented on #34300
I also encounter this issue and it's because of multiple docker container has 172.17.0.3 ip address, so that iptables forward request to another container.

You can manually test whether rsync container is normal by the following command.
[code]

[2020-05-01 05:58] gongguan commented on #90652
/assign
Hi @tedyu , if you're interested in it, I can work with you.

[2020-05-01 06:04] bgrant0607 commented on #3268
@brianpursley Yes, I think it's addressed by kustomize, or at least addressed as it's going to be. kubectl has a long-established, documented convention of specifying files and directories explicitly.
/close

[2020-05-01 06:04] #3268 closed

[2020-05-01 06:40] uablrek commented on #90236
a) If the only reason for net.ipv4.conf.all.route_localnet=1 is access 127.0.0.1:nodeport this option has my vote.

b) I have encountered this problem before when trying to get ipv6 working on K3s, https://github.com/rancher/k3s/issues/284#issuecomment-485782658.
I tried quite hard to find a solution, even checked kernel code which I don't do often nowdays, but I could not find any way to make it

[2020-05-01 07:03] KlavsKlavsen commented on #90259
Well - thats what the documentation says it does.. :)

Here are some further explanation (by other people) - that seems useful https://security.stackexchange.com/questions/137602/what-are-the-security-implications-of-net-ipv4-conf-eth0-route-localnet-1-rout

[2020-05-01 07:40] #90506 closed

[2020-05-01 07:40] #89520 closed

[2020-05-01 07:41] #90160 closed

[2020-05-01 08:09] gaetansnl opened #90666 "Kubelet sending thousands of request and CPU usage 100%"
**What happened**:
Kubelet CPU usage on one host becoming crazy. The other node is fine.
**What you expected to happen**:
Nothing, the server wasn't used.
**How to reproduce it (as minimally and precisely as possible)**:
Here is a screenshot of the buggy node
![QYFZ5LNXc8f8RaU83ioiqYJ0B](https://user-images.githubusercontent.com/8348807/80791695-b6685b80-8b92-11ea-9e47-117f5530af54.png)

In kubele

[2020-05-01 08:16] montanaflynn commented on #74551
@aojea the original issue and myself both have the error:

`error copying from remote stream to local connection ... write: broken pipe`

Full errors:

[code]

I think the other commented errors should be addressed in a separate issue so we could nail down why this specific error happens and fix it.

I get the error when I `port-forward` directly to haproxy, redis or postgres pod and try to read a

[2020-05-01 08:30] gaetansnl commented on #90666
/sig node

[2020-05-01 08:50] #90611 closed

[2020-05-01 09:34] wojtek-t commented on #90652
Yes - we need to do that (which is why I wrote it's quite significant refectoring). It also makes reviews harder, because we will need to ask maintainers of all cloud-providers.
So it would be good to separate changes to different cloud providers into separate commits.

[2020-05-01 09:49] hkamel opened #90667 "[Failing Test] gce-ubuntu-master-containerd (ci-kubernetes-e2e-ubuntu-gce-containerd)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

**Anything else we need to know**:

/cc @kubernetes/ci-signal
/milestone v1.19
/priority critical-urgent
/sig testing

[2020-05-01 09:52] hkamel opened #90668 "[Failing Test] gce-ubuntu-master-default (ci-kubernetes-e2e-ubuntu-gce)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

**Anything else we need to know**:

/cc @kubernetes/ci-signal
/milestone v1.19
/priority critical-urgent
/sig testing

[2020-05-01 10:22] fml2 commented on #90633
Maybe if I describe our use case I'd nor close the issue right away.

We create our ConfigMaps not directly via K8s command line or API. We rather use Spinnaker to to this. There, we either use scripts or the GUI. In the end, we only work with text, and not with bytes. We do not know what encoding is used to store the values. It's internal details not visible to us. It could even be EBCDIC. We don

[2020-05-01 11:23] pytimer opened #90669 "Pod with hostNetwork cannot updated when replicas equal to nodes and one of nodes notReady"
**What happened**:

Pod with hostNetwork cannot updated when deployment replicas equal to nodes and one of nodes status `NotReady`. I use `RollingUpdate` and `Recreate` strategy, these are the same problem.

**What you expected to happen**:

I hope pod can updated when update the deployment.

**How to reproduce it (as minimally and precisely as possible)**:

- apply deployment

[code]
- shutdown o

[2020-05-01 11:25] pytimer commented on #90669
/sig apps

[2020-05-01 11:39] #85834 closed

[2020-05-01 11:39] aojea commented on #90236
I think that we should correct the title, is not totally accurate, because [::1]:nodeport works, is just that it does not work if the source address is localhost.

I've tested it creating a NodePort service, in this example listening in port 30815. I'm running all commands in the same node that runs the pod with the service.

I can access the NodePort service in the node IP address, as expected:

[2020-05-01 11:46] hasheddan commented on #90667
/milestone v1.19

[2020-05-01 11:46] hasheddan commented on #90668
/milestone v1.19

[2020-05-01 12:03] hasheddan commented on #90668
I am seeing the same error listed above on successful runs as well so I think the issue might be elsewhere

[2020-05-01 13:28] liggitt commented on #90633
To plumb content in unknown arbitrary charsets with fidelity, you would need to use binaryData.

[2020-05-01 14:01] vpickard commented on #84749
@cbf123 I think this issue was resolved with PRs for https://github.com/kubernetes/kubernetes/issues/83476
Do you agree? If so, please close this issue. If, however, the issue is still there, please update with your observations. Thanks.

[2020-05-01 14:20] hkamel commented on #90668
/assign @dims

[2020-05-01 14:20] hkamel commented on #90667
/assign @dims

[2020-05-01 14:31] raghuchahar007 commented on #90483
Master version:
1.14.10-gke.27

[2020-05-01 14:32] aojea commented on #74551
I've tried to reproduce it locally without success, but I don't know if I'm missing something, I've used iperf instead of the other reproducer https://github.com/kubernetes/kubernetes/issues/74551#issuecomment-490988621 to avoid possibles issues with golang or the custom implenentation, iperf is very mature in this area ;).

These are the steps I followed:

1. Create a multinode cluster with kind

[2020-05-01 14:37] yeganeahmadnejad commented on #90589
@tedyu yes I think so , is there any solution ?

[2020-05-01 14:38] yeganeahmadnejad commented on #60987
#90589
how can fix this problem?

[2020-05-01 14:42] #85821 closed

[2020-05-01 14:52] tedyu commented on #90666
Can you give snippet of the log showing 'use of closed connection' ?

Next time this occurs, please get profile of the kubelet process.

What version of Calico are you using ? (I assume all other nodes have calico as well)

Thanks

[2020-05-01 15:18] wakeupcolumn commented on #27882
Is there is a way to reduce the 5 mins time of heartbeat?

[2020-05-01 15:55] tedyu commented on #90664
What's the version of etcd in your cluster ?

thanks

[2020-05-01 15:57] heckad commented on #89995
@riking?

[2020-05-01 16:00] montanaflynn commented on #74551
@aojea so I actually just tried to reproduce the issue with haproxy, postgres and redis but was unable to get the same error as before.

We did upgrade our kubernetes from 1.12.x to 1.13.x since I originally commented, not sure if that fixed it as another user mentioned upgrading fixed the problem for them as well.

Didn't have any errors with iperf either, if possible I would suggest trying it on

[2020-05-01 16:11] ysimonson commented on #74551
I haven't seen this issue in a while either, whereas it came up on a daily basis about a year ago. I think it was fixed somewhere between v1.10.11 and v1.15.5.

[2020-05-01 16:19] aojea commented on #74551
I'm afraid that the 1.12.x is not going to receive any backport, the last supported version is 1.16

https://kubernetes.io/docs/setup/release/version-skew-policy/

If this fixed in 1.16 and later versions I think that this issue should be closed, but as I said before, I'm happy to investigate if somebody can point me to a way to reproduce it in a supported version

[2020-05-01 16:44] #85835 closed

[2020-05-01 17:04] gaetansnl commented on #90666
![ciDadPipirILsbf52GVjnmLlb](https://user-images.githubusercontent.com/8348807/80824129-1afcd800-8bde-11ea-9d09-5add6483ade5.png)

And I use `rancher/calico-node:v3.13.0`

[2020-05-01 17:04] TonyLovesDevOps opened #90677 "AWS: Error creating security policy on load balancer when using custom SSL negotiation policy."
**What happened**: I received the error `failed to ensure load balancer: error creating security policy on load balancer: "ValidationError: Invalid Reference Security Policy: k8s-SSLNegotiationPolicy-test` when using the `service.beta.kubernetes.io/aws-load-balancer-ssl-negotiation-policy` annotation to reference a custom policy, as part of following [the instructions in this comment](https://gith

[2020-05-01 17:05] zhan849 commented on #90664
@tedyu 3.3.10

[2020-05-01 17:11] tedyu commented on #90666
Have you seen #87615 ?

In the future, please paste text instead of image - text is easier to search.

[2020-05-01 17:27] TonyLovesDevOps commented on #90677
/sig cloud-provider

@k8s-ci-robot I have no idea what I'm doing but I trust that you have this in hand.

[2020-05-01 18:13] spiffxp commented on #90647
A 15 PR batch merged in around 12:45am PT today

[2020-05-01 18:28] andrewsykim commented on #89520
v1.18 cherry-pick https://github.com/kubernetes/kubernetes/pull/90678

[2020-05-01 18:38] tedyu commented on #90664
I did a brief search. 3.3.10 didn't include the following fixes:
[code]
[code]

[2020-05-01 18:40] zhan849 commented on #90664
thanks!! will these fixes potentially fix the socket leak as well?
also which version do these PRs gets included?

[2020-05-01 18:43] tedyu commented on #90664
The older fix was in:
[v3.3.11](https://github.com/etcd-io/etcd/releases/tag/v3.3.11) (2019-01-11)

The newer fix should be in:
[v3.4.7](https://github.com/etcd-io/etcd/releases/tag/v3.4.7) (2020-04-01)

[2020-05-01 19:15] evgenmedia commented on #74551
Hello everybody! Got the same error when run helm in tiller-deploy pod :(

E0501 19:13:40.230413      14 portforward.go:400] an error occurred forwarding 42309 -> 44134: error forwarding port 44134 to pod 03a12c5d4dd5160ad83ed45813ec706afd9309c905884aaeccca818c03cbdcf6, uid : exit status 1: 2020/05/01 22:13:40 socat[32022] E write(5, 0x5628c782eea0, 24): Broken pipe

root@master-1:~# kubectl versi

[2020-05-01 19:42] marcusjwhelan commented on #49792
Why was this issue closed? It seems like this is still something that many people are asking for.

And easy example is having a game server cluster. Each server needs its own port. With Terraform you could then take that output of ports and use them.

[2020-05-01 19:47] #80577 closed

[2020-05-01 19:53] stephan2012 commented on #85761
Seeing the same behavior. Changing the `StatefulSet` does not trigger any activity on _same_ clusters. We are running Kubernetes v1.15.4 here.

The Pod looks okay and especially is in Ready state:

[code]

The StatefulSet on the other hand shows _not_ ready:

[code]

However, looking into the details I cannot find anything unsual:

[code]

Same as YAML output:

[code]

Looks like the StatefulSet d

[2020-05-01 19:56] stephan2012 commented on #85761
… and just as expected, after killing the running Pod a fresh one is created from the updated spec. The StatefulSet shows ready then:

[code]

[2020-05-01 20:09] damemi opened #90679 "Pod affinity with operator "DoesNotExist" does not work"
**What happened**:
When creating a pod with `PodAffinity` operator `DoesNotExist`, the pod will always land on a node that it should not. (For example, if PodA is on Node1 with the label `foo`, and PodB is created with a Pod Affinity for `DoesNotExist` against label `foo`, PodB will always be scheduled to Node 1)

Note that this is probably not intended behavior, but could be considered a WONTFIX

[2020-05-01 20:11] damemi commented on #90679
/sig scheduling

[2020-05-01 20:28] tedyu commented on #90588
@weili10
Does my proposed fix in https://github.com/kubernetes/kubernetes/issues/90588#issuecomment-621973387 make sense ?

[2020-05-01 20:56] RochesterinNYC commented on #50032
We (Spotify) would also like this/have a use case for it. We have some logic in our nginx Docker base images used here to enable graceful shutdowns for apps on K8s using this image. Some of the timing in the logic could be improved by having it take or calculate values based on the container/Pod's `terminationGracePeriodSeconds` (which we'd like to access as an env var in the container).

[2020-05-01 22:50] #76345 closed

[2020-05-01 22:54] SimonHeimberg commented on #65825
I directory was created on my system as well.

First hostPath failed with type: File, even if the file was existing. (It reported not a file.)
Then I changed to type: FileOrCreate. This failed as well.
Then I changed the path to an unexisting one. A **directory** was created.
I deleted the directory, created a file and restarted the pod. It worked now.
When I delete the file and restart the pod, a

[2020-05-01 23:01] lavalamp commented on #90514
I do think there's room to apply APF ideas to the workqueue, so that controllers don't spend all their time on a big namespace and starve out a little namespace.

Note that some work on this already happened for "endpoint slice", but IIRC there we decided a fixed delay was sufficient for the moment. https://github.com/kubernetes/kubernetes/issues/88967

[2020-05-01 23:22] spiffxp commented on #90647
/remove-priority critical-urgent
/priority important-soon
Downgrading priority as we seem to be back at an expected pace.  Leaving open for the weekend in case there is remaining cleanup to be done

[2020-05-01 23:28] rgarcia89 commented on #86762
@DeanYang121
Hi quick question coredns pod runs within the pod cidr. API server pod on the host network. So it is the normal behavior that they run in different cidrs.

Could you please explain in more detail what exactly you have done to fix this issue.

Thanks in advance

[2020-05-01 23:47] tallclair commented on #12968
I know the readonly port is deprecated, but I want to highlight some of the challenges that need to be solved before migrating off it entirely.

1. [Fine grained Kubelet API authorization](https://github.com/kubernetes/kubernetes/issues/83465) - There is not currently a subset of permissions that grants all the behavior of the readonly port, but none of the more sensitive behavior (notably code ex

[2020-05-02 00:19] rajakshay commented on #57249
Is there any plans on adding this feature. We are running into the same issue mentioned here: https://github.com/kubernetes/kubernetes/issues/57249#issuecomment-450539833

This would be a really nice feature to have. I can pickup this work. TBH, I am a little surprised that there hasn't been much movement or ask for this feature yet.

[2020-05-02 00:52] #85692 closed

[2020-05-02 01:18] jingxu97 commented on #56005
@andyzhangx with csi-proxy project, I think it provides a way to implement a generic CSI smb driver. Do you still have interests in working on it?

[2020-05-02 01:23] andyzhangx commented on #56005
yes, it's tracking here: https://github.com/Azure/kubernetes-volume-drivers/issues/48,  will work out a working driver first.

[2020-05-02 01:53] andyzhangx commented on #56005
the new driver functionality is actually  subset of https://github.com/kubernetes-sigs/azurefile-csi-driver since it won't need dynamic provisioning, I am planning to create a new project, e.g. `smb-csi-driver`, put it under https://github.com/kubernetes-sigs/ finally.
The new CSI driver https://github.com/kubernetes-sigs/smb-csi-driver would work on both linux and windows node, and it only provid

[2020-05-02 02:20] jingxu97 commented on #56005
@andyzhangx that's great! Wondering whether we need to open a KEP for this or not in here https://github.com/kubernetes/enhancements/tree/master/keps/sig-windows?

[2020-05-02 04:45] 13567436138 opened #90685 "wait panic"
**What happened**:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1step: get an yaml
[code]
2step:run
 kubectl wait --for=condition=ready  --local -f nginx-01.yaml

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-

[2020-05-02 04:56] #79397 closed

[2020-05-02 06:49] shyamjos commented on #84142
This bug is affecting us badly , Is this fix merged in 1.16.x release ? if not is there a temporary solution to fix this issue

[2020-05-02 07:16] BenTheElder commented on #90685
/sig cli

[2020-05-02 08:11] gireeshpunathil commented on #87744
no acknowledgement for 3 months. sad!

/remove-lifecycle stale

[2020-05-02 08:18] BenTheElder commented on #69588
https://github.com/kubernetes/kubernetes/pull/69589/files#r418929810

[2020-05-02 09:00] #84367 closed

[2020-05-02 09:04] sebgl commented on #47711
Happens to us once in a while: https://github.com/elastic/cloud-on-k8s/issues/2602#issuecomment-622886052.

We have a process creating a service, then a test deleting that same service, which ends up being automatically recreated. Once in a while (every ~100 test), the re-created service never gets any endpoints, even after waiting for several hours. I'm fairly confident recreating the service aga

[2020-05-02 09:49] tongchao199 commented on #90636
/sig node

[2020-05-02 09:49] tongchao199 commented on #90636
/sig scheduling

[2020-05-02 09:54] hkamel opened #90686 "[Flaky Test] capg-conformance-v1alpha3-k8s-master (ci-cluster-api-provider-gcp-make-conformance-v1alpha3-k8s-ci-artifacts)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

Deleting cluster "clusterapi" ...

**Anything else we need to know**:

/cc @kubernetes/ci-signal
/milestone v1.19
/priority critical-urgent
/sig testing
/project 11 To do

[2020-05-02 09:56] fml2 commented on #90633
OK, I understand. Shouldn't it then be documented that, when a text configMap entry is mounted as a file, it's provided using UTF-8 encoding? And that if some other encoding is desired, binaryData should be used to fully control it?

[2020-05-02 12:56] feiskyer commented on #90588
There're already two conditions are checked: `readySandboxCount > 1` and `sandboxStatus.State != runtimeapi.PodSandboxState_SANDBOX_READY`. And this two checks are matched with the above comment `Needs to create a new sandbox when readySandboxCount > 1 or the ready sandbox is not the latest one`.

I don't think we should check `unreadySandboxCount` because regardless of unreadySandboxCount, if the

[2020-05-02 13:03] tedyu commented on #90588
@feiskyer
I was modifying the condition when you made the above comment.
What do you think of the following where if the sandbox with highest attempt is unready, we create new sandbox ?
[code]

[2020-05-02 13:12] feiskyer commented on #90588
I think it should always check the latest one. whenever there're new sandbox created, all older ones should be killed if they're still running.

[2020-05-02 13:15] hasheddan commented on #90686
/milestone v1.19

[2020-05-02 13:18] tedyu commented on #90588
Can you clarify the condition for identifying latest one ?
In the above snippet, I check by highest attempt number. This should serve as the indicator for latest sandbox.

[2020-05-02 13:22] feiskyer commented on #90588
I mean creation time. See the codes here https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_sandbox.go#L272.

[2020-05-02 13:32] tedyu commented on #90588
@weili10
Can you provide more of the kubelet.log so that we can get idea how the two sandboxes statuses were formed ?

[2020-05-02 13:40] hasheddan commented on #39420
@MrHohn any updates here? Is there opportunity for non-GKE folks to help drive this effort forward?

[2020-05-02 13:43] tedyu commented on #90588
@feiskyer
In getSandboxIDByPodUID(), Attempt number is not considered.
Do you know why Attempt number is excluded in sorting criteria ?

From the code in kubeGenericRuntimeManager) podSandboxChanged, it seems Metadata.Attempt is more important.
[code]

[2020-05-02 13:53] brianpursley commented on #89360
@1wpro2 yeah, I'm using kind, but running using hack/local-up-cluster.sh and running a custom apiserver.

the apimachinery code is used on both client and server I believe.

I got some more time and looked into it last night and think I was actually on the right track before.  I made my change again and all e2e's are passing, but not completely satisfied with how I made the change yet so I'm still

[2020-05-02 14:15] tedyu commented on #90685
The panic may have happened on the following line:
[code]
Can you fill in 'How to reproduce it' section ?

[2020-05-02 15:32] tongchao199 commented on #90636
The reason for this issue is that the kubelet status manager TerminatePod function initializes the Terminating state
https://github.com/kubernetes/kubernetes/blob/release-1.14/pkg/kubelet/status/status_manager.go#L277
When syncPod, calling getPhase through generateAPIPodStatus will update the pod status to succeeded
https://github.com/kubernetes/kubernetes/blob/release-1.14/pkg/kubelet/kubelet_pod

[2020-05-02 15:32] #90636 closed

[2020-05-02 15:39] mitar commented on #69640
/remove-lifecycle stale

[2020-05-02 16:00] tedyu commented on #90588
@weili10
How long has your cluster been running ?

I was curious about the CreatedAt value of the second sandbox in your posting which seemed quite old.

[2020-05-02 16:18] waelghaith commented on #71907
I have same issue, there is any solution?

[2020-05-02 16:35] suxiaohei commented on #48819
@Hades32 close terminal proxy.

[2020-05-02 17:35] mlbiam commented on #89163
I've got a POC working with the gorilla library for websockets (https://godoc.org/github.com/gorilla/websocket).  My original assumption was that the preference would be to use go's built in library but https://godoc.org/golang.org/x/net/websocket states pretty clearly to use gorilla or https://godoc.org/nhooyr.io/websocket.  Is there a preference?  Gorilla seems to be the library most referenced.

[2020-05-02 17:39] msau42 commented on #56005
Would Kubernetes-csi be a good place for a generic smb driver? We already have common build and release infrastructure. Also generic nfs driver is also in the same org.

[2020-05-02 17:54] afrouzMashaykhi commented on #90669
Is it a bug? it seems logical to me.
`Events:
  Type     Reason            Age               From               Message
  ----     ------            ----              ----               -------
  Warning  FailedScheduling  8s (x2 over 93s)  default-scheduler  0/3 nodes are available: 1 node(s) had taints that the pod didn't tolerate, 2 node(s) didn't have free ports for the requested pod ports.
`

[2020-05-02 19:39] rsparulek opened #90692 "Garbage Collector does not clean up service objects correctly with "Foreground" propagation policy"
**What happened**:
[code]

**What you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
[code]
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
[code]
- Kernel (e.g. `uname -a`):
[code]
- Install tools:
- Netw

[2020-05-02 19:55] hkamel commented on #90686
Successful since last two runs, update it from Failing to Flaky

/retitle [Flaky Test] capg-conformance-v1alpha3-k8s-master (ci-cluster-api-provider-gcp-make-conformance-v1alpha3-k8s-ci-artifacts)

/remove-kind failing-test
/kind flake

[2020-05-02 20:10] rsparulek commented on #90692
/sig cluster-lifecycle

[2020-05-02 20:11] #85895 closed

[2020-05-02 20:17] harshanarayana commented on #87989
Noticed this issue again on a [new job](https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/90690/pull-kubernetes-e2e-kind-ipv6/1256668931205107712)

[code]

[2020-05-02 21:00] JohnStarich commented on #23130
We had the same issue with our cross-compiled macOS binaries.

I've created a library that fixes this for our own CLI users: https://github.com/JohnStarich/go/tree/master/dns
[code]

It's not the "right" solution, but it does actually work with CGO disabled. Hopefully the above mentioned [Go issue][] will get some progress soon.

[Go issue]: https://github.com/golang/go/issues/12524#issuecomment-6

[2020-05-02 21:12] #44273 closed

[2020-05-02 21:58] rsparulek commented on #77081
We are still hitting this issue on K8S 1.18.2 ; have created a new issue for tracking that -> https://github.com/kubernetes/kubernetes/issues/90692

[2020-05-02 22:06] liggitt commented on #90692
Thanks for the report. This looks like a duplicate of https://github.com/kubernetes/kubernetes/issues/90512 and is likely specific to services due to its customized delete handler.

[2020-05-02 22:06] #90692 closed

[2020-05-02 22:07] liggitt commented on #90512
Also reported in https://github.com/kubernetes/kubernetes/issues/90692

[2020-05-02 22:12] rsparulek commented on #90692
/sig api-machinery

[2020-05-02 22:13] #83900 closed

[2020-05-02 22:38] hixichen commented on #77662
It seems a good idea to have type as field selector.

not sure why this is closed.

[2020-05-02 23:05] aojea commented on #88220
/close

per last SIG-network meeting decision, support issues without an answer from the reporter for more than 1 month will be closed.
Feel free to reopen

[2020-05-02 23:05] #88220 closed

[2020-05-03 01:03] Pingan2017 commented on #90669
port conflict
Using `Recreate` strategy and delete pod manually

[2020-05-03 03:20] pytimer commented on #90669
@afrouzMashaykhi @Pingan2017 I hope pod can update automatically, not delete manually. And delete pod should use `kubectl delete pod --force` when using `Recreate`.

[2020-05-03 03:24] justaugustus opened #90698 "'pause' base image updates & building on K8s Infra"
**What would you like to be added**:

Our core/base images should be built and housed on Kubernetes Community Infra.

- `pause`

**Why is this needed**:

We currently depend an extremely small set of Googlers to push these images.
There's minimal public documentation or visibility into this process and it creates a bottleneck when trying to do updates. This is especially detrimental from a securit

[2020-05-03 07:43] andyzhangx commented on #56005
@msau42 thanks, the new smb driver should be under
https://github.com/kubernetes-csi/csi-driver-smb

Since this driver would work on both linux and windows node, not sure it's necessary to open a KEP on sig-windows.

Anyway, let me work out an initial working version first. Should not take too much time.

[2020-05-03 07:50] castlemilk commented on #89195
This does indeed seem to answer why this is occuring! thanks 😄

[2020-05-03 07:50] #89195 closed

[2020-05-03 09:47] vsxen commented on #90624
Get start & stop msg from event API ？

[2020-05-03 13:16] hkamel opened #90701 "[Failing Test] kind-ipv6-master-parallel (ci-kubernetes-kind-ipv6-e2e-parallel)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

[sig-cli] Kubectl client Simple pod should support inline execution and attach expand_less | 1m14s
-- | --
test/e2e/kubectl/kubectl.go:549 May  3 12:13:48.584: Expected     <string>:  to contain substring     <string>: stdin closed test/e2e/kubectl/kubectl.

[2020-05-03 13:18] hkamel commented on #90701
/sig cli

[2020-05-03 13:29] hasheddan commented on #90701
@hkamel Thanks for catching this! It looks like this might just be 3 flakes in a row. If we see some subsequent green runs could you close this in favor of https://github.com/kubernetes/kubernetes/issues/90117?

/milestone v1.19

[2020-05-03 13:30] hasheddan commented on #90701
Actually looks like we just had a green run 👍

/close in favor of #90117

[2020-05-03 13:32] hasheddan commented on #90701
/close

[2020-05-03 13:33] #90701 closed

[2020-05-03 14:22] #86827 closed

[2020-05-03 14:29] #66560 closed

[2020-05-03 14:31] klatek commented on #37471
same issue here:
ran from Win CMD
kubectl version v1.18.0
minkube version 1.9.2

If it is possible because I don't have docker installed on WIN machine whatsoever?

[2020-05-03 15:55] Ulexus opened #90704 "DualStack: Baremetal kubelet only sets NodeStatus with a single IP, even in DualStack mode"
**What happened**:

When a baremetal host node has both an IPv4 address and an IPv6 address, the kubelet's status update will only use the first IP address which matches the _primary_ address family, even when the Dual Stack feature flag is enabled.

**What you expected to happen**:

Both IPv4 and IPv6 addresses should be added to the `Node.Status.Addresses` list.

**How to reproduce it (as minima

[2020-05-03 15:56] Ulexus commented on #90704
/sig network
/sig node

[2020-05-03 15:59] ddl-retornam commented on #55046
/remove-lifecycle rotten

[2020-05-03 16:03] Ulexus commented on #90704
I have a patch which works locally, but I'm not familiar enough with the ramifications this change might entail.

[2020-05-03 18:58] DragD opened #90706 "kubectl does not generate namespace in yaml for dry run"
**What happened**:
Running:
[code]
produces YAML, which does not contain the line specifying the existing namespace `tmp`.

![snap6809](https://user-images.githubusercontent.com/17828303/80922675-5686d600-8d87-11ea-9357-88613ecbc7ff.png)

**What you expected to happen**:
The produced YAML should contain the line specifying the existing namespace.

**How to reproduce it**:
Execute:
[code]
**Anythin

[2020-05-03 19:14] waelghaith commented on #80982
Hello @cann0nf0dder
Can you explain to us what the problem was and how can we solve it?!

[2020-05-03 19:20] DragD commented on #90706
Wrong repo.

[2020-05-03 19:20] #90706 closed

[2020-05-03 19:25] enj commented on #85855
/reopen
/lifecycle frozen
/remove-lifecycle rotten

[2020-05-03 20:36] raelga commented on #49387
/remove-lifecycle stale

[2020-05-03 20:44] dims commented on #90647
we are out of the woods.

/close

[2020-05-03 20:44] #90647 closed

[2020-05-03 20:49] dims opened #90709 "Docker repository does not yet support focal fossa"
We have some scripts that install docker/containerd etc and are having trouble installing on focal based images as  https://download.docker.com/linux does not yet support focal fossa. So in https://github.com/kubernetes/kubernetes/pull/90702 we have a patch that uses `bionic` debs for focal.

Additional context, please see ci test failures in https://github.com/kubernetes/kubernetes/issues/90667 a

[2020-05-03 20:51] dims commented on #90709
/sig release

[2020-05-03 20:56] dims commented on #73933
at this point we are looking at a `dockerless` tag KEP/PR and possibly a future KEP at deprecating dockershim entirely.

[2020-05-03 20:56] #73933 closed

[2020-05-03 20:58] dims commented on #79234
This has served its purpose. we are better off today than when we opened this issue. We just have to keep working it and open issues/pr(s) as needed

[2020-05-03 20:58] #79234 closed

[2020-05-03 21:02] dims commented on #70131
@bmwiedemann I don't see a run for kubernetes here https://rb.zq1.de/compare.factory-20200430/

[2020-05-03 22:02] ankitkumarsrivastava commented on #61581
Hi same issue i am also getting can you please tell me the solution.

[2020-05-03 23:38] #85314 closed

[2020-05-04 00:21] liggitt commented on #90704
Also see discussion in https://github.com/kubernetes/kubernetes/pull/86918 and https://github.com/kubernetes/enhancements/pull/1665

/assign @danwinship

[2020-05-04 00:36] #90667 closed

[2020-05-04 00:36] #90668 closed

[2020-05-04 00:58] Huang-Wei commented on #90308
@alculquicondor Sounds good to me.

Per constraint on large-scope topology (e.g., zone), I assume it will still be credited with the matching number on its sub topologies (e.g., node), right? (It's just we're using the newCount formula - by taking the maxSkew specified on its constraint into consideration.)

[2020-05-04 01:03] ahmad-diaa commented on #90627
@Huang-Wei Can I give it a try?

[2020-05-04 01:05] Huang-Wei commented on #90627
@ahmad-diaa Sure, feel free to take it.

/assign ahmad-diaa
/remove-help

[2020-05-04 01:17] hh commented on #90574
/assign @spiffxp

[2020-05-04 02:46] Vascko opened #90710 "Kubelet on Fedora 31+ doesn't start without kernel parameter systemd.unified_cgroup_hierarchy = 0"
**What happened**:
When deploying kubernetes via kubeadm on Fedora 31+ with cri-o, kubelet fails to start with the following error:
`kubelet.go:1383] Failed to start ContainerManager system validation failed - Following Cgroup subsystem not mounted: [cpu cpuacct cpuset memory]`

Subsequently kubeadm can't finish the deployment.

[code]

Fedora 31 has cgroups v2 enabled by default and while CRI-O s

[2020-05-04 02:49] Vascko commented on #90710
/sig node

[2020-05-04 03:09] coffeepac commented on #79432
/remove-lifecycle-stale

[2020-05-04 03:15] coffeepac commented on #79432
/remove-lifecycle stale

[2020-05-04 03:21] ahg-g commented on #90308
Note that this doesn't replace increasing the weight as described in the parent issue. I think the issue title needs updating.

[2020-05-04 03:42] #85911 closed

[2020-05-04 03:46] 13567436138 commented on #90685
I have filled

[2020-05-04 04:14] Huang-Wei commented on #90308
@ahg-g Understood. Default weight is tracked in another issue. This one talks about Scoring.

[2020-05-04 04:31] BobyMCbobs opened #90712 "Non-conformant endpoints documentation"
- [WIP Endpoints by group](#sec-1)
  - [Core](#sec-1-1)
    - [Volumes](#sec-1-1-1)
    - [ComponentStatus](#sec-1-1-2)
    - [Node](#sec-1-1-3)
- [Links and references](#sec-2)

Evaluate and describe which endpoints are not fit for conformance.

# WIP Endpoints by group<a id="sec-1"></a>

This is a list sorted by group which should not be tested.

## Core<a id="sec-1-1"></a>

### Volumes<a id="se

[2020-05-04 04:57] bmwiedemann commented on #70131
The .out files there are only created for differing builds.
https://rb.zq1.de/compare.factory-20200430/reproducible.json lists kubernetes1.17 and 1.18 as reproducible.
However, for kubernetes I had to do both builds with -j1 because build failed otherwise. And usually, various go programs suffered from some race in generation of the .note.go.buildid ELF header [like this](https://rb.zq1.de/compare

[2020-05-04 06:21] caiconkhicon commented on #74302
How do you find the current streams in the connection? I mean the actual value, not the setting, so I can I find if it is my issue or not.

[2020-05-04 06:54] bertinatto commented on #84585
/remove-lifecycle stale

@rajdas98 yes, we'd like to have this fixed eventually.

[2020-05-04 07:03] bowei commented on #81677
/remove-lifecycle rotten
/lifecycle frozen

[2020-05-04 07:17] tsuna commented on #73056
/remove-lifecycle rotten

[2020-05-04 07:51] mm4tt commented on #76374
No, we can close this one. It was done long time ago. Thanks for catching

/close

[2020-05-04 07:51] #76374 closed

[2020-05-04 08:11] rdxmb commented on #85883
/remove-lifecycle rotten
/reopen

[2020-05-04 08:42] bowei commented on #39420
This is more of a platform issue than a K8S issue at this point. The finalizers are sufficient to ensure deletion IF GKE cluster teardown is given sufficient time to allow the controller to run to completion. There are a number of things (longer cluster teardown, faster resource teardown) that will help out here, but they are not really possible in OSS.

One thing that would help is allowing paral

[2020-05-04 08:47] #82441 closed

[2020-05-04 09:08] megastallman commented on #85548
[code]

This is the new script, kindly cleaned up and simplified by the Python client Kubernetes API authors.
As we see, the REST-API connections are not being closed.

[2020-05-04 09:12] kaishah commented on #90185
@cheftako Is this issue solved by #90181 or does the NodeAddresses function still need to change? I can work on the change if needed

[2020-05-04 09:42] mrgoonie commented on #56564
I've just faced this issue until now, not sure why it's marked as closed...

[2020-05-04 10:22] ahmad-diaa commented on #90627
I keep trying to get it fail locally by running the following command:

[code]

but it never does, am I doing something wrong? Is there something else that I should be doing and would be more helpful?

[2020-05-04 10:31] dims commented on #70131
Well, we have to celebrate that milestone, right? 🎈 🍰 !!! :)

ack on the -j1/-j4 will poke at it when i get a chance

[2020-05-04 10:37] dims commented on #70131
@bmwiedemann please do throw me a link with output showing binaries that had trouble with -j1/-j4 (from the kubernetes release artifacts). I'd have to track the build apparatus for each one to do something similar to https://github.com/kubernetes/kubernetes/pull/89136/files

[2020-05-04 11:50] #82408 closed

[2020-05-04 11:56] schollii commented on #36304
/remove-lifecycle

[2020-05-04 12:03] ahg-g commented on #90308
Right, just wanted to explicitly mention that to avoid confusion since this issue started in the context of increasing the default weight :)

[2020-05-04 12:22] bjethwan commented on #72155
I am running into the same issue while migrating the internal docker registry for ds/flannel
I do have istio running in this cluster.
Mine is not EKS, but self-managed on aws.

`Warning  FailedCreate      8m32s (x8 over 11m)  daemonset-controller  Error creating: the server was unable to return a response in the time allotted, but may still be processing the request (post pods)`

And the worst par

[2020-05-04 12:28] mk811 commented on #40651
It looks there is no update yet, I've made a workaround by developing custom k8s admission controller - [sts-annotator](https://github.com/mk811/sts-annotator). This custom controller is adding annotations of pod index and pod replicas to Statefulset Pod. All the purpose is to allow PODs to get those values from Environment Variable.

In my use case, I need to access to POD Index from Spring Boot

[2020-05-04 13:27] danwinship commented on #90483
1.14 is quite old. I'd try a newer version

[2020-05-04 13:55] wojtek-t commented on #87808
/remove-lifecycle stale

[2020-05-04 14:07] claudiubelu opened #90719 "ExternalName tests are failing on Windows"
**Which jobs are failing**:

sig-windows jobs: https://testgrid.k8s.io/sig-windows#aks-engine-azure-windows-master-staging

**Which test(s) are failing**:

[sig-network] Services should be able to change the type from ClusterIP to ExternalName [Conformance]
[sig-network] Services should be able to change the type from NodePort to ExternalName [Conformance]

**Since when has it been failing**:

It

[2020-05-04 14:40] benmoss commented on #89262
https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/windows/OWNERS are the people in charge of the `gce-windows` tests @pjh

[2020-05-04 14:42] jkaniuk opened #90723 "[Flaky Test] gce-master-scale-performance: l7-default-backend restarted twice"
**Which jobs are failing**:
gce-master-scale-performance

**Which test(s) are failing**:
ClusterLoaderV2 - load

**Since when has it been failing**:
2020-05-03

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-performance
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1256992291344617478

**Reason for fa

[2020-05-04 14:55] mlbiam commented on #89163
did some more digging, looks like gorilla is used by the api server and kubelet for their implementations so I feel pretty good about using it in kubectl

[2020-05-04 14:56] alculquicondor opened #90724 "Scheduling Framework: Merge Reserve and Unreserve"
/kind cleanup

It doesn't make much sense for Reserve plugins to not have an Unreserve counterpart. Having them separate adds configuration toil.
I propose we merge them in a single interface and a single PluginSet in the configuration. However, we can only do the later in a new version of component config.

/sig scheduling

Related #83557 #83726  kubernetes-sigs/scheduler-plugins#4

[2020-05-04 14:57] alculquicondor commented on #90724
cc @mrkm4ntr @ahg-g @Huang-Wei @mrkm4ntr

[2020-05-04 14:59] barkbay commented on #65200
We also hit this one. A user was copying some resources from a namespace to another, keeping the owner reference. When the controller manager restarted the garbage collector also deleted some PVCs in the original namespace 😕

@lavalamp

Any particular concern about rejecting creation/update of an object when the ownerReference does not exist in the namespace or at the cluster level ?

@liggitt

Co

[2020-05-04 15:04] sayanchowdhury commented on #90723
/milestone v1.19

[2020-05-04 15:09] sayanchowdhury commented on #90723
/project 11 To do

[2020-05-04 15:10] #90450 closed

[2020-05-04 15:13] alculquicondor commented on #90308
@ahg-g Could you rename that one and clarify that it depends on this issue being resolved first?

[2020-05-04 15:14] mcginne opened #90725 "Kubelet reports configmaps not found even though they do exist"
**What happened**:
We see an intermittent issue that seems to be related to load where pods stay in `ContainerCreating` state for a long time - sometimes over an hour before they become `Running` . When this happens the Events on the pod show:
[code]
When this happens it usually affects multiple, but not all pods, and it affects multiple nodes at the same time.

I have verified the configmap exist

[2020-05-04 15:15] mcginne commented on #90725
/sig node

[2020-05-04 15:16] brianpursley opened #90726 "TestKubeletDefault unit test fails when run locally on system that has systemd-resolved active"
**What happened**:
TestKubeletDefault unit test fails when run locally on system that has systemd-resolved active

**What you expected to happen**:
Unit test succeeds

**How to reproduce it (as minimally and precisely as possible)**:
Use ubuntu with systemd-resolved active.
Run `go test ./cmd/kubeadm/app/componentconfigs`
Output:
[code]

**Anything else we need to know?**:

**Environment**:
- Kube

[2020-05-04 15:19] dcbw commented on #75441
/reopen

[2020-05-04 15:21] Joseph-Irving commented on #90553
I think I've found the root cause of this and I've raised a PR with a potential fix https://github.com/kubernetes/kubernetes/pull/90728

[2020-05-04 15:30] brianpursley commented on #90726
/area kubeadm
/sig cluster-lifecycle

[2020-05-04 15:30] brianpursley commented on #90726
/remove-sig node

[2020-05-04 15:35] alculquicondor commented on #90724
/sig scheduling

[2020-05-04 15:43] mlbiam commented on #89163
digging through the code, looks like I'll need to replicate the `remotecommand` package in client-go.  Its pretty tightly coupled with SPDY.  Looking back through this issue, I'm guessing we don't want to completely replace SPDY from client-go.  Best thing to do is create a new package (websocketsremotecommand?) to implement the websocket implementation of exec?

[2020-05-04 16:13] brianpursley opened #90732 "TestCmdCompletion unit test fails when run locally"
**What happened**:
TestCmdCompletion unit test fails on freshly cloned repository

**What you expected to happen**:
Unit test should pass when running locally without requiring any manual configuration of the system beforehand.

**How to reproduce it (as minimally and precisely as possible)**:
(Don't have `KUBEADM_PATH` environment variable set)
[code]
Output:
[code]

**Anything else we need to kn

[2020-05-04 16:13] neolit123 commented on #90726
thanks for reporting.
/remove-kind bug
/kind failing-test
/assign

[2020-05-04 16:14] brianpursley commented on #90732
/sig cluster-lifecycle
/area kubeadm

[2020-05-04 16:19] brianpursley commented on #90732
/kind failing-test

[2020-05-04 16:19] brianpursley commented on #90732
/remove-kind bug

[2020-05-04 16:36] dev-ops-biznet commented on #48378
export KUBECONFIG=/etc/kubernetes/kubelet.conf
kubectl get nodes

is work from me

[2020-05-04 16:45] brianpursley commented on #90732
OK, I see what it is doing.  It needs to have a fully-compiled `kubeadm` (path set in `KUBEADM_PATH` environment variable) in order to test this because it exec's it.

Am I doing something wrong?  I'm trying to run all unit tests locally before pushing a change, but maybe I should not be running this one, and if so, how can i exclude it?

Or maybe this test can be re-written to remove the compiled

[2020-05-04 16:58] cheftako commented on #90185
This issue is about the GCE implementation found at https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/gce/gce_instances.go#L86. This problem cannot be fixed in the cloud node controller.

[2020-05-04 17:05] LucaPrete commented on #61767
Guys, @andyzhangx I'm still struggling with the lock issue.

FYI I've the Azurefile SC declared as following:

[code]

But still, sqlite returns the same lock error mentioned above. I'm running on AKS and using k8s 1.14.8.

I've also proof that with azure disks everything works, but this is a pain for rolling updates....

Do you have any suggestion?

Thanks!

[2020-05-04 17:18] rivenhk commented on #40651
another solution i used for spring boot application:
// in k8s statefulset yaml
command: ["sh"]
args: ["-c", "ENV_ORDINAL=${HOSTNAME##*-} java -jar uber.jar"]

[2020-05-04 17:23] wojtek-t commented on #87006
/lifecycle frozen

[2020-05-04 17:26] hasheddan opened #90735 "[Flaky Test] node-kubelet-master (ci-kubernetes-node-kubelet)"
**Which jobs are flaking**:

`node-kubelet-master (ci-kubernetes-node-kubelet)`

**Which test(s) are flaking**:

`Overall`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#node-kubelet-master

**Reason for failure**:

`2020/05/04 08:41:19 main.go:312: Something went wrong: failed to prepare test environment: --provider=gce boskos failed to acquire project: resources not fou

[2020-05-04 17:31] hasheddan opened #90736 "[Flaky Test] gce-cos-master-default (ci-kubernetes-e2e-gci-gce)"
**Which jobs are flaking**:

`gce-cos-master-default (ci-kubernetes-e2e-gci-gce)`

**Which test(s) are flaking**:

`[sig-storage] CSI mock volume storage capacity exhausted, late binding, with topology`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default

**Reason for failure**:

[code]

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/sig s

[2020-05-04 17:37] pohly commented on #90250
According to https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1252618654105735168/artifacts/_sig-storage_CSI_mock_volume_storage_capacity_exhausted_late_binding_with_topology/csi-mockplugin-0-mock.log, there really are extra calls to `NodeStageVolume` and `NodePublishVolume` that shouldn't be there:
[code]

The current theory is that this might be related to kubelet

[2020-05-04 17:37] pohly commented on #90362
Duplicate of https://github.com/kubernetes/kubernetes/issues/90250

[2020-05-04 17:37] #90362 closed

[2020-05-04 17:47] ZhiFeng1993 commented on #90624
@vsxen I don't get it. Mind elaborating?

[2020-05-04 18:24] coltonstapper commented on #90533
@liggitt understood, yeah I completely understand preserving the existing use case to not break clients. It makes sense that a Go http change would allow us to implement the desired change while maintaining existing behavior for clients doing different types of auth, though that does seem like it'll take longer to upstream.

Are you opposed to the idea of a separate request Authentication implemen

[2020-05-04 18:33] ksubrmnn commented on #79359
The fix for the issue above is included in 1.18.1

@JocelynBerrendonner to help further

[2020-05-04 18:40] arvtiwar commented on #60987
We are also getting this problem, appreciate any help

May 4 14:39:52 pool-tp0nchqvd-5k2s daemon.log E0504 18:39:52.040967    1717 kubelet_volumes.go:154] orphaned pod "27c1bb4e-c42a-4840-a596-a5a4ce7f226e" found, but volume paths are still present on disk : There were a total of 1 errors similar to this. Turn up verbosity to see them.
May 4 14:39:52 pool-tp0nchqvd-5k2s syslog E0504 18:39:52.04096

[2020-05-04 18:52] BenTheElder commented on #90732
`go test` doesn't work so well, e.g. kubernetes sets build tags and stuff, you want `make test` and for a particular package you can set `WHAT=./pkg/foo`

[2020-05-04 18:57] #84493 closed

[2020-05-04 18:58] cji commented on #81142
/lifecycle frozen

[2020-05-04 19:10] brianpursley opened #90739 "Running `make bazel-test` locally fails with toolchain resolution error"
**What happened**:
Running `make bazel-test` locally fails with the following error:
[code]

**What you expected to happen**:
Tests to run successfully

**How to reproduce it (as minimally and precisely as possible)**:
Using Ubuntu.
Starting with a fresh Kubernetes repo...[
Make sure bazel 2.2.0 is installed](https://docs.bazel.build/versions/master/install-ubuntu.html)
Run `make bazel-test`

**An

[2020-05-04 19:14] brianpursley commented on #90739
/sig release
/kind failing-test

[2020-05-04 19:14] brianpursley commented on #90739
/remove-kind bug

[2020-05-04 19:16] #90726 closed

[2020-05-04 19:26] matti commented on #27477
just saw
[code]
in dmesg today in GKE machine today where Pods failed to run for more than a couple of seconds. Not sure if related to this discussion or not.

[2020-05-04 19:29] kaivalya97 commented on #90570
I will create a PR with a fix for this

[2020-05-04 19:35] Huang-Wei commented on #90724
SGTM.

[2020-05-04 19:40] Huang-Wei commented on #90627
@ahmad-diaa Sometimes the flake is hard to reproduce in local env. You may have to read the error log of the flakes thoroughly to get some clues.

BTW: you can also run the test multiple times using the `-count` directive:

[code]

[2020-05-04 19:44] alculquicondor commented on #90724
cc @cofyc

[2020-05-04 19:45] danwinship commented on #85499
it would be easier to commont on the patch if it was filed as a PR

[2020-05-04 19:52] tedyu commented on #85499
I don't have access to the computer when https://github.com/kubernetes/kubernetes/issues/85499#issuecomment-573358592 was made.

It would be good to agree on the approach before a PR is sent out.

[2020-05-04 19:57] neolit123 commented on #90732
@brianpursley

as you found out, those tests under cmd/kubeadm/tests are _command line integration tests_ that require a kubeadm binary prebuilt and passed via an environment variable.

to run them type:
[code]

however if you want to run the kubeadm _unit tests_:
[code]
should work fine.

kubeadm is going to be extracted into it's own repository at some point, so we should not move them under /te

[2020-05-04 20:04] brianpursley commented on #90732
@neolit123 yeah, that is fine. I guess I was expecting it to be a unit test, but I think even though I saw somewhere I can do `go test ./...` I should not do that because it will try to run tests like this, which are not meant to be run like that.

Thanks for the help and explanation.

/close

[2020-05-04 20:04] #90732 closed

[2020-05-04 20:08] jiahuif commented on #90185
According to https://github.com/kubernetes/kubernetes/blob/v1.19.0-alpha.2/staging/src/k8s.io/cloud-provider/cloud.go#L158-L169

`NodeAddresses` is indeed only used for the address of the calling instance. Maybe we should use `NodeAddressesByProviderID` instead?

[2020-05-04 20:50] mmerrill3 commented on #84040
in version 1.17.5 of k8s, the clusterrole system:public-info-viewer is tied to the clusterrolebinding of the same name.  Passing in the --anonymous-auth flag to the kubernetes API server doesn't limit access to the API with this version.  I believe this is since this endpoint is open to unauthenticated users, as well as authenticated users.

The subjects for the clusterrolebinding are here:

`  su

[2020-05-04 21:02] jiahuif commented on #90185
Or, we should definitely remove the `TODO` if its TODO item is no longer true.

[2020-05-04 21:08] max8github opened #90741 "kubectl wait fails after successful apply"
**What happened**:
`kubectl wait` fails after a successful `kubectl apply`

**What you expected to happen**:
`kubectl wait` to actually wait.

**How to reproduce it (as minimally and precisely as possible)**:

[code]
You get:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat

[2020-05-04 21:32] lavalamp commented on #89163
Yes, a new package-- we likely need both mechanisms to exist in parallel for a while.

[2020-05-04 21:53] george-angel commented on #61486
/remove-lifecycle stale

[2020-05-04 21:57] cheftako commented on #90185
I believe the TODO is no longer true as there is also a call in https://github.com/kubernetes/kubernetes/blob/e8d6d3768e1131d6c3cd9ab5b7144a3a00c916f8/pkg/controller/cloud/node_controller.go#L543

[2020-05-04 22:11] mk811 commented on #40651
Thank you for sharing. As I wanted to have POD Replicas in env var as well and also wanted a consistent solution for all applications, I developed the custom controller though, your solution is also great.

[2020-05-04 22:22] lavalamp opened #90743 "DELETECOLLECTION doesn't always"
**What happened**:

Deleting a large collection times out (504) and leaks a goroutine that's busy deleting the collection. Calling multiple times in a row makes it worse. There's no indication that apiserver is currently deleting the collection.

**What you expected to happen**:

a) Change delete collection so that it deletes just the first page of items in the collection, rather than loading the

[2020-05-04 22:36] tedyu commented on #90334
@matthias50
Do you have feedback about latest patch ?

thanks

[2020-05-04 23:01] #90741 closed

[2020-05-04 23:01] #78952 closed

[2020-05-04 23:06] thockin commented on #89952
We've got plans to enable "same node" services.  The API for it is currently blocked while we do some research on generalizing topology, but it WILL come back.

There's not a good existing feature to do what you want, short of using a hostPort or talking to the k8s API yourself.

The feature as you described is not feasible, but the general idea is a duplicate of https://github.com/kubernetes/enha

[2020-05-04 23:06] #89952 closed

[2020-05-04 23:06] lavalamp commented on #90743
cc @wojtek-t

[2020-05-04 23:22] thockin commented on #89495
I didn't see this before - which 63 character limit are you concerned with?  Resource names?  Which resources specifically?  Some (e.g. services) simply CAN'T allow more without tons of downstream changes, and practically probably changing anything to allow it is more work than it is worth.

[2020-05-04 23:23] thockin commented on #60789
This is an oldie but worth keeping in the log.

/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2020-05-05 00:03] tibers commented on #89495
Hey there. My reading of the spec is that 63 chars is the minimum so if anything, supporting the _should_ part would be quite helpful.

The specific scenario was something like `image: ip-12-34-56-78.us-east-1.compute.internal/myproject/container:v1.23.4` which is 67 chars. The problem is that folks using a private registry, with SSL, have to use an FQDN (or turn off cert validation) and so that e

[2020-05-05 00:21] thockin commented on #89495
63 chars is a "label".

You're citing rules for "host names".

1123 builds on 1035, which says (among other things) "Labels must be 63
characters or less."

I'm still not clear what field(s) you want changed?  The pod.spec.image?
As far as I can see, we do not validate that at all.

On Mon, May 4, 2020 at 5:04 PM Joshua Knarr <notifications@github.com>
wrote:

[2020-05-05 00:52] liggitt commented on #90725
cc @wojtek-t for the watch-based configmap manager

[2020-05-05 00:56] liggitt commented on #90743
another possibility is to change deletecollection to page over the list internally and process/delete the items in each page before proceeding

xref https://github.com/kubernetes/kubernetes/issues/80877#issuecomment-517510202

[2020-05-05 00:57] heyste opened #90746 "Add deleteCoreV1CollectionNamespacedPodTemplate Mock Test - +1 endpoint coverage"
# Progress <code>[2/6]</code>

-   [X] APISnoop org-flow: [deleteCoreV1CollectionNamespacedPodTemplate.org](https://github.com/cncf/apisnoop/blob/master/tickets/k8s/deleteCoreV1CollectionNamespacedPodTemplateTest.org)
-   [X] test approval issue: [kubernetes/kubernetes#90746](https://github.com/kubernetes/kubernetes/issues/90746)
-   [ ] test pr : kuberenetes/kubernetes#
-   [ ] two weeks soak sta

[2020-05-05 01:50] knabben commented on #86843
Taking on https://github.com/kubernetes/kubernetes/pull/90745

[code]

And on https://github.com/kubernetes/kubernetes/pull/90747
[code]

[2020-05-05 02:04] #86018 closed

[2020-05-05 02:59] huangyanjuner opened #90748 "Pod ephemeral local storage usage exceeds the total limit of containers **Gi"
Hello, I'm using the Kubernetes to  deploy the Kubeflow Pytorch Operator. No matter how big the ephemeral-storage I set, 20Gi,40..80Gi, I always get the exception "Pod ephemeral local storage usage exceeds the total limit of containers **Gi".  Actually, the Node disk is sufficient. Would you please help on that? Great thanks!
The environment is like below:
Client Version: version.Info{Major:"1", M

[2020-05-05 03:04] tedyu commented on #90748
1.14 is very old.

Is it possible to try out newer, supported release (such as 1.18) ?

[2020-05-05 03:20] futangwa commented on #58477
I have new finding that in the case of duplicated env, the value update on the 2nd env would not take effect.

1. grep TEST_DUPLICATED_ENV test.yaml -A1
        - name: TEST_DUPLICATED_ENV
          value: "123456789"
        - name: TEST_DUPLICATED_ENV
          value: "987654321"
2. after kubectl apply, the pod has value:
kubectl describe po test-f94649c77-47s4m | grep TEST_DUPLICATED_ENV

[2020-05-05 04:12] apelisse commented on #90066
Hi @howardjohn

I understand that this is a voluminous field. The team has discussed that issue multiple times, but we've decided that the information provided is useful for the users.

First, feel free to read this blog-post which will explain what it does and why it's here: https://kubernetes.io/blog/2020/04/01/kubernetes-1.18-feature-server-side-apply-beta-2/

Also, I think I could have emphasi

[2020-05-05 04:17] 13567436138 opened #90750 "unexpected directory layout:"
unexpected directory layout:
	import path: github.com/Azure/go-autorest/autorest
	root: D:\gopath\kubernetes_go\src
	dir: D:\gopath\kubernetes_go\src\k8s.io\kubernetes\vendor\github.com\Azure\go-autorest\autorest
	expand root: D:\gopath\kubernetes_go
	expand dir: D:\gopath\kubernetes_go\src\k8s.io\kubernetes\vendor\github.com\Azure\go-autorest\autorest
	separator: \

[2020-05-05 04:49] enj commented on #84040
Setting `--anonymous-auth=false` will prevent unauthenticated requests from being served anything via the API.  That is, no request will be assigned to the `system:unauthenticated` group.

[2020-05-05 05:29] cbf123 commented on #84749
I've been unable to reproduce the issue with 1.18.1 so I'm closing it as solved.

[2020-05-05 05:29] #84749 closed

[2020-05-05 06:16] vishnoianil commented on #25766
I also had a hard time debugging one of my postStart related issues. Unfortunately the script was running had a loop, and that keeps the container in the CreatingContainer state, and you don't see any logs anywhere. I end up doing some bad hacks to debug the issue and finally resolved it, but end up wasting lot of time in debugging. I think having no proper logging framework around this is hinderi

[2020-05-05 06:36] pohly opened #90752 "CSI ephemeral volumes: idempotent NodeUnpublishVolume"
**What happened**:

During testing with PMEM-CSI, `NodeUnpublishVolume` was called twice by kubelet, presumably because the first call took too long (deleting volumes does take time). The second call blocked, waiting for the first to complete its work, and then returned `NOT_FOUND` because the first call had removed all information about the volume. That caused kubelet to keep calling `NodeUnpubli

[2020-05-05 06:38] uablrek commented on #89392
/remove-triage unresolved
/triage not-reproducible
/triage needs-information

[2020-05-05 06:39] uablrek commented on #89392
/remove-triage-unresolved

[2020-05-05 07:09] Huang-Wei opened #90754 "Refine schedulerQueue unit tests"
When reviewing the fix of #88327, I feel that #88331 as well as existing schedulerQueue unit tests are not written in a desired way.

The racing cause of #88327 lies on concurrent access of private fields - those private fields are protected by locks via public functions, but unfortunately directly accessed by the unit tests (under the same package). To dive deeper, it's because the `PriorityQueue

[2020-05-05 07:16] Huang-Wei commented on #90754
/cc @alculquicondor @ahg-g

[2020-05-05 07:49] jsafrane commented on #90752
Is it similar to https://github.com/container-storage-interface/spec/pull/375 ?

It affects also non-ephemeral volumes - when NodeUnpublishVolume times out from whatever reason, it may succeed in the background and something may delete even a non-ephemeral volume. Kubelet then re-tries to delete the volume indefinitely.

IMO, if SP can't find the volume and at the same time it can check that such

[2020-05-05 08:22] pohly commented on #90752
Yes, that looks very similar. #375 was about the controller level, but the node level has the same issue.

[2020-05-05 09:27] pires commented on #87770
/remove-lifecycle stale

[2020-05-05 09:42] behos opened #90758 "Partition appears wrong on kubectl describe"
**What happened**:

When using `kubectl describe` on a statefulset, the Partition number shows up as a very high integer:
[code]
Whereas the real value is 3 as shown in `kubectl get`

[code]

**What you expected to happen**:

I expected the value in `kubectl describe` to be 3.

**How to reproduce it (as minimally and precisely as possible)**:

* Create a stateful set with a partition set
[code]
*

[2020-05-05 09:43] behos commented on #90758
/sig cli

[2020-05-05 09:44] tonyaw commented on #89952
That is exactly what I want. Thanks! :-)

[2020-05-05 10:39] AndrienkoAleksandr commented on #71350
/remove-lifecycle stale

[2020-05-05 11:32] loxal commented on #57619
Got exactly the same issue on Fedora 32 for which reason the respective node remains `NotReady`.

[2020-05-05 11:32] loxal commented on #59742
Got exactly the same issue on Fedora 32 for which reason the respective node remains `NotReady`.

[2020-05-05 11:36] manikanta-kondeti commented on #89898
@thockin  `returns-console-558995dd78-6qh5c                                  1/1     Running            0          23h
returns-console-558995dd78-b6bjm                                  0/1     Running            0          23h
returns-console-558995dd78-bxjqr                                  1/1     Running            0          23h
returns-console-558995dd78-cs5k8

[2020-05-05 12:02] jean-edouard opened #90759 "Unexpected MCS levels on containers"
**What happened**:
On an SELinux-enabled setup, when I set an SELinux type (or user or role) in a `PodSecurityContext`, each container inside that pod gets its own SELinux level.
That in turn prevents inter-container communication within the pod.

**What you expected to happen**:
The SELinux level should be the same on all the containers of a given pod, as it is when no SELinux option is set on th

[2020-05-05 12:07] jean-edouard commented on #90759
/sig product-security

[2020-05-05 12:07] jean-edouard commented on #90759
/sig auth

[2020-05-05 13:00] cpointner commented on #86281
I'm now more sure then ever that this is in fact a but in controller-manager. See the attached image which shows the number of gorotines as reported by the controller-manager via prometheus metrics:

![goroutines](https://user-images.githubusercontent.com/29884944/81068235-50f0d380-8ee0-11ea-9972-be1864890342.png)

As you can see here the number of go-routines is constantly growing over time. At t

[2020-05-05 13:00] wojtek-t commented on #90743
I agree with Jordan (and thanks for the link - I remembered there was some discussion about it in the past).

[2020-05-05 13:00] wojtek-t commented on #90743
Sorry - by "I agree with Jordan" I meant - I think the option he mentioned seems the best for me.

[2020-05-05 13:10] cpointner commented on #86281
In comparison this is how the same graph looks like at a different cluster where we don't experience the same problem. This second cluster is using the same version of Kubernetes and Trident:

![goroutines-healthy](https://user-images.githubusercontent.com/29884944/81069521-48999800-8ee2-11ea-9a97-792272f87de2.png)

[2020-05-05 13:13] trinhpham commented on #20227
/remove-lifecycle stale

Still looking for an update.

[2020-05-05 13:15] hkamel opened #90761 "[Flaky Test] kubeadm-kinder-upgrade-1-18-1-19 (ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-18-1-19)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

**Anything else we need to know**:

/cc @kubernetes/ci-signal
/milestone v1.19
/priority critical-urgent
/sig testing

[2020-05-05 13:16] kvaps commented on #86281
But in this way it should handle attach/detach operations  faster in the first time rather then later.
Regarding to my case it is exact the same time. It's not getting worse during the time spent while controller-manager is running.

I found out that problem persists on controller-manager `v1.17.0` and higher versions but not persists on `v1.16.9`

[2020-05-05 13:32] andyzhangx opened #90762 "azure disk dangling attach issue on VMSS which would cause API throttling"
**What happened**:

PR(https://github.com/kubernetes/kubernetes/pull/81266) does not convert the VMSS node name which causes error like this:
[code]

This is not a frequently happen issue since dangling error only happens when the previous detach disk failed, the disk was still attached to the node while no pod on that node is using that disk.
The disk detach failed could be due to 1) VM busy 2) k

[2020-05-05 13:43] neolit123 commented on #90761
/assign
/area kubeadm

[2020-05-05 13:43] neolit123 commented on #90761
/sig cluster-lifecycle

[2020-05-05 13:48] hasheddan commented on #90735
This has been green on subsequent runs, will continue to monitor

/close

[2020-05-05 13:48] #90735 closed

[2020-05-05 13:56] cpointner commented on #86281
Yeah i think you are right. I will open up a new issue.

[2020-05-05 14:19] brianpursley opened #90763 "Remove or clarify recommendation about using go test to run unit tests"
**What would you like to be added**:
Remove `go test ./...` example from [testing guide](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/testing.md).

**Why is this needed**:
While trying to get all unit tests to run locally, I tried using this and it doesn't work, at least not from the Kubernetes root.

The reason it doesn't work is that it is not equivalent to

[2020-05-05 14:19] brianpursley commented on #90763
/sig testing
/kind documentation

[2020-05-05 14:19] brianpursley commented on #90763
/remove-kind feature

[2020-05-05 14:20] grosser commented on #87833
/remove-lifecycle

[2020-05-05 14:31] #90089 closed

[2020-05-05 14:46] makkes opened #90764 "NodePort service creation e2e test relies on insecure cluster configuration"
**What happened**:
We ran sonobuoy on one of our clusters running on AWS and it reported two failed tests:

[code]

This happened because the pod employed to conduct the tests wasn't able to reach the service using the node's public IP address:

[code]

**What you expected to happen**:
The security groups on that cluster don't allow for connections to arbitrary ports through the public IP address.

[2020-05-05 14:48] makkes commented on #90764
/area conformance
/sig network

[2020-05-05 14:50] makkes commented on #90764
related: https://github.com/kubernetes/test-infra/pull/14731

[2020-05-05 14:54] tedyu commented on #90334
[rm-excess-log-4.txt](https://github.com/kubernetes/kubernetes/files/4581488/rm-excess-log-4.txt)
Updated patch with assertions on the removal of unneeded logs:
[code]

[2020-05-05 15:05] hasheddan commented on #89262
/assign @claudiubelu

[2020-05-05 15:06] guilhem opened #90765 "time based Pod Disruption Budget"
**What would you like to be added**:

Set information about time in a PDB. For example it can be:

[code]

- `window`: the moment where a pod can be killed.
- `cooldown` how many times to wait between kills.

**Why is this needed**:

Current Pod Disruption Budget is only based on an "instant" state: how many pods I have running.

In some case (mainly stateful apps), we may have to consider disrupt

[2020-05-05 15:08] guilhem commented on #90765
/wg policy

[2020-05-05 15:09] wojtek-t commented on #90725
Hmm - that seems pretty strange to me.

When a new reference to a secrets/configmap appears on a node, we start a new reflector for it:
https://github.com/kubernetes/kubernetes/blob/release-1.16/pkg/kubelet/util/manager/watch_based_manager.go#L128

And then fetching the secrets/configmaps calls the internal cache:
https://github.com/kubernetes/kubernetes/blob/release-1.16/pkg/kubelet/util/manager/

[2020-05-05 15:16] grosser commented on #87833
/remove-lifecycle stale

[2020-05-05 15:28] logicalhan commented on #76302
/remove-lifecycle rotten

[2020-05-05 15:36] harveyxia commented on #87554
Is this PR still active?

[2020-05-05 15:37] neolit123 commented on #90710
the plan is to enable initial cgroups v2 support in 1.19.

the proposal and initial related PRs have merged:
https://github.com/kubernetes/enhancements/pull/1370
https://github.com/kubernetes/kubernetes/pull/89897
https://github.com/kubernetes/kubernetes/pull/85218
https://github.com/kubernetes/kubernetes/pull/89901
(yet unclear what else has to be done)

if you want to help testing download the k

[2020-05-05 15:40] neolit123 commented on #90710
but note that kubelet being newer than the control-plane is not supported, so you need to pass `kubernetesVersion: k8s-master` or `--kubernetes-version=k8s-master` to kubeadm, which should download the latest control-plane images.

[2020-05-05 15:55] ahg-g commented on #90308
@alculquicondor can you clarify what that issue is dependent on this one? aren't we going to increase the weight regardless?

[2020-05-05 15:57] mcginne commented on #90725
@wojtek-t thanks for the info, I assume these messages add weight to the theory that watch cache is lagging behind? :
[code]
I believe I see these when the issue occurs, and don't believe I see them when the issue is not occurring.
One thing I have also noticed lately is that the time pods stay in this state gradually increases over a period of hours - it first becomes noticeable when pods stay in

[2020-05-05 16:11] afrouzMashaykhi commented on #89362
based on documentation you will run `build/run.sh` which build docker image in
https://github.com/kubernetes/kubernetes/blob/0641e0c6d809fa6bdb23d6f76c86ab4b31009d94/build/run.sh#L26
line you will find another script which has build-image function
https://github.com/kubernetes/kubernetes/blob/0641e0c6d809fa6bdb23d6f76c86ab4b31009d94/build/common.sh#L417
in this function it will set localtime, rsyn

[2020-05-05 16:20] lavalamp commented on #90743
Yeah that'd be a huge improvement but it could still take a long time. Maybe we need to also exempt it from the global timeout?

[2020-05-05 16:22] wojtek-t commented on #90743
But we can (before every call to etcd) check if context is done and if so return.
So that shouldn't lead to exceeding timeout by any significant factor...

[2020-05-05 16:27] liggitt commented on #90743
Plumbing the request context through to etcd lets us honor the timeout exactly. The issue is not exceeding the request timeout internally, it's that "call deletecollection repeatedly, get timeout errors, and retry until success" is *really* unpleasant guidance for API clients.

[2020-05-05 16:27] lavalamp commented on #90743
No, then the client calls it again and it starts from the beginning, double-deleting objects that have a deletion timestamp but haven't finalized. (as pointed out by @liggitt)

[2020-05-05 16:27] ksiadz commented on #30656
+1

[2020-05-05 16:37] wojtek-t commented on #90743
I don't think it's double deleting, becuse next request lists again and the previously deleted objects won't be returned.

I think Jordan`s argument about "unpleasasant guidance" is stronger. I guess we have this guidance for read requests already, but for mutating requests it's not the most intuitive thing.

[2020-05-05 16:39] lavalamp commented on #90743
The objects haven't "really" been deleted because they have a finalizer or a grace period or something.

[2020-05-05 16:43] wojtek-t commented on #90743
Hmm - so I guess I don't really understand this option then. @liggitt - can you clarify?
[So I agree that we should add pagintion, but I can't see how that addresses Daniel`s concerns from the issue - namely the second one].

[2020-05-05 16:55] lavalamp commented on #90743
Another issue is what happens when APF (priority & fairness) is on. Self calls are unlimited, so this could generate a LOT of traffic. Especially if clients re-call while a zombie one is already in flight, or multiple clients happen to call this at a time.

[2020-05-05 16:58] msau42 commented on #86281
This change to client-go that enabled throttling for erroneously unthrottled clients probably explains why we see increased throttling of controller-manager in 1.17: https://github.com/kubernetes/kubernetes/pull/86168

I think the fix is the same. We should change the VerifyVolumesAttached() method to use informers instead of doing a GET on every volumeattachment object every minute. @yuga711 is w

[2020-05-05 17:01] lavalamp commented on #90743
I'm tempted to say we should just deprecate DELETECOLLECTION and make clients implement it. It is literally faster to use curl and bash to delete everything on a large collection right now.

A client can do this super fast:

[code]

Pre-pages, clients could not do this super fast because the list smashed the server.

So, now that we have pagination, I think it might make sense to move delete colle

[2020-05-05 17:01] kvaps commented on #86281
Just short note that only v1.18 have throttling messages, v1.17 have no them.

[2020-05-05 17:03] alculquicondor commented on #90308
I was referring to #88174.
But you are right, it doesn't depend on this. kubernetes/enhancements#1258 does

[2020-05-05 17:05] lavalamp commented on #90743
Maybe best is just to change the client libary implementation to do that. It doesn't help non-go languages, though, unfortunately.

[2020-05-05 17:13] NMFR opened #90766 "/staging/src/k8s.io/client-go/plugin/pkg/client/auth/oidc/ panics if persister is nil"
Using [oidc](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/plugin/pkg/client/auth/oidc/oidc.go) with a [DirectClientConfig](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/clientcmd/client_config.go#L77) without a [ConfigAccess](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/clientc

[2020-05-05 17:20] wojtek-t commented on #90725
I've seen that in clusters that have watch lag in the order of 100ms. It may be a problem, but doesn't have to be.

So let me ask a different question - how many configmap changes (creates/updates/deletes) per second you have in your cluster (across all namespaces)?

No - the filtering is happening very low level (it the apimachinery it translates to Get operation).

[2020-05-05 17:21] justaugustus commented on #75114
/assign
/area release-eng

[2020-05-05 17:21] liggitt commented on #90533
I'd prefer to keep the authentication implementation in one place and avoid adding user-facing options for this... the test matrix for the apiserver is already extremely large and I'm not confident these new options would have good coverage.

A possible short-term mitigation could be to add a LRU verification cache to the authenticator that remembers the last N certificate validation results. The

[2020-05-05 17:46] NMFR commented on #90766
/sig cli

[2020-05-05 17:53] Vascko commented on #90710
That sounds great, thanks!
I presume I'll need to compile the cri-o 1.19 branch manually since there is no RPMS for that version anywhere yet and the kubernetes minor version needs to match the cri-o minor version

[2020-05-05 18:04] wojtek-t commented on #90743
Longer term - maybe. But I don't think we're ready for it.
In particular, as long as we have client QPSes, deleting large namespace can take tens of minutes (e.g. deleting events there) [where with DeleteCollection it's orders of magnitude faster]. Once we have P&F - that would make a lot of sense to me. But we're not there yet.

[2020-05-05 18:11] patrick0057 commented on #22650
Can we get this reopened and reconsidered?  The ability to hijack workloads like this is definitely a security concern for us.

[2020-05-05 18:12] patrick0057 commented on #22650
/reopen

[2020-05-05 18:17] neolit123 commented on #90710
i wasn't aware of this fact. you can still try the 1,18 version of cri-o and see if is compatible with the above CI build that i linked.

[2020-05-05 18:23] ollydixon commented on #84430
What is the solution for this? Like what commands do we need to run..

[2020-05-05 18:25] howardjohn opened #90768 "support pods/proxy resource in client-go"
Currently services/proxy is available in client-go, but pods/proxy resource is not. This requires manual usage via the rest client like

[code]

This can be seen in Kubernetes e2e tests as well

[2020-05-05 18:49] ahg-g commented on #90724
sounds good, we have precedence when we moved Normalize from being a standalone plugin into an extension of Score. For this one we can move unreserve to the reserve plugin and make implementing the function mandatory.

we can do that in beta in this cycle, right?

[2020-05-05 18:53] mattmattox opened #90770 "Double delete of vmdk when PV gets deleted."
**What happened**:
When deleting a PV, the VMDK is deleted but the delete task is called twice. The first task successes but the second task fails because the VMDK is already deleted.

**What you expected to happen**:
Only one delete task should be created.

**How to reproduce it (as minimally and precisely as possible)**:
- Create PV using the default vsphere [storageclass](https://vmware.github.

[2020-05-05 18:58] mattmattox commented on #90770
/sig Storage

[2020-05-05 19:10] alculquicondor commented on #90724
Yes, I can include the planned modifications in the KEP. Good thing is that we don't have in-tree (Un)Reserver plugins.

[2020-05-05 19:21] #26923 closed

[2020-05-05 19:34] justaugustus opened #90772 "Build and push etcd v3.4.7.1 images"
**What would you like to be added**:
In https://github.com/kubernetes/kubernetes/pull/90697, we're bumping the debian-base image, so new `etcd` and `etcd-empty-dir-cleanup` images need to be pushed to pick up the changes.

**hold on this until https://github.com/kubernetes/kubernetes/pull/90697 merges.**

/area etcd
cc: @dims @kubernetes/release-engineering
/assign @jpbetz @wenjiaswe @jingyih

[2020-05-05 19:34] justaugustus commented on #90772
/sig api-machinery

[2020-05-05 19:39] hh commented on #90574
Take a look and compare with tooling here:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/common/init_container.go

[2020-05-05 19:51] michael-bud commented on #81024
Honestly, I think this could still be a good win to integrate.

[2020-05-05 19:51] michael-bud commented on #81024
/reopen

[2020-05-05 19:52] michael-bud commented on #81024
/remove-lifecycle rotten

[2020-05-05 19:53] hh commented on #90746
During Conformance Meeting:
- [ ] Sleep jumps out
- [ ] Use the watch event framework to verify expectations

[2020-05-05 19:55] hh commented on #90663
During Conformance Meeting:
- [ ] Is there a way to write this test so it is resource agnostic?

If we are just changing the resource... can be parameterize the resource-type

[2020-05-05 19:56] hh commented on #90619
During Conformance Meeting:
See similar note in: https://github.com/kubernetes/kubernetes/issues/90663

[2020-05-05 19:59] hh commented on #90384
During Conformance Meeting:
- NodeStatus is already in triage
- Node is not going to be tested

Let's look at some other endpoints.
/close

[2020-05-05 19:59] #90384 closed

[2020-05-05 20:05] hh commented on #89637
Notes from Conformance Meeting:
- It's not necessary one per node, it has a target set of schedulable nodes, count and compare that
- taints are considered destructive - there is a utility to get me a list of schedulable nodes
- Number of pods ready is equal to the number scheduled
- Daemonset is doing what it is doing VS what the user is expecting
- As a user I expect it to deploy to all the node

[2020-05-05 20:06] hh commented on #89637
This mock test needs to be updated with the above for review next conformance meeting.

[2020-05-05 20:10] hh commented on #90619
Leaving these three in the triage column to see about parameterising.

[2020-05-05 20:17] fedebongio commented on #90664
/assign @jpbetz @jingyih

[2020-05-05 20:18] cpointner commented on #86281
Thanks @msau42 and @yuga711 this sounds good. I think that this will help with our problem. Anyway i still think that there is a problem with the controller manager piling up so many go-routines. Based on the information i gathered so far it has maybe something to do with the horizontal-pod-autoscaler. Of course this is outside of the scope of this issue. I will open up a new one for that as soon

[2020-05-05 20:38] rikatz commented on #90228
@ydcool Per the directives of sig-network issue triage, if we got no information in the next 14 days after this comment  the issue will be closed, but you can reopen it (or open a new one) if you can reproduce it later.

Thank you!

[2020-05-05 23:05] jaredledvina commented on #76935
/remove-lifecycle rotten

[2020-05-05 23:31] neolit123 commented on #90761
i went trough all the flakes we have at the moment and adjusted a number timeouts. here is the PR:
https://github.com/kubernetes/kubeadm/pull/2131

[2020-05-06 00:36] msau42 commented on #90250
I'm not sure I would pin it on the mount check yet. The broader question is why is MountVolume() getting called twice after the first one returns success.

[2020-05-06 00:37] msau42 commented on #90586
Root cause is being investigated in https://github.com/kubernetes/kubernetes/issues/90250

/assign @pohly
Can you relax the check for now so that we can reduce the flakiness?

[2020-05-06 00:37] msau42 commented on #90736
Root cause is being investigated in https://github.com/kubernetes/kubernetes/issues/90250

/assign @pohly
Can you relax the check for now so that we can reduce the flakiness?

[2020-05-06 00:40] msau42 commented on #90736
@kubernetes/sig-storage-test-failures

[2020-05-06 00:40] msau42 commented on #90586
/unassign @pohly

[2020-05-06 00:41] msau42 commented on #90586
I'm confused by this issue. The title is talking about cos-master-serial, but the first comment is talking about cluster-api-gcp?

[2020-05-06 00:44] msau42 commented on #90370
fixed by https://github.com/kubernetes/kubernetes/pull/90335

[2020-05-06 00:44] msau42 commented on #90370
/close

[2020-05-06 00:44] #90370 closed

[2020-05-06 00:54] xingfeng1234 commented on #90550
The problem has always existed. I use activeDeadlineSeconds in the spec under the template object instead, which can solve our business scenario.

[2020-05-06 01:00] hasheddan commented on #90586
@msau42 looks like that first comment is a typo. Will update, sorry about that!

[2020-05-06 01:01] #90211 closed

[2020-05-06 01:08] msau42 commented on #90586
Thanks for the clarification.

The most recent flakes all appear to have the error:
[code]

The test uses a 1 minute timeout, that may be too small. Will try increasing it to see if that helps.

[2020-05-06 01:11] cofyc commented on #90724
SGTM

[2020-05-06 01:14] msau42 commented on #90586
/assign

[2020-05-06 01:26] ydcool commented on #90228
Got that, I close this now for no more evidences.Thank you.

[2020-05-06 01:26] #90228 closed

[2020-05-06 02:41] weili10 commented on #90588
The device I used doesn't have a real-time clock. So the time on that device would be reset after reboot.

[2020-05-06 02:42] KielChan commented on #74302
@caiconkhicon

Emmm... The master branch means `v1.13.2`, codes show as follow:

[code]

[2020-05-06 02:45] rikatz commented on #90228
Great, tks and feel free to open a new issue when you got the proper information :)

[2020-05-06 02:59] tedyu commented on #90588
Since the CreatedAt value is used to order sandboxes, it is expected that this constraint is maintained across reboots.

Is there reason why the device doesn't use real-time clock ?
Please tell us more about your cluster and your use case(s).

[2020-05-06 03:03] #90754 closed

[2020-05-06 03:09] yue9944882 commented on #90743
for now, all requests raised from `system:masters` groups are unlimitted. there's a chance that a cluster admin w/ that role calling DELETECOLLECTION which leads to worse situations.. but one thing we can do is to do exclude DELETECOLLECTION from the matching verbs list from the rule so that we force these requests policed by the P&F system.

currently the client honors `Retry-After` header but it

[2020-05-06 03:23] weili10 commented on #90588
I find some logs relate to the two sandbox status before the former logs I provide.

`I0211 16:28:25.833205    3737 kuberuntime_manager.go:933] getSandboxIDByPodUID got sandbox IDs ["637ff5c305dd6b95791ac417cf0c128ad8dd82427ca56e2247d3a3a122f94e35" "b9ef30fb7d26d26c60710e2428630fe584781c7823e0c93eb25a40e1cff8a25f"] for pod "web-always-01bdf80e-4c5a-4ed8-ac94-41560f6137e8_websocket(01bdf80e-4c5a-4e

[2020-05-06 03:40] weili10 commented on #90588
It's just an demo board used for educational purpose. So the problem would be fixed if we use RTC or NTP service?

[2020-05-06 03:47] zhangguanzhang commented on #76146
/remove-lifecycle stale

[2020-05-06 04:08] mmerrill3 commented on #84040
Yeah, I think what I'm seeing is kubehunter running with the default service account, so it's authenticated, but as the default user.  So, kubehunter keeps complaining that it can see the /version API.  Thanks for clarifying.

[2020-05-06 04:12] jherrera123 commented on #90653
/assign

[2020-05-06 04:42] AnwarArifa commented on #90345
@rahulwagh Please let me know any resolution on this issue. i am also facing the same issue. when i do the same process in the public cloud open the traffic to all the ports it is working

[2020-05-06 04:45] andyzhangx commented on #61767
@LucaPrete  could you provide detailed config? original thread said `nobrl` mountOptions should work.

[2020-05-06 05:44] zhouya0 commented on #90758
Fixed in this PR, update `kubectl` with v1.18 will fix this .https://github.com/kubernetes/kubernetes/pull/85846

[2020-05-06 05:55] Jevi06 commented on #46331
Thanks for your explain,I want to consult you how to do the opertion ----'unmount for the mountponts' automatically ,is there a way to config it to pod manifest ?

[2020-05-06 06:03] rahulwagh commented on #90345
@AnwarArifa Yeah i found the problem.
I have prepared bunch of steps on how to do it correctly, you can refer to following links based on your OS distribution -

1. [Ubuntu installation](https://jhooq.com/14-steps-to-install-kubernetes-on-ubuntu-18-04-and-16-04/)
2. [CentOS installation
](https://jhooq.com/15-steps-to-install-kubernetes-on-bento-centos7/)

But in brief the main mistakes which i di

[2020-05-06 06:10] xmapst commented on #79359
@ksubrmnn But it doesn't work in 1.18.1

[2020-05-06 06:22] justaugustus commented on #90709
/priority important-soon
/area release-eng

[2020-05-06 06:37] povsister commented on #72220
I have implemented the jsonpath regex support for kubectl. It works well on client-side.

New to K8S community... Figuring out how to raise a PR.

[2020-05-06 06:43] #90762 closed

[2020-05-06 07:39] feiskyer opened #90790 "Public IP is not shown on nodes after assigning public IP to Azure VMs"
**What happened**:

Public IP is not shown on nodes after assigning public IP to Azure VMs, e.g.

[code]

It is probably caused by https://github.com/kubernetes/kubernetes/pull/83685/commits/eeeb59e71ab8e628f191145bf37ad93d23ef85cc, which changed the IMDS cache type to `CacheReadTypeUnsafe`.

We should change the cache type back to `AzureCacheReadType`, so that the cache would be refreshed after m

[2020-05-06 07:48] lijinchao commented on #90589
We have encountered the same issue when installing kube-promethus in k8s 1.15.7. The last prometheus was reinstalled randomly and the image version  dosen't match the default version.

[2020-05-06 08:12] yeganeahmadnejad commented on #90589
/sig node
/sig storage
/sig Scheduling

[2020-05-06 08:15] AnwarArifa commented on #90345
Thanks @rahulwagh

I am directly setup in the ubuntu machine using oracle virtual box not with the vagrant option.

In my case i am able to see one ethernet adapter. please see below:
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever prefer

[2020-05-06 08:19] muyuefei commented on #84214
I solve the problem when I pull the image

[2020-05-06 08:23] rahulwagh commented on #90345
How are you initiating kubeadm?

Did you use “apiserver-advertise-address” param while initialization?

[2020-05-06 08:29] AnwarArifa commented on #90345
Yes Rahul. with the help of below commands

sudo apt-get update
sudo apt-get install docker.io
sudo apt-get update && sudo apt-get install -y apt-transport-https
curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
cat <<EOF | sudo tee /etc/apt/sources.list.d/kubernetes.list
deb https://apt.kubernetes.io/ kubernetes-xenial main
EOF
sudo apt-get update
sudo apt-get ins

[2020-05-06 08:40] cenfei commented on #87735
how  fix  it?

[2020-05-06 08:56] davidstack commented on #89392
@uablrek  thanks, when i power off one master,sometimes, check the ipvs rule, the ipvs rule for failed master was not deleted, the weight for this real server is 0,but thie real server has 1 active connection and 1 inactive connection.  after restart the kube-proxy ,all is back to normal.

should we change the kube-proxy graceful termation, delete the realserver when the weigth is 0

[2020-05-06 09:05] AnwarArifa commented on #90345
Yes i am using "apiserver-advertise-address" in the kubeadm init command i am not facing any issues in the master node setup after once i use the join command i am getting error

kubeadm init --apiserver-advertise-address=10.0.2.15 --pod-network-cidr=192.168.0.0/16

kubeadm join 10.0.2.15:6443 --token gpcny6.n1ppfussdb42znjy \
    --discovery-token-ca-cert-hash sha256:8e5103ac1810aef562bdd7d2424c2

[2020-05-06 09:08] LucaPrete commented on #61767
@andyzhangx what specific config are you looking for? I've posted above my full sc config...

[2020-05-06 09:15] cann0nf0dder commented on #80982
@waelghaith after we moved from 1.13 to 1.14 the issue resolved itself, it could have been related to  https://github.com/kubernetes/kubernetes/pull/80173 but i'm not 100%. It also was linked to the control plane flapping during upgrades https://github.com/kubernetes/kubernetes/issues/81286. We upgraded all of our clusters and did not experience any disruptions to the service since at least 1 out

[2020-05-06 09:20] andyzhangx commented on #61767
@LucaPrete what's your sqlite config to repro this issue?

[2020-05-06 09:30] rahulwagh commented on #90345
If issue is still there the I would go and check for

1. validity of the token, is it still valid or expired
2. Firewall between the master and worker nodes. You should disable the firewall or set the firewall rule to create exceptions for port 6443

[2020-05-06 09:30] LucaPrete commented on #61767
It's just an sqllite db file mounted in a container with a PVC dynamically
provisioned and based on azurefiles.
The storage class used for the PVC is the one I've posted above.
The container runs a web application. We use transaction mechanisms
properly, committing and closing the connection where needed.

While the application runs, the database always results in lock state, both
from the webapp,

[2020-05-06 09:33] uablrek commented on #89392
No, that is the non-graceful way :smiley:

If the weight is 0 for the dead real-server(s) thraffic should be un-affected, it just "looks bad". The inactive connection should go away after ~2min (the TIME_WAIT interval). But the active connection has a much longer timeout, I don't know how long. This because ipvs can't know if there is just no activity on the connection, which a normal case.

If th

[2020-05-06 09:34] andyzhangx commented on #61767
for postgres on azure file, you could refer to https://github.com/andyzhangx/demo/tree/master/linux/azurefile/postgresql
@LucaPrete

[2020-05-06 09:36] uablrek commented on #89392
But your comment may make it possible for me to re-create the problem. The key may be that active connections must exist. I just brought the real-servers up not bothering to create active connections.

[2020-05-06 09:39] LucaPrete commented on #61767
I do not intend to use Azurefiles to support Postgres. That works great
with AzureDisk, which is much faster! :)
My only goal, as now, would be to use Azurefiles to support Sqlite.

-Luca

Il giorno mer 6 mag 2020 alle ore 11:34 Andy Zhang <notifications@github.com>
ha scritto:

[2020-05-06 09:46] zhouya0 commented on #90685
/assign

[2020-05-06 09:48] pohly commented on #90736
See https://github.com/kubernetes/kubernetes/pull/90793

[2020-05-06 09:58] AnwarArifa commented on #90345
1) Yes, even i have generate the new token and then tried, i am getting the same error
2) I have disable the firewall in both master and woker nodes "sudo ufw disable"
3) I am thinking in both the master and worker nodes the ip address showing the same "10.0.2.15". that is the reason it is not able to join the node ? I am not sure how to get the unique ip address for both the machines .

enp0s3: <

[2020-05-06 10:00] pires opened #90794 "Pods in Node are deleted even if the NoExecute taint that triggered deletion is removed"
**What happened**:

A Pod was scheduled for deletion because a taint w/ effect `NoExecute` was observed in the Node the Pod was assigned to, and after the taint is removed from the Node, the Pod scheduled deletion isn't canceled.

After scheduling pod deletion, the *`NoExecuteTaintManager` only cancels pod deletion if all `NoExecute` taints are removed from the node*, including any taints that the

[2020-05-06 10:02] pires commented on #90794
There seems to be at least [one other similar report in the wild](https://stackoverflow.com/questions/58560739/noexecutetaintmanager-falsely-deleting-pod).

[2020-05-06 10:09] rahulwagh commented on #90345
Well i would still suggest to use Vagrant because you specify the IP for each node there. Since you already have virtualbox installed it will not take much time to install vagrant and provision the VMs using Vgarantfile. You can use the Vagrantfile from the the guide which i posted earlier in the chat .i.e. ([Ubuntu installation](https://jhooq.com/14-steps-to-install-kubernetes-on-ubuntu-18-04-and

[2020-05-06 10:26] Danil-Grigorev opened #90795 "vCenter hostname must be all lower case"
**What happened**:
kube-controller-manager is unable to locate the credentials of the vCenter host, even though they are defined and cased identically to the hostname in the cloud-provider-config.

**What you expected to happen**:
vCenter hostname should not be case-sensitive, or should be documented that it is. It should successfully locate credentials from the manager

**How to reproduce it (as

[2020-05-06 10:30] Danil-Grigorev commented on #90795
/sig cloud-provider
/area/provider/vmware

[2020-05-06 10:40] a-prezioso opened #90798 "Problem with hello-world minikube"
Hello guys, I have a problem running hello-minikube in kubernetes.
This is the command -->
run hello-minikube --image=gcr.io/google_containers/echoserver:1.4 --port=8080

This the result -->
error: v1.ReplicationController: ObjectMeta: v1.ObjectMeta: readObjectFieldAsBytes: expect : after object field, parsing 740 ...:{},"k:{\"... at {"kind":"ReplicationController","apiVersion":"v1","metadata":{"n

[2020-05-06 10:58] zhouya0 commented on #90685
When setting `--local` to be `true`  cause `info.Mapping` is `nil` and nil pointer error happens:
https://github.com/kubernetes/kubernetes/blob/c30da3839c8e13fdff59ef5115e982362b2c90ed/staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go#L364

[2020-05-06 11:14] PanAeon commented on #80633
Same thing happens to me under `runc`. (BTRFS filesystem)
Fix from https://github.com/kubernetes/kubernetes/issues/80633#issuecomment-550994513 helps!!
Thank you @moolen

[2020-05-06 12:00] f0o commented on #43916
@JacobHenner 2. just happened to us.

We have a few tests that require OracleDB, the memory limit is set to 16Gi but I can see the pod triggering an OOM on the node by consuming 68G of caches while only reporting 6.5G of active memory.

This not only evicted a node but also triggered the kernel's OOM killer which made everything go nuts.

This was on  4.15.0-91-generic #92-Ubuntu (ubuntu 18.04) wi

[2020-05-06 12:16] adriananeci opened #90801 "Cronjob controller doesn't honor defined schedules on big clusters"
**What happened**:
We have a bunch of cronjobs that are scheduled to run every 1 or 5 minutes. After a period of time we noticed that cronjob controller stopped honoring the schedules. The cronjobs get scheduled from time to time.(see `LAST SCHEDULE` below)
[code]

**What you expected to happen**:
A cronjob runs per the schedule defined.

**How to reproduce it (as minimally and precisely as possib

[2020-05-06 12:18] adriananeci commented on #90801
/sig apps

[2020-05-06 12:25] mohag commented on #53201
/remove-lifecycle rotten

The issue is still present

[2020-05-06 12:25] srbhklkrn opened #90802 "kubernetes: failure in a Windows system call: The system cannot find the path specified"
I'm trying to run the init script before the container starts in the pod, for that, I have created a config map from file and mounted as shown in deployment scripts then simply trying to run the `initscript.ps1` but giving error not sure what am I missing.

`initscript-config-script` is a configMap that I have created from `initscript.ps1` script.

Deployment script:

[code]
Error Stack:

Dockerfi

[2020-05-06 12:31] hasheddan commented on #90761
@neolit123 was green for a bit since merge, but noticed a timeout on `init` this morning. Do you think it is worth bumping the timeout there as well? It looks like the timeout was quite a large outlier compared to the successful runs (more than double the duration), so maybe we should address underlying problem.

https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-master-on-1-18&sh

[2020-05-06 12:36] hasheddan commented on #90723
@jkaniuk I noticed yesterday's run was green, mind if I upgrade to flaky here?

[2020-05-06 12:37] srbhklkrn commented on #90802
/sig windows

[2020-05-06 12:40] bobveznat commented on #90794
You can sort of get a feel for what's going on here by looking at these two code snippets:

This is what happens in [the fast path](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/nodelifecycle/scheduler/taint_manager.go#L458) when the node does not have any NoExecute taints:
[code]
If you have any NoExecute taints on the node processPodOnNode gets called and this routine is re

[2020-05-06 12:44] saurabhnetskope commented on #89181
v1.18.2

[2020-05-06 12:52] ChristofSchwarz commented on #90403
I found the solution to my issue, and it was apparently a "stupid one". When I enabled DNS in my MicroK8s cluster, it sets the name servers to be 8.8.8.8 and 8.8.4.4 (two Google name servers). Now, my Ubuntu VM runs on Azure, and the fully qualified name of it is something ending with *.internal.cloudapp.net. Such addresses are unknown to the Google DNS. The fix simply was to change the "Corefile"

[2020-05-06 12:54] neolit123 commented on #90761
lets wait for some more singla before bumping the timeouts on init.
locally for me `init` takes a couple of minutes, so i would like to know if this is a temporary GCE/networking issue.

[2020-05-06 13:03] neolit123 commented on #90761
actually something is not right, because in this job:

also this job https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-master/1257831781441212418/build-log.txt showed that even 10m is not enough for
`kubeadm join`

it errored with:

but looking at the log timestamps only ~2 minutes have passed.
i will have another look later today or tomorrow.

[2020-05-06 13:21] chrisohaver commented on #90403
This is the expected behavior of Pod dns lookups. It's due to the search list and ndots setting in `/etc/resolv.conf`. Since `qlik-tenants.default.svc.cluster.local` does not end in a dot, it it not strictly fully qualified.  Since it's not fully qualified and the number of dots it contains (4) is less than the ndots setting in `/etc/resolv.conf`, the query is attempted with each domain in the sea

[2020-05-06 13:23] tibers commented on #89495
Maybe I'm reporting a bug instead of a feature request. It's not that kubernetes throws an error, it's that if the field exceeds 63 chars for the spec.pod.image, K8s will look like it's working but the pod will never pull.

[2020-05-06 13:49] chrisohaver commented on #90403
Doing that would randomly distribute queries to those upstreams.  The better way is to define a separate server block to forward the `3k32yaozxvnuteru2c5qb54rqg.bx.internal.cloudapp.net` domain to the correct DNS.  See  https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#configuration-of-stub-domain-and-upstream-nameserver-using-coredns

[2020-05-06 13:51] liggitt commented on #72220
Do you have a reference for how jsonpath supports regular expressions? We'd want to make sure any addition we make is standard (there are a couple places we support non-standard filter syntax in jsonpath today that have caused headaches for improving jsonpath support in other ways). See similar discussion in https://github.com/kubernetes/kubernetes/pull/79227#issuecomment-538030944

[2020-05-06 14:01] runlevel5 opened #90807 "kubernetes ppc64le client v1.18 binary is mixed up with arm64 client"
**What happened**:

I downloaded the official ppc64le client binary from the https://kubernetes.io/docs/setup/release/notes/#client-binaries.

When I run `./bin/kubectl`, I get following error:

`cannot execute binary file: Exec format error`

**What you expected to happen**:

The app should work.

**How to reproduce it (as minimally and precisely as possible)**:

1. Find a computer running Linux

[2020-05-06 14:03] runlevel5 commented on #90807
/sig release

[2020-05-06 14:35] liggitt commented on #15858
/close

The layer that does jsonpath rendering is intentionally type-agnostic. I don't anticipate adding kube-specific object rendering there.

Resources that support the /scale subresource (replication controllers, replicasets, deployments, statefulsets, some custom resources, etc) return a stringified selector in the `.status.selector` field of the scale subresource:

[code]

Something like http

[2020-05-06 14:36] #15858 closed

[2020-05-06 15:00] jrubenc opened #90808 "Weird HPA behaviour"
**What happened**:

A deployment gets way too many pods launched by HPA. But individual pods CPU usage is really low.

foo-deployment      Deployment/foo-deployment    89%/90%   14        30        29         205d

But, for those 29 pods the CPU usage is:

112m 64m 91m 99m 133m 75m 115m 86m 76m 128m 98m 102m 134m 94m 64m 92m 107m 141m 77m 150m 128m 148m 103m 115m 74m 104m 110m 81m 121m

The deploy

[2020-05-06 15:00] nfisher opened #90809 "Clarify behavior of `imagePullPolicy: Always`"
**What would you like to be added**:

**Updated issue description:**

`imagePullPolicy: Always` resolves the image with the registry, and if it resolves to a sha that is not already pulled to the node, pulls the image content. If the resolved sha is already pulled to the node, it uses the already-pulled content. The documentation does not make this clear.

**Original issue description:**

Currentl

[2020-05-06 15:01] neolit123 commented on #90809
/sig node

[2020-05-06 15:02] neolit123 commented on #90808
/sig autoscaling

[2020-05-06 15:03] neolit123 commented on #90807
/priority critical-urgent
/milestone v1.19

[2020-05-06 15:04] neolit123 commented on #90768
/kind feature
/sig api-machinery

[2020-05-06 15:04] neolit123 commented on #90794
/sig scheduling node

[2020-05-06 15:10] liggitt commented on #36391
The integer comparison was fixed in 1.6 (and remains fixed in master):

[code]

[code]

[code]

Several improvements to json-decoding were made to ensure an integer value was decoded into an integer value in memory.

/close

[2020-05-06 15:10] #36391 closed

[2020-05-06 15:12] liggitt commented on #90809
`imagePullPolicy: Always` actually does what you want already... it resolves the image with registry and if it resolves to a sha that is not already pulled to the node, pulls the image. If the resolved sha is already pulled to the node, it uses the already-pulled content.

[2020-05-06 15:15] liggitt commented on #90809
/remove-kind feature
/kind documentation

the documentation probably needs to make the behavior of "Always" clearer

[2020-05-06 15:19] squeed commented on #90259
I believe `route_localnet` is enabled so that pods with HostPort set are truly equivalent to host ports. That is to say, I should be able to connect to `localhost:8080` not know that it's actually handled by a pod.

I seem to recall this being lifted directly from libnetwork, but memory is extremely hazy.

[2020-05-06 15:19] squeed commented on #90259
Also, none of this works for ipv6; there is no equivalent, as addresses cannot escape their zone.

[2020-05-06 15:20] mcginne commented on #90725
We have started using Kubewatch to watch for configmap changes, and have seen some strange behaviour. Yesterday we had 1 apiserver (out of 3) running pretty hot. We upgraded the nodes our masters are running on to 32 cores just so that we had plenty of CPU headroom. We had 1 apiserver running at 70% and the other 2 at 10%. That apiserver had the vast majority of the watchers on (according to `apis

[2020-05-06 15:25] liggitt commented on #90725
Continuous updates to all configmaps is possible, I guess, but seems unlikely... I'm not familiar with how kubewatch is set up, but if it is like a normal informer, if it can't establish/reestablish a watch, it might restart by listing and emitting an updated event for every existing configmap that is returned. If the condition that made it drop its watch was persistent, it could be forced to do t

[2020-05-06 15:25] uablrek commented on #90259
Yes, that is reported in; https://github.com/kubernetes/kubernetes/issues/90236

[2020-05-06 15:27] liggitt commented on #90794
/cc @karan

[2020-05-06 15:28] liggitt commented on #90759
/remove-sig auth
/sig node

[2020-05-06 15:29] liggitt commented on #90758
thanks for the report, fixed by https://github.com/kubernetes/kubernetes/pull/85846

/close

[2020-05-06 15:29] #90758 closed

[2020-05-06 15:31] povsister commented on #72220
Yes. I referred [JsonPath Java](https://github.com/json-path/JsonPath) implementation but with a little modification:
- Regex pattern is quoted using a pair of `"` instead of a pair of slash `/`

Because the std `regexp` package does not require quoting pattern with `/`
See [https://godoc.org/regexp](https://godoc.org/regexp)
Double quotation is made for internal token reader to not split it.

As

[2020-05-06 15:34] squeed commented on #90236
FYI, there is no v6 equivalent to route_localnet, because it's not permitted to route packets to a larger scope.

[2020-05-06 15:38] gnufied commented on #69799
@anguslees not sure if you had a chance but we are trying to fix the issue in https://github.com/kubernetes/enhancements/pull/1621

/remove-lifecycle-stale

[2020-05-06 15:38] danwinship opened #90810 ""Services should be rejected when no endpoints exist" is flaky"
The test "`Services should be rejected when no endpoints exist`" is flaky. eg, currently on https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce there are 4 flakes in the last 10 days (or whatever it is):

- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/1257830397484470272
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-log

[2020-05-06 15:38] jkaniuk commented on #90723
Sure

[2020-05-06 15:43] michael-db commented on #87724
This is a significant issue.
/remove-lifecycle stale

[2020-05-06 15:44] liggitt commented on #72220
Thanks for the work, but I think this needs more agreement before proceeding. As mentioned in https://github.com/kubernetes/kubernetes/pull/79227#issuecomment-538030944, ad hoc support for unspecified features is problematic.

That is my concern.

Picking an arbitrary other implementation to match behavior against is not as principled as I would expect our API support to be, *especially* if we don

[2020-05-06 15:45] sftim commented on #84903
I still want this, so:
/remove-lifecycle stale

[2020-05-06 15:58] cmluciano commented on #90594
Hi @chief93 . Can you please clarify if this is a bug or feature request? At first glance I thought I was reading through a potential bug but the following sentence may imply that this is a feature request -

[2020-05-06 16:36] povsister commented on #72220
Stick to the standards usually make things clear&better.
But, what if there is no applicable standard ? Or the standard is out of date ?

The only [standard-like description](https://goessner.net/articles/JsonPath/) for jsonpath is written 13 years ago. And no regex-related operators was found.
The java implementation I referred above also claims to have implemented this standard. But it do has a

[2020-05-06 16:37] chief93 commented on #90594
Hi @cmluciano ! Thanks for your reply.
1. This is a bug caused by unexpected behavior of the Kubernetes: the nodes are trying to reach the API through the CNI interface, which can not be ready at the time they try this - exactly my situation, and I tried to think why this can happen, that's why I suggested to investigate this strange timeout, or something like this, after which I was able to start

[2020-05-06 16:47] liggitt opened #90813 "[Flaky test] [sig-apps] StatefulSet [k8s.io] Basic StatefulSet functionality [StatefulSetBasic] Scaling should happen in predictable order and halt if any stateful pod is unhealthy [Slow] [Conformance] - watch closed before UntilWithoutRetry timeout"
**Which jobs are flaking**:
* ci-kubernetes-kind-conformance-parallel
* ci-kubernetes-kind-conformance-ga-only-parallel
* ...

**Which test(s) are flaking**:

* `[sig-apps] StatefulSet [k8s.io] Basic StatefulSet functionality [StatefulSetBasic] Scaling should happen in predictable order and halt if any stateful pod is unhealthy`

**Testgrid link**:

* https://testgrid.k8s.io/sig-testing-kind#pull-

[2020-05-06 16:49] liggitt commented on #90813
#90729 seems a likely cause

/cc @wojtek-t

[2020-05-06 16:57] liggitt commented on #90813
I *think* the test is actually faulty... e2e tests using watch.UntilWithoutRetry or watch.Until are going to be vulnerable to their resource versions exceeding the watch window

[code]

[2020-05-06 16:58] liggitt commented on #90813
/sig apps
for deployment/statefulset tests

/sig testing
for common helper methods

[2020-05-06 16:58] Baykonur opened #90814 "VSphere Cloud Provider dynamic storage provisioning got very slow after upgrading from v1.14 to v1.15."
**What happened**:
We are using vsphere cloud provider. Dynamic storage provisioning got very slow after upgrading our K8s clusters from v1.14 to v1.15.
**What you expected to happen**:
We expected `pv`s to be created within seconds as it happens on K8s v1.14 cluster. However depending on the number `pvc`s created by the developers on the cluster, the creation of a `pv` took between 2 minutes to 1

[2020-05-06 16:58] Baykonur commented on #90814
/sig storage
/sig vmware

[2020-05-06 17:00] Baykonur commented on #90814
/sig vmware

[2020-05-06 17:09] chief93 commented on #90594
I think I need to explain my cluster infrastructure more clear. Here Is some sketch of it:
![kubernetes](https://user-images.githubusercontent.com/2089568/81206003-1cf6da80-8fd4-11ea-83ca-a728506b0e7a.png)
1. LXC containers, same as LXC hypervisor, obtain IPs from Mikrotik, so all of them, including the hypervisor and my other devices, are in one network address pool `192.168.1.0/24`
2. Kubernetes

[2020-05-06 17:11] lavalamp commented on #72220
The below is actually shorter. You can also make a jq script to do pretty much anything and even maintain it as a file if you wish. But in this case grep is very simple.

[code]

I only object to jsonpath being in kubectl a little bit, but I would object greatly to it being promoted to an actual api.

[2020-05-06 17:12] wojtek-t commented on #90813
Let me take a look - I think my PR shouldn't fundamentally break anything, so it's probable that those tests are faulty as Jordan wrote? I will look into it.

/assign

[2020-05-06 17:15] thockin commented on #89495
That is a very very different issue than this title would suggest.

Kubelet logs?

Does it work with plain old docker?

are there events generated for your Pod?

On Wed, May 6, 2020 at 6:23 AM Joshua Knarr <notifications@github.com>
wrote:

[2020-05-06 17:18] liggitt commented on #90813
it looks like at least some of the watchers we start don't indicate they can receive watch bookmarks:

https://github.com/kubernetes/kubernetes/blob/0a6c826d3e92dae8f20d6199d0ac7deeca9eed71/staging/src/k8s.io/client-go/tools/watch/retrywatcher.go#L100-L105

[2020-05-06 17:21] thockin commented on #89495
Can you post a minimal repro to public registry?  E.g. I just tested with `gcr.io/thockin-dev/012356789/0123456789/0123456789/0123456789/long_name:a-very-log-tag-name-0123456789` and it deployed into my cluster without fail.

[2020-05-06 17:22] liggitt commented on #90813
/kind bug

based on the issue discovered in non-test code

[2020-05-06 17:35] hasheddan commented on #90723
/remove-kind failing-test
/kind flake
/retitle [Flaky Test] gce-master-scale-performance: l7-default-backend restarted twice

[2020-05-06 17:36] wojtek-t commented on #90813
OK - so I looked into the test and it's actually it's not that surprising - the test takes more than 5 minutes, and we're sending "watch request" with RV from the initial request from the beginning of the test. So it's not unexpected.

I actually looked into tests and should be fairly trivial to migrate them to use, so I will try to do that too.

[2020-05-06 17:38] liggitt commented on #90813
Let's isolate the RetryWatcher change... I'd consider backporting that

[2020-05-06 17:40] aojea commented on #82125
seems that DROP is easier, but I just want to be very careful with this because I've broken the CI once playing with the KUBE-MARK-DROP https://github.com/kubernetes/kubernetes/pull/85527 :sweat_smile:

a quick grep shows
[code]

 that kubelet only creates the CHAIN and the rule to mark the packets but it seems that the only consumers are the kube-proxy implementations.

@thockin @danwinship are y

[2020-05-06 18:31] #90802 closed

[2020-05-06 18:32] boskoop commented on #58814
/reopen

[2020-05-06 18:33] chrifey commented on #13136
+1 from me as well. Would be nice to store "credentials" + KDC nformation as secret and csi cares about getting a ticket and use this to mount the NFS share (and also cares about ticket renewal).

Maybe I'm thinking wrong and this does not make sense, but on normal linux servers kerberos is common practice to secure NFS.

[2020-05-06 18:40] alculquicondor commented on #87703
Actually, it might be possible to override the plugin registry and capture there. Although, we might need a new interface.

Something similar to what I'm doing in #90657 in `framework_test.go`

[2020-05-06 18:40] jaskirat8 commented on #61456
as per @andyzhangx comment, the listed paths work with subpath but only with parent directories matching.
we cannot have

      volumes:
      - name: postgres-data
        hostPath:
          path: /mnt/datafiles/

and use

      containers:
      - name: postgres
        image: postgres:9.6.13
        volumeMounts:
        - mountPath: "/var/lib/postgresql/data/"
          name: postgres-data

[2020-05-06 18:44] alculquicondor commented on #87703
Not entirely sure how to expose the registry, but it's worth giving it a thought.

[2020-05-06 18:48] wojtek-t commented on #90725
Yeah - 1000 changes per second is a lot.
And actually I just realized that https://github.com/kubernetes/kubernetes/pull/80521 was only merged in 1.17. And without this PR it's not very surprising to me that we couldn't keep up with that number of changes. So I think we understand that part of problem now.
[BTW - if you're running a fork, you may want to patch that - it would help a lot for that i

[2020-05-06 18:51] danwinship commented on #82125
There are few related PRs/issues that all ought to be resolved together. I had started writing a KEP, https://github.com/danwinship/enhancements/commit/a7e7e519, but have not finished it. (Notably, the summary's claim that the KEP "proposes ... a plan to migrate from the old [system] to the new one" is not yet true.)

[2020-05-06 18:55] alculquicondor opened #90816 "TestEnsureBackendPoolDeletedConcurrently has races"
**Which jobs are flaking**:

pull-kubernetes-bazel-test

**Which test(s) are flaking**:

TestEnsureBackendPoolDeletedConcurrently

**Testgrid link**:

**Reason for failure**:

[code]

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/90771/pull-kubernetes-bazel-test/1258093883590447104

/sig cloud-provider

[2020-05-06 18:56] alculquicondor commented on #90816
cc @nilo19

[2020-05-06 19:17] enj opened #90817 "External credential providers KEP follow-ups"
Tracking work from https://github.com/kubernetes/enhancements/pull/1711

Not all of these are required for GA

- [ ] Update KEP to include new API struct
- [ ] Doc updates, especially around new API changes https://github.com/kubernetes/website/pull/21626
- [ ] Implement new API changes
  - [ ] Wire cluster info https://github.com/kubernetes/kubernetes/pull/91192
  - [ ] Add install hint https://g

[2020-05-06 19:41] nrockwell3 opened #90821 "Using apiserver --goaway-chance reduces apiservice request throughput by 8%"
**What happened**:
Using the apiserver `--goaway-chance=0.001` flag resulted in our apiserver load tests reported a 8% reduction in throughput vs a baseline without the flag. One thought was that the GOAWAY operations on a connections were the source of the reduction. So we ran the test with `--goaway-chance=0.0001`. This resulted in the same 8% reduction in throughput. This leads to the conclusio

[2020-05-06 19:56] nrockwell3 commented on #90821
/sig scalability

[2020-05-06 20:10] Baykonur commented on #90814
/sig vsphere

[2020-05-06 20:14] K3UL commented on #78570
/reopen

What a horrible way to treat issues, to be honest

[2020-05-06 20:14] K3UL commented on #78570
/reopen

[2020-05-06 21:47] #86041 closed

[2020-05-06 22:30] smarterclayton commented on #65013
This is a bug with service load balancers - not something we should document.  We defined a label in https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/2019-07-16-node-role-label-use.md#service-load-balancer that cluster admins can use - Unschedulable has nothing to do with SLB inclusion.

`node.kubernetes.io/exclude-from-external-load-balancers` which is beta and on by d

[2020-05-06 22:31] smarterclayton commented on #65013
Disagree.  Unschedulable means "no new workloads".  It has nothing to do with existing workloads, that is why we have drain (but we should have something).

I have opened #90823 to remove this check - we have an alternate approach now and the old logic is wrong (the comment in the code even says "this is for masters!" and that's wrong now too as part of the kep).

[2020-05-06 22:43] 2rs2ts commented on #76531
@cyrus-mc docker folks say latest docker won't work with k8s 1.13, supposedly https://github.com/kubernetes/kubernetes/issues/82326#issuecomment-546464495

[2020-05-06 22:53] vagababov commented on #76951
/remove-lifecycle stale

[2020-05-06 23:19] danehans commented on #65013
A node status condition?

[2020-05-07 00:38] BenTheElder commented on #89859
xref https://github.com/kubernetes-sigs/kind/issues/1569

Re-discovered in some other host environments with kind.

It looks like the cAdvisor fix is in but we need to get it into kubernetes.

[2020-05-07 01:08] ahg-g commented on #90679
The reason the still gets scheduled on the node is because the pod affinity semantics is as follows: there needs to be at least one pod on the node such that the label doesn't exist for the node to be feasible. While ```pod-affinity-doesnotexist``` doesn't meet this criteria, there must be another pod on the node that did.

I think this the behavior is correct.

[2020-05-07 01:27] mysunshine92 commented on #78721
/open

[2020-05-07 02:10] povsister commented on #72220
`jq` is not installed by default on several Linux distributions.
For maximum compatibility and migration, using `jq` to achieve simple purpose is not a good idea.
Especially for enterprise users, generally their machines can not access Internet. Making it hard to install additional dependency.

JSONPath is widely used on client-side. I prefer it to be a useful tool instead of a concrete API.

For

[2020-05-07 02:49] liggitt commented on #90821
/sig api-machinery
cc @deads2k @lavalamp @smarterclayton

[2020-05-07 02:50] dims commented on #88553
YET another reason to pull our bazel - https://github.com/kubernetes/kubernetes/pull/90575#issuecomment-624993328 ( this one from @thockin )

[2020-05-07 02:53] cofyc commented on #81368
/remove-lifecycle rotten

[2020-05-07 03:50] ZPerling commented on #19330
@four43 only modify max_pods value , kubelet could work for you ? and cidr will auto update?

[2020-05-07 03:51] four43 commented on #19330
This is a long dead thread, friend. I’m sure you’d be able to find better
info about newer versions of Kube elsewhere. Good luck!

On Wed, May 6, 2020 at 10:50 PM Perling <notifications@github.com> wrote:

--
-Seth

[2020-05-07 05:30] dopelsunce commented on #90581
Hi, I reproduced the goroutine leak with this test case. The control loop inside `Pop` may not exit when `Close` is called on an empty queue due to the race condition.
[code]

Also, I submitted a PR trying to fix it. :smile:

[2020-05-07 05:55] #85604 closed

[2020-05-07 06:09] tstromberg commented on #48948
FWIW, minikube has vastly improved CPU overhead since v1.8 - a reduction of 19% in 2020 alone.

On a modern developer machine like a MacBook Pro, minikube with hyperkit now consumes roughly 6% of available system CPU (30-40% of a single CPU core): https://docs.google.com/spreadsheets/d/1qzgVsZ9y0zqCjoQlN_LGJH3MUMqrVPexzNhdB2jzBqU/edit#gid=1614668143

It isn't perfect, but I feel like this issue ca

[2020-05-07 06:23] sofat1989 opened #90829 "Can we just print the warning instead of failing directly when the node's kernel parameters are not expected in kubelet"
We set the flag to protect the kernel params are not modified by the kubelet
[code]
But the kubelet cannot be up because of this error
[code]
After checking the codes, if we enable protectKernelDefaults, after finding out some kernel parameters are not matched , kubelet will fail directly

[code]

Can we add an option to choose just printing the warinning if we set the `protectKernelDefaults`.
[co

[2020-05-07 06:35] AnwarArifa commented on #90345
Thanks Rahul. I am able to succeed with vagrant. Small change,I have used calico network instead of flannel.

Thank you very much for your help 😊

[2020-05-07 06:40] hkamel opened #90830 "[Flaky Test] gce-cos-master-slow (ci-kubernetes-e2e-gci-gce-slow)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

May  7 04:50:33.637: Unexpected error:
    <*errors.errorString | 0xc000393890>: {
        s: "watch closed before UntilWithoutRetry timeout",
    }
    watch closed before UntilWithoutRetry timeout
occurred
/go/src/k8s.io/kubernetes/_output/dockerized/go/s

[2020-05-07 07:02] rabbitfang commented on #90764
I am also seeing this issue when running conformance testing. The nodes in our test cluster (where we run conformance tests) have public IP addresses, but nearly all ports all firewalled. We are also running in AWS. These tests should only rely on the internal IP address of the nodes.

[2020-05-07 07:37] loganmzz opened #90831 "Pod Service Account Name can't contain dot character"
## What happened:
I have created a Service Accout which name contains dot character (`.`) and tried to create to pod using this service account. But Pod creation failed with a volume name which doesn't match the regex `[a-z0-9]([-a-z0-9]*[a-z0-9])?`

Output:

[code]

## What you expected to happen:
Pod should be created without error.

**How to reproduce it (as minimally and precisely as possible)

[2020-05-07 07:42] loganmzz commented on #90831
/sig apps

[2020-05-07 07:55] 249043822 commented on #78721
/reopen

[2020-05-07 08:01] ping035627 commented on #78721
/reopen

[2020-05-07 08:24] mcginne commented on #90725
Cool thanks guys, that's good to know this is improved in Kube v1.17, I'll check what our schedule is for moving to v1.17, and see if we want to patch.
I haven't seen any more occurrences of the huge numbers of updates yet, so I'll continue to monitor for that.
I wondered I you knew on what basis will Kubelet refresh connections for watchers to apiserver - I've seen for several hours the number of

[2020-05-07 08:30] enj commented on #90831
This should be fixed in v1.19 via #89696

[2020-05-07 08:34] loganmzz commented on #90831
Ok thanks ! I've searched for issues but don't mind about PRs !

[2020-05-07 08:42] tosi3k opened #90833 "Leverage image preloading in kubemark tests"
**What would you like to be added**:
The change in #90806 is temporary - instead of just adding an annotation to every kubemark node to simply increase node objects sizes, we'd like to leverage image preloading (from clusterloader in perf-tests repo) once it supports kubemark clusters to better reflect the structure of node objects in kubemark tests.

**Why is this needed**:
Explained in previous

[2020-05-07 08:42] tosi3k commented on #90833
/sig scalability

[2020-05-07 08:44] mm4tt commented on #90833
/good-first-issue

[2020-05-07 08:46] mcginne commented on #90725
I may have answered my own question on the watchers, after trawling Kubelet logs I see the following messages around the time I saw things spread out:
[code]
Then things look OK shortly after, so looks like some sort of blip I'd guess..

[2020-05-07 08:49] prageethw commented on #87797
/remove-lifecycle stale

[2020-05-07 08:56] drewboswell commented on #79950
@liggitt  Completely outside of this issue I guess, but the 4MB limit... I can' t find it documented anywhere and I've had that problem happen to me. If you set less than 4MB you'll get a nice failure to start container.

What's the reasoning for this? is it documented somewhere?

[2020-05-07 08:59] drewboswell commented on #79950
Woops, never mind. It's in the docker and OCI runtime specs. Min supported 4MB ignore my comment.

[2020-05-07 10:21] hasheddan commented on #87389
/remove-lifecycle stale

[2020-05-07 10:40] MOZGIII opened #90835 "Expose audit events as list-watchable k8s API resource"
**What would you like to be added**:
Add an `AuditEvent` resource (or similar) that can be list-watched via the k8s API.

**Why is this needed**:
It would enable a simple way to pull out the audit events for tools that already know to talk k8s API server protocol.
This is different to watching the raw `Event`s because there is `Policy` that can affect the data.

[2020-05-07 11:37] wojtek-t commented on #90725
Actually, sorry #80521 is already in 1.16. There were some more improvements in 1.17+, but not that huge.

[2020-05-07 11:40] liuxu623 opened #90838 "Default bandwidth burst is too large"
- Create a test pod with kubernetes.io/ingress-bandwidth and kubernetes.io/egress-bandwidth annotations
[code]
- tc qdisc show
[code]
- iperf3 test
[code]
We can see that burst is too large, bandwidth limit is `10M` but burst can reach `1.99 Gbits/sec`.

[2020-05-07 12:01] #80853 closed

[2020-05-07 12:14] ahg-g commented on #90794
/remove-sig scheduling

scheduler isn't involved in this case.

[2020-05-07 12:20] micmax93 commented on #68211
We are also experiencing this issue (GKE with k8s 1.15 & 1.16).
As a workaround we have used slightly simpler version of workaround shown by @Zero-2 with items field for ConfigMapVolumeSource instead of using projected volume, for example:
[code]
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/#configmapvolumesource-v1-core

[2020-05-07 12:43] gongguan commented on #90652
I have one question:
`getNodeAddressesByProviderIDOrName` and `getInstanceTypeByProviderIDOrName` first query by providerID, if failed then query by nodeName. While the logic in `ensureNodeExistsByProviderID` is conversely(if providerID is nil, get providerID by nodeName, then ensure its existence by providerID).
If we merge these three method into `InstanceMetadataByProviderID`, how to deal with

[2020-05-07 12:45] mm4tt commented on #90047
/good-first-issue

[2020-05-07 12:50] everpeace opened #90841 "Scheduler metrics: preemption victim pods count"
/sig scheduling

**What would you like to be added**:

A metric that can track the total number of preemption victim pods.

**Why is this needed**:

Currently, kube-scheduler exposes two preemption-related metrics [`pod_preemption_victims` as a Histogram and `total_preemption_attempts` as a Counter](https://github.com/kubernetes/kubernetes/blob/0926c9c47677e944c2dadcd7b39587866331eeba/pkg/schedule

[2020-05-07 12:52] wojtek-t commented on #90652
I bet it's a consequence of different people adding different code paths.
Those conceptually seem to be the same to me. Unifying this will be additional benefit from this change imho.
So I would say that choose whatever is easier to implement.

[2020-05-07 12:58] mcginne commented on #90725
I had the huge number of updates returned by Kubewatch occur again. The apiserver logs did not show a significant number of puts/deletes happening, so it seems there isn't something actually making a whole load of updates. This means it's either a bug in Kubewatch or somewhere else thinking updates are occurring when they aren't. Looking at the CPU usage of apiservers, there was no real difference

[2020-05-07 13:01] pires commented on #90794
Which SIG owns the controller-manager or is the node lifecycle manager (and its NoExecuteTaintManager) owned by sig-node alone?

[2020-05-07 13:02] wojtek-t commented on #90725
It depends on how many watchers of individual configmaps there are.
150 qps doesn't sound high - we are easily catching up with 500qps for pods in our clusters (5k-node tests with a single apiserver), but there are <10 watchers for each pod. If you have visibly more, that may be the reason.

[2020-05-07 13:02] liggitt commented on #90794
I think node lifecycle is jointly owned by sig-node and sig-cloud-provider

[2020-05-07 13:03] liggitt commented on #90794
API machinery owns the mechanics of the controller manager (controller loop setup and management), but the individual controllers are SIG-specific

[2020-05-07 13:07] pjbgf commented on #81145
/assign pjbgf

[2020-05-07 13:15] jkaniuk commented on #90723
Looks like it is basically a single restart of l7-default-backend counted as two due to temporary problems with restarting:

kubelet logs:
[code]

As newer tests are green and we ignore single restart of such component:
https://github.com/kubernetes/perf-tests/blob/master/clusterloader2/testing/experiments/ignore_known_gce_container_restarts.yaml#L13
I will close this issue

[2020-05-07 13:15] #90723 closed

[2020-05-07 13:26] alculquicondor commented on #87738
/remove-lifecycle stale

[2020-05-07 13:27] alculquicondor commented on #87738
I shared this proposal earlier, but I can't work on it at the moment https://docs.google.com/document/d/1Dw1qPi4eryllSv0F419sKVbGXiPvSv6N_mJd6AVSg74/edit#heading=h.7ni9venvudmm

[2020-05-07 13:57] Danil-Grigorev opened #90844 "PVCs can still be provisioned after the password has been changed vSphere"
**What happened**:

When the password is changed in the vSphere secret for the user that is configured for the cluster, storage can still be provisioned despite having a password that is no longer valid.

**What you expected to happen**:

 PVC provisioning should fail with "Cannot complete login due to an incorrect user name or password."

**How to reproduce it (as minimally and precisely as possi

[2020-05-07 14:00] Danil-Grigorev commented on #90844
/sig cloud-provider
/area/provider/vmware

[2020-05-07 14:03] #86069 closed

[2020-05-07 14:16] mcginne commented on #90725
Is `apiserver_registered_watchers{group="",kind="ConfigMap",version="v1"}` a good way to measure the total number of watchers? We have about 17000 for ConfigMaps in total and another 17000 for Secrets.
Also wondering if number of watchers from each node could be a factor, we run close to 150 pods on some nodes - number of ConfigMaps/Secrets per pod varies from about 1 to 10 I think. I just checked

[2020-05-07 14:35] #88132 closed

[2020-05-07 15:38] techdragon commented on #30656
Well the KEP template is here https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template

I figured I'd see how much work it is to write one and... yeah I'm not the person to write this,  The template lost me at checklist item one `**Pick a hosting SIG.**` anyone more familiar with the process want to start the draft? I just want a place to stick my 👍 in support of the proposal

[2020-05-07 15:40] nfisher commented on #90809
I assume this is per Node behaviour correct? Rather than level-set during submission of the container spec to the cluster?

[2020-05-07 15:50] liggitt commented on #90809
yes, all image pull effects are per-node

[2020-05-07 16:02] mlbiam commented on #89163
Something interesting.  The SPDY version looks for one of four exec protocol versions based on a response header.  That header doesn't appear to exist when making the `wss://` upgrade.  Does that mean there's only one protocol version when working with websockets?

[2020-05-07 16:12] #90188 closed

[2020-05-07 16:19] damemi commented on #90679
@ahg-g maybe I wasn't clear, but `s1` is created first, and is able to be scheduled onto any node. `pod-affinity-doesnotexist` should then *avoid* `s1`'s node due to the label on `s1` correct? While there may be other pods on the node that *don't* have the label, there are also pods on all of the other nodes that don't have the label, so why does it pick the one that does?

Though it's true that I

[2020-05-07 16:35] mouyang commented on #81329
/remove-lifecycle stale

[2020-05-07 16:36] kapil-rn opened #90851 "UnmountVolume.TearDown failed for volume of type hugetlbfs, error getting page size from 'pagesize=2Mi' mount option: unable to parse quantity's suffix". Resulting pod status in terminated forever."
**What happened**:
Pods get stuck in terminating state, as kubelet failed to unmount volume:
nodev on /var/lib/kubelet/pods/b3220985-120c-45c4-aeac-9f49adb29d17/volumes/kubernetes.io~empty-dir/hugepage type hugetlbfs (rw,relatime,pagesize=**2Mi**)

`Error: "UnmountVolume.TearDown failed for volume \"hugepage\" (UniqueName: \"kubernetes.io/empty-dir/b3220985-120c-45c4-aeac-9f49adb29d17-hugepage\")

[2020-05-07 17:10] alexburlton-sonocent commented on #49387
Adding my voice to this - agree that it would be awesome to be able to do `kubectl get pods --ready` or similar. I was wanting to add a step to a pipeline which would wait until all pods were ready (and fail after a timeout otherwise) and have had to rely on `grep`... which is brittle if the output of `kubectl` ever changes. Would much rather be querying the status of the pods more directly.

[2020-05-07 17:15] liggitt commented on #90831
/close
as fixed in #89696

[2020-05-07 17:16] #90831 closed

[2020-05-07 17:24] liggitt commented on #90813
https://github.com/kubernetes/kubernetes/pull/90818 should improve the immediate flakiness. Keeping this open with lowered severity to switch the tests to completely-non-flaky watch.Until methods in https://github.com/kubernetes/kubernetes/pull/90815 once signal in https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=watch%20closed%20before%20UntilWithoutRetry%20timeout is dem

[2020-05-07 17:29] jaydeland commented on #60807
This worked perfectly!

[2020-05-07 17:37] justaugustus commented on #90698
cc: @tallclair (so you get updates here)

[2020-05-07 17:39] tallclair commented on #84571
/remove-lifecycle stale

[2020-05-07 17:48] kapil-rn commented on #90851
/assign bart0sh

[2020-05-07 17:50] ahg-g commented on #90679
ah, my bad, I switched the pod names :) my point still stand though: the reason pod ```pod-affinity-doesnotexis``` still gets scheduled on the node is because the pod affinity semantics is as I mentioned above: at least one pod on the node needs to satisfy the affinity for the node to be feasible, so while s1 didn't meet this criteria, there must be another pod on the node that did.

[2020-05-07 17:52] tallclair commented on #84742
Hi @bartekzurawski , thanks for the offer! I already started working on this in https://github.com/kubernetes/kubernetes/pull/82551, but didn't manage to push it forward. Let me update that to use feature tags instead, and then the remaining work is to configure test jobs to include these tests. I'd definitely appreciate help on the second part!

[2020-05-07 17:57] kapil-rn commented on #90851
/sig storage

[2020-05-07 18:14] skamboj opened #90854 "Additional 1s latency in `host -> service IP -> pod` when upgrading from `1.15.3 -> 1.18.1` on RHEL 8.1"
**What happened**:

We run `kube-proxy` in `ipvs` mode on `RHEL 8.1`. Upgrading from kubernetes `1.15.3` to `1.18.1` introduces an additional 1 second of latency when making an HTTP call from `host -> service IP -> pod`, when the pod is running on a different host than the host where the call is made. **No** additional latency is observed when making the same HTTP call from `host -> pod` OR from `

[2020-05-07 18:15] mtaufen commented on #68244
@tahsinrahman what's the latest status on this?

/remove-lifecycle stale

[2020-05-07 18:16] skamboj commented on #90854
/sig Network

[2020-05-07 18:19] tongchao199 commented on #89668
@oomichi
When export SILENT=true and using WHAT=import-boss make alone, we can execute successfully.
However, large junit_verify.xml files are generated in the tmp directory.
When executing all make veriry,  will be stuck at the sed command

[code]

Set the QUICK=true parameter, we can temporarily bypass the sed command stuck problem.
[code]

[2020-05-07 18:20] yhaenggi commented on #62421
/remove-lifecycle stale

[2020-05-07 18:23] liggitt commented on #62421
Thanks for the feature request, but this is unlikely to make progress as an issue. This has no owner or and has not had any meaningful activity for 2+ years. A proposal that works through the design along with the implications of such a change (e.g. https://github.com/kubernetes/kubernetes/pull/63362#issuecomment-386631005) can be opened as a [KEP](https://github.com/kubernetes/enhancements/tree/m

[2020-05-07 18:24] #62421 closed

[2020-05-07 18:24] timduhenchanter commented on #74265
Can this be reconsidered?  It is valuable for the use cases presented by @rickypai

[2020-05-07 18:30] bowei commented on #74265
/remove-lifecycle rotten
/reopen

[2020-05-07 18:32] wojtek-t commented on #90813
#90815 in the current form has so problems with itself (it may cause flakiness). I need to spend a bit more time to fix it.
That said, I opened #90855 (which is a bit unrelated), but is cleaning up one of the functions we don't really need.

[2020-05-07 18:36] Baykonur commented on #90814
Dear @subramanian-neelakantan, this issue requires your attention, I would appreciate if you could flag it with vmware team.
Also, if you can let me know how I can activate debug logs for govmomi library which is used by the kube-controller-manager, I can provide further information.

[2020-05-07 18:46] sgissi commented on #85454
@humblec It still affects the current version. I built a new 1.18.2 cluster and it failed provisioning Ceph PVCs until hyperkube image is used. I understand that k8s.gcr.io/kube-controller-manager image is owned and managed by Google but {asia,eu,us}.gcr.io/k8s-artifacts-prod/kube-controller-manager are community managed. Will sig-storage follow-up with Google to update their image or update the c

[2020-05-07 18:50] immutableT opened #90856 "Improve readiness times for clusters that use envelope encryption and create large numbers of secrets."
**What would you like to be added**:
Remove the need to call remote KMS for every new Secret.

**Why is this needed**:
Due to the serial processing of List requests, the initialization of informers may take significant time due to the large number of consecutive trips to KMS. For example, assuming a 40 milliseconds round-trip to a KMS and two thousand secrets, the initialization of an informer may

[2020-05-07 18:50] immutableT commented on #90856
/sig-auth

[2020-05-07 18:54] immutableT commented on #90856
/sig auth

[2020-05-07 18:59] vitaliy-leschenko commented on #86482
This issue still reproduced.

[2020-05-07 19:11] imchand opened #90858 "pod fails to pull image from private docker registry"
I am trying to create a pod in the Kubernetes cluster using the image present in the private registry. i was able to successfully push images to the registry.  But when I am trying to create a pod it fails with the below error.

 Type     Reason     Age                From                 Message
  ----     ------     ----               ----                 -------
  Normal   Scheduled  <unknown>

[2020-05-07 19:13] sbernauer commented on #65098
You can use the following workaround
[code]

[2020-05-07 19:29] wojtek-t commented on #90725
Yes

It may matter during initialization (if you start all of them at the same time). But for steady state, it shouldn't.

I think it's not the main number we should be looking at.
The main number I'm interested is "for a given secrets/confimap, how many pods is it bound to". Because that implies how many events we need to send for a given change of secret/configmap.

[2020-05-07 19:41] humblec commented on #85454
@dims or @msau42 is there any thing we could do here to help ? I am not familiar with the process on hyperkube , so the check :)

[2020-05-07 19:42] Nowaker commented on #30656
I feel like Kubernetes became the new OpenStack where nothing can be achieved in a reasonable timeframe.

[2020-05-07 19:48] msau42 commented on #85454
Both images are owned by the community. @dims do you know the status on hyperkube?

[2020-05-07 19:52] alculquicondor opened #90859 "Move scheduler Plugin args validation to apis/config/validation"
Follow up to #87784

The validation is currently done in each plugin, which makes sense to keep some independence of the plugins.
However, since the types are API types, it also makes sense to have them in the validation package (and call the functions from the plugins)

Note that validation is only imported in `cmd/kube-scheduler/app/options` today

Thoughts?

/sig scheduling
/kind cleanup

[2020-05-07 19:53] alculquicondor commented on #90859
cc @ahg-g @Huang-Wei @liggitt

[2020-05-07 19:57] alculquicondor commented on #90859
/sig scheduling

[2020-05-07 19:57] alculquicondor commented on #90859
/kind cleanup

[2020-05-07 20:03] dims commented on #85454
@msau42 `hyperkube` image is gone. we do have a `debian-base` image that folks can layer any utilities they wish. In fact kube-controller-manager is going distroless as well in 1.19. fyi.

[2020-05-07 20:14] fedebongio commented on #90821
/cc @wojtek-t

[2020-05-07 20:18] tedyu commented on #90851
What about this change ?
[code]

[2020-05-07 20:22] alexellis commented on #85127
Is this related to the [following blog post](https://kubernetes.io/blog/2019/06/20/crd-structural-schema/) stating that use of "anyOf" wouldn't be allowed after 1.16? We're seeing issue https://github.com/openfaas/faas-netes/issues/630 on OpenFaaS after going to 1.17.5 and 1.18. Usually upgrading K8s versions hasn't caused breaking changes and we're trying to figure out where to start with this on

[2020-05-07 20:29] lavalamp commented on #90821
What are the units in the table? What column is the std devation of?

What are the double entries for, did you run each scenario twice?

How many requests were done in each run? What was the duration of each run?

The result is weird enough that I suspect a measuring artifact. Can you try .000000001?

[2020-05-07 20:46] dims opened #90860 "Remove [Conformance] from "HostPath should give a volume the correct mode" test"
A long time ago we removed conformance for a similar HostPath test in:
https://github.com/kubernetes/kubernetes/pull/22380

At that time a policy was added [that said](https://github.com/kubernetes/kubernetes/pull/22379/files):
[code]

Current Policy [reads](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md#L45):
[code]

Note that the conf

[2020-05-07 20:46] dims commented on #90860
/sig architecture
/area conformance

[2020-05-07 20:47] xmudrii commented on #24123
@mikedanese Any idea has anything changed regarding this issue? Would it be possible to move forward?

[2020-05-07 20:50] xmudrii commented on #85892
@justaugustus I see that you're assigned to this one. Do we have some updates regarding this? Is this something we want to work on in v1.19 maybe?

[2020-05-07 20:57] liggitt commented on #85127
No. That post was about structural schemas. v1 CRDs are limited to structural schemas. v1beta1 CRDs can continue to create non-structural schemas until v1beta1 is no longer served (in 1.22)

Also, `anyOf` is not completely disallowed, specific restrictions inside an `anyOf` clause (like `type`) are what are not allowed ("logical constraints using oneOf, allOf, anyOf, not are allowed").

[2020-05-07 21:10] sgissi commented on #85454
Thanks, I understood that hyperkube is going away indeed, my ask here is to get kube-controller-manager loaded with the right utilities to support the in-tree provisioners. Glad to hear both images are community managed, [Vanity Domain Flip](https://github.com/kubernetes/k8s.io/blob/master/k8s.gcr.io/Vanity-Domain-Flip.md) suggested otherwise, maybe I misinterpreted.
What would be the right soluti

[2020-05-07 21:16] tokiwinter opened #90862 "Cannot have two secrets mounted at same path"
Hi,

I want to have two secrets mounted at the same path, e.g:
[code]
I've tried doing this by using:
[code]
But the Pod will not start.
[code]
How do I get two secrets files mounted in the same directory?

Thanks

[2020-05-07 21:19] tokiwinter commented on #90862
/sig auth

[2020-05-07 21:30] hh commented on #87762
/retitle Write CoreV1Endpoints test+promote - +4 coverage

[2020-05-07 21:30] hh commented on #88302
/retitle Write CoreV1ReplicationController lifecycle test+promote - +7 coverage

[2020-05-07 21:32] hh commented on #87120
/retitle Write CoreV1ConfigMap test+promote - +2 Coverage

[2020-05-07 21:33] hh commented on #88545
/retitle Write CoreV1Pod and CoreV1PodStatus lifecycle test+promote - +4 coverage

[2020-05-07 21:33] hh commented on #89071
/retitle Write CoreV1ServiceAccount resource lifecycle test+promote - +3

[2020-05-07 21:36] aojea commented on #90258
@weizhouBlue thanks for the detailed explanations, I can reproduce it but I still couldn't find the root cause. However, I don't have clear if this is a Kubernetes or a Kernel/Netfilter issue.

scratch my comment, I was totally wrong 😄

[2020-05-07 21:51] codebyalokgupta commented on #50295
If anyone using Docker Desktop on Mac then go to docker desktop preferences and enable Kubernetes. It is not enabled by default. It should show Kubernetes running, after that this should be resolved.

![Screenshot 2020-05-07 at 10 52 03 pm](https://user-images.githubusercontent.com/20811935/81348052-43d90d80-90b5-11ea-8d83-10b208ef9d34.png)

[2020-05-07 22:05] grobie commented on #65098
@sbernauer The need is to have a pod serving traffic for some time and warm up caches before continuing with the next pod. For that it needs to be ready already, so delaying the readiness probe doesn't help here.

[2020-05-07 22:20] yhack commented on #74414
Can someone confirm if this is implemented? I tried using this feature with kubectl 1.18.2, which has https://github.com/kubernetes/kubernetes/pull/83084, yet as with previous versions kubectl it returned an error about pruning a nonNamespaced object of kind Namespace.

[2020-05-07 22:49] Vascko commented on #90710
It looks like the process is getting a little further on v1.19-alpha.2. Kubelet still fails to start but this time with the following error message:
`Failed to start ContainerManager failed to get rootfs info: unable to find data in memory cache`

[2020-05-07 22:52] msau42 opened #90866 "Volume expansion tests are not taking into account supported driver sizes"
**Which test(s) are failing**:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/testsuites/volume_expand.go

These tests are hardcoding PVC size to 1Mi and expanding the PVC to 1Gi.

Some drivers don't support creating volumes that small, and compensate by rounding up to 1Gi. This means when the test actually tries to expand the volume to 1Gi, the underlying storage expansion

[2020-05-07 22:52] msau42 commented on #90866
@kubernetes/sig-storage-test-failures
/assign @gnufied

[2020-05-07 23:00] aojea commented on #86934
/close
answered in the KIND project
https://github.com/kubernetes-sigs/kind/issues/1234

[2020-05-07 23:00] #86934 closed

[2020-05-07 23:13] neolit123 commented on #90710
ping @giuseppe @odinuge
hi, do you happen to know what might be causing that?

[2020-05-07 23:23] tedyu commented on #90710
[code]
The error was reported when LocalStorageCapacityIsolation is enabled.

For cadvisor, the 'unable to find data' seems to be a warning.

[2020-05-07 23:25] liggitt commented on #90858
The message "Get http://localhost:5000/v2/: dial tcp [::1]:5000: connect: connection refused" indicates that from the perspective of the kubelet there is no image registry running at localhost:5000

You must specify an image spec to a registry that the nodes have network visibility to

[2020-05-07 23:25] #90858 closed

[2020-05-07 23:27] liggitt commented on #90862
That is not a limitation specific to secrets. In general, two volume mounts cannot be mounted at the same location.

You can use projected volume mounts to mount specific keys from the secrets directly to specific files if you need to stitch together a single directory from multiple secret sources. See https://kubernetes.io/docs/tasks/configure-pod-container/configure-projected-volume-storage/#con

[2020-05-07 23:27] #90862 closed

[2020-05-07 23:39] saikat-royc opened #90868 "ephemeral test suites encounter flag redefine error"
**What happened**:
On running kubetest with external storage driver option with driver name "pd.csi.storage.gke.io", encountered error of flag redefinition.
The issue happens because:
As part of this patch https://github.com/kubernetes/kubernetes/commit/7d2ad805a975b5a68e84a650aba92895441170b7, a flag is defined for number of inline volumes.
The driver name is used to construct the flag name.

Thu

[2020-05-07 23:41] mattcary commented on #90868
/sig storage

[2020-05-07 23:45] msau42 commented on #90868
/assign @pohly
Do you know why this parameter is set as a e2e.test flag and not a part of the [DriverInfo](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/testsuites/testdriver.go#L160)?

[2020-05-07 23:49] zacharysarah opened #90869 "CLA requirement isn't obvious to first time contributors"
## What would you like to be added?

Explicitly state in this repo's [`CONTRIBUTING.md`](https://git.k8s.io/kubernetes/CONTRIBUTING.md) that contributors must sign the [CLA](https://git.k8s.io/community/CLA.md).

## Why is this needed?

The CNCF received a user complaint that the CLA requirement is non-obvious until a contributor opens a PR (i.e., after the work is already done).

Given that the C

[2020-05-07 23:54] zacharysarah commented on #90869
/sig docs

[2020-05-07 23:57] tedyu commented on #90334
Planning to submit PR in a few days.

[2020-05-07 23:57] derekperkins commented on #86509
We are seeing this exact behavior as well, with two CRDs. It is definitely misleading and I believe wrong that `blockOwnerDeletion` doesn't actually prevent the owner from being deleted.
cc @whizard

[2020-05-08 00:00] Vascko commented on #90710
Okay, disabled `--feature-gates="LocalStorageCapacityIsolation=false"` (what's the story behind the default value causing this error?)

Next error that it hits is this one:
`2069 qos_container_manager_linux.go:138] [ContainerManager] Failed to reserve QoS requests: failed to set resources for cgroup [kubepods burstable]: error while setting cgroup v2: [libcontainer AllowAllDevices is not supported

[2020-05-08 00:01] jayaddison commented on #90637
This appears to reproducible currently:

### Version info
[code]

### Repro steps

[code]

@neolit123 (or another author/collaborator) would it be possible to re-open this issue?

[2020-05-08 00:06] tedyu commented on #90710
The above error was fixed in runc:
[code]
But it seems there hasn't been a new release since Apr 22nd.

[2020-05-08 00:18] immutableT commented on #90856
/assign @immutableT

[2020-05-08 00:19] #90600 closed

[2020-05-08 00:34] neolit123 commented on #90637
this is not a fatal error and later the kubelet should find the node.
usually there is something else at play.

[2020-05-08 00:34] neolit123 commented on #90710
^ @kubernetes/sig-node-bugs
for visibility on the above issues.

[2020-05-08 00:58] Jeffwan opened #90873 "AWS doesn't support local zone availability zones"
**What would you like to be added**:

AWS release [Local Zones] (https://aws.amazon.com/about-aws/whats-new/2020/03/aws-customers-enable-aws-local-zones-themselves/). One user enable local zones, using us-west-2 as an example,  there's `us-west-2-lax-1a` AZ and AWS right now uses method here https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/aws/aws.go#L

[2020-05-08 01:25] mlbiam commented on #89163
are there any docs that define the exec protocols?  piecing it together by reading through source code but having a hard time getting a complete picture.  From what I can tell there are five channels:

0. stdin
1. stdout
2. stderr
3. err
4. resize

Looks like the spdy implementation of remotecommand ignores channel 3 (error) which has to do with API server errors rather then the stderror stream ou

[2020-05-08 01:26] base698 commented on #47775
/remove-lifecycle stale

[2020-05-08 01:45] feiskyer commented on #90816
/assign @nilo19
/area provider/azure

[2020-05-08 01:55] mikedanese commented on #90856
Breaking the problem up a bit, we can reduce the number of calls across tow boundaries:

1. kube-apiserver -> kms plugin
2. kms plugin -> non-local kms

Most ideas are around DEK reuse. Writing down notes from the brainstorm:

### Boundary 1

We've discussed a lot of options. I like the idea of keeping the DEKs one to one with objects, but reusing DEKs to encrypt the same object. If we use a count

[2020-05-08 01:57] mikedanese commented on #90856
@enj @kubernetes/sig-auth-bugs

[2020-05-08 01:59] imchand commented on #90858
I am able to pull images from the private registry on the machine where Kubernetes is running. And able to list also. if that is the case, I should not be able to download from the machine right?

root@ubuntu:/# docker pull localhost:5000/my-ubuntu
Using default tag: latest
latest: Pulling from my-ubuntu
Digest: sha256:a4fc0c40360ff2224db3a483e5d80e9164fe3fdce2a8439d2686270643974632
Status: Downlo

[2020-05-08 02:08] Huang-Wei commented on #90679
@ahg-g's explanation is correct. Suppose we have 2 nodes: node1, node2, the first Pod gets scheduled to node2:

[code]

When it comes to the second Pod, scheduler first checks if any existing Pod matches its Affinity Term - p1 doesn't fit due to the `DoesNotExist` operator. So what should scheduler do, leave it as pending? Nope. We have a special rule in PodAffinity for this case (no Pod matches i

[2020-05-08 02:13] Huang-Wei commented on #90679
However, one weird symptom is that: if I don't put the excluded nodeAffinity, p2 _seems_ to be always scheduled to the node where p1 gets scheduled, say it's not a random result. Maybe there is a bug that gives node2 _higher_ score inproperly.

[2020-05-08 02:15] #74850 closed

[2020-05-08 02:43] Riaankl opened #90877 "Write AppsV1DaemonSet resource lifecycle test - +5 endpoint coverage"
- [X] Original approval issue: #89637
- [ ] test pr : ?
- [ ] two weeks soak start date : testgrid-link ?
- [ ] two weeks soak end date :
- [ ] test promotion pr : ?

This issue is created to allow edit by @Riaankl

/wip
/hold

 # Identifying an untested feature Using APISnoop
 According to this APIsnoop query, there are still some remaining DaemonSet endpoints which are untested.

[code]

[code]

[2020-05-08 02:47] Riaankl commented on #90877
https://github.com/kubernetes/kubernetes/issues/89637#issuecomment-624277751

[2020-05-08 02:48] Riaankl commented on #90877
/assign @raymonddeng99

[2020-05-08 02:49] Riaankl commented on #90877
This mock test needs to be updated with the above for review next conformance meeting.

[2020-05-08 02:50] Riaankl commented on #89637
Replaced by #90877

@hh please close this issue

[2020-05-08 02:51] hh commented on #89637
/close

[2020-05-08 02:51] #89637 closed

[2020-05-08 02:52] Riaankl commented on #90877
/sig testing

/sig architecture

/area conformance

[2020-05-08 03:12] PaulWBrassard commented on #85963
@enj I see how you mean, thanks for the clarification.

[2020-05-08 03:15] tvvignesh commented on #87747
/remove-lifecycle stale

[2020-05-08 03:26] raymonddeng99 commented on #90877
/assign

Thanks @Riaankl !

[2020-05-08 03:29] gnufied commented on #88683
There are multiple ways this could be fixed. One option is to add a finalizer to the PVC and have it removed when expansion is complete.

Another option is - add an annotation to PV with old size after `ControllerExpandVolume` completes. Resize controller will remove the annotation once expansion is complete on the node when it receives pvc update.  If user deletes the PVC while expansion is pendi

[2020-05-08 03:34] Riaankl opened #90881 "Write CoreV1ReplicationController lifecycle test+promote - +7 coverage"
# Progress `[8/8]`
* [x] Original approval issue: #88302
* [x]  [APISnoop mock ticket](https://github.com/cncf/apisnoop/pull/289)
* [x]  test approval issue: [kubernetes/kubernetes#88588](https://github.com/kubernetes/kubernetes/issues/88588)
 * [x]  [update and improve](https://github.com/kubernetes/kubernetes/pull/ #90879)
* [x]  test pr : [#90880](https://github.com/kubernetes/kubernetes/pull/9

[2020-05-08 03:35] Riaankl commented on #90881
/sig testing
/sig architecture
/area conformance

[2020-05-08 03:36] hh commented on #88302
Closing in favour of #90881
/close

[2020-05-08 03:36] #88302 closed

[2020-05-08 03:44] Riaankl commented on #90881
@BobyMCbobs Can you please add `Fixes: #90881` in PR #88588

[2020-05-08 04:08] thanatchakromsang commented on #69362
Still getting these error for preemptible nodepool on GKE 1.15.9-gke.24

[2020-05-08 04:20] joelsmith commented on #87252
👍 from me. This would address https://github.com/kubernetes/kubernetes/issues/81125 too.  If it's configurable, any implementations or clusters that rely upon the old functionality can enable it.

[2020-05-08 04:35] ixdy opened #90883 "unit test pkg/kubelet/oom TestStartingWatcher fails when run in an unprivileged container"
**What happened**: when one attempts to run the tests in pkg/kubelet/oom inside an unprivileged container, the `TestStartingWatcher` test case fails because `/dev/kmsg` doesn't exist:

[code]

**How to reproduce it (as minimally and precisely as possible)**:
The easiest way to run it locally is to use `build/run.sh` combined with make:
[code]

I noticed this test failing on the experimental **ci-k

[2020-05-08 04:41] whereisaaron commented on #30656
@VikParuchuri's original use case here is to be able to debug/troubleshoot containers as root, even though the container itself is running as an untrusted user. Good use case, because, if solved, it encourages us all to run containers as non-root users. 🎉

Before you prepare a KEP for `docker exec` have a quick check that [k8s ephemeral debug containers](https://kubernetes.io/docs/tasks/debug-appl

[2020-05-08 04:54] ixdy commented on #90883
/area kubelet
/sig node

[2020-05-08 04:56] ixdy commented on #90883
It looks like https://github.com/kubernetes/kubernetes/pull/89580 might fix this... cc @rphillips

[2020-05-08 05:18] #70657 closed

[2020-05-08 05:18] #85979 closed

[2020-05-08 05:21] #90816 closed

[2020-05-08 05:39] zhouya0 commented on #87747
Sorry I forget to do this, I'll try to submit a PR this week.

[2020-05-08 05:58] justaugustus commented on #70249
I've updated the PR description with some of the current work Dims and I are doing.

/assign @dims @justaugustus
/remove-help
/remove-priority important-longterm
/priority important-soon

[2020-05-08 05:59] justaugustus commented on #70249
FYI @kubernetes/release-engineering

[2020-05-08 06:20] humblec commented on #85454
Thanks @dims , if thats the case may be its possible to udpate the controller manager image with the required binaries for ceph , I can help on it.

[2020-05-08 06:30] feiskyer commented on #90790
/assign

[2020-05-08 07:00] rgarcia89 commented on #87615
@callicles it been confirmed that recompiling with go 1.14 resolved the issue?

[2020-05-08 07:09] pohly commented on #90868
To me, `DriverInfo` is something that defines what the driver can do. This flag is about what the test does and not related to driver capabilities.

Making it depend on the driver name was probably unnecessary. A single flag for all incarnations of that test probably would have been sufficient and thus better ("keep it simple, stupid!" - the stupid being me here...).

It also shouldn't have used t