[2019-09-30 20:17] apelisse commented on #75540
/close

Let me know if anything else needs to be done here.

[2019-09-30 20:17] #75540 closed

[2019-09-30 20:20] dhanvi commented on #82008
I opened this feature request based on this question https://stackoverflow.com/q/57669721/3514300

We do have a workaround https://stackoverflow.com/a/57671220/3514300

I was wondering if we could achieve the same using k8s natively without editing the configmap so that this will work for all dns providers.

[2019-09-30 20:25] cofyc commented on #83224
Yes, sorry, my typo.

[2019-09-30 20:35] howardjohn commented on #79384
This doesn't just break the people trying to depend on kubernetes, but also people depending on others depending on kubernetes. I cannot do `go get foo` because `foo` depends on Kubernetes

[2019-09-30 20:36] chrisohaver commented on #82008
I agree with the comments in the workaround.

* You can use the *rewrite* plugin as a workaround for now.
* Ideally this would be a temporary measure until you update your application to use the k8s dns service discovery schema.

Currently, CoreDNS and kube-dns are the only two cluster DNS providers I am aware of for k8s, and I think kube-dns is nearing deprecation (if that has not already occurre

[2019-09-30 20:56] PaulFurtado opened #83336 ""No ref for container" during pod deletion"
**What happened**:

When deleting a pod, we require accurate containerStatus information in the pod status so that we can ensure orderly deletion of containers during our preStop hooks. However, it seems that sometimes kubelet gets into a bad state during pod termination and stops syncing container status updates. Logging messages like:
[code]
The container in that log line was indeed successfully

[2019-09-30 20:56] PaulFurtado commented on #83336
/sig node

[2019-09-30 21:07] misterikkit commented on #83315
It seems like this is working as intended. A taint with effect `NoSchedule` is meant to prevent pods from running on that node. In this case, we are protecting the core components by preventing user workloads from running on that node. If the rest of the nodes don't have enough capacity, you will have pending pods.

If you want to compromise that during resource pressure, you could change the tain

[2019-09-30 21:10] liggitt commented on #83304
can you verify your CA bundle in the webhook YAML or JSON is the `base64-encoded version of the PEM-bundle` (so that base-64-decoding what is in the YAML/JSON displays PEM content)?

https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#service-reference

[2019-09-30 21:12] roycaihw commented on #83222
/assign

[2019-09-30 21:15] roycaihw commented on #83230
/assign @jennybuckley

[2019-09-30 21:16] roycaihw commented on #83253
/assign @jktomer

[2019-09-30 21:21] roycaihw commented on #83332
/assign @caesarxuchao

[2019-09-30 21:25] thockin commented on #83263
I am not sure how I missed that.  How shameful.

Several thoughts:

Why is it valuable to use Monitor() internally?  Going back to #81517, why not just change the BoundedFrequencyRunner back to a smaller max-interval and now use ipt.Monitor at all?  Or use ipt.Monitor with an even smaller interval (e.g. 1/2 of the max interval)?  That's the almost-surgical change, range?  And it brings back the "I

[2019-09-30 21:36] anguslees commented on #83253
I'm not disagreeing, but: We could drop yaml, and communicate that through Accept headers in an unambiguous way.  On the other hand, claiming to accept "yaml" but then dropping support for _some features_ of yaml seems harder for a client to respond to automatically :/

Also note we have patch variants like `application/apply-patch+yaml` that are probably vulnerable to this DoS too.

(I completely

[2019-09-30 21:39] neolit123 commented on #83315
@misterikkit
the command: `kubectl taint node dev-master node-role.kubernetes.io/master:NoSchedule-` should remove the NoSchdule taint as per the `-` at the end.

[2019-09-30 21:42] neolit123 commented on #82532
@dims @vincepri
nice!

[2019-09-30 21:44] liggitt commented on #83253
yeah, it would be a fundamental patch to the yaml library, effective process-wide

[2019-09-30 21:45] arturoera commented on #72905
same issue,
```E0930 20:25:37.219900       1 pvc_protection_controller.go:138] PVC default/my-volume failed with : Operation cannot be fulfilled on persistentvolumeclaims "my-volume": the object has been modified; please apply your changes to the latest version and try again```
k8s 1.14.6 hosted in GCE (not GKE).
After the pvc is in pending status for a while, eventually it bounds, the delay its j

[2019-09-30 21:46] neolit123 commented on #82532
so a political question here would be: can we get the CAPG conformance e2e test job as PR non-blocking ("optional")?
https://godoc.org/k8s.io/test-infra/prow/config#Presubmit

[2019-09-30 21:49] costinm commented on #69836
I personally like returning a full chain - including the any intermediary certs up to the root. I assume intermediary certs will also be needed at some point. It's also simpler than singer ID or key ID, and safer for root key rotations.

[2019-09-30 22:18] #75817 closed

[2019-09-30 22:39] gmorse-gd commented on #81610
Unfortunately yes.
There's a unique comment added that includes the uid of the NLB:
`kubernetes.io/rule/nlb/client=NLB_UID`

[2019-09-30 22:46] neolit123 commented on #82532
blocking presubmits:
https://testgrid.k8s.io/presubmits-kubernetes-blocking

the following jobs are out of scope of this work - i.e. we still have to run them:
[code]

notes on the other jobs:

----

`pull-kubernetes-e2e-gce` is the primary target of this work and we should attempt to replace it first.
it's maintained by sig-gcp (formally), but the reality is that it's maintained by sig-testing an

[2019-09-30 22:50] roycaihw commented on #83222
I don't know if we want to encourage `AllowUnconditionalUpdate` in our API. In fact it was proposed that we should disallow unconditional update. See related discussion: https://github.com/kubernetes/kubernetes/issues/21330

/unassign
/sig architecture

[2019-09-30 23:33] mml commented on #27744
@cewood thanks!  Were there some other CLs for binaries besides kubemark?

[2019-09-30 23:39] lotusirous commented on #83315
@neolit123

 I applied Node selector on 2 nodes (`work=dev`). So, I think it makes in case `dev-master` failed (NotReady) then `kube-api` allocate pods to `dev-master` node.

I tried to test failover in case `dev-slave` died.

[2019-09-30 23:42] granttigera commented on #46508
/remove-lifecycle stale

[2019-09-30 23:43] granttigera commented on #46508
bumping for an update if this is available via the api in alpha or beta currently.

[2019-09-30 23:46] jennybuckley commented on #83230
It looks like this error message is from the [kublet log](https://github.com/kubernetes/kubernetes/blob/9873f0bfe8d77c8dca5ece565eb3135b9bba4602/pkg/kubelet/nodelease/controller.go), did you disable the NodeLease feature in the kubelet as well? or just the kube-apiserver

[2019-10-01 00:08] neolit123 commented on #82532
release blocking jobs:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#Summary

`skew-cluster-latest-kubectl-stable1-gce`
https://github.com/kubernetes/test-infra/blob/4e35daa5b4c968dafff1e88baa199da6acb4fa73/config/jobs/kubernetes/sig-cli/sig-cli-config.yaml#L225-L257

this job focuses on `Kubectl` tests.
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-ma

[2019-10-01 00:55] #82373 closed

[2019-10-01 01:13] msau42 commented on #83323
I think it's a good enhancement to add but doesn't necessarily need to block CSI GA. (in-tree is already GA)

[2019-10-01 01:26] msau42 commented on #83181
@cofyc 's suggestion sounds good to me

[2019-10-01 01:42] BenTheElder commented on #75355
Should this test be marked [Serial] then? (Or maybe flaky?)

running into this again

[2019-10-01 01:47] nikicat commented on #82753
We experience this too.

[2019-10-01 01:49] mrbobbytables commented on #76269
Okay, with feedback the general baseline has been set to no activity since Jan 1, 2018. There are 32 members that still meet the criteria after manual vetting (listed below). This will touch 55 owners files across the k/k repo (listed below)

I have it grouped into roughly 19 "PR groups"  with common approvers. This list can be found on the [approvers tab](https://docs.google.com/spreadsheets/d/1Q

[2019-10-01 02:35] draveness commented on #81281
We're in the migration of the scheduling framework and I'll send a PR soon.

[2019-10-01 04:47] kvokka commented on #83242
Thank you for the contribution! Will hope the code will be reviewed/merged soon! :)

[2019-10-01 04:59] andyzhangx opened #83344 "should not delete azure disk when disk is still in being attached state"
**What happened**:
When azure disk is being attached, delete disk in the same time period may introduce race condition, should return error when azure disk is still in being atttached state

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud

[2019-10-01 05:27] salanki commented on #75262
It seems as this was fixed in iptables mode with kubernetes/kubernetes#77523. Why would this not be reflected in IPVS as well?

[2019-10-01 06:00] prabhakar-pal opened #83346 "Dual stack: kube-controller-manager node-cidr-mask-size should accept two values to account for IPv4 and IPv6"
**What happened**:
Tried bringing up Dual stack with K8s 1.16.0 (+ patches for known issues, received from k8s developers).

My POD CIDRs where /16 (for v4) and /112 (for v6). But since there is no explicit option to give two CIDRs, the validation fails.

**What you expected to happen**:
Separate  options to specific node-cidr-mask-size parameter for IPv4 and IPv6

**How to reproduce it (as minima

[2019-10-01 06:12] iAmPrasoon commented on #83306
Exactly same problem also mentioned on kubernetes forum but no reply.

[2019-10-01 06:26] #77436 closed

[2019-10-01 06:54] mgdevstack opened #83347 "Refactor service jig function to accept different flags for framework.ServeHostnameImage"
**What would you like to be added**:
`"/agnhost serve-hostname"` allows either HTTP or TCP/UDP based connection so any function using `framework.ServeHostnameImage` should accept cmdArgs parameter to set appropriate flags. (making sure either HTTP or TCP/UDP based connection requests would be served.)
Reference: https://github.com/kubernetes/kubernetes/pull/81419#discussion_r314921484

**Why is th

[2019-10-01 06:59] dhineshbabuelango opened #83348 "kubelet gets stuck while pulling images from AWS ECR"
Hi All, While we are deploying our pod in kubernetes cluster, sometimes we see the below error when kubelet tries to pull the images from AWS ECR.

Warning  Failed     12m (x4 over 13m)     kubelet, ip-10-82-9-65.ap-XXXXX.compute.internal  Failed to pull image "XXXXXXXX.dkr.ecr.ap-XXXXXX.amazonaws.com/isam:9.0.7.0": rpc error: code = Unknown desc = Error response from daemon: Get https://XXXXXXX.d

[2019-10-01 07:03] champtar commented on #71305
I've started to play with CentOS 8, it comes with `iptables v1.8.2 (nf_tables)` but without `iptables (legacy)`
https://access.redhat.com/solutions/4377321
Haven't found how OpenShift 4 works yet

[2019-10-01 07:22] raesene commented on #83253
It could be worth noting that following discussions with the maintainer and golang security team, a patch has been made for go-yaml which looks to address this kind of attack https://github.com/go-yaml/yaml/commit/bb4e33bf68bf89cad44d386192cbed201f35b241

[2019-10-01 08:03] OJFord commented on #60748
/remove-lifecycle stale

[2019-10-01 08:07] gayathrimenathtcl commented on #83304
@liggitt The CA bundle is base64 encoded, and I am able to decode it and able to the same certificate.

[2019-10-01 08:18] zouyee commented on #83332
/cc @DirectXMan12

[2019-10-01 08:21] #81418 closed

[2019-10-01 08:33] gongguan commented on #82494
/assign too

[2019-10-01 08:35] gongguan commented on #82494
/assign @gongguan

[2019-10-01 08:59] AWKIF commented on #82494
Hello @gongguan
here is kubelet full logs from the nodes (dzr-k8s-10)
[logs.tar.gz](https://github.com/kubernetes/kubernetes/files/3675305/logs.tar.gz)
thanks

[2019-10-01 09:02] jsafrane opened #83351 "Volume limits can be shared among several CSI drivers"
**What would you like to be added**:
iSCSI CSI driver from various vendors should share limit of volumes that can be attached to a  node - all of them will share the same iscsid daemon on the node and/or any iSCSI initiator HW.

Note that we don't have any limit for in-tree iSCSI volumes and nobody has complained so far.

/sig storage

[2019-10-01 09:02] jsafrane commented on #83351
It may be solved by documentation, e.g. by recommending all the CSI drivers to have the limit configurable so cluster admins may distribute the volume limit to individual drivers according to their individual needs and calculations.

[2019-10-01 09:07] jpiper commented on #75262
@salanki I guess someone needs to open a PR for the equivalent IPVS code change

[2019-10-01 09:30] aojea commented on #71305
The iptables user space tools are provided in a container https://github.com/kubernetes/kubernetes/issues/71305#issuecomment-529637932

[2019-10-01 09:31] andyzhangx commented on #83085
cc @VybavaRamadoss @RenaShahMSFT

[2019-10-01 09:37] #76617 closed

[2019-10-01 10:12] Inv0k-er opened #83354 "I want to consult ."
Hello everybody. Recently I started to study kubernetes and I readed guide in docker and k8s.
I have a question: Can Kubernetes work with docker registry (optional: without some secret and authification) ? And how ?
I want to create custom Image in docker registry and deploy in kubernetes.
Right now I have a problem. And I dont understand what wrong ?
Maybe you have a some article with example ?
M

[2019-10-01 10:37] HerrmannHinz commented on #82923
any ETA for this? for the 1.14.8?

[2019-10-01 10:40] aojea commented on #83346
I think that this is a known issue that is going to be addressed by https://github.com/kubernetes/kubernetes/pull/79993

In the meantime, you should use /16 everywhere :sweat_smile:

[2019-10-01 10:40] bgvladedivac commented on #74011
@aojea  thanks a lot :) I found out that in the prom-operator documentation, it's just not an easy catch.

[2019-10-01 11:52] ivalexm commented on #24873
Create a folder ${HOME}/clusterstate/, then run:
`kubectl cluster-info dump --all-namespaces --output-directory=${HOME}/clusterstate/ -o yaml`
All your entities will be in separate folders structure, corresponding to the namespaces.
The .json extesions, i.e. deployments.json, are misleading, as the `-o yaml` flag will create yaml exports.

[2019-10-01 12:49] ahg-g commented on #81281
@draveness the only place were we should maintain the value 10 is in Extender replies. This is because extender api is v1, and we can't change the range of values we expect from extenders without upping the version, and so for now we need to scale it to the range we set for scheduler internal scoring functions.

I suggest we do the following:
PR 1. Get rid of MaxPriority
 1.1 Remove the variable `

[2019-10-01 12:54] squeed commented on #83263
Correct, but timestamps are exactly the correct mechanism for metrics. This allows us to alert on nodes that are provably stale *and* to determine the average latency across the cluster. So there is still some value in exposing this, if we can make it useful (see https://github.com/squeed/kubernetes/commit/7099e3346066b64a3d5d70c2aac1787e8dd837a7).

You are right, though, time-since-last-success i

[2019-10-01 13:01] danwinship commented on #83263
(I assume that's a typo and should be "**not** use ipt.Monitor at all".)

Raising max-interval was the primary goal of #81517. For a long time we had been telling customers with kube-proxy syncing problems in large clusters to work around it by bumping up `iptablesSyncPeriod`, but that means they're screwed if they do accidentally delete kube-proxy's rules, and it's lame that we should have to hav

[2019-10-01 13:06] danwinship commented on #71305
The iptables 1.8.2 in RHEL/CentOS 8 has the necessary bugfixes from 1.8.3 backported

[2019-10-01 13:10] detiber commented on #82532
https://godoc.org/k8s.io/test-infra/prow/config#Presubmit

I don't think it would be difficult to get it added, however I would rather we define a job that uses a fixed version of CAPI, CABPK, and CAPG before we go down that path, though.

[2019-10-01 13:33] #71665 closed

[2019-10-01 13:42] thockin commented on #83263
On Tue, Oct 1, 2019 at 5:55 AM Casey Callendrello <notifications@github.com>
wrote:

The metric itself might be interesting, but it's not useful as a health
indicator any more.

This is more or less what I was thinking.   I think that's a more
representative signal.  Even more useful if we know that a failed sync will
retry "soon" (as opposed to in an hour).

Agree - without some sort of healthche

[2019-10-01 13:49] thockin commented on #83263
On Tue, Oct 1, 2019 at 6:02 AM Dan Winship <notifications@github.com> wrote:

IDEALLY it would be low-cost, nearly instantaneous, and frequent.  We know
that's not true.  Given that it can't be true, I'd like to know it runs
"often enough". Hour feels at the high edge of acceptable to me.

Monitoring tools should be able to consume either.  I don't know which
would be net cleaner - my guess is tha

[2019-10-01 13:55] liu-cong opened #83356 "Improve scheduler observability"
This is the master issue that tracks all enhancements to scheduler observability.

**What would you like to be added**:
Metrics/logs/events to improve the observability/debuggability of kube-scheduler.

**Why is this needed**:
Right now there are very few signals to tell if scheduling is working well. And there has been some requests to add more metrics such as #83298.
Improving observability not

[2019-10-01 14:38] danwinship commented on #83263
`ServiceConfig` / `EndpointsConfig` in `pkg/proxy/config` could export something like `HandlerRunCount`. Any time a handler is running, it sets it to 1 more than whatever it was the last time a handler was running. Any time a handler is not running, it sets it to 0. If it has the same non-0 value in two consecutive health checks, then that means it's been running the same handler that whole time,

[2019-10-01 14:51] Joseph-Goergen opened #83360 "kubectl version output does not allow jsonpath"
**What would you like to be added**:
`kubectl version -o jsonpath ...`
It is currently not supported but is expected to be support

**Why is this needed**:
So someone can easily grab the information presented (such as server version) when running the command `kubectl version` without resorting to output the json then `jq` on that result

/sig cli

[2019-10-01 14:51] mkuendig commented on #60952
We have the same issue? As this got closed, is there any chance that this will be ever implemented?

We do have a Java App that requires mTLS and we can't have a second port open for  healtchecks.

We do plan to move to istio at some point, but not in the next 12 months.

[2019-10-01 14:55] ahg-g opened #83361 "[migration] possibly refactor EvenPodSpread and PodAffinity priority functions"
Currently EvenPodsSpread and PodAffinity priority functions use the old priority function interface, which is not compatible with the framework's Score/NormalizeScore interfaces that we plan to migrate to eventually.

During the first stage of migration to the scheduler's framework, we plan to call predicates/priorities functions directly from their equivalent framework plugins. There are two appr

[2019-10-01 15:52] thockin commented on #83263
I'm not close enough to informer libs design to say whether that captures
the most common failure modes - we'd want an api-machinery consult, for
sure.

On Tue, Oct 1, 2019 at 7:40 AM Dan Winship <notifications@github.com> wrote:

[2019-10-01 16:14] Huang-Wei commented on #83361
I will evaluate the migration efforts first and come back with a high-level implementation plan.

[2019-10-01 16:17] andrewsykim commented on #75262
I think this is trickier for the IPVS case vs iptables. In iptables we use `--src-type LOCAL` to NAT _only_ if the traffic originates locally. This ensures that traffic from an external source still gets dropped which is required as part of `externalTrafficPolicy: Local`. This way a node without endpoints fails health checks from an external LB.

If we remove IPVS entries entirely, we still have t

[2019-10-01 16:18] andrewsykim commented on #75262
Sounds like this will be solved with Service Topology - https://github.com/kubernetes/enhancements/issues/536

[2019-10-01 17:08] bowei commented on #74011
/close

I'm going to close this for now. Current best practice is to use the flag to configure, but not change the defaults.

[2019-10-01 17:08] #74011 closed

[2019-10-01 17:14] liyanhui1228 commented on #83316
Looked into the test logs, and it seems like the `numNodes` in `kubelet.go` was accidentally removed in [this commit](https://github.com/kubernetes/kubernetes/commit/3c445b2ad0fe87b5c21fd00c5b08e619b26bad9a), which caused its value to be 0.

As the current log is showing:
[code]
And last succeeded test log is:
[code]

[2019-10-01 18:22] ereslibre commented on #83041
Thank you for the report @prabhakar-pal, both PR's were merged fixing this issue.

/close

[2019-10-01 18:22] #83041 closed

[2019-10-01 19:15] msau42 commented on #83323
Actually the code already calls [FindMatchingVolume](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/util/util.go#L174) which already should pick the smallest matching volume

[2019-10-01 19:17] msau42 commented on #83323
Oh it only finds the smallest volume on a single node, but there's nothing to prefer different nodes based on capacity

[2019-10-01 19:35] IdanAdar commented on #82659
Pretty sure this is still the case in 1.14.x too.

[2019-10-01 19:36] uditgaurav commented on #83256
i just want to increase the load (stress) on the pod (in terms of cpu) and want to observe that whether it is getting rescheduled to a new node when the cpu request get increased and crossed the cpu limit.
Here is what i tried :
i first enter into the pod by this command.
`kubectl exec -it pod-name  --container container-name`
then i used stress command to increase the cpu load
`stress --cpu 2 --t

[2019-10-01 19:36] IdanAdar commented on #74741
Pretty sure this is also the case in 1.14.x.

[2019-10-01 19:37] glb commented on #76935
Perhaps a silly question, but does starting the container have to happen before you can rewrite the `resolv.conf`?

[2019-10-01 19:43] dims commented on #83354
@Inv0k-er please ask on https://discuss.kubernetes.io/ forums

/close

[2019-10-01 19:43] #83354 closed

[2019-10-01 20:01] #83244 closed

[2019-10-01 20:02] lavalamp commented on #78766
The actual leak is fixed here: https://github.com/kubernetes/kubernetes/pull/83333

[2019-10-01 20:29] damemi commented on #83241
Now that https://github.com/kubernetes/kubernetes/pull/83262 merged I think this can be closed

[2019-10-01 20:39] hh commented on #76345
Fields that have tests we could promote, or slightly rewrite:

[code]

- [x] [[sig-network] DNS should support configurable pod DNS nameservers](https://github.com/kubernetes/kubernetes/pull/81964/files) Thanks @BobyMCbobs
- [ ]  [k8s.io] Pods should support pod readiness gates [NodeFeature:PodReadinessGate] [Promotion](https://github.com/kubernetes/kubernetes/pull/79875) failed, slight rewrite ne

[2019-10-01 20:46] jingxu97 opened #83374 "CPU usage is very high for Windows nodes"
I am running a GCE cluster with windows nodes for some testing. The CPU usage goes up to 100% without much (or even any) workload.

The following shows some process usage
PS C:\Users\jinxu> Get-Counter '\Process(*)\% Processor Time' | Select-Object -ExpandProperty countersamples| Select-Object -Property instancename, cookedvalue| ? {$_.instanceName -notmatch "^(idle|_total|system)$"} | Sort-Object

[2019-10-01 20:46] sodre commented on #75491
@dims, I ended up getting hit with the removal of the --make-symlinks flag. I looked at the threads linked to the original PR, but I did not find the actual reason behind the removal. Do you recall was the reason behind removing that capability?

[2019-10-01 20:46] jingxu97 commented on #83374
cc @pjh

[2019-10-01 20:51] bdonnahue commented on #66108
Can we reopen this issue if it's not user error?

[2019-10-01 20:55] lavalamp opened #83375 "Scalability dimension: # access tokens"
There's some practical limit on the number of concurrent access tokens that can be used in a Kubernetes cluster before it begins to spend all of its time in the authn stack verifying them. Absent fixes to https://github.com/kubernetes/kubernetes/issues/78766 it was < 500; with the fixes linked there it's still not infinitely scalable-- I still hit (what I believe to be) https://github.com/kubernet

[2019-10-01 20:55] lavalamp commented on #83375
/cc @wojtek-t

[2019-10-01 20:58] lavalamp commented on #83375
oh and 4. add tests which verify it is as high as believed.

[2019-10-01 20:59] tedyu commented on #74741
[code]
Was there log in the above form ?

[2019-10-01 21:18] Nowaker commented on #82440
Can someone from @kubernetes/sig-node-bugs take a look? I think all provided information is very precise and would be nice to have a Kubernetes dev take a look at this. Thanks in advance. CC @zouyee

[2019-10-01 21:30] shturec opened #83377 "Improper use of SuggestsClientDelay in api-server GenericWebhook"
**What would you like to be added**:
Fix the improper use of [`SuggestsClientDelay`](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/errors/errors.go#L596-L616) for request retries in [`GenericWebhook`](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/util/webhook/webhook.go#L113-L120).

**Why is this needed**:
An ea

[2019-10-01 22:14] davidz627 commented on #73773
Some more context based on my investigation of an issue.
https://github.com/kubernetes/kubernetes/pull/79784#issuecomment-537254635

Please look when fixing block volume issues - there are some significant issues (some may be the same already brought up in this thread)

[2019-10-01 22:16] msau42 opened #83380 "nfs provisioner tests failing in alpha clusters"
**Which jobs are failing**:
https://k8s-testgrid.appspot.com/sig-storage-kubernetes#gce-alpha-enabled-default

**Which test(s) are failing**:
all nfs provisioner tests

**Since when has it been failing**:
10/1/2019

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-storage-kubernetes#gce-alpha-enabled-default
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alph

[2019-10-01 22:16] msau42 commented on #83380
@kubernetes/sig-storage-test-failures
cc @wongma7 @jsafrane

[2019-10-01 22:20] msau42 commented on #79780
/reopen

[2019-10-01 22:21] msau42 commented on #79780
#79784 is being reverted because it broke CSI block volume cleanup

[2019-10-01 22:21] msau42 commented on #79780
/assign @jsafrane

[2019-10-01 22:25] msau42 opened #83382 "Wait for Pod deletion in block volume tests"
**What would you like to be added**:
In block volume tests, wait for the Pod to be deleted instead of letting it be handled by the framework's namespace deletion

**Why is this needed**:
I think the regression caused by https://github.com/kubernetes/kubernetes/pull/79784#issuecomment-536811437 could have been caught if the tests check for Pod deletion because the Pod object shouldn't be deleted if

[2019-10-01 22:25] msau42 commented on #83382
@kubernetes/sig-storage-feature-requests
/assign @jsafrane

[2019-10-01 22:27] davidz627 commented on #83382
This issue is not specific to block tests. We should in ideally wait for pod deletion at the end of all types of tests to confirm cleanup logic is functioning

[2019-10-01 22:39] wongma7 commented on #73773
globalMapPath is used for ref-counting block volumes. It was intended to be equivalent to / modeled fater filesystem volumes' deviceMountPath. (Whoever wrote it left this: https://github.com/kubernetes/kubernetes/blob/14e5adfc85119b0fca6bed1dabfca8bc94d9f923/pkg/volume/util/operationexecutor/operation_generator.go#L1041)

Block volumes
devicePath->globalMapPath->path under pod uid dir

Filesystem

[2019-10-01 22:42] msau42 commented on #73773
I think the CSI implementation further complicates this by adding 2 more paths to the mix.

[2019-10-01 22:43] wongma7 commented on #83380
fix on the way, https://github.com/kubernetes/kubernetes/pull/81093 got merged but when it rebased the version wasn't updated (needs to be v2.2.2 for that selflink thing)

[2019-10-01 22:44] asalkeld commented on #80855
/assign

[2019-10-01 23:06] davidz627 commented on #73773
AFAIK CSI Block Volumes is currently:
devicePath->globalMapPath
devicePath->podVolumeMapPath
devicePath->nodeStagePath->nodePublishPath
where `globalMapPath != nodeStagePath && podVolumeMapPath != nodePublishPath`

[2019-10-01 23:25] tedyu commented on #83382
I checked the tests under test/e2e/storage/testsuites/ where DeletePodWithWait is used to wait for the deletion.

[2019-10-01 23:52] nileshkumar01 commented on #78479
I have tested this in 1.15 and this is still havng the same issue where the DNS takes somewhere between 10seconds to 1 minute to start working

[2019-10-02 00:13] freehan commented on #75355
@BenTheElder Can you share the test grid link where it is flaky?

[2019-10-02 00:14] wongma7 commented on #73773
Let's get it all sorted out in https://github.com/kubernetes/kubernetes/pull/74026.

My bad, globalMapPath needs to be renamed and refactored since nothing is actually "mapped" to or from there. It should be made super obvious that its only purpose is to store information about what pods are using a given volume. There should be no overlap between it and the other paths. It should not be an argume

[2019-10-02 00:18] BenTheElder commented on #75355
@freehan I've been testing extensively myself offline to re-evaluate tests to use in presubmit.

[2019-10-02 00:18] BenTheElder commented on #75355
this sounds like inherently this test is not safe to run with lots of other tests in parallel, which would make it a candidate for `[Serial]`

[2019-10-02 00:25] dims commented on #75491
@sodre the original request was from https://github.com/kubernetes/kubernetes/issues/69896#issuecomment-430398309

[2019-10-02 00:26] cofyc commented on #83323
It will be useful to try to use a smaller volume in the cluster.

I've thought about another case prioritizing nodes based on the total capacity of the node. However, it has some limitations because the total capacity of nodes may not be correct (filesystem-shared PVs may exist and PVs can be dynamically created or destroyed).

[2019-10-02 01:39] wongma7 commented on #83348
Do you have kubelet logs from when this issue occurs?

[2019-10-02 01:41] wongma7 commented on #83348
Also, is this something you started seeing recently or has it always been an issue with 1.12, 1.13

[2019-10-02 02:13] dhineshbabuelango commented on #83348
Hi Mathew, unfortunately the worker nodes were restarted as part of our scheduled shutdown and the newly created worker nodes doesn't have this issue. But I ran journalctl -u kubelet and say only the error which I posted above.

I am seeing this issue rarely for the last 2 months. Regarding the version, I confirm its 1.13 as we are using only 1.13 for last 4-5 months.

The only fix we do is restar

[2019-10-02 02:23] zouyee commented on #83311
This pod must runs in the Guaranteed QoS class which requests are equal to limits

[2019-10-02 02:34] ahg-g commented on #83241
/close

Thanks Mike!

[2019-10-02 02:34] #83241 closed

[2019-10-02 02:35] ahg-g commented on #83361
Thanks Huang, as discussed offline, I will take a look at the inter-pod affinity one.

[2019-10-02 04:24] rudaym commented on #83039
Apparently, multiple mounting does not work at all if the mount end point is in the same nfs server. However, if the mount points are in different nfs servers, it seems to work. Not sure if some one every tried to use multiple mount points.

[2019-10-02 05:42] asalkeld commented on #76269
I am wanting to keep mine alive / be more active in the community.
First PR in ages: https://github.com/kubernetes/kubernetes/pull/83384

[2019-10-02 05:59] hk1997 commented on #81526
Hi,
I would like to contribute to this. Is it still stalled?

[2019-10-02 06:33] dineshba commented on #83315
Are you getting any logs in `kubectl get events` when the deployment is in pending state ?

[2019-10-02 06:49] #75350 closed

[2019-10-02 06:49] #76580 closed

[2019-10-02 07:25] gongguan commented on #82494
@AWKIF these logs have no connection with  unreachable endpoints(islanding-redisha-slave). If there is nothing wrong except for unreachable endpoints after node recovery, I think @liggitt 's opinion may be right.

According to logs, some pods' sandbox became abnormal, however they recovered running. By the way, I can't find out what happened to these pods clearly because of level 0 logs.

[2019-10-02 07:41] drbugfinder commented on #76531
Same here:
ubuntu 18.04.2 + kubernetest 1.16 + docker 19.03.1

[2019-10-02 07:44] neolit123 commented on #83346
/sig network

[2019-10-02 07:54] pohly commented on #48798
try a different CNI plugin, like Calico or WeaveNet.

That was fixed a while ago, but the links in the Kubernetes documentation still point to an older version which doesn't work (https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/ has https://raw.githubusercontent.com/coreos/flannel/2140ac876ef134e0ed5af15c65e414cf26827915/Documentation/kube-flannel.yml).

[2019-10-02 07:59] brancz commented on #75779
/remove-lifecycle stale

[2019-10-02 08:01] yvespp commented on #76531
If I read the pull https://github.com/opencontainers/runc/pull/2117 and related pulls in docker/docker-ce correctly, a fix for this should be in docker 19.03.3 which is scheduled to be released today.

[2019-10-02 08:11] AWKIF commented on #82494
@gongguan I guess this is more related to controller than kubelet itself since pods are running fine and its controller job to update service endpoints.
However, we will update docker, etcd & kube components to 1.16 and see if i can reproduce the issue.
thanks for your help

[2019-10-02 08:35] vvoronov2 commented on #19317
same issue on azure k8s v1.14.1

[2019-10-02 08:49] lawrencedudley commented on #82923
Bit of a pain this one - do we know where we're at with it?

[2019-10-02 08:58] lbernail commented on #78733
/remove-lifecycle stale

[2019-10-02 09:00] lbernail commented on #78733
We would also be interested in a fix for this (we rotate certificates daily and restart the kubelet)

[2019-10-02 09:20] mikeage commented on #59119
/remove-lifecycle stale

[2019-10-02 09:37] tghartland opened #83391 "Inaccurate help text in leader election config flag"
In this flag
https://github.com/kubernetes/kubernetes/blob/fdd1f27ce9cea3b7880f91a31e013b81001879ca/pkg/client/leaderelectionconfig/config.go#L43-L45
which sets the type of resource used for leader election, the default value is taken from the `l.ResourceLock` set in the `LeaderElectionConfiguration` passed to this function. If that value is not `"endpoints"` (such as in https://github.com/kuberne

[2019-10-02 09:37] lalinsky opened #83392 "Update PVC after manually resizing a local volume"
**What happened**:

1. I create a local PersistentVolume with size 1Gi
2. I create a StatefulSet with persitentVolumeClaimTemplate asking for 1Gi volume
3. I resize the local PersistentVolume to 2Gi
4. I can't update the PersistentVolumeClaim to 2Gi, even though the volume it's bound is large enough, claiming only dynamically provisioned volumes can be resized

**What you expected to happen**:

Wh

[2019-10-02 09:40] lalinsky commented on #83392
@kubernetes/sig-storage-bugs

[2019-10-02 09:49] tghartland commented on #83391
/sig api-machinery

[2019-10-02 10:03] #83380 closed

[2019-10-02 10:08] pjbgf commented on #83130
Please note that this refactoring exercise is based on implementing the `legacyflags`  library which is still considered experimental. This work will help us assess whether that is the long-term solution.

Due to the nature of this work, this may or may not be merged into master. So although there are no guarantees it will actually get adopted, your help is much appreciated. :slightly_smiling_face

[2019-10-02 10:08] pjbgf commented on #83150
Please note that this refactoring exercise is based on implementing the `legacyflags`  library which is still considered experimental. This work will help us assess whether that is the long-term solution.

Due to the nature of this work, this may or may not be merged into master. So although there are no guarantees it will actually get adopted, your help is much appreciated. :slightly_smiling_face

[2019-10-02 10:08] pjbgf commented on #83151
Please note that this refactoring exercise is based on implementing the `legacyflags`  library which is still considered experimental. This work will help us assess whether that is the long-term solution.

Due to the nature of this work, this may or may not be merged into master. So although there are no guarantees it will actually get adopted, your help is much appreciated. :slightly_smiling_face

[2019-10-02 10:09] pjbgf commented on #83152
Please note that this refactoring exercise is based on implementing the `legacyflags`  library which is still considered experimental. This work will help us assess whether that is the long-term solution.

Due to the nature of this work, this may or may not be merged into master. So although there are no guarantees it will actually get adopted, your help is much appreciated. :slightly_smiling_face

[2019-10-02 10:09] pjbgf commented on #83153
Please note that this refactoring exercise is based on implementing the `legacyflags`  library which is still considered experimental. This work will help us assess whether that is the long-term solution.

Due to the nature of this work, this may or may not be merged into master. So although there are no guarantees it will actually get adopted, your help is much appreciated. :slightly_smiling_face

[2019-10-02 10:09] pjbgf commented on #83154
Please note that this refactoring exercise is based on implementing the `legacyflags`  library which is still considered experimental. This work will help us assess whether that is the long-term solution.

Due to the nature of this work, this may or may not be merged into master. So although there are no guarantees it will actually get adopted, your help is much appreciated. :slightly_smiling_face

[2019-10-02 10:09] pjbgf commented on #83155
Please note that this refactoring exercise is based on implementing the `legacyflags`  library which is still considered experimental. This work will help us assess whether that is the long-term solution.

Due to the nature of this work, this may or may not be merged into master. So although there are no guarantees it will actually get adopted, your help is much appreciated. :slightly_smiling_face

[2019-10-02 10:09] pjbgf commented on #83156
Please note that this refactoring exercise is based on implementing the `legacyflags`  library which is still considered experimental. This work will help us assess whether that is the long-term solution.

Due to the nature of this work, this may or may not be merged into master. So although there are no guarantees it will actually get adopted, your help is much appreciated. :slightly_smiling_face

[2019-10-02 10:09] pjbgf commented on #83157
Please note that this refactoring exercise is based on implementing the `legacyflags`  library which is still considered experimental. This work will help us assess whether that is the long-term solution.

Due to the nature of this work, this may or may not be merged into master. So although there are no guarantees it will actually get adopted, your help is much appreciated. :slightly_smiling_face

[2019-10-02 10:09] pjbgf commented on #83167
Please note that this refactoring exercise is based on implementing the `legacyflags`  library which is still considered experimental. This work will help us assess whether that is the long-term solution.

Due to the nature of this work, this may or may not be merged into master. So although there are no guarantees it will actually get adopted, your help is much appreciated. :slightly_smiling_face

[2019-10-02 10:10] pjbgf commented on #83161
Please note that this refactoring exercise is based on implementing the `legacyflags`  library which is still considered experimental. This work will help us assess whether that is the long-term solution.

Due to the nature of this work, this may or may not be merged into master. So although there are no guarantees it will actually get adopted, your help is much appreciated. :slightly_smiling_face

[2019-10-02 10:10] pjbgf commented on #83162
Please note that this refactoring exercise is based on implementing the `legacyflags`  library which is still considered experimental. This work will help us assess whether that is the long-term solution.

Due to the nature of this work, this may or may not be merged into master. So although there are no guarantees it will actually get adopted, your help is much appreciated. :slightly_smiling_face

[2019-10-02 10:10] pjbgf commented on #83163
Please note that this refactoring exercise is based on implementing the `legacyflags`  library which is still considered experimental. This work will help us assess whether that is the long-term solution.

Due to the nature of this work, this may or may not be merged into master. So although there are no guarantees it will actually get adopted, your help is much appreciated. :slightly_smiling_face

[2019-10-02 10:11] pjbgf commented on #83160
Please note that this refactoring exercise is based on implementing the `legacyflags`  library which is still considered experimental. This work will help us assess whether that is the long-term solution.

Due to the nature of this work, this may or may not be merged into master. So although there are no guarantees it will actually get adopted, your help is much appreciated. :slightly_smiling_face

[2019-10-02 10:12] pjbgf commented on #83160
The first two components to be tested on this approach will be `cmd/kube-proxy` and `cmd/kubelet`.

/hold cancel

[2019-10-02 10:13] pjbgf commented on #83164
The first two components to be tested on this approach will be `cmd/kube-proxy` and `cmd/kubelet`.

/hold cancel

[2019-10-02 10:59] farooqte96 opened #83393 "Access external MongodB database from kubernetes cluster"
Hi

1. I have deployed a kubernets cluster using kops
2. Created deployment for a flask micro-service which will use a remote mongoDB database (which is not exposed to public internet).

To interface my remote mongodb, i created an endpoint which points to private ip of mongodB server and also port. But from microservice, i am unable to connect to that database:

Files for mongodb.yaml, services.y

[2019-10-02 11:16] avarf commented on #83235
This was a problem with K8s CNI.

[2019-10-02 11:16] #83235 closed

[2019-10-02 11:37] cmcarey commented on #19317
This is clearly still an issue.  Can it be re-opened?

[2019-10-02 11:59] mrbobbytables commented on #76269
Thanks for the update @asalkeld. I'll remove you from the list 👍

[2019-10-02 12:41] Inv0k-er commented on #77472
Sory but what need to do for resove that issue ?

[2019-10-02 13:00] notpad commented on #83039
Just tried your case in Kubernetes 1.15, and it seems work fine.

[2019-10-02 13:28] Thoro commented on #65502
Same here, @rdsubhas solution sounds very nice actually. +1 for containerManagementPolicy

[2019-10-02 13:30] bclau opened #83397 "tests: should be able to pull image from gcr.io should always pull from gcr.io"
**Which jobs are failing**:

``sig-windows`` jobs primarely, like: https://testgrid.k8s.io/sig-windows#aks-engine-azure-windows-master

**Which test(s) are failing**:

    [k8s.io] Container Runtime blackbox test when running a container with a new image should be able to pull image from gcr.io [NodeConformance]

**Since when has it been failing**:

Since this commit merged: https://github.com/kub

[2019-10-02 13:52] liu-cong opened #83399 "Add more tracing steps in generic_scheduler"
**What would you like to be added**:
We have [trace](https://github.com/kubernetes/kubernetes/blob/dc0013a506d50c54d5a5833e92d82fce61301c2e/pkg/scheduler/core/generic_scheduler.go#L195) enabled in generic_scheduler. However, the steps being traced seem outdated. In particular, the "snapshot" is expensive and should be traced. Other steps can be traced as well wherever appropriate, e.g., PreFilter.

[2019-10-02 13:55] jceresini opened #83400 "NetworkPolicy: Admin-defined bounds on NetworkPolicy (was: Egress policy for all namespaces)"
**What would you like to be added**:
I would like to be able to define a cluster-wide NetworkPolicy for egress traffic.

**Why is this needed**:
This would simplify things like blocking containers from accessing services, ports, etc. without blocking the traffic for the nodes. An example use case (the one I'm interested in) is a universal way to prevent containers in a cluster from talking to the

[2019-10-02 13:56] notpad commented on #82590
@reith I think k8s.io/kubernetes/pkg/registry/core/service/portallocator is related to etcd as @thockin have mentioned, and it should be used by apiserver instead of controllers.

Can k8s.io/kubernetes/pkg/proxy/userspace/port_allocator.go meet you needs? This is quite simple and I can help to move it into staging.

[2019-10-02 13:57] jceresini commented on #83400
/sig network

[2019-10-02 14:02] liu-cong opened #83401 "Log results of each plugin in scheduler framework"
**What would you like to be added**:
Log (V=10) results of each plugin.

**Why is this needed**:
There are some V(10) logs in the existing scheduler algorithms such as [priorities](https://github.com/kubernetes/kubernetes/blob/dc0013a506d50c54d5a5833e92d82fce61301c2e/pkg/scheduler/core/generic_scheduler.go#L782). However, in the new scheduler framework, we only log errors right now. It's hard for

[2019-10-02 14:05] chendotjs commented on #83306
which kube-proxy mode are you using? ipvs or iptables?

[2019-10-02 14:33] akumadare commented on #83186
Hi, I will try to replicate this issue and get some more stats.

Setting more strict memory limits for pods has seemed to prevent the issue from happening. It would be nice to find a way to prevent this from happening when the kernel OOM killer kicks in

[2019-10-02 14:33] liu-cong opened #83403 "Add a metric to track number of scheduler binding goroutines"
**What would you like to be added**:
Add a metric to track number of scheduler binding goroutines. This will be a generic metric `scheduler_goroutines_total` with `binding` as the only label for now.

metric name | metric definition | Description
-- | -- | --
scheduler_goroutines | Type: Gauge Label: work={"binding"}| Number of running binding goroutines

**Why is this needed**:
Helps us track how

[2019-10-02 14:34] liu-cong opened #83404 "Add a metric to track scheduler cache size"
**What would you like to be added**:
Add a metric to track scheduler cache size.

metric name | metric definition | Description
-- | -- | --
scheduler_cache_size | Type: Gauge Labels: type={“nodes”,”pods”,”assumed_pods”} | Number of elements in scheduler cache.

**Why is this needed**:
Gives better observability of scheduler cache. For, the number of "assumed_pods" gives us an idea of how many pod

[2019-10-02 14:39] reith commented on #82590
Thanks @notpad , I wasn't aware of that implementation.

Yes, It do the job for me if being exported.

[2019-10-02 14:56] tcharette commented on #72044
Has anyone found a fix for this? We're experiencing this on our openshift 3.11 on-prem cluster with cron jobs

[2019-10-02 15:23] danfitch commented on #82440
We are also seeing high CPU on 1.14 1.13 but not 1.12.  Once we removed the exec based liveliness probes which were simple `nc` and  `pgrep` commands then CPU went back to normal levels.  The runc commands we saw executing are similar to below
```runc --root /var/run/docker/runtime-runc/moby --log /run/containerd/io.containerd.runtime.v1.linux/moby/be.../log.json --log-format json state be2...```

[2019-10-02 15:35] yastij commented on #83203
@liggitt @wojtek-t - I think we might want to do the check at the kube-scheduler level as it would be easier. otherwise we'd need to change a lot of the implementation in the client-go's event package

[2019-10-02 15:41] haircommander opened #83407 "local cluster up fails on fedora 26"
**What happened**:
the kube-dns pod is getting EPERM'd  because of https://github.com/kubernetes/kubernetes/blob/dc0013a506d50c54d5a5833e92d82fce61301c2e/cluster/addons/dns/kube-dns/kube-dns.yaml.in#L156 introduced in https://github.com/kubernetes/kubernetes/pull/82347

I have reproduced this with both docker  version 1.13.1 and upstream CRI-O (v1.16.0-dev). Both with kubernetes master.
**What you

[2019-10-02 15:43] haircommander commented on #83407
/sig cluster-lifecycle
/sig network
/cc @pjbgf
/assign @MrHohn

[2019-10-02 15:44] andrewsykim commented on #82923
Folks, we should only be prioritizing patch release for bugs or security issues that impact most (if not all) Kubernetes users. I understand this is an awful bug to run into, but we can't fast track patch release for cloud provider specific bugs that only impact a small subset of users.

[2019-10-02 15:51] andrewsykim commented on #82923
According to https://github.com/kubernetes/sig-release/blob/master/releases/patch-releases.md#114, looks like v1.14.8 is scheduled for Oct 15th.

[2019-10-02 15:56] KnVerey commented on #82435
For what it's worth, we use it at Shopify. In fact, it is used by our open-source tool https://github.com/Shopify/kubernetes-deploy#kubernetes-run. Specifically, it supports a workflow that allows our developers to run specific, code-reviewed commands in production:
1. The developer's deploy includes a PodTemplate resource representing the configuration required to run the current stable version o

[2019-10-02 15:58] neolit123 commented on #48798
uses https://raw.githubusercontent.com/coreos/flannel/2140ac876ef134e0ed5af15c65e414cf26827915/Documentation/kube-flannel.yml

which should include both the cniVersion and apps/v1 fixes.

[2019-10-02 16:06] wojtek-t commented on #83203
That's a good point. I think that's fine.

[2019-10-02 16:27] caseydavenport commented on #82825
@mvukadinoff could you share the output of `iptables-save -c` from the node in question?

Also, I'd suggest double checking that you have provided the correct ClusterCIDR to the kube-proxy. The value given should match the range used to allocate IP addresses to pods.

[2019-10-02 16:28] Cryptophobia commented on #82923
Hmmm, "small subset of users"? Doesn't this bug impact all users on AWS running k8s and provisioning loadbalancers?

https://github.com/kubernetes/kubernetes/pull/82954#issuecomment-534093933

[2019-10-02 16:32] MikkCZ commented on #58477
I run into the same issue today. To solution was to `kubectl apply` once more. Then it got all fixed and the env variable appeared back as defined in the manifest.

[2019-10-02 16:37] andrewsykim commented on #82923
Made the correction of "small subset of users" to just "subset of users" earlier ;). But even then, I'm not sure we want to set the precedent that "all users on AWS running k8s" warrants an expedited patch release at the same priority as say a security issue that impacts all Kubernetes userse. In fairness, having the AWS integrations embedded inside Kubernetes is technical debt we are already tryi

[2019-10-02 16:48] mikesplain commented on #82923
I agree that a "subset" of users is fair and cannot always call for a Kubernetes release however this is a critical basic functionality of Kubernetes on AWS which basically makes 1.14.7 unusable for AWS users who expect ELB functionality.  That said, I'd hate to suggest cutting an expedited release which always has risks.

I'm most concerned about users unaware of this bug and ways we can prevent

[2019-10-02 16:50] MrHohn commented on #83407
@pjbgf @prameshj @tallclair

[2019-10-02 16:56] seh commented on #46107
Testing this in Kubernetes version 1.16.0, I find that this problem persists: For pods created by the _Job_ controller, the `admission/v1beta1.AdmissionRequest` field "Name" is empty. Given that #53185 contributed a release note to this effect for version 1.16.0, it sounds like we _thought_ this was fixed in that release.

@liggit, can we reopen this issue?

[2019-10-02 17:00] nmittler commented on #65502
@rdsubhas your idea for `containerManagementPolicy` sounds good in general. To clarify/expand a bit, if the policy is ordered:

- Startup: a container has to be `Ready` before the next one starts. This will ensure that Envoy can process outbound requests as soon as the application starts.
- Shutdown: all shutdown hooks should be run in sequence, before terminating containers. This will allow envoy

[2019-10-02 17:04] andrewsykim commented on #82923
I think a warning in the CHANGELOG/release notes is reasonable. Can someone open a PR for this please? Maybe @mcrute since the you did the initial cherry-pick to v1.14.7 with the bug? cc @tpepper

[2019-10-02 17:05] liggitt commented on #46107
does the job controller set the name field, or use generateName?

[2019-10-02 17:06] lawrencedudley commented on #82923
This is a fairly colossal screw-up, taking 2 weeks to patch it makes us as a community and Kubernetes as a piece of software look bad in my opinion.

At the very least a nice fat warning in the release notes, better yet just fixing it ASAP would make sense.

[2019-10-02 17:07] prameshj commented on #83407
Can you "cat /etc/passwd" file on one of the cluster nodes and see what user ids are there? @tallclair @pjbgf Do you know when in the cluster bringup, the userid 1001 gets created?

[2019-10-02 17:11] seh commented on #46107
It uses the latter, per [`controller.GetPodFromTemplate`](https://sourcegraph.com/github.com/kubernetes/kubernetes@master/-/blob/pkg/controller/controller_utils.go#L542:6).

[2019-10-02 17:14] liggitt commented on #46107
the name is only passed to admission when it is actually set in the object. generateName is used to populate name *after* the mutation phase, before the validation phase

[2019-10-02 17:17] seh commented on #46107
I had a workaround in my mutating Webhook for a while that digs down into the object's "metadata.name" field when the admission request's "Name" field is empty, and I thought that it found that field populated. Let me run a few tests to see if I had that wrong.

[2019-10-02 17:20] ahg-g commented on #82385
Thanks @hex108, the proposal looks good to me.

It is worth pointing out that if plugin p1 is waiting for plugin p2 to allow the pod, and p2 is also waiting for p1 to allow the pod, the pod will never get scheduled and will always time out. One solution is to provide some sort of an "IntentToAllow" interface though which plugins can show their intent to accept the pod before actually allowing it.

[2019-10-02 17:21] Cryptophobia commented on #82923
My biggest problem with just a warning label is that 1.14.7 release will forever be broken on AWS. Ideal scenario is that 1.14.7 is recreated with the same git tag and https://github.com/kubernetes/kubernetes/pull/78100 cherry-picked on top so that 1.14.7 is a legitimate version.

[2019-10-02 17:27] seh commented on #46107
Further testing confirms that the "metadata.name" field isn't populated yet for pods when presented to the mutating Webhook. I noticed that other objects with _Jobs_ (made by a _CronJob_) and _ReplicaSets_ (made by a _Deployment_) *do* have their names populated at this point, even though those names _appear_ to be generated similarly. Why is that?

[2019-10-02 17:31] haircommander commented on #83407
[code]
there is one, but I'd more guess the process the container is running fails to run as non-root.

[2019-10-02 17:35] pjbgf commented on #83407
@haircommander can you please share the log that is giving the eperm?

[2019-10-02 17:35] seh commented on #46107
Ah, I see that the _Deployment_ controller is not using `ObjectMeta.GenerateName` when creating _ReplicaSets_. It [constructs the name from the pod template hash](https://sourcegraph.com/github.com/kubernetes/kubernetes@bd89dc462c4fced99eac966d244c9b031aa56df4/-/blob/pkg/controller/deployment/sync.go#L197).

[2019-10-02 17:36] liggitt commented on #46107
the name is populated from generateName in BeforeCreate:

https://github.com/kubernetes/kubernetes/blob/d647ddbd755faf07169599a625faf302ffc34458/staging/src/k8s.io/apiserver/pkg/registry/rest/create.go#L74-L93

that is called after mutating admission, before validating admission

Correct, some controllers manage the names of their created objects themselves rather than delegating to the API server

[2019-10-02 17:38] seh commented on #46107
Thanks for setting me straight on this. I'll adjust my code to publish the `ObjectMeta.GenerateName` value in cases where there's no name yet. This is for instrumentation coming from my Webhook; it doesn't change the correctness of its admission-focused behavior.

[2019-10-02 17:39] pjbgf commented on #83407
@prameshj  this is done as part of the container startup when you set `runAsUserId`. We have recently changed that for `kube-dns` and the `dashboard`.

[2019-10-02 17:40] liu-cong opened #83410 "Add a metric to tracking incoming pods into scheduler queues"
**What would you like to be added**:

metric name | metric definition | Description
-- | -- | --
scheduler_queue_incoming_pods_total | Type: CounterLabels:event={see below},queue={“active”, “backoff”, “unschedulable”} | Number of pods added to scheduling queues.

**Event**
There are a bunch of events happening that causes pods to be added to scheduling queues.
* "PodAdd"
Scheduler watches API serv

[2019-10-02 17:44] pjbgf commented on #83407
I will try to reproduce it and will get back to you @haircommander shortly.

[2019-10-02 17:46] haircommander commented on #83407
hm
[code]

[2019-10-02 17:48] liu-cong opened #83411 "Add result code and failed plugins labels to scheduler attempt metric"
**What would you like to be added**:

metric name | metric definition | Description
-- | -- | --
schedule_attempts_total | Type: CounterLabels: result={“scheduled”, “unschedulable”, “error”}extension_point={“prefilter”, “filter”, ...}name={plugin name} | Number of scheduling attempts by the result.

**Why is this needed**:
Right now this metric only has 3 possible result labels: “scheduled”, “unsc

[2019-10-02 17:48] azalenski commented on #22822
I am also seeing this in my cluster. Can we please reopen this issue?
/reopen

[2019-10-02 17:49] azalenski commented on #70411
I am also seeing this issue in my cluster. Can we please reopen it?
/reopen

[2019-10-02 17:51] liu-cong opened #83412 "Add a metric to track duration of a pod being scheduled successfully"
**What would you like to be added**:

metric name | metric definition | Description
-- | -- | --
pod_scheduling_duration_seconds | Type: Histogram | E2e latency for a pod being scheduled which may include multiple scheduling attempts

**Why is this needed**:
Currently we don't know how long does it to schedule a pod e2e.

/sig scheduling
/assign liu-cong

[2019-10-02 17:52] ahg-g commented on #72547
Thanks @ahmad-diaa and @alculquicondor for setting up the plan. Please make sure we don't break CA code when doing that, and untangle any dependencies they may have.

[2019-10-02 17:52] haircommander commented on #83407
thanks @pjbgf

[2019-10-02 17:57] CindyXing opened #83413 "Support namespaced CRD"
**What would you like to be added**:
Support namesapced CRD and CRD controller

**Why is this needed**:
Currently CRD and its related controllers are cluster wide. There are scenarios which need them be namespaced.

- Different tenants on the cluster want to manage their own CRD types/objects and controllers
- Helm hit issues when charts share the same CRD dependency

[2019-10-02 17:59] liu-cong opened #83415 "Add a metric to track number of attempts to schedule a pod"
**What would you like to be added**:

metric name | metric definition | Description
-- | -- | --
pod_scheduling_attempts | Type: Histogram | Number of attempts to successfully schedule a pod.

**Why is this needed**:
A pod could require multiple attempts to schedule due unschedulable condition or errors. We currently don't know how many attempts are needed.

/sig scheduling
/assign liu-cong

[2019-10-02 17:59] liu-cong commented on #83412
/assign liu-cong

[2019-10-02 18:05] liu-cong opened #83416 "Add metrics to track requests and durations for the scheduler framework"
**What would you like to be added**:

metric name | metric definition | Description
-- | -- | --
scheduler_framework_plugin_duration_seconds | Type: Histogram Labels: extension_point={“prefilter”, “filter”, ...} name={plugin name}, status={status codes} | Latency for running a specific plugin at a specific extension point.
scheduler_framework_extension_point_duration_seconds | Type: Histogram Labe

[2019-10-02 18:09] liu-cong commented on #83298
/close

I am closing this bug in favor of  #83356. I believe the request is covered there. If there is anything missing, please comment in  #83356 and we can track them all there.

[2019-10-02 18:09] #83298 closed

[2019-10-02 18:10] jennybuckley commented on #83230
/close

[2019-10-02 18:10] #83230 closed

[2019-10-02 18:10] liu-cong commented on #82427
Proposed metrics to be added:

metric name | metric definition | Description
-- | -- | --
scheduler_filtered_nodes_total | Type: CounterLabels:plugin={filter plugin names} | Number of nodes filtered by filter plugins.
scheduler_score | Type: HistogramLabels:plugin={filter plugin names} | Score results by different score plugins.

[2019-10-02 18:12] alculquicondor commented on #72547
Yes, we have opened kubernetes/autoscaler#2402 for that

[2019-10-02 18:24] caseydavenport commented on #81781
Yeah, this is an issue on node reboot if you're relying on a network daemon to be running in order for pod networking to work.

Namely, the network daemon might be started after other pods on the node are launched. Ideally the node would be NotReady until the daemon starts. Today, it's probably the unspoken responsibility of the network plugin to mark the node as not ready.

This is sorta related

[2019-10-02 18:28] caseydavenport commented on #81642
@wouter-dhaeze any update? At first glance, I'm guessing this is a configuration issue rather than a bug in Kubernetes.

As mentioned above, it would be useful to know where the traffic is getting dropped. Could you do a `traceroute` to see if we can figure out where it's getting dropped?

[2019-10-02 18:39] lavalamp commented on #22822
The error means some client has a wrong / expired cert. This isn't actually an apiserver error, it's working as intended: clients with wrong certs get rejected.

Somewhere in your system there's a client that is probably logging about how it can't connect to apiserver. If the source IP addresses really don't show (I thought they did, maybe they do and an earlier commenter just censored them), you

[2019-10-02 18:52] johscheuer commented on #83400
Depending on which CNI you are using you can leverage their implementation already, e.g. Calico or Cilium. I think this topic came already up in sig network but I can't remember thee decision/state of the discussions.

[2019-10-02 19:32] entro-pi commented on #81121
Ping! @vegemitecheesetoast are you still interested in finishing this one up?

I'm an Outreachy Applicant and would love to finish what has been started here.

[2019-10-02 19:39] damemi commented on #83404
Is anyone already working on these metrics? If not I'd like to help out
/assign

[2019-10-02 19:45] liu-cong commented on #83410
/assign

[2019-10-02 19:46] liu-cong commented on #83404
Thanks @damemi .

Feel free to work on this one. Just a reminder, we may need feedback/approval from sig-instrumentation.

[2019-10-02 19:48] entro-pi commented on #72158
Is this issue still available?

I'm an Outreachy Applicant and would like to help with this! It'd give me a chance to get used to the setup/configuration of a PR here as well.

[2019-10-02 19:53] demisx commented on #17512
@cgthayer You might want to apply that PR fix globally. Also, when I ran the scripts on MacOs Mojave, a bunch of errors showed up, including EU specific zone names which I don't use. Looks like these scripts have been written for a specific project.

[2019-10-02 20:08] szegedim opened #83423 "i386 binary fails to start on Linux"
**What happened**:
# /go/bin/go
-bash: /go/bin/go: cannot execute binary file: Exec format error
I did curl https://dl.google.com/go/go1.12.10.linux-386.tar.gz | tar -xz
# uname --all
Linux **** 4.4.0-17134-Microsoft #706-Microsoft Mon Apr 01 18:13:00 PST 2019 x86_64 x86_64 x86_64 GNU/Linux

**What you expected to happen**:
go runs. It is an i386 ELF binary and the os is Linux x64.
**How to reprod

[2019-10-02 20:15] liu-cong commented on #83415
/assign

[2019-10-02 20:24] rikatz commented on #83242
OK, so I need some review :/ The dumbest way is what I did...A sleep with 1s. Not sure why ResourceFinder is used here and if something more "flexible" could be used, so need someone with more experience in Kubernetes Code to review that.

[2019-10-02 20:34] pjbgf commented on #83407
@haircommander I could not reproduce this issue. Running on crio 1.15 it works fine. It also works fine with docker/runC.

Now when I tried to run it against crio's HEAD it did not work, but I got another instead. Maybe is my setup, so I will have a look at that again later.

The pull request you linked here is using a feature that should be supported by the CRIs. This is to get pods to run pods w

[2019-10-02 20:42] haircommander commented on #83407
@pjbgf thanks for looking into it. I'm a maintainer of CRI-O, and its currently blocking our CI. I haven't reproduced the issue outside of CI, yet, so it may be our machine configuration. I'm not convinced it's a problem in CRI-O, because I also reproduced with docker. I am going to try to upgrade fedora versions and see if that does it.

Also, if you continue having trouble building CRI-O master,

[2019-10-02 20:51] entro-pi commented on #68026
I'd like to pick a package and do my first PR, is there a list of packages to be done? Or should I correlate with this issue thread?

Thanks in advance!

[2019-10-02 20:59] caseydavenport commented on #78994
That mark is set on traffic when Calico has decided that the current set of policies allows the traffic. In this case, I'm guessing there are no network policies in place and so Calico marks the traffic to be allowed.

We had done some work a while back to make sure the marks used by kube-proxy and Calico didn't interfere. Calico has a configuration option for this: https://github.com/projectcalic

[2019-10-02 21:07] sarjeet2013 commented on #74374
/remove-lifecycle stale

[2019-10-02 21:14] OJFord commented on #75378
/remove-lifecycle stale

[2019-10-02 21:24] pjbgf commented on #83407
@haircommander I just managed to get the HEAD to work fine here too. So in the end I could not reproduce the issue.

I wonder whether that docker version has anything to do with it, as it is about 2 years old.

[2019-10-02 21:30] msau42 commented on #75378
I think this may be possible with CSI ephemeral volumes now. I believe @kfox1111 had a similar use case.

[2019-10-02 21:42] antoinne85 commented on #45509
@s2maki, @raravena80, I don't have a lot of experience with AWS, but looking through the provided link, the "instance protection" feature seems to be the most relevant to this discussion (please do correct me if I've overlooked something else important from the link).

That feature, on its own, paints the problem with a pretty broad brush.

For example, in order to solve for the scenario of prefer

[2019-10-02 22:49] caseydavenport commented on #78994
Also noticed this against the Calico repo, which might be the same thing: https://github.com/projectcalico/calico/issues/1055

[2019-10-02 23:00] logicalhan opened #83424 "Kube-apiserver request timeouts are double-counted into request metrics"
**What happened**:

When the kube-apiserver timeouts on a request, we end up doubling the counts measured in [`MonitorRequest()`](https://github.com/kubernetes/kubernetes/blob/release-1.16/staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go#L287-L302):

 - apiserver_request_counts
 - apiserver_request_total
 - apiserver_request_latencies
 - apiserver_request_latencies_summary
 - apiserve

[2019-10-02 23:01] logicalhan commented on #83424
/sig api-machinery instrumentation
/cc @lavalamp @sttts

[2019-10-02 23:01] ahmad-diaa opened #83425 "Inconsistency in PredicateFailureError Usage"
The field `PredicateName` in Type `PredicateFailureError` is used inconsistently
https://github.com/kubernetes/kubernetes/blob/0960c74c3788b1724bd7e7b9933bc49c7e5b5afa/pkg/scheduler/algorithm/predicates/error.go#L120-L124

For example sometimes it does not have a valid predicate name in some cases
https://github.com/kubernetes/kubernetes/blob/0960c74c3788b1724bd7e7b9933bc49c7e5b5afa/pkg/scheduler/

[2019-10-02 23:02] ahmad-diaa commented on #83425
cc @liu-cong

[2019-10-02 23:09] lavalamp commented on #83424
Thanks for filing. Can we, while fixing this, add a metric counting timed-out requests? You can't tell from the latency distribution, even if we made the buckets more useful.

[2019-10-02 23:19] kfox1111 commented on #75378
There is no pv support, but you can use the csi ephemeral inline support to write drivers that can do this I think.

[2019-10-02 23:23] rudaym commented on #83039
Thank you for your comments. Unfortunately, 1.15 is not there in google cloud kube engine yet. I guess I have to try when its available.

[2019-10-02 23:28] logicalhan commented on #83424
Yeah, that's the current plan. I've relayed the idea to @sttts offline and he has concurred.

[2019-10-03 00:30] liu-cong commented on #83425
Looking at how `PredicateFailureError` is used, it's used as failure "reason"
https://github.com/kubernetes/kubernetes/blob/b82a1d46003bf38f13cab864c0be09feefd27c4f/pkg/kubelet/lifecycle/predicate.go#L130
which is used to populate pod status
https://github.com/kubernetes/kubernetes/blob/3948f16ff4060955b7f25d26d261b99589963ade/pkg/kubelet/kubelet.go#L1777
And interestingly, it does provide a GetRe

[2019-10-03 01:09] liggitt commented on #82854
fixed in v1.16.1

/close

[2019-10-03 01:09] #82854 closed

[2019-10-03 01:13] jbaiera commented on #20555
Some extra extra info here (because I've lost some time to this as well), you can only use readiness probes that are considered "Simple HTTP" requests, in that the only header allowed is the Host header. I just suggest to read the code directly if you are running into issues beyond what is described here:

https://github.com/kubernetes/ingress-gce/blob/f7934122850a23081e72591948c3af1fad98f075/pkg/

[2019-10-03 01:38] vllry commented on #82859
Would it be realistic to include these kind of changes in deprecation policies? I understand the pressure to make changes quickly, but this kind of speed is very disruptive in the broader ecosystem.

[2019-10-03 02:01] smarterclayton commented on #82859
Mismatched libraries?

[2019-10-03 02:12] liggitt commented on #81526
this is still available for someone to pick up. comment here when you start working on a PR. the approach in https://github.com/kubernetes/kubernetes/pull/74245 would be a reasonable starting point (though starting from latest master might be easier)

[2019-10-03 02:24] zerkms opened #83431 "kube-controller-manager panic"
**What happened**: `kube-controller-manager` periodically panics, I don't do anything in particular to achieve that. At least I think so.

Here is logs several minutes before + actually the crash:

[code]

**What you expected to happen**: I should never panic

**How to reproduce it (as minimally and precisely as possible)**: not sure I can provide anything useful here, it's just a cluster I just p

[2019-10-03 02:25] zerkms commented on #83431
/sig api-machinery

[2019-10-03 02:27] liggitt commented on #83375
cc @mikedanese since projected tokens will increase the number of unique tokens

[2019-10-03 02:34] ahg-g commented on #83411
/assign @liu-cong

[2019-10-03 02:39] liggitt commented on #83431
thanks for the report. this is a duplicate of https://github.com/kubernetes/kubernetes/issues/82854

this is fixed in v1.16.1 by https://github.com/kubernetes/kubernetes/pull/82895

/close

[2019-10-03 02:39] #83431 closed

[2019-10-03 02:42] ibuildthecloud commented on #82859
@smarterclayton This issue isn't a generic issue and shouldn't be treated as such.  I know managing inter-dependencies is hard and you can't make guarantees.  I really just want this one tiny change to add back the type alias.  I really don't think you appreciate how hard it is to managed this.

I'll give you a specific example.  I must support k8s 1.16.  Because of the statically typed clients, i

[2019-10-03 02:44] incidrthreat commented on #81526
I'd like to assist/contribute to this issue if still an option. But before I do and so I'm tracking this correctly--urls are missing the `sig-architecture` portion and will need it added in?  If so, the referenced search shows all urls fixed.

[2019-10-03 02:45] liggitt commented on #83413
duplicate of https://github.com/kubernetes/kubernetes/issues/65551

Thanks for the feature request, but this would involve a fundamental change to the kubernetes type system, API structure, and cluster-level controllers that operate on types across namespaces, and is unlikely to make progress as an issue. See more details at https://github.com/kubernetes/kubernetes/issues/65551#issuecomment-400909

[2019-10-03 02:45] #83413 closed

[2019-10-03 03:34] liggitt commented on #83253
reopening until cherry-picks land

[2019-10-03 04:15] sukhong commented on #82346
We are encountering this issue as well, and seems like #80968 is the root cause.

We suddenly see all pods in one node being marked as not ready in pod.status.conditions:

status:
  conditions:
  - lastProbeTime: null
    lastTransitionTime: "2019-09-21T00:00:57Z"
    status: "True"
    type: Initialized
  - **lastProbeTime: null
    lastTransitionTime: "2019-10-02T11:10:44Z"
    status: "False"

[2019-10-03 04:17] sukhong commented on #80968
We are encountering this issue as well...

We suddenly see all pods in one node being marked as not ready in pod.status.conditions:

status:
  conditions:
  - lastProbeTime: null
    lastTransitionTime: "2019-09-21T00:00:57Z"
    status: "True"
    type: Initialized
  - **lastProbeTime: null
    lastTransitionTime: "2019-10-02T11:10:44Z"
    status: "False"
    type: Ready**
  - lastProbeTime: nul

[2019-10-03 04:42] vllry commented on #83212
/triage unresolved

[2019-10-03 04:42] vllry commented on #83186
/triage unresolved

[2019-10-03 05:03] Anuradha677 commented on #50295
I have found same issue.
gcloud container clusters get-credentials micro-cluster --zone us-central1-a
The issue is resolved.

[2019-10-03 05:05] Random-Liu commented on #82440
I think this should fix this https://github.com/containerd/containerd/pull/3711.

Please note **we expect Docker 18.09 to have more resource usage than Docker 17.03**. One reason is that Docker 18.09 starts using containerd 1.2, and compared to the old containerd 0.2.x used by Docker 17.03, containerd 1.2 is expected to use more resource, because it is a full container runtime now.

However, the g

[2019-10-03 05:23] zouyee commented on #83423
/si release

[2019-10-03 05:23] zouyee commented on #83423
/sig release

[2019-10-03 06:33] MikkCZ opened #83438 "Manually defined cmd/args are not reset for the container after original deployment is re-applied"
**How to reproduce it (as minimally and precisely as possible)**:
1. Apply a K8S deployment without specific `cmd` and `args` in the deployment manifest defined for a container (only entrypoint in Dockerfile). (`kubectl apply -f foo-bar-deployment.yaml`)
1. Edit the deployment manually and add `cmd` and `args` to run a custom command in the container, e.g. for debugging. (`kubectl edit deployment

[2019-10-03 06:34] Nowaker commented on #82440
@Random-Liu Thanks!

[2019-10-03 06:36] zouyee commented on #83438
/sig cli

[2019-10-03 07:08] chiraggupta06 opened #83439 "Assign specific cpu number to a pod in kubernetes"
**What happened**:
does Kubernetes provide some mechanism to assign a specific number of CPU to a pod?

**What you expected to happen**:
Currently, I am not able to assign a specific CPU cores to a pod.
**How to reproduce it (as minimally and precisely as possible)**:
---
apiVersion: v1
kind: Pod
metadata:
  name: new15
spec:
  containers:
  - name: new15
    image: rastasheep/ubuntu-sshd
    reso

[2019-10-03 07:12] 928234269 commented on #83256
you can try use "kubectl edit deploy-name -o yaml" or "kubectl edit pod-name -o yaml" to modify the cpu limit and cpu request.

[2019-10-03 07:57] DandyDeveloper opened #83440 "kubeadm init ... upgrade results in 1.13 kubelet speaking to 1.12 API server"
**What happened**:
I have upgraded a node from 1.12 -> 1.13 and I am attempting to enable networking by running kube-router (Working in other nodes on 1.12).

On upgrading using the `kubeadm init phase ...` commands,  everything appears running, but no pods are scheduled. I see the following exception in the kubelet logs:

[code]

**What you expected to happen**:
Kube-router to start successfully

[2019-10-03 07:59] DandyDeveloper commented on #83440
/sig scheduling

[2019-10-03 08:05] DandyDeveloper commented on #83440
/sig api-machinery

[2019-10-03 08:14] #75757 closed

[2019-10-03 10:12] FlorinAlexandru commented on #66766
As I understand this thread, I have the same problem. I thought that it is a node configuration or some kubernetes flag that I didn't set but it seems it ain't. I ask already on SO: [link](https://stackoverflow.com/questions/58169100/access-services-on-k8s-on-prem)

**Environment**

Kubernetes version (use kubectl version):
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.0",

[2019-10-03 10:16] #77474 closed

[2019-10-03 11:10] gayathrimenathtcl commented on #83304
@liggitt The CA bundle in the webhook is base64 encoded.

[2019-10-03 12:16] jsafrane opened #83445 "Block volume reconstruction does not delete global symlink"
Reconstructed block volume leaves global symlink and does not un-map the device.

**How to reproduce it (as minimally and precisely as possible)**:

1. I have iSCSI block PV used in a pod. This is found in /var/lib/kubelet:
[code]

2. Stop kubelet, force-delete the pod, start new kubelet

3. After the reconstruction, this is found in /var/lib/kubelet:
[code]
    And my iSCSI device is still availa

[2019-10-03 12:18] #77496 closed

[2019-10-03 12:19] jsafrane commented on #83445
/sig storage

cc @msau42 @jingxu97 @gnufied

This *looks* like an easy fix, but one never knows...

[2019-10-03 12:23] dims commented on #68026
@entro-pi please see step 1 (`hack/.golint_failures`) please scan other PRs linked to this issue as well just in case.

[2019-10-03 12:24] dims commented on #82590
@notpad Go for it!

[2019-10-03 12:26] deads2k commented on #83440
apimachinery provides the function dumping the stack, it's not actually in the stack here.  Looks like you crashed in kubelet_pods.

[2019-10-03 12:34] liggitt commented on #83440
this is a duplicate of #71749, and means you are running a 1.13 kubelet against a 1.12 API server. ensure the API server is at least as new as the kubelets running against it, per https://kubernetes.io/docs/setup/release/version-skew-policy/#kubelet

I'm not sure if the kubeadm upgrade properly orders the kubelet and apiserver upgrades. xref https://github.com/kubernetes/kubeadm/issues/1311 https:

[2019-10-03 12:36] liggitt commented on #83440
/assign @neolit123

was https://github.com/kubernetes/kubeadm/issues/1311 resolved by making kubeadm do something differently, or by changing documentation to indicate the correct order of operations? if the current documentation is followed, are the requirements of https://kubernetes.io/docs/setup/release/version-skew-policy/#supported-component-upgrade-order met?

[2019-10-03 12:38] george-angel commented on #65012
/remove-lifecycle stale

[2019-10-03 12:42] liggitt commented on #83304
when you base64-decode the caBundle content, do you get PEM content like this:
[code]

[2019-10-03 12:45] dims commented on #78995
Update: CAPG now as a presubmit and a periodic job that starts up a cluster and runs the e2e/conformance tests

https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-gcp#e2e%20tests
https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-gcp#pr-e2e

[2019-10-03 12:50] manaschandrasahoo commented on #66108
thanks it is work for me, but after that when i tried to restart then not started, enable, demon, restart....as per the doc...what could be the reason? how can i solve it.
# kubeadm init phase kubelet-start
[kubelet-start] Writing kubelet environment file with flags to file "/var/lib/kubelet/kubeadm-flags.env"
[kubelet-start] Writing kubelet configuration to file "/var/lib/kubelet/config.yaml"
[ku

[2019-10-03 12:50] s2maki commented on #45509
@antoinne85: These really are the same solution, IMO.  Setting a pod to protected is like declaring it busy.  Declaring it idle is like setting it to unprotected.  In my view, the initial state of any resource is idle until it becomes busy (e.g., subscribes to a work queue and waits for the first item to come in), marking it as protected when it becomes busy makes a lot of sense to me.  But even i

[2019-10-03 12:54] manaschandrasahoo commented on #66108
the thing is that in worker node after kubectk,kubeadm,kubelet,  kubelet was not started. so if you can copy that link from master and execute it will not connect...right.

[2019-10-03 13:11] damemi commented on #81526
It does look like these URLs were fixed in the latest version of kube. For that reason, I'm going to close this issue, but if anyone finds more of these URLs that are wrong feel free to reopen/reference this issue for tracking.
/close

[2019-10-03 13:11] #81526 closed

[2019-10-03 13:48] alculquicondor commented on #83425
I'm ok with exporting the fields, but:

- +1 to renaming `PredicateDesc` to `reason` or `Reason`.
- +1 to use the constants

And also: any usage of the field `err.PredicateName` should make it clear that it's referring to the name of the predicate, not the state of the pod.

cc @ahg-g

[2019-10-03 13:51] DandyDeveloper commented on #83440
@liggitt I just took a look to make sure, but it looks like all my components are on the same version:

[code]

Kubelet:
[code]

[2019-10-03 14:13] NeilW opened #83448 "rollout restart of deployments doesn't clear up old replica-sets"
**What happened**:

When doing a `kubectl rollout restart` of a deployment the old replica set seems to hang around.

**What you expected to happen**:

Replicaset should be cleared up once the deployment rollout is complete

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[2019-10-03 14:15] wojtek-t opened #83449 "Unnecessary identifier() calls in versioning encoder"
The recent improvement to avoid serializing objects independently for every single watcher: https://github.com/kubernetes/kubernetes/pull/81914 made significant improvements for number of memory allocations.
However, the potential is even bigger, because there the newly introduced identifier() method of versioning.Codec is apparently called millions of time.

Excluding the initialization of apiser

[2019-10-03 14:17] wojtek-t commented on #83449
The question is what is the best way to cache it.
I'm leaning towards introducing cache at the level of CodecFactory and simply cache Encoders there.
@liggitt - WDYT?

[2019-10-03 14:33] bcmills commented on #82531
@cblecker, note that 1.13.1 was a security release. The backports for performance regressions are slated for 1.13.2.

[2019-10-03 14:39] tedyu commented on #83440
It seems Kubelet#GenerateRunContainerOptions was involved in the panic.
[code]
[code]
It was from either of the above two places.

[2019-10-03 14:43] craiglpeters opened #83450 "Enable configuration of C: drive size for pods"
**What would you like to be added**: Support configuration of the size of the C: drive in Windows containers running on Kubernetes.

One option is to enable [storage-opt](https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/container-storage#image-size).

**Why is this needed**: Many Windows software packages are coded (sometimes as bugs) to examine the free space in

[2019-10-03 14:44] craiglpeters commented on #83450
/sig windows

[2019-10-03 14:54] NeilW commented on #83448
@kubernetes/sig-cli-bugs

because we have to start somewhere...

[2019-10-03 15:18] wgliang commented on #83403
/assign

[2019-10-03 15:18] wgliang commented on #83401
/assign

[2019-10-03 15:18] wgliang commented on #83399
/assign

[2019-10-03 15:21] jaghachi commented on #72501
An error also occurs if the folder for a mount path has a colon in it.

If my mount path contains a colon, it gives an error, but if I remove it the container is successfully created.
[code]
[code]
/remove-lifecycle stale

[2019-10-03 15:21] parjun8840 opened #83453 "Kubernetes liveness check not working as expected"
**What happened**:livenessProbe defined with "initialDelaySeconds" as 15 and "periodSeconds" 20 seconds. First check was supposed to fail because of timeout ( sleep in node.js)
Below is the application routing-
app.get("/healthz", function(request, response) {
  if (flag == 0) {
  sleep(process.env.TIMEDELAY);
  flag = 1;
  }
  response.end("Welcome to the healthz page!");
   console.log("/healthz

[2019-10-03 15:24] parjun8840 commented on #83453
For more details pasting info as well-
`kubectl describe pod liveness-exec
Name:         liveness-exec
Namespace:    default
Priority:     0
Node:         server-01/10.129.15.84
Start Time:   Thu, 03 Oct 2019 07:23:54 -0700
Labels:       test=liveness
Annotations:  kubectl.kubernetes.io/last-applied-configuration:
                {"apiVersion":"v1","kind":"Pod","metadata":{"annotations":{},"labels

[2019-10-03 15:26] wojtek-t commented on #83316
It seems that this PR didn't help.
This run already contains this PR and it failed:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1179728189669249025

[2019-10-03 15:32] adampl commented on #75378
@kfox1111 But, if I use the inline volume, how can I share the same volume between different pods?

[2019-10-03 15:40] parjun8840 commented on #83453
@kubernetes/wg-component-standard

[2019-10-03 15:42] parjun8840 commented on #83453
sig: @kubernetes/wg-component-standard

[2019-10-03 15:45] parjun8840 commented on #83453
@kubernetes/sig-autoscaling-misc

[2019-10-03 15:48] tedyu commented on #80968
Created #83455

We can discuss how the default inactivity period should be determined.

[2019-10-03 16:01] entro-pi commented on #68026
Will do. Thank you.

On Thu, Oct 3, 2019, 7:25 AM Davanum Srinivas <notifications@github.com>
wrote:

[2019-10-03 16:28] liu-cong opened #83457 "scheduler PodAffinityPredicate/Priority should use cache snapshot"
**What happened**:
In most places we use a consistent cache snapshot in a scheduling cycle. However, in PodAffinityPredicate/Priority, we use the original cache directly, see
https://github.com/kubernetes/kubernetes/blob/a0c93b10c9173476d284ac5a7cd8569bc91dedff/pkg/scheduler/algorithmprovider/defaults/register_predicates.go#L95
https://github.com/kubernetes/kubernetes/blob/11f043c7848a3175e5c31d4a

[2019-10-03 16:37] liu-cong opened #83458 "Scheduler cache.GetNodeInfo should return IsNotFound error if applicable"
**What happened**:
This [PR](https://github.com/kubernetes/kubernetes/commit/30b0f8bf3bed2c1c146a85ecdfc6b9cb18c5a303) switches NodeLister to scheduler cache for `GetNodeInfo`.  However, the new `GetNodeInfo` implementation in the cache never returns IsNotFound error any more. Rather, it returns a normal error:
https://github.com/kubernetes/kubernetes/blob/67d750bb2893d7a66d45d435dfc075fb17cc15ee/

[2019-10-03 16:51] danwinship commented on #83263
/remove-triage unresolved

[2019-10-03 16:58] bcmills commented on #79384
@howardjohn

Note https://github.com/kubernetes/kubernetes/issues/79384#issuecomment-505725449 above: `foo` is not supposed to depend on `k8s.io/kubernetes`.

[2019-10-03 17:04] howardjohn commented on #79384
@bcmills I completely get that. But people who are "doing it wrong" by depending on `k8s.io/kubernetes` are not the only ones that are broken. Anyone that even has it as a transitive dependency is broken. I don't want to depend on `k8s.io/kubernetes`... but I have to depend on helm which does depend on `k8s.io/kubernetes` so I have no choice

[2019-10-03 17:06] pjh commented on #78995
Clusters with Windows nodes on GCE depend on the `cluster/gce/` kube-up code. This dependency was noted in https://github.com/kubernetes/kubernetes/issues/82532#issue-491700946, but I don't see Windows mentioned in this issue yet or in the doc @alejandrox1 mentioned  above.

That other issue says:

[2019-10-03 17:07] anvarich commented on #72775
Still reporoducable at 1.14.6 cluster, not sure why it closed

[2019-10-03 17:11] lavalamp commented on #20352
I care slightly less if this is strictly a kubectl change, but for requests made against the API, we don't allow non-standard features for JSONPath, JSONPointer, JSONPatch, JSON Merge Patch, etc, due to issues around version change, and client interoperability expectations.

 I think this is the most authoritative spec? https://goessner.net/articles/JsonPath/

It doesn't mention any logical operat

[2019-10-03 17:23] liu-cong commented on #83457
/close

The GetNodeInfo is applied for `existingPods` in pod affinity. `existingPods` also come from the cache directly so they are consistent.

[2019-10-03 17:23] #83457 closed

[2019-10-03 17:29] LukeShu commented on #56374
That's not quite right.  It's not switching away from the root user that clears the non-"ambient" capabilities; it's the `execve` syscall. (Switching away from the root user *does* also clear the capabilities unless `PR_SET_KEEPCAPS`, but has nothing to do with "ambient" capabilities.)

[2019-10-03 17:31] ahg-g commented on #83458
/help

[2019-10-03 17:32] ahg-g commented on #83457
/good-first-issue

[2019-10-03 17:33] ahg-g commented on #83458
/good-first-issue

[2019-10-03 17:51] andrewsykim commented on #82396
cc @mcrute @nckturner @M00nF1sh

[2019-10-03 17:58] saiyan86 commented on #83186
Can try this config in ```kubelet```: --kube-reserved
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/

[2019-10-03 18:01] saiyan86 commented on #82799
@zoltanromocsa In this case it needs some in-depth troubleshooting like ```tcpdump```. Azure support should be able to help on this.

[2019-10-03 18:30] kfox1111 commented on #75378
The ephemeral inline spec only states that the driver will get a unique volumeHandle following the pod lifecycle. It doesn't restrict you to what you can do with the handle. Used along with the pod info on mount feature (https://kubernetes-csi.github.io/docs/pod-info.html), you could probably make a directory on the filesystem based on the csi.storage.k8s.io/pod.namespace attribute instead of volu

[2019-10-03 18:32] kfox1111 commented on #75378
@msau42 That driver I think would probably be another good candidate for living under github.com/kubernetes-csi/csi-driver-*, as its in no way vendor specific.

[2019-10-03 18:33] evanmcclure commented on #83458
Hi. I'd like to work on this for #Hacktoberfest.

[2019-10-03 18:52] ahg-g commented on #83411
It is likely that the other codes are irrelevant, final result should one of the three existing ones anyways.

[2019-10-03 18:59] mcaci commented on #83458
Hello, I would love to contribute too in case. I'm already looking at the code in fact :D

[2019-10-03 19:07] MartijnStraatman opened #83462 "pvc binding very slow on Openshift 3.11 with Openstack Cinder"
**What happened**:

kubectl create pvc.yml

Somehow since last week it takes about 5 ~ 45 minutes until the pvc and pv are bound.

Until we restart de api-server and controller-managers the problem disappears. It can run for a few hours and the problem re-appears.

**What you expected to happen**:

pvc and pv must be bound in a few seconds.

**How to reproduce it (as minimally and precisely as pos

[2019-10-03 19:12] enstor-ng commented on #83225
hit the same problem, while trying to install it on AWS  EC2 instance.   Followed [install steps](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/) . Decided to try with Kube-router, so  --pod-network-cidr  was passed.

Tried with short name and then with FQDN using the  --node-name option. Kubelet service fails to start. Anyway around this?

[root@m1 ~

[2019-10-03 19:13] MartijnStraatman commented on #83462
/sig storage

[2019-10-03 19:27] liu-cong opened #83464 "Change scheduler pod_preemption_victims from Gauge to Histogram"
**What would you like to be added**:
Change scheduler `pod_preemption_victims` metric  from Gauge to Histogram

**Why is this needed**:
`pod_preemption_victims` is recorded for each preemption attempt. A histogram is better.

/sig scheduling
/help
/good-first-issue

[2019-10-03 19:29] logicalhan commented on #73421
/remove-lifecycle stale

[2019-10-03 19:29] logicalhan commented on #73421
/remove-lifecycle rotten

[2019-10-03 19:29] logicalhan commented on #73421
/reopen

[2019-10-03 19:35] tallclair opened #83465 "Fine grained Kubelet API authorization"
**Summary**
The node API authorization is too coarse. We need finer grained authorization of different request types, and maybe resources acted on.

**Background**

The Kubelet API on the authenticated (10250) port currently uses a very coarse-grained scheme for authorizing requests. For example, reading `/healthz` and calling `/exec/...` (i.e. execute arbitrary code) require the same `proxy` subr

[2019-10-03 19:37] gd-jroberts commented on #78142
We're still seeing this issue.

/remove-lifecycle stale

[2019-10-03 19:38] msau42 commented on #75378
It can potentially go there if there are folks willing to maintain and manage the releases and testing

[2019-10-03 19:42] natchaphon-r commented on #11986
Is this feature still under consideration at all? If not, what would be the best way to achieve this behavior in k8s?
My use case:
|-- parent cgroup (memory limit 10 GB)
|---- cgroup1 (memory limit 2 GB)
|---- cgroup2 (memory limit 2 GB)
 ...
|---- cgroup10 (memory limit 2 GB)
- If all 10 child cgroups use exactly 1 GB (total of 10 GB which is the limit enforced by parent cgroup), then none of the

[2019-10-03 19:46] ahg-g commented on #83458
Thanks all for the interest, will assign to @evanmcclure since he expressed interest first.

/assign @evanmcclure

[2019-10-03 19:52] akumadare commented on #83186
Hi. This is a parameter i have considered but it is only relevant to scheduling rather than protecting any of the pod runtime processes under OOM conditions. From what I have read the kubelet should have a very negative oom_score_adj and should also set a very negative oom_score_adj for system critical pods - I have confirmed this within the cluster.

[2019-10-03 19:53] tallclair commented on #83465
Brainstorming a few different approaches:

**1. Issue a SAR for `nodes/${node_name}/api` AND a SAR for the specific request**
- First SAR covers the first check (kubelet API access), second covers the other cases
- No way to authorize only access via the kubelet API (do we care?)
- Probably requires the prefix for [3]

**2. Introduce an analogue to the TokenRequest audience for authorization**
- "

[2019-10-03 19:55] tallclair commented on #83465
Going to mark this as
/help-wanted
since I don't have time to tackle it now.

If you're interested in working on this, it will definitely need a KEP to start, and you should engage both the sig-auth and sig-node communities.

[2019-10-03 19:58] liu-cong commented on #83464
/help
/good-first-issue

[2019-10-03 20:08] bengadbois opened #83469 "Documentation: api/admissionregistration has incorrect encoding type for webhook caBundle"
**What happened**:
The go documentation of the api/admissionregistration/v1beta1/WebhookClientConfig.caBundle says it is PEM encoded

**What you expected to happen**:
It should say base64-encoded

**How to reproduce it (as minimally and precisely as possible)**:
It's just godoc

**Anything else we need to know?**:
It is correctly documented here: https://kubernetes.io/docs/reference/access-authn-a

[2019-10-03 20:09] bengadbois commented on #83469
/sig api-machinery

[2019-10-03 20:09] emptywee opened #83471 "Pods get stuck in ContainerCreating state when pulling image takes long"
**What happened**:
If pulling a docker image takes a bit longer than usual, pods are never created.

**What you expected to happen**:
Kubernetes to wait or retry pulling.

**How to reproduce it (as minimally and precisely as possible)**:
Throttle download speed to the docker registry where you are pulling it from or find one that gives you low bandwidth, e.g. 512kbit/s

**Anything else we need to

[2019-10-03 20:14] ahg-g opened #83472 "Duplicate Custom Predicates/Priorities"
Currently custom predicate and priorities can be created through the [Policy API](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/api/v1/types.go#L51-L71).

The problem is that a custom predicate/priority, like ServiceAffinity, can be [listed](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/api/v1/types.go#L32-L35) multiple times in the Policy with different n

[2019-10-03 20:16] fedebongio commented on #83377
/assign @caesarxuchao

[2019-10-03 20:16] fedebongio commented on #83391
/cc @cheftako

[2019-10-03 20:17] fedebongio commented on #83469
/assign @jpbetz

[2019-10-03 20:17] liu-cong opened #83473 "Add latency metrics for scheduler framework permit "wait" behavior"
**What would you like to be added**:

metric name | metric definition | Description
-- | -- | --
permit_wait_duration_seconds | Type: Histogram Labels:result={“scheduled”, “timedout”, “unschedulable”, “error”} | Duration of permit extension point finishes waiting.

**Why is this needed**:
In permit extension point, if the status is "Wait", we block until the pod is scheduled or timeout:
https://gi

[2019-10-03 20:17] liu-cong commented on #83473
/assign

[2019-10-03 20:19] tedyu commented on #83465
I think option #2 anove:

Use new endpoints - I.e. "kubelet API v2"

is better.
With option 1, it is hard to maintain new authorization scheme.

[2019-10-03 20:22] danwinship commented on #82125
So... should we not bother changing this now then and just leave the duplication there until we can fix it with the "omnibus network driver" in the future? Or hold our noses and move it to kubelet now with the understanding that it may move somewhere else later? Or move all the iptables creation out of kubelet into kube-proxy (with some plan/recommendation for non-kube-proxy users)?

[2019-10-03 20:32] liu-cong commented on #83411
actually we may not need this. we will have a metric to record plugin results. This metric provides an "overview" of results, while the plugin specific result provide more details into which plugin causes error/unschedulable.

I will hold on this.

/hold

[2019-10-03 20:36] emptywee commented on #83471
/sig scheduling

[2019-10-03 20:41] klueska opened #83476 "TopologyManager: Guarantee Aligned resources for Multiple Containers"
The `TopologyManager` is currently only guaranteed to work if a _single_ container in the pod spec requires aligned resources.

The reason for this is the following:

* The admit handler for the `TopologyManager` loops through all containers, calling out to the `CPUManager` and `devicemanager` to generate hints for each of them individually, rather than on the entire pod as a whole.

* Generating

[2019-10-03 20:42] klueska commented on #83476
/sig node

[2019-10-03 20:42] jdumars opened #83477 "Re-write Kubernetes in bash"
1.) Improve readability of code
2.) Testing will be easier, since we can just skip them
3.) Will run everywhere using industry standard tools like grep and echo
4.) Who doesn't love bash??

[2019-10-03 20:49] klueska opened #83478 "TopologyManager: Refactor to easily support different merge strategies"
In the current design the `TopologyManager` follows a single strategy to merge hints and select the best one from them. Different policies then decide how to interpret this "best hint".

This proposal adds an explicit `Merge()` abstraction so that each policy is able to generate  its own set of merged hints instead of leaving this up to the overall TopologyManager`.
This gives the flexibility to a

[2019-10-03 20:49] klueska commented on #83478
/sig node

[2019-10-03 20:49] justaugustus commented on #83477
Yes, we can follow the model that already exists in https://github.com/kubernetes/release
@kubernetes/bash-firefighters -- your time is here!
/priority important-longterm

[2019-10-03 20:51] klueska opened #83479 "Topology Manager for 1.17 Tracking Issue"
This issue is used to track the enhancements we plan to make to the `TopologyManager` in the 1.17 timeframe.

The tracking issue for the full `TopologyManager` feature can be found here:
kubernetes/enhancements#693

The following PRs track each of the 1.17 enhancements individually:

Bug Fixes:
~~https://github.com/kubernetes/kubernetes/pull/84525~~ Fix bug in TopologyManager hint generation after

[2019-10-03 20:51] klueska commented on #83479
/sig node

[2019-10-03 20:54] jdumars commented on #83477
Some prior art from @rothgar
https://github.com/rothgar/bashScheduler

[2019-10-03 20:57] jdumars commented on #83477
/assign @cblecker

[2019-10-03 21:02] Tabrizian commented on #83464
I can work on this issue.

[2019-10-03 21:02] Tabrizian commented on #83464
/assign Tabrizian

[2019-10-03 21:07] bowei commented on #83407
Can you reproduce this bug on Fedora 30? Fedora 26 is quite old (over 2 years and past EOL)

[2019-10-03 21:07] dcvtruong commented on #72018
Hi, I'm seeing similar error on azure cloud-provider.

'''
E1003 18:04:29.450442       1 node_lifecycle_controller.go:803] Error determining if node ...-master-01 shutdown in cloud: failed to get power status for node "...-MASTER-01"
'''

[2019-10-03 21:07] robscott commented on #83212
/assign @robscott
/remove-triage unresolved

[2019-10-03 21:08] bowei commented on #83400
/remove-triage unresolved

[2019-10-03 21:08] bowei commented on #83400
/assign @danwinship

[2019-10-03 21:08] bowei commented on #83346
/assign @aramase

[2019-10-03 21:09] bowei commented on #83346
/remove-triage unresolved

[2019-10-03 21:09] bowei commented on #83400
/remove-triage unresolved

[2019-10-03 21:09] robscott commented on #83212
Hey @howardjohn, thanks for filing this issue! You're completely right that Endpoints are still required as many consumers (such as DNS) still don't use or support Endpoint Slices. I'll work on updating the docs to make this more clear.

[2019-10-03 21:09] justaugustus commented on #83477
As a first step, I think we need required presubmits that enforce `#!/usr/bin/env bash` shebangs on all files.
It'll allow us to easily catch all of the pesky Go code that's already in this repo, as well as enforce some consistency with the existing bash work.

[2019-10-03 21:11] bowei commented on #83186
/triage support

[2019-10-03 21:11] bowei commented on #83186
/remove-triage unresolved

[2019-10-03 21:12] guineveresaenger commented on #83477
Hi. This is your release team lead.

Is there a KEP for this enhancement?

[2019-10-03 21:13] bowei commented on #83063
/assign aojea

[2019-10-03 21:16] justaugustus commented on #83477
We can have one in before Enhancements Freeze.
@cblecker to author, @jdumars and I can do the review for it.

We'll probably be able to remove the `Test Plan` section from KEPs once this work lands.

[2019-10-03 21:16] bowei commented on #82997
/assign @dcbw

[2019-10-03 21:17] bowei commented on #82997
/remove-triage unresolved

[2019-10-03 21:17] bowei commented on #82825
/remove-triage unresolved

[2019-10-03 21:18] bowei commented on #82743
/remove-triage unresolved

[2019-10-03 21:18] bowei commented on #82515
/assign bowei

[2019-10-03 21:18] bowei commented on #82515
/remove-triage unresolved

[2019-10-03 21:21] guineveresaenger commented on #83477
/milestone v2.0

[2019-10-03 21:22] bowei commented on #66766
/lifecycle frozen

[2019-10-03 21:22] bowei commented on #66766
/assign bowei

[2019-10-03 21:25] freehan commented on #82494
Is it possible to extract kube-controller-manager log during the problematic period?

https://github.com/kubernetes/kubernetes/issues/82494#issuecomment-529670240 may cause the endpoints controller to lost events, hence it will not react to pod changes, thus endpoints are left unchanged/stale.

[2019-10-03 21:27] jdumars commented on #83477
/milestone v2.0

[2019-10-03 21:28] klueska opened #83481 "TopologyManager: Add a suite of E2E tests"
In order to graduate the `TopologyManager` to `beta` we need a suite of E2E tests to verify functionality in a more realistic setting than simple unit tests.

We plan to model the E2E tests we build for the `TopologyManager` after the `CPUManager` E2E tests from:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/cpu_manager_test.go

The matrix of tests we plan to build are being c

[2019-10-03 21:29] klueska commented on #83481
/sig node

[2019-10-03 21:35] justaugustus commented on #83477
**rolls up sleeves**
I got this.
/milestone v2.0

[2019-10-03 21:39] #83194 closed

[2019-10-03 21:47] dcbw commented on #82997
This is actually a CNI 'flannel' plugin bug. The documented flannel CNI configuration JSON does not include a "cniVersion" which is technically a legal CNI version number that is accepted as version 0.1.0 of the spec. The CNI flannel plugin's VERSION command response claims to support v0.1.0 and up, but does not support "" (even though that is equivalent to 0.1.0).

Thus the mismatch. The bug shou

[2019-10-03 21:48] klueska opened #83482 "TopologyManager: Write improved documentation"
The current documentation for the `TopologyManager` feature is quite lacking.

At a minimum we should provide guides for:
* How to create a HintProvider
* How to extend a device plugin

This Issue will be updated as appropriate to track this documentation effort over time.

[2019-10-03 21:48] klueska commented on #83482
/sig node

[2019-10-03 21:53] klueska opened #83483 "TopologyManager: Add support for device-specific topology constraints"
The current `TopologyManager` only allows devices to be aligned by NUMA node. However, certain devices have internal constraints which dictate how they should be aligned when multiple devices of the same type are requested.

This issue tracks the effort to add support for such "inter-device" topology constraints when allocating devices to a container. The proposed solution allows each device plugi

[2019-10-03 21:53] klueska commented on #83483
/sig node

[2019-10-03 21:54] chiluk commented on #67577
@till https://github.com/kubernetes/kubernetes/issues/67577#issuecomment-531370333

For the stable kernel conversation is going on here.
https://lore.kernel.org/stable/CAC=E7cUXpUDgpvsmMaMU6sAydbfD0FEJiK25R1r=e9=YtcPjGw@mail.gmail.com/

Also for those going to KubeCon, I'll be presenting this issue there.
https://sched.co/Uae1

[2019-10-03 21:57] kfox1111 commented on #75378
I can help with that. but I don't have time at the moment to write the code. But can help give pointers if @adampl is interested.

[2019-10-03 21:59] aojea commented on #83063
@Prodian0013 were you able to find out what's causing the issues with the services?

[2019-10-03 22:01] jdumars commented on #83477
I've got bashernetes.com all ready to go!

[2019-10-03 22:01] trinitronx commented on #23880
Any word on adding this feature to AWS using Network Load Balancers?

AWS now supports UDP via NLBs: https://aws.amazon.com/about-aws/whats-new/2019/06/network-load-balancer-now-supports-udp-protocol/

[2019-10-03 22:03] howardjohn commented on #83212
Sounds good, feel free to close this. Thanks!

[2019-10-03 22:11] derekwaynecarr commented on #83479
/milestone v1.17

[2019-10-03 22:36] rothgar commented on #83477
Some good places to start include

bocker https://github.com/p8952/bocker
cni in bash https://github.com/eranyanay/cni-from-scratch
controller https://github.com/sterburg/bash-kubernetes-controller

I'm assuming we'll also need to rewrite kubectl, or at least wrap it
https://github.com/johanhaleby/kubetail

[2019-10-03 22:45] krmayankk commented on #72253
/remove-lifecycle stale

[2019-10-03 22:46] krmayankk commented on #72253
@runcom  any update on this. Is this something you are working on ?

[2019-10-03 22:48] msau42 commented on #82577
Should we also consider adding the e2e tests to the conformance suite (as a separate pr)? cc @kubernetes/cncf-conformance-wg

[2019-10-03 22:53] evanmcclure commented on #83458
I was browsing around the rest of the implementation of the cache and noticed that none of the other accessors return `IsNotFound`. Also, I couldn't determine if `GetNodeInfo` returned anything other than an `error`. I'm new here, so I may be doing it wrong.

@liu-cong Are you sure the behavior changed, and are you sure returning `IsNotFound` is expected? Should we change the other accessors, too?

[2019-10-03 23:05] jberkus commented on #30427
This issue has an active PR.

/remove-lifecycle rotten

[2019-10-03 23:22] DirectXMan12 opened #83487 "record.NewBroadcaster leaks goroutines"
In order to initialize a client-go `record.EventRecorder`, you need an `record.EventBroadcaster`.  `record.NewBroadcaster` and friends initialize a new `watch.Broadcaster`:

https://github.com/kubernetes/kubernetes/blob/3317805652d145c4003f5c534c7d87fb5cd87d50/staging/src/k8s.io/client-go/tools/record/event.go#L133-L137

`watch.NewBroadcaster` launches a goroutine:

https://github.com/kubernetes/k

[2019-10-03 23:22] DirectXMan12 commented on #83487
/sig api-machinery

I always forget the dash

[2019-10-03 23:59] aditanix commented on #33777
Is restarting the nodes the only solution to this problem? How can I circumvent this issue in a prod environment?

[2019-10-04 00:17] alculquicondor commented on #61185
Hello @yastij, I'm interesting in picking up this work, if that's fine with you.

[2019-10-04 00:21] msau42 commented on #64522
/remove-lifecycle stale

[2019-10-04 00:23] zouyee commented on #83471
/sig node
/remove-sig scheduling

[2019-10-04 00:29] zouyee commented on #83471
https://github.com/kubernetes/kubernetes/issues/83348

[2019-10-04 00:44] liggitt commented on #83438
This is working as designed. Apply is intended to leave alone fields set by other actors/processes, and only unset/modify fields present in the applied manifest (or in the previously applied manifest). If you want to clear cmd/args, you can set them to null explicitly in the manifest you apply

/close

[2019-10-04 00:44] #83438 closed

[2019-10-04 00:51] emptywee commented on #83471
In our case there's no events and no errors passed from kubelet to the api server. Not sure how #83348 is related. What's helping to start a container is predownload the image on the worker node and kill the pod, hoping that it'll get re-created on the same node. Or, pre-download that image on all workers and kill the pod.

[2019-10-04 01:06] thockin commented on #11986
I still think pod-level resources are a fun and interesting feature, but I
don't know if anyone is working on it yet.

On Thu, Oct 3, 2019 at 12:43 PM Natchaphon Ruengsakulrach <
notifications@github.com> wrote:

[2019-10-04 01:45] daixiang0 opened #83488 "interaction between secret, optional, and PodPreset"
Details refer to [this](https://github.com/kubernetes/website/pull/16657#issue-323553510).

I am not sure this is only doc issue, as @sftim said.

My env is v1.15.3

[2019-10-04 02:09] ConnorDoyle commented on #83479
/cc

[2019-10-04 02:15] dims commented on #81760
As mentioned earlier, i have https://github.com/dims/hyperkube and looks like @adelina-t will be surfacing another repository as well. We can pick either one ( preferably @adelina-t 's) and request a new repository under `kubernetes-sigs`.

We will need folks who want to own this code and take it forward. So if you are interested, please chime in on this issue.

cc @dghubble @PatrickLang @MikeSpre

[2019-10-04 02:54] notpad commented on #82590
/assign

[2019-10-04 03:53] cblecker commented on #83477
/sig architecture
/shrug

You people are ridiculous. Also, you're amazing and I'm lucky to get to work with all of you. ❤️

[2019-10-04 03:53] klueska commented on #83478
/cc @moshe010

[2019-10-04 04:07] zimmertr commented on #33777
Can you confirm that the resource limits you put in your manifests do not exceed the available resources in your cluster?

[2019-10-04 04:07] ahmad-diaa commented on #83425
I think unexporting the fields could be useful to decrease the possibility misusing the fields once more

[2019-10-04 04:21] tedyu opened #83493 "pull-kubernetes-e2e-gce-100-performance fails"
**Which jobs are failing**:
pull-kubernetes-e2e-gce-100-performance

**Since when has it been failing**:
Oct 3rd

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/83420/pull-kubernetes-e2e-gce-100-performance/1179968141170577408/

**Reason for failure**:
This seems related:
[code]

[2019-10-04 04:24] justaugustus commented on #83477
Love you, @cblecker! So happy you got elected!!!

For the sake of inclusivity (for those who aren't in on this) and clarity... because I know someone will ask the question somewhere...
- This is a joke issue. There are no current plans, nor will there probably ever be plans to move Kubernetes to bash
- If by happenstance you ended up here via Twitter or some other means and want to contribute, her

[2019-10-04 04:34] #74372 closed

[2019-10-04 04:54] lavalamp commented on #83477
https://twitter.com/originalavalamp/status/848310500664332290

[2019-10-04 04:56] wontheone1 commented on #63371
+1 for this issue.

[2019-10-04 05:05] justaugustus commented on #81760
@dims -- SIG Release is on the hook to own and I'll steward.

From the contributors you mentioned, I'll find some key approvers.

[2019-10-04 05:11] gayathrimenathtcl commented on #83304
Yes, I am getting like this.

[2019-10-04 06:40] iAmPrasoon commented on #83306
@aojea, I deployed the sctp server you used but still getting the same error.
Specifically, if I enter the name immediately then the server replied with "Thanks for calling" message but if I take some time then "connnection reset by peer message is received".

I have installed and setup kubernetes according to https://vitux.com/install-and-deploy-kubernetes-on-ubuntu/.

I am using flannel for over

[2019-10-04 06:41] iAmPrasoon commented on #83306
@chendotjs, I am using iptables.

[2019-10-04 06:51] aojea commented on #83306
well, that's progress :-) at least we know it works sometimes

can you describe the scenario:
 `kubectl get nodes -o wide`
`kubectl describe <sctp service>`
and how are you testing it? which command are you sing, from which node to what node, ...?

[2019-10-04 06:51] aojea commented on #83306
/assign

[2019-10-04 07:20] sftim commented on #83488
Hi @daixiang0
I'm not sure I understand. Are you describing a bug?
/priority awaiting-more-evidence
/triage needs-information

[2019-10-04 07:24] stealthybox commented on #83477
I'd like to propose we have a test-runner for the bash migration. It's important that we keep API compatibility as we move forward with these improvements.

Since containers are mostly bash already, projects like runC and docker-swarm use https://github.com/bats-core/bats-core for testing.
We could use bats or just write our own solution like we usually do.

We should be able to `sed` the existing

[2019-10-04 07:26] yastij commented on #61185
@draveness  - is already working on refreshing the KEP for this

[2019-10-04 08:21] iAmPrasoon commented on #83306
kubectl get nodes -o wide

![image](https://user-images.githubusercontent.com/11042545/66191371-cd51d880-e6ab-11e9-85d8-98b475857808.png)

kubectl describe <sctp service>

![image](https://user-images.githubusercontent.com/11042545/66191493-1013b080-e6ac-11e9-80e0-6191c4552eb9.png)

Server is deployed on slave-node.
I am running command: ncat --sctp 10.129.27.243 30322 on master node.

kubectl des

[2019-10-04 08:31] neolit123 commented on #83440
@liggitt

we just changed the docs, but maybe the old website branches did not include the change.

newer documentation should instruct users to upgrade the api servers first, kubelets last.

@DandyDeveloper

can you reproduce the error consistently?
what are the upgrade steps that you followed and from which document?

[2019-10-04 08:39] takezyou opened #83496 "Function to limit the number of deployments created with RBAC"
**What would you like to be added**:
Function to limit the number of deployments created with RBAC.

**Why is this needed**:
I wanted to limit the number of deployments per user.
By doing so, I think that it will be possible to regulate more detailed resources for individual users.

[2019-10-04 08:42] takezyou commented on #83496
/sig auth

[2019-10-04 08:45] neolit123 commented on #81760
i think we should create the k/k-sig hosted hyperkube repo and start moving bits to there.

[2019-10-04 08:52] DandyDeveloper commented on #83440
@neolit123 I changed around my upgrade phasing and also tried on a different note and can't recreate the problem.

Now I just can't get networking to work on the actually pods. New problems!

[2019-10-04 08:53] daixiang0 commented on #83488
@sftim it is a question indeed.

[2019-10-04 08:56] anirudhmurali commented on #65797
+1 for this feature.

[2019-10-04 08:56] neolit123 commented on #83346
cc @Arvinderpal

[2019-10-04 09:03] SataQiu commented on #83472
/cc

[2019-10-04 09:09] draveness commented on #61185
Thanks @yastij

/assign

[2019-10-04 09:09] draveness commented on #61185
/remove-lifecycle stale

[2019-10-04 09:13] serathius commented on #83465
Hey Tim I would be interested in looking into this.

[2019-10-04 09:24] aojea commented on #83306
ok, let's try to divide and conquer probing the service from different origins and to different endpoints and try to find a pattern.

Let's consider this matrix:
origins: master node, worker node, external host
endpoints: masterIP:nodePort, nodeIP:nodePort, podIP:9999 (this only from the master and worker node)

If we find a pattern we should dump iptables and see if something is missing

[2019-10-04 09:36] adelina-t commented on #81760
You can have a look here at the initial move: https://github.com/adelina-t/hyperkube

Hyperkube can be built, images can be built here.
Next steps: create dependancy pinning / vendor update scripts.

[2019-10-04 09:39] max-rocket-internet commented on #72775
@zq-david-wang please reopen

or does this work?

/reopen

[2019-10-04 09:46] #74414 closed

[2019-10-04 09:48] iAmPrasoon commented on #83306
I tried running ncat command with different combinations of origin and endpoints but got the same result.

Is there any other command to be used for probing?

[2019-10-04 10:06] jsafrane commented on #83445
/assign

[2019-10-04 10:31] qct commented on #38923
@childsb @saad-ali  please help the community, as @r0bj said, there's still problem when resizing pvc

[2019-10-04 10:36] qct commented on #69082
@childsb @saad-ali please help the community, as @r0bj said, there's still problem when resizing pvc

[2019-10-04 10:50] OJFord commented on #72991
/remove-lifecycle stale

[2019-10-04 10:51] christhomas-msm commented on #68684
I don't think this ticket needs to be kept alive:

https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/

describes the use of:

service.beta.kubernetes.io/aws-load-balancer-extra-security-groups

which can be used to negate the issue.

[2019-10-04 11:18] sadlame commented on #37471
Apparently this is a docker bug.

`kubectl exec` internally invokes the terminal component included in the docker engine but their implementation (using GetConsoleMode to judge if a file handle is a tty) does not detect fake Windows terminals including Git bash and Cygwin bash as a valid tty.

The most straightforward fix would be to replace GetConsoleMode with [this](https://github.com/mattn/go-i

[2019-10-04 11:22] dElogics commented on #77646
/remove-lifecycle stale

[2019-10-04 11:37] aojea commented on #83306
if probing from worker node to podIP:9999 doesn't work maybe we are hitting something in the OS, it should be the same as spawning a container and probing the service directly.

You can check without kubernetes to discard environmental problems.

1. Launch the sctp server in one terminal and keep it open

`docker run -ti --rm --name sctp -p 9999:9999/sctp aweimeow/sctp-server python example/run.py

[2019-10-04 12:06] xiexiaojing commented on #83425
1，Renaming PredicateDesc to reason or Reason.
2，Unexporting the fields
If these two are the right thing to do, there should be a new one to do the right thing. And the old one is better to export the field  less confusingly.

[2019-10-04 12:15] iAmPrasoon commented on #83306
docker run -ti --rm --name sctp -p 9999:9999/sctp aweimeow/sctp-server python example/run.py (at worker-node)

ncat --sctp 172.17.0.1 9999 (at worker-node)

I executed the above commands, still receiving the error.

![image](https://user-images.githubusercontent.com/11042545/66206627-3f3b1980-e6ce-11e9-8d6a-734aa04ac44d.png)

[2019-10-04 12:18] haircommander commented on #83407
@bowei I'm trying f30 now, I'll report back my findings.

[2019-10-04 12:19] neolit123 commented on #83440
ok, given this issue was related to upgrades. let's close it.
if you find a bug please feel free to report it in another issue.
thanks.

/close

[2019-10-04 12:19] #83440 closed

[2019-10-04 12:25] albertlr commented on #37471
we ran into the same issue, however if you are running it from Command Prompt ( `cmd.exe` ) .. it was working like a charm

[2019-10-04 12:49] sadlame commented on #37471
@albertlr As I mentioned this is probably not a Kubernetes bug. The terminal package within the docker engine is currently being incapable of detecting fake terminals like Git bash and Cygwin terminal. This issue does not reproduce on `cmd.exe` because it is a real terminal, for which GetConsoleMode returns TRUE. Adding a special detection logic like [this one](https://github.com/mattn/go-isatty)

[2019-10-04 13:15] dims commented on #81760
@justaugustus @adelina-t thanks! https://github.com/adelina-t/hyperkube is a great way to get us started.

[2019-10-04 13:16] ahg-g commented on #83425
All uses of PredicateFailureError will change to framework.Status. We can wait until that is the case, or if you feel strongly about it, we can now do what Cong and Aldo are suggesting.

[2019-10-04 13:26] aojea commented on #83306
Then I'm afraid that this is not a kubernetes bug :/

[2019-10-04 13:30] Arvinderpal commented on #83346
We'll need the corresponding changes in kubeadm as well. This is already marked as a TBD task in this tracker issue: https://github.com/kubernetes/kubeadm/issues/1612

[2019-10-04 13:34] aojea commented on #83306
/close

[2019-10-04 13:34] #83306 closed

[2019-10-04 13:38] nbroeking commented on #82997
Thanks everyone. Closing due to issue being in flannel.

[2019-10-04 13:38] #82997 closed

[2019-10-04 13:41] ahg-g commented on #82635
Note that predicates ```CheckNodeMemoryPressurePred, CheckNodeDiskPressurePred, CheckNodePIDPressurePred, CheckNodeConditionPred``` has been disabled since this feature graduated to beta, i.e., for the past five releases those predicates where practically deprecated and no one would've been able to use them via the Policy API.

Once #82703 is merged, I suggest we remove them completely even though

[2019-10-04 13:43] PengTaoWW commented on #83311
@zouyee this case run pod in the Guaranteed QoS class which requests are equal to limits。but still wrong

[2019-10-04 14:04] ilyash-b commented on #83477
Let's rewrite in [Next Generation Shell](https://ngs-lang.org/) (NGS)

* Highly popular (sorry you never heard about it)
* Only need to
  * Add support for sockets
  * Make sure GC works for long running processes (if not - fix GC)
  * Improve speed - just add static code analyzer, etc
  * Fix thread safety issues (or ask the author how to avoid)

[2019-10-04 14:21] deads2k commented on #82141
I agree.  I'm moving through a similar arc, but for CA bundles only.  I think the approaches are compatible and complementary.

[2019-10-04 14:22] liggitt commented on #83304
are you able to provide the yaml used for debugging?

[2019-10-04 14:27] jsafrane commented on #74545
Block reconstruction test enhanced to check also global directory: https://github.com/kubernetes/kubernetes/pull/83451

[2019-10-04 14:31] iAmPrasoon commented on #83306
Ok, Thanks for the help.

[2019-10-04 14:40] mprenditore commented on #22368
what's the status on that? It will be really useful to have  away to roll up in case of configmap or secret change

[2019-10-04 14:44] liggitt commented on #83496
Thanks for the request, but there are no plans for per-user resource quota at the moment. per-namespace quotas can be applied (see https://kubernetes.io/docs/concepts/policy/resource-quotas/), and users limited to specific namespaces using RBAC.

A per-user quota mechanism could also be built as an extension using [admission webhooks](https://kubernetes.io/docs/reference/access-authn-authz/extensi

[2019-10-04 14:44] #83496 closed

[2019-10-04 14:44] #77487 closed

[2019-10-04 14:50] liggitt commented on #83488
PodPresets only modify the creation of the pod manifest. The only errors they can detect are conflicts between what is specified in the PodPreset manifest and what is in the Pod manifest (things like duplicate volume names, etc).

Once a pod is created, the actual behavior at run time (for cases like missing secrets, volume mounts with errors, etc) is the same regardless of whether a pod preset wa

[2019-10-04 14:50] #83488 closed

[2019-10-04 14:54] adampl commented on #75378
Well, I think CSI is for external storage services. Inline `emptyDir` volumes and `hostPath/local` PVs are built-in features, so involving the whole CSI framework looks like a serious overkill - compared to slightly modifying the built-in `emptyDir` to make it PV compatible. Unfortunately, I'm not a Go/k8s developer, so I'd have to dig into it for a long time, not to mention writing a KEP or getti

[2019-10-04 15:00] liu-cong commented on #83458
Let's look at previous release.

The `NodeInfo` object is initialized in [`getPluginArgs()`]

https://github.com/kubernetes/kubernetes/blob/9a83f46a506124685802559c4a3981f4f415d1de/pkg/scheduler/factory/factory.go#L567
 where it creates a `CachedNodeInfo`.  Now let's take a look at  `CachedNodeInfo` implementation:
https://github.com/kubernetes/kubernetes/blob/9a83f46a506124685802559c4a3981f4f415d

[2019-10-04 15:04] RomanSernetz commented on #50375
+1

[2019-10-04 15:21] SataQiu commented on #83471
/cc

[2019-10-04 15:34] mtmn commented on #83477
/pony

[2019-10-04 15:50] #83181 closed

[2019-10-04 16:04] andrewsykim commented on #82923
@Cryptophobia there was another PR open on this two days ago, sorry for not linking it back here for visiblity. https://github.com/kubernetes/kubernetes/pull/83414

[2019-10-04 16:09] Cryptophobia commented on #82923
@andrewsykim Okay, great! I will close my PR.

[2019-10-04 16:09] misterikkit commented on #79809
It turns out that importing the root cert into the host was just a workaround, and the actual bug was fixed in https://github.com/vmware/govmomi/pull/1498. That fix is included in govmomi v0.21.0.

[2019-10-04 17:04] mikesplain commented on #82923
Awesome thanks everyone!

[2019-10-04 17:13] joeyparis commented on #67941
@luvpreetsingh What did you need to change in your `UserData`? I just updated my Base AMI and am running into this same issue.

[2019-10-04 17:36] dghubble commented on #81760
@dims Kubernetes core still plans to package other container images like kube-apiserver, kube-scheduler, kube-controller-manager? The desire is specific to moving the hyperkube image management, not container images distributables right?

[2019-10-04 17:45] dims commented on #81760
@dghubble correct

[2019-10-04 17:47] #77544 closed

[2019-10-04 18:14] jdumars commented on #83477
Unfortunately, I think this idea is waaaaaay ahead of its time, so I am going to close this issue and let future generations take this on.

[2019-10-04 18:14] #83477 closed

[2019-10-04 18:17] logicalhan commented on #82808
I (and @DirectXMan12) think supporting json format would be super nice (it is an orthogonal issue to this one, however). Also, we should specify the content type through the header and not through query params.

[2019-10-04 18:19] msau42 opened #83509 "Flaky test: [sig-storage] CSI mock volume CSI workload information using mock driver should not be passed when podInfoOnMount=false"
**Which jobs are failing**:

**Which test(s) are failing**:
[sig-storage] CSI mock volume CSI workload information using mock driver should not be passed when podInfoOnMount=false

**Since when has it been failing**:

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1179595057779445761

**Reason for failure**:
Is it properly handling parallel tests?

[2019-10-04 18:19] msau42 commented on #83509
@kubernetes/sig-storage-test-failures
/assign @gnufied

[2019-10-04 18:19] msau42 commented on #83509
/kind flake

[2019-10-04 18:34] jingxu97 opened #83511 "In Windows, configMap or Secret volumes might overwrite existing dir in container"
When mounting configMap or secret volumes into containers, if the mountPath points to an existing dir in container image, the resulting behavior is different between Linux and Windows

- In linux, if the mountPath is an existing dir, container will fail to start

- In windows, container can start successfully, and the existing dir will be overwritten by configMap or secret volume

The following is

[2019-10-04 18:35] jingxu97 commented on #83511
cc @pjh @Random-Liu

[2019-10-04 18:39] pjh commented on #83511
/sig windows

[2019-10-04 18:45] cblecker commented on #83477
Thanks for being the visionary you are, @jdumars ❤️

[2019-10-04 18:57] brentpearson commented on #75821
I want a job queue that accepts a job and adds it to the queue. Each job has a spec for the amount of CPU and memory it requires to run. When resources are available to run the job at the front of the queue, it is run.

Is there anything like this available? If not, I could create the queue part, but I need a way of determining the amount of free resources available in the K8s cluster, and/or whet

[2019-10-04 19:00] oomichi commented on #81427
test/e2e/framework/kubelet
----------------------------

[code]

[2019-10-04 19:56] msau42 opened #83513 "Switch storage version to use v1.CSINode in 1.18"
**What would you like to be added**:
storage/v1.CSINode is being introduced in 1.17 via https://github.com/kubernetes/kubernetes/pull/83474. The storage version should switch to v1 in 1.18.

**Why is this needed**:
We need to wait until 1.18 to handle the HA upgrade case where a controller may be 1 version higher than the API server.

@kubernetes/sig-storage-feature-requests
/assign

[2019-10-04 20:18] msau42 commented on #70773
Didn't find any TODOs related to this.
/close

[2019-10-04 20:18] #70773 closed

[2019-10-04 20:27] paivagustavo commented on #82808
@logicalhan You said it is an orthogonal issue, to clarify that, Do you mean that it should be done in another issue?

I changed my mind and agree with the header instead of query parameter.

[2019-10-04 20:30] hprateek43 commented on #83356
Should we also introduce some kind of verbosity level for scheduler metrics? This will allow development and non production clusters to run at a higher verbosity level, something that can be useful for certain organisations adopting kubernetes?

[2019-10-04 20:39] liu-cong commented on #83356
Interesting idea. Is there an example where verbosity is used for metrics in k8s?

[2019-10-04 20:51] #66042 closed

[2019-10-04 20:56] PatrickLang commented on #79950
Just to clarify here - the bad impact is actually on Linux, not Windows. Windows assumes a "m" in a memory unit is Mi. Linux drops ignores the letter. That means `800m` = 800 bytes on Linux, but 800 Mi on Windows

[2019-10-04 21:05] lavalamp commented on #79950
"800m" actually means 800 *millibytes*, which isn't sensible. The config is very wrong and apparently there's another bug somewhere, too. Is kubelet not using the resource.Quantity type to interpret this value before handing it to the container runtime?

[2019-10-04 21:06] liggitt commented on #79950
both can be bad. linux fails to run the container (as expected for an untenably small memory amount). windows allows a container to consume 1024*1024 as much memory as was reserved in resourcequota for it, right?

[2019-10-04 21:07] lavalamp commented on #79950
https://github.com/kubernetes/apimachinery/blob/master/pkg/api/resource/quantity.go#L46

[2019-10-04 21:08] ahmad-diaa opened #83514 "podConditionUpdater and podPreemptor consist of a clientset only"
After Moving podConditionUpdater and podPreemptor types to the scheduler, both of them only consists of `clientSet` which is already a part of the `scheduler` struct. https://github.com/kubernetes/kubernetes/pull/83342#discussion_r330850183 suggested that we remove them and have their methods as private methods of the scheduler.

They might as well be kept as they provide more context for the asso

[2019-10-04 21:09] lavalamp commented on #79950
Do the platforms both behave the same if you pass the intended value of "800M" or "800Mi"? (capital M)

[2019-10-04 21:13] PatrickLang commented on #79950
yes, both work with `M` or `Mi`. Windows works with `m`, but Linux doesn't.

[2019-10-04 21:15] lavalamp commented on #79950
Are you sure it's turned into 800 bytes on linux? I'd expect this to be rounded to either 1 byte or 0 bytes if it's handled correctly.

800m should not work on windows, either, unless windows can allocate 6.4 bits to a program? :)

[2019-10-04 21:18] lavalamp commented on #79950
I do think that validation should forbid memory requests smaller than a byte, but as Jordan points out, the validation change is dangerous.

[2019-10-04 21:20] jingxu97 commented on #81317
close this since it is not an issue

[2019-10-04 21:20] #81317 closed

[2019-10-04 21:20] PatrickLang commented on #79950
[code]

[2019-10-04 21:21] liggitt commented on #79950
I think it rounds to the nearest byte, and below a certain threshold (like 4MB), containers will just not start

[2019-10-04 21:23] liggitt commented on #79950
I think it can be done relatively safely with ratcheting validation. memory requests that are fractions of a byte are certainly a mistake, and do not work properly on any container runtime.

[2019-10-04 21:23] lavalamp commented on #79950
I think it would be best if windows also interpreted 'm' values as a request for 0 bytes and failed them, rather than "helping" people and training them to do the wrong thing :/

[2019-10-04 21:25] lavalamp commented on #79950
If these always fail, then the risk of breaking an existing setup is pretty low and it might be safe to forbid them in the API.

[2019-10-04 21:28] liggitt commented on #79950
that was my claim in https://github.com/kubernetes/kubernetes/issues/64841#issuecomment-405436597. I'm happy to resurrect the ratcheting for the truly impossible-to-succeed cases.

[2019-10-04 21:28] liggitt commented on #79950
even more than that, the current handling makes ResourceQuota ineffective for memory on windows

[2019-10-04 21:30] liggitt commented on #79950
(though LimitRange could be used to specify a minimum memory amount a pod could request)

[2019-10-04 21:30] PatrickLang commented on #79950
I'm not sure where the `m` is being interpreted at the moment. need more digging. That was a valid abbreviation in the Moby/Docker codebase which Windows is still using [doc](https://docs.docker.com/config/containers/resource_constraints/#limit-a-containers-access-to-memory)

[2019-10-04 21:33] jingxu97 opened #83515 "Better handling of some in-tree plugins mount setup failures"
In some in-tree plugins (including gce-pd, awsebs), during mount set up, if mount fails, it requires to do some clean up work to unmount and remove dir etc. However, in current code, there are a number of places to use IsLikelyNotMountPoint to check the mounting status and take actions based on the result. I think this check is not necessary and not very reliable. It would be better to simplify th

[2019-10-04 21:45] DirectXMan12 commented on #82808
Yeah, it's probably a good idea to just split the JSON output to a separate issue

[2019-10-04 21:47] DirectXMan12 commented on #83332
also cc @kubernetes/sig-instrumentation-misc

[2019-10-04 21:50] harshit2000 commented on #83493
the label is declared?

[2019-10-04 21:57] PatrickLang commented on #79950
I can't figure out exactly what's going on. Docker shows 1 byte on Windows but yet it still runs. I think it's ignored not applied

[2019-10-04 22:03] junkiebev commented on #69845
Watching - I'm also interested in being able to conditionally disable this.

[2019-10-04 23:09] tedyu commented on #83515
In pkg/util/mount/mount_helper_common.go :
[code]
Can IsNotMountPoint be used in place of IsLikelyNotMountPoint() ?

[2019-10-04 23:50] conwaychriscosmo commented on #81863
I am interested in contributing and noticed this is the most recent unclaimed issue that is related to metrics.  What is the status of this issue?

[2019-10-04 23:52] conwaychriscosmo commented on #83136
I noticed this is informally assigned.  Has there been any progress?  Is this a place I can fit in?

[2019-10-05 00:02] saad-ali commented on #80712
GKE node auto repair and node upgrade do not use reboots. But a kernel panic may cause reboot.

[2019-10-05 00:49] msau42 commented on #69831
/lifecycle frozen

[2019-10-05 00:49] ngaya-ll commented on #78607
@apelisse @jennybuckley Any update on this?

[2019-10-05 01:08] xueweiz commented on #72878
Hi @joshk0 , @luhkevin ,

You might be seeing a different issue than https://github.com/kubernetes/kubernetes/issues/76704

I wonder if you could let me know your kernel version? And could you run below command on your affected node?
[code]

If the command doesn't show anything, please ignore my comment.

And if this command shows any output like below, you might potentially be affected by https:/

[2019-10-05 01:44] bgrant0607 commented on #8190
Associative lists with non-standard keys (and even multi-field keys) were totally a mistake. We should have just used maps. Merging would have been so much simpler.

[2019-10-05 02:05] tedyu commented on #78607
If there is no plan to make manifest application successful, should we use the following as error message ?
"Resource has been modified since last applied configuration, cannot update"

[2019-10-05 02:21] daixiang0 commented on #83488
@liggitt I got the key, i misunderstand that the `on error` means any error when create pod, in the other hand, it should be better to change ` Attempt to merge the various resources defined by the `PodPreset` into the Pod being created` to ` Attempt to merge the various resources defined by the `PodPreset` into the Pod before it create`, as you said, all check that podpreset does is before creati

[2019-10-05 03:17] draveness opened #83523 "[Scheduler] Add more method to the framework handle"
/sig scheduling
/assign
/kind feature

Per discussion in https://github.com/kubernetes/kubernetes/pull/82432#issuecomment-537043208, and the scheduling framework [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md#frameworkhandle)

We decided to add the following methods to the framework handle:

https://github.com/kubernetes/kubernetes

[2019-10-05 04:23] jktomer commented on #83136
Yes, I'm working on a PR.

[2019-10-05 04:41] zhan849 commented on #82923
@andrewsykim I just realized that #784100 was a cherry-pick of #76749, which is also in tip of master and v1.15/v1.16
Do we run into the same problem in the other 2 versions

[2019-10-05 04:51] #82843 closed

[2019-10-05 04:59] #74986 closed

[2019-10-05 04:59] #77296 closed

[2019-10-05 06:00] #76952 closed

[2019-10-05 06:00] #77121 closed

[2019-10-05 07:01] #77573 closed

[2019-10-05 07:11] droslean opened #83524 "[Failing test] [sig-storage] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] [Testpattern: Dynamic PV (block volmode)] disruptive[Disruptive] Should test that pv written before kubelet restart is readable after restart."
**Which jobs are failing**:

`gce-cos-master-serial`

**Which test(s) are failing**:
`[sig-storage] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] [Testpattern: Dynamic PV (block volmode)] disruptive[Disruptive] Should test that pv written before kubelet restart is readable after restart.`

**Since when has it been failing**:
There is not a successful run for this particular test case (tracke

[2019-10-05 07:13] droslean commented on #83524
/sig storage

[2019-10-05 07:13] droslean commented on #83524
/milestone 1.17

[2019-10-05 07:21] draveness commented on #83425
+1 on waiting, even if we change the predicate failure now, we can't deliver the patch to users since we are in the middle of a release. We can change to `framework.Status` directly and save the effort of doing redundant work.

[2019-10-05 07:22] RajdeepSardar commented on #55713
I found PODs running while Node has become UnReady. But I noticed that PODs terminated about 5 minutes after Node becoming UnReady.

Digging Deep, I found 2 parameters useful here.

pod-eviction-timeout in the Kubernetes cluster level

If you want to manage this attribute in POD level, you can add tolerations. After adding Toleration as below, my POD started terminating in 30 seconds

[code]

Deta

[2019-10-05 07:59] #82013 closed

[2019-10-05 09:03] #74365 closed

[2019-10-05 09:03] #69364 closed

[2019-10-05 09:03] #69434 closed

[2019-10-05 09:03] #72635 closed

[2019-10-05 11:05] #73778 closed

[2019-10-05 11:05] #55946 closed

[2019-10-05 11:17] 616b2f commented on #33925
sorry for opening this again I don't get it. Can someone make an example how I can get kubeadm init to act idempotent or point me to the right direction e.g. when I use Ansible to automate cluster creation?

[2019-10-05 14:08] #75476 closed

[2019-10-05 15:08] #77581 closed

[2019-10-05 15:08] #76569 closed

[2019-10-05 16:09] #68605 closed

[2019-10-05 16:45] alejandrox1 commented on #83524
This test is not currently running in this dashboard but it seems to be a problem overall. See triage for all recent failures https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Should%20test%20that%20pv%20written%20before%20kubelet%20restart%20is%20readable%20after%20restart

Looking at the logs from the latest run, where the test was not run ([prow.k8s.io/view/gcs/kubernetes-jen

[2019-10-05 17:01] jackkleeman commented on #82141
I've tried to bring part 3 into my PR #79285, using a filewatch on a list of CA bundle files

[2019-10-05 17:22] hprateek43 commented on #83356
I am not yet aware of such a component. But I commonly see organisations struggling with the high verbosity of components like core-dns, networking overheads etc, that most of the time they fail to identify a metric that can lead to problems before the problem occurs. Idea is that if somehow we can give user control over the logging system of scheduler through an external flag, it can prove helpfu

[2019-10-05 18:11] #76449 closed

[2019-10-05 18:30] fejta-bot opened #83529 "pr:pull-kubernetes-e2e-gce-100-performance flaked 43 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-100-performance
 Flakes in the past week: **43**
 Consistency: **90.60%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Up | 37 |
| Stage | 8 |
| Timeout | 4 |

#### Previously closed issues for this job flaking:
#81890 #67295 #62592 #73884

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2019-10-05 18:46] alejandrox1 commented on #83529
/sig scalability
/sig testing
/kind flake
/priority critical-urgent
/milestone v1.17

[2019-10-05 18:48] alejandrox1 commented on #83529
Looking over a sample failed run https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/78411/pull-kubernetes-e2e-gce/1180537531804946433/
We got the following failed tests

* [sig-storage] CSI Volumes [Driver: csi-hostpath] [Testpattern: Dynamic PV (block volmode)] volumeMode should not mount / map unused volumes in a pod
* [sig-network] Services should have session affinity work for NodePo

[2019-10-05 19:12] alejandrox1 commented on #83523
@draveness could you provide more details on this issue?
What do you mean by adding more methods to the framework handle? Why is this necessary? Could you please elaborate on the three bullet points you listed?

Is there a KEP for this?
/cc @Huang-Wei @ahg-g @hex108

/milestone v1.17

[2019-10-05 20:00] chirangaalwis commented on #22368
+1 @mprenditore agreed.

[2019-10-05 20:10] ahg-g opened #83531 "[migration phase 1] taint and toleration as framework plugins"
**What would you like to be added**:

Implement pod-tolerates-node-taints, both predicate and priority as a plugin in the scheduling framework. This is going to be done by calling into the predicate/priority functions rather than actually moving the code according to phase 1 migration plan.

**Why is this needed**:
phase 1 framework migration

/sig scheduling
/assign

[2019-10-05 20:13] #76370 closed

[2019-10-05 20:15] ahg-g opened #83532 "[migration phase 1] Inject Predicate and Priority Metadata as framework CycleState"
**What would you like to be added**:
Inject PredicateMetadata and PriorityMetadata, the pre-calculated state for predicate and priorities, as CycleState in the framework.

**Why is this needed**:
This is needed for phase 1 framework migration which requires implementing all predicates/priorities as framework plugins that call back into the predicate/priority functions.

/sig scheduling
/assign

[2019-10-05 21:14] #67874 closed

[2019-10-06 01:09] draveness commented on #83523
Update the description

The reason for adding the field is after the comma, e.g. "for plugins to access listers for resources not cached in the scheduler cache"

[2019-10-06 01:17] #82050 closed

[2019-10-06 01:17] #81223 closed

[2019-10-06 01:17] #79511 closed

[2019-10-06 01:18] #78689 closed

[2019-10-06 01:18] draveness commented on #78064
/help

[2019-10-06 01:25] mitar commented on #69637
/remove-lifecycle stale

[2019-10-06 06:23] #71725 closed

[2019-10-06 06:23] #68418 closed

[2019-10-06 07:24] #77635 closed

[2019-10-06 08:00] itoutline commented on #76531
The problem still exists with 19.03.3-rc1.
[code]

[2019-10-06 09:15] J00MZ commented on #83477
**#shameless-plug**

[2019-10-06 09:26] #76861 closed

[2019-10-06 09:32] ilyash-b commented on #83477
I knew I forgot something! Thanks! Updated the original comment.

[2019-10-06 10:27] #67777 closed

[2019-10-06 10:28] k-vishwa commented on #81270
Still the fix is not made in 1.16 kubectl version

[code]

[2019-10-06 10:57] odinuge opened #83542 "Support for reserving hugepages in kubelet used by system"
**What would you like to be added**:

Support for reserving hugepages via `--{system,kube}-reserved`, like we do with memory, pids and cpu.

This is already spesificed in the KEP about hugepage support:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/20190129-hugepages.md#L158

**Why is this needed**:

In case another system component needs huge pages, it should be possible to

[2019-10-06 10:59] odinuge commented on #83542
/sig node

[2019-10-06 11:21] Russia9 commented on #82943
Hello again. And how can I assign the address of the ens2 interface as an external address?

[2019-10-06 12:08] sslavic commented on #79384
@howardjohn it seems Helm imports only `k8s.io/kubernetes/pkg/controller/deployment/util` (see [here](https://github.com/helm/helm/blob/dev-v3/pkg/kube/wait.go#L38)). Would it make sense for controller package to be staged and published as separate Go module?

[2019-10-06 13:22] aladhims commented on #83464
I could work on this as well if @Tabrizian doesn't have time to work on this.

[2019-10-06 13:42] flaupretre commented on #48912
Those options are probably useful (especially 'exec') but could it be possible to add a 'uid' volume mount parameter. For a better security, I don't want anything to run as root in my container and I also want my root FS to be readonly. I just need a small subdirectory where I dynamically generate a configuration file before launching the daemon. This small volume does not have to be persisted and

[2019-10-06 15:51] Nowaker commented on #36304
Unrot please?

[2019-10-06 16:36] SantosRay commented on #83225
I have the same problem building a simple cluster with Ubuntu 18.4:

===========================================================
root@master-node:~# kubeadm init --pod-network-cidr=10.244.0.0/16
[init] Using Kubernetes version: v1.16.1
[preflight] Running pre-flight checks
        [WARNING IsDockerSystemdCheck]: detected "cgroupfs" as the Docker cgroup

[2019-10-06 16:43] apelisse commented on #78607
There is a plan, it's Unions, it's still in the works, probably not for 1.17 though.

[2019-10-06 16:58] hv7214 commented on #83458
Hello, is this issue being solved ? If not, i am interested in solving this issue.

[2019-10-06 17:00] tedyu commented on #83225
Can you see if cgroupfs appears in the output of:
[code]

[2019-10-06 17:06] skazhikadyadya commented on #83477
/pony

[2019-10-06 17:18] liggitt commented on #83493
see https://github.com/kubernetes/test-infra/issues/14611, fixed in https://github.com/kubernetes/test-infra/pull/14598

[2019-10-06 17:18] liggitt commented on #83529
see https://github.com/kubernetes/test-infra/issues/14611, fixed in https://github.com/kubernetes/test-infra/pull/14598

[2019-10-06 17:18] #83529 closed

[2019-10-06 17:19] SantosRay commented on #83225
Yes it does.
root@master-node:~# docker info -f "{{.CgroupDriver}}"
cgroupfs

[2019-10-06 17:21] liggitt commented on #83511
is that accurate? mounting a secret to an existing directory typically shadows the existing directory. see motivation for projected volume mount in https://github.com/kubernetes/kubernetes/issues/19764

[2019-10-06 17:21] liggitt commented on #83511
that is the normal volume mount shadowing behavior I would expect

[2019-10-06 17:27] andrewsykim commented on #82923
@zhan849 I don't think so because the subsequent bug fix (https://github.com/kubernetes/kubernetes/pull/78498) to https://github.com/kubernetes/kubernetes/pull/76749 went into v1.15 and v1.16, but not v1.14.

[2019-10-06 17:36] SantosRay commented on #83225
@tedyu, thanks for the tip!

root@master-node:~# docker info -f "{{.CgroupDriver}}"
cgroupfs

/etc/systemd/system/docker.service.d was missing

root@master-node:~# ls /etc/systemd/system
cloud-final.service.wants              default.target.wants    iscsi.service                open-vm-tools.service.requires  snap-docker-384.mount        sshd.service          ubuntu-fan.service
cloud-init.target.w

[2019-10-06 17:38] mitar commented on #76064
/remove-lifecycle stale

[2019-10-06 17:43] SantosRay commented on #83225
BTW,

Problem solved!
...

Your Kubernetes control-plane has initialized successfully!

To start using your cluster, you need to run the following as a regular user:

  mkdir -p $HOME/.kube
  sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
  sudo chown $(id -u):$(id -g) $HOME/.kube/config

You should now deploy a pod network to the cluster.
Run "kubectl apply -f [podnetwork].yaml" with on

[2019-10-06 17:45] liggitt commented on #50619
`--dry-run` does a client-side dry run. `--server-dry-run` actually submits the request to the server, so server-side validation (like unique port name and port name format validation) is performed. If you want full validation, use `--server-dry-run`.

/close

[2019-10-06 17:45] #50619 closed

[2019-10-06 17:48] liggitt commented on #48767
/assign

[2019-10-06 17:58] liggitt commented on #64923
the eviction object includes `deleteOptions` field, which allows specifying a uid deletion precondition:

[code]

[2019-10-06 18:00] #64923 closed

[2019-10-06 18:25] liggitt commented on #41913
--show-all was defaulted to true in 1.10, made inert in 1.11, and removed in 1.14

/close

[2019-10-06 18:25] #41913 closed

[2019-10-06 18:47] rikatz commented on #82943
As per the documentations, the EXTERNAL-IP address (ExternalIP in node spec) is set by the cloud-controllers. https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/#nodestatus-v1-core

As an example: https://github.com/kubernetes/kubernetes/blob/5e4abfb94613339d585e5d811e4fcec278ff06dc/staging/src/k8s.io/legacy-cloud-providers/aws/aws.go#L1445-L1452

I couldn't find if this is some s

[2019-10-06 18:50] rikatz commented on #82943
Taking a better look into the code, this is returned as an status provided by the cloud provider. So you need some controller to gather this information and patch into the status of the node

[2019-10-06 19:10] chelnak commented on #81905
@achilles42 Did you work out what was causing this?

[2019-10-06 19:25] hangxie opened #83550 "1.16: etcd client does not parse IPv6 addresses correctly when members are joining"
**What happened**:
Running kubeadm 1.16.1 on CentOS7 with local etcd, the first kube master (`2001:db8:101:53e9::1:17`) is up and running, try to make the second master (`2001:db8:101:53e9::1:2d`) join the cluster and got error:
[code]

log of etcd on the first kube master shows:
[code]

Verified the cert used by the 2nd kube master has the right server name (of the IP).

**What you expected to ha

[2019-10-06 19:26] hangxie commented on #83550
@kuberbetes/sig-cluster-lifecycle-bugs

[2019-10-06 19:55] Tabrizian commented on #83464
@aladhims  I am working on it, I will create the initial PR in less than a week. Sorry for the delay.

[2019-10-06 20:09] #48767 closed

[2019-10-06 20:19] liggitt commented on #70207
etcd2 support was dropped in 1.13

/close

[2019-10-06 20:19] #70207 closed

[2019-10-06 20:19] dims commented on #36304
/remove-lifecycle stale

[2019-10-06 20:28] liggitt commented on #82421
/close

[2019-10-06 20:28] #82421 closed

[2019-10-06 20:35] liggitt commented on #73275
/remove-lifecycle stale
/lifecycle frozen
/priority important-soon

[2019-10-06 20:37] #77305 closed

[2019-10-06 20:38] liggitt commented on #74397
The processing of the initial list is a fundamental part of the controller design, and is what makes it safe to restart a controller, or recover from a controller crash

/remove-kind bug
/close

[2019-10-06 20:38] #74397 closed

[2019-10-06 20:41] liggitt commented on #80332
picks are merged

/close

[2019-10-06 20:41] #80332 closed

[2019-10-06 20:45] liggitt commented on #83253
Picks are merged, and target release versions are listed in the description.

/close

[2019-10-06 20:45] #83253 closed

[2019-10-06 21:41] hangxie commented on #83550
/sig cluster-lifecycle

[2019-10-06 22:53] dims commented on #83253
Thanks for shepherding this through @liggitt !

[2019-10-07 00:40] ahg-g opened #83554 "Framework Migration Phase 1"
This is an umbrella issue to track Phase 1 of the migration plan as discussed in the [migration doc](https://docs.google.com/document/d/1P1eBaePxuko22B8LLOrPEonoj1awc1dCVBDefuRWUA4/edit#heading=h.u7jfy9wqpd2b).

The main goal of Phase 1 is to change the execution path of predicates and priorities to run through the framework, while retaining the existing execution path until we are confident enoug

[2019-10-07 00:41] ahg-g commented on #83554
/cc @Huang-Wei @alculquicondor @ravisantoshgudimetla @k82cn

[2019-10-07 00:44] ahg-g commented on #82708
/close

This is done.

[2019-10-07 00:44] #82708 closed

[2019-10-07 00:49] ahg-g commented on #83554
I will create issues for each of the tasks for anyone wants to help and contribute.

[2019-10-07 01:19] ravisantoshgudimetla commented on #83554
/cc @damemi @ingvagabund

[2019-10-07 01:35] cheftako commented on #70526
/remove-lifecycle stale

[2019-10-07 01:51] dims commented on #74405
/reopen
/remove-lifecycle rotten

[2019-10-07 04:15] cblecker commented on #83477
Thanks for joining in on the fun. I'm going to lock this issue for posterity :)

[2019-10-07 04:45] #65890 closed

[2019-10-07 04:54] zimmertr commented on #60596
Waiting for this to be available myself. No reason my Node Exporter dataset has to run in the `kube-system` namespace instead of my Grafana namespace.

[2019-10-07 04:56] zimmertr commented on #76308
Waiting for this to be available myself. No reason my Node Exporter dataset has to run in the `kube-system` namespace instead of my `Grafana` namespace.

[2019-10-07 05:00] hprateek43 commented on #83554
@ahg-g I can work on the tasks. Do let me know a good issue I can start with.

[2019-10-07 05:49] gayathrimenathtcl commented on #83304
yes, I am getting error mentioned above while applying the yaml. Yaml creation getting failed.

[2019-10-07 07:20] TheDukeDK commented on #72102
I believe I am running into this issue or at least something similar.

[code]

I see the etcd going up and down and the api server. This cluster was created with `kubeadm`.

The logs from etcd show the following.

[code]

[2019-10-07 08:51] TomHutter commented on #82889
Found https://github.com/coredns/coredns/issues/1443 and follow ups.

removed `proxy . /etc/resolv.conf` from configMap kube-system/coredns

no more complaints

[2019-10-07 09:21] 13567436138 opened #83559 "runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized"
[code]
is this because of the version is different

create cluster after 40days add new node
the version is different

kubeadm join 192.168.70.17:6443 --token uss5vg.0555balzsyia3tm3 \
    --discovery-token-ca-cert-hash sha256:d027477b1448de581d788f0323340c16231ec16b88ba48cf20b3436f41eddb0a

[code]
[code]
[code]

no cni0

[2019-10-07 09:23] notpad commented on #82590
Hi @dims @thockin, do you think it is ok to move `k8s.io/kubernetes/pkg/proxy/userspace/port_allocator.go` to
`staging/src/k8s.io/apimachinery/pkg/util/net`, there is some net related code, such as port_range, port_split.

[2019-10-07 09:25] tcmichael commented on #83282
/assign

[2019-10-07 09:27] 13567436138 commented on #83559
@kubernetes/sig-node

[2019-10-07 09:32] 13567436138 commented on #83559
/sig node

[2019-10-07 09:34] tcmichael commented on #83282
[code]
@tedyu pvcLister is used by stateful_pod_control.go

[2019-10-07 09:46] alenkacz commented on #82182
@jkaniuk 👋 is someone still working on this?

[2019-10-07 09:47] alenkacz commented on #83524
/milestone 1.17

[2019-10-07 09:47] alenkacz commented on #83524
/milestone v1.17

[2019-10-07 09:50] #77724 closed

[2019-10-07 09:50] #77727 closed

[2019-10-07 09:50] alenkacz commented on #82695
I see the last failure at 19.9. so marking this as resolved. Thanks @jkaniuk

[2019-10-07 09:50] alenkacz commented on #82695
/close

[2019-10-07 09:50] #82695 closed

[2019-10-07 09:54] alenkacz commented on #83321
@liggitt is that a full fix for this flake or just partial? I still saw it failed yesterday so just checking... :)

[2019-10-07 10:07] alenkacz opened #83560 "node-kubelet-master tests fail during startup"
**Which jobs are failing**:
node-kubelet-master in master blocking
https://testgrid.k8s.io/sig-release-master-blocking#node-kubelet-master

**Which test(s) are failing**:
test startup, the tests don't even get run

**Since when has it been failing**:
10/02

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#node-kubelet-master

**Reason for failure**:
[code]

**Anything else we

[2019-10-07 10:10] f-ld opened #83561 "Horizontal Pod Autoscaler fooled by terminating pods"
**What would you like to be added**:

An option inside HPA to ignore "Terminating" pods (i.e. pods that have been elected for downscale but are for example waiting for the prestop hook to give permission to k8s to actually stop them) when computing resource usage.

**Why is this needed**:

Let's take an example.

I have a service S processing some short to long queries (for this example, think 1mi

[2019-10-07 10:15] f-ld commented on #83561
@kubernetes/sig-autoscaling-feature-requests

[2019-10-07 10:15] droslean commented on #83560
/cc @dchen1107 @derekwaynecarr

[2019-10-07 10:16] skwasiborski opened #83562 "Allow cross-object `--server-dry-run` to make use of earlier resources in multi-object manifest"
**What happened**:
Given single manifest containing namespace and resources in that namespace and k8s instance that without aforementioned namespace, running `kubectl apply -f deployment.yaml --server-dry-run` fails with following message:
[code]
**What you expected to happen**:
The server dry run should finish with success. The same manifest on the same cluster applied using `kubectl apply -f dep

[2019-10-07 10:21] skwasiborski commented on #83562
/sig api-machinery

[2019-10-07 11:10] dims commented on #82590
@thockin @liggitt WDYT? especially since that the code in question uses `	"k8s.io/apimachinery/pkg/util/net"` and `"k8s.io/apimachinery/pkg/util/wait"`

[2019-10-07 11:35] TomHutter commented on #82889
Seems, I was a little bit to fast. After upgrading I saw a lot of errors in the coredns POD logs and (external) DNS resolution didn't work at all:

`plugin/errors: 2 example.com. A: plugin/loop: no next plugin found`

Then I added:

`forward . /etc/resolv.conf`

Forwarding all requests to the nameservers in the nodes /etc/resolv.conf

So the solution is **replace** in `configMap kube-system/coredn

[2019-10-07 12:08] php-coder commented on #48912
It sounds like a use case for the `securityContext.fsGroup` field (see `kubectl explain Pod.spec.securityContext.fsGroup`).

Could you elaborate a little more on the last sentence, please? I don't see where you would need chmod:
[code]

[2019-10-07 12:14] Harsun commented on #58927
Looks like the issue is still valid with vm compability 6.7.0 u3.
For guest OS ubuntu 18.04.3, with Kubernetes 1.15.3, Kubespray 2.11.0
unfortunately, UUID and product_serial are not same.

[2019-10-07 12:14] ahg-g commented on #83514
I don't think it is necessary to "create interfaces" to clarify "context". It bloats the file with unnecessary types, the function docs should clarify the context if the function name can't be made clear enough.

[2019-10-07 12:25] ahg-g commented on #83523
No KEP is required for this issue, it is an implementation detail of the framework.

[2019-10-07 12:34] cewood commented on #27744
Sry was away for a long weekend.

@mml I count/see the following:

1. [federation/cmd/federation-controller-manager](https://github.com/kubernetes/kubernetes/pull/27735/files)
1. [cmd/kube-dns](https://github.com/kubernetes/kubernetes/pull/28374/files)
1. [cmd/kube-apiserver, cmd/kube-controller-manager](https://github.com/kubernetes/kubernetes/pull/46047/files)
1. [cmd/cloud-controller-manager](h

[2019-10-07 12:39] achilles42 commented on #81905
Yes, that was happening due to misconfiguration in the Prometheus setup. Closing this issue, thanks.

[2019-10-07 12:39] #81905 closed

[2019-10-07 12:41] liggitt commented on #83304
are you able to paste the yaml file here to assist in figuring out the issue?

[2019-10-07 12:57] zouyee commented on #83562
Request will be sent to server with dry-run flag, which means the modifications, like namespace, it won't be persisted，then creating other resources, the namespace scope resource name is requested, so the error is reported.
[code]
/cc @liggitt

[2019-10-07 12:59] zouyee commented on #83559
https://github.com/kubernetes/kubernetes/issues/82982

[2019-10-07 13:01] liggitt commented on #83562
That is correct, and it working as expected. Resources which depend on earlier resources actually being persisted, cannot be dry run.

[2019-10-07 13:03] liggitt commented on #83562
All API requests are single-resource requests. There is no notion of a multi-request transaction in Kubernetes, so a multi-request dry-run is not possible.

[2019-10-07 13:06] anguslees commented on #75457
Just pointing out that another option for some folks is to _not_ use dedicated masters (ie: drop the node-role usage entirely, from both node-label and pod node selector).  I suspect anyone that prefers slightly more convenience over security and was going to be happy with nodes nominating themselves as masters or not (via the legacy use of kubelet command line flag to just set node-role=master di

[2019-10-07 13:14] skwasiborski commented on #83562
This is a major limitation of --server-dry-run. In my opinion it should be clearly documented. We are using multi object manifests that include namespaces for all ephemeral (dev/test) environments. We are versioning these manifests and we would like to be able to validate them before accepting such manifest. --server-dry-run seems like a appropriate tool especially when connected with OPA/Gatekeep

[2019-10-07 13:34] liggitt commented on #83562
Agree this should be made clear in documentation

[2019-10-07 13:39] damemi commented on #83554
I am also available to pick some of these up, will keep an eye out for the sub-issues

[2019-10-07 13:54] #77732 closed

[2019-10-07 14:00] alculquicondor commented on #71863
/reopen

Please @hprateek43, remember to not use the word "Fixes" in your PRs if they are not the last one.

[2019-10-07 14:24] derekwaynecarr commented on #83560
will raise in sig-node.

[2019-10-07 14:25] derekwaynecarr commented on #83560
@dashpole i have little ability to look at cos related issues, is someone able to assist on the google side?

[2019-10-07 14:48] justaugustus commented on #81760
/assign

[2019-10-07 14:50] vrih commented on #82923
It's 17 days later and there still isn't an update in the Changelog to warn against upgrading to 1.14.7. This is really poor. In my opinion 1.14.7 should have been pulled until that warning was in place. My clusters are affected because I'm already using this feature and it's wasted debugging time for me. There are going to be users where this release makes it into production because they're not u

[2019-10-07 15:01] #78982 closed

[2019-10-07 15:04] RainbowMango commented on #83136
/assign @jktomer

[2019-10-07 15:06] msau42 commented on #83524
Test was prematurely enabled and then subsequently disabled in https://github.com/kubernetes/kubernetes/pull/83409.

So the test being skipped now is intended.

/close

[2019-10-07 15:06] #83524 closed

[2019-10-07 15:25] ahmad-diaa commented on #83514
SG
/assign

[2019-10-07 15:32] liggitt commented on #66181
/priority important-longterm

[2019-10-07 15:32] liggitt commented on #70505
@saad-ali can details be added on a direction here, or the priority lowered?

[2019-10-07 15:39] ahmad-diaa commented on #83425
+1 on waiting as well, doesn't make sense to change it if it's going to change to `framework.Status` in the same release.

[2019-10-07 15:43] liggitt commented on #82771
thanks

/close

[2019-10-07 15:43] #82771 closed

[2019-10-07 15:46] alculquicondor commented on #83425
We seem to have an consensus

/close

[2019-10-07 15:46] #83425 closed

[2019-10-07 16:00] kfox1111 commented on #22368
Please comment on the KEP.

I'm going to Kubecon soon and would be great if we could talk more through this. Its been a whole year since the last Kubecon and not much has changed.

[2019-10-07 16:02] flaupretre commented on #48912
You're right. I thought emptyDir would set the mount point to 755 permissions, but it is 777. So, no chmod needed.

[2019-10-07 16:09] BenTheElder commented on #57601
@Nowaker you can set this on the service account https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#use-the-default-service-account-to-access-the-api-server

So for example `kops` could opt to set this on the default service account: `automountServiceAccountToken: false`

[2019-10-07 16:13] alejandrox1 commented on #83316
/milestone v1.17
/priority critical-urgent

[2019-10-07 16:13] pdhung commented on #45419
/open
@nikopen: it seems that the PR is for 1.17? I haven't found the PR number in the changelog for 1.16.1.

[2019-10-07 16:14] alejandrox1 commented on #80534
related to https://testgrid.k8s.io/sig-release-master-informing#gce-windows-master
/priority critical-urgent
/milestone v1.17

[2019-10-07 16:18] php-coder commented on #83393
@farooqte96 hi,
in order to make it easier to others to help you, could you modify the issue body and include the manifests instead of the links? There is a special markdown syntax with triple ticks that you can use.

Regarding the question: one I had exactly the same issue and after days of debugging I found out that it wasn't related to Kubernetes but rather with our network configuration. So, I

[2019-10-07 16:19] kfox1111 commented on #75378
ephemeral csi was written specifically to address the growing need for extra types of enhanced emptyDir usecases such as emptyDir persistent volumes, secret injection, data only containers, etc. If all drivers were added directly to kubelet, it would get unwieldy. emptydir and hostpath in kubelet are enough to get csi going and the rest can go out of tree. I do think its the right tool for the job

[2019-10-07 16:29] ahg-g opened #83574 "Improving scheduler tests"
The scheduler has evolved at a very fast pace over the past few years, it is important to revisit our unit and integration test coverage of all scheduler features and config combinations.

This is critical now that we are going through a major refactoring of the scheduler core, and so it is a good opportunity to refactor and improve the scheduler's tests at the same time.

What we need is a better

[2019-10-07 16:35] alejandrox1 commented on #76064
since it is in progress

/priority critical-urgent
/milestone v1.17

[2019-10-07 16:44] ahg-g opened #83575 "Make all component config parameters nilable"
So that we can set default values different from golang's, however we want to make sure that the change is backward compatible and doesn't break existing CC configurations.

The other reason is that we need to move CC to GA faster so that we can deprecate Policy once the migration is done.

/assign @ravisantoshgudimetla
/sig scheduling
/cc @alculquicondor

[2019-10-07 16:47] ahg-g commented on #83575
/cc @Huang-Wei

[2019-10-07 16:47] msau42 commented on #75378
Yeah I don't think the hostpath driver should be enhanced. It's mainly used for our testing purposes and is more of a mock driver than a real driver.  I was thinking a brand new driver but yes, it will require some investment from the community to maintain and test.

[2019-10-07 17:14] ahg-g commented on #83472
We discussed this in the sig meeting, and put the issue for discussion on the scheduler and kubernetes-dev mailing list, I believe this behavior is not intentional, and so we should add logic to fail the scheduler configuration when a policy includes more than one custom predicate/priority of the same type.

/assign @ravisantoshgudimetla

[2019-10-07 17:16] neolit123 commented on #83559
yes, this is related.

your flannel config on the 1.16 nodes might need fixing for 1.16.
one option is applying a newer flannel deployment.
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#pod-network

[code]

or removing flannel and use Calico or WeaveNet.

[2019-10-07 17:16] neolit123 commented on #83559
/triage support
/sig cluster-lifecycle

[2019-10-07 17:16] neolit123 commented on #83559
/remove-sig node

[2019-10-07 17:17] tedyu commented on #83493
The test still fails constantly today:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/83489/pull-kubernetes-e2e-gce-100-performance/1181252864643698688/

[2019-10-07 17:19] ruszki commented on #73140
I delete a service from a Pod just before `helm upgrade` applies its manifest, which create a new service with the same NodePort. The pod is a Helm hook. In this case, this randomly happens. Strangely, if I check services with `kubectl get services` after deletion but before helm would apply its manifest, it works every time without exception.

[2019-10-07 17:47] liggitt commented on #83575
duplicate of https://github.com/kubernetes/kubernetes/issues/78109?

[2019-10-07 17:58] ahg-g commented on #83575
I created this to accelerate graduating ComponentConfig for kube-scheduler to GA. #78109 seems to have created unnecessary dependencies between the different components, and I think the scheduler can make progress on its own with this respect since it partially adopted this (some parameters are already pointers), what do you think?

[2019-10-07 18:04] bowei commented on #76064
/lifecycle frozen

[2019-10-07 18:09] logicalhan commented on #76302
/remove-lifecycle stale

[2019-10-07 18:14] ahg-g opened #83581 "Uncomment interpod affinity integration tests"
A significant number of the of [InterPodAffinity integration tests](https://github.com/kubernetes/kubernetes/blob/master/test/integration/scheduler/predicates_test.go#L77-L589) are commented out, possibly was done by mistake in the past. I uncommented the tests to see if they pass, but one of them failed.

What we need is to uncomment those tests, fix the one that is not passing and remove the red

[2019-10-07 18:18] alculquicondor commented on #83581
/assign

I will be moving some of the tests to unit tests and leave a cleaner set of integration tests.

[2019-10-07 18:22] ahg-g commented on #83581
/remove-help

[2019-10-07 18:31] jingxu97 commented on #63121
@andyzhangx could you please update what is the status of this issue? Thanks!

[2019-10-07 18:34] laddng commented on #82402
@niklun I did some digging and found this PR that disables dry runs for most commands: https://github.com/kubernetes/kubernetes/pull/66083 might be useful information for your issue.

[2019-10-07 18:36] szegedim commented on #83423
https://github.com/golang/go/issues/34668

[2019-10-07 18:36] #83423 closed

[2019-10-07 18:37] dchen1107 commented on #83317
Thanks for reporting the issue. One question: Is that static pod killed / evicted? Or just corresponding mirror pod was marked as Evicted without a real kill / eviction? If it is the latter, Kubelet should reconsolidate the status later. But I agreed that we should fix the issue since there is a race window when both the admission control and eviction managemer would think there might be more reso

[2019-10-07 19:25] shyaamsn opened #83584 "Vsphere cloud provider is reporting link local IP address as node internal/external IP"
**What happened**:
Vsphere cloud provider is reporting link local IP address as node internal/external IP

[code]
[code]

**What you expected to happen**:
Vsphere cloud provider should filter out the link local IP address when detecting the node IP

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `ku

[2019-10-07 19:27] quinton-hoole commented on #83493
Yes, @liggitt it seems that https://github.com/kubernetes/test-infra/pull/14598 did not in fact fix this problem.  See also https://github.com/kubernetes/kubernetes/pull/79264#issuecomment-539150087

cc @BenTheElder

[2019-10-07 19:29] shyaamsn commented on #83584
/sig cloud-provider
/area/provider/vmware

[2019-10-07 19:48] BenTheElder commented on #83493
that has no logs which is a different issue, that means the job didn't start (infra flake, not sure what retroactively, we've cleaned up the resources by now...)

if you look at the job history:
https://prow.k8s.io/job-history/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-100-performance

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce-100-performance

[2019-10-07 19:49] haircommander commented on #83407
The issue was fixed with f30, must have been an old binary on f26. closing. Thanks for the help all

[2019-10-07 19:49] #83407 closed

[2019-10-07 20:19] evanmcclure commented on #83458
Thanks @hv7214, but I am working on this currently.

[2019-10-07 20:25] tedyu commented on #83493
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/83489/pull-kubernetes-e2e-gce-100-performance/1181280422470881280/

Another instance

[2019-10-07 20:43] #83120 closed

[2019-10-07 21:18] jennybuckley commented on #83562
/assign

[2019-10-07 21:33] jingxu97 opened #83590 "flaky test for GCE PD e2e test "should store data""
**Which test(s) are failing**:
[sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Dynamic PV (ntfs)][sig-windows] volumes should store data

**Since when has it been failing**:

**Testgrid link**:
https://testgrid.k8s.io/sig-windows#gce-windows-master&include-filter-by-regex=ntfs&include-filter-by-regex=should%20store%20data

**Reason for failure**:
The root case of this test failure is e

[2019-10-07 22:32] neolit123 commented on #83550
/area kubeadm
/priority awaiting-more-evidence

are you using the automatic copy of certificates when joining new control plane nodes?

[2019-10-07 22:36] hasheddan opened #83594 "[Flaky Test] BeforeSuite [x] failing in ci-kubernetes-kind-e2e-parallel"
**Which jobs are failing**:
ci-kubernetes-kind-e2e-parallel

**Which test(s) are failing**:
BeforeSuite [x]

**Since when has it been failing**: 9/29

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-release-master-blocking#kind-master-parallel

**Reason for failure**:
Test times out waiting for nodes to become schedulable.
[code]

/priority important-soon
/milestone v1.17
/kind flake
/sig

[2019-10-07 22:36] neolit123 commented on #83550
is this reproducible consistently?

[2019-10-07 22:43] BenTheElder commented on #83594
I only see a maybe one-two failures per day with a new run ~every 20 minutes? this is pretty low flake for kubernetes CI

[2019-10-07 22:46] hasheddan commented on #83594
@BenTheElder would it be worth bumping the number of failures before alert on this?

[2019-10-07 22:49] brendaSDET commented on #50375
did this restart counter feature happen ?

[2019-10-07 22:51] BenTheElder commented on #83594
Yeah, unfortunately I think testgrid only supports the same value for every email, and I think this was copy pasted from other kind jobs where I have N=1 set to alert because I personally inspect every failure to ensure I'm doing everything I can to avoid failures happening.

I can just poll the dashboard daily myself and up the alert threshold :-)

[2019-10-07 22:52] #80181 closed

[2019-10-07 22:53] matthias50 commented on #80181
Not seeing this in 1.14.7.

[2019-10-07 22:55] jingxu97 commented on #83511
@liggitt I used the above yaml file to test Linux, the container status is Error, but there is no detailed error message from pod event or log.

[code]

[2019-10-07 23:20] emccormickva commented on #50375
On Mon, Oct 7, 2019, 6:52 PM Brenda Stensland <notifications@github.com>
wrote:

Nope. We're just going to keep +1'ing it until we die.

[2019-10-08 00:13] fabianbaier commented on #72891
@ksemaev something along those lines https://github.com/kubernetes/examples/blob/412a68d90354cd6a5a5d083b0f1b919d746cc396/cassandra/cassandra-statefulset.yaml#L8 ( see also https://kubernetes.io/docs/tutorials/stateful-application/cassandra/ )

[2019-10-08 00:21] #83559 closed

[2019-10-08 01:13] liggitt commented on #71808
/assign @cheftako

would be good to keep resolve with the apiserver proxy work

[2019-10-08 01:16] 13567436138 opened #83600 "increased the pvc from 1G to 2G，but it seams the storage still not enough"
[code]

how can I mount the pv to my local directory,to see the content in the pv

[code]

I delete the statefulset，chang the capacity ，still show the same error？
how to solve this，anynoe can help？

I have manually resize the ceph rbd size ，still have problem

[code]

[2019-10-08 01:16] 13567436138 commented on #83600
/sig storage

[2019-10-08 01:17] hangxie commented on #83550
This is what I was using:
[code]

Yes, it is, I tried 5 or 6 times with the same result.

[2019-10-08 01:40] KeepTheBeats commented on #83317
I did a test just now.
(My kubelet now is 1.15 version, with no c05d5060193221dd5ebcf031d2b2708af5d00c5f, but I think it makes no difference, because this commit only changed the result of func `pkg/kubelet/eviction/eviction_manager.go#IsCriticalPod`, and whether c05d5060193221dd5ebcf031d2b2708af5d00c5f exists or not, we will get `IsCriticalPod` returns `false` in our scene.)

In the test, after t

[2019-10-08 01:54] hex108 commented on #82385
Thanks for review, I'll send a PR for it.

We can think more about the above case in a latter iteration of Permit API if it turns out to be an issue (i.e., determining an ordering to solve the deadlock is not possible).

I'll investigate more about it. Is there any use case for it now?

[2019-10-08 02:24] ZP-AlwaysWin commented on #21330
But now that some of the resource objects built in kubernetes can be updated unconditionally, why can't we update the custom CRD update rules?

CRD is widely used nowadays. Some CRDs do have the need for mandatory updates. Otherwise, we need to retry on conflict all the time on the client side.

[2019-10-08 02:25] ZP-AlwaysWin commented on #21330
/reopen

[2019-10-08 02:31] fanux opened #83602 "1.16 cs age unknown"
**What happened**:

kubectl get cs:

![image](https://user-images.githubusercontent.com/8912557/66362806-aef32200-e9b6-11e9-99b0-ee0e917e63a3.png)

- Kubernetes version (use `kubectl version`):1.16.1
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):centos7.4
- Kernel (e.g. `uname -a`):3.10

[2019-10-08 02:48] zouyee commented on #83602
/remove bug

[2019-10-08 02:48] zouyee commented on #83602
/remove-kind bug

[2019-10-08 02:52] zq-david-wang commented on #72775
@max-rocket-internet  I could not reproduce the issue with latest code, it should be fixed. (The fix may not backport to your version.)
@anvarich  the commit does not seem to be ported to 1.14, it is in 1.16+
[code]

[2019-10-08 03:00] zouyee commented on #83602
Now cs only output age which default is unknown, and will be mark deprecated https://github.com/kubernetes/enhancements/issues/553
/close

[2019-10-08 03:00] #83602 closed

[2019-10-08 03:08] skaji commented on #72775
1.14 contains d881d48

[2019-10-08 04:04] BenTheElder commented on #83493
did some more digging, `pull-kubernetes-e2e-gce-100-performance` does not use boskos to lease projects and instead uses a fixed project name (along with some other presubmits).

this is an anti-pattern. in any case, I've sent a request to triple the quota, but I'm going to say this is a sig-scalability issue, IF we are going to continue to use a special project then it should have quota matching t

[2019-10-08 04:05] BenTheElder commented on #83493
the specific project is `k8s-presubmit-scale`, if you search test-infra for this you'll find a number of jobs using this fixed project.

it should have quota for 30 now, but I don't know how many are reasonably required.

[2019-10-08 04:10] zq-david-wang commented on #72775
@skaji  thx for the information
I tried on 1.14.6 and 1.14.7, even on 1.14.0, still could not reproduce it
And I tried on some older branch (based on 1.14.0) , it could be reproduced.
(Another possibility is that when rolling upgrade, some application(e.g. java) could consuming lots of cpu resource and trigger hpa )

[2019-10-08 04:13] BenTheElder commented on #83493
I'm going to keep an eye on this intermittently for a while the night since I have access to it... we're currently at 13/30 routers in that project.

[2019-10-08 04:31] tedyu commented on #83493
Thanks, @BenTheElder

[2019-10-08 04:35] krzyzacy commented on #83493
We are actually cleaning up routers in https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/maintenance-pull-scale-janitor/1181421358874103812/

It's just not enough quota to fit all presubmits

[2019-10-08 04:38] BenTheElder commented on #83493
yeah, I suspect we weren't using routers at some point and now need them. I don't now how many though.

so far we've peaked at 16/30 across my non-scientific sampling. I expect we'd hit higher numbers during actual peak usage, but I'm not sure how high.

[2019-10-08 04:43] krzyzacy commented on #83493
(we probably added a test that depend on routers, so, my guess is 1 per presubmit run, also, I suspect the test is not cleaning up after itself :-) )

[2019-10-08 04:44] krzyzacy commented on #83493
taking it back - this is when we provisioning the cluster

[2019-10-08 05:08] skaji commented on #72775
@zq-david-wang Thanks.
Even if you follow these steps https://gist.github.com/skaji/575e4a383fac0f0d11b5b51220a6049c,
you cannot reproduce this issue in k8s 1.14.6, right?

[2019-10-08 05:15] #83317 closed

[2019-10-08 05:50] vishal49naik49 opened #83606 "Getting no route to host when trying to access Kubernetes service from pod"
Kubernetes service is running in default namespace.
Launched pods in default namespace and in other ones likes dev, prod etc.

Cannot access Kubernetes service from the pods.

Getting "No route to host". Please advise.

[2019-10-08 05:51] vishal49naik49 commented on #83606
sig/network

[2019-10-08 05:52] vishal49naik49 commented on #83606
sig/testing

[2019-10-08 05:53] vishal49naik49 commented on #83606
@kuberntes/sig-networking

[2019-10-08 05:54] vishal49naik49 commented on #83606
/sig network

[2019-10-08 06:11] LzyRapx commented on #66216
[code]

[2019-10-08 06:26] zq-david-wang commented on #72775
@skaji  No, I did not follow the steps you mentioned.  I just use the same steps when I open this issue.  Maybe you could open a new issue addressing the bug you find.

[2019-10-08 06:36] #59113 closed

[2019-10-08 06:40] andyzhangx commented on #63121
@jingxu97 no new update now, this feature depends on windows to use containerd. Any new feature/scenario depends on this now?

[2019-10-08 06:58] Adirio commented on #82385
I don't see any real use case for it, but I will post some random thoughts.

1. What would `IntentToAllow` do related to timeouts? Would it remove the timer? Would it set a new timer in order to avoid infinite waits?
2. Can we determine an order for external plugins? Will the plugins need to announce in any way which other plugins they are waiting for? In this case we could use some graph-theory c

[2019-10-08 07:19] wenlxie opened #83608 "Lots of `du` process are stucked when rotate the containers' logs"
**What happened**:
One of our nodes is running out of pid, then we found there are lots of `du` processes are running
[code]
The du process is used to check the log size
[code]

But it is stucked at:
[code]
It is caused by one ceph fuse network volume lose the connection.
`du` command need to check the  directories in `/etc/mtab` file, so it caused this issue.
We can kick the stall ceph-fuse conne

[2019-10-08 07:20] wenlxie commented on #83608
@Random-Liu  PTAL.

[2019-10-08 07:21] answer1991 commented on #83177
Yes, I checked and found our external provisioner start to provision without this annotation. Our CSI components' lib version is 0.4.0, it is alpha version?

I should fix our external provisioner to provision PVs only when PVCs has annotation `volume.beta.kubernetes.io/storage-provisioner`

@msau42 @jsafrane @alejandrox1

[2019-10-08 07:29] wenlxie commented on #83608
/sig node

[2019-10-08 07:30] answer1991 commented on #83177
@ddebroy

Sorry, we have not ever used EBS CSI or GCE PD CSI.

[2019-10-08 07:37] answer1991 commented on #83177
@cwdsuzhou

But from the codes, we should double check pvc when pvc is not found and pv is bound by controller?

Yes, maybe you are right. I do not know why we need check annotation here.

@jsafrane @msau42 What's your opinion?

[2019-10-08 07:46] zhengcanbin commented on #65797
big +1 for this feature.

[2019-10-08 08:48] ruszki commented on #73140
I delete a service from a pod via REST API just before `helm upgrade` applies its manifest, which create a new service with the same NodePort. The pod is a Helm hook. In this case, this randomly happens. Strangely, if I check services with `kubectl get services` after deletion but before helm would apply its manifest, it works every time without exception. It also works with about 3 minutes sleep

[2019-10-08 09:00] alitoufighi opened #83612 "Kubelet evicts all Pods when config changes to meet eviction threshold"
**What happened**:
My worker node had `nodefs.inodesFree` threshold of 5% and I changed it to 15%. As I had about 10% of free inodes, after restarting `kubelet`, it met its threshold. I expected it to evict Pods one-by-one to clean up, but it evicted all Pods on that node and started cleaning everything. As a result, my inode free space became 90%, but I didn't need that and it caused me to lose o

[2019-10-08 09:01] wojtek-t commented on #83449
Fixed by #83452

[2019-10-08 09:01] #83449 closed

[2019-10-08 09:03] sbocinec commented on #72775
I confirm the issue is still present on GKE 1.14.6-gke.1:
`Server Version: version.Info{Major:"1", Minor:"14+", GitVersion:"v1.14.6-gke.1", GitCommit:"61c30f98599ad5309185df308962054d9670bafa", GitTreeState:"clean", BuildDate:"2019-08-28T11:06:42Z", GoVersion:"go1.12.9b4", Compiler:"gc", Platform:"linux/amd64"}`

Adding few more info from the bugfix testing:

Deployment manifest (incomplete):
[cod

[2019-10-08 09:13] #77482 closed

[2019-10-08 09:20] answer1991 commented on #83259
/cc

[2019-10-08 10:04] brackendawson commented on #50375
It's been two years since I added my +1 on this, I now watch over nearly 100 clusters and I would have never benefitted from doing this. I thought I wanted it when I first saw the CLI, but I was wrong.

If you think you need this, I think you really need better monitoring, here's the prometheus alert:
[code]

Respectfully: -1

[2019-10-08 10:13] mm4tt commented on #83493
Thanks, Folks!

Copying what I said on Slack:

Setting the quota to 30 should be enough for now. The max parallelism (# tests running simultaneously) on this project is ~25  and each test creates a single router.
We're actively working on migrating our presubmits to boskos and hopefully will have it done within the next few weeks. Boskos will help us avoiding such issues in the future.

[2019-10-08 10:23] mkuendig commented on #60952
@wattli Any chance you can reopen this?

[2019-10-08 10:45] #83445 closed

[2019-10-08 10:45] #83487 closed

[2019-10-08 10:56] jsafrane commented on #74545
@msau42, from the description:

*  Reconstruction of block devices - done (#83451)
*  Multiple pods requesting same block volume - done (#74693)

*  Single pod requests both filesystem and raw block volumes for the same volume - kubelet will reject to mount / prepare one of those volumes, because pv.volumeMode does not match expected usage. We do have unit tests for this.
*  Multiple pods: one req

[2019-10-08 11:00] jsafrane commented on #74545
We do have e2e test: #79796

[2019-10-08 11:12] neolit123 commented on #83550
@aojea @BenTheElder as far as i know we already have signal for kubeadm/kind cluster for single control planes clusters using ipv6, but we don't have the same for multi-CP.

https://k8s-testgrid.appspot.com/sig-testing-kind#kind-ipv6-1.16-parallel
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kind-ipv6-e2e-parallel-latest-1-16/1181513465345347592/build-log.txt

do you have a

[2019-10-08 11:14] neolit123 commented on #83550
@hangxie
i don't think we have test signal for HA clusters using kubeadm with ipv6, but i can test this locally.

and this works consistently?
also please mind that 1.16 includes a new version of etcd,

[2019-10-08 12:10] ahg-g commented on #82385
Thanks Adirio for the detailed thoughts, I agree that we will only try to solve this if it turns out to be an issue and that there is a use case for it. I didn't think that much how we are going to solve this, and whether something like IntentToAllow will actually be general enough solution, it may work only in the case of two plugins waiting for each other.

But, as you say, lets wait until someo

[2019-10-08 12:11] aojea commented on #83550
I guess that this error snippet can be a good hint, it seems it's adding some part of the IP address as servername. Will try to reproduce it too

` ServerName "[2001`

There no signal for HA cluster with ipv6 AFAIK

[2019-10-08 12:24] liggitt commented on #20352
I agree with this. Please reopen with details of an authoritative spec outlining logical jsonpath operators if there is one.

/close

[2019-10-08 12:24] #20352 closed

[2019-10-08 13:13] Sakuralbj opened #83613 "Which performance of api-server will be affected by the parameter watch-cache-sizes?"
I want to test how the parameter watch-cache-sizes affect api-server. Which performance metrics of api-server should I focus on after I modify watch-cache-sizes.

[2019-10-08 13:19] zouyee commented on #83612
/assign

[2019-10-08 14:07] rcjsuen commented on #55946
@gnufied How can I help with getting this documented?

[2019-10-08 15:03] msau42 commented on #74545
Sounds good to me thanks!
/close

[2019-10-08 15:03] #74545 closed

[2019-10-08 15:11] coderdba commented on #48798
This is what I saw:  This error comes when you dont have flannel running yet, but you start kublet with just manifests of apiserver, scheduler and controller-manager - WHILE YOU HAVE THIS LINE in 10-kubeadm.conf - "Environment="KUBELET_NETWORK_ARGS=--network-plugin=cni --cni-conf-dir=/etc/cni/net.d --cni-bin-dir=/opt/cni/bin --node-ip=192.168.8.11"

Comment that and start kubelet.
Then core kube-s

[2019-10-08 15:13] vishal49naik49 commented on #83606
The pod has no internet access whatsoever. if launch a simple docker container on the worker node, it has internet access however the pod does not.

[2019-10-08 15:18] neolit123 commented on #83550
i'm starting to suspect a bug in etcd-3.3.15 that we use from kubeadm / k8s.

the kubeadm certificates are signed properly, yet member add using the client API (kubeadm uses that, and not raw etcdctl calls), fails:

[code]

[code]

the suspicion for the time being is that `"[2001"` is the result of everything after the `:` is being cut when constructing the the golang TLS client with `SeverName` i

[2019-10-08 15:30] danwinship opened #83617 "session affinity tests flaking, possibly broken due to gradual e2e-gce slowdown?"
**Which jobs are failing**:
pull-kubernetes-e2e-gce

**Which test(s) are failing**:

    [sig-network] Services should have session affinity work for NodePort service [LinuxOnly]
    [sig-network] Services should be able to switch session affinity for service with type clusterIP [LinuxOnly]
    [sig-network] Services should be able to switch session affinity for NodePort service [LinuxOnly]
    [s

[2019-10-08 15:34] alenkacz commented on #71541
This just got much worse in the last weeks, I tried looking into PRs along the time and hit into this https://github.com/kubernetes/kubernetes/pull/83365 could someone please verify it that could have made things worse?

@ahg-g @Huang-Wei @notpad

I'll also try to look tomorrow since I investigated this while ago :)

[2019-10-08 15:58] teoincontatto commented on #45509
I would like to mention that actually there is a "hackis" way to detach a pod from a replicaset / deployment / statefulset by modifying the pod labels in order to not match the selector specified in the owner resource. This will allow the pod to survive the scale down allowing the other pods to be removed but make the count of replicas not match the reality. This is obviously not a desired solutio

[2019-10-08 16:00] neolit123 commented on #83550
just tested etcd-3.3.10 and i'm seeing the same problem with it.
which possibly indicates the problem is elsewhere. trying k8s 1.15 now.

[2019-10-08 16:20] #65304 closed

[2019-10-08 16:32] alejandrox1 commented on #83183
/priority important-soon
/milestone v1.17

[2019-10-08 16:42] liu-cong commented on #83356
@piosz, can you review the proposed changes to make sure it's aligned with instrumentation guide lines? Thanks!

[2019-10-08 17:11] alexbrand commented on #83550
Probably not, but I wonder if this is related to https://github.com/kubernetes/kubernetes/issues/83028

[2019-10-08 17:20] neolit123 commented on #83550
@alexbrand
i think that problem existed back when we were still using 3.3.10:
https://github.com/kubernetes/kubernetes/issues/83028#issuecomment-534307447

but i was able to create a good etcd cluster with 3.3.10 from 1.15, so i started bisecting the problem to see when in k/k it was introduced.

[2019-10-08 17:26] sreya92 opened #83622 "restartPolicy Never does not fail pod if init container fails to pull image"
**What happened**:
A pod with a `restartPolicy: Never` has an init container with an invalid image. Instead of being marked `Failed`, it is marked `Pending` indefinitely.

**What you expected to happen**:
The pod to be marked `Failed` after the image was unsuccessfully pulled

**How to reproduce it (as minimally and precisely as possible)**:

[code]
`kubectl describe pod test`

[code]

**Anything

[2019-10-08 17:30] sreya92 commented on #83622
@kubernetes/sig-api-machinery-bug

[2019-10-08 17:36] ryanhartje commented on #74151
/remove-lifecycle stale

[2019-10-08 17:39] hangxie commented on #83550
Yes 1.15.3 always worked fine, fyi, we have 5 or 6 clusters running 1.15.3 (both ubuntu and centos, if it matters), couple of dev/test clusters got redeployed roughly once a week in the past couple of months, there are more personal deployments.

I tried to tag k8s.gcr.io/etcd:3.3.10 from 1.15.3 to the new version and the behavior was the same, I tested only once though.

[2019-10-08 17:49] mrobson opened #83624 "No way to correlate the killing of unwanted pids to the correspodning cgroup"
**What happened**:
When debugging timeouts related to the stopping of cgroups, the current logs from  pod_container_manager_linux.go -> tryKillingCgroupProcesses do not provide any correlation between the PIDs which were killed and the cgroup they belonged to.

[code]

**What you expected to happen**:
Log the cgroup name along with the PID

**How to reproduce it (as minimally and precisely as poss

[2019-10-08 18:07] adampl commented on #75378
@kfox1111 But `emptyDir` is already built-in... and I bet the PV feature is pretty simple to implement for someone who knows the API and lightweight to manage.

@msau42 Do you mean the built-in HostPath driver, or the CSI plugin?

Anyway, I don't get why the built-in HostPath is considered inferior (https://kubernetes.io/docs/concepts/storage/persistent-volumes/#types-of-persistent-volumes). It's