[2019-06-18 17:18] MrHohn commented on #78954
@RainbowMango No worries. I actually meant `addFunc` should include service with non-LoadBalancer type && with finalizer attached. As we only attach finalizer to a service only when we are creating a load balancer for it, a finalizer presents on the service (no matter what type it has) indicates there is a load balancer associated. Hence it makes sense that we should clean up the load balancer if

[2019-06-18 17:21] MrHohn commented on #78954
To clarify further, _"attach finalizer for service that non-LoadBalancer type in AddFunc"_ would not be what we want --- we shouldn't attach finalizer to service that we will not be creating load balancer for.

[2019-06-18 17:31] lbernail commented on #71358
It's actually much more likely that we reduce the default timeout in the future (to recover faster from a lost node). But if we do that we'll make it configurable

[2019-06-18 17:35] vikaschoudhary16 commented on #73240
@paulhodson was not https://github.com/kubernetes/kubernetes/pull/73241 helpful?

[2019-06-18 17:53] bclau commented on #76342
Status update: Image centralization part 1 and part 2 merged. The tests using the images from part 1 have been updated to use the new ``agnhost:2.0`` image. For part 2, I'm waiting for ``agnhost:2.1`` to be built and published to gcr.io.

Added part 3 PR, which centralizes the images: audit-proxy, crd-conversion-webhook, entrypoint-tester, inclusterclient, iperf, porter, serve-hostname. It's still

[2019-06-18 17:54] dannyk81 commented on #71358
@lbernail I assume the timeout you refer to is the IPVS tcp timeout, right ?

if so, indeed makes sense and I'm holding the opposition to not increase it :smile:

btw, after tuning `kubelet` (adding `--allowed-unsafe-sysctls=net.*`) I was able to define the sysctls on the Pod level and seem to be working well.

---

I wonder though, considering the low default IPVS tcp timeout (and the fact that t

[2019-06-18 18:03] paulhodson commented on #73240
@vikaschoudhary16 I hadn't come across that, thank you. I'll check it out

[2019-06-18 18:07] roycaihw commented on #60937
/remove-lifecycle stale

[2019-06-18 18:19] roycaihw commented on #69014
/remove-lifecycle stale

[2019-06-18 18:21] jbhannah commented on #77169
@arnarg I saw the same error with a 5.1.7 kernel on openSUSE Tumbleweed aarch64 on a Raspberry Pi 3B, and I think it was a change in the kernel — either [this one](https://github.com/torvalds/linux/commit/a21b0b78eaf770c6c3814dd59d213cd6aa47eecd#diff-748d3c2b4b2d359382721f781bb53b21) or [this one](https://github.com/torvalds/linux/commit/5480280d3f2d11d47f9be59d49b20a8d7d1b33e8#diff-748d3c2b4b2d35

[2019-06-18 18:25] vinayitp commented on #61005
here is some more details:

for nsn, count := range newEndpoints {
	**if hcs.services[nsn] == nil

nsn is kube-system/kube-dns

it seems there is no corresponding service in hcs.services as a result below code is returning 'nil'

Please advise. Thanks.

[2019-06-18 18:30] davidz627 commented on #71437
XFS tests *should* be running on Ubuntu. I don't remember the history of this Issue but I think it was probably referring to something different

[2019-06-18 18:43] CindyXing commented on #79135
To understand better, can you clarify below? These would be help to evaluate what can be done further.

1. Where do you plan to run the control plane (k8s master components): at cloud or edge?
2. What exactly is the resource requirement at edge? You mentioned phone/iot device. Do you plan to treat them as a worker node in your k8s cluster? If so, what's the OS and resource requirement(memory, cpu,

[2019-06-18 19:25] rafatio opened #79145 "Kube-apiserver failing to connect to multiple etcd servers using client cert authentication"
**What happened**:
After upgrading from 1.12.1 to 1.14.3, `kube-apiserver`'s only connecting to the first etcd server from the list passed in `--etcd-servers`.
The following errors appears during kube-apiserver startup:

[code]

And in etcd servers:

k8s-etcd-2
[code]

k8s-etcd-3
[code]

When we change etcd servers list order, the output is similar so doesn't look like to be a problem in the clien

[2019-06-18 19:29] rafatio commented on #79145
/sig api-machinery

[2019-06-18 19:48] odinuge commented on #77169
Hi @jbhannah! Yes, after some investigation I ended up with the two commits you referred to too! :smile:

The fix in `runc` just got merged https://github.com/opencontainers/runc/pull/2065, so hopefully we can get the k8s fix https://github.com/kubernetes/kubernetes/pull/78495 into master as soon as possible! (Even more background info inside the PR: https://github.com/kubernetes/kubernetes/pull/7

[2019-06-18 20:13] msau42 commented on #74545
/lifecycle frozen
/assign @mkimuram @bswartz

[2019-06-18 20:21] neolit123 commented on #79141
/triage support

depends on your setup, but if you have a load balancer in front of the API server you can temporary disable that without disrupting the k8s components. you can also temporary stop the api server, but that's less advisory.

kubernetes does not support such "stop" functionality, or "pause".
for more ideas you can also try stackoverflow -> kubernetes or the kubernetes slack #kubeadm

[2019-06-18 20:46] mucahitkurt commented on #74374
Hey @msau42,

I would like to work on this issue. As far as I understand StatefulSetController [check the different state of the pods](https://github.com/kubernetes/kubernetes/blob/12ff2fe3f50aa4f2c2c8adbc8d8636820a15830c/pkg/controller/statefulset/stateful_set_control.go#L372) and take some action according to pod states when syncing statefulset.

May be I add the pod `Pending` state here and the

[2019-06-18 21:34] namsral commented on #74971
Some additional information from another k8s cluster with the same issue.

Kubectl complains a volume has not been added to the list of VolumesInUse but it actually is:

[code]

[2019-06-18 21:59] edganiukov commented on #64616
/remove-lifecycle stale

[2019-06-18 22:12] RobertKrawitz opened #79147 "kubectl delete of a static pod results in multiple attempts to re-create the mirror pod before succeeding"
**What happened**: `kubectl delete` of a static pod (really the mirror pod) results in multiple attempts to re-create the mirror pod before it finally succeeds (note that in some runs it goes into Running or Terminating state -- it just depends upon the exact timing of the `kubectl get pod`.
Note that in the below trace the pod name is elided from the `kubectl get pod` output.

Note that the actua

[2019-06-18 22:12] RobertKrawitz commented on #79147
/sig node

[2019-06-18 22:15] RobertKrawitz commented on #79147
More details:

The bug appears to be a race condition between deleting the old mirror pod, the API server deleting its record of it, and creating a replacement that's not related to skew.  I suspect the reason I didn't see it bouncing back and forth in my earlier tests was simply that I wasn't running the oc get node frequently enough; if I run it continuously, I see it bounce.

The sequence is:

[2019-06-18 22:18] #77787 closed

[2019-06-18 22:43] mattysweeps opened #79149 "code-generator: deepcopy-gen invalid type for invalid type"
**What happened**:
Executing the script `$GOPATH/src/k8s.io/code-generator/hack/update-codegen.sh` from the directory `$GOPATH/src/k8s.io/code-generator/` failed.

**What you expected to happen**:
The script should have executed normally.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
This error happened on my personal repo AND on the

[2019-06-18 22:48] mattysweeps commented on #79149
@kubernetes/sig-api-machinery-bugs

[2019-06-18 22:51] RobertKrawitz commented on #79147
@smarterclayton @sjenning

[2019-06-18 23:35] pswica commented on #79121
I could not replicate. I tested on minikube
[code]
[code]

[2019-06-19 00:39] jingxu97 commented on #65750
@andyzhangx, do you still plan to work on this issue? Thanks!

[2019-06-19 01:11] andyzhangx commented on #65750
@jingxu97 which issue? the original issue is fixed by https://github.com/kubernetes/kubernetes/pull/65751

[2019-06-19 01:33] jingxu97 commented on #65750
oh, sorry I missed that.

[2019-06-19 01:57] k-toyoda-pi opened #79152 "Add e2e test for manualSelector of job"
**What would you like to be added**:
Job resource has manualSelector parameter and we can specify selector.
We need e2e test checks the following items when manualSelector is true.
- selector can be set properly?
- job and pod can work as expected?

ref: https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#specifying-your-own-pod-selector

**Why is this needed**:
There

[2019-06-19 02:02] #79093 closed

[2019-06-19 02:21] KevinTHU commented on #74374
the most hard part is that finding the status of pvc(creating pod process), and the deletion of pvc(pvc-protection finalizer) is in different goroutines. there will be concourrent problem.

[2019-06-19 03:19] ssslkj123 commented on #77575
I got the same problem with you ，and no ideal how to resolve it ,
`# kubectl  describe  hpa
Name:                                                  deployment-hpa-test
Namespace:                                             default
Labels:                                                <none>
Annotations:                                           kubectl.kubernetes.io/last-applied-configuration:

[2019-06-19 04:23] huangjiasingle opened #79155 "kubelet down, delete the pod on the node, restart kubelet, the pod is terminating forever"
**What happened**:
l create a pod and secret in the yaml, the pod dependec the secret,  l action kubectl delete -f yam when the kubelet down which the node running on,  the pod terminating. when l found the kubelet down, l restart the kubelet. the pod status terminating forever.
**What you expected to happen**:
l expected the volummanager use the secret and configmap manager to check the pod depen

[2019-06-19 04:25] huangjiasingle commented on #79155
/sig node

[2019-06-19 04:28] MikeSpreitzer commented on #50564
/assign @josiahbjorgaard

[2019-06-19 04:29] MikeSpreitzer commented on #50564
@josiahbjorgaard : thanks.  I can not assign this to you.  Can you submit a PR?

[2019-06-19 04:36] vllry commented on #78735
@johscheuer the bot only works on org members

[2019-06-19 04:42] desaintmartin commented on #71358
The problem with manual tuning is that one needs to change all containers, which is not practical (even less if using tools like Helm), but using an AdmissionController could help automate that for all or a selected subset of apiserver requests.

[2019-06-19 04:48] almiche commented on #79134
you could let the base namespace as it's.

Hi there I don't really see what you mean here with this ?

Why would you want to copy all the objects of a namespace for testing purposes? I can't see a scenario where someone would want to copy objects over to a new namespace since after having for example a deployment there's only so much you can modify until needing to just create a new deployment alt

[2019-06-19 05:33] liqlin2015 commented on #79135
@rohitsardesai83 We have tried k3s. It looks good to us. But from k8s community, what's the solution to support edge computing. You know k3s is from rancher, not official k8s community.

@CindyXing

Run k8s control plane at edge device.

Memory resource requirement like the following:
- 512 MB ram for k8s master
- 75 MB ram for k8s worker
- 200 MB disk space

And OS should be some embedded,  Atomi

[2019-06-19 05:44] paivagustavo commented on #75482
Hey, I would like to give this a try. @nikopen do you think a newcomer do kubernetes could fix this issue? If yes, could you give me some directions?

[2019-06-19 07:02] alenkacz commented on #79126
@globervinodhn do you have example of the slow run? I went to testgrid, found the test in https://testgrid.k8s.io/sig-scheduling#gce-serial and all the executions I hit were under 2 minutes

[2019-06-19 07:13] mgdevstack commented on #79126
/assign @alenkacz

[2019-06-19 07:51] Prussia commented on #62579
What is the final solution for it?

[2019-06-19 08:08] alenkacz commented on #71541
There are several different failures in this test, I was in particular looking at
`Error waiting for 312 pods to be running - probably a timeout` which usually boils down to something like this
`event for maxp-309: {default-scheduler } FailedScheduling: 0/4 nodes are available: 1 node(s) were unschedulable, 3 Insufficient pods.`

My hunch is that we are trying to schedule more than we should.

Thi

[2019-06-19 08:13] josephburnett opened #79158 "Unscheduled Pods cause HPA to get stuck"
**What happened**:

When the HPA scales up beyond the capacity of the cluster, many unscheduled pods are created.  When load is removed, the usage ratio drops and the HPA tries to scale down.  The unscheduled pods do not produce metrics, so the HPA fills in the 100% usage and re-evaluates the usage ratio.  Because of the many fake 100% metrics, the new usage ratio is above the target value and the

[2019-06-19 08:14] yue9944882 commented on #79149
can you paste your code about `TestType`?

[2019-06-19 08:15] medmedchiheb commented on #79134
@almiche   i'm referring to a full cluster state, this case is helpful especially when you're going to be prod.
imagine you have huge of objects and you want to move them.
i see some people doing this by executing a script to copy or move objects.
although, i'm suggest this to be part of kubernetes controllers rather than in client side.

[2019-06-19 08:17] josephburnett commented on #79158
/sig autoscaling

[2019-06-19 08:19] punitporwal07 commented on #23562
facing same issue, I am using kubeadm 1.14 version. where after exposing service k8s is not assigning external IP , exposed as type LoadBalancer

NAME         TYPE           CLUSTER-IP      EXTERNAL-IP   PORT(S)          AGE
kubernetes   ClusterIP      10.96.0.1       <none>        443/TCP          62m
myservice    LoadBalancer   10.106.51.231   <pending>     8000:31499/TCP   29m
myservice1   Load

[2019-06-19 08:22] punitporwal07 commented on #23562
facing same issue, I am using kubeadm 1.14 version. where after exposing service k8s is not assigning external IP , exposed as type LoadBalancer
![externalIP](https://user-images.githubusercontent.com/30653869/59748823-85907800-9299-11e9-905b-bbcc62f00c2a.PNG)

[2019-06-19 08:23] josephburnett commented on #79158
This might fix #78761.  Previous I suspected that this was the same issues as #78712 (HPA positive feedback loop).  However it turns out to be different, that Pending pods cause HPA to get stuck.

[2019-06-19 08:25] jcassee commented on #66607
Now that #77523 is merged, should this issue be closed?

[2019-06-19 08:29] discordianfish commented on #77216
@DarrienG Do you see container creation timeouts for that pod in the events or kubelet logs? Is it possible that you have very high IO load on the affected nodes?

I had the same issue due to containers with heavy write load on the container filesystem. This load caused docker’s create_container api calls to timeout but eventually finish. Kubernetes appears to have assumed that the operation faile

[2019-06-19 08:39] hex108 opened #79159 "[cpumanager] AddContainer error: not enough cpus available to satisfy request"
**What happened**:
I created a `Job`,  and some pods encountered error `PreStartHookError`. Kubelet related logs are as following:

[code]

**What you expected to happen**:

There should be no `PreStartHookError` errors when running pod.

**How to reproduce it (as minimally and precisely as possible)**:

1. Run a local kubernetes cluster with latest kubernetes code, and use static cpu manager:
[co

[2019-06-19 08:39] hex108 commented on #79159
/assign
/sig node

[2019-06-19 08:54] sfxworks commented on #68270
Tried everything in https://github.com/kubernetes/kubeadm/issues/203 to no avail

[2019-06-19 09:03] sfxworks commented on #68270
Active in 1.14.3

[code]
Kubernetes version (use kubectl version):
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"clean", BuildDate:"2019-06-06T01:44:30Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e5

[2019-06-19 09:19] kaleocheng commented on #78846
have you deployed metrics server in your k8s cluster?

[2019-06-19 09:27] hex108 commented on #79159
Root cause:

When pod's status is `PodFailed`, kubelet will try to kill containers in the pod at https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1558, however these containers do not include finished containers(https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go#L811, https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/containe

[2019-06-19 09:33] mgdevstack commented on #79126
Yes this e2e execution time is always < 2min even in local `kind` cluster.
1.
[code]
2. https://source.cloud.google.com/results/invocations/dd854d1c-2108-47bc-8976-c3639cba8fac/targets/test/tests;query=should%20avoid%20nodes%20that%20have%20avoidPod%20;failed=false

[2019-06-19 09:38] cskarby commented on #42125
What kind of privileges are needed? As an user with the cluster role cluster-admin privilege I run
[code]
, but it seems to have no effect, even after reinstalling the worker node initiating a fresh kubelet (v1.14.3) with `--cloud-provider=external`. Also `kubectl edit node ${NodeName}` seems happy, but there is no change (the address is missing when starting kubectl edit node ${NodeName} again.

[2019-06-19 09:39] rdxmb commented on #51475
/remove-lifecycle stale

or something like
`kubectl lint`

[2019-06-19 09:47] RamanPndy commented on #56430
Thanks.
this will surely resolve the api server lag issue but still extension api server controller manager pod is crashing. I have installed service-catalog. catalog api-server is running fine but catalog controller manager keep crashing with following logs :
I0619 09:37:44.170086       1 controller_manager.go:306] Created client for API discovery
I0619 09:37:44.170158       1 round_trippers.go:4

[2019-06-19 10:25] ritu2593 commented on #63124
I am facing this issue and im using azure RHEL vm
tcp6       1      0 :::32544                :::*                    LISTEN      2956/kube-proxy
I want to access this on browser. Please help.

[2019-06-19 10:56] mborsz commented on #79096
The 1.15 test has finished with the following result:
1) in load test latency of replicationcontroller LIST is 15s, so it's out of SLO.
2) there is a single service LIST caused by failure of physical machine running one of nodes, so this is not this issue (it hasn't changed the test result).
3) density test has passed

For 1) I think we can assume that it's flake (we have only 4 probes of replicat

[2019-06-19 11:14] namsral commented on #74971
Problem solved.

A **kube-controller-manager-amd64** version mismatch was the cause.

[2019-06-19 11:17] dannyk81 commented on #71358
@desaintmartin indeed, we are currently debating how to handle this sanely across our entire fleet.

The point I was trying to make though is that currently TCP Keep Alives are inherently broken in K8s (by design) and I think this needs to be fixed with that fact in mind.

Linux kernel tunables have sane defaults, which would make things work generally out of the box, the short IPVS tcp timeout (w

[2019-06-19 12:09] dansou901 commented on #71502
Same here, this is still an issue for me

[2019-06-19 12:10] dansou901 commented on #71502
/remove-lifecycle rotten

[2019-06-19 12:14] cwdsuzhou opened #79166 "pull-kubernetes-integration#TestUnreservePlugin fails frequently"
**Which jobs are failing**:

pull-kubernetes-integration

**Which test(s) are failing**:

TestUnreservePlugin

**Since when has it been failing**:

It happens frequently this week

**Testgrid link**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/79164/pull-kubernetes-integration/1141308395165323264/

**Reason for failure**:

I0619 11:55:31.165887  109629 wrap.go:47] PUT /api/v1/nam

[2019-06-19 12:15] cwdsuzhou commented on #79166
This  seems to be  a issue in scheduler integration tests

/sig scheduling

[2019-06-19 12:35] lbernail commented on #71358
The main problem with TCP keepalives is that they start after a long time by default which is not compatible with the fast detection of a crashed node: when a node crashes, pods running on it won't send a FIN/RST so the connection will remain established (in the IPVS conntrack) until the timeout expires (the current default of 15mn is very high for this).

This isn't limited to IPVS but also appli

[2019-06-19 12:52] cwdsuzhou commented on #74374
@msau42 @kow3ns I have sent a PR   https://github.com/kubernetes/kubernetes/pull/79164.
I have ran it in my cluster, it works.

[2019-06-19 12:55] huangyoukun commented on #831
+1

[2019-06-19 13:07] tibers commented on #50898
We're in the same boat at my company. They want to use [Cloud Custodian](https://github.com/cloud-custodian/cloud-custodian) to make sure ownership is declared properly to track resource use and so we need to tag EBS volumes somehow.

[2019-06-19 13:40] dannyk81 commented on #71358
Agree, current defaults are problematic and they were set a long time ago, not considering the kind of choreography we are doing today :smile:

I might be wrong, but I don't recall we were hitting this when we used `iptables` mode and I believe nf_conntrack timeout for established tcp connections is much higher by default:

[code]
^^ above is from our two remaining "legacy" cluster, running K8s v1

[2019-06-19 14:02] max-rocket-internet commented on #78712
@josephburnett is there any work around? We have this issue quite bad. Some of our deployments scale to `maxReplicas` very quickly.

Our deployment strategy looks like this:

[code]

[2019-06-19 14:09] mattjmcnaughton commented on #79147
Thanks for the detailed issue @RobertKrawitz :) Really awesome!

[2019-06-19 14:09] josiahbjorgaard commented on #50564
I can submit a PR.

[2019-06-19 14:19] mattjmcnaughton commented on #79155
Hi @huangjiasingle ! Thanks for filing this issue :)

Would you mind sharing the yaml files you were using and also a sequence of bash commands to replicate the problem? That will be helpful for debugging/testing.

[2019-06-19 14:36] #79069 closed

[2019-06-19 14:41] bclau opened #79171 "tests: Image pulling tests failing on Windows"
**Which jobs are failing**:

All sig-windows jobs (master): https://testgrid.k8s.io/sig-windows

**Which test(s) are failing**:

    [k8s.io] Container Runtime blackbox test when running a container with a new image should be able to pull from private registry with secret [NodeConformance]
    [k8s.io] Container Runtime blackbox test when running a container with a new image should be able to pull

[2019-06-19 14:57] MikiGergely commented on #30961
@Ramane19  The problem is you have an extra dash ("-") on line two.

I found this page while creating AWS Cloudformation templates, and when I created a new one just to test a few things I couldn't get rid of this error. I even tried copy-pasting a working template into the new one, still the problem persisted.

After a bit of time I realized this problem only comes forth when I create a new txt f

[2019-06-19 15:11] max-rocket-internet commented on #78988
Ah I think I was also seeing this issue: https://github.com/kubernetes/kubernetes/pull/79035

[2019-06-19 15:12] max-rocket-internet commented on #72775
Any workaround at all? Maybe some specific `deployment.spec.strategy`? We are hitting this issue a lot. It costs money.

[2019-06-19 15:17] #78917 closed

[2019-06-19 15:44] thockin commented on #23562
You need a cloud provider or other controller that knows how to allocate an IP and route traffic into the nodes.  GKE has that in GCP.  If you are on-prem, k8s has no idea what infrastructure exists on your network.

[2019-06-19 15:59] mariusgrigoriu commented on #72775
The workaround we're using is to delete the HPA during a rolling update and to apply it back after it is done.

[2019-06-19 15:59] mm4tt commented on #79096
Great job, @mborsz and @krzysied!

Thank you for all your hard work that led to unblocking the 1.15 release!

[2019-06-19 16:05] sashayakovtseva commented on #75549
@dims Hello! Sorry for bothering, but maybe you have any updates on that?

[2019-06-19 16:17] andrewsykim commented on #68270
Sorry folks, thought this was fixed in https://github.com/kubernetes/kubernetes/pull/65226 but based on recent reports looks like it isn't. Added this on the SIG Cloud Provider backlog here https://github.com/kubernetes/cloud-provider/issues/37 and will prioritize for v1.16.

[2019-06-19 16:17] andrewsykim commented on #68270
/sig cloudprovider
/area cloudprovider

[2019-06-19 16:17] andrewsykim commented on #68270
/sig cloud-provider

[2019-06-19 16:21] Kent-H opened #79175 "Set StatefulSet's Pods' Labels & Affinities based on Ordinal"
I would like if it were possible, when using a StatefulSet, to set:

* pod labels
* pod affinities

based on the ordinal of the pod.

This could behave similarly to the downward API (though it runs earlier in the deployment process).

This becomes most useful if simple math operators are permitted. (`+`, `-`, `/`, `*`, `%`, `(`...`)`)

For example, the pod would include:
[code]

As well as:
[code]

[2019-06-19 16:28] mattysweeps commented on #79149
It's not my code, but example code in the code-generator package:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/code-generator/_examples/crd/apis/example/v1/types.go#L25

I cloned the synced version though:
https://github.com/kubernetes/code-generator/blob/master/_examples/crd/apis/example/v1/types.go#L25

[2019-06-19 16:43] almiche commented on #79134
I understand that but you mentioned above that this could be a testing feature what kind of testing ?

I take it you would have you test and prod objects on the same cluster basically ? So when you're ready to deploy you create a new namespace copy over the entire cluster state and have that namespace be used as the prod instance ?

In any case this shouldn't be too difficult of a feature to add i

[2019-06-19 16:56] fejta-bot opened #79177 "pr:pull-kubernetes-integration flaked 41 times in the past week"
### Flaky Job: pr:pull-kubernetes-integration
 Flakes in the past week: **41**
 Consistency: **91.40%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| k8s.io/kubernetes/vendor/k8s.io/apiextensions-apiserver/test/integration/conversion TestWebhookConverterWithWatchCache | 14 |
| k8s.io/kubernetes/vendor/k8s.io/apiextensions-apiserver/test/integration/conversion TestWebh

[2019-06-19 17:25] DarrienG commented on #77216
Luckily (?) enough, this actually happened again today. It was on one of our compute nodes where we're constantly spinning up Jenkins build slaves and running builds. It's reasonable to assume that may be the answer.

[2019-06-19 17:27] micahhausler commented on #42125
@cskarby cluster admins are able to overwrite node addresses, but the Kubelet does a periodic  update (I think 30s?) of it's own addresses and is overwriting your patch.

[2019-06-19 17:47] dims commented on #75549
@sashayakovtseva nope, i have not looked at it since then. sorry.

[2019-06-19 17:52] BrianMWest commented on #47862
Also still interested in this! Very desirable functionality

[2019-06-19 18:38] luvkrai commented on #49387
i'm using `kubectl get pods --all-namespaces | grep -Ev '([0-9]+)/\1'`

[2019-06-19 18:38] ptone commented on #79135
Rancher has said they are open and eager to contribute k3s/k3os to CNCF

Are you looking for capability or just official status/blessing?

[2019-06-19 18:51] almiche commented on #78755
@paranoidaditya  Why I would need to use this flag in this occasion perplexes me since this problem is between containers in the same pod. Also whenever running the log command on a pod it's required to specify which container we are attaching to.

Regardless I've run my test once more upping the number of replicas of my statefulset to 2 and adding in an extra container in each pod for fun. I ran

[2019-06-19 19:07] paulhodson commented on #73240
@vikaschoudhary16 Looks like everything was fine in SELinux land. My issue was that I don't run containers with `root` if I don't have to. `kubelet.sock` permissions are `root:root` by default.

[2019-06-19 19:31] jecafarelli commented on #60807
ok so I ran into this again with coreos, and I dug a bit deeper. this is most definitely because of a cluster wide resource definition that is namespaced, and further more maybe it couldnt delete it because it cant query info on coreos. I did find errors in the apiserver logs that showed errors on trying to get information about an api group. I used the referenced issue above to come up with a qui

[2019-06-19 19:53] ranman commented on #75565
As a follow up to @wuestkamp 's comments - the high CPU usage and constant work when running no containers makes local development very difficult and destroys battery life on laptops.

[2019-06-19 20:31] poy commented on #79149
I'm also bumping into this. I'm using linux.

[2019-06-19 20:32] HarryWeppner commented on #75565
This is *the* major complaint from our users as well and hindering K8s adoption in a significant way.

[2019-06-19 21:18] VJalili commented on #57671
Same issue here (starting RabbitMQ with statefulset):

[code]

[2019-06-19 22:23] logicfox commented on #58619
This issue was closed by a bot and moved by automation to Done. This continues to be an ambiguous bug/feature that needs addressing, at least in docs.

[2019-06-19 22:53] evankanderson commented on #72637
Is `/logs` going through the apiserver is a pattern we want to encourage? If so, it would certainly be nice to be able to ask any resource for its logs, but I wonder if a pointer is better than e.g. merging logs for all Pods in a Deployment (for example)

[2019-06-19 23:21] mucahitkurt commented on #74374
Alternative solution might be like https://github.com/mucahitkurt/kubernetes/tree/fix/enable-statefulset-pvc-recreation-for-pending-pod

[2019-06-19 23:25] cscetbon commented on #74374
I think you mean https://github.com/mucahitkurt/kubernetes/commit/1ab4b97b8b63228ea25fc541233df15eb0e3d598

[2019-06-19 23:31] cscetbon commented on #74374
@mucahitkurt if I understand your code well, a Pod would be in `PodPending` state only if it's not the first time it starts, and in that case, you recreate the PVC. What if a Pod is just restarted on the same host ?

[2019-06-19 23:35] cscetbon commented on #74374
@mucahitkurt if I understand your code well, if a Pod is in `PodPending` state you try to recreate the PVC. What if a Pod is just restarted by k8s on the same host ? would the recreate just fail ? what if the previous PVC is still in terminating (same name in our case) ?

[2019-06-19 23:49] freehan commented on #69362
Here is my theory:

0. a ILB is setup via loadbalancer type service. Service controller creates ILB. It targets an unmanaged instance group that include all the cluster nodes.
1. One VM got preempted. I think GCE will remove the VM from instance groups.
2. If the following conditions apply:
    A. VM comes back very quickly (In ~40 seconds, before the node got marked NotReady. Before service contr

[2019-06-20 01:10] jacksontj commented on #73158
/remove-lifecycle stale

[2019-06-20 01:10] jacksontj commented on #73157
/remove-lifecycle stale

[2019-06-20 01:30] paivagustavo commented on #75482
I was going through the docs and found [this statement](https://kubernetes.io/docs/concepts/architecture/nodes/):

Is this really a bug or is it the intended behavior?

[2019-06-20 01:30] Pingan2017 opened #79194 "Mount failed: exit status 1 Output: Failed to start transient scope unit: Connection timed out"
**What happened**:
I have a k8s node with 190+ pods and 500+ mount
[code]
[code]
when i reboot the node , kubelet will mount the volumes together.  These concurrent mounts will cause systemd hang.

[code]

**What you expected to happen**:
no errors when mount volumes
**How to reproduce it (as minimally and precisely as possible)**:
1. create 100+ pods with 500+ mount on one node. (eg. 5 secrets pe

[2019-06-20 01:33] Pingan2017 commented on #79194
@kubernetes/sig-node-bugs
/sig scalability

[2019-06-20 01:49] paivagustavo commented on #75050
Hey @liggitt, I'm trying to start to contribute to kubernetes and this seem to be an easy task. Can I help with this one?

[2019-06-20 02:19] cofyc commented on #72346
/lifecycle frozen

[2019-06-20 02:27] axsauze commented on #17144
@bprashanth @bgrant0607 @gmaghera @nikhita why wouldn't you just use kubectl autocompletion? Surely that should address 95% of the usecases by typing the name of the pod followed by <TAB>. If you use `zsh` you can navigate through all the string matches so that should address the remaining 5%. (i.e. https://kubernetes.io/docs/tasks/tools/install-kubectl/#enabling-shell-autocompletion should close

[2019-06-20 04:06] lwj5 opened #79206 "Ceph RBD provisioner to create user for each namespace"
**What would you like to be added**:
Ceph RBD provisioner automatically provisions a user for each kubernetes namespace/pvc, with restricted read/write permission to the RBD image through the use of Ceph RBD image namespacing.

This concept can be seen in the CephFS provisioner, which dynamically create users with restricted access, here:
https://github.com/kubernetes-incubator/external-storage/tr

[2019-06-20 04:10] lwj5 commented on #79206
@kubernetes/sig-storage-feature-requests

[2019-06-20 04:29] jpbetz opened #79209 "Connect lower level traces to surrounding request handling trace"
**What would you like to be added**:

The kube-apiserver logs traces for operations that exceed a max latency using the `k8s.io/utils/trace` utility. This is done for request handling, etcd storage layer operations, watch cache operations and we just added it for webhook calls.

But when, for example, there is a create request that involves high latency admission webhook call, there are two separa

[2019-06-20 05:03] yue9944882 opened #79210 "Invalid patch body can result internal-server error in the server"
/kind bug
/sig api-machinery
/cc @jennybuckley @apelisse

**What happened**:

patching (SMP) any object's annotation using invalid patch content will result in an (500) internal-server error. expecting a (400) bad-request error in this case.

patch body:
[code]

received error:

[code]

the error is thrown from converter instead of the patcher, so it seems that patcher considers the body as valid

[2019-06-20 05:11] huangjiasingle commented on #79155
@mattjmcnaughton ok, the yaml like this :

[code]
you can replace the secret of any those key or value  or type.

[2019-06-20 05:22] kaleocheng commented on #78712
based on the above discussion, theoretically, once we finished the rolling update and there is no unscheduled pod, the HPA should eventually decide to scale it back down right?  but I found it's still keeping on the max replicas.

[code]

[code]

[code]

[2019-06-20 06:06] huangjiasingle opened #79211 "daemonset status not correct num of status some filed"
**What happened**:
in mysql cluster, it's has 33 node and every node running a pod of kube-proxy created by daemonset and all the pod of kube-proxy ds was running status. but when l describe the ds of kube-proxy, the status like this:
[code]
what 's maening of the ds status filed？ l can‘t  find some doc or source code to know it.
so l think those of myself like this:
[code]
please notic the all nu

[2019-06-20 06:09] huangjiasingle commented on #79211
@sig API Machinery

[2019-06-20 06:19] Pingan2017 commented on #79194
/sig storage

[2019-06-20 06:23] huangjiasingle commented on #79211
/sig api-machinery

[2019-06-20 06:45] hainesc commented on #78926
As 10.96.0.10 is a Cluster IP, It is not ping-able. You can use `telnet` or `curl`.

[2019-06-20 07:23] pirminjanka opened #79212 "Automatic or manual egress ip per namespace"
**What would you like to be added**:
Are there plans to add automatic or manual egress ip per namespace to kubernetes like it is available in openshift 3.11?

**Why is this needed**:
The security guys often would like to know from where the egress-traffic is coming from. More precisely, they want to know from which namespace traffic comes so that they can restrict traffic to various services outsi

[2019-06-20 07:36] snowplayfire commented on #74707
@wenjiaswe Some other people also find the problem and fix it.  I will close the issue.

https://github.com/kubernetes/kubernetes/pull/78280

https://github.com/kubernetes/kubernetes/pull/78275

[2019-06-20 07:36] #74707 closed

[2019-06-20 07:41] kierenj commented on #35318
I can see how specifying a PDB specifies behaviour, but looking through the docs (and this issue) I can't work out what the default behaviour is in absence of a PDB.

By default is there no limitation to disruption?

I spent some time looking for it, but hopefully I just missed it - where could I have found this info in the docs?

[2019-06-20 07:54] zigmund commented on #75663
Same here. With `cpuManagerPolicy: static` for every init-container kubelet will write `cpu_manager.go:236] [cpumanager] reconcileState: skipping container; ID not found in status (pod: foo..., container: bar, error: unable to find ID for container with name sysctl in pod status (it may not be running))` every `cpuManagerReconcilePeriod`

[2019-06-20 07:55] Joseph-Irving commented on #79211
/sig apps
You can see the meaning of the status fields here https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#daemonsetstatus-v1-apps

Misscheduled pods indicates that you have nodes running the daemonset pod that should not be, only 4 of your nodes appear to match the criteria to run the daemonset, hence having a `desiredNumberScheduled: 4`. This could be due to something like

[2019-06-20 08:03] mikkeloscar commented on #35318
There are no default PDBs so full disruption is allowed. We use this to provide sensible defaults for our users: https://github.com/mikkeloscar/pdb-controller

[2019-06-20 08:18] myonlyzzy opened #79213 "ipvs can't load balance service connect"
**What happened**:
I use  kube-proxy ipvs mode and change ipvs scheduler  to lc . but when a service A which have 4 pod  send 4 connect(one pod send one connection )  to service B which have 2 pod,  4 connection  allways on Service B one pod,another pod no connection . I use ipvadm -ln check ，that show ActiveConn 1 but pod has established 4 connection .

[code]

[code]
I want  know how to slove th

[2019-06-20 08:40] likakuli commented on #78976
@wgliang Thanks for your explain

[2019-06-20 08:40] #78976 closed

[2019-06-20 08:55] mhamdisemah commented on #79213
/sig network

[2019-06-20 09:07] huangjiasingle commented on #79211
@Joseph-Irving  the doc of https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#daemonsetstatus-v1-apps couln't describe the those field clear.
the all ds pod of kube-proxy total 33 was running normal. another 29 running pod no created manually or by another daemonset.    the ready and avilable num was not correct.
you can read the code of up.  the logic not correct.

[2019-06-20 09:10] huangjiasingle commented on #79211
@Joseph-Irving  if the controller manager is running alway and no restart. the logic is no problems. but if the controller manager was restart, the logic couldn't calculate the correct result of the ds status.

[2019-06-20 09:22] cwdsuzhou commented on #74374
@mucahitkurt  we may need know if the pod keeps in pending or just pending transitorily.
1. If it keeps in pending, we need try to recreate the pvc ( there also may be many other reasons lead to pending)
2. If it is pending transitorily, we should do nothing

[2019-06-20 09:37] draveness opened #79215 "Make the current bind function a default plugin"
**What would you like to be added**:

Make the current bind function a default plugin

**Why is this needed**:

cc/ @bsalamat @chenchun
/assign

[2019-06-20 09:37] draveness commented on #79215
/sig scheduling

[2019-06-20 09:40] liqlin2015 commented on #79135
Yea. We have learned k3s for a while.
Just want to know the (official) solution in k8s community. Looking forward Rancher contribute k3s to the community. But at the sametime there should not be two code repos.

[2019-06-20 10:12] zillaer commented on #52172
1.13.7 reproduced

[2019-06-20 10:21] max-rocket-internet commented on #78712
Yes, we have also many HPAs that never scale back down. See here: https://github.com/kubernetes/kubernetes/issues/78761

[2019-06-20 10:55] mucahitkurt commented on #74374
@cscetbon  I'll test these scenarios on my local cluster, but `CreatePersistentVolumeClaims` does not directly create the PVC, firstly it checks the pod's pvc is missing or not, if the pvc is not found then it tries to create the pvc. So If a statefulset pod is restarting and there is no missing pvc this solution won't do anything.

If the previous PVC is still terminating, I expect that pvc liste

[2019-06-20 11:53] pohly commented on #34059
/reopen

[2019-06-20 12:06] mattjmcnaughton commented on #79155
Thank you! Would also you mind providing a sequence of kubectl/bash commands to replicate the error?

[2019-06-20 13:20] gliush opened #79222 "Rework tests in pkg/controller/podautoscaler"
There're two problems with the current `pkg/controller/podautoscaler` test infrastructure:
1. Race condition https://github.com/kubernetes/kubernetes/pull/74525#issuecomment-502653106
2. The HPA controller now has history and will change its state after the first HPA reconcile cycle. We need to stop the tests after the first reconcile. Or if we need to have several reconcile runs, the HPA conditio

[2019-06-20 13:21] gliush commented on #79222
/sig autoscaling

[2019-06-20 13:59] huangjiasingle commented on #79155
@mattjmcnaughton the steps: kubrctl apply -f yaml, wait the pod running on one node of the cluster.  Stop the kubelet which the pod running, kubectl delete -f yaml

[2019-06-20 14:17] collimarco opened #79224 "Reference Secrets from ConfigMap"
**What would you like to be added**:

I would like to have a way to reference Secrets from ConfigMaps.

For example:

[code]

**Why is this needed**:

ConfigMaps are useful to describe in one place all the env variables: the you can easily reuse the same env for multiple deployments. Basically if I have multiple Deployments or Pods, I can easily include the same ConfigMap and have all the env vari

[2019-06-20 14:28] collimarco commented on #79224
@kubernetes/sig-apps-feature-requests

[2019-06-20 15:14] paulhodson opened #79228 "[Device Plugins] Optionally fail pods consuming unhealthy devices"
**What would you like to be added**:
[Issue 60388](https://github.com/kubernetes/kubernetes/issues/60388) clarified the behaviour expected of unhealthy devices, specifically that an already-allocated device will remain allocated to a consuming pod, even if that device is unhealthy.

This allocation also remains if the device plugin is terminated, e.g. by deleting the DaemonSet or rolling out an up

[2019-06-20 15:17] paulhodson commented on #79228
/sig node

[2019-06-20 15:20] dims opened #79229 "Move from jteeuwen/go-bindata to go-bindata/go-bindata"
https://github.com/jteeuwen/go-bindata is now archived by its owner. Contributors have created a new org and are working there https://github.com/go-bindata/go-bindata

So we should switch to code from the new repo.

[2019-06-20 15:21] dims commented on #79229
/area code-organization

[2019-06-20 15:21] dims commented on #79229
/sig architecture

[2019-06-20 15:38] RobertC137 opened #79231 "kubectl logs / kubectl exec -it malfunction"
**What happened**:
All components' statuses are healthy and all commands are functional. i used the cli "kubectl logs （podname） -n （namespace）", and the console returned error message "error: You must be logged in to the server (the server has asked for the client to provide credentials (pods/log <podname>)
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as poss

[2019-06-20 15:49] nikopen commented on #75482
@paivagustavo I think the implementation is not a problem (likely trivial), the problem lies mostly in regards to decision-making from the responsible SIG. Could be viewed as both a bug and intented, but there *should* be a way to manually force this behavior.

[2019-06-20 15:51] benmoss opened #79232 "Azure VMs where computer name != vm name fail to register"
**What happened**:
When running kubelet on a node where the hostname and Azure VM name do not match due to using Azure's ["Computer Name"](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/createorupdate#osprofile) feature, the kubelet will fail to register with the error

[code]

This appears to happen due to the Azure cloud provider code assuming that the node name must be equal

[2019-06-20 16:03] andig commented on #35318
I'm not a k8es pro, but my feeling is that without PDB *no* disruption is allowed. I.e., I've noticed the autoscaler not scale down otherwise empty nodes when the PODs were missing PDBs. But then I might also be entirely wrong...

[2019-06-20 16:14] justinsb commented on #73099
/reopen

This test is still inherently racy, even after  #73682

[2019-06-20 16:24] sayarg opened #79233 "Field selector for CRD"
**What would you like to be added**: Extend CRD API, add ability to specify fields to be used in a field selector query

**Why is this needed**: To filter large lists of CRD in both kubectl and http API. We are currently forced to copy fields and values from the CRD's spec and status to add labels, so that we can query with label selectors

[2019-06-20 16:24] sayarg commented on #79233
/sig api-machinery

[2019-06-20 16:33] mikkeloscar commented on #35318
The autoscaler might handle this in a special way by itself. For instance in the case where a pod doesn't have a "parent" like a replicaset or statefulset etc. then it will not terminate the pod, even though the eviction API would allow it. But this is special logic in the autoscaler.

[2019-06-20 17:06] dims opened #79234 "Update vendored dependencies to a released version instead of random SHA(s)"
Algorithm:
- Look at go.mod, look for dependencies with [Pseudo-versions](https://golang.org/cmd/go/#hdr-Pseudo_versions)
- Look at the github repo of the dependencies, find a released tag closest to the SHA (but higher than the SHA)
- Look at the commits in the range and review with the [guidelines](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/godep.md#j

[2019-06-20 17:07] dims commented on #79234
/area code-organization
/good-first-issue
/sig architecture

[2019-06-20 17:12] mwmix commented on #79234
@dims  I would like to work on this as my first issue. If I had some questions would you be available to help?

[2019-06-20 17:16] dims commented on #79234
@akutz could you peek at the github.com/codedellemc/goscaleio dependency?
@alok87 could you please see if you can take on the github.com/docker/libnetwork?
@liggitt i am totally afraid of the protobuf bump, could you please peek?
@ramineni could you please see if you can bump github.com/gophercloud/gophercloud?
@humblec can you please look at the github.com/heketi/heketi bump?
@RobertKrawitz did y

[2019-06-20 17:19] apelisse commented on #79210
I just tried the same patch with "MergePatchType", and it also fails with 500.

[2019-06-20 17:21] echoboomer commented on #78846
Seeing a similar issue, but a different error: `ScalingActive   False   FailedGetResourceMetric  the HPA was unable to compute the replica count: missing request for cpu`

I am explicitly setting cpu/mem requests on all Deployments across the board in my cluster using an in-house Helm chart. Literally everything has explicit resource requests. Randomly, many `hpa` objects complain with this error.

[2019-06-20 17:24] akutz commented on #79234
Hi @dims,

While I [no longer have anything to do with GoScaleIO](https://gist.github.com/akutz/b291f5db2116bd644a5ab150b09b9066), I will still take a peak since you asked nicely :)

It appears the last release of GoScaleIO was [v0.1.0](https://github.com/thecodeteam/goscaleio/releases/tag/v0.1.0), on October 7th 2017. However, there have been [seven commits since then](https://github.com/thecodet

[2019-06-20 17:25] apelisse commented on #79210
I can't make it fail with JSONPatchType, I get a 422

[2019-06-20 17:26] apelisse commented on #79210
[code]

I suspect the error should read "the server rejected **y**our request due to an error in our request"

[2019-06-20 17:30] dims commented on #79234
Ack @akutz thanks!

[2019-06-20 17:44] Kent-H commented on #79175
/sig scheduling

[2019-06-20 17:48] RobertKrawitz commented on #79234
@dims I did as part of #66928 (quotas for ephemeral storage).  This was because I needed to add an additional argument to the volume mounter code; I modified all of the volume types the same way.  Is something needed here?

[2019-06-20 17:49] mathisub commented on #77575
I have the same issue after upgrading the cluster to 1.13.5.
NAME              REFERENCE                TARGETS                   MINPODS   MAXPODS   REPLICAS   AGE
hello-world-hpa   Deployment/hello-world   <unknown>/200Mi, 0%/10%   2         10        2          46h
I am using metrics-server 0.3.2.

[2019-06-20 18:05] rochacon commented on #77332
Doesn't `kubectl kustomize` fits this use case?

[code]

[2019-06-20 18:14] wuqiany2 commented on #79149
I hit this problem trying to explore CRDs and customer controllers yesterday. Managed to get it solved by moving the code-generator package under $GOPATH.

Refer to https://github.com/kubernetes/code-generator/issues/21

[2019-06-20 18:37] dashpole commented on #78950
I can put out a PR this week

[2019-06-20 18:41] 2rs2ts commented on #40610
My use case is for the EC2 instance ID (which is automatically added as a label by the cloud provider) to be added as an environment variable for a container. Since I lacked this feature I had to provide a workaround (granted my pod access to the AWS metadata FUSE we use at my company https://github.com/jszwedko/ec2-metadatafs) that I wasn't really keen on. Having pod labels available in the downw

[2019-06-20 18:54] eroldan commented on #57291
/remove-lifecycle stale

[2019-06-20 19:03] benmoss commented on #79232
There seems to be a billion issues related to this kind of problem with other cloud providers, the paper trail from https://github.com/kubernetes/kubernetes/pull/33718 is pretty good

[2019-06-20 19:43] dims commented on #79234
@mwmix pick one of the dependencies and see if you can make progress with a PR. We can use #k8s-code-organization to chat if you wish.

@RobertKrawitz Ack, no worries, that portworx code seems to drag in libopenstorage/openstorage, so was trying to see if anyone know that piece well enough to try to update the dependency version.

[2019-06-20 19:54] webframp commented on #23581
Internally we're using the aws service operator, https://github.com/awslabs/aws-service-operator/ and have extended it with our own model and template for deploying RDS MySQL. Still some operability issues to work out with it, but it's the most promising I've used so far.

[2019-06-20 20:07] mattysweeps commented on #79149
Thanks @wuqiany2, your comment helped me figure out my issue. You nailed it: all dependency packages of any fields in the type struct must in the GOPATH. No module support yet.

For a note to whoever else gets stuck here, add `-v 5` to your call of `generate-groups.sh`. This will spam logs, but I found it was the only way to know which packages I was missing.

[2019-06-20 20:08] #79149 closed

[2019-06-20 20:14] jennybuckley commented on #79145
/assign @wenjiaswe

[2019-06-20 20:16] jennybuckley commented on #79211
/remove-sig api-machinery

[2019-06-20 20:16] jennybuckley commented on #79233
/cc @jpbetz

[2019-06-20 20:21] wenjiaswe commented on #79145
I think this is a duplicate of #72102, thanks to gRPC team and @gyuho who are working on it.

[2019-06-20 20:21] rhockenbury opened #79240 "Windows SecurityContext GMSA Validation Fails"
**What happened**:
I'm trying apply the following manifest with a gMSA specified in the securityContext `windowsOptions`:

[code]

It fails with the error: `error: error validating \"/etc/kubernetes/gmsa-ds.yml\": error validating data: [ValidationError(Pod.spec.securityContext.windowsOptions): unknown field \"GMSACredentialSpec\" in io.k8s.api.core.v1.WindowsSecurityContextOptions, ValidationErro

[2019-06-20 20:25] rhockenbury commented on #79240
/sig windows

cc. @wk8

[2019-06-20 20:27] roycaihw commented on #79209
we could use context to carry the request-scoped trace object and replace the new allocated lower-level ones in https://github.com/kubernetes/kubernetes/pull/78610/files

/good-first-issue

[2019-06-20 20:33] ddebroy commented on #79240
/assign @wk8

I believe the field names in the YAML are case sensitive and they need to be `gmsaCredentialSpecName` and `gmsaCredentialSpec` rather than `GMSACredentialSpecName` and `GMSACredentialSpec`

[2019-06-20 20:39] odinuge commented on #79234
Hi @dims,

[2019-06-20 20:40] rhockenbury commented on #79240
Ah, yes.  Thanks for the prompt reply.  Also, `WindowsOptions` needs to be `windowsOptions`

[2019-06-20 20:40] #79240 closed

[2019-06-20 20:42] odinuge commented on #79234
Hi @dims,

`github.com/seccomp/libseccomp-golang` & `github.com/opencontainers/runc` will be updated in https://github.com/kubernetes/kubernetes/pull/78495. `libseccomp-golang` will be pinned to `v0.9.1` (latest), while `runc` has to use the latest commit in order to get a required fix. Will bump `runc` to a released version as fast as they release a new version.

[2019-06-20 20:49] benmoss commented on #78857
https://asciinema.org/a/94FUya91IyRLnrhCrUBZo3zMk

it looks from the error like you're not actually running a kubelet with the changes in my PR. it would error with not finding `wincat`, not `socat`.

[2019-06-20 20:49] benmoss commented on #78857
/close

[2019-06-20 20:58] thockin commented on #40610
You sign up by saying "I'd like to tackle this". :)

As for guidance, the real problem is that I don't know what the right design is.  The way I would usually start such an effort is with a brainstorm doc - try to pin down the kernel of the requirements expressed here and then dream up 10 different ways we could solve it, no judgement on good/bad ideas.  Then write the most aggressive pros/cons yo

[2019-06-20 21:01] rodolfo-albuquerque commented on #73269
Any updates or workarounds on this issue?

[2019-06-20 21:05] zerkms commented on #78003
Given that it was reverted https://github.com/kubernetes/kubernetes/pull/78691 can we please reopen this issue to track the problem

[2019-06-20 21:05] dims commented on #79234
@odinuge Ack, they (runc folks) don't seem to be very particular about tagging stuff. So we may have to request them to do so (looking at https://github.com/opencontainers/runc/tags). thanks for the update!

[2019-06-20 21:06] dims commented on #79234
@odinuge Don't forget we tried once before to update the libseccomp, so you will have to deal with issues mentioned here - https://github.com/kubernetes/kubernetes/pull/78187#pullrequestreview-250782154

[2019-06-20 21:24] johnSchnake commented on #69373
No actions specifically taken on this; it has now been split up which makes recognizing the dependency more simple but each situation would still have to find another way to test what it is trying to check.

[2019-06-20 21:29] spiffxp commented on #78613
/assign

[2019-06-20 21:31] bjhaid commented on #40610
I'd like to tackle this :)

Thanks for all of this context, I'll start writing some doc and share as soon I have something

[2019-06-20 21:37] johnSchnake commented on #69373
TODO:
 [ ] Make a firm list of exact tests which require SSH, noting if they are conformance tests or not
 [ ] Each of those tests should have the skip-unless-ssh method
 [ ] Following ^, this should prevent those tests from being conformance tests (since they have skip)
 [ ] The conformance tests need modified to not use SSH

The remaining tests can be considered by testing-commons; but keep in m

[2019-06-20 21:47] roycaihw commented on #79233
dup of https://github.com/kubernetes/kubernetes/issues/53459

currently CRD supports namespace and name as field selector labels

cc @liggitt @sttts

[2019-06-20 21:48] justinsb commented on #73099
Fix in #79235 (I hope!)

[2019-06-20 21:49] spiffxp commented on #78613
/priority important-longterm

[2019-06-20 22:25] kargakis commented on #35318
No, when you haven't assigned a PDB to a workload, any disruption is allowed during a node upgrade.

-------- Original Message --------
On 20 Jun 2019, 17:06, andig wrote:

[2019-06-20 22:28] pjh commented on #75561
/remove-triage unresolved

[2019-06-20 22:41] afagund opened #79244 "Kubelet service wont start"
**What happened**:

I am following the official documentation below to set up a new Kubernetes cluster using kubeadm, however, I am not able to start kubelet on mu etcd nodes.

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/

**What you expected to happen**:

I expect to start kubelet as per steps in the official documentation.

**How to reproduce

[2019-06-20 22:44] BenTheElder commented on #79234
the libseccomp bit is not a good first issue due to the build changes, I'm working on fixing that one specifically. :crossed_fingers:

[2019-06-20 22:47] afagund commented on #79244
Also seeing in the logs

Jun 20 19:43:12 etcd1 kubelet: F0620 19:43:12.031754   16803 server.go:156] unknown flag: --allow-privileged

[2019-06-20 22:48] afagund commented on #79244
@kubernetes/docs-bugs

[2019-06-20 23:14] #70201 closed

[2019-06-20 23:20] dashpole commented on #78950
xref https://github.com/kubernetes/kubernetes/pull/79245

[2019-06-21 01:30] msau42 commented on #74374
I wonder if we actually need to check pod state?  Regardless of pod state, can we just check if any of its pvcs are missing?

[2019-06-21 01:43] dims commented on #79135
@liqlin2015 neither `kubedge` or `k3s` are not part of any official kubernetes github orgs. please do work with whichever solution that works for you. Both take different views on several matters, so it's up to your organization to pick a direction (or even support both!).

[2019-06-21 02:18] cscetbon commented on #74374
@msau42 what if we check that it exists and it does in deleting state ?

[2019-06-21 03:14] tedyu commented on #79244
The deprecated Kubelet flag `--allow-privileged` has been removed. Remove any use of the flag from your kubelet scripts or manifests. ([#77820](https://github.com/kubernetes/kubernetes/pull/77820), [@dims](https://github.com/dims))

[2019-06-21 03:17] like-inspur opened #79250 "fleuntd always restart because serviceaccount meet error"
I created fluentd daemonset with version 2.3.1 on kubernetes with version 1.10.4, recently I found one pod always restart, and output serviceaccount error, but other pods always run normally.
root@monitor1:~# kubectl log fluentd-jj7sn -n kube-system -p
log is DEPRECATED and will be removed in a future version. Use logs instead.
2019-06-21 02:19:20 +0000 [error]: config error file="/etc/fluent/flue

[2019-06-21 03:18] like-inspur commented on #79250
/sig efk

[2019-06-21 03:25] tedyu commented on #79211
Looks like we don't have a test where controller manager is restarted.
If such test is added, it would be easier to determine the code change.

[2019-06-21 03:28] yue9944882 commented on #79233
https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20180415-crds-to-ga.md

it's in the post-GA-task list

[2019-06-21 03:31] afagund commented on #79244
As I mentioned, I removed the flags and used the config file, however, I am seeing another error after that:

Jun 20 19:26:22 etcd1 systemd: Started kubelet: The Kubernetes Node Agent.
Jun 20 19:26:23 etcd1 systemd: Started Kubernetes systemd probe.
Jun 20 19:26:23 etcd1 kubelet: I0620 19:26:23.038340 15772 server.go:425] Version: v1.15.0
Jun 20 19:26:23 etcd1 kubelet: I0620 19:26:23.038558 15772

[2019-06-21 03:42] igoratencompass commented on #70147
+1 for this feature and think imagePullSecrets are a good candidate for resource being (optionally) available cluster wide. It makes for a DRY approach to k8s objects in sense of why recreating a private registry credential secret over and over again for each namespace we create?

[2019-06-21 03:51] tedyu commented on #79244
From BuildAuth :
[code]
It seems client was nil.
In turn:
[code]
kubeDeps.KubeClient was nil.
This is because you were in standalone mode.

[2019-06-21 03:56] huangjiasingle commented on #79211
@tedyu  that's right.

[2019-06-21 03:59] tedyu commented on #79244
I wonder if the auth should be dependent on whether standaloneMode is not true:
[code]

[2019-06-21 06:37] wybzju commented on #78733
@mattjmcnaughton @freeformz @brosner
the container status will be set twice with two different status(false and true) in one probe, is this consistent with the expected behavior and why?

[2019-06-21 06:41] draveness commented on #79234
FYI: instructions for vendor related scripts: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/vendor.md

[2019-06-21 07:01] ChenLong2014 opened #79265 "pod cannot support fuse : sys_admin : apparmor:unconfined"
I use s3fs in the docker, so i try to avoid to use **--privileged**, finally I find the command which is useful to me.

My docker image is from ubuntu.16.

I try to find a YAML , in order to set the command : sys_admin ,fuse ,apparmor:unconfined. But I cannot. So is anyone can help me. how to put the command into the yaml.

apiVersion: v1
kind: Pod
metadata:
  annotations:
	container.apparmor.secu

[2019-06-21 07:01] bpownow commented on #65502
just to add another use case, we're struggling with pods that have several containers (e.g. stats, logging, envoy, and service containers). in the case of crons, whenever envoy and the service start up before the rest of the containers, the pod starts taking traffic before stats and logging can catch up).

[2019-06-21 07:05] alenkacz commented on #71541
These are all the non-test containers running there at the time the test fails (because there's no extra space to schedule the last successful pod)

[code]

[2019-06-21 07:12] ChenLong2014 commented on #79265
/sig Doc /sig Node

[2019-06-21 07:13] insider89 commented on #63022
It's really nice to have feature. It would be great to have it.

[2019-06-21 07:16] humblec commented on #79234
@dims thanks, I am on it :)

[2019-06-21 07:19] yujintang commented on #56903
alpine will trigger 5s delays

[2019-06-21 07:34] alenkacz commented on #71541
I went over all the pods that were on the node before the test started and then after and diff-ed all the pods that are not started by the test "grep -v maxp-" and did not found any pod that would start in the middle of test and was not present in the beginning :/

but there were 18 pods in the beginning, 330 is the full capacity so we should have started 312 to fully saturate, while we were tryin

[2019-06-21 07:45] alenkacz commented on #71541
Can we possibly be missing some pods here? https://github.com/kubernetes/kubernetes/blob/ec02afb46edba4f673173811491498c709de990a/test/e2e/framework/pod/resource.go#L683 pods with no node assigned that are not unschedulable?

[2019-06-21 08:08] helixzar commented on #77646
Have the same problem were you able to make any progress with this ?

round_trippers.go:438] GET https://xxxx:6443/api/v1/nodes/xxxxx 404 Not Found in 3 milliseconds

[2019-06-21 08:13] PaulFurtado commented on #67577
@chiluk any chance you've already posted a version of this patch that is compatible with kernel 4.14 already? I'm looking to test it pretty aggressively since we've just upgraded a few thousand hosts to 4.14.121 (from 4.9.62) and are seeing:
1. A reduction in throttling for memcached, mysql, nginx, etc
2. An increase in throttling for our java apps

Really want to roll forward to get the best of b

[2019-06-21 08:15] josephburnett commented on #78988
@max-rocket-internet there is also a KEP out for configuring scale velocity: https://github.com/kubernetes/enhancements/blob/master/keps/sig-autoscaling/20190307-configurable-scale-velocity-for-hpa.md

You could ping @gliush who is working on it now.

[2019-06-21 08:26] lurenjia528 opened #79266 "kube-proxy command line not effect"
kube-proxy v1.14.2 use ipvs
[code]
do not effect
and the config file effect
[code]

[2019-06-21 08:36] hainesc commented on #79250
The error message told you that `User "system:serviceaccount:kube-system:fluentd-es" cannot list pods at the cluster scope`, so you should check the role of this serviceaccount(maybe you need a ClusterRole while you create a Role), and also check what this role can do.

See the doc of [RBAC](https://kubernetes.io/docs/reference/access-authn-authz/rbac/)

[2019-06-21 08:37] hainesc commented on #79250
I don't think it is a bug on your given message.

[2019-06-21 08:46] like-inspur commented on #79250
I create cluster role successfully, otherwise other pods can't run normally. Only one pod always restart and output error. Is it possible that the node which this pod located may has some error?

[2019-06-21 08:50] max-rocket-internet commented on #78988
Ahhh that's looks super great!

💯

What's the ETA for this @gliush? Is there a PR I can follow?

[2019-06-21 08:52] draveness commented on #79234
I opened a PR to update  github.com/prometheus/common to v0.6.0 https://github.com/kubernetes/kubernetes/pull/79261

[2019-06-21 08:54] hainesc commented on #79250
Check it.
The failed pod may use a wrong serviceaccount token while others use the right one.

[2019-06-21 09:01] MartinVUALTO commented on #67592
I really wish this had some responses! This is exactly the problem we have. There seems to be no way to prevent failures in a pod that is being deleted, it will always continue to receive some traffic during its shutdown phase and because TERM is sent at the same time as the preStop is executed the container just exits. If preStop was called before TERM was sent then this would mean adding sleep i

[2019-06-21 09:04] yann-soubeyrand commented on #60807
Thanks a lot @jecafarelli, you helped me solve my issue the right way ;-)

I had installed cert-manager on an OpenShift cluster inside the cert-manager namespace and when I tried to delete this namespace, it got stuck in terminating state. Executing `oc delete apiservices v1beta1.admission.certmanager.k8s.io` seems to have solved the problem, the namespace is gone.

[2019-06-21 09:09] liqlin2015 opened #79268 "kubectl log/exec failed on container running on worker node"
**What happened**:

1. Deploy k8s cluster with 2 machines: a master and a worker. After installation, confirmed everything worked as expected: I was able to kubectl exec into a pod on the worker node.
2. Uninstalled the worker node.
3. Provisioned another worker node with same hsotname, but different IP.
4. The new worker node joined the k8s cluster. Run `kubectl exec -it <pod name> bash` to check

[2019-06-21 09:10] liqlin2015 commented on #79268
sig / node

[2019-06-21 09:15] wuyafang commented on #62013
This feature makes sense for us. And maybe we need different tolerance for different metrics.

[2019-06-21 09:26] mkozjak commented on #59078
/remove-lifecycle-rotten

[2019-06-21 09:26] scingiraj opened #79269 "How to refer AWS ECR images in pod"
Hello all,

How can we refer images stored in AWS ECR  in the pods rather than pulling the images from dockerbub?
Scenario :  While creating the pod in a AWS Kubernetes cluster, we will create the pod.yaml as below-

apiVersion: v1
kind: Pod
metadata:
  name: nginx-pod
  labels:
    name: nginx-pod
spec:
  containers:
  - name: nginx
    image: nginx:latest

Here, we are referring the image nginx

[2019-06-21 09:40] like-inspur commented on #79250
I use fluentd daemonset and config same serviceAccountName, so I can't understand why only one pod output that error. And I check serviceaccount and clusterrole in the k8s environment, they are created normally.

[2019-06-21 10:34] kisshore commented on #25456
anyone tried with finalizers?

[code]

[2019-06-21 10:55] albertvaka commented on #49387
This can already be done in `kubectl` using jsonpath output:

Eg: this will print the `namespace` and `name` of each pod in `Running` state.
[code]

[2019-06-21 11:07] mwmix commented on #79234
@dims I will try my hand at the heketi dependency then. And I will drop any questions I may have in the chat you suggested. Ty!

[2019-06-21 11:07] timyinshi opened #79271 "sample-apiserver-deployment does not have minimum availability"
**Which jobs are failing**:
When I run the e2e use case, I find an error. Who can help me explain why?

**Which test(s) are failing**:
<*errors.errorString | 0x40001db520>: {
          s: "error waiting for deployment \"sample-apiserver-deployment\" status to match expectation: deployment status: v1.DeploymentStatus{ObservedGeneration:1, Replicas:1, UpdatedReplicas:1, ReadyReplicas:0, AvailableRep

[2019-06-21 11:09] timyinshi commented on #79271
/sig testing

[2019-06-21 11:28] humblec commented on #79234
@mwmix as mentioned here https://github.com/kubernetes/kubernetes/issues/79234#issuecomment-504320005, I am on it :)

[2019-06-21 11:36] josephburnett opened #79272 "Clarify HPA Value vs. AverageValue"
The autoscaling v2 APIs allow users to specify either `Value` or `AverageValue` for custom and external metrics.  On the surface, it looks like the only difference between them is whether the metric value is divided by the number of Pods or not.  However in implementation (and I believe in design) they behave quite differently.

## Value

When `Value` is given as a target for a custom or external

[2019-06-21 11:46] ChenLong2014 commented on #79265
sorry about writing a long YAML.

[2019-06-21 11:46] josephburnett commented on #79272
/sig docs

[2019-06-21 11:51] omegazeng commented on #60729
Need this feature, too.

Like this: https://github.com/kubernetes/kubernetes/issues/31613#issuecomment-264006483

API doc: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#nfsvolumesource-v1-core

[2019-06-21 11:54] blackpiglet commented on #67243
@jsilberm  Yeah, agreed. I am pretty shocked to see pod still running on the cordoned node.

[2019-06-21 12:02] josephburnett opened #79274 "Calculate Object and External metrics with AverageValue targets with spec replicas."
**What happened**:

`replicaCount` for per-pod object and external metrics is recomputed during a Deployment rollout when additional surge capacity is added.

https://github.com/kubernetes/kubernetes/blob/737d74d12de86481b17d2f361edd70b26580b139/pkg/controller/podautoscaler/replica_calculator.go#L268-L273

Notice that the `usageRatio` calculation takes the current number of replicas into account.

[2019-06-21 12:08] krzysied commented on #79096
When additional calls started to happen, there was also huge cpu usage drop in the main components:

[apiserver cpu usage](http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=E2E&metricname=LoadResources&PodName=kube-apiserver-gce-scale-cluster-master%2Fkube-apiserver&Resource=CPU)

[scheduler cpu usage](http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=E2E&metric

[2019-06-21 12:09] josephburnett opened #79275 "Return boolean to not scale instead of current scale."
**What would you like to be added**:

The HPA replica calculator takes the current replica count as a function input.  If it determines no change to scale is needed, it returned the current replica count as a recommendation.

https://github.com/kubernetes/kubernetes/blob/737d74d12de86481b17d2f361edd70b26580b139/pkg/controller/podautoscaler/replica_calculator.go#L191-L194

I would prefer to return

[2019-06-21 12:18] luvkrai commented on #49387
@albertvaka that won't show if you have a pod with `CrashLoopBackOff`

[code]

[code]

Also i need output format similar to `kubectl get pod`

[2019-06-21 12:27] adisky opened #79276 "cloud-provider-openstack jobs failing due to undefined: tls.VersionTLS13"
**What happened**:
cloud-provider-openstack jobs failing on kubernetes version 1.15 due to undefined: tls.VersionTLS13, it is only supported in go 1.12
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.15
- Cloud provider or hardware conf

[2019-06-21 12:27] #60957 closed

[2019-06-21 12:52] iamdenchik commented on #76146
trouble resolved by set current apiserver

[2019-06-21 13:03] josephburnett commented on #79158
Original reason for using 100% utilization for missing metrics when scaling down: https://github.com/kubernetes/kubernetes/issues/30471#issuecomment-249879455

[2019-06-21 13:04] sayarg commented on #79233
thanks all for the details. i'll go ahead a close the issue and wait for post GA.

[2019-06-21 13:04] #79233 closed

[2019-06-21 13:42] mattjmcnaughton commented on #78950
On Thu, Jun 20, 2019 at 04:21:34PM -0700, David Ashpole wrote:

Thanks!

[2019-06-21 14:12] mattjmcnaughton commented on #79265
I'll try and take a look at this tomorrow! In the meantime, here is the documentation around capabilities - anything helpful here: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-capabilities-for-a-container?

Also, can you please post the failure message you are seeing?

[2019-06-21 14:17] albertvaka commented on #49387
That's the point.

You can customize the columns you want to display with jsonpath.

[2019-06-21 14:18] justinsb commented on #79269
https://kubernetes.io/docs/concepts/containers/images/#using-aws-ec2-container-registry

[2019-06-21 14:18] #79269 closed

[2019-06-21 14:22] krzysied opened #79277 "[Failing test] GCE-5000: Replication controller having 409 code calls"
**Which jobs are failing**:
gce-scale-performance

**Which test(s) are failing**:
Load test

**Since when has it been failing**:
2019-05-28 10:01 CEST (?)

**Testgrid link**:
https://testgrid.k8s.io/sig-scalability-gce#gce-scale-performance

**Reason for failure**:
It's not failing test. It's an unexpected behavior.

**Anything else we need to know**:
Could be connected with #79096 issue.

[2019-06-21 14:24] krzysied commented on #79277
/sig scalability

[2019-06-21 14:29] krzysied commented on #79277
![rc_409](https://user-images.githubusercontent.com/25119199/59929503-3c7b2800-9441-11e9-92a1-ec381eacbc1f.png)
http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=APIServer&metricname=LoadRequestCountByClient&client=kube-controller-manager%2Fv1.16.0%20(linux%2Famd64)%20kubernetes%2Fsystem:serviceaccount:kube-system:replication-controller&code=409&component=apiserver&group=&resourc

[2019-06-21 14:31] krzysied commented on #79277
Because this regression happened between run 1132919740835041284 and 1133282130554523650, it could be connected with #79096.

[2019-06-21 14:33] krzysied commented on #79277
Apiserver logs:
[code]

[2019-06-21 14:42] krzysied commented on #79096
I've added separate issue for increased number of RC/status update calls - #79277. This regression also started on 2019-05-28 so it can be somehow connected.

[2019-06-21 15:20] sanjitsaluja commented on #29789
/remove-lifecycle stale

[2019-06-21 15:24] krzysied commented on #79096
Regarding density test and difference between runs 1134007042525106179 and 1140530001343418374...

Run 1134007042525106179: 5004 pods listing calls where made during initialization. 5001 of them were unique.
Run 1140530001343418374 5506 pods listing calls where made during initialization, 5001 of them were unique.

Apiserver handles ~50 pod list per minute, so these 500 additional call convert to

[2019-06-21 15:35] alejandrox1 commented on #77095
updates:
* resource/runtime.go is done (I accidentally took it from @draveness) in #79150
* pods/* is largely done in  #77526 - there are some leftover functions waiting for kubectl-related functions to be refactored.

[2019-06-21 15:36] krzysied commented on #79096
Apisever logs
[code]

[Node logs](https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1140530001343418374/artifacts/gce-scale-cluster-minion-group-1-019l/)
[kube-controller-manager logs](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1140530001343418374/artifacts/gce-scale-cluster-master/kube-controller-manager.l

[2019-06-21 15:37] krzysied commented on #79096
Line ```W0617 08:28:42.990200       1 actual_state_of_world.go:506] Failed to update statusUpdateNeeded field in actual state of world: Failed to set statusUpdateNeeded to needed true, because nodeName="gce-scale-cluster-minion-group-1-019l" does not exist``` seems like a issue here, however I'm not sure what caused it...

[2019-06-21 15:41] alejandrox1 commented on #76206
Hi @draveness i noticed that test/e2e/framework/metrics_util.go hasn't been started yet, could I take it?

[2019-06-21 15:58] vladimirvivien commented on #75220
Thanks @kfox1111

[2019-06-21 16:02] hibbert opened #79279 "Port ranges for ELB SG or allow for main SG to be managed"
**What would you like to be added**:

One of either:-

* Allow a port range
* Allow SG to be created and managed outside of k8s and added in, some sort of annotation like service.beta.kubernetes.io/aws-load-balancer-extra-security-groups

**Why is this needed**:

You can end up running into security group rule limits, due to K8S managing the SG for the ELB and adding rules for each specific port

[2019-06-21 16:05] hibbert commented on #79279
/sig aws

[2019-06-21 16:15] bitenca84 commented on #75767
I have the same problem after update kube to 1.13.3 from 1.14.3. I check that kubelet was using a lot of memory and cpu. When the node is reboot that issue are fixed temporally.

[2019-06-21 16:18] vladimirvivien commented on #75222
/remove-lifecycle stale

[2019-06-21 16:22] vladimirvivien commented on #64952
@cwdsuzhou is this fixed by #79144  ?

[2019-06-21 16:28] vladimirvivien commented on #67853
@timoreimann I don't believe this was addressed explicitly.
@jsafrane @msau42 do you know of any forced reconciliation in external-attacher that would garbage collect orphaned VolumeAttachment objects if the node goes away suddenly?

[2019-06-21 16:36] paulhodson commented on #52757
I too am interested in sharing devices across pods. I have a device plugin which is currently advertising copies of the device for different containers in a pod (e.g. mydomain.com/mydevice-cont1, mydomain.com/mydevice-cont2) but sharing would definitely be more elegant.

[2019-06-21 17:03] #79229 closed

[2019-06-21 17:40] mvladev opened #79280 "Master service of type ExternalName doesn't set correct environment variables"
**What happened**:

`kube-apiserver` is running with turned off master endpoint reconciler:

[code]

The master (`default/kubernetes`) service is created manually with `type: ExternalName`:

[code]

A new Pod is created in some namespace and then environment variables are checked:

[code]

**What you expected to happen**:

`KUBERNETES_SERVICE_PORT` and `KUBERNETES_SERVICE_HOST` environment variabl

[2019-06-21 17:55] Creatone commented on #79209
/assign

[2019-06-21 18:00] Creatone commented on #79209
I intend to work with that issue.

[2019-06-21 18:17] mathisub commented on #77575
My issue was resolved by updating the hpa pod yaml with the correct syntax for v2beta2 version.
Example:
kind: HorizontalPodAutoscaler
apiVersion: autoscaling/v2beta2
metadata:
  name: mypod
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: mypod
  minReplicas: 1
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: memory
      target:
        type

[2019-06-21 18:19] mathisub commented on #77575
didn't copy appropriately: pasting the metrics portion:
metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 50

[2019-06-21 18:30] hamiBU opened #79281 "How can I find PodSpecs object?"
I'm trying to find PodSpecs struct object in [kubernetes GitHu](https://github.com/kubernetes/kubernetes)b. Where is its exact place?

[2019-06-21 19:16] #78574 closed

[2019-06-21 19:16] #71105 closed

[2019-06-21 19:18] johnSchnake commented on #78699
I am putting up the PR for the go runner, but fwiw I wanted to ping this ticket and mention that I have been getting this PID issue in Sonobuoy's CI system probably once a day.

[2019-06-21 19:54] mucahitkurt commented on #74374
@msau42 ,

Most probably there won't be any side effect checking the missing PVCs with `CreatePersistentVolumeClaims` method regarless of pod state, because as far as I understand this method works in a idempotent way.

Checking pod's PVCs existence at every sync operation can create some performance effect.

I don't know about the different scenarios that we need to check the existence of pod's P

[2019-06-21 19:57] krzysied commented on #79096
I looked into controller code. There is no way to re-register node in node_lifecycle_controller without deleting node first or restarting the controller-manager.

Then I've found in the logs:
[code]

which explains the additional node adds.

[2019-06-21 20:43] yujuhong commented on #79046
/assign @dashpole

[2019-06-21 20:47] dashpole commented on #79046
cc @RobertKrawitz

[2019-06-21 20:49] vincepri commented on #77624
Is this still the case for 1.15? If not, we should probably close it

[2019-06-21 20:49] vincepri commented on #77624
/priority awaiting-more-evidence

[2019-06-21 20:53] rdodev commented on #77624
@vincepri I thought we had agreed this was a doc issue, right? If so, if the docs have been fixed, then we can close this issue.

[2019-06-21 21:05] yujuhong commented on #46255
Unfortunately, I don't think anyone with enough knowledge has had cycles to re-design/implement the API.

[2019-06-21 21:26] vincepri commented on #77624
/kind documentation

[2019-06-21 21:51] benmoss commented on #79232
I think the solution I came up with is telling the kube-apiserver to use `--kubelet-preferred-address-types` like suggested in  https://github.com/kubernetes/kubernetes/issues/22770#issuecomment-266215007

/close

[2019-06-21 21:51] #79232 closed

[2019-06-21 21:51] Bregor commented on #19317
Same here in `1.15.0`

[2019-06-21 22:14] mucahitkurt commented on #75273
/remove-lifecycle stale

[2019-06-21 22:48] #78950 closed

[2019-06-21 23:14] logicalhan opened #79286 "Some kubelet metrics use non-standard prometheus collectors unnecessarily"
Some kubelet metrics use non-standard prometheus collectors unnecessarily. Specifically, we have [two metrics `running_pod_count` and `running_container_count`](https://github.com/kubernetes/kubernetes/blob/v1.15.2/pkg/kubelet/metrics/metrics.go#L430-L439) which can be simple gauges. Since we cannot migrate non-standard prometheus collectors using the internal metrics stability framework, we will

[2019-06-21 23:24] BenTheElder commented on #79234
Filed a PR for the libseccomp package https://github.com/kubernetes/kubernetes/pull/79287

[2019-06-21 23:59] logicalhan commented on #79286
@dashpole recommends that we generate those metrics in the GenericPLEG during the relist. We can generate the data directly from the pods call there (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/pleg/generic.go#L211).

[2019-06-22 00:31] janetkuo commented on #74374
An alternative is to get PVC directly from API server instead of cache to avoid the race. The logic would be straightforward and the code change is small.

We'll only do this when creating a Pod with an existing PVC. Therefore, the chance of hitting this case should be pretty low, and the impact to API server should be small too.

[2019-06-22 01:12] krmayankk commented on #72253
/remove-lifecycle stale

[2019-06-22 01:13] krmayankk commented on #72253
@runcom  can you update if you are working on this ?
cc @tallclair

[2019-06-22 01:49] qqzeng commented on #70044
the same situation with me.

[2019-06-22 01:52] #77586 closed

[2019-06-22 01:52] #78006 closed

[2019-06-22 01:52] #79046 closed

[2019-06-22 02:48] sarjeet2013 commented on #74359
/remove-lifecycle rotten

[2019-06-22 03:43] draveness commented on #76206
I was blocked by the Failf method which has just merged into master, please feel free to take it.

[2019-06-22 04:39] almiche commented on #79281
Hi there I just took a quick look is this what you're looking for by chance ?
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go#L2816

[2019-06-22 04:58] almiche commented on #79231
Hi there are you actually just running `kubectl logs -n <namespace>` ? To my knowledge you need to specify a resource type and the name of this resource whose logs you would like to view for example `kubectl logs pod/example -n test_namespace`

What do you hope to achieve by running this command I am just curious. Do you wish to just get a dump of every log coming out of every resource in your nam

[2019-06-22 05:14] almiche commented on #79224
👋  Hi there I'm just curious if you could expand on some more reasons why this feature should be introduced. Since in order to use the secret inside a deployment for example I would then have to reference the ConfigMap which references the secret resource adding an additional layer I'd need to go through.

[2019-06-22 05:16] liggitt commented on #79276
this is working as designed, go1.12 is required for 1.14 and 1.15 (the PR to add support for TLS 1.3 will be backported to 1.14 as well)

[2019-06-22 05:16] #79276 closed

[2019-06-22 05:18] liggitt commented on #79145
correct, closing as duplicate of #72102

/close

[2019-06-22 05:18] #79145 closed

[2019-06-22 05:27] thusihaveheard commented on #19317
Have you solved it?

[2019-06-22 05:30] thusihaveheard commented on #19317
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.0", GitCommit:"641856db18352033a0d96dbc99153fa3b27298e5", GitTreeState:"clean", BuildDate:"2019-03-25T15:53:57Z", GoVersion:"go1.12.1", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.1-k3s.4", GitCommit:"52f3b42401c93c36467f1fd6d294a3aba26c7def", GitTreeState:"clean",

[2019-06-22 07:00] memorais commented on #72467
Hi @mcluseau I detected the same behavior on my environment. In my case it started to happen after a migration from 1.13.3 to 1.14.3. Do you figured out whats happening and possible workarounds?

I'm thinking to back with Docker instead of CRI-O... :(

[2019-06-22 07:16] mcluseau commented on #72467
Hi @memorais, we switched back to containerd for now. I don't know when we'll have time to test again. Since you observe that behavior, I think this bug should be reopened.
/reopen

[2019-06-22 07:31] debu99 commented on #40651
+1

[2019-06-22 07:38] #78287 closed

[2019-06-22 07:44] memorais commented on #72467
Thanks for your quick response. So containerd seems to be an effective solution, I'll give a try since this seems a quite severe bug IMHO. Fortunately I did not migrate this to production, just happening in my test and dev environment.

[2019-06-22 08:23] collimarco commented on #79224
@almiche It would be useful to have **a single source of truth**: if you have different deployments that share the same env, then you can use a ConfigMap and define all the variables there... but currently it cannot contain secrets, which represent a substancial portion of the env variables.
Also consider that we usually store the ConfigMap in the Git repo, while the Secrets are only defined in Ku

[2019-06-22 08:51] cmcarey commented on #19317
I have not, no.  Incredible that such an issue has been unfixed for over three years.

[2019-06-22 09:07] fcvarela commented on #71071
Can we reopen? We're seeing this issue on 1.12.7.

[2019-06-22 11:10] sashayakovtseva commented on #75549
Found issue, cri respond with a new line at the end of the version, e.g. "v3.0.0\n", so kubelet was unable to parse it correctly.

[2019-06-22 11:10] #75549 closed

[2019-06-22 11:25] matti commented on #68605
/reopen

[2019-06-22 12:14] ChenLong2014 commented on #66216
@evanrich
@liggitt

[2019-06-22 12:22] mkozjak commented on #59078
/remove-lifecycle rotten

[2019-06-22 12:27] ChenLong2014 commented on #79265
Thanks mattjmcnaughton !
my reference is following:
About docker
[](https://github.com/moby/moby/issues/16233)
[](https://github.com/moby/moby/issues/9448)
About K8S
[](https://stackoverflow.com/questions/51343504/cant-get-container-to-take-apparmor-profile-in-k8s)
[](https://github.com/kubernetes/kubernetes/issues/66216)

I don`t see the POD yaml to solve this problem. Or is there any thing I nee

[2019-06-22 13:48] mattjmcnaughton commented on #79280
@mvladev thanks for your detailed issue report!

It seems like you have a good idea of a potential fix. Do you have the capacity/interest for doing a quick [WIP] so we can take a look at some code?

[2019-06-22 13:51] mattjmcnaughton commented on #79268
Thanks for your error report here :)

Can you confirm that running `dig` on the hostname in question returns the new IP and not the old IP? I would be decently surprised if there was dns caching going on with k8s... I think its more likely that either your servers/machines, or your dns provider, is doing some caching. Getting the results of a `dig` when this is failing will help us understand it b

[2019-06-22 13:57] mattjmcnaughton commented on #79194
@Pingan2017 thoughts on a fix for this?

Maybe we could do some form of rate limiting when mounting k8s volumes? Do you know if patterns exist for that type of behavior in k8s?

[2019-06-22 14:17] tedyu commented on #79275
Something like this (handling of the boolean by the caller is to be plugged in) ?
[code]

[2019-06-22 14:24] tedyu commented on #79275
It seems GetRawResourceReplicas and GetMetricReplicas pass the return values from calcPlainMetricReplicas to their callers.
The boolean return would need to be surfaced from these two func's as well.

[2019-06-22 14:49] mvladev commented on #79280
@mattjmcnaughton I've the fix ready, just need to adapt the fix. I'll probably fire a PR tomorrow

[2019-06-22 15:14] draveness commented on #79275
/assign

[2019-06-22 15:23] draveness opened #79297 "TestBindPlugin is flaky"
**Which jobs are failing**:

pull-kubernetes-integration

**Which test(s) are failing**:

TestBindPlugin

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/79293/pull-kubernetes-integration/1142426772172705796/

**Reason for failure**:

[code]

[2019-06-22 15:23] draveness commented on #79297
/kind flaky
/sig scheduling

cc/ @chenchun @bsalamat

[2019-06-22 16:29] dungdm93 opened #79299 "`kubectl get crd` should show more info"
It would be nice if `kubectl get crd` show more useful information by default suck as `apiVersion`, `kind`, `scope` like:
![crd](https://user-images.githubusercontent.com/6848311/59966325-35d5d900-9545-11e9-8ccd-548aa78235e5.png)

My custom columns file: `crd.columns`
[code]

[code]
@kubernetes/sig-cli
/sig cli

[2019-06-22 16:33] benmathews commented on #45967
/remove-lifecycle stale.

[2019-06-22 17:30] mcluseau commented on #72467
Yes, containerd is nice too, we have 10 production clusters and 12 non-production clusters, both metal and virtualized, working well.

[2019-06-22 17:41] dannyk81 commented on #60751
@wknapik we recently hit this issue on several clusters running workers on VMs, using a `haveged` daemonset seem to alleviate the entripy pool depletion, however the main concern (from what I'm reading) with this method is the quality/randomness of the generated pool.

[2019-06-22 18:15] liggitt commented on #60729
There was significant discussion around this when introducing mount options in https://github.com/kubernetes/community/pull/321#issuecomment-279822350

The resolution was that mount options would only be supported for PV/PVC volume sources, not inline pod volumes.

/close

[2019-06-22 18:15] #60729 closed

[2019-06-22 19:12] liggitt commented on #79224
Best practice is to not use secret values in envvars, only as mounted files. if you want to keep all config values in a single object, you can place all the values in a secret object and reference them that way.

Referencing secrets via configmaps is a non-goal... it confuses whether things mounting or injecting the config map are mounting confidential values.

/close

[2019-06-22 19:35] agrakhov commented on #74340
Just a followup - in my case issue has been fixed by updating kubeadm to 1.15.00 and switching to flannel network (I'm running on arm64) .

[2019-06-22 20:13] russell opened #79304 "kubelet filling iptables with duplicate rules"
**What happened**:

[code]

wait 3 minutes....

[code]

When I investigated further, on v1.15.0, I see the following in the kubelet logs

[code]

So, i ran the iptables rule check manually,

[code]

if i then looked in the output of `iptables-save` to see what it it storing, when I re-order the arguments to match the output of `iptables-save`

[code]

so it looks like these iptables arguments are

[2019-06-22 20:21] russell commented on #79304
@kubernetes/sig-node-bugs

[2019-06-22 20:25] liggitt commented on #72637
It is not.

A redirect is better conceptually, but quickly gets pretty deep in the weeds... determining a TLS-verifiable connection to a network endpoint visible to all kube API consumers is non-trivial for things running inside the cluster to do currently.

[2019-06-22 20:43] liggitt commented on #75564
It happens in the REST handler strategy so that it is impossible for any changes to status to occur when modifying via the main resource (and vice-versa... it is impossible for changes to spec to occur via the status subresource). If this was done via admission early in the chain, a mutating webhook admission plugin could choose to make changes to spec or status via an unexpected endpoint

[2019-06-22 20:46] #66952 closed

[2019-06-22 20:53] liggitt commented on #78698
sgtm

[2019-06-22 21:17] neolit123 commented on #79244
/remove-sig api-machinery docs
/triage support

[2019-06-22 21:19] neolit123 commented on #79244
/remove-kind bug
cc @pytimer could you please take a look at this `setup-ha-etcd-with-kubeadm/` related issue.

[2019-06-23 00:59] subodh-dharma commented on #74339
Upgrade to kubectl 1.15. The link is no longer valid.

/close

[2019-06-23 00:59] #74339 closed

[2019-06-23 05:51] pytimer commented on #79244
@neolit123 OK, sorry to reply late. I will look this issue.

[2019-06-23 06:54] bowei commented on #72757
We remove the usage of this label from the addon manager first, then after that proves to be successful, remove the label.
Removing the label while keeping the addon code feels like the wrong order.

[2019-06-23 07:15] #63959 closed

[2019-06-23 07:25] pytimer commented on #79244
@afagund You follow the document https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/#setting-up-the-cluster the first step , kubelet still not work? I have already update this document and testing kubelet, it show some flags has been deprecated, but kubelet running. If you use config file, the authorization mode default is webhook.

Could you try delet

[2019-06-23 08:32] draveness opened #79308 "Cleanup feature gates which should be removed in 1.16"
The features flag below should be removed from the codebase.

- [x] 508:	HugePages https://github.com/kubernetes/kubernetes/pull/79307
- [x] 523:	VolumeScheduling https://github.com/kubernetes/kubernetes/pull/79307
- [ ] 524:	CSIPersistentVolume https://github.com/kubernetes/kubernetes/pull/79309
- [x] 527:	CustomPodDNS https://github.com/kubernetes/kubernetes/pull/79307
- [x] 550:	PodReadinessGat

[2019-06-23 08:37] draveness commented on #79308
/assign
/priority important-soon
/sig release // not sure, feel free to remove this

[2019-06-23 09:45] #77152 closed

[2019-06-23 10:21] farcaller commented on #70013
/remove-lifecycle stale

[2019-06-23 11:34] collimarco commented on #79224
@liggitt

Indeed I am not doing that in my proposed solution. I am just referencing secrets from env variables, not including secrets in env variables. You already allow to reference secrets from env, in Deployments for example: the problem is that you don't allow to do the same inside ConfigMaps.

1. IMHO this is not the right solution, otherwise why do you offer config and secrets as two separat

[2019-06-23 12:11] liqlin2015 commented on #79268
We did not configure DNS to resolve the hostname. Just use the local `/etc/hosts`. And I can confirm `ping` will return the new IP.
Would like to understand how kubernetes resolve the hostname of worker node?
Forget to mention restart of k8s service will resolve the problem.

[2019-06-23 12:41] awsdevopro commented on #44665
If you're using minikube, then you need to start the minikube and then it will be alright.

$ minikube start

Once it's up and running, check the kubectl version

$ kubectl version

Hope this helps

[2019-06-23 16:09] rajendragosavi commented on #53356
This issue is fixed in the latest version of kubernetes. Just reset the kubeadm and remove the /var/lib/etcd as kubeadm is expecting it to be empty.

Then start the kubeadm init.
It should work fine.

[2019-06-23 16:15] chenchun commented on #79297
I'll take a look

[2019-06-23 16:18] #59477 closed

[2019-06-23 18:21] mattjmcnaughton commented on #79280
Wonderful - let some comments on your pr!

[2019-06-23 18:31] mattjmcnaughton commented on #79304
/remove-sig node
/sig network

I _think_ although very possible that I'm wrong, that tagging this with sig/network gives you the best chance of getting a meaningful response. If I'm wrong, please feel free to add sig-node back and/or remove sig-network.

[2019-06-23 18:36] BenTheElder commented on #79308
/retitle Cleanup feature gates which should be removed in 1.16
I saw this issue and thought we were removing the features themselves 😅

[2019-06-23 18:51] BenTheElder commented on #78702
@stevekuznetsov 🤷‍♂ hasn't been a huge problem so far, the _small_ script ideally should just be non-branchy aliases around the bigger tools anyhow.

---

Another datapoint: nearly all of the tooling doesn't work on a stock macOS install anyhow (even ignoring docker).
- some of it requires more recent bash
- some of it requires md5sum
- some of it requires gnu-sed
- ... I'm sure we're installing o

[2019-06-23 19:21] BenTheElder opened #79315 "hack/updated-vendor-licenses.sh strips all hashes on macOS"
**What happened**: run `hack/update-vendor-licenses.sh` on macOS, all md5 hashes will be stripped from the output and the script will not fail or warn.

**What you expected to happen**: The script should work or detect this issue and fail. Currently it silently ignores `md5sum` not existing on the host.

We have some warning logic, but solely based on bash version, if the user upgraded their bash

[2019-06-23 19:21] BenTheElder commented on #79315
cc @vllry @cblecker @nikhita @liggitt

[2019-06-23 19:30] rchernobelskiy commented on #27308
To use different contexts in different terminals/shells and at the same time have this configuration picked up by other tools like helm I use the following in my `.bash_profile`:
[code]
It simply copies the default config to a temp one and sets KUBECONFIG to point to it.
Example usage:
`kc dev` - switch to dev context
`kn kube-system` - switch to kube-system namespace

And to get bash completion,

[2019-06-23 20:27] #79315 closed

[2019-06-23 22:15] nbwest commented on #79121
The cluster I see this behaviour on was stood up using kops.
Using another cluster stood up manually I get some results, but it then appears to hang timing out on a large number of completed pods.
When I can get some time I'll try and reproduce it on a manually built cluster

[2019-06-23 22:41] wiltonfelix commented on #65937
@newalp this working to me, thank you!

[2019-06-24 00:26] zerkms opened #79319 "Upgrade coredns to v1.4.0 or v1.5.0"
Disclaimer: this was originally reported at https://github.com/kubernetes/kubernetes/issues/78003, yet it should be reopened, since the PR was reverted.

**What would you like to be added**:
A newer version of coredns

**Why is this needed**:
Currently shipped v1.3.1 is affected by https://github.com/coredns/coredns/issues/2629 issue, which causes the cluster outage if API server goes away tempora

[2019-06-24 00:27] zerkms commented on #79319
/sig node

[2019-06-24 01:07] draveness commented on #79308
/reopen

[2019-06-24 01:19] liggitt commented on #79281
Yes, that's the PodSpec definition

/close

[2019-06-24 01:19] #79281 closed

[2019-06-24 01:41] draveness commented on #79308
Sorry for that 🤣

[2019-06-24 01:43] draveness commented on #79319
ref: https://github.com/kubernetes/kubernetes/pull/78033

[2019-06-24 02:29] pytimer commented on #79244
@afagund I follow the [setup-ha-etcd-with-kubeadm](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/) document to setup etcd, it works.

I can't repeat your problem, could you tell me your detailed steps? I will according to your steps try to repeat your problem.

[2019-06-24 03:19] pytimer opened #79323 "Kubelet: Support extended system info"
**What would you like to be added**:

Kubelet can support add extend system info, such as ipmi information.

**Why is this needed**:

Now i want to add other system info in node information. But i found it only add labels or annotations to do it, is it have another way to do it or kubelet can support add extend system info?

[2019-06-24 03:21] pytimer commented on #79323
/sig node

[2019-06-24 03:34] andrewrynhard opened #79324 "kubeadm: reset fails to remove etcd member"
**What happened**:
Running `kubeadm reset` fails to remove etcd member.

**What you expected to happen**:
I expect `kubeadm reset` to remove the node from the etcd cluster.

**How to reproduce it (as minimally and precisely as possible)**:
From a working 1.15.0 cluster, run `kubeadm reset` on a control plane node.

**Anything else we need to know?**:
I _think_ the issues is due to the wrong functi

[2019-06-24 03:34] andrewrynhard commented on #79324
/area kubeadm

[2019-06-24 03:35] andrewrynhard commented on #79324
/sig cluster-lifecycle

[2019-06-24 03:39] xieyanker opened #79325 "run k8s 1.14.3 version e2e test etcd failed on arm64"
I installed a k8s cluster, which version is 1.14.3 on arm64.
Then I runned e2e test failed at `"Should be able to support the 1.10 Sample API Server using the current Aggregator"`.
I found it used etcd's image version `quay.io/coreos/etcd:v3.3.10`, I executed `docker run quay.io/coreos/etcd:v3.3.10`  manually, I got `standard_init_linux.go:185: exec user process caused "exec format error"`;
Then I

[2019-06-24 03:46] xieyanker commented on #79325
/sig testing

[2019-06-24 03:47] hoyho commented on #72080
/reopen

[2019-06-24 04:35] NickrenREN commented on #74359
@sarjeet2013 , new KEP is here: https://github.com/kubernetes/enhancements/pull/1077
Comments are welcome, thanks

[2019-06-24 05:18] jhondge commented on #9521
I'm reinstall the [kubectl](https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-kubectl-on-macos) with the same version with minikube version, and it's working now.

[2019-06-24 05:40] peter-wangxu commented on #79090
@warlice I did a try with docker:
using  `hostpath` to bind the char device will meet the issue.

[code]
while add the char device as `--device` from docker works as expect
[code]

This definely deserve a  feature request for Kubernetes I think.

/assign peter-wangxu

[2019-06-24 06:04] Jeffwan commented on #68605
@matti In tree cloud provider has been removed. I think I need to submit a updated PR against legacy repo.

[2019-06-24 07:50] globervinodhn commented on #79126
Both you and @mgdevstack are reporting sub 2 minutes time but it still takes 11 minutes for me!!! Must be some env issues at my end. However, I am attaching the console log. Do let me know if you find any issues in it,

[11_slow_avoid_pod_test2.txt](https://github.com/kubernetes/kubernetes/files/3319765/11_slow_avoid_pod_test2.txt)

[2019-06-24 08:04] bwl-bwl commented on #73528
you can copy /etc/cni/net.d/* your computer ,copy /usr/lib/systemd/system/kubelet.servers.d to your computer

[2019-06-24 08:07] mynkpl1998 opened #79328 "How to set custom Node OS"
Hi, I am working on a project where my docker image is very huge in size and pulling it on every node when K8s cluster scale takes time. As a solution, I have created an image of a VM instance where the image is pulled already. Now, I want each of the k8s Node to use this as the Node Image. I tried to edit the config-default.sh. However, the solution didn't work. It was able to create the cluster.

[2019-06-24 08:14] huangjiasingle commented on #79211
@deads2k @derekwaynecarr@ @mikedanese @janetkuo can you help me？

[2019-06-24 08:17] huangjiasingle commented on #79155
@mattjmcnaughton  what's the result of you test?

[2019-06-24 08:20] huangjiasingle commented on #79155
@Random-Liu @dchen1107 @derekwaynecarr @yujuhong can you help me to annilysis the problem?

[2019-06-24 08:33] gaorong commented on #78633
close this as #78883 is merged

[2019-06-24 08:33] #78633 closed

[2019-06-24 09:35] ewirch commented on #25745
It is a hard limit of GCE URLMap resource: https://cloud.google.com/load-balancing/docs/quotas

Feature request to increase the limit: https://issuetracker.google.com/issues/126946582

[2019-06-24 10:02] iyezhou opened #79332 "no route to host"
hi, When I add node to cluster, the nodes and master cannot get each connection.

the calico-node got error

[code]

and execute ping return

[code]

but sometime the master and nodes work successful, the nodes fail uncertain! thanks

[2019-06-24 10:05] huangjiasingle commented on #55713
@marczahn you can see the pod spec's tolerations and the node taints which the node of not ready. the logic of the pod eviction when the kubelet if down is like this:  it's will macth the toleration of the pod and the node taint's, if the  tolateration include the taint's, itl's will be trigger the evition(the act is to call apiserver delete pod by deleteOption{gracePeriod:0} ).

[2019-06-24 10:13] #79324 closed

[2019-06-24 10:18] gj19910723 opened #79333 "delete pod but umount pv （ceph rbd ）failed"
**What happened**:

I delete some pods used pvc(ceph rbd),and umountd device failed.

**What you expected to happen**:

I hope kubelet can umounted the device ,then the new pod can mount the device.

**How to reproduce it (as minimally and precisely as possible)**:

We uninstalled flannel network plugin from our k8s cluster,and installed calico in the cluster.then we restart all pod in cluster,but

[2019-06-24 11:23] hex108 commented on #65797
Just sent a PR for it, implemented it using pod annotations.  cc @filipre

[2019-06-24 11:26] lucaim commented on #71134
/reopen

[2019-06-24 11:26] lucaim commented on #71134
/remove-lifecycle rotten

[2019-06-24 11:45] anguslees commented on #53533
/remove-lifecycle stale.

[2019-06-24 12:02] wojtek-t commented on #73519
We promissed to finish that in 1.16 to allow removing that metric.
So we should prioritize finishing that.

/assign @krzysied
/assign @oxddr

[2019-06-24 12:02] wojtek-t commented on #73519
/remove-lifecycle stale

[2019-06-24 12:19] mattjmcnaughton commented on #79155
@huangjiasingle unfortunately I haven't had the time to run this yet. I am hoping another community member will be able to run through the steps and see if they can repo.

[2019-06-24 12:34] mattjmcnaughton commented on #79319
Here's the reverted diff for context :) https://github.com/kubernetes/kubernetes/pull/78030

[2019-06-24 12:35] mattjmcnaughton commented on #79323
Hi @pytimer :)

Thanks for your idea - could you maybe share a little more about what you mean by "supporting" extended system info? What does "support" mean in this context?

[2019-06-24 12:36] huangjiasingle commented on #79155
@mattjmcnaughton tku

[2019-06-24 12:57] huzy96 opened #79336 "Kubectl logs should be able to retrieve and filter logs"
When I used sonobuoy for Software conformance, the following failures occurred
[code]

Kubernetes version (use kubectl version): v1.14.3&v1.13.1
OS :CentOS Linux release 7.6.1810 (Core)
Kernel (e.g. uname -a):Linux node 3.10.0-957.21.3.el7.x86_64
Install tools:kubeadm

This problem has been mentioned on [this page](https://github.com/kubernetes/kubernetes/issues/20224), but it has been solved.
Why

[2019-06-24 13:10] rlig commented on #57801
Gentleman, just add secret to appropriate namespace which is supposed to use it.

for example:
![image](https://user-images.githubusercontent.com/32437712/60021348-26b07180-9692-11e9-997b-559bb8430672.png)

[2019-06-24 13:24] ydder007 commented on #74173
Hey, this is still an issue in version 1.15.0. Will this ever be fixed? Are there any workarounds available?

[2019-06-24 13:31] claurence commented on #78698
/lgtm
/approve

[2019-06-24 13:35] yuyulei opened #79337 "StatefulSet may need specical method of generating pod name"
**What happened**:
The problem was found in [issue#64023](https://github.com/kubernetes/kubernetes/issues/64023).

There are three "invalid" questions:
1. "invalid" label value: the value of label: "controller-revision-hash" exceeds length limition(63)
2. "invliad" hostname: the field of pod: `.spec.hostname` exceeds length limition(63)
3. "invalid" label value: `statefulset.kubernetes.io/pod-name

[2019-06-24 13:39] yuyulei commented on #79337
@kubernetes/sig-apps-bugs

[2019-06-24 13:52] RainbowMango commented on #78954
@MrHohn

After go through service controller part code, i guess you mean add a condition for `AddFunc` as follows:
```if ok && (wantsLoadBalancer(svc) || needsCleanup(svc) || (svc.Spec.Type != v1.ServiceTypeLoadBalancer && servicehelper.HasLBFinalizer(svc))) ```.

Am i right?

I'm not sure when service type changes if `AddFunc` can be involved. Can you clarify this ?

[2019-06-24 14:21] andrewsykim commented on #70493
/reopen
/remove-lifecycle rotten

Looks related to https://github.com/kubernetes/kubernetes/issues/76338, some follow-up required with API machinery

[2019-06-24 14:40] cmluciano commented on #25745
ack this should go to the gcp sig

/reopen
/remove-sig network
/sig gcp

[2019-06-24 14:40] cmluciano commented on #25745
/unassign @cmluciano

[2019-06-24 14:42] kfox1111 opened #79340 "vmware multiple nics"
**What happened**:

When I enable the vmware cloud provider on my vmware based Kubernetes, I see multiple entries for addresses:
  - address: <IP1>
    type: ExternalIP
  - address: <IP1>
    type: InternalIP
  - address: <IP2>
    type: ExternalIP
  - address: <IP1>
    type: InternalIP
  - address: <NodeName>
    type: Hostname

<IP1> <IP2> <NodeName> changed to protect the innocent.

**What you

[2019-06-24 14:42] alejandrox1 commented on #76206
Thank you. I will start working on metrics_util.go today

[2019-06-24 14:43] kfox1111 commented on #79340
@kubernetes/sig-node-bugs
@kubernetes/sig-vmware-bugs

[2019-06-24 14:52] pblaas commented on #74340
I'm not using etcd pods but rkt container images in CoreOS.  etcd members are communicating over a regular internal network so my choice of network overlay doesn't seem to matter.

It is starting to look like etcd on the internal network is causing issues with messages like:
[code]
The cluster and network isn't even that busy.  It doesn't have any workload other then the default stuff in the kube-

[2019-06-24 15:00] kfox1111 commented on #79340
@kubernetes/sig-node-bugs, @kubernetes/sig-vmware-bugs

[2019-06-24 15:14] chiluk commented on #67577
@PaulFurtado
I have actually rewritten the patch over the last few days given Ben Segull's suggestions.  A new kernel patch will be forthcoming as soon as I can get it some test time on our clusters.

[2019-06-24 15:25] dElogics commented on #77646
Nope.

[2019-06-24 16:04] radiy commented on #74173
Hi @ydder007, to fix error you need to comment out lines 53-56 in perfcounters.go and rebuild.
I have tested it on 1.13 and after commenting out that lines everything works.

[2019-06-24 16:07] pytimer commented on #79323
I want to add custom system info when kubelet register the node, such as ipmi IP address and gateway, and I can use `kubectl describe nodes` to show this information easily,. Now I have to use labels and annotations to do it, it not very convenient and it make node have too many labels or annotations, so i think kubelet support add custom system info.
I am not sure if I explain clearly.

[2019-06-24 16:25] spiffxp opened #79344 "conformance test list generator ignores nested Describes"
**What happened**:
https://github.com/kubernetes/kubernetes/pull/79087 tried promoting a test with a `[Disruptive]` tag in its full test description.  The hierarchy of ginko-relevant AST's was `SIGDescribe` > `Describe` > `It`.  The `[Disruptive]` tag was a in the top level `SIGDescribe`.  The full test description only came from `Describe` > `It`, so the `[Disruptive]` tag was missed.

**What you

[2019-06-24 16:26] spiffxp commented on #79344
/sig architecture
/area conformance

[2019-06-24 16:28] spiffxp commented on #79344
/milestone v1.16

[2019-06-24 16:29] spiffxp commented on #79344
/priority important-soon

[2019-06-24 16:36] kfox1111 commented on #79340
so, it looks like there is a Network section in vsphere.conf. but it isn't applied, as kubelet doesn't have it anymore. (or the docs say not to use it).

Looks like its going through:
func getLocalIP() ([]v1.NodeAddress, error) in pkg/cloudprovider/providers/vsphere/vsphere.go
Which does just add all found vmware nics. No filtering.

[2019-06-24 16:42] kfox1111 commented on #79340
Looks like even specifying the vsphere.conf, it will skip the public_network filter.

[2019-06-24 17:39] kfox1111 commented on #79340
A workaround seems to be to change the mac address to not be a vmware mac address on the secondary nic. The vmware driver then filters it out, and all seems happy.

[2019-06-24 17:50] vllry commented on #76715
@mattjmcnaughton this is also an issue in 1.12. Would this be possible to cherry-pick into 1.12 also?

[2019-06-24 18:24] #79147 closed

[2019-06-24 18:45] wojtek-t commented on #77733
I think it's definitely worth exploring further. We're kind of "eventually correct" already, because there can be significant time before taint-manager process the change in node and when it is processed (it's triggered by watch, and actually queued in the controller).
I was thinking about that in the past and thought there would be a race, but now I can't figure out what the race could be.

So I

[2019-06-24 19:01] gregory-fonkatz commented on #60807
Same here, running `kubectl delete -f https://raw.githubusercontent.com/jetstack/cert-manager/release-0.8/deploy/manifests/00-crds.yaml` helped

[2019-06-24 19:41] arunbpt7 commented on #78865
the curl -s http://localhost:10255/stats/summary ran on the node where the pod is running  and shows nothing .

[2019-06-24 19:48] bitglue commented on #23130
/remove-lifecycle stale

[2019-06-24 19:58] bitglue commented on #23130
Still broken.

[code]

[2019-06-24 20:05] apelisse opened #79347 "`vendor/modules.txt` is hot for conflicts and approval bottleneck"
Any package change in a staging repository has to include its new packages in `vendor/modules.txt` which creates a bottleneck for conflicts and approval.

Can we split the file so that various parts can be owned by different groups of people?

/assign @liggitt

[2019-06-24 20:05] apelisse commented on #79347
/sig contribx

[2019-06-24 20:06] apelisse commented on #79347
/sig contributor-experience

[2019-06-24 20:16] alculquicondor commented on #75274
I'm interested in picking up the definition of the standard label.

[2019-06-24 20:37] lzhfromustc opened #79350 "Potential bugs on old cores: usage of sync/atomic.*64 functions"
**What happened**:
I noticed that atomic.LoadInt64 and atomic.CompareAndSwapInt64 are used in File: staging/src/k8s.io/apiserver/pkg/storage/util.go at Line: 81,85. There may be more in other files.

**What you expected to happen**:
These 64-bit functions in atomic can cause bugs on old cores.

**How to reproduce it (as minimally and precisely as possible)**:
Please see https://golang.org/pkg/sync

[2019-06-24 20:45] MrHohn commented on #78954
if ok && (wantsLoadBalancer(svc) || needsCleanup(svc) || (svc.Spec.Type != v1.ServiceTypeLoadBalancer && servicehelper.HasLBFinalizer(svc))) .

Yea this was what I meant.

On service type change, `UpdateFunc` will be involved instead of `AddFunc`. That part is already handled.

This issue is explicit for the case when controller fails to handle the type change update before it exiting (e.g. crashi

[2019-06-24 21:05] liggitt commented on #79347
the file is generated by `go mod vendor`, so no

[2019-06-24 21:11] caseydavenport commented on #78674
yes, I agree - this doesn't look to be a Kubernetes error. If you're still seeing this, please raise an issue [here](https://github.com/projectcalico/calico/issues). Thanks!

/close

[2019-06-24 21:11] #78674 closed

[2019-06-24 21:17] roycaihw commented on #79268
cc @yliaog

[2019-06-24 21:27] stevebail opened #79351 "Incorrect max length check on metadata.name"
**What happened**:
As far as I know metadata.name can be one or more DNS labels separated by dots (.) with the following constraints on max length: 1) each label has a max length of 63 characters 2) the maximum number of characters for the name (aka DNS subdomain) is 253 characters.

I did a couple of tests using v1.15.0 and max length for label is not respected

**What you expected to happen**:
I

[2019-06-24 21:35] dashpole commented on #78865
It sounds like that is probably your problem then.  If you don't have any metrics, the kubelet can't do its monitoring or eviction.  Can you share your kubelet logs, or see if there are any errors related to metrics?

[2019-06-24 21:47] caseydavenport commented on #72044
[code]

This subset of logs is interesting - it seems to be doing the following:

- Identifying that the sandbox is not ready, and deciding to create a new one (which will trigger CNI ADD)
- Calling the CNI plugin (in this case, the logs are coming from Calico). You can see it is receiving the ADD call.
- Deciding that the pod is unwanted, and killing it.

It feels to me that this is a race betwee

[2019-06-24 21:48] jiatongw commented on #76206
@alejandrox1
Updated: we can mark `upgrade_util.go` as done (it was done month ago) I am now start cleaning up the reset of e2e/framework/node package

[2019-06-24 21:49] jiatongw commented on #77095
Update:
First step of refactoring node package is node. Following up PRs are on the way
@alejandrox1

[2019-06-24 21:54] caseydavenport commented on #72044
The fact that this seems to be happening exclusively with CronJob pods might be a clue - wonder what is special about them.

For those who are seeing this - does this resolve itself? Or are the same pods hitting this scenario consistently?

Probably worth pulling in @kubernetes/sig-node-bugs as well.

/sig node

[2019-06-24 21:56] yliaog commented on #79268
do you see the same problem with 1.14?

https://github.com/kubernetes/kubernetes/blob/1973373be9b171b31c5b05601a9764c98f0640c9/pkg/registry/core/pod/strategy.go#L487
is where the nodename is resolved.

you mentioned restart k8s service will resolve the probelm, which k8s service you had restarted? could you provide more details?

[2019-06-24 22:15] caseydavenport commented on #78038
@wu0407 I suggest we keep discussing on the Calico issue so as to keep the comment trail in one place. I don't _think_ this is a Kubernetes issue, but we can raise another if we determine there is one.

/remove-triage unresolved
/close

[2019-06-24 22:15] #78038 closed

[2019-06-24 22:27] janetkuo commented on #79351
I think it's because "xxxxxxxxxx. xxxxxxxxxx. xxxxxxxxxx. xxxxxxxxxx. xxxxxxxxxx. xxxxxxxxxx. xxxxxxxx75" contains space, which isn't allowed.

[2019-06-24 22:46] carlosonunez commented on #66844
/remove-lifecycle stale.

On Mon, Jun 24, 2019 at 14:43 fejta-bot <notifications@github.com> wrote:

[2019-06-24 22:47] stevebail commented on #79351
Yes my bad. The first problem is still valid

[2019-06-24 22:50] stevebail commented on #79351
I have updated the problem description. Thanks Janet!

[2019-06-24 22:54] vincepri opened #79354 "TypedLocalObjectReference APIGroup should have omitempty"
**What happened**:
[TypedLocalObjectReference](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go#L4626-L4638) has `APIGroup` as a `*string` and marked as `+optional` without `omitempty` in the json tag directive.

While using this type in Cluster API, instead of ObjectReference, omitting the APIGroup results in this error: `spec.infrastructureRef.apiGroup

[2019-06-24 22:54] vincepri commented on #79354
/sig api

[2019-06-24 22:57] vincepri commented on #79354
/sig api-machinery

[2019-06-24 22:59] #79354 closed

[2019-06-24 22:59] vincepri commented on #79354
Nevermind, I re-read the description and it makes sense why it's not there now.

[2019-06-24 23:11] janetkuo commented on #79351
https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names:

DNS-1123 subdomain allows up to 253 char.

63 char is the limit for DNS labels, e.g. for metadata.labels https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set

[2019-06-24 23:41] trevormeiss opened #79355 "Flexvolume to CSI migration"
Is there any guidance for migrating flexvolume drivers to CSI?
We have an existing cluster with flex PVs. We would like to uninstall our flexvolume driver and install a new CSI driver. We would like the new CSI driver to use the same StorageClass as our old flex driver, and we would like the CSI driver to take over managing the existing PVCs.

Is there any work being done to make this migration no

[2019-06-24 23:43] cblecker commented on #79355
/sig storage
/kind feature

[2019-06-25 00:17] stevebail commented on #79351
DNS labels are different from k8s labels.

Directly from k8s identifier spec:

1) When an object is created via an API, a Name string (a DNS_SUBDOMAIN) must be specified.
2) rfc1035/rfc1123 DNS subdomain (DNS_SUBDOMAIN) : One or more lowercase rfc1035/rfc1123 labels separated by '.' with a maximum length of 253 characters
3) rfc1035/rfc1123 DNS label (DNS_LABEL) : An alphanumeric (a-z, and 0-9) st

[2019-06-25 01:59] liminghua999 commented on #76956
I have the same error when I install k8s 1.14.0 1.14.3
Do you have the solution for this error?????
`environment：
etcd cluster ： 3 nodes
kernel： 5.1
os: centos7.6.1810 `
then start 3 node kube-apiserver by ansible
error:
`Jun 24 23:13:25 m-etc-1 systemd[1]: Starting Kubernetes API Server...
Jun 24 23:13:25 m-etc-1 kube-apiserver[13447]: E0624 23:13:25.621114   13447 prometheus.go:138] failed to re

[2019-06-25 02:00] #79332 closed

[2019-06-25 03:54] BenTheElder opened #79358 "flaky TestWebhookConverter tests"
**Which jobs are failing**: `pull-kubernetes-integration`

**Which test(s) are failing**: `TestWebhookConverter.*` tests are very flaky (**the** most flaky presubmits currently) http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1

**Since when has it been failing**:

**Testgrid link**: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestWebhook

**Reason for fai

[2019-06-25 03:55] BenTheElder commented on #79358
/sig api-machinery

[2019-06-25 03:55] BenTheElder commented on #79358
cc @sttts @liggitt

[2019-06-25 03:58] thxCode opened #79359 "Could not access default Kubernetes Service inside Windows Pod"
**What happened**:

Executing `curl.exe -k https://kubernetes.default.svc.cluster.local` inside a Windows Pod, but get the following msg:
![](https://raw.githubusercontent.com/thxCode/picgo-graph-bed/rancher-windows/20190625103119.png)

**What you expected to happen**:

Executing `curl.exe -k https://kubernetes.default.svc.cluster.local` inside a Windows Pod, could view:

[code]

**How to reproduc

[2019-06-25 03:59] thxCode commented on #79359
/sig windows

[2019-06-25 04:03] BenTheElder commented on #79304
https://github.com/kubernetes/kubernetes/issues/71305

[2019-06-25 04:24] dongwangdw commented on #60987
Is there any progress on this issue ?

[2019-06-25 04:33] BenTheElder commented on #79351
this is `metadata.name` (see the https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names link or https://kubernetes.io/docs/concepts/overview/working-with-objects/kubernetes-objects/#required-fields)

So 253 characters are allowed (as @janetkuo said above).

----

The current link is https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architectu

[2019-06-25 04:36] BenTheElder commented on #79347
implementation here fur the curious 🙃 https://github.com/golang/go/blob/6f7542e4cb6914e8b8d888f16d440feeb8e631d2/src/cmd/go/internal/modcmd/vendor.go#L90

[2019-06-25 04:39] BenTheElder commented on #79328
kube-up.sh is pretty legacy and mostly used for the project CI. I don't think it's actively developed or has any super active maintainers. there's talk of removing the cluster/ directory at some point when the project doesn't itself depend on it.

/remove-sig node
/sig cluster-lifecycle

You should consider something like https://kubernetes.io/docs/setup/production-environment/tools/kops/, the eco

[2019-06-25 04:40] BenTheElder commented on #79328
/triage support

[2019-06-25 04:41] apelisse commented on #79347
@BenTheElder Do we have a way to relax approvals on this file?

[2019-06-25 04:44] BenTheElder commented on #79358
This is also https://github.com/kubernetes/kubernetes/issues/79177

[2019-06-25 04:46] BenTheElder commented on #79347
No :| https://github.com/kubernetes/test-infra/issues/7690

[2019-06-25 04:49] BenTheElder commented on #79056
I don't think we can do anything further here, do not use 0.26.0 😬
https://github.com/bazelbuild/bazelisk provides a tool for using specific versions

[2019-06-25 04:50] BenTheElder commented on #79042
`build/run.sh` runs things in a docker container, your hosts's container runtime probably isn't configured for ipv6.

[2019-06-25 04:53] BenTheElder commented on #78982
er meant to also comment that we can make source available to tests with data dependencies specifying a file group with the sources. looks like I only mentioned it here https://github.com/kubernetes/kubernetes/pull/78986#issuecomment-503080982

[2019-06-25 05:01] BenTheElder commented on #78973
`kubectl exec` is mostly a debugging tool, the main process in a container is what affects restart (besides healthchecks).

If your main process is forking, it should be fail if a critical child fails / restart the child itself, or you need to use a liveness probe.

It's expected that child processes might exit for various reasons and it would be a breaking change to restart pods when a child proc

[2019-06-25 05:01] BenTheElder commented on #78973
see also this previous issue https://github.com/kubernetes/kubernetes/issues/50632#issuecomment-322470350

[2019-06-25 05:02] liggitt commented on #79358
duplicate of https://github.com/kubernetes/kubernetes/issues/78913

fix in progress in https://github.com/kubernetes/kubernetes/issues/78913

[2019-06-25 05:02] #79358 closed

[2019-06-25 05:05] BenTheElder commented on #78977
/sig node
/remove-sig scheduling

To set sysctls with a DaemonSet I believe you also need `hostPID: true` on the pod spec. The Kubernetes namespace should not matter.

[2019-06-25 05:11] BenTheElder commented on #78968
you should file this issue against https://github.com/kubernetes/release for better visibility, currently releases use the specs there. that repo also has much lower volume of interaction than this one 😅

[2019-06-25 05:13] BenTheElder commented on #79358
thanks! will close out https://github.com/kubernetes/kubernetes/issues/79177 as well

[2019-06-25 05:13] BenTheElder commented on #79177
/close

[2019-06-25 05:13] #79177 closed

[2019-06-25 05:17] BenTheElder commented on #78968
Moving these binaries would probably require updating a lot of the ecosystem to handle this though..

I will also add that sig-release generally agrees that more broadly something needs to be done about the state of debian / rpm publishing, but they're still figuring out what direction to take it going forward and could probably use more help with that.

[2019-06-25 05:26] BenTheElder commented on #78845
@liggitt https://github.com/kubernetes-sigs/kind/blob/f03d85409082ae9b06410c716640005b555da722/hack/update/generated.sh has some hacks to use the code generators with a modules based repo without requiring the repo be in GOPATH, FWIW. might be useful :-)

[2019-06-25 05:30] BenTheElder commented on #78735
GitHub doesn't allow assigning people unless they are either members of the organization or repo "collaborators". There's no way around this.

Kubernetes doesn't use the latter mechanism in favor of the org membership process. (some notes / links in the bot comment).

You can certainly take a stab at this without assigning it though 🙃

[2019-06-25 05:43] mkumatag commented on #78845
@bentheelder are you talking about following lines of code:

https://github.com/kubernetes-sigs/kind/blob/f03d85409082ae9b06410c716640005b555da722/hack/update/generated.sh#L24:L27

[2019-06-25 05:44] BenTheElder commented on #78576
/sig storage
you might have better luck checking with their slack channel or other venues, github notifications for this repo are pretty unmanageable.

[2019-06-25 05:47] BenTheElder commented on #78527
if we want to assume that all tests in a certain directory are integration tests this is very easy to automate, here's an example that we do now to mark `vendor/...` go tests and binaries as `manual`

https://github.com/kubernetes/kubernetes/blob/5267a3dc730ff606cb5b1d1a4ee05ef04ae7ed3b/hack/update-bazel.sh#L78

[2019-06-25 05:49] slyoldfox commented on #72044
I upgraded to CNI 1.4.1 and EKS/kubernetes 1.13 and haven't seen this error anymore.

[2019-06-25 05:52] BenTheElder commented on #78845
@mkumatag the most relevant part would probably be https://github.com/kubernetes-sigs/kind/blob/f03d85409082ae9b06410c716640005b555da722/hack/update/generated.sh#L46-L54
[code]

Faking it this way makes it a lot easier to deal with legacy tooling that expects the source to be in a particular GOPATH without actually needing it to be in one.

That script goes a bit further and also:
- installs the d

[2019-06-25 06:02] BenTheElder commented on #78527
Is the assumption that all tests in `test/integration/` should be tagged as integration?

I'd be happy to add this to the script, but would prefer to get https://github.com/kubernetes/kubernetes/pull/79287 in without conflicts first 😅

[2019-06-25 06:03] calixwu commented on #73948
Same issue.. Any progress?

[2019-06-25 06:04] BenTheElder commented on #78534
cc

[2019-06-25 06:07] BenTheElder commented on #78508
The entire contrib repo was out of date / poorly maintained, and was "retired". Note that many things are not in the main repo (this one) anymore as the project is very big, many are even in other organizations, in particular https://github.com/kubernetes-sigs

https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/client-go/examples/leader-election is probably the preferred examp

[2019-06-25 06:14] BenTheElder commented on #78271
also interested in small memory footprints 🙃
cc @cheftako re: cloud-controller-manager
cc @neolit123 re: kubeadm

[2019-06-25 06:17] nikhita commented on #79347
That file doesn't need top-level approval though. `dep-approvers` should be able to approve that: https://github.com/kubernetes/kubernetes/blob/master/vendor/OWNERS

[2019-06-25 06:27] BenTheElder commented on #79347
@nikhita right, but in this case it's not actually a dependency change, it's a staging change, which otherwise has a different set of approvers?

[2019-06-25 06:31] nikhita commented on #79347
Ah ok, unfortunately this won't be solved by https://github.com/kubernetes/test-infra/issues/7690 though because that'll only allow to separate approvers for different files in a directory...and I don't think we can split `vendor/modules.txt`. :/

[2019-06-25 06:37] BenTheElder commented on #79347
we could expand the set of approvers just for that file that to be dep-approvers OR staging approvers, seeing as that file is autogenerated anyhow and actual vendor changes would include other files, but not without the test-infra fix.

[2019-06-25 06:45] BenTheElder commented on #76553
/area platform/gke
cc @msau42

[2019-06-25 07:01] yue9944882 commented on #60937
do you have a timeline for supporting openapi v3 yet?

[2019-06-25 07:12] mariojacobo commented on #78977
@BenTheElder - thanks, however as you can see in https://github.com/kubernetes/kubernetes/issues/70324#issuecomment-466107181 there is no need to add  hostPID:true, so I'm not if this applies. The documentation is quite lacking in this aspect, unless I'm looking in the wrong place.

[2019-06-25 07:16] Gregy commented on #30656
/remove-lifecycle stale

[2019-06-25 07:22] xingzhefeng commented on #44665
cp /etc/kubernetes/admin.conf /root/.kube/config

[2019-06-25 07:23] chinglinwen commented on #78973
I'd curious how this is going

// maybe someway of annotation to change oom behavior?

https://github.com/kubernetes/kubernetes/issues/50632#issuecomment-322801593

@kellycampbell @BenTheElder

[2019-06-25 07:27] BenTheElder commented on #78973
@kubernetes/sig-node-feature-requests

[2019-06-25 07:30] draveness commented on #71541
/remove-lifecycle stale

[2019-06-25 07:33] BenTheElder commented on #78977
Re-read your original post.. all of your sysctls appear to be `net.*` which are namespaced, which is why putting it in an init container per pod. hostPID would set on the host but that's not what you want I think.

[2019-06-25 07:33] BenTheElder commented on #78977
You can set these via the security context, there's some pretty good docs for this here: https://kubernetes.io/docs/tasks/administer-cluster/sysctl-cluster/

hope that helps :-)

[2019-06-25 07:51] mariojacobo commented on #78977
thanks. that's the first thing I tried, which did not work unfortunately. I'll keep using the workaround

[2019-06-25 07:51] #78977 closed

[2019-06-25 08:14] #75212 closed

[2019-06-25 08:15] #79308 closed

[2019-06-25 08:16] alenkacz commented on #79166
I was analyzing that failure based on the logs from given link. Based on my analysis the problem lies in here https://github.com/kubernetes/kubernetes/blob/55ff3893ceb9f25256c0f0919ce583abf92de334/test/integration/scheduler/framework_test.go#L584

We wait for the pod to being unschedulable, and then we compare the counts of pre-bind and unreserve called. But this is done asynchronously so it can h

[2019-06-25 09:33] WanLinghao commented on #79268
Unset the proxy environment setting and disable firewall, then try again

[2019-06-25 09:48] Nurlan199206 opened #79362 "6443 connection refused kube-api won't start"
**What happened**:
[code]
**What you expected to happen**:
`6443 port listen`

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[code]

[code]
`/etc/hosts`
[code]

i'm tried to use `10.132.0.2 kubernetes1` in my hosts file, but it didn't worked

**Environment**:
- Kubernetes version: `1.14.3`
- Cloud provider or hardware configuration: `VM on

[2019-06-25 10:41] Michi03 opened #79363 "ConfigMap kubeadm:kubelet-config-1.15 does not exist"
**What happened**:
I tried to connect a new node to a running kubernetes by use of `kubeadm token create`.

**What you expected to happen**:
Generation of a ConfigMap named kubeadm:kubelet-config-1.15 which enables joining a new node.

**How to reproduce it (as minimally and precisely as possible)**:
Run `kubeadm token create`

**Anything else we need to know?**:
The node I tried to join threw the

[2019-06-25 10:48] cvanlabe opened #79364 "Unclear behavior when setting/updating already existing environment variables like PATH"
**What happened**:
In a deployment manifest, one can set an environment variable like FOO, and the deployment will succeed. However, if you set one like PATH, you end up with a pod in RunContainerError status.

**What you expected to happen**:
I expect to find documentation you can not do this for existing environment variables, or I expect kubernetes to overwrite that environment variable inside

[2019-06-25 10:48] draveness commented on #79166
FYI:

+ https://github.com/kubernetes/kubernetes/pull/77574
+ https://github.com/kubernetes/kubernetes/pull/77598

/assign @alenkacz
/kind flake

[2019-06-25 10:48] Michi03 commented on #79363
/sig help-wanted

[2019-06-25 10:48] max-rocket-internet opened #79365 "Warning FailedGetResourceMetric horizontal-pod-autoscaler missing request for cpu"
**What happened**:

HPA always has a target of `<unknown>/70%` and events that say:

[code]

- There is a single container in the pods and it has resource requests and limits set.
- The metrics-server is running
- All pods have metrics show in `kubectl top pod`
- All pods have metrics in `kubectl get --raw "/apis/metrics.k8s.io/v1beta1/pods"`

Here's the HPA in YAML:

[code]

**What you expected t

[2019-06-25 10:49] max-rocket-internet commented on #79365
@DirectXMan12
/sig autoscaling

[2019-06-25 10:52] draveness commented on #79166
cc/ @danielqsj @bsalamat

[2019-06-25 10:56] tomasaschan commented on #70231
/remove-lifecycle rotten

@hzxuzhonghu is there any chance this will ever be looked at? If not, you might as well close this issue without waiting for @k8s-ci-robot...

[2019-06-25 11:00] wojtek-t commented on #78935
I just responded to the original email-thread. As i mentioned there, I think there are couple other things (some of them are great suggestions by others) that we may try first. Maybe those will be enough and we would be able to avoid both adding new approvers and having the revert bot.

[2019-06-25 11:13] cvanlabe commented on #79364
@kubernetes/sig-bugs

[2019-06-25 11:23] neolit123 commented on #78271
kubeadm is a node boostrapper. if kubernetes supports cloud-controller-manager as a DaemonSet then kubeadm supports it too.

except that we don't have a guide for that.

https://kubernetes.io/docs/setup/independent/control-plane-flags/

you still have to use the kubeadm config to pass extraArgs to the control-plane components.

https://github.com/kubernetes/cloud-provider-openstack/blob/master/doc

[2019-06-25 12:15] #77127 closed

[2019-06-25 12:50] mattjmcnaughton commented on #76715
Sure! @vllry do you want to create the pr or do you want me to? Happy either way :)

[2019-06-25 12:52] mattjmcnaughton commented on #79340
For now, I'm going to remove sig-node, as it most likely makes sense to begin the triage with sig-vmware. But please feel free to add sig-node back if that could be helpful.

/remove-sig node

[2019-06-25 12:55] Michi03 commented on #79363
I had added a node on version 1.14.3 for which a confimap still existed. Thus, downgrading to 1.14.3-00, running the join command and upgrading afterwards fixed the issue for me

[2019-06-25 13:07] wojtek-t commented on #73519
@mm4tt - FYI

[2019-06-25 13:08] zdyxry commented on #74651
@323929 I think @danielloczi doesn't care about the `pod-eviction-timeout` parameter in kube-controller-manager, but solves it by using `Taint based Evictions` ， I tested with `Taint based Evictions` , it's worked for me.

[2019-06-25 13:21] cvanlabe commented on #79364
/sig apply

[2019-06-25 13:35] sudheshpn commented on #77663
I see similar issue in gcp.What would be the similar value for gcp?

[2019-06-25 13:43] sftim commented on #78913
I think I [just saw this](https://github.com/kubernetes/kubernetes/pull/78340#issuecomment-505431519):
[code]

[2019-06-25 13:45] RobertC137 commented on #79231
I've figured out the cause of this issue after the scrutiny of the CA certificates. My cluster was manually built with a set of CA certificates and some of them are misconfigured in their JSON files. The issue was solved by using a new set of certificates with the correct cluster info. Thank you @almiche.

[2019-06-25 13:45] #79231 closed

[2019-06-25 13:49] arunbpt7 commented on #78865
@pickledrick , can you share the kubelet logs

[2019-06-25 13:50] joaquimstany opened #79368 "Pods are Stuck at Container Creating"
**What happened**: After restarting the AWS Node, Pods were stuck at container creating

**What you expected to happen**: Pods should have be in running state

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): Kubernetes v1.11.3
- Cloud provider or hardware configuration:
- OS (e.g:

[2019-06-25 13:52] johnmarcou commented on #78125
Same here, K8s 1.14.2.

@svenbs, is that happen to you on initContainers as well? Or just container?

[2019-06-25 14:08] oxddr commented on #75541
/remove-lifecycle stale

[2019-06-25 14:18] msau42 commented on #76553
Thanks for raising the issue. The GCE instance itself is limited to PD as a boot disk so we wouldn't be able to replace the boot disk. However it may be possible to use a local ssd as the kubelets root partition. This is on our backlog of feature requests.

In the meantime, does PD ssd as a boot disk give the performance you need?

/assign

[2019-06-25 14:37] RainbowMango commented on #78954
Thanks @MrHohn .

I have sent a PR assined to you. I think it should be checked in function `needsCleanup()`. It is the case that need to clean up whatever the reason is.

[2019-06-25 14:39] Monnoroch commented on #76553
@msau42 thank you for your reply. My original issue is not quite about SSD vs HDD. It's about local vs persistent. My point here is that it doesn't even make sense to have **persistent** disks for **ephemeral** VMs.

[2019-06-25 15:04] sudheshpn opened #79373 "Nfs provisioner failed to mount in kubernetes v1.13.4 on google cloud"
I have configured a nfs provisioner  for my kubernetes cluster on gcp plaform . status of pv,pvc, and nfs provisoner pod looks good. However when i try to  create a pod using the pvc in my pod defintion file i get the below exception.FYI  I am able to mount the nfs volume to my master node and slave node. Pls help

NFS provisoner status

root@k8s-master:/etc/kubernetes/manifests# kubectl get pods

[2019-06-25 15:05] bryanhuntesl commented on #30656
Yeah - it's trivial to just use the docker exec to do this - it's mostly about consistency - multi-user docker containers are a bit of a joke really - a legacy from converting a VM to a container.

I'm dealing with this with grafana at the moment - I suppose this will pass with time.

[2019-06-25 15:13] sudheshpn commented on #79373
/cc @kubernetes/sig-storage-bugs
/cc @kubernetes/sig-cloud-provider-bugs

[2019-06-25 15:16] draveness commented on #71477
/remove-lifecycle rotten

[2019-06-25 15:17] draveness commented on #64623
/remove-lifecycle stale

[2019-06-25 15:17] draveness commented on #64623
/assign

[2019-06-25 15:34] joaquimstany commented on #79368
swapoff -a

this worked !!!

[2019-06-25 15:34] #79368 closed

[2019-06-25 15:41] jordanwilson230 commented on #30656
There's discussion of workarounds above, which doesn't require manual ssh'ing to a node.  You can also try this plugin -- https://github.com/jordanwilson230/kubectl-plugins#kubectl-ssh

[2019-06-25 15:46] alenkacz commented on #78907
/open

[2019-06-25 15:49] gjcarneiro commented on #30656
What if you don't want to allow users to ssh into a node?  Allowing users ssh access to a node, as well as allowing them to have access to docker, can be a security risk.  Docker doesn't know anything about namespaces or k8s permissions.  If a user can run `docker exec`, it can exec into pods of _any_ namespace.

SSH is not a proper solution, IMHO.

[2019-06-25 15:54] alenkacz commented on #78907
/reopen

[2019-06-25 15:55] alenkacz commented on #78907
@neolit123 seems to be failing with the same error https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-upgrade-stable-master/1143401228470849536

[2019-06-25 16:32] bryanhuntesl commented on #30656
I second that opinion - using an out of band mechanism to gain direct access is increasing the potential attack area.

[2019-06-25 16:44] PatrickLang commented on #75197
can you try June KB?

[2019-06-25 16:46] jordanwilson230 commented on #30656
There are solutions that do not require SSH @gjcarneiro.  Also, a user must first add their public SSH key in the UI before they are allowed SSH access.

[2019-06-25 17:32] chardch commented on #73948
@calixwu This should be handled by #77699

[2019-06-25 17:42] bowei commented on #74679
/lifecycle frozen

[2019-06-25 17:58] #79362 closed

[2019-06-25 18:11] PatrickLang commented on #75148
There's an optional fix out: https://support.microsoft.com/en-us/help/4501371/windows-10-update-kb4501371

It will be included in the July cumulative update too

[2019-06-25 18:22] PaulFurtado commented on #73948
@chardch Sorry, I missed that comment. But yeah, I expect resources to not be zeroed out upon kubelet restart. If I deleted the node object and recreated it, that seems like a perfectly reasonable time to zero out resources unless that happens during normal cluster upgrade operations.

We are not using a device plugin for these basic integer resources; we use the integer resources to fill in basic

[2019-06-25 18:55] msau42 commented on #79373
Which nfs provisioner are you using?

This is the relevant error message:
mount.nfs: mounting 10.128.0.5:/monitoring/monitoring-prometheus-alertmanager-pvc-98b69b70-9757-11e9-9001-42010a800004 failed, reason given by server: No such file or directory

[2019-06-25 18:56] mwtzzz commented on #33618
I'd like to add a comment that in order for me to get this to work (same issue as OP), it was necessary to add a route on the worker nodes:
`ip route add 10.96.0.0/16 dev eth1 src <private network ip>`
where "private network ip" is the ip assigned to the node's interface that's on the same network as the master node (likely a 172.28... address if you tend to use defaults in Vagrant).

The other so

[2019-06-25 19:24] zhan849 commented on #75065
/remove-lifecycle stale

[2019-06-25 19:27] odinuge commented on #78964
Hi @rockylee3128!

This is because the `kube-cross` image only supports `amd64`, and isn't a multi arch image.

The progress of adding support for other architectures in the `kube-cross` image can be tracked in this issue: https://github.com/kubernetes/kubernetes/issues/75114

[2019-06-25 19:34] johnSchnake commented on #76344
By the way, that test was introduced years ago: https://github.com/kubernetes/kubernetes/commit/8ff00d17d82832422d428d4b39d8282378403216#diff-39348fe7d9d178b32bb2a4744f3d00ecR155

It says it needed serial because:
[code]

I don't see why creating many pods with many volumes/mounts would interfere with any other tests.

As part of this ticket, does anyone have a problem with removing the serial tag

[2019-06-25 19:52] neolit123 commented on #78907
hi, @alenkacz
the cluster upgrade part is flaky because it's too aggressive in terms of timing. currently it's green.
we might get a fix for that during the 1.16 cycle.

/remove-kind failing-test

[2019-06-25 19:52] thepudds opened #79384 "'unknown revision v0.0.0' errors, seemingly due to 'require k8s.io/foo v0.0.0'"
**What happened**:

Observed `unknown revision v0.0.0` errors when getting kubernetes modules from a module-based consumer.

In particular, getting the master versions of k8s.io/kubernetes and k8s.io/api fails with the tip version of Go.

This is a follow-up to https://github.com/golang/go/issues/27173#issuecomment-504807285,  https://github.com/golang/go/issues/27173#issuecomment-505089424, and h

[2019-06-25 19:57] nikhita commented on #79384
/sig release

[2019-06-25 20:02] nikhita commented on #79384
Fwiw if `go get` is being used to download all dependencies, `go mod download` works and does the same thing...

[2019-06-25 20:05] eduardobcastro commented on #50199
I'm having the same issue with version 1.15.0
This is the message:
`Failed to pull image "my_docker_hub_user/my_image:some_tag": rpc error: code = Unknown desc = Error response from daemon: Get https://registry-1.docker.io/v2/my_docker_hub_user/my_image/manifests/some_tag: unauthorized: incorrect username or password`

[2019-06-25 20:21] nikhita commented on #79384
Just echoing @thepudds's comment here: https://github.com/golang/go/issues/32776#issuecomment-505603570

This occurs because we use `v0.0.0` in require directives in `go.mod` files for staging repos: https://github.com/kubernetes/kubernetes/blob/e8738d665b29ca98d39a7907a83ef34dfbb5c5e3/staging/src/k8s.io/api/go.mod#L10

I don't think we can change this, because the relevant (pseudo)version wouldn'

[2019-06-25 21:01] joshmsamuels commented on #79384
@liggitt Can you give me an example of a require I have to add to my go.mod? fwiw my `go.mod` isnt fully populated since ive been letting `go build` update it

[2019-06-25 21:06] icelynjennings opened #79389 "Kubelet should pull from alternative registry if main image failed to pull"
**What would you like to be added**:
Inside any Pod, Kubelet should try to pull from an alternative registry if it could not pull a container's image defined in the container's `image` key. This could be due to a DNS error, the target image being deleted or missing, or the registry being under maintenance or down.

**Why is this needed**:
A large amount of Kubernetes clusters are configured to pul

[2019-06-25 21:09] icelynjennings commented on #79389
/sig node

[2019-06-25 21:20] liggitt commented on #79384
pin all the dependencies to a matching level of k8s.io/kubernetes (these all correspond to the `kubernetes-1.15.0` tag):

[code]

[2019-06-25 21:21] icelynjennings commented on #79389
One solution would be to extend the PodSpec with a key which takes a list of registry paths to try when the main `image` has failed to pull. I have drafted a KEP for a `fallbackImages` key to be added to the PodSpec which would do that. The KEP is available for viewing and commenting [here](https://docs.google.com/document/d/1ho1SOZ5PzkcKeSpRYVYVOht4pG5758uP_34twOWVabA/edit?usp=sharing), and will

[2019-06-25 21:22] saad-ali commented on #55045
I agree we should have an option that deletes all PVCs associated with a StatefulSet once the StatefulSet is deleted (for the sake of "safe by default", I would prefer this new option be opt in). How to do so safely and in a backwards compatible way will be the key of the design.

I'm not convinced that we should have an option for deleting PVCs during StatefulSet scale down -- leaving it around m

[2019-06-25 21:24] joshmsamuels commented on #79384
@liggitt That worked thanks!

[2019-06-25 21:34] vllry commented on #76715
I don't mind opening one! Just wasn't sure if there was a known reason not to.

[2019-06-25 21:34] vvicaretti commented on #74052
It should be fixed by https://github.com/kubernetes/kubernetes/pull/78503

[2019-06-25 21:37] thepudds commented on #79384
This might be a Bad Idea™, but this at least compiled the failing example in https://github.com/golang/go/issues/32776#issuecomment-505614864:

[code]

8c3b7d7679ccf368 was master on k8s.io/kubernetes as of a couple days ago.

That was generated by replacing the filesystem `replace` directives to `./staging` in k8s.io/kubernetes/go.mod to instead point to 8c3b7d7679ccf368:
[code]

[2019-06-25 21:40] chardch commented on #73948
@PaulFurtado Thanks for confirming.

From what you describe, #77699 should be a fix for the issue, albeit hacky. It seeks to only zero out on node recreation, by checking the kubelet's device manager's checkpoint file.

[2019-06-25 22:04] aojea commented on #70248
2 PRs to go and we are green
The DNS PR one is trickier, would love someone from sig-network reviewing it

[2019-06-25 22:11] BenTheElder commented on #70248
https://testgrid.k8s.io/conformance-kind FYI :upside_down_face:

specifically:
https://testgrid.k8s.io/conformance-kind#kind%20(IPv6),%20master%20(dev)

and:
https://testgrid.k8s.io/conformance-kind#kind%20(IPv6),%20master%20(dev)%20%5Bnon-serial%5D

[2019-06-25 22:41] wongma7 opened #79395 "Automatically add system:authenticated when impersonating group"
Is there a realistic scenario where a user would want to impersonate an arbitrary group but NOT also want system:authenticated? I think we should always add system:authenticated. Forgetting it results in some hard-to-debug behaviour with kubectl inexplicably failing every 10 mins.

Basically, I want to reopen this discussion: https://github.com/kubernetes/kubernetes/pull/44076#discussion_r11065742

[2019-06-26 00:23] yuxiangqian opened #79397 "enhance to record accurate total end to end operation time for volume attach/detach/resizing"
**What would you like to be added**:
latency of volume attach/detach/resizing operations is currently evaluated at per-try basis and recorded into "storage_operation_duration_seconds" defined in [metrics.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/metrics.go). A recent fix (#78061) has been put in to record end to end latency for provisioning/deletion operations into "

[2019-06-26 00:23] yuxiangqian commented on #79397
sig/storage

[2019-06-26 00:24] yuxiangqian commented on #79397
/sig storage

[2019-06-26 01:09] yujuhong opened #79398 "kubelet won't retry PodSandbox creation for pods with restart policy "Never""
**What happened**:

If a pod's restart policy is "Never", and kubelet failed to create the PodSandbox (for whatever reason) once, the pod will be stuck at "ContainerCreating" forever.

**What you expected to happen**:
Since the user/application containers were never created, kubelet should retry the PodSandbox creation.

The fact that the pod remains in a ContainerCreating state while kubelet expl

[2019-06-26 01:13] joshmsamuels commented on #79384
@thepudds Is this solution better than the one suggested by @liggitt

[2019-06-26 01:15] #79118 closed

[2019-06-26 01:23] lurenjia528 opened #79400 "kube-proxy use ipvs mode,ipset error"
kube-proxy v1.14.2 use ipvs , the ipset error

[code]
ipset need  /etc/services and /etc/protocols,

suggest : the [yaml](https://github.com/kubernetes/kubernetes/blob/v1.14.2/cluster/addons/kube-proxy/kube-proxy-ds.yaml) add mount /etc/services and /etc/protocols

[2019-06-26 01:36] hex108 commented on #79365
@max-rocket-internet could you please share the yaml content of the pod? It seems the pod's cpu request is not set.

[2019-06-26 02:09] liggitt commented on #79395
/remove-kind bug
/kind enhancement

[2019-06-26 02:09] liggitt commented on #79395
/cc @deads2k

[2019-06-26 02:14] liggitt commented on #79080
Early on in the project, there was a goal of associating secrets with service accounts and only allowing secrets to be mounted into a pod if the pod's service account was associated with the secret. Even that level of specification was seen as too fiddly, and gained effectively no adoption.

Since pod labels are not ACLed, any pod author could shape their pod's labels to match any secret's selecto

[2019-06-26 02:22] ChenLong2014 opened #79401 "kubernetes 1.8 cannot support Apparmor and sshfs ?"
I open OS config :
`cat /sys/module/apparmor/parameters/enabled : Y`

Open k8s config :
--feature-gates=AppArmor=true,DevicePlugins=true

I write a simple Apparmor local file :
[code]

When I use docker run :
`docker run -it --cap-add SYS_ADMIN  --device /dev/fuse --security-opt apparmor=docker-fuse6 ubuntu-sshfs`
It is ok to use sshfs to mount a remote file.

But when I use k8s yaml, it doesn`t w

[2019-06-26 02:28] rootdeep commented on #79333
The same issue on k8s v1.13.5

[2019-06-26 02:43] ChenLong2014 commented on #79401
/sig Node
/sig Storage

[2019-06-26 02:48] AlawnWong opened #79402 "what is the pod conditions lastProbeTime？"
What is the pod conditions lastProbeTime？
     The pod-lifecycle doc say，The lastProbeTime field provides a timestamp for when the Pod condition was last probed.
     Is it livenessProbe or readinessProbe time?
     however，i use this command （kubectl get po xxx -o yaml），the  lastProbeTime always null.
[code]

    Which condition the lastProbeTime will not null ?

K8S version : 1.13.5

[2019-06-26 03:03] hzxuzhonghu commented on #70231
Seems people in node sig have no bandwidth , let's close now

/close

[2019-06-26 03:03] #70231 closed

[2019-06-26 03:06] gj19910723 commented on #79333
/sig Node

[2019-06-26 03:14] lojies commented on #60903
Had the same question.i can create different pod in different node with the same pvc.But i thought this should be error because i had set the accessmode as ReadWriteOnce.Can someboby tell me if this is a bug or i have a missunderstand.

[code]

[2019-06-26 03:22] spiffxp commented on #79344
/assign @devaips

[2019-06-26 03:56] MikeSpreitzer commented on #78807
The fake timer's Reset() method also does not work correctly.

[2019-06-26 04:03] #69319 closed

[2019-06-26 04:49] juliohm1978 opened #79406 "Missing metrics and labels after upgrade to v1.15.0"
**What happened**: Upgraded to Kubernetes v1.15.0 using `kubeadm upgrade` on a simple single node cluster.

**What you expected to happen**: All metrics to be working as exepcted.

**How to reproduce it (as minimally and precisely as possible)**:

Run `kubectl proxy` to access the api server.

Use `curl` to view container metrics. Please note the example output below, with missing `pod_name` and `

[2019-06-26 04:55] juliohm1978 commented on #79406
@kubernetes/sig-instrumentation-bugs

[2019-06-26 05:00] logicalhan commented on #79406
/cc @dashpole, any thoughts on this? I'm not terribly familiar with the cadvisor metrics.

[2019-06-26 05:18] juliohm1978 commented on #79406
A simple kubelet restart was all that was needed.

My sincere apologies!

[2019-06-26 05:18] #79406 closed

[2019-06-26 05:22] BenTheElder commented on #72956
we're getting close! some of the remaining ones are pretty gnarly though :-)

[2019-06-26 05:23] sudheshpn commented on #79373
The one below
https://github.com/kubernetes-incubator/external-storage/tree/master/nfs-client/deploy

[2019-06-26 05:33] liggitt commented on #79384
Copied from the referenced golang issue thread:

k8s.io/kubernetes is not primarily intended to be consumed as a module. Only the published subcomponents are (and go get works properly with those).

If you want to consume k8s.io/kubernetes as a module, you'd probably need to add require directives for matching versions of all of the subcomponents, rather than using go get

/close

[2019-06-26 05:33] #79384 closed

[2019-06-26 06:46] svenbs commented on #78125
@johnmarcou: It's happening for us while the container sandbox is created. The pod gets stuck in the state "ContainerCreating".

I would assume this happens on both initcontainers and containers.

[2019-06-26 06:54] pblaas commented on #74340
Just to follow up on this. I've been testing this extensively and my current conclusions are this is most likely related to etcd experiencing slow disk and maybe a network hics on shared public infrastructure which is causing etcd master elections.

Since I have an older k8s setup running on the same shared infrastructure I can only come to the conclusion that something has changed in the later ve

[2019-06-26 07:01] BenTheElder opened #79411 "kubeadm v1beta2 config docs point to non-existent KubeletConfiguration version"
**What happened**: https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2 references kubelet.config.k8s.io/v1beta2 and a broken link to this (because it doesn't exist!)

I'm guessing this was a bad find and replace when copying kubeadm's own v1beta1 to v1beta2

**What you expected to happen**: accurate documentation 🙃

**How to reproduce it (as minimally and precisely as possible

[2019-06-26 07:14] draveness commented on #71859
Have talked to @wgliang, I'll take it over and start working on this.

/unassign @wgliang
/assign

[2019-06-26 07:18] BenTheElder commented on #79350
I assume you're referring to this part from the link:

Pentium MMX is going to be > 20 years old ([wikipedia says](https://en.wikipedia.org/wiki/P5_(microarchitecture)) it was introduced in 1996), I'm not sure how succesful you'd be running Kubernetes on hardware from that era in general 🙃

That doc does also note:

We don't support non-linux ARM currently.

We should be fine there, it's the only

[2019-06-26 07:19] BenTheElder commented on #79355
cc @davidz627

[2019-06-26 07:21] BenTheElder commented on #79325
cc @lubinsz

[2019-06-26 07:28] BenTheElder commented on #79364
This is documented in the API docs but I'm not sure if it's documented elsewhere.

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#container-v1-core

`env` says:

They're set.

_technically_ you can set PATH and still have a functioning container, you just need to be careful what you set it to. there's no merge functionality for environment values though

If you want to append

[2019-06-26 07:29] BenTheElder commented on #79364
I think this would be
/sig node
since we're dealing with pods

[2019-06-26 07:30] BenTheElder commented on #79364
probably also
/kind documentation

github.com/kubernetes/website might be open to a PR or issue related to clarifying / adding a note about this. Im not sure where it would go though.

[2019-06-26 07:32] abretaud commented on #70339
/remove-lifecycle stale

[2019-06-26 07:43] Cherishty commented on #77258
@ravibagri5  your suggestion does work! But I still wonder why the finalizer is  **always** blocking the deletion?

[2019-06-26 08:14] cvanlabe commented on #79364
@BenTheElder Thanks a lot for commenting. It would indeed be good if it can be more publicly available.

I saw the stackoverflow document you mentioned, but I don't think that approach works.
In your Dockerfile, you basically specify an ENTRYPOINT (the main executable), and the args from the deployment manifest get appended, not prepended. So the executable will not consider it as an environment v

[2019-06-26 08:20] pickledrick commented on #78865
Hi all,

The insecure stats API appears to be deprecated.

kubernetes/kubernetes#59666
https://github.com/kubernetes/kubeadm/issues/732

[2019-06-26 10:43] xiaozhongliu opened #79419 "Endpoint is accessible, but service is not. Only occurs on one app's service."
**What happened**:
Endpoint is accessible, but service is not.

**What you expected to happen**:
If Endpoint is accessible, service should also be normal.

**How to reproduce it (as minimally and precisely as possible)**:
I don't know. This issue stably happens on one of our apps, the other apps are normal.

**Anything else we need to know?**:
[code]

On the target server where the pod locates:
[c

[2019-06-26 10:45] nielsole commented on #70229
We are seeing @cpressland 's second copypasta on Amazon linux with kernel 4.14.123-111.109.amzn2.x86_64 (the most recent EKS AMI by AWS) quite frequently (1-2 times a day)
For this specific issue with vmalloc there is a kernel bug open, but no progress has been made since August 2018: https://bugzilla.kernel.org/show_bug.cgi?id=200651

[2019-06-26 10:49] wojtek-t commented on #75294
/remove-lifecycle stale

[2019-06-26 10:57] xiaozhongliu commented on #79419
/sig network

[2019-06-26 10:59] thdrnsdk commented on #49466
it looks like almost done

https://github.com/kubernetes/kubernetes/pull/79334

I really hope this feature will be included in the next release.

[2019-06-26 10:59] svjakrm commented on #72905
I have the same issue, k8s 1.14.3 vSphere 6.5
`E0626 10:26:44.588883       1 pvc_protection_controller.go:138] PVC default/pvcsc-vsan failed with : Operation cannot be fulfilled on persistentvolumeclaims "pvcsc-vsan": the object has been modified; please apply your changes to the latest version and try again`
Any workarounds available?

[2019-06-26 11:15] ravibagri5 commented on #77258
@Cherishty  Because, in your case, the finalizer value is set to 'protect' which will block the deletion. You can read more about finalizers here :
https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#finalizers

[2019-06-26 11:26] max-rocket-internet commented on #79365
@hex108

Sure. Here's from the deployment (`kubectl get -o json deployment myapp | jq '.spec.template.spec.containers[].resources'`):

[code]

This shows there's only a single container in these pods.

Here's a list of pods:

[code]

And resources from all pods (`$ kubectl get -o json -l app=myapp pod | jq '.items[].spec.containers[].resources'`):

[code]

That just repeats 14 times, once for each

[2019-06-26 11:26] edmorley commented on #77216
Hi! Could this be due to the issue described in #79398? (I'm presuming since these are crons they may be using a restartPolicy of never too?)

[2019-06-26 11:30] aneeshwara commented on #72102
hi we are trying to create etcd cluster but we are facing the following error please find below error

**Error:  client: etcd cluster is unavailable or misconfigured
error #0: dial tcp 192.168.2.139:2379: getsockopt: connection refused**

please help us to get out of this

thanks in advance

[2019-06-26 11:35] aneeshwara commented on #19235
hi we are trying to create etcd cluster but we are facing the following error please find below error

**Error: client: etcd cluster is unavailable or misconfigured
error #0: dial tcp 192.168.2.139:2379: getsockopt: connection refused**

please help us to get out of this

thanks in advance

we are following the below link to implement the kubernetes on bare metal

https://medium.com/faun/configuri

[2019-06-26 11:35] max-rocket-internet commented on #79365
Ahhh, I deleted those `Completed` pods and suddenly the HPA is back in action:

[code]

[2019-06-26 11:46] snowplayfire commented on #79065
Maybe you can try to update `Cgroup` data to change/update resource limits.

[2019-06-26 11:57] max-rocket-internet commented on #79365
But these `Completed` pods are not from the deployment that is specified in the HPA, they are created from a `Job`. Sure they don't have `resources` set but they should be ignored by the HPA, right?

Here's the pod JSON from one:

[code]

I will test creating more `Completed` pods WITHOUT `resources` set and see if the issue returns. And then test creating more `Completed` pods WITH `resources` an

[2019-06-26 11:57] sack0k commented on #79419
Please attach svc and pod yaml.

[2019-06-26 12:06] discordianfish commented on #77216
There is a design issue with how timing out docker commands are handled. It looks like Kubernetes just retries them without verifying whether the call actually succeeded eventually.

[2019-06-26 12:07] ahg-g commented on #75274
@alculquicondor we can't formally assign it to you since you are not a member of K8s yet, but we assume this is assigned to you.

[2019-06-26 12:24] mattjmcnaughton commented on #76715
On Tue, Jun 25, 2019 at 02:35:21PM -0700, Vallery Lancey wrote:

Wonderful thank you :) I don't think there was... but to be honest I can't
remember.

[2019-06-26 12:24] mattjmcnaughton commented on #72956
On Tue, Jun 25, 2019 at 10:23:48PM -0700, Benjamin Elder wrote:

Great work leading this :) Thank you for your work!!

[2019-06-26 12:36] Protopopys commented on #69841
@liggitt
Can you help me with kubelet-client-certificate authentication on Kubelet?
Kube-apiserver:
[code]
openssl x509 -in /path/to/kubelet-client-certificate -text | grep "Extended Key Usage" -A 1

[code]

Kubelet:
[code]

openssl x509 -in /path/to/kubelet -text | grep "Extended Key Usage" -A 1

[code]
I have an error (kubectl exec to pod)
**Kube-apiserver** -` " Unable to authenticate the reque

[2019-06-26 12:43] mattjmcnaughton commented on #79401
Hi @ChenLong2014

Just to confirm, this failure is occurring on a k8s 1.8 cluster?

Would it be possible for you to upgrade to a supported k8s version as a first step in debugging? 1.13, 1.14 and 1.15 are the currently supported versions.

[2019-06-26 12:46] mattjmcnaughton commented on #79389
Hi @icelynjennings !

Interesting idea :) I agree with you 100% that filing a KEP with a proposal is a great next step as well as chatting about it at a sig-node meeting. Thanks for doing so :)

[2019-06-26 12:46] mattjmcnaughton commented on #79389
I think the current method of sharing sigs is via https://github.com/kubernetes/enhancements - would you mind creating a issue/PR for your sig in that repo?

[2019-06-26 12:50] mattjmcnaughton commented on #79364
@cvanlabe @BenTheElder agree that a documentation update would be quite helpful here.

@cvanlabe would you mind linking some of the documentation you looked at when trying to solve this issue? We can give it a look and update the most appropriate page with this additional info that same environment variables intentionally can't be set.

[2019-06-26 12:51] mattjmcnaughton commented on #79333
/remove-sig node
/sig storage

I think that sig storage is the best place to triage this. Please feel free to add back the sig node tag if you think it'd be helpful.

[2019-06-26 13:09] mattjmcnaughton commented on #79398
@yujuhong thanks for posting!

I'm looking at the code, and it seems like one fix could be checking if this pod has an associated sandbox - if it does, we want to respect the current behavior. If it doesn't, we want to attempt to create the sandbox.

I was thinking something similar to:

[code]

Thoughts? Is there a simplex fix?

[2019-06-26 13:12] edmorley commented on #79398
Hi! Thank you for filing this - it matches the behaviour we've been seeing.

Am I correct that this is a regression from 5f473bc8e1a2758abfb462c0f4b32c0d2ee460c7 (#68980), and so only affects Kubernetes >=1.13 ?

[2019-06-26 13:32] r0bj opened #79421 "kubelet config file, resolverConfig option not used"
**What happened**:

When using kubelet config file, `resolverConfig` option is not used by kubelet.

**What you expected to happen**:

kubelet config option `resolverConfig` is used to set resolver configuration file by kubelet.

**How to reproduce it (as minimally and precisely as possible)**:

kubelet config file:
[code]

During kubelet start, default `/etc/resolv.conf` is used:
[code]

I confir

[2019-06-26 13:33] r0bj commented on #79421
/sig node

[2019-06-26 13:47] xiaozhongliu commented on #79419
[code]

[2019-06-26 14:01] boogie777 opened #79422 "kubeadm v1.14.2 init failed to pull pause image when using cri and private registry ( seems to pull 2 times ..)"
**What happened**:

When trying to bootstrap a kube cluster v 1.14.2 the kubeadm process failed
as the container pause is not retrieved.
Seems that even if the pause container is in our private registry during the setup,  the k8s.gcr.io pause container is being called ..wich failed do to internal firewall policy

`image "k8s.gcr.io/pause:3.1": failed to resolve image "k8s.gcr.io/pause:3.1": no ava

[2019-06-26 14:06] liggitt commented on #69841
--kubelet-client-certificate must be a client certificate

--tls-cert-file passed to the kubelet must be a serving certificate

[2019-06-26 14:07] boogie777 commented on #79422
@kubernetes/sig-K8s Infra-bugs

[2019-06-26 14:09] boogie777 commented on #79422
/kubernetes/test-infra

[2019-06-26 14:10] DarrienG commented on #77216
We specifically set a restartPolicy of never on most of our crons if that helps.

[2019-06-26 14:42] danielloczi commented on #74651
That is right: I simply started to use `Taint based Eviction`.

[2019-06-26 14:44] plumdog commented on #55045
I think the option to delete the PVC on scale down should exist.

Eg, my database makes use of a statefulset. It automatically scales up to have many replicas to handle an increase in load. Once that load stops, I want it to scale down, and I don't want the cost of all those volumes. Manually deleting in this situation seems wrong - k8s decided to create them, it should (optionally) tidy up now it

[2019-06-26 14:45] andyzhangx commented on #78989
/close
close this issue since it's a vmss issue, and it's due to one vmss instance provision timeout

[2019-06-26 14:45] #78989 closed

[2019-06-26 15:54] kfox1111 commented on #79389
+1 for a kep at kubernetes/enhancements. Not 100% clear which sig this would belong to though. sig-node seems likely to me.

[2019-06-26 15:54] ahg-g opened #79427 "Refactor scheduling framework integration tests"
**What would you like to be added**:
Refactor the framework integration test to make sure tests start on clean state.

**Why is this needed**:
Scheduling framework integration tests rely a lot on shared state, this state is reset in in an ad hoc way that will likely cause falky tests in the future depending on the order the tests are run.

[2019-06-26 15:55] kfox1111 commented on #79389
Copied from the google doc by request:

Can I add an alternate suggestion?
Could we make alternate images first class citizens with their own kind? It would make mirroring images to easier if you could load up the main pod/deployment/daemonset/whatever, and then upload an object saying what mirrors it can come from instead. that way the writer of the main object and the person deploying can be dif

[2019-06-26 15:56] ahg-g commented on #79427
/sig scheduling

[2019-06-26 16:17] cezarsa commented on #73382
Hey folks, I think I have hit a similar problem. We're using kube-proxy 1.12.9 and once we went from iptables to ipvs we saw a huge increase in CPU usage with an average of about 130% of cpu time:

<img width="400" alt="Screen Shot 2019-06-26 at 12 53 09" src="https://user-images.githubusercontent.com/11041/60195491-8e40fb00-9811-11e9-83fa-a559ad0aefc5.png">

After running a CPU profile I can see

[2019-06-26 16:18] #79411 closed

[2019-06-26 16:31] BenTheElder commented on #79364
@cvanlabe you can just as easily prepend instead of append with "PATH=/foo:$PATH"

[2019-06-26 16:32] andrewsykim commented on #73382
Thanks for the comprehensive report @cezarsa, I will try to dig into this in the next few days

[2019-06-26 16:34] coffeepac opened #79432 "Move fluentd-elasticsearch out of k/k"
**What would you like to be added**:
currently the fluentd-elasticsearch cluster addon creates two docker images that are hosted in non-kubernetes controlled repositories and the code to create them is hosted in k/k.  either the code should be moved out of k/k or the images to should be controlled by the kubernetes org.

**Why is this needed**:
this type of ownership mismatch will lead to a bad us

[2019-06-26 16:34] coffeepac commented on #79432
/sig instrumentation
/assign @coffeepac
/priority soon

[2019-06-26 16:39] yujuhong commented on #79398
Your solution may not work for the one specific failure I checked, where the PodSandbox container was created, but call to the CNI plugin failed (for some reason; could be caused by a race condition). This left us a not-ready PodSandbox with no IP.

Probably have to actually determine whether the user containers were created before. Need to check the code closer though.

[2019-06-26 16:43] GerrySeidman commented on #55045
Clearly the optional PVC 'clean up' when the stateful set is deleted
makes good sense

On the scale up/down, I'm not sure what the behavior if at scale up
attempt time the pod can not be scheduled to the same node. If it can't
be scheduled onto the original same node, then topology aware CSI
drivers may want to participate in the recreation scheduling.

Scenario:

  * Scale down of a Stateful Set'

[2019-06-26 16:51] Ravikiran7161 opened #79434 "Jenkins running offline on K8's Worker node"
I have k8's running on centos machine(local) with 2 worker nodes. I deployed pod with Jenkins running in it with nodeport service( so that we can access through web ). But, when I am accessing from browser it running in offline mode. I cannot install plugins in it
Can please someone help me on this ?

[2019-06-26 16:53] zhan849 opened #79435 "InstanceShutdownByProviderID should return true when instance is stopped or terminated in aws"
**What happened**:
InstanceShutdownByProviderID aws impl should check if the instance is terminated. This will cause confusions:

1. The interface implies that it will return true if instance is "shutdown", i.e. the machine is not running, and a "terminated" ec2 instance will also fit in to this category
2. This will cause terminated node miss the shutdown taint, with only unreachable taint, daemo

[2019-06-26 17:17] ahg-g commented on #79427
/assign @draveness

[2019-06-26 17:19] bdowling commented on #35213
Came here trying to figure out how to remap the default escape Control-p,Control-q to something else.

Fingers are programmed that C-p is previous command, why that was ever chosen as the default escape key is beyond comprehension! :)

You can remap the detachKeys in ~/.docker/config.json with:
[code]

But there doesn't seem to be an equivalent yet for k8s?

`~.` would be an improvement, though si

[2019-06-26 17:20] Cherishty commented on #77258
@ravibagri5  Yes I give much of thumbs for your answer under this issue. which does disturb me a lot.
I wonder can we remove this definition when creating the pv/pvc?

I try `finalizers: ~` or `finalizers: NULL` under **metadata** section but it does not work

[2019-06-26 17:41] Cherishty opened #79437 "How to disable/remove StorageObjectInUseProtection when declaring pv/pvc"
**What happened**:
pv/pvc protection does make a lot of trouble and confusion and receive much of complaint, see
[#77258](https://github.com/kubernetes/kubernetes/issues/77258), [#69697](https://github.com/kubernetes/kubernetes/issues/69697). For much of case besides me, pv/pvc will always stuck in `Terminating ` status even **NO** pod is using it.

So I wonder how can I disable it, or how can I r

[2019-06-26 17:42] Cherishty commented on #79437
/sig storage

[2019-06-26 18:05] #78913 closed

[2019-06-26 18:25] dashpole opened #79440 "[Feature:FSQuota] Ensure projects are reflected in /etc on kubelet startup"
In some OS configurations, `/etc` is reset upon node reboots.  It is conventional to record projects being used in `/etc/projects` and `/etc/projid` to allow actors on the node to avoid project id collisions, so losing information in `/etc` could potentially allow project id collisions to occur.

Currently, [Quotas for Ephemeral Storage](https://github.com/kubernetes/enhancements/blob/master/keps/

[2019-06-26 18:25] enj commented on #79395
/priority awaiting-more-evidence

[2019-06-26 18:29] dashpole commented on #79440
/sig node
/sig storage
/priority important-soon
/kind bug

[2019-06-26 18:29] dashpole commented on #79440
/remove-kind feature

[2019-06-26 18:30] liggitt commented on #77974
closing for lack of information. please provide the roles/clusterroles/bindings/clusterrolebindings/psps if you can reproduce this.

/close

[2019-06-26 18:30] #77974 closed

[2019-06-26 18:31] enj commented on #23720
/priority awaiting-more-evidence

[2019-06-26 18:33] DaveWHarvey commented on #55045
Because the pod can/will behave differently if it attaches to a new PV or an existing PV, having a grace period would mean that sometimes it gets one behavior and other times a different behavior.    If the PVC is configured to  deleted on scale-down, that should always happen, so that a new pod is created on scale up.

[2019-06-26 18:33] mikedanese commented on #18394
Planned timeline here:

https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/0000-20170814-bounding-self-labeling-kubelets.md#implementation-timeline

[2019-06-26 18:33] enj commented on #18394
/priority important-longterm

[2019-06-26 18:34] enj commented on #18394
/milestone v1.16

[2019-06-26 18:35] enj commented on #79395
We should update the docs so that the lack of any automatic groups impersonation is clear.

[2019-06-26 18:43] yastij commented on #58635
/remove-lifecycle stale

[2019-06-26 18:55] kwojcicki commented on #78942
Assuming this had to do with my vm network settings, using nested virtualization fixed this.

[2019-06-26 18:55] #78942 closed

[2019-06-26 19:27] jeffliu27 commented on #79209
@roycaihw @jpbetz would love to help out as well!

[2019-06-26 19:36] RobertKrawitz commented on #79440
Quotas for ephemeral storage does add `/etc/projects` and `/etc/projid` records (and cleans them up on teardown).  I think the use case @dashpole is referring to has to do with `/etc` being wiped on reboot.

[2019-06-26 19:42] roycaihw commented on #79209
The basic idea is that we have separate trace objects in our rest handlers (e.g. https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/create.go#L49) and in lower level webhook invocations (https://github.com/kubernetes/kubernetes/pull/78610/files). Those trace objects get logged separately as https://github.com/kubernetes/kubernetes/issues/79209#

[2019-06-26 19:43] jeffliu27 commented on #75191
@jsafrane is there anywhere that I could help on the issue?

[2019-06-26 19:58] almiche commented on #25382
👋 I'm wondering if anyone thinks that `kubectl create pods --image=busybox:tag` is worthwhile adding in. I would like to take a stab at it, so far looking at the source code I haven't seen this new sub-command added in.

[2019-06-26 20:08] dashpole commented on #79440
Updated the issue description to clarify

[2019-06-26 20:09] RobertKrawitz commented on #79440
:+1:

[2019-06-26 20:26] monotek commented on #79432
Not sure if we have enough time to wait for the feature to be generally available but I think githubs comming package registry would be a perfect fit.

https://github.blog/2019-05-10-introducing-github-package-registry/

[2019-06-26 20:42] cezarsa commented on #73382
So I went to dig a bit more into this and in the end I think I found a somewhat simple mitigation to the problem and opened the PR #79444. I think the suggestion from @uablrek is still valid though and could be implemented in the future.
@andrewsykim If you're already working on this and come up with some other solution please feel free to close my PR. :)

[2019-06-26 20:51] yujuhong commented on #79398
Thanks. That's probably correct. I saw this in happening in 1.13

[2019-06-26 20:59] mkimuram opened #79445 "Umbrella: Imporve volume expand e2e test"
This holds a list of volume expand e2e test related improvements that are not covered in https://github.com/kubernetes/kubernetes/pull/78000

- [ ] Move mounted_volume_resize.go to framework
- [ ] Add actual volume size check for volume expand tests
- [ ] Merge volume expand tests for flex volume to framework (Move entire flex volume tests to framework?)
- [ ] Make binding mode tunable depending o

[2019-06-26 21:03] mkimuram commented on #79445
/sig storage

[2019-06-26 21:04] codenrhoden commented on #74548
/remove-lifecycle rotten

[2019-06-26 21:17] caseydavenport commented on #78729
yeah, this is a weird behavior and I'm not sure why Kubernetes actually does this. It's probably intended to be an optimization by removing the need to round-trip to the load balancer if the traffic can be kept cluster-internal.

I'm not sure if we can just stop doing that, though - there might be existing users relying on this behavior.

For your particular scenario, any reason that you need to h

[2019-06-26 21:17] caseydavenport commented on #78729
/remove-triage unresolved

[2019-06-26 21:24] caseydavenport commented on #72044
@DreadPirateShawn @blakebarnett @clcollins if you get a chance to try this on 1.13+, that would be useful to tease out if this may have already been fixed in a newer version of Kubernetes.

[2019-06-26 22:58] ddebroy commented on #77237
/assign

[2019-06-26 23:03] ddebroy commented on #74553
/remove-lifecycle rotten

[2019-06-26 23:50] sharmagaurav03 commented on #22888
By any chance, is Kubernetes supporting this feature out of the box now? Is it supported in Amazon EKS now?

[2019-06-27 00:18] neolit123 commented on #79422
/priority awaiting-more-evidence

if you have your `imageRepository: artifact-docker/google_containers` in the kubeadm config, the resulted pause image should be `artifact-docker/google_containers/pause:3.1`,

this value is then passed to the kubelet as `--pod-infra-container-image=artifact-docker/google_containers/pause:3.1`, but _only in the case of docker_ as this is a dockershim specific flag.

[2019-06-27 00:28] neolit123 commented on #79363
/close

if you have created a kubernetes cluster using `kubeadm init` with 1.14.x as the kubernetes version, it means you can only join kubelet binaries that match the 1.14 version (and fetch the `kubelet-config-1.14` ConfigMap), pre 1.15. this was confusing and arguably not valid.

in 1.15 the logic slightly improved, such as, that kubeadm fetches the version of the control plane from the cluster

[2019-06-27 00:28] #79363 closed

[2019-06-27 00:49] ams0 commented on #22888
It's not OOTB from Kubernetes but it can be achieved with Open Policy Agent (a CNCF project): https://www.openpolicyagent.org/docs/latest/guides-kubernetes-admission-control/#example-policy-image-registry-safety

[2019-06-27 01:16] hex108 commented on #79365
Yes, it is a little weird. How could I reproduce it?

[2019-06-27 01:51] #79427 closed

[2019-06-27 02:18] zq-david-wang commented on #79365
https://github.com/kubernetes/kubernetes/blob/cd89631620f62ea8e43b55be9c6a7b06bc39274f/pkg/controller/podautoscaler/metrics/rest_metrics_client.go#L63-L69

HPA use only selector to filter pods without checking ownership, I think this is a horrible mistake!

[2019-06-27 02:40] zhoujun165 commented on #76956
I have the same error.
waiting for solution

[2019-06-27 02:43] justaugustus commented on #73286
/remove-lifecycle stale
/milestone v1.16

[2019-06-27 02:53] ramnar opened #79454 "kubectl version command error message is not proper"
**What happened**:

**kubectl version --client=yes** command  is giving the following error message. Error message is repeated at the start and the end and also containing programming jargon

Error: invalid argument "yes" for "--client" flag: strconv.ParseBool: parsing "yes": invalid syntax

Examples:
   Print the client and server versions for the current context
  kubectl version

Options:

[2019-06-27 02:54] ramnar commented on #79454
/sig-cli

[2019-06-27 03:00] liggitt commented on #79437
See https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#how-do-i-turn-off-an-admission-controller for instructions on disabling default admission plugins.

Note that disabling this admission plugin is strongly discouraged, since it allows API objects to be deleted while storage is still in use.

/close
/remove-kind bug

[2019-06-27 03:00] #79437 closed

[2019-06-27 03:04] ORESoftware opened #79455 "`kubectl config set-context` should not create a new context"
I ran:

` $ kubectl config set-context eks1`

I got:

`Context "eks1" created.`

**What would you like to be added**:

I would like set-context to not create a context if it does not exist.

**Why is this needed**:

It is confusing / poorly named api

[2019-06-27 03:14] liminghua999 commented on #76956
what's  your k8s version??

[2019-06-27 03:23] hex108 commented on #79365
@zq-david-wang It might be the cause of this issue. Would you like to send a PR for it? If not, I could try to fix it.

[2019-06-27 04:13] #78954 closed

[2019-06-27 04:15] Nebulazhang opened #79457 "change glog level without restart"
Does k8s has interface to change glog level without restarting? Sometimes we need upgrade the glog level for debugging and if we restart it, maybe we cannot re-produce bugs.
**What would you like to be added**:
If not have , can k8s add the debug interface?
**Why is this needed**:
For debugging without restart

[2019-06-27 04:17] Nebulazhang commented on #79457
/sig node
/sig api-machinery

[2019-06-27 05:27] prameshj commented on #78206
/remove-triage unresolved

[2019-06-27 05:39] prameshj commented on #66651
I looked at the code some more and @oxddr as you mentioned, we do return if iptables-restore did not work - https://github.com/kubernetes/kubernetes/blob/fd66d37b3aad07408263697243e60ea3054232a9/pkg/proxy/iptables/proxier.go#L1405

But this means the iptables rules did not update the endpoints to DNAT to. There should be an error message in kube-proxy logging that restore failed. Is that the case?

[2019-06-27 06:08] wojtek-t commented on #73286
This has been fixed in the meantime - flush was fixed in 1.12.1 (or 2) IIRC, and performance regression was fixed in 1.12.5 - so we should be safe.

[BTW, we're also working with golang team now to validate upcoming 1.13 release, so that we won't be surprised again (at least from performance POV)].

[2019-06-27 06:12] wojtek-t commented on #75731
/remove-lifecycle stale

[2019-06-27 06:16] feiskyer opened #79459 "Failing test: [sig-network] DNS configMap nameserver [IPv4] Forward PTR lookup should forward PTR records lookup to upstream nameserver [Slow][Serial]"
**Which jobs are failing**:

ci-kubernetes-e2e-gce-cos-k8sstable1-serial.

**Which test(s) are failing**:

[sig-network] DNS configMap nameserver [IPv4] Forward PTR lookup should forward PTR records lookup to upstream nameserver [Slow][Serial].

**Since when has it been failing**: 06-20.

**Testgrid link**: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sstable1-s

[2019-06-27 06:16] zhoujun165 commented on #76956
1.14.3 and 1.15.0

[2019-06-27 06:24] zq-david-wang commented on #79365
@hex108 I am not working on this. :)

[2019-06-27 06:25] liminghua999 commented on #76956
I think some wrong with config file ,but I do'nt know where

[2019-06-27 06:40] vnktram commented on #77024
Can I pick up the line item to pull the changes from `etcd` and `kustomize` into k8s?

[2019-06-27 06:45] vnktram commented on #15863
@nikhita I'm willing to pick this up.

[2019-06-27 07:12] wojtek-t commented on #75770
/remove-lifecycle stale

We may consider having a corresponding bug in klog repo.
@dims - thoughts?

[2019-06-27 07:17] lnshi opened #79461 "k8s 1.10 to 1.11 upgrade breaks one of our core service"
We have one core service HTTP passthrough which originally was working quite well with k8s 1.10 and istio proxy sidecar, but after did the cluster upgrade to 1.11 it is broken:

The core part of the HTTP passthrough is just:
[code]

But after upgraded the k8s from 1.10 to 1.11 (istio remains exactly same version, all other golang docker runtime remain same also), the service is not working anymore

[2019-06-27 07:20] lnshi commented on #79461
/sig network

[2019-06-27 07:20] warlice commented on #79090
tks for what u have done。It excatly what i mean。i wish it will complete very soon，or i have to change the dockerd。

[2019-06-27 07:21] vnktram commented on #79209
@roycaihw I would like to help with this.

[2019-06-27 07:21] lnshi commented on #79461
/sig contributor-experience

[2019-06-27 07:35] lnshi commented on #79461
sorry mistakenly add the `sig/contributor-experience` no idea how to remove...

[2019-06-27 07:40] wojtek-t commented on #78562
It's not - it's not trying to use more than ~180MB across whole test.

[2019-06-27 08:03] lovingyu commented on #76531
Centos 7.6
Docker version 18.06.0-ce
Kubernetes 1.15.0

has the same problem

6月 26 19:26:26 master kubelet[27428]: W0626 19:26:26.864496   27428 watcher.go:87] Error while processing event ("/sys/fs/cgroup/memory/libcontainer_85951_systemd_test_default.slice": 0x40000100 == IN_CREATE|IN_ISDIR): readdirent: no such file or directory
6月 26 19:26:26 master kubelet[27428]: W0626 19:26:26.864593   274

[2019-06-27 08:06] facejiong commented on #23726
tks

[2019-06-27 08:27] ST-DDT commented on #24855
Now that the export function is deprecated, I assume that the issues won't need fixing either...
might as well close this issue. Or is there hope that we get some replacement feature?

[2019-06-27 08:32] GitHubxsy commented on #79336
+1

[2019-06-27 08:42] aojea commented on #70248
I'll be some time off, but will check once I back why the DNS tests are still failing, the patch worked in my environment :thinking:

[2019-06-27 09:00] imdingtalk commented on #76531
Kubenetes v1.15.0 still exists

[2019-06-27 09:02] aojea commented on #70248
dns-test-service.dns-346.svc.cluster.local.c.k8s-prow-builds.internal. A: plugin/kubernetes: no next plugin found
2019-06-27T04:54:28.80348837Z stdout F 2019-06-27T04:54:28.803Z [ERROR] plugin/errors: 2 dns-test

We.are using a custom coredns config for the ci, checking the logs of the coredns pods I think the problem should be there https://github.com/kubernetes-sigs/kind/blob/572fda58f2d3b6573d4

[2019-06-27 09:11] RainbowMango commented on #79461
/remove-sig contributor-experience

[2019-06-27 09:23] mm4tt commented on #75294
Sorry, this got unintentionally deprioritized due to too many stuff on my plate, but I'll be getting back to this in Q3. This should get improved with https://github.com/kubernetes/kubernetes/pull/71376

[2019-06-27 09:30] wojtek-t commented on #75294
This is not exactly what we would like to proceed with.
I'm working on a KEP for that - I will try to get to it early next week: https://github.com/kubernetes/enhancements/pull/924

[2019-06-27 09:32] GitHubxsy commented on #79336
set docker-daemon  log-driver=json-file

[2019-06-27 09:36] mm4tt commented on #75294
Sorry, wasn't clear enough. I was thinking about the idea behind https://github.com/kubernetes/kubernetes/pull/71376, i.e. to not serialize the same object multiple times, not the implementation details of it :)

[2019-06-27 10:00] wojtek-t opened #79464 "Compile errors for some openapi tests in benchmark suite"
I've just finished setting up a test suite with microbenchmarks.
It generally works, but there is a problem with some tests related to open-api that they don't compile, e.g.:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-benchmark-microbenchmarks/1144171647465426947/artifacts/benchmark-log.txt

[code]

Can you please take a look so that we could make this suite green?

@kubernetes/sig-

[2019-06-27 10:10] yue9944882 commented on #75731
iiuc, for cr, hub version is the requested version. so it's caching converted objects separately..

[2019-06-27 10:43] dpoison opened #79466 "failed to collect filesystem stats - rootDiskErr: failed to exec du - fork/exec /usr/bin/nice: resource temporarily unavailable"
@kubernetes/sig-cluster-lifecycle

Hello,

We are facing the issue of kubenetes node is going down for a few minutes randomly on every alternate days. Node goes in NotReady state.  Meanwhile, all pods get restarted. below is the version details.

- Kubernetes version: v1.10.5+coreos.0
- Cloud provider or hardware configuration: Intel(R) Xeon(R) CPU X5670 @ 2.93GHz GenuineIntel GNU/Linux
- OS:NAME=

[2019-06-27 10:52] dpoison commented on #66421
We are also facing the same issue with k8s v1.10.5
kubenetes node is going down for a few minutes randomly on every alternate days. Node goes in NotReady state.  Meanwhile, all pods get restarted. below is the version details.
Below 2 errors are found all the time when node goes not ready state.

Any help is highly appreciated.

[2019-06-27 11:04] benceszikora commented on #66819
@freehan We just got the same error on 1.15.0. It doesn't look to me like this was fixed: https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-proxy/app/server.go#L444

[2019-06-27 11:23] ChenLong2014 commented on #79401
Hi mattjmcnaughton,
I got
 `fuse: failed to open /dev/fuse: Operation not permitted`

yes, My k8s version is 1.8.

OK, I will update the k8s version to test this.  And I still have a problem.

1ST,
Is my YAML is correct?
Especially the annotation of the yaml~~~
[code]

2ND,
What EVN or CONFIG I have to open and config?
APPARMOR enable ?
APISERVER : --feature-gates=AppArmor=true

I find a lot of re

[2019-06-27 11:42] yuyulei commented on #79337
/sig apps

[2019-06-27 11:43] wojtek-t opened #79468 "BenchmarkCheckRetryClosesBody is failing"
It seems to be consistently failing with:
[code]

https://testgrid.k8s.io/sig-scalability-benchmarks#microbenchmarks

@kubernetes/sig-api-machinery-bugs

[2019-06-27 11:45] yuyulei commented on #79337
/sig apps

[2019-06-27 11:48] cormachogan opened #79469 "Please add a kubectl extention to display node taints"
**What would you like to be added**:
It seems that displaying node taints requires, at the very least, piping into external tools. e.g.
`$ kubectl describe nodes | egrep “Taint|Hostname”`

I've also seen really weird and wonderful command line extensions to display nicely formatted taint information, e.g.
`$ kubectl get nodes -o go-template=‘{{printf “%-50s %-12s\n” “Node” “Taint”}}{{- range .item

[2019-06-27 11:50] TheKangaroo commented on #78729
Hi @caseydavenport, actually we don't allow any capabilities in our containers, so the ingress can't bind to low ports. therefore we use the service port to expose port 443, but map it to 6443 in the pod.
It isn't really an issue for me to allow both ports in the network policies, I just wanted to drop this info here, if this is something that can be fixed. Otherwise, people can read about it here

[2019-06-27 11:50] ReSearchITEng opened #79470 "taint --overwrite returns "modified" even when no changes were made"
**What happened**:
```kubectl taint nodes --selector node-role.kubernetes.io/infra= node-role.kubernetes.io/infra=:NoSchedule --overwrite```

Even if identical taint and effect already exists, it always returns:
[code]

**What you expected to happen**:
return
"node/machine04 not tainted"
or
"node/machine04 not modified"

**Anything else we need to know?**:
Labels behave differently. When label alr

[2019-06-27 11:54] Pingan2017 commented on #79194
rate limit +1

[2019-06-27 12:06] mylesagray commented on #79469
/sig cli

[2019-06-27 12:35] yue9944882 opened #79472 "[Tracking Issue] Pain points in using OpenAPIv2 schema"
/kind feature
/sig api-machinery

@sttts @roycaihw @kubernetes/sig-api-machinery-misc

- Lacking multi-types support:
  - (https://github.com/kubernetes-client/java/issues/86) Delete calls returns actual objects in the response (e.g. when there's remaining finalizers) while the v2 spec says it's returning a status object.
  - (https://github.com/kubernetes-client/python/issues/322) IntOrString can

[2019-06-27 12:46] ReSearchITEng commented on #79470
/sig-node-bugs

[2019-06-27 12:50] ReSearchITEng commented on #79470
/sig node

[2019-06-27 12:55] mattjmcnaughton commented on #79398
On Wed, Jun 26, 2019 at 09:39:59AM -0700, Yu-Ju Hong wrote:

Gotcha - thanks! Taking a look at your pr now :)

[2019-06-27 13:05] chrisohaver commented on #78562
Thats not exactly what I was asking.  I was asking if it had been restarted for _any_ reason at any point during the test - not just OOM death.  The point being that _any_ restart (including non-OOM) will a cause a memory spike for a client watching endpoints, as the API will flood the client with an enormous endpoint list.

Although, perhaps there is little value to try to solve the mystery at th