[2019-05-22 19:01] misterikkit opened #78220 "Move `GetPodPriority` into a common library"
**What would you like to be added**:

The `GetPodPriority` function should be moved out of `pkg/scheduler` and into a common library where components can use it without importing scheduler code.

**Why is this needed**:

In #76990 we removed a dependency between kubelet and scheduler by copying a small helper function. We would prefer to have only one copy of this function, but it would need a hom

[2019-05-22 19:02] misterikkit commented on #78220
/sig scheduling
/help
/good-first-issue

[2019-05-22 19:13] tedyu commented on #78208
The following change would skip Reduce if Map hasn't run:
[code]
generic_scheduler_test passes with the above.

[2019-05-22 19:13] dolsen-handy commented on #77650
Are you using IPVS? We came across your PR because were seeing similar issues. Ended up being this: https://github.com/kubernetes/kubernetes/pull/77802

[2019-05-22 19:41] postcert commented on #44377
@z1nkum did you ever get to the bottom of why the NFS consumers must be on the same node?

I have having a similar issue, but with more nodes/pools, but as you've explained with an nfs backed pv/pvc only pods scheduled to the same node as the "nfs-server" pod are able to mount correctly.

[2019-05-22 19:59] Jeffwan commented on #68605
Oh no, Cloud provider was moved out of tree already?  PR will be expired..

[2019-05-22 20:08] dpandhi-git commented on #78220
Can I take this?

[2019-05-22 20:20] tedyu commented on #78208
[code]
Currently all the errors are aggregated.
If we don't need all the errors, Function / Map / Reduce func can return early if errs becomes non-empty.

[2019-05-22 20:20] yue9944882 commented on #78217
/sig apps

[2019-05-22 20:27] yue9944882 commented on #78214
that's indeed a bug i presume. but what use-case makes you label-querying componentstatus?

[2019-05-22 20:33] yue9944882 commented on #78181
sadly, yes. the good news is that we can do pagination so that list chunks won't jam the traffic.

[2019-05-22 20:36] pjh commented on #76666
Yes, thanks everyone @ Microsoft for getting this fix out. I've just started installing it on some of our Windows test clusters, I'll update + close this bug when I can confirm the problem is resolved.

[2019-05-22 20:42] jeffqwb2017 commented on #78186
Labels
/sig NodeFeature
/sig k8s.io

[2019-05-22 20:52] #58010 closed

[2019-05-22 20:52] #78143 closed

[2019-05-22 21:03] yujuhong commented on #78023
I think kubelet (and cadvisor ,etc) typically logs the same error repeatedly, and it's not easy to just "read" the log to determine if anything went wrong. Knowing the use case could definitely help us improve the situation, so +1 to @derekwaynecarr's comment above.

I'd suggest, in general, not to change the frequency of the control loop to lower the noise.

Yes, this can actually be a bug if vol

[2019-05-22 21:40] misterikkit commented on #78220
@Deepika sounds good to me. (:

[2019-05-22 21:43] krmayankk commented on #57601
I think there are two layers of security, authentication and authz. The more layers we have to prevent an attack the better. Currently the model is that a pod will always mount the token by default. this makes them talk to apiserver and be able to authenticate, but they dont have permission to do anything. If an attacker is able to somehow hack that layer of authz, he has full access.
So in my min

[2019-05-22 21:46] ddebroy opened #78224 "Conversion generation is not able to detect dependencies in certain conditions"
**What happened**:
When working on https://github.com/kubernetes/kubernetes/pull/77703, generated conversion functions at pkg/apis/storage/v1/zz_generated.conversion.go is not able to auto detect conversion functions for members like PersistentVolumeSpec. As a result, it emits code with warnings:
[code]

This happens in spite of the fact that `Convert_v1_PersistentVolumeSpec_To_core_PersistentVolu

[2019-05-22 21:46] ddebroy commented on #78224
/cc @liggitt @sttts

[2019-05-22 21:47] ddebroy commented on #78224
/sig api-machinery

[2019-05-22 21:47] liggitt commented on #57601
disabling by default is not backwards compatible, so is not a realistic option until (if) a v2 Pod API is made

[2019-05-22 22:14] #77416 closed

[2019-05-22 22:16] misterikkit commented on #78220
/assign dpandhi-git
/remove-help

[2019-05-22 22:23] misterikkit commented on #71863
/remove-lifecycle rotten
The PR for this is nearly merged.

[2019-05-22 22:34] antoineco commented on #78172
@andyzhangx this seems to be an extreme case. In other environments where the issue occurs, API calls cost between 15 and 60 sec.

[2019-05-22 22:50] josiahbjorgaard commented on #50564
I'm looking for a good first issue, will happily take this

[2019-05-22 23:34] liggitt commented on #78217
#71450 was resolved in 1.15 in https://github.com/kubernetes/kubernetes/pull/74747

[2019-05-22 23:44] liggitt commented on #78217
/remove-sig apps
/sig api-machinery

[2019-05-23 00:09] misterikkit commented on #78208
Scheduler has a policy field `AlwaysCheckAllPredicates` specifically to control this.

[2019-05-23 00:22] misterikkit commented on #78208
@sevensees Thanks for raising this. In our CI, [we are able to hit 100 pods/s on a 5000 node cluster](http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=Scheduler&metricname=SchedulingThroughput).

I would like to understand how your setup differs from the test environment. Possibly there is some configuration that would get you higher performance, or some way we can make our test

[2019-05-23 00:42] raushan2016 commented on #53777
IS this feature now available @nikhita @mbohlool

[2019-05-23 00:42] tedyu commented on #78208
bq. Scheduler has a policy field AlwaysCheckAllPredicates
generic_scheduler_test has this check which is not dependent on test.alwaysCheckAllPredicates :
[code]
I want to get your opinion on how the above check should be formulated considering test.alwaysCheckAllPredicates

Thanks

[2019-05-23 01:14] andyzhangx commented on #78172
@antoineco API calls cost between 15 and 60 sec on average and still takes up 30min to re-attach? could it repro easily?

[2019-05-23 01:23] brycecr opened #78227 "Error Forbidden: unknown while running kubectl wait"
**What happened**:
I gave a user (user@example.com) very limited permissions in the kube-system namespace, specifically:
[code]
I then ran:
`kubectl -n kube-system scale deployment my-deployment --replicas=0 --as user@example.com && kubectl wait -n kube-system --for=delete pods -l k8s-app=my-deployment --as user@example.com
`

This was the output:
[code]

**What you expected to happen**:
I would h

[2019-05-23 01:26] brycecr commented on #78227
@kubernetes/sig-cli

[2019-05-23 01:37] canmanmake commented on #17088
How? GKE does not allow ExternalName and asks for NodePort or LoadBalancer.

Any news on that issue? The workarounds do not work for me, considering using GCLB (anycast) for multi cluster. Thanks

[2019-05-23 01:51] Yzerost opened #78228 "kubetest failed ,density.go:554 report error"
**What happened**:
run kubetest with：
kubetest --test  --provider=local --test_args="--host=https://172.16.152.101:8443 --ginkgo.focus=\[Feature:Performance\]" >> logs/log.txt
,failed and report error below:

**May 22 19:35:35.302: INFO: Waiting up to 30s for server preferred namespaced resources to be successfully discovered
May 22 19:35:35.421: INFO: namespace: e2e-tests-density-8b5nw, resource:

[2019-05-23 01:58] misterikkit commented on #78208
Because the test case also provides `test.wErr` the tests are capable of passing with or without `alwaysCheckAllPredicates` set. (They all seem to be passing.)

Taking a look at those tests, I don't think they are exercising that specific behavior very well. (There's plenty of room for increased test quality.)

Anyway, from the sample trace in this issue, it looks like node ranking is taking about

[2019-05-23 02:07] jingxu97 commented on #2630
@incubus8
I am trying to working on this issue. Could you please describe your use case and what kind of behavior you would expect? Thanks!

[2019-05-23 02:21] Yzerost commented on #78228
/sig scalability

[2019-05-23 02:29] ford-prefect commented on #2630
@jingxu97 I can offer two examples. The Prometheus docker image starts the prometheus service as user `nobody` (uid 65534) and the Grafana docker image starts grafana as uid=472 (https://grafana.com/docs/installation/docker/)

Both of these fail by default to create directories when they first start up because of these permissions.

[2019-05-23 03:04] hex108 commented on #78208
It seems that the step `Selecting host` took most part of the time(83.565783ms)?  So I think `PercentageOfNodesToScore` that @misterikkit suggests could help.

[2019-05-23 03:11] tedyu commented on #78208
Currently DefaultPercentageOfNodesToScore is set to 50.

I think for large cluster (> 1000 node), the default should be lowered (to 30% e.g.).

[2019-05-23 03:24] mortent opened #78231 "ScaleClient should accept full group/version/resource"
**What would you like to be added**:
Additional functions on the ScaleClient interface that accepts full group/version/resource instead of just group/resource.

**Why is this needed**:
The ScaleClient currently accept GroupResource and then uses an internal restmapper to look up the versions. In some situations we already have the full group/version/resource and it should be possible to use it dir

[2019-05-23 03:52] #72272 closed

[2019-05-23 04:23] Huang-Wei commented on #78208
@sevensees Thanks for raising this issue. In addition to @misterikkit 's questions on how your cluster is setup, I do want to know:

1. What's the spec of your machines?
2. Which metrics you're using to measure the "pod scheduling time"?
3. How do you setup the workloads? Did you refer to https://github.com/kubernetes/perf-tests/tree/master/clusterloader2?

[2019-05-23 05:11] parkjunhyo opened #78235 "unable to create/update the DNS service: Service "kube-dns" is invalid: spec.clusterIP: Invalid value: "10.96.0.10": field is immutable"
This is my environment (I used Ubuntu 16.04)
~# kubectl version
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.2", GitCommit:"66049e3b21efe110454d67df4fa62b08ea79a19b", GitTreeState:"clean", BuildDate:"2019-05-16T16:23:09Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}

At first, I ran "sudo kubeadm init --config=kubeadm-config.yaml --experimental-upload-cert

[2019-05-23 05:57] ggaurav10 opened #78236 "How is globalTimeout handled when draining a node"
When draining a node, `evictPods()` is called. It is supposed to wait for duration `globalTimeout` for evicting all the pods.
https://github.com/kubernetes/kubernetes/blob/release-1.8/pkg/kubectl/cmd/drain.go#L534
If the each of the pods take different times to be evicted, then the timeout timer starts again from 0 because of `for`-ever loop.

**What you expected to happen**:
After `globalTimout`

[2019-05-23 06:00] ggaurav10 commented on #78236
/sig node

[2019-05-23 06:23] akhilrajmailbox commented on #37218
Currently, I am using an additional script as liveness probe to check all process and it is working, but Hard to manage if we have 100+ Deployments. If we have an array of liveness probe, it would be great.

[2019-05-23 06:39] irony1692 opened #78238 "Cannot specify multiple node names for DaemonSet in matchFields selector"
**What happened**:
An error occured when DaemonSets are created on multiple nodes with `matchFields` node selector.

**What you expected to happen**:
DaemonSet can be deployed on some specified nodes by their names.

**How to reproduce it (as minimally and precisely as possible)**:
`kubectl create -f sample-daemonset.yaml` like below,
[code]
Then this error will occur.
[code]

**Anything else we n

[2019-05-23 06:40] spacebel commented on #7890
/remove-lifecycle stale

[2019-05-23 06:42] sevensees commented on #78208
@misterikkit @Huang-Wei Thank you guys for your attention. I applied the most of the default configuration except `--profiling=true` for debugging and `--leader-elect=true` for HA.

@misterikkit

- No CPU limit, only `100m` CPU request assigned. The scheduler pod can consume CPU as much as it can.
- No. There is no podAntiAffinity in pod spec.
- No. I apply the default `PercentageOfNodesToScore`.

[2019-05-23 07:04] fenglixa commented on #78128
I use kubernetes 1.14, same case, not found this issue in my ENV. FYI...
BR
-Francis.

[2019-05-23 07:11] irony1692 commented on #78238
/sig api-machinery

[2019-05-23 07:24] umi0410 opened #78241 "minikube start error with same IP of VM in VirtualBox."
**What would you like to be added**:
This is a screencapture of the error message.
![error message](https://t1.daumcdn.net/cfile/tistory/99719A435CE60CF22B)
I think it will be better if the feedback for the error is modified in a more detailed way.
Like appending some lines like theses.
"Try opening virtualbox, click Global Tools - Host Network Manager, and check out if there are network adapters

[2019-05-23 07:39] chenmin1992 commented on #40651
And how to use myid in args? it seems args can't execute bash script.

[2019-05-23 07:41] umi0410 commented on #78241
/sig API Machinery

[2019-05-23 07:41] umi0410 commented on #78241
`/sig API Machinery`

[2019-05-23 07:41] umi0410 commented on #78241
`/sig api-machinery`

[2019-05-23 07:42] umi0410 commented on #78241
/sig api-machinery

[2019-05-23 07:44] rkumar1609 commented on #78167
Thanks for your response sir.
Can you please help me to fix it? I am new in kubernetes, I need help to fix it.

Thanks,
Rohit

[2019-05-23 07:45] teijinyer commented on #68211
docker fixed this bug in the  18.06.03-ce , but  I also  saw this issue with kubernetes v1.13.2  and docker 18.06.03-ce

[2019-05-23 08:24] antoineco commented on #78172
Only in selected clusters unfortunately (about 5%), but when it happens it happens quite consistently.
I haven't been able to reproduce outside of clusters belonging to live customers, which makes the issue a bit tricky to troubleshoot at the moment.

I'm sitting in front of a cluster where it's currently happening. A Pod has been reporting `ContainerCreating` for 53 min. Yesterday I observed it i

[2019-05-23 08:36] Sn0rt opened #78243 "a out-bound `ClusterIP` ip allocator"
I believe that many companies are facing similar problems with me, and the problem of 'ClusterIP' that k8s faces in the existing business is not easy to use.

## `ClusterIP is not easy to use.`

* First of all, the company's relatively old network infrastructure, there is no VPC product solution similar to the public cloud, resulting in relatively precious IP resources, need to be effectively mana

[2019-05-23 08:47] andyzhangx commented on #78172
@antoineco could you provide detailed steps about how to repro this issue? I tried to drain statefulset pods from one node to another on k8s v1.12.7, cannot repro.

[2019-05-23 08:57] #72307 closed

[2019-05-23 09:02] andyzhangx commented on #78172
The correct way to get disk attach/detach metrics on k8s v1.12.7 is like this
[code]

The rolling update would cause k8s to detach disk first and then attach disk after, so I will still get following error in my testing env, but finally it could recover:
[code]

[2019-05-23 09:19] antoineco commented on #78172
This one is a patched 1.10, with your retry fix. We only have one customer on 1.12 so I'm waiting for the next incident to get back to you on a proper 1.12 setup.

---

My understanding of what happens in most (if not all) cases is:

Imagine this simplified setup
* 2 nodes
* 3 Pods belonging to a Deployment "commerce"
* 3 Pods belonging to a Deployment "api"
* 3 Pods with Azure Disks belonging to

[2019-05-23 09:24] alisondy commented on #78168
Make list in issue, so we can break the work up potentially

[2019-05-23 09:26] RobertKielty commented on #78168
So the part of list of other scripts that are now broken by no ignoring in ability to follow source are detailed here (from CI)

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/78171/pull-kubernetes-verify/1131160750551732224

[2019-05-23 09:27] alisondy commented on #78168
/cc @cblecker
/cc @BenTheElder
/sig testing

[2019-05-23 09:35] antoineco commented on #78172
I have some metrics from an affected 1.12 cluster, but like I said, nothing very useful:
[code]

[2019-05-23 09:38] Mentality-is-better commented on #78149
Can someone help out?

[2019-05-23 09:43] yue9944882 commented on #78243
this will require literally many changes in the kube-apiserver. the range-allocation is actually storing the ip (or node-port) pool as a bit-map into etcd, i presume at least you will need to replace the storage/registry implementation for range-allocation w/ whatever thing you want to plant into kubernetes. that's tough 😥.

[2019-05-23 09:46] yue9944882 commented on #78241
sounds like a minikube issue, do you consider transferring the issue to [another repo](https://github.com/kubernetes/minikube)?

[2019-05-23 09:48] cgironda commented on #15839
Thanks to Andy Goldstein (ncdc), who propose a solution in 2015, I solve the same problem. Thank you.

[2019-05-23 09:56] yue9944882 commented on #78231
the point of accepting `GroupResource` here is to use the server-preferred version.

[2019-05-23 09:59] Sn0rt commented on #78243
@yue9944882 you are right it's difficult to plant into k8s. and I has read the code which in `k8s.io/kubernetes/pkg/registry/core/service/allocator`,  and know the key for ip allocation is `/ranges/serviceips`.

however, I think this is the apiserver design without considering the adaptation of kuberntes to a broader infrastructure environment. we can try to improve this.

maybe we just need a lay

[2019-05-23 10:28] #77461 closed

[2019-05-23 11:14] dims opened #78249 "PreconfiguredRuntimeHandler e2e test fails in pull-kubernetes-e2e-containerd-gce CI job"
Failure from a test PR - https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/78221/pull-kubernetes-e2e-containerd-gce/1131363976186171392/build-log.txt

[code]

[2019-05-23 11:15] dims commented on #78249
/sig-node
/assign @tallclair

[2019-05-23 11:19] dims commented on #78249
cc @Random-Liu

Tim, Lantao,
Looks like we are not setting up a `test-handler` like we used to in this other CI job:
https://github.com/containerd/cri/blob/master/cluster/gce/configure.sh#L189-L198

and the test does not fail on docker based jobs as we [skip](https://github.com/kubernetes/kubernetes/blob/d15718cb1c48b0e6175c616e022ada923ff549d9/test/e2e/common/runtimeclass.go#L61-L62) it:
[code]

[2019-05-23 11:20] dims commented on #78249
/sig-node
/priority important-soon

[2019-05-23 11:45] jpiper commented on #75262
In the end there was a dirty hack, which was to add this code [here](https://github.com/kubernetes/kubernetes/blob/v1.14.1/pkg/proxy/ipvs/proxier.go#L1582)

[code]

kube-proxy runs in a "hybrid" mode - on nodes without local active endpoints it sets up an IPVS balancer (like in cluster mode) but on nodes where an active endpoint exists it only uses the local node.

[2019-05-23 12:15] #78241 closed

[2019-05-23 12:29] boroda4436 commented on #78126
updated a demo project https://github.com/boroda4436/kubernetes-demo
Now you can specify cluster version.
Note that everything is ok with 1.11.8-gke.6, but at the same time demo is not working with 1.12.7-gke.10

[2019-05-23 12:48] zwfang commented on #69717
/reopen

[2019-05-23 12:48] zwfang commented on #69717
/remove-lifecycle rotten

[2019-05-23 13:01] #54132 closed

[2019-05-23 13:28] liggitt commented on #78087
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features is now green

/close

[2019-05-23 13:28] #78087 closed

[2019-05-23 13:30] lavalamp commented on #77733
I agree that this is a problem for kubelets (and similar things). But this issue is specifically about the controller.

[2019-05-23 13:45] bertinatto commented on #77389
According [to the page](https://docs.aws.amazon.com/AWSEC2/latest/APIReference/query-api-troubleshooting.html#eventual-consistency) @leakingtapan pointed, AWS recommends two actions to manage the eventual consistency model (k8s already does **1**, but AFAIK not **2**, except when there's an exponential backoff among `Describe*` calls:

1) Run the appropriate `Describe*` call before modifying a res

[2019-05-23 14:02] #68133 closed

[2019-05-23 14:02] #71394 closed

[2019-05-23 14:04] holgero opened #78252 "Make kube api server understand XFCC header"
**What would you like to be added**:

kube api server should be able to understand the 'x-forwarded-client-certificate' header.

**Why is this needed**:

This would allow to run the kube api server behind an envoy proxy and to let that envoy proxy handle the TLS termination. The 'x-forwarded-client-certificate' can be set by envoy to pass on the information about the client certificate.

Would thi

[2019-05-23 14:04] bertinatto commented on #77389
@leakingtapan, do you know if the native AWS `wait*` calls may be more stale-data-proof?

https://docs.aws.amazon.com/sdk-for-go/api/service/ec2/#EC2.WaitUntilVolumeInUse

[2019-05-23 14:08] holgero commented on #78252
@kubernetes/sig-api-machinery-feature-requests

[2019-05-23 14:16] zacekjakub commented on #61005
Neither update to iptables v1.6.2 helped us.

[2019-05-23 14:27] bartwensley commented on #77660
@liggitt - I have used the kubernetes API to patch the node status, setting the Ready status to False. As I suspected, this does not have the expected behavior. The change in status causes the NoSchedule taint to be added to the node, but the pods are not marked as NotReady and remain on the node (which has been powered off in my case) indefinitely.

If there are no objections, I'll make the chang

[2019-05-23 14:36] gnufied commented on #78199
One of the quick optimizations we can do is, to remove those API calls if pod placement has already been decided because of delayed binding.  I think, using delayed binding works well in practice and should eliminate `describeInstance` calls being made.

[2019-05-23 14:36] liggitt commented on #77660
can you describe what changes you intend to make before opening  the PR? the APIs you require should already be available.

[2019-05-23 14:38] mattjmcnaughton commented on #78236
/assign @mattjmcnaughton

Great  catch - putting out pr to fix rn.

[2019-05-23 14:44] mattjmcnaughton commented on #78236
Actually, this is already fixed in master. It looks like your link is to release 1.8. The most recent release is 1.14 :)

Here's the [pr which fixed it](https://github.com/kubernetes/kubernetes/pull/64378).

/unassign @mattjmcnaughton

Mind closing this issue? Thanks :)

[2019-05-23 14:45] gnufied commented on #78199
Another thing is - @jsafrane @mcrute @justinsb since EBS volume plugin is being targeted for CSI migration, we should be super careful approving any changes into in-tree plugins which is not available in EBS CSI plugin.

cc @leakingtapan

[2019-05-23 14:55] yelhouti opened #78253 "kubectl apply deployment doesn't update the existing one and creates a new one"
**What happened**:
kubectl apply deployment doesn't update the existing one and created a new one
**What you expected to happen**:
kubectl apply updated deployments the same way it does for services...
**How to reproduce it (as minimally and precisely as possible)**:
have deployment.yml file
kubectl apply -f deployment.yml
edit the file
kubectl apply -f deployment.yml

**Anything else we need to k

[2019-05-23 14:56] yelhouti commented on #78253
@kubernetes/sig-cli-bug

[2019-05-23 15:05] klueska commented on #63018
Out of curiousity, does anyone still seeing this issue utilize `init` containers in their pod Specs? If so, the curlprit is likely addressed by the following: https://github.com/kubernetes/kubernetes/pull/78219

[2019-05-23 15:25] BouchaaraAdil opened #78254 "reach service NodePort with a dns name"
**What would you like to be added**:

reach inside  vpc a NodePort service type with a dns name .. that load balancer between pods on different nodes

**Why is this needed**:
avoid billings costs on data transfer of internal load balancers

[2019-05-23 15:37] tedyu commented on #78208
bq. Trace[1260452793]: [129.932795ms] [83.565783ms] Selecting host

It seems findMaxScores func took the majority of the time.

[2019-05-23 15:45] BouchaaraAdil commented on #78254
/sig network
/sig node

[2019-05-23 15:46] BouchaaraAdil commented on #78254
/sig service

[2019-05-23 15:46] zhan849 commented on #78199
Thanks @gnufied ! yes I do agree that for topo aware storage class, when we create volume, the node is already bound, so we just get the zone information from the selected node, and this is a good to have short-term improvement.

In long term, as cloud providers are going to be out of tree, we have more freedom to introduce informer to the aws library (gce is already doing that), and get zone info

[2019-05-23 15:49] josiahbjorgaard commented on #75554
Can I take this issue?

[2019-05-23 15:51] josiahbjorgaard commented on #77787
Can I take this issue?

[2019-05-23 16:15] #73792 closed

[2019-05-23 16:15] brobichaud commented on #73792
This is no longer a problem for me.

[2019-05-23 16:22] gnufied commented on #78199
I believe in long term we want to default all clusters to use `WaitForFirstConsumer` policy. That is the direction sig-storage wants to take(IIRC @msau42 ), so IMO it may not be worth fixing general immediate binding use case for in-tree EBS driver where cloudprovider itself is deprecated (and any propose change is non-trivial).

[2019-05-23 16:28] jralph commented on #74527
Any news on this issue?

[2019-05-23 16:39] artooro commented on #13493
I'm surprised there has been no movement on this issue. @pkyeck I assume you never found a way to make this work.
I tried now but not getting any further with the "volume ... is protected with a customer supplied encryption key, but none was provided" error.

Using "customer managed" keys instead of "customer supplied" does work. But you could argue that it does not offer the same amount of securi

[2019-05-23 16:42] yue9944882 commented on #78252
https://tools.ietf.org/html/rfc6648

there's rfc proposing deprecating all `x-*` headers. we're not going the other way round, do we?

[2019-05-23 16:44] yue9944882 commented on #78253
/sig cli

[2019-05-23 16:47] yue9944882 commented on #78203
/sig apps

[2019-05-23 16:58] bartwensley commented on #77660
@liggit - Yes, the API to patch the node status is already there. The problem is in the node lifecycle controller [1]. The tryUpdateNodeHealth function only takes action if the gracePeriod has elapsed since the last update to the node status. The code is only looking for cases where kubelet has not updated the node status - it isn't expecting an outside entity to change the status. My plan is to u

[2019-05-23 16:58] pkyeck commented on #13493
@artooro nope, but haven't tried in a while ...

[2019-05-23 17:02] holgero commented on #78252
That rfc explicitly states that it “Makes no recommendation as to whether existing "X-" parameters ought to remain in use or be migrated to a format without the "X-"; this is a matter for the creators or maintainers of those parameters. "
So supporting an existing "X-" header doesn't violate that rfc.

Am 23. Mai 2019 18:44:25 MESZ schrieb Min Kim <notifications@github.com>:

--
Diese Nachricht wu

[2019-05-23 17:07] tallclair commented on #78249
Thanks for debugging it. My vote would be to add the test-handler, similar to what we do for the node test.

[2019-05-23 17:13] alewitt2 commented on #78214
we have a bot to periodically run a query that finds all known endpoints on the ApiServer. Then for each of the found endpoints, find all resources with our label defined. sort of an inventory tracking system. https://github.com/razee-io/Watch-keeper

[2019-05-23 17:13] ahg-g commented on #78208
Do we have any logs indicating the number of iterations being made in findMaxScores for this trace?

There are two extreme cases that could make findMaxScores take such a long time: 1) if priorityList in findMaxScores is in reverse score order, then maxScoreIndexes will keep getting reset. 2) if all the nodes have similar score, then basically we are building and returning a large list every time.

[2019-05-23 17:18] misterikkit commented on #78208
The log message is a little misleading. The trace step describes the amount of time since the last call to `Step()`. So we are actually logging the *beginning* of each step. I guess the more sensible thing to do would be to log at the *end* of each step. That would be a good cleanup PR.

[2019-05-23 17:23] misterikkit commented on #78208
That PR would save us a bunch of slice allocations in the worst case. (I don't know if the compiler is smart enough to reuse the slice memory when we reset it)

However, per my previous comment, I don't believe selecting the host is taking up 80ms. When we call `trace.Step()` the created step is considered to have a duration equal to `time.Now().Sub(lastStepTime)`.

[2019-05-23 17:23] alewitt2 commented on #78214
in a similar vein, the endpoint `/apis/metrics.k8s.io/v1beta1` doesnt seem to respect `fieldSelector: metadata.namespace==xyz`

[code]

[2019-05-23 17:29] johnjjung opened #78256 "I need a statefulset that is also a daemonset - Proposal for a DaemonStatefulSet"
**What would you like to be added**: DaemonStatefulSet type, Automatic Node Labels

**Why is this needed**:

I have a situation where I need the numbered pod states that come from a statefulset, but is also one per node. Pretty much each pod needs a `process_number` argument so pod-1 needs to put in `process_number=1`, pod-2 needs to put in `process_number=2`.

Currently the way I accomplish this

[2019-05-23 17:31] johnjjung commented on #78256
@kubernetes/sig-scheduling-feature-requests

[2019-05-23 17:38] ahg-g commented on #78208
Good catch! Here is the place where a step time is computed and reported: https://github.com/kubernetes/utils/blob/master/trace/trace.go#L70

[2019-05-23 17:40] tedyu opened #78258 "Put non-ignorable extenders ahead of ignorable extenders"
**What would you like to be added**:
Put non-ignorable extenders ahead of ignorable extenders in genericScheduler#extenders

**Why is this needed**:
In genericScheduler#processPreemptionWithExtenders, we iterate over genericScheduler#extenders.
If an ignorable extender gives error, the error is ignored and loop continues.

It seems we should place non-ignorable extenders ahead of ignorable extende

[2019-05-23 17:40] tedyu commented on #78258
/sig scheduling

[2019-05-23 18:23] dpandhi-git commented on #78220
@misterikkit I am planning to add the function and its test in helpers.go/helpers_test.go from k8s.io/kubernetes/pkg/apis/scheduling. Let me know your thoughts?

[2019-05-23 18:42] misterikkit commented on #78208
https://github.com/kubernetes/utils/pull/93

[2019-05-23 18:43] jingxu97 commented on #2630
@ford-prefect if you set fsGroup in PodSecurityContext, and runAsUser, wouldn't those services have the permission to write?

[2019-05-23 18:48] ekhaydarov commented on #2630
no because the permissions are set for the pod not for the volume that was created independently. it would be great if PodSecurityContext could infact alter the permissions of the volumes, or at least fail to mount and throw an error

[2019-05-23 18:53] jingxu97 commented on #2630
@ekhaydarov , in current setVolumeOwnerrhsip function, if fsGroup is provided, it will have rw-rw---- permission, so that group has rw permission.

[2019-05-23 19:48] smarterclayton commented on #57167
I came back to this, but this also means you can't toggle a cluster to enable a feature gate without potentially causing your deployments to go into a hot loop (for this and other DropDisabledTemplateFields which we have a lot more of now).

[2019-05-23 19:50] seanjfellows commented on #45398
I don't understand how it has been 2 years and this particular config still requires special treatment? `kubectl apply` crashes even when there's no change to the PodDisruptionBudget!

[2019-05-23 19:55] liggitt commented on #45398
https://github.com/kubernetes/kubernetes/pull/69867 allows this update, and will be included in 1.15

[2019-05-23 19:56] seanjfellows commented on #45398
Wow, awesome, thanks for the quick reply!

[2019-05-23 20:16] tedyu commented on #78208
bq. smart enough to reuse the slice memory

The compiler is able to reuse the memory.

[2019-05-23 20:22] roycaihw commented on #78214
/priority backlog
/help

[2019-05-23 20:23] roycaihw commented on #78217
/assign @liggitt

[2019-05-23 20:24] roycaihw commented on #78224
/assign @sttts
/priority backlog

[2019-05-23 20:25] roycaihw commented on #78231
/sig autoscaling

[2019-05-23 20:26] roycaihw commented on #78238
/sig apps
/sig scheduling
/remove-sig api-machinery

[2019-05-23 20:27] roycaihw commented on #78252
cc @cheftako
/sig auth

[2019-05-23 20:28] liggitt commented on #78253
does your deployment manifest specify a name or a generateName?

[2019-05-23 20:29] liggitt commented on #78238
this is an intentional limitation, intended to allow targeting single nodes. if you want to target one of several nodes, label the nodes and use `matchExpressions` with a label selector

/close

[2019-05-23 20:29] #78238 closed

[2019-05-23 20:30] liggitt commented on #78217
without more reproducible steps, this will be difficult to address. do you have controller manager logs from the relevant period?

[2019-05-23 20:47] dfjones opened #78266 "kubectl apply admits Deployment with duplicate volumes then fails when renaming duplicate"
**What happened**:

`kubectl apply` allows Deployments with volumes with the same `name` to be created. If the duplicate volume is then removed through a subsequent `kubectl apply`, this fails with an error.

**What you expected to happen**:

`kubectly apply` should reject the Deployment with duplicate volume names.

**How to reproduce it (as minimally and precisely as possible)**:

I've created a

[2019-05-23 20:50] dfjones commented on #78266
/sig cli

[2019-05-23 20:57] josiahbjorgaard commented on #15000
@medzin @nikhita I'd like to work on this. Has there been any progress?

[2019-05-23 20:59] kow3ns commented on #75726
This is a v 1.8 of Kubernetes (we only support two minor releases back). Do we know if this happens at more recent versions?

[2019-05-23 21:55] jslay88 commented on #76935
+1

Is there a somewhat documented resolution to this? Running into this issue currently and it is putting a pretty big stop on things.

[2019-05-23 22:01] davidz627 commented on #78050
/open
until we verify the issue is fixed

[2019-05-23 22:02] davidz627 commented on #78050
/reopen

[2019-05-23 22:10] #67837 closed

[2019-05-23 22:10] #60423 closed

[2019-05-23 22:41] NelsonJeppesen commented on #56402
/remove-lifecycle stale
🙏

[2019-05-23 22:48] gnufied opened #78268 "Reader and writer pods for volume e2es should use same security Contexts"
It looks like writer pod uses very different permissions than reader pod - https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/volume/fixtures.go#L645 and as a result on SELinux enabled distros the reader pod can't read file written by writer pod.

/sig storage

cc @bertinatto @jsafrane

[2019-05-23 22:48] gnufied commented on #78268
/assign

[2019-05-23 23:11] #58346 closed

[2019-05-23 23:36] #78258 closed

[2019-05-23 23:51] yuxiangqian commented on #72915
On ubuntu:
Not a solution but I got around following [this link](https://stackoverflow.com/questions/49104733/docker-on-ubuntu-16-04-error-when-killing-container) to manually stop any running "rsyncd". You might end up failing to stop them with error like: "container_linux.go:393: signaling init process caused "permission denied"
running: sudo aa-remove-unknown should allow you to stop it thereaft

[2019-05-24 00:11] frolickingferret445 opened #78271 "Reduce memory footprint by removing unnecessary cloud provider plugins at runtime"
I am interested in reducing the memory footprint of kubernetes if possible.  From what I gather, by default, kubernetes runs with plugins for all cloud providers. I’ve looked into https://k3s.io/ and it mentions that it removes unnecessary in-tree cloud providers and storage drivers.  However, it doesn’t offer other important features, so I’d prefer to stick to my existing installation process (wi

[2019-05-24 00:14] frolickingferret445 commented on #78271
@sig-cloud-provider

[2019-05-24 00:15] frolickingferret445 commented on #78271
@kubernetes/sig-cloud-provider

[2019-05-24 00:16] frolickingferret445 commented on #78271
@kubernetes/sig-cloud-provider-maintainers

[2019-05-24 00:17] jingxu97 commented on #72085
@viveksaiaws

sorry to miss your issue. In your case, after you set fsGroup, your container user solr should have group access (rw) to the files because it will be added to the supplemental group 1000. Please let me know if you have issues.

[2019-05-24 00:19] frolickingferret445 commented on #78271
/sig cloud-provider-maintainers

[2019-05-24 00:52] ggaurav10 commented on #78236
Thanks :)

[2019-05-24 00:52] #78236 closed

[2019-05-24 01:20] tanzhixu opened #78274 "pod:prometheus-k8s-0 is already Terminating"
![image](https://user-images.githubusercontent.com/6026899/58296174-36276b00-7e05-11e9-9e8f-b0dc52bbb0d5.png)

[2019-05-24 02:51] liggitt commented on #59151
fixed in https://github.com/kubernetes/kubernetes/pull/77333

/close

[2019-05-24 02:51] #59151 closed

[2019-05-24 02:56] alwaysused commented on #78210
It seems curl use the <nsdc> cache rather than refer to the dns server at first.Maybe you could trace the network using of curl to find what is going wrong.

[2019-05-24 03:37] YoubingLi commented on #78001
Following are my understanding about the current implementation

1. predicateMetadataProducer

    At the beginning, the producer would run preparation for current pod on each candidate host such as (anti-)affinity, pod resource request, port, etc.

2. FitPredicate

     Each built-in predicate uses following interface to evaluate each candidate host.
    meta is the result of Step 1 and each pred

[2019-05-24 03:39] hainesc commented on #78208
I write a mocked scheduler and run selectHost(), It show the different addresses are used.

[code]

Environment: go version go1.12.1 darwin/amd64

[2019-05-24 03:46] cometta commented on #38756
Will there be a new scale endpoint feature after deprecated scale job command?

[2019-05-24 03:54] tedyu commented on #78208
By 'reuse', I meant that space of the slice is reused:
[code]
You can see the same address is printed.

[2019-05-24 03:57] rj03hou commented on #52817
Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.6", GitCommit:"a21fdbd78dde8f5447f5f6c331f7eb6f80bd684e", GitTreeState:"clean", BuildDate:"2018-07-26T10:04:08Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}

still happen.

I think just add a phase "Terminateing" in pod, when an pod is in Terminateing just stop check.

[2019-05-24 04:00] rc452860 commented on #76146
I hava seem issue. until now,not fix.blow is kube-apiserver logs:
[code]

[2019-05-24 04:02] tedyu commented on #78208
What @hainesc observed was due to this line:
[code]
The above is allocation, leading to different maxScore address.

[2019-05-24 04:03] rc452860 commented on #76146
I use kubeadm install k8s on one vps. yesterday everything is ok.

[2019-05-24 04:08] hainesc commented on #78208
Sorry for I misunderstood that.

Yes, Inner the function `findMaxScores`, the slice is reused.

[2019-05-24 04:25] andyzhangx commented on #78172
here is the conclusion about what we found now:
Periodically k8s cluster failed to attach a disk to a VMSS instance, that disk is actually in “unattached” state, it's caused by vmss instance in unhealthy state, although by azure cli command `az vmss show ...`, the instance shows healthy.
**workaround**:
run `az vmss update …` to update the VMSS instance manually, it could recover in a minute or so

[2019-05-24 04:46] zhan849 commented on #78199
@gnufied if the direction sig-storage is going is to always use `WaitForFirstConsumer`, I agree with you that fixing a deprecated path of a deprecated EBS driver would be not worthwhile.

Meanwhile, since in-tree EBS driver will still stay for a few more versions, I'm proposing #78276 for optimizing `WaitForFirstConsumer` code path. Could you please provide inputs? thanks!

[2019-05-24 05:10] feiskyer commented on #78013
See https://github.com/kubernetes/test-infra/pull/12761

[2019-05-24 05:17] #72318 closed

[2019-05-24 05:29] k-toyoda-pi commented on #77706
I found `gomega.Expect(err).To(gomega.HaveOccurred())` in these files.
[code]
I'm working on :
[code]

[2019-05-24 05:35] s-ito-ts commented on #77706
I can work to the following item.

- test/e2e/common/configmap.go
- test/e2e/common/configmap_volume.go
- test/e2e/common/expansion.go
- test/e2e/common/privileged.go
- test/e2e/common/projected_configmap.go
- test/e2e/common/projected_secret.go
- test/e2e/common/secrets.go
- test/e2e/common/secrets_volume.go

[2019-05-24 06:16] sevensees commented on #78208
So, It is the `Prioritizing` step that took most of the time.

[2019-05-24 06:21] Cobra1978 commented on #2630
@jingxu97 thi is not always a solution, as example: we use secretes for jmxremote.password and jmxremote.user that are needed for jmxmonitoring of java applications, java requires that those files belong to the user that run te application an that have permissions 400, so by now there is no way to use secrets this way in rancher 2.x

[2019-05-24 07:00] fenglixa commented on #72915
Cann't reproduce this issue, but checked the code, pls actions as below, and append result here, if you encounter again:

[code]

Thanks
BR
-Francis

[2019-05-24 07:13] yelhouti commented on #78253
@liggitt thanks for your ansewer, it does specify a name:
[code]

[2019-05-24 07:45] cnbailian commented on #77174
I found this issue has fixed in master branch ["fix azure disk lun error"](https://github.com/kubernetes/kubernetes/commit/4213f4d7974785f11b2abe027308153005c98653) commit

[2019-05-24 07:55] jorgonzalez commented on #46915
Can you be more specific here? you mean restarting kube-proxy and recreating the ClusterIP service for heapster?

[2019-05-24 08:22] #78243 closed

[2019-05-24 08:36] mariojacobo commented on #76338
+1 we encountered this issue 2 days ago. solution was to restart the kube-proxy pods. is there any way to detect which AKS version (or K8s version) are affected by this ?

[2019-05-24 08:42] vllry opened #78285 "kube-proxy depricated flags are misorganized"
kube-proxy contains a comment that "all flags below are deprecated", but many non-deprecated flags are in that comment block.

https://github.com/kubernetes/kubernetes/blob/48848731605845c129945f1de146507ca2e5d8cb/cmd/kube-proxy/app/server.go#L149

Please minimally rearrange the flags, so that deprecated & non-deprecated flags are properly grouped.

[2019-05-24 08:43] vllry commented on #78285
/kind cleanup
/sig network
/priority backlog
/good-first-issue

[2019-05-24 08:49] mdavis-ciena opened #78286 "httpGet postStart hook should retry on connection refused/timeout"
**What would you like to be added**: Execution of the HTTP type postStart container lifecycle hook should be considered to have failed after connecting succeeds and a non-success HTTP status code is returned or a post-connection failure occurs such as premature closing of the TCP connection.  Failure to connect should _not_ be considered a failure of the hook itself, and the request should be re-a

[2019-05-24 09:07] zanetworker commented on #78285
I can work on this if no one picked it up already.

[2019-05-24 09:13] jagadishg commented on #57659
Any update on this issue? Our node pool has all nodes tainted. But coz of this issue, it has become necessary for us to have node pools with untainted nodes. We can't have untainted node just to run this pod. Ideally, we would like to be able to add custom tolerations to kube-dns, kube-dns-autoscaler, heapster, so we can run them on tainted nodes

[2019-05-24 09:14] vllry commented on #78285
Go for it @zanetworker!

[2019-05-24 09:37] vllry opened #78287 "Remove deprecated kube-proxy flag —resource-container"
The —resource-container flag has been deprecated for many releases and can be removed. (TODO add full context)

[2019-05-24 09:38] vllry commented on #78287
/assign @vllry
/sig network
/priority backlog
/kind cleanup

[2019-05-24 09:40] pohly commented on #74353
/remove-lifecycle stale
/help-wanted

[2019-05-24 09:41] pohly commented on #74353
/help

[2019-05-24 09:49] pohly commented on #74317
/remove-lifecycle stale
/help

[2019-05-24 10:07] zenglian opened #78288 "support script"
**What would you like to be added**:
Support scripting besides yaml as resource/task descriptor.

**Why is this needed**:
yaml, or xml, json etc, is suitable for static setting, but not flexible and powerful for dynamic controlling.

Take ant/maven/gradle as example, ant/maven use xml while gradle use groovy. For some tasks, gradle is much more convenient than ant/maven.

If kubernetes support cer

[2019-05-24 10:17] younglee1 opened #78290 "Pods not selected by headless service"
I defined a headless service with spec:
[code]
And the pods it should select have readiness probe:
[code]
Thus got error when describe service:
![image](https://user-images.githubusercontent.com/11716601/58321134-e7eb8980-7e4f-11e9-8b9f-1b9bada6d005.png)

So my question is: Can a pod be selected by a service before first readiness check pass? Should I change my readinessProbe of these pods?

[2019-05-24 10:36] xigang commented on #43916
mark

[2019-05-24 10:48] shahbour opened #78293 "unable to fetch the kubeadm-config ConfigMap: failed to getAPIEndpoint: failed to get APIEndpoint information for this node"
I am trying to update Kubernetes Cluster from version 13.2 to 14.2 . i started with first two master nodes and it worked . when trying on the third it is giving me error

[code]

i tried to increase the log to see where the problem stand but i could not get any hint

[code]

[2019-05-24 10:50] shahbour commented on #78293
/sig node

[2019-05-24 11:30] gree-gorey commented on #74527
I don't think that's Kubernetes related.

I was able to resolve this problem by creating public-facing subnets within AZ that has instances in private subnet with NAT gateway.

So, instead of having this layout:
[code]
You should do change it to this:
[code]
Here is the relevant AWS documentation:
https://aws.amazon.com/premiumsupport/knowledge-center/public-load-balancer-private-ec2/

[2019-05-24 11:34] vllry opened #78295 "Remove deprecated kube-proxy flag —cleanup-iptables"
The flag has been deprecated for many releases and can be removed.

The depreciation guide specifies that admin-only CLI flags can be removed after 6 months: https://kubernetes.io/docs/reference/using-api/deprecation-policy/

/kind cleanup
/sig network
/priority backlog

[2019-05-24 11:36] vllry opened #78296 "Remove deprecated kube-proxy flag --conntrack-max"
The flag has been deprecated for many releases and can be removed.

The depreciation guide specifies that admin-only CLI flags can be removed after 6 months: https://kubernetes.io/docs/reference/using-api/deprecation-policy/

/kind cleanup
/sig network
/priority backlog

[2019-05-24 11:41] vllry commented on #78290
@younglee1 pods are not added to the Endpoints list until they are ready. I would suggest removing/decreasing the `initialDelaySeconds`.

Are you able to list endpoints after a while?

[2019-05-24 12:24] #71458 closed

[2019-05-24 12:45] liggitt commented on #78253
by "create a new one", do you mean that it deletes and recreates the deployment with the same name? if so, that is required in order to change some aspects of a deployment (like the selector). can you provide more details about what you are changing? can you also include a trace log (add `--v=6`) to see what requests are being made and their return codes?

[2019-05-24 13:00] zanetworker commented on #78285
/assign @zanetworker

[2019-05-24 13:15] vllry commented on #78271
/assign @andrewsykim

[2019-05-24 13:25] #50048 closed

[2019-05-24 13:26] #78013 closed

[2019-05-24 13:48] yelhouti commented on #78253
@liggitt well my phrasing was wrong, I apologize, what happens is that new pods is created when I edit and reapply the deployment, which now that i checked better is normal, this done to keep one instance running, and it removes it once the second one is ready, since had a resources problem, no one got ready and they both got stuck leading me to think that new ones where created and where going to

[2019-05-24 13:48] #78253 closed

[2019-05-24 13:56] erdun opened #78299 "kube-proxy not transpond cidr"
what happened:

Can't connect to pod in other nodes

Kubenetes version
[code]

Os
[code]

Cloud provider: azure

Kernel:
[code]

Network plugin and version:
[code]

Ip route:
[code]
**!!! without 172.40.0.0/16**

Kube-api config
[code]

Kubelet config
[code]

kube-proxy config
[code]

kubectl get cs
[code]

[2019-05-24 13:57] erdun commented on #78299
/sig azure
/sig network
/sig kube-proxy

[2019-05-24 13:59] bclau commented on #76342
So, a small update regarding the image centralization. I've sent a WIP PR with all the changes here: https://github.com/kubernetes/kubernetes/pull/78161 . Ofc, it will have to be split into multiple PRs in order to be reviewable and mergeable, but some initial feedback would helpful.

Currently, I've built the ``claudiubelu/agnhost:1.1`` image to contain the following images (in addition with that

[2019-05-24 14:05] vllry commented on #78296
/remove-triage unresolved

[2019-05-24 14:05] vllry commented on #78295
/remove-triage unresolved

[2019-05-24 14:05] vllry commented on #78287
/remove-triage unresolved

[2019-05-24 14:36] vasrem commented on #78266
I tried to investigate a little bit as well since I had the same issue. I used your reproduction gitrepo.

I get this when I apply for the first time to good.yaml:
[code]

This looks fine! When I apply the `bad.yaml` on top I get this:
[code]

Which seems weird because I get a 200 but the response body doesn't contain the volume using the ConfigMap named `foo`. Also, the deployment definition stor

[2019-05-24 14:49] rajansandeep commented on #78123
I have opened https://github.com/kubernetes/kubernetes/pull/78302 which aims to fix all the failing tests except https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-upgrade-stable-master, which will be fixed via https://github.com/kubernetes/kubernetes/pull/78033.

[2019-05-24 15:12] andyzhangx commented on #77520
cc @VybavaRamadoss

[2019-05-24 15:20] hoyho commented on #72080
/reopen

[2019-05-24 15:27] gregoiremahe opened #78307 "Fine grained permissions |or| assign IP range to services"
Hello,

We would like either :
- Either prevent user to specify / or change ExternalIPs inside service LoadBalancer
- Or, have more fined grained permissions RBAC (Allow a user to create ClusterIP services but not LoadBalancer Services for example)

We would like to avoid user to specify manually an externalIPs (like public master IPs, or others lambdas IP routed to master)
Is that possible ?

We

[2019-05-24 16:01] augustgerro commented on #59477
And maybe will be useful output only last **_n_** logs with tail-like command
`kubectl logs -f --tail 100`

[2019-05-24 16:03] mattjmcnaughton commented on #78293
/sig cluster-lifecycle
/remove-sig node

I think that it probably makes sense to start the investigation with kubeadm, so taking the owners of that system :)

[2019-05-24 16:04] mattjmcnaughton commented on #78254
Hi @BouchaaraAdil, thanks for your issue :)

I'm not sure I'm totally following what you're requesting. Could you potentially present an example?

[2019-05-24 16:12] tedyu commented on #78296
What about 'conntrack-max-per-core' config ?

[2019-05-24 16:14] sherbang opened #78308 "CVE-2019-11245: v1.14.2, v1.13.6: container uid changes to root after first restart or if image is already pulled to the node"
[CVSS:3.0/AV:L/AC:H/PR:N/UI:N/S:U/C:L/I:L/A:L](https://www.first.org/cvss/calculator/3.0#CVSS:3.0/AV:L/AC:H/PR:N/UI:N/S:U/C:L/I:L/A:L), 4.9 (medium)

In kubelet v1.13.6 and v1.14.2, containers for pods that do not specify an explicit `runAsUser` attempt to run as uid 0 (root) on container restart, or if the image was previously pulled to the node. If the pod specified `mustRunAsNonRoot: true`, the

[2019-05-24 16:21] sherbang commented on #78308
I'm guessing this is @kubernetes/sig-apps-bugs ?

[2019-05-24 16:26] vllry commented on #78296
Based on the kube-proxy source, it looks like `--conntrack-max-per-core` is the preferred replacement for `--conntrack-max`.

[2019-05-24 16:39] vllry commented on #78307
This kind of feature is probably better to be solved with admission webhooks or the Open Policy Agent. RBAC intentionally has no concept of field-level permissions.

[2019-05-24 17:03] FangyuanZhang34 commented on #23726
It works. Quite simple. If you are using desktop software, better find the solution from the preference setting first. haha.

[2019-05-24 17:09] mdavis-ciena commented on #78286
@kubernetes-node-proposals - Although this makes HTTP `postStart` hooks somewhat useless, I think it has to be considered an enhancement rather than a bug, since the [Container Lifecycle Hooks - Hook delivery guarantees](https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#hook-delivery-guarantees) documentation currently states:

[2019-05-24 17:10] mdavis-ciena commented on #27114
@from-nibly - FYI, I filed [httpGet postStart hook should retry on connection refused/timeout #78286](https://github.com/kubernetes/kubernetes/issues/78286)

[2019-05-24 17:12] WalBeh commented on #70493
Sorry, I do not have any logs to share now.

Andrew Sy Kim <notifications@github.com> schrieb am Do., 16. Mai 2019,
23:37:

[2019-05-24 17:33] BouchaaraAdil commented on #78254
@mattjmcnaughton my use case is:
- I have some services deployed on EC2 machines that connect to micro services on a  k8s cluster,
currently, I'm configuring an internal load balancer for Nginx proxy server,
but I want to use ndeport service for nginx ingress controller, instead of aws internal load balancer
the issue with that is that I can reach nginx ingress using `Node_IP: NodePort` from ec2 i

[2019-05-24 17:37] derailed opened #78312 "feature.FeatureGate.Add undefined building Kubernetes client for windows"

[2019-05-24 17:39] #78312 closed

[2019-05-24 17:43] mdavis-ciena commented on #78286
@kubernetes/sig-node-proposals - Although the current implementation makes HTTP `postStart` hooks somewhat useless, I think it has to be considered an enhancement rather than a bug, since the [Container Lifecycle Hooks - Hook delivery guarantees](https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#hook-delivery-guarantees) documentation currently states:

[2019-05-24 18:08] tstromberg commented on #78308
Also repeatable using the older minikube ISO that uses Docker 18.06: `minikube start --iso-url="https://storage.googleapis.com/minikube/iso/minikube-v1.0.1.iso" --vm-driver=k
vm2`

Evidently this could not be replicated using CRIO as a container runtime. It's unclear to me at this time if this is a Kubernetes/Docker integration issue or a minikube environmental issue.

[2019-05-24 18:14] tarioch commented on #78308
I'm encountering the same issue on 1 node kubernetes cluster setup with kubeadm

[2019-05-24 18:30] command0r commented on #76338
Same question here. What's the status on the issue resolution? Does it affect only certain K8s versions? We're using 1.11.5 in our PROD environment and experienced the same issue recently.

[2019-05-24 18:35] tarioch commented on #78308
After downgrade to 1.14.1 it works again (kubelet and control plane). So looks like this is not tied to minikube.

[2019-05-24 19:10] sambdavidson commented on #77489
Hey gouiki777, I have been looking into this issue for a bit with a colleague and we were wondering if you could produce some kubelet logs from us from your cluster/node experiencing this issue.

The control loop responsible for rotating certs is [here](https://github.com/kubernetes/client-go/blob/7b18d6600f6b0022e31c46b46875beffd85cc71a/util/certificate/certificate_manager.go#L252). We suspect ei

[2019-05-24 19:18] pohly commented on #72080
/reopen

[2019-05-24 19:51] pjh commented on #76666
Unfortunately I'm still seeing "Couldn't delete ns" in our test results after enabling the update with the fix. The failures don't seem to be as frequent as when I initially reported this issue; they don't happen in every test run, but they have still caused some test runs to time out.

Here's an [example](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-poc/11317

[2019-05-24 20:00] mkumatag commented on #69098
/remove-lifecycle stale

[2019-05-24 21:00] shahbour commented on #78293
sorry my bad

[2019-05-24 21:00] #78293 closed

[2019-05-24 21:20] tallclair commented on #78308
Might be fixed by https://github.com/kubernetes/kubernetes/pull/78261

[2019-05-24 21:31] liggitt opened #78318 "RemainingItemCount is serialized in proto messages even when unset"
**What happened**:
As part of [adding skew testing for serialized API responses](https://github.com/kubernetes/kubernetes/pull/78309), we discovered a diff in serialized proto responses when roundtripping data from 1.14:

[code]

This is due to the RemainingItemCount field in ListMeta, which is always serialized in proto messages, because it is not a pointer.

**What you expected to happen**:
Prot

[2019-05-24 22:06] jamesgoodhouse opened #78321 "go-client credentials plugin can be retried on failures/errors"
**What happened**:
When writing a custom plugin application for use with kubectl for authentication (https://kubernetes.io/docs/reference/access-authn-authz/authentication/#client-go-credential-plugins), any failures of the application result in 5 consecutive retries from `kubectl`.

**What you expected to happen**:
I expect that if my custom plugin application returns a non-zero status code, or o

[2019-05-24 22:07] jamesgoodhouse commented on #78321
@kubernetes/sig-cli

[2019-05-24 22:08] jamesgoodhouse commented on #78321
@kubernetes/sig-cli-bugs

[2019-05-25 00:37] #78299 closed

[2019-05-25 01:05] caesarxuchao commented on #78318
What buggy behavior will an end user experience?

[2019-05-25 01:37] liggitt commented on #78318
the user would be unable to tell whether the server had returned a value for the field or not

[2019-05-25 05:41] paulgmiller commented on #76338
To be clear we don't know that this is ACTUALLY an AKS issue this. They happen to be running our master api servers so we're talking to them to see if some component inbetween us and their masters could be causing us but issue has proven very hard to debug (happy to take suggestions).

In the mean while beefing up kube-proxy to know when it stopped getting updates from its watches seems like a goo

[2019-05-25 10:15] MikeDaniel18 commented on #44528
Also having this issue on Digital Ocean.

[2019-05-25 10:33] heidemn commented on #71571
@aleks-mariusz We had a similar problem, with the example [fluentd-daemonset-elasticsearch-rbac.yaml](https://github.com/fluent/fluentd-kubernetes-daemonset/blob/master/fluentd-daemonset-elasticsearch-rbac.yaml) from the **fluentd-kubernetes-daemonset** repo.
Maybe it helps in your case.

The example DaemonSet YAML worked out of the box, but after transforming it to Terraform code, it no longer wo

[2019-05-25 10:41] george-angel commented on #57049
/remove-lifecycle stale

[2019-05-25 10:57] alloran opened #78336 "VSphere cloud provider zone-local volume provisioning does not support multiple vcenters inventory"
**What happened**:
VCP zone-local volume provisioning does not work when kube-controller-manager is connected to multiple vcenters.

[code]

**What you expected to happen**:

Volume provisioned in zone dc2

**How to reproduce it (as minimally and precisely as possible)**:

vSphere topology:
[code]
coloud-config (/etc/kubernetes/vsphere.conf):
[code]
storageclass:
[code]

**Anything else we need to

[2019-05-25 10:58] alloran commented on #78336
/sig vmware
/sig storage

[2019-05-25 12:51] gkgth opened #78338 "unable to create proxier: source-vip flag not set - Kubeproxy doesn't start on windows node"
**What happened**:
Kubeproxy doesn't start on windows node
**What you expected to happen**:
kubeproxy should start
**How to reproduce it (as minimally and precisely as possible)**:
Kubernetes cluster v1.14.2 with Flannel in VXLAN mode , trying to attach a windows server 2019 as a node,  kubeproxy fails to start with the following error.

**Anything else we need to know?**:

[code]

**Environment**

[2019-05-25 14:04] mattjmcnaughton commented on #78293
@shahbour no need to close the issue :) I just updated the tags on it so the right people would see it.

[2019-05-25 14:30] mattjmcnaughton commented on #78254
Curious to hear the opinions of others, but I think the quickest way to get the functionality you are hoping for would be to write/deploy a controller which listens for changes to the `NodePort` and update your DNS records accordingly. Do you think that could work for you?

I imagine including this in Kubernetes itself could be a slightly longer process, requiring a [Kubernetes Enhancement Proposa

[2019-05-25 14:55] neolit123 commented on #77787
@josiahbjorgaard

^ this is something that can be changed.

[2019-05-25 14:59] jqmichael commented on #63575
`User requests a token with extreme long-expiration, say 100 years. It is almost permanent.`
Isn't kubelet refreshing the token at least every 24 hours?

https://github.com/kubernetes/kubernetes/blob/a3ccea9d8743f2ff82e41b6c2af6dc2c41dc7b10/pkg/kubelet/token/token_manager.go#L143

[2019-05-25 15:06] liggitt commented on #63575
The user request is constrained by the upper bound set by the apiserver. If the cluster admins says 24 hours or 1 week is the max, no tokens longer than that will be issued.

The kubelet refreshes at an interval that is a percentage of the issued token lifetime, not the requested lifetime.

[2019-05-25 15:06] neolit123 commented on #75803
@Ankit-rana
your problem seems to be a separate one.

indicates failure to connect to the crio socket.

[2019-05-25 16:22] neolit123 commented on #78099
the testing-commons group (sig-testing) maintains the framework, but ideally the decision on how to proceed in terms of adding ipv6 detection should come from sig-network.

possibly having this as agenda for a sig-network meeting is a good start, then discussing it in a testing-commons meeting.

/sig network
/area e2e-testing-framework

the linked issue is a big one, so i don't have all the contex

[2019-05-25 16:23] ShubhasisMathur opened #78341 "Repo needs a code fix"
**What happened**: CLone the repository

**What you expected to happen**: As per the instruction, make command should work

**How to reproduce it (as minimally and precisely as possible)**: clone the repository , run make quick-release

**Anything else we need to know?**: Throwing error, pasted below

**Environment**:
- Kubernetes version (use `kubectl version`): Client Version: version.Info{Major

[2019-05-25 16:23] neolit123 commented on #78099
/area e2e-test-framework

[2019-05-25 16:26] ShubhasisMathur commented on #78341
how do I add the labal?

[2019-05-25 16:26] ShubhasisMathur commented on #78341
How do I add the Label?

[2019-05-25 16:33] ShubhasisMathur opened #78342 "Unable to execute Make command after cloning the repository"
**What happened**: CLone the repository

**What you expected to happen**: As per the instruction, make command should work

**How to reproduce it (as minimally and precisely as possible)**: clone the repository , run make quick-release

**Anything else we need to know?**: Throwing error, pasted below

**Environment**:
- Kubernetes version (use `kubectl version`): Client Version: version.Info{Major

[2019-05-25 16:35] ShubhasisMathur commented on #78342
@kubernetes/sig-scalability-bugs

[2019-05-25 16:36] ShubhasisMathur commented on #78341
@kubernetes/sig-scalability-bugs

[2019-05-25 16:37] ShubhasisMathur commented on #78341
kubernetes/sig/aws-ec2

[2019-05-25 16:49] vllry commented on #78307
/close

[2019-05-25 16:49] #78307 closed

[2019-05-25 17:35] grosser opened #78343 "make kubectl delete pod busybox -o json work"
I want to atomically delete an object and know it's last configuration.
`DELETE api/v1/pod/NAME` already returns the json, so please allow passing it back to the user.

@kubernetes/sig-cli-feature-requests

[2019-05-25 18:17] paulgmiller commented on #76338
Looks like metrics that are useful are coming but are not un 14 or 13 yet.

Was going to tackle metrics but seems like Casey Callendrello did that back in february but it's not in 1.14 or 1.13 yet.

commit 017f57a
Author: Casey Callendrello cdc@redhat.com
Date: Wed Feb 13 18:48:45 2019 +0100

proxy: add some useful metrics

This adds some useful metrics around pending changes and last successful
s

[2019-05-25 20:38] ggerogery commented on #60987
k8s v1.13.3
fstab/cifs custom flexvolume plugin
Ubuntu 18.04 LTS
docker version: 18.06.2-ce

-----

[delete-not-mounted.sh](https://gist.github.com/ggerogery/80261b4117c6bc511d8828948b958136)
This script helps me to find all directories inside **/var/lib/kubelet/pods** that not mounted, and move them to /tmp.
In this case script moved 152 directories left by old pods.

[2019-05-25 20:55] #67887 closed

[2019-05-25 21:13] tedyu opened #78348 "TestSelectNodesForPreemption should assign pod.Status.StartTime for test Pod"
**What would you like to be added**:
TestSelectNodesForPreemption should assign pod.Status.StartTime for test Pod

**Why is this needed**:
We can see the following in the output of TestSelectNodesForPreemption:
[code]
This is due to test.pod missing assignment to Status.StartTime

[2019-05-25 21:56] #65201 closed

[2019-05-25 23:29] Huang-Wei commented on #74931
There are two additional flakes since the one @liggitt reported on May 20:

- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration/1132075182698008578
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration/1131842499699019779

It's no longer that flaky [than before](http://velodrome.k8s.io/dashboard/db/bigquery-metri

[2019-05-25 23:34] liggitt commented on #78343
Not all delete methods return object json, so kubectl could not implement this consistently

[2019-05-25 23:38] liggitt commented on #78321
Reinvocation on error is not unexpected, and can happen for a variety of reasons (especially on idempotent get requests).

[2019-05-26 00:02] grosser commented on #78343
Which ones don't ?
I'd still prefer if it was possible for the ones where it returns Json.

On Sat, May 25, 2019, 16:36 Jordan Liggitt <notifications@github.com> wrote:

[2019-05-26 03:14] apelisse commented on #76774
Deleting the `~/.kube/http-cache` is the best option. But if that happens, I'd be more than happy to have a look at the files in there ...

[2019-05-26 05:04] #72335 closed

[2019-05-26 06:15] vllry commented on #78295
Thanks @aramase! In future, please comment/check when taking on an issue, I didn't realize someone was going to do this.

[2019-05-26 08:09] raelga opened #78352 "Add Spanish i18n strings to kubectl"
**What would you like to be added**:

The Spanish i18n strings for `kubectl`.

**Why is this needed**:

To make `kubectl` more friendly to Spanish speakers.

/assign @raelga
/sig cli
/kind feature

[2019-05-26 08:24] raelga commented on #78352
I'm already working on this issue. ⚙️

[2019-05-26 09:07] #68937 closed

[2019-05-26 09:13] shahbour commented on #78293
It is ok , i opened a issue https://github.com/kubernetes/kubeadm/issues/1570 in kubeadm and i found the where is the problem

Thanks

[2019-05-26 09:56] QwertyJack commented on #63959
+1 can wait

[2019-05-26 10:08] #68627 closed

[2019-05-26 10:08] #72322 closed

[2019-05-26 10:17] QwertyJack commented on #63959
+1

[2019-05-26 10:25] weiwei04 opened #78355 "add certificatesExpiry option to kubeadm"
**What would you like to be added**:

Add a certificatesExpiry option in kubeadm config file to sign certificates with longer expiration time.

[code]

**Why is this needed**:

When build a kubernetes cluster, we use kubeadm to generate all kinds of https certificates, the certificates expiry are hard coded for 1 year, in our use cases, we want to sign the certificates with a longer expiration tim

[2019-05-26 10:27] weiwei04 commented on #78355
/sig cluster-lifecycle

[2019-05-26 12:10] justaugustus commented on #78342
@kubernetes/owners -- unsure if I'm missing info about the triage labels, but I don't think a user that's not part of the org should be able to apply them...

[2019-05-26 12:10] #70146 closed

[2019-05-26 13:03] justaugustus commented on #78342
/area build-release
/remove-sig scalability

[2019-05-26 13:06] justaugustus commented on #78342
(I'm unsure which SIG truly owns the Makefile)
/sig release testing

[2019-05-26 14:12] #70730 closed

[2019-05-26 15:14] chenk008 opened #78358 "After systemd-journal stop and start,kubelet will restart"
After systemd-journal restart,kubelet will restart

I got this: https://github.com/moby/moby/pull/22460 . Docker ignore SIGPIPE events to fix it.
Does kubelet also need this fix?

/sig node

[2019-05-26 15:48] newtondev commented on #63959
I have created a node project that runs as a cronjob and monitors a SOURCE target group and clones the targets to a DESTINATION target group.

So when you create a LoadBalancer of type 'nlb' in kubernetes, all you need to do is manually create a new 'nlb' in AWS Console, assign your EIP to your NLB for a specific 'subnet'(availability zone), then create a target group with no targets; use the ARN

[2019-05-26 15:58] DanielZW opened #78360 "deployment rollingupdate readiness minReadyseconds"
Deployment rolling parameter validation:
If the readiness probe is configured, can minReadyseconds be set to 0?
Deployment is still based on the readiness probe detection result at this time. The old instance will be logged off immediately after the detection of ready without waiting for the interval of minreadyseconds

Is this correct? Have any friends tested it?

[2019-05-26 17:56] mattjmcnaughton commented on #78358
Hi @chenk008 - thanks for reporting this :)

Would you mind filing in the [Bug Report template](https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE/bug-report.md)? That'll give us some good initial information for starting our investigation.

[2019-05-26 18:03] prakashpc commented on #78075
@yagonobre
I opened the same issues here https://github.com/kubernetes/kubeadm as per your suggestion

https://github.com/kubernetes/kubeadm/issues/1572

[2019-05-26 19:42] aramase commented on #78295
@vllry Sorry, I'll comment on the issue and check next time.

[2019-05-26 19:51] rikatz commented on #78296
@vllry I can take this one

/assign me

[2019-05-26 21:17] neolit123 commented on #78075
/close
in favor of https://github.com/kubernetes/kubeadm/issues/1572

[2019-05-26 21:17] #78075 closed

[2019-05-26 21:23] jayunit100 commented on #7452
Is it possible for the API server to support HTTP2 for watches, while still using HTTP1 for everything else?

[2019-05-26 21:35] tedyu opened #78367 "Use merge sort in containerGC#evictContainers"
**What would you like to be added**:
Use merge sort in containerGC#evictContainers

**Why is this needed**:
Currently when numContainers > gcPolicy.MaxContainers, we flatten evictUnits and sort the flattened array with byCreated.

Since cgc.evictableContainers has already done sorting per key, we can use merge sort across the values.

[2019-05-26 21:42] vllry commented on #78296
Hi @rikatz, you’re welcome to take this on, but it’s not quite as easy as it looks. You will need to reconcile the kube-proxy config API. I’m trying to figure out an equivalent issue for —resource-container.

[2019-05-26 23:14] rikatz commented on #78296
Ouch, I've missed that :/

Tks for the answer, I'll try as well to take a look into that :) Waiting also into some update about the issue of --resource-container to follow as that!

[2019-05-26 23:36] rikatz commented on #78296
I've made some changes in API Config as well. I'm pretty sure I'm missing something with those zz_generated.conversion.go things, but the compile just went fine.

I did some really basic tests here, as running the binary, making also a --write-config-to and looking into the generated yaml and it seemed OK.

Waiting for some feedbacks :)

[2019-05-26 23:39] tedyu commented on #78367
If #78369 is adopted, this would not be needed.

[2019-05-27 00:08] vllry commented on #78295
That's okay, I only wasted a few minutes on it before I noticed the PR. 🙄

[2019-05-27 00:12] vllry commented on #78348
/sig scheduling

[2019-05-27 00:13] vllry commented on #78367
/sig scheduling

[2019-05-27 01:54] 11janci commented on #78214
I will take a look at this unless no objections

[2019-05-27 02:08] yue9944882 commented on #78214
@11janci thank you, yours!

[2019-05-27 02:21] draveness commented on #78348
/assign

[2019-05-27 02:24] #66133 closed

[2019-05-27 02:26] younglee1 commented on #78290
@vllry Thanks for response.
But I still can not list the endpoints. Seems I have a deadlock: elasticsearch requires `es-master` as `discovery.zen.ping.unicast.hosts` for nodes to join the cluster, so that port 9200 will be pingable, while k8s needs 9200 ready first to list endpoints in es-master.

[2019-05-27 02:30] draveness commented on #78203
I reproduced this on my laptop. But I'm not sure whether it is intentional or a bug?

[2019-05-27 02:31] draveness commented on #78167
Hi @rkumar1609, would you mind to close this issue since it is not a kubernetes problem? :)

[2019-05-27 02:36] vvkkhjt commented on #74237
/close

[2019-05-27 02:36] #74237 closed

[2019-05-27 03:01] andor44 commented on #72107
/remove-lifecycle stale
Still an issue

[2019-05-27 03:02] wyardley commented on #28321
/remove-lifecycle stale

[2019-05-27 03:25] #72162 closed

[2019-05-27 03:41] xujihui1985 commented on #75357
ping @kubernetes/sig-node-proposals

[2019-05-27 03:48] tianchen92 opened #78376 "Mount cannot be satisfied for container xxx, because the volume is missing or the volume mounter is nil"
In minikube environment, first I use fabric8io client to create a pod A and it is success.
kubectl get pods:
`NAME                                                         READY   STATUS    RESTARTS   AGE `
`flink-session-cluster-899fabec-e285-4af7-bd4a-897d8d1f06f4   1/1     Running   0          13s`

then I use fabric8io client within pod A to create another pod B and it fails:
kubectl get pods（n

[2019-05-27 04:25] pblaas commented on #74340
I'm seeing this too on kubernetes v1.14.2 running on 4.14.88-coreos with Flannel network overlay 0.11.0 and etcd  3.3.13.
[code]
[code]

Same seems to be happening to the kube-scheduler pods but not on identical times.

Will retry with Calico network overlay to see if this behaves differently.

[2019-05-27 05:22] cliu-splunk opened #78377 "Pod is incorrectly terminated at the beginning of the last retry"
**What happened**:
With the backofflimit set to N and OnFailure set as the retry policy, the Nth retry was terminated at the beginning of that retry after whatever value is set for terminationGracePeriodSeconds.

**What you expected to happen**:
I expected the Nth retry should work as normal. That said, I expected to have (N + 1) runs.

**How to reproduce it (as minimally and precisely as possible

[2019-05-27 05:50] rkumar1609 commented on #78167
@draveness Can you please help me to know how to downgrade helm version is its issue of helm ?

I am writing down the steps how I installed it, can you please help me to install right version of helm

#Requires -RunAsAdministrator

# Install Chocolatey package manager
# Reference https://chocolatey.org/install
Set-ExecutionPolicy Bypass -Scope Process -Force; Invoke-Expression ((New-Object System.

[2019-05-27 05:51] younglee1 commented on #78290
Problem solved by adding `PublishNotReadyAddresses: true` in headless service spec.

[2019-05-27 05:51] #78290 closed

[2019-05-27 07:29] antonmarin commented on #48948
/remove-lifecycle stale

[2019-05-27 07:42] wojtek-t commented on #66026
This seems to be outdated.

[2019-05-27 07:42] #66026 closed

[2019-05-27 07:50] rdxmb commented on #74414
/remove-lifecycle stale

[2019-05-27 08:14] draveness commented on #70585
/cc @draveness

[2019-05-27 08:20] Charles-one commented on #24306
try systemctl stop firewalld
kubectl delete pod xxxxx -n kube-system

[2019-05-27 08:35] fjammes commented on #78128
Hello,

We had the same kind of issue on our kubeadm clusters when we switch to CoreDNS instead of kube-dns. We solved it by removing "cache" parameter in coreDNS configmap and restarting coreDNS pods.

So you should try to:

[2019-05-27 08:47] kigawas commented on #66564
For how to upgrade kubeadm config (k8s version 1.14.2):

Say there is a file `gce.yml`:
[code]
And `sudo kubeadm upgrade apply --config gce.yml`

[2019-05-27 08:51] george-angel commented on #73666
/remove-lifecycle stale

[2019-05-27 08:54] alwaysused commented on #78138
Actually  you got msg on terminal only when the dig get response from server.The process is that dig first referred to the 192... and  after  timeout it referred to the next server in resolve.conf,10...,then dig got response and printed it on the terminal.Maybe you should use some linux commands instead of  dig trace.

[2019-05-27 09:27] ForeRunner88 commented on #76531
Docker version: 18.09.6
Kubernetes version: v1.14.1 (deployed with kubeadm)
CentOS: 7.6
Linux kernel: 5.0.13-1.el7.elrepo.x86_64

I have missed the same problem with environment above.
I try to change `cgroupdriver=systemd` to `cgroupdriver=cgroupfs` for `docker` and `kubelet`  on each node.And there's no such warning and error any more.

First edit the config files.
[code]
Then reload config and

[2019-05-27 09:40] Deepak1100 commented on #50745
Hi
i am running into the same issue and kubelet restart should not be the fix accepted for this issue

[2019-05-27 09:41] jacintobarbeira commented on #78210
* on busybox pod:
[code]
* on alpine pod
[code]

[2019-05-27 09:42] desdic opened #78382 "apiservers pki expired on the master and renew does not seem to take effect"
**What happened**:
apiservers cert expired and I ran kubeadm alpha cert renew all. The files seems to have updated (pki directory) but when restarting kubelet it still says its expired

**What you expected to happen**:
That it would have updated the pki so kubelet would start. But I would also expected that it updated itself like the other certs seems to do.

The documentation does not mention any

[2019-05-27 09:44] cwdsuzhou opened #78383 "Pod with priorityClass system-node-critical cluster-node-critical should be forbidden when submitted not in the namespace 'kube-system'"
**What happened**:

Pod with priorityClass  system-node-critical cluster-node-critical do not run in `kube-system` would not be effective, but have not notify users, which may cause some potential issues.

**What you expected to happen**:

Pod with priorityClass  system-node-critical cluster-node-critical should be forbidden when submitted not in `kube-system` using validation

**How to reproduce

[2019-05-27 09:52] cwdsuzhou commented on #78383
/sig Scheduling

[2019-05-27 09:57] alwaysused commented on #78210
Sry I'm not familiar with the internal of traceroute. Have you tried this? 'dig istio-sidecar-injector.istio-system.svc'

[2019-05-27 10:07] thz opened #78384 "validation: Service rejects externalName with trailing dot"
**What happened**:

The externalName of a Service is not allowed to end with a trailing dot.

**What you expected to happen**:

The externalName of a Service should allow a trailing dot. This is very useful to denote a fully qualified value of the CNAME record created by the service and prevent DNS-trial-and-error by appending different (cluster-local) search domains.

**How to reproduce it (as mi

[2019-05-27 10:31] thz commented on #78384
/sig network

[2019-05-27 10:34] marcinma commented on #66430
/remove-lifecycle stale

[2019-05-27 10:46] marcinma commented on #66430
same with  1.14.2 version

[2019-05-27 10:59] subramanian-neelakantan commented on #77535
That's correct. The `[labels]` section in `vsphere.conf` file enables the Zones feature of VCP. Once the feature is enabled, specifying zone tags in `allowedTopologies` places the Volume in a datastore that is shared  among nodes (VMs) in that zone. Without `allowedTopologies` in the StorageClass, the Volume always ends up in a globally shared datastore among all nodes (VMs) in the k8s cluster.

A

[2019-05-27 11:00] subramanian-neelakantan commented on #77535
Hi Ferran @frodenas, as per current implementation of VCP, the zone has to be specified in `allowedTopologies` in SC for the volume to be placed in the correct zone. Let me know if this does not work for you.

[2019-05-27 11:09] jacintobarbeira commented on #78210
* in busybox pod:
[code]

* in Alpine pod
[code]

[2019-05-27 11:30] alwaysused commented on #78210
so it looks like dig work well. So you can try to see of there is a process named nscd in busybox, if true, kill it and try curl again.

[2019-05-27 12:19] jsafrane commented on #77389
Looking at `EC2.WaitUntilVolumeInUse` implementation, it tries with constant backoff of 15 seconds (which I consider pretty large) and it returns when the first `Describe*` returns that the volume is in use, so basically the same as what Kubernetes does.

[2019-05-27 12:22] jsafrane commented on #77389
From what I saw, sometimes it happens that `DescribeVolume` reports a volume as detached, subsequent `DescribeInstances` reports that the volume is not attached, `AttachVolume` succeeds and only after that `DescribeVolume` shows that the volume is `detaching` (from the old device name) instead of `attaching`.

So Kubernetes got at least two confirmations that the volume is detached. What would be

[2019-05-27 12:35] christhomas commented on #37218
I understand that there is a viable workaround. But it is like you said, a workaround. Sounds like you acknowledge the use-case at least. Which is great!

If you made the livenessProbe(s) plural by default, then you could put 1..n checks which all have to succeed if the overall state is healthy or not. That would allow me at least to monitor multiple ports of the app.

I don't see how making this

[2019-05-27 13:10] jacintobarbeira commented on #78210
nopes...
[code]

[2019-05-27 13:29] alwaysused commented on #78210
...That's  beyond my knowledge.Maybe it's not same as the physical machine...All right.I think the trouble is the curl didn't send request to dns server.This can be tested using tcpdump for udp or strace comands. But I'm not sure how to solve it.Sry...

[2019-05-27 13:59] psweetma commented on #69142
Hi @lovejoy , I've just experience this same issue but I see this issue was closed. Did you, by any chance, find another solution to the problem, one that doesn't involve the patching `build/common.sh`?

[2019-05-27 14:16] willzhang opened #78398 "kubectl get pods -l app=httpd-deploy,run=my-nginx No resources found."
i can't Filtering pods with two labels
[code]

[2019-05-27 14:26] jacintobarbeira commented on #78210
anyone else with some idea on how to proceed?

[2019-05-27 15:14] fin-ger commented on #78128
@fjammes Yes, this indeed helps a bit.

[code]

However, the first lookup is still an `NXDOMAIN`. After that, everything is fine.

[2019-05-27 15:29] cwdsuzhou opened #78401 "pull-kubernetes-kubemark-e2e-gce-big pull-kubernetes-integration failed frequently"
**Which jobs are failing**:

https://github.com/kubernetes/kubernetes/pull/78248

**Which test(s) are failing**:

pull-kubernetes-kubemark-e2e-gce-big
pull-kubernetes-integration

**Since when has it been failing**:

2019-05-27 19:00:00  +8

**Testgrid link**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/78248/pull-kubernetes-kubemark-e2e-gce-big/1133003298240991232/

**Reason for

[2019-05-27 15:30] Congelli501 opened #78402 "Drain node via new pod creation for deployments"
**What would you like to be added**:

**Why is this needed**:

[2019-05-27 15:30] #78402 closed

[2019-05-27 15:31] cliu-splunk commented on #78377
The problem is that the Nth retry is already running. Killing it in the middle makes things nondeterministic.

I would expect it
1) either finish the Nth retry
2) or don’t start the Nth retry

[2019-05-27 15:38] Congelli501 commented on #66811
+1. We have a lot of deployments with only one replica, for little loaded services.
To drain a node without disruption, we cordon it and trigger a running update on the deployments, but it would be much more convenient if a drain would do that automatically.

[2019-05-27 15:40] tedyu commented on #78398
From Builder#LabelSelector, it seems the label selector is single selector.

[2019-05-27 15:46] ahg-g commented on #78383
This seems to be already enforced via the pod priority admission plugin: https://github.com/kubernetes/kubernetes/blob/f780ac028b444ed15d03de755c12fcf84c783286/plugin/pkg/admission/priority/admission.go#L145

[2019-05-27 17:06] ahg-g commented on #78383
@cwdsuzhou can you please provide more info on your environment (k8s version, cloud provider).

Also, if accessible, can you provide the command line options passed to kube-apiserver? by default, in 1.14, Priority admission plugin should be enabled, see here: https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#which-plugins-are-enabled-by-default

[2019-05-27 17:13] neolit123 commented on #78382
please re-open this ticket in the kubernetes/kubeadm repository so that the maintainers can track it.

thanks
/area kubeadm
/close

[2019-05-27 17:13] #78382 closed

[2019-05-27 17:16] neolit123 commented on #78355
the value is hardcoded to 1 year for security reasons.
the certs are technically not as secure if we allow more than that. less than that makes senses, but please note that in 1.15 kubeadm upgrade will now auto-renew certificates!

/close

[2019-05-27 17:16] #78355 closed

[2019-05-27 17:27] pracucci opened #78405 "Failed to admit critical pod due to "timeout waiting to kill pod" while handling admission failure"
**What happened**:

Kops runs `kube-proxy` from a pod manifest stored on the node, having the `scheduler.alpha.kubernetes.io/critical-pod` annotation.

We've experienced the case where the cluster autoscaler turned on a new node and, once the node has been added to the cluster, application pods have been admitted before `kube-proxy`. Once it was the turn of `kube-proxy`, all system resources were

[2019-05-27 17:31] pracucci commented on #78405
@kubernetes/sig-resource-management-bugs

[2019-05-27 17:33] pracucci commented on #78405
/sig-resource-management

[2019-05-27 17:33] pracucci commented on #78405
/sig resource-management

[2019-05-27 17:37] pracucci commented on #78405
/sig node

[2019-05-27 17:39] #72360 closed

[2019-05-27 18:05] lotusirous commented on #69999
/reopen

[2019-05-27 18:11] darkowlzz commented on #74350
/remove-lifecycle stale

[2019-05-27 18:13] liggitt commented on #78341
Duplicate of https://github.com/kubernetes/kubernetes/issues/78342

/close

[2019-05-27 18:13] #78341 closed

[2019-05-27 19:09] marius-cristian opened #78407 "[Gcloud] ERROR in command precedence: Gcloud dashboard/ Gcloud compute update Vs kubectl apply -f"
**What happened**:
I have a backendservice yaml file that :

[code]
When i edit the timeout value eitther from the dashboard for the backend service or by the command:
[code]

the update succeds, but shortly after 5-10 minutes, it reverts to the default value in the yaml.
for example:

after the update,
gcloud compute backend-services describe ID

displays nicely ```timeoutSec: 7200``

but after s

[2019-05-27 19:38] tedyu commented on #78405
I think the following change may alleviate the situation you encountered:
[code]

[2019-05-27 22:18] ottoyiu commented on #23013
@ross-w same problem with v1.13.5, experienced it over a dozen of times; had to either delete node from apiserver and restart kubelet or kill the kube-controller-manager that's the leader.

[2019-05-27 22:44] #69926 closed

[2019-05-27 22:56] roycaihw commented on #78401
/sig testing

pull-kubernetes-kubemark-e2e-gce-big failure might be related to: https://github.com/kubernetes/perf-tests/pull/538#discussion_r287891512. cc @mm4tt

[2019-05-27 23:59] openstacker commented on #51040
@phsiao Thanks for this issue and the clusterrole yaml.
@mkjpryor-stfc In my testing on v1.12.7, with above clusterrole yaml, I can successfully drain the node by itself.

Here is my yaml:

`
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: system:node-drainer
rules:
- apiGroups:
  - ""
  resources:
  - pods/eviction
  verbs:
  - create
- apiGroups:
  - apps
  resources

[2019-05-28 00:28] zhan849 opened #78409 "Introduce node cache to aws library"
**What would you like to be added**:
Add a informer-fed cache for v1.Node to aws.go

**Why is this needed**:
Currently in aws library, we are making a lot of `DescribeInstances()` calls with query filters to cloud provider directly, which is sometimes unnecessary and inefficient.

One benefit is that in addition to #78140 , which tries to translate instance Name to instance ID and optimized cloud

[2019-05-28 00:51] #78201 closed

[2019-05-28 00:53] parkjunhyo commented on #78201
I followed https://github.com/kubernetes/kubeadm/issues/1461

After I change the Kube-Proxy mode from userspace to ipvs. I can see more detail

[2019-05-28 01:16] resouer commented on #78256
The DaemonSet + StatefulSet requirement actually makes sense to me.

[2019-05-28 02:14] draveness commented on #77152
/assign

[2019-05-28 02:15] draveness commented on #77152
Kindly ping @bsalamat for suggestions on this.

[2019-05-28 02:43] aeijdenberg commented on #36847
In an unrelated context (ie outside of Kubernetes) we've also been relying on seeing (and then validating) an `id_token` in a refresh token response as an indicator that a user is still authorized, however when switching from G-Suite to Azure AD for SSO we've noticed that Azure AD *does not* include the `id_token` in a refresh token response.

Curious how other similar solutions have handled this

[2019-05-28 02:58] tamalsaha commented on #62323
/remove-lifecycle stale

[2019-05-28 06:48] awprice opened #78416 "Delay from DiskPressure condition being reported from node"
**What happened**:

We've seen instances where a node will go into DiskPressure, but for some reason a pod is still scheduled to the node that is in DiskPressure. The kubelet will then not admit the pod to the node.

We've created a timeline of events when this occurs:

Time | Component | Event
------------ | ------------- | -------------
21/05/2019 22:09:01.904 | kubelet | Kubelet starts it’s evi

[2019-05-28 06:48] cwdsuzhou commented on #78383
Thanks, I think it's good and If we do not support it, we need forbid it when it is submitted to the api-server

[2019-05-28 06:48] awprice commented on #78416
/sig node

[2019-05-28 06:48] gjtempleton commented on #61007
This issue was discussed at SIG Autoscaling yesterday: https://docs.google.com/document/d/1RvhQAEIrVLHbyNnuaT99-6u9ZUMp7BfkPupT2LAZK7w/edit#heading=h.oh2koj9sbr3x

I'm going to raise a new PR later this week given the code's changed so much since the original PR was raised by @bskiba that it doesn't make sense to just rebase it.

[2019-05-28 06:50] cwdsuzhou commented on #78383
Thanks @ahg-g but I think it is not support it, we need to forbid it when it is submitted to the api-server through validation

[2019-05-28 07:02] mtparet commented on #44703
Networkpolicy can already be applied to labels, from an user perspective it's weird to have RBAC not behaving the same.

[2019-05-28 07:06] istikamet commented on #77663
This log disappear upgrading kubernetes version to 1.14.2

[2019-05-28 07:21] tcmichael opened #78420 "The env of statefulset's container is incorrectly upgrade when deleting a pod and scaling the statefulset simultaneously"
**What happened**:
After deleting a pod and scaling up the statefulset  with different valid envs in the same container simultaneously, then the output events of executing the command `kubectl describe sts <statefulset>` is below:
[code]

**What you expected to happen**:
update successfully.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a statefulset.
apply this stat

[2019-05-28 07:23] tcmichael commented on #78420
/sig apps

[2019-05-28 07:47] wenma opened #78421 "kube-proxy with mode ipvs can not clean up inactive svc ip rules"
**What happened**:
kube-proxy with mode ipvs can not clean up inactive svc ip rules, when svc is deleted, the rules about this svc ip is still present.
[code]
and the link ```kube-ipvs0``` also have this svc ip
[code]
is this a bug, or feature?

**What you expected to happen**:
kube-proxy should keep ip and ipvs rules in sync with

**Environment**:
- Kubernetes version (use `kubectl version`):
v1.

[2019-05-28 07:53] #61012 closed

[2019-05-28 07:55] danielqsj commented on #78420
Meet same problem while using kube-addon-manager.
`env->value` vs `env->valueFrom`

[2019-05-28 07:57] wenma commented on #78421
/sig network

[2019-05-28 07:59] rdxmb commented on #65098
/remove-lifecycle stale

[2019-05-28 08:02] #66688 closed

[2019-05-28 08:02] #78172 closed

[2019-05-28 08:05] yuyulei commented on #78420
@danielqsj +1

[2019-05-28 08:07] holgero commented on #78252
Did the last comment trigger a notification? Just to make it sure:
@kubernetes/sig-auth-feature-requests

[2019-05-28 08:13] pracucci commented on #78405
@tedyu Thanks for your reply. To my understanding, when the `getPodsToPreempt()` is called it will return the **minimum set** of pods required to free up resources, so even if only 1 pod eviction fails it's likely that at the end of the `evictPodsToFreeRequests()` the `kubelet` will not have enough resources anyway to admit the critical pod.

In your opinion / experience:

1. May be an option intr

[2019-05-28 08:18] warmchang commented on #12968
FYI: https://github.com/kubernetes/kubernetes/pull/77540

[2019-05-28 08:29] wojtek-t commented on #73585
Everything for Alpha seems to be done now.

[2019-05-28 08:33] jpiper commented on #75262
@thockin This is the "behaviour" I mentioned after the Network SIG talk at kubecon

[2019-05-28 08:55] answer1991 commented on #78206
@mattjmcnaughton

Hi, thanks for you reply.

I think it should be the default behavior to replace the now behavior. I think the now behavior does not meet actual needs.

We can write the incompatible change logs to the next version release notes.

[2019-05-28 09:00] danielqsj commented on #78420
In some cases, add `value: null` in the env which using `valueFrom` can solve the problem.

[2019-05-28 09:07] iksaif commented on #68397
FYI: I am interested in this for the exact same reasons :)

[2019-05-28 09:21] anandsinghkunwar opened #78425 "Service TargetPort defaults incorrectly"
**What happened**:
When using package `k8s.io/kubernetes/pkg/apis/core/v1` for setting defaults on `Service` object, the `TargetPort` doesn't get populated correctly. After calling `SetDefaults_Service` on the `Service` object, the target port gets assigned as the `Port` field in `ServicePort`. This happening due to [this](https://github.com/kubernetes/kubernetes/blob/b49d429f64b40c181fdf99a7efec0

[2019-05-28 09:22] anandsinghkunwar commented on #78425
/sig api-machinery

[2019-05-28 09:37] TheKangaroo opened #78427 "PDB fails to show status in some cases"
**What happened**:
The status of a poddisruptionbudget is shown as
[code]
(all 0)
under the following circumstances:
The PDB uses a label that matches a replicaset and two single pods (without controller). Both pods are completed (e.g. not ready) and the disruption limit is set to 2. As soon as I delete the completed pods, the status is shown as expected.

**What you expected to happen**:
The PDB

[2019-05-28 09:47] anandsinghkunwar commented on #78425
Closing this issue, as using `IntOrString` incorrectly, it should have `Type` set correctly, default seems to be `Int`

[2019-05-28 09:47] #78425 closed

[2019-05-28 09:54] tan-tan-kanarek opened #78429 "network: failed to parse Kubernetes args: pod does not have label vpc.amazonaws.com/PrivateIPv4Address"
**What happened**:
Pods on Windows nodes are stuck in status ContainerCreating.
Failed create pod sandbox: rpc error: code = Unknown desc = [failed to set up sandbox container "5b5faf43641d153cd967acc3f07b3d0358d7870a57d9a2d3818eddb131483050" network for pod "phoenix-695b5bdff8-zzbq6": NetworkPlugin cni failed to set up pod "phoenix-695b5bdff8-zzbq6_kaltura" network: failed to parse Kubernetes arg

[2019-05-28 10:17] wojtek-t commented on #73105
I'm closing this one as fixed. In care of new failures we should open a new bug instead of reusing a single one for multiple different issues.

[2019-05-28 10:17] #73105 closed

[2019-05-28 10:43] IamPrvn opened #78432 "error during ./cluster/log-dump/log-dump.sh exit status 1"
I get the following error while running conformance tests using kubetest.

error during ./cluster/log-dump/log-dump.sh /builds/atd/oci_k8s_conformance_tests/conformance/k8s_release_stable-1.13/generated/_artifacts: exit status 1

The test suite passed but the log collection step failed, quick look into code does suggest that skeleton types are not a part of node_ssh_supported_providers, so ideally

[2019-05-28 10:43] IamPrvn commented on #78432
After triaging it further I got to following conclusions ;
When you run kubetest with skeleton provider kubetest --provider skeleton --dump=<some_path>, KUBERNETES_PROVIDER is not set, and when DumpClusterLogs test case is run (because dump flag is passed) this unset variable causes the difference.
The code [[ "${master_ssh_supported_providers}" =~ "${KUBERNETES_PROVIDER}" ]] returns false in case

[2019-05-28 10:47] IamPrvn commented on #78432
/sig [testing]

[2019-05-28 10:51] SaadBinShahid opened #78433 "GKE: IAP > L7 > custom host and path rules > Error code 11"
**What happened**:

I am using GKE Identity-aware proxy > L7 load balancer > Custom host and path rules. It works fine for the root-path. But it does not work for custom paths.

[code]

**What you expected to happen**:

Path `/` and `/nginx/` works fine. `/v2/` and `/v3/` throws `There was a problem with your request. Error code 11`.

If I disable the IAP, everything works fine.

**Environment**:

[2019-05-28 11:22] dims opened #78434 "Ensure that go.mod uses vendored dependencies with release tags"
Currently there are a lot of dependencies that we use picked from random SHA(s). There's a script that computes newer dependencies based on newer released versions/tags at:
https://gist.github.com/dims/c0857b86441442b15852a4c2355db130#file-gomod_staleness-py

The script generates a github markdown table, we look through the table at the "From" columns with random SHA(s) and see which ones have a d

[2019-05-28 11:22] dims commented on #78434
cc @liggitt @cblecker

[2019-05-28 11:36] dyoung23 opened #78436 "Dose it support multiple commands in readiness health check"
I want to start a Pod after checking some service is running already.But I try many methods but can't make it.
Here is my yaml file:
[code]
I try many format like above.But the exit code of `sh -c` always is 0 no matter I input anything wrong in it.

And I try in this way
[code]
But get a result
[code]

So I need some help. Thanks!

[2019-05-28 11:41] mm4tt commented on #78401
/assign

[2019-05-28 11:52] 11janci commented on #78214
@yue9944882 @royc added a PR for the ComponentStatus API, could you pls kindly take a look? I will look into the metrics API probably over the weekend. Thanks

[2019-05-28 11:56] brunojcm commented on #57250
I just started testing enabling proxy protocol on my setup here, I have
`service.beta.kubernetes.io/aws-load-balancer-type: nlb`
`externalTrafficPolicy: Cluster`

The issue I was experiencing, as expected, is that my upstream apps were receiving `X-Forwarded-For` headers with cluster-local addresses since cluster policy (`externalTrafficPolicy: Cluster`) needs SNAT.

I just had to do two things to

[2019-05-28 12:19] kellycampbell commented on #73362
/remove-lifecycle stale

[2019-05-28 12:40] seanjfellows commented on #61007
@gjtempleton Thanks, that would be excellent!

[2019-05-28 12:41] luksa opened #78443 "kube-proxy panics when parsing iptables-save output"
On some systems, iptables-save outputs the following warning to stderr:
[code]

Note that the error message includes a newline.

Because kube-proxy captures both stdout and stderr when calling `iptables-save`, the newline might cause rules to be garbled. For example, the output might contain the following line:
[code]

The parser treats this as a chain line, and panics, as predicted in https://git

[2019-05-28 12:50] luksa commented on #78443
/sig network

[2019-05-28 12:52] luksa commented on #78443
FYI @kubernetes/sig-network-bugs

[2019-05-28 13:05] afirth commented on #34982
Many others referenced in a wall of text. I think a common confusion is that the _files are linked_, so `ls` will show the link permissions by default.

Simply add -L: `ls -laL /path/to/directory/` to _dereference the link_

[2019-05-28 13:12] chrisohaver commented on #78129
/remove-triage unresolved

[2019-05-28 13:14] soltysh commented on #38756
Nope, scaling job was considered a mistake, since they are different from all other resources that allow scaling. You can still modify it's spec field, though.

[2019-05-28 13:27] bmwiedemann commented on #70131
kubernetes-1.14.1 still has these order variations in `/usr/share/man/man1/kubeadm-init.1`

And there are also some binaries with variations
[code]

[2019-05-28 13:29] chrisohaver commented on #78128
/remove-triage unresolved

[2019-05-28 14:05] HaveFun83 commented on #71887
Same here:
k8s: 1.14.1
Docker: 18.09.5
Linux: Debian 9.9
cgroup-driver: systemd

[2019-05-28 14:30] mattjmcnaughton commented on #78206
Thanks for your thoughts here @answer1991 :)

@kubernetes/sig-node-feature-requests is this a large enough change that we would want a KEP?

[2019-05-28 14:42] dbolkensteyn opened #78446 "kubectl port-forward doesn't properly recover from interrupted connection errors"
**What happened**:
When I open a large number (in the 100s) of concurrent long-running HTTP requests against a port-forwarded pod that is running on GKE 1.13.6-gke.0 which I then interrupt/cancel, I observe timeout errors being reported by `kubectl port-forward pod/[pod_name] 8000:8000`. Eventually, the forwarded port becomes permanently unusable until I relaunch the command.

Types of messages th

[2019-05-28 14:48] dbolkensteyn commented on #78446
/sig cli

[2019-05-28 14:56] vllry commented on #78421
/assign @vllry

[2019-05-28 14:57] vllry commented on #78443
/assign @vllry

[2019-05-28 15:02] tan-tan-kanarek commented on #78429
From the error message I thought it might be relevant to /sig network as well.

[2019-05-28 15:18] tedyu commented on #78208
@sevensees
How many extenders are used in your deployment ?

[2019-05-28 15:37] palade commented on #69687
Did you further investigate this issue? I believe the scale to 0 in kubeless is still marked as future work

[2019-05-28 15:43] reyou commented on #69687
@palade that's correct. The link I referred is a 3rd party unofficial workaround to this feature request.

[2019-05-28 15:45] kow3ns commented on #78308
/sig-node

[2019-05-28 15:46] kow3ns commented on #78308
/sig node

[2019-05-28 15:46] kow3ns commented on #78308
/remove-sig apps

[2019-05-28 16:40] tedyu commented on #78405
Looking at getPodsToPreempt, I am not sure it returns the minimum set of Pods.

For #1, retrying may not help much since the pod to be killed may not respond to the subsequent kill command.

[2019-05-28 17:04] BenTheElder commented on #78432
https://github.com/kubernetes/test-infra/issues/12741#issuecomment-496603567

[2019-05-28 17:08] pjh commented on #76666
The problem isn't happening in every test run now, but maybe 1 out of 5 or so.

[2019-05-28 17:09] palade commented on #69687
@reyou I don't think Kubeless implements this feature yet. Please correct if this is not accurate

[2019-05-28 17:29] reyou commented on #69687
@palade hmm, what you said seems accurate. Honestly, I watched their showcase video, and I was under impression that scales to zero. So function supposed to get evicted after a time out.

In this ticket,
https://github.com/kubeless/kubeless/issues/982

Following one referred as a alternate
https://github.com/deislabs/osiris

[2019-05-28 17:34] ahg-g commented on #78383
I just tried it on 1.14, attempting to create a pod using system-node-critical or system-cluster-critical fails. Here is the error I get when attempting to do that:
"Error from server (Forbidden): error when creating "pod-local.yaml": pods "local-server-critical" is forbidden: pods with system-node-critical priorityClass is not permitted in default namespace"

@cwdsuzhou please provide the informa

[2019-05-28 17:39] IamPrvn commented on #78432
yes, did set `KUBERNETES_CONFORMANCE_TEST="y"`. And setting this variable causes KUBERNETES_PROVIDER to be set to "". Refer https://github.com/kubernetes/kubernetes/blob/master/cluster/kube-util.sh#L27

[2019-05-28 17:48] mgoodness commented on #77174
Occurs in v1.14.2, also when kubelet is standalone. Use case is [HA etcd cluster configured via kubeadm](https://kubernetes.io/docs/setup/independent/setup-ha-etcd-with-kubeadm/).

[2019-05-28 17:58] #77265 closed

[2019-05-28 18:01] voron commented on #62421
/remove-lifecycle stale

[2019-05-28 18:31] smourapina commented on #78123
Great job so far @chrisohaver, @rajansandeep and @neolit123!

Would it be possible to ask for the open PRs to be merged and/or a solution found soon? We have these tests failing for quite some time and code freeze coming up in the next days. Thank you in advance for your efforts!

[2019-05-28 19:47] chancez commented on #60789
I might try to tackle this. The way statefulsets do this is pretty trivial and doing something similar in deployments should be pretty easy.

[2019-05-28 20:05] neolit123 commented on #78123
@smourapina thanks for the heads up.
@rajansandeep let me know if you don't have the time for the https://github.com/kubernetes/kubernetes/pull/78033 refactor that i requested and i can try to take over there. the alternative is to rollback the coredns version which i assume is not ideal, due to a variety of fixes in the new version.

[2019-05-28 20:10] dineshgovindasamy commented on #76666
@madhanrm @nagiesek Can you guys look into this?

@pjh  Can you please collect logs and send us the logs?

[2019-05-28 20:30] verult commented on #78050
Looks like diffResources became green on 5/27

/close

[2019-05-28 20:30] #78050 closed

[2019-05-28 20:35] chancez commented on #60789
I'm currently looking into this feature myself, and the original PR while nice, definitely isn't the "correct" approach. From what I can tell, there's potentially 3 approaches:

1) Replicasets can generate the pod name in the controller, rather than using the GeneratedName feature. This would allow the Replicaset to specify the podName at creation time, meaning it could also set the pod's hostname

[2019-05-28 20:54] liggitt commented on #65470
this was fixed in a bump of the openapi library in https://github.com/kubernetes/kubernetes/commit/8763223ab947fa8bae7b3459f70b7094bdc25e1a#diff-e4a52bb939e1550db5ab962218d32887L140

the server no longer panics, validation just fails

however, we do want to validate the provided regex is valid as part of structural schema validation, required for us to publish openapi schemas

[2019-05-28 20:57] liggitt commented on #65470
/close

validation and a test to catch this earlier are being added in https://github.com/kubernetes/kubernetes/pull/78453

[2019-05-28 20:57] #65470 closed

[2019-05-28 21:09] Joseph-Irving commented on #78360
Yes `minReadySeconds` can be set to 0 (this is the default). This means that the pod will be considered `Available` as soon as all of its containers pass readiness checks and will allow the deployment rollout to continue.

https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#min-ready-seconds

[2019-05-28 21:17] davidz627 commented on #71436
/remove-lifecycle stale
tests are still failing

[2019-05-28 21:18] mucahitkurt opened #78454 "`labelsMatch` method for admission metrics tests has wrong logic"
**What happened**:
I think this causes no problem for now but it seems to me [`labelsMatch`](https://github.com/kubernetes/kubernetes/blob/4fed75302a869c1c633e482af5e9d5fa3966fba6/staging/src/k8s.io/apiserver/pkg/admission/metrics/testutil_test.go#L26) method has wrong logic because it returns true if there is no common label name between `labelFilter` and `metric.GetLabel()`

**What you expected

[2019-05-28 21:20] madhanrm commented on #76666
At this point, we don't know if this is failing because of HNS. We need HNS traces for the duration of the run & Kubelet logs to figure out what is happening.

[2019-05-28 21:21] Joseph-Irving commented on #78203
I don't think this is a bug, the error message is fairly clear, if you want to create an object with the status field you need to set replicas as that is a required field.
So if you applied the following yaml it would work:
[code]

[2019-05-28 21:39] tedyu commented on #78416
Can you attach the log which corresponds to the timeline above ?

Thanks

[2019-05-28 21:44] M00nF1sh commented on #64148
@jaybe78 I believe the original issue is already fixed by https://github.com/kubernetes/kubernetes/pull/68422 (which got back ported to older versions).

Would you help share your serviceSpec and worker node securitygroup settings on AWS to me(@M00nF1sh in k8s slack channel), i can help take a look

[2019-05-28 22:00] BenTheElder commented on #78432
linux at work:
[code]
what bash version are you using?

[2019-05-28 22:04] BenTheElder commented on #78432
FWIW prow testing is running in debian linux containers mainly, I've not seen this issue from anyone else yet and this code doesn't appear to have been touched recently.

`KUBERNETES_CONFORMANCE_TEST` should indeed set these to `""` and cause these legacy provider specific paths to not be traversed, or at least this is the intention.

related: you seem to be testing v1.1.3 but linking to code from

[2019-05-28 22:29] pjh commented on #76666
Ok, I've started running manual test runs with tracing enabled, will share them when I repro the issue.

[2019-05-28 22:32] agolomoodysaada commented on #67577
For what it's worth, this particular project https://github.com/tensorflow/serving seems to be severely impacted by this issue. And it's mostly a C++ application.

@chiluk , Are there any workarounds we can apply while the patch gets rolled out?
Thank you very much

[2019-05-28 22:40] claudineimatos commented on #76531
The point is that as stated on Kubernetes documentation you should use systemd as the cgroupfs:

"When systemd is chosen as the init system for a Linux distribution, the init process generates and consumes a root control group (cgroup) and acts as a cgroup manager. Systemd has a tight integration with cgroups and will allocate cgroups per process. It’s possible to configure your container runtime

[2019-05-28 22:45] prameshj opened #78456 "Cannot run go tests in legacy-cloud-provider/gce"
**What happened**:
Running "go test" inside staging/src/k8s.io/legacy-cloud-providers/gce throws error similar to this:

"code in directory src/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/gce expects import "k8s.io/legacy-cloud-providers/gce""

The same command works when invoked from vendor/k8s.io/legacy-cloud-providers/gce

**What you expected to happen**:
go test should work fro

[2019-05-28 22:45] prameshj commented on #78456
/sig release

[2019-05-28 22:46] prameshj commented on #78456
cc @MrHohn @cheftako

[2019-05-28 22:52] MrHohn commented on #78456
cc @BenTheElder :)

[2019-05-28 22:53] #78384 closed

[2019-05-28 23:03] lukasheinrich commented on #70496
when reviewing kubecon eu talks, I noticed tekton seems to have a similar issue, which they also solved via a "hack" (injecting a smart binary that handles the order). So it seems there are a bunch of use-cases for "run a linear sequence of pods on the same node")

@jdrawlings @mrbobbytables @rochaporto @afortiorama @clelange

[2019-05-28 23:39] IamPrvn commented on #78432
yes, this issue arises due to difference in bash version. For bash versions 4.2+ the regex check with empty string results in status code 0 while for bash version 3.2 the regex check results in status code 2 ( it implies that that the pattern given is syntactically incorrect and maybe empty regex match attempt was not done at all).
The linux distros ship with latest bash versions [4.2+] while osx

[2019-05-29 00:12] IamPrvn commented on #78432
You are not using the `-- dump` flag , and hence the code base for collecting remote logs is not traversed in your case.
Secondly I am just new to kubetest, I am not able to find this flags --report-dir, --disable-log-dump in kubetest cli, I thought they are args for ./hack/ginkgo-e2e.sh and kubetest being a wrapper just exposes a subset of args.

[2019-05-29 00:28] thockin commented on #65928
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2019-05-29 00:57] cblecker commented on #78342
Can you provide the full logs? Not enough details are included.

/assign

[2019-05-29 01:06] BenTheElder commented on #78456
I wouldn't expect that to work for _any_ of the staging repos if run from k8s.io/kubernetes/staging/... unless you fiddle with your gopath.

[2019-05-29 01:11] MrHohn commented on #78456
It in fact works from inside of `staging/src/k8s.io/legacy-cloud-providers/aws` and hence we are baffled :)

[2019-05-29 01:15] BenTheElder commented on #78432
Right, don't use the `--dump` flag with conformance testing? :upside_down_face:  We only use it with e2e testing in kubernetes CI with one of the legacy providers. That script I linked is running in many places to do conformance testing without one of those providers.

kubetest can pass arbitrary flags to ginkgo through `--test_args`.

You can see those flags being set here: https://github.com/kub

[2019-05-29 01:21] BenTheElder commented on #78456
took a poke at this locally.

https://github.com/kubernetes/kubernetes/blob/3ccb63bb1b4d8a9e9a5e32bdd2750e44a6067ad4/staging/src/k8s.io/legacy-cloud-providers/gce/doc.go#L19

is why

[2019-05-29 01:24] ShubhasisMathur commented on #78342
I could figure out the issue. In order to run this, the memory threshold of the system should be more than 40 GB. This can be closed. Thanks everyone for looking at it.

[2019-05-29 01:24] #78342 closed

[2019-05-29 01:26] MrHohn commented on #78456
Thanks Ben! Wasn't aware of this [import path checking](https://golang.org/pkg/cmd/go/#hdr-Import_path_checking) until now :)

[2019-05-29 01:35] frodenas commented on #77535
Are you assuming that `allowedTopologies` has a single zone? So if I have a StorageClass with 3 zones specified at the `allowedTopologies` and `volumeBindingMode` set to `WaitForFirstConsumer`, when I create a Stateful using a PVC with that StorageClass, I expect that kubernetes scheduler will pick a node based on my pod’s scheduling constraints, and then, the VCP should create the PV in a datasto

[2019-05-29 01:44] draveness commented on #78420
/assign

[2019-05-29 01:47] awprice commented on #78416
@tedyu Yes, we see the following log line:
[code]
This is straight after it has observed that there is DiskPressure.

[2019-05-29 01:51] chrissnell commented on #68083
/remove-lifecycle stale

[2019-05-29 01:58] dyoung23 commented on #78436
/sig readiness

[2019-05-29 02:32] tedyu commented on #78416
I assume the following was also logged:
[code]

[2019-05-29 02:33] sevensees commented on #78208
Sorry, what do you mean by `extenders`? Do you mean `replicas`? If so, The replicas are different for different deployments, and the most one has 1000 replicas.

[2019-05-29 02:43] tedyu commented on #78208
[code]

[2019-05-29 02:56] alejandrox1 commented on #76896
Tests are running, test are green. We hereby close this issue.
/close

[2019-05-29 02:56] #76896 closed

[2019-05-29 02:59] awprice commented on #78416
@tedyu That log line isn't logged around 22:09:02. It is then logged at 22:13:19. We have our grace period set to 5m for DiskPressure, so I would imagine thats when it started freeing disk space.

[2019-05-29 03:02] tangrwx commented on #74249
Getting the same issue on version 1.14.0

First, I follow the document [CRI installation](https://kubernetes.io/docs/setup/cri/#docker), and set `native.cgroupdriver=systemd` before start Docker, then get the same issue.

But when I re-launch a new instance and delete `native.cgroupdriver=systemd`, it's okay to run kubeadm init and the error is disappeared.

## Environment

- Kubernetes version (u

[2019-05-29 03:04] tedyu commented on #78416
I assume you have looked at https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#hard-eviction-thresholds

It seems you can specify percentage higher than the default values listed above in:
[code]
so that the response comes earlier.

[2019-05-29 03:07] sevensees commented on #78208
I see, I did not apply any SchedulerExtender in deployment.

[2019-05-29 03:23] awprice commented on #78416
@tedyu We have both hard and soft thresholds configured. I don't think it's an issue with thresholds we have defined.

It's an issue of the time delay between when the kubelet decides it is DiskPressure and when it updates the status of the node on the Kubernetes API server. It's a side effect of having the loop where the node status is updated seperate to the eviction manager loop.

You could set

[2019-05-29 03:31] chenk008 commented on #78358
#38028

[2019-05-29 03:34] chenk008 commented on #78358
How to reproduce it:
systemctl kill systemd-journald.service
After some minutes,the kubelet will restart
And strace log show:

[2019-05-29 03:35] chenk008 commented on #78358
#https://github.com/kubernetes/kubernetes/issues/38028

[2019-05-29 03:36] chenk008 commented on #78358
#https://github.com/kubernetes/kubernetes/issues/38028

[2019-05-29 03:52] tedyu commented on #78416
It seems you suggest once len(nodeConditions) > 0, we should update status on API server:
[code]

[2019-05-29 04:05] derekwaynecarr commented on #78416
Historically, we update the node object at the normal housekeeping interval to both provide a heartbeat and update of present status.  The node heartbeat is in the process of transitioning into a separate NodeLease resource after which we could begin looking at different update intervals for the node object itself.  The 10s timeline shown above looks similar to the heartbeat interval.  In general,

[2019-05-29 04:08] derekwaynecarr commented on #78416
/kind feature

[2019-05-29 04:11] yue9944882 commented on #78454
/sig instrumentation

[2019-05-29 04:29] awprice commented on #78416
Yep that looks like it would probably do the job.

How often does the allocatable ephemeral storage get updated on the API server? If there is a delay, I would imagine the same issue could happen - the pod gets scheduled onto the node with insufficient ephemeral storage, but the scheduler isn't aware that there was insufficient ephemeral storage as the heartbeat/housekeeping hadn't been run in tim

[2019-05-29 04:47] prameshj commented on #78456
Thanks Ben! I learnt something :)
Closing this issue since it is working as intended.
/close

[2019-05-29 04:47] #78456 closed

[2019-05-29 05:14] cinooo commented on #51017
Any updates on this? :)

[2019-05-29 05:20] #72160 closed

[2019-05-29 05:20] #76664 closed

[2019-05-29 05:34] whereisaaron commented on #67577
We should help @chiluk collect citations of serious impact of this kernel bug on Kubernetes and anyone else using CFS quotas.

Zolando included in their presentation last week that their bad experiences with the current kernel means that they consider disabling CFS quotas as current Best Practice, as they consider it does more harm than good.
https://www.youtube.com/watch?v=6sDTB4eV4F8

[2019-05-29 05:37] soggiest commented on #45419
Hello! We have started Bug Freeze for 1.15. Is this issue still planned on being incorporated into 1.15?

[2019-05-29 06:04] leakingtapan commented on #77389
The Wait* function simply calls DescribeXX under the hood and uses some hard coded timeout. So it's similar to what kubernetes does like @jsafrane said.

[2019-05-29 07:01] ilanni2460 commented on #73570
i have same this issue

[2019-05-29 07:17] liqlin2015 opened #78467 "Cross Site Scripting (Reflected) vulnerability in kube-apiserver proxy"
**What happened**:

The name of an arbitrarily supplied URL parameter is copied into the HTML document as plain text between tags. The payload cfk88<script>alert(1)</script>y9rri was submitted in the name of an arbitrarily supplied URL parameter. This input was echoed unmodified in the application's response.

This proof-of-concept attack demonstrates that it is possible to inject arbitrary JavaSc

[2019-05-29 07:18] liqlin2015 commented on #78467
/sig api-machinery
/priority important-soon

[2019-05-29 07:19] gouki777 commented on #77489
hi~ sambdavidson
my kubelet.config
<pre>
Environment="KUBELET_ARGS=--rotate-certificates --rotate-server-certificates --cert-dir=/var/lib/kubelet/pki --logtostderr=true --v=3"
</pre>
my certificates file
<pre>
# ll -h
total 12K
-rw------- 1 root root 1.3K May  7 18:34 kubelet-client-2019-05-07-18-34-04.pem
lrwxrwxrwx 1 root root   59 May  7 18:34 kubelet-client-current.pem -> /var/lib/kubelet/pki/

[2019-05-29 07:25] rblaine95 commented on #45419
Hi there

We were experiencing this same problem on our OKD cluster.
We investigated the nodes that were flapping and, after some digging, we found what we believed to be our problem.

When we investigated the node flapping, we found that the nodes that were flapping were having absurdly high average load values, one of the nodes (16 cores, 32 threads, 96GB memory) had an average load value of, at

[2019-05-29 07:26] liqlin2015 commented on #78467
Similar issue https://github.com/kubernetes/kubernetes/issues/70160
[code]

kube-apiserver did not know how the response will be handled. But if it was interpreted by browser it's a security issue.

Not sure we can transform the error message to something which cannot be interpreted by browser before return the response.

cc @liggitt

[2019-05-29 07:34] dbolkensteyn commented on #78446
I have just added precise instructions on how to reproduce. Please do let me know if anything else is needed.

[2019-05-29 07:36] hjacobs commented on #67577
More and more companies are disabling CPU throttling, e.g. mytaxi, Datadog, Zalando ([Twitter thread](https://twitter.com/try_except_/status/1131459031376252928))

[2019-05-29 07:49] wojtek-t commented on #66239
/remove-lifecycle rotten
/lifecycle frozen

[2019-05-29 07:52] #77360 closed

[2019-05-29 07:58] lbernail commented on #76664
@jsravn The PR that was just merged will improve things a lot for UDP but I completely agree with you on the fundamental problem with endpoints. I think we should have 3 different states:
- Ready (accepting traffic), in which case we should route traffic to the endpoint
- NotReady (terminating for instance), in which case we should stop routing new traffic to the endpoint but should keep existing

[2019-05-29 08:17] #68648 closed

[2019-05-29 08:46] atrillanes1972 commented on #64168
Reporting the same issue:

The Pod "kubernetes-downwardapi-volume-example" is invalid:
* spec.volumes[0].downwardAPI.fieldRef.fieldPath: Unsupported value: "spec.nodeName": supported values: "metadata.annotations", "metadata.labels", "metadata.name", "metadata.namespace", "metadata.uid"
* spec.volumes[0].downwardAPI.fieldRef.fieldPath: Unsupported value: "status.podIP": supported values: "metadata

[2019-05-29 09:34] yue9944882 commented on #78467
responses from kube-apiserver seems correctly setting `Content-Type` header, either json or protobuf.

[2019-05-29 09:38] dbolkensteyn commented on #78446
FYI, exposing the pod to the host through a `NodePort` service instead of a `port-forward` makes the pod's server reliably accessible:

[code]

[2019-05-29 10:13] BouchaaraAdil commented on #33036
please what are really use cases where we can use k8s headless service, DB, Proxies .. ?

[2019-05-29 10:18] SataQiu commented on #77095
How do you feel about moving `Skipf`, `SkipUnlessNodeCountIsAtLeast` ... into `log/skip.go` ?
Or just put them into `log/logger.go` ?
These functions log the reasons for skipping some tests.
@andrewsykim

[2019-05-29 10:45] mkumatag commented on #73365
/remove-lifecycle stale

[2019-05-29 11:06] luksa commented on #78443
Just FYI here's another example of garbled output:
[code]

[2019-05-29 11:11] luksa commented on #78443
Anyway, fix is in https://github.com/kubernetes/kubernetes/pull/78428. Please review.

[2019-05-29 11:16] dims commented on #67577
@derekwaynecarr @dchen1107 @kubernetes/sig-node-feature-requests Dawn, Derek, is it time to change the default? and/or documentation?

[2019-05-29 12:32] #77515 closed

[2019-05-29 12:33] #77103 closed

[2019-05-29 12:33] #78285 closed

[2019-05-29 12:36] gaorong commented on #78436
try:  `curl -s http://ambassador:80/hello/ > /tmp/result && cat /tmp/result | grep "Hello World"`

[2019-05-29 12:45] wojtek-t commented on #70287
/remove-lifecycle stale

[2019-05-29 12:58] DavidSimner opened #78479 "Windows pods don't have DNS networking when they start running"
**What happened**:
I started a Windows pod that ran a command that made DNS requests.  The initial DNS request(s) that it made timed out, and then DNS suddenly started working without me doing anything.

Once DNS started working it was stable, and these results were repeatable across pod restarts, leading me to conclude that when Windows pods start running they don't have DNS networking.

Running:

[2019-05-29 13:00] DavidSimner commented on #78479
@kubernetes/sig-windows-bugs

[2019-05-29 13:01] xmudrii commented on #70189
Hello! We have started the code freeze for 1.15. Is this issue still planned for the 1.15 cycle?

[2019-05-29 13:02] xmudrii commented on #70249
Hello! We have started the code freeze for 1.15. Is this issue still planned for the 1.15 cycle?

[2019-05-29 13:02] xmudrii commented on #70505
Hello! We have started the code freeze for 1.15. Is this issue still planned for the 1.15 cycle?

[2019-05-29 13:02] xmudrii commented on #70890
Hello! We have started the code freeze for 1.15. Is this issue still planned for the 1.15 cycle?

[2019-05-29 13:07] White-Duke opened #78480 "CNI fails when ipv6 is disabled"
**What happened**:
Pod use cni can not create success,  over and over again;
 Here details:
I've disabled the IPV6 in my PC by:

$ tail -3 /etc/default/grub
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-releas

[2019-05-29 13:14] gmarek opened #78481 "Split apiserver latency metrics on return code."
We should split metrics exposed from apiserver on code as well. E.g. the fact that 99% of requests are responded very quickly is not that interesting if those 99% are 429s. I'm not quite sure we want to have buckets for each error code, or each error code class (2xx, 3xx, 4xx, 5xx). Ones that I'm interested in are 2xx.

If someone has opinions on bucketing (or thinks it's a terrible idea) let me k

[2019-05-29 14:00] Dionysusio commented on #66421
same problem with k8s v1.14.2

[2019-05-29 14:16] chiluk commented on #67577
Yes @whereisaaron collecting and sharing reports of throttling crippling applications, and or being turned off because of it's bad behavior would be welcome participation on the lkml thread where appropriate.  At the moment it looks like it's mostly just me complaining about this issue to the kernel community.

[2019-05-29 14:16] liggitt commented on #78481
cc @logicalhan for cost of additional timeseries on this metric in particular

[2019-05-29 14:17] liggitt commented on #78467
the json encoding explicitly escapes `<` to `\u003c` to avoid the browser interpreting it as HTML

/close

[2019-05-29 14:21] chiluk commented on #67577
@agolomoodysaada the workaround is to temporarily disable cfs quotas or over-allocate cpu quota to affected applications *(not all applications will hit this, but the majority of multi-threaded user-interactive applications probably are).

There's also best practices around reducing application thread count which also helps.
For golang set GOMAXPROCS~=ceil(quota)
For java move to the newer JVMs th

[2019-05-29 14:21] gmarek commented on #78481
Yeah - it's pretty heavy. We may need to figure out what do to with it in the long run. Sad reality is that it's currently the best way to judge load on apiserver:/ Having said that I'm more worried about the 'component' label, which IIUC can have unbounded cardinality. Here we can reasonably reduce blowup to 4x (I can't believe I wrote that:/).

[2019-05-29 14:22] logicalhan commented on #78481
What exactly are you thinking about doing here?

[2019-05-29 14:22] prune998 commented on #67577
FYI, after I pointed out this thread to the Azure AKS support, I was answered the patch will be rolled out when they upgrade to kernel 5.0, in late september, at best.
Until then, well, stop using limits :)

[2019-05-29 14:24] logicalhan commented on #78481
Component is actually one of two known values. Resource and subresource are unbounded (due to CRDs) and client is also an unbounded string.

[2019-05-29 14:27] wojtek-t commented on #78481
Note that in majority of metrics we already split by code:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go

We're enterring code-freeze tomorrow - so won't be merged soon...

Regarding overall idea, I agree it would be useful and we would need that for refining SLI/SLO (something that I talked about during my kubecon talk).
My pers

[2019-05-29 14:35] pracucci commented on #78405
@tedyu Sorry to reiterate on this, but I double checked the code and - if I'm not missing anything - `getPodsToPreempt()` returns the minimum set of pods.

Let's look at `getPodsToPreempt()` logic:
1. Split pods by QOS class using `sortPodsByQOS()`
2. Ensure that the total sum of evictable pods resources is enough to satify the requirements (resources to evict for the critical pod)
3. Calculate th

[2019-05-29 14:59] #78318 closed

[2019-05-29 15:04] tedyu commented on #78405
w.r.t. approach outlined above, it makes sense.

[2019-05-29 15:11] ZMMWMY commented on #76820
helpful

[2019-05-29 15:55] nikhilsap opened #78483 "Could not create route for hollow node in kubemark"
**What happened**:
i tried using Kubemark in a pre-existing cluster. The framework runs properly without any issues. The hollow-pods created and registered as node.
But when i do `kubectl describe node hollow-node`,i can see this error.

`Warning  FailedToCreateRoute  9s    route_controller  Could not create route f26a850b-81ee-11e9-a072-b2f06bc2a29d 100.96.99.0/24 for node hollow-node-4kc9s after

[2019-05-29 15:56] nikhilsap commented on #78483
/sig scalability

[2019-05-29 15:56] caesarxuchao commented on #69299
/reopen
/remove-lifecycle rotten

[2019-05-29 16:39] hoegaarden commented on #70890
@xmudrii @dims I don't have any bandwidth to do that for 1.15.

[2019-05-29 16:46] tedyu commented on #78416
@derekwaynecarr
[code]
Is there PR for the above initiative ?

thanks

[2019-05-29 16:59] dashpole commented on #78405
Whether this evicts the "minimum set" depends on how you define the "minimum set".  At the time this was implemented (k8s v1.5.0 IIRC), we didn't have PodPriority, so we used QoS to mirror the kubelet's eviction algorithm.  It should probably prioritize low-priority pods for eviction today given the recent changes to the eviction algorithm to incorporate PodPriority.  The current approach minimize

[2019-05-29 17:12] tedyu commented on #78405
@dashpole
See if the following aligns with your suggestion:
[code]

[2019-05-29 17:18] dashpole commented on #78405
Something like that, yeah.  I'm not sure the "Failed to admit pod" log warning is still required, but we can iron those things out during code review.

[2019-05-29 17:20] dannyk81 commented on #67577
@prune998 there's a small caveat there in case you are using CPUmanager (i.e. dedicated cpu allocation to pods in Guaranteed QoS).

By removing limits you will avoid the CFS throttling issue, but you will remove the pods from Guaranteed QoS so CPUmanager will not allocate dedicated cores for these pods anymore.

If you don't use CPUmanager - no harm done, but just FYI for anyone opting for this di

[2019-05-29 17:25] dims commented on #67577
@dannyk81 https://github.com/kubernetes/kubernetes/issues/70585 is not a PR that can be merged (it's an issue with a code snippet). Can you (or someone else) please file a PR?

[2019-05-29 17:39] praseodym commented on #67577
There’s one already: https://github.com/kubernetes/kubernetes/pull/75682

[2019-05-29 17:56] dannyk81 commented on #67577
@dims I linked the issue, not the PR... but the issue is linked to the PR :) indeed it is https://github.com/kubernetes/kubernetes/pull/75682 and it's been hanging there for a while, so if you could push this would be great as this is really an annoying issue.

Thanks :+1:

[2019-05-29 17:58] jpreese opened #78488 "Proposal: Ability to define current-context elsewhere"
**What would you like to be added**:
Ability to define current-context (that currently resides in kubeconfig) in another location.

**Why is this needed**:
When using Kubernetes with multiple contexts, and multiple files, the current-context value can be confusing.

Consider the config files `config-one` and `config-two`, and the `kubeconfig` set to `config-one;config-two`.

If I were to run `kube

[2019-05-29 17:59] davidxia commented on #74732
not stale

[2019-05-29 18:00] davidxia commented on #74732
/remove-lifecycle stale

[2019-05-29 18:11] avorima commented on #78398
I think the label selector is working as intended. The help output for selector lists `-l key1=value1,key2=value2` as example. From what I understand this means that it will search for a resource that has **both** labels.

To verify this you can label your pod `my-nginx-cf4bf8df9-4v87n` with `app=httpd-deploy` and then your query should work.

[2019-05-29 18:11] dims commented on #67577
whoops! thanks @dannyk81 i've assigned folks and added milestone

[2019-05-29 18:16] jqmichael commented on #63575
Sorry for the confusion.

What I meant was, before we introduce this change (cluster admin can set an upper bound of token lifetime), event if client requires a token with 100 years, kubelet will still refresh the token at least every 24 hours. So even though the token is still valid for another 100 years, it will be removed from the pod after 24 hours.

I guess user can keep the token in another

[2019-05-29 18:19] verult opened #78489 "GCP Cloud Provider - Move ConfigGlobal struct to a separate repo"
**Why is this needed**:
Today the struct lives here:
https://github.com/kubernetes/kubernetes/blob/8765fa2e48974e005ad16e65cb5c3acf5acff17b/staging/src/k8s.io/legacy-cloud-providers/gce/gce.go#L155

But the struct used to parse /etc/gce.conf in multiple repos: legacy-cloud-providers, cloud-provider-gcp, kubernetes-sigs/gcp-compute-persistent-disk-csi-driver. It would be nice to have them all vendo

[2019-05-29 18:20] verult commented on #78489
/priority important-longterm

[2019-05-29 18:26] #76825 closed

[2019-05-29 18:26] #77935 closed

[2019-05-29 18:27] yuwenma commented on #70249
Hi Marko, thanks for the check.
Yes! This is planed. We have had the majority of the work done. Have three more PRs need to go in (under review). Please note, this is not a feature request but more of a bug-fix/internal-cleanup due to the security reasons. Does it have to strictly follow the code freeze policy?

[2019-05-29 18:39] derekwaynecarr commented on #77873
while this impacts all pods, it is particularly an issue with static pods or daemon set backed pods which typically are not drained before a maintenance action.

/milestone v1.15

[2019-05-29 18:41] timmycarr commented on #65153
Hi! We are starting the code freeze for 1.15 tomorrow EOD. Just checking in to see if this issue still planned for the 1.15 cycle?

[2019-05-29 18:42] timmycarr commented on #65392
Hi! We are starting the code freeze for 1.15 tomorrow EOD. Just checking in to see if this issue still planned for the 1.15 cycle?

[2019-05-29 18:43] rohitsardesai83 commented on #77024
@dims, https://github.com/etcd-io/etcd/pull/10718 is open against release-3.3 branch of etcd.

[2019-05-29 18:43] timmycarr commented on #69376
Hi! We are starting the code freeze for 1.15 tomorrow EOD. Just checking in to see if this issue still planned for the 1.15 cycle?

[2019-05-29 18:44] timmycarr commented on #69843
Hi! We are starting the code freeze for 1.15 tomorrow EOD. Just checking in to see if this issue still planned for the 1.15 cycle?

[2019-05-29 18:55] soggiest commented on #70249
Hello,
I'm the Bug Triage Lead for 1.15. All issues and PRs are subject to the Code Freeze policy, this is to try and maintain as much stability as possible while preparing a new release. Last release there were comments about creating a KEP for this work, was that ever completed? If so, if your code is complete, and a documentation PR is open then this will likely land in this release. If a KEP h

[2019-05-29 19:11] yastij commented on #65392
@timmycarr - this is not landing in 1.15

[2019-05-29 19:11] yuwenma commented on #70249
Thanks for the reminder. yeah, we are following the policy and here's the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-release/20190316-rebase-images-to-distroless.md)

We have the PRs ready and they depend on the latest klog (v0.3.2, created yesterday). I'm currently working on importing the new klog version to k/k (#78465 the new klog release may require some test update

[2019-05-29 19:17] davidz627 commented on #75698
I believe this was resolved by https://github.com/kubernetes/kubernetes/pull/77837

[2019-05-29 19:30] soggiest commented on #70249
If you can get the Klog version updated and the PRs merged by EOD tomorrow (May 30th)  you will be fine, otherwise shoot for Code Thaw. I recommend trying to pull in the appropriate Sig leadership to help review/expedite your PRs getting merged

[2019-05-29 19:33] huggsboson commented on #37218
I'm sure they would take a PR if you submitted one.  It sounded more like they have bigger fish to fry at the moment, and the change isn't trivial (how many places do you have to test array vs object, any schemas/.protos to update?, etc), not that they disagreed it would be nice to have.

[2019-05-29 19:37] vyom31 opened #78492 "PVC not getting binded to PV in different namespace"
I am facing issues in creating a PVC in a different namespace and attaching it to PV.

[2019-05-29 19:42] DheerajSShetty opened #78494 "OIDC cache returns old token even after the expiration of refresh token in k8s go-client oidc auth provider"
**What happened**:
When a client's oidc token has expired, even on passing the latest token to create a client, newOIDCAuthProvider() returns the old client with the expired tokens.

In https://github.com/kubernetes/client-go/blob/79226fe1949a01066ee9e3a3f4c53546d72e1194/plugin/pkg/client/auth/oidc/oidc.go#L122
newOIDCAuthProvider()

Cached Client is retrieved as shown below

// Check cache for ex

[2019-05-29 19:43] DheerajSShetty commented on #78494
/sig auth

[2019-05-29 19:47] vyom31 commented on #78492
Hi, I am trying to bind a pvc to a pv  and getting "**SchedulerPredicates failed due to PersistentVolumeClaim is not bound: "upigateway-service-v3-pv-claim", which is unexpected**" error.

Below  are my files.

**PV**:

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: upigateway-service-v3-pv-volume
  labels:
    type: local
spec:
  claimRef:
    namespace: v3
  capacity:
    storage: 1

[2019-05-29 19:48] DheerajSShetty commented on #78494
@liggitt

[2019-05-29 19:49] vyom31 commented on #78492
`Hi, I am trying to bind a pvc to a pv  and getting "**SchedulerPredicates failed due to PersistentVolumeClaim is not bound: "upigateway-service-v3-pv-claim", which is unexpected**" error.

Below  are my files.

**PV**:

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: upigateway-service-v3-pv-volume
  labels:
    type: local
spec:
  claimRef:
    namespace: v3
  capacity:
    storage:

[2019-05-29 19:55] lavalamp commented on #69376
I think #72927 is pretty close, I left a few comments.

[2019-05-29 20:28] arianitu commented on #75288
Hello, is there a way to get the pod to wait until the disk resize happens? Right now, after I kill the pod, it re-launches and the pvc never has time to reset.

This is troublesome because I am trying to resize a statefulset one by one.

If I reduce the number of replicas by 1, I can resize the last instance, but I can't resize the 2nd last instance. I would essentially need to shutdown half the

[2019-05-29 20:30] chrisaj commented on #65153
Good question. There has not been consensus on how to fix this. My minimal
(2 line) change was not accepted.

On Wed, 29 May 2019 at 19:44, Tim Carr <notifications@github.com> wrote:

--
Chris

[2019-05-29 20:31] arianitu commented on #68427
Hello, is there a way to get the pod to wait until the disk resize happens? Right now, after I kill the pod, it re-launches and the pvc never has time to resize.

This is troublesome because I am trying to resize a statefulset one by one. The StatefulSet is a Kafka cluser and it requires a certain amount of brokers to be online. I can't just shutdown the entire thing to resize the nodes.

I also c

[2019-05-29 21:07] johnSchnake commented on #74282
Talking with @liggitt about his approach and others discussed on/around his ticket, the intent has shifted slightly.

Rather than expand the special case handling to include other master-ish labels, there was a desire to get away from waiting for these types of labels at all and instead just check against a set of _known_ system taints which mark that the node isn't ready or the network isn't yet

[2019-05-29 21:10] roycaihw opened #78499 "Defaulter-gen doesn't overwrite generated file if the file already exists"
**What happened**:
Defaulter-gen doesn't take effect on existing generated files when the file should be regenerated. Deleting the file and re-running defaulter-gen generate the updated file properly.

**What you expected to happen**:
Running defaulter-gen (e.g. through`make generated_files`) updates the generated files properly (by either overwriting the file or deleting and re-generating)

**How

[2019-05-29 22:00] d-shi commented on #67577
FWIW we ran into this issue as well, and found that dropping the CFS quota period to 10ms instead of the default 100ms caused our tail end latencies to improve dramatically. I think this is because even if you run into the kernel bug, a far shorter amount of quota is wasted if it is not used, and the process can get more quota (in smaller allotments) much sooner. This is just a workaround, but for

[2019-05-29 22:01] PatrickLang commented on #73434
/remove-lifecycle stale

[2019-05-29 22:14] oomichi commented on #74623
This issue becomes now unnecessary.

[2019-05-29 22:14] #74623 closed

[2019-05-29 22:27] edolce62 commented on #50375
1++

[2019-05-29 22:32] pauloeliasjr commented on #36222
I added a new line in a configMap using Tab for identation. After using Spaces instead of Tab, I was able to see the configmap as expected...

[2019-05-29 22:33] PatrickLang commented on #73434
This may work on recent versions of Docker and Windows Server 2019, but needs testing.

/milestone 1.16

[2019-05-29 22:40] PatrickLang commented on #73434
/milestone clear

[2019-05-30 00:01] yujuhong commented on #77873
@derekwaynecarr IIUC, this is a feature request, since kubernetes has never supported this. Is there a reason why this is marked milestone 1.15 when we are already past enhancement freeze and almost reaching code freeze?

[2019-05-30 00:24] #77566 closed

[2019-05-30 00:24] #78147 closed

[2019-05-30 00:25] #76684 closed

[2019-05-30 00:30] Random-Liu commented on #77873
I'm not sure whether we want the user configured grace period to block node reboot.

If I specify a 10min grace period, will it block the node from reboot for 10min? Is it fair to the other pods?

[2019-05-30 00:37] mrunalp commented on #77873
We can restrict it similar to how privileged is restricted. This is useful for daemon sets and static pods that are system owned.

[2019-05-30 00:39] Random-Liu commented on #77873
If that is the case, it seems that we need to define Kubernetes api for that. Kubelet doesn't know whether a pod belongs to a daemonset or not.

[2019-05-30 00:42] huggsboson commented on #37218
btw I'd likely go the fully additive route of a new property called `livenessProbes` which always takes an array to avoid having to deal with the if/else and schema problems you may run into.

[2019-05-30 00:55] bsalamat commented on #78006
@chenchun The `Permit` plugin interface LGTM. Please go ahead and send the PR. We will discuss more details on the PR.

[2019-05-30 01:16] andyzhangx commented on #75288
@arianitu tricky way is `kubeclt cordon ...` all agent nodes and then pod would be in waiting state

[2019-05-30 01:31] daixiang0 commented on #66421
/remove-lifecycle stale

[2019-05-30 01:46] frbaron commented on #33664
Sharing our approach in CD (who is managing versions/images/tags)

Our deploy-xxx stage is basically:
- kubectl patch deployment $IMAGE_NAME -p "{\"spec\":{\"template\":{\"metadata\":{\"labels\":{\"date\":\"`date +'%s'`\"}}}}}"
- kubectl rollout status deployment $IMAGE_NAME -w --request-timeout='600s'

We change a date field from the pipeline, check rollout status which returns as soon as our ser

[2019-05-30 01:52] vllry commented on #78443
/assign @luksa

[2019-05-30 01:52] vllry commented on #78443
/remove-triage unresolved

[2019-05-30 01:55] jgirdner commented on #33664
We ended up building a simple python script that builds our yaml files. Here is an example of that.

`
import yaml
import subprocess

def yaml_dump(filepath, data):
    with open(filepath, "w") as file_descriptor:
        yaml.dump(data, file_descriptor)

def get_git_revision_hash(container):
    image = f'gcr.io/xxxxx/{container}'
    return subprocess.check_output(['gcloud', 'container', 'images

[2019-05-30 02:03] cwdsuzhou commented on #78492
cliamRef should be added automatically when a pvc is bound to a pv. You would better not add it manually.

[2019-05-30 02:08] unizhu commented on #76531
Ubuntu 18.04.2 LTS
Docker version 18.09.5
Kubernetes 1.14.2

has the same problem

[2019-05-30 02:12] liqlin2015 commented on #78467
@liggitt
Can you check the origin issue
[code]

Sorry to bring issue #70160 and get you confused.

As you see the html element `<`, `>` was not encoded.

[2019-05-30 02:16] nguyenuet opened #78508 "Why "Simple Leader Election with Kubernetes and Docker" no longer exists in K8S source code?"
We know that K8S used to have its own leader election:
https://github.com/kubernetes-retired/contrib/tree/master/election

I think it is very important. Some application can use the leader election in K8S for simple application instead of using Raft or Zookeeper.

But I do not know why this simple leader election no longer exists in K8S source code.
Now, It has an example in https://github.com/kub

[2019-05-30 02:52] dyoung23 commented on #78436
@gaorong Thanks for you comment.
I tried this, but it doesn't work.
[code]

[code]

[2019-05-30 03:10] liggitt commented on #78467
ah, you're right, I thought https://github.com/kubernetes/kubernetes/issues/78467#issuecomment-496818463 was the issue description

/reopen

[2019-05-30 03:48] dstrebel commented on #71487
Hello! We are starting Bug Freeze for 1.15. Is this issue still planned on being incorporated into 1.15?

[2019-05-30 03:49] dstrebel commented on #72956
Hello! We are starting Bug Freeze for 1.15. Is this issue still planned on being incorporated into 1.15?

[2019-05-30 03:50] dstrebel commented on #75414
Hello! We are starting Bug Freeze for 1.15. Is this issue still planned on being incorporated into 1.15?

[2019-05-30 03:53] cofyc commented on #72347
/lifecycle frozen

[2019-05-30 03:57] hainesc commented on #78494
Client in OIDC is not the end-user, it is the third party when the end-user take authentication(Authn) from the oidc service provider. There is no problem with the cache here. Yeah, OIDC is somewhat complex, there is no need to refresh client, by normal. Refresh the token, it is the key that you access the client.

[2019-05-30 04:00] liggitt commented on #78494
the token is not included in the cache key, and the cached provider has the stale config with the old token

[2019-05-30 04:08] lahsivjar commented on #71506
/remove-lifecycle stale

[2019-05-30 04:24] hainesc commented on #78494
It refreshes the id token here.
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/plugin/pkg/client/auth/oidc/oidc.go#L268

The provider cache the id_token, but when the function `idToken()` called, it checks `idTokenExpired ` first, if valid, return the cache one, else refresh the ID token if refresh token exists.

[2019-05-30 04:26] liggitt commented on #78494
right, and when the refresh token expires, the provider is dead in the water, and calling newOIDCAuthProvider() even with a new config with a new refresh token returns the dead cached provider

[2019-05-30 04:28] #76620 closed

[2019-05-30 04:28] #77417 closed

[2019-05-30 04:37] #72313 closed

[2019-05-30 04:46] BenTheElder commented on #72956
I think optimistically we'll actually finish this in 1.16. there's been
considerable progress but I doubt the remainder will complete before code
freeze...

On Wed, May 29, 2019, 20:51 Dave Strebel <notifications@github.com> wrote:

[2019-05-30 04:48] hainesc commented on #78494
Right, I think we should add this piece of code at https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/plugin/pkg/client/auth/oidc/oidc.go#L120
[code]

[2019-05-30 04:50] cofyc commented on #74552
/lifecycle frozen

[2019-05-30 04:52] DheerajSShetty commented on #78494
if we pass idToken and refreshToken, we will keep updating the cache everytime. This solution works though.

[2019-05-30 04:54] hainesc commented on #78494
I will have a pr soon, thanks!

[2019-05-30 05:32] zq-david-wang commented on #61978
I am having similiar issue, when trying to retrieve lots of items, api would sometimes return 401.
and in apiserver log, there would line "invalid bearer token"

I think this is a bug, not sure which module

[2019-05-30 05:46] absinabs commented on #77943
<img width="941" alt="2019-05-29_Cluster1png" src="https://user-images.githubusercontent.com/17009982/58611263-28258e80-82cc-11e9-8063-537c086598f9.png">
Cluster info  when the Hybrid cluster is created and all the nodes are in ready status

[2019-05-30 05:50] absinabs commented on #77943
<img width="938" alt="2019-05-30after_Notready" src="https://user-images.githubusercontent.com/17009982/58611449-c0bc0e80-82cc-11e9-8db4-aaa283d5e995.png">
<img width="935" alt="2019-05-30notready_status" src="https://user-images.githubusercontent.com/17009982/58611460-c87bb300-82cc-11e9-8cbe-c956f62c7f6f.png">

Now the cluster windows nodes went down with not ready status with Kubelet stopped pos

[2019-05-30 05:50] jpbetz opened #78510 "Admission Webhook Names are not guaranteed to be unique within their configuration"
As pointed out by @liggitt in https://github.com/kubernetes/kubernetes/pull/78080#issuecomment-497203350 we don't require webhook names be unique within their configuration. We need to give them stable ids.

/sig api-machinery

[2019-05-30 05:52] absinabs commented on #77943
We are getting this issues again and again after few hours of  hybrid Cluster creation

[2019-05-30 05:54] #57212 closed

[2019-05-30 05:54] #76685 closed

[2019-05-30 06:11] zxx287856774 commented on #68447
same problem 1.13.2 ,how fix it?

[2019-05-30 06:25] #78492 closed

[2019-05-30 06:29] newtondev commented on #75829
Hi @raulcd, hope you are well. Have you made any progress with these tests? I have been working on a few. Going to be adding more soon.

[2019-05-30 07:42] krmayankk commented on #68397
thanks @iksaif ,we have a followup proposal to soldify the semantics of this here https://github.com/kubernetes/enhancements/pull/1010

[2019-05-30 07:58] ramnes commented on #33664
Guys, Kubernetes 1.15 will ship with a `kubectl rollout restart` command. See https://github.com/kubernetes/kubernetes/issues/13488.

[2019-05-30 08:01] raulcd commented on #75829
I haven't, once you have them you can create a PR and I can review them.

[2019-05-30 08:01] tsuna commented on #57250
@brunojcm what version of k8s are you on? Can you check that your target groups are passing health checks? When I enabled proxy protocol exactly as you described above, all the targets are showing as unhealthy, because NLB is using the PROXY protocol to perform the health check as well, which k8s doesn't support.
<img width="1199" alt="NLB targets all unhealthy" src="https://user-images.githubuser

[2019-05-30 08:13] karthikeayan commented on #72150
all the who replied here, anyone able to fix it?

[2019-05-30 08:19] jsafrane commented on #70505
nope, we will consider fixing this in 1.16

[2019-05-30 08:21] darthchudi commented on #72150
This usually happens (in my case) when the persistent volume backing my ElasticSearch Statefulsets gets filled up. Clearing the Elastic Search indexes or increasing the persistent volume memory usually resolves the problem.

[2019-05-30 08:31] shdeanwang opened #78511 "kubernets multiple cluster configuration issue."
When I config the multiple cluster ,user,context , I facing an error when run command
`kubectl --context=devcontext get pod` like below:
Error from server (Forbidden): pods is forbidden: User "kubernetes" cannot list pods in the namespace "default"

My k8s config like below:
<img width="773" alt="image" src="https://user-images.githubusercontent.com/51191683/58619057-9c752780-82f6-11e9-86bd-f10641

[2019-05-30 08:34] giladsh1 commented on #45131
this may be kind of old, but for future readers, check out [kubectx](https://github.com/ahmetb/kubectx).
after installing you can simply run -
`kubectx <NEW_NAME>=.  : rename current-context to <NEW_NAME>`

[2019-05-30 08:45] tianchen92 commented on #66821
@du2016 Can you explain a little more how to resolve these problem? I met the same error and searched for a long time. Thanks!

[2019-05-30 08:46] xmudrii commented on #70505
/milestone v1.16

[2019-05-30 09:30] halradaideh commented on #42465
this feature is needed .. !!!!
@jingxu97

[2019-05-30 09:37] yittg commented on #75652
@cwdsuzhou thanks for your respond, after checking resources i provided in [previous comment](https://github.com/kubernetes/kubernetes/issues/75652#issuecomment-476041911), i found a mistake, sorry for that and i'm sure this issue is still there,
what i mean is that,
say, there are two nodes with hostname as node-0 and node-1 can be scheduled,
pod has an **antiAffinity** with node-0, so pod will b

[2019-05-30 10:21] zq-david-wang commented on #61978
I experience the 401 issue with 1.10 1.12 clusters, but with 1.14 cluster so far I did not detect any 401 yet. The following commit make massive changes to authentication, but it is only merged into 1.13 and above,  Maybe the bug has already been fixed.
https://github.com/kubernetes/kubernetes/commit/e5227216c0796d725c695e36cfc1d54e7631d3a6#diff-8597799c5c0959ab94ebd84365b915af

[2019-05-30 10:24] hainesc commented on #78480
Hi, @White-Duke Can you post most information?
1. Describe the failed pod
2. Which CNI plugin did you use?

[2019-05-30 10:29] IamPrvn commented on #78432
Thanks @BenTheElder . That did the job.

[2019-05-30 10:29] #78432 closed

[2019-05-30 10:30] chenchun commented on #78006
@bsalamat Thanks, PR opened https://github.com/kubernetes/kubernetes/pull/78513

[2019-05-30 10:35] opsnull commented on #66892
same issue here。

[2019-05-30 11:11] skarthiksrinivas opened #78514 "In zoned environment, vSphere Cloud Provider might incorrectly succeed in volume creation though no shared datastore is available within the zone"
Sample environment:
DC
   Cluster [zone-a] (Cluster)
      Host1 (Host)
         DS1 (Datastore)
      Host2
         DS2
      Host3
         DS3

With a node running under each host, PVC is created with StorageClass having allowedTopologies=zone-a.
**What happened**:
The volume creation might succeed on one of the datastores.
**What you expected to happen**:
The volume creation should have actua

[2019-05-30 11:11] skarthiksrinivas commented on #78514
/sig vmware
/sig cloud-provider
/assign skarthiksrinivas

[2019-05-30 11:23] brunojcm commented on #57250
@tsuna They are healthy!
![image](https://user-images.githubusercontent.com/251695/58629541-52e50680-830f-11e9-9a0a-159e4b63828c.png)

@aranair said the following [above](#issuecomment-484921203), that might explain why health checks pass:

How is your `externalTrafficPolicy` set?

Server Version: version.Info{Major:"1", Minor:"12+", GitVersion:"v1.12.6-eks-d69f1b", GitCommit:"d69f1bf3669bf00b7f4a

[2019-05-30 11:27] zamog commented on #77174
same issue v11.4.1 etcd HA with kubeadm

[2019-05-30 12:13] mattjmcnaughton commented on #77873
/sig node

[2019-05-30 12:22] Joseph-Irving commented on #78427
/sig apps

[2019-05-30 12:28] croomes opened #78517 "StorageOS volumes do not register as mounted in StorageOS API"
**What happened**:

When a PVC is created and the PV mounted into a Pod using the StorageOS in-tree volume driver, the StorageOS CLI & UI do not report that the volume is mounted.

The PV is created and mounted into the Pod successfully, and all k8s functionality works as expected.  However, since the correct mount status is not visible to administrators using the StorageOS UI or CLI, they may mak

[2019-05-30 12:30] Joseph-Irving commented on #78427
Can you show the PDB you're using `kubectl get pdb <pdb name> -o yaml`?

[2019-05-30 12:36] pascalgn commented on #66430
I believe I read in some other issue that there are (still?) some plans to improve the whole apply/prune handling. However, for this specific issue, there is some kind of workaround by using prune-whitelist.

The command from the initial description

[code]

could be rewritten like this:

[code]

However, this approach has the following drawbacks:

1. I don't know if the list of objects is complet

[2019-05-30 13:13] taragu commented on #71487
@dstrebel the dependent PR #73891 is not yet merged. @saad-ali can we get this in for 1.15?

[2019-05-30 13:42] pracucci commented on #78405
@tedyu Doing like this it means we do always admit pods, while we should do it only for critical pods, correct?

[2019-05-30 13:48] zxx287856774 commented on #68447
i update kube-proxy 1.14.2, the error message is disappear

[2019-05-30 14:11] hex108 commented on #78093
I did some investigation. It seems that  [hashicorp/go-plugin](https://github.com/hashicorp/go-plugin) is a better choice for the second part of this issue. I am making a prototype for it. Is there any suggestion for it?
/cc @k82cn @baasbank @misterikkit @ahg-g

[2019-05-30 14:36] tomkerkhove commented on #74607
Forgot to circle back to this, sorry for that!

However, I think it would be great if we could have a central location which defines all events and when they occur. Now it's hard as a consumer to know what event represents what.

/cc @brendandburns

[2019-05-30 14:46] ahg-g commented on #78002
/assign

[2019-05-30 14:48] tedyu commented on #78405
Please see this
[code]
The change is for critical pod(s).

[2019-05-30 15:00] ddebroy opened #78524 "Need nil checks for Azure CSI translation checks"
**What happened**:
Some of the Azure CSI translation checks in `TranslateInTreePVToCSI` and `TranslateInTreeInlineVolumeToCSI` needs to perform NPE checks for pointer based fields as pointed out in https://github.com/kubernetes/kubernetes/pull/77703#pullrequestreview-243797085 and https://github.com/kubernetes/kubernetes/pull/77703#discussion_r288992067

**What you expected to happen**:
NPE checks

[2019-05-30 15:00] ddebroy commented on #78524
/assign

[2019-05-30 15:00] ddebroy commented on #78524
/sig storage

[2019-05-30 15:10] liggitt opened #78525 "TestStressingCascadingDeletion flakes"
**Which jobs are failing**:
pull-kubernetes-integration

**Which test(s) are failing**:
TestStressingCascadingDeletion

**Since when has it been failing**:
Intermittently
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestStressingCascadingDeletion

**Reason for failure**:

**Anything else we need to know**:

/sig api-machinery
/kind test-flake

[2019-05-30 15:14] daudn commented on #45509
Would be really handy to be able to only scale down the pods that have no processes running on them.

I am implementing a system where tasks are added to a queue and picked up by workers (Pods in a specific Node Pool) My tasks run from 5 - 40 mins. Everything is smooth until I reach the last few tasks in my queue.
Pseudo code for the events:
- 10 workers currently active.
- 8 tasks remaining,
- Sc

[2019-05-30 15:17] liggitt commented on #72493
still one of the top 3 integration flakes:
http://storage.googleapis.com/k8s-metrics/flakes-latest.json

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestValidateOnlyStatus

[2019-05-30 15:24] yastij opened #78527 "hack/update-bazel doesn't add integration tags"
**What happened**:
when running `hack/update-bazel.sh` integration tags were missing on `BUILD` files

**What you expected to happen**:
add the needed tags on test/integration `BUILD` files

**How to reproduce it (as minimally and precisely as possible)**:

add an integration test package under `test/integration`

cc @liggitt

[2019-05-30 15:24] yastij commented on #78527
/sig testing
/priority important-soon

[2019-05-30 15:30] nikopen commented on #65392
/milestone clear

to be revived when new proposal is out

[2019-05-30 16:02] mariantalla commented on #20352
👋 Is this being worked on anywhere? If not I could take a look.

[2019-05-30 16:10] adampl opened #78531 "Get image name from ConfigMap"
**What would you like to be added**:

In Container spec, add an `imageFrom` field (similar to `envFrom`) so the image name can be set by updating a config map value referenced in this field.

**Why is this needed**:

It's a bad practice to use the same image name for different image versions, but it's also a poor idea to modify the config every time you upgrade the image. Config file templates wit

[2019-05-30 16:11] hoyho commented on #74689
According to kubernetes' blog
[https://kubernetes.io/docs/tasks/run-application/force-delete-stateful-set-pod/#delete-pods](https://kubernetes.io/docs/tasks/run-application/force-delete-stateful-set-pod/#delete-pods)

**This is the intended behavior **

In other world, k8s cluster should not to reschedule the statefulset pod while the node
is down to avoid split brain / guarantee exactly once sema

[2019-05-30 16:17] johnbelamaric commented on #75414
This is resolved already, there is a workaround and the recommended deployment manifest has been updated to include that.

/close

[2019-05-30 16:17] #75414 closed

[2019-05-30 16:28] liggitt commented on #78525
looks like flakes started on 5/18

[2019-05-30 16:35] liggitt commented on #78525
Relevant PRs: https://github.com/kubernetes/kubernetes/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aclosed+merged%3A2019-05-18+base%3Amaster+sort%3Aupdated-desc+

https://github.com/kubernetes/kubernetes/pull/74440 seems a likely culprit

[2019-05-30 16:36] poikilotherm commented on #78308
Please be aware, that this is not only happening for restarting containers, but also when deploying two containers from the same image. Example to be found at kubernetes/minikube#4369, where I had one container for the app and the same image used for a job, resulting in the job container running as uid=0.

[2019-05-30 16:40] liggitt commented on #78525
/assign @yliaog @caesarxuchao

[2019-05-30 16:40] liggitt commented on #78525
adding to the milestone since this seems related to a recent GC change

[2019-05-30 16:56] dims opened #78534 "Moving kubeadm out of k/k repository"
Slack discussion: https://kubernetes.slack.com/archives/C13J86Z63/p1556823569185700

Was also discussed in the code-organization sub project of sig-arch.

Note from @timothysc :
[code]

[2019-05-30 16:57] dims commented on #78534
Note from @neolit123 [4:01 PM]
[code]

[2019-05-30 16:58] dims commented on #78534
Note from @luxas [4:06 PM]
[code]

[2019-05-30 17:00] johnSchnake opened #78535 "Improved test progress reporting"
**What would you like to be added**:
I would like a method of seeing more clear data while tests are running, e.g.:
 - How many tests will be run, have been run, have passed, have failed, etc.
 - Name of the tests passed/failed/skipped

**Why is this needed**:
While a run is going we _only_ have the output from stdout to investigate. There is a LOT of noise in those logs which is great for debuggi

[2019-05-30 17:01] johnSchnake commented on #78535
/sig testing
/area test
/area test-framework

[2019-05-30 17:05] liggitt commented on #78525
added debug logging to the test in https://github.com/kubernetes/kubernetes/pull/78537

[2019-05-30 17:18] neolit123 commented on #78534
/assign

[2019-05-30 17:19] Sher-Chowdhury commented on #25478
Here's how I managed to do it:

[code]

[2019-05-30 17:21] pjh commented on #76666
Ok, I reproduced the issue again yesterday evening, on my fourth or fifth try - the first few runs did not demonstrate the "couldn't delete ns" failure. My Windows nodes are running an image created with May's Windows updates plus KB4497934 installed.

The failing test log is [here](https://raw.githubusercontent.com/pjh/kubernetes/76666-timeouts/e2e-artifacts-ns-repro-20190529/e2e.out) - at least

[2019-05-30 17:24] alejandrox1 commented on #77232
Will delete this one as the dashboards don't exist anymore.
/close

[2019-05-30 17:24] #77232 closed

[2019-05-30 17:35] pjh commented on #76666
I also gathered collectlogs.ps1 output from each of the Windows nodes and put it in the subdirectories [here](https://github.com/pjh/kubernetes/tree/76666-timeouts/e2e-artifacts-ns-repro-20190529). It's difficult for me to automate running that script so I just ran it manually, several hours after the tests completed. Let me know if those logs contain anything useful or not.

[2019-05-30 17:50] #72447 closed

[2019-05-30 17:52] kerneltime commented on #65502
I have a different use case where a side car container creates a fuse filesystem that is consumed by the application container. The application container should not run the script until the side car is ready. The side car needs to run for as long as the application pod and should be stopped after the application pod. We would like the application container to not host custom logic for detecting th

[2019-05-30 18:00] #73390 closed

[2019-05-30 18:06] alejandrox1 commented on #76899
[From slack](https://kubernetes.slack.com/archives/C9PGCDKV5/p1559070540006100):

[2019-05-30 18:08] alejandrox1 commented on #77942
the tests are not part of the job anymore. So this should be marked as resolved.
/close

[2019-05-30 18:08] #77942 closed

[2019-05-30 18:08] alejandrox1 commented on #77784
This seems to have been resolved.
/close

[2019-05-30 18:08] #77784 closed

[2019-05-30 18:14] alejandrox1 commented on #76898
The test mentioned in this issue has been removed from the job.
/close

[2019-05-30 18:14] #76898 closed

[2019-05-30 18:27] n-sviridenko commented on #60161
Same issue.

[2019-05-30 18:33] madhanrm commented on #76666
Looking

[2019-05-30 18:57] smarterclayton commented on #73655
/lifecycle frozen

[2019-05-30 19:09] madhanrm commented on #76666
[code]

This is not the same issue as before. I dont see any hung container in hcs.
Docker remove container is failing with Access denied errors.

[2019-05-30 19:09] liggitt commented on #78308
fixed by #78261
1.14.x cherrypick in https://github.com/kubernetes/kubernetes/pull/78316, will be in 1.14.3
1.13.x cherrypick in https://github.com/kubernetes/kubernetes/pull/78320, will be in 1.13.7

impact:
* pods that specify an explicit `runAsUser` are unaffected
* pods that specify `mustRunAsNonRoot:true` will refuse to restart the container if the uid would change to 0 on restart
* pods that

[2019-05-30 19:19] madhanrm commented on #76666
Do you happen to have the machine in this repro state?
For now, I can only speculate here that some other process (kubelet.exe ?) is holding an handle to the container log files @ C:\ProgramData\docker\containers\fa683f4d7e7fdf94a686145ba0a44ae077f95334a3ff999ffb5f161023e27bf5\fa683f4d7e7fdf94a686145ba0a44ae077f95334a3ff999ffb5f161023e27bf5-json.log

while trying to delete the container, which cou

[2019-05-30 19:20] madhanrm commented on #76666
The issue "Couldn't delete ns" would come anytime a container deletion fails, for various reasons.
Can we start a separate issue, to track this, and not confuse users reading this with multiple issues?

[2019-05-30 19:29] gnufied commented on #72131
/close

[2019-05-30 19:29] #72131 closed

[2019-05-30 19:34] PatrickLang commented on #73387
/milestone v1.16

[2019-05-30 19:34] PatrickLang commented on #69905
/milestone v1.16

[2019-05-30 19:39] PatrickLang commented on #73489
/milestone v1.16
we probably need another job to isolate slower-running tests like these. Successful runs are currently ~4.5 hrs, runs with some failures may take up to 7 due to retries.

[2019-05-30 19:40] PatrickLang commented on #75319
/milestone clear
We didn't have anyone in the SIG that could take this for 1.15

[2019-05-30 19:45] ggarnier commented on #37218
You'd still have to handle both cases, for compatibility, only in two different properties. And also handle the case for both `livenessProbe` and `livenessProbes` defined.

[2019-05-30 19:52] PatrickLang commented on #76077
this has a PR open, so adding
/milestone v1.15

[2019-05-30 20:07] MikeSpreitzer commented on #76699
/remove-triage unresolved

[2019-05-30 20:08] MikeSpreitzer commented on #76699
I think the first thing to do is make kube-proxy add `--random-fully` to the MASQUERADE rule it emits.  I will make a PR to do this.

[2019-05-30 20:35] dims commented on #70131
@bmwiedemann see #78544 for the /usr/share/man/man1/kubeadm-init.1 fix.

I haven't looked into the other two issues e2e.test with /tmp path and the kubeadm's .typelink section.

[2019-05-30 20:56] MrHohn opened #78549 "Fix-up service load balandcer finalizer e2e tests"
/cleanup
/sig network
/sig cloud-provider

**What happened**:
Ref https://github.com/kubernetes/kubernetes/pull/78410. We added e2e tests for service load balancer finalizer, but there are some places needed fixup. Specifically:
- We should use constant for the finalizer instead of hardcoding it in the test. Ref https://github.com/kubernetes/kubernetes/pull/78410#discussion_r289134754.
- It would

[2019-05-30 21:16] chiluk commented on #67577
I'd have to check, but I think shrinking the period down that far may have the effect of effectively disabling it, as there are slice minimums and quota minimums in the code.  You are probably better off turning off quotas and moving to soft quotas.

[2019-05-30 21:35] prameshj commented on #78169
This is working as intended. Nodelocaldns needs to run in hostNetwork mode to consume dns packets in the host and also to setup custom iptables rules. Is the concern that port 53 is used for your cluster DNS? NodelocalDNS uses a different listen ip and it does work on nodes that run coredns pods as well.

[2019-05-30 21:36] prameshj commented on #78169
Closing since this is intended behavior, please reopen if needed.
/close

[2019-05-30 21:36] dcbw commented on #77650
/assign prameshj

[2019-05-30 21:39] dcbw commented on #77629
/assign errordeveloper

[2019-05-30 21:39] dcbw commented on #77629
/assign @errordeveloper

[2019-05-30 21:40] dcbw commented on #77439
Can you please attach some logs showing the problem? Which ingress controller? Thanks!

[2019-05-30 21:41] dcbw commented on #78480
/assign @dcbw

[2019-05-30 21:41] dcbw commented on #78433
/assign @MrHohn

[2019-05-30 21:42] dcbw commented on #78254
/assign @johnbelamaric

[2019-05-30 21:43] yelhouti commented on #78169
@prameshj The concern is that I want my cluster to have a public DNS for my public services, how can I achieve that if port 53 is already used?

[2019-05-30 21:43] dcbw commented on #78210
/assign @thockin

[2019-05-30 21:44] dcbw commented on #78138
/assign @johnbelamaric

[2019-05-30 21:45] dcbw commented on #78124
/remove-triage unresolved

[2019-05-30 21:45] PatrickLang commented on #69823
/milestone v1.16
Still not ready. PRs and testing are still in progress. Pushing out.

[2019-05-30 21:46] dcbw commented on #78038
/assign @caseydavenport

[2019-05-30 21:46] andrewsykim commented on #78124
Will be fixed with https://github.com/kubernetes/kubernetes/pull/78262

[2019-05-30 21:46] dcbw commented on #78020
/assign @thockin

[2019-05-30 21:46] PatrickLang commented on #74843
/milestone v1.15

[2019-05-30 21:47] dcbw commented on #78017
/assign @rramkumar1

[2019-05-30 21:47] MrHohn commented on #78124
/assign

[2019-05-30 21:47] dcbw commented on #77869
/assign @rramkumar1

[2019-05-30 21:48] prameshj commented on #78138
@chrisghill Is there anything more needed here?
/assign @chrisghill

[2019-05-30 21:50] rramkumar1 commented on #78017
@naveen230 Can you please file the same issue at https://github.com/kubernetes/ingress-gce? We can track it there.

/close

[2019-05-30 21:50] #78017 closed

[2019-05-30 21:50] dcbw commented on #60869
@spencerhance

[2019-05-30 21:51] MrHohn commented on #78549
/remove-triage unresolved

[2019-05-30 21:59] brobichaud commented on #78479
I see this as well. It's a HUGE issue for many apps at startup. To me this feels like a super high priority bug to fix as without reliable DNS many pods just fail, or take very long to startup if they have robust retry logic.

[2019-05-30 22:05] prameshj commented on #78169
You can modify the nodelocaldns yaml to use a different listen port, using the --dns.port flag. But how will client pods use nodelocalcache? won't they use the standard port 53 for requests?

[2019-05-30 22:14] mkimuram opened #78550 "Egress source IP support"
**What would you like to be added**:
 A feature to assign a static egress source IP for packets from a pod to outside k8s cluster.

**Why is this needed**:
 In k8s, egress traffic has its source IP translated (SNAT) to appear as the node IP when it leaves the cluster. However, there are many devices and software that use IP based ACLs to restrict incoming traffic for security reasons and bandwidth

[2019-05-30 22:15] mkimuram commented on #78550
@vllry

As we talked in KubeCon, I’m opening the issue.
As a PoC implementation, I’ve implemented an operator, egress-mapper, which can work with multiple-ip-supported version of kube-egress.
(Please see README for both repos.)

  https://github.com/mkimuram/egress-mapper
  https://github.com/steven-sheehy/kube-egress/pull/1

I hope that they can help starting discussion on how this feature should

[2019-05-30 22:25] michmike commented on #78479
@dineshgovindasamy can you or someone from your team take a look at this?

[2019-05-30 22:27] d-shi commented on #67577
@chiluk my layman's understanding is that the default slice is 5ms, so setting it to that or less is effectly disabling it, but as long as the period is greater than 5ms there should still be quota enforcement. Definitely let me know if that's not correct.

[2019-05-30 22:30] saad-ali commented on #73371
/milestone v1.15

[2019-05-30 22:30] johnbelamaric commented on #78254
So, IIUC, you want to have DNS names for your NodePort services that make them accessible *from outside the cluster*? I am guessing via SRV records since the port can change arbitrarily?

From inside the cluster there is already a ClusterIP if there is a NodePort, so this request only makes sense from outside the cluster.

Take a look at https://github.com/kubernetes-incubator/external-dns, it may

[2019-05-30 22:30] #78254 closed

[2019-05-30 23:22] BouchaaraAdil commented on #78254
@johnbelamaric @dcbw  the reason i posted here, is that i hope this feature to be supported as k8s built in, since you have adopted kubernetes endpoints that makes services outside of the cluster discoverable for kubernetes services inside of it, without referencing IPs, so why not implementing vice-versa

 i can achieve that using AWS Cloud Map directly or internal load balancer with route53, as

[2019-05-30 23:24] pjh commented on #76666
@madhanrm thanks so much for taking a look! I can definitely create a new issue so that we can close this one.

I still have the Windows nodes running after these test failures. It's unlikely that I'll be able to give you access to them, but I'd be glad to do further debugging; if you have specific suggestions please share them. If you think it could be a problem with leaked/stuck file handles may

[2019-05-31 00:19] caesarxuchao opened #78554 "Clean up ObjectSelector wiring"
See:
https://github.com/kubernetes/kubernetes/pull/78505#discussion_r289214592
https://github.com/kubernetes/kubernetes/pull/78505#discussion_r289217169

cc @liggitt
/assign
/sig api-machinery

[2019-05-31 00:21] weinong opened #78555 "memory leak in Windows kubelet"
**What happened**:
kubelet.exe's memory usage is increasing over time. When more pods are run, it increases even more.

**What you expected to happen**:
it should not keep increasing

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.14.0
- Cloud provider or hardware configuration

[2019-05-31 00:22] weinong commented on #78555
/sig windows
/sig azure

[2019-05-31 00:39] PatrickLang commented on #74674
I'm assuming this means setting a WWN or serial number that's also reflected in a GCE API?

Note: WWN is in UniqueId. It's not always there on ATA devices so Windows will make one up. iSCSI, SAS or FC will almost always have that unique identifier.

[code]

[2019-05-31 00:46] chrisghill commented on #78138
@prameshj No, I was able to solve the timeout through a different means, though I do see value in having HA nodelocaldns.  Thanks for following up.  I'll go ahead and close the issue.

[2019-05-31 00:46] #78138 closed

[2019-05-31 00:51] SandeepPissay commented on #75738
@saad-ali The vsphere in tree driver will detach from old node and attach to new node if it gets the callback from attach-detach controller. If the disk is already attached to a powered on node VM and if there is a request to attach the same disk to another VM, this would result in the "Failed to add disk 'scsi0:1'". So, there is something wrong going on here.

Can you clarify what you mean by "pr

[2019-05-31 01:02] liggitt commented on #75872
xref https://github.com/kubernetes/kubernetes/pull/78080/

[2019-05-31 01:03] liggitt commented on #69953
xref https://github.com/kubernetes/kubernetes/pull/78080/

[2019-05-31 01:03] liggitt commented on #69733
xref https://github.com/kubernetes/kubernetes/pull/78080/

[2019-05-31 01:04] liggitt commented on #67050
xref https://github.com/kubernetes/kubernetes/pull/78080/

[2019-05-31 01:05] liggitt commented on #65716
xref https://github.com/kubernetes/kubernetes/pull/78080/

[2019-05-31 01:11] yelhouti commented on #78169
@prameshj that the point, I want nodelocaldns to use port 53 of the container, the containers IP will be the DNS server for the other containers (so no config is required), and I can use another DNS for my public domains on the host network

[2019-05-31 01:28] maurodelazeri commented on #60807
yup https://github.com/ctron/kill-kube-ns/blob/master/kill-kube-ns does the trick

[code]

[2019-05-31 02:38] cwdsuzhou commented on #78401
Thanks @roycaihw @mm4tt

[2019-05-31 02:38] #78401 closed

[2019-05-31 02:40] cwdsuzhou commented on #77076
I found lost UserAgent is  mainly due to different k8s version, in k8s 1.11 it is lost but in 1.13 it exists

[2019-05-31 02:40] #77076 closed

[2019-05-31 03:30] chenchun opened #78560 "native netlink socket ipset util"
**What would you like to be added**:
re-inplement ipset util via native netlink socket

**Why is this needed**:

- Reduce resource usage overhead of launching a child process to improve ipset kube-proxy performance
- Remove dependency of another userspace utility. https://github.com/kubernetes/kubernetes/pull/57648
- Support adding comments for ipsets https://github.com/kubernetes/kubernetes/pull/

[2019-05-31 03:33] chenchun commented on #78560
/sig network

[2019-05-31 03:36] zigmund commented on #76699
Thanks, @MikeSpreitzer

Is there any workaround? I've tried to add rules manually to KUBE-POSTROUTING chain, but seems kube-proxy overwrites my rules.

[2019-05-31 03:58] BenTheElder commented on #78432
Great!

[2019-05-31 04:22] yuchengwu opened #78561 "kubelet eviction should respect pod QoS"
**What happened**:

Otherwise there are possibility that `Burstable` pods can be evicted before `Best-Effort` pods, `Guaranteed` pods can be killed before `Burstable` pods.

**What you expected to happen**:
Pod QoS should be considered when eviction happens

**How to reproduce it (as minimally and precisely as possible)**:
The current eviction policy:
https://github.com/kubernetes/kubernetes/blob/

[2019-05-31 04:22] zgfh commented on #74415
promethues opeator have support multiwatch,should we copy this? :
https://github.com/coreos/prometheus-operator/blob/master/pkg/prometheus/operator.go#L218
https://github.com/coreos/prometheus-operator/tree/master/pkg/listwatch

[2019-05-31 04:37] yuchengwu commented on #78561
As pod priority mentationed here, I personally beleive it's worth to discuss whether we should take a critical `Burstable` pod into special consideration.

The requirement comes from our production env, pod resource usage is volatile and changes with the business. To maximize resource utilization, we config it a `Burstable` pod at most time, so it can consume more resouces by evicting trivial pods

[2019-05-31 04:52] hdpdevops commented on #60295
I was looking for this too. I ended up using `yq` like this:

`kubectl create configmap grafana-dashboard-nginx-json --from-file nginx.json --dry-run -o yaml | yq w - metadata.labels.grafana_dashboard 1 | kubectl apply -f -`

[2019-05-31 05:30] soggiest commented on #53451
Hello! Code Freeze is just about on us. We'll be entering into Freeze tomorrow, May 31st. Is this still planned to land in 1.15?

[2019-05-31 05:31] soggiest commented on #62046
Hello! Code Freeze is just about on us. We'll be entering into Freeze tomorrow, May 31st. Is this still planned to land in 1.15?

[2019-05-31 05:32] soggiest commented on #48610
Hello! Code Freeze is just about on us. We'll be entering into Freeze tomorrow, May 31st. Is this still planned for 1.15?

[2019-05-31 05:58] yuchengwu commented on #78561
/sig @node
/assign @dashpole
/cc @mtaufen @dchen1107  @derekwaynecarr

Correct me if I overlooked something.

[2019-05-31 06:13] vicykie commented on #66924
THX

[2019-05-31 06:15] wojtek-t opened #78562 "Bump of cos version results in increased usage of CoreDNS"
Forked from https://github.com/kubernetes/kubernetes/issues/76579

COS version was bumped in this PR: https://github.com/kubernetes/kubernetes/pull/75149 and that results in increased Memory usage of CoreDNS.
In the meantime the new CoreDNS version was released which reduced by by 2-3x, so it's no longer that big deal, but we should understand the root cause of that to avoid it in the future.

[2019-05-31 06:16] wojtek-t commented on #76579
I forked the CoreDNS problem to a separate issue: https://github.com/kubernetes/kubernetes/issues/78562

With that, this one can be closed.

[2019-05-31 06:16] #76579 closed

[2019-05-31 06:18] wojtek-t commented on #77127
@krzysied - is there something we still want to debug here?

[2019-05-31 06:23] YoubingLi commented on #78165
@hoyho

   You can manually clone each repository, then copy the content from .git directory to the destination place.

    I ever posted in kubernetes-dev channels.

[2019-05-31 06:26] YoubingLi commented on #78165
![image](https://user-images.githubusercontent.com/43125723/58685981-0e5d7780-83b0-11e9-86e4-fc4336e23e1a.png)

[2019-05-31 06:31] andyzhangx commented on #75934
@zhiweiv is it related to metrics-server version? can heapster collect this metric on Windows?

[2019-05-31 06:43] zhiweiv commented on #75934
Metrics server 0.3.x uses usageNanoCores, 0.2.x uses usageCoreNanoSeconds.

usageNanoCores is missing on Windows nodes, that is why cpu metrics of Windows is empty while using 0.3.x.

[2019-05-31 06:56] renjithkm86 commented on #44665
Thanks! That fixed my issue

[2019-05-31 06:58] hoyho commented on #78165
@YoubingLi
Can you post related chat history here.
Do you have a better solution? I solve it  by coping desired files from my previous development
for example:
[code]

I hope there's some elegant way ..

[2019-05-31 07:00] wojtek-t commented on #76670
We're stably green for the last  week and a half since we fixed the regression. Closing.

[2019-05-31 07:00] #76670 closed

[2019-05-31 07:03] hainesc commented on #78274
Hi, @tanzhixu
It is an error message that indicated volume not found, it could not find volume to mount, did you create it?
What is the document you followed to be here? You'd better seek help there.

[2019-05-31 07:14] hoyho commented on #78149
@Mentality-is-better
From the screenshot you provided, you are using nfs (mount with nfsv4).
nfs volume don't have a quota setting or limitation on size. It was just a shared folder.
This should be a special case, Some storage backend do not support quota.

you may refer the CSI design
[https://github.com/container-storage-interface/spec/blob/c3707a60a2d4a0a684ba342c048534defb74853d/csi.proto#L416

[2019-05-31 07:20] DavidSimner commented on #45386
/remove-lifecycle rotten

I agree with this proposal.

Our pods have 2 containers: the application, and the other is the Istio sidecar.  Istio requires us to have `automountServiceAccountToken` be `true`, see: https://github.com/istio/istio/issues/14311 but we don't want to have the service token mounted in the application container.  The reason for this is that we would like to design our system

[2019-05-31 07:22] DavidSimner commented on #45386
/reopen

[2019-05-31 07:23] DavidSimner commented on #45386
@luksa : can you reopen this please :)

[2019-05-31 07:26] luksa commented on #45386
/reopen

[2019-05-31 07:59] tuminoid commented on #47775
/remove-lifecycle stale

[2019-05-31 08:05] fudali113 opened #78564 "add the next run jobs time to CronJobStatus"
**What would you like to be added**:
Do you want something like NEXT-SCHEDULE in the response from $ kubectl get cronjob myJob

**Why is this needed**:
this can help us judge we cron schedule is right

this issue like https://github.com/kubernetes/kubernetes/issues/41568

[2019-05-31 08:06] fudali113 commented on #78564
@kubernetes/sig-apps-feature-requests

[2019-05-31 08:10] DavidSimner opened #78565 "Windows pods don't support dnsConfig.searches"
**What happened**:
I started a Windows pod that specified `dnsConfig.searches` in the pod spec but that setting seemed to be silently ignored.

Running:
[code]
Gave:
[code]
FYI, the initial sleep of 60 seconds before making the DNS request is to work around https://github.com/kubernetes/kubernetes/issues/78479 and that workaround succeeded because the error above is *not* a timeout, but an error i

[2019-05-31 08:10] DavidSimner commented on #78565
@kubernetes/sig-windows-bugs

[2019-05-31 08:16] YoubingLi commented on #78165
@hoyho

   I don't have a good solution.

  It is the problem of server that doesn't response "git fetch -f https://gitlab.com/cznic/mathutil".

  The following command works
       git fetch -f https://gitlab.com/cznic/mathutil.git

[2019-05-31 08:20] zigmund commented on #76699
@MikeSpreitzer

I've made custom chain with --random-fully masquerade and inserted rule to jump there before KUBE-POSTROUTING. Alse made this trick with docker's masquerade rule.

According to iptables' counters packets goes to correct chain. Monitored for few hours and didn't see any difference. :(

[code]

[2019-05-31 08:23] TimeBye opened #78566 "The container running permission under Ubuntu system is always root"
**What happened**:
The container running permission under Ubuntu system is always root.
![image](https://user-images.githubusercontent.com/22651579/58691899-e83fd380-83bf-11e9-8605-3ec9980ad448.png)

**What you expected to happen**:
The container run permissions should be non-root.
![image](https://user-images.githubusercontent.com/22651579/58691810-a020b100-83bf-11e9-9a0d-b7ee28c3bbec.png)

**How

[2019-05-31 08:23] fudali113 commented on #78564
if this feature is feasible, i can implement it.

[2019-05-31 08:31] ObviousDWest commented on #33664
Wow. A 4 year dust-up.

I like that this can also fix unbalanced clusters (assuming it reschedules), and pick up edited config maps (until there is support for versioning those).

But I still want it for statefulSets. Maybe Deployments need the option of controlling statefulSet, not just replicaSet.

Darrin (mobile)

[2019-05-31 08:35] DavidSimner opened #78570 "terminationMessagePolicy: FallbackToLogsOnError should be the default"
**What would you like to be added**:
I would like the default for `terminationMessagePolicy` changed to `FallbackToLogsOnError`.

**Background**:
Quoting from the docs for `terminationMessagePolicy`:

**Why is this needed**:
As a new user to k8s, I will generally have an application already, and that application will, most of the time, already log to stdout and/or stderr.

During the process of in

[2019-05-31 08:42] ramnes commented on #33664
`kubectl rollout restart` will also works with StatefulSets and DaemonSets. :wink:

[2019-05-31 08:44] DavidSimner commented on #78570
@kubernetes/sig-apps-feature-requests

[2019-05-31 08:51] TimeBye commented on #78566
/sig testing

[2019-05-31 08:57] krzysied commented on #77127
![cpu_apiserver_fixed](https://user-images.githubusercontent.com/25119199/58694233-d4ca4380-8392-11e9-9bdb-2d6d975f0552.png)

IMHO cpu usage is strictly related to density test regression. After fixing regression, the cpu usage was reduced.
I think we can close this issue.

[2019-05-31 09:12] ClearLoving opened #78572 "rolling update pod zero down time"
kubernetes version: 1.10.4
my deployment yaml file like this:
[code]
now rolling update the myAppImage with zero down time, use the command:
[code]
but the terminal shows "Unable to find container named 'api' "

I just find some infomation aboud rolling update containers image, but not initContainer image rolling update.

What should I do next?

[2019-05-31 09:19] fudali113 commented on #78564
/Assignees @soltysh @erictune @janetkuo

[2019-05-31 09:21] ramineni opened #78573 "GetDiskFormat unable to get the format incase of alpine image"
**What happened**:
GetDiskFormat unable to retirve the disk format incase of alpine image as the format returned by blkid in alpine is different. Error: Invalid Format
https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/mount_linux.go#L513

Alpine blkid format:
/dev/vdf: UUID=\\"034b873d-4da2-4a94-b7a7-c095c69eba4f\\" TYPE=\\"ext4\\"\n"

**What you expected to happen**:
Returns pro

[2019-05-31 09:22] ramineni commented on #78573
/assign

[2019-05-31 09:26] answer1991 commented on #78206
@mattjmcnaughton

How about add a FeatureGate to enable this feature?

[2019-05-31 09:45] markzhang0928 commented on #58512
`kubectl cp` requires the container to be running by encapsulating the exec command depending on the `tar binary`. we can implement this function without it.

Some people are really looking forward to this feature,

https://github.com/kubernetes/kubectl/issues/454
https://github.com/kubeflow/pipelines/issues/1213
Sync does not work in containers without the tar command #1814
Can not copy configura

[2019-05-31 09:50] #67671 closed

[2019-05-31 10:04] DavidSimner opened #78574 "Windows nodePort doesn't work when it's the same as the service port"
**What happened**:
I created a service where the `nodePort` was the same as the `port`, and having done so, then the `nodePort` was *not* accessible externally on the Windows node where the pod was running (it was, however, accessible on the Linux master).  When I changed either the `port` or the `nodePort` so that they were different then the service was accessible on the Windows node.

**What yo

[2019-05-31 10:07] george-angel commented on #78138
@chrisghill Would you mind sharing how you resolved this issue?

We have currently stopped the roll-out of nodelocaldns because of this issue. Thanks!

[2019-05-31 10:08] DavidSimner commented on #78574
@kubernetes/sig-windows-bugs

[2019-05-31 10:38] timyinshi opened #78576 "Two questions about flexvolume"
I have two questions about flexvolume and hope to get your answers.
1.kubelet will periodically call the interface of flexvolume.How often is it called?
2.Why isn't the detach method I wrote for flexvolume called by kubelet?

[2019-05-31 10:50] DavidSimner opened #78577 "Windows pods: binaries run from GMSA network shares have no network"
**What happened**:
I started a Windows pod and ran an application located on a network share (using a GMSA for authentication), and the application started successfully but it had no access to make any network requests (even DNS requests that don't need authentication).

**What you expected to happen**:
I expect that all applications running within a container have access to the networking stack,

[2019-05-31 10:53] DavidSimner commented on #78577
@kubernetes/sig-windows-bugs

[2019-05-31 10:56] wupaopao opened #78578 "available_controller.go"

[2019-05-31 10:57] #78578 closed

[2019-05-31 11:10] dijitali commented on #69528
Can echo this but with a couple of slightly different use-cases:

We use a GKE regional K8s cluster and need to move a `gcePersistentDisk` between GCP zones.

Another scenarios is where we use [Heptio Velero](https://github.com/heptio/velero) to backup and restore disks between clusters in different regions, zones and GCP projects (it looks like Heptio are approaching the same problem from a diffe

[2019-05-31 11:39] wupaopao opened #78579 "When the etcd is switched between active and standby, apiserver reports an error."
**What happened**:
I have two etcd clusters cluster-master and cluster-backup.
Kube-apiserver will switch to cluster-backup when cluster-master has failed.
After a switch occurs,kube-apiserver willl report errors.At this time, creating a deploy cannot get the pods .
`May 31 18:29:32 CLAM400351 kube-apiserver[31064]: E0531 18:29:32.992640   31064 available_controller.go:311] v1.authorization.k8s.io

[2019-05-31 11:43] neolit123 commented on #76833
@nzoueidi messaged me that they want to work on this issue.
/lifecycle active

[2019-05-31 12:16] ankrause commented on #62036
/reopen
/remove-lifecycle rotten

I think this should be re-opened as I was about to create a new issue with essentially the same problem.

I was expecting readiness probes (and presumably liveness probes as well) to execute the first probe immediately upon initialDelaySeconds expiring. Instead, it may take a substantial amount of time before the pod is marked "Ready" upon the expiration of the in

[2019-05-31 12:25] veeshall commented on #78566
Could be related to #78308

[2019-05-31 12:29] chestack opened #78580 "All besteffort pods will be cleaned up if update allocatable memory limits of kubepods to a lower value"
**What would you like to be added**:
current_memory_usage_of_pods = cat /sys/fs/cgroup/memory/kubepods/memory.usage_in_bytes
current_memory_limit_of_pods = cat /sys/fs/cgroup/memory/kubepods/memory.limit_in_bytes

update kubelet configuration file to make new value of memory_limit_of_pods < current_memory_usage_of_pods
restart kubelet
All besteffort pods on this node will be cleaned up within abou

[2019-05-31 12:30] chestack commented on #78580
/sig node
/sig resource management

[2019-05-31 12:37] jsravn commented on #58334
/remove-lifecycle rotten

[2019-05-31 12:37] namratachaudhary opened #78582 "Kubelet stopped posting node status - WindowsServer2019 - Kubernetes 1.14.1-00"
**What happened**:

Running kubernetes 1.14 on windows server 2019, although deploys flannel without errors, but the node remains in not-ready state.

The installation works perfectly. `kubectl` on windows also work as expected. The problem arises when we try to install flannel.

Cluster CIDR is correct as mentioned - 10.244.0.0/16

The describe log shows -

[code]

**Environment**:
- Kubernetes v

[2019-05-31 12:40] namratachaudhary commented on #78582
/sig node
/sig k8s-lifecycle-management

[2019-05-31 12:42] erkanerol commented on #78308
I am not sure about this statement. Could you please check this issue?
https://github.com/kubernetes/website/issues/14574

[2019-05-31 13:06] chestack commented on #78580
@vishh , you are the author of this commit “add support for node allocatable phase 2 to kubelet” which is related with this issue.
I will appreciate that you could take a look at this issue if you have time. Thanks

[2019-05-31 13:06] TimeBye commented on #78566
I tried to switch to a lower version of Docker and it worked fine.

[2019-05-31 13:06] MikeSpreitzer commented on #76699
Yes, kube-proxy maintains the rules in the KUBE-POSTROUTING chain.

I suppose you mean that you are still seeing SYN drops.  Are you also looking at the insert_failed counter from `conntrack -S`?  If so, does it correlate with SYN drops?

This may be grasping at straws, but I note that your experiment did not remove the KUBE-POSTROUTING chain.  Is it possible that in your experiment the KUBE-POSTR

[2019-05-31 13:09] AbdulR3hman commented on #49466
we have the same issue. A pod with buggy code had been trying to restart for over 15000 without noticing it causing issue with none-faulty deployment due to capacity limitation. We have a small cluster with roughly 400 nodes capacity.

+1

[2019-05-31 13:10] mattjmcnaughton commented on #78580
@chestack thanks for creating this issue - I'm having a little bit of difficulty understanding the change you're hoping for. Could you add a high level summary of the change you are asking for?

[2019-05-31 13:12] mattjmcnaughton commented on #78582
@namratachaudhary thanks for sharing ! Do you have the option of testing this with a different network fabric than flannel? If it works with a different network fabric, that'd be interesting data.