[2015-04-21 18:36] roberthbailey opened #7120 "gce provider's restart-apiserver function is no longer correct"
Now that kube-apiserver runs in a container, `/etc/init.d/kube-apiserver` no longer exists:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/util.sh#L983-L985

/cc @ArtfulCoder

[2015-04-21 18:45] quinton-hoole commented on #7104
No, the only changes I've made are to test/e2e/pods.go.  Agreed through, it must be something to do with my local environment, as nobody else seems to be running into this problem.  Never mind, I'll sort it out.

[2015-04-21 19:11] lavalamp opened #7122 "UI support changes"
These items block further progress on the UI. I'm merging #7056 so we can make progress, but it is in general not yet safe to accept UI changes because we are missing various supporting functionality: we don't have enough automated checks in place. Please copy me (@lavalamp) on all UI changes.

P0 items: (I'm unlikely to accept UI changes that aren't working towards fixing one of these issues)

*

[2015-04-21 19:20] fabioy opened #7125 "Roll forward "validate-cluster.sh" to use new "kubectl get componentstatuses""
PR #7124 rolls back "validate-cluster.sh" to use the older mechanism because a number of CI builds were failing tests due to using older api-server. Need to roll this forward once they are updated.

[2015-04-21 19:23] timothysc opened #7126 "e2e tests should do the right thing based on context."
Currently the e2e test have several hidden requirements:

1. They need to be run relative to kubernetes root directory.  --repo_root doesn't work
2. They require relative paths to examples.

Currently I think the e2e test binaries should gracefully disable vs. fail under either conditions.

[2015-04-21 19:26] preillyme commented on #7122
Also please copy me @preillyme on all UI changes as well.

[2015-04-21 19:30] derekwaynecarr opened #7127 "GetReference should require a meta.Interface"
As part of this PR:

https://github.com/GoogleCloudPlatform/kubernetes/pull/7093

It was noted that GetReference should have more information injected in order to build a reference without a hard-coded scheme.

GetReference needs to be modified to allow downstream consumption that runs with alternate Scheme.  This impacts the ability to create Events around extended Kinds.

[2015-04-21 19:30] derekwaynecarr commented on #7127
/cc @smarterclayton

[2015-04-21 19:35] jackgr commented on #7122
Likewise please copy @jackgr.

[2015-04-21 19:48] quinton-hoole commented on #7013
PR almost ready - just struggling to get e2e tests to run :-)

[2015-04-21 19:58] #3948 closed

[2015-04-21 20:00] davidopp commented on #7111
/sub

[2015-04-21 20:40] bgrant0607 commented on #1743
I agree that dependencies do not replace triggers.

[2015-04-21 20:44] smarterclayton commented on #1743
Could you construct triggers out of dependencies though?  I guess it comes down to whether the simple dependencies object is "schemaless" or not.

[2015-04-21 20:50] smarterclayton commented on #1743
So a theoretical Deployment object:

[code]

Things OpenShift has (translated to potential areas in deployment):

[code]

[2015-04-21 21:07] davidopp commented on #7092
@faiboy are you working on this? If so, please assign to yourself.

[2015-04-21 21:08] #7049 closed

[2015-04-21 21:16] lavalamp commented on #6971
Your cluster is so old that it is probably not worth debugging, unfortunately. We don't even use the pod_cache component any more. (I think kubelet was reporting something unexpected to your master.) Please upgrade and try again. Sorry!

[2015-04-21 21:16] #6971 closed

[2015-04-21 21:17] davidopp commented on #260
/subscribe

[2015-04-21 21:19] #6031 closed

[2015-04-21 21:33] #7120 closed

[2015-04-21 21:56] roberthbailey opened #7139 "validate-cluster.sh fails on Mac OS 10.9 (mavericks)"
My mac doesn't have gnu sed installed, so the sed command in validate-cluster.sh fails: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/validate-cluster.sh#L63-L65

[2015-04-21 22:22] fabioy commented on #7092
Commenting here, since the other thread has mixed in code-review comments.

@bgrant0607 - I don't disagree necessarily on this, but here's the thing: it's nice to have a single end point to get all the status of all the things the master knows about. I was hoping to keep "componentstatus" as that place. I think it's ok for it to retrieve the node status from its internal state, but not having to d

[2015-04-21 22:52] preillyme commented on #7122
I've made a partial pass at updating the README it still needs a bit more work.

[2015-04-21 23:16] bgrant0607 commented on #7127
Related: #1490

[2015-04-21 23:36] dchen1107 commented on #7001
@bprashanth @ArtfulCoder is going to take a look at this first. Is that ok?

[2015-04-21 23:40] dchen1107 commented on #5312
Yes, it works.

[2015-04-21 23:40] #5312 closed

[2015-04-22 00:00] caesarxuchao opened #7148 "Make the ELB name conform to cloud providers rules"
Cloud providers have various rules regarding the naming of a load balancer. Here are links to the rules of GCE (https://cloud.google.com/compute/docs/load-balancing/network/target-pools) and AWS(http://docs.aws.amazon.com/ElasticLoadBalancing/latest/APIReference/API_CreateLoadBalancer.html).

Currently we have made sure the names returned by GetLoadBalancerName will satisfy the rules of GCE and AW

[2015-04-22 00:28] bgrant0607 commented on #5840
Actually, this works if one creates an array of items:
[code]

[2015-04-22 00:44] bgrant0607 commented on #7092
We've been steadily eliminating master-to-node communication. I fully expect that we'll break the current implementation in the not-too-distant future. The right solution isn't to fix this, but to eliminate it. The node API already needs to implement this for ongoing operation. It shouldn't be implemented twice, especially two totally different ways.

Also, when one has lots of nodes, they'd drown

[2015-04-22 00:59] fabioy commented on #7092
I don't disagree with that. I think eliminating the master->node check is fine (and needed -- you're right that it won't scale).

What I do want, though, is to be able to make a single call and get all of the health status that the master knows. It'd simplify the monitoring a lot (and the master already knows it). Presumably, for node health, it could be as simple as "last status" and "timestamp"

[2015-04-22 01:18] bgrant0607 commented on #1743
Quick comment on replicas: I think Deployment should specify replicas. An auto-scaler could then target the Deployment rather than target the underlying RCs directly. Deployment would control the replicas counts of the RCs it managed.

[2015-04-22 01:45] smarterclayton commented on #1743
Does deployment only scale up "target deployment"?

Missing from my above list is the labels to add to rcs (vs pods) so they can be targeted.  Same rules as we proposed for rcs - defaults to pod templates all the way down.

[2015-04-22 02:03] bgrant0607 commented on #1743
I agree that something like a spec.version field is needed. "version" is overloaded, though. Incarnation? Generation? Revision?

We need to rationalize usage of Reason, Message, Details, Cause across the API, but I agree some status fields along those lines would be useful.

spec.active sounds like inert/suspend, which I'd like to support more broadly. Perhaps we should put it in the dependencies

[2015-04-22 02:25] bgrant0607 commented on #7060
cc @nikhiljindal

[2015-04-22 02:33] jayunit100 commented on #7060
closed thanks ! i think also the kubectl updates had the fix to this

[2015-04-22 02:33] #7060 closed

[2015-04-22 02:38] madhuri-rai07 commented on #7100
Also all the replace API has duplicate declaration.

[2015-04-22 02:39] smarterclayton commented on #1743
Revision is probably the closest to intent.  Index is also overloaded.

We're reasonably close.  We use it to decorate reason all the way through - so builds are triggered by scm, which goes into the image, which shows up in the image repo, which triggers a deploy.

Good point.

We have two proposed ones - injecting service env automatically (add a new dependency from deployment to service, adding

[2015-04-22 02:56] jiangyaoguo commented on #5840
@bgrant0607 Make a separate resources list file?

[2015-04-22 03:08] ArtfulCoder commented on #7001
In the logs above:
Loaded  image is: gcr.io/google_containers/kube-apiserver           245789b39bb5a7d83cd88684b8272608

kubelet is looking for gcr.io/google_containers/kube-apiserver:38e98bcf79cee7f9e0ea3cb267452635
which is not in the docker images list. As a result kubelet cant find the image and fails to restart the kube-apiserver container.

@derekwaynecarr Next time this happens can you chec

[2015-04-22 04:35] davidopp commented on #1743
I suspect that a common use case will be to do deployments manually (in the sense of a human triggering it directly, rather than having it happen as a side-effect of a build or anything else). Hopefully supporting the automatic trigger case won't complicate the API or implementation for handling the manual case.

For example,

worries me. IIUC we're planning to have Deployment be the only user-fri

[2015-04-22 04:36] relaxdiego opened #7152 "kubectl create -f <directory> doesn't see .yml files"
Based on discussion from: https://groups.google.com/d/topic/google-containers/B-b0qOputVY/discussion

kubectl v0.15.0 doesn't see YAML files in the directory. Taken directly from my terminal:

Using JSON files (works as expected)
[code]
Using YAML (fails)
[code]

[2015-04-22 04:58] davidopp commented on #7092
A new endpoint that's just limited to master components SGTM. Then we can argue about how /validate should work separately.

[2015-04-22 05:52] roberthbailey commented on #7092
Please don't change /validate until we have a chance to migrate GKE to use a new validation endpoint. I think it would be OK (even if it's more work on our end) to hit two endpoints instead of on as long as we can validate the master components and validate the nodes to ensure the cluster is properly functioning.

[2015-04-22 05:59] thockin commented on #260
I am not sure I understand the requirements here, anymore.

There is an inherent N-to-M relationship between services and pods, by the
design of the system.  Things like reverse DNS generally expect to get a
single response: given a pod's IP, get a canonical name.  Every doc written
about DNS says "don't return multiple reverse records".  Since a pod can be
in N services, this single response can

[2015-04-22 06:07] thockin commented on #598
I am not against some variant of data containers, but I don't really know
how people are using data containers.

Is the goal just to get a stable/recoverable host dir to write into?  Is
the goal to preload said dir with the contents of a docker container?
Something else?

On Tue, Apr 21, 2015 at 12:01 AM, pwFoo <notifications@github.com> wrote:

[2015-04-22 06:25] wojtek-t commented on #7111
/sub

[2015-04-22 06:35] nikhiljindal commented on #7087
ok Thanks for clarifying @madhuri-rai07.
The bug then is that the response status code should be 400 and not 500 when the input yaml is invalid.

[2015-04-22 06:37] madhuri-rai07 commented on #7087
Yes.
Thanks Nikhil.

[2015-04-22 06:42] thockin commented on #6979
@abonas

I'd like to flatten them, I think it would be a better API.  I don't know
how to do it with Go's JSON libs, short of unmarshalling into dumb
structures and then decoding by hand (and breaking autogenerated docs) or
doing semi-manual decoding (and breaking automated docs).

Embedding does not work:  http://play.golang.org/p/AWmxc9LYOF

Manual-assist decode is not too bad but, well, manuall

[2015-04-22 07:27] pwFoo commented on #598
Data containers are persistent and reboot save. After read some issues hostdir have some permission problems. Data containers could be a reboot save volume solution and simpler to move to another minion than hostdir data if needed (?)
So data containers could be a better way to handle volumes?

[2015-04-22 08:28] abonas commented on #6979
@thockin , I'm still looking at all the info you provided here (such a detailed comment - thanks!)
but from a design point of view (not only REST api or Go aspects, but "deeper") - I am wondering why each status has different properties to begin with?
The way I see it, a status should be a unified object with "code" (running/failed/etc.), reason, startedAt, endedAt (failed ones will have both star

[2015-04-22 09:13] madhuri-rai07 opened #7157 "service-create API failed with v1beta3 request format on Kubernetes 0.11.0 release"
When trying to create service with v1beta3 request format on Kubernetes 0.11.0 release, it failed with below error.

$ kubectl create -f v1beta3_service.yaml
F0422 09:10:55.645949   32648 create.go:83] Service "frontend" is invalid: spec.port: invalid value '0': must be greater than 0 and less than 65536

$ cat v1beta3_service.yaml
{
"kind":"Service",
"apiVersion":"v1beta3",
"metadata":{
"name":"f

[2015-04-22 11:34] hatchan opened #7159 "docs/authorization.md contains incorrect indenting"
`docs/authorization.md` contains incorrect indenting for the "Policy File Format" properties, which causes the markdown render it as a paragraph instead of a list.

Also the property `namespace` should be `ns` according to the example.

[2015-04-22 11:39] fgrzadkowski opened #7160 "Too much time spent in net.(*netFD).dial"
When evaluating results of #6877 I have noticed a very strange behavior of apiserver when running density tests on a 100 node cluster with 30 pods per node. It seems that sometimes we spent more than 40% of CPU time in net.(*netFD).dial function.

My suspicion is that it's because after each watch message we terminate old connection to etcd and create a new one. With multiple watchers and many upd

[2015-04-22 11:49] fgrzadkowski commented on #7160
![net_profile](https://cloud.githubusercontent.com/assets/10820726/7273675/6aecc626-e8f6-11e4-8c22-e1b463d32af8.png)

[2015-04-22 12:07] fgrzadkowski commented on #6564
After fixing #6518 situation improved but we still have high number (in terms of CPU usage) of lists. This happens in density test when replication controller creates new pods. I'm debugging what's the source (I don't think it's RC).

@wojtek-t

![list_profile](https://cloud.githubusercontent.com/assets/10820726/7273964/f537bb7c-e8f8-11e4-8b4e-faea2f8b60a2.png)

[2015-04-22 12:29] markturansky commented on #598
@thockin could you explain for me the difference difference between a data container and a persistent volume?  I'd like to understand this issue better.

[2015-04-22 13:12] rawlingsj commented on #6291
@smarterclayton sorry I missed your request for json / yaml.  I can put a test case together quickly and add a comment today.

[2015-04-22 14:10] ArtfulCoder commented on #7001
on GCE, I brought up a cluster. ApiServer came up with tag baddae80acfe8578ea00a9e16aef81b9

=========== Docker images on master after kube-up ===============
REPOSITORY                                         TAG                                IMAGE ID            CREATED             VIRTUAL SIZE
gcr.io/google_containers/kube-scheduler            9e3e6b30bf550ee3155b057bfb604222   69dbfc104b8f

[2015-04-22 14:18] fgrzadkowski opened #7162 "Slow list makes it impossible to start watching"
If a list operation takes long time it's impossible to start watching, because our resource versions is already out of etcd buffer.

I observed this in 100 node cluster with 3000 pods. As a result we kubelets were continuously sending pod lists, which are insanely expensive making apiserver even more overloaded. I observed many pod lists to take more than 30s:

I0422 14:08:01.783828       1 handle

[2015-04-22 14:19] fgrzadkowski commented on #7162
@wojtek-t @davidopp @lavalamp

[2015-04-22 14:20] pmorie commented on #6915
@thockin @erictune One thing I thought of as I went to implement this is that there are a couple approaches we could take depending on what we want.  If we want secret data to be updated on disk, we can diff the data and apply updates when there's a diff (or just write the resource version of the secret to disk and compare that), which is what I had described.  If we want the semantics to be 'one

[2015-04-22 14:21] rawlingsj commented on #6291
Ok so I've created a really basic example to hopefully demonstrate the issue.  The container will always fail, in the example it hard codes an error exit code to simulate something going wrong in a start script..

https://github.com/rawlingsj/kubernetes6291/blob/master/start.sh#L1

This is the replication controller config I'm using..

[code]

This results in the replication controller endlessly s

[2015-04-22 14:26] smarterclayton commented on #6291
We have limits and quota, they're just not turned on by default.  The kubelet should be delaying the failure of pods eventually.  I think the real point of this issue should be that the system should reduce the impact of perm-failed containers on the rest of the system (we've noticed this in real use, that a perm failing container starts to drain both Kubelet and Master resources due to the increa

[2015-04-22 14:36] pwFoo commented on #831
I have a single host / minion setup and need local persistent storage. Hostdir without permission fix isn't a solution, because the user inside the container haven't permissions to write to the volume.

[2015-04-22 14:39] wojtek-t commented on #7162
cc @xiang90
1. Has anyone ever measured the impact on memory (and possibly on performance) of increasing buffer side of etcd to 10000 in Kubernetes?

2. The whole #6800 effort should significantly help with it.

[2015-04-22 14:43] derekwaynecarr commented on #6291
So quota does not really help here if I understand the issue.  A pod whose restart policy is set to always is always counted against your quota even if its in a failed state because we know the kubelet will just restart it.  It's not like there are new pods being created in this scenario.  To the apiserver, its just the same pod getting restarted.  I think this topic is more an issue with the Kube

[2015-04-22 14:46] bgrant0607 commented on #6291
See also #2529

[2015-04-22 14:54] smarterclayton commented on #6291
Do we want to track the kubelet part of this issue (kubelet retries every 3 seconds FOREVER to restart perm failed pods) or the other?

[2015-04-22 15:06] smarterclayton commented on #1743
I believe /deployment/instantiate is the easy use case you're talking about if they want to redeploy without changing, or they would just edit the deployment to do a manual deploy.

----- Original Message -----

[2015-04-22 15:35] roberthbailey commented on #7159
/cc @erictune

[2015-04-22 16:32] smarterclayton commented on #598
I discussed this in another issue, but I'd prefer a GC'd directory identified by a unique value that anyone who knows could reuse.  Given proper uid support that content is protected by Unix rules and would satisfy the "I need a dir that is best effort reused per host across multiple pods", as a build cache or scratch dir.  But it would need time based GC after the last reference is allocated.

[2015-04-22 16:33] yujuhong commented on #6014
#7116 has been merged. It adds the container info in `kubectl get pods`

[2015-04-22 16:43] smarterclayton commented on #260
The goal was very concrete.  Real clustered systems have members that have an "identity" which is expected to be continuous in the presence of node failures.  That identity might be attached to a persistent disk or a "name", but the name the identify to other systems cant change.

Example, zookeeper has a per node identity. That identity must remain stable in cluster membership - there *could* be

[2015-04-22 16:48] ddysher opened #7173 "portforward unittest error"
[code]

I've seen this in two of my linux machines. @ncdc @akram

[2015-04-22 16:55] WIZARD-CXY commented on #6667
@sacashgit I am the author of this deployment approach.Sorry for the late. I learned this portal net configuration from the single-node ubuntu and it works fine in my lab.I will make it configurable.In fact I am working on it https://github.com/GoogleCloudPlatform/kubernetes/pull/5498#issuecomment-95256604.Once this pr is merged you can configure it as you want

[2015-04-22 17:03] ddysher commented on #6073
Closed by  #6702

[2015-04-22 17:03] #6073 closed

[2015-04-22 17:06] ncdc commented on #7173
@ddysher what OS? Is ipv6 disabled?

[2015-04-22 17:07] bgrant0607 commented on #260
Some kind of controller could dynamically set/unset some field(s) on pods. It just can't be conflated with pod nor RC identity. Tying the network identity to pod or RC identities is totally broken.

I wouldn't try to make reverse DNS lookup work for ordinary or headless services, and I don't think it's unreasonable to impose a max of one nominal service per pod -- which doesn't have to limit other

[2015-04-22 17:12] smarterclayton commented on #260
----- Original Message -----

A lot of these services expect that the IP they have (their name) resolves to the IP they connect on - so if they connect to X on 172.1.1.1, then X thinks its 172.1.1.1.  That's not all software, but some of it.  Usually it's a DNS name though, which means IP can change underneath.

[2015-04-22 17:13] lavalamp commented on #7160
Does the etcd client not reuse HTTP connections? I thought the go http client did that by default?

[2015-04-22 17:14] ddysher commented on #7173
Both are ubuntu 64bit
[code]
[code]
Anything particular wrong here?

[2015-04-22 17:25] lavalamp commented on #7162
etcd's buffer size is hard-coded and not parameterizable IIRC, we'd need a new build.

But I think that's the wrong way to fix this. We have to get this number down. I think we can either cache/index, or we could also consider serving all outstanding pod list requests with the result of the etcd list. So a batching system where instead of doing an etcd list per request, we only allow one concurren

[2015-04-22 17:28] fabioy commented on #7157
Can you try it with the "--api-version=v1beta3" flag? Also, even though the file extension is .yaml, you meant it to be JSON, right?

[2015-04-22 17:28] lavalamp commented on #7160
Actually looking at that chart I see it stuck in write, not dial-- am I blind?

[2015-04-22 17:36] xiang90 commented on #7160
@lavalamp I think it is write... The number on dail is confusing though...

[2015-04-22 17:57] xiang90 commented on #7162
@lavalamp

In the future, etcd needs to solve this problem completely. We will keep entire history until a user-driven compaction. We are actively working on it.

But in the current design, increasing the 1000 limitation is not helpful. (You can image that someone wants to have 100k soon. The memory overhead and snapshot pausing is huge right now, it can easily kill today's backend).

@wojtek-t If

[2015-04-22 17:57] fabioy opened #7179 "Update the Meteor example to use v1beta3 API"
PR #7161 added a Meteor example, but using v1beta1. This should be updated to v1beta3.

[2015-04-22 18:02] bgrant0607 commented on #7152
Could you please post your yaml somewhere? I had no trouble starting the walkthrough, whose files are in yaml.

[2015-04-22 18:10] ncdc commented on #7173
@ddysher not sure - I was looking at `listen tcp6: no suitable address found`

@akram please have a look at this

[2015-04-22 18:11] mattf opened #7181 "api_servers, master and server"
there are 3 ways to provide connectivity to the kubernetes api service.
- --master=string :: used by the proxy, scheduler, controller-manager
- --api_servers=list :: used by the kubelet
- --server=string :: used by the kubectl cli

there are two inconsistencies here,
1. the way to pass the information in varies across services and cli
2. the semantics are different (string - the contact, list - a

[2015-04-22 18:11] jeffmendoza commented on #7179
@fabioy Thanks!

[2015-04-22 18:13] ncdc commented on #7173
@ddysher can you paste the contents of /etc/hosts?

[2015-04-22 18:13] nikhiljindal commented on #7157
This works fine on head. 0.11 does not fully support v1beta3.
Its supported after v0.15+

[2015-04-22 18:13] #7157 closed

[2015-04-22 18:14] ncdc commented on #7173
When I comment out this line in my /etc/hosts, the test fails as above:

[code]

[2015-04-22 18:17] ncdc commented on #7173
I wonder if `"localhost"` used here (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/portforward/portforward.go#L189) should be 127.0.0.1 instead? Will that always work on ipv4 and ipv6, or would there ever be issues?

I know @akram put in the most recent changes because `localhost` was resolving to `::1` instead of `127.0.0.1` for him, and I previously wasn't using `net.S

[2015-04-22 18:22] fabioy commented on #7125
PR #7147 should have fixed this with a different regex. Closing the bug.

[2015-04-22 18:22] #7125 closed

[2015-04-22 18:55] ArtfulCoder opened #7184 "Working without flannel in an cluster where a node don't have a cidr range"
FAO @thockin @dchen1107 @brendanburns

**Problem definition**
In some cloud infrastructures (not GCE), a machine is not assigned a cidr range. It is only given an ip per interface to work with. In such situations, the docker containers cannot share the same network space as the nodes themselves.
Kubernetes users on such cloud providers end up using a third-party overlay network software like flann

[2015-04-22 18:57] relaxdiego commented on #7152
@bgrant0607 They're at https://github.com/relaxdiego/kubersample/tree/master/manifests/v1

[2015-04-22 19:17] roberthbailey commented on #7181
I've been wanting to change the kubelet to use --master so I'd be thrilled if you did it for me. :)

[2015-04-22 19:18] relaxdiego commented on #7152
It looks like *.yaml works but not *.yml.

[2015-04-22 19:28] lavalamp commented on #7162
@xiang90 Yeah, that's what I thought, thanks for confirming.

@fgrzadkowski I thought of another way to possibly ameliorate this. What if we made a type that just unmarshalled the labels. Then a list would only need to fully unmarshall and convert only the desired objects. Since conversion is probably the majority of the time and each of these lists is actually only interested in a few objects, th

[2015-04-22 19:33] timothysc commented on #6707
@jayunit100 merged so you can close this one.

[2015-04-22 19:48] bgrant0607 commented on #7181
Consistency would be great.

Keep in mind:
1. The "master" is generally what we call the full collection of cluster-level control-plane components.
2. We're going to replicate apiserver for HA in the very near future.
3. We've previously discussed using dashes in all flags rather than underscores, but right now this is totally inconsistent. It would be better to avoid that issue entire.
4. We can'

[2015-04-22 19:49] bgrant0607 commented on #7181
See also #2967

[2015-04-22 19:49] ddysher commented on #7173
[code]

Problem solved adding `::1         localhost localhost.localdomain localhost6 localhost6.localdomain6`.
Should we close the issue or keep finding a better solution, like mocking in the unittest?

[2015-04-22 19:51] ncdc commented on #7173
I would prefer to find something that is deterministic. If localhost
sometimes resolves to 127.0.0.1 and sometimes to ::1, could we just switch
it to 127.0.0.1 and avoid this issue altogether? Or is it ever possible
that 127.0.0.1 gets resolved to ::1?

On Wed, Apr 22, 2015 at 3:49 PM Deyuan Deng <notifications@github.com>
wrote:

[2015-04-22 19:56] akram commented on #7173
Hi,

other guys in team saw this a few hours ago, after investigation, here
is the cause:

On some linux systems, ::1 does not resolve to localhost but to
localhost6 or
ip6-localhost. This test needs to be refactored to do a reverse name
lookup to be portable

         // names, err := net.LookupAddr("[::1]")
         /*{
             Hostname:                "localhost",
             Protocol:

[2015-04-22 20:23] bakins commented on #7184
FWIW, flannel can utilize in-kernel VXLAN which should have better performance.

[2015-04-22 20:24] ddysher commented on #7085
part of it is leftover from my previous pr.  I'll do a quick clean up.

[2015-04-22 20:32] akram commented on #7173
#7187 fixes this issue
One of the test cases fails on machine were ::1 does not resolve to localhost.
This seems to be the case for some linux distribution where ::1 resolves to localhost6 or ip6-localhost.

To workaround this, a reverse lookup on ::1 is performed, and the binding to the first name found is done.
If no name is found during resolution, the test case is skipped.

[2015-04-22 20:34] ncdc commented on #7173
@akram I'd rather avoid resolving "localhost" if we can use 127.0.0.1
instead. Then all if the IPv4 vs IPv6 problems should go away, in theory.

On Wed, Apr 22, 2015 at 4:33 PM Akram Ben Aissi <notifications@github.com>
wrote:

[2015-04-22 20:45] quinton-hoole opened #7190 "Remove ChooseHostInterfaceNativeGo()"
Follow-on from #5497.  See detailed requirements and rationale there.

[2015-04-22 20:48] cjcullen commented on #7081
For pods getting root certs, I think container image root certs (instead of Node OS certs) makes sense in the general case. Then if you want to build a container image from scratch, you can build the CA cert you need into your image or mount it in a "root CAs" RO volume for your whole cluster.

For the kube-master cert, we could add the self-signing CA's cert as a secret to the cluster at the end

[2015-04-22 20:50] akram commented on #7173
There is a trick: the listener creation done [1] in portforward.go
explicitely bind on "localhost" with a "tcp" parameter.
Which means: bind to localhost with the IP address that resolves first
to it.

This is in fact, what this test cases tests.

We could fix the test case, but fixing the code requires touching
portforward.go and that may have more impacts.

[1]
https://github.com/GoogleCloudPlat

[2015-04-22 20:59] ncdc commented on #7173
I am looking for a solution in portforward.go that avoids name resolution, is deterministic, and works for IPv4 and IPv6.

[2015-04-22 21:08] smarterclayton commented on #7162
Also we are *forcing* lists every 5 minutes right now, where we probably don't want to.

[2015-04-22 21:12] derekwaynecarr commented on #7162
Are we locked to keeping NodeCondition.LastHeartbeatTime in etcd?  Could we keep that in a separate in-memory cache, and only update NodeCondition.Status in etcd if the node's status actually changed?  Would that keep writes down?

[2015-04-22 21:13] lavalamp commented on #7111
I agree with the problem statement.

One quibble, I think we want the client to by default unmarshall into a versioned type, otherwise it's difficult for non-kubernetes components to write code that stays working for more than a day. Apiserver/scheduler etc still need to work with our unversioned objects. This is already possible today--since we support DecodeInto--but we don't take advantage of i

[2015-04-22 21:14] smarterclayton commented on #7111
Agreed - I will clarify.

----- Original Message -----

[2015-04-22 21:14] timothysc commented on #6559
@ghodss I'm a solid +1 on this and will dig further into the issue.

@xiang90 sorry for the lag, priority inversion.  I'll take a look either this evening or tomorrow a.m.

[2015-04-22 21:19] timothysc commented on #3139
@jayunit100  We still need to hook soak-tests through e2e and report out similar to your graph in petstore.

[2015-04-22 21:27] bprashanth commented on #7162
Why not just setup reflectors in the apiserver for all pods/nodes and serve from this? I relize this is very similar to the index discussed, but feels easier to just plug in.
fyi https://github.com/GoogleCloudPlatform/kubernetes/issues/6770

[2015-04-22 22:14] #7006 closed

[2015-04-22 22:19] cjcullen commented on #5921
#7154 updated skydns/kube2sky to use port 6443 w/ the token-system-dns.

I'm taking a look at fluentd/elasticsearch now.

[2015-04-22 22:31] satnam6502 opened #7196 "Kibana dashboard broken since basic auth turned off and won't work with proxy"
I turned up a cluster and did

[code]

and then I tried to visit http://localhost:8001/api/v1beta1/proxy/services/kibana-logging/ but I got a broken window which fails in the same way as when the trailing slash is missing from the URL. So right now Kibana access is logs is broken.

@roberthbailey

[2015-04-22 22:33] satnam6502 commented on #7196
Grafana UI is also broken in a similar way.

[2015-04-22 22:35] bgrant0607 commented on #1624
Minimal version:
* Use ReplicationController as starting point
* RestartOnFailure only
* user specifies desired number completed successfully
* persistently track successful completions in annotation (at least for now), which is reflected in status

cc @davidopp

[2015-04-22 22:36] cjcullen commented on #5921
It looks like fluentd/elasticsearch doesn't actually use kubernetes-ro. Am I missing something?

[2015-04-22 22:40] #7085 closed

[2015-04-22 22:45] roberthbailey commented on #5329
If you update to today's gcloud release there's a new command line flag that allows you to pick a CIDR when creating a GKE cluster.

[2015-04-22 22:45] #5329 closed

[2015-04-22 23:02] derekwaynecarr commented on #1624
Do you view a scheduled time to run as something above a JobController?  For example, if I want to run scheduled jobs every day/month/year, is that something different than this JobController and another layer?  We have been discussing this on our side and wanted your take based on your experience.

Sent from my iPhone

[2015-04-22 23:13] bgrant0607 commented on #7087
Specifically, the server should return 422 (StatusUnprocessableEntity), via NewInvalid:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/errors/errors.go#L162

However, this error is being generated by the client, not by the server. kubectl currently decodes API objects, which it shouldn't but that's another issue #3955.

[2015-04-22 23:14] roberthbailey commented on #7196
/cc @cjcullen

[2015-04-22 23:17] bgrant0607 commented on #7190
Priority? Team? Milestone?

[2015-04-22 23:17] bgrant0607 commented on #7196
Team? Milestone?

[2015-04-22 23:19] bgrant0607 commented on #7179
Part of #6584. cc @nikhiljindal

[2015-04-22 23:21] a-robinson opened #7199 "OpenStack's CreateExternalLoadBalancer implementation returning errors"
Reported by @tonanhngo via IRC. Apparently @tonanhngo's attempts to create an external load balancer by setting "createExternalLoadBalancer: true" in a service config are failing with errors from his OpenStack Neutron load balancer complaining that the value lb_method cannot be empty, but must be one of the value ['ROUND_ROBIN', 'LEAST_CONNECTIONS', 'SOURCE_IP']

@anguslees do you think you could

[2015-04-22 23:25] quinton-hoole commented on #7190
Guilty as changed - fixed.  Not a v1.0 blocker.

[2015-04-22 23:33] satnam6502 commented on #7196
Visiting the v1beta3 URL http://localhost:8001/api/v1beta3/proxy/namespaces/default/services/kibana-logging I got a bit further but this still fails because in the browser Kibana wants to connect to the service proxy running at the master.

[2015-04-22 23:43] bgrant0607 commented on #1624
Yes, I view scheduled/periodic jobs as a separate controller -- #2156.  I might consider putting deadline scheduling into this controller.

[2015-04-23 00:16] bgrant0607 commented on #7152
Looks like an easy fix if you'd like to submit a PR:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/resource/builder.go#L150

[2015-04-23 00:16] dchen1107 opened #7201 "Have PullImage / HasImage API in ContainerRuntime API"
cc/ @vmarmol @yifan-gu

[2015-04-23 00:17] dchen1107 opened #7202 "Get Kubelet Container Logs support in Rocket"
cc/ @vmarmol @yifan-gu

[2015-04-23 00:18] thockin commented on #7184
What is "." ?  The node2 IP?  what port?

Dynamically or statically?  What is the rule that triggers this NAT?

If I understand correctly, you're proposing another form of host ports, but I am missing a lot of teh details.

[2015-04-23 00:20] vmarmol opened #7203 "Support OCI images in API"
Today the API assumes Docker images, but we'd like to be able to support other images in the future. This issue specifically targets the [ACI](https://github.com/appc/spec/blob/master/SPEC.md#app-container-image) standard (which is used by [Rkt](https://github.com/coreos/rkt))

Arguably having the flexibility to have a different image type in the API is for v1.0, although actually supporting a dif

[2015-04-23 00:29] dchen1107 opened #7204 "Add GetFullContainerName to ContainerRuntime API"
This is required for cAdvisor and monitoring to map cgroup stats to Pod and container. We don't need this in the future version once we have pod_level resource management. But today we don't have it.

cc/ @vmarmol @yifan-gu

[2015-04-23 00:31] dchen1107 opened #7205 "Figure out a way to run e2e tests against Rocket"
Rocket folks already have e2e run on AWS. We need to have similar setup to run on GCE. cc/ @yifan-gu Please cc this one to Brian (I dont have his github account)

[2015-04-23 00:41] ArtfulCoder commented on #7184
never mind.. service ports are reused across service ips.

[2015-04-23 00:59] yifan-gu commented on #7205
/cc @bakins

[2015-04-23 01:01] jayunit100 commented on #6707
yup closing !

[2015-04-23 01:01] #6707 closed

[2015-04-23 02:12] derekwaynecarr commented on #1624
I am interested in making a proposal and implementation soon that would let me set a max runtime duration (In seconds) for a container in a RunOnce pod that would be enforced by the Kubelet.  If pod was not done it would be killed and marked failed.  I want to make sure that that is distinct from what you referred to as deadline scheduling.  We need this concept to time box certain activities in n

[2015-04-23 02:14] derekwaynecarr commented on #1624
Sent last note too quickly but soon meant < 2 weeks out.

Sent from my iPhone

[2015-04-23 02:23] bgrant0607 commented on #1624
@derekwaynecarr Yes, that's fine. It would be a field on the pod.

[2015-04-23 03:09] davidopp commented on #1624
@bprashanth This is the issue I was talking to you about earlier. See @bgrant0607 's earlier comment here: https://github.com/GoogleCloudPlatform/kubernetes/issues/1624#issuecomment-95357364

To flesh out what he said just a little more (based on discussion with him earlier), the idea is that the JobController runs some number of pods to completion. Kubelet is responsible for restarting failed pod

[2015-04-23 03:16] justinsb commented on #7036
Looks like brendan answered most of your questions (thanks brendan!)  If there are any remaining, feel free to re-ask them!

I've mostly been working on a configuration for AWS that uses Ubuntu as the host OS, and it doesn't use flannel.  I think theoretically you could swap out Ubuntu for CoreOS there, but in practice the current CoreOS configuration is based around flannel AFAIK.  I expect we wi

[2015-04-23 03:38] bgrant0607 commented on #7111
I agree we need to support a mix of multiple api prefixes and versions.

We should consider moving generic objects like List and Status to their own api prefix and version.

I agree that we should decouple encoding and schema.

Currently our only conversions between versioned structs must transition through the internal representation. I don't want to support O(n^2) conversions, so that seems like

[2015-04-23 03:42] bgrant0607 commented on #1624
And we should call it Job, not JobController.

[2015-04-23 03:42] smarterclayton commented on #7111
So to tie that in here - we lack the ability today to detect the object schema version of an object (what fields are available on this particular v1 object).  Assuming we wish to expose new properties into v1 over its lifetime, we'll need to take that into account as well, so that newer clients (1.2, 1.3) when talking to servers on 1.0 through v1 are not exposing themselves to flawed assumptions (

[2015-04-23 03:48] davidopp commented on #1624
Definitely!

[2015-04-23 04:04] roberthbailey commented on #7081
From what I understand, there's currently a service available for this. Can you explain the shortcomings of the current implementation?

I don't think this relates to discovering the master or connecting securely, and shouldn't be dictated by the system. There are many ways that folks can configure their trusted root CAs in their pods, and we should allow them to do it in the way that works best f

[2015-04-23 04:33] thockin commented on #7203
We have to decide whether the API should reflect the choice of runtime at
all.  Ideally the API is agnostic to all that.  Container image is just a
string that we pass down.  I'm not sure we can do that, though.  I really
dislike the idea of the end user having to change their behavior based on
the admin's choice of runtime.

It's a kubernetic ideal that the dame pod spec should run on a docker
cl

[2015-04-23 04:42] bgrant0607 commented on #7111
Server capabilities -- #2953. A version-specific renderer or generator could pull the swagger and check for the presence of the field(s) needed.

[2015-04-23 04:54] thockin commented on #260
I'm afraid this is all still a bit abstract for me.

expected to be continuous in the presence of node failures. That identity
might be attached to a persistent disk or a "name", but the name the
identify to other systems cant change.

This is not a requirement.  It's so vague as to be unimplementable.

stable in cluster membership

What is an identity?  An IP address?  A string flag passed to the

[2015-04-23 05:03] bgrant0607 commented on #7203
Other example runtimes / formats:
* Fabric8 Java
* LXC + some image format (targz?)
* Google internal
* Non-Linux platforms: BSD, Solaris, Windows, ...

Eventually we'll need some kind of plugin API in the pod spec.

Ideally, when running in a cloud, the system would eventually be able to instantiate VMs capable of running whatever image/spec was provided, as necessary.

I agree that differences i

[2015-04-23 05:07] thockin commented on #7203
By way of example, I would be very against a solution that required

`image: nginx`

on docker runtimes but required

`image: docker://nginx`

 on rkt

On Wed, Apr 22, 2015 at 10:03 PM, Brian Grant <notifications@github.com>
wrote:

[2015-04-23 05:18] bgrant0607 commented on #7203
Agree, though requiring a prefix for all images would be a breaking change. We could do that in v1 and add a format field in the older APIs.

However, with respect to images, there are multiple issues:
* name/address format
* data format
* image identity, both mutable (tags) and immutable (content-based id)
* location to fetch from

I haven't had time to think about which we want to explicitly rep

[2015-04-23 05:19] davidopp commented on #4874
/subscribe

[2015-04-23 05:55] satnam6502 commented on #4874
If this is something that needs attention soon thenI am happy to direct some energy in this direction, although that may not please Tim since I am supposed to be learning about networking.

[2015-04-23 06:15] wojtek-t commented on #7162
But in the current design, increasing the 1000 limitation is not helpful. (You can image that someone wants to have 100k soon. The memory overhead and snapshot pausing is huge right now, it can easily kill today's backend).

If the overhead is huge now (that's unfortunately what I expected), I think we shouldn't do it (at least for now). I agree with others that we have different ways to go.

[2015-04-23 06:38] davidopp commented on #3954
I'm going to re-title this issue as suggested by @wojtek-t earlier.

[2015-04-23 06:40] davidopp commented on #3952
Maybe we should move the discussion to #3954 and close this issue so we don't have so many floating around?

[2015-04-23 06:48] bgrant0607 commented on #260
Most of the [multi-port examples](https://github.com/GoogleCloudPlatform/kubernetes/issues/2585#issuecomment-71764324) are clustered systems. For example:
[ZK](http://zookeeper.apache.org/doc/r3.4.3/zookeeperAdmin.html#sc_zkMulitServerSetup): resolvable hostname or IP address in a config file, plus an "id" (i.e., an index: 1, 2, 3, ...) in a file

We should also look through some DBs.

Whatever we

[2015-04-23 06:59] ArtfulCoder commented on #7184
@thockin
I re-opened the issue and updated my first comment to outline a new proposal.
Please check it out.

[2015-04-23 07:08] jiaweizhou opened #7214 "patch service error 415"
Hi, when I patch my service using url /api/v1beta3/namespaces/developmentwangzhe/services/frontend    with body {"apiVersion":"v1beta2"} to change the apiVersion,but the response is
"415: Unsupported Media Type".
Anyone can give me some advise,thank you!

[2015-04-23 07:21] nikhiljindal commented on #6153
https://github.com/GoogleCloudPlatform/kubernetes/issues/4347 is fixed now. This is what we return:
[code]

[2015-04-23 07:28] wojtek-t opened #7216 "Performance tests on Jenkins are failing after #6638"
After #6638 performance tests are failing. Two example failures:

/go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/test/e2e/density.go:323
event:' &{{ } {my-hostname-density3000-00320825-e94d-11e4-899e-42010af015s10vx.13d77c120229a7c3  e2e-density3000-00320825-e94d-11e4-899e-42010af01555 /api/v1beta3/namespaces/e2e-density3000-00

[2015-04-23 07:36] wangzhezhe opened #7217 "v1beta3 namespace API error"
Hi , when I use remote API to create the namespaces , the config file like this:
{
  "apiVersion":"v1beta3",
  "kind": "Namespace",
  "metadata": {
    "name": "development"
  },
  "spec": {},
  "labels": {
    "name": "development"
  }
}

than in the master node , I use the kubectl get namespaces , the labels of devwangzhe is none , Is it some problems in v1beta3 remote API , what's the usage of

[2015-04-23 07:48] fgrzadkowski commented on #7160
@lavalamp There is a small, but very heavy branch on the left of the chart with "dial" path".

[2015-04-23 08:03] abonas commented on #6153
@nikhiljindal , the above error message is still not clear enough in regards to the fact that user needs to understand that a namespace should be specified. it's not that the resource doesn't exist at all, it just needs to be retrieved via the namespace.p ls see my initial comment in this issue above
https://github.com/GoogleCloudPlatform/kubernetes/issues/6153#issue-65174022

[2015-04-23 08:43] MCyprien opened #7218 "libvirt-coreos kube-addon.service failed"
Hi,
I am using Kubernetes 15.0 with kvm. I followed the getting started guide for libvirt-coreos : https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/libvirt-coreos.md
But when I do kube-up.sh not a single node is added to Kubernetes:
[code]

When I ssh to the master I can see that kube-addons.service failed.
here is sytemctl status kube-addons.service :
[cod

[2015-04-23 09:51] dimafujitsu opened #7221 "broken master provision by ETune"
https://github.com/GoogleCloudPlatform/kubernetes/commit/7475efbcfb6a2effa00d70cd152240d96ec25f0c#commitcomment-10865088

[2015-04-23 10:10] tanmaybinaykiya opened #7222 "Pods being scheduled on shut down machines"
I am running my cluster on aws. The setups has a etcd cluster with 3 etcd nodes, 1 master and 4 minions.
I am running a simple hello-world  nodejs script using docker to test my application. For skydns i am using the steps mentioned [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/ebcc45b11c64d17b589c0592426646c7e977f3c6/cluster/addons/dns/README.md#how-do-i-configure-it])

I shutdown

[2015-04-23 10:17] lhuard1A commented on #7218
The error message you get looks like the issue reported in #6756
@MCyprien : Could you check if you have the same “502: (unhandled http status [Temporary Redirect] with body []) [0]” errors in the kube-apiserver with `journalctl -u kube-apiserver`

If so, could you check which version on etcd is running?
[code]

If you have etcd 0.4.9, that’s the reason of your problem.
Basically, CoreOS starts wi

[2015-04-23 10:25] wojtek-t commented on #7173
/subscribe
cc @jszczepkowski

[2015-04-23 10:36] wojtek-t commented on #7217
cc @nikhiljindal

[2015-04-23 11:01] rrati commented on #7216
I'm not sure what is causing the first error but that seems like an issue to me.  The 2nd is likely indicating a pod is killed when they are starting up.  Also a bad thing.  I added event checking to the density tests that looks for error fail or kill messages while pods are starting up.

[2015-04-23 11:45] MCyprien commented on #7218
thank you! that was the problem!

[2015-04-23 11:45] #7218 closed

[2015-04-23 13:20] timothysc commented on #6753
@fgrzadkowski do you have other options to compare against?

[2015-04-23 13:30] smarterclayton commented on #260
----- Original Message -----

I think that's wise, we should specifically devote time to solving a set of known examples.  We have 3 going on our side that we can leverage for concrete examples (MongoDB replica set, Zookeeper, Mysql Master/Slave) as well as the existing examples in kube/examples.  Perhaps a working session to hash out the items, set bounds on unsolvable problems, identify what's l

[2015-04-23 13:35] smarterclayton commented on #7111
That seems overly complex for 3rd party clients (i.e., no one will do it for small ruby client, but they still have the problem that their script breaks when it's run against an older server).  Is a simple schema version per object type (possibly returned with the request) or per version feasible?  This could be worked into conversion (everytime we regenerate the conversions, a number has to be in

[2015-04-23 14:01] timothysc commented on #6564
@rrati ^

[2015-04-23 14:20] erictune commented on #6514
@fgrzadkowski where does 160ns come from?
3000 pods per second is 333us per pod.  That doesn't sound reasonable at all.

[2015-04-23 14:28] bakins commented on #7205
Slight clarification: we are currently working on full e2e test runs on CoreOS with Docker on AWS. Close to completing this.  Should be straightforward to replicate this on GCE.

The goal is to run e2e tests on CoreOS on multiple cloud providers using both rkt and docker.

[2015-04-23 14:33] timothysc commented on #7162
@bprashanth if you served out of reflectors on the apiserver, what would happen if you we're running many api-servers, that would be a heck of a lot of updates.

[2015-04-23 14:35] timothysc commented on #7162
Doesn't this just boil down to write-through semantics, and hot-tracking/smart caching in etcd itself?

[2015-04-23 14:58] xiang90 commented on #7160
@fgrzadkowski But it shows `0.03s of 22.90s`. It does not show where is the other 22.87s.

[2015-04-23 15:00] timothysc commented on #6514
@fgrzadkowski do you still see this, post the Informer changes?

[2015-04-23 15:07] zmerlynn commented on #7196
To clarify, the problem here is just the UIs, right? The elasticsearch e2e seems to be fine.

[2015-04-23 15:08] vishh commented on #7196
Yes. Intra-cluster access via the apiserver proxy works AFAIK!

On Thu, Apr 23, 2015 at 8:07 AM, Zach Loafman <notifications@github.com>
wrote:

[2015-04-23 15:12] satnam6502 commented on #7196
Intra-cluster access  via the service proxy at the master does not seem to work for me even using v1beta3 i.e. Kibana can't access Elasticsearch and the clientside Jabascript fails to download files e.g.

GET https://130.211.123.231/api/v1beta3/proxy/namespaces/default/services/kibana-logging/app/panels/histogram/img/load_big.gif 404 (Not Found)

Using an extension to my browser I can register a b

[2015-04-23 15:21] satnam6502 commented on #7196
@zmerlynn this e2e works because Elasticsearch is accessed via the service proxy at the master and the e2e will be run with an authenticated client.

[2015-04-23 15:30] fgrzadkowski commented on #7162
I'm working on a simple cache (similar to #6678, but simpler) to see if it helps. I should have a working version tomorrow.

[2015-04-23 15:36] vmarmol commented on #7203
In the short term, ACI-based images do natively support Docker images so no changes would need to be made to express Docker images. For others we would have to identify and know where to schedule them. Initially it'd be an explicit choice on the user's part I imagine.

If we did have to schedule only on nodes that supported format X, parsing the image string is probably not the best way.

[2015-04-23 15:38] timothysc commented on #3954
@davidopp , @wojtek-t  - is that 5s to start 3000 pods?

[2015-04-23 16:02] wojtek-t commented on #3954
@timothysc definitely not - currently it's about 20 minutes to start those 3000 pods.
The goal is that when we have 3000 pods in a cluster, starting the next one takes <5s e2e.

[2015-04-23 16:04] timothysc commented on #3954
K ;-) , the title is confusing.

[2015-04-23 16:05] roberthbailey commented on #7221
@dimafujitsu Want to send a short PR to fix this? I think if you replace `local -r` with `declare -r` it should do the trick.

[2015-04-23 16:05] roberthbailey commented on #7221
/cc @erictune

[2015-04-23 16:13] timothysc commented on #7216
Perhaps we should just log for now, and address issues as they are unearthed.

[2015-04-23 16:20] wojtek-t commented on #7216
@timothysc - SGTM - I can prepare a PR for it tomorrow (if noone picks it up before).

[2015-04-23 16:34] roberthbailey commented on #7205
It would be great to get the e2e test runs automated and the results collected into a common dashboard. See #6605. @justinsb

[2015-04-23 16:42] erictune commented on #831
Kubernetes is optimized for the many-node use case.  Sometimes, as a consequence, things that seem like they should be easy in a single-node case may not be supported.

[2015-04-23 16:43] erictune commented on #6960
Fixed by #7141

[2015-04-23 16:47] roberthbailey commented on #7119
Fixed by #7144 and #7193.

[2015-04-23 16:47] #7119 closed

[2015-04-23 16:48] roberthbailey commented on #7120
Actually fixed by #7197.

[2015-04-23 16:48] roberthbailey commented on #6960
Ah, I didn't see this when I opened #7120. Closing as a dupe of that issue (which has the relevant PRs linked).

[2015-04-23 16:48] #6960 closed

[2015-04-23 16:51] dimafujitsu commented on #7221
it is https://github.com/GoogleCloudPlatform/kubernetes/pull/7220

[2015-04-23 16:53] bprashanth commented on #7216
Some suggestions:
1. I always find the logs of the scheduler/rcmanager etc more useful to debug something like this. How about we offload all of /var/log/kube* into a gs bucket tagged by build id at the end of every run? @quinton-hoole
2. It would be even more helpful if we could collect resource traces (do we already? I mean just something simple like running atop) Looking through some failures:

[2015-04-23 17:06] roberthbailey commented on #7196
We probably should, because that would have caught this problem before it was submitted.

[2015-04-23 17:17] piosz commented on #6804
@bgrant0607 do you want to have it for v1?

[2015-04-23 17:18] roberthbailey commented on #7139
Fixed by #7147.

[2015-04-23 17:18] #7139 closed

[2015-04-23 17:23] satnam6502 commented on #7196
How would we write such a test? I don't know of any API calls I can make to its web UI to check if it is working?

[2015-04-23 17:24] rrati commented on #7216
I'm not in favor of changing the error messages to be log messages.  We should be aiming for the tests to find issues and regressions.  If the test is failing then that is an indication it is doing its job and we need to fix the core issue.

@bprashanth DeleteRC exists because using the kubectl stop method wasn't (still isn't?) an api call and using kubectl functions wasn't feasible at the time.

[2015-04-23 17:25] satnam6502 commented on #7196
What we could do is to write a test which emulates the client side calls from a browser and checks that they work.

[2015-04-23 17:27] jayunit100 commented on #3139
- good idea. @satnam6502 has a scale test also but its not ginkgo-fied yet.  shall we start with that?
- https://github.com/GoogleCloudPlatform/kubernetes/issues/6183 this is the generic issue for adding examples (including workload generator) to e2es.

[2015-04-23 17:30] lavalamp commented on #7216
@rrati:

Expected

This is clearly a test error and not a system error.

[2015-04-23 17:32] rrati commented on #7216
@lavalamp Can you explain why?  Is this is acceptable, why are we generating an event saying there is a failure?

[2015-04-23 17:33] satnam6502 commented on #3139
I vote for your k8petstore generator. I want to resist the Ginkgo-ization of the soak test (and another one too called cauldron that I hope to unleash soon) because I really want them to run as regular binaries and not as part of a test framework. This is because these programs are not directly testing our *code* (as the unit, integration and e2e tests) -- instead they test properties of a *runnin

[2015-04-23 17:36] bprashanth commented on #7216
I feel like there's a way to address this without event parsing. We recently surfaced container restart'y scenarios in kubectl output (https://github.com/GoogleCloudPlatform/kubernetes/issues/6014).

[2015-04-23 17:37] lavalamp commented on #7216
@rrati: Scheduler attempted to double-bind that pod. The system is intended to detect and prevent that. This may indicate a subtle scheduler bug or it may indicate that distributed systems don't have perfect informational transfer. Either way, a single occurrence is not a big deal.

As for the second error, the current replication controller is just plain going to make this mistake occasionally; @

[2015-04-23 17:42] nikhiljindal commented on #7217
As per the API (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta3/types.go#L102) "labels" should be inside "metadata". The following works fine for me:

[code]

[2015-04-23 17:42] #7217 closed

[2015-04-23 17:43] bprashanth commented on #7216
IMO events are for human consumption and we'll keep hitting problems like this if we treat them otherwise. They might be the quickest way to get off the ground right now, in which case I'd do as lavalamp recommended and track the counts.

[2015-04-23 17:43] satnam6502 commented on #7196
After my PR #7123 Kibana logging now works.

[2015-04-23 17:43] #7196 closed

[2015-04-23 17:46] rrati commented on #7216
@bprashanth This was done before #6014 landed and that may be a better way to determine pod start failures.  If event parsing is as unreliable as it sounds due to acceptable failure events then it makes sense to look at an alternate means to detect issues like these.

@lavalamp Shouldn't the source of the error be investigated if its possible there is a scheduler bug?  It may be low priority and l

[2015-04-23 17:48] bprashanth commented on #7216
Just fyi I'm not saying the test is bad, I get that it was written to serve a purpose :)

[2015-04-23 17:52] rrati commented on #7216
@bprashanth Yep. :)  #6014 came about from issues running density which sparked the desire to look at events for pod start failures.  If we can get that kind of information w/o looking at events then I think that is a win in multiple ways.

[2015-04-23 17:54] roberthbailey commented on #7196
Awesome! Is there anything else that you've noticed stopped working after the removal of basic auth?

[2015-04-23 17:55] lavalamp commented on #7216
@rrati the system is self-healing. Distributed systems must be tolerant to different pieces of the system ending up with slightly different states of knowledge. If it happens say more than 10% of the time then maybe we should look into it. Barring that, it's got very low priority because it's just not that big of a deal. The total adverse effect on the system is that scheduler wasted 100ms sending

[2015-04-23 17:56] lavalamp commented on #7216
(Starting too many pods and killing some of them is a much more serious issue and I agree we should fix it, but we're already working on it with @bprashanth's rep. controller rewrite.)

[2015-04-23 17:59] lavalamp commented on #7162
@fgrzadkowski please tag me in your cache PR :)

[2015-04-23 18:07] lavalamp commented on #7162
The thing @bprashanth is talking about *might* be possible, but you'd have to take extremely great care to provide correct ResourceVersion values for the list. The value must have the property that if a client watches with that ResourceVersion, it is *guaranteed* not to miss any updates to any of the items in the list. Or another phrasing, when you return a list to a client, none of the objects ma

[2015-04-23 18:10] davidopp commented on #260
Suggest changing the name of this feature since it could also be used for batch jobs to assign a shard ID number.

[2015-04-23 18:13] bprashanth commented on #7222
The scheduler should filter out nodes that aren't ready

[2015-04-23 18:21] benmccann commented on #7036
Yeah, I think I got all my AWS-specific questions figured out. Thank you guys for the help!

[2015-04-23 18:21] #7036 closed

[2015-04-23 18:22] bgrant0607 commented on #260
Batch jobs have somewhat different requirements, so I'd like to keep that separate.

[2015-04-23 18:23] satnam6502 commented on #7196
Not yet. Let me update the documentation for logging etc. and prepare the
example for a logging blog post and I shall see if I come across anything.
Thanks to everyone for their help.

On Thu, Apr 23, 2015 at 10:55 AM, Robert Bailey <notifications@github.com>
wrote:

[2015-04-23 18:26] erictune commented on #147
On Mar 3, I asked if there would be quota at priority (high, middle, low).  @bgrant0607 said yes.

That would mean:
  - quota file has separate quantites for each  resource type at each priority.
  - ResourceQuotaSpec gets 3 ResourceLists: HardHi, HardMed, HardLow (names are just illustrative)
  - ResourceQuotaStatus has HardHi, HardMed, HardLow, UsedHi, UseMed, UsedLo
  - as each pod is handled b

[2015-04-23 18:26] erictune commented on #147
@derekwaynecarr fyi

[2015-04-23 18:30] rrati opened #7234 "Refactor RunRC and DeleteRC to be utility functions"
Move them into the util module as well.

[2015-04-23 18:31] erictune commented on #147
Evaluation:

Second option is easier to explain: it is simply summing existing fields of a pod.  Does not introduce priority concept.

Second option has fewer dimensions, and those dimensions map to real concepts (e.g. you might want the sum of HardGuaranteed quota to be less than or equal to the capacity of the cell (modulo bin packing  assumptions, etc).

[2015-04-23 18:32] nikhiljindal commented on #7152
Fixed by https://github.com/GoogleCloudPlatform/kubernetes/pull/7225

[2015-04-23 18:32] #7152 closed

[2015-04-23 18:34] erictune commented on #147
For the second scheme, request < limit is treated as request := limit

[2015-04-23 18:44] quinton-hoole opened #7236 "Persist CI e2e test cluster logs for debugging purposes"
We need to be able to diagnose e2e test failures after the relevant test cluster has been shut down.

Right now this almost works, but not quite.

Fluentd can currently only be configured to send log files to one place, for example:

1. Google Cloud Logging, or
2. ElasticSearch (running as a pod in the e2e test cluster, and saved to local disk on the node).

With the current configuration in hack/

[2015-04-23 18:46] satnam6502 commented on #7236
Originally it was possible to send logs to both Elasticsearch **and** Cloud Logging but at some point this got made into a binary choice of one or the other (by @jbeda or @zmerlynn ?). I propose to undo this unless there are strong objections.

@zmerlynn : what do you think?

[2015-04-23 18:48] zmerlynn commented on #7236
I didn't turn it into a binary choice. :)

On Thu, Apr 23, 2015 at 11:47 AM, Satnam Singh <notifications@github.com>
wrote:

[2015-04-23 18:50] satnam6502 commented on #7236
Yeah, pretty sure it was Joe. I am sure it was a wide decision at the time.

[2015-04-23 18:50] quinton-hoole commented on #7216
@bprashanth #7236 for fixing automatic e2e cluster log file uploads.

[2015-04-23 18:50] erictune opened #7237 "Phrase kubeconfig secrets in terms of master service."
Kubeconfig secrets currently state the host:port of the master.
They should instead use "https://kubernetes", and use the service DNS name.

There are a couple places where people need to override the kubeconfig value with a flag:
 - kube proxy has to use master VM IP, as is currently done, since service-ips are provided by kube-proxy
 - master components need to use master VM IP, until we have ku

[2015-04-23 18:51] erictune commented on #7237
@cjcullen we just figured this out.

[2015-04-23 19:11] quinton-hoole opened #7239 "Make PD e2e tests work nicely on a shared cluster, not commandeer nodes 1 and 2."
Details in #7191.

The reason this is P1/v1.0 is that it's a pre-requisite for running e2e tests in parallel on a shared cluster.

[2015-04-23 19:24] quinton-hoole commented on #3139
As discussed with satnam6502 in person, wrapping Ginkgo around the soak test and cauldron binaries is probably worthwhile to make it easier to run them in a standard CI environment. Provided that the binaries output some sort of analysis of the results, the Ginkgo wrapper could decide what constitutes a "pass" or "failure".   The benefit of running these automatically in a CI, is that the test bit

[2015-04-23 19:25] derekwaynecarr opened #7242 "Feature request: Ability to mark a replication controller inactive"
If you model deployments of an application as a sequence of replication controllers, often you want to keep the last set of replication controllers around for historical rollback of deployments.

For example, RC[n].replicas=5, RC[n-1].replicas=0, RC[n-2].replicas=0, etc.

If I want to rollback to n-2, ideally, you would size RC[n].replicas=0 and size up RC[n-2].replicas.  The issue is that when yo

[2015-04-23 19:32] quinton-hoole commented on #6605
Justin, this is a thing of beauty.  Please consider yourself strongly encouraged :-)

[2015-04-23 19:34] davidopp commented on #7214
Can you please give more details on how you set up your service initially (the YAML file and the command you ran) and what command you are running to patch the service? Thanks!

[2015-04-23 20:04] dchen1107 commented on #6014
Can we close this issue since #7116 is in already?

[2015-04-23 20:07] timothysc commented on #6014
@dchen1107 I'm ok for now, but later on we'll likely need history/accounting.

[2015-04-23 20:17] lavalamp commented on #6986
[code]

Should be:

[code]

nodeSelector goes inside desiredState, not at the same level. Please reopen if you have further problems!

[2015-04-23 20:17] #6986 closed

[2015-04-23 20:19] lavalamp commented on #6637
#6638 has been merged, and there's already an issue filed for followup actions, so I think we can close this.

[2015-04-23 20:19] #6637 closed

[2015-04-23 20:19] bgrant0607 commented on #7018
Deduplication of SecurityContext-related fields (#6287) in Pod. cc @erictune

[2015-04-23 20:23] lavalamp commented on #4330
I think the introduction of cache.Queue's AddIfNotPresent resolves the original concern.

Additionally, please see the pattern introduced in the new endpoints controller, and the queue it adds: #6943

[2015-04-23 20:23] #4330 closed

[2015-04-23 20:23] pmorie commented on #6915
Resolved by #7166

[2015-04-23 20:23] #6915 closed

[2015-04-23 20:25] yujuhong commented on #6014
@timothysc, could you clarify what kind of history/accounting that you'd need?

[2015-04-23 20:33] bakins commented on #7205
The extremely early CoreOS additions for e2e: https://github.com/bakins/kubernetes/tree/coreos/cluster/coreos-aws

No where near ready to open a PR.  Tests do not pass as some tests check for the "aws" provider and include/exclude tests based on that.  I know a few people are thinking about "hierarchal" providers and how to integrate with the tests.

[2015-04-23 20:36] quinton-hoole commented on #6753
@wojtek-t can we close this issue yet?  It seems that the basic "Create "scalability" test suite running continuously on Jenkins" is done?  Perhaps create more specific issues for the remaining improvements?

[2015-04-23 20:37] timothysc commented on #6014
@yujuhong At some point in the future ... doing an audit history of pod runtime will likely be need:

ran W, on host X, for Y secs, exited code (Z)
ran W, on host XX, for YY secs, exist code (ZZ)
...
per pod.

Usually this type of thing is offloaded into a history server of some kind.

History servers can then do all kinds of cool things, like mine run information for correct sizing etc.  i.e. - F

[2015-04-23 20:42] dchen1107 commented on #6014
@timothysc  in a long run, we should have infrastore-like system to store those history, so that the user can access those information offline. But I don't think kubectl get pods should manage such information.

[2015-04-23 20:42] quinton-hoole commented on #5670
@ixdy how is this progressing?

[2015-04-23 20:44] timothysc commented on #6014
@dchen1107 agreed, I'm just chiming in on the closing of *this ticket.

[2015-04-23 20:44] quinton-hoole commented on #6056
We haven't seen this error in several weeks.  Presumed fixed by etcd and watch improvements. Closing.

[2015-04-23 20:45] #6056 closed

[2015-04-23 20:46] dchen1107 commented on #6014
@timothysc thanks for chiming in. Also today you can have some history through events. Not perfect yet.

[2015-04-23 20:46] #6014 closed

[2015-04-23 20:51] quinton-hoole commented on #6181
@alex-mohr Do we still consider this to be a v1.0 blocker?

[2015-04-23 20:55] bgrant0607 commented on #6596
cc @satnam6502

[2015-04-23 20:56] erictune opened #7248 "During e2e kube-up, existing disks, firewall-rules and addresses cause failure."
If an e2e run is terminated by ctrl-c, closing laptop, etc, then resources may exist in a partial state.
This seems to happen to me a lot.

Some examples:

ERROR: (gcloud.compute.firewall-rules.create) Some requests did not succeed:
 - The resource 'projects/causal-jigsaw-637/global/firewalls/e2e-test-etune-master-https' already exists

ERROR: (gcloud.compute.addresses.create) Some requests did no

[2015-04-23 20:57] smarterclayton opened #7250 "Kubelet syncPod looks like it will start pods that have a 'Succeded' pod phase after a cold-start"
Kubelet#SyncPods skips pods that are api.PodFailed, but not pods that are api.PodSucceeded.  This means runOnce success pods get restarted.

Is my reading of the code (we have reports of this behavior) accurate?

[2015-04-23 21:04] satnam6502 commented on #6596
I am going to have a crack at this since I can't bear to look at:
[code]
and the code that writes out cluster level services (now v1beta3) gives the wrong output since it uses `selfLink`:
[code]
but what we need to use now is the v1beta3 addresses e.g. `https://104.154.78.159/api/v1beta3/proxy/namespaces/default/services/kibana-logging/`

[2015-04-23 21:06] quinton-hoole commented on #7248
Thanks for filing. We could probably improve this, but not for v1.0.
Until improved, avoid interrupting e2e tests, and/or manually delete the cruft that they leave behind when interrupted.

[2015-04-23 21:12] erictune commented on #7237
Plan to run kube-proxy on master #7118 was cancelled, so all master component pods will need to use service-IP instead or service-DNS-name

[2015-04-23 21:13] slawosz opened #7252 "Are dockerfiles used in docker tutorial available?"
I would like to see source of `gcr.io/google_containers/hyperkube` Dockerfile. It is used here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/docker.md
cc @brendandburns

Thanks

[2015-04-23 21:16] dchen1107 commented on #7250
@ArtfulCoder Could you please take a look at this?

[2015-04-23 21:18] erictune commented on #5917
been working on this for last few days.  just hitting one stumbling block after another with salt and startup scripts.

[2015-04-23 21:22] a-robinson commented on #7252
Thanks for the interest in Kubernetes! The Dockerfile for hyperkube (standalone, single-machine kubernetes) is located [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/images/hyperkube/Dockerfile).

[2015-04-23 21:22] #7252 closed

[2015-04-23 21:26] pmorie commented on #6596
Go for it @satnam6502

On Thu, Apr 23, 2015 at 5:05 PM, Satnam Singh <notifications@github.com>
wrote:

[2015-04-23 21:30] cjcullen commented on #7237
They'll have to use the actual IP if they don't have kube-proxy, no?

[2015-04-23 21:37] erictune commented on #5921
I can't find fluend/elasticsearch either now.

[2015-04-23 21:38] slawosz commented on #7252
Perfect, thanks a lot for so fast response!

[2015-04-23 21:38] erictune commented on #5921
@vishh  changed heapster to support kubernetes_auth files.  https://github.com/GoogleCloudPlatform/heapster/pull/232/files
But then I settled on kubeconfig format instead.
So, heapster needs to change again.

[2015-04-23 21:42] mbforbes opened #7256 "Node upgrades: tests for path 1 (in-place binary upgrades)"
**This issue is to plan (and track) tests for path 1: in-place upgrades of the kubelet and kube-proxy.**

See
- #6079 as the roll-up for node upgrades
- #6099 for info about path 1: in-place upgrades of the kubelet and kube-proxy

Once these are implemented, we can see about generalizing or reusing them to also test path 2, the "kill nodes, provision new ones" "heavy-hammer" approach.

## 1. e2e t

[2015-04-23 21:44] mbforbes commented on #7256
I'd love feedback from the test czars about this; I wish there was more I could do e2e-wise.

+ @ixdy @quinton-hoole @zmerlynn @roberthbailey

[2015-04-23 21:45] bgrant0607 opened #7257 "Document best practices for Kubernetes users"
We should document best practices for using Kubernetes, especially within the context of creating new examples (#4926), so that reviewers can check for the issues. This is a successor to #1603.

Off the top of my head:
* Use the latest stable API version (currently v1)
* Use YAML rather than JSON (more user friendly for config)
* Group related objects together in a single file. This currently requ

[2015-04-23 21:45] erictune commented on #7248
Sometimes waiting for the test cleanup by itself can hang for an hour or more.    So, not pressing ctrl-c is a poor option.

[2015-04-23 21:57] erictune commented on #4567
thinking about this more, this is needed for v1.

[2015-04-23 22:06] brendandburns commented on #6147
@dchen1107 Any updates on this?  Is this obsolete?

[2015-04-23 22:07] erictune commented on #7257
Step 1: put above text into examples/README.md

[2015-04-23 22:08] brendandburns commented on #4825
We need a way for a Pod to look up itself.  We could automatically mount in a special file with the ID of the pod (probably not a bad idea, long term)

However, this is definitely _not_ a v1.0 blocker.  Punting to P2 and out of the v1 milestone.

[2015-04-23 22:11] bgrant0607 commented on #4825
Hostname is totally the wrong way for pods to look themselves up, and it's not even sufficient -- namespace is required, for instance. That problem is being solved by the downward API -- see PR #6739 for the first cut.

[2015-04-23 22:13] erictune commented on #7237
Oh, right.  Hmm.
Maybe it is better to just omit the server entirely from the kubeconfig, and expect each user of the secret to find the master the best way it knows how (service-dns, service-ip-from-env, or vm-ip-from-salt)

[2015-04-23 22:13] bgrant0607 commented on #7257
@erictune Yes, that's my plan. Plan to create a PR when I get a chance.

[2015-04-23 22:14] quinton-hoole commented on #7256
Thanks Max.  Let me read through all of the background on cluster upgrades before commenting on the test-specific aspects.

[2015-04-23 22:16] yujuhong commented on #7250
@smarterclayton, the [code you saw](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1504) was to filter out rejected pods only (the ones could not be run due to problems such as host port conflict, etc). The rejected pods were set to `api.PodFailed earlier` in the code. It has the unintentional side effect that prevents kubelet from syncing the already failed

[2015-04-23 22:20] bgrant0607 commented on #6596
@satnam6502 Does curl give you the same output?

[2015-04-23 22:21] #6999 closed

[2015-04-23 22:21] quinton-hoole commented on #7248
Oh dear.  Jenkins e2e tests run to completion in about 20 min.  Are you seeing longer than that?
But yes, agreed, if you're trying to run all of the e2e tests, but decide to terminate part way through, then manual cleanup is probably the best approach (a few minutes of clicking around in the gcloud UI, or I wrote a little bash script to do it for me).  If you're finding it significantly more arduo

[2015-04-23 22:24] caesarxuchao opened #7260 "selflink is not updated to v1beta3"
After setting up the cluster according to the instructions in [examples/cassandra](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/cassandra), when running
[code]
In the response, the selflink is
[code]
which is the v1beta1 format.

[2015-04-23 22:24] satnam6502 commented on #6596
Once I can create a cluster again I shall tell you :-)

[2015-04-23 22:30] thockin commented on #4825
What does "look itself up" mean?  We could make reverse DNS work, but I am
unconvinced it is what people actually want.

On Thu, Apr 23, 2015 at 3:11 PM, Brian Grant <notifications@github.com>
wrote:

[2015-04-23 22:39] smarterclayton commented on #7250
Ok, just want to verify because on our ~2 week old fork we are seeing terminated pods in Succeeded be restarted on reboot.  I have not yet tested against master but will do so.  Feel free to close this issue and I will reopen if we can get a recreation.

[2015-04-23 22:42] smarterclayton commented on #7257
Add comments directly inline with JSON about important points in that single file.  We actually support multi-object json AND yaml (doesn't have to be on a list) from kubect -f

[2015-04-23 22:48] alex-mohr commented on #6181
I think we need some process post-v1.0 to make sure our officially supported set of getting started guides continues to work -- bad docs in getting started is one of the worst product experiences.  Perhaps we do that by significantly pruning our set of docs?  But how much do we care if e.g. our AWS getting started guide stops working?  That'd be sad.

[2015-04-23 22:54] vishh commented on #5921
@etune: [Here](https://github.com/GoogleCloudPlatform/heapster/blob/master/sources/kube_factory.go#L73) is the heapster logic that I was hoping would handle secrets.

[2015-04-23 22:56] #7199 closed

[2015-04-23 23:01] bgrant0607 commented on #7257
@smarterclayton How would one put comments into JSON?

Yes, -f supports multiple objects without List -- that's the next bullet. YAML requires List for multiple objects in the same file, because the yaml-to-json converter doesn't yet support the document separator (`---`).

[2015-04-23 23:04] quinton-hoole opened #7264 "Kubernetes OSS oncall should be "paged" when CI build or e2e tests break"
This needs to happen during the common merge window (7:00 am Monday to 5:00 pm (17:00h) Friday, Pacific Time).

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/devel/collab.md

It is much easier to locate the merged PR causing the breakage if it is tracked down very soon after the merge.

[2015-04-23 23:05] lavalamp commented on #6480
I dug into this... it's more broken than I thought it was, so I've made a fix in #7263.

Once my fix goes in,
1. Watching a single object acts as if you didn't pass a name: this will be fixed directly (at least for the resource types I checked).
2. To get an appropriate resource version, you will have to LIST with a fieldselector ("?fields=name%3Dfoo" or some such-- don't recall exact syntax) inst

[2015-04-23 23:08] quinton-hoole commented on #6181
Agreed.  Dropping v1.0 tag.

[2015-04-23 23:12] lavalamp commented on #4854
I think this issue is covered by our other performance related issues (e.g., #7162). Additionally, this specific error message shouldn't exist after #6866 is done.

[2015-04-23 23:16] thockin commented on #6915
Regarding updates if secrets have changed.  I am OK with that (in favor of
it, even) BUT it has to be done atomically, whcih the current
implementation can not do.  You need indirection, eg, emulate this:

[code]

On Thu, Apr 23, 2015 at 1:24 PM, Paul Morie <notifications@github.com>
wrote:

[2015-04-23 23:16] bgrant0607 commented on #5799
And we should document this in docs/devel/writing-a-getting-started-guide.md, which we should perhaps move to docs/getting-started-guides

[2015-04-23 23:17] nelcy opened #7265 "Feature request: Ability for kubelet to express different node capacity"
Today, Kubelet reports all resources as Node capacity to Apiserver.
Looking for ability to reserve CPU & Memory for system and other tasks not managed by kubernetes and report the rest as Node capacity to Apiserver.

[2015-04-23 23:17] nelcy commented on #7265
@vmarmol

[2015-04-23 23:19] bgrant0607 commented on #6584
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/accessing-the-cluster.md is covered by #7094.

[2015-04-23 23:20] bgrant0607 commented on #7094
We're working on scrubbing the docs and examples of references to v1beta1 (#6584) prior to deleting that API, so it would be good to have this in soon.

[2015-04-23 23:21] zmerlynn opened #7266 "Remove the "Attempt N to check Docker and pause pod" loop from GCE turn-up"
There's a section of code where it says "Sanity checking cluster" for GCE that I always assumed was in `validate-cluster.sh`, but is GCE OSS specific, here: https://github.com/GoogleCloudPlatform/kubernetes/blob/cf824ae5e07965ba0b4b15ee88e08e2679f36978/cluster/gce/util.sh#L697 . I believe after the addition of `getcomponentstatuses` and various Docker monitoring improvements, this entire section o

[2015-04-23 23:24] bprashanth commented on #1624
Plan to start on this right after my current rc manager rewrite gets in (hopefully EOW). I'll start by adding a new Job resource with validation strategy, associated etcd storage etc, and follow up with a controller half that watches jobs and pods, and takes action they succeed/fail.

[2015-04-23 23:25] chuckbutler opened #7267 "Port `dockerfile/redis` patch to 0.15.0 tag"
When following along with the Guestbook example - ensuring we were using the v1beta3 instructions - we were bit by the committed fix against the pod JSON files referencing `dockerfile/redis` image that no longer exists.

The fix was committed a day or so before the `dockerfile/redis` repositories were removed, however this still effects the 0.15.x tag which leverages the v1beta3 api.

See referenc

[2015-04-23 23:27] chuckbutler commented on #7267
Just received confirmation 0.16.x is being cut soon - closing as not worth the cherrypick

[2015-04-23 23:27] #7267 closed

[2015-04-23 23:29] satnam6502 commented on #7094
@jlowdermilk : let me know if you want to punt this back to me -- now that I have some clue again about how to access an cluster (assuming I can _create_ a cluster!).

[2015-04-23 23:30] satnam6502 commented on #7266
I think I discovered this problem by accident by messing up the manifest file for the Fluentd to Elasticsearch pod which then causes a cluster to be born with no running containers. It's good to see that occasionally some good comes out of my incompetence.

[2015-04-23 23:32] zmerlynn commented on #7266
That would do it!

[2015-04-23 23:32] satnam6502 commented on #7266
My main concern is that we retain somewhere the ability to restart Docker because I don't think we can assuming running it just once per node is always going to be good enough. @dchen1107

[2015-04-23 23:32] caesarxuchao commented on #7260
@davidopp  Can I have a try?

[2015-04-23 23:36] zmerlynn commented on #7266
Docker is monitored by monit now, directly on the node: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/saltbase/salt/monit/docker . Additionally, GKE hasn't been using this shell code (and we can't), so we actually rely on monit and friends.

[2015-04-23 23:39] yujuhong commented on #7250
If you have seen this happened, we should not close this bug :)

After giving this a bit more thoughts, I *think* this could happen if the dead containers were all removed (either GC'd by kubelet or lost for other reasons since in your case it happened after the reboot), and then kubelet concludes that the containers were never run and hence decided to start it. In this case, it may never check th

[2015-04-23 23:40] smarterclayton commented on #7257
In YAML, typo

We do support the stream separator in STDIN pipes and URLs today.  Would not be hard to add that to Paths (I thought it was)

[2015-04-23 23:40] dchen1107 commented on #7266
+1 on what @zmerlynn said here.

[2015-04-23 23:45] lavalamp commented on #6572
I'm going to repair the endpoint generation function.

[2015-04-23 23:54] sym3tri commented on #1685
+1. This is a crucial feature for us too and anyone building a live-updating UI.

[2015-04-23 23:55] erictune opened #7272 "kube-up.sh sometimes doesn't complete"
This happened to me several times.
Kube-up got stuck at the "waiting for cluster initialization" step.
When I hit ctrl-c, the master was up and I could connect to it and get pods using a bearer token.
So, most likely, the KUBE_PASSWORD is incorrect.
Of course, it is lost when you press ctrl-c, so I can't verify this.  Will update if I find a way to debug more.

[2015-04-24 00:03] jlowdermilk commented on #7094
Punting back to you. Getting the auth credentials is accomplished via
[code]
But I think you have a better idea how to curl with token auth than I do.

[2015-04-24 00:03] zmerlynn commented on #7272
That's confusing. If you ^C, it shouldn't even have a chance to create the `.kube/config`, should it? Unless it recycles a previous token? That sounds like a bad idea?

[2015-04-24 00:03] smarterclayton commented on #7250
I think (but am not positive) that there is a gc bug in the version we are using for short running programs that exit successfully - gc never kicks in at the max container number, or is kicking in wrong.  So the first problem may have been exacerbated by the second.  Also, I know a number of folks clean up containers with scripts, and it's possible they do something like this on reboot (I haven't

[2015-04-24 00:09] jonboulle commented on #7203
@vmarmol:

"ACI-based images" -> "ACI-based runtimes"? Even so, not strictly correct; rkt natively supports Docker images (by transparently converting them to ACIs using docker2aci), but this isn't a provision of the spec (i.e. other implementations might not have this support).

[2015-04-24 00:09] #6480 closed

[2015-04-24 00:11] sramak1396c commented on #6452
I am trying to understand what are the  options in Openstack?  I tested with PublicIP's , works great , but obviously , has manual things that needs to be taken care of.

Appreciate any suggestions.

Thanks
Sriram

[2015-04-24 00:16] morganon commented on #6570
+1

[2015-04-24 00:17] jonboulle commented on #7203
A little more detail on the ACI side:

It is definitely a different beast to Docker in that there's no shorthand way to deterministically [1] reference remote images (in part since there's no registry API). Instead, the appc spec currently defines [two processes (strategies) for discovering image locations](https://github.com/appc/spec/blob/master/SPEC.md#app-container-image-discovery) [2], where

[2015-04-24 00:19] a-robinson commented on #6452
What specifically are you looking for help with? createExternalLoadBalancer should work properly in openstack, although you may get hit by #7199, which was just fixed today.

[2015-04-24 00:36] thockin commented on #7184
Once we get rid of the userspace proxying, the source IP will be the originating container's IP.   Given that, I don't think that the more restrictive networks we have to deal with will handle the packets at all.  You could SNAT the packets and retain this property, but now services will not get a proper source IP (which is true today, but considered to be a bug, not a feature).

This also does no

[2015-04-24 01:11] yujuhong commented on #7250
I will try to reproduce it tomorrow. If my theory is correct, I should be able to see this happen by manually removing the containers of a succeeded pod.

@smarterclayton, is there a bug open for the erratic GC behaviors you've observed? The container GC code hasn't been touched since its inception, so whatever bugs you discovered are likely to be in HEAD. Given that kubelet relies on inspecting d

[2015-04-24 01:24] smarterclayton commented on #7250
Not on Kube, I have repro scenarios I will open.

[2015-04-24 01:26] bprashanth commented on #7236
Would be nice to have these at maximum verbosity because when we need them we need them all, IIRC we currently only get V(2) on a kube-up cluster

[2015-04-24 01:36] pmorie commented on #4825
@mfojtik I believe you have a case like this.  Testify?

[2015-04-24 01:42] sramak1396c commented on #6452
My understanding was createExternalLB worked only with GCE, totally wrong!!

I guess Neutron LBaaS should be enabled to take advantage of cELB, do we need any other openstack projects besides neutron?

configuration or setup changes we need to be aware of?

Thanks
Sriram

On Apr 23, 2015, at 8:20 PM, Alex Robinson <notifications@github.com<mailto:notifications@github.com>> wrote:

What specificall

[2015-04-24 01:43] ArtfulCoder commented on #7184
@thockin Thanks Tim.
I will do a manual test and see what happens.. my goal is to have an out-of-the-box kubernetes solution for cloud providers where machines can't assign cidr ranges (belonging to the same peer subnet) to their docker interfaces. Currently, for such situations, we have to have flannel or some other network fabric implementation.

[2015-04-24 01:46] bgrant0607 commented on #7257
See #5840.

[2015-04-24 01:48] bgrant0607 commented on #5840
@yaoguo What do you mean by "separate"? The point is to put multiple objects into one file.

[2015-04-24 02:03] Symmetric commented on #6666
This PR would allow us to integrate Kubernetes services with Calico's distributed firewall. (See https://github.com/GoogleCloudPlatform/kubernetes/issues/7245 for a bit more detail on why). Looks good!

I'd be interested to know how widespread the DNS caching/TTL issues you mention are in your experience; Mesosphere are going with SRV-ish service discovery as well, so it would be great to get a fe

[2015-04-24 02:30] satnam6502 commented on #7266
I'll do this.

[2015-04-24 03:04] bgrant0607 commented on #5840
Hmm. Apparently this is supposed to work:

[2015-04-24 03:04] bgrant0607 commented on #5840
https://github.com/GoogleCloudPlatform/kubernetes/blob/e14d5f3416801306ff2855456cf6a656e8a58403/pkg/util/yaml/decoder.go#L67

[2015-04-24 03:08] jiangyaoguo commented on #5840
@bgrant0607  Oh, I see.
 Maybe My idea was off the topic.  I thought we could have a new file to declare all the resources to be created, just like what "top.sls" file do in saltstack.  Further we can use this new file to describe  resoueces order, dependence, and so on.

[2015-04-24 03:28] a-robinson commented on #6452
Not that I know of, but I haven't tried it myself. If you run into any issues with it, be sure to let us know!

[2015-04-24 03:45] ghodss commented on #5370
I believe so - especially since the idea of replication controllers is that they are only loosely coupled to the pods they manage through labels. For example you may want to replace one RC with another by deleting it then creating a slightly modified one but with the same selector. That would be a case where you wouldn't want the RC to go to 0 first.

[2015-04-24 03:50] ghodss commented on #5370
If the outcome of this PR is that `delete` == `stop`, does it just make sense to make stop an alias to delete in this PR?

[2015-04-24 04:06] roberthbailey commented on #7266
@satnam6502 - @zmerlynn sent #7269 to do this. Since you volunteered I assigned you as the reviewer. :)

[2015-04-24 04:07] roberthbailey commented on #7272
I'd nuke (or at least temporarily move) your `~/.kube` directory and see if you can reproduce.

[2015-04-24 04:08] roberthbailey commented on #7272
I did a _ton_ of cluster up/down cycles with the bearer token change and never saw this. I also haven't seen it fail on Jenkins for GCE or GKE since the change went in.

[2015-04-24 04:11] roberthbailey commented on #7264
A failed run for GCE is already advertised to the IRC channel, which should be monitored by the oncall. Maybe we can figure out a way for Jenkins to send an email or chat message that gets routed properly as well?

[2015-04-24 04:30] derekwaynecarr commented on #7260
I was seeing the same behavior but did not yet have a chance to investigate the cause.

Sent from my iPhone

[2015-04-24 04:35] derekwaynecarr commented on #7265
I had expressed interest in something similar that would let me scale the meaning of cpu across a heterogeneous cluster.  In concept, if we had a cpuScalar that we could multiply to what cAdvisor reports you could meet both goals.  You could apply a scalar to let you reserve a percentage of cpu to your nodes system tasks.

Sent from my iPhone

[2015-04-24 04:36] davidopp commented on #7260
Yes, by all means please feel free to debug this and send a PR to fix it!

[2015-04-24 05:04] jiaweizhou commented on #7214
ok, I create a service with curl like this:
 curl http://10.10.103.86:8080/api/v1beta3/namespaces/developmentwangzhe/services -XPOST -d '{"kind":"Service","apiVersion":"v1beta3","metadata":{"name":"frontend","labels":{"name":"frontend"}},"spec":{"ports":[{ "port":80,"targetPort":80,"protocol":"TCP"}],"selector":{"name":"frontend"}}}'

Then I want to patch the apiVersion to v1beta1, I send the comm

[2015-04-24 05:14] davidopp commented on #7216
/subscribe

[2015-04-24 05:21] ankushagarwal opened #7280 "Wrong Vagrant $PATH after installation"
Ran this on my Mac OS X Yosemite
[code]

After installation is complete I get the message :
[code]

The binaries are at `/Users/ankushagarwal/vagrant/kubernetes/kubernetes/cluster/` and not at `/Users/ankushagarwal/vagrant/kubernetes/kubernetes/kubernetes/cluster/`

[2015-04-24 05:23] cjcullen commented on #7237
PR #7275 changes the system secrets to point at "https://kubernetes:443" by default. Kube2sky then overrides that with values from the KUBERNETES_SERVICE env vars.

[2015-04-24 05:28] davidopp commented on #3954
Sorry for the confusion. Updating the title now.

[2015-04-24 05:59] satnam6502 commented on #7260
See also #6596 and let me know if I should hold off working on this.

[2015-04-24 06:00] davidopp commented on #6804
BTW @piosz as we discussed in person, when you have a chance please file an issue for the machine shutdown future work.

[2015-04-24 06:26] wangzhezhe commented on #7214
I have the same problem when I use the PATCH remote API , It seem that the format of request is not clear in: http://kubernetes.io/third_party/swagger-ui/#!/v1beta3/patchPod , Anyone could give me some suggestions in using PATCH API of k8s ?  Is there some tutorial about how to use the remote API of k8s? Thank you !

[2015-04-24 06:26] roberthbailey opened #7282 "./hack/test-integration.sh fails on my mac"
I'm not sure when this started, but if I run `./hack/test-integration.sh` it fails:

[code]

The same tests pass when running as part of `make release` but I find that for debugging test failures it's much nicer to be able to run them in isolation.

[2015-04-24 06:26] thockin commented on #7265
By "scale the meaning of cpu" do you mean the idea of KCU as captured in
resources.md?  We just don't have any scaling factors but 1, for now.

On Thu, Apr 23, 2015 at 9:35 PM, Derek Carr <notifications@github.com>
wrote:

[2015-04-24 06:33] wojtek-t commented on #6753
I think that's fine. We already have something to start with and we can create more sophisticated tests under a different issue.

[2015-04-24 06:33] #6753 closed

[2015-04-24 06:44] thockin commented on #6666
mention are in your experience

My understanding is that a large preponderance of client DNS libraries are
broken by default, though some have flags to un-break.  It's also that many
apps are broken (do a lookup, cache result forever).

wasn't explicitly called out) is that (RFC compliant) SRV responses can
only advertise a single port, so that's not an immediate fit for
multi-port/protocol servic

[2015-04-24 06:49] thockin commented on #7184
What you have sketched out is sort of a service mux, where you multiplex
multiple port-spaces over the host IP's port-space.  It's cute as long as
you ONLY have pod->service traffic.  Headless services breaks this, and
port ranges will break this if we implement them (requires the native
iptables mode, I think).

This will fail the networking test - that pods can ping each other.

On Thu, Apr 23,

[2015-04-24 07:02] ArtfulCoder commented on #7184
I think the approach could be made to work in the port-ranges scenario, in native iptables mode, as well.

But,  since headless services relies on pod-2-pod communication, it wouldnt work unless we created a separate service ip per pod which is a pain.

2. The networking test definitely fails - pods wont be able to ping each other :)

So, yes, pod-2-pod communication is a critical piece that I can

[2015-04-24 07:02] #7184 closed

[2015-04-24 07:06] bgrant0607 commented on #6584
The walkthrough has an indentation bug in its v1beta3 yaml:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/walkthrough/v1beta3/replication-controller.yaml#L23
I was going to submit a PR, but ran into a problem with gendocs, so mentioning it here in case someone can do it before I get to it.

[2015-04-24 07:10] thockin commented on #7184
I don't expect headless services to be the common case, so maybe
extraordinary measures could work.  The pod-to-pod assumption is one we've
been working with, but could maybe be reconsidered if the solution was
compelling enough.  But I don't know that this is SO MUCH better than
flannel that it;s worth rethinking so many fundamental assumptions.

On Fri, Apr 24, 2015 at 12:02 AM, Abhi Shah <notif

[2015-04-24 07:20] ArtfulCoder commented on #7184
Absolutely. And going forward, there will be more features that we would want to add and swimming upstream doesn't work beyond a point. Having a unique ip per container across nodes is more natural.

[2015-04-24 07:25] thockin commented on #831
Most docker containers today run as root, so you should be able to write to
a hostPath mount.  If you are running your containers as non-root (good for
you!) I would be amenable to some different tweak on the model that gave
you what you wanted.  For example, something like

[code]

...with well-defined semantics (e.g. only applies if the path does not
exist or already exists in the exact same con

[2015-04-24 07:26] thockin commented on #7184
We really are betting on SDN over all - as that gets better and faster,
imperfect solutions become less and less attractive.

On Fri, Apr 24, 2015 at 12:20 AM, Abhi Shah <notifications@github.com>
wrote:

[2015-04-24 07:46] pwFoo commented on #831
Hello thockin,

I need reboot save volumes used to store mysql databases or webspace content. So lifetime needed is forever (not dependent on service / pod / host uptime). Changes should be saved directly.

Because I have a single minion setup, hostdir with correct / adjustable permissions (uid / gid) should be fine at the moment.

Regards

[2015-04-24 07:49] nikhiljindal commented on #6584
Sent https://github.com/GoogleCloudPlatform/kubernetes/pull/7284 to fix that. Verified that rc is created fine using that yaml.

[2015-04-24 07:50] thockin commented on #6979
Brian, Dawn

If we're willing to accept some custom JSON code, this pattern is pretty
clean:

http://play.golang.org/p/LYO6u0D1A9

On Wed, Apr 22, 2015 at 1:28 AM, abonas <notifications@github.com> wrote:

[2015-04-24 07:52] thockin commented on #831
OK, I'll give this some thought.  No promises on timeframe, though.

On Fri, Apr 24, 2015 at 12:47 AM, pwFoo <notifications@github.com> wrote:

[2015-04-24 07:54] thockin opened #7285 "volume idea: "durable emptyDir""
Some of the discussions in #831 brought this out:

Most docker containers today run as root, so you should be able to write to
a hostPath mount.  If you are running your containers as non-root (good for
you!) I would be amenable to some different tweak on the model that gave
you what you wanted.  For example, something like

[code]

...with well-defined semantics (e.g. only applies if the path doe

[2015-04-24 07:55] thockin commented on #7285
@pwfoo

[2015-04-24 07:59] pwFoo commented on #831
Thanks @thockin  :)

[2015-04-24 09:44] TomasTomecek commented on #7250
Exactly.

[code]

I'm pretty sure that @smarterclayton will provide more precise reproducer using plain k8s (in here I used openshift v3).

[2015-04-24 09:44] alml commented on #6666
Are you talking about my PR? (https://github.com/GoogleCloudPlatform/kubernetes/pull/6438)
Implemented DNS schema for Pods is: <podID>[.<portName>].<svcID>.<namespace>.pod.kubernetes.local
If port name is set in the service definition, then portName is added. Otherwise it's just omitted. If multiple anonymous ports exist, only one of them is exported. Current implementation picks the last one.

Th

[2015-04-24 10:07] wojtek-t commented on #7216
@rrati the system is self-healing. Distributed systems must be tolerant to different pieces of the system ending up with slightly different states of knowledge. If it happens say more than 10% of the time then maybe we should look into it. Barring that, it's got very low priority because it's just not that big of a deal. The total adverse effect on the system is that scheduler wasted 100ms sending

[2015-04-24 10:55] rrati commented on #7216
@wojtek-t How about we just log all the error/fail messages and add a method to check container status in each pod?  That will better test for the case of container restarting and also give an indication of any possibly odd events.

[2015-04-24 11:15] markturansky commented on #7285
We need to discuss resource counting (a node is using 1 GCE slot, this pod w/ claim needs another) so we can enforce scheduling constraints for PV.

Is it possible for nodes to have their own distinct "slot name" such that NodeA has a "HostPath-0156" slot and that slot only exists on NodeA?  "HostPath-0157" slot only exists on NodeB, etc.

Then scheduling constraints can pair the pod with a node b

[2015-04-24 11:16] wojtek-t commented on #7216
@rrati I'm not sure if I understood correctly. I definitely think that we should log all "fail" events. I even think that we should fail the test if there are too many of those (for some definition of "too many", which we need to decide on).
Do you want to check container statuses for each pod after all of them are started? What do you want to test? I think it's definitely useful to check if they

[2015-04-24 11:26] rrati commented on #7216
@wojtek-t Yes, I think we need to check container statuses for each pod.  We've already seen instances where a pod is marked running but the a container within the pod is continually restarting.  I'd like to verify that all the pods have all the containers running.

I had an e-mail thread at one point about tests we should perform on a loaded system.  I had:
- listing pods, replication controllers

[2015-04-24 11:29] wojtek-t commented on #7216
@wojtek-t Yes, I think we need to check container statuses for each pod. We've already seen instances where a pod is marked running but the a container within the pod is continually restarting. I'd like to verify that all the pods have all the containers running.

SGTM

I had an e-mail thread at one point about tests we should perform on a loaded system. I had:
listing pods, replication controller

[2015-04-24 11:37] #7069 closed

[2015-04-24 11:50] calvinmetcalf opened #7286 "rolling-update doesn't actually accept a file from stdin"
attemting to run

[code]

throws and error with ERROR: Error: - does not specify a valid ReplicationController

[code]

[2015-04-24 12:17] rrati commented on #7216
I'm a bit concerned trying to differentiate between different types of failures will lead to a complicated test scenario and introduce flakiness.  I suppose we could look for exact failure type strings (failedScheduling, etc)?  Would those ever change?

[2015-04-24 12:30] erictune commented on #7272
it isn't creating the .kube/config.
And I had previously tried what Robby suggested.

[2015-04-24 12:57] erictune commented on #7272
It appears there is a mismatch between the IP that kube-up thinks is right and the actual IP of the master.
I did kube-down, then kube-up.
During kube-up it says:
`Using master: kubernetes-master (external IP: 104.197.1.166)`.
But, if, concurrently, I do `gcloud compute instances list` I see:
`kubernetes-master      us-central1-b n1-standard-1 10.240.242.245 104.197.1.166  RUNNING`
Which is a diff

[2015-04-24 12:58] erictune commented on #7272
Nevermind, those are the same.

[2015-04-24 13:23] fgrzadkowski commented on #7160
@xiang90 The way I read this profile (might wrong though) is that for 28.90s dial was in the stack, but was not the "top" function for 22.87s

@lavalamp I tried to verify that etcd client reuses HTTP connection and I think it doesn't. I added simple log line here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/Godeps/_workspace/src/github.com/coreos/go-etcd/etcd/client.go#L387
In em

[2015-04-24 13:26] derekwaynecarr commented on #147
@erictune - my preference is option 2 as presented.

[2015-04-24 13:29] huangqg opened #7291 "Error scheduling acloguv1m test2-j6rkr-dqex6: failed to find fit for pod: {{ } {test2-j6rkr-dqex6 test2-j6rkr- acloguv1m"
Hi,
I meet some performance issue with k8s scheduler, here is the cluster env:
- Node1: memory cost 90%
- Node2: memory cost 91%
- Node3: memory cost 30%

When creating a new pod, the k8s scheduler will judge which node to bind the pod, to my surprise, the scheduler will bind the pod to Node1 or to Node2, why not bind to node3 directly? what the mechanism of k8s scheduler handle the binding? and h

[2015-04-24 13:48] fgrzadkowski commented on #7160
I also run density test to check how correlated this is with the load. Results below (first column is number of dials per minute, second column is time):

$ sudo docker logs a9374dd44497 2>&1 | grep FFF | tr -s " " | cut -d" " -f 2 | cut -d":" -f-2 | sort | uniq -c
   1839 13:12
   4737 13:13
   1942 13:14
   1184 13:15
    836 13:16
    949 13:17
   1360 13:18
    880 13:19
    770 13:20
   1127

[2015-04-24 14:10] erictune commented on #7272
Okay, I had kube-up print the command it is using to try and reach the master.
  - when run directly on the command line, it fails with 401 unauthorized.
  - when I use the crypt function to compare the password value I'm passing with the hash in the htpasswd file, it matches.
  - when I try to access the master using several of the tokens, it works.

So, the problem seems to be on the server's ha

[2015-04-24 14:13] erictune commented on #7272
Grr.  I'm on a branch prior to #6618

[2015-04-24 14:24] #7272 closed

[2015-04-24 14:25] bakins commented on #7184
@ArtfulCoder wondering why specifically you don't want to rely on flannel, weave, or some other overlay.  Because they don't come with Kubernetes?

[2015-04-24 14:28] timothysc commented on #7216
Can't we bin on "Reason" and output a histogram of "Reasons"?

[2015-04-24 14:51] wojtek-t commented on #7160
@xiang90 @lavalamp

I think that we have a victim for it. What we've done is that we changed the Transport in go-etcd client:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/Godeps/_workspace/src/github.com/coreos/go-etcd/etcd/client.go#L194
but setting:
MaxIdleConnsPerHost: 10000 (from default 2)

**This speeded up the test by ~35%**
I think that 10000 is some exaggeration, but it d

[2015-04-24 14:52] roberthbailey opened #7292 "The getting started guide for running Kubernetes locally via Docker is broken"
As reported on [stack overflow](http://stackoverflow.com/questions/29840709/is-there-a-reliable-way-how-to-run-virtualized-docker-kubernetes-stack-on-wind) by someone who was trying to get it working on Windows. I reproduced the same error on my mac.

#7077 updated the instructions to v0.15.0 but it have the intended effect, because [cluster/images/hyperkube/master.json](https://github.com/GoogleC

[2015-04-24 14:53] fgrzadkowski commented on #7160
Number of dials after change described by @wojtek-t :+1:

~$ sudo docker logs 6c7a949241ff 2>&1 | grep FFF | tr -s " " | cut -d" " -f 2 | cut -d":" -f-2 | sort | uniq -c
    335 14:29
    200 14:30
      5 14:31
     28 14:32
     65 14:33
    145 14:34
     69 14:35
    121 14:36
     59 14:37
    202 14:39
    140 14:40
    112 14:42
     77 14:43
    190 14:44
    104 14:45
      5 14:46

[2015-04-24 14:53] wojtek-t commented on #7160
Just a silly question: are we allowed to change files under Godeps/ directory? If not what is the best way to fix it?

[2015-04-24 14:54] xiang90 commented on #7160
@wojtek-t Call https://github.com/GoogleCloudPlatform/kubernetes/blob/master/Godeps/_workspace/src/github.com/coreos/go-etcd/etcd/client.go#L178 instead.

[2015-04-24 14:56] xiang90 commented on #7160
@fgrzadkowski @wojtek-t is probably right. If you only use one transport, there is a maxIdelConn limitation.

[2015-04-24 14:56] satnam6502 commented on #7272
A `config` file is not being creates for me -- `.kubeconfig` is still there and different from the output of `kuvectl config view` @jlowdermilk

[2015-04-24 15:05] huangqg commented on #7291
Error scheduling acloguv1m test2-j6rkr-dqex6: failed to find fit for pod: {{ } {test2-j6rkr-dqex6 test2-j6rkr- acloguv1m ：

E0424 22:04:24.465514    1194 factory.go:272] Error scheduling acloguv1m test2-j6rkr-dqex6: failed to find fit for pod: {{ } {test2-j6rkr-dqex6 test2-j6rkr- acloguv1m /api/v1beta3/namespaces/acloguv1m/pods/test2-j6rkr-dqex6 97047a70-ea7a-11e4-89a0-00163e0057bf 2071340 2015-04

[2015-04-24 15:08] sramak1396c commented on #6452
Thanks Alex. Will let you know how it goes.
On Apr 23, 2015, at 11:28 PM, Alex Robinson <notifications@github.com<mailto:notifications@github.com>> wrote:

Not that I know of, but I haven't tried it myself. If you run into any issues with it, be sure to let us know!

—
Reply to this email directly or view it on GitHub<https://github.com/GoogleCloudPlatform/kubernetes/issues/6452#issuecomment-95788

[2015-04-24 15:28] erictune commented on #7081
When I wrote this I was thinking particularly about  kube-proxy, and the components on master node, where there is no kube-proxy.  So service doesn't work there.  But, for the more general case, I agree service should work.

[2015-04-24 15:33] erictune commented on #7081
I am a little fuzzy on how the client verifies the identity of the master via the service, using the master's cert.   Does the master's cert have DNS name "kubernetes", or does it have a fully qualified DNS name, like "kubernetes.blah.example.com." or does it have an URI?  I was hoping you knew, @roberthbailey

[2015-04-24 15:58] roberthbailey commented on #7081
I can explain how it works for kubectl, and then we can talk about how it should work for services. For kubectl, the client has a copy of the CA root that signed the master cert (embedded within the kubeconfig file). It constructs a tls.Config that contains the CA root so that it will trust the certificate provided by the master (see [pkg/client/transport.go#L148-L175](https://github.com/GoogleClo

[2015-04-24 16:13] derekwaynecarr opened #7294 "Kubelet needs to allow configuration of container memory-swap"
I would like the Kubelet to support a flag like the following:

[code]

To control the default amount of MemorySwap that is given to a container as a percentage of their requested memory limit.

See https://docs.docker.com/reference/run/#runtime-constraints-on-cpu-and-memory for the third-row which is the behavior we show today when the user sets a memory-limit, but the kubelet does not specify me

[2015-04-24 16:14] thockin commented on #7285
This is roughly what @erictune proposed some months ago but backed away
from.  I don't know how important it is to really polish that use case -
the original inquiry was specifically "I have a one-node cluster"..

On Fri, Apr 24, 2015 at 4:16 AM, Mark Turansky <notifications@github.com>
wrote:

[2015-04-24 16:14] derekwaynecarr commented on #7294
/cc @thockin this aligns with our IRC discussion.

[2015-04-24 16:14] derekwaynecarr commented on #7294
/cc @danmcp per our chat as well.

[2015-04-24 16:26] wojtek-t commented on #7160
thanks @xiang90 !
Assigning to myself - I will prepare a PR for it.

[2015-04-24 16:37] caesarxuchao commented on #7260
@satnam6502  I don't quite follow the other arguments in #6596, but I can try to update the v1beta1 format to v1beta3 format. It sounds like a good beginner's task.

[2015-04-24 16:38] smarterclayton commented on #6047
So /healthz is liveness check and /validate is readiness check?  Just want to know so we can copy in OpenShift.

[2015-04-24 16:40] roberthbailey commented on #6047
@smarterclayton /validate (currently only on the master and @bgrant0607 hopes to deprecate since it's unversioned) is an overall cluster liveness check. It currently combines /healthz from the master components and the nodes.

[2015-04-24 16:41] satnam6502 commented on #6596
@caesarxuchao has expressed interest in taking this on as a good getting started task. I suggest syncing with @bgrant0607 and @lavalamp

[2015-04-24 16:42] quinton-hoole commented on #7104
I fixed my local environment with some sudo make clean voodoo.  Closing.

[2015-04-24 16:43] quinton-hoole commented on #7013
At last.
SUCCESS! -- 5 Passed | 0 Failed | 1 Pending | 34 Skipped I0424 09:04:47.963304   90988 driver.go:96] All tests pass
PR incoming in a few minutes.

[2015-04-24 16:47] smarterclayton commented on #6047
So then what can we defined as /healthz?  /healthz/ready?

[2015-04-24 16:47] smarterclayton commented on #6047
Define a new /readyz?

[2015-04-24 16:56] roberthbailey commented on #7256
Some questions/suggestions:

1.a. step 3 is "Do an upgrade to this same version (run salt again)". Will re-running salt without changing a version cause binaries to be restarted? Or be downloaded from the release buckets? I'm concerned that salt will just say "everything is already happy" and this won't actually test anything.

2.a. I'd suggest an e2e test (or a similar test run against each build

[2015-04-24 17:02] caesarxuchao commented on #6596
@satnam6502 @lavalamp @bgrant0607 As a beginner, I don't quite follow @pmorie's initial comments.  But at least I can first update the SelfLink format from v1beta1 to v1beta3, as described in #7260, which sounds straightforward. Any comments?

[2015-04-24 17:04] bgrant0607 commented on #5370
There's no question that the ability to delete a replication controller without deleting the pods is useful. For example, we're using that capability in the new "renaming" rolling update. It's just less common than wanting to also delete the pods.

[2015-04-24 17:04] smarterclayton commented on #6596
This should also fix https://github.com/GoogleCloudPlatform/kubernetes/issues/7127

[2015-04-24 17:05] smarterclayton commented on #6596
We have to stop using static accessors in the code - taking meta.Interface is the correct way to get object version and kind

[2015-04-24 17:13] kmerker opened #7296 "kubectl: enable nodeSelector updates from the command line"
We saw in the flocker demo this command:

master$ kubectl get rc redis-master -o yaml | sed 's/spinning/ssd/' | kubectl update -f -

Should be able to do this with a kubectl command, not spitting out yaml, sed, and reading it back in.

[2015-04-24 17:18] yujuhong commented on #7250
@TomasTomecek, thanks for the reproduce.

I just tried and I could easily reproduce this on a localhost as well. I will write up a PR to fix this.

[2015-04-24 17:25] roberthbailey commented on #7296
There's already a kubectl command to update labels on objects within the system, but not one to update the label selector of a replication controller.

[2015-04-24 17:35] bgrant0607 commented on #2770
Another option to look at: https://hashicorp.com/blog/terraform.html

[2015-04-24 17:40] satnam6502 commented on #6596
@bgrant0607 : the answer is that using curl to GET to service returns a v1beta3 selfLink.

[code]

[2015-04-24 17:45] smarterclayton commented on #1743
Another design point.  OpenShift currently nests a ReplicationControllerSpec under the deployment config Spec.  I would prefer not to continue that - instead flattening so that it's:

[code]

That would mean that DeploymentSpec and ReplicationControllerSpec look extremely similar.  The alternative is to nest:

[code]

Thoughts?

[2015-04-24 17:50] smarterclayton commented on #1743
Given the presence of triggers or a strategy, those either go in Spec, or nested.  So then

[code]

[2015-04-24 17:51] bgrant0607 commented on #7260
Satnam reported in https://github.com/GoogleCloudPlatform/kubernetes/issues/6596#issuecomment-96009427 that curl returns a v1beta3 selflink. This suggests that the v1beta1 selflink is being generated by kubectl.

[2015-04-24 17:53] lavalamp commented on #7160
@wojtek-t cool, this is great. 10000 max idle is probably a little high-- we don't want to use all of apiserver's available FDs for this. Does, say, 500 still get most of the benefits?

(I think if we multiplexed watches that might also help a lot, but obviously it's much easier to keep more idle connections.)

(If you really had needed to modify a file in the godeps/ directory, the proper way to

[2015-04-24 17:54] satnam6502 opened #7298 "Pods, Replication Controllers, Services etc. should be types and not concrete values"
I am sure this is all coming too late (concerning decisions made before I joined the project) but I can't help thinking that our pod specifications etc. should really be **types** rather than **concrete values**. When a pod is created we should specify the name for that instance (just like declaring a variable in a programming language). When we want to make a replication controller we should supp

[2015-04-24 17:54] bgrant0607 commented on #1743
@smarterclayton Yes, I agree with the flattened approach.

[2015-04-24 17:55] thockin commented on #6910
I apologize for being absentee - just round-robin servicing the bigger topics.

I've re-read this whole issue, here are my thoughts.

First, I tested that sysctl, and it DOES seem to work.  This is a massive
simplification, to start with.  Thanks for reminding me to try this.

Second, I'm not clear on the differences between what Justin proposed:

`kube-proxy would listen for internal services onl

[2015-04-24 17:56] #7266 closed

[2015-04-24 17:59] wojtek-t commented on #7160
@wojtek-t cool, this is great. 10000 max idle is probably a little high-- we don't want to use all of apiserver's available FDs for this. Does, say, 500 still get most of the benefits?

I completely agree 10000 is too much. I didn't have time to make more experiments today, but my feeling is that 500 or 1000 should also be enough. I will come up with more accurate number on Monday.

(I think if we

[2015-04-24 18:01] bgrant0607 opened #7299 "Reorganize documentation around specific audiences"
Forked from #2633.

We should organize and customize our documentation around specific audiences and/or use cases. For example:
* Core/extension developers
* Porting to another platform
* Cluster turnup
* Cluster admin
* Apps admin
* App developer
* Kick-the-tires user
* Demo

[2015-04-24 18:01] bgrant0607 commented on #2633
Forked #7299 for remaining work.

[2015-04-24 18:01] #2633 closed

[2015-04-24 18:26] lavalamp commented on #7216
+1 this is exactly what reason is for. (might want to bin on source+reason, though)

[2015-04-24 18:47] bgrant0607 commented on #6047
What we should have:
* Single-component liveness probe (kill if not responsive). More or less the current /healthz for most components. I'd prefer to rename this endpoint since (a) it's ambiguous and (b) it pollutes the API space with an inconsistent unversioned endpoint. We use /debug for profiling and monitoring. I suggest /debug/live. Only kubelet or other process manager should hit this endpoi

[2015-04-24 18:48] brendandburns opened #7300 "kubectl appears to not render some endpoints..."
user has data:

[code]

But kubectl renders:

[code]

[2015-04-24 19:03] markllama commented on #7300
It appears that the pulp-db and pulp-msg services are linked to pods and the linkage is indicated in the JSON and YAML output.  The pulp-http and pulp-https are correctly reported as not linked (because I have the selector/pod label's incorrect).

[2015-04-24 19:12] quinton-hoole opened #7302 "e2e.go --up needs to retry health checks"
hack/e2e.go occasionally fails (or thinks that it fails) to being up a test cluster to test against.

The log below suggests that as soon as it sees an unhealthy node it fails.  Seems like a few retries are in order.  This is causing continuous integration tests to fail to run about 10% of the time on our CI setup.

=============

Running: /jenkins-master-data/jobs/kubernetes-e2e-gce/workspace/kub

[2015-04-24 19:16] #7013 closed

[2015-04-24 19:23] quinton-hoole commented on #7302
Actually, I lied.  Our CI setup is only failing like this <1% of the time.  Dropping priority of fixing this.

[2015-04-24 19:44] erictune opened #7304 "Add events to kube-proxy"
As soon as #7303 merges, kube-proxy will be able to send events.

We should take advantage of that.

This is a good starter project.

Steps:
- Import `github.com/GoogleCloudPlatform/kubernetes/pkg/client/record` into `cmd/kube-proxy/app/server.go` and `pkg/proxy/...`.
- Record BirthCry, like kubelet does, so that restarts are visible.
- Record an event when service/endpoint watching fails for an e

[2015-04-24 19:47] etune commented on #5921
@vishh You really want @erictune, not @etune. He seems a lot smarter than me.

[2015-04-24 19:47] thockin commented on #7298
Not sure I follow - RC's pod template is sort of a type - it's a template
that we stamp out.

On Fri, Apr 24, 2015 at 10:55 AM, Satnam Singh <notifications@github.com>
wrote:

[2015-04-24 19:50] bgrant0607 commented on #7285
This is a dupe of #598.

[2015-04-24 19:51] bgrant0607 commented on #7285
@erictune's previous proposal was #1515.

[2015-04-24 19:56] thockin commented on #7285
Closing in favor of #598, thanks

[2015-04-24 19:56] #7285 closed

[2015-04-24 20:01] davidopp commented on #7286
@jlowdermilk The documentation
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/kubectl_rolling-update.md
is a little ambiguous, as the second example suggests that - should work but the Synopsis section does not. Could you either fix the documentation or the command?

[2015-04-24 20:09] smarterclayton commented on #473
IP allocation is not done yet.  I think we need a card and support to move it to a controller or use a shared object to do allocation.

[2015-04-24 20:12] bgrant0607 commented on #473
Controller, please.

[2015-04-24 20:18] thockin commented on #6910
To my own question of how to bind to all-but-one, we can maybe use iptables here, too:

e.g.  iptables -t nat -I PREROUTING -m addrtype ! --src-type local --dst-type local -p tcp -m tcp --dport 56 -j DNAT --to-destination 127.0.0.2:36912

[2015-04-24 20:19] roberthbailey commented on #6047
I believe that @alex-mohr falls on the side of the argument saying there should be a single endpoint on the master that rolls up both component status and node status -- adding him here so he can chime in.

[2015-04-24 20:23] timothysc commented on #6559
I've sandbox repro'd the problem here: https://github.com/timothysc/etcdk8s-stress

[2015-04-24 20:29] satnam6502 opened #7305 "Local proxy not working with client side calls"
In my latest attempt to get Kibana to work again I changed the specification of the Elasticsearch host in the Kibana setup from explicitly specifying the master:
[code]
to using a relative path:
[code]
I run a local proxy:
[code]
and visit:
[code]
But I notice in my Chrome console that the `8001` port does not make it through.
Any ideas about what is going on here? Thanks.
@roberthbailey @lavalamp

[2015-04-24 20:31] satnam6502 commented on #7305
http://localhost:8001/api/v1beta3/proxy/namespaces/default/services/monitoring-grafana/ gives a different error.
[code]
@vmarmol

[2015-04-24 20:32] timothysc commented on #7216
![image](https://cloud.githubusercontent.com/assets/169553/7327967/0b8825e8-ea97-11e4-8864-478de4a58652.png)

Sorry it's Friday ;-)

[2015-04-24 20:38] lavalamp commented on #7305
I think it's switching to "https", which is making it use 443 instead of 8001? Is there a stray https somewhere in the client code?

[2015-04-24 20:47] satnam6502 commented on #7305
Indeed there was:
[code]
Fixed. Checking.

[2015-04-24 20:51] lavalamp commented on #7305
Ah, yeah-- you want to make sure the client ends up generating links that look like: ```<a href="/api/v1beta3/proxy/namespaces/default/services/elasticsearch-logging">``` and NOT ```<a href="https:///api/v1beta3/proxy/namespaces/default/services/elasticsearch-logging">``` or ```<a href="http:///api/v1beta3/proxy/namespaces/default/services/elasticsearch-logging">```-- I think those will result in

[2015-04-24 20:59] alex-mohr commented on #6047
Re: single endpoint vs. multiple, I'd prefer for the master know its current status as a usable cluster or not, along with all the supporting details, and report that as a single API call, rather than rely on clients to stitch together various bits of separate data and implement their own (diverging) logic for determining whether a cluster is healthy or not.  E.g., /status/{live,ready} at the clus

[2015-04-24 21:00] quinton-hoole opened #7306 "Services with ELB do not receive a public IP intermittently"
We're seeing this error occasionally in the Jenkins e2e runs:

service external-lb-test in namespace e2e-ns-2015-04-24t110741-0 doesn't have a public IP after 240.00 seconds

e.g. http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/5157/

It only fails < 1% of the time mind you 😞
When it succeeds, it does so fairly reliably in ~1min, but <1% of the time it times out after 4 min (presumably

[2015-04-24 21:03] lavalamp opened #7307 "Make it easy to get client/server certs into chrome (or other browsers)"
It's pretty annoying to have to grab an extension to set a token header, likewise to use kubectl to proxy apiserver locally. Additionally, the old way with basic auth (and the header method) are easy to MITM. Therefore, let's do it right, and make it easy to get the ca and client certs imported into your browser.

Setting as P1 because we just turned off the basic auth method.

[2015-04-24 21:04] markllama commented on #7300
Note: the endpoints which are not being shown also have explict external IP addresses in the service spec.  Could that have an effect?

[2015-04-24 21:09] bprashanth opened #7308 "apiserver 405 for POST event dumps stack in logs"
I'm seeing 405s and traces like the following in my apiserver logs, haven't dug much deeper other than to say that it looks like we're also returning a 405 when previously a curl -X POST would return a 400? If this is expected maybe we should instead dump an error and avoid the confusing stacktrace?

[code]

@nikhiljindal , maybe related to some v1beta1vs3 changes?

[2015-04-24 21:12] derekwaynecarr commented on #6047
/sub , need to track what we can do for readiness probe separate from healthz for OpenShift.  To elaborate on readiness probe, there are cases for us where we want to make sure certain caches are primed, or that certain things were created.  For example, for Kube, it seems like you would not report readiness until the 'default' namespace is provisioned in etcd.

[2015-04-24 21:16] mbforbes opened #7309 "Help please: can't add new Godep"
I'm trying to add `golang.org/x/crypto/ssh`.

I followed our [guide](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/devel/development.md#using-godep) to a T, using a totally fresh directory and picking option B for step 2.

The changes that are generated both (a) don't seem to add anything for the `crypto/ssh` package, and (b) remove a ton of stuff that I think we want. I confi

[2015-04-24 21:17] derekwaynecarr commented on #7308
This is because Events are namespace-scoped and as a result, the apiinstaller does not support POST /api/v1beta3/events as a valid end-point.  You can only GET /api/v1beta3/events to list events across all namespaces.

I know that we have debates on where events go for non-namespaced objects, but I think at this point, we should just stick them in the default namespace at the moment.

[2015-04-24 21:22] rjnagal commented on #7309
Make sure you use godep save and restore with "./..." instead of just "."

[2015-04-24 21:26] mbforbes commented on #7309
None of the `godep restore` commands have any arguments after them (neither `.` nor `./...`). Is this a mistake in the guides?

Regardless, I tried with `./...` after all `godep restore` (and `save`) commands and the same result happened... Can't tell whether I'm missing something obvious?

[2015-04-24 21:35] bgrant0607 opened #7311 "Refactor kubectl to decouple command framework from business logic"
Too much kubectl business logic resides in pkg/kubectl/cmd. I'd like essentially all of kubectl to be callable as a library, and functionality like run-container and rolling-update should be configurable declaratively, as well.

Some of the logic (stop #1535, resize #1629, rolling-update #1743) belongs on the server side, too, but that's a separate issue.

An example that's close:
https://github.c

[2015-04-24 21:36] satnam6502 commented on #7305
Getting closer.
[code]

[2015-04-24 21:36] quinton-hoole commented on #7216
@wojtek-t  Could you please summarize what the action items from this thread are, and open a separate issue for each?  It seems a lot has been discussed here, but it's not clear to me exactly what concrete action has been decided upon?

[2015-04-24 21:36] rjnagal commented on #7309
Step 4 in the guide mentions "godep save ./..."

The diff seems to be coming from a godep save that didn't look at
subdirectories for dependencies.
Your godep.json should have:

"Packages": [
"./..."
],

at the top if it captures subdirectories.

On Fri, Apr 24, 2015 at 2:26 PM, Maxwell Forbes <notifications@github.com>
wrote:

[2015-04-24 21:40] satnam6502 commented on #7305
Another path is to try and configure Kibana to make an https call and use certs as described in their docs:
[code]

However, we don't make it easy to give Kibana these cert files? @roberthbailey

[2015-04-24 21:43] lavalamp commented on #7305
```XMLHttpRequest cannot load http://v1beta3/proxy/namespaces/default/services/elasticsearch-logging/_nodes. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:8001' is therefore not allowed access.```

Hm... it's not clear to me why you're running afoul of the CORS rules... it should just be sending traffic back to the origin.

[2015-04-24 21:44] ixdy commented on #2927
I'm probably getting rid of -t/--test. We should just switch to using --ginkgo.focus.

[2015-04-24 21:45] rjnagal commented on #7265
What is being asked originally here is not scaling. Although scaling can be used as a workaround. The request is for keeping some resources on the machine free and not reported to the scheduler. These should not be controlled by kube.

KCU is the right model for scaling.

[2015-04-24 21:46] satnam6502 commented on #7305
I am adjusting the Elasticsearch config with:
[code]

[2015-04-24 21:47] vmarmol commented on #7265
I think this boils down to adjusting the reported size of the machine according to the usage by non-Kubernetes containers (or exporting these in a way the scheduler takes into account).

[2015-04-24 21:49] lavalamp commented on #7305
Probably dangerous to leave it like that, but if it fixes the problem we can maybe figure out what exactly is wrong.

[2015-04-24 21:59] satnam6502 commented on #7305
Does not fix the problem. Removing.

[2015-04-24 22:14] bprashanth commented on #7308
We should probably prevent whatevers trying to post to events at apiserver bringup (was happening this morning), and say so in the error message

[2015-04-24 22:39] bgrant0607 commented on #6132
See also #5889 and #6284.

[2015-04-24 22:46] bgrant0607 commented on #5277
I think this is mostly done (though perhaps not for describe #5905). @smarterclayton ?

[2015-04-24 22:47] bgrant0607 commented on #5906
Currently kubectl just prints object names without the kind. If they output kind/name instead, that would be more useful for this purpose.

[2015-04-24 22:48] zmerlynn commented on #2927
+1
On Apr 24, 2015 2:45 PM, "Jeff Grafton" <notifications@github.com> wrote:

[2015-04-24 22:49] #2927 closed

[2015-04-24 22:49] bgrant0607 commented on #4822
This would be great.

Per #7311 , it should be possible to invoke this via library call also, not just kubectl command.

[2015-04-24 22:53] saad-ali commented on #6749
This flag already exists, see `event_ttl` in [cmd/kube-apiserver/app/server.go#L155](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L155):
[code]

[2015-04-24 22:53] #6749 closed

[2015-04-24 23:11] wattsteve opened #7317 "GlusterFS Volume Plugin deletes the contents of the mounted volume upon Pod deletion"
1. Create a set of endpoints to your GlusterFS cluster. Example http://pastebin.com/aysdLxqh
2. Submit a pod that uses the GlusterFS Volume Plugin in ReadWrite Mode (readonly=false) to mount a particular GlusterFS volume. Example http://pastebin.com/4c10Xryh
3. Verify the pod is running
4. List the contents of that GlusterFS Volume and see that your files exist.
5. Stop the pod - "kubectl delete p

[2015-04-24 23:21] molszanski commented on #6904
It looks more like a bootstrap / setup phase need.
I think that ENV like metadata should come up in a some sort of CLI output / WebUI.
And that might cover many missed env variables scenarios.

And even if find a mismatch / typo what should be an expected outcome? CLI warning?

[2015-04-24 23:22] mbforbes commented on #6552
I'm running into this as well. I'm running with `go run hack/e2e.go --test` (and some other stuff) and my tests are panicking when they try to access `testContext.Provider`. I thought I was crazy because I couldn't see how it was populated. (Well, my tests are still panicking, so maybe I am crazy.)

[2015-04-24 23:23] fabioy opened #7318 "Invalid URL's to master should return a 404 status code"
Authenticated requests to master with an invalid URL path should return a non-status 200 response code. Preferably a 404 (not found). Sample output:

HTTP/1.1 200 OK
Content-Type: application/json
Date: Fri, 24 Apr 2015 23:17:52 GMT
Content-Length: 247

{
  "paths": [
    "/api",
    "/api/v1beta1",
    "/api/v1beta2",
    "/api/v1beta3",
    "/healthz",
    "/healthz/ping",
    "/logs/",
    "/me

[2015-04-24 23:30] ghodss commented on #5490
We should make a call on this, at least for the scope of v1 API, and close the issue. My bias is to leave it as is, but if others feel strongly we can change it to a map.

[2015-04-24 23:34] cjcullen commented on #5921
For the examples that use KUBERNETES_RO, would it make sense to create a readonly user/token pair? We'd need to get the policy right to block that user from reading other secrets...

#7101 might make this easier: If we had service accounts, we could just have demos create a "my-demo-sa" service account, and then create a pod that used that service account.

[2015-04-24 23:36] mbforbes commented on #6552
Update: protip: only try to touch `testContext` while within an `It(...)` block; it will even panic other tests you haven't touched if you do this. That was a fun afternoon.

[2015-04-24 23:39] ixdy commented on #6552
You can also use `testContext` from a `BeforeEach`. It seems that using it inside a `Describe` is not safe, however, as these blocks are evaluated before flags are evaluated. In my work to get rid of cmd/e2e I've found several places that use `testContext.RepoRoot` before it's initialized as well.

[2015-04-24 23:46] ghodss commented on #7311
Would one possible approach be to migrate a lot of the logic from kubectl into self-sufficient modules in something like pkg/client/tools?

[2015-04-24 23:50] ghodss commented on #6797
+1. In theory it could be expanded to cli-conventions.md, though I think kubectl operates quite differently than most of our other daemons. But it still may be wise for it to cover other command-line tools besides kubectl, like simplegen, podex, etc.

[2015-04-24 23:51] thockin commented on #5490
There's a PR in flight to add a third field, making this no long
map[string]string eligible.  I say close this as WAI

On Fri, Apr 24, 2015 at 4:31 PM, Sam Ghods <notifications@github.com> wrote:

[2015-04-24 23:52] thockin commented on #7317
heh, this is why I wanted to refactor the mount/unmount/cleanup code - get it right once :)

[2015-04-24 23:57] cjcullen commented on #4957
/subscribe

[2015-04-24 23:58] bgrant0607 commented on #5490
FYI, that PR is #6739.

[2015-04-24 23:58] #5490 closed

[2015-04-25 00:05] vishh commented on #7317
cc @rootfs

[2015-04-25 00:22] lavalamp opened #7322 "Rep. Controller encodes created-by annotation incorrectly"
pkg/controller/replication_controller.go uses ```json.Marshal(createdByRef)``` at one point to record a reference to a pod's creator in an annotation. This is incorrect because it's serializing an unversioned object.

Additionally, the rule should probably be "objects in annotations should be serializied in the same version as the parent object", but it's hard to see how we can enforce that withou

[2015-04-25 00:30] bgrant0607 commented on #7322
Many annotations contain unstructured data, so this is less of a problem for them.

We could create a custom schema to use for such annotations, since this is an "API" to an external system/tool, rather than to Kubernetes components. Making it unstructured isn't really better, though we could use "kind/name" syntax here, which is at least fairly minimal. The only way it would break would be in the

[2015-04-25 00:32] bgrant0607 commented on #7311
@ghodss That's along the lines of what I was thinking, yes.

[2015-04-25 00:46] smarterclayton commented on #7311
The commands should take interfaces directly for their type specific behavior (Reaper, etc) when specific code is required per type.  Those interfaces should be provided by the factory to the cobra initializers, but the Run behavior should take generic options.

An example from Openshift: https://github.com/openshift/origin/blob/master/pkg/cmd/cli/cmd/request_project.go - flag and argument handlin

[2015-04-25 00:50] smarterclayton commented on #5906
For get, you mean?

[2015-04-25 00:50] smarterclayton commented on #5277
I need to do describe and make sure the remaining commands switch to resource builder.

[2015-04-25 01:05] ghodss commented on #6045
Yes, 2. looks much better - most calls are now taking a few milliseconds, although https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/service/endpoints_controller.go#L337 still takes about 200ms, but it's not a big deal atm.

[2015-04-25 01:14] mbforbes commented on #7309
- I always ran `godep save ./...` (I was asking whether `restore` also requires `./...` after it)
- My `Godep.json` has the clause you mentioned

I couldn't resolve this, but in case someone comes across this as well, I just reverted all of the garbage changes above and kept the bit I wanted to add.

For the thing that I wanted to add, It turns out that I was misreading the guide and hadn't correc

[2015-04-25 01:14] #7309 closed

[2015-04-25 01:51] huangqg commented on #7291
Hi @davidopp , any idea?

[2015-04-25 04:06] bearnard commented on #5696
I'm experiencing this too.

Fresh install of vagrant
[code]

[2015-04-25 04:17] bgrant0607 commented on #5906
Hmm. kubectl sort of prints the kind now.

If I create a file, say, with a v1beta3 RC and a service and do `kubectl create -f unified.yaml`, the output is:
[code]
I thought it didn't include the kind, but it does now, except that replicationControllers shouldn't be camelCase, esp. for v1beta3.

[2015-04-25 04:43] roberthbailey commented on #7307
After a bit of poking at the server, I figured out how to verify that the client certificate I'm presenting is accepted by the server:

[code]

Now to figure out how to convince chrome to do this...

[2015-04-25 05:00] roberthbailey commented on #7307
Ok, I figured it out (for the mac at least -- will work on Linux next week). It isn't the most straightforward thing (so we need to make it simpler) but here's what you need to do:

Fetch cert files from the master. These are the same files that are fetched during cluster creation and stored in the `kubeconfig` file, but we want them un-embedded so it's easiest to just do it again:
[code]
Import t

[2015-04-25 05:03] bgrant0607 opened #7328 "Report last resourceVersion seen in status of each object"
It's hard to write race-free clients without knowing whether controllers have observed mutations. Controllers should report the most recent resourceVersion seen in status when they post status. Just returning it in responses (#1184) is not sufficient.

An example problem:
https://github.com/GoogleCloudPlatform/kubernetes/pull/7321/files#r29097446

[2015-04-25 05:04] roberthbailey commented on #7307
Oh, and for this to work you need to pass a new flag to the apiserver so that it knows what CA to trust. I've sent PR #7326 to enable this for GCE.

[2015-04-25 06:02] tanmaybinaykiya commented on #6570
This was a mistake on my part. There was an issue with the ssh key. Fixed it.

[2015-04-25 06:30] TomasTomecek commented on #7250
Thanks @yujuhong! Will try to verify on Monday.

[2015-04-25 08:22] davidopp commented on #7291
Hi. For your first question, you can take a look at defaultPriorities() in
plugin/pkg/scheduler/algorithmprovider/defaults/defaults.go
which lists the default priority policies (the ones that decide which machine to schedule a pod onto when multiple machines meet the requirements). The default policies are LeastRequestedPriority, BalancedResourceAllocation, and ServiceSpreadingPriority. The schedu

[2015-04-25 12:39] derekwaynecarr commented on #7328
Is reporting sufficient or do you need to infer order between versions?  I think to do what you want you need to be able to sort resource version to know if you have seen a more recent value which we have been hesitant to do since they are supposed to be opaque.

Sent from my iPhone

[2015-04-25 15:02] justinsb commented on #6910
@thockin I agree with you that the critical decision is: **AWS-tricks vs cluster-wide-host-posts**.  If we have cluster-wide-host-ports in V1 then AWS ELB can use them.  If not, then we should use AWS-tricks (ELB-per-subnet):  I don't think there's any point implementing cluster-wide-host-ports but then saying this is only for internal use by AWS ELB.

I believe intermediate options are equivalent

[2015-04-25 15:18] smarterclayton commented on #5906
The default resource name output hasn't changed yet, probably due to ordering in latest.RESTMapper.  Will take a look at that.

[2015-04-25 16:47] bgrant0607 commented on #7328
Good point. It may be time to introduce a per-object sequence number.

[2015-04-25 17:09] thockin-cc commented on #6910
I am afk for most of the weekend, but I am coming around on the idea.
Given the proximity to 1.0 I want us to put a fair bit  of energy into
thinking through the design implications before implementing it fully.
Will write some more when I get to a real computer (on phone now).
On Apr 25, 2015 8:02 AM, "Justin Santa Barbara" <notifications@github.com>
wrote:

[2015-04-25 17:48] pmorie commented on #7328
@bgrant0607 @derekwaynecarr if we add a per-object sequence, will we use
that or resourceVersion to get a prior value for an object?
On Sat, Apr 25, 2015 at 12:47 PM Brian Grant <notifications@github.com>
wrote:

[2015-04-25 23:51] thockin commented on #6910
Let's start accumulating issues to be ironed out.

* Will master-allocated service host-ports be the norm?  Or will some
clouds opt-out of this?  e.g. assume a cloud could do direct-to-pod
load-balancing, why risk host port collisions?

* Need a flag on apiserver for service host port range

* What port range to default to?

* What if port range is "" ?

* Error handling when we run out of ports

[2015-04-26 00:28] ArtfulCoder commented on #6910
-  In the future, if we use some open source SDN implementation in kubernetes, we might not use host-ports at all..

-If we have PublicServicePorts as a tuple of IP:port can it work in both scenarios of  (a) direct-to-pod, (b) proxied-via-host. The PublicServicePort tuples would be generated by kubernetes since the IP is not known to the user, and kubernetes would appropriately use host or pod ip.

[2015-04-26 00:28] ArtfulCoder commented on #6910
-  In the future, if we use some open source SDN implementation in kubernetes, we might not use host-ports at all..

-If we have PublicServicePorts as a tuple of IP:port can it work in both scenarios of  (a) direct-to-pod, (b) proxied-via-host. The PublicServicePort tuples would be generated by kubernetes since the IP is not known to the user, and kubernetes would appropriately use host or pod ip.

[2015-04-26 00:36] thockin commented on #6910
I don't get what you are saying?

On Sat, Apr 25, 2015 at 5:28 PM, Abhi Shah <notifications@github.com> wrote:

[2015-04-26 00:41] thockin commented on #6910
API sketch.  I think this is strictly compatible with existing behavior for v1b3 and allows us to kill off user-settable public IPs AND move to a more declarative mode.  Biggish API change for v1.  Will need to clear with @bgrant0607  once we settle on algorithm.  I'd REALLY like to kill publicIPs in v1, or find some other severe mitigation for its shortcomings.

@quinton-hoole @a-robinson @smarte

[2015-04-26 01:12] wgq91here opened #7332 "HTTP Error: statusCode=404 No such image: gcr.io/google_containers/pause:0.8.0"
I installed kubernete 0.14 a week age. Today I update kebernete to 0.15, and pods couldn't up. It was always PENDING.

I checked message and found "HTTP Error: statusCode=404 No such image: gcr.io/google_containers/pause:0.8.0"

<pre>
Apr 26 09:05:57 localhost docker: No such image: gcr.io/google_containers/pause:0.8.0
Apr 26 09:05:57 localhost docker: time="2015-04-26T09:05:57+08:00" level=info m

[2015-04-26 01:39] roberthbailey commented on #7305
We should definitely figure out how to get the local proxy working, but it may also unblock you from testing UI features by configuring your browser to use SSL client certs (instead of using the local proxy). It's a bit manual at the moment (see #7307) but does work.

[2015-04-26 01:48] smarterclayton commented on #6910
Are these strictly nested?  Could an alternate endpoint (network programmer, floating proxy) besides the Kube proxy handle those?

Need a separate resource to gate this so someone can use the API to set this (cloud provider outside of apiserver).

Load balancer IP assume?

Does this cover Neil's pull request on external ips?

[2015-04-26 03:29] thockin commented on #5180
Yeah, moving IP assignment to be async is probably the best way to handle
multi-master (or use etcd directly?).  That shouldn't matter to kube-proxy
(the wait stream will just have more events)

On Fri, Apr 17, 2015 at 5:30 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-04-26 03:32] thockin commented on #1607
I think headless means "don't give me a portalIP because I can't use it"

On Wed, Apr 8, 2015 at 6:17 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-04-26 03:57] smarterclayton commented on #1607
Or I prefer to be addressed by my endpoints directly?  Either way, I think services with portals are a subset of all portals, and it seems like all that changes with a portalIP is that your default DNS name resolves differently.

[2015-04-26 04:41] thockin commented on #6910
I first wrote it assuming they were strictly nested, but I don't know that they have to be.  The two proposed here would be, but I see no reason to assume that forever.

Damn, good point.  This essentially is another form of binding, and mimics the pod -> scheduler -> node and claim -> bind -> PersistentVolume patterns.  That a) indicates correctness (convergent evolution) and b) makes this all mo

[2015-04-26 07:05] davidopp commented on #1768
/subscribe

[2015-04-26 14:26] abonas opened #7333 "REST api - wrong field 'id' instead of 'name' specified in error message"
When accessing a non existing entity (example - namespace), the message specifies the requested field as 'id', but it should be 'name'.

Example (see the details section)
{
  "kind": "Status",
  "apiVersion": "v1beta3",
  "metadata": {},
  "status": "Failure",
  "message": "namespaces \"staging\" not found",
  "reason": "NotFound",
  "details": {
    "id": "staging",
    "kind": "namespaces"
  },

[2015-04-26 15:05] grigio commented on #3359
I get this error in a Linux host and vagrant, maybe it's releated to this
[code]

[2015-04-26 15:28] smarterclayton commented on #6910
Could make the set in spec be a request, but the load balancer doesn't have to honor it (status load balancer ips are authoritative, spec are desired)?  We don't really have a good separation point here other than a separate resource (and tbh, it's not bad to have a separate representation like binding as long as the roles who do it really are different).

[2015-04-26 15:36] smarterclayton commented on #5180
The use etcd directly seems complex in terms of code (have an object that represents the allocation state and do a CAS to apply it).  Allocation state is either a bit array (w/ bloom filter?) or a more compact representation (prefix tree) stored in etcd.  Could shard in the future.

The simple singleton controller approach on the other hand is really simple, but races in ha are very dangerous (the

[2015-04-26 15:52] thockin commented on #5180
Other than HA, what impetus is there for moving it out of line?
On Apr 26, 2015 8:37 AM, "Clayton Coleman" <notifications@github.com> wrote:

[2015-04-26 15:58] smarterclayton commented on #5180
That's the primary reason on my end.  And architectural purity, but purity and $3.25 will get you a cup of coffee.

[2015-04-26 16:03] satnam6502 commented on #7305
I looked #7307 but I don't think

[2015-04-26 16:03] #7305 closed

[2015-04-26 16:59] #6570 closed

[2015-04-26 18:00] thockin commented on #6910
I thought about the use of status, but I don't think we want every node
making a cloud-provider API call for every service every few seconds.

On Sun, Apr 26, 2015 at 8:29 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-04-26 18:31] smarterclayton commented on #6910
Why would they have to do that?  I thought that would be a controller doing that assignment / allocation (which sounds like binding when said like that).

[2015-04-26 20:32] ghodss opened #7335 "Update CONTRIBUTING.md to include slightly more detail"
Some questions I had:

* If a PR comes in from an outside contributor, is the standard procedure for one maintainer to look at it, or two? Is there something that determines this?
* What does the LGTM GitHub label mean? When is/isn't it used?

[2015-04-26 20:34] ghodss commented on #7335
* How do those one or two maintainers relate to the Assignee? Is the Assignee of an outside PR expected to merge, or to mark LGTM and someone else merges?

[2015-04-26 22:00] pmorie opened #7337 "Fuzzer should be aware of API defaults"
Currently the fuzzer does not apply the defaulting functions, which means that any defaulted fields need to be specially fuzzed to avoid a diff when an object is round-tripped.  The fuzzer should apply the defaulting functions and we should take out the custom fuzzing handlers that exist solely to fuzz default fields.

[2015-04-27 00:25] ghodss opened #7339 "kubectl should expand ~ into home directory"
On my Mac:

[code]

[2015-04-27 01:29] ghodss opened #7340 "Pod vanishes when Spec.Host is prefilled with NotReady node"
If I create a pod with a pod.Spec.Host prefilled to a hostname that's listed as NotReady in `kubectl get nodes`, the pod is created successfully but then disappears completely. (Also, no events are logged relating to that pod.) It seems that the pod should remain in the database, but in some kind of unrunnable state, for two reasons: you probably want that pod to run whenever the host is in a Read

[2015-04-27 02:13] wgq91here commented on #7332
<code>
[root@localhost ~]# ping gcr.io
PING gcr.io (74.125.204.82) 56(84) bytes of data.
64 bytes from 74.125.204.82: icmp_seq=1 ttl=46 time=78.6 ms
64 bytes from 74.125.204.82: icmp_seq=2 ttl=46 time=78.3 ms
^C
--- gcr.io ping statistics ---
2 packets transmitted, 2 received, 0% packet loss, time 1001ms
rtt min/avg/max/mdev = 78.312/78.462/78.612/0.150 ms
[root@localhost ~]# docker pull gcr.io/go

[2015-04-27 02:25] alexanderguzhva opened #7341 "no endpoint is created for a service"
Trying to k8s-ize a very simple rc + service, basically, a simple dockerized java app that listens on  0.0.0.0:8080 with an std attached debugger on port 19000. K8s service does not get an endpoint somewhy. Maybe, it is an expected behavior, but I could not find anything related in docs. A sample from examples/storm/ works fine for both zookeeper and storm

rc.yaml
[code]

service.yaml
[code]

Doc

[2015-04-27 02:48] roberthbailey commented on #7332
/cc @mattmoor

[2015-04-27 03:00] mattmoor commented on #7332
Can you curl https://gcr.io/v1/_ping from the machine?

Where is this running?  What version of Docker?

[2015-04-27 03:20] wgq91here commented on #7332
<pre>
[root@localhost ~]# curl https://gcr.io/v1/_ping
true
</pre>
OK. It is RUNNING.

[2015-04-27 03:44] thockin commented on #6910
User posts `Service { spec: { visibility = "public", loadBalancers = [ "1.2.3.4" ] } }`, controller posts `Service: status: { loadBalancers = [ "5.6.7.8" ] }` - it feels like an abuse of the API.  By the status principle, we could lose the Status object and recover it - from where?  Will we ever respect the user request (e.g. a request for a static IP on their LB)?  If they ask for something they

[2015-04-27 03:45] roberthbailey commented on #4500
Is this still a problem? Or can we close this issue now?

[2015-04-27 04:03] thockin commented on #7341
On Sun, Apr 26, 2015 at 7:25 PM, Alexander Guzhva
<notifications@github.com> wrote:

...

...

Each of the pods created will get these labels...

...

...

Your service is looking for pods with this label.  This label is not
one of the labels you applied to your pods, so the selector selects
nothing.

[2015-04-27 04:06] thockin commented on #6910
@thommay - we're trying to build a grand unified theory of load balancers.

[2015-04-27 04:18] roberthbailey commented on #128
I did a quick audit of the `cluster/` directory to see where I could find places that we are fetching grab resources over the internet and found the following:

In build scripts (Makefiles / Dockerfiles):
 1. https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/images/hyperkube/Makefile#L6
 1. https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/addons/fluentd-ela

[2015-04-27 04:21] roberthbailey commented on #4114
Has anyone seen this recently? If not, we should close as obsolete.

[2015-04-27 04:22] roberthbailey commented on #2114
Is this necessary for v1.0?

[2015-04-27 04:31] roberthbailey commented on #6282
Fixed by #7096.

[2015-04-27 04:31] #6282 closed

[2015-04-27 04:33] roberthbailey commented on #6072
I think this may end up being fixed as a side-effect of my PR to have nodes self register (#6949). As part of that change, I recompute the node addresses on each status update.

[2015-04-27 04:34] roberthbailey commented on #5962
@ArtfulCoder was this fixed by #6417?

[2015-04-27 04:36] roberthbailey commented on #5339
@nikhiljindal if you can confirm that this isn't a problem with v1beta3 (which is now the default api version), I'm happy to close as obsolete.

[2015-04-27 04:48] ArtfulCoder commented on #5962
yes, PR #6422

[2015-04-27 04:48] #5962 closed

[2015-04-27 04:55] roberthbailey opened #7345 "Fetch fluentd td agent securely"
`toolbelt.treasuredata.com` doesn't serve over SSL but is used as the source of the fluentd td agent for ubuntu (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/fluentd-es-image/Dockerfile#L24). We should find a source for the agent that can be fetched securely when building the fluentd elastic search docker image.

[2015-04-27 04:55] roberthbailey commented on #7345
Split off of #128.

[2015-04-27 05:03] roberthbailey opened #7347 "Fetch coreos_production_qemu_image.img.bz2 securely"
`alpha.release.core-os.net` doesn't have a valid SSL certificate (it looks like it's a GCS bucket since https://www.ssllabs.com/ssltest/analyze.html?d=alpha.release.core-os.net says that I should be using a `*.storage.googleapis.com` domain name). We should find a source for the image that can be fetch securely.

[2015-04-27 05:03] roberthbailey commented on #7347
Split off of #128.

/cc @lhuard1A since I can't assign this to you directly.

[2015-04-27 05:19] roberthbailey opened #7348 "Fetch debian packages securely"
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/configure-vm.sh#L295-L296 made me look at the `/etc/apt/sources.list` file and I noticed there and in our startup script that we are fetching all of our debian packages from http://gce_debian_mirror.storage.googleapis.com rather than https://gce_debian_mirror.storage.googleapis.com and http://security.debian.org rather than

[2015-04-27 05:19] roberthbailey commented on #7348
Split off of #128.

[2015-04-27 05:20] roberthbailey commented on #128
The intra-cluster audit was covered in #129 and I've done an audit over cluster initialization scripts here and sent PRs to fix a couple of easy cases and filed separate bugs for the remaining occurrences. Marking this issue as fixed.

[2015-04-27 05:20] #128 closed

[2015-04-27 06:04] nikhiljindal commented on #5339
Yes. This is a v1beta1 only issue.
Closing.

[2015-04-27 06:04] #5339 closed

[2015-04-27 06:11] Carrotzpc opened #7349 "How can I get all the events of a pod?Events have no labels or fields."
[code]

[2015-04-27 06:14] Carrotzpc commented on #7349
I have to get events through namespace.

[2015-04-27 06:50] wgq91here opened #7350 "unassigned HOST"
<pre>
[root@localhost ~]# kubectl get pods
POD                              IP            CONTAINER(S)    IMAGE(S)        HOST                              LABELS                          STATUS    CREATED
apache-master-controller-8zyrs   172.17.0.5    apache-master   fedora/apache   master-6-122-vhost/192.168.99.1   app=apache,name=apache-master   Running   14 minutes
apache-master-controller-pmn

[2015-04-27 07:10] wgq91here commented on #7350
Sorry. May be i wrong. Contains used same port.

[2015-04-27 07:18] Carrotzpc commented on #7349
I found that I can get events through  ```fieldSelector ```.
eg.```{"fieldSelector ": "involvedObject.name=podName"}```

[2015-04-27 07:24] piosz opened #7351 "Implement "machine shutdown""
As @davidopp wrote:
(1) Operator does "kubectl stop node" or "kubectl delete node" I just tested these and neither does anything on GCE; the first one gives an error "no reaper has been implemented for "Node"" and the second one claims to work (prints node name in response, gives no error) but nothing happens (node is still there, pod is still running, etc.)

(2) Operator deletes the VM instance.

[2015-04-27 08:18] njuicsgz opened #7352 "the command of readiness for type exec does not work"
## Description
The readinessProbe does not work as httpGet. I checked the kubelet log and found Probe() function in probe.go has not been called. Am I wrong in anywhere?

[code]

[code]

But it really works when I changed "exec" to "httpGet" like this:
[code]

[2015-04-27 09:06] gmarek commented on #5774
@hurf - what's the status of this?

[2015-04-27 09:09] hurf commented on #5774
@gmarek - My work on this has been interrupted by other stuff, but this week I have just gone back to this, I will finish it and submit a patch ASAP.

[2015-04-27 09:29] fgrzadkowski commented on #6514
Several improvements have been made including #7107 and #7288 (still in review). I still observe latency above 1s, but CPU usage is much lower (probably it's worth to investigate what is our next bottleneck). Let me look into this more carefully and update the current state.

[2015-04-27 10:08] simon3z commented on #7322
@lavalamp @bgrant0607 I thought that `apiVersion` in `kubernetes.io/created-by` was enough for versioning:

    - apiVersion: v1beta3
      kind: Pod
      metadata:
        annotations:
          kubernetes.io/created-by: '{"kind":"ReplicationController","namespace":"default","name":"nginx-controller","uid":"b47063a8-e8e3-11e4-8646-525400c903c1","apiVersion":"v1beta3","resourceVersion":"40136"}'

[2015-04-27 11:54] analytik commented on #7292
When I run the commands from master branch today -
[code]
I get status Ready, and predictably, kubelet and proxy are running v0.14.2, and controll/schedule/apiserve are v0.14.1.

I still can't get the example to run, and get this error:
[code]

[2015-04-27 12:17] wojtek-t commented on #6678
Since @fgrzadkowski is currently working on adding some cache to apiserver, I'm reassigning this issue to him.

[2015-04-27 12:26] wojtek-t commented on #7216
@quinton-hoole My understanding for what we should do here is:
1. build histogram of events (bin by reason or reason+source)
2. fail the test if there are more than X failures if any category.
3. Check container statuses once all of them are started.
I don't think it makes sense to create a separate issue for those

Another thing mentioned here is to create more sophisticated tests, but I think it

[2015-04-27 12:37] smarterclayton commented on #6910
----- Original Message -----

I wasn't thinking about user requests as much as admin requests.  It's extremely likely admins in small shops will directly manage these endpoints.  So it doesn't have to be status, it just has to be something that an administrator can choose to enable for themselves (and the programmatic components on top) without giving to all users.

I think it should, though.  Jus

[2015-04-27 12:41] wgq91here commented on #7350
<pre>
[root@localhost ~]# kubectl get pods,service,rc
POD                              IP           CONTAINER(S)    IMAGE(S)        HOST                              LABELS                          STATUS    CREATED
apache-master-controller-nqdqv   172.17.0.6   apache-master   fedora/apache   c1-6-123-vhost/192.168.99.2       app=apache,name=apache-master   Running   5 hours
apache-master-controll

[2015-04-27 12:57] gmarek opened #7355 "ResourceRequest Limits does not work as described"
The API v3 says that:
[code]

But in our scheduler implementation we use:
[code]

This means that in practice we use Limits as an amount used by the Scheduler to see if Pod fits the Node (i.e. we use it as ```Request``` should be), and we don't use ```Requests``` in any meaningful way.

For obvious reasons this is confusing, and we should fix that by either removing ```Requests``` from API and cha

[2015-04-27 13:42] #7234 closed

[2015-04-27 13:42] rrati commented on #7234
Closed by #7235

[2015-04-27 14:18] madis opened #7359 "kube-dns pod forever pending on Amazon EC2"
After setting up clean cluster on Amazon with ```MINION_SIZE="t2.small" NUM_MINIONS=3 ./cluster/kube-up.sh --api-version="v1beta3" ``` the kube-dns pod remains in *pending* state and its containers in *waiting* state.

I'm willing to provide more information or help in debugging, all in the name of getting the kubernetes working for me and others.

*get pods output:*

[code]

Version info:
[code]

[2015-04-27 14:22] plamer opened #7360 "NFS Storage Volume gets deleted on pod delete"
Environment:
CentOS 7 x64

On the master node:

    kubectl get pods

    POD       IP            CONTAINER(S)   IMAGE(S)       HOST                          LABELS    STATUS    CREATED
    nginx     172.17.0.62   nginx          nginx:latest   centos-minion/xx.77.xx.212   <none>    Running   14 seconds

NFS when starting pod:

    ll /data/nginx/index.html
    -rw-r--r-- 1 root root 4 Apr 27 17:15

[2015-04-27 14:27] markturansky commented on #7360
Similar to the bug reported recently for gluster https://github.com/GoogleCloudPlatform/kubernetes/issues/7317

Thanks for submitting this.

[2015-04-27 14:45] derekwaynecarr commented on #7355
If limits are specified, they need to always take precedence over ```Requests```.  I think ```Requests``` right now is only used for persistent volume storage sizes.

[2015-04-27 14:51] smarterclayton commented on #1743
Here's our example v1beta3:

[code]

[2015-04-27 15:11] smarterclayton commented on #7111
Some other points to make clear:

* I think we should distinguish `runtime.Object` from `runtime.VersionedObject`
  * I think we should add methods for getting Kind from a runtime.Object and methods for getting Kind and Version from runtime.VersionedObject
  * We have cases today where a Kind is exposed as multiple names - however, for unversioned internal objects there is the primary name in the

[2015-04-27 15:24] ironcladlou commented on #1743
There are a few use cases related to failure handling which we want to account for:

1. Stopping an in-progress deployment. This intent could be expressed using a boolean annotation on the RC.
  1. Does this imply a new phase (e.g. Stopped)?
2. Continuing a stopped deployment. Expressed by the same boolean from 1.
3. Retrying an existing deployment. This could be expressed by an endpoint which sim

[2015-04-27 15:45] zmerlynn commented on #7028
This should've been closed along with #5666 / #6930.

[2015-04-27 15:45] #7028 closed

[2015-04-27 15:47] zmerlynn commented on #7351
We recently tested reboot, which is different but similar. (See #5666, #7051)

[2015-04-27 15:59] satnam6502 commented on #7332
Sorry @zmerlynn i should have just cc-ed you rather than assigning to you.

[2015-04-27 16:10] kbeecher commented on #5933
I have written some code that I think should cover points 1 & 2 in your task breakdown. I expected that my changes would add a DELETE operation at the collection level in the swagger UI, but they haven't.

Could I somehow share the WIP with you to see if I'm missing something? If so, what would be best? A PR?

[2015-04-27 16:10] thockin commented on #7355
I agree that the comment is worded badly, but the description makes more
sense to me.  In the PersistentVolume discussion, I argued this same point
- Limit was the wrong field to start with.   I can not find the notes on
the discussion, but maybe Brian's bear-trap memory will bring it back to
light.

On Mon, Apr 27, 2015 at 7:46 AM, Derek Carr <notifications@github.com>
wrote:

[2015-04-27 16:11] smarterclayton commented on #7111
Also, we should consider adding the API prefix to the API version (or allowing it be optional)

[2015-04-27 16:14] thockin commented on #7359
kubectl get events?

Can you run other pods successfully?

Can you SSH into ip-172-20-0-11.us-west-2.compute.internal and try 'docker
pull gcr.io/google_containers/skydns:2015-03-11-001` ?

On Mon, Apr 27, 2015 at 7:19 AM, Madis Nõmme <notifications@github.com>
wrote:

[2015-04-27 16:28] zmerlynn commented on #7302
Which build was that? That's the output of https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/validate-cluster.sh, which actually does several retries.

[2015-04-27 16:32] markturansky commented on #7355
Here's one bit of that conversation: https://github.com/GoogleCloudPlatform/kubernetes/pull/4055#discussion_r25713050

[2015-04-27 16:34] markturansky commented on #7355
A more recent one:  https://github.com/GoogleCloudPlatform/kubernetes/pull/5105#discussion_r25985655

It can be difficult to piece together an entire conversation on github.

[2015-04-27 16:41] thockin commented on #6910
By "something else" you mean a new resource, right?  We don't have any way to say "identity X can access field F, but identity Y can not", AFAIK.  But boy that would make this easier.

Yeah, at this point it probably should. @a-robinson any thought here, since you did the async work?

[2015-04-27 16:43] pmorie commented on #6354
@mfojtik Looks like #6739 will be merged; I think this can be closed.

[2015-04-27 16:46] thockin commented on #7355
So my comments there were about Request.  I think Request is correct.

On Mon, Apr 27, 2015 at 9:35 AM, Mark Turansky <notifications@github.com>
wrote:

[2015-04-27 16:47] pmorie opened #7365 "Downward API for service environment vars"
Forking from discussion on #6739

We should be able to set environment vars for service information using the downward API mechanism from #6739.  Since services are not local to the object, we need a way to specify them in the API.  How about:

[code]

This will definitely lurch us closer to a full `ObjectReference`.

@thockin @bgrant0607 @smarterclayton

[2015-04-27 16:49] thockin commented on #7341
@alexanderguzhva please confirm this fixes your problem?

[2015-04-27 16:50] jlowdermilk commented on #7286
Calvin, can you post the contents of config.json, and the schema of the original rc? There are some [requirements](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/kubectl_rolling-update.md#synopsis) for the schema when providing a target from file, which may not be met.

[2015-04-27 16:50] thockin commented on #7365
Quoting myself:

Services wanders into a whole different discussion - the pre-declaring
service-deps topic.  I don't yet have an opinion as to whether we should
have an env var source way to do this, but I do think it is more
complicated that you have listed here.

Service have multiple ports - do I have to call out each one I want?  How
do I express named ports, rather than indexed? etc.

On Mon,

[2015-04-27 16:53] smarterclayton commented on #6910
We don't, and it's fairly hard to do because update has to handle changed fields.  So for now we have to have a sub resource.

[2015-04-27 16:55] zmerlynn commented on #7256
1.a. SaltStack is an implementation detail of how we're enacting configuration. Can we do this slightly more conceptually now that we have the node upgrade daemon rather than discussing Salt itself? I really don't want to ssh in and call Salt, even though I think your efforts there are awesome. And I think we can pull this off and test the daemon end to end. It should actually be possible to tickl

[2015-04-27 16:57] smarterclayton commented on #7365
To that question - how does anyone do simple service discovery with multiport services today (answer, they don't).  I think of env injection as enabling simple cases (why am I hardcoding ports in my config files) vs necessarily being infinitely useful.  So "first port" or "named port" or "port by index" are probably descending levels of importance (referencing a port by its index makes me shudder

[2015-04-27 17:01] thockin commented on #7365
I agree that port discovery is less important than IP discovery, but we
have DNS and we have teh relatively agnostic FOO_SERVICE_HOST env vars.  Do
we really need more complexity?

On Mon, Apr 27, 2015 at 9:57 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-04-27 17:02] yujuhong commented on #4500
Some bugs were discovered and fixed, but in general, timeouts are still a problem in integration tests.

We can close this one though because there are other issue (#6651) tracking problems like this. #6651 is currently blocked on a reflector benchmark to stress test the watch performance.

[2015-04-27 17:02] #4500 closed

[2015-04-27 17:03] lavalamp commented on #7322
@simon3z confusingly, that apiVersion is the version of the thing that the ObjectReference refers to, not of the ObjectReference itself...

[2015-04-27 17:10] zmerlynn commented on #7256
I think the fastest way to get to #2 is actually to draw a line in the sand and say that version X (say 0.16, or 0.20, whatever) is the version past which we're going to support upgrades. After that, you literally just keep a checked in version number that you start the test at, do work there, then upgrade to latest.

You're definitely going to want some form of upgrade soak test (your 2b). You ma

[2015-04-27 17:11] derekwaynecarr commented on #5933
A PR marked WIP works, and just mention me to take a look.  I will try it out and give some feedback.

[2015-04-27 17:17] rrati commented on #7216
I'm working on item #3.  Should have  a push ready soon

[2015-04-27 17:18] bprashanth opened #7369 "Make rc manager more responsive to unexpected adds/deletes"
Currently the rc manager will not respond to unexpected pod creates/deletes till all the creates/deletes it has sent to the apiserver have been observed by the reflector, or a timeout occurs. There are situations where we could land up with:
* Rc goes to sleep till it sees 1 add
* One pod gets deleted <- we want the rc to wake up here
* One pod is created <- rc really wakes up here

The easy way a

[2015-04-27 17:34] sdodson opened #7370 "iptables invocations fail if another process is modifying iptables rules"
If another process is altering iptables rules at the time k8s attempts to add iptables rules it will fail with a locking error. k8s should use -w and retry after a delay.

Below, an external process (openshift-sdn-node) modifies iptables at roughly the same time and k8s fails without retrying.

[code]

Related to https://github.com/openshift/origin/issues/1922

[2015-04-27 17:36] sdodson commented on #7370
Sorry, I misunderstood the -w flag, with it retry logic wouldn't be necessary as it'd wait. Perhaps simply retrying is a better solution as -w flag may not exist everywhere we'd like.

[2015-04-27 17:36] nikhiljindal commented on #7308
I believe https://github.com/GoogleCloudPlatform/kubernetes/pull/7170 should fix this.

cc @simon3z

[2015-04-27 17:37] PeterLamar opened #7371 "Guestbook-go vagrant, no IP's in final step"
Following the getting started instructions using vagrant, I get 0 IPs in the final step. How do I access the guestbook from the host?

$ cluster/kubectl.sh get services guestbook -o template --template='{{index . "publicIPs"}}'
current-context: "vagrant"
Running: cluster/../cluster/vagrant/../../cluster/../_output/local/bin/darwin/amd64/kubectl get services guestbook -o template --template={{index

[2015-04-27 17:37] quinton-hoole commented on #7216
@wojek-t SGTM

[2015-04-27 17:48] sdodson commented on #7370
Looks like -w was added to iptables 1.4.20(August 2013).

[2015-04-27 17:55] calvinmetcalf commented on #7286
running `gcloud alpha container kubectl create -f - < config.json` works, I was interpreting the error message that it though - was a rc

[2015-04-27 18:00] bgrant0607 commented on #7365
There's quite a bit of discussion on service downward API in #1768.

[2015-04-27 18:03] jlowdermilk commented on #7286
`kubectl create -f - < file.json` will work for **any** object schema file. I.e, that is the same command you use to create a pod|service|replicationcontroller from file. The type being created is determined by the contents of the file. Looking back at the code, the error you saw indicates that config.json does not contain a replicationcontroller spec. If you can create it, that must mean it's som

[2015-04-27 18:05] rrati opened #7374 "Verify no containers fail in density tests"
As discussed in #7216

[2015-04-27 18:06] mbforbes opened #7376 "Monit dies trying to revive Docker; master borked"
The cluster I created on Friday (at head) was running over the weekend, and when I tried to talk to it this morning, I couldn't.

[code]

SSH'ing into the master, I couldn't hit `/validate`

[code]

and Docker isn't running

[code]

and neither is monit

[code]

so what happened to monit?

[code]

@zmerlynn  found [where this happens](https://github.com/renard/monit/blob/master/src/spawn.c#L152) i

[2015-04-27 18:11] roberthbailey commented on #7351
I can't speak to how this works today, but I actually did this test over the weekend by deleting a node from the MIG by just resizing the MIG on my e2e cluster from 2 nodes to 1 node. I didn't get to pick which node was replaced, but one of them went away.

I was running this test against #6949 to see what happens and I observed that (after my change) the NodeController saw the Kubelet go from Rea

[2015-04-27 18:19] swagiaal commented on #7360
I'll look into this

[2015-04-27 18:37] wojtek-t commented on #7216
@rrati - cool thanks. Please cc me to your PR when it's ready.

[2015-04-27 18:38] rrati commented on #7374
@wojtek-t

[2015-04-27 18:41] a-robinson commented on #7376
I haven't thought much about this, but it may be related to Docker being slow at restarting?
https://github.com/docker/docker/issues/11181

As a side note, it seems like pretty poor design that monit dies if it fails to restart something.

[2015-04-27 18:47] a-robinson commented on #7349
@Carrotzpc, does using fieldSelector solve your problem?

[2015-04-27 18:57] a-robinson commented on #7359
How long did the pods remain in this state? I wouldn't expect image pulls from AWS to be broken...

[2015-04-27 19:01] lavalamp commented on #6023
This is fixed now.

[2015-04-27 19:01] #6023 closed

[2015-04-27 19:01] a-robinson commented on #7350
Can you talk to the pod directly on http://172.17.0.3:80?

If not, can you give more detail about where the cluster is running and how you set it up? Kubernetes networking can vary quite a bit in different environments.

[2015-04-27 19:02] yujuhong commented on #7349
You should be able to use `kubectl describe pod <pod_name>` to see all the events associated with the pod.

[2015-04-27 19:02] calvinmetcalf commented on #7286
yes I need to clean it up first

[2015-04-27 19:03] nikhiljindal commented on #7333
Yes. We should rename "id" to "name" in StatusDetails: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta3/types.go#L1357

Not sure if we can change v1beta3 API now.
cc @bgrant0607

[2015-04-27 19:05] lavalamp commented on #7355
I don't think this is a 1.0 blocker.

[2015-04-27 19:13] derekwaynecarr commented on #7355
I think the problem right now is we have no way of enforcing ```Requests``` in the Kubelet right now via the Docker resource controls since it only allows for hard limits.

In the near term, we could look to do the following:

1. Validate that container.resources.requests is <= container.resources.limits for each specified key
2. Scheduler should merge container.resources.requests with container.r

[2015-04-27 19:14] roman-shuhov opened #7378 "ENV variables inside pods don't update afer the service restart"
I have a redis service

    redis-managed   name=redis-managed  name=redis-managed   10.100.62.203    6379

and inside of every pod i see the list of environment variables for it:

    env  | grep MANAGED

    REDIS_MANAGED_PORT_6379_TCP=tcp://10.100.62.203:6379
    REDIS_MANAGED_SERVICE_PORT=6379
    REDIS_MANAGED_SERVICE_HOST=10.100.62.203
    REDIS_MANAGED_PORT=tcp://10.100.62.203:6379
    REDI

[2015-04-27 19:16] BenTheElder commented on #3760
I just want to say that I'm very happy to say that my proposal has been accepted and that I will be working on this over the summer. :smiley:

I'm very excited. Unfortunately I'm in the midst of my finals right now, but starting sometime this weekend  I should be on a lot more and working on it, most likely starting with getting https://github.com/GoogleCloudPlatform/kubernetes/pull/7032 finished.

[2015-04-27 19:31] djvirgen commented on #7122
I'll be taking a look at some of the P0's (I'm a friend of @preillyme)

[2015-04-27 19:31] preillyme commented on #7122
Thanks @djvirgen

[2015-04-27 19:32] brendandburns commented on #3853
Moving this out of 1.0, as I believe any related issues are covered by performance metrics elsewhere.

[2015-04-27 19:34] childsb commented on #7317
I went back to commit 841a8a498be059aa1ed71185443476d6b4808f91 (the original merge for glusterfs volume) and couldn't replicate the bug.

after updating to HEAD i could replicate.  so something changed between first merge and HEAD causing issue.

[2015-04-27 19:40] quinton-hoole commented on #6910
On Mon, Apr 27, 2015 at 9:42 AM, Tim Hockin <notifications@github.com>
wrote:

FYI, I've also been thinking along the lines of separating services from
external load balancers.  Still formulating concrete thoughts though.  They
feel somewhat like persistent volumes, which can be created independently
of pods (possibly by an administrator), and then bound to pods.  Substitute
"ELB" for "persistent

[2015-04-27 19:45] brendandburns commented on #6359
Removing this from v1.0

[2015-04-27 19:47] thockin commented on #7378
This is partly why environment variables are a bad idea, and it's why we have DNS support.  You can not update env variables without killing and restarting your pods.

Two bits of advice: First, don't bring a service down once you have a pod using it.  Second, use DNS instead of env vars.

I'm going to close this - it's "working" as expected, even if it is not ideal.  If you think there's more we

[2015-04-27 19:47] #7378 closed

[2015-04-27 19:52] thockin commented on #7333
You can add a new field and fill in both, and MAYBE remove ID in v1

On Mon, Apr 27, 2015 at 12:03 PM, Nikhil Jindal <notifications@github.com>
wrote:

[2015-04-27 19:54] piosz commented on #6804
Increasing priority since it is prerequisite for #7091

[2015-04-27 19:54] dchen1107 commented on #3853
Besides performance metrics, a little bit more status updated on this:

1) Done: All master components are running in a Pod, including etcd server
2) Done: All master pods' stats are collected by cAdvisor
3) Done: cAdvisor now reports system OOM events to kubelet, which is running on master node too.
4) Done: A pending PR on reporting OOM events to upstream layers
5) Pending: @vishh is working on

[2015-04-27 19:57] lavalamp commented on #5745
To answer my own question: Yes, 10 seconds sounds totally reasonable. I think this is working now, and the parts that aren't perfect are covered by other issues.

[2015-04-27 19:57] #5745 closed

[2015-04-27 19:58] thockin commented on #7370
Yeah, we have to be pretty back-compatible with iptables.  We always retry
after a few seconds - is there really a bug here?

On Mon, Apr 27, 2015 at 10:49 AM, Scott Dodson <notifications@github.com>
wrote:

[2015-04-27 20:05] calvinmetcalf commented on #7286
[code]

[2015-04-27 20:05] brendandburns commented on #1535
@bgrant0607 says "Everything for 1.0 in this issue is done" so I'm removing from 1.0

[2015-04-27 20:06] roman-shuhov opened #7381 "Issue when adding new minions to the cluster"
Hi,

I'm with kubernetes cluster in aws.

I faced the issue with adding new minions to the cluster

    kubectl get minions

    NAME        LABELS    STATUS
    10.0.0.12   <none>    Ready
    10.0.0.13   <none>    Ready
    10.0.0.14   <none>    Ready
    10.0.0.15   <none>    Ready
    10.0.0.18   <none>    Ready
    10.0.0.19   <none>    Ready
    10.0.0.20   <none>    Ready
    10.0.0.21   <n

[2015-04-27 20:06] brendandburns commented on #2971
Kicking this into 1.0 bubble.

[2015-04-27 20:06] lavalamp commented on #6562
Changing assignee since @bprashanth is actually working on this.

[2015-04-27 20:09] lavalamp commented on #5650
Last update is 20 days old. Please reopen if you can still reproduce.

[2015-04-27 20:09] #5650 closed

[2015-04-27 20:11] a-robinson commented on #7371
We discussed this a bit on IRC -- let me know if nothing I suggested there works out or if you need help with any of it.

I'm going to take this issue to mean that we need to improve the example to make it clear what to do if you're running vagrant, and I'll work on that when I have some spare time.

[2015-04-27 20:20] a-robinson commented on #7371
And for future reference, the ideas from IRC are:
a) Put the minions' IPs into the service's `publicIPs` field
b) Use [kubectl proxy](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/kubectl_proxy.md) to talk to the service through the master.
c) Don't worry about the service, just hit the pod IP directly

Using c is certainly easiest if you're just messing around to get a feel f

[2015-04-27 20:31] a-robinson commented on #7381
Thanks for the extra details! How did you go about adding the new nodes? It's very possible that all the necessary routes didn't get added.

Check out how an AWS cluster is spun up from scratch, with a range of IPs assigned to each node and routes added between them: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/aws/util.sh#L566

[2015-04-27 20:37] brendandburns commented on #3339
This seems to be done.  I'm closing.  @dchen1107 feel free to re-open if there are remaining issues.

[2015-04-27 20:37] #3339 closed

[2015-04-27 20:49] ArtfulCoder commented on #6910
@thockin You mentioned about binding kube-proxy to localhost only. Isn't this a problem on older kernels where iptables cant be used to DNAT to a local address ?

[2015-04-27 20:56] dchen1107 commented on #3137
I talked to @saad-ali last week and he is interested on helping with this.

[2015-04-27 21:06] roman-shuhov commented on #7381
Yeah, it's probably didn't create routes for new minions

Do you want me to manually run this commands for every minion? Or is it possibleto fix that with master restart?

[2015-04-27 21:07] derekwaynecarr opened #7385 "Unable to bring up a vagrant cluster"
The kube-apiserver pod reports the following when viewing the docker logs:

[code]

[2015-04-27 21:11] davidopp commented on #1625
We had a meeting today and there was concern that we don't have enough instrumentation for root causing problems. I'll take a look at this and then @a-robinson @lavalamp and myself can meet to discuss.

[2015-04-27 21:15] PeterLamar commented on #7371
Thanks again for your help! The cluster/kubectl.sh update -f foo.yaml &cluster/kubectl.sh get service frontend --output > foo.yml commands are really useful. I set the public IP in the service, but still cannot reach it from my host web browser. I keep looking into it and seeing if I can spot something.

[2015-04-27 21:16] pires opened #7389 "skydns doesn't list or expose TCP/UDP 53"
[code]

[2015-04-27 21:16] a-robinson commented on #7381
I can't say for sure if creating the routes will be enough, but it would be a good start.

Adding new nodes isn't something that's officially supported yet, so there may be other bumps along the way. On the plus side, work on making it reliable is almost done for GCE (e.g. #6949), so AWS shouldn't be far behind.

[2015-04-27 21:25] davidopp commented on #4855
@bgrant0607 I'm interested in this topic, so if you want to start planning this before 1.0 please loop me in.

[2015-04-27 21:26] #7385 closed

[2015-04-27 21:27] roman-shuhov commented on #7381
understood, thanks

[2015-04-27 21:29] dchen1107 commented on #4855
cc/ @saad-ali

[2015-04-27 21:30] alex-mohr commented on #3936
We'd like to see the open issues go to zero, so we need to decide what the criteria are to close this issue for v1.  Are there specific work items?

[2015-04-27 21:34] pires commented on #7389
Here's `skydns` logs
[code]

Yet, I enter the container and
[code]

No 53 ports anywhere.

[2015-04-27 21:34] dchen1107 commented on #1625
Please include me and @vmarmol  in the discussion.

[2015-04-27 21:36] simon3z commented on #7308
@nikhiljindal correct, #7170 will fix your issue.

[2015-04-27 21:38] simon3z commented on #7322
@lavalamp argh! Really? I think it should be fixed... an ObjectReference should carry the api version of its format, not the version of the object it's pointing to (which might change over the time). Or maybe it should have both... but definitely not only the one of the pointed object.

[2015-04-27 21:40] alex-mohr commented on #3135
For v1, we only need new binary rollouts via upgrade but not necessarily functionality -- that can land shortly afterwards.

[2015-04-27 21:41] #3188 closed

[2015-04-27 21:41] #5967 closed

[2015-04-27 21:44] #5011 closed

[2015-04-27 21:44] simon3z commented on #7322
@bgrant0607 since the `created-by` annotation is generated internally by kubernetes and consumed externally it seems really asymmetric with the rest. Basically as you update the format of ObjectReference we'll start having pods with different annotation formats (old and new api version) and the old format will never be updated. Do you have a solution for this? Who's responsible of updating annotat

[2015-04-27 21:45] alex-mohr commented on #4610
Might work now, need to test and verify?

[2015-04-27 21:48] alex-mohr commented on #2462
CJ, I think you're closest to which IP address is being used?  Also, hardening master<->kubelet communication might fix this as part of cert validation and proxy functions?

[2015-04-27 21:48] alex-mohr commented on #2462
And can you please update title with actual remaining issues?

[2015-04-27 21:53] roberthbailey commented on #4007
This is done for GCE. I'll file separate issues for other cloud providers.

[2015-04-27 21:53] #4007 closed

[2015-04-27 21:55] lavalamp commented on #3952
@fgrzadkowski for the purpose of this issue, we should only care about pods with all docker images already pulled and that start with negligible time. Can we measure this again and possibly close it?

[2015-04-27 21:55] roberthbailey opened #7395 "AWS: Support bearer tokens and client certs"
This requires removing the nginx server that sits in front of the kube-apiserver and having the apiserver bound to port 443.

See #4007.

[2015-04-27 21:55] roberthbailey opened #7396 "Azure: Support bearer tokens and client certs"
This requires removing the nginx server that sits in front of the kube-apiserver and having the apiserver bound to port 443.

See #4007.

[2015-04-27 21:56] roberthbailey opened #7397 "Vagrant: Support bearer tokens and client certs"
This requires removing the nginx server that sits in front of the kube-apiserver and having the apiserver bound to port 443.

See #4007.

[2015-04-27 21:57] roberthbailey opened #7398 "Docker Single Node: Support bearer tokens and client certs"
This requires removing the nginx server that sits in front of the kube-apiserver and having the apiserver bound to port 443.

See #4007.

[2015-04-27 21:58] dchen1107 commented on #7376
@ArtfulCoder Could you please take a look at this? Thanks!

[2015-04-27 21:58] lavalamp commented on #4910
Is this issue about (A) limiting the number of pods per machine, or about (B) doling out ports from a specific external IP address on a node?

These are completely orthogonal issues as far as I can tell.

[2015-04-27 21:59] roberthbailey opened #7399 "Add basic auth support into kube-apiserver"
Fix the UX regression from removing nginx.

/cc @brendandburns

[2015-04-27 22:00] roberthbailey commented on #7399
In #7383 @smarterclayton said "As long as the authenticator is optional and folks can disable it I'm not opposed to it existing. Post 1.0 we can have the larger oauth discussion and discuss tokens and behavior."

[2015-04-27 22:06] bgrant0607 commented on #5370
Now that delete does stop by default this is less critical.

[2015-04-27 22:07] colemickens opened #7400 "Docs: Point out that PullPolicy won't update container images"
I was not putting a version tag on my images in my RC's Pod template. As such, subsequent deleting and creating the replicationcontroller would cause "stale" images to be spun up.

I think I found something, somewhere that indicates that pull policy defaults to PullIfNotPresent and elsewhere I saw that adding ":latest" will force the image to be re-pulled.

I'm not sure, but I think this should be

[2015-04-27 22:11] bgrant0607 commented on #3028
Docker 1.6 supports content-addressable images. See also #1697.

[2015-04-27 22:16] bgrant0607 commented on #1111
Ugh, this is still a mess:
[code]

[2015-04-27 22:18] bgrant0607 commented on #6583
Current proposal is simply a script that touches every object.

[2015-04-27 22:18] bgrant0607 commented on #6583
via the API

[2015-04-27 22:22] lavalamp commented on #7322
@simon3z It's not a bug, object references need to specify the version of the thing they reference. We haven't previously marshaled just an object reference by itself; it really needs an ObjectMeta field before you should marshal it separately, and one should always use api.Encode/Decode and never json.Marshal to serialize our objects.

[2015-04-27 22:24] bgrant0607 commented on #4640
Status: @dchen1107 has made some progress, but other issues have preempted this, so it won't be done for a couple weeks.

[2015-04-27 22:25] bgrant0607 commented on #4140
@brendandburns is working on rollback/abort.

[2015-04-27 22:27] bgrant0607 commented on #1353
Using #4140 for rollback/abort.

[2015-04-27 22:33] simon3z commented on #7322
@lavalamp any suggestion on what's the preferred solution here? Should we add an ObjectMeta or should we come up with a different format as mentioned by @bgrant0607 here https://github.com/GoogleCloudPlatform/kubernetes/issues/7322#issuecomment-96108736

I would lean toward using an ObjectReference (with ObjectMeta) but it may be too heavyweight for this use case. On the other hand if we need to c

[2015-04-27 22:44] bgrant0607 commented on #6804
Also related to #6080.

[2015-04-27 22:48] bgrant0607 commented on #7322
Unfortunately, I don't have time to deal with this prior to 1.0. We can either leave this annotation as is, or back it out.

[2015-04-27 22:48] ArtfulCoder commented on #7376
@a-robinson
1. When you started the cluster on Friday, could you connect to apiserver using kubectl ?
2. Did you see any errors in the startupscript.log file ?

[2015-04-27 22:57] bgrant0607 opened #7402 "Rolling update rename should delete first then re-create"
#7279 adds code that creates 2 replication controllers at the same time governing 2 sets of pods. That violates user and client expectations, and contradicts long-standing validation plans (#2210). It should delete first, then create.

[2015-04-27 23:01] bgrant0607 commented on #4910
(A)

[2015-04-27 23:05] a-robinson commented on #7376
cc @mbforbes

[2015-04-27 23:11] lavalamp commented on #7322
@simon3z Add a wrapper object, something like this:

[code]

I think it's not the end of the world to leave it like it is for a while. No one depends on this yet.

[2015-04-27 23:11] thockin commented on #7389
It demonstrably DOES open UDP/53 because DNS works.  TCP is a known issue.

[2015-04-27 23:15] nelcy commented on #7265
Thanks Victor. You put it right. I want the ability to adjust the reported size of the machine.

[2015-04-27 23:18] bgrant0607 commented on #7333
I suggest we fix it at most in v1 only. This is an annoying wart, but we could just fix the description string for now.

[2015-04-27 23:18] thockin commented on #6265
fixed

[2015-04-27 23:18] #6265 closed

[2015-04-27 23:19] bgrant0607 commented on #7018
StatusDetails ID field should be name: #7333

[2015-04-27 23:21] jlowdermilk commented on #7286
That looks like a valid rc spec, but the labels may be insufficient for rollingupdate. In order to do a rollingupdate you need to have a label to control the update. Typically this would be a "version" label. Example
[code]
Basically the selector for the old and new rc must share at least one label key with a differing value.

By the way, rollingupdate is currently getting a simplified version, wh

[2015-04-27 23:28] thockin commented on #7018
ServiceStatus should have a Phase

On Mon, Apr 27, 2015 at 4:19 PM, Brian Grant <notifications@github.com>
wrote:

[2015-04-27 23:30] bgrant0607 commented on #7018
Or nothing should have a Phase. :-)

[2015-04-27 23:32] vishh opened #7405 "Node related events from kubelet are dropped silently"
Any node object related events from the kubelet does not get recorded in the apiserver.

[code]

I digged a bit deeper and it looks like kubelet does not sets namespace to be empty and this results in the kubelet trying to post to `/api/<version>/events', which a resource that is not exported by the apiserver.

[2015-04-27 23:32] vishh commented on #7405
cc @dchen1107 @saad-ali

[2015-04-27 23:35] brendandburns commented on #7402
I'm fine with this being an issue, but I'd summarize a little differently, since I think we should refine #2210 to allow overlap as long as the size is the same.  But regardless, when that validation is added, we should figure out what we want to do.

[2015-04-27 23:39] calvinmetcalf commented on #7286
ah I see, I actually have a dynamic version in there so that will be easy
to do thanks

On Mon, Apr 27, 2015 at 7:21 PM Jeff Lowdermilk <notifications@github.com>
wrote:

[2015-04-27 23:50] mbforbes commented on #7376
1. Yes, the cluster functioned on Friday; I was running tests against it. (If you look at the monit log I pasted above, it appears it was functioning for quite a while.)

2. I don't see any errors there, but I can dump it here if it would help (it's quite long, obviously).

[2015-04-27 23:52] thockin commented on #6910
Good point.  Supporting older kernels means we'll have to bind publicly as we do today, I think.

[2015-04-27 23:54] a-robinson commented on #7400
Out of curiosity, where do you see that adding :latest will force the image to be re-pulled?

If this is in fact how it works (I don't know without testing it), then it'd fit pretty well in docs/images.md

[2015-04-27 23:54] satnam6502 opened #7406 "The Kubelet should accept YAML pod specifications"
Following on from #7274 the Kubelet should accept YAML pod specifications. Currnelty it supports only JSON pod specifications.
@bgrant0607 @smarterclayton @wojtek-t

[2015-04-27 23:55] bgrant0607 commented on #7402
Create then delete violates user and client assumptions as well as our own prior validation checks, and is incompatible with the general delete then re-create strategy that we're going to support for updating otherwise non-updatable fields, such as the object name.

[2015-04-27 23:56] mbforbes commented on #3135
I've got the binary rollout test plans in #7256—comments (esp. prioritization for 1.0) welcome!

[2015-04-27 23:59] davidopp commented on #7091
/subscribe

[2015-04-28 00:00] davidopp commented on #6080
/subscribe

[2015-04-28 00:04] colemickens commented on #7400
Updating the rc config to include :latest was "fixed" the issue of a stale container image last night.

Reference for what made me try it: https://github.com/GoogleCloudPlatform/kubernetes/issues/504#issuecomment-68409467

[2015-04-28 00:10] a-robinson commented on #7400
Thanks for the pointer! Feel free to add that info to the images.md doc.

cc @dchen1107 just in case since she wrote the original comment.

[2015-04-28 00:29] ArtfulCoder commented on #7376
1.No out-of-memory errors seen/logged around the time when monit failed to fork a child process.
2. kubelet seems to consume 400m of memory. not sure why it is so high
3. maybe the fork did fail because of insufficient memory, but this is a guess and no logs to substantiate it

[2015-04-28 00:33] ArtfulCoder commented on #6910
if you can suggest a way I can get a shell into an older kernel, I can do a manual test..

[2015-04-28 00:39] bgrant0607 commented on #2114
No, after 1.0 is fine.

[2015-04-28 00:43] a-robinson commented on #6910
Yes, having a status with a phase would be useful, especially if we start adding hostPort (and portalIP?) allocation to a controller. We'll also need to start writing events for services at this point, to explain why something went wrong.

The existing GCE and openstack cloudprovider implementations of external load balancers (and the upcoming AWS one) could easily be made to return the IP that th