[2019-11-15 14:19] liggitt commented on #85343
cc @BenTheElder for shellcheck-induced regressions

[2019-11-15 14:31] cjreyn commented on #74340
I'm also seeing this with kubeadm deployed kubernetes 1.16.1, independent of the CNI

[2019-11-15 14:32] fasaxc opened #85347 "Logs emitted with asm_amd64.s as filename"
**What happened**:

Running hyperkube's API server with `-v5` I notice that some but not all logs get emitted with filename `asm_amd64.s`

Example:
[code]

**What you expected to happen**:

Sensible filename with `.go` in it

**How to reproduce it (as minimally and precisely as possible)**:

Run API server with `-v5`, grep log for asm_amd64.s.

**Anything else we need to know?**:

We had a similar

[2019-11-15 14:45] fasaxc commented on #85347
/sig instrumentation

[2019-11-15 15:10] liggitt opened #85349 "Mutation detection is no longer enabled in e2e tests"
**What happened**:
A concurrent read/write panic was found in https://github.com/kubernetes/kubernetes/issues/85331, caused by a controller modifying an object from a shared informer.

This condition was not caught by e2e tests.

A setup bug was introduced in https://github.com/kubernetes/kubernetes/commit/37b5a214bc0dc465514c3e6b232246e39788ae63 on Jul 4, 2017 which kept the mutation detection en

[2019-11-15 15:11] liggitt commented on #85349
cc @deads2k @robscott @kubernetes/sig-testing

[2019-11-15 15:18] BenTheElder commented on #85343
This happens because we don't have an "API" documented for these environment variables. Ideally we should not be depending on space splitting strings.

[2019-11-15 15:19] liggitt commented on #73972
lowering priority, this doesn't appear to be a regression or data loss issue

[2019-11-15 15:43] kayrus commented on #82405
@Joseph-Irving I was able to reproduce this case by using iptables rule:

[code]

see the animation attached.
![kubelet_status_bug](https://user-images.githubusercontent.com/4047483/68955738-fdba8580-07c6-11ea-951f-32733b64c436.gif)

[2019-11-15 15:48] liggitt commented on #85349
Opened https://github.com/kubernetes/kubernetes/pull/85350 to enable it in test-cmd/test-integration. Need test-infra assistance understanding how to thread it into our e2e run

[2019-11-15 15:51] tedyu commented on #78664
From staging/src/k8s.io/client-go/discovery/cached/disk/cached_discovery.go
[code]
Is the unification mentioned above acceptable to everyone ?

[2019-11-15 16:05] jmolmo commented on #72226
I also ran this issue.

[code]
 Needed to manually force Pod termination.

[2019-11-15 16:15] MikeSpreitzer commented on #76846
We got a lot done in the past week.  Here are the open PRs now:

- #85321 add server-side printers
- #85319 add request filter and local config controller
- #85268 add cluster initialization

As we do not yet have all the code merged, it is not well tested.
Also some comments in interfaces need fixing.
Unit tests could be better.
Integration and end-to-end tests need to be created.
The user-facing

[2019-11-15 16:20] mikedanese commented on #85197
Sounds about right. Looks like they don't properly handle audience claims:

https://github.com/kubernetes/kubernetes/blob/7a5929da02f9fbdb9d63b5335f159462cc553020/vendor/github.com/dgrijalva/jwt-go/claims.go#L19

What version of kubectl were you using? What kubectl plugin are you using for auth? Openstack or OIDC?

[2019-11-15 16:24] thockin commented on #85331
This seems to be writing to a cached (should be const) service.

I think we need to DeepCopy() it before we mutate the Go type.

@wojtek-t does that sound right?  Is this still our best state of the art?

[2019-11-15 16:26] liggitt commented on #85349
Opened https://github.com/kubernetes/test-infra/pull/15298 to re-enable in alpha e2e jobs first

[2019-11-15 16:27] cjreyn commented on #26275
+1 for this

[2019-11-15 16:34] liggitt commented on #85331
yes, copy before change

[2019-11-15 16:35] liggitt commented on #85331
we have a tool to catch this (the mutation detector), but it got disabled in our test runs two years ago (xref https://github.com/kubernetes/kubernetes/issues/85349)

[2019-11-15 16:37] erig0 commented on #85082
I don't really follow the k8s-isms, but enabling firewalld logging of blocked packets would give some hints.
[code]

[2019-11-15 16:40] rforberger commented on #85197
@mikedanese
I am using kubectl v1.16.2.
And I am using the OIDC plugin.

[2019-11-15 16:52] cblecker commented on #81518
/cc

[2019-11-15 16:55] josiahbjorgaard commented on #85040
Flakes related to this issue are currently blocking PRs merging for v1.17.

[2019-11-15 16:58] andrewsykim commented on #84380
Nice!

[2019-11-15 17:02] adelina-t commented on #85337
/sig-windows

[2019-11-15 17:07] adelina-t commented on #85337
The following have been fixed:

[code]

For the DNS + Services tests, the issue is caused by: https://github.com/kubernetes/kubernetes/pull/84390

Disabling EndpointSlice feature-gate on kube-proxy should be enough to get them green again.

[2019-11-15 17:10] tedyu commented on #85332
[code]

[2019-11-15 17:15] tedyu commented on #85330
Have you noticed the following ?
[code]

[2019-11-15 17:15] tamalsaha commented on #85332
Good catch. Thanks @tedyu !

I wonder if there is a way to give better error message. May be the error message can include the json path to the key that it found invalid.

[2019-11-15 17:15] adelina-t opened #85352 "Kube-proxy with EndpointSlice feature on doesn't work on Windows."
After this (https://github.com/kubernetes/kubernetes/pull/84390) has been merged and EnpointSlice feature is now enabled by default, we noticed Kube-proxy will not work on Windows.

Only message I can see in the logs is:

[code]

/sig windows

[2019-11-15 17:16] adelina-t commented on #85352
/cc @PatrickLang
/cc @bclau
/cc @dineshgovindasamy

[2019-11-15 17:19] oomichi commented on #84380
Yes, thank you so much everyone!! :-)

[2019-11-15 17:33] wojtek-t commented on #85331
yes

great catch - I was always convinced this is enabled...

[2019-11-15 17:36] mikedanese commented on #85317
Expiring cache test is flaky it looks like.

[2019-11-15 17:50] liggitt opened #85353 "EndpointSliceController does not react to updated or deleted EndpointsSlice objects"
**What happened**:
1. Create a service+pod
2. Observe an endpointslice get created with a `endpointslice.kubernetes.io/managed-by=endpointslice-controller.k8s.io` label (as expected
3. Manually modify the endpointslice to change the data, it is not corrected automatically
4. Delete the endpoint slice, it is not recreated automatically
5. Recreate the endpoint slice with a `endpointslice.kubernetes

[2019-11-15 17:50] tedyu commented on #85352
[code]
How about separating the above check into two if statements so that the log can pinpoint which field is false ?

[2019-11-15 17:56] tedyu commented on #85352
[code]
It seems long term, EndpointSlice support should be added so that winkernel/proxier.go is kept in sync with other implementations.

[2019-11-15 18:02] liggitt commented on #85353
adding to the milestone until @thockin / @robscott triage this

[2019-11-15 18:02] robscott commented on #85353
/assign
/priority critical-urgent

[2019-11-15 18:10] #77638 closed

[2019-11-15 18:10] #64953 closed

[2019-11-15 18:10] #85342 closed

[2019-11-15 18:37] uziela commented on #85330
Sure, I have noticed it. And that's the strange part: I deleted all mounts from my container spec, but I still get these error messages. And even stranger part is that the issue is somehow related to the job name. As I wrote in the description any job name that starts with "train" will fail, however, any other job name works just fine. I tested that multiple times and I made sure I didn't change a

[2019-11-15 18:38] BenTheElder commented on #85320
they pull junit results

On Thu, Nov 14, 2019 at 5:29 PM Michelle Au <notifications@github.com>
wrote:

[2019-11-15 18:43] andyzhangx opened #85354 "Azure Files PV AuthorizationFailure when using advanced networking"
**What would you like to be added**:
currently this create file share action is also considered as data-path operation that's the reason why it failed since create file share action happens on master node which is not in selected network, in the future, this action will not be handled as data-path operation.

as confirmed by azure file team, api-version `2019-06-01` supports this functionality, ne

[2019-11-15 18:51] andyzhangx commented on #85354
related issue: https://github.com/Azure/AKS/issues/804

[2019-11-15 18:59] prksu commented on #84184
@irajdeep are you still working on this one?

[2019-11-15 19:06] SandeepPissay commented on #85114
@cwdsuzhou @liggitt Changing a PV with RWO to RWX should be prevented. The CSI driver would have created storage object backing the RWO access mode which cannot support RWX. So, IMHO this is a bug and we should add some code that prevents this update.

[2019-11-15 19:07] dims commented on #85347
@fasaxc `The fix` <<< is there a PR open?

[2019-11-15 19:31] tedyu commented on #85347
[code]
Would this work for multiple go versions ?
Or maybe you suggest the skipping based on go version.

[2019-11-15 19:40] kinghajj opened #85357 "`kubectl --prune -n <namespace>` doesn't visit the CLI-specified namespace."
**What happened**:

While testing out the `--prune` flag, I created a manifest with the following contents:

[code]

I ran `kubectl -n woot -R -f ./manifests --prune -l env=woot`, and the resources appeared on my minikube cluster:

[code]

Then, I removed the deployment from the manifest:

[code]

And re-ran the same command, `kubectl -n woot -R -f ./manifests --prune -l env=woot`. To my surprise,

[2019-11-15 19:44] Random-Liu commented on #85040
This is a quota issue.

The GCE project doesn't have too many quota.

I'll address it.

[2019-11-15 19:44] kinghajj commented on #85357
/sig cli

[2019-11-15 19:47] Random-Liu commented on #85040
Basically we have limited IP quota in that presubmit project, and too many changes before code freeze and hit the quota limit. :P

[2019-11-15 19:52] Random-Liu commented on #85040
Sent out the quota increase request and deleted VMs leaked by some timeout test.

[2019-11-15 19:58] thockin commented on #85353
I don't think these need to be addressed for beta.  They are not worse than existing Endpoints.  Whether we should actually fix those or not is a good question, but I think it's OK to answer that post-beta.

As to the other issues - we need to build confidence in upgrades ASAP and make a call - we can flip back to default-off if we need to.

[2019-11-15 20:05] liggitt opened #85358 "Endpoints controller modifies shared service object labels in memory"
bug (https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/85350/pull-kubernetes-e2e-kind/1195418121377157121/artifacts/logs/kind-control-plane/pods/kube-system_kube-controller-manager-kind-control-plane_63c21485472d3e3590c878f8825a0b65/kube-controller-manager/3.log):
[code]

_Originally posted by @liggitt in https://github.com/kubernetes/kubernetes/pull/85350#issuecomment-554506016_

cc

[2019-11-15 20:21] Multiply commented on #42649
/remove-lifecycle stale

This is still an issue for us, although not specifically related to stopping the cluster overnight, but the underlying issue is the same.

[2019-11-15 20:31] AndrewSav commented on #78564
/remove-lifecycle stale

[2019-11-15 20:32] hymgg opened #85360 "medium: Memory can't go above half of node physical memory"
**What happened**:

Node has 187G physical memory

# free -g
              total        used        free      shared  buff/cache   available
Mem:            187           5         162           4          19         175
Swap:             0           0           0

Need to create a pod with 128G shared memory, set sizeLimit to 128Gi

      volumes:
      - name: dshm
        emptyDir:
          me

[2019-11-15 20:32] liggitt commented on #85358
fix in #85361

[2019-11-15 20:33] liggitt commented on #85352
cc @robscott

[2019-11-15 21:03] rmorrise commented on #78664
@tedyu if I understood what you posted correctly, it looks like this would improve the behavior of the command line option. Would this be the first step to implement @The-Loeki 's suggestion to use KUBECTL_HOME? That would be awesome

[2019-11-15 21:06] rmorrise commented on #78664
Thinking of JAVA_HOME and similar, that's normally where the tool installation and bin is located, so KUBECTL_CACHE would probably make more sense

[2019-11-15 21:29] lavalamp commented on #85317
It hadn't occurred to me that we could just remove the goroutine entirely, but I agree it seems very plausible that we can. If requests are so infrequent that GC isn't running often we must also not be adding many entries to the map.

[2019-11-15 21:38] BenTheElder commented on #80098
we ultimately just added this magical runtime handler to kind's node configurations, but this shouldn't be a thing, and definitely isn't documented. I'm not sure where we'd document it or what a realistic next step would be.

[2019-11-15 21:45] #85142 closed

[2019-11-15 21:51] cforce commented on #74551
Sadly but true, get rid of tiller a root for this issue by using helm3

[2019-11-15 21:58] #85331 closed

[2019-11-15 22:14] #79141 closed

[2019-11-15 22:16] liggitt commented on #85353
I do think it's reasonable to expect the controller to react to ownership changes or deletion, but agree this is roughly equivalent to what endpoints do. Lowering severity and moving to 1.18

[2019-11-15 22:27] liggitt opened #85364 "EndpointSlice controller modifies annotations of shared object"
from:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/85350/pull-kubernetes-e2e-kind/1195461941456277505/artifacts/logs/kind-control-plane/pods/kube-system_kube-controller-manager-kind-control-plane_2578fbb667ec65fa98085c6310b5c2f0/kube-controller-manager/1.log

[code]

endpointslice annotations are being changed, likely by addTriggerTimeAnnotation

_Originally posted by @liggitt i

[2019-11-15 22:27] liggitt commented on #85364
/sig network
/cc @robscott
/priority critical-urgent

[2019-11-15 22:45] brandonkal commented on #10975
Was this supposed to be closed? @thockin

[2019-11-15 22:48] robscott commented on #85352
Thanks for reporting this! Windows proxiers were still intended to be reading from Endpoints, but apparently that's not working as intended. EndpointSlices are moving back to disabled by default for 1.17, so that should fix the failing tests for now. I'll work on an actual fix for this as well, but it may not make it in until after KubeCon.

/assign
/sig network
/priority important-soon

[2019-11-15 22:52] silviogutierrez commented on #66450
My own research, applying cert-manager directly:

`kubectl apply -f https://github.com/jetstack/cert-manager/releases/download/v0.11.0/cert-manager.yaml`

That will cause a few resources to re-configure even though there are no changes.

I used @kautsig 's technique and found the culprits. The manifest above has a `annotations:` map with nothing in it. It also has `apiGroup: ""` in other resources

[2019-11-15 22:52] tedyu commented on #85364
It seems contents for Ports: ([]v1beta1.EndpointPort) changed: addresses were different - though values seem to be the same.

[2019-11-15 23:01] lavalamp commented on #74551
I tagged this with help-wanted; I think the next step is for someone to try @kargakis's [reproducer](https://github.com/kubernetes/kubernetes/issues/74551#issuecomment-490988621) and figure out if the problem is kubectl doing something wrong or apiserver doing something wrong.

[2019-11-15 23:07] sapkra commented on #66450
It's just a guess and I havn't tested it yet: Maybe it's the order of the fields because they are becoming ordered through the apply.

[2019-11-15 23:15] NoAnyLove opened #85366 "apiserver drops watch connection"
**What happened**:
We use aiohttp `ws_connect` to establish WebSocket connection to watch pods, the endpoint is `https://{host}:6443/api/v1/namespaces/{namespace}/pods?watch=True`.

It works perfectly with kubernetes `v1.14.6`, but the Websocket connect will be closed in 30 to 60 minutes with Kubernetes `v1.15.5`.

We also tried different versions of Kubernetes on different boxes, including `v1.15

[2019-11-15 23:21] NoAnyLove commented on #85366
/sig api-machinery

[2019-11-15 23:25] robscott commented on #85352
/remove-triage unresolved

[2019-11-15 23:43] liggitt commented on #85366
Watch connections are not expected to remain open indefinitely. Clients are expected to reestablish watches at the last observed resourceVersion when the connection drops.

[2019-11-15 23:50] neolit123 opened #85369 "1.17/1.18 kubelet prints a klog.Warning from --version"
[code]
cc @dims who found it.

the reason is the `init()` calls from the import here:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/kubelet.go#L29

i suspect the problem surfaced with this bug fix. cc @RainbowMango
https://github.com/kubernetes/kubernetes/pull/84395/files

more refs:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/component-base/metrics/m

[2019-11-15 23:51] liggitt commented on #85366
See https://github.com/kubernetes/kubernetes/blob/release-1.15/staging/src/k8s.io/apiserver/pkg/server/config.go#L156-158

https://github.com/kubernetes/kubernetes/blob/release-1.15/staging/src/k8s.io/apiserver/pkg/server/config.go#L173

The default minimum timeout is 30-60 minutes.

/close

[2019-11-15 23:51] #85366 closed

[2019-11-15 23:58] liggitt commented on #85353
Actually, thinking through this more, I think there's a significant issue here. The endpointslice controller differs from the endpoint controller in that endpointslices and services are not 1:1.

The endpoints controller can deterministically create/update/delete the single correct endpoints object in response to every service change.

The endpointsslice controller has to look up the endpointslice

[2019-11-16 00:00] NoAnyLove commented on #85366
Since the long connection works perfectly in `v1.14.x`, but behave quite differently since `v1.15.x`, (mostly likely a breaking change?). It would be nice to see it in changelog.

[2019-11-16 00:04] Jefftree commented on #85250
@cheftako: After looking into this more, KAS communicates with the KMS GRPC Service via [unix sockets](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/grpc_service.go#L70). I don't think we have the capability to support that type of connection with network proxy yet?

[2019-11-16 00:05] neolit123 commented on #85369
/sig ndoe

[2019-11-16 00:05] liggitt commented on #85366
The same configuration and intended behavior has existed for many releases. If the connection did not drop after the configured timeout in 1.14.x it was an unintentional bug.

[2019-11-16 00:08] liggitt commented on #85366
See https://github.com/kubernetes/kubernetes/blob/release-1.14/staging/src/k8s.io/apiserver/pkg/server/config.go#L157 for the same configured behavior in 1.14, for example

[2019-11-16 00:14] NoAnyLove commented on #85366
I see. Thanks.

[2019-11-16 00:17] #85358 closed

[2019-11-16 01:33] liggitt opened #85374 "kube-scheduler gets permission error using dynamic delegated authentication"
from e2e logs:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/85350/pull-kubernetes-e2e-kind/1195505345259114508/artifacts/logs/kind-control-plane/pods/kube-system_kube-scheduler-kind-control-plane_3a4ff7d9e27c03f2c99bfe5ad68ac62a/kube-scheduler/0.log
[code]

/sig auth
/assign @deads2k

[2019-11-16 02:06] liggitt commented on #85364
with the feature disabled by default, lowering priority (does not block a beta.2). would still like to see this resolved in 1.17 if possible.

[2019-11-16 02:07] yacinelazaar commented on #72102
You should be fine with 1.16.2 and Etcd 3.3.15 now. I managed to get 3 masters running.

[2019-11-16 02:07] liggitt commented on #84985
why is the 1.16 CI job in the 1.17 milestone?

[2019-11-16 02:08] liggitt commented on #84985
november 6 was when https://github.com/kubernetes/kubernetes/pull/82809 switched master to go1.13

this would seem to indicate something in the 1.16 CI job is pulling/building with kubernetes master?

[2019-11-16 02:14] liggitt commented on #84863
That seems to be creating one of every object from the etcd data test in an e2e test.

The failing object looks like a node object, which is likely getting deleted by the Node controller as soon as it is created.

[2019-11-16 02:18] liggitt commented on #84863
opened https://github.com/kubernetes/kubernetes/pull/85377 to skip nodes for this test

[2019-11-16 02:23] mikedanese commented on #85197
Thanks, should have read the description.

I'm having a really hard time finding this error string (via git grep and github/Google search).

[2019-11-16 02:29] liggitt commented on #85336
cc @msau42

[2019-11-16 02:59] msau42 commented on #85336
https://github.com/kubernetes/kubernetes/pull/85322 reverted the new test and it's correctly being skipped now
/close

[2019-11-16 02:59] #85336 closed

[2019-11-16 03:24] liggitt commented on #84202
current test history is green

/close

[2019-11-16 03:24] #84202 closed

[2019-11-16 04:00] liggitt commented on #85364
/remove-triage unresolved

[2019-11-16 04:15] zouyee commented on #85334
https://github.com/kubernetes/kubernetes/pull/80976

[2019-11-16 04:19] liggitt commented on #85369
should be fixed before 1.17.0, doesn't block beta.2

[2019-11-16 04:20] #79152 closed

[2019-11-16 04:22] liggitt commented on #81824
@zouyee is this still in progress?

[2019-11-16 04:23] liggitt commented on #82364
@wojtek-t is this still a current issue?

[2019-11-16 04:24] liggitt commented on #82182
Is this still a current issue?

[2019-11-16 04:27] liggitt commented on #85276
#85220 merged, master and 1.17 scale 100 jobs are green

/close

[2019-11-16 04:27] #85276 closed

[2019-11-16 04:49] #85374 closed

[2019-11-16 05:23] liggitt commented on #85320
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-integration/1195565237940523010

[2019-11-16 08:29] #85317 closed

[2019-11-16 09:06] wojtek-t commented on #82364
I wasn't fixed. But it's definitely not 1.17 issue.

[2019-11-16 09:49] droslean commented on #85337
/cc @kubernetes/ci-signal

[2019-11-16 09:55] wawa0210 opened #85379 "Cpu resource limit does not work properly on windows"
**What happened**:

When I was using a hybrid cluster with windows, I found some problems with deployment usage.
I deployed an app and limit the cpu and memory useage,the yaml such as :

![image](https://user-images.githubusercontent.com/7907809/68991325-89e8ad80-0898-11ea-8bcf-b32f7156844f.png)

But I found that the cpu limit didn't work，i test a script in this pod for test the cpu pressure, the

[2019-11-16 09:59] wawa0210 commented on #85379
/assign @wawa0210

I think i found the problem and will fix it

[2019-11-16 10:25] rforberger commented on #85197
@mikedanese
Maybe it's in the OpenID codebase? (just a guess from a non-full time programmer)

[2019-11-16 10:31] dims commented on #85369
cc @tedyu

[2019-11-16 12:35] #80810 closed

[2019-11-16 12:37] droslean commented on #84863
/reopen

The job is not green

[2019-11-16 12:40] zouyee commented on #81824
@liggitt yes

[2019-11-16 12:40] droslean commented on #83321
/reopen

The job is still flaky

[2019-11-16 12:41] droslean commented on #83321
/close

But for another test :)

[2019-11-16 12:41] #83321 closed

[2019-11-16 12:43] zouyee commented on #81824
/assign

[2019-11-16 12:46] droslean commented on #84985
@liggitt Are you suggesting that we need to remove this job?

[2019-11-16 12:59] tedyu commented on #85369
Could this be caused by the following in init() of restclient/metrics.go ?
[code]
It was marked
[code]
I wonder when deprecatedRequestLatency can be dropped.

[2019-11-16 13:39] yacinelazaar commented on #84244
Also noticing this probleme while running In HA with external etcd.
All proxy pods fail to start. Here is the logs on the first master:
`
W1116 13:36:49.502146       1 server_others.go:329] Flag proxy-mode="" unknown, assuming iptables proxy                                                                    │
E1116 13:36:49.509418       1 node.go:124] Failed to retrieve node info: Unauthorized

[2019-11-16 14:01] yuvalsteuer commented on #66766
@psimaj any success or progress? If you left this issue I would like to give it a go as a first time contributor.
Thanks,
Yuval

[2019-11-16 14:39] zouyee commented on #81824
@liggitt pr has updated, PTAL.

[2019-11-16 14:45] yacinelazaar commented on #82412
@zhlhahaha did you manage to solve this?

@janitha09 Care to elaborate on this?

[2019-11-16 15:43] VPecc commented on #75538
/reopen

[2019-11-16 16:00] zouyee commented on #77174
/remove-lifecycle stale

[2019-11-16 16:29] psimaj commented on #66766
@yuvalsteuer I'm still working on this as my first issue, and planning to produce a solution by 20th.

[2019-11-16 16:51] #71305 closed

[2019-11-16 16:51] #81729 closed

[2019-11-16 17:07] dims commented on #85360
@hymgg here's what you are running into https://github.com/kubernetes/kubernetes/pull/63641

[2019-11-16 17:23] dims commented on #85347
@tedyu looks like this would be in klog https://github.com/kubernetes/klog/blob/master/klog.go#L585-L600

[2019-11-16 17:31] dims commented on #85040
thanks @Random-Liu

/close

[2019-11-16 17:31] #85040 closed

[2019-11-16 18:38] liggitt commented on #84985
not remove it, just mark it against the correct milestone (and maybe look into why it seems to have dependencies on the master branch)

[2019-11-16 18:40] liggitt commented on #84863
failed test started from a commit prior to the fix merging (https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1195310891873079296 started from 8548a253de80c787dbcd2b022faffc75c7c23025)

/close

[2019-11-16 18:40] #84863 closed

[2019-11-16 18:51] Binyamse commented on #59888
same thing in v1.14

`ScalingLimited  True    TooFewReplicas    the desired replica count is increasing faster than the maximum scale rate
Events:           <none>`

[2019-11-16 18:58] mikedanese commented on #79939
We can't rely on client rate limiting as implemented in client-go on request paths. If sustained QPS is greater than the client rate limit, goroutines pile up.

[2019-11-16 19:02] liggitt commented on #79939
that's fixed since https://github.com/kubernetes/kubernetes/pull/79375, if we pass the request context in, if the throttle wait would exceed the timeout, it'll return immediately and fail

[2019-11-16 19:42] liggitt commented on #85337
https://testgrid.k8s.io/sig-release-master-informing#gce-windows-master is back to just the guestbook test being solid red (tracked in https://github.com/kubernetes/kubernetes/issues/80534)

1.17 should green up similarly (was just fast-forwarded this morning)

[2019-11-16 19:47] mikedanese commented on #83745
Since 1.12, authentication has become substantially cheaper after recent improvements we've made. From @liggitt's comment:

Additional improvements:

* We migrated off of the LRU cache which substantially improves cache hits. https://github.com/kubernetes/kubernetes/pull/84424
* We will be sharing token lookups after https://github.com/kubernetes/kubernetes/pull/85242

The cases between "we can't

[2019-11-16 20:36] #78755 closed

[2019-11-16 20:51] php-coder commented on #80089
I recall that there was a pitfall with such approach where `sh` doesn't send a signal that it got to its children: https://blog.phusion.nl/2015/01/20/docker-and-the-pid-1-zombie-reaping-problem/ This might lead to zombie process and slower the time of container shutdown. Please, correct me if I'm wrong here.

[2019-11-16 20:51] ConnorDoyle commented on #84757
Following up from the slack thread, there is no precedent I know of for a pod being unbound and going back through the scheduler if the Kubelet has a problem running the node. The "Kubernetes way" to handle the problem is to let a higher-level controller create a new pod to replace the failed one.

However, the problem you described is clearly not desirable. Your other issue (#84601) would let the

[2019-11-17 00:19] botwhytho opened #85388 "GCP LoadBalancer Service with no Healthy Pods Forwards Traffic to Hosts in Cluster Instead"
**What happened**:

We created some sftp StatefulSets and a LoadBalancer Service forwarding to the pods' port 22. Someone later added a health-check that was always failing for the pods so that the service did not have any healthy targets.

At this point trying to sftp to the service, we started getting the following errors:

[code]

We also started getting SSH warnings about changing server ident

[2019-11-17 00:52] dims commented on #85333
https://prow.k8s.io/?job=ci-cluster-api-provider-gcp-make-conformance-stable-k8s-ci-artifacts seems green, though not sure why test-grid is not showing the latest over at entries https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-gcp#capg-conformance-stable-k8s-master

[2019-11-17 00:53] dims commented on #85335
https://prow.k8s.io/?job=ci-cluster-api-provider-aws-make-conformance-stable-k8s-ci-artifacts seems to have recovered, though https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-aws#capa-conformance-stable-k8s-master still has stale data

[2019-11-17 01:55] gbjuno opened #85389 "Long running pods turn into "unhealthy", find pod condition "ContainersReady" is true but "Ready" is false"
**What happened**:
Two long running pods change to "not ready" status after running about 90 days.
After investigation, we find the field "ContainersReady" in pod status.condition is true, however the field "Ready" status is false, which means that the pod is not ready.  Containers in pod don't have any readiness or liveness configuration.
We don't know how to reproduce it, but we find it happend

[2019-11-17 02:00] gbjuno commented on #85389
/sig node

[2019-11-17 02:14] cwdsuzhou commented on #85114
Yes, IMO it is a bug

@liggitt  @SandeepPissay  I would like to  fix it

/assign

[2019-11-17 02:20] liggitt commented on #85114
CSI drivers are only one consumer of the PV API. It seems like another client could legitimately want to update the supported modes on an existing disk.

[2019-11-17 02:41] aojea commented on #82361
/close

This should be fixed now that @danwinship PR was merged https://github.com/kubernetes/kubernetes/pull/82966

[2019-11-17 02:41] #82361 closed

[2019-11-17 02:56] #74456 closed

[2019-11-17 02:58] jacksontj commented on #73158
/remove-lifecycle stale

[2019-11-17 02:58] jacksontj commented on #73158
/reopen

[2019-11-17 03:42] liggitt commented on #85333
test grid is showing green again. fixed by #85351

/close

[2019-11-17 03:42] #85333 closed

[2019-11-17 03:43] liggitt commented on #85335
test grid is showing green again now, fix in #85351 worked

/close

[2019-11-17 03:43] #85335 closed

[2019-11-17 04:09] hymgg commented on #85360
@dims Thank you. Looked at that issue earlier, not exactly sure what the decision was there. So opened this one. As long as /dev/shm size will honor some input value we're good.

-Jessica

[2019-11-17 04:43] botwhytho commented on #85388
@kubernetes/sig-cloud-provider-bugs

[2019-11-17 05:37] Alexc0007 opened #85392 "add support for cipher-suites flag for etcd used by kubernetes"
**What would you like to be added**:
i would like to control the ciphers used by etcd to communicate with other components on tls.
(same as --tls-cipher-suites on kube-apiserver , kube-controller-manager and kube-scheduler)
official etcd supports adding --cipher-suites 'LIST OF CIPHERS'
but when i try to add the flag on /etc/kubernetes/manifests/etcd.yaml - etcd just wont start anymore...

for exa

[2019-11-17 06:02] liggitt commented on #85392
Is this a feature request for etcd?

[2019-11-17 07:45] AnitaNayak commented on #69358
Created one PR https://github.com/kubernetes/kubernetes/pull/85393. Please review @mkumatag .

[2019-11-17 09:03] AnitaNayak commented on #72915
I wanted to take this up. @rus4. Please let me know.

[2019-11-17 09:33] kayrus commented on #82405
I added more debug into the https://github.com/kubernetes/kubernetes/blob/7a5929da02f9fbdb9d63b5335f159462cc553020/pkg/kubelet/status/status_manager.go#L497 and it appeares that the `status.status` contains `Type:Ready Status:True`, when the actual kube-apiserver status is `Type:Ready Status:False`.

Then I added more debug into the https://github.com/kubernetes/kubernetes/blob/7a5929da02f9fbdb9d6

[2019-11-17 09:49] #79206 closed

[2019-11-17 09:54] LucaLanziani opened #85394 "Problem with marshaling and unmarshaling clusterName"
**What happened**:

Running automated CI on our cluster we generate the kubeadmcfg.yaml and we use an hash as clusterName, in one of our run we had:

[code]

that running `kubeadm init phase kubeconfig scheduler --config=kubeadmcfg.yaml` results on a scheduler.conf containing:

[code]

The scheduler with this configuration will fail to start with:

[code]

**What you expected to happen**:

Kubeadm

[2019-11-17 09:55] LucaLanziani commented on #85394
/sig api-machinery

[2019-11-17 10:07] droslean commented on #84985
/milestone clear
/milestone v1.16

[2019-11-17 10:07] droslean commented on #84985
/milestone v1.16

[2019-11-17 11:12] kvaps commented on #8876
/remove-lifecycle stale

[2019-11-17 12:36] atiffarrukh commented on #44665
If you are trying to run it on a VM then
1. delete the current minikube profile by running `minikube delete`
2. start minikube again with flags `minikube start --vm-driver=none`

[2019-11-17 14:01] liggitt commented on #85394
sounds similar to https://github.com/kubernetes/kubernetes/issues/82296, though I would expect the yaml generation step to have quoted the value (since quoting is required to distinguish it as a string)

[2019-11-17 14:35] zigmund commented on #71162
/remove-lifecycle stale

[2019-11-17 14:54] #79222 closed

[2019-11-17 15:09] sergey-safarov opened #85395 "headless service configurable priority and weight values"
**What would you like to be added**:
I want have more control about SRV records created for headless service.
In my case need to create SRV records like
[code]
Here I want control `priority` and `weight` values of created SRV records.
I suggest to create this service using yaml file like
[code]

**Why is this needed**:
This allow manage traffic distribution for application that actively use SRV re

[2019-11-17 15:11] dims commented on #85369
@tedyu looks like `rest_client_request_latency_seconds` was deprecated in 1.14 -  https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.14.md#L964

Is that the only one that needs to be dropped? are there more.

[2019-11-17 15:17] sergey-safarov commented on #85395
/sig network
/sig apps

[2019-11-17 15:33] tedyu commented on #85369
Dropping rest_client_request_latency_seconds should remove the warning for --version.

In the 1.14 changelog, there were quite a few other metrics deprecated. I guess we don't have to drop them now.

[2019-11-17 16:05] GuyPaddock commented on #20227
@ColinChartier I found the solution you proposed to really only work in a single-shot fashion, for sending back a single response. It doesn't work well for a PyCharm/PHPStorm/XDebug scenario where: 1) client and server need to communicate back and forth during a single connection, and 2) the remote end needs to be listening across multiple remote requests.

Instead, here's a solution that involves

[2019-11-17 16:40] Alexc0007 commented on #85392
well , basically as i already stated this feature is present on etcd...
but for some reason it doesnt work when creating etcd.yaml on kubernetes.

[2019-11-17 17:05] liggitt commented on #85392
I think the quotes might be your problem... those arguments don't pass through a shell. try

`--cipher-suites=TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA,TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA`

[2019-11-17 17:23] AnitaNayak commented on #67676
Is this issue resolved? Can I work on this?

[2019-11-17 17:37] tedyu commented on #67676
@Seculin
Have you tried the approach from #82470 ?

[2019-11-17 17:41] AnitaNayak commented on #84216
Can I work on this issue?

[2019-11-17 18:04] pdbogen commented on #67676
The issue is not resolved, though there is (for me) a fairly usable workaround (https://github.com/kubernetes/kubernetes/issues/67676#issuecomment-430002565)

I'd still like to see kubectl handle this situation more intelligently, though.

[2019-11-17 18:05] AnitaNayak commented on #7923
Is this still relevant? I would like to help.

[2019-11-17 18:32] tedyu commented on #72155
I wonder if webhook admission controller was involved in any of the reported cases.

[2019-11-17 18:59] cheftako commented on #60601
/remove-lifecycle stale

[2019-11-17 18:59] cheftako commented on #60601
/lifecycle frozen

[2019-11-17 19:19] tedyu commented on #67662
Found the following in ReplicaSetController#manageReplicas :
[code]

[2019-11-17 19:38] liggitt commented on #85394
https://github.com/liggitt/kubernetes/commit/7bac7c115a98b23d4c7e8abccbbf0cc9280cb416 is a test case for the configuration writing method, and it demonstrates that it quotes numeric formatted names. Not sure what other transformations kubeadm is doing on the kubeconfig files.

/remove-sig api-machinery
/sig cluster-lifecycle
/area kubeadm

[2019-11-17 19:42] neolit123 commented on #85394
/assign @rosti
Rosti, could you please take a look ^.
thanks.

[2019-11-17 19:59] #77332 closed

[2019-11-17 20:28] aiv opened #85397 "kube-proxy with externalTrafficPolicy: local and nodePort still creating load balancer rules for service ip"
**What happened**:
kube-proxy in iptables mode (I didn't test IPVS) creates load balancer iptables rules for service with externalTrafficPolicy: local, and nodePort but only for connection to service ip. For nodeIp:nodePort everything is fine.

Example service:
[code]

Line in iptables that redirect traffic to iptables balancer:
[code]

Balancing rules from KUBE-SVC-HN4MSA2Y5VOFXZ72:
[code]

**Wha

[2019-11-17 20:31] aiv commented on #85397
@kubernetes/sig-network-bugs

[2019-11-17 21:25] neolit123 commented on #83127
wrote document to outline some ideas about the kubeadm build and release once moved out of tree:
https://docs.google.com/document/d/1xFAGAjfPQZrcqmapTwpJR5aUA7-2ku1asVeq3dBrjnQ/edit?usp=sharing

[2019-11-17 21:26] neolit123 commented on #78534
https://github.com/kubernetes/kubernetes/issues/83127#issuecomment-554789034

[2019-11-17 23:01] tedyu opened #85398 "APIAggregator#PrepareRun should return exported type"
**What would you like to be added**:
Looking at the usage of APIAggregator#PrepareRun, the first return value is used as runnable.
We should export runnable type (Runnable) and declare the return type for APIAggregator#PrepareRun as Runnable.

**Why is this needed**:
APIAggregator#PrepareRun returns preparedAPIAggregator which is unexported.

[2019-11-17 23:17] ahg-g opened #85399 "cluster-capacity project status"
GitHub admin team reached out regarding project cluster-capacity, they are in the process of decommissioning the kubernetes-incubator organization. 

Is cluster-capacity project still active? should sig-scheduling continue to own the project? and if so it should be moved to kubernetes-sigs.

/assign @ravisantoshgudimetla
/sig scheduling

[2019-11-18 00:16] ravisantoshgudimetla commented on #85399
I think, this project might still be useful for federated cluster use-cases and it falls under sig-scheduling purview. AFAIK no active development is happening.

cc @ingvagabund - Do you want to move this to sig sponsored repo or archive this project?

[2019-11-18 00:52] tedyu commented on #85398
/sig api-machinery

[2019-11-18 01:28] zhlhahaha commented on #82412
hi @yacinelazaar  I think it had been fixed in following commit.
[commit](https://github.com/kubernetes/kubernetes/commit/c13f2d47483a3ba712ee820a76d9c089e3f25a4a)

[2019-11-18 01:51] xiaoanyunfei commented on #85341
/assign @gongguan

[2019-11-18 01:57] liggitt commented on #85394
actually, it looks like this *was* an issue with the yaml serializer, which happened to be resolved in 1.14.8+, 1.15.5+, and 1.16.2+

[2019-11-18 02:04] RainbowMango commented on #85369
/assign
It's an interesting issue. I will investigate it and get back to you.

By the way:
I tried `kubelet --version` this morning, I got 4 warnings, things getting worse as we deprecated more metrics this weekend. (the log can not point the exact name of a metric, we intended to improve it in v1.18)
[code]

[2019-11-18 02:23] liggitt commented on #85394
added a test in #85401 to ensure this doesn't regress, but this is resolved in the releases listed above

/close

[2019-11-18 02:23] #85394 closed

[2019-11-18 03:27] liggitt commented on #85369
it's being invoked from here:
[code]

the message is not helpful, since it doesn't tell you which metric is deprecated

[2019-11-18 03:46] liggitt commented on #85398
cc @sttts @deads2k

[2019-11-18 03:57] RainbowMango commented on #85369
Yes. It's a known issue and we intended to improve it in v1.18.

Now, I suggest removing the log temporarily, Fired a PR #85402,  for reasons as follows:
- Too many binaries have been affected.(kubelet, kube-proxy, kube-apiserver, kube-controller-manager, kube-proxy, kube-scheduler). We should consider more about this issue.
- v1.17.0 is fast approaching, we should make a quick fix.

All component

[2019-11-18 05:16] ProgramerGu opened #85403 "Can k8s-Device-plugin support remanufacture delayed release resources？"
**What would you like to be added**:
k8s-Device-plugin support remanufacture delayed release resources
**Why is this needed**:
For example, pv resources can be bind with pod , but when pod is deleted , pv need to be delete by other controller, and when we create a pod, it can find it`s own pv(if there is one), under these circumstances，the way kubelet and k8s-Device-plugin occupy and release resou

[2019-11-18 05:16] ProgramerGu commented on #85403
kind/kubelet

[2019-11-18 05:17] ProgramerGu commented on #85403
/sig kubelet

[2019-11-18 05:20] ProgramerGu commented on #85403
/sig node

[2019-11-18 05:20] ProgramerGu commented on #85403
/sig scheduling

[2019-11-18 05:55] Alexc0007 commented on #85392
Hi ,
i tried it with quotes , without quotes or with any other possible variation...
nothing works... etcd just wont start

[2019-11-18 06:03] liggitt commented on #85392
what version of etcd does the manifest reference? that was added in 3.2.22+, 3.3.7+, and 3.4.0+?

also, what is the log output of the failed etcd container?

[2019-11-18 06:12] zerkms commented on #78007
/remove-lifecycle stale

[2019-11-18 06:23] chendave opened #85405 "`kube-up.sh` doesn't prompt for downloading"
**What happened**:
If `kubernetes-server-linux-amd64.tar.gz` doesn't exist in $KUBE_ROOT/_output/release-tars, the script doesn't prompt for downloading from external release URL, but just move on util an error is thrown instead.
[code]

**What you expected to happen**:
If the tarball does not exist, it should be able to download from external release URL.

**How to reproduce it (as minimally and

[2019-11-18 06:29] chendave commented on #85405
/assign

[2019-11-18 06:35] andrewsykim commented on #81636
/remove-lifecycle stale
/assign @nckturner @M00nF1sh

[2019-11-18 07:26] bibi520 opened #85407 "How to make one podA stop and another podB start podA start podB stop"
On A node, how do you make one podA stop and the other podB start and the podA start and the podB stop and they can't run at the same time

[2019-11-18 08:37] YanGonson opened #85409 "pod set mac address"
for special needs, certificates need to be generated according to mac address. I want set up a mac address for one pod. docker commands have a options [ --mac-address xx:xx:xx:xx:xx:xx ], how about k8s ?

[2019-11-18 08:52] RainbowMango commented on #80581
/remove-lifecycle stale

[2019-11-18 09:19] RainbowMango opened #85411 "Metrics registered by import can not be enable after turned off"
**What happened**:
The metrics be registered by `init()`, from import call tree, will lose the possibility to be enabled again by `--show-hidden-metrics-for-version`.

Now, for a specific metric only get one chance to be registered, if it is registered by `init()` call from import, that means it will be bypass `SetShowHidden()`, so it can not be enabled again.

**What you expected to happen**:
All

[2019-11-18 09:22] fasaxc commented on #85347
This was the fix we made over in Calico: https://github.com/projectcalico/libcalico-go/commit/1f1ababe294be198148c4232ef6c0344898d3b31#diff-ac7ff9aaa24815e5b2b4c4de2cb1debcR154

[2019-11-18 09:50] rabejens opened #85413 "Add an option to increase Client.Timeout for kubeadm init"
When I do a `kubeadm init` I get:

[code]

In the documentation it says that the proxy is misconfigured. However, this is not the case. `curl`ing the URL from the command line on the same host yields:

[code]

It just takes some time until there is a reaction from the proxy. I can't do anything about it because it is the order DNS servers are searched on my system. I cannot change this because som

[2019-11-18 10:10] jkaniuk commented on #82182
It should not be 1.17 milestone at this point.
I think we could close this issue.
As mentioned above, this specific issue did not repeat and there is ongoing, independent work that address similar failures (kubernetes/enhancements#1040, but it seems to slip into further releases)

[2019-11-18 10:16] alenkacz commented on #84715
the storage tests are not failing anymore 👍

/close

[2019-11-18 10:16] #84715 closed

[2019-11-18 10:24] alenkacz opened #85414 "[Flaky test] gce-cos-master-alpha-features (ci-kubernetes-e2e-gci-gce-alpha-features)"
**Which jobs are failing**:
gce-cos-master-alpha-features

**Which test(s) are failing**:
[sig-network] Networking should recreate its iptables rules if they are deleted [Disruptive]

**Since when has it been failing**:
as far as testgrid can see, since forever, it's like ... 10% flake

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features

**Reason f

[2019-11-18 10:28] alenkacz commented on #85320
we're seeing this one in our release dashboards as well https://testgrid.k8s.io/sig-release-master-blocking#integration-master

[2019-11-18 10:34] alenkacz opened #85415 "[Flaky test] Conformance - GCE - 1.17 (ci-kubernetes-gce-conformance-latest-1-17)"
**Which jobs are failing**:
Conformance - GCE - 1.17

**Which test(s) are failing**:
test startup

**Since when has it been failing**:
11th November 02:56 PST

**Testgrid link**:
https://testgrid.k8s.io/sig-release-1.17-blocking#Conformance%20-%20GCE%20-%201.17

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/sig testing
/priority critical-urgent
/mile

[2019-11-18 11:01] gongguan commented on #85020
There is nothing wrong during my test with latest code.
[code]

By the way, I haven't found a `2bd9643cee5b3b3a5ecbd3af49d09018f0773c77` commit.

[2019-11-18 11:14] #79250 closed

[2019-11-18 11:44] rikatz commented on #84671
@timchenxiaoyu thanks for raising this.

To make sure We can identify the problem better, some information are still necessary per issue report template:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network-related

[2019-11-18 11:49] aiv commented on #85397
Additional use case:
pod on node X want to communicate with another pod on the same node. To achieve it we have service with externalTrafficPolicy: local what requires type: NodePort od loadbalancer.

Right now that service is pointing to all endpoints, not only to local.

[2019-11-18 12:02] rikatz commented on #85395
Hi @sergey-safarov thanks for raising this up :)

As this might be a nice feature, it assumes that You will need deep changes also into Kubernetes API (as the Service Object might be changed).

Usually with changes that touches those parts of code, We follow the process of opening a KEP (https://github.com/kubernetes/enhancements).The process is described here:
https://github.com/kubernetes/commun

[2019-11-18 12:07] alenkacz commented on #82182
/milestone v1.18

[2019-11-18 12:08] alenkacz commented on #82182
Thanks @jkaniuk

/close

[2019-11-18 12:08] #82182 closed

[2019-11-18 12:30] columbus9963 opened #85416 "proxy/userspace: The priority of OnServiceUpdate should be higher than ensurePortals"
**What would you like to be added**:
preformance enhance for kube-proxy/userspace iptables rule synchronization when Service changed
**Why is this needed**:
For kube-proxy/userspace, syncProxyRules will take about 5m+ when the number of k8s Service with external ip > 1500+. It has those problem:
  * The iptables rules synchronization of a Service may delay several minutes after the Service changed

[2019-11-18 13:31] jkaniuk commented on #85343
Not yet fixed for 1.17

/reopen

[2019-11-18 13:39] yvespp opened #85418 "Dockershim streaming server conflicts with NodePort"
**What happened**:
`kubectl exec` fails or times out:

Connection refused:
[code]
Timout:
[code]

**What you expected to happen**: `kubectl exec` works...

**How to reproduce it (as minimally and precisely as possible)**:
* kube-proxy runs in ipvs mode
* api-server config: service-node-port-range: 30000-39999
* kubelet starts the docker shim streaming server in the NodePort range (here 127.0.0.1:3

[2019-11-18 13:42] yvespp commented on #85418
/sig node

[2019-11-18 13:53] RainbowMango commented on #85369
Summary the root cause here:

According to metrics deprecated policy, if a metric's `deprecated verison` - `current version` >= 1, it will become a hidden metric. Hidden means we will not register it to the Prometheus registry by default.

If we try to register a hidden metric to the stability framework, the warning log will be printed out.

Because some metrics registered by init() calls from the

[2019-11-18 13:53] avarf commented on #47163
/reopen
/lifecycle active

[2019-11-18 13:57] RainbowMango commented on #85369
I have tried to print the metric's name at local:

kubelet:
[code]
kube-proxy:
[code]
kube-apiserver:
[code]
kube-controller-manager:
[code]
kube-scheduler:
[code]

[2019-11-18 14:16] RainbowMango commented on #85411
IMO, we can't/shouldn't stop components to register metrics by init() calls from import.
So, I'd prefer to track all the collectors inside the stability framework.

The idea is :
- Extend Registerable interface, add a API like `Clear()` for clear all status marked in last register process;
- track all collectors in kubeRegistry, classify by registerable, hidden, etc...
- track all registry
- when

[2019-11-18 14:16] #79274 closed

[2019-11-18 14:36] fozziscrazy77 opened #85420 "Android"
Internal applets
toybox 0.7.3-37-g04940678c81a
/data/user/0/eu.thedarken.sdm/files/toybox_sdm
cat (USER), chmod (USER), chown (USER), cp (USER), du (USER), echo (USER), find (USER), grep (USER), kill (USER), mkdir (USER), mount (USER), mv (USER), pidof (USER), ps (USER), rm (USER), rmdir (USER), stat (USER), test (USER), touch (USER), xargs (USER) just wondering what this mesnsvpjü

[2019-11-18 14:38] yue9944882 commented on #85398
this is a deisgned "option ----> config --(complete) --> completedConfig --(new)--> instance" code flow. the other way round, i remember we agreed refactoring and applying it throughout the codebase somewhere else offline..

[2019-11-18 14:49] Ptyool commented on #75175
Hi, I can confirm that it's working on 1.15.3

[2019-11-18 15:02] tianrenz2 commented on #44665
Try to check your /etc/kubernetes/manifests/kube-apiserver.yaml and see if "insecure-port" is set to 8080, in my case that's the reason.

[2019-11-18 15:05] gitnik commented on #51096
Any updates on this?

[2019-11-18 15:12] #85343 closed

[2019-11-18 15:25] neolit123 commented on #85369
ideally the registration should happen outside of init(), which means calling it on demand.
but i will defer to the owning sigs.

[2019-11-18 15:34] fentas commented on #14040
/remove-lifecycle stale

[2019-11-18 16:59] danwinship commented on #82361
Actually, no. #71305 was fixed by #82966. But this bug was fixed shortly pre-1.17 by #81517, so it probably should have been closed anyway. It's not fixed in 1.16 and earlier, and #81517 is large enough to be dubious as a backport. I had originally wanted to at least commit a warning to older branches, except that it's tricky to do because you can't just check the iptables version number or you'll

[2019-11-18 17:08] zh168654 opened #85422 "kube-proxy ipvs mode cannot access clusterip:port when node reboot"
**What happened**:

Because of known issue https://github.com/kubernetes/kubernetes/issues/71071, we update kube-proxy to 1.12.5 when using k8s 1.12.3, it does solve the problem that kube-proxy stuck after k8s run normally for a period of time.
But when node reboot, sometimes we cannot access all clusterip:port
It doesn't happen every time, but it has happened in many clusters.
If I manually resta

[2019-11-18 17:11] zh168654 commented on #85422
/sig network

[2019-11-18 17:12] zh168654 commented on #85422
/area ipvs

[2019-11-18 17:15] dims commented on #85420
/close

not sure what this is about

[2019-11-18 17:15] #85420 closed

[2019-11-18 17:17] dims commented on #85411
thanks @RainbowMango !

[2019-11-18 17:19] neolit123 commented on #85413
@rabejens
hi, i'm sorry but this is something we don't wish to add.

fetching a version from the internet is not mandatory.
if you wish to use a certain version instead of waiting for kubeadm to fetch a stable version from the internet, you can just pass it via --kubernetes-version.

thanks
/close

[2019-11-18 17:19] #85413 closed

[2019-11-18 18:26] Jefftree opened #85425 "Add Conformance kubectl test for cluster urls not in the form of <ip>:<port>"
**What would you like to be added**:

kubectl supports a "server" argument where the value could be a base URL/IP address (<ip_addr>:443) or an URL with a path attached (<ip_addr>:443/clusterA). Our e2e tests rely on the former scheme, and we have no e2e tests testing the latter.

kubectl already has a unit test for the "<ip_addr>:443/clusterA" format (https://github.com/kubernetes/kubernetes/blob

[2019-11-18 20:21] mortent commented on #72320
So what happens is that the disruption controller decides `allowedDisruption` based on the ready condition of pods. So while the PDB in the example above initially starts out allowing 1 disruption, whenever the container in one or more of the pods completes, this will be reduced to 0. Note that the phase of the pod remains `Running` even while the container are being restarted.

The eviction contr

[2019-11-18 21:23] davidz627 commented on #79043
Instead of this would it be possible to just change the `provisioned-by` annotation on the `PV`. That *is* the signal. Otherwise we run the risk of adding yet another condition to the already complex logic. I wonder if its possible to have the PV controller go in and switch them all on `init` when it detects `CSIMigrationPlugin` is on.

[2019-11-18 21:52] mlowery opened #85428 "Scheduler performs deeper validation than when pod is admitted"
Note: This looks like the same as https://bugzilla.redhat.com/show_bug.cgi?id=1760807 but I didn't see an issue for it in this repository.

**What happened**:

All new pods stuck in `Pending` with the following event:

[code]

**What you expected to happen**:

No scheduling error.

**How to reproduce it (as minimally and precisely as possible)**:

Submit a pod spec with this excerpt. All subsequen

[2019-11-18 21:59] mlowery commented on #85428
/sig scheduling

[2019-11-18 22:36] gkarthiks commented on #27744
Seems the list is complete. Should this issue be closed rather still open?

[2019-11-18 23:07] castlemilk opened #85429 "kubectl get componentstatus incorrectly printing"
**What happened**:

When using versions of kubectl equal to 1.16+ the following output is displayed:

[code]

**What you expected to happen**:

We should see the status information correctly displayed as follows:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

use version 1.16+ of kubectl, we've tested this against kind v0.6.0 (k8s 1.16) and docker for desktop (k8s 1.14

[2019-11-18 23:08] castlemilk commented on #85429
/sig cli

[2019-11-18 23:09] castlemilk commented on #85429
/assign @castlemilk

[2019-11-18 23:09] castlemilk commented on #85429
/assign  @fgogolli @tyhal

[2019-11-18 23:10] castlemilk commented on #85429
/assign  @fgogolli

[2019-11-18 23:10] castlemilk commented on #85429
/assign  @fgogolli

[2019-11-18 23:25] #77624 closed

[2019-11-18 23:43] castlemilk commented on #85429
/cc @alisondy

[2019-11-18 23:53] msau42 commented on #85320
[code]

Looks like there are issues with syncing object updates between PV controller and scheduler, and I suspect that the two are racing on updates to the PVC object (scheduler trying to update selectedNode annotation, and PV controller trying to update PVC bound state).

[2019-11-19 01:00] castlemilk commented on #85429
Duplicate of https://github.com/kubernetes/kubectl/issues/762 resolved by https://github.com/kubernetes/kubernetes/pull/85174 and https://github.com/kubernetes/kubernetes/pull/85309

[2019-11-19 01:00] #85429 closed

[2019-11-19 01:14] zouyee commented on #85428
/remove scheduling
/sig machinery
/assign
/cc @liggitt

[2019-11-19 01:15] zouyee commented on #85428
/sig api-machinery

[2019-11-19 01:16] zouyee commented on #85428
/remove-sig scheduling

[2019-11-19 02:04] danwinship commented on #85414
/assign

[2019-11-19 02:39] ityuhui commented on #60789
Hi @PaulFurtado

I'm implementing an admission webhook (MutatingWebhookConfiguration) to set **hostname** for the pods generated by DaemonSet.

But the name of pod is **empyt** at the time that mutating webhook is running.

Could you meet this problem ?

[2019-11-19 02:42] joechan222 opened #85434 "pod's service cannot reach via Service IP from other node"
Hello, I am now encountering the following situation. I have expose the Kubernetes pod's service by using the NodePort, which is mapping the owf-svc port - 8081 to host port 30016. However, there are some problem in getting the repose packet.

Node port setting
owf-svc NodePort 10.233.44.11 8081:30016/TCP 6h34m

kcp get po owf-deployment-58b7bbdc94-xdfvg -o json | grep IP
    "hostIP": "172.20.84.

[2019-11-19 02:48] joechan222 commented on #85434
/sig node

[2019-11-19 02:49] zhouya0 commented on #84765
/close

[2019-11-19 02:49] #84765 closed

[2019-11-19 02:59] Davidrjx commented on #84794
@chrisohaver thanks for your reply.
kubectl -n kube-system describe deployment coredns, outputs
[code]
as some cluster recreation test made, pod name changed, run kubectl -n kube-system describe pod coredns-5c98db65d4-4gfvs, outputs
[code]
and after cluster recreation and calicov3.3.7 deploy completed, currently coredns keep crashloopbackoff, where kubectl logs po/coredns-5c98db65d4-4gfvs  -n kube

[2019-11-19 03:05] Davidrjx commented on #84794
@chrisohaver  in that case above, i insert a  iptables rule with port 443 into INPUT chain, coredns run without crashbackoff but exec into a user pod container, can not ping or nslookup kernernetes service but ping service ip ok.
(make a note that my cluster use ipvs as kube-proxy proxy mode)

[2019-11-19 03:08] PaulFurtado commented on #60789
Hi @ityuhui,

I did hit that issue when implementing this with an admission controller. The solution ended up being to handle generating the pod name in the admission controller, just like the kubernetes API would do internally.

When you create a pod, it must have either a name set, or a generateName field set. The API then uses generateName as a prefix for the pod name. Our webhook admission con

[2019-11-19 03:34] rayterrill commented on #80897
Felt like I was losing my mind - same issue as well - new EKS 1.14 cluster.

[2019-11-19 04:39] gkarthiks commented on #68026
I am working on the iptables pkg. Updated in the google docs [here](https://docs.google.com/spreadsheets/d/1VhU6zCk-vaAnbu_XkgsIq5I7jVnezUquWBMhcIN6AJM/edit#gid=0)

[2019-11-19 05:34] Ruilkyu opened #85438 "how to use "cpuset-cpus"?"
questions:
      How to limit the number of cpu cores a container runs on？

[2019-11-19 05:50] jessehu commented on #74340
Hi @fOO223Fr which item in the 3.4 changelog fixes this issue?

[2019-11-19 05:59] peter-wangxu commented on #85438
simply enable the static cpu manager: https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/#static-policy
and create `Guaranteed` pod :)

[2019-11-19 06:02] yuyulei commented on #85256
@kow3ns @smarterclayton

[2019-11-19 06:03] #76395 closed

[2019-11-19 06:04] randreev1321 commented on #70179
I have the same problem.
`kubectl version
Client Version: version.Info{Major:"1", Minor:"13+", GitVersion:"v1.13.11-dispatcher", GitCommit:"2e298c7e992f83f47af60cf4830b11c7370f6668", GitTreeState:"clean", BuildDate:"2019-09-19T22:26:40Z", GoVersion:"go1.11.13", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"13+", GitVersion:"v1.13.11-gke.14", GitCommit:"56d8

[2019-11-19 06:15] boluisa commented on #85310
@sarveshkaushal  apps/v1beta1 is a deprecated apiversion in kubernetes 1.16.
looks like your kubectl client is on version 1.16.
Note: deployment moved to apiversion apps/v1, probably why that worked.

[2019-11-19 07:00] maartenschalekamp commented on #78338
@Belogix Thank you for the info.

I went to implement it rather after the register-svc.ps1 was executed. The vxvlan0 hns network will only be available after flannel created it as well, so running the GetSourceVip too early would cause invalid configurations generated in the sourceVip.json file.

I have added this just after my register-svc.ps1 command
[code]

The parameter `-ipAddress` from the f

[2019-11-19 07:19] OoEddieoO commented on #84438
more tests are done.
it is not resulted by nginx ingress.
the L4 proxy is closed and the nodeport is adapted, while the problem still existed

[2019-11-19 07:35] cofyc commented on #85320
https://github.com/kubernetes/kubernetes/blob/81af5baff8e958dc8817913ec3c4172028f30122/test/integration/volumescheduling/volume_binding_test.go#L141-L145
in this case, the PVC is prebound which is `unbound immediate PersistentVolumeClaims`, the scheduler shouldn't set `selectedNode` annotation.

[2019-11-19 07:36] ndesh26 commented on #70161
I didn't use it with cgroups Hence I might not be of much help.

[2019-11-19 07:41] yvespp commented on #85418
Fixed be setting sysctl `net.ipv4.ip_local_port_range = 40000 60999`

Maybe this should be documented somewhere?

[2019-11-19 07:51] randreev1321 commented on #70179
Looks like the problem in the docker.
On version `docker-19.03.4` those problem doesn't show.

[2019-11-19 07:51] ityuhui commented on #60789
Thank you @PaulFurtado

I generated name of pod in my webhook, and added name,hostname,subdomain to patch operations,  but I still can not get a DNS record for the pod generated by daemonset or deployment althouth I can see the name/hostname/subdomain are set successfully by kubectl get po ${podname} -o yaml

Have you any other operations ?

[2019-11-19 08:06] ricky1993 opened #85443 "DualStack: Support pod env source get host IPV6"
**What would you like to be added**:
We would like to set host IPV6 address as an env var in pod spec.
**Why is this needed**:
In IPV4 scenario, we use EnvVarSource to get status.hostIP and set it as a env var in pod. Can we support IPV6 as IPV4? Or do we have any other better solution?

[2019-11-19 08:06] ricky1993 commented on #85443
/sig network
/sig api-machinery

[2019-11-19 09:08] bashofmann commented on #80968
The patch in PR https://github.com/kubernetes/kubernetes/pull/83455 fixes this issue for us.

[2019-11-19 10:14] erheron commented on #81963
HI! Is this still actual? I would like to work on this, but I probably would need Your help @codenrhoden (this would be my first contribution)

[2019-11-19 10:57] gongguan commented on #85418
I wonder why you could use 32935 or 37751 as nodePort.
There is a check in nodePort: `The range of valid ports is 30000-32767`

[2019-11-19 11:22] hex108 opened #85447 "Scheduler resource leak: deleted pod is not deleted from nominated pods"
**What happened**:

Environment:  kubernetes 1.13, and pod priority and preemption are enabled.

Pod `test` is nominated to node `node-1`. Before pod `test` is [assumed](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/scheduler.go#L529), it will never be deleted(deleted at [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/scheduler.go#L542)) from [`nomina

[2019-11-19 11:36] retnuh opened #85448 "Swagger file missing io.k8s.apimachinery.pkg.apis.meta.v1.unstructured.Unstructured"
**What happened**:

the `api/openapi-spec/swagger.json` does not contain an entry for the `io.k8s.apimachinery.pkg.apis.meta.v1.unstructured.Unstructured` type.

**What you expected to happen**:

As this type is consumed by downstream dependencies (specifically, argo-events), it would be nice if it were actually exported in the swagger/openapi definition.

**How to reproduce it (as minimally and p

[2019-11-19 12:28] Davidrjx commented on #70161
thanks, through log verbose, found some cgroup subsystem need to be created during kubelet boot

[2019-11-19 13:21] nemo83 commented on #73906
[code]

[2019-11-19 13:37] khyveasna commented on #85447
@k8s-ci-robot `j`

[2019-11-19 13:41] yvespp commented on #85418
You can set a custom node-port-range in api-server which we did:
service-node-port-range: 30000-39999

[2019-11-19 13:57] r0bj opened #85450 "kubelet_running_pod_count metric includes also non-running pods"
**What happened**:

`kubelet_running_pod_count` metric returns incorrect number including pods in non-running state.

**What you expected to happen**:

`kubelet_running_pod_count` metric returns correct number of pod only in running state.

**How to reproduce it (as minimally and precisely as possible)**:

Number of pods on node `k8s-worker-s53` in different state:
[code]

Metric `kubelet_running_

[2019-11-19 13:58] r0bj commented on #85450
/sig  node

[2019-11-19 14:08] chrisohaver commented on #84794
That error says that your Pods cannot reach the kubernetes api.  This suggests a more general problem with the network in the cluster, not CoreDNS itself.  CoreDNS is behaving as expected in this situation.

[2019-11-19 14:22] tomerleib commented on #81101
Facing the same issue

[2019-11-19 14:22] tomerleib commented on #81101
/remove-lifecycle stale

[2019-11-19 14:26] chrisohaver commented on #84794
Can you respond to the following request from above?

e.g. Can you give an example a situation where id doesn't work as expected ...

Given the other symptoms you have revealed so far, I would guess you are getting a timeout for DNS requests. Can you confirm?  You say you can ping Service IPs, but you have not said whether or not you can reach the services at an application level (e.g. if you have

[2019-11-19 14:30] aojea commented on #85443
In an IPv6 cluster the env variable returns an IPv6 address, can you expand on your problem?

[2019-11-19 14:58] wu0407 commented on #78865
/remove-lifecycle stale

[2019-11-19 15:34] valumar commented on #71904
Still have an issue in fresh installed k8s 1.16.3 by kubeadm tool:
sc.yml:
[code]
pvc.yml:
[code]

[2019-11-19 15:46] liggitt commented on #85448
the swagger.json file only contains types referenced from served endpoints... is the unstructured type returned from served endpoints?

[2019-11-19 15:47] valumar opened #85454 "1.16.3. Error: "failed to create rbd image: executable file not found in $PATH, command output: ""
Still have an issue #71904 in fresh installed k8s 1.16.3 by kubeadm tool:
**What happened**:
Could not create pvc

/open

**What you expected to happen**:
Create pvc

**How to reproduce it (as minimally and precisely as possible)**:
sc.yml:
[code]
pvc.yml:
[code]
kubectl describe pvc test-3gb:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`

[2019-11-19 15:49] valumar commented on #85454
/sig storage

[2019-11-19 16:08] retnuh commented on #85448
I believe the argo-events sensors allow you to refer to arbitrary k8s objects as resources:  https://github.com/argoproj/argo-events/blob/53dc7076b03ab5afa022b33d840e302b3285963c/pkg/apis/sensor/v1alpha1/openapi_generated.go

[2019-11-19 16:14] liggitt commented on #85448
then I would expect the openapi served by the argoevents server to include the unstructured definition, but the static swagger.json file in the kubernetes/kubernetes repo only contains the types served by the kube-apiserver

[2019-11-19 16:25] ingvagabund commented on #84306
Testing PR with changes and python script to generate the numbers and graph using scheduler logs and scheduler metrics: https://github.com/kubernetes/kubernetes/pull/85455

[2019-11-19 17:39] NicolasT commented on #81725
/remove-lifecycle stale

[2019-11-19 18:19] valumar commented on #85454
I've noticed that kubeadm uses  image: k8s.gcr.io/kube-controller-manager which doesn't have rbd, but [here](https://kubernetes.io/docs/concepts/storage/storage-classes/#provisioner) RBD Plugin marked as  Internal Provisioner.
I think kubeadm have to use anaother image with rbd or k8s.gcr.io/kube-controller-manager should have rbd on it.

[2019-11-19 18:21] retnuh commented on #85448
Why should an external project need to define a kubernetes type to work?  I don't understand.  It's a type defined in the kubernetes project; k8s should provide the definition in it's swagger file.  That's the point - a central point of authority.  If every external project has to create it's own swagger definitions, that will lead to chaos.

[2019-11-19 18:33] liggitt commented on #85448
The /openapi/v2 endpoint fetched from an actual server will return the definitions for things served by that server. The static swagger.json checked in is not expected to contain all definitions for all types that can be served by any server (it can't, given aggregated and custom resource definitions)

[2019-11-19 19:00] amitkumarjain4u2u commented on #59864
I had installed dashboard by following

Below link:

https://docs.aws.amazon.com/eks/latest/userguide/dashboard-tutorial.html

till step kubectl proxy i am getting results as expected but below URL is not accessible:

http://localhost:8001/api/v1/namespaces/kubernetes-dashboard/services/https:kubernetes-dashboard:/proxy/#!/login

I have done all these steps on master.
my machine is an AWS machine.

[2019-11-19 19:23] neolit123 commented on #85454
/remove-area kubeadm
/remove-sig node

like mentioned in https://github.com/kubernetes/kubeadm/issues/1926
this is not a kubeadm bug, but rather something that has to be discussed with sig-storage and sig-release.

[2019-11-19 19:27] #85310 closed

[2019-11-19 19:45] danwinship commented on #85414
FTR, I'm pretty sure that the feature is working fine and it's only the test that is broken. The kubelet logs (eg, [here](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/1196742361711906816/artifacts/bootstrap-e2e-minion-group-3rqj/kubelet.log)) show that it *is* noticing the deleted chains and reloading:

    I1119 10:56:23.337984    1325 iptables.g

[2019-11-19 21:15] aksgithub commented on #79773
/remove-lifecycle rotten

[2019-11-19 21:24] valumar commented on #79206
/reopen
/remove-lifecycle rotten

[2019-11-19 21:28] UnrealCraig commented on #62099
Silently ignoring `readOnly: false` is ridiculously stupid.
The ConfigMap is mounted on startup, why can't we allow the directory to be written to afterwards? Wy can apps not rewrite the config files in a detached state (i.e. unrelated to the CM) during the lifetime of the Pod?
The workarounds add signifiant complexity for no good reason!

[2019-11-19 23:53] uselessidbr opened #85465 "Revert PV deletion in Terminating State"
**What would you like to be added**: Possibility to revert a PV deletion in Terminating State

**Why is this needed**: While the deletion was not processed, it should be possible to undo it. Ex.: mistaken deletion

[2019-11-20 01:24] xiaoanyunfei commented on #85450
/assign

[2019-11-20 01:42] Davidrjx commented on #84794
@chrisohaver sorry, what i was looking up was kubernetes by nslookup kubernetes, result was like '...no server reachable..'

[2019-11-20 02:12] zouyee commented on #85450
https://github.com/kubernetes/kubernetes/issues/81412
duplicate
/close

[2019-11-20 02:12] #85450 closed

[2019-11-20 02:59] #80781 closed

[2019-11-20 04:14] aramase commented on #85354
@andyzhangx Are you already working on this? If not, I was wondering if I can pick it up.

[2019-11-20 04:15] YunWang commented on #84430
Maybe, he wanted to tell you that the resource object you want to update has been modify before you update it, so your action is rejected.

[2019-11-20 05:28] MikeSpreitzer commented on #79610
@matte21

[2019-11-20 05:40] andyzhangx commented on #85354
@aramase yes, it's half done already. actually the code change is already in my dev machine, let it send it out.

[2019-11-20 05:50] #80415 closed

[2019-11-20 05:52] aramase commented on #85354
@andyzhangx ok, sounds good!

[2019-11-20 06:15] andyzhangx commented on #83344
fixed by https://github.com/kubernetes/kubernetes/pull/84917

[2019-11-20 06:15] #83344 closed

[2019-11-20 06:31] remcohaszing commented on #56402
/remove-lifecycle stale

[2019-11-20 06:45] smileusd opened #85476 "kubelet not call unstagevolume when it restarts after unpublishvolume"
/kind bug
/sig storage
**What happened**:
When user deletes pod and csi pvc, kubelet will send unpublishvolume and unstagevolume request to csidriver. But when finish unpublishvolume response finished and pod was deleted, kubelet down and restart. Kubelet will lost the information of mount with this volume and it will never to call unstagevolume, and csi-provisioner will delete volume failed forev

[2019-11-20 07:23] erheron commented on #81963
/assign

[2019-11-20 07:29] smileusd commented on #85476
/assign

[2019-11-20 07:30] AaronLux commented on #85080
Sorry, my bad. Wrong-way to create Kube config.

[2019-11-20 07:31] AaronLux commented on #85080
Sorry, my bad. Wrong-way to create Kube config.

[2019-11-20 07:31] #85080 closed

[2019-11-20 07:33] smileusd commented on #85476
/assign jsafrane

[2019-11-20 07:44] christianhjelmslund commented on #46421
I think I have a similar issue. I wrote a post https://stackoverflow.com/questions/58938832/pod-with-pvc-stuck-on-container-creating about it. The disk is owned by another VM.

[2019-11-20 08:07] andyzhangx commented on #46421
@christianhjelmslund what's your k8s version and are you using vmss?
There is a PR fixed the issue: https://github.com/kubernetes/kubernetes/pull/85158

This dirty cache issue would cause lots of weird disk issues and this issue lies in k8s v1.13.12, v1.13.13, v1.14.8, v1.14.9, v1.15.5, v1.15.6, v1.16.2, v1.16.3 in vmss clusters using data disks

[2019-11-20 09:00] xiaoanyunfei commented on #85450
Do you make progress in this issue ?  @zouyee

[2019-11-20 09:33] LzyRapx commented on #28272
[code]
[code]
This would be work for me.

[2019-11-20 10:29] xiaoxubeii commented on #84459
You can submit PRs directly.

[2019-11-20 10:34] FibonacciPrime opened #85477 ""Peer's Certificate has expired" when installing K8s from yum repo"
/kind support

What happened:
I am getting "Peer's certificate has expired" error when installing Kubernetes components from the Yum repo (https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64).

[code]

**What you expected to happen:**
It is supposed to work.

**How to reproduce it (as minimally and precisely as possible):
Anything else we need to know?:**

**Environment:**

- Kuberne

[2019-11-20 10:39] #85477 closed

[2019-11-20 10:39] FibonacciPrime commented on #85477
The date on the VM was not set properly, this was causing the issue.
closing

[2019-11-20 10:53] Belonias commented on #73906
@nemo83 Did you find any workaround ? Today suddenly I encountered the same error

[2019-11-20 11:05] nemo83 commented on #73906
what are you using to create/manage the EKS cluster?

[2019-11-20 11:10] Belonias commented on #73906
@nemo83 eksctl 0.10.1 -_- ok thank you very much

[2019-11-20 11:16] alexanderaucobo commented on #73906
You need to update your ingress controller on eks 14.
Like: kubectl -n kube-system set image deployment/alb-ingress-controller server=docker.io/amazon/aws-alb-ingress-controller:v1.1.3

[2019-11-20 11:43] christianhjelmslund commented on #46421
@andyzhangx
client version: v1.16.0
server version: v1.16.3
kubeadm version: v1.14.3
using vmms: Well, I'm not completely into this stuff yet, but based on the error message:

cannot be attached as the disk is already owned by VM '/subscriptions/1405bf18-bf7d-4a2f-9aa7-25ff73ba58a6/resourceGroups/cie-dev-2-1-eastus/providers/Microsoft.Compute/**virtualMachineScaleSets**/k8s-dev-nodes-2002/virtualM

[2019-11-20 12:14] SerialVelocity commented on #81575
/remove-lifecycle stale

@zouyee Any update on this? I saw the PR went up against cadvisor but hasn't been touched in a couple of months.

[2019-11-20 12:27] Belonias commented on #73906
@nemo83 your solution to downgrade eksctl worked perfect.
@alexanderaucobo I couldn't try your solution because after I downgrade and upgraded again eksctl couldn't even create a cluster

[2019-11-20 12:54] rockernaxo commented on #72593
Hi, we are hitting hard on this issue with more than thousand pods created in a few minutes.
Is there any workaround to this more than the Resource Quota?

[2019-11-20 13:29] sferich888 commented on #80190
@deads2k @derekwaynecarr I don't think we should let this go stale, how can we keep the boys from closing this?

[2019-11-20 13:56] chrisohaver commented on #84794
OK, thanks.  That also indicates something is wrong with ipvs - Network traffic can reach the Cluster IPs, but that traffic is not reaching the Pods.

Have you tried the troubleshooting steps in https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/#is-the-kube-proxy-working

[2019-11-20 14:06] cynepco3hahue commented on #64691
@odinuge Thanks for the answer

[2019-11-20 14:12] wojtek-t commented on #79464
/help wanted

[2019-11-20 14:24] dims commented on #79043
cc @xing-yang

[2019-11-20 14:40] avarf opened #85483 "Kube-proxy remains running even if there are errors"
**What happened**:
This was the third time that I faced a problem with k8s networking and all of these problems were related to kube-proxy and one single error/bug: kube-proxy remains up and running even when it cannot bind to a port properly.

All these times finding the true problem was a nightmare and took hours and the first time even days to find it.

This causes many different problems inclu

[2019-11-20 14:49] rayterrill commented on #80897
Also built a new 1.13 cluster - same behavior with nginx ingress + NLB.

[2019-11-20 15:40] rforberger commented on #85197
The problem just occured again, but I can't track down why it is occuring. I had to delete the OIDC token again and log on to keycloak again, then everything worked fine again.

[2019-11-20 16:21] cbf123 commented on #83476
Ideally the solution here should account for the fact that the init containers are run sequentially (and thus can re-use the same resources), while the app containers can run in parallel (but can re-use resources from the init containers).  (See https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#resources for details.)

So I think we should first determine the *effective* init req

[2019-11-20 16:28] benmoss commented on #81938
I am also running into this, running flanneld from master and KB4523205 installed. That's the latest cumulative one that I'm assuming includes all the previous stuff. Here's a gist with all the logs from collectlogs: https://gist.github.com/benmoss/9556574fc50b4153b75da98531e946f2

[2019-11-20 16:35] klueska commented on #83476
Yes. This is part of the plan. Once we are able to do the allocation for all containers up-front at pod-admit time, we will share CPUs accordingly across init-containers and into app-containes. This is exactly what the device manager does as well, for refererence.

[2019-11-20 16:47] wilmardo commented on #75482
We ran into this today, this issue is the result from a design decision at containerd:

Source: https://github.com/containerd/containerd/blob/master/docs/ops.md#systemd

So when containerd is upgraded it will abandon its child processes by design. So all the ignored daemonsets still running on the drained node are abandoned but Kubernetes will not pick them back up after uncordoning. This is seems

[2019-11-20 17:07] andyzhangx commented on #46421
@christianhjelmslund just detach the disk manually should work now, no need to re-deploy the pod, it would automatically attach the disk to another node.

[2019-11-20 17:11] psimaj commented on #66766
@yuvalsteuer I wasn't able to tackle the issue and will not continue trying, feel free to take it.

[2019-11-20 17:49] PatrickLang commented on #80534
@bclau

Seeing this on GCP runs. This is still skipped on Azure. https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-1-17/1197156437944438786

[code]

[2019-11-20 18:55] davidz627 commented on #79043
This is a high priority to be fixed and should be cherry-picked as well if possible

[2019-11-20 19:46] joelsmith commented on #81135
/remove-lifecycle stale

[2019-11-20 20:06] michaelgugino opened #85485 "Graceful deletion mutates object invalidating ResourceVersion in deletion precondition"
**What happened**:

When developing unit tests related to PDBs/Deletion,https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go#L932 mutates pod resource via adding deletion timestamp, and this directly conflicts with checking resource version.

**What you expected to happen**:

No resource version mutation.

**How to reproduce it (a

[2019-11-20 20:35] ahmetb commented on #65798
FWIW there's a kubectl plugin on [Krew](https://krew.dev) that does exactly this:

[code]

[2019-11-20 21:02] Huang-Wei commented on #72278
/remove-lifecycle stale

[2019-11-20 21:10] #73994 closed

[2019-11-20 21:12] zachmandeville opened #85487 "Explore e2e tests that hit a focused # of endpoints"
This is an exploration to potentially help identify e2e tests that would be a good fit for promotion to conformance.  I am curious to find the intersection of tests that hit a small number of endpoints, and whether those endpoints are hit by a small number of tests.  This would highlight tests that are written specifically for that endpoint.  For example, if `listCoreFoov1Bar' is only hit by 1 tes

[2019-11-20 21:39] liggitt commented on #85485
can you provide more details about what you're observing?

[2019-11-20 21:45] liggitt commented on #85465
Setting of deletionTimestamp on an object is a one-way operation. Allowing "undoing" a deletion request would require everything reacting to observing the deletion to also be able to undo any action they took in response. This includes not only the controllers inside the kubernetes tree, but also third-party API clients.

/close

[2019-11-20 21:45] #85465 closed

[2019-11-20 21:49] mdavis-ciena commented on #78286
/remove-lifecycle stale

[2019-11-20 21:57] nvanheuverzwijn commented on #64510
This issue is still a problem and is well documented in this blog post : https://freecontent.manning.com/handling-client-requests-properly-with-kubernetes/

SIGTERM is received by pod before endpoint deregister the pod. POD shuts down before iptables is changed. This is problematic and most operators won't think about this problem.

Adding a preStop lifecycle hook to all pods for a 5 second delay

[2019-11-20 22:03] nvanheuverzwijn commented on #39170
This looks like https://github.com/kubernetes/kubernetes/issues/64510

[2019-11-20 22:23] #84880 closed

[2019-11-20 22:31] kenotsolutions opened #85488 "create a user and assign role and its rolebindind"
Document - Certificate Based Authentication
Pre-Requisite:

- Create a Linux container / Linux server were we can run openssl commands.

yum -y install openssl nano

- Connect the linux box with existing K8s setup.

Kubectl Installation:

curl -LO https://storage.googleapis.com/kubernetes-release/release/`curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt`/bin/linux/amd64

[2019-11-20 22:55] EdwinRobbins opened #85489 "Degradation of audit-webhook in batch mode can still impact apiserver"
**What happened**:
Had a audit-webhook configured for batch logging which received a large number of audit logs and because CPU throttled as a result. This caused the apiserver to OOM and resulted in a cluster outage.

**What you expected to happen**:
Using an audit-webhook in batch mode the expectation is that apiserver operation should be prioritized over audit logging and that failure or degrad

[2019-11-20 23:23] enj commented on #85197
@rforberger if it happens again, could you try to run at a high log level and provide the redacted output (along with a redacted kubeconfig)?

[2019-11-21 00:01] tedyu commented on #72593
I think a mechanism should be added for kubelet to convey to scheduler that given pod spec cannot be satisfied on certain nodes.
SysctlForbidden is one such case. CPU affinity management is another case.

[2019-11-21 00:12] #79121 closed

[2019-11-21 00:12] #78024 closed

[2019-11-21 01:07] yuchunyun opened #85491 "node-cidr-mask-size-ipv6 can not work"
**What happened**:
I used dual-stack and set the parameter of kube-controller to --node-cidr-mask-size-ipv4=24 --node-cidr-mask-size-ipv6=96, but the podCidr my node got was still a /64 mask
[code]
[code]
**What you expected to happen**:
The mask the node gets should be the /96 I set
**How to reproduce it (as minimally and precisely as possible)**:
Deploy the cluster using kubeadm, which is config

[2019-11-21 01:09] yuchunyun commented on #85491
@kubernetes/sig-contributor-experience-bug

[2019-11-21 01:09] zhangdavids commented on #50295
solved  :clap:

[2019-11-21 01:20] EdwinRobbins commented on #85489
/sig api-machinery

[2019-11-21 01:21] yuchunyun opened #85492 "kubeadm parameter node-cidr-mask-size repeated"
**What happened**:
I use the following configuration file
[code]
the last generation of`/etc/kubernetes manifests/kube-controller-manager` ,There are three parameters in yaml
[code]
which looks like ` - --node-cidr-mask-size=24` default. The result is that the kube-controller cannot start. When I delete it, the kube-controller will work fine
**What you expected to happen**:
In this case, the defau

[2019-11-21 01:22] yuchunyun commented on #85492
@kubernetes/sig-contributor-experience-bug

[2019-11-21 01:34] prbsparx commented on #57187
I was just trying to find a way to do this because I'm debugging something and am sad to see it doesn't exist yet. :(

[2019-11-21 02:14] #85434 closed

[2019-11-21 02:31] aojea commented on #85491
@aramase is the configuration above correct?

should be using integers instead of strings to configure the node-cidr-masks?
Ref. https://github.com/kubernetes/kubernetes/pull/79993/files

[2019-11-21 02:39] yuchunyun commented on #85491
@aojea
I initially tried using integers, but kubeadm init reported an error.That's why I replaced it with a string, and then I didn't get an error
[code]

[2019-11-21 03:14] zrss commented on #66020
/cc

[2019-11-21 03:16] tanjunchen opened #85495 "404 urls"
**What happened**:
404 urls
**What you expected to happen**:
fix them

1. staging/src/k8s.io/kubectl/docs/book/pages/reference/kustomize.md,https://github.com/kubernetes-sigs/kustomize/tree/master/pkg/transformers/config/defaultconfig
1. staging/src/k8s.io/kubectl/docs/book/pages/reference/kustomize.md,https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/transformers/config/defaultconfig/c

[2019-11-21 03:17] tanjunchen commented on #85495
@kubernetes/sig-docs-en-reviews

[2019-11-21 03:33] tanjunchen commented on #85495
https://github.com/kubernetes/kubernetes/pull/85163 fix number 19

[2019-11-21 03:40] neolit123 commented on #85492
/sig cluster-lifecycle
/area kubeadm
/milestone v1.17

[2019-11-21 04:56] bluebreezecf opened #85497 "Support CSI Volume plugin as VolumePluginWithAttachLimits to report multiple volume limits with different keys"
**What would you like to be added**:
Support CSI Volume plugin as VolumePluginWithAttachLimits to report multiple volume limits with different keys per single CSI Driver

**Why is this needed**:
There is a useful interface [**`VolumePluginWithAttachLimits`** ](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/plugins.go#L278) in k8s volume plugin hierarchy.
Its useful method **`GetVo

[2019-11-21 05:01] #85492 closed

[2019-11-21 05:10] AlyRagab commented on #84697
@immutableT Please :)

[2019-11-21 05:45] aramase commented on #85491
@yuchunyun thank you for reporting this. I'll take a look.

[2019-11-21 05:54] aramase commented on #85491
/assign

[2019-11-21 05:59] chennakesava1 opened #85498 "failed to pull image k8s.gcr.io/kube-controller-manager:v1.16.3"
@kubernetes/sig-node
@kubernetes/sig-Docs

I am following the installation Docs "https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#before-you-begin"
**While running kubeadm init below error  **:
error execution phase preflight: [preflight] Some fatal errors occurred:
        [ERROR ImagePull]: failed to pull image k8s.gcr.io/kube-apiserver:v1.16.3: output: Tryi

[2019-11-21 06:00] bingosummer opened #85499 "should not log "Not saving endpoints for unknown healthcheck" if the service doesn't need health check"
**What happened**:

We see a lot of logs ["Not saving endpoints for unknown healthcheck"](https://github.com/kubernetes/kubernetes/blob/v1.16.3/pkg/proxy/healthcheck/healthcheck.go#L235) when we set the log level of kube-proxy to 3. Some logs are for the service whose type is `ClusterIP`.

**What you expected to happen**:

The logs are not necessary, if the service doesn't need health check.
For e

[2019-11-21 06:06] bingosummer commented on #85499
@kubernetes/sig-network-bugs

[2019-11-21 06:08] bingosummer commented on #85499
@kubernetes/sig-network-bugs

[2019-11-21 06:17] ckcd commented on #84041
@opengers @andrewsykim
Hi, are you working on this issue ?  if not, can I take this ?

thanks.

[2019-11-21 06:27] chennakesava1 commented on #85498
added

[2019-11-21 06:56] ricky1993 commented on #85443
We cannot have a pure IPv6 cluster because the old hardware retirement  need a several years. As a result, we have to maintain a dual-stack cluster for a long time and we want to get both IPv4 and IPv6 address from env variable. Did I make myself clear enough?

[2019-11-21 07:19] #75767 closed

[2019-11-21 07:21] #85130 closed

[2019-11-21 07:29] veezhang opened #85501 "How to update the kubernetes-managed hosts file (host network) ？"
I configure the apiserver into the kubernetes nodes hosts file (/etc/hosts), for example:
[code]
And, I changed the ip of apiserver now,  like this:
[code]
But the hosts file does not changed on those pod with host network, for example:
[code]
How to update the hosts file on pod with host network?

[2019-11-21 08:21] TBBle commented on #67761
I believe we're seeing this on a bare-metal k8s 1.15.4 deployment when Helm v3 tries to create a dozen Services at once. The conflict state leaks back to the caller and fails the install process.

From a `helm install -v9` trace:
[code]

[2019-11-21 08:27] xieyanker opened #85503 "How to add node'role on kubelet v1.16.2"
**What happened**:
Hello, I install the kubernetes with v1.16.2, but I found I cannot configure the node's role in the kubelet's parameter.  The follows is what I config on v1.14.3, but it got error on v1.16.2
[code]
The error log is as follows:
[code]

**What you expected to happen**:
I try run `kubectl label node`, and it can add role for node, but I wonder is there any method to add the role au

[2019-11-21 08:29] xieyanker commented on #85503
/sig node
/sig release
/sig api-machinery
/sig cli

[2019-11-21 08:39] windayski opened #85504 "Resizing PVC failed using flexvolume"
**What happened**:

I am trying to resize a pvc using flexvolume plugin, but it looks like something wrong that the flexvolume plugin didn't get expandvolume call.
And it got a expandfs call only.

**What you expected to happen**:

The flexvolume plugin get expandvolume and expandfs call.

**How to reproduce it (as minimally and precisely as possible)**:

Edit a flexvolume PVC's yaml to increate t

[2019-11-21 08:45] mkumatag commented on #69098
/remove-lifecycle stale

[2019-11-21 08:48] windayski commented on #85504
/sig storage

[2019-11-21 09:37] kayrus commented on #66607
/remove-lifecycle stale

[2019-11-21 09:52] christianhjelmslund commented on #46421
Unfortunately we rely on someone else to detach the disk, but when I got into work this morning, the pod was evicted (after container-creating was running for like over a day) and it worked (without someone manually detaching the disk). When describing the evicted pod, the message is: "The node was low on resource: ephemeral-storage.", so maybe the kube node controller just killed it and detached

[2019-11-21 10:07] issahamieh commented on #59959
hello, @rdrgporto
i will install this command but is not download it why?
sudo apt-get install -y kubelet kubeadm kubectl kubernetes-cni
Reading package lists... Done
Building dependency tree
Reading state information... Done

No apt package "kubeadm", but there is a snap with that name.
Try "snap install kubeadm"

No apt package "kubectl", but there is a snap with that name.
Try "snap install kub

[2019-11-21 10:13] zhangxingdeppon opened #85505 "Possible Bug: /metrics/cadvisor value is wrong, it's larger than docker stats value"
**What happened**:
hi, buddies, I met a probelem, I found that ` /metrics/cadvisor` value is uncorrect, it's larger than `docker stats` value, did it added another resource's value?  could you give me some ideas?  it's very important for me, thanks.
**What you expected to happen**:
I expect to the value to correct.
**How to reproduce it (as minimally and precisely as possible)**:

Here is a exampl

[2019-11-21 10:26] zhangxingdeppon commented on #83672
@calmkart excellent, according to your advice,  this perfectly resolved my problem, it's my client code probelem, when delete replicaset , not set `"propagationPolicy":"Background"` ,  thank you very much.

[2019-11-21 10:29] zhangxingdeppon commented on #85505
@kubernetes/sig-apps-bugs

[2019-11-21 11:01] calmkart commented on #83672
@zhangxingdeppon  you are welcome.

[2019-11-21 11:47] PrakashTrove opened #85506 "If any pods is stuck in pending state at the time of POD HPA(without node scaling), Scaledown will not work."
/sig scalability

**What happened**:
I created one node k8s cluster and deployed a deployment file with two replicas. Then added autoscale to the deployment with min 1 and max 10 pods. Injected the load. Scaled the pods to 10. 8/10 were in running state and 2/10 were the pending state. Stopped the load. Scaledown did not happen.

Pending PODS(2/10) were expecting another node to be avail Running.

[2019-11-21 11:49] iesen commented on #78235
I was having the same issue while updating from v14 to v15 via kubeadm. I deleted the kube-dns service manually before upgrade and it worked, dns is working as expected with new cluster ip.
`kubectl delete service kube-dns`

[2019-11-21 12:10] rforberger commented on #85197
@enj Ok, I will do that, but it didn't occur again so far.

[2019-11-21 12:15] yuvalsteuer commented on #66766
K, If someone can assign this to me, I'll be trying to work on this issue as my first issue in the next week or two

[2019-11-21 12:16] yuvalsteuer commented on #66766
/assign yuvalsteuer

[2019-11-21 13:27] notpad opened #85507 "start-kubemark.sh fails with unbound variable"
**What happened**:
Run `test/kubemark/start-kubemark.sh`, will get error:

`k8s.io/kubernetes/test/kubemark/gce/../../../cluster/kubemark/gce/config-default.sh: line 32: TEST_CLUSTER_LOG_LEVEL: unbound variable`

Try to fix this by `export TEST_CLUSTER_LOG_LEVEL=--v=4` and rerun get another error:

`k8s.io/kubernetes/test/kubemark/gce/util.sh: line 45: KUBE_GCE_INSTANCE_PREFIX: unbound variable`

[2019-11-21 13:38] notpad commented on #85507
I have opened a PR to fix this.

[2019-11-21 13:41] Tejeev commented on #58927
We see a very similar issue when F5 BigIp nodes are in the cluster.  Removing the nodes resolves the issue.  Not sure if our particular situation is a K8s, vSphere, or BigIP bug

[2019-11-21 13:43] Thoro commented on #45509
I also ran into the same issue now, it's not really an issue of the HorizontalAutoScaler, since it uses just the scale property of the corresponding sets.

Regarding the precendence rules it makes sense to improve on them.

1) Idea I just had, no idea if it works:
Assuming the applications know when they have work, and that the source code can be modified, would it be possible (based on the precen

[2019-11-21 14:39] george-angel commented on #57049
/remove-lifecycle stale

[2019-11-21 16:31] aojea commented on #85443
seems that you have to enable dual stack in your cluster https://kubernetes.io/docs/concepts/services-networking/dual-stack/
IIRC you have to use 1.17 version to get the IPv6 addresses using the downward API

[2019-11-21 18:12] andyzhangx commented on #46421
@christianhjelmslund yes, it would. 1.16.3 on vmss would still have that issue if you attach multiple disks  to one node at same time, pls patch with fix #85158 if possible.

[2019-11-21 18:24] immutableT commented on #84697
@AlyRagab What is exactly required from me here?

[2019-11-21 18:25] tedyu commented on #85499
It seems server struct should be enhanced with service type information so that the log can be refined.

Another option is to keep track of the last time such log is made and log this periodically (say every 10 minutes).

[2019-11-21 18:31] #79323 closed

[2019-11-21 18:38] michaelgugino commented on #85485
@liggitt

You can see an example here: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/83906/pull-kubernetes-bazel-test/1197243638665449474

[code]

Here's the relevant section of the tests:
https://github.com/kubernetes/kubernetes/blob/7eb83891d5fe585030fcb2cb89deda86b6dc8a3f/pkg/registry/core/pod/storage/eviction_test.go#L145

There really shouldn't be anything modifying the pod aft

[2019-11-21 19:35] michaelgugino commented on #85485
Okay, I've sorted this out.  We have a conflict with 'graceful' deletion with this approach:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go#L932

This updates the object to add a deletion timestamp, thus the first call to eviction will always fail if we need to set ResourceVersion.

[2019-11-21 19:58] tedyu commented on #85499
It seems option #2 is less intrusive.
I can send out a PR if people think it is acceptable.

[2019-11-21 20:18] vpickard commented on #83481
Hi Kevin,
I've started looking at the CPUManager E2E tests that you reference above. I don't have access to the test matrix sheet yet, request has been sent. But, I did see if last week, had a short mtg with Louise to go over some of this stuff.

I'll start out with some basic tests for topology manger in my local env.  Perhaps, we could setup a short mtg next week to sync up?

[2019-11-21 21:08] tedyu opened #85514 "NoNamespaceKeyFunc doesn't need Context parameter"
**What would you like to be added**:
The Context parameter is used to obtain namespace.
However, NoNamespaceKeyFunc is not concerned with namespace.

**Why is this needed**:
Context parameter can be dropped.

[2019-11-21 21:12] tedyu commented on #85514
/sig apiserver

[2019-11-21 21:27] bswartz commented on #81854
/remove-lifecycle stale

[2019-11-21 21:38] andrewsykim commented on #84041
@ckcd I had a working branch for this, I'll try to upload the PR in a bit

[2019-11-21 21:49] frittentheke commented on #54498
/remove-lifecycle rotten

[2019-11-21 21:50] frittentheke commented on #54498
/remove-lifecycle rotten

[2019-11-21 21:56] tedyu commented on #85514
/sig api-machinery

[2019-11-21 22:00] ahg-g opened #85515 "Back port converting TaintBasedEvictions e2e to integration test"
TaintBasedEvictions was an e2e test that got converted to an integration test in 1.17 because it was very flaky. We should back port this conversion to 1.14, 1.15 and 1.16.

/sig scheduling
/assign @Huang-Wei
/priority important-soon

[2019-11-21 22:13] rehevkor5 commented on #81806
not sure if I'm allowed to do this, but I guess it's worth a try.

/remove-lifecycle stale

[2019-11-21 23:11] ashafer01 commented on #24669
For me I had to completely flip around the order that the cert bundle came from my CA.

My cert bundle shipped as "root...intermediates...server" and the ingress controller needed "server ... intermediates ... root". All of the certs in the bundle get the same `BEGIN CERTIFICATE` heading regardless of specific type (as the comment above says)

[2019-11-21 23:36] rikatz commented on #84671
/remove-triage unresolved

[2019-11-21 23:37] rikatz commented on #84671
/triage needs-information

[2019-11-22 00:20] andrewsykim commented on #84041
/assign

[2019-11-22 00:31] andrewsykim commented on #84438
/remove-triage unresolved

@OoEddieoO as far as I can tell this is still normal behavior from kube-proxy. It clears UDP conntrack entries to avoid conflicts from stale entries/

[2019-11-22 00:34] SVronskiy opened #85519 "Cloning volumes across different namespaces"
**What would you like to be added**:
Please provide oportunity of cloning volumes across different namespaces.

**Why is this needed**:
According to [this article](https://kubernetes.io/blog/2019/06/21/introducing-volume-cloning-alpha-for-kubernetes/) cloning to another namespace is not possible.

We make daily copy of persistent data in production kubernetes to dev kubernekes cluster, then we nee

[2019-11-22 00:48] SVronskiy commented on #85519
@kubernetes/sig-storage-feature-requests

[2019-11-22 00:50] gaorong commented on #80154
/remove-lifecycle rotten

[2019-11-22 01:20] chris-short opened #85520 "Testing"
@markyjackson-taulia

/honk

[2019-11-22 01:23] markyjackson-taulia commented on #85520
/honk

[2019-11-22 01:51] zq-david-wang commented on #85505
If I remember it correct, docker stats changed memory usage from "total memory usage" to "rss memory usage", you may  need to check container_memory_rss usage from cadvisor against docker stats
working set memory is a metrics indicating the memory usage of rss and cache which is currently used

[2019-11-22 02:19] #85369 closed

[2019-11-22 02:20] RainbowMango commented on #85369
In principle, yes, I agree.  Otherwise, we need to be very very careful with every log in the stability framework.

I think we can track it and work out by iteration.

cc @brancz @logicalhan for comments.

[2019-11-22 02:30] njohnson7 commented on #71765
/remove-lifecycle stale

[2019-11-22 02:31] njohnson7 commented on #71765
/reopen

[2019-11-22 02:45] zhangxingdeppon commented on #85505
@zq-david-wang yes, you're right, the `container_memory_rss` value equal the ` docker stats MEM USAGE ` value, but not `container_memory_usage_bytes`, the idea perfectly resolved my doubt, thank you very much.

[2019-11-22 03:35] neolit123 commented on #85498
/triage support

hi, please check if you have connectivity to the GCR bucket:
[code]

[2019-11-22 03:35] neolit123 commented on #85498
/remove-kind bug

[2019-11-22 05:00] lllamnyp commented on #69845
This is a problem for us. We're trying to run Jupyterhub, where multiple notebooks may want to connect to a hadoop cluster via spark. Every such connection requires two ports. We expected, that hooking them up to a load balancer ip would be a solution, but in fact we're still using two ports per node per connection.

This makes things unfeasible in large multitenant clusters, since the pool of nod

[2019-11-22 05:32] aojea commented on #85414
@danwinship This is the cause of the flakiness
https://github.com/kubernetes/kubernetes/pull/84422

The test tries to find the KUBE-MARK-DROP rule https://github.com/kubernetes/kubernetes/blob/f1e912c38abcecfb64e36eb161128b15e69a135b/test/e2e/network/networking.go#L390

but kube-proxy deletes the rule because we are not recreating it as we are doing with the KUBE-MARK-MASK
https://github.com/kuber

[2019-11-22 05:38] Bhuvan26 commented on #72533
Even in our environment, we are facing this issue,

[root@we2 ~]# journalctl -f
– Logs begin at Tue 2019-10-22 14:45:27 IST. –
Nov 21 18:04:06 we2 kubelet[15634]: W1121 18:04:06.848617 15634 reflector.go:289] object-"cfx2019-cscf"/"configmapenvoycfx": watch of *v1.ConfigMap ended with: too old resource version: 43742540 (43744553)
Nov 21 18:04:07 we2 kubelet[15634]: I1121 18:04:07.537029 15634 kub

[2019-11-22 05:44] gbjuno commented on #85389
now 2 clusters with the same configuration get into this situation.

[2019-11-22 05:54] dheerajdwivedi commented on #55405
Did we conclude on this ?
I would like to pick this up.

Here is the proposed config format:
[code]

[2019-11-22 05:58] andrewsykim commented on #69845
FYI folks, @maplain and I are working on a KEP for this. Initial KEP PR probably won't be out for another month as I am taking paternity leave for a few weeks. Please reach out to @maplain if you'd like to help contribute.

[2019-11-22 05:58] chennakesava1 commented on #85498
@neolit123 Thanks! after fixing the issue with docker pull after I fixed the connectivity issue with GCR bucket it's start's working.

[2019-11-22 05:58] #85498 closed

[2019-11-22 06:42] #79328 closed

[2019-11-22 06:43] mayuchau commented on #23726
[mayuchau@cg-id .kube]$ kubectl get nodes
The connection to the server localhost:8080 was refused - did you specify the right host or port?

I am getting above error. I tried above mentioned solutions but it didn't work for me.

[2019-11-22 06:52] mayuchau commented on #23726
Issue Resolved after verifying permissions of /var/run/docker.sock in master node

[2019-11-22 07:24] danushkaf opened #85529 "Connection reset from the application"
We have a docker image created for a go server. This works perfectly in local environment. By local environment I mean we start the docker image in our servers without kubernetes and it works as expected. But when we deployed it in kubernetes we get connection reset.
So we did below to try to narrow down the issue and didn't help. We are using a local kubernetes installation and version is 1.16.

[2019-11-22 07:29] liggitt commented on #85503
This is a duplicate of #84912

See https://github.com/kubernetes/kubernetes/issues/84912#issuecomment-551362981 and the referenced design for the reasons it is not desireable for kubelets to self-select their roles, and for alternatives for labeling nodes.

[2019-11-22 07:29] #85503 closed

[2019-11-22 07:29] SimonCqk opened #85531 "Why PriorityClass does not support multi value ?"
**What would you like to be added**:

Why PriorityClass does not support multi value ?
It is should be like a PriorityClass is defined with a `class name` while with a list of `valueName<-> value`, the class name shows the importance class of these pods, and we can refine the importance between pods by define more singular values, and distinct by its name.
For now, PriorityClass only support one c

[2019-11-22 07:43] #78508 closed

[2019-11-22 08:03] uablrek commented on #84230
Just an observation from memory;

There have been several issues and comments on slack about problems with the "conntracker" for UDP. Unfortunately I have no links to further info at the moment. The basic problem is that the conntracker gets overloaded with short-lived and unnecessary UDP entries, one per DNS query. A solution is to disable conntrack for UDP with a iptables rule in the "raw" chain

[2019-11-22 08:44] #85529 closed

[2019-11-22 09:00] oceaneLonneux commented on #72134
@srsrin  What was the solution for your problem?

[2019-11-22 09:05] raelga commented on #78352
/remove-lifecycle stale

[2019-11-22 09:06] zhucan commented on #85519
@SVronskiy Is it possible to support cross-storage pool cloning in the future?

[2019-11-22 09:18] #83672 closed

[2019-11-22 09:18] #85505 closed

[2019-11-22 09:20] SVronskiy commented on #85519
Currently are able to create PVC snapshot/clone in the same namespace using OpenEBS CSI, Portworx CSI. We need cross namespace cloning of the same data storage, which uses copy-on-write (COW) features. I have no idea why we should need cross-storage pool cloning, have no idea how it could be realized.

[2019-11-22 09:32] zhucan commented on #85519
we want to store volume in a data pool and store snapshot in other pool, our custom need this function. @SVronskiy

[2019-11-22 09:37] SVronskiy commented on #85519
[OpenEBS cStor](https://docs.openebs.io/docs/next/ugcstor.html#snapshot-and-clone-of-a-cStor-volume), [Linstor CSI](https://github.com/LINBIT/linstor-csi/blob/master/examples/k8s/pvc-from-snapshot.yaml)  supports this,

[2019-11-22 09:40] celiawa commented on #78130
We found this issue occurs many time in my environment. We're using kubernetes 1.14.3.

  securityContext:
    fsGroup: 1771
    runAsGroup: 1771
    runAsUser: 1771
    supplementalGroups:
    - 1

drwxrwsr-x. 5 root **_root_** 4096 Nov 14 07:04 pvc-c8b2920e-06ac-11ea-b7a0-00fd45f67d60

Pls take effort on this issue and open the ticket.

[2019-11-22 09:48] zhucan commented on #85519
OpenEBS supports it by Velero

[2019-11-22 10:07] xieyanker opened #85539 "networkpolicy doens't work, only refuese request, cannot accept request from white list"
**What happened**:

The networkpolicy doesn't work, only refuese request, cannot accept request from white list.

**What you expected to happen**:

The networkpolicy should refuese other request, and accept request from white list.

**How to reproduce it (as minimally and precisely as possible)**:

[code]
Create the `pod`'s yaml file as follows:
[code]
[code]
ping `test-nginx2` from `test-nginx1`,

[2019-11-22 10:08] xieyanker commented on #85539
/sig network
/sig api-machinery
/sig cli

[2019-11-22 11:31] schrodit opened #85541 "e2e test suite is unable to cleanup namespaces"
**Which jobs are failing**:
We saw in some test suite runs that all tests of the test suite are successfully executed but some namespaces could not be cleaned up correctly.
The namespace is stuck in deletion as 1 pod is still remaining in the namespace.
The remaining pod is mostly connected to tests of the `ephemeral` test cases.

We see this behavior in multiple testsuite runs on different provid

[2019-11-22 11:32] schrodit commented on #85541
/sig testing

[2019-11-22 11:39] gbjuno commented on #85389
/sig node
/kind bug

[2019-11-22 12:45] prashantbhate commented on #39792
This is a useful feature while running integration tests in CI environment that does not have access to external public network.
Code contains references to Js files hosted on public cdn  (in <script> block)
so when the tests run these js files fails to load,

We are currently using hostaliases , mapping them to localhost, and run a sidecar to serve these files

[code]

It would be nice if these h

[2019-11-22 12:54] walterdolce commented on #65818
Hi. I am experiencing similar behaviour when trying to delete a similar API service. Please advise on whether this requires a new issue altogether or not.

I have the following:
[code]

But when I try:
[code]

And then I issue `kubectl api-resources | grep manager` again, I get the same output as above. I even tried to `curl -X DELETE` this and got a `Success` JSON response back but nothing change

[2019-11-22 13:15] walterdolce commented on #65818
Quick update re: my previous comment.

I had to manually remove the old CRDs with:
[code]

To be able to see the old API service go away:
[code]

Is this behaviour expected?

I would expect either a failure when running `kubectl delete apiservice` due to the fact there's still CRDs lingering around or those CRDs being forcibly removed due to a delete action being performed to their "root kind". 🤔

[2019-11-22 13:32] liggitt commented on #65818
The APIService is deleted successfully, but is automatically recreated because a CRD requiring that API group/version still exists (you can observe the creationTimestamp and uid change)

[2019-11-22 13:40] msau42 commented on #85519
cc @j-griffith @xing-yang @yuxiangqian

[2019-11-22 13:44] rmohr commented on #56567
/reopen

[2019-11-22 13:53] walterdolce commented on #65818
I see. And _that's_ what I was missing 😄
Thanks @liggitt for the clarification! 🙏

[2019-11-22 14:45] tomkerkhove opened #85544 "Change Kubernetes events to use CloudEvents 1.0"
As of today, Kubernetes already provides extension points by emitting events by different SIGs - This is great!

However, there are a few hurdles:
- The **event contract is specific to Kubernetes** which makes it harder to integrate with
- **Events do not have a unique subjects** which consumers can use to subscribe to and have to figure it out themselves
- There is **poor documentation** on what

[2019-11-22 14:47] tomkerkhove commented on #85544
This one would be for @kubernetes/sig-instrumentation-feature-requests I think

[2019-11-22 14:49] verb opened #85545 "Create e2e tests for Ephemeral Containers"
This issue is to discuss an e2e testing plan for Ephemeral Containers.

/sig node

[2019-11-22 14:55] prabhu87 opened #85546 "Connection refused, when node lost and still replicas are running on other nodes"
Can somebody help me to solve this issue,

**What happened**:

I have a cluster setup with 3 nodes, and running etcd as a cluster(Statefulset) with 3 replicas in kubernetes.

When one node is lost the communication is intermittent from the available pods.Below the details,

[code]
[code]

[code]

[code]

Etcd health check,

[code]

[code]

[code]

Now, sending request to etcd cluster from another

[2019-11-22 15:02] lmdaly commented on #83479
https://github.com/kubernetes/website/pull/17451 is now merged

[2019-11-22 15:05] prabhu87 commented on #85546
@kubernetes/sig-network
@kubernetes/sig-Scalability

[2019-11-22 15:10] klueska commented on #83479
All PRs tracked by this issue have now been merged. Closing

[2019-11-22 15:10] #83479 closed

[2019-11-22 15:17] mcandre opened #85547 "How to use Kubernetes directly as CI system?"
**What would you like to be added**:

* Builds that don't produce images
* Jobs that can run more than once

**Why is this needed**:

Not all build artifacts are Docker images. Sometimes, you want to publish a different kind of artifact with Kubernetes, or just run some operational commands. Kubernetes is quite close to being a fully capable CI system in its own right, and I think we should push i

[2019-11-22 15:32] megastallman opened #85548 "Kube apiserver does not close websocket connection"
Kubernetes Apiserver is not closing the websocket connection when calling my_k8s_stream.close() The connection only closes with TCP RST when my python script exits.

I expect my_k8s_stream.close() to close the websocket connection.

**How to reproduce it (as minimally and precisely as possible)**:
We are using the python2 `kubernetes==10.0.0` library that uses websocket and socket in turn. I've be

[2019-11-22 15:41] alejandrox1 commented on #85506
quick pass through
/remove-sig scalability
/sig autoscaling

[2019-11-22 15:45] alejandrox1 commented on #85296
/remove-kind bug
/kind feature
/remove-sig scalability

[2019-11-22 15:57] tedyu commented on #85548
my_k8s_stream doesn't seem to be in k8s codebase.

Which kubernetes version are you testing against ?

Thanks

[2019-11-22 16:05] alejandrox1 commented on #85337
This seems resolved.
can we close this?

[2019-11-22 16:09] alejandrox1 commented on #81198
seems like this was somehow resolved :tada:
/close

[2019-11-22 16:09] #81198 closed

[2019-11-22 16:11] Coderhypo commented on #85483
Hi, I tried to reproduce it in your way, and saw same error log in kube-proxy. But the network still works normally.

Would you provide a more detailed reproduction method?

The log looks like health/metrics api was down, I don't think this is the root cause of lost of connection.

Maybe we need more kube-proxy logs.

[2019-11-22 16:15] alejandrox1 commented on #80534
Similar failures in master-informing
[code]
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce/1197741444253618176#1:build-log.txt%3A23104

[2019-11-22 16:23] avarf commented on #85483
That way of reproducing it was just a rough idea but this actually happens when for some reason kube-proxy / node got restarted and for me it causes network interruptions and disconnections.

I am afraid there is no more logs. The logs start with "port in use" as you can see below and it stopped logging as soon as I made that port free and also the network problem was solved.

The beginning of the

[2019-11-22 16:25] droslean commented on #85337
/close

[2019-11-22 16:25] #85337 closed

[2019-11-22 16:28] guice opened #85551 "kubectl pods --watch no longer shows pod status"
**What happened**:

`kubectl get pods -w` for a watch stream of pod status. The resulting watch status no longer shows the pod's progressive status:
[code]

**What you expected to happen**:

I expected a ready, status, etc.. stream along with the additional watching updates.

**How to reproduce it (as minimally and precisely as possible)**:

`kubectl get pods -w` and watch a pod stream.

**Anythin

[2019-11-22 16:31] guice commented on #85551
@kubernetes/sig-cli-bugs

[2019-11-22 16:52] #71477 closed

[2019-11-22 16:54] brancz commented on #85544
This is fairly vague what this would mean in terms of changes. I would suggest that you join the sig instrumentation meetings and we start discussing this there. If there is some amount of interest, then I'd say we flesh out a KEP and understand what this would really mean for the project. The existing events API is replied upon by a lot of people so we can't just go and break it, it's literally a

[2019-11-22 17:12] megastallman commented on #85548
Hi @tedyu !
Thanks for reaching out!
This is my kubernetes version: `Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", BuildDate:"2019-06-19T16:32:14Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}`

As for `my_k8s_stream` - it is just my stream instance name. My python2 code looks l

[2019-11-22 17:27] rikatz opened #85552 "Service Type should be 'searchable'"
**What would you like to be added**:  I've seen a lot of 'requests'/questions around there, asking if Service Type could be a filter while getting service objects.

As an example, something like ``kubectl get svc --type=NodePort``

As this might be pretty tricky to implement (change API, change cli, etc) I would like to suggest here that controller-manager inserts a well known label (as services.k

[2019-11-22 17:27] rikatz commented on #85552
/assign @rikatz

[2019-11-22 17:57] rikatz commented on #85552
/remove-triage unresolved

[2019-11-22 18:26] mortent commented on #77383
After looking at the disruption controller in more detail, I think we can handle this better. In the situation described in this issue the controller can ignore the pods from the CronJob when computing the allowed disruptions, but create an event to notify the user that something isn't quite right. I think events are better than conditions for reporting this kind of issues to the user. I have crea

[2019-11-22 18:52] alewitt2 opened #85554 "webhookConversionServer Error doesnt show missing port correctly"
**What happened**: When trying to use the webhookConversionServer, im getting `Error from server: conversion webhook for ... failed: Post https://me-conversionwebhookwerver-service.my-namespace.svc:443/crd-conversion?timeout=30s: no service port 'ƻ' found for service "my-conversionwebhookwerver-service"`. I was able to figure out that the unicode character displayed maps to port 443. see code http

[2019-11-22 18:54] alewitt2 commented on #85554
@kubernetes/sig-api-machinery-bug

[2019-11-22 18:54] alewitt2 commented on #85554
/sig api-machinery

[2019-11-22 18:59] robscott commented on #85353
/remove-triage unresolved

[2019-11-22 19:08] tedyu commented on #85554
@alewitt2
Are you planning to send out a PR ?

[2019-11-22 19:14] benmoss commented on #80593
/close

[2019-11-22 19:14] #80593 closed

[2019-11-22 19:32] logicalhan commented on #85411
We can do this in the registry as well.

It'll require two changes:

1. ShowHidden takes a bool which sets show hidden flag. This needs to be invoked in each component.
2. Defer all the Create calls until we call SetShowHidden is invoked.

[2019-11-22 19:56] alewitt2 commented on #85554
@tedyu
i was going to.. but didnt know which repo was relevant and didnt feel like reading through all contibution gorp.

[2019-11-22 21:00] jcassee commented on #66607
/remove-lifecycle stale

[2019-11-22 21:12] stevebail opened #85557 "docker memory-reservation is not equal to k8s memory request"
I set the container memory request to a non-zero value. Example:
    Requests:
      memory:     2Gi

When I check the docker runtime parameters, I see the memory-reservation=0
("MemoryReservation": 0)

Is this the expected behavior?
I am expecting docker memory-reservation to derive its value from spec.containers[].resources.requests.memory.
This is not the case.

This problem was found on k8s 1.

[2019-11-22 21:14] tedyu commented on #85554
Created a PR to fix the message output.

[2019-11-22 21:15] stevebail commented on #85557
/sig node

[2019-11-22 21:40] tedyu commented on #78694
@SleepyBrett
Do you still experience the issue with crio 1.16.0 ?

Thanks

[2019-11-22 22:26] dims commented on #85547
you are describing prow :) https://github.com/kubernetes/test-infra/tree/master/prow

/close

[2019-11-22 22:26] #85547 closed

[2019-11-22 22:27] zhangyu84848245 opened #85560 "metrics-server error unable to fetch node metrics for node "": no metrics known for node"
Metric server I used -- TLS cert file, -- TLS private key file, -- kubelet certificate authority configuration option in the production environment, and the following error occurred.
I know adding the --kubelet-insecure-tls option can solve this problem,
but I need to configure the certificate in the production environment.

[root@centos-1 ~]# cat /usr/local/k8s-metrics-server/metrics-server-error

[2019-11-22 22:32] zhangyu84848245 commented on #85560
apiVersion: apps/v1
kind: Deployment
metadata:
  name: metrics-server
  namespace: kube-system
  labels:
    k8s-app: metrics-server
spec:
  selector:
    matchLabels:
      k8s-app: metrics-server
  template:
    metadata:
      name: metrics-server
      labels:
        k8s-app: metrics-server
    spec:
      serviceAccountName: metrics-server
      volumes:
      # mount in tmp so we can safely

[2019-11-22 22:59] nodesocket commented on #50375
I'll pile on. +1

I think `kubectl set-restarts 0 <pod-name>`

[2019-11-22 23:27] justaugustus commented on #84026
(to document decision:)
/assign

[2019-11-22 23:45] tedyu commented on #85560
Which release of k8s are you using ?

[2019-11-22 23:48] tedyu commented on #79606
@todd-dsm
What if when zookeepercluster-1 comes up, zookeepercluster-0 goes down ?

[2019-11-22 23:59] #74052 closed

[2019-11-23 00:03] mariusgrigoriu commented on #78694
(Working with Brett) We haven't tried with 1.16, but I think this may have been caused by an issue in older builds of crio 1.14 where it didn't clean up cgroups, eventually leaving thousands of cgroups behind and giving cadvisor a lot of work. Probably safe to close.

[2019-11-23 00:12] AlyRagab commented on #84697
It is just a query about the status of the EncryptionConfig in the latest version of kubernetes , Is it stable or still in beta version ?.

[2019-11-23 01:36] dashpole commented on #81575
Sorry, that is my bad.  I finished my review of the cAdvisor PR.

[2019-11-23 01:42] charlchad commented on #61173
You need to:
1. In Docker Desktop for Mac - Kubernetes **Disable local cluster **
2. ```docker rm -f $(docker ps -a -q)```
3. ```docker rmi -f $(docker images -q -a)```

[2019-11-23 02:22] TerraTech commented on #36391
/remove-lifecycle stale

@adohe @fraenkel I'm trying to prevent this from going full necro.

[2019-11-23 03:16] dimasmjunior commented on #26718
I'm having the same problem. Have someone found a solution?

[2019-11-23 04:03] #79080 closed

[2019-11-23 04:28] cwdsuzhou opened #85563 "Duplicated pods exist in SnapShot#nodeInfo"
**What happened**:

When we extend the default scheduler by scheduling framework , we found duplicated pods exist in the snapshot nodeInfo.

Here are the logs our scheduler printed.
![image](https://user-images.githubusercontent.com/12230714/69473029-8d29ef00-0dec-11ea-85ec-70712c48a96e.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

creat

[2019-11-23 04:29] cwdsuzhou commented on #85563
/assign

[2019-11-23 04:29] cwdsuzhou commented on #85563
/sig scheduling

[2019-11-23 05:04] #79402 closed

[2019-11-23 05:08] liggitt commented on #85551
Fixed in https://github.com/kubernetes/kubernetes/pull/71548 in 1.15

[2019-11-23 05:08] #85551 closed

[2019-11-23 05:19] tdihp opened #85565 "[Azure loadbalancer] internal LB service stuck in pending due to not able to previous delete public IP Address"
**What happened**:
Creating an internal-loadbalancer service in AKS, the service stuck in pending.
controller-manager log shows:

[code]

Saw "kubernetes" loadbalancer rules not deleted for this public IP address.

After we removed the public IP config, the healthcheck and the rule, the service got IP address successfully.

**What you expected to happen**:
controller-manager to remove the associat

[2019-11-23 05:22] tdihp commented on #85565
/sig cloud-provider-azure

[2019-11-23 05:55] tdihp commented on #85565
@kubernetes/sig-cloud-provider-bugs

[2019-11-23 09:07] #85554 closed

[2019-11-23 09:08] #70339 closed

[2019-11-23 09:44] kvaps commented on #26718
Hi @dimasmjunior, yes, the only way is to use modified tftp-server with [single port mode](https://github.com/vcabbage/go-tftp#unique-features)

[2019-11-23 10:31] clalbus commented on #77557
Workaround, that doesn't involve deleting existing NLB.

`spec.loadBalancerSourceRanges` updates Security Group Inbound Rules on Worker Nodes. Locate entries created by NLB Service (with comments `kubernetes.io/rule/nlb/client=<your_nlb_name>`).

**MAKE BACKUPS** of said entries and delete them. So that you can restore them in case step below fails. I didn't delete `kubernetes.io/rule/nlb/health`

[2019-11-23 11:51] Charles-one commented on #83225
Nov 23 19:48:00 mm.com kubelet[19303]: E1123 19:48:00.306432   19303 reflector.go:125] k8s.io/kubernetes/pkg/kubelet/config/apiserver.go:47: Failed to list *v1.Pod: Get https://<ip>:6443/api/v1/pods?fiel
Nov 23 19:48:00 mm.com kubelet[19303]: E1123 19:48:00.355661   19303 kubelet.go:2252] node "mm.com" not found

I hava same problem

[2019-11-23 11:56] neolit123 commented on #83225
this is not a fatal error. the kubelet might show it for a while but then succeed.
the full logs might help diagnose the problem better.

[2019-11-23 12:23] Charles-one commented on #83225
$:  journalctl -xeu kubelet

Nov 23 20:09:16 mm.com kubelet[22940]: E1123 20:09:16.099034   22940 reflector.go:125] k8s.io/kubernetes/pkg/kubelet/config/apiserver.go:47: Failed to list *v1.Pod: Get https://118.89.82.205:6443/api/v1/pods?fiel
Nov 23 20:09:16 mm.com kubelet[22940]: E1123 20:09:16.099975   22940 reflector.go:125] k8s.io/client-go/informers/factory.go:133: Failed to list *v1beta1.CSID

[2019-11-23 12:46] hvaara commented on #68026
/reopen

[2019-11-23 13:12] #79065 closed

[2019-11-23 14:13] #76715 closed

[2019-11-23 14:31] neolit123 commented on #83225
You should take the kubelet logs right after the failure. The above logs
don't reveal any apparent problems.

[2019-11-23 15:45] dimasmjunior commented on #26718
Hey @kvaps, thank you very much!

I'm trying to port a PXE solution to Kubernetes and ended up running into this problem. I will try running in single port mode. I'm hoping my booting firmware goes along with it.

[2019-11-23 16:50] michaelgugino commented on #83307
/active

[2019-11-23 17:16] michaelgugino commented on #83307
I have created https://github.com/kubernetes/kubernetes/pull/85571 to address this.  This is a pretty simple implementation, but I think it achieves the desired results.

A suitable workflow would be: 1) Configure you component to use drain as normal 2) After some timeout, run drain with --disable-eviction option.

[2019-11-23 17:22] feiskyer commented on #85565
This is a known issue that sometimes the LB resources are not fully cleanup. The issue would be resolved by service finalizer, which would be GA on 1.17. Could you upgrade the cluster when it’s released?

[2019-11-23 17:35] danwinship opened #85572 "Need tests of KUBE-MARK-DROP"
We have apparently been accidentally deleting the

    -t nat -A KUBE-MARK-DROP -j MARK --set-xmark 0xXXXX

rule for a few weeks (#85527), and no one noticed.

I suspect this is because `KUBE-MARK-DROP` is really only needed if the host accepts all incoming packets by default, and if you have any sort of plausible firewall, then `KUBE-MARK-DROP` is redundant, and so therefore the e2e tests that mi

[2019-11-23 18:10] george-angel commented on #73666
/remove-lifecycle stale

[2019-11-23 18:17] #79364 closed

[2019-11-23 19:07] liggitt commented on #85539
/remove-sig cli api-machinery

[2019-11-23 20:09] #85491 closed

[2019-11-23 20:15] danwinship commented on #85020
@stackboy83 can you get the output of "iptables-save" on the node when the connection is failing?
Also, can you confirm that the pod really is listening on both ports? eg, something like

  kubectl exec aaaaa-service -- curl http://127.0.0.1:5062/

?

[2019-11-23 20:30] liggitt commented on #85563
/assign @ahg-g

[2019-11-23 21:19] #85414 closed

[2019-11-23 23:02] rajathagasthya opened #85576 "Add missing EncodePrivateKeyPEM utility function to kubeadm/app/util/pkiutil"
**What happened**:

Issue #71004 and PR #73198 moved cert related utility functions from client-go to `kubeadm/app/util/pkiutil`, but missed moving the `EncodePrivateKeyPEM` function to `pkiutil` (in the process [breaking](https://github.com/kubernetes/kubernetes/pull/73198#issuecomment-537644205) client-go public interface). A subsequent PR #71896 removed the `EncodePrivateKeyPEM` function from c

[2019-11-23 23:03] rajathagasthya commented on #85576
/sig apimachinery
/sig auth
/sig cluster-lifecycle

[2019-11-23 23:22] #74548 closed

[2019-11-24 01:18] dims commented on #85349
@liggitt both PRs above have merged, do we need to do anything more?

[2019-11-24 01:22] dims commented on #85364
Looks like this will not make it to 1.17.0 ...

[2019-11-24 01:24] dims commented on #85415
@alenkacz this just means there was a problem with setting up what's needed to run the cluster (underlying infra is not cleaned up for some reason). I don't think is this a blocker for 1.17.0 please remove the `critical-urgent` priority.

[2019-11-24 01:25] dims commented on #80534
@PatrickLang @bclau i don't see this as something that needs to block 1.17.0 release. agree/disagree?

[2019-11-24 01:29] dims commented on #84724
Looks like https://github.com/kubernetes/kubernetes/pull/84920 still has to merge for this to close out

[2019-11-24 01:30] dims commented on #81824
looks like https://github.com/kubernetes/kubernetes/pull/82493 has to merge for this to close

[2019-11-24 01:32] dims commented on #85411
@logicalhan @RainbowMango other than #85444 what else do we need for 1.17.0?

[2019-11-24 01:45] sniranjan opened #85578 "OpenAPIV3Schema validation for password field"
I am trying to create a new CRD with a password field as shown below

[code]
When I try to create a new object

[code]

**What happened**:

When I try to do `kubectl apply -f test.yaml`

I get the below error

[code]

Am I missing something? My understanding was any string I provide should now be treated as a password and not exposed in kubectl get and describe commands but it returns me an error

[2019-11-24 01:49] neolit123 commented on #85576
AFAIK originally some of these utils didn't have a public home, so the kubeadm maintainers moved them to client-go. api-machinery complained about that as some of these utils are quite generic and therefore they were moved them back to kubeadm.

but yes, breakages are bad.

yet, it's a fairly small utility function that only uses the standard library.
why no define it locally?
[code]

i'm hesitant

[2019-11-24 01:54] neolit123 commented on #85578
/sig api-machinery
/triage support
/remove-kind bug

[2019-11-24 01:55] neolit123 commented on #85195
/sig instrumentation

[2019-11-24 01:55] neolit123 commented on #85270
/sig node network api-machinery

[2019-11-24 01:56] neolit123 commented on #85270
/remove-sig node network api-machinery
/sig instrumentation

[2019-11-24 01:57] liggitt commented on #85578
"password" is not a valid type. When trying to create custom resources, the type validation fails.

this validation was improved in the v1 CRD API, and would reject creation of the CRD with a more useful error message

/close

[2019-11-24 01:58] #85578 closed

[2019-11-24 01:59] neolit123 commented on #85405
tagging with the appropriate sigs, but please mind that kube-up is deprecated and should not be used in the wild.

please move to a different tool for cluster creation, like kubeadm, kops, minikube, kind, cluster-api etc.
/sig cluster-lifecycle testing

[2019-11-24 01:59] neolit123 commented on #85360
/sig node

[2019-11-24 01:59] neolit123 commented on #84363
/sig cloud-provider

[2019-11-24 02:01] liggitt commented on #85578
Type must be one of the following types:
string
number
integer
boolean
array
object

[2019-11-24 02:02] neolit123 commented on #85392
/triage support

[2019-11-24 02:03] neolit123 commented on #85487
/sig testing
/sig architecture
(for conformance sub-project)

[2019-11-24 02:03] neolit123 commented on #85487
/kind feature

[2019-11-24 02:03] neolit123 commented on #85495
/sig release cli
/kind cleanup

[2019-11-24 02:05] neolit123 commented on #85338
/sig node

[2019-11-24 02:08] neolit123 commented on #85546
/remove-kind bug
/triage support

[2019-11-24 02:09] neolit123 commented on #85531
/sig scheduling

[2019-11-24 02:17] howardjohn opened #85579 "startTime on pod is misleading with preemptible nodes"
**What happened**:
I turned on pre-emptible nodes in GKE. After 24hr my pods restart as expected. However, the `startTime` of the pods does not.

A snippet from the pod status showing this:
[code]

You can see the startTime is 2 days before the initContainer started, because it was restarted.

This makes it super hard to understand what is going on. I spent hours debugging because I saw the time w

[2019-11-24 02:29] neolit123 commented on #80397
/sig api-machinery

[2019-11-24 03:08] robscott commented on #85364
@dims There is a fix ready for this in https://github.com/kubernetes/kubernetes/pull/85368, is it already too late for a cherry pick into 1.17.0?

[2019-11-24 03:42] wu0407 commented on #77018
@liggitt  has  plant to support this feature

[2019-11-24 03:52] yuyulei commented on #85256
ptal @liggitt

[2019-11-24 04:18] rajathagasthya commented on #85576
@neolit123 Thanks for the response. I did copy paste it locally since it was a fairly trivial function, but just wanted to check if kubeadm needs it because everything else was copied into the generic `pkiutil` except this function. I can close this if you think this is not necessary.

[2019-11-24 04:29] neolit123 commented on #85576
at this point i think it would be better to add it only when it's needed.

[2019-11-24 05:10] liggitt commented on #85364
No, cherry pick deadline is 12/2, see https://github.com/kubernetes/sig-release/tree/master/releases/release-1.17#timeline

[2019-11-24 05:17] liggitt commented on #85520
Hopefully this served its purpose

[2019-11-24 05:17] #85520 closed

[2019-11-24 05:42] sniranjan commented on #85578
Thank you @liggitt. I am trying to hide the password field from displaying in kubectl describe command. After reading your comment, I realized I am using the wrong type and updated it as below

[code]

Reference- https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#format.
I am now able to create the object but I am still able to see the password fie

[2019-11-24 05:48] liggitt commented on #85578
the describe command does not make use of schema information

[2019-11-24 05:50] sniranjan commented on #85578
Got it, any suggestion on how to achieve my requirement?(similar to Kubernetes secrets)

[2019-11-24 05:58] liggitt commented on #85578
There's no mechanism currently available for a custom resource to influence `describe` output

[2019-11-24 05:58] sniranjan commented on #85578
Thank you

[2019-11-24 07:46] deitch commented on #44165
/reopen

[2019-11-24 08:56] jmillikin-stripe commented on #81756
/remove lifecycle stale

[2019-11-24 08:56] jmillikin-stripe commented on #81756
/remove-lifecycle stale

[2019-11-24 09:00] cwdsuzhou commented on #85563
See https://github.com/kubernetes/kubernetes/pull/21016#discussion_r52728635

Assumed pods would not be removed when pods have deleted immediately.
Normally, it would not influence the scheduling progress.However since Framework  Handler provides GetShapshot() func, users may use snapShot to implement their own scheduler. e.g. we implemented  gang-scheduling which relies on the snapshot.

I have s

[2019-11-24 09:36] markus-seidl commented on #56850
@youurayy Ubuntu 18.04 this solved the problem for me. It seems that the service starts before docker, but never recovers even if docker is up afterwards.

[2019-11-24 12:14] wallrj commented on #72088
Still not fixed. The fix in https://github.com/kubernetes/kubernetes/pull/72090 was never merged.

/reopen

[2019-11-24 12:56] RainbowMango commented on #85411
@dims

That is https://github.com/kubernetes/kubernetes/pull/83841, still waiting approval from sig-node.

[2019-11-24 13:36] #79401 closed

[2019-11-24 14:51] rifelpet commented on #80967
/remove-lifecycle stale

[2019-11-24 15:38] #79469 closed

[2019-11-24 16:13] roizentner commented on #78761
I am experiencing the same issue (v1.14.6).

In my scenario, I had an auto-scale event that brought the replica number to 2.
After load has stopped, the 2 pods were utilizing ~30% CPU (targetCPUUtilizationPercentage=50).

HPA never kicked in and scaled it down, so I started experimenting (waiting several minutes after each step):
1. Increased targetCPUUtilizationPercentage to 85. Nothing changed.

[2019-11-24 16:28] tedyu commented on #76539
@taragu
Here is how the returned Watcher is used:
[code]
where desiredStateOfWorld is of particular importance.
If the Watcher interface you mentioned already exists, can you point me to it ?

Thanks

[2019-11-24 16:57] StefPac commented on #48948
I am experiencing the same problem with minikube v1.5.2 on Darwin 10.14.6
and Kubernetes v1.16.2 on Docker '18.09.9' using Oracle VM VirtualBox Headless Interface 6.0.14

[2019-11-24 18:23] mayuchau commented on #60807
I also faced the same issue now it is working fine for me. Please refer following [document](https://www.ibm.com/support/knowledgecenter/en/SSBS6K_3.1.1/troubleshoot/ns_terminating.html) and solve your issue

[2019-11-24 18:41] #79481 closed

[2019-11-24 18:46] dims commented on #85364
@robscott i've filed it for you - https://github.com/kubernetes/kubernetes/pull/85583

/reopen

[2019-11-24 20:30] zerkms commented on #60807
I cannot believe ibm suggests such a terrible advice.

Please check https://github.com/kubernetes/kubernetes/issues/60807#issuecomment-524772920

[2019-11-24 20:43] #67940 closed

[2019-11-24 20:55] mayuchau commented on #46232
Worked for me

[2019-11-24 21:06] neolit123 commented on #85579
/sig node
/sig cloud-provider
/provider gcp

[2019-11-24 21:07] neolit123 commented on #85579
/area provider/gcp

[2019-11-24 21:23] liggitt commented on #85579
The preemptive nature of the node isn't really fundamental to the issue… that's just the occasion for the container restart.

[2019-11-24 21:28] howardjohn commented on #85579
@liggitt what exactly is going in when it's preempted though? If I `kubectl drain` the node or even press the "delete" button on the VM (in gcp, so might be specific to that) I get a completely new pod with a new start date. Is it just less graceful when preempted so kubernetes treats this differently?

Basically the reason I was surprised by this behavior is it is hard to tell that the container

[2019-11-24 22:05] WojciechThomas commented on #37471
If you don't like solution from @nick-pap you can define alias:
`$> alias kubectl='winpty kubectl'`
and then use
`$> kubectl exec -it test sh`
as usual.

Git bash works like Unix shell and it uses stdin and stdout streams to communicate with kubectl, however in Windows with Git bash you are using actually kubectl.exe that expects Windows console and not Unix streams. Winpty solves this problem.

I

[2019-11-24 23:38] neolit123 commented on #85504
@huchengze you opened a couple of similar PRs
https://github.com/kubernetes/kubernetes/pull/85568
https://github.com/kubernetes/kubernetes/pull/85569

please close one of them, i assume https://github.com/kubernetes/kubernetes/pull/85568 is the one to look at?

if you want to get a faster review please ask in the #sig-storage channel of the k8s slack.

[2019-11-25 01:06] dims commented on #70131
@bmwiedemann  Could you please check 1.17 rc1 to see how we are doing?

[2019-11-25 01:13] huchengze commented on #85504
@neolit123 These PRs are belong to different branchs.Should I close one of them?

[2019-11-25 01:31] celiawa commented on #78130
/reopen

[2019-11-25 01:33] neolit123 commented on #85504
ok, i didn't see that.

please add release notes to both of them instead of `NONE`.
something like a single sentence that explains the bug fix.

[2019-11-25 01:39] huchengze commented on #85504
@neolit123 Thanks for telling me this. It's my second PR,there are so many things that I don't know.

[2019-11-25 01:39] huchengze commented on #85504
@neolit123 Thanks for telling me this. It's my second PR,there are so many things that I don't know.

[2019-11-25 02:01] celiawa commented on #78130
@jingxu97 Could you please reopen this ticket. It has been blocking our test and production delivery.

[2019-11-25 02:20] DavidWHarvey commented on #72320
We just hit this, and it made an outage not automatically recover.  Arguably there were other things wrong, but Pods in CrashLoopBackoff or Pending are already disrupted, so no evicting them from a draining node makes no sense. In our case, if any of the nodes with *no working pods* had terminated, the node would have drained, ad a new node would have be created that would have been able to take o

[2019-11-25 02:57] #85576 closed

[2019-11-25 02:59] zhlhahaha commented on #81323
Hi tomatoAres,

I build kubernetes cluster via ./hack/local-up-cluster.sh, and I just checked that e2e.test can run on it.
Form your output, it miss some environmental variable. If you build your cluster via kubeadm, have you set following variable?
"export KUBECONFIG=/etc/kubernetes/admin.conf"

BR,
Howard

[2019-11-25 03:15] neolit123 commented on #85504
@huchengze

instead of writing this in the release note:

write something like:

i will run tests on your PRs, but sig-storage (a k8s group) still need to give their approval.

[2019-11-25 03:16] neolit123 commented on #85504
another question here is why only backporting this fix the 1.14 branch?

[2019-11-25 03:25] huchengze commented on #85504
@neolit123 I fixed this bug with my  colleague，so we decided that I create the PRs for 1.14 and master, 1.15 and 1.16 are his.

[2019-11-25 03:36] ghanendaghestani opened #85585 "PODs get stuck in terminating status due to incorrect mounts binding"
**What happened**:
PODs get stuck in terminating status forever because some mounts are linked to incorrect processes.

Example: Trying to delete POD called  "instance" never succeed as it is being used by different mounts processes.

Here is the mount
[code]

Here is the process of this mount
[code]

However, sub-folders are being used by other mount process that correspond to different instances

[2019-11-25 03:47] ghanendaghestani commented on #85585
/sig scheduling
/sig storage

[2019-11-25 04:09] AndrewSav commented on #60807
@zerkms well, sometimes, it's a legitimate advice, is not it? Often finalizers being waited on used to be served by objects that was deleted as part of the namespace deletion. In this case, since there is no point in waiting any longer - there is nothing that could do finalization any more -, patching the objects the way the article describes _is the only option_.

Note that the article is applica

[2019-11-25 04:23] liggitt commented on #60807
I've never seen that be true for a spec.finalizer on a namespace. Every instance I've seen has involved the namespace cleanup controller, and has either been caused by a persistent object in the namespace (which that advice would strand in etcd), or an unresponsive aggregated API (which removing the namespace spec.finalizer would skip waiting for, also stranding any persisted resources from that A

[2019-11-25 07:13] mysunshine92 opened #85589 "upgrade from etcd 3.1.12 to 3.2.24, all pods from my kubernetes cluster restarted"
**What happened**:
upgrade from etcd 3.1.12 to 3.2.24, all pods from my kubernetes cluster restarted

**What you expected to happen**:
all pods not restarted
**How to reproduce it (as minimally and precisely as possible)**:
upgrade etcd  to 3.2.24

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e

[2019-11-25 07:31] willthames opened #85591 "Deployments provide wrong observedGeneration when serviceaccount doesn't exist"
**What happened**:
Updated a deployment that still referenced a deleted service account

**What you expected to happen**:
The deployment would not increase observedGeneration to match generation.

Some obvious mechanism of detecting this failure in the default output of `kubectl get pods` (e.g. `ContainerCreating`)

**How to reproduce it (as minimally and precisely as possible)**:

* Run in the fo

[2019-11-25 07:34] willthames commented on #85591
@kubernetes/sig-api-machinery-bugs

[2019-11-25 07:58] ricky1993 commented on #85443
Thanks for  replying.

I have read dual stack document and code area. I found that dual stack feature add a field status.PodIPs to pod for dual stack. And what I wish is we can add a field like PodIPs for HostIPs to podStatus.

I think downward API is pass some metadata from pod to the container as a volume. It likes env var fieldFrom but as a volume. And I cannot get any example to get HostIPv6 a

[2019-11-25 08:01] cmdy opened #85592 "kubelet 1.14.8 no metrics kubelet_volume_stats_capacity_bytes"
In kubelet 1.14.2~1.14.8 no metrics
`kubelet_volume_stats_capacity_bytes`
`kubelet_volume_stats_available_bytes`
`kubelet_volume_stats_used_bytes`

I can get  metrics `kubelet_volume_stats_capacity_bytes`  in kubelet 1.14.1:

`
kubelet_volume_stats_available_bytes{endpoint="https-metrics",instance="172.18.238.27:10250",job="kubelet",namespace="monitoring",node="172.18.238.27",persistentvolumeclaim

[2019-11-25 08:10] wxq851685279 opened #85593 "How to mount a storage volume with Windows 10 Docker Desktop k8s"
[code]

This can't be written, how should I write it?

[2019-11-25 08:28] aojea commented on #85443
I think that HostIPs wasn't implemented

https://github.com/kubernetes/kubernetes/blob/9905a33fd738a52d3f7ae73cf823d82a05720e33/pkg/apis/core/types.go#L3057-L3062

It can use both, volume or environment variables
https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/#the-downward-api

Theoretically, I could test this, if you configure your cluster as

[2019-11-25 08:33] ricky1993 commented on #85443
It sounds like I can only get host IPv4 or IPv6 address but not both. Is there any workaround solutions?

[2019-11-25 08:44] mdeknowis commented on #37471
Unfortunate that is nor working for me. Using winpty just immediately ends kubectl. No error, no console, nothing.

[2019-11-25 09:06] wxq851685279 commented on #85593
/sig windows10

[2019-11-25 09:07] mikemowgli commented on #58347
Running kubernetes 1.11 here and I was impacted by this bug. I had about 8 controllerrevisions for my statefulset. I deleted them all, and the pod did not fail anymore.

[2019-11-25 09:09] aojea commented on #85443
IIRC `PodIPs` was implemented during the Phase I of the dual-stack effort.
@thockin @khenidak do you know if the next phases of the dual-stack implementation consider implementing `HostIPs` to have both host IPv4 and IPv6 host addresses?

[2019-11-25 09:16] Alexc0007 commented on #85392
ill close this case , the issue seems to be with etcd...
the cipher-suites option is working , its just breaking the cluster.
ill have to figure out what is causing the cluster to lose connection between the nodes.

[2019-11-25 09:16] #85392 closed

[2019-11-25 09:22] alenkacz commented on #75666
/reopen

[2019-11-25 09:22] alenkacz commented on #75666
/remove-lifecycle rotten

[2019-11-25 09:24] alenkacz commented on #75666
still very prevalent in sig-release dashboards https://testgrid.k8s.io/sig-release-1.17-informing#gce-cos-k8sbeta-serial

[2019-11-25 09:37] alenkacz commented on #84610
@adelina-t will that PR get merged any time soon? I assume it's a test problem not a bug, correct?

[2019-11-25 09:43] alenkacz commented on #78901
/close

these jobs look green now

[2019-11-25 09:43] #78901 closed

[2019-11-25 09:49] alenkacz commented on #85320
@liggitt I see this test as green in the last few days, possibly the merged patches helped? Could you confirm, please?

[2019-11-25 10:02] Mishra-Akash opened #85594 "How to disable mounting of FAT/squashfs/cramfs/hfsplus/jffs2 in k8s?"
How to disable mounting of of FAT/squashfs/cramfs/hfsplus/jffs2 in k8s environment.

[2019-11-25 10:26] ricky1993 commented on #85443
If this make sense for dual stack, I can contribute the code for it.

[2019-11-25 10:47] prksu commented on #85495
#85596 fix number 1 & 2

[2019-11-25 11:26] wjam commented on #2630
Note that if Kubernetes did support an `fsUser` option, then you'd trip over https://github.com/kubernetes/kubernetes/issues/57923 where all files within the mounted secret would be given `0440` permission (or `0660` for writeable mounts) and would ignore any other configuration.

[2019-11-25 11:48] prabhu87 commented on #72226
Any solution for this?

Am running v1.15.3 cluster, after node lost the pods are stuck at terminating state.

Can we make a health check in the pod,before the controller change the node status to NOTReady state, the pods which are running in the lost node, should recreate in available nodes.

[2019-11-25 12:02] cpointner commented on #51017
/remove-lifecycle stale

[2019-11-25 12:11] zhlhahaha opened #85600 "Run local-up-cluster.sh failed on ARM server as etcd version check can not pass."
**What happened**:
When using /hack/local-up-cluster.sh to create a local cluster, always failed in etcd version check on ARM server.
**What you expected to happen**:
local-up-cluster.sh can run successfully.
**How to reproduce it (as minimally and precisely as possible)**:
Just run it on arm server.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version
Gitcommit 9905a33fd738

[2019-11-25 12:17] danieleva commented on #85197
Having the same issue here. My idp returns tokens with a list of strings for the audience claim, and that breaks jwt-go. The issue is already flagged upstream, see https://github.com/dgrijalva/jwt-go/pull/355

[2019-11-25 12:19] vsxen commented on #85501
you can read this doc for help to update cert by youself

https://kubernetes.io/docs/setup/best-practices/certificates/
https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/

[2019-11-25 12:28] dims commented on #85600
/sig testing
/kind bug

[2019-11-25 12:58] nightswimmings commented on #50295
This happened to me because of my .kube/config file having wrong indentations

[2019-11-25 12:59] nightswimmings commented on #44665
This happened to me because of my .kube/config file having wrong indentations

[2019-11-25 13:32] RobertKrawitz commented on #80647
/remove-lifecycle rotten

[2019-11-25 13:38] taragu commented on #76539
@tedyu the plugin watcher (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/pluginmanager/pluginwatcher/plugin_watcher.go#L35) is a struct instead of interface. We'd like to change this to an interface instead. Does this answer your question?

[2019-11-25 13:40] RainbowMango commented on #80622
It's interesting things...

@MikeSpreitzer
Do you know if there any guidelines from Prometheus about the `Namespace`, `Subsystem` and `Subsystem`?
I will back on this issue after 1.17.

/remove-lifecycle stale
/assign

[2019-11-25 14:08] fortanu82 opened #85604 "Kubernetes " Windows pods " not able to communicate with each other | “could not resolve host” | "failed to connect Network unreachable""
I deployed three back-end services to kubernetes windows pods to ensure they communicate with each other. However, I found though containers, services, dns and end-points all are available and running but still when I try to access any of the services (Internally or externally) from one container to another it does not resolve the dns and receive “could not resolve host” or "failed to connect Netw

[2019-11-25 14:16] wawa0210 commented on #85604
/sig windows

[2019-11-25 14:22] MartinKaburu commented on #85357
cc @soltysh @kinghajj @seans3 @mengqiy I would love to work on this

[2019-11-25 14:33] wawa0210 commented on #85604
What is the network mode you use? Flannel host-gw? If so, you can check the routing of your windows node. As far as I know, the official kube-dns can't work on windows.

[2019-11-25 14:33] ingvagabund commented on #84306
Another summarization:
- Jenkins job responsible for running the scheduler benchmark is `ci-benchmark-scheduler-master` (have not been able to find where the job actually lives yet)
- The job runs `KUBE_TIMEOUT="--timeout=1h50m" ./hack/jenkins/benchmark-dockerized.sh ./test/integration/scheduler_perf` as configured in [1]
- `hack/jenkins/benchmark-dockerized.sh` lives under the main repo [2]
- the

[2019-11-25 14:35] wawa0210 commented on #83450
@craiglpeters  @PatrickLang
Hey, is anyone now following up or developing this feature? If not, I think I can contribute my strength.

[2019-11-25 14:41] ingvagabund commented on #84306
In order to switch to metrics, we just need to change the generated data. E.g. looking at `ci-kubernetes-kubemark-gce-scale` job [1], we might use percentile values (with different `labels` map of course):
[code]

Or, (min, avg, max) as `ci-benchmark-nodelocal-dns-master` [2] does:

[code]

[1] https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/1192006287244660

[2019-11-25 14:48] yastij commented on #81172
/remove-lifecycle stale

[2019-11-25 15:11] liu-cong commented on #84306
@ingvagabund, the ci-benchmark-scheduler-master job lives [here](https://github.com/kubernetes/test-infra/blob/4beb96650aaee54c274a42fb0ca011333808b6f5/config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml#L346)

Currently we have the [benchmark tests](http://perf-dash.k8s.io/#/?jobname=scheduler-benchmark&metriccategoryname=Scheduler&metricname=BenchmarkResults&benchmark=Bench

[2019-11-25 15:12] tomkerkhove commented on #85544
I'm happy to join the bi-weekly call but the https://github.com/kubernetes/community/tree/master/sig-instrumentation points me to a temporary page due to a move. When is the next one?

The current approach is a good start but there are a few things that can be improved:

- **Custom format** that we have to parse which makes it harder to integrate with
- **No `type` field** which uniquely identify

[2019-11-25 15:13] liu-cong commented on #84306
The metrics processing for the clusterloader test is here:

https://github.com/kubernetes/perf-tests/blob/44971cd21c3a33916402bc13b4ec049d097e9263/clusterloader2/pkg/measurement/common/scheduler_latency.go#L36

[2019-11-25 15:15] liu-cong commented on #81719
Another idea: Unify dashboard/metrics for benchmark and clusterloader tests, see [comment](https://github.com/kubernetes/kubernetes/issues/84306#issuecomment-558198172)

[2019-11-25 15:24] liggitt commented on #85320
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&sort-by-flakiness=&width=5 still shows it failing very frequently… which fixes related to this merged?

[2019-11-25 15:28] MartinKaburu commented on #83360
Hey @Joseph-Goergen
Have you tried `kubectl version --output=json`
It returns the output in json. Many command utilities allow you to grab info easily from this

[2019-11-25 15:31] duglin commented on #85544
Please don't forget about "binary" vs "structured" CloudEvents. CloudEvents supports the idea of *not* changing an existing event/message to become a CloudEvent. You just add a few extra bits of metadata (e.g. http headers).  You could also use the CloudEvents defined structure too if you want, but it's not required.

[2019-11-25 15:36] liu-cong commented on #84307
I'd like to see if we can unify the benchmark tests with the clusterloader test, i.e., use the same(or similar) configuration and dashboard/metrics for both. Essentially abstracting cluster set up (whether a real cluster, a kubemark cluster or just fake cluster) out of load configuration and metrics gathering.

If we can do that, we already have a good language to configure workloads - the cluster

[2019-11-25 15:55] fortanu82 commented on #85604
Hello, I have not configured any special network driver to bring up services and deployments. I went with a K8s documentation of first creating the services (using kind:services) and then deploying an application (kind:deployment) to spin up the containers. I assumed this would establish a communication channel between the pods running on different windows nodes but I was wrong.

I searched but di

[2019-11-25 15:55] msau42 commented on #85320
No fixes have gone in afaik. I was out most of last week, but will focus on triaging this week

[2019-11-25 16:02] tomkerkhove commented on #85544
Oh that's right - So if we add the additional (HTTP) headers we can get the metadata without changing the effective event payload we have today - Is that correct?

[2019-11-25 16:02] #79470 closed

[2019-11-25 16:02] #79194 closed

[2019-11-25 16:06] Chrislevi commented on #79691
Happens to me aswell, with  `-v=99` I can see different output when I remove the cache and re run.. but it seems like its still having these long pauses afterwards

[2019-11-25 16:22] itayvallach commented on #48528
/reopen

[2019-11-25 16:32] kikisdeliveryservice commented on #85349
@liggitt

Bug Triage team here:  Is this issue ready to be closed?

[2019-11-25 16:33] duglin commented on #85544
correct - as long as the receiver can handle "binary" CloudEvents

[2019-11-25 16:50] olivierlemasle commented on #82011
/remove-lifecycle stale

[2019-11-25 17:03] #76344 closed

[2019-11-25 17:03] #85507 closed

[2019-11-25 17:05] MrD2 opened #85607 "HPA wrong namespace substitution"
**What happened**: HPA engine requests wrong namespace reference for metric from custom metrics API

The Prometheus-Adapter pod receives a request for custom metrics with the wrong assigned namespace.

[code]

The request to **/apis/custom.metrics.k8s.io/v1beta1/namespaces/load-test/metrics/nginx_ingress_controller_requests** is replaced with the wrong namespace.

**What you expected to happen**:

[2019-11-25 17:21] LSmyrnaios opened #85608 "kube-apiserver: failed to enable "DefaultStorageClass""
**What happened**:
I would like to use the `kube-apiserver` to enable the "`DefaultStorageClass`"-plugin, but I run into problems.
I installed the "`kube-apiserver`" though "`snap`" and I run the following command in the machine containing the master-node of the Kubernetes Cluster:
`sudo kube-apiserver --enable-admission-plugins=DefaultStorageClass`

Then I run into this error:
`Error: error creat

[2019-11-25 17:28] MrD2 commented on #85607
/sig scalability

[2019-11-25 17:31] kfox1111 commented on #80228
/remove-lifecycle rotten

[2019-11-25 17:32] kfox1111 commented on #80228
What needs to be done to deprecate?

[2019-11-25 17:32] fortanu82 commented on #85604
Please let me know if you need any specific information.

[2019-11-25 17:53] jacobreid commented on #50375
+1

[2019-11-25 17:53] cblecker commented on #78702
/remove-lifecycle stale

[2019-11-25 18:14] robscott commented on #85364
@dims thanks for filing the cherry pick! Can we close this issue now?

[2019-11-25 18:22] liggitt commented on #85364
yes, it's merged

/close

[2019-11-25 18:22] #85364 closed

[2019-11-25 18:24] kfox1111 commented on #75482
Containerd has it for sure. Other runtimes might as well. The need to drain a node completely of workload is a reasonable one on its own regardless of which runtime is involved though.

I've seen kubelet continuously complain in the logs about pods that disappeared after an upgrade of containerd as well, so just rebooting doesn't entirely fix the issue.

[2019-11-25 18:48] michaelgugino commented on #72320
@DavidWHarvey not sure what drain library you're using for your automation, but here's a patch that could potentially help you: https://github.com/kubernetes/kubernetes/pull/85571

So, whatever is doing your draining, if you are certain you can ignore PDBs, you could use that option to 'complete' the drain.

[2019-11-25 18:54] liggitt commented on #85349
we still don't have this enabled in blocking jobs, this PR is still needed

[2019-11-25 18:54] bowei commented on #83628
/assign @freehan
/assign @bowei

[2019-11-25 18:56] bowei commented on #83628
It would be good to describe the high level workflow you are trying to achieve. It's not obvious to me that Pod readiness gates should be the mechanism for what you are trying to do?

[2019-11-25 19:04] tomkerkhove commented on #85544
Here's the spec on that - [`HTTP Protocol Binding for CloudEvents - Version 1.0
`](https://github.com/cloudevents/spec/blob/v1.0/http-protocol-binding.md#31-binary-content-mode)

[2019-11-25 19:31] nimakaviani commented on #83628
At a high level the workflow is something like the following:

- Knative creates a deployment with custom `PodReadinessGate` set to `true` for its Pods.
- The deployment creates `X` number of Pods as specific in deployment's `replicaCount`
- At the time of scaledown:
  - Knative selectively toggles the `PodReadinessGate` condition to `false`, for the `Y` number of pods it intends to kill (basicall

[2019-11-25 19:38] vgarcia-te commented on #36539
I think this can be fixed by marking the Pod as critical: https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/#marking-pod-as-critical

[2019-11-25 19:53] AndrewSav commented on #60807
Yep, that's right, this is becaise this finalizer is implemented by the kubernetes itself, but the could be other finalizers on objects inside that namespace, which could be implemented by objects in that said namespace. One example that I encountered recently was `https://appscode.com/products/stash/`.

It put finalizers on some of its CRDs which are to be serviced by the stash-operator deploymen

[2019-11-25 19:56] liggitt commented on #60807
Correct. I would not object to that in a "delete all resources" cleanup scenario, but that is not what the linked article walks through... it describes how to remove a spec.finalizer from the namespace.

[2019-11-25 19:57] ksubrmnn commented on #81938
@dcopestake are you using FlannelD built from master? Unfortunately, we haven't gotten a new release yet which contains a fix you need for this to work.

[2019-11-25 20:27] liggitt commented on #84697
The EncryptionConfiguration config format is at `apiVersion: apiserver.config.k8s.io/v1` in 1.13+

/close

[2019-11-25 20:27] #84697 closed

[2019-11-25 20:50] MartinKaburu opened #85614 "Kubectl version --server should return the server version"
**What would you like to be added**:
I would like for `kubectl version --server` to return the server version as `kubectl version --client` returns the client version.

**Why is this needed**:
It will make it easier to write automating scripts for checking the server version.
It will maintain consistency as there already is a `--client` flag that returns the client version.

[2019-11-25 20:50] MartinKaburu commented on #85614
/sig cli

[2019-11-25 20:50] MartinKaburu commented on #85614
/assign @MartinKaburu

[2019-11-25 20:52] bmwiedemann commented on #70131
I'm actually using our 1.16.2 package with a patch to rc1 added to have all the required build deps included.

In the binary diff of two rc1 builds are the usual go-parallelism-related diffs in the .note.go.buildid ELF section of all binaries, but also others in .typelink - already seen in May.
`e2e.test` also gets randomness in a string `/tmp/go-buildXXXXXXXX/b001/_testmain.go` .

Should e2e.test

[2019-11-25 21:08] msau42 commented on #85320
I actually had this integration test running in a loop all week without any failures. I just started rerunning them with "-race" on, still no failures after 250 runs.  I notice that this job is running integration tests in parallel, will investigate if other tests may be creating resources with the same names and potentially causing name conflicts.

[2019-11-25 21:14] dims commented on #70131
@bmwiedemann did you already try to add `-trimpath` and `-ldflags=-buildid=` as mentioned in https://github.com/golang/go/issues/34186#issuecomment-529390306 ? (using golang 1.13 of course)

[2019-11-25 21:36] immuzz commented on #82679
@adelina-t Did you verify it on upstream? We believe this to be fixed

[2019-11-25 21:43] msau42 commented on #75698
/remove-lifecycle stale
@davidz627 is the ROX migration issue resolved?

Regarding PV labeling admission controllers, we now have logic in the scheduler to migrate PVs that have beta zone labels -> CSI topology. If users today manually create CSI PVs, we can require that they fill in the appropriate PV.NodeAffinity.

But after CSI migration is on and admission controllers are removed, do we want t

[2019-11-25 21:49] somujay opened #85616 "kube-proxy: vNICs and HNS endpoints of containers are being deleted despite passing the --hostname-override"
**What happened**:
In AWS VPC, custom domain name is specified. Example : example.com. --hostname-override = <<internaldns name>> is passed to both kubelet and kube-proxy. When a deployment with 1 replicaset is scheduled, the containers in pod gets vNIC and HNSEndpoints.  See the snippet below

kubectl exec windows-server-iis-66bf9745b-88xgb -- ipconfig /all

Windows IP Configuration

   Host Name

[2019-11-25 21:52] Joseph-Goergen commented on #83360
Yea, I know you can get the output to json and then do what you want from there. I just used `jsonpath` for a few other kubectl operations and found it odd that `kubectl version` was excluded from that. Either way, not a big deal, just thought you guys would like to know (in case you guys didn't).

[2019-11-25 22:34] liggitt commented on #85579
Yes, I think the node just stops.

Given the API doc for the field, I don't think this behavior will be changed:

[code]

Note that this has nothing to do with start times of individual container processes. The kubelet even goes out of its way to preserve any existing startTime value on the object:

[code]

[2019-11-25 22:34] #85579 closed

[2019-11-25 22:53] msau42 commented on #85504
The general process is to make the change first in master, and then create cherry-picks to release branches.  Also @gnufied can you clarify if controller expand is something we want to support for flexvolume? The current plan is to remove support for flexvolumes in controller-manager: https://github.com/kubernetes/kubernetes/issues/78737

/assign @gnufied

[2019-11-25 22:53] msau42 commented on #85504
/assign @saad-ali

[2019-11-25 22:54] msau42 commented on #78737
We missed a deprecation notice for 1.17.  Should we send out the message to a wider audience and then deprecate for 1.18?

[2019-11-26 00:14] tuckerconnelly commented on #78761
This issue might be related to https://github.com/kubernetes/kubernetes/issues/85506, where it seems pending pods will prevent an HPA from scaling down.

[2019-11-26 01:07] liggitt commented on #85608
/remove-kind bug
/triage support

[2019-11-26 01:08] liggitt commented on #85607
I would not expect to be able to trigger a cross namespace request from an HPA object. Using the same namespace as the the HPA is what I would have expected.

[2019-11-26 01:10] liggitt commented on #85600
Fixed by #85601

[2019-11-26 01:10] #85600 closed

[2019-11-26 01:12] liggitt commented on #85591
observed generation indicates the deployment controller has observed the deployment and spawned the appropriate replicasets. it does not mean the replicasets have completed or that the requested number of pods are running

/remove-kind bug
/triage support

[2019-11-26 01:46] davidz627 commented on #74988
/remove-lifecycle stale

[2019-11-26 02:03] willthames commented on #85591
@liggitt thanks for the additional information.

Are there further steps to be taken - I'm not sure if this is just "Working as intended" even though it makes for a completely invisible failure scenario (perhaps one of the few cases I can think of where `kubectl get pods` doesn't show that something is going wrong, but perhaps I've just been lucky!)

[2019-11-26 02:12] CriaHu commented on #85495
@tanjunchen

kubernetes/CHANGELOG-1.10/1.11/1.12.md
https://kubernetes-csi.github.io/docs/Drivers.html(404)

kubernetes/CHANGELOG-1.14.md https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/0029-20180918-kubeadm-phases-beta.md(404) https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/20190122-Certificates-copy-for-kubeadm-join--control-pla

[2019-11-26 02:15] liggitt commented on #85614
--client is necessary as it prevents network requests which can hang or fail

it's not clear why a server specific flag is required

[2019-11-26 02:15] liggitt commented on #85614
passing --json gives you structured output you can parse deterministically to get the server version (or do `kubectl get --raw /version`)

[2019-11-26 02:16] liggitt commented on #85614
/priority awaiting-more-evidence

[2019-11-26 02:22] davidz627 commented on #75698
Remind me what was the issue specifically? Read only volumes work through migration to CSI now - they will be correctly attached/mounted as read only thru CSI when specified on the in-tree objects. I believe the multi-attach validation is checked from the access modes which are set correctly to `ROX` in migration when requested.

[2019-11-26 02:22] liggitt commented on #85591
the observedGeneration aspect is working as intended. the various `*Replicas` fields and conditions on the deployment status give details about whether the desired pod spec has been successfully rolled out

[2019-11-26 02:27] davidz627 opened #85623 "CSI Migration GCE PD regional disks probably not working"
Was just perusing the code and looks like we translate regional disks into the "zonal volume ID fmt", and there doesn't seem to be any tests for regional disks running so we should confirm that this works and fix it if it doesn't

/assign
/cc @msau42 @ddebroy

[2019-11-26 02:32] msau42 commented on #75698
yeah rox is what you described.

Regarding admission webhook to auto-populate PV topology, this needs to be decided on a per-plugin basis, and not something that we can provide in k/k.  So I think we can close this.

/close

[2019-11-26 02:32] #75698 closed

[2019-11-26 02:44] benmoss commented on #81938
I don't the OP's issue was with with NodePort services as mentioned in #85611, I don't think you can even do a readiness/liveness probe through a service.

/reopen

[2019-11-26 02:46] msau42 opened #85624 "volumeDevices mapping ignored when container is privileged"
**What happened**:
When using the raw block PV feature, if your container is privileged, then the volumeDevices.devicePath specified in the Pod spec are silently ignored by the container runtime since all host devices are mapped into the container at /dev.

This is an issue with the raw block feature since its inception and impacts all volume plugins and most runtimes (docker, containerd to name a

[2019-11-26 02:46] msau42 commented on #85624
@kubernetes/sig-storage-bugs @kubernetes/sig-node-bugs

[2019-11-26 02:48] msau42 commented on #85624
cc @jsafrane @Random-Liu

[2019-11-26 02:48] msau42 commented on #83683
I would like to get https://github.com/kubernetes/kubernetes/issues/85624 documented as a known issue, although it's actually been an issue for many releases now. Do we actively update previous release notes with known issues too?

[2019-11-26 02:49] davidz627 commented on #85623
/sig storage

[2019-11-26 03:08] neolit123 commented on #85616
/sig network

[2019-11-26 03:11] neolit123 commented on #85589
hi,

- please describe your upgrade process in detail.
- what is your k8s version?
- what deployment tools are you using?

/remove-kind bug
/triage needs-information

[2019-11-26 03:12] VHariharmath opened #85625 "Warning FailedScheduling 20s (x5 over 4m27s) default-scheduler 0/1 nodes are available: 1 node(s) had taints that the pod didn't tolerate."
**I am trying to run my first instance on k8s but the pod is stuck in `pending `state.
Not sure why the node is not scheduled

I searched around for similar issues reported and did find any solution.

I verified the resources but no `mem/disc/cpu `pressure observed. I am new to k8s and I tried my best to fix it but not seeing any success**:

Please let me know what information is required to fix t

[2019-11-26 03:23] msau42 commented on #85320
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/85602/pull-kubernetes-integration/1198942447145586689/build-log.txt

Ok I think the issue is that PV controller is racing within itself. There's a workqueue to handle PVs, and a workqueue to handle PVCs.  However, in the case of prebinding PVCs, the PVC workqueue is [trying to update the PV object](https://github.com/kubernetes/kuberne

[2019-11-26 03:27] willthames commented on #85591
ok, thanks, I'll close this one out and update my logic to take into account unavailableReplicas

[2019-11-26 03:27] #85591 closed

[2019-11-26 03:30] RainbowMango commented on #85544
Next meeting on Nov 28th. Welcome.
Join the google group to get auto-invited to meetings and google docs: https://groups.google.com/forum/#!forum/kubernetes-sig-instrumentation

Meeting notes: https://docs.google.com/document/d/17emKiwJeqfrCsv0NZ2FtyDbenXGtTNCsDEiLbPa7x7Y

[2019-11-26 03:34] msau42 commented on #85320
Another question is why did updating the PV object fail the 2nd time because now PV workqueue shouldn't be trying to update status to Available. I will continue investigating tomorrow

[2019-11-26 03:39] tanjunchen commented on #85495
@CriaHu In your similar pr, please leave in the comments
```Ref:pr url fix number xx```
I will remove number xx in table Once They are merged

[2019-11-26 03:55] CriaHu commented on #85495
@tanjunchen  I submit links that are not in this form. You can add these links to the form.

[2019-11-26 04:22] gnufied commented on #75666
I have pushed https://github.com/kubernetes/kubernetes/pull/85619 which should hopefully fix this.

[2019-11-26 04:27] #85411 closed

[2019-11-26 04:49] absolutarin commented on #70996
@mikebryant sorry for checking in after a year. Did you run into similar issues again? What is your k8s cluster version?

[2019-11-26 04:53] bmwiedemann commented on #70131
Our main go version is still 1.12, so I did not test those.
So I guess, to use these, I would append `GOFLAGS='-trimpath -ldflags=buildid='` in
https://github.com/bmwiedemann/openSUSE/blob/master/packages/k/kubernetes/kubernetes.spec#L265

Is there some way to make these default in our build env? Asking, because there are many go packages that would need them and I'd prefer to not patch all of the

[2019-11-26 05:25] mars1024 commented on #81675
interested in this
/cc @mars1024

[2019-11-26 05:59] wuyafang commented on #74099
I have the same problem.How to deal with it ?

[2019-11-26 06:06] gongguan commented on #85341
Ping @deads2k , could you leave a suggestion whether this migration is reasonable?

[2019-11-26 06:26] tdihp commented on #75296
/remove-lifecycle stale

[2019-11-26 06:52] ps10 opened #85630 "Report Pod mounting the PVC as part of equivalent of "describe PVC" output in K8S Python API"
Hi,

I would like to query the PVC for which Pod is mounting it. I can see that the "describe pvc" output has this, where the "Mounted By: " prints the Pod that is mounting it. But on using read_namespaced_persistent_volume_claim which returns the PVC Object, I don't get it as part of the object.

Are there plans to have, or any current implementation that has, the V1PersistentVolumeClaim have a m

[2019-11-26 06:53] ps10 commented on #85630
/sig storage

[2019-11-26 07:23] tomkerkhove commented on #85544
I'll try to join day after tomorrow!

[2019-11-26 07:26] pohly commented on #75535
/remove-lifecycle stale

[2019-11-26 07:55] edwardstudy commented on #83622
`restartPolicy: onFailure` is also pending.

[2019-11-26 08:18] mikkeloscar commented on #72991
Just FYI: we don't see this issue after we switched from Container Linux and running kubelet via rkt to now running kubelet as a systemd service in ubuntu.

[2019-11-26 08:34] adelina-t commented on #82679
@immuzz Yeah, it works now. We can close this.

[2019-11-26 08:48] ygqygq2 opened #85632 "Use `kubectl exec -it POD-NAME /bin/sh` 30 seconds free to exit"
How do I set it so it doesn't automatically quit?

![image](https://user-images.githubusercontent.com/17672440/69613299-4ea26780-106c-11ea-9c4a-9f3d4a8875f1.png)

[2019-11-26 09:03] MrD2 commented on #85607
Yes, the HPA belongs to the same namespace as the deployment, but the metric does not.

Still, when he tries to get the metric it uses the namespace of the HPA instead of the kube-system.

In this case i want to scale the container pods so i can meet total X requests per second for for the namespace of said pods

[2019-11-26 09:18] benvaljean commented on #77192
Seeing the same with v1.10.11 , looks like its been around for a while

[2019-11-26 09:58] duiniwukenaihe commented on #83606
my kubernets 1.16.2 cluster update to 1.163 have this program too

[2019-11-26 10:09] #84284 closed

[2019-11-26 10:13] discordianfish commented on #63022
/reopen
/remove-lifecycle stale
/remove-lifecycle rotten
/lifecycle freeze
/cc @fejta Feedback: I don't like it.

[2019-11-26 10:43] neethiwin opened #85635 "List all the process name of a container through API"
I understand through API we can get info to max pod level. However, i was looking for a way to further more information at a container level.

How can achieve below one through API.
kubectl exec PODNAME -- pstree

Should I extend API Server implementation? Information of process list should be fetched through http only.

[2019-11-26 10:49] neethiwin commented on #85635
/sig cli

[2019-11-26 10:50] neethiwin commented on #85635
/kind feature

[2019-11-26 10:52] #85625 closed

[2019-11-26 11:07] hoyho opened #85636 "Add volume attachment info to PV object"
**What would you like to be added**:
Add volumeattachment info to PV when PV attach to specific node.
At currently, volumeattachment is a object with non-human readable name.
It will make it easy to get specific volumeattachment(by name) for we usually know a PV  in most situations.

**Why is this needed**:
Seems volumeattachment is a bit isolated with other kube object. If we want to get a volume

[2019-11-26 11:10] hoyho commented on #85636
/sig storage

[2019-11-26 11:19] MattMS commented on #7890
111 people want this (and 11 ❤️ it), so I think the following is necessary:

/remove-lifecycle stale

[2019-11-26 11:20] ingvagabund commented on #84306
Found these four (with their metric name counterpart):
- PredicateEvaluationLatency (`scheduling_algorithm_predicate_evaluation_seconds`)
- PriorityEvaluationLatency (`scheduling_algorithm_priority_evaluation_seconds`)
- PreemptionEvaluationLatency (`scheduling_algorithm_preemption_evaluation_seconds`)
- BindingLatency (`binding_duration_seconds`)

[2019-11-26 11:58] zjj2wry commented on #84263
@mabushey Use local path provisioner to automatically add node affinity information to the pv, then you can see in which volume the pv was created.

https://github.com/rancher/local-path-provisioner

[code]

[2019-11-26 12:05] ondrejhlavacek commented on #63214
+1 here!

[2019-11-26 12:08] liggitt commented on #85607
That is what I would expect. Allowing an HPA to drive cross-namespace metrics requests is counter to the namespaced nature of the object, and is not a pattern that is generally supported.

This may just be a documentation issue.

[2019-11-26 12:19] zjj2wry commented on #83439
https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/

[2019-11-26 12:24] MrD2 commented on #85607
The only thing i see is if i am confusing the external metrics with other thing:
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/#externalmetricsource-v2beta2-autoscaling

Although docs under [objectMetricSource](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/#objectmetricsource-v2beta2-autoscaling) need to be more polished, mainly the [CrossVersionObjectRe

[2019-11-26 12:55] BouweCeunen commented on #55946
I don't have Volumes which are in an unattached state, I'm getting this daily, it's getting quite annoying. Anyone any idea why this would happen so much?

[2019-11-26 13:14] wjam commented on #57923
@jsafrane  I've been looking through the code and it appears that all uses of `AtomicWriter.Write` - secrets, configmaps, downward apis, projections & cephfs - either specify a file mode directly, as with cephfs, or the default when the user specifies no modes (i.e. staging/src/k8s.io/api/core/v1/types/SecretVolumeSourceDefaultMode) are all `0644`. Also, the behaviour of `pkg/volume/SetVolumeOwner

[2019-11-26 13:19] vitality1987 commented on #80853
/remove-lifecycle stale

[2019-11-26 13:29] prabhu87 commented on #72226
I too faced the same issue and found solution, its worked for me,

Am running v1.15.3 cluster, after node lost the pods are stuck at terminating state.

Added below taint to terminate the pod in 2s when the node state changed to NotReady/unreachable.

tolerations:
      - effect: NoExecute
        key: node.kubernetes.io/unreachable
        operator: Exists
        tolerationSeconds: 2s
      - ef

[2019-11-26 13:32] wuyafang commented on #80481
I‘m confused. Why do we need dullicate HPA CPU metrics/ memory metrics?

[2019-11-26 13:50] notpad commented on #84307
@liu-cong Where can we find the clusterloader config, could you give me an example?

[2019-11-26 13:51] dims commented on #72991
/close

[2019-11-26 13:51] #72991 closed

[2019-11-26 13:59] MrD2 commented on #85206
I have a similar issue.

I am using a custom metric with HPA and extra pods are not added although they clearly should.
I have a message of **recommended size matches current size** which it does not match by alot.
My current metricValue is 16266m and the target value is 300, (desiredValue >>> currentValue)

[code]

@kubernetes/sig-scalability-bug

[2019-11-26 14:02] vadalikrishna commented on #28969
Can you please share your work around, I am facing a similar issue with cassandra in statefulset.

[2019-11-26 14:10] ingvagabund commented on #84306
Based on the dataItem file generated in the clusterloader tests and unified metrics, I got this (you can ignore the preemption as there was nothing to preempt):
[code]

[2019-11-26 14:43] cben commented on #8876
Another annoyance is that `-o name --show-kind=false` has no effect, it still shows `pod/` (https://github.com/kubernetes/kubectl/issues/669).
If like me you feel go-template and jsonpath are "last resort", your next stop is `-o custom-columns=NAME:.metadata.name`.  That's workable but it adds a `NAME` headers line so you also need `--no-headers`.

I'd say `kubectl exec` is similar to `kubectl log

[2019-11-26 14:46] Iridescens commented on #65581
I second @zhangxiaoyu-zidif 's proposal. I also need this as we often need to recreate whole releases with Helm with different options without deleting data.

[2019-11-26 14:47] WillPlatnick opened #85643 "Create ability to do zero downtime deployments when using externalTrafficPolicy: Local"
I am using externalTrafficPolicy set to Local for my a LoadBalancer service for an ingress controller on GKE.

Right now, when a pod gets terminated, it is immediately removed from the NodePort service, which stops traffic from routing to the pod (step 5 at https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods).

The problem is that the GCP Load Balancer doesn't update itself

[2019-11-26 14:48] Iridescens commented on #65581
/reopen

[2019-11-26 14:49] TheDiveO commented on #77142
/remove-lifecycle stale

This is still an issue even with 1.16.

[2019-11-26 14:50] cartyc commented on #83683
Hi @msau42 I will ask around to see if we need to do an update for previous notes. Thanks for getting this issue in :)

[2019-11-26 14:52] alculquicondor commented on #81433
What else do we want to do to consider this solved?

[2019-11-26 15:06] tedyu opened #85645 "Potential data race accessing manager#apiStatusVersions"
**What happened**:
[code]
apiStatusVersions is written from syncBatch(), syncPod() and read by needsUpdate().
For syncBatch(), there is no write lock taken, only podStatusesLock.RLock is taken (meant to protect podStatuses).
syncPod is called by syncBatch() and a goroutine in manager#Start()

**What you expected to happen**:
Writes to apiStatusVersions should be properly protected.

**How to repro

[2019-11-26 15:07] tedyu commented on #85645
/sig node

[2019-11-26 15:09] glensc commented on #30656
use [exec-as] kubectl plugin:

[code]

[exec-as]: https://github.com/jordanwilson230/kubectl-plugins/tree/krew#kubectl-exec-as

[2019-11-26 15:17] liggitt commented on #85320
if the PVC queue fails updating the PV, I'd expect it to requeue the PVC for processing

[2019-11-26 15:20] msau42 commented on #85320
It does (after 10 second resync period) , but it also races the second time. And then the test times out before it can retry a 3rd

[2019-11-26 15:22] liggitt commented on #85320
what is updating the PV multiple times in a row?

[2019-11-26 15:22] liggitt commented on #85320
I see you asked the same question :)

[2019-11-26 16:09] #75666 closed

[2019-11-26 16:33] aermakov-zalando commented on #75674
@kubernetes/sig-apps-feature-requests Any updates?

[2019-11-26 16:53] ingvagabund commented on #84306
Feeding the last 10 random commits from k8s master HEAD for `1000Nodes_0ExistingPods_5000Pods` and `scheduler_binding_duration_seconds` metrics

![alt text](https://raw.githubusercontent.com/ingvagabund/kubernetes/scheduler-perf-rework-benchmark-framework/test/integration/scheduler_perf/metrics-perf-dash.png)

[2019-11-26 16:54] venkatsc opened #85647 "Toggle between readOnly requires node restart"
**What happened**: Once volume mounted as readOnly in Pod, it cannot be remounted with `RW` access until further restart of K8S nodes.

**What you expected to happen**: Should be able to remount volume with proper permissions after pod deletion.

**How to reproduce it (as minimally and precisely as possible)**:
Step 1:
1. Mount some volume `test` in pod as `readOnly: true`
2. Volume is mounted wit

[2019-11-26 17:10] PatrickLang commented on #85352
/assign @jocelynberrendonner
cc @dineshgovindasamy

[2019-11-26 17:16] TomDinunzioMH opened #85648 "kubectl diff is returning non-zero for resources applied with --record"
**What happened**:
When a resource is applied with `kubectl apply --record`, `kubectl diff` returns non-zero and reports the annotation "kubernetes.io/change-cause" to be changed.

**What you expected to happen**:
`kubectl diff` should return 0 when run against an unmodified resource applied with the "--record" flag

**How to reproduce it (as minimally and precisely as possible)**:
[code]
Output :

[2019-11-26 18:30] gnufied commented on #75666
Also PR against 1.17 branch - https://github.com/kubernetes/kubernetes/pull/85649

[2019-11-26 18:36] joelsmith commented on #81118
/remove-lifecycle stale

[2019-11-26 18:50] stevebail commented on #85557
Problem found on the following system:
 Kernel Version:             4.15.0-51-generic
 OS Image:                   Ubuntu 18.04.2 LTS
 Operating System:           linux
 Architecture:               amd64
 Container Runtime Version:  docker://18.9.5
 Kubelet Version:            v1.15.0
 Kube-Proxy Version:         v1.15.0

[2019-11-26 18:50] JocelynBerrendonner commented on #85352
@robscott : Please let me know if you need any help on the fix! I'll be more than happy to review/help test the fix on Windows.

[2019-11-26 19:00] msau42 commented on #85320
Sequence of events for 2nd conflicting API update:

1. PV workqueue did not do anything since phase is already set to Available:
[code]

2. PVC workqueue tries to update PV again and it succeeds this time:
[code]

3. After updating PV with the claim, PVC workqueue tries to update the status
[code]

4. PV workqueue starts processing PV too
[code]

5. One of them succeeds (probably the PV workqueue)

[2019-11-26 19:06] LalatenduMohanty opened #85650 "Migrate kube-controller-manager flags to kube-controller-manager.config.k8s.io"
This is part of migrating the Kube-controller-manager command-line to a Kubernetes-style API as part of [componet working group](https://github.com/kubernetes/community/blob/master/wg-component-standard/README.md)

**What would you like to be added**:

Following flags should be  migrated to to Kubernetes-style versioned configuration files.

However we have an existing issue to fix before this can

[2019-11-26 19:08] LalatenduMohanty commented on #85650
/assign @mtaufen
/kind feature

[2019-11-26 19:13] LalatenduMohanty commented on #85650
/wg component-standard

[2019-11-26 19:24] julianvmodesto opened #85652 "Support apiserver dry-run in kubectl"
**What would you like to be added**:
We need to implement a consistent server-side "dry-run" flag in kubectl.

@apelisse proposed `--dry-run=server` to provide access to the apiserver's dry-run feature for GA, which re-uses the existing boolean flag, and leaves a path for `--dry-run=client`. The server-side behavior as in `--dry-run=server` would become the new default for `--dry-run`, since most

[2019-11-26 19:33] msau42 commented on #85320
So the fundamental issue is that PVC workqueue calls `bind()`, which tries to make [two updates to the PV object](https://github.com/kubernetes/kubernetes/blob/7907c63fad1ccb7905d2d27c643387046ab0f4ad/pkg/controller/volume/persistentvolume/pv_controller.go#L937), and those two updates can conflict with PV workqueue [here](https://github.com/kubernetes/kubernetes/blob/7907c63fad1ccb7905d2d27c643387

[2019-11-26 19:39] kvaps commented on #68397
/remove-lifecycle stale

[2019-11-26 20:17] #83513 closed

[2019-11-26 20:20] Patrux08 opened #85655 "Kubernetes Autoscaloing can't show CPU usage"
**What happened**:
We autoscaled a deployment following Kubernetes tutorial, but CPU usage is not showing and making it impossible for it to scale.

**Environment**:
- Kubernetes version: Server 1.13.11, client 1.14.6
- Cloud provider or hardware configuration: Azure - AKS
- Others: AKS running with Istio as well (version 1.3.2)

**Messages**:
https://prnt.sc/q2hfv2

[2019-11-26 20:22] Patrux08 commented on #85655
/sig autoscaling

[2019-11-26 20:23] dimm0 commented on #69699
Is there any way to disable chown and selinux relabelling for CSI volumes completely? We keep hitting this problem...

[2019-11-26 20:40] raravena80 commented on #69041
Hi, @kasisnu did you get a chance to work on this? Thx!

[2019-11-26 20:55] yashbhutwala commented on #69608
So, we had fun facing the issue today, learned a bunch of networking, passing it on, hopefully someone else will find this useful.

If you create a StatefulSet with a headless service, the ports exposed in the headless service don't matter.  The communication in this case happens via DNA directly to the pod.  kube-proxy is not involved at all.  😄

[2019-11-26 21:33] roycaihw commented on #82901
this is fixed by https://github.com/kubernetes/kubernetes/pull/85381

/close

[2019-11-26 21:33] #82901 closed

[2019-11-26 21:39] neolit123 commented on #81141
/close
resolved by:
https://github.com/kubernetes/kubernetes/pull/81319

[2019-11-26 21:39] #81141 closed

[2019-11-26 22:16] CamelCaseNotation commented on #57291
Having the ability to adjust this would make for better resiliency testing. In my case, I am starting a Deployment with a bunch of replicas with intentionally misconfigured memory limits to force the Pods to be `OOMKilled`, and I want it to spin like that for a while.

[2019-11-26 22:22] tedyu commented on #85320
To address the first race, I am thinking about the following (duration of the wait is up for discussion):
[code]

[2019-11-26 22:36] apelisse commented on #85652
@seans3 @soltysh @smarterclayton Any opinion on that? We still haven't implemented "server-dry-run" for most commands beside `kubectl apply`. I'm suggesting `--dry-run=[server|client]` with client being the default for now, and potentially changing it later. WDYT? Happy to come to sig-cli next wednesday to talk aboutt it.

[2019-11-26 23:31] msau42 commented on #69699
@dimm0 the main workaround is to not set fsGroup in your Pod spec and instead set supplementalGroup to match the gid of the volume. I don't think this workaround works for SELinux though.

[2019-11-26 23:34] msau42 commented on #80228
I would suggest to bring this up at sig-cli

[2019-11-26 23:35] msau42 commented on #78130
/reopen
/remove-lifecycle rotten
@kubernetes/sig-storage-bugs
/assign @gnufied @jingxu97

[2019-11-26 23:43] xueweiz commented on #72878
@donnyv12 , @joshk0 , @luhkevin ,
Could you try out the 1.13.12-gke.13 release? It uses Container-optimized OS version [cos-73-11647-329-0](https://cloud.google.com/container-optimized-os/docs/release-notes/m73#cos-73-11647-329-0), which has the fix for [a bug that we observed](https://docs.google.com/document/d/13KLD__6A935igLXpTFFomqfclATC89nAkhPOxsuKA0I/edit#heading=h.8way5x93xckx).

We don't k

[2019-11-26 23:52] kfox1111 commented on #80228
In general, a good plan. But my time is unfortunately rather constrained at the moment and I'm being asked to bring things up to more and more sig's. Anyone else that could bring up the issue in that forum?

[2019-11-26 23:53] neolit123 commented on #85648
/sig cli

[2019-11-26 23:53] neolit123 commented on #85647
/sig storage

[2019-11-26 23:54] neolit123 commented on #85643
/sig network cloud-provider
/kind feature
/area provider/gcp

[2019-11-27 00:08] msau42 commented on #85114
To address the problem with CSI drivers, the CSI spec requires the SP to ensure that the given access mode (via volume capability) is supported:
https://github.com/container-storage-interface/spec/blame/master/spec.md#L1197

[2019-11-27 00:09] apelisse commented on #68514
Let's finish these two tasks and close that issue. Planned for 1.18.

[2019-11-27 00:10] msau42 commented on #85114
Modifying PV object requires admin privileges. Generally we have followed the direction that an admin should understand what they are doing more than normal users.

[2019-11-27 00:51] #85485 closed

[2019-11-27 00:55] zouyee commented on #81575
Is the corresponding cadvisor cut a new branch before the 1.17 is released? @dashpole

[2019-11-27 01:02] dashpole commented on #81575
I don't know if we will make the 1.17.0 release.  I'll see if I can get to it tomorrow.

[2019-11-27 01:08] msau42 commented on #75782
/lifecycle frozen

[2019-11-27 01:09] msau42 commented on #79980
/remove-lifecycle stale
cc @pohly

[2019-11-27 01:41] msau42 opened #85659 "PV controller races with itself when you prebind a PVC"
**What happened**:
Offshoot of https://github.com/kubernetes/kubernetes/issues/85320#issuecomment-558784705. The impact is that a prebound PVC could take up to 30 seconds to bind.

**What you expected to happen**:
Ideally, the PV controller shouldn't intentionally race with itself.

**How to reproduce it (as minimally and precisely as possible)**:
Create a PVC that is prebound to a PV. Sometimes i

[2019-11-27 01:41] msau42 commented on #85659
/assign @msau42 @jsafrane

[2019-11-27 01:42] msau42 commented on #85659
@kubernetes/sig-storage-bugs

[2019-11-27 01:47] msau42 opened #85661 "Do we still need PV controller resync?"
**What happened**:
Semi related to https://github.com/kubernetes/kubernetes/issues/85659. The PV controller resync of 15 seconds ends up hiding problems in the PV controller.

**What you expected to happen**:
Is it worth trying out some experiments/tests to get rid of the frequent resyncs and fix the resulting bugs that come out of it?

**How to reproduce it (as minimally and precisely as possible

[2019-11-27 01:48] msau42 commented on #85661
@kubernetes/sig-storage-bugs
cc @jsafrane @liggitt

[2019-11-27 02:03] zouyee commented on #78702
Due to bash compatibility issues, the new version features cannot be supported in the old version. Do I need to add a version check for bash and the minimum version requirements?
issue:
 https://github.com/kubernetes/kubernetes/issues/85277
 https://github.com/kubernetes/kubernetes/issues/82605
 https://github.com/kubernetes/kubernetes/pull/85631
xref:
 https://stackoverflow.com/questions/6047648/

[2019-11-27 02:09] zhouya0 commented on #85648
/assign

[2019-11-27 02:13] liu-cong commented on #81719
I have recently discussed/experimented with @ingvagabund about scheduler benchmark test. Here is a summary of the current status of this issue as well as proposals on how to improve it.

## b.N in scheduler benchmark tests, ref  #84306
**Proposal**: Keep `b.N` as is.
I don't think it's wrong to set `b.N` to `minPods`. We do this as a "shortcut" to skip initial attempts of `testing.b` with small `b

[2019-11-27 02:14] leowucn commented on #45419
same issue with v1.15.6 run in flannel network.

[2019-11-27 02:36] #66421 closed

[2019-11-27 02:37] DarrienG commented on #76570
/remove-lifecycle stale

I don't work on Kubernetes anymore, but this is still an issue.

[2019-11-27 02:48] BenTheElder commented on #78702
There is a minimum version check in some scripts, we already have a utility for it.

That won't avoid compatibility issues really though. Careful scripting can, as can not using bash for large programs :-)