[2018-06-21 14:51] andyzhangx commented on #54610
@arsalans if you are using PVC/PV matching, storage size is only for matching in PVC bounding process, the actual size could be different than `resources.requests.storage`; while if you use dynamic provision of azure file, k8s will create a 5TB file share for you.

[2018-06-21 14:52] #65316 closed

[2018-06-21 14:59] jnicholls commented on #50345
@ptemmer It's a decent workaround no doubt. Just more boilerplate to handle on container start.

[2018-06-21 15:03] tpepper commented on #65300
/kind feature

[2018-06-21 15:06] luxas commented on #54161
Fixed by https://github.com/kubernetes/kubernetes/pull/60699

[2018-06-21 15:06] #54161 closed

[2018-06-21 15:24] cainelli opened #65317 "Google oidc issuer mismatch: https://accounts.google.com and accounts.google.com"
/kind bug

**What happened**:

kube-apiserver does not accept Google id tokens with issuer `accounts.google.com` after upgrading from 1.8.5 to 1.10.4.

**What you expected to happen**:

kube-apiserver should accept both issuers `https://accounts.google.com` and `accounts.google.com` since not all clients support setting oidc-issuer-url. This used to work on previous versions (1.8.5 at least) and i

[2018-06-21 15:35] php-coder commented on #65261
Why do you think that it's a Kubernetes issue? It looks like something Docker-related.

[2018-06-21 15:40] jberkus commented on #65311
So, the fact that GCE-ingress is failing, and that the failure started at midnight pacific time, suggests that this is due to a change pushed by the GKE folks, and not due to changes in Kubernetes at all.

https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-ingress

Can someone from test-infra explain why gke-ingress is in blocking, and gce-ingress isn't?  Unless we have reason to believe tha

[2018-06-21 15:44] php-coder commented on #65314
Are you sure that "docker-elasticsearch-0" is the name of your pod? Your containers should have names like `pod-0` as far I can see.

[2018-06-21 15:57] wangzhen127 commented on #65173
/cc @yujuhong
Yu-Ju, are you familiar with the evict API and tests? Can you provide some guidance?

[2018-06-21 16:04] AishSundar commented on #65311
@jberkus gce-ingress is also in the release blocking dashboard and is not failing (as you indicated above). So it is a GKE only issue.

https://k8s-testgrid.appspot.com/sig-release-1.11-blocking#gce-ingress-1.11

[2018-06-21 16:10] tallclair commented on #65266
I see, thanks for clarifying. Yeah, blocking should have been that (blocking-strict sgtm)

[2018-06-21 16:20] nicksardo commented on #65311
/assign @rramkumar1

[2018-06-21 16:28] rramkumar1 commented on #65311
The problem is purely on the GKE side, no cherry-pick into 1.11 is needed.

[2018-06-21 16:40] mgdevstack commented on #64754
/close

[2018-06-21 16:40] wsong commented on #65118
@dims that's for the `--healthz-port` arg, which is not present in the `KubeProxyConfiguration` struct.

[2018-06-21 16:43] lordk911 opened #65320 "sh: can't open xxx.sh"
I'm using kubernetes 1.8.13 ，I build myproject as a docker image ,and there this a start.sh for starup my program, I can use docker run to start it . but when I user Deployment to deploy the image , I got error ,only message from the log is  ：
 sh: can't open '/usr/soft/startup.sh'

the last line of my Dockerfile is : CMD ["sh /usr/soft/startup.sh"]

why I can do it directly with docker but not wi

[2018-06-21 16:44] BenTheElder commented on #65192
@dims we can set the nodes to any size but I think the default is
n1-standard-4.. I'd be a little concerned that anything besides maybe
hollow kubelets isn't fitting on default nodes 😱
Will follow up.

On Thu, Jun 21, 2018, 06:49 Klaus Ma <notifications@github.com> wrote:

[2018-06-21 16:52] yujuhong commented on #65173
Evict is part of the policy v1beta API, maintained by sig-apps. @kubernetes/sig-apps-api-reviews @davidopp

[2018-06-21 17:07] jsafrane opened #65322 "CSI leaves orphan json files in global mount directory"
/kind bug
/sig storage

**What happened**:
When using a CSI driver that does not support NODE_STAGE, I can see orphan json files in `/var/lib/kubelet/plugins/kubernetes.io/csi/pv/pvc-938861e4756911e8/vol_data.json` that are never cleaned up.

**What you expected to happen**:
No orphan file

/assign

[2018-06-21 17:17] yujuhong commented on #63612
@AishSundar I don't think the GKE tests have become worse (i.e., not a regression), so there is no need to block the release. Let me know if my understanding is wrong.

I don't know why the GCE tests have become stable. As for the difference between the two COS images (GCE vs GKE), maybe @filbranden can shed some light.

[2018-06-21 17:32] liggitt opened #65325 "NoExecuteTaintManager queue consumes large amounts of memory"
We're seeing an issue with large memory growth in NoExecuteTaintManager when pods with tolerations are rapidly created/deleted.

The item added to the workqueue contains the full pod objects received from the informer:
https://github.com/kubernetes/kubernetes/blob/23b4690d00670102fb319c0546262ebd083cf110/pkg/controller/nodelifecycle/scheduler/taint_manager.go#L301-L307

That means those pod object

[2018-06-21 17:33] liggitt commented on #65325
/assign

[2018-06-21 17:36] #58578 closed

[2018-06-21 17:58] rootfs commented on #59946
As @bmarzins  and @redbaron  comment, the mpath flag must be set and maybe use wwid instead lun. @humblec  and @bswartz , can you verify it on your multipath setup and come up with a doc PR if that works?

[2018-06-21 18:27] Typositoire opened #65332 "Stats summary endpoint listing two containers with same name"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: When creating a pod with `securityContext.privileged: true`, Stats summary endpoint list 2 container with the same name for the pod. One with CPU 0 and MEMORY 0, and the other one with good values.

(PS: they are from the same podRef)
[code]

**What you expected to happen**: I expected to see only one container for my pod

[2018-06-21 18:30] DirectXMan12 commented on #65332
cc @kubernetes/sig-node-bugs @kubernetes/sig-instrumentation-bugs

[2018-06-21 18:32] DirectXMan12 commented on #65332
For further reference, the last time I saw something like this, it was because cadvisor's cgroup-guessing logic was confused by something (there's a long fixed bug involving the systemd cgroup driver, for instance), and was seeing two cgroup paths for the same container, and treating them as two separate containers.

[2018-06-21 18:37] misterikkit opened #65333 "client-go: using a fake client is difficult and undocumented"
/kind documentation
/sig api-machinery

I tried to write a test that injected a fake client into my component, and found that the existing fake tools are rather difficult to use.

- There is a large API surface (exported types and functions), but I think most of it should not be touched by users like me.
  e.g. is playing with Actions and Reactors something that test writers need access to?
- Ther

[2018-06-21 18:37] #23620 closed

[2018-06-21 18:37] #57191 closed

[2018-06-21 18:38] misterikkit commented on #65333
I made a start on this by writing some example code in https://github.com/kubernetes/kubernetes/pull/65291.

I'm sure the example could be fleshed out for more use-cases, and there is still no documentation on how the fake client is meant to be used.

[2018-06-21 19:11] BenTheElder commented on #65192
Looks like it's actually `n1-standard-2` nodes per [the logs](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/22807/?log#log), FWIW.

[2018-06-21 19:33] tzurE commented on #56303
unresolved for us as well. we needed to clean everything and reinstall it to fix it.

[2018-06-21 19:54] jeff-1amstudios commented on #50345
@ptemmer

[2018-06-21 20:29] avgKol commented on #17512
@abushoeb I am getting the same error "error: metrics not available yet" . How did you fix it?

[2018-06-21 20:30] andrewsykim opened #65337 "Remove Cloud Controller Manager deb from Kubernetes Releases"
**Is this a BUG REPORT or FEATURE REQUEST?**
We should stop including the deb for CCM https://github.com/kubernetes/kubernetes/blob/master/build/debs/BUILD#L16 as part of Kubernetes releases. Given we almost always see cloud controller manager run within a container (as recommended). This is consistent with other controllers.

/kind bug

/sig release
/sig cluster-lifecycle
/sig cloud-provider

cc

[2018-06-21 20:31] guineveresaenger commented on #65311
Can someone update the labels for status tracking? It looks like we will _not_ include this for 1.11?

[2018-06-21 20:39] #42700 closed

[2018-06-21 20:39] #58180 closed

[2018-06-21 20:59] #63247 closed

[2018-06-21 21:22] yastij opened #65340 "Introduce a Metadata policy"
we've seen recently some customers trying to have partial trust across namespace boundaries. as an example when delivering a namespace with a `networkPolicy` that allows traffic only for some specific application (e.g using a pod selector `app: nginx`) it is impossible to ensure that no other workload is created with the same label an exploit this traffic allowance.

cc @bgrant0607 @liggitt @erica

[2018-06-21 21:34] liggitt commented on #52657
If you are rapidly creating and deleting pods containing tolerations, a memory leak was just found in the node lifecycle taint controller. See https://github.com/kubernetes/kubernetes/pull/65339 for details

[2018-06-21 21:40] chrissnell commented on #63959
This is also important for hosting providers, who might have huge numbers of apex domain DNS `A` records pointed at EIPs.  Associating an already-allocated EIP with a new Kubernetes-generated NLB would be huge!

[2018-06-21 21:58] k4leung4 commented on #39420
@sipian
This does sound like a bug if you are seeing orphaned resources.

Would you be interested in sharing your project ID with me privately, so that I can investigate this, or if you have a support ticket, cc me on the ticket, so that I can dig through the logs and see if I can figure out what is happening.

[2018-06-21 22:41] #57161 closed

[2018-06-21 22:41] #58631 closed

[2018-06-21 23:05] figo commented on #64003
@tallclair random ID should work if we have a proper way to enforce plugin name, i just have some concern about debug-ability, if two plugins using same prefix, for example
[code]
it certainly hard to understand which plugin it map to by just looking at names.
Thanks

[2018-06-21 23:09] terinjokes commented on #58686
Based on this description, I was expecting `--bind-address` to be the way to dual-stack the apiserver.

[2018-06-21 23:32] dashpole commented on #65332
/cc @dashpole

[2018-06-21 23:42] #20374 closed

[2018-06-21 23:42] #37828 closed

[2018-06-21 23:42] #47361 closed

[2018-06-22 00:11] figo commented on #64637
/cc

[2018-06-22 00:13] lavalamp opened #65344 "Proto format: Use standard wrapper mechanisms"
Some standard mechanisms for making fields optional in proto are here:

https://github.com/google/protobuf/blob/master/src/google/protobuf/wrappers.proto

We should use them for indicating optional fields when we rev our proto generator, if we ever do that.

/sig api-machinery
/priority important-longterm

cc @smarterclayton

[2018-06-22 00:41] stewart-yu commented on #65304
/cc

[2018-06-22 00:45] janetkuo commented on #63371
It should be this, because earliestTime is set to a cronjob's creationTimestamp only when its LastScheduleTime is empty, which is not the case in your example:
[code]

CronJob does not keep track of the last time it's updated; moreover, user isn't the only one who will update a CronJob, CronJob controller also keeps updating CronJob (e.g. its status).

CronJob controller keeps looking for the late

[2018-06-22 01:20] #65145 closed

[2018-06-22 01:20] #63608 closed

[2018-06-22 01:54] smarterclayton commented on #65344
I'm not even sure we can update to proto3 and keep a compatible format (I can't remember).

[2018-06-22 02:06] m1093782566 commented on #65158
cc @Lion-Wei

I assume this bug has already been fixed?

[2018-06-22 02:12] m1093782566 commented on #65158
ttps://github.com/kubernetes/kubernetes/pull/63319?

[2018-06-22 02:13] m1093782566 commented on #65158
I am going to close this issue since it should be fixed by https://github.com/kubernetes/kubernetes/pull/63319, please re-open if you still have troubles after picking https://github.com/kubernetes/kubernetes/pull/63319

[2018-06-22 02:13] m1093782566 commented on #65158
/close

[2018-06-22 02:13] #65158 closed

[2018-06-22 02:16] CaoShuFeng opened #65346 "swagger-ui cause heavy load to my web browser"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
Looks like it is a bug.

**What happened**:
When I use my web browser to access swagger-ui endpoint, my browser would use up the CPU resources and become very slowly. When I click the links in the page, there is no respond.

**What you expected to happen**:
The web page should be fluent and has a fast respond when I click the link in the pag

[2018-06-22 02:18] CaoShuFeng commented on #65346
/sig api-machinery

[2018-06-22 02:39] zihaoyu opened #65347 "Unexpected pod CPU requests when only limits is set in Deployment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I have a `Deployment` with container's `resources.limits.cpu = 200m`. However the pods have both `limits` and `requests` set to `200m`.
[code]

**What you expected to happen**:

Pod's `requests` is not set just like the `Deployment`'s template.

**How to reproduce it (as minimally and precisely as possible)**:

1. Apply

[2018-06-22 02:40] zihaoyu commented on #65347
/sig scheduling

[2018-06-22 02:48] #62171 closed

[2018-06-22 03:02] linxiulei commented on #12142
I think this issue had been fixed somewhere, as in my test all the commands performed correctly.
Actually, those commands lack --help flag

[code]

kubenetes v1.10.0

[2018-06-22 03:02] AishSundar commented on #65311
@guineveresaenger the fix, purely GKE, has been pushed and as per @rramkumar1 it will take ~6hrs to propagate. I am still for tests to clean up, no luck thus far.That said its a GKE specific issue n doesnt need CP into 1.11

[2018-06-22 03:14] DylanBLE commented on #65347
Kubernetes is designed to do so.

[2018-06-22 03:15] DylanBLE commented on #65347
https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/cpu-default-namespace/

[2018-06-22 03:46] #23874 closed

[2018-06-22 03:46] #23987 closed

[2018-06-22 03:55] apelisse commented on #61616
fixed by #62584

[2018-06-22 03:55] #61616 closed

[2018-06-22 04:12] #64927 closed

[2018-06-22 04:12] #65181 closed

[2018-06-22 04:29] RakeshNagarajan commented on #48798
Removing the $KUBELET_NETWORK_ARGS in /etc/systemd/system/kubelet.service.d/10-kubeadm.conf works for me.

[2018-06-22 05:14] #65320 closed

[2018-06-22 05:36] nikhita commented on #65344
/kind feature

[2018-06-22 05:42] nikhita commented on #65346
/cc @mbohlool

[2018-06-22 05:48] #58655 closed

[2018-06-22 06:13] RakeshNagarajan commented on #40969
even in  docker Version:  1.13.1 same issue

[2018-06-22 06:34] loburm commented on #65332
@DirectXMan12 I think this is an issue: https://github.com/kubernetes/kubernetes/issues/47853

Probably heuristic that was added in the fix is not working in some cases.

[2018-06-22 06:36] wojtek-t commented on #65325
Thanks for finding this Jordan - looking into your fixes.

[2018-06-22 06:39] jeusdi opened #65352 "Extract environment variables from a file"
I'd like to know whether I'm able to propagate environment variables from a file.

Guess I have a file like this:

    ENV_VARIABLE_USERNAME: username
    ENV_VARIABLE_PASSWORD: password

I'd like this content file is propagated as environment variables.

Is it possible?

[2018-06-22 06:41] x13n commented on #65266
Sorry, can you clarify which one do you think makes more sense? Adding third option (e.g. blocking-strict) or changing behavior of existing 'blocking' setting?

[2018-06-22 06:49] #3084 closed

[2018-06-22 06:49] #20941 closed

[2018-06-22 07:02] nikhita commented on #65293
@sttts Thanks for the list! Agreed for all fields. :+1:

Adding some points to help with directly mapping it to the code.

`Y` = yes, we can add.
`NV`  = not valid i.e. we don't allow it to be set even now.

About specific fields:
* `Type`: should be restricted to `object`, if used.

[code]

[2018-06-22 07:34] DevOps-Alvin opened #65355 "K8s.gcr.io/fluentd-elasticsearch:v2.2.0 does not exist."
I discovered that the k8s.gcr.io/fluentd-elasticsearch:v2.2.0 image does not exist when I use the discovery cluster/addons/fluentd-elasticsearch/fluentd-es-ds.yaml template in the deployment EFK.

![20180622153331](https://user-images.githubusercontent.com/26085539/41763799-c6f4fada-7631-11e8-8c04-f63a3f34b43f.png)

/kind bug
/sig scheduling

[2018-06-22 07:46] loburm commented on #65266
@timstclair could you approve it for milestone?

[2018-06-22 07:50] #19319 closed

[2018-06-22 08:11] #65284 closed

[2018-06-22 08:48] ptemmer commented on #50345
@jeff-1amstudios In the Dockerfile of the image

[2018-06-22 09:22] slpcat commented on #64435
when kubernetes cluster network   is using  flannel ， not from cloudprovider which is azure virtual net

[2018-06-22 09:27] patricks commented on #64913
Interesting information, but it doesn't fix my problem. Did you do something else? Like rebuild go-lang?

[2018-06-22 09:39] lbernail opened #65358 "IPVS does not work with kubenet when no masquerading options are set"
/kind bug
/sig network
/area ipvs

**What happened**:
When accessing a service from a pod, traffic to pods on the same host is dropped when using:
- IPVS
- kubenet
- kube-proxy without masquerade-all or cluster-cidr

**What you expected to happen**:
Accessing pods (through service IP) on the same node should work

**How to reproduce it (as minimally and precisely as possible)**:
- Use kube-proxy w

[2018-06-22 09:44] tiaobug commented on #62295
Hi,

@gonzolino @liggitt
We got an issue may be caused by name and hostname exchange.

Reproduce  steps:

1. create an instance in openstack dashboard, named "bbbb-node-4".
2. due to work requirements, we should edit this instance hostname to "vm-10-10-10-10".
3. edit this instance's name to "vm-10-10-10-10" in openstack dashboard.
4. try to start kubelet in vm-10-10-10-10, there will be a failed

[2018-06-22 09:46] olemarkus commented on #41881
/remove-lifecycle stale

[2018-06-22 09:47] m1093782566 commented on #65358
/cc @Lion-Wei

Please take a look.

[2018-06-22 09:53] sttts commented on #15345
/remove-lifecycle stale
/lifecycle froze
/remove-lifecycle rotten.
/reopen

[2018-06-22 09:54] sttts commented on #15345
After we had such a case some days ago for the 1.11 release. What is the current status? Do we have such a script, but only miss to check some files named differently to `types.go`?

[2018-06-22 10:05] kuznero commented on #60884
Same with v1.10.4 on CentOS

[2018-06-22 10:12] eyalzek commented on #25275
So the solution ATM is to use pod disruption budget on the stateful set and handle scaling down manually? Or did I miss some functionality ?

[2018-06-22 10:54] bboreham commented on #48798
Repeating for visibility:

Note that `KUBELET_NETWORK_ARGS` is what tells kubelet which kind of network plugin to expect.  If you remove it then kubelet expects no plugin, and therefore you get whatever the underlying container runtime gives you: typically Docker "bridge" networking.

This is fine in some cases, particularly if you only have one machine.  It is not helpful if you actually want to

[2018-06-22 11:07] alnikyur commented on #65267
@jiaxuanzhou Thanks for your fast reply. It will be nice if this functionality will be implement in next release!

[2018-06-22 11:09] jeevanjoseph commented on #65355
I got the same. I am now trying to build the docker image myself and change the `fluentd-es-ds.yaml` to point to my image...

[2018-06-22 11:12] cofyc commented on #64474
/assign

[2018-06-22 11:43] #64849 closed

[2018-06-22 11:44] themanifold commented on #46310
I'm considering taking this on, @Random-Liu and @kubernetes/sig-node-bugs do you think @ibrasho is right that we switch over to `pkg/ssh`?

[2018-06-22 11:53] lbernail commented on #65158
I just tested and it does not seem to work
I updated kube-proxy to `v1.11.0-rc.1` but I still have the problem

Looking at the code, it looks like the KUBE-MARK-MASQ is not added to the service chain because the `KUBE-CLUSTER-IP` ipset is empty (which should not be the case because I actually have some services deployed)

Did I miss something?

[2018-06-22 11:55] m1093782566 commented on #65158
Did you configure the --cluster-cidr?

[2018-06-22 11:57] m1093782566 commented on #65158
cc @rtreffer, any comments?

[2018-06-22 12:00] lbernail commented on #65158
No I did not
I just realized this was the source of the problem here: https://github.com/kubernetes/kubernetes/blob/v1.11.0-rc.1/pkg/proxy/ipvs/proxier.go#L793

We usually don't configure it because we have no need for it:
- we don't advertise service cidr externally
- we would rather have pods using loadbalancer IP actually hit the load-balancer (easier to understand and debug if we have similar

[2018-06-22 12:10] m1093782566 commented on #65158
Yeah, seems you find the root cause. clusterIPSet should not be empty.

[2018-06-22 12:20] minhlongdo commented on #15636
@nikhita ok, I am going to work on it, it will take a bit longer since this is my first time in this code base

[2018-06-22 12:32] kevincox commented on #22494
/reopen

GKE still lacks graceful shutdowns. If not fixed soon this should be mentioned in the docs. It makes preemptable instances less suitable.

[2018-06-22 12:33] kevincox commented on #22494
/remove-lifecycle rotten

[2018-06-22 12:34] kevincox commented on #22494
/reopen

[2018-06-22 12:55] deads2k opened #65366 "kubectl delete re-evaluates resource lists for its wait"
When it does this for controller managed resources, it can hang indefinitely.

/assign

[2018-06-22 12:55] sylr commented on #65314
Yes that's the name of the pod (This pod is part of a `StatefulSet` instead of a `Deployment` hence the name) and there is only one container in it besides the initContainer.

[2018-06-22 12:56] soltysh commented on #65366
/kind bug
/approved-for-milestone

[2018-06-22 12:57] soltysh commented on #65366
/status approve-for-milestone

[2018-06-22 12:58] soltysh commented on #65366
/status approved-for-milestone

[2018-06-22 13:10] #61390 closed

[2018-06-22 13:55] nikhita commented on #15636
@minhlongdo take your time, no hurries! :)

Also, if you have questions - the #kubernetes-dev channel on the Kubernetes slack is a good place to ask and get immediate feedback. If you are not already on the slack, you can sign up [here](http://slack.k8s.io/).

[2018-06-22 14:16] k82cn commented on #65192
@BenTheElder , is there anything I need to follow up ?

[2018-06-22 14:20] k82cn opened #65372 "`system-node-critical` is not handled in kubelet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

Found the issue when investigate https://github.com/kubernetes/kubernetes/issues/65192 :

In scheduler, it found `fluentd-gcp-v3.0.0-kwbqj` can not be scheduled because of insufficient cpu and trigger preemption (node-critical > cluster-critical); but in kubelet, it'll not preempt any 'critical' pods, refer to the followin

[2018-06-22 14:31] liggitt commented on #65346
I think we should probably deprecate/drop the ui component from the apiserver.

[2018-06-22 14:49] abushoeb commented on #17512
@avgKol check you heapster deployment first. In my case, it was not deployed properly. One way to check it is to access metrics via CURL command like `curl -L http://heapster-pod-ip:heapster-service-port/api/v1/model/metrics/`. If it doesn't show metrics then check the heapster pod and logs. The hepster metrics can be accessed via a web browser too [like this](https://stackoverflow.com/questions/4

[2018-06-22 14:59] liggitt commented on #52657
backport PRs for anyone interested in tracking the fix back to a release branch:

Automated cherry pick of #65339: Remove item from taint manager workqueue on completion
- 1.11: #65362
- 1.10: #65363
- 1.9: #65364
- 1.8: #65365

[2018-06-22 15:21] hiep-huynh commented on #65228
I've written a script to periodically clear out stale udp conntrack sessions: [clear_stale_udp_sessions.sh](https://gist.github.com/hiep-huynh/792070c91b746c79fd7912d4db428167)

It gathers ports exposed via your services and removes conntrack sessions to these ports upon these conditions:
- if they're not currently in use (iptables rules don't exist for the ports so conntrack sessions for it shoul

[2018-06-22 15:30] Nowaker commented on #33212
It seems kubectl 1.9.3 can't talk to server 1.5.5:

[code]

[2018-06-22 15:31] pmorie opened #65375 "resource kinds are not shown by default when using kubectl get with custom categories"
When using a category (other than `all` - which seems to exhibit the correct behavior, presumably due to special-casing) with `kubectl get`.

**What happened**:

Example: I created 3 CRDs and put them all in the `federation` category. You can see the definitions here:

<details>

[code]

</details>

I created examples as follows:

<details>

[code]

</details>

When I run `kubectl get federation`,

[2018-06-22 15:32] pmorie commented on #65375
/sig cli

[2018-06-22 15:41] lichuqiang commented on #63048
We intend to allocate infiniband with device plugin.
And for tenency-isolation, we allocate pkey of IBs basing on namespaces.
So, namespaces info of pods are needed during allocation.

[2018-06-22 15:46] liggitt commented on #65375
the bug is here:

https://github.com/kubernetes/kubernetes/blob/e467e9abb7a45a2d58a790d4529b08cac5df77e0/pkg/kubectl/genericclioptions/resource/builder.go#L1111-L1144

it is working off the os.Args passed, rather than the result of category expansion

[2018-06-22 15:58] #56053 closed

[2018-06-22 15:58] #58691 closed

[2018-06-22 16:07] DylanBLE opened #65378 "Resource Quota Manager missed caculating Uninitialized pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Resource Quota Manager missed caculating Uninitialized pods.

**What you expected to happen**:
Resource Quota Manager takes Uninitialized pods into account.
The quota used status should record Uninitialized pods.

**How to reproduce it (as minimally and precisely as possible)**:
### 1. create a resource quota
[code]
###

[2018-06-22 16:11] DylanBLE commented on #65378
/sig api-machinery

[2018-06-22 16:15] DylanBLE commented on #65378
Resource Quota Manager's Pod Evaluator cann't list Uninitialized pods.
We may add such option through InformerFactory.

[2018-06-22 16:22] zihaoyu commented on #65347
Yeah the doc is very helpful. Closing.

[2018-06-22 16:22] #65347 closed

[2018-06-22 16:30] vielmetti commented on #65253
Hi @guineveresaenger there is discussion also going in in the CoreDNS channel of the CNCF Slack . , https://slack.cncf.io/

There @johnbelamaric writes:

[2018-06-22 16:51] ekhaydarov commented on #2630
the solutions arent idea, now your containers are running as root which is against the security standards that k8s tries to get its users to impose.

it would be great if persistent volumes could be created with `securityContext` in mind, ie
[code]

[2018-06-22 16:59] #56142 closed

[2018-06-22 16:59] #56307 closed

[2018-06-22 17:12] lavalamp commented on #15345
https://github.com/kubernetes/kube-openapi/pull/83

Should fix this

[2018-06-22 17:12] lavalamp commented on #15345
cc @roycaihw

[2018-06-22 17:15] guineveresaenger commented on #65253
Thank you @vielmetti!

[2018-06-22 17:24] janetkuo commented on #33212
This is now documented in dev doc https://github.com/kubernetes/community/blob/master/contributors/devel/kubectl-conventions.md#principles:

We need to update user doc as well.
In addition, we can also start printing warnings when `kubectl` talks to a server it does not fully support.

@Nowaker you'll need to either use older kubectl (1.4 ~ 1.6) or upgrade server

[2018-06-22 17:31] guineveresaenger commented on #65253
@vielmetti please ping back here once there is progress.

[2018-06-22 17:31] #65366 closed

[2018-06-22 17:32] jeevanjoseph commented on #65355
Not sure if I'm looking at the right place, but

[gcr.io](https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/fluentd-elasticsearch?gcrImageListsize=50&gcrImageListsort=-uploaded)

seems to have 2.1.0 as the most recent tag. I haven't tried it pulling it yet...

[2018-06-22 17:46] dougm commented on #64021
/assign @jiatongw

[2018-06-22 18:00] #58699 closed

[2018-06-22 18:02] dougm commented on #64021
/assign

[2018-06-22 18:06] jeevanjoseph commented on #65355
yep downgrading to v2.1.0 works.

[2018-06-22 18:11] tpepper commented on #65253
More from slack:

John Belamaric [10:58 AM]
... The image in docker hub is fine actually, it just needs to be re-pushed to gcr.io with a different tool

Chris O'Haver [11:02 AM]
FWIW, The manifest on dockerhub was always ok.  The problem was introduced when it was pushed from docker hub to gcr.io.
Its not under our direct control.  A googler needs to re-push the image.  I would expect it to be pus

[2018-06-22 18:51] tallclair commented on #65266
I don't think we can change `blocking` without breaking backwards compatibliity, so I'm in favor of `blocking-strict`

[2018-06-22 18:52] BenTheElder commented on #65253
/cc @ixdy
Discussing this one offline.

[2018-06-22 18:54] liggitt commented on #65266
what would it mean for a mutating request to fail if the responsecomplete audit logging fails after the object is persisted? just a failure http status?

[2018-06-22 18:55] jiayingz commented on #63048
/cc @dashpole

@lichuqiang could you explain a bit what is pkey of IBs, and what isolation model you would like to provide by taking namespace information into account during pkey of IBs? I am thinking if more pod information may be needed by different kind of device plugins in the future, we may want to consider a more general model for third-party plugins to learn the pod/container to device bin

[2018-06-22 18:58] tallclair commented on #65266
Right, to clarify this would only work for the `RequestReceived` stage. Actually, that could be used to get this behavior only for sensitive requests (by omitting RequestReceived for less sensitive requests).

[2018-06-22 19:39] ixdy commented on #65253
I'm pretty sure https://github.com/google/containerregistry supports manifest lists properly. I wonder if we can use those for pulling from dockerhub and then pushing to gcr.io.

[2018-06-22 20:40] donbowman opened #65387 "externalTrafficPolicy: Local breaks internal reachability"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

This is discussed on [kubernetes-users](https://groups.google.com/forum/#!topic/kubernetes-users/HOaGQD4J8j0)

When externalTrafficPolicy: Local is used, in GKE, external traffic coming in to the Load Balancer works correctly. But traffic that originates within the GKE cluster is broken, a TCP SYN is not responded to.

M

[2018-06-22 20:44] donbowman commented on #65387
/sig network

[2018-06-22 20:49] mikedanese commented on #65317
It's also handled by the spec for historic reasons:

http://openid.net/specs/openid-connect-core-1_0.html#GoogleIss

However I thought that we moved off old token endpoints. I'm not sure why this is happening for you. This change was discussed here: https://github.com/kubernetes/kubernetes/pull/58544#discussion_r164279467

[2018-06-22 20:51] mikedanese commented on #65317
Also the current config shows the correct issuer:

[code]

[2018-06-22 21:01] thockin commented on #65387
Agree that this is weird and feels left-out.  The fix is not complicated but I need an owner to carry it through testing.

[2018-06-22 21:03] #58370 closed

[2018-06-22 21:34] thockin commented on #65253
re-pushed with manifest-tool and it seems good - please confirm

On Fri, Jun 22, 2018 at 12:39 PM Jeff Grafton <notifications@github.com>
wrote:

[2018-06-22 21:52] #64655 closed

[2018-06-22 22:06] Random-Liu commented on #65253
It works now!

[code]

[2018-06-22 22:06] #65253 closed

[2018-06-22 22:20] vielmetti commented on #57869
A problem related to manifests and `containerd` was addressed here: https://github.com/kubernetes/kubernetes/issues/65253

[2018-06-22 22:30] thockin commented on #12142
Indeed, it does seem fixed

[2018-06-22 22:30] #12142 closed

[2018-06-22 22:46] caesarxuchao commented on #64612
I'll try to make the 1.8 cherrypick over the weekend. @nikhita let me know if you already started.

[2018-06-22 23:58] adampl commented on #33664
Thanks @spiddy, though I prefer to avoid the `\`, so I cooked up this :)
[code]

[2018-06-23 00:20] verult opened #65392 "If kubelet is unavailable, AttachDetachController fails to force detach on pod deletion"
/kind bug

**What you expected to happen**:
When a pod using an attached volume is deleted (gracefully) but kubelet in the corresponding node is down, the AttachDetachController should assume the node is unrecoverable after a timeout (currently 6min) and forcefully detach the volume.

**What happened**:
The volume is never detached.

**How to reproduce it (as minimally and precisely as possible)**

[2018-06-23 00:30] MikeSpreitzer opened #65393 "flag help for --watch-cache-sizes is wrong about group being optional"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I wanted to set the watch cache size for some Kinds, and realized I was unsure of the syntax.  After investigation and prompting, the flag help was updated to describe the syntax.  But the description has an error.  The flag help (https://github.com/kubernetes/kubernetes/blob/5e9a5659b751bd1d765758548273198fe8e40642/stagi

[2018-06-23 00:31] MikeSpreitzer commented on #65393
@kubernetes/sig-api-machinery-bugs

[2018-06-23 01:28] BenTheElder commented on #65192
I'm not sure, I'd be somewhat hesitant to just throw bigger nodes at it and hope that works. If we have to keep using bigger nodes to run the basic tests, what are end users doing? :|

[2018-06-23 02:03] #64935 closed

[2018-06-23 02:03] #64571 closed

[2018-06-23 02:06] liggitt commented on #64450
this test appears to be failing *only* in the kubeadm e2e... do we know what version of kubectl is running in that test?

[2018-06-23 02:37] ns7381 opened #65398 "can I use s3 storage as kubernetes storageclass?"
I want to use ceph s3 storage as kubernetes storageclass. How to define it?

[2018-06-23 03:39] lukeweber opened #65400 "GKE MasterAuth clientCertificate has no permissions on Create"
/kind bug

**What happened**:
When provisioning a GKE cluster with google-api-go-client, the MasterAuth client certificate is set to Subject: CN=client. When I try to use the MasterAuth certs to connect to the cluster it says client has no permissions.

If I use gclient to get other credentials, I can modify RBAC to fix this with the following code:
[code]

**What you expected to happen**:
I would

[2018-06-23 03:52] stewart-yu commented on #65355
seems has been reverted
/assign

[2018-06-23 04:10] #58455 closed

[2018-06-23 05:11] yue9944882 commented on #65375
What if `federatedreplicaset.federation.pmorie.toy` has a short name e.g. `ty`?  IMO, the output should be `ty/my-rs` instead.

[2018-06-23 05:44] rkttu commented on #65163
@PatrickLang I am still waiting for the answer to this issue. Is this a problem that needs to be solved by upgrading to the latest version of Kubernetes? If the problem is solved by upgrading to the latest version, I would like to close the issue by selecting Pod liveness check as workaround.

[2018-06-23 06:06] jiuchongxiao opened #65401 "fluentd-elasticsearch collect too much no use log data"
fluentd-elasticsearch collect too much no use log data。
the example data as below:
[code]

if can we limit the same log collect frequency?

[2018-06-23 06:13] jiuchongxiao commented on #65401
my detail config yaml as below:
fluentd-es-configmap.yaml

[code]

fluentd-es-ds.yaml
[code]
fluentd-es-service.yaml
[code]

[2018-06-23 06:15] jiuchongxiao commented on #65401
/sig fluentd

[2018-06-23 06:46] monotek commented on #65355
This is the template for the image which has to be build manually by some googler...

[2018-06-23 06:51] PatrickLang commented on #65163
cc @daschott

There is an issue under investigation where if the last pod is stopped, HNS endpoints can be deleted. I'm wondering if this is related. A fix is in the works for that issue on Windows Server version 1803

The workaround for that is to create a daemon set to keep a pod running before you start your other pod that's associated with a service.

[2018-06-23 07:18] Lion-Wei commented on #65358
As this issue mentioned, I think change hairpin-mode to `hairpin-veth` can fix this problem.
https://github.com/kubernetes/kubernetes/issues/60257

[2018-06-23 07:43] eisig opened #65403 "godep-save remove all "BUILD" file"
I am trying  to update  aws-sdk-go dep version, following the guide in
https://github.com/kubernetes/community/blob/master/contributors/devel/godep.md

I checkout to the master branch, and I use these commands:
[code]
But all the "BUILD" files in the "vendor" folder are deleted.
[code]
What did i do wrong？What are the right steps?

When I use the same commands in the "release-1.9" branch,  all the

[2018-06-23 07:46] davidkarlsen commented on #54525
/remove-lifecycle rotten

[2018-06-23 07:56] eisig commented on #65403
/sig contributor-experience

[2018-06-23 08:31] stewart-yu commented on #65355
I know it is a template, but i want to know why change `k8s.gcr.io/fluentd-elasticsearch` image'tag from `v2.1.0` to `v2.2.0`? seems no this image in `GCR` hub now, so strange? @monotek

[2018-06-23 08:36] monotek commented on #65355
The image has to be build from the template so the template has to be there before the image.

[2018-06-23 10:54] emacsliu opened #65405 "kubectl edit pod ip doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When I use kubectl edit command to change podip field, it say I have edited. But nothing happened.
**What you expected to happen**:
Either change the podip, or say I should not be changed.
**How to reproduce it (as minimally and precisely as possible)**:
kubectl edit pod xxx, look for podip, and give it a new internal ip address,the

[2018-06-23 11:00] ReSearchITEng commented on #52655
This was our case as well, with OpenShift Enterprise 3.9 !
removing the link and mount disk directly to /var/lib/docker solved the resolve.conf issue!

[2018-06-23 11:07] ReSearchITEng commented on #51462
/remove-lifecycle rotten
/remove-lifecycle stale

On Mon, Jun 11, 2018 at 6:40 PM fejta-bot <notifications@github.com> wrote:

[2018-06-23 11:15] DevOps-Alvin commented on #65355
I temporarily use v2.1.0, later need to replace or replace k8s.gcr.io repository v2.2.0

[2018-06-23 11:17] #56272 closed

[2018-06-23 13:55] rkttu-devsisters commented on #65163
@PatrickLang It looks similar to the problem you mentioned.

However, if you run another IIS pod that does not add a pod liveness check, the HNS endpoint of the newly added pod has been deleted. In contrast, all pods running with pod liveness check retain their HNS endpoints. Note that the Kubernetes cluster already has an IIS pod that I have added to the Pod liveness check before and it is runnin

[2018-06-23 16:28] yastij opened #65406 "add a resource to see what authz are linked to which subject"
Currently there are no easy way to list all the authorization for specific subject. This makes our security audits harder on large clusters.
This issue is created to discuss the possibility of introducing a `SubjectRulesReview` to ease the work of security teams. For a given subject a `SubjectRulesReview` would be associated and would contains the projection of cluster-wide authorizations .

/assi

[2018-06-23 16:28] yastij commented on #65406
/sig auth

[2018-06-23 16:42] yastij commented on #65406
also cc @ericchiang

[2018-06-23 17:54] jessfraz opened #65408 "Deprecate DenyEscalatingExec"
Look, here is the thing, this is only useful IF you are _only_ exposing the kube api to the end user. AND even then if you do not prevent mounting the host into containers via a PodSecurityPolicy then you could just exec in by combining the file descriptors....

Like this window dressing of a feature is kinda un-useful and people are enabling it under circumstances where it is just plain stupid...

[2018-06-23 18:45] robbyt commented on #2630
As a workaround, I use a `postStart` lifecycle hook to chown the volume data to the correct permissions. This may not work for all applications, because the `postStart` lifecycle hook may run too late, but it's more secure than running the container as root and then fixing permissions and dropping root in the entrypoint.

[2018-06-23 19:01] liggitt commented on #65375
The output is the fully qualified type to ensure it always resolves to that resource. A shortname can potentially resolve to a different resource

[2018-06-23 19:22] liggitt commented on #65378
Duplicate of https://github.com/kubernetes/kubernetes/issues/53109

It is likely initializers will be dropped before graduating from alpha. We should wait to ripple out initializer-related changes until that decision is made.

/close

[2018-06-23 19:22] #65378 closed

[2018-06-23 19:44] justaugustus commented on #60168
/remove-lifecycle rotten

[2018-06-23 20:17] chicocvenancio commented on #2630
We use `initContainer`, can a lifecycle hook have a different securityContext than the container itself?

[2018-06-23 23:29] #58616 closed

[2018-06-24 00:11] antonputra commented on #54188
You can create config.yaml file, for example
[code]
and run `kubeadm init --config=kubeadm-config.yaml`

[2018-06-24 00:33] liggitt commented on #55072
/reopen

[2018-06-24 00:33] liggitt commented on #55072
/remove-lifecycle rotten
/lifecycle frozen

[2018-06-24 01:31] #58632 closed

[2018-06-24 01:54] watsonl commented on #61277
os ubuntu 16.04, 18.04, kubeadm verson 1.10.5
add no_proxy at /etc/environment solved my problem!
no_proxy="localhost,127.0.0.1,........."

[2018-06-24 02:32] #58112 closed

[2018-06-24 03:04] wgliang opened #65409 "run hack/update-bazel.sh conflict with rules"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

This may related with #64122. If you run hack/update-bazel.sh all imported packages always start with `//vendor` but not `//staging/src`

**What happened**:
The code that caused the conflict cannot be resolved(#64741).

**What you expected to happen**:
import path in staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/BUILD is st

[2018-06-24 04:13] ryanmcnamara commented on #61509
/remove-lifecycle-stale

[2018-06-24 08:38] #57773 closed

[2018-06-24 10:06] yastij commented on #65300
cc @k82cn @janetkuo

[2018-06-24 10:09] divyangjp commented on #58145
It's an issue with `v1.10.1` as well. The behaviour is as described by @simon-k8s

[2018-06-24 10:14] divyangjp commented on #58145
@FengyunPan Bump

[2018-06-24 10:40] #45819 closed

[2018-06-24 12:42] #29292 closed

[2018-06-24 12:42] #58272 closed

[2018-06-24 16:59] nikhita commented on #65403
I came across this recently as well.

same for me.

/kind bug

[2018-06-24 17:04] nikhita commented on #65403
Looks like https://github.com/kubernetes/kubernetes/pull/61575 is the culprit?

/cc @cblecker @ixdy

[2018-06-24 17:06] nikhita commented on #65403
@eisig you didn't do anything wrong. :)

Updating bazel files again will solve the problem for now:

[code]

But we should either fix the script or update the instructions.

[2018-06-24 17:16] cblecker commented on #65403
This should run already as a part of godep-save.sh:
https://github.com/kubernetes/kubernetes/blob/ec37c0f643014727173c7cfbb3a389133a284ba1/hack/godep-save.sh#L85-L91

Is that step producing any errors?

[2018-06-24 18:05] yguo0905 opened #65413 "Scheduler extender broken by JSON decoder update"
/kind bug
/sig api-machinery
/sig scheduling
/cc @caesarxuchao
/cc @MaciekPytel

The scheduler extender configuration element `BindVerb` does not have a JSON tag. The scheduler extender configuration must be in JSON format, IIRC.
https://github.com/kubernetes/kubernetes/blob/d2b954eaf83afefad8ff2d80ea27bf86b056b80b/pkg/scheduler/api/v1/types.go#L150-L153

And no custom marshallers exists for this

[2018-06-24 18:12] nikhita commented on #65413
/cc @liggitt @caesarxuchao @sttts

[2018-06-24 18:15] nikhita commented on #65413
I'll create a PR to add the tag.

But this would be a breaking change.

[2018-06-24 18:16] nikhita commented on #65413
Also: this file does not have any proto tags - is that expected?

[2018-06-24 18:20] yguo0905 commented on #65413
I'm not sure about this :)

[2018-06-24 18:21] yguo0905 commented on #65413
Can you please confirm that the decoder update now requires the JSON tag to be set?

[2018-06-24 18:32] nikhita commented on #65413
Well, yes, the decoder update required the JSON tag to be set -- if the API is exposed in the openapi schema.

Checking further, it looks like this API is not exposed at all, so it won't make a difference even if we add the tag here. :thinking:

If it's not exposed, it also doesn't make sense to add proto tags here.

[2018-06-24 19:04] yguo0905 commented on #65413
I thought if we want to add the tag, it would be `bindVerb`, so that the example in https://github.com/kubernetes/examples/blob/master/staging/scheduler-policy-config-with-extender.json#L8 is still valid.

@liggitt, I didn't try but I think `BindVerb` should work. But this inconsistency seems to be a bug: `filterVerb`, `prioritizeVerb` but `BindVerb`. Maybe we can fix this in the 1.12.

The decode

[2018-06-24 19:16] smarterclayton commented on #61701
@kubernetes/sig-apps-feature-requests

This looks more like something you would use a stateful set for.

[2018-06-24 19:48] jdanekrh commented on #61701
I looked at stateful set documentation and it seems it would work for what I need. There is only one minor mismatch regarding pod startup: I would prefer to start them all at once, not one-at-a-time. But that is something I can live with just fine. Thanks.

[2018-06-24 19:48] #61701 closed

[2018-06-24 19:49] #55618 closed

[2018-06-24 19:57] nikhita opened #65414 "scheduler: fix API inconsistencies and test compatibility"
/kind bug
/sig scheduling

There are many APIs which have been excluded in https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/algorithmprovider/defaults/compatibility_test.go. For instance, `ExtenderConfig` is absent (found during https://github.com/kubernetes/kubernetes/issues/65413).

The tests should include all API types to ensure backward compatibility and API consistency.

/c

[2018-06-24 20:01] nikhita commented on #54579
/remove-lifecycle stale

[2018-06-24 20:31] liggitt commented on #65414
some of the problems noted:
* BindVerb omits a json tag, so requires "BindVerb" when using a case-sensitive decoder
* Uses time.Duration, which requires specifying times as 1000000000 to get 1 second (should have used metav1.Duration, which allows specifying "1s")
* Uses restclient.Config, which is not a serializable struct (has no json tags, carries no guarantee it will remain compatible with dat

[2018-06-24 20:36] liggitt commented on #65413
There are many problems with the ExtenderConfig API type. Tracking those in https://github.com/kubernetes/kubernetes/issues/65414

Returning the REST API to a case-sensitive state was very important to maintain interoperability between kubernetes releases (see discussion in https://github.com/kubernetes/kubernetes/pull/65298#issuecomment-399582819)

Opened #65415 to continue decoding this particul

[2018-06-24 20:54] liggitt commented on #65414
Opened #65415 (and [1.11](https://github.com/kubernetes/kubernetes/pull/65416), [1.10](https://github.com/kubernetes/kubernetes/pull/65417), [1.9](https://github.com/kubernetes/kubernetes/pull/65418), and [1.8](https://github.com/kubernetes/kubernetes/pull/65419) cherry-picks) to continue decoding this particular config struct in a case-insensitive way to preserve current behavior while this issue

[2018-06-24 21:02] liggitt commented on #65414
/priority important-soon

this should be addressed immediately. the lack of rest.Config cross-version serialization safety is especially concerning

[2018-06-24 21:36] liggitt commented on #65413
/assign

[2018-06-24 21:40] benmathews commented on #45967
/remove-lifecycle stale

[2018-06-24 21:49] yastij commented on #64753
@dims - can you assign me on this ?

[2018-06-24 22:33] yguo0905 commented on #65413
@liggitt, sounds great. Thanks!

@caesarxuchao and @MaciekPytel, the decoder change should probably be one of `Action Required` items in the release note. We probably want to say something since 1.10.5 that has the problem has already been released.

[2018-06-24 22:50] caesarxuchao commented on #65413
I updated to release notes of #65034 to warn people about the known breaking config.

[2018-06-24 23:06] Quentin-M commented on #62628
I just posted a little write-up about our journey troubleshooting the issue, and how we are worked around it in production: https://blog.quentin-machu.fr/2018/06/24/5-15s-dns-lookups-on-kubernetes/.

[2018-06-24 23:06] Quentin-M commented on #56903
I just posted a little write-up about our journey troubleshooting the issue, and how we are worked around it in production: https://blog.quentin-machu.fr/2018/06/24/5-15s-dns-lookups-on-kubernetes/.

[2018-06-24 23:50] liggitt commented on #65413
The BindVerb issue will be limited to 1.10.5, and would best be indicated as a known issue in the CHANGELOG-1.10.md file, not in a 1.11 release note. Also, I think 1.11 release notes have already been extracted from PR descriptions and are being edited by sig-docs

[2018-06-24 23:53] #58833 closed

[2018-06-25 00:20] adohe commented on #64450
as what Jordan commented, please help provide the version info, we don't find any problem in Kubernetes conformance test.

[2018-06-25 00:41] WanLinghao commented on #65406
@liggitt

[2018-06-25 00:48] liggitt commented on #65406
A few considerations come to mind:
* not all authorizors support enumerating authorization rules for a subject (see the “incomplete” indicator in the SelfSubjectRulesReview type). That can be acceptable for a best effort, non-authoritative, advisory rule listing (which is what SelfSubjectRulesReview is) but doesn’t seem good for audit purposes.
* a rules review returns rules for a single scope (ei

[2018-06-25 01:49] jiaxuanzhou commented on #65405
/sig api-machinery

[2018-06-25 01:55] jsoref commented on #61739
/remove-lifecycle stale

[2018-06-25 02:19] rezroo opened #65421 "/api/v1 does not list any verb for "pods/attach" and "pods/exec""
[code]

[2018-06-25 02:31] eisig commented on #65403
There are not any error message.
Here is the output:
[code]

[2018-06-25 02:36] liggitt commented on #65421
/sig api-machinery
/assign

[2018-06-25 02:49] liggitt commented on #65413
/priority critical-urgent
/status approved-for-milestone

[2018-06-25 03:00] dnoland1 commented on #57534
/remove-lifecycle stale

[2018-06-25 04:57] nikhita commented on #65413
Just mentioning the related PRs here for easier tracking:

- https://github.com/kubernetes/kubernetes/pull/65424: PR to master (1.12)
- https://github.com/kubernetes/kubernetes/pull/65416: cherry-pick to 1.11
- https://github.com/kubernetes/kubernetes/pull/65417: cherry-pick to 1.10
- https://github.com/kubernetes/kubernetes/pull/65418: cherry-pick to 1.9
- https://github.com/kubernetes/kubernetes

[2018-06-25 05:09] nikhita commented on #65414
/cc @kubernetes/sig-scheduling-bugs

[2018-06-25 05:11] nikhita commented on #65413
Btw, thanks for reporting this @yguo0905! :+1: :+1: :+1:

It would have been really bad if we caught this even later..

[2018-06-25 05:45] coffeepac commented on #65355
probably should be /sig instrumentation  I'll go ask some people.

[2018-06-25 06:06] resouer commented on #65414
Thanks @nikhita

also, cc the user of scheduler extender I knew: @ravigadde

[2018-06-25 06:07] mgdevstack opened #65427 "[Candidate for Conformance] discussion to promote "[sig-api-machinery] Garbage collector should orphan pods created by rc if deleteOptions.OrphanDependents is nil" e2e test"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
With respect to the [discussion](https://github.com/cncf/k8s-conformance/issues/221#issuecomment-397375358) to promote e2e tests for conformance, while going through codebase, It is observed that this e2e test case is using deprecated (in 1.7) [deleteOptions](https://kubernetes.io/docs/reference/generated/kubernetes-ap

[2018-06-25 06:24] mgdevstack opened #65428 "[Candidate for Conformance] discussion to promote "[sig-api-machinery] Garbage collector should delete jobs and pods created by cronjob" e2e test"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
**e2e test:**  [sig-api-machinery] Garbage collector should delete jobs and pods created by cronjob

With respect to the [discussion](https://github.com/cncf/k8s-conformance/issues/221#issuecomment-397375358) to promote e2e tests for conformance, while going through codebase, It is observed that this e2e test case is u

[2018-06-25 06:40] patricks commented on #64913
I fixed it by uninstalling go@1.9 and installing it again.

[2018-06-25 06:40] #64913 closed

[2018-06-25 06:43] resouer commented on #63784
Thanks @bsalamat , Yes, I also noticed the lock in ecache should be the concern. We are still actively on this issue.

[2018-06-25 07:08] vishal-yadav commented on #54804
Any update on the second part? Is it also fixed? Thanks.

[2018-06-25 07:28] nikhita commented on #65413
/assign

[2018-06-25 07:29] nikhita commented on #65413
/reopen

[2018-06-25 07:45] deantejones commented on #65428
I love this website thanks you guys for helping me

[2018-06-25 08:15] sp-joseluis-ledesma commented on #31272
Does  PVCProtection(alpha on 1.9) provide the same functionality?

[2018-06-25 08:40] wojtek-t commented on #48107
With my logging PR, it's not hard to find logs like this:
[code]

So iptables-restore may take 20s+ in our tests.

I don't yet know what else is manipulating iptables (I didn't see any traces coming from iptables in Kubelet yet), but if there is some other component that can run that long operations, the errors mentioned in: https://github.com/kubernetes/kubernetes/issues/48107#issuecomment-398018

[2018-06-25 08:40] wojtek-t commented on #48107
@freehan @bowei - FYI ^^

[2018-06-25 08:49] x13n commented on #65266
Yeah, this makes sense only for `RequestReceived` stage, other stages would continue to stay best effort.

[2018-06-25 09:00] zong400 opened #65430 "cant connect to mysql with service name"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I can telnet 3306 port ,but cant connect to mysql with service name.
is happen when the mysql client and mysql server in same node.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
[code]
172.31.0.165 is mysqlclient-k8s-dev-node2 pod's ip

**Anything else we need to know

[2018-06-25 09:04] nikhita commented on #57618
/remove-lifecycle stale

should this be added to the 1.12 milestone?

[2018-06-25 09:18] jiaxuanzhou commented on #65405
this parameter should be allowed to be modified i think

[2018-06-25 09:44] maxlaverse commented on #56903
Thanks for sharing this @Quentin-M.

I believe there is a typo here and you meant **does not** fix the packet loss.

I'll use this opportunity to clarify one point ;)

I hope the article about [connection timeouts on Kubernetes](https://tech.xing.com/a-reason-for-unexplained-connection-timeouts-on-kubernetes-docker-abd041cf7e02) was not misleading but this flag `NF_NAT_RANGE_PROTO_RANDOM_FULLY` (o

[2018-06-25 09:59] nikhita commented on #65375
/assign

[2018-06-25 10:00] nikhita commented on #65375
/unassign
just saw the other PR

[2018-06-25 10:18] ctodea opened #65435 "kubectl working with --dry-run but failing without it"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Creating a ReplicaSet I've forgot to create a label in the Pod for using it on the selector of the RS to specify which Pods are to be managed by this RS.

rs.yaml **without the label and selector** which are commented:
[code]
So, running `kubectl apply -f rs.yaml --dry-run`
returns:

And running `kubectl apply -f rs.yaml`

[2018-06-25 10:20] ctodea commented on #65435
/sig cli

[2018-06-25 10:44] sdlarsen opened #65436 "Mounts timeout when enabling BlockVolume feature gate"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When creating a cluster with feature gate BlockVolume enabled, mounting EBS (and local) volumes time out.

**What you expected to happen**:
That volumes would attach and mount without problems (at least EBS ones that normally works fine)

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a clust

[2018-06-25 10:50] CaoShuFeng commented on #65352
[code]

And in the pod spec:
[code]

FYI: https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/

[2018-06-25 10:56] CaoShuFeng commented on #65405
Looks like pod ip should not modified manually. It's set by kubelet, I think.

[2018-06-25 11:21] nikhita commented on #65435
/cc @apelisse
since this talks about apply and dry run

[2018-06-25 11:48] sdlarsen commented on #65436
/sig Storage

[2018-06-25 11:49] jeusdi opened #65438 "Populate env file from pod filesystem"
Guess the next situation.

 1. An Init Container creates an env file into pod filesystem.
 2. The other containers in the pod, need this file content to propagate its content as environment variables.

How could I propagate this file content as environment variables?

[2018-06-25 12:08] cainelli commented on #65317
Thanks for getting into this @mikedanese. Apparently there are still client libraries, including maintained by Google that still uses the old API to generate id tokens. I agree that handling vendor-specific exceptions is not a good fit long term but that is indeed a breaking change.

[2018-06-25 12:20] CaoShuFeng commented on #65405
When run `kubectl edit`, modification to `pod.status` are silently ignored.
https://github.com/kubernetes/kubernetes/blob/67e7d4c68ff8bcc3ce357e03ef3ddf2c688e417c/pkg/registry/core/pod/strategy.go#L82

[2018-06-25 12:21] wenlxie commented on #65131
@msau42  Thanks for reply this issue.
Do you have any progress now?
If you have the PR already, I 'd like help to review it.

[2018-06-25 12:31] maxwell92 commented on #61937
It's interesting that only one machine ran into this trouble in our production cluster. I've no idea about why this "chosen" one instead of some two or more machines..

[2018-06-25 12:58] nirak63 commented on #65400
/sig auth

[2018-06-25 13:03] jeusdi commented on #65438
All of them, init and main containers shares the same volume mount.
So, init container creates the env file into /etc/secrets which is mounted on a volume. The same volume is mounted on main containers.

So, all of them, have access to the same content.

The problem is, how to populate this content file in order to populate as environment variables and main container are able to use them?

I don't

[2018-06-25 13:06] #58866 closed

[2018-06-25 13:17] wojtek-t opened #65441 "gce-scale-performance suite is failing"
I'm opening this issue as an umbrella for sharing thoughts about recent failures coming from it.

In particular:
- run 169: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/169

This seems to be a flake cause by rescheduler. Rescheduler is implemented in a pretty inefficient way listing all pods to decide for rescheduling.
In this particular

[2018-06-25 13:41] alexvicegrab commented on #56539
I have a similar issue. I'd expect to be able to add some kind of flag to anti-affinities to ignore them when upgrading.

Please /reopen

[2018-06-25 13:42] alexvicegrab commented on #56539
/reopen

[2018-06-25 14:05] rgembalik commented on #65110
Looks like I have the same issue. Pod won't delete because volume cannot be removed. Usually it is connected with tmpfs under `default-token-xxxxx` mountpoint, but I've seen it also in openebs volume scenarios.

Symptoms so far:
* `mount`, `cat /proc/mount` and `/etc/mtab`
   all lists the volume as mounted - sometimes even multiple times! The entry for sample problem is:
  `tmpfs on /path-to-kube

[2018-06-25 14:09] apsega commented on #65110
Issue has been resolved after upgrading to `1.10.5`.

[2018-06-25 14:09] #65110 closed

[2018-06-25 14:19] Levovar commented on #63048
Just to join to the list of supporters: we would be also very interested in this API enhancement (Nokia).

I think CNI definitely has its place in the ecosystem. However, at the same time we also need to acknowledge that the project currently does not account for userspace networking.
Also network resources are basically the only remaining resources which are not taken into account when making sch

[2018-06-25 14:37] xmudrii opened #65442 "Create aggregated ClusterRole for API Servers to allow getting Namespaces and Admission Webhooks"
I'm moving discussion from https://github.com/kubernetes/kubernetes/pull/65206#discussion_r197764862 to this issue.

We think it would be a good idea to provide the aggregated ClusterRole, allowing the aggregated API servers to `get`, `list` and `watch` Namespaces and Admission Webhooks. This role is generic for all API servers, and we're already using this pattern for the auth delegator.

In this

[2018-06-25 14:45] bswartz commented on #59946
I've verified that "disable_changed_wwids yes" does what it's supposed to do. On all of my test systems, the WWIDs are truly unique so there's no risk of a conflict there. I'm still not convinced that kubernetes is safe from problematic behavior related to multipath though.My fix for this bug addresses the lower level problem of not detaching disks that aren't in use, but the issue of kubernetes g

[2018-06-25 15:22] lbernail commented on #65358
I confirm it works by changing the hairpin-mode
(restarting kubelet is not enough because it does not clear the ebtables chain)

The issue that remains is that if you switch kube-proxy to ipvs with kubenet in default hairpin-node without doing anything it will break a working setup.

Probably not a big deal since kubenet should be deprecated in the future (but maybe worth a note in the release not

[2018-06-25 15:28] redbaron commented on #59946
@bswartz , if you find why it is like that, please update https://github.com/kubernetes/kubernetes/issues/60894

[2018-06-25 15:51] kfox1111 commented on #10834
/remove-lifecycle stale

[2018-06-25 16:01] apelisse commented on #65435
@ctodea This is a well-known issue that we're trying to address right now: https://github.com/kubernetes/community/pull/2301

Thanks!

[2018-06-25 16:17] bswartz commented on #59946
@redbaron Sure, it's pretty easy to reproduce and pretty obvious what's going on. Fixing it isn't so easy. I'll update that bug.

[2018-06-25 16:23] ctodea commented on #65435
@apellise So, should I close this issue?

[2018-06-25 16:28] msau42 commented on #31272
Yes 1.9 PVCProtection alpha feature is the same.

[2018-06-25 16:38] chqli opened #65444 "High disk usage ( both IOPS and bandwidth ) by Kubernetes"
![kubernetes_high_iops](https://user-images.githubusercontent.com/6815499/41863468-8d42a144-78c4-11e8-8679-fa843ac528f7.jpg)
/kind bug

**What happened**:
I'm running a kubernetes cluster with 1 master and 2 slaves, each with 8GB RAM and 2 vcpus.
Following is the **unusually high disk usage** that I observe, only after running some batch jobs for about 40 mins across both the slaves. There, are th

[2018-06-25 16:46] filipmnowak commented on #64978
Looks like flakiness related to time Job runs.

For 5 simple Jobs running true command every minute, within an hour I've got around 30 occurrences of SandboxChanged and FailedCreatePodSandBox.

For 5 simple Jobs running sleep 30, none of those Events occurred within an hour.

I tested it on k8s v1.9.1+coreos.0, deployed using Kubespray.

It appears that task finishes before k8s will consider Job P

[2018-06-25 16:52] luxas commented on #64450
This ^ is interesting, from https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-gce-conformance-stable-1-8/188
Seems unrelated to `Scaling the resource failed with: could not convert scale update to external Scale: scheme.Scale is not suitable for converting to \"v1\"`, but suggests some of these tests might flake when API aggregation discovery suffers from intermittent

[2018-06-25 16:52] luxas commented on #64450
cc @kubernetes/sig-api-machinery-bugs

[2018-06-25 16:58] wongma7 opened #65445 "Containerized kubelet may not see local volume block device paths"
/kind bug
Using https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume, if a block device is symlinked to the discovery directory e.g. `/mnt/local-storage/block-devices`, then MapVolume will fail with
`volume_path_handler_linux.go:75] Failed device create command for path: /mnt/local-storage/block-devices/vdb exit status 1 losetup: /mnt/local-storage/block-devices/vdb: f

[2018-06-25 16:58] wongma7 commented on #65445
/sig storage

[2018-06-25 16:58] AishSundar commented on #64450
cc @fedebongio to assign to appropriate owners within api-machinery

[2018-06-25 17:01] liggitt commented on #64450
Determination of scale resources happens here:

https://github.com/kubernetes/kubernetes/blob/67e7d4c68ff8bcc3ce357e03ef3ddf2c688e417c/staging/src/k8s.io/client-go/scale/util.go#L62-L87

That only depends on the particular group/version being scaled, not full discovery. Additionally, a discovery error there would return an error, not return an incorrect scale group/version

[2018-06-25 17:08] msau42 commented on #65445
ah yes containerized kubelet has many issues when dealing with symlinks.  Check out Mounter.GetMode(), it calls a nsenter EvalSymlinks which should be able to do what you need.  But actually, one thing to consider, is do you need to do the losetup on the host, or does inside the container work?

[2018-06-25 17:11] wongma7 commented on #64603
Do we need also `-v /dev:/dev:rslave`? We have it in openshift, I believe it was added in case kubelet does Attach. Regardless, I think we do need to keep it for block device symlinking.

[2018-06-25 17:16] wongma7 commented on #65445
Yes it appears to work from inside the container, on the host I run
[code]
which disappears after I delete the pod using the device. My understanding of running losetup in MapVolume is not that great but I suppose that as long as that /dev/loop0 is created we are fine.
Thanks for the quick response, I'll create a PR using that function and tag you

[2018-06-25 17:29] ravigadde commented on #65414
Thanks @resouer @liggitt Is there a precedence for breaking API changes like these on the callouts? Any suggestion for how to handle this?

@liggitt Do you have an alternate suggestion for an existing TLS Config struct or it could be defined here with json tags?

[2018-06-25 17:33] Quentin-M commented on #56903
@maxlaverse Thank you for your note about the typo, for the word usage of "fix" that I replaced with "mitigate", and for your great initial troubleshooting work!

This is what we use daily, yes.

This is is great find, I was not aware at all. Given the wording of the documentation you provided, it would sound like one needs to unload the netfilter conntrack module explicitly to avoid double-tracki

[2018-06-25 17:35] msau42 commented on #65445
Does it create it on the host or in the containerized kubelet? What happens when containerized kubelet is restarted?

The purpose of losetup is to do "refcounting" on the block device to prevent possible naming collisions when devices are attached/detached under unhealthy conditions.  Ie, if a device showed up as /dev/sdb and you gave that to a pod, and then for some reason it become unhealthy and

[2018-06-25 17:40] tpepper commented on #65408
/sig auth

[2018-06-25 17:44] wongma7 commented on #65445
It is created on the host (and also visible in the container), and stays around through restart.

I understand now, thank you.

[2018-06-25 17:44] tpepper commented on #65401
/sig instrumentation

[2018-06-25 17:45] ixdy commented on #65409
Right, things have changed a bit after #64122. Whereas previously everything under `staging/src/k8s.io` was referred to using its `vendor/k8s.io/` symlink, now in `BUILD` files, we use the real `//staging/src/k8s.io/...` path for everything under `staging`, while real vendored dependencies under `vendor/` still use `//vendor/...`.

If you didn't make any human changes to the `BUILD` files (which I

[2018-06-25 17:46] ixdy commented on #65409
/assign

[2018-06-25 17:49] wongma7 commented on #65445
Actually after I restart it becomes /vdb instead of /dev/vdb in the losetup output, idk what that is about.
[code]
There is no such thing as /vdb and /dev/vdb is still intact of course. Seems inconsequential since it is disappearing after all pods using the device are deleted, i.e. it's still serving as a refcounter

[2018-06-25 18:06] coffeepac commented on #65355
is this causing a failure anywhere in the e2e tests?  if it is, we can roll back to 2.1.0 until the new image is built.

[2018-06-25 18:07] coffeepac commented on #65401
/assign

[2018-06-25 18:09] coffeepac commented on #65401
@jiuchongxiao that is from the systemd plugin.  if you don't want that type of record, you can edit the built-in configmap to remove the source input type listed here:  https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/fluentd-es-configmap.yaml#L321

does that make sense?

[2018-06-25 18:13] coffeepac commented on #65210
/assign

[2018-06-25 18:14] coffeepac commented on #65210
@jiuchongxiao the plugin will load data in time order so if the cluster has been running for awhile, it may take an hour or two for data to show up for the last 15 minutes.

I've seen another issue from you about log data, can I assume that this issue is resolved?

[2018-06-25 18:16] coffeepac commented on #65175
/assign

[2018-06-25 18:17] coffeepac commented on #65175
fluentd plugin is now at [v1.2.2](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/fluentd-es-image/Gemfile#L3).  currently need to manually build the image but when image is available I believe this issue should be resolved.

[2018-06-25 18:19] ixdy commented on #65403
yeah, I can reproduce this - running `hack/run-in-gopath.sh hack/godep-save.sh` yields lots of missing `BUILD` files.

still investigating, but I'm guessing the `BUILD` files are being generated in the generated gopath (from `hack/run-in-gopath.sh`, rather than the repo root.

[2018-06-25 18:19] coffeepac commented on #64730
/sig api-machinery

[2018-06-25 18:20] ixdy commented on #65403
... though that shouldn't matter, since it's just a symlink. hm.

[2018-06-25 18:30] cainelli commented on #65317
And according to Google's [documentation](https://developers.google.com/identity/sign-in/web/backend-auth), a token still may contain both values.

[2018-06-25 18:33] cblecker commented on #65403
I think I found it.. I think it has to do with the fact that the init script uses `pwd -P` to strip out symlinks, which doesn't play nice with `run-in-gopath.sh`.

https://github.com/kubernetes/kubernetes/blob/759f3e21da9192649a7e30ac22ed8d0eb0ee50b3/hack/lib/init.sh#L25-L26

I'm testing a fix locally.. if it works, I'll push a PR. I don't know if removing the `-P` flag will break other things tho

[2018-06-25 18:33] ConnorDoyle commented on #58339
/remove-lifecycle rotten
see fix in #59214

[2018-06-25 19:08] cblecker commented on #65403
Nope. That didn't work. Next test I'm running is a revert of #64122.

[2018-06-25 19:15] AishSundar commented on #65427
@fedebongio your guidance on this will be helpful. Should we consider rewriting the e2e test and then promote it?

[2018-06-25 19:17] AishSundar commented on #65428
@fedebongio, do we know when this feature is likely go to GA?
@WilliamDenniss should we talk about Beta conformance tag with this test? If so can you point me to any documentation and we can  bring this up in next Conformance WG meeting?

[2018-06-25 19:22] AishSundar commented on #65173
@WilliamDenniss more candidates for beta conformance.

[2018-06-25 19:23] ixdy commented on #65403
after running `hack/run-in-gopath.sh hack/godep-save.sh`, if I then run `hack/run-in-gopath.sh hack/update-bazel.sh`, it still doesn't regenerate the `BUILD` files, which makes me think `gazelle` doesn't like running in the artificial gopath.

[2018-06-25 19:29] bswartz commented on #60894
After thinking about this over lunch, I think a possible fix would be: add a 10 second wait loop for the multipath device if and only if the PV are 2 or more target portals specified. This puts control in the hands of the provisioner without modifying the API at all, and not breaking backwards compatibility.

The one corner case I can see is what would happen the PV has 2 portals, but the system i

[2018-06-25 19:33] ixdy commented on #65403
`gazelle` seems to need to run from the real `$KUBE_ROOT` (or at least a subdir of the real `$KUBE_ROOT`).

`kazel` seems to need to run from a valid `$GOPATH`.

If I `cd` to the real `$KUBE_ROOT` in `hack/update-bazel.sh`, `gazelle` works properly, but `kazel` then explodes.

[2018-06-25 19:33] cblecker commented on #65403
Just a straight revert of that last change didn't work either. I wonder how long this has been broken for..

[2018-06-25 19:49] jayconrod commented on #65403
@ixdy When Gazelle starts, it locates the repository root (if `-repo_root` is not given, it's the nearest parent directory containing a file named `WORKSPACE`), then evaluates symlinks in that path.

When Gazelle walks the directory tree, it only follows symlinks to directories that point outside the  repository. It checks that by evaluating symlinks, then checking whether the resolved path has th

[2018-06-25 19:55] ixdy commented on #65403
@cblecker I'd guess since #51766.

[2018-06-25 19:55] jayconrod commented on #65403
So I think passing `-repo_root <dir>` to Gazelle would fix it. Then it won't go looking outside the GOPATH for the WORKSPACE file.

[2018-06-25 20:00] ixdy commented on #65403
`-repo_root` alone doesn't seem to be helping, at least not if I set it to the real repo root.

[code]

and the `BUILD` files under `vendor/` are still missing.

What does seem to help is if I `cd` to the real repo root before calling `gazelle`.

[2018-06-25 20:02] ixdy commented on #65403
note also that it seems that gazelle isn't walking any of the tree when run under `hack/run-in-gopath.sh`; it's not just `vendor/` that's affected.

[2018-06-25 20:08] ixdy commented on #65403
Easiest way to reproduce:
1. check out kubernetes/kubernetes
2. `rm` some `BUILD` file in the tree (e.g. `pkg/watch/json/BUILD`)
3. run `hack/run-in-gopath.sh hack/update-bazel.sh`
4. note that the `BUILD` file you removed wasn't regenerated
5. run `hack/update-bazel.sh`
6. note that the `BUILD` file was now regenerated

[2018-06-25 20:10] luxas commented on #54318
/remove-lifecycle rotten

[2018-06-25 20:11] wenjiaswe commented on #65036
/cc @caesarxuchao @wenjiaswe

[2018-06-25 20:12] wenjiaswe commented on #65062
/cc @jpbetz @wenjiaswe

[2018-06-25 20:12] BenTheElder commented on #47349
FWIW all of the presubmits run in docker containers in the CI presubmits (kubernetes pods actually) so the first point is definitely workable..

[2018-06-25 20:15] wenjiaswe commented on #65078
/sig cli
/sig node
/cc @wenjiaswe

[2018-06-25 20:16] wenjiaswe commented on #65090
/cc @cheftako

[2018-06-25 20:16] wenjiaswe commented on #65091
/cc @cheftako

[2018-06-25 20:17] wenjiaswe commented on #65106
/cc @jennybuckley

[2018-06-25 20:19] wenjiaswe commented on #65109
/cc @yliaog

[2018-06-25 20:20] wenjiaswe commented on #65121
/cc @roycaihw

[2018-06-25 20:23] wenjiaswe commented on #65133
/cc @mbohlool

[2018-06-25 20:26] pbarker opened #65450 "Audit metadata level should include object owner references"
Currently, when audit logging is configured at the `metadata` level only a superset of the object data is being logged in the [objectReference](https://github.com/kubernetes/apiserver/blob/master/pkg/apis/audit/v1beta1/types.go#L263). In order to determine things like attribution (i.e. a deployment deletion caused pod deletion), the object's metadata needs to be examined to trace the cause/effect.

[2018-06-25 20:28] wenjiaswe commented on #65257
/remove-sig api-machinery
/sig scheduler

[2018-06-25 20:30] wenjiaswe commented on #65333
/cc @caesarxuchao

[2018-06-25 20:31] wenjiaswe commented on #65344
/cc @wenjiaswe

[2018-06-25 20:32] wenjiaswe commented on #65393
/cc @yliaog

[2018-06-25 20:32] iavael commented on #15478
/remove-lifecycle rotten

[2018-06-25 20:57] jayconrod commented on #65403
Copying my comment from slack:

[2018-06-25 21:41] smiller171 commented on #17406
ClusterFirstWithHostNet doesn't seem to work for me with Weave. Is this a known issue or may I be doing something wrong?

[2018-06-25 21:44] pbarker commented on #65450
@kubernetes/sig-auth-feature-requests

[2018-06-25 21:45] liggitt commented on #65450
Metadata is not necessarily safe to log. For example `kubectl apply` stores full object content in annotations.

[2018-06-25 21:45] glb commented on #63629
Similar request by @boosh in this comment: https://github.com/kubernetes/kubernetes/issues/47368#issuecomment-344993237

[2018-06-25 21:49] pbarker commented on #65450
what about excluding the `annotations` or just scoping it to the `ownerReferences` and `labels`?

[2018-06-25 21:58] tallclair commented on #65450
This looks like a duplicate of https://github.com/kubernetes/kubernetes/issues/56586

To [quote myself](https://github.com/kubernetes/kubernetes/issues/56586#issuecomment-358080379) from that issue:

[2018-06-25 21:58] #65450 closed

[2018-06-25 22:00] tallclair commented on #65450
If you're interested in this topic though, I'm still open to the log filters idea. AFAIK no one has started designing that feature, so a KEP would certainly be welcome.

[2018-06-25 22:03] adepuravikrishna opened #65451 "Error: unknown command "upgrade" for "kubeadm""
BUG REPORT:

/kind bug

@k8s-sig-onprem-bugs   Kubeadm upgrade plan command is not working in the version v1.7.5. We are planning to upgrade the cluster v1.75 to v1.9.x. Could you please advise me the kubeadm command available in v1.7.5?

**Is this a BUG REPORT **:

[root@machienname]# **kubeadm version**
kubeadm version: &version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.5", GitCommit:"17d7182a

[2018-06-25 22:14] #12338 closed

[2018-06-25 22:17] mrak opened #65452 "Bug: non-existent secrets are mounted as a 777 mode directory"
**BUG REPORT**:

/kind bug

**What happened**:

Mounting non-existent `data` objects from a `Secrets` object into a container produces a directory at the mount point with 777 permissions.

**What you expected to happen**:

The Pod to fail to start due to missing mounts from the secrets object.

**How to reproduce it (as minimally and precisely as possible)**:

The secret `data` object in question

[2018-06-25 22:40] figo commented on #63629
/cc

[2018-06-25 23:11] liggitt commented on #64450
I'm only able to reproduce the error message by running a kubectl built from master against a 1.7-level API server:

[code]

How does the kubeadm job set up its test environment? Can it have pre-1.8 discovery docs cached in its $HOME/.kube dir with recent timestamps (within the last 10 minutes)? If so, it could encounter this error.

[2018-06-25 23:15] #57236 closed

[2018-06-25 23:50] wgliang commented on #65409
@ixdy
Thanks for your reply, I have solved it.
I will close this issue.

[2018-06-25 23:50] #65409 closed

[2018-06-25 23:51] mfilotto commented on #49817
Awesome @kksriram, looking forward to see this coming.

[2018-06-26 00:02] BenTheElder commented on #64450
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-1-11/89

currently we have this semi-secret artifact with the h̶o̶r̶r̶i̶b̶l̶e̶ fun test-infra bootstrap.py you can use to see *exactly* how it ran. the pod-utils don't have this yet:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-1-11/89/artifacts/prow_podspec.yaml

[2018-06-26 00:20] Proteles opened #65455 "kubelet cannot read config file with Kind: KubeletConfiguration not valid for api version v1beta1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
While following instructions for config file located here - https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/

received error
Error loading config file "/etc/kubernetes/kubelet.conf": no kind "KubeletConfiguration" is registered for version "kubelet.config.k8s.io/v1beta1"

kubelet service file

[cod

[2018-06-26 00:38] msau42 commented on #65131
I am working on a fix [here](https://github.com/msau42/kubernetes/tree/fix-assume) that you can try out if you like.  It's super WIP, unit tests need to be fixed, and stress tests are failing.  But basic functionality should be working.  A big design issue that I still need to figure out is how to deal with the pod assume cache TTL.

[2018-06-26 00:46] rakyll commented on #52162
This is still a relevant issue. We currently don't have a cloud-provider-agnostic way to access to the container identity. It is an issue for instrumentation libraries that wants to associate the collection with the container identity and is somewhat a high priority issue.

[2018-06-26 00:49] jiuchongxiao commented on #65401
yeah,thank you @coffeepac

[2018-06-26 00:49] #65401 closed

[2018-06-26 00:55] jaygorrell opened #65457 "CronJob can run immediately on schedule changes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Updating a `CronJob` schedule to a date/time _after_ the last successful run will cause the job to trigger immediately.

**What you expected to happen**:
The `CronJob` would not trigger until the schedule is satisfied; behaving similar to the creation of a new CronJob.

I understand that `startingDeadlineSeconds` means k8s

[2018-06-26 00:59] jaygorrell commented on #65457
@kubernetes/sig-apps-bugs

[2018-06-26 01:08] stewart-yu opened #65458 "Move `CloudControllerManagerConfiguration` to `cmd/cloud-controller-manager/apis`"
**Is this a BUG REPORT or FEATURE REQUEST?**:
After some api architecture changed, we split original  `CloudControllerManagerConfiguration` used by both `cloud-controller` and `kube-controller manage` into `CloudControllerManagerConfiguration` and `KubeControllerManagerConfiguration`.
But the `CloudControllerManagerConfiguration` that is now located in `pkg/apis/componentconfig `should be moved ou

[2018-06-26 01:17] stewart-yu commented on #65458
If well, i think we should move `three part` in parallel:

- move `KubeControllerManagerConfiguration` into `cmd/kube-controller-maange` package;
- move 'some Configuration' shared by `KubeControllerManagerConfiguration` and `CloudControllerManagerConfiguration` into `cmd/controller-manage` package;
- move `CloudControllerManagerConfiguration` into `cmd/cloud-controller-manage` package.

[2018-06-26 01:19] #58339 closed

[2018-06-26 01:27] honkiko opened #65459 "ipvs: match for NodePort is inadequate - missing addrtype=local match"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/assign @honkiko
I'll make the pull request tomorrow.

**What happened**:
start kube-proxy in ipvs mode,  create some NodePort services. Then look at the iptables rules.
[code]

match-set of KUBE-NODE-PORT-TCP is inadequate to be qualified as NodePort traffic.  "--dst-type LOCAL" is needed.

**What you expected to happen**:

[code]

since we

[2018-06-26 01:29] honkiko commented on #65459
/sig network
/area kube-proxy
/area ipvs
/assign @honkiko

[2018-06-26 01:29] islinwb commented on #65459
/sig network
/area ipvs

[2018-06-26 01:29] foxish commented on #39090
/remove-lifecycle rotten

[2018-06-26 01:30] foxish commented on #39090
/reopen

[2018-06-26 01:30] stewart-yu commented on #65459
Does the `kubernetes version` wrong?
/area ipvs
/sig networking

[2018-06-26 01:30] foxish commented on #56335
/remove-lifecycle stale

[2018-06-26 01:34] foxish commented on #56335
Specifying the HPA windows for up-scale and down-scale on a per-HPA basis makes a lot of sense. We have several HPAs and some of them need aggressive scale-up and some of them do not (and should not). @DirectXMan12, is this specific use of instance-specific cooldown also being discussed as part of the effort you linked?

[2018-06-26 01:36] stewart-yu commented on #65459
/cc @Lion-Wei  i remember this bug fixed, that's right?

[2018-06-26 02:08] Lion-Wei commented on #65459
@honkiko , Thanks, seems like necessary. But you have any use case that ipvs proxier will have bugs in current mach rules?

[2018-06-26 02:48] DylanBLE commented on #65300
@k82cn Thanks for your information, it's very helpful.

[2018-06-26 02:48] DylanBLE commented on #65300
FYI: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/#taint-nodes-by-condition

[2018-06-26 02:54] DevOps-Alvin commented on #65355
I have no problems using v2.10 in a test environment

[2018-06-26 03:00] hzxuzhonghu commented on #65421
@liggitt I can help fix it.

[2018-06-26 03:09] liggitt commented on #65421
Sounds good, thanks

/unassign
/assign hzxuzhonghu

[2018-06-26 03:18] #58898 closed

[2018-06-26 03:40] AishSundar commented on #63622
@fedebongio @cheftako this looks like 1.7 API Server image is causing more flakes other than just this test - https://github.com/kubernetes/kubernetes/issues/64450#issuecomment-400124285

The test has become lot less flaky after increasing the timeout.

Since the official policy for GKE is 2 previous versions, and 1.11 is almost baked, this is the plan discussed with @fedebongio @cheftako offline:

[2018-06-26 03:46] honkiko opened #65461 "ipvs broken because ipset on centos does not support comment extension"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig network
/area kube-proxy
/area ipvs
/assign @honkiko
I'll send a fixing pull request tomorrow.

**What happened**:
On centos 7.2 with ipset 6.29,  kube-proxy in ipvs mode failed to create ipset sets.
[code]

After some dig, it turns out to be problem of ipset on centos/rh. See https://bugzilla.redhat.com/show_bug.cgi?id=1496859

I tried

[2018-06-26 03:53] sjenning commented on #60053
/remove-lifecycle rotten
/sig node

[2018-06-26 04:32] liggitt commented on #63622
I think you misunderstood my comment... that only related to kubectl being used against a 1.7-level *kube-apiserver* serving discovery docs for the v1 API, not a generic 1.7-level extension API server

[2018-06-26 04:33] liggitt commented on #63622
unrelatedly, moving the test to 1.9-level code once 1.11 is released seems reasonable to me

[2018-06-26 04:34] liggitt commented on #64450
added debugging to capture the current state of cached discovery docs for this test in https://github.com/kubernetes/kubernetes/pull/65462

[2018-06-26 05:04] liggitt commented on #65413
1.11 PRs are merged, moving to 1.10 milestone

[2018-06-26 05:05] liggitt commented on #65413
1.10 PR is merged as well: https://github.com/kubernetes/kubernetes/pull/65417

/close

[2018-06-26 05:05] #65413 closed

[2018-06-26 05:11] nikhita commented on #65413
1.9 cherry-pick is still open: https://github.com/kubernetes/kubernetes/pull/65418 (needs cherry-pick approval)

[2018-06-26 05:16] #64791 closed

[2018-06-26 05:20] #58803 closed

[2018-06-26 05:20] #58868 closed

[2018-06-26 05:22] anupam4881 opened #65464 "rpc error: code = 14 desc = grpc: the connection is unavailable"
**Environment**:  Details
- Kubernetes version (use `kubectl version`): [root@TPSERVER168 ~]# kubectl version
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3", GitCommit:"2bba0127d85d5a46ab4b778548be28623b32d0b0", GitTreeState:"clean", BuildDate:"2018-05-21T09:17:39Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:

[2018-06-26 05:48] stewart-yu commented on #65461
could you test it before commit [10664ee](https://github.com/kubernetes/kubernetes/commit/10664ee8c6c76ea22b265d1cdddee71f3941803c), that's ok? @honkiko

[2018-06-26 06:45] fejta-bot opened #65466 "pr:pull-kubernetes-kubemark-e2e-gce-big flaked 27 times in the past week"
### Flaky Job: pr:pull-kubernetes-kubemark-e2e-gce-big
 Flakes in the past week: **27**
 Consistency: **94.10%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Kubemark Overall | 14 |
| Kubemark Test | 11 |
| Up | 10 |

#### Previously closed issues for this job flaking:
#62267

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2018-06-26 07:00] wojtek-t commented on #65441
171 failed ~the same way as 170 - so that seems like a real regression.

@krzysied - can you please take a look?

[2018-06-26 07:34] CaoShuFeng commented on #65438
Looks like this is not a k8s question.
[code]

[2018-06-26 07:34] hzxuzhonghu commented on #65421
"pods/attach" and "pods/exec" actually implement `rest.Connecter` interface.  `Connect` Verb is intended not to show in discovery. https://github.com/kubernetes/kubernetes/commit/0301487de0c8a6a2e4f20fb446d269c44d17aa4d#diff-43c61491ecdb996d7e9eec68fc7f8f36R67

cc @sttts

[2018-06-26 08:15] hzxuzhonghu commented on #65421
Maybe we can get the the verbs calling `reste.Connecter.ConnectMethods`, if the storage implements `rest.Connecter` interface.

[2018-06-26 08:22] krzysied commented on #65441
@wojtek-t OK. I will look into it.

[2018-06-26 08:32] kivoli opened #65470 "Invalid regex in OpenAPI validation crashes API server"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Created custom resource definition with invalid regex validation and custom resource. During creation of custom resource the API server crashes (and is successfully restarted, luckily) due to the invalid regex.

[code]
API pod log:
[code]

**What you expected to happen**:

Server reporting meaning full error, ideally dur

[2018-06-26 08:56] WanLinghao commented on #64734
Currently, the union authorizer process authorizer chain like this:
When it hits a DecisionNoOpion, it just continues to next authorizer
When it hits a DecisionDeny, it forbid this request directly without querying next authorizer.
When it hits a DecisionAllow, it allow this request directly without querying next authorizer.
Base on this behaviours, I think it implies a priority: The front authori

[2018-06-26 09:06] mattcopas commented on #64967
Any updates/thoughts on this?

[2018-06-26 09:28] alvaroaleman opened #65471 "Make `KUBE_MAX_PD_VOLS` configurable for all environments"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

The scheduler offers the option to configure max volumes per Kubelet/node. This may be required for arbitrary reasons. Currently, that code gets only called when one runs on AWS, GCE or Azure:

https://github.com/kubernetes/kubernetes/blob/1f4f0123edc973d06ceb15d517eb4c555b944427/pkg/scheduler/algorithmprovider/defau

[2018-06-26 09:52] #65403 closed

[2018-06-26 09:52] #58145 closed

[2018-06-26 09:54] shenshouer commented on #55765
version of v1.10.5:

[code]

[2018-06-26 09:57] lbernail commented on #65358
Sorry if it was unclear: if someone has a kubernetes installation running with kubenet and kube-proxy in iptables mode and simply decide to change to ipvs it will break.

In our case for instance we run kube-proxy has a daemonset and just modified the `proxy-mode` flag to test ipvs

[2018-06-26 10:08] zq-david-wang commented on #64924
@davidkarlsen got a response from alpine (https://bugs.alpinelinux.org/issues/9017),  the conclusion is that the issue is in dns server.  refer to http://www.openwall.com/lists/musl/2018/03/30/6

Start to think that this could be kubedns issue.

[2018-06-26 10:09] uxon123 commented on #48719
If this is how it works currently, is there a way to workaround this? Can I configure TCP timeout to a smaller value (5-10s instead of 2 minutes), so that my TCP clients wouldn't be waiting so long, when there are already pods which can serve them?

[2018-06-26 10:28] mattcopas commented on #64967
Turns out I was missing a couple of images. Images needed:

k8s.gcr.io/kube-apiserver-amd64:v1.10.3
k8s.gcr.io/kube-controller-manager-amd64:v1.10.3
k8s.gcr.io/kube-scheduler-amd64:v1.10.3
k8s.gcr.io/etcd-amd64:3.1.12
quay.io/coreos/flannel:v0.10.0-amd64
k8s.gcr.io/pause-amd64:3.1
k8s.gcr.io/kube-proxy-amd64:v1.10.3
k8s.gcr.io/k8s-dns-dnsmasq-nanny-amd64:1.14.8

Closing as this is now resolved!

[2018-06-26 10:29] #64967 closed

[2018-06-26 10:36] nikhita commented on #65470
/sig api-machinery
/area custom-resources
/assign

/cc @sttts @liggitt

[2018-06-26 10:38] nikhita commented on #65470
It's due to the go-openapi library.

[code]

Go regex's `MustCompile` panics:

[code]

[2018-06-26 10:39] nikhita commented on #65470
I agree we should check the regex during CRD validation (not CR) and fail validation then.

I'll try to get to this today.

[2018-06-26 10:41] nikhita commented on #65470
/cc @mbohlool

[2018-06-26 10:43] wojtek-t commented on #65441
I took a look into it in the context of watching secret-manager to see if that may be the reason.
But I think it's NOT the reason here. After kubelet is restarting, we're seeing some errors like this:
[code]

But this is definitely cause to the qps limits in kubelet - after restart kubelet has to restart all watches and it is hitting 5qps limit (it needs to retrieve O(30) secrets). And it seems to

[2018-06-26 10:45] davidkarlsen commented on #64924
Could be a cloudflare issue - they respond with NOERROR, while most other servers respond with NXDOMAIN - I have asked their support, but they don't see it as a violation of spec.
Nevertheless - I see it as being quite common - and resolver software should account for this.

[code]

[code]

[2018-06-26 11:47] Proteles commented on #65455
/sig api-machinery

[2018-06-26 11:59] daixiang0 opened #65473 "how to remove "node-role.kubernetes.io/master=<no value>:NoSchedule" taint"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I want to schedule onto master node, so i try to remove taint in master node.

I list taint first:
[code]
Then i call restapi:
[code]

**What you expected to happen**:
What does the `<no value>` mean?

I google  a workaround which can remove all taint:
[code]

How can i remove only this taint?

**How to reproduce it (as m

[2018-06-26 12:28] gjcarneiro opened #65475 ""kubectl cp" with no arguments causes a panic"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

**What you expected to happen**:

I think `kubectl cp` should just show the help or something?

**How to reproduce it (as minimally and precisely as possible)**:

`kubectl cp`

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): `Client Version: version.Info{Major:"

[2018-06-26 12:38] gjcarneiro commented on #65475
/sig cli

[2018-06-26 12:47] daixiang0 commented on #65475
It has fixed in higher version:
[code]

[2018-06-26 13:04] gjcarneiro commented on #65475
You have 1.9.7, I was testing `v1.11.0-rc.1`.  There's a regression, it seems.

Anyway, it's just a minor annoyance, it just looks ugly, that's all.

[2018-06-26 13:17] Lancer411 opened #65478 "]"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-06-26 13:40] mweichert commented on #65093
Any other info I can provide?

[2018-06-26 14:17] hska06 opened #65481 "docs/README: make/build fails with when running make on a system with 4GB of RAM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

This needs updating with the memory requirements
https://github.com/kubernetes/kubernetes#to-start-developing-kubernetes

**What happened**:
make/build on kubernetes repo failed  with fatal error: runtime: out of memory

**What you expected to happen**:
make to pass
**How to reproduce it (as minimally and precisely as possible)**:
$ go get -d k8s.io/k

[2018-06-26 14:24] wgliang commented on #65475
This is indeed a bug.
/assign

[2018-06-26 14:28] rfranzke opened #65483 "Scheduler does not respect clientConnection of KubeSchedulerConfiguration in 1.11"
/kind bug
/sig scheduling

**What happened**:
kube-scheduler `v1.11.0-rc.2` that is pointed to a `KubeSchedulerConfiguration` componentconfig file having
[code]
ignores that it should use this kubeconfig file. Instead, it uses the in-cluster config (as `--kubeconfig` is neither provided).

**What you expected to happen**:
The kube-scheduler should respect the kubeconfig provided in the `KubeSchedu

[2018-06-26 14:32] dkoshkin commented on #65473
You don't want to remove the taint and probably shouldn't really schedule anything on the master either. Read the taints and tolerations [docs](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/).

If you really do want to schedule something on the master the deployment would looks something like:
[code]

[2018-06-26 14:41] cblecker commented on #65403
@eisig Please try again with a fresh master. Fix was merged in last night.

[2018-06-26 14:53] harsha-s commented on #65481
@kubernetes/sig-vmware-bugs
--

[2018-06-26 14:56] harsha-s commented on #65481
@kubernetes/sig-testing-bugs

[2018-06-26 15:01] gnufied commented on #65478
please open ticket with correct details.

/close

[2018-06-26 15:01] #65478 closed

[2018-06-26 15:04] gnufied commented on #65471
We recently added support for dynamic volume count in https://github.com/kubernetes/website/pull/8871 for 1.11

This change will make volume count a property of node object.  In 1.12 we are going to add support for CSI and hence the attach limit feature will be available to more providers.

[2018-06-26 15:04] gnufied commented on #65471
/sig storage

[2018-06-26 15:06] gnufied commented on #65471
/assign

[2018-06-26 15:08] christhomas commented on #10163
Musl's DNS is still broken

[2018-06-26 15:39] bgrant0607 commented on #65340
Could you please sketch out the scenario in more detail?

Labels on namespaced resources are conceptually and practically scoped within those namespaces.

Past discussions of possibly related topics:
https://github.com/kubernetes/kubernetes/issues/15390
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/metadata-policy.md

cc @rcolline @louiscryan

[2018-06-26 15:53] juanvallejo opened #65490 "Objects should have preferred output versions when printing"
There should be a way to specify a preferred output version for a given object when passing it to printers.

cc @soltysh @deads2k

[2018-06-26 15:53] juanvallejo commented on #65490
/sig cli

[2018-06-26 16:11] mcronce commented on #45419
I'm seeing this issue with CRI-O on one of my nodes.  Kubernetes 1.10.1, CRI-O 1.10.1, Fedora 27, kernel 4.16.7-200.fc27, using Flannel.

`runc list` and `crictl pods` are both fast, but `crictl ps` takes minutes to run.

[2018-06-26 16:16] AishSundar commented on #65427
So @mgdevstack as per your observation here there's already a conformance test for deleteOptions? Ref: https://github.com/kubernetes/kubernetes/blob/master/test/conformance/testdata/conformance.txt#L3

@caesarxuchao and @fedebongio let us know if the test referenced above tests the functionality fully or you need it updated.

[2018-06-26 16:17] deads2k commented on #65490
Are you sure?  Can you provide an example because `kubectl convert` when I want to do that?

[2018-06-26 17:06] benlangfeld commented on #47202
@iterion What did you end up doing about this? We're considering various options for our use case, including

* running from a fork of kubernetes with your fix
* Copying the cron controller code into an external controller, and using a different apiVersion to distinguish the two.
* Building something specific to our project in Ruby which mirrors the kube cronjob controller implementation but based

[2018-06-26 17:12] liggitt commented on #64734
How would you express "deny all users except `user1`"?

[2018-06-26 17:17] joshphp commented on #52657
I am also having issues with `kube-controller-manager` using lots of memory (3.8GBish).

Kubernetes version: 1.9.7
Cloud provider: AWS
OS: Debian9

[2018-06-26 17:32] mgdevstack commented on #65427
Yes @AishSundar, mentioned conformance test is verifying GC behavior with Orphan propagation.

[2018-06-26 17:33] #58894 closed

[2018-06-26 17:40] fedebongio commented on #63622
Thank you Jordan, that's the current plan! We will actually create a parallel 1.9-level test, to see if between 1.7 and 1.9 the internals of API Server fixed what's generating the flakiness and see next steps from there.

[2018-06-26 17:46] mrak commented on #65452
/sig node-interruptions

[2018-06-26 17:49] mrak commented on #65452
@kubernetes/sig-node-bugs

[2018-06-26 18:02] smarterclayton opened #65493 "Pods that have a deadline exceeded lose container status"
Was running a pod with an activeDeadlineSeconds on a 1.10 cluster.  The pod reached the deadline, but the pod status did *not* contain the latest state of the pod containers (pod containersStatus was empty).  The status only had the following fields:

[code]

The statuses were there immediately prior to the deadline being reached.

This broke API clients that were looking at container status.

[2018-06-26 18:03] smarterclayton commented on #65493
@kubernetes/sig-node-bugs

[2018-06-26 18:16] sjenning commented on #65493
Looks like the status is just overwritten here if

[2018-06-26 18:16] akhilyendluri commented on #56902
Hi,

I am facing a similar issue.

I created a cluster in aws eks using terraform script given in https://www.terraform.io/docs/providers/aws/guides/eks-getting-started.html#guide-overview

After this I was deploying the guestbook application as given in  https://docs.aws.amazon.com/eks/latest/userguide/getting-started.html

Once my pods got created I noticed that they where not ready. I saw this

[2018-06-26 18:23] ixdy commented on #65481
This is probably a bug in go, not handling compilation and linking gracefully in memory-constrained situations. If you have a machine with more than 4G of memory, you may want to try using that instead.

[2018-06-26 18:34] cblecker commented on #57667
Opened https://github.com/kubernetes/community/issues/2315 and https://github.com/kubernetes/community/issues/2316 to deprecate and remove the `@kubernetes/kubernetes-pm` and `@kubernetes/kubernetes-build-cops` teams.

Mailing list: https://groups.google.com/forum/#!topic/kubernetes-dev/yp1HEJKM3e0

[2018-06-26 18:43] iterion commented on #47202
I've actually switched to a new job, so the original problem doesn't exist for me, personally, anymore. As far as I know, my former colleagues are just dealing with the pain that results from it.

That said, if I had the time to devote to this I would likely just write a small controller that would watch and modify CronJobs as needed. I'd likely just add an annotation to CronJobs with the desired

[2018-06-26 18:44] ensonic commented on #56402
/remove-lifecycle stale

[2018-06-26 18:46] consideRatio commented on #61132
I noticed this as well running the `gcloud` CLI like below...

[code]

When I used the beta version of the `gcloud` CLI on the other hand by adding `beta` to `gcloud beta container ...` I got an Error

[code]

In other words, we must not use the `/` dash, if we don't, it works. I'm sad though, it will break the common pattern of how to label...

[2018-06-26 18:46] rezroo commented on #65421
The original reason I stumbled upon this was because I couldn't figure out what verb to use when creating a SelfSubjectAccessReview for pod/exec. So I checked the api. I don't think having reste.Connecter.ConnectMethods there would help me guess "create"

[2018-06-26 18:48] juanvallejo opened #65494 "Determine if resource.NewHelper calls are superseded by dynamic client"
Determine if all instances of `resource.NewHelper` can be replaced with calls that use the DynamicClient instead.

Since resource.NewHelper is mostly (entirely?) used for patching, determine if all calls to it can be replaced with `dynamicClient.Resource(resource).Namespace(namespace).Patch(asUnstructured)
`

cc @soltysh

[2018-06-26 18:48] juanvallejo commented on #65494
/sig cli
/milestone 1.12

[2018-06-26 18:55] #64853 closed

[2018-06-26 19:06] juanvallejo commented on #65494
/sig cli

[2018-06-26 19:07] jiashenC commented on #49926
I am facing the same issue for instance type `m4.xlarge`. Anyone has the problem for `m4.xlarge` machine?

[2018-06-26 19:20] liggitt commented on #65414
There aren't great options for fixing the inconsistencies since they've been released. The targeted change in https://github.com/kubernetes/kubernetes/pull/65424 lets you document/use "normal" case keys in the scheduler config JSON, only because it makes that one struct continue to be case-insensitive.

I'd recommend copying the struct into the scheduler types as-is to insulate you from changes to

[2018-06-26 20:08] juanvallejo commented on #63941
I am seeing this appear again in a few PRs:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/65482/pull-kubernetes-e2e-gce/42061/

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/65488/pull-kubernetes-e2e-gce/42069/

[2018-06-26 20:17] vojbarzz opened #65496 "PreStop is not preventing pod to be killed"
/kind bug

**What happened**:
I have defined a preStop handler that waits for 5 minutes and even that the pod is killed after default 30 seconds of grace period.

**What you expected to happen**:
Take 5 minutes to terminate the pod (preStop should be blocking)

**How to reproduce it (as minimally and precisely as possible)**:
`handler definition:`
[code]
`shutdown.sh:`
[code]

**Anything else we n

[2018-06-26 20:18] murrayju commented on #53886
@bschwartz757 @Kenblair1226 did either of you ever find a solution? I have similar application needs (nodejs app with socket.io), and am trying to evaluate whether GKE is a viable option.

I either need for the load balancer to properly maintain affinity for the lifetime of a client's "session" (including WebSockets), *or* I need to be able to give every pod in the cluster its own external IP addr

[2018-06-26 20:29] #59885 closed

[2018-06-26 20:35] jpbetz opened #65497 "etcd lease auto-renewal can extend event TTL indefinitely"
Per the [etcd ops guide](https://coreos.com/etcd/docs/latest/op-guide/failures.html#majority-failure): "Once a majority of members works, the etcd cluster elects a new leader automatically and returns to a healthy state. The new leader extends timeouts automatically for all leases. This mechanism ensures no lease expires due to server side unavailability."

For events, if leader elections occur mo

[2018-06-26 20:40] no-stupid-questions opened #65498 "Pod will not start because of Unexpected end of JSON input"
/kind bug
/sig azure

**What happened**:
I can successfully create and remove pods 30 times (not concurrent), but when trying to deploy a kubernetes pod around that threshold, I receive this error:

Failed create pod sandbox: rpc error: code = Unknown desc = NetworkPlugin cni failed to set up pod "windows-jnlp-rzbbp_jx" network: netplugin failed but error parsing its diagnostic message "": unexpec

[2018-06-26 20:41] xiang90 commented on #65497
It should happen less than once per week in a stable environment. Should not happen multiple times a day at least.

We do not persist the remaining lease duration for performance consideration. We actually can persist the lease remaining duration lazily for long term leases. For example, we can persist an one hour lease remaining duration every 10 minutes. The overhead should be minimal.

We proba

[2018-06-26 20:43] gyuho commented on #65497
c.f. https://github.com/coreos/etcd/pull/9526.

[2018-06-26 20:45] bschwartz757 commented on #53886
@murrayju , I ended up finding that changing the `backend timeout` parameter solved my issue (check the content at the bottom of this example: https://github.com/kubernetes/ingress-gce/tree/b0603c69382a39d097063eab8e3d9e30ca1cdf7b/examples/websocket`.) Unfortunately this doesn't seem to be well-documented, but I was able to change it in the GKE dashboard.

Your proposed solution sounds like it cou

[2018-06-26 21:03] jpbetz commented on #65497
Created https://github.com/coreos/etcd/issues/9888 to track this on the etcd repo.

[2018-06-26 21:04] jiashenC opened #65500 "Unable to mount volumes for pod: timeout expired waiting for volumes to attach or mount"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I successfully create **PersistentVolume** and **PersistentVolumeClaim** on **AWS**, but the pod is not able to mount to those volumes. The error message thrown by the **k8s** is

This is my config file.
[code]

**What you expected to happen**:
All pods and the deployment start successfully.

**How to reproduce it (as min

[2018-06-26 21:09] jiashenC commented on #65500
/sig AWS

[2018-06-26 21:13] mariusgrigoriu commented on #44165
This issue poses challenges to those who run `kubectl apply` in their deployment pipelines.

[2018-06-26 21:47] vojbarzz commented on #65496
@kubernetes/sig-cluster-lifecycle

[2018-06-26 22:02] thockin commented on #10163
Details?

On Tue, Jun 26, 2018 at 8:09 AM Christopher Thomas <notifications@github.com>
wrote:

[2018-06-26 22:33] nmittler opened #65502 "Support startup dependencies between containers on the same Pod"
/kind feature
/sig node

This is a proposed kubernetes feature to address an issue we're seeing on Istio. I'm definitely open for alternative approaches, but I feel that this may be a generally useful feature for Kubernetes.

Background:

Istio pods have a sidecar container (called "istio-proxy") which runs an Envoy proxy. All traffic in and out of the pod is redirected (via iptables) through Envo

[2018-06-26 22:35] nmittler commented on #65502
@louiscryan @PiotrSikora @costinm @rshriram

[2018-06-26 22:47] mikedanese commented on #13110
This is cleaned up.

[2018-06-26 22:47] #13110 closed

[2018-06-26 22:51] smarterclayton commented on #65502
@kubernetes/sig-apps-feature-requests

[2018-06-26 22:52] liggitt commented on #65483
/milestone v1.11

@kubernetes/sig-scheduling-bugs for triage

[2018-06-26 23:05] bsalamat commented on #65483
@sttts Could you please take a look at this? It seems related to the changes you made recently.

[2018-06-26 23:09] yliaog commented on #65393
lgtm'ed on the pr #65397

[2018-06-26 23:15] yliaog commented on #65109
it is mostly security reason, i think.

[2018-06-27 00:23] lavalamp commented on #65012
See my comment here: https://github.com/kubernetes/kubernetes/pull/65087#issuecomment-400489943

Is there a reason why we can't start using the http2 request reliability mechanisms? (https://http2.github.io/http2-spec/#Reliability)

[2018-06-27 00:33] #65322 closed

[2018-06-27 00:42] liggitt commented on #65483
/assign

[2018-06-27 00:42] liggitt commented on #65483
/assign @bsalamat
/priority critical-urgent

bumping priority since this would be a 1.11 regression

[2018-06-27 00:58] WanLinghao commented on #64734
I think it equals:  we treat some users as special case and treat other users as default case.
So maybe we can do like this, the list contains  allowList, denyList, noOpinionList and a default behavior.
For your example,  the result would be:
allowList: []
denyList: [user1]
noOpinionList: []
default: noOpinion

[2018-06-27 01:03] MrHohn commented on #65118
Seems like setting `healthzBindAddress: ""` should have the same effect as putting 0 for `--healthz-port`:
https://github.com/kubernetes/kubernetes/blob/6ad56325cab2b38d64b234163705f8c7132b8e3d/cmd/kube-proxy/app/server.go#L279-L282

@wsong Are there any other relevant error messages logged by kube-proxy?

[2018-06-27 01:04] MrHohn commented on #65118
Wonder would this be related to https://github.com/kubernetes/kubernetes/issues/62479.

[2018-06-27 01:31] daixiang0 commented on #65473
I just want master node as whole cluster entry, and start nginx pod in master node.
Thanks for your help.
By the way, what does the `<no value>` mean?
If someone set a net taint without value and display like it, how can i remove it?

[2018-06-27 01:46] daixiang0 commented on #65473
I find below cmd can work:
[code]

[2018-06-27 01:46] hzxuzhonghu commented on #65421
[code]

@rezroo I think this actually resolves your issue.

[2018-06-27 01:56] Kenblair1226 commented on #53886
I followed nicksardo's instruction to set session affinity to backend service, and add externalTrafficPolicy=Local to my services. And it works. Although you'll be constrained to a max of one pod (with websocket) per node.

[2018-06-27 02:09] dkoshkin commented on #65473
Yes the command you shared will remove the taint since you have `-` at the end.
Like I mentioned earlier, it is highly advisable not to run any workloads on the master nodes, its fine for testing and playing around with Kubernetes but a bad idea in any real cluster.

The `<no-value>` just means that no value was set for the key, when specifying tolerations you can also leave off the `value` and it

[2018-06-27 02:13] CaoShuFeng commented on #65496
You should delete pod with --grace-period larger than 5 minutes. preStop hook should complete before the grace period expires.
FYI:
https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods

The doc said:
[code]

[2018-06-27 02:16] andyzhangx opened #65515 "azure disk creation issue when specifying an external resource group"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
there will be azure disk creation issue when specifying an external resource group, after azure disk creation succeeded, it fails to get azure disk state

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes

[2018-06-27 02:19] daixiang0 commented on #65473
If my real cluster entry ip is 192.168.50.100, and i want deployment bind 80 port as a web service so that  visit 192.168.50.100 can get web service, without schedule onto master node, is there any idea?

[2018-06-27 02:29] dkoshkin commented on #65473
Yes take a look at an [ingress controller](https://github.com/kubernetes/ingress-nginx/blob/master/README.md), you can add the tolerations on that deployment and a nodeSelector to always schedule onto the master and then bind to ports 443 and 80, or have some load balancer in front of the node(s) where the ingress controller is running.

[2018-06-27 02:29] liggitt commented on #65452
/sig storage

[2018-06-27 02:30] liggitt commented on #65455
/sig node
/assign @mtaufen

[2018-06-27 02:31] daixiang0 commented on #65473
Thanks very much.

[2018-06-27 02:31] #65473 closed

[2018-06-27 02:40] feiskyer commented on #65515
/sig azure

[2018-06-27 02:41] feiskyer commented on #65515
/kind bug

[2018-06-27 03:04] yue9944882 opened #65517 "Getting new CRD with short name/category will occur error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When I created a crd e.g.:

[code]
Then I used `kubectl get testcat`. I found that the first time the result will be with an error:

And as for the second time it will be normal:

And it can be stably reproduced every time I created a new CRD.

**What you expected to happen**:

kubectl returns `No resources found. ` the

[2018-06-27 03:05] yue9944882 commented on #65517
/area custom-resources

[2018-06-27 03:45] CaoShuFeng commented on #65517
Confirmed that `error: the server doesn't have a resource type` could show up even the crd has status `Established`

/assign

[2018-06-27 04:15] gaopenghigh commented on #61867
/remove-lifecycle stale

[2018-06-27 05:05] nikhita commented on #65517
/sig api-machinery

@CaoShuFeng Haven't looked into the problem yet but could be related: https://github.com/kubernetes/kubernetes/issues/57042

[2018-06-27 05:49] nikhita commented on #54960
/lifecycle frozen

[2018-06-27 06:06] #65483 closed

[2018-06-27 06:13] grayluck opened #65521 "Should allow alias range size equals to max number of pods * 2"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Currently in gce/config-common.sh, function get-alias-range-size returns a range which is strictly bigger than log2(max pods * 2). Where equal should be also acceptable. Say if max pods constraint = 8, it should return /28, instead of /27.

**What you expected to happen**:
Return a range which is larger OR EQUAL to the ma

[2018-06-27 06:13] grayluck commented on #65521
/sig network

[2018-06-27 06:14] grayluck commented on #65521
/cc @satyasm

[2018-06-27 06:43] wackxu commented on #55517
/remove-lifecycle stale

[2018-06-27 06:47] wackxu commented on #55517
according to https://github.com/kubernetes/kubernetes/issues/20262,

I think  we can remove the logic for kubelet doing the attach/detach.

[2018-06-27 07:31] #63575 closed

[2018-06-27 07:41] Lion-Wei commented on #65502
I love this idea, seems like a big feature. : )

[2018-06-27 07:46] #58594 closed

[2018-06-27 07:46] #58733 closed

[2018-06-27 07:46] #58430 closed

[2018-06-27 07:46] #58856 closed

[2018-06-27 08:14] jsafrane commented on #55517
It's lengthy process to deprecate something. https://kubernetes.io/docs/reference/using-api/deprecation-policy/

With the old policy (when we introduced the annotation), it would fall into

But with the new one, it seems impossible to remove the annotation:

Could we get an exception in this case?

[2018-06-27 08:19] tadas-subonis commented on #48866
I had a bunch of Pod like that so I had to come up with a command that would clean up all the terminating pods:
[code]

[2018-06-27 08:20] tadas-subonis commented on #51835
I had a bunch of Pod like that so I had to come up with a command that would clean up all the terminating pods:
[code]

[2018-06-27 08:20] CaoShuFeng commented on #65517
Looks like this happens because cache file in .kube/http-cache/ or .kube/cache/ is not synced with kube-apiserver.

delete all files under .kube/http-cache/ and .kube/cache/ will cause a sync and the error will not show up.

This looks like a cli issue.

[2018-06-27 08:28] alvaroaleman commented on #65471
Hey @gnufied thanks for your response.

As I understand it in your kubernetes/website#887 pull, that is about adding dynamic limits based on node type but just for AWS EBS or GCP Persistent disks.

The issue here is not about being able to add a limit per node (which would be a new feature) but being able to set `KUBE_MAX_PD_VOLS` on the scheduler for _all_ nodes when _not_ running on AWS/GCP/Azur

[2018-06-27 08:29] nikhita commented on #65517
fyi @sttts

[2018-06-27 08:47] #56738 closed

[2018-06-27 08:47] #57298 closed

[2018-06-27 08:47] #57585 closed

[2018-06-27 08:47] #57818 closed

[2018-06-27 08:47] #58265 closed

[2018-06-27 08:47] #58253 closed

[2018-06-27 08:47] #58267 closed

[2018-06-27 08:47] #58125 closed

[2018-06-27 08:47] #58252 closed

[2018-06-27 08:54] pruthvipn commented on #23349
-- Maximum pods per single node on Kubernetes 1.10.x --
Adding my questions to this existing thread as they are on same lines..

Looks like there were scaling issues with Kubernetes and Docker software. I believe some of these issues would have been addressed by now.  For ex, the “context deadline exceeded” errors from docker, is resolved in recent releases (https://github.com/moby/moby/issues/293

[2018-06-27 09:04] nikhita commented on #60340
looks relevant still
/remove-lifecycle rotten

[2018-06-27 09:14] harsha-s commented on #65481
Increasing the memory to 8GB fixed the issue.
Thanks for the all the help.

[2018-06-27 09:15] #65515 closed

[2018-06-27 09:15] #65445 closed

[2018-06-27 09:20] JetMuffin commented on #58217
I got a similar error on **kubernetes 1.10.2** and **kubelete 1.10.2**, here are some logs:

[code]

[2018-06-27 09:33] Lion-Wei commented on #64806
https://github.com/kubernetes/kubernetes/issues/57841

[2018-06-27 09:36] cofyc commented on #56163
/assign

[2018-06-27 10:17] soltysh commented on #47202
To make it clear, this decision was done collectively during one of sig-architecture meetings. Matt was only the person expressing that decision in this issue.

[2018-06-27 10:39] jeusdi opened #65525 "Empty namespace"
I need to get access to current namespace. I've look up `KUBERNETES_NAMESPACE` and `OPENSHIFT_NAMESPACE` but they are unset.

    $ oc rsh wsec-15-t6xj4
     $ env | grep KUBERNETES
    KUBERNETES_SERVICE_PORT=443
    KUBERNETES_PORT=tcp://172.30.0.1:443
    KUBERNETES_PORT_53_TCP_ADDR=172.30.0.1
    KUBERNETES_PORT_53_UDP_ADDR=172.30.0.1
    KUBERNETES_PORT_53_TCP_PORT=53
    KUBERNETES_PORT_53_T

[2018-06-27 10:43] nikhita commented on #65525
@jeusdi this looks like an issue for openshift?

[2018-06-27 10:46] nikhita commented on #65494
/kind cleanup
/priority important-soon

[2018-06-27 10:53] #65352 closed

[2018-06-27 10:57] nikhita commented on #65464
@anupam4881 Can you elaborate on what you did which made you get this error? Is there a way to reproduce this?

[2018-06-27 10:58] zakiournani opened #65526 "Failed create pod sandbox: rpc error: code = Unknown desc = NetworkPlugin cni failed to set up pod "podtest_default" network: open /run/flannel/subnet.env: no such file or directory"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
pod can"t start
**What you expected to happen**:
pod started
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version:

Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.5", GitCommit:"32ac1c9073b132b8ba18aa830f46b77dcceb0723", G

[2018-06-27 11:01] nikhita commented on #65261
@qiyongxiao This looks like a docker related issue. Closing this. Please reopen if you think there is an issue.

/close

---

In general, for support questions, please re-post your question to [Stack Overflow](https://stackoverflow.com/).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, a

[2018-06-27 11:01] #65261 closed

[2018-06-27 11:06] pawelprazak commented on #61563
is #63045 related?

[2018-06-27 11:07] CaoShuFeng commented on #65517
Tried to fix in cli:
https://github.com/kubernetes/kubernetes/pull/65527

[2018-06-27 11:18] nikhita commented on #65183
We don't refresh the years on the boilerplate header though. :)

It's the same year as that of when the file was created.

sig-contribex seems fine.

[2018-06-27 11:18] nikhita commented on #65183
@kubernetes/sig-contributor-experience-feature-requests wdyt about this?

[2018-06-27 11:38] mikksoone commented on #56903
Thanks for all the nice writeups regarding S(D)NAT races.

I (OP) did some testing, and in my case, it's not the race, but something else is throttling DNS. Switching from alpine to ubuntu + options single-request-reopen, made the slow requests even slower. So I decided to see if there are periods when DNS is slow - and indeed, using 8 pods to see when they encounter the slow DNS, this is the char

[2018-06-27 11:47] dcowden commented on #56903
wow @mikksoone that is awesome work!  That's definitely an unquestionably regular pattern!

[2018-06-27 11:52] ant31 commented on #65502
To be sure I understand:
the status of the pod is `1/2`, the first container is healthy and start receiving traffic, while the second one (istio-proxy) is not yet marked as ready/ healthy?

[2018-06-27 12:02] wanghaibo commented on #50345
we do it like this:
`      initContainers:
      - name: init-myservice
        image: openresty:1.13.6.1
        volumeMounts:
        - mountPath: /tmpconfig
          name: tmpconfig
        - mountPath: /configmap/usr/local/openresty/nginx/conf/
          name: nginx-conf
        command: ['sh', '-c', 'mkdir /tmpconfig/test; cp /usr/local/openresty/nginx/conf/* /tmpconfig/test;ln -sf  /configm

[2018-06-27 12:02] maxlaverse commented on #56903
The Y axis is the number of slow lookups ? After how much time is a lookup considered to be slow ?

Just to rule throttling out, you know this because you haven't set any CPU limit or you could see that `/sys/fs/cgroup/cpu/kubepods/.../nr_throttled = 0` (or equivalent) ?

We run tiny Go program as DaemonSet querying CoreDNS (10.96.0.10) (previously kube-dns) and the upstream DNS every few seconds,

[2018-06-27 12:06] anupam4881 commented on #65464
Unfortunately no.

but we observed that it normally happen during deployment or restart during image set process  . When it comes we need to restart docker services to resume services.   There is no any fix step to reproduce.

Regards
Anupam

[2018-06-27 12:07] Proteles commented on #65455
it appears that --kubeconfig flag is not for configuring kubelet? nor is boot
you need to use --config flag instead

which begs the question, what exactly are bootstrap-kubeconfig and kubeconfig flags for? they are not created by kubeadm, and any config file format fails.  Documentation should be more explicit.

[2018-06-27 12:07] #65455 closed

[2018-06-27 12:13] nikhita commented on #65180
maybe nitpicking: would PRs which fix bugs and add features but have tests need to be labelled with `kind/test`?

[2018-06-27 12:21] tuminoid commented on #65475
`kubectl cp` with some arguments crash all the way from 1.9.0 to 1.10.5 (1.8.14 is ok):

Command: `kubectl cp file container:` (no trailing slash):

1.9.0:
[code]

1.10.5:
[code]

[2018-06-27 12:29] tuminoid commented on #65475
Off-topic, but kubectl 1.10.5 release binary also looks funky with `/workspace/anago-v1.10.5-beta.0.53+32ac1c9073b132` in the path, while up to 1.9.3 it's clean `/go/`. From 1.9.4 onwards it has changed to `/workspace/...` ?

[2018-06-27 12:33] maxlaverse commented on #56903
No need to check `nr_thottled` then. If no limit is set it should be 0, or the key is probably not even there

The value "default" is also fine, that's why I wanted to know, by-passing the in-cluster DNS

true

[2018-06-27 12:38] tuminoid opened #65530 "kubectl cp file pod: causes a panic"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`kubectl cp file pod:` panics
[code]

**What you expected to happen**:
Syntax error, as it is not legit cp syntax.

**How to reproduce it (as minimally and precisely as possible)**:
`kubectl cp file pod:`

**Anything else we need to know?**:
Occurs in every version 1.9.x and 1.10.x, but 1.8.x is safe.
#65482 is similar, b

[2018-06-27 12:40] tuminoid commented on #65475
Since this has fix candidate going in already, opened a separate issue for my variant: #65530

[2018-06-27 12:59] wojtek-t commented on #65441
I took a small look into currently running test.

At least a part of problem is related to kube-dns. So what I'm seeing is:
- pretty much all kube-dns`es are now in crash-loop backoff
- the first failure of kube-dns was caused by OOM
Looking into random node into kernel logs, I'm seeing this:
[code]

- after that first failure, kube-dns is not really able to initialize on time:

- I don't see anyt

[2018-06-27 13:01] adampl commented on #60807
The same issue on 1.10.1 :(

[2018-06-27 13:15] zakiournani commented on #65526
/sig network

[2018-06-27 13:31] honkiko commented on #65461
@stewart-yu , yes, I did. It's OK. But I think the we don't need to revert the iptables comments.

[2018-06-27 13:52] #58285 closed

[2018-06-27 14:02] mattnworb opened #65532 "Pod allowed when PodSecurityPolicy is enabled even when no policy authorizes it"
/kind bug

**What happened**:
I created a new GKE cluster with `--enable-pod-security-policy` like so:

[code]

When I create a new Deployment in this cluster, without creating any PodSecurityPolicy resources of my own, the pods fail to create as expected:

[code]

However, if I try to create a Pod on its own, outside of a Deployment/ReplicaSet, then the Pod launches just fine:

[code]

This pod s

[2018-06-27 14:05] mattnworb commented on #65532
/sig auth

[2018-06-27 14:49] mikedanese commented on #61573
We are waiting for someone to fix this.

[2018-06-27 15:06] george-angel commented on #13136
/remove-lifecycle stale

[2018-06-27 15:16] nmittler commented on #65502
@ant31 Yes, that's correct.

[2018-06-27 15:36] comphilip commented on #60315
@xguerin @CharlyF
After several hours investigating, I switch to flannel and everything works well.

I have 3 CentOS 7 EC2 to setup a K8S cluster via kubeadm with Calico network. In master node, everything works well. But in worker node, DNS not working and NodePort not working either. No traffic forward on request NodePort's port.

I check with ping, nslookup, tcpdump with several hours, found no

[2018-06-27 15:39] steven-sheehy commented on #59031
Our company needs this feature as well to combat [DNS](https://github.com/kubernetes/kubernetes/issues/62628) [timeouts](https://github.com/weaveworks/weave/issues/3287) by enabling single-request-reopen option cluster wide. The [pull request](https://github.com/kubernetes/kubernetes/pull/62764) that added this as a default option was closed. dnsConfig is nice but we don't control every pod we dep

[2018-06-27 15:44] steven-sheehy commented on #59031
It would also be nice to configure the search paths as well without switching to host DNS since with CoreDNS autopath we no longer need ndots:5 and all the hardcoded kubernetes search paths usually in resolv.conf.

[2018-06-27 15:59] Glennvd commented on #57659
+1 for this, at the moment it's not possible to add pre-emptible pools to your GKE cluster if you want to run any other service reliably on it. Since you can give your essential pods a nodeAffinity but not the kube-system pods it relies on (like kube-dns).

[2018-06-27 16:12] ashb commented on #34583
I just ran into this today - PVC created in eu-west-1c, but the only node with memory to to run the pod was in eu-west-1b.

[code]

This was a new pod and a new volume claim. Can we have this re-opened at least please?

[2018-06-27 16:13] moskvin commented on #65228
Seems we got the same issue on our cluster.
@hiep-huynh Thank you for your script, Can you advise me how I can integrate it? It uses conntrack tools and I should install it in my OS inside my kube, right?

[2018-06-27 16:15] CaoShuFeng commented on #65532
After running this command, kube-controller-manager will create the pod for you.

The difference is in the first case, pod is created by kube-controller-manager. In the second case, pod is created by kubectl. The have different authentication info. If you are running kubectl with cluster admin account, I guess the account could use all pod security policy.

FYI: https://kubernetes.io/docs/concepts

[2018-06-27 16:20] ValeryNo commented on #34583
We had to ultimately get rid of all persistence volume claims on AWS because of this.
For really large clusters with lots of reserved capacity in all availability zones that woulnd't be such a big deal, but I'd image most companies are trying to optimize their cost and don't have than many node pre-provisioned just for the sake of it.
Still looking for a solution which is easy to configure and AZ-

[2018-06-27 16:29] liggitt commented on #65525
those environment variables are not automatically set

the path for the auto-injected namespace is `/var/run/secrets/kubernetes.io/serviceaccount/namespace`

/close

[2018-06-27 16:29] #65525 closed

[2018-06-27 16:30] liggitt commented on #65532
`kubectl run nginx-pod --image=nginx --restart=Never` will succeed if your user is authorized to use that pod security policy. if you are a superuser, then you are authorized.

[2018-06-27 16:30] liggitt commented on #65532
/close

[2018-06-27 16:30] #65532 closed

[2018-06-27 16:35] ashb commented on #34583
Would `volumeBindingMode: WaitForFirstConsumer` in a StorageClass go some way to fixing the issue? (At least for new claims anyway)?

From https://kubernetes.io/blog/2018/04/13/local-persistent-volumes-beta/

[2018-06-27 16:46] stevesloka commented on #34583
I solved this in the Elastic Operator by creating StorageClasses per zone and spreading work across that way. You need to make sure your app is zone tolerant. For example, the Elastic operator sets up sharding and replication across zones, given one AZ goes down, the other two still have enough of the data to continue functioning.

[2018-06-27 16:47] wsong commented on #65118
@MrHohn as shown in the first message in this issue, setting `healthzBindAddress: ""` in the KubeProxyConfiguration doesn't produce any error messages, but it also has no effect. The healthz endpoint is still exposed on port 10256.

[2018-06-27 16:50] deitch commented on #34583
@stevesloka doesn't each pod then need access to storage from a different class (appropriate for the zone it is in)? How does that work?

[2018-06-27 16:59] jfoy commented on #23130
Looks like this is fixed by #64219 in v1.11.0: https://github.com/kubernetes/kubernetes/blob/c005b9d0ab6cd963abf66a9a12fb8ad5e48121ad/CHANGELOG-1.11.md#other-notable-changes-4

[2018-06-27 17:08] ixdy commented on #23130
@jfoy yes, somewhat. If you use the "officially" built `kubectl` from the release, the issue remains unfixed, since the binaries are cross-compiled and have cgo disabled, relying on the go-native DNS resolvers.

If you built `kubectl` yourself (e.g. through homebrew), then you should use the native macOS C-based DNS resolvers.

[2018-06-27 17:13] nelsonfassis commented on #33777
@nsidhaye So, turns out my problem was:
We had 30 cores to use, every deployment had a default request/limit set to 1 core request, 2 cores limit.
Even tho the apps weren't consuming more than 50mi cpu, it was "locking" 1 whole core, meaning we hit the limit of 30 apps pretty quickly.

We had to redeploy most of our apps based on real resource consumption, using Prometheus/Grafana, we checked what

[2018-06-27 17:31] msau42 commented on #55517
Discussed with @saad-ali a little, he says there are users that still need this flag so I'm not sure if we can ever remove it.  If we cannot remove it and need to support it forever, then maybe we need to at least document the limitations of using this, and test this configuration as well.

[2018-06-27 17:39] mtaufen commented on #65455
The `--kubeconfig` file typically contains the address and credentials for communicating with the API server.

You can provide a `--bootstrap-kubeconfig` path and a desired `--kubeconfig` path (latter file does not exist yet), and the Kubelet will use the `--bootstrap-kubeconfig` credentials to request a client cert from the API server, then write a new `--kubeconfig` that uses this cert, and use

[2018-06-27 17:41] mtaufen commented on #65455
IIRC it's the same file format as `kubectl`'s `--kubeconfig`

https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/

[2018-06-27 17:44] cblecker commented on #61573
/remove-help good-first-issue

@mikedanese I don't think this fits our definition of a `good first issue`: https://git.k8s.io/community/contributors/devel/help-wanted.md#good-first-issue

[2018-06-27 17:44] cblecker commented on #61573
/remove-good-first-issue

@mikedanese I don't think this fits our definition of a `good first issue`: https://git.k8s.io/community/contributors/devel/help-wanted.md#good-first-issue

[2018-06-27 17:58] sethvargo commented on #61573
So I have to keep replying to the comment bot every 30 days so it doesn't get auto-closed? That feels... odd

[2018-06-27 18:06] mattnworb commented on #65532
@CaoShuFeng @liggitt ah thank you, the cluster-admin role does indeed explain what was going on here. I didn't realize that the actions of a cluster admin would translate into the pod the user creating being authorized for a given PSP.

[2018-06-27 18:56] mikedanese commented on #61573
@cblecker thanks for the education :)

@sethvargo unfortunately other issues are higher priority and no one has stepped up to fix this. The autocloser is a form of bug bankruptcy that keeps our issue load in check. The contribex special interest group is definitely open to feedback on the bot.

[2018-06-27 18:56] akhilyendluri opened #65544 "Failed to create Sandbox CNI when creating AWS EKS Cluster via Terraform"
Hi,
@kubernetes/sig-contributor-experience-test-failures
I am facing a similar issue.

I created a cluster in aws eks using terraform script given in https://www.terraform.io/docs/providers/aws/guides/eks-getting-started.html#guide-overview

After this I was deploying the guestbook application as given in  https://docs.aws.amazon.com/eks/latest/userguide/getting-started.html

Once my pods got crea

[2018-06-27 19:05] MrHohn commented on #45851
/remove-lifecycle rotten

[2018-06-27 19:12] mikedanese commented on #61795
/remove-lifecycle-stale

[2018-06-27 19:30] AishSundar commented on #60463
@jennybuckley this test seems to flake quite a bit in the presubmits and its a conformance test on top of this. Can we please look into the new logs to see if we have more info to deflake this?

Triage:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2018-06-15&ci=0&pr=1&sig=api-machinery&test=Garbage%20collector%20should%20orphan%20RS%20created%20by%20deployment%20when%20dele

[2018-06-27 19:34] AishSundar commented on #60463
/cc @fedebongio

[2018-06-27 19:42] donbowman commented on #51835
I think with Google's new [filestore](https://cloud.google.com/filestore/) we'll have the same issue, no umount.

[2018-06-27 19:52] msau42 commented on #51835
@donbowman iirc, your issue is because you were terminating the nfs server pod before the nfs client pod.  If you use filestore, you no longer need a pod to host your nfs server, so you should not have this issue as long as you don't delete the entire firestore isntance.

[2018-06-27 20:00] donbowman commented on #51835
won't i have the same issue if i'm orchestrating the filestore tho? e.g. if i'm bringing it up for a specific kubernetes deployment, and then down at the end, the order is not guaranteed.

But also i think the issue is not just the order, the nfs client pod delete does not umount at all, it just leaves the mount dangling on the node. So regardless of whether the filestore/server is present or not

[2018-06-27 20:03] Shivang44 commented on #49894
Is there any updates to this issue? I don't fully understand the need for volumes to remain attached in an unknown state. For example, we have an NFS server pod with an AzureDisk volume. Once its host node dies, the pod is left in an unknown state and recreated on another node. But its backing volume is still attached to the "unknown" state pod stuck in limbo.

[2018-06-27 20:07] msau42 commented on #51835
When a pod is terminated, we do unmount the volume (assuming that the server is still there).  If you are seeing dangling mounts even when the server exists, then that is a bug.

If you use dynamic provisioning with PVCs and PVs, then we don't allow the PVC (and underlying storage) to be deleted until all Pods referencing it are done using it.  If you want to orchestrate the provisioning yourself,

[2018-06-27 20:21] hiep-huynh commented on #65228
I use systemd's timer to run the script every 30s at the node OS-level.  The conntrack command requires root privileges so the script will need to be run with root privileges too. It's configured to run on each node since they each have their own conntrack sessions that can go stale.

[2018-06-27 20:28] ghostsquad commented on #43962
/remove-lifecycle stale

[2018-06-27 21:52] nicolaferraro opened #65551 "Add support for namespace-local CRD"
/kind feature

Custom Resource Definitions are currently cluster-wide objects, so users need cluster-level authorizations to create them.

But current trend is to use CRDs in combination with "Operators" to perform management of complex applications inside a namespace.
CRDs used in this context should be namespaced, as namespaced are the applications they describe.

I think Kubernetes shoud allow

[2018-06-27 21:54] nicolaferraro commented on #65551
/sig api-machinery

[2018-06-27 21:55] msau42 opened #65552 "PVC Protection doesn't wait until Pod volumes have been unmounted"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
PVC protection controller only waits for the Pod to be in terminated phase before proceeding.  This means volumes could still be in the process of unmounting but not finished unmounting.  In the case of PVs like NFS, if the NFS share is deleted before a client Pod finishes unmounting it, then the Pod del

[2018-06-27 22:00] AishSundar commented on #60463
FWIW this test seems to pass consistently in our conformance dashboards - https://k8s-testgrid.appspot.com/conformance-gce#GCE,%20master%20(dev).

But seems to flake only in CI and Presubmits
https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2018-06-15&pr=1&sig=api-machinery&test=Garbage%20collector%20should%20orphan%20RS%20created%20by%20deployment%20when%20deleteOptions.Propag

[2018-06-27 22:03] jennybuckley opened #65553 "When an object is created on an update request, the admission controllers see it as an update"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig api-machinery

**What happened**:

The [static admission attributes](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/update.go#L97) that we use to make a create validation function is given admission.Update as its operation field. In the create validation we then use the provided o

[2018-06-27 22:08] liggitt commented on #60463
Do those run at different parallelism levels? It could be load/timeout sensitive

[2018-06-27 22:12] saad-ali commented on #64637
For CSI we intend to have two sockets, one that is used for registering and a second one to actually talk to the driver. As part of the registration process the path of the second socket is returned to Kubelet. After initial registration handshake the connection to the first socket is closed. Then for each operation kubelet opens a connection to the second CSI socket and closes it after that opera

[2018-06-27 22:14] jennybuckley commented on #65553
I think the solution to this would be to separate the static admission attributes into one for create and one for validate.

Also, the function which performs the mutating admission needs to determine whether or not it is an actual update or if the old object doesn't exist (probably by checking uid) and then call the mutating admission correctly based on which operation is being performed.

[2018-06-27 22:54] MrHohn commented on #59778
/remove-lifecycle stale

[2018-06-27 23:01] bsalamat commented on #65372
I think this is WAI.
@dashpole can give more details.

[2018-06-27 23:03] xrow commented on #18282
Sorry I didn`t come back to you in time. My desire was that it would exit with 0 (success), if it was designed to skip those. It doesn`t exit with 0. That is bad for ansible automation.

[2018-06-27 23:12] k82cn commented on #65372
oh, here's more details in kubelet:

In `IsCriticalPod`, it only check pod's priority is bigger than `scheduling.SystemCriticalPriority`; that makes `sortPodsByQOS` skipped `cluster critical` pods for `node critical` pods.

`IsCriticalPod`:

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/types/pod_update.go#L166

And `sortPodsByQOS`:

https://github.com/kubernetes/kubernetes/blob

[2018-06-27 23:50] jberkus opened #65557 "Priority & Preemption should be restricted-by-default"
/kind bug
/area security
/sig scheduling
/priority important-soon

Currently, an admin who has Priority & Preemption enabled (as they are by default) and has  ResourceQuotaScopeSelectors disabled (as they are by default) has no way to restrict regular users of Kubernetes from creating as many system-node-critical and system-cluster-critical pods as they care to.  This can result in creating a deni

[2018-06-28 00:01] dashpole commented on #65372
The "kubelet preemption" feature was introduced before priority + preemption, and thus only relies on whether we deem the pod critical or not.  It looks like the actual problem here is that the node doesn't have enough room for the fluentd pod?

[2018-06-28 00:07] liggitt commented on #65557
That's also been true of pods in general since 1.0 (unlimited unless a resource quota is in place). @derekwaynecarr can chime in with the intended approach for making it easy for an admin who wants to limit this to indicate that cluster-wide

[2018-06-28 00:35] k82cn commented on #65372
@dashpole , scheduler compares priority: the bigger one can preempt smaller one; and `NodeCritical` is `CriticalPriority + 1000`. So `sortPodsByQOS` should check critical annotation (for compatibility) and compare pod's priority (instead of checking whether the preemptee pod's priority is bigger/equal than `critical-priority`) if priority/preemption enabled.

I'm thinking that may contribute  #651

[2018-06-28 00:41] filmil commented on #65109
tl;dr: @liggitt is right, please reread until you understand his words. :)

Hi folks.  Since I was in this boat some months ago, I feel obliged to put in a word, hopefully before you sink too much time into this. See https://github.com/kubernetes/community/pull/1458 for details.

What we discovered is that there is a very deep well of issues to be fixed with authorizers in particular for this to b

[2018-06-28 00:48] danderson opened #65562 "Kubeadm cluster breaks persistently on out-of-order upgrade"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

(arguably WAI, but I have thoughts about that in the "what you expected" section)

**What happened**:

On my 1.10.5 cluster (kubeadm, deb package for kubelet), in preparation for upgrading to 1.11.0, I accidentally upgraded the kubelets before the control plane (`apt update && apt upgrade` with kubelet version not pinned, results in kubelet

[2018-06-28 00:54] akhilyendluri commented on #65544
Fixed it. The issue was in the terraform script. Please close this.

[2018-06-28 00:54] jberkus commented on #65557
AFAIK, though, it hasn't been previously possible for two misbehaving users in a preemption race to accidentally shut down kubedns, or similar.  That's what I'd like to see some tools to protect against.

[2018-06-28 01:08] danderson commented on #65562
@kubernetes/sig-cluster-lifecycle-bugs

[2018-06-28 01:36] bsalamat commented on #65557
The risks here is that users may maliciously or inadvertently create a large number of pods at system priority levels that would cause some of the system critical pods running at system-cluster-critical priority to get preempted.

Our plan to prevent the risk was to introduce [Pod Priority support in ResourceQuota ](https://github.com/kubernetes/kubernetes/pull/57963) when moving Pod Priority and

[2018-06-28 01:42] bsalamat commented on #65557
What I would suggest to do for 1.11.1 is to change our admission controller to allow the use of `system-node-critical` and `system-cluster-critical` priorities only in `kube-system` namespace. Then our current (1.11) ResourceQuota can be used to limit users from creating pods in `kube-system` namespace. With that users won't be able to use the two system PriorityClasses and the risk of abusing the

[2018-06-28 01:48] ceshihao commented on #65530
It seems to be fixed in 1.11 by #60565

[2018-06-28 01:50] smarterclayton commented on #65557
The feature was gated because it was a new field on a GA API and we do not promote new fields directly to beta on GA APIs.  I just want to be clear that the bar for new APIs doesn't get lowered because another thing is going to beta.

The admission controller suggestion is reasonable, although derek's is probably more appropriate.

[2018-06-28 02:04] #52984 closed

[2018-06-28 02:04] #56752 closed

[2018-06-28 02:37] davidopp commented on #65557
The admission controller idea is great.

We should update the release note to reflect the change.

[2018-06-28 02:44] kilianc commented on #56272
@mattdodge is spot on. Eviction is kind of a big deal. Developers should almost treat it as a bug in their code or configuration. Most of the time is a memory leak but the event is never logged anywhere instead of being in your face when it happens.

[2018-06-28 02:49] liggitt commented on #60463
I have also seen a general uptick in flakes in other e2e tests that could be sensitive to watch event latency, not just gc tests - for example, see the failures in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/65547/pull-kubernetes-e2e-gce/42324/

[2018-06-28 02:53] bsalamat commented on #65557
I am fine with expanding the permitted namespaces from `kube-system` to a configurable set of namespaces in our priority admission controller.

[2018-06-28 03:05] #57129 closed

[2018-06-28 03:18] eisig commented on #65403
It's ok now!  👍

[2018-06-28 03:20] liggitt commented on #65557
agreed. that maintains parity with the pre-API alpha critical pod annotation use

[2018-06-28 03:52] liggitt commented on #65109
Not quite. Being able to control the authentication layer via the API undermines auditability that is based on the authentication layer being authoritative and trustable. With dynamic authorizer config, you would still know *who* was performing actions on your cluster. With dynamic authenticator config, you wouldn't.

Unioning multiple remote authentication methods behind the scenes also leads eit

[2018-06-28 04:08] tuminoid commented on #65530
It was merged three months ago, any idea why it isn't in 1.10 too?

[2018-06-28 04:15] hongshibao commented on #65097
Looking into the code, I think it is not supported now. I also need this feature in my application usage. @DirectXMan12 Can we have this feature added?

[2018-06-28 04:19] nikhita commented on #65551
/area custom-resources

/cc @sttts @liggitt @deads2k @lavalamp @mbohlool

[2018-06-28 04:47] liggitt commented on #65551
While the desire is understandable, I think this is unlikely to happen any time soon, for many reasons:
* the intent behind CRDs was to allow for dynamically defined resource types that behaved as much as possible like standard kubernetes resources. Operations like `kubectl get <namespaced-type> --all-namespaces` would be nonsensical if a type was non-homogenous or non-existent across namespaces
*

[2018-06-28 04:48] nikhita commented on #65530
It was merged on March 31 and 1.10 was released on March 27: https://github.com/kubernetes/kubernetes/releases/tag/v1.10.0.

Can confirm it is not present in 1.10:

[code]

Maybe we can cherry-pick it?

[2018-06-28 05:22] nikhita commented on #64612
All cherry-picks have been merged. :tada:

Closing.
/close

[2018-06-28 05:22] #64612 closed

[2018-06-28 05:45] daicang commented on #58217
In my case, seems it's caused by force kill kubelet without cleaning Pod mountpoints. Delete `/var/lib/kubelet/pods/{pod-with-volume-mount}` helped fix this issue.

[2018-06-28 05:48] frittentheke opened #65569 "Some pods stuck in Terminating state and can only be removed if deleting with propagationPolicy=Background"
/kind bug

**What happened**:
One (worker) node when OOM and pods where evicted. Before the node was "saved" the kernel OOM-killed at least some of the running containers.

The cluster came back to a save state, but a few pods got stuck in the state terminating.
The issue / bug is, that there is no way to delete those pods via kubectl. I was able to remove the deployment and replica-set, but the p

[2018-06-28 05:54] frittentheke commented on #65569
This is one example of a pod which I was able to delete by changing to propagationPolicy=Background but no way else....

[pod_forever_Terminating.json.txt](https://github.com/kubernetes/kubernetes/files/2143952/pod_forever_Terminating.json.txt)

[2018-06-28 06:46] luksa commented on #61897
@lavalamp You're correct about there (currently) not being any other sources of conflict errors. There are two things that bother me about this:
- a 409 Conflict by itself is much broader than an optimistic concurrency conflict and AFAIK there's no k8s documentation that specifically states that a 409 is only returned for such conflicts. Client authors have no way of knowing handle a 409 without g

[2018-06-28 06:57] #65526 closed

[2018-06-28 07:45] alaa-nassef commented on #32273
Can't you customize using annotations (https://github.com/nginxinc/kubernetes-ingress/tree/master/examples/customization)?

[2018-06-28 07:58] wojtek-t commented on #65441
The kube-dns logs may be red-herring in this situation, because kube-dns has limit set (which seems to be too low btw).

But apparently, on some nodes we seem to be hitting a more serious issues too.
This one is the example:
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/172/artifacts/gce-scale-cluster-minion-group-2kff/

There was an OOM on that machine w

[2018-06-28 08:29] marceloboeira commented on #47142
any solutions for these? we've tried killing the pods, debugging... but nothing helps

[2018-06-28 08:32] ling2yt commented on #25725
i try to update the deployment using the REST API: PATCH /apis/extensions/v1beta1/namespaces/{namespace}/deployments/{name}

can i test it with postman ?
and what the request body should be? the whole new yaml ?

[2018-06-28 08:45] sevikl commented on #65562
definitly a bug or some devs f-up.
i have 1 node for testing purposes running over ubuntu 18.04. today upgrade 1.10.5-00 to 1.11-00 was made. it just destroyed /var/lib/kubelet/config.yaml and no place to restore it from, since it is 1 node setup.
systemd unit for kubelet have Restart=always, so be careful with upgrading. for me now it is deathloop. nice thing is this is not on production yet.

[2018-06-28 09:05] mheese commented on #2630
it's sad to see that after I have to do research again @chicocvenancio's option (which I use as well) is still apparently the only way to achieve this.

I understand where the problem is coming from and why we are so reluctant to change this, however, especially for Secret volumes changing the UID of volumes can be essential.

Here is an example from the PostgreSQL world: mount a TLS client cert f

[2018-06-28 09:06] krzysied commented on #65441
total_vm and rss represents number of 4kB pages used. Real memory usage is 4x the sum of this numbers.

[2018-06-28 09:13] honkiko opened #65574 "ipvs: missing protocol match for nodeport"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig network
/area kube-proxy
/area ipvs
/assign @honkiko

**What happened**:
See the iptables rules generated by kube-proxy in ipvs mode. KUBE-NODE-PORT-UDP match is constrained by "-p udp",  while KUBE-NODE-PORT-TCP match is not.
[code]

Also, KUBE-NODE-PORT-LOCAL-TCP and KUBE-NODE-PORT-LOCAL-UDP match is missing protocol match too.
[code]

[2018-06-28 09:19] frittentheke commented on #65569
@kubernetes/sig-api-machinery-bugs

[2018-06-28 09:20] #65375 closed

[2018-06-28 09:54] obiyuta opened #65575 "Kubectl 1.11.0 is unable to get pods or nodes on clusters running 1.8.4"
/kind bug

**What happened**:

When getting nodes or pods using the command `kubectl get pods` `kubectl get pods`, the following output appears:

[code]
[code]

**What you expected to happen**:

When running the command, `kubectl get pods/nodes` , with kubectl version 1.11.0, pods/nodes appear.

**How to reproduce it (as minimally and precisely as possible)**:

1. Run `kubectl get pods` using kube

[2018-06-28 09:55] obiyuta commented on #65575
/sig cli

[2018-06-28 10:08] ceshihao commented on #65457
The bug is because `cronjob-controller` would like to run crons for unmet schedule times.
https://github.com/kubernetes/kubernetes/blob/efeb20492227261261d1af2e61babdbbe17be951/pkg/controller/cronjob/utils.go#L96

And the function calculate unmet schedule times from `LastScheduleTime` in this update case.
https://github.com/kubernetes/kubernetes/blob/efeb20492227261261d1af2e61babdbbe17be951/pkg/co

[2018-06-28 10:10] frittentheke commented on #65569
I enabled log level 5 to see more details about the garbage collection and apparently there seems to be an / the issue:

[code]

The replicaset (or the deployment) does not exist anymore BTW.

[2018-06-28 10:14] jsafrane commented on #65552
PVC protection does not wait until the PV is detached, which happens after the pod is deleted. So yes, waiting for pod deletion would help, but it's only partial fix.

[2018-06-28 10:49] siXor commented on #60807
Same issue on 1.9.6

[2018-06-28 10:51] rfranzke opened #65578 "kubectl 1.11.0 defaults --use-openapi-print-columns to false"
/kind bug
/sig cli

**What happened**:
kubectl 1.11.0 defaults `--use-openapi-print-columns` to `false` which is very impractical when working with aggregated API servers. It was defaulted to `true` with prior versions (<= 1.10.5):

[code]

and

[code]

**What you expected to happen**:
The flag defaults to `true` so that you do not need to specify it for each and every `kubectl get` request to res

[2018-06-28 11:00] rfranzke opened #65579 "kubectl 1.11.0 unable to print resources with OpenAPI custom columns"
/kind bug
/sig cli

**What happened**:
kubectl 1.11.0 defaults `--use-openapi-print-columns` to `false` (see #65578), hence, you need to explicitly specify it for each and every single `kubectl get` request for a resource managed by an aggregated API server. However, it is even not able to print those resources properly (which was possible before with versions <= 1.10.5):

[code]

and

[code]

**W

[2018-06-28 11:13] #58893 closed

[2018-06-28 11:18] luksa commented on #56428
/remove-lifecycle stale

kube-openapi change is here: https://github.com/kubernetes/kube-openapi/pull/85
Once that PR goes in and is then vendored into k8s/k8s, this issue will be fixed.

[2018-06-28 11:19] luksa commented on #56428
/remove-lifecycle rotten

kube-openapi change is here: https://github.com/kubernetes/kube-openapi/pull/85
Once that PR goes in and is then vendored into k8s/k8s, this issue will be fixed.

[2018-06-28 11:30] stephanwesten commented on #65575
I had the same problem on macos with the exact same versions.

Downgraded kubectl to v1.8.7 and it seems to solve the problem

wget https://storage.googleapis.com/kubernetes-release/release/v1.8.7/bin/darwin/amd64/kubectl

[2018-06-28 12:10] fgbreel opened #65580 "Failure to rollback etcd datadir in case of errors during kubeadm inplace upgrade from 1.10.5 to 1.11.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
During upgrade from `v1.10.5` to `v1.11.0` the `etcd` data rollback procedure of `kubeadm` does not delete `/var/lib/etcd/member` before copying backup data into it.

These are last lines from the `etcd` container after the rollback procedure:

[code]

Manually removing `/var/lib/etcd/member` followed by copying backup da

[2018-06-28 12:12] fgbreel commented on #65580
@kubernetes/sig-cluster-lifecycle-bugs

[2018-06-28 13:00] jaygorrell commented on #65457
Thanks for the explanation of what's going on.

I think something along those lines definitely makes sense. Essentially, I think it's safe to assume that when the job is updated, anything before the update time shouldn't be considered missed.

[2018-06-28 13:01] enchantner opened #65581 "PV still contains ClaimRef to a PVC even after it's deleted as part of the namespace"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have several Local PersistentVolumes with Retain policy which I want to claim on demand from different namespaces. PVs are not bound to any namespace, but PVCs always are. So, when I delete a namespace together with PVCs in it, there is still a ClaimRef inside a PV pointing to a deleted resource in a deleted namespace,

[2018-06-28 13:04] enchantner commented on #65581
@kubernetes/sig-storage-bugs

[2018-06-28 13:18] queimadus commented on #38532
/remove-lifecycle stale

I'd find this improvement useful as well. It's hard to create a dashboard (and possibly alerts) when a pod crashes otherwise.

I was trying to solve this by storing the `kubectl get events --watch` and operating over them but although we get a `reason: Backoff` when the pod crashes a second time, I still can pinpoint the error reason without calling `kubectl describe pod _

[2018-06-28 13:43] xetys commented on #60807
Hey,

I've got this over and over again and it's most of the time some trouble with finalizers.

If a namespace is stuck, try to `kubectl get namespace XXX -o yaml` and check if there is a finalizer on it. If so, edit the namespace and remove the finalizer (by passing an empty array) and then the namespace gets deleted

[2018-06-28 13:52] timothysc commented on #65562
It's been well documented since nearly the beginning of the project that the order of upgrade it control-plan then nodes.  We could definitely add more warnings, but this order has existed since the beginning of the project.

https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-11/ .

I'm closing this issue in the main repo, please reopen in - https://github.com/kubernetes

[2018-06-28 13:52] #65562 closed

[2018-06-28 13:53] msau42 commented on #65552
Are there any attachable plugins where delete volume will succeed if it's still attached?

[2018-06-28 13:53] timothysc commented on #65562
We're chatting on slack right now to try and discuss options around preventing this problem.

[2018-06-28 13:57] msau42 commented on #65581
A reclaim policy of retain means that the system should not automatically release the PV and make it available.  It indicates that there may be user action required to copy or purge the data from the disk.  So it is up to the user to clear the ClaimRef from the PV when they are ready to make the disk available again.

If you want the system to automatically clean and make the local disks availabil

[2018-06-28 14:01] timothysc commented on #65562
xref - https://github.com/kubernetes/kubeadm/issues/954

[2018-06-28 14:20] dkistner opened #65583 "gcloud Loadbalancer: Node http health check will not be removed"
**What happened**:
When deleting a loadbalancer service on a gce cluster, it seems that the attached shared node http health check cannot be removed properly.

The gce cloud provider can't delete the health check and tries to determine, if the health check is still in use by other target pools. This would be ok and is the case in the logs (see below).

The determination, if a health check is still

[2018-06-28 14:39] adohe commented on #12668
/remove-lifecycle rotten

[2018-06-28 14:40] adohe commented on #12668
/assign @adohe

[2018-06-28 14:40] adohe commented on #12668
/unassign @deads2k

[2018-06-28 15:06] aveshagarwal commented on #65557
So for final plan, as agreed, @bsalamat will send an initial PR to restrict system priority classes to kube-system namespace for 1.11.1. After that I will work on a follow-up PR to make namespace restriction configurable in priority admission plugin.

[2018-06-28 16:10] nevola commented on #62720
Hi, during the netfilter workshop last week we presented some benchmarks that could enlighten the nftables approach for kube-proxy.

As a summarize, we're getting more than 50% of performance in NAT cases than iptables (with 3 backends cases) but the performance is even better by adding more backends due to the constant complexity order of the nftables rules design.

As well, we presented the pena

[2018-06-28 16:11] bgrant0607 commented on #61006
Creating a more complete list of requirements and desirable properties would be useful.

[2018-06-28 16:23] tpepper commented on #64806
@nickchase possible ^^^ rel note add

[2018-06-28 16:37] majgis commented on #52345
Is there any current workaround to restart pod when container restarts?

    All containers in a Pod are terminated while restartPolicy is set to Always, forcing a restart, and the Init Container completion record has been lost due to garbage collection.

I read that in the docs and see it again here....has anyone confirmed a way of getting a state in which pods will be restarted when the containe

[2018-06-28 16:48] nevola commented on #62720
On the other hand, nftables-ebpf shouldn't be incompatible. There are some work in progress to go forward to this integration: https://www.spinics.net/lists/netfilter-devel/msg53891.html

[2018-06-28 16:58] integrii commented on #56165
@bidyut1990 For us, the HPA issue was due to `weave-net` (our CNI) exploding underneath and causing select connectivity problems.  Our other issue was running `kubectl top pods` didn't work for non-admins.  That is apparently "better" in newer versions of Kubernetes, so we just deal with it for now.

[2018-06-28 17:02] jberkus commented on #65557
@bsalamat please let @foxish know when you'll have this fix, we'll be scheduling 1.11.1 based on it.  Thanks!

[2018-06-28 17:04] bidyut1990 commented on #56165
@integrii Oh ok . Thanks for getting back!!. I am trying to make it work by changing a particular parameter(--horizontal-pod-autoscaler-use-rest-clients) in kube-controller-manager manisfest. Lets see if that works. Referred to https://github.com/kubernetes/kubernetes/issues/57673

[2018-06-28 17:10] kfox1111 commented on #57841
Thank you for the release note. It saved me a bunch of time testing something that was not ready yet.

[2018-06-28 17:14] suryakanta87 commented on #65575
I am also facing same problem please give solution.

No resources found.
Error from server (NotAcceptable): unknown (get nodes)

Thanks
srikant

[2018-06-28 17:19] #58964 closed

[2018-06-28 18:00] roaddemon commented on #65575
I just started getting this after upgrading kubectl to 1.11.0.
[code]

Downgrading to 1.8.7 to match my server version fixed my issue (same as stephanwesten previously mentioned)

[code]

[2018-06-28 18:00] wojtek-t commented on #14733
/assign @mtaufen

[2018-06-28 18:14] tuminoid commented on #47775
/remove-lifecycle stale

I'd like to see a project member comment on this.

[2018-06-28 18:16] bsalamat commented on #65557
@jberkus @foxish I just sent the above PR against the master branch. I will cherrypick it into 1.11 branch once it is reviewed.

[2018-06-28 18:20] #58967 closed

[2018-06-28 18:23] ixdy commented on #60472
#64122 merged, so this should be fixed now.

[2018-06-28 18:23] #60472 closed

[2018-06-28 18:46] rezroo commented on #2630
I'm trying to mount a ssh-key to user's .ssh directory with defaultMode 0400 so the application can ssh without a password. But that doesn't work if the secret is mounted as owned by root. Can you explain again how this can be solved using fsGroup or some other such mechanism?

[2018-06-28 18:55] mikejoh commented on #65282
Thanks for the clarification, i was on this track from the beginning but assumed things like if there's a `--dry-run` flag then the command would exit with appropriate message(s) but in this case `kubectl` would just pick that up as a argument to a specific flag. Also i was using the flag in a incorrect way from the beginning while testing random combinations.

[2018-06-28 18:55] #65282 closed

[2018-06-28 18:58] ljani commented on #33884
I'm running a single node cluster on AWS EC2, ie. scheduling work on the master as well. Now that I tried to add an ELB for my service, the EC2 instance is not associated with the ELB. The reason seems to be [this](https://github.com/kubernetes/kubernetes/commit/82d600bb5c34b2c7352643d4d811941e063a8215#diff-56c9c66bf151b9d7268939da6ebf3613R609). Is my scenario a supported one? @greg-jaunt what wou

[2018-06-28 19:10] jberkus commented on #65557
Cool, thanks!

[2018-06-28 19:10] gnufied commented on #65552
Not that I am aware of. I think waiting for pod to be deleted makes sense.

[2018-06-28 19:16] derekwaynecarr commented on #65557
@jberkus to clarify, please hold 1.11.1 on both PRs
https://github.com/kubernetes/kubernetes/issues/65557#issuecomment-401067454

[2018-06-28 19:40] notmaxx commented on #47142
@marceloboeira i found this interesting https://blog.quentin-machu.fr/2018/06/24/5-15s-dns-lookups-on-kubernetes/

[2018-06-28 19:45] jesusvazquez commented on #65575
Yeah same happening here. Thanks @roaddemon for the workaround.

[2018-06-28 19:46] juanvallejo commented on #65578
The decision to make this flag opt-in was made in https://github.com/kubernetes/kubernetes/pull/62584.
We enabled server-side printing in kubectl 1.11 which handles CRDs and extension API servers, provided that your server knows to return the correct response to the client.

What is your server version?

[2018-06-28 20:05] timfallmk commented on #48209
Can we remove this permanently from lifecycling?

[2018-06-28 20:06] apelisse commented on #48209
/lifecycle frozen

[2018-06-28 20:08] fedebongio commented on #65405
/cc @jennybuckley

[2018-06-28 20:09] fedebongio commented on #65421
/cc @roycaihw

[2018-06-28 20:10] andrewsykim commented on #55633
Thank you @liggitt!!

[2018-06-28 20:11] fedebongio commented on #65442
/cc @cheftako

[2018-06-28 20:11] fedebongio commented on #65458
/cc @cheftako

[2018-06-28 20:12] fedebongio commented on #65458
/remove-sig api-machinery

[2018-06-28 20:12] fedebongio commented on #65458
/sig cloud-provider

[2018-06-28 20:14] fedebongio commented on #65497
/cc @jingyih

[2018-06-28 20:15] fedebongio commented on #65517
/cc @mbohlool

[2018-06-28 20:18] fedebongio commented on #65569
/cc @yliaog @caesarxuchao

[2018-06-28 20:32] calamityman commented on #65575
Same happened on Debian stable. Downgraded back to 1.10.5 and all is well

[2018-06-28 20:39] ImJasonH opened #65597 "Init containers cannot use downward API volumes"
**What happened**:

Define a Pod with an `initContainer` that mounts a volume backed by the downward API to expose its CPU request to the container.

[code]

When I start this pod, I see it in `Init 0/1` and `kubectl describe pod pod` shows:

[code]

**What you expected to happen**:

The pod starts, runs the init container with volume mounted to print the mounted file, then the real container, the

[2018-06-28 20:51] bowei commented on #44485
/reopen

[2018-06-28 20:51] bowei commented on #44485
/assign
/reopen

[2018-06-28 20:51] bowei commented on #44485
/reopen

[2018-06-28 20:52] bowei commented on #44485
/unassign

[2018-06-28 20:55] pmorie commented on #65597
/sig node

[2018-06-28 21:10] yastij commented on #53451
@jhorwit2 @feiskyer - I've seen this using Azure load balancer. when using a fixed load balancing IP this becomes a problem, as we cannot re-create the service as we need to clean manually the frontend IP configuration on the LB manually before re-creating it.

[2018-06-28 21:23] #58620 closed

[2018-06-28 21:34] sjenning commented on #64878
It isn't wrong as the dockershim/docker client are part of the kubelet albeit a vendored part in the case of the client.

https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/docker/docker/client/image_pull.go#L23

It is `ParseNormalizedNamed()`, which calls `splitDockerDomain()`, that ends up appending docker.io[/library] to unqualified image paths.  Then `FamiliarName()` just b

[2018-06-28 21:36] GregSilverman commented on #48948
Same issue with v0.26.0.

[2018-06-28 21:40] enchantner commented on #65581
@msau42 I think I understand how retain works, but I don't want to delete PV itself together with the claim.

The idea is, I create all those PVs together with creating partitions by an external tool, and they have NodeAffinity (and local path) related to an exact node. So, to create PV again, i'll need to specify an exact node each time I create a Deployment. This is really ugly.

Also, I know th

[2018-06-28 21:52] msau42 commented on #65581
If your external tool can mount all these PVs all under one directory, then you can run the local static provisioner which runs as a DaemonSet and automatically creates the PVs with the correct path and NodeAffinity.  And when the PVC is deleted, it will clean up the data on it, delete the PV, and then recreate the PV again with the correct information.  This is how you can get recycling behavior

[2018-06-28 21:53] #64003 closed

[2018-06-28 22:00] enchantner commented on #65581
This looks like what I want, thanks! Is there any source, like article, where I can read more about this? An example, maybe?

[2018-06-28 22:04] msau42 commented on #65581
Check out the user guide here: https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume

[2018-06-28 22:17] philips commented on #60534
/remove-lifecycle stale

[2018-06-28 22:35] yliaog commented on #65569
when you manage to remove the deployment and replica-set, what DeleteOption did you specify? Did you cascading = true? (https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/)

you mentioned "the kubelet on that node where the Pod / container used to run was actively sending DELETE requests to the API with no luck", do you know what DeleteOption does kubelet send?

[2018-06-28 22:55] joejulian commented on #64649
Tested 1.10.5 and 1.11.0... still have the same problem.

[2018-06-28 22:56] pablolibo commented on #49263
the same problem, I am using EKS (Kubernetes 1.10.3) 👎

[2018-06-28 22:57] liggitt commented on #65575
kubectl supports +/- 1 version of skew against the API server. kubectl 1.11 defaults to requesting table output from the apiserver by sending the following accept header:
[code]

servers prior to 1.9 do not handle that accept header correctly. this was resolved in https://github.com/kubernetes/kubernetes/pull/50603

/close

[2018-06-28 22:58] #65575 closed

[2018-06-28 22:59] bassam commented on #65109
@liggit sorry for the confusion, I meant authn in the following:

In other words setting an authn webhook dynamically vs. via an api-server config are logically equivalent. Do you agree?

I agree completely with your points about vulnerabilities exposed by setting a bad/malicious authn webhook. This is why enabling this requires cluster_admin privs.

I would assume that this feature would be behin

[2018-06-28 23:07] s1113950 commented on #56841
/reopen

[2018-06-28 23:09] s1113950 commented on #56841
Current workaround for this we use is monkeypatch the deployment command with a `sleep infinity & wait` but it would be great if this feature existed so no workarounds were necessary.

[2018-06-28 23:10] liggitt commented on #65578
server-side printing is supported in 1.10 and up and is the preferred approach for kubectl, since it avoids downloading/parsing/interpreting very large schemas client-side on every get request (https://github.com/kubernetes/kubectl/issues/306), avoids extracting expensive data extraction from API objects client-side, and allows API servers (including extension API servers) to return printable colu

[2018-06-28 23:10] #65578 closed

[2018-06-28 23:11] BenTheElder commented on #30784
test-infra recently ran into this with the Prow setup guide where we expect users are creating a new cluster and need to create RBAC rules https://github.com/kubernetes/test-infra/pull/8499, we're working around this by suggesting platform specific answers in combination with "you can get your username from the error message" ...

Can we reconsider adding an actual `kubectl whoami`? It seems like

[2018-06-28 23:11] BenTheElder commented on #30784
/assign

[2018-06-28 23:11] BenTheElder commented on #30784
/reopen

[2018-06-28 23:11] BenTheElder commented on #30784
/unassign

[2018-06-28 23:12] BenTheElder commented on #30784
/remove-lifecycle rotten

[2018-06-28 23:18] PI-Victor commented on #65452
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go#L186
seems that mounter.GetMode() returns `os.FileMode=dtrwxrwxrwx` that we us to create the subpath.
although that doesn't address the validation for non-existing secrets mount point.
will look into it further

[2018-06-28 23:33] liggitt commented on #65579
fixed in #65600

[2018-06-28 23:43] sprutner commented on #51165
I found an answer here: https://stackoverflow.com/questions/33415913/whats-the-best-way-to-share-mount-one-file-into-a-pod

[2018-06-29 01:41] wenlxie opened #65604 "Pod's pvc will not bound if it specifc the pod.spec.nodeName field"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Since k8s 1.9,  volume scheduling feature is supported, which is developed for local volume.
Kube-scheduler can be the first consumer of volume when this kind of volume need to be bound.

But if the pod has the pod.spec.nodeName field, then it  will not be scheduled.  Kubelet will start the pod directly. Kube-scheduler can't be the

[2018-06-29 01:45] wenlxie commented on #65604
/sig storage

[2018-06-29 03:49] #65521 closed

[2018-06-29 04:02] jicki opened #65611 "kubernetes 1.11.0 kube-proxy error"
## kubernetes version 1.11.0

[code]

* kube-proxy run  error  logs

[code]

[2018-06-29 04:04] jicki commented on #65611
/sig kube-proxy

[2018-06-29 04:30] amshuman-kr commented on #52345
@majgis AFAIK, the only possible work-around is to bake in some co-ordination between the containers of the pod.

I am working on a PR for implementing the AlwaysPod restartPolicy which will address this problem of restarting pod on container failure. I am planning to raise the PR next week.

[2018-06-29 04:30] #59009 closed

[2018-06-29 04:32] liggitt commented on #65611
duplicate of https://github.com/kubernetes/kubernetes/issues/65461?

[2018-06-29 04:45] nikhita opened #65612 "code-generator: generate register.go"
There have been several questions asking if `register.go` is generated in the #sig-api-machinery channel on slack. I think it would be nice if we generate the `register.go` file as well.

We probably need to add tags for identifying the `runtime.Object` types to be registered in the scheme.

And if someone wants to modify the register.go file, they can modify it manually later on.

/kind feature
/

[2018-06-29 04:46] nikhita commented on #65612
/area code-generation

[2018-06-29 05:03] micahhausler opened #65613 "Add Pod IP target support to AWS NLB services"
/kind feature
/sig aws

I want to be able to use an AWS NLB service and target Pod IP's as a backend instead of nodes.

The [AWS CNI provider](https://github.com/aws/amazon-vpc-cni-k8s) uses ENI's in the same network as Nodes, and [NLB's support IP's as a target type](https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html?shortFooter=true#target-type). The

[2018-06-29 05:13] #65579 closed

[2018-06-29 05:38] stewart-yu commented on #65611
Thanks for your error catch. @jicki
Please open the issuse with template, which convenience to others make choice about bug or not? thanks

[2018-06-29 05:53] jicki commented on #65611
@liggitt

I test to #65461

[code]

[2018-06-29 05:58] tuminoid commented on #64878
Why wouldn't `myreg.com/busybox` be legit image path? Docker is capable of adding the default tag if its missing, and it is not required anywhere that `/library/` or `/myrepo` should be in the url.

[code]
Letting Docker handle the pull with as-is image name gets the correct image pulled just fine, and e2e gets the requested image `busybox` just fine. What I'm missing here, @sjenning ?

[2018-06-29 06:17] ljani opened #65618 "Masters should not be excluded from service load balancers"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I'm running a single node cluster on AWS EC2, ie. scheduling work on the master as well. Now that I tried to add an ELB for my service, the EC2 instance is not associated with the ELB. The ELB gets created but there are 0 EC2 instances associated with it. I'm using ELB for SSL termination, if you wonder why I'd like to loa

[2018-06-29 06:32] #56574 closed

[2018-06-29 06:32] #58962 closed

[2018-06-29 07:03] #64914 closed

[2018-06-29 07:33] #48127 closed

[2018-06-29 07:38] luxas commented on #65557
Does the proposed solution work when the `Priority` admission controller is disabled (as it is by default)?
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubeapiserver/options/plugins.go#L131-L139
Should e.g. kubeadm start doing `--enable-admission-plugins=Priority` in v1.11.1 to fix this until it's enabled by default (or similar) in v1.12?

[2018-06-29 07:44] bobo commented on #49926
had same problem, using kops 1.9.1 and kubernetes 1.9.6, changing from m5.medium to t2.large instances worked for me.

[2018-06-29 07:54] kichristensen commented on #65314
I have the same issue I'll post the details when I get back to my computer. In this case it is the istio sidecar that uses a privileged init container, a pod without the sidecar doesn't have this issue

[2018-06-29 08:37] marceloboeira commented on #47142
@notmaxx we endup draining and restoring the masters one by one, which "fixed" the issue, but we'll probably have to update our networking overlay, weave is just causing issues ....

[2018-06-29 08:38] eastpav opened #65620 "How to set docker run --log-opt in k8s yaml file?"
The problem is pod log in /var/lib/docker/containers grow up day by day. docker run offer a option '--log-opt max-size=10m' to limit this growth. but how can I transmit this option to docker in a Deployment in k8s?

[2018-06-29 08:39] DylanBLE opened #65621 "Device Plugin should consider more options when selecting devices."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Device Plugin now simply rotates all devices for resource allocation, it may not satisfy add kinds of resources such as GPU.
The speed of GPU computing my be affected by GPU topology, e.g. NVLink, PCI-E switch or other fast connections.

**What you expected to happen**:
Take GPU for instance, Device Plugin is able to

[2018-06-29 08:40] krzysied commented on #65441
I've checked memory use for build 168 node:
[code]
RES should be in KiB.

[2018-06-29 08:40] fabiand opened #65622 "Workload controllers should support templating of custom resources"
Today workload controllers usually contain templates for pods.

The [application survey showed](https://docs.google.com/presentation/d/1utT0K-u1nl2apXRo29GaBvRV1x7mFLeQSgpw8mI_nGM/edit#slide=id.g3882d9116d_2_146) on slide 9 that multiple parties are interested to allow the controllers to support custom resource templating as well.

/kind feature

In our use case - KubeVirt - this would allow us to

[2018-06-29 08:40] DylanBLE commented on #65621
/sig node
/sig wg/machine-learning

[2018-06-29 08:41] fabiand commented on #65622
@kubernetes/sig-apps

[2018-06-29 08:41] fabiand commented on #65622
@mattfarina maybe you are aware if there is already a similar issue or if it's tracked elsewhere?

[2018-06-29 08:42] eastpav commented on #65620
/kind feature

[2018-06-29 09:06] CaoShuFeng commented on #65553
How to reproduce this bug?

[2018-06-29 09:24] lincoohe opened #65623 "I don't have admin.conf,. when I trust to create this file and add a model to admin.conf ,but error again."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-06-29 09:32] wojtek-t commented on #65441
Hmm - so that suggests that the only significant different here is in kube-proxy and iptables.

The only two PRs touching ip-tables in that period were:
https://github.com/kubernetes/kubernetes/pull/65179
https://github.com/kubernetes/kubernetes/pull/65216

That suggest that it may be @shyamjvs PR fault.

I'm leaning towards reverting it temporary to verify if that will help (if not we can easily

[2018-06-29 09:33] mecifi commented on #33714
Just to summarize the solution cleanly:

edit /etc/kubernetes/apiserver

comment out (add #) this line:
`# KUBE_ADMISSION_CONTROL="--admission-control=NamespaceLifecycle,NamespaceExists,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota"`

Add this line:
`KUBE_ADMISSION_CONTROL=""`

Restart kube-apiserver for the change to take effect:
`systemctl restart kube-apiserver`

Tested on CentOS

[2018-06-29 09:46] shyamjvs commented on #65441
I didn't take a closer look at this, but saw some above discussion and had
suspicion on my change (as it is doubling the no. of services with total
#endpoints kept the same - due to the way I defined the parameter). Feel
free to revert it - I can TAL once I'm back.

On Fri, Jun 29, 2018, 11:33 AM Wojciech Tyczynski <notifications@github.com>
wrote:

[2018-06-29 09:47] arkanmgerges commented on #42306
Hi,
I'm having the same problem, I have k8s installed on 6 virtual box on my laptop.
heketi is installed on the namespace heketi on my k8s
I can not resolve heketi.heketi.svc.cluster.local

for example I can not use this storage class:
[code]
It works if I use endpoint that is got from:
[code]

And this is a part of the description of my stateful set:
[code]

[2018-06-29 10:00] Hugh-ifly opened #65625 "k8s service ClusterIP:Port can not be accessed when the pod is in the same node"
@kubernetes/sig-cluster-ops-bugs
@kubernetes/sig-contributor-experience-bugs

**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I deployed a service nginx, but if I try to request this service via ClusterIP:Port in the node which is the same one that the service pod resides in, the request can not access service. Howerver, if I change to another node that the service po

[2018-06-29 10:08] wojtek-t opened #65626 "Kubernetes large and scale tests are sometimes failing to start"
This is the result of migrating some tests from us-east1-a to us-east1-b.

Now we have some tests running in one zone, some in the other, but all clusters are still named: "gce-scale-cluster".

So when cluster fails to be deleted in previous run, the next one (if running in a different zones), fails to delete that, because:
- it does list nodes (beause they are in different zone, it doesn't seem t

[2018-06-29 10:10] canhnt commented on #42306
It's explained above, it's because kube-controller-manager calls Heketi endpoint when creating a new PVC. So if the host running kube-controller-manager can resolve Heketi service name, then we can use Heketi service name rather than IP address.

[2018-06-29 10:11] kichristensen commented on #65314
Here is the details.

I'm running Kubernetes 1.10.3.

My deployment looks like this:

[code]

Because of the automatic Istio sidecar injection the the resulting pod, looks like this, as you can see the init container is privileged:
[code]

When I try to exec into the pod:
[code]

Also if I try to specify the specific container:
[code]

[2018-06-29 10:18] php-coder commented on #65314
/sig auth

@kubernetes/sig-auth-bugs

[2018-06-29 10:49] mhobotpplnet commented on #65575
Had same issues , for some reason I got to 1.11.0 version and that did not work..
MAC users try version 1.10.0

[code]

[2018-06-29 10:51] frittentheke commented on #65569
@yliaog  I did not specify the cascading, so "true".

Could there be a problem if the parent is gone before the dependent? Like a pod which references a replicaset do being deleted because the replicaset that started this pod is already gone? Same would be true for deployment -> replicaset.

Or to say it differently: Would the GC still delete a pod which owner (ReplicaSet) is already gone?

[2018-06-29 11:10] jsafrane commented on #65552
No, only to PV

[2018-06-29 11:39] CommanderJax opened #65633 "[GKE] Pound symbol in master auth password causes kube-apiserver component to become unhealthy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig gcp

**What happened**:

If you include a pound symbol (£) into the master auth password during cluster creation, the cluster will never be completely provisioned and will remain unhealthy with the following error being displayed after ~10 minutes:

**What you expected to happen**:

An error should be returned if password contains inva

[2018-06-29 11:50] liggitt commented on #65622
It's unclear what this is asking for. Are you suggesting that an existing kube controller should start creating a new type of custom resource based on another custom resource? I would expect each pair of owner/child resources to be managed by its own controller, both for least privilege reasons,  and because each pairing is likely to have domain specific edge cases that are cleaner to deal with in

[2018-06-29 12:08] fabiand commented on #65622
Yes.

I see your point and I agree. If you want to correct treatment (semantically for a given resource) then you will need a custom controller. However, we could turn this around and say: If you are fine getting your resource being treated like a pod - including in the edge cases. Then it should be fine to reuse an existing controller.

[2018-06-29 12:16] yastij commented on #28924
cc @feiskyer - do we support this for azure load balancers ?

[2018-06-29 12:35] munnerz commented on #30784
Given kubectl now has `kubectl auto can-i`, and given we already return the username of a request in error messages, it seems odd we don't have the generic whoami returning just a username at least already.

Above, it seems the concerns were more focused on the `can-i` behaviour, but now that is supported, it seems like whoami is a natural extension.

Is there any substantive reason/potential atta

[2018-06-29 12:45] aveshagarwal commented on #65557
No. As P&P is enabled by default, my understanding is that Priority admission plugin should be enabled by default too.

[2018-06-29 12:50] liggitt commented on #65557
Any cluster that specifies `--admission-control` determines for itself whether the Priority admission plugin is enabled. Any cluster that is using a value from previous releases is unlikely to have that admission plugin enabled.

[2018-06-29 12:53] liggitt commented on #65622
We should not expand the scope of existing controllers to do that. The more unknown dependents a controller has, the less ability it has to make changes in the future. A controller that can reason about how changes would affect a `replicaset<->pod` relationship would have no idea what that would mean for a `customcontrollertype <-> customleaftype` relationship.

cc @kubernetes/sig-apps-feature-req

[2018-06-29 13:11] sdlarsen commented on #65436
It turns out *not* enabling BlockVolume makes it all work.

So the volumeMode in the PersistentVolume either don't need the BlockVolume featureGate or it's silently ignored. Either way, I'm now able to use local storage.

[2018-06-29 13:14] fabiand commented on #65622
I understand this approach. However, I still wanted to raise it, as it seems that this appeared more often in the survey.

[2018-06-29 13:39] #56293 closed

[2018-06-29 13:44] sttts commented on #60423
/remove-lifecycle rotten

[2018-06-29 14:04] carolynvs commented on #64319
This would let us completely redo how service catalog works, and make the UX really rock. I'd love to help make it happen or test it out with a prototype as soon as you've got it! 💯

[2018-06-29 14:09] nikhita commented on #64319
I'm working on this and just discussed it with @sttts today. @enisoc already added something similar in metacontroller https://github.com/GoogleCloudPlatform/metacontroller/tree/master/dynamic/informer to make our lives easy developing it for kube. :)

[2018-06-29 14:14] ant31 commented on #65502
Instead of startup dependencies between container inside a pod,  what about a probe for the whole pod?

it can happen to have mutual-dependencies, in your usecase I think both should be marked as unhealthy until they are both healthy.
Not sure if it simplifies the implementation but maybe a single field can capture this behavior (groupProbes):

[code]
If the groupProbes is set to true, the conditi

[2018-06-29 14:16] harsha-s commented on #65481
@kubernetes/sig-docs-maintainers

[2018-06-29 14:18] harsha-s commented on #65481
/remove-sig-testing-bugs

[2018-06-29 14:48] nmittler commented on #65502
@ant31 yes, I think aggregated health probes would work as well. So long as traffic isn't being routed to the pod until all containers are "healthy", startup timing shouldn't matter for us.

[2018-06-29 15:12] mtaufen commented on #65458
Was the discussion on whether it was ok to put apis in cmd ever resolved?
This was fairly controversial. @liggitt @sttts

On Thu, Jun 28, 2018, 1:14 PM Federico Bongiovanni <notifications@github.com>
wrote:

[2018-06-29 15:14] arkanmgerges commented on #42306
Thanks @canhnt, I read your above comment also. Do you have an example that can run kube-controller-manager as a pod, just a demo that can help me to solve this issue ?

[2018-06-29 15:32] drekle commented on #63197
@Miouge1 can you provide a link to your kubespray PR?

[2018-06-29 15:38] canhnt commented on #42306
@arkanmgerges: You can take a look on the examples [here](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/manifests/kube-controller-manager.manifest) and [here](https://icicimov.github.io/blog/download/kube-controller-manager.yml). In this case, kube-controller-manager is run as a pod rather than a systemd service and bootstrapped by the kubelet.

[2018-06-29 15:47] Miouge1 commented on #63197
@drekle here are the relavnt Kubespray PRs:
https://github.com/kubernetes/kubernetes/pull/60007
And https://github.com/kubernetes-incubator/kubespray/pull/2946

[2018-06-29 15:54] brycekahle commented on #42433
Is this issue considered fixed?

[2018-06-29 15:55] sjenning commented on #64878
So you are saying if you push to `registry:5000/busybox` and set the image path to `busybox` in the pod spec it does not work, right?

I wonder you pushed to `registry:5000/library/busybox` and set the image path to `library/busybox` if it would work?

I also wonder you pushed to `registry:5000/myrepo/busybox` and set the image path to `myrepo/busybox` if it would work?

The docker client does wei

[2018-06-29 15:55] tpepper commented on #64806
I'm for closing this now and using PRs against the CHANGELOG-1.11 file in master.

[2018-06-29 16:12] #64806 closed

[2018-06-29 16:15] rramkumar1 commented on #37518
As stated above ingress-gce does support multiple TLS certs now.

/close

[2018-06-29 16:16] #37518 closed

[2018-06-29 16:16] tpepper commented on #65023
@luxas can we close this now?

[2018-06-29 16:39] joejulian commented on #64649
Actually, 1.11 is not causing the problem. My test method was flawed. 1.10 is still broken but I  can upgrade.

/close

[2018-06-29 16:56] adampl commented on #60807
@xetys is it safe?

[2018-06-29 16:58] ionsquare commented on #52423
Related: Bad STATUS reported for Pod #44298

[2018-06-29 17:01] mattlqx commented on #54482
It's unfortunate that enabling a cloud provider so entirely reworks your whole cluster. I wish I realized this when I was setting up my AWS clusters as they use internal custom hostnames for identification and certificates. I basically have to rebuild everything with EC2's immutable and non-descript internal compute hostnames in order to enable AWS cloud provider. I'm fine with the cloud being the

[2018-06-29 17:41] enisoc commented on #64319
I've been appropriately shamed by @deads2k for not doing that work upstream in the first place. In my defense, at the time the dynamic client hadn't seen much attention in a while; I thought I was the only one using it. :)

I look forward to rebasing on an official upstream library. Let me know if I can help with reviews or anything.

[2018-06-29 17:43] #54084 closed

[2018-06-29 17:43] aveshagarwal commented on #65557
Here is a follow up PR: https://github.com/kubernetes/kubernetes/pull/65643

[2018-06-29 18:05] yliaog commented on #65569
that depends on the DeleteOption setting, if you explicitly set it to "Orphan", then GC would not delete it.

[2018-06-29 18:09] caesarxuchao commented on #65569
Is the pod nameabc-757b9c656-77lmr the one you cannot delete or is it another pod?

Do you have dynamic admission webhooks in your system, especially ones that inject sidecar container to pods? Last time I saw "error syncing item" it's caused by incompatible admission webhook and built-in admission controller.

[2018-06-29 18:10] caesarxuchao commented on #64319
cc @janetkuo I remember your original new GC design depends on this feature.

[2018-06-29 18:16] tuminoid commented on #64878
Yes, that is the issue. `e2e` tests pull `busybox`, which gets autocompleted to `docker.io/library/busybox:latest` instead of getting passed as-is to Docker, which would handle it correctly and would pull it from `registry:5000/busybox:latest` as shown in my previous comment.

We never use any additional paths for our images and unfortunately I just begun my summer vacation today and don't have ac

[2018-06-29 18:22] caesarxuchao commented on #65569
Cannot open the pod_forever_Terminating.json.txt, could you paste it here if it's not too long?

[2018-06-29 18:31] kvaps commented on #63390
Agree same problem:
[code]

[2018-06-29 18:39] 2rs2ts commented on #63858
@mcluseau k8s-merge-robot is a bot user; I think you need to open a new issue

[2018-06-29 18:53] juanvallejo opened #65646 "Improve --watch behavior for events"
When performing a --watch on events, the following improvements should be taken into consideration:
- "delete" events should not be shown, at least for --watch-only as they are not relevant here
- Display the fact that the pod (whose events we are watching) has been deleted (when that's the case)

The first point above could be introduced as new functionality to the `--watch-only` flag.
The second

[2018-06-29 18:53] juanvallejo commented on #65646
/sig cli

[2018-06-29 18:53] brecode opened #65647 "Problem with kubectl apply `-o jsonpath` or `-o go-template` flags"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind** ***bug***

**What happened**:
I have a test suite that uses the output of `kubectl apply` with `-o jsonpath` flag set. It has been working fine in 1.10.5 and below but not in 1.11.

Issuing the following command, results in the following error:
[code]
I get similar error if I use go-templates

**What you expected to happen**:
In previous vers

[2018-06-29 18:57] brecode commented on #65647
@kubernetes-cli-bugs

[2018-06-29 18:58] brecode commented on #65647
/sig cli

[2018-06-29 18:59] brecode commented on #65647
/sig cli
/kind bug

[2018-06-29 19:13] liggitt commented on #65622
I am very much in favor of tools to make it simple to write best-practice controllers, over extending existing controllers' responsibilities