[2016-07-27 03:09] smarterclayton commented on #29651
Also, no scaler / reaper for pet set.  I may tackle some of these, just listing these out as I play around with PetSets and test various things.

[2016-07-27 03:19] jingxu97 commented on #29620
Hi Zihao

Thanks for sharing the information. Yes, there is a bug and the fix is
being reviewed https://github.com/kubernetes/kubernetes/pull/29048.
Hopefully it will be checked in soon. Please let me know if you have any
question about it. Thanks!

Jing

On Tue, Jul 26, 2016 at 7:38 PM, Zihao Yu <notifications@github.com> wrote:

--
- Jing

[2016-07-27 03:19] smarterclayton commented on #29651
client/unversioned.Interface doesn't have an `Apps()` method (going to open a PR for that shortly).

[2016-07-27 03:51] smarterclayton commented on #29651
PetSet internal Replicas type in spec and status needs to be int32

[2016-07-27 04:00] davidchua commented on #29616
Hi @Dmitry1987, I've experienced the same problem. To get around it you'll need to do a couple of steps:

1. Get your user-data directly from aws cli
[code]

2. Take that user-data, copy and paste it into your new launch configuration. Ensure that __Input is already base64 encoded__ is checked. And also that you don't accidentally add linebreaks to your copy-paste.

After that your new launch conf

[2016-07-27 04:26] matthewberkland commented on #29540
Also having this issue.

[2016-07-27 04:34] k8s-merge-robot opened #29656 "[k8s.io] NodeProblemDetector [k8s.io] KernelMonitor should generate node condition and events for corresponding errors {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/26332/kubernetes-pull-build-test-e2e-gce/50675/

Failed: [k8s.io] NodeProblemDetector [k8s.io] KernelMonitor should generate node condition and events for corresponding errors {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #26332.

Previous issues for this test: #28069 #28168 #28343

[2016-07-27 04:45] k8s-merge-robot opened #29657 "[k8s.io] V1Job should keep restarting failed pods {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/6232/

Failed: [k8s.io] V1Job should keep restarting failed pods {Kubernetes e2e suite}

[code]

[2016-07-27 06:30] k8s-merge-robot opened #29659 "[k8s.io] Kubectl client [k8s.io] Update Demo should create and stop a replication controller [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/12023/

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should create and stop a replication controller [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28565 #29072 #29390

[2016-07-27 06:39] likunbyl opened #29660 "Token authorization didn't work"
Hello, everyone

My kubernetes version is 1.3.0.

My setup for apiserver is as follows:

[code]

the /opt/kubernetes/security/token_auth.csv file include:

[code]

My kubelet start script is as follows:

[code]

and the /var/lib/kubelet/kubconfig:

[code]

Now, here is the problem , when I start kubelet, the log says:

[code]

But when I ran the command that excerpted from the log above, it did su

[2016-07-27 06:43] k8s-merge-robot opened #29661 "[k8s.io] [Feature:Example] [k8s.io] Liveness liveness pods should be automatically restarted {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/13311/

Failed: [k8s.io] [Feature:Example] [k8s.io] Liveness liveness pods should be automatically restarted {Kubernetes e2e suite}

[code]

[2016-07-27 07:13] luxas commented on #28138
Argh, how bad. It would be a great feature to have for bare-metal bootstrapping.

Does anyone in @kubernetes/sig-cluster-lifecycle have bandwidth to take this on?
(As a proposal in the first place)

[2016-07-27 07:27] sttts commented on #29659
Duplicate of #28608. Closing.

[2016-07-27 07:27] #29659 closed

[2016-07-27 07:27] JorritSalverda commented on #29202
I've mailed the details, although I've downgraded the nodes to version 1.2.5 since, because issue https://github.com/kubernetes/kubernetes/issues/28898 is keeping me from running go.cd in a fully functional way. It has the same issue though at that lower version.

[2016-07-27 07:37] massimiliano-mantione commented on #28643
I have the *same* problem with block storage volumes on GCE (I mean the GCE
equivalent of EBS).
Will the fix also fix the issue on GCE?

On Mon, Jul 25, 2016 at 7:04 PM dhawal55 <notifications@github.com> wrote:

[2016-07-27 07:41] JorritSalverda commented on #29202
I realize now that having nodes in different zones might be the cause of my issue, because the disks are in europe-west1-c and I have nodes in europe-west1-c, europe-west1-d and europe-west1-b.

[2016-07-27 07:46] anuribs commented on #29540
I fixed the issue by the following steps:
1. Get the secret by: 'kubectl get secret --namespace=kubesystem
2. Delete the secret by: 'kubectl delete secretNAME --namepace=kube-system
3. Delete the pod: `kubectl delete po podName --namespace=kube-system
The replication controller will now create a new pod that will use the new secret.
Now you should be able to access the dashboard.

[2016-07-27 07:51] JorritSalverda commented on #28898
Are secrets automatically updated in 1.3? The timestamps in the last directory listing are about 16 minutes later, so it seems kubernetes automatically overwrites the changes I did after mounting the secret.

[2016-07-27 07:53] Dmitry1987 commented on #29616
@davidchua , awesome! thank you!

[2016-07-27 07:55] JorritSalverda commented on #18372
Can this refresh be enabled/disabled? It's causing me issues when renaming the files in a mounted secret and changing permissions, see https://github.com/kubernetes/kubernetes/issues/28898

[2016-07-27 07:58] nebril commented on #29607
@jberkus Multiple variables in one ConfigMap data value and getting rid of entrypoint scripts is exactly the goal that this feature is meant to achieve. It actually works already in the PoC (with env vars), I probably should have pointed this out more clearly.

@pmorie your proposal makes a lot of sense, I will investigate older discussions and think about formulating new issue, which will include

[2016-07-27 08:00] SerCeMan opened #29662 "Kubernetes doesn't perform sync after completing a task"
I have an installed Kubernetes cluster in CoreOS infrastructure with [configured iSCSI](https://github.com/kubernetes/kubernetes/tree/master/examples/volumes/iscsi).

It seems like Kubernetes doesn't perform sync syscall after completing a task. In result, I can have an illegal unsynchronized state in the volume. If the task state was "succeeded" I can put sync operation at the end of a task, but

[2016-07-27 08:03] gbergere commented on #29548
Hi @jingxu97 thanks for you reply. Yes sure please find here the more complet version :
[code]

[2016-07-27 08:39] nagarjung commented on #29354
Hi @yujuhong, I would like to work on this issue

[2016-07-27 08:41] #29616 closed

[2016-07-27 08:44] ConorNevin opened #29665 "Kubectl bash completion doesn't complete on port-forward"
On Kubectl v1.3.2 the kubectl bash completion doesn't complete pod names when using the kubectl port-forward command

[2016-07-27 08:48] Dmitry1987 commented on #29616
For anyone else that will stumble across this question:
I found a nice article that explained how to decode this gzip user-data (appeared that it's not encryption but a gzip)

run this to save launch configurations: **aws autoscaling describe-launch-configurations > launch-configs.json**   (as suggested by @davidchua )
-> then take the user-data base64 text from this json, and paste to userdata-or

[2016-07-27 09:11] Trane9991 commented on #29617
Also, I'm having the issue with mounting default secrets sometime:

[code]

and this loop is endless. Volume keep gettign remounted.

[2016-07-27 09:36] AdoHe opened #29668 "move RangeRegistry to a separate package"
FYI. I am implementing other resource allocation for our internal kubernetes version, and want to use this interface, now it resides in `service` package, but I really want to move it to other package like `rangeallocation`. @smarterclayton @lavalamp wdyt?

[2016-07-27 10:12] Trane9991 commented on #29059
I'm facing the same issue.

Kubernetes 1.3.2 on GKE

Container stuck on the *ContainerCreating* phase since volumes never get mounted.
Since default secret keep being remounted all the time, my secret never get mounted:
'''
 I0727 10:05:31.376638    3596 reconciler.go:138] UnmountVolume operation started for volume "kubernetes.io/secret/my-secret" (spec.Name: "volume-0") from pod "ce0c63a2-53de-11

[2016-07-27 10:18] #29211 closed

[2016-07-27 10:18] soltysh commented on #29657
Still the same GKE problem #28656.

[2016-07-27 10:18] #29657 closed

[2016-07-27 10:31] zihaoyu commented on #29620
Thanks @jingxu97. Fell free to close this issue

[2016-07-27 10:58] simonswine commented on #23663
@bprashanth
Yes before I upgraded yesterday we had a 1.2 GKE cluster (I disabled L7 lbc with scaling the RC down). Then after the upgrade on the master, the forwarding rules were created in GCE. Then  I applied with a v1.3.0 kubectl:

[code]

But the forwarding rules were not deleted afterwards, even a manual deletion did not help.

[2016-07-27 11:03] aneeshd16 commented on #13313
Just hit this after setting up a cluster on AWS using 1.3.2. I understand that some solid fixes are underway, but are there any recommended hacks/workarounds for this? k8s newbie here, will this issue happen everytime i set up a cluster?

[2016-07-27 11:22] k8s-merge-robot opened #29669 "kubernetes-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-build/11246/

Run so broken it didn't make JUnit output!

[2016-07-27 12:20] davidwalter0 commented on #28525
What support for route53 were you thinking of including, create a route from an annotation, read, update and delete?

Would the goal be to initially create on service/ingress create and delete on service/ingress destruction?

Where would the credentials for aws be located, does this assume that the cluster is natively running on AWS so the cluster credentials would be available (somewhere in the a

[2016-07-27 12:51] erikgrinaker commented on #27725
Great, thanks @rootfs!

[2016-07-27 13:32] rootfs opened #29670 "NoDiskConflicts predicate doesn't work for Persistent Volumes"
In its [implementation](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/predicates/predicates.go#L87), only basic volumes are inspected. Persistent volumes are skipped.

[2016-07-27 13:38] pmorie commented on #29607
@nebril Also for the record, we have discussed in the past having a 'super volume' that knew how to project the three different types of info into a volume (ConfigMap, Secret, Downward API) into a single volume.  What you want sounds like that + a template.

[2016-07-27 13:47] liyubobj opened #29671 "GPU volume injection support"
As GPU support on k8s is comming #28216 , we plan to implement GPU volume injection support for kublet and k8sm executor, as what `nvidia-docker-plugin` did: https://github.com/NVIDIA/nvidia-docker. This feature can inject GPU driver into docker as a volume, so that no GPU driver is required for GPU docker image to talk with GPU.

We have two choices of this implementation:
* Integrate nvidia-dock

[2016-07-27 14:01] alexbrand commented on #7547
Is this still a valid bug? I can't tell if using `all` is still desired functionality. I get the following error message:
[code]

[2016-07-27 14:11] smarterclayton commented on #29668
Yes, range allocation was always intended to be generic, although there are a *few* specific wrinkles with services.

Here is how we're using it in OpenShift - https://github.com/openshift/origin/blob/master/pkg/security/uidallocator/allocator.go (for allocating ranges of Unix UIDs) and we have someone working on external IP blocks.

[2016-07-27 14:16] smarterclayton commented on #7547
I think it's still desired functionality - this happens a lot with services, deployments, and volumes in many cases (they're all named the same).  It's just not high priority.

[2016-07-27 14:19] goltermann commented on #27653
This is an issue marked v1.3 and kind/documentation.  Can you get it fixed up this week?

[2016-07-27 14:19] goltermann commented on #27363
This is an issue marked v1.3 and kind/documentation.  Can you get it fixed up this week?

[2016-07-27 14:19] goltermann commented on #27076
This is an issue marked v1.3 and kind/documentation.  Can you get it fixed up this week?

[2016-07-27 14:19] goltermann commented on #26201
This is an issue marked v1.3 and kind/documentation.  Can you get it fixed up this week?

[2016-07-27 14:19] goltermann commented on #25893
This is an issue marked v1.3 and kind/documentation.  Can you get it fixed up this week?

[2016-07-27 14:20] goltermann commented on #23855
This is an issue marked v1.3 and kind/documentation.  Can you get it fixed up this week?

[2016-07-27 14:22] goltermann commented on #23188
Closing issue.  @druidsbane please reopen with details if this still happens with latest docs and bits.

[2016-07-27 14:22] #23188 closed

[2016-07-27 14:22] goltermann commented on #23166
This is an issue marked v1.3 and kind/documentation.  Can you get it fixed up this week?

[2016-07-27 14:22] goltermann commented on #22479
This is an issue marked v1.3 and kind/documentation.  Can you get it fixed up this week?

[2016-07-27 14:23] goltermann commented on #17868
This is an issue marked v1.3 and kind/documentation.  Can you get it fixed up this week?

[2016-07-27 14:23] goltermann commented on #21225
This is an issue marked v1.3 and kind/documentation.  Can you get it fixed up this week?

[2016-07-27 14:28] ncdc commented on #23533
Looks like we hit this again in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29457/kubernetes-pull-test-unit-integration/36626/

[2016-07-27 14:33] tmrts commented on #23335
@feiskyer what's the plan for this feature. Is there any current PR/discussion going around this that I'm missing?

[2016-07-27 14:35] jcmoraisjr opened #29675 "RBAC - wildcard on nonResourceURLs"
I am using RBAC authorization on Kubernetes 1.3.2 and trying to figure out a way to allow kubectl execute its queries. On some commands like `kubectl get` this is enought:

[code]

But if I try to execute eg `kube run` it fails with:

[code]

I tried to use wildcard like `/api/*` but no luck. Currently my `ClusterRole/api` resource only work if I configure it like this:

[code]

Note that if I use

[2016-07-27 14:36] ncdc commented on #23335
OpenShift still needs it to support our image build functionality. @bparees @smarterclayton have we done any design work to replace attach with another mechanism?

[2016-07-27 14:36] bgrant0607 commented on #28381
This is basically a dupe of #7483

[2016-07-27 14:43] smarterclayton commented on #7483
So I think that a serious problem with the cluster today is when pods can't be created for the following reasons:

1. Quota
2. Policy decisions (pod security policy)
3. Placement constraints
4. Any other logic that can block progress

I think 1-3 are enough to justify some small amount of status to be rolled up - it would *massively* improve the user experience of naive clients (kubectl describe r

[2016-07-27 14:51] bparees commented on #23335
@ncdc @csrwng investigated this for us, resulting in these trello cards:
https://trello.com/c/0MiXrrOJ/970-5-use-exec-instead-of-attach-in-custom-builds
https://trello.com/c/7M3VDBly/969-3-use-exec-instead-of-attach-in-docker-and-s2i-builds

[2016-07-27 14:56] smarterclayton commented on #23335
I'm going to draw a bit of a higher line - attach is a pretty
important scenario for any platform that runs Linux processes.

I think the bar for taking this feature away is a lot higher than
"it's hard to do", I think it fundamentally limits what a container
platform can do.

Stdin, stdout, and stderr are part of the bedrock of computing.  We
need to have very, very good arguments why they are no

[2016-07-27 14:58] jaxxstorm commented on #29624
I rebuilt everything from scratch and it seemed to just work, apologies for the erroneous issue

[2016-07-27 14:58] #29624 closed

[2016-07-27 15:01] bprashanth commented on #23663
I'm willing to believe that it didn't do anything. The controller will completely ignore the ingress, not treat it as a deletion. I can be convinced eitherway, because I didn't want the controller to inadvertently tear down a production setup with the annotation change. Please file a bug if you'd like me to consider the teardown use case.

[2016-07-27 15:04] alexbrand commented on #11861
I am unable to repro this issue:
[code]
Setup details:
* Token file with two users: admin, bob
* ABAC authZ. Allow everything for admin, allow bob read-only access to everything
* Used admin user to create the nginx-rc

@gosharplite Was this setup similar to yours? If so, it seems like this has been fixed and is no longer an issue. `stop` has also been deprecated so I wonder if we should just clos

[2016-07-27 15:04] timothysc commented on #27076
I'm not aware of known issues with docker 1.10.3 that we ship, we've actively patched the issues we uncovered (https://github.com/docker/docker/compare/v1.10.3...runcom:docker-1.10.3-stable).   However, we have not gone through a full re-based testing cycle yet, so we may uncover something in the next month.  If so, I'll be sure to update.  /cc @derekwaynecarr

[2016-07-27 15:04] bprashanth commented on #23663
One would want to leave the old vip up and running for, eg: the long tail of dns disobeyors

[2016-07-27 15:16] vefimova commented on #17406
@yifan-gu @thockin Guys, please have a look at #29378 it enables to use added in docker 1.12 hostnetwork+dns feature.

[2016-07-27 15:21] vefimova commented on #29377
Basically, it's a duplicate of #17406

[2016-07-27 15:24] #29377 closed

[2016-07-27 15:39] timothysc commented on #26782
@runcom do you have repro instructions?

What is odd is you have b2b : "sucessfully acquired lease"

[2016-07-27 15:51] tmrts commented on #27097
@timstclair @yujuhong the next action item for this is to analyze & refactor the current cAdvisor usage in kubelet, is that correct?

[2016-07-27 15:52] bgrant0607 commented on #7483
@kargakis @smarterclayton I clarified with @janetkuo. Her comment was directed at @foxish rather than a general statement.

We should an aggregate status field (probably multiple of them). I commented on #29481 as well.

As for identifying reasons such as quota, etc., that's #21912.

[2016-07-27 15:52] fejta commented on #28735
@lavalamp @dchen1107  these all seem like legitimate errors to me:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/19917/ -> added a `jenkins-e2e-influxdb-pd` disk

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/7706/ -> added a `jenkins-e2e-master-ip` address

any idea why/whether we are leaking these resources?

The f

[2016-07-27 15:57] runcom commented on #26782
@timothysc ?

[2016-07-27 15:58] SEJeff commented on #2156
Not seeing a link to it in this issue, so to help the next person looking, this is fixed in master #24970. It implements the [scheduled job api](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/scheduledjob.md) which seemingly uses a normal crontab style API for job scheduling.

[2016-07-27 16:03] soltysh commented on #2156
@SEJeff not quite, that PR introduces only the API part. The remaining (not merged yet) parts are tracked in https://github.com/kubernetes/features/issues/19.

[2016-07-27 16:05] SEJeff commented on #2156
Gotcha, thanks

[2016-07-27 16:08] timothysc commented on #26782
Sorry nick misfire on autocomplete.. @therc

[2016-07-27 16:15] pmorie commented on #29555
@asalkeld It's not just the namespace -- for example, if you reference the same configmap or secret in two different volumes in the same pod, one of them will never be mounted.

[2016-07-27 16:16] pmorie commented on #28616
Fix: #29673

[2016-07-27 16:20] lavalamp commented on #29002
It's unfortunately not really easier to do it for the single-master case,
since we have to support the multi-master case. If we add an exception for
the single master case that adds complexity and actually makes the problem
a bit worse for the multi-master case.

The "Kubernetes-y" thing to do here would be to add a status component to
the 3rd party resource object and have each apiserver report w

[2016-07-27 16:22] fejta commented on #29669
test/e2e_node/e2e_service.go:364: unknown syscall.SysProcAttr field 'Setpgid' in struct literal

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-build/11246

Looks like we should revert https://github.com/kubernetes/kubernetes/pull/29380?

[2016-07-27 16:34] spacepluk opened #29678 "Add the option to bind to a different address with kubectl port-forward"
Even a switch to bind to `0.0.0.0` would do the trick for me.  My use case is debugging when the client needs to be in a Windows VM.

[2016-07-27 16:38] bacongobbler commented on #3752
Yes, if that's the case then #29523 would be "the right one".

[2016-07-27 16:40] timothysc commented on #26782
nvmd I see the issue(s), fix in flight.

[2016-07-27 16:41] bgrant0607 opened #29679 "kubectl view commands"
We're adding `kubectl set` commands to change specific fields #21648.

Similarly, I think we need `kubectl view` commands (`get` already has a meaning) to extract specific fields without needing jsonpath or Go templates.

| Subcommand | Issue # | PR # | Assignee |
| --- | --- | --- | --- |
| \- [ ] image |  | #51428 | @zjj2wry |
| \- [ ] annotation | #19817 |  |  |
| \- [ ] label | #19817 |  |  |

[2016-07-27 16:43] timothysc commented on #27097
/cc @ConnorDoyle

[2016-07-27 16:50] therc commented on #26782
I haven't seen this since, but thanks for fixing it!

[2016-07-27 16:50] saad-ali commented on #29633
Good find @yifan-gu.

[2016-07-27 16:52] therc commented on #29671
This was the main/first use case for #23892
Feel free to comment there

[2016-07-27 16:52] bgrant0607 opened #29681 "Document kubectl --v=9"
Which outputs equivalent curl commands for the API calls it performs.

[2016-07-27 16:53] Dmitry1987 commented on #25174
Thanks @vishh ,  i found this file in my distro at "/etc/sysconfig/kubelet" location, it might help me with some types of instances.

[2016-07-27 16:56] #29669 closed

[2016-07-27 16:59] saad-ali commented on #29202
Yep, disks must be in the same zone as the node they attach to.

Thanks, I got your email. I'll take a look (when I get some time in the next couple days or so) to see if I can identify the cause.

[2016-07-27 17:01] bgrant0607 opened #29682 "Eliminate unversioned document warning"
https://github.com/kubernetes/kubernetes/blob/master/cmd/mungedocs/unversioned_warning.go

This warning is no longer necessary. User-facing docs are in kubernetes.github.io.

We should strip the warning from docs in this repo and eliminate the munger.

cc @Kashomon

[2016-07-27 17:07] dharmisha commented on #19332
I am facing the same issue I am using flannel and coreos, please let me know the resolution

[2016-07-27 17:11] ConnorDoyle commented on #27097
/cc @andrzej-k @IzabellaRaulin @jcooklin

[2016-07-27 17:19] smarterclayton commented on #7483
Thanks, sorry for the confusion.

[2016-07-27 17:39] tmrts commented on #28789
I'm adding myself as the owner of `Rkt integrates with Kubernetes via the new API (?). OWNER: CoreOS.`

I'll try to help out with the other items as well and own some if needs be.

[2016-07-27 17:44] jberkus commented on #29607
@pmorie sounds great to me

[2016-07-27 17:58] simonswine commented on #23663
@bprashanth seems like your last message is not related

I will make a new issue for that teardown. I just verified when I create a new ingress with the annotation, it gets ignored as expected... Thanks for your help!

[2016-07-27 18:03] bprashanth commented on #23663
no it was, I meant:
* you have a working gce l7 with vip 1.2.3.4
* you plug that in dns for foobar.com
* clients have resolved foobar.com to 1.2.3.4
* now you change the ingress to ingress.class=nginx
* the gce controller ignores the ingress, the nginx controller allocates a new vip, say 2.3.4.5
you plug 2.3.4.5 into foobar.com DNS

If the controller were to immediately teardow 1.2.3.4 all clients

[2016-07-27 18:09] simonswine commented on #23663
@bprashanth : Now I see the connection. I thought of VIPs in the service range.

I get your point, I think you're right: There is no need for tearing down load balancers, in fact it's a bad idea.
Thanks

[2016-07-27 18:09] bprashanth opened #29688 "Investigate dns helathz container spikes"
Observed weird memory spikes for both the dns healthz and kube-dns pods in production. Kube-dns didn't oom because there's enough headroom, but healthz did. I can't explain the spikes yet. I tried a bunch of different repros: no resolv.conf, bad nslookup command, sharing the node with cpu hogs etc, but was unable to trigger it. The memory grows, but stays under 10Mi.

As a short term mitigation, w

[2016-07-27 18:20] rickypai opened #29691 "Whitelist EC2 IAM Permissions Required by Kubernetes Master"
Currently, the IAM Policy template for Kubernetes master grants `ec2:*` permissions, which means the role have the API access to potentially terminate other instances even if they are not in the Kubernetes cluster.

[code]
https://github.com/kubernetes/kubernetes/blob/master/cluster/aws/templates/iam/kubernetes-master-policy.json#L6

A suggestion is to instead whitelist the actions required for Ku

[2016-07-27 18:23] jingxu97 commented on #29059
Hi Taras,

I think your problem is different. The log shows that /var/lib/kubelet/pods/
ce0c63a2-53de-11e6-b2f2-42010a84003a/volumes/kubernetes.io~secret/secret:
no such file or directory

Looks like it very much related to a name collision bug and there is fix
being reviewed https://github.com/kubernetes/kubernetes/pull/29673

Jing

On Wed, Jul 27, 2016 at 3:13 AM, Taras <notifications@github.com

[2016-07-27 18:27] brendandburns commented on #28260
I'm going to take this.  Initial PR expected soon-ish.

[2016-07-27 18:31] yannchristensen commented on #29638
forgot to include version information (also added inline):
Client Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.4", GitCommit:"3eed1e3be6848b877ff80a93da3785d9034d0a4f", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.0+coreos.0", GitCommit:"1c7c17f64b669d94307f6e8bb09e4ca69f63d6b9", GitTreeState:"clean"}

[2016-07-27 18:47] matchstick commented on #29633
@yifan-gu @saad-ali This is a great find. Is this a regression we should target into 1.3? Or safely put this in 1.4?

[2016-07-27 18:48] matchstick commented on #29633
@yifan-gu @saad-ali Marking for 1.4 just to make sure we don't lose it.

[2016-07-27 18:48] jingxu97 commented on #29297
Hi @kfox1111, right now we have a couple of PR out addressing mount/unmount
timeout issue and should be checked in version 1.3.4. Could you please try
again when the upgrade is available. If you want us to further debug your
problem, please share your kubelet log with us. Thanks!

On Tue, Jul 26, 2016 at 10:09 AM, kfox1111 <notifications@github.com> wrote:

--
- Jing

[2016-07-27 18:52] yifan-gu commented on #26201
I think this is fixed. Closing.

[2016-07-27 18:52] #26201 closed

[2016-07-27 18:56] saad-ali opened #29695 "Volume Manager Data Structure Should Use Pod UID in Key"
**Problem**
This issue is related to https://github.com/kubernetes/kubernetes/issues/29555 which was fixed by PR https://github.com/kubernetes/kubernetes/pull/29673. That issue fixed name collisions for non-attachable volumes (which is much more common), but not for attachable volumes.

Specifically, if a single pod references the same attachable disk via two different volume names (possibly to re

[2016-07-27 19:04] nikhiljindal opened #29698 "kubectl scale should use the scale subresource"
`$kubectl scale --replicas=3 deployments/my-deployment --v=9` gives

[code]

It is using PUT. It should just use the deployments/scale endpoint.

cc @pwittrock @janetkuo

[2016-07-27 19:12] jingxu97 commented on #29297
Hi Gabe, from log, we see the error, that means that secret object
"core-config-files" is not created. Could you please check whether the
secret object was created before creating the pod that uses the secret?

E0722 13:57:45.600651    3450 secret.go:168] Couldn't get secret
default/core-config-files

On Fri, Jul 22, 2016 at 7:23 AM, Gabe Rives-Corbett <
notifications@github.com> wrote:

--
- Jing

[2016-07-27 19:18] kayrus commented on #19332
@dharmisha try to remove the token using kubectl, and it should be recreated and then work flawlessly.

[2016-07-27 19:21] kfox1111 commented on #29297
@jingxu97: Yup. pr 29641 really looks similar, so I'll test as soon as that lands in a release. Do you know roughly how long that will be? (or a place to watch?)

[2016-07-27 19:26] timothysc commented on #1542
@bgrant0607 This issue is pretty old, and I'm not sure the original intent applies given @mikedanese comment.  I'd move to close this more general issue, and open specific ones where they apply.

[2016-07-27 19:27] jingxu97 commented on #29297
I think in the middle of next week it should be ready. Thanks and please
let us know your testing results.

Jing

On Wed, Jul 27, 2016 at 12:22 PM, kfox1111 <notifications@github.com> wrote:

--
- Jing

[2016-07-27 19:55] kfox1111 commented on #29297
Will do, and thanks for your help.

I managed to find/subscribe to the announce list. I'll keep an eye out for it.

[2016-07-27 20:27] dharmisha opened #29701 "I have installed kubernetes using the kubernetes_provider=ubuntu ./kube-up.sh and I get an error while executing kubectl exec command. I get the following error: Error attaching, falling back to logs: Upgrade request required."

[2016-07-27 20:37] derekwaynecarr commented on #29040
I am closing this since it has not been reported since #29134 merged.

[2016-07-27 20:37] #29040 closed

[2016-07-27 20:53] pmorie opened #29703 "Nodes sometimes fail to become ready in E2E cluster"
This cluster failed validation because only one of four nodes became ready:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/27199/kubernetes-pull-build-test-e2e-gce/50752/build-log.txt

[2016-07-27 21:24] #29297 closed

[2016-07-27 21:33] dhasenancyngn opened #29705 "AWS: bootstrap fails in us-west-1c: timeout downloading kubernetes-server binary"
Command used to start the cluster:

[code]

The master node starts (or rather, it starts and is unreachable, but if I stop and restart the instance, it becomes reachable), but kubernetes doesn't come up on the node. With some investigation, I discovered that `download-or-bust` sets a timeout of 80 seconds to download each file. I was able to download it manually, but the download took between five

[2016-07-27 21:37] dhasenancyngn commented on #29705
For reference, I do not experience this problem if I bring up the cluster in us-east-1.

[2016-07-27 21:49] pmorie commented on #29695
Let me add to this also:

1.  We should make a distinction in how we treat non-attachable volumes; they shouldn't be forced through an 'attach' phase.  If a volume isn't attachable, go right to trying to mount it.  This will save one iteration through the sync loop in the volume manager reconciler for non-attachable volumes and reduce mount latency for them a bit.
2.  We should remove the optional

[2016-07-27 22:04] dchen1107 commented on #25276
This one was filed for using GCI image for nodes by default.

[2016-07-27 22:18] yujuhong commented on #29354
@nagarjung Here is the doc for running e2e tests in a local cluster: https://github.com/kubernetes/kubernetes/blob/master/docs/devel/e2e-tests.md#local-clusters
I rarely run the tests locally, so I can't attest the validity of the doc :)

The error message changes based on the test, but like I mentioned in the original post, the tests which use the `e2e/framework/util` and the `util/wait` package

[2016-07-27 22:22] dchen1107 commented on #29703
I quickly checked failed logs, and found only master node is at ready state. Kubelet logs are full of the following error message:

I0727 21:08:35.638175    3475 kubelet.go:2079] skipping pod synchronization - [failed to start eviction manager unable to find data for container /]
I0727 21:08:40.638356    3475 kubelet.go:2079] skipping pod synchronization - [failed to start eviction manager unable

[2016-07-27 22:22] yujuhong commented on #29308
Just to clarify, the pods were deleted in the test (hence the `pods remaining: [ ]` message).
I mentioned this before in https://github.com/kubernetes/kubernetes/issues/26982#issuecomment-233484093

[2016-07-27 22:23] dchen1107 commented on #29703
I am closing this one for now. Please re-open it if I were wrong. I will take a deep look then.

[2016-07-27 22:23] #29703 closed

[2016-07-27 22:25] ye commented on #13382
I am seeing the exact same errors today on our internal gitlab k8s cluster. All `kubectl` commands were working just half an hour ago. No any significant events happened in the past half an hour to the best of my knowledge.

[code]
Running k8s on GCP. `kubectl` is installed via `gcloud components install kubectl`

[2016-07-27 22:25] derekwaynecarr commented on #29703
I'll have to debug this.  I was unable to reproduce locally today.  Will investigate tomorrow.

[2016-07-27 22:26] k8s-merge-robot opened #29707 "[k8s.io] Downward API volume should provide container's memory request {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29700/kubernetes-pull-build-test-e2e-gce/50760/

Failed: [k8s.io] Downward API volume should provide container's memory request {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #29700.

[2016-07-27 22:29] dchen1107 commented on #29645
@minjs Can you run the following commands and copy & paste the output here:

* docker info
* kubelet --version
* kubectl describe nodes <node-id>

[2016-07-27 22:30] bprashanth opened #29708 "Generic way to grant users access to databases"
Currently databases like mysql have several ways to lock access: source ip, user/password, ssl etc. There's a lot of confusion about how to do this on various platforms. Some people use cloudsql and setup a service accout proxy, or run a petset mysql and whiltelist ips/hostnames, just grant root access to 0.0.0.0 etc.

We should figure out what works best cross platform and come up with good docum

[2016-07-27 22:36] dchen1107 commented on #29590
There must be a misunderstand here. :-) In one of my comments to the proposal, I brought up Always does't make sense for InitContainer at all. Since we don't have per container restart policy, I suggested that if the policy is Always, it should fall back to OnFailure for alpha release so that we wouldn't be blocked by API design. I thought that is what we agreed upon, and also how the current impl

[2016-07-27 22:39] bprashanth commented on #29645
I'm going to guess it's logs. If that's the case we should logrotate more furiously. I can double check the logrotate config.

We should also partition disk better (i.e put docker logs on a different partition etc).

I think if we hit the point where root disk fills up, for whatever reason, all bets are off. We should protect the node from this condition in the first place.

[2016-07-27 22:40] jmhodges opened #29709 "error or display unhealthy backend if ingress update adds ClusterIP service"
I added a new rule to my ingress that added another service, but had not realized I needed to make my service a NodePort instead of a ClusterIP. The `kubectl replace` took the update, and the rule seemed to be added correctly when I did a describe but the backend never actually got put in place.

It would be nice for the replace to either error out when the service is the wrong type or for it to s

[2016-07-27 22:40] k8s-merge-robot opened #29710 "[k8s.io] Kubectl client [k8s.io] Kubectl api-versions should check if v1 is in available api versions [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/12066/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl api-versions should check if v1 is in available api versions [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-27 22:44] dchen1107 commented on #29540
@anuribs Thanks for updating your fix / solution here. I am closing the issue for now. Please re-open or file a new issue if you think we can improve the system usability and document in this case. Thanks!

[2016-07-27 22:59] bprashanth commented on #29451
Assigning to Chao since he has context to triage

[2016-07-27 23:00] yujuhong commented on #28124
Update: There is a fix posted in https://github.com/tchap/go-patricia/issues/24. W can't patch docker 1.11 anyway, so the soak test will continue failing.

@dchen1107, this is the docker memory leak I mentioned yesterday.

[2016-07-27 23:26] bprashanth opened #29711 "Figure out where we store kube-dns"
Turns out in 1.3 we stored it in saltbase/salt and then moved it back to addons/
Where do we want this? Should cherry-picks ignore the move?

@mikedanese @girishkalele @thockin

[2016-07-27 23:27] asalkeld commented on #29555
Need this change https://github.com/kubernetes/kubernetes/pull/28534/files in secrets too.

[2016-07-27 23:29] bprashanth commented on #29711
Oh, sorry, just noticed https://github.com/kubernetes/kubernetes/issues/28553.
So I'm guessing we want to keep it in addons, but 1.3 can have it in saltbase/salt.

[2016-07-27 23:29] #29711 closed

[2016-07-27 23:34] dchen1107 commented on #29645
@bprashanth It is very possible caused by the logs. But we don't know the user's running environment yet. We can partition disk better for GKE / GCE users by default, but we cannot have the full control for the users who build the cluster from the scratch.

Also in the initial report, the user mentioned that the disk usage is dropped, but node is not recovered. From snippet he attached, you can se

[2016-07-27 23:38] bprashanth commented on #29645
My point is that all sorts of unnecessary things can happen if root disk is full for some period of time. We can't guarantee recovery. We ran into issues where DNS will break because we overwrite write /etc/resolv.conf, even if root disk frees up later, we wont fix the broken resolv.conf for at least 24h.

[2016-07-27 23:38] dchen1107 commented on #29643
cc/ @justinsb @zmerlynn

[2016-07-27 23:42] bprashanth opened #29712 "update kube-dns changelog"
A couple of intermediate commits have caused changelog drift in a way that the current list of events doesn't make sense. Eg: https://github.com/kubernetes/kubernetes/commit/7be429307bdc7fc545c671e46be91f27e322f378 updated `Version 1.5 (Thu June 23 2016 Nikhil Jindal <nikhiljindal@google.com>)` but the current version is v17.

Nikhil please update with the context you have, and then reassign to me

[2016-07-28 00:11] minjs commented on #29645
kubectl describe nodes.... I have to say I already remove/add node and restarted kubelet.

Name:			min-server004
Labels:			kubernetes.io/hostname=min-server004
CreationTimestamp:	Tue, 26 Jul 2016 15:50:46 -0700
Phase:
Conditions:
  Type		Status	LastHeartbeatTime			LastTransitionTime			Reason		Message
  ----		------	-----------------			------------------			------		-------
  Ready 	True 	Wed, 27 Jul

[2016-07-28 00:12] minjs commented on #29645
[root@min-server004 ~]# kubelet --version=true
Kubernetes v1.2.0
[root@min-server004 ~]# docker info
Containers: 83
Images: 96
Server Version: 1.9.1
Storage Driver: devicemapper
 Pool Name: docker-253:1-50657941-pool
 Pool Blocksize: 65.54 kB
 Base Device Size: 107.4 GB
 Backing Filesystem:
 Data file: /dev/loop0
 Metadata file: /dev/loop1
 Data Space Used: 6.656 GB
 Data Space Total: 107.4 GB
 Da

[2016-07-28 00:13] Random-Liu commented on #29590
IIRC, now the policy is:
* If the init container exited with exit code =0, it will not be restarted.
* If the init container exited with exit code !=0:
  * If the restart policy is `RestartPolicyNever`: it will not be restarted.
  * If the restart policy is not `RestartPolicyNever`: it will be restarted.

I believe the current logic is equivalent to Never and OnFailure.

[2016-07-28 00:22] AdoHe commented on #29698
/cc

[2016-07-28 01:09] #29456 closed

[2016-07-28 01:10] bprashanth opened #29715 "logrotate container logs more frequently"
We currently logrotate every hour. This has caused some issues on occasion, because we allow local ssd with high throughput and the hourly logrotate daemon takes too long to zip up logs competing with the containers that are slamming logs out to disk. This results in the nodes disk filling up to a point where logrotate itself can't work because there's no disk left.

We can just invoke logrotate e

[2016-07-28 01:11] bprashanth commented on #29645
fyi https://github.com/kubernetes/kubernetes/issues/29715 for logs

[2016-07-28 01:12] yujuhong commented on #27097
Yes, that'd give us a better idea of what metrics we need to support the current implementation.
I may not have time to get to this soon, so help will be welcome

[2016-07-28 01:27] yujuhong commented on #29039
I may be wrong, bu I think docker is installed and started by default on the node. Unless we manually remove the iptable rules created by docker, we'll need to build a new image.

By the way, I tried running kube-proxy on the node, and then the host port magically worked.
Is it possible that host port relies on kube-proxy mucking with the iptable?

I find the comment below in `hostport.go`
https:/

[2016-07-28 01:30] smarterclayton commented on #29708
Interestingly the way approach this today in OpenShift is to generate
a unique secret at instantiating time.  With templates and the ability
to create a secret that "requests" some level of entropy on creation
we can approximate that in Kube, or just use things like "kubectl
create secret tls" in more forms.  I'd like to see secret generation
(or at least the ability to request a unique value be g

[2016-07-28 01:31] Random-Liu commented on #29039
@yujuhong Cool. Looks like that should be the reason!
Kubenet should not rely on kube-proxy.

[2016-07-28 01:37] bprashanth commented on #29039
I suppose we're just assuming the chain exists and we should create it if it doesn't

[2016-07-28 01:43] bprashanth commented on #29708
We still need to hook up the user - secret - db, right? or is it fine to leave that to the admin? eg: with mysql a new user + password needs to be added to the db, or each pet in the petset needs access to the master. Granting access usually involves sending some grant commands over tcp, I suppose we can do that with an `on-change` notification that triggers the master to notice a new member and a

[2016-07-28 02:16] smarterclayton commented on #29590
What I meant to qualify was that in the proposal we describe the two extremes (always and never) but don't describe on failure.  The behavior is never Always, but the proposal doesn't explain the fallback clearly.

[2016-07-28 02:28] smarterclayton commented on #29708
When we do first party stuff (stuff we expect people to consume), typically
we have the init container / container prime the DB, whichever one is the
"master" (whatever that means, on-start / on-change) takes responsibility
for adding that into the DB if the db is net new, just because that ends up
with a good experience for end users.  Not strictly required, and puts a
burden on the image author,

[2016-07-28 02:28] derekwaynecarr commented on #29308
I was chasing down another p0 but now that that is resolved will try to
look for more that we can do here.

On Wednesday, July 27, 2016, Yu-Ju Hong <notifications@github.com> wrote:

[2016-07-28 02:52] #29671 closed

[2016-07-28 03:04] justinsb commented on #29643
If you used kube-up, kops is a tool that is still young but which a lot of people are using with good results, including to upgrade a cluster from 1.2 -> 1.3:  https://github.com/kubernetes/kops/blob/master/docs/upgrade_from_k8s_12.md

The best alternative is otherwise to bring up a second cluster and move your manifests across.  If you do that in the same zone you can bring your EBS volumes acros

[2016-07-28 03:15] saad-ali commented on #29555
@asalkeld With @pmorie changes in PR #https://github.com/kubernetes/kubernetes/pull/29673 that will no longer be needed.

[2016-07-28 03:15] derekwaynecarr commented on #29033
I wonder if we could solve @vishh concern in another way.  The Kubelet already deals with pods not from the API server as a source.  What I was wondering is if NodeStatus could report not just Capacity, and Allocatable, but also Reserved which would be what amount of resources the Kubelet still believes are claimed by pods currently running or still under cleanup.  The scheduler could look at Rese

[2016-07-28 03:34] hankjacobs opened #29718 "AWS: kube-up script generates S3 bucket name that collides with an existing bucket"
When using the kube-up script for AWS, a conflicting S3 bucket name is generated if the AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY environment variables are set to something that differs from what resides in ~/.aws/credentials AND the credentials that reside there were used to set up a cluster.

I believe this is due to the use of `$(aws configure get aws_access_key_id)` as one part of the string

[2016-07-28 04:18] k82cn commented on #28453
@aronchick , I'm also thinking to integrate kube-dns with external DNS. Kube-DNS and Mesos-DNS is an example of it.

Is there any issue tracing the integration?

[2016-07-28 04:32] thockin commented on #28453
I have less confidence than David does that it will happen in time for the
next release.  Help wanted, starting with design docs.

On Wed, Jul 27, 2016 at 9:19 PM, Klaus Ma <notifications@github.com> wrote:

[2016-07-28 04:56] thockin commented on #29039
The problem with "if it doesn't exist, create it" is that the flag to set which bit is used.  That flag is on the kube-proxy.

So the cleanup here is to move that flag to kubelet and make kubelet be responsible for setting up the rule, and let kube-proxy "just assume it exists".  Can we think of any other traps here?

Can we rally some community help on this?  @marun was asking about other things

[2016-07-28 05:36] bprashanth commented on #29039
Do we actually need the masquerade for anything other than lo traffic? (which I think we need for the return trip otherwise the packet coming out of cbr0 will get handed to eth0, which never saw the "to" packet)

[2016-07-28 05:46] thockin commented on #29039
Sorry, do you mean in general or just for the node-e2e ?

On Wed, Jul 27, 2016 at 10:37 PM, Prashanth B <notifications@github.com>
wrote:

[2016-07-28 05:48] bprashanth commented on #29039
In general for host port, do we need masquerade?

[2016-07-28 05:56] thockin commented on #29039
for host ports, I think we only need masquerade for when a container talks
to its own node on a hostport that loops back to itself, if I recall.

On Wed, Jul 27, 2016 at 10:49 PM, Prashanth B <notifications@github.com>
wrote:

[2016-07-28 05:59] thockin commented on #3752
@smarterclayton - I don't think we'll run out of DNS characters, even if a
service uses all 63 characters.  I feel like there was some reason for this
but I just can't figure out what it might have been.

On Wed, Jul 27, 2016 at 9:39 AM, Matthew Fisher <notifications@github.com>
wrote:

[2016-07-28 06:03] bprashanth commented on #29039
That's what i meant by "lo traffic". I don't think we even need it if we initally use the node ip, because eth0 won't think it's martian (someone from node team can verify by curling node-ip).

[2016-07-28 06:04] thockin commented on #3752
I just re-read https://github.com/kubernetes/kubernetes/pull/759 and I
think 952 was just chosen for no real reason (vs 1035).

On Wed, Jul 27, 2016 at 10:59 PM, Tim Hockin <thockin@google.com> wrote:

[2016-07-28 06:05] feiskyer commented on #23335
@tmrts As discussed in sig-node and @yujuhong, I'm planning to add `AttachContainer()` interface to new runtime API after #28396.

[2016-07-28 06:13] thockin commented on #29039
There *is* some case where we needed it, or I would never have added it.  I
just can't recall what..

On Wed, Jul 27, 2016 at 11:03 PM, Prashanth B <notifications@github.com>
wrote:

[2016-07-28 06:16] saturnism opened #29723 "Make federation DNS TTL configurable"
According to doc:
http://kubernetes.io/docs/user-guide/federation/federated-services/#handling-failures-of-backend-pods-and-whole-clusters
"Due to the latency inherent in DNS caching (the cache timeout, or TTL for Federated Service DNS records is configured to 3 minutes, by default, but can be adjusted)"

Currently, the federation DNS TTL seems to be fixed at 180 seconds. What's the right way to a

[2016-07-28 06:21] asalkeld commented on #29695
If no one is working on this, I can give it a go.

[2016-07-28 06:40] k82cn commented on #28453
Got that. I can draft an design docs based on my understanding :).

[2016-07-28 06:51] krmayankk commented on #28940
@pwittrock any update on this ? Can you confirm what you meant ? I needed  (Capacity - (System Reserved + Kube Reserved)).`, not sure why would someone need Capacity -used, they would always need the actual free which means actual allocatable ?

[2016-07-28 06:59] dubstack opened #29725 "[Kubelet] Refactor kubelet to add a Node Capacity/Allocatable Provider Interface."
This is tied to the upstream issue #27204 which introduces pod level cgroups in Kubernetes.

For accessing the node resource allocatable quantity I would be adding a Node Capacity/Allocatable Provider Interface.This interface would support methods to return the node capacity and allocatable values.

Adding this interface would also help us simplify the current method of getting node capacity and a

[2016-07-28 07:21] nebril commented on #29607
@pmorie Was there any proposal/feature draft for this 'super volume'? If there was, can you link to it?

[2016-07-28 07:44] daikaixian commented on #23251
follow @bgrant0607
fixed.

[2016-07-28 07:46] Trane9991 commented on #29059
Hi @jingxu97
Yes, probably it related. Waiting for the fix to get to release to test it on GKE.
I needed to downgrade nodes to the 1.2.5 to be able to run pods.

[2016-07-28 07:57] sdminonne commented on #29456
@derekwaynecarr thanks for the fix (and sorry for the bug)

[2016-07-28 08:20] magicwang-cn opened #29727 "skydns can't start up in local-up-cluster"
when i start up cluster with script(`./hack/local-up-cluster.sh, with ENABLE_CLUSTER_DNS=true`), i find the skydns server can not connect to kube-apiserver, the log is as follows:

[code]

there are two problems:
- kube-apiserver does not start with 443 port, and kubernetes support the default service with 443 port
- kube-apiserver listen on (`127.0.0.1`), it should be (`0.0.0.0`)

[2016-07-28 08:30] w0mbat commented on #13488
@paunin Thats exactly the case where we need it currently - We have to change ConfigMap values that are very important to the services and need to be rolled-out to the containers within minutes up to some hours. If no deployment happens in the meantime the containers will all fail at the same time and we will have partial downtime of at least some seconds

[2016-07-28 08:36] w0mbat commented on #14512
@edevil well, as you can´t have breaking schema changes in a rolling-upgrade scenario you can also use a K8s job to do this. You can either wait for it to be completed before doing the upgrade or trigger them at the same time

[2016-07-28 08:38] sttts commented on #27712
Suddenly I got this error locally:

[code]

No idea yet what the reason is.

Here is another golang issue: https://github.com/golang/go/issues/14270

[2016-07-28 08:41] magicwang-cn commented on #29727
@kubernetes/huawei

[2016-07-28 08:44] talk2vino opened #29728 "Fluentd Failures in Kubernetes 1.3.3 AWS"
Env : Kubernetes in AWS

We tried the new cluster on kubernetes version 1.3.3 on AWS.  While group the logs we get into the kibana and searched the index. Surprised that apart from ".kibana" none of the index are there in Elasticsearch.

I check the fluentd pods . It is continuously shows the  error like below

[code]

I get into the fluentd-pods and get the mount points

[code]

[code]

[code]

T

[2016-07-28 08:54] #29398 closed

[2016-07-28 09:14] jboero opened #29730 "NodePort behavior changes 1.1->1.2"
Hi just a heads-up for anybody else having these issues after update.  I noticed that my CentOS 7 install of Kubernetes 1.1 had undocumented behavior with NodePort services.  While documentation says you specify "nodePort:<port>" to expose your service on your nodes, in my experience it used the value of "targetPort" instead.  Now in 1.2 I see the behavior is corrected to match documentation, but

[2016-07-28 09:27] #28787 closed

[2016-07-28 09:43] warden commented on #28940
I'm comparing the output of: ` kubectl describe node ` where it displays:
[code]

with the output of `kubectl get node <node> -o yaml` where it displays some information that I'm not sure how is related to the former ones:
[code]

What I am interested in is to check cluster capacity for the given range of nodes, e.g. show CPU/MEM percentage use for all nodes with label X - with `kubectl`.

[2016-07-28 09:52] talk2vino commented on #29728
I think its a duplicate of #13313

And the workaround works as well.

[2016-07-28 10:11] sparkthu opened #29731 "Kubelet use RunC instead of docker daemon"
Mesos 1.0.0 has already support use docker images without docker daemon. I think it is an attractive feature for kubelet.

[2016-07-28 11:40] JorritSalverda commented on #29202
It turns out now that I have a cluster with all nodes in the same zone as the PDs its no longer an issue to redeploy. I think the ticket can be closed as not an issue, but I have some remaining questions:

- With what annotation can you make sure a pod is scheduled in a specific zone if you have a multi-zone cluster?
- Do pet sets take care of this automatically?

And perhaps a more descriptive er

[2016-07-28 12:16] k8s-merge-robot opened #29734 "kubernetes-verify-master: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/2102/

Run so broken it didn't make JUnit output!

[2016-07-28 12:40] deads2k commented on #13306
@smarterclayton This came up at sig-auth.  We couldn't think of a reasonable way to use the information in this field safely.  For any mutable resource, as soon as its dirtied the information isn't valuable anymore.  Pretty much every resource gets dirtied by a controller.  The temptation is create two classes of users, but that seems like we're trying to shoehorn it in where it doesn't fit.

Do w

[2016-07-28 13:01] magicwang-cn commented on #9043
what's the entrance of the in-place rolling update?
just patch pod directly?  if i create a replicaset includes 3 pods, i can't just patch pod directly, because
when the patched pod failed, the replicaset controller will create a pod with old spec.

so we should use deployment?

[2016-07-28 13:46] pmorie commented on #29695
@asalkeld we need a couple weeks of bake-time before we do anything further here to make sure that there aren't more bugs waiting in the wings.

[2016-07-28 13:52] gigaroby opened #29735 "Error syncing deployment, replica set already exists"
Env: Kubernetes 1.3.3 on AWS

I ran into the same problem described into #26673 but now it's happening on every deploy.
I would have reopened the issue, but I was not the author so I could not.

The bug presents itself because I have a build that does `kubectl rollout status deployment/application-unstable` just after a `kubectl apply -f <new deployment manifest>` and it gets stuck forever because

[2016-07-28 14:02] apenney commented on #28892
Just ran into the same problem on 1.3.2, except I haven't destroyed any minions.  I just suddenly lost the ability to mount volumes.

[2016-07-28 14:37] AdoHe commented on #29735
@gigaroby could you provide more detail info? like what's your resource file and how to reproduce it.

[2016-07-28 14:43] andreykurilin opened #29736 "kubectl help doesn't work"
PR 48d47b1 broke `kubectl help` command due to wrong check `help for help cmd` .
Currently, it displays `help for help cmd` for every command if you do not specify additional arguments(for example `kubectl help rolling-update` will not work, but `kubectl help rolling-update some-redundant-flag` will).

[2016-07-28 14:44] rcoup commented on #9043
Current workaround: patch a deployment with an updated environment variable

[code]

[2016-07-28 14:52] andreykurilin commented on #29736
@eparis @janetkuo please looks at this small fix

[2016-07-28 15:03] moleksyuk commented on #29517
I also can not build kubernetes in my laptop with 16GB memory:

[code]

Errors related to allocation of memory:
[code]

[2016-07-28 15:06] justinsb opened #29738 "taints & tolerations with daemonsets"
I'm trying to use taints and tolerations to run a daemonset only on my master nodes.  The daemonset is scheduling pods on all nodes though.  I don't know whether daemonsets bypass taints & tolerations, or whether I am doing something wrong.

I taint my master node:

[code]

My daemonset:

[code]

The pod is scheduled on all my nodes though.  One of their annotations (so we can see the final result

[2016-07-28 15:32] gigaroby commented on #29735
@AdoHe yes, of course:
We have an internal tool that downloads some manifests from S3 in a temporary folder and then calls `kubectl apply -f temp_dir`. It's harder to narrow it down because that's all there is to it.
It caused the issue above for 3/4 builds in a row but in the last build it worked.
The three deployment files are fairly standard deployment templates, this is an example of one of th

[2016-07-28 15:45] mwielgus opened #29739 "HPA - handle situation when current replica count doesn't match to the desired number"
Currently this is silently accepted.

cc: @jszczepkowski @piosz

[2016-07-28 15:57] gmarek commented on #27655
@kevin-wangzefeng - we probably need to add retries to the test.

[2016-07-28 16:02] dchen1107 commented on #29590
SGTM

[2016-07-28 16:02] stephanheinze commented on #20092
I also run into this issue.
I've got a service that wants to expose TCP and UDP port with the same number.

Any plans to include this issue in any roadmap?

[2016-07-28 16:19] thockin commented on #20092
Help wanted.  We're buried in high-priority bugs and features.  I ACK that this behaves imperfectly, but I and my team will not have time to look at it in the immediate future.

[2016-07-28 16:19] thockin commented on #20092
@matchstick FYI

[2016-07-28 16:26] bprashanth opened #29742 "Host port should preserve source ip"
There are some masquerade requirements for hostPort apparently. This hide source ip from loadbalancers, which are one of the few valid use cases for hostPort currently.
- container -> node-ip:hostPort: lb sees ip of node the container is on
- same node ->
  - 127.0.0.1/localhost:hostPort: lb sees cbr0 ip
  - eth0 ip:hostPort: lb sees eth0 ip
- different node -> node-ip:hostPort: preserves source i

[2016-07-28 16:27] bprashanth commented on #29039
fyi https://github.com/kubernetes/kubernetes/issues/29742

[2016-07-28 16:58] yujuhong commented on #23335
Just to summarize, we've had a discussion on sig-node slack channel about this feature.
@euank pointed out that there needs to be a daemon that drains the fifo when no process is attached to it. This is how docker handles it as well today.
"page 12 of http://www.slideshare.net/Docker/containerd-building-a-container-supervisor-by-michael-crosby it's `/proc/sys/fs/pipe-max-size`; that's the talk whe

[2016-07-28 17:04] vishh commented on #23335
IIUC, containerd uses pipes for stdin & stdout/stderr. Can we avoid that and use pipes just for stdin? That way, there is no necessity for a daemon to drain data from the pipes.

[2016-07-28 17:07] nikhiljindal opened #29744 "Support federation events"
We should support events in federation apiserver, so that federation controllers can raise events which will help a lot in debugging.

The work required is:
* API changes in federation-apiserver.
* We dont need a controller. Events will just be at the federation level, no need to send them to each underlying cluster.
* In kubernetes I think we store events in a different etcd, so we might need ano

[2016-07-28 17:13] vmtyler opened #29745 "OpenStack LBaaS integration missing Security Group Configuration"
Currently in LBaaS in openstack (v1 and v2), it puts the LBaaS port in the default security group only. Most environments have that set not to allow any traffic. There's a bug open to ask for a security group when creating an LB, but it hasn't gone anywhere. This means if you use this plugin with kubernetes, it with create the LB and assign a floating ip, but no one will be able to access it. the

[2016-07-28 17:39] pwittrock commented on #28940
@krmayankk :

Reserved = Overhead for running the node processes

System Reserved = Resources reserved by the system daemons and such
Kube Reserved = Resources for running the kubelet process itself

Reserved does not mean resources allocated to Pods

What you really want is: (Allocatable - Allocated), which is what kubectl describe calculates.

Adding this to kubectl describe sounds good.  Making

[2016-07-28 17:39] pwittrock commented on #28940
cc @timstclair Tim can you verify the statements I made about Reserved vs Allocated?

[2016-07-28 17:44] hanikesn opened #29749 "[1.3.3] OpenID Connect provider fails with trailing slashes in the issuer URL"
I like to use Azure Active Directory as IDP:
https://sts.windows.net/14929598-cff9-49f0-b20b-295e9d4dcb8b/.well-known/openid-configuration
The issuer URL has a trailing slash: `https://sts.windows.net/14929598-cff9-49f0-b20b-295e9d4dcb8b/`, but when I specify the issuer url with a trailing slash on the command line options for kube-apiserver the trailing slash gets trimmed before validation:
[code

[2016-07-28 17:46] hanikesn commented on #19701
I think this can be closed as init containers are here, now:
https://github.com/kubernetes/kubernetes/issues/1589

[2016-07-28 17:48] hanikesn commented on #24981
Closing because of dupe.

[2016-07-28 17:48] #24981 closed

[2016-07-28 17:51] cwill747 commented on #19701
Aren't init containers for starting containers that do something *before* the container you want running your job can run? AKA they need to exit before, in this case, the unit tests are run? I think the spirit of this issue was that you want containers that run _until_ your last container runs and finishes, then exit gracefully.

[2016-07-28 17:51] argusua opened #29750 "Can't add new Replica Controller and Service from fluentd-elasticsearch addon"
Hi. I'm have created k8s cluster by kubernetes/kops on AWS. Now I'm trying add fluentd-elasticsearch stack (from https://github.com/kubernetes/kubernetes/tree/v1.3.3/cluster/addons/fluentd-elasticsearch) using commands:

[code]

Then same for elasticsearch. All works fine few minutes and then kibana and elasticsearch resources disappear.
In logs /var/log/kube-controller-manager.log I found that th

[2016-07-28 17:53] hanikesn commented on #19701
Your totally right. I confused that with a different issue when running unit tests.

[2016-07-28 17:55] saad-ali commented on #29555
Closed with #29673

[2016-07-28 17:55] #29555 closed

[2016-07-28 17:55] mikedanese commented on #19701
cc @kubernetes/test-infra-maintainers @kubernetes/sig-testing

[2016-07-28 18:07] caesarxuchao commented on #29451
Probably can be fixed in the same way as https://github.com/kubernetes/kubernetes/pull/29130. I'll take a closer look this evening.

[2016-07-28 18:20] thockin commented on #27398
I am generally in agreement with the thrust of this.

I dislike the idea of "hidden".  It just feels clumsy.

I like the idea of self-describing attributes (plural) or an interface.  Note I said interface, not just address.  Mike is right that much of what an app needs to know about an address is well-specified already.  But there may be things that we to describe about an interface that are not.

[2016-07-28 18:35] dchen1107 commented on #29229
xref: kubernetes/kubernetes#6159

[2016-07-28 18:37] saad-ali commented on #29633
The issue resolves it self eventually (however tests will sometimes timeout before this happens). So to de-flake the test, it would be nice to get it in to a 1.3.x release, but not critical.

[2016-07-28 18:45] k8s-merge-robot opened #29751 "[k8s.io] ConfigMap should be consumable in multiple volumes in the same pod {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/6307/

Failed: [k8s.io] ConfigMap should be consumable in multiple volumes in the same pod {Kubernetes e2e suite}

[code]

[2016-07-28 18:52] timstclair commented on #28940
Yes that's correct. More details [here](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/node-allocatable.md).  ( @pwittrock that information should be upgraded from a proposal to real documentation - where is the best place to put it?)

[2016-07-28 19:06] timothysc commented on #25063
Yup, we do this on provision time with Ansible.

[2016-07-28 19:11] timothysc commented on #23812
Is this still an issue?

[2016-07-28 19:14] timstclair commented on #27097
We've had a lot of discussions around separating "core" metrics that are required for internal kubernetes functionality from monitoring metrics that are user facing, and would be used for monitoring, alerting, etc. With this split, the CRI would only need to provide the core metrics (other metrics would be collected through alternate channels).

I'd really like to make this split before defining a

[2016-07-28 19:22] MikeSpreitzer commented on #27398
Yes, I have a concrete use case right now and it does not involve explicit networks in the k8s API.  It involves implicit networks to support multi-tenancy, which my team is implementing.  Specifically, we are using Neutron tenant networks --- overlay networks (virtual ethernets).  We want to support "bring-your-own-IP", AKA "overlapping IPs".  We want to put the tenant in charge of the IP subnet(

[2016-07-28 19:26] timothysc commented on #23731
@cevian Is this still an issue for you?  This seems like it should be a bug in contrib...

If so I'd move to close this one, and re-open there.

[2016-07-28 19:28] timothysc commented on #22609
Does this still exist @ncdc , post recent mod on endpoint update?

[2016-07-28 19:34] timothysc commented on #22007
@mikedanese is there any reason we couldn't just use the objects ResourceVersion ?

[2016-07-28 20:11] pwittrock commented on #28940
How about here:

http://kubernetes.io/docs/admin/node/

[2016-07-28 20:13] DirectXMan12 commented on #27097
Do HPA metrics count as "required for internal kubernetes functionality"?  How do you define what "core" is, especially if we open up the HPA to allow referring to arbitrary metrics?  Do we say "by default, the only metrics available in your cluster to scale on are CPU, memory, etc, and for anything else you need to write your own solution to gather and push to Heapster"?

[2016-07-28 20:19] mcabranches commented on #27194
Hello guys!!

I updated kubernetes to 1.3 and still having the issue.

Enviroment:

Kubernetes version: 1.3.2
Docker version: 1.10.3
Heapster: v1.1.0 (deployed in standalone mode using the )
6 node cluster (on premises) running CoreOS 1068.8.0.

Here are some info:

heapster's cpu/usage

curl 10.125.7.224:31580/api/v1/model/namespaces/rubis-ns/pods/rubis-m8n/metrics/cpu/usage
{
  "metrics": [
   {

[2016-07-28 20:37] k8s-merge-robot opened #29752 "[k8s.io] Pod Disks should schedule a pod w/ a readonly PD on two hosts, then remove both ungracefully. [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/6972/

Failed: [k8s.io] Pod Disks should schedule a pod w/ a readonly PD on two hosts, then remove both ungracefully. [Slow] {Kubernetes e2e suite}

[code]

[2016-07-28 20:49] dubstack commented on #29725
@derekwaynecarr After speaking with @yujuhong offline, we concluded that it would be a good idea to have this Node Capacity Provider Interface in the Kubelet and pass it down to the Container Manager.

Also Why we are currently setting the container limits to Node Capacity and not Allocatable values in defaultPodLimitsForDownwardApi?

[2016-07-28 21:02] timstclair commented on #27097
@DirectXMan12 And this is why I think it's a ways off :) In all seriousness though, HPA metrics are definitely part of the discussion. There needs to be a way to ingest them, whether or not they're a part of the core metrics exported by the runtime is another question.

[2016-07-28 21:19] k8s-merge-robot opened #29753 "kubernetes-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-build/11277/

Run so broken it didn't make JUnit output!

[2016-07-28 21:21] dchen1107 commented on #27194
@mcabranches could you please share the yaml file starting your heapster?

[2016-07-28 21:26] cevian commented on #23731
Honestly haven't used the sidecar because of this bug. I agree it is more of a contrib issue. Fine by me if you close this. There is a contrib bug on this already #690. I'll update that with my latest thoughts.

[2016-07-28 21:30] #23731 closed

[2016-07-28 21:34] mcabranches commented on #27194
Sure!

apiVersion: v1
kind: ReplicationController
metadata:
  labels:
    k8s-app: heapster
    name: heapster
    version: v6
  name: heapster
  namespace: kube-system
spec:
  replicas: 1
  selector:
    k8s-app: heapster
    version: v6
  template:
    metadata:
      labels:
        k8s-app: heapster
        version: v6
    spec:
      containers:
      - name: heapster
        image: gcr.io/go

[2016-07-28 21:42] maisem opened #29756 "GCI: Race condition when deleting docker0"
During GCI bootup config, the docker0 bridge is deleted before [kubelet starts](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure-helper.sh#L458) which works fine when not using a NETWORK_PROVIDER.

If a NETWORK_PROVIDER is used (e.g. kubenet) kubelet won't restart docker, this introduces a race condition between when the config [restarts docker](https://github.com/kub

[2016-07-28 21:47] jingxu97 commented on #29695
Agree. I think it would be good to examine again what are the necessary
information should be stored in actual and desired world.

On Thu, Jul 28, 2016 at 6:47 AM, Paul Morie <notifications@github.com>
wrote:

--
- Jing

[2016-07-28 21:49] a-robinson commented on #29411
cc @piosz @fgrzadkowski

[2016-07-28 21:54] davidopp commented on #29033
We could say
* you can only use --force if you are privileged AND the node is down
* once you use --force, the node is not allowed to rejoin the cluster (e.g. without rebooting it)

This way we could force-delete pods, but Kubelet would never have to worry about behaving properly when pods are deleted "behind its back" in this way.

[2016-07-28 22:13] vishh commented on #29033
`Reserved` sounds like `Usage` to me. Given that `Reserved` is expected to
change quite often, it might not make sense to include that in NodeStatus.
I still prefer kubelet deleting pod objects unless the operator removes the
node that owns a pod.

On Thu, Jul 28, 2016 at 2:54 PM, David Oppenheimer <notifications@github.com

[2016-07-28 22:14] dchen1107 commented on #27194
Looks like you are hitting a different problem since your heapster is not hitting kubelet / cadvisor stats/summary API ast all. Can you change above configuration to:
[code]

to see if it fix your issue here?

[2016-07-28 22:21] someword opened #29758 "Hyperkube binary missing in gcr.io/google_containers/hyperkube:v1.3.3"
The hyperkube image released with v1.3.3 does not contain /hyperkube.  I couldn't find any docs stating that it has moved to another path.    Also v1.3.3-beta.0 included /hyperkube at the normal path so i'm thinking this is not intentional.

[code]

[2016-07-28 22:28] luxas commented on #29758
Can't reproduce. Can you provide any more info?

[code]

[2016-07-28 22:28] luxas commented on #29731
cc @kubernetes/sig-node

[2016-07-28 22:44] ChrisMcKenzie opened #29759 "Getting unusual timeouts with LoadBalancer on Kubernetes 1.3.3 running on GCE"
Hi,
I am getting unusual timeouts with the 'LoadBalancer' service type on Kubernetes 1.3.3 running on GCE, and I don't know where to start troubleshooting.

My environment:

[code]

Cluster created via the `cluster/kube-up.sh` script.

Here is some repro steps to try to illustrate what I'm seeing.
1. Create two simple nginx RCs and two LoadBalancer services.
2. Curl the first nginx's LoadBalancer

[2016-07-28 22:48] luxas commented on #29132
@vishh Can you push the etcd images for non-amd64 arches please?

[2016-07-28 22:53] someword commented on #29758
Strange.  It just so happens that one of my masters has a bad a layer that is part of the 1.3.3 image.  I apologize for not troubleshooting better on my side (rm -rf /var/lib/docker ftw).

[2016-07-28 22:53] #29758 closed

[2016-07-28 22:55] luxas commented on #29758
Thanks. Good to hear you sorted it out! :)

[2016-07-28 23:33] saad-ali commented on #29202
Glad you figured it out @JorritSalverda. Closing this issue.

@quinton-hoole and @bprashanth for the open questions:

[2016-07-28 23:33] #29202 closed

[2016-07-28 23:35] alexcouper opened #29760 "Deployment fails to perform rolling update"
I'm using GKE (Kubernetes 1.2), and most of the time everything works smoothly when performing a rolling update via a deployment config change.

Occasionally things don't.

When they don't, the deployment is correctly upgraded, but no corresponding RS is created and so the old pod (with a mismatched image to the deployment) lives on.

## Reproducing

I'm using circle ci to perform a `kubectl apply

[2016-07-28 23:42] minjs commented on #29645
I hit this again. All of my 5 nodes out of disk. I have 5 nodes, each has about 17GB disk size.
I created 4 pods, each pod have 6 containers. I believe when I created the 5th pod, I hit the issue.
Then I remove the first 4 pods.  But the 5th pod can not be created anyway.

What is the minimum disk size required?  when I remove the first 4 pods, why the node conditions are not updated?

Name:			min

[2016-07-28 23:43] mcabranches commented on #27194
Ok,

switched the source to "--source=kubernetes.summary_api:'', now looks like the "cpu/usage" is not being populated:

curl 10.125.7.224:31580/api/v1/model/namespaces/rubis-ns/pods/rubis-cqm8n/metrics/cpu/usage
{
  "metrics": [],
  "latestTimestamp": "0001-01-01T00:00:00Z"

**Other metrics (like cpu/usage_rate, uptime etc) are being populated:**

 curl 10.125.7.224:31580/api/v1/model/namespaces/

[2016-07-28 23:51] mcabranches commented on #27194
And still getting weird values from HPA:

![image](https://cloud.githubusercontent.com/assets/13756669/17233271/d9a437c2-5504-11e6-928e-42eda14d3387.png)

Thanks for your attention

[2016-07-29 00:14] dchen1107 commented on #27194
@mcabranches Thanks for the prompt response. To help us narrow down the issue, could you please run the script like the following to collect the stats directly from Kubelet / node?

[code]

Also I just noticed that you are running heapster as the standalone, and the suggested configuration for it is at:
https://github.com/kubernetes/heapster/blob/cd2301d0bca468dff796a9d26bc093efdcc1be2d/deploy/kub

[2016-07-29 00:17] bprashanth commented on #29202
@JorritSalverda yeah they do if you use dynamic volume provisioning on GCE or AWS. Currently it just approximately round robins pets based on their ordinal index into different zone buckets, following which the pet must follow the pd (i.e fist time it lands in us-central1-a based on index, then you recreat the pod it ends up there because its pd is there).

Eventually we will move this logic into

[2016-07-29 00:20] bprashanth commented on #29645
@minjs can you please figure out what's eating your disk?
You can check if it's container logs by running du within /var/lib/docker/containers/*/*-json.log

[2016-07-29 00:21] thockin commented on #27398
Thanks, Mike.  Are you actually manifesting this as an interface in the pod
or just publishing it via the API?

Either way, I'd be happy to entertain a concrete proposal for this.

On Thu, Jul 28, 2016 at 12:23 PM, Mike Spreitzer <notifications@github.com>
wrote:

[2016-07-29 00:23] euank commented on #29731
I believe this is a duplicate of https://github.com/kubernetes/kubernetes/pull/26788

This is also related to the features https://github.com/kubernetes/features/issues/54 (which will make it possible to swap in such a runtime) and https://github.com/kubernetes/features/issues/58 (a feature to run Kubernetes with rkt rather than Docker), as well as other bits of related discussion.

[2016-07-29 00:29] yujuhong commented on #29731
Yes, integrating with other container runtimes (runc being one example) is WIP already. Let's close this issue.

[2016-07-29 00:29] #29731 closed

[2016-07-29 00:34] colemickens opened #29761 "Restart dependent Pods/Containers when a Secret is updated"
New applications can be built to use `inotify` to watch for files to change in Secret Volumes, but this doesn't help applications that don't have this behavior baked in.

It would be nice if a user could specify, for a given Pod or container, that it needs to be restarted when a Secret update. Then, updating a Secret would result in a rolling-restart through the RC's or ReplicaSet's Pods.

(I look

[2016-07-29 00:36] colemickens commented on #29761
(Alternatively, in the meantime, is there a way to manually initiate a rolling-restart other than editing the Deployment object in a way that would cause a rollout?)

[2016-07-29 00:39] bprashanth commented on #29756
we don't need to restart docker with kubenet. The new containers are created on cbr0 by the network plugin, and if someone ssh's into the node and runs "docker run -it busybox /bin/sh" it still gets an ip from docker0. Now docker0 and cbr0 should not have overlapping cidrs, but docker0 will be created from the default 172.17.0.1, and cbr0 will get created from the podcidr range.

[2016-07-29 00:50] mcabranches commented on #27194
Here is the output of:

#!/bin/bash
while true
do
  echo "summary" `curl -s http://localhost:10255/stats/summary | ./jq '.node.cpu.usageNanoCores'`
  sleep 10
done

summary 391599611
summary 391599611
summary 464004637
summary 454472960
summary 474478658
summary 474478658
summary 508374486
summary 508374486
summary 457009021
summary 515919923
summary 515919923
summary 541368315
summary 541368315
s

[2016-07-29 00:57] bprashanth commented on #29756
Also isn't the only thing running GCI the master, on which we don't use kubenet?

[2016-07-29 00:57] mcabranches commented on #27194
Changed the source to --source=kubernetes.summary_api:https://kubernetes.default, and still getting negative values on HPA:

![image](https://cloud.githubusercontent.com/assets/13756669/17234311/11587382-550e-11e6-834b-1b8e5a99cccb.png)

[2016-07-29 00:59] minjs commented on #29645
It might my application log. But I was expecting when I remove the other pods, the disk usage is low.  Should kubernetes recover from that condition?

[2016-07-29 01:03] bprashanth opened #29762 "container logs should not live on root partition"
Currently we store container logs in /var/lib/docker..., we should document and enforce where possible, that this doesn't live on the root partition. when root fills up all bets are off.

In fact we can go even deeper and come up with a nice partitioning scheme that protect critical system files from corruption. I think @girishkalele had some ideas at one point.

[2016-07-29 01:06] asalkeld commented on #29695
OK @pmorie no worries, I'll attach something else.

[2016-07-29 01:06] bprashanth commented on #29645
yeah it should, but the issue is that currently logs are on the root partition, and all sorts of bad things can happen if root fills up that are outside the scope of kubernetes. To prevent root from filling up we can logrotate more often (https://github.com/kubernetes/kubernetes/issues/29715) or partition better (https://github.com/kubernetes/kubernetes/issues/29762).

If you get into a state wher

[2016-07-29 01:07] magicwang-cn commented on #9043
@rcoup just replace update, not in-place update, right?

[2016-07-29 01:11] pmorie commented on #29695
@asalkeld I appreciate the enthusiasm - check out stuff with the help-wanted label.

[2016-07-29 01:15] yujuhong commented on #29579
Hm... I don't think this'd work with hyper. /cc @feiskyer

The implementation that uses `docker exec` today does:
 * call docker CreateExec
 * start the `HandleResizing` goroutine with docker `ResizeExecTTY`
 * call docker `StartExec`.

That means to support terminal resizing in the runtime interface, we'll need to replace the current `Exec` with `CreateExec` and `StartExec`, while also adding `Re

[2016-07-29 01:20] ConnorDoyle commented on #27097
Just brainstorming, but how committed are folks to making metrics part of the CRI? Based on the above it sounds like: "HPA requires collecting some metrics, those metrics can come from multiple sources, one likely metrics source is the container runtime." Would it make sense to define a metrics source interface and then let container runtimes optionally implement it?

[2016-07-29 01:29] Random-Liu commented on #27194
If so, this doesn't seem to be the original overflow issue. The `usageNanoCores` is stable.

[2016-07-29 01:35] feiskyer commented on #29579
Hyper supports same APIs like docker: `CreateExec`, `ResizeTTY` and `StartExec`. The problem is could we suppose all runtimes support these three apis? Is it work for rkt and oci-runtime?

Could we just add a new terminal resize api to new runtime API, e.g. `ResizeTTY`, and let runtime itself decides how to implements the tty resizing?

[2016-07-29 01:42] minjs commented on #29645
The reason I mentioned it might my application log is that soon I remove the pods, the disk usage goes low. My application logs are store in the pod empty dir.

[2016-07-29 01:46] minjs commented on #29645
The pods life time is pretty shot and my don't write much info to the std, which is container log file on the host.

[2016-07-29 01:55] bprashanth commented on #29645
Yeah emptydir should get purged when the pod is deleted, is the dir still lying around? you can find it in `/var/lib/kubelet/pods/*`. Please also upload your kubelet logs.

[2016-07-29 02:00] timstclair opened #29765 "How to enforce policies with version skew?"
Example use case:

As long as the Kubelet is running a version with AppArmor support, it can be loaded up with all the validation to ensure that the pod will only run with the profile enforced. However, if the Kubelet is running an older version, it will happily ignore the AppArmor field.

Do we have any existing mechanisms to address this issue? I know a savvy user could add an AppArmor label to

[2016-07-29 02:07] #29736 closed

[2016-07-29 02:37] vishh commented on #27097
To clarify:
* `system` metrics refers to metrics provided by the OS like cpu, memory, disk usage etc.,
* `service` metrics refers to metrics provided by applications running in containers.
IIUC, `HPA metrics` here is referring to `service` metrics.
I'd argue that service metrics should not belong in CRI. A limited set of system metrics (cpu, memory & disk) is required for kubelet and core k8s func

[2016-07-29 02:42] #27131 closed

[2016-07-29 02:47] RedCornerR opened #29767 "k8s-scheduler does not show up when using "kubectl get services""
i try to deploy k8s on mesos. i followed the guide "http://kubernetes.io/docs/getting-started-guides/mesos/".

when Validating KM Services. i can only see one service as below
[root@k8s-69 kubernetes]# kubectl get services
NAME         CLUSTER-IP   EXTERNAL-IP   PORT(S)   AGE
kubernetes   10.10.10.1   <none>        443/TCP   1d

but no scheduler show up here.
 the process scheduler exists.
[root@k

[2016-07-29 03:07] k82cn commented on #29767
Which scheduler do you mean? The scheduler is running according to your append:

[code]

[2016-07-29 03:13] asalkeld commented on #21414
I think my PR fixed this: https://github.com/kubernetes/kubernetes/commit/032ef61c3daccb05e9674d5b53c65c30516fd770

Note: this #28469 should also make it a bit easier (so you don't need the --host)

[2016-07-29 03:17] RedCornerR commented on #29767
k8sm-scheduler  . yes it's running, however it does not show up when executing the command "kubectl get services". only "kubernetes 10.10.10.1 443/TCP 1d" there.
after executing kubectl get nodes/pod/rc, nothing show up.

[2016-07-29 03:24] k82cn commented on #29767
I think you can check controller/scheduler's log to confirm whether the connection is OK, e.g. does scheduler get offers from Mesos?

[2016-07-29 03:28] RedCornerR commented on #29767
sorry, i am newbee to k8s and mesos. here's the scheduler.log.
"I0729 10:18:49.943309   19194 scheduler.go:982] Registering with master: master@192.168.1.139:5050
I0729 10:18:49.943448   19194 messenger.go:201] Sending message mesos.internal.RegisterFrameworkMessage to master@192.168.1.139:5050
I0729 10:18:49.943509   19194 scheduler.go:933] will retry registration in 12.857785217s if necessary
I0

[2016-07-29 03:34] k82cn commented on #29767
It seems scheduler keep retrying at `scheduler.go:933`.

[2016-07-29 04:31] dnascimento commented on #24876
When exposing hostPort 80/443 as cluster entry point, this has a huge impact on performance. Docker-proxy takes 50% of CPU while nginx takes 20%.
How can we fix this?

[2016-07-29 04:36] AdoHe commented on #20092
@thockin @matthiasr I think the root cause is [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/service/portallocator/allocator.go#L82), when serviceport allocator attempts to reserve the provided port, it just use the port number not consider the port protocol.  This is a bug of service port allocator I believe.

[2016-07-29 04:39] #24876 closed

[2016-07-29 04:39] thockin commented on #24876
If you switch to kubenet as a network plugin (available in kubernetes v1.3)
this is fixed.  No more userspace proxy.

On Thu, Jul 28, 2016 at 9:32 PM, Dário Nascimento <notifications@github.com>
wrote:

[2016-07-29 04:42] fabioy commented on #29756
GCI is an option for GKE customers for the node as well. It'd be bad if it was broken for them.

[2016-07-29 04:44] thockin commented on #20092
"bug", but yes.  We'd need to store parallel bitmaps per protocol.  Even
then, it's not obvious when to use the same port number in different
protocols, and whether that is REQUIRED or not.  If you have a Service with
port 53 in TCP and UDP, and I can't find any port number that is available
in both protocols, should I:

a) fail and reject the REST operation
b) choose a different port number
c) re

[2016-07-29 04:58] bprashanth commented on #29756
@maisem can you clarify the race? we delete docker0 on the master to avoid overlapping cidrs. There might actually be better ways to solve the race (like actually applying the master kubelet's --pod-cidr arg to cbr0 , and making sure it doesn't overlap with docker0), but i don't think we need to target everything for 1.3.4. The docker0 deletion shouldn't be an issue on nodes, in fact we shouldn't

[2016-07-29 05:09] philipn opened #29769 "Support MFA in API authentication"
It would be great if the Kubernetes API (and associated tools like `kubectl`) supported some form of MFA!  I'm new to Kubernetes, but my understanding is that, right now, the e.g. authentication credentials on my laptop are long-lived.

Is it currently possible to configure Kubernetes to allow for some form of MFA?  Perhaps there's a way to obtain a short-lived authentication token which could be

[2016-07-29 05:10] maisem commented on #29756
We need to restart docker at least once for it to pick up the new command line arguments.
We didn't need to explicitly restart it pre-kubenet as kubelet would do that.
Pre-kubenet these are the following happens.
1. Create docker flags
2. Delete docker0 bridge
3. Start kubelet
4. kubelet restarts docker

When we start using kubenet the following happens.
1. Create docker flags
2. Restart docker
3.

[2016-07-29 05:21] dnascimento commented on #24876
The NETWORK_PROVIDER on AWS Configuration is set to none.
https://github.com/kubernetes/kubernetes/blob/release-1.3/cluster/aws/config-default.sh#L151

Should this configuration be updated? Is kubenet working on AWS?

[2016-07-29 05:26] thockin commented on #24876
I have not tried it first hand, but it should work.

@justinsb

On Thu, Jul 28, 2016 at 10:22 PM, Dário Nascimento <notifications@github.com

[2016-07-29 05:33] bgrant0607 commented on #29575
Yes, this has happened before. I agree we need a top-level OWNERS file.

[2016-07-29 05:34] bprashanth commented on #29756
Thanks, will check tomorrow

[2016-07-29 05:50] bgrant0607 commented on #29575
Previous instance: https://github.com/kubernetes/kubernetes/issues/26118#issuecomment-221126184

[2016-07-29 05:51] asalkeld commented on #20766
I can work on this

[2016-07-29 06:12] k8s-merge-robot opened #29770 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] Deployment Should scale from 5 pods to 3 pods and from 3 to 1 {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1816/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] Deployment Should scale from 5 pods to 3 pods and from 3 to 1 {Kubernetes e2e suite}

[code]

Previous issues for this test: #27406 #27669

[2016-07-29 06:22] justinsb opened #29772 "Watch nodes without watching heartbeats?"
Is there a way to watch the nodes without watching their heartbeats?  With each node posting a status every 10 seconds, this produces a lot of invalidations for what would otherwise be a relatively static set.

[2016-07-29 07:13] matthiasr commented on #20092
this is what I'd expect. Port exhaustion is not really a temporary
condition (won't resolve unless some other service is deleted).
--
Matthias Rampke
Engineer

SoundCloud Ltd. | Rheinsberger Str. 76/77, 10115 Berlin, Germany | +49 173
6395215

Managing Director: Alexander Ljung | Incorporated in England & Wales with
Company No. 6343600 | Local Branch Office | AG Charlottenburg  | HRB 110657B

[2016-07-29 07:45] dharmisha commented on #26245
Hi @tingzhang please let me know if you have resolved it, I am facing the same issue

[2016-07-29 08:25] j-vizcaino commented on #23812
I haven't had the time to update to 1.3, so I cannot say.

On Thu, Jul 28, 2016, 21:12 Timothy St. Clair <notifications@github.com>
wrote:

[2016-07-29 08:59] osixia commented on #29059
Hello,
a parameter to say if the secret need to be updated and remounted periodically would be great :)
For most of my pods i just need a secret during the pod first start, and i don't necessarily want the content to stay an be remounted over an over in the pod.

[2016-07-29 09:01] sttts commented on #29765
Trying to decouple this idea from the actual kubelet and security use-case:

Your `MinKubeletVersion` field sounds like a value orthogonal to the API version which describes the minimal Kubernetes version which faithfully understands the semantics of all used features of an object.

One assumption for API changes (https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api_changes.md#on-co

[2016-07-29 09:06] RedCornerR commented on #29767
problem solved by disable firewall.

[2016-07-29 10:57] #26943 closed

[2016-07-29 11:07] magicwang-cn commented on #29772
then i think we should add another filter mechanism for kube-apiserver, but this is not the root solution.
why not just change the heartbeat? avoid to update the node  will reduce a mount of watch event.

i just use the gossip protocol to maintain the heartbeat of node, this can avoid to update node every 10 seconds(`which will reduce the put requests of apiserver`), and more timely to find the fa

[2016-07-29 11:18] ncdc commented on #29579
I'm traveling today - please ping me on Monday so I don't forget to reply.
Thanks!

On Thursday, July 28, 2016, Yu-Ju Hong <notifications@github.com> wrote:

[2016-07-29 11:30] zefciu opened #29776 "ConfigMap links"
This proposal is for an ability for configmaps to reference each other by loading data from other configmaps. This proposal is closely related to https://github.com/kubernetes/kubernetes/issues/29607 as it would use a lot of common logic addressing common problems
## Example

[code]

In the above example trying to read the key 'foo' in configmap 'cm2' would yield 'buzz'.
## Problems
1. How should

[2016-07-29 13:22] piosz opened #29778 "HPA in GA step 4"
remove HPA objects from extensions/v1beta1

ref #21578

[2016-07-29 13:22] piosz commented on #21578
cc @lavalamp @caesarxuchao @kubernetes/autoscaling

[2016-07-29 13:23] piosz commented on #29778
cc @lavalamp @caesarxuchao @kubernetes/autoscaling

[2016-07-29 13:31] jimmidyson commented on #13313
I wonder if for now we can just mount some host paths that are defined in a lot of deployments? Mounting `/mnt/ephemeral/docker/containers` & `/mnt/sda1/var/lib/docker/containers` (for minikube) even if the dirs don't exist on the host should be fine & allow symlinks from `/var/log/containers` to be followed again on more platforms. Thoughts @a-robinson?

[2016-07-29 13:43] jimmidyson commented on #29640
Can you share the fluentd pod logs?

[2016-07-29 13:51] jimmidyson commented on #29640
I'm wondering if this is something to do with Elasticsearch rather than fluentd - ES logs would be useful too.

[2016-07-29 14:04] hanikesn commented on #29749
This commit https://github.com/kubernetes/kubernetes/commit/36bd693d3a9d835f75c1ce78b357e026fc7b7c1f breaks the verification.
It's also not necessary anymore as the trailing slash gets trimmed later in the code anyways: https://github.com/kubernetes/kubernetes/blob/v1.3.3/vendor/github.com/coreos/go-oidc/oidc/provider.go#L625

Paging @yifan-gu

[2016-07-29 14:06] erictune commented on #23396
We have Docs.  We still need default roles, and moving to beta/GA.  That will be tracked in  kubernetes/features#2. Closing.

[2016-07-29 14:06] #23396 closed

[2016-07-29 14:11] sbadia commented on #29166
Hi here, we just upgraded our GKE cluster to 1.3.2 (master and nodes), and we hit this case. We have some pods that timeout when attaching/mounting the disk. (some of others work well…)

#### /var/log/kubelet.log
[code]
We tried to restart kubelet, delete the pods, but without success.

*Note*: Our cluster is a multi-zone cluster, and we « pin » deployment according the zone of the disks

[code]
[

[2016-07-29 14:23] sttts commented on #29572
Here is a good starting point in the kernel source to see which namespaced (per netns) sysctls exist under `net.*`:

  https://github.com/torvalds/linux/search?utf8=%E2%9C%93&q=register_net_sysctl

If I understand it correctly, a number of sysctls only exist in `init_net`, the initial network namespace. And network namespaces are not nested, but flat. So we have a good chance that we really only g

[2016-07-29 14:26] sttts commented on #29572
Of course, the philosophical question remains: do we want to offer all technically possible sysctls (i.e. all those that are namespaced) or only the most common ones like the two above.

[2016-07-29 14:55] jingxu97 commented on #29059
@osixia, Thanks for your suggestions. I think the log might be a a little
bit misleading. If the secret volume is already mounted, it won't mounted
ago, But it does rewrite the secret. I think we can avoid rewriting by
comparing the contents. Is that good enough? Thanks!

Jing

On Fri, Jul 29, 2016 at 1:59 AM, osixia <notifications@github.com> wrote:

--
- Jing

[2016-07-29 14:57] k8s-merge-robot opened #29780 "[k8s.io] Deployment deployment should support rollover {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/12165/

Failed: [k8s.io] Deployment deployment should support rollover {Kubernetes e2e suite}

[code]

Previous issues for this test: #26509 #26834

[2016-07-29 15:04] huang195 commented on #29517
My problem turned out to be Docker for Mac by default allows it to use only 2GB of memory, which is insufficient as Go is a memory hog when it comes to compiling. I turned it up to 12GB of memory, and compile went through fine. Closing.

[2016-07-29 15:04] #29517 closed

[2016-07-29 15:09] derekwaynecarr commented on #29033
@vishh - ignoring the naming nits, the idea I was trying to capture is that the kubelet has a view of the amount of resources consumed that does not need to be connected to the pods.  if the kubelet reported `Allocatable`, `Capacity`, and `Allocated`, we could decrement `Allocated` separate from the pod life-cycle.

[2016-07-29 15:13] DirectXMan12 commented on #27097
I think we should come up with a story for how that's going to happen.  At the end of the day, it does not necessarily *have* to involve the CRI, but it may (I do like the idea of an optional interface, as @ConnorDoyle suggested), so I think we should work it out.  I'm wary of a scenario where every kubernetes cluster/platform has a different method for allowing users to expose "service" metrics,

[2016-07-29 15:22] mcabranches commented on #27194
Ok @Random-Liu !

Here what I see from the busyloop:

apiVersion: v1
kind: Pod
metadata:
 name: busyloop
spec:
 containers:
 - name: busyloop
   image: busybox:1.24
   resources:
    limits:
     cpu: "1000m"
    requests:
     cpu: "1000m"
   command:
   - "/bin/sh"
   - "-c"
   - "while true; do let a=a+1; done"

Here is the cpu usage seem from the node:

![image](https://cloud.githubusercontent

[2016-07-29 15:24] erictune commented on #4914
@mamspatkar21 @hadcoar have you tried the "redis-cluster" helm chart?
https://github.com/helm/charts/tree/master/redis-cluster
That uses a service for the redis-sentinel, but no service for the redis masters.
So, there should not be any issues with the service munging the IPs or sending writes to the wrong place.   It requires that you use a client which understands how to discover a master using

[2016-07-29 15:27] erictune commented on #29070
It is still going to be alpha in 1.4.

[2016-07-29 15:27] #29070 closed

[2016-07-29 15:32] erictune commented on #21817
Agree with what @jeffmendoza said.

There will be no `blueprints/` directory.  Things that don't "tell a story" will go into a charts repository.  We are still sorting out exactly which repository and what the review requirements will be for that repository.  The bar for that repository may be higher, so some things that are currently examples may not make the cut.

[2016-07-29 15:39] mikedanese commented on #22007
@timothysc resource version of what?

[2016-07-29 15:41] #23812 closed

[2016-07-29 15:59] bprashanth commented on #29756
Reading your previous comment, we don't need to delete docker0 with kubenet. In fact, with the "correct" ordering (2 before 3 in your list) doesn't docker just recreate docker0 for itself if we simply `service restart docker`? how does deleting the bridge even help?

There are a few situations to handle though:
* On the master:
 * either don't use kubenet, continue what we're doing today. It doesn

[2016-07-29 16:18] ChrisMcKenzie commented on #29759
Another interesting finding is that if I create a cluster with a master and one minion I do not get this issue.

[2016-07-29 16:23] bprashanth opened #29782 "Reduce size of fluentd baseimage"
It's 400+mb and we need to pull it on every node. This leads to a lot of image pulling flake (https://github.com/kubernetes/kubernetes/issues/26626), and also gets very expensive in some countries where bandwidth is sold at a premium.

We took a stab at halving the size with: https://github.com/kubernetes/kubernetes/pull/26652#issue-158005512, but then realized that we were using an unsupported ba

[2016-07-29 16:31] osixia commented on #29059
@jingxu97 yes, how i use secrets not rewriting the content would be great, to avoid rewriting deleted files especially.

[2016-07-29 16:39] jingxu97 commented on #29059
@osixia, do you mean you have some cases that you want to delete some files
under secrete directory, and don't want the system to rewrite those files
after deletion? It would be great if you could let us know more details
about your use case so that we are more clean about what needs to be done.
Thanks!

Jing

On Fri, Jul 29, 2016 at 9:32 AM, osixia <notifications@github.com> wrote:

--
- Jing

[2016-07-29 16:51] evaldasou opened #29783 "Can't finish Kubernetes deployment on VMware vSphere"
Hi Guys!

I have followed this guide in order to deploy Kubernetes on VMware : http://kubernetes.io/docs/getting-started-guides/vsphere/

However, I reach the same wall every time I try to re-deploy it. Maybe anyone has any ideas what to do next, or what to change in order to finish deployment succesfully?

[2016-07-29 16:53] yujuhong commented on #28399
Just to summarize again, for the resource usage test:
- The docker memory leakage is known and discussed in #27336. Since we don't patch docker, the test in the soak cluster will continue to fail. We will discuss potential workarounds in the issue.
- As for the occasional kubelet RSS memory failures (which were just over the limit) will be checked in #29244.

There are failures in other tests whic

[2016-07-29 16:56] a-robinson commented on #24677
cc @fgrzadkowski @piosz

[2016-07-29 17:05] maisem commented on #29756
This isn't an issue with the master.
This is an issue with the node.

docker0 deletion for GCI was introduced in #27016 to fix #26379. #29757 merely reorders it.

[2016-07-29 17:12] yujuhong commented on #29579
@ncdc, to help with tracking, let's assign this to you until you reply.

[2016-07-29 17:15] osixia commented on #29059
@jingxu97 i don't know if it's revelant and may be i just do stupid things just let me know :) a litle example:

I have an openldap image, when the container starts for the first time if no database is provided it creates a new one with an admin password. When the database is created the admin password is stored encrypted and i don't want it to stay in the container environment in clear text. (i d

[2016-07-29 17:16] bprashanth commented on #29756
docker0 deletion isn't required for node.

[2016-07-29 17:17] bprashanth commented on #29756
https://github.com/kubernetes/kubernetes/issues/26379 is only an issue on the GKE master because we pass `--pod-cidr=172.17.42.1/16` on GKE, which overlaps with the default range of docker0.

[2016-07-29 17:19] yujuhong commented on #29559
@kubernetes/deployment anyone wants to take a look?

[2016-07-29 17:20] bprashanth commented on #29756
I take that back, https://github.com/kubernetes/kubernetes/issues/26379 was an issue because we were not using kubenet. Once we started using kubenet, GCE masters *should* work with or without docker0 deletion. GKE masters won't work because of the --pod-cidr argument overlapping with docker0.

[2016-07-29 17:21] csaintc opened #29784 "Documentation on how to recover from a bad deployemnt"
@kubernetes/deployment
@bgrant0607

Deployments are going to be used most often in the context of a CD pipeline.

How do people programmatically recover from bad deployments?

Rolling update used to return a non-zero exit code, and it was a simple matter of wrapping it in a try-catch and calling `—rollback` to undo an unsuccessful deployment.

The new Deployment API has no such functionality. It a

[2016-07-29 17:38] wojtek-t commented on #29375
@spxtr - what's the status of it? I think we should prioritize it.

@fejta - can you please prioritize it?

[2016-07-29 17:39] wojtek-t commented on #29375
To clarify - this is especially annoying for people outside Google, where they see that GKE tests are passing, and then we are reverting their PR because it broken GKE tests.

[2016-07-29 17:44] ProTip commented on #25257
Has consideration been put into using autoscale [LifeCycle Hooks](http://docs.aws.amazon.com/autoscaling/latest/userguide/lifecycle-hooks.html)? This would provide kubernetes with the opportunity to relocate the pods before the instance is terminated. It could also be handy for an ELB ingress controller..

[2016-07-29 17:51] spxtr commented on #29375
Yes, this is a priority. It didn't happen this week because of the meetup but it will be first thing next week.

[2016-07-29 17:52] janetkuo commented on #29559
cc @kargakis

[2016-07-29 17:55] Random-Liu commented on #27194
I've tried in my environment, everything is good:
[code]

[2016-07-29 18:17] quinton-hoole commented on #28477
Addressed by  #28668 . Closing.

[2016-07-29 18:17] #28477 closed

[2016-07-29 18:19] yujuhong commented on #27097
This is one possible route, but it requires kubelet figuring out whether runtime supports metrics (i.e., optional features) and whether kubelet's metrics library (a.k.a. cadvisor) supports the type of the runtime (e.g., hypervisor-based). It may make more sense to just push this down to the runtime.

[2016-07-29 18:21] quinton-hoole commented on #27623
ping @mml

[2016-07-29 18:21] mcabranches commented on #27194
Thanks @Random-Liu,

Could you please share whats your enviroment? (OS and kubernetes version)

[2016-07-29 18:26] Random-Liu commented on #27194
[code]

I think most likely, your cadvisor used by kubelet does not include the change https://github.com/google/cadvisor/pull/1333.

[2016-07-29 18:27] yujuhong commented on #29252
I am less sure about that, unless we have a good way for the runtime to express whether it supports or not.

For example, we may want to make sure the runtime *can* support certain security features (e.g., #29765)

[2016-07-29 18:28] yujuhong commented on #29252
This issue keeps track of the items that we need to deal with later, but it doesn't mean that we *have* to add it to CRI :)

[2016-07-29 18:36] mcabranches commented on #27194
My image is from:

quay.io/coreos/hyperkube:v1.3.2_coreos.0

I will try to use the image from gcr.io.

[2016-07-29 18:37] DirectXMan12 commented on #27097
I had interpreted the suggestion as something like defining a well-known interface that had two different actions:

a) fetching metrics
b) indicating where to look for "service" metrics in a standard format from pods

So Kubelet can a) ask the container runtime for metrics, and b) say "by the way, expect to see 'service' metrics in format X in location Y for these pods in these places" (where "in

[2016-07-29 18:38] Random-Liu commented on #27194
If so, @yifan-gu @euank it seems that the cadvisor change is not included on coreos side? :)

[2016-07-29 18:40] vishh commented on #29033
Got it. `Allocated` will change often and thats why I'm hesitant towards
adding it to NodeStatus. On the other hand, we include images in the
nodeStatus which also changes often :(
Exposing `Allocated` or `Available` might be useful even beyond the use
cases of this feature. I'm just questioning the communication channel and
not the general idea itself.
Having kubelet delete pods will let us expli

[2016-07-29 18:41] ProTip opened #29789 "AWS: Friendly ELB Names"
`a44e18e4c552b11e683bb02fff13e176` is not a very friendly ELB name. The AWS console does not allow for searching/sorting by tags for every resource. We use something like this:

[code]

It would be nice if we could pick a template to use for naming. A combination of cluster name and pod name might work well.

[2016-07-29 18:56] xiangpengzhao opened #29790 "Create the log dir specified by flag "--log-dir" if not exist"
When starting kube-apiserver or other kube bins, if we specify a dir to log by flag `--log-dir` but the dir doesn't exist, the dir cannot be created automatically and then nothing will be logged.

From the users' perspective (at least mine), they may think kube should create the dir they specified if not exist, else they will lose the log.

If the dir should be created first if not exist, is it th

[2016-07-29 18:56] jingxu97 opened #29791 "Make remounting secret/configmap optional"
In current secret/configmap volume management design, secret/configmap volumes get periodically rewritten when syncPod occurs to keep their contents up to date. However, there is some use cases that users do not want this behavior. For example,

User create a secret to store a password for a database. After the pod is created and secret volume is mounted to the container, the secret password is us

[2016-07-29 18:57] jingxu97 commented on #29059
@osixia Thank you for posting your use case. We plan to add a feature for addressing it, track it under #29791. Please let me know if you have any suggestions. Thanks!

Jing

[2016-07-29 18:57] moleksyuk opened #29792 "AWS: Flexible installation"
It's a feature request related to installation of `Kubernetes` in `AWS`.
### Requirements
1. Installation of `Kubernetes` should be more flexible and can accept preconfigured stuff in `AWS`:
- VPC
- Zone
- Region
- S3 bucket prefix
- etc

And during `kube-down` kubernetes should delete only objects created only by itself and **skip** provided ones to avoid breaking preconfigured AWS infrustructure

[2016-07-29 18:57] rata commented on #29789
The whole env name might be too long, as the whole name should be <= 20 characters. By default, I use `[app]-[env-short-name]` and env-short-name is a terraform map that is "stag" for staging and prod for "production".

In any case, doing just that doesn't seem enough as we need to guarantee the ELB name is unique. So some randomness or something might be needed

[2016-07-29 19:05] erictune opened #29794 "Kubectl delete-cluster, list-clusters, delete-contexts, list-contexts"
I make a lot of clusters and then I forget which ones I have.  I could do `kubectl config view` but that is a lot of spew.  I could do  `kubectl config view --minify` but that only shows the current context.

I'd like:
[code]

I'd also like:
[code]
so I can see what contexts I have.

I'd also like:
[code]
or
[code]

I'd also like:
[code]

Also, something needs to GC contexts that have no cluster,

[2016-07-29 19:12] timothysc commented on #26782
closed via #29699 and #29743

[2016-07-29 19:12] #26782 closed

[2016-07-29 19:32] ConnorDoyle commented on #27097
Or even more simply, configure Kubelet to look to one or more endpoints as metrics sources. One of them might happen to be a process that also implements the CRI interface. With gRPC you can stack multiple services. If guaranteeing system metrics are present is a concern, maybe the system metrics source endpoint could be a separate config value.

[2016-07-29 19:39] derekwaynecarr commented on #29033
Got it.  I need to think more on the rate of updates.

On Friday, July 29, 2016, Vish Kannan <notifications@github.com> wrote:

[2016-07-29 19:43] osixia commented on #29059
@jingxu97 thank you very mutch :)

I have an other thought about the service-account default token, i guess this one will be automatically remounted, but is there any way to not mount this secret to a pod ?

I'm concerned about security issues if a pod is compromised, that will allow someone to request the kubernetes api ?

[2016-07-29 20:14] qiancai opened #29797 "several issues with the rbd volume plugin"
version: kubernetes-1.2.0 git ec7364b

There are a 3 strange situation associated with the rbd volume plugin depends on the sequences of pod creating. All of them seem buggy. The 1st and 3rd situations create denied of service for other users to access the rbd from pod.

1) create a buggy pod directly use a rbd volume (no pv and pvc) but with an incorrect rbd xfstype (for example, if the rbd volum

[2016-07-29 20:17] philk commented on #29322
This is true of the zsh completions (on 1.3.x) as well.

[code]

[2016-07-29 20:21] philk commented on #29322
Weird, it works fine without the `=` (so `kubectl --namespace staging get pod bal<TAB>` completes as expected.

[2016-07-29 20:29] piosz opened #29799 "Revisit error events generation in HPA controller"
Currently the HPA behavior is:
1. Observe high cpu utilization
2. Scale resource up
3. Query for metrics of old and newly created pods
4. Metrics are not available yet, so export error event

This is confusing for users because the HPA is working correctly but the error is exported. Probably we should introduce some grace period before exporting error event.

[2016-07-29 20:29] piosz commented on #29799
@kubernetes/autoscaling

[2016-07-29 20:33] chrislovecnm commented on #29538
By across cluster do you mean different k8s clusters?  If so then yes PV, and PVC are based on cluster, and there identity does not span the cluster.  You also need to clean up the PV and PVC yourself. After the pods have left the terminating state should trigger deletion of the backing Persistent Volumes.

[2016-07-29 20:34] saad-ali commented on #29166
@sbadia Please email me your GKE cluster name/project ID/zone and I will grab your master logs. Also if you could, please share the complete `/var/log/kubelet.log`with me as well.

[2016-07-29 20:38] chrislovecnm commented on #28718
One thing I noticed is that we are not adding scaling via `kubectl`.  For example:

[code]

This would be a nice to have.

[2016-07-29 20:42] chrislovecnm commented on #29789
What about prefixing it with something.  Pod, petset, etc.  GCE volumes are prefixed and are super easy to find because of the prefixing.

[2016-07-29 20:46] chrislovecnm commented on #29420
So is this broken?  I am confused a bit :(

[2016-07-29 20:47] rata commented on #29789
On Fri, Jul 29, 2016 at 01:42:50PM -0700, Chris Love wrote:

Remember the max is 20 characters for an ELB name

[2016-07-29 20:48] timothysc commented on #10570
/cc @nqn @ConnorDoyle

[2016-07-29 20:54] ProTip commented on #29789
ELB names can be up to 32 characters long:

* [Docs](http://docs.aws.amazon.com/ElasticLoadBalancing/latest/APIReference/API_CreateLoadBalancer.html)
* The 32 char name I posted that was generate by kubernetes

[2016-07-29 20:54] aledbf commented on #29782
@bprashanth I can try again now that the agent supports `LTS 16.04 "Xenial"`
[code]

[2016-07-29 20:55] chrislovecnm commented on #10439
+1 on this ... we have the same need in-hour.  @erictune @thockin @bgrant0607 any chance to get more leverage on this?

[2016-07-29 20:56] caesarxuchao commented on #29451
Sent #29798 to fix.

[2016-07-29 20:58] chrislovecnm commented on #28538
See https://github.com/kubernetes/kubernetes/issues/10439 - people are asking for Vault or the capability to use plugins which would allow for KMS as well.

[2016-07-29 21:06] vishh opened #29800 "Node e2es for Disk usage based evictions"
We should add node e2es for disk usage based evictions before the feature is made available to users. Testing memory evictions surfaced a bug which could have been caught if the tests were available before v1.3 was released.

[2016-07-29 21:15] erictune commented on #10439
I don't know of anyone who is planning to work on this soon.  If it gets done soon, it will be because someone from the community drives it.

[2016-07-29 21:17] yujuhong commented on #27097
Agreed.

This is debatable. A separate monitoring pipeline could allow more flexibility without changing the kubelet stats api.

If kubelet is going to be the hub of all custom metrics, this interface/api should be completely separate from the CRI.

I think we've all agreed that core metrics should be part of CRI, and we should aim for finishing that first.
The non-core metrics, whether be optiona

[2016-07-29 21:26] mcabranches commented on #27194
@Random-Liu, I updated my image to:

quay.io/coreos/hyperkube:v1.3.3_coreos.0,

and now summary gives me solid results!

summary 969450292
summary 981502299
summary 979666799
summary 974698594
summary 979669279
summary 979669279
summary 970179837
summary 974426627
summary 969760406
summary 969760406
summary 956591142
summary 930949962
summary 956165586
summary 968322052
summary 968322052
summary 9

[2016-07-29 21:36] arun-gupta commented on #28727
`kube-down.sh` was misbehaving with the following error:

[code]

So I deleted all the Autoscaling groups, terminated all the instances. And now this error is not letting me start a new Kubernetes cluster.

[2016-07-29 21:41] olalonde commented on #29640
Some potentially relevant logs:

[code]

[code]

Also frequently seeing:

[code]

[2016-07-29 21:45] jimmidyson commented on #29640
That last error I think is caused by the (very old) version of Kubernetes metadata filter fluentd plugin using symbols rather than strings for keys. This is fixed in later versions & the image needs updating to use a recent release (latest release is 0.24.0).

[2016-07-29 21:49] mcabranches commented on #27194
My "cpu/usage_rate" from:

watch curl 10.125.7.224:31580/api/v1/model/namespaces/rubis-ns/pods/rubis-vhqc6/metrics/cpu/usage_rate

is crazy! (using heapster:v1.1.0 and the "--source=kubernetes.summary_api:https://kubernetes.default" )

{
  "metrics": [
   {
    "timestamp": "2016-07-29T21:37:00Z",
    "value": 99
   },
   {
    "timestamp": "2016-07-29T21:38:00Z",
    "value": 100
   },
   {
    "

[2016-07-29 21:53] jingxu97 commented on #29791
@erictune since this request related to security aspect, could you please help take a look and let me know if you have any comments?

[2016-07-29 22:05] bprashanth commented on #28718
Yeah im writing a scaler/reaper right now

[2016-07-29 22:23] vishh opened #29803 "Delete all containers, including dead ones, for `Failed` pods"
Kubelet evicts pods whenever there is memory or disk pressure. It marks the pods as `Failed` to evict them. To help with reducing disk pressure,  kubelet should delete all containers belonging to `Failed` pods right away.
This will result in loss of logs. In the future, we can copy out logs from dead containers before deleting them. Logs can be rotated separately from dead containers.
IMO, this fe

[2016-07-29 22:33] abrarshivani commented on #29028
Let me know if anyone is already fixing this issue otherwise I will work on it.

[2016-07-29 22:34] dchen1107 commented on #28789
cc/ @matchstick @thockin  Here is the working item and planning we talked about

[2016-07-29 22:37] erictune commented on #29059
For the problem about excessive disk first raised by @jf647, I think maybe kubelet should remember which secret UID was last written, and not rewrite if the secret UID has not changed.  What do you think  @jingxu97?

For @osixia If you want to not have the token mounted, you can do this:
https://github.com/kubernetes/kubernetes/issues/16779#issuecomment-157460294
It isn't pretty, but it works.

[2016-07-29 22:39] erictune commented on #29791
If a user wants to have a secret be unmounted, they can do the following:
1. have an init container which mounts the secret, runs the database, puts the password in it, and then stops the database.
2. have a main container which runs the database.  The main container does not need to mount the database.

[2016-07-29 22:40] medhedifour opened #29804 "How to manage dependency between services or pods in kubernetes ?"
Hi all,
I have consulted some of application examples in the repository of kubernetes and I have noticed that the important details of linking containers or pods to respect a certain hierarchy of an application are omitted. There are no details of how to manage dependency between services. I hope I have a clear example that accentuate the problem of linking components.
Can someone help me to have

[2016-07-29 22:43] rvrignaud commented on #29166
Hi @saad-ali just gave you the informations on slack.

[2016-07-29 23:15] chrislovecnm commented on #28718
Awesome ;)

[2016-07-29 23:29] mwielgus opened #29810 "DistruptionBudget API to dry-run pod eviction"
We need this in cluster autoscaler to check whether we actually can delete a node before we start doing so.

[2016-07-29 23:48] dchen1107 commented on #27194
Thanks for the information. Could you please provide cpu_usage along with usage_rate from heapster?

[2016-07-30 00:22] mcabranches commented on #27194
Team Thanks for yours attention!

@dchen1107 do you mean the cpu_usage provided by heapster?

If so, when I use any "source" provided by summary in heapster (=kubernetes.summary_api:'' or kubernetes.summary_api:https://kubernetes.default) the cpu/usage doesn't get populated!

 curl 10.125.7.224:31580/api/v1/model/namespaces/rubis-ns/pods/rubis-vhqc6/metrics/cpu/usage
{
  "metrics": [],
  "latestTi

[2016-07-30 00:25] #29451 closed

[2016-07-30 00:35] alexbrand commented on #29794
This seems like a great issue to get introduced to kubectl. @erictune Would love to help out here

[2016-07-30 00:56] saad-ali commented on #29166
Thanks for the info @rvrignaud! I took a look at your master logs. Errors I saw:
[code]

This indicates that you are running into issue https://github.com/kubernetes/kubernetes/issues/29358. That issue has been fixed and the the patch will be part of v1.3.4.

In the meantime I restarted the kube-controller-manager binary on your master so the PDs running in to this issue should now be unblocked.

[2016-07-30 01:14] saad-ali commented on #29028
@abrarshivani No one is working on it at the moment, AFAIK, so feel free!

[2016-07-30 01:38] #26215 closed

[2016-07-30 01:39] fgrzadkowski commented on #27194
@mwielgus Can you please help with debugging this? This seams important.

[2016-07-30 01:43] fgrzadkowski commented on #27194
Can you please include logs from heapster?

[2016-07-30 02:30] kevin-wangzefeng commented on #27655
@gmarek Yes, this failure probably occurs when the test trying to add/remove labels/taints to/off a node while the node happened to be refreshed by kubelet due to heartbeat. We can add retries to functions that modify labels/taints to reduces this failure.

[2016-07-30 02:47] k8s-merge-robot opened #29816 "[k8s.io] SchedulerPredicates [Serial] validates that embedding the JSON NodeAffinity setting as a string in the annotation value work {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1822/

Failed: [k8s.io] SchedulerPredicates [Serial] validates that embedding the JSON NodeAffinity setting as a string in the annotation value work {Kubernetes e2e suite}

[code]

[2016-07-30 03:01] thockin commented on #29420
I don't think it is broken.  I am waiting for Clayton to prove me wrong or
close the bug.  Or show me where we need to expand...

On Jul 29, 2016 1:46 PM, "Chris Love" <notifications@github.com> wrote:

[2016-07-30 06:00] whereisaaron opened #29819 "kubectl doesn't raise an error for an inappropriate --certificate certificate"
If you specify a client certificate to `kubectl` with `--certificate` and that certificate is missing the `clientAuth` `keyUsage` then `kubectl` silently won't send it to the api server.

While it sensible for `kubectl` not to want to use a certificate lacking the appropriate `keyUsage`, it does not report any error to the user or even in the `--v=8` logging, it just silently ignores the specified

[2016-07-30 08:50] osixia commented on #29059
@erictune thanks but the trick seems to not work anymore :(

test.yaml:
[code]

returns:
[code]

[2016-07-30 08:59] osixia commented on #29059
@erictune thanks but the trick seems to not work anymore :(

test.yaml:
[code]

returns:
[code]

if i remove  `serviceAccount: "no-api-access"` the pod keep crashing with :
[code]

[2016-07-30 09:21] ibotty commented on #9902
Regarding the mount point: What about using an annotation in the secret and if none is given, mounting below `/run/secrets/kubernetes.io/secrets/<name>`?

[2016-07-30 09:24] ibotty commented on #9902
Oh, and that should definitely be opt-in per container in the pod: Privilege separation within a pod!

[2016-07-30 10:17] Yancey1989 commented on #29727
@magicwang-cn skydns will watcher endpoint api of apiserver cross secrete endpoint.
Can you print the message about:
1. Setup param of apiserver
1. ```kubectl get pod --namespace=kube-system -o yaml```
1. ```kubectl get secret --namespace=kube-system -o yaml```

[2016-07-30 13:06] k8s-merge-robot opened #29820 "[k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}"
Dupe of  #29845

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1825/

Failed: [k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27662

[2016-07-30 13:24] k82cn commented on #15630
I think just code style check is enough, delegate others to test.

[2016-07-30 13:27] k82cn commented on #28322
+1 for code style; e.g.

[code]

**vs.**

[code]

[2016-07-30 13:57] alexbrand opened #29822 "Kubectl config get-contexts missing new line in error message"
When specifying an invalid output format, the error message and the table headers are printed on the same line, producing hard-to-read output:

[code]

[2016-07-30 14:02] zhouhaibing089 commented on #29791
I know it is true for configmap, it is true for secrets as well?

[2016-07-30 14:51] clueware commented on #23633
I met the same issue while deploying on VMware - and found a related issue on Salt Github (https://github.com/saltstack/salt/issues/34129). Changing
`{% set master_ipv4 = salt['grains.get']('fqdn_ip4')[0] -%}`
to
`{% set master_ipv4 = salt['grains.get']('fqdn')[0] -%}`
was enough to solve the issue for me.

[2016-07-30 14:53] osixia commented on #29791
@zhouhaibing089 yes (i tested with 1.3.3)

[2016-07-30 18:41] Yannovitch commented on #10732
Can you confirm that all the alpine images I'm using from Docker Hub will now work with Kubernetes ?
  I'm using for all my websites a single host Docker-based setup now with almost only Alpine images, and I'm setting up a little Kubernetes cluster to try to make all of this fault-tolerant and load-balanced.
  I would like to know if I have to change all of my images to Debian-based images.

[2016-07-30 19:10] coufon opened #29827 "Docker container name in kubelet is wrong when set container name flag (e.g. --runtime-cgroups=/docker-daemon) for CoreOS image"
The flag to change docker container name does not work for CoreOS, but this exception is not handled in container manager (container_manager_linux.go) .

When the flag (e.g. --runtime-cgroups=/docker-daemon) is used in CoreOS image, the container manager still try to create and use cgroup "docker-daemon" , but the correct cgroup should be "system.slice/docker.service/"

https://github.com/kubernet

[2016-07-30 19:16] k8s-merge-robot opened #29828 "[k8s.io] Deployment paused deployment should be able to scale {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/20907/

Failed: [k8s.io] Deployment paused deployment should be able to scale {Kubernetes e2e suite}

[code]

[2016-07-30 20:59] wernight commented on #10732
Only Alpine 3.4 and later.

On Sat, 30 Jul 2016 at 20:41 Yann Kempf <notifications@github.com> wrote:

[2016-07-30 23:47] girishkalele commented on #29762
Our current partitioning scheme for GCE worker nodes is a giant X GB Debian bootable disk, where root as well as all data directories exist in one single partition/volume.

In general, the partitioning scheme is outside the scope of the node/kubelet feature because for a lot of downstream integrations of Kubernetes, we don't control the process of creation of the worker nodes and/or their disks.

[2016-07-31 00:03] girishkalele commented on #4447
I guess this one is still open - #11838 was closed in favor of https://github.com/kubernetes/kubernetes/issues/13748 but that one is also still open.

To summarize my understanding, if an EndpointsAddress entry is added to a service endpoint that  contains a string IP or hostname field, we respond with CNAME records ?
Can CNAME and A records be mixed in a response ? i.e. if the service has both IP

[2016-07-31 00:09] mcabranches commented on #27194
@fgrzadkowski! Here are the logs from heapster:

 #kubectl logs heapster-p46du --namespace=kube-system
I0731 00:04:40.341956       1 heapster.go:65] /heapster --source=kubernetes.summary_api:https://kubernetes.default
I0731 00:04:40.342228       1 heapster.go:66] Heapster version 1.1.0
I0731 00:04:40.344169       1 configs.go:60] Using Kubernetes client with master "https://kubernetes.default" and

[2016-07-31 01:31] bprashanth commented on #29762
Hmm, why is this out of scope for the node? it's essentially just a permanent volume for the kubelet. nodes need boot disk, and they're going to store logs somewhere. we already format and mount volumes requested by users today, maybe we can just do something similar on bootup for /var/lib/docker/logs ?

[2016-07-31 03:12] better0332 opened #29829 "kubedns seems not work(local-up-cluster.sh)"
I test on vagrant-ubuntu-trusty-64, master branch:

root@vagrant-ubuntu-trusty-64:/mygo/src/k8s.io/kubernetes# KUBE_ENABLE_CLUSTER_DNS=true hack/local-up-cluster.sh   (its ok)

vagrant@vagrant-ubuntu-trusty-64:~$ kubectl get pod --all-namespaces
NAMESPACE     NAME                 READY     STATUS    RESTARTS   AGE
kube-system   kube-dns-v19-iwu1u   2/3       Running   1          2m

vagrant@vagran

[2016-07-31 03:31] AdoHe commented on #20092
I am afraid PR #29771 will not fix this issue. We have to store parallel bitmaps per protocol. I will open a new PR to fix this issue.

[2016-07-31 07:46] k8s-merge-robot opened #29831 "[k8s.io] Services should serve multiport endpoints from pods [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/12280/

Failed: [k8s.io] Services should serve multiport endpoints from pods [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-31 10:14] eddytruyen opened #29832 "Cinder plugin (running inside hyperkube container) fails to find device by Diskid"
I am running into a problem with the Cinder plugin when running Kubernetes inside Docker using the kube-deploy/docker-multinode project

I modified the worker and master scripts of the latter project such that:
- --cloud-provider and --cloud-config options are added to the hyperkube  command
- I mount a host dir with the cloud_config file into the kubelet container (with the -v option)

[code]

Th

[2016-07-31 11:38] erez-rabih opened #29833 "Can't start a new cluster of 1.3.3 on AWS"
Hi,

I tried to bring up a new cluster on my AWS account but the cluster never seem to finish initialization properly.

I SSH'd into the master instance and tail'd the logs of the api server and saw a repeating error message:

[code]

Also, trying to run kubectl.sh cluster-info from the machine that I ran kube-up from returns the following error:

[code]

Any advice on how to solve this?

[2016-07-31 11:57] ibotty commented on #23615
That's fixed now, is it?

[2016-07-31 12:49] Dmitry1987 commented on #28339
Hi, I wanted to report issue that after "deployment update" (I change image name with "kubectl set image deployment/..... ", and it does rolling update with creating a new replica-set) old replica-set that now has 0 pods, still exist in dashboard.  But I guess this ticket addresses it already, right?

[2016-07-31 12:53] kargakis commented on #28381
@bgrant0607 thanks, I will be back at this in a couple of weeks.

[2016-07-31 13:31] osixia commented on #29791
@erictune this is a solution indeed, but the old way secrets worked was just perfect and allowed a mutch more simple process for this kind of use. I really hop the option will be added.

[2016-07-31 14:12] erez-rabih commented on #29833
I figured out what the problem was:
I issued a kube-down command to turn the cluster down but the volume of kubernetes master was not deleted.
When I issued a kube-up again the master attached the old volume so the new certificates and secrets generated were invalid.

[2016-07-31 14:26] k8s-merge-robot opened #29834 "[k8s.io] Kubectl client [k8s.io] Kubectl replace should update a single-container pod's image [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/12300/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl replace should update a single-container pod's image [Conformance] {Kubernetes e2e suite}

[code]

[2016-07-31 15:17] lixiaobing10051267 commented on #29440
has found correct website, close the issue

[2016-07-31 15:17] #29440 closed

[2016-07-31 15:34] #26844 closed

[2016-07-31 15:35] onbjerg commented on #10439
This is a significant pain point for my team.

[2016-07-31 17:44] smarterclayton commented on #23615
Should be but prolly need a retest.

[2016-07-31 20:04] jaxxstorm opened #29835 "serviceaccount/ca.crt not being read in kube-dns container"
I'm using [this](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/coreos/kube-manifests/addons/dns/skydns-rc.yaml) definition to manually create the kube-dns addon.

When creating the container, I get the same issue as in #27973

[code]

This works fine on a host in the default namespace. I've set `root-ca-file` and `--service-account-private-key-` int the api config and controller

[2016-07-31 20:09] jaxxstorm commented on #29835
Oh, I missed the docker inspect output:

[code]

So the mount exists and the ca.crt exists inside that mount:

[code]

[2016-07-31 20:10] jaxxstorm commented on #29835
Looks fairly similar to #24829 but I've deleted the secrets multiple times without much luck..

[2016-07-31 20:13] jaxxstorm commented on #29835
Also related maybe? #10265

[2016-07-31 21:40] coufon commented on #29244
I run 30 back-to-back resource usage test using v1.3 kubelet (commit 7e1e51844f79cdf76a3ca9378380749fd256d234, July 28th). I found that RSS memory usage of kubelet continuous increases. For example, I plot the memory got from 300 pods resource monitoring of the tests on one node:

![soak_test_memory](https://cloud.githubusercontent.com/assets/11655397/17279589/bcd40a1c-572c-11e6-908d-3698376ad341.

[2016-07-31 23:58] paulosotu commented on #23727
hey guys any update on this?

[2016-08-01 00:21] derekwaynecarr commented on #27194
I am not sure if this is related but I just fixed a bug in cAdvisor where
it reported incorrect usage stats in v2 API due to an incorrect for-loop.

https://github.com/google/cadvisor/pull/1395

I need to sweep cAdvisor to see if that pattern exists elsewhere, but
thought it may help in this case when debugging.

On Saturday, July 30, 2016, mcabranches <notifications@github.com> wrote:

[2016-08-01 00:47] philipn commented on #26567
Multiple Pods mounting a RWO volume is required for seamless deployment[1], so this seems important to support.  There's nothing in the volume behavior (RWO) that dictates the application behavior.  Some applications, e.g. PostgreSQL, don't handle multiple-writers well.  But the access mode of the volume doesn't dictate the application behavior, and some applications handle multiple-writers well.

[2016-08-01 01:09] anguslees commented on #7199
@VMTrooper: Any hints in the logs?  What cloud provider config are you using?  Have you specified `floating-network-id`?  (See https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack.go#L80 for the various values supported - depending on which version of k8s you're using)

[2016-08-01 03:52] davidopp commented on #26567
Is the RWO access mode (or the others) defined anywhere? I didn't find anything explaining the access modes, but I admit I didn't look very hard.

[2016-08-01 04:04] bgrant0607 commented on #15244
See also https://github.com/kubernetes/kubernetes.github.io/issues/649

[2016-08-01 04:08] philipn commented on #26567
In terms of docs, it's in the PVC docs over here: http://kubernetes.io/docs/user-guide/persistent-volumes/#access-modes

[2016-08-01 04:26] davidopp commented on #26567
Thanks.

FWIW I think this request is fairly reasonable. Today we don't guarantee that the second pod will schedule onto the same node, nor do we guarantee that the second pod will schedule onto a different node. So people currently don't have any expectation that we would be breaking if we make it schedule onto the same node. Also, forcing the pod to schedule onto the node where the other RWO pod

[2016-08-01 06:00] thockin commented on #26567
I think this is the correct behavior, and here's why:  The volume asked to
be used read-write-once.  It didn't say "unless you can share it".  First,
we can't guarantee that we make the assignment you want - resources might
not be available.  Would you rather the update go pending?  Second, while
it might work for some apps, it will NOT work for some apps.  I'd rather
inconvenience the "smart" app

[2016-08-01 06:07] thockin commented on #10439
To be clear, we would like to see something here too.  We have no real
precedent for API objects to be stored in a plugin-system, so we have to
work that out.  We have no particular Vault expertise in-house, so we could
use help there.  We have literally hundreds of things we're working on at
the same time, which makes it difficult to squeeze this onto the near-term
plate without dropping somethin

[2016-08-01 06:15] davidopp commented on #26567
@thockin Unless I'm misunderstanding, in the current implementation, we do not guarantee the second pod will go to a different node. Thus the problematic scenarios you identified ("corrupt the 'dumb' ones" and "RC with n>1, all replicas would schedule to the same machine, and share the disk") can already happen today.

[2016-08-01 06:17] krmayankk commented on #28940
@pwittrock  @timstclair thanks for the pointers.
Questions:-

- Is [this](https://github.com/kubernetes/kubernetes/blob/release-1.3/docs/proposals/node-allocatable.md)  still a proposal or has this been implemented ?
-  The proposal mentions the following
[Allocatable] = [Node Capacity] - [Kube-Reserved] - [System-Reserved]

Also describe node already has Allocatable field. See below:-
[code]
Is t

[2016-08-01 06:19] thockin commented on #20092
This alone is insufficient, but we might get away without storing two maps by simply saying

* the port map is unified across protocols
* if a service has 2 ports that use the same port number but different protocols, allocate the first nodePort and use the same value for the 2nd port

This will prevent the case of ports being used in one protocol but not the other and failing to allocate.

Someth

[2016-08-01 06:19] thockin commented on #20092
Additionally, if you have to store multiple bitmaps, you have a serious hassle on your hands for upgrading cluster in-place.  Better to avoid it if you can.

[2016-08-01 06:21] krmayankk commented on #23211
@kargakis @bgrant0607 is there a proposal for how we plan to implement this. We are interested in this feature and if possible would like to help out with the implementation as well.

[2016-08-01 06:22] thockin commented on #26567
They should not share the disk, even if scheduled to the same node. It was
once true, but we made a choice NOT to allow that.  If it still allows
that, it is a bug and should be fixed (or broken, depending on your POV).

On Sun, Jul 31, 2016 at 11:16 PM, David Oppenheimer <
notifications@github.com> wrote:

[2016-08-01 06:26] thockin commented on #4447
#13748 will be worked on by @rata.

You can not mix CNAME and A records, and in fact you can not even have
multiple CNAME records.

Neither of those are what  this one is about, though.  This is about
auditing the API and documenting when a field *must* be an IP (and
adding/tightening validation and tests in those cases) vs when a field may
be an IP or a hostname (and adding/loosening validation a

[2016-08-01 06:27] AdoHe commented on #20092
@thockin sure, I will think about this more.

[2016-08-01 06:30] davidopp commented on #26567
Sorry, my bad, I misunderstood the current behavior.

[2016-08-01 06:35] thockin commented on #26567
It may actually be broken. :)  It certainly USED TO work as you describe,
but it was confusing at best.  Two pods using the same RWO PV would
sometimes work (if they landed on the same node) and sometimes fail (if
they didn't).

On Sun, Jul 31, 2016 at 11:30 PM, David Oppenheimer <
notifications@github.com> wrote:

[2016-08-01 06:57] philipn commented on #26567
@thockin It asked to be "read-write-once" for the node, not for the pod, at least according to the documentation?  Maybe something like "RWO-Pod" and "RWO-Node" is needed?  I don't think it would be confusing if the scheduler always placed the RWO pods for a given PVC on the same node.  This is the current behavior, by the way.

Our scenario is that we need to allow seamless updates for stateful s

[2016-08-01 07:02] jszczepkowski commented on #28097
The last [problem](https://github.com/kubernetes/kubernetes/issues/28097#issuecomment-236316408)(an error on the server has prevented the request from succeeding) is a duplicate of #28656.

[2016-08-01 07:04] krmayankk opened #29838 "kubectl get events doesnt sort events by last seen time."
Here is one example see below:-
[code]

After 13m, it should be 10m and then 8m. This feature would allow us to see whats wrong easily. I have had other examples where its all mixed up and its not easy to see where your just deployed pod is failing. Tested on 1.3.0

[2016-08-01 07:06] thockin commented on #26567
On Sun, Jul 31, 2016 at 11:58 PM, Philip Neustrom
<notifications@github.com> wrote:

Users should not be thinking about nodes, as much as possible.

Assuming this is all gated by a PVC, I could see it MAYBe, but we have
to work through the issues I raised:

1) we can't guarantee that we make the assignment you want - resources
might not be available.  What should happen?

2) while it might work fo

[2016-08-01 07:11] onbjerg commented on #10439
@thockin Understandable. I get that you're very busy. And don't misunderstand -- if I had the knowledge of Kubernetes internals and Go, I would probably work on this, but I've just started out with Go (it's neat so far).

I think the comment were more of a way to vocalize that we need it, so you can weigh that in when you prioritize stuff. I hope someone will look at it, at some point. :)

[2016-08-01 07:27] VMTrooper commented on #7199
Thank you for follow-up @anguslees, one of the BlueBox folks (@vmtyler) pointed out the additional config required for the openstack provider, and I was able to get it working.

I will keep the openstack code you mentioned bookmarked for future releases in case any of the supported values change!

[2016-08-01 07:31] thockin commented on #10439
Of course.  I just want to be on record about why we haven't done it yet.
It's a great idea in an ocean of great ideas :)

On Mon, Aug 1, 2016 at 12:12 AM, Oliver <notifications@github.com> wrote:

[2016-08-01 07:41] gmarek commented on #26982
Maybe there was some events left, or controllers, or something? Is there a way to check?

[2016-08-01 07:50] hanikesn commented on #29749
cc @erictune @madziefe @bobbyrullo @ericchiang

[2016-08-01 07:51] jszczepkowski commented on #27470
There is a problem with influxdb:
[code]

[code]

kubelet:
[code]

Influxdb is not running because it is waiting for mounting its persistent volume.

@bprashanth
PR #28840 fixes the way persistent volumes are provisioned for influxdb. It should help here.

[2016-08-01 08:04] sbadia commented on #29166
Thanks @saad-ali \o/

[2016-08-01 08:27] jszczepkowski commented on #28900
Error with pulling image:
[code]

[2016-08-01 08:27] jszczepkowski commented on #28657
Error w/ pulling image:
[code]

Duplicate of #28900

[2016-08-01 08:27] #28657 closed

[2016-08-01 08:34] jszczepkowski commented on #27925
Most probably duplicate of #28900 (problems w/ pulling image). Unfortunately, pod events are not logged.

[2016-08-01 08:51] jszczepkowski commented on #28097
The original problem with lack of stability is probably caused by #27194. Before #27194 is fixed, we can experience strange HPA behavior.

[2016-08-01 08:51] #28097 closed

[2016-08-01 08:52] jszczepkowski commented on #27917
Probably caused by #27194. We can experience any HPA behavior before #27194 is fixed.

[2016-08-01 08:52] #27917 closed

[2016-08-01 08:52] #27925 closed

[2016-08-01 09:44] RedCornerR opened #29843 "how to change docker Image registry when runing k8s on mesos"
i followed the guide "http://kubernetes.io/docs/user-guide/" and tried to deploy a pod. however i get the error below.  i changed the image registry to a local address on all mesos computing nodes OPTIONS='--selinux-enabled=false --insecure-registry 192.168.1.151:5000'
it still try to pull the image from gcr.io which is not available.

WarningFailedSync   Error syncing pod, skipping: failed to "St

[2016-08-01 09:52] gmarek opened #29845 "kubelet doesn't recreate mirror pods once their static counterparts have terminated"
In some test runs I noticed that e2e-image-puller images are reported by Kubelet

[code]

but not listed when reading from API server:

[code]

I thought that it may be some problem with garbage collector, but there are no interesting logs coming from `pod_gc`. I don't think it's the cause of the failure, or if it can cause problems, but it's certainly unexpected. Assigning to @davidopp for triage

[2016-08-01 10:04] gmarek opened #29846 "Scheduler and Kubelet don't agree on resources"
SchedulerPredicates tests (MaxPods and resource usage) started failing from time to time with an error I haven't seen before - Kubelet and Scheduler don't agree on amount of free resources. Namely scheduler successfully schedules Pod to a Node:

[code]

but Kubelet rejects it:

[code]

If I understand correctly our assumptions that shouldn't happen in a healthy system with a single scheduler (prob

[2016-08-01 11:39] jszczepkowski commented on #29516
We already heve updateNodeLabels method [here](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubelet.go#L96). Shouldn't we merge them into one method?

[2016-08-01 11:44] zefciu commented on #29776
@pmorie

[2016-08-01 13:25] feiskyer commented on #28667
# Proposal of letting kubelet handle networking by CNI plugin

## Benifits of this proposal

- Centralized management networking inside kubernetes.
- Easily reuse existing CNI network plugins (required to upgrade CNI to v0.5.0).
- Easily cooperate with `kube-proxy` and `kube-proxy` may keep as is.
- Make no assumptions for container runtimes, e.g. runtime is not required to support CNI network plu

[2016-08-01 13:34] obeattie commented on #28749
I've just encountered the same error when trying to delete a deployment:
```Aug 01 13:19:12 ip-10-101-26-115 docker[896]: E0801 13:19:12.595921       1 deployment_controller.go:400] Error syncing deployment io-gmon/s-3ds: Operation cannot be fulfilled on deployments.extensions "s-3ds": StorageError: resource version conflicts, Code: 3, Key: /registry/deployments/io-gmon/s-3ds, ResourceVersion: 0,

[2016-08-01 13:41] jsafrane commented on #28884
@saad-ali, I am not familiar with GKE, where can I find controller-manager logs?

[2016-08-01 13:46] philipn commented on #26567
Aren't there other (non-volume-related) issues that can occur when an
accidental RC with n > 1 is created?  For instance, can't this happen if
the application deals with any kind of non-volume state?  So maybe this is
a more general problem?  So maybe it's akin to, say, accidentally launching
another DB process on regular Linux host.  In that case, the DB is
responsible for preventing data corrupt

[2016-08-01 13:48] erictune commented on #10439
Anyone interested can still help on this issue without writing any code.  We need someone to write up what they think the requirements are for Vault integration.  Start by writing up one's own requirements, and then re-read this issue and add others from it, and then ask for community feedback on the proposed requirements.  Vault has many features.  Which ones are most important to use?  How shoul

[2016-08-01 13:54] erictune commented on #29791
@jingxu97
Do you think the Kubelet should be rewriting files when there is no change to the UID or ResourceVersion of the backing secret resource?  If it did not, I think that would resolve this issue.

[2016-08-01 14:06] erictune commented on #9902
If it is opt in per container, then there is nothing left to do here!

[2016-08-01 14:09] erictune commented on #29059
What do the pod logs say for the crashing container (e.g. kubectl logs i-have-no-sa)?

[2016-08-01 14:16] erictune commented on #29794
@pwittrock @janetkuo  can you or someone else from experience give a preliminary approval to these changes?

@deads2k does this conflict with anything you wanted to upstream?

To implement these, I think you would do something like start with `pkg/kubectl/cmd/config/create_cluster.go` or `pkg/kubectl/cmd/config/view.go`, and then make a copy called `pkg/kubectl/cmd/config/create_cluster.go`, and s

[2016-08-01 14:25] rbuskens commented on #29411
https://github.com/kubernetes/kubernetes/pull/29801 has been created to set num_threads to 8 by default.

[2016-08-01 14:33] apinnecke commented on #19113
@felipejfc Did it work without the secret?

[2016-08-01 14:33] Trane9991 commented on #29617
Still getting random Pod stuck while mounting secret on the GKE 1.3.3.

[2016-08-01 14:33] andreykurilin opened #29852 "outdated spf13/cobra dep"
Current dependency: Sun Apr 3 (4c05eb1145f16d0e6bb4a3e1b6d769f4713cb41f)

List of interesting fixed issues/prs in master of cobra:
- [Command with only hidden flags still shows "Flags:" section](https://github.com/spf13/cobra/issues/267).
- [Do not display bash commands if local flag specified](https://github.com/spf13/cobra/pull/288)
- [Sort commands by their names](https://github.com/spf13/cobra

[2016-08-01 14:35] Trane9991 commented on #16367
Still having the issue #29617

[2016-08-01 14:47] ericchiang commented on #29749
I believe this was fixed in our client. Feel free to assign me. I'll try to update the dependency today.

[2016-08-01 14:52] hanikesn commented on #29749
@ericchiang I think the client looks fine in 1.3.3 and it's just the old workaround that breaks things.

[2016-08-01 15:04] gmarek commented on #28378
@kargakis what's the status of this P0? This test fails on large clusters.

[2016-08-01 15:05] andrzej-k commented on #27097
This is my first message on Kubernetes community forum so: Hello all :wave:

I think that from the point of view of telemetry solutions having an interface to integrate with Kubelet (to provide core and/or non-core metrics) would be a great solution.
In our [kubesnap](https://github.com/intelsdi-x/kubesnap) project we integrated [snap](https://github.com/intelsdi-x/snap) with Kubernetes to demonst

[2016-08-01 15:09] stevenewey opened #29853 "EBS DetachVolume on terminated instance fails and is not required"
I have a working PetSet on a cluster of AWS instances created by an Auto Scaling Group. If I terminate an instance in the cluster and it's replaced by a new instance within the same availability zone, the new instance is unable to attach the volume.

The logs from the controller-manager indicate it's trying to detach the volume from the now non-existent instance (see the log below), however the AW

[2016-08-01 15:09] deads2k commented on #29794
It doesn't collide with anything, but @bgrant0607 has wanted to gut the `kubectl config` commands for some time now: https://github.com/kubernetes/kubernetes/issues/20605.

Also, does this pull satisfy your list desire: https://github.com/kubernetes/kubernetes/pull/25463 ?

Today, deletion is done like: `oc config unset clusters.<cluster-name>`.

[2016-08-01 15:22] osixia commented on #29059
The logs are empty

[2016-08-01 15:29] ericchiang commented on #29749
Ah sorry. Yeah this line in the OpenID Connect plugin looks redundant[0]

[0] https://github.com/kubernetes/kubernetes/blob/v1.3.3/plugin/pkg/auth/authenticator/token/oidc/oidc.go#L115

[2016-08-01 15:38] hpejustin commented on #29845
This may happens when the resource usage of the target nod increased after the pod has been scheduled to it.  Kubelet will predict if the pod should be run via canAdmitPod functions, among all the predicts functions, one is about resource which name is PodFitsResources. This function is also the function which was used by the  scheduler to determine if the pod resource request can be accept.

[2016-08-01 15:52] markturansky commented on #26567
We deliberately left all file locking semantics to the application. This is
true even of RWX volumes that are explicitly allowed to share a volume.

Give the above statement, I'm not sure it matters much how apps behave with
regards to RWO and same-node scheduling. Kube purposefully provides 0
guarantees in this regard.

And to be fair, it's less `ReadWrite` once and more `Attach` once in
writable

[2016-08-01 15:58] #29559 closed

[2016-08-01 16:04] thockin commented on #26567
We should take this discussion to the stroage SIG, probably.

On Mon, Aug 1, 2016 at 6:47 AM, Philip Neustrom
<notifications@github.com> wrote:

I am sure it's possible.  Maybe it's enough to say "if your app can't
handle it, don't do updates in this way" ?  I feel like I don't have
enough context to write that statement, myself.

I think it's silly that they get scheduled to a machine, but maybe

[2016-08-01 16:06] thockin commented on #26567
On Mon, Aug 1, 2016 at 8:53 AM, Mark Turansky <notifications@github.com> wrote:

Nothing except me saying "it's a bug" and threatening to "fix/break"
the behavior :)

This actually has pretty deep consequences for how plugins manage
attached volumes, so we should figure out what we want to do in this
case and codify it.

[2016-08-01 16:12] ChrisMcKenzie commented on #29759
I have found so far that setting `masquerade-all` helps with this issue however It does not completely remedy it, I still get a small pause in request handling.

Any thoughts here? Could this be something to do with the iptables configuration or am I looking in the wrong spot?

[2016-08-01 16:41] lavalamp opened #29855 "Fix GCE persistent disk driver and docs wrt multi-access to RWO on a node"
@thockin says: GCE only supports ReadWriteOnce.  Not ReadWriteMany.  Multiple pods
should NEVER be allowed to access a PD, whether they are on the same
node or not.

But PV/PVC validation doesn't enforce this, and our documentation (http://kubernetes.io/docs/user-guide/persistent-volumes/#types-of-persistent-volumes) doesn't explicitly list what volumes support what options.

Note: fixing the vali

[2016-08-01 16:42] soltysh opened #29856 "Initiate only single client against specific API group"
Our current [client initiation logic](https://github.com/kubernetes/kubernetes/blob/06c9ad2c83f1b7415ff32de46016cc63006fc35d/pkg/client/unversioned/helper.go#L49-L127) instantiates all api groups clients at once, but `restclient.Config` points only to single api group at a time. https://github.com/kubernetes/kubernetes/pull/29187 partially fixes the problem by setting defaults for groups which are

[2016-08-01 16:49] gmarek commented on #29845
@hpejustin - I don't understand what you just wrote. We shouldn't have too long time with this inconsistency and it should be only in the other direction (API server know, Kubelet not yet).

[2016-08-01 16:49] thockin commented on #29855
There's a decision to be made, I think, as to whether I am wrong or not.

@kubernetes/sig-storage

[2016-08-01 16:52] bprashanth commented on #29855
Why shound't it work? (other than,"it's weird")

[2016-08-01 16:57] hongchaodeng commented on #28472
Fixed

[2016-08-01 16:57] #28472 closed

[2016-08-01 16:58] rootfs commented on #23533
looks another hit here https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/24977/kubernetes-pull-test-unit-integration/37130/

[2016-08-01 16:59] yujuhong commented on #28698
The memory leakage problem issue in v1.11: #24420
I haven't checked if this has been fixed on v1.12 or not.

[2016-08-01 16:59] thockin commented on #29855
IFF we make the scheduler respect same-claim = same-node (for RWO) then
*maybe* I can buy it.  Without that guarantee, it is inconsistent from an
end-user's POV as to whether it will work or not.

NB that this is a very real restriction for situations where nodes are
hosted or invisible or minimized.  We have spoken to more than one
organization who wants to offer "perfect-fit" VMs for pods, or wa

[2016-08-01 17:10] rootfs commented on #29855
PV/PVC also lacks NoDiskConflicts supprt, see https://github.com/kubernetes/kubernetes/issues/29670

[2016-08-01 17:11] bprashanth commented on #29855
*maybe* I can buy it.  Without that guarantee, it is inconsistent from an
end-user's POV as to whether it will work or not.

I can engineer pods landing on the same node even without anything fancy though (write spec.nodename, pod affinity, node lables etc).

I can also setup poor mans replication with this. A volume pod per node (say /data, and it's /data on everynode, just a different pd), carve

[2016-08-01 17:12] Random-Liu commented on #28698
I haven't checked if this has been fixed on v1.12 or not.

It seems not. The fix is just merged today
https://github.com/docker/docker/pull/25283#issue-168603271

[2016-08-01 17:14] dchen1107 commented on #29790
This is a very reasonable request to have kube to create such dir if not exist.

[2016-08-01 17:17] thockin commented on #29855
On Mon, Aug 1, 2016 at 10:12 AM, Prashanth B <notifications@github.com> wrote:

I don't understand your point.  If we allow same-node-RWO to be
shared, we shift the burden of correct behavior from Kubernetes onto
end-users. That is crappy.  Those users who know well enough (e.g.
you) can make it work.  Everyone else will experience that "sometimes
it works and sometimes it doesn't".

[2016-08-01 17:21] smarterclayton commented on #28658
A service clusterIP can manage this pretty effectively if we could figure out a way to have the endpoints controller select on the 'leader' signal.  It's somewhat like ready where the service only marks a single pod as ready.  Could we do this today with readiness checks and services as is?  I.e. readiness check for each member only returns true if leader?

[2016-08-01 17:26] edevil commented on #24677
I'm a bit confused with this ticket. Has progress been made on how to collect the logs/metadata and ship them to an ELK cluster, for example?

[2016-08-01 17:27] girishkalele commented on #29762
I meant it would be hard for kubelet to dictate the partitioning scheme.

In some cases, like for GCE/AWS, we could mount cloud disks onto these directories. Maybe we change the MIG template to create multiple disks and the minion bootup provisioning script formats and mount them.

[2016-08-01 17:28] smarterclayton commented on #28718
Proposal is updated to capture these goals and also to set some GA goals.

[2016-08-01 17:31] a-robinson opened #29862 "All Heapster logs show up as ERROR logs in the Google Cloud log viewer"
Presumably because they're written to stderr, leading to questions like http://stackoverflow.com/questions/38672505/log-are-shown-as-error-when-they-are-just-info

@piosz @mwielgus

[2016-08-01 17:39] yujuhong commented on #29244
@coufon thanks for investigating! Did you get the heap profile of kubelet to figure out what was using the memory?

[2016-08-01 17:40] pmorie commented on #29033
I agree with @smarterclayton that `--force` doesn't need to be made privileged.  I think this is something ordinary users should be able to do to their pods.

@davidopp

I'm curious as to how we could implement this -- how do you ensure that the node has been rebooted?

@vishh

I am also hesitant about this -- I'm dubious about being able to reason about this since there's a high probability of ge

[2016-08-01 17:40] yujuhong commented on #29244
This looks like a memory leak. /cc @kubernetes/goog-node

[2016-08-01 17:52] mtaufen opened #29865 "cmd/hyperkube has diverged from contrib/mesos/cmd/km"
Looks like km (at least `contrib/mesos/cmd/km/km.go`) has diverged from hyperkube enough to break builds with `KUBERNETES_CONTRIB=mesos`. Also looks like there are a lot of other files in `contrib/mesos/cmd/km` that are "clones" of files from hyperkube, I haven't yet had time to check if these also need to be updated.

[2016-08-01 17:52] thockin commented on #28667
I commented on the CNI proposal, but this just feels backwards to me.  It
feels like we are taking information that should be encapsulated and
turning it inside out.

Do we really expect that every CNI plugin will work for every runtime?  I
admit that I am not current on VM network configuration options, so I am
more than willing to be schooled.

On Mon, Aug 1, 2016 at 6:26 AM, Pengfei Ni <notific

[2016-08-01 17:53] vishh commented on #29033
@pmorie

Allocatable will not fluctuate. It is based on user specified system wide limits and unless the kubelet is restarted, those values will not change.

[2016-08-01 17:54] mtaufen commented on #29865
/cc @jdef
and assign since I don't know anyone else who knows mesos :). Feel free to reassign.

[2016-08-01 17:55] bprashanth commented on #29855
Ack that it might be confusing. Just that if it's possible on gce people will expect it to be possible on gke. People continue to question why ingress can only see Services in its namespace.

[2016-08-01 17:55] pmorie commented on #29033
Ok.

[2016-08-01 17:56] vishh commented on #29033
Why? As of now a pod object is a placeholder for very many resources that are occupied by the pod across the system. The `--force` option could mean kill right away, and should not blindly delete the pod object unless the node is unavailable to fulfill its commitment of cleaning up the pod object right away... If its about the UX, we can possibly avoid displaying pods that are in the process of be

[2016-08-01 17:57] vishh commented on #29244
Don't we have e2e tests to catch leaks like this?

On Mon, Aug 1, 2016 at 10:41 AM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-08-01 18:00] yujuhong commented on #29244
We have had some occasional e2e failures, that's why I asked @coufon to look at this. If the memory was growing slowly, and we have a generous margin in our test, it may not always fail.

[2016-08-01 18:04] timstclair commented on #27455
Relevant error message:
[code]

Observations:

- All the recent failures occurred on the GCI node @kubernetes/goog-image
- Failure rate increased after [Node E2E: Make node e2e parallel #29092 ](https://github.com/kubernetes/kubernetes/pull/29092) was merged @Random-Liu

I suspect that https://github.com/kubernetes/kubernetes/pull/29092 is a red herring, and that this was caused by a GCI update, b

[2016-08-01 18:09] jingxu97 commented on #29791
@saad-ali, could you please comment on Eric's question? Thanks!

On Mon, Aug 1, 2016 at 6:55 AM, Eric Tune <notifications@github.com> wrote:

--
- Jing

[2016-08-01 18:12] timstclair commented on #28940
It was implemented in v1.2. As mentioned above, it should be moved out of proposals to real documentation.

Yes, it should be fully implemented according to the spec in the proposal. The `SystemReserved` and `KubeReserved` parameters are set by Kubelet flags on startup, and are not set by default. In your case, they are probably not set, so it is expected that `Allocatable` would always be the sam

[2016-08-01 18:17] pwittrock commented on #29794
WDYT of: `kubectl config  get clusters` and `kubectl config delete clusters` to match the other kubectl commands

[2016-08-01 18:18] wojtek-t commented on #29846
All of them were supposed to be no-op changes from the "logic" point of view.

@gmarek - are we sure that there is no race with pods scheduled differently (either with preassigned node or e.g. DaemonSets)?

[2016-08-01 18:18] pwittrock commented on #29794
@erictune what does delete-cluster vs delete-context do?  We should be clear that the cluster itself is not being deleted.

[2016-08-01 18:22] saad-ali commented on #29791
Yes, having secrets/configmaps/downward API volumes be smarter about when they write to disk would reduce/eliminate any performance concerns. CC @pmorie

And the workaround @erictune proposed above would be sufficient to handle the "delete secret scenario" posited in this issue without having to modify the API.

[2016-08-01 18:26] timstclair commented on #27455
My bad, I was thinking the GCI image was updated, but I see it was actually just added a few days ago: https://github.com/kubernetes/kubernetes/pull/29577 @vishh

Unfortunately it looks like we don't have any logs for the GCI test runs. @vishh I suspect this is because the node e2e is looking for the log files, but they're in journald.

[2016-08-01 18:29] xiangpengzhao commented on #29790
Thanks @dchen1107 !

There is also another bug with the log-dir. If I specify an invalid dir, e.g. `--log-dir=dsfds/fds\fdsf`, the kube start normally without verifying it.

I thought to fix this, but I didn't find where the flag is respected. Help wanted.

[2016-08-01 18:29] gmarek commented on #29846
Yeah, we're pretty sure. It's in serial suite and the cluster looks stable (but see #29845).

[2016-08-01 18:30] wojtek-t commented on #29846
The only logical changes in the code should be coming from bug fixes:
https://github.com/kubernetes/kubernetes/issues/28883
https://github.com/kubernetes/kubernetes/issues/29098

[2016-08-01 18:37] wojtek-t commented on #29846
OK - so my feeling is that we should first debug #29845 and see if that helps here too (if something is not in apiserver, then scheduler also won't be aware of it).

[2016-08-01 18:39] #29734 closed

[2016-08-01 19:01] mwielgus opened #29869 "Helper structures to run create/update/delete ops in federated clusters in parallel"
Federated controllers will oftentimes have to crreate/update/delete the same/similar structures in multiple clusters. Given that the roundtrip time to remote clusters can be high (like, lets say, 1 sec) these operations should be done in parallel so that the main controller goroutine is not blocked for long.

Part of #29347

[2016-08-01 19:42] yujuhong opened #29871 "CRI: deprecating podsandbox resource requirements in favor of the pod level cgroup"
@vishh brought up a nice suggestion that the function of pod level cgroup overlaps with the podsandbox resource requirements. We can deprecate the podsandbox resources fields from CRI, and the container runtime derive cpu/mem limits from the passed cgroup. It's also worth noted that we initially determined to pass these additional resources to podsandbox creation calls because hypervisor-based run

[2016-08-01 19:44] jingxu97 commented on #28750
@kyleferguson , we fixed a few issues recently in version 1.3.4. Could you please try on this new version and let us know if you have any issues. Thanks!

[2016-08-01 19:47] kyleferguson commented on #28750
@jingxu97 Thanks for the update! Unfortunately we're on GKE at the moment so I will have to wait until 1.3.4 is available on there. Looks like the latest available currently is 1.3.3

[2016-08-01 19:52] soltysh opened #29872 "The requested URL returned error: 403 while accessing https://github.com/kubernetes/kubernetes/info/refs"
Github failed when connecting:
[code]

Full log here: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/29187/kubernetes-pull-build-test-e2e-gce/51230/build-log.txt

[2016-08-01 19:57] yujuhong commented on #29827
To summarize, there are two problems.

1. The flag doesn't work on coreos images.
2. If the flag is set, kubelet skips cgroup detection, and just uses the given name. This leads to tracking a wrong cgroup on coreos image because of (1).

@vishh, any suggestion on how to fix the issue? We can fix (2) by always running the detection logic, but we should still clarify when the `--runtime-cgorups` fla

[2016-08-01 19:59] bprashanth opened #29874 "Export matching named ports through endpoints"
Ingress currently allows you to plug a service + port into the backends section. However if you have an ingress like:
[code]

With a service like:
[code]

The ingress controller needs to get pods and figure out the matching targetPort, because the endpointPort object has a Name field that matches the Name on the ServicePort.

Can we export an omitempty portName field in the EndpointPoint so all in

[2016-08-01 20:03] saad-ali commented on #29617
@Trane9991 Based on what you provided, you hit an issue where if a secret fails to unmount it will be unable to mount to any other pod. It was fixed by https://github.com/kubernetes/kubernetes/pull/28939.

The fix is in [v1.3.4](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md/#v134), which should be in GKE soon.

[2016-08-01 20:03] saad-ali commented on #16367
That looks like a different issue. Replied to that issue.

[2016-08-01 20:08] madhusudancs opened #29875 "Federation e2e tests must clean up dynamically provisioned PDs while tearing down the clusters."
The `federation-apiserver`'s etcd is backed by a PVC that dynamically provisions the underlying persistent disk for its PV. We are not cleaning this up when we tear down the federation control plane and the corresponding test clusters. This caused us to run out of quota and the tests started failing.

We should delete the dynamically provisioned persistent disks at the end of the e2e tests, while

[2016-08-01 20:15] gmarek commented on #28378
this issue really needs some love @smarterclayton @timothysc

[2016-08-01 20:16] vishh commented on #29827
The flag is not expected to be set on CoreOS machines :)

If the flag is set, kubelet attempts to move processes to specified cgroups, might (or might not ) work on systemd systems. I'd expect the flag to either work or fail the kubelet with a clear error message.

[2016-08-01 20:21] astropuffin opened #29876 "kubectl pod status: describe does not match get"
I noticed this thing today when I rolled out a multi-container pod.
Context: I have 2 containers, 1 is a sidecar that completes within seconds, the other is a long running task that completes after several hours.

[code]

Question: Why does the pod `Status` in `describe` not match the pod `Status` in `get`?

I looked for similar issues using the following search: `is:issue is:open kubectl Status d

[2016-08-01 20:31] astropuffin commented on #29876
Here's the get output with yaml:
[code]

[2016-08-01 20:53] a-robinson commented on #23195
cc @piosz @fgrzadkowski @igorpeshansky

[2016-08-01 21:01] yifan-gu commented on #24677
referenced URL and also
https://www.freedesktop.org/software/systemd/man/journald.conf.html (search
for "SystemMaxFileSize"), you'll see it defaults to on, so I'm not sure log
rotation is a concern for this issue.

IIUC, Kubelet would have its only log rotation policy (maybe timestamp based?), so `SystemMaxFileSize` might not be sufficient.

[2016-08-01 21:03] dagnello opened #29878 "vSphere Cloud provider attach volume limit bug"
vSphere cloud provider volume plugin attach disk limits the number of volumes because of two issues:

1. A new SCSI controller is only created when one does not exist.  A new controller should be added when required and limit not reached.
2. Attach disk will fail when attaching disk to slot 7 on controller.  Slot 7 on SCSI controller is reserved and therefore should be skipped.  This issue has bee

[2016-08-01 21:05] yujuhong commented on #28667
@feiskyer, why can't we just have one CNI plugin that understands VM networking and passes the plugin name to kubelet if user wants hypervisor-based runtimes? That way, we don't have to force every cni plugin to understand the new semantics.

[2016-08-01 21:45] caesarxuchao commented on #29856
This is already the case in the generated clientset. Only the unversioned.Client suffers from this problem.

[2016-08-01 21:52] yujuhong commented on #29579
As instructed, @ncdc, here is a friendly ping to remind you to update the issue!

[2016-08-01 22:11] igorpeshansky commented on #23195
Re: the first comment, I was going to propose something similar when I looked at the multiple duplicated config files with just one change in each pair. Happy to look at the options.

[2016-08-01 22:13] euank commented on #29579
The interface I was trying to suggest is an alternative is the following:

1) kubelet calls `Exec(interactive=true,initialWidth=x,initialHeight=y)` or maybe `ExecInteractive` or whatever
1a) runtime creates a pty and connects the slave end to the runtime somehow (whether by controlling it and proxying through to a `CreateExec`, `StartExec`, and `HandleResizing` or by just connecting to an existing

[2016-08-01 22:16] gmarek commented on #28378
@fejta

[2016-08-01 22:24] caesarxuchao opened #29882 "kubemark-guide.md suggestions"
A glitch I experienced when following the [kubemark-guide.md](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/kubemark-guide.md):

Although it might be obvious, it doesn't hurt to expand "external cluster" to "external kubernetes cluster".

Also, the guide doesn't mention I need to configure my kubectl to target the "external kubernetes cluster" while it's actually required.

[2016-08-01 22:27] a-robinson commented on #17183
cc @piosz @fgrzadkowski

[2016-08-01 22:35] bprashanth opened #29885 "kubectl --context=local doesn't work"
I'm used to doing --context=local instead of actually swapping contexts, but that doesn't work like it used to:
[code]

Whereas with an older client:
[code]

@kubernetes/kubectl was it deprecated and I just didn't notice?

[2016-08-01 22:42] saad-ali commented on #28750
We believe that 1 was caused by issue https://github.com/kubernetes/kubernetes/issues/29555 which was fixed by PR https://github.com/kubernetes/kubernetes/pull/29673. Patches for both have been cherry-picked to the v1.3 release branch and are part of the v1.3.4 release. Closing this issue as resolved.

[2016-08-01 22:42] #28750 closed

[2016-08-01 22:56] nikhiljindal opened #29887 "federation: Support creating resources in specific clusters"
Right now, when users create federation resources (for ex: services, namespaces), we create them in federation control plane and all underlying kubernetes clusters. We need to enable users to be able to specify a subset of kubernetes clusters in which that resource should be created.
For ex: while registering a cluster, user needs to create a secret with kubeconfig for that cluster. This secret is

[2016-08-01 22:57] saad-ali commented on #29617
Closing this issue. Please re-open if you run into it in v1.3.4+

[2016-08-01 22:57] #29617 closed

[2016-08-01 22:58] nikhiljindal commented on #29887
cc @kubernetes/sig-cluster-federation

Have to figure out if the annotation should be `federation.alpha.kubernetes.io/cluster-selector` or `federation.beta.kubernetes.io/cluster-selector` (alpha or beta)

[2016-08-01 23:08] andreykurilin commented on #29838
If there is no objectives, I'll start working on this issue tomorrow

[2016-08-01 23:36] krmayankk commented on #29838
@andreykurilin  first we need a consensus on this, but i was planning on working on it already as my first PR to Kubernetes

[2016-08-01 23:41] dchen1107 commented on #29827
@vishh is right on this. Like what I mentioned in pr https://github.com/kubernetes/kubernetes/pull/29764/, that flag doesn't work and not expected on any systemd node, including coreos.

In a long run, we should resolve this kind of issue through @mtaufen 's dynamic kubelet configuration (#27980). For a short term, we can easily resolve this issue through e2e_service.go which configures Kubelet's

[2016-08-01 23:42] dchen1107 commented on #29827
I can quickly send you a pr to unblock you.

[2016-08-02 00:04] thockin commented on #29874
I don't understand what you are asking?  Endpoint already has a port name,
you just linked to it.

On Mon, Aug 1, 2016 at 1:00 PM, Prashanth B <notifications@github.com>
wrote:

[2016-08-02 00:13] bprashanth commented on #29874
The name on the endpoints is the ServicePort.Name.
In the example above the targetPort name matches the name on container port. So when they say `servicePort: 5601` in the ingress, I can lookup the servicePort (5601), get its targetPort (ui), lookup the Service's endpoints (kibana-logging), but then I have a list of addresses and a list of ports.

So say that gives me (the types.go example):
[code

[2016-08-02 00:28] aronchick commented on #29307
Hi @nagarjung - did the steps in the initial bug not repro for you?

[2016-08-02 00:33] caesarxuchao opened #29891 "[RFC][GarbageCollector] expose the progress of garbage collection"
**Problem:**
Currently, if a user deletes an owner object, the object will be deleted from the apiserver right away. The garbage collector (GC) will delete the dependent objects in the background. _User has no way to observe the progress of the garbage collection._

The progress of gc is useful information in some scenarios. For example, currently `kubectl delete` will block until all dependent re

[2016-08-02 00:40] thockin commented on #29874
The ports in Endpoints are named according to the ServicePort.  When you
resolve ingress.servicePort = 5601, take note of the service.Port[*].Name
where .Port == 5601 && .Protocol == TCP.  Use that name to look into
endpoints.

On Mon, Aug 1, 2016 at 5:14 PM, Prashanth B <notifications@github.com>
wrote:

[2016-08-02 00:41] bprashanth commented on #29874
Yeah yea, I forgot that we *must* name ports of a Service if there are > 1
Hrm sorry

[2016-08-02 00:41] #29874 closed

[2016-08-02 01:17] bprashanth commented on #29874
So paying a little closer attention to what was going on on slack, people were trying to plug the name of the targetPort in the ingress.ServicePort, which is an int-or-string. And that isn't expected to work. Probably means I should clarify documentation, will send a pr.

[2016-08-02 01:39] feiskyer commented on #28667
admit that I am not current on VM network configuration options, so I am
more than willing to be schooled.

@thockin Yes, I'm expecting this. I think @lukasredynk and @jellonek also expect this since they are working on the implementation of this inside CNI.

Same with above, a general CNI for all runtimes is expected, so there is no need to handle networking differently for different runtimes. An

[2016-08-02 01:41] #26591 closed

[2016-08-02 02:00] pwittrock commented on #29891
Synchronous.  How does this work with the controller-manager?  Does the finalizer framework ensure the objects no longer are seen by the controller-manager?

Asynchronous.  Would the client then poll (blocking) until everything gets cleaned up?

[2016-08-02 02:03] pwittrock commented on #29885
@AdoHe Would you take a look at this?

[2016-08-02 02:07] pwittrock commented on #29679
@alexbrand This would also be a good issue to get started

[2016-08-02 02:10] caesarxuchao commented on #29891
From the point of view of the client, approach 1 is also asynchronous. The api-server responds the deletion request immediately, though the object is not deleted from the api-server.

Controller manager will still see the object. The apiserver will set the object's deleteionTimestamp. Controllers will stop acting on objects with non-nil deletionTimestamp, except updating their status. This is alre

[2016-08-02 02:22] pwittrock commented on #29891
What happens if failures are encountered when deleting the child objects?  Does the parent object still get deleted?  Are these retried?

[2016-08-02 03:12] caesarxuchao commented on #29891
The deletion should be retried (currently it's not, but it should be a one-line change to fix).

[2016-08-02 04:04] magicwang-cn commented on #28969
init-containers also shares the same network with the whole pod, so why not  get the sticky ips in the init-containers? But this way, we must modify the petset controller(`should not create the pet one by one`)

[2016-08-02 04:30] thockin commented on #28667
I think you misunderstood my point.  I don't think that is a reasonable
assumption.

On Mon, Aug 1, 2016 at 6:40 PM, Pengfei Ni <notifications@github.com> wrote:

[2016-08-02 04:46] #28702 closed

[2016-08-02 04:47] bgrant0607 commented on #27822
@gmarek @wojtek-t We don't care that this has been broken for more than a month? If the test is really useless, just delete it.

[2016-08-02 05:01] linfan commented on #19317
I believe this issue still exist in v1.3 release.

Manually remove the finalizer doesn't seems to help.

[code]

Several hours, it still remain.

[code]

Until I completely restart the master server, all "terminating" namespaces gone...

[2016-08-02 05:12] bgrant0607 commented on #28940
The Kubelet needs to compute total requested resources for admission control. There's no reason why it couldn't report that back as part of node status. The values would only change upon scheduling and eviction events.

[2016-08-02 05:15] lavalamp commented on #29816
@yifan-gu can you please take a look at this?

[2016-08-02 05:47] Pensu opened #29894 "Running tests on ppc64le"
Hi,

As discussed in #25730, I have been running tests on kubernetes on ppc64le. Here are the results for unit and integration tests:

[code]

Result of integrations tests:

[code]

@ixdy Can you please have a look as to why integration tests are failing? Is it a flake or is there any other improvement required?
cc @luxas

[2016-08-02 05:58] thockin opened #29896 "Do not enumerate volume plugins in SecurityPolicy"
pkg/apis/extensions/v1beta1/types.go has an FSType type that has a set of string variables naming each volume plugin.  Firstly, it names plugins in a way that is inconsistent with the way plugins name themselves (no prefix!).  Secondly, we should NOT be enumerating plugin names.  This will never be maintainable over time.

It should be strings, full stop, or make it a type but let it hold any valu

[2016-08-02 06:07] thockin commented on #29607
I am with Paul on this.  I think this is a dramatic abuse of the configmap volume.

[2016-08-02 06:14] wojtek-t opened #29897 "Make kubemark-500 blocking suite"
We should:
- [x] fix kubemark-500 (there are some startup issues there)
- [x] create small kubemark (e.g. kubemark-5) on presubmit
- [x] enable kubemark by default in presubmit
- [x] start blocking on kubemark failures in presubmit
- [x] readd kubemark-500 to postsubmit

[2016-08-02 06:14] wojtek-t commented on #29897
@lavalamp

[2016-08-02 06:19] wojtek-t commented on #29897
@gmarek - it seems that this is the PR that broke kubemark:
https://github.com/kubernetes/kubernetes/pull/28955

It shouldn't be that hard to fix kubemark startup script.

[2016-08-02 06:20] daikaixian commented on #29794
I even don't get the 'kubectl config list-contexts' commands

it's my kubectl version info

Client Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.0", GitCommit:"a4463d9a1accc9c61ae90ce5d314e248f16b9f05", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.0", GitCommit:"a4463d9a1accc9c61ae90ce5d314e248f16b9f05", GitTreeState:"clean"}

[2016-08-02 06:32] bgrant0607 commented on #29794
@erictune We need to be careful that such commands don't get confused with federation cluster resource operations.

[2016-08-02 06:34] jianzhangbjz opened #29899 "undefined: "k8s.io/kubernetes/pkg/kubelet/container".ImagePuller"
Hey guys,

I followed the [development-doc](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/development.md), but when exec `git commit -m "xxx"` command, i got the following errors. Seems the "ImagePuller" undefined in `k8s.io/kubernetes/pkg/kubelet/container` packages. Am I doing something wrong here?
[code]

[2016-08-02 06:35] wojtek-t commented on #29897
It seems that @lavalamp reverted the offending PR for us, so the first bullet is done.
We should do the other two ASAP, to avoid such situations in the future.

[2016-08-02 06:36] bgrant0607 commented on #29794
`kubectl config get-contexts` is in 1.4.0-alpha.2

[2016-08-02 07:19] jellonek commented on #7335
Hmmm... Quite old issue with few questions - could be this closed/resolved in near future?

[2016-08-02 07:30] nebril commented on #23831
I think this one should be reopened, the problem is still there on c7ec11b32ad396fd19a36c209991af401dbdfa2b

[2016-08-02 07:37] k82cn opened #29901 "[Proposal] Running Kubernetes in heterogeneous environments"
Currently, Kubernetes could run on ARM or X86; but in heterogeneous environment, e.g. Power & X86, the user need to configure in YML on which hosts is used to run service. It’s inconvience for cluster admin & users, and it’s hard for cluster admin to decide which type of hosts should be used in a large cluster.
In this topic, we’re going to show an enhancement of kubernetes to run in heterogeneous

[2016-08-02 07:46] qteqoo opened #29903 "Mounting/unmounting volume error on GKE"
Greetings all. I'm running my cluster on the GKE and after upgrading to `1.3.3` I've been having errors of the following format:

Evidently, that's not something specific to `mongodb-data` volume. I get these same errors for other volumes too (majority of them are secrets). I'm anticipating the possibility of upgrading to `1.3.4` release on GKE as I've read that it possibly resolves the problem bu

[2016-08-02 07:47] AdoHe commented on #29885
@pwittrock I guess I have extra bandwidth, will do it.

[2016-08-02 07:57] k82cn commented on #29865
@mtaufen , just passed build with `export KUBERNETES_CONTRIB=mesos` on master; which error do you mean? I can also help on `k8s on mesos` :).

[2016-08-02 08:02] k82cn commented on #29767
great :). Can you help to close this issue?

[2016-08-02 08:04] k82cn commented on #29843
I think it should the same as private registry in pure kubernetes. Mesos's option will not impact how k8s pull images.

[2016-08-02 08:18] #10294 closed

[2016-08-02 08:34] oxygen0211 commented on #28892
Exact same problem here. Endet up creating a new EBS volume and migrating the data.

From the source code side, it looked to me like the volumemanager's cached actual_state_of_world didn't match the real state of worl and so it needs to be recreated. I am, however not a maintainer, so this theory is based on some minutes of looking through the code generating the ogs.

[2016-08-02 08:38] gmarek commented on #28378
@roberthbailey all failures seem to come from the GKE suite, do you think it may be GKE related?

[2016-08-02 08:41] gmarek commented on #27822
@bgrant0607 - this test check if the Kubemark starts at all. All failures are not related to kubemark per se, but to cluster startup. We do care about it being broken, but it's out of scope of performance team.

[2016-08-02 08:48] argusua commented on #28892
Looks like this fixed in 1.3.4 [#29485](https://github.com/kubernetes/kubernetes/pull/29485)
Needs to be checked.

[2016-08-02 08:52] luxas commented on #26093
Just noticed that `pkg/kubelet/container_bridge.go` has a lot of dependencies on binaries in $PATH.
 - brctl
 - ip
 - pkill
 - (service|systemd|docker-babysitter)

[2016-08-02 09:00] resouer commented on #28667
@thockin Yes, we can definitely implement a specific plugin to handle HyperContainer's network, but so do the rkt and other hypervisor container users (like Mirantis) have to. Since hypervisor containers' networks share lots in common, it will be great if we can (actually we are eager to) collaborate on one project instead of re-inventing wheel on each side.

Obviously, this proposal is not asking

[2016-08-02 09:10] luxas opened #29904 "ARM hyperkube broken at v1.4.0-alpha.2"
v1.4.0-alpha.2 linux/arm hyperkube build is broken:
[code]

Notable info:
 - linux/386 and linux/arm64 works (so it's arm-specific)
 - binaries like apiserver, federation-apiserver works on arm
 - It is probably not related to `pkg/apis/abac`, as it hasn't changed since v1.4.0-alpha.1
 - It happens on `init()` (static initialization of a lot of packages)
 - http://stackoverflow.com/questions/28225

[2016-08-02 09:21] gmarek commented on #27822
Also note that it runs 4 times an hour, so roughly 100 times a day - our cluster startup flakyness ratio is way higher than 1%.

[2016-08-02 09:28] #29822 closed

[2016-08-02 09:29] gmarek commented on #29816
@yifan-gu - this test is completely broken in serial suite and is P0 for last 3 days.

[2016-08-02 09:39] soltysh commented on #29856
@caesarxuchao I'm not sure about that, or I'm looking in the wrong place. See [NewForConfig](https://github.com/kubernetes/kubernetes/blob/ca7ad6896b91081d20ccecd0a356c824546f8476/pkg/client/clientset_generated/internalclientset/clientset.go#L108-L146) which instantiates all api group clients and even more, each group's `NewForConfig` overwrites the configured values (see [batch.setConfigDefaults]

[2016-08-02 09:48] wojtek-t commented on #29189
From the last run:
[code]

[2016-08-02 09:50] wojtek-t commented on #29189
Creating/updating/deleting LB involves:
- creating/updating/deleting firewall rule
- creating/updating/deleting target pool
- creating/updating/deleting forwarding rule

Operations on firewalls and forwarding rules take ~10m, so it's quite easy to exceed 20m timeout.

We are purely blocked on GCE operations here, so all we can do for now is to increase timeouts.

[2016-08-02 10:00] jellonek commented on #28667
Using host networking we are already gathering this information but because of not passing this info to execution driver - we are cutting this information from exec drivers, removing possibility to tune config for specific driver, or showing this info on itself. Also host networking is incompatible with

IMO no. I think that if there is no interest in some possibilities (ex. `ipvlan`) - there is n

[2016-08-02 10:23] stevenewey commented on #29853
Fixed by https://github.com/kubernetes/kubernetes/pull/29485

[2016-08-02 10:23] #29853 closed

[2016-08-02 11:02] luxas commented on #29901
I'm working on exactly this issue: #26028

[2016-08-02 11:02] dims commented on #29897
@lavalamp @wojtek-t Do you have any theories of why that PR broke kubemark? So i can fix up the PR again properly?

[2016-08-02 11:05] luxas commented on #29901
The admin may set `.spec.nodeSelector` to `beta.kubernetes.io/arch=ppc64le` in order to run a job only on ppc64le

[2016-08-02 11:27] rmahajan2420 opened #29908 "Failed to retrieve network config: client: etcd cluster is unavailable or misconfigured-"
Hi All,

I am running bare metal install of kubernetes on ubuntu (http://kubernetes.io/docs/getting-started-guides/ubuntu/) and facing issues.. I have one master and 2 minions.. deployment is done on master node however, minion node is complaining "Failed to retrieve network config: client: etcd cluster is unavailable or misconfigured".. deployment is getting stuck after" flanneld start/running, p

[2016-08-02 11:39] soltysh opened #29909 "Integration flake: iptables, executable file not found in $PATH"
In https://github.com/kubernetes/kubernetes/pull/29187:

[code]

Seen here: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29187/kubernetes-pull-test-unit-integration/37176/

[2016-08-02 11:41] gmarek commented on #29816
@fejta - do you think @yifan-gu is the correct owner for this test?

[2016-08-02 11:46] k82cn commented on #29901
It's a bit different with #26028. This proposal is to let kubernetes select the right docker images for arch, instead of selecting nodes by selector; it'll use on `replica-controller` to manage different images in different arch.

[2016-08-02 11:54] #29899 closed

[2016-08-02 12:02] aga20 commented on #29425
Hello,

+1. I have same problem :/ With 1.2 it worked fine.

[2016-08-02 12:06] dshulyak opened #29910 "Kubelet crashes with - Failed running kubelet: failed to create kubelet: cAdvisor is unsupported in this build"
Building this on ubuntu 14.04 with ./hack/local-up-cluster.sh, everything except hyperkube kubelet is running and healthy.

[code]

[2016-08-02 12:14] wojtek-t commented on #29897
@dims - didn't have time to look into it, sorry

@spxtr @fejta - is there anything magic that needs to be done to create new presubmit suite? Or is it like normal suite:
- setup new GCE project
- add definition of a job to "test-infra/jenkins/job-configs/kubernetes-jenkins-pull/kubernetes-pull.yaml
?

[2016-08-02 12:21] gmarek commented on #29897
@dims - I don't know, all kubectl calls in kubemark start here: https://github.com/kubernetes/kubernetes/blob/master/test/kubemark/start-kubemark.sh#L280

[2016-08-02 12:23] pweil- commented on #29896
This is actually referring to the volume sources and I'm attempting to keep `FSType` and `VolumeSource` fields in sync.  I created tests to ensure that we could be flag the drift that occurs and not have to be constantly chasing new volume sources: https://github.com/kubernetes/kubernetes/blob/master/pkg/security/podsecuritypolicy/util/util_test.go#L31.

I'm not sure I see much difference in a str

[2016-08-02 12:30] mwielgus opened #29911 "Use the same validation for clusters in apis/federation/validation as in controllers/util."
Right now it is possible to add a cluster for which it won't be possible to create a client. For example client-related code does:

[code]

while validation checks only:

[code]

cc: @jianhuiz @quinton-hoole

[2016-08-02 12:35] gmarek commented on #29064
ping @fabioy

[2016-08-02 12:37] gmarek commented on #20445
@wojtek-t - we need to check if it's still a problem.

[2016-08-02 12:42] alexbrand commented on #29679
Sounds good @pwittrock. I'll check it out.

[2016-08-02 12:54] wojtek-t commented on #20445
Well - once the size of the master is correct, it shouldn't be a problem, but if master is too small, the it will always be the problem. The question is how urgent it is and I'm not sure.

[2016-08-02 12:56] bboreham commented on #23920
Referencing CNI discussion at http://github.com/containernetworking/cni/issues/46

[2016-08-02 13:29] vefimova opened #29913 "Multiple kubelet runtimes at the node"
## **Motivation**

It's worth to enable running of "mixed" workloads (containers/vms/containers inside vms) using multiple kubelet runtime providers at the same node. Especially taking into consideration adding more runtimes not only for containers in near future: HyperContainer, oci/runc, kvm/qemu, libvirt.
## **Key functionality to implement:**
- **Add ability to set multiple runtimes for kubele

[2016-08-02 13:36] erictune commented on #29794
I don't have an opinion on the exact syntax.  I do think whoever implements
it should read #20605
<https://github.com/kubernetes/kubernetes/issues/20605> and the conventions
doc linked from there, and makes an informed decision.

Deleting a cluster-config could delete all contexts that reference that
cluster-config, and (i think?) delete all authinfos that would have no use
once that cluster -conf

[2016-08-02 13:38] dims commented on #29910
@dshulyak I've seen this only when i tried this in non-linux platform where the following code kicks in:
https://github.com/kubernetes/kubernetes/blob/f2ddd60eb9e7e9e29f7a105a9a8fa020042e8e52/pkg/kubelet/cadvisor/cadvisor_unsupported.go#L38

Please add some info about your environment when you get a chance.

[2016-08-02 13:51] #29473 closed

[2016-08-02 13:55] tmrts commented on #29913
@vefimova motivation here is unclear to me can you elaborate on that? The
point of #28789 is to provide same capabilities with different runtimes.
Multiple runtimes would be just that and they would function the same way
more or less.

I believe this issue is more related to using multiple OSes (one container
runtime might not support an OS while another does, and you have data
centers with differ

[2016-08-02 14:11] nhlfr opened #29916 "Vagrant NFS folder syncing is hanging up on Fedora"
On Fedora (probably all the versions, but I'm using Fedora 24), using vagrant provider with the following exports:

[code]

results in hanging up on the folder sync step:

[code]

This is most probably because of lack of `vers=3` mount option. In theory, Vagrant should pick up the ver 3 by default, but in practice, Vagrant on Fedora is always failing without this option provided explicitly in Vagr

[2016-08-02 15:02] #27559 closed

[2016-08-02 15:04] dshulyak commented on #29231
It would be quite cool to take a look at docker logs to this two containers..
[code]
I suspect that they failed because of this
[code]

And then werent restarted because of RestartyPolicyNever
[code]

[2016-08-02 15:21] rootfs commented on #29910
I just rebased to latest master and also hit this issue on Fedora 24, go version 1.6.3 linux/amd64
``console
# git describe
v1.4.0-alpha.2-131-gac3e830
[code]

[2016-08-02 15:24] jasonmoo commented on #6545
@thockin was this ever triaged internally?

[2016-08-02 15:53] sjenning commented on #29910
cadvisor_unsupported.go

``` // +build !cgo !linux```

cadvisor_linux.go

```// +build cgo,linux```

Seems like something might be up with cgo support

[2016-08-02 16:10] thockin commented on #29402
So, it turns out that verify-godeps tries to verify the Godeps.json file but NOT the contents of the vendor/ dir.  That is easy to fix, but it flags a handful of errors.  PR(s) will be forthcoming.

[2016-08-02 16:17] thockin commented on #29402
It looks like ginkgo (#29571) and one other delta I can not explain:

[code]

Ryan, can you see what is up with that dep, maybe we have the wrong hash or we need to git add that file or something?

[2016-08-02 16:23] thockin commented on #6545
This should be fixed with the current GCE VPN product, but I have not manually verified it.

[2016-08-02 16:27] fabioy commented on #29064
@gmarek Sorry, this slipped through for me. I think #29101 has been cherrypicked into 1.3. Looking at #29096, it seems like it's a safe enough change (and makes the feature marginally safer). I think it's worth cherrypicking.

[2016-08-02 16:31] thockin commented on #29913
@vefimova Thanks for the issue.  You say it's worth doing, but you don't say why.  The complexity of this is sort of overwhelming and I am viscerally against it without some overwhelming use case that justifies it.  We *do not* want end users caring about which runtime is in use.  That is overly coupled and becomes a slippery slope to specific versions, specific flagsets, etc.

Can you explain the

[2016-08-02 16:33] vefimova commented on #29913
@tmrts

It's more about ability to run containers/vms/containers inside vms using different runtime providers on the same node in cluster: rocket, docker, oci/runc, kvm/qemu, libvirt, hyperContainer.
Why to restrict node to run let's say only one type of pods using docker containers? You may want to utilize node for pods using another kubelet runtime as well?

The relation to #28789 is set as ther

[2016-08-02 16:36] thockin commented on #23920
FWIW it is possible to do in many CNI implementations, but I hesitate to
promise that it will work for all CNI implementations.  The question then
is which side of that fence it belongs on.

On Tue, Aug 2, 2016 at 5:57 AM, Bryan Boreham <notifications@github.com>
wrote:

[2016-08-02 16:49] thockin commented on #29913
containers?

The burden is not on the simpler solution to justify why it is sufficient,
but rather on the more complex solution to justify its own existence.

Every system has a "budget" for complexity.  Once you run out of that
budget, your system becomes harder and harder to deal with.  Everything
should be as simple as possible, by default.  Complexity needs to be
justified with real benefits,