[2017-08-17 21:39] tessiof commented on #50868
/sig  kind/documentation

[2017-08-17 21:40] caesarxuchao commented on #50528
This sounds right. @sttts how urgent is this? In 1.9, we plan to move garbage collector to GA so garbage collection will always be enabled.

[2017-08-17 21:40] tessiof commented on #50868
/sig kind/documentation

[2017-08-17 21:42] tessiof commented on #50868
/kind documentation

[2017-08-17 21:46] briangruber commented on #50866
/sig area/platform/gke

[2017-08-17 21:49] briangruber commented on #50866
I also am noticing that it seems like the pods are only fluctuating in websockets by the last digits of the private ip of the pods.

For example, I say I have 20 pods running
When I visit the http route directly again and again I'll get an ip like this: 10.44.20.62
But when using the websocket version the ip is sometimes 10.44.20.62 and sometimes 10.44.20.61 but doesn't seem to ever be outside of

[2017-08-17 22:11] qingling128 commented on #50845
Summit helped check the server side logs. Seems the issue is similar to a known issue in the GRPC layer when server could not parse request sent by client. We are still investigating (haven't found a way to reliably reproduce the issue).

@tlbdk How frequent are you seeing this error? For `Google::Apis::ServerError`, the agent should always retry sending the logs. Just FYI, if there are not recurr

[2017-08-17 22:19] Locolatino opened #50869 "Ficken tabu"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-08-17 22:55] liyinan926 opened #50870 "Add lister expansions for DaemonSet, Deployment, ReplicaSet, and StatefulSet to apps/v1beta2"
As a prerequisite of moving the `DaemonSet`, `Deployment`, `ReplicaSet`, and `StatefulSet` controllers to use the apps/v1beta2 APIs, we need to add list expansions for  `DaemonSet`, `Deployment`, `ReplicaSet`, and `StatefulSet` to `apps/v1beta2`.

[2017-08-17 22:55] liyinan926 commented on #50870
/assign @liyinan926

[2017-08-17 22:55] liyinan926 commented on #50870
/sig apps

[2017-08-17 23:08] caesarxuchao commented on #50714
I think we will convert an admission plugin to initializer only if it needs to be extensible. E.g., in the PersistentVolumeLabel case (#44680), we want each cloud provider to provide their own version of the intializer controller.

I only know we are going to convert podpreset to use initializer. I don't see use cases for other plugins. @smarterclayton @liggitt might have different ideas.

Here is

[2017-08-17 23:17] tessiof commented on #50868
/kind documentation

[2017-08-17 23:18] tessiof commented on #50868
/sig docs

[2017-08-17 23:33] #50266 closed

[2017-08-17 23:35] pauloppenheim-gingerlabs commented on #35288
I'm seeing similar. I've intentionally under-provisioned a cluster to see what happens, and this is the answer. The dashboard also fails to load. Is there a clear status available somewhere? Is there some sort of signal or something that a pager could be set to being emitted in this case?

[2017-08-17 23:56] #50744 closed

[2017-08-17 23:56] #43714 closed

[2017-08-18 00:14] varunkashyap4dg commented on #48985
I looked into this. Splitting the file into multiple files is easy - though laborious. I have a question about where does CHANGELOG.md ties into the document munging scripts? I suppose those would need updates too? So can someone point me to the design of how munging of documents happens?

[2017-08-18 00:26] oomichi commented on #7577
Now we cannot find the corresponding code like

 $ grep validateController `find . -name utils.go`
 $

So can we close this issue now?

[2017-08-18 00:35] Locolatino opened #50874 "Luzifer biebel"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-08-18 00:42] ironcladlou commented on #50793
Already tracked (https://github.com/kubernetes/kubernetes/issues/34120#issuecomment-322503808). I've been unable to get access to the logs for these jobs, they may not even exist if the artifact capture mechanism is breaking.

[2017-08-18 00:56] xiangpengzhao commented on #48985
cc @kubernetes/sig-release-members

[2017-08-18 00:58] oomichi commented on #34425
The corresponding PR has been already merged, so this should be closed.

[2017-08-18 01:07] #34425 closed

[2017-08-18 01:07] mikedanese commented on #50830
It appears to be intentional...
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/cache/mutation_detector_test.go#L1

[2017-08-18 01:12] #50389 closed

[2017-08-18 01:43] caesarxuchao commented on #50714
Chatted with @smarterclayton on slack. We don't plan to move existing ones. We will add a few new ones,  "the ones for PVC, probably one for service IP allocation, pod preset". They care about different resources, so will never run in serial with each other.

[2017-08-18 02:32] Calpicow opened #50878 "OOMKilling containers sometimes downs entire node"
AWS GovCloud
CentOS 3.10.0-514.6.1.el7.x86_64
Kubernetes v1.6.7
CNI v1.10.0
Calico v2.4.1
Flannel v0.8.0

A single bad behaving container could down an entire node by repeatedly triggering the OOMKiller. It causes systemctl to stop responding with `Failed to list units: Connection timed out`.

Kernel logs below:

[code]

/kind bug
/sig node

[2017-08-18 02:35] PaulCharlton opened #50879 "MacOS - `make release` fails"
Local build of K8S On MacOS ->
[code]

[code]

And, following recipe at -> https://kubernetes.io/docs/getting-started-guides/binary_release/

[code]

Build fails (reproducible):
[code]

[code]

[code]

context:

[code]

[code]

also tried `git checkout release-1.7` with similar build failed result as follows:

[code]

[2017-08-18 02:37] dixudx commented on #50879
/sig release

[2017-08-18 02:39] dixudx opened #50880 "auto-generated file cannot be updated when api types changed/updated"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig testing
/kind documentation
/priority critical-urgent

**What happened**:
I've updated the api in #50877. But no auto-generated files have be updated when running updating shell scripts. Unlike PR #49530.

**What you expected to happen**:
It should works as before.

**How to reproduce it (as minimally and precisely as possible)**:
Just

[2017-08-18 02:56] pnuzyf opened #50881 "accessing service using nodeport from outside host(flannel environment)"
Dear guys:

        I am confused when I tested the k8s network. My scenario is listed as follows:
        Host A access a service using nodeport.  Due to the iptables entry "KUBE-POSTROUTING -m comment --comment "kubernetes service traffic requiring SNAT" -m mark --mark 0x4000/0x4000 -j MASQUERADE", the source ip address in the orignial ip packet sent by A is changed with the ip of docker0. Then

[2017-08-18 02:57] #50182 closed

[2017-08-18 03:10] xiangpengzhao commented on #50866
/sig network
/area platform/gke

[2017-08-18 03:11] xiangpengzhao commented on #50863
/sig api-machinery

[2017-08-18 03:12] dixudx commented on #50880
Sorry for the wrong issue. For comments of const values, no generated_files will be updated.

Close it.

[2017-08-18 03:12] #50880 closed

[2017-08-18 03:24] karataliu opened #50883 "Azure data disk should provision storage account on on-demand"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The azure_dd plugin will always provision two instances of storage account with different type during init.

There could be cases when:
1. User may only want to use one certain type of storage account, then the other type of storage account would be not in use.
2. User chooses to use managed disk, both of the storage acco

[2017-08-18 03:25] karataliu commented on #50883
/sig azure

[2017-08-18 03:35] spnzig commented on #50432
Even if i use a new token, the problem remains

[2017-08-18 03:50] k82cn opened #50884 "[Flaky] GPU test failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
One of the GPU tests started failing after this PR:
https://k8s-testgrid.appspot.com/wg-resource-management#gke-gpu&show-stale-tests=

First failed run: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gpu/647?log#log
Last successful run: https://k8s-gubernator.appspot.com/build/kubern

[2017-08-18 04:39] liggitt commented on #50528
I'd expect non-GC finalizers to be fixed in the 1.8 timeframe (and possibly even picked to 1.7)

[2017-08-18 04:40] shenlanse opened #50886 "tokens controller shouldn't create secret when namespace is terminating"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

---

**What happened**:

**Operation**
1. create namespace
2. wait until all related secrets are created successfully
3. delete namespace

**Result**
1. apiserver has error log

[code]

2. tokens controller has error log

[code]

**Reason**
- delete namespace, apiserver will set deletionTimeStamp and terminating.
- namespace controller wat

[2017-08-18 04:46] k82cn commented on #50884
One interesting thing is that: seems calico is deployed by deployment; the network is unavailable before it's deployed. By default, we'll use DaemonSet for calico; the DaemonSet will tolerate network unavailable to start calico daemons :). Let me check what happened for this case.

[code]

[code]

[2017-08-18 04:47] k82cn commented on #50884
And we found this flaky test after https://github.com/kubernetes/kubernetes/pull/50362 merged. I'm checking it.

/cc @bsalamat , @mindprince

[2017-08-18 04:53] shenlanse commented on #50886
/area controller-manager

/sig API Machinery

[2017-08-18 04:55] laverite commented on #50464
thanks @liggitt.  that makes sense.

[2017-08-18 04:56] shenlanse commented on #50886
/sig api-machinery

[2017-08-18 04:57] shenlanse commented on #50886
/kind bug

[2017-08-18 04:58] shenlanse commented on #50886
/area controller-manager
/sig api-machinery
/kind bug

[2017-08-18 05:06] k82cn commented on #50884
@kubernetes/sig-testing-bugs

It's not a test bug, but there's some question for the investigation:

1. why we deploy calico by Deployment? is there any DaemonSet for it? how to check it?
2. what means for the white box for `BeforeSuite`, passed or not run?

![e2e-gpu](https://user-images.githubusercontent.com/18107181/29444908-dd47c2ea-8415-11e7-81f9-091a7111ac08.jpg)

[2017-08-18 05:14] colindev commented on #12337
@rickypai i will try it, thx

[2017-08-18 05:17] font opened #50888 "[Federation] kubefed join service account errors"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I was successfully able to `kubefed init` a federation control plane on a GKE k8s cluster, but upon attempting to join the cluster the following error occurs:

[code]
This appears to be caused by the context name `gke_<project>_us-west1-b_gce-us-west1` which is using the default context name for a GKE cluster that is auto

[2017-08-18 05:24] #50821 closed

[2017-08-18 05:29] tlbdk commented on #50845
It's in a retry loop sending the same error over and over again, I would be happy to update the agent with one that shows better debug output.

[2017-08-18 05:31] tengqm commented on #50815
To be honest, I don't like the way things are coded today.
Too many things hard coded into the process.
The opposite side of the problem is that it is too restrictive.
It is true we can add this "tolerations" today, then tomorrow, people will ask for "min-ready-seconds",
"replicas", "rolling-update-strategy", "termination-grace-seconds", ...
There won't be an end of this, given that both Deploymen

[2017-08-18 05:41] xiangpengzhao commented on #50888
/sig federation

[2017-08-18 05:45] gyliu513 commented on #50815
It seems difficult go get rid of such things just like `nova boot` in `OpenStack`, what I'm thinking now is can we enable `kubefed init` accept a file as I requested at https://github.com/kubernetes/kubernetes/issues/50817 , and we can put those parameters in a file, and end user can just update this file as they want and then `kubefed init -f <file>` which maybe more user friendly. @tengqm

[2017-08-18 05:46] varunkashyap4dg commented on #48985
@xiangpengzhao actually I already ran it through folks at sig-release and sig-testing this morning. There in it was decided to also comment here to see if there is more info!

[2017-08-18 05:55] davidopp commented on #48041
I forgot that there already is an [admission controller](https://github.com/kubernetes/kubernetes/blob/d490e2cf83316dfa302e54842e91752a029d5210/plugin/pkg/admission/podtolerationrestriction/admission.go), not enabled by default in upstream (but enabled in OpenShift), that enforces a whiltelist on tolerations (configurable per-namespace). This is essentially the same as what you (@jbeda) suggested

[2017-08-18 05:56] font commented on #50888
cc: @kubernetes/sig-federation-bugs

[2017-08-18 05:56] xiang90 commented on #48041
/cc @ericchiang

[2017-08-18 05:57] xiangpengzhao commented on #48985
@varunkashyap4dg Thanks!

BTW, I take a quick search and find that some scripts would be influenced by this.

https://github.com/kubernetes/release/blob/master/changelog-update

https://github.com/kubernetes/release/blob/master/anago

https://github.com/kubernetes/release/blob/master/relnotes

[2017-08-18 06:02] smarterclayton commented on #50714
I do expect a number of plugins in the ecosystem to increase, but I suspect
there will be a ramp up curve.  4 max per resource in the next 6 months?

On Aug 17, 2017, at 9:43 PM, Chao Xu <notifications@github.com> wrote:

Chatted with @smarterclayton <https://github.com/smarterclayton> on slack.
We don't plan to move existing ones. We will add a few new ones, "the ones
for PVC, probably one for se

[2017-08-18 06:03] chulkilee commented on #22207
I need this feature, but I don't think this should be in k8s. Instead, as @bgrant0607 said k8s should expose such events via API. @sstarcher's work poll job status periodically, but ideally there should be a way to subscribe any job failure (not polling). Not sure k8s currently have them though. For example, lifecycle hook for CronJob would be another way..

[2017-08-18 06:15] tengqm commented on #50817
Alright, you are talking about a special "kind: FederationInitialization" struct. I am not voting against this as an alpha feature.
The thing I'm challenging is the fact that all these are hardcoded into the kubefed binary. In real life, the deployment of the federation control plan may have a lot knobs for tuning. I'd prefer a collection of well structured Shell scripts for this. After all, the s

[2017-08-18 06:21] #50530 closed

[2017-08-18 06:27] resouer commented on #49923
Close this by #49993 , thanks @mathspanda @thockin for code and review!

[2017-08-18 06:27] #49923 closed

[2017-08-18 06:40] dixudx commented on #50815
SGTM. This is exactly the `kubectl` way, just like `kubectl create -f <file>`.

@tengqm

You're right. Definitely. But we should provide more ways to accept params. Actually even for `kubectl run`, we still have so many params. This does not have conflicts with `kubectl create -f`. For simple deployments, I think there is no need to prepare a yaml/json file. A single CLI will make it simple to use

[2017-08-18 06:47] gogeof commented on #48219
## the same problem in v1.7.3
- I have try in kubernetes v1.7.3 by kubeadm install, And I have this problem.
- install follow [Using kubeadm to Create a Cluster](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/)

## here is my log.
- docker, kubelet: [logs.zip](https://github.com/kubernetes/kubernetes/files/1233517/logs.zip)

[code]

[2017-08-18 06:49] gogeof commented on #48219
but if I move kube-apiserver.yaml to other dir except /etc/kubernetes/manifests, and then move back, it working.

[2017-08-18 08:01] zjj2wry commented on #50292
@tcharding i can normal work with ```KUBE_EDITOR="nano" kubectl edit svc/docker-registry```. how reappear？thanks

[2017-08-18 08:04] #44321 closed

[2017-08-18 08:06] #45705 closed

[2017-08-18 08:06] #45844 closed

[2017-08-18 08:07] #46143 closed

[2017-08-18 08:11] sttts commented on #50528
Agreeing with @liggitt, nearly any serious use of CRDs will use finalizers. In my tests it at least works with master now. If it stays like that it would be acceptable. 1.9 would be far too late.

[2017-08-18 08:14] tlbdk commented on #50845
fx. from this morning:

[code]
[code]

[2017-08-18 08:23] mjaow opened #50892 "how does scheduler determine node info?"
kubelet collect node info (by advisor) and sent to apiserver every 10s. Scheduler will watch this nodes and cache it for scheduling.After scheduling,scheduler will assumePod which lead to cached nodes info inconsistent with data in apiserver.Which one will be used in next scheduling?

[2017-08-18 08:26] xiangpengzhao commented on #41004
@k82cn as we will remove init containers annotation in #50654, would it be ok to close this issue?

[2017-08-18 08:32] tlbdk commented on #50845
Tried creating a custom image for debugging the issue where I dump the response body when I get the error, here is what I got back so far:

[code]

I could use some hints on how to replace the current running image as it gets rolled back to the old version as soon as I apply the custom debug image, so far I have renamed it and I'm running it on the side.

[2017-08-18 08:40] mjaow commented on #50892
/sig scheduling
/cc @davidopp @k82cn @bsalamat

[2017-08-18 09:02] justinsb commented on #46073
@mml I think sig-apimachinery should own this; it's too fundamental an issue I believe.

[2017-08-18 09:04] CallMeFoxie opened #50894 "Local PV does not cleanly unmount in some cases"
/kind bug

During an update of a statefulset (OnDelete, manually deleteting instances) twice (out of 125) happened this, kept repeating in the log for some time until I restarted the kubelet:
[code]
actual state: folders were first unmounted and then even deleted, yet kubelet kept spamming ^
[code]

Restarting kubelet fixed it. Sadly I will be gone for a week and cannot help track it down in the s

[2017-08-18 09:04] CallMeFoxie commented on #50894
/sig storage

[2017-08-18 09:07] wawastein commented on #48968
@dfcowell for me `Recreate` didn't work. Maybe I noticed only broken cases, but that's still indicative. With `Recreate` I've had hung deployments and needed to delete pod manually couple of times until it started to work. With `RollingUpdate` I had less than a minute of recovery time yesterday. I will be watching the situation and will post new evidence if I catch any.

[2017-08-18 09:26] justinsb opened #50898 "AWS CreateVolume should include tags"
EC2 CreateVolume (to create an EBS volume) supports tags at creation time (not sure if new or not).  We should use that:

* for idempotency: create then tag can leak
* for IAM policies, which could then filter CreateVolume

[2017-08-18 09:41] tlbdk commented on #50845
I did a bit more work and managed to capture the body of a failing request, it's from our production system so how can i share this in secure way?

[2017-08-18 09:43] mbohlool commented on #45249
The docs generated from OpenAPI spec. The openAPI spec indicated that:

[code]

and

[code]

That means if we fix doc generator (cc @pwittrock) it would be shown as "map[string]Quantity" or "map[string]string". Is that better in any way? If we want more than that, we need special support for doc generator in OpenAPI spec (extensions?!) but that would also result in adding something before all thos

[2017-08-18 10:34] pengyue commented on #23726
This issue has been confused me for 1 week, it seems to be working for me now. If you have this issue, first of all, you need to know which node it happens on.

If it is a master node, then make sure all of kubernetes pods are running by command
`kubectl get pods --all-namespaces`,

mine looks like this
`kube-system   etcd-kubernetes-master01                      1/1       Running   2          6d

[2017-08-18 10:56] jsravn opened #50902 "High dockerd memory and cpu usage when lots of images on a node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
dockerd memory usage grows very large, > several hundred MBs. dockerd CPU usage spikes constantly.

**What you expected to happen**:
dockerd memory and CPU usage should remain relatively low.

I think part of the problem is that kubelet constantly lists the images from the docker daemon, which causes the CPU and memory sp

[2017-08-18 11:06] #50902 closed

[2017-08-18 11:08] zjj2wry commented on #47976
@smarterclayton
[code]
this func prevent create 、update service.  should we update  <unknow> back to "" ?

[2017-08-18 11:35] zjj2wry opened #50905 "kubectl set resource exit 1 when no object update"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Insta

[2017-08-18 11:35] igorpeshansky commented on #50845
@qingling128 will send you an email with her and my Google email address that you can share a Google doc with. If you give us edit access, we'll share it with others on the backend team who need to see it.

[2017-08-18 11:38] zjj2wry commented on #21648
@smarterclayton seems interesting for this. can i have a go for ```kubectl set env```?

[2017-08-18 11:48] sstarcher commented on #22207
@chulkilee the polling could be changed to monitoring the event stream for changes via the watcher api

[2017-08-18 11:50] zjj2wry commented on #50905
/sig cli

[2017-08-18 12:15] shyamjvs opened #50907 "Enable a mechanism SIGs can easily use for manual scalability testing while development"
We're currently having automated scale jobs running for CI scalability validation. But multiple other SIGs/teams (e.g instrumentation, security, storage, autoscaler, scheduler etc) have recently started showing interest in scalability testing of features they're developing. The following are main requirements here IMO:
- Be able to run scale testing from their local dev environments (without havin

[2017-08-18 12:16] shyamjvs commented on #50907
cc @ignacyk @wasylkowski

[2017-08-18 12:21] #45983 closed

[2017-08-18 12:23] shyamjvs commented on #50907
As an initial step I created a new jenkins project on gcp named 'k8s-scale-testing' which is dedicated purely for this purpose. Requested for an increased quota in the project.
It would help isolate dev-testing from our CI 5k-node jobs, which is a win-win for both sides as we no longer need to block one on the other (which we saw happening recently).

[2017-08-18 12:24] neolit123 opened #50909 "Makefile errors on Ubuntu 16.04"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

i followed the instructions here:
https://github.com/kubernetes/kubernetes/blob/master/README.md

first, i installed Docker, started `dockerd` and that worked.

cloned the Kubernetes github tree in `~/kubernetes`.

by running `make quick-release` i'm getting:
`Makefile:1: *** missing separator`
and nothing else.

so inste

[2017-08-18 12:27] neolit123 commented on #50909
/sing area/build-release

[2017-08-18 12:29] neolit123 commented on #50909
/sig area/build-release

[2017-08-18 12:30] neolit123 commented on #50909
/sig build-release

[2017-08-18 12:30] deads2k commented on #50863
Given the low cardinality of APIServices, I think that could work out naturally as a controller driven flow on a fairly tight resync.  Adding a status condition for openapi aggregation could provide additional triggers from within the same controller

[2017-08-18 12:33] tlbdk commented on #50845
@igorpeshansky I already sent an e-mail with the debug info to @qingling128 so you should have something to look at if I don't response back right away

[2017-08-18 12:36] neolit123 commented on #50909
/sig release

[2017-08-18 12:41] neolit123 commented on #50909
@kubernetes/sig-release-bugs

[2017-08-18 12:43] kargakis commented on #21648
@zjj2wry yes, please, here is the downstream implementation of the command, it will be helpful.

https://github.com/openshift/origin/blob/master/pkg/oc/cli/cmd/set/env.go

[2017-08-18 12:45] kargakis commented on #50907
+1 on this, needed by sig-apps for things like https://github.com/kubernetes/kubernetes/pull/49429

[2017-08-18 12:52] warmchang commented on #3949
pod live migration? I think it's not necessary to do this.
you can use service to shielding the destroy and rebirth of pod.

[2017-08-18 12:57] ironcladlou commented on #50528
The new GC defaults for CRD GC in 1.8 fixes finalizers as a side effect, but also consider the ability to disable GC on a per-type basis remains available (and in doing so, finalizers will be broken for any such type). It's not clear to me yet how that configuration is surfaced to end users or what the current defaults are.

[2017-08-18 13:03] tlbdk commented on #50845
Did a bit of testing with the API explorer trying to send the payload and find out what part of the logging fails, we are sending some very large JSON structures in the jsonPayload, 20K lines and that seems to cause the problem.

Response headers:

[code]

Response body:

[code]

[2017-08-18 13:17] ktosiek commented on #3949
@warmchang Live migration would let one reduce downtime for services that don't support failover and have a long startup time.
JIRA and Jenkins would be examples of such services.

You can run them under a single-instance StatefulSet (not under RC, as they do not guarantee stopping the old instance), but then you'll see those slow restarts (potentially multiple ones) on a rolling cluster reboot.

[2017-08-18 13:42] wojtek-t commented on #50760
@shyamjvs What's the status of it? It's still broken.

[2017-08-18 13:42] zjj2wry commented on #21648
@kargakis nice, thank you very much 😊

[2017-08-18 13:43] shyamjvs commented on #50624
This issue has been fixed after merging my cherry-pick above:
https://k8s-testgrid.appspot.com/release-1.5-all#gci-1.5
https://k8s-testgrid.appspot.com/sig-scalability#kubemark-small-1.5

[2017-08-18 13:43] #50624 closed

[2017-08-18 13:46] tlbdk commented on #50845
Did a bit more testing and it seems i get internal when either the size or the nesting reaches a certain limit, under that I get a message too large

[2017-08-18 13:50] jdumars commented on #50874
This is not a valid issue, and the user photo is a violation of GitHub Terms of Service, section C.2. Closing.

[2017-08-18 13:50] #50874 closed

[2017-08-18 13:51] jdumars commented on #50869
This is not a valid issue, and the user photo is a violation of GitHub Terms of Service, section C.2. Closing.

[2017-08-18 13:51] #50869 closed

[2017-08-18 13:54] jdumars commented on #50881
/sig network

[2017-08-18 13:55] jdumars commented on #50845
this will eventually be SIG GCP but per current policy, it's being assigned to
/sig cluster-lifecycle

[2017-08-18 13:57] jdumars commented on #50748
/sig cluster-lifecycle

[2017-08-18 13:58] shyamjvs commented on #50760
I made a few changes to kubetest and kubeadm to catch the issue (https://github.com/kubernetes/test-infra/pull/4094).
Waiting for the current run (#123), which has those changes, to finish.

[2017-08-18 13:59] deads2k commented on #49038
In order to make it to beta, I think this needs to needs to be supportable for any resource, which is going to require making it into the generic apiserver.

@p0lyn0mial you've been in the generic apiserver admission chain recently.  Want to try to pull these into the generic chain?

[2017-08-18 14:00] shyamjvs commented on #50760
Aand.... I just see the result uploaded for it. I'm looking into it.

[2017-08-18 14:19] puja108 commented on #47733
We're seing similar behaviour on our clusters in AWS running K8s 1.6.4 and also 1.7.3.

Looking at the documentation (https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services---service-types) only services of type `LoadBalancer` should create cloud loadbalancers (here ELBs), other types should not, so I'd say this is rather a bug report than a feature request.

You can

[2017-08-18 14:42] jkemp101 commented on #45234
This is still an issue for me.  I had planned to run two identical clusters for redundancy but unfortunately had to make one of the clusters run nodes of all the same type so that I could ensure our user facing web requests always went through a node with sufficient network bandwidth.

I'm currently trying to understand some 504 errors related to AWS Classic ELBs and k8s services.  Once I figure t

[2017-08-18 14:42] dims commented on #831
@bgrant0607 or Anyone else interested in a proof-of-concept? please see https://github.com/dims/docker-flexvol

[2017-08-18 14:48] wongma7 commented on #50820
Unless rescheduler.log is a file and already exists, docker will always create a directory at the path rescheduler.log. It can't know/infer whether you intend to mount a given path as a file or directory so defaults to directory. kube-apiserver.log and such are created beforehand to avoid this issue https://github.com/kubernetes/kubernetes/blob/eab039d7462cd87f395e628ee7cc852e011f153a/cluster/salt

[2017-08-18 14:52] crassirostris commented on #50820
@wongma7 Thanks!

There's a file for rescheduler: https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/rescheduler/init.sls#L11

@hchenxa Maybe you're not using salt properly?

[2017-08-18 15:04] alexbrand commented on #42926
Thanks @yguo0905!

[2017-08-18 15:32] jsravn opened #50915 "AWS provider excludes untagged nodes, causing node deletion on 1.5->1.6 upgrade"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Upgrade 1.5->1.6. Untagged nodes get deleted on kubelet restart. Fortunately, most of my cluster was still tagged with KubernetesCluster (now deprecated).

**What you expected to happen**:
Didn't expect this - it's not mentioned in the CHANGELOG.md as a breaking change. In 1.5, untagged nodes were okay.

**How to reproduc

[2017-08-18 15:39] julia-stripe opened #50916 "Scheduler dies with "Schedulercache is corrupted""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig scheduling

**What happened**:

The scheduler panics with "Schedulercache is corrupted and can badly affect scheduling decisions". There are a few related issues reporting a similar bug (#46347, #47150), but in both of those issues the recommended fix is to upgrade to etcd 3.0.17. We're using etcd 3.2.0 which is newer than that. This h

[2017-08-18 15:41] tlbdk commented on #50845
Got time to cook up an example of where it fails:

[code]

[2017-08-18 15:49] crassirostris commented on #50076
No, that's a different thing. Imagine we have N events in the backend with the same AuditID, for the same call essentially. Some of these events were ingested from the apiserver, some from the kube-aggregator, some from federated server. How to understand which server this particular event with the same AuditID came from?

[2017-08-18 16:08] guangxuli opened #50917 "Kubelet will start failed if the default root directory(/var/lib/kubelet) not be created"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kubelet start failed, and the outputs :

2017/08/18 23:39:43 proto: duplicate proto type registered: google.protobuf.Any
2017/08/18 23:39:43 proto: duplicate proto type registered: google.protobuf.Duration
2017/08/18 23:39:43 proto: duplicate proto type registered: google.protobuf.Timestamp
**error: failed to run Kubelet:

[2017-08-18 16:09] guangxuli commented on #50917
/sig node

[2017-08-18 16:10] guangxuli commented on #50917
/assign

[2017-08-18 16:13] spiffxp commented on #48031
This remains the flakiest test for the least consistent PR job according to http://storage.googleapis.com/k8s-metrics/flakes-latest.json

/priority failing-test

[2017-08-18 16:19] ericchiang commented on #48031
pinging @kubernetes/sig-apps-bugs again

[2017-08-18 16:21] ericchiang commented on #50076
The federated server doesn't work like an aggregated API server. It's not proxying requests, it's asynchronously

[2017-08-18 16:27] cmluciano commented on #50868
@kubernetes/sig-network-misc

[2017-08-18 16:29] cmluciano commented on #50844
cc @bowei

[2017-08-18 16:29] ericchiang commented on #50076
The federated API server doesn't behave like an aggregated API server where the request is proxied and the request will have the same AuditID. In federation, a user creates a object through the federated API server, the federated controllers observe the object, then reconciles objects on the underlying clusters.

An individual request to the federated API server doesn't directly translate to a ind

[2017-08-18 16:35] thockin commented on #45234
There's effectively 0% chance this is solved in 1.8.  If we want any chance to solve it in 1.9, we'll need to consider options early in the cycle.  I don't like putting this in the user's hands.  This selector doesn't apply to all LB implementations, which makes it something of a kludge.  I'd prefer we explore other options that apply more widely.

[2017-08-18 16:39] bigkraig commented on #25283
This is also useful for ingresses that need to retain the source IP using OnlyLocal node ports, which is important for firewalling with things like Calico. The problem that we see now is when a deployment occurs, the pod is removed from the node port before the PreStop completes, which doesn't give the upstream AWS load balancer time for the pod to fail out using normal health checks.

[2017-08-18 16:41] victortrac commented on #45626
I just wanted to throw in another data point - I too have upgraded to k8s-1.7-debian-jessie and have had this problem go away. It's been about two weeks.

[2017-08-18 16:42] rdsubhas commented on #45398
Hello folks, can anyone pls describe how to use `PodDisruptionBudget` with helm? Since updates are forbidden, we are forced to manually re-create it all the time which kills source management for this one resource.

[2017-08-18 16:43] rdsubhas commented on #25321
As said in #45398, can anyone pls describe/document how to use `PodDisruptionBudget` with helm? Since updates are forbidden, we are forced to manually re-create it all the time which kills source management for this one resource. Does it really count as beta if it doesn't work like any other kubernetes resource with helm?

[2017-08-18 16:52] kow3ns commented on #25283
/close

[2017-08-18 16:52] #25283 closed

[2017-08-18 16:53] kow3ns commented on #25283
Headless Services are a thing now

[2017-08-18 16:54] chulkilee commented on #22207
Oh I didn't know there is [Watch API for CronJob](https://kubernetes.io/docs/api-reference/v1.7/#watch). Then I think this ticket should be closed by recommending the api.

[2017-08-18 16:59] jmillikin-stripe commented on #43397
Can this be reopened? Regardless of whether kubeadm is doing the wrong thing, kubelet should not fail to delete a `hostNetworking` pod just because the CNI state is broken.

[2017-08-18 17:18] mindprince commented on #50884
https://github.com/kubernetes/kubernetes/issues/50723 has more tests which started seeing the same problem after #50362
/cc @yujuhong
Can we revert #50362 until we find what's wrong with it?

[2017-08-18 17:20] mindprince commented on #50884
/cc @dnardo to answer questions about calico deployment.

[2017-08-18 17:37] bsalamat commented on #50884
+1 to reverting #50362 until we find the root cause of the change of behavior caused by the PR.

[2017-08-18 17:48] bsalamat commented on #50892
@mjaow It is not clear what you exactly mean by "cached nodes info inconsistent with data in apiserver". Scheduler has watches on certain objects, particularly nodes and pods, and when they change scheduler is notified and acts on them.
One piece of information that scheduler does not use is the actual amount of resource usage on nodes. Scheduler works with pods' resource requests (not by resource

[2017-08-18 17:59] ericchiang commented on #50432
@spnzig what problem specifically? That it's still being marked as expired?

It's really hard to determine if there's an issue on our part without corresponding API server logs and kubectl logs. Could you structure your bug report as:

[2017-08-18 18:03] ivankennethwang opened #50921 "Is there a way to specify api server ip for cluster-proportional-autoscaler-amd64 image"
Is there a way to specify api server ip for cluster-proportional-autoscaler-amd64 image?

[2017-08-18 18:04] jayunit100 opened #50922 "Decide if we should write a proposal for sharing / exporting of configmaps between namespaces."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened ?**

It would be nice to share configmaps between namespaces,

- this is a good workaround to a recent  conversation on the kubernetes mailing list around "how many apps per cluster", as its another tool in the toolbox.
- example 1: a way to implement a 'poor man's multitenancy'.
- example 2: sharing paves the way for au

[2017-08-18 18:07] MikeSpreitzer commented on #50564
@wojtek-t: I do not understand your remark at https://github.com/kubernetes/kubernetes/pull/50571#pullrequestreview-57017061 .  When I look at https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go#L708 right now, I see
[code]

But that is backwards.  It returns the value of `ceil(q / 10^scale)`.

[2017-08-18 18:07] ivankennethwang commented on #50921
/sig autoscaling

[2017-08-18 18:11] jayunit100 commented on #50922
Not sure where this is most relevant, couldn't find sig-ux group, so ... cc @kubernetes/sig-api-machinery-feature-requests @kubernetes/kubectl-maintainers

[2017-08-18 18:14] #49909 closed

[2017-08-18 18:17] qingling128 commented on #50845
That's very helpful! Thanks @tlbdk. I'll let the other framework team know. Will update the tickets with any findings.

[2017-08-18 18:18] shyamjvs commented on #50760
The above PR should give some info where exactly it's failing.

[2017-08-18 18:46] wongma7 commented on #50772
what does `kubectl describe $pv` show? It should say why it's Failed

[2017-08-18 18:52] steveperry-53 commented on #17658
@ahmetb, @orfjackal, I'm working on the docs for this in https://github.com/kubernetes/kubernetes.github.io/pull/4439.

[2017-08-18 19:11] enisoc commented on #48031
I think I was the last person to touch this test, so I will investigate. If anyone has direct links to recent failures I'd appreciate them.

[2017-08-18 19:20] tessiof commented on #42926
@yguo0905 docker 17.03 ce is basically docker 1.13 with bug fixes, so I guess this version could be validated to.

[2017-08-18 19:49] bgrant0607 commented on #831
@dims Neat! I assume I could populate that volume using `ADD /my-files /data-store`?

[2017-08-18 20:21] dims commented on #831
@bgrant0607 yes of course, updated the sample container and added some traces - https://github.com/dims/docker-flexvol#container-image-with-pre-defined-volume

[2017-08-18 20:23] mienaikoe commented on #24903
@Rev1408 I'm also using Google Cloud. This isn't documented anywhere on google's docs that I could find, but you have to use Google Cloud Repository for docker images on their kubernetes. You can learn more here:  https://cloud.google.com/container-registry/docs/quickstart

[2017-08-18 20:29] alph486 commented on #831
Very cool @bgrant0607 !

[2017-08-18 20:55] andrewsykim opened #50926 "Implement GetZoneByProviderID and GetZoneByNodeName for all cloud providers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

As part of the initiative for external cloud providers (https://github.com/kubernetes/kubernetes/issues/48690), we added GetZoneByProviderID and GetZoneByNodeName. See https://github.com/kubernetes/kubernetes/pull/50858 for more details. The previous PR did not actually implement those methods for existing cloud providers in `pkg/cloudprovider/provide

[2017-08-18 20:56] andrewsykim commented on #50926
Could someone add the help-wanted label for this issue please?

[2017-08-18 20:58] pipejakob commented on #47820
I'll try digging into this today.

[2017-08-18 21:02] andrewsykim commented on #50926
/sig cluster-lifecycle

[2017-08-18 21:02] wlan0 commented on #50926
/area cloudprovider

[2017-08-18 21:02] neolit123 commented on #50909
thanks for the reply,

i've re-created both the Makefile and Makfile.generated_files symlinks manually in the root folder with `ln -s` and the build got past that error. deleting them and checking them out from git does not fix the issue for me, which means that the symbolic links stored as-is in the git repository might not work for some folks...odd.

the build now fails with another error, which

[2017-08-18 21:03] wlan0 commented on #50926
/assign wlan0

[2017-08-18 21:07] wlan0 commented on #50926
cc @thockin @luxas

We need the following label -

help-wanted

and add it to the 1.8(?) milestone

cc @luomiao @FengyunPan @fgimenez @realfake @cheftako to implement it for their respective clouds.

[2017-08-18 21:16] leblancd opened #50927 "Add kubeadm config for setting kube-proxy BindAddress"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Run 'kubeadm init --help' and there is no option to configure the bindAddress that kube-proxy should use (nor for any other kube-proxy configuration).

**What you expected to happen**:
I'd like to add a kubeadm configuration for directing kubeadm to create a kube-proxy config file that optionally contains a setting fo

[2017-08-18 21:29] leblancd commented on #50927
/sig cluster-lifecycle
/area ipv6

[2017-08-18 21:35] neolit123 commented on #50909
i'm now experiencing https://github.com/kubernetes/kubernetes/issues/10662
with 4GB of ram available and also by using `taskset 3 make`, so not sure how i'm going to solve that...

closing this ticket as the underlying error was fixed.

[2017-08-18 21:35] #50909 closed

[2017-08-18 21:46] mnussbaum opened #50928 "Kubelet, kube-proxy and kube-dns health checks pass without connectivity to API servers"
/kind bug

**What happened**:

The `/healthz` endpoints of kube-proxy, kubelet and kube-dns' sidecar all continue to return HTTP `200` responses after their connectivity to the kube-apiserver is cut off.

**What you expected to happen**:

These three services need to be able to communicate with the API server to do their jobs. When connectivity to the API server is cut off they should start failin

[2017-08-18 21:47] #47990 closed

[2017-08-18 22:05] neolit123 commented on #11852
latest master 683f09c does not build for me in a 5GB RAM, 2 CPU core, freshly restarted Ubuntu VM with `taskset 3 make`.

[code]

it says that GCC cannot allocate enough memory.
a vote for re-opening this issue as the memory usage seems a bit too high.

[2017-08-18 22:09] chris612ku opened #50930 "env too big causes failure of creating deployment"
/sig scalability
Hi,

I encounter an issue and totally have no idea how to resolve it even though I've discussed with some other users on slack.
I'm wondering if Kubernetes developer/contributor could help me with this.

The situation is as followed:
I created about 60~70 deployments in my k8s system; however, after that, when I tried to create a new deployment, the creation failed.
Then I open /v

[2017-08-18 22:49] xcompass commented on #45419
I was having this issue while doing docker image clean up. I guess docker was too busy. After images are removed, it's back to normal.

[2017-08-18 22:50] enisoc commented on #48327
Another proposal being considered:

* Revert the change to stop respecting the annotation.
* Fix StatefulSet controller to not try to set the immutable hostname/subdomain fields when updating existing Pods.
* StatefulSet will continue to set the fields instead of the annotation on new Pods, from 1.7.0 onward.

This should get us back to a safe state as far as I can tell. We would then have time to

[2017-08-18 22:58] cblecker opened #50935 "Cross building from darwin is broken"
[code]
/kind bug
/sig scheduling
/area build-release

[2017-08-18 23:00] joelsmith opened #50936 "No-op endpoint updates clog up endpoint controller's queue"
/kind bug

**What happened**:

On a large cluster with enough pods, endpoints take as long as 10 minutes to show up after their associated pods and service are created. We believe that this is because every pod change results in an update of the addresses within the endpoint since they refer to a pod via a `TargetRef` whose `ResourceVersion` changes every time a pod change is observed. All these n

[2017-08-18 23:01] cblecker commented on #50935
/remove-sig scheduling
/sig node

[2017-08-18 23:02] pipejakob commented on #47820
I think this code might be causing some issues:
https://github.com/kubernetes/kubernetes/blob/a755d3e5775defd83a6abc9f7fcad5cbb01d87f3/cluster/gce/gci/configure-helper.sh#L651-L656

In it, the kubeconfig file generated for kubelet to bootstrap with has two entries for `server:` at the same level. I'm not sure if one is supposed to override the other, but it seems wrong to have two entries here. Af

[2017-08-18 23:09] mtaufen commented on #47820
Yeah that looks like a rebase mistake to me. Let me take a look.

[2017-08-18 23:15] mtaufen commented on #47820
Though I'm surprised the signal for this is the network partition test, I'd expect something to fail much sooner than that if the kubeconfig were wrong...

In any case, I'll post a fix for the duplicate server field.

[2017-08-18 23:16] verult opened #50937 "'kubectl get pvc' missing PV name label."
**Is this a BUG REPORT or FEATURE REQUEST?**: bug

/kind bug

**What happened**: `kubectl get pvc` returns the following:
[code]
VOLUME label is missing.

**What you expected to happen**:
[code]
**Environment**:
- Kubernetes version (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"8+", GitVersion:"v1.8.0-alpha.0.3928+7116f522eeee5c-dirty", GitCommit:"7116f522eeee5cf866c9b60d

[2017-08-18 23:20] mtaufen commented on #47820
Aha, didn't notice this was for upgrade tests. New provisioning on the destination version likely the cause.
Fix in https://github.com/kubernetes/kubernetes/pull/50939

[2017-08-18 23:37] daryllstrauss opened #50941 "Kubelet exhausts memory on startup"
/kind bug

**What happened**:

Starting up kubelet, it would repeatedly report
Orphaned pod "960d8587-8033-11e7-b5ed-5254009e97c1" found
, but volume paths are still present on disk.
Resident set size would slowly increase until the VM crashed
Looking in
/var/lib/kubelet/pods/960d8587-8033-11e7-b5ed-5254009e97c1/volumes/kubernetes.io~secret
There were 358227 files. They were growing at an exponent

[2017-08-18 23:37] d-shi commented on #39812
Is there an update on this? I'm running k8s 1.7.2 and am also noticing that port 10255/metrics does not show pod metrics. However port 10255/stats/summary does. Restarting kubelet does not change anything.

[2017-08-18 23:40] pipejakob commented on #47882
Crossing my fingers on this fix: https://github.com/kubernetes/kubernetes/pull/50939

I'll keep digging if that wasn't the root cause, but I'm testing locally now.

[2017-08-18 23:45] cblecker opened #50943 "Flaky test: k8s.io/kubernetes/test/integration/garbagecollector TestCreateWithNonExistentOwner"
Had this test fail a few times on unrelated PRs in presubmit.

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestCreateWithNonExistentOwner#3fa5db1dc43a959fe8e9

Example failure: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/50561/pull-kubernetes-unit/47770/

Possibly related to https://github.com/kubernetes/kubernetes/pull/50335 which recentl

[2017-08-18 23:48] cblecker commented on #50941
/sig node
/area kubelet

[2017-08-18 23:52] cblecker commented on #50585
Duplicate of https://github.com/kubernetes/kube-ui/issues/59
/close

[2017-08-18 23:52] #50585 closed

[2017-08-18 23:58] BaluDontu opened #50944 "Pods with volumes stuck in ContainerCreating after cluster node is powered off in vCenter"
Is this a BUG REPORT or FEATURE REQUEST?:
/kind bug

**What happened:**
One of the cluster worker nodes was powered off in vCenter.
Pods running on this node have been rescheduled on different nodes but got stuck in ContainerCreating. It failed to attach the volume on the new node with error "Multi-Attach error for volume pvc-xxx, Volume is already exclusively attached to one node and can't be att

[2017-08-19 00:00] BaluDontu commented on #50944
/sig storage
cc @kubernetes/sig-storage-bugs

[2017-08-19 00:02] d-shi commented on #39812
Actually nevermind... apparently the behavior of cadvisor has changed in 1.7. I was able to get Prometheus to grab pod metrics by following the setup mentioned here: https://raw.githubusercontent.com/prometheus/prometheus/master/documentation/examples/prometheus-kubernetes.yml

[2017-08-19 00:22] k8s-merge-robot opened #50945 "[e2e test failure] [sig-api-machinery] Aggregator Should be able to support the 1.7 Sample API Server using the current Aggregator"
### Failure cluster [42229f8b33f735ea0213](https://go.k8s.io/triage#42229f8b33f735ea0213)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    11 jobs failed,    241 builds failed.
Failure stats cover 1 day time range '17 Aug 2017 22:57 UTC' to '18 Aug 2017 22:57 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-api-machinery] A

[2017-08-19 00:22] k8s-merge-robot opened #50946 "Failure cluster [c72564...] failed 219 builds, 11 jobs, and 1 tests over 1 days"
### Failure cluster [c7256421354e9bed0651](https://go.k8s.io/triage#c7256421354e9bed0651)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    11 jobs failed,    219 builds failed.
Failure stats cover 1 day time range '17 Aug 2017 22:57 UTC' to '18 Aug 2017 22:57 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-apps] StatefulSe

[2017-08-19 00:35] dims commented on #831
@bgrant0607 @thockin @alph486 - Added support to make a copy of entire container image available to the pod per offline discussion

[2017-08-19 01:03] k82cn commented on #50892
In next cycle, scheduler will use nodeInfo from cache; the assumePod is also considered using the resources because delay of bind call. If any exception, the scheduler will clear it up.

[2017-08-19 01:03] k82cn commented on #50884
sure, let me revert it firstly :).

[2017-08-19 02:13] resouer commented on #50689
Yes, it's true this use case tend to be associated with Node change. And I think this behavior can be covered by current DaemonSet controller.

[2017-08-19 02:43] guangxuli commented on #50917
Close this issue since it has been fixed by another PR https://github.com/kubernetes/kubernetes/pull/50712
thanks @dims

[2017-08-19 02:43] #50917 closed

[2017-08-19 02:56] zjj2wry commented on #50937
/assign

[2017-08-19 02:56] zjj2wry commented on #50937
@verult thank for you report this

[2017-08-19 02:57] sjenning commented on #50936
/sig scalability

[2017-08-19 03:46] zhangxiaoyu-zidif opened #50951 "Reduce redundant commet of code and Fix go style comment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
There are some unused commet, these are meaningless.
And some function‘s comment does not follow go style.

**What you expected to happen**:
We should delete them all.
and fix comment following golang style
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Envir

[2017-08-19 03:46] zhangxiaoyu-zidif commented on #50951
/assign

[2017-08-19 03:56] zhangxiaoyu-zidif opened #50952 "Use util function to replace self-contained function"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
In some files, i found that there are many self-contained function, whose feature is as same as some util function. Obviously, they are redundant.

**What you expected to happen**:
Use util function to replace self-contained function

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else w

[2017-08-19 03:56] zhangxiaoyu-zidif commented on #50952
/assign

[2017-08-19 05:10] PaulCharlton commented on #50879
/sig area/build-release

[2017-08-19 05:45] mjaow commented on #50892
@k82cn ,@bsalamat ,I see...
scheduler don't need to know the actual amount of resource usage on nodes.It just collect node info like disk,mem,cpu capacity and the request resource of pods binding on this node from apiserver.So the actual usage is not considered.This in turn update cache of scheduler,which then used for scheduling.

[2017-08-19 06:02] jingxu97 commented on #48968
@wawastein "Recreate" strategy means that All existing Pods are killed before new ones are created . So this strategy should work since delete old pod will make sure volume is detached first. When you see hung deployment, could you please use kubectl to check whether the old pod gets deleted? Thanks!

[2017-08-19 06:48] honglzh commented on #40969
why this is closed without any solution? what's the purpose for reporting?

[2017-08-19 06:56] humblec commented on #48937
@dchen1107 @verb afaict, running `systemd init` in a container is well recommended at certain scenarios and iic, there are enough containers who make use of `init` as its `pid 1`. If shared namespace which introduced in 1.7 breaks this, I believe its a backward compatibility break :(. I would invite @rhatdan here to share his thoughts as well. :)

[2017-08-19 07:36] zhangxiaoyu-zidif opened #50954 "Fix url redirection"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Some url in markdown file is invalid
or need to be redirected to dest. url one time or more.

**What you expected to happen**:
So cleaning them up is necessary.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl versi

[2017-08-19 08:10] abel-von opened #50956 "etcd clientv3 and grpc log can never print out because we don't specify a Logger."
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

**What happened**: grpc log can never print out because we don't specify a Logger when new a v3 client
**What you expected to happen**: grpc log can be print out when the `--v` is bigger, say 4.
**How to reproduce it (as minimally and precisely as possible)**: Always
**Anything else we need to know?**:

unless we specify a Logger to cf

[2017-08-19 08:33] garethr opened #50957 "OpenAPI spec Quantity field should accept integer"
/kind bug

**What happened**:

Validating Quantity fields against the OpenAPI spec fails if the value is an integer, however Kubernetes happily accepts integers.

**What you expected to happen**:

Validating Quantity fields should pass for integer or string values.

As noted on https://groups.google.com/forum/#!topic/kubernetes-sig-api-machinery/dLCXrZRwWpU

**How to reproduce it (as minimally and

[2017-08-19 08:34] luxas commented on #48945
We discussed this in the SIG Meeting and decided that as we don't have any "champion" for adding this prefix really (there has just been discussions about it here and in the SIG meeting), we'll just leave this as-is. It would be cool from a correctness perspective, but the regex format is kind of well-known at this point as well. Not doing this because of the risk and added complexity it implies.

[2017-08-19 08:34] #48945 closed

[2017-08-19 08:38] verb commented on #48937
@humblec Those articles are about how to work around shortcomings in vanilla docker that Kubernetes solves natively: resource sharing via pods, containing via SELinux, reaping orphaned zombies, etc.

My earlier question was along the lines of how much effort should go into supporting use cases that are not using Kubernetes as intended. (I'm actually asking, not trying to make a point.) Does Kubern

[2017-08-19 08:44] rhatdan commented on #48937
Yes running systemd in a container is a critical need for us.  There are lots of situations where it is and will be used.  Biggest use case if for people simply moving current workloads that run in a VM into a container.

1. If I have a service that runs fun  under systemd in a VM.  If I can simply take the init script and move it whole sale into a container, why wouldn't I want to do this.  It's

[2017-08-19 08:54] rhatdan commented on #48937
If the intension is to force all containers inside of a POD to run with the same PID Namespace?  I think this is a mistake since it eliminates another really cool use case.

I would love to be able to run two containers inside of a pod, and INIT container with escallated privileges and a locked down container, with no privileges.  I want to make sure the locked down container can not see the proce

[2017-08-19 09:10] resouer commented on #50689
@mikedanese @kargakis，what do you think about his feature request? Is it reasonable or we prefer to leave it as is (https://github.com/kubernetes/kubernetes/issues/50689#issuecomment-322480599).

[2017-08-19 09:48] resouer commented on #50916
@kubernetes/sig-scheduling-bugs

[2017-08-19 09:52] resouer commented on #50813
@kubernetes/sig-scheduling-bugs

[2017-08-19 10:10] resouer commented on #50878
Could you please give a detailed way to reproduce this issue?

[2017-08-19 10:24] leblancd opened #50959 "Add test for kubeadm config defaults"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Upon code review, I don't see any unit test for checking kubeadm MasterConfiguration defaults.

**What you expected to happen**:
There should be a unit test for checking kubeadm MasterConfiguration defaults.

**How to reproduce it (as minimally and precisely as possible)**:
Code inspection.

**Anything else we need to

[2017-08-19 10:25] wenlxie commented on #50944
+1 also facing the same issue.
When the node had been power off, then the node will be  deleted from the the cluster. So in this scenario, we can set the volume to be unmount when receive the node delete event,  then at `reconcile` we don't need to wait for `maxWaitForUnmountDuration` to detach the volume.

[2017-08-19 10:39] wenlxie commented on #50689
@resouer  This scenario can be covered by current DaemonSet controller? I am a bit confused.
I know if the a node just added to the cluster, the controller will create one pod to it. But if the node restart, the DaemonSet controller still can do that?

[2017-08-19 10:58] leblancd commented on #50959
/sig cluster-lifecycle

[2017-08-19 11:08] mikelorant commented on #45626
Also confirming this resolved our issues.

[2017-08-19 13:29] nikhita commented on #50954
This can be closed now. It is fixed in https://github.com/kubernetes/kubernetes/pull/50882.

[2017-08-19 13:33] nikhita commented on #50951
@zhangxiaoyu-zidif can you edit the PR description in #50213 to say `fixes #50951` instead of `fixes ##50951`? That would automatically close this issue once the PR is merged. :)

[2017-08-19 13:35] nikhita commented on #50952
@zhangxiaoyu-zidif similar comment to https://github.com/kubernetes/kubernetes/issues/50951#issuecomment-323523437. Can you edit the description in #47506 to say `fixes #50952` instead of `fixes ##50952`? Thanks!

[2017-08-19 13:50] nikhita commented on #50687
This can be closed now. It is fixed in https://github.com/kubernetes/repo-infra/pull/32.

[2017-08-19 13:59] mtanino commented on #50687
Thank you for the information.

[2017-08-19 13:59] #50687 closed

[2017-08-19 15:49] JeanMertz opened #50962 "container that is supposed to restart every 60s ends up in CrashLoopBackOff"
/kind bug

we have an app that is a simple shell script, executes a command, sleeps for 60 seconds, and then exit 0's, the idea is that Kubernetes restarts the container, and the cycle starts over again, giving us a task that runs continuously every 60 seconds.

This works, and the first couple of restarts (I haven't counted them yet) it works as expected, but eventually, the pod ends up in a weir

[2017-08-19 16:43] luxas commented on #49480
CNI v0.6.0 is out https://github.com/containernetworking/cni/releases/tag/v0.6.0 :tada:, but it's too late in the cycle for us to update.
I think we should target k8s to use v0.6.x in v1.9 (and then include portmap, etc. etc.)

@dixudx is this something you'd want to work on?

[2017-08-19 16:45] luxas commented on #50959
@leblancd Thanks for this issue.
Do you mind reopening this in https://github.com/kubernetes/kubeadm/issues instead?
We're trying to consolidate all issues there...
Thanks!

[2017-08-19 16:45] #50959 closed

[2017-08-19 16:54] thockin commented on #50936
@mikedanese what ever happened with the effort to move leases off of Endpoints?

[2017-08-19 17:40] krzyzacy commented on #50797
The tests has wrong `--num-nodes` are passing now, however seems the actual upgrade test is still failing.

/unassign
/assign @ericchiang
feel free to reassign to interested parties.

[2017-08-19 17:57] verb commented on #48937
@rhatdan none of the things you've mentioned are removed by this change, save using docker to hide other processes in the pod, and I'm not sure why that's a requirement. Is anyone currently using the "privileged sidecar" pattern you describe or is it hypothetical?

@dchen1107 @derekwaynecarr @yujuhong It just occurred to me that an interesting compromise here might be to only enable shared pid for

[2017-08-19 18:42] jingxu97 commented on #50944
@wenlxie, I think when node powered off, it is not supposed to be deleted from the cluster automatically. Only if you have some management tool such as GEK instance manager it might delete the node when it is powered off.
When node delete happens, for most of volume plugins such as gce pd, aws, cinder, the volume will be automatically detached. attach_detach controller can detect that and mark vol

[2017-08-19 18:44] mtaufen opened #50969 "Issue to trick the bot (approve no-issue not working on 47896)"
/approve no-issue isn't working on https://github.com/kubernetes/kubernetes/pull/47896, so I'm trying this instead.

/cc @Random-Liu @NickrenREN

[2017-08-19 19:34] LarsKumbier commented on #50772
[code]

When I try to add the storageclass via the attribute `storageClassName` instead, the binding fails and it stays in the state `FailedBinding: no persistent volumes available for this claim and no storage class is set`

[2017-08-19 20:07] humblec commented on #50772
/assign @humblec

[2017-08-19 20:10] humblec commented on #50772
`Volume has no class annotation` is a bug in controller which was fixed with https://github.com//kubernetes/kubernetes/pull/43982 . Can you please update to the fix version and retest ?

[2017-08-19 21:24] LarsKumbier commented on #50772
That did the trick, thanks @humblec
I was unaware that kubeadm needed to run again to upgrade a cluster - I was under the impression that upgrading the packages and restarting kubelet would also upgrade the cluster. When I run `kubectl get nodes -o wide` it even shows kubernetes being on version 1.7.3, but `kubectl version` showed 1.6.0 - should have noticed earlier.

[2017-08-19 21:24] #50772 closed

[2017-08-19 23:08] davidopp commented on #40403
@smarterclayton Has there been any more thinking or work on the stuff described in your first message in this issue?

BTW just for clarification, IIUC the feature requests here (that aren't just performance optimizations) are

(1) add label selectors to Role and ClusterRole, so that instead of only being able to select a single object (by specifying its name) or all objects, you can specify all ob

[2017-08-20 00:10] avirat28 commented on #29783
I have similar issue even after adding GOVC_GUEST_LOGIN.

root@photon-863c115f50dd [ ~/kubernetes ]# KUBERNETES_PROVIDER=vsphere cluster/kube-up.sh
... Starting cluster using provider: vsphere
... calling verify-prereqs
... calling kube-up
Identity added: /root/.ssh/id_rsa (/root/.ssh/id_rsa)
Starting master VM (this can take a minute)...
Powering on VirtualMachine:vm-148... OK
kubernetes-server-l

[2017-08-20 02:30] NickrenREN commented on #50969
thanks @mtaufen

[2017-08-20 03:04] wenlxie commented on #50944
@jingxu97  I think the node will be deleted from  the cluster for some cloud provider.
Here is the discussion about this: https://github.com/kubernetes/kubernetes/issues/46442.
Take cinder for example, if the node status is not 'active', then it will be consider as not exist in the cloud(https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack.go#L334 ),

[2017-08-20 03:04] resouer commented on #50689
@wenlxie Controller has enough information about Node status change .

[2017-08-20 03:08] wenlxie commented on #50689
@resouer  Thanks, will have a check and have a try.

[2017-08-20 06:06] jingxu97 commented on #50944
@wenlxie if node is deleted, volume is detached by cloud provider, not kubernetes. kubernetes at first is not aware of detach at all, but we added a check to verify volume is still detached or not, and will mark detach if verification returns false. So there is no 6 minutes delay.

However, there are a few volume plugins such as cinder, vshpere, that their verifyVolumesAreAttached function has a b

[2017-08-20 08:03] #46141 closed

[2017-08-20 08:14] FengyunPan opened #50974 "OpenStack cloud provider don't delete floatingip"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
After deleting loadbalancer service, openstack cloud provider don't delete floatingip.

**What you expected to happen**:
After deleting loadbalancer service, openstack cloud provider delete floatingip.

**Anything else we need to know?**:
If ServiceAnnotationLoadBalancerFloatingNetworkId is specified to 'x.x.x.x' and the '

[2017-08-20 08:15] FengyunPan commented on #50974
/sig openstack

[2017-08-20 09:28] gertcuykens commented on #27114
hmm what about the scenario where you want this as in if the startup configuration is dynamic waiting for a services that doesn't exist anymore. Then you want to restart the configuration step again to pick up the new changes else it will never boot up

[2017-08-20 10:19] wenlxie commented on #50944
@jingxu97 Thanks for your kindly explanation.
I just realized that we not enable  `reconciliationSync`, so  it will not do what you said when node is deleted from the cloud.
However, there is another question that  if the node is deleted from the cluster but the node still exist in the cloud,  so the volumes will be consider as mounted,  then when  do detach, it will wait for   6 minutes ?

[2017-08-20 11:00] kargakis commented on #50689
Dupe of https://github.com/kubernetes/kubernetes/issues/36601

[2017-08-20 11:00] #50689 closed

[2017-08-20 11:10] rhatdan commented on #48937
@verb Hypothetical, but I am pushing it for a solution for problems I hear from users fairly frequently, where then need big privileges at start and stop of the pod, but not for the time is is available to the network.

[2017-08-20 11:58] k82cn commented on #50723
I'd like to see what happen after https://github.com/kubernetes/kubernetes/issues/50594 merged.

[2017-08-20 12:10] ash2k opened #50975 "Bazel fails to build a project that imports apimachinery 1.7"
**What happened**:
I'm trying to use Bazel to build a project that depends on client-go 4.0 (k8s 1.7) which transitively depends on apimachinery of a corresponding version. This is what I'm getting:

[code]
Offending rule is `go_genrule` (was introduced in #38990): https://github.com/kubernetes/apimachinery/blob/abe34e4f5b4413c282a83011892cbeea5b32223b/pkg/util/sets/BUILD#L25 (version that I use).

[2017-08-20 12:25] simonklb opened #50977 "Timeouts when draining a node while using external-traffic: OnlyLocal annotation on loadbalancer"
/kind bug

**What happened**:

While trying to achieve zero downtime the current practice seem to be adding a preStop sleep hook (see https://github.com/kubernetes/ingress/issues/322 & https://github.com/kubernetes/kubernetes/issues/43576) to prevent pods being terminated before their endpoints have been removed. This works well except for when it's combined with a loadbalancer with the `service.b

[2017-08-20 12:28] simonklb commented on #50977
/sig network

[2017-08-20 12:41] jianzhangbjz commented on #50962
/area/docker

[2017-08-20 13:09] resouer commented on #36601
@kargakis Thanks for redirect. Would like to continue discussion here. Covering my use case (run-once job on every node) by CronJob seems make it more complicated.

1. How CronJob API  fits to the feature of "spreading to all Nodes"? Let's say, we can add a "every node" as we discussed.
2. But the Job daemon (run-once job) has no requirement for "Cron", ` schedule: 0/1 * * * ?` will not make sense

[2017-08-20 13:45] jrnt30 commented on #27114
In that case you could have your readiness probe fail in the first place
and just be polling on that external service being discoverable I think.

On Sun, Aug 20, 2017 at 4:29 AM Gert Cuykens <notifications@github.com>
wrote:

[2017-08-20 14:09] jianzhangbjz commented on #50962
@JeanMertz No, the error was `Container Terminated and Kubelet is backing off the restart`. I think the container terminated after sleep 60s, but the time of restarting is more than 60s. Because the Kubelet restart the container with an exponential back-off delay (10s, 20s, 40s …). Details as [Restart policy](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#restart-policy) .

[2017-08-20 14:20] Krymonota commented on #49639
I, too, would love to see this feature being implemented.

[2017-08-20 15:00] chen-anders commented on #47990
I saw the fix for this issue (#47991) has been merged. Any chances of the fix being made back into 1.6/1.7 releases?

[2017-08-20 15:27] yan234280533 opened #50979 "Can it add an common printer to print version message for debugging in PrintAndExitIfRequested function"
We find that multiple modules add an message to print the verson for debugging.

Such as:
kubernetes\cmd\cloud-controller-manager\app\controllermanager.go:109:
glog.Infof("Version: %+v", version.Get())

But if every models add an print version message code, it looks like not elegant. Can it add an common print in PrintAndExitIfRequested function, as a lot of models had called this function to prin

[2017-08-20 15:29] thedrow commented on #50403
You can proxy the API server with something that can GZip/Brotli the response like nginx.
Assuming the kubectl uses a good HTTP client that can decompress GZip (which I assume it does) it will help as a workaround in the meantime.
Worth testing imo

[2017-08-20 16:22] davidopp commented on #50767
In practice I think yes. No admin is going to let a node run a one-year-old version of k8s after the rest of the cluster has been upgraded, just because it would violate a PDB. Of course k8s should not enforce a specific policy, I'm just saying that systems built on top will probably force-delete at some point. This is what GKE does (see paragraph beginning "Container Engine imposes" [here](https:

[2017-08-20 17:49] shashidharatd opened #50981 "kubelet panic: err from UnsecuredDependencies not checked"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Testing bringing up k8s cluster using kubeadm from latest k8s code from master branch.
kubelet is not coming up and below is the errors from syslog:
[code]
upon looking at the code from where the error is happening, it is evident that the err checking is missing.
https://github.com/kubernetes/kubernetes/blob/master/cmd/kub

[2017-08-20 18:02] luxas commented on #50981
@kubernetes/sig-node-bugs PTAL

[2017-08-20 18:45] bw2 commented on #42844
I'm still seeing this issue with 'beta' notation:
[code]

When I deploy it, the pod fails to provision the disk:
[code]

[2017-08-20 19:09] bw2 commented on #42844
strange.  "standard" storage is now not working also.

[2017-08-20 19:22] bw2 opened #50983 "Unable to provision SSD using volumeClaimTemplates volume.beta.kubernetes.io/storage-class: ssd"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

StatefulSet unable to provision persistant SSD disk:

[code]
The pod stays pending indefinitely, and 'describe pods' shows `SchedulerPredicates failed due to PersistentVolumeClaim is not bound`
[code]

The StatefulSet config I'm deploying is:
[code]

**What you expected to happen**:

new disk to be created

**How to repr

[2017-08-20 19:42] BaluDontu commented on #50944
@jingxu97 : Hi Jing, in my case when the node is powered off, the node will deleted from the kubernetes cluster and not the vCenter. In vCenter the node still exists.
Now, even though the node is powered off and still deleted by the node controller in kubernetes cluster, it is not issuing a detach call immediately. I would have to wait for 6 minutes before it does force detach. Until this moment,

[2017-08-20 20:38] crassirostris commented on #50076
@ericchiang OK, I see, thanks. I was thinking more about the kube-aggregator case and though that some calls in the federated server are synchronous

[2017-08-20 20:38] jhorwit2 opened #50985 "[CCM] Cloud node controller will not remove nodes that no longer exists for cloud providers that require ProviderID"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

@wlan0 mentioned [here](https://github.com/kubernetes/kubernetes/pull/50730#issuecomment-323485938) that:

Currently, [`MonitorNode()`](https://github.com/kubernetes/kubernetes/blob/02b520f0a40be2056d91fc0661c2b4fdb2694c30/pkg/controller/cloud/nodecontroller.go#L240) in the node controller only checks with the CCM if a n

[2017-08-20 20:40] jhorwit2 commented on #50985
/sig cluster-lifecycle

[2017-08-20 21:54] braedon commented on #28969
Hi @chrislovecnm, we've having problems running Cassandra in stateful sets due to this - while we're waiting for a solution, could you share your workaround? Thanks!

[2017-08-20 22:03] andrewsykim opened #50986 "Remove --cloud-provider=auto-detect"
/kind feature

**What happened**:
Continuing the discussion from https://github.com/kubernetes/kubernetes/pull/50730, we should deprecate (or remove since its alpha) the option to set `--cloud-provider=auto-detect`. See comment https://github.com/kubernetes/kubernetes/pull/50730#issuecomment-323531048 and https://github.com/kubernetes/kubernetes/pull/50730#issuecomment-323531248 for more details.

[2017-08-20 22:03] andrewsykim commented on #50986
/sig cluster-lifecycle

[2017-08-20 22:03] andrewsykim commented on #50986
/area cloudprovider

[2017-08-20 22:19] jhorwit2 commented on #50985
/area cloudprovider

[2017-08-21 00:12] FengyunPan commented on #50985
Exists(nodeName types.NodeName) (bool, error)
    ExistsByProviderID(providerID string) (bool, error)

@jhorwit2 I agree, Currently VSphere calls Exists() to check whether node exists. But other cloud providers call ExternalID(nodeName) which is deprecated.

[2017-08-21 00:18] guangxuli commented on #36601
/cc

[2017-08-21 01:08] bw2 commented on #50983
I'm not sure why this is the case,  but the only way I can get SSD provisioning to work is by 1st creating a StorageClass:

[code]
then manually creating a single SSD disk:
[code]
and creating a PersistentVolume for it:
[code]
before deploying the StatefulSet.

Then, the 1st StatefulSet replica pod attaches to the manually-created disk, and the other 5 replicas automatically provision new SSDs:

!

[2017-08-21 01:24] tcharding commented on #50292
@zjj2wry I don't completely understand your question. This is not a bug in program behavior it is a bug in documentation output.

[2017-08-21 02:19] davidopp commented on #25321
/cc @kubernetes-sig-apps-feature-requests

[2017-08-21 02:33] zhangxiaoyu-zidif commented on #50951
@nikhita  OK, no problem~:)

[2017-08-21 02:34] zhangxiaoyu-zidif commented on #50952
Thanks. Done.

[2017-08-21 02:39] zjj2wry commented on #50292
@tcharding got!
[code]
this looks markdown apply ```_``` syntax. maybe we should not support ```_``` grammar for markdown.  i will create a PR to fix this, thank you very much : )

[2017-08-21 03:10] hzxuzhonghu opened #50994 "Should KubeClient httpClient set default timeout?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
if kube-apiserver does not have liveness probe, when send SIGSTOP signal to kube-apiserver process to simulate process does not work anymore.  And all components (kube-contoller-manager, kube-proxy, kubelet, etc.)in cluster do not sense the connections with apiserever do not work anymore.
**What you expected to happen

[2017-08-21 03:14] FengyunPan commented on #48690
/sig openstack
Adding for visibility only

[2017-08-21 03:22] hchenxa commented on #50820
Thanks @crassirostris @wongma7, it's yes that I am not using salt properly, and it the rescheduler.log was created by salt, the container can be started successful.

and as rescheduler support logrotate in fix https://github.com/kubernetes/contrib/commit/07514af5130851992cedff5b60a4aeb64970ab88 and included in rescheduler:v0.3.1 so I prefer to enable logrotate in this issue and also the have PR ht

[2017-08-21 03:25] hzxuzhonghu commented on #50994
/area/reliability

[2017-08-21 03:36] colindev commented on #12337
i found the problem
ref: https://ben.straub.cc/2015/08/19/kubernetes-aws-vpc-peering/
i need set an iptable rule allow 10.5.0.0/16 go throw eth0

[2017-08-21 03:40] ash2k commented on #50975
[code]
rules_go: 0.5.3

[2017-08-21 03:56] tcharding commented on #50292
There is an option in the current upstream version to not render `_` when within a string. I think the path forward is to verify that the upstream version functions correctly and doesn't break anything then update `vendor/`

[2017-08-21 04:05] AnthonyWC commented on #13776
@fncmedia Did you check if tar is installed in the container?

[2017-08-21 04:19] hzxuzhonghu commented on #50994
/area reliability

[2017-08-21 04:43] NickrenREN opened #50999 "pull-kubernetes-kubemark-e2e-gce check always failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind flake

**What happened**:
check failed

**What you expected to happen**:
check passed

**Anything else we need to know?**:
check failed in many PRs
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/50005/pull-kubernetes-kubemark-e2e-gce/46742/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/47896/p

[2017-08-21 04:44] NickrenREN commented on #50999
/sig testing

[2017-08-21 04:54] wojtek-t commented on #50916
[code]

This seems to show that our retry logic is broken.

[2017-08-21 05:05] ash2k commented on #50975
Bazel also couldn't find `@io_kubernetes_build` (but at least this is fixable):
[code]

[2017-08-21 05:09] davidopp commented on #50767
Sorry, I just realized you were asking a technical question, not a philosophical one. :-) My answer to the philosophical question stands, but the answer to the technical question is that yes, a client can bypass PDB by just doing a regular DELETE rather than using the evict subresource.

[2017-08-21 05:47] qiujian16 opened #51000 "Controller manager fails to acquire lock in HA environment"
/kind bug

**What happened**:
We are running an HA environment with 3 nodes (3 apiserver + 3 controller manager + 3 scheduler). We attach the Virtual  IP on one of the nodes using ucarp. After restart node with vip several times. All the controllers in the 3 nodes cannot get the lock and perform as the leader. All controller shows the same log as below

[code]

**What you expected to happen**:
One

[2017-08-21 06:12] JeanMertz commented on #14545
FYI: this is currently all possible, we've got an external VPN, configured to allow us to access internal GKE pod and service IPs (and also use the internal GKE DNS over VPN).

There is one thing that isn't automated yet, and we had to write our own tool:

Routes on GCP only allow you to route to a specific IP or instance/node (or internet gateway or VPN tunnel), instead of to a group of instances

[2017-08-21 06:43] hchenxa opened #51002 "controller manager existed in HA topology due to list watch timeout"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have 3 nodes and after one of master node failed, find others controller manager existed due to below error:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- C

[2017-08-21 06:53] zjj2wry commented on #50292
@tcharding not notice i updated the vendor file. after investigation，```_``` and ```*``` will
trigger emphasis marker. can you create PR disable ```_```. and update kubectl code ```_``` to ```*``` if exists.

[2017-08-21 06:56] hchenxa commented on #51000
/sig area/controller-manager

[2017-08-21 06:58] hchenxa commented on #51002
/area controller-manager

[2017-08-21 07:00] zhouhaibing089 opened #51003 "could not build from k8s pods"
The kube-build container starts a rsync daemon which accepts connections from the same [docker bridge](https://github.com/kubernetes/kubernetes/blob/master/build/build-image/rsyncd.sh#L36), however, normally, pods do not use the same docker bridge(depends on the setup though). We should pass the pod ip into `host allow` list along with the docker bridge subnet, see the error message below:

[code]

[2017-08-21 07:08] zhouhaibing089 commented on #51003
/sig testing

not sure which sig should be..

[2017-08-21 07:28] VinceMD commented on #34978
Anyone has an opinion on this approach?
I altered 2 settings in run.sh:
`CASSANDRA_LISTEN_ADDRESS="${HOSTNAME}.${CASSANDRA_CLUSTER_NAME}.${POD_NAMESPACE}.svc.cluster.local"
CASSANDRA_BROADCAST_ADDRESS="${HOSTNAME}.${CASSANDRA_CLUSTER_NAME}.${POD_NAMESPACE}.svc.cluster.local"`

[2017-08-21 07:47] dixudx commented on #48010
/cc

[2017-08-21 07:49] hzxuzhonghu commented on #50994
In this case, a more reasonable way is to close the connection and try to create another connection.

[2017-08-21 07:54] RiaanLab commented on #44821
@WillBeebe

Please note:

is invalid: spec.accessModes: Unsupported value: "ReadWrite": supported values: ReadOnlyMany, ReadWriteMany, ReadWriteOnce

[2017-08-21 08:03] #46183 closed

[2017-08-21 08:29] qiujian16 commented on #51000
/area controller-manager

[2017-08-21 08:47] crassirostris commented on #50820
@hchenxa Rescheduler has to write to stderr, that's the common patter for system containers. What you can do instead is add rescheduler in the [logrotate salt config](https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/logrotate/init.sls#L5) or switch to GCP, where this problem [is solved](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure-helper.

[2017-08-21 08:52] wawastein commented on #48968
@jingxu97 I'll make sure to look at it if I notice it again

[2017-08-21 09:12] shyamjvs opened #51007 "[SQ-blocking] All kubemark jobs started failing due to kubelet changes"
Ref: https://k8s-testgrid.appspot.com/sig-scalability

@mtaufen - Your PR https://k8s-testgrid.appspot.com/sig-scalability was the only one in the diff, and it seems like it broke hollow-kubelet. I'll try to take a further look into it, but for now I think we should revert it as it is blocking the SQ.

@kubernetes/sig-scalability-misc @wojtek-t

[2017-08-21 09:35] hchenxa commented on #51000
seems the AcquireTime was too old than RenewTime in leaderElectionRecord:
[code]

[2017-08-21 09:36] dunjut opened #51009 "Confused code and comment in serviceController"
According to code snippet https://github.com/kubernetes/kubernetes/blob/e633a1604f00908a1dcc898b206c3404db4d82ed/pkg/controller/service/service_controller.go#L263-L290

The `createLoadBalancerIfNeeded` handles the **ServiceUpdate** events, it first check out whether or not current service need a LoadBalancer, and if not, it ensures corresponding LoadBalacner deleted.

However, another branch of th

[2017-08-21 09:40] dearboll opened #51010 "How to change PV's permission?"
i want to run a non-root user in my container and using the PersistentVolume via Ceph RBD. What troubles me is the PV's permission. I have tried to change the PV's GID but it still does not work.
The pod.yaml is as below:
volumeMounts:
        - name: ceph-vol1
          mountPath: /home/work/clouddisk
          readOnly: false
Although I have chown /home/work/clouddisk to my non-root user in Dock

[2017-08-21 09:40] dunjut commented on #51009
/sig network

[2017-08-21 09:41] dunjut commented on #51009
/area cloudprovider

[2017-08-21 09:41] yastij commented on #51009
Please see #50299

[2017-08-21 09:45] dearboll commented on #51010
/sig storage

[2017-08-21 09:48] dunjut commented on #51009
@yastij I just follow #50299 and I think these are two different issues because

1) #50299 focus on the potential logical error in code (should check existence before calling create..) which I don't agree. I think the code logic is fine. But,

2) This issue focus on the code/comment expression, which means the code logic is okay but the comment and function name is NOT appropriate.

[2017-08-21 10:09] yastij commented on #51009
The only comment I think should be changed is L283.

[2017-08-21 10:14] mikebryant opened #51012 "kube-controller-manager stuck on updating node status"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**:
During controller-manager startup it spends ~13 minutes trying to updating the node status (On a 5 node cluster)

During this time it's not processing DaemonSets etc.

**What you expected to happen**:
To complete this phase quickly

**How to reproduce it (as minimally and precisely as possible)**:
Unknown

This

[2017-08-21 10:15] mikebryant commented on #51012
/area controller-manager

[2017-08-21 10:17] mikebryant commented on #51012
@kubernetes/sig-node-bugs

[2017-08-21 10:29] hchenxa opened #51013 "Controller manager NPE because some controllers aren't ready to receive shared informer events immediately after adding handlers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When I trying on kubernetes master HA, when the master node failured, the null point exceptions throws on candidate hosts and lead the controller manager crashed.

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environmen

[2017-08-21 10:29] hchenxa commented on #51013
/area controller-manager

[2017-08-21 10:55] kachkaev opened #51014 "Weave-Net: client_address is 10.* despite externalTrafficPolicy: Local"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

(or a missing note / caveat in https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#preserving-the-client-source-ip)

**What happened**:

I noticed that my ingress controller (traefik) was providing wrong values for the `X-Forwarded-For` HTTP header. It turned out that even when traefik was bypassed, I

[2017-08-21 11:05] tcharding opened #51015 "kubectl help CMD, Options too cluttered"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Output for the command `kubectl help CMD` contains n section `Options:`. This section of the output is overly cluttered. It is difficult to distinguish the flags from the description. Option descriptions are quite verbose, this is good except the information is difficult to parse.

**What you expected to happen**:

I

[2017-08-21 11:09] tcharding commented on #51015
sig /cli
kind /documentation

[2017-08-21 11:16] cpointner opened #51017 "container statuses contain wrong/misleading image tag"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When multiple tags of an image share the same SHA256 digest the value status.containerStatuses[].image might return the wrong image tag. Unfortunately `docker inspect` doesn't include the tag that was used to create the container either so this might actually be a bug in docker?

**What you expected to happen**:

status.

[2017-08-21 11:19] cpointner commented on #51017
/sig node

[2017-08-21 11:26] dunjut commented on #51009
@yastij Yes, I mean L283 too, however, I think the function name s.`createLoadBalancer` should also be changed.

[2017-08-21 11:35] yastij commented on #51009
@dunjut -  it may be called `createOrUpdateLoadBalancer`, i agree that if you do not have prior knowledge of the servicecontroller it may be confusing. can you open a PR ?

[2017-08-21 11:38] killy001 opened #51018 "What's the kubernetes hard eviction strategry?"
#### Hard Eviction Strategry

When I start the kubelet service, I set hard eviction strategry like this:
[code]
When the node imagefs size < 75GI, I think it will evict pods in the node.  In the node, there are two pods, one pod is running, the other is exited. The containers in the two pods like this:

[code]
First, it will run the method ``reclaimNodeLevelResources`` to recycle node resources. I

[2017-08-21 12:12] zjj2wry commented on #48409
@shiywang this is related with #50292. maybe is upstream markdown lib cause. i updated vendor fix this - -, but maybe this is not good fix.

[2017-08-21 12:28] verb commented on #48937
@rhatdan ok, thanks. ftr, I think we should continue to support this pattern as well, and I don't think a shared PID namespace prohibits it. I will bring up this issue at Tuesday's sig node meetup if you'd like to join us.

@w17chm4n @snelis @skorski Does the config I mentioned in https://github.com/kubernetes/kubernetes/issues/48937#issuecomment-321243669 fix the issue with systemd?

[2017-08-21 12:28] aga20 commented on #48866
Hello,

thank you @ijumps. Your explanation was a good start for me to debug my issue. In my case a systemd service start a kubelet container and our systemd service file was a little old and [this line](https://github.com/kubernetes/kubernetes-anywhere/blob/master/phase2/ignition/vanilla/kubelet.service#L19) was rw not shared in our case.
In addition I had to comment out the `MountFlags=slave` in

[2017-08-21 12:34] maxlaverse commented on #48358
I re-ran the tests on our installation and had no error with an even lower sleep time (1 sec) in the `nginx -t` loop.

[code]

Do you have any hint when you might release a new official image with the fix @aledbf ? And/Or a link to a document describing the life of an Ingress release ?

[2017-08-21 12:34] #48358 closed

[2017-08-21 12:39] shiywang commented on #48409
@zjj2wry feel free to submit a pr, I haven't dig this problem yet.

[2017-08-21 12:39] #48409 closed

[2017-08-21 12:41] shiywang commented on #48409
close this due to there's a better description one in https://github.com/kubernetes/kubernetes/issues/50292

[2017-08-21 12:45] dunjut commented on #51009
@yastij Takes me a lot of time for the first PR preparation...

Now I've opened the PR, please check it out.

[2017-08-21 12:52] shiywang opened #51023 "Fix hardcoded validResources, change to fetch from DiscoveryClient"
This problem is a TODO in [here](https://github.com/kubernetes/kubernetes/blob/b776df8a20444568614804791d24e64cc3fee0be/pkg/kubectl/cmd/cmd.go#L201), currently the [validResources](https://github.com/kubernetes/kubernetes/blob/b776df8a20444568614804791d24e64cc3fee0be/pkg/kubectl/cmd/cmd.go#L202) string used in our command help message, and some error messages, but it's hardcoded.

I'm not sure if

[2017-08-21 12:57] shiywang commented on #51023
@deads2k @sttts also if there's any other shortcut_mapper, discoveryClient releated issue you guys come up with, I can also fix that by the way : )

[2017-08-21 13:15] fvigotti commented on #31307
HI everyone, I'm keeping this issue monitored waiting for a resolution :)
Is this fixed ? does hostport with cni works ? with 1.7? 1.8? the kubernetes docs for 1.7 still contain link to this post that say that hostport doesn't work with CNI , but here I see some links to other issue tracking which seems to give positive feedback about resolution..
did someone have riddent/tested those and can shar

[2017-08-21 13:24] Miouge1 opened #51027 ""kubect logs --selector" ignoring "--tail=-1""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

`kubectl logs --selector='app=myapp' --tail=-1` returns 10 lines.

**What you expected to happen**:

`kubectl logs --selector='app=myapp' --tail=-1` should return all

**How to reproduce it (as minimally and precisely as possible)**:

Use a selector that would output more than 10 lines of logs and do:
`kubectl logs --sel

[2017-08-21 13:33] munnerz opened #51029 "informer-gen should not require an internal informer to be generated"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

`informer-gen` currently defaults `InternalClientSetPackage` to `k8s.io/kubernetes/pkg/client/clientset_generated/internalclientset` (https://github.com/kubernetes/kubernetes/blob/e472a758c77e686e0849587b2b4eba0807e1f312/staging/src/k8s.io/code-generator/cmd/informer-gen/main.go), and as such requires that an interna

[2017-08-21 13:40] ncdc commented on #51029
When I first wrote informer-gen, we didn't have shared informers in client-go, and it made sense to be able to generate all the informers (internal & external) in one pass. Now that client-go does have the informers, I think it makes sense to modify informer-gen so that a single invocation generates one set of informers (either internal or versioned).

[2017-08-21 13:40] ncdc commented on #51029
@kubernetes/sig-api-machinery-misc

[2017-08-21 13:42] ncdc commented on #51029
/sig api-machinery

[2017-08-21 13:45] munnerz commented on #51029
@ncdc do you know if the internal clientset requires 'special treatment'? Or can we potentially remove the distinction between the two types altogether?

[2017-08-21 13:54] ncdc commented on #51029
@munnerz there isn't anything special about it, no. The reason for having it as a flag was to be able to get the import statement right. You can't use the internal clientset with versioned APIs and vice versa.

[2017-08-21 14:03] resouer commented on #21657
@kargakis  One thing I am not sure is, `ContainerCreating` can also mean sth wrong on node, then keeping the Pod there will help user to debug the failure. Is this make sense to you?

[2017-08-21 14:10] aledbf commented on #48358
End of this week

There's no document describing the life of an Ingress release. We try to release a version every 3-5 weeks

[2017-08-21 14:20] adelton commented on #50999
I seem to be hitting this issue in https://github.com/kubernetes/kubernetes/pull/50596 as well.

[2017-08-21 14:30] julia-stripe commented on #50916
So far I don't know how to reproduce this. This started happening when we upgraded from 1.7.0 to 1.7.4 (604542533d82f4bcb6a90b92a1425c9c89b6c886 to 793658f2d7ca7f064d2bdf606519f9fe1229c381), and we also rebuilt our etcd cluster at the same time. I'm not sure whether it was caused by the upgrade or rebuilding our etcd cluster or neither but will report any new finds!

[2017-08-21 14:39] NickrenREN commented on #50999
Seem [this](https://github.com/kubernetes/kubernetes/pull/51008) can resolve it

[2017-08-21 15:26] #50969 closed

[2017-08-21 15:26] #43388 closed

[2017-08-21 15:32] maxlaverse commented on #48358
Thanks

[2017-08-21 15:40] jarrpa commented on #48937
@verb Copying from a comment @humblec made elsewhere:
[code]

[2017-08-21 15:50] Docker-Image-Templates commented on #43567
Hi everyone, I am trying to get up and running kubernetes cluster on Linux CentOs v7.3 | Docker 1.12.6 | kubeadm v1.7.3 following installing guide in https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/, but I still getting errors that were reported in previous versions of kubeadm/kubelet like: kubeadm stuck on waiting to control plane to become ready, etc. I can see from kubelet l

[2017-08-21 16:16] SEJeff commented on #30784
Just ran into this limitation this morning. From a UX standpoint, something like this seems sensible at a minimum:

[code]

What is the best approach to implement that functionality in RBAC enabled clusters?

[2017-08-21 16:33] mtaufen commented on #51007
I suspect the problem was that Kubemark was still using the old api scheme to manipulate the configuration. Do we gather logs from the hollow kubelet containers anywhere so I can confirm? @wojtek-t

[2017-08-21 16:33] cmluciano commented on #50977
@kubernetes/sig-network-bugs

[2017-08-21 16:49] cmluciano commented on #42926
@yguo0905 What was done to work around the issue of iptables rule drops as mentioned in https://github.com/kubernetes/kubernetes/issues/40182

[2017-08-21 17:26] ericchiang commented on #50797
This upgrade test is much healthier since the fix went in and those failures look related to overall test environment issues. Closing. Will open another issue if I identify anything specific about this test.

Thanks @krzyzacy !

[2017-08-21 17:43] wlan0 commented on #50986
/assign wlan0

[2017-08-21 17:44] wlan0 commented on #50986
cc @thockin @luxas  - Wanted to ask you if you had any thoughts for/against this issue?

[2017-08-21 17:48] wlan0 commented on #50985
@jhorwit2  Thanks for finding this bug and filing this issue :) I'll be happy to review it if you make a PR

[2017-08-21 17:49] wlan0 commented on #50985
/assign wlan0

[2017-08-21 17:49] wlan0 commented on #48690
/assign wlan0

[2017-08-21 17:49] svanharmelen commented on #50048
@cjwagner I'm also an outside collaborator as of just now...

[2017-08-21 17:52] jhorwit2 commented on #50985
@wlan0 i'll start work on the PR. 👍

[2017-08-21 17:57] luxas commented on #23225
cc @kubernetes/sig-auth-feature-requests

Should we do the same for kube-proxy as we do for kube-dns [1], i.e. bind the `kube-proxy` SA to the `system:node-proxier` ClusterRole by default? I think that would make sense, as that's not a depoyment-specific option really, instead a common requirement for everyone.

That is:
[code]

1: https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/au

[2017-08-21 18:01] caesarxuchao commented on #50793
Probably it's because they are gke tets, so there is no master log.

[2017-08-21 18:08] spxtr commented on #50975
cc @ixdy

[2017-08-21 18:08] enisoc commented on #47990
This sounds appropriate to me for a cherrypick. Feel free to send a PR.

[2017-08-21 18:09] #47192 closed

[2017-08-21 18:10] bboreham commented on #31307
@fvigotti the code exists to do it via CNI now. It has not "moved" per the title: if you don't use CNI then kubelet will still get Docker to do it.

As you can see from recent links to this issue, making the CNI solution well-documented, installed by default, easy, is still a work in progress.

[2017-08-21 18:30] Random-Liu commented on #24070
@ncdc @smarterclayton Do we still need to print all logs before attach?

It's a little bit tricky for cri-containerd, and I believe also for cri-o, because kubelet manages the log, you don't know how kubelet will rotate it.

/cc @mrunalp

[2017-08-21 18:37] BaluDontu commented on #50944
Since the node is powered off, the volume attached to powered off node can be attached to other powered on node successfully. But you cannot the same volume to 2 different powered on nodes. But the case here is kubernetes is preventing me from attaching the volume to other node. Here, vsphere supports multi-attach scenario.

[2017-08-21 18:41] lin99shen commented on #48437
Any updates on this issue? I've seen the same issue with 1.5.2.

[2017-08-21 18:41] phsiao opened #51040 "Node Authorization should support draining of the node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Before Node Authorization, we create specific RBAC to allow a node to drain itself (and others) via kubectl drain command.    This is useful for us because our background automation can then take a node out of service and perform maintenance on the node.

With Node Authorization enabled it does not appear we can do the same because

[2017-08-21 18:52] #49243 closed

[2017-08-21 19:15] saad-ali commented on #50944
@BaluDontu This is by design. If a node is not safely [cordoned and drained](https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node/) then it is up to the cluster to notice that something is not right and correct it. This involves:

1. The Kubernetes node controller noticing that the node is down.
2. The Kubernetes node controller draining (deleting pods) on the downed node.
3. The

[2017-08-21 19:17] #45998 closed

[2017-08-21 19:17] #46572 closed

[2017-08-21 19:19] MrHohn commented on #48437
@lin99shen Any chance to post more details? Is the endpoint ready? Logs from kube-proxy? `iptables-save` output?

[2017-08-21 19:37] kow3ns opened #51043 "StatefulSet controller sets immutable fields of v1.PodSpec"
Part of the cause of #48327 is that the StatefulSet controller attempts to set the v1.PodSpec .Hostname and v1.PodSpec.Subdomain fields. Though the alpha annotations corresponding to these fields were mutable, and the though the endpoints controller could create new endpoints based on the mutation of these fields, kubelet does not seem sensitive to their mutation, and mutation of the fields is not

[2017-08-21 19:46] BaluDontu commented on #50944
I am completely OK with the logic for detach. I agree that kubernetes is reacting safely to keep the system in consistent state. But my only problem is that it could go ahead with the attach of this volume on the new node where the pod is getting scheduled so that we have a minimal downtime for the application. I have tested the same scenario in the 1.6.5 release and see that kubernetes goes ahead

[2017-08-21 20:02] caesarxuchao commented on #50528
I will fix this after code freeze. Binding finalizers with GC is a bug. I'll happily review fixes if others want to try.

[2017-08-21 20:24] saad-ali commented on #50944
Ah, ok. Then we need to fix [`isMultiAttachForbidden(...)`](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/reconciler/reconciler.go#L139) to not be so aggressive.

I am ok with either of the following solutions:

1. Modify [`isMultiAttachForbidden(...)`](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/reconciler/recon

[2017-08-21 20:26] ncdc opened #51046 "Unable to use a fieldSelector with custom resources"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: got an error when trying to use a fieldSelector when watching a custom resource

**What you expected to happen**: no error

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a CRD and then a CR for it.
1. Try to watch with a fieldSelector, such as `metadata.name=b1`

[code]

**Anything else we n

[2017-08-21 20:31] nikhita commented on #51046
/area third-party-resource

[2017-08-21 20:40] pwittrock commented on #50466
/assign @caesarxuchao Are you a good person to assign this to, or is there someone better?

[2017-08-21 20:46] mml commented on #50886
@shenlanse Is this causing you any problems in production?

[2017-08-21 20:47] mml commented on #50922
/sig architecture

[2017-08-21 20:49] mml commented on #50957
/assign @mbohlool

[2017-08-21 20:52] mml commented on #51029
cc @enisoc
cc @caesarxuchao

[2017-08-21 20:54] mml commented on #51046
cc @enisoc

[2017-08-21 20:55] mml commented on #45974
/assign @jpbetz

[2017-08-21 20:56] mml commented on #45916
Please re-open if this flakes again.

[2017-08-21 20:56] #45916 closed

[2017-08-21 20:56] mml commented on #45811
/assign

[2017-08-21 20:58] enisoc commented on #51046
This is a more general form of #49424. I don't have immediate plans to work on either of them, so you're welcome to take it.

[2017-08-21 21:02] mml commented on #45754
@whitlockjc is this still happening?

[2017-08-21 21:03] mml commented on #45568
ping @caesarxuchao

[2017-08-21 21:04] mml commented on #45542
/assign @jpbetz

[2017-08-21 21:04] whitlockjc commented on #45754
I've not tested.  I can try this again.

[2017-08-21 21:05] ncdc commented on #51046
@enisoc sounds good. Do you want me to close this as a dupe?

[2017-08-21 21:06] lavalamp commented on #45786
Thoughts:

* /healthz is liveness - i.e., kubelet please don't kill this process. You're looking for a "ready" concept. We don't have that for apiserver but probably need it. (alternatively, if we co-opt /healthz to be readiness, then we need a liveness endpoint.)
* You need retry logic in your app anyway-- /healthz doesn't give you a lock, the server could go unhealthy after you check it
* also i

[2017-08-21 21:06] ncdc commented on #24070
@Random-Liu I think there are a few different use cases at play here:

1) `kubectl run --attach`
  1a) With TTY
  1b) No TTY

2) `kubectl attach`
  2a) With TTY
  2b) No TTY

I would argue that the only place we absolutely must solve the race mentioned above is 1b - `kubectl run --attach --tty=false`. While the other cases would be nice, I don't think they're as critical.

The reason I think 1b is

[2017-08-21 21:08] mml commented on #45506
/assign @jpbetz

[2017-08-21 21:08] mml commented on #45486
/assign @cheftako

[2017-08-21 21:10] mml commented on #45457
@justinsb is this still relevant?

[2017-08-21 21:10] mml commented on #45456
/assign @cheftako

[2017-08-21 21:11] mml commented on #45539
Related: https://docs.google.com/document/d/1wuoSqHkeT51mQQ7dIFhUKrdi3-1wbKrNWeIL4cKb9zU/edit

[2017-08-21 21:12] mml commented on #45420
/assign @mbohlool

@quasiben Can you please re-open this issue in the python-client repo?  Thanks.

[2017-08-21 21:13] mml commented on #45228
cc @jpbetz

[2017-08-21 21:15] enisoc commented on #51046
I think there's a useful distinction between the two issues. If we support only `metadata.name`, that would be enough to close #49424, but this one tracks the idea of supporting arbitrary field selectors.

By the way, if I recall correctly, when I applied the hack mentioned in the other thread to skip the `ConvertFieldLabel` step for CRDs, I think I saw that actually arbitrary field selectors work

[2017-08-21 21:20] lin99shen commented on #48437
The endpoint is ready. The endpoint is running on the same node as of the master too.

I'm basically trying out the source IP preservation beta feature per https://kubernetes.io/docs/tutorials/services/source-ip/.

Without the OnlyLocal annotation in the service spec, curl goes through, but the source IP is MASQed. Once I add the annotation to the service spec, curl will timeout and tcpdump shows

[2017-08-21 21:26] ericchiang commented on #50945
Seeing this failure on the e2e release-master-blocking

https://k8s-testgrid.appspot.com/release-master-blocking#gke

Example failure

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke/13413#sig-api-machinery-aggregator-should-be-able-to-support-the-17-sample-api-server-using-the-current-aggregator

Looks like an RBAC issue

cc @kubernetes/sig-api-machinery-bug

[2017-08-21 21:30] #50952 closed

[2017-08-21 21:30] #50870 closed

[2017-08-21 21:30] pwittrock opened #51048 "Failing kubectl skew test: Kubectl alpha client [k8s.io] Kubectl run ScheduledJob should create a ScheduledJob"
**TL;DR:** We should disable this test in the 1.7 branch since it is expected to fail against a 1.8 cluster

---

The following test is failing when running a 1.7 client against a 1.8 cluster on gce:

Failure message:

It looks like this maybe related to this [PR](https://github.com/kubernetes/kubernetes/pull/49930) to remove the ScheduledJob alpha API.

[Test grid](https://k8s-testgrid.appspot.co

[2017-08-21 21:30] pwittrock commented on #51048
/priority critical-urgent

[2017-08-21 21:31] pwittrock commented on #51048
/kind e2e-test-failure

[2017-08-21 21:46] saad-ali commented on #50150
@jsafrane is working on containerizing the mount dependencies for in-tree volume plugins, which should eliminate issues like this.

[2017-08-21 21:59] liyinan926 opened #51049 "Move core controllers to use apps/v1beta2 APIs"
This is an issue to keep track of work on moving the four core controllers (`DaemonSet`, `Deployment`, `ReplicaSet`, and `StatefulSet`) to use `apps/v1beta2` APIs.

- [ ] Move `DaemonSet` controller to use `apps/v1beta2` APIs. (@janetkuo, #51157)
- [ ] Move `Deployment` controller to use `apps/v1beta2` APIs. (@crimsonfaith91 #51236)
- [ ] Move `ReplicaSet` controller to use `apps/v1beta2` APIs. (@

[2017-08-21 22:03] MrHohn commented on #48437
@lin99shen So this seems to be an issue with onlyLocal endpoints on master? Or it happens on node as well?

Took a look at the code, the real thing kube-proxy checks for local endpoint is barely (https://github.com/kubernetes/kubernetes/blob/v1.5.2/pkg/proxy/iptables/proxier.go#L591-L600):
[code]

Just in case, could you check if the endpoint on master has `nodeName` set?
[code]

[2017-08-21 22:17] yguo0905 commented on #42926
Yes, I think this version will be supported by 1.8.

No new workaround is there. We use cos-m60 image on GCE for docker 1.13 validation. The cos images are already configured to drop those packages by default, so we have additional [iptables rules](https://github.com/kubernetes/kubernetes/blob/5c03d3759d7a9065b0b67b1cfb4bc8ee095cd639/cluster/gce/gci/configure-helper.sh#L84-L99) to work around the

[2017-08-21 22:19] tianon commented on #42926
I feel like it's probably important to clarify here that the EOL dates on that page are for the _commercially supported_ editions of the engine, not the open source editions.  In the open source world, 1.12 is long-past EOL, as is 1.13, and even 17.03 now that 17.06 is out.

[2017-08-21 22:20] lin99shen commented on #48437
kubectl get ep nodeport -o yaml | grep nodeName
    nodeName: 192.168.125.85

the nodeName is just the ip address. guess I'll need to give it a name?

[2017-08-21 22:33] MrHohn commented on #48437
Humm..This looks weird, I'm expecting something like `nodeName: e2e-test-mrhohn-minion-group-7vch`.

For `proxiser.hostname`, I think it comes from `os.Hostname()` (
https://github.com/kubernetes/kubernetes/blob/v1.5.2/pkg/util/node/node.go#L41-L51), so it wouldn't match the ip adress in this case.

Endpoint's nodeName comes from podSpec (https://github.com/kubernetes/kubernetes/blob/v1.5.2/pkg/co

[2017-08-21 22:38] jingxu97 commented on #48968
@dfcowell Could you please provide more details about your failed cases? Are you doing the update of pods or your nodes are migrated (i.e., nodes are deleted and recreated?) Also the kubernetes version you are using? Thanks!

[2017-08-21 23:21] ash2k commented on #50975
/area client-libraries

[2017-08-21 23:22] bgrant0607 commented on #831
@dims Example use case: #16010. And FaaS, and app/dependencies/runtime separation more generally. And app data too large for ConfigMap.

[2017-08-21 23:23] ixdy commented on #50975
`@io_kubernetes_build` is provided by https://github.com/kubernetes/repo-infra (and is possibly poorly named). Bazel doesn't do recursive imports right now, so you'd need to explicitly add it to your `WORKSPACE`, though we might be able to write a rule that does that or something equivalent.

I'm not really familiar with how the apimachinery staging stuff works, so I'm not entirely sure what needs

[2017-08-21 23:29] ixdy commented on #50975
nothing depends on the `go_genrule` right now because all of the generated files are also checked in. we'd like to eventually remove those generated files from the repo, which would make the genrule necessary, but currently the genrule only works in the main kubernetes repo, since otherwise `hack/boilerplate` doesn't exist.

[2017-08-21 23:41] Random-Liu commented on #24070
@ncdc Thanks for your explanation.
So the most important thing is that, we want `kubectl run --attach` to behave similar with `docker run --attach`, but we could not guarantee that because of the known race.

If so, I feel like let attach print out recent logs is just a work around, the real problem is that you could not attach stream as soon as you start a container with current Kubernetes design

[2017-08-21 23:52] bgrant0607 commented on #24343
Related: Development in other branches/forks:
https://github.com/kubernetes/community/issues/566

[2017-08-22 00:02] yguo0905 commented on #42926
## Docker 1.13.1 micro-benchmark result

### Benchmark Tool

https://github.com/kubernetes/contrib/tree/master/docker-micro-benchmark

### Benchmark Environment

- Cloud Provider: GCE
- VM Instance: n1-standard-2 (2 vCPUs, 7.5 GB memory)
- OS: Debian GNU/Linux 8.9 (jessie)
- Docker version:
[code]

### 1. Benchmark list/inspect with varying number of containers

`benchmark.sh -c`

- **Latency**

[2017-08-22 00:12] bgrant0607 commented on #49213
Ref #24343

[2017-08-22 00:16] bgrant0607 commented on #7311
We are probably also going to want to split generic API functionality from Kubernetes-specific API resource types, as we try to make the API machinery more generic and reusable.

[2017-08-22 00:28] bgrant0607 commented on #24343
Some updates:

* API machinery and API types are now accessible outside the kubernetes/kubernetes repo, such as to kubernetes-incubator repos and to clients. Earlier discussion was in #41629. Discussion is now trending towards making client and server SDKs for aggregated APIs and CRDs, and even non-aggregated APIs. This should unblock efforts in separate repos, such as service catalog, and should

[2017-08-22 00:32] k82cn commented on #50884
reverted, let see what happened next :).

[2017-08-22 00:38] boris-42 commented on #50475
This is how OpenStack start dying, welcome to hell...

[2017-08-22 00:38] yguo0905 commented on #42926
### Summary

We use cos-m60 OS image for Docker 1.13.1 validation.

### Functionality

The following tests are running fine.

- Node e2e tests: [default](https://k8s-testgrid.appspot.com/cos-image-validation#e2enode-cosstable1-k8sdev-default) and [serial](https://k8s-testgrid.appspot.com/cos-image-validation#e2enode-cosstable1-k8sdev-serial).
_The "[k8s.io] Dockershim [Serial] [Disruptive] [Featur

[2017-08-22 00:41] madhanrm commented on #49646
/sig windows

[2017-08-22 00:53] lin99shen commented on #48437
nodeName should be auto-filled, right? Not specified in podSpec by the user.

[2017-08-22 00:55] shenlanse commented on #50886
@mml  Not cause bad effects. But I think error log shouldn't exist in normal state.

[2017-08-22 01:01] ash2k commented on #50975
I've tried adding `@io_kubernetes_build` to my `WORKSPACE` file. It gets me further (it can resolve the rule) but the rule, as you can see, references a missing thing. So adding `@io_kubernetes_build` doesn't resolve this issue.

`staging/src/k8s.io/apimachinery` is published into a separate repo for external consumption https://github.com/kubernetes/apimachinery and in fact kubernetes consumes it

[2017-08-22 01:11] #50936 closed

[2017-08-22 01:11] #50981 closed

[2017-08-22 01:34] bgrant0607 commented on #45539
This is a duplicate of #20978.

[2017-08-22 01:42] absoludity opened #51068 "Namespace arg ignored when using `kubectl create secret --dry-run`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When creating a secret using `--namespace` and `--dry-run`, the namespace is not included in the secret metadata.

**What you expected to happen**:
The metadata includes the specified namespace.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:

[2017-08-22 01:44] zjj2wry commented on #51068
/assign

[2017-08-22 01:50] bgrant0607 commented on #50475
@monopole Thanks for working through these details.

Why shouldn't k8s.io/kubernetes/pkg/client/retry move to client-go or another repo in kubernetes-client?

I'd like other functionality that's applicable to arbitrary K8s-compatible resources to go into kubernetes-client repos/libraries, also. (Ref #7311)

The functionality corresponding to specific Kubernetes APIs, such as k8s.io/kubernetes/pkg/

[2017-08-22 02:09] bgrant0607 commented on #48985
cc @kubernetes/sig-release-feature-requests

[2017-08-22 02:33] zjj2wry commented on #51048
@pwittrock this is kubectl special a not exist generator, the master e2e test has updated to
cronjob/v2alpha1. need update 1.7 cli e2e from scheduledjob/v2alpha1 to cronjob/v2alpha1?

[2017-08-22 03:04] m1093782566 opened #51073 "[proxy]Move `LocalPort` related functions and structure from proxier.go to util"
See, https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go#L1694

I think `RevertPorts()` is independent from iptables, and would be used by other proxiers which needs to hold/close local port.

Perhaps we can move `RevertPorts()` from proxier.go to pkg/proxy/util package so that it can be consumed among different proxiers.  And, reduce codes in proxier.go

/sig networ

[2017-08-22 03:30] thockin opened #51075 "update-bazel ignores vendor/BUILD"
At this point I don't know if it is a valid file or not?

[code]

@ixdy @mikedanese @spxtr

[2017-08-22 03:45] zjj2wry commented on #51068
@deads2k don't  RunCreateSubcommand() is need support namespace for try-run? if yes, maybe we should check namespaces is exist in api-server and write namespace to object.

[2017-08-22 03:59] fisherxu opened #51076 "Disable the kube-apiserver insecure port, and lead to health-check can't work"
In my environment, because the insecure port 8080 of kube-apiserver **expose all the API**. For security reasons, the port is Disabled. But lead to **health-check and pprof  can't work**. Can we consider **opening a separate port**  like other component only for health-check and pprof， metrics？

/sig cluster-lifecycle
/cc @caesarxuchao @deads2k @lavalamp @liggitt @mml

[2017-08-22 04:16] fisherxu commented on #51076
/cc @nikhiljindal @smarterclayton @sttts

[2017-08-22 04:24] zjj2wry commented on #51027
/assign

[2017-08-22 04:28] zjj2wry commented on #51068
/sig cli

[2017-08-22 04:56] mathspanda opened #51078 "add statefulset info into "kubectl cluster-info dump""
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/kind enhancement

**What happened**:
There is no statefulset info dumped by "kubectl cluster-info dump".

**What you expected to happen**:
1. add statfulset info dump
2. add options like --all-resources or --resources=events,pods ?

/area kubectl
/sig cli

[2017-08-22 05:20] paddy235 commented on #50748
me too, not found /etc/systemd/system/kubelet.service.d

[2017-08-22 05:22] paddy235 commented on #50748
[code]

[2017-08-22 05:30] paddy235 commented on #50748
use version 1.7.3-1

[2017-08-22 05:51] chen-anders commented on #47990
Oddly enough - I tried backporting the fix to 1.6 (after resolving the merge conflict) and the issue re-surfaces.

[2017-08-22 07:20] justinsb opened #51083 "kube-proxy manifest should use `--oom-score-adj` flag (?)"
In cluster/saltbase/salt/kube-proxy/kube-proxy.manifest, we have this:

[code]

But kube-proxy also has a `--oom-score-adj` flag.  Is there a reason to use the `echo` approach instead of using the flag?

cc @vishh as you wrote the code, in https://github.com/kubernetes/kubernetes/pull/41700

[2017-08-22 07:53] rhuss commented on #831
Also very useful for the "Immutable Configuration" pattern (e.g. see https://github.com/k8spatterns/examples/blob/master/configuration/ImmutableConfiguration/README.adoc how it is currently implemented via init containers).

[2017-08-22 07:53] galan commented on #38192
@jsafrane Refering https://github.com/kubernetes/kubernetes/issues/38192#issuecomment-265390193 - Why should it not be correct to delete pvcs? The offical documentation is telling the users exactly this.

[2017-08-22 08:08] p0lyn0mial commented on #49038
sure, my pleasure.

[2017-08-22 08:48] munnerz commented on #32528
Hi all - so something to this effect is effectively what we at Jetstack have been talking about requiring in our Navigator application, which aims to be a set of extensions to the Kubernetes API to facilitate this sort of communication.

The general thinking right now is to have an addon API server that provides certain primitives (such as leader election, some kind of more-specific Events API etc

[2017-08-22 08:50] yastij commented on #49625
ping @saad-ali

[2017-08-22 08:50] dixudx opened #51088 "kubectl does not support getting "initializerconfiguration""
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig cli

**What happened**:

The `apiserver` has already supported fetching `initializerconfiguration`, which has not been enabled in `kubectl`.

**What you expected to happen**:
Enable in `kubectl`

[2017-08-22 08:54] resouer opened #51090 "Scheduler performance test does not work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Scheduler performance test does not work:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Run scheduler_perf by following: https://github.com/kubernetes/kubernetes/blob/master/test/integration/scheduler_perf/README.md

**Anything else we need to know?**:

**Env

[2017-08-22 08:54] resouer commented on #51090
/assign

[2017-08-22 08:54] resouer commented on #51090
/sig scheduling

[2017-08-22 09:01] chapati23 commented on #47057
We ran into this issue yesterday as well. had to manually ssh into nodes, delete logs in `/var/logs/journal` and set `SystemMaxUse=100M` in `/etc/systemd/journald.conf`

Does kubernetes not clean these up automatically?

[2017-08-22 09:12] dixudx commented on #51075
@thockin I reproduce it on my env.

* After removing `vendor/BUILD`, `update-bazel.sh` will not create and update `vendor/BUILD`;
* Manually creating an empty file `vendor/BUILD`, `update-bazel.sh` will successfully rewrite and update `vendor/BUILD`;

/cc @ixdy Seems file `vendor/BUILD` will not be created automatically if missing.

[2017-08-22 09:16] wojtek-t commented on #47990
Yes - I agree that it makes sense to cherrypick it. But since it's not automatic cherrypick, please send the cherrypick yourself and I can approve it then.

[2017-08-22 09:17] roffe commented on #47057
@chapati23 That is your OS/Administrator's  responsibility not K8S

[2017-08-22 09:44] gtirloni commented on #12142
This issue is labeled "awaiting-more-evidence" so I would like to provide the results of my testing (binaries compiled from HEAD)

Binaries that send `--help` to stdout:

[code]

Binaries that send `--help` to stderr:

[code]

[2017-08-22 09:48] qiujian16 commented on #51000
/sig architecture

[2017-08-22 09:52] warmchang commented on #49633
I tried the dind situation and got the same bug:
[code]

Check the logs as followed, the error info is "error waiting for etcd connection":
[code]

[2017-08-22 09:59] rcconsult commented on #50150
I can confirm that adding udev rules solves the problem.

[2017-08-22 10:00] nikhita commented on #22923
Ref https://github.com/kubernetes/community/issues/892.

[2017-08-22 10:57] chrissound opened #51096 "Readiness probe is failing, but the service is accessible when execd"
**What happened**: Readiness probe failed

**What you expected to happen**: Succesfull container startup

**How to reproduce it (as minimally and precisely as possible)**: I created a NodePort service, and then the issue seemed to start. I deleted the NodePort service and reverted back to the previous LoadBalancer service but the issue remains.

If I remove the liveness probe from my deployment co

[2017-08-22 11:00] chrissound commented on #51096
/sig network

[2017-08-22 11:11] jsafrane commented on #38192
@galan It is correct to delete PVCs. But some users don't realize that they are going to loose data when they do it. Sometimes they delete and create random Kubernetes objects hoping it fixes something. They don't realize that PVCs are different to say Pods here. Reclaim policy "Retain" could help them a bit.

[2017-08-22 11:28] shyamjvs opened #51099 "gRPC update causing failure of API calls with large responses"
For e.g the density test started failing on all our kubemark jobs that are big (i.e on >= 100 nodes):
- https://k8s-testgrid.appspot.com/sig-scalability#kubemark-100
- https://k8s-testgrid.appspot.com/sig-scalability#kubemark-500

And it clearly seems to be a regression caused by this PR (from the diff) - https://github.com/kubernetes/kubernetes/pull/50531 - which updated gRPC vendor code. The err

[2017-08-22 11:34] chestack commented on #50881
I think what you confused is how DNAT/SNAT works which uses Conntrack module to  maintain state information about a connection in memory tables.
ref: http://www.rigacci.org/wiki/lib/exe/fetch.php/doc/appunti/linux/sa/iptables/conntrack.html

[2017-08-22 11:35] shyamjvs commented on #51099
Even our 100-node gce cluster tests are failing:
- https://k8s-testgrid.appspot.com/google-gce-scale#gci-gce
- https://k8s-testgrid.appspot.com/google-gce-scale#gce

@wojtek-t This seems like a potentially dangerous change for large clusters. Is it ok to revert it?

[2017-08-22 11:46] shyamjvs commented on #51099
It's coming from here - https://github.com/kubernetes/kubernetes/blob/master/vendor/google.golang.org/grpc/server.go#L51 - where the gRPC is setting default receive size to 4MB.

[2017-08-22 12:22] luxas commented on #50985
cc @thockin ^

[2017-08-22 12:31] maxkondr commented on #47518
This solution looks interesting https://www.weave.works/docs/net/latest/tasks/manage/security-untrusted-networks/

[2017-08-22 12:38] resouer commented on #35054
@ianchakeres I believe `--v=10` should let you see request and response of your command, no?

[2017-08-22 12:51] wojtek-t commented on #51099
I think it's fine to revert short term.

But we should try to fix this, as we can't stick with old version of gRPC for a long time. If it's not possible to overwrite this parameter, we should work with gRPC team to make it possible.

@smarterclayton

[2017-08-22 12:51] wojtek-t commented on #51099
@xiang90 @hongchaodeng - did you face a similar issue with etcd?

[2017-08-22 12:57] shyamjvs commented on #51099
There seems to be a way to override the value for the gRPC server using - https://github.com/kubernetes/kubernetes/blob/master/vendor/google.golang.org/grpc/server.go#L187

[2017-08-22 13:05] shyamjvs commented on #51099
But since it's inside etcd vendor code, can't touch it directly.

I'm curious too how etcd faced this?

[2017-08-22 13:17] drzraf commented on #11852
still an issue.

[2017-08-22 13:20] wenlxie commented on #51010
https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod May solve  your issue.

[2017-08-22 13:26] ianchakeres commented on #35054
@resouer - I think that `--v=8` will display http contents. I did not see any difference in the output between `--v=8 `and `--v=10` when executing `kubectl get po`.

[2017-08-22 13:32] ncdc commented on #47990
@chen-anders the fix is in the kubelet, not kubectl. Did you deploy the patched kubelet and test with it?

[2017-08-22 13:38] clamoriniere1A commented on #28486
Hi @soltysh

Working on #48075. As you referenced in it, I need first to fix this issue in order to simplify the implementation of the "Backoff policy and failed pod limit" (https://github.com/kubernetes/community/pull/583).

I would like to clarify/rephrase what you said in this issue by

my understanding is:
* by "each run" you are referencing the Pods lifecycle (add, update events)
* by "each t

[2017-08-22 13:40] dmitrievav opened #51111 "autoscaler scales down below minReplicas when "All metrics below target""
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
autoscaler scales down below minReplicas

**What you expected to happen**:
autoscaler should not scale down below minReplicas

**How to reproduce it (as minimally and precisely as possible)**:
create a deployment with a fake pod which does not really use CPU
create a hpa whit following parameters:
- Metrics:						( current

[2017-08-22 13:47] dmitrievav commented on #51111
/sig @kubernetes/sig-autoscaling-bugs

[2017-08-22 13:54] MaciekPytel commented on #51111
This has been fixed in 1.7.2.

Ref: https://github.com/kubernetes/kubernetes/pull/48997, https://github.com/kubernetes/kubernetes/pull/49047

[2017-08-22 13:54] #51111 closed

[2017-08-22 14:23] danielkucera commented on #39201
Similar issue with me:

[code]
fixed by
`[root@openshift ~]# oc edit pvc/datadir-mysql-0`
and removing annotation:

[code]

[2017-08-22 14:28] chen-anders commented on #47990
oh massive derp. @ncdc - will test. 😅

[2017-08-22 14:41] dixudx commented on #51049
@liyinan926 I've submitted PR #51118 on bumping `StatefulSet` controller to use `apps/v1beta2`. PTAL. Thanks.

[2017-08-22 14:44] hchenxa commented on #51002
/sig architecture

[2017-08-22 14:44] hchenxa commented on #51013
/sig architecture

[2017-08-22 14:58] xiang90 commented on #51099
@shyamjvs

We need to unlimit this option for now. etcd upstream is working on supporting frag responses due to this limit.

[2017-08-22 15:04] tengqm opened #51120 "FeatureGate still has DynamicVolumeProvisioning though it is gone since 1.6"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

kube-apiserver --help still shows this:
[code]

It looks like the related feature can be turned off. However, dynamic volume provisioning Alpha has retried in 1.6.

**What you expected to happen**:

Remove `DynamicVolumeProvisioning` from feature gate to avoid confusion.

**How to reproduce it (as minimally and precisely

[2017-08-22 15:05] thockin commented on #12142
+1  we called this out once, a long time ago, and it never got fully
resolved.  `--help` should go to stdout.

On Tue, Aug 22, 2017 at 2:45 AM, Giovanni Tirloni <notifications@github.com>
wrote:

[2017-08-22 15:26] pwittrock commented on #51048
Is it updating the test or the cli itself?  I was thinking we just need to disable the test in the 1.7 branch.

[2017-08-22 15:27] pwittrock commented on #51048
Updated the description to reflect this.

[2017-08-22 15:28] #51090 closed

[2017-08-22 15:34] wongma7 opened #51123 "Flexvolumes ci-kubernetes-e2e-gci-gce-alpha-features failing"
tests are failing atm on GCI https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/14884 because VOLUME_PLUGIN_DIR=/home/kubernetes/flexvolume set in cluster/common.sh takes precedence over KUBELET_TEST_VOLUME_PLUGIN_DIR="/etc/srv/kubernetes/kubelet-plugins/volume/exec". As far as I can tell /home/kubernetes/flexvolume is not readable yet by cont

[2017-08-22 15:34] wongma7 commented on #51123
/sig storage

[2017-08-22 15:34] shyamjvs commented on #51099
@xiang90 Makes sense. Any idea how to do this without touching the etcd vendor code? And why were we not having this problem before (because seems like this limit was also there before this PR)?

[2017-08-22 15:35] wongma7 commented on #51123
This is more an acknowledgment of the issue than anything, can't write a PR until later

[2017-08-22 15:40] soltysh commented on #51048
I've just spoke with Philip, @fabianofranz is going to disable that test in 1.7 branch. Thank you Fabiano ❤️ !!!

/assign @fabianofranz

[2017-08-22 15:50] chen-anders commented on #47990
Alright - tested working on both versions (1.6/1.7) - I can create the cherry-pick PRs.

[2017-08-22 15:50] fabianofranz commented on #51048
On it.  ;)

[2017-08-22 16:00] chrissound commented on #51096
If I SSH into the GCP instance I'm also able to get a HTTP 200 from the container IP.

[2017-08-22 16:02] aronnok commented on #43800
getting the same issue

kubeadm init --skip-preflight-checks
[kubeadm] WARNING: kubeadm is in beta, please do not use it for production clusters.
[init] Using Kubernetes version: v1.7.4
[init] Using Authorization modes: [Node RBAC]
[preflight] Skipping pre-flight checks
[kubeadm] WARNING: starting in 1.8, tokens expire after 24 hours by default (if you require a non-expiring token use --token-ttl

[2017-08-22 16:40] ericchiang opened #51128 "[e2e test failure][sig-network] Proxy version v1 should proxy through a service and a pod [Conformance]"
This test has started failing on our e2e test suite, erroring out with "Failed to get endpoints..."

https://k8s-testgrid.appspot.com/release-master-blocking#gce
https://k8s-testgrid.appspot.com/release-master-blocking#gci-gce

Example failures

[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce/12667#sig-network-proxy-version-v1-should-proxy-through-a-s

[2017-08-22 16:48] ericchiang commented on #51123
cc @kubernetes/sig-storage-bugs
/kind e2e-test-failure

[2017-08-22 16:49] cblecker commented on #48342
This looks to be resolved in https://github.com/docker/docker-ce/releases/tag/v17.06.1-ce
/close

[2017-08-22 16:50] #48342 closed

[2017-08-22 16:52] ericchiang commented on #49704
This has cropped up again:

https://k8s-testgrid.appspot.com/release-master-blocking#gke-slow
https://k8s-testgrid.appspot.com/release-master-blocking#gci-gke-slow
https://k8s-testgrid.appspot.com/release-master-blocking#gci-gke-ingress

Example failure

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-slow/8588#sig-network-loadbalancing-l7-sig-network-slow-ng

[2017-08-22 16:53] ericchiang commented on #49704
cc @kubernetes/sig-network-bugs

[2017-08-22 17:20] kachkaev commented on #51014
/sig network

[2017-08-22 17:22] kachkaev commented on #51014
/kind bug

[2017-08-22 17:39] k8s-merge-robot opened #51129 "Failure cluster [9aaafb...] failed 280 builds, 27 jobs, and 1 tests over 1 days"
### Failure cluster [9aaafb22e4a15a638552](https://go.k8s.io/triage#9aaafb22e4a15a638552)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    27 jobs failed,    280 builds failed.
Failure stats cover 1 day time range '21 Aug 2017 16:19 UTC' to '22 Aug 2017 16:19 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-network] Proxy v

[2017-08-22 17:42] mindprince commented on #50884
The tests are passing again now.

[2017-08-22 17:43] caesarxuchao opened #51131 "Enable parallel patching of initializers"
There are two issues:

* [Initializers.Pending](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L251) doesn't have merge key

* The validation code regards it as an error if both Initializers.Result and Initializers.Pending are nil. So if multiple initializer controllers sending patches removing themselves from Initializers.Pending at

[2017-08-22 17:47] lin99shen commented on #48437
I tried to delete the below rule manually just to verify, but the rule gets added back automatically right away. I had kube-proxy stopped. Any idea?

KUBE-NODEPORTS -p tcp -m comment --comment "default/nodeport:" -m tcp --dport 7895 -j KUBE-XLB-XP7QDA4CRQ2QA33W

[2017-08-22 17:48] #48378 closed

[2017-08-22 17:48] #51007 closed

[2017-08-22 17:48] #50943 closed

[2017-08-22 17:48] MrHohn commented on #51014
I think Weave-Net support for `externalTrafficPolicy=Local` is not added yet.
- https://github.com/weaveworks/weave/issues/2924
- https://github.com/kubernetes/kubernetes/issues/44963

[2017-08-22 17:50] foxish opened #51133 "Confusing error message with apps/v1beta2.statefulset"
`apps/v1beta2.StatefulSet` is going to have a change that changes the defaulting behavior. The user facing aspect of this change is that `.Spec.selector` will need to be provided when trying to create an object.

[code]

Trying to create this object throws the following errors:

[code]

We could have a better error message that indicates:

(1) The `spec.selector` must match at least one label in `

[2017-08-22 17:50] lavalamp commented on #47663
If that is the desired behavior, it should be in the field documentation.

[2017-08-22 17:50] foxish commented on #51133
cc/ @kubernetes/sig-apps-misc @enisoc @kow3ns

[2017-08-22 17:52] lavalamp commented on #44507
Looks like @ironcladlou finished off what I started and this is done. Thanks!!

[2017-08-22 17:52] #44507 closed

[2017-08-22 17:53] ixdy commented on #51075
This is working as intended, or at least as designed.

We only create new `BUILD` files if there are go sources in that directory, and `vendor/` doesn't have any go sources, so `vendor/BUILD` won't be auto-created.

We have a `vendor/BUILD` solely for the `package-srcs` and `all-srcs` rules, but those are only managed in existing `BUILD` files. Without `vendor/BUILD`, we'd have a lot of lines in `

[2017-08-22 17:53] kachkaev commented on #51014
Thanks @MrHohn. Do you think this issue should be closed or kept open until the fix upstream?

[2017-08-22 17:54] enisoc commented on #51133
For reference, the removal of selector defaulting in apps/v1beta2 was #50164.

[2017-08-22 17:54] lavalamp commented on #44620
/assign @mbohlool

[2017-08-22 18:00] MrHohn commented on #51014
@kachkaev Make sense to keep it open so folks won't open duplicate issue. Do you mind changing the title a bit (to indicate weave-net)?

[2017-08-22 18:02] vishh commented on #51099
@shyamjvs @xiang90 @wojtek-t The grpc update is required for v1.8 feature. Are there any alternative solutions in addition to waiting for an ectd update?

[2017-08-22 18:06] caesarxuchao commented on #51131
/sig api-machinery

[2017-08-22 18:09] kachkaev commented on #51014
@MrHohn done. I brought up my cluster using the [kubeadm tutorial](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/) and other newbies like me are likely to take the same path. Just wondering if it's worth warning people in a weave net tab that they might get the same issue? What other networks might have malfunctioning `externalTrafficPolicy`?

Turns out that in order to get t

[2017-08-22 18:11] crimsonfaith91 commented on #51133
We have to make the change to all controllers.
/assign

[2017-08-22 18:17] verb commented on #48937
Update from SIG Node Meetup:

Everyone wants to support these use cases, but we're not yet sure the requirements we want to support medium to long term. @derekwaynecarr is going to sync up with @rhatdan and then we'll figure out what we want to support in a future release.

For 1.8 the current plan is to leave docker shared pid namespace enabled by default. Cluster administrators can disable it pe

[2017-08-22 18:17] MrHohn commented on #48437
Yeah `nodeName` should be auto-filled if user don't specify it. I will need to dig a bit more on the auto-filling behavior later.

That is odd, maybe kube-proxy somehow restarted? It should be the only process that writes to KUBE-NODEPORTS chain.

[2017-08-22 18:20] lin99shen commented on #48437
I checked, it's inactive. Will confirm it again.

[2017-08-22 18:25] joelsmith commented on #51128
This may be related to our recently-merged endpoints change in #50934. I'll look into it.

[2017-08-22 18:25] vishh opened #51135 "Avoid setting CPU limits for Guaranteed pods"
The effect of CPU throttling is non obvious to users and throws them off when they try out kubernetes. It also complicates CPU capacity planning for pods. Pods that are carefully placed in Guaranteed QoS class are typically of higher priority than other pods, and these pods are expected to get the best performance. On the other hand, Burstable pods may have to be limited in certain environments to

[2017-08-22 18:26] lin99shen commented on #48437
Just some context, maybe there is other options. We have an app that depends on the originating source IP. I'm trying to use the external-traffic annotation to prevent the source IP of the incoming packets to be SNAT'ed. I followed the tutorial as-is and ran into this problem. Besides this approach, is there any other way I can achieve the same. For now, our k8s runs on a single VM.

[2017-08-22 18:26] vishh commented on #51135
cc @thockin who had some thoughts on this feature.

[2017-08-22 18:28] mindprince commented on #50723
These are also passing after https://github.com/kubernetes/kubernetes/pull/50950 got merged.

[2017-08-22 18:31] cblecker opened #51136 "pull-kubernetes-e2e-gce-etcd3 failing: Quota 'SUBNETWORKS' exceeded"
We've bumped this quota a few times, but still seeing issues with possibly leaking resources.
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/47583/pull-kubernetes-e2e-gce-etcd3/49039/?log#log

[code]

---
/kind flake
@kubernetes/sig-network-bugs @kubernetes/sig-testing-bugs @krzyzacy
Related issues:
https://github.com/kubernetes/kubernetes/issues/48688
https://github.com/

[2017-08-22 18:35] #50723 closed

[2017-08-22 18:39] mindprince commented on #50884
/close

[2017-08-22 18:39] #50884 closed

[2017-08-22 18:41] jarrpa commented on #48937
@verb This seems somewhat backwards. Wouldn't it make more sense to go back to supporting systemd use cases by default NOW (by making the shared PID namespace behavior optional or something) until a final decision is reached and can be advertised to current users?

[2017-08-22 18:44] enisoc commented on #51133
The line that says `spec.selector: Required value` does seem to help in this case. It points at the problem that you now must set that field explicitly.

@foxish In the case you described this morning, `spec.selector` was filled in but with the wrong format. Did it not complain about `spec.selector` being missing in that case?

Maybe it would help if the second error about labels not matching also

[2017-08-22 18:44] yujuhong commented on #51083
/cc @MrHohn, who's working on moving kube-proxy to a DaemonSet

[2017-08-22 18:47] quinton-hoole opened #51139 "Federation: Google Cloud DNS provider does not handle missing domains correctly"
/kind bug

**What happened**:
walteraa [6:55 AM]
Hi, The controller manager of the federation using Google cloud DNS is crashing, the log showed is that:

[code]

the hyperkube command is that:
[code]

I have created this `kfed.walteralves.me.` in the Google DNS

Someone knows why the DNS zone query is getting the 404 error?? :disappointed:

**What you expected to happen**:

It should have created

[2017-08-22 18:51] quinton-hoole commented on #51139
The bug is related to this:

https://github.com/kubernetes/kubernetes/blob/master/federation/pkg/federation-controller/service/dns/dns.go#L227

The above code assumes that the provider code returns no error but an empty list if the domain does not exist, but instead the provider returns a 404.  Need to fix the provider and/or the above code.

[2017-08-22 19:09] krzyzacy commented on #51136
cc @MrHohn - any potential clue?

[2017-08-22 19:25] cezarsa opened #51142 "kubelet restarts container after it finished successfully even with restartPolicy Never"
/kind bug

**What happened**:

After creating a Pod with `restartPolicy: Never` and 2 containers, if one of the containers has finished successfully and was removed (either by `docker rm` or by the GC), kubelet will restart the container.

**What you expected to happen**:

Since the container already executed and finished successfully, and the restart policy was set to Never, it was expected that

[2017-08-22 19:27] #50709 closed

[2017-08-22 19:28] #51043 closed

[2017-08-22 19:33] foxish commented on #51133
The error I get in that case is:

[code]

[2017-08-22 19:38] enisoc commented on #51133
Ah ok. So that does sort of point to the problem, but only if you already know that there are two types of label selectors. Given that selectors have been defaulted for a while, I'd wager there are a lot of users out there who never actually had to construct one of the new kind. So we may want to try to think of a way to clarify this latter case as well.

Would it make sense to say something like,

[2017-08-22 19:38] cezarsa commented on #51142
/sig node

[2017-08-22 19:40] snelis commented on #48937
@verb absolutely ! thank you very much

[2017-08-22 19:50] crimsonfaith91 commented on #51133
I think mentioning `matchLabels` and `matchExpressions` is a good idea.

[2017-08-22 19:56] hanikesn commented on #19701
For future reference: Kubernetes 1.7 with Docker 1.13 puts all the containers of a pod in the same pid namespace, which makes it easier to shutdown another container.

[2017-08-22 19:57] oomichi opened #51145 "e2e: Internete connection test should not rely on ICMP achievement"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When operating conformance test for k8s cluster system on our company internal, only one test "should provide Internet connection for containers [Conformance]" [1] fails, because ICMP is denied between the internet and the company inside network.

[1]: https://github.com/kubernetes/kubernetes/blob/6858bb4e6025218b2f40131

[2017-08-22 20:02] verult opened #51147 "Flexvolume Dynamic Plugin Discovery Testing"
Add unit and e2e tests for PR https://github.com/kubernetes/kubernetes/pull/50031

/sig storage
/assign

[2017-08-22 20:02] oomichi commented on #51145
@kubernetes/sig-testing

[2017-08-22 20:11] hanikesn opened #51150 "ResourceQuota should support limiting the number of terminated pods"
When using cronjobs and jobs it's very easy to create a very large number of pods. E.g. in one of our clusters with etcdv3 a single cronjob created over 10k pods in about two days. With etcdv2 the apiserver would already have been unusable and in this case the large number of pods has caused IOPs starvation on our etcd nodes and the same on prometheus volumes.

ResourceQuotas right now only suppor

[2017-08-22 20:17] davidopp commented on #51135
Can you explain a bit more about what "avoid setting CPU limits on Guaranteed pods by default" means? A user may set Limit, but depending what other pods are running on the node their pod gets scheduled to, they may or may not get more CPU than indicated by the Limit?

I guess I can see the argument for making this behavior configurable, but what granularity were you think of? Per (guaranteed) pod

[2017-08-22 20:18] quinton-hoole commented on #51139
/sig federation

[2017-08-22 20:19] quinton-hoole commented on #51139
I am unlikely to have time to work on this soon, so if anyone else wants to, go right ahead.

[2017-08-22 20:22] MrHohn commented on #51136
1\) We allow 12 pr jobs run in parallel.
2\) Each pr job has its own auto network. And we have an unused default auto network.
3\) Each auto network has 11 subnetworks (for 11 regions).
4\) We have 150 subnetworks quota.

We are running the edge -- (12 + 1) * 11 = 143 subnetworks. New pr jobs will hit quota limit if we leak any network resource.

I think we either:
1\) Need a way to bump our quota

[2017-08-22 20:22] MrHohn commented on #51136
https://github.com/kubernetes/test-infra/blob/e78f8fc847b9ff0625fa5382dc980ff22ab4cc83/jenkins/job-configs/kubernetes-jenkins-pull/bootstrap-pull-json.yaml#L89

[2017-08-22 20:26] MrHohn commented on #51136
Certainly we should investigate why resource was leaked, though make sense to me to have headroom to tolerate leakage in some degree.

[2017-08-22 20:36] pipejakob commented on #47882
https://github.com/kubernetes/kubernetes/pull/50939 is merged and this inconsistency after upgrades should be gone. I can confirm and close the issue, but unfortunately it doesn't look like this was the root cause of our upgrade test failures, since they're still red.

[2017-08-22 20:37] pipejakob commented on #47820
Even with @mtaufen's fix merged, it looks like we're still seeing upgrade test failures. I believe this has fixed the inconsistency reported in https://github.com/kubernetes/kubernetes/issues/47882, but there is probably a different root cause for the upgrade test failures.

[2017-08-22 20:38] nkravi opened #51151 "query dns for http port"
area/dns
sig/network

I have kubedns running.
I am able to get cluster IP
[code]
But I when i do the query for port I am not getting any output

[code]

kind: Service
apiVersion: v1
metadata:
  name: my-ngnix-service
spec:
  selector:
    app: nginx
  ports:
    - name: http
      protocol: TCP
      port: 9888
      targetPort: 9376

[2017-08-22 20:43] vishh commented on #51135
There will be no CPU Quota limits (throttling) applied to Guaranteed pods. Essentially, their CPU limits will be ignored.

I think having a config per-node (or groups of nodes) may be better.

What users expect is that when they set the limit to 1 CPU, they can continue to use 1 CPU continuously and not more than that. In reality though with CPU Quota applied, in a slot of CPU scheduling time, a p

[2017-08-22 20:52] dims commented on #831
If we don't want to rely on docker create/export, the other options to explore are

1. [posita/dimgx](https://github.com/posita/dimgx)
2. [containers/image](https://github.com/containers/image) directly or using [skopeo CLI](https://github.com/projectatomic/skopeo)

Though No. 2 does not seem to support squashing image

[2017-08-22 20:54] oomichi commented on #35088
This issue should be closed because the corresponding PR has been already merged.

[2017-08-22 21:00] ericchiang commented on #47882
@pipejakob that's okay, thanks for fixing this issue at least. We can continue tracking this in https://github.com/kubernetes/kubernetes/issues/47820

[2017-08-22 21:02] xiang90 commented on #51099
@shyamjvs The gRPC issue is introduced in gRPC 1.4. Can you try gRPC 1.3, which also supports keepalive? The current etcd vendoring is etcd3.1, which does not really work with etcd 1.4 for the reason you see here.

[2017-08-22 21:04] joelsmith commented on #51128
I verified that the flakiness introduced was a result of #50934. A fix in #51144 should be merging soon.
/assign @joelsmith

[2017-08-22 21:07] saad-ali commented on #42438
There is an edge case that the above fix did not handle: see https://github.com/kubernetes/kubernetes/issues/50721
PR https://github.com/kubernetes/kubernetes/pull/50806 is fixing that

[2017-08-22 21:08] shyamjvs commented on #51099
Discussed offline with @RenaudWasTaken. As @xiang90 pointed out, we should try updating to 1.3 which is the min version supporting keepalive. Anything above that apparently seems to set a hard limit on the MTU which has to be configured by etcd (for that etcd would also have to be updated to 3.3).

@RenaudWasTaken is going to try updating to 1.3. Thanks everyone for the leads.

[2017-08-22 21:09] shyamjvs commented on #51099
/unassign
/assign @RenaudWasTaken

[2017-08-22 21:16] MrHohn commented on #51014
Certainly make sense to me if we could find a proper way to warn people.

I'm a bit worried about putting warning directly on "weave net tab". From https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#pod-network I see 4 other CNI plugins. Putting warning only on weave tab may imply `externalTrafficPolicy` works on others, which we haven't verified. At least it used to be incompati

[2017-08-22 21:31] kow3ns commented on #48327
#50942 and #51149 should at least allow a viable, safe upgrade path between 1.6.[x>=9] and 1.7.[y>=5] as per the suggestion of @PaulFurtado. I'm going to meet with the API Machinery SIG lead and see if there is more that we can do here.

[2017-08-22 21:39] oomichi commented on #43051
/assign @oomichi

[2017-08-22 21:52] RyPeck commented on #47725
@ami-fairfly Any chance - do you happen to have a high number of unhealthy instances in the target ELB?

[2017-08-22 21:56] pipejakob commented on #50760
This is also happening in our master job now. There was a kubelet regression that was causing a failure much earlier, but now that it has been fixed, we're seeing the same failures in the kubeadm-gce job:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce/5157

[2017-08-22 22:01] kow3ns commented on #48327
So we landed on relaxing the validation in 1.7.x to make fields mutable if empty and modifying the controller to set them if empty. There still may be disruption to the network if you don't go through 1.6.9 and do a rolling recreate of all of the Pods, but at least it should be self healing.

[2017-08-22 22:09] oomichi commented on #36871
This is a little bit old and the corresponding code is https://github.com/kubernetes/kubernetes/blob/3b417cc4ccd1b8f38ff9ec96bb50a81ca0ea9d56/pkg/storage/cacher.go#L194 to follow the error at the time.

[2017-08-22 22:09] nkravi commented on #51151
area/dns sig/network

[2017-08-22 22:13] vishh commented on #51099
@RenaudWasTaken can you confirm that you are working on a fix?

[2017-08-22 22:25] ammaristotle commented on #50888
@font I was getting the same error earlier. I found a workaround, by renaming contexts.

[code]

Where `MY_PROJECT_ID` is your project id and `cluster_1_name` and `cluster_2_name` are the names of your clusters if you run `gcloud container clusters list`

Assuming your host cluster is `cluster_1_name`, let's do a simple replace:
[code]

Now if you try `kubefed` it should work.

[2017-08-22 22:27] RenaudWasTaken commented on #51099
@vishh yes, just started running `godep-save.sh` had some troubles setting my environment on my laptop but you should see a PR for this soon.

[2017-08-22 22:30] cmluciano commented on #51129
/sig network

[2017-08-22 22:46] shyamjvs commented on #50760
@krzyzacy I've added debug statements in #50914 and none of them are printed, even the first log at the top of the file - https://github.com/kubernetes/kubernetes/blob/release-1.7/cluster/log-dump/log-dump.sh#L30. This should confirm that it's some problem at the kubetest level. Assigning this bug to you as it's test-infra related :)

[2017-08-22 22:50] mengqiy opened #51155 "Potential bug related to pointer in strategic merge patch"
Pointer usage in strategic merge patch test looks like a bug.

The type defined in [patch_test.go](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/strategicpatch/patch_test.go#L96) is a pointer that has patch metadata.

It has some usage. e.g. in https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/strategicpatc

[2017-08-22 22:54] mtaufen commented on #34965
I would really like to get this journalctl leakage fixed wrt #1725. I like the idea of using kmsg instead of journald, but I think the simplest quick fix might just be to set the Pdeathsig to SIGKILL on the journalctl command's SysProcAttr. Can we agree on something simple like that so we at least fix the leak while we figure out an ideal solution?

[2017-08-22 22:55] krzyzacy commented on #50760
oh wait, why that's committed in release-1.7 instead of master?

[2017-08-22 22:56] shyamjvs commented on #50760
Because initially it was failing only on 1.7

[2017-08-22 22:56] krzyzacy commented on #50760
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/periodic-kubernetes-e2e-kubeadm-gce-1-7/750?log#log

[2017-08-22 22:56] krzyzacy commented on #50760
[code]

[2017-08-22 23:01] erictune commented on #7856
I filed https://github.com/kubernetes/kubernetes/issues/50798 with data about use of conditions that supports the conclusion to not use conditions.

[2017-08-22 23:02] erictune commented on #50798
Closing in favor of https://github.com/kubernetes/kubernetes/issues/7856 which was updated to conclude that we should remove conditions.

[2017-08-22 23:04] jagosan commented on #50466
/assign @cheftako

[2017-08-22 23:04] bgrant0607 commented on #50798
@erictune Thanks for the analysis. Please paste it into #7856.

[2017-08-22 23:09] lavalamp commented on #49038
My list:

* __P0__(API change) remove the failure policy field if we aren't going to implement fail-open
* Fix parallelism for initializers
  * __P0__(API change) Fix API to support multiple failure messages
 * Add a partial order mechanism. Not P0 because it should be an additive change to the API
* __P0__(Prevent broken clusters) Fix the major controllers to understand uninitialized objects
* Ga

[2017-08-22 23:17] bgrant0607 commented on #50798
I agree with the conclusions here, in case that isn't obvious.

[2017-08-22 23:21] krzyzacy commented on #50760
(I don't quite understand where are things below `Detecting project` comes from?)

/assign @shyamjvs @pipejakob
maybe you are more familiar with stuff here and wanna help taking a look?

[2017-08-22 23:24] font commented on #50888
Thanks @ammaristotle - that's the workaround I described in my original post where removing the violating underscores solves the issue.

But if you've already failed to `kubefed join` once, you subsequently hit another error as I described above. That should hopefully improve eventually via #41725. In the meantime, in order to get around that you need to cleanup the RBAC objects:

[code]

[2017-08-22 23:28] tengqm commented on #51120
/sig apimachinery

[2017-08-22 23:46] Random-Liu opened #51156 "AppArmor validation is docker specific."
AppArmor validator returns error if the runtime is not `docker`.

For other runtime integrated via CRI, the runtime will be `remote`, and will not be able to provide AppArmor support because of this.

Currently, we decided to always pass validation for remote runtime, but we need a better solution in the future.

This is similar with https://github.com/kubernetes/kubernetes/issues/50343, and also

[2017-08-22 23:56] #51128 closed

[2017-08-23 00:15] netroby commented on #45727
I got stuck the same. my os centos 7.3 x64

[2017-08-23 00:24] calvn commented on #48424
Getting the same issue as well. @johscheuer have you found a proper way to develop on MacOS?

I found https://github.com/kubernetes/community/blob/master/contributors/devel/running-locally.md, but that only works on linux as kubelet is not supported on darwin.

[2017-08-23 00:28] mbohlool commented on #45420
This issue belong to github.com/kubernetes-incubator/client-python repo.

Also, This is an old issue and I believe it is fixed now in swagger codegen and new release of the python client. I am going to close this. Please re-open an issue in the repo if you are still facing this problem.

[2017-08-23 00:28] #45420 closed

[2017-08-23 00:33] mbohlool commented on #50957
I am not sure about the content of the API so I suggest you find the team(s) responsible for those APIs and ask them about it. My hunch is Quantity here is not int-or-string or it would have been represented as IntOrString.

Also, what you suggested is will be possible in OpenAPI v3 (not yet). I am going to remove sig-api-machinery as this is the content of the API and not related to API machinery

[2017-08-23 00:36] diegs commented on #48841
First cut of implementation is in #51161, cc @luxas

[2017-08-23 00:37] mbohlool opened #51163 "Support OpenAPI v3"
Now that OpenAPI released version 3.0 we should support it. We should keep the support for v2 until we have full tooling support for v3.

[OpenAPI v3 Specification](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md)

[Differences between v2 and v3](https://www.openapis.org/news/blogs/2016/07/you-can-get-involved-creating-openapi-specification-and-heres-how)

[2017-08-23 00:38] saad-ali commented on #50802
[code]

`mkfs` is an external dependency and apparently not present on your host. Make sure your image contains it and that it's accessible to kubelet. Moving forward @jsafrane is working on a making the mount operation for in-tree volume plugins containerized, so that dependencies like this can automatically be downloaded.

[2017-08-23 00:40] mxmberlin opened #51164 "kubectl deployment of nginx with secrets fails with spurious "No such file or directory:fopen /etc/nginx/ssl/nginx.crt""
/kind bug

**What happened**:
I attempted to deploy the following deployment using kubectl 1.7.0

[code]

where mylabel/nginx-demo was defined as follows
[code]

Running `ls -l /etc/nginx/ssl` returns:
[code]

This deployment fails with

`nginx-demo-2723709651-kgd5t     0/1       CrashLoopBackOff   8          2m`

Where `kubectl logs ...` for the failed Pod reported:
`
nginx: [emerg] BIO_new_file(

[2017-08-23 00:49] mengqiy commented on #51155
If this is not a bug, my guess is that point and slice are identical in golang like pointer and array in C.

[2017-08-23 00:53] anurag-saran opened #51165 "config map deletes existing files and sub directory at mount point"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I am trying to add environment specific xml files to a pod. The location where I want to update these xml files have few other xml files with sub directories at this location. I only want to update two files using configmap.

**What you expected to happen**:
Once I configure the configmap, the files and subdirectories ar

[2017-08-23 01:08] mxmberlin commented on #51164
@kubernetes/sig-apps
@kubernetes/sig-cli

[2017-08-23 01:29] feiskyer commented on #51156
I think we should pass validation for all container runtimes in validateHost, since it is host-wide.

[2017-08-23 01:29] feiskyer commented on #51156
Let me remove this requirement.

/assign

[2017-08-23 01:37] abel-von commented on #47131
Any progress about this issue? we have also encountered this, and even worse is that some updating operation failed. the log is:

‘’‘
E0812 19:02:48.471971      24 status.go:62] apiserver received an error that is not an metav1.Status: rpc error: code = 13 desc = transport is closing
E0812 19:02:48.536491      24 watcher.go:188] watch chan error: etcdserver: mvcc: required revision has been compac

[2017-08-23 01:39] dixudx commented on #48424
@calvn You can enable `DOCKERIZE_KUBELET` by assigning a non-empty value.

[2017-08-23 01:47] calvn commented on #48424
Thanks, I'll give that a try!

[2017-08-23 02:31] kow3ns commented on #48841
is there any design for this feature?

[2017-08-23 02:35] FengyunPan commented on #51151
sig/network

[2017-08-23 02:40] clsung commented on #51164
According to the yaml file, you need to create secret like

`% kubectl create secret generic nginxsecret --from-file=<folder/to/ssl>/nginx.crt --from-file=<folder/to/ssl>/nginx.key`

[2017-08-23 02:45] #50721 closed

[2017-08-23 02:45] #47311 closed

[2017-08-23 02:45] #50010 closed

[2017-08-23 02:50] xingzhou commented on #51142
seems only related to multi-container pod? I'd like to try and investigate this

[2017-08-23 03:05] smarterclayton commented on #40403
Probably (4) allow users to bulk retrieve items by namespace instead of
making multiple namespace calls.

On Sat, Aug 19, 2017 at 7:08 PM, David Oppenheimer <notifications@github.com

[2017-08-23 03:27] Kenblair1226 commented on #50270
Fixed and merged.
/close

[2017-08-23 03:33] liggitt commented on #51155
it looks like it is just resolving the underlying type in order to read fields and their tags. what bug do you think you are seeing?

[2017-08-23 03:46] xiangpengzhao commented on #50270
@Kenblair1226 thanks for the fix!

/assign
/close

[2017-08-23 03:46] #50270 closed

[2017-08-23 03:59] derekwaynecarr opened #51170 "kubelet stats summary API reports rss usage as 0 for root cgroup"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

rssBytes reports 0 for non-leaf nodes in cgroup hierarchy.  most notably, machine rss usage shows 0.

[code]

**What you expected to happen**:
we should show the value in memory.stat[total_rss] when hierarchy accounting is enabled.

**How to reproduce it (as minimally and precisely as possible)**:
run kubelet on a machine

[2017-08-23 04:00] derekwaynecarr commented on #51170
/sig-node

this is a tracking issue for 1.8 so we ensure we pull the fix in cAdvisor proposed here:
https://github.com/google/cadvisor/pull/1728

[2017-08-23 04:18] calvn commented on #48424
@dixudx It seems that `DOCKERIZE_KUBELET` doesn't do anything since `start_kubelet` never gets called on MacOS. https://github.com/kubernetes/kubernetes/blob/master/hack/local-up-cluster.sh#L898

[2017-08-23 04:46] bgrant0607 commented on #7856
@erictune's comment on #50798:

I've surveyed kubernetes API types to see how Status Conditions are used, and evaluated their usability as well.

**Method**: Examine 54 kubernetes API types, spanning core types, incubator project, and operator (TPR/CRD) types.   [Detailed Data](https://docs.google.com/a/google.com/spreadsheets/d/e/2PACX-1vSu-KunrKl_aSH4cfufHbNUCuE-o-HKpMNQOSLVSu-hH9A0cxqT-O8CzjIoJ

[2017-08-23 04:46] #50798 closed

[2017-08-23 04:51] bgrant0607 commented on #20978
Something to consider for "v2" APIs. #8190

[2017-08-23 04:55] liggitt commented on #20978
as more and more fields get added to metadata (finalizers, ownerRefs, etc), they are all getting exposed to mutation by status subresources. It seems like we should default in the opposite direction and require opting in to letting /status modify specific things under metadata

[2017-08-23 05:05] ixdy commented on #49569
/assign

[2017-08-23 05:09] bgrant0607 commented on #20978
Opt-in for new fields is a good idea.

[2017-08-23 05:37] ami-fairfly commented on #47725
@RyPeck It is always zero.

We do have nodes that are under high load (~80-90% CPU) but I would expect things to still work.

[2017-08-23 05:37] ami-fairfly commented on #47725
We're now on 1.7 and it is still happening. Less, but still.

[2017-08-23 05:40] smarterclayton opened #51175 "kubectl create with no args shouldn't display all help options"
The most important part of `kubectl create` is the subcommands.  For this top level command, and maybe a few others (set), the options should only be shown if we do `kubectl create -h` or `kubectl help create`, but not if a user simply runs `kubectl create`.  That would make it much more readable for end users.

[2017-08-23 05:40] smarterclayton commented on #51175
Also, `kubectl create` needs a description paragraph - a few sentences describing what the purpose of the command is.

[2017-08-23 05:51] jianzhangbjz commented on #51150
/cc

[2017-08-23 06:00] xiangpengzhao commented on #51170
/sig node

[2017-08-23 06:00] xiangpengzhao commented on #51165
/sig storage

[2017-08-23 06:04] xiangpengzhao commented on #51164
@mxmberlin any chance to try what @clsung mentioned?

[2017-08-23 06:05] xiangpengzhao commented on #51151
/sig network
/area dns

[2017-08-23 06:08] xiangpengzhao commented on #51145
/sig testing

[2017-08-23 06:08] mengqiy commented on #51155
Not sure if it's a bug.
[code]
`MergeItemPtr` is a pointer of `MergeItem`. But it can be used like a slice of `MergeItem`.
E.g. in this test case: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/strategicpatch/patch_test.go#L260-L270.
[code]

[2017-08-23 06:08] xiangpengzhao commented on #51120
/sig api-machinery

[2017-08-23 06:09] dixudx commented on #49480
@luxas I would like to work on this. Thanks. Will send out a PR later.

[2017-08-23 06:09] xiangpengzhao commented on #51018
/sig node

[2017-08-23 06:10] xiangpengzhao commented on #51015
/sig cli

[2017-08-23 06:11] xiangpengzhao commented on #50994
/sig cluster-lifecycle

[2017-08-23 06:11] xiangpengzhao commented on #50983
/sig storage

[2017-08-23 06:14] #51009 closed

[2017-08-23 06:41] evmin commented on #30558
+1

[2017-08-23 06:52] gurvindersingh commented on #46639
@vishh @cmluciano any update on this to get quota applied on GPU resources.

[2017-08-23 06:59] johscheuer commented on #48424
I actually ended up testing on gce (just for simplicity)

[2017-08-23 07:00] yison opened #51179 "kubectl logs with EOF error when the pod are not in the master node."
/kind bug
/area kubectl

**What happened**:
kubectl -n sock-shop logs carts-2469883122-hdqwt -c carts
Error from server: Get https://10.239.131.212:10250/containerLogs/sock-shop/carts-2469883122-hdqwt/carts: EOF

**What you expected to happen**:
How can I debug and solve this issue?

**How to reproduce it (as minimally and precisely as possible)**:
https://kubernetes.io/docs/setup/independent/crea

[2017-08-23 07:09] HardikModha commented on #7360
Are there any chances that somehow this issue is not still fixed? I faced this issue today when my NFS pod was evicted.

[2017-08-23 07:11] jianzhangbjz commented on #46639
/cc

[2017-08-23 07:16] k82cn commented on #51175
@jinzhejz , please help on this; it's good for newbee :).

[2017-08-23 07:53] shiywang commented on #51139
/assign

[2017-08-23 08:14] hzxuzhonghu commented on #51165
currently， configmap/secret volumeMount use use empty dir, when configmap/secret update a new empty dir is created , so files and subpaths in the mounted path are lost.
[code]

[2017-08-23 08:25] mmikulicic commented on #34366
Here's a relevent announcement:
https://cloudplatform.googleblog.com/2017/07/Container-Engine-now-runs-Kubernetes-1-7-to-drive-enterprise-ready-secure-hybrid-workloads.html

(emphasis mine)

[2017-08-23 08:52] xingzhou commented on #51142
can be reproduced on latest Master code, in my env, after about 1 minute, the removed container will be run again. Looking into the code right now.

[2017-08-23 08:55] zjj2wry commented on #50905
/kind bug

[2017-08-23 09:02] k82cn opened #51182 "integration test failed on Mac"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

It seems we can not start master when running integration test, any suggestion?

Branch: f354857bfbbfc99a66663ee387a14449be30d712

Go version:
[code]

Etcd version:
[code]

Error output:
[code]

[2017-08-23 09:02] k82cn commented on #51182
/sig testing

[2017-08-23 09:03] k82cn commented on #51182
btw, other cases have similar errors :(.

[2017-08-23 09:15] yastij commented on #49625
Also ping @rootfs

[2017-08-23 09:32] shyamjvs commented on #50760
So, I looked into this a bit and here's what I found:
- Something seems weird with the output of commands run using `finishRunning`. They don't seem to be aligned wrt. order of prints to stdout. For e.g from run 755's build-log (https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-kubernetes-e2e-kubeadm-gce-1-7/755/build-log.txt):

[code]

The logs `Sourcing kube-util.sh`, `Detecting pr

[2017-08-23 09:40] post707 opened #51184 "rbd is locked by other nodes"
sig/scheduling
[root@k8smaster k8s]# cat   zk-persistent.yaml
apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: zk
  labels:
    zk-name: zk
    component: zk
spec:
  serviceName: zk-svc
  replicas: 3
  template:
    metadata:
      labels:
        zk-name: zk
        component: zk
      annotations:
          scheduler.alpha.kubernetes.io/affinity: >
              {
                "po

[2017-08-23 09:47] dixudx opened #51185 "kubectl failed to delete uninitialized resources"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig cli

**What happened**:

***This is not a dup of #49035.***

`kubectl` cannot delete resources of `Deployment`/`ReplicaSet`/`StatefulSet` when enabling `initializers`. But works well for other kind of resources.

**What you expected to happen**:
Successfully delete them.

**How to reproduce it (as minimally and precisely as possible)**:

[2017-08-23 09:58] jsafrane commented on #7360
@HardikModha, it's very unlikely that it's the same bug. Please fill a new one and provide some details, mainly logs from controller-manager and volume-nfs provisioner.

[2017-08-23 10:09] post707 commented on #51184
sig/scheduling

[2017-08-23 10:16] JunejaTung commented on #43211
had this bug resolved ? I have upgrade kubernetes to version 1.5.x, this bug is still existent。
@xiangpengzhao @kargakis

[2017-08-23 10:21] sokoow opened #51187 "problems with kubelet 1.6-1.7 working with RHEL/Selinux"
/kind bug
**What happened**:

Same as in https://github.com/rancher/rancher/issues/8491 , I'm experiencing the following when starting kubelet:

[code]

**What you expected to happen**:
Start kubelet normally

**How to reproduce it (as minimally and precisely as possible)**:
RHEL/Centos with SELinux on it

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl ver

[2017-08-23 10:28] post707 commented on #51184
/sig scheduling

[2017-08-23 10:33] sureshdsk opened #51188 "Insufficient documentation for HPA Custom metrics based scaling - GKE(Google container engine)"
**Insufficient Documentation**:

Clear documentation for HPA Custom metrics based scaling is not available.

Documentation required for both
* Minikube
* Google container engine

[2017-08-23 10:36] #50974 closed

[2017-08-23 10:37] rhatdan commented on #48937
I think that is the best solution is to make the PID Namespace sharing optional.

[2017-08-23 10:52] sureshdsk commented on #51188
/sig scalability

[2017-08-23 10:53] sureshdsk commented on #51188
/sig docs

[2017-08-23 11:18] wzdnzd opened #51190 "The status of Persistent Volumes always is pending when i create a new PV."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
![image](https://user-images.githubusercontent.com/8565764/29612872-01623b64-8836-11e7-911e-3be1436aba13.png)

Today i found many PVs  in my k8s cluster are pending and i cann't know what's hapened.It cannot work well when i create a new PV.I'm using Network File System and it work well.

**Anything else we need to know?**:

**Envir

[2017-08-23 11:29] wzdnzd commented on #51190
/sig persistentVolumes

[2017-08-23 12:05] derekwaynecarr commented on #48937
@rhatdan - optional at what scope - cluster, node, pod.  let's sync up before next sig-node and we can revisit if need be before 1.8 goes out.  The main question right now is if pid namespace sharing is opt-in or opt-out.  We need to weigh pro/cons of both.

[2017-08-23 12:17] rhatdan commented on #48937
I would expect it at the POD, since pods would have different requirements, not sure why you would want to have this at the cluster or node level.

[2017-08-23 12:20] w17chm4n commented on #48937
@verb yes it works :)

[2017-08-23 12:27] anurag-saran commented on #51165
I tried the same approach with the host file under /etc/.  This worked but not under WEB-INF. All the files in the container under /etc/ were not deleted.
The only difference between both the dir was:
All directories, files belong to root:root under /etc
All files belong to jboss:root under WEB-INF.

[2017-08-23 12:32] RyPeck commented on #47725
@ami-fairfly this was already mentioned - but is the Idle Timeout on the ELB less than the Keep Alive for your application?

[2017-08-23 12:33] dcieslak19973 commented on #49577
I still seem to be experiencing this problem using version 1.7.4; was it merged into the 1.7.x branch?

[2017-08-23 12:48] deads2k commented on #51076
Why not update your  health check to use the secure port?   The kubelet supports it and the default authorization rules allow it.

[2017-08-23 12:48] verb commented on #48937
@w17chm4n awesome, thanks!

I'd like to better understand the requirements of people objecting to this change (@rhatdan @jarrpa @humblec). I think there's a bit of confusion about what has changed, so let's start with some facts:

1. **This container image runs on Kubernetes** without changes to the image, but it requires (non-obvious) pod configuration.
2. There is nothing inherently incompatible

[2017-08-23 12:49] deads2k commented on #51068
Pretty sure the namespace gets defaulted, so we don't create the object with a namespace backed in.  @fabianofranz  for confirmation.

[2017-08-23 12:57] walteraa commented on #51139
An additional information: I have created a `secret` which is based on the credential JSON file created through [this](https://developers.google.com/identity/protocols/application-default-credentials) instruction. After that, I have configured the Federation controller manager to mount this secret as a volume in the container and set the environment variable `GOOGLE_APPLICATION_CREDENTIALS` to the

[2017-08-23 12:57] sedatkestepe commented on #43800
Super-fun adventures of the CentOS 7.3 user / Vol-II:
OK, I achieved to init kubeadm. However, I am having some issues on getting kubectl version parameter for CNI plugin installation.

What I did was,
- kubeadm reset (like I did after all tries)
- decrease docker version to 1.12.6
- decrease kubernetes components to 1.6.0
- remove following parameters from kubelet config: flag --cgroup-driver="sy

[2017-08-23 13:13] spzala commented on #29307
@aronchick I could recreate the issue with 1.7 and latest upstream.

@pwittrock Agree, I guess we should cover following scenarios with new messages. I am using the command @aronchick tried as an example:

1. First case - user re-run “run” with “expose” when both deployment and service are exist:

[code]

[2017-08-23 13:15] ami-fairfly commented on #47725
@RyPeck Should be. I also tried increasing it but to no avail.

What do you mean by KeepAlive? The ELB health check?

[2017-08-23 13:30] RyPeck commented on #47725
@ami-fairfly referring to the same documentation @nbutton23 referenced. Specifically the HTTP Keep Alive for your application should be 1 second greater than the ELB Idle Timeout.

http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/ts-elb-error-message.html#ts-elb-errorcodes-http504

In [NGINX](http://nginx.org/en/docs/http/ngx_http_core_module.html#keepalive_timeout) - this is set to

[2017-08-23 13:42] deads2k commented on #23225
The choice of which SA to bind is a deployment-specific need, but the role is not. That is why we create the role, but not the rolebinding.  The rolebinding is deployment specific.

[2017-08-23 13:49] rootfs commented on #49625
@yastij see https://github.com/kubernetes/features/issues/88

[2017-08-23 13:52] Raffo commented on #44329
This issue seems to be solved for me, can you also confirm @mikkeloscar ?

[2017-08-23 13:59] pnuzyf commented on #48437
I got the same issue. In my scenario, there are two minon nodes. The iptables on one node is normal, but that on the other node is weird.(actually there is one pod running on this node).

[2017-08-23 14:06] tamalsaha commented on #47257
Reposting  https://github.com/kubernetes/kubeadm/issues/408

I am trying to use my custom out-of-tree cloud provider with Kubernetes. I am able to run it thanks to help from @luxas . But I noticed that kubelet calls apis like `NodeAddressByProviderID()` with empty `providerID` for `external` cloud provider. Digging in the code for 1.7 branch, I see that `Kubelet.Cloud` is null for `external` cloud

[2017-08-23 14:15] tamalsaha commented on #48690
#49836 is a blocker for us. I am trying to use my custom out-of-tree cloud provider with Kubernetes. But I noticed that kubelet calls apis like `NodeAddressByProviderID()` with empty `providerID` for `external` cloud provider. Digging in the code for 1.7 branch, I see that `Kubelet.Cloud` is null for `external` cloud-providers. As a result `GetInstanceProviderID(..)` returns empty string.

[2017-08-23 14:18] jhorwit2 commented on #48690
@tamalsaha does the `--provider-id` flag on the kubelet help you?

[2017-08-23 14:19] tamalsaha commented on #48690
I have not tried with `--provider-id` flag. I am going to check and report back. One issue with using that flag is this is another thing that needs to happen outside kubeadm .

[2017-08-23 14:32] jdumars commented on #50752
Adding to SIG Azure "work in progress" - thank you for an excellent summation here!

[2017-08-23 14:33] jdumars commented on #50152
Adding to SIG Azure agenda for visibility

[2017-08-23 14:34] luxas commented on #23225
The rolebinding is created for kube-dns already. I don't think this is very deployment specific, any deployment is kind of gonna need this any way. Also, there is a `kube-proxy` binding already to the `kube-proxy` user (using a cert CN), but _that_ is insufficient for most deployments.

I don't think we should make the move to RBAC harder than it really is. This seems like a sane thing to do to me

[2017-08-23 14:35] sutasu commented on #30558
+1

[2017-08-23 14:39] tamalsaha commented on #48690
We have noticed another issue related to using `external` cloud providers used with kubeadm provisioned clusters. External cloud controllers usually need working DNS to call cloud provider apis in `ByProviderID()` apis. Now, If I set `--cloud-provider=external` to Kubelet on master, I see that kube-dns pods don't run.

[2017-08-23 14:43] liggitt commented on #23225
I think the service account (and associated binding) should be part of the manifest that deploys kube-proxy. In retrospect, kube-dns should probably do the same.

[2017-08-23 14:58] dixudx commented on #51190
/sig storage

[2017-08-23 15:01] bgrant0607 commented on #23233
I proposed an application definition format and customization approach that I'd like to use with add-ons in my declarative application management doc:
https://goo.gl/T66ZcD

[2017-08-23 15:03] luxas commented on #23225
We know that virtually every deployment will use kube-proxy right. Most of them are deploying kube-proxy as a DS. Kubernetes _should not_ create the SA for the proxy. But why force all the ~70 providers to duplicate this rolebinding? Why end up with 70 duplicate roles per provider vs one auto-bootstrapped?

Again, this is not generally applicable. But in this case (kube-proxy) I really think it is

[2017-08-23 15:06] php-coder commented on #47837
@caesarxuchao PodSecurityPolicy admission plugin mutates a pod. It assigns default values to the `SecurityContext`.

@pweil- @liggitt Correct me if I'm wrong.

[2017-08-23 15:25] ncdc commented on #24070
@Random-Liu if `kubectl run --attach` were implemented under the covers as `kubectl log` + `kubectl attach`, there's still a chance that you'd miss output in between when `log` ended and `attach` attached.

The only way I can think of to reliably support 1b with a docker backend is to somehow make the kubelet wait for the `attach` before it starts the container (i.e. create, attach, start), but it

[2017-08-23 15:35] mtaufen commented on #50216
Closing wrt #51146

[2017-08-23 15:35] #50216 closed

[2017-08-23 15:37] cmluciano commented on #46639
@gurvindersingh This will likely not land in a release until 1.9 (release date in December).

[2017-08-23 15:39] liggitt commented on #47837
you are correct

[2017-08-23 15:43] pipejakob commented on #47882
/close

[2017-08-23 15:43] #47882 closed

[2017-08-23 15:43] liggitt commented on #23225
The provider of the component should define the role (which we do as a bootstrap role).

The binding logically belongs with the service account, since there's no reason for kubernetes to care what you name the service account or what namespace you place it in.

Like I said, I think the kube-dns default service account binding should not have been in bootstrap bindings, but part of the kube-dns RBA

[2017-08-23 15:43] #50200 closed

[2017-08-23 15:44] shashidharatd commented on #44283
Closing this as leader election for leader election for federation controller manager is implemented and merged.

[2017-08-23 15:44] #44283 closed

[2017-08-23 15:45] pipejakob commented on #47820
The kubelet kubeconfig bug has been fixed, and I don't see any other problems with the cluster setup or the upgrade itself. There are still e2e test failures during the upgrade, but I think those should be investigated by the SIGs who own the feature areas.

Were you originally owning this, @foxish?

[2017-08-23 15:48] fisherxu commented on #51076
@deads2k Thanks for quick reply, since other components like kubelet all have the insecure port to do health-check and pprof, so we want to be consistent.Why can't consider open an separate port like other components to do health and metric，8080 only for insecure api for k8s itself. I think this make the architecture more clearer :)

[2017-08-23 15:55] deads2k commented on #51023
I think that's a good idea, but you'll need to have a fallback for when the server is unavailable, shouldn't be accessed (--local), or is slow to build the list. I think that fallback should include *only* resources from the core/legacy api group.

[2017-08-23 15:58] luxas commented on #50760
Renamed this as it happens on master as well.

Latest failure log extract for reference:
[code]

cc @jdumars for the tracking of this infra failure

[2017-08-23 15:59] luxas commented on #50760
(meta: should we mark this v1.8 as it affects that as well and is more important to track?)

[2017-08-23 16:13] mikkeloscar commented on #44329
Yup! We see metrics ever since we upgraded to v1.7.4.

[2017-08-23 16:13] #44329 closed

[2017-08-23 16:16] sylr commented on #49577
@dcieslak19973 It has been, have you added the vnetResourceGroup properties your the azure.json ?

[2017-08-23 16:18] mnussbaum commented on #50928
Not sure if this is the exact right sig to target, but @kubernetes/sig-api-machinery

[2017-08-23 16:26] calvn commented on #48424
So you just uploaded your modified binaries/releases (i.e. binaries/tars from `_output`) to gce every time when iterating/developing for k8s?

[2017-08-23 16:34] lpabon commented on #47733
@mccormd @puja108 I can't seem to reproduce this issue. I am using v1.7.2+coreos.0 and I created the following:

[code]

[2017-08-23 16:35] yguo0905 opened #51205 "Validate Docker 17.03"
/sig node

[2017-08-23 16:42] deads2k commented on #51076
Nothing should use an unsecured port.  All the others should be fixed to remove that port.  Movement on the kube-apiserver is towards securing all ports, not opening specific holes.  Default authorization (rbac) will allow access to healthz, but not to metrics.  Other authorizers should behave likewise.  Anything accessing metrics should be authenticatable.

[2017-08-23 16:45] yguo0905 commented on #51205
/cc @dchen1107

[2017-08-23 16:49] chrissound commented on #51096
Nginx logs is showing this:
[code]

Which is probably the readiness probe.

[2017-08-23 16:56] khenidak commented on #50883
Creating a storage account is a lengthy process (~ 1.5 mins), these 2 accounts are created upfront to ensure that PVCs will be quickly provisioned into existing storage accounts. Since ACS & acs-engine currently supports mixed (managed and blob) disks we won't be able to tell if they user will or won't use blob disks. Maybe once acs-* moves away from blob disks we can disable them. They have no im

[2017-08-23 17:05] chrissound commented on #51096
Nginx debug logs:
[code]

And according to https://stackoverflow.com/questions/15613452/nginx-issues-http-499-error-after-60-seconds-despite-config-php-and-aws#answer-15621223 it sounds like the probe is closing the connection....

Hmm

[2017-08-23 17:05] khenidak commented on #50152
@colemickens - Can you expand on " It took longer for the PV to show up." ? is it showing up on VM?

[2017-08-23 17:30] gnufied commented on #51190
Can you paste your pv's YAML?

[2017-08-23 17:33] caesarxuchao commented on #47837
@php-coder that was a bad example. Anyway, `PodSecurityPolicy` [handles](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/security/podsecuritypolicy/admission.go#L91) pod updates, and it looks like we don't need to update it to adapt to mutating pod spec.

[2017-08-23 17:40] k8s-merge-robot opened #51210 "Failure cluster [194920...] failed 173 builds, 27 jobs, and 24 tests over 1 days"
### Failure cluster [194920f8ea05c87c5e8a](https://go.k8s.io/triage#194920f8ea05c87c5e8a)
##### Error text:
[code]
##### Failure cluster statistics:
24 tests failed,    27 jobs failed,    173 builds failed.
Failure stats cover 1 day time range '22 Aug 2017 14:43 UTC' to '23 Aug 2017 14:43 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Pods should

[2017-08-23 17:45] Calpicow commented on #50878
Try this manifest. It downs my node almost immediately after running.

[code]

[2017-08-23 17:48] madhanrm commented on #49646
Tagging @dineshgovindasamy

[2017-08-23 17:49] jdumars commented on #49646
/sig node

[2017-08-23 17:50] pipejakob commented on #50760
@shyamjvs Based on the job output, it looks like the flag `--disable-log-dump=true` is being set. Do we know why this isn't fully short-circuiting the `log-dump.sh` invocation altogether?

[2017-08-23 17:54] krzyzacy commented on #50760
is that because we are not dumping from ginkgo anymore, but always route to log-dump.sh now?

[2017-08-23 17:59] vishh commented on #46639
This may take longer than v1.9. I'd like to introduce an extensible resources pipeline before adding quota for extended resources. The Resource type `alpha.kubernetes.io/nvidia-gpu` will be removed in v1.9 in favor of a new resource type.

[2017-08-23 18:00] blemagicleap commented on #40590
What's the solution?

[2017-08-23 18:03] crimsonfaith91 commented on #50795
@ericchiang Do the affected clusters have `apps/v1beta2` version enabled? I encountered the same error for a release-blocking GKE cluster, and the error is resolved by enabling the `apps/v1beta2` version.

[2017-08-23 18:05] vladimirvivien commented on #50794
This was fixed in 1.8 and backported in 1.7

[2017-08-23 18:05] #50794 closed

[2017-08-23 18:07] gurvindersingh commented on #46639
thanks guys for the update, wonder if there is any workaround for the near term if possible.

[2017-08-23 18:12] shyamjvs commented on #50760
@pipejakob It is short-circuiting the invocation. The logs you see are from the `DumpClusterLogs` invocation inside kubetest. Like @krzyzacy said, we're not doing it as part of ginkgo anymore.

[2017-08-23 18:13] vishh commented on #46639
Run a custom quota controller? Initializers can be used to achieve that for
example.

On Wed, Aug 23, 2017 at 11:09 AM, Gurvinder Singh <notifications@github.com>
wrote:

[2017-08-23 18:14] vishh commented on #51083
In general, oom_score_adj is not expected to be directly updated by pods and kubelet is expected to manage it.
If kube-proxy runs in the Guaranteed QoS class, then it's OOM score adj will be set to a low number.
Until that happens, kube-proxy process may want to be shielded from OOM kills to an extent (this matters only when kube-proxy's memory usage >> memory request)
Meanwhile, it does not make

[2017-08-23 18:17] pipejakob commented on #50760
Got it. Is there a new flag to disable the new log dumping until it's working for these jobs?

[2017-08-23 18:27] sttts opened #51212 "Staging package cycle: apiserver -> api -> apiserver"
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/admission/v1alpha1/types.go#L23:
[code]

k8s.io/apiserver uses k8s.io/api everywhere, directly and via client-go.

On the other hand, we have in `hack/staging-import-restrictions.json`:

[code]

[2017-08-23 18:27] sttts commented on #51212
@stevekuznetsov any idea why the import checker does not catch this?

[2017-08-23 18:34] oomichi commented on #34427
The corresponding PR has been merged already, so this issue should be closed.

[2017-08-23 18:41] octete commented on #40590
@blemagicleap I don't know. Google updated their version, and it probably got fixed in the migration.

[2017-08-23 18:52] lpabon commented on #50608
I _think_ that some of these annotations are only viewed and used during creation.

[2017-08-23 18:54] luxas commented on #43800
@sedatkestepe Please look at all the issues in https://github.com/kubernetes/kubeadm/issues and file a new one if none of those matches instead of commenting on this closed issue

[2017-08-23 18:57] krzyzacy commented on #50760
https://github.com/kubernetes/test-infra/blob/master/kubetest/anywhere.go#L170-L172

I think you can always disable/implement your own logdump method there.

[2017-08-23 19:06] pipejakob commented on #50760
@krzyzacy Great, I didn't realize that's how it was implemented. Definitely seems like we should just disable this call until we can get it working (which should be tracked in https://github.com/kubernetes/kubeadm/issues/256). I'll open a PR for it.

[2017-08-23 19:25] dchen1107 commented on #50703
@yguo0905 and I introspected the feature earlier, especially with K8S integration with both docker 1.12.x and 1.13.x. I am summarizing what we found so far:

1) Docker daemon performs the health check in container's cgroup, not in daemon's cgroup. This is good. But the check consume the container's allocated resource, which might slow down the container's performance.

2) There is a process leakag

[2017-08-23 19:28] pipejakob commented on #50760
Still testing locally, but https://github.com/kubernetes/test-infra/pull/4164 should disable the cluster log dumping altogether.

[2017-08-23 19:31] khenidak commented on #50152
Just to clarify why i asked, the "DiskClient" is used to create/delete disks. "VirtualMachineClient" is the one used for Attach/Detach (and that is where our time-to-complete-operation budget is mostly spent) and is currently configured with [poll](https://github.com/kubernetes/kubernetes/blob/8b30aaec39800616e8a8578d54222853689211c5/pkg/cloudprovider/providers/azure/azure.go#L251) every 5 sec

[2017-08-23 19:41] erictune commented on #48841
+1 to design before code.

Specific questions for design to address:
  - What is a concrete example application (prefer more than 1) that will use this upgrade strategy
  - If  old pod and the new pod need to use the same port, how is control of the port transfered.  There are several ways I can imagine doing this.  Which one(s) do we want to support/endorse.
  - Are there other resources besides

[2017-08-23 19:46] crimsonfaith91 commented on #50808
@liggitt @smarterclayton @kargakis @mikedanese @mfojtik @tnozicka
I came out with a PR that makes the selector immutable without changing validation codes. Feel free to review it to ensure it looks good to you. Thanks!
https://github.com/kubernetes/kubernetes/pull/50719

[2017-08-23 19:49] ericchiang commented on #49704
(this appears to be working again)

[2017-08-23 19:49] #49704 closed

[2017-08-23 20:04] enisoc commented on #48327
v1.6.9 is out now: https://github.com/kubernetes/kubernetes/releases/tag/v1.6.9

[2017-08-23 20:04] ddurgadas commented on #45974
/assign

[2017-08-23 20:05] jdumars commented on #50945
@kubernetes/sig-api-machinery-bugs this is currently blocking the alpha.3 release

[2017-08-23 20:08] dcieslak19973 commented on #49577
I don't think so. I've provisioned the cluster using acs-engine. Is the azure.json file just on the master node(s)?

[2017-08-23 20:08] mml commented on #45974
@ddurgadas FYI @jpbetz has been working on a tool for this.

[2017-08-23 20:16] jdumars commented on #51123
@kubernetes/sig-storage-bugs this is currently blocking alpha.3 release

[2017-08-23 20:18] wongma7 commented on #51123
@jdumars we are just waiting for https://github.com/kubernetes/kubernetes/pull/51166 approval

[2017-08-23 20:19] dims commented on #50945
@cheftako looks like this new test was added by in https://github.com/kubernetes/kubernetes/pull/50347 which was merged about 6 days ago and is failing consistently

[2017-08-23 20:36] MrHohn commented on #51083
@vishh Thanks for clarifying. At this point, I prefer to use the built-in flag instead of relying on composing bash commands. Sent #51221 for this.

[2017-08-23 20:55] ixdy commented on #49673
gcloud 168.0.0 seems to have broken things further. I'm now consistently getting stuff like
[code]

[2017-08-23 21:00] bgrant0607 commented on #8550
Ref #8190 so that it's on my "v2" radar.

[2017-08-23 21:02] krzyzacy commented on #51136
@MrHohn just figured out janitor was consistently failing due to some gcloud changes. I'm going to pin it to an older version for now.

[2017-08-23 21:03] shyamjvs commented on #49673
Yes.. Heard the same issue from @jcbsmpsn too very recently. The fix needs to go in asap.

[2017-08-23 21:05] bgrant0607 commented on #50808
First of all, I'd like to find a way to make this happen. I think it will be less error-prone for users. I think there are some patterns we will want to allow, such as allowing new `!key` selector terms in order to facilitate adoption, canaries, and other evolution scenarios, but those can be pushed into the future.

Note that we still intend to make validation versioned eventually: #8550

Also, i

[2017-08-23 21:08] cblecker commented on #51136
@krzyzacy same issue as https://github.com/kubernetes/kubernetes/issues/49673 ?

[2017-08-23 21:08] krzyzacy commented on #51136
what I got was:
[code]

[2017-08-23 21:09] ixdy commented on #49673
this latest breakage seems different. `gcloud compute instance-groups managed list` is now returning a URL, and `gcloud compute instance-groups managed list-instances` isn't parsing that URL correctly.

[2017-08-23 21:12] dims commented on #51187
/sig node

[2017-08-23 21:18] StevenACoffman commented on #50449
Just to follow up @enzian, I used [k8s-oidc-helper](https://github.com/micahhausler/k8s-oidc-helper) and was able to successfully Authenticate to google API for kubectl usage. We use kops, so we specify our cluster yaml like this:
[code]

[2017-08-23 21:29] janetkuo commented on #51013
I saw this as well. I've seen this panic in ds, deploy, and disruption controller. Logs also pointed me to `k8s.io/client-go/tools/cache/controller.go` and `k8s.io/client-go/tools/cache/shared_informer.go`

/sig api-machinery

[2017-08-23 21:32] ixdy commented on #51136
@krzyzacy it looks like that filter is broken in gcloud 167.0.0 but fixed in 168.0.0.

I really wish `gcloud` would stop breaking everything.

[2017-08-23 21:33] dims commented on #51205
@yguo0905 duplicate of https://github.com/kubernetes/kubernetes/issues/42926 ?

[2017-08-23 21:33] caesarxuchao commented on #49987
@mandarjog I don't have time testing the fix (#50476) before code freeze. I'll resume working on this after Sept.1. The fix will be included in 1.8.

[2017-08-23 21:45] luxas commented on #45581
@DirectXMan12 is this still an issue?

[2017-08-23 21:47] yguo0905 commented on #51205
Sort of. I was going to post the e2e test results for 17.03 here but since this is essentially a patch release for 1.13, maybe I should just update the results in https://github.com/kubernetes/kubernetes/issues/42926.

[2017-08-23 21:52] caesarxuchao commented on #48893
Yet another reason to have a sharedinformer that supports uninitialized objects, because otherwise, rs controller will create extra pods in the following situation:

replicaset controllers creates the pods, but the pods are slow to initialize, then user change the rs.spec.replicas, because rs controller don't see the uninitialized pods, it thinks there are 0 existing pods so it creates full rs.spe

[2017-08-23 22:07] dims commented on #51182
@k82cn - other than failures under `k8s.io/kubernetes/test/integration/configmap` which other tests are failing?

[2017-08-23 22:20] thockin commented on #51075
the more automatic the better

[2017-08-23 22:37] bgrant0607 commented on #30558
Also ref #22368 and #49961.

But I'm pretty sure this is already possible using `kubectl create configmap --dry-run -o yaml ... | kubectl replace -f -`

[2017-08-23 22:39] xiang90 commented on #51099
etcd 3.3 release supports gRPC 1.4. It will be release soonish. When we bump gRPC, we need to bump etcd.

/cc @shyamjvs @wojtek-t @jpbetz