[2016-09-20 13:44] ncdc commented on #30489
I have no updates on this and no real insight as to why it's happening. It also doesn't appear to have flaked in the same manner as `Unexpected kubectl exec output. Wanted "running in container\n", got ""` in a month. I am going to close this for now, and we can reopen if needed.

[2016-09-20 13:44] #30489 closed

[2016-09-20 13:45] gmarek commented on #32441
@wojtek-t 's logs shows that for some reason non of hollow-nodes started.

[2016-09-20 13:46] kargakis commented on #32567
Recreate on master
[code]

[2016-09-20 13:49] kargakis commented on #32567
Recreate on master
[code]

[2016-09-20 13:50] gmarek commented on #32441
Reason is straightforward - there was no Node with configured network (cc @mikedanese, @bprashanth):
[code]

[2016-09-20 13:51] jszczepkowski commented on #32685
Another instance of this problem:
https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-test-go/17213/build-log.txt

[2016-09-20 13:55] gmarek commented on #32441
This was because gcloud wasn't working correctly:
[code]

It eventually recovered:
[code]
but it was too late, and test was already tearing itself down at that time. I'll increase the timeout to account for very long route creation.

[2016-09-20 14:09] k82cn opened #33091 "Node e2e build failed on MacOS"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
master

**Environment**:
- **OS**:
MacOS
- **Kernel** (e.g. `uname -a`):
Darwin Klauss-MacBook-Pro.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Aug 29 20:21:34 PDT 2016; root:xnu-3248.60.11~1/RELEASE_X86_64 x86_64

**What happened**:

Build failed:

[code]

**What you expected t

[2016-09-20 14:12] d6u commented on #26309
@indrekj I haven't try the new version of Kubernetes recently. But I haven't found any solution.

[2016-09-20 14:12] kargakis commented on #32567
@smarterclayton I still don't get this. The API server should be the only source of truth. If I get a replica set with spec.replicas==status.replicas==status.terminatingReplicas==0, why shouldn't that be the case ie. no pods for that version exist? Is the API server split-brained when a node is under maintainance? Do we need more guarantees from kubelets?

[2016-09-20 14:14] MHBauer commented on #26210
I think the failure is mainly the case
[code]
I'm not sure how that helps given it only fails the first time, and succeeds the other 95%. It's not the the first case that gets started to run, unless the goroutine is delayed, but even then that wouldn't explain why it is consistently that particular test.

I do not know what additional info we could output to solve this.

Throw a sleep in there? Gi

[2016-09-20 14:19] gmarek commented on #32366
It seems that it wasn't fixed. cc @jszczepkowski @ixdy

[2016-09-20 14:23] rootfs commented on #33088
Adding some colors.

@kubernetes/sig-storage @derekwaynecarr

## What is the problem?
Cloud providers like AWS/GCE/Azure have rate limits on API calls. GCE and Azure have fixed API calls per second, while AWS doesn’t offer fixed quota.

Once API call quota are exhausted, no more API calls are allowed. Consequences include:
-  If the error code path are not well tested, unexpected behavior will hap

[2016-09-20 14:24] desperado-bvb opened #33093 "code issue: why not just use atomic put? What are the benefits of CAS？"
@hongchaodeng
What are the benefits of CAS？ why not just use txn or atomic put?  some special  failure scenarios？

`/ GuaranteedUpdate implements storage.Interface.GuaranteedUpdate.
func (s *store) GuaranteedUpdate(ctx context.Context, key string, out runtime.Object, ignoreNotFound bool, precondtions *storage.Preconditions, tryUpdate storage.UpdateFunc) error {
	.......

		txnResp, err := s.client

[2016-09-20 14:28] #29155 closed

[2016-09-20 14:40] quinton-hoole commented on #32366
@gmarek This is fixed in head.  See recent PR by @colhom

[2016-09-20 14:50] nicolasbelanger commented on #31708
Resolved on my side.  I was using heapster:canary, which most probably (to be verified) uses heapster 1.2.  Then it looks like kube 1.3 requires heapster 1.1 (heapster 1.2 is for kube 1.4).

Resolved by spinning this:

`kubectl create -f https://raw.githubusercontent.com/kubernetes/kops/master/addons/monitoring-standalone/v1.1.0.yaml`

Ref.: https://github.com/kubernetes/kops/blob/master/docs/addo

[2016-09-20 14:50] wongma7 opened #33096 "API groups (certificates, rbac) missing from hack/update-codegen.sh, generated clientsets"
Opening as follow-up to https://github.com/kubernetes/kubernetes/pull/33040#issuecomment-248147211

In that PR I added the storage api group to the 1.5 clientset (hoping to get it back in 1.4 as well.) because I want it to end up in client-go. Other groups appear to be missing (certificates, rbac). Might be due to missing documentation about the new versioned client stuff.

@kubernetes/sig-api-mac

[2016-09-20 14:51] pwittrock commented on #32770
Yes, just happened 3x in a row here: #33055

[2016-09-20 14:53] derekwaynecarr commented on #33088
I understand there is a problem, but I am not convinced on any particular solution.  Can we get a more detailed enumeration on the code paths that invoke cloud provider backed interfaces, and where we would want some bucket to control rate for those calls?  I don't think the existing `ResourceQuota` object should bleed concepts from the underlying cloud provider, and I don't think its setup to sup

[2016-09-20 14:54] derekwaynecarr commented on #33088
/cc @deads2k

[2016-09-20 14:59] hongchaodeng commented on #32770
@timothysc
Do you think we can create a new etcd instance every time? As mentioned in https://github.com/kubernetes/kubernetes/commit/8723fbaa61a032e8395b4f60a272de1dbc3430d1

[2016-09-20 15:03] mikedanese commented on #11384
It's not complete as we still have to remove the subcommand. I think we can do that now.

[2016-09-20 15:05] ncdc commented on #32685
cc @derekwaynecarr @timothysc if you have any spare hands to fix some missing locks in the fake watchers.

[2016-09-20 15:08] #32441 closed

[2016-09-20 15:18] rvrignaud commented on #29903
Hi @saad-ali and @jingxu97 ,

Did you have any chance to have a look of what happened ? Did you reproduced the bug ?

Regards,

[2016-09-20 15:26] pwittrock commented on #33019
@a-palchikov  Thank you.  That is very helpful.

[2016-09-20 15:34] aveshagarwal commented on #25320
@davidopp @kevin-wangzefeng As discussed in the yesterday's sig-scheduling meeting, would like to have feedback on my last comment or in general.

[2016-09-20 15:37] DImuthuUpe commented on #32985
We tried to delete the deployment using the java client https://github.com/fabric8io/kubernetes-client. So basically it is though the REST API

[2016-09-20 15:40] pwittrock commented on #33019
@a-palchikov  Thank you.  That is very helpful.

[2016-09-20 15:43] timothysc commented on #32685
@ncdc we're all over https://github.com/kubernetes/kubernetes/issues/32770 atm... if we don't have a fix by COB we'll have to revert and find a new path.

[2016-09-20 15:46] kargakis commented on #1535
We have the garbage collector in place now but is there an umbrela issue or separate issues for making it work for all of the resources that need graceful deletion?

[2016-09-20 15:47] kargakis commented on #1535
Maybe https://github.com/kubernetes/kubernetes/issues/26120?

[2016-09-20 15:48] kargakis commented on #32985
I am not familiar with the fabric client and how are they implementing the deployment reaper - unfortunately it is a client-specific thing atm, deleting a deployment via the API cannot cascade currently.

See https://github.com/kubernetes/kubernetes/issues/12143 and https://github.com/kubernetes/kubernetes/issues/26120

[2016-09-20 16:05] pwittrock commented on #32332
@janetkuo Would you update this with the things we were seeing in the kubectl tests.  E.g. that deletes for some objects (e.g. RS) are asynchronous, so if you do a programatic delete and then a read you will still see the object there for a bit.

[2016-09-20 16:05] k82cn commented on #33091
cc @vishh , any suggestion?

[2016-09-20 16:13] hongchaodeng commented on #32770
@timothysc
#33099 won't fix the problem.
I do have another workaround for this until etcd fix comes in.

[2016-09-20 16:14] justinsb commented on #33084
I edited the "headline" problem report here.

AFAICT the issue here is that k8s does not detect that the image is in use when the container is not a k8s-started docker container; it will try to delete it, and this will fail because the image is in use.

[2016-09-20 16:28] hongchaodeng commented on #32770
#33101 is on

[2016-09-20 16:30] #33093 closed

[2016-09-20 16:37] metral opened #33102 "PersistentVolumeClaims using NFS leave its PersistentVolume in the "Released" state after the PVC has been deleted"
After a PVC has been deleted, its underlying PersistentVolume should be in the "Available" state and not in the "Released" state. If in "Released", then the PV is not usable by any other PVC's until the PV is deleted and a new one is created.

This is a dup of https://github.com/kubernetes/kubernetes/issues/27164 and #20753. My last issue  on this (https://github.com/kubernetes/kubernetes/issues/2

[2016-09-20 16:38] jlowdermilk commented on #32669
I've seen this happen once or twice installing on my machine. We didn't change anything so this may be a regression in gcloud's install mechanism. I'll follow up with cloud sdk team.

[2016-09-20 16:48] yujuhong commented on #29478
I think we'll most likely drop support for docker 1.9 in the next release, so let's cross that out from our list.
For 1.10, we should try o support it if possible. /cc @dchen1107

[2016-09-20 16:49] thockin commented on #33065
We support embedded USER in teh Dockerfile, but I don't see a way to expose
our pod...runAsUser through `kubectl run`

On Tue, Sep 20, 2016 at 1:57 AM, Tom Xing <notifications@github.com> wrote:

[2016-09-20 16:49] lorenjanwilson opened #33104 "Capabilities in security context need to be specified differently for docker vs rkt"
**Kubernetes version** (use `kubectl version`): kubelet and hyperkube 1.3.6

**Environment**:
- **Cloud provider or hardware configuration**: baremetal
- **OS** (e.g. from /etc/os-release): ubuntu 16.04.1 LTS
- **Kernel** (e.g. `uname -a`): 4.4.0-36-generic
- **Install tools**:
- **Others**:  rkt 1.9.1, docker 1.11.1

**What happened**:

Capabilities need to be specified differently in a pod manif

[2016-09-20 16:52] k8s-merge-robot opened #33106 "[k8s.io] [Feature:Example] [k8s.io] Storm should create and stop Zookeeper, Nimbus and Storm worker servers {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/15393/

Failed: [k8s.io] [Feature:Example] [k8s.io] Storm should create and stop Zookeeper, Nimbus and Storm worker servers {Kubernetes e2e suite}

[code]

Previous issues for this test: #29225

[2016-09-20 16:58] caesarxuchao commented on #32332
The `kubectl delete` is described in the CHANGELOG: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#kubectl-delete

[2016-09-20 17:01] childsb commented on #33102
Will you provide your PV and PVC yaml?

[2016-09-20 17:10] vishh commented on #13479
No progress yet on limiting usage. We do have an optional feature which
will evict pods based on disk usage whenever the disk availability is low.

On Tue, Sep 20, 2016 at 1:16 AM, liubog2008 <notifications@github.com>
wrote:

[2016-09-20 17:13] janetkuo opened #33107 "https://github.com/kubernetes/kubernetes/issues/32768"

[2016-09-20 17:14] #33107 closed

[2016-09-20 17:20] derekwaynecarr commented on #33049
@sjenning -- are you interested in plumbing this?

[2016-09-20 17:22] vishh commented on #33091
@Random-Liu attempted to fix this error in a recent PR.

[2016-09-20 17:24] sjenning commented on #33049
@derekwaynecarr i actually started looking at it last night.  Didn't seem too bad.  Only gotcha I can think of is the caching of DM stats that are kinda hidden from the housekeeping tick routine.

[2016-09-20 17:25] vishh commented on #33049
+1 for adding timestamp to FsStats.

On Tue, Sep 20, 2016 at 10:25 AM, Seth Jennings <notifications@github.com>
wrote:

[2016-09-20 17:27] yujuhong commented on #33048
It'd be good to do that in general. For this particular task, I don't think it's necessarily required.
On the other hand, there are some more concerns about whether container-level metrics need to be included in kubelet, so the metrics in CRI won't be defined until those issues are resolved.

[2016-09-20 17:27] derekwaynecarr opened #33108 "Pod QOS calculation is confused by opaque resources"
**Scenario:**

A pod that makes a request for a GPU, but makes no cpu or memory request.

**Expected result:**

Pod has BestEffort QOS

**Actual result:**

Pod has Burstable QOS

**Details:**

The QOS classification should align with resources that are cgroup managed on the node.  We should ignore opaque resources that are not node enforced.

See: https://github.com/kubernetes/kubernetes/issues/32

[2016-09-20 17:28] derekwaynecarr commented on #32468
I spawned #33108 to handle the opaque resources influencing the node level qos.

[2016-09-20 17:36] Random-Liu commented on #33091
I'll take a look. node_e2e should not be built on mac. It's weird.

[2016-09-20 17:41] yujuhong commented on #33084
@justinsb @zapman449 what version of kubelet is this? I just checked the image GC code and it should continue removing images even if some of the deletion requests failed.

[2016-09-20 17:41] vishh commented on #33108
+1. Binary or Counted resources can be ignored for QoS purposes. I don't think QoS should be restricted to cgroups. Disk for example will be outside of cgroups, but still be part of QoS in the future.

[2016-09-20 17:44] rootfs opened #33109 "Add Pod Namespace to volume.Spec"
## What's the problem?

Volume plugins, e.g. RBD, that implement attach/detach interface need to know the namespace to get Secret to attach and detach volume.
## Background

[volume.Spec](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/plugins.go#L234) transfers information between controllers and volume plugins. It is the only place we can add namespace and expect it to be used by

[2016-09-20 17:47] nqn commented on #32468
I don't think the GPU resource's influence on QoS is the issue per se. It is the user experience (as you already hint to) so I would love to see users chime in on this. Whether the current inferred class is easier or harder to understand than the explicit one. I'm afraid I did not find it intuitive.
As to the limit ranger; is the fact that people are running BE pods by accident not an indication t

[2016-09-20 17:52] jingxu97 commented on #32960
I traced the workflow, and it seem like the change #32779 is not used in this test.
It failed on this line https://github.com/kubernetes/kubernetes/blob/0877816ec8eae4739980d4d4b530801075e7c37e/test/e2e/framework/nodes_util.go#L128

@mikedanese could you please help take a look at it? This is related to MIG rolling update

[2016-09-20 17:53] jbeda opened #33110 "OpenAPI generated files break incremental builds"
Incremental builds seem to be broken by #31468.

To repo:
1. Run `make WHAT=cmd/kubectl`
2. Run `make WHAT=cmd/kubectl` again

Notice that it is rebuilding kubectl.

We can debug by running `make WHAT=cmd/kubectl --debug=b` and see lines like:
[code]

It looks like the makefiles are creating a dependency on a file that never gets built.

@thockin -- you managed to make this work with the other gen

[2016-09-20 17:58] Random-Liu commented on #33091
I checked our cross build, everything is good:
[code]
@k82cn Are you sure you are using head? Have your code included https://github.com/kubernetes/kubernetes/pull/32884?

[2016-09-20 17:59] ConnorDoyle commented on #33108
+1, and can help to review the PR

[2016-09-20 18:00] chrislovecnm commented on #27476
@pwittrock / @lwander shall we close?

[2016-09-20 18:01] chrislovecnm commented on #25889
@jayunit100 seems that we have a flaky test.  Please hold off closing.

[2016-09-20 18:03] vishh commented on #32468
Not really. The state of system wrt. resource isolation required us to add a limit ranger in the past. It might not be necessary moving forward to include a limit range by default.

My point is that Limit Range is meant to influence QoS. Why is that considered unintentional. They are put in place by admins intentionally. For example, one can use Limit Range to disallow BE pods all-together.

FYI:

[2016-09-20 18:03] vishh commented on #33108
I'm working on a patch.

On Tue, Sep 20, 2016 at 11:00 AM, Connor Doyle <notifications@github.com>
wrote:

[2016-09-20 18:04] lwander commented on #27476
SGTM, looks like your petset example demonstrates this is fixed.

[2016-09-20 18:08] metral commented on #33102
PV:
[code]

PVC:

[code]

[2016-09-20 18:09] justinsb commented on #29324
This seems to be fixed in v1.4.0-beta.8

We will work on backports & further validation

[2016-09-20 18:16] nikhiljindal commented on #32733
This is passing locally for me. So this is definitely not a code issue, just a test setup issue.
The failure on Jenkins might be a low timeout issue.

[2016-09-20 18:18] janetkuo commented on #32332
@caesarxuchao That behavior change isn't specific to `kubectl delete`

[2016-09-20 18:21] caesarxuchao commented on #32332
Thanks for the reminder. I'll update the changelog to make it more generic.

[2016-09-20 18:26] erictune commented on #19762
What is the problem that this is solving?  Is it helping the user by making the config less verbose when the same object is referenced several times?  Or is it making the implementation in kubelet/runtime easier by restricting they ways that files-in-objects can be combined into files-in-chroots.

[2016-09-20 18:26] erinboyd commented on #33102
Hi Mike,
Your PVC binds to that PV? You are certain?
Erin

On Tue, Sep 20, 2016 at 12:08 PM, Mike Metral <notifications@github.com>
wrote:

[2016-09-20 18:32] derekwaynecarr commented on #33108
@vishh -- fair point on disk, but i ignored that part of the discussion for now ;-)

[2016-09-20 18:36] metral commented on #33102
@erinboyd Yes, I'm certain.

Here's the actual output of each resource:

PV
[code]

PVC:
[code]

[2016-09-20 18:38] tmrts commented on #30709
Sorry for the delay, see the proposal at #33111

[2016-09-20 18:43] derekwaynecarr commented on #32468
As for the core of this discussion around QOS:

* Developers that build web console experiences need to reproduce our QOS calculation logic.  This makes them vulnerable to the same bugs we just fixed in #33108 for each experience they produce.  I am supportive of a read-only attribute on `PodStatus` that states the QOS class of a Pod since once we have qos enforced on the node, we have said a pod

[2016-09-20 18:45] spxtr opened #33113 "Restart test needs to restart nodes in a different way."
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/restart.go

This test wants to restart all nodes and make sure that kubernetes survives the process. That's a neat test, but it does the actual restart in a poor way. It does a MIG rolling-update to its own image. If a rolling-update already exists in some sort of error state then all future rolling-updates in that project on an instanc

[2016-09-20 18:49] chrisleck commented on #29324
Where can we track the backport to 3.x?

[2016-09-20 18:53] philk commented on #13305
Important note for someone else who comes across this thread, node-problem-detector doesn't find this issue on CoreOS (lack of journald support) until kubernetes/node-problem-detector#33 is merged

[2016-09-20 18:55] mikedanese commented on #32960
The rpc to update the mig is failing with:
[code]
and
[code]
shows
[code]

[2016-09-20 18:59] yifan-gu commented on #27975
Still sees some error when some time l7 and dns pods running together. Not sure about the reason yet, so keep the issue open.

[2016-09-20 19:00] #32770 closed

[2016-09-20 19:05] justinsb commented on #32900
Is there a workaround for 1.3 / 1.4?  What we have right now (at least in kops) is that we bring up the master with a /30 (soon to be a /29).  In kops we then allocate it a /24 PodCIDR.  But kubenet ignores this, so daemonsets (which as on 1.3 schedule onto the master) fail.  We're getting multiple user complaints.  I suspect we'll have to at least have to add this into the 1.4 issue tracker.

Som

[2016-09-20 19:07] yujuhong commented on #33113
ref: #10826

[2016-09-20 19:07] moserke opened #33114 "vSphere Cloud Provider invalid server name"
Having an issue with how the vSphere provider is initialization and getting the VM name from vCenter.  Currently the provider tries to get the VM name by looking for the VM by IP address.  The issues arises here in that if you are using an overlay network, like flannel, and have multiple clusters running in the same datacenter, this method of finding the VM becomes non-deterministic.  This is beca

[2016-09-20 19:20] jianhuiz commented on #32733
it appears that kubelet is killing and restarting etcd which causes the instability of the underlying k8s clusters which makes the federation e2e test difficult to succeed.

following are the logs, note that I was running k8s in OpenStack

[code]

[2016-09-20 19:21] jingxu97 commented on #29324
@pwittrock I am wondering whether we can leave it open until the fix is backported and users confirm the fix works fine?

[2016-09-20 19:34] timstclair commented on #33056
@vishh I'm probably not going to have time to get to this this week, can you coordinate debugging it?

[2016-09-20 19:46] ye commented on #28977
I have encountering the same issue.

[code]

[2016-09-20 19:59] ye commented on #8598
@derekwaynecarr `--cascade=false` indeed worked for me as well. However, without cleaning out the resources in a cascade fashion, would it eventually clog up k8s server? Who's going to do the garbage collection?

[2016-09-20 19:59] dcbw commented on #32900
Are we talking Kubenet here, or are we talking CNI?  If we're talking kubenet then --reconcile-cidr should make kubelet update the bridge address on restart at least.

But for CNI, that is all under the control of the CNI plugin itself and whatever config is on-disk when kubelet starts.  kubelet doesn't write out that configuration, and its out-of-scope for kubernetes to write that configuration o

[2016-09-20 20:07] dcbw commented on #32900
@justinsb if --reconcile-cidr is passed to kubelet it will watch for podCIDR changes and forward that to kubenet.  kubenet will then update the bridge's IP address and the allocation subnet.  Subsequent pods will get addresses in the new podCIDR.  Existing pods will not be re-numbered or restarted at all, but that didn't happen before either with --configure-cbr0/--reconcile-cidr AFAIK.

Why is th

[2016-09-20 20:10] timstclair commented on #33056
Summary from previous debugging:

- nodes are missing the `KUBE_MANIFESTS_TAR_URL` variable, which is why the health-monitor is missing
- if the `NODE_OS_DISTRIBUTION` is not properly set then the `KUBE_MANIFESTS_TAR_URL` wouldn't be set here: https://github.com/kubernetes/kubernetes/blob/master/cluster/common.sh#L436

The next step may be to retry the upgrade with some better debugging & logging

[2016-09-20 20:15] timothysc commented on #18099
closes via #31030, #32902

todo items would be to fill in for the other tests.

[2016-09-20 20:15] #18099 closed

[2016-09-20 20:23] vishh commented on #33056
I suspect that `upgrade.sh` isn't setting env variables correctly. Posting
a patch for it.

On Tue, Sep 20, 2016 at 1:11 PM, Tim St. Clair <notifications@github.com>
wrote:

[2016-09-20 20:40] nikhiljindal commented on #32733
@jianhuiz Is that specific to replica sets or are all federation e2e's failing on Openstack?
If the latter, then might be better to open a new issue specific to federation on openstack?

[2016-09-20 20:41] janetkuo commented on #33019
@caesarxuchao

[2016-09-20 20:42] thockin commented on #32900
When we EOL kubenet (if?) what is the story here?  It feels like CNI
actually wants to be doing the recociliation itself, and kubelet should be
totally agnostic to that, with a possible exception of CNI telling kubelet
"everything changed, restart all the pods".

On Tue, Sep 20, 2016 at 1:08 PM, Dan Williams <notifications@github.com>
wrote:

[2016-09-20 20:43] pwittrock commented on #32366
Why is this a release blocker?

[2016-09-20 20:43] nikhiljindal commented on #32733
Am able to reproduce the failure locally when I run all the tests.
Replicaset tests pass when I run only the replicaset tests, so looks like something else is interfering.

[2016-09-20 20:45] nikhiljindal commented on #32733
Looking at the failure logs, I see that the controller manager is crashing with the following panic:

[code]

Not sure why does that panic happen only when the replicaset tests are running (maybe it has to do with the order in which tests are run).
Sending a fix for the panic.

[2016-09-20 20:51] jingxu97 commented on #32960
So based on @mikedanese 's investigate, there are two issues.
1. gcloud alpha rolling updates crashes on any rpc error. Because of this, we could not get the real error message directly. File a bug against it  https://buganizer.corp.google.com/issues/31629319
2. On Sep 15th,  when the test first started, it tries to rolling update the nodes which failed because there is an existing update. But whe

[2016-09-20 20:56] nikhiljindal commented on #32733
Sent https://github.com/kubernetes/kubernetes/pull/33120

I see now that the ingress e2e is also failing with the same panic.
So the fix is for both ingress e2e and replicaset e2e.

[2016-09-20 21:02] bprashanth commented on #32900
@justinsb we started using kubenet in 1.3 which has this behavior (I guess you knew this as you report user frustration)

@dcbw old config-cbr0 would recreate the bridge and old docker would restart containers on daemon restart so it worked out. Right now the problem is that host ipam eats the one ip in the /30, any container created on the initial subnet gets wedged (and the /24 later allocated d

[2016-09-20 21:06] pwittrock commented on #31626
[link](https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gce-cvm-1.3-cvm-1.4-upgrade-cluster)

@piosz can you take a look at this.  It is an urgent P0 blocker for launch.

[2016-09-20 21:08] dcbw commented on #32900
@thockin yes, that would be the story here.  kubelet is totally agnostic to these kinds of network configuration games, and the plugin owns it all.  It's fine to have the apiserver store that kind of thing, but I don't think kubelet should care about it.

The one thing kubelet *does* do right now is watch that value and push it to plugins when that value changes.  Since kubenet is currently fire &

[2016-09-20 21:11] mbohlool commented on #33110
I think I know what causes this. We moved from many generated files model to a single file but I may need to update makefiles to reflect that. My first problem is the make is passed on my Mac. Is there any special environment I should try this to see the error? It is important for me to see the error so I know when I fixed it.

[2016-09-20 21:11] pvnguyen opened #33124 "reconfDocker.sh appends a copy of DOCKER_OPTS each time Kubernetes cluster is restarted"
**Kubernetes version** (use `kubectl version`): 1.3.7

**Environment**:
- **Cloud provider or hardware configuration**: Bare-metal Ubuntu cluster
- **OS** (e.g. from /etc/os-release): Ubuntu 14.04.3 LTS
- **Kernel** (e.g. `uname -a`): 3.19.0-47-generic
- **Install tools**: KUBERNETES_PROVIDER=ubuntu ./kube-up.sh
- **Others**: Docker version 1.12.1

**What happened**:

`cluster/ubuntu/reconfDocker.

[2016-09-20 21:11] dcbw commented on #32900
@bprashanth yes, but why is kubelet getting started with a /30 in the first place?  That seems quite pointless, since there's only 1 available address.  Why not start the node with *no* podCIDR and then set the podCIDR for that node later when you allocate the /24?

kubelet would happily start, except that the network plugin will set the NodeNetworkUnavailable condition until it has a valid podCID

[2016-09-20 21:25] dcbw commented on #32900
FWIW, on sig-network a user pasted the kubelet command-line:

/usr/local/bin/kubelet --allow-privileged=true --api-servers=http://127.0.0.1:8080  --babysit-daemons=true --cgroup-root=docker --cloud-provider=aws --cluster-dns=100.64.0.10 --cluster-domain=cluster.local --config=/etc/kubernetes/manifests --configure-cbr0=true --enable-debugging-handlers=true --network-plugin=kubenet --non-masquerade-

[2016-09-20 21:30] caesarxuchao commented on #33019
FWIW, I reproduced the bug, the 1.4 kubectl entered this `if` clause, while I expected it not to. I expected it to load the local config.

I'll read the previous discussion.

[2016-09-20 21:31] smarterclayton commented on #32567
The API server isn't the only source of truth.  The node controller and
namespace controller can both terminate pods at the end of their life in a
way that prevents you from seeing that you were terminated.  We've
discussed solving this for pet sets by having the pet set be a finalizer,
which would mean that everybody would try to clean it up and then the pet
set controller would get to observe th

[2016-09-20 21:32] dcbw commented on #32900
Ah, I did miss this in kubenet:

	if plugin.netConfig != nil {
		glog.V(5).Infof("Ignoring subsequent pod CIDR update to %s", podCIDR)
		return
	}

so yes, if you pass --pod-cidr on the command line, then subsequent changes will be ignored.  I believe we had a discussion about this long ago, but it's mainly to prevent the thing Tim talks about: do the old pods keep running with the old address, ev

[2016-09-20 21:34] Crassirostris opened #33126 "Elasticsearch works slowly on GCI"
When e2e test es_cluster_logging runs with default configuration in gce, everything works.

If you set nodes os to gci, test becomes flaky if works at all (#32804)

Elasticsearch logs shows that after that change initialization time grows significantly, which can be reason behind flakiness

The question is why gci as a host os influences elasticsearch.

## With debian as node os

### How to reprod

[2016-09-20 21:36] paultyng opened #33127 "AWS kube-controller-manager - multiple instances found for name"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): 1.3.6

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CoreOS 1122.2.0
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**: kube-controller-manager complains of multiple instances found fo

[2016-09-20 21:41] kiall opened #33128 "OpenStack Cinder can report an incorrect device path for volume attachments"
**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"3+", GitVersion:"v1.3.7-hpe.1", GitCommit:"16372fb71140a39a119c87559662e14b5ec0366a", GitTreeState:"clean", BuildDate:"2016-09-03T00:47:27Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"3+", GitVersion:"v1.3.7-hpe.1.1+ccaa249c8adedd", GitCom

[2016-09-20 21:42] paultyng commented on #33127
Ah, I just found filterTags but not sure exactly how to use it, trying to parse the source now.

[2016-09-20 21:43] dcbw commented on #32900
Looks like --configure-cbr0 will change the bridge CIDR and essentially orphan old pods, and we can certainly change kubenet to do that too, though we'd need to carefully handle pod teardown to ensure the old IP addresses were released, which previously docker did for us.

[2016-09-20 21:43] #33127 closed

[2016-09-20 21:43] kiall commented on #33128
$ cinder list
		+--------------------------------------+--------+--------------------------------------------------------------------+------+-------------+----------+-------------+--------------------------------------+
		|                  ID                  | Status |                                Name                                | Size | Volume Type | Bootable | Multiattach |             A

[2016-09-20 21:46] lavalamp commented on #33041
@bprashanth does it wait for that 500 to be scheduled before making the next 500? I don't think it does. If it did, that'd be fine.

[2016-09-20 21:46] janetkuo commented on #33019
Also, 1.3 kubectl against 1.4 cluster would work

[2016-09-20 21:47] bprashanth commented on #33041
No it does not, it waits to observe those 500 down the watch

[2016-09-20 21:48] lavalamp commented on #33041
@davidopp This is actually the least clever thing to do, it doesn't change users ability to put arbitrary configs in the system. It just means RC can't get too far ahead of the system.

@bprashanth Yeah, so that's what I'm asking to change. It should keep track of how many of its pods aren't even scheduled yet and not let that number go over (say) 1000.

[2016-09-20 21:53] dcbw commented on #32900
Reading more about this issue in https://github.com/kubernetes/kops/issues/469 and https://github.com/kubernetes/kubernetes/pull/32886 I now get why the master node has a /30 configured since it's only expected to run one pod (fluent?).  I guess if it's going to be changed to a /24 later on, why not start at /24?

[2016-09-20 21:53] lavalamp commented on #33057
We could just move it to a node/heartbeat subresource. That's probably the easiest thing. Etcd 3 might make it moot for etcd memory usage savings, but if it's hard for watchers, too, then it may still be worth fixing.

[2016-09-20 21:54] kiall commented on #33128
What the above shows is:

* 4 volumes, 1 instance.
* Cinder reports volumes attached as vdb, vdc, vdd and vde.
* Guest OS has: vdb, vdc, vde, vdf (in addition to vda, the root disk)
 * vdb and vde are correct on both sides.
 * Cinder's vdc is the Guests vdf
 * Cinder's vdd is the Guests vdc
* All devices show under /dev/disk/by-id/, using a name following "virtio-<TRUNCATED CINDER UUID>"

As the C

[2016-09-20 21:56] kiall commented on #33128
cc  @anguslees @mikedanese @kubernetes/sig-openstack

[2016-09-20 21:57] dchen1107 commented on #32960
This is a dup of #33113

[2016-09-20 21:57] dchen1107 commented on #32960
cc/ @spxtr Can we fix the jenkin project first to unblock our release, then address #33113 in a proper way.

[2016-09-20 21:59] caesarxuchao commented on #33019
[code]

[code]

[2016-09-20 22:02] pwittrock commented on #32124
I think kubectl exec now returns the exit code of the program in the container.  Could this be related?

[2016-09-20 22:03] janetkuo commented on #33070
@kubernetes/kubectl

[2016-09-20 22:04] spxtr commented on #32960
Yes, cancel the rolling update and it should start passing. I'm looking into fixing the test.

[2016-09-20 22:04] bprashanth commented on #32124
it should always do that. I think i managed to setup a gke cluster for  e2es with version skew, will report shortly.

[2016-09-20 22:06] davidopp commented on #32708
cc/ @ixdy

Current theory is that this is a dup of #33113

[2016-09-20 22:07] davidopp commented on #32960
BTW I hit the same problem when I was doing manual upgrade testing a week ago. It's a very non-obvious failure mode (I did eventually figure it out).

[2016-09-20 22:10] ixdy commented on #32708
Per @davidopp's suggestion, I looked to see if there were any existing rolling updates. And there were.

[code]

5 days ago! I canceled it, and I just restarted the job on Jenkins; we'll see if things work better next go-around.
[code]

[2016-09-20 22:13] janetkuo commented on #33126
cc @vishh

[2016-09-20 22:16] ixdy commented on #32708
aha, yes, looking at the code with @pwittrock I'm 99% certain now it's the `gcloud alpha compute rolling-updates start` call that's failing, almost certainly due to the pre-existing rolling-update.

[2016-09-20 22:24] caesarxuchao commented on #33019
https://github.com/kubernetes/kubernetes/blame/master/pkg/kubectl/cmd/util/factory.go#L1168

[code]

It seems this line sets the `Server`, makes the config non-empty

[2016-09-20 22:25] janetkuo commented on #33019
@smarterclayton @deads2k

[2016-09-20 22:34] mark9white commented on #13776
@feniix that app gives you the kubernetes resources on the filesystem, not the pod filesystem.

Here's a little script I've got to mount the pod filesystem on OS X into ~/Downloads/fuse with $2 being the pod name:

    kill $(ps aux  | grep "5100:22" | grep kubectl |  awk '{print $2}')
    umount -f ~/Downloads/fuse

    kubectl exec -i $2 -- /bin/bash -c 'cat > /sshfsci' < ~/bin/sshfsci
    kubec

[2016-09-20 22:34] davidopp commented on #33113
ref/ #32466

[2016-09-20 22:37] caesarxuchao commented on #33019
I'm pretty sure this [line](https://github.com/kubernetes/kubernetes/blame/master/pkg/kubectl/cmd/util/factory.go#L1168) is the cause, after removing that line, kubectl worked inside a pod.

This seems to be the bug: `clientcmd.DefaultCluster` is non-empty, it makes overrides non-empty, and it make the mergedConfig [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/

[2016-09-20 22:38] janetkuo commented on #33019
I can also confirm that kubectl inside a pod worked before #30808

[2016-09-20 22:41] nikhiljindal commented on #32732
Unassigning @bgrant0607 and assigning it to @quinton-hoole

[2016-09-20 22:42] smarterclayton commented on #33019
The line moved to the factory for kubectl.

[2016-09-20 22:42] smarterclayton commented on #33019
This is a dupe of another issue - one second.

[2016-09-20 22:43] thockin commented on #32900
This is sort of a disaster - can we get this fixed in a 1.4.x patch or at least early in 1.5 cycle?

[2016-09-20 22:43] smarterclayton commented on #33019
A non-empty default config should be compared against the returned config.  If non-empty default config == returned config, we should try the in-cluster config.

[2016-09-20 22:46] janetkuo commented on #33019
@smarterclayton do you have a fix for this? We should cherrypick it.

[2016-09-20 22:49] caesarxuchao commented on #33019
So I think we just need to change the order of the two if clauses here? https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/clientcmd/merged_client_builder.go#L117-L124

[2016-09-20 22:51] caesarxuchao commented on #33019
No, sorry. @madhusudancs, Maybe just add the `!DeepEqual` as a condition in this if clause: https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/clientcmd/merged_client_builder.go#L118?

[2016-09-20 22:53] justinsb commented on #32332
https://github.com/kubernetes/kubernetes/issues/32900 means that non-hostNetwork daemonsets will almost always have a pod that fails to schedule.  If we can't figure out mitigation there, then I think it needs  warning in the release notes.

[2016-09-20 22:53] janetkuo commented on #32985
This looks like a bug in the java client you're using

Specifically, the deployment reaper invokes its RS reaper to delete the RSes. But before that, those RSes should have scaled themselves to 0. See code here https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/DeploymentOperationsImpl.java#L169

@DImuthuUpe Would yo

[2016-09-20 22:53] #32985 closed

[2016-09-20 22:55] thockin commented on #19762
It is allowing the user to express something they can not easily express
today, which is a directory full of files that come from disparate
sources.  I think we might be able to do even better, though, with some
sort of "merge" volume.

Imagine a volume that first recreates the directory on which it is being
mounted, and then adds in links to other places.

I could say:
- mount secret foo on /foo

[2016-09-20 23:01] nikhiljindal opened #33135 "Fix federation ingress e2e tests"
They are failing right now due to a panic which is being fixed by https://github.com/kubernetes/kubernetes/pull/33120.

They still fail after that fix.
I see the following in the controller manager logs:
Logs: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/33120/kubernetes-pull-build-test-federation-e2e-gce/30/build-log.txt
[code]

Update fails because of UID mismatch

[2016-09-20 23:01] nikhiljindal commented on #33135
cc @kubernetes/sig-cluster-federation @quin

[2016-09-20 23:02] smarterclayton commented on #33019
Put up an alternate fix based on my comment on the other PR - please try it

[2016-09-20 23:02] ixdy commented on #32708
Latest run passed the upgrade step:
[code]

We'll see how the rest of the tests do in about 7-8 hours.

[2016-09-20 23:03] a-palchikov commented on #33019
Thanks - I'm currently trying

[2016-09-20 23:03] nikhiljindal commented on #32733
ingress e2e is still failing after that fix.
Filed https://github.com/kubernetes/kubernetes/issues/33135 for that with more details

[2016-09-20 23:06] caesarxuchao commented on #33019
It worked for me.

[2016-09-20 23:10] mml opened #33137 "disruption e2e tests are not really running"
Due to a bug in the disruption e2e test, we really only run one test case 5 times instead of all 5 test cases.  This will be fixed when #33133 is merged.

[2016-09-20 23:11] dims commented on #32999
@jeroenvisser101 @gerred work is being done here - https://github.com/kubernetes/kubernetes/pull/28742

[2016-09-20 23:12] vishh commented on #33126
GCI supports k8s `CPU limits`. I suspect that the limits currently set for elasticsearch might be too low. Can we get a dump of the PodSpec from the elasticsearch pods?

[2016-09-20 23:12] nikhiljindal commented on #32733
replicaset e2e is also still failing with the following logs:
[code]

This seems like a bug in the code that divides the replicas in individual clusters. The divisions sum up to 14 instead of summing up to 15.

[2016-09-20 23:13] pwittrock opened #33138 "Write e2e test for kubectl in a Pod"
See: #33019

Using kubectl in a Pod with the default credentials broken in 1.4 and we weren't aware of it until someone found it in a beta build.  We were just lucky it didn't get out.  Need to write an e2e test that runs kubectl in a pod mounting it from the host using a hostvolume, and makes sure it can talk to the api server.

[2016-09-20 23:15] a-palchikov commented on #33019
Worked for me as well - thanks again.

[2016-09-20 23:16] smarterclayton commented on #33138
Also need to do the same for proxy (uses a different config path) and at least one other "pod" component.

[2016-09-20 23:18] yifan-gu opened #33139 "Add pod level selinux options, and pod level volume mount labels."
### Problems:

Today, the selinux options and volume mount labels are at the app level:

Selinux option is defined in `CreateContainerRequest.ContainerConfig.LinuxContainerConfig.SELinuxOption`

Mount label is defined in
`CreateContainerRequest.ContainerConfig.Mount.selinux_relabel`

However, currently for rkt, it's very hard to do app level selinux context and mount relabeling. But we **do** supp

[2016-09-20 23:26] trizvanov commented on #29324
I'd appreciate if this was still open until the backport was complete. This
issue is really hurting us in 1.3.5.

On Wed, Sep 21, 2016 at 5:22 AM, Jing Xu <notifications@github.com> wrote:

[2016-09-20 23:30] #32596 closed

[2016-09-20 23:31] dchen1107 commented on #31626
@piosz, please ignore the initial description, and I believe that is fixed already. @pwittrock added this as the release blocker due to the failure occurred during the upgrade tests.

I took a quick look at the failing test, and noticed that

* The test only failed with https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gce-cvm-1.3-cvm-1.4-upgrade-cluster, and always passed with https://k8s-t

[2016-09-20 23:32] jayunit100 commented on #31453
Done! Now viper can be used to drive config for anything

[2016-09-20 23:33] yujuhong commented on #33139
/cc @dchen1107 @timstclair

[2016-09-20 23:33] jayunit100 commented on #31453
Reopened , because I think this issue also should stay around until we finally remove all flags not related to defining the viper data source

[2016-09-20 23:44] yifan-gu commented on #33139
cc @squeed

[2016-09-20 23:46] spdeshpande commented on #31708
@nicolasbelanger
Perfect! That works. Thanks a lot!

[2016-09-20 23:48] liggitt opened #33140 "Dialing different nodes breaks TLS-verified master<->kubelet connections"
When the master dials nodes, it is mutating the tlsConfig held by the master kubelet client, to add a server name.

That means if two different nodes are dialed from a master started with `--kubelet-certificate-authority`, x509 verification will fail for the second one.

Introduced in https://github.com/kubernetes/kubernetes/commit/7e9d82129e58196b2d3f0b22e6b139c1c6b04dd1#diff-e00658bdc0ba8e28b32f

[2016-09-20 23:57] liggitt commented on #33140
this is a regression from 1.3.0 and breaks pod logs/exec/attach and node proxying on installations that use `--kubelet-certificate-authority`

[2016-09-20 23:58] jingxu97 commented on #32929
A little update for this issue:

1. Through the period investigated, I see some containers died unexpectedly. When it happened, it seems like we might not handle this gracefully for volume management
2. Regarding mount mode, unfortunately we don't have any log which records the mount mode and I cannot see how it ended up mounting to ro instead of rw. I checked our workflow, if the volume spec is n

[2016-09-21 00:09] #32711 closed

[2016-09-21 00:21] jingxu97 commented on #32929
@jeremywadsack Could you please help us confirm a few things
1. redis-cache is only used by one deployment yaml file you gave us before.
2. do you have any other persistent disk which lists as "readonly: true" in the spec?

According to your previous description, this problem might happen again. When that happens, could you please keep the state for a little bit and don't delete the pod so that we

[2016-09-21 00:24] smarterclayton commented on #33140
We probably need to review that PR and look to see if any other deliberate copies were flagged incorrectly by govet.

[2016-09-21 00:26] smarterclayton commented on #33140
Installations that depend on secure trust from externally provided kubelet server certs are the highest security rings.  If we don't fix this we need to tell anyone using this flag not to upgrade until we release 1.4.1.

@pwittrock

[2016-09-21 00:28] jeremywadsack commented on #32929
Thanks for digging into this.

The dying containers has to do with the cluster (or a node) running out of either memory or CPU. Kubernetes doesn't seem to handle this very well and shuffles pods continually to try to find a better arrangement. Well, maybe that's handled well (certainly better than manually handling it), but there have been times where it won't be able to fit things back together a

[2016-09-21 00:30] #31694 closed

[2016-09-21 00:47] #33137 closed

[2016-09-21 01:13] dcbw commented on #32900
@thockin we certainly can, see https://github.com/kubernetes/kubernetes/issues/33132 for one take on that.  But we still need to agree on what happens to old pods that no longer have connectivity.  Do they just sit around until killed manually or what?

[2016-09-21 01:37] smarterclayton commented on #13610
At the point of projection in downward API - "use this value and treat it
as base64"

[2016-09-21 02:32] bprashanth commented on #32124
I think i've convinced myself that docker 1.9 just had a really buggy exec, that we leverage heavily in the test. We're hitting: https://github.com/docker/docker/issues/14203, from logs of https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.4-upgrade-master/6201/artifacts/gke-jenkins-e2e-default-pool-257734be-2nb0/ I see a ton of

[code]

and I was abl

[2016-09-21 02:34] gmarek commented on #32366
Our startup scripts are wrong. But I think it's fixed yesterday. @quinton-hoole ?

[2016-09-21 02:46] jkurz commented on #28525
I think something like this would be nice. However I see a few problems with the current approach.

A major difference between AWS and GCP: when a load balancer is created, an automatic A record is created and managed behind the scenes. This makes it easy to CNAME too, like this PR #23576 was trying to do. I can't tell anymore as the diff is cray now.

Is GCP not considering doing something like t

[2016-09-21 02:46] ddysher commented on #23568
In one cloud provider, we query private ip via its API; in another, there is no such API, we have to find it in kubelet (listing all interface and filter), a bit hacky, but works.

[2016-09-21 03:02] brendandburns opened #33151 "kubectl proxy doesn't support websockets"
Repro:
[code]

[code]

https://github.com/koding/websocketproxy has a potential solution.

[2016-09-21 03:03] brendandburns commented on #33151
@ncdc @liggitt @deads2k

[2016-09-21 03:07] pmorie commented on #32607
I would like to find a name for this concept that is not 'sidecar', since 'sidecar' is already a thing, and the name is already misused enough without overloading it :)

[2016-09-21 03:12] pmorie opened #33152 "Kubemark GCE: disk already exists"
I'm seeing the following failure during the Kubemark GCE tests:

[code]

Found on https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/33063/kubernetes-pull-build-test-kubemark-e2e-gce/859/

[2016-09-21 03:32] madhusudancs commented on #32366
@gmarek not yet. This is the PR - https://github.com/kubernetes/kubernetes/pull/33039.

[2016-09-21 03:42] madhusudancs opened #33153 "Potential races in Federation Ingress controller unit tests."
Potential race in Federation Ingress controller unit tests. See https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/33039/kubernetes-pull-test-unit-integration/45749/ for details.

cc @kubernetes/sig-cluster-federation @mwielgus

[2016-09-21 04:13] bprashanth commented on #33153
https://github.com/kubernetes/kubernetes/issues/32685

[2016-09-21 04:13] #33153 closed

[2016-09-21 04:14] bprashanth commented on #32685
cc @kubernetes/sig-cluster-federation @mwielgus @madhusudancs

[2016-09-21 04:15] bprashanth commented on #32124
I'm going to try and paper over the docker 1.9 bug with a pr into 1.2 tomorrow

[2016-09-21 04:41] caseydavenport commented on #28653
@girishkalele could you share what "done" means for this issue?

[2016-09-21 04:43] piosz commented on #32804
This is still failing

[2016-09-21 04:45] liggitt commented on #33140
the rest of the changes in the govet cleanup PR looked fine to me. fix for this issue is in https://github.com/kubernetes/kubernetes/issues/33141

[2016-09-21 04:46] piosz commented on #33126
The limit is set to 100m. @Crassirostris could you please try with increased limit?

[2016-09-21 04:51] piosz commented on #31626
Thanks @dchen1107 for investigating. The test has changes between 1.3 and 1.4 and the version from 1.3 branch won't work with 1.4.

Also there is a known issue with OOMing inlfuxdb which is not a blocker for the release (see https://github.com/kubernetes/kubernetes/issues/27630#issuecomment-244360020).

[2016-09-21 04:51] #31626 closed

[2016-09-21 05:09] davidopp commented on #33041
I'm still worried that people will wonder why they asked for 1000 pods but only 500 show up when they do "get pods." I guess if we put something into the ReplicaSetStatus explaining the situation, it's OK.

[2016-09-21 05:22] #32997 closed

[2016-09-21 05:25] jianhuiz commented on #32733
it was tested twice according to the log, one 15/14, yet the other succeed. There is however no replicaset controller logs, @nikhiljindal could you let the  e2e run controller manager with `--v=5` to enable more logs?

[2016-09-21 05:28] thockin commented on #13610
I guess I don't have a huge problem with env->projection it's just kind of
weird to me.  I still think an inline would be more obvious and discoverable

On Tue, Sep 20, 2016 at 6:38 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-21 05:50] thockin commented on #33110
What single file?  I see it trying to generate lots of files that don't
exist.  Are you triggering them as being needed, but then not emitting
anything?

[code]

On Tue, Sep 20, 2016 at 2:12 PM, mbohlool <notifications@github.com> wrote:

[2016-09-21 05:53] thockin commented on #33110
`OPENAPI_FILES := $(addsuffix /$(OPENAPI_FILENAME), $(OPENAPI_DIRS))`

then:

`gen_openapi: $(OPENAPI_FILES)`

This is trying to rebuild all those files, and failing.

On Tue, Sep 20, 2016 at 10:49 PM, Tim Hockin <thockin@google.com> wrote:

[2016-09-21 06:02] jianhuiz commented on #32733
@mwielgus it's the planner issue which gave different outputs while providing different running replicas.
e.g. it fails with the given case
[code]
[code]
It fails for `{"A": 5, "B": 8}`, too; but succeeds for other `{"A": x, "B": 8}` where x <= 7

@deepak-vij @kshafiee

[2016-09-21 06:22] nikhiljindal commented on #32733
@jianhuiz Yes I was surprised that replicaset controller produces no logs at all unless I set --v.
I am not sure how to set it only for my PR.

Re: failing test case. Will be great if you can send a PR adding that case to planner_test.go. We can comment out the code for tests to pass on HEAD, but that will make it easy to reproduce that failure to test the fix.

[2016-09-21 07:01] nikhiljindal commented on #32733
Sent https://github.com/kubernetes/kubernetes/pull/33159 to dump federation events which should help in debugging this

[2016-09-21 07:12] anguslees commented on #33128
From some hunting around, it appears the above virtio-$trunc_uuid strategy might only work on kvm, just in case we mistakenly think this is easy to solve ...

[2016-09-21 07:24] jingxu97 commented on #32929
@jeremywadsack Thank you for providing more information. I looked up log again and found some proof of how file system became read only.

I search the log for pod keylime-redis-cache-3629295551-o7mm9 on node gke-keylime-toolbox-pool-1-b5918e16-8cdb. Kubelet log below shows that pd redis-cache is mounted successfully. However in kernal log, we can see clearly that there are lots of IO error and abo

[2016-09-21 07:32] qwang1 opened #33162 "JSON format can't parse secret permission mode start with 0"
**What keywords did you search in Kubernetes issues before filing this one?** : secret permission mode json

BUG REPORT

**Kubernetes version** (use `kubectl version`):
v1.5.0-alpha.0.368+5512104d363813

**Environment**:
- **OS** (e.g. from /etc/os-release): Fedora 24
- **Kernel** (e.g. `uname -a`): 4.5.5-300.fc24.x86_64

**What happened**:
I followed the document https://github.com/kubernetes/kub

[2016-09-21 07:36] Crassirostris commented on #33126
Sure, will try it out shortly

[2016-09-21 08:33] DjangoPeng commented on #33124
This is a bug and easy to fix. I'll open a PR to fix it @pvnguyen

[2016-09-21 08:52] xingzhou commented on #33065
thanks @thockin, I will start working on this, will discuss with you then.

[2016-09-21 08:54] ddysher commented on #28272
@janosi Did you have a patch for this?  we currently hit this issue running db on k8s, would like to have shm size configurable.

[2016-09-21 09:37] k82cn commented on #33091
similar issue after #32884 , refer to the following output. Is the #32884 used to remove node_e2e on Mac? I'll check it and try to fix this issue :).

[code]

[2016-09-21 09:40] LenutaToderean commented on #12563
@dalanlan Hi!
I receive the same error(Error syncing pod, skipping: DNS ResolvConfPath specified but does not exist.). Did you fixed this? Really ned some help with that. Thanks!

[2016-09-21 09:52] dims commented on #32453
@player1-fleetsmithsupport @calvinmorrow : so i lookeded deeper, the description of "root-ca-file" says
`"If set, this root certificate authority will be included in service account's token secret. This must be a valid PEM-encoded CA bundle."`

So this is *not* the command line option for setting the CA for normal operations like leader election. So that's why using the kubeconfig with the same ca

[2016-09-21 09:56] vincentheet commented on #29642
We have actually seen performance issues due to the fact that the TTL is low and some of the app's in our pods where waiting for DNS responses. To resolve this problem we scaled up kube-dns and the problem went away but 30 seconds is to low in my opinion. We heavily call internal service based on their dns names but a service ip will not change that often. Is there a way we can increase the TTL by

[2016-09-21 10:57] kdima commented on #27161
Sorry about the delay.
Here is the tcp dump of the the timeout:

I am running the following command on my local box:
[code]

tcpdump on my local box:
[code]

Tcp dump on the remote box inside k8s cluster that is the gateway:
[code]

As you can see sequence numbers match on my local box and what was captured on the remote box. So the traffic is getting to the gateway box.

Here is a tcpdump of the

[2016-09-21 11:10] Crassirostris commented on #33126
The hypothesis was correct, with increased limits test works.

Thanks, @vishh!

[2016-09-21 11:28] kargakis commented on #33041
We want to use Conditions (https://github.com/kubernetes/kubernetes/issues/32863) and I could see this be one.

[2016-09-21 11:59] #32679 closed

[2016-09-21 12:29] piosz commented on #33126
Did you send a PR?

[2016-09-21 12:46] soltysh commented on #33070
It looks like json parsing problem, not sure though what exactly. @Starefossen could you provide us with the files you were sending to the server?

[2016-09-21 12:47] soltysh commented on #28977
@ye right, but still I'd like to fix the root cause of the problem.

[2016-09-21 12:49] feiskyer commented on #33048
On the other hand, there are some more concerns about whether container-level metrics need to be included in kubelet, so the metrics in CRI won't be defined until those issues are resolved.

Hmm, makes sense.

Another problem, `Plumb this information to cadvisor and use it to get ImageFs info.`, is cadvisor general enough for all container runtimes? It requires `cadvisorfs.LabelDockerImages` or `c

[2016-09-21 13:00] ncdc commented on #33151
This is a dupe of #32026

[2016-09-21 13:00] #33151 closed

[2016-09-21 13:00] ncdc commented on #33151
Also FYI `kubectl exec` uses SPDY, not websockets.

[2016-09-21 13:13] kargakis commented on #31498
This is back

[2016-09-21 13:13] #31498 closed

[2016-09-21 13:16] kiall commented on #33128
To add the Angus's point, the general pattern also applies to OpenStack with ESXi - the difference being you search for "/dev/disk/by-id/wwn-0x{TRUNCATED CINDER UUID}". I suspect this general pattern of truncated serial number applies more often than it fails.

[2016-09-21 13:28] smarterclayton commented on #13610
You feel annotation projection is weird too?

One nice thing of making annotation capable of direct injection for both
binary and normal text is that it is a single example to show and explain.

[2016-09-21 13:30] k8s-merge-robot opened #33171 "[k8s.io] Job should scale a job down {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6466/

Failed: [k8s.io] Job should scale a job down {Kubernetes e2e suite}

[code]

Previous issues for this test: #29066 #30592 #31065

[2016-09-21 13:34] timothysc commented on #32799
k, that should suffice.

We have a number of other network saturation, logging saturation, service saturation tests we would like to fold over.

/cc @jayunit100

[2016-09-21 13:56] Bregor commented on #24657
`status.hostIP` is valuable for DaemoSets, for example.
In my case, I want to listen with Prometheus's node_exporter and weave scope only on the host.IP which is a private address of the node.

[2016-09-21 13:58] mdshuai commented on #33162
/cc @derekwaynecarr @rata

[2016-09-21 14:04] jonathan-kosgei opened #33173 "Split-horizon DNS by namespace"
Is it possible to prevent containers in a pod in a particular namespace from resolving services outside the pods namespace? This should be possible but after fruitless googling I can't find any documentation on this.

Eg.

PHP pod in Bob namespace can resolve mysql at `mysql.bob:3306` but can't resolve mysql in Alice's namespace at `mysql.alice.svc.cluster.local`

[2016-09-21 14:09] kayrus commented on #24657
As soon as I understand it is enough to add extra value in this list:
https://github.com/kubernetes/kubernetes/blob/313ef63993017597bd28f5efd23677820274cb58/pkg/api/validation/validation.go#L1320

[2016-09-21 14:22] jayunit100 opened #33175 "generic infra flake"
I created this as a catch all for infra flakes.

Please label as `flake` and `infra`.

Please paste comments with evidence as to the flake type.  maybe a specific bug will emerge, but most likely its due to vm timeout or net split or other unpredictable flaking.

[2016-09-21 14:23] jayunit100 commented on #33175
just pasting why i think this is a generic infra flake.... probably not super useful.
[code]

[2016-09-21 14:39] balajismaniam commented on #31906
/cc me

[2016-09-21 14:59] pwittrock commented on #33140
@smarterclayton Since we are telling folks they have to upgrade to kubectl 1.4.0 for rollingupdate to work it would definitely be a confusing message to say other folks should not upgrade to 1.4.0 at all.

[2016-09-21 15:01] pwittrock commented on #33140
If the fix is merged into master by this afternoon, lets discuss whether or not we should cherrypick it - e.g. risks involved, how we can manually qa to verify nothing else was broken, etc.

[2016-09-21 15:07] thockin commented on #24657
node name is available as DownwardAPI as of 1.4

On Wed, Sep 21, 2016 at 7:10 AM, kayrus <notifications@github.com> wrote:

[2016-09-21 15:09] thockin commented on #13610
Annotation feels more obvious.  I just worry about the cross-links.  Before
long it will be possible to project annotations as files or and env, and to
project env as file.  If projecting annotations was allowed to file and
env, then we could perhaps de-dup the logic and have a consistent model.

On Wed, Sep 21, 2016 at 6:28 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-21 15:12] Bregor commented on #24657
@thockin but what is the reason not to add extra values to `validFieldPathExpressionsEnv`?

[2016-09-21 15:17] thockin commented on #24657
Just to make sure we curate that well.

On Wed, Sep 21, 2016 at 8:13 AM, Maxim Filatov <notifications@github.com>
wrote:

[2016-09-21 15:23] smarterclayton commented on #33140
Risk involved:

* If you are using a secure cluster (defined as ensuring no one can MITM your nodes and masters) and you upgrade to 1.4.0 and it does not include this fix - you are broken.

[2016-09-21 15:23] rata commented on #33162
@qwang1 will investigate later (I'm at work right now). But does it work if you use numbers in base 10, like 256 instead of 0400? For sure it worked in yaml, so it might be something about JSON.

@qwang1 if you can confirm it works with yaml using 0400 will be nice, too :-)

[2016-09-21 15:30] pwittrock commented on #33140
What is the likelihood of interactions with other code?  Is it possible this fix could introduce a breaking change to something else?  Has the fix been manually verified?  Are we confident that this will fully fixes the issue (vs other edge cases exist for secure clusters that this doesn't catch).

Ideally I would like to see this cherrypicked into 1.4 this evening and then cut a new beta that inc

[2016-09-21 15:32] timothysc commented on #32837
/cc @rrati

[2016-09-21 15:33] thockin opened #33179 "Idea: "merge" volumes"
A common problem we hear today is that people want to consume a Secret or ConfigMap as a file or files in a existing directory, without hiding the other files therein.  The semantics of volumeMounts today do not allow this by default, though it can be achieved using subPath, one volumeMount per file.  A downside to this approach is that the Secret and ConfigMap file(s) are not auto-updated because

[2016-09-21 15:39] rata commented on #33162
@qwang1 it's not valid to specify numbers in octal format in JSON (http://www.json.org in the numbers section already tells it). If you use the decimal number, like 256 for 0400), it will probably work.

If that is the case, it is okay to just clarify in the documentation that octal and hex numbers are not valid when using json as the json format specification does not support it?

[2016-09-21 15:40] dagnello commented on #31823
@luomiao it doesn't look like it should happen, but it did and there wasn't any checks for nil pointers in our code or the Govmomi library.

[2016-09-21 15:40] #31823 closed

[2016-09-21 15:45] Xenopathic commented on #29750
That'll probably be the addon manager removing objects that it doesn't know about. Instead of manually running `kubectl create -f ...` try putting your .yaml files into /etc/kubernetes/addons, with each containing `kubernetes.io/cluster-service: "true"` in the labels. They will be automatically detected by the addon manager and added to the cluster.

[2016-09-21 15:48] Xenopathic commented on #29835
Your issue appears to be kube-dns complaining that the apiserver certificate is unverified, since you haven't given kube-dns your CA certificate. Create a kubeconfig with a `certificate-authority` as per http://kubernetes.io/docs/user-guide/kubeconfig-file/ and pass it into kube-dns with `--kubecfg-file=...`

[2016-09-21 15:50] k8s-merge-robot opened #33183 "[k8s.io] NodeProblemDetector [k8s.io] KernelMonitor should generate node condition and events for corresponding errors {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/8936/

Failed: [k8s.io] NodeProblemDetector [k8s.io] KernelMonitor should generate node condition and events for corresponding errors {Kubernetes e2e suite}

[code]

Previous issues for this test: #28069 #28168 #28343 #29656

[2016-09-21 15:51] smarterclayton opened #33184 "flake in etcd.TestWatch"
Flake in podsecuritypolicy/etcd.TestWatch, may be related to other changes in watch recently.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/33007/kubernetes-pull-test-unit-integration/45733/

[code]

[2016-09-21 15:51] smarterclayton commented on #33184
@timothysc i saw you say you found problems in watch recently, not sure if this is related

[2016-09-21 15:51] thockin commented on #27161
Can you clarify who the actors are? I see

[code]

I assume 10.11.0.5 is the pod, and 10.220.254.1 is the Service?  If so, why
does the receiving end see:

[code]

First, who is 172.29.12.5 and why does he appear to be a NAT of 10.11.0.5
(same port)?

Second, why is 10.220.254.1 seen on the wire - if it is a Service IP, it
should be NAT'ed client side (unless you are doing something very different

[2016-09-21 15:55] ljagiello commented on #32453
@dims oh this is interesting I will definitely check that.

[2016-09-21 15:56] kargakis opened #33185 "kubectl: wait for a specific deployment revision"
We have requests for providing the ability to wait for specific deployment revisions. Currently, the way to wait for the outcome of a deployment is to use `kubectl rollout status` but this will work only for the latest revision of the deployment. For example, a script runs a new rollout and needs to wait for that specific revision to finish in order to continue. If another rollout of the same depl

[2016-09-21 16:00] liggitt commented on #33140
None. The single line that is currently broken was changed. The rest is a new function with no side effects and tests.

No, it restores the original intent of the TLS config copy

Yes.

I swept for the same issue elsewhere and didn't find any issues. We test with a fully secured master-kubelet setup in Openshift and got a clean test run with this fix applied.

[2016-09-21 16:08] timothysc commented on #33184
Is this from latest master this morning?

[2016-09-21 16:13] mtaufen commented on #32537
/cc @dashpole @dchen1107

[2016-09-21 16:13] shashidharatd opened #33186 "goroutine leak in federation service controller"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?**: keywords: federation goroutine leak
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl vers

[2016-09-21 16:16] shashidharatd commented on #33186
@jianhuiz, @kshafiee, @quinton-hoole @madhusudancs  plz check the issue

[2016-09-21 16:26] jingxu97 commented on #32440
My PR is also affected by this test #33142
@rmmh Could you please help take a look?

[2016-09-21 16:32] jayunit100 opened #33188 "Document scheduler jargon documentation (from design/podaffinity.md) to (docs/devel/scheduler*)"
_Problem_

There is alot of jargon in the scheduler code, some examples:
- `hardPodAffinityWeight` == RequiredDuringSchedulingScheduling
- `softPod...` ==  "PreferredDuringScheduling pod affinity."
- Symmetry, a major part of the affinity algorithm implementation, is also undocumented in docs/devel/scheduler.

Reading podaffinity along side the scheduler docs + the code gives a good picture.

_Sol

[2016-09-21 16:33] yujuhong opened #33189 "Make kubelet-cri-gce-e2e-ci/gci-gce-cri green"
Metaissue: #31459

@Random-Liu set up a new builder to test the new docker CRI integration.
node e2e: https://k8s-testgrid.appspot.com/google-node#kubelet-cri-gce-e2e
cluster e2e: https://k8s-testgrid.appspot.com/google-gce#gci-gce-cri

Right now, it runs non-serial node e2e tests, with 27 tests passing.
`FAIL! -- 27 Passed | 75 Failed | 0 Pending | 37 Skipped`

We need to make the build green.

/

[2016-09-21 16:34] jingxu97 commented on #32960
The tests gce-cvm-1.3-cvm-1.4-upgrade-cluster-new started passing since yesterday after cancelling the pending update.
https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gce-cvm-1.3-cvm-1.4-upgrade-cluster-new&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Restart%5C%20%5C%5BDisruptive%5C%5D%5C%20should%5C%20restart%5C%20all%5C%20nodes%5C%20and%5C%20ensure%5C%20all%5C%20no

[2016-09-21 16:39] dchen1107 commented on #32960
@jingxu97 I saw both *cluster-new and *cluster being passed since @psxtr cancelled the rolling update:

https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gce-cvm-1.3-cvm-1.4-upgrade-cluster&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Restart%5C%20%5C%5BDisruptive%5C%5D%5C%20should%5C%20restart%5C%20all%5C%20nodes%5C%20and%5C%20ensure%5C%20all%5C%20nodes%5C%20and%5C%20p

[2016-09-21 16:39] #32960 closed

[2016-09-21 16:44] timothysc commented on #33188
@jayunit100 sgtm... I think it would be worthwhile to also create annotated examples as well.

@davidopp thoughts?

[2016-09-21 16:49] smileisak opened #33191 "NullPointerException due to FileStore should support file stores with > Long.MAX_VALUE capacity on Elasticsearch Cluster within Kubernetes petsets + CoreOs + AWS"
**Elasticsearch version**: 2.4.0

**Plugins installed**: [kopf, head]

**JVM version**: OpenJDK 64-Bit Server VM (build 25.92-b14, mixed mode)

**Docker version**:  1.10.3, build 1f8f545

**OS version**:  4.7.0-coreos

**Description of the problem including expected versus actual behavior**:

Deploying elasticsearch cluster with 1 master node + 3 data nodes + 2 clients nodes within Kubernetes Pets

[2016-09-21 16:52] ye commented on #28977
@soltysh 👍    @foxish FYI, to reproduce the issue, I believe you can intentionally create a job with at least one Docker container that has a command that will fail and set `restartPolicy: OnFailure` and let the job sit there for a day or two so that there are a ton of failed pods created. And then try to delete the job, you will encounter the aforementioned "hanging". Turning on the debugging fla

[2016-09-21 16:52] dchen1107 commented on #33184
Shouldn't this pr https://github.com/kubernetes/kubernetes/pull/33101 fix the issue?

[2016-09-21 17:04] pwittrock commented on #33140
SGTM.  Thanks for fixing this.

[2016-09-21 17:06] yujuhong commented on #32022
The test was unable to start because the cadvisor image was missing.

build.log
[code]

This only happens on the GCI images, and when looking at the kubelet.log, one can find that the cadvisor image was GC'd.
[code]

[code]
(`sha256:106e303be3a42f4b896da911ff5d78700be093d8a74b8f3018245a6e46f91b38` is the image ID for the cadvisor image on this node.)

We should adjust the image GC threshold to pre

[2016-09-21 17:13] erictune commented on #23580
Looks like there are several of these:

1) Lyft
https://github.com/lyft/metadataproxy
https://eng.lyft.com/scoping-aws-iam-roles-to-docker-containers-c9c5f8f2f75#.2svjixfff

2) jtblin (integrates with Kube)
https://github.com/jtblin/kube2iam

3) swipely
https://github.com/swipely/iam-docker

[2016-09-21 17:15] agsmith opened #33192 "cAdvisor will lose visibility to running docker containers over time"
I’m seeing a kubelet issue where cAdvisor will lose visibility to running docker containers over time (usually starts to happen within 24h of startup).  When kubelet first starts, cAdvisor is showing all running containers in the `container_last_seen` metric, but at some point it will begin to only show

[code]

But I can confirm my containers are running and healthy.

I see these errors in the ku

[2016-09-21 17:19] n-rook opened #33193 "ExecAction htmlpreview docs are misformatted at HEAD"
See:

https://htmlpreview.github.io/?https://github.com/kubernetes/kubernetes/blob/HEAD/docs/api-reference/v1/definitions.html#_v1_execaction

On Chrome, I'm seeing the following text under Description:

[code]

And the following under Required:

[code]

It seems obvious something goofy is happening to an example shell command here.

[2016-09-21 17:25] caesarxuchao commented on #33019
I can confirm it's solved by #33136. Could someone else double check?

[2016-09-21 17:26] yujuhong commented on #33048
That's a good question. cadvisor is not general enough (to handle container metrics) for all container runtimes as it is today. We may not even be able to solve this in the future.
As for ImageFS, passing the path to the cadvisor *might* be enough. /cc @timstclair @vishh, who are more familiar with cadvisor code.

[2016-09-21 17:33] aaronlevy opened #33195 "Avoid kube-dns service IP being assigned to another service."
**Is this a request for help?**
No

**What keywords did you search in Kubernetes issues before filing this one?**
kube-dns ip
kube-dns service ip
kube-dns ip race

---

**Is this a BUG REPORT or FEATURE REQUEST?**
FEATURE REQUEST

---

When creating cluster assets/addons all at once (e.g. `kubectl create -f asset-dir`) - it is possible that some services are dynamically assigned service IP's which

[2016-09-21 17:33] rickypai commented on #23580
the docker iam proxies all assume the docker networking model of one IP per container. since they use IP to look up the associated containers, they will not work. `kube2iam` by contrast looks through the kubernetes API, so does not have this shortcoming. also, it should support rkt out of the box since it does not have dependency on the docker networking model nor the docker socket.

[2016-09-21 17:40] caesarxuchao commented on #33019
I'm going to close it. Please reopen if it's not fixed.

[2016-09-21 17:40] #33019 closed

[2016-09-21 17:45] Random-Liu commented on #32022
@yujuhong Because we only run disk eviction test on gci, it means that the disk eviction test evicts the images...

[2016-09-21 17:48] timothysc commented on #33184
looks like rebase on https://github.com/kubernetes/kubernetes/pull/33007 was 2 days ago.  closing this one, reopen if it occurs again.

[2016-09-21 17:48] #33184 closed

[2016-09-21 17:50] #32804 closed

[2016-09-21 17:50] #33126 closed

[2016-09-21 17:52] rvrignaud commented on #29903
@saad-ali and @jingxu97,

We hit this bug again during 1.3.7 GKE migration. 4 pods on 11 using PersistentDisk failed to be scheduled. This is _really_ painful for us.

[code]

project-id : clustree-cloud / zone : europe-west1-d / cluster : c2
Sending kubelet.log over slack

Do not hesitate if we can send you more informations.

[2016-09-21 18:01] nikhiljindal commented on #32733
Thanks @jianhuiz I am able to repro the failure with your test case.
Am debugging.

[2016-09-21 18:09] caesarxuchao commented on #33096
@kubernetes/sig-api-machinery

[2016-09-21 18:13] janetkuo commented on #33019
Confirmed

[2016-09-21 18:17] freehan commented on #32900
We are looking at different requirements here.

For GKE, master is not in the same project. It is not supposed to run any user pods. No kube-proxy. No network route. Master just need a CIDR for non-hostnetwork pods. This CIDR does not need to be routable.

For GCE, master is registered, hence it gets a podCIDR and network route, but not really used.

For other use cases where master are supposed t

[2016-09-21 18:30] caesarxuchao commented on #32571
I checked the [API server log](https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-enormous-cluster/154/artifacts/e2e-enormous-cluster-master/) for the enormous cluster test on Sept. 20. There is no more 404 for get RC generated by the garbage collector. Good job @wojtek-t! I'll close this issue.

Do we need to create another issue for the 7000+ calls from t

[2016-09-21 18:30] #32571 closed

[2016-09-21 18:33] dims commented on #33192
@agsmith using rkt? i spotted a `/var/lib/rkt/pods/run` in the log. if so... cc'ing @kubernetes/sig-rktnetes

[2016-09-21 18:33] ixdy commented on #31570
@kubernetes/test-infra-admins the build looks really broken right now - lots of timeouts. It's not immediately clear why; our tooling isn't helping.

[2016-09-21 18:34] saad-ali commented on #29324
There are three PRs that address the bulk of this issue:
* PR https://github.com/kubernetes/kubernetes/pull/31090
* PR https://github.com/kubernetes/kubernetes/pull/32242
* PR https://github.com/kubernetes/kubernetes/pull/32636

As @justinsb mentioned these are all merged to head, are part of v1.4.0-beta.8 and will be part of the v1.4.0 release which is going out shortly.

We are also in the proce

[2016-09-21 18:37] mbohlool commented on #33110
Yep that is the problem, the make file is wrong expecting generation of many files while only one file is generated. I am trying to fix it. The problem is all packages that has the tag should be the input for the tool, but only one of them is the output. I want to keep the change detection in any of the input packages (changes in any input result in rebuild). Makefiles is not easy to manipulate :)

[2016-09-21 18:38] dims commented on #33193
Swagger stuff having trouble with `so traditional shell instructions ('|', etc) won't work` from here i think https://github.com/kubernetes/kubernetes/blob/892a6d7af59c0ba2d59f912759d9e7b56a543bd4/pkg/api/types.go#L1006 The pipe probably throws it off

[2016-09-21 18:43] caesarxuchao opened #33196 "API server should return 202 if the operation is asynchronous"
Code 202 means "The request has been accepted for processing, but the processing has not been completed".

In k8s, the DELETE operation is asynchronous in two cases: 1. a graceful deletion of pod. 2. the object has pending finalizers. In both cases the object remains in the key-value store after the API server responds. The API server should return 202 in such cases. I haven't evaluated if such a

[2016-09-21 18:54] ravilr commented on #33195
FYI, --service-cluster-ip-range allocation is wired by kube-apiserver, not the kube-controller-manager.  it was added as a flag option in kube-controller-manager just to avoid node controller allocate pod ips out of service ip range (https://github.com/kubernetes/kubernetes/issues/24547)

[2016-09-21 18:58] jingxu97 commented on #29903
Checked the log provided by @rvrignaud, and it hits the PR #32807, which should be checked in release 1.4.1.

@saad-ali, could we also consider backport this fix to 1.3 release?

[2016-09-21 19:03] agsmith commented on #33192
@dims we are using docker for our container engine, but we are using flannel as an overlay network on Openstack which I thought was running as a service on the coreos node.

[2016-09-21 19:03] vroomvroomvroom commented on #28449
and 1.3.7 .. trying 1.4 where it appears corrected.
dpkg: dependency problems prevent configuration of docker-engine:
docker-engine depends on libltdl7 (>= 2.4.2); however:
Package libltdl7 is not installed.
dpkg: error processing package docker-engine (--install):
dependency problems - leaving unconfigured
Errors were encountered while processing:
docker-engine

[2016-09-21 19:10] jayunit100 opened #33198 "TestInterPodAffinityPriority: Test is incorrect, when fixed - reveals missing punishment for mismatched label selector?"
### Problem

The interpod_affinity_test.go Tests attempt to confirm that, for a score of 10, you need
- matching region AND
- pods on nodes that match incoming labels

To test this, you need the following nodes, and expec the following scores.

(region match, labels match, expected score, actual score)

[code]

Why isnt this caught by the test? Becuase, it appears that the second machine accidenta

[2016-09-21 19:11] jayunit100 commented on #33198
(double checking my logic on this, just in case, after i confirm will cc sig-sched)

[2016-09-21 19:14] ixdy commented on #31570
I'm suspicious of #32888, though that's just a hunch. @deads2k @smarterclayton

[2016-09-21 19:20] smarterclayton commented on #29033
One more use case - in discussing what it would take to make PetSets safe to split brain due to node controller deleting a pod, I think it's reasonable that we may want to add finalizer for the pet set controller to the pet set pods.  I'm starting to come around to kubelet owning a finalizer as long as an admin has the "--force-die-now" button.

I don't think the finalizer aspect for kubelet would

[2016-09-21 19:32] jayunit100 commented on #33198
cc @kubernetes/sig-scheduling

[2016-09-21 19:43] rootfs commented on #33179
Instead of making it a "volume", why not use something with more flexibility like `automount`? Once the container hits `/etc`, the rules for automounter links these projected files.

And `automount` can do more magic if we want.

[2016-09-21 19:44] caesarxuchao commented on #32878
Cherrypicked in #32887. Closing.

[2016-09-21 19:44] #32878 closed

[2016-09-21 19:46] dcbw commented on #32900
@freehan I don't see the distinction between user pods and other pods.  If they are scheduled by kubelet, they are pods and they get network connectivity the same as any other pod.  Can you explain the distinction more here?  Is kubelet supposed to create specific pods itself, without communication from the apiserver or something?

This should be no different than the case below, running normal po

[2016-09-21 19:48] deads2k commented on #31570
Just timing or did you find a spot where someone was mutating a shallow copy that I missed?  Also, if it does get reverted, is there an easy way to request 10 test runs when I re-open and try to search for a problem?

[2016-09-21 19:55] adambom commented on #32225
This appears to mostly work under version 1.4.x-beta, but I'm experiencing a problem with creating a storageclass with `encrypted` set to true.

Example:

[code]

This fails with the error:
`Error from server: error when creating "STDIN": StorageClass in version "v1beta1" cannot be handled as a StorageClass: [pos 131]: json: expect char '"' but got char 't'`

It seems to me like it's trying to tre

[2016-09-21 19:59] eviloop commented on #10456
Hello,
Sorry for reviving an old topic but I am a bit lost and i believe my use case is quite similar. I am unable to find much info on this

We are also running a bare-metal/non-integrated-LB cloud clusters. We do have a Loadbalancer, but simply not Kubernetes manipulated.

Our setup:
We have IPs that are dynamically allocated but not by Kubernetes. Therefore they are "static" for Kubernetes.

1)

[2016-09-21 20:02] caesarxuchao commented on #32706
The tests are disabled. Closing.

[2016-09-21 20:02] #32706 closed

[2016-09-21 20:06] jayunit100 commented on #33198
@kevin-wangzefeng any thoughts on this?

[2016-09-21 20:06] jchambers opened #33202 "kube-up.sh fails and misreports status using AWS (KUBE_MANIFESTS_TAR_URL: unbound variable)"
This is, essentially, a deliberate duplicate of #30495, which was closed by the requester before the underlying issue was resolved. In short, current versions of Kubernetes (I'm using 1.3.7) fail when using `kube-up.sh` to create a cluster under AWS, but incorrectly report success. This leaves some AWS resources (VPCs, security groups, etc.) in place, but with no actual nodes.

The relevant bit of

[2016-09-21 20:07] jchambers commented on #30495
@kenips I've created a deliberate duplicate of this issue (#33202) so it doesn't go unnoticed because this issue has been closed.

[2016-09-21 20:07] aledbf commented on #10456
@eviloop please check https://github.com/kubernetes/contrib/tree/master/keepalived-vip
It allows you to expose one or more kubernetes services using IPs from your LAN.

[2016-09-21 20:09] ixdy commented on #31570
@deads2k the timeouts started as soon as that PR merged.

it might be `[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 2 pods to 1 pod` getting stuck? not sure though.

[2016-09-21 20:11] kiall commented on #33128
I've put together a patch to our 1.3 branch (linked above) that seems to work reasonably well. It's virtio (aka KVM) only, but, the code was KVM only anyway already. I'll add ESXi support separately, as that's an smaller fix to existing code..

[2016-09-21 20:14] kiall commented on #33128
Heh - left out the question. Thoughts on this approach? Should I go ahead and port to master + submit?

[2016-09-21 20:15] jingxu97 opened #33203 "Volume status out of sync when kubelet restarts"
## Problem

Currently at node side, node status is updated periodically by kubelet. For volumes, node updater will try to get a list of volumes in use (from current desired state and actual state) and update the list. The master will need to use this information to determine whether it is safe to detach. This information might be out of sync and cause the following problems:

**_P1._** When kubele

[2016-09-21 20:16] dcbw commented on #32900
@thockin @bprashanth @freehan It seems there are two issues mixed in this issue:

1. @justinb is talking about kops usage.  Is that relevant to this issue or should the kops thing be a separate issue?  The problem with kops is --pod-cidr is given on the kubelet command-line and thus any subsequent CIDR change is ignored.  With kubenet right now, --pod-cidr is incompatible with --reconcile-cidr; so

[2016-09-21 20:22] knownasilya commented on #33070
Also seeing this issue with a rolling update.

[2016-09-21 20:22] saad-ali commented on #32225
@jsafrane Could you take a look at this.
CC @kubernetes/sig-storage

[2016-09-21 20:34] jingxu97 opened #33207 "Kubelet volume manager fails to reconstruct volume information if global mount path is gone"
## Problem:

If pod is deleted while kubelet is restarted, master might detach volume while it is not yet unmounted. In this situation, the following sequence might happen.
1.  Kubelet restarts, all information about mounted volumes are gone. Node updates its status indicating that no volume is mounted currently. (but the truth is that volume is still mounted)
2. Master deletes the pod, volume rec

[2016-09-21 20:35] jingxu97 commented on #32929
To summarize what we discovered so far

1. When OOM happened, kubelet restarts frequently. This is being fixed by PR #32251

2. While kubelet is restarted, master might kill the pods/containers, this will cause a problem for node status update because the list of mounted volumes will be gone after kubelet restarts. Open a PR #33203 and work on the fix

3. Because of issue in 2, it might end up mas

[2016-09-21 20:43] bprashanth commented on #32124
https://github.com/kubernetes/kubernetes/pull/33204

[2016-09-21 20:46] jeremywadsack commented on #32929
Great detective work and glad we could provide the details to uncover these issues. Looking forward to progress on getting them resolved.

Based on your findings I think our interim solution is to keep our cluster over-provisioned to ensure we don't hit OOM and cause problems to kubelet.

[2016-09-21 20:49] eviloop commented on #10456
Thanks for the quick feedback !
I am a bit lost,

1) I have a Openstack FIP - external network
2) a LB- external (FIP) and internal (VIP) network
3) node IPs with Ingress controllers connected to the LB - internal network

If the nodes were exposed on the external network direcly, keepalived-vip would solve my issue as i could assign a VIP to a service. Or did i misunderstood ?

My use case would

[2016-09-21 20:51] knownasilya commented on #33070
Hum. I tried it again and the error disappeared.

[2016-09-21 20:51] freehan commented on #32900
Yes. That is what I mean. daemonset is a corner case, which will be fixed soon https://github.com/kubernetes/kubernetes/issues/28687

It is in standalone mode. kubelet on GKE master do not register itself.

[2016-09-21 20:52] four43 commented on #32917
This would break usage in CoreOS too, no? They have provisioning docs that run the Kubelet as a container with the rkt engine.

https://github.com/coreos/coreos-kubernetes

[2016-09-21 20:53] #30108 closed

[2016-09-21 20:55] adambom commented on #32225
Additional info:

Here's the pvc I'm using:
[code]

[2016-09-21 20:56] jingxu97 commented on #32929
@jeremywadsack Over-provision might not be cost-effective, but definitely will help on this situation. We will try to fix the above issues asap. Please let us know if you have any problems. Thank you!

[2016-09-21 20:57] bprashanth commented on #29831
I'm not too concerned about this for 1.4, we have a string of green runs in the link above and the 1.3 -> 1.4 tests also look pretty good

[2016-09-21 20:58] saad-ali commented on #32225
Ah this might be your problem: `volume.alpha.kubernetes.io/storage-class`

That triggers the v1.2 "Alpha" version of the provisioning feature, which completely ignores storage classes and triggers a default provisioner with default parameters.

Try a PVC with `volume.beta.kubernetes.io/storage-class` instead (note `beta` instead of `alpha`).

[2016-09-21 20:59] dchen1107 commented on #32917
cc/ @philips @euank on CoreOS use case.

[2016-09-21 21:03] freehan commented on #32900
Need to settle down the requirements a bit:

For master with `register-node=false`, it goes with `pod-cidr`.

For master with `register-node=true` and `register-schedulable=false`, it can use either `pod-cidr` or the allocated node.podCIDR. It is too bad we use pod-cidr and ignore node.podCIDR.

If `register-node=true` and `register-schedulable=true`, then no different than a normal node.

[2016-09-21 21:06] adambom commented on #32225
@saad-ali This did the trick.

On a side note, I'd like to make the suggestion that we enable the use of a boolean for `encrypted` in the configuration. It's a little counterintuitive to know you need to quote it. Or at least make it clear in the [docs](https://github.com/kubernetes/kubernetes/tree/master/examples/experimental/persistent-volume-provisioning#aws) that `true` or `false` need to be q

[2016-09-21 21:06] #32225 closed

[2016-09-21 21:14] paultyng commented on #22224
I'm hitting this same issue as well.  How would you modify the cluster name? Should you pass it explicitly to the controller manager?

[2016-09-21 21:17] fabioy commented on #27754
I think we should do both dynamic disk size based upon cluster size, AND @chrislovecnm's partitioning idea. We've had masters break because the logs filled up and isolating that failure from the rest would be good.

[2016-09-21 21:18] caesarxuchao opened #33212 "Document compatibility guarantees of kubectl"
1. **what's the guarantee for version skew?** We have compatibility tests for kubectl that is 1 version away from the master: https://k8s-testgrid.appspot.com/google-kubectl-skew. Is that the guarantee?

2. **what's the backward compatibility guarantee?** If a script uses kubectl, will it be broken if we install a different version of kubectl?

I think we need documentation for both questions.

cc

[2016-09-21 21:21] jianhuiz commented on #32733
Sent #33213 fixing the planner issue

[2016-09-21 21:27] dagnello opened #33215 "vSphere Cloud provider: ExternalID/InstanceID not returning appropriate error for non-existing VM"
ExternalID/InstanceID do not return 'cloudprovider.InstanceNotFound' error when the VM is not found.  This can occur when a node VM is deleted entirely.

In this case InstanceID method would throw an nil pointer exception here:
[err = getVirtualMachineManagedObjectReference(ctx, c, vm, "summary", &mvm)](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/vsphere/vspher

[2016-09-21 21:30] justinharkey opened #33216 "Friendly Note: I am receiving every email notification for this repo"
Hi there,

It appears someone has set an email address using the @crowdfunder.com domain. Our catch-all is receiving every notification from this repo (or maybe parts of the repo but a lot of emails).

It's not affecting us in any way but I thought I would let you guys know.

Cheers.

[2016-09-21 21:40] freehan commented on #32332
kube-proxy does not handle loadBalancerSourceRange updates properly. #33033

[2016-09-21 21:43] philips commented on #32917
cc @aaronlevy @pbx0

[2016-09-21 21:46] mtaufen commented on #33106
https://github.com/kubernetes/kubernetes/blob/313ef639930175/test/e2e/examples.go#L337
[code]

Looks like it timed out trying to start a Zookeeper pod. @mwielgus any ideas?

[2016-09-21 22:04] smarterclayton commented on #33196
Yeah, I suspect this will break some error paths for some clients.  That said, those are probably bad clients - not sure how to get an accurate summary across the community.

[2016-09-21 22:04] oglu opened #33220 "Private registry and connection refused"
I am trying to use a private registry with kubernetes with images named (e.g.) `private.registry.com/redis:3.0.3` . Configuration (.docker/config.json) is there and

`docker run -t -i private.registry.com/redis:3.0.3 ` executes perfectly

I am assuming that somehow it tries to contact the registry at port 80 which is disabled.

A sample pod definition is

[code]

[2016-09-21 22:16] bprashanth commented on #29514
The CVM failures in 1.2->1.4 (https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-cvm-1.4-upgrade-master) are https://github.com/kubernetes/kubernetes/issues/32124#issuecomment-248158597 and should be addressed with https://github.com/kubernetes/kubernetes/pull/33204

[2016-09-21 22:17] smarterclayton commented on #13610
I think we plan to de-dup the logic - @pmorie and I plotted it, but did not
execute in 1.4 because of other situations.  I am assuming a world where
env and volume do exactly the same thing.

On Wed, Sep 21, 2016 at 11:09 AM, Tim Hockin <notifications@github.com>
wrote:

[2016-09-21 22:21] rata commented on #33162
Well, I opened a PR to fix the example. @qwang1 can you confirm this fixes the issue for you?

If someone thinks it's better to use YAML (in the other examples of secret JSON is being used) to have more natural notation on file mode, please let me know

[2016-09-21 22:26] smarterclayton commented on #33212
I have been reviewing with the following mental guidelines, although I think we can be looser than this

* New code that uses new objects should not fail against old servers (back to 1.0)
* All flags should have backwards compatibility - we don't add, remove, or significantly change behavior without a discussion (I can only think of a few)
* Scripts that use kubectl should continue to work at leas

[2016-09-21 22:28] boxsmiley commented on #6437
I guess gravitational is now hosting the main github repo for kube2sky?

Does anyone have any information on PTR support?

I am running a standalone kubernetes cluster with skydns and kube2sky and DNS is extremely slow the reverse lookup is lost in space (~6secs).  tcpdump reveals that the PTR record is the holdup.  I add the PTR record to skydns by hand like this:

curl -XPUT http://127.0.0.1:400

[2016-09-21 22:29] smarterclayton commented on #31570
Timing out due to a test hanging?

On Wed, Sep 21, 2016 at 6:21 PM, Kubernetes Submit Queue <
notifications@github.com> wrote:

[2016-09-21 22:29] vishh opened #33222 "Kube-dns should not be setting CPU limits"
CPU limits are enforced on most distros excepting Google's debian based containerVM. The current CPU limits for kube-dns are not based on empirical data ( quoting @bprashanth ).
The kube-dns pod is already in the `Burstable` class. I propose removing CPU limits altogether until we profile kube-dns in more detail.
This issue will impact users.

[2016-09-21 22:32] fabioy opened #33223 "Log rotate all /var/log log files in GCI"
GCI log rotation configuration missed "glbc.log" file. We should just configure log rotation to rotate all "*.log" files in /var/log.

[2016-09-21 22:32] fejta commented on #33025
Not test-infra, issues are filed for the various failures.

[2016-09-21 22:32] #33025 closed

[2016-09-21 22:34] fejta commented on #32994
I suspect this has something to do with the container not following the timeout and relying on jenkins to copy files.

We are tracking this elsewhere.

[2016-09-21 22:34] #32994 closed

[2016-09-21 22:35] bprashanth commented on #33222
It's based on some empirical data, just not very good data because we keep running into issues. I think removing the limits should be fine, but this isn't a fire right now, so it probably won't make it into 1.4.0 as a cherrypick unless @kubernetes/sig-network really wants to relax it.

[2016-09-21 22:36] fejta commented on #32346
Looks like issues creating a firewall... how would you like me to route these?

[2016-09-21 22:39] pwittrock opened #33226 "Action required from 1.4 feature owners - update release notes spreadsheet"
Note: Any messages to this github issue will go to many many people, so there is no need to update it unless you need clarification on the instructions.

If you are mentioned in the issue, you must **make sure the 1-line feature description for your 1.4 issues has been updated**.

We are aggregating release notes for the kubernetes 1.4 release and need a 1-line description + docs link for each fea

[2016-09-21 22:41] fejta commented on #31570
Seems highly likely to be one of these PRs: https://github.com/kubernetes/kubernetes/compare/4099a5c...313ef63

[2016-09-21 22:41] vishh commented on #33222
This issue will not be detected by our existing tests. What defines a `fire`?

[2016-09-21 22:42] fejta commented on #31570
I agree with @ixdy that this appears to be related to #32888, assigning over to @deads2k

[2016-09-21 22:45] bprashanth commented on #33222
hmm, something that is causing problems for existing customers with todays deployment/os etc?

[2016-09-21 22:46] bprashanth commented on #33222
or will, if they get on the 1.4 release

[2016-09-21 22:46] Random-Liu commented on #29478
Claim `encoding lifecycle hooks`. :)

[2016-09-21 22:50] philips commented on #32917
@aaronlevy didn't see any failures in testing beta.8 but the way we run kubelet under rkt is different than I think the issue referred does cAdvisor in a docker container.

We will see if beta.9 turns anything up.

[2016-09-21 22:51] minjs commented on #24300
@thockin , as my understand #19754 only fix part of this issue.  Can we set kube-proxy only redirect traffic to container on local node instead of loadbalancing to all endpoints?

[2016-09-21 22:55] vishh commented on #33222
There have been GKE customer issues in the past around kube dns being slow
on GCI based ContainerVM which has CPU limits enabled.

On Wed, Sep 21, 2016 at 3:46 PM, Prashanth B <notifications@github.com>
wrote:

[2016-09-21 22:55] idvoretskyi commented on #33226
cc @kubernetes/features-maintainers to track.

[2016-09-21 22:56] bprashanth commented on #33222
sure we haven't prioritized it till now for 1.4, i don't see a sudden reason to do so

[2016-09-21 22:56] fejta commented on #32943
Looks like https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/17213/ flaked, assigning to @vishh per https://github.com/kubernetes/kubernetes/blob/master/test/test_owners.csv#L563

[2016-09-21 22:57] bprashanth commented on #33222
when i say 1.4 i meant 1.4.0

[2016-09-21 22:59] bprashanth commented on #33222
also i think the slowness was more because of cpu requests being low (even on gce), per https://github.com/kubernetes/kubernetes/issues/33027. Though as described, it really can't *hurt* to alleviate the limits, especially if we were never honoring them. Do you have a bug for that I can look over to understand the risk/impact?

[2016-09-21 23:05] fejta commented on #30754
Click the artifacts link in gubernator, navigate to the artfiacts folder in gcs, then open the correct .stdout file.

[2016-09-21 23:09] JoeyZwicker commented on #33202
+1 to @jchambers. Can we get this minor 3-line fix pushed to get.k8s.io ASAP so we can actually start directing users there and they'll be successful?

[2016-09-21 23:10] jwforres opened #33231 "Date header not accessible to CORS browser clients, missing Access-Control-Expose-Headers"
v1.4.0-beta.3+d19513f

If a UI is hosted on a different domain than the API, and that UI hostname has been whitelisted as an allowed CORS origin, it should be able to access the Date header being returned by the API.

However, the CORS spec requires any headers that are not [simple](https://www.w3.org/TR/cors/#simple-response-header) must be included in a header called Access-Control-Expose-Header

[2016-09-21 23:10] jwforres commented on #33231
cc @smarterclayton found this trying to fix the clock skew problem

[2016-09-21 23:11] vishh commented on #32943
The test_owners needs to be updated. I'm not the appropriate person to handle federation tests

[2016-09-21 23:13] vishh commented on #33222
I can share the internal bug offline.

On Wed, Sep 21, 2016 at 3:59 PM, Prashanth B <notifications@github.com>
wrote:

[2016-09-21 23:13] fejta commented on #27321
Please reactivate with a gubernator link, thanks!

[2016-09-21 23:13] k8s-merge-robot opened #33232 "[k8s.io] Kubelet Container Manager [Serial] Validate OOM score adjustments once the node is setup pod infra containers oom-score-adj should be -998 and best effort container's should be 1000 {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/782/

Failed: [k8s.io] Kubelet Container Manager [Serial] Validate OOM score adjustments once the node is setup pod infra containers oom-score-adj should be -998 and best effort container's should be 1000 {E2eNode Suite}

[code]

[2016-09-21 23:14] bprashanth commented on #33222
oh, so it's still honored on other platforms, then it's still a risk right?

[2016-09-21 23:16] vishh commented on #33222
Yes. CPU limits are honored on all other distros other than debian based
container VM.

On Wed, Sep 21, 2016 at 4:15 PM, Prashanth B <notifications@github.com>
wrote:

[2016-09-21 23:22] jingxu97 commented on #32295
Doesn't the output below show that your aws ebs volume is mounted?
xvdba   202:13312  0   20G  0 disk /var/lib/kubelet/pods/3c32c00a-75b0-11e6-aa52-063165fd7393/volumes/kubernetes.io~aws-ebs/pvc-f884ac4b-5d51-11e6-94d4-02fe9eee2d51

/dev/xvdba ext4 19.6G 7.8G 10.8G 42% /prometheus is the global mount path, then for each pod, we have bind mount

[2016-09-21 23:24] saad-ali commented on #32705
Closing this since PR #32930 is merged and addresses this test

[2016-09-21 23:24] #32705 closed

[2016-09-21 23:28] spiffxp commented on #32799
Maybe way too early, but is this the sort of candidate for moving into the newly incubated `perf-tests`?

[2016-09-21 23:28] mml commented on #30754
Yeah, we save stdout, but the compiler errors are sent to stderr.

So I see

[code]

But the actual compiler errors aren't there.

[2016-09-21 23:41] bprashanth commented on #33222
Alright, lets assess the real risk/benefit here, there are currently 3 dns containers:
   * kubedns: guaranteed cpu, burstable ram
   * healthz: guaranteed cpu/ram
   * dnsmasq; guaranteed cpu/ram

you're proposing that we lift cpu limits on all of them. The impact is:

1. Debian based: suffer from stringent enforcement of cpu limits. On these platforms DNS lookups can simply fail because the limi

[2016-09-21 23:59] spiffxp commented on #33226
@kubernetes/docs a lot of people are providing links to PR's to the docs site, which would be tough for an end-user to read through

what sorts of links should we use to get to the staged results of their PR's being merged?

eg: where I could see a live copy of https://github.com/kubernetes/kubernetes.github.io/pull/1206

[2016-09-22 00:10] AdoHe commented on #33212
I seriously agree that we should make sure flags backwards compatibility, if we really need to change the behavior of a specific flag like we did for `--restart Never`, we should document it very well and add detailed change log.

[2016-09-22 00:12] Random-Liu commented on #33232
@vishh

[2016-09-22 00:15] caesarxuchao commented on #30228
[Log](https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-test-go/17263) showed GC tried to delete the pod:
[code]
So the problem is in the test, it should just poll for the deletion of the pod, rather than relying on the `gc.QueuesDrained()`. I'll send a fix.

[2016-09-22 00:17] AdoHe commented on #33070
@knownasilya can you reproduce this?

[2016-09-22 00:22] dims commented on #33231
@jwforres i can take a stab at a quick change Access-Control-Expose-Headers (support section 6.1.4 of https://www.w3.org/TR/cors/#resource-requests). If i a file a WIP PR, will you be able to build it and test it? Please let me know

[2016-09-22 00:22] #32692 closed

[2016-09-22 00:26] spiffxp commented on #33226
There are some feature issues in the v1.4 milestone that aren't on the spreadsheet.  Pinging the authors/assignees to confirm you do _not_ want these mentioned in the release notes
- (alpha) [Node Conformance Test](https://github.com/kubernetes/features/issues/84) (@dchen1107, @Random-Liu)
- (alpha) [Node Performance Benchmark](https://github.com/kubernetes/features/issues/83) (@dchen1107, @dchen1

[2016-09-22 00:27] thockin commented on #24300
That is a much more delicate question because it is very likely to make for
imbalanced performance.  Nodes with more frontends have less backends, but
pound on them harder...

On Wed, Sep 21, 2016 at 3:51 PM, Min Ren <notifications@github.com> wrote:

[2016-09-22 00:28] #27538 closed

[2016-09-22 00:28] #32029 closed

[2016-09-22 00:36] knownasilya commented on #33070
I'll try tomorrow.

[2016-09-22 00:44] thockin-cc commented on #6437
kube2sky is EOL.  kube-dns is an integrated DNS server and it includes some
PTR support.

https://github.com/kubernetes/kubernetes/tree/master/cmd/kube-dns

[code]

we do not have reverse lookups for pods yet.

On Wed, Sep 21, 2016 at 3:29 PM, boxsmiley <notifications@github.com> wrote:

[2016-09-22 00:51] ixdy commented on #27367
The old email thread would be helpful. Right now there's still not enough context to know what should actually be done to prevent this.

Put another way: our non-release-builds [use `ci/latest`](https://github.com/kubernetes/test-infra/blob/master/jenkins/e2e-image/e2e-runner.sh#L290). The release builds use `ci/latest-$VERSION`. I don't know what went wrong with 1.3 where this did the wrong thing

[2016-09-22 01:04] ixdy commented on #30754
The compiler errors are in the regular build log.

[2016-09-22 01:42] Random-Liu commented on #33091
@vishh, by running `make`, it will just build everything on the current platform. That's why e2e_node and even other kubelet servers are built on Mac with `make`.

The problem is that whether guarantee building on Mac. From https://kubernetes.slack.com/archives/kubernetes-dev/p1474505912000748, it seems that K8s can build on Mac before. However, https://github.com/kubernetes/kubernetes/pull/32926

[2016-09-22 01:59] Temikus opened #33241 "kubectl --export flag doesn't work"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kubectl, get, export, --export, flag

---

**Is this a BUG REPORT or FEATURE REQUEST?

[2016-09-22 02:05] bprashanth commented on #33222
Spoke irl, the impact is to all *non* debian systems. They could potentially get throttled on cpu, only debian won't because it ignores cpu limits.

Simply setting any container cpu or memory requests > limits puts the pod in burstable QoS, so kube-dns is already only burstable and the change doesn't degrade its QoS.

[2016-09-22 02:14] aaronlevy commented on #32917
This specific issue does not seem to affect CoreOS installs (tested beta.8 & beta.9).

[2016-09-22 02:22] #33140 closed

[2016-09-22 02:27] madhusudancs commented on #32943
This is a duplicate of #32685 which is assigned to @quinton-hoole. So I am assigning this one to him as well. I will be happy to help if necessary.

[2016-09-22 02:27] wangweihong opened #33245 "kubectl delete daemonset hang"
I have a daemonset resource like this:

[code]

 When I try to run `kubectl delete daemonset` to delete this daemonset resource , it hang a few minutes, and exited with result 1.

[code]

This daemonset still exists.I try to delete it again.This time it hang  8 minutes.

[code]

**Kubernetes version** (use `kubectl version`):

**Environment**:
Linux ubuntu192.168.14.100 4.4.0-36-generic #55-Ubuntu

[2016-09-22 02:36] mdshuai commented on #33162
@rata The fix look good for us. thanks.

[2016-09-22 02:47] AdoHe commented on #33241
@Temikus could you please try `kubectl get deployments --v=9 --export -o=yaml`, this would output the response from apiserver.

[2016-09-22 03:01] maisem commented on #32124
@bprashanth - I understand this is failing in 1.2 because of a docker/test issue (that should be fixed in #32204).
Do you know why it's failing in 1.3->1.4?
e.g. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.3-gci-1.4-upgrade-master/38#k8sio-services-should-be-able-to-up-and-down-services

[2016-09-22 03:08] rata commented on #33162
@mdshuai thank you both for the report! :-)

Can this be marked as fixed, then? :)

[2016-09-22 03:34] thockin commented on #33222
I think we DO set the CPU limit, so more modern distros will throttle CPU.
We should disable that.

On Wed, Sep 21, 2016 at 7:06 PM, Prashanth B <notifications@github.com>
wrote:

[2016-09-22 03:48] colemickens opened #33249 "hyperkube-amd64:v1.4.0-beta.9 is not tagged on GCR"
[code]

Is tagging/pushing `hyperkube-amd64` not an automated part of the release process? I had had a PR for this and abandoned it after there was an indication that it was now being built as part of the normal release.

It seems that it is still not being built as part of the tarball release, and instead is built after the release tarballs have already been created... Maybe that contributes to i

[2016-09-22 03:49] colemickens commented on #33249
Previous discussion: https://github.com/kubernetes/kubernetes/pull/21928 and https://github.com/kubernetes/kubernetes/pull/20710

[2016-09-22 04:10] liggitt commented on #32946
that would mean every new pod that got scheduled (which happens very frequently) would require reestablishing the watch

pods in different namespaces will always reference different secrets

[2016-09-22 04:16] Temikus commented on #33241
@AdoHe Sure, here's a partially anonymised response:
[code]

[2016-09-22 04:16] chrislovecnm commented on #28706
When we going to get a design doc for this? Going to have PetSets in prod soon, and not being able to upgrade makes me squirm a bit.

[2016-09-22 04:16] Random-Liu commented on #33048
This is similar with the container metrics problem. There are 2 options:

* **Option 1: Still let cadvisor detect the runtime type.** Add a new label `cadvisorfs.LabelRuntimeImages`. If it is passed to `GetFsInfo()`, cadvisor will return what it has docker or rkt.
  * **Pros:** Minimal code change before we figure out the relationship between cadvisor runtime detection and kubelet runtime interfac

[2016-09-22 04:23] bprashanth commented on #33222
the only reason we set it in the first place was for qos, but apparently there was a misunderstanding because the pod is already burstable on memory. the only reason it isn't infinite is because I thought qos degraded by the *amount* limits are > requests, but apparently that is also not true.

There really is very little motivation to set cpu limits on anything important, apparently.

[2016-09-22 04:28] thockin commented on #33222
The primary reason to set CPU limits is determinism, e.g. benchmarks.  The
Borg default is not to limit CPU.  Request is guaranteed.

On Wed, Sep 21, 2016 at 9:24 PM, Prashanth B <notifications@github.com>
wrote:

[2016-09-22 04:29] chrislovecnm commented on #27476
Eh?

[2016-09-22 04:30] bprashanth commented on #32124
definitely not for the same reason, as the failure signature indicates.
I'll need to debug to say anymore, it might be that the test is generally flaky.

[2016-09-22 04:31] #13598 closed

[2016-09-22 04:40] chrislovecnm commented on #27238
Latest example allows for this config. Have ideas that will be pushed into charts.

[2016-09-22 04:40] #27238 closed

[2016-09-22 04:40] minjs commented on #24300
@thockin, I guess it is more about NodePort service type. In our case, we have to connect to an external load balancer even with NodePort service. And we can not just set one node ip-port to external load balancer. Then there are two load balancing running, and kube-proxy load balancing real just give the request more latency.

[2016-09-22 04:46] chrislovecnm commented on #33191
@saad-ali any ideas on this one?

[2016-09-22 04:47] chrislovecnm commented on #32905
Can you launch a pod in the same namespace and do a nc on the ports?

[2016-09-22 04:48] chrislovecnm commented on #32905
Also there is a zookeeper example in contrib and charts. Do those work on your environment?

[2016-09-22 04:49] chrislovecnm commented on #32528
What apps fit this use case?

[2016-09-22 04:51] chrislovecnm commented on #32492
Having problems with on of my Cassandra tests, has this been resolved?

[2016-09-22 04:53] bprashanth commented on #32528
babysitters? anything that currently needs ha but doesn't have built in support

[2016-09-22 04:54] chrislovecnm commented on #32123
How are TLS certs being handled with this setup? I assume that we are going to have TLS encryption a enabled between etcd servers.

[2016-09-22 04:56] chrislovecnm commented on #30593
Is kube-dns installed? Looks like you have a DNS problem. How is your cluster DNS setup?

[2016-09-22 04:57] thockin commented on #24300
Yes, NodePort support will be a followup to the work that went in for 1.4

On Wed, Sep 21, 2016 at 9:41 PM, Min Ren <notifications@github.com> wrote:

[2016-09-22 04:58] bprashanth commented on #28706
fyi you can already upgrade pets like daemons, change the image and delete pets. If you don't care about the listed inadequacies, you can head to the races.

[2016-09-22 04:58] marun commented on #33041
+1 for rate limiting.  Would it make sense to use something similar to how exponential backoff works in the api to adjust the rate of pod scheduling to the capabilities of the cluster rather than allowing scheduling in blocks (e.g. 500)?

[2016-09-22 05:00] saad-ali commented on #33191
@bprashanth for pet sets

[2016-09-22 05:03] colemickens commented on #33249
(If it's desired to be included in the tarball, I could add this. Likewise if there's automation around pushing the various images in the repo.)

[2016-09-22 05:05] thockin commented on #33179
I have deep distrust for autofs...

On Wed, Sep 21, 2016 at 12:43 PM, Huamin Chen <notifications@github.com>
wrote:

[2016-09-22 05:07] thockin commented on #32225
The issue is that the params are a map of string->string, but YAML parses
`true` as a bool.  it also parses `12345` as an int, so you need to quote
that too.

Also
https://makandracards.com/makandra/24809-yaml-keys-like-yes-or-no-evaluate-to-true-and-false

YAY YAML!

On Wed, Sep 21, 2016 at 2:06 PM, Adam Savitzky <notifications@github.com>
wrote:

[2016-09-22 05:11] #33222 closed

[2016-09-22 05:24] marun commented on #10456
@eviloop I think the 'federation plane' updates dns with the external addresses assigned to a federated service.  The examples in the federation docs use services of type LoadBalancer with load balancer ip's but the docs indicate that ExternalIPs could work, too:

http://kubernetes.io/docs/user-guide/federation/federated-services/#creating-a-federated-service

Have you tried manually assigning the

[2016-09-22 05:38] zhouying7780 opened #33253 "Should have '--selector' option for create service command to specify the labels"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): create service

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATUR

[2016-09-22 05:40] zhouying7780 commented on #33253
https://bugzilla.redhat.com/show_bug.cgi?id=1377939

[2016-09-22 05:53] zhouying7780 opened #33254 "Should have option to specify the external load balancer for create loadbalancer service"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): create,service

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATUR

[2016-09-22 05:53] zhouying7780 commented on #33254
https://bugzilla.redhat.com/show_bug.cgi?id=1378011

[2016-09-22 06:03] anguslees commented on #33128
Dumping the results of my research here for posterity:

- The (2012) nova bug that discussed/implemented a lot of this originally was [1004328](https://bugs.launchpad.net/nova/+bug/1004328).  Many of the relevant libvirt/kvm changes are linked from there.
- KVM/virtio exposes the first 20 chars of UUID as virtio serial number (as seen above)
- ESXi appears to expose it as the device WWN (according

[2016-09-22 06:05] eviloop commented on #10456
@marun This is a good idea, thanks ! I will try with both Loadbalancer Type AND ExternalIPs

In hindsight I realise now that my business case would be to force all cross-cluster traffic via Federation Ingress, while currently it is designed via Federation Services with direct communication between services

[2016-09-22 06:28] ConnorDoyle opened #33255 "Read-only pod status attribute to advertise computed QoS class."
As described by @derekwaynecarr from comments in #32468:

@jwforres @vishh @balajismaniam

[2016-09-22 06:30] ConnorDoyle commented on #32468
@derekwaynecarr that makes sense. I created #33255 to track the read-only QoS class attribute, and closing this issue for now. Thanks everyone for discussing it.

[2016-09-22 06:30] #32468 closed

[2016-09-22 06:38] ConnorDoyle commented on #33255
Around the same time `kubectl` could be updated to simply read the new attribute instead of re-computing the class (see https://github.com/kubernetes/kubernetes/blob/f9e1ef97dbe5fae5d8588881e6c36344c4ff7769/pkg/kubectl/describe.go#L550)

[2016-09-22 07:15] Zapadlo commented on #32295
Thats a *different* EBS volume, which is 20G in size and belongs to Mongo. It happenned to be running on the same host.

[2016-09-22 07:15] k8s-merge-robot opened #33256 "[k8s.io] Deployment paused deployment should be ignored by the controller {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/16037/

Failed: [k8s.io] Deployment paused deployment should be ignored by the controller {Kubernetes e2e suite}

[code]

Previous issues for this test: #28067 #28378 #32692

[2016-09-22 07:21] qinsc opened #33257 "Node is NotReady for hours, but finally return Ready"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **OS** (e.g. from /etc/os-release):

    NAME=CoreOS
    ID=coreos
    VERSION=1122.2.0
    VERSION_ID=1122.2.0
    BUILD_ID=2016-09-06-1449
    PRETTY_NAME="CoreOS 1122.2.0 (MoreOS)"
    ANSI_COLOR="1;32"
    HOME_URL="https://coreos.com/"
    BUG_REPORT_URL="https://github.com/coreos/bugs/issues"
- **Kernel** (e.g. `unam

[2016-09-22 07:34] amarruedo opened #33258 "vSphere Cloud provider: error trying to read VM instance on vsphere cloud provider plugin"
**Kubernetes version** :

[code]

(I'm using v1.4.0-beta.8+coreos.0 version since this fixes "dmidecode" binary dependency, which is not available neither in hyperkube, nor in Core OS #27331)

**Environment**:
- **Cloud provider or hardware configuration**:

VMWare virtual machine, deployed on as ESXi 6.0.0 Update 2 (Build 4192238) host.

Output from govc datacenter.info

[code]

Output from govc

[2016-09-22 07:54] amarruedo commented on #33258
@mikedanese @imkin @lavalamp (from  #27331, I guess you deal with kubernetes-vmware related issues, my apologies if thats not the case).

[2016-09-22 07:59] jsafrane commented on #32492
@saad-ali, looking at the logs, I see that the volume controller tries to delete the volume only once, at 2016-09-12 13:34:36. After that, it does not retry for 4 minutes. By default, the controller should retry every 15 seconds. Do you change persistent volume controller sync in GKE?

In case you don't, #32497 caused the volume resync to be 3-6 minutes (chosen randomly, i.e. it can be outside of

[2016-09-22 08:29] wojtek-t commented on #32571
@caesarxuchao - please open it and assign it to me. I'm OOO now, but will do it once I'm back next week.

[2016-09-22 08:32] wojtek-t opened #33259 "LeaderElection calls to apiserver doesn't have user agent set"
As a result, it's not obvious to say where does this request exactly come from.

Additionally, we should ensure that leader election client has a separate request throttling, as these API calls can NOT be throttled by other requests coming from the component.

@kubernetes/sig-api-machinery

[2016-09-22 08:32] wojtek-t commented on #32571
OK - I filed this issue: https://github.com/kubernetes/kubernetes/issues/33259

[2016-09-22 08:41] discordianfish commented on #13598
@dims Awesome! Thanks for this!

[2016-09-22 08:47] fvigotti opened #33261 "controller manager should regenerate service account tokens when given a new signing key"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4+", GitVersion:"v1.4.0-beta.8", GitCommit:"3040f87c570a772ce94349b379f41f329494a4f7", GitTreeState:"clean", BuildDate:"2016-09-18T21:06:37Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"4+", GitVersion:"v1.4.0-beta.8", GitCommit:"3040f87c570

[2016-09-22 09:01] mdshuai commented on #33162
@rata yes. For json will use decimal number. thanks for your fix. we can close this issue.

[2016-09-22 09:22] kargakis commented on #33256
[code]
[code]
The pods now use terminationGracePeriod=1s but it can take up to 1m and they are still to be removed....

[2016-09-22 09:32] kargakis commented on #33254
cc: @kubernetes/kubectl

[2016-09-22 09:33] kargakis commented on #33253
cc: @kubernetes/kubectl

[2016-09-22 09:45] soltysh commented on #33226
@pwittrock I've added audit https://github.com/kubernetes/features/issues/22 to that spreadsheet, since it's marked as alpha for 1.4, feel free to remove if not needed.

[2016-09-22 09:50] kiall commented on #33128
Ok - I'll forward port my 1.3 patch to master, add wwn for ESX, and fallback to whatever it is cinder tells us the device is.

[2016-09-22 10:01] wu8685 commented on #27454
I add a PR #33263 to update godep

[2016-09-22 10:04] StuartGreenhall commented on #28727
I've seen this when trying to spin up a k8s cluster in a AWS account that has had a previous cluster running. Its caused by the **find-tagged-master-ip** function in

It obtains the master ip from a tag called **kubernetes.io/master-ip** on the EBS volume **kubernetes-master-pd**. In my case it had the ip of an old master that was terminated after different failure of the kube-up.sh script.

Runni

[2016-09-22 10:06] kiall commented on #33128
@anguslees if you have a Rackspace Cloud account, could you attach a volume, let me know the ID, and show me these?

	ls -lah /dev/disk/by-id
	ls -lah /dev/disk/by-uuid
	ls -lah /dev/disk/by-label
	sudo lshw -class disk -class storage
	sudo udevadm info -q all -n /dev/<DEVICE>

[2016-09-22 10:29] venkatramachandran commented on #30593
Thanks for pointing this out. kube-dns was not started properly.
Solved the issue by starting kube-dns (by setting `KUBE_ENABLE_CLUSTER_DNS=true` and `KUBE_DNS_SERVER_IP=<IP>`).
Closing this issue.

[2016-09-22 10:29] #30593 closed

[2016-09-22 10:34] jsafrane commented on #32550
I would argue that upgrading is that simple. E.g. gluster runs a fuse daemon that would need to run inside a container. On upgrade, you need to kill the daemon and start a new one, which will unmount all gluster volumes under running pods. Cephfs may be the same story (not tested though).

With current manual upgrade, sysadmins can drain the node first and update gluster binaries when all pods are

[2016-09-22 10:36] ingvagabund commented on #33188
The ``interpod_affinity.py`` is not so long. So one could document the file independently of what is written in the docs and then combine.

[2016-09-22 10:44] weherdh commented on #33074
@rootfs Great, tested again, it passed. Sorry for the confusion. Thanks!

[2016-09-22 10:48] hectorj2f commented on #28350
We also experience these problems with hyperkube:v1.3.7_coreos.0

[2016-09-22 11:03] mikespokefire opened #33265 "Allow using federation-controller-manager without a cloud dns-provider"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
- custom federation dns provider
- custom federated dns provider
- federation no dns provider
- federated no dns provider

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature request

It would be really useful to be able to run a com

[2016-09-22 11:05] dims commented on #33186
@shashidharatd feel free to just submit a pull request, we don't really have a concept of an issue being "accepted" :)

[2016-09-22 11:46] lucab commented on #33139
From my (little) understanding of SELinux, the current spec is quite hard to implement for rkt (and perhaps other generic runtimes) because of several reasons:
 * it is not specified in which context the pod as a whole (ie. supervising helpers) should be run. We can either run it unconfined or apply a dynamic sVirt context/label to it, without guarantees about app-interaction. Both of those have d

[2016-09-22 11:47] zreigz commented on #32432
@pmorie @liggitt

I started k8s cluster in debug mode. I've noticed the versioned client is used for communication between kubectl and api-server: `https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/client-go` It is officially released code updated from time to time. This is the reason why binary data field from ConfigMap doesn't reach the server. First the extended ConfigMap

[2016-09-22 11:48] deads2k commented on #31570
Did anyone revert overnight?  Looks like the bot was restarted at midnight and has had 8 hours of clean runs.

[2016-09-22 11:51] deads2k commented on #31570
found it: https://github.com/kubernetes/kubernetes/pull/33230

[2016-09-22 12:17] anguslees commented on #33128
Ubuntu 14.04 (kernel 3.13.0-79-generic) on Rackspace / PVHVM:
`/dev/xvdb` is an attached volume.

[code]

[2016-09-22 12:45] jsafrane commented on #33088
I went through storage parts of the cloud provider and on AWS it looks like this:

**Deleter (in persistent volume controller)**

*  calls ec2.DeleteVolume() once per delete attempt

**Provisioner (in persistent volume controller)**

* calls ec2.DescribeInstances() with filter "instance-state-name" == "running" to get all zones that contain a node. Once per provisioning attempt.

* calls ec2.Creat

[2016-09-22 12:47] kargakis commented on #33241
Closing as a dupe of https://github.com/kubernetes/kubernetes/issues/24855

[2016-09-22 12:47] #33241 closed

[2016-09-22 13:14] k8s-merge-robot opened #33271 "[k8s.io] [Feature:Example] [k8s.io] Hazelcast should create and scale hazelcast {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/15464/

Failed: [k8s.io] [Feature:Example] [k8s.io] Hazelcast should create and scale hazelcast {Kubernetes e2e suite}

[code]

Previous issues for this test: #27850 #30672

[2016-09-22 13:16] nebril commented on #33036
I will try to take a shot at it.

[2016-09-22 13:16] idvoretskyi commented on #33226
@soltysh I've been preparing the spreadsheet and haven't included https://github.com/kubernetes/features/issues/22 due to the "Milestone 1.5".

Anyway, if this feature is going to be included into the release, thank you for adding it.

[2016-09-22 13:19] kevtaylor commented on #31422
@rmahajan2420 Please can you explain your answer a little. We would like to know exactly what tags you added / configuration changes you made to the node to solve this issue.

[2016-09-22 13:26] childsb commented on #33102
This is working as designed with the retention policy in your PV.  The volume is "released" for manual reclamation (re-create the PV): http://kubernetes.io/docs/user-guide/persistent-volumes/#reclaiming

[2016-09-22 13:26] jsafrane commented on #33102
`persistentVolumeReclaimPolicy: Retain`: means that the volume will be `Released` forever - you wanted to retain its data. Use `Recycle` to let Kubernetes to delete all the data on the volume and move it to `Available` phase where it can be reused by another claim.

[2016-09-22 13:29] soltysh commented on #33226
@idvoretskyi it's not, because the full functionality is targeted for 1.5, but some basic functionality is already available in 1.4 (thus the alpha-1.4 label on it). There are some docs in place already so I've decided to include it as well.

[2016-09-22 13:29] rootfs commented on #33179
how about building mount them in an overlay fs?
[code]

[2016-09-22 13:35] childsb commented on #33102
One other note...

volume.beta.kubernetes.io/storage-class: "slow"  is a 1.4 feature.. if this was kube 1.4 the PV and PVC would not bind (since the storageClass doesn't exist on PVC)

[2016-09-22 13:35] #33102 closed

[2016-09-22 13:36] rootfs commented on #32550
+1 Container mount using DaemonSet. An early experiment can be found at https://github.com/kubernetes/kubernetes/compare/master...rootfs:ds-mounter?expand=1

[2016-09-22 14:03] rtreffer commented on #7470
For DNS we'd like the following things to be considered

1. Set multiple DNS servers via kubelet
2. Setup a DNS server/cache per host

**kubelet can inject only 1 DNS server** as the cluster-dns option is parsed into net.IP. (docker supports specifying --dns multiple times)
Why this is important: Having only one server will cause 5s timeouts, while two servers will cause glibc to at least try the

[2016-09-22 14:03] #24240 closed

[2016-09-22 14:08] ashishsoni commented on #33202
+1 to get this fixed soon as this is a blocking issue

[2016-09-22 14:36] idvoretskyi commented on #33226
@soltysh thank you!

[2016-09-22 14:52] pwittrock commented on #29324
@saad-ali I think the milestone for this needs to be changed to v1.3.  I did that for you, let me know if it was the wrong this to do.

[2016-09-22 14:55] pwittrock commented on #32366
As no one has given me a justification for this to be required in release 1.4 and we are no longer accepting additional changes to it, I am moving this out of the milestone.

[2016-09-22 14:55] pwittrock commented on #32366
@madhusudancs @jszczepkowski @gmarek

[2016-09-22 14:57] pwittrock commented on #33223
@fabioy I cherrypicked your change last night.  Please do what you need to do to confirm this is resolved.

[2016-09-22 15:01] pwittrock commented on #32124
It looks like the test just magically stopped failing yesterday around 2am which is before @bprashanth's change was merged in to 1.2

https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade#gke-cvm-1.2-cvm-1.4-upgrade-master

This isn't failing on the cvm-gci test jobs either

@bprashanth Are we ok to close the book on this?

[2016-09-22 15:09] piosz commented on #33226
cc @fgrzadkowski since @wojtek-t is OOO

[2016-09-22 15:10] quinton-hoole commented on #33186
This looks like a legitimate bug.  @shashidharatd could you please clarify what version of the federated service controller you are running?  The image path and version of the container, or a git hash of the source should be sufficient.

[2016-09-22 15:15] kdima commented on #27161
I have realised that this tcp dump is a bit over complicated as I was running it from my local machine and thus going through multiple tunnels. Here is a different version where there is only one tunnel involved.
K8S api server service ip 10.220.254.1
VPN gateway is 10.20.0.3 this is where I am going to be running server side tcp dump.
K8S api server endpoint 10.20.0.2:6443

K8S api server:
[code]

[2016-09-22 15:18] soltysh commented on #33212
While updating generator for SJ I've raised similar concern wrt generators and esp. their documentation (see #32671). Already our [generator flag description](https://github.com/kubernetes/kubernetes/blob/6e251178913ec95f482e44ab25dfa4611e8b1838/pkg/kubectl/cmd/run.go#L107) is super complicated, but it keeps backwards compatibility all the way to 1.0. It would be nice to have both documentation gu

[2016-09-22 15:23] AdoHe commented on #24855
Just add this to my to do list, will open a PR asap.

[2016-09-22 15:23] fabioy commented on #33223
Thank you, will do.

[2016-09-22 15:24] rootfs commented on #33203
@kubernetes/sig-storage

[2016-09-22 15:24] rootfs commented on #33207
@kubernetes/sig-storage

[2016-09-22 15:31] bprashanth opened #33279 "Gblc shouldn't spam logs with soft errors"
0.8.0 picks up a godep update with an int overflow fix to the upstream workqueue package. This bug tracks cherrypicking the version bump into 1.4.1.

[2016-09-22 15:33] thockin commented on #7470
On Sep 22, 2016 7:04 AM, "Rene Treffer" <notifications@github.com> wrote:

into net.IP. (docker supports specifying --dns multiple times)

while two servers will cause glibc to at least try the second server as
well and musl will go ahead and ask both server in parallel, thus improving
latencies.

Having two 'nameserver' entries will double the DNS load on the cluster.
We are actively investigatin

[2016-09-22 15:39] derekwaynecarr opened #33283 "Move contrib/mesos to a separate repository"
I think we need to define a plan for this part of the code moving forward.

* I am not aware of a SIG that sponsors feature evolution in this area of the code.
* Is this a good candidate to move out of tree and put in a kubernetes-incubator organization with a sponsoring champion?
* It appears to be packaged here:
 * https://github.com/mesosphere/kubernetes-mesos/commits/master

/cc @kubernetes/si

[2016-09-22 15:43] quinton-hoole opened #33284 "Federation: Configure a soak test job in Jenkins CI"
#33186 highlighted the fact that we do not yet have a soak test for Federation configured in Jenkins.

The basic idea is to have a CI test job which repeatedly runs all of our e2e tests, over and over, against a single federation, without tearing it down between runs. Typically we run the clusters for about a week.  This can be modelled on the existing Kubernetes soak tests:

https://k8s-testgrid.

[2016-09-22 15:46] erictune commented on #32535
@davidopp is this a dup of  #29503

Is it possible for me to not own Taint-related tests?

[2016-09-22 15:48] thockin commented on #27161
The kube-proxy has performed a DNAT, the return path needs to go back
through the gateway.  The iptables rules are supposed to SNAT in this case.

@freehan @cjcullen I swear this was working before - are we collectively
hallucinating or did we regress somewhere?

On Thu, Sep 22, 2016 at 8:15 AM, Dmytro Kislov <notifications@github.com>
wrote:

[2016-09-22 15:58] smarterclayton commented on #831
With CRI looming, as much as I think this is a solution that most people need, it complicates the attempt to implement something like this.  @thockin / @dchen1107 is there a feature freeze in the kubelet until CRI reaches alpha?

[2016-09-22 16:00] k8s-merge-robot opened #33285 "[k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should update nodePort: udp [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/9057/

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should update nodePort: udp [Slow] {Kubernetes e2e suite}

[code]

[2016-09-22 16:01] thockin commented on #831
Not a freeze per-se, but every new change needs to address how it interacts
with CRI

On Thu, Sep 22, 2016 at 8:59 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-22 16:03] thockin commented on #33179
overlay isn't quite ubiquitous yet, but that could maybe be a pluggable
strategy.

On Thu, Sep 22, 2016 at 6:30 AM, Huamin Chen <notifications@github.com>
wrote:

[2016-09-22 16:04] thockin commented on #33036
Awesome!  Make sure to handle updates in all directions.  Historically it
is the thing we forget.

On Thu, Sep 22, 2016 at 6:17 AM, Maciej Kwiek <notifications@github.com>
wrote:

[2016-09-22 16:09] #33108 closed

[2016-09-22 16:12] fabioy commented on #31964
@spxtr The failure mode seem rather binary: either it passes, or fails to start at all and produces little to no useful logs. Some help in gathering more data on this?

[2016-09-22 16:13] smarterclayton commented on #831
This one may be ugly there because the volume manager would need to create
containers that could then be mounted into other volumes, and the container
GC would need to handle their existence.

This is coming up enough from end users on our side now I'm tempted to
increase the priority for 1.6 to try for it.

On Thu, Sep 22, 2016 at 12:02 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-09-22 16:15] spiffxp commented on #33226
@devin-donnelly I notice there is a https://kubernetes-v1-4.github.io/ but it doesn't seem to have all of the latest files, or I'm not understanding how to convert the PR's merged into links to that site.

Was hoping to provide links to something like that, such that once docs are deployed to the main site, it's a regex/replace to update release note doc links

FWIW, the specific example I linked

[2016-09-22 16:18] thockin commented on #831
It will require some acrobatics to do sanely.

On Thu, Sep 22, 2016 at 9:13 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-22 16:20] bprashanth commented on #32124
Yes. the 2am run probably just didn't hit the docker bug.

[2016-09-22 16:20] #32124 closed

[2016-09-22 16:20] devin-donnelly commented on #33226
One of the previous PRs overwrote some of the required configuration files.
Any PR that's failed its Netlify deploy needs to rebase.

We're not using "kubernetes-v1-4.github.io" as staging anymore. It was a
hack that created a dummy organization and copied the entire repo out using
a Travis script that was continuously broken for 90% of docs PRs.

You can link directly to the deployed Netlify stuf

[2016-09-22 16:22] jayunit100 commented on #33188
interpod_affinity.py?

[2016-09-22 16:22] yujuhong commented on #33048
Container metrics *may* or *may not* be handled by kubelet. It's still undetermined. Kubelet also doesn't rely on such stats today.
On the other hand, ImageFS is essential for disk management and kubelet has to acquire this information. Option 2 also doesn't prevent us from adding more metrics calls in CRI in the future. If the change in cadvisor is not significant. I'd prefer going with option 2.

[2016-09-22 16:24] smarterclayton commented on #831
Indeed.

On Thu, Sep 22, 2016 at 12:18 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-09-22 16:28] Rotwang opened #33288 "Openstack cinder volumes not detached from downed vm when pod is rescheduled to another node."
**Kubernetes version** (use `kubectl version`):
Server Version: version.Info{Major:"1", Minor:"5+", GitVersion:"v1.5.0-alpha.0.1062+1070a518301f0b", GitCommit:"1070a518301f0bfb6f6c8832feff0bba0c391a22", GitTreeState:"clean", BuildDate:"2016-09-20T11:34:18Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Also tried with 1.3.6

**Environment**:
- **Cloud provider or hardware configurat

[2016-09-22 16:28] bprashanth commented on #32124
@maisem does the suite you pointed at run 1.3 gci nodes (https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade#gke-gci-1.3-gci-1.4-upgrade-master) ? If yes, I believe there are already uninvestigated networking issues on gci nodes

[2016-09-22 16:31] smarterclayton commented on #33285
This looks net new.

[2016-09-22 16:32] smarterclayton commented on #33285
[code]

[2016-09-22 16:34] MrHohn opened #33289 "Rescheduler e2e should not scale kube-dns pods."
In [rescheduler e2e test](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/rescheduler.go), for It("should ensure that critical pod is scheduled in case there is no resources available"), kube-dns is used as the critical pod target and being scaled out and in.

However, we plan to enable the dns horizontal autoscaling feature in the near future, such as this [WIP](https://github.com/k

[2016-09-22 16:39] spiffxp commented on #33226
@devin-donnelly ok thanks for clarifying, what do we do for PR's that have already been merged, such as the example I linked?  will some later netlify deploy just pick that up?

[2016-09-22 16:40] kokhang commented on #23568
@ddysher i provided a fix. Can you review it if that works for you?

[2016-09-22 16:42] mwitkow commented on #27161
@thockin just to clarify @kdima's above post:
The setup we have is from a management cluster we have running in a different GCE project (let's call it `global-1`) calling into a K8S cluster running in a different GCE project (let's call it `h-stg`). They are connected using the GCE VPN:

The relevant GCE networking routes for the `global-1` look as follows:
[code]
The GCE routes for `kube-staging`

[2016-09-22 16:42] deads2k commented on #33283
I agree that this is a strong candidate for moving out of tree.  The smoke tests haven't been run in ages, but everyone in the community is paying a maintenance tax for maintaining compilation and unit tests on code that has diverged from core kube pretty significantly.

Because the `contrib/mesos` has forked controller-manager, some controllers (endpoint controller as a fork instance), schedulers

[2016-09-22 16:43] yujuhong commented on #33189
The lack of `exec` and `logs` are causing many test failures because tests often rely on these two operations to verify the output. To unblock work on the integration while continue addressing `exec` and `logs`, I'd submit a PR to hack around that (i.e., using the docker exec/logs directly) today.

[2016-09-22 16:48] devin-donnelly commented on #33226
I think I can just run a commanded deployment that should pick up
everything in the branch (and thus everything that's been merged to date).
I'll send you the link to the subdomain where Netlify stages it and it
should contain all the changes.

Stand by.

On Sep 22, 2016 9:40 AM, "Aaron Crickenberger" <notifications@github.com>
wrote:

[2016-09-22 16:49] smarterclayton commented on #12686
Now that we have FSGroup this in theory is already handled.  We rely on this in openshift to do XFS emptydir quota.

[2016-09-22 16:58] spiffxp commented on #33226
@madhusudancs please provide docs links for the various Federation features

[2016-09-22 17:01] thockin commented on #33081
Yeah, this is catching local traffic.  The problem is that even if we just omit those rules entirely, the VM is configured by GCE to receive the LB VIP, so it still won't do what you expect (which is to egress the network, hit the LB, and come back).  We don't want to make this rule do the old-style DNAT+SNAT because the service is expecting to get valid client IPs.

Maybe we can do this case as i

[2016-09-22 17:02] pmorie commented on #33139
I think it would add to this conversation if we defined what 'app' is.

I don't think this is an official wishlist.  @smarterclayton's use case about a single container in a pod running unconfined is definitely a valid one.

[2016-09-22 17:02] devin-donnelly commented on #33226
Okay, got it.

All the latest release-1.4 docs are available here:
http://kubernetes-io-vnext-staging.netlify.com/docs/

I've spot-checked for the presence off merged PRs. This one was an easy
check: https://github.com/kubernetes/kubernetes.github.io/pull/1147/
The AppArmor documentation is present at the staging URL.

Let me know if that helps.

On Thu, Sep 22, 2016 at 9:59 AM, Aaron Crickenberge

[2016-09-22 17:05] smarterclayton commented on #32528
Concrete example is a controlled ElasticSearch shutdown for upgrade - it's
very, very difficult to do this anywhere except something like Ansible or a
glue script today.  So the script probably has to do things in a specific
order, someone has to understand deeply, but if they have to reason about
consensus as well they're probably in trouble.

A good question is whether a single locked/HA babysit

[2016-09-22 17:16] thockin commented on #33283
@karlkfi

[2016-09-22 17:16] yujuhong commented on #19647
@davidopp This issue is not intended for GCI nor upgrade suites. Filing a new issue might be better.

 GCI has had problems with the docker memory usage for a while, as you can see in https://k8s-testgrid.appspot.com/google-gci#gci-serial-release-1.4. I think they fixed it in the latest dev image, but I am not sure if that was used in the upgrade tests.

[2016-09-22 17:16] #19647 closed

[2016-09-22 17:20] #32022 closed

[2016-09-22 17:22] janosi commented on #28272
@ddysher We are working on it. We send the PRs in the next weeks.

[2016-09-22 17:26] smarterclayton commented on #33139
Yeah I'll clarify:

1. We originally supported container only - so we have backwards
compatibility responsibilities
2. We then added pod level, which would be intended to support shared
volumes correctly
3. Since then, we have identified that we need certain containers to be
unconfined.

If we deprecate 1, we'll have to do it over multiple releases.

2 is not optional going forward.

3 running unc

[2016-09-22 17:26] jbeda commented on #33226
@lukemarsden -- I added you as a contact for the "simplify k8s install" item.  Can you put a link to docs there once they land?

[2016-09-22 17:29] nikhiljindal commented on #32733
This should now be fixed, but cant verify since e2e tests are failing on Jenkins, probably due to a quota issue.
Will close the issue when tests pass on Jenkins.

[2016-09-22 17:29] bprashanth commented on #33081
meaning, we effectively install a service with 2 clustersIPs, one with the 10-dot and another with the public-lb-vip. Currently the public lb is not much smarter than clusterIP for services.type=lb, so I don't see any immediate benefit in bouncing out?

[2016-09-22 17:29] smarterclayton commented on #33212
Can someone try to add a proposed rough draft section in a PR to our
api_changes doc?

On Thu, Sep 22, 2016 at 11:18 AM, Maciej Szulik <notifications@github.com>
wrote:

[2016-09-22 17:30] caesarxuchao commented on #32571
Thanks.

[2016-09-22 17:30] mlbiam opened #33290 "OpenIDConnect - group claim assumes list of strings, should accept single value"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No, already discussed on sig-auth

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

confirmed issue on sig-auth channel

---

**Is this

[2016-09-22 17:34] k8s-merge-robot opened #33291 "[k8s.io] Density [Serial] [Slow] create a batch of pods latency/resource should be within limit when create 10 pods with 0 interval {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/792/

Failed: [k8s.io] Density [Serial] [Slow] create a batch of pods latency/resource should be within limit when create 10 pods with 0 interval {E2eNode Suite}

[code]

Previous issues for this test: #30523 #32022

[2016-09-22 17:34] nikhiljindal commented on #31674
This is now fixed. Anyone can post "@k8s-bot federation gce e2e test this" to trigger the federation tests on a PR.

[2016-09-22 17:34] #31674 closed

[2016-09-22 17:41] nikhiljindal commented on #29887
Yes cluster objects in federation control plane will have the labels.
There was discussion regarding each kube cluster exposing its own cluster identity (a uid and name). If we decide to do that as an API resource in kube cluster, then we can also add the labels there.

Yes. Thats a good point. Need to think more on it

[2016-09-22 17:43] thockin commented on #33081
The advantage of bouncing out is that it is what people expect to happen.  But I don't think it is possible to circumvent the local interface having that IP...

Doing it as a second entry to the "normal" VIP logic seems easier.

[2016-09-22 17:44] Random-Liu commented on #33048
I see your point, will try option 2. :)

[2016-09-22 17:45] dchen1107 commented on #30706
@chrislovecnm Agreed with you above. We, GCE / GKE side are moving toward the direction listed above: 2) and 3). Also I'm not suggesting to running GCI unless it is completely open sourced.

[2016-09-22 17:47] fabioy commented on #33223
Verified. Closing issue.

[2016-09-22 17:47] #33223 closed

[2016-09-22 17:48] dcbw commented on #32900
@freehan yes, this sounds correct.

This would be against the given Flag documentation of --pod-cidr though, which talks about only being used for standalone mode.  The Flag doc can probably be changed easily enough though.

Yes.

Contrary to whatever I've said before, I think we should just remove the flags doc for --pod-cidr about standalone mode and if node.podCIDR is updated that value will be

[2016-09-22 17:49] yujuhong commented on #33291
@Random-Liu's PR #33201 just got merged and it should fix this issue. Closing this issue.

[2016-09-22 17:49] #33291 closed

[2016-09-22 17:49] nebril commented on #33036
@thockin do you have any examples of this behaviour breaking something? It would help with justifying my PR in code review process :).

[2016-09-22 17:50] dysinger commented on #14956
I came looking for a workflow for "blue-green" deployment workflow.  This sounds similar at first glance.

[2016-09-22 17:51] nikhiljindal opened #33292 "federation: creating events on federation namespaces is failing"
https://github.com/kubernetes/kubernetes/pull/31640 added events to federation namespace controller, but creating namespace events is failing on our e2e tests:

[code]

It is because, namespaces do not have ObjectMeta.Namespace set and the event recorder library uses that to figure out the namespace in which the event should be generated: https://github.com/kubernetes/kubernetes/blob/a8053c7c59024

[2016-09-22 17:51] erictune commented on #26202
I learned yesterday that NetworkPolicy uses labels on pods to control which pods (the packet source, the ones with the labels) can connect to an ingress.

It is easy to imagine that when people use labels in this way that they will want to change them independently of the image, in order to allow locking down access to an ingress without re-rolling-out the pods of its clients.  @kubernetes/sig-net

[2016-09-22 17:54] thockin commented on #33036
I had a user report thatthey didn't know what was happening - the API
should have rejected it with a message that you can't have headless
services with load balancers.

On Thu, Sep 22, 2016 at 10:50 AM, Maciej Kwiek <notifications@github.com>
wrote:

[2016-09-22 17:58] derekmahar commented on #831
What is CRI?

[2016-09-22 18:00] quinton-hoole commented on #33284
Deepak from Huawei has offered to find someone to do this.

[2016-09-22 18:02] thockin commented on #26202
I just re-read this bug and I find the answer REALLY unsatisfactory.  If
our API allows you to change the field, it really should work correctly.

I've seen issue after issue around corner cases between maps, lists, and
patch/apply.

We simply can not push this back on users - if it doesn't work it is our
problem.

On Thu, Sep 22, 2016 at 10:52 AM, Eric Tune <notifications@github.com>
wrote:

[2016-09-22 18:05] chrislovecnm commented on #30706
@justinsb what is the status on your patched Kernel?  You have that into production?

[2016-09-22 18:06] janetkuo commented on #29629
Fixed by #33030

[2016-09-22 18:06] #29629 closed

[2016-09-22 18:10] thockin commented on #831
CRI is the kubelet-internal API which abstracts container runtimes, and
allows swapping in rkt, docker, OCI, hyper, etc.

On Thu, Sep 22, 2016 at 10:59 AM, Derek Mahar <notifications@github.com>
wrote:

[2016-09-22 18:11] bprashanth opened #33293 "Adding --runtime-config="api/all=false" crashes apiserver"
With

[code]

Because we invoke ip repair with a nil service registry (https://github.com/kubernetes/kubernetes/blob/master/pkg/master/controller.go#L82), which we don't initialize because it isn't enabled (https://github.com/kubernetes/kubernetes/blob/master/pkg/master/master.go#L239).

Applying p0 for triage because I don't know where else we might be making such assumptions, and I'm not familia

[2016-09-22 18:22] madhusudancs commented on #33226
@spiffxp: @pwittrock and I discussed about this yesterday and decided to leave those fields until we know where the docs are going to end up.

I did some digging today based on @devin-donnelly's [netlify](http://kubernetes-io-vnext-staging.netlify.com/docs/) link above. I have now populated the links to the docs for which I know where they are going to end up. I will update the fields again as soo

[2016-09-22 18:22] quinton-hoole commented on #33135
OK, the bug here is pretty obvious, as is the reason why it was not caught by unit tests.

For updates of cluster Ingresses, the UID of the federated ingress, rather than the cluster ingress is  being used.  This is not correct.  Our fake test framework is not as strict as the real Kubernetes API about checking UID's on updates, so it didn't pick this up.

https://github.com/kubernetes/kubernetes/

[2016-09-22 18:24] devin-donnelly commented on #33226
That link I provided above should automatically updated as release-1.4 PRs
are merged. You can think of it as the dedicated staging site.

The links attached to individual PRs should provide a preview for any
as-yet-unmerged PRs.

On Thu, Sep 22, 2016 at 11:23 AM, Madhusudan.C.S <notifications@github.com>
wrote:

[2016-09-22 18:28] jayunit100 commented on #31795
At first thought :

- any call to `CheckServiceAffinity` is going to result in exactly one LIST op... even if i have > 1 pods and > services, only one list event..
[code]
- Looking at the graph, that LIST is taking up a comparably high percentage, is it safe to say here that this is just a intensive etcd LIST event for the pods....
- I don't yet see any culprits in the function along the lines of

[2016-09-22 18:31] freehan commented on #27161
@kdima
Would you mind sharing the output of `ifconfig` and `iptable-save` on `kube-core-0`?

[2016-09-22 18:32] lavalamp commented on #33293
Running an apiserver with everything turned off doesn't seem that useful?

[2016-09-22 18:33] girishkalele commented on #33081
Would a rule that matches for input interface == cbr0 and sends it to the clusterIP load balancing chain work ? We just need to inhibit the SNAT but do the DNAT across all service endpoints.

For a service clusterIP=10.0.240.83 and external IP=104.198.18.46, we get the following three rules in the KUBE-SERVICES chain. We need to split rule#3 into two rules, one which matches input-if==cbr0 and sen

[2016-09-22 18:33] lavalamp commented on #33293
(not that we shouldn't fix this)

[2016-09-22 18:33] madhusudancs commented on #33226
@devin-donnelly

Sure. I am not using the host part of that URL at all. I am doing a s/kubernetes-io-vnext-staging.netlify.com/kubernetes.io/ on the host part. But I still don't know the paths of some of these docs at all.

[2016-09-22 18:34] bprashanth commented on #33293
yeah, my point was I'm not sure if turning off something else more segmented causes an issue like this based on a fault assumption that an object was created elsewhere.

I also tried this on a HEAD cluster, so unsure if it is in 1.4

[2016-09-22 18:38] madhusudancs commented on #32366
@pwittrock Ack. As pointed out here - https://github.com/kubernetes/kubernetes/pull/33039#issuecomment-248741672 this bug shouldn't be happening in v1.4. So there is nothing to be fixed in v1.4 for this issue.

[2016-09-22 18:41] luxas commented on #33249
It is built for every release since `v1.2.x`-something.
I just think `beta.9` failed in some way. It doesn't have release notes either...

[2016-09-22 18:44] mtaufen opened #33295 "GCI Test Failing: (kubernetes-e2e-gci-gke-reboot-release-1.4) ([k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by switching off the network interface and ensure they function upon switch on)"
GCI Test Failing: (kubernetes-e2e-gci-gke-reboot-release-1.4) ([k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by switching off the network interface and ensure they function upon switch on)

https://k8s-testgrid.appspot.com/google-gke#gci-gke-reboot-release-1.4

[2016-09-22 18:48] bprashanth commented on #31222
Can you please give me the ingress, service and deployment yaml?

[2016-09-22 18:49] calebamiles commented on #33226
@pwittrock, I'll be taking the issues assigned to @philips, oneliner release descriptions are done; docs are merged; we're happy to get you anything else you need for the release.

[2016-09-22 18:50] timstclair commented on #33048
This is an example of where moving to on-demand collection would be very benefitial, and spare us some additional complexity. Which gives us option 3: expose an on-demand version of GetFsInfo which takes an arbitrary path to scan.

Off the top of my head, I'm not sure how much more work this option would be. One concern is that the call may be slow, and may need to happen in an async path.

[2016-09-22 18:54] knownasilya commented on #33070
It happened again, seems random. Different error this time.

[code]

[2016-09-22 18:55] erictune commented on #12520
Go ahead!

On Fri, Sep 16, 2016 at 6:23 PM, Lucas Chi <notifications@github.com> wrote:

[2016-09-22 19:09] Starefossen commented on #33070
Yeah, I get plenty of those since upgrading to macOS Sierra 10.12.

@soltysh my files are yaml though, here they are:

**frontend-deployment.yaml**

[code]

**frontend-ingress.yaml**

[code]

**frontend-service.yaml**

[code]

[2016-09-22 19:13] mtaufen opened #33298 "No GKE alpha features tests?"
I noticed we have e.g. `kubernetes-e2e-gce-alpha-features` but no GKE equivalent test. Is this intentional?

/cc @jlowdermilk

[2016-09-22 19:15] vishh commented on #33255
+1 for this change. We have a goal for shrinking all special logic in
kubectl anyways, so it makes sense for kubelet to explicitly include this
data in PodStatus. To start with, should we just include it as an
annotation? I assume we will have many other fields that needs to move from
kubectl special logic to the node. We can add all of them in one shot
possibly by grouping them in an annotation.

[2016-09-22 19:17] mtaufen opened #33299 "([k8s.io] Loadbalancing: L7 [Feature:Ingress] [k8s.io] GCE [Feature: Ingress] shoud create ingress with given static-ip)"
GCI Test Failing: (kubernetes-e2e-gci-gke-ingress-release-1.3) ([k8s.io] Loadbalancing: L7 [Feature:Ingress] [k8s.io] GCE [Feature: Ingress] shoud create ingress with given static-ip)

https://k8s-testgrid.appspot.com/google-gke#gci-gke-ingress-release-1.3

[2016-09-22 19:18] knownasilya commented on #33070
Just got this:

[code]

[2016-09-22 19:19] mtaufen opened #33300 "GCI Test Failing: (kubernetes-e2e-gci-gke-ingress-release-1.3) ([k8s.io] Loadbalancing: L7 [Feature:Ingress] [k8s.io] GCE [Feature: Ingress] should conform to Ingress spec)"
GCI Test Failing: (kubernetes-e2e-gci-gke-ingress-release-1.3) ([k8s.io] Loadbalancing: L7 [Feature:Ingress] [k8s.io] GCE [Feature: Ingress] should conform to Ingress spec)

https://k8s-testgrid.appspot.com/google-gke#gci-gke-ingress-release-1.3

[2016-09-22 19:19] roberthbailey commented on #31964
@fabioy can you find someone to help @spxtr track this down?

[2016-09-22 19:21] mtaufen opened #33302 "GCI Test Failing: (kubernetes-e2e-gci-gke-reboot-release-1.3) ([k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by switching off the network interface and ensure they function upon switch on)"
GCI Test Failing: (kubernetes-e2e-gci-gke-reboot-release-1.3) ([k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by switching off the network interface and ensure they function upon switch on)

https://k8s-testgrid.appspot.com/google-gke#gci-gke-reboot-release-1.3

[2016-09-22 19:22] chrislovecnm commented on #32941
@thockin who can assist me with this?  I cannot recreate it ...

Command I ran.

[code]

Results that I am getting.

[code]

Just ran that off of head, and it worked.   I am rerunning as the full test suite.

[2016-09-22 19:25] mtaufen opened #33303 "GCI Test Failing:"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-09-22 19:25] #33303 closed

[2016-09-22 19:27] mtaufen opened #33304 "GCI Test Failing: (kubernetes-gci-gke-serial-release-1.3) ([k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 0 pods per node)"
GCI Test Failing: (kubernetes-gci-gke-serial-release-1.3) ([k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 0 pods per node)

https://k8s-testgrid.appspot.com/google-gke#gci-gke-serial-release-1.3

[2016-09-22 19:28] mtaufen opened #33305 "GCI Test Failing: (kubernetes-gci-gke-serial-release-1.3) ([k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node)"
GCI Test Failing: (kubernetes-gci-gke-serial-release-1.3) ([k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node)

https://k8s-testgrid.appspot.com/google-gke#gci-gke-serial-release-1.3

[2016-09-22 19:29] mtaufen opened #33306 "GCI Test Failing: (kubernetes-gci-gke-serial-release-1.3) ([k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 35 pods per node)"
GCI Test Failing: (kubernetes-gci-gke-serial-release-1.3) ([k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 35 pods per node)

https://k8s-testgrid.appspot.com/google-gke#gci-gke-serial-release-1.3

[2016-09-22 19:29] mtaufen opened #33307 "GCI Test Failing: (kubernetes-gci-gke-serial-release-1.4) ([k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 35 pods per node)"
GCI Test Failing: (kubernetes-gci-gke-serial-release-1.4) ([k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 35 pods per node)

https://k8s-testgrid.appspot.com/google-gke#gci-gke-serial-release-1.4

[2016-09-22 19:31] mtaufen opened #33308 "GCI Test Failing: (kubernetes-gci-gke-serial-release-1.4) ([k8s.io Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node)"
GCI Test Failing: (kubernetes-gci-gke-serial-release-1.4) ([k8s.io Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node)

https://k8s-testgrid.appspot.com/google-gke#gci-gke-serial-release-1.4

[2016-09-22 19:41] edsiper commented on #32762
cc: @vishh

[2016-09-22 19:44] nikhiljindal opened #33309 "federation: kubectl describe rs fails"
Same as https://github.com/kubernetes/kubernetes/issues/32629.

We need to fix https://github.com/kubernetes/kubernetes/issues/32883 instead of fixing these one-off cases.

cc @kubernetes/sig-cluster-federation

[2016-09-22 19:53] jwforres commented on #33231
I'm not aware of any other special headers being sent, Date should be enough for now

I'm not really set up to run just kubernetes right now, I could cherry-pick the change into openshift's vendor of kube 1.4 and try it there if you want?

[2016-09-22 20:03] piosz commented on #33289
@MrHohn thanks for letting me know. What is the ETA for enabling horizontal autoscaler for DNS?

[2016-09-22 20:05] #32747 closed

[2016-09-22 20:08] nikhiljindal opened #33312 "federation: verify and add tests for replicaset preferences annotations"
Found while writing the federation replicaset guide:

Steps to repro:
- Register a cluster C1 for federation.
- Create a federation replicaset with X replicas.
- Observe that a replicaset is created in the cluster C1 with X replicas.
- Now register another cluster C2 for federation.

Expected:
- The replicaset is also created in cluster C2 with X/2 replicas. Replica set in cluster C1 is scaled dow

[2016-09-22 20:09] nikhiljindal commented on #33312
I see now that we do not have any e2e test for this case (register a cluster after a replicaset is created)

[2016-09-22 20:10] nikhiljindal commented on #33312
cc @kshafiee @jianhuiz

[2016-09-22 20:14] k8s-merge-robot opened #33313 "BeforeSuite {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6472/

Failed: BeforeSuite {Kubernetes e2e suite}

[code]

Previous issues for this test: #26135 #26236 #27920 #28492 #29970 #30075 #32980

[2016-09-22 20:25] jayunit100 opened #33314 "Make TestConfig an object rather than a statically referenced var"
_Problem_

Lots of default handling in tests for == 0 and so on with TestConfig...

[code]

_Solution_
- Add isSet primitives (but for sanity, make sure these are decoupled from viper.IsSet) to TestConfig,
- to do this, we need to make TestConfig a struct, and then we can setup defaults in a centralized way as much as possible in the NewTestConfig function.

cc @kubernetes/sig-testing

[2016-09-22 20:28] dims commented on #33231
Sure @jwforres please try the PR and let me know.

[2016-09-22 20:28] erictune commented on #2768
Fine with closing this.

There will be multiple templating systems:
  - Helm Charts
  - OpenShift templates
  - jsonnet [e.g. as used at @Box](https://blog.box.com/blog/kubernetes-box-microservices-maximum-velocity/)

Different ones may have different takes on how to default limits.

Admins may enforce upper limits on limits.  Users should set request=limit if they need best QoS.
Not sure if Guara

[2016-09-22 20:28] #2768 closed

[2016-09-22 20:29] colemickens commented on #33249
Yeah, I meant to update this last night. The beta.9 release didn't finish properly. The raw binaries (for kubectl for example) are not uploaded either.

It looks like hyperkube is automatically built and released normally... though still not included in the actual release tarball.

I have a WIP branch that includes a change to include the hyperkube exported container in the tarball, similar to wha

[2016-09-22 20:30] mtaufen opened #33315 "GCI Test Failing: (kubernetes-gci-gce-alpha-features-release-1.4) ([k8s.io] PetSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered applications [Slow] [Feature:PetSet] should creating a working mysql cluster [Feature:PetSet])"
GCI Test Failing: (kubernetes-gci-gce-alpha-features-release-1.4) ([k8s.io] PetSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered applications [Slow] [Feature:PetSet] should creating a working mysql cluster [Feature:PetSet])

https://k8s-testgrid.appspot.com/google-gce#gci-gce-alpha-features-release-1.4

[2016-09-22 20:31] jlowdermilk commented on #33298
I'm adding them now. See https://github.com/kubernetes/test-infra/pull/638

[2016-09-22 20:31] mtaufen opened #33316 "GCI Test Failing: (kubernetes-gci-gce-alpha-features-release-1.4) ([k8s.io] PetSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered applications [Slow] [Feature:PetSet] should creating a working redis cluster [Feature:PetSet])"
GCI Test Failing: (kubernetes-gci-gce-alpha-features-release-1.4) ([k8s.io] PetSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered applications [Slow] [Feature:PetSet] should creating a working redis cluster [Feature:PetSet])

https://k8s-testgrid.appspot.com/google-gce#gci-gce-alpha-features-release-1.4

[2016-09-22 20:32] chakri-nelluri commented on #32550
Thanks Jan for the feedback.

I am not looking at this daemon-set model to be a one fit for all solution. It solves the existing problem of distributing the client side of drivers, like simple binaries etc.

But you are spot -on, more complex cases, which have server component like glusterfs+fuse, the simple daemon-set upgrade model won't work. Admin can choose to run two versions (say v1, v2) of

[2016-09-22 20:32] erictune commented on #33290
These should be called groups, not roles, right?  Those are different.

And, is it normal for a JWT to contain keys which are arrays?  That seems weird.

@ericchiang

[2016-09-22 20:32] MrHohn commented on #33289
I think it would be enabled not later than the next release.

[2016-09-22 20:32] mtaufen opened #33317 "GCI Test Failing: (kubernetes-e2e-gci-gce-alpha-features-release-1.4) ([k8s.io] PetSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered applications [Slow] [Feature:PetSet] should creating a working zookeeper cluster [Feature:PetSet])"
GCI Test Failing: (kubernetes-e2e-gci-gce-alpha-features-release-1.4) ([k8s.io] PetSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered applications [Slow] [Feature:PetSet] should creating a working zookeeper cluster [Feature:PetSet])

https://k8s-testgrid.appspot.com/google-gce#gci-gce-alpha-features-release-1.4

[2016-09-22 20:36] mlbiam commented on #33290
@erictune where do you see role defined?  you mean the user_role claim?

[2016-09-22 20:37] janetkuo commented on #33212
api_changes doc?

Maybe kubectl-conventions is a better place for it? https://github.com/kubernetes/kubernetes/blob/master/docs/devel/kubectl-conventions.md

[2016-09-22 20:37] mtaufen opened #33318 "GCI Test Failing: (kubernetes-gci-gce-petset) (Overall)"
GCI Test Failing: (kubernetes-gci-gce-petset) (Overall)

https://k8s-testgrid.appspot.com/google-gce#gci-gce-petset

Based on the grid, it looks like the tests aren't even running?

[2016-09-22 20:37] liggitt commented on #33290
Claims can be structured, yes. The name of the groups claim is arbitrary. Could easily have been "group". In my mind, this is all about enabling mapping a "groupish" claim from whatever IDP issued the JWT, even if it is a single value instead of an array.

[2016-09-22 20:39] mingfang commented on #25908
Also using a liveness problem as suggested here http://stackoverflow.com/questions/36208211/sidecar-containers-in-kubernetes-jobs doesn't work since the pod will be considered failed and the overall job will not be considered successful.

[2016-09-22 20:41] mingfang commented on #25908
How about we declared a job success probe so that the Job can probe it to detect success instead of waiting for the pod to return 0.
Once the probe returns success, then the pod can be terminated.

[2016-09-22 20:42] mtaufen opened #33320 "GCI Test Failing: (kubernetes-e2e-gci-gce-reboot-release-1.3) ([k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all inbound packets for a while and ensure they function afterwards)"
GCI Test Failing: (kubernetes-e2e-gci-gce-reboot-release-1.3) ([k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all inbound packets for a while and ensure they function afterwards)

https://k8s-testgrid.appspot.com/google-gce#gci-gce-reboot-release-1.3

[2016-09-22 20:42] mtaufen opened #33322 "GCI Test Failing: (kubernetes-e2e-gci-gce-reboot-release-1.3) ([k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all outbound packets for a while and ensure they function afterwards)"
GCI Test Failing: (kubernetes-e2e-gci-gce-reboot-release-1.3) ([k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all outbound packets for a while and ensure they function afterwards)

https://k8s-testgrid.appspot.com/google-gce#gci-gce-reboot-release-1.3

[2016-09-22 20:43] mtaufen opened #33323 "GCI Test Failing: (kubernetes-e2e-gci-gce-reboot-release-1.3) ([k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by ordering clean reboot and ensure they function upon restart)"
GCI Test Failing: (kubernetes-e2e-gci-gce-reboot-release-1.3) ([k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by ordering clean reboot and ensure they function upon restart)

https://k8s-testgrid.appspot.com/google-gce#gci-gce-reboot-release-1.3

[2016-09-22 20:44] mtaufen opened #33324 "GCI Test Failing: (kubernetes-e2e-gci-gce-reboot-release-1.3) ([k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by ordering unclean reboot and ensure they function upon restart)"
GCI Test Failing: (kubernetes-e2e-gci-gce-reboot-release-1.3) ([k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by ordering unclean reboot and ensure they function upon restart)

https://k8s-testgrid.appspot.com/google-gce#gci-gce-reboot-release-1.3

[2016-09-22 20:44] mtaufen opened #33325 "GCI Test Failing: (kubernetes-e2e-gci-gce-reboot-release-1.3) ([k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by switching off the network interface and ensure they function upon switch on)"
GCI Test Failing: (kubernetes-e2e-gci-gce-reboot-release-1.3) ([k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by switching off the network interface and ensure they function upon switch on)

https://k8s-testgrid.appspot.com/google-gce#gci-gce-reboot-release-1.3

[2016-09-22 20:45] mtaufen opened #33326 "GCI Test Failing: (kubernetes-e2e-gci-gce-reboot-release-1.3) ([k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by triggering kernel panic and ensure they function upon restart)"
GCI Test Failing: (kubernetes-e2e-gci-gce-reboot-release-1.3) ([k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by triggering kernel panic and ensure they function upon restart)

https://k8s-testgrid.appspot.com/google-gce#gci-gce-reboot-release-1.3

[2016-09-22 20:47] mtaufen opened #33327 "GCI Test Failing: (kubernetes-e2e-gci-gce-reboot-release-1.4) ([k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by switching off the network interface and ensure they function upon switch on)"
GCI Test Failing: (kubernetes-e2e-gci-gce-reboot-release-1.4) ([k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by switching off the network interface and ensure they function upon switch on)

https://k8s-testgrid.appspot.com/google-gce#gci-gce-reboot-release-1.4

[2016-09-22 20:47] pmorie commented on #31272
Update, I'm about to start work on this, stay tuned.

[2016-09-22 20:48] lavalamp commented on #12143
Ref #29472

[2016-09-22 20:49] #33298 closed

[2016-09-22 20:51] mtaufen opened #33328 "GCI Test Failing: (kubernetes-e2e-gci-gce-scalability-release-1.4) (Overall)"
GCI Test Failing: (kubernetes-e2e-gci-gce-scalability-release-1.4) (Overall)

https://k8s-testgrid.appspot.com/google-gce#gci-gce-scalability-release-1.4

It looks like the tests aren't even coming up, compared to https://k8s-testgrid.appspot.com/google-gce#gce-scalability-release-1.4

[2016-09-22 20:51] jlowdermilk commented on #32669
Known issue when installing from the dogfood channel, which I believe we do. There's a property we can set to use prod behavior. Will send pr shortly.

[2016-09-22 20:53] mtaufen opened #33329 "GCI Test Failing: (kubernetes-e2e-gci-gce-serial-release-1.3) ([k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 0 pods per node)"
GCI Test Failing: (kubernetes-e2e-gci-gce-serial-release-1.3) ([k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 0 pods per node)

https://k8s-testgrid.appspot.com/google-gce#gci-gce-serial-release-1.3

[2016-09-22 20:54] mtaufen opened #33330 "GCI Test Failing: (kubernetes-e2e-gci-gce-serial-release-1.3) ([k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node)"
GCI Test Failing: (kubernetes-e2e-gci-gce-serial-release-1.3) ([k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node)

https://k8s-testgrid.appspot.com/google-gce#gci-gce-serial-release-1.3

[2016-09-22 20:54] mtaufen opened #33331 "GCI Test Failing: (kubernetes-e2e-gci-gce-serial-release-1.3) ([k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 35 pods per node)"
GCI Test Failing: (kubernetes-e2e-gci-gce-serial-release-1.3) ([k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 35 pods per node)

https://k8s-testgrid.appspot.com/google-gce#gci-gce-serial-release-1.3

[2016-09-22 20:57] spiffxp commented on #33226
@dchen1107 re: https://github.com/kubernetes/features/issues/57 it would be preferable to see some docs around what the automated docker validation process is, but I already want so many ponies

can you please clarify which versions of docker have been qualified? are other container runtimes qualified?

[2016-09-22 21:00] jayunit100 commented on #33314
follow up after #24536

[2016-09-22 21:11] erictune commented on #32863
What Conditions do you foresee adding?

On Fri, Sep 16, 2016 at 4:49 AM, Michail Kargakis <notifications@github.com>
wrote:

[2016-09-22 21:13] Random-Liu commented on #33048
For option 2, we need to get some data from runtime through CRI and pass it to cadvisor. Then the most important thing is to figure out what cadvisor needs for fs info monitoring. Here is the summary of the current research:
* Option 1: **Storage Driver/Runtime level information.**
  * Information needed:
    * Docker: Docker Root Dir - `string`, Driver Type - `string`, Driver Status - `map[string

[2016-09-22 21:14] nikhiljindal commented on #33312
Reading the description of [rebalance](https://github.com/kubernetes/kubernetes/blob/cf4ea938c882d5f86852994807b18959458033d5/federation/apis/federation/types.go#L121) field in FederatedReplicaSetPreferences, it looks like rebalancing is expected not to happen unless rebalance is set to true.

I tried setting rebalance = true in the annotation on the federated replicaset before creating it and it

[2016-09-22 21:16] bprashanth commented on #32941
look through the logs, from last test cassandra-2 was stuck in pending which prevents the petset from starting up (c*-3 not even created)

you see events like
[code]

and logs like
[code]

[2016-09-22 21:26] ericchiang commented on #33290
That's the way it works currently.

Yeah I'm fine with this.

[2016-09-22 21:27] janetkuo commented on #6284
@fraenkel has a PR #31892 addressing this with `kubectl apply --dry-run`, instead of `kubectl diff`.

[2016-09-22 21:29] timstclair commented on #33048
Just to clarify, the option I proposed above was not to get the stats from the CRI. I was basically proposing the same thing as option 2, but the the information would be provided when the call to `GetFsInfo` was made, as opposed to when cAdvisor is started (and hence the information would be scraped then too, rather than pulled from the cache).

[2016-09-22 21:30] janetkuo commented on #6284
@arashbina Not sure if you already know about this -- we have the kubectl roadmap here: https://github.com/kubernetes/community/wiki/Roadmap:-kubectl

[2016-09-22 21:32] yujuhong commented on #33048
I think that'd be a cadvisor-optimization, but has less impact on runtime integration with kubelet.

[2016-09-22 21:35] julienvincent opened #33333 "kubectl describe secret exposes its contents"
Your documentation reads as follows:

See decoding a secret for how to see the contents.

However when creating the secret with a `yml` template, running `kubectl describe secrets/my-secret` returns a description containing `Annotations`, which contains the last run `yml` template.

Not a huge issue, thought you might want to be aware of this though.

[2016-09-22 21:49] caesarxuchao commented on #33212
How about the opposite case, old client with new server? 2+ versions as well?

[2016-09-22 21:56] #32669 closed

[2016-09-22 22:01] yujuhong commented on #33331
This is a known issue and the GCI team has been actively addressing it. Demoting to p2.

[2016-09-22 22:01] yujuhong commented on #33330
This is a known issue and the GCI team has been actively addressing it. Demoting to p2.

[2016-09-22 22:01] yujuhong commented on #33329
This is a known issue and the GCI team has been actively addressing it. Demoting to p2.

[2016-09-22 22:02] yujuhong commented on #33307
This is a known issue and the GCI team has been actively addressing it. Demoting to p2.

[2016-09-22 22:02] yujuhong commented on #33306
This is a known issue and the GCI team has been actively addressing it. Demoting to p2.

[2016-09-22 22:03] yujuhong commented on #33305
This is a known issue and the GCI team has been actively addressing it. Demoting to p2.

[2016-09-22 22:03] saad-ali commented on #33203
Thanks for the detailed write up @jingxu97. We spoke offline. To summerize, P2 is already handled (see PR https://github.com/kubernetes/kubernetes/pull/28095). P1 is an issue we need to address: The correct way to handle it is to make sure that kubelet does not remove elements from `NodeStatus.VolumesInUse` unless explicitly required to do so for a successful `UnmountDevice` operation. There are a

[2016-09-22 22:03] yujuhong commented on #33304
This is a known issue and the GCI team has been actively addressing it. Demoting to p2.

[2016-09-22 22:08] jianhuiz commented on #33312
you need to specify it like this
[code]

[2016-09-22 22:08] derekwaynecarr commented on #33255
I prefer a literal field on PodStatus since an annotation is user
modifiable and I am concerned callers may use the annotation as a trusted
piece of information.  If there is no major disagreement I can add a PR for
this as part of qos work in 1.5.   Maybe @sjennings could help too.

On Thursday, September 22, 2016, Vish Kannan <notifications@github.com>
wrote:

[2016-09-22 22:10] derekwaynecarr commented on #33255
Copied wrong Seth.  Meant @sjenning.

On Thursday, September 22, 2016, Vish Kannan <notifications@github.com>
wrote:

[2016-09-22 22:13] freehan commented on #27161
I tried something simpler just now.

I created a route from a vm to a cluster node thru service cluster ip cidr. Then the vm was able to reach services cluster ip.

SNAT should be applied if request source ip is NOT from pod cidr range of current node.

[2016-09-22 22:17] freehan commented on #32900
Very close to what I thought. What if we make --pod-cidr dominant? If --pod-cidr is used, node.podCIDR and reconcile-cidr will be ignored.

The only use case I can think of is bootstrapping, where master uses `pod-cidr` at first to start up and switch to node.podCIDR. We can solve it by allowing kubelet to create pods in hostnetwork when podCIDR is not configured.

On the other hand, allowing cbr0

[2016-09-22 22:20] wstrange commented on #32432
Justing chiming in on the need for this feature.

I need to get a Java keystore.jceks onto a pod filesystem.

[2016-09-22 22:21] spxtr commented on #31964
Missing logs are due to https://github.com/kubernetes/test-infra/issues/79, I think.

[2016-09-22 22:22] vishh commented on #32762
cc @piosz

@edsiper The change you propose seems to make sense to me. Can you open a patch to update our fluentd configs?

[2016-09-22 22:24] chrislovecnm commented on #32941
@bprashanth so the test is already slow. I am only giving it one cpu, giving it less will make it super slow.  Any recommendations?  .25 CPU?  And where did you find this?

[2016-09-22 22:25] vishh commented on #33328
Attempting to triage this issue. Temporarily assigning myself.

[2016-09-22 22:25] yujuhong commented on #33048
/cc @kubernetes/sig-rktnetes @mrunalp @feiskyer

[2016-09-22 22:29] edsiper commented on #32762
@vishh sure. One more question: since Fluentd will need to have access to the file system, what's the suggested absolute path for that purpose ?

[2016-09-22 22:31] smarterclayton commented on #33070
So this is the static DNS chain - you may want to check your dns settings
and verify there is nothing unusual.  I know there have been golang fixes
to this library, but have not yet searched to see if this known.

On Thu, Sep 22, 2016 at 3:19 PM, Ilya Radchenko <notifications@github.com>
wrote:

[2016-09-22 22:32] foxish commented on #27796
We are transitioning to the Cloud Native Computing Foundation's CLA on all kubernetes repositories in the near future.
This transition is expected to occur across all our repositories during the week of 10/3.

Starting today, we are testing the new CLA mechanism in the kubernetes/contrib repository.
The Google CLA bot will operate in parallel with the CNCF CLA bot till 10/3.
Please note that PR me

[2016-09-22 22:33] julienvincent opened #33336 "Secrets as environment variables prevent pod start (CrashLoopBackOff)"
After creating generic secrets and linking them to a deployment, pods enter into CrashLoopBackOff and do not start.

yml
[code]

`kubectl describe pod`

[code]

[2016-09-22 22:33] smarterclayton commented on #33293
Service repair is definitely special (also not implying we shouldn't fix
this).

On Thu, Sep 22, 2016 at 2:34 PM, Prashanth B <notifications@github.com>
wrote:

[2016-09-22 22:33] jayunit100 commented on #31795
one possible culprit-  schedulercache
[code]

[2016-09-22 22:35] smarterclayton commented on #26202
Apply and patch are pretty fundamental to what we promote - we do have to
figure out how to force these corner cases to go to zero.

On Thu, Sep 22, 2016 at 2:02 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-09-22 22:41] derekwaynecarr commented on #32917
The fix was merged to cAdvisor

https://github.com/google/cadvisor/pull/1476

On Wednesday, September 21, 2016, Aaron Levy <notifications@github.com>
wrote:

[2016-09-22 22:45] vishh commented on #32762
Would `/var/log/` work?

[2016-09-22 22:48] edsiper commented on #32762
that one is perfect. thanks.

[2016-09-22 22:50] rata commented on #27796
Hi, I want to sign the individual CLA and the hellosign page at the end asks for a "Title" (Signature, name, title and date).

I don't really know what to put on Title. I tried looking at https://github.com/kubernetes/kubernetes/blob/master/CONTRIBUTING.md and the previous CLA and no title was required. I'm a computer science student.

What should I use for title? Or is it there on purpose or mayb

[2016-09-22 22:53] sarahnovotny commented on #27796
@rata, I think a title of "Student" is a fine solution.  @caniszczyk, could you confirm?

[2016-09-22 22:54] caniszczyk commented on #27796
@sarahnovotny Student or N/A is fine

[2016-09-22 23:05] rata commented on #27796
@sarahnovotny @caniszczyk: thanks a lot!

[2016-09-22 23:13] vishh commented on #33328
Seems to quota issues. Working on fixing them.

[2016-09-22 23:19] ixdy commented on #28632
The list of client platforms targeted currently is
* linux/amd64
* linux/386
* linux/arm
* linux/arm64
* linux/ppc64le
* darwin/amd64
* darwin/386
* windows/amd64
* windows/386

Do we really need *any* of the 386 targets?

For reference,
server platforms we target:
* linux/amd64
* linux/arm
* linux/arm64
* linux/ppc64le

test platforms we target:
* linux/amd64
* darwin/amd64
* windows/amd64

I pro

[2016-09-22 23:20] vishh commented on #33328
I have requested a quota bump for the test project. Lowering the priority for now until the quota bump takes effect and tests run for real.

[2016-09-22 23:21] saad-ali commented on #30689
@jingxu97 ACK, let's increase the timeout by 2x (e.g. 10 minutes)

[2016-09-22 23:25] saad-ali commented on #28863
This test was split into two tests. Hence the lack of recent failures. Closing.

[2016-09-22 23:25] #28863 closed

[2016-09-22 23:31] erictune commented on #33290
Okay.

[2016-09-22 23:32] AdoHe commented on #26202
I believe I need to recheck the code and take a deep look.

[2016-09-22 23:36] vishh commented on #33327
Hmm. it looks like Kubelet is not detecting that network interfaces are down and updating its NodeStatus.

[code]

[2016-09-22 23:40] davidopp commented on #31784
@piosz Can you explain what discovery summarizer does? Is it just a demux/router for Kubernetes REST API requests?

[2016-09-22 23:41] vishh commented on #33327
`ifdown` and `ifup` commands are not in GCI. Is there any other equivalent command that we can use across GCI and other distros @Amey-D

[2016-09-22 23:42] vishh commented on #33295
This failure is due to the lack of availability of `ifdown` and `ifup` commands in GCI. If these are test only dependencies, can we find an alternative that works across distros? https://github.com/kubernetes/kubernetes/issues/33327#issuecomment-249059482

[2016-09-22 23:43] AdoHe commented on #33333
@julienvincent you are using `kubectl apply` for secret?

[2016-09-22 23:44] yifan-gu commented on #33048
Another idea is to let runtime return FsInfo, and under the hood, shimcode can choose whether or not to call cadvisor's GetFsInfo().
Benefits:
- Makes kubelet depends less on cadvisor, but existing runtime can still use what's there.
- Runtime is free to choose implementing GetFsInfo() on its own.

I am open to whether add GetFsInfo() in CRI or GetSomeBasicFileFsInfoRequiredForCadvisor(). But basi

[2016-09-22 23:45] julienvincent commented on #33333
@AdoHe yes

[2016-09-22 23:45] janetkuo commented on #32695
Fixed by #33030

[2016-09-22 23:45] #32695 closed

[2016-09-22 23:47] janetkuo commented on #32697
The 1.3 fix is #33030. Fixed by #33030, closing

[2016-09-22 23:47] #32697 closed

[2016-09-22 23:47] yifan-gu commented on #33048
cc @euank @lucab @s-urbaniak

[2016-09-22 23:48] k8s-merge-robot opened #33341 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 2 pods to 1 pod {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/16088/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 2 pods to 1 pod {Kubernetes e2e suite}

[code]

Previous issues for this test: #27196 #28998 #32403

[2016-09-22 23:49] AdoHe commented on #33333
@julienvincent https://github.com/kubernetes/kubernetes/issues/23564, ptal.

[2016-09-22 23:51] julienvincent commented on #33333
apologies - did not see that issue.

[2016-09-22 23:51] #33333 closed

[2016-09-22 23:52] Random-Liu commented on #33048
@yifan-gu so what you mean is that:
* If the runtime wants to use cadvisor, it should:
  * integrate with cadvisor.
  * get stats from cadvisor in shim.
* If the runtime wants to use its own stuff, just do whatever it wants?

[2016-09-22 23:53] yujuhong commented on #33048
Agreed. If option 2.2 in https://github.com/kubernetes/kubernetes/issues/33048#issuecomment-249029566 is sufficiently generic, it could serve the purpose.

This means every shim should vendor and run cadvisor, or completely rule out the possibility of running the shim as a separate process though. I am fine with the former, but just to want to highlight the requirement for the shim (e.g., running

[2016-09-22 23:53] erictune commented on #25908
Can probe run against a container that has already exited, or would there
be a race where it is being torn down?

Another option is to designate certain exit codes as having special meaning.

Both  "Success for the entire pod" or "failure for the entire pod" are both
useful.

This would need to be on the Pod object, so that is a big API change.

On Thu, Sep 22, 2016 at 1:41 PM, Ming Fang <notifica

[2016-09-22 23:53] janetkuo commented on #32697
@dshulyak because it's fixed differently in 1.4 tests (more specifically, in replica set reapers), by setting  `OrphanDependents` to `false` in DeleteOptions to tell the garbage collector that we want to delete it immediately. We can't do so in 1.2 or 1.3, obviously, since `OrphanDependents` doesn't exist there.

[2016-09-22 23:54] feiskyer commented on #33048
Another concern of Option 2.2 is that more storage specific information may be required because of supporting new fs types. This is actually runtime's implementation detail. I think CRI shouldn't depends on it.

[2016-09-22 23:55] janetkuo commented on #32044
Suggest reassigning to node team

[2016-09-22 23:56] janetkuo commented on #31835
Reassigning to node team

[2016-09-23 00:00] yifan-gu commented on #33048
@yujuhong Runtime needs to vendor cadvisor? Yes. Runtime needs to run cadvisor in the background? I am not sure. Shouldn't it just use cadvisor as a library?

[2016-09-23 00:02] Random-Liu commented on #33048
cadvisor is running, monitoring and cache sys stats. As @timstclair mentioned above, it doesn't not support on-demand collection as a library. :(

[2016-09-23 00:09] freehan commented on #33327
Hmm... This test is testing switching off network interfaces specifically.

I just try it with `ip link set eth0 down` and `ip link set eth0 up`. It should have the same effect.

[2016-09-23 00:12] freehan commented on #33327
I manually tested it with the following command on a GCI node.
`ip link set eth0 down ; sleep 120; ip link set eth0 up &`

I observed the node get marked to NotReady and marked back to Ready.
It should be okay. Just the test needs to be fixed.

[2016-09-23 00:12] Amey-D commented on #33295
"ip" command is the preferred way to deal with network interfaces.
"ifup" => "ip link set DEVICE up";
"ifdown" => "ip link set DEVICE down"

[2016-09-23 00:14] vishh commented on #33327
Sweet! Thanks @freehan! Do you want to continue owning this issue to have the test fixed?

[2016-09-23 00:19] vishh commented on #33318
The tests are timing out. We should run the tests manually to see if they pass and bump the timeouts if necessary. Keep in mind that GCI supports CPU limits and so if the test jobs specify CPU limits they might be slowed down.

[2016-09-23 00:26] foxish commented on #33315
This one, https://github.com/kubernetes/kubernetes/issues/33317 and https://github.com/kubernetes/kubernetes/issues/33316 appear to be failing because of the same reasons.
The files being written by the init containers don't have the right permissions perhaps? This is what I observed so far.

[code]

[2016-09-23 00:27] freehan commented on #33295
dup of  #33327

[2016-09-23 00:27] #33295 closed

[2016-09-23 00:29] foxish commented on #33317
Closing for now as the issue is identical to https://github.com/kubernetes/kubernetes/issues/33315

[2016-09-23 00:31] DjangoPeng commented on #33124
@mikedanese Bug has been fixed.

[2016-09-23 00:32] freehan commented on #33325
will be fixed by #33343

[2016-09-23 00:41] #33317 closed

[2016-09-23 00:44] foxish commented on #33316
Closing as it appears to be identical to https://github.com/kubernetes/kubernetes/issues/33315

[2016-09-23 00:44] #33316 closed

[2016-09-23 00:47] smarterclayton commented on #31784
Yes - it's an intelligent proxy for hiding details of multiple API backends
from clients

On Sep 22, 2016, at 7:41 PM, David Oppenheimer <notifications@github.com>
wrote:

@piosz <https://github.com/piosz> Can you explain what discovery summarizer
does? Is it just a demux/router for Kubernetes REST API requests?

—
You are receiving this because you were mentioned.
Reply to this email directly, vi

[2016-09-23 01:04] foxish commented on #33318
It appears this one is also due to the same reasons. I can see in the logs:

[code]

It just hangs after that, which is probably why we're seeing a timeout.

[2016-09-23 01:06] vishh commented on #33318
I'm working on a GCI specific fix. Thanks for triaging @foxish

[2016-09-23 01:10] spiffxp commented on #32332
@spiffxp collated comments on and links to this issue up to this point while updating release notes with contents of #33226

[2016-09-23 01:10] k8s-merge-robot opened #33344 "[k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/10967/

Failed: [k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26185 #27142 #30275 #31101 #31105 #32059 #32074 #32078 #32098 #32437 #32525

[2016-09-23 01:17] smarterclayton commented on #33212
Probably - after all, if you have to rev every script / tool / integration
point every time you upgrade that dramatically increases the cost of
upgrades.  We should be relatively insulated from the impact for old
clients though because our API guarantees already defend against that sort
of drift.

Thinking about Kube 1.2 vs 1.4, as a user I might be surprised to find an
older script stopped workin

[2016-09-23 01:20] smarterclayton commented on #32863
The biggest ones are failures to create pods due to:

1. Quota
2. Limit range
3. PodSecurityPolicy
4. Other added admission checks (node selector)

Most of the others might be:

1. Failure to schedule some / all
2. Failure to delete some / all (due to kubelet being down or finalizers
failing)
3. Kubelet reject pod due to eviction

On Sep 22, 2016, at 5:11 PM, Eric Tune <notifications@github.com> w

[2016-09-23 01:20] bprashanth commented on #33300
you need quota requirements for this test: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/ingress.go#L73

Just copy the requests off an existing ingress cluster, eg: k8s-jkns-gce-ingress1-4, through https://console.developers.google.com

I usually put in:
[code]

[2016-09-23 01:23] smarterclayton commented on #29472
Going to write up a proposal shortly for the API part, then start suggesting changes into smaller work items.  Joe Beda had a good suggestion for describe that resolves some of the issues we had with it.

[2016-09-23 01:39] mingfang commented on #25908
@erictune Good point; we can't probe an exited container.

Can we designate a particular container in the pod as the "completion" container so that when that container exits we can say the job is completed?

The sidecar car containers tends to be long lived for things like log shipping and monitoring.
We can force terminate them once the job is completed.