[2020-04-13 22:19] msau42 commented on #90123
@kubernetes/sig-storage-bugs
There's a problem in the external-provisioner where a default fstype is set. We are looking to change this behavior in the next release, so that the fstype will become "". https://github.com/kubernetes-csi/external-provisioner/issues/328

In the meantime, I would suggest that the user uses RWX access mode or don't set fsgroup in their Pod

[2020-04-13 22:20] msau42 commented on #90123
/assign @gnufied
who is also looking at getting rid of our RWO heuristic to call ChangeVolumeOwnership, and make it an explicit option by the driver.

[2020-04-13 22:23] rbo54 commented on #90123
Thanks msau42- we had suggested RWX as an option to our customer. An explicit option to allow ChangeVolumeOwnership would probably be preferential; as I don't see how it would work generally if the pod has every run before and configured root to have no access.

[2020-04-13 22:24] DavidWHarvey commented on #55045
I have come up with an (very) ugly workaround.   In the pre-shutdown hook, when I'm certain that there is no data on the PV that is interesting, I issue a delete of the pvc, and then complete the pre-shutdown hook.   I've tested the piece parts of this, and they seem to work, so I'm  updating the automation to try this for real.
So the pod is deleting its own PVC just before exit.

[2020-04-13 22:29] msau42 commented on #90123
Adding an explicit option is an API change and will require going through alpha->beta->GA cycles, so will take some time to be available. Even then, I'm not sure if this would work as you intend?

Basically, the option would allow a driver to say "I don't support fsgroup". So in that case, the volume is always mounted with the default permissions when it was provisioned, and if the user wants to c

[2020-04-13 22:34] bartekzurawski commented on #88132
Hi,
Can I work on this issue? I think i know how to handle it.

[2020-04-13 22:35] rbo54 commented on #90123
I'm thinking to be useful, the option to run the fsgroup code may have to be dynamic. That is we want to do it on the first execution of the pod, but have a way to inhibit it if the volume is reused and the permissions have been restricted (and presumably it was already run the first time). I admit though that is complicated.

[2020-04-13 22:45] msau42 commented on #90123
There is the fsgroupchangepolicy that is alpha in 1.18 that allows you to only set fsgroup the 1st time. But I'm not sure that's going to solve the problem of kubelet losing access to the nfs share. Fsgroup was not designed to handle nfs. @gnufied please correct me, but I believe nfs permission handling needs to be done in a different way.

[2020-04-13 22:45] msau42 commented on #90123
The main difference is this API change would be something that drivers can specify, instead of relying on users to do the right thing in their Pod

[2020-04-13 23:04] BenTheElder commented on #90117
No insights, we haven't changed much on KIND's end, I would poke the test owners.

[2020-04-13 23:06] neolit123 commented on #90114
hi, please open this issue in the kubernetes/minikube repository
thanks

/close

[2020-04-13 23:06] #90114 closed

[2020-04-13 23:07] neolit123 commented on #90124
/sig apps

[2020-04-14 00:23] spiffxp commented on #85295
/close
ref: https://github.com/kubernetes/kubernetes/pull/75111/files#r407793964

[2020-04-14 00:23] #85295 closed

[2020-04-14 01:13] tanjunchen commented on #90096
@tedyu
it is merged.
/close

[2020-04-14 01:14] #90096 closed

[2020-04-14 01:47] coreyoconnor commented on #47368
This would also be useful for the ansible k8s/openshift inventory and connection plugins in order to target a specific container within a pod. Currently this either requires using a regex in the host filter or conditional tasks that work off the `ansible_kubectl_container` variable.

- https://docs.ansible.com/ansible/latest/plugins/inventory/k8s.html
- https://docs.ansible.com/ansible/latest/plug

[2020-04-14 02:14] spiffxp commented on #89892
I just did the same thing @yujuhong did, but I suspect it won't fix anything.  I cleared out VM's so the error you'll see for the next few runs probably won't be quota-related, maybe you can use that to determine if it's the same error as the linked issue.

[2020-04-14 02:33] knabben commented on #68026
Besides the @agadelshin question about skipping zz_generated files, some other cleaning patterns found without some clear solution.

1. A default pattern of Kubectl is the usage of [cmd]Options for initial options structs and it raises:

[code]

2. pkg/apis/{custom_metrics,external_metrics} raises, It's probably not worth to break compatibility renaming these folder for lint error:

[code]

Any ad

[2020-04-14 02:36] hasheddan commented on #89892
Thanks @spiffxp! I'll monitor and follow up :+1:

[2020-04-14 03:10] aespinosa commented on #84081
`/remove-lifecycle stale`

[2020-04-14 03:10] aespinosa commented on #84081
/remove-lifecycle stale

[2020-04-14 03:11] Crazykev commented on #63814
Is this a proper time to re-consider this issue, find a one-time fix?

We still struggle from container restart when trying to upgrade our 1.15.x cluster, backport #57741 won't help since itself would bring a hash change.
And #57741 can't deal with new added filed with default value(and maybe delete desperated field in the furture).  Nil default proposed in https://github.com/kubernetes/community/

[2020-04-14 03:33] spiffxp commented on #89892
Quota exhausted within an hour. It's unclear whether this is a thundering herd problem, or if there's some underlying problem that's causing these tests to either take longer than usual, and/or fail to clean up.

[2020-04-14 04:05] SataQiu commented on #90117
/cc

[2020-04-14 04:43] marosset commented on #70189
This is being tracked with MS internal work item 25807692
The Windows team thinks an OS fix for Windows Server 2019 will be released with the June patches.
I will post updates here as I get them.

[2020-04-14 04:56] marosset commented on #73434
/reopen
This requires containerD as Patrick mentioned previously.
We'll prioritize enabling/testing this scenario in 1.19

[2020-04-14 05:24] uablrek commented on #90101
It is by design, so the kind/feature label is correct.

I don't think the problem is in kube-proxy though.

[2020-04-14 05:26] supermqB opened #90128 "CRD validation message confused users."
**What happened**:
I have a custom resource definition, there is a property with minimum=20 validation in it. When we set a a value(eg: 10) which is smaller than 20. I got an error likes below:
[code]
**What you expected to happen**:
We expect the message like this, the invalid value should be the one what user specified.
[code]

**Environment**:
- Kubernetes version (use `kubectl version`): v1.16

[2020-04-14 05:31] uablrek commented on #90083
Flannel have no IPv6 support (yet). Calico has but you *must* patch the config to enable it.

[2020-04-14 05:43] tanjunchen commented on #89961
https://github.com/kubernetes/kube-openapi/pull/192 has been merged .  @serathius

[2020-04-14 05:59] rishindrasingh opened #90129 "Deployments not going on master node in kubernetes"
I have tried to do one deployments with replicas of 3 , also i have 2 worker nodes and one master node in my configuration but the issue is my all deployments is happening on worker node only and no instance is going on master node.
Also i am able to acccess my application with both worker node ip addresses.

Did i made some mistake, ideally the deployments should go on all nodes i.e master node a

[2020-04-14 06:22] tanjunchen commented on #55722
Does this still need to be discussed?
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/diff/diff.go#L57

ObjectDiff()    ObjectGoPrintDiff()    ObjectReflectDiff()  use

[code]

[2020-04-14 06:28] tanjunchen commented on #69358
@dims
see https://github.com/kubernetes/kubernetes/pull/88139

[2020-04-14 06:51] tanjunchen commented on #84615
/help

[2020-04-14 06:52] tanjunchen commented on #81245
/help

[2020-04-14 06:53] tanjunchen commented on #81427
/help

[2020-04-14 06:53] tanjunchen commented on #81232
/help

[2020-04-14 07:01] 928234269 commented on #90129
Please post your deployment yaml file. Maybe this can help you https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/

[2020-04-14 07:09] tanjunchen commented on #79907
@alejandrox1  test/e2e/framework/kubelet_stats.go is gone!

[2020-04-14 07:10] tanjunchen commented on #77095
/help

[2020-04-14 07:13] saschagrunert commented on #88408
I was assuming that @justaugustus is working on this issue.

@justaugustus I can jump in if you want and do not find the time to work on it. :)

[2020-04-14 07:15] tanjunchen commented on #76206
/help

[2020-04-14 07:19] tanjunchen commented on #74352
/help
Adding this label for easy search.
See also,   kubectl  migration doing the same thing:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/kubectl-staging.md
See also, kube-scheduler migration doing the same thing:
https://docs.google.com/document/d/1WO-ixERpqkCSEXEq30YtEH_z_G-BoLKeCbkRJcKq3xA/edit

[2020-04-14 07:23] mosesyou commented on #90124
@czheng94 Can I try to work on this?

[2020-04-14 07:25] chief93 commented on #90083
@uablrek thanks for the info! But as I said previously - I can't use Calico because of overlapping of my home network' address pool.

[2020-04-14 07:32] bvivi57 opened #90130 "vSphere (CSI) plugin :Failed to get shared datastores in kubernetes cluster"
/sig cloud-provider
/sig storage

Hi

We are trying to deploy a kubernetes cluster under vSphere with the CSI and CPI plugin.

The test environment is :

- 1 vCenter: v6.7.0 14792544
- 1 ESXi: v6.7.0 14320388
- 2 datastore: (no vSAN)

- Kubernetes: v1.18.1
- 3 master kubernetes
- 1 worker kubernetes
-  Ubuntu 19.10

Here is the configuration file for the implementation of the cluster and kubeadm

[2020-04-14 07:34] gball14 commented on #90011
Thanks @alexzimmer96. I am doing through init containers only. I just want the POD to be recreated (not the container) otherwise the DNS issue that was there with the original POD creation continue to exist no matter how many times the init container restarts.

[2020-04-14 07:40] alexzimmer96 commented on #90011
You could try to use the init-container to send a API-Request to Kubernetes which deletes container when your DNS does not work. Kubernetes has no on-board resources to force a pod-recreation starting from a pod.

But maybe the "right" solution is to resolve your DNS issues. To recreate your Pods whenever you have DNS-issues seems like a odd workaround for a underlying problem.

[2020-04-14 07:52] SimonHeimberg opened #90131 "allow to configure ip for one service doing nodePort"
I'd like to limit the address of nodePorts of **some** services.

Thanks to `--bind-address` (#21070), I can serve the nodePorts of **all** services on some IPs (~network interfaces).
Is it possible to limit the address of some services (like `docker run -p 192.168.12.23:30080:80` of pure docker)? (Of course one ip address would not work for the nodes. A list of ip addresses or a IP range would ha

[2020-04-14 07:59] brancz commented on #49746
/remove-lifecycle stale

[2020-04-14 08:01] jprzychodzen commented on #89051
Just for cleaning and reference purpose - Node Killer is now disabled, tracking an effort to enable it in kubernetes/perf-tests#1005

[2020-04-14 08:17] Pingan2017 commented on #90128
/sig api-machinery

[2020-04-14 08:37] SataQiu commented on #90108
/sig node

[2020-04-14 08:44] rishindrasingh commented on #90129
This is my deployment yaml file.

apiVersion: apps/v1 # for versions before 1.9.0 use apps/v1beta2
kind: Deployment
metadata:
  name: apps-deployment
spec:
  selector:
    matchLabels:
      app: apps-devops-project
  replicas: 3
  template:
    metadata:
      labels:
        app: apps-devops-project
    spec:
      containers:
      - name: apps-devops-project
        image: rishindrasingh/simpl

[2020-04-14 08:45] serathius commented on #89961
Talked with @mm4tt, he proposed to run 5k release blocking performance tests and do A/B performance analysis.
I will try to find someone from SIG-scalability to help but it might take time due Holidays.

[2020-04-14 08:48] im7mortal commented on #68083
/remove-lifecycle rotten

[2020-04-14 08:54] 928234269 commented on #90129
because the master has stains by default, the deployment cannot run on the master.

[2020-04-14 09:03] uablrek commented on #90072
This is a problem in weave, not K8s. You must trobleshoot weave, please see; https://www.weave.works/docs/net/latest/kubernetes/kube-addon/#-troubleshooting

Do;
[code]
Check the output and paste it in this issue.

For reference here is my output;
[code]
I don't have your problem. Pods are assigned unique addresses.

[2020-04-14 09:11] T00mm opened #90132 "AWS NLB Deletion Protection"
**What would you like to be added**:

An annotation in the format of

`service.beta.kubernetes.io/aws-load-balancer-deletion-protection: [true|false]`

that will set the Deletion Protection of the ELB to True or False. (Default is False)

**Why is this needed**:

To protect the loadbalancer from accidental deletion by external sources.

[2020-04-14 09:32] gaorong commented on #90132
Maybe it would be better to open an issue in https://github.com/kubernetes/cloud-provider-aws, this annotation is a vendor-specific feature.

[2020-04-14 09:54] lirlia commented on #79365
Thank you!! work form me! (I tried in a single container)

[2020-04-14 10:02] eddytruyen opened #90133 "Benchmark performance difference between Docker and Kubernetes when running Cassandra:2.2.16 official Docker image"
Sorry for not following the template.

We experienced a performance degradation when running a single Cassandra instance  inside kubeadm 1.14 in comparison with running the Docker container stand-alone.
A write-only workload (YCSB benchmark workload A - Load phase) using the following user table:

[code]

And using the following script:

[code]

We used the following image: `decomads/cassandra:2.2

[2020-04-14 10:06] msshroff commented on #72226
Facing same issue on 1.16.1 cluster
/remove-lifecycle rotten

[2020-04-14 10:14] oxddr commented on #85683
This has been fixed already.

/close

[2020-04-14 10:15] #85683 closed

[2020-04-14 10:20] rdxmb commented on #23349
I am wondering why 100 or 110 is such a hard limit. I have two BareMetal-workers with each 40 cpus and 125G RAM.
As I have all my containers defined with max-limit-memory (most of them <1GB RAM, only few with some more GB, this will not be the limitation factor.

The main questions for me seem to be in https://github.com/kubernetes/kubernetes/issues/23349#issuecomment-400595009

How do you do that

[2020-04-14 10:24] T00mm commented on #90132
Didn't know about that one, also thought it would fit here as the annotations for the other parts are defined in https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/aws/aws.go

[2020-04-14 10:51] mydockergit commented on #89731
Any update ?

[2020-04-14 11:17] oxddr commented on #87815
Assuming https://github.com/kubernetes/kubernetes/issues/88132 is a resolution to this flake, then I think it's fine to close this issue.

/close

[2020-04-14 11:17] #87815 closed

[2020-04-14 11:31] hex108 commented on #86630
/lifecycle stale

[2020-04-14 11:50] justinsb opened #90134 "Watch interface docs ambiguous"
The docs for the Watch interface are a little ambiguous: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/watch/watch.go#L34-L37

"If an error occurs or Stop() is called, this channel will be closed, in which case the watch should be completely cleaned up."

That can be read two ways:
* When the channel is closed, the watch is already completely cleaned up
*

[2020-04-14 11:54] mrbobbytables commented on #90092
Please re-post your question to the [Kubernetes User Forum](https://discuss.kubernetes.io) or [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked question

[2020-04-14 11:54] #90092 closed

[2020-04-14 11:59] zhouya0 commented on #90074
Yes, sorry @julianvmodesto I mentioned you in this issue. Because my first thought is this https://github.com/kubernetes/kubernetes/pull/87714 brings `DynamicClient` and `ToDiscoveryClient` which will check the config file existence but in fact that's not the root cause.
Actually the root cause is:https://github.com/kubernetes/kubernetes/blob/864b4bcc1e595917f483b5f23451072a679214db/staging/src/k8

[2020-04-14 12:12] rikatz commented on #88986
@aojea newer patch works.

For those asking what Antonio's patch does, it basically creates the flannel.1 interface with tx and rx offloading off.

So this 'automates' the workaround.

[2020-04-14 12:14] hasheddan commented on #89892
It appears all tests using this project are experiencing the quota issue (https://testgrid.k8s.io/sig-node-kubelet). However, it appears that the issue may be stemming from the fact that on timeout the deferred cleanup is not being called [here](https://github.com/kubernetes/kubernetes/blob/864b4bcc1e595917f483b5f23451072a679214db/test/e2e_node/runner/remote/run_remote.go#L536). Since there has no

[2020-04-14 12:16] LiamMorrow commented on #89080
I wonder if it's possible to output it so that it is on the bottom of the output.  It's pretty annoying to have to scroll through all this irrelevant metadata when doing a kubectl edit, or even just viewing the current yaml.

[2020-04-14 12:24] hasheddan commented on #87815
Thanks @oxddr :)

[2020-04-14 12:27] davesargrad commented on #88986
@rikatz I've been monitoring the progress on this issue that I've written, and have appreciated the activity. So is it your  perspective that a flannel patch is what I need to get past this problem?

[2020-04-14 12:30] davesargrad commented on #88986
Can someone highlight the performance implications associated with turning tx and rx offloading off on the flannel interface. It seems like the performance implications can be high for high throughput environments: 1gbps, 10gbps. My application is quite high throughput.

[2020-04-14 12:39] rikatz commented on #88986
In my point of view this would be better corrected with a patch into CentOS7/RH7 kernel. The patch in Flannel is a workaround to disable tx and rx offload before creating the interface

[2020-04-14 12:44] davesargrad commented on #88986
@rikatz I appreciate your point of view. Is there an issue on the kernel that highlights this need? Can you point me to that issue, if you know which?

[2020-04-14 13:13] aojea commented on #90117
/assign
👀

[2020-04-14 13:14] hasheddan commented on #90117
Thanks @aojea! Let me know if I can provide any support 👍

[2020-04-14 13:17] aojea commented on #90117
@BenTheElder seems that ipv4 ones have a similar pattern of failures?
https://k8s-testgrid.appspot.com/sig-release-master-blocking#kind-master-parallel&width=5

🤔

[2020-04-14 13:42] alculquicondor commented on #86236
/close

[2020-04-14 13:42] #86236 closed

[2020-04-14 14:32] rikatz commented on #88986
There's a bugzilla link but it's internal to Red Hat employees and I don't have access

[2020-04-14 14:33] aojea commented on #71565
just hit it now
[code]

seems it too fast checking for the pod to be running
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/89937/pull-kubernetes-e2e-gce/1250037087445454850/

[2020-04-14 14:51] cwdsuzhou commented on #90116
network mode: flannel overlay

[2020-04-14 14:58] alculquicondor commented on #90025
Since we are not making preemption just yet, I think we should start by moving the entirety of its implementation to be part of the framework runtime.

1. For (A: I, II, IV) I think the cleanest implementation is to expose them as part of the handle (they can simply be unexported functions during the refactoring). I don't see why they have to be closures though. I don't like the idea of a plugin h

[2020-04-14 15:32] gnufied commented on #90123
Yeah I think we have problem in heuristics we use for performing `SetVolumeOwnership` change for CSI volumes but fsGroup mechanism was not designed to be used for NFS volumes.

@rbo54 why do you need `fsGroup` mechanism at all because it sounds like you are giving `700` permission to the NFS volume and hence removing `fsGroup` line from pod's security context should retain the permission. Not havi

[2020-04-14 15:43] gavinfish opened #90136 "How to deal with feature gates for staging components"
Former discussion at https://github.com/kubernetes/kubernetes/pull/90111#discussion_r407776222

As more and more k8s components are going to be ~~out-of-tree~~ staging to reduce dependencies on k8s core. One problem is that how to deal with feature gates which will be used across different components? One possible solution is to move feature gates to a common place like k8s.io/component-base.

[2020-04-14 15:44] gavinfish commented on #90136
/wg component-standard
/sig scheduling

[2020-04-14 16:11] alculquicondor commented on #90136
I would say "staging" instead of "out-of-tree"

[2020-04-14 16:12] NicolasT opened #90138 "component-base: program name in `verflag` output hard-coded to `Kubernetes`"
When using the `k8s.io/component-base/version/verflag` package, one can easily add a `--version` flag to a CLI tool. However, the output of invocation with `--version` is hard-coded to `Kubernetes ...`. As such, the package is not very usable in non-Kubernetes projects.

/wg component-standard
/assign @NicolasT

[2020-04-14 16:13] NicolasT commented on #90138
/assign @NicolasT

[2020-04-14 16:13] davesargrad commented on #88986
I find it odd that a kernel bug is owned by redhat, rather than properly open (as any opensourced things should be).

:)

[2020-04-14 16:14] rbo54 commented on #90123
Hi Hemant, These sound like good suggestions. I don't know why the customer "needs" fsGroup as I agree with you once they are changing permissions it not necessary. I will point them to your comment and inquire. Thank you! Tom

[2020-04-14 16:23] lavalamp commented on #89080
Yeah, it's part of metadata, so it'd be at the top either way.

I feel like there should be a jsonpath expression that prints everything except for a given field. But I haven't figured one out with a few minutes of trying.

[2020-04-14 16:26] ahg-g commented on #90106
/remove-sig scheduling

Scheduling isn't involved in deleting pods.

[2020-04-14 16:28] apelisse commented on #89080
Can we build an option to hide it? I think we talked about that before, and that'd still work if someone uses the output to do a read-modify-write?

[2020-04-14 17:03] al45tair opened #90141 "kubectl create needs a create-or-replace option"
**What would you like to be added**:
Right now, we have `kubectl create`, which will create _but not replace_ a resource, and `kubectl replace`, which will replace _but not create_ a resource.

One or other (maybe both?) of them really should have an option to _create or replace_ as needed.

There are two obvious objections to this:

1. You could do `kubectl delete` then `kubectl create`. _Except

[2020-04-14 17:04] al45tair commented on #90141
/sig cli

[2020-04-14 17:16] mlushpenko commented on #67974
Noticed the same on on 1.15.7 during the upgrade process to 1.16.7. Pod couldn't get evicted due to pod distribution budget. `kubectl get pods` showed both pods as ready, but `kubectl get deployment` reported one as not ready. Looks like distribution budget checks deployment status versus pod status. No unhealthy events on either deployment or pods.

[2020-04-14 17:26] pjh commented on #88974
Yes, I'll try to take a look this week.

[2020-04-14 17:56] zhan849 commented on #56903
We in Pinterest is using kernel 5.0 and the default iptable set up, but still hitting this issue pretty badly:

here is a pcap trace of packages showed clearly proof of UDP packets not getting forwarded out to dns and client side is having 5s timeout / dns level retries, 10.3.253.87 and 10.3.212.90 are user pods and 10.3.23.54.domain is the dns pod

[code]

I did a `conntrack -S` and there is no i

[2020-04-14 18:04] #88969 closed

[2020-04-14 18:13] Huang-Wei commented on #90025
Do you mean to directly move those functions one level up from `Framework` interface to `FrameworkHandle` interface?

I was also thinking about that. One safe option is to keep the logic as is, say keep another "NominatedPodsSnapshot" from queue; the other option is like you said, figuring out if the `nomiantedPods` struct can be placed into cache, and then we just need one snapshot.

[2020-04-14 18:44] tamalsaha commented on #30784
I have written a Kubernetes extended apiserver that implements the "whoami" service. You can find it here: https://github.com/kubeshield/identity-server

[2020-04-14 18:45] callicles commented on #87615
Hey! Got the same issue here, k8s 1.17.4  do we think we could get a 1.17.5 recompiled with go 1.14 if that solves the issue?

[2020-04-14 18:59] marosset opened #90142 "Clarify and document Windows OS version support"
This issue will be used to facilitate discussion around clarifying/documents Windows OS version support and will result in documentation PRs reflecting the outcomes of this discussion.

Current Kubernetes documentation only claims to support Windows Server 2019 (https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#compute)  but there have been several Window

[2020-04-14 19:01] marosset commented on #90142
/cc @michmike @craiglpeters @immuzz @pjh @adelina-t @claudiubelu
Let's continue to the conversation from today's sig-windows meeting here

[2020-04-14 19:02] zshihang commented on #68164
kubernetes-client/perl does not have incluster config yet, so it is not a blocker for GA.

[2020-04-14 19:03] liggitt commented on #87615
Unfortunately, updating to go1.14 requires updates to several key components, so is unlikely to be picked back to Kube 1.17. You can track the issues and progress in https://github.com/kubernetes/kubernetes/pull/88638

[2020-04-14 19:06] callicles commented on #87615
Good to know, thx

[2020-04-14 19:34] #89779 closed

[2020-04-14 19:37] czheng94 commented on #90124
@mosesyou Yeah sure. Thanks for volunteering!
Maybe let's discuss on the approach?

[2020-04-14 19:46] alculquicondor commented on #90025
Right, they are already part of the framework, so it's just about expanding the Framework Handle to include those functions. But what I meant is that this can be done later, once we have finished refactoring the rest and we are ready to build the "preemption" plugin.

[2020-04-14 19:51] szuecs commented on #56903
@zhan849 why not using a daemonset and bypass conntrack?
We use dnsmasq in front of coredns in a daemonset pod and use cloudinit and some systemd units to set resolv.conf values via kubelet to the node local dnsmasq running in hostnetwork.
Works great even if we spike dns traffic to oomkill coredns. This happened in a nodejs heavy cluster.
https://github.com/zalando-incubator/kubernetes-on-aws/tre

[2020-04-14 20:00] jceresini commented on #83400
That says to use network policy, which is what I mentioned in my initial example. The kubernetes network policy is namespaced. There are ways to make cluster-wide policies with certain CNI's, but not a universal way to do it that I'm aware of. There are several ways to do it outside of kubernetes (as I mentioned with GCP metadata concealment, and IPTables on the nodes for AWS), but I'd much prefer

[2020-04-14 20:02] ajouve opened #90145 "Failed to join 127.0.0. on dns-controller after update"
**What happened**:

My `dns-controller` is returning those errors and can not boot

[code]

**What you expected to happen**:

Should boot

**How to reproduce it (as minimally and precisely as possible)**:

I ran `kops upgrade cluster` and `kops update cluster`

**Environment**:  Debian
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration: AWS EC2
- OS (e.

[2020-04-14 20:04] ajouve commented on #90145
/sig network

[2020-04-14 20:05] julianvmodesto opened #90146 "downgrade from client-side apply to server-side apply should fail with a conflict"
**What would you like to be added**:

After server-side apply with `kubectl apply --server-side` is used on an object, then client-side apply with `kubectl apply` should conflict.

**Why is this needed**:

Once a resource is being managed by SSA, then we should prevent CSA from attempting to manage the object.

CSA should not be trusted to manage an object after SSA because SSA doesn't update the

[2020-04-14 20:12] lavalamp commented on #90146
Note that today we have objects with managed fields set (because we set them all the time now) AND the client-side apply annotation. We shouldn't give conflicts to client-side apply on such objects until the user runs server-side apply.

Other than that I agree with everything.

[2020-04-14 20:15] lavalamp commented on #90146
An interesting way of making this all work might be doing the following in the server:

* Detect client-side apply requests (create or update with a different CSA annotation set)
* Get the user intent out of the annotation
* Ignore everything else about the request
* Call the SSA handler

I'm not sure if this is the best way of doing things (or even a good way), but I don't think we discussed it y

[2020-04-14 20:26] Huang-Wei commented on #90025
SG. Let me add this option to the issue description.

[2020-04-14 21:12] apelisse commented on #90146
That would literally change all kubectl versions to "default" to SSA. I don't hate the idea, though it's a little surprising for users. Also, how would they break-glass if they want to use CSA again or exclusively?

[2020-04-14 21:15] nckturner commented on #77557
/close

[2020-04-14 21:15] #77557 closed

[2020-04-14 21:29] lukemassa commented on #81873
FYI it looks like this was implemented via krew https://github.com/rajatjindal/kubectl-evict-pod

[2020-04-14 21:33] kwiesmueller commented on #90146
I think CSA currently tells you to recreate an object if it was not applied before. At least i think to remember a warning like this in the past.
People might actually be used to it?

I would prefer a solution we can implement on the server, so it doesn't matter how old the client is.
Though, i'm not sure if it's okay to add csa annotation detection on the server, as it didn't care about it before

[2020-04-14 21:38] nckturner commented on #86441
I'm going to close this issue as the original poster seems to have resolved it.  @lsowen yours sounds a bit different, if you are still experiencing it can you open a new issue?

/close

[2020-04-14 21:38] #86441 closed

[2020-04-14 21:56] immuzz commented on #90142
I think supporting LTSC + 2 SAC releases makes sense as long as we have added the e2e conformance tests for it. We will need to know how long it takes to add the tests for a new version.

[2020-04-14 22:10] rata commented on #56903
@szuecs please note that there is upstream support for that and stable in 1.18 (haven't tried it myself): https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/

I guess this does not solve the root cause of the ndots problem, although is probably amortized. I guess this will just solve the conntrack races, that is the issue causing the intermittent delays.

[2020-04-14 22:37] AndrewSav commented on #23349
It's a kubelet configuration parameter.

[2020-04-14 22:57] zhan849 commented on #56903
@szuecs good question! proxying dns in general is an interesting direction worth poking, however we run kubernetes in highly customized way and with fairly large scale so it'd be hard to plug and play most of open sourced solution. Also as @rata said it's not solving the root cause.
The 3 possible alleviations I posted above fits to our current production setup better :)

[2020-04-14 23:13] #84757 closed

[2020-04-14 23:48] kunmin-db opened #90150 "Loadbalancer service sometimes cannot be deleted with annotation "azure-shared-securityrule" in Azure"
**What happened**:

We notice when we create LoadBalancer service with the annotation `service.beta.kubernetes.io/azure-shared-securityrule: true`, it could fail to delete the service because of controller manager logic in https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go#L205-L236

I believe what happens is:
1. Service delet

[2020-04-14 23:51] kunmin-db commented on #90150
/sig cloud-provider

[2020-04-15 00:14] pjh commented on #90142
Would it be feasible for every K8s version to support just one LTSC version and just one SAC version? For example, for the rest of this year it might look something like:
- K8s 1.18: 2019 for LTSC, 1903 or 1909 for SAC (not sure if we officially decided this...)
- K8s 1.19: 2019 for LTSC, 20-04 for SAC
- K8s 1.20: 2019 for LTSC, 20-04 for SAC
- K8s 1.21: 2019 for LTSC, 20-10 for SAC

A 1:1 mapping

[2020-04-15 00:17] kleimkuhler opened #90151 "Anti-affinity prevents pod restart with PodDisruptionBudget"
**What happened**:

An nginx deployment exists with three replicas on a three node cluster. An
anti-affinity policy exists that requires each nginx pod to be on its own
node. A PodDisruptionBudget exists that permits `MinAvailable: 1` for `app:
nginx` label.

After an edit to the nginx deployment's pod template that should trigger a
restart, a new pod initializes but is unable to be assigned a nod

[2020-04-15 01:41] barborico commented on #78854
/reopen

[2020-04-15 02:08] l1b0k commented on #83050
same issue when time shift.
/reopen
/remove-lifecycle rotten

[2020-04-15 02:39] everpeace commented on #90025
As I mentioned in another issue, some preemption plugin implementation would prefer to be consistent with scheduling decisions because one of the main purposes of the plugin would make space for preemptor to be scheduled.   In case using multiple score functions to select optimal node selections,  the preemption plugin would want to use those `Score` functions also in victim node selection.  Of co

[2020-04-15 03:04] kunmin-db commented on #90150
/area provider/azure

[2020-04-15 03:16] 13217amasia opened #90158 "kubernetes-el7-x86_64/Packages are missing"
Packages are missing! 4/14/2020 10:17 PM US Central Time
**What happened**:
https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/Packages directory is empty???
**What you expected to happen**:
To see packages in there.
**How to reproduce it (as minimally and precisely as possible)**:
Open url https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/Packages in browser
**Anyth

[2020-04-15 03:25] gaorong opened #90159 "high availability of KMS plugin"
**What would you like to be added**:
a mechanism to provide high availability of KMS plugin.

**Why is this needed**:
Nowadays, apiserver communicate with KMS-plugin via a domain socket,  however, if the KMS-plugin has crashed accidentally, apiserver located at the same host can not failover automatically. The request of secret fall into this server will fail, although other KMS-plugins work corre

[2020-04-15 03:26] 13217amasia commented on #90158
Looks like there are *no* packages under https://packages.cloud.google.com/yum/repos/

[2020-04-15 03:26] gaorong commented on #90159
/sig auth

[2020-04-15 05:09] rishindrasingh commented on #90129
Can you help me how to remove this stains from master node and run my application only by master ip/hostname?

[2020-04-15 05:10] sureshkvl commented on #40244
I am also struck in this issue. How to overcome this?
My requirement is ,  i want both TCP & UDP in aws network load balancer

For TCP,

service.beta.kubernetes.io/aws-load-balancer-backend-protocol: "TCP"

it works.

For UDP,
 from the existing comments , no support for mix of TCP &UDP

can we create a separate ingress controller for  UDP alone ??

service.beta.kubernetes.io/aws-load-balancer-bac

[2020-04-15 06:06] wojtek-t opened #90160 "Adjust watch bookmark policy to match watch-cache size policy"
Currently, (best-effort) watch bookmarks are sent just right before the given watch is supposed to timeout:
https://github.com/kubernetes/kubernetes/blob/3b00d7dce51b3833815e2459e3a92ed917402170/staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go#L1243

In https://github.com/kubernetes/kubernetes/pull/90091 we're adjusting how the size of watch cache is determined and make it dynamic and mor

[2020-04-15 06:08] prameshj commented on #56903
Nodelocal DNSCache uses TCP for all upstream DNS queries(alleviation 3 that was mentioned in your previous comment) , in addition to skipping connection tracking for client pod to nodelocal DNS requests. It can be configured so that client pods continue to use the same DNS Server IP so the only change would be to deploy the daemonset. There are at least a couple of comments in this issue about clu

[2020-04-15 06:20] #83482 closed

[2020-04-15 06:20] #85388 closed

[2020-04-15 07:10] ScrapCodes commented on #89719
Found one more flake test, due to same reason. Checking for more.
[code]

[2020-04-15 07:28] brb commented on #56903
@zhan849 Alternativelly, you could use [Cilium's kube-proxy implementation](https://docs.cilium.io/en/v1.7/gettingstarted/kubeproxy-free/) which does not suffer from the conntrack races (it does not use netfilter/iptables).

[2020-04-15 07:52] rajattrt commented on #83471
Facing ditto the same issue. Also, on my all in one Kube setup, I pulled the docker image manually. It's still stuck.

[code]

[2020-04-15 08:15] ssasso commented on #89869
@uablrek after a deeper investigation, I found the issue in docker(d).
Even if started with `--bridge=none --iptables=false` I still have the docker chains&rules in iptables/nat for the default docker subnet: :-|
[code]
And, in fact, the issue is caused by:
[code]
(my source ip is _172.17.252.x_)

I am really sorry I wasted your time.

[2020-04-15 08:15] #89869 closed

[2020-04-15 09:03] mm4tt commented on #89961
SIG Scalability will run the tests by the end of the next week. Will have a more precise estimate today.

[2020-04-15 09:16] rdxmb commented on #23349
@AndrewSav thanks.

[2020-04-15 09:36] rivenhk commented on #40651
+1

[2020-04-15 09:57] enj commented on #71162
xref: https://github.com/kubernetes/enhancements/pull/1689

[2020-04-15 10:44] szuecs commented on #56903
@zhan849 I just link our configuration. We also run quite large scale kubernetes....
Anyways because of https://github.com/coredns/coredns/issues/2593 , you want to run https://github.com/coredns/coredns/releases/tag/v1.6.9 with concurrency limits.

[2020-04-15 10:45] towca opened #90168 "Add the option to log not-skipped events only to EventBroadcaster"
**What would you like to be added**:
EventBroadcaster should allow to log only those events which aren't skipped by the correlator and are actually passed to sinks.

**Why is this needed**:
`NewBroadcasterWithCorrelatorOptions()` allows creating a broadcaster with rate-limiting options. However, those options only get applied when recording to sink via `StartRecordingToSink()` and not when logging

[2020-04-15 10:47] zanetworker opened #90169 "Point Leaderelection to another cluster"
**What would you like to be added**:

A `leader-election-kubeconfig` flag for control-plane components (e.g., kube-controller-manager, cloud-controller-manager) to optionally practice leader-election on another cluster .

**Why is this needed**:

Its not always the case that kubernetes controlplane components and data-plane components reside in the same cluster, that can lead to some issues  for e

[2020-04-15 11:02] MaciekPytel commented on #90168
/sig api-machinery

[2020-04-15 11:47] mm4tt commented on #90047
Given that there are more issues with the NetLB tests than just this particular one, I think we should revert my PR that re-enabled them.
![mU1zXtE84AG](https://user-images.githubusercontent.com/2604887/79333934-abb98f80-7f1f-11ea-83e7-12c05dd35f3e.png)

Wojtek just sent a PR to do that - https://github.com/kubernetes/kubernetes/pull/90171

[2020-04-15 11:49] wojtek-t commented on #90047
But let's leave this issue open - we want to fix and re-enable it again.

[2020-04-15 12:18] gongguan commented on #90160
/cc

[2020-04-15 13:21] SerialVelocity commented on #89762
Aaaaand I just partially corrupted my ceph cluster by using kubectl 1.18.0...

@zhouya0 should this be closed now that the PR has made it into 1.18.1?

[2020-04-15 14:03] lx308033262 commented on #56903
i have the same problem when i scale my coredns deploy  to 2 replicas
but  not delay when i got 1 replicas

[2020-04-15 14:14] alculquicondor commented on #90025
How else would you simulate removing pods?

That's a good point. But we could also have a "preemption helpers" interface that can be passed as parameter to the preemption extension point. And that could contain all the functions that we only expect preemption plugins to need.

[2020-04-15 14:30] pythonzm commented on #74651
same issue

[2020-04-15 14:41] jburianek commented on #71367
I think this is fixed by https://github.com/kubernetes/kubernetes/pull/72787

[2020-04-15 14:50] rahulsharma2020 opened #90176 "Reuse existing Persistent Volume (GlusterFS)"
**What happened**:
Unable to bind a new PVC to an existing PV that already contains data from previous run (and was dynamically created using Gluster storage class).

**What you expected to happen**:
- Able bind a new PVC to an existing PV (that was created dynamically using Gluster storage class).
- Also have it documented.

**How to reproduce it (as minimally and precisely as possible)**:
- Inst

[2020-04-15 14:52] rahulsharma2020 commented on #90176
/sig storage

[2020-04-15 15:06] brianpursley commented on #89195
@castlemilk I looked into this and here is what I learned.

First, this happens for anything, so for example:

**role**
[code]
vs.

**role.rbac.authorization.k8s.io**
[code]

But it turns out in order to avoid the api-resources lookup, you need to specify a full GroupVersionKind name.

So in the case of role, it would be **role.v1.rbac.authorization.k8s.io** (notice the v1 added):

[code]

In your

[2020-04-15 15:26] daenney commented on #90129
This is documented in the Kubernetes documentation: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#control-plane-node-isolation

[code]

[2020-04-15 15:26] gnufied commented on #88683
So basically the reason this happened is because kubelet relies on size skew between `pv.spec.capacity` vs `pvc.status.capacity` to check if a PVC requires node expansion. If you delete the PVC before node expansion could happen, that information is lost. I assume this should be somewhat of a corner case.

[2020-04-15 15:30] cjellick commented on #89554
@liggitt any thoughts on this issue at all? We use this to test K3d and are blocked on releasing anything in the 1.18 line because of it.

[2020-04-15 15:32] liggitt commented on #89554
I don't have expertise in the image release pipeline, I'd suggest reaching out to @kubernetes/sig-release

[2020-04-15 15:42] alculquicondor opened #90177 "Scheduler not always taking into account init containers"
According to documentation https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#resources

We are respecting this in the NodeResourcesFit plugin: https://github.com/kubernetes/kubernetes/blob/495b0ddfaaec93fce726ffee7acabfb55d56327b/pkg/scheduler/framework/plugins/noderesources/fit.go#L104

But we are not respecting that in the cached node size https://github.com/kubernetes/kubernet

[2020-04-15 15:42] alculquicondor commented on #90177
/assign

[2020-04-15 15:53] uablrek commented on #72236
Me too. I don't think there is any way to avoid iptables. The "other way" to get traffic to ipvs seems to be with fw-marks, but they are set in iptables (and would be horrible to manage).

If the service ip range is `12.0.0.0/16` a rule may look like;
[code]

**Bad news**; this does not work for traffic from main netns on a node. Access to ClusterIPs hangs (not rejected).

It does the job of block

[2020-04-15 15:55] screwyy commented on #65500
Hello,

I also receive this error
[code]

[2020-04-15 16:22] rikatz commented on #90145
/remove-sig network
/sig cloud-provider

Also, it seems a pretty old Kubernetes Version, the kubernetes 1.12 support has been dropped since I think 3 or 6 months :)

[2020-04-15 16:30] yangkev commented on #89740
Ran into this issue too. Logs: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/89669/pull-kubernetes-e2e-gce/1250425205034061825/

From: #89669

[2020-04-15 16:46] lavalamp opened #90179 "idea: More memory efficient watch cache"
The current watch cache requires apiserver hold at least every item in a collection in memory (otherwise it cannot serve lists from the cache), and more (a history window). This is a large amount of memory consumed.

There's an alternative design that IIRC wasn't possible with etcd2 but should now be possible: catch-up watches.

Instead of serving a list from the cache,
* we'd serve it directly fr

[2020-04-15 16:52] lavalamp commented on #90179
A simpler, half measure for demonstrating whether or not this has potential would be to just stop serving lists out of cache, but keep the watch history window and leave the watch serving mechanism the same. For big collections, the history window will be vastly smaller than the number of objects in the collection.

[2020-04-15 16:53] lavalamp commented on #90058
This got me thinking about the watch cache in general. I wrote up some thoughts here: https://github.com/kubernetes/kubernetes/issues/90179

[2020-04-15 16:56] ajouve commented on #90145
@rikatz wow, yes I need to update it more often ...

[2020-04-15 17:11] cblecker commented on #56138
/reopen
Reopening as #89421 is being reverted in #90171

[2020-04-15 17:20] liggitt commented on #89811
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=stdin%20closed&test=inline%20execution%20and%20attach#5385de90e734d4ebef9a

[2020-04-15 17:58] spiffxp commented on #89892
Some questions:
- why is run_remote timing out?
- is it possible to alter the job so that whatever is hanging in run_remote times out, and it gets to cleanup before the pod is forcefully terminated due to the bootstrap-specified timeout?
- what is it that requires these tests be pinned to this specific gcp project vs. an arbitrary / boskos-managed gcp project?

[2020-04-15 18:00] Huang-Wei commented on #90177
@alculquicondor #89222 is already working on this.

[2020-04-15 18:02] soltysh commented on #90074
The plan I agreed on with Jordan is that I will revert https://github.com/kubernetes/kubernetes/pull/86173 since that seems to be the main culprit behind all these problems. I'll add a test ensuring this works as required. This will allow us to backport the fix to 1.18. For 1.19 I'll put together a proper fix supporting `--local` and `--dry-run` flags.

[2020-04-15 18:24] alculquicondor commented on #90177
/close
duplicate of #89092

[2020-04-15 18:24] #90177 closed

[2020-04-15 18:36] #90056 closed

[2020-04-15 18:38] wojtek-t commented on #90179
This is the perception that I'm trying to change, but so far spectacularly fail on that :)
So to clarify - yes, listing a single page from etcd is not extremely expensive. But imagine a 5k-node cluster with 150k pods (which is what we support) and a Kubelet that was restarted and has to initialize. It has to list all pods from its own node. So what it would have to do if we wouldn't have watch cac

[2020-04-15 18:38] wojtek-t commented on #90179
/sig scalability

[2020-04-15 18:45] wojtek-t commented on #90058
One thing to point out here - my motivation here isn't decreasing the memory footprint (though it will be one of the consequences). My motivation is maintainability and unnecessary complexity and magic constants...

[2020-04-15 18:46] andrewsykim commented on #90056
@ialidzhikov @cheftako can we open a new issue re: https://github.com/kubernetes/kubernetes/pull/90057#discussion_r408929994?

[2020-04-15 19:05] alculquicondor commented on #89092
/priority critical-urgent

[2020-04-15 19:06] lavalamp commented on #90058
Oh, you expect this will reduce memory usage? I expected it to increase memory usage, at least in big clusters with high-churn collections.

[2020-04-15 19:29] afrouzMashaykhi commented on #89689
@pytimer can you reproduce the issue with another pod ?

[2020-04-15 19:33] #84216 closed

[2020-04-15 19:50] wojtek-t commented on #90058
My expectations is that it will decrease for biggest and smallest cluster. The constants for things like endpoints or pods are huuuge now, e.g.:
- pods: maxInt(50*clusterSize, 1000) [5k nodes => 250.000]
- endpoints:  maxInt(10*clusterSize, 1000) [5k nodes => 50.000]

We may increase in things like nodes or leases:
- nodes: maxInt(5*clusterSize, 1000) [5k nodes => 25.000]

but that should be compe

[2020-04-15 20:20] lavalamp commented on #90058
Oh, I didn't realize we did it that way, I thought it was a flat value like etcd's watch window. So, yeah, it seems only super-high churn clusters would see an increase.

[2020-04-15 20:26] BenTheElder commented on #89554
@johnSchnake @dims

[2020-04-15 20:44] lmgnid commented on #57250
It has been over 2 years, cannot believe we still cannot set "Proxy protocol v2" directly without manual works with AWS GUI/CLI :-(

[2020-04-15 21:02] jnicholls commented on #57250
Yeah, it is a shame the AWS cloud provider implementation has not solved this by now.

I did create https://github.com/jnicholls/k8s-aws-nlb-proxy-protocol-operator to fill the gap as a simple Kubernetes Operator, allowing you to use the standard `service.beta.kubernetes.io/aws-load-balancer-proxy-protocol` annotation to turn on PROXYv2 support on an NLB.

I have to get back to it to clean it up,

[2020-04-15 21:10] ntsh999 commented on #42465
this is a much required feature!

[2020-04-15 21:27] lavalamp commented on #88967
I agree we shouldn't break the old thing until everyone is using the new thing. :)

[2020-04-15 21:37] ialidzhikov commented on #72757
/remove-lifecycle stale

[2020-04-15 21:45] cheftako opened #90185 "gce Instances::NodeAddresses assumes it is run from the relevant instance."
**What would you like to be added**:
Please see https://github.com/kubernetes/kubernetes/pull/90057#discussion_r408929994
Implement Instances::NodeAddresses so it doesn't ignore the node input.

**Why is this needed**:
The current implementation assumes it will be *only* run on the Kubelet.
That is no longer a valid assumption and in fact it the nearish future it will no longer be run on the Kubel

[2020-04-15 21:47] marosset commented on #63121
/close
As Patrick mentioned this now works in ContainerD and we have a separate issue tracking the a known corner case (#70189) which requires a Windows OS fix.
We have no plans to support this functionality with docker.

[2020-04-15 21:47] #63121 closed

[2020-04-15 21:50] msau42 commented on #84169
I don't think LIST_VOLUMES_PUBLISHED_NODES helps reduce API load. One possible scaling problem that was pointed out earlier is that we do a Get() on every VolumeAttachment every minute. We should change that to use an informer instead. This should greatly reduce API load.

[2020-04-15 21:52] marosset commented on #83739
/close
This issue was fixed by a recent Windows OS bugfix.
No further action is needed.

[2020-04-15 21:52] #83739 closed

[2020-04-15 21:53] andrewsykim commented on #90185
/sig cloud-provider
/area provider/gcp

[2020-04-15 21:56] msau42 commented on #84169
@yuga711 is going to work on a fix

[2020-04-15 22:08] harper1011 commented on #85764
@jianzzha @ipuustin  I read the discussion above, and try to understand your statement/conclusion:
If we just need to do CPU isolation in K8S, then we only need to set "--reserved-cpus" in kubelet
and configure "CPUAffinity" in "/etc/systemd/system.conf" should be enough?
No other parameter is needed?
"--system-reserved", "--system-reserved-cgroup", "--kube-reserved" and "--kube-reserved-cgroup"ca

[2020-04-15 22:26] tedyu commented on #86161
@davidbalazs
For #2, the active PR is #89155

[2020-04-15 22:26] tedyu commented on #86161
/remove-lifecycle rotten

[2020-04-15 22:46] julianvmodesto commented on #88905
@apelisse once https://github.com/kubernetes/kubernetes/pull/89542 merges, we need to promote the e2e test to conformance in a follow up PR, in accordance to this doc:

https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md

It seems like we meet the conformance test requirements.

Here's the process specifically, which includes sig-arch and a

[2020-04-15 23:49] pytimer commented on #89689
No, only `default-scheduler` . I think maybe scheduler use new event API, but kubectl use old event API.

[2020-04-16 00:38] tamilmani1989 opened #90186 "DualStack: incorrect service state after pod deletion"
**What happened**:
Service IP to pod ip mapping is not getting removed from ipvs rules after corresponding pod deletion.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Create a tcp ipv6 loadbalacer service with couple of pods. Then delete pod deployment alone. List ipvs rules using "sudo ipvsadm -Ln". Even after pod deletion, service ip maps to

[2020-04-16 00:40] tamilmani1989 commented on #90186
/cc @aramase

[2020-04-16 00:43] tamilmani1989 commented on #90186
/sig Network

[2020-04-16 01:10] Prasanna-sr commented on #57187
I would like to add another use case which is applicable when running at scale. when services have temporary issues, liveness checks kill all pods at once and make things worse and hard to recover. It would be helpful if we can make liveliness check dynamic, so we can add rules like liveliness check can kill a pod only when more than 50% of the deployment is in running state.

[2020-04-16 01:31] jianzhangbjz commented on #81878
Get the same issue when initing the `go.mod`. Must I replace all of the `k8s.io/kubernetes/test` with `k8s.io/test`? If yes, do we have a command to do it? So many files, I cannot do it one by one manually. Thanks!
[code]

[2020-04-16 01:31] jianzhangbjz commented on #81878
/remove-lifecycle rotten

[2020-04-16 01:31] jianzhangbjz commented on #81878
/reopen

[2020-04-16 01:35] liggitt commented on #89849
/close

fixed in https://github.com/kubernetes/kubernetes/pull/89857

[2020-04-16 01:36] #89849 closed

[2020-04-16 01:53] jianzhangbjz commented on #81878
After replace `k8s.io/kubernetes/` by using the command: ` grep -rl "k8s.io/kubernetes" . | xargs sed -i "" 's/k8s.io\/kubernetes/k8s.io/g'`, still get the `k8s.io/kubectl` errors below, how to fix it? Thanks!
[code]

[2020-04-16 02:09] pawanpraka1 commented on #84169
thanks @msau42. For now increasing the attach-detach-reconcile-sync-period to 300s helped me. but not sure how as I did not see any log which says that apiserver is throttling the request.

[2020-04-16 02:35] dpc commented on #82339
Can we just get a field so we can explicitly specify a container as a default one? Pretty pleaase.

[2020-04-16 02:58] regardfs opened #90188 "kube-proxy ipvs mode does not configure rs server as expect during rolling upgrade"
**What happened**:
1. Below is test yaml file which would create a nginx svc and a deployment with two pods:
[code]
2. Get the cluster ip of the nginx svc,  login one host in k8s cluster and run cmd as below:
in my env, 10.233.30.38 is the svc cluster ip
[code]
3. Watch ipvsadm status for this vs:
[code]
4. Then `kubectl edit deployment nginx-deployment` and change image to nginx:1.17 and do rolli

[2020-04-16 02:59] regardfs commented on #90188
/sig network
/area ipvs

[2020-04-16 03:30] gosoon opened #90192 "Changed the format of kubectl get but did not take effect"
### Motivation
I want modified `kubectl get event` output format.

### Implementation Details
**the first step**: find the resource output printers template in `k8s.io/kubernetes/pkg/printers/internalversion/printers.go`.

**the second step**: comment out the `type` field in `k8s.io/kubernetes/pkg/printers/internalversion/printers.go`.

[code]

**the third step**: compile kubernetes source code.

[2020-04-16 03:31] gosoon commented on #90192
/sig cli

[2020-04-16 03:32] gosoon commented on #90192
/area kubectl

[2020-04-16 03:44] #88339 closed

[2020-04-16 04:04] leowucn commented on #60987
And on 1.15.11

[2020-04-16 05:31] kevin-zhaoshuai commented on #88947
Confirm the same issue on Arm64. It is inside the virtual machines on arm64, with Ceph storage backend.
I deployed Kubernetes with 3 master nodes.
ETCD logs:
AFT_MESSAGE")
Apr 16 05:17:14 alpha-test-lb-jtp2q3j76kc7-master-1.novalocal podman[15253]: 2020-04-16 05:17:14.940586 I | raft: 8940b6ebfafe7df7 [term: 2869] received a MsgVote message with higher term from ddb225deef41ff5d [term: 2870]
Apr 1

[2020-04-16 06:15] lx308033262 commented on #56903
hi guys

I slove this problem

when your etcd container and coredns container not in one node,this may be happend

so you maybe want to do this
1.make sure which node  contain you etcd and coredns
[root@iZ2zed8sfcdxbw95lbf2omZ dns_test]# kubectl get pods -n kube-system -o wide
NAME                                              READY   STATUS    RESTARTS   AGE     IP              NODE

[2020-04-16 06:17] wojtek-t commented on #90058
Yeah - super high, and not the largest one - probably the medium ones (couple hundreds of nodes - that's my prediction).

[2020-04-16 06:28] fyery-chen opened #90194 "Pod is running normally, but there is no eth0 network interface in it."
**What happened**:
When I troubleshot the cluster network, I found that  I can't access one pod via its IP, so I went into this pod and run the following command `ifconfig`,
[code]
What surprised me is that there is no `eth0` network interface in it, but the pod is running normally.

**What you expected to happen**:
I can access this pod successfully and there should be an `eth0` network interface

[2020-04-16 06:31] Ark-kun commented on #34146
We have just spent so much time because of these issues!
It took days to track this to this silly PoC

[code]

[code]

[2020-04-16 06:44] #85203 closed

[2020-04-16 06:49] lalithsuresh opened #90195 "Pod deletion is very slow"
**What happened**:
I have a 500 node K8s cluster created using "kubeadm init". The master and worker kubelets are all configured with defaults. I create a single deployment with a large number of pods (~10K), and try to the delete the deployment. The deletes go through at a slow rate of roughly 10 per second.

**What you expected to happen**:
The deletes would go through a lot faster than 10 per s

[2020-04-16 06:55] KarthikNedunchezhiyan opened #90197 "all pods in a machine stucked in container creating state"
**What happened**:
We are running Kubernetes in the centos server. Suddenly all pods stuck at container creating state.

describe pod showed below error
`Warning  FailedCreatePodContainer  <invalid> (x26 over 5m23s)  kubelet, 10.47.5.30  unable to ensure pod container exists: failed to create container for [kubepods burstable podf69e3e3e-261e-4d0c-bc9a-272504a8fa33] : mkdir /sys/fs/cgroup/memory/k

[2020-04-16 07:01] KarthikNedunchezhiyan commented on #90197
/sig Node

[2020-04-16 07:05] aojea commented on #79499
/reopen

we have a new a new occurrence with libipmctl

[code]

[2020-04-16 07:14] tanjunchen commented on #79499
I have the same question.
[code]
This output is a bit annoying.

[code]

[code]

[2020-04-16 07:37] gaorong commented on #90159
@kubernetes/sig-auth-feature-requests  PTAL

[2020-04-16 07:45] #85403 closed

[2020-04-16 08:01] regardfs commented on #90188
I use `label` and `prestop lifecycle` as a workaround for this scenario, the modified yaml file as follows:
[code]
Both ab and curl run smoothly during upgrade or rollout restart, But I still do not know why there is  an everlasting `activeconn` in my previous test even the pod or real server had been deleted for a long term.
[code]

[2020-04-16 08:03] regardfs commented on #90188
/cc

[2020-04-16 08:08] BenTheElder commented on #79499
We can update the script to handle this issue and suppress the warning. The
previous PR is an example.

On Thu, Apr 16, 2020, 12:14 AM 行颠 <notifications@github.com> wrote:

[2020-04-16 08:09] mm4tt commented on #90047
The revert merged, but we didn't managed to get it in before the yesterday's run started. Today's run should be green.

[2020-04-16 08:17] BenTheElder commented on #87056
https://github.com/kubernetes/kubernetes/pull/87058#issuecomment-614491243

[2020-04-16 08:35] winkee01 opened #90202 "Start a stopped pod/container manually on local dev environment"
**What would you like to be added**:
The semantics and operation on starting a stopped pod/container.

**Why is this needed**:
restartPolicy includes 3 strategies Never, OnFailure and Always.

Although most of time it's recommended to let the kube to restart the pods for us, but since there is a **Never** semantics, which means kube won't do restart of the pod for us, but then how do we start it m

[2020-04-16 08:35] ScrapCodes commented on #89740
Ran into this issue too. Logs: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/1250673516785700865

From: https://github.com/kubernetes/kubernetes/pull/90165

[2020-04-16 08:41] winkee01 commented on #90202
/sig CLI
/area kubectl

[2020-04-16 09:00] wojtek-t commented on #90047
Yeah - but that doesn't mean we should close it later - we should fix and reenable this test. The issue should be opened until that test is reenabled.

[2020-04-16 09:03] hasheddan commented on #89892
@derekwaynecarr do you have any context on this? Specifically on the usage of a single GCP project?

[2020-04-16 09:05] mm4tt commented on #90047
That's clear, I didn't say anywhere that we should close it

[2020-04-16 09:46] bappr commented on #42465
Is there a way to get that information programmatically using the metrics api?

[2020-04-16 09:55] halradaideh commented on #42465
well it depend on the provisioner
for example Ceph have a long workaround to get the size of the image (PV)
i made an integration with Ceph/k8s/Prometheus here https://github.com/halradaideh/size_exporter

I think a DaemonSet replicaset, can have access to the mounted paths on each node, and simple check the size using a Linux utility like DH, then map them to the PVs..

[2020-04-16 10:20] #83481 closed

[2020-04-16 10:23] klueska commented on #85093
/close

Completed

[2020-04-16 10:23] #85093 closed

[2020-04-16 10:25] k-wiatrzyk opened #90204 "NUMA-aware scheduling (integration with Topology Manager)"
This is a discussion thread followed from Topology Manager KEP's PR #1674:
https://github.com/kubernetes/enhancements/pull/1674

**Description of a problem:**
A scheduler is not NUMA aware and can schedule a pod to the node where the topology requirement of resources won't be satisfied and a pod will result in `Terminated` state.

[2020-04-16 10:48] #78068 closed

[2020-04-16 11:01] k-wiatrzyk commented on #90204
Yes, you're right. NFD by default checks value per 60 seconds but this is configurable.
Actually approach with NFD is rather not preferable (it is an example for a way to mitigate this problem but maybe not the best way to solve the problem in a long-term way) and we are focused now to prepare some possible approaches (for scheduling) and to discuss them with the community.

This is still to consi

[2020-04-16 11:11] mm4tt commented on #89961
@tosi3k from SIG Scalability will run the tests

[2020-04-16 11:18] minherz commented on #50689
why this is closed? the duplicated issue was not implemented, meaning the problem is still there.
it is still impossible to run daemonset with [pods that simulate jobs](https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#pod-template).
The duplicated issue should be #64623

[2020-04-16 11:30] fromanirh commented on #90204
/sig node

[2020-04-16 11:34] tosi3k commented on #89961
Follow-up: I will run the tests tomorrow.

[2020-04-16 11:42] k-wiatrzyk commented on #90204
/remove-triage support

[2020-04-16 11:43] fromanirh commented on #90204
Thanks, makes sense and really looking forward to hear your proposals. I've been researching and working in this area (together with @cynepco3hahue @vpickard @slintes and others), and we'd be happy to share what we tried and what we discarded, and why.

For example, I was researching a PoC to exfiltrate data from kubelet reading the checkpoint files, but we quickly (re)discovered this approach del

[2020-04-16 11:49] #85280 closed

[2020-04-16 11:49] #85347 closed

[2020-04-16 11:58] humblec commented on #70505
/assign @humblec

[2020-04-16 11:58] chief93 commented on #90083
I have found other issues, which are belongs to this one:
1. [https://github.com/kinvolk/kube-spawn/issues/14](https://github.com/kinvolk/kube-spawn/issues/14)
2. [https://github.com/kubernetes/kubernetes/issues/24027](https://github.com/kubernetes/kubernetes/issues/24027)

And seems like there were tries to solve this, but, obviously, unsuccessfull:
1. [https://github.com/kubernetes/kubernetes/pu

[2020-04-16 12:05] twisted-sres commented on #89874
Can I take this up as my first issue? Any pointers would be helpful.

[2020-04-16 12:08] MikeSpreitzer commented on #89874
@twisted-sres : yes.
@liggitt : your last remark looks like a complete rejection of this issue.  Is there something you think can be done here?

[2020-04-16 12:23] regardfs commented on #90188
Finally, I thought I have figured out why there is an everlasting `1 activeconn`  if  `while true;do curl xxx;sleep 0.2;end` cmd never quit;
I use `conntrack -E |grep -E "10.233.78.70|10.233.87.42"` to get conntrack event for such rs hosts(upgraded pods):  and found a new tcp conntrack entry of sync_send among lots of destroy logs:
[code]
then use `tcpdump  -i any  -n -ttt|grep 10.233.87.42`, and

[2020-04-16 12:36] helios741 opened #90205 "kube-apiserver rolls back from 1.16 to 1.8 with `Error from server: no kind "Deployment" is registered for version "apps/v1"`"
I know that upgrading from 1.8 to 1.16 is very risky.

Because the `extensions/v1beta1` apiVersion  we used was deprecated in 1.16, We reused the deprecated API by specifying the --runtime-config parameter of the API server, as follows

[code]

I upgraded an environment from 1.8 to 1.16 without problems,but I want to roll back the 1.16 environment back to 1.8, the following problem appears:
[code]

[2020-04-16 12:37] helios741 commented on #90205
/sig api-machinery
/area apiserver

[2020-04-16 12:48] dims commented on #89961
@tosi3k @mm4tt @serathius Let's please use https://github.com/kubernetes/kubernetes/pull/90183 for the tests.

[2020-04-16 13:07] brianpursley commented on #89360
/assign

[2020-04-16 13:11] jianzzha commented on #85764
@harper1011 yes that's right.

[2020-04-16 13:34] dims opened #90208 "Fix staticcheck failures"
from: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/90183/pull-kubernetes-verify/1250761092716564483
[code]

/good-first-issue

[2020-04-16 13:36] liggitt commented on #90205
Rollback of more than 1 minor release is not supported. 1.16 persists data in etcd in formats that are only guaranteed to be readable by 1.15+ API servers.

Restoring from an etcd backup will lose any changes made to that data, including records of things that correspond to items that live outside the cluster, like persistentvolumes.

/close

[2020-04-16 13:36] #90205 closed

[2020-04-16 13:36] jdomag commented on #81723
Same here, pod just died and the only thing i can see in the event log is:
"Killing container with id docker://dnsmasq:Need to kill Pod"

K8s 1.11

[2020-04-16 13:37] liggitt commented on #90192
kubectl get requests table output from the API server. You will need to rebuild the API server for the printing change to take effect.

/close

[2020-04-16 13:37] #90192 closed

[2020-04-16 13:47] liggitt commented on #90151
I don't actually think the PDB is relevant... deployment rollout doesn't use eviction to remove old pods. Your deployment rollout strategy indicates it must bring up a new pod before it can kill the old one, but your anti-affinity rules and cluster size don't allow that.

Your options are:
1. relax your anti-affinity to be a preference rather than a requirement (preferredDuringSchedulingIgnoredDur

[2020-04-16 13:49] liggitt commented on #90202
In that case, deleting and recreating the pod is what would be expected.

/close

[2020-04-16 13:49] #90202 closed

[2020-04-16 13:52] timothysc commented on #90136
This only depends on whether those components depends on the upstream feature gates, do you have a concrete example of where you need to expose upstream plumbing to the external extension?

[2020-04-16 13:58] dhrp opened #90210 "Ingress with working regular expression fails validation"
**What happened**:
My (valid) regular expression is being refused.
`The Ingress "myingress" is invalid: spec.rules[0].http.paths[1].path: Invalid value: "/go(?:/|$)(.*)": must be a valid regex`

Specifically, I'm trying to (?:re), a non-capturing group. But I've found other regular expressions, such as a lookahead or lookbehind to show similar behavior.

Here is an example ingress spec, which incl

[2020-04-16 14:09] winkee01 commented on #90202
for a single pod( I am in test environment), if I delete it all state is gone, why don't allow me to make some changes to the container and start it up again?
I encounter this problem when I try to fix a NTP time issue and it ask me to restart the container.

well, why would it be ok for kube to restart the pod but not me?  for single pod, it's reasonable for me to manually start the pod, with the

[2020-04-16 14:17] gavinfish commented on #90208
Duplicated with #81657 🤔 ?

[2020-04-16 14:37] gavinfish commented on #90136
For example,  the `CSIMigration` feature gate is exposed to scheduler, registry, volume etc. https://github.com/kubernetes/kubernetes/blob/cf1b72e4571b69995ce65a659a9b67c867b1d1b0/pkg/features/kube_features.go#L349-L354

Details:
[code]

[2020-04-16 14:41] jasimmons opened #90211 "agnhost/netexec test image supports HTTPS"
**What would you like to be added**:

The `agnhost` image used in E2E tests is used for testing a wide variety of OS-agnostic features. One of these is `netexec`, which runs an HTTP server with various endpoints that can be used to validate things like request/response.

It would be useful to allow for `agnhost`'s `netexec` functionality to also support HTTPS so all of that logic can be tested for

[2020-04-16 14:48] brianpursley commented on #89360
I thought I found a way to fix this, but I was wrong :disappointed:

/unassign

[2020-04-16 14:54] brianpursley commented on #89360
/sig api-machinery

[2020-04-16 15:09] brianpursley commented on #89360
For anyone else who works on this, here is what I tried:

Link to the relevant place in the code where the querystring is lost:
https://github.com/brianpursley/kubernetes/blob/25ebb388f033d17a35c8bdec8b8224406e856215/staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go#L263

My attempted change:
[code]

This worked when I tested it locally and my unit test passed, but it broke A LOT of t

[2020-04-16 15:23] everpeace commented on #90025
Sorry,  I understood it can't.  But, in preemption plugin,  in most cases,  a plugin would manipulate NodeInfo snapshot so many times.  So, we better document explicitly that a plugin needs to __clone__ NodeInfo snapshot first, mutate to it (remove victim candidates or add preemptor) and passed it to `Filter/Score` function when dry-run.

[2020-04-16 15:33] alculquicondor commented on #90136
Please remove out-of-tree from the issue title. We are talking about k8s components here that might start moving things to staging.

[2020-04-16 15:39] #89719 closed

[2020-04-16 16:02] q843922994 commented on #89651
Flag --replicas has been deprecated, has no effect and will be removed in the future.
pod/nginx created

root@kubernetes-master:~# kubectl run nginx --image=nginx --replicas=2 --port=80
Flag --replicas has been deprecated, has no effect and will be removed in the future.
pod/nginx created

[2020-04-16 16:10] neolit123 commented on #89651
see:
https://github.com/kubernetes/kubernetes/pull/87077

this is part of 118:
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md#deprecation-4

/close

[2020-04-16 16:11] #89651 closed

[2020-04-16 16:56] seh commented on #86784
/remove-lifecycle stale

[2020-04-16 17:05] jpbetz opened #90217 "Webhook with FailurePolicy: Ignore that applies to controller manager leases breaks clusters"
**What happened**:

Create a webhook with:
- `FailurePolicy: Ignore`
- match rule that matches all CREATE and UPDATE operation
- a service that times out

[code]

The `timeout` field will default `10s` for `v1` admission webhooks (1.16+) and `30s` for pre-GA webhooks (https://github.com/kubernetes/kubernetes/pull/79549).

Register the webhook in a cluster with controller-manager configured with th

[2020-04-16 17:39] jpbetz commented on #90217
@cheftako reminded me that when mutating webhook are involved we need to account for the total latencies of all the webhooks. I.e. sum of latencies of the mutating webhooks + the longest running validation webhook.

[2020-04-16 17:42] alexzimmer96 commented on #90076
AFAIK there is no explicit way of binding the StatefulSet pod-identity to a single node. But there may be some kind of workaround:

You could use a [nodeSelector](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#never-co-located-in-the-same-node) to get the database-pods scheduled only defined (labeled) nodes. If you combine this with a [podAntiAffinity](https://kubernetes.io/doc

[2020-04-16 17:48] jpbetz commented on #90217
Would a short term mitigation of increasing the controller-manager lease renewal to, say, 30s be reasonable?

[2020-04-16 17:57] kiuka commented on #90076
@alexzimmer96 thanks for your answer, as I was reading more and more I also realized probably this is the situation. I think it would be something nice to have since not all the applications are ready to be self healing and stateless.

I close this since its not a bug then, thank you!

[2020-04-16 17:57] #90076 closed

[2020-04-16 17:59] rikatz commented on #88986
@372046933 is this related? https://github.com/kubernetes/kubernetes/issues/90042

This might be helpful, as your case is 'different' but it seems there are some other kernel issues happening around there

[2020-04-16 18:10] manikanta-kondeti commented on #89898
any update on this? we have been facing similar issues since few weeks

[2020-04-16 18:42] kleimkuhler commented on #90151
@liggitt Okay that makes sense. Thanks for the explanation.

The last thing about this is that I was under the impression it *would* allow a pod to be disrupted because of the documentation on [Disruptions](https://kubernetes.io/docs/concepts/workloads/pods/disruptions/). It explains:

Does this not count as a restart caused by updating a deployment's pod template?

[2020-04-16 18:54] liggitt commented on #90151
The PDB documentation is confusing:

implies that pods being down as part of a deployment rollout are governed by PDB, but later in that same section:

so pods that are down because of deployment rollout count against the PDB "unavailable pods" budget, but PDB does not prevent the deployer controller from doing anything to pods during rollout

[2020-04-16 19:03] kleimkuhler commented on #90151
@liggitt Thanks for the clarification. I'm reading more about about this in the updating deployments section, and this is definitely what I was looking for originally. Thanks!

[2020-04-16 19:03] #90151 closed

[2020-04-16 19:25] vllry commented on #89263
How much sophistication do we actually need here?

IMO a preStop sleep would still be a big improvement, but definitely not ideal. I'd be much happier with the assurance that an overly slow drain wouldn't drop connections. There are many ways a drain could take unexpectedly long, e.g. LB API rate limiting or network control plane failures.

I'm not sure if a lifecycle hook would be the right solut

[2020-04-16 19:30] caseydavenport commented on #84230
Based on earlier conversation, we don't have a repro and it's not clear that this is an issue in Kubernetes itself, or something in a related software.

[2020-04-16 19:36] apelisse commented on #66450
The status when running `kubectl apply` is decided based on whether a patch is sent, it doesn't mean that the patch is doing anything (sometimes kubectl doesn't realize or can't know that the patch does nothing). `kubectl diff` will send the patch, but if the patch does nothing, then nothing is changed.

[2020-04-16 19:36] caseydavenport commented on #86889
@hbagdi I think the next step is to identify where the traffic is getting dropped - either due to something like a routing issue like RPF checking / martian source, or due to iptables rules or similar on the host, or something else. The title suggests you think it is kube-proxy iptables rules? If you can point out which ones are misbehaving then that would help tremendously.

Without that, from wh

[2020-04-16 19:51] cheftako commented on #90217
Not sure. Failure to renew lease triggers a process death to prevent concurrent changes from controllers. If we extend the lease timeout then we are increasing any window which might exist for such conflicting changes. I would want to do the math to understand the risk we were taking on.

[2020-04-16 19:54] logicalhan commented on #89788
I did a quick grep across the code base, and it looks like there are ~20ish files named `metrics.go` which also live in a directory called `metrics`.

Possibly we can add a sub OWNERS files in those existing directories so that we can approve/review/auto-label changes for those files, if people are okay with it. That may be a decent stop-gap but it won't be comprehensive.

[2020-04-16 20:22] fedebongio commented on #89994
/cc @cheftako

[2020-04-16 20:23] rikatz commented on #90194
Hi,

Kubernetes is in v1.18, Calico is in 3.12. You've a pretty old environment and the behavior might have changed a lot since then.

Please update your environment ASAP and then reopen the issue if this is still a thing.

Thank you!!

/close

[2020-04-16 20:23] #90194 closed

[2020-04-16 20:24] fedebongio commented on #90102
/assign @jennybuckley
(probably the scheme is assembled incorrectly)

[2020-04-16 20:25] fedebongio commented on #90128
/assign @sttts
@supermqB since you already found the potential place to fix, would you like to send a PR linked to this issue? Thanks!

[2020-04-16 20:26] NicolasT commented on #81725
/remove-lifecycle rotten

[2020-04-16 20:26] fedebongio commented on #90134
/assign @MikeSpreitzer
Mike would you be interested in taking a look?

[2020-04-16 20:28] fedebongio commented on #90168
/help-wanted

[2020-04-16 20:28] fedebongio commented on #90168
/label help-wanted

[2020-04-16 20:28] fedebongio commented on #90168
/help

[2020-04-16 20:29] tedyu opened #90221 "Incorrect method name in log of remote_runtime.go"
**What happened**:
In pkg/kubelet/remote/remote_runtime.go, there is mismatch between method name and the method in logs. e.g. RemoteRuntimeService#Attach has the following:
[code]
**What you expected to happen**:
The method names should be consistent with what appear in the logs.

/sig node

[2020-04-16 20:49] andrewsykim commented on #89358
/area ipvs

[2020-04-16 20:52] bartekzurawski commented on #90168
Hello! Can I take this one and try work on it?

[2020-04-16 21:05] rikatz commented on #90210
/assign @robscott
/remove-triage unresolved

[2020-04-16 21:06] rikatz commented on #90188
/assign @andrewsykim

[2020-04-16 21:06] 13217amasia commented on #90158
Update 4/16/2020 4:05 US Central Time:
Packages appeared at https://packages.cloud.google.com/yum/repos/
Still nothing listed at https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/Packages

[2020-04-16 21:07] rikatz commented on #90186
/assign @aramase

[2020-04-16 21:07] rikatz commented on #90186
/remove-triage unresolved

[2020-04-16 21:09] rikatz commented on #90133
/assign @aojea

[2020-04-16 21:13] rikatz commented on #90108
/assign @jayunit100

[2020-04-16 21:15] rikatz commented on #90101
/assign @aojea

[2020-04-16 21:17] rikatz commented on #90083
/assign @caseydavenport

[2020-04-16 21:18] rikatz commented on #90072
/assign @bboreham

[2020-04-16 21:19] rikatz commented on #90043
/assign @bowei

[2020-04-16 21:20] rikatz commented on #90042
/assign @uablrek

[2020-04-16 21:21] rikatz commented on #89917
/assign @bowei

[2020-04-16 21:27] rikatz commented on #89392
/assign @uablrek

[2020-04-16 21:35] thockin commented on #87976
I'm going to close this out, for now.  It's still findable thru search.  If someone has more details to add, please re-open this.

[2020-04-16 21:35] #87976 closed

[2020-04-16 21:36] thockin commented on #85741
ping for update or close?

[2020-04-16 21:36] thockin commented on #85082
I'm going to close this out, for now.  It's still findable thru search.  If someone has more details to add, please re-open this.

[2020-04-16 21:36] #85082 closed

[2020-04-16 21:36] thockin commented on #84230
I'm going to close this out, for now.  It's still findable thru search.  If someone has more details to add, please re-open this.

[2020-04-16 21:36] #84230 closed

[2020-04-16 21:53] aojea commented on #90101
You are right, this was considered as a bug in single IP family nodes https://github.com/kubernetes/kubernetes/issues/66766 and fixed on with the commit you are referencing.

It seems to me that this should be allowed with dual-stack, that is available since v1.17 but it needs to enable the feature-gates in all the components ,

 @wuchuxiong have you dual-stack enabled in all the cluster component

[2020-04-16 22:31] aojea commented on #90133
@eddytruyen Thanks for the detailed report but I'm afraid that is impossible from the information provided to understand if there is a bug in Kubernetes because, as your describing in the description, this benchmark can be affected for tons of components that are not part of Kubernetes itself.

Also, it seems that you are doing your tests in single node environments, kubernetes has to run all its

[2020-04-16 22:35] raiaan12 commented on #90128
Would it be possible for you to share your cr.yaml file?

[2020-04-16 22:35] zerkms commented on #66450
@apelisse now it sounds like a famous philosophical experiment: https://en.wikipedia.org/wiki/If_a_tree_falls_in_a_forest

"If diff decided to send a PATCH but nobody seen that patch change anything - did it happen or not"

[2020-04-16 22:39] apelisse commented on #66450
:D if `diff` returns nothing, then nothing happened ;-)

[2020-04-16 22:53] pjferrell commented on #89263
Would it be possible to leverage finalizers and a small change to kubelet termination behavior?

Suggested flow:

1. Pod is created and scheduled to a node
2. Endpoints controller determines that it is ready and adds itself to the pod finalizers
3. Pod deletion occurs (deletionTimestamp is set)
4. Kubelet observes Pod deletion but requeues until finalizers list is empty (or only containing standar

[2020-04-16 23:13] thockin commented on #90131
There is no way to express this today.  I would like to understand the use-case before suggesting possible models.  I don't see an "easy" way of getting this, off the top of my head.

[2020-04-16 23:20] thockin commented on #89925
GKE implements service LBs in terms of Network LB (https://cloud.google.com/load-balancing/docs/network) which does not have a timeout feature.  Sorry.  Can you say more about what you are trying to do with it?

[2020-04-16 23:27] thockin commented on #89898
This is the first such report I have seen.  There's nothing obvious about why this would happen.

It's possible kubelet is too busy and starved for CPU and the probe happened to be thing that got thrashed.  How many pods are on this machine?  How busy is it?

It's possible the node itself is thrashing or something and OOM behavior is weird.  Does dmesg show any OOMs?

It's possible some other fail

[2020-04-16 23:44] MikeSpreitzer commented on #90134
OK, I will take a look.

[2020-04-16 23:45] pjh commented on #88974
The GCE-Windows jobs on sig-release-master-informing are no longer failing entirely, but there is some flakiness:
- https://testgrid.k8s.io/sig-release-master-informing#gce-windows-1909-master&width=20
- https://testgrid.k8s.io/sig-release-master-informing#gce-windows-2019-master&width=20

At a quick glance all of the flakes are due to test timeouts, which has been a common problem for Windows tes

[2020-04-16 23:49] pjh opened #90224 "GCE Windows e2e tests: artifacts are not being collected from Windows nodes"
Example: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-1909/1250897317888790529 has artifacts from the master and the two Linux worker nodes, but not the three Windows worker nodes. The artifacts should include log files and other critical information for debugging failures.

This has been broken for at least [one month](https://github.com/kubernetes/kubernetes

[2020-04-16 23:50] pjh commented on #90224
/assign

cc @YangLu1031

[2020-04-16 23:50] pjh commented on #90224
/sig windows

[2020-04-17 00:10] robscott commented on #90210
Hey @drhp, thanks for the detailed bug report! As you can see in the validation logic you've linked to, we're already in the process of removing it (targeted for 1.19). As it turns out, there are a lot of different variations on regex, and the one we were using here did not agree with a number of seemingly valid use cases, including yours.

Because this is an API compatibility issue, we can't actu

[2020-04-17 00:18] julianvmodesto commented on #90017
/assign

[2020-04-17 00:25] pjh commented on #90224
Oh, this is only happening for our 1909 test jobs, and not every run. Here's [one run](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-1909/1250866865962487812) from today that has the expected artifacts. Here's a [run](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-1909/1250897317888790529) where the only artifacts for the Win

[2020-04-17 01:01] #27744 closed

[2020-04-17 01:29] brianpursley commented on #90017
@julianvmodesto Sorry I didn't see you /assigned.  I just did a small PR to add a validation check.  I just closed it, but feel free to use whatever you want from that, or not.

[2020-04-17 01:31] julianvmodesto commented on #90017
Oh wait please go ahead with your change! I haven’t started working on this

[2020-04-17 01:48] 372046933 commented on #88986
@rikatz In my scenarios, two pods run tf-serving. I found that they used 25% CPU when idle(no requests are sent to the pod). `perf` shows that there are a lot of context switches. I changed serving's batching parameter and the CPU utilization falls to 5%. Delay in of requests by ClusterIP also falls dramatically. Maybe it is due to tf-serving? I cannot give a conclusion now. I will check TF-servin

[2020-04-17 02:03] ydcool opened #90228 "kube-proxy Error: Failed to delete stale service IP"
**What happened**:
kube-proxy logs error msg "Failed to delete stale service IP"

![mark](http://cdn.ydcool.me/mpic/20200417/z9cdRagNGrhC.png?imageslim)

**What you expected to happen**:
No error logs

**How to reproduce it (as minimally and precisely as possible)**:
Not clear for now

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

- Clo

[2020-04-17 02:07] ydcool commented on #90228
/sig network

[2020-04-17 02:11] OPSTime commented on #86864
/remove-lifecycle stale

[2020-04-17 02:11] spiffxp commented on #89892
What we have done:
- Found equivalent coverage
  - Assumed that k8s-jkns-ci-node-e2e has network issues preventing ssh to nodes under test, thus cause all jobs that use it to fail
  - Determined that presubmit jobs running in k8s-jkns-pr-node-e2e run the same tests, and are green
  - Decided presubmit coverage was enough to unblock patch releases

Mitigation:
- Pinned two jobs to a spare GCP proje

[2020-04-17 02:14] spiffxp commented on #89892
While looking closer at node e2e jobs we noticed they were using years-old COS images

Bumped to latest LTS COS images https://github.com/kubernetes/test-infra/pull/17245

[2020-04-17 02:18] spiffxp commented on #89740
/remove-priority important-soon
/priority critical-urgent
http://storage.googleapis.com/k8s-metrics/flakes-latest.json this is now the top flake affecting pull-kubernetes-e2e-gce

[2020-04-17 02:59] tanjunchen commented on #74352
There are some refrence to 'k8s.io/kubernetes/pkg' in 'test/e2e/framework'  now , such as :

[code]

**The draft of moving e2eframework into Staging** , please see https://docs.google.com/document/d/1QgYEmdrdIirRCGBi2j55yb88WCZOGBqOJw7xj3s05PI/edit# , **all feedback will be welcomed** !

[2020-04-17 03:04] angao commented on #90025
/cc

[2020-04-17 03:09] brianpursley commented on #90017
Ok, I reopened the PR.  Feel free to review and comment.

[2020-04-17 03:10] moweiraul commented on #89520
upgrade your system kernel to 4.xx edition

[2020-04-17 03:24] neolit123 commented on #86864
please try the kubeadm 1.17 binary. i think this was fixed with https://github.com/kubernetes/kubernetes/pull/85091

[2020-04-17 03:41] biello commented on #87227
/close

[2020-04-17 03:41] #87227 closed

[2020-04-17 03:42] helios741 commented on #90205
@liggitt
Is there any way to convert the data (the format supported by 1.16 is converted to the one supported by 1.8)?

[2020-04-17 05:47] Sudhar287 commented on #90208
Can I please work on this issue? :)

[2020-04-17 05:50] mmpei commented on #87070
/remove-lifecycle stale

[2020-04-17 07:22] LilyaBu commented on #85887
I have same issue. But I created separate slice. Ans move kubelet and docker and containerd there. And my question is - why kubelet checks existing of /sys/fs/cgroup/*/ in system.slice, but not in created slice?

[2020-04-17 09:04] mm4tt commented on #90047
Ok, the tests have been disabled and they don't fail the correctness tests anymore.

When it comes to fixing this particular test. I took a cursory glance and I think it is fixable. We should change the code to not expect public IPs on the nodes. And then when poking over http we should do it not from the test but proxy via some container. There is already a code written for that, see https://gith

[2020-04-17 09:22] SimonCqk commented on #90204
Nice proposal!
If the newly introduced `topology policy` field will be embedded directly into `Pod.Spec`, should it be a generic policy but not only related with `NUMA` ?  The `single-nuwa-node` policy looks weird.

As for GPU resources, pods on the same node can be achieved with refined resource allocation through topology strategies, e.g: inter-pods communications by `nvlink` with topology polic

[2020-04-17 09:52] uablrek opened #90236 "Connect to [::1]:nodeport does not work"
**What happened**:

Access via `[::1]:nodeport` does not work in ipv6-only or dual-stack clusters.

**What you expected to happen**:

Access should work or the limitation should be documented.

**How to reproduce it (as minimally and precisely as possible)**:

* Bring up a ipv6-only or dual-stack cluster, proxy-mode=iptables or ipvs
* Define a service of type:nodePort
* Try to access [::1]:nodepor

[2020-04-17 09:53] uablrek commented on #90236
/sig network
/area ipv6

[2020-04-17 10:04] arthur25000 commented on #79224
+1 reopne

[2020-04-17 10:04] uablrek commented on #90236
Sorry for the "combo" issue with 2 problems. The reason is I think they needs to be resolved together.

[2020-04-17 10:10] #85191 closed

[2020-04-17 10:13] uablrek commented on #72236
If external-ips also are replaces by entries in the local table and not assigned to `kube-ipvs0` should solve https://github.com/kubernetes/kubernetes/issues/79783

[2020-04-17 10:14] uablrek commented on #79783
Please see; https://github.com/kubernetes/kubernetes/issues/72236#issuecomment-614122808

[2020-04-17 10:47] arjunrn opened #90237 "Pod staying in Terminating state because mounted EBS volumes are not cleaned up correctly"
**What happened**:
Occasionally when pods with EBS backed PVC are deleted the mount paths cannot be cleaned by kubelet. Following is the sample of the logs:
[code]

**What you expected to happen**:
The mount directory is empty and the pod deletion cleanup proceeds normally.

**How to reproduce it (as minimally and precisely as possible)**:
Unknown

**Anything else we need to know?**:

**Environmen

[2020-04-17 11:27] stuart-warren commented on #73249
I got around this with older version of kubeadm:

[code]

outputs `--register-with-taints=node-role.kubernetes.io/master="":NoSchedule` in `/var/lib/kubelet/kubeadm-flags.env`

[2020-04-17 11:57] rikatz commented on #90228
/assign @rikatz
Hey @ydcool tks for raising this.

To continue debugging, I would ask you to paste (not screenshot please!) the whole line of the error starting with the 'failed to delete stale service'.

Also, as a suggestion kubermetes 1.16 is in the .9 minor version, I would like to strongly recommend updating this to the latest minor version and make the test again. I've taken a look into chan

[2020-04-17 11:57] rikatz commented on #90186
/triage unresolved

[2020-04-17 12:00] conrallendale commented on #28154
Was this resolved? I have the same problema today with GKE. Version:

`Server Version: version.Info{Major:"1", Minor:"14+", GitVersion:"v1.14.10-gke.27", GitCommit:"145f9e21a4515947d6fb10819e5a336aff1b6959", GitTreeState:"clean", BuildDate:"2020-02-21T18:01:40Z", GoVersion:"go1.12.12b4", Compiler:"gc", Platform:"linux/amd64"}`

One node keep alternating between Ready and NotReady and no applicatio

[2020-04-17 12:03] petr-motejlek commented on #81089
You know, I can honestly understand why tools such as `ssh-keygen` and even `postgres` try to safe-guard all the people who are either too undereducated or made a mistake and have unprotected keys on SHARED machines.

But let's face it ... we are in 2020. You should be able to tell the tools (including postgres) to ignore the fact that some file has world-readable permissions. Here's an entire thr

[2020-04-17 12:12] #77310 closed

[2020-04-17 12:20] kiuka opened #90238 "ReadinessProbe slowly marks the pod unready"
**What happened**:
Created a deployment with 2 nginx replicas, which has intense rediness probe. The probe when the pod is running is working well, I can see the requests in the log.

When I kill one of the nodes which has one of the pods I expect the service will route the traffic shortly (after the readinessprobe fails) to one node, but it takes way more longer than it should (concrete numbers b

[2020-04-17 12:28] gopukrishnantec opened #90239 "Unable to create csr as per documentation"
Refer: https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/#create-a-certificate-signing-request-object-to-send-to-the-kubernetes-api

Doc says :
[code]
master $ kubectl create -f hari.yaml
Error from server (BadRequest): error when creating "hari.yaml": CertificateSigningRequest in version "v1beta1" cannot be handled as a CertificateSigningRequest: v1beta1.CertificateSigningRequest.Spe

[2020-04-17 12:37] gopukrishnantec opened #90240 "csr generation not working as per doc"
Refer: https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/#create-a-certificate-signing-request-object-to-send-to-the-kubernetes-api

Doc says :
[code]
master $ kubectl create -f hari.yaml
Error from server (BadRequest): error when creating "hari.yaml": CertificateSigningRequest in version "v1beta1" cannot be handled as a CertificateSigningRequest: v1beta1.CertificateSigningRequest.Spe

[2020-04-17 12:41] gopukrishnantec commented on #90239
/sig docs

[2020-04-17 12:46] jayunit100 commented on #90108
Hey, looking into a reproducer for this.

The underlying bug here, from what i can tell, is that we're hypothesizing that the readiness checks are running with higher frequency then expected.

[2020-04-17 13:12] 1wpro2 commented on #89360
@brianpursley, I had looked in the same file, however, I think this is still within `kubectl proxy`, while the ultimate issue lies in apiserver.

Have you been able to run your own apiserver, to replace the inbuilt from minikube? That was where the last time I have stopped if I remember correctly.

[2020-04-17 13:55] liggitt commented on #68578
I'm not convinced we can/should start disallowing negative indices.

If we were generating negative-index patches, I would definitely agree we should stop. If we have accepted them for O(years), what is the reason to stop now?

[2020-04-17 14:35] cmluciano commented on #90210
/assign

[2020-04-17 14:35] mcronce commented on #60987
I'm seeing this on 1.18.0 using the cephfs CSI plugin as well as pods using `cephfs` volumes directly in the manifest (e.g. not through a PV/PVC), although not all of my pods use persistent storage of some sort.  To that point, not all of the orphaned pod directories in /var/lib/kubelet/pods contain a `~csi` or `~cephfs` directory under volumes; some of them only have a `~secret` and/or `~configma

[2020-04-17 14:44] liggitt commented on #90240
Note that the doc is a shell command that generates the file with an embedded base-64 encoded request:

[code]

That is equivalent to:

[code]

[2020-04-17 14:44] #90240 closed

[2020-04-17 15:15] #85418 closed

[2020-04-17 15:24] msau42 commented on #60987
@mcronce did you see this after a node reboot? Are you able to provide kubelet logs? The orphaned pod messages indicate that the volume plugin was unable to cleanup the mount properly.

[2020-04-17 15:34] jihaojie opened #90245 "Official website docs error"
**What happened**:
Official website docs  date error
URL：
https://kubernetes.io/zh/docs/concepts/workloads/controllers/deployment/#%E6%9C%80%E5%A4%A7%E5%A2%9E%E9%87%8F

**What you expected to happen**:

例如，当此值设置为 30 时，启动滚动更新后，会立即展开新的 ReplicaSet ，以便新旧 Pod 的总数不超过所需的 130%。一旦旧 Pods 被杀死，新的 ReplicaSet 可以进一步扩展，确保更新期间任何时间运行的 Pods 总数最多为所需 Pods 总数的130%。

30 should be 30%

[2020-04-17 15:34] liu-cong commented on #86391
All issues have been handled. Closing

[2020-04-17 15:34] #86391 closed

[2020-04-17 15:37] EAnddd commented on #68861
Hi,
I have a problem with rolling back my deployment. I try to perform a patch on revision field (something like `kubectl rollout undo deployment my-deployment` but with REST), my request is:
`curl -ki -X PATCH https://localhost:6443/apis/apps/v1/namespaces/default/deployments/my-deployment --data '[{"op":"replace","path":"/metadata/annotations","value":{"deployment.kubernetes.io/revision":"2"}}]'

[2020-04-17 15:48] rajha-korithrien commented on #81089
You would have to talk to the Postgres people and then the OpenSSH people,
and then the Jetty people (I have had apps deployed via jetty configured to
treat sensitive keys in the same fashion). I do not believe it is a
scalable solution to try to force other projects to behave in a way
determined by Kubernetes, instead Kubernetes being an environment that is
meant to allow POSIX workloads to execu

[2020-04-17 16:23] tangcong commented on #90208
/assign

[2020-04-17 16:39] aojea commented on #90101
/remove-triage unresolved

The bug seems to be legit, I can reproduce it with an integration test, see #90246

@thockin @khenidak @danwinship more food for thought for dual-stack, seems that we only have one nodeportallocator , however, we do have two serviceipallocator,

https://github.com/kubernetes/kubernetes/blob/87eb688ec921fe20a93a25803f08f223fba3d4ee/pkg/registry/core/rest/storage_core.go#L

[2020-04-17 16:52] michaelgugino commented on #79616
/remove-lifecycle rotten

[2020-04-17 17:03] blockjon commented on #81723
Same problem here - we use pods to run CI jobs and many were failing yesterday with this cryptic message "Need to kill Pod" and I have no idea what the problem is or how to fix.

[2020-04-17 17:13] panicbit commented on #81723
/remove-lifecycle stale

[2020-04-17 17:17] #78865 closed

[2020-04-17 17:18] igorcezar commented on #50375
+1

[2020-04-17 17:19] jpbetz commented on #90160
/cc

[2020-04-17 17:51] apelisse commented on #85750
If we want to fix this, this will require coordination between cli and api-machinery. We would need to build a new mechanism in the API server to detect the change. It doesn't exist today and might be controversial since it doesn't really match the model (one is not really supposed to care if the resource changed or not). Do we think that feature is so important that we need to engage controversia

[2020-04-17 17:59] wojtek-t commented on #90058
The main PR has merged - we will be monitoring our scale tests in the next week or so, maybe two, and assuming everything will look fine, we should get rid of the magic constants completely.

But let's wait with it for some time.

[2020-04-17 18:02] PaulWBrassard commented on #85963
+1 for kube-system use-case

To me, it seems very reasonable that `allow *` includes new resources and `deny` would need to be explicit on which resources are denied.

[2020-04-17 18:13] lavalamp commented on #68578
Yeah I thought you might feel that way.

We may have missed our window to turn this off :( :( :(

[2020-04-17 18:21] julianvmodesto commented on #90146
Oh for the upgrade: instead of calling the SSA handler completely on CSA, we could update managed fields on CSA so that they match for both the CSA manager and the SSA manager.

Also for the downgrade (mentioning discussion for posterity), as an alternative to failing a downgrade from CSA to SSA with a conflict, @apelisse suggested we keep the last-applied annotation up-to-date with managed fields

[2020-04-17 18:28] hickeng commented on #87290
I've ported this change to 1.17.4 with the dynamic certs update:
https://github.com/hickeng/kubernetes/commit/a00aae1e6a4a698595445ec86aab1502a495c1ce

[2020-04-17 18:40] msau42 opened #90250 "[Flaky] CSI mock volume storage capacity exhausted, late binding, with topology"
**Which jobs are flaking**:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=CSI%20mock%20volume%20storage%20capacity%20exhausted%2C%20late%20binding%2C%20with%20topology

**Which test(s) are flaking**:
CSI mock volume storage capacity exhausted, late binding, with topology

**Testgrid link**:

**Reason for failure**:
[code]

**Anything else we need to know**:
- links to g

[2020-04-17 18:40] msau42 commented on #90250
@kubernetes/sig-storage-test-failures
/assign @pohly

[2020-04-17 19:23] danwinship opened #90251 "DualStack: IPv6DualStack feature gate causes kube-controller-manager API break"
With the `IPv6DualStack` feature gate disabled, kube-controller-manager accepts a `--node-cidr-mask-size` argument, but with `IPv6DualStack` enabled, it only accepts `--node-cidr-mask-size-ipv4` and `--node-cidr-mask-size-ipv6` and rejects `--node-cidr-mask-size`.

This blocks moving dual-stack to beta, since switching the feature gate to on-by-default would break existing single-stack clusters us

[2020-04-17 19:27] neolit123 commented on #90239
/sig auth

[2020-04-17 19:27] neolit123 commented on #90239
instead of providing these details:
[code]
provide the output of `kubectl version`.

[2020-04-17 19:30] neolit123 commented on #90195
/sig apps

[2020-04-17 19:31] neolit123 commented on #90195
/sig scalability

[2020-04-17 19:40] sirsikar-lalit commented on #70334
I was able to resolve this issue for my use-case by having the same cgroup driver for docker and kubelet. In my case on CentOS 7.6 I could fix the issue by adding `--exec-opt native.cgroupdriver=systemd` to docker systemd process and adding `--cgroup-driver=systemd` to kubelet systemd process. This way both kubelet and docker are consuming the same cgroup-driver and both operate normally.

Most li

[2020-04-17 19:49] JacobHenner commented on #43916
Seeing the [dentry cache variation](https://github.com/kubernetes/kubernetes/issues/43916#issuecomment-525579040) of this issue on my infrastructure (running Amazon Linux 2 with kernel 4.14.173-137.229.amzn2.x86_64) as well.

Would it be possible for Kubernetes to subtract reclaimable kmem from cgroup mem utilization totals? It seems like this would be a reasonable fix, since the kernel will recla

[2020-04-17 19:53] aojea commented on #90251
let me tag @aramase too, IIRC he implemented it and may be is more familiar with this

[2020-04-17 19:58] liggitt commented on #89874
In general, I don't want to increase the number of ways confidential data can leak into server logs. Are there other ways we could ease testing patches (like simpler use of patching functions in a library/unit test) or surface potential problems (like returning warnings, similar to the mechanism proposed in https://github.com/kubernetes/kubernetes/pull/73032)?

[2020-04-17 20:01] andrewsykim commented on #89358
We had a discussion for this on the April 16th SIG Network call.

The conclusion is that this is not a really a bug since the minimum session affinity timeout is still respected. Although it is probably an unexpected behavior for users that the stickiness lasts longer than the timeout specified.

I have an action item to add documentation for this limitation. As for the failing tests we agreed to

[2020-04-17 20:09] chancez commented on #60789
/remove-lifecycle rotten

[2020-04-17 20:09] dims commented on #89961
@tosi3k @mm4tt @serathius did the scalability CI jobs get started? i have updated https://github.com/kubernetes/kubernetes/pull/90183 and i haven't heard from y'all

[2020-04-17 20:12] chancez commented on #60789
I've been thinking about this a bit and it seems like there could be a mutating webhook that handles this for deployments by setting the hostname to the pod's name. This would be a way to properly handle setting the name before it's stored in the API, but after the generatedName is produced. It seems like this could be how it works if it's unset in all cases and that would make it work regardless

[2020-04-17 20:16] brianpursley commented on #90239
Hi @gopukrishnantec

The `$(...)` part won't evaluate inside a yaml file.  It only evaluates as a part of a shell command.

So you need to use the `cat <<EOF` syntax like the page you linked to:
[code]

Or as you discovered, you can get the output of `cat server.csr | base64 | tr -d '\n'` and put it in your yaml directly.

Hope this helps.

[2020-04-17 20:35] jayunit100 commented on #90108
Trying to reproduce this, it seems like periodSeconds is working for me:

Can you please try to run this script:

`kubectl create -f`

of the following file...

[code]

And then paste the logs ?  In the above scenario, I get:

roughly 2 requests every minute: 1 for /ready, and one for /live...

[code]

[2020-04-17 20:37] adamnovak commented on #69014
I think this still needs doing.

/remove-lifecycle stale

[2020-04-17 20:38] adamnovak commented on #69014
Er, maybe it's:

/remove-lifecycle rotten

[2020-04-17 20:40] laurentiuspurba commented on #75957
I have the same issue while draining node. I use Istio v1.4.3 and this is my IstioControlPlane
[code]
And the same `replicCount: 2` and `minReplicas: 2` applied to other Istio resources. And I can see all the pods are duplicated while issuing `kubectl -n istio-system get pods`

[code]

The node draining stop and was aborted with this error
[code]

Is there a way that I can drain the node without g

[2020-04-17 20:58] tosi3k commented on #89961
@dims sorry for the late update. The 5k CI job based on commit 2f0e334 of #90183 is currently running and will take a few more hours. I will give you more update on Monday.

[2020-04-17 21:21] alculquicondor commented on #88174
What if we reduce the scope to just PodTopologySpreading, which is beta since 1.18?
We could give it a weight of 2 now, before going to GA.

[2020-04-17 21:51] CSdread commented on #53459
We also have need for this feature/issue and are going to use an inefficient workaround for now. Is there any movement on this feature/issue?

[2020-04-17 21:55] lalithsuresh commented on #90195
As an update: the same experiment, but by directly creating pods and deleting them does not have this problem. Pod deletions go through at a much higher rate (of at least 100 per second).

[2020-04-17 23:00] justaugustus commented on #87851
SIG CLI Leads -- any update on this?
This is affecting scalability signal.

/assign @pwittrock @soltysh

[2020-04-17 23:01] justaugustus commented on #87851
@hasheddan @kubernetes/ci-signal -- Please keep tabs on this one.

[2020-04-17 23:03] hasheddan commented on #87851
@justaugustus yep, monitoring 👍

[2020-04-17 23:25] ahg-g commented on #88174
Aldo, one thing to take into account is the new default spread logic which is based on default pod topology spread constraints. For default spread constraints, I think the weight shouldn't increase, so things will get a little complicated with how we treat this case.

[2020-04-18 00:23] #89960 closed

[2020-04-18 00:46] mysunshine92 commented on #88046
we also meet the same problem,it take 20s to start kubelet,which is not we want.

[2020-04-18 00:46] mysunshine92 commented on #88046
ping @yujuhong

[2020-04-18 00:51] tedyu commented on #88046
[code]
With continue placed like above, provider is not used within the loop.
It seems loop over stringKeys can be omitted when --cloud-provider flag is set to empty string

[2020-04-18 00:58] weinong opened #90255 "[Azure] when controller manager fails to add VMs to backend pool due to 403, event doesn't have the detail"
**What would you like to be added**:
[code]

Without looking at the controller manager log, we will only see a generic error message in event.
The ask here is to emit a clear error message in event so that it's easy to troubleshoot

this is observed on 1.15.10 on AKS

**Why is this needed**:
need an easier way to surface up root cause

[2020-04-18 01:01] weinong commented on #90255
/area provider/azure
/sig cloud-provider

[2020-04-18 01:33] Huang-Wei commented on #88174
Given that default spread constraints is **_explicitly_** specified by users in `PluginConfig`, maybe we can assume they are already aware of adjusting the "Weight" in `Plugin`?
While for regular users, they won't touch `PluginConfig`, so a default non-1 weight is a no-op for them.

[2020-04-18 02:01] liggitt commented on #90239
See https://github.com/kubernetes/kubernetes/issues/90240#issuecomment-615284860

[2020-04-18 02:01] #90239 closed

[2020-04-18 02:01] wawa0210 commented on #90245
Thank you very much for pointing out the problem, I will fix the Chinese document

[2020-04-18 03:44] ahg-g commented on #88174
@Huang-Wei the default constraints (which we plan to introduce to replace the current defaultpodspreading score plugin) are not explicitly specified in PluginConfig.

[2020-04-18 04:03] yqwang-ms commented on #87278
/remove-lifecycle stale

[2020-04-18 04:32] wawa0210 commented on #90245
/sig docs

[2020-04-18 05:03] weizhouBlue opened #90258 "connection time out for cluster ip of api-server by accident"
I have a k8s cluster with 2 nodes ( master 10.6.185.50 and worker 10.6.185.55 ) ,
api-server is running on master with endpoint ip 10.6.185.50:6443 and cluster ip 172.31.0.1:443

firstly , I can see some process on worker node set up tcp connection with api-server  by its endpoint ip , and some forwarded connection to api-server

[code]

On worker node 10.6.185.55 , I test  curl -k https://172.31.

[2020-04-18 05:05] weizhouBlue commented on #90258
/sig network

[2020-04-18 05:08] Huang-Wei commented on #88174
@ahg-g Maybe I missed something, are we talking about the same default constraints defined here?

https://github.com/kubernetes/kubernetes/blob/b54c4eaebbc0eae91071e9bffc160bd9c8ca72d1/pkg/scheduler/apis/config/types_pluginargs.go#L74

[2020-04-18 06:12] wawa0210 commented on #90245
/close

The issue has been fixed.

[2020-04-18 06:13] #90245 closed

[2020-04-18 06:13] wawa0210 commented on #90245
/close

The issue has been fixed.

[2020-04-18 06:30] #84430 closed

[2020-04-18 07:48] uablrek commented on #90236
@andrewsykim Are there any reasons to set net.ipv4.conf.all.route_localnet=1 in the ipvs proxier?

If not, I will make a PR to remove it.

Consideting the problems described in https://github.com/kubernetes/kubernetes/issues/67730 I don't think is makes any difference.

[2020-04-18 09:00] uablrek opened #90259 "net.ipv4.conf.all.route_localnet=1 opens security issue"
**What happened**:

`net.ipv4.conf.all.route_localnet=1` is set by `kube-proxy` in both iptables and ipvs mode. This causes a security issue;

A host on the local segment can actually route 127.0.0.1 to a k8s-node and access ports that really should be local.

Linux doc;
[code]

**What you expected to happen**:

Make `net.ipv4.conf.all.route_localnet=1` configurable and set only when needed.

**Ho

[2020-04-18 09:01] uablrek commented on #90259
/sig network

[2020-04-18 09:17] uablrek commented on #90259
@andrewsykim Are there any reasons to set net.ipv4.conf.all.route_localnet=1 in the ipvs proxier?

If not, I will make a PR to remove it.

Consideting the problems described in #67730 I don't think is makes any difference.

[2020-04-18 09:20] uablrek commented on #90259
To set set net.ipv4.conf.all.route_localnet=1 the enabler for proxy-mode=iptables;
https://github.com/kubernetes/kubernetes/blob/d24b928629714773b7583c5a836502a1a2db4a28/pkg/proxy/iptables/proxier.go#L104-L107

[2020-04-18 09:40] ydcool commented on #90228
@rikatz Thanks for your reply!
In fact those captured logs was found by my fellow and that unexpected error could not be reproduced ever since. But I'll try to reproduce that on both old and latest minor version. I wonder if there is any preliminary conclusion we can make from those logs.

[2020-04-18 12:35] ahg-g commented on #88174
@Huang-Wei yes we are, but isn't the plan to have a default value for DefaultConstraints when not set: two constraints, one for zone and one for hostname, which mimic the current defaultpodspread behaviour and allows us to deprecate it?

[2020-04-18 12:36] #84459 closed

[2020-04-18 13:08] prabhakar-pal commented on #86773
@aojea @LubinLew ,

This issue is seen even in 1.18.1.

[code]

This is the kubeadm conf that we are using
[code]

[2020-04-18 13:10] yuyulei opened #90262 "Add custom resource list func to SharedInformerOption"
**What would you like to be added**:
I want to add custom resource list function as options to SharedInformer, just like [WithCustomResync](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/informers/factory.go#L71)

for example:
[code]

the feature is similar to [WithTweakListOptions](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go

[2020-04-18 13:15] AdnanHodzic commented on #79365
I have this same problem for `SatefulSet` while it works perfectly for my `Deployment`, i.e:

[code]
As it turns out target is unknown for `StatefulSet`

[code]

and exact reason for this according to `events` is:

[code]
****Environment:****

* Kubernetes version (use kubectl version): 1.18.1
*  Cloud provider or hardware configuration: AKS

[2020-04-18 13:15] JCzz commented on #83125
Same here on GKE, adding pod [example](https://kubernetes.io/docs/concepts/storage/volumes/#hostpath):

[code]

[2020-04-18 13:18] JCzz opened #90263 "hostpath : MountVolume.SetUp failed for volume "test-volume" : hostPath type check failed: /data is not a directory"
Adding hostpath example pod [example](https://kubernetes.io/docs/concepts/storage/volumes/#hostpath):

Error in "Events":
`MountVolume.SetUp failed for volume "test-volume" : hostPath type check failed: /data is not a directory`

/sig storage
Update(side question): I dont know how to add a label for SIG?

Pod:
[code]

[code]

[2020-04-18 13:21] yuyulei commented on #90262
/sig apps

[2020-04-18 13:39] tedyu commented on #86773
@prabhakar-pal
Can you give the full stack trace for the panic ?

thanks

[2020-04-18 14:24] alculquicondor commented on #88174
I think the only way around that is to introduce a weight for default constraints in the plugin config. And then set it to 50% for the k8s default.

[2020-04-18 14:46] tedyu commented on #90197
If you have access to metrics, what do container_memory_rss, container_memory_usage_bytes and container_memory_cache look like ?

thanks

[2020-04-18 14:50] uablrek commented on #89392
I can't recreate this problem. My test environment is however different;

* K8s v1.16.9 which is the oldest supported version.
* VMs instead of HW and kill the VM which is equal to a power-off.
* Just one master make it impossible to kill it

Tested;

* Start VM cluster K8s v1.16.9, calico/cni:v3.12.0
* Create a deployment with replicas=1 and a service
* Kill the VM (worker) where the (one) pod is

[2020-04-18 14:51] ahg-g commented on #88174
hmm, this will be a confusing configuration parameter to users. Another approach to consider is to bake it into the TopologySpread plugin instantiation without needing to pass it through PluginConfig (similar to what we did for volumebinder in the past: https://github.com/kubernetes/kubernetes/blob/release-1.17/pkg/scheduler/framework/plugins/default_registry.go#L73).

[2020-04-18 14:57] ahg-g commented on #88174
urgh, this will be tricky to do since defaulting will be done via component config, and so we don't have a way to communicate whether the values where defaults or explicitly set. If defaulting is done in factory.go then it might be possible, but we shouldn't do that.

[2020-04-18 14:58] alculquicondor commented on #88174
Defaulting is going to happen in v1alpha2/defaults.go in the near future

[2020-04-18 15:02] ahg-g commented on #88174
We can have it in the internal type, but not the external one then. This will hide it from the users.

[2020-04-18 15:04] uablrek commented on #89392
Since this may be a problem when the master goes down and `kube-proxy` fails to re-connect I will try to setup a multi-master cluster. But it may take some time.

[2020-04-18 15:06] ahg-g commented on #88174
It doesn't seem there is a way...

[2020-04-18 15:14] tedyu commented on #88046
With https://github.com/aws/aws-sdk-go/releases/tag/v1.30.3 , we have:
[code]
It seems aws_credentials.go can utilize the following method :
[code]
by passing context with tighter timeout.

[2020-04-18 15:34] ahg-g commented on #88174
To make the new parameter semantically clear, we can treat it as a weight override rather than a percentage of the plugin weight, and so it's default would be 1 rather than 50%, internally the plugin computes the ratio as the override weight divided by the plugin weight, which it uses to scale scores computed for pods that don't have topology spread specified in their spec.

[2020-04-18 16:31] prabhakar-pal commented on #86773
@tedyu,

I0418 16:30:33.332872       1 shared_informer.go:223] Waiting for caches to sync for service config
E0418 16:30:33.337036       1 runtime.go:78] Observed a panic: "invalid memory address or nil pointer dereference" (runtime error: invalid memory address or nil pointer dereference)
goroutine 161 [running]:
k8s.io/kubernetes/vendor/k8s.io/apimachinery/pkg/util/runtime.logPanic(0x16d00a0, 0x

[2020-04-18 16:39] tedyu commented on #86773
@prabhakar-pal
Please see #88866

[2020-04-18 17:11] prabhakar-pal commented on #86773
Thanks @tedyu, is there a workaround for this issue?

[2020-04-18 17:17] tedyu commented on #86773
Not that I know of.

[2020-04-18 17:26] aojea commented on #86773
@prabhakar-pal I think that your kubeadm config is not correct, compare against this

[code]

[2020-04-18 19:30] sshishov commented on #59031
Looks funny when 2 bots talk to each other)))

[2020-04-18 19:40] surekhakallam commented on #88912
yes readiness probe  ran in the first place its 10
sorry for late reply

[2020-04-18 19:40] surekhakallam commented on #88912
yes its done

[2020-04-18 21:49] Huang-Wei commented on #88174
Got it now. I thought the default constraints would default to nil if not specified by users.

I think we should introduce a field called "multiplexer" and default to 1, so it's friendly to defaulting and conversion.

[2020-04-18 21:49] Bessonov commented on #62078
/remove-lifecycle stale

[2020-04-18 21:50] Huang-Wei commented on #88174
+1.

[2020-04-18 22:40] riking commented on #53533
User stories:

(1) My vendor provided program uses a language runtime that mandates access to the source of program code. Due to this, while initializing, all program source code is arranged in a separate memory arena. Once the program is initialized and the container becomes Ready, this memory will not be accessed (you can't prove this, but it won't). Additionally, the program allocates a few pag

[2020-04-19 00:25] matrixji commented on #89392
We've met the same problem, we using kubernetes 1.17.3(CentOS 7 latest), and we first find the ipvs rule not updated in such condition(poweroff one master), so we switch to iptables mode, the same issue. And restart kube-proxy on the node could recover it. So I think the problem is from kube-proxy, maybe we will have try some more investigation during next week.

[2020-04-19 01:33] tedyu commented on #90106
@oaicstef
Can you attach controller manager log and kubelet.log (the portion that covered the deletion of deployment) ?

Thanks

[2020-04-19 02:00] tedyu commented on #40610
[code]
I think when node label is allowed to propagate, 'all labels' should be avoided since there may be information which admin doesn't want to reveal.
Listing specific labels to propagate would serve the use cases.

[2020-04-19 03:16] alculquicondor commented on #88174
What if we start giving meaning to MaxSkew for scoring? If you set a low
MaxSkew, you probably want it to have a higher effect than if you set a
bigger value.
We can discuss the exact formula, but I think adding these semantics make
sense.

On Sat., Apr. 18, 2020, 5:50 p.m. Wei Huang, <notifications@github.com>
wrote:

[2020-04-19 03:51] #81450 closed

[2020-04-19 05:39] sayeduzzamancuet commented on #41463
I am still facing this issue, unable to download the exe file from the provided url.

[2020-04-19 05:46] pdbogen commented on #67676
@brianpursley The `alias` workaround breaks tab completion, unless there's something I'm missing about that.

For what it's worth, our use case / problem is exactly what you describe in #2; my team manages a (complex, non-trivial) configuration spanning dozens of clusters, and the engineers we support simply use that config.

We're still using the workaround I described, but I consider it to be a

[2020-04-19 06:07] #90074 closed

[2020-04-19 06:09] prabhakar-pal commented on #86773
@aojea, yes the IPv6DualStack  featureGate needed to be mentioned across the sections, thanks for pointing that out. Thanks @tedyu  for your inputs too.

[2020-04-19 06:47] xavierW commented on #80968
is there any pr merge to  kubernete now?

[2020-04-19 06:53] uablrek commented on #89392
@matrixji Thanks a lot for the info. It is very good to know that the problem is not bound to v1.14 and not to ipvs mode. It saves time :+1:

I guess that when you power-off the master (hosting also the pod) the `kube-proxy` does not receive any event for the lost endpoint (naturally). These things can happen but should be recovered by a `sync` where the `kube-proxy` reads the entire status and up

[2020-04-19 06:54] #85497 closed

[2020-04-19 06:58] uablrek commented on #89392
I start kube-proxy with verbose logging;
[code]

[2020-04-19 08:14] afkham commented on #79224
Yes, it makes perfect sense to have this feature. I was actually surprised to find this feature missing.

[2020-04-19 08:26] vlad-vinogradov opened #90271 "kubelet restarts Init Сontainers when App Containers are running."
**What happened**:

After creating a Pod, successfully finished Init Containers are not removed from the system and kept in "Exited" state. If we manualy remove finished init container, kubelet will restart it.
This is a very dangerous logical error that can lead to unpredictable consequences for the cluster application.

**What you expected to happen**:

Since the init containers are already exec

[2020-04-19 08:34] hykych opened #90272 "kubelet_container_log_filesystem_used_bytes not accurate"
**What happened**:
I use the metrics, but I found there is one time this data is not accurate, the logs for the pod is 50KB, but there is one time the data surge to 800+MB.  I took a look at the source code, It seems like the data of **kubelet_container_log_filesystem_used_bytes** is not only the logs size.

**What you expected to happen**:
**kubelet_container_log_filesystem_used_bytes** should be

[2020-04-19 09:01] aojea commented on #90236
/cc

[2020-04-19 09:05] aojea commented on #90259
/cc

[2020-04-19 09:57] safoueneraddaoui opened #90276 "Error updating Endpoint Slices for Service"
Error updating Endpoint Slices for Service default/myapp: Error deleting myapp-pdnv9 EndpointSlice for Service default/myapp: endpointslices.discovery.k8s.io "myapp-pdnv9" not found

[2020-04-19 10:04] Capstan opened #90277 "Use allowlist and denylist in public documentation"
**What would you like to be added**:
The documentation around the APIs, e.g., as seen in field comments in https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/policy/v1beta1/generated.proto, uses "white list" and "whitelist", and I suggest changing this to use allowlist instead.

For future internal code and type names, I suggest avoiding terms like "whilelist" and "blackli

[2020-04-19 10:06] Capstan commented on #90277
/sig docs

[2020-04-19 10:07] Capstan commented on #90277
/kind documentation

[2020-04-19 10:07] tangcong commented on #90208
@dims  i have submited pr #90275 to fix this issue. PTAL. thanks.

[2020-04-19 10:11] invidian commented on #70411
The same is happening, if kube-apiserver is behind AWS load balancer, which does TCP health checks by default. If you configure it to use HTTPS, it still does not fully resolve the problem, as if one uses `--anonymous-auth=false`, then the health probes will be failing, as AWS has no way to configure authentication header for the health checks.

Maybe the log level of this message could be changed

[2020-04-19 10:15] vlad-vinogradov commented on #90271
/sig node

[2020-04-19 10:42] aojea commented on #89740
analyzing one occurrence seems that this is the error in the apiserver :

[code]

@liggitt is the problem that it should retry per the message, but it never does it?

[2020-04-19 13:09] eddytruyen commented on #90133
@aojea: Thank you for your response. We didn't expect this either a network issue nor a storage issue, unless there was an obvious error in our setup that we overlooked.

You are right that the minikube setup contains etcd, but the Openstack Ubuntu setup doesn't as it runs on a kubeadm worker node.

I would like to involve other one other sig if you don't mind
/sig-node

[2020-04-19 13:19] evgnomon commented on #9995
You might want to do this to expose low range to public,

[code]

[2020-04-19 13:52] wawa0210 commented on #90263
Can you confirm whether the '/ data' directory exists on the host? When the type is `Directory`, if the directory does not exist on the host, kubelet will not create it for us, it will print error

[2020-04-19 13:54] tedyu commented on #80968
@xavierW
See https://github.com/kubernetes/kubernetes/pull/89155#issuecomment-605662801

[2020-04-19 14:03] mysunshine92 commented on #89564
/cose

[2020-04-19 14:08] wawa0210 commented on #90116
Can you add more information? For example, how you use it, yaml information, and error information?

[2020-04-19 14:11] stephen-dexda commented on #80435
/remove-lifecycle stale

[2020-04-19 14:22] yoavAqua commented on #89948
@lavalamp Thanks Daniel, can you think about a different method to identify a node in Kubernetes from 2 ways? one from API and one on the node.

[2020-04-19 15:15] hasheddan commented on #90107
/assign @aojea

Looks like you are already looking into this as part of #90117 :)

[2020-04-19 15:23] hasheddan commented on #88245
/remove-kind flake
/kind failing-test
/milestone v1.19
/sig network
/remove-sig node
/remove-sig api-machinery
/retitle [Failing Test] gce-windows-1.17 (ci-kubernetes-e2e-windows-gce-1-17)

@yliaog are you investigating here? If not, is there someone else we can ping?

[2020-04-19 15:26] hasheddan commented on #87468
@jkaniuk any updates here?

[2020-04-19 15:28] hasheddan commented on #75355
/milestone v1.19

[2020-04-19 16:15] aojea commented on #90107
@hasheddan I have doubts about having issues per job instead of per test,
comparing against other jobs like:
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&width=5

it seems that the flakiness is due to the tests itself not to the jobs, kind seems to be pretty stable if we check the conformance jobs, that only have stable tests :)

https://testgrid.k8s.io/sig-testing-ki

[2020-04-19 16:40] tedyu commented on #90271
@vlad-vinogradov
Can you attach snippet from kubelet.log covering the period from init container was removed and when the 9c6b1a283306e container was created ?

Thanks

[2020-04-19 16:46] aojea commented on #90258
If I understand this correctly you were able to pinpoint the problem to:

* there is already a ESTABLISHED a connection to the apiserver
* a new connection with the same source port to the apiserver is not able to connect

from the conntrack that you pasted, we can see both connections:
[code]

From the top of my head, I think that

is going to be DNATed to dst=10.6.185.50 dport=6443 ,
if that's t

[2020-04-19 17:04] #78235 closed

[2020-04-19 17:45] dims commented on #41463
try https://gcsweb.k8s.io/gcs/kubernetes-release/release/v1.18.0/bin/windows/amd64/

[2020-04-19 17:49] rushins commented on #83038
hi
i have the same issue, my docker image is 200 GB and i have sufficient space on /var/lib/docker on K8S worker nodes ?  how do i handle this ?

[2020-04-19 17:52] rushins commented on #78865
hello

i got the same issue on K8S 1.16 and my docker image is 200GB  . i have plenty of space in /var/lib/docker (500 GB out 450 GB Free) and i am getting this error. "ephermeral storage  " ..can someone tell me what should be the fix.

[2020-04-19 18:03] rushins commented on #78865
i have this error : The node was low on resource: ephemeral-storage. Container k8stst was using 112619704Ki, which exceeds its request of 0

[2020-04-19 18:04] JCzz commented on #90263
Thanks

Not sure how to verify if `/data` directory exists on a pod that is not running?

I tried with `DirectoryOrCreate`, then it hangs in `ContainerCreating`

[2020-04-19 18:36] ingvagabund commented on #89521
2. resolved through https://github.com/kubernetes/perf-tests/pull/1172

[2020-04-19 19:19] vlad-vinogradov commented on #90271
@tedyu
Removed at 18:54:07, Restarted at 18:54:40
[code]

[2020-04-19 19:19] mcristina422 commented on #89080
As someone who frequently uses a YAML view, the first time I used a cluster with this enabled was quite jarring. I now frequently have to scroll through pages of properties when viewing resources like `kubectl get po foo -o yaml`. Or having to jump down 100s of lines to edit an image version during `kubectl edit dp bar`

The `managedFields` block is extremely annoying and a huge change to my workf

[2020-04-19 19:24] neolit123 commented on #90272
/sig node

[2020-04-19 19:25] neolit123 commented on #90272
please note that if this is the k8s version, it's out of support.
you should upgrade to 1.16 at minimum.

[2020-04-19 20:38] smarterclayton opened #90287 "regression: wait.Forever runs twice immediately since 1.18"
I noticed that this code:

[code]

was printing

[code]

which should not happen.  Also occurs in wait.Forever.

I suspect that fc8a39d439ea08b006fb7ea1db1058175cc7adf5 in https://github.com/kubernetes/kubernetes/pull/87829 regressed this as that was the most recent major update and I only started seeing this on a recent apimachinery bump.

[2020-04-19 20:40] smarterclayton commented on #90287
/sig api-machinery
/assign @zhan849
@lavalamp as the reviewer

[2020-04-19 20:40] smarterclayton commented on #90287
/assign @lavalamp

[2020-04-19 20:41] smarterclayton commented on #90287
This is a correctness regression because the wait methods expect not to be run run more often than the period and may guard expensive behavior.  Suggest a revert followed by a more rigorous test and review on merge.

[2020-04-19 22:18] excavador commented on #61185
/reopen please

[2020-04-19 22:24] mtaufen commented on #85650
/remove-lifecycle rotten
/lifecycle frozen

[2020-04-19 22:39] liggitt commented on #90271
cc @smarterclayton @derekwaynecarr

[2020-04-19 22:41] smarterclayton commented on #90271
We don’t clean up completed init containers unless we need the space. That’s been the standard behavior of init containers since day one.

Maybe I’m misunderstanding the problem description.

[2020-04-19 22:45] smarterclayton commented on #90271
Don’t manually remove init containers.

Also, init containers must be reentrant (kube doesn’t guarantee at most once execution of any container).  So this can happen for other reasons like GC pressure and your app has to tolerate it.

It is a bug if deleting the exited init container runs right away while app containers are running (if that’s what you are describing, that is indeed an error).  If

[2020-04-20 00:16] wawa0210 commented on #90263
`/ data` is the directory on the host, not in the pod. When the type is `DirectoryOrCreate`, you can go to check the detailed log of kubelet, there should be related error information

[2020-04-20 01:45] tanjunchen commented on #90221
@tedyu
could i try to fix this?Thanks

[2020-04-20 01:57] tedyu commented on #90221
Yes.
#89160 fixes method name for ContainerStatus.
You can cover the rest.

thanks

[2020-04-20 01:59] tanjunchen commented on #90221
/assign

[2020-04-20 02:03] wikusbrinkNearmap opened #90290 "Incorrect job completed state"
**What happened**:
When running many Kubernetes jobs (hundreds to thousands) on our cluster we've had several cases of jobs completing successfully according to Kubernetes, without actually having completed.

In other words `kubectl describe job` returns `Pods Statuses:  0 Running / 1 Succeeded / 0 Failed`, but the data that the job was tasked to generate does not exist (any execution error will a

[2020-04-20 02:15] wikusbrinkNearmap commented on #90290
/sig apps

[2020-04-20 02:23] vlad-vinogradov commented on #90271
@smarterclayton

Thanks for the advice ) Try to write this in the documentation - this is where all this should be present.  But I think that you will not be very pleased with the feedback on such kube behavior from professional system programmers who have clear understanding about reliable programming.
Also don't forget that app clusters often include their own "GC" DaemonSets - this is the reali

[2020-04-20 02:23] tonyaw commented on #89952
Any comment about this requirement? :-)
If the existing feature can address this requirement, could you please let me know?
If not, could you please let me know how to address it?

[2020-04-20 02:43] tedyu commented on #90290
Can you attach snippet of controller manager log where the job for 'Pods Statuses: 0 Running / 1 Succeeded / 0 Failed' showed up ?

If related log points to certain node, please collect kubelet.log from that node as well.

Thanks

[2020-04-20 02:48] SataQiu commented on #90101
If we only have one port allocator, it will be hard to tell whether the port is listening to IPv4 or IPv6. So we can not expose an IPv4 service and an IPv6 service to the same nodePort after https://github.com/kubernetes/kubernetes/commit/3eea0d14052d2b00d2191ea1833164896cc3ff51.

[2020-04-20 03:07] Huang-Wei commented on #88174
That's possible. Current Score function doesn't take `maxSkew` into consideration - it's just following a simple "the less number of matching Pods a topology has, the higher score the Nodes on that topology are given " principle.

[2020-04-20 03:12] robscott commented on #90276
Hey @safoueneraddaoui, thanks for reporting this! Can you provide more details about the version of Kubernetes you were using and what exactly happened? Did an EndpointSlice stick around longer than it should have or somehow end up out of date? Was this something that you saw frequently in logs?

My initial guess is that this indicates that an EndpointSlice was deleted and another syncService() ca

[2020-04-20 03:14] #80154 closed

[2020-04-20 03:14] #82276 closed

[2020-04-20 03:19] konradlykowski commented on #90290
Hey @tedyu , thanks for the help. Unfortunately we don't have those logs any more.
Although we might see those cases again in the near future - let us go back with more logs within a few days/weeks. Thanks!

[2020-04-20 04:33] george-angel commented on #73269
/remove-lifecycle stale

[2020-04-20 05:43] uablrek commented on #90101
I have read about this limitation somewhere, but it might have been in a comment on slack or an issue. @khenidak might remember. The limitation exists, yes, but I think is not by mistake so I would still call it a feature request, not a bug.

[2020-04-20 05:53] uablrek commented on #90042
The problem in https://github.com/kubernetes/kubernetes/issues/89520 only requires linux-4.x, so your problem the same, at least after upgrade to anything > linux-3.18.

[2020-04-20 05:57] yuyulei commented on #90262
@liggitt ptal

[2020-04-20 06:06] uablrek commented on #90042
Is this a problem that has "popped up" after an upgrade? I mean, have is ever worked?

I believe this is some resource exaustion in your system. When you connect with the same src/dest in a tight-loop some resource limitation as likely to hit. But in your case the number of connect attempts ("ok"'s) seem not so many. A thing to check is if you have very many inactive connections in ipvs and/or ver

[2020-04-20 06:43] TomMorant opened #90291 "Can the config files of the components of each version of kubernetes be synchronized in github?"
**What happened**:
At present, the config configuration files of each component of kubernetes in github cannot be found. Can each version specify a directory to store the config file of the component?

[2020-04-20 07:03] weizhouBlue commented on #90258
hi , aojea
the situation what you understand is true . A process on worker node connects to api-server with its endpoint ip , Another process on the same worker node connects to api-server with cluster ip , and the source port is same . But please notice, both process connect to api-server as a client , the source port has no bind() and is assigned by kernel

But I could not catch your solution ,

[2020-04-20 07:19] zhan849 commented on #90287
@smarterclayton thanks for reporting this, and I apologize about the regression I made.

I did some quick test, and I am able to reproduce it occasionally, which indicate a race somewhere:

Test:
[code]
Failed output:
[code]

Successful output?
[code]

In the original code I checked in, I initialized the timer in the backoff manager construction time:
https://github.com/kubernetes/kubernetes/blob/

[2020-04-20 07:27] winkee01 opened #90292 "minikube: service created is not accessible"
**What happened**:
Service created by using `kubectl create service ...` ,  is not accessible.
maybe the port format is incorrect?

[code]

below is information relates to hello-service
[code]

As a comparison, service created by below ways are accessible.

(1) expose

[code]

(2) service.yaml
[code]

Below way also succeed.

[code]

**What you expected to happen**:
service accessible, which means

[2020-04-20 07:36] winkee01 commented on #90292
/sig cli

[2020-04-20 07:52] uablrek commented on #89392
I tried to reboot the master at the same time as a power-off (kill VM) on a worked to simulate the behavior. But is worked about the same as without master-reboot, the sync fixed the problem.

[2020-04-20 07:53] rubencabrera commented on #71869
Hi, @tedyu

Yes, I checked that, we use some private repositories and images not available is a frequent problem, so it was my first thought when seeing that error. The image was available and running in other nodes of the same cluster.

[2020-04-20 08:13] tosi3k commented on #89961
@dims the test succeeded but I'm concerned about the actual commit I run the test on top of. It was the freshest one when I left work on Friday but I saw one with description `
switch over k/k to use klog v2` being pushed afterwards, hence I believe the test I started on Friday didn't really make sense :(. Shall I rerun the tests on top of the most recent change (which is cd1edd0 I believe but cor

[2020-04-20 08:25] serathius commented on #89961
@tosi3k Thanks for running it.
Could you provide link to dashboard with results?

I think intention was to do A/B tests. So run tests twice, one before the update and one after update. @mm4tt can you confirm?

[2020-04-20 08:31] mm4tt commented on #89961
@serathius, you're right, but we don't need to run the test twice manually. We can use a daily 5k CI/CD run as a baseline.
That being said, before we spin up the dashboards, I'd like to get answer to @tosi3k's question, i.e. whether the manual run he did actually had klogv2 enabled.

[2020-04-20 08:45] wangkai1994 commented on #90042
@uablrek
it's worked when i upgrade kernel to 5.5.
And we found the "root cause"(not sure) probably is we set ip_local_reserved_ports in sysctl . We reserved about 10000 port in system, and kernel function of assign tcp port have some bug(always assign port which is already used) in 3.10.x but it be better in 4.x or 5.x  (not sure) .

[2020-04-20 08:53] bappr commented on #19825
Hey guys,
Sorry to bump this up after 2 years, but still the same problem here.
I am getting a `137` error code while there is not OOM issue. And yes it's because of the liveness probe not being successful. But should not it get a different code since `137` should be reserved for OOM.

[2020-04-20 09:12] msschl opened #90293 "kubelet warnings W0420 flooding systemd logs (kubernetes 1.18.2)"
**What happened**:
there are many kubelet warnings in the systemd logs

[code]

I initialized the cluster with kubeadm init (no modifications)

**What you expected to happen**:

Not to have that many kubelet warnings in the system logs

**Anything else we need to know?**:

Environment:

- Kubernetes version (use kubectl version):
[code]
- Cloud provider or hardware configuration: `kubeadm on Ubunt

[2020-04-20 09:38] yanosh1982 opened #90294 "Why I can't reach an Angular app exposed with Kubernetes service?"
I'm new to Kubernetes. I successfully created a deployment with 2 replicas of my Angular frontend application, but when I expose it with a service and try to access the service with 'minikube service service-name', the browser can't show me the application.

This is my docker file

    FROM registry.gitlab.informatica.aci.it/ccsc/images/nodejs/10_15

    LABEL maintainer="d.vaccaro@informatica.aci

[2020-04-20 09:44] yanosh1982 commented on #90294
/sig service

[2020-04-20 09:50] yanosh1982 commented on #90294
/sig network

[2020-04-20 09:52] kozell commented on #19825
Subtract 128, and you will get the signal itself (signal 9 is SIGKILL).
See https://tldp.org/LDP/abs/html/exitcodes.html and https://www.gnu.org/software/bash/manual/html_node/Exit-Status.html

[2020-04-20 10:05] SerialVelocity commented on #90042
This sounds a bit like something I've debugged before. Can you try setting `--local-port 40008` in `curl` for both loops?

The problem I know about is having two entries in the connection tracking table which are actually the same entry but there's a hidden DNAT.

e.g.
 - Conn1 connects to `172.31.0.1:443`
   - The connection on the client side is being tracked by the tuple `(172.28.49.135,40008,1

[2020-04-20 10:06] vlad-vinogradov commented on #90271
@smarterclayton

Regarding to this remark (it does not directly relate to the issue)...
Unfortunately, the documentation doesn't have a clear definition of a term "Pod restart" and how this term differs from restarting single containers. We have the following Pod phases: Pending,  Running, Succeeded, Failed, Unknown.  But we have no "Init" phase.

The documentation says:

...
If the Pod restarts,

[2020-04-20 10:06] SimonHeimberg commented on #90131
Use case:
 * The cluster nodes are attached to several networks. I want to expose some services (by nodeport) public, and some to private network only.
* I want to expose some services to the nodes only (to nodes 127.0.1) and some to all interfaces
    (alternative in feature: "nodes resolve cluster dns", known issue: https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/#kn

[2020-04-20 10:13] dims commented on #89961
@serathius my bad, i had not pushed everything needed before i added that note :(

[2020-04-20 10:16] mm4tt commented on #89961
No worries, @tosi3k can confirm, but I think he reserved a slot for re-running the tests tomorrow.

@dims, could you please double check and give us an explicit green light confirming that the PR is ready to be tested?

[2020-04-20 10:17] bvivi57 commented on #90130
Hi, I review my configuration and I use this configuration for init my cluster

[code]

[2020-04-20 10:17] #90130 closed

[2020-04-20 10:26] dims commented on #89961
@mm4tt yes, what is in https://github.com/kubernetes/kubernetes/pull/90183 is good. specifically cd1edd0c0e06af7c4dd02838d55ccc84586c89fe is the last commit

For next time best way to cross check is ensuring that "k8s.io/klog" is removed from root go.mod/sum and "k8s.io/klog/v2" is added there instead.

[code]

[2020-04-20 10:56] tosi3k commented on #89961
Okay, I will run the test using cd1edd0 commit tomorrow and compare the results with our daily 5k CI/CD test run the day after tomorrow then.

[2020-04-20 11:03] hasheddan commented on #90107
@aojea I can definitely understand this point of view, and tend to agree. However, there are pros and cons to doing both per job and per test. I am going to open an issue in https://github.com/kubernetes/sig-release/issues to discuss further :)

[2020-04-20 11:25] JCzz commented on #90263
Right :-) I knew that..

I am running on GKE, and kubelet is not available.

I can not find mounted information with `kubectl describe nodes / <NodeName>`

DO you know how?

[2020-04-20 11:44] Cerberussian commented on #41638
same issue on GCP @ k8s 1.14

[2020-04-20 13:16] l1b0k opened #90298 "time-shifting cause kubelet failed to create container"
**What happened**:

time-shifting cause  container created in the feature.
when time shift back to now a days, kubelet will failed to created new container.

[code]

**What you expected to happen**:

kubelet should create container

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[2020-04-20 13:24] #85541 closed

[2020-04-20 13:57] liggitt commented on #90287
why are we initializing a timer with a zero duration? that looks related to this issue: https://github.com/golang/go/issues/10124#issuecomment-78006112

[2020-04-20 13:58] liggitt commented on #90287
I see us resetting a timer we have no guarantee is stopped/expired:

https://golang.org/pkg/time/#Timer.Reset

[2020-04-20 13:59] liggitt commented on #90287
https://github.com/kubernetes/kubernetes/commit/fc8a39d439ea08b006fb7ea1db1058175cc7adf5#diff-9be0989ea698ae219c147e34604ba215L168 dropped the `sawTimeout` information needed to accurately stop/reset the timer as documented

[2020-04-20 14:00] s3rj1k commented on #62720
@nevola Please reopen this, thanks.

[2020-04-20 14:02] nevola commented on #62720
/reopen

[2020-04-20 14:03] liggitt commented on #90262
what would the InformerFor method do if a custom list function was already present for a given object type? ignoring the `newFunc internalinterfaces.NewInformerFunc` parameter doesn't seem like a good interaction

[2020-04-20 14:13] alculquicondor commented on #88174
Note that if we add another parameter to the args, it would only be relevant for scoring, adding to the confusion.

[2020-04-20 14:25] codyaray commented on #84407
I'm running into the issue while running `sample-apiserver:1.17`. It looks like only `admissionregistration.k8s.io/v1beta1` is supported here. (Very new to this, so let me know if I'm missing something or looking at the wrong bits).

[code]

My logs have the same errors as the OP:
[code]

[2020-04-20 14:31] alculquicondor commented on #61185
I think this is more in the domain of sig-auth and wg-policy than sig-scheduling. I honestly don't know if there had been any progress.

@excavador could you work with them for prioritization?

[2020-04-20 14:32] klueska commented on #83483
/remove-lifecycle stale

[2020-04-20 14:35] liggitt commented on #84407
What version kube-apiserver are you running against? This API is only available in kubernetes 1.16+

[2020-04-20 15:13] zhan849 commented on #90287
Hi @liggitt thanks for providing the information!

seems like the correct place to initialize the timer is in the "Backoff" method, since zero duration is problematic.

When I was putting up the interface, I documented that the timer will not be drained, and the reason is that `Backoff()` returns a timer explicitly for user to block on that, so it might be confusing to block in `Backoff()` itself

[2020-04-20 15:22] soltysh commented on #87851
It looks like there's a race between when the pod gets created and when we try to connect to it, thus we're seeing `Error from server (NotFound): pods "success" not found` but further down in the logs the pod is `success  gce-scale-cluster-minion-group-4-rk9k  Pending`, I'll be looking more into ti.

[2020-04-20 15:23] soltysh commented on #89811
I think the root-cause here will be similar to https://github.com/kubernetes/kubernetes/issues/87851#issuecomment-616623789.
/assign

[2020-04-20 15:23] wawa0210 commented on #90263
Sorry, I do n’t know much about gke

[2020-04-20 15:29] tedyu commented on #90298
Is it possible to introduce a test which shows the problem ?

[2020-04-20 15:33] eplightning commented on #69082
The external RBD provisioner doesn't seem to support volume resize at all.

I'd suggest migrating to the Ceph CSI driver (https://github.com/ceph/ceph-csi) which at this point seems to support everything the in-tree driver does.

[2020-04-20 16:21] uablrek commented on #90042
@SerialVelocity Thanks for the info. Good finding! With your input I am able to re-create the problem in a controlled way.

### Test service/pod

Alpine is used;
[code]
You can login to a shell using `nc` through the service;
[code]
You will not get any shell prompt, "hostname" is typed as input.

### Re-create the problem
[code]
### Using proxy-mode iptables

This problem does **not** happen with

[2020-04-20 16:24] johnbelamaric commented on #85425
/reopen

[2020-04-20 16:27] #85519 closed

[2020-04-20 16:36] uablrek commented on #90042
@aojea @thockin

I think this problem can only be solved with some update in `ipvs` but should be *extremly* rare. It can be documented but is so obscure so I find it hard to describe in an understandable way.

I un-assign myself and let you decide how to proceed.

[2020-04-20 16:36] ingvagabund commented on #89521
/close
done

[2020-04-20 16:37] #89521 closed

[2020-04-20 16:39] uablrek commented on #90042
This problem is not dependent on K8s or Linux kernel version. I used;
[code]

@wangkai1994 I think the reason you got better result with linux-5.x was better port randomization or pure luck.

[2020-04-20 16:43] SerialVelocity commented on #90042
@uablrek Can you try repro'ing this with iptables? If you connect using the cluster IP first, you then have the port to use when connecting directly to the pod. I'm wondering if the rules in iptables are considered before computing the conntrack entry.

[2020-04-20 16:48] itskingori commented on #68712
/remove-lifecycle stale

[2020-04-20 16:49] uablrek commented on #90042
I did try with proxy-mode iptables and did not get the problem.

[2020-04-20 16:57] lavalamp commented on #89948
The kubelet must somehow know its kubernetes node object. I'd look at how it's configured in this environment.

[2020-04-20 17:04] lavalamp commented on #89080
Thanks for the feedback.

On Sun, Apr 19, 2020 at 12:19 PM Michael Cristina <notifications@github.com>
wrote:

[2020-04-20 17:24] aojea commented on #90258
this seems a duplicate of #90042 , @weizhouBlue are you using kube-proxy in ipvs mode?

[2020-04-20 17:35] thockin commented on #90131
Thanks for the extra context.  It sounds like there's semantic metadata about IPs that humans know, but is not represented (or not used well) in Kubernetes.

For example, Node objects carry a list of addresses, which have some metadata (which is not very well structured, but at least it exists).  I don't think we should force service authors to think in terms of node IPs but instead describe their

[2020-04-20 17:44] cbf123 opened #90303 "Container cpuset lost, apparently due to race between PostStopContainer() and new container creation"
**What happened**:
A container which had exclusive CPUs assigned to it (and an entry in /var/lib/kubelet/cpu_manager_state specifying those CPUs) was killed.  When it came back, it was using the default cpuset, and its entry in /var/lib/kubelet/cpu_manager_state was gone.

**What you expected to happen**:
It should have been given exclusive CPUs.

**How to reproduce it (as minimally and precisely

[2020-04-20 17:55] uablrek commented on #90042
@wangkai1994 This;

is really interresting, specially since #90258 also apperas with a 3.10 kernel.

Do you have any more info on it?

[2020-04-20 17:57] thockin commented on #90101
I think there are 2 questions here:

1) If I specify an `ipFamily` for my service, are those same nodePort numbers available on the alternate family?

2) If I do not specify an `ipFamily`, are those nodePorts listening on both families?

I think (2) should be true when we enable multi-family endpoints (EPSlice already does, I think?).

I am less convinced about (1).  Technically it is solvable, bu

[2020-04-20 18:02] cbf123 commented on #90303
/sig sig-node

[2020-04-20 18:03] cbf123 commented on #90303
/sig node

[2020-04-20 18:35] uablrek commented on #90042
A test with proxy-mode=iptables;
[code]
The source port in the second connect is NAT'ed.

[2020-04-20 18:36] virtualdxs commented on #89129
@liggitt Is there a way to use kubectl apply with --from-file and similar without a pipe as @matanshukry demonstrated above?

[2020-04-20 18:45] uablrek commented on #90042
I do not really understand what happens in iptables-mode above. Random-fully does not seem to have anything to do with it (my bad) since the source port 48000 is preserved in the connect to clusterip, but is NAT'ed in the direct connect. Is the kernel smart enough to see it has already used the source-port and NAT it even though it is a direct connect?

[2020-04-20 18:51] puerco opened #90304 "v1.19.0 Release Notes: "Known Issues""
This issue is a bucket placeholder for collaborating on the "Known Issues" additions for the 1.19 Release Notes. If you know of issues or API changes that are going out in 1.19, please comment here so that we can coordinate incorporating information about these changes in the Release Notes.

/assign @kubernetes/release-team

/sig release
/milestone v1.19

[2020-04-20 19:28] tedyu commented on #90303
I wonder if the RemoveContainer() in PostStopContainer can be dropped:
[code]
since RemoveContainer() is also called in PreStopContainer

[2020-04-20 19:38] jayunit100 commented on #90108
@tedyu  @talonx want to live debug this some time? If so reach out on k8s slack.  otherwise I think  its not reproducible in its current form.

[2020-04-20 20:15] Harkishen-Singh commented on #90065
@soltysh @smarterclayton views? If we are good to go on this, I will love to take this up.

[2020-04-20 20:17] Harkishen-Singh commented on #90065
/area kubectl

[2020-04-20 21:21] SerialVelocity commented on #90042
@uablrek Yes, you can "bypass" the "random fully" option by doing what I said above. You can look up the client port after you have initiated the cluster IP connection.

[2020-04-20 21:26] alculquicondor opened #90308 "Use maxSkew in TopologySpreadingContraint to affect scoring weight"
Spin-off from #88174

**What would you like to be added**:

Use maxSkew in TopologySpreadingContraint to affect relative weight of the constraint.
Exact formula to be discussed.

Some ideas:
1. `baseScore / maxSkew`, intuitive but too coarse-grained at low numbers. Goes: 100%, 50%, 33%, 25%, 20%
1. `baseScore * (k+1) / (k + maxSkew)` some linearity. For `k=1`, goes: 100%, 66%, 50%, 40%, 33%
1. `ba

[2020-04-20 21:26] alculquicondor commented on #90308
/sig scheduling

[2020-04-20 21:54] DirectXMan12 commented on #89964
Looks like it was introduced recently in https://github.com/kubernetes/kubernetes/pull/74525 (FWIW, I no longer work on autoscaling, and this was introduced after my tenure).

[2020-04-20 22:52] Huang-Wei commented on #90308
1 maybe the most compatible option with the current zone:node ratio (2:1):

https://github.com/kubernetes/kubernetes/blob/b35fdbc0370c11db06ee30be579f83aff62932fb/pkg/scheduler/framework/plugins/defaultpodtopologyspread/default_pod_topology_spread.go#L46

[2020-04-20 23:02] johanfleury opened #90311 "Build position independent executables"
## What would you like to be added:

Currently `kubelet` is dynamically linked but is not built as a position independent executable. It would be great if it could be built with Go’s `-buildmode=pie` flag to enable ASLR.

## Why is this needed:

I’m not a security expert, and I’m not familiar with those concepts, but it seems that ASLR is a pretty common (and recommended) security mechanism.

If I

[2020-04-20 23:11] alculquicondor commented on #90308
Not quite. The ratio is correct, but the weight is different.

original: `1/3 * node_score + 2/3 * zone_score`
prop 1: `1/4 * node_score + 1/2 * zone_score`

[2020-04-20 23:19] mikedanese commented on #63726
cc @happinesstaker

[2020-04-20 23:20] ksubrmnn opened #90315 "Endpoint Slices for Windows Kube Proxy"
**What would you like to be added**: EndpointSlice support for Windows in Kube Proxy
**Why is this needed**:
The EndpointSlice API allows Kubernetes to
* Support tens of thousands of backend endpoints in a single service on cluster with thousands of nodes.
* Leave room for foreseeable extension:
  * Support multiple IPs per pod
  * More endpoint states than Ready/NotReady
  *  Dynamic endpoint sub

[2020-04-20 23:20] ksubrmnn commented on #90315
/sig windows network

[2020-04-20 23:21] ksubrmnn commented on #90315
@marosset @robscott

[2020-04-20 23:31] johanfleury commented on #90311
/sig release

[2020-04-21 00:09] thockin commented on #89263
This is interesting.  The SIGTERM would be delayed, so even apps that do the
wrong thing (stop accepting) would be handled.

We would need to couple this with Andrew's change to track terminating pods.
If there are other viable pods, in-bound traffic would go to them  If ther are
not, we would still route in-bound traffic to the terminating ones.

The real problem here is that it is still time-bas

[2020-04-21 00:19] zhan849 opened #90318 "etcd crazy leadership switch"
**What happened**:
We started to monitor etcd metrics with a kops setup k8s. and we realized that it's leadership is constantly switching. This seems a bit scary regarding a kv store to me. Wondering if anyone is also monitoring etcd and what's the leadership change behavior?

We are monitoring `etcd_server_is_leader` metrics with hostname as label (generated by our internal monitoring system)

**

[2020-04-21 00:25] zhan849 commented on #90318
nvm etcdctl does not say so, so probably series joining problem. Closing the issue to avoid confusing but if anyone sees similar things feel free to keep the discussion going

/close

[2020-04-21 00:26] #90318 closed

[2020-04-21 01:20] l1b0k commented on #90298
it is easy to reproduce

1. change time to feature

[code]

2. kill container `b54bf352412d`

[code]

3. change time to now

[code]

4. kill container `75b271177aaa`

[code]

this result in name conflict

[code]

[2020-04-21 01:34] msau42 commented on #75535
/lifecycle frozen
We plan to fix this with https://github.com/kubernetes/kubernetes/pull/88759

[2020-04-21 02:07] dcbw commented on #88986
Proposed kernel patch for some configurations: https://marc.info/?l=netfilter-devel&m=158742974931309&w=2

[2020-04-21 02:56] mitar commented on #80346
/remove-lifecycle stale

[2020-04-21 03:44] tedyu commented on #90303
Considering the following change based on discussion over Slack with @klueska
[code]

[2020-04-21 04:01] KylanZhang commented on #82958
I have the same issue. Is there any impact?

[2020-04-21 04:08] xiuxiu commented on #27000
My application requires a lot of Disk IO. It will impact ETCD a lot. ETCD will come to unhealthy occasionally.

[2020-04-21 04:35] answer1991 commented on #90160
/cc

[2020-04-21 05:04] MikeSpreitzer commented on #89874
The particularly difficult thing about patching is that it is very easy for a client developer to make a mistake that produces an unexpected result and NO error NOR warning message on the server.  Just goof up a field name or a bit of structure, and the patch has little or no effect on the target object.

I suppose it should be possible --- for JSON merge and for strategic merge patches --- to add

[2020-04-21 05:27] uablrek commented on #90042
Let's take this in steps so there is no misanderstanding;

1. Exec into a pod and connect to the clusterip explicitly using port 48000
[code]
2. Check the connection in the *server* pod
[code]
NOTE that the foreign port really is 48000, i.e it has *not* been NAT'ed
3. Make a direct connect to the server pod address from the same client pod again using port 48000
[code]
4. Check the connections in

[2020-04-21 05:40] #84269 closed

[2020-04-21 05:41] thockin commented on #60535
Given that we want the env-vars to go away over time, I really really do not want to add this.  It's already a somewhat incompatible change (*_SERVICE_HOST has always been an IP, I can't say for sure whether it is safe or not to put a hostname).

What if we had a small sidecar container that watched a Service, extracted the name, and wrote it to a file, so you could share it via a volume?  Would t

[2020-04-21 06:33] wangkai1994 commented on #90042
@uablrek Thanks for the troubleshooting! proxy-mode=iptables is good for us, but we want to found the root cause ,because we have the same problem when we use loadbalancer(based ipvs nat,like:keepalived) .

We think there is two problems:
1.IPVS NAT not support simultaneous access vip and realserver ip by same client port  ?
2.Realserver not support two connections use same client port   ?

@Seria

[2020-04-21 06:58] nqdrizzt opened #90326 "K8s initialisation pulls 2 different pause container"
**What happened**:
After installing k8s v1.18.2 in combination with containerd and initializing the environment, the local container registry contains 2 pause container in different versions

**What you expected to happen**:
There is just the latest pause container in the local registry

**How to reproduce it (as minimally and precisely as possible)**:
user@host:~$ sudo crictl images
IMAGE

[2020-04-21 06:59] vespian opened #90327 "Kublet using PIDs for scope names can result in collisions and containers crash-looping."
**What happened**:
One of our deployments failed due to the fact that there was PID collision while mounting a config map. Kubelet is using systemd-run command to mount config maps, but unfortunately, the way systemd-run chooses the scope names is pretty simple - it just uses PIDs by default to differentiate scope names which can lead to collisions [2]. As a remedy, we could make kubelet start usi

[2020-04-21 07:04] vespian commented on #90327
/sig node

[2020-04-21 07:51] weizhouBlue commented on #90258
use  kube-proxy uses iptables mode

The situation seems to be a little different from #90042 .
90042  issue happened when two tcp session : pod1 (pod2 ip)-> node2 -> pod2   and  pod1 (pod2  VIP)-> node2(IPVS/LVS DNAT) -> pod2 , and the DNAT happening node2 make  a same tcp session with same 5-tuple.

And this case happened when  two tcp session : node1(pod2 ip)->node2(api-server) and node1(pod2 cl

[2020-04-21 08:21] matrixji commented on #89392
I reproduced this problem using IPVS mode, and summarize my findings below:

- setup 3 masters(also act as node): node1, node2, node3.
- install some apps we using in out products.
- poweroff the node2, and execute below command immediately:
[code]
- then I using below scripts to check if there are some incorrect ipvs rules in node1 & node3 (we using 172.20.0.0/16 for pods CIDR).
[code]

- after 2

[2020-04-21 08:24] mm4tt commented on #75541
/remove-lifecycle stale
/lifecycle frozen

[2020-04-21 08:42] zx8 opened #90329 "`kubectl explain` does not include whether a field is required"
If I run:

[code]

It tells me that the field is `-required-`, but if I run:

[code]

The `-required-` information is missing.

It would be helpful to have this information included when directly explaining a field without having to rely on `grep` to filter it out.

**Environment**:
[code]

[2020-04-21 08:47] zx8 commented on #90329
/sig cli

[2020-04-21 08:52] aojea commented on #71565
/reopen

Until this is clean :)

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=%5C%5Bsig-network%5C%5D%20Network%20should%20set%20TCP%20CLOSE_WAIT%20timeout%20%5C%5BPrivileged%5C%5D

[2020-04-21 08:59] uablrek commented on #89392
It does not look that way. The important difference is that the "weight" for your old entry is "0" meaning that no new connects will use that entry, This is (as you mentioned) a part of the "graceful" shutdown and is ok.

[2020-04-21 09:17] matrixji commented on #89392
Agree with it, that is to say I'm not reproducing this issue.

[2020-04-21 09:18] eddytruyen commented on #90133
I have been able to reproduce the increase of response latency in a normal Cassandra docker container by setting the `--cgroup-parent` option of the `docker run` command equal to the CgroupParent of the Cassandra Pod (or the pause container of the Pod).

Kubernetes 1.14 (kubeadm) has been used.

I've attached the kubepod slice as a tarball.
[kubepod-slice.tar.gz](https://github.com/kubernetes/kube

[2020-04-21 09:23] The-Loeki commented on #81089
Not only that, but here in 2020 people more often than not seem to forget that containers are by default not a security boundary nor should there be any kind of architectural problem of giving a file/mount the proper ACLs. It is 2020 after all.

[2020-04-21 09:45] answer1991 commented on #90058
/cc

[2020-04-21 09:51] cann0nf0dder opened #90331 "k8s 1.17 kubelet doesn't start on coreos"
**What happened**:
After upgrade to kubernetes 1.17.5 kubelet does not start
I couldn't find documentation about change to kubelet startup in the release notes.
Found few people running into the same issue on slack. No solution found.

**What you expected to happen**:
Kubelet starts fine same as on 1.16 branch.

**How to reproduce it (as minimally and precisely as possible)**:
Upgrade to 1.17.5 on

[2020-04-21 09:53] answer1991 commented on #90058
Should we remove kube-apiserver flag `--watch-cache-sizes`? After #90091 merged, flag `--watch-cache-sizes=` looks like meaningless.

[2020-04-21 10:12] cann0nf0dder commented on #90331
/remove-sig sig/network

[2020-04-21 10:12] claudiubelu commented on #86257
No longer needed, the dnsutils image has been centralized into agnhost, and it includes CoreDNS.

/close

[2020-04-21 10:13] #86257 closed

[2020-04-21 10:24] bamarni commented on #78879
I've opened https://github.com/kubernetes/kubernetes/pull/90333 with a fix.

[2020-04-21 11:07] uablrek commented on #90186
It is sufficient to scale the deployment down `kubectl scale deployment --replicas 0 ...`.

A number of !=0 seem to work. Also the lingering entries are immediately corrected when you scale up again from 0.

[2020-04-21 11:28] wojtek-t commented on #90058
We're not ready. As mentioned above:
- I would like to wait for some time to validate it - I see a little bit more increases than I would expect
- the constants still determine the initial size

Yes - we should remove it, but not now.

[2020-04-21 11:32] neolit123 commented on #81146
/remove-lifecycle stale

[2020-04-21 11:35] davesargrad commented on #88986
@dcbw Thanks much for letting us know. Do you have a sense of when that patch will be released with a kernel update?

[2020-04-21 11:43] cji commented on #81146
/lifecycle frozen

[2020-04-21 11:57] zischknall opened #90334 "ContainerLogMaxFiles not being honored for dead containers"
**What happened**:
When a pod gets restarted because of a failed livenessProbe or similar the setting of `ContainerLogMaxFiles` is not getting honored.

Here is an `ls` of the log directory of my test pod which has a intentionally failing livenessProbe:
[code]

Only for the currently running pod this setting was honored, when I delete the deployment and recreate without the livenessProbe there are

[2020-04-21 12:04] zischknall commented on #90334
/sig node

[2020-04-21 12:45] bamarni commented on #78879
@Ark-kun : what version of kubectl are you using? I tried to upload a file to a non-existent pod and it failed with an error message (using the master branch) :

[code]

[2020-04-21 13:12] jasonchester commented on #85389
seeing this issue where endpoints are not picking up running pods.

❯ kubectl version
[code]
❯ kubectl get endpoints api-gateway-ui-konga -o yaml
[code]

❯ kubectl get pod api-gateway-ui-konga-58d68766b-mqpkc -o yaml
[code]

/remove-lifecycle rotten

[2020-04-21 13:14] dims commented on #90334
Are you using `docker` runtime? please see the flag description

[code]

[2020-04-21 13:19] edganiukov commented on #64616
/reopen

[2020-04-21 13:20] edganiukov commented on #64616
/remove-lifecycle rotten

[2020-04-21 13:46] zischknall commented on #90334
No, we are using `containerd` as a runtime. Forgot to mention that.

[2020-04-21 14:28] tedyu commented on #90327
The referenced file seems to be relocated in master branch:
./vendor/k8s.io/utils/mount/mount_linux.go

Do you want to submit a PR ?

[2020-04-21 14:34] aojea commented on #89358
/close
just some thoughts, It will really useful knowing if anybody is using this option and in which scenario, but since we have it we should test it :smile:

[2020-04-21 14:42] andrewsykim commented on #89358
/reopen

@aojea I'd like to keep this open until we have documentation for this.

[2020-04-21 14:43] andrewsykim commented on #89358
/re-open

[2020-04-21 14:43] andrewsykim commented on #89358
@lbernail are you using session affinity with IPVS at all?

[2020-04-21 14:55] tedyu commented on #90334
/assign

[2020-04-21 14:58] tedyu commented on #90334
@zischknall
Can you check kubelet log to see if there was log in the following form:
[code]
thanks

[2020-04-21 15:00] vespian commented on #90327
Yep :)

[2020-04-21 15:13] mcristina422 commented on #85389
@jasonchester Your pod is considered not ready. The fix is in 1.15.8. Updating past that version should fix your problem
 https://github.com/kubernetes/kubernetes/pull/86195

[2020-04-21 15:22] claudiubelu opened #90336 "Windows: subpath mount changes on a container restart if the environment variable changes"
**What happened**:

The test ``[k8s.io] Variable Expansion should not change the subpath mount on a container restart if the environment variable changes [sig-storage][Slow] [Conformance]`` fails on Windows. On container restart, the subpath mount changes.

The test does the following:

- spawns a Pod with an EmptyDir volume mounted in 2 locations: ``/volume_mount`` and ``subpath_mount`` (the 2nd

[2020-04-21 16:34] adelina-t commented on #90142
It shouldn't be difficult to create the test container images, especially with the work that @claudiubelu has done with the image promoter it should be reasonably pain free to create different versions for images. @claudiubelu  thoughts?

[2020-04-21 16:36] johngmyers commented on #60535
There is a variance between the documentation and the behavior of the code, which is by definition a bug. If the intention is to not bring the code into conformance with the documentation, then the documentation should be changed to accurately describe the intended behavior.

[2020-04-21 16:38] immuzz opened #90340 "ListContainers/ListPods etc. should be scalable."
**What would you like to be added**: Turning Crictl ps -a (i.e. listContainers, listPods) into a pageable API.

**Why is this needed**: This will allow clients to always be able to eventually iterate all containers/sandboxes, even when the lists get long

[2020-04-21 16:54] danwinship commented on #90131
The KEP (https://github.com/kubernetes/enhancements/pull/1665) currently includes the note:

[code]

At the moment I'm leaning more towards "make sure to design things so that this could be added in the future" rather than "add this now".

[2020-04-21 16:55] johngmyers commented on #60535
As I see it, the point of the env-vars interface is to get data into simple programs without having to put complicated logic inside the image. As the current implicit API appears to be problematic, perhaps an explicit API, for example adding a `serviceRef` field to `EnvFromSource`, would suit.

[2020-04-21 16:59] immuzz commented on #90340
/sig node

[2020-04-21 17:07] asauber commented on #60535
@thockin I would love to get rid of these environment variables, unfortunately, they are the [source of truth for client-go, and thus almost every Kubernetes controller in the wild](https://github.com/kubernetes/client-go/blob/9bbcc2938d41daa40d3080a1b6524afbe4e27bd9/rest/config.go#L456).

I work in an environment where for various reasons the Kube apiserver can only be reached by a DNS name. What

[2020-04-21 17:09] puerco commented on #90304
/cc @JamesLaverack @reylejano-rxm @wilsonehusin

[2020-04-21 17:26] ryan-cradick commented on #87197
Is anyone currently working this? @prankkelkar did you get enough details to keep working this?

[2020-04-21 17:45] thockin commented on #60535
This is not impossible, but frankly, every API feature we add comes with long-term cost to maintain, and they need to be worthwhile. Env vars are a terrible API for several reasons and I don't want to add API to make them even more complicated to use, especially for non-constant values.  I'd rather fix it as proposed in this issue or punt entirely to sidecars.

The benefit of a more general soluti

[2020-04-21 17:51] ttinkr commented on #79224
+1 reopen

[2020-04-21 18:02] asauber commented on #60535
@thockin I'd be happy to write up the KEP

[2020-04-21 18:09] kvaps commented on #89181
Any Idea why is it still not working on `v1.18.2`?

[code]

[code]

[2020-04-21 18:15] liggitt commented on #89740
Yes, this is a real bug.

The application of the patch sent to scale subresources should be done inside the guaranteedupdate loop. Reproducer test and fix in progress at https://github.com/kubernetes/kubernetes/pull/90342

[2020-04-21 18:33] jinoj opened #90344 "is possible to call api name in externalname services?"
Hi,

Apologies is this is not the place for this question, but I can't seem to find an answer anywhere else. As the question states,

---
kind: Service
apiVersion: v1
metadata:
 name: apim
spec:
 type: ExternalName
 externalName: jinoj.api.net

Error: HTTP Error 503. The service is unavailable.

[2020-04-21 18:39] rikatz commented on #90228
@ydcool I got no preliminary conclusions, as it's not possible to reproduce nor to check the full log error line ;(

I'll wait a while to check if you can reproduce the error, otherwise please let me know if we can close this issue.

/triage needs-information

[2020-04-21 18:39] rikatz commented on #90228
/remove-triage unresolved

[2020-04-21 18:45] rikatz commented on #88986
/remove-triage needs-information

[2020-04-21 18:53] sftim commented on #52172
I wonder if log rotation could use an atomic swap to avoid the race condition. I mentioned this in https://github.com/kubernetes/kubernetes/pull/89160/files#r412408067

[2020-04-21 18:57] rahulwagh opened #90345 "kubernetes - Couldn't able to join master node - error execution phase preflight: couldn't validate the identity of the API Server"
**What happened**:
After setting up the master node, worker node couldn't able to join the master. I get the error message  - "couldn't validate the identity of the API Server"

**Here are the details** - I am using VMs

   1. master - 2cpu, 2 GB memory
   2. worker - 1 cpu, 1 GB memory
   3. OS - ubuntu - Ubuntu 18.04.3 LTS- hashicorp/bionic64

I did setup the master node successfully and i can s

[2020-04-21 20:21] liggitt commented on #90331
It appears the kubelet-wrapper script is [using hyperkube](https://github.com/coreos/coreos-overlay/blob/master/app-admin/kubelet-wrapper/files/kubelet-wrapper#L4-L6), which was deprecated in 1.17 (xref #84662).

Additionally, it appears the kubelet-wrapper script is [explicitly unsupported](https://github.com/coreos/coreos-kubernetes/blob/master/Documentation/kubelet-wrapper.md#kubelet-wrapper-sc

[2020-04-21 20:22] liggitt commented on #90331
I think the https://github.com/coreos/coreos-kubernetes/issues/930 issue is probably the right place to track this

[2020-04-21 20:25] fedebongio commented on #90217
/assign @jpbetz @cheftako

[2020-04-21 20:46] liggitt commented on #90329
The `required` attribute is in the container schema... by traversing further down into the schema to a particular field, the fact that the name field required is not currently available to the printer

[2020-04-21 21:03] anyasabo commented on #88097
I believe we are also running into this issue in 1.15.3. We have (namespace-scoped) CRs that have a lot of child objects in the same namespace. During k8s cluster maintenace, we see in the API server audit logs that the GC deletes a lot of the children objects, even though the parent CR has not been deleted. We are trying to reproduce it but have been unsuccessful so far, but wanted to chime in on

[2020-04-21 21:06] mltsy commented on #12123
Kinda seems like [you did think of it before](https://github.com/kubernetes/kubernetes/issues/12123#issuecomment-215124565) 😄  (Or maybe there's a distinction I'm missing!) In any case, I like it! Until there's a solution, here's an xargs example:

[code]
(`-print0` and `-0` flags are only needed if your filenames have spaces or newlines in them, so that both programs use null characters as a sepa

[2020-04-21 21:14] tedyu opened #90346 "getPodContainerStatuses should handle exited container"
**What happened**:

For the following container:
[code]
The corresponding container state was Terminated :
[code]
Inside kubeGenericRuntimeManager#getPodContainerStatuses, there was no check on the c.State (container state) when we receive the result of runtimeService.ListContainers().
When runtimeService.ContainerStatus() returns container not found error, the loop over containers exits.

**What

[2020-04-21 21:23] tedyu commented on #90346
/assign

[2020-04-21 21:37] kvaps commented on #89181
My bad, first fix does not solves the original problem, here is new one:
https://github.com/kubernetes/utils/pull/161

[2020-04-21 21:41] zhan849 commented on #90287
/cc @wojtek-t thoughts? ^^

[2020-04-21 22:19] pnnlrck8sstatus commented on #60987
I've seen this a lot too. We also are using ceph-csi plugins.

[2020-04-21 22:47] howardjohn commented on #63726
It would be useful to consider if we want a specialized API (mounted ca certs) vs a more generic case like ClusterConfigMap. If we do go for the specialized API, we probably need to careful construct it to not allow "abusing" the API to mount all sorts of other things in the API, in which case we just end up with a poor form of ClusterConfigMap. Because if you we just build an API to mount generic

[2020-04-21 23:03] vgarcia-te commented on #67577
I guess a good way to see what kernels have been patched is in one of the last slides from @chiluk (thanks for this btw) talk https://www.youtube.com/watch?v=UE7QX98-kO0

Kernel 4.15.0-67 seems to have the patch (https://launchpad.net/ubuntu/+source/linux/4.15.0-67.76) however, we are still seeing throttling in some Pods where requests/limit is way above their CPU usage.
I'm talking about around 3

[2020-04-21 23:35] eriksywu commented on #90255
working on this as my first issue

[2020-04-21 23:36] eriksywu commented on #90255
/assign eriksywu

[2020-04-22 01:55] mattjmcnaughton commented on #89443
:wave: hiya @sam-gaylert !

Are you still thinking you could be interested in working on this? Lmk if so, and we can chat about next steps?

If not, perhaps I'll open it back up to a newcomer looking for a first commit?

[2020-04-22 02:08] regardfs commented on #90188
/cc

[2020-04-22 02:12] zhaoxinjie0 commented on #90345
I have the same question with you.
Set args `--anonymous-auth=true` may resolve yours when join master node.

[2020-04-22 03:08] feiskyer opened #90351 "Refresh Azure token on 403"
**What happened**:

When customer grants a new permission to the identity used by Azure cloud provider, it may need up to 1 hour for the permission programmed and token refreshed.

**What you expected to happen**:

Azure cloud provider should refresh the tokens when it gets 403 when accessing Azure resources. To avoid flushing token requests, backoffs should also be applied on token refreshing.

*

[2020-04-22 03:45] xiaoanyunfei commented on #90298
same issue #https://github.com/kubernetes/kubernetes/issues/83050

[2020-04-22 04:02] #85360 closed

[2020-04-22 04:02] #85487 closed

[2020-04-22 04:02] #85531 closed

[2020-04-22 04:15] perrefe commented on #70411
I'm facing this issue on version v1.18.2 installed via kubelet. I'm using the same haproxy instance (1.5.18) and config as balancer used for version v1.17.3 which has no problems.

[2020-04-22 05:11] uablrek commented on #90344
/remove-triage unresolved
/triage support

[2020-04-22 05:19] uablrek commented on #90344
Please use the issue templates, in this case support request.

A good place to start is the #sig-network slack; https://kubernetes.slack.com/messages/sig-network

That said, to setup externalName is done by the cloud-provider, not Kubernetes itself. So relevant information here is which cloud-provider you use.

A bit more details would be good. As I understand your question you add a service as yo

[2020-04-22 05:20] limbuu commented on #65500
We had the same issue recently unable to mount with nfs volume mount which was working perfectly from very long time. We had upgraded kubernetes to 1.14 version and there was a node autoscaled which had network isssue. When i removed the node with the network issue, the volume was attached again. So, check for node health and event longs of node, also check if all the daemon pods are working perfe

[2020-04-22 06:50] Nuru commented on #67577
@vgarcia-te There are far too many kernels circulating around to know from a list which have been patched and which have not. Just look at all the commits referencing this issue. Several hundred. My reading of the changelog for Ubuntu suggests that 4.15 has not yet been patched (except mabye for running on Azure), and the patch you linked to was [rejected](https://launchpad.net/ubuntu/+source/linu

[2020-04-22 07:13] #80611 closed

[2020-04-22 07:53] zischknall commented on #90334
Grepping for `failed to` I found this a lot:
[code]
and one instance of this:
[code]

[2020-04-22 07:59] BenTheElder commented on #90117
@aojea entirely possible, I meant the individual e2e tests, since I don't see any obvious issues with the job overall.

[2020-04-22 08:14] tosi3k commented on #89961
I ran a test job with the experiment and the test passed. Looking at the dashboards I noticed a few changes:
* Clusterloader
LIST calls for pods in the namespace scope take more time on average than before change (1.63s vs. 3.59s),
* etcd
number of bytes sent to gRPC clients rose quite considerably (3.16 MB vs. 13.3 MB on average)
apart from that everything looks pretty much the same
* kube-apiser

[2020-04-22 08:24] alok87 commented on #67577
@justinsb Please suggest if the default kops images have the patch or not
https://github.com/kubernetes/kops/blob/master/channels/stable

[2020-04-22 08:30] serathius commented on #89961
@mm4tt does this look ok for you?

[2020-04-22 08:36] mm4tt commented on #89961
Thanks, @tosi3k!

The latency of the pod lists seems suspicious, but my intuition says it's a red herring, most likely coming from the different setup of the test runs. The CI/CD test uses configuration than the manual test. For manual test, we used our scalability prow instance, it's likely that the cl2 was run in different region than the cluster, which could affect the pod list (IIRC, cl2 is th

[2020-04-22 08:47] yuyulei commented on #90262
@liggitt right, it will be conflict and confused if WithCustomResourceListFunc[above] and [InformerFor](https://github.com/kubernetes/client-go/blob/master/informers/factory.go#L165) both can define the  list function.

How about `CustomerListOptions`, like:

[code]
when generating cache ListFunc, like [NewFilteredStorageClassInformer](https://github.com/kubernetes/client-go/blob/4b7e8bfcc1459c84b

[2020-04-22 08:54] bacicrajko commented on #79224
Please consider reopening this. +1 for reopen

[2020-04-22 09:09] metatick commented on #53533
Recently we attempted to migrate all our docker-based services into Kubernetes, but had to abandon the project due to swap being unsupported.

We found that we would have needed to provision 3 times the amount of hardware in order to support the exact same number of containers we were currently running with swap enabled.

The main issue is that our workload consists of a number of containers which

[2020-04-22 09:16] aojea commented on #71565
@spiffxp seems there is progress, there was no failure during more than one day in the `pull-kubernetes-e2e-gce-*` jobs , however, the `ci-kubernetes-e2e-gci-gce-*` jobs there are still registering failures.

Is it possible that the `ci-kubernetes-e2e-gci-gce-*` are running with older versions?

[2020-04-22 09:19] mm4tt commented on #87851
Thanks, @soltysh

Any update on this?

[2020-04-22 09:19] YuikoTakada commented on #89930
/assign
k8s.io/kubernetes/pkg/controller/volume/scheduling

[2020-04-22 09:27] #89528 closed

[2020-04-22 09:30] sheerun commented on #70147
/remove-lifecycle stale

Any decisions from kubernetes team about this feature?

[2020-04-22 10:07] MartinSoto commented on #60295
Any updates on this? Looks simple enough to me.

[2020-04-22 10:28] yueyongyue opened #90358 "k8s.io/api@v0.0.0: reading k8s.io/api/go.mod at revision v0.0.0: unknown revision v0.0.0"
**What happened**:
go mod tidy
[code]

**What you expected to happen**:
go mod tidy  command Install dependencies

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install t

[2020-04-22 10:32] JBerny opened #90359 "Node label is not updated and not deleted"
**What happened**:
I had a worker node with in my cluster with a label that was not being updated via kubectl.
The command `kubectl` label node minio3  node-role.kubernetes.io/minio=minio3` returned
"node/minio3 labeled"

However, when listing the labels on the node, the label had not changed.
[code]

So, I drained the node and delete the node. Then i made the node join again the cluster with the

[2020-04-22 10:35] skipor commented on #65062
/reopen

[2020-04-22 11:05] zerkms commented on #67577
@Nuru

[code]
those results are from the

[code]

It's a default latest stable ubuntu kernel in ubuntu 18.04.

So, it looks like patch *is* there.

[2020-04-22 11:22] wojtek-t commented on #87851
/cc

[2020-04-22 11:38] tedyu commented on #90334
Both occurrences were about 'log2much'
Can you investigate a bit why it got into CrashLoopBackOff ?

Thanks

[2020-04-22 13:08] liggitt commented on #89874
I actually just started a proposal for server -> client warnings (https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1693-warnings) which could surface something like that in the future, though getting the "field X in patch didn't exist so was ignored" plumbed out of the patch/json stack without erroring would be non-trivial as well.

[2020-04-22 13:33] soltysh commented on #90065
This is handled on per-resources basis. We expand each resource when there's a specific request. So @mcandre feel free to say what exactly you're missing and we can address that.
Our current focus will be on moving describe functionality to the server.

[2020-04-22 13:38] zischknall commented on #90334
I made the livenessProbe fail repeatedly on purpose to induce the log behavior, this is why ito got into BackOff

[2020-04-22 13:38] soltysh commented on #87851
Sorry I got sidetracked yesterday and I'm back investigating this just now...

[2020-04-22 13:58] avanier commented on #63726
From the short conversations I've had with colleagues I believe we're seeing a specialized API more than a generic one. I'm not sure a `ClusterConfigMap` would be sufficient to perform the task of merging CA bundles, well not dynamically anyway. One could certainly use `ClusterConfigMap` that to provision static or externally maintained bundles.

Mildly related, [this article][sslsux] explores the

[2020-04-22 14:03] jbotelho2-bb opened #90361 "Allow directly setting http proxy on SpdyRoundTripper"
**What would you like to be added**:
I would like to allow setting the [proxier field of SpdyRoundTripper](https://github.com/kubernetes/kubernetes/blob/fc9d1741022a8b367e8f91236d0c41111d47684d/staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper.go#L65), either by making it a public field, or having some other way to set it.

**Why is this needed**:
Currently, it seems the only w

[2020-04-22 14:06] jbotelho2-bb commented on #90361
/sig api-machinery

[2020-04-22 15:08] pohly opened #90362 "unexpected CSI calls from kubelet"
### Failure cluster [6232ea27e7bd8e0e9581](https://go.k8s.io/triage#{id})

##### Error text:
[code]
#### Recent failures:
[4/22/2020, 3:24:33 PM ci-kubernetes-e2e-gci-gce](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1252951367505416196)
[4/22/2020, 1:00:47 PM ci-kubernetes-e2e-gce-multizone](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-g

[2020-04-22 15:09] Thematrixme commented on #46861
Has there been an issue opened for this problem? The one explained after this specific issue has been closed:

Because there have been two workarounds given in the following comments but none of them seems to be the right way this should be working.

[2020-04-22 15:12] pohly commented on #90362
According to https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1252618654105735168/artifacts/_sig-storage_CSI_mock_volume_storage_capacity_exhausted_late_binding_with_topology/csi-mockplugin-0-mock.log, there really are extra calls to `NodeStageVolume` and `NodePublishVolume` that shouldn't be there:
[code]

The current theory is that this might be related to kubelet

[2020-04-22 15:12] pohly commented on #90362
/sig storage

[2020-04-22 15:15] lavalamp commented on #65062
/reopen

/lifecycle frozen

[2020-04-22 15:16] lavalamp commented on #89874
Note that users can and should use dry run to verify their change will have the desired effect.

[2020-04-22 15:17] hazcod commented on #65502
/remove-lifecycle stale

[2020-04-22 15:27] sojoudian opened #90363 "issue with hostPath"
I want to setup my kubernetes locally on minikube, and mount a directory from local machine to pod, which this directory has some huge json files, because of their size I can not put them in configMap, this is my configuration:

[code]

and the error I get is:
`Warning  FailedMount  43s (x8 over 107s)  kubelet, minikube  MountVolume.SetUp failed for volume "data-vol" : hostPath type check failed:

[2020-04-22 15:29] sojoudian commented on #90363
/sig Cluster Lifecycle

[2020-04-22 15:30] sojoudian commented on #90363
/sig cluster-lifecycle

[2020-04-22 15:40] liggitt commented on #90363
This question probably belongs in https://github.com/kubernetes/minikube/issues

My guess (but minikube maintainers could give more guidance) is that the kubelet is running in a VM and doesn't have visibility to your local filesystem. see https://stackoverflow.com/questions/38682114/hostpath-with-minikube-kubernetes for a similar discussion.

[2020-04-22 15:40] #90363 closed

[2020-04-22 15:43] liggitt commented on #90358
This is caused by depending on k8s.io/kubernetes directly as a library, which is not supported. The components intended to be used as libraries are published as standalone modules like k8s.io/api, k8s.io/apimachinery, k8s.io/client-go, etc, and can be referenced directly.

If you want to do this anyway, see discussion in https://github.com/kubernetes/kubernetes/issues/79384 about how you can worka

[2020-04-22 15:43] #90358 closed

[2020-04-22 15:46] liggitt commented on #90359
That output looks like it has the label you applied via kubectl... what were you expecting to be present?

Did you delete the Node API object, or just recreate/rejoin the machine?

Can you describe how you made the node join with that label?

[2020-04-22 15:46] tedyu commented on #90334
In containerLogManager#rotateLogs() :
[code]
If log manager cannot get container status, it wouldn't know the log path and continues with next container.

See if this might be the case for 'log2much'

Thanks

[2020-04-22 15:47] #90331 closed

[2020-04-22 15:53] soltysh commented on #87851
Probable fix in https://github.com/kubernetes/kubernetes/pull/90364

[2020-04-22 15:53] soltysh commented on #89811
Probable fix in #90364

[2020-04-22 16:04] LeoLiuYan commented on #89507
@chendave  Do you solve this?  If not, can this feature assign to me ?

[2020-04-22 16:17] craiglpeters commented on #70279
/reopen

[2020-04-22 16:27] aojea commented on #60535
Have you tried [Pod Presets](https://kubernetes.io/docs/concepts/workloads/pods/podpreset/) for injecting environment variables?

I think that this can solve some of the use cases explained in this issue
 https://kubernetes.io/docs/tasks/inject-data-application/podpreset/#use-pod-presets-to-inject-environment-variables-and-volumes

[2020-04-22 16:30] marcinma commented on #66430
/remove-lifecycle stale

[2020-04-22 16:33] yuha0 commented on #81227
/remove-lifecycle rotten

[2020-04-22 16:39] craiglpeters commented on #70279
@fasaxc can you confirm if you're still facing this issue with the latest CNI?

[2020-04-22 16:50] #90134 closed

[2020-04-22 16:57] fasaxc commented on #70279
We ran into this very recently and had to put in a new workaround in our CNI plugin.  We ended up creating a registry key for each container with a timestamp so we could tell if an ADD was for a "recently seen" container.  Would be great to have a fix in Kubernetes.

[2020-04-22 17:30] mikedanese commented on #63726
I agree that we should consider a generic ClusterConfigMap approach but we should also think about what we would gain from bundle specific semantics. A couple things that come to mind:

* Reference support in API extensions that require embedded bundle data today. Non-portability of e.g. dynamic webhook configuration has annoyed me:

https://github.com/kubernetes/kubernetes/blob/b19de7f9b6a23f6693

[2020-04-22 17:45] craiglpeters commented on #70279
@fasaxc can you point to the CNI binaries (including version) you are using?

@dineshgovindasamy are you clear what is going on here?

[2020-04-22 17:51] tedyu commented on #90346
[get-container-status.txt](https://github.com/kubernetes/kubernetes/files/4518082/get-container-status.txt)

[2020-04-22 17:57] daschott commented on #87420
@dcantah any updates? thank you so much! :)

[2020-04-22 18:03] fasaxc commented on #70279
@craiglpeters That's Calico for Windows, which is part of Tigera's commercial offering.  We believe the standard open source CNI plugins can hit the same race though.  The customer who found the issue was doing a long-running churn test and they found that we were leaking IP addresses.

It turned out to be the case where kubelet sends a DEL to tear down the pod but the status timer pops and sends

[2020-04-22 18:10] mulatinho commented on #58065
#72943 this was created but not merged :/ SOCKS5 is really useful and HTTP proxy keeps closing connection after a simple `kubectl logs`

[2020-04-22 18:12] shanmukha511 opened #90369 "Dns resolve did not respond within 5.000 s"
**What happened**:

  Some times getting dns Dns resolve did not respond within 5.000 s from application pod

**What you expected to happen**:
Should not get timeout error

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Mostly this occurs when the load is more on application pods
**Environment**:
- Kubernetes version (use `kubectl version`):

[2020-04-22 18:12] shanmukha511 commented on #90369
/sig network

[2020-04-22 18:14] TGPSKI commented on #58065
@mulatinho: here's the active PR: https://github.com/kubernetes/kubernetes/pull/84205

There's still a few open questions since last fall and I haven't gotten a response from the reviewers.

[2020-04-22 18:17] uthark commented on #69697
Still happening in 1.17.5

[code]

[2020-04-22 18:20] msau42 opened #90370 "storage e2es using delayed binding don't wait for pvs to be cleaned up"
We recently had a bug that prevented volume deletion from succeeding in most cases. However, only 1 test case consistently failed, while the remaining ~30 had a handful of flakes. That seems to indicate we're not failing the test if pv deletion fails.

/assign

[2020-04-22 18:20] msau42 commented on #90370
@kubernetes/sig-storage-test-failures

[2020-04-22 18:26] Nuru commented on #67577
@zerkms Where did you run your tests on Ubuntu 18.04? It looks to me like the patch may have only made it into the kernel for Azure. If you can find a release note saying where it was applied to the Ubuntu `linux` package please share. I can't find it.

Note also that this test was not able to reproduce the problem on CoreOS, either. It could be that in the default configuration CFS scheduling was

[2020-04-22 18:29] daschott commented on #70279
the issue with consecutive ADD calls is resolved in the v2 plugins to my understanding that use an updated workflow: https://github.com/microsoft/windows-container-networking/

 @nagiesek can confirm.

[2020-04-22 18:31] rphillips commented on #90346
This patch will fix the attempt number if the runtime returns an error to the kubelet. I believe we need Mrunal's [KEP](https://github.com/kubernetes/enhancements/pull/1654) adding more granular errors, so the Kubelet can select on the type of error to inject the container status.