[2016-08-31 16:09] smarterclayton opened #31795 "CheckServiceAffinity dominates scheduler time in large, many service cluster"
OpenShift 1.3.0-alpha.3 (which contains Kubernetes ~1.3.2) in a 1k node cluster with 75k pods with many small services shows significant CPU (80% of scheduler) spent in CheckServiceAffinity.

I looked at the 1.4 changes but didn't see anything obvious that would fix this.

[code]

From http://perf-infra.ec2.breakage.org/pbench/results/mvirt2-j/1k_nodes_75k_pods_a/tools-default/mvirt2-m-1/pprof/201

[2016-08-31 16:11] smarterclayton commented on #31795
@timothysc @wojtek-t @kubernetes/sig-scalability

[2016-08-31 16:14] timothysc commented on #31795
/cc @kubernetes/sig-scheduling

[2016-08-31 16:19] thockin opened #31796 "intersection of running as non-root, minikube, hostPath = not working well"
Reported by a user in slack:

Running minikube.  Container uses Docker's USER directive in Dockerfile.  Want to run pod in minikube to dev and cloud for prod.  The only PV we support so far is hostPath.  User experiences failure to write to PV.

Suggested fix was `fsGroup`, but hostPath does not support volume ownership management.

Need a better abstraction here.  Overlaps with #30044 perhaps?

@

[2016-08-31 16:23] errordeveloper commented on #30395
My opinion may differ from current thinking, but I hope it'd be of user, as I've discovered what sort of hell `kubeconfig` is and what `clientcmd` package is all about purely as a user. So, as a user, I'd prefer to see something that looks much simpler on the surface.

I think that current complexity arises from:
a) a single file has sever degrees of freedom
b) multiple files can be merged to allo

[2016-08-31 16:30] #31341 closed

[2016-08-31 16:35] timstclair commented on #16296
The current proposal is to move the bulk of cAdvisor's monitoring responsibilities out of the Kubelet and into a separate Pod. You can follow that discussion here: https://github.com/kubernetes/kubernetes/issues/27097

In the short term, if your primary concern is CPU usage in your development environment, you can set the data collection interval to an arbitrarily large value via some Kubelet flag

[2016-08-31 16:35] bprashanth commented on #31762
@xiang90 you can have a petset that has no concept of conflict resolution, maybe it isn't even a database. This is not a new problem in distributed systems, the problem is not all apps are distributed. The petset guarantee is that we never create 2 pet-0s, but as described, we're using the ns/name in apiserver as a lock, and ns/name can get deleted without the actual process dying.

So if you have

[2016-08-31 16:37] smarterclayton commented on #31762
To extend the analogy further, the node controller is a lock breaker today (thus introducing split brain) as is anyone who does delete grace-period=0.  So we need to figure out how to make lock breaks clearer as well.

[2016-08-31 16:38] bprashanth commented on #31762
So do we trust the storage layer enough to just use a volume lock and leave the petset+init container+POD_UID idea as an exercise for the reader (documented of course)? meaning the petset controller won't respect the annotation, it's up to the petset author to build this into init and teardown if they don't want to use volumes.

[2016-08-31 16:39] xiang90 commented on #31762
@bprashanth We do not want the database to use distributed lock service to elect a master? We want them to fully rely on petset instead?

[2016-08-31 16:42] bgrant0607 commented on #6284
@krmayankk Yes, we would like this to be implemented.

kubectl apply performs a diff and generates a patch. The code is here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/util/strategicpatch/patch.go

Possibly one way to start would be to add --dry-run to kubectl apply so that it would print the patches it generated.

[2016-08-31 16:42] yujuhong commented on #31215
Yes, they should have `/var/log/startupscript.log`. I don't know why jenkins don't collect them for gke nodes...

[2016-08-31 16:47] bprashanth commented on #31762
hmm, this is not about leader election per se. The guarantee is that there is a set of indices {1..N} and there should only be one process behind any of these indices. We can frame this as N leader election problems.

The goal here is that a mysql admin should be able to safely deploy mysql without understanding lease/lock api. That might take the form of the system doing all the heavy lifting, or

[2016-08-31 16:50] derekwaynecarr commented on #1685
@lavalamp - lets discuss this in an upcoming sig api machinery meeting, I think we will want to push for this in 1.5 release.

[2016-08-31 16:51] smarterclayton commented on #31762
I've wondered whether the node could do its own lease.  Follow rules and shoot pods in the head if it looses connection with master for X seconds.  That makes it easier for the pods to work.

[2016-08-31 16:52] bgrant0607 commented on #30716
@pmorie Env. substitution does not have a user-facing doc AFAIK. See #15244 re. how disorganized our pod/container docs are. Please reach out to sig-docs for advice about where to put this content.

[2016-08-31 16:52] timstclair commented on #23397
Nope, we've been defaulting to v1.11 on GCE / GKE since 1.3.

[2016-08-31 16:52] #23397 closed

[2016-08-31 16:56] bgrant0607 commented on #30716
See also #11492

[2016-08-31 16:57] timstclair commented on #30548
Should we remove the `non-release-blocker` label if this is not limited to coreos?

[2016-08-31 16:58] xiang90 commented on #31762
Then it can be further reduced to 1 leader election or lease problem I guess. I am not opposite to the idea, just want to make sure I understand what we want to achieve. Thanks for your explanation.

[2016-08-31 16:59] bprashanth commented on #31762
yeah here the leader is the petset controller

[2016-08-31 16:59] bgrant0607 commented on #30716
Ref #2068

[2016-08-31 17:00] bgrant0607 commented on #30716
@jberkus Links to examples of entrypoint.sh scripts?

[2016-08-31 17:05] girishkalele commented on #30175
We have had one green run - Jenkins Job #8546 - the next run failed again.

[2016-08-31 17:05] bprashanth commented on #31762
A limitation of the current proposal is that pet-0(1) holds the lock for the duration of the netsplit. If we evolved it to some variantion of STONITH, we could create a replacement sooner.

[2016-08-31 17:07] caesarxuchao commented on #30156
Looks like @jszczepkowski has a good handle on this one. I'll remove myself from the assignees. Let me know if I'm needed.

[2016-08-31 17:08] derekwaynecarr commented on #31611
@cjcullen - are you able to explain what in GKE is using these two admission plug-ins that warranted a rollback of the referenced PR?  otherwise, I am flying in the dark, and there is no good reason for GKE to be referencing them.

[2016-08-31 17:08] bprashanth commented on #30156
Fwiw that one could still use some investigation, not sure anyones tracking it down

[2016-08-31 17:11] derekwaynecarr opened #31798 "kube-apiserver should only try to authorize real paths"
See discussion from here:
https://github.com/kubernetes/kubernetes/pull/31636#issuecomment-243617070

Clients that use discovery services with dynamic client will make this call.

The namespace controller for example makes this call.

/cc @cjcullen @yujuhong

[2016-08-31 17:14] goltermann commented on #31213
This run is currently intermittently green.  In the case where it fails, we see:

`STEP: Building a namespace api object

Aug 30 02:09:29.682: INFO: Unexpected error while creating namespace: Post https://104.197.192.140/api/v1/namespaces: dial tcp 104.197.192.140:443: i/o timeout
...(repeats for a while)
https://104.197.192.140/api/v1/namespaces: dial tcp 104.197.192.140:443: getsockopt: connecti

[2016-08-31 17:14] praoreo opened #31799 "Issues while bringing up kubernetes dashboard GUI on master"
We are trying to setup a multinode kubernetes cluster with 1 master and multiple worker nodes in ubuntu 14.04.  --register-node=true and --register-schedulable=false is set while installing the kubernetes master so as to make the master not schedulable. Hence the kubernetes dashboard pod got scheduled on one of the available worker nodes. However we want the dashboard to be running on master.

As

[2016-08-31 17:21] cjcullen commented on #31798
@derekwaynecarr thanks for opening this up.

The root cause on GKE is that the GKE authorizer does not know how to handle "get bindings" because we don't have a "bindings.list" [permission defined](https://cloud.google.com/container-engine/docs/iam-integration#iam_permissions) because it is not a valid path.

Right now, our authorizer is returning a 500. We should change that to a 400: It is an in

[2016-08-31 17:22] bprashanth commented on #31796
stickyemptydir just allows claiming normal emptydir through a pv with data gravity, so we'd get all the ownership settings

[2016-08-31 17:23] cjcullen commented on #31798
We could also hack around this by adding fake permissions for any non-existent methods on real objects (is bindings the only one?), but that feels gross.

[2016-08-31 17:23] Rachitmehrotra commented on #23241
Getting same error same thing was working fine with me 30 days back ....

[2016-08-31 17:23] derekwaynecarr commented on #30799
@danmcp -- per our discussion today on supporting multiple storage drivers in a cluster where posix compliance is important.

[2016-08-31 17:23] goltermann commented on #31213
Two recent example runs that failed:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13618
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13622

One that passed:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13621

[2016-08-31 17:23] cjcullen commented on #31798
cc @maisem who was also looking into this.

I'd also like to get @erictune & @lavalamp's takes on this.

[2016-08-31 17:27] mtaufen commented on #31676
Adding a 5 minute wait to the memory eviction test before trying to create the pod at the end seems to fix this issue when I run the serial tests in my own cluster. Without the wait I get the `pod ran to completion` error. I am going to try a 45 second wait and see if that works as well.

[2016-08-31 17:31] lavalamp commented on #31798
Kubernetes should check paths/verbs for existing before it authorizes them.

Unless we have paths which you should not even be able to know the existence of before being authorized.

This is tricky to fix generally. I actually think there might be both kinds of paths: collection names are not secret and don't need to be. But individual object names might be more sensitive? e.g. I shouldn't be able

[2016-08-31 17:31] errordeveloper commented on #31272
may be related https://github.com/kubernetes/kubernetes/pull/31221#issuecomment-243838613

[2016-08-31 17:33] mikedanese commented on #31779
@kubernetes/sig-cluster-lifecycle

[2016-08-31 17:33] yujuhong commented on #31676
+1 for adding some wait time to stop the bleeding, while figuring out why this is not working as expected.

[2016-08-31 17:33] goltermann commented on #31213
This looks a lot like #27610, which should be fixed by now via #27612 / #28232, and does look cherrypicked to 1.3.x.

@krousey @cjcullen any ideas?

[2016-08-31 17:38] cjcullen commented on #31798
I agree. We should validate the things that could never exist, but should pass through to the authorizer things that potentially could be real in a cluster.

E.g. if I try to `DELETE /api/v1/bindings/super-secret` or `GET /api/v1/proxy/namespaces` (another one I saw), we can bail before authorization w/ a 405.

But if I try to `GET /api/secret-group/secretstuff/foo` that should be passed through.

[2016-08-31 17:44] derekwaynecarr commented on #31798
/cc @deads2k ^^

[2016-08-31 17:47] mtaufen commented on #31676
I posted #31800 with a 5 minute wait. The serial tests take a while to run so we can use this until I can confirm if 45s also works.

[2016-08-31 17:54] thockin commented on #6545
On Tue, Aug 30, 2016 at 10:00 PM, Bob Van Zant <notifications@github.com> wrote:

In that case, you need to manage the additional masquerade rule
yourself.  You can write a pretty trivial DaemonSet that simply
ensures that the iptables rule you want is installed.  It will run on
every machine.  We've used this pattern for other "tweak the system"
sorts of things.

I can help you craft that DaemonS

[2016-08-31 17:59] goltermann commented on #31201
This test suite appears about 90% stable over the last several days https://k8s-testgrid.appspot.com/k8s#gke-staging-parallel&width=5

#26210 is the culprit in the failure cases.  That bug is a P0, we'll track fixing it over there.

[2016-08-31 17:59] #31201 closed

[2016-08-31 18:00] MHBauer commented on #26210
Is there something about gke-staging-parallel we can investigate? What is the makeup of that environment? [What is the makeup of all environments? How would I find this out?] Failures on GCE seem to be more random infra issues.

Does this test run on other environments where it does not regularly fail? Which are those? How are they different from gke-staging-parallel?

[2016-08-31 18:06] eparis commented on #31723
Any 'well known name' which won't cause error messages and will print one event/log if a PVC is unsatisfied which states that a PV needs to be manually provisioned. @rootfs said it could be done with a a non-existent provisioner (say nfs) but it leaves both scary error messages and not a good result for the end user...

[2016-08-31 18:11] thockin commented on #31723
"manual" or "call-eric-at-123-867-5309" are equally valid.  Why do we need
to codify what string to put there.  Just put something

On Wed, Aug 31, 2016 at 11:07 AM, Eric Paris <notifications@github.com>
wrote:

[2016-08-31 18:14] timstclair opened #31802 "[node e2e] Confusing result: 1 Failure, 0 Failed"
From https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30739/node-pull-build-e2e-test/22156:

[code]

The cause is the `--flakeAttempts=2` flag, as identified in https://github.com/kubernetes/kubernetes/issues/31538#issuecomment-242844342. This is a confusing result message though, and we should show something less confusing. E.g.

[code]

This might require a ginkgo change.

[2016-08-31 18:15] timstclair commented on #31802
I'm marking this as P0 until we understand what's going on, since this scares me (are we missing test failures?)

[2016-08-31 18:16] yujuhong commented on #31802
Oh this is because the test retry feature added in jenkins. See https://github.com/kubernetes/kubernetes/issues/31538#issuecomment-242844342

[2016-08-31 18:16] eparis commented on #31723
as long as it doesn't leave any scary messages in the logs and leaves the user some sane message why things didn't work...

[2016-08-31 18:19] goltermann commented on #30303
@jeffmendoza @apelisse This looks like it was broken in #31452

@mikedanese #30672 covers the Hazelcast flake, but the other three GCE examples are deterministically broken.

[2016-08-31 18:19] timstclair commented on #31802
Ah, thanks for clarifying Yuju! I think we should try to provide a more clear error message though. I'll keep this open but lower the priority to fix that.

[2016-08-31 18:21] Random-Liu commented on #31802
@timstclair It's jenkins deciding how to print this. :) We should probably improve jenkins.

[2016-08-31 18:23] timstclair commented on #31802
I thought it was ginkgo?

[2016-08-31 18:23] stevesloka commented on #12742
Being new to the core k8s codebase I'm feeling a little stuck as to where to start working on this implementation. Can anyone help me out with some pointers?

I see there's a registry that gets created (https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/secret/registry.go#L26) and is implemented, but I'm not 100% on where that is.

I see the storage interface pieces (https://github.

[2016-08-31 18:24] Random-Liu commented on #31774
@yujuhong Thanks for looking into this. It's on my list, will do it tomorrow!

[2016-08-31 18:26] jbeda commented on #30395
We are meeting this Friday at 9am pacific.  It isn't too late to get in if you want.  Here is a doc that some folks have been throwing data in to: https://docs.google.com/document/d/1oqWMZzyMi--zNhQaRmA5NelmSorZ3pOoL0erwezjJFE/edit

I think @smarterclayton has the right idea in terms of thinking through these scenarios.  The idea of "context" is going to be the key thing for the user.  We also nee

[2016-08-31 18:34] thockin commented on #31723
Agree - the logs should be considered.  I'm looking at Jan for details
there.  Maybe log iff provisioner matches "kubernetes.io/*" and we can't
find that driver.  Ignore other prefixes, including no-prefix.

On Wed, Aug 31, 2016 at 11:17 AM, Eric Paris <notifications@github.com>
wrote:

[2016-08-31 18:40] ixdy commented on #31802
It's probably both. Also I'm not sure Gubernator shows this in a useful way. @rmmh

[2016-08-31 18:41] saad-ali commented on #31272
Taking a look

[2016-08-31 18:46] thockin commented on #24111
We need consider whether this can be done at all wrt api compat.

[2016-08-31 18:46] thockin commented on #18761
a) You can't edit `status` the same way you edit `spec`.  Even if you could, status is reflected from reality, so your changes would get nuked.

b) Updating a PVC will not unbind it and restart the pod.  Unfortunately we allowed this update.  It should probably have been blocked.  To get a new PVC->PV binding you really need a new PVC.

https://github.com/kubernetes/kubernetes/issues/24111

That s

[2016-08-31 18:46] #18761 closed

[2016-08-31 18:47] spxtr commented on #31802
I'd suggest a ginkgo change, but we should also make sure our tooling understands this as well.

[2016-08-31 18:50] timstclair commented on #30548
From comment in [kubelet.go](https://github.com/kubernetes/kubernetes/blob/07556d5e1ae90a141a09c9958dfb875de4298143/pkg/kubelet/kubelet.go#L1474):

[code]

I think that's probably what's happening here.

[2016-08-31 18:52] Random-Liu commented on #31802
Yeah, typo. I edited that comment immediately.

[2016-08-31 18:53] jingxu97 commented on #18761
Could we add this behavior to doc so that user can understand what to do in this case.

[2016-08-31 18:56] adamrp commented on #31336
:+1: I also just hit this issue. I built k8s from source (commit ebe733e46983b0201501a23a26d48a73f41fe04c).

[2016-08-31 18:59] kozikow opened #31805 "Warning if load balancer can't find endpoint"
When load balancer selector can't be resolved to a pod it may be hard to debug. It is a usability improvement, rather than problem per se.

I had bad selector in my load balancer config. Rather than matching to my pod, it was not pointing to anything in particular. It is not an issue per se, but user doing something wrong does not have much info to debug. My selector was subtly wrong, so I initial

[2016-08-31 19:08] jeffvance commented on #23615
This is no longer an issue and can be closed.
Version:
[code]

Test:
pv with claimRef:
[code]

Claim (not matched by pv's claimRef):
[code]
Create pv and pvc:
[code]

[2016-08-31 19:10] jpoon commented on #30769
@enieuw That is a much better workaround than what we came up with. Using your method, k8s was able to mount the AFS volume automatically?

[2016-08-31 19:35] thockin commented on #18761
that would be great!

On Wed, Aug 31, 2016 at 11:54 AM, Jing Xu <notifications@github.com> wrote:

[2016-08-31 19:40] k8s-merge-robot opened #31806 "kubernetes-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-build/11988/

Run so broken it didn't make JUnit output!

[2016-08-31 19:41] piosz commented on #30939
I tried to reproduce the problem. What I did:
[code]

I've been running the last command in a loop for >6h and all values are within the range `[982,1015]` which is pretty good accuracy. I'm running version 1.3.6 on GCE. I've also bumped verbosity of Heapster logging to level 6 and I can't see anything suspicious.

Any ideas how can I reproduce?

[2016-08-31 19:46] ixdy commented on #31806
403? well.

@rmmh should we try not deleting `.git/` on CI Jenkins too?

[2016-08-31 19:48] mtaufen commented on #31743
Build 510 is from revision `106373123455afd5d6e71da809b85ad8f6455d9c`, doesn't include the fix from #31800, hopefully this is fixed once we get a build with #31800 in it.

[2016-08-31 19:49] mtaufen commented on #30527
Waiting on a test run that includes #31800 to see if fixed.

[2016-08-31 19:49] kozikow commented on #31805
Also in the "configuration as code" scenario, when I could configure my cluster as python code rather than .yaml file would make such bugs much harder - I would pass my deployment object to a method that would give me selector object, and I would pass the selector object to load balancer constructor.

[2016-08-31 19:57] thockin opened #31807 "kube-dns needs to support graceful termination."
I think we should trap SIGTERM and just keep running.  This will cause the API-driven graceful termination.  It will be removed from LBs and eventually SIGKILLed.  In the mean time LBs will be smoother.

We probably can't get this into 1.4.0, but might consider it for a point-release given how simple the implementation should be.

@girishkalele

[2016-08-31 19:57] #29420 closed

[2016-08-31 19:58] cioc commented on #24255
Also seeing this issue with gcePersistentDisk + mysql

[2016-08-31 20:00] thockin opened #31808 "Idea: Run 2+ DNS Deployments and Services"
Some DNS resolvers ask all `nameserver`s in parallel.  If we ran multiple DNS Services (for larger clusters), we might get better DNS behavior (for some clients, admittedly).

[2016-08-31 20:04] jeffmendoza commented on #30303
@apelisse @fejta Are any changes to Jenkins needed for e2e to have access to `test/fixtures/` ?

[2016-08-31 20:08] pmorie commented on #31492
I saw something similar on https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31730/kubernetes-pull-test-unit-integration/42791/

[2016-08-31 20:09] mikedanese commented on #31213
This looks to be the same error as #30962

[2016-08-31 20:09] yujuhong commented on #30548
Sounds like increasing the wait time should help?

[2016-08-31 20:11] rmmh commented on #31806
That's weird. I've never seen a 403 on a fetch before. Let's see if this happens again?

[2016-08-31 20:11] mikedanese commented on #27503
@derekwaynecarr Adding you to this because it looks like you are already working on a fix

[2016-08-31 20:15] astropuffin commented on #28928
Hey @davidopp,
I have opened a sample implementation PR (https://github.com/kubernetes/kubernetes/pull/31809). The PR is in no way viable for merging, but it does accomplish the task at hand. There are obviously a number of hacks, but I wanted to get your thoughts on it.

Based on this work, in order for the scheduler to support this feature, the scheduler factory would have to be refactored a bit

[2016-08-31 20:17] bgrant0607 commented on #30716
Also relevant: #26299

[2016-08-31 20:18] mikedanese commented on #30075
Leaving this open but tracking fixes for multiple various causes in sub bugs.

#31560 #31561

[2016-08-31 20:19] saad-ali commented on #31272
Your approach to "limit the leakiness" is fine. When an `LStat` call for a particular first-level subdirectory in your custom `ReadDir()` call hangs, then (after some timeout) it should be assumed that subdir exists and subsequent `LStat` should not be started on the directory until the previous one unblocks and completes. Only thing I would do is key the `goroutinemap` off the subdir path (not an

[2016-08-31 20:20] k8s-merge-robot opened #31810 "[k8s.io] Deployment scaled rollout deployment should not block on annotation check {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gke/8548/

Failed: [k8s.io] Deployment scaled rollout deployment should not block on annotation check {Kubernetes e2e suite}

[code]

Previous issues for this test: #30100

[2016-08-31 20:20] pmorie commented on #31272
@saad-ali I am also not aware of a way to terminate a blocked/hanging goroutine

[2016-08-31 20:21] timstclair commented on #30548
It should, but we would need to wait before the pod is created. Is there a way to tell whether the Kubelet has found the service?

[2016-08-31 20:25] spxtr commented on #31766
https://github.com/kubernetes/kubernetes/issues/26647

[2016-08-31 20:25] #31766 closed

[2016-08-31 20:28] bgrant0607 commented on #30716
Note that we've also talked about creating a library of sidecars:
http://blog.kubernetes.io/2015/06/the-distributed-system-toolkit-patterns.html

[2016-08-31 20:30] k8s-merge-robot opened #31811 "[k8s.io] Container Runtime Conformance Test container runtime conformance blackbox test when running a container with a new image should be able to pull image from docker hub {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/8886/

Failed: [k8s.io] Container Runtime Conformance Test container runtime conformance blackbox test when running a container with a new image should be able to pull image from docker hub {E2eNode Suite}

[code]

[2016-08-31 20:30] k8s-merge-robot opened #31812 "kubernetes-e2e-gke: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/14482/

Multiple broken tests:

Failed: [k8s.io] Proxy version v1 should proxy to cadvisor [Conformance] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] V1Job should delete a job {Kubernetes e2e suite}

[code]

Failed: [k8s.io] EmptyDir volumes should support (root,0666,default) [Conformance] {Kubernetes e2e suite

[2016-08-31 20:30] bgrant0607 commented on #30716
We don't allow env vars to be changed today, but I could imagine supporting that in the future, and we do allow ConfigMap changes, so I think initContainers won't work and though I'm a fan of container volumes (#831), I think that shares the same problem. Image volumes (also #831) would allow config files to be packaged separately, however, as mentioned above.

[2016-08-31 20:31] bgrant0607 commented on #30716
cc @pwittrock

[2016-08-31 20:32] bprashanth opened #31813 "Expand docs on dnsPolicy"
ref http://stackoverflow.com/questions/38285676/kubernetes-connect-to-the-outside-world-from-pod/38752535?noredirect=1#comment65804352_38752535

k8s.io doesn't seem to have anything and the swagger for podSpec.dnsPolicy just says

[code]

[2016-08-31 20:33] bgrant0607 commented on #30716
Maybe @kelseyhightower has suggestions, also.

[2016-08-31 20:34] jingxu97 commented on #31272
Found this
http://unix.stackexchange.com/questions/31979/stop-broken-nfs-mounts-from-locking-a-directory
By setting the flag such as bg,intr,soft when mounting NFS seems prevent
thread hanging forever.

On Wed, Aug 31, 2016 at 1:21 PM, Paul Morie <notifications@github.com>
wrote:

--
- Jing

[2016-08-31 20:35] bgrant0607 commented on #30716
I must be losing my touch. I was sure that @erictune previously proposed an inline volume source, but I can't find it. That said, I like @smarterclayton's command-line alternative.

[2016-08-31 20:36] yujuhong commented on #30548
Not that I know of, unless we expose the information through an endpoint, which sounds like an overkill :\
Since it's mainly the watch delay, could we get by with some arbitrary wait time such as 5 seconds?

[2016-08-31 20:40] bprashanth commented on #31695
you don't really need to file a bug if it's simple enough to open a pr, you can directly do the latter. fyi :)

[2016-08-31 20:46] euank commented on #30548
We could also modify the test to take the advice of "detect the missing env-var and restart". If the test doesn't fatal out when the service environment variable, but instead re-runs the client up to some number of tries, that would make it less flaky.

[2016-08-31 20:54] timothysc commented on #31055
closing as https://github.com/kubernetes/kubernetes/issues/29633 contains the details on this issue.

[2016-08-31 20:54] #31055 closed

[2016-08-31 20:54] bprashanth commented on #31812
https://github.com/kubernetes/kubernetes/issues/31728 but I'm leaving this open otherwise mergebot is just going to reopen it

[2016-08-31 20:55] mwielgus opened #31816 "Use weights when decreasing replicas number in federated replica set with rebalance=false"
Currently no weights are used and the result may be very unbalanced. For example, if weight is 1 for all clusters and rebalance = false and we have 10 replicas in A and 70 in B and replica count is reduced to 20 the end result may be B=20 (depending on hashing - see #31814), while A=10 B=10 would be more preferred.

[2016-08-31 20:56] mwielgus commented on #31816
cc: @quinton-hoole @jianhuiz @kubernetes/sig-cluster-federation

[2016-08-31 20:59] dvohra commented on #28376
![kubeversion1 2](https://cloud.githubusercontent.com/assets/3654431/18146139/04667806-6f83-11e6-9d1b-0b486629efbf.jpg)
Kubernetes 1.2.4 has the same bug about "Preferred" not being a valid value.

[2016-08-31 21:00] ixdy commented on #31802
For reference, the PR which added flake support to Ginkgo is https://github.com/onsi/ginkgo/pull/261.

[2016-08-31 21:00] timstclair commented on #30548
We might be able to do something fancy with InitContainers, but I think @euank 's suggestion is probably the way to go.

[2016-08-31 21:01] smarterclayton commented on #23615
Thanks!

[2016-08-31 21:01] #23615 closed

[2016-08-31 21:03] smarterclayton commented on #31762
True, but most STONITH relies on both sides doing their best to shutdown.
A node problem detector (at the cluster level) could fence by calling out
to cloud provider / IPMI / switches.

On Wed, Aug 31, 2016 at 1:06 PM, Prashanth B <notifications@github.com>
wrote:

[2016-08-31 21:03] smarterclayton commented on #29420
Tim was right, I thought we implemented the useful thing but we never spec'd it.  We need a "we need to spec DNS" issue for 1.5 where we all agree on exactly what we support and only allow changes to DNS after we alter that.

[2016-08-31 21:06] ConradIrwin opened #31820 "Feature request: copy-paste friendly CLI"
**Is this a request for help?** no

**What keywords did you search in Kubernetes issues before filing this one?** "copy-paste"

---

The CLI is really slow to use right now, and one thing keeps tripping me up:

I run `kubectl get pods`, and see a list of pods.
[code]

Then I copy-paste a pod name into `kubectl describe` and it complains at me:
[code]

One trivial change to the output format would

[2016-08-31 21:08] errordeveloper commented on #31272
Ok. Do you see the comment I've referred to? Can it be related to what I am
seeing, or should I file another issue?

On Wed, 31 Aug 2016, 21:34 Jing Xu, <notifications@github.com> wrote:

[2016-08-31 21:10] pmorie commented on #31272
@jingxu97 soft mount might help going forward -- what about mounts that are already in-place on existing nodes?

[2016-08-31 21:11] yujuhong commented on #30548
I also thought about letting the container fail and restart, but decided against it since I didn't like relying on kubelet's restart backoff interval. Recreating the pod sounds ok.

[2016-08-31 21:15] guoshimin opened #31822 "EBS volumes get wiped after (incorrect) upgrade from 1.2 to 1.3"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): NO

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): various combinations of EBS/volume/deleted/wiped/1.3

---

**Is this a BUG REPORT or

[2016-08-31 21:20] jingxu97 commented on #31272
@errordeveloper maybe it is better to create another issue and describe a little bit more details about the issue. It will help us to debug. Thank you!

@pmorie If soft mount can complete avoid this hanging situation, maybe we can push this change first for 1.4 (I am not sure softmount has any other side effect or not)? And then cover the existing mounts problem?

[2016-08-31 21:20] dagnello opened #31823 "vSphere Cloud provider null pointer exception"
Kubernetes 1.3.0.  During attach disk to VM, call to cleanUpController dereferenced a null pointer.

Stack trace:
[code]

[2016-08-31 21:21] timstclair commented on #30548
What about making the pod restart on failure, and changing the command to `sh -c 'env | grep "FOOSERVICE_"`? We wouldn't have as much control over the number of retries though.

[2016-08-31 21:22] saad-ali commented on #31272
+1 Lower cost fix for 1.4, bigger fix for 1.5?

[2016-08-31 21:25] MikeSpreitzer opened #31824 "Multi-tenancy issues"
This issue was requested by the networking SIG at their 25 Aug 2016 meeting to gather issues around multi-tenancy.  Here is my initial dump.  [Minor edits late on 31 Aug 2016]
# Issues in multi-tenancy

We may divide the issues of multi-tenancy into four facets:
1. what is a tenant anyway?
2. visibility in the API
3. visibility in DNS
4. visibility/reachability in the network

By "visibility" I me

[2016-08-31 21:26] yujuhong commented on #30548
That's what I originally wanted, but then decided not to suggest it because we don't have control over kubelet restart's backoff. Although I think it should work in general.

[2016-08-31 21:27] timstclair commented on #30548
Ok, I'll send a PR to add manual retries.

[2016-08-31 21:30] yujuhong commented on #31676
@mtaufen, we've got the first green build (511) for the day. Let's see if the next one would be fine.

[2016-08-31 21:30] pmorie commented on #31272
I'm happy to look into soft-mounts, but what if your mount.nfs decides not to honor it?

[2016-08-31 21:36] k8s-merge-robot opened #31825 "[k8s.io] Federated ingresses [Feature:Federation] Federated Ingresses should create and update matching ingresses in underlying clusters {Kubernetes e2e suite}"
The addition of the federated namespace adminssion controllers broke this test.  It's an easy fix.  e2e test needs to create the required namespace before trying to create things in it.

@madhusudancs @nikhiljindal FYI. @madhusudancs has volunteered to fix this.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/3660/

Failed: [k8s.io] Federated ingress

[2016-08-31 21:37] bprashanth commented on #31811
Image pulling failure
[code]

Why are we using a docker.io image for the test?

[2016-08-31 21:38] mtaufen commented on #31676
woohoo! fingers crossed :)

[2016-08-31 21:39] mtaufen commented on #31676
And 45s wait seems to work on my setup, so we can probably eventually move to that, but my cautious side thinks we should wait until we see a few more green builds before we make that change.

[2016-08-31 21:41] yujuhong commented on #31676
Agreed. 5 minutes per eviction test is nothing compared with the manual labor that went into updating and closing issues.

[2016-08-31 21:43] freehan opened #31827 "Firewall E2E for GCE"
I am gathering test cases for firewall configurations on GCE.
### Firewalls opened by default:

| Protocol | Port | From | To | Desc |
| --- | --- | --- | --- | --- |
| tcp | 443 | 0.0.0.0/0 | master | on GCE, not GKE |
| tcp/udp | 80/8080,30000-32767 | 0.0.0.0/0 | all cluster nodes | e2e cluster only |
| tcp/udp/icmp/esp/ah/sctp |  | network route /14 CIDR | all cluster nodes |  |
| tcp | 22 | 0.

[2016-08-31 21:46] dvohra commented on #28376
Kubernetes 1.3 has the same issue of "preferredDuringSchedulingIgnoredDuringExecution" not being a valid value.
![kubeversion1 3](https://cloud.githubusercontent.com/assets/3654431/18147501/abfb629c-6f89-11e6-97db-7bcc0fbafbed.jpg)

[2016-08-31 21:52] dvohra commented on #28376
The following pod yaml generates an error even though a valid pod yaml.

[code]

The following pod yaml does not generate an error.
[code]

[2016-08-31 21:53] mtaufen commented on #31676
You get major kudos for tracking all of this by the way. Awesome work!

[2016-08-31 22:00] bgrant0607 commented on #30716
The template proposal was #18215 and the doc is here:
https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/templates.md
The implementation issue is #23896

[2016-08-31 22:03] bprashanth commented on #29449
https://github.com/kubernetes/kubernetes/issues/29449#issuecomment-241247192 is https://github.com/kubernetes/kubernetes/issues/31630
the exec pod in question that returned the "no route to host" wget error is `execpod-72d7l` on node `jenkins-e2e-minion-group-jpsw`

[2016-08-31 22:33] #30541 closed

[2016-08-31 22:34] Random-Liu commented on #31811
@bprashanth The test itself is testing image pulling.
It tests pulling image from gcr, docker hub and invalid registry, and also tests pulling image with secrets.

The problem is that the registries are not stable. :(

[2016-08-31 22:36] bprashanth commented on #31811
yeah i was asking if we really want to flake on dockerhub, i guess it's fine now since we have the flakyRetries thing going on

[2016-08-31 22:42] nikhiljindal commented on #28812
@madhusudancs https://github.com/kubernetes/kubernetes/pull/30744 is now merged.
Next step I think is to write a doc explaining the new flow and put it on k8s.io?

[2016-08-31 22:44] cammm commented on #28660
I have been struggling with how to arrange game servers in the Kubernetes way of doing things. Game servers are generally spun up and down as capacity requirements change over the course of a day and more gradually as concurrent users grow or shrink over time. Clients are matched into a server and passed connection details directly to the server or a specially designed proxy and will remain on tha

[2016-08-31 22:51] bprashanth commented on #28660
If this is http you should just and RC + ingress with sticky sessions
(https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/configuration.md#allowed-parameters-in-configuration-config-map, another example is the gist mentioned here https://github.com/kubernetes/kubernetes/issues/28660#issuecomment-241547634)

[2016-08-31 22:54] jeremyong commented on #28660
@cammm Just FYI, I have very similar problems to you and also hoped PetSets would be the answer. I ended up using hostNetwork: true in order to leverage the host's external IP directly. Doing this however basically interfered with all of Kubernetes' built in service resolution.

So in the end, I did the painful thing of ditching services all together! (ugh!). Kubernetes REALLY wants you to not tal

[2016-08-31 22:54] bprashanth commented on #29449
So is https://github.com/kubernetes/kubernetes/issues/29449#issuecomment-243206556, `/service1-w9tdj` on node  jenkins-e2e-minion-group-m51r, which is the endpoint we never heard from, got the ip `10.180.2.255`

[2016-08-31 23:00] quinton-hoole opened #31832 "kubernetes-e2e-aws is broken on Jenkins due to AWS capacity issue - need to move to a different zone"
It looks like AWS is out of capacity in our chosen test zone.  So we need to configure the tests to a different zone.  cc @colhom @justinsb FYI

e.g.
"12:49:12 Starting Master 12:49:19 12:49:19 An error occurred (InsufficientInstanceCapacity) when calling the RunInstances operation: We currently do not have sufficient m3.medium capacity in the Availability Zone you requested (us-west-2a). Our syst

[2016-08-31 23:02] bprashanth commented on #28660
Addressing a specific backend is protocol specific though, for example the nginx ingress controller supports udp, but not udp stickyness (because how do you express this?). You can already use hostPort in your RC, and leverage the public identity of your node. Is the request here to allocated a public DNS name per pet in cloud dns?

[2016-08-31 23:07] k8s-merge-robot opened #31835 "[k8s.io] Resource-usage [Serial] [Slow] regular resource usage tracking resource tracking for 10 pods per node {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/512/

Failed: [k8s.io] Resource-usage [Serial] [Slow] regular resource usage tracking resource tracking for 10 pods per node {E2eNode Suite}

[code]

Previous issues for this test: #30525

[2016-08-31 23:09] bprashanth commented on #29449
At this point I just want to wait for https://github.com/kubernetes/kubernetes/pull/31801

[2016-08-31 23:16] dhawal55 commented on #30924
That makes sense. Thanks for the help.

[2016-08-31 23:17] k8s-merge-robot opened #31836 "[k8s.io] Downward API volume should provide podname only [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31373/kubernetes-pull-build-test-e2e-gce/56869/

Failed: [k8s.io] Downward API volume should provide podname only [Conformance] {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #31373.

[2016-08-31 23:19] ixdy commented on #31492
hmmmm.

[code]

[2016-08-31 23:21] dhawal55 commented on #29177
@erictune thanks for the tip.

@liggitt Yes, that's my issue. I created a role binding which is namespace specific and was referring to cluster-role that gave access to nonResourceURLs which are not namespace specific. I'm splitting my roles so i have a separate clusterRole and clusterRoleBinding for nonResourceURLs. Thank you @deads2k  for helping me understand this.

[2016-08-31 23:23] jingxu97 commented on #31272
It seems like flag intr for hard mount case.
Also found this
http://blog.labix.org/2011/10/09/death-of-goroutines-under-control, hope it
gives us some ideas how to handle hanging goroutine

On Wed, Aug 31, 2016 at 2:31 PM, Paul Morie <notifications@github.com>
wrote:

--
- Jing

[2016-08-31 23:26] jberkus commented on #30716
@bgrant0607 so that's a different kind of template, one for the service definition itself, rather than a template for files to be pushed into the running containers.

[2016-08-31 23:29] derekwaynecarr commented on #31676
I am good with an approach that stalls bleeding.  Appreciate the help from folks while I look at grouping the namespace deletion flakes.

[2016-08-31 23:30] vishh commented on #31676
I suspect that this manual delay is most likely hiding an underlying
eviction issue.

On Wed, Aug 31, 2016 at 2:42 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-08-31 23:31] feiskyer commented on #31824
CC @kubernetes/sig-network

[2016-08-31 23:37] yujuhong commented on #31676
That's exactly the intention, so @derekwaynecarr can spend time investigating the root cause.

[2016-08-31 23:37] k8s-merge-robot opened #31838 "kubernetes-e2e-gke-staging-parallel: broken test run (docker run failed)"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/7947/

Run so broken it didn't make JUnit output!

[2016-08-31 23:39] yujuhong commented on #31743
Closing this so that we'll get a clear notification if the test starts failing again.

[2016-08-31 23:39] #31743 closed

[2016-08-31 23:43] jberkus commented on #30716
@bgrant0607

Some examples:

* Patroni Postgres: https://github.com/jberkus/atomicdb/blob/master/docker/scripts/entrypoint.sh

Note how pretty much all that entrypoint script does is create a config file out of ENV variables.  And yet, it's vulnerable to quoting issues, disrupts signal processing, etc.

* Official Postgres Image for Docker: https://github.com/docker-library/postgres/blob/master/9.

[2016-08-31 23:44] derekwaynecarr commented on #31740
Now that https://github.com/kubernetes/kubernetes/pull/31636 has merged, we should see a reduction of these flakes, or if they do occur we will have clearer information on what remained and why and be able to better classify.

The error message reported will differ.

For messages of the form:

__"namespace %v was not deleted with limit: %v, pods remaining: %v, pods missing deletion timestamp: %v"_

[2016-08-31 23:45] yujuhong commented on #31676
Ok. Let me rephrase it. I am fine with the memory evicting test failing, as long as it doesn't affect others.
If your concern is that no one will pay attention to the issue since we've cover it up, we can move the 5 min delay to after the `admit-best-effort-pod` is created. This way, the eviction test still fails for not being to start a new pod, while other tests won't be affected. Thought? @vish

[2016-08-31 23:52] elyscape opened #31839 "Termination log can only be written to by root"
Pod specs let you specify a value for `terminationMessagePath`. The intent is for this to be a file that gets mounted into a container into which it ["will write its ‘death rattle’?, such as assertion failure messages, stack traces, exceptions, and so on"](http://kubernetes.io/docs/user-guide/production-pods/#termination-message). When a container exits, any contents of the termination message fil

[2016-08-31 23:54] #24953 closed

[2016-08-31 23:56] Cloven commented on #31762
I've been thinking about this issue for a while, and motivated by some of thockin's thoughts and a really interesting discussion with @smarterclayton on the main petset thread, I went through the exercise of trying to formalize the conflicts between the 'traditional model' of applications running in data centers, and the 'kubernetes model'.

From that list of conflicts I distilled down a short, an

[2016-08-31 23:57] k8s-merge-robot opened #31840 "kubernetes-e2e-gce-slow: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/9018/

Run so broken it didn't make JUnit output!

[2016-09-01 00:01] rmmh commented on #31840
Dupe of #31838

[2016-09-01 00:01] #31840 closed

[2016-09-01 00:01] rmmh commented on #31838
My bad! Should be fixed now.

[2016-09-01 00:03] bprashanth commented on #31762
took a really quick look, you seem to have described the need for petset by enumerating the conflict points (right?). will leave comments later.

[2016-09-01 00:12] dchen1107 commented on #31676
@mtaufen and I discussed 45s wait in the morning, and I also raised the the concern of paper over the real issue here. But I quickly convinced myself through the following reasons:

*) There is an issue in evicition manager, and @derekwaynecarr is on it.
*) If simply introducing 45s wait to the test without any other changes, I think in a real production environment, this is not an issue with prio

[2016-09-01 00:14] AdoHe commented on #31753
I think auth engine should only work when an existed URL is hit, if URl is not found, we should return 404. Makes more sense for me.

[2016-09-01 00:18] dims commented on #31839
Looks like there was an earlier issue as well. https://github.com/kubernetes/kubernetes/issues/28947

[2016-09-01 00:19] ncdc commented on #31740
Sgtm

On Wednesday, August 31, 2016, Derek Carr <notifications@github.com> wrote:

[2016-09-01 00:19] MrHohn commented on #31807
The current implementation registers SIGINT and SIGTERM. When they occur it will call glog.Fatalf() which leads to os.Exit(255). Do you mean we should instead discard the SIGTERM signal and exit the program when SIGKILL occurs? Or program would gracefully exit according to the msg from stopChannel?

I am not very clear about the relationship between kube-dns and LBs. Does LB mean LoadBalancer?

[2016-09-01 00:23] elyscape commented on #31839
Good catch! I looked but didn't find that.

[2016-09-01 00:27] AdoHe commented on #31780
/cc

[2016-09-01 00:32] mml opened #31842 "Can't recover from a 502 within verify-godeps.sh"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31722/kubernetes-pull-verify-all/12062/
[code]

[2016-09-01 00:34] mml commented on #31842
@kubernetes/test-infra-maintainers

[2016-09-01 00:36] m1093782566 commented on #31695
ok, thanks! -close it here :)

[2016-09-01 00:36] #31695 closed

[2016-09-01 00:37] m1093782566 commented on #31788
close it here as I will describe the problem in  PR #31789

[2016-09-01 00:37] #31788 closed

[2016-09-01 00:38] MrHohn opened #31843 "PR builder: Error response from daemon: no such id: kubernetes-pull-build-test-e2e-gce"
From a failed on-PR request: #30739
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30739/kubernetes-pull-build-test-e2e-gce/56882

[2016-09-01 00:48] vishh commented on #31676
@yujuhong & I chatted offline. Reproducing this test failure is apparently straightforward (it fails almost consistently). And this test is affecting other tests. So why not disable the test for now and have @mtaufen and/or @derekwaynecarr work towards adding it back in. I'm happy to help out if an extra hand will be helpful.

If repro is not-consistent, then we can create a separate test suite fo

[2016-09-01 00:49] saad-ali commented on #31272
gives us some ideas how to handle hanging goroutine

Correct me if I'm wrong, but my understanding is this is just suggesting using channels for termination, which won't work in this case because the "work to be done" blocks indefinitely and does not poll, thus the goroutine has no opportunity to check for a termination signal.

[2016-09-01 00:51] rmmh commented on #31842
Please link to the full build page.

[2016-09-01 00:52] saad-ali commented on #31272
Good point. Any idea what the majority behavior is?

[2016-09-01 00:52] nikhiljindal commented on #31077
I was trying to reproduce this today, but now it is failing before namespace controller reaches `federationClientset.Core().Namespaces().Delete(nsName, &api.DeleteOptions{})`

Now it is failing at:
https://github.com/kubernetes/kubernetes/blob/199338a551dd9cc52b4a57618ada3aeab6d37af4/federation/pkg/federation-controller/namespace/namespace_controller.go#L355 with the error: `Failed to update names

[2016-09-01 00:53] rmmh commented on #31842
Looks like this is a common thing to have to workaround :( https://codereview.chromium.org/701843004

[2016-09-01 00:58] rmmh commented on #31842
The verify script is running `godep restore`, which is an external project.

Verify-godeps takes a long time (~10 minutes) and is flaky. Maybe we shouldn't run it on PRs that haven't touched a vendors/ or any files with "godep" in the name?

[2016-09-01 01:02] bprashanth commented on #31552
I think one issue is a race in the test.

In the last run, these are the events I see:
[code]

And in fact the scheduled job controller serially deletes then creates a job: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/scheduledjob/controller.go#L245

But the test runs a poll loop and erros out if there are 0 jobs: https://github.com/kubernetes/kubernetes/blob/master/test/e2e

[2016-09-01 01:02] pwittrock commented on #31740
SGTM.

[2016-09-01 01:02] #31740 closed

[2016-09-01 01:05] ixdy commented on #31842
@rmmh we already do that. The linked PR has changes to `staging/src/k8s.io/client-go/1.4/Godeps/Godeps.json`.

[2016-09-01 01:12] saad-ali commented on #31272
To close on this, a couple of suggestions:

1. Use [`ReadDirNames`](https://golang.org/pkg/os/#File.Readdirnames) to read names in dir and then explicitly `LStat` each name to figure out which ones are directories (with the potential of LStat hanging)--the "limit the leakiness" approach.
2. May be use `getdents` syscall directly and extract type from the `dirent` response

Another crazy though: ar

[2016-09-01 01:17] MrHohn commented on #31807
Is this for the scenario while scaling down the kube-dns? We want those terminating kube-dns pods continue to provide dns service until they are completely remove from the service endpoints pool.

[2016-09-01 01:25] dims commented on #31839
@elyscape : will you be able to try a small change to see if it works in your environment?

[code]

[2016-09-01 01:29] smarterclayton commented on #31753
The security challenge is that namespace names might be security minded,
and so that allows an attacker to probe for names of namespaces or
resources.

On Wed, Aug 31, 2016 at 8:15 PM, TonyAdo <notifications@github.com> wrote:

[2016-09-01 01:30] madhusudancs commented on #28812
@nikhiljindal yes!

[2016-09-01 01:32] #30567 closed

[2016-09-01 01:33] dlsniper opened #31845 "Problems accessing the API server"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: aws, custom provisioned, no cloud provider selected
- **OS** (e.g. from /etc/os-release):

[code]
- **Kernel** (e.g. `uname -a`):

[code]
- **Install tools**: not sure
- **Others**: not sure

**What happened**:

[code]

**What you expected to happen**:
get the logs of the pod

[2016-09-01 01:35] smarterclayton commented on #30716
@bgrant0607 i question how many people want config map changes inline (in
practice) vs deployment controlled.  config map changes inline are "hooray,
now your application is broken all at once" so I think they are reserved
for sophisticated users.

On Wed, Aug 31, 2016 at 7:43 PM, Josh Berkus <notifications@github.com>
wrote:

[2016-09-01 01:36] bprashanth commented on #31428
The first test failed because we only created 3 daemons for some reason (https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/2011/build-log.txt). The node jenkins-e2e-minion-group-vwd8 never got one. The controller manager logs are unhelpful, they were probably rotated.

@mtaufen can you link logs to your failure?

[2016-09-01 01:36] smarterclayton commented on #28660
The UDP / custom protocol visible externally certainly needs a solution -
we have no good solution today even without pet sets.

On Wed, Aug 31, 2016 at 7:02 PM, Prashanth B <notifications@github.com>
wrote:

[2016-09-01 01:42] sharpevo opened #31846 "[!!Kubernets!!]"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: aws, custom provisioned, no cloud provider selected
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Install tools**: not sure
- **Others**: not sure

**What happened**:

[code]

**What you expected to happen**:
get the logs of the pod

**H

[2016-09-01 01:43] elyscape commented on #31839
I'll test it out in a VM shortly.

[2016-09-01 01:49] rmmh commented on #31842
Where is that logic? #31833 ran verify-godeps without relevant changes: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/31833/kubernetes-pull-verify-all/12065/build-log.txt

[2016-09-01 02:06] nwwells commented on #16296
Thanks!

[2016-09-01 02:18] smarterclayton commented on #31839
Note that this field currently is dangerous to use by non-root users - because there is no size limited imposed, a malicious pod can break the apiserver and kubelet.

[2016-09-01 02:19] bgrant0607 commented on #30716
@smarterclayton I agree about inline configmaps. I was just looking for past discussions about related topics.

[2016-09-01 02:28] duglin commented on #31824
FYI @philips

[2016-09-01 02:36] AdoHe commented on #31702
[code]
I would support this way.

[2016-09-01 02:39] elyscape commented on #31839
Oh. Well, that's fun.

[2016-09-01 02:51] kozikow commented on #23896
This is slightly off topic, but there is a risk that templated yamls will end up as another GCL - turing complete bad programming language.

Some projects decide to embrace the "Configuration as code" - for example airflow explains their case for configuration as python code rather than yaml/json in <http://nerds.airbnb.com/airflow/>.

I am in progress of deleting all my handwritten yamls and gene

[2016-09-01 03:12] bparees commented on #23896
@kozikow explicitly avoiding turing completeness is one of the principles of the template proposal.  the capabilities are intentionally very limited.  But we do not want to throw people into the deep end of "write your object definitions in go/python/etc".  that option is always available, of course, and people will always be free to choose it if it meets their needs, but that's not the role this

[2016-09-01 03:51] saad-ali commented on #29324
@svanderbijl Thank you very much for sharing repro steps. How do you destroy the nodes? Delete the VM and then the k8s API object, vice versa?

@justinsb How would https://github.com/kubernetes/kubernetes/pull/31090 react to a node being deleted? It shouldn't matter right? Since the attach and detach are independent per node.

[2016-09-01 04:09] saad-ali commented on #24255
@kubernetes/sig-apps Any suggestions for those running trying to run MySQL and running into access denied?

[2016-09-01 04:10] smarterclayton commented on #30584
I'm seeing this as well:

[code]

It appears to be the first file I try to regenerate that fails (I don't have federation changes, just core API).

[2016-09-01 04:28] Kashomon commented on #30672
Currently running the test continually waiting for a flake...

[2016-09-01 04:31] Random-Liu commented on #30714
The test never fails again from 6 days ago, I guess some container network change fixed this. Close this one. Feel free to reopen if this happens again.

[2016-09-01 04:31] #30714 closed

[2016-09-01 04:40] smarterclayton opened #31849 "Conversion is generating v1 -> v1 rules if a type only exists in external"
For backwards compatibility we support various types that exist in external API versions but not internal.  Those fields have structs in v1, are marked as `// +k8s:conversion-gen=false`, but have no internal types.  Custom conversions turn them into the new field.

The generator is currently creating rules `Convert_v1_TYPE_to_v1_TYPE` if a type only exists in v1.  It should only generate when ther

[2016-09-01 04:40] k8s-merge-robot opened #31850 "TestServiceAlloc {master}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/16469/

Failed: TestServiceAlloc {master}

[code]

[2016-09-01 05:22] davidopp commented on #31771
@kevin-wangzefeng

[2016-09-01 06:14] piosz commented on #30939
After 17h I still can't see any issue. Could you share more details about your environment?

[2016-09-01 06:28] thockin commented on #31849
I have not touched this code since the big changes a month + ago.

On Wed, Aug 31, 2016 at 9:41 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-01 06:29] jszczepkowski commented on #30939
I run experiments similar to Piotr's. I used kubernetes version from HEAD and generated load by `php-apache` and `hpa-example` images running for nearly one day. Still I couldn't reproduce the problem.

[2016-09-01 06:30] thockin commented on #30584
Where is the "false" coming from?  The tree under .make shadows the code
tree - ain't no "false" directory...

On Wed, Aug 31, 2016 at 9:11 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-01 06:38] nhlfr commented on #31845
@dlsniper You should use 10.0.0.1 as the IP address of kube-apiserver instead of localhost. The kubernetes-dashboard doesn't use host newtworking and is in its own net namespace.

[2016-09-01 06:41] jingxu97 commented on #31822
@saad-ali @pmorie @matchstick
This data wipe out issue is reported by quite a few users. Could we put on some notes on the docs to avoid this situation?

[2016-09-01 06:41] thockin commented on #31807
Yes, I think that ignoring SIGINT would be better.  What happens is this:

* Assume you have DNS with 2 backends, X and Y, on two nodes, N and M
* Someone (user, deployment, controller, whatever) says "delete pod X"
* API server sets deletion time to now+30s
* This effectively means X is "not-ready"
* Roughly in parallel:
  a) controller manager sees the not-ready and removes X from the DNS
endpoi

[2016-09-01 07:32] thockin commented on #30600
As this is all hypothetical still, easy to agree on.

On Tue, Aug 30, 2016 at 1:39 PM, Joe Finney <notifications@github.com> wrote:

I'm fine with that

Humans should never NEED to call anything but 'make' or 'make LOCAL=1'
or similar.

?!  Disagree.  I honestly see NO REASON not to use docker for builds.
Local support is for crazies who think they can have workstations
without docker installed, a

[2016-09-01 07:32] #25392 closed

[2016-09-01 07:33] thockin commented on #31739
I agree with the goal, but what real problem is it causing today?

[2016-09-01 07:41] k8s-merge-robot opened #31855 "kubernetes-e2e-gke-staging-parallel: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/7963/

Run so broken it didn't make JUnit output!

[2016-09-01 07:46] nebril commented on #31846
Maybe I am nitpicking, but could you possibly change the name of the issue to something more descriptive?

[2016-09-01 07:59] wojtek-t commented on #31795
I think that we are not using this function by default, which is I probably missed it during my optimizations. I can take a look, but probably not for 1.4 timeframe.

[2016-09-01 08:02] wojtek-t commented on #31849
I think that Tim`s changes are the only one I can think about that potentially could affect it (I'm not aware of anything else since 1.3)

[2016-09-01 08:14] #17721 closed

[2016-09-01 08:19] krmayankk commented on #6284
@bgrant0607 does this diff take into account the default values and ignores them in the diff ? Many fields in the local file are not populated and get default values, are they flagged as diffs ?

[2016-09-01 08:30] wojtek-t commented on #31589
Hmm - we are now running tests on exclusive machines, and the symptoms are pretty much the same.

The new hypothesis is that maybe client (from test) is being throttled?

[2016-09-01 08:43] anioool opened #31858 "Request throttling for AWS"
Hi,

We are facing huge problem with throttling requests to AWS espiecially for describe methods. Our cluster has more than five hundred volumes attached. Also depending on the  load we are attaching/detaching volumes as well. As an outcome from controller manager logs I see a lot of entries for delay like this :+1:

As you can see CM  postpones requests, however request from the same minute are p

[2016-09-01 08:46] mwitkow commented on #30189
@thockin we kinda got bitten by this. Can you provide a pointer to which timers these are so we can infere the internal behaviour and adjust our stuff to it? :) thanks

[2016-09-01 08:57] gmarek commented on #27882
Sorry for dropping it so late, but it completely fell off my radar. What both @davidopp and @thockin wrote is right. Kuberentes should delete pods from NotReady Nodes after 5 minutes, with the exception of Daemons - isn't collectd a pod which is a part of daemon controller? If so, then sadly this is expected and was discussed a couple of times (@mikedanese who added this behavior). We probably sho

[2016-09-01 09:14] enieuw commented on #30769
Yep

[2016-09-01 09:20] geoah commented on #28709
I'm running on the same issue on AWS (1.3.4 CoreOS using kube-aws).

Events report...
[code]

Worker journal...
[code]

Petset  volumeClaimTemplates...
[code]

AWS shows the volume properly mounted on the instance.

Any ideas/hints on what might be going wrong? :)
Thanks.

[2016-09-01 09:21] wojtek-t commented on #31589
Yeah - I confirmed running large kubemark on my own cluster, that the problem is actually throttling in the e2e test client.
I will send out a PR that is fixing this.

[2016-09-01 09:34] errordeveloper opened #31863 "kubelet makes a lot of noise complaining about missing volumes subdir for static pods"
I keep seeing

[code]

in kubelet logs on master, and that directory is actually missing indeed.

This pod is one of the static pods for scheduler, and this one doesn't have any volumes.

The fix to this may be related to https://github.com/kubernetes/kubernetes/issues/31272.

cc @saad-ali @jingxu97 @pmorie

[2016-09-01 09:48] nhlfr commented on #29406
Relying on `CreatedBy` isn't very good idea IMO. These commands can be repeated, it probably happens very rarely, but if someone writes crappy Dockerfiles, that can occur.

My proposition is to not store `<missing>` layers at all. How? We may add the sizes of all `<missing>` layers to the layer with ID which is basing on them. Then we can operate only on layers with ID-s, with sizes being the sum

[2016-09-01 09:51] liangxia opened #31866 "Pod created with volumes in zoneB show successfully assigned to node in zoneA"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
\# kubectl version
Client Version: version.Info{Major:"1", Minor:"4+", GitVersion:"v1.4.0-alpha.3.317+2a28917e0a7487", GitCommit:"2a28917e0a7487e302f9c754340a112a5243f04f", GitTreeState:"clean", BuildDate:"2016-09-01T05:48:36Z", GoVersion:"go1.7", Compiler:"gc", Platform:"linux/am

[2016-09-01 10:21] #31846 closed

[2016-09-01 10:41] k8s-merge-robot opened #31867 "[k8s.io] Networking [k8s.io] Granular Checks should function for pod communication on a single node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13625/

Failed: [k8s.io] Networking [k8s.io] Granular Checks should function for pod communication on a single node {Kubernetes e2e suite}

[code]

Previous issues for this test: #28827

[2016-09-01 10:50] jonathan-kosgei commented on #24668
Hi, holding off on opening another issue, I have this same problem. How exactly do I get curl to work? A working example would really help. I tried adding the headers above with no succes.
[code]

[2016-09-01 10:56] dims commented on #31850
cc @lavalamp as test was added yesterday (https://github.com/kubernetes/kubernetes/commit/2a28917e0a7487e302f9c754340a112a5243f04f)

[2016-09-01 11:28] #31589 closed

[2016-09-01 11:44] jsafrane commented on #30897
@thockin

IMO, Ceph will need two secrets, one for admin to create a volume and second for an "user" (=kubelet) to mount/unmout the volume.

[2016-09-01 11:45] jsafrane opened #31871 "storage class for glusterfs should not use plaintext password"
Current provisioner for GlusterFS needs a plaintext password in `StorageClass.Parameters`:

[code]

There should be a secret to hold the password.

In addition, as agreed in #30897, the configuration parameters from StorageClass should be stored in provisioned  PVs as annotations, so the class can be modified/deleted without blocking deletion of dynamically provisioned volumes.

 Proposing P1: Thi

[2016-09-01 11:52] dshulyak commented on #31778
@derekwaynecarr @vishh @dchen1107

[2016-09-01 12:02] svanderbijl commented on #29324
We used the AWS console to terminate the instances. K8S is configured with the AWS cloud provider and detects no longer be present and cleans up.

[2016-09-01 12:03] k8s-merge-robot opened #31873 "[k8s.io] InitContainer should invoke init containers on a RestartAlways pod {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31221/kubernetes-pull-build-test-e2e-gce/56936/

Failed: [k8s.io] InitContainer should invoke init containers on a RestartAlways pod {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #31221.

[2016-09-01 12:05] dshulyak commented on #31778
I have the following understanding of this problem:

- If node is under resource pressure - kubelet should not admit the pod, pod status Phase should be Failed and the Reason should be different from Evicted
- If so scheduler needs to be aware of this somehow and not re-schedule a pod onto the same node

I would appreciate if someone will confirm if this is the case? If so, i can work on a solutio

[2016-09-01 12:15] mrook commented on #29324
An alternative strategy is to cordon the two workers first, deploy the petsets, then uncordon both workers.

[2016-09-01 12:18] wojtek-t commented on #31850
Taking this one - I know what is happening here. Will send a fix shortly.

[2016-09-01 12:37] justinsb commented on #29324
To confirm: this is with 1.3.5, and you do see the error with your reproduction?  I'm going to try to reproduce it this morning with your petsets.

[2016-09-01 12:38] dlsniper commented on #31845
@nhlfr thanks for your reply.

Sadly this didn't worked:
[code]

Doing a get all returns this:

[code]

The nodes seem to be working:
[code]

I've also tried:
[code]

The logs from kube-api-server are:
[code]

I'm trying to get the logs to figure out why this doesn't work as besides that error message I have nothing to go on.

[code]

I can publish the scripts I've used to configure k8s (ideally I

[2016-09-01 12:38] derekwaynecarr commented on #31778
For MemoryPressure, the Kubelet only rejects pods with BestEffort quality of service (ie pod that makes no memory or CPU request).  The same for scheduler.

For DiskPressure, Kubelet and scheduler will place no more pods on the node independent of QoS.

Can you provide the YAML output for the pod that was scheduled on the node so we can see its resource requirements?

[2016-09-01 12:38] justinsb commented on #29324
@saad-ali in general the AWS provider should cope with nodes being deleted (with and without the patch - it is a very normal operation on AWS), though I hit #31088 when I tried it before

[2016-09-01 12:40] mrook commented on #29324
@justinsb yes, with vanilla 1.3.5 and the petset example we can consistently reproduce wrong volume assignments

[2016-09-01 12:43] dshulyak commented on #31778
@derekwaynecarr sure, i was using this example https://github.com/kubernetes/kubernetes/blob/master/examples/cockroachdb/cockroachdb-petset.yaml

[2016-09-01 12:45] wojtek-t commented on #30788
@mwielgus - is this fixed?

[2016-09-01 12:46] wojtek-t commented on #31710
@piosz - FYI

[2016-09-01 12:48] wojtek-t commented on #30682
Kubemark was broken multiple times.

The other occurrences are dup of #27822

[2016-09-01 12:48] #30682 closed

[2016-09-01 12:52] piosz commented on #31710
Rescheduler is disabled by default so the test won't work. It shouldn't be running in this suite. I'll fix this.

[2016-09-01 13:01] wojtek-t commented on #31539
It seems that @gmarek knows what is happening here and he fixed similar problem in the past for scheduler predicates test. So reassigning to him.

[2016-09-01 13:03] rootfs opened #31875 "update-gofmt.sh should skip vendor directory"
After running update-gofmt.sh, the following files are get modified

[code]

[2016-09-01 13:05] pmorie commented on #31272
I'm going to play with the mount options in the NFS plugin today and see if I can divine out the right mix of flags before I proceed with this.

[2016-09-01 13:06] #28487 closed

[2016-09-01 13:08] eparis commented on #31272
forcing non-default flags on users/applications is a bad idea. My understanding is it creates risk for applications which call write() but don't check the return. Admittedly this is preventing data corruption only for 'non-horrible-applications' but I'd bet containers will increase the number of terrible applications, not decrease them.

[2016-09-01 13:09] justinsb commented on #29324
Confirmed with 1.3.6 on AWS:

[code]

I used the cordon approach.  Looking at logs now.

My notes:

[code]

[2016-09-01 13:19] josselin-c opened #31876 "kubenet: local/internet bandwidth shaping"
FEATURE REQUEST: Per destination bandwidth shaping

While it's now possible to add a per-pod bandwidth limit with annotations `kubernetes.io/{ingress,egress}-bandwidth` this limit is set on the pod regardless of the trafic's origin/destination.

In our use-case we would like to host containers for other companies in our Kubernetes cluster. While we would like the local<->local bandwidth to be unli

[2016-09-01 13:21] dlsniper commented on #31845
More information on this:

[code]

[code]

[code]

[2016-09-01 13:24] k8s-merge-robot opened #31877 "[k8s.io] Density [Serial] [Slow] create a sequence of pods latency/resource should be within limit when create 10 pods with 50 background pods {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/519/

Failed: [k8s.io] Density [Serial] [Slow] create a sequence of pods latency/resource should be within limit when create 10 pods with 50 background pods {E2eNode Suite}

[code]

Previous issues for this test: #30878 #31743

[2016-09-01 13:31] dlsniper commented on #31845
And another thing, from the same node I can do this:

[code]

And I can see other api calls as well. I "just" can't figure out how to launch the dashboard correctly nor how to get the logs.

Thank you.

[2016-09-01 13:32] kelseyhightower commented on #30716
Working through the comments in this thread I would strongly suggest we not build a configuration management tool into Kubernetes. Once we go this route there will be no turning back, we will reach a point of owning a subset of functionally that every configuration management tool does.

Today the request is for dynamic configuration with the ability to pull data from any source. Tomorrow it will

[2016-09-01 13:34] wojtek-t commented on #28713
@caesarxuchao - was this one fixed during all the work done in the past few weeks? There weren't any flakes in the last 3 weeks for this.

[2016-09-01 13:34] Rachitmehrotra opened #31879 "Ubuntu provider script is failing and not able to reach api-server (ubuntu,cluster,ubuntuProvider script)"
I have installed in one single node and one master node setup this is not working,same thing was working for me in kubernetes version 1.3.0 15 days back,please tell me the fix .

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):NO

**Is this a BUG REPORT or FEATURE REQUEST?** (choose o

[2016-09-01 13:42] justinsb commented on #29324
Here is what I have found so far:

* We hit AWS rate limits with this many volumes (which means requests taking longer because we insert delays).  So we are likely going into a rarer execution path somewhere.
* The volume vol-c85ad849 was initially attached to "bs", then the second time to "bm"
* The volume was rescheduled onto the same node
* The interval between the Detach completing and the Att

[2016-09-01 13:44] justinsb commented on #29324
(And ntp was running, so I believe these timestamps should be accurate - certainly to within a second)

[2016-09-01 13:51] #31850 closed

[2016-09-01 13:52] danwinship commented on #31824
I guess because OpenShift allows user accounts to create multiple namespaces.

FWIW, OpenShift does this (as part of a larger system of auth and permissions)

There's an even-less-strong degree than that, which is that tenants are isolated from each other *by default*, but if they want to, they can create NetworkPolicies allowing ingress from other tenants' namespaces. (Which probably only makes s

[2016-09-01 13:54] justinsb commented on #29324
One more piece of information... the log message for KCM around the "problem time period" was:

[code]

So while the kubelet was mounting the volume on bs, KCM was doing the detaching from bs and waiting for it to complete.

PS thanks for the awesome repro @mrook and @svanderbijl

[2016-09-01 13:54] k8s-merge-robot opened #31880 "TestServiceAlloc {master}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/16485/

Failed: TestServiceAlloc {master}

[code]

Previous issues for this test: #31850

[2016-09-01 14:00] timothysc commented on #31795
Jay has been starting to dig into the scheduler, so I think it a worthwhile exercise for learning.

[2016-09-01 14:02] smarterclayton commented on #31824
Note that as of 1.3 NodePort is quota' and LimitRanged.  Also service load balancer (don't want your AWS tenants driving you to bankruptcy).

[2016-09-01 14:07] smarterclayton commented on #31824
A philosophical point about use of namespaces that I think we try to apply everywhere:

1. A namespace is a programmable block of tenancy
2. Policy can be used to control tenants access to resource types in that namespace (quota, limit range, network policy)
3. If a resource in a namespace needs to be split for use by tenants and admins, we usually do that through 2 resources, or policy on name, b

[2016-09-01 14:07] dims commented on #31880
Should be already fixed by https://github.com/kubernetes/kubernetes/commit/164eebe3a44736866e024876d15d514a53f71880

[2016-09-01 14:12] wojtek-t commented on #31880
Fixed by #31874

[2016-09-01 14:12] #31880 closed

[2016-09-01 14:15] matthiasr commented on #11204
Just as a note because I haven't seen that case mentioned yet – in our use-case (bare-metal cluster, hooking directly into the network layer) pods can and should directly communicate with _all_ IPs, so we'd like the ability turn this off completely. I have not tested whether setting the non-masquerade-cidr=0.0.0.0/0 does that, it just might, but that still feels incidental.

[2016-09-01 14:23] ichekrygin commented on #30939
I will upgrade to 1.3.6 and try to repro and post the update.

[2016-09-01 14:26] pmorie commented on #31272
@eparis I think one can always count on the number of terrible applications to go up, since most are terrible.

[2016-09-01 14:31] #31673 closed

[2016-09-01 14:32] dims commented on #31845
`dial tcp [::1]:8080: getsockopt: connection refused` probably indicates localhost is is resolving to ::1, can you use 127.0.0.1 and see if that helps?

[2016-09-01 14:36] wojtek-t commented on #29897
"@k8s-bot kubemark test this" should now work.

We should try to enable it by default on PR, but not block the PRs on it yet.

[2016-09-01 14:44] doron-fediuck commented on #31762
Looking at distributed locking and fencing, there's a project called SanLock[1] which handles distributed
locking. We could leverage it (we need some time to do a proper design) and use its built-in fencing or indeed an external fencing agent using IPMI or similar.

[1] https://fedorahosted.org/sanlock/

[2016-09-01 14:45] dlsniper commented on #31845
@dims sadly the same result:

[code]

[2016-09-01 14:45] dlsniper commented on #31845
I'm fairly sure it's something wrong in my deployment model but I can't yet show you how I'm doing it. As soon as I get the approval for opening the scripts I'll link them here. Thank you!

[2016-09-01 15:12] smarterclayton commented on #31795
I don't think there's a rush - we'll end up backporting anything
anyway and are ok with that.

[2016-09-01 15:12] smarterclayton commented on #29897
Woohoo

On Sep 1, 2016, at 10:36 AM, Wojciech Tyczynski <notifications@github.com>
wrote:

"@k8s-bot <https://github.com/k8s-bot> kubemark test this" should now work.

We should try to enable it by default on PR, but not block the PRs on it
yet.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/kubernetes/kubern

[2016-09-01 15:13] smarterclayton commented on #31762
I don't know that we need distributed locking as much (keep me honest)
because we already have a strongly consistent core storage and a lease
library for clients.  But we definitely need to be able to have easy
integrations into existing fencers.

[2016-09-01 15:16] piosz commented on #30939
The difference between 1.3.5 and 1.3.6 is minor, especially in both cases Heapster is in the same version. I doubt whether the issue was fixed in 1.3.6 in comparison to 1.3.5.

@ichekrygin where do you run your cluster? Which version of Heapster is there? Can you see anything suspicious in Heapster logs? Do you have any specific load in your cluster?

[2016-09-01 15:21] k8s-merge-robot opened #31884 "[k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31878/kubernetes-pull-build-test-e2e-gke/10546/

Failed: [k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #31878.

Previous issues for this test: #26175 #26846 #27334 #28293 #29149

[2016-09-01 15:22] derekwaynecarr commented on #31676
I am investigating this today assuming I don't get pulled in another fire.  @vishh if you have spare cycles to assist, it's appreciated.

[2016-09-01 15:33] #31539 closed

[2016-09-01 15:34] deads2k commented on #31521
We discussed the pros and cons in sig-api-machinery yesterday.  Choosing a particular group name means that clients (including our internal code) require less work and re-swizzling to handle promotions between versions.  Even if you choose a group you end up not liking, the amount of work remains the same as the incubator work case.

opened https://github.com/kubernetes/kubernetes/pull/31886

[2016-09-01 15:39] soltysh commented on #31009
@AdoHe any progress on this one, if not I can start working on this one now that I'm back from PTO.

[2016-09-01 15:42] yujuhong commented on #26982
Closing this issue since namespace deletion issue is handled in #29308, and it'd be more clear to file new bugs for failures with different causes.

[2016-09-01 15:42] #26982 closed

[2016-09-01 15:42] felipejfc commented on #31415
+1 It happens on all my nodes, at least once per day, some instances more than others

[2016-09-01 15:45] k8s-merge-robot opened #31888 "[k8s.io] [Feature:Example] [k8s.io] Downward API should create a pod that prints his name and namespace {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/14563/

Failed: [k8s.io] [Feature:Example] [k8s.io] Downward API should create a pod that prints his name and namespace {Kubernetes e2e suite}

[code]

Previous issues for this test: #31539

[2016-09-01 15:47] jberkus commented on #30716
@kelseyhightower

"The problem here is that a very small subset of applications really want Pod level details, which feels like a real one off to me."

Given that I started down this particular quest based on something *you* said, this seems like a contradictory attitude.  Do you want people to get rid of "init scripts for hipsters", or not?

[2016-09-01 15:48] Deshke commented on #30495
still broken

[code]

[2016-09-01 15:53] jingxu97 commented on #31863
@errordeveloper The reason for this error message is because there is no volume directory under /var/lib/kubelet/pods/ UID/. But the code in here https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_volumes.go#L150 assumes there is always a volume directory under pod dir. Will work on a fix for this.

[2016-09-01 15:55] k8s-merge-robot opened #31889 "[k8s.io] ServiceAccounts should ensure a single API token exists {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31221/kubernetes-pull-build-test-e2e-gce/56953/

Failed: [k8s.io] ServiceAccounts should ensure a single API token exists {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #31221.

[2016-09-01 16:07] koendc opened #31891 "EBS volumes remains in 'attaching' state when attached with a previously used device name"
**Kubernetes version**:

`Server Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.6+coreos.0", GitCommit:"f6f0055b8e503cbe5fb7b6f1a2ee37d0f160c1cd", GitTreeState:"clean", BuildDate:"2016-08-29T17:01:01Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}`

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS**: CoreOS
- **Kernel**: 4.6.3-coreos
- **Inst

[2016-09-01 16:09] thockin commented on #28453
Closing for now, please come back when a proposal is ready

[2016-09-01 16:10] thockin commented on #29270
Dup of #9229

[2016-09-01 16:10] #29270 closed

[2016-09-01 16:12] jberkus commented on #30716
BTW, I'm not saying that a template object is the answer.  I'm just saying that we need *an* answer which isn't "implement this long complicated toolchain involving several different kinds of objects".

[2016-09-01 16:13] mtaufen commented on #31676
Investigating the last flake. Not sure what caused the burstable to fail prematurely.

[2016-09-01 16:15] thockin commented on #28973
This is not really a bug or feature, so I am going to close it for now.  Holler if it causes you pain?

[2016-09-01 16:15] #28973 closed

[2016-09-01 16:18] etotheipi commented on #23727
I have the same problem as @benhosmer:  in my vagrant cluster I ran into the `Forbidden: "/api/v1/proxy/namespaces/kube-system/services/"` issue.

* Used the kube-up.sh script which setup my vagrant boxes and printed the instructions as others have mentioned
* Went to `https://10.245.1.2/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard` in my browser, which requested a login
* Att

[2016-09-01 16:25] justinsb commented on #29324
Could this be as simple as the pod being scheduled on the node, and the kubelet picking up a previous mount?

A few things I found suspicious (but this is just by visual scanning of the code):

* Maybe the kubelet is not observing the "volume is no longer safe to mount" here https://github.com/kubernetes/kubernetes/blob/f25d5439af327d0cc4a785850e33e93caf4d11f0/pkg/controller/volume/attachdetach/re

[2016-09-01 16:26] girishkalele commented on #31739
I wish there was a single build + deploy for the entire codebase - making kube-dns the same as the other kube-xxxx daemons.
Multiple engineers committing kube-dns changes which collide would be eliminated.
The branching process for kube-dns containers tag versions will be eliminated.
For OSS contributors without push access to gcr.io/google_containers, they can commit changes just like other kube-

[2016-09-01 16:35] liggitt commented on #31889
@derekwaynecarr this look related to your framework ns cleanup?

[2016-09-01 16:38] gmarek commented on #31888
This seems to indicate that there're some problems with either gobindata (@jayunit100 - though `CreateFileForGoBinData` doesn't return an error) or there's something I don't know about in jenkins test envoronment (@fejta)

[2016-09-01 16:42] thockin commented on #29176
if we're EOL'ing the local-docker instructions we should mark them as such.  I don't have a strong feeling either way, but DNS should work if it is a documented use case

[2016-09-01 16:44] thockin commented on #29243
Is this still a problem or can we close it?

[2016-09-01 16:44] MrHohn commented on #31807
Make sense, thanks for elaborating! Will make a PR soon.

[2016-09-01 16:47] caesarxuchao commented on #28713
I think the flake is still there. I'm also wondering why it doesn't happen anymore. I'll bump the priority down.

[2016-09-01 16:47] thockin commented on #29417
This is a support request.  Please use StackOverlfow, so it can be indexed and answered by a larger community.

That said, check your kubelet --cluster-dns  and related flags.

[2016-09-01 16:47] #29417 closed

[2016-09-01 16:52] Rachitmehrotra commented on #31845
@dlsniper are u using ubuntu deployment script ...for me also it not working
The connection to the server 10.10.103.250:8080 was refused - did you specify the right host or port?
(kubectl failed, will retry 2 times)
The connection to the server 10.10.103.250:8080 was refused - did you specify the right host or port?
(kubectl failed, will retry 1 times)
The connection to the server 10.10.103.250:80

[2016-09-01 16:55] ichekrygin commented on #30939
@piosz: cluster is on AWS, heapster version: v1.1.0, image: gcr.io/google_containers/heapster:v1.1.0
I can dig into logs in a sec, and no, no specific load on the cluster beyond one manually created to repro this issue.

[2016-09-01 16:56] dlsniper commented on #31845
@Rachitmehrotra I'm not using it, I'm using a custom script built from scratch as I have my own set of requirements for this. I'll link the script here as soon as I'm allowed to do so.

[2016-09-01 16:57] ichekrygin commented on #30939
@piosz: since I deleted HPA, there is nothing particularly interesting in the heapster log, perhaps this warning:

[2016-09-01 16:58] ichekrygin commented on #30939
i can try to repro it again and give you more meaningful data points (logs) if you need it.

[2016-09-01 17:00] rca commented on #24229
After looking around a bit with respect to secrets, I found [ansible-vault](http://docs.ansible.com/ansible/playbooks_vault.html), which will encrypt a file so it can be kept in version control.  In this file I keep simple `key=value` entries, and i'm working on a tool to generate the [secrets yaml](http://kubernetes.io/docs/user-guide/secrets/#creating-a-secret-manually) for kubernetes to ingest.

[2016-09-01 17:01] thockin commented on #30139
Is this still active, or can we close?

[2016-09-01 17:11] Rachitmehrotra commented on #31845
@dlsniper ----getting same error ...not sure how to proceed :(
./kube-apiserver --service-cluster-ip-range="10.2.0.0/16"     --etcd-servers="http://localhost:4001"     --cloud-provider=""
I0901 17:02:17.703094   26436 genericapiserver.go:606] Will report 10.0.2.15 as public IP address.
I0901 17:02:17.703378   26436 genericapiserver.go:288] Node port range unspecified. Defaulting to 30000-32767.
W0

[2016-09-01 17:19] caesarxuchao commented on #30228
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/31797/kubernetes-pull-test-unit-integration/42778/artifacts/
`error syncing item...Get http://127.0.0.1:39048/api/v1/namespaces/gc-non-existing-owner/pods/test.pod.1: EOF`

[2016-09-01 17:20] bprashanth commented on #31762
Yeah I think we already have a 90% solution if you're willing to trust the storage layer to enforce RWO, because each pet in the set gets 1-N unique volumes. We're just looking for further lines of defense. Each line of defense can be something simple, like an init container writing an annotation, and the kubelet timing out and killing local containers.

Using a third party fencing solution seems

[2016-09-01 17:23] ymqytw commented on #31561
After digging into the logs, the problem seems to be that a few puller pods cannot complete in 10 minutes. And in most cases, they are caused by gcr is unreachable.

[2016-09-01 17:37] Cloven commented on #31762
@bprashanth kind of!  I felt like the failure cases hadn't been explicated, so I tried to do that.

Once I did that, collapsing the model conflicts into the smallest set led to the realization that it's possible to solve the problems in a simpler way than Pet Sets is doing it now, while at the same time being a little more composable (the state of needing-a-constraint is a logical property of a po

[2016-09-01 17:42] caesarxuchao commented on #30228
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/31730/kubernetes-pull-test-unit-integration/42648/artifacts/

This one doesn't have the syncing error.

[2016-09-01 17:45] euank commented on #26093
Each MB should not count with containerized kubelet. We've already got a honkin' 170MB binary in hyperkube, with a docker image that weighs in at ~500MB.

When I removed socat it saved me... 950KB. When I'm deploying a 500MB binary, no, every MB does not count. If that MB avoids even a single bug, or just a few hours of development effort, it's worth it to me. And reimplementing socat in go will i

[2016-09-01 17:47] jingxu97 commented on #29324
@justinsb Could you please share the full KCM log and kubelet log so that I can help to take alook? Thank you!

[2016-09-01 17:47] krousey commented on #27630
@piosz This didn't seem to fix the issue. It's still failing. @pwittrock wants the 1.4 soak tests passing for the release. Specifically the kubernetes-soak-continuous-e2e-gce-1.4 suite.

I double checked, and it does have this change in it:
[code]

[2016-09-01 17:49] krousey commented on #28124
@yujuhong This is still an issue, and @pwittrock would like to get this passing in the kubernetes-soak-continuous-e2e-gce-1.4 test suite for the release. I know we talked about patching docker at least for the GCE images. Is that still an option? If not, could you sync up with @pwittrock about how to proceed? Thanks.

[2016-09-01 17:49] #25287 closed

[2016-09-01 17:50] ixdy commented on #31842
@rmmh it certainly used to work. https://github.com/kubernetes/kubernetes/blob/master/hack/verify-godeps.sh#L46-L51

Maybe something changed recently?

[2016-09-01 17:51] bprashanth commented on #31762
A better place for that discussion would be on the petset proposal then (https://github.com/kubernetes/kubernetes/pull/18016) where we discussed extending pods, extending rcs, arbitrary templatization and various other solutions

[2016-09-01 17:53] lavalamp commented on #31850
argh, sorry!

[2016-09-01 17:53] guoshimin opened #31897 "Poor error message when deleting deployments is blocked by ACL"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): NO

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): deployment delete acl error message

---

**Is this a BUG REPORT or FEATURE REQUEST?*

[2016-09-01 17:53] goltermann commented on #31825
@quinton-hoole, is fejta@ the right owner?

[2016-09-01 17:53] Cloven commented on #31762
alright, I'll post something over there.  Thanks!

[2016-09-01 17:53] lavalamp commented on #31850
Maybe this should be moved into the framework.

[2016-09-01 17:54] dchen1107 commented on #28384
Here is the summary what I had:

* All failures on soaking tests recorded in this issue and https://github.com/kubernetes/kubernetes/issues/28220 has the same root cause: Docker 1.11 has memory leakage issue https://github.com/kubernetes/kubernetes/issues/28124.
* There are several failures on serial tests too. All of them are running with GCI image, which is a mistake and fixed by https://github.

[2016-09-01 17:55] dchen1107 commented on #28220
I really want to dup this one to #28384, but believe bot will re-open one here.

Copied the summary I had for #28384 here:

* All failures on soaking tests recorded in this issue and #28220 has the same root cause: Docker 1.11 has memory leakage issue #28124.
* There are several failures on serial tests too. All of them are running with GCI image, which is a mistake and fixed by kubernetes/test-in

[2016-09-01 17:57] jingxu97 commented on #29324
Without verifying with the logs, I think the following race condition might happen between master and kubelet

At master the following events happen
volume attach as device1 --------------------------> detach ----------------->attach on the same node as device2

At kubelet around the same time
verifyAttach by checking /dev/disk/by-id/google-[DISK_NAME] (attached as device1) -->mount from device1 -

[2016-09-01 18:00] ichekrygin commented on #30939
@piosz: after upgrading to v1.3.6:
[code]

Not entirely sure if related - i see this from HPA

[2016-09-01 18:01] dchen1107 commented on #28384
Here are the plan:

1. Increase resource limit for docker runtime at cluster e2e test now
1. Create a separate node soaking test to monitoring both docker and kubelet resource usage with a very high limit. Let Node performance monitoring dashboard collects the stats and show it on the dashboard. cc/ @coufon
1. Once above is finished, remove this test completely from cluster e2e.

[2016-09-01 18:03] cheld commented on #29176
DNS is not working because service account not working any more when using --containerized. Works with shared or slave which is now default. Issue can be closed, I assume.

[2016-09-01 18:03] MikeSpreitzer commented on #31824
@smarterclayton thanks for the clues.  I am not sure I fully understand the intent behind those words.  Is it obvious to you whether or how those points say to answer the questions I raised under "what is a tenant anyway" ?

I think Dan's point was that in OpenShift there is a tenant concept that is distinct from namespace and each tenant owns some set of namespaces, pulled from one shared space o

[2016-09-01 18:04] ichekrygin commented on #30939
after running quick `boom` load test can confirm that HPA is busted (i.e. - not scaling up)

[2016-09-01 18:06] Random-Liu commented on #31350
Close this one. https://github.com/kubernetes/kubernetes/issues/30714

[2016-09-01 18:06] #31350 closed

[2016-09-01 18:11] timstclair commented on #30548
Hopefully this is fixed. We'll reopen if it happens again.

[2016-09-01 18:11] #30548 closed

[2016-09-01 18:15] bprashanth commented on #30672
Going through the code it looks like we scale the hazelcast rc to 2 replicas, and poll on the logs of one of the pods for the string "Members [2]". The events indicate that the 2 replicas are created and healthy:
[code]

So I think the scope of this is retriced to the one hazelcast example, and that the second scaled up member is not able to join the group so "Members [2]" never shows up in logs.

[2016-09-01 18:18] #29176 closed

[2016-09-01 18:19] janetkuo commented on #31481
@zhouhaibing089 yes, it's scheduled job. I removed the acronym in title.

[2016-09-01 18:21] rickypai commented on #29691
closed as duplicate of https://github.com/kubernetes/kubernetes/issues/11936

[2016-09-01 18:21] #29691 closed

[2016-09-01 18:24] piosz commented on #27630
@krousey thanks for pointing to it. I'll try to bump to stable version 1.0 tomorrow (they haven't released it yet, but they have release candidate).

[2016-09-01 18:28] dchen1107 commented on #28124
Patching docker for today's GCE images is not an option. I am considering patching docker in GCI image though. cc/ @aronchick @kubernetes/goog-image

[2016-09-01 18:32] vishh commented on #31778
What @derekwaynecarr said! Rejection of new pods is based on the QoS class and guarantees of the resource.

[2016-09-01 18:33] freehan commented on #31876
CC @kubernetes/sig-network

[2016-09-01 18:33] mtaufen commented on #31676
For build 516
Burstable pod name: `burstable-u1b1l`
Associated container ID: `a5932dd0cda87f0db005adba5731461270697e9fd0ac8c4e1f06ef553d250258`

Logs indicate pod failure sometime between `6:55:23` and `6:55:24.2`:
`I0901 06:55:23.089618    2556 status_manager.go:312] Ignoring same status for pod "burstable-u1b1l_e2e-tests-eviction-test-3r3bo(ecd9b1a7-700d-11e6-947e-42010a800008)", status: {Phase:

[2016-09-01 18:35] bprashanth commented on #29503
https://github.com/kubernetes/kubernetes/issues/29503#issuecomment-243934747 @kubernetes/sig-api-machinery theres a class of failure modes on this similar to https://github.com/kubernetes/kubernetes/issues/30632, maybe we're overwhelming etcd into unavailability? (odd on such a tiny cluster)

[2016-09-01 18:37] vishh commented on #31676
@derekwaynecarr: @mtaufen seems to be on top of this issue. I will sync up
with him and help if necessary.

On Thu, Sep 1, 2016 at 11:34 AM, Michael Taufen <notifications@github.com>
wrote:

[2016-09-01 18:41] davidopp opened #31901 "e2e test failure: Rescheduler [Serial] should ensure that critical pod is scheduled in case there is no resources available"
It's failing in every kubernetes-e2e-gce-serial-release-1.4 run

@piosz says "This is probably because of the fact the Rescheduler is disabled by default. I'll sent a PR which exports flag to enable it in this suite, but how about enabling it by default in gce?"

cc/ @piosz @fgrzadkowski @pwittrock

Marking as flake just so we track it, even though it's deterministic.

[2016-09-01 18:43] bprashanth commented on #29503
The other class of failures:
[code]
is probably the result of a resource version conflict, kubectl should retry the node updates.

[2016-09-01 18:45] vishh commented on #31676
Under sys OOM, the message can show up at arbitrary times in the future.
The oom itself seems to have occurred at `2016-09-01 06:55:20` which is
suspiciously close to the pod start up time.

Even if the test fails at any stage, does it ensure that the overall
 memory availability drops to ~50% before it exits?

On Thu, Sep 1, 2016 at 11:37 AM, Vishnu Kannan <vishnuk@google.com> wrote:

[2016-09-01 18:45] dshulyak commented on #31778
@vishh can you please point me to documentation on this topic or original discussion? I would say it is not a best behavior to re-schedule evicted pod onto same node

[2016-09-01 18:48] vishh commented on #31765
We still need this feature. It helps with debugging test failures by
keeping all the daemons running upon failure.

On Tue, Aug 30, 2016 at 8:48 PM, Lantao Liu <notifications@github.com>
wrote:

[2016-09-01 18:51] piosz commented on #31901
The plan is to enable it by default in GKE, so probably we should enabled it by default in GCE as well. Also Rescheduler seems to be stable - e2e test is passing constantly for >1week.

[2016-09-01 18:51] dshulyak commented on #31778
also according to what @derekwaynecarr said pod that makes no memory request should be rejected by kubelet under MemoryPressure. This is exactly the case in mentioned example

[2016-09-01 19:03] vishh commented on #31778
@dshulyak

Pods with no requests or limits are classified as `BestEffort`. They will be rejected by kubelet when it is under `MemoryPressure`. Disk is already a best effort resource, since there existing no isolation for it yet. So kubelet rejects all pods irrespective of the QoS class when under disk pressure.

How is an evicted pod different from any other new pod scheduled to the node? An evict

[2016-09-01 19:05] vishh commented on #31778
@dshulyak are you expecting the system to reject burstable pods too?

[2016-09-01 19:09] #30646 closed

[2016-09-01 19:10] DirectXMan12 commented on #31621
I could be wrong, but based on my reading of https://github.com/docker/distribution/issues/1662#issuecomment-213079540, it looked like assuming you pushed in the v2 schema format, sha256:2 is actually the `config.digest` value (while sha256:1 is the manifest digest), which is why it appears locally -- the comment above mentions that the *config* is stored locally, while the *manifest* is used for

[2016-09-01 19:10] derekwaynecarr opened #31902 "PreStop hooks that fail to complete in time should generate a pod event"
Right now, we spawn an event when a container preStop hook fails, but we provide no event when the preStop hook fails to complete within the pods terminating graceperiod.  This can confuse end-users.  We should also generate an event when the hook fails to complete in time.

/cc @aveshagarwal @kubernetes/sig-node @smarterclayton @vishh

[2016-09-01 19:13] DirectXMan12 commented on #31621
I think I'm in favor of doing something that looks like this, more or less.  I wonder what the exact series of steps `docker pull` actually takes in order to print that output is?

[2016-09-01 19:17] mlbiam commented on #23727
use kubctl proxy then point your browser at http://localhost:8000

Marc Boorshtein
CTO Tremolo Security
marc.boorshtein@tremolosecurity.com
(703) 828-4902
Twitter - @mlbiam / @tremolosecurity

On Thu, Sep 1, 2016 at 12:19 PM, etotheipi <notifications@github.com> wrote:

[2016-09-01 19:20] jayunit100 commented on #27414
Enforcing KubeDescribe was a stop gap while we were working with the ginkgo community to support hierarchichal namespaces.

We can use `--ginkgo.scanRegexFilePath=true && --ginkgo.focus=k8s` to find all K8s.io tests now.  So we can survive without maintaining KubeDescribe.

I'm open to adding KubeDescribe if folks need it for another use case, but `scanRegexFilePath` has a functionally workaround,

[2016-09-01 19:26] MikeSpreitzer commented on #31824
I think the main use case for overlapping IPv4, AKA bring-your-own-IP, is a hybrid cloud scenario where the customer has some existing stuff that is using some existing IPv4 addresses and the customer wants his old stuff and his shiny new k8s stuff to communicate using straight IP.  So the customer needs to be able to pick the subnets for the new stuff, so he can pick non-conflicting subnets.

In

[2016-09-01 19:27] yujuhong commented on #28124
It's already patched in GCI.

[2016-09-01 19:27] mtaufen commented on #31676
@vishh: @derekwaynecarr and I are looking into separate issues; he's examining why the eviction manager sometimes continues to evict pods when the memory pressure condition is no longer true, I'm looking at the flake from build 516, where pods did not fail in QoS order (IMO likely due to something outside the eviction manager).

 memory availability drops to ~50% before it exits?

Not presently. T

[2016-09-01 19:28] erictune commented on #30716
Inline volumes discussed in
https://github.com/kubernetes/kubernetes/issues/13610

On Thu, Sep 1, 2016 at 9:13 AM, Josh Berkus <notifications@github.com>
wrote:

[2016-09-01 19:33] erictune commented on #29177
Ugh.  You should not have to have a separate role for nonResourceURLs.

[2016-09-01 19:37] mml commented on #30689
Removing myself since I'm on vacation.

[2016-09-01 19:47] liggitt commented on #29177
separate rule in the same role should work fine

[2016-09-01 19:49] krousey commented on #30788
@mwielgus  This has been marked with the "needs attention" label and needs to be addressed for the 1.4 release. Could you please

- close if it's fixed
- update on your progress to fix it
- make a case for it not to block the release
- or find a new owner who can do one of the above soon.

Once you or the new owner update this issue and are actively working on it, you can remove the "needs attenti

[2016-09-01 19:49] #28384 closed

[2016-09-01 19:49] liggitt commented on #29177
if you want to give namespace-specific permissions, AND cluster-wide non-resource permissions, then two roles and two role bindings make more sense. In openshift, we have roles like this:

* a "discovery" clusterrole that allows access to non-resource discovery paths, and is bound to all users at the cluster level
* an "admin" clusterrole that allows management of namespaced resources, and can be

[2016-09-01 19:50] krousey commented on #30689
@saad-ali @jingxu97  This has been marked with the "needs attention" label and needs to be addressed for the 1.4 release. Could you please

- close if it's fixed
- update on your progress to fix it
- make a case for it not to block the release
- or find a new owner who can do one of the above soon.

Once you or the new owner update this issue and are actively working on it, you can remove the "nee

[2016-09-01 19:51] derekwaynecarr commented on #24820
/cc @mwringe

[2016-09-01 19:51] smarterclayton opened #31905 "hack/verify-golint.sh fails on a Mac"
Looks like it is chopping off the correct Kube prefix, maybe because of bash 4.0isms.

[code]

[2016-09-01 19:51] krousey commented on #30571
@jszczepkowski This has been marked with the "needs attention" label and needs to be addressed for the 1.4 release. Could you please

- close if it's fixed
- update on your progress to fix it
- make a case for it not to block the release
- or find a new owner who can do one of the above soon.

Once you or the new owner update this issue and are actively working on it, you can remove the "needs att

[2016-09-01 19:52] bprashanth opened #31906 "Don't clobber taints"
Concurrent runs of kubectl taint on the same node can end up clobbering one another because we update the `scheduler.alpha.kubernetes.io/taints`annotation with the entire taints list through a merge patch.

i.e

[code]

will give you an annotation `"test": "[foobar]"`
This is probably causing https://github.com/kubernetes/kubernetes/issues/29503 and https://github.com/kubernetes/kubernetes/issues/

[2016-09-01 19:52] dchen1107 commented on #28220
Close this one via https://github.com/kubernetes/kubernetes/pull/31899

[2016-09-01 19:53] bprashanth commented on #29503
And the last class of failures (https://github.com/kubernetes/kubernetes/issues/29503#issuecomment-243302213) is probably https://github.com/kubernetes/kubernetes/issues/31906

[2016-09-01 19:53] bprashanth commented on #31066
Duping into https://github.com/kubernetes/kubernetes/issues/29503

[2016-09-01 19:53] #31066 closed

[2016-09-01 19:56] krousey commented on #29656
@Random-Liu This has been marked with the "needs attention" label and needs to be addressed for the 1.4 release. Could you please

- close if it's fixed
- update on your progress to fix it
- make a case for it not to block the release
- or find a new owner who can do one of the above soon.

Once you or the new owner update this issue and are actively working on it, you can remove the "needs attent

[2016-09-01 19:58] vishh commented on #30607
This test seems to be failing primarily on coreOS. Unfortunately we don't have kubelet logs from CoreOS node because of logs collection issue which has been fixed in HEAD recently. We need to wait for a subsequent flake to triage this.
Meanwhile, I'm trying to repro this manually on the CoreOS image.

Given that this failure is on CoreOS only, I'm inclined to mark this issue as not critical for v1

[2016-09-01 19:58] ncdc commented on #31621
Another possible thing we could do - when creating the container, set a label that contains the pull spec of the image. This could be displayed instead of the image id (config.digest).

[2016-09-01 19:58] krousey commented on #29225
@rootfs This has been marked with the "needs attention" label and needs to be addressed for the 1.4 release. Could you please

- close if it's fixed
- update on your progress to fix it
- make a case for it not to block the release
- or find a new owner who can do one of the above soon.

Once you or the new owner update this issue and are actively working on it, you can remove the "needs attention"

[2016-09-01 19:59] vishh commented on #24820
+1 for adding this feature to limit range.

[2016-09-01 20:01] spxtr commented on #31742
These are fixed by https://github.com/kubernetes/test-infra/pull/483 & co.

[2016-09-01 20:01] #31742 closed

[2016-09-01 20:03] ncdc commented on #27195
@wojtek-t @mikedanese do we know what's up with the various "i/o timeout" test flakes?

[2016-09-01 20:12] mikedanese commented on #27195
Ya... Usually test-infra failures, e.g. jenkins job (mis)configurations romping on eachother. This hasn't flaked in forever so I move to close.

[2016-09-01 20:12] #27195 closed

[2016-09-01 20:12] derekwaynecarr commented on #31902
Related: https://github.com/kubernetes/kubernetes/issues/24820

[2016-09-01 20:12] rootfs commented on #29225
@krousey the following message looks suspicious, looks a DNS issue?
[code]

[2016-09-01 20:13] DirectXMan12 commented on #31621
That's not a bad stop-gap, but it means that tooling needs to implement their own way to figure out to convert image image pull specs to SHAs to reliably compare (plus, how do you figure out what the "latest" tag means that way?)

[2016-09-01 20:15] krousey commented on #28900
@jszczepkowski This has been marked with the "needs attention" label and needs to be addressed for the 1.4 release. Could you please

- close if it's fixed
- update on your progress to fix it
- make a case for it not to block the release
- or find a new owner who can do one of the above soon.

Once you or the new owner update this issue and are actively working on it, you can remove the "needs att

[2016-09-01 20:15] DirectXMan12 commented on #31621
(also, as for scraping the output, there's no way to guarantee that's reliable in any way, shape or form -- the message is just `{"status": "Digest sha256:FOOBAR"}`, so you'd have to look at every "status" message, check if it began with "Digest ", and hope that Docker doesn't change that in any way.  I can just see it causing weird issues in the future)

[2016-09-01 20:15] ncdc commented on #27195
Thanks!

[2016-09-01 20:16] rootfs commented on #29225
Actually more like a network connectivity issue
[code]

[2016-09-01 20:16] ncdc commented on #31906
cc @aveshagarwal

[2016-09-01 20:17] krousey commented on #28845
@cjcullen This has been marked with the "needs attention" label and needs to be addressed for the 1.4 release. Could you please

- close if it's fixed
- update on your progress to fix it
- make a case for it not to block the release
- or find a new owner who can do one of the above soon.

Once you or the new owner update this issue and are actively working on it, you can remove the "needs attentio

[2016-09-01 20:17] rootfs commented on #29225
@mattf do you happen to have the Dockerfile for these images? We better push them into gcr.io.

[2016-09-01 20:18] MrHohn opened #31910 "Failed to create a kubernetes client: invalid configuration: no configuration has been provided"
From PR #31894

Working on the addon kube-dns, but found the lastest kube-dns program failed to start with below error:
`F0901 17:39:14.914386       1 server.go:55] Failed to create a kubernetes client: invalid configuration: no configuration has been provided`

After a bit exploration, found this commit 06cbb29e9e9b10c371347d2457ff8708f4a9e9f5

kube-dns works after revert this patch.

@smartercla

[2016-09-01 20:18] ncdc commented on #30489
@pwittrock bump if you have a moment

[2016-09-01 20:19] wojtek-t commented on #31850
Maybe this should be moved into the framework.

I'm not sure - IIRC some tests are not even enabling this controller that is responsible for creating this service.

[2016-09-01 20:21] ncdc commented on #31621
The image pull spec has the SHA if you pull by digest. The pull spec has the tag if you pull by tag. I don't think any conversion is necessary unless I'm misunderstanding you?

[2016-09-01 20:23] krousey commented on #28713
Removing the "needs attention" label as this is de-prioritized and being looked at.

[2016-09-01 20:24] #28220 closed

[2016-09-01 20:25] rootfs commented on #29225
@krousey  @pwittrock  I don't think this is a blocking issue. It looks a transient issue. Since the example  is largely dependent on whether the image can be fetched and how long it takes to pull the image, it is very environment sensitive. I would recommend removing `need-attention` label.

Longer term, we should move the images used in examples to gcr.

[2016-09-01 20:27] foxish commented on #31198
Old issue: https://github.com/kubernetes/kubernetes.github.io/issues/1060

[2016-09-01 20:27] derekwaynecarr commented on #31676
@aveshagarwal -- while I am wrapping up some ns delete flake fixes, can you try to repro this as well?

[2016-09-01 20:28] colhom commented on #31832
@quinton-hoole this should&trade; have been fixed as a result of kubernetes/test-infra#497 merging. Close this out if/when the tests go green?

[2016-09-01 20:29] cjcullen commented on #28845
I'll take a look tomorrow.

[2016-09-01 20:30] krousey commented on #28456
@derekwaynecarr @justinsb This has been marked with the "needs attention" label and needs to be addressed for the 1.4 release. Could you please

- close if it's fixed
- update on your progress to fix it
- make a case for it not to block the release
- or find a new owner who can do one of the above soon.

Once you or the new owner update this issue and are actively working on it, you can remove the

[2016-09-01 20:30] derekwaynecarr commented on #31676
(just so we can know if a RHEL-family acts differently)

[2016-09-01 20:34] dchen1107 commented on #28124
Here are the plan I wrote in bot auto-filed flake issue: #28384, #28220:

[code]

https://github.com/kubernetes/kubernetes/pull/31899 was merged to stop the bleeding. I will leave this open for rest work.

[2016-09-01 20:38] dims commented on #31905
@smarterclayton please let me know if the PR works for you!

[2016-09-01 20:39] DirectXMan12 commented on #31621
If you pull by tag, how are you going to be able to compare image versions?  Suppose, from the example above, I blacklist "foo/bar@sha256:xyz".  On the registry, "foo/bar@sha256:xyz" corresponds to tags 2.2, but formerly also referred to "latest" (but has since been updated).  If I ran "foo/bar:latest" at some point in the past, I now have a copy of "foo/bar@sha256:xyz" running on my node.  Howeve

[2016-09-01 20:41] ncdc commented on #31621
I wasn't thinking about tag mutability, which is a very good point. Back to the drawing board...

[2016-09-01 20:43] gskulkarni opened #31914 "Panic in kube-controller-manager: concurrent map writes"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

concurrent map writes

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): B

[2016-09-01 20:44] david-mcmahon opened #31915 "etcd dependency not handled properly."
`hack/update-swagger-spec.sh` calls `kube::etcd::start` by way of `hack/lib/etcd.sh`.
But kube::etcd::start() uses etcd from the path and ETCD_VERSION requires that version or later.

The dependent etcd should either be part of an image or the host machine could install the latest version on the fly to a temporary working location or verify the one on the path in an early prereq check that all dep

[2016-09-01 20:45] spxtr commented on #30600
Agreed.

If you're compiling for linux/amd64 then there really aren't any unexpected dependencies for building. It's pretty much just Go, Docker, and standard build essentials. The main reason not to use docker for builds is that it's confusing and complicated, and it's going to be buggy and difficult to fix when it breaks. #30787 demonstrates that getting a fast, iterative, dockerized build is su

[2016-09-01 20:46] MrHohn commented on #31910
cc @lavalamp

[2016-09-01 20:48] dchen1107 commented on #30607
Based on @vishh's above comment, I lowered down the priority to P1 and remove this from 1.4 blocker list. @euank Could you please take a look at this one? It is not that urgent.

[2016-09-01 20:50] aronchick commented on #31207
check out zenhub

[2016-09-01 20:54] thockin commented on #30600
To build kube you need tools like gogoproto, at least.  That might be
vendored - we have not been exactly consistent about that.

WRT You can mount, relatively easily, enough information to have a fully
incremental, multi-arch-capable build system with docker.  You just have to
abandon MacOS users (or punish them for their bad decisions).  That whole
mess with rsyc and data volumes is a complete h

[2016-09-01 20:58] vishh commented on #31676
Here is the current status:

1. @mtaufen is working on de-flaking the qos eviction order part of the test.
1. @mtaufen is also working on ensuring that the test will wait for the memory pressure condition to turn false and 50% of memory is available, even if the rest of the test fails.
1. I'm going to strip the existing test to focus primarily on the admission logic - I will trigger memory pressur

[2016-09-01 21:07] girishkalele opened #31916 "Expose active service health checks via kube-proxy REST monitoring interface"
Follow-up item from the ESIPP feature from Tim.

It would be nice to have a way to read the list of services with active health checks on kube-proxy...add a new endpoint to the existing REST monitoring interface to read these, along with the nodePort used for each.
And maybe stats about keepalives received and responded successful/unsuccessful.

[2016-09-01 21:13] danwinship commented on #31824
Hm... I'm having a hard time coming up with a network topology where that makes sense... if the "old stuff" and the k8s cluster are separated by the public internet, then the only way to route packets between them is via routable public IP addresses, which would automatically be non-conflicting. And if the k8s cluster and the "old stuff" are both within the same intranet, it seems like the k8s adm

[2016-09-01 21:13] k8s-merge-robot opened #31918 "[k8s.io] SchedulerPredicates [Serial] validates that Inter-pod-Affinity is respected if not matching {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/2181/

Failed: [k8s.io] SchedulerPredicates [Serial] validates that Inter-pod-Affinity is respected if not matching {Kubernetes e2e suite}

[code]

[2016-09-01 21:15] lavalamp commented on #31910
Thank you for noticing this. This is a hole in our testing, we don't test all our addons by building them at head.

Rolling back the PR may not be the best fix. @smarterclayton may have an idea.

[2016-09-01 21:17] derekwaynecarr commented on #31676
@vishh (2) would help follow-on flakes.  I think I squashed the ns deletion issue (at least for my current thoughts), so this will be on my agenda for tomorrow to help as well.

[2016-09-01 21:20] erictune commented on #30243
A default pods object quota per namespace would also help protect the apiserver from ending up with too many jobs.  Users could always raise their quota if needed.

[2016-09-01 21:20] lavalamp commented on #31850
Perhaps as an optional function, then :)

[2016-09-01 21:21] girishkalele commented on #31910
We cannot build kube-dns from latest master because of this issue - it fails to pick up the service account from inside the pod.

[2016-09-01 21:24] k8s-merge-robot opened #31920 "[k8s.io] Pods should support retrieving logs from the container over websockets {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31907/node-pull-build-e2e-test/22379/

Failed: [k8s.io] Pods should support retrieving logs from the container over websockets {E2eNode Suite}

[code]

Happened on a presubmit run in #31907.

Previous issues for this test: #30567

[2016-09-01 21:26] ixdy commented on #28812
I was OOO when this issue was first discussed.

I think @fejta is working on getting rid of the `go` requirement for `hack/e2e.go`. That said, we only expect devs to be using `hack/e2e.go`, so requiring the `go` toolchain to be installed seems reasonable.

[2016-09-01 21:35] mtaufen commented on #31676
wrt (2), #31912

[2016-09-01 21:39] dchen1107 commented on #31448
There was a massive failure since last week, which was caused by a pr mistakenly enable GCI on some tests. The issue is fixed by https://github.com/kubernetes/test-infra/pull/462
Now kubernetes-e2e-gce-serial is back to normal now (https://k8s-testgrid.appspot.com/google-gce#gce-serial), and a separate investigation with gce-gci-serial is ongoing (https://k8s-testgrid.appspot.com/google-gce#gce-gc

[2016-09-01 21:39] #31448 closed

[2016-09-01 21:44] madhusudancs commented on #28812
@ixdy this issue isn't about devs. Current federation scripts that we ship in the release distribution require users (end users) to have go toolchain installed to install federation. That's not reasonable.

[2016-09-01 21:46] bprashanth commented on #31630
Marking this p0 flake so it shows up in release queries

[2016-09-01 21:47] ixdy commented on #28812
@madhusudancs agree 100%. I saw you mention `hack/e2e.go`, but I see now that that was mostly to explain why we have the go toolchain available in CI.

[2016-09-01 21:49] erictune commented on #29177
Yeah, that was what I was thinking should work.

[2016-09-01 21:51] girishkalele commented on #29060
I went and studied the DNS root server software - to see what stats they report. It might also help to report statistics in the same format from kube-dns so that the same analysis tools can consume our statistics.

Two different servers in use - NSD and BIND.

NSD reports the following stats - from https://www.nlnetlabs.nl/projects/nsd/nsd-control.8.html
[code]
And BIND reports (from https://www.i

[2016-09-01 21:51] aveshagarwal commented on #31676
I ran this test on rhel7.2:  `make test-e2e-node FOCUS="MemoryEviction"`
and it timed out  after one hour:

[code]
The full logs are here: https://paste.fedoraproject.org/419466/14727665/

Can help with anything tomorrow morning.

[2016-09-01 21:51] ixdy commented on #24639
@pwittrock want to add any comments given your recent experience?

[2016-09-01 21:51] saad-ali commented on #31873
I'm not familiar with init containers. Assigning to @smarterclayton for triage.

[2016-09-01 21:52] erictune commented on #29177
I don't know how we would do that in Kubernetes since it is aloof about users.  I guess we would have a `system:all-authenticated-users` group that is auto-populated by apiserver?

[2016-09-01 21:54] timothysc opened #31924 "Fix data decode and retention mechanics"
This is obtuse to explain so I will try my best...

In the storage layer we decode objects that come in off the wire from etcd.  That's all objects, irrespective of what we use higher up the stack.  These are kept as raw fully unpacked api-objects in memory.

From there we construct a series of caches, typically from the key, which is actually a mundging of the meta-data of that object.  That repr

[2016-09-01 21:54] smarterclayton commented on #31873
Looks like the namespace got deleted?  @derekwaynecarr this isn't related to the namespace pile up?

[2016-09-01 21:55] ixdy commented on #17079
This is probably not P1...

@kubernetes/sig-testing

[2016-09-01 21:56] mikedanese commented on #31560
Histogram of error types shows that the majority of errors happen contacting https://accounts.google.com/o/oauth2/token
[code]

[2016-09-01 21:59] smarterclayton commented on #31873
Failure in teardown, not the test

[code]

[2016-09-01 22:02] ixdy commented on #27368
I'm still not sure what "tag is wrong" means. Do you have an example of where this failed?

[2016-09-01 22:03] ixdy commented on #21414
@stevekuznetsov is this fixed?

[2016-09-01 22:05] mtaufen commented on #31676
Do you also have the kubelet log?

[2016-09-01 22:06] ixdy commented on #5465
I'm going to close this in favor of the kubernetes/charts repo.

[2016-09-01 22:06] #5465 closed

[2016-09-01 22:06] smarterclayton commented on #31873
Looking at the code in master right now, these messages are sent only in Framework.AfterEach - but we try to filter out errors in nsDeletionErrors that are NotFound.  So somehow `nsDeletionErrors` gets "the server could not find the requested resource", which is the GenericAPIServer error, not the specific one.  However, GenericAPIServer errors should still flag as IsNotFound (status reason is unv

[2016-09-01 22:08] ixdy commented on #29894
@Pensu any update here?

[2016-09-01 22:10] pwittrock commented on #30489
@bprashanth Would you be able to help @ncdc on this, or find someone who can?

[2016-09-01 22:10] pwittrock commented on #30489
@ncdc Apologies for my unresponsiveness.  Thank you for following up on this.

[2016-09-01 22:11] lavalamp commented on #31873
My recent change should definitely not change the status code.

[2016-09-01 22:14] lavalamp commented on #31873
In the apiserver log:

I0901 11:26:51.687674       5 handlers.go:162] GET /api/v1/namespaces/e2e-tests-init-container-9wyzy: (946.98µs) 404 [[e2e.test/v1.4.0 (linux/amd64) kubernetes/2ef7aea]

So this was a 404 in response to the e2e.test binary's request.

[2016-09-01 22:19] bprashanth commented on #30489
I'm not That familiar with exec, ignore that last one till I or someone has time to dig since it's GKE (@cjcullen), the previous failures should be standard kubectl exec (it still uses spdy right?). `connection reset by peer` is usually rst, or remote end has dropped the connection, suggest digging into node readiness/kubelet health if the exec actually got its connection dropped.

[2016-09-01 22:25] nikhiljindal commented on #31077
I think the regression was because of https://github.com/kubernetes/kubernetes/pull/31470 where we added the Finalize method. It was a no-op before that (shouldnt it have been a compiler error for missing Finalize method??).
Now that we have the method it is trying to contact federation-apiserver on namespaces/finalize, but that subresource does not exist and hence we are now getting "server could

[2016-09-01 22:34] nikhiljindal commented on #31077
Sent https://github.com/kubernetes/kubernetes/pull/31925 to add finalizer subresource to federation apiserver.

[2016-09-01 22:35] ixdy commented on #27462
@spxtr maybe it's a bug in Jenkins' parameter handling, then?

[2016-09-01 22:36] ixdy commented on #27462
anyway, once we get rid of the GHPRB plugin, we can update Jenkins and see if the issue goes away.

[2016-09-01 22:45] JoeyZwicker commented on #30495
We ran into this issue as well (we ended up here after following the kubernetes guide at http://kubernetes.io/docs/getting-started-guides/aws/)

For us this was particularly confusing because the script emitted this error and then told us the installation was successful:

[code]

The three lines suggested above (in e.g. @ianjamez post) solved the problem for us, but it took us a while to figure ou

[2016-09-01 22:45] caesarxuchao commented on #31077
I would expect a compiler error. Where is the no-op defined?

[2016-09-01 22:54] luomiao commented on #31823
The vsphere.go:624 seems points to a comment instead of a cleanUpCotroller function in v1.3.0. There might be some modifications added later which make the line number inaccurate. Would you please double check which line it really should point to? Thanks.

[2016-09-01 22:55] bprashanth commented on #31591
@jszczepkowski I'm seeing a bunch of oom kills in kernlog for the "consume-cpu" process which I'm guessing is from this test:
[code]

[2016-09-01 23:04] janetkuo commented on #31502
Looking

[2016-09-01 23:06] Kashomon commented on #30672
After doing some debugging with @mikedanese, we think it's a thread safety issue in the hazelcast library.

[2016-09-01 23:06] Kashomon commented on #30672
I'm going to add a skip to this test until the upstream issue is fixed.

[2016-09-01 23:09] vishh opened #31928 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController failing with GCI"
This test is failing often on the gci-serial suite both on master and release-1.4.

[Test Grid link](https://k8s-testgrid.appspot.com/google-gci#gci-serial&sort-by-failures=)

GCI is the default in v1.4 and so it is imperative to at-least triage the flakes soon.

cc @kubernetes/autoscaling

[2016-09-01 23:09] vishh commented on #31928
cc @piosz @mwielgus @jszczepkowski

[2016-09-01 23:17] thockin opened #31929 "Kube-dns should use versioned client-go"
In prep to maybe move kube-dns to its own repo, we should adopt the new client lib.

[2016-09-01 23:18] thockin commented on #31910
After the 1.4 branch we should switch kube-dns to the versioned client.
Bug filed

On Thu, Sep 1, 2016 at 2:22 PM, Girish Kalele <notifications@github.com>
wrote:

[2016-09-01 23:24] saad-ali commented on #28709
@geoah Can you confirm that the device `MountVolume.WaitForAttach` is waiting for, `/dev/xvdbd`, exists on the node. I wonder if you might be encountering https://github.com/kubernetes/kubernetes/issues/29324.

[2016-09-01 23:26] #31735 closed

[2016-09-01 23:27] bprashanth commented on #27324
Arg, gke doesn't log at V(4). Hard to debug the failing pod. I guess a good first step would be to log the pod ip at Infof.

Let me know if you have the same failure one gce so we get verbose logging.

[2016-09-01 23:35] thockin commented on #29060
I still vote for prometheus - it's CNCF and as close to a standard as we
have seen

On Thu, Sep 1, 2016 at 2:51 PM, Girish Kalele <notifications@github.com>
wrote:

[2016-09-01 23:37] bprashanth opened #31932 "Include rotated logs in test artifacts"
I think logs are getting rotated within the span of an e2e because the first line in controller manager logs is sometimes:

[code]

These logs should be zipped up in the same `/var/log` directory, can we just upload them to the same bucket? eg:

[code]

[2016-09-01 23:37] AdoHe commented on #31009
I think this is already fixed on my local, will open a PR.

[2016-09-01 23:40] errordeveloper commented on #31863
SGTM

On Fri, 2 Sep 2016, 00:39 Jing Xu, <notifications@github.com> wrote:

[2016-09-01 23:42] AdoHe commented on #31897
There is a long road for us to improve error messages, and of course we should improve this.

[2016-09-01 23:43] girishkalele commented on #29060
Yeah, not proposing NSD/BIND at all, I was just looking at what stats they collect and report so we can do the same in kube-dns.

Prometheus would still be where we store the stats.

I looked at the Prometheus developer doc at https://github.com/kubernetes/kubernetes/blob/master/docs/devel/instrumentation.md but I see code changes and registering the counters in the apiserver. I don't see a way fo

[2016-09-01 23:44] dagnello commented on #30477
@anguslees thank you for the update.

[2016-09-01 23:44] #30477 closed

[2016-09-01 23:44] AdoHe commented on #31906
/cc

[2016-09-02 00:02] spxtr commented on #27462
Agreed. If not then Erick is working on getting rid of the Git plugin.

[2016-09-02 00:03] mikedanese commented on #30672
@bprashanth I agree with your analysis. This has been happening at least since June 22 https://github.com/kubernetes/kubernetes/issues/27850 probably around when we started up the flake issue creation munger.

[2016-09-02 00:07] gtaylor commented on #30495
Is this still an issue in the latest master?

[2016-09-02 00:10] ichekrygin commented on #30939
Digging into influxdb data, it appears negative values are inserted into inflixdb `k8s.cpu/usage_rate`
[code]

However, it also appears that `k8s.cpu/usage` have different values all together
[code]

[2016-09-02 00:14] saad-ali commented on #31822
@guoshimin Looks like you ran into a couple of issues. The first (unable to detach from volume), sounds like #29358 (which is fixed in v1.3.6). To work around it you could restart your kube-controller-manager binary on your master, or upgrade to v1.3.6. The second issue sounds like https://github.com/kubernetes/kubernetes/issues/30637 which should also be fixed in v1.3.6. Give  v1.3.6 a shot and l

[2016-09-02 00:14] saad-ali commented on #31822
@guoshimin Please reopen if you experience issues with v1.3.6+

[2016-09-02 00:14] #31822 closed

[2016-09-02 00:15] k8s-merge-robot opened #31935 "[k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 0 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gke/8553/

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 0 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26784 #28384

[2016-09-02 00:22] jingxu97 commented on #30637
@kelcecil, could you please update your findings if possible? We want to make sure this problem got fixed. Thank you very much!

[2016-09-02 00:25] k8s-merge-robot opened #31936 "[k8s.io] InitContainer should invoke init containers on a RestartNever pod {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/14573/

Failed: [k8s.io] InitContainer should invoke init containers on a RestartNever pod {Kubernetes e2e suite}

[code]

[2016-09-02 00:35] saad-ali commented on #31768
With issue https://github.com/kubernetes/kubernetes/issues/27590 and PR https://github.com/kubernetes/kubernetes/issues/27778 the infrastructure for events and some basic mount failure events were added to the volume code. We still need to add more events for more error cases. We can use this issue to track that.

[2016-09-02 00:37] yujuhong opened #31937 "Deprecate the old cbr0 logic in kubelet?"
We've switched to using kubenet as default for a while. Do we still test the old cbr0 logic? If not, I'd rather see it deleted than having no-longer-tested code hanging around, gathering bugs.

Thoughts? Do people still rely on this feature?

/cc @freehan @thockin @dchen1107

[2016-09-02 00:38] bprashanth commented on #31585
Same as https://github.com/kubernetes/kubernetes/issues/29503, RV conflict, leaving open so robot doesn't create another one

[2016-09-02 00:41] smarterclayton commented on #31873
The message is the generic error though, not the standard resource / type.  In GCE config - is there a proxy, external auth source, or other web hook involved that could bubble up a generic error vs. the specific one?

[2016-09-02 00:50] k82cn commented on #28453
Sure :).

[2016-09-02 00:51] smarterclayton commented on #31873
"the server could not find the requested resource" should only ever be returned if:

a. the server doesn't return an api.Status
b. the server returns an incorrect content type
c. the server calls out to rest client somewhere which returns this error, and that code returns it directly back to the client (which should not happen)

I was working from the assumption of either a proxy (a) or an authori

[2016-09-02 01:04] david-mcmahon commented on #28325
This (still) seems fairly important.  I don't know if the bug got in front of the right people though as we haven't seen any movement on it.  Who else is appropriate to add here?

[2016-09-02 01:05] k8s-merge-robot opened #31938 "[k8s.io] Job should run a job to completion when tasks succeed {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/14575/

Failed: [k8s.io] Job should run a job to completion when tasks succeed {Kubernetes e2e suite}

[code]

[2016-09-02 01:07] bprashanth commented on #31936
duping into https://github.com/kubernetes/kubernetes/issues/31728

[2016-09-02 01:07] #31936 closed

[2016-09-02 01:08] freehan commented on #31937
cc @luxas

[2016-09-02 01:18] ScubaDrew commented on #22586
Seeing this on my 1.2.3 AWS k8s-1.2-debian-jessie-amd64-hvm-2016-03-05-ebs (ami-7840ac18) node.

Drew

[2016-09-02 01:27] vishh commented on #31676
WIP patch for item `3` [here](https://github.com/kubernetes/kubernetes/compare/master...vishh:memory-eviction-test?expand=1)

[2016-09-02 01:35] #31687 closed

[2016-09-02 01:46] #31838 closed

[2016-09-02 01:49] stevekuznetsov commented on #21414
The changes linked above seem to fix my issues, but I reported them seven months ago so I'm not sure if there's been UI drift since then. I'll close this and open a new issue if I run into anything next time I execute E2E.

[2016-09-02 01:49] #21414 closed

[2016-09-02 01:49] pmorie commented on #30700
I'll fix this after master opens for 1.5 if no one else takes it first.

[2016-09-02 01:59] krmayankk commented on #27247
@thockin sounds good. How can i join this call and how do start with a proposal. Any pointers ?

[2016-09-02 02:03] krmayankk commented on #29838
@AdoHe sounds good, let me know what you find. The main thing i want to know is, how do i apply the event sorting across all resource events. If there is any operation in kubectl which follows that pattern, i could follow the same code pattern.

[2016-09-02 02:24] lojies opened #31941 "how bash_completion_func of kubectl work"
i saw bash_completion_func defined in kubectl but no GenBashCompletionFile setting. is it needed to set?

[2016-09-02 02:30] bgrant0607 commented on #6284
@krmayankk

The patch generated should not contain the defaults. Think of it as a 3-way merge. It's not just defaults, but all fields set during/after creation.

For more info, see:

#15894
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md#defaulting
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md#late-initialization
https://githu

[2016-09-02 02:50] #31552 closed

[2016-09-02 03:04] Random-Liu commented on #29656
@krousey Sure, will take a look.

[2016-09-02 03:09] adohe opened #31943 "strange kubectl get output"
FYI. I am debugging one issue, and just hit this:

[code]

@kubernetes/kubectl

[2016-09-02 03:20] bgrant0607 commented on #25485
Also provided by: https://www.amalgam8.io/

[2016-09-02 03:28] Pensu commented on #29894
@ixdy Yeah, got held up with some work, I have been looking into getting e2e test results, will update in some time.

[2016-09-02 03:48] alph486 commented on #13305
@yujuhong I can also confirm this is still happening in 1.3.4. Same environment as @dadux.

[2016-09-02 03:55] bgrant0607 commented on #30822
cc @justinsb

[2016-09-02 04:00] smarterclayton commented on #31943
Ah, edge cases.  Filtering on small lists isn't very useful in general.
It's only > 5-10 total that it is useful to a human.

On Thu, Sep 1, 2016 at 11:10 PM, TonyAdo <notifications@github.com> wrote:

[2016-09-02 04:02] smarterclayton commented on #31910
I don't think we should roll this back.  Why would kube-dns fail to start if it has in-cluster config which has both KUBERNETES_SERVICE_HOST and the alternative?  Is InClusterConfig broken too?

[2016-09-02 04:03] thockin commented on #27247
https://github.com/kubernetes/community/wiki/SIG-Network

On Thu, Sep 1, 2016 at 7:00 PM, krmayankk <notifications@github.com> wrote:

[2016-09-02 04:04] smarterclayton commented on #31910
InClusterConfig being broken would be a p0.  If it's not, then I'd recommend fixing this to not introduce the defaulting and use the correct load style to the flags.

[2016-09-02 04:04] numbsafari commented on #10735
To change kubectl itself, simply run the following:

[code]

So, for example, if you have a local minikube cluster setup, run the following:

[code]

And you're kubectl CLI is no working with your local minikube.

[2016-09-02 04:06] thockin commented on #31910
Yeah, I missed this before - why do we care about localhost?

On Thu, Sep 1, 2016 at 9:03 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-02 04:07] #27247 closed

[2016-09-02 04:09] saad-ali commented on #30689
Removing attention-needed label. This is currently under investigation. Nothing here appears to be release blocking, but we will continue to reassess as we investigate.

[2016-09-02 04:10] saad-ali commented on #28283
Removing attention-needed label. This is currently under investigation. Nothing here appears to be release blocking, but we will continue to reassess as we investigate.

[2016-09-02 04:10] saad-ali commented on #28081
Removing attention-needed label. This is currently under investigation. Nothing here appears to be release blocking, but we will continue to reassess as we investigate.

[2016-09-02 04:11] smarterclayton commented on #31910
Let me check whether this is how kube-dns is setting up the clientcmd loader, or whether in cluster config is broken.

[2016-09-02 04:13] AdoHe commented on #31943
will fix this asap.

[2016-09-02 04:18] smarterclayton commented on #31910
Yeah, in cluster config is broken (because we were relying on defaulting to bypass empty).  Instead we need to check against a known error type (IsEmptyConfig) and move down to in cluster setup.  And add tests so this can't regress in the future.

[2016-09-02 04:22] smarterclayton commented on #31910
@lavalamp do we build *any* image for e2e that has a kubectl in it?  That would be a sufficient e2e to guard.  I can add more unit tests but the e2e is probably a necessity.

[2016-09-02 05:21] qiujian16 commented on #31062
Could you share the flag to start apiserver and controller manager?

[2016-09-02 05:35] smarterclayton commented on #31839
There's a bug open for it - just wanted you to be aware.

On Thu, Sep 1, 2016 at 9:05 PM, Eli Young <notifications@github.com> wrote:

[2016-09-02 05:41] thockin commented on #31937
I'm happy to see it go, but I think the decision is Minhan's - he has the
best context on it.

On Thu, Sep 1, 2016 at 6:08 PM, Minhan Xia <notifications@github.com> wrote:

[2016-09-02 05:43] thockin commented on #29060
If we expose it as Prometheus, we can work on collection as a second step.
Simply having it instrumented in the code is important.  David Oppenheimer
has been working on a grand unified monitoring plan.

On Thu, Sep 1, 2016 at 4:44 PM, Girish Kalele <notifications@github.com>
wrote:

[2016-09-02 05:55] dchen1107 commented on #31937
I also want this go away. But if I remembered correctly, not everyone switch to kubenet yet. cc/ @justinsb

[2016-09-02 06:04] thockin commented on #31739
The flip side of this is that we can move kube-DNS to its own repo and
manage it independently, and just cut periodic builds and integrate with
core system that way,

On Thu, Sep 1, 2016 at 9:26 AM, Girish Kalele <notifications@github.com>
wrote:

[2016-09-02 06:05] smarterclayton commented on #31902
Makes sense to me.  We also need to document that preStop hooks are *not*
blocking.

On Thu, Sep 1, 2016 at 4:12 PM, Derek Carr <notifications@github.com> wrote:

[2016-09-02 06:16] thockin commented on #30897
That is plausible.  The followup then: is this modelled as a list of
secrets (assuming consumers get them all) or as a list of structs with
metadata about the secret and its uses?

On Thu, Sep 1, 2016 at 4:45 AM, Jan Šafránek <notifications@github.com>
wrote:

[2016-09-02 06:18] thockin commented on #30189
@dchen1107 @yujuhong @timstclair I don't know where these numbers are buried any more :)

[2016-09-02 06:21] liangxia opened #31948 "Failed to delete dynamic provisioned volumes in different zones with master"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
\# kubectl version
Client Version: version.Info{Major:"1", Minor:"4+", GitVersion:"v1.4.0-alpha.3.317+2a28917e0a7487", GitCommit:"2a28917e0a7487e302f9c754340a112a5243f04f", GitTreeState:"clean", BuildDate:"2016-09-01T05:48:36Z", GoVersion:"go1.7", Compiler:"gc", Platform:"linux/am

[2016-09-02 06:36] wojtek-t commented on #31924
The key is a slightly separate issue and we can probably solve it much easier.

Regarding decoding - what we basically need to decode it to do the filtering. For that we need:
- labels (for which we obviously don't need to decode the whole object) - and IIUC @smarterclayton has some plan to do the "partial decode" for protobufs (since we will hopefully have protobufs in storage since 1.5)
- howeve

[2016-09-02 06:51] ichekrygin commented on #30939
Not sure if I am totally off here, but I think the issue could in following

It appears that there are 2 types of cpu usage metrics:
1. `.node.cpu.usageNanoCores` -> `StandardMetrics.MetricCpuUsage` - current cpu usage metric
2. `.node.cpu.usageCoreNanoSecons` -> `RateMetrics.MetricCpuUsageRate` - cumulative cpu usage rate

In `metrics/processors/rate_calculator.go` https://github.com/kubernetes/h

[2016-09-02 07:00] piosz commented on #30939
We ignore `.node.cpu.usageNanoCores` in Heapster. I think the problem might be with timestamps. I'll reach you directly over Slack to debug it.

[2016-09-02 07:29] jingxu97 commented on #29324
After checking the log provided by @justinsb and the code path, I think the following race condition happened (similar to what I described in last comment with more details)

1. Create pod on node with volume:
**At master** attached the volume to the node at /dev/device1,
**At kubelet**: kubelet verify volume is attached and mounts the volume

2. Delete/cordon node, Delete pod:
**At maste**r: reco

[2016-09-02 07:35] javiercr commented on #28154
Tonight we had another random restart of docker and kubelet which caused our production site to went down for some minutes, here is the `supervirsord.log`:

[code]

@Random-Liu what is the best way to debug this problem? Thank yu.

[2016-09-02 07:41] gmarek commented on #31888
Sorry for the fuss - this happened before the fix went live. kubernetes/test-infra#501

[2016-09-02 07:41] #31888 closed

[2016-09-02 07:45] wojtek-t opened #31950 "HPA tests are failing in gke-large cluster"
HPA tests are currently failing in gke-large cluster suite:
http://kubekins.dls.corp.google.com:8080/view/Scalability/job/kubernetes-e2e-gke-large-cluster/

I did some debugging and the problem seems to be related to pod-nanny.

Looking into logs from the last run:
1. Heapster was first scheduled on the large node dedicated to it
2. Then pod-nany updated heapster deployment
3. And then heapster wa

[2016-09-02 07:48] javiercr commented on #28154
I guess the last two logs are related to #27651 and #27653. As kubelet is restarting for some reason, it's messing up with the removal of orphaned pods.

[2016-09-02 07:50] #29308 closed

[2016-09-02 08:10] yoshuaalvin opened #31952 "Kubernetes is taking too long to handle mysql query!"
So, recently I installed Kubernetes on ubuntu 14.04 an Centos 7 using getting started guide in Kubernetes official website

I only used one 1 host as Master and Nodes

I created two services and pods to run wordpress and mysql database on the host

When I tried to hit my website from browser,  the connection to mysql is too slow (approximately +- 40 seconds) !

I tried to change the database host

[2016-09-02 08:35] soltysh commented on #31065
Duplicate of #30687.

[2016-09-02 08:35] #31065 closed

[2016-09-02 08:36] k8s-merge-robot opened #31954 "kubernetes-e2e-gke-slow: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/8294/

Multiple broken tests:

Failed: [k8s.io] Services should be able to change the type and ports of a service [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26134

Failed: [k8s.io] Pod Disks Should schedule a pod w/ a readonly PD on two hosts, then remove both gracefully. [Slow

[2016-09-02 08:36] #31774 closed

[2016-09-02 08:43] soltysh commented on #31031
Duplicate of #30687.

[2016-09-02 08:43] #31031 closed

[2016-09-02 08:47] soltysh commented on #30699
The ns deletion problem is a dupe of #30687 and error accessing resource is dupe of #31213, both already handled. Closing in favor of those P0s.

[2016-09-02 08:47] #30699 closed

[2016-09-02 08:49] piosz opened #31955 "Heapster is being restarted due to unhealthy status"
liveness probe was introduced in #31878

Heapster seems to work correctly so we should either fix it or revert liveness probe.

[2016-09-02 08:49] piosz commented on #31955
cc @davidopp @fgrzadkowski @mwielgus

[2016-09-02 08:51] jszczepkowski commented on #31928
This is probably a duplicate of https://github.com/kubernetes/kubernetes/issues/30939 (problems with heapster).

[2016-09-02 08:53] jszczepkowski commented on #30939
Bumping priority to P0 as this bug causes P0 bug in HPA (#31928).

[2016-09-02 08:53] piosz commented on #31955
port seems to be wrong

[2016-09-02 08:55] fabiand commented on #31431
Sounds like a good idea.

[2016-09-02 08:57] soltysh commented on #31070
Duplicate of #30687.

[2016-09-02 08:57] #31070 closed

[2016-09-02 09:34] weherdh opened #31959 "Persistent volume with Azure disk get Failed status of Delete policy"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5+", GitVersion:"v1.5.0-alpha.0.9+c9fda51d779822-dirty", GitCommit:"c9fda51d779822cdc4b08e6c244a8f95f1a78308", GitTreeState:"dirty", BuildDate:"2016-09-02T02:06:56Z", GoVersion:"go1.7", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5+", GitVersion:"v1.5.0-alpha.0.9

[2016-09-02 09:35] soltysh commented on #31498
I'm closing this one in favor of #31938 which is hitting similar problem, here `post jobs.extensions`, there `get jobs.extensions`, in both cases they end up with 500 response.

[2016-09-02 09:37] soltysh commented on #31938
@derekwaynecarr can this be similar to #31798?
@pwittrock how can I get apiserver logs? I've looked into the link but found only kubelet and docker logs, but I might be suffering post-PTO blindness syndrome :wink:

[2016-09-02 09:39] soltysh commented on #28496
The 1.4 branch PR merged and the other is already opened, I'm lowering this to P1 and will close as soon as the other merges.

[2016-09-02 09:58] k8s-merge-robot opened #31962 "TestWatch {etcd3}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/16517/

Failed: TestWatch {etcd3}

[code]

Previous issues for this test: #31083

[2016-09-02 10:00] wojtek-t commented on #31962
Can one of you please take a look?

@lavalamp - FYI

[2016-09-02 10:04] #31950 closed

[2016-09-02 10:19] k8s-merge-robot opened #31964 "kubernetes-e2e-gke-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/2184/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that a pod with an invalid podAffinity is rejected because of the LabelSelectorRequirement is invalid {Kubernetes e2e suite}

[code]

Failed: [k8s.io] SchedulerPredicates [Serial] validates that InterPodAffinity is respect

[2016-09-02 10:27] jonaskint commented on #28226
An option would be to create an autoscaling group in every AZ with their designated mount to an efs volume.

[2016-09-02 10:36] gmarek commented on #28456
My feeling is that it was fixed by the revert of a PR that changed influxDB to a pet set, but someone should confirm this. @jszczepkowski

[2016-09-02 10:40] wojtek-t commented on #28456
Well - whatever happened, we are not seing this again.

So spending time to actually understand what exact change fixed it is probably not the best idea.
So I'm closing this one.

[2016-09-02 10:40] #28456 closed

[2016-09-02 10:40] nebril opened #31965 "PetSet.Status.Replicas is not accurate"
**Is this a request for help?** Nope

**What keywords did you search in Kubernetes issues before filing this one?** petset replicas current desired

**Is this a BUG REPORT or FEATURE REQUEST?** BUG

**Kubernetes version** Client Version: version.Info{Major:"", Minor:"", GitVersion:"v0.0.0-master+$Format:%h$", GitCommit:"$Format:%H$", GitTreeState:"not a git tree", BuildDate:"2016-09-01T10:49:36Z",

[2016-09-02 10:43] duglin commented on #7496
I know this one is on the verge of being closed because the PR  is merged already but I'd like to ask that we revisit this.  Looking at this issue's first sentence:

I disagree that what the user wants is the usage statement - we don't know what they want. True some may care about the usage but some may want to remember the exact wording of a certain `--` flag.  But that's actually secondary to my

[2016-09-02 10:50] wojtek-t commented on #31215
@yujuhong @dchen1107 @freehan
So I think that we have more data now. Basically the same happened here:
http://kubekins.dls.corp.google.com:8080/view/Scalability/job/kubernetes-e2e-gce-enormous-cluster/137/

The problematic node was:
[code]

Logs from that node are here:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-enormous-cluster/137/artifacts/e2e-en

[2016-09-02 10:55] kargakis commented on #31965
CURRENT is the number of pods that have been created, not that they are READY. See for example the latest api change for replica sets where we added [ReadyReplicas](https://github.com/kubernetes/kubernetes/pull/29481) exactly for this reason. All controllers (petsets, daemonsets, deployments, etc.) should have ReadyReplicas

cc: @bgrant0607

[2016-09-02 10:56] gmarek opened #31966 "Design appropriate node eviction policy for HA master"
When cluster will span multiple availability zones and masters will be spread between zones as well current node eviction policy in node controller most likely won't work. We need to figure out what the correct behavior should be in such case.

cc @davidopp @lavalamp @mml @jszczepkowski @fgrzadkowski @derekwaynecarr @thockin

[2016-09-02 11:06] javapapo commented on #22063
+1

[2016-09-02 11:09] k8s-merge-robot opened #31967 "[k8s.io] Kubectl client [k8s.io] Kubectl taint should remove all the taints with the same key off a node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/14607/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl taint should remove all the taints with the same key off a node {Kubernetes e2e suite}

[code]

Previous issues for this test: #31066

[2016-09-02 11:28] nebril commented on #31965
@kargakis I guess it doesn't work anyway, since only one pod was created for this PetSet, but the CURRENT says that 2 were created. I will change bug description then.

[2016-09-02 11:44] workhardcc commented on #31665
I have the same issue. And I think author maybe haven't consider it yet.
https://github.com/kubernetes/dashboard/issues/1116

[2016-09-02 11:49] workhardcc commented on #31785
I think the root of this problem is iptables.  You can use command telnet: `telnet 10.99.1.1 30098 ` instead of nginx. It's easily reproduce it.
ps: alternate use command `telnet 10.99.1.1 30098 ` and `telnet 10.99.1.2 30098 `. You will find one is ok, the other is failed.

[2016-09-02 11:56] jayunit100 commented on #31795
Looks like FindNodesThatFit and CheckServiceAffinity are both taking alot of cycles, will see why the focus is on CheckServiceAffinity here?

<img width="540" alt="screen shot 2016-09-02 at 7 52 54 am" src="https://cloud.githubusercontent.com/assets/826111/18203117/b8a534dc-70e2-11e6-9cff-6c69f06aa776.png">

[2016-09-02 11:58] wojtek-t commented on #31795
FindNodesThatFit is only doing parallelization of the other work basically. So we should focus on CheckServiceAffinity first.

[2016-09-02 12:00] jayunit100 commented on #31795
ok and ill assume the other are just high b/c they are called so often.

[2016-09-02 12:01] workhardcc opened #31968 "`kubectl delete node` make kube-scheduler enter failed state"
If there're some pod running in one node. `kubectl delete node $node` will make kube-scheduler enter failed state, 100% reproduced.
Of course systemd will restart kube-scheduler if you configured it. But some time systemd restart it failed.
such as below:

Then`systemctl restart kube-scheduler` manually is ok.

[2016-09-02 12:03] jszczepkowski commented on #30571
This issue is caused by #30939.

[2016-09-02 12:11] gmarek commented on #28277
This seems to not be happening anymore. Some of may different fixes might have solved this. Reopen if reoccurrs.

[2016-09-02 12:11] #28277 closed

[2016-09-02 12:11] piosz commented on #31300
This failed in pull builder https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31961/kubernetes-pull-test-unit-integration/43070/

[2016-09-02 12:15] ae6rt commented on #30819
As a user, I would not feel put upon if new features had a struct name with an *alpha*-like prefix.  Or without the prefix but activated in the minor version of a SemVer version.  Injecting the new field value in an annotation, such as for the current init-container case, feels a little strange.  I was surprised when I first saw this approach - but I'm not complaining - and figured there must have

[2016-09-02 12:20] k8s-merge-robot opened #31969 "[k8s.io] Secrets should be consumable from pods in volume with Mode set in the item [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31793/kubernetes-pull-build-test-e2e-gce/57116/

Failed: [k8s.io] Secrets should be consumable from pods in volume with Mode set in the item [Conformance] {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #31793.

[2016-09-02 12:22] piosz commented on #27630
@pwittrock unfortunately we are not able to fix this for 1.4. Bumping the version from 0.9 to 0.12 decreased memory usage but doesn't prevent from OOM completely. Bumping the version to 1.0-rc is too risky.

This is not a regression but rather a known problem. We should live with it, wait for influxdb 1.0 and fix it for 1.5.

[2016-09-02 12:26] rootfs commented on #31959
azure disk doesn't support delete yet. Need #30091.

[2016-09-02 12:40] wojtek-t commented on #27503
@derekwaynecarr - do we believe that it will be fixed by https://github.com/kubernetes/kubernetes/pull/31917 ?

Or is this a different issue?

[2016-09-02 12:47] soltysh commented on #31943
It's worse when you watch object, you don't expect such messages:
[code]

[2016-09-02 12:58] AdoHe commented on #31943
[code]
why two titles line?

[2016-09-02 13:00] k8s-merge-robot opened #31971 "[k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6391/

Failed: [k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27662 #29820

[2016-09-02 13:08] wojtek-t commented on #27503
Actually, I looked into logs from this one:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/22538/

and it seems to me that this PR won't help. So basically, in this particular run, namespace-controller was trying to delete all pod-creating objects first (i.e. replicasets, deployment, controllers, etc.) and still didn't manage to delete the namespace...

[2016-09-02 13:19] mwielgus commented on #31153
Done (to some extent) in #31826

[2016-09-02 13:19] #31153 closed

[2016-09-02 13:23] wojtek-t commented on #27503
And even more - this test is not creating any such objects - it is only creating pods...

[2016-09-02 13:24] mwielgus commented on #30788
Should be fixed.

[2016-09-02 13:24] #30788 closed

[2016-09-02 13:25] jszczepkowski commented on #31591
@bprashanth Thanks for noticing that, I'll bump limits.

[2016-09-02 13:27] soltysh commented on #31943
Not sure where it came from. I didn't even notice that one.

[2016-09-02 13:33] aveshagarwal commented on #31676
@mtaufen Default logs generated by `make test-e2e-node FOCUS="MemoryEviction"` are very large, so attaching only the last 15% of the logs:
https://paste.fedoraproject.org/419829/82307114/

[2016-09-02 13:41] #31955 closed

[2016-09-02 13:42] timothysc commented on #31962
looking.

[2016-09-02 13:44] wojtek-t commented on #27503
So From that particular run that I mentioned above:
- it seems that we were deleting "pod-partial-resources" pretty long (i.e. almost 2 minutes)
[code]

However, looking into controller-log manager logs, it seems that namespace controller actually stopped processing that particular namespace at some point:
[code]

So namespace-controller was processing that namespace, and after one of the processi

[2016-09-02 14:02] piosz commented on #31901
fixed by https://github.com/kubernetes/test-infra/pull/495

[2016-09-02 14:02] #31901 closed

[2016-09-02 14:09] mwielgus opened #31975 "Gerneric delete in federated namespace controller"
In PR #31976 the specific resource types are handled explicitly. Need to delete them in more generic way, in a similar way that namespace controller does.

[2016-09-02 14:14] wojtek-t commented on #27503
@ncdc - FYI ^^

[2016-09-02 14:14] jszczepkowski commented on #28900
The problem with stopping RC seems to be caused by #31345: watch is closed after ~10 seconds and `DeleteRCAndPods` is not renewing it.

[2016-09-02 14:18] gmarek opened #31977 "Scheduler incorrectly fails to schedule a pod"
An investigation of #31971:

Situation is following: before the test on the Node `gke-jenkins-e2e-default-pool-638c464f-sa7g` there were 3 running pods according to Kubelet:

[code]

API server agreed on that list:

[code]

But despite that scheduler failed to schedule 3 Pods each requesting 500mCPUs:

[code]

It was happening before, when for some reason one of the system Pods was starting during

[2016-09-02 14:18] gmarek commented on #31971
This looks like a real issue: #31977

[2016-09-02 14:18] ncdc commented on #27503
@wojtek-t IIRC it does rate limiting, and I think with backoff too.

[2016-09-02 14:20] jsafrane commented on #30897
In ideal world, kubelet should have access only to the user password. The admin password should never leave the controller manager. I.e. they should live in separate API objects with distinct access rights.

@rootfs, do we need to be that paranoid? How common is to have different users for creation and for mounting?

[2016-09-02 14:26] wojtek-t commented on #27503
I looked into the code, and I don't see anything bad in namespace controller - maybe the problem is somewhere deeper (e.g. in our rate-limitters?)

[2016-09-02 14:28] wojtek-t commented on #27503
@wojtek-t IIRC it does rate limiting, and I think with backoff too.

Sure - but we were retrying every few seconds, and then we didn't get to it for next 3 minutes or so. So that backoff should be super strange...

[2016-09-02 14:28] ncdc commented on #27503
We were investigating a similar flake in OpenShift, and noticed that the controller processed it several times over a few minutes, and once it was finally deleted, there as an ~ 12 minute gap in between when the delete finished and when the controller recognized it as deleted. We weren't able to explain the big gap. https://github.com/openshift/origin/issues/10670#issuecomment-242747628

[2016-09-02 14:29] wojtek-t commented on #27503
Sorry - few more missing informations:
- test failed at 07:57:07
- in the meantime namespace-controller was processing other namespaces, so namespace controller in general was alive.

[2016-09-02 14:49] dagnello commented on #31823
@luomiao that is correct, this was a build from v1.3.0 with changes related to this:
https://github.com/kubernetes/kubernetes/pull/29881
therefore the line numbers do no line up with v1.3.0.

In either case, the panic happened inside ```ctls := vmDevices.SelectByType(newSCSIController)```

[2016-09-02 14:51] ncdc commented on #27503
@wojtek-t it would be potentially helpful if Jenkins gathered the prometheus metrics from the individual components. We could maybe glean some information about rate limiting.

[2016-09-02 14:52] rootfs commented on #30897
@jsafrane @thockin Ceph's admin secret is only pulled by provision controller. Ceph user's secret is used for map, is there any mechanism to block kubelet from accessing certain namespaces?

[2016-09-02 15:01] thockin commented on #30897
Long story short, no.

On Sep 2, 2016 7:53 AM, "Huamin Chen" <notifications@github.com> wrote:

[2016-09-02 15:07] goltermann commented on #30303
The two related issues have been fixed via #31883 and #31930, and the examples are green.

@pwittrock or @apelisse can you verify and close?

[2016-09-02 15:08] goltermann commented on #30741
Fixed via #31883

[2016-09-02 15:08] #30741 closed

[2016-09-02 15:09] deads2k commented on #29177
We have two groups: `system:authenticated` and `system:unauthenticated` which are automatically added to the `user.Info` during the authentication process.  I think it provides significant benefit to have these fixed groups when you try to describe permissions you'd like bound to these categories of users.

How about we discuss it during our ad-hoc today?  There are intersections with some work fr

[2016-09-02 15:10] goltermann commented on #30526
Closing, this appears to be a one time flake, and test has been fully stable for 2w (running ~40 times per day).

[2016-09-02 15:10] #30526 closed

[2016-09-02 15:22] kelcecil commented on #30637
@jingxu97 We're confident that the problem hasn't since our upgrade to v1.3.6. We placed monitoring in place to watch our EFS share and monitor for this situation, and we've not observed this behavior since our k8s upgrade. I'll update or file a new issue if we notice the problem again, but I think we're good for now.

[2016-09-02 15:22] kozikow commented on #23896
I initially landed on this issue evaluating different options for dynamic config generation. I can't find a better place than this issue to add more options to consider for people like past-me, investigating options for dynamically generated k8s configs - I wrote a post about it: https://kozikow.com/2016/09/02/using-go-to-autogenerate-kubernetes-configs/ .

[2016-09-02 15:42] k8s-merge-robot opened #31981 "[k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/5489/

Failed: [k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26544 #26938 #27595 #30146 #30469 #31374 #31427 #31433 #31589

[2016-09-02 16:06] #30303 closed

[2016-09-02 16:06] coufon commented on #30523
It looks like all resource limit violation happens on CoreOS images. We bump up the limit for now, and will test the resource usage.

[2016-09-02 16:07] dchen1107 commented on #30523
We are going to change 95th% threshold here.

cc/ @euank I noticed that eliminating the failures caused by memory_eviciton test, all failures with "container "kubelet": expected 95th% usage <" are on coreos node. This is not an urgent issue, but want to notify you.

[2016-09-02 16:10] coufon commented on #31877
We will increase this resource usage limit.

[2016-09-02 16:15] mtaufen commented on #31676
Just out of curiosity, how much memory is on the node that you're testing on? It's possible you have enough memory that the eviction manager isn't triggered by this test on your node.

[2016-09-02 16:16] dachulin opened #31983 "Incoming UDP packets not reach newly deployed services"
Hi,

We have a device (router in this case) that sends long living stream of udp packets to our kubernetes cluster. We then create a service and pods that expose a node port to receive the incoming udp packets. However, packets were not reach our containers.

Further digging and found that because UDP packets already stream into our host (therefore conntrack entry already created) BEFORE our servi

[2016-09-02 16:18] aveshagarwal commented on #31676
@mtaufen it has 8GB. But I saw the free memory go down during the tests below 150MB, and a big percentage of the used memory was being used by the pods created during this test.

[2016-09-02 16:22] derekwaynecarr commented on #31676
@aveshagarwal - need to disable swap on the host.

@mtaufen @vishh - ideally the kubelet could detect swap being enabled, and warn/error.  I think the e2e should not run when swap is detected on.

[2016-09-02 16:22] dims commented on #31839
@smarterclayton I could not find the bug. would be good to link it here if you get a chance.

@elyscape How about using tmpfs to essentially place a max limit? The following seems to work (still trying to figure out where to do the un-mount)

[code]

Tested using:
[code]

[2016-09-02 16:29] dachulin commented on #30292
thanks. I am closing this one for now.

[2016-09-02 16:29] #30292 closed

[2016-09-02 16:38] derekwaynecarr commented on #27503
@wojtek-t the backoff is supposed to be by power of per retry starting at .1ms 10 with max of 15 minutes... After 6 or so times needing to back-off, it gets into minutes.  Earlier I had modified the code to always force an error and induce backoff, and backoff looked to work right, but there could be something there.

[2016-09-02 16:38] kfox1111 commented on #12338
@bgrant0607 not quite true. many systems have back channels, so if the node is unresponsive and bare metal, you can use ipmi to power cycle it, if a vm, ask the cloud to power cycle it. If you can control the network switches, cut off all its network ports. etc. There are a lot of existing fencing tools that do this.

[2016-09-02 16:38] derekwaynecarr commented on #27503
@wojtek-t - this code is also largely untouched this release, but i do think rate-limiting is new to this release so its possible.

[2016-09-02 16:39] LiginGeorge commented on #24513
Hi ,

Even i am facing similar kind of issue here i am giving some details which i am facing in my environment. Can anyone please help to resolve this issue.

Hi ,
I have installed kubernetes in my local server(single node), but when i am creating create a wordpress container by using below commad  i am getting pod status as below
# kubectl run wordpress --image=tutum/wordpress

root@indmyskuberm0

[2016-09-02 16:44] timothysc commented on #12338
@kfox1111 that's what pacemaker does as mentioned above.

[2016-09-02 16:51] timothysc commented on #31924
I'm of the mind that the data we store in etcd does not need to be 1:1 representation of the api-objects themselves and could be envelope wrapped such that we only decode the envelope and cache the letter.  The envelope can contain the data we need to make our lives easier.

[2016-09-02 16:54] mtaufen commented on #31676
Is the general rule that memory eviction doesn't work with swap enabled? I can add logic to the Kubelet to check for swap when the Kubelet is configured with memory eviction thresholds, and prevent it from starting up when swap is enabled and memory eviction is turned on.

[2016-09-02 16:55] derekwaynecarr commented on #31676
@mtaufen - memory eviction requires swap being off.  I am +1 on that change if you have cycles.

[2016-09-02 16:56] erictune opened #31984 "Cannot select annotation key using jsonpath"
I love using `kubectl ... -o jsonpath` but I cannot figure out how to print an annotation that contains a special character like `-` or `/` or `.`.

This does not work:
`kubectl get pods tmp -o 'jsonpath={.metadata.annotations.kubernetes.io/created-by}{"\n"}'`
nor this:
`kubectl get pods tmp -o 'jsonpath={.metadata.annotations.kubernetes\.io\/created\-by}{"\n"}'`
nor this:
`kubectl get pods tmp -o

[2016-09-02 16:57] erictune commented on #31984
A use case for this is extracting "created-by" or "init-container" annotations.  I've wanted to do both in the last month and fought jsonpath.

[2016-09-02 16:59] aveshagarwal commented on #31676
@derekwaynecarr is it documented somewhere?

[2016-09-02 16:59] yujuhong commented on #31215
Nothing too shocking. The log just confirmed that the node weren't able to download the cni plugins during startup.

[code]

@freehan's PR #31931 will ensure that kubelet marks the node not ready if the plugins are missing. For other setup problems that kubelet cannot detect (e.g., missing a static pod manifest file), the cluster setup process should have other sanity checks.

[2016-09-02 17:02] aveshagarwal commented on #31676
also by default, the memory eviction node e2e tests starts with `--eviction-hard memory.available<250Mi,imagefs.available<10%` .

Shouldn't the test dynamicaly adjust `--eviction-hard memory.available` to something higher when the node has high memory so that the test takes little bit less time?

[2016-09-02 17:02] yujuhong commented on #31579
#31945 has been merged. Closing this.

[2016-09-02 17:02] #31579 closed

[2016-09-02 17:02] pskrzyns commented on #30632
This test hangs out on my setup since yesterday.
Service and rc are created but there is no endpoint.

[code]

[code]

It looks like it started after  #31311
cc @girishkalele

[2016-09-02 17:08] ichekrygin commented on #30939
I think there could be an issue with cadvisor pod cpu usage values. I was running this:

[2016-09-02 17:09] medhedifour commented on #29804
@dshulyak
Thanks

[2016-09-02 17:20] piosz commented on #30939
After debugging with @ichekrygin it seems that something is broken with summary api, because it tends to report duplicated containers in a single response.

From what @ichekrygin shared with me after querying Kubelet:
[code]
This seems to be a serious issue. @timstclair @dchen1107  could you please take a look?

[2016-09-02 17:21] mtaufen commented on #31676
Ideally the `-mem-alloc-size` in the `stress` image we use for the test could be set to a percentage of `-mem-total` to ensure the test consumes memory up to `-mem-total` within the time limit.

[2016-09-02 17:24] smarterclayton commented on #31924
The problem is we don't know what data needs to be in the envelope.  Why
not denormalize on save if that's the case?

Partial protobuf is possible but is going to be somewhat ugly.  Still
trying to work out what it means.

On Fri, Sep 2, 2016 at 12:51 PM, Timothy St. Clair <notifications@github.com

[2016-09-02 17:24] yujuhong commented on #30189
kubelet stopped syncing all pods frequently (10s) and unconditionally since v1.2, because of the  serious overhead which became increasingly evident as the pod density on the node grew. Pod syncing is now triggered mainly by:
 1. pod spec changes
 2. container state changes
 3. A long, fallback resync interval (`--sync-frequency`) defaulted to 1 minute

You could increase the resync interval, but

[2016-09-02 17:24] bprashanth commented on #31965
Hmm, the idea is to sync every pet periodically, but only create them one at a time. The logic that counts status.replicas is wrong. This counter shouldn't be incremented in the case where we didn't update/sync or create a pet: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/petset/pet_set.go#L344. Today we do increment it all pet creation is blocked on the first pet becoming u

[2016-09-02 17:25] smarterclayton commented on #31839
https://github.com/kubernetes/kubernetes/issues/23569

On Fri, Sep 2, 2016 at 12:22 PM, Davanum Srinivas <notifications@github.com>
wrote:

[2016-09-02 17:25] smarterclayton commented on #23569
Why was security taken off?

[2016-09-02 17:29] dchen1107 commented on #30939
@jszczepkowski @piosz Can you guys share with us the reproduce steps? That would help us debug immediately.

Meanwhile, @timstclair we should add node-e2e test to validate /summary contents, including checking the uniqueness of container.

[2016-09-02 17:30] yujuhong commented on #24513
@LiginGeorge your question is more suited for the [stackoverflow](stackoverflow.com/tags/kubernetes) forum. Please post there instead. Thanks!

[2016-09-02 17:31] smarterclayton commented on #12338
Fencing is a multi layer solution that can involve:

1. The application
2. The daemon running the application
3. Another heartbeating daemon on the application
4. The kernel / hardware module on the machine
5. The IPMI firmware
6. The rack firmware
7. The top of rack switch
8. The data plane routers
9. Other participants like the storage servers
10. The network of the storage servers

etc to infin

[2016-09-02 17:31] ichekrygin commented on #30939
@dchen1107 - this "duplicate" container information appears consistent for pods in `curl -s http://localhost:10255/stats/summary `

[2016-09-02 17:31] derekwaynecarr commented on #31676
@aveshagarwal - i am not sure if we got a doc yet in kube repo re: swap... i have an open pr for origin docs that discusses same: https://github.com/openshift/openshift-docs/pull/2690

[2016-09-02 17:34] piosz commented on #30939
Me and Jerzy were not able to reproduce it locally. @ichekrygin has a cluster on AWS where the problem occurs.

[2016-09-02 17:34] girishkalele commented on #30632
@pskrzyns

#31311 just adds some validation for the new NodeName field.
A more probable reason for no endpoints would be that the pods could not get to Running state.

[2016-09-02 17:36] timstclair commented on #30939
A dump of the cAdvisor stats on the node would also be helpful:
[code]

One interesting observation is that the first container has almost no memory usage, while the second has almost no CPU usage. Also, the scrape times are different. Is it possible that the memory and CPU cgroups were detected as 2 different containers?

@dchen1107 I'm working on a big overhaul to the summary test in https://git

[2016-09-02 17:37] bprashanth commented on #30632
@pskrzyns please open another bug with the specific symptoms, since this one already tracks the failures of a periodic e2e that we know usually passes

[2016-09-02 17:37] dchen1107 opened #31989 "node-e2e test to validate kubelet's /summary"
We already have
- monitoring test which tests the entire monitoring pipeline: kubelet/cadvisor, summary api, heapster, even influxdb, etc.
- tests to check system containers' stats through summary api for resource tracking
- cadvisor tests to validate cadvisor logic

But  we don't have a comprehensive test to validate summary api itself. If we do, both https://github.com/kubernetes/kubernetes/issu

[2016-09-02 17:39] dchen1107 commented on #31989
@timstclair has a pending https://github.com/kubernetes/kubernetes/pull/29479 addressing this a while back.

[2016-09-02 17:43] ichekrygin commented on #30939
[dump.txt](https://github.com/kubernetes/kubernetes/files/452619/dump.txt)

[2016-09-02 17:45] timothysc commented on #31924
Umm yes we do.

[2016-09-02 17:52] elyscape commented on #31839
@dims That's a good idea! 64KB might be a bit large, but obviously the exact size can be changed. The only additional consideration I can think of is that it might be a good idea to copy the file out from the tmpfs mount at termination time, so that historical termination messages can be reviewed even after a reboot of the host, so long as the pod hasn't been deleted.

[2016-09-02 17:54] yujuhong commented on #31937
@freehan also agreed that this should go when I mentioned yesterday. The question remains is whether anyone is still using it.

Adding a deprecation warning may be a good start?

/cc @kubernetes/sig-node @kubernetes/sig-network

[2016-09-02 17:55] goltermann commented on #28325
@jfrazelle @davidopp this would be useful so we didn't have to wait on alpha/beta builds.

[2016-09-02 18:11] thockin commented on #31937
yeah, maybe we can announce the deprecation for 1.5 and nuke it from 1.6?
Or squeeze a deprecation warning into 1.4?

On Fri, Sep 2, 2016 at 10:54 AM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-09-02 18:18] vishh commented on #31902
Do pre-stop hook's runtime get accounted towards a pod's termination grace
period?

In general, I agree that we should generate events for all timeouts.

On Thu, Sep 1, 2016 at 11:06 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-02 18:21] vishh commented on #31928
Given that the flake is happening pretty consistently, will that help
triaging further? I'm concerned if GCI has any metrics issues.

On Fri, Sep 2, 2016 at 1:52 AM, Jerzy Szczepkowski <notifications@github.com

[2016-09-02 18:21] timstclair commented on #30939
Based on the cAdvisor stats, it looks like cAdvisor is detecting two different cgroup paths:
[code]

Both have the same Docker ID and Kubernetes labels, but the stats are different, and the creation times very slightly different. Also one (init) has a CPU quota, while the other has a cpu mask.

I'm not sure if this is a cAdvisor issue, Kubelet issue, or Docker issue.

[2016-09-02 18:22] vishh commented on #31676
Swap is unsupported. The docs keep moving around, but I remember mentioning
that explicitly in a few places.

On Fri, Sep 2, 2016 at 10:32 AM, Derek Carr <notifications@github.com>
wrote:

[2016-09-02 18:25] k8s-merge-robot opened #31995 "TestServiceRegistryExternalTrafficAnnotationHealthCheckNodePortUserAllocation {service}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/16532/

Failed: TestServiceRegistryExternalTrafficAnnotationHealthCheckNodePortUserAllocation {service}

[code]

[2016-09-02 18:28] vishh commented on #31676
Swap being unsupported is an existing behavior. I'm not sure if explicitly
checking for swap is necessary for v1.4.

[2016-09-02 18:28] dchen1107 commented on #30939
What @timstclair found is very interesting. @ichekrygin could you please give us the following information:

* dump the output of systemd-cgls on the node?
* run command: docker inspect 330d448ee4709c6531b2191f7834a16c7c4625736c75aa76b456ae948c194c48 and find the root pid of that container, then dump the output of 'cat /proc/<pid>/cgroup'?

Thanks!

[2016-09-02 18:30] piosz commented on #31928
@vishh is this issue about nodes running na GCI?
@timstclair @dchen1107 is there any chance that #30939 might happen on GCI?

[2016-09-02 18:31] nicolasbelanger commented on #16047
+1

[2016-09-02 18:31] mtaufen commented on #31676
Ok, well I have this in any case: #31996. Not sure what to do for something running on Windows/Azure though.

[2016-09-02 18:34] mtaufen commented on #31676
Additionally, if swap is not supported at all, maybe we should just check for it and error out regardless of eviction settings.

[2016-09-02 18:36] derekwaynecarr commented on #30939
This is a bug in systemd cgroup driver for docker when running in more recent versions of systemd that introduced init.scope.  RHEL/Centos/Fedora<24 are not impacted, but I know CoreOS has a newer systemd.

see the runc fix: https://github.com/opencontainers/runc/pull/966

[2016-09-02 18:45] ichekrygin commented on #30939
[systemd-cgls.txt](https://github.com/kubernetes/kubernetes/files/452706/systemd-cgls.txt)

[2016-09-02 18:46] smarterclayton commented on #31902
Yes - logic as of 1.2 (or maybe 1.3) is:

1. Start the timer
2. Call prestop
3. If timer expires, or prestop exits, call docker stop with max(minimum
grace period, remaining grace period)
4. docker stop applies SIGTERM then max() then SIGKILL

Minimum grace period is always 2 seconds on the theory that SIGTERM than
SIGKILL is always better than SIGKILL.

On Fri, Sep 2, 2016 at 2:18 PM, Vish Kannan

[2016-09-02 18:47] ichekrygin commented on #30939
[code]

[2016-09-02 18:48] timstclair commented on #31928
Based on [derek's comment](https://github.com/kubernetes/kubernetes/issues/30939#issuecomment-244436150) I don't think it would happen on GCI since they don't appear to use the `init.scope`. @kubernetes/goog-image to confirm.

[2016-09-02 18:50] derekwaynecarr commented on #30939
@ichekrygin - yep, thats the problem.  systemd moved pid 1 into init.scope and runc did not yet react.  you either need a systemd prior v226, or a patch to docker with the runc update linked prior.

[2016-09-02 18:52] timstclair commented on #30939
Thanks @derekwaynecarr , looks like you solved the mystery. That explains why this doesn't show up in any of our tests.

@ichekrygin what distro (+version) are your nodes running?

[2016-09-02 18:55] ichekrygin commented on #30939
CoreOS-stable-1068

[2016-09-02 18:57] dchen1107 commented on #30939
cc/ @euank from coreos

[2016-09-02 19:05] praoreo commented on #31799
@bryk Could you please help.

[2016-09-02 19:07] aveshagarwal commented on #31676
With swap off and by increasing eviction-hard threshold, this test finally passed and did not time out on rhel7.2: `make test-e2e-node FOCUS="MemoryEviction" TEST_ARGS="--eviction-hard memory.available\<6G,imagefs.available\<10%"`

[code]

[2016-09-02 19:07] dchen1107 commented on #30939
@derekwaynecarr & @ichekrygin Thanks for all your help on the debugging.

@timstclair node-e2e tests are running on coreos image too. Let's  update our summary tests to detect the issue: #31989

@euank I assigned this one to you since so far it only affects coreos image. Please delegate or suggest a plan for the customers on coreos for both 1.3 and 1.4 releases. Thanks!

[2016-09-02 19:27] euank commented on #30607
I'll look once we have logs, thanks for the heads up.

[2016-09-02 19:27] timstclair commented on #30939
I don't see this on our coreos node-e2e image. Is that because of this bit in the [coreos-init.json](https://github.com/kubernetes/kubernetes/blob/06c542b4c0e1338634949df6cd4ae2c266aadfd6/test/e2e_node/jenkins/coreos-init.json#L13)?
[code]

[2016-09-02 19:31] #30523 closed

[2016-09-02 19:31] #31877 closed

[2016-09-02 19:48] bgrant0607 commented on #30716
@jberkus Those examples are helpful, thanks.

[2016-09-02 19:49] erictune commented on #29679
I want to view the created-by annotation of a pod.  You cannot do this with jsonpath, and it will be verbose to do with golang templates.  Problem is that `kubernetes.io/created-by` has 3 special characters in it.

What would that look like?

[code]

[2016-09-02 19:53] dberuben commented on #16047
+1 for this

[2016-09-02 20:02] luxas commented on #31937
I made a similar issue for this earlier here https://github.com/kubernetes/kubernetes/issues/30589

I'm a lot in favor for deprecating the old cbr0 logic and the experimental flannel overlay mode in v1.4 with `release-note-action-required` and nuking them in v1.5

[2016-09-02 20:04] janosi commented on #28273
We have a chance to work on this issue now. I would like to align the design before applying it on the code.
The change on the versioned API would look like this (/pkg/api/v1/types.go). Your comments are welcome!

There would be the following new field in type Container
[code]

There would be a new type TmpFs to allow the description of the target TmpFs mount point:

[code]

[2016-09-02 20:05] janetkuo commented on #31502
Flakes happened when stopping overlapping deployments.

[2016-09-02 20:06] kargakis commented on #29679
Annotation keys are not special. Annotations would have to be a separate subcommand (analogous to how you can set annotations currently)

So I would expect something like `kubectl view annotations pod/nginx-3ks4x | grep created-by`

[2016-09-02 20:10] ichekrygin commented on #30939
After downgrading to `1010.6.0` this is no longer an issue. Thx @derekwaynecarr

[2016-09-02 20:10] bprashanth commented on #31937
As have we all https://github.com/kubernetes/kubernetes/issues/17795 :)
removing --experimental-flannel-overlay is a much easier argument to make than deleting --configure-cbr0. It's fewer, more isolated loc that was put in for a specific use case and has since been rendered obsolete. easy to throw away even in 1.4, probably doesn't even need a deprecation because "experiemental" == "alpha". We mi

[2016-09-02 20:11] janosi commented on #28272
We have a chance to work on this issue now. I would like to align the design before applying it on the code. Your comments are welcome!

The change on the versioned API would be, that there would be a new field in type PodSpec:
[code]

[2016-09-02 20:11] kargakis commented on #31502
You probably need to move the [overlap](https://github.com/kubernetes/kubernetes/blob/27bd087eff33250033d526ee79b1a51c199fcd55/pkg/controller/deployment/deployment_controller.go#L511) check before the deletionTimestamp check. Just make sure that observedGeneration is updated for the first case.

[2016-09-02 20:11] smarterclayton commented on #29679
Why can't you print the created by annotation of a pod with jsonpath?

{ .metadata.annotations['fullkey'] }

?

On Fri, Sep 2, 2016 at 4:07 PM, Michail Kargakis <notifications@github.com>
wrote:

[2016-09-02 20:18] bgrant0607 commented on #25716
For features that aren't supported in jsonschema/swagger/openapi currently, we should develop our own extensions where we can. Unrecognized fields should be ignored by other tools.

https://github.com/OAI/OpenAPI-Specification/blob/master/guidelines/EXTENSIONS.md
http://swagger.io/specification/#vendorExtensions

[2016-09-02 20:25] janetkuo commented on #31502
Because the deployments are overlapping so when deleting one deployment and determining if its RSes are deleted there might be a race when the other deployment creates an RS

[2016-09-02 20:27] timstclair opened #31999 "Don't report FS stats for system containers"
We currently include `Rootfs` and `Logs` stats for the system (kubelet, runtime) containers in the node summary API. We don't actually set up a filesystem for these containers, so it doesn't make sense to report those stats.

/cc @kubernetes/sig-node

[2016-09-02 20:45] yujuhong commented on #31937
+1 to this. Deprecation warning seems fair enough for 1.4.

[2016-09-02 20:54] luxas commented on #31937
@yujuhong, @bprashanth or @freehan can someone of you do it? :)

[2016-09-02 20:54] hongchaodeng commented on #31962
I ran all tests in etcd3/watcher_test.go (even parallely) whole day on commit b921c675a0083a66e050e1ac986c0b09fb81e962 and couldn't get any faiilure. It's almost 500 rounds.

Let me try to add more logging to get more insights during failure.

[2016-09-02 20:55] mikeputnam commented on #30495
To restate @ianjamez 's fix in patch form, I was able to get the below to work on v1.3.6:

[code]
Once the above changes are in place, just run the `kube-up.sh` script to continue.

[2016-09-02 20:55] #29227 closed

[2016-09-02 21:03] girishkalele commented on #29055
This Google 20% project looks like another DNS benchmark datapoint we could use.

https://code.google.com/archive/p/namebench/

[2016-09-02 21:10] saad-ali commented on #31088
This looks like a dupe of https://github.com/kubernetes/kubernetes/issues/29358 which was fixed by PRs https://github.com/kubernetes/kubernetes/issues/29485 and https://github.com/kubernetes/kubernetes/pull/30737 and should be in v1.3.6.

I'll close this issue for now. Please reopen if you run into the issue on v1.3.6 or later.

[2016-09-02 21:10] #31088 closed

[2016-09-02 21:10] timothysc commented on #31962
It's got to be due to load on their test-servers again.
/cc @kubernetes/sig-testing

[2016-09-02 21:13] derekmahar commented on #14017
@bprashanth How does one build the k8s api?

[2016-09-02 21:14] bprashanth commented on #14017
just run make, as long as you have the go imports worked out it should succeed

[2016-09-02 21:15] bprashanth commented on #14017
i.e it's just a normal go program that imports `pkg/api` https://github.com/kubernetes/kubernetes/blob/master/examples/https-nginx/make_secret.go#L29

[2016-09-02 21:19] derekmahar commented on #14017
The Go imports are the problem.  I'm not a Go programmer, so I need to setup and learn this from scratch.

[2016-09-02 21:21] k8s-merge-robot opened #32008 "[k8s.io] EmptyDir volumes should support (non-root,0644,tmpfs) [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32000/kubernetes-pull-build-test-e2e-gce/57190/

Failed: [k8s.io] EmptyDir volumes should support (non-root,0644,tmpfs) [Conformance] {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #32000.

Previous issues for this test: #29224

[2016-09-02 21:23] bprashanth commented on #14017
oh yeah, there's an easier solution now. Just create the secret using openssl eg:
[code]

then use kubectl to shove that into a kubernetes seceret:
[code]

Where nginxsecret is the same name used in the yaml.

[2016-09-02 21:23] derekmahar commented on #14017
For example, here is what I see when I run the make command:

[code]

I'm pretty sure my GOPATH is not set correctly.

[2016-09-02 21:24] bprashanth commented on #14017
let me know if the steps in previous example don't work, you need a kube version >= 1.3. If they do work, and you have the time, please send a pr :)

[2016-09-02 21:30] freehan commented on #31937
just did it in #31197

[2016-09-02 21:32] smarterclayton commented on #31873
Well, through a completely unrelated path I confirmed my fear - 404 errors from servers that don't return API status response bodies are *not* properly returning true for `errors.IsNotFound()`.  It may be too risky to fix, but it instantly casts doubt on a whole range of code that tolerated that.

The 404 the server returns here must not be a well formed 404.  It could be due to a filter or other

[2016-09-02 21:41] spxtr commented on #32008
@derekwaynecarr this error is cropping up all over the place

[2016-09-02 21:42] smarterclayton opened #32009 "404 from remote server not being treated as a "not found" on client"
The client library has `NewGenericServerResponse` for handling unexpected errors.  It's supposed to be invoked in `transformUnstructuredResponseError` which is called from `transformResponse`.  That error is supposed to be semantically equal to valid api.StatusErrors returned by the server so that `apierrors.IsNotFound(err)` would return true for any 404.

In #31873 the teardown code of e2e tests

[2016-09-02 21:42] smarterclayton commented on #32009
@kubernetes/sig-api-machinery triaging now

[2016-09-02 21:43] smarterclayton commented on #31873
Filed #32009 while I investigate whether this is hiding other errors / a regression.

[2016-09-02 21:44] spxtr commented on #31836
#31873 #32009

[2016-09-02 21:44] spxtr commented on #31574
#31873 #32009

[2016-09-02 21:44] spxtr commented on #31408
#31873 #32009

[2016-09-02 21:44] spxtr commented on #31938
#31873 #32009

[2016-09-02 21:44] spxtr commented on #26134
#31873 #32009

[2016-09-02 21:44] spxtr commented on #32008
#31873 #32009

[2016-09-02 21:45] spxtr commented on #32009
I linked all the tests that have hit this in the last day or two. I would argue for P0 based on the number.

[2016-09-02 21:52] chuckbutler opened #32010 "cluster/juju deployed Kubernetes master unit messaging appears broken"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: ANY
- **OS** (e.g. from /etc/os-release): Ubuntu
- **Kernel** (e.g. `uname -a`): Linux ip-172-31-0-139 4.4.0-36-generic #55-Ubuntu SMP Thu Aug 11 18:01:55 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: Juju
- **Others**: A 🍠

**What happened**: The master unit see

[2016-09-02 21:53] Blasterdick commented on #23737
+1, Sometimes getting this, while making command:

`for name in `kubectl get pod |awk '/redis/{print $1}'`; do echo $name && kubectl exec $name redis-cli keys "*"; done`

from every server in RC. But, next time it could be OK.

[2016-09-02 21:54] derekwaynecarr commented on #31676
@mtaufen -- we should let kubelet still run with swap enabled, but we should not let kubelet run with (swap+memory eviction).

As for this flake, is this flake flaking on all OS distros?

[2016-09-02 21:58] lavalamp commented on #31873
Thanks for investigating. The error returning code seemed unnecessarily
hard to understand when I was looking at it the other day.

On Fri, Sep 2, 2016 at 2:43 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-02 22:04] vishh commented on #29033
I plan to fix this in v1.5. I will go with @smarterclayton's suggestion of making it difficult to force delete a pod via kubectl.
I also plan to fix kubelet to delete a pod only after all its associated resources have been reclaimed.

[2016-09-02 22:11] lavalamp commented on #31910
I've been asking for us to build a consistent set of containers at head for
every e2e for over a year, but no one has done it.

On Thu, Sep 1, 2016 at 9:22 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-02 22:14] smarterclayton commented on #31873
Other theories - there's something special about 404 on a namespace now (doesn't behave like all other 404's, or like old servers).

[2016-09-02 22:14] vishh commented on #31676
Yes. It does flake in at-least two distros that I have tested.

On Fri, Sep 2, 2016 at 2:55 PM, Derek Carr <notifications@github.com> wrote:

[2016-09-02 22:14] smarterclayton commented on #32009
Could potentially be related to a specific case - hitting a namespace that has been deleted.

[2016-09-02 22:16] janetkuo commented on #29780
ACK

[2016-09-02 22:17] jberkus commented on #13610
this would be excellent, and a nice alternative to templates.

One request: allow for input from a file on the host as well as inline contents.

[2016-09-02 22:23] lavalamp commented on #31691
is that reproducible? Does just changing to a different port than 30200 work?

[2016-09-02 22:30] lavalamp commented on #24967
the coverage tool rewrites source code. Seems like a bug that it changes line numbers in the _test.go files. Skipping it wasn't the right fix IMO, we should file a bug with them.

[2016-09-02 22:37] smarterclayton commented on #31873
This looks like it is <2 days old.

[2016-09-02 22:39] lavalamp commented on #31873
Meaning I somehow broke it? :/

On Fri, Sep 2, 2016 at 3:37 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-02 22:40] hollowimage commented on #30495
+1 still broken for v1.3.6
`./cluster/../cluster/../cluster/aws/../../cluster/common.sh: line 528: KUBE_MANIFESTS_TAR_URL: unbound variable`

[2016-09-02 22:47] smarterclayton commented on #31873
Not sure - I can't find any changes within the window besides yours that look correlated with error handling.  Yours merged Wednesday at 11pm EDT.  The first failure was around ~24 hours ago.

[2016-09-02 22:49] smarterclayton commented on #27503
We forked this into #32009 - didn't realize you guys were discussing here.

[2016-09-02 22:50] smarterclayton commented on #31873
Actually, https://github.com/kubernetes/kubernetes/issues/31836#issue-174401539 is older than your commit.  I think you're off the hook with that PR.

[2016-09-02 22:52] smarterclayton commented on #28845
This may be correlated with #32009 and the attendant ones.  This is older than that particular error, but it may be the same symptom on either end.  Those are *not* GKE specific though, so it could be a different failure, but manifesting in the same way.