[2019-03-01 18:00] Areejcs opened #74818 "kubectl - Hello Node Kubernetes Pod Nodes"
Hi,

I'm working my way through the GCP Essentials
Hello Node Kubernetes Course,
I've everything is done correctly then faced this **error**

`google2572238_student@cloudshell:~ (qwiklabs-gcp-3a79f26c2b47893f)$ kubectl run hello-node \ --image=gcr.io/qwiklabs-gcp-3a79f26c2b47893f/hello-node:v1 \
--port=8080
Error: required flag(s) "image" not set
`
![screen shot 2019-03-01 at 8 55 53 pm](https://u

[2019-03-01 18:07] M00nF1sh commented on #73297
will provide support for this in early next week

[2019-03-01 18:14] nikopen commented on #69376
(tracking update - in progress #72927)

[2019-03-01 18:15] nikopen commented on #73058
/assign @haiyanmeng

[2019-03-01 18:15] pwittrock opened #74819 "StatefulSetSpec.volumeClaimTemplates doesn't have a merge key"
cc @kow3ns
cc @janetkuo
cc @kubernetes/sig-apps-bugs

StatefulSetSpec.volumeClaimTemplates does not have a merge strategy or key, so it is always replaced.  See PodSpec.volumes for what this should look like

- [podspec](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#podspec-v1-core)
- [statefulsetspec](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#stat

[2019-03-01 18:16] nikopen commented on #60712
/milestone clear

[2019-03-01 18:38] kacole2 opened #74821 "[Failing Test] [sig-cluster-lifecycle] Reboot [Disruptive] [Feature:Reboot] each node by... Multiple Failures"
**Which jobs are failing**:

* [sig-release-1.14-all/gke-cos-1.14-reboot](https://testgrid.k8s.io/sig-release-1.14-all#gce-cos-1.14-reboot)

**Which test(s) are failing**:

* [sig-cluster-lifecycle] Reboot [Disruptive] [Feature:Reboot] each node by ordering clean reboot and ensure they function upon restart
* [sig-cluster-lifecycle] Reboot [Disruptive] [Feature:Reboot] each node by ordering unclea

[2019-03-01 18:40] yliaog commented on #74507
If I understand it correctly, you would like to "reject all pods without explicit setting of its requests and limits in some namespaces", "But we don't want to limit them in resources by namespace."

In that case, you can create resource quota with *arbitrarily large* limits, that would satisfy both of your requirements listed above. You don't really need to use LimitRange.

[2019-03-01 18:50] verult commented on #74812
Is the socket removed on driver uninstall?

[2019-03-01 18:51] liggitt commented on #74745
/cc @pbarker

[2019-03-01 18:52] liggitt commented on #74745
from slack conversation with @pbarker:

This makes me wonder if they may be getting rotated, and I noticed https://github.com/kubernetes/kubernetes/commit/0713f29c289a339fef06647c10fa65d59a169a8d#diff-ff266e54aabe0e2f74de4f944db65edb merged that same day, I'm still testing to see if that impacts the audit logs.

cc @jpbetz

[2019-03-01 18:56] nikopen commented on #73324
Hi @freehan , is another PR needed to close this?
Code Freeze is in effect from next Friday.

[2019-03-01 19:00] nikopen commented on #73387
/milestone v1.15

@PatrickLang the kanban board is great!

[2019-03-01 19:07] Huang-Wei commented on #74626
The errors shows it can't create a regular v1 PriorityClass:

[code]

And even can't list PriorityClass:

[code]

It looks like a HTTP 404 error when fetch/create v1 PriorityClass.

@liggitt @bsalamat any clues? (this occurs only in [gke-cos-1.14-default](https://testgrid.k8s.io/sig-release-1.14-all#gke-cos-1.14-default))

[2019-03-01 19:09] yuripastushenko commented on #74507
This is not the only one behaviour that i want to have. I also want to
restrict users from creating pods with too large cpu requests.
For example:
maximum cpu requests per pod: 5 cpu.

пт, 1 марта 2019 г., 21:42 Yu Liao notifications@github.com:

[2019-03-01 19:10] rstrazza commented on #56371
@gottwald thanks for replying! You are right, there was an offending firewall rule that was fixed and everything is working as expected.

[2019-03-01 19:14] pjh commented on #74766
@dineshgovindasamy thank you for the detailed steps to capture the traces. I've uploaded the trace + log files at https://github.com/pjh/kubernetes/tree/debugging/traces/74766_0. Files from both `collectlogs.ps1` and `cluster/log-dump/log-dump.sh` are included.

There was about a ten-minute delay between the node joining the cluster and the deployment of a pod to start the repro. The timestamp on

[2019-03-01 19:18] yuripastushenko commented on #74507
My case is:
 I want to restrict users from creating pods with requests larger than 5
cpu, and also limit the namespace with 10 cpu requests.
And I dont want to set a default value for cpu requests because:
1) The user, that creates the pod better know what cpu requests should be
set.
2) If I will set the defaults - there will be cases, when  users will
forget to set the requests, and the default r

[2019-03-01 19:18] bsalamat commented on #74626
/assign

@Huang-Wei Thanks for investigating it. Looks like we need to enable the API on the GKE side. I will do that.

[2019-03-01 19:22] Huang-Wei commented on #74626
Oh, I thought the API enabling is by default (at least for v1). So you mean there is a sort of "whitelist" configured in GKE to specify which particular APIs are enabled?

[2019-03-01 19:25] bsalamat commented on #74626
Not that we have any blacklisted API that I know, but API versions must be explicitly enabled.

[2019-03-01 19:29] Huang-Wei commented on #74626
Got it. Thanks for the explanation.

[2019-03-01 19:37] andrewsykim commented on #69585
Update on this effort:

There are two pending PRs at the moment: https://github.com/kubernetes/kubernetes/pull/68513 & https://github.com/kubernetes/kubernetes/pull/70675. It's unlikely those PRs will make it in for v1.14 due to the complex nature of trying to refactor that code out of the cloud providers. Hoping they can make it in early in the v1.15 cycle.

[2019-03-01 20:29] pohly opened #74827 "test/e2e: no longer started correctly by gingko"
**What happened**:

When invoking ./test/e2e under ginkgo, for example with `ginkgo -focus=thereisnosuchttest ./test/e2e`, the `e2e.test` binary no longer gets passed the `-ginkgo.focus` parameter (can be verified with `strace -e trace=execve -f`). This does not break the Kubernetes CI because `kubetest` always uses `-ginkgo.focus`. I and others (https://kubernetes.slack.com/messages/C09QZ4DQB/) n

[2019-03-01 20:33] pulpbill opened #74828 "RulesPerSecurityGroupLimitExceeded - New cluster - server v1.11.6"
**What happened**:
While deploying a service (LB type (ELB actually)) I get:

`Normal   EnsuringLoadBalancer        11s (x4 over 48s)  service-controller  Ensuring load balancer
  Warning  CreatingLoadBalancerFailed  10s                service-controller  Error creating load balancer (will retry): failed to ensure load balancer for service kube-system/traefik-ingress-service: error authorizing sec

[2019-03-01 20:55] davidz627 commented on #70514
/remove-lifecycle rotten
still relevant and being worked on

[2019-03-01 21:04] rendhalver commented on #38532
What's the status on this?
I have been doing some testing to see where OOMKilled messages show up.
From what I can tell they only show up in the Pod's status message and don't get included in the namespace events.
Can we add that to the list of events that should exist?
I am happy to report my findings here or open a new issue.

[2019-03-01 21:36] #74534 closed

[2019-03-01 21:49] dineshgovindasamy commented on #74766
Thanks @yujuhong @pjh. Logs were super useful in root causing the issue.

You are using L2Bridge in host gateway mode, so u r allocating .2 ip as the Gateway Ip for this host.

I am seeing a request to create an endpoint with an IP "10.64.1.2"

"{"Name":"1885009e399aa542ad60bab063262196a804252010ab401967a6575cc7ccd1bd_l2bridge","VirtualNetwork":"64736A7F-E9F0-4465-B861-7879393DDD22","Policies":[{"

[2019-03-01 22:51] tpepper commented on #74598
The issue message here doesn't say why a change was desired.  The PR "Original logging is not clear when dealing with managed disk, since diskName is empty".  That's more informative.

[2019-03-01 23:05] bsalamat commented on #74626
GKE changes are merged. Let's wait for the next run of the test.

[2019-03-02 00:27] donbowman commented on #30645
/proc # strace ls -l
execve("/busybox/ls", ["ls", "-l"], 0x7ffcdc43ede8 /* 16 vars */) = 0
strace: [ Process PID=33 runs in 32 bit mode. ]
strace: WARNING: Proper structure decoding for this personality is not supported, please consider building strace with mpers support enabled.
ioctl(0, TCGETS, {B38400 opost isig icanon echo ...}) = 0
ioctl(1, TCGETS, {B38400 opost isig icanon echo ...}) = 0
get

[2019-03-02 00:55] mtaufen opened #74838 "godep restore script fails silently when jq command is missing"
**What happened**:
[code]
Except the dependencies are definitely not current. This appears to happen when jq is missing on my machine.

**What you expected to happen**:
I expected the command to loudly report that jq is missing.

**How to reproduce it (as minimally and precisely as possible)**:
Ensure that jq is not installed, then run this inside k/k:
[code]

/assign @thockin

[2019-03-02 00:56] dhawal55 commented on #57961
I'm seeing this issue intermittently. I'm using bootkube v0.13 to deploy my permanent kube-components (v1.11). 1/10 times my scheduler is not able to schedule any pods and the logs have this same error:
`E0302 00:56:21.169412       1 reflector.go:205] k8s.io/kubernetes/vendor/k8s.io/client-go/informers/factory.go:130: Failed to list *v1.StorageClass: storageclasses.storage.k8s.io is forbidden: Use

[2019-03-02 00:56] thockin commented on #74838
Specifically, godep-restore sends stderr to /dev/null.

I tried to fix that but the error code is not propagating up the way I expected it to, and I ran out of time to debug today.

[2019-03-02 00:57] munnerz commented on #68577
I've opened https://github.com/heketi/heketi/pull/1542 against heketi/heketi that bumps Kubernetes dependencies to client-go 1.10 😄 hopefully that's sufficiently new to have compatibility with the HEAD of kubernetes/kubernetes at the moment, but at the very least it'll make it far easier to bump again in future.

[2019-03-02 01:06] mkumatag commented on #70165
/remove-lifecycle rotten

[2019-03-02 01:27] andyzhangx commented on #74785
@rjaini then could you provide the kubelet log? I am not sure kubelet on Azure stack is running as a container or process, you could get the logs by:
https://github.com/andyzhangx/demo/tree/master/debug#q-how-to-get-k8s-kubelet-logs-on-linux-agent
And how do you deploy k8s on azure stack?

[2019-03-02 01:35] anfernee opened #74839 ""Connection reset by peer" due to invalid conntrack packets"
**What happened**: Network services with heavy load will cause "connection reset" from time to time. Especially those with big payloads. When packets with sequence number out-of-window arrived k8s node, conntrack marked them as INVALID. kube-proxy will ignore them, without rewriting DNAT. The packet goes back the the original pod, who doesn't recognize the packet because of the wrong source ip, en

[2019-03-02 01:36] msau42 commented on #57961
Did you set the feature gate on the apiserver when you brought up the cluster for the first time?

[2019-03-02 01:53] MrHohn commented on #74839
/sig network

[2019-03-02 02:04] wk8 opened #74843 "Make dockershim periodically clean up its `containerCleanupInfos` map"
**What would you like to be added**:
Periodically remove cleanupInfos for old containers from dockershim's `containerCleanupInfos` map.

One way of doing that would be to just forget about `cleanupInfo`s older than say an hour, as they should always be short-lived.

**Why is this needed**:
https://github.com/kubernetes/kubernetes/pull/74737 introduced a new in-memory map for the dockershim, that c

[2019-03-02 02:04] wk8 commented on #74843
/assign wk8

[2019-03-02 02:07] lcd2002 commented on #68270
I'm having this issue with 1.13.1.  One of the masters (HA configurations) lost the "addresses" object, where InternalIP, InternalDNS, and Hostname are listed.  I restarted kubelet several times and even rebooted the machine to no avail.  anybody know how to get it back?

[2019-03-02 02:10] mariusgrigoriu commented on #57961
Speaking for @dhawal55, we do not have the feature gates mentioned in the thread set. However, according to the docs, those feature gates are enabled by default since 1.10.

[2019-03-02 02:27] lcd2002 commented on #11543
I'm not familiar with github but how this can be re-opened and having read through the entire thread, I don't understand why this was closed.  I'm using 1.13.1 and this is causing a problem, and it is actually a bigger problem than most people are commenting here.

Going back to the original post, the problem is our AWS environment is confined to a VPC and our company's domain, so hostname has to

[2019-03-02 03:02] #69343 closed

[2019-03-02 03:37] michmike commented on #74843
/sig windows

[2019-03-02 04:35] #74766 closed

[2019-03-02 06:53] xiyangxdy commented on #72393
@lucaim I had the same problem, I added ceph. conf and ceph. Keyring and solved it, but I think k8s got the default user of CEPH before going back to ceph. conf and ceph. Keyring. The following code validates my conjecture: [https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/rbd/rbd_util.go](url)//num 672
Ultimately, I want k8s to get those two files through configurable CEPH paramete

[2019-03-02 06:57] warmchang commented on #66421
What is the status of the node in which these prints appear? Notready or Ready?

[2019-03-02 07:03] Huang-Wei commented on #74626
Latest 3 runnings are green.

[2019-03-02 07:06] liggitt commented on #74626
great

/close

[2019-03-02 07:06] #74626 closed

[2019-03-02 07:08] #66947 closed

[2019-03-02 07:26] krmayankk commented on #74819
i thought the bigger problem is statefulsets doesnt support updates of volumeClaimTemplates. So would it make sense to support merge/patch ?

[2019-03-02 07:27] LareinaH commented on #51835
facing same issue with v.1.12.3, and --grace-period=0 --force or --now both invalid, delete the statefulset which belongs also invalid

[2019-03-02 07:31] krmayankk commented on #74817
@mohnishkodnani the bigger questions is why do you need this feature. Why do you want to list PVC on a given host. Do you think this feature will be generally usefull to a wide variety of users. In Container orchestration world, generally per host thinking should be avoided.

[2019-03-02 08:07] #65703 closed

[2019-03-02 10:48] joaocc commented on #60751
/remove-lifecycle stale

[2019-03-02 10:59] clkao commented on #74669
@liggitt I think #72221 is only skipping the blacklisted dir, which is (kubernetes.io/). it does not address the issue where non-CSI flexvolume plugin mounts backing filesystems under the plugin dir, causing excessive traversal + watch calls.

[2019-03-02 11:41] #74803 closed

[2019-03-02 12:03] gtrafimenkov commented on #74818
Hi @Areejcs ,

it looks like symbols `\` in the command cause this error.  It should be:

[code]

not:

[code]

[2019-03-02 12:13] dims commented on #69777
Done!

[2019-03-02 12:13] dims commented on #69777
/close

[2019-03-02 12:13] #69777 closed

[2019-03-02 13:11] lisa commented on #60987
Also seeing this with NFS backing

    Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.3", GitCommit:"721bfa751924da8d1680787490c54b9179b1fed0", GitTreeState:"clean", BuildDate:"2019-02-01T20:00:57Z", GoVersion:"go1.11.5", Compiler:"gc", Platform:"linux/arm64"}
    nfs-provisioner:
     Image:  quay.io/kubernetes_incubator/nfs-provisioner:latest
    CentOS 7.6.1810
    4.20.0

[2019-03-02 14:51] Sicaine commented on #60807
@mingxingshi tx. Did a edit namespace which didn't do the trick. Your script did it.

[2019-03-02 14:52] fredkan commented on #60987
1. umount the path in the orphaned pod.
2. remove orphaned pod directory

the script may be useful.
https://github.com/AliyunContainerService/kubernetes-issues-solution/blob/master/kubelet/kubelet.sh

[2019-03-02 15:40] liggitt commented on #74838
cc @sttts

[2019-03-02 15:46] pbarker commented on #74745
If we wanted to test that theory we could temporarily change those file rotation settings back to what they were and see if that fixes the problem.

[2019-03-02 15:49] r0bj opened #74848 "Pod is deleted after failed Job when used with "restartPolicy: OnFailure""
**What happened**:

Pod is deleted after failed Job when used with `restartPolicy: OnFailure`. So there is no way to eg. check for errors, debug logs.

**What you expected to happen**:

Job failed but Pod is still present to be able to check for errors, debug logs, etc.

**How to reproduce it (as minimally and precisely as possible)**:

CronJob manifest:
[code]

Job events:
[code]

Pod `test-15515

[2019-03-02 15:50] r0bj commented on #74848
/sig apps

[2019-03-02 17:47] sundaravijeyan opened #74849 "plugin/errors: 2 86788i get this error ,when i se logs on kube-dns,because of this i cant curl any endpoint and nslookup to kubernetes.default is not reachable57457967447011.5992709372429440277. HINFO: unreachable backend: no upstream host"

[2019-03-02 17:49] sundaravijeyan commented on #74849
@kubernetes/sig-contributor-bugs

plugin/errors: 2 86788i get this error ,when i se logs on kube-dns,because of this i cant curl any endpoint and nslookup to kubernetes.default is not reachable57457967447011.5992709372429440277. HINFO: unreachable backend: no upstream host #74849

[2019-03-02 18:20] fraoustin opened #74850 "couldn't initialize a Kubernetes cluster"
/sig component-standard

@kubernetes/sig-component-standard

### What happened:
couldn't initialize a Kubernetes cluster

### What you expected to happen:
create the cluster normally
How to reproduce it (as minimally and precisely as possible):
`
sudo kubeadm init --pod-network-cidr=10.244.0.0/16 --apiserver-advertise-address=192.168.0.80
`

### Anything else we need to know?:
the details output a

[2019-03-02 18:47] ismailbaskin commented on #62156
/remove-lifecycle rotten

[2019-03-02 18:57] neolit123 opened #74853 "Conformance image / e2e considerations"
A) `--num-nodes` seems to be required by some tests. we need to decide if jobs need to pass `--num-nodes` explicitly or let the e2e framework detect how many worker nodes a cluster has.
the conformance image has no notion of `--num-nodes` yet.
https://github.com/kubernetes/kubernetes/issues/74474

B) the conformance image runs `[Serial]` tests even in parallel mode:
https://github.com/kubernetes/k

[2019-03-02 18:58] neolit123 commented on #74853
/sig testing

[2019-03-02 19:01] neolit123 commented on #74853
PRs - disable Parallel mode for conformance image (and test):
https://github.com/kubernetes/test-infra/pull/11588
https://github.com/kubernetes/kubernetes/pull/74851

[2019-03-02 20:19] #69006 closed

[2019-03-02 20:39] solomatov commented on #71643
Please, don't close it for inactivity. It's a really valuable feature for me.

[2019-03-02 21:20] #39657 closed

[2019-03-02 21:26] bgrant0607 commented on #73352
Thanks for the suggestion.

We'll consider it if/when we make major changes to Service.

I made note of it here:
https://docs.google.com/presentation/d/16c8i5ptRcsubBE_uRymGTklgOcvmAeAuRxSsSIWKGeM/edit#slide=id.g4741dd49cd_1_138

cc @thockin

[2019-03-02 21:26] #73352 closed

[2019-03-02 22:12] ash2k commented on #74560
Or just call `klog.InitFlags()` directly from `main()` where it's needed. i.e. there is no need for it to be called from an `init()`, right? Commenting because we've run into this issue too.

[2019-03-02 22:39] nilebox commented on #74560
Agree with @ash2k. We have to explicitly invoke `klog.InitFlags()` for CRD controllers, but if we do the same in a custom API server, we get panic (see https://github.com/kubernetes-incubator/service-catalog/pull/2528#issuecomment-455372801).

AFAICT, the only reason the main Kubernetes itself doesn't have this problem is because API servers and controller-managers share the `main`, and as a resul

[2019-03-03 00:39] tamalsaha commented on #74560
[code]

@ash2k, yes to what you said. It is ironic that glog was forked due to `init`, then `init` was reinvented in this util logs package.

[2019-03-03 03:35] neolit123 commented on #74818
+1

/close

[2019-03-03 03:35] #74818 closed

[2019-03-03 04:27] #69411 closed

[2019-03-03 04:37] excavador commented on #20227
Any updates?

[2019-03-03 05:28] #66368 closed

[2019-03-03 05:52] voron commented on #49546
/remove-lifecycle rotten

[2019-03-03 08:35] ijumps commented on #65743
/remove-lifecycle stale

[2019-03-03 08:46] justaugustus commented on #69373
/reopen
/remove-lifecycle rotten

[2019-03-03 10:33] #65746 closed

[2019-03-03 10:46] tomekit commented on #20227
Not a solution really, but I've temporarily solved my problem using: `ngrok.io` which is 3rd party service exposing your local ports to public internet. Not ideal from many perspectives including, latency, security (do you trust 3rd party?).
Something that many won't be able to accept as a production solution, but this satisfies my needs to debug things on remote environment (very rarely done anyw

[2019-03-03 11:44] weeco commented on #17512
I am glad others were also facing this challenge. I created Kube Eagle (a prometheus exporter) which helped me gaining a better overview of cluster resources and ultimately let me better utilize the available hardware resources:

https://github.com/google-cloud-tools/kube-eagle

![Kubernetes Resource monitoring dashboard](https://raw.githubusercontent.com/google-cloud-tools/kube-eagle/master/grafa

[2019-03-03 12:28] jcassee commented on #42885
/remove-lifecycle stale

[2019-03-03 12:35] #69418 closed

[2019-03-03 14:13] rich-nahra commented on #19317
Removing finalizer worked for me.  I PUT empty spec property and removed status property completely.  Used kubectl proxy and `http://localhost:8001/api/v1/namespaces/{namespace_name}/finalizer` as the endpoint
[code]

[2019-03-03 14:53] Stono opened #74860 "Remote IO Errors when using NFS"
Hi,
We are attempting to use an NFS share on kubernetes (GKE v1.11.7-gke.6) and we're getting Remote I/O errors when attempting to write large files.

[code]

I've played with the number and it seems that the failure's happen after around 375-400mb.

The actual PV looks like this:
[code]

`nfs.search-solr.svc.cluster.local` is a simple nfs server in a pod.

[2019-03-03 14:59] yangqk commented on #71704
@xuxiaosen
Have you solved this issue?

[2019-03-03 15:16] Stono commented on #74860
OK so this was more of an NFS issue rather than a kubernetes one.

For others coming here, we modified our PV to have the following mount options:

[code]

And we also set the number of threads on our nfs server: `echo "RPCNFSDCOUNT=16" >> /etc/sysconfig/nfs`

[2019-03-03 15:16] #74860 closed

[2019-03-03 15:31] taragu opened #74861 "./hack/update-bazel.sh failed for go 1.11"
**What happened**: When I run `./hack/update-bazel.sh`, the following error occurs:
[code]
Need to remove the following three lines from `update-bazel.sh` in order for it to run successfully:
[code]

**What you expected to happen**: `update-bazel.sh` is able to run without errors.

**How to reproduce it (as minimally and precisely as possible)**: Install go 1.11, and run `./hack/update-bazel.sh` f

[2019-03-03 15:31] taragu commented on #74861
/sig testing

[2019-03-03 16:24] arielb135 commented on #64148
Does this work on 1.10? was it patched?
what i've experienced - it removes it, and puts it back after ~1 minute - which means, full minute where the service is not active.

in our production cluster it didnt even put it back.

[2019-03-03 16:40] #61879 closed

[2019-03-03 19:28] e-gautier commented on #66748
For the Googlers, I know it can be silly but have you checked that any swap volume is accidentaly mounted at boot? (fstab etc..)

[2019-03-03 19:40] jmreicha opened #74862 "Way to see last node reboot/restart?"
**What would you like to be added**:

Currently there isn't a good way to check to see when a node was last rebooted/restarted (at least as far as I can tell) without having to log in to the server.

**Why is this needed**:

This is obviously useful for telling how long a server has been up and for quickly determining when a system was last patched, or not patched, which can be useful for debuggin

[2019-03-03 19:42] #58251 closed

[2019-03-03 19:47] jmreicha commented on #74862
/sig node

[2019-03-03 21:02] neolit123 commented on #74853
@kargakis @BenTheElder

RE: https://github.com/kubernetes/kubernetes/pull/74293
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/apps/daemon_set.go#L383

the introduction of ``framework.TestContext.CloudConfig.NumNodes`` in this test broke not only the kubeadm tests but also the conformance image and sonobuoy.

previously they did not require `--num-nodes` and we are now forced to det

[2019-03-03 21:44] #68477 closed

[2019-03-03 21:45] gnufied opened #74864 "Add e2e for resizing of flexvolumes that don't implement attach/detach"
We do not seem to have any e2e for resizing flexvolumes that don't support attach/detach.

https://github.com/kubernetes/kubernetes/pull/74863 PR fixes https://github.com/kubernetes/kubernetes/issues/72131 but we need e2e for flexvolumes that don't implement attach/detach.

cc @aniket-s-kulkarni

[2019-03-03 21:45] gnufied commented on #74864
/assign @aniket-s-kulkarni

/sig storage

[2019-03-03 21:46] gnufied commented on #72131
Opened https://github.com/kubernetes/kubernetes/pull/74863 which fixes this. If deviceMountPath is not available the resizing will fall back to `volumeMounter.GetPath()` which should be implemented by all plugins.

[2019-03-03 22:16] ddebroy commented on #64635
tracked through https://github.com/kubernetes/enhancements/issues/625

[2019-03-04 00:30] ixdy commented on #70249
/reopen

[2019-03-04 00:42] tanshanshan commented on #74850
execute the below commands to get more info
[code]

[2019-03-04 01:25] daixiang0 commented on #66421
@warmchang the node of status is Ready, also all pod.

[2019-03-04 01:45] dims commented on #74853
/area conformance
/milestone v1.14

[2019-03-04 01:46] dims commented on #74853
Line https://github.com/kubernetes/kubernetes/blob/master/test/e2e/apps/daemon_set.go#L385 should be a explicit failure, not a `framework.Logf`

[2019-03-04 01:47] dims commented on #74853
@neolit123 i like option B!

[2019-03-04 01:48] dims commented on #74853
related to https://github.com/heptio/kube-conformance/pull/33

[2019-03-04 02:03] taegyunum commented on #71908
@tommyreilly

Referring to #73170 from @pires solved my issue.

I faced same issue on Mac OS.

It was due to `dd` command on Mac OS as 'pires' mentioned.

pires solution worked my case.

1. install coreutils with brew

`brew install coreutils`

2. edit script

cluster/gce/config-default.sh

change line 224

`secret: $(dd if=/dev/urandom iflag=fullblock bs=32 count=1 2>/dev/null | base64 | tr -d '\

[2019-03-04 02:34] BenTheElder commented on #74853
Note that this test was NOT new, the other bug is ignoring skipped conformance tests. Ideally that shouldn't be possible.

[2019-03-04 02:48] smileusd opened #74871 "IsLikelyNotMountPoint return false if filepath is symbolic link"
**What happened**:
I realized csi local driver with the function of IsLikelyNotMountPoint in kubernetes pkg/util/mount library. The function as follows:
[code]
We notice that If i use the symbolic link filepath, it will return false which cause the error to umount after this function.

**What you expected to happen**:
return true

**How to reproduce it (as minimally and precisely as possible)**:
1

[2019-03-04 04:51] #69161 closed

[2019-03-04 05:22] danielqsj commented on #74871
/sig storage

[2019-03-04 05:44] vyvekaggarwal opened #74876 "Unable to do full docker build of K8S on Macos [ Requires 8 GB docker vm memory size]"
**What happened**:

I am unable to do a full docker build of K8s on my macos machine

**What you expected to happen**: It is failing as follows:

No changes in generated bindata file: pkg/kubectl/generated/bindata.go
Go version: go version go1.12 linux/amd64
+++ [0303 21:30:50] Building go targets for linux/amd64:
    cmd/kube-proxy
    cmd/kube-apiserver
    cmd/kube-controller-manager
    cmd/cl

[2019-03-04 05:52] #69400 closed

[2019-03-04 06:00] JishanXing commented on #74718
Same as https://github.com/kubernetes/kubernetes/issues/72102?

[2019-03-04 06:04] vyvekaggarwal commented on #74876
/sig contributor-experience

[2019-03-04 06:10] fraoustin commented on #74850
Hi

this command 'systemctl status kubelet' return
systemctl status kubelet

the command 'journalctl -xeu kubelet' return

Mar 04 06:02:27 pimaster kubelet[5483]: E0304 06:02:27.006423    5483 kubelet_node_status.go:380] Error updating node status, will retry: error getting node "pimaster": Get htt

the main errors are

- Unable to update cni config: No networks found in /etc/cni/net.d
-    error

[2019-03-04 06:11] Nebulazhang opened #74878 ""docker ps" no containers in this node, but "kubectl get po" has running pods"
**What happened**:
`docker ps`  no running pod
`docker ps -a` can find containers have stopped
`kubectl get pod -o wide` can find this node have pods are running
I restart kubelet and the status became ok
I didn't notice any PLEG log in kubelet.log
Maybe I think the kubelet cache is dirty because of some errors
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as

[2019-03-04 06:12] Nebulazhang commented on #74878
/sig node

[2019-03-04 06:22] vyvekaggarwal commented on #74876
Please note this happening even after I increased the RAM memory for docker VM to 4.5 GB

[2019-03-04 06:25] hobbytp commented on #64002
I met the same problem and use the same solution form @emolmar , and the issue gone.  thanks,

[2019-03-04 06:38] BSWANG commented on #66607
/remove-lifecycle stale

[2019-03-04 06:38] vyvekaggarwal commented on #74876
I had to increase the docker VM size to 8GB to get the build passing.

[2019-03-04 06:40] vyvekaggarwal commented on #74876
What is the minimum set of directories recommended to build to get started on contributing?

[2019-03-04 07:19] feiskyer commented on #71994
/milestone v1.14

[2019-03-04 07:19] vllry commented on #74849
/sig network

[2019-03-04 07:26] liucimin commented on #74718
i think the
#72102
is the same problem.
Maybe is the grpc's issue.
Someone is fixing it.

[2019-03-04 07:41] daixiang0 commented on #74801
@WanLinghao is there any doc about `kubelet patch` that describe which changes can be done to specify resource?
After test, now i know `kubelet patch` only can change little to `pod` resource.

[2019-03-04 08:21] desmap commented on #9995
@quinton-hoole, @thockin, @eparis is there an update on this? @Joeasaurus made quite good points. Services need to be able to expose all ports except 22 without any workarounds which don't autoscale.

Since this issue is also quite old, I kindly ask to reopen it and find together a decision for or against opening all ports (except 22). Leaving this on P0/backlog and hence, making no decision is a

[2019-03-04 08:21] WanLinghao commented on #74801
@liggitt  Do you have any idea?

[2019-03-04 08:37] yastij commented on #68827
I agree. This could make it significantly easier for someone having the ability to create a pod to block the whole cluster.

/priority backlog

[2019-03-04 08:41] yastij commented on #60279
cc @dashpole

[2019-03-04 08:42] kevtaylor commented on #64604
/remove-lifecycle stale

[2019-03-04 08:44] tuminoid commented on #74534
Why this issue number isn't mentioned in any of the release notes?

[2019-03-04 08:46] yastij commented on #65392
@shay-berman - we will rely on observing the taint and adding some changes to the kubelet to make it safe to detach volumes from nodes.

[2019-03-04 10:07] yuripastushenko commented on #74507
@yliaog - cant you please comment my case?

[2019-03-04 10:35] timoreimann commented on #74534
@tuminoid I think PR 74000 (which is referencing this issue above) is the fix that is mentioned in the release notes (at least for 1.13.4).

[2019-03-04 11:27] tuminoid commented on #74534
Thanks @timoreimann. #74000 appears in all release notes.

[2019-03-04 12:00] stanislavb commented on #68827
Since we only have trusted clients submitting resources to the cluster, I have not even considered the case of a malicious or misbehaving client. In our case, the workaround has been to set resource requests and limits so big for a pod that it is very likely to claim an entire node. What is the difference practically between that and the affinity solution described in the initial request? In both

[2019-03-04 12:28] ewnavilae opened #74884 "kubectl port-forward not working for websockets connection"
**What happened**:
Can't remote debug NodeJS application running inside pod when using kubectl port-forward.

When starting a container with a nodeJS application and the --inspect=0.0.0.0:9229 flag, after port-forwarding with kubectl, Chrome DevTools acts as if there is no debug endpoint available and telnet acts as though nothing is listening on that port on the pod.

**What you expected to happe

[2019-03-04 12:28] ewnavilae commented on #74884
/sign networking

[2019-03-04 12:28] ewnavilae commented on #74884
/sig networking

[2019-03-04 12:34] ewnavilae commented on #74884
/sig network

[2019-03-04 13:35] shay-berman commented on #65392
Thanks for the update.
So after the fix - does the user will have to do something manually in order to recover the stateful PODs that stuck on the crashed worker node?
or it will be automatic decision by k8s?

[2019-03-04 13:51] ewnavilae commented on #74884
Additionally, I have created a service and an ingress as further attempts to expose the debug feature on port 9229:

`kubectl expose pod node-inspect --port 9229`

Using the .yaml file:

[code]

When accessing the configured URI (node-inspect.app.regra.pt), I am met with the expected error message:

`WebSockets request was expected`

Yet adding the host and port (now 80, because of the ingress) to

[2019-03-04 13:54] mkozjak commented on #69364
Just ran into this one as well, using Tiller. Managed to get tiller working by killing the pod with kubectl.
/remove-lifecycle stale

[2019-03-04 14:05] liukaii opened #74886 "Daemonset fluentd-es-v2.4.0 is not available!"
I put these files in addone
[code]
 when I run "kubectl apply -f addone/",  It seems good.
[code]
But when I want to check if the pods work well,
[code]
the daemonset fluentd-es-v2.4.0 is not available!
[code]

I don't know why

[2019-03-04 14:34] alanbover commented on #70890
@haiyanmeng do you mean reproduce it on 1.13 or on last master build? If you let me know the version exactly I think I should be able to test it myself :)

[2019-03-04 14:42] omidraha commented on #56795
Do you have some useful links about this part?
Thanks.

[2019-03-04 15:02] timothysc commented on #74853
/assign @johnSchnake @stevesloka

[2019-03-04 15:07] yastij commented on #65392
in cloudprovider mode, there will be no need for user to operate manually. For on-premise setups users will need to either:

- provide an external component that does this logic.
- operate manually the tainting/un-taint operation

[2019-03-04 15:29] jcperezamin commented on #56903
After testing most of the recommended workaround about this issue:

- Weave-tc (Does not work)

Solution Overview
Runs dnsmasq on each node and using this fix alpine image:
https://github.com/kubernetes/kubernetes/issues/56903#issuecomment-409603030

How the solution performs

Test Cluster details:

kubernetes 1.13.3
built by kubespray on Hyper-V
Nodes are Ubuntu 18.04
Coredns, 2 pods

I can confi

[2019-03-04 15:53] szuecs commented on #56903
@jcperezamin for the awareness https://github.com/zalando-incubator/kubernetes-on-aws/blob/dev/docs/postmortems/jan-2019-dns-outage.md and we do now daemonset to run a 2 container pod with dnsmasq+coredns and add a separate FW rule to bypass conntrack.
This works without building a new base image and rebuild all your containers.

[2019-03-04 15:56] mariantalla opened #74887 "[Failing test] [sig-network] Firewall rule [Slow] [Serial] should create valid firewall rules for LoadBalancer type service"
**Which jobs are failing**:
`ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new` in
* [sig-release-master-upgrade#gce-new-master-upgrade-cluster-new](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new) ([build 2821](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster/2821))
* [sig-release-master-upgrade#gce-new-

[2019-03-04 16:12] rhockenbury opened #74888 "vSphere cloud provider on windows and vm uuid lookup"
**What happened**:
Running the vSphere cloud provider on a windows node throws the following error:
[code]

This is because the vm identifier is retrieved with the command `wmic csproduct get uuid` - https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/vsphere/vsphere_util_windows.go#L28, which assumes that the uuid and serial are the same.  On some vmware vm versions,

[2019-03-04 16:13] rhockenbury commented on #74888
/sig windows
/sig vmware

[2019-03-04 16:13] jcperezamin commented on #56903
@szuecs Nice explanation and totally customize solutions for zalando on AWS and using flannel. Our plataform is onpremise and using weave. Where I can find the zalando daemonset yaml files ?

[2019-03-04 16:21] mikkeloscar commented on #56903
@jcperezamin here: https://github.com/zalando-incubator/kubernetes-on-aws/blob/dev/cluster/manifests/coredns-local/daemonset-coredns.yaml

And the iptable rules to bypass conntrack: https://github.com/zalando-incubator/kubernetes-on-aws/blob/033a9ad5e78ff16b4ccba879267908d15d7c19e4/cluster/node-pools/master-default/userdata.clc.yaml#L1003-L1019 (whether this is relevant for you depend on your over

[2019-03-04 16:31] mariantalla opened #74890 "[Failing test] diffResources in master-upgrade"
**Which jobs are failing**:
* `ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new`
* `ci-kubernetes-e2e-gce-new-master-upgrade-cluster`

**Which test(s) are failing**:
`diffResources`

**Since when has it been failing**:
2019-03-01

**Testgrid link**:
* https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster
* https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-m

[2019-03-04 17:11] mariantalla opened #74893 "[Failing test] Upgrade [Feature:Upgrade] cluster upgrade should maintain a functioning cluster [Feature:ClusterUpgrade]"
**Which jobs are failing**:

| Job | Testgrid Link | First failed build |
---|---|---|
| `ci-kubernetes-e2e-gce-stable1-beta-upgrade-cluster`| https://testgrid.k8s.io/sig-release-1.14-all#gce-1.13-1.14-upgrade-cluster | [1182](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-stable1-beta-upgrade-cluster/1182) | Feb 19 | test infra 93b67c55b|
|`ci-kubernetes-e2e-gce-stable

[2019-03-04 17:20] naemono commented on #73960
This issue is just killing us.  When this occurs, everything within our clusters just begins mass failing...

[code]
[code]

[2019-03-04 17:23] ktmq commented on #42164
we are experiencing this issue very frequently with no way to prevent it. we have tried setting resource limits on all of our pods but it still happens, and doesn't seem to correlate with any unusual activity prior to the node going into `NotReady` status. :frowning_face: :frowning_face: :frowning_face:

[2019-03-04 17:57] andrewsykim opened #74894 "More Unit Tests for OpenStack Provider"
**What would you like to be added**:
As per @GeetikaBatra comment here https://github.com/kubernetes/community/issues/2770#issuecomment-468992056, can we benefit from more unit tests on the OpenStack provider? If yes, @dims can you provide some guidance on what areas of the provider can benefit the most from this?

Thanks @GeetikaBatra for offering to help!

[2019-03-04 17:58] andrewsykim commented on #74894
/sig openstack
/sig cloudprovider

[2019-03-04 18:04] #69417 closed

[2019-03-04 18:04] #69422 closed

[2019-03-04 18:04] daschott commented on #74759
Thanks @pjh. We are aligned with you on these goals. But there are a few bumps along the way. Let me try to explain the dilemma here and what we can do now to improve it.

Essentially, the source of the problem arises due to differences in the Windows/Linux networking stack leading to CNI plugin implementation differences. While CNI is super extensible, there is still some open room for discussion

[2019-03-04 18:15] dashpole commented on #60279
/remove-lifecycle rotten

[2019-03-04 18:20] jaybatra26 commented on #74894
Thanks @andrewsykim for pointing me out in the right direction.
@dims I would sincerely appreciate if you can help me kickstart it. Would [this](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack) be deprecated in future?

[2019-03-04 18:22] jcperezamin commented on #56903
@szuecs Thank for your information and I will install a new on-premise cluster this week with VMware and I will install this addon https://github.com/kubernetes-sigs/kubespray/blob/master/roles/kubernetes-apps/ansible/tasks/nodelocaldns.yml it seems pretty similar to zalando daemonset-coredns.

[2019-03-04 18:24] dashpole commented on #60279
The original bug was fixed in k8s version 1.12, as mentioned above.  If you need tcp-specific metrics, you can [run a daemonset](https://github.com/google/cadvisor/tree/master/deploy/kubernetes) with [tcp metrics enabled](https://github.com/google/cadvisor/blob/master/docs/runtime_options.md#metrics).

[2019-03-04 18:24] dashpole commented on #60279
/close

[2019-03-04 18:24] #60279 closed

[2019-03-04 18:26] GeetikaBatra commented on #74894
Thanks @andrewsykim for pointing me in the right direction.

@dims would [this](https://github.com/kubernetes/kubernetes/tree/master/pkg/cloudprovider/providers/openstack) be deprecated in long run? I would sincerely appreciate if you can help me kickstart this.

[2019-03-04 18:33] cmluciano commented on #74383
/milestone clear

[2019-03-04 18:36] roycaihw commented on #71508
/assign

[2019-03-04 18:40] dims commented on #74894
@GeetikaBatra yes, please add more tests in the kubernetes/cloud-provider-openstack repository. We need stop making any changes in the kubernetes/kubernetes repository as it will be dropped soon. yes it was already deprecated.

We could add more unit tests as well as more functional (and eventually e2e tests) in the kubernetes/cloud-provider-openstack repository. ( cc @adisky @hogepodge @mrhillsma

[2019-03-04 18:45] timothysc commented on #74853
@dims I'm reluctant to make a sweeping change for 1.14 other then a band aide inside of test-infra.

Ideally I'd like to assign this issue to the test-commons group to solve in 1.15.
Thoughts?

[2019-03-04 18:49] johnSchnake commented on #74853
Agree that (A) (passing num-nodes explicitly) isnt a good option since it breaks other users who dont know about it in the first place and that this is well within the capabilities of the framework.

So for option (B) during startup of the framework we need to grab the nodes and count the number that are schedulable and not tainted as master nodes, correct? Save that into a TestContext variable an

[2019-03-04 18:56] rhockenbury commented on #74888
/milestone v1.14

[2019-03-04 19:03] timothysc commented on #74853
From slack:  If num-nodes is not specified query on startup and over-ride the test context variable.

@johnSchnake @stevesloka

[2019-03-04 19:22] smourapina opened #74897 "[Failing test] [k8s.io] [sig-node] Kubelet regular resource usage tracking and clear up pods on node kubelet tests failing"
**Which jobs are failing**:

Job	| Testgrid Link	| First failed build
--- | --- | ---
gke-cos-1.14-default | https://testgrid.k8s.io/sig-release-1.14-all#gke-cos-1.14-default | 9334
gke-cos-1.14-default | https://testgrid.k8s.io/sig-release-1.14-all#gke-cos-1.14-default | 9334
soak-gci-gce-1.14 | https://testgrid.k8s.io/sig-release-1.14-all#soak-gci-gce-1.14 | 641

**Which test(s) are failing**:
-

[2019-03-04 19:24] oomichi commented on #74894
/cc @oomichi

[2019-03-04 19:26] JaveriaK commented on #56903
I've been looking at the zalando implementation @mikkeloscar and I'd be very interested in the writeup  when you have it ready. As far as I understand, this by itself won't eliminate the conntrack dns issue since it still uses a service IP for pod --> local-dns.
I'm not keen on adding iptables rules to a running production cluster, but I may try this implementation on a new one.

I've tried the up

[2019-03-04 19:40] bsalamat commented on #68827
@stanislavb Inter-pod affinity takes a topology key which can cover many nodes. For example, it can be "zone" or "region". These cover a large part or even the whole cluster. So, a single pod scheduled with such broad anti-affinity rules could block the whole cluster and cause a major DoS.
In the case of requesting a lot of resources, Kubernetes has "ResourceQuota" that can be configured to preven

[2019-03-04 19:50] deathrizzo commented on #71869
same issue here. I extended the ebs volumes thinking that would fix it.
using
ami k8s-1.10-debian-jessie-amd64-hvm-ebs-2018-08-17 (ami-009b9699070ffc46f)

[2019-03-04 19:53] neolit123 commented on #74853
@johnSchnake

a control plane node can be tainted as "master", but still allow workloads.
search for `effect:NoSchedulable` on all nodes, and exclude those that have it from the count.

this is fed the `--num-nodes` flag, which is -1 by default.
if the user didn't add a value my suggestion is to just update `framework.TestContext.CloudConfig.NumNodes` with the detected count. also possibly add not

[2019-03-04 19:57] adkerr opened #74900 ""kubectl logs --selector" ignores "--tail=-1""
**What happened**:

When attempting to get all log lines using `kubectl logs -l app=my.app --tail=-1` only 10 lines of logs are returned

**What you expected to happen**:

All log lines should be returned

**How to reproduce it (as minimally and precisely as possible)**:

`kubectl logs -l app=my.app --tail=-1`

**Anything else we need to know?**:

This was introduced in ea7065d47187356f442ed2722c5

[2019-03-04 20:00] adkerr commented on #74900
/sig cli

[2019-03-04 20:12] MrHohn commented on #65114
/remove-lifecycle stale

[2019-03-04 20:15] mapdegree opened #74901 "hostAliases do not work on deployments"
@kubernetes/sig-feature-requests
/sig feature-requests

We need to set the hostAliases on the deployment and deamonset in the latest version of Kubernetes.

Current documentarion support only pod manifest amendments and would appreciate extending this functionality to other deployment types.

https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/

C

[2019-03-04 20:16] PatrickLang commented on #74541
/milestone v1.14

[2019-03-04 20:18] liggitt opened #74903 "hack/verify-generated-protobuf.sh does not catch stale proto files"
**What happened**:
https://github.com/kubernetes/kubernetes/pull/74804 added a new API field, and verify scripts passed on the PR, even though proto definitions were outdated (running `hack/update-generated-protobuf.sh` on master left changes)

**How to reproduce it (as minimally and precisely as possible)**:
Check out d0c3b708026f681f7467d36dcf9696f89ccfcfab, which passed CI checks.

Run `hack/ve

[2019-03-04 20:19] liggitt commented on #74903
/sig api-machinery testing

[2019-03-04 20:27] PatrickLang commented on #74674
@jingxu97 @pjh can you clarify what you mean by "After native support of using Get-Disk is available, we should replace it." ? Is there specific SCSI Inquiry page 83 data that's missing?

[2019-03-04 20:27] mapdegree commented on #74901
@kubernetes/sig-feature-requests

[2019-03-04 20:38] diadara commented on #71154
Can confirm that specifying the second part of the registry in the regestry credentials solves this issue for 1.12  as @bsakweson suggests.

[2019-03-04 20:43] mapdegree commented on #74901
/sig feature-requests

[2019-03-04 20:48] yujuhong commented on #74674
@PatrickLang this is not meant for 1.14, and does not require an OS change. This issue is tracking a GCE bug.

Right now, if you attach multiple disks to a node, the output of `Get-Disk` does not have any information that could let user identify which disk corresponds to which PD. We are waiting for the GCE to fix this properly so that we don't have to jump through hoops to identify the disks.

[2019-03-04 21:09] bowei commented on #56903
cc: @prameshj

[2019-03-04 21:18] mikkeloscar commented on #56903
@JaveriaK

We don't use the service IP, we use the local node ip as nameserver. Configured on kubelet: https://github.com/zalando-incubator/kubernetes-on-aws/blob/033a9ad5e78ff16b4ccba879267908d15d7c19e4/cluster/node-pools/worker-default/userdata.clc.yaml#L201

The reason we went with dnsmasq in-front is that it completely outperforms CoreDNS in terms of caching. Much more efficient in terms of re

[2019-03-04 21:20] liggitt commented on #65114
https://github.com/kubernetes/kubernetes/pull/74424 is relevant

[2019-03-04 21:28] prameshj commented on #56903
Thanks for trying the nodelocal dnscache addon. You can run dnsmasq instead of coredns by changing the image for the node-cache container in the yaml - https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/nodelocaldns/nodelocaldns.yaml

I am curious to see dnsmasq over coreDNS? Is it for performance? Few reasons why CoreDNS was selected as the node-cache are : it is easier to ex

[2019-03-04 21:36] roycaihw commented on #64010
/reopen
/remove-lifecycle rotten

[2019-03-04 21:36] jpbetz commented on #74745
@liggitt @pbarker The intent of the change was to check if log rotation was needed more often but still keep the rotation policy the same (new day starts, log file size > 100MB). I'm certainly okay with reverting the change to see if it fixes the bug, but if it does, I'm concerned that it still might flake if the test run crosses hour boundries.

[2019-03-04 21:36] roycaihw commented on #64536
/remove-lifecycle stale

[2019-03-04 21:45] jpbetz commented on #74745
Created https://github.com/kubernetes/kubernetes/pull/74911 to revert then log rotation change.

[2019-03-04 21:50] michmike commented on #74888
/assign @benmoss

[2019-03-04 22:08] stanislavb commented on #68827
Thank you very much for explaining the reasoning. I learned more about the capabilities of inter-pod affinity.

[2019-03-04 22:09] msau42 opened #74914 "Investigate CheckVolumeExistence corner cases"
**What happened**:
Followup from https://github.com/kubernetes/kubernetes/pull/74653, a number of corner cases were identified as possibility being problematic:

* Reconstruction of attachable plugins when mount point is corrupted/stale
* Reconstruction of attachable plugins when mount point only partially cleaned up (mount is deleted but the directory still exists), or attachable plugin doesn't u

[2019-03-04 22:09] msau42 commented on #74914
@kubernetes/sig-storage-bugs

[2019-03-04 22:20] michmike commented on #74134
@bclau  can you please close this issue if we are done?

[2019-03-04 22:24] pbarker commented on #74745
thank you @jpbetz, we'll see if that fixes it, if so we brainstorm on how to fix it more permanently

[2019-03-04 22:27] tommyreilly commented on #71908
Thank you @taegyunum and @pires - worked a treat!

[2019-03-04 22:32] spiffxp commented on #74261
/reopen
We're running into this again, slightly different error message

[2019-03-04 22:34] llamasoft opened #74916 "StatefulSet's PersistentVolumeClaims have incorrect labels"
**What happened**:
When creating a StatefulSet that uses volumeClaimTemplates, the resulting PersistentVolumeClaims have incorrect labels.  Instead of using the labels defined in their metadata, they use the labels from the StatefulSet's selector.

**What you expected to happen**:
I expect the created PersistentVolumeClaims to have the labels defined in their metadata.

**How to reproduce it (as m

[2019-03-04 22:40] spiffxp commented on #74261
Last good: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-verify-master/27209
First failure: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-verify-master/27210

Leads me to https://github.com/kubernetes/kubernetes/compare/b1d4d4067...8770e0cd3

[2019-03-04 22:41] spiffxp commented on #74261
Paging @dims @nikhita @scottrigby any idea how this could be related to https://github.com/kubernetes/kubernetes/pull/74664 ? That's the only PR showing up in that commit range

[2019-03-04 22:42] spiffxp commented on #74261
/assign @dims

[2019-03-04 22:46] Random-Liu opened #74917 "[test failed] "regular resource usage tracking resource tracking for 100 pods per node" for containerd"
**Which jobs are failing**: sig-node-containerd/e2e-gci-serial

**Which test(s) are failing**: regular resource usage tracking resource tracking for 100 pods per node

**Since when has it been failing**: 2/28/2019

**Testgrid link**: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-cri-containerd-e2e-gci-gce-serial/1884

**Reason for failure**: I think this is related to golang update to 1.

[2019-03-04 22:47] llamasoft commented on #74916
@kubernetes/sig-contributor-experience-apps

[2019-03-04 22:50] johngood01 opened #74918 "Kubernetes equivalent to docker --security-opt "credentialspec=...""

[2019-03-04 22:51] Random-Liu commented on #74917
It's a known issue that containerd has a per-container containerd-shim process. For each containerd-shim process, we need to pay for the go runtime memory overhead.

We updated to golang 1.12 in https://github.com/kubernetes/test-infra/commit/20b1c5787afa443300611ff63c65fcf79d874a31 and https://github.com/kubernetes/kubernetes/commit/f1d2fee2596bad3f50fbcf6ebf7cff295142699a.

And it seems that gol

[2019-03-04 22:53] spiffxp commented on #74261
This looks like another occurrence of the same failure, and is making me question whether we're actually kicking a can down the road vs. fixing whatever is causing these to happen
[code]

[2019-03-04 22:56] Random-Liu commented on #74917
/cc @cblecker just FYI, no action required. This is a minor memory regression in golang 1.12, but it shouldn't be a problem for most use cases.

[2019-03-04 22:58] spiffxp commented on #74261
/remove-priority important-soon
/priority critical-urgent
this is on release-blocking

[2019-03-04 23:02] spiffxp commented on #74701
/remove-priority critical-urgent
/priority important-soon
release-all jobs aren't release-blocking, I would prefer we save the red priority for those

[2019-03-04 23:05] spiffxp commented on #74893
/remove-priority critical-urgent
/priority important-soon
release-all jobs aren't release-blocking, I would prefer we save the red priority for those

[2019-03-04 23:16] listx commented on #73507
Sorry about the long silence; I'll get on this later today.

[2019-03-04 23:19] mcrute commented on #45173
There's still a PR pending for this ...

/reopen
/remove-lifecycle rotten

[2019-03-04 23:22] spiffxp opened #74921 "release-master-blocking/verify-master is failing"
**Which jobs are failing**:
* [master-blocking/verify-master](https://testgrid.k8s.io/sig-release-master-blocking#verify-master)

**Which test(s) are failing**:
verify.godeps
[code]
verify.staging-godeps
[code]

**Since when has it been failing**:
Last good: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-verify-master/27209
First bad: https://prow.k8s.io/view/gcs/kubernetes-jen

[2019-03-04 23:24] spiffxp commented on #74261
/close
OK, it was poor form for me to re-open and re-purpose this issue, I opened ok I opened https://github.com/kubernetes/kubernetes/issues/74921 instead

[2019-03-04 23:24] #74261 closed

[2019-03-04 23:25] spiffxp commented on #74921
Hoping https://github.com/kubernetes/kubernetes/pull/74902 fixes this

[2019-03-04 23:30] dragonknight88 commented on #65937
Following up on @tonybranfort suggestion. It worked for me.

You need to configure ServiceAccount and ClusterRole. @tonybranfort  provided all the links as well.

[2019-03-04 23:33] msau42 opened #74923 "Add e2e test to check for volume device mount cleanup"
**What happened**:
Currently the reconstruction tests only check that the pod volume mount is cleaned up. This misses issues if the plugin incorrectly implements reconstruction that cause only UnmountVolume to be called.

ref: https://github.com/kubernetes/kubernetes/issues/74552

cc @cofyc

[2019-03-04 23:33] msau42 commented on #74923
@kubernetes/sig-storage-bugs

[2019-03-04 23:38] spiffxp commented on #74308
#74538 landed 4 days ago, but at the moment it's not really obvious at a glance whether that made a difference:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=Service%20endpoints%20latency%20should%20not%20be%20very%20high

[2019-03-04 23:39] spiffxp commented on #74308
/priority important-longterm
I'm bumping belong important-soon this down because it doesn't appear to be meaningfully impacting our ability to release

[2019-03-04 23:39] nikopen commented on #51540
moving this as it's in the Backlog of the kanban board, feel free to move it back if needed

/milestone v1.15

[2019-03-04 23:41] michmike commented on #74541
cc: @daschott

[2019-03-04 23:48] nagiesek commented on #74541
There is an open pull request into the containernetworking/plugins repo that adds the runtime dns option, but we have yet to recieve feedback from the maintainers.

[2019-03-04 23:52] yliaog commented on #74507
do you have to specify limits for container (in addition to pod)? If you just need to specify limits for pod, i think no default will be set automatically.

For example:
====================
apiVersion: "v1"
kind: "LimitRange"
metadata:
  name: "resource-limits"
spec:
  limits:
    -
      type: "Pod"
      max:
        cpu: "2"
        memory: "1Gi"
      min:
        cpu: "200m"
        memory:

[2019-03-05 00:31] spiffxp commented on #73884
This is still happening, it's just not clear to me if there is a consistent cause: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pull-kubernetes-e2e-gce-100-performance&test=Up

/priority important-soon
this isn't on the release-blocking dashboards, but it does impact our merge velocity

[2019-03-05 00:33] spiffxp commented on #73461
/milestone clear
(just now noticing the bot didn't listen to the clear command, you're probably not in the `@kubernetes-milestone-maintainers` team)

[2019-03-05 00:35] spiffxp commented on #73105
This is still flaking https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pull-kubernetes-kubemark-e2e-gce-big

/priority important-soon
this isn't on the release-blocking dashboards, but it does impact our merge velocity

[2019-03-05 00:41] spiffxp commented on #72661
This specific test case is still flaking: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=%5C%5BDriver%3A%20nfs%5C%5D.*subPath%20should%20support%20non-existent%20path

Given the lack of progress on https://github.com/kubernetes/kubernetes/issues/73535 is there anything else being done to address this?

[2019-03-05 00:43] spiffxp commented on #72661
Pretty much anything related to subPath is flaking (or otherwise failing): https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=subPath

I suspect there need to be other issues opened for this, still triaging.

/priority important-soon
I will be escalating to priority/critical-urgent if this is related to the flakes that are causing [release-master-blocking/gce-cos-master-defa

[2019-03-05 00:44] jmhodges commented on #31792
This still seems relevant. I've updated some of the links as they broke in the meantime

[2019-03-05 00:47] shigy123456 opened #74929 "the pvc can not be created"
/kind bug

/sig storage
@Saad Ali

**What happened**:
My kubernetes cluster has a default storageclass, and when I use pvc to select an existing pv, this pvc will use the default storageclass to create the pv, instead of using the pv, I specified, which is a bug.

**What you expected to happen**:
You should use an existing pv to create a pvc, instead of using storageclass

**How to reproduce it (a

[2019-03-05 00:51] jmhodges commented on #31792
(I'm not able to adjust the lifecycle tags, though)

[2019-03-05 00:53] spiffxp commented on #74437
/priority important-longterm
given that this doesn't run against every PR, in the context of v1.14 burndown this seems less important than flakes that impact jobs that run against every PR

[2019-03-05 00:56] msau42 commented on #72661
This issue is specific tracking failures to nfs plugin.

I would open different issues if the plugin is different.

[2019-03-05 01:03] msau42 opened #74930 "Refactor nodeinfomanager tests"
**What happened**:
It's difficult to read because the validation is checking every field individually.  It would be simpler if we just passed in an expected CSINode object and compared it to what we get.

Also as a consequence, it's not able to test that we didn't modify existing/unrelated drivers.

@kubernetes/sig-storage-misc
/kind cleanup

[2019-03-05 01:12] #67310 closed

[2019-03-05 01:23] bsalamat opened #74931 "Scheduler TestPreemptionRaces is flaky"
**Which jobs are failing**:
[Presubmit tests](https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration)

**Which test(s) are failing**:
kubernetes/test/integration/scheduler.TestPreemptionRaces

**Since when has it been failing**:
Not exactly known. The flake rate is not high. That's probably why it has not received attention.

**Testgrid link**:
https://testgrid.k8s.io/p

[2019-03-05 01:30] logicalhan commented on #67777
/remove-lifecycle rotten

[2019-03-05 01:31] logicalhan commented on #67777
/reopen

[2019-03-05 02:03] Erically commented on #60987
same as above
Kubernetes v1.13.3
Docker 18.06.1-ce
CentOS Linux 7 (Core)

[2019-03-05 02:08] WanLinghao commented on #74862
I think we need this for each components(kube-master, kubelet, scheduler..)

[2019-03-05 02:15] BenTheElder commented on #74308
@spiffxp those failures look to be from older releases with like 1 failed trial which shouldn't happen with the current change.

[2019-03-05 02:33] liggitt commented on #72115
/close

fixed by https://github.com/kubernetes/kubernetes/pull/73807

[2019-03-05 02:33] #72115 closed

[2019-03-05 02:40] rjaini commented on #74785
[kubelet.log](https://github.com/kubernetes/kubernetes/files/2929054/kubelet.log)

[2019-03-05 02:53] huisebug opened #74935 "How to define metrics. type as Object in autoscaling / V2 and how to define port of service?"
My service_port can't all be 80 ports. How do I define it under type: Object?

[2019-03-05 02:55] denkensk commented on #74931
@bsalamat  Let me try to fix it.
/assign @denkensk
/remove-help

[2019-03-05 03:09] liggitt commented on #74921
job is green again

/close

[2019-03-05 03:09] #74921 closed

[2019-03-05 03:11] mritunjaykumar commented on #68861
This link was very helpful! Though it gave me hint, it took me some time to get this overall thing working. So, I would like to add some example on how I used it, so that, it _may_ make others lives easier.
Problem: I want to scale statefulset. (scale-up or scale-down)
I am using k8s Java client to do this. I used [this API](https://github.com/kubernetes-client/java/blob/master/kubernetes/docs/App

[2019-03-05 03:27] #71237 closed

[2019-03-05 03:30] inter169 commented on #56903
Hi @jcperezamin
For some clarification, the problem I encountered was the slow dns issue with my node js application (on docker/k8s), so I did the quick hot fix to be the base docker image of my node js app, and it did work for me.

such posts mentioned here described a few solutions (or workarounds), please consider it for your requirements.

thanks a lot for the tests,
harper

[2019-03-05 03:49] cofyc commented on #74923
/assign

[2019-03-05 04:07] soggiest commented on #71143
Hello!
mountain_snow code freeze mountain_snow is coming in 3 days. Will this be implemented in the next few days?

[2019-03-05 04:08] soggiest commented on #70505
Greetings!
mountain_snow code freeze mountain_snow is coming in about 3 days, is this intented to be implemented in the next few days?

[2019-03-05 04:11] soggiest commented on #70189
Hello!
1.14 code freeze is coming in about 3 days, is this intended to be implemented in the following week?

[2019-03-05 04:14] soggiest commented on #68244
Hello!
1.14 code freeze is coming in about 3 days, will this be implemented in the following week??

[2019-03-05 04:14] shettyh commented on #23864
+1

Needed to run the RTP Endpoint services in kubernetes. Currently running with host networking

[2019-03-05 04:15] msau42 commented on #70505
nope, we will consider fixing this in 1.15

[2019-03-05 04:16] soggiest commented on #71579
Hello!
1.14 code freeze is coming in about 3 days, will this be implemented in the following week?

[2019-03-05 04:18] soggiest commented on #50752
Hello!
1.14 code freeze is coming in about 3 days, will this reach beta in the next week?

[2019-03-05 04:19] soggiest commented on #70505
/milestone v1.15

[2019-03-05 04:29] soggiest commented on #70604
Hello!
1.14 code freeze is coming in about 3 days, will this be implemented in the following week?

[2019-03-05 04:33] soggiest commented on #69892
Hello!
1.14 code freeze is coming in about 3 days, will this be implemented in the following week?

[2019-03-05 04:34] soggiest commented on #71142
Hello!
1.14 code freeze is coming in about 3 days, will #71192 be merged in the next week?

[2019-03-05 04:36] soggiest commented on #71159
Hello!
1.14 code freeze is coming in about 3 days, will #71192 be merged in the next week?

[2019-03-05 04:38] nikhita commented on #31792
/remove-lifecycle stale

[2019-03-05 04:38] ephur commented on #73960
This issue is related to the graceful termination handling. I'm not able to determine why, but when the remote instance is terminated (say `  -> 10.0.169.214:6443            Masq    0      0          462`) the connections are never being disconnected. This is causing the graceful termination to never remove the real server. Since the real server is not removed, the connections remain. In this inst

[2019-03-05 04:41] neolit123 commented on #69892
hm, feature freeze is in 3 days, while if we consider the situation a bug \*cough\* (well it is to a certain extend) we can extend past feature freeze.

[2019-03-05 04:54] yuripastushenko commented on #74507
Wow great!
Thank you a lot!
It is interesting that I didn't find anything about this ability (specifying LimitRange for pod) in documentation.
In documentation is described only case with LimitRanges on container.
But today i found an issue opened on k8s documentation that was stalled.
https://github.com/kubernetes/website/issues/9585

[2019-03-05 04:59] feiskyer commented on #50752
@soggiest Yep, we are working it, but probably not release next week. I'm planning the release together with v1.14.0.

[2019-03-05 05:07] soggiest commented on #69892
I'll leave that up to @nikopen and @spiffxp to decide. In the mean time @PatrickLang are there any updates?

[2019-03-05 05:12] liggitt commented on #74801
https://kubernetes.io/docs/tasks/run-application/update-api-object-kubectl-patch/ ?

[2019-03-05 05:20] listx commented on #73507
@ixdy I don't have access to push to gcr.io/kubernetes-e2e-test-images. Can you or someone give me access?

[2019-03-05 05:26] jmhodges commented on #31792
Thank you!

[2019-03-05 05:27] yuripastushenko commented on #74507
@yliaog I appreciate your help with this issue.
And if we already started this discussion, just to be clear, we have the behaviour:
[code]

I want to understand, what is the reason of setting default requests and limits in containers when specified max section in LimitRange on containers?

It seems that LimitRanges on Pods have different behaviour compared to LimitRanges on Containers.

What probl

[2019-03-05 05:38] daixiang0 commented on #74801
@liggitt thanks, but i want to know the limit about `kubectl patch`, now only i can do is test then i can get that.

[2019-03-05 05:40] liggitt commented on #74801
`kubectl explain <type>[.path.to.field]` can display schema info about particular resources or fields

[2019-03-05 05:40] liggitt commented on #74801
for example, `kubectl explain pod.spec`

[2019-03-05 05:43] daixiang0 commented on #74801
I can see some detail, while still can not find the limit about `kubectl patch` to particular resources or fields.

[2019-03-05 06:35] liuhuiping2013 commented on #68447
same as me

[2019-03-05 06:48] shigy123456 opened #74940 "pod can't access the external network"
/kind bug

/sig network

**What happened**:
Kube-dns is configured with 114.114.114.114 for resolving external network domain names, such as www.baidu.com,kube-dns exposing services through port 53, but no other pod can access www.baidu.com, what is the reason?

**What you expected to happen**:
Pod has access to www.baidu.com

**How to reproduce it (as minimally and precisely as possible)**:
Confi

[2019-03-05 07:12] fenixshadow2005 commented on #61937
May I ask if it's fixed or not in k8s 1.13?
How can I prevent this issue in my CentOS 7.5 with 3.10 kernel?

Thanks!

[2019-03-05 07:20] mitpwd commented on #74901
/sig apps

[2019-03-05 07:40] liucimin commented on #74900
Maybe is not a bug.
See the kubectl help.

 --tail=-1: Lines of recent log file to display. Defaults to -1 with no selector, showing all log lines otherwise
10, if a selector is provided.

I think i mean  a selector is provided the --tail should not use -1 ?

[2019-03-05 07:47] jcperezamin commented on #56903
If there is enough evidence alpine musl implementation is causing dns slowness, is alpine community aware about the fix? @inter169

[2019-03-05 08:02] denkensk commented on #74931
Logs in 47435.
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-integration/47435

[2019-03-05 08:09] gyliu513 opened #74947 "Statefulset should be able to evicted if the worker node goes down"
**What would you like to be added**:
If the worker nodes goes down for a while after a specified timeout window or a specified retry number, all of the pods on this node should be evicted including statefulset pods so that pods for statefulset can be rescheduled.

**Why is this needed**:
This issue has been raised many times in community like https://github.com/kubernetes/kubernetes/issues/55934 a

[2019-03-05 08:09] ervinb commented on #56996
Funnily enough, this exact error message is shown when you set `containers.resources.{requests,limits}.memory` to `Xm` instead of `XM`, where `X` is an integer.

[2019-03-05 08:15] rajivreddy opened #74948 "Health Checks failed outside of ingress controller AWS NLB"
### We are using kubernte ingress as ingress controller

We installed as per documentation
https://kubernetes.github.io/ingress-nginx/deploy/#network-load-balancer-nlb

**What happened**:

On NLB side, health checks are failing.
We tried to do simple curl with in node where the pod is created and we are getting 503 error message.

[code]
Same request is working with in the pod

[code]

**What you

[2019-03-05 08:31] inter169 commented on #56903
I did some quick debugging with tcpdump (and strace) tools on my application (nodejs) docker, it was due to the timed out for additional AAAA query along with A query by default.

I didn't contact to alpine community, basically this DNS behavior (concurrent A and AAAA queries sent through one socket) was implemented to adapt to the IPv4/v6, and the libc (e.g. glibc on debian/centos,...  or musl on

[2019-03-05 08:31] JishanXing commented on #74900
Thanks for you reply.

There are some background in below tickets, --tail=-1 is one of the option. Please check.

https://github.com/kubernetes/kubernetes/issues/51027
https://github.com/kubernetes/kubernetes/issues/35335

[2019-03-05 08:35] venthur commented on #68457
Any updates on this?

[2019-03-05 08:37] jcperezamin commented on #56903
@inter169 Already tested 3.7, 3.8, 3.9 same dns behavior on Kubernetes 13.3, weave 2.5.0 and hyper-v, it means they did not include concurrent A and AAAA queries sent through one socket and everybody is looking to fix whole cluster just for image fix.

[2019-03-05 08:52] pontiyaraja opened #74949 "test case coverage for handling pod admit without sorting the pod"
**What happened**:
from the PR #71786  the sorting is required to avoid failing of pod admit for the test cases of pod port conflict and pod memory exceed.
creating this issue from the comment [discussion_r261439500](https://github.com/kubernetes/kubernetes/pull/71786#discussion_r261439500).

**What you expected to happen**:
Handle the failure cases of pod addition without sorting the pods by crea

[2019-03-05 09:03] pontiyaraja commented on #74949
@kubernetes/sig-api-machinery-misc

[2019-03-05 09:04] pontiyaraja commented on #74949
@kubernetes/sig-node-bugs

[2019-03-05 09:09] dunjut opened #74950 "Pod's dns subdomain cannot be resolved if headless service name not same as StatefulSet name"
**What happened**:

**case A:**
In namespace foo, create a StatefulSet named *database* and a headless service named *database*, I can successfully resolve database-0.database.foo.svc.cluster.local.

**case B:**
In namespace foo, create a StatefulSet named *database* and a headless service named *db-svc*, I failed to resolve database-0.db-svc.foo.svc.cluster.local.

**What you expected to happen**

[2019-03-05 09:13] pontiyaraja commented on #74949
/assign @pontiyaraja

[2019-03-05 09:13] dunjut commented on #74950
/sig network

[2019-03-05 09:32] inter169 commented on #56903
@jcperezamin my fix (https://github.com/kubernetes/kubernetes/issues/56903#issuecomment-409603030 , docker hub: geekidea/alpine) was removing the concurrent AAAA query by default, it maybe  break the modern DNS flavor to be adapt to ipv4/v6, and that's the reason why I didn't contact to alpine community.

[2019-03-05 09:54] lbernail commented on #72270
Yes there is definitely a problem with `v1.13.1`
If the issue persists with `v1.13.2` let us know

[2019-03-05 10:00] dNetGuru commented on #58927
Just a quick observation that in all of the examples pasted here the `product_uuid` and `product_serial` do match in value but simply the endianness of each section is reversed!

[2019-03-05 10:30] josephburnett commented on #69687
FYI: This Knative issues tracks HPA scale-to-zero: https://github.com/knative/serving/issues/3064  There is nothing technical preventing its implementation--just time and energy!

An alternative would be Osiris from Deislabs: https://github.com/deislabs/osiris  This provides general hpa scale-to-zero by injecting a proxy and running an Activator (similar to Knative but without Istio dependency).

[2019-03-05 10:31] josephburnett commented on #69687
@DXist if I understand your proposal correctly, you would buffer incoming requests in the kube-proxy while the first pod is being created.  Is that right?

[2019-03-05 10:47] FeiZhuNiU commented on #52277
/reopen

[2019-03-05 11:08] DXist commented on #69687
@josephburnett , request buffering is out of scope of https://github.com/kubernetes/kubernetes/pull/74526
My project uses Rabbitmq. Queue broker acts as a buffer for worker tasks.

For HTTP requests buffering in kube-proxy might be the way to go. Another approach is to introduce external load balancer with request buffering support in similar way as `https://github.com/gptankit/serviceq` does.

[2019-03-05 11:11] Mnbill opened #74953 "Pulling kubernetes components images from a private container registry"
Hello,

My kubernetes cluster can't reach internet for security reasons, and i am afraid that one of kubernetes components try to pull image from internet.

Is it  possible to push kubernetes components images to a private container registry and after configure kuberntes to pull this images from it ?

If yes what are the advantages and disadvantages of doing this ?

images examples:
kube-apiserver

[2019-03-05 11:27] linux17kartik commented on #44033
It's worked for me as well and really saved time.
Thanks

[2019-03-05 11:34] polarn commented on #68737
@alwinmarkcf You can delete the statefulset without the pods being deleted, by using `kubectl delete sts --cascade=false <statefulset>` - you can then apply a new statefulset and the pods will keep living.

I know this might not be possible for you since you mentioned you have an operator that create the statefulsets, but for example when upgrading a helm chart with a new size for the PV Claim and

[2019-03-05 11:40] alwinmarkcf commented on #68737
@polarn I didn't tried it out, but when the operator will recreate the statefulset, it should be fine right? Also I'm not sure if the operator is listening to the statefulset or if an additional restart needs to be done. When I find the time to try this out I'll document my experiences here.

[2019-03-05 11:55] josephburnett commented on #69687
@DXist thanks for the clarification.

I meant to ask the question to @Rajat-0 regarding the outlined plan: https://github.com/kubernetes/kubernetes/issues/69687#issuecomment-467082733

[2019-03-05 12:08] frankh commented on #65097
@gliush yeah that would be great

[2019-03-05 12:09] nikopen commented on #70505
/milestone v1.15

[2019-03-05 12:11] bhargavtruecom commented on #74249
Getting same error

[2019-03-05 12:13] ijumps commented on #70044
/remove-lifecycle rotten

I noticed this can happen when apiserver is on high load, but should retry and mount volume successful.

In my case, pod stuck terminating because wrong status reported by docker daemon. kubelet try to stop then kill and delete container, but docker report the container is live even with stop or kill. kubelet only call `docker rm container_id`, but in this situation, cont

[2019-03-05 12:22] xmudrii commented on #73416
Hello,

I'm a bug triage shadow and I'd like to remind that code freeze is coming in 2 days (Thursday). :snowflake: :mountain_snow: Is it still planned for this issue to be fixed in 1.14?

[2019-03-05 12:29] prabhurs123 opened #74955 "Kubernetes Pods do not have internet access"
Hi all,

Am setting up a kubernetes cluster with 1 master 2 nodes in locally. Everything is working fine except pods does not have access to internet/local network access, Below are my kubernetes details,

Could you please help me to resolve this issue,
---------------------------------------------------------------------------------------------
below the pods details,

[code]

-------------------

[2019-03-05 12:31] qkboy commented on #61937
follow this recommend:[Known Issue - KMEM - MSPH-2018-0006](https://support.mesosphere.com/s/article/Critical-Issue-KMEM-MSPH-2018-0006)
We recommend that all Mesosphere DC/OS users on RHEL or CentOS 7.X upgrade to Docker 18.09.1, which was released on 01/09/2019. Docker 18.09.1 is a patch from Docker that does not enable kernel memory accounting within the Engine on the RHEL 7.X kernel.

Be atten

[2019-03-05 12:32] xmudrii commented on #72722
Hello,

I'm a bug triage shadow and I'd like to remind that code freeze is coming in 3 days (Friday, 8th March). :snowflake: :mountain_snow: Is it still planned for this issue to be fixed for 1.14?

[2019-03-05 12:38] bclau commented on #74134
The issue is supposed to close when the PR https://github.com/kubernetes/kubernetes/pull/74655 merges. Closing anyways.

[2019-03-05 12:38] #74134 closed

[2019-03-05 12:39] bclau commented on #72722
Yes. It is addressed by: https://github.com/kubernetes/kubernetes/pull/71950

[2019-03-05 12:40] bclau commented on #70189
No. It is meant to be fixed in the next release, when the Containerd support will be introduced.

[2019-03-05 12:46] xiak commented on #74955
10.254.174.10  is my DNS server

1. On the node, run
nc -vz 10.254.174.10 53
Ncat: Version 7.50 ( https://nmap.org/ncat )
Ncat: Connected to 10.254.174.10:53.
Ncat: 0 bytes sent, 0 bytes received in 0.25 seconds

2. In the pod, run
dnstools# nc -vz 10.254.174.10 53
nc: 10.254.174.10 (10.254.174.10:53): Operation timed out

3. Check coredns logs
kubectl logs coredns-86c58d9df4-blp7w -n kube-system

[2019-03-05 13:42] DenLilleMand opened #74957 "Rewrite K8s in Django?"
**What would you like to be added**:
Can we rewrite kubernetes in Django please?

**Why is this needed**:
- auto migrations
- admin interface
- has really good ORM, that does everything
- clearly superior

[2019-03-05 14:18] marcstreeter commented on #71725
I'm seeing same bug with

[code]

[2019-03-05 14:19] naemono commented on #73960
We are suspecting this may be the fix for this issue:
https://github.com/kubernetes/kubernetes/pull/71834

We are testing and will update this issue

[2019-03-05 14:36] mariantalla opened #74960 "[Umbrella issue for tracking] gce-cos-<branch>-default is flaky"
**Which jobs are flaking**:
* `gce-cos-master-default` (a.k.a. `ci-kubernetes-e2e-gci-gce`)
* `gce-cos-1.14-default` (a.k.a. `ci-kubernetes-e2e-gce-cos-k8sbeta-default`)

**Which test(s) are failing**:
A variety of tests, owned by different SIGs (see more detailed issues per SIG below).
The jobs are release blocking; it's currently flaking about 80% and 85% of the time respectively, which makes it

[2019-03-05 14:36] marcstreeter opened #74961 "kubectl top <resource> is not working with heapster removed"
**What happened**:
installed kubernetes 1.13.2
**What you expected to happen**:
`kubectl top <pod/node>` provides metrics
**How to reproduce it (as minimally and precisely as possible)**:
`kubectl top node`
or
`kubectl top pod`
**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration: baremetal
- OS (e.g:

[2019-03-05 14:37] mariantalla commented on #74960
/remove-kind failing-test
/kind flake

[2019-03-05 14:37] mariantalla commented on #74960
/sig release

[2019-03-05 14:41] marcstreeter commented on #74961
@kubernetes/sig-cli-bugs

[2019-03-05 14:51] #74724 closed

[2019-03-05 14:56] Mynom commented on #74135
We "fixed" the problem, by swapping docker with containerd.

[2019-03-05 14:57] DevOps-Airwallex commented on #16863
thanks for the answer. Just wondering how do you handle, when the property itself have `_`

e.g.
[code]

[2019-03-05 15:23] marcofranssen commented on #39294
We are facing exactly the same issue. We have a 5 node es cluster. In our case this already happens after taking down fluentd just for 30 minutes. Once you bring it back it seems there is no way back to get it working. All kind of buffer flush issues and read timeouts are happening. Anyone found a solution to this? Or some way for fluentd to forward the logs in a safe way in order to catch up with

[2019-03-05 15:26] #69257 closed

[2019-03-05 15:32] dims opened #74965 "make `release` and `quick-release` fail under arm64"
machine info:
[code]

quick-release:
[code]
openlab@node-0:~/go/src/k8s.io/kubernetes$ make release
+++ [0305 08:30:33] Verifying Prerequisites....
/users/openlab/go/src/k8s.io/kubernetes/hack/lib/util.sh: line 652: DOCKER[@]: unbound variable
Makefile:383: recipe for target 'release' failed
make: *** [release] Error 1
[code]

[2019-03-05 15:33] dims commented on #74965
Patch for the DOCKER unbound variable issue:
[code]

[2019-03-05 15:34] dims commented on #74965
/assign @lubinszARM

[2019-03-05 15:34] dims commented on #74965
/sig testing

[2019-03-05 15:37] dims commented on #74965
Fix for the DOCKER unbound variable issue

[code]

[2019-03-05 15:37] dims commented on #74965
Next problem: `make quick-release` shows

[code]

[2019-03-05 15:44] dims commented on #74965
[code]

[2019-03-05 15:44] dims commented on #74965
@mkumatag did this work on the ppc64le?

[2019-03-05 15:50] rhockenbury commented on #74759
In the meantime, would it be possible bump the cni binaries to the latest versions - Microsoft/SDN#322.  @yujuhong

[2019-03-05 16:02] Karthikys6 opened #74967 "Performance issues of containers in kubernetes pods"
We are trying to setup scalable jenkins on a kubernetes cluster to build and deploy our app. Able to successfully scale jenkins slaves using kubernetes on a Dev Machine(Spec: CentoOS 7, 12 cpu/core, 16G).

However Application build time is being effected drastically. Time taken to build an application on a debian docker image is 1.5hrs on a CentOS host. Whereas building the same application on the

[2019-03-05 16:10] mariantalla opened #74968 "[Flaky tests] [sig-auth] Advanced audit tests are flaking in gce-cos-master-default, gce-cos-1.14-default"
**Which jobs are failing**:
_w/ testgrid links_
* [`gce-cos-master-default`](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default) (a.k.a. `ci-kubernetes-e2e-gci-gce`)
* [`gce-cos-1.14-default`](https://testgrid.k8s.io/sig-release-1.14-blocking#gce-cos-1.14-default) (a.k.a. `ci-kubernetes-e2e-gce-cos-k8sbeta-default`)

These jobs are release-blocking; at the moment of writing

[2019-03-05 16:16] #74827 closed

[2019-03-05 16:17] #71994 closed

[2019-03-05 16:32] honi commented on #56795
I don't expect the Ingress to pick up changes in the configmap automatically. Same as pods, if I change the configmap I'll restart the pods or the ingress appropriately.

@omidraha I've tried the sed approach, it basically involves having a script to replace values in your yaml file before sending it to kubectl. But you now have an additional, non kubernetes standard step in your deployment.

[2019-03-05 16:40] namsral opened #74971 "Inconsistency between volumesAttached and volumesInUse fail deployments"
**What happened**:

Kubernetes deployments with StatefulSets fail to deploy on newer versions of Kubernetes. Pods are never scheduled because the kubelets are not aware of attached volumes in node status.

I have automation scripts to deploy Kubernetes clusters and workloads. My setup works with v1.9.11 but fails on v1.10.13 and v1.11.8 with a clean install. I'm using Ceph RDB for persistent stora

[2019-03-05 16:48] mkumatag commented on #74965
In recent days, I didn't try.. I'll try and let you know.

[2019-03-05 16:54] mkumatag commented on #74965
hit with same error!
[code]

I don't think `k8s.gcr.io/kube-cross` ever built for non-amd platforms - https://github.com/kubernetes/kubernetes/blob/master/build/build-image/cross/Dockerfile. So this flow will not work on non-amd64 platform. The reason might behind this might be most of the release things are happening on amd64 platform and cross-built for other platform.

[2019-03-05 17:03] prg3 commented on #23864
I ran into this as an issue getting a mosh based bastion host up and running.. workaround:

for i in `seq 60000 60100` ; do echo -e "    - protocol: TCP\n      port: $i\n      targetPort: $i\n      name: bastion-$i" ; done

I do wonder how many ports can be in a service and what the implications of adding hundreds of single items is for the system.

get services is now pretty ugly:

bastion-mosh

[2019-03-05 17:04] Quentin-M commented on #56903
https://blog.quentin-machu.fr/2018/06/24/5-15s-dns-lookups-on-kubernetes/

--
Quentin Machu

On March 5, 2019 at 01:35:02, harperwang (notifications@github.com) wrote:

[2019-03-05 17:37] gnufied commented on #74971
/sig storage

[2019-03-05 17:40] gnufied opened #74973 "getCSISourceFromSpec uses api.XXX type"
function `getCSISourceFromSpec` in csi_util.go should use v1 and not api.xxx types.

/sig storage

cc @vladimirvivien

[2019-03-05 17:41] cmluciano commented on #62720
@nevola Has there been anymore progress on this?

[2019-03-05 17:49] cmluciano commented on #72109
@mhulscher Can you add a bit more information about your setup so that I can try to replicate? Are you launching containers with docker run and are you using flannel for your CNI?

[2019-03-05 18:01] adelina-t commented on #73425
/cc @PatrickLang  @michmike

[2019-03-05 18:07] vladimirvivien commented on #74973
@gnufied while the package identifier is `api` the package itself resolves to `v1` of core:

https://github.com/kubernetes/kubernetes/blob/a352b74bcca9de2acd1600e47ea7f122ac8c1fe1/pkg/volume/csi/csi_util.go#L26

[2019-03-05 18:09] roycaihw opened #74976 "Umbrella issue for Publish CRD OpenAPI followups"
This is to track follow-up tasks for Publish CRD OpenAPI https://github.com/kubernetes/kubernetes/pull/71192

**in 1.14:**
- [x] Add e2e test to sig-cli for current kubectl client-side validation behavior around CustomResources (not depending on the openapi publish feature) https://github.com/kubernetes/kubernetes/pull/74832
- [x] Website documentation https://github.com/kubernetes/website/pull/12

[2019-03-05 18:13] mariantalla opened #74978 "[Flaky tests] [sig-storage] CSI volumes subpath tests for readonly volumes are flaking in gce-cos-master-default, gce-cos-1.14-default"
**Which jobs are failing**:
_w/ testgrid links_
* [`gce-cos-master-default`](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default) (a.k.a. `ci-kubernetes-e2e-gci-gce`)
* [`gce-cos-1.14-default`](https://testgrid.k8s.io/sig-release-1.14-blocking#gce-cos-1.14-default) (a.k.a. `ci-kubernetes-e2e-gce-cos-k8sbeta-default`)

These jobs are release-blocking; at the moment of writing

[2019-03-05 18:14] mariantalla commented on #74968
/remove-kind failing-test

[2019-03-05 18:14] mariantalla commented on #74978
/remove-kind failing-test

[2019-03-05 18:19] roycaihw commented on #71142
@soggiest Yes we are actively finalizing the review. Hopefully we will get it tagged & merged soon

[2019-03-05 18:22] marcellodesales commented on #50632
How can we evict a pod that has a container restarting, among more than one container per pod?

[2019-03-05 18:26] yliaog commented on #74507
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/resource-management/admission_control_limit_range.md

is the design proposal for the LimitRange feature, it has the use cases, design considerations. Hopefully that could help answer your question.

[2019-03-05 18:26] mariantalla commented on #74745
/kind flake

[2019-03-05 18:27] mariantalla commented on #74968
Closing in favour of https://github.com/kubernetes/kubernetes/issues/74745. 🤦🏻‍♀️

/close

[2019-03-05 18:27] #74968 closed

[2019-03-05 18:29] #64290 closed

[2019-03-05 18:51] spiffxp commented on #74745
https://github.com/kubernetes/kubernetes/pull/74915 merged ~18 hours ago

https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Advanced%20Audit

I'm not yet seeing a clear difference, and suspect we have more work to do here

[2019-03-05 19:01] spiffxp commented on #74960
triage clusters for gce-cos-master-default: https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gci-gce%24

[2019-03-05 19:03] spiffxp commented on #74960
triage clusters for gce-cos-master-1.14: https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gce-cos-k8sbeta-default%24

(this may be more fruitful to look at from a flake perspective, because the underlying commit is only changing on a daily basis)

[2019-03-05 19:04] spiffxp commented on #74960
/priority critical-urgent
We're not going to be able to cut a release with this level of flakiness, since it's not clear that this is one underlying culprit, this needs some sustained attention

[2019-03-05 19:04] spiffxp commented on #74960
/milestone v1.14

[2019-03-05 19:09] #74973 closed

[2019-03-05 19:13] msau42 commented on #74890
In https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster/2826/build-log.txt, I see that the first thing the test does is upgrade the cluster, and that failed:
[code]

I think the aborted upgrade test is what caused the resources to leak.  For example, here's one leaked resource:
[code]

In the job, it is used by a pod that's part of the upgrade tes

[2019-03-05 19:15] msau42 commented on #74890
@kubernetes/sig-cluster-lifecycle to triage the failing upgrade test.

/remove-sig storage

[2019-03-05 19:17] spiffxp opened #74984 "test flake failure cluster: "context deadline exceeded""
/milestone v1.14
/kind flake
/priority critical-urgent
This seems like a contributor to https://github.com/kubernetes/kubernetes/issues/74960

/sig api-machinery
because this seems related to webhooks

/sig storage
[the top failure cluster](https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=context%20deadline%20exceeded#64be6920d60431a72cc0) appears to belong to you

https://stor

[2019-03-05 19:20] spiffxp commented on #74437
/remove-priority important-soon

[2019-03-05 19:21] bsalamat commented on #74132
@k82cn metadata is an internal structure of the scheduler. This means that we may change or even remove it without any announcement. I believe the scheduling framework can solve some of these problems that you are facing now, but in the absence of it we should consider alternatives. One option is to expose some of the scheduler functions externally, as you suggested. Another is to copy part of it

[2019-03-05 19:23] spiffxp commented on #71470
/remove-lifecycle stale
This is still failing (it's unclear to me whether it's a flake or a continuous failure from this display) https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Flexvolume

[2019-03-05 19:28] kmadnani opened #74986 "kubectl describe node shows the Allocatable memory in milli bytes ('m')"
**What happened**:
When i do a kubectl describe node, it shows me Allocatable Memory with a unit of 'm' which is usually used for cpu (millicores). The k8s docs don't mention this unit as one of the standard ones for specifying memory.

Allocatable:
 cpu:                7800m
 ephemeral-storage:  86069648Ki
 hugepages-1Gi:      0
 hugepages-2Mi:      0
 memory:             **15961844721600m**
 pod

[2019-03-05 19:28] spiffxp commented on #74745
https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=e2e-gce&test=Advanced%20Audit - maybe more relevant since it filters out kops jobs that aren't on release-blocking

The main cluster is our good friend `timed out waiting for condition`
[code]

[2019-03-05 19:35] msau42 commented on #74978
/assign
Taking a look here: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/35450
The container was able to successfully write even though the volume should have been set to read only.  I have not found any suspicious test issues so far.  Will add some more debugging and try to repro on my own cluster.

@kubernetes/sig-storage-test-failures

[2019-03-05 19:35] davidz627 opened #74988 "Event spam in some storage Operation Generator functions"
Seems like in some Operation Generator functions (I saw this in `GenerateAttachVolumeFunc` if an error is encountered in the "set up" part outside of the actual `AttachVolumeFunc` there is no rate limiting and the `GenerateAttachVolumeFunc` will be retried over and over hundreds of times a second. This causes significant event spam and can also slow down the controller.

/sig storage
/kind bug
/cc

[2019-03-05 19:37] spiffxp commented on #74543
/assign @rajansandeep
This test is still failing even though it appears all relevant cherry-picks and PR's have merged, what are we missing?

[2019-03-05 19:38] spiffxp commented on #74543
Looks like https://github.com/kubernetes/kubernetes/pull/74687 only merged 6 hours ago, so we may need to continue to wait

[2019-03-05 19:38] kmadnani commented on #74986
@kubernetes/sig-Node-bugs

[2019-03-05 19:40] davidz627 commented on #74988
fixed for mount here: https://github.com/kubernetes/kubernetes/pull/71581

[2019-03-05 19:44] liggitt commented on #74984
see https://github.com/kubernetes/kubernetes/pull/74562

/assign
/assign @roycaihw

[2019-03-05 20:07] liggitt commented on #74984
any test that needs to create a configmap (like the storage tests) would have been affected if run in parallel with the tests added in https://github.com/kubernetes/kubernetes/pull/74562

#74989 should resolve the issue

[2019-03-05 20:13] nareshku commented on #74382
I have noticed the same error.

Kubernetes version: 1.12.3
Docker Version: 17.03.2-ce
OS: RHEL 7, kernel 3.10.0-957.5.1.el7.x86_64
[code]

from docker logs:
[code]

[2019-03-05 20:19] benmoss opened #74991 "Stats performance is slow on Windows"
**What happened**:
When looking at the changes made in #74933 I did a quick benchmark of the `/stats/summary` endpoints on both Linux and Windows nodes. Not very scientific, but:

Linux:
[code]

Windows:
[code]

**What you expected to happen**:
Roughly similar, especially since I believe the implementation is such that stats aren't calculated every time the endpoint is hit.

**Environment**:
- Kub

[2019-03-05 20:19] benmoss commented on #74991
cc @yujuhong

[2019-03-05 20:19] benmoss commented on #74991
/sig windows

[2019-03-05 20:23] hb3b commented on #71162
@calind Our short-term workaround for this is to configure the OIDC app in our IdP (Okta) with multiple allowed redirect URIs. It's not ideal since we have to manage access to both applications as one logical application in Okta, but in our case it's fine. RBAC within the cluster just looks at a groups claim.

[2019-03-05 20:24] gnufied commented on #71470
Yeah,  there is a fix for this available actually - https://github.com/kubernetes/kubernetes/pull/71611 . I need to sync with @jsafrane and see how we can merge the PR.

[2019-03-05 20:30] nevola commented on #62720
Hi @cmluciano , sure we're implementing more features in nftlb (the load balancer core) including security policies per service, persistence and more, but it's still required more integration in the kube-nftlb side in order to be fully compatible with the docker rules.

[2019-03-05 20:34] MrHohn commented on #74887
It appears that the test is failing on waiting for the node health check firewall rule (which is shared among external Load Balancers) to be deleted.
[code]

Also note that this test doesn't fail in non-upgrade jobs, e.g. https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-serial&width=20

[2019-03-05 20:37] MrHohn commented on #74887
My current suspect is that the LB service created by the upgrade test wasn't properly deleted before starting this "serial" test. If any other LB service exists (other than the ones created by this test), the node health check firewall rule will not be removed.

[2019-03-05 20:48] wongma7 commented on #74914
The best we can do is check if the symlink is broken. This would be equivalent to checking if the mount point is corrupted/stale. However, if the symlink is broken and it is passed as a device to the container runtime the pod should fail to start anyway. But it shouldn't hurt to check so I will work on a patch to modify that `Check` function to check if the symlink is broken

Note I am unsure in w

[2019-03-05 20:55] ibrasho commented on #68522
Hey!

Gentle reminder that code freeze is this Thursday.

Since this is part of the 1.14 milestone, is it going to be resolved soon?

[2019-03-05 20:55] ibrasho commented on #74464
Hey!

Gentle reminder that code freeze is this Thursday.

Since this is part of the 1.14 milestone, is it going to be resolved soon?

[2019-03-05 20:55] #74957 closed

[2019-03-05 20:56] jchauncey commented on #74965
Ive noticed that as of last night my CI jobs are failing to build master. I'm getting the following error:

[code]

Seems potentially related to this pr - https://github.com/kubernetes/kubernetes/commit/baf4eb67ac360993b4ee96ec771b6f7e555b8e17

[2019-03-05 20:57] ibrasho commented on #71677
Hey!

Gentle reminder that code freeze is this Thursday.

Since this is part of the 1.14 milestone, is it going to be resolved soon?

[2019-03-05 21:00] ibrasho commented on #74437
Since code freeze is this Thursday and this is part of the 1.14 milestone, are there any plans to resolve it soon?

[2019-03-05 21:00] neolit123 commented on #74464
hopefully in the next couple of days.

PR is here:
https://github.com/kubernetes/kubernetes/pull/74807

[2019-03-05 21:03] ibrasho commented on #65494
Hey!

Gentle reminder that code freeze for 1.14 is this Thursday.

Since this is part of the 1.14 milestone, is it going to be resolved soon? If not, let's clear the milestone.

[2019-03-05 21:07] ibrasho commented on #69843
Hey!

Gentle reminder that code freeze for 1.14 is this Thursday.

Since this is part of the 1.14 milestone, is it going to be resolved soon? If not, let's clear the milestone and plan it for the next release.

[2019-03-05 21:09] cppforlife commented on #74916
+1 just ran into this myself.

[2019-03-05 21:17] dashpole commented on #68522
@ibrasho The only PR for 1.14 is https://github.com/kubernetes/kubernetes/pull/73946.  Then this can be moved to 1.15

[2019-03-05 21:27] yujuhong commented on #74991
This could become an issue for kubelet in the future, especially because kubelet doesn't have throttling AFAIK (and I'm don't think client-side has rate-limiting).
/cc @haiyanmeng, who's looking into kubelet server-side throttling

[2019-03-05 21:28] Huang-Wei commented on #73572
The code fix is available in master branch right now, which means it will be auto included in the upcoming 1.14 release.

For lower releases, you need to wait for a while before cherrypick PRs get approved and merged.

[2019-03-05 21:31] pjh opened #74992 "Test artifacts not always gathered from Windows nodes on GCE"
At the end of an e2e test run for Windows clusters on GCE (https://testgrid.k8s.io/sig-windows#gce-windows-master&width=20) we expect several log files to be gathered from the Windows nodes: `docker.log`, `kube-proxy.log`, `kubelet.log`, `serial-1.log`. However, sometimes only `serial-1.log` is being gathered.

Example of what we expect: https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kuberne

[2019-03-05 21:31] pjh commented on #74992
/assign pjh
/cc yujuhong mtaufen jingxu97

[2019-03-05 21:31] pjh commented on #74992
/sig windows

[2019-03-05 21:32] pjh commented on #74992
cc @yujuhong @mtaufen @jingxu97

[2019-03-05 21:33] pjh commented on #74992
This is not release-blocking for 1.14.

[2019-03-05 21:37] yujuhong commented on #74992
Only serial logs don't depend on SSH. Looks like we have problems scp'ing the logs.
[code]

[2019-03-05 21:53] msau42 commented on #69843
No we will target 1.15

[2019-03-05 21:56] naemono commented on #73960
It appears #71834 did fix our issue.  Closing.

[2019-03-05 21:56] #73960 closed

[2019-03-05 21:56] vielmetti commented on #74965
[code]

[2019-03-05 21:59] ajfriesen commented on #57250
I am not a developer and just started learning go but I want to know if this could be a low hanging fruit?
Maybe this is possible to solve for me with some guidance?!

I checked the go package which already provides the value to enable Proxy Protocol V2 for the target groups:

[code]

[Proxy Protocol in Go package elbv2](https://docs.aws.amazon.com/sdk-for-go/api/service/elbv2/#TargetGroupAttribut

[2019-03-05 22:02] misterikkit commented on #74132
I have attempted to fix our PredicateMetadata and PriorityMetadata a few times, and those branches have ended in frustration. To quote @robpike, "[A little copying is better than a little dependency.](https://www.youtube.com/watch?v=PAAkCSZUG1c&t=9m28s)"

However, I can think of at least one other alternative. You could refactor the priority function into its core behavior that only takes an int,

[2019-03-05 22:02] resouer commented on #74132
I agree in current stage, temporary workaround like copy-paste can be acceptable (as long as its impact is reasonable).

Actually, as scheduling framework effort is actively on-going and we highly want users to adopt it in the future, we may want to hold most  "frameworking or resue" ideas/proposals for default scheduler unless it's scheduling framework related or critical. Less distraction is goo

[2019-03-05 22:04] amaurer commented on #64743
Is this still the case? Have you seen any issues since this post? Thanks!

[2019-03-05 22:04] nikopen commented on #69843
/milestone v1.15

[2019-03-05 22:15] neolit123 opened #74999 "investigate if Windows suffers from reduced precision in CRI timestamps"
pre-1.14, when testing on Windows nodes, there were instances where we were seeing timestamps very close to each other in `pkg/kubelet/stats/cri_stats_provider.go` (`criStatsProvider`)

the zero or negative value case should now be resolved by:
https://github.com/kubernetes/kubernetes/pull/74933

but Windows does not have nanosecond precision timers - highest precision timestamp are microseconds.

[2019-03-05 22:16] neolit123 commented on #74999
/remove-kind bug

[2019-03-05 22:20] msau42 commented on #74914
What I'm more worried about is if on a reboot the symlink still exists but the device name has changed.  Cloud may not have this issue but I'm not familiar other volume types like iscsi or fc to know for sure. cc @mkimuram @bswartz

[2019-03-05 22:26] MrHohn commented on #74887
cc @grayluck to see if he can help :)

[2019-03-05 22:43] bclau opened #75001 "tests: Replace image used by Windows only test with a nanoserver manifest list"
/sig windows
/sig testing

**Which jobs are failing**:

N/A

**Which test(s) are failing**:

    should be able to pull image from docker hub [NodeConformance]

**Since when has it been failing**:

N/A

**Testgrid link**:

N/A

**Reason for failure**:

It has been suggested in https://github.com/kubernetes/kubernetes/pull/74655 to replace the "e2eteam/busybox:1.29" image used by test with a nanose

[2019-03-05 22:43] saiyan86 commented on #74940
Hi @shigy123456, can you please share the output of
[code]

Also, can you please share the output of
[code]
and
[code]

[2019-03-05 22:54] #74667 closed

[2019-03-05 23:02] timmycarr commented on #74088
Hello,

I'm a bug triage shadow and I'd like to remind that code freeze is coming in 3 days (Friday, 8th March). Is it still planned for this issue to be fixed for 1.14?

[2019-03-05 23:03] timmycarr commented on #73489
Hello,

I'm a bug triage shadow and I'd like to remind that code freeze is coming in 3 days (Friday, 8th March). Is it still planned for this issue to be fixed for 1.14?

[2019-03-05 23:03] timmycarr commented on #73418
Hello,

I'm a bug triage shadow and I'd like to remind that code freeze is coming in 3 days (Friday, 8th March). Is it still planned for this issue to be fixed for 1.14?

[2019-03-05 23:09] #73058 closed

[2019-03-05 23:17] roycaihw commented on #71508
it's not necessary that admission webhook is causing the failure

- a failure policy of ignore should fail open on timeout or other call errors. We had tested [ignoring webhook that cannot talk to server works](https://github.com/kubernetes/kubernetes/blob/98fa2c7d32e59f798ff4201dfdcb439554392beb/test/e2e/apimachinery/webhook.go#L394-L397)
- [configurable timeout for webhook](https://github.com/ku

[2019-03-05 23:19] shyamjvs commented on #74088
@timmycarr This bug is just about improving some instrumentation in our e2e tests, nothing to block on 1.14. The issue title should be changed, but I'm unable to do it.

[2019-03-05 23:27] nikopen commented on #68522
/milestone v1.15

[2019-03-05 23:35] grayluck commented on #74887
Reproduced in my e2e test cluster (HEAD).
$ go run hack/e2e.go -- --test --test_args="--ginkgo.focus=should\screate\svalid\sfirewall\srules\sfor\sLoadBalancer\stype\sservice"

Stuck in step
STEP: Waiting for the local traffic health check firewall rule to be deleted
Mar  5 15:30:52.810: INFO: Waiting up to 15m0s for firewall k8s-a9834f1e53f9e11e9a43e42010a80000-http-hc exist=false

And k8s-a9834f1

[2019-03-05 23:44] msau42 opened #75004 "Enable volume resizing by default for gce pd"
**What would you like to be added**:
Enable it in the default storageclass.

**Why is this needed**:
Since resizing behavior has to be triggered by user action, I don't see a reason why we shouldn't allow it by default.

/assign

[2019-03-05 23:47] goodfoo commented on #58011
/reopen

[2019-03-05 23:47] goodfoo commented on #58011
/remove-lifecycle rotten

[2019-03-06 00:10] M00nF1sh opened #75006 "AWS NLB update service with multiple ports fails."
**What happened**:
There are multiple bugs when update NLB service with multiple ports:
1. [new targetGroup created are not tagged](https://github.com/kubernetes/kubernetes/blob/feb0937fa4433df5fb3b38f7d6afa98d17b0d486/pkg/cloudprovider/providers/aws/aws_loadbalancer.go#L231)
1. multiple new targetGroup will result in error since [ELBV2 only supports tagging 1 resource per request](https://github.

[2019-03-06 00:13] michmike commented on #73489
/milestone v1.15

[2019-03-06 00:14] M00nF1sh commented on #75006
/sig aws
/assign @M00nF1sh

[2019-03-06 00:20] nikopen commented on #74088
clearing the milestone for tracking purposes, leaving it up to your sig for fixing
/milestone clear

[2019-03-06 00:32] PatrickLang commented on #69892
I don't think there's anything left blocking 1.14 tracked in this item, so I'll close it.

1. The initial issues that prevented us from using the right conformance tests for Windows+Linux have been worked around in the PRs linked at the top

2. At the December conformance-wg meeting, we decided that the right path forward for Windows would be a conformance profile, and that was out of scope for v1

[2019-03-06 00:33] #69892 closed

[2019-03-06 00:35] roycaihw commented on #69014
/reopen
/remove-lifecycle rotten

[2019-03-06 00:43] shigy123456 commented on #74940
I use kube-dns-cm as the configuration file for kube-dns, and I don't know what this profile does right now. I put 114.114.114.114 in the configuration item, but it didn't work.

root@cks-20190214183847-832-master-1:~# kubectl get cm -n kube-system kube-dns-cm -o yaml
apiVersion: v1
data:
  upstreamNameservers: |
    ["114.114.114.114"]
kind: ConfigMap
metadata:
  annotations:
    kubectl.kubernet

[2019-03-06 00:44] PatrickLang commented on #70604
The KEP has full details, so I don't think this is needed and can be closed. @bgrant0607 - do you agree?

[2019-03-06 00:49] PatrickLang commented on #73418
The right tests were added in https://github.com/kubernetes/test-infra/pull/11301.

/close

[2019-03-06 00:49] #73418 closed

[2019-03-06 00:54] PatrickLang commented on #74101
PR still in review/test

[2019-03-06 00:58] PatrickLang commented on #73416
Thanks  @bclau for calling that out. The last few runs have passed that successfully. Here's an example.

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows/39

/close

[2019-03-06 00:58] #73416 closed

[2019-03-06 01:00] pbarker commented on #74745
that one looks a lot better, still curious why its failing at all, I'll dig in a bit more

[2019-03-06 01:04] PatrickLang commented on #73328
Ok, looks like the right things are happening. #74964 is approved. Once https://github.com/kubernetes/kubernetes/pull/74983 merges it should show up in testgrid for Windows too.

/remove-good-first-issue

[2019-03-06 01:04] PatrickLang commented on #73328
/remove-help-wanted

[2019-03-06 01:07] MrHohn commented on #74887
Dig a bit with @grayluck on this. We found that the upgrade test itself paniced in the middle and exited during the test, hence didn't clean up all the resources (including LoadBalancer type services) it created. Unexpectedly, it continued to run the rest of the tests (including this serial firewall test, which assumes no other LB service exists) and failed.

Some relevant logs from https://prow.k

[2019-03-06 01:08] msau42 commented on #74978
I am able to repro the failure on my local cluster.  So far I have verified that we do pass readOnly = true to CRI:
[code]

[2019-03-06 01:10] manojtr commented on #3595
This only works if we use root to run the application. Any solution for non-root users?

[2019-03-06 01:11] MrHohn commented on #74887
Similar findings from @msau42 on https://github.com/kubernetes/kubernetes/issues/74890#issuecomment-469819930 as well.

[2019-03-06 01:14] MrHohn commented on #74887
Seems like we should use https://github.com/kubernetes/kubernetes/issues/74893 to track the upgrade test failure.

[2019-03-06 01:18] zhangxiaoyu-zidif commented on #55045
Yes, ownerReference can work.

[2019-03-06 01:27] jasongerard commented on #3595
@manojtr see my comments above about running for non-root. You need to use setcap.

[2019-03-06 01:37] #2856 closed

[2019-03-06 01:40] msau42 commented on #74978
Ok after dumping out container logs, I see that the container actually failed writing due to readOnly:
[code]

However, the Pod still container status still became Running

[2019-03-06 01:47] msau42 commented on #74978
Ok the test assumption is wrong.  The container can be temporarily running before it fails.  Working on a test fix

[2019-03-06 02:06] PatrickLang commented on #73328
/remove help-wanted

[2019-03-06 02:07] bgrant0607 commented on #70604
Yes
/close

[2019-03-06 02:07] #70604 closed

[2019-03-06 02:10] pjh commented on #74759
@daschott thanks for sharing those thoughts. Perhaps for increased transparency in the near-term the Microsoft folks working on the CNI plugins could use a well-known repo + branch for development, then we and others would be free to follow that branch and build the CNI binaries from it ourselves. That would address one of our big concerns, that the binaries that are pushed to Microsoft/SDN have u

[2019-03-06 02:12] k82cn commented on #74132
em... I'm also thinking how to enhance the framework; as we discussed in scheduling framework design doc, we may consider how to support "batch" workload, e.g. proportion sharing between job/podgroup, preemption based on other factor instead of priority, and so on.

Not sure whether you went thouth kube-batch's code; in kube-batch, there're several plugin callback here (by registering func instead

[2019-03-06 02:12] timothysc commented on #74890
I didn't dig too deep but these are googles tests not communities.

/assign @justinsb

@spiffxp - given that Robert used to triage the inbound, who is the google owner for /cluster?

[2019-03-06 02:13] timothysc commented on #74890
fwiw it looks like there are some @kubernetes/sig-network-misc failures too.

[2019-03-06 02:14] timothysc commented on #74890
For reference ours (SCL-community) are green - https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce-master

[2019-03-06 02:33] davidz627 opened #75012 "Windows mount pkg `GetMountRefs` should check Windows specific IsCoruptedMnt"
Currently `IsCorruptedMnt` is Unix specific:
https://github.com/kubernetes/kubernetes/blob/596a48dd64bcaa01c1d2515dc79a558a4466d463/pkg/util/mount/mount_helper.go#L123
These error codes are mapped directly to Unix errno's. On windows they will not match up with the right errors that windows would emit on a corrupted mount. We should have a Windows specific `IsCorruptedMnt` function that checks for

[2019-03-06 02:34] msau42 commented on #74978
#75011 out for review

[2019-03-06 02:35] lubinsz commented on #74965
@dims @vielmetti
I see. Let me check it and try to fix it.

[2019-03-06 02:49] dims commented on #74965
@lubinsz i got pretty far using `make quick-release` with https://paste.fedoraproject.org/paste/GK2kPEeYTtpuJ3jhqxW7gw/raw (need to build the `kube-cross` image locally (and make sure the make does not pull down the image from anywhere else).

BUT i am not sure what i was doing fully :) and finally it did fail trying to build hyperkube (it was not able to build some nvidia stuff)

[2019-03-06 02:51] alejandrox1 commented on #74978
/milestone v1.14

[2019-03-06 02:55] cwdsuzhou commented on #74790
/sig cli

[2019-03-06 02:57] cwdsuzhou commented on #74790
@kubernetes/sig-cli-bugs

[2019-03-06 03:24] neolit123 commented on #74955
/sig network
/triage support

[2019-03-06 03:27] neolit123 commented on #74953
yes, just google "docker create private local registry".
you can also pre-pull the images as TAR files and use `docker load` to load them locally.

1.10 is no longer supported, so better upgrade.
1.11 is going outside of the supported version when 1.14 is released - late march.

[2019-03-06 03:27] neolit123 commented on #74953
/sig cluster-lifecycle

[2019-03-06 03:28] manojtr commented on #3595
@jasongerard I tried the bellow and I am getting `standard_init_linux.go:207: exec user process caused "operation not permitted"` error when I simply run the docker using

[code]

[code]

[2019-03-06 03:28] neolit123 commented on #74971
/sig open-stack

[2019-03-06 03:35] alejandrox1 commented on #74724
Neither of the failing tests mentioned in this issue are present in testgrid anymore.
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features is all clear

[2019-03-06 03:43] mdzddl commented on #48798
you add --network-plugin=cni in your kueblet start conf
in my system:
1.vim /etc/systemd/system/kubelet.service
2.delete --network-plugin=cni
3.restart kubelet （systemctl daemon-reload; systemctl restart kubelet）
please do 3 step , in your system,maybe our installtion different from me ,please do it like this way

[2019-03-06 03:55] alejandrox1 commented on #74897
since release-all jobs are non-blocking
/remove-priority critical-urgent
/priority important-soon

[2019-03-06 04:00] alejandrox1 commented on #74821
since release-all jobs are non-blocking
/remove-priority critical-urgent
/priority important-soon

[2019-03-06 04:04] alejandrox1 commented on #74821
Checked testgrid and this seemed to be a flake.
/kind flake
/close

[2019-03-06 04:04] #74821 closed

[2019-03-06 04:06] alejandrox1 commented on #74742
testgrid seemed to cleared out.
/kind flake
/close

[2019-03-06 04:06] #74742 closed

[2019-03-06 04:08] alejandrox1 commented on #74960
Related issue:
* #74699 [Failing Test] node leases tests failing in release-1.14-all:gke-cos-1.14-default

[2019-03-06 04:08] liggitt commented on #60914
fixed in https://github.com/kubernetes/kubernetes/pull/74562

/close

[2019-03-06 04:08] #60914 closed

[2019-03-06 04:09] alejandrox1 commented on #74699
This is a contributor to https://github.com/kubernetes/kubernetes/issues/74960

[2019-03-06 04:10] alejandrox1 commented on #74701
This seems like a contributor to https://github.com/kubernetes/kubernetes/issues/74960

[2019-03-06 04:15] xdrus commented on #50898
Our use case is combination of swestcott and falken, DLP/Security team requires us to have data classification tag on every storage resource + we operate multitenancy clusters where we need tag's for accounting and billing purpose.

[2019-03-06 04:16] alejandrox1 commented on #74419
/kind flake
The tests seem to have cleared up https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-performance

[2019-03-06 04:16] alejandrox1 commented on #74419
/remove-kind failing-test

[2019-03-06 04:19] PatrickLang commented on #73414
/milestone clear
This will need to merge after 1.14 as we're waiting on CNI updates for these tests to pass. I added this status note to the Windows kep

[2019-03-06 04:22] alejandrox1 commented on #74813
/close

[2019-03-06 04:24] alejandrox1 commented on #74814
/kind flake
/close

[2019-03-06 04:24] #74814 closed

[2019-03-06 04:30] msau42 commented on #74049
@apelisse will you be able to submit a PR to fix this?

[2019-03-06 04:39] krmayankk commented on #70816
Hello from  Bug Triage Shadow .  I'd like to remind that code freeze is coming in 3 days (Friday, 8th March). ❄️ 🏔 Is this still planned  to be fixed for 1.14?

[2019-03-06 04:41] krmayankk commented on #64164
/remove-lifecyle rotten

[2019-03-06 04:41] krmayankk commented on #64164
Hello from  Bug Triage Shadow .  I'd like to remind that code freeze is coming in 3 days (Friday, 8th March). ❄️ 🏔 Is this still planned  to be fixed for 1.14?

[2019-03-06 04:41] krmayankk commented on #64164
/remove-lifecycle rotten

[2019-03-06 04:43] krmayankk commented on #64952
Hello from Bug Triage Shadow . I'd like to remind that code freeze is coming in 3 days (Friday, 8th March). ❄️ 🏔 Is this still planned to be fixed for 1.14?

[2019-03-06 05:00] msau42 commented on #64952
We have not been tracking this for 1.14.
/assign @jsafrane
can you help triage and see if this is still an issue and if there is a quick fix?

[2019-03-06 05:10] aoxn opened #75016 "NodeController would result in cloud api call throttle under massive nodes (eg. 1000 workers)."
**What happened**:
we have a k8s cluster with 1000 workers. Soon, We found that CCM report Cloud API call was throttled due to a massive number of DescribeInstance API call.
After some dig into the CCM code, we found that NodeController attempt to reconcile all of the workers address by call CloudAPI without sleep. For a 1000 workers cluster, 1000 cloudapi call was initiated without sleep in each

[2019-03-06 05:10] aoxn commented on #75016
/assign @andrewsykim

[2019-03-06 05:12] krzyzacy opened #75017 "Podgc: probably should sort by pod finished time instead of create time?"
**What happened**:
https://github.com/kubernetes/test-infra/issues/11594

**What you expected to happen**:
Pods that finished earliest will get gc'd, not the pod started earliest... (but seems there's no exposed finished timestamp?)

cc @mm4tt @cjwagner @stevekuznetsov @spiffxp @mikedanese

[2019-03-06 05:18] aoxn commented on #75016
/sig cloud-provider

[2019-03-06 05:20] krzyzacy commented on #75017
/sig testing

[2019-03-06 05:32] iczman commented on #70685
+1, also not working in minikube 0.34.1

`minikube start --vm-driver hyperkit --feature-gates=TTLAfterFinished=true`

[2019-03-06 05:42] #60863 closed

[2019-03-06 05:50] liucimin commented on #74986
/assign

[2019-03-06 06:01] clkao commented on #74669
this might also be related to #70324, if there are ~8k directories in the plugin dir, kubelet will watch them and can run out of inotify watcher when adding things under /sys/fs/cgroup

[2019-03-06 06:15] mrgleeco commented on #72824
when might we see this in a release?

[2019-03-06 06:37] mrgleeco commented on #72824
while we wait for this to land, any other tips or means to work with a regular `Value`?

[2019-03-06 06:49] liucimin commented on #74986
Are you sure the describe message is this?
Or should u show us the node's true memory?Not from the k8s.
Or try the lastest version.

[2019-03-06 06:54] MrHohn commented on #74890
Ref https://github.com/kubernetes/kubernetes/issues/74887#issuecomment-469923944, the firewall test failure is also caused by UpgradeTest unexpected hitting error and exiting in the middle, as described on https://github.com/kubernetes/kubernetes/issues/74890#issuecomment-469819930.

[2019-03-06 07:19] pontiyaraja opened #75022 "Create e2e test case coverage for admit pod by sorted order."
**What happened**:
Create e2e test case coverage for admit pod by sorted order.
from the PR #71786  the sorting is required to avoid failing of pod admit for the test cases of pod port conflict and pod memory exceed.
creating this issue from the comment [discussion_r261439500](https://github.com/kubernetes/kubernetes/pull/71786#discussion_r261439500).
**What you expected to happen**:
If the port c

[2019-03-06 07:25] pontiyaraja commented on #75022
/sig-testing

[2019-03-06 07:27] pontiyaraja commented on #75022
/area conformance
/assign @pontiyaraja

[2019-03-06 07:28] pontiyaraja commented on #75022
/sig testing

[2019-03-06 07:46] cwdsuzhou commented on #74790
/assign

[2019-03-06 07:47] cwdsuzhou commented on #74916
/assign

[2019-03-06 07:49] huzhengchuan commented on #67250
+1  meet the same problem
I think need to rollback success. but now it blocked

[2019-03-06 07:57] omri86 commented on #71508
@roycaihw Do you need me to supply more data?

[2019-03-06 08:06] juanvallejo commented on #74179
Currently, there are server-side dependencies on `pkg/printers/humanreadable.go`, however we could consider copying that file to cli-runtime to aid with [server-side printing](https://kubernetes.io/docs/reference/kubectl/overview/#server-side-columns) on third-party clients / plugins. cc @soltysh for his opinion on this.

@corneliusweig note that if the above does happen, it would _not_ mean that

[2019-03-06 08:09] mm4tt commented on #74213
The GCE 5K Node Performance test with enabled Prometheus completed successfully.
We can enable Prometheus in all tests.

[2019-03-06 08:33] xiak commented on #74955
@prabhurs123 I have resolved this issue by changing nameserver ip, because my nameserver ip was in the range of CALICO_IPV4POOL_CIDR

[2019-03-06 08:36] gtseres commented on #68251
/remove-lifecycle stale

[2019-03-06 08:37] Mnbill commented on #74953
Thanks :)

i am using gitlab docker container registry.

in this case how to configure kubeadm to pull images from this private registry when i will upgrade my kubernetes cluster ?

[2019-03-06 08:39] xiak commented on #74955
I checked on my node:

`cat /etc/resolv.conf
# Generated by NetworkManager
nameserver 10.254.17.10
`
The nameserver ip is 10.254.174.10 which is in the range of pod CIDR, I changed it from 10.254.17.10 to 10.32.10.10, It's OK now
`cat /etc/resolv.conf
# Generated by NetworkManager
nameserver 10.32.10.10
`

[2019-03-06 08:40] khteh opened #75024 "JMeter load test shows imbalanced distribution of loads to pods"
**What happened**:
I use ALB ingress on AWS EKS with HPA (Min:2 Max: 5) and cluster-autoscaler. I run a load test using jMeter-5.1 with concurrent 1000 users hitting my application. I find from the load test report that one of the pods (Only 2 during the load test) gets twice the load as the other. I am surprised with this imbalanced distribution of loads among the pods (I use StatefulSet). Is thi

[2019-03-06 08:44] #74740 closed

[2019-03-06 08:44] #73417 closed

[2019-03-06 08:44] #74790 closed

[2019-03-06 08:44] #74853 closed

[2019-03-06 08:47] khteh commented on #75024
Sorry, I need more time to understand the jMeter report properly....

[2019-03-06 08:47] #75024 closed

[2019-03-06 08:48] andyzhangx opened #75025 "pod with smb mount could not be terminated when password becomes invalid on Windows"
**What happened**:
pod with smb(cifs) mount could not be terminated on Windows when that smb account is invalid, the pod will be stuck forever

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. create a pod with azure file mount on Windows
2. make the storage account of azure file invalid
3. delete the pod
4. pod with azure file mount could not

[2019-03-06 08:50] Huang-Wei commented on #73572
Cherrypick PRs have been created and waiting for approval.

- 1.13 - #74994
- 1.12 - #74995
- 1.11 - #74996

[2019-03-06 08:51] nathanongit commented on #51835
Same issue with an SMB (I think?) mount (Azure Files share as per https://docs.microsoft.com/en-us/azure/aks/azure-files-volume).

[2019-03-06 09:08] clkao commented on #63018
This still happens occasionally in 1.12 (with #67430) . #68619 provides cleanup for stalled entries.

[2019-03-06 09:18] tongchao199 opened #75028 "kubeadm init cluster use dafault ClientName"
**What happened**:
* i use kubeadm init cluster, and create two cluster, find kubeadm init can't specify context user in admin.conf.

**What you expected to happen**:
* when use kubeadm init cluster, can specify context use name

**How to reproduce it (as minimally and precisely as possible)**:
* use kubeadmin init create two cluster

**Anything else we need to know?**:
* i manual modify /etc/kube

[2019-03-06 09:21] cwdsuzhou commented on #55045
I think not every user want to delete pvc when delete statefultSet

[2019-03-06 09:24] tongchao199 commented on #75028
i review kubeadm init.go code,  find ClientName was constant string

<span style="color:black"> *ClientName: "kubernetes-admin"*</span>

[code]

[2019-03-06 09:39] floriankoch commented on #71508
@roycaihw  we also hit this bug, i our case , we run the admission controller on kubernetes, and when updating a node ( on wich the admission controller runs) , the networking (calico) does not come up , because the admission controller was down, and this bug happen , so the failure policy does not work

[2019-03-06 09:44] Nebulazhang opened #75031 "Cannot build by Docker on Mac OS"
**What happened**:
I pull master and `build/run.sh make` but failed.
I met an error `k8s.io/kubernetes/hack/lib/util.sh: line 654: DOCKER[@]: unbound variable`

https://github.com/kubernetes/kubernetes/blob/9c75270b2be4dcc39e31edb34b76e8f604aaf91a/hack/lib/util.sh#L651

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to k

[2019-03-06 10:01] zhangxiaoyu-zidif commented on #55045
we can add a featuregate for option, and additionally, this case it that: delete pvc when delete sts's pod or scaling down sts instead of deleting statefultSet. of course deleting sts will trigger this case. @cwdsuzhou

[2019-03-06 10:08] #73328 closed

[2019-03-06 10:34] Tatsu-Kishi commented on #66651
I'm experiencing issues with this too which can lead to quite some whacky behaviour. When endpoints are removed conntracked traffic will still go to them (changed label so it didn't match with the service anymore). This problem also happens when changing from externalTrafficPolicy: Cluster to Local to the point that it isn't having any effect. Traffic was still being forwarded and NATed to pods on

[2019-03-06 10:39] johnyandrapati opened #75033 "Kubernetes Windows Containers - WIndows 2016 Build Version"
/sig windows

[2019-03-06 10:42] johnyandrapati commented on #75033
Hi we have Windows 2016 build version 1607, but have all the latest patches and also service packages installed (which I believe will take it up to 1809).

Although the build version still says 1607, I wanted to find out, if this is good enough for us to progress with addingnwindows nodes inside an existing kubernetes cluster and that we will have no issues.

Or should we upgrade to Windows 2016 b

[2019-03-06 11:05] pohly commented on #70668
/remove-lifecycle rotten

[2019-03-06 11:06] schrodit opened #75034 "Failing e2e test: stateful upgrade should maintain a functioning cluster"
**Which jobs are failing**:
N/A
**Which test(s) are failing**:
[sig-apps] [sig-apps] stateful Upgrade [Feature:StatefulUpgrade] [k8s.io] stateful upgrade should maintain a functioning cluster

[Test Source](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/upgrades/etcd.go#L83)

**Since when has it been failing**:
Tested for 2 months

**Testgrid link**:
Test is not executed in testgrid

[2019-03-06 11:07] schrodit commented on #75034
/sig apps

[2019-03-06 11:26] #71949 closed

[2019-03-06 11:39] clkao commented on #70324
If you happen to have flexvolume plugin that has pvc mounted under /var/lib/kubelet/plugin, #74669 might be what is exhausting watchers.

[2019-03-06 11:42] mfinkelstine opened #75035 "Cluster does not getting any connection requests"
/sig network

Hi all,

I hope this is the right place for such issue.

**What happened**:
Explanation :
I have k8s with 11 nodes environment with 3 master nodes (2 replicas).
With several services and pods in my environment my main master node stopped exposing ports while other master (replica1, replica2) are exposing the ports for my pods

here is example of my k8s dashboard which is working on m

[2019-03-06 12:08] oz123 commented on #57709
@lukas this issue you link has nothing to do with the DNS problems discussed here.

[2019-03-06 12:13] bclau commented on #72722
The PR https://github.com/kubernetes/kubernetes/pull/71950 merged, so this should be ok now.

[2019-03-06 12:13] #72722 closed

[2019-03-06 12:14] mariantalla commented on #74543
The tests have started passing[1], will wait for ~5 successful runs and then come back to close this issue.

[1]
* since [new-master-upgrade-master#2294](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/2294)
* since [new-master-upgrade-cluster#2827](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-clu

[2019-03-06 12:44] mariantalla commented on #74917
btw the same test is failing in the e2e upgrade tests[1], but with a different error message. Will open a new issue and link here.

[1] e.g. [build 2827](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster/2827) in [sig-release-master-upgrade#gce-new-master-upgrade-cluster](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-c

[2019-03-06 13:26] KevinRiordan commented on #51835
same issue with 13.3

[2019-03-06 13:28] sbutt commented on #68981
How does that guarantee that pods are scheduled in different availability zones?

[2019-03-06 13:35] mkumatag commented on #70249
@dims @tallclair as `distroless/static` does not contain any platform specific code and just contains:

[code]

So we are safe using this instead of scratch wherver needed.

[2019-03-06 14:12] mariantalla opened #75039 "[Failing test] [sig-node] regular resource usage tracking resource tracking for 100 pods per node"
**Which jobs are failing**:
* `ci-kubernetes-e2e-gce-new-master-upgrade-cluster` in https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster
* `ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new` in https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new

**Which test(s) are failing**:
`[k8s.io] [sig-node] Kubelet [Serial] [Slow] [k8s.io] [s

[2019-03-06 14:12] mylesagray opened #75040 "vSphere Cloud Provider fails to provision volumes when using tag based SPBM policy"
**What happened**:

When deploying PVCs against a StorageClass that uses a tag-based placement SPBM policy, volume provisioning fails with the following message:

[code]

**What you expected to happen**:

Volume should be created on (one of) the Datastores that match the tag-based SPBM policy rule.

**How to reproduce it (as minimally and precisely as possible)**:

Tag a datastore with a tag group

[2019-03-06 14:13] mylesagray commented on #75040
/sig vmware

[2019-03-06 14:27] liggitt commented on #71508
how long does the API request take before failing? it is possible you are encountering https://github.com/kubernetes/kubernetes/issues/60914#issuecomment-455149732, where the client-side timeout aborts the request before the webhook timeout is reached

[2019-03-06 14:41] mariantalla commented on #75039
@kubernetes/sig-node-test-failures

[2019-03-06 15:08] przemek-sl commented on #68832
@wicope Have you managed to solve this issue? We're having the same problem and it happens from time to time.

[2019-03-06 15:22] mariantalla opened #75045 "[Failing test] [sig-storage] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] [Testpattern: Dynamic PV (default fs)] subPath should unmount if pod is force deleted while kubelet is down"
**Which jobs are failing**:
`ci-kubernetes-e2e-gce-master-new-downgrade-cluster` in [sig-release-master-upgrade#gce-new-master-upgrade-cluster](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster)

**Which test(s) are failing**:
`[sig-storage] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] [Testpattern: Dynamic PV (default fs)] subPath should unmount if pod is fo

[2019-03-06 15:25] Damien9527 commented on #45419
I meet this issue , my env:
 docker 18.06
 os: centos7.4
 kernel: 4.19
 kubelet: 1.12.3

my  nodes were flapping between Ready and Not Ready.
This before , I have delete   some pods  with ---force  --grace-period=0.  because the pod i delete still in   terminating status .
then ,I found some logs in kubelet :

  kubelet[10937]: I0306 19:23:32.474487   10937 handlers.go:62] Exec lifecycle hook ([/h

[2019-03-06 15:32] mattymo opened #75046 "Regression: No longer able to generate custom kubeconfig"
**What happened**:
After https://github.com/kubernetes/kubernetes/pull/74628 , users lost the functionality to do the following that was present in v1.13.x:
kubeadm alpha kubeconfig user --client-name kubernetes-admin --org system:masters                                           --apiserver-advertise-address 192.168.0.1 --apiserver-bind-port 6443

The ClusterRole was configurable and the output f

[2019-03-06 15:32] #75046 closed

[2019-03-06 15:32] msau42 commented on #75045
This is probably the same issue as https://github.com/kubernetes/kubernetes/issues/72500. The same test case is flaking on regular master serial jobs

[2019-03-06 15:36] alejandrox1 commented on #74049
As per https://kubernetes.slack.com/archives/C09QZFCE5/p1551884623064400
/remove-sig storage
/sig api-machinery

[2019-03-06 15:46] mattymo commented on #75046
I reopened this in kubeadm project https://github.com/kubernetes/kubeadm/issues/1435

[2019-03-06 15:48] timothysc commented on #74282
I think plumbing through the test context makes sense, but you'd need to make certain all pods that are started are using the framework properly, which being honest (I don't know if they all are).

[2019-03-06 15:52] gianarb commented on #74519
Hello @casusbelli ,

I'm a bug triage shadow and I'd like to remind that code freeze is coming in 2 days (Friday, 8th March). :snowflake:  Is it still planned for this issue to be fixed for 1.14?

[2019-03-06 15:52] gianarb commented on #48719
Hello,

I'm a bug triage shadow and I'd like to remind that code freeze is coming in 2 days (Friday, 8th March). :snowflake:  Is it still planned for this issue to be fixed for 1.14?

[2019-03-06 15:54] gianarb commented on #74375
Hello, @mariantalla

I'm a bug triage shadow and I'd like to remind that code freeze is coming in 2 days (Friday, 8th March). :snowflake:  Is it still planned for this issue to be fixed for 1.14?

[2019-03-06 15:59] neolit123 commented on #74282
it's unlikely that we can get the logic here to accommodate for all cases: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L2750
e.g. a CP node can have a PreferNoSchedule taint.

so instead of having an algorithm that is universal, we should think of ways to let the user pick the nodes via a taint mask (e.g. "!NoSchedulable") or node mask (e.g. "*worker-node"). we

[2019-03-06 16:11] liggitt commented on #74984
fix merged, triage board looks better, will leave this open for a day to monitor

[2019-03-06 16:14] kmadnani commented on #74986
@liucimin  Yes i am sure the describe message is this. Infact other nodes are showing the same behavior too.
This is from other node:
[code]
[code]

We use kubespray, in which the latest stable version is v1.12.5 for kubespray release v2.8.3

[2019-03-06 16:14] PatrickLang commented on #73327
@brusMX it looks like this needs a rebase. There were a lot of merges yesterday and unfortunately this one was the victim.

[code]

[2019-03-06 16:15] johnSchnake commented on #74282
@neolit123 You're just saying that you think a mask/filter will be even more flexible than a discrete list?  If I'm understanding you correctly then I agree, that does make sense. Either way we're just talking about getting the user to specify some value that will allow this `WaitForAllNodesSchedulable` to tolerate more/different unschedulable nodes, right?

As for where to put it, thats a fair po

[2019-03-06 16:34] mariantalla commented on #71423
Hello, could this issue be prioritized to help with stabilizing with the release blocking upgrade tests?

They're currently flaking
* ~23% of the time in [gce-cos-master-slow](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-slow) ([triage](https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2019-03-03&job=ci-kubernetes-e2e-gci-gce-slow&test=Services%20s

[2019-03-06 16:35] mariantalla opened #75047 "[Umbrella issue for tracking] ci-kubernetes-e2e-gce-master-new-downgrade-cluster is flaky"
**Which jobs are flaking**:
* [`gce-master-new-downgrade-cluster`](https://testgrid.k8s.io/sig-release-master-upgrade#gce-master-new-downgrade-cluster) (a.k.a. `ci-kubernetes-e2e-gce-master-new-downgrade-cluster`)

**Which test(s) are failing**:
A variety of tests, owned primarily by sig-storage and sig-network (see more detailed issues per SIG below).
* `subpath unmount when kubelet is down` test

[2019-03-06 16:35] mariantalla commented on #75047
/remove-kind failing-test

[2019-03-06 16:39] Doqnach commented on #70685
It does seem to work for me:

[code]
(where `my-cron.yml` contains `ttlSecondsAfterFinished`)

[2019-03-06 16:47] apelisse commented on #74049
@msau42 Sure, I'll try to send a pr this morning

[2019-03-06 16:53] mariantalla commented on #75047
cc @smourapina @alejandrox1 @kacole2 @mortent @spiffxp

[2019-03-06 16:57] lucaim commented on #72393
@xiyangxdy as far as I know you do not need to configure those two files if you use a key. That is still an hypothesis as in the version of Ceph we are using this switch seems to be undocumented: http://docs.ceph.com/docs/luminous/man/8/rbd/
Anyway the warning can be safely ignored and I do not see why we should parse `stderr` when there is no error

[2019-03-06 17:28] msau42 commented on #74978
PR has merged. Will monitor for flakiness

[2019-03-06 17:29] mohnishkodnani commented on #74817
Our use case is very latency sensitive, and so we are planning to use
local-ssd disks on the hosts.
Now, we have our application as StatefulSet. In the stateful set we create
Volume Claim Templates with local disk. Now, every pod that belongs to the
STS creates a PVC on the host using local disk.
To get data to these nodes that they are going to serve, we have a
daemonset ( the reason we have this

[2019-03-06 17:29] benmoss opened #75049 "Windows EmptyDir volumes are not created with 0777"
**What happened**:
Running a Windows pod with an EmptyDir volume attached should allow a non-Administrator user to read, write, and execute files inside that directory. Instead, it appears that this currently only works if the host's filesystem has ACLs set on a parent directory that set these permissions on all subdirectories. Basically the equivalent of setting 0777 on all of `/var/lib/kubelet`

[2019-03-06 17:30] benmoss commented on #75049
Relevant context:
- https://github.com/kubernetes/kubernetes/commit/5394aa979f195a7b480ca0f46d996f6fe05910e2
- https://github.com/kubernetes-sigs/windows-testing/pull/35

[2019-03-06 17:32] benmoss commented on #75049
Seems like at least part of the problem is that `Mkdir` on Windows ignores the file mode, since Windows permissions are a bit different: https://github.com/golang/sys/blob/70f52985063808f21fd6dd197895cdb9729443a5/windows/syscall_windows.go#L433-L439

[2019-03-06 17:33] liggitt opened #75050 "Finish cleaning up self-set node labels"
xref https://github.com/kubernetes/kubernetes/pull/74424

In 1.16:
* change the metadata-proxy addon to use `cloud.google.com/metadata-proxy-ready`
* change the kube-proxy addon to use `node.kubernetes.io/kube-proxy-ds-ready`
* change the masq-agent addon to use `node.kubernetes.io/masq-agent-ds-ready`
* stop setting `beta.kubernetes.io/fluentd-ds-ready`, `beta.kubernetes.io/kube-proxy-ds-ready`,

[2019-03-06 17:35] bilalcaliskan commented on #48798
@mdzddl you deleted --network-plugin=cni cause kubelet complains about cni? Not so clever. Deleting the default network plugin is not recommended at all.

[2019-03-06 17:43] msau42 commented on #55045
I think we need to make an explicit option to allow deletion of pvc when the statefulset is deleted (outside of the feature gate).  Otherwise this is a major change from default behavior and can cause dataloss for users depending on the current behavior.

[2019-03-06 17:44] akutz commented on #58217
/reopen
/remove-lifecycle rotten

Hi all,

I'm running into this issue with `ci/latest` as of this morning.

- Kubernetes version (use `kubectl version`):
[code]

- Cloud provider or hardware configuration:
External vSphere Cloud Provider

- OS (e.g: `cat /etc/os-release`):
[code]

- Kernel (e.g. `uname -a`):
[code]

- Install tools:
[sk8](https://github.com/vmware/simple-k8s-test-env)

- Others:

[2019-03-06 17:47] bkruger99 commented on #70312
/close

[2019-03-06 17:47] #70312 closed

[2019-03-06 17:49] mingfang commented on #55045
I agree there should be a flag to make the deletion explicit. In that case we don't need a feature gate

[2019-03-06 17:50] #74640 closed

[2019-03-06 17:52] msau42 commented on #69539
Fixed by https://github.com/kubernetes/kubernetes/pull/74283
/close

[2019-03-06 17:52] #69539 closed

[2019-03-06 17:52] msau42 commented on #69538
Fixed by https://github.com/kubernetes/kubernetes/pull/74283
/close

[2019-03-06 17:52] #69538 closed

[2019-03-06 17:59] akutz commented on #58217
Hi All,

This is limited to `ci/latest` as `release/latest-1.15.txt` does not have this issue:

[code]

[2019-03-06 18:05] bowei commented on #71423
/assign @MrHohn can you take a look

[2019-03-06 18:12] michmike commented on #73327
/milestone clear

[2019-03-06 18:13] michmike commented on #74541
/milestone clear

[2019-03-06 18:18] neolit123 commented on #74282
yes to both questions.

depends on what we end up as an implementation. e.g. a full blown node list (no wildcards) on the command line for a big cluster is not ideal.

[2019-03-06 18:22] brusMX commented on #73327
Yeah .. I just merged. Let's hope this time works. @PatrickLang

[2019-03-06 18:49] yujuhong commented on #74999
Thanks for filing the issue!

/cc @pjh @mtaufen FYI

[2019-03-06 18:50] roycaihw commented on #74976
/area custom-resources

[2019-03-06 18:54] neolit123 commented on #74953
for kubadm 1.13.x try writing this to a file called `config.yaml`
[code]
replace `k8s.gcr.io` with your registry URL.

then pass this config like so `kubeadm init ..... --config config.yaml`

[2019-03-06 18:54] msau42 opened #75052 "Failing test: [sig-storage] CSI Volumes CSI Topology test using GCE PD driver should provision zonal PD with delayed volume binding and AllowedTopologies set and mount the volume to a pod"
**Which jobs are failing**:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-default

**Which test(s) are failing**:
[sig-storage] CSI Volumes CSI Topology test using GCE PD driver should provision zonal PD with delayed volume binding and AllowedTopologies set and mount the volume to a pod

**Since when has it been failing**:
3/6

**Testgrid link**:
https://prow.k8s.io/v

[2019-03-06 18:54] msau42 commented on #75052
/assign
@kubernetes/sig-storage-test-failures
cc @mariantalla

[2019-03-06 18:54] neolit123 commented on #74953
since this is already supported, i will close this issue.
but please feel free to reply if the above works for you.

/close

[2019-03-06 18:54] #74953 closed

[2019-03-06 18:55] johnSchnake commented on #74282
Sorry if I was ambiguous; I wasn't ever suggesting a list of actual nodes (e.g. by names/ips or anything) but was suggesting a list of labels: currently the logic is effectively
 - Dont worry about schedulability if its labeled with (exactly) master

And I was just suggesting a custom label list so you'd say:
 - Dont worry about schedulability if it is labeled with (any of) [custom list]

The mask

[2019-03-06 19:01] msau42 commented on #75052
[code]

[2019-03-06 19:04] gnufied commented on #71760
@jingxu97 I think I tend to agree with this idea. I will work on this post code freeze.

/remove-lifecycle stale
/assign

[2019-03-06 19:07] stevesloka commented on #74282
Maybe a design doc would help discussions?

[2019-03-06 19:10] msau42 commented on #75052
I'm suspecting that CSINode updates are not going through.  I see a lot of "throttled" messages in kubelet.log, not just for csiNode api updates, but all objects:
[code]

[2019-03-06 19:16] leakingtapan commented on #71750
/remove-lifecycle stale

[2019-03-06 19:19] leakingtapan commented on #71750
EBS CSI driver is already [waiting after volume creation](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/pkg/cloud/cloud.go#L291) regardless of whether kms key is used or not. Any objections to do the same for in-tree?

[2019-03-06 19:20] neolit123 commented on #74282
sounds good. we can start with a google doc with public access linked from the OP of this ticket.

[2019-03-06 19:23] misterikkit commented on #74132
kubelet and cluster autoscaler expect to make use of our predicates, and supporting this is meant to be part of the framework effort. I think priorities should get the same treatment. My hope is that with the framework, we will change the predicate & priority APIs from the mess we have today to something that is developer-friendly.

[2019-03-06 19:35] msau42 commented on #75052
Hm but comparing 1.13 kubelet logs with 1.14 logs, I'm seeing a similar frequency of throttling messages.  So maybe this means we need to retry CSINode updates longer.

cc @davidz627

[2019-03-06 19:41] tallclair commented on #74745
Once DynamicAudit goes to beta, we should be able to eliminate the reliance on the log files by using a webhook to verify the audit stream instead. Thanks for investigating @pbarker !

[2019-03-06 19:53] #62408 closed

[2019-03-06 19:53] #62549 closed

[2019-03-06 19:57] ErikLundJensen commented on #68981
See my description in:
https://github.com/kubernetes/kubernetes/issues/56539#issuecomment-461058199

It still does not solve the issue when scaling down pods, however, with this solution you may do rolling deployment where at least one pod is running in either center.

[2019-03-06 20:12] caesarxuchao commented on #48411
Ref https://github.com/kubernetes/kubernetes/issues/52185

[2019-03-06 20:32] haiyanmeng opened #75060 "Add monitoring and throttling into kubelet http server"
**What would you like to be added**:
1) add metrics into kubelet to monitor [kubelet http server](https://github.com/kubernetes/kubernetes/blob/e330c0120eed4871d518522b3f5c049c36a92464/pkg/kubelet/server/server.go#L83);
2) add throttling to [kubelet http server](https://github.com/kubernetes/kubernetes/blob/e330c0120eed4871d518522b3f5c049c36a92464/pkg/kubelet/server/server.go#L83).

**Why is this

[2019-03-06 20:33] haiyanmeng commented on #75060
/sig node

[2019-03-06 20:33] haiyanmeng commented on #74991
I filed https://github.com/kubernetes/kubernetes/issues/75060 to track the effort of "Add monitoring and throttling into kubelet http server".

[2019-03-06 21:08] xmudrii commented on #70911
Hello,

I'm a bug triage shadow and I'd like to remind that code freeze is starting tomorrow (Thursday) PST EOD. :snowflake: :mountain_snow: Is this issue going to be fixed in the upcoming days?

[2019-03-06 21:12] xmudrii commented on #73503
(tracking update - in progress #74441)

[2019-03-06 21:20] michmike commented on #73489
/milestone clear

[2019-03-06 21:25] hiddeco commented on #47202
For anyone still waiting for this; I created a controller derived from the native Kubernetes cronjob controller and the original PR that was closed.

https://github.com/hiddeco/cronjobber

[2019-03-06 21:27] vinaykul commented on #9043
@xiaods we have started a new merged design [KEP](https://github.com/kubernetes/enhancements/pull/686) and i'm working on it. this has taken me longer than i had initially hoped due to some other tasks taking priority. i'll be updating the new KEP document with my suggested flow control mechanism in that discussion and pushing it out for review in a day or two.

[2019-03-06 21:29] grayluck commented on #71423
I am preparing a PR, basically allow Affinity some time to be configured, instead of failing out instantly.

[2019-03-06 21:37] davidz627 commented on #70911
No longer necessary for Storage work. I can leave the issue open as I think there may be a more general use case. But this is definitely not a `v1.14` issue anymore. Lets say
/remove-lifecycle stale
/priority important-longterm

[2019-03-06 21:40] michmike commented on #68374
@PatrickLang  can we close this as it is a very old issue?

[2019-03-06 21:42] xmudrii commented on #70911
/milestone clear

[2019-03-06 21:52] michmike commented on #74377
This is complete, right? @vyta

[2019-03-06 21:54] yujuhong commented on #75049
:-(

Ref: code to set permission to 777 in emptydir https://github.com/kubernetes/kubernetes/blob/47063891dd782835170f500a83f37cc98c3c1013/pkg/volume/emptydir/empty_dir.go#L41

/cc @jingxu97, who ran into similar problems writing tests.

[2019-03-06 21:55] zhan849 opened #75065 "Potential container runtime state mess-up cause Pod stuck in "Terminating" state"
**What happened**:
When we issue `kubectl delete pod xxx`, pod stuck in "Terminating" state. PLEG is unable to update pod cache (unable to retrieve container status) and therefore stopped sending event about the pod to kubelet, causing this pod not get processed at all.

See [https://github.com/kubernetes/kubernetes/blob/release-1.12/pkg/kubelet/pleg/generic.go#L246](url)

The following kubectl sn

[2019-03-06 21:56] zhan849 commented on #75065
/area kubelet
/sig node

[2019-03-06 21:57] soggiest commented on #70911
/milestone clear

[2019-03-06 21:58] vyta commented on #74377
@michmike  Yes, complete with PR #74550

[2019-03-06 22:00] davidz627 commented on #67972
@verult this issue is still very relevant, could you rework it to reference the new `CSINode` API Object instead. And reword the title so it references plugin watcher reconciliation (it's hard to tell what the issue is about from the title currently).

[2019-03-06 22:03] davidz627 commented on #75052
Ideally we would want to retry API updates from the plugin watcher forever, but that is not possible with the current design because of the event-driven design of the plugin watcher.
Eventually we would want to move to a reconciliation based plugin watcher eliminating the possibility of "losing an API object forever" because the update timed out: https://github.com/kubernetes/kubernetes/issues/679

[2019-03-06 22:08] davidz627 commented on #73535
@wongma7 will you be able to submit a fix for this in 1.14?

[2019-03-06 22:26] TheKevJames commented on #68400
/remove-lifecycle stale
@kubernetes/sig-cli-bugs

[2019-03-06 22:26] simonswine commented on #71808
/remove-lifecycle stale

[2019-03-06 22:35] michmike commented on #74377
/close
PR is complete

[2019-03-06 22:35] #74377 closed

[2019-03-06 22:38] woqer commented on #63022
Any update on this? Is there anyway to use EC2 tags on Kubernetes nodes? let's say to filter them out on operations or just to show them up as a column on `kubectl get nodes`

[2019-03-06 23:02] johnSchnake commented on #74282
Here is a doc for clarification and discussion:
https://docs.google.com/document/d/1iI9QdjPtL767ZjMB3WUxhEEd9mGO4aPtxXr7QOkztnE/edit#

[2019-03-06 23:13] msau42 commented on #75052
Nevermind I think the problem is sillier.  The PD CSI tests are parallelized when they shouldn't be, so I think the storageclasses are getting overwritten

[2019-03-06 23:13] roycaihw commented on #71508
I think @yue9944882 and @liggitt were right. It's your create request timing-out not your admission request

tl;dr: it's behaving by design. But we shouldn't use the same timeout for client request and admission request. You could do one of the following to fix:

- configure timeout (> 30s) in your client request by setting `Timeout` in your `restclient.Config` (e.g. `config` [here](https://github

[2019-03-06 23:15] roycaihw commented on #52482
/reopen
/remove-lifecycle rotten
/assign

[2019-03-06 23:20] haiyanmeng commented on #70890
Here is the k8s version:
[code]

The pod's status changes from `Running` to `Terminating` after several minutes:
[code]

Here is the detailed info about the node hosting the pod (the node is definitely not healthy, however, it is not obvious to me that it is due to OOM):
[code]

[2019-03-06 23:35] gnufied opened #75068 "Flaky test - Emptydir share volume tests failing"
Looks like Emptydir shared volume tests are flaking:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/35493 and

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-enabled-default/7362

/sig storage
/assign

[2019-03-06 23:37] lblackstone opened #75069 "Get method for dynamic client panics on empty name"
**What happened**:

Providing an empty `name` to the dynamic client's `Get` method results in a panic.

**What you expected to happen**:

An error should be returned on empty `name`.

**How to reproduce it (as minimally and precisely as possible)**:

Call `Get` with `name=""`

**Anything else we need to know?**:
The [Get method](https://github.com/kubernetes/client-go/blob/9c9f7f424e65af6ded246bd4

[2019-03-06 23:38] gnufied opened #75070 "Flaky test - CSI volume limit test is flaking"
Looks like CSI volume limit test is flaking.

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-enabled-default/7355

/sig storage
/assign

[2019-03-06 23:40] gnufied commented on #75070
This flake isn't happening in normal clusters, appears to be alpha only issue.

[2019-03-06 23:46] lblackstone commented on #75069
@kubernetes/sig-api-machinery

[2019-03-07 00:17] roycaihw opened #75076 "Tests are not using architecture-specific image names"
/sig testing
/kind bug

we stopped pushing the legacy amd64 workaround (ref https://github.com/kubernetes/kubernetes/pull/44910#discussion_r121637373 and https://github.com/kubernetes/kubernetes/pull/44910/commits/19ca6ca9f2cbb0056766e46a6a0c69c40d990287#diff-4e7d90a055e3d5d5176b4d72daa9a0d4L90), which means every new image in gcr comes with a `-${arch}` suffix: https://github.com/kubernetes/kuber

[2019-03-07 00:44] timoreimann commented on #25251
/remove-lifecycle rotten

[2019-03-07 01:37] calder commented on #60987
Same on:
* Kubernetes v1.13.3
* Docker 18.3.1
* Ubuntu 16.04.5

[2019-03-07 01:55] mohnishkodnani commented on #74817
To add to the above, once we find the PVC, we use a mutating webhook to add the volume to the daemonset pod. This way the StatefulSet and the daemonset pod running on the same node can share the disk.
@krmayankk ☝️

[2019-03-07 01:59] #74464 closed

[2019-03-07 02:25] WanLinghao commented on #74961
Is is designed to be this, `kubectl top` relies on the metrics api provided by heapster

[2019-03-07 02:49] listx commented on #73507
Done. See https://pantheon.corp.google.com/gcr/images/kubernetes-e2e-test-images/GLOBAL/pets?gcrImageListsize=30

[2019-03-07 02:55] listx commented on #73507
/close

[2019-03-07 02:55] #73507 closed

[2019-03-07 02:56] danielqsj commented on #73507
@listx @ixdy Thanks so much.

[2019-03-07 03:29] WanLinghao commented on #75065
+1 noticed this bug before

[2019-03-07 03:52] feiskyer opened #75085 "Enable node e2e tests on Windows"
**What would you like to be added**:

Currently there is no node e2e tests for Windows. Since the Windows features in kubernetes are going to GA, it is important to set up the job on PRs, to prevent build failure and reggressions for Windows.

**Why is this needed**:

node e2e tests are essential for Windows containers. We should probably add it after GA (e.g. v1.15).

/sig windows
/assign @Patric

[2019-03-07 04:00] tdmalone commented on #16707
/reopen

[2019-03-07 04:01] liggitt commented on #74984
no failures on master since https://github.com/kubernetes/kubernetes/pull/74989 merged, closing

/close

[2019-03-07 04:01] #74984 closed

[2019-03-07 04:35] #73513 closed

[2019-03-07 05:05] Ghazgkull commented on #67895
Just hit the same issue with this incomplete deprecation message and ended up here. Would be great if the message could include the remediation instructions ("-a is the default now, simply remove it").

[2019-03-07 05:48] PatrickLang commented on #75085
Just to clarify - we're running a subset of conformance today but not the whole node e2e maintained by SIG-Node. We can work on adding some of those as needed for v1.15 and later. Getting the summary API covered (see #74788) should be the first target.

[2019-03-07 05:49] AndrewSav commented on #47202
@hiddeco would it be better to have a controller control standard CJ controller instead of modifying existing one? With the latter approach one needs to keep up with the actual CJ controller changes, which may not be always feasible.

[2019-03-07 06:21] soggiest commented on #72346
Code Freeze is in 2 Days. Will this be integrated in about a week?

[2019-03-07 06:22] soggiest commented on #58010
Hello! Code freeze is coming up in 2 days. Any updates?

[2019-03-07 06:24] soggiest commented on #71202
Hello! Code freeze for 1.14 is coming up in 2 days. Will this be implemented in the next week? Or should we punt until 1.15?

@m1093782566 @Lion-Wei

[2019-03-07 06:25] cofyc commented on #72346
I guess not, can you remove it from 1.14 milestone?

[2019-03-07 06:25] soggiest commented on #72956
Hello! Code freeze for 1.14 is coming up in 2 days. Will the work in this issue be implemented in the next week?

[2019-03-07 06:35] soggiest commented on #72346
/milestone clear

[2019-03-07 06:49] m1093782566 commented on #71202
Sound fair, we can put it to 1.15 cycle.

[2019-03-07 06:58] soggiest commented on #71202
/milestone 1.15

[2019-03-07 06:58] soggiest commented on #71202
/milestone clear

[2019-03-07 07:21] xiyangxdy commented on #72393
@lucaim I added two files with empty content before, no error; later I added a soft connection called ceph.conf and ceph. Keyring (pointing to the ceph configuration file and key ring generated by my cluster), but ceph did not report an error. . I think ceph only needs two files to exist and doesn't care about its contents. Fortunately, the current measures can solve the problem.

[2019-03-07 07:31] lucaim commented on #72393
@xiyangxdy this matches my experience (see above, I created the empty files too and it gives no error) but another possibility is just not parse `stderr` which I find "cleaner" as there is no error in this case even from the error code, and even what we get is just a warning.

[2019-03-07 07:39] prabhurs123 commented on #74955
Thanks xiak. I have tried but no luck. So i have setup fresh k8s cluster again in different machine and its worked without any issues.

[2019-03-07 07:42] vllry commented on #75039
/sig node

These SIGs are my best guesses for this issue. Please comment `/remove-sig <name>` if I am incorrect about one.
🤖 I am an (alpha) bot run by @vllry. 👩‍🔬

[2019-03-07 07:50] #74967 closed

[2019-03-07 08:03] mkumatag commented on #75076
As per https://github.com/kubernetes/kubernetes/pull/75078#issuecomment-470425059 this is not really needed.

/close

[2019-03-07 08:03] #75076 closed

[2019-03-07 08:06] namreg commented on #73572
@Huang-Wei Your patch does not work for me. The case in that you completely replaces static pods with the mirror pods. But static pods contains important annotations such as `kubernetes.io/config.source`. For static pods is 'file', for mirror - `api` As a result, eviction manager supposes that pod is not static.

[2019-03-07 08:28] hiddeco commented on #47202
@andrewsav that would be preferable but is not doable. The only way I see to ‘control’ the existing CJ controller is by modifying the schedule of a `CronJob` to the offset of a time zone. There is no way you can do that for all possible schedule combinations.

I do not expect that many changes to the CJ controller anyway, plus we are not obligated to stay in sync with it to keep it running as it i

[2019-03-07 08:30] purplemana commented on #60140
This problem may be solved if kubectl cp would implement resumable downloads to work around temporary network errors.

[2019-03-07 08:35] RobertDiebels commented on #45726
/remove-lifecycle stale

[2019-03-07 08:44] alecthomas commented on #72511
FWIW, we're seeing the same issue when sending traces to Jaeger.

[2019-03-07 08:52] vinilvadakkepurakkal opened #75089 "Nvidia-device-plugin for Kubernetes version v1.13.4"
I would like to know, is there is any new Nvidia-device-plugin for Kubernetes version v1.13.4 ?. How can I use the Nvidia GPU resource in Kubernetes version v1.13.4?

Any guidance in this would be of great help

[2019-03-07 08:57] Huang-Wei commented on #73572
I doubt it. A mirror pod is also annotated with `file`:

[code]

[2019-03-07 08:59] duckie commented on #65400
Hi

Thanks for the catch, I was going nuts with it.

[2019-03-07 09:07] #71511 closed

[2019-03-07 09:07] #74785 closed

[2019-03-07 09:09] namreg commented on #73572
@Huang-Wei When I get static pod through `kubectl` I see `kubernetes.io/config.source: file`. But when I try to debug, I see that pod has annotation `kubernetes.io/config.source: api`

[2019-03-07 09:30] subramanian-neelakantan opened #75091 "Volume creation fails with "A component of the virtual machine is not accessible on the host""
**What happened**:
Creation of Volume on vSphere Cloud Provider failed with error "A component of the virtual machine is not accessible on the host" under these conditions:

Assume we have following setup.

[code]

If vsphere.conf has `resourcepool-path="cls1/resource-pool1"` then the dummy VM for a SPBM policy based Volume will be created on this resource pool.

However, if the volume is provisio

[2019-03-07 10:05] steperdin opened #75093 "kubectl port-forward returns error"
**What happened**: Kubectl returns error on port-forward command for service if remote port have a name and port num of service the same as port of forwardable container

**What you expected to happen**: no errors

**How to reproduce it (as minimally and precisely as possible)**:
[code]
Change ports to value:
[code]
And execute:
[code]
Kubectl returns error:
[code]
**Anything else we need to know?

[2019-03-07 10:06] steperdin commented on #75093
/sig CLI

[2019-03-07 10:08] #69506 closed

[2019-03-07 10:09] attila123 commented on #73140
I ran into this problem with Kubernetes v1.11.3 (running on CoreOS (Container Linux)).
This was on a dev machine. I had an existing Service definition (NodePort). I tried to add more sections under "ports:" for this Service definition yaml, then I got the error that I had to name them all (I don't have the exact output). Then I deleted the second section under "ports:", so it only had one protocol

[2019-03-07 10:22] mm4tt opened #75095 "Last few runs of gce-scale-correctness failed due to timeout"
**Which jobs are failing**: gce-scale-correctness

**Which test(s) are failing**: Timeout

**Since when has it been failing**: 02-28-2019

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-correctness

**Reason for failure**: Tests started to time out

**Anything else we need to know**:
It might be related to https://github.com/kubernetes/test-infra/issues/11594

[2019-03-07 10:22] mm4tt commented on #75095
/sig scalability

[2019-03-07 10:22] mm4tt commented on #75095
/assign

[2019-03-07 10:23] #74049 closed

[2019-03-07 10:24] k82cn commented on #74132
Yes, both using it outside and developing plugin for it.

[2019-03-07 10:28] bertinatto opened #75097 "Race condition in plugin registration"
**What happened**:

A race condition in the plugin watcher might happen when a `pluginwatcher.Watcher` is created, started and immediately stopped and cleaned up. If executed several times, the unit test `TestNewManagerImplStartProbeMode` will expose this issue.

The PR #71440 addressed part of the problem by serializing the handling of CREATE and DELETE events. However, a race might still happen

[2019-03-07 10:31] bertinatto commented on #75097
/assign

[2019-03-07 10:47] soltysh commented on #65494
@ibrasho hey, sorry, this is not targeted at 1.14 but more of a long term goal. Lemme clear the milestone.

/milestone clear
/remove-lifecycle rotten

[2019-03-07 10:54] soltysh commented on #30645
With the deprecation of majority of functionality in `kubectl run` to improve entry level UX, I'm going to close this request as won't fix.
/close

[2019-03-07 10:54] #30645 closed

[2019-03-07 10:56] brancz commented on #32326
#69099 was merged, so this is landing in 1.14 :tada:

[2019-03-07 10:56] drewhemm commented on #57923
Hi @sebasmannem, I have run into the exact same issue, also only in a cron job. Same code works for a regular pod. Did you manage to find a more elegant solution?

[2019-03-07 11:13] adelina-t opened #75100 "Windows GMSA tests are failing."
Test added by: https://github.com/kubernetes/kubernetes/pull/74738 is failing on WIndows.

**Reason for failure**:

1. The way the test is set up it does not actually wait for the pod to be Running.

Here: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/windows/gmsa.go#L71
It should be using PodClient().CreateSync() in order to wait for the pod.

2. Running the command on the pods cr

[2019-03-07 11:13] adelina-t commented on #75100
/sig windows

[2019-03-07 11:14] adelina-t commented on #75100
/cc @PatrickLang
/cc @michmike

[2019-03-07 11:49] casusbelli commented on #74519
@gianarb I'm happy to merge this asap, ideas on how to bring this forward?

[2019-03-07 11:54] #71159 closed

[2019-03-07 12:18] yuchengwu opened #75103 "Cannot use initContainer fields as values for environment variables"
**What happened**:
When referencing init container's env value from its fields, kubelet complains `"Error: container <initContainerNmae> not found"`

**What you expected to happen**:
Init container should be supported to get env values from its own fields, as [it is designed](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#differences-from-regular-containers) to

**How to repro

[2019-03-07 12:33] mm4tt commented on #75095
I've compared longest 25 testcases in three runs:

**208 (successful)**
[code]

**213 (timed-out)**
[code]

**214 (timed-out)**
[code]

It doesn't look like the issue is caused by any particular testcase that started taking longer than usual.
The times of individual testcases seem similar, but the overall test time is now much longer, over 3h vs ~30min in successful run.

[2019-03-07 12:37] yuchengwu commented on #75103
@kubernetes/sig-node-bugs

[2019-03-07 12:39] yuchengwu commented on #75103
The err happens at this line https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/resource/helpers.go#L180, it seems that we should search for init containers as well
[code]

[2019-03-07 13:23] mariantalla commented on #75039
@dchen1107 @derekwaynecarr Could you help with triaging this? It has been failing for 5 days and it's a release-blocking test.

[2019-03-07 13:23] bentatham commented on #70674
I am having the same issue with ClusterIssuer (`certmanager.k8s.io/v1alpha1` to be specific)

[2019-03-07 13:34] DaiHao opened #75108 "TaintNodesByCondition admission add specified taints to new nodes during admission"
**What would you like to be added**:
TaintNodesByCondition admission add specified taints to new nodes during admission.

**Why is this needed**:

But it does not fix the race condition caused by user custom taints and custom contollers.  For example, before node's plugins(some system-level daemonset pod) running on the node, we must treat our nodes unschedulable. So our custom controller add our

[2019-03-07 13:35] DaiHao commented on #75108
/assign @DaiHao @answer1991

[2019-03-07 13:37] DaiHao commented on #75108
/sig scheduling
/sig node

[2019-03-07 14:08] rochaporto opened #75113 "allow hpa with unlimited max replicas"
**What would you like to be added**:

Ability to deploy an horizontal pod auto scaler (hpa) with no upper limit for the max number of replicas.

**Why is this needed**:

We're relying on a HPA to scale backfill workloads on our clusters - these are set with very low priority and pre-emptable. They have requests/limits set and the hpa will try to keep them at 80% cpu usage, which results in always

[2019-03-07 14:09] rochaporto commented on #75113
/sig autoscaling

[2019-03-07 14:10] sgandon commented on #59816
I really wish this was re-open cause restarting the port-forward every time the pod is restarted is annoying.

[2019-03-07 14:21] dims opened #75114 "k8s.gcr.io/kube-cross does not work under other architectures like arm64"
There's something wrong with the [manifests for kube-cross](https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/kube-cross?gcrImageListsize=30) as the image we publish though it seems to have manifests does not work on other platforms like arm64
[code]

Please see some environment information
[code]

[2019-03-07 14:22] dims commented on #75114
@mkumatag i think this will fail for ppc64le as well, can you please check and confirm?

/cc @ixdy

[2019-03-07 14:22] dims commented on #75114
/sig release
/sig testing
/priority important-soon
/kind bug

[2019-03-07 14:24] dims commented on #75114
/assign @lubinszARM

[2019-03-07 14:35] #73327 closed

[2019-03-07 14:54] ddebroy commented on #75100
/cc @wk8

[2019-03-07 14:54] ddebroy commented on #75100
/assign @wk8

[2019-03-07 15:01] mm4tt commented on #75095
I've found interesting pattern in the build-log.txt files of the tests that timed-out

**Run 209**
[code]

**Run 213**
[code]

**Run 214**
[code]

Looks like in all cases the test did nothing for over 2h and shortly after that it timed out.

Either there is something taking really long in  the "AfterSuite actions" or the test was lagging due to other reasons.
The thing that worries me is lines lik

[2019-03-07 15:12] mm4tt commented on #75095
+@kubernetes/sig-testing, could you help us debug the issue?

[2019-03-07 15:14] adkerr commented on #74900
@liucimin The help indicates that the _default_ is 10 if the selector is used. But if someone explicitly
asks for -1 it should still work, at least in my opinion.

[2019-03-07 15:24] jwsomis commented on #72905
I am experiencing this as well without the volume attachment.

[2019-03-07 15:32] chakreshkolluru opened #75117 "Error during creation of pod . service account not found."
$ kubectl create -f first_pod.yml

Error from server (Forbidden): error when creating "first_pod.yml": pods "myfirst-pod" is forbidden: error looking up service account default/default: serviceaccount "default" not found

Can any one help me with this issue.

[2019-03-07 15:56] rajansandeep commented on #74543
Tests seem to be passing consistently now.
https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-master

[2019-03-07 15:59] hoyho commented on #72207
I think you should mount the PV path or its parent folder into the plugin container.
for example: [aws](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/f8da6ccf3aa506f1a4b88970c3a49d256f168800/deploy/kubernetes/node.yaml#L83)

[code]
after redeploy the plugin, problem solved

[2019-03-07 16:07] alejandrox1 commented on #74543
Tests have cleared out :tada:
/close

[2019-03-07 16:07] #74543 closed

[2019-03-07 16:18] brahmaroutu opened #75122 "pull-kubernetes-conformance-image-test job is failing"
**Which jobs are failing**:
pull-kubernetes-conformance-image-test job

**Reason for failure**:
This job creates a Pod and Pod goes from being pending into "Pod status is: Failed".

Please see for example the following PR https://github.com/kubernetes/kubernetes/pull/74977 to see that the job is stuck in pending state.

[2019-03-07 16:19] brahmaroutu commented on #75122
/assign @dims
/sig testing

[2019-03-07 16:19] mariantalla commented on #75045
/kind flake
/remove-kind failing-test

[2019-03-07 16:29] wk8 commented on #75100
@adelina-t : sorry for the failing test, and thanks for being on top of this! :)

To address your points above:
1. I believe the current test does wait for the pod to be up & running (https://github.com/kubernetes/kubernetes/blob/dcbe588f76127cd7a3360e70f2260cd7c5ebbc73/test/e2e/windows/gmsa.go#L73-L87); now `CreateSync` does indeed seem to be a better alternative - less verbose, and better levera

[2019-03-07 16:32] sttts commented on #71142
#71192 merged 🎉

[2019-03-07 16:32] #71142 closed

[2019-03-07 17:13] stevekuznetsov commented on #75095
Continuing conversation on the on-call Slack [here](https://kubernetes.slack.com/archives/C7J9RP96G/p1551978758134300)

[2019-03-07 17:34] alejandrox1 commented on #74813
This test has been failing after it initially cleared out. Will keep track of it as a flake
/kind flake

[2019-03-07 17:41] mariantalla opened #75125 "[Failing test] verify.godeps is failing in master-blocking and 1.14-blocking"
**Which jobs are failing**:
* `ci-kubernetes-verify-master`
* `ci-kubernetes-verify-beta`

**Which test(s) are failing**:
`verify.godeps`

**Since when has it been failing**:
2019-03-07, [build 27262](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-verify-master/27262) in master, [build 4442](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-verify-beta/4442) in

[2019-03-07 17:42] alejandrox1 commented on #74814
It originally looked like this was a major issues due to a lack of runs. Now that we have more history it doesn't appear to be a flake.
/remove-kind flake

[2019-03-07 17:43] mariantalla commented on #75125
/milestone v1.14

[2019-03-07 17:53] adelina-t commented on #75100
@wk8

1. Answered inline in the PR

2. The feature flag is tricky to enable in aks-engine jobs. Basically we need to make some changes in kubetest, I think, I need to check. It might take some time to have a PR approved + proper testing before adding it to the running jobs.

     From my side, on the flannel CI I can make that change much faster.

3. That's good to hear, because setting a AD domai

[2019-03-07 18:00] wk8 commented on #75100
@adelina-t
1. Er, thanks, good catch ;)
2. I'm looking into what it might take to start having windows e2e_node tests. That would be better suited for this particular test (it really only tests the kubelet's behaviour, and could do additional tests like checking that no GMSA registry keys are leaked); and there already is support for dynamic config there.
3. 🎉

[2019-03-07 18:02] mariantalla opened #75127 "[Flaky test] EmptyDir volumes pod should support shared volumes between containers"
**Which jobs are flaking**:
`ci-kubernetes-e2e-gce-cos-k8sbeta-default` (in `gce-cos-1.14-default`](https://testgrid.k8s.io/sig-release-1.14-blocking#gce-cos-1.14-default&width=20)

**Which test(s) are flaky**:
`[sig-storage] EmptyDir volumes pod should support shared volumes between containers`
This test flakes about 10% of the time, with a variety of errors; the job as a whole is among the flaki

[2019-03-07 18:03] mariantalla commented on #75127
/priority important-soon

[2019-03-07 18:12] cmluciano commented on #73157
It's strange that this happens since we do have [some logic in the higher-level service.go](https://github.com/kubernetes/kubernetes/blob/059d6057ddb660ff9ba1e93b885ba03fd359213d/pkg/proxy/service.go#L130) function.

@jacksontj Do you see any log messages in the following format "%s in %s has incorrect IP version" .

I'm still digging through to see how we attempt to filter these from the list.

[2019-03-07 18:12] cmluciano commented on #73157
/assign

[2019-03-07 18:20] alejandrox1 commented on #75095
This is also affecting [master-informing#gce-master-scale-correctness](https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness).
/milestone v1.14
/priority important-soon

[2019-03-07 18:26] dhawal55 commented on #57961
I'm still facing this issue intermittently. Let me know if you need any other details

[2019-03-07 18:28] gnufied commented on #75127
duplicate of https://github.com/kubernetes/kubernetes/issues/75068

/assign

[2019-03-07 18:31] cmluciano commented on #73157
I misinterpreted the function as LogandOmit but it's really LogAndEmit, and this simply logs doesn't actually remove them from the list. For clusterIP changes we [actually return nil  ](https://github.com/kubernetes/kubernetes/blob/059d6057ddb660ff9ba1e93b885ba03fd359213d/pkg/proxy/service.go#L262-L269).

[2019-03-07 18:31] liggitt commented on #75127
/close

will track in the older issue

[2019-03-07 18:31] #75127 closed

[2019-03-07 18:32] liggitt commented on #75068
looks like the test has been flaky since it was introduced:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2019-02-21&test=pod%20should%20support%20shared%20volumes%20between%20containers

[2019-03-07 18:35] gnufied commented on #75068
yeah:

[code]

[2019-03-07 18:35] wongma7 commented on #73535
@davidz627 I've opened https://github.com/kubernetes/kubernetes/pull/75130

[2019-03-07 18:37] liggitt commented on #75068
it looks like the main container is only set up to stay alive for 10 seconds... that should be way longer (and set TerminationGracePeriodSeconds short so the pod dies as soon as it is asked to)

[2019-03-07 18:41] msau42 commented on #57961
Can you show what permissions your `system:kube-scheduler` clusterrole has?

[2019-03-07 18:42] gnufied commented on #75068
yeah. I am thinking 1 minute should suffice for the test and then set TerminationGracePeriodSeconds to 10s or something.

[2019-03-07 18:42] fejta commented on #75095
That is certainly surprising! This job is requesting 6 cpu and 16G ram:

https://github.com/kubernetes/test-infra/blob/51283499cd57d229199e8d36d8e58b44daf28b86/config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml#L4-L34

Perhaps that is insufficient for the suite? Consider:

* reconfiguring those values if they are insufficient
* ensuring the suite behaves properly wit

[2019-03-07 18:42] gnufied commented on #75068
or we could busywait forever and just have the pod killed.

[2019-03-07 18:46] liggitt commented on #75068
wait forever and TerminationGracePeriodSeconds of 0 sounds good

[2019-03-07 18:46] krzyzacy commented on #75095
The last (looooooong) line of log of run 214 is suspicious (https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/214?log#log) (which should not be printed?)

[2019-03-07 18:54] harshneelmore commented on #59959
Hi,
I am running Ubuntu 18.04 with docker v 18.09.3, I have followed the steps mentioned above but still see the issue "E: Unable to locate package kubelet"

Following is are the steps followed -
root@ubuntu:~# apt-get update && apt-get install -y apt-transport-https curl
Hit:1 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:2 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:3

[2019-03-07 18:59] ixdy commented on #75114
right, kube-cross is only published for amd64, since historically contributors were only running cross-builds on amd64 hosts.

[2019-03-07 18:59] AjayTripathy commented on #74551
Hi, I’m hitting this on my cluster too.

Here's what we're currently running:
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.3", GitCommit:"721bfa751924da8d1680787490c54b9179b1fed0", GitTreeState:"clean", BuildDate:"2019-02-04T04:48:03Z", GoVersion:"go1.11.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.6", Gi

[2019-03-07 19:06] rdrgporto commented on #59959
Hi, @harshneelmore

Would do you mind to show  /etc/apt/sources.list.d/kubernetes.list file?

Thanks in advance,

Rodrigo

[2019-03-07 19:22] benmoss opened #75132 "Windows nodes should not allow privileged containers"
**What happened**:
Windows pods that have `privileged: true` will still run in Windows, but the `privileged` flag will be ignored. Privileged containers are not supported by Windows, and so some kind of error should occur.

**What you expected to happen**:
An error saying something like "Privileged containers are not supported by Windows"

**How to reproduce it (as minimally and precisely as possi

[2019-03-07 19:26] jennybuckley opened #75135 "Server side apply should explicitly check that patchBytes are in the proper version"
**What happened**:
When sending a request to the server side apply endpoint (`-XPATCH -H"Content-Type: application/apply-patch+yaml"`), if the apiVersion provided in the object is different from the apiVersion in the url, it returns a 500 error, like:
[code]

**What you expected to happen**:
The request should fail if the apiVersion provided in the object is different from the apiVersion in the ur

[2019-03-07 19:26] jennybuckley commented on #75135
\kind bug
\sig api-machinery
\wg apply
\priority important-longterm
\assign @aaron-prindle

[2019-03-07 19:27] jennybuckley commented on #75135
\assign @aaron-prindle

[2019-03-07 19:29] jsoref commented on #67112
/close

[2019-03-07 19:29] #67112 closed

[2019-03-07 19:29] zhan849 opened #75136 "Graceful pod upgrade during application upgrade"
**What would you like to be added**:
Currently when we upgrade an app, we always kill and recreate the Pods, and in some scenarios this can be heavy-weighted. I.e. when we want to roll out a different version of sidecar, it's desired that we only restart that sidecar, while keep main container running (of course main container should handle sidecar temporarily not available).

To limit the scope o

[2019-03-07 19:31] zhan849 commented on #75136
/sig apps
/area controller

[2019-03-07 19:32] zhan849 commented on #75136
/area app-lifecycle
/area controller-manager

[2019-03-07 19:33] benmoss commented on #75049
Started looking at this today, it's more difficult than I imagined. What I mean by "are not created with 0777" is that on Linux `0777` means all users have read/write/execute access. The code in https://github.com/kubernetes/kubernetes/blob/f8024ab087b321190a3bdcd29e0d22ef7cbb4b45/pkg/volume/emptydir/empty_dir.go#L326-L361 is running on Windows and isn't erroring, but the problem is that Go's atte

[2019-03-07 19:50] yujuhong commented on #75049
This is what was done in the stackoverflow answer: https://stackoverflow.com/questions/33445727/how-to-control-file-access-in-windows

[2019-03-07 19:52] ehashman commented on #66791
This was fixed in #72470: https://github.com/kubernetes/kubernetes/pull/72470/files#diff-bb5d427394b7c4081ea5dba3b3465b76R113

[2019-03-07 19:52] #66791 closed

[2019-03-07 20:03] m-happy commented on #72158
I'm a newbie and would love to contribute. Any help would be appreciated.

[2019-03-07 20:11] Huang-Wei commented on #73572
@namreg Thanks for the info. Then we are sort of in a dilemma - on one hand annotation is needed to check if it's a static pod, on the other hand we also need the corresponding mirror pod to get the priority value.

I will provide a supplemental fix later.

[2019-03-07 20:13] harshneelmore commented on #59959
Contents from kubernetes.list file

root@ubuntu:~# cat /etc/apt/sources.list.d/kubernetes.list
deb http://apt.kubernetes.io/ kubernetes-yakkety main
root@ubuntu:~#

[2019-03-07 20:22] alejandrox1 commented on #71473
This is showing up again [ci-kubernetes-e2e-gce-master-new-downgrade-cluster/1303](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster/1303)
/remove-lifecycle stale

[2019-03-07 20:26] rtheis commented on #73572
@Huang-Wei can we please hold on those cherry-picks until the supplemental fix is also available?

[2019-03-07 20:26] kousiknandy commented on #70427
/remove-lifecycle stale

Seen with `Linux 4.15.0-39-generic #42~16.04.1-Ubuntu SMP Wed Oct 24 17:09:54 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux` and K8s `v1.11.5`.

[2019-03-07 20:27] johnSchnake opened #75142 "Some tests not respecting KUBE_TEST_REPO_LIST"
**What happened**:
User set KUBE_TEST_REPO_LIST with a conformance image based on 1.13 which should have that plumbing. They tried to run conformance tests and it failed with a few errors including a failure to pull from the public docker registry (which they did not have access to):

[code]

**What you expected to happen**:
All tests trying to create containers should get the image name from the

[2019-03-07 20:28] johnSchnake commented on #75142
/sig testing
@dims I'm going to put up a PR to find as many of these cases as I can.

[2019-03-07 20:34] alejandrox1 commented on #75047
`[sig-storage] CSI Volumes [Driver: csi-hostpath-v0] [Testpattern: Dynamic PV (default fs)] subPath should unmount if pod is gracefully deleted while kubelet is down [Disruptive][Slow]` has been flaking since the beginning of time.
original issue: https://github.com/kubernetes/kubernetes/issues/71473
and showed up in 1.13 https://github.com/kubernetes/kubernetes/issues/71434

[2019-03-07 20:36] alejandrox1 commented on #75047
/milestone v1.14

[2019-03-07 20:39] dims commented on #75142
/area conformance

[2019-03-07 20:46] AndrewSav commented on #47202
@hiddeco

Can you explain this please?

[2019-03-07 21:05] Huang-Wei commented on #73572
@rtheis sure.

[2019-03-07 21:12] harshneelmore commented on #59959
Contents from kubernetes.list file

[code]

[2019-03-07 21:13] hiddeco commented on #47202
@AndrewSav simple example: `0 0 1 * *` running in `NZDT` (UTC+13) would mean you would need to recalculate it every month because you will need to run in on the last day of the month at 11AM in UTC.

If the complexity of your schedule goes up the amount of changes you need to make to keep it in sync goes up too. Plus you would need to change it every time a time zone area changes from DST to ST.

[2019-03-07 21:15] johnSchnake commented on #75142
Well it may be a little more complicated; I started finding a few but then found:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/apps/types.go#L31-L37

Those are just stored (and exported?) references to what is intended to be the correct images.

I'm guessing something may be off on assumptions about when the repo stuff is getting init.

[2019-03-07 21:16] michmike commented on #75100
@wk8 and @adelina-t i will go ahead and let the PR merge. please file a separate issue for the feature flag issue and add it to the 1.15 backlog (or send me the link)

[2019-03-07 21:18] alejandrox1 opened #75145 "[Failing test] Up test failing in gke-cos-1.14-*"
**Which jobs are failing**:
* [ci-kubernetes-e2e-gke-cos-k8sbeta-default](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cos-k8sbeta-default/9702)
* [ci-kubernetes-e2e-gke-cos-k8sbeta-reboot](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cos-k8sbeta-reboot/9068)
* [ci-kubernetes-e2e-gke-cos-k8sbeta-serial](https://prow.k8s.io/view/gcs/kubern

[2019-03-07 21:27] thockin commented on #69314
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2019-03-07 21:27] msau42 commented on #71473
@alejandrox1 the test case is the same, but I don't think the symptom is the same.  The most recent failure is probably more related to https://github.com/kubernetes/kubernetes/issues/72500

[2019-03-07 21:32] thockin commented on #57402
Service is an L4 concept.  We can not impose L7 processing in Services.  It's not based on XFF header, it's based on client IP.

[2019-03-07 21:32] #57402 closed

[2019-03-07 21:34] thockin commented on #37218
I don't think we're realistically going to do this -- it's pretty straightforward to have a "probemux" program that implements this within your own pod.

[2019-03-07 21:36] thockin commented on #66762
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2019-03-07 21:37] mtaufen commented on #58010
I haven't heard from @charrywanganthony regarding https://github.com/kubernetes/kubernetes/pull/71835, so I doubt this will make 1.14. I'm going to move the milestone to 1.15.

[2019-03-07 21:40] xmudrii commented on #74412
@liggitt @qmfrederik Hello :wave:

I'd like to remind that code freeze is starting today PST EOD! :snowflake: :mountain_snow: As far as I see #74781 is punted for 1.15 and somewhat related PR #71501 doesn't have a milestone. There is still #74809, but that doesn't seem to be fixing this issue. Is this issue still relevant to 1.14 or should it be moved to another milestone?

[2019-03-07 21:48] fedebongio commented on #74949
/cc @yliaog

[2019-03-07 22:09] davidz627 opened #75146 "Kubelet should have a good error message when CSI Driver not installed when Migrated"
Add CSINode informer to the KubeletVolumeHost and check whether the driver is installed when checking `useCSIPlugin` in `OperationGenerator` functions.

This is so that we can throw a better error when the driver is not installed. The error should be of the approximate form: `fmt.Errorf("in-tree plugin %s is migrated on node %s but driver %s is not installed", pluginName, string(nodeName), driverN

[2019-03-07 22:09] davidz627 commented on #75146
/sig storage
/assign
/kind feature

[2019-03-07 22:10] dcbw commented on #75035
/area kube-proxy

[2019-03-07 22:11] thockin commented on #74955
@fturib

[2019-03-07 22:12] thockin commented on #74940
@fturib

[2019-03-07 22:14] saiyan86 commented on #74940
@shigy123456
Can you please share the output of
[code]
and
[code]

[2019-03-07 22:16] andrewsykim commented on #74583
/assign

[2019-03-07 22:16] thockin commented on #74849
@fturib

[2019-03-07 22:17] davidz627 commented on #75146
This could also potentially be achieved by adding some sort of metadata to the CSI Mount/Unmount calls that lets them know it was invoked through the "Migrated" pathway, then when the functions do their normal checks of whether the drivers are installed we can throw a better error there

[2019-03-07 22:17] bowei commented on #74901
/kind feature

@mapdegree can you give a snippet as to what you are missing from Deployment and Daemonset. I thought the Pod teamplte will have the same type as the actual PodSpec.

[2019-03-07 22:20] ddebroy opened #75147 "Skip feature-gated tests in non-staging/stable Windows test runs"
**What happened**:
Today Windows test runs focussing on stable features (such as `ci-kubernetes-e2e-aks-engine-azure-1-14-windows`) are not excluding feature gated tests. This will cause failures in an environment without the necessary feature gates enabled. The typical convention for feature gated tests is mentioned here: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-

[2019-03-07 22:21] thockin commented on #74533
@saiyan86

[2019-03-07 22:22] figo commented on #75035
/close

@mfinkelstine i am closing the issue now because sig-network suggesting that stack overflow is a better place to get particular issue triaged.
please feel free to open a new issue if you can pin down the issue to sig-network area.

[2019-03-07 22:22] #75035 closed

[2019-03-07 22:23] bowei commented on #74541
/remove sig-network

[2019-03-07 22:23] ddebroy commented on #75085
/cc @wk8

[2019-03-07 22:23] saiyan86 commented on #74533
@idanysela Is this Windows or Linux?

[2019-03-07 22:24] bowei commented on #74541
This looks to be a Window specific bug, removing sig-network. Please put it back if this is incorrect.

[2019-03-07 22:24] bowei commented on #74541
/remove-sig network

[2019-03-07 22:27] thockin commented on #74255
@vllry

[2019-03-07 22:36] prameshj commented on #74950
I just tried this using the yaml here - https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/#creating-a-statefulset

Verified the the service 'nginx` is indeed headless, returns the pod ips when resolving the service name - nginx.

I was able to resolve:
`host web-0.nginx`
web-0.nginx.default.svc.cluster.local has address 10.0.2.6

Can you share the yaml you were using?

[2019-03-07 22:37] prameshj commented on #74950
/assign @dunjut dastan

[2019-03-07 22:40] pjh opened #75148 "Windows GCE e2e test nodes crashing when Windows Defender is enabled"
Two weeks ago we were observing Windows nodes crashing and rebooting during our e2e test runs on GCE (https://testgrid.k8s.io/sig-windows#gce-windows-master&width=20). Analyzing the crash dumps showed a fault in the NTFS driver while the MsMpEng.exe process was running. MsMpEng.exe appears to be part of the Windows Defender anti-malware component.

To address the crashes we did two things: 1) disa

[2019-03-07 22:42] vllry commented on #74255
Hi @rafalix1337,

On Github we only handle feature and bug tickets, not support requests. You can try https://discuss.kubernetes.io/ for community support. You may also have more luck looking at MetalLB tutorials and guides.

/close

[2019-03-07 22:43] ddebroy commented on #75100
https://github.com/kubernetes/kubernetes/issues/75147 to track skipping feature gated tests.

[2019-03-07 22:43] bowei commented on #74583
/cc @bowei

[2019-03-07 22:43] figo commented on #73957
/close

@phanisowjanyavutukuri i am closing the issue now, this is probably a DNS setting problem,  you probably can ping 10.128.242.90 which is one of the google.com server ip.
feel free to open new issue if you can pin down issue to sig-network area.

[2019-03-07 22:43] #73957 closed

[2019-03-07 22:44] pjh commented on #75148
/assign pjh

cc @yujuhong @PatrickLang @daschott @michmike

@PatrickLang, is there anyone on your side who can look at this? It's fairly easily reproducible in our e2e test environment. We're working around it for now by disabling Windows Defender; I think we're ok with this for now, but it would be good to find the cause.

[2019-03-07 22:44] bowei commented on #74011
/assign @bowei

[2019-03-07 22:44] pjh commented on #75148
/sig windows

Not blocking for 1.14.

[2019-03-07 22:45] liggitt commented on #74412
https://github.com/kubernetes/kubernetes/pull/74755 fixed this issue.

cherrypicks:
1.13: https://github.com/kubernetes/kubernetes/pull/74841
1.12: https://github.com/kubernetes/kubernetes/pull/74842

the other PRs are still relevant, but don't block this issue

/close

[2019-03-07 22:45] #74412 closed

[2019-03-07 22:46] andrewsykim commented on #73777
@13567436138 can you provide more context on your cluster? What cloud provider is your cluster configured to use?

[2019-03-07 22:50] saiyan86 commented on #75132
moby/moby#31740 addressed this. I think this is a valid request.

[2019-03-07 23:03] yujuhong commented on #75148
/cc @craiglpeters
/cc @benmoss, in case you've seen the same crash
@kubernetes/sig-windows-bugs

[2019-03-07 23:03] pjh commented on #75148
@PatrickLang did do some deeper analysis of one of the crash dumps early last week and found this which might be helpful:

[2019-03-07 23:22] dashpole commented on #70767
/remove-lifecycle rotten

[2019-03-07 23:52] michmike commented on #75148
cc @KnicKnic as well

[2019-03-07 23:55] mariantalla commented on #74887
@MrHohn while the underlying issue gets fixed, is there another job we can look at that covers the same behavior and upgrade path? e.g. something from sig-network's dashboards perhaps?

[2019-03-07 23:59] mariantalla commented on #75125
/remove-sig testing
/sig api-machinery

Related: https://github.com/kubernetes/kubernetes/issues/73999, https://github.com/kubernetes/kubernetes/issues/74261

[2019-03-08 00:06] mariantalla commented on #71423
Thanks! Will keep an eye out for it.

[2019-03-08 00:09] mariantalla commented on #74813
Related: https://github.com/kubernetes/kubernetes/issues/75045 (`kind/flake` issue for this test).

[2019-03-08 00:12] #74101 closed

[2019-03-08 00:12] #73278 closed

[2019-03-08 00:12] #75122 closed

[2019-03-08 00:13] #75070 closed

[2019-03-08 00:22] kolorful commented on #64168
I think this is a documentation issue, you could use environment variables.
https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/

[2019-03-08 00:22] shigy123456 commented on #74940
iptables -L
Chain INPUT (policy ACCEPT)
target     prot opt source               destination
cali-INPUT  all  --  anywhere             anywhere             /* cali:Cz_u1IQiXIMmKD4c */
KUBE-EXTERNAL-SERVICES  all  --  anywhere             anywhere             ctstate NEW /* kubernetes externally-visible service portals */
KUBE-FIREWALL  all  --  anywhere             anywhere
ACCEPT     tcp  --  cks

[2019-03-08 00:26] Huang-Wei commented on #73572
Here is a detailed explanation on why previous PR passed the e2e test:

- As @namreg [pointed out](https://github.com/kubernetes/kubernetes/issues/73572#issuecomment-470426246), the critical static pod failed on IsStaticPod() check (because of mirror pod is tagged as "kubernetes.io/config.source: api")
- And it's reasonable that it's being marked as "to be deleted":
[code]
- However, as @ravisanto