[2017-04-05 10:11] qwang1 commented on #43748
@sjenning Capacity-Allocatable=eviction-hard，thank you very much.

[2017-04-05 10:19] kargakis commented on #11505
@bgrant0607 right, I think this makes sense now that the StatefulSet proposal is touching on it: https://github.com/kubernetes/community/pull/503

Agreed on this one too

[2017-04-05 10:26] luxas commented on #44039
Please reopen in the kubeadm repo, thanks.
Also it would be great if we could see more from `docker logs <apiserver-container>`

[2017-04-05 10:26] #44039 closed

[2017-04-05 10:28] luxas commented on #43950
@liggitt agree, that was just the last resort we could take to if not releasing v1.6.1 directly (which we did, and that made half of this issue obsolete)

Now updated to current status

[2017-04-05 10:43] autostatic commented on #43815
@bostone in my case moving `/var/lib/etcd` did the trick.

[2017-04-05 11:11] jayunit100 commented on #42002
This brings up the question of wether it's possible to protect certain things from being written to the API server by certain unauthirized components in general? I don't know the answer to this question.

[2017-04-05 11:19] soltysh commented on #30243
Sorry, was out last week.

Open a PR updating [the current job proposal](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/job.md) with your proposed changes. You can also start shaping the proposal here.

[2017-04-05 11:42] tashirj commented on #33789
Yeah same problem I faced in 1.6 on CentOS 7.2.1511(Core).
Any fix for this?

[2017-04-05 11:45] dln commented on #43992
Can this not be accomplished with the kubelet `--register-with-taints` flag in 1.6?

[2017-04-05 11:50] piosz commented on #21002
There was one but was remove by someone. We haven't created a new teams yet.
@DirectXMan12 @coffeepac, do you want to create them?

[2017-04-05 11:50] matthiasr commented on #33789
For us, the fix was to switch to `kubenet`, which works beautifully.

On Wed, Apr 5, 2017 at 11:42 AM tushar.dudhade <notifications@github.com>
wrote:

[2017-04-05 11:55] smarterclayton commented on #42002
We can also just add a new core controller that satisfies long running scheduler failures.  However, that's not enough, since you usually need a node, replication controller, and deployment controller in order to run.  Failsafe self-hosted components is really a discussion in itself, and deserves a longer design.  I don't think daemonset should be doing its own scheduling either, especially with s

[2017-04-05 12:01] errordeveloper commented on #44041
@unclejack doesn't look like you've specified Docker version, it may be crucial here.

[2017-04-05 12:12] errordeveloper commented on #44041
I've tested this with Docker 17.03.1-ce and can confirm that it's the case for `weave-net` pods.

[2017-04-05 12:12] unclejack commented on #44041
@errordeveloper: It was Docker 1.12.6 from what I know. I'll check again to be sure it was 1.12.6 and update the post.

[2017-04-05 12:20] derekwaynecarr commented on #44041
Is this with the CRI?  If you disable the CRI do you get the desired outcome?

[2017-04-05 12:37] k82cn commented on #42002
Not sure why we support bypass the scheduler; scheduler should be the only component to place the pods on Node (static pod is considered to be out of scheduling. Can we update the `Node.allocable` to not include static pod's resource?).

1. If placing Pod by admin, I doubt whether he knows the detail of cluster to make the "right" decision
1. If placing Pod by external-scheduler, it should be move

[2017-04-05 12:38] unclejack commented on #44041
@derekwaynecarr: I don't know if that's enabled by default. I've noticed that hostPID doesn't work as it should with Docker. I'm not familiar with CRI.

[2017-04-05 12:40] jayunit100 commented on #42002
Are we all in agreement here that *the scheduler should be the one doing the scheduling* ?

[2017-04-05 12:43] kleinsasserm commented on #10921
How about this feature in the current 1.6?

[2017-04-05 12:44] errordeveloper commented on #44041
@derekwaynecarr I'll test with `--enable-cri=false`.

[2017-04-05 12:44] k82cn commented on #42002
IMO: +1 , and it should be one of "kubernetes core". I'd like to see others' comments :).

[2017-04-05 12:50] errordeveloper commented on #44041
With CRI disabled it doesn't work on Docker 17.03, simply because it doesn't like the new versioning scheme.
@unclejack it'd be really great if you can try setting `--enable-cri=false` in your `kubelet`, e.g. by modifying `/etc/systemd/system/kubelet.service.d/10-admin.conf` (will need to do `systemctl daemon-reload && systemctl restart kubelet`, and either reinitialise the cluster or kill all the

[2017-04-05 12:52] pichouk opened #44091 "Kubeadm packages for 1.5.6 was removed"
**Kubernetes version** (use `kubectl version`): 1.5.6

**Environment**:
- **Cloud provider or hardware configuration**: Dedicated server
- **OS** (e.g. from /etc/os-release): Ubuntu xenial
- **Kernel** (e.g. `uname -a`): 4..4.0

**What happened**:
Trying to install Kubernetes version 1.5.6 (to test upgrade to 1.6). Packages for `kubeadm` in repositories (see [here](https://packages.cloud.google.co

[2017-04-05 12:56] duglin commented on #15128
maybe things have changed - I'll try to remember why I landed on that conclusion (probably from the other threads I referenced).

[2017-04-05 13:03] #43795 closed

[2017-04-05 13:10] sumitkau commented on #23726
try, if connecting from remote
kubectl --kubeconfig ./admin.conf get pods --all-namespaces -o wide

[2017-04-05 13:11] sumitkau commented on #23726
I was trying to get status from remote system using ansible and I was facing same issue

[2017-04-05 13:12] feiskyer commented on #44041
Seems a bug of kuberuntime, will file a PR to fix this.

[2017-04-05 13:15] digglife commented on #43221
It's actually pretty frustrating if anyone like me start installing Kubernetes for the first time with these scripts for Ubuntu. I don't know what they ignore this serious issue, the original script just does NOT work as described in the official documents.

Thank you @asifhj !

[2017-04-05 13:29] pichouk commented on #44091
Sorry, duplicates of [issue 225](https://github.com/kubernetes/kubeadm/issues/225) on `kubernetes/kubeadm` repository.

[2017-04-05 13:29] #44091 closed

[2017-04-05 13:29] cmluciano commented on #5607
@prateek2408 No GPU alpha support was added to 1.6. We do have some cleanup to extend the feature to other non-Docker runtimes https://github.com/kubernetes/kubernetes/issues/43240

[2017-04-05 13:55] soltysh opened #44094 "testapi.go should support multiple versions like our regular groups do"
This was spawned from https://github.com/kubernetes/kubernetes/issues/30079.

Our current `testapi.go` groups are only supporting single version per groups, whereas regular groups are multi-versioned. This causes a lot of problems with testing and leaves some path not tested sufficiently enough.

@kubernetes/sig-api-machinery-misc @liggitt fyi

[2017-04-05 13:55] #30079 closed

[2017-04-05 14:09] steinnes commented on #42438
@blakebarnett did you kill the `gcr.io/google_containers/kube-controller-manager` container, which then gets restarted by the scheduler, and that fixed it?

[2017-04-05 14:16] piosz opened #44095 "Infrastore for Kubernetes"
Internally at Google Infrastore is a repository of data about Google infrastructure, which drastically improved debugging experience for Borg users and became a foundation of a number of systems like Autopilot or Sigma. It was described in [Borg paper](https://static.googleusercontent.com/media/research.google.com/pl//pubs/archive/43438.pdf):
[code]

We want to build a similar system for Kubernete

[2017-04-05 14:19] piosz commented on #44095
cc @davidopp @fgrzadkowski @kgrygiel @smarterclayton

The plan is to start discussions about the shape a requirements for the project in Q2 and then start design and implementation in Q3.

Related issues: #36304, #10782, #4432, #3692.

[2017-04-05 14:31] gyliu513 opened #44096 "Kubernetes build failed on ubuntu 16.04"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-04-05 14:35] dashpole commented on #39812
@andrewsykim are you running on a systemd-based system?

[2017-04-05 14:38] gyliu513 commented on #44096
I was using a ubuntu 16.04 VM.

[code]

[2017-04-05 14:40] feiskyer commented on #44041
Filed #44097 for this.

[2017-04-05 14:44] gyliu513 commented on #44096
May related with https://github.com/kubernetes/minikube/issues/84 and https://github.com/kubernetes/kubernetes/issues/11852

[2017-04-05 15:02] leblancd commented on #32291
This problem is caused by a race condition, which is in turn caused by kubelet enabling "hairpin mode" on the veth interface on the host bridge for all pods. The problem with hairpin mode is that it reflects ALL packets back to the pod, including IPv6 neighbor solicitations (which are used for IPv6 DAD). When the pod sees an echo of a neighbor solicitation that it had just sent out, it treats the

[2017-04-05 15:29] cmluciano commented on #44080
It looks like we note this once [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/gpu/nvidia/nvidia_gpu_manager.go#L80).

This is initiated [here](https://github.com/kubernetes/kubernetes/blob/4d8ffb23effecb470f13004ddfb6d4aefa10e129/pkg/kubelet/kubelet.go#L1222)

And then I *think* that these modules are synced once [here](https://github.com/kubernetes/kubernetes/blob/4d8ffb

[2017-04-05 15:30] carsonoid opened #44098 "HA masters sometimes assign the same nodeport to multiple services"
**BUG REPORT**

**Kubernetes version** (use `kubectl version`): 1.5.1

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04
- **Kernel** (e.g. `uname -a`):  4.4.0-66-generic
- **Install tools**: salt
- **Others**:

**What happened**:

When running multiple API servers behind a loadbalancer it is possible to get the same nodeport as

[2017-04-05 16:02] euank commented on #38979
@supereagle it's okay to not match all cgroups containing the containerID for that regex; it just needs to find it at least once.

The default configuration for docker, using `--exec-opt native.cgroupdriver=cgroupfs` will place the container in cgroups like `/sys/fs/cgroup/memory/docker/$ID` as well.

Once the kubelet implements pod-cgroups, the hierarchy will differ, but the ending portion will s

[2017-04-05 16:04] smarterclayton commented on #44095
@soltysh for intersection with audit, @kubernetes/sig-api-machinery-misc for intersection with admission

[2017-04-05 16:05] cmluciano commented on #43240
I've been inspecting the usage of Docker within the GPU package.

The main usage of the docker client is to detect the host devices mounted into the devices with the equivalent of the ``docker inspect`` command.

I noted that I could potentially use the [PodStatus.ContainerStatus](https://kubernetes.io/docs/api-reference/v1.6/#podstatus-v1-core) from the API, but the Description notes that this ju

[2017-04-05 16:06] cmluciano commented on #43240
cc @liyubobj @seelam ^

[2017-04-05 16:12] cmluciano commented on #43240
I may have spoke to soon. It seems that [ContainerStatus](https://kubernetes.io/docs/resources-reference/v1.6/#containerstatus-v1-core) may only concern itself with the container lifecycle.

[2017-04-05 16:16] kfox1111 commented on #43992
Interesting. I was unaware of the feature. I'll take a closer look. Thanks for the tip.

Reading the --help, it looks like its tied up in node registration, which I'm not sure will have the desired effect if the node is already registered, simply rebooting. but it could work...

[2017-04-05 16:19] civik commented on #43929
Is there a workaround until this is in a release?

[2017-04-05 16:20] caseydavenport opened #44100 "CNI getting multiple DEL calls for dead containers"
**Kubernetes version** (use `kubectl version`):

[code]

**What happened**:

I see multiple CNI DEL calls for stopped infra containers.

**What you expected to happen**:

Should only receive a single DEL call for the stopped infra container.

**How to reproduce it** (as minimally and precisely as possible):

Reboot a Kubernetes Node that is running at least one Pod.  When the node comes back up, C

[2017-04-05 16:29] haibinxie commented on #44063
@ravilr it's NAT mode.

[2017-04-05 16:29] kargakis commented on #44033
Seems like we need a statefulset generator

cc: @kubernetes/sig-cli-feature-requests

@kow3ns the generator that will be created for `kubectl autoscale` can be used for `kubectl create statefulset` too. I think. Unless `kubectl autoscale` is still using the old generator interface.

[2017-04-05 16:36] jsravn commented on #18174
At least with ELBs, they do not seem to handle the long poll very well. I occasionally see kubelets/kube-proxies losing the event stream and not getting updates for a long period of time, followed by streamwatcher errors then a burst of updates. I'm not sure what the right approach is yet...

[2017-04-05 16:44] andrewsykim commented on #39812
@dashpole yes I am (CoreOS)

[2017-04-05 16:45] timothysc commented on #18174
@jsravn what's your ELB timeout?

[2017-04-05 16:48] jsravn commented on #18174
HA etcd is difficult. We made https://github.com/sky-uk/etcd-bootstrap to handle it, which was inspired by the Monsanto solution (with some improvements to handle certain situations of node removal/adding). It queries the local ASG for the IPs on startup and handles setting the environment flags correctly. We then put apiserver on the same node and hit localhost, and can put an ELB on top of the A

[2017-04-05 16:48] jsravn commented on #18174
@timchenxiaoyu 1 hour

[2017-04-05 16:48] jsravn commented on #18174
@timothysc 1 hour

[2017-04-05 17:02] yujuhong commented on #43240
@cmluciano you are looking at the k8s api, not the CRI api.
See the `ContainerStatus`in the CRI: https://github.com/kubernetes/kubernetes/blob/v1.6.1/pkg/kubelet/api/v1alpha1/runtime/api.pb.go#L1397

[2017-04-05 17:16] yujuhong commented on #44100
@caseydavenport kubelet has some extra safety mechanism that may cause extra network teardown calls. Did this cause any issue for you?

[2017-04-05 17:24] paultiplady commented on #34982
@pmorie is this in your wheelhouse? We seem to be consistently getting invalid permission masks on secret volumes in 1.5.4. Have a clean repro for you here.

This makes any container that runs an ssh server fail out of the box, since openssh polices permissions on its keys by default.

[2017-04-05 17:26] brmakana opened #44103 "StatefulSet pods lack name label"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature Request

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T04:57:25Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Majo

[2017-04-05 17:27] richfromm commented on #15702
I'm seeing something similar. kubernetes running in AWS EC2. If I `kubectl exec <pod-name> -i -t -- ash`, I get booted after about 60 seconds of no activity. Which is annoyingly short for an interactive session. Is this configurable?

Some message on disconnect might be nice as well. The only visible indication is that my shell prompt changes, and it can be easy to not realize that I'm now back at

[2017-04-05 17:28] blakebarnett commented on #42438
correct

[2017-04-05 17:39] cmluciano commented on #43240
sigh... one of these day's I'll figure out the proper paths for these things. Thanks for the link.

[2017-04-05 17:47] erictune commented on #25625
There would need to be a timeout or a way to cancel a drain that is taking too long.

[2017-04-05 17:49] cjcullen commented on #43478
I think that SGTM.

[2017-04-05 17:59] bostone commented on #43815
@autostatic the directory was empty and renaming it didn't help. @sjenning you playbook hangs, I created a ticket for you

[2017-04-05 18:11] Random-Liu commented on #41516
Updated that docker/docker#31262 (comment) is a red herring. The issue is actually fixed.

[2017-04-05 18:14] timothysc commented on #44063
gr8 work, the iptables issues has been a problem for a while.

re: flow based scheduling, happy to help get the firmament scheduler in place.  ;-)
/cc @kubernetes/sig-scheduling-feature-requests

[2017-04-05 18:17] danwinship commented on #18762
FWIW note that adding-an-APIGroup.md has not been updated for the autogenerated client changes

[2017-04-05 18:20] krmayankk commented on #44070
@kargakis can you point me to the fix. Its not easy for us to move quickly from 1.5.3 to 1.5.4 Also on a standalone deployment, minReady works, not sure what is special about this case. Do you see any issues in the configuration, or any issues from the conditions ?

[2017-04-05 18:22] smarterclayton commented on #15702
This is usually the load balancer timeout in front of an apiserver.  Check the timeout from the ELB

[2017-04-05 18:25] smarterclayton commented on #42002
Having the scheduler doing the scheduling means we can take away bind permission from components besides the scheduler, and then introduce openshift's admission controller that requires that permission to modify node name on pods, which then prevents bypassing scheduling for "normal" tenants and makes tolerations a viable security mechanism

[2017-04-05 18:30] smarterclayton commented on #44065
Why do all of the apis belong in one repo?  Convenience?

[2017-04-05 18:33] vishh commented on #44080
@justinsb nvidia driver installation requires a reboot and so even if you install the drivers after starting the kubelet, the restart would result in kubelet working correctly.

[2017-04-05 18:33] vishh commented on #44080
I think it would be useful to support hot-plugs too, but I'm hoping that will be a new feature instead of a bug in the current implementation.

[2017-04-05 18:36] vishh opened #44107 "Support for GPUs in Kubernetes"
This issue is meant to track all issues and features around managing GPUs in kubernetes. This issue is meant to reflect priorities, timeline and owners too.
## v1.7
- [x] All GPUs get exposed to privileged containers #46007 [Owner: @cmluciano, Reviewer: @vishh ]
  - kubernetes/kubernetes.github.io#3870
- [x] Enable GPU node e2e tests - Requires starting VMs in GCE with GPUs [ Owner: @vishh  ] #454

[2017-04-05 19:01] smarterclayton commented on #43600
Just to understand, omitting `--force-new-cluster` is not supported during migration?  Do we know exactly why we added that?

[2017-04-05 19:03] ramachittala commented on #38542
@k82cn
Hi my kubectl binary is configured at ubuntu 16.04 machine.
# kubectl get nodes
NAME            LABELS                                 STATUS
10.1.10.1   kubernetes.io/hostname=10.1.10.1  Ready,SchedulingDisabled
10.1.10.2   kubernetes.io/hostname= 10.1.10.2  Ready
10.1.10.3  kubernetes.io/hostname=10.1.10.3   Ready

- apiVersion: v1
  kind: Node
  metadata:
    creationTimestamp: 2017-03-0

[2017-04-05 19:05] #43478 closed

[2017-04-05 19:06] ravisantoshgudimetla commented on #33431
Update:
As of now, the tests are not exercisizing full predicates and priorities. I added a simple test for inter-pod affinity priority(Dummy nodes used-1000 pods scheduled-3000) and it doubled the hits for list operation from cache. It is probably something, that we need as a test-case.

[2017-04-05 19:26] #43778 closed

[2017-04-05 19:34] jayunit100 commented on #30305
Yeah, we're seeing this .

[2017-04-05 19:50] cmluciano commented on #44107
I'd like to add [NVML support](https://github.com/kubernetes/community/pull/414) to this list

I'm also working on some of the [TODOs in the NVIDIA pkg](https://github.com/kubernetes/kubernetes/issues/43240)

[2017-04-05 19:54] vishh commented on #43240
@cmluciano sync with me before you work on this issue. We can use either an internal Pod API which is checkpointed by the CRI or use device cgroups.

[2017-04-05 19:56] vishh commented on #44107
@cmluciano I'd prefer not tackling NVML until the overall integration for GPUs is finalized. Meanwhile, we can address all other open issues and improve testing, etc.

[2017-04-05 20:01] yasmineenis commented on #36152
--bind-address is not supported how to do?

[2017-04-05 20:05] crassirostris commented on #42718
@vishh Thanks!

Shim is modifying log file. If kubelet is also modifies log file, you need some synchronization between the two, or you will end up with lost/corrupted data. That's one of the reasons behind https://github.com/kubernetes/kubernetes/issues/38495 and https://github.com/kubernetes/kubernetes/pull/40634 . If only one entity modifies log file, everything becomes much simpler and robust.

[2017-04-05 20:14] caesarxuchao commented on #44065
I think there is only a small group of people who are the reviewers/gate keepers of apis, so it's convenient for reviewers if apis are in one repo.

What does it buy us to have multiple api repos?

[2017-04-05 20:20] freehan commented on #37316
FYI,
PR https://github.com/kubernetes/kubernetes/pull/42202 is in flight to update cni network plugin to comply with CNI v0.5 spec.

@cmluciano
Here are some networking related tests you can start with:
Basic tests for pod-to-pod communication (support both in node and regular e2e): https://github.com/kubernetes/kubernetes/blob/master/test/e2e/common/networking.go

More comprehensive tests (only s

[2017-04-05 20:20] vishh commented on #42718
What if shims do not need to perform log rotation?

Is this viable for all the agents out there? And what about auth? There is an open issue around restricting access to API objects from the node and kubelet might be restricted to only access the objects it needs to manage. Giving the same level of privileges to a logging agent is not ideal. With a file based API, logging agents need access to jus

[2017-04-05 20:21] Calpicow commented on #44059
Restarting kubelet gives the same result.

[2017-04-05 20:25] elazarl commented on #38228
(is there a separate issue for the bad certificate of goproxy? I've added a new certificate to goproxy, and I'll be happy to know if there are tools to verify it, unfortunately I do not have a lot of time to work on this issue, so any help would be welcomed)

[2017-04-05 20:25] caseydavenport commented on #44100
@yujuhong yeah.  The Calico plugin stores some state keyed off the pod name/namespace, which means that when it gets the DEL for the old infra container _after_ the ADD, then it cleans up that state and that Pod stops working.

There is some code [here](https://github.com/dcbw/kubernetes/blob/20e1cdb97c7399225a5a1db623c77faade73527a/pkg/kubelet/dockertools/docker_manager.go#L1507) that tries to cl

[2017-04-05 20:51] bsalamat commented on #36456
@Stono Thanks for the information. There seems to be an issue with spreading the pots. One more question: please make sure that you do not provide node names in your pod spec. It is unlikely that you do, but possible.

[2017-04-05 20:59] smarterclayton commented on #1462
I'll say this is a very common use case - we have lots of people deploying
stateful ish apps who need *something* that helps distinguish between the
reasons for a pod shutdown.

On Wed, Apr 5, 2017 at 12:21 AM, Kenneth Owens <notifications@github.com>
wrote:

[2017-04-05 21:01] davidopp commented on #36456
The way the Kubernetes scheduler chooses the node for a pod is by combining a lot of different factors. It's possible that the nodes are not all the same with respect to these other factors, and thus the pods are not spread across zones. One option is to add preferredDuringSchedulingIgnoredDuringExecution pod anti-affinity with selector matching the labels of this collection of pods TopologyKey ==

[2017-04-05 21:03] mml commented on #43600
IIRC, without that flag, etcd would sometimes hang during the intermediate steps of the upgrade process.  I will see if I can get the existing test to fail by taking the flag out, and if not I'll try to add a test that covers this.

[2017-04-05 21:12] kargakis commented on #44070
The main thing that can cause minReadySeconds to break availableReplicas is clock-skew between your master and the rest of your nodes. The fix for 1.5 was https://github.com/kubernetes/kubernetes/pull/42236 which works but is ugly. Once we move MinReadySeconds in the PodSpec, clock-skew will stop being a problem: https://github.com/kubernetes/community/pull/478. There is also another problem with

[2017-04-05 21:24] ymqytw opened #44111 "Change patch strategy of Env from merge to replace"
We are considering changing patch strategy of Env from merge to replace. After changing, it will preserve the order of the env list. It will fix the issues like #40373.
But the concern is if someone replies on the merge behavior. (i.e having an automate tool adding new environment variables to the list)

[code]

cc: @pwittrock @lavalamp

[2017-04-05 21:30] copejon opened #44112 "E2E Volume tags should not include [Feature:Volumes] || [Disruptive]"
@jeffvance @msau42

The `[Volume]` tags that span all volume tests in E2E are useful for spanning an array a storage test suites.  However, this point is defeated by the fact that they include `[Disruptive]` and `[Feature]` tests.  This creates a default test set that is guaranteed to have failures (Features) and likely to have to have flakes (Disruptive side effects).

Excluding `[Volume]` from t

[2017-04-05 21:37] liggitt commented on #44111
You can't change the strategy from merge to replace if there are any clients computing strategic merge patches from built-in structs (which there are). Those clients will only send adds/deletes, which a new server would apply as a replace, dropping all unmodified envvars

[2017-04-05 21:38] quentez commented on #33884
The solution of allowing services to have `node-selector` labels (or something similar) to decide what nodes to add to the ELB would be a great solution to this. We're using different instance groups for different workloads, and this results in not all nodes being equal to proxy web traffic.

[2017-04-05 21:44] shepp67 commented on #43515
I have a very similar problem running OpenShift 3.4 in AWS EC2 doing the same exact thing.
Brand new OSE install
[root@ip-172-31-40-126 master]# oc version
oc v3.4.1.12
kubernetes v1.4.0+776c994
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://172.31.40.126:8443
openshift v3.4.1.12
kubernetes v1.4.0+776c994

POD in question is the docker-registry (kind of important for OSE to work)
I've

[2017-04-05 21:46] davidopp commented on #36456
Of course the previous suggestion just adds a little more weight to the spreading criteria; it might still be overwhelmed by other differences between nodes. The only way to guarantee separate zones is to use requiredDuringSchedulingIgnoredDuringExecution pod anti-affinity, but that will run exactly one pod per zone, which you presumably don't want.

We are certainly open to other ideas about how

[2017-04-05 21:55] thockin commented on #44065
Does it hurt to go one step at a time?

On Wed, Apr 5, 2017 at 1:14 PM, Chao Xu <notifications@github.com> wrote:

[2017-04-05 21:58] copejon commented on #44112
@msau42 It's possible to manually do this, though it's not be immediately obvious if you expect all tests to pass e.g.
`--ginkgo.focus="\[Volume\] --ginkgo.skip="[Feature:.*]|\[Disruptive\]"`

I like the idea of a Volume superset with subsets.  It might look something like
`[Volume:Disruptive]`
`[Volume:Feature]`
`[Volume]`

Though this will lengthen describe line a bit.

[2017-04-05 22:04] jingxu97 commented on #43515
@shepp67 are you using glusterfs for registry-storage volume or other type of volume? Could you share us your kubelet log if possible over slack @jinxu? Thanks!

[2017-04-05 22:05] yujuhong commented on #44100
The GC will call teardown before removing the infra container to handle cases where the network wasn't teardown properly. Shouldn't the teardown return ok in this case and the GC just move on...?

/cc @freehan

Just FYI, the code here is not used as the default in 1.6.

[2017-04-05 22:06] thockin commented on #10921
Still beta in 1.6

On Wed, Apr 5, 2017 at 5:44 AM, Mario Kleinsasser <notifications@github.com>
wrote:

[2017-04-05 22:07] ConnorDoyle commented on #19082
/close

[2017-04-05 22:07] #19082 closed

[2017-04-05 22:08] msau42 commented on #44112
Another thing to consider is that moving towards putting all the e2e tests under component directories could help reduce the need for a separate [Volume] tag.  Although there would still be an issue with how to handle multi-component tests.

[2017-04-05 22:11] thockin commented on #43173
I would probably start by adding an annotation to Services that indicates
the LB name being used.  The compat issue is real, and if you take this
issue on you'll need to consider all the corner cases..

On Wed, Apr 5, 2017 at 12:06 AM, Abhishek Dasgupta <notifications@github.com

[2017-04-05 22:13] caseydavenport commented on #44100
The teardown does return OK.  I think the problem is that the teardown of the old infra container is occurring _after_ a new infra container has been networked for the Pod, which makes Calico think the Pod is being torn down when it's not.

Ah, right.  Could you point me at the default code?

[2017-04-05 22:13] MattMencel commented on #42026
I've gotten this working with Aleks' help.  I'll try to get my steps written up and put them in here shortly.

[2017-04-05 22:14] shepp67 commented on #43515
Hi Jing Xu,

Would you know where this log would be?
Or is the name kublet<something> so I may find it for you?

I just requested to join the slack channel, as soon as I'm signed in I will share the log.  Probably tomorrow as I'm on the east coast USA

Thank you!

Joel

[2017-04-05 22:19] yujuhong commented on #44100
Hmm...so the teardown doesn't use the infra container ID as a key?

We don't have any mechanism to distinguish whether the network has been torn down for a infra container. To err on the side of caution, we do perform extra teardown in many places. For example, the GC runs in a different thread and only look at the exited containers. If only the (name, namespace) tuple is used to identify a networ

[2017-04-05 22:19] mikkeloscar commented on #38228
@elazarl and others I have created a PR #44113 to update the goproxy dependency which fixes the crash when running e2e tests as described above.

[2017-04-05 22:26] everett-toews commented on #27768
Good advice here on the topic

https://kubernetes.io/docs/concepts/jobs/run-to-completion-finite-workloads/#job-termination-and-cleanup

[2017-04-05 22:28] lukasheinrich commented on #30243
hi @soltysh @nickschuch a bunch of people on our side (CERN) are also interested in this ( @diegodelemos @rochaporto) and we'd be interested to help.

[2017-04-05 22:34] jimmycuadra commented on #40182
Note that this is a problem if someone uses an OS where Docker 1.13+ was installed initially and then they manually downgraded to Docker 1.12 for Kubernetes support. Docker doesn't clean up after itself on downgrade and leaves things in a state that breaks Kubernetes.

[2017-04-05 22:41] jingxu97 commented on #43515
For you are using GKE with GCI image, you can use "journalctl -u kubelet >
/tmp/kubelet.log" to get the log. Otherwise, it should be in
/var/log/kubelet.log"

On Wed, Apr 5, 2017 at 3:14 PM, shepp67 <notifications@github.com> wrote:

--
- Jing

[2017-04-05 22:48] caseydavenport commented on #44100
Nope.  This was originally done in Calico to work around the fact that older versions of Kubernetes would call "setup" multiple times for the same Pod but with different container IDs - it allowed the Calico plugin to track and cleanup resources for stale Pods without leaking.

Is there a reason that the infra containers aren't removed at the same time that the network is torn down?

The proposed

[2017-04-05 22:51] jeffvance commented on #44112
@msau42 ... and all volume tests minus (feature + disruptive).
I *believe* the main (only?) value of "[Volume]"  is as a target for `--gingko.focus` used primarily by developers. Do you know if CI uses `focus=[Volume]`?
If CI does not focus on [Volume] then I am in favor of this pr
If CI does use focus on [Volume] then I like Michelle's suggestion. The tags could be:
[code]
I'm trying to figure ou

[2017-04-05 22:56] msau42 commented on #44112
CI does not use the [Volume] tag.  It's just meant as a convenience for storage developers to run all the volume-related tests if they're changing some common code.

[2017-04-05 23:01] davidopp commented on #1462
Yes I agree this is a valid use case.

[2017-04-05 23:34] yujuhong commented on #44041
Reoppened this issue to ensure we cherrypick the fix to the 1.6 branch

[2017-04-05 23:42] feiskyer opened #44118 "Add node e2e test for security context"
We have e2e tests for security context but it is not enabled anywhere currently (#16456).

We should also add security contexts to node e2e tests and enabled by default for all PRs (https://github.com/kubernetes/kubernetes/pull/44097#issuecomment-291923300).

- [x] hostPid #44119
- [x] hostNetwork #45004
- [x] hostIPC #45006
- [x] Capabilities
- [x] Privileged #48857
- [x] ReadOnlyRootFilesystem #

[2017-04-05 23:43] feiskyer commented on #44118
/assign

[2017-04-05 23:52] jeffvance commented on #44112
FWIW this grep finds all [Volume] tests that are not [Feature:Volumes]:
`grep -R -P '(?!\[Feature:Volumes\])\[Volume\]' test`

[2017-04-06 00:02] msau42 commented on #44112
I would prefer that the tags not be mutually exclusive, and developers can decide at their discretion what tags to skip.  It adds some extra burden if you want to add/remove a tag, and then remember that you have to add/remove the [Volume] tag also.

[2017-04-06 00:05] compleatang commented on #42616
Just faced same issue. Thanks for logging the fix, as this had me stuck for hours.

[2017-04-06 00:10] jeffvance commented on #44112
Today we can do:
` --ginkgo.focus='[Volume] --ginkgo.skip='[Feature:Volumes]|[Disruptive]'`

[2017-04-06 00:30] gyliu513 commented on #44096
After remove the `_output` and rebuild, it works well.

[2017-04-06 00:30] #44096 closed

[2017-04-06 00:41] yujuhong commented on #44100
In CRI (the new implementation), kubelet is only aware of the `PodSandbox` concept, which may be implemented as an infra container, a VM, or something else. If it was a VM, deleting the` PodSandbox` would end up deleting all the containers in it. kubelet can't cope with this just yet because 1) it uses the exited containers as checkpoints to know whether it should start a new one, and 2) in the cu

[2017-04-06 00:43] #31129 closed

[2017-04-06 01:13] yujuhong commented on #44100
@freehan I assigned this to you for now since you have more context in this area and your opinions are wanted :-)

[2017-04-06 01:36] mengqiy opened #44123 "Make strategic merge patch versioned"
Make strategic merge patch versioned.
Two options about how to use this:
1) Client discovers the patch versions that server supported. Then client chooses the latest version that both support.
2) Client sends the latest patch version. The server rejects the new patch (maybe returns 400). The client falls back to the earlier version.

We only support 1 version skew. So we only need to maintain 2 ve

[2017-04-06 02:17] k82cn commented on #39559
@timothysc , I'm reviewing the coverage of scheduling to make sure this will be finished in 1.7.

BTW, some pkg is not deserved an improvement to me; I'll leave comments for them and let you review them :).

[2017-04-06 02:31] iT2afL0rd commented on #37625
I am also run into this error.

kubenetes cluster version:
[code]

glusterfs service and ep:
[code]

The pv and pvc are statically provisioned:
[code]

pvc
[code]

And I got no errors in glusterfs volume logs, the gfs volume works normally both inside and outside of the cluster.

[2017-04-06 03:11] k82cn opened #44127 "Flaky SchedulerPriorities e2e"
Failed: [k8s.io] SchedulerPriorities [Serial] Pod should be schedule to node that don't match the PodAntiAffinity terms {Kubernetes e2e suite}

[code]

Failed: [k8s.io] SchedulerPriorities [Serial] Pods should be scheduled to low resource use rate node {Kubernetes e2e suite}

[code]

[2017-04-06 03:12] k82cn commented on #44127
xref #37898

[2017-04-06 03:12] k82cn commented on #44127
/cc @kubernetes/sig-scheduling-bugs

[2017-04-06 03:20] strugglingyouth opened #44128 "kubernetes 1.6 use pod affinity/anti-affinity in deployment yaml don't work,and use pod yaml is ok."
**$ kubectl version**
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.0", GitCommit:"fff5156092b56e6bd60fff75aad4dc9de6b6ef37", GitTreeState:"clean", BuildDate:"2017-03-28T16:36:33Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}

**$ etcdctl version**
etcdctl version: 3.1.3
API version: 3.1

I set six tor,each tor more than one machine, first create deployment di

[2017-04-06 03:45] #43828 closed

[2017-04-06 04:03] justinsb commented on #44080
AFAICT @vishh you do _not_ need to reboot to install the nvidia driver.  You can see the WIP docker image I'm using to install the nvidia drivers here: https://github.com/kubernetes/kops/pull/2298/files

What technique are you using to install the nvidia drivers?  It might be that mine is broken (subtly or otherwise!)

[2017-04-06 04:33] Zhomart commented on #22721
It didn't work for me too when static ip address was global.

[2017-04-06 04:37] johnwchadwick commented on #30518
Interestingly, the problem has shifted. Now we can in fact use rules to do host-based routing.
https://aws.amazon.com/blogs/aws/new-host-based-routing-support-for-aws-application-load-balancers/

Coupled with the increased rule limit, it would seem that ALB is now entirely suitable for implementing Ingress controller.

[2017-04-06 05:09] jzhu077 opened #44130 "Unable to use kubectl to manage cluster in terminal other than the one that runs "kubeadm init""
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
Yes and No (I cannot use Troubleshooting documentation in my case)

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
kubectl and Kubeadm i

[2017-04-06 05:29] jzhu077 commented on #44130
###Please close this issue.

I have just realise what the problem is after I post this issue. All you need to do is to set the environment variables in other window
[code]

[2017-04-06 05:29] #44130 closed

[2017-04-06 05:36] nickschuch commented on #30243
No worries, I've blocked out a couple of hours for tomorrow, will have a first crack at the proposal and go from there.

@lukasheinrich that would be awesome!

[2017-04-06 05:45] shiywang commented on #42569
/assign @shiywang

[2017-04-06 05:47] k82cn commented on #44128
In deployment yaml, the annotation key should be "scheduler.alpha.kubernetes.io/affinity"; and I'd suggest to use filed in 1.6.

[2017-04-06 06:01] brendandburns opened #44132 "Ingress backend change results in 502 for GCE Ingress"
I was switching an existing `Ingress` resource from one Kubernetes `Service` to a different `Service`

After I updated the `Ingress` object, the GCE L7 LB had 30-90 seconds of time where it was returning 502.

Perhaps this is a problem in the GCE L7 LB, but it seems like this shouldn't happen.

[2017-04-06 06:04] #42620 closed

[2017-04-06 06:18] #43969 closed

[2017-04-06 06:29] spxtr commented on #43977
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/44048/pull-kubernetes-e2e-gce-non-cri/6500/

[2017-04-06 06:34] fejta commented on #43781
/unassign
/assign @deads2k @caesarxuchao @lavalamp @smarterclayton @liggitt @sttts
Per OWNERS in staging/src/k8s.io/kube-aggregator/OWNERS

[2017-04-06 06:35] fejta commented on #43155
This is because the GKE jobs are using an old kubekins binary

[2017-04-06 06:35] spxtr commented on #43977
See flakes on [testgrid](https://k8s-testgrid.appspot.com/google-gce#gce&include-filter-by-regex=PD%20should%20be%20mountable). This test needs to be quarantined until it's deflaked.

[2017-04-06 06:42] strugglingyouth commented on #44128
@k82cn  The yaml as  follow, define replicas is 7,it is still not effective, a total of six tor only assigned to the four.I have a total of 10 nodes, and then scale  replicas to 10, found that each node has a pod, it is still allocated by node.

kind: Deployment
metadata:
    name: zk-test
spec:
  replicas: 7
  template:
    metadata:
      labels:
          app: zk-test
      annotations:

[2017-04-06 06:43] prateek2408 commented on #5607
@cmluciano Thanks for the info. Currently as there is no support to pass a specific GPU card to a kubernetes pod then for a workaround if I launch a kubernetes pod with privileged mode then I would get access to all the PCI resources.

Is my understanding correct ?, If yes have you tried it ?

[2017-04-06 07:08] hjacobs commented on #30518
@johnwchadwick yes, ALB now has host based routing. I believe we will keep our [Skipper + ALB Ingress Controller setup](https://kubernetes-on-aws.readthedocs.io/en/latest/admin-guide/kubernetes-in-production.html#ingress) as the rule limit of 75 is also arbitrary (and some user has 400 (!) Ingress rules..). Also AWS charges per rule evaluation (after first 10 free rules): https://aws.amazon.com/el

[2017-04-06 07:11] hjacobs commented on #30518
It might make sense to support ALB evaluated host/path rules in https://github.com/zalando-incubator/kube-ingress-aws-controller --> https://github.com/zalando-incubator/kube-ingress-aws-controller/issues/47

[2017-04-06 07:27] resouer commented on #44063
@timothysc  I paid attention to firmament for a period of time, but not quite get it's value adding to kubernetes. Would you mind to explain what problem flow based scheduling can solve in current Kubernetes scheduler?

[2017-04-06 07:31] k82cn opened #44135 "Remove hostname/subdomain annotation"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
improvements

**Kubernetes version** (use `kubectl version`):
master branch

**Description**:

According to the following TODO comments, it's better to remove those annotation.

[code]

[2017-04-06 07:52] xlgao-zju commented on #23920
Setting `NET_PLUGIN=cni` to use cni network will cause the hostport not to work.
Setting `NET_PLUGIN=kubenet` to use kubenet, then the hostport works fine.

[2017-04-06 07:52] wojtek-t commented on #43600
@mml @smarterclayton - I thought a little bit about it and I think it might not be needed (though it needs careful investigation).

The reason I'm saying it may not be needed is that @mml was doing his upgrade testing based on data coming from backups. And unless I'm missing something I think that Matt wasn't doing proper "restore from backup before" trying the migration. Which might be the proble

[2017-04-06 08:13] smarterclayton commented on #43600
Matches my assumption.

On Apr 6, 2017, at 8:52 AM, Wojciech Tyczynski <notifications@github.com>
wrote:

@mml <https://github.com/mml> @smarterclayton
<https://github.com/smarterclayton> - I thought a little bit about it and I
think it might not be needed (though it needs careful investigation).

The reason I'm saying it may not be needed is that @mml
<https://github.com/mml> was doing his upgrad

[2017-04-06 08:30] opsnull opened #44140 "kubelet unable to parse docker version "17.04.0-ce""
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

Unable to parse docker version

---

**Is this a BUG REPORT or FEATURE REQUEST?** (

[2017-04-06 08:44] LQkinglear commented on #24668
@dims did you have solve this problem？
{
"kind": "Status",
"apiVersion": "v1",
"metadata": {},
"status": "Failure",
"message": "Upgrade request required",
"reason": "BadRequest",
"code": 400

Connection #0 to host 127.0.0.1 left intact
}

[2017-04-06 08:49] abdasgupta commented on #43173
Sure @thockin,  I would like to take this issue. But before that, how the cloudprovider code is tested? Shall I add more unit tests? Or is there any other way we can test out the corner cases? Appreciate the help.
Thanks!

[2017-04-06 08:59] kevin-wangzefeng commented on #40358
/cc @alfred-huangjian @kubernetes/huawei

[2017-04-06 09:52] #43864 closed

[2017-04-06 09:53] lukaszo opened #44144 "Make sure that controllers are not adopting children that are marked for deletion"
This is a fork from https://github.com/kubernetes/kubernetes/pull/43077#issuecomment-292108152

I think title is self explanatory.

ping @kubernetes/sig-apps-misc

[2017-04-06 09:54] lukaszo commented on #44144
It looks like adding a check to the `ClaimPods` function should be enough. I will provide a fix

[2017-04-06 09:56] dims commented on #24668
@LQkinglear : yes, see calls to websocket from python in client-python repo - https://github.com/kubernetes-incubator/client-python/search?utf8=%E2%9C%93&q=websocket_call&type=

[2017-04-06 10:00] rvrignaud opened #44145 "Modeling distributed stateful application state vs pod state"
**Is this a request for help?** : no

**What keywords did you search in Kubernetes issues before filing this one?** : I scanned every `area/stateful-apps` issues

---

**Is this a BUG REPORT or FEATURE REQUEST?** : Feature Request

We are currently using statefulset to manage a distributed datastore (Elasticsearch). We would like to use PodDisruptionBudget to ensure that draining node, reschedulin

[2017-04-06 10:00] minherz opened #44146 "PVC does not work correctly when deploy is installed on Azure ACS agent that runs Windows"
**What keywords did you search in Kubernetes issues before filing this one?** `windows` `azure`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`): `Linux k8s-master-E95B1

[2017-04-06 10:23] dims commented on #43781
This is a funny one, we seem to be running tests in the vendorized code.

[2017-04-06 10:23] jsravn commented on #38456
Has anyone investigated using SDN (openflow) and openvswitch? Then we could have a centralised controller in controller manager which basically manages all this stuff dynamically, with an openvswitch per node. It would be pretty straightforward to add sophisticated load balancing as well, draining, and lots of other things.

[2017-04-06 10:39] soltysh commented on #11505
/sub

[2017-04-06 10:41] soltysh commented on #30243
@lukasheinrich awesome, the more people will give feedback now when we're shaping the design the better!

[2017-04-06 10:48] erikbgithub opened #44148 "<repo>/kubernetes/kubernetes/blob/master/cluster/addons/addon-manager/README.md"
Full link: https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/addon-manager/README.md

This readme should also explain how to run it after building, shouldn't it? Or at least link to a place that describes it. Thanks, guys!

Btw, this is the second time I post a documentation related issue. If someone would give me some hints how to, I'd also like to help (but of course still woul

[2017-04-06 10:50] erikbgithub commented on #44148
This guide also just references the readme instead of telling the user how to deploy stuff: https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/

[2017-04-06 10:51] erikbgithub commented on #44148
This one is even called "INSTALL" but doesn't explain how to: https://kubernetes.io/docs/admin/addons/

[2017-04-06 10:59] deitch opened #44151 "kubelet ignores CN when SAN are present in api server tls certificate"
**Is this a request for help?** No

**What keywords did you search in Kubernetes issues before filing this one?** kubelet tls cn

---

**Is this a BUG REPORT or FEATURE REQUEST?** Bug

**Kubernetes version** (use `kubectl version`): 1.6.1

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CoreOS 1298.7.0
- **Kernel** (e.g. `uname -a`): 4.9.1

[2017-04-06 11:02] sttts commented on #43781
@dims that are our symlinked staging repos, not "real" vendored code.

[2017-04-06 11:39] irfanurrehman commented on #42761
How about using a ":" as the key:value separator.
for example:
[code]
Any of you have come across, any arguments (or possibility of them in future) which might have a ":" in use.
If this sounds ok, I will raise a PR ASAP, and update the documentation too.

[2017-04-06 11:43] anteyk commented on #10620
Hi team.
I faced with simillar to robin-hunter's issue
kubectl describe serviceaccounts
Name:           default
Namespace:      default
Labels:         <none>
Image pull secrets:     <none>
Mountable secrets:      default-token-9sm84
Tokens:                 default-token-9sm84

kubectl get secrets
NAME                  TYPE                                  DATA      AGE
default-token-9sm84   kuber

[2017-04-06 11:47] augabet opened #44153 "Missing both SANs and Key Usage with TLS Bootstraping"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-04-06 11:48] irfanurrehman commented on #42559
@mawentao02 did you try running ur base cluster apiserver enabling the RBAC addon (as u mentioned --authorization-mode=RBAC).
If not can u please try it and let us know the result.

[2017-04-06 11:51] AndyMoore111 opened #44154 "Response codes in OpenAPI spec don't correspond to actual API responses"
As discussed with @mbohlool response codes in swagger.json are not representative of what's actually sent back when making an API request

Tested on 1.5.4, but I believe this is the same for all versions

example:

within the spec for creating a namespace:

[code]

When you make a request a successful response is actually a 201

[2017-04-06 11:56] dims commented on #43781
Ah gotcha @sttts - read the fine print on https://github.com/kubernetes/kube-aggregator now.

[2017-04-06 12:21] dunty commented on #31351
Pls add this solution to kube-dns's doc for  centos and redhat.

[2017-04-06 12:39] lukaszo opened #44155 "DaemonSet updates in 1.7"
This issue will track DaemonSet update related work in k8s 1.7 release.

Tasks to do:
- [x] DaemonSet history (#45924)
- [x] `kubectl rollout` commands: history, undo (#46144)
- [x] `kubectl delete` should kill all histories when DS is deleted cascadingly, and should orphan histories when DS is deleted non-cascadingly

Maybe to do:
- [ ] pause update
- [ ] versioned DaemonSet (https://github.com/k

[2017-04-06 12:49] deitch commented on #22351
@liggitt : so `--service-account-key-file` is the certificate, *not* the CA signing certficate?

That does make it more complicated to deploy. With the other components (client auth, e.g.), each master server has its own public/private keypair. As long as the cert is signed by the same CA, all is good.

With this, it looks like it must be the same *key* (not signed by the same *CA*), that means th

[2017-04-06 12:55] kargakis commented on #44145
One solution would be to have a controller/operator that adjusts your PDB accordingly, eg. in a state where all Pods are Ready but Elasticsearch is red or yellow, your PDB.spec.minAvailable should equal the amount of the ES replicas.

Some related links:
https://github.com/kubernetes/kubernetes/issues/5164
https://coreos.com/blog/introducing-operators.html

cc: @kubernetes/sig-scheduling-misc @kub

[2017-04-06 13:31] crassirostris commented on #42718
@vishh By the way, @piosz noted that we also have monitoring and it also requires metadata. It actually makes sense to have a similar approach in both cases, especially considering that some agents can serve both metrics and logs.

Some entity has to perform log rotation. Not shim -> synchronization problem, that's my point.

For some agents it might be less, for some more. But it's not super-comp

[2017-04-06 13:42] luxas commented on #42002
The primary issue we discussed in sig-cluster-lifecycle was that currently a pod network DS is deployed regardless of Node Ready/NotReady. When we switch to the scheduler this won't happen.

But I think switching to tolerations for reporting Ready/NotReady status will fix that issue

[2017-04-06 13:48] justinsb opened #44156 "Consider deprecating etcd2"
In order to start adopting etcd3 features that are not supported by etcd2, etcd2 support needs to be deprecated and removed.  This issue will track progress towards deprecating etcd2.  Per our [deprecation policy](https://kubernetes.io/docs/home/deprecation-policy/), once the deprecation is announced a 1 year clock will begin, and after that year the next release can remove support for etcd2.

Ste

[2017-04-06 13:51] liggitt commented on #22351
It is a private key, not a certificate. Only the controller manager needs the private key, which it uses to sign the tokens.

The masters only need the public key portion in order to verify the tokens signed by the controller manager.

[2017-04-06 13:58] fgrzadkowski commented on #44095
Should we file an issue in kubernetes/features repo?

[2017-04-06 14:07] sgmiller opened #44157 "Support AWS ELB Host based routing"
Amazon recently introduced host based routing for ELB v2.  Kubernetes should support modifying rules on one or more ELB instances to add host matching routes to Kubernetes services, in addition to its existing support for creating and removing entire dynamic ELB instances.  This has at least a couple of benefits:

- Tighter security, as K8S could be granted IAM access just to the CreateRule/Delete

[2017-04-06 14:10] liggitt commented on #44153
this is working as designed. the bootstrap cert is only intended to be used as a client cert.

[2017-04-06 14:14] nstott opened #44158 "expose a statefulset's serviceName in the valueFrom/fieldRef"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

serviceName fieldref

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one)

[2017-04-06 14:22] liggitt commented on #44123
This adds another dimension of versioning to an aspect of the API that is already quite complex... what problem is this trying to solve?

One version skew for kubectl, but not for arbitrary clients. I would not expect an API request that worked in 1.5 to stop working in 1.7

[2017-04-06 14:22] augabet commented on #44153
OK, thank you for your feedback. Should I understand that the TLS Bootstrapping feature is not fully terminated, and should not be used for now. Am I correct ?

Regards.

[2017-04-06 14:24] piosz commented on #44095
How about starting with just brainstorming here and once we know what we want to do I'll file an issue in features repo?

[2017-04-06 14:41] kargakis commented on #44158
@kubernetes/sig-apps-feature-requests

[2017-04-06 14:42] marun opened #44160 "[Federation] Federation should fully support clusters with a previous API version."
As per a [thread](https://groups.google.com/d/msg/kubernetes-sig-federation/AmByUrm1rz0/vNQUdlv7AgAJ) on the mailing list, it appears that federation will only be possible between a cluster whose API version is >= the API version of the federation control plane.  This suggests that the control plane should be explicitly checking the API version indicated for a member cluster and refusing to federa

[2017-04-06 14:46] pmorie opened #44161 "Allow pods to opt out of mutation via PodPresets"
`PodPreset` can make changes in a pod's spec that can have security implications, especially if the pod runs with elevated permissions or capabilities.  It should be possible to annotate a pod to indicate that that pod should not be manipulated by `PodPreset`.

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io

[2017-04-06 14:50] timothysc commented on #44063
@resouer speed at scale and rescheduling.

From @quinton-hoole 's talk, linked above, it looks like huawei has been prototyping this.

[2017-04-06 14:54] quinton-hoole commented on #38897
Here's a very charismatically presented motivation by @kelseyhightower for why cascading deletion should not be the default:

https://youtu.be/g5IJD0UwBWU?t=9m16s

Q

[2017-04-06 14:54] perotinus commented on #42761
@marun @irfanurrehman Couldn't we also fix the issue with the marshaling code? Instead of splitting on every `=`, it would scan for a comma, then split on the first `=` after that comma. The state machine is a bit more complicated, but from a user's point of view it should work as expected, whereas using colons makes for a bit of an odd experience.

For that matter, isn't there a Go library that c

[2017-04-06 15:00] caseydavenport commented on #44100
Yeah, this is exactly the scenario I'm hitting, and exactly the scenario that pushed us to originally pick name/namespace as the identifying information way back when.

It would be possible, though a bit unfortunate for compatibility / upgrade reasons.  If there's a way to make k8s handle this scenario that's not atrocious, that would be a much better solution for users, but understandable if that

[2017-04-06 15:03] kargakis commented on #44103
@brmakana which component adds name labels by default?

cc: @kubernetes/sig-apps-feature-requests

[2017-04-06 15:13] timothysc commented on #44127
Where possible we should leverage the canonical results.  I find these automated bot results to be worthless..

xref: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=SchedulerPriorities

[2017-04-06 15:16] liggitt commented on #44111
I don't think it is viable to change the API this way and stay backwards compatible

[2017-04-06 15:25] quinton-hoole commented on #44063
@resouer @timothysc Yes, I can confirm that we're working on a Firmament scheduler, and will upstream it as soon as it's in good enough shape.  We might have an initial implementation in the next few weeks.

[2017-04-06 15:33] quinton-hoole commented on #17470
We have a tested implementation of IPVS kubeproxy in https://github.com/kubernetes/kubernetes/issues/44063
Busy tying all of the related issues and PR's together now.

[2017-04-06 15:34] rpothier commented on #40965
Is this expected to work on a local cluster? I'm seeing the port forwarding tests hang with a local cluster.

[2017-04-06 15:37] quinton-hoole commented on #38969
We have a tested implementation of IPVS kubeproxy in https://github.com/kubernetes/kubernetes/issues/44063
Busy tying the various related issues and PR's together now.

[2017-04-06 15:40] deitch commented on #22351
That was my question. Why, with everything else, is it proper CA structure, but here it is private key? It means I need to distribute the keys to all master nodes in the cluster. I already have to distribute a CA key (so the masters can sign their server certs), would be good to have it follow the same philosophy - as long as your token is a cert signed by the CA, you are good.

[2017-04-06 15:41] quinton-hoole commented on #37396
We have a tested implementation of IPVS kubeproxy in https://github.com/kubernetes/kubernetes/issues/44063
Busy tying the various related issues and PR's together now.

[2017-04-06 15:48] deepak-vij commented on #44063
Hi folks, we are currently working on implementing Firmament Scheduler as part of K8S scheduling environment. We will create a new separate issue to track the progress and provide updates etc. thanks.

[2017-04-06 15:50] Smana commented on #27081
@pstadler i've tried your solution but it creates a new replicaset, without deleting the old one ...

[2017-04-06 15:54] timothysc commented on #42002
@davidopp enqueue for next sig meeting.

[2017-04-06 16:02] sureshvis commented on #44063
@quinton-hoole thanks for sharing.  Waiting to see the design proposal.

In term of Healthcheck, every worker doing health check across all pods to keep the table upto date?,   how are you planning to handle this @scale ?

[2017-04-06 16:02] liggitt commented on #22351
You can't use a certificate as token auth.

[2017-04-06 16:07] deitch commented on #22351
That's what I don't get. Why not? Everything else uses certs and validates using a CA. This even has the (api) infra in place with `--service-account-private-key-file` and `--service-account-key-file` which accept RSA private key and private key or signed cert.

Why does the controller not follow the same pattern and instead of issuing a token, issue a cert, and have the API server validate it wit

[2017-04-06 16:12] #39032 closed

[2017-04-06 16:13] Smana commented on #27081
adding an annotations didn't worked too

[2017-04-06 16:14] quinton-hoole commented on #44063
cc @haibinxie

[2017-04-06 16:18] ilackarms opened #44164 "Allow compression of json response body using Accept-Encoding header"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
compression, gzip, response, json

---

**Is this a BUG REPORT or FEATURE REQUEST?**

[2017-04-06 16:20] quinton-hoole commented on #44063
To be clear, @haibinxie did all the hard work here.  Please direct questions to him.

[2017-04-06 16:20] deitch opened #44165 "kubectl apply fails on create AlreadyExists even though the command was apply"
**Is this a request for help?** No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kubectl apply creating upsert

---

**Is this a BUG REPORT or FEATURE REQUEST?**  Bug (I think)

**Kubernetes version** (use `kubectl version`): 1.6.1

**Environment**:
- **Cloud provider or hardware configuration**:

[2017-04-06 16:25] davidchua commented on #44153
@liggitt not sure if I understood what do you mean that it is intended only to be used as a client cert. Does this mean that the bootstrap function is broken? How do we go about it if that's the case?

[2017-04-06 16:26] cmluciano commented on #5607
@prateek2408  I have not tried that myself. Are you interested in selecting a specific family of GPU cards on the node or are there more advanced topology mechanisms that you need?

[2017-04-06 16:29] #43444 closed

[2017-04-06 16:30] yujuhong commented on #30039
Let's see if we can take on this in v1.7.

/cc @Random-Liu, this information would be good to have for containerd integration as well.

[2017-04-06 16:46] liggitt commented on #44153
it is not broken, it only bootstraps client certs in 1.6

work to request server certificates via the CSR API is planned for 1.7

for 1.6, you can:
* provide the kubelet with serving certs signed by the `--kubelet-certificate-authority` given to the apiserver yourself (using the `--tls-cert-file`/`--tls-private-key-file` args to the kubelet) so it doesn't make self-signed serving certs
* omit the

[2017-04-06 17:04] arthur0 commented on #43815
Hello @sheerun. The kubeadm v1.6.1 works to me on Ubuntu 16.04. I used flannel as overlay network.
you can see step-by-step here: https://asciinema.org/a/bfdhf5l56d4ovec9sv5gvko9e

[2017-04-06 17:13] krousey opened #44168 "PV upgrade test is failing at master"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-latest-upgrade-cluster/1106

[code]

This is upgrading from the latest 1.6 branch to master.

[2017-04-06 17:13] krousey commented on #44168
@msau42 If you're not the right person to look into this, please find someone who can.

[2017-04-06 17:15] kow3ns commented on #44103
@brmakana This sounds more like a feature request than a bug report. I have a few questions, and I'd like to understand your use case better.

1. How are you standing up a service per pod?
     1. Are you manually creating each service?
     1. How does this interact with scaling?
1. Are you trying to solve the problem of having a unique, public network identity for each Pod? If so, I think this i

[2017-04-06 17:31] rikatz commented on #18982
+1

[2017-04-06 17:44] quinton-hoole commented on #44160
Maru, it's not entirely clear to me that this is not approximately "working as intended" from the client's point of view (other than the e2e tests failing of course, but that's a separate matter.  And presumably this leads to an infinite update loop in the controller, and that should be fixed, but that's not very visible to the client).  If this is the case, I'd suggest renaming this issue to some

[2017-04-06 18:00] liggitt commented on #44161
I don't think we'd want a magic annotation, but something that surfaces and works with the existing selector-based exclusion

[2017-04-06 18:02] liggitt commented on #44165
it is applied client-side. if it checks, the object does not exist, attempts to create, and gets an AlreadyExists error, I suppose it needs to restart the process since there is no guarantee the new object created in the meantime matches the manifest that was requested to be applied

[2017-04-06 18:02] liggitt commented on #44165
cc @kubernetes/sig-cli-bugs

[2017-04-06 18:08] liggitt commented on #44151
Per RFC6125, the CN should only be consulted when there are no DNS or IP SANs: https://tools.ietf.org/html/rfc6125#section-6.4.4

The golang TLS stack follows this RFC when verifying serving cert hostnames: https://golang.org/src/crypto/x509/verify.go?s=13379:13431#L456

[2017-04-06 18:09] deitch commented on #44165
So sounds like my understanding of it as a timing issue is likely correct. Ah well. In the meantime, I added a wrap around it to catch and retry, so it can handle a few failures. Since I only am starting 3 master nodes, 3 retries with a 10 second backoff should be far more than enough to handle it.

Still and all, it probably is right to have the upsert logic handled server side?

Thanks @liggitt

[2017-04-06 18:09] derekwaynecarr commented on #44160
@quinton-hoole -- if the goal of federation is to federate across each member cluster, it seems that at minimum, the federation control plane must be <= to the version of each member cluster.  let me provide an example.  in k8s 1.6, pod spec has a field "toleration".  if i send a pod spec to a federation 1.6 server that uses toleration, it will try and migrate that to each member cluster.  if i ha

[2017-04-06 18:10] #44151 closed

[2017-04-06 18:12] deitch commented on #44151
Dang, @liggitt you got me on that one. Never noticed that in the RFC, so I guess the golang implementation is correct. Given how CN is interpreted commonly, I think that was not the wisest way for the RFC to go, but so be it.

You beat me to it, I was about to close the issue. Thanks.

[2017-04-06 18:18] MikeSpreitzer commented on #44063
IPVS only deals with IP, not transport protocols, right?  A k8s service can include a port transformation.  A Service object has a potential distinction between `port` and `targetPort` in the items in the `spec.ports` list.  And an Endpoints also has a `ports.port` field in items in the `subsets` list.  Can your implementation handle this generality, and if not, what happens when the user asks for

[2017-04-06 18:21] vishh commented on #42718
Yup. Having metadata in a file would help monitoring systems too.

Sure! I'm saying that there is a strong reason for having kubelet deal with rotation and not having runtimes perform rotation. I hope there is no disagreement on that.

Here is a partial patch that I started working on in the past to get filebeat to work for k8s and GCL - https://github.com/elastic/beats/compare/master...vishh:k8s-

[2017-04-06 18:26] brmakana commented on #44103
@kargakis Sorry, I'm new to k8s and am not familiar with the internals.

@kow3ns Sure if you think this should be a feature I can change. It felt like a bug though, because 'kubectl get pods', etc makes it seem like the StatefulSet pods are like any other pods and have the 'name' label (otherwise, how does kubectl know what to print for 'name') when they're slightly different.

Right now to work a

[2017-04-06 18:40] jingxu97 opened #44172 "Volume Snapshot in Kubernetes - Snapshot API Object discussion"
Inspired by @MikaelCluseau's suggestion, The following is a list of discussions related to Snapshot API object design.

1. Use new API objects for snapshot or not
I think having new API objects to represent snapshots will be very convenient to support different operations on snapshots. The possible operations could be create snapshot from volume, create new volume or restore volume from snapshot,

[2017-04-06 18:45] jingxu97 commented on #44172
cc @kubernetes/sig-storage-api-reviews @kubernetes/sig-storage-feature-requests @kubernetes/sig-storage-misc

[2017-04-06 18:50] piosz commented on #42718
I think it's very inconvenient for monitoring agents/components to read metadata from files.

[2017-04-06 18:54] wattsteve commented on #44172
cc @tsmetana

[2017-04-06 18:58] quinton-hoole commented on #44160
Date: Thu, Apr 6, 2017 at 11:12 AM
Subject: Re: [k8s API machinery] Re: Backwards compatible federation
To: Quinton Hoole <quinton@hoole.biz>
Cc: Derek Carr <decarr@redhat.com>, Jonathan MacMillan <dvorak@google.com>, K8s API Machinery SIG <kubernetes-sig-api-machinery@googlegroups.com>, kubernetes-sig-federation <kubernetes-sig-federation@googlegroups.com>

On Thu, Apr 6, 2017 at 10:32 AM, Quinto

[2017-04-06 19:04] quinton-hoole commented on #44160
@marun I'm no K8s API versioning expert but @nikhiljindal is, and can hopefully confirm.

Continuing our v1.5 vs v1.6 example, if a v1.5 client connects to a v1.6 cluster, all API responses are converted to v1.5 (internally by API the server) on the return path.  That is the "standard mechanism" I referred to above.

Some details in https://github.com/kubernetes/kubernetes/issues/4874

@nikhiljind

[2017-04-06 19:10] erictune commented on #1899
Thread about determining if a deployment is complete.  May need to distinguish between controller being ready vs update is complete: https://groups.google.com/forum/#!msg/kubernetes-dev/dFEDwhCBqCE/Fp6NG2AWDQAJ

[2017-04-06 19:11] divyenpatel opened #44175 "unable to retrive registry from etcd-3.0.4"
**Is this a request for help?**:
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
etcd-3.0.4

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: vsphere

[2017-04-06 19:11] childsb commented on #44172
Just to be clear, this is a two object split.. correct?   There's the "SnapShot" object which has no namespace.. then a "SnapShotRequest" which is a namespaced object..

As we add more imperative actions to PVs, should we have a 'generic' request object that would allow Snapshot, Replication, Resize, Restore, etc...

[2017-04-06 19:16] derekwaynecarr commented on #44160
@quinton-hoole -- my takeaway, is that federation supports skew in that member clusters can be later versions, but federation must be <=.  i see no other way we can provide any other level of support without losing data.

[2017-04-06 19:16] quinton-hoole commented on #44160
@derekwaynecarr in response to [your comment/question above](https://github.com/kubernetes/kubernetes/issues/44160#issuecomment-292260005) :

Yes, I agree, as general guidance that might be sensible, although I suspect that the situation is a little more nuanced than that in general, e.g.

1. If a user uses a client version <= the lowest version of federated clusters, everything should work hunkey

[2017-04-06 19:17] rootfs commented on #44172
And would `SnapshotRequest` also point to the `Snapshot` once snapshot succeeds?

[2017-04-06 19:17] spxtr commented on #32478
I think I hit this twice in the same PR. It's a little tricky to figure out what's going on, but one of the nodes reports NotReady, and looking at its kubelet logs I see lines like this:
[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/44048/pull-kubernetes-e2e-gce/25398/

[2017-04-06 19:26] quinton-hoole commented on #44160
@derekwaynecarr @marun One potentially useful optional feature that we could consider supporting  would be preventing (in the FCP) federation of later versioned objects into earlier versioned clusters.  So for example we could support a flag on the scheduler (or an optional field/annotation on each object) specifying whether e.g. v1.6 ReplicaSets should be earlier versioned clusters or not.  That

[2017-04-06 19:28] copejon commented on #44112
Okay, so it sounds like the preferred pattern would be to tag all storage tests with `[Volume]` and let devs make use of the `--ginkgo.skip` to weed out disruptive and feature.

[2017-04-06 19:38] MikaelCluseau commented on #44172
@childsb I don't think having a generic request object is something we want to introduce now (and I suspect we won't need it because nearly everything will be specific to each case).

@rootfs I think I even made a mistake by adding the `requestRef` field in Snapshot; we should do exactly like the `ReplicaSet`/`Pod` relationship to have a consistent UX (and developer experience too ;)). We already

[2017-04-06 19:41] MikaelCluseau commented on #44172
And maybe rename SnapshotRequest to SnapshotSet ?

[2017-04-06 19:53] khenidak opened #44177 "Roundtrip conversion tests fail after adding defaults"
**What happened**:
Jenkins Bazel test (among other fail when type defaulting is used).

**What you expected to happen**:
Success for Jenkins Bazel test & successful test using ./hack/run.sh make test

**How to reproduce it** (as minimally and precisely as possible):
This PR https://github.com/kubernetes/kubernetes/pull/41950 CI/CD fails because of an issue in roundtrip-ing. This verification will

[2017-04-06 20:09] bgrant0607 commented on #17097
Note that PodPreset went into 1.6:

https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/settings/v1alpha1/types.go#L28

[2017-04-06 20:14] haibinxie commented on #44063
@MikeSpreitzer Port transformation is well supported.

[2017-04-06 20:14] brendandburns commented on #44132
It's possible that this is because I was serving a 301 on the HTTP call which the GSLB interprets as "failing" a health check.

[2017-04-06 20:22] #43155 closed

[2017-04-06 20:28] childsb commented on #44172
@MikaelCluseau a generic PVR (persistent volume request)... could be similar to PV where there's a set of common fields shared and specific fields that are specific to the actionable command.  We could still keep the strong typing of fields for each request type.

Examples:
[code]

[code]
[code]
[code]

[2017-04-06 20:36] marun commented on #44160
@quinton-hoole I think you may be confusing 'kube version' and 'api version'.

 - ``1.6.x`` and ``1.5.x`` are kube versions, and they do not correspond to a resource version
 - ``v1``/``v1beta1``/etc are api versions (groups?), and they do correspond to a resource version.
 - If an API server receives a request for a ``v1beta1`` object, it can convert a ``v1`` object to ``v1beta1`` format as part

[2017-04-06 20:37] perotinus commented on #42324
@nikhiljindal I think there are more reasons in favor of providing the cluster name than the secret name: an admin running kubefed to join a cluster might care about the cluster name, whereas the secret name is an implementation detail.

Incidentally, #42513 uses the joining cluster name as a prefix for the secret name, so there will be an obvious connection.

[2017-04-06 20:44] jcbsmpsn commented on #43670
@k82cn Are you working on this? I'm interested in using the result.

[2017-04-06 20:56] colemickens commented on #44146
Is there *any* support today for Windows volume drivers? The Azure Disk one, for example calls `mkfs` and `mount` if I recall correctly, so I wouldn't expect them to work right now.

cc: @kubernetes/sig-windows-misc

[2017-04-06 20:58] crassirostris commented on #42718
@vishh Again, thanks for you comments!

Then the monitoring agent has to have access to log directories on the host. That's possible, ofc, but counter-intuitive and even less secure. Absolutely agree with @piosz, that's inconvenient.

Whoa, sorry, I think we're talking about different things. I'm talking about something like [containerd shim](https://github.com/containerd/containerd/blob/master/de

[2017-04-06 21:08] jeffvance commented on #44112
@copejon I think so...

[2017-04-06 21:09] MHBauer commented on #44065
I am interested in helping. I am not as familiar as some, but I can do some reviews of some code and the codegen.

[2017-04-06 21:22] marun commented on #44160
As per @smarterclayton's recent comment on the ml thread, it may be possible to automate detection of field changes across kube versions either by diff'ing the fields sent vs the fields returned for a given request or diff'ing swagger docs.

[2017-04-06 21:23] ConnorDoyle opened #44181 "Requirements for opaque integer resources to graduate from Alpha to Beta"
Feature issue: [Opaque integer resources](https://github.com/kubernetes/features/issues/76)
[Sig-scheduling 2017 planning doc](https://docs.google.com/document/d/1f94-_aoyKSvS3XhkkLTDxleyfOrIz7RaTA243y_-gj8)

@kubernetes/sig-scheduling-misc

--------

_Requirements:_

- [ ] Re-enable e2e tests for default CI runs (#42689)
- [ ] Subject OIRs to quota (TODO: issue)
- [ ] Ensure OIRs can be defaulted

[2017-04-06 21:38] djsly commented on #43730
@bowei  and @colemickens

I have reproduced the issue with the smallest possible interaction.

The following manifest (2 services with type:LoadBalancer) was used
https://gist.github.com/djsly/e1532bae6eac62b9783f72b517bbcbdf

The Logs of the kube-controller-manager at lvl4 logging level from the time range of the test only.
[kube-controller-manager-lvl4-2service.txt](https://github.com/kubernetes

[2017-04-06 21:38] srzjulio commented on #43815
Has anyone tried to run the dashboard on v1.6.1? I'm getting an error that states the following:

`Forbidden (403)

User "system:serviceaccount:kube-system:default" cannot list namespaces at the cluster scope. (get namespaces)
`

I guessing I need to config more RBAC, like you have to for running Flannel?

[2017-04-06 21:42] jbeda commented on #43815
@srzjulio Can you file a new issue for that?  My guess is that is something that SIG Auth and the Dashboard team should work together on.  It is probably a simple-ish YAML change.

[2017-04-06 21:42] marun commented on #42761
I agree with @perotinus that it would be preferable to split on the first ``=`` rather than confusing things with an additional separator character.

No code is always better, but in this case a simple parsing change should solve the problem. Unless there's already a vendored library that handles this I'm not sure it'd be worth the dependency.

[2017-04-06 21:47] caesarxuchao commented on #44065
Thanks for offering help, @MHBauer. I'm not sure what are the road blockers yet. I'll open issues along the road and ask for help.

[2017-04-06 21:50] paultiplady opened #44182 "API server accepts invalid ThirdPartyResources with missing `kind`"
**Is this a request for help?**
No

**What keywords did you search in Kubernetes issues before filing this one?**
"Object 'Kind' is missing"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): cos
- **Kernel** (e

[2017-04-06 21:51] msau42 commented on #44168
PR #42667 changed the MakePod() call to CreatePod() instead, which I don't think is correct because TestContainerOutput() will already create the pod.  @divyenpatel what was the reason for changing it?

[2017-04-06 21:54] msau42 commented on #44168
Hmmm although it looks like the upgrade test was failing even before then, so maybe that's just a red herring.

[2017-04-06 21:56] sbezverk commented on #43815
@srzjulio you need to update RBAC rules, we used these to get us going:

apiVersion: rbac.authorization.k8s.io/v1alpha1
kind: ClusterRoleBinding
metadata:
  name: cluster-admin
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: Group
  name: system:masters
- kind: Group
  name: system:authenticated
- kind: Group
  name: system:unauthenticated

[2017-04-06 22:04] jingxu97 commented on #44172
@childsb your proposal of a generic request is very interesting. But I have a concern about the complexity of the controller. Now with generic request, we will have many different operations from the request, we need to think through how such controller works.

[2017-04-06 22:06] quinton-hoole commented on #44160
From: Clayton Coleman <ccoleman@redhat.com>
Date: Thu, Apr 6, 2017 at 12:53 PM
Subject: Re: [k8s API machinery] Re: Backwards compatible federation
To: Maru Newby <marun@redhat.com>
Cc: Quinton Hoole <quinton@hoole.biz>, Derek Carr <decarr@redhat.com>, Jonathan MacMillan <dvorak@google.com>, K8s API Machinery SIG <kubernetes-sig-api-machinery@googlegroups.com>, kubernetes-sig-federation <kubernete

[2017-04-06 22:06] quinton-hoole commented on #44160
From: Maru Newby <marun@redhat.com>
Date: Thu, Apr 6, 2017 at 2:06 PM
Subject: Re: [k8s API machinery] Re: Backwards compatible federation
To: Clayton Coleman <ccoleman@redhat.com>
Cc: Quinton Hoole <quinton@hoole.biz>, Derek Carr <decarr@redhat.com>, Jonathan MacMillan <dvorak@google.com>, K8s API Machinery SIG <kubernetes-sig-api-machinery@googlegroups.com>, kubernetes-sig-federation <kubernetes

[2017-04-06 22:07] quinton-hoole commented on #44160
---------- Forwarded message ----------
From: Clayton Coleman <ccoleman@redhat.com>
Date: Thu, Apr 6, 2017 at 2:33 PM
Subject: Re: [k8s API machinery] Re: Backwards compatible federation
To: Maru Newby <marun@redhat.com>
Cc: Quinton Hoole <quinton@hoole.biz>, Derek Carr <decarr@redhat.com>, Jonathan MacMillan <dvorak@google.com>, K8s API Machinery SIG <kubernetes-sig-api-machinery@googlegroups.com

[2017-04-06 22:08] coffeepac commented on #21002
<begin thread hijack>
@piosz I'll get started.  I'll share a checklist in a bit on the mailing list so others can help.
<end>

[2017-04-06 22:12] jbeda commented on #43815
Be careful -- The binding that @sbezverk has there is essentially turning off RBAC.  You will have a super insecure cluster if you do that.

[2017-04-06 22:12] #41063 closed

[2017-04-06 22:18] quinton-hoole commented on #44160
An alternative idea I had was to do the version conversion automatically in the typed clientset, e.g.

import clientset_v1_5 "k8s.io/kubernetes/pkg/client/clientset_generated/release_1_5"

Then, when a version 1.5 cluster is being synced, the FCP uses the object fetched from the FCP API via the above clientset to compare against the object retrieved from that cluster, so that the object versions m

[2017-04-06 22:20] ericchiang commented on #43815
[code]

This is particularly bad. It means anyone who can contact your API server, even without any credentials, can run arbitrary commands.

[2017-04-06 22:21] sbezverk commented on #43815
@jbeda  it matches behavior which we had with 1.5.6 right out of the box. It gives people opportunity to review and gradually adjust security config instead of being unable to do anything with new security rules.

[2017-04-06 22:22] liggitt commented on #43815
Actually, making system:unauthenticated a cluster admin is far worse than 1.5.6

If you want no authorization, use the AlwaysAllow authorizer

[2017-04-06 22:24] liggitt commented on #43815
If you want to allow all while you audit, use a combination of RBAC,AlwaysAllow

That will disable anonymous requests, log RBAC denials in the API server log, but continue to allow all authenticated requests to do whatever they want

[2017-04-06 22:25] coeki commented on #43815
Sorry, and I iterate on this again, this has nothing to do with the original issue. And although valid problems and issues, we should move the conversation elsewhere.

[2017-04-06 22:27] davidopp commented on #25319
In [this sig-network thread](https://groups.google.com/d/msg/kubernetes-sig-network/4Q1Xk1Jm4-M/bhNrmeiXAgAJ) the issue was raised that we should align the way pod affinity/anti-affinity selects pods (PodAffinityTerm in pkg/api/types.go) with the way NetworkPolicy does (see NetworkPolicyPeer in pkg/apis/extensions/types.go). I linked to the most relevant message in the thread, but the idea is that

[2017-04-06 22:28] liggitt commented on #43815
https://kubernetes.io/docs/admin/authorization/rbac/#service-account-permissions is a good guide to the most-to-least granular options you have for opening up permissions.

[2017-04-06 22:28] msau42 commented on #44168
Actually the test started failing consistently with the same pv_util signature after 3/31, which coincides with the change to call CreatePod().  So I think yes, that is the reason for the latest failures.  I will work on a change to move it back to MakePod().

However, the upgrade test in general has been failing for a while.  But the signatures have been different.  Here's the signature before 3/

[2017-04-06 22:52] EmiPhil commented on #33483
+1 only use case is internal

[2017-04-06 23:08] holygits commented on #12835
I struggled with this one, turns out I had to specify the `--docker-server` flag in the secret or it would just fail.
e.g.
[code]

[2017-04-06 23:08] #32478 closed

[2017-04-06 23:13] marun opened #44186 "[Federation] selfLink for clusters is wrong"
The selfLink field for a cluster seems to be missing a ``/`` separator between ``clusters`` and the cluster name:

[code]

cc: @kubernetes/sig-federation-bugs

[2017-04-06 23:19] quinton-hoole commented on #44160
I updated the title.  Let me know if you disagree @marun

[2017-04-06 23:39] MikaelCluseau commented on #44172
@childsb to me it's not similar; a PV is an actual thing in the system (a mount point) that the user wants to manipulate. It just happens that this thing has a relatively complex setup because of the diversity of source and the lack of standardization in the storage industry. I think we can all agree that the PV object would be much better if we could simply have expressed the source as a path in

[2017-04-06 23:47] divyenpatel commented on #43471
@SteveMaddison @eicnix @kerneltime
Finally I am able to resolve the issue. You **do not need Read permission for whole VC**.

Instead **you have to assign the Role to the user at VC level and not at Datacenter or Host level**.

If you assign a Role to user at Datacenter or Host level, you get above nil pointer exception.
permission defined at https://github.com/kubernetes/kubernetes.github.io/pull

[2017-04-07 00:10] duglin commented on #17525
I believe this is still an issue since we're seeing cases where "docker version" returns ok but starting containers will generate an error.

What do people think about changing the check from `docker version` to some flavor of `docker run ...` ?

I can think of other types of checks, or even making it configurable in some way, but those could be follow-on PRs. For now, I think just doing a more re

[2017-04-07 00:15] marun commented on #44160
@smarterclayton

I'm not sure what you mean since the discussion was about propagating resources to member clusters.  How would user submission come into play?

The 'per-request' approach could presumably be simplified to cache field differences for a cluster after the first update had been performed against that cluster for a given type.  The cache could be invalidated if the watch for the cluste

[2017-04-07 00:19] divyenpatel commented on #44168
@msau42 we updated MakePod to allow passing multiple claims to pod spec. As part of review comment I addressed this change.

 in the previous code, pod spec has MountPath for volume set to : "/mnt", in the new code we set the mount path to "/mnt/volume1"

[2017-04-07 00:24] phagunbaya opened #44187 "Cannot connect to service of it's own from inside pod on kubernetes 1.6"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
kubernetes service discovery
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose o

[2017-04-07 00:28] ymqytw commented on #44111
@liggitt You are right. This way is not backwards compatible unless the client moves to use openapi instead of compiled-in types someday.

[2017-04-07 00:33] marun commented on #44160
@quinton-hoole Are you suggesting having an informer for each of a fixed set of versions for any watched federated type? Or have the set of versions be configurable?  Or determined dynamically from the observed versions of member clusters?

How would the version of member clusters be determined?  Is there something at the client layer that can provide that detail?

Is there a potential for client

[2017-04-07 00:49] liggitt commented on #44111
The API compatibility requirements go well beyond one release version. If we add versioning to the patching system (which I guess would be orthogonal to the API version) we'd have to maintain multiple systems simultaneously.

[2017-04-07 00:50] freehan commented on #44100
We only have 2 options here:
1. We guarantee that TearDownPod only happens successfully once before recreating the pod if needed.
2. Network plugins need to be tolerant to multiple TearDowns.

There are multiple occasions where kubelet triggers StopPodSandbox(calls TearDownPod) for good reasons. They are in different go routines and happens asynchronously.

Since StopPodSandbox is targeting pod sa

[2017-04-07 01:15] colemickens commented on #43730
So this happens even outside of the namespace deletion? Is there anything obvious in the k-c-m logs? I'm very curious to know if this is a bug in the ServiceController or in the Azure cloudprovider code.

[2017-04-07 01:15] colemickens commented on #43730
Also, do you see any errors in the Audit Log in the Portal for this resource group?

[2017-04-07 01:16] ymqytw commented on #44005
Two policies related to strategic merge patch API tag:
- struct tag and comment tag should match for `patchStrategy` and `patchMergeKey`.
- `patchStrategy` tag should be used only if the field is a slice. (There are wrong usages in the API now)
- `patchMergeKey` tag should be used only with `patchStrategy` is `merge`.

[2017-04-07 01:24] k82cn commented on #43670
@jcbsmpsn , please go ahead; I separate this issue into two: one for kubelet and one for scheduler.

[2017-04-07 01:24] k82cn commented on #43670
/cc @kubernetes/sig-node-proposals

[2017-04-07 01:26] k82cn opened #44188 "Updated scheduler to use client-go"
**Is this a BUG REPORT or FEATURE REQUEST? (choose one)**:
feature request

**Kubernetes version (use kubectl version)**:
master branch

**What happened**:
According to discussion at kubernetes/client-go#136 , we'd like to upgrade `scheduler` to use client-go after lister, informer is ready.

[2017-04-07 01:28] baconz opened #44189 "image_gc: cadvisor reports incorrect free/capacity fs info for loop file + device mapper"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

"devicemapper garbage collection", "devicemapper capacity"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configurati

[2017-04-07 01:29] k82cn commented on #44188
/cc @kubernetes/sig-scheduling-feature-requests @ncdc @caesarxuchao @deads2k

[2017-04-07 01:30] k82cn commented on #43670
xref #44188

[2017-04-07 01:30] ymqytw commented on #44123
We usually struggles with how to fix issues with strategic merge patch and not break backward compatibility.
I thought versioning patch will help to mitigate this pain. But this actually may cause more difficulty in maintaining the APIs. Versioning patch may not be a good approach.

cc: @lavalamp

Also see: https://github.com/kubernetes/kubernetes/issues/44111#issuecomment-292380663

[2017-04-07 01:31] 8enmann opened #44190 "kubectl logs more consistent behavior with pending nodes"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
"kubectl logs"
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Featur

[2017-04-07 01:33] ArmorHerO commented on #44130
@jzhu077   you are rigth  but do you know the port 8080 why not listen

[2017-04-07 01:43] k82cn commented on #44188
/area sig-node

[2017-04-07 02:05] saturnism commented on #42559
reproduced just now, brand new gke 1.6 cluster and tried to run kubefed init on it

[2017-04-07 02:12] k82cn commented on #44188
/label sig/scheduling

[2017-04-07 02:30] djsly commented on #43730
@colemickens there are no issues in Azure' audit log nor the Activity logs for this RG.

Regarding your question about the source of the issue, I would tend to say that the issue is in the ServiceController.

Here's my reasoning.

For the `frontend` service we have the following lines
Creation #1
[code]
Deletion
[code]
Creation #2
[code]

Now for the `frontend2` service we have the following lines

[2017-04-07 03:12] zouyee commented on #34007
@xiang90  I think I have meet the same problem in v1.5.3

[2017-04-07 03:14] zouyee commented on #34007
[code]
and I do not found any replica about dex

[2017-04-07 03:42] mengqiy opened #44195 "Update view-last-applied help message"
[code]
It actually doesn't support --all.

[2017-04-07 03:42] ymqytw commented on #44195
/assign @shiywang

[2017-04-07 04:17] djsly commented on #43730
So I looked at the code and I see that my hypothesis was true. (if I'm not mistaken)
Here's the break down of my analysis.

The Cloud-controller-manager calls the serviceController.run command with ConcurrentServiceSyncs hardcoded to `1` (it cannot be change either from the command line)
https://github.com/kubernetes/kubernetes/blob/release-1.6/cmd/cloud-controller-manager/app/controllermanager.go

[2017-04-07 04:22] mkumatag commented on #43560
Basically this container_name value comes form label called `io.kubernetes.container.name` which is POD in this case.

I just deployed nginx image for testing, what I see is for all the metrics except network there are 2 entries which is one for pause container and one for app container(nginx).

IMO network metrics are exposed only for POD container because only POD container does have network and

[2017-04-07 05:16] #44168 closed

[2017-04-07 05:31] MikaelCluseau commented on #38337
The same issue happens with tmpfs roots:
[code]

[code]

In my case, I use CoreOS's kubelet-wrapper (rkt with the "fly" stage0) and /var/lib/kubelet is bind-mounted rshared.

[2017-04-07 05:40] supereagle commented on #44190
@8enmann  Could you describe this issue in more detail? What is your expection?

[2017-04-07 05:53] davidopp commented on #42002
I think it's reasonable to ship by default with "only default scheduler can set NodeName" (assuming there aren't any bootstrapping issues) but I think we need to make it possible for cluster admins to optionally add to the set of components that can set NodeName, so that people can write custom schedulers. (Not all user customizations to the scheduler can be cast into the extender model.)

[2017-04-07 05:59] supereagle commented on #44140
Docker has change its release strategy and versioning scheme from [v17.03.0-ce-rc1](https://github.com/docker/docker/releases/tag/v17.03.0-ce-rc1). We need to update the version match regexp to satisfy the new docker versions.

[2017-04-07 06:09] davidopp commented on #44145
What @kargakis would probably work but could be racy and is definitely a bit hacky. :)

This is reminiscent of a request for Horizontal Pod Autoscaler to be able to trigger off of a value provided externally rather than averaging some per-pod value. (I'm not talking about custom metrics, which are still per-pod -- I'm talking about some completely external service that is providing some or all of

[2017-04-07 06:09] davidopp commented on #44145
(Obviously this would insert nontrivial extra latency in the eviction path.)

[2017-04-07 06:15] sttts commented on #44065
Just leave them where they are. Instead provide initializers like in the clients:

https://github.com/kubernetes/kubernetes/blob/master/pkg/client/clientset_generated/clientset/scheme/register.go#L67
https://github.com/kubernetes/kubernetes/blob/master/pkg/client/clientset_generated/internalclientset/scheme/register.go#L54

But calling them should be left to the binaries.

Do we really want the `i

[2017-04-07 06:17] zouyee opened #44198 "recreate deployment can not bring the replicaset and pods"
like [issue 36117](https://github.com/kubernetes/kubernetes/issues/36117)
**After  deleted a deployment and its replicasets,I recreate the deployment,but I could not found any pods and its replicaset.**
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:
- **Cloud provider or hardware configuration**: v

[2017-04-07 06:35] Martlark commented on #30961
This error for me was caused by use of an em-dash instead of a dash from a downloaded yml sample.

[2017-04-07 07:36] anteyk opened #44200 "Secrets folder is mounted but empty (Service account and ordinary secrets)"
Hi Team.
My secret's folder on pods is always empty. There are many of such issues, but they not strictly corresponds to my, or I didn't found proper issue. Here is info about my setup
[code]

kubectl describe secret shows that default-token-2k6t8 contains 3 files (ca.crt, namespace, token)
on kubelet folder exist and contains files
[code]
in kubelet.log I see
`I0407 10:27:54.406390   13509 operat

[2017-04-07 07:41] mbohlool commented on #44005
I will update the first comment with any policy requirements added here.

[2017-04-07 08:23] LQkinglear commented on #24668
@dims thanks,but  i need to request the k8s api  by https,and how can i achieve like this:
![image](https://cloud.githubusercontent.com/assets/16059650/24791865/61b2ade0-1bae-11e7-93a4-7bfe30f71d08.png)

[2017-04-07 08:26] deitch commented on #43633
+1 for this as well. As referenced by both @klausenbusk and me at https://github.com/kubernetes/kubernetes/issues/41881 , this would go a long way.

I prefer to have a wildcard or a subdomain-only option, so I can specify `host: web.*` or `host: api.web.*` and have anything that _starts_ with that pattern pass through, leaving the service ignorant as to its final domain (is it running in `.example

[2017-04-07 08:27] deitch commented on #41881
No additional thoughts on this?

[2017-04-07 08:46] rvrignaud commented on #44145
Thank you @kargakis and @davidopp for your answers.

@davidopp your proposition of an HTTP endpoint would cover all my use-cases. As far as I am concerned eviction speed is way less important to me than data integrity for my stateful sets.

[2017-04-07 08:49] dorry-terryli opened #44201 "Cannot use v1.5 api in kubernetes 1.6.1"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **OS** (e.g. from /etc/os-release):
[code]

- **Kernel** (e.g. `uname -a`):
`Linux terry-desktop 4.4.0-72-generic #93-Ubuntu SMP Fri Mar 31 14:07:41 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`

**What happened**:
I found the kubeadm only have version 1

[2017-04-07 09:18] kargakis commented on #23130
Removed the version from the title since this has recurred in later versions too

[2017-04-07 09:38] gyliu513 commented on #43565
/cc @kubernetes/sig-autoscaling-bugs @jayunit100

[2017-04-07 09:40] irfanurrehman commented on #42761
@marun @perotinus, actually there are two issues here that need to be solved. Apologies for confusing this one with the other (multiple controllers cannot be disabled using kubefed init). I agree with perotinus, for the current issue, update the marshaling and the problem of ```=``` can be solved (if only one controller is specified).
To solve the multiple controllers problem (and still using the

[2017-04-07 09:43] gyliu513 opened #44202 "[Proposal] Make scale up/down forbidden time configurable"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-04-07 09:43] gyliu513 commented on #44202
/cc @kubernetes/sig-autoscaling-feature-requests

[2017-04-07 10:03] irfanurrehman commented on #42559
@saturnism can u please confirm as per my previous question.
Is ur base cluster API server running with ```--authorization-mode=RBAC```, if not will it be possible for you to do that change and then try kubefed init again.

[2017-04-07 10:07] clementnero commented on #42306
+1
I have the same problem. Did you find a solution or a workaround ?

[2017-04-07 10:08] soltysh commented on #43964
@spxtr mind sharing more details about why not using jobs? The second part of your issue will hopefully be addressed in #30243. And since we're trying to gather requirements for that feature right now any input you can provide in that issue is more than welcome.

[2017-04-07 10:19] jsafrane commented on #44172
@childsb, this is not how Kubernetes works. It's intent based. https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#types-kinds

PersistentVolumeRequest is not an persistent entity in the system, it's command. To create a snapshot user should create an object representing the snapshot and Kubernetes will create it. To resize a volume, user modifies the volume a

[2017-04-07 10:27] mellotron commented on #41469
I have the same problem as @KeithTt . I'm running this on a brand new kubeadm (v1.6.1) deployed cluster on three bare-metal boxes.

I deployed fluentd per @crassirostris instructions above. I also tried deploying "fluentd-es-ds.yaml" - however even on 1.6.x, that daemonset does not deploy out of the box:

NAMESPACE     NAME               DESIRED   CURRENT   READY     UP-TO-DATE   AVAILABLE   NODE-

[2017-04-07 10:30] mellotron commented on #41469
Also, when I run "kubectl proxy", I simply get "<h3>Unauthorized</h3>" so perhaps something is broken with RBAC there?

[2017-04-07 10:34] jsafrane commented on #44172
@jingxu97, IMO there needs to be an object that represents single snapshot and is in user namespace so the user can see what's its status and we can have quota around it. I don't have a good name for it, I'm going to use SnapshotClaim in this comment, but I know it's ugly (user is not claiming a snapshot, he's creating it...)

Any object that creates multiple snapshots, say SnapshotSet, should be

[2017-04-07 10:43] rootsongjc commented on #41623
@bamb00 How do you solve the problem?
Do you change the `td-agent.conf`?

[2017-04-07 10:55] MikaelCluseau commented on #44172
It's not that ugly, with dynamic provisionners, PVClaims are actually creating PVs.

[2017-04-07 11:19] spradeepv opened #44203 "UpdateLoadBalancer is not called for a service with type=LoadBalancer when pods are added/deleted"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

kubernetes external-loadbalancer
---

**Is this a BUG REPORT or FEATURE REQUEST?**

[2017-04-07 11:37] jsafrane commented on #44172
Important is the intent - with PVC, user wants to claim an existing PV. A new one is created only when there is nothing to claim. With SnapshotClaim, user probably does not want to claim an existing snapshot, he really wants to create a new one.

[2017-04-07 11:42] Demonsthere commented on #44201
If i understand you correctly you want to spawn a cluster of version 1.5.x on the 1.6 binaries?
If so just add this flag to `kubeadm init`:
`--kubernetes-version string               Choose a specific Kubernetes version for the control plane (default "v1.6.0")`

[2017-04-07 12:15] minherz commented on #44146
There is no reason to release Kubernetes for agents that run on Windows without support for volumes.
As well, PVC creates a disk on demand, meaning the implementation exists but does not work as expected.

[2017-04-07 12:19] DmitryRomanenko commented on #13488
@tyranron,

Could you explain? Should I just use `kubectl apply -f new_config.yml` with updated deployments, and these deployments will be rolling-restarted?

[2017-04-07 12:39] crassirostris commented on #41469
@mellotron Yes, an appropriate label should be on each node. You can find the explanation and the overall deployment instructions in [the official k8s documentation](https://kubernetes.io/docs/tasks/debug-application-cluster/logging-stackdriver#deploying-to-an-existing-cluster). Docs are for Stackdriver Logging, but it's the same with Elasticsearch for now.

As for proxy, please check https://gith

[2017-04-07 12:40] sheerun commented on #42306
I didn't. It's still broken

[2017-04-07 12:42] shiywang commented on #44195
ohh, thanks, will make a pr to address that right now..

[2017-04-07 12:53] tsmetana commented on #44172
I actually like the idea of SnapshotRequest to create a Snapshot (object). The one thing I dislike in this proposal is the snapshotting of multiple volumes at once: the result would be multiple objects outside the cluster anyway so having them represented with separated object looks much more intuitive to me. It is also more flexible. I'd rather use some simple mechanism for marking snapshots belo

[2017-04-07 12:57] klinakuf opened #44205 "kubeadm not able to bootstrap a cluster with v1.7.0-alpha.1"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**v1.6.2-be

[2017-04-07 13:02] MikaelCluseau commented on #44172
The important part of "at once" is "consistent" ;-)

[2017-04-07 13:06] ikaven1024 opened #44206 "Dynamically Provisioned RBD Volumes Fail to Delete"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): Volume has no class annotation

---

**Is this a BUG REPORT or FEATURE REQUEST?** (ch

[2017-04-07 13:17] xmik commented on #43515
I also experienced this.

### Environment
- **Kubernetes version**:
[code]
- **Cloud provider or hardware configuration**: OpenStack
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04.1 LTS
- **Kernel** (e.g. `uname -a`): `Linux k8s-testing-gogs-workstation-worker-1 4.4.0-45-generic #66-Ubuntu SMP Wed Oct 19 14:12:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`
- **Install tools**: custom

### kubelet

[2017-04-07 13:18] jsafrane commented on #44172
We discussed this use case and we're trying to avoid it in the first version as it needs support in the application. How else do you **ensure** consistent snapshots of 10 different EBS volumes running say Cassandra?

[2017-04-07 13:21] tyranron commented on #13488
@DmitryRomanenko yup, exactly.

[2017-04-07 13:22] Juanchimienti opened #44208 "Pod eviction on nodefsInodes has no GC feature."
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

nodefsInodes,

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version** (use `kubectl version`):
kubectl version
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.4", GitCommit:"7243c69eb523aa4377bce883e

[2017-04-07 13:27] tyranron commented on #13488
@DmitryRomanenko with applying new specs you are [updating Deployment](https://kubernetes.io/docs/concepts/workloads/controllers/deployment#updating-a-deployment), and on Deployment update restart is triggered if its spec was changed.

By default the restart strategy is `RollingUpdate `, but you can specify another one explicitly too.

[2017-04-07 13:35] BertrandD commented on #44186
Same for namespaces :

[code]

[2017-04-07 13:47] MikaelCluseau commented on #44172
I have no problem with pushing the "multiple snapshots at once" outside the scope of a first version.
To answer your question, without app-support, I think pretty good quality can be achieved just with fsfreeze, as any quorum-based CP system will stop acknowledging writes when the majority frozen (and for AP systems you have already chosen to accept some loss). I'm not going to have an implementat

[2017-04-07 13:47] kargakis commented on #43977
This test has been moved in the flaky suite (https://github.com/kubernetes/kubernetes/pull/44133)

[2017-04-07 13:49] vdavidoff commented on #43515
I'm seeing this same error on all my manually launched private Ubuntu based clusters (6), running 1.5.3 and 1.6.0. In my case the messages reference only stopped pods launched by CronJob Jobs.

The messages indicate issues mounting every volume in the pod including PVs and node-local volumes. These pods, and future ones launched by these CronJobs, are fully successful when they run. It is only aft

[2017-04-07 13:52] dims commented on #24668
@LQkinglear did you see the links from @smarterclayton ? https://github.com/kubernetes-ui/container-terminal?files=1

[2017-04-07 14:12] clementnero commented on #42306
Ok, thx sheerun.
For now I'm exposing heketi service on a NodePort to avoid using a specific node IP.

[2017-04-07 14:13] tsmetana commented on #44172
fsfreeze is supported only on ext3/4, xfs, reiser and jfs... The proposal should be filesystem-agnostic and as such I don't think we should take responsibility of the the data consistency at all.

[2017-04-07 14:14] mdshuai opened #44212 "[kube-aggregator] local-up-kube-aggregator.sh failure"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

Create/delete rolebinding kube-aggregator:authentication-reader in different namespace cause to the failure
detail: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kube-aggregator/hack/local-up-kube-aggregator.sh#L63-L64

[code]

[2017-04-07 14:15] mdshuai commented on #44212
@deads2k

[2017-04-07 14:16] pires commented on #44146
Where is this rule documented?

[2017-04-07 14:17] jsafrane commented on #44172
In addition, fsfreeze ensures just filesystem consistency, not consistency of the database stored on the filesystem. It may be corrupted.

Anyway, it's fine to have a high-level object like SnapshotSet and we can argue how to make it consistent later, but we need also an object that represents single snapshot in user namespace. The user needs to see what snapshots are available, their states and h

[2017-04-07 14:30] steinnes commented on #42438
Works for me™ @blakebarnett

[2017-04-07 14:42] MikaelCluseau commented on #44172
Let's forget SnapshotSet; this applies to a single snapshot too. We won't fix users wishing filesystems without fsfreeze or equivalent support, but not using fsfreeze when possible (99% of the cases?) will cause much more damage. We won't fix in-app cache flushing generically either. Obviously, we'll have to document clearly what we do, and also do the best we can.

[2017-04-07 14:46] golfreeze commented on #39334
I've faced this bug also on v.1.5.3 ,
To fixed it , Shall I need to upgrade kubernetes , Right ?
If "YES" , Could you show the step ?
Thank you.

[2017-04-07 14:53] 8enmann commented on #44190
Sorry, my description was accidentally in the commented out section of the form. Fixed!

[2017-04-07 14:58] djsly commented on #32157
@thockin the latest analysis can be found here: https://github.com/kubernetes/kubernetes/issues/43730
ServiceController is processing the services one at the time. Once it gets the second deleted service from the queue, the service was recreated by the user (the apiserver didn't prevent the recreation). The SynchSErvice methods queries the apiserver to get the latest state of the service, getting

[2017-04-07 15:03] dashpole commented on #39334
The fix is in v1.5.6

[2017-04-07 15:05] golfreeze commented on #39334
Thank you dashpole!!

[2017-04-07 15:08] NickrenREN commented on #44206
same to #43929

[2017-04-07 15:12] copejon commented on #44112
Cool, this sounds fine.  Will close the issue.

[2017-04-07 15:12] #44112 closed

[2017-04-07 15:41] spradeepv commented on #38274
There was an issue with the config file, after correcting it everything worked fine. Hence closing the issue.

[2017-04-07 15:41] #38274 closed

[2017-04-07 15:41] liggitt commented on #44205
thanks for the issue report. please open kubeadm-related issues against https://github.com/kubernetes/kubeadm/issues/

[2017-04-07 15:42] loxo33 commented on #43988
We are experiencing the same issue.

[2017-04-07 15:55] mickybart commented on #42559
@irfanurrehman ,

I got the same issue posted by @saturnism with kubernetes 1.6.1 yesterday on a new cluster.
I switched kops to 1.6.0alpha to enable RBAC.

Once done I confirm that kubefed init is now working.

[code]

[2017-04-07 15:57] jsravn commented on #43300
We can just add the pod back into the worker queue if its node hasn't been processed yet, right?

[2017-04-07 15:58] dashpole commented on #38337
@MikaelCluseau, your bug looks more similar to #44059, since the major and minor numbers all match up.  @dmrub, I would prefer closing this issue, as it was related to brtfs, and moving discussion on @MikaelCluseau's bug to #44059.  For anyone experiencing the original problem, @dmrub's solution is included in the v1.5.6 patch release.

[2017-04-07 16:04] dashpole commented on #39812
@andrewsykim would you mind opening an issue to cAdvisor, and giving us some of the error messages you see in your logs?  I have no experience with systemd, but I can find someone who does to check out your specific case, since it wasnt fixed by #1573

[2017-04-07 16:04] kevin-wangzefeng commented on #36716
/cc @kubernetes/huawei

[2017-04-07 16:06] #38337 closed

[2017-04-07 16:24] nstott commented on #34086
+1 on this being useful for us

[2017-04-07 16:57] lavalamp commented on #44160
(copy from email thread)

This is an interesting problem. Note that our go client has the exact same issue, where it drops fields it fails to understand.

I strongly recommend you do NOT do member-by-member comparison to check for equality, that is very brittle, even non-semantic formatting changes with the same wire format can break it (happened to daemonset, e.g. 0 length vs nil slices).

One ap

[2017-04-07 17:06] bgrant0607 commented on #44160
We have similar problems even within a single cluster, particularly due to apiserver-kubelet skew: #4855.

[2017-04-07 17:08] lavalamp commented on #44160
We shouldn't be adding fields in patch releases like that, but if we did, it would be extremely difficult to handle with (this proposal)[https://github.com/kubernetes/kubernetes/issues/44160#issuecomment-292340701], since you'd have to link in 1.6.0 client AND a 1.6.1 client.

For single clusters, the update rule is that you have to update the control plane before the nodes, and you have to update

[2017-04-07 17:10] jingxu97 commented on #44172
Thank you everyone for the insightful feedback and discussion. I think it
would be good to discuss this in F2F meeting. This snapshot API design is
critical to our snapshot feature at the very first stage. That is why I
want to initiate this discussion first here and gather feedback so that we
could make a conclusion faster hopefully at the meeting. I will try to
summarize the discussion here and

[2017-04-07 17:11] hobti01 commented on #30716
@pmorie Is there any chance that there is more documentation beyond the examples you mentioned in https://github.com/kubernetes/kubernetes/issues/30716#issuecomment-241610308 ?

I desperately want to share the available syntax with colleagues, but cannot be certain how much is implemented (and in which version).

[2017-04-07 17:12] bgrant0607 commented on #4855
Field gate proposal: https://docs.google.com/document/d/1wuoSqHkeT51mQQ7dIFhUKrdi3-1wbKrNWeIL4cKb9zU/edit#

Note also that the concept of "profiles" is being discussed, for multiple purposes.

[2017-04-07 17:12] bgrant0607 commented on #44160
Hmm. The appropriate sig-api-machinery teams don't exist, so I can't notify them.

Before any new API mechanism is developed, it should be discussed in SIG API machinery.

You may be interested in the field gating proposal:

https://docs.google.com/document/d/1wuoSqHkeT51mQQ7dIFhUKrdi3-1wbKrNWeIL4cKb9zU/edit#

[2017-04-07 17:16] kargakis commented on #44198
@zouyee can you post the exact steps you followed?

Also can you post logs from the controller manager related to "dex"?

@kubernetes/sig-apps-bugs

[2017-04-07 17:23] minherz commented on #44146
Are you for real? If it was a joke, better place emoji. The "rule" is called common sense. You are welcome to suggest a way to use containerized application without external database services when you cannot persist the result of your work or otherwise, provide predefined set of data.

[2017-04-07 17:25] phagunbaya commented on #44187
iptables-save output

    # Generated by iptables-save v1.4.21 on Fri Apr  7 12:16:32 2017
    *nat
    :PREROUTING ACCEPT [1:60]
    :INPUT ACCEPT [0:0]
    :OUTPUT ACCEPT [12:720]
    :POSTROUTING ACCEPT [16:1038]
    :DOCKER - [0:0]
    :KUBE-MARK-DROP - [0:0]
    :KUBE-MARK-MASQ - [0:0]
    :KUBE-NODEPORTS - [0:0]
    :KUBE-POSTROUTING - [0:0]
    :KUBE-SEP-4QD2LE2R2TODS2YV - [0:0]
    :KUBE-S

[2017-04-07 17:28] kargakis commented on #44187
@kubernetes/sig-network-bugs

[2017-04-07 17:30] phagunbaya commented on #44187
To reproduce after deploying service and rc check the logs of `kafka` container
RC :

[code]

Service:
[code]

[2017-04-07 17:31] traceypooh commented on #44140
+1

[2017-04-07 17:37] shlompy opened #44214 "VolumeMount for ConfigMap fails to be remounted - Nested mountPoints"
Hi.

I'm keep getting "device or resource is busy" errors when kubernetes tries to re-mount volumes which are based on configMap.
I've seen several threads regarding volume mounting failures but they doesn't seem to be related to the failure I'm seeing.

I'm using Kubernetes v1.4.1

The error I'm seeing is for specific configMap 'hekad-common-config'

/var/log/messages is full of the following log

[2017-04-07 17:41] pires commented on #44146
Windows Containers support is alpha and it's OSS. Instead of trolling, do contribute! 👍

[2017-04-07 17:48] madhusudancs commented on #42324
I share the same sentiment as @perotinus. We want people to think hard about the cluster's name. It is the identity of the cluster in federation. It is the name they are going to use in the APIs, for example in FederatedReplicaSetPreferences. We don't want to generate a bunch of hard-to-type random characters for those names.

[2017-04-07 17:52] lavalamp commented on #44160
Oh, I thought @czahedi was going to make those.

[2017-04-07 18:02] krousey opened #44215 "StatefulSet upgrade test is failing at master"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-latest-upgrade-cluster/1139

This has possibly been failing for a while and masked by other errors.

[code]

[2017-04-07 18:03] krousey commented on #44215
@kow3ns if you're not the right person to fix this, please find someone who is.

[2017-04-07 18:04] DirectXMan12 commented on #37622
This looks like it affects root scoped resources in general -- both custom ones (e.g. ServiceCatalog brokers, as noted in kubernetes-incubator/service-catalog#309) and "built-in" ones, like namespaces and nodes:

[code]

[2017-04-07 18:05] DirectXMan12 commented on #37622
cc @kubernetes/sig-api-machinery-misc

[2017-04-07 18:14] nikhiljindal commented on #42324
I agree, my point was that whatever way we use to get a unique cluster name, at the end we do have a unique name. Why not use the same name for secret name? These secrets are in a reserved namespace.

Is it for supporting multiple federations with same host cluster having same cluster names? Storing secrets in federation control plane will also fix that.

[2017-04-07 18:19] madhusudancs commented on #42324
Yeah.

Yeah. And we can change things here when we get that functionality. I don't want to block things now.

[2017-04-07 18:22] vishh commented on #42718
I feel we have reached the limits of github with this conversation. I will
setup a meeting to discuss this further. I primarily care about storage
isolation and I was only trying to provide some direction based on my past
experience around metadata.

On Thu, Apr 6, 2017 at 1:59 PM, Mik Vyatskov <notifications@github.com>
wrote:

[2017-04-07 18:36] cmluciano commented on #43240
### Notes from discussion with @vishh

- Currently GPUmanager speaks pods but it integrates with an external API that only knows about resources
- GPUmanager should eventually be dissolved into the CM package so it can be checkpointed individually
- Would be great if GPUs were preallocated from admission, then subsequent requests can reference this list

#### Steps for this issue:
- We need to upd

[2017-04-07 19:16] jfoy commented on #39178
Under k8s 1.5.2, we have found that tagging EC2 instances with `KubernetesCluster=foo` works for us, with one wrinkle -- we also have to ensure that we are exclusively tagging the Kubernetes controller and worker instances, instead of all instances under the VPC. (All instances are tagged by default when you set the tag via a CloudFormation option.)

With instance tags correctly set, we see the ex

[2017-04-07 19:28] xamox opened #44218 "[Feature Request] LXD local method does not appear to have minikube service my-service equivalent"
I've installed k8s locally for testing using the LXD method outlined here:
https://kubernetes.io/docs/getting-started-guides/ubuntu/local/

Everything works fine, except for the fact when I want to test my services there doesn't appear to be an external IP when I expose it with `kubectl expose`.  With minikube I just had to do a `minikube service my-service` and it will return an IP with a mapped

[2017-04-07 19:43] bowei commented on #43730
This looks to be me like an A-B-A (https://en.wikipedia.org/wiki/ABA_problem) problem with the cloud resource. Let me do some digging...

[2017-04-07 19:45] divyenpatel commented on #44075
cc: @tusharnt @luomiao

[2017-04-07 19:56] spxtr opened #44219 "Node E2E image pre-pulling flake"
Seen [here](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/44048/pull-kubernetes-node-e2e/24838/), in tests for #44048. There have been several previous issues for related causes, but I think it makes sense to start a new one.

[code]

Even with 5 retries a second apart this failed, while successfully pulling other images from the same bucket.

cc @runcom

[2017-04-07 19:57] jr-qordoba commented on #33483
+1 for internal only

[2017-04-07 20:04] bowei commented on #43730
This looks to be another instance of https://github.com/kubernetes/kubernetes/issues/34660. If the reconciliation was performed periodically, the IPs will be garbage collected.

[2017-04-07 20:17] djsly commented on #43730
@bowei could you explain me what the reconciliation would provide to the serviceController ?
I've read the issues you linked, but I'm still not 100% sure I understand the proposed logic. (probably because I still don't know how the service controller fully works -- mostly with respect to caching)

[2017-04-07 20:26] cpo opened #44220 "kubeadm not respecting the --apiserver-advertise-address flag"
**Is this a request for help?** no

**What keywords did you search in Kubernetes issues before filing this one?** apiserver-advertise-address

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT?

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
Hetzner VPS (one for master and one for worker)
The funky p

[2017-04-07 20:32] bowei commented on #43730
The idea is there would be a continual loop over the cloud load balancers to see if there are any configured that should be there. If there is a mismatch, the load balancer will be deleted.

Admittedly, this is not a hugely satisfying answer. It's along the lines of: there is no sync up of the Kubernetes state with the cloud provider state in the service controller and this can lead to stranded/in

[2017-04-07 20:40] djsly commented on #43730
I see. thanks for the explanation.

What do you think about having the master prevent the creation of a service that was previously deleted until the cloud controller manager is done with his clean up job ? (e.g. all configuration are deleted in the cloud's LB)

That should cover the use case where services are deleted and recreated almost back to back.

[2017-04-07 20:58] spxtr commented on #43964
Sure. Currently we're transitioning off of using k8s jobs that essentially acted as controllers for a single pod. Here's how they work:

1. Someone says `@k8s-bot test this` in a comment on GitHub. A webhook finds its way to the prow cluster.
1. We spin up a handful of k8s jobs based on the webhook information. We store information about what the job should test in its labels, annotations, and arg

[2017-04-07 21:09] #42012 closed

[2017-04-07 21:12] vishh commented on #43240
Immediate needs:
* GPU manager needs an internal pod API that can represent GPUs (devices) and abstract the CRI. CRI acts as a permanent checkpoint.

Future:
* GPU manager should move into Container Manager because eventually container manager will handle hardware topology awareness and performance optimizations.
* Container manager should set up device cgroups and let the runtimes allow all devic

[2017-04-07 21:14] rickypai commented on #43632
I think the use-case beyond `externalName` service is if the hosts need to be loopback or needs to be configured per pod.

I tried to understand how `/etc/hosts` is controlled by kubelet, and it seems like this feature would not be hard to implement. I'm willing to spend some time on this.

in terms of implementation:

from my reading, host mount is done by `makeHostsMount` inside `kubelet_pods.go

[2017-04-07 21:19] rickypai commented on #43632
Let me know if ^ makes sense. If so, I can make a formal proposal in https://github.com/kubernetes/features/#when-to-create-a-new-feature-issue or just a PR, whichever is appropriate.

@thockin

[2017-04-07 21:42] vishh commented on #44080
@justinsb you are correct. The [GCE instructions](https://cloud.google.com/compute/docs/gpus/add-gpus#verify-driver-install) are missing a modprobe I think.

This is an issue and I think we should fix it in a patch release. @cmluciano want to pick this up?

[2017-04-07 21:48] colemickens commented on #43730
I still don't even understand why there's a conflict when they're deleted/recreated back to back. The Service UUID should be different. Or is it because the SerivceController stops trying to delete the previous service because ServiceController only tracks by name and not by the UUID?

[2017-04-07 21:49] colemickens commented on #43730
I guess either way there's still agreement that this is a bug in ServiceController layer... please tell me if this isn't the case and we need to be more actively engaged from the Azure side.

[2017-04-07 21:50] bowei commented on #43730
@colemickens -- as far as I can tell, it is tracked by name and not UUID

[2017-04-07 21:57] calebamiles commented on #39334
@dashpole are you still planning on fixing this for 1.4? Otherwise could probably close this issue.

[2017-04-07 22:09] crimsonfaith91 commented on #44219
/assign

[2017-04-07 22:14] dashpole commented on #39334
I am still planning on it.  I ran into a roadblock cherrypicking it to 0.24.2 in the cadvisor branch, but I dont remember what it was... Ill try and do that soon

[2017-04-07 22:31] bgrant0607 commented on #44160
@lavalamp FYI, when I last checked, not all resources set metadata.generation.

[2017-04-07 22:32] bgrant0607 commented on #44160
@janetkuo, since it's similar-ish to the Deployment<->ReplicaSet sync'ing problem.

[2017-04-07 22:38] smart2003 commented on #41861
Is that possible to add the opaque int resource from the worker node? I typed the following command on a worker node. The node was patched, but the opaque int resource is not there.
$ kubectl patch node worker1 --type='json' -p='[{"op": "add", "path": "/status/capacity/pod.alpha.kubernetes.io~1network", "value": "1000"}]'

$ "worker1" patched

$ kubectl get node worker1 -o json | jq .status.capaci

[2017-04-07 22:43] djsly commented on #43730
correct, the key used to track consist of the string: `<namespace_name>/<service_name>`

[2017-04-07 22:47] ConnorDoyle commented on #41861
@smart2003 there are a couple of patch strategies the kubectl/api support. The one that works in our testing is `application/json-patch+json` (as in the curl command in the issue description here). If that doesn't work for you, would you mind submitting a new issue to track it? This one is closed.

[2017-04-07 22:57] runcom commented on #44219
Mmm not sure how it's related to the changes I did back then, sounds like a gcr.io issue to me

[2017-04-07 22:57] smart2003 commented on #41861
curl command works for me as well. I used this method to add the
opaque-int-resource on the master node. It works well. However, I did not
set it up successfully with the curl command on the worker nodes because of
the security check. The worker needs the authentication such as the
auth-token to access the api-server running on master. Would you mind
telling me how to add the opaque-int-resource v

[2017-04-07 23:11] cmluciano commented on #44080
I'd be delighted.

[2017-04-07 23:42] cmluciano commented on #44080
@justinsb I looked at your PR and noted your comment on nvidia-uvm needing that modprobe. Apparently this is just a "thing" and I even found this in the [mesos gpu isolator](https://github.com/apache/mesos/blob/master/src/slave/containerizer/mesos/isolators/gpu/isolator.cpp#L162-L171).

Pooling makes sense since GPUs are more susceptible to issues under stress. What do we think is an acceptable pe

[2017-04-07 23:58] fejta opened #44225 "Services should preserve source pod IP for traffic thru service cluster IP flakes"
/assign @Random-Liu @matchstick

See https://github.com/kubernetes/test-infra/blob/master/experiment/bigquery/flakes-latest.json

Testgrid shows this flakes more than once per day in two jobs:
* gce-proto: https://k8s-testgrid.appspot.com/google-gce#gce-proto&width=5&sort-by-failures=
* non-cri-gce: https://k8s-testgrid.appspot.com/google-non-cri#gce&width=20&sort-by-failures=

You can filter go.k

[2017-04-08 00:01] bgrant0607 commented on #31824
Quick note:

Controlling PodSecurityPolicy settings and/or [dedicated nodes](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/taint-toleration-dedicated.md) are also relevant with respect to enforcing isolation.

[2017-04-08 00:01] MikaelCluseau commented on #38337
Thanks @dashpole I'll move there

[2017-04-08 00:02] fejta opened #44226 "Downward API volume should update labels on modification flakes at least once per day"
/assign @timothysc @dchen1107 @matchstick

See https://github.com/kubernetes/test-infra/blob/master/experiment/bigquery/flakes-latest.json

`Downward API volume should update labels on modification` flakes at least once per day in the following job:
* gce-container-vm: https://k8s-testgrid.appspot.com/google-gce#gce-container-vm&width=5&sort-by-failures=

[Triage dashboard](http://go.k8s.io/triage

[2017-04-08 00:05] MikaelCluseau commented on #44059
I have the same issue under CoreOS Container Linux:
[code]

[code]

In my case, I use CoreOS's kubelet-wrapper (rkt with the "fly" stage0) and /var/lib/kubelet is bind-mounted rshared before starting rkt.

[2017-04-08 00:07] fejta opened #44227 "Projected should update labels on modification flakes at least once per day"
/assign @xiang90 @saad-ali @matchstick

See https://github.com/kubernetes/test-infra/blob/master/experiment/bigquery/flakes-latest.json

The `Projected should update labels on modification` flakes once a day in 1 job:
* gci-gce-etcd3: https://k8s-testgrid.appspot.com/google-gce#gci-gce-etcd3&width=5&sort-by-failures=

The [triage dashboard](http://go.k8s.io/triage) can filter down to just this tes

[2017-04-08 00:13] MikaelCluseau commented on #44059
Which seems to be because tmpfs is not in the list here: https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/google/cadvisor/fs/fs.go#L125

[2017-04-08 00:14] Random-Liu commented on #44219
@spxtr This also sounds like a gcr.io issue to me.

Image registry is flaky. That's why we introduced image prepull, e.g. https://github.com/kubernetes/kubernetes/issues/25116.

Previously, we pull image in separate test, and when there is image registry flake, it will look like the test itself fails, and we have to invest resource to debug the test failure.

With image prepull, we only pull image

[2017-04-08 00:21] vishh commented on #44080
Kubelet cannot handle changes to capacity over time. So support for
hot-plugging will be tedious. We can start with a one shot discovery that
is run in a loop until it succeeds. We can retry every minute.

Kubelet can identify the number of nvidia GPUs on a node by reading
`/proc/bus/pci/devices` and looking for devices with vendor ID `10de`. Once
it knows the number of GPUs, kubelet can retry GPU

[2017-04-08 00:38] freehan commented on #43988
IIUC, you are using `cni` network plugin with flannel, not `kubenet`. Right?

[2017-04-08 00:40] freehan commented on #43988
cni network plugin retrieves ip using this logic: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/plugins.go#L279

Can you try to do the same manually with `nsenter` and `ifconfig`?

[2017-04-08 00:41] Random-Liu commented on #44140
Actually, Kubernetes only supports docker version 1.10.x, 1.11.x and 1.12.x.

We don't recommend user to use version higher or lower than that range because we don't have enough test coverage on that.

As for docker new version schema, I'm fine to change the code to tolerant new version schema.

[2017-04-08 00:44] #42523 closed

[2017-04-08 00:59] fejta opened #44229 "Basic StatefulSet functionality [StatefulSetBasic] should provide basic identity is flaky"
/assign @bprashanth @lavalamp @erictune

`Basic StatefulSet functionality [StatefulSetBasic] should provide basic identity is flaky` flakes in PR jobs more than once per day

The [triage tool](http://go.k8s.io/triage) can filter down to searching for results for a single test:
* https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=should%20provide%20basic%20identity

[2017-04-08 01:02] fejta commented on #41898
/assign @pwittrock

`Kubectl describe should check if kubectl describe prints relevant information for rc and pods` flakes PRs at least once a day

The [triage tool](http://go.k8s.io/triage) can filter down to focus on a single test:
* https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=should%20check%20if%20kubectl%20describe%20prints%20relevant%20information%20for%20rc%20an

[2017-04-08 02:05] thockin commented on #43173
Much of the provider code is tested by e2e on the actual providers.
Sending a PR will allow tests to run on GCP and we can get help on others.

On Apr 6, 2017 1:49 AM, "Abhishek Dasgupta" <notifications@github.com>
wrote:

[2017-04-08 05:22] mozhuli opened #44231 "kubenet failed limit egress traffic"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):BUG REPORT

**Kubernetes

[2017-04-08 06:23] spxtr opened #44232 "verify-federation-openapi-spec.sh flake"
See [gubernator](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/44048/pull-kubernetes-verify/24940/).

[code]

etcd log
[code]
I'm not actually sure what went wrong here, but I guess it failed.

@mbohlool

[2017-04-08 06:29] gp1105739 opened #44233 "kubelet pod start latency is NaN"
I am using <node-IP>:10255/metrics to scrape kubelet_pod_start_latency but it is always like the following:

# HELP kubelet_pod_start_latency_microseconds Latency in microseconds for a single pod to go from pending to running. Broken down by podname.
# TYPE kubelet_pod_start_latency_microseconds summary
kubelet_pod_start_latency_microseconds{quantile="0.5"} NaN
kubelet_pod_start_latency_microsecon

[2017-04-08 06:40] irfanurrehman commented on #42559
thanks @mickybart, so the issue is because the host cluster API server exposes the RBAC api, but the server does not run with RBAC. This is something kubefed does not handle yet. I will work to figure out a solution for this.

[2017-04-08 07:52] k82cn commented on #43845
@bgrant0607 /@davidopp /@timothysc /@bsalamat  , When reviewing the PR, there's one question on `HardPodAffinitySymmetricWeight`: the default value of `HardPodAffinitySymmetricWeight` is 1,
which means the weight (1) will always add to priorities if term matched ([here](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/priorities/interpod_affinity.go#L163)), does

[2017-04-08 07:56] davidopp commented on #43845
The value 1 (instead of 0) was chosen so that if you say A must run with B, there is an automatic preference that B should run with A. This seems like reasonable behavior.

[2017-04-08 09:37] timchenxiaoyu opened #44234 "ABtest"
kubernetes rolling update support abtest

[2017-04-08 09:57] tyranron opened #44236 "Apiserver fails to start inside container in 1.6"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
Client: `v1.6.1`
Server: `v1.6.1+coreos.0`

**Environment**:
- **Cloud provider or hardware configuration**: Bare metal, 1 node (also tested for 3 nodes = 1 master + 2 workers)
- **OS**: CoreOS `1298.7.0`
- **Kernel**:  `4.9.16-coreos-r1`
- **Install tools**: `quay.io/coreos/hyper

[2017-04-08 11:36] kargakis commented on #14510
What we need for Deployments is auto-pause (assuming it will work at any point in a rollout and not just for canaries) and probably a strategy that delegates to something else.

https://github.com/kubernetes/kubernetes/issues/11505
https://github.com/kubernetes/kubernetes/issues/39337

[2017-04-08 11:38] kargakis commented on #44234
@kubernetes/sig-apps-feature-requests

[2017-04-08 11:38] kargakis commented on #44234
Will be possible once we have auto-pause: https://github.com/kubernetes/kubernetes/issues/11505

[2017-04-08 11:50] ncdc commented on #44233
See https://github.com/prometheus/prometheus/issues/860

[2017-04-08 12:41] tiukhtinvladimir commented on #44050
Closing issue, sorry for disturbing - was my fault

[2017-04-08 12:41] #44050 closed

[2017-04-08 12:52] kayrus commented on #15108
Could be related: https://github.com/kubernetes/kubernetes/pull/31647

[2017-04-08 13:02] #44140 closed

[2017-04-08 13:22] ariv3ra commented on #43805
Here is a `sed` cmd that I run in a provisioning script that I run before executing `kubeadm init`

[code]

[2017-04-08 13:46] kargakis opened #44237 "Switch PodSpec-y resources owned by other resources to be read-only"
At least for ReplicaSets owned by Deployments (and I expect that this will be the same for PodTemplates or whaetever resource we pick for DaemonSets/StatefulSets) this is a problem currently. The way the Deployment controller works, for example, is that a Deployment will create a ReplicaSet if no other RS matches its intent. If a user updates the PodTemplateSpec of the underlying ReplicaSet, the D

[2017-04-08 14:03] irfanurrehman commented on #43123
I somehow remember @perotinus taking this up earlier.
@perotinus do u have an open PR for this.. ? (could not find one).

[2017-04-08 14:35] dzavalkinolx commented on #33192
Guys, any chance this bug will be finally fixed in 1.5.x (1.4.x would be even better)? So much advertised on Kubecon 2017 horizontal pod autoscaler just doesn't work because of this bug - isn't it a shame for the whole kubernetes as a product? I don't think cron to restart kubelet on `curl -s localhost:10255/stats/summary | jq -Mr '.pods | any'` is a viewable workaround...

[2017-04-08 15:26] xmudrii opened #44240 "kubeadm: unknown flag --api-advertise-addresses on 1.6.1"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): **BUG REPORT**

**Kubernetes version** (use `kubectl version`):
[code]

**Kubernetes - `kubeadm` version** (use `kubeadm version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: DigitalOcean
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`): `Linux ubuntu-2gb-nyc3-01 4.4.0-66-generic #87

[2017-04-08 16:55] wanghaoran1988 commented on #44127
Sorry to see this late, priorities e2e test is harder than predicates now, they will interfere each other with all the priority function enable, but I am glad the bobby is working on the dynamic change of the policy file, I think we'd better to test each priority function individually with only that function only enabled,  and I will update the tests after #43892 get in.

[2017-04-08 17:04] cblecker commented on #44232
Output from the next run that succeeded:
[code]

It didn't get to the diff step. At the very least, so more logging is needed in this hack/ script.

[2017-04-08 19:01] fejta opened #44242 "BeforeSuite on Node 1 failing 70 builds per hour"
02bd8b - 20 builds/hr, 480 tests/hr - The 1.5 GKE jobs fail to setup all nodes correctly. Spiked Wednesday
143ba8 - 50 builds/hr, 70 tests/hr - A different cluster of BeforeSuite failures, on both 1.5 and serial jobs (summary). Spiked Wednesday.

https://storage.googleapis.com/k8s-gubernator/triage/index.html#02bd8ba009292ae49af5
https://storage.googleapis.com/k8s-gubernator/triage/index.html#143b

[2017-04-08 19:04] fejta opened #44243 "cluster up failing ~50 jobs per hour"
105935 - 70 builds/hr, 70 tests/hr - A bunch of GKE jobs fail to start clusters (summary). Started 4/1, spiked tuesday 4/4. Declined Wednesday and Thursday but still high.

/assign @lukemarsden @roberthbailey @jlowdermilk @mikedanese

https://k8s-testgrid.appspot.com/release-1.6-all#gci-gke-reboot-1.6
https://storage.googleapis.com/k8s-gubernator/triage/index.html#ea6679417165f10786e6

[code]

[2017-04-08 19:09] fejta commented on #44242
Here is another cluster that the triage tool thinks is different but I suspect is part of the same problem: https://storage.googleapis.com/k8s-gubernator/triage/index.html#143ba813b745195b5eca

A couple example jobs where this is happening (see the triage links for full list):
https://k8s-testgrid.appspot.com/release-1.6-all#gci-gke-reboot-1.6
https://k8s-testgrid.appspot.com/google-kubectl-skew#g

[2017-04-08 19:43] #44240 closed

[2017-04-08 19:53] vdavidoff commented on #43988
Frankly, CNI networking and other related network plugins confuse me a great deal. I'm not setting any CNI or network plugin related options for kubelet, kube-apiserver, or anything else, as far as I am aware. Based on the following messages in kubelet's log, I think this means I'm using a default/no-op CNI implementation, but I don't understand the implications of that:
[code]

What I can tell yo

[2017-04-09 01:41] k8s-merge-robot opened #44247 "ci-kubernetes-e2e-gci-gce-slow: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/4146/
Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for pod-Service: udp {Kubernetes e2e suite}

[code]
Issues about this test specifically: #34317

Failed: [k8s.io] ESIPP [Slow] should work for type=NodePort {Kubernetes e2e suite}

[code]

[2017-04-09 02:26] mtaufen opened #44248 "Removing flags at the end of their deprecation period is rarely easy"
Removing deprecated flags is annoying because a number of components typically aren't kept up to date when the flags are initially deprecated - and it typically falls to the person doing the removal to fix these components.

Off the top of my head:
- Provisioning scripts are rarely kept up to date until it's time to actually remove the flag. For an example, see #40050. I'd like to maybe have somet

[2017-04-09 03:12] RaghavendraNandagopal commented on #19515
Hi,
   Running into same issue.  Below are the versions and environment
`Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"b0b7a323cc5a4a2019b2e9520c21c7830b7f708e", GitTreeState:"clean", BuildDate:"2017-04-03T23:43:00Z", GoVersion:"go1.8", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.3", GitCommit:"029

[2017-04-09 06:04] k82cn commented on #43845
Thanks very much; reasonable case to me. But it seems we can not disable it: if set to 0, the default funcs will set it to default (1); similar result to un-set. Anyway, no user complain this now :).

[2017-04-09 06:15] xtagon commented on #44240
@xmudrii What was the solution? Is `--apiserver-advertise-address` the new `--api-advertise-addresses`? I just ran into this issue as well.

[2017-04-09 06:18] adohe commented on #23993
@kargakis yep, kind of duplicated, so what's your opinion about this? I would like to pick this in 1.7

[2017-04-09 06:40] adohe commented on #44165
@liggitt @deitch this is definitely client side behavior. `kubectl apply` will first check whether obj exists, if not then try to do create logical. But it cannot avoid other client create the same object meantime, for such situation(`AlreadyExists` error), kubectl should fallback to do normal patch logcial, since there is no guarantee the new object created in the meantime matches the manifest th

[2017-04-09 06:43] adohe commented on #30961
@fabiand @Martlark generally the YAML configuration file should be valid, and kubectl will try to provide more clear error message.

[2017-04-09 07:13] xmudrii commented on #44240
I'm still not sure at all, but I think it is. 
I don't know when it got changed neither I found something in changelog.

[2017-04-09 07:41] coreyjohnston commented on #29769
+1

[2017-04-09 07:45] jazoom commented on #29540
Same issue here. Why did @dchen1107 even close this?

[2017-04-09 07:57] deitch commented on #44165
@adohe so the upsert activity really isn't a kube-apiserver capability (well, controller-manager, but whatever), but a kubectl capability that just does "check if exists: if yes, update; if not, create."

Yes.

Ideally, I think you would want that upsert logic in the server, so kubectl (i.e. a rest API call) can just do a simple `apply` call. In the meantime, though, yes, a kubectl-side: "check if

[2017-04-09 08:04] adohe commented on #44165
@deitch we did plan to move `apply` to server-side :)

[2017-04-09 08:07] deitch commented on #44165
@adohe Thinner client, simpler logic, complexity on the server instead of client? I cannot imagine why...  :-)

Of course, you still will need the same logic, since two threads of the server could handle it at the same time.

[2017-04-09 10:06] mamirkhani commented on #23726
Similar to @sumitkau, I solved my problem with setting new kubelet config location using:
kubectl --kubeconfig /etc/kubernetes/kubelet.conf get no

[2017-04-09 11:10] anuribs commented on #29540
I remember resolving the issue by first deleting the secret corresponding to the kube-system namespace, i.e

`kubectl delete secret secretName -n kube-system`

The api-server will then create a new secret. Now delete the dashboard pod, and the new pod spun up by the rc/deployment will use the new secret and the errors corresponding to "credentials" should be gone.

Alteast this worked for me :)

[2017-04-09 12:38] praseodym commented on #29206
Still seeing this on v1.6.1:
[code]

[2017-04-09 13:02] stregatto commented on #40745
This is mine, kube 1.3.6, stop and start of kube performed manually.
No previous significant logs are available.

`Apr 09 12:10:53 prd-node013 kubelet[2145]: I0409 12:10:53.099030    2145 operation_executor.go:795] MountVolume.SetUp succeeded for volume "kubernetes.io/configmap/b3f7469b-1ada-11e7-be29-3ca82a136408-confi
g-volume" (spec.Name: "config-volume") pod "b3f7469b-1ada-11e7-be29-3ca82a1364

[2017-04-09 13:19] neermitt commented on #44214
I am also seeing similar issue, in my installation.

kubelet.log entry begins with this error
atomic_writer.go:444] pod mimir-test/mimir-np-master-2244465049-ki1d8 volume myConfig: error pruning old user-visible path policies: remove /var/lib/kubelet/pods/e5eb5c94-1b05-11e7-bda7-0025b500003f/volumes/kubernetes.io~configmap/myConfig/policies: device or resource busy

[2017-04-09 13:41] bw2 commented on #4009
I'm also running into this issue.
I've tried running "gcloud delete" on all deployments, services and pods, waiting until all of these are deleted, and then running "gcloud push" and "gcloud create" but somehow the replica sets still end up pointing at the old version of my docker image.
The only work around I've found so far is to delete and recreate the cluster.

[2017-04-09 14:27] supereagle commented on #11505
/sub

[2017-04-09 15:30] #17562 closed

[2017-04-09 17:30] pwittrock commented on #41898
@monopole For when you have some time.

[2017-04-09 17:42] rangapv commented on #43593
Hi,
I am getting the following error when trying to start a pod via the single node K8 with CRI-O in ubuntu16.1, the hardware is 4 vCPU with 10 GB RAM on GCP. Error message is failed to sync pod, error creating the pod, CrashLoopBackOff.... The following is the POD description error message.....

 52s   5s      6       kubelet, 127.0.0.1      spec.containers{nginx6} Warning BackOff         Back-of

[2017-04-09 18:19] #42607 closed

[2017-04-09 18:20] prateek2408 commented on #5607
@ cmluciano I tired with privileged mode and it worked fine. However I went through this feature and came to know that it is not recommended to run a container in privileged mode as it exposes all the resources and can cause security problems.

Going further I have a use case where I want to assign a particular GPU card and it would be even better if I can assign a portion of GPU to a particular c

[2017-04-09 20:43] tkrille commented on #19515
Same here. I'm taking the tutorial ["Running a Stateless Application Using a Deployment"](https://kubernetes.io/docs/tutorials/stateless-application/run-stateless-application-deployment/). There seems to be a typo in the YAML in the section ["Creating and exploring an nginx deployment"](https://kubernetes.io/docs/tutorials/stateless-application/run-stateless-application-deployment/#creating-and-ex

[2017-04-09 20:58] davidopp commented on #42001
Note that memory and disk pressure are checked in separate predicates, not in the NodeConditionPredicate. These should be represented as NoSchedule taints too.

https://github.com/kubernetes/kubernetes/blob/e7dfdd5d57b48859811dd4848af5e08b455215b2/plugin/pkg/scheduler/algorithm/predicates/predicates.go#L1239

[2017-04-09 22:02] smarterclayton commented on #38199
Deleting a pod should abort running pulls.

[2017-04-09 22:12] smarterclayton commented on #41913
Pods that are complete are hidden by default - you can use `kubectl get pods --show-all` to see them.

[2017-04-09 22:13] smarterclayton commented on #26651
Fixed as commented

[2017-04-09 22:13] #26651 closed

[2017-04-10 01:18] leeeboo opened #44253 "Minions node has been set as a new node in cluster when it restarted"
I run kubernetes 1.5.2 with CentOS7 on AWS.

For some private reason, I have 2 AWS account.

There are 2 vpcs in each 2 account which connected by aws vpc direct connetions.

VPC-1:

1 * master
3 * nodes

VPC-2:

2 * nodes

Yesterday, I restart each node for some upgrade. The nodes in VPC-1 are all work well. But the nodes in VPC-2 lost all properties (such as labels) when they restarted.

I run k

[2017-04-10 01:20] davidjbrady opened #44254 "NetworkUnavailable NoRouteCreated on GCE with CNI network plugin"
**Is this a request for help?** Yes

**What keywords did you search in Kubernetes issues before filing this one?**
cloud, provider, gce, network, unavailable, cni, route, routecontroller

---

**Is this a BUG REPORT or FEATURE REQUEST?**
Bug Report

**Kubernetes version** v1.6.1:

**Environment**:
- **Cloud provider or hardware configuration**: GCE
- **OS** (e.g. from /etc/os-release): Container L

[2017-04-10 01:33] zouyee commented on #43901
etcd could not found those data,I think the reason lies in the cache

[2017-04-10 01:40] zouyee commented on #44198
controller manager leader log：
[code]

[2017-04-10 02:00] LQkinglear commented on #24668
@dims  thank you very much. I just started learning k8s,

[2017-04-10 03:31] kgrvamsi commented on #43974
@zhouhaibing089 sorry for my late response on this but i still have some error on this though i added the required key for the controller manager to run

https://gist.githubusercontent.com/kgrvamsi/91f7dd966b1b405b672f590b067874d8/raw/30b4310b59da0ff86e96ce8debd900b674fbf265/Kube-controller-manager%2520Log%25203

[2017-04-10 03:35] thockin commented on #5607
Even within this topic there are multiple issues in play:

1) how to allow things like /dev/fuse which need some privilege but are
virtual by nature

2) how to allow specific GPUs

3) do we allow time-slicing on GPUs?

To (3), I am not GPU expert, but as I understand it, the GPU RAM isn't
protected and isn't fast to load, so timeslicing would probably be really
bad.

On Sun, Apr 9, 2017 at 11:20 A

[2017-04-10 04:00] thockin commented on #43632
I don't think this warrants a proposal or feature.  I would argue for the more expliciti form of the API, but hostnames has to be plural, and IP has to be the mergeKey.

@dchen1107 or @yujuhong - any objections?  Consider from a CRI point of view?

[2017-04-10 04:35] thockin commented on #42718
I can't follow the thread - please include me.

On Fri, Apr 7, 2017 at 11:23 AM, Vish Kannan <notifications@github.com>
wrote:

[2017-04-10 05:13] thockin commented on #44063
Note that even with IPVS, NodePorts, firewalls, and so on still have to be
handled and the obvious place to handle much of it is iptables.

On Tue, Apr 4, 2017 at 8:31 PM, Guangya Liu <notifications@github.com>
wrote:

[2017-04-10 05:16] thockin commented on #44063
Port mapping is handled in NAT mode (called masquerade by IPVS, sadly).  As an optimization, a future followup could enable direct-return mode for environments that support it for services that do not do remapping.  We'd have to add service IPs as local addresses in pods, which we may want to do anyway.

[2017-04-10 05:21] thockin commented on #44063
Last comment for the record here, though I have said it elsewhere.

I am very much in favor of an IPVS implementation.  We have somewhat more than JUST load-balancing in our iptables (session affinity, firewalls, hairpin-masquerade tricks), but I believe those can all be overcome.

We also have been asked, several times, to add support for port ranges to Services, up to and including a whole IP.

[2017-04-10 05:41] chrw commented on #43632
For me, this solves my problems. http://blog.kubernetes.io/2017/04/configuring-private-dns-zones-upstream-nameservers-kubernetes.html

[2017-04-10 05:51] gyliu513 commented on #44202
ping @kubernetes/sig-autoscaling-misc  @kubernetes/sig-autoscaling-feature-requests can anyone show some comments for this? Hope we can have this in 1.7

[2017-04-10 06:04] thockin commented on #40573
@mdelio We should get these last 2 added to backlog.  I threw them in the spreadsheet

[2017-04-10 06:05] ddysher commented on #4957
@liggitt  But this seems to be conflict with what abac or rbac promises?  if we have abac or rbac policies that clearly rule out accessing secrets, like `user-cannot-read-secret` role above, then I would expect user to not being able to access secrets at all.  In other words, if I want him/her to mount secret, I would otherwise use this role (or maybe two rules if post on secrets is not allowed)
[

[2017-04-10 06:08] davidopp commented on #40573
IIRC @dchen1107 has said she doesn't think kube-proxy should be in Guaranteed QoS because it is hard to set a good limit for its memory consumption.

[2017-04-10 06:41] gyliu513 commented on #43954
cc @kubernetes/sig-autoscaling-feature-requests @kubernetes/sig-autoscaling-misc

[2017-04-10 07:03] dove-young opened #44259 "why not divide requiredDuringSchedulingIgnoredDuringExecution into 2 items"
**Kubernetes version** (use `kubectl version`):
1.6

As mentioned in this blog, http://blog.kubernetes.io/2017/03/advanced-scheduling-in-kubernetes.html,

[code]

_“IgnoredDuringExecution” means that the pod will still run if labels on a node change and affinity rules are no longer met. There are future plans to offer requiredDuringSchedulingRequiredDuringExecution which will evict pods from nodes

[2017-04-10 07:07] ChenLingPeng commented on #44063
In IPVS mode, we have to add all the service address to host device like lo or ethx, am I right?

[2017-04-10 07:21] jingxu97 commented on #44172
There are a few questions have been discussed related to snapshot API design including whether the API object should be in user namespace or not, whether there should be two objects such as Request and snapshot (also snapshotSet). The following is a summary of the points.

**Namespace discussion**
1. Unlike PVs that are created by admins only, snapshots could be initiated by users or admins. Clear

[2017-04-10 07:23] xialonglee commented on #43856
+1 This issue occasionally appears in CentOS 7.2
and a reboot could fix it.
It never happens in kubernetes v1.5.
Seems this message
[code]

are printed from the codes which imported from #41833 , so I tag you @sjenning @vishh @derekwaynecarr and sorry for troubling.

[2017-04-10 07:28] roberthbailey commented on #44242
All of the logs that you point to show an unhealthy node where neither fluentd nor kube-proxy is in the ready state. Both of those are pods launched from static manifests on the nodes, and since the pods are running (but not ready), I think this is more likely to be a node issue than a lifecycle issue.

@dchen1107

[2017-04-10 07:30] roberthbailey commented on #44243
@krousey found through manual testing that the GKE test environment broke for more than a day last week before anyone noticed (now that it isn't part of the submit queue and we don't have any automated alerting). I believe this was fixed before the end of last week, so I'm going to mark as such. Please reopen if you still see a high failure rate.

(as an aside, if the failing tests are GKE-only, i

[2017-04-10 07:37] gyliu513 opened #44262 "Remove the request of running critical pods in kube-system namespace"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-04-10 07:38] gyliu513 commented on #44262
/cc @kubernetes/sig-scheduling-feature-requests @kubernetes/sig-scheduling-misc

[2017-04-10 07:40] yoshi522 commented on #11237
According to this document, you should add option "--force" to replace your service yaml.
https://kubernetes.io/docs/concepts/cluster-administration/manage-deployment/#disruptive-updates

[2017-04-10 08:28] double-p commented on #36905
On a sidenote, if you fixed the 'modprobe' problem, but still on timeout. Check if you run across namespaces ( https://github.com/rook/rook/issues/475 ); then grab the secret from default and add it into the namespace of the consuming pods

[2017-04-10 08:47] NickrenREN opened #44263 "clientset interface functions deprecated"
Since we mark functions of clientset interface such as Core(), Autoscaling().... as deprecated, should we change all the calling of Core() to specific version like CoreV1() ... ?

https://github.com/kubernetes/kubernetes/blob/master/pkg/client/clientset_generated/clientset/clientset.go

[2017-04-10 08:51] NickrenREN commented on #44263
/cc @kubernetes/sig-api-machinery-misc

[2017-04-10 08:58] fgrzadkowski commented on #44202
We had a similar discussion https://github.com/kubernetes/kubernetes/pull/32408. Adding this to HPA policy would expose internals of the algorithm. However as explained in the other thread we should fix underlying issues that this code is trying to workaround.

CC-ing @DirectXMan12 and @mwielgus who were involved in the original discussions.

[2017-04-10 08:58] #44202 closed

[2017-04-10 08:59] kargakis commented on #44198
What's the version of the etcd you are running? This is most likely a duplicate of https://github.com/kubernetes/kubernetes/issues/41760

[2017-04-10 09:09] gyliu513 commented on #44202
Why adding this would expose internals of the algorithm? In OpenStack Heat, we already adding a parameter such as `cooldown` to do the similar work https://github.com/openstack/heat-templates/blob/master/contrib/rackspace/RackspaceAutoScale.yaml#L40

[2017-04-10 09:10] gyliu513 commented on #44202
Thanks @fgrzadkowski , the #32408 does help a lot.

[2017-04-10 09:21] max-vogler commented on #33664
For people like me, finding this issue via Google: A solution to force the re-pull of the image is to change the pod-template hash during each build. This can be achieved by adding an environment variable that is altered during build:

**deployment.yaml**
[code]

**Deploy:**
[code]

[2017-04-10 09:58] fgrzadkowski commented on #44202
On a high level, because we should not need this knob at all and detect it automatically. Details of this reasoning in the other issue.

[2017-04-10 09:59] gyliu513 opened #44265 "Critical pod does not work"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-04-10 10:00] gyliu513 commented on #44265
/cc @kubernetes/sig-scheduling-bugs

[2017-04-10 10:07] gyliu513 commented on #44265
/cc @piosz

[2017-04-10 10:34] kahwai1984 commented on #30974
#27722

[2017-04-10 10:47] fabiand commented on #44001
Also vaguely related to this proposal: This proposal relies on the available resources of a node.
IIUIC currently only cpu, memory, storage, and nvidia gpus, and they are hrad-coded inside the kube codebase.

Does this really scale on the long run? Is it planned that additional resources will be exposed as node resources (in that place where the others mentioned above are defined)?
If this mechani

[2017-04-10 11:12] zouyee commented on #44198
[code]
I will upgrade etcd to determined this problem，thank you!

[2017-04-10 11:30] piosz commented on #44265
@gyliu513 can you show logs from rescheduler?

[2017-04-10 11:31] hzxuzhonghu commented on #44203
@spradeepv I think you should implement your own watch of pod update in service controller, and call related cloudprovider interface

[2017-04-10 11:34] ChenLingPeng commented on #17470
@kobolog
I found that your script only work when director visit local containers. when tring from other director, no response will reply. Do you have any idea that I can visit container in HostB when requet from HostA using IPVS mode?

[2017-04-10 11:40] MaciekPytel opened #44268 "Cluster-Autoscaler e2e sometimes flakes"
The following error pops up randomly in various Cluster-Autoscaler tests, usually resulting in about 1 test failed / 10 runs of the whole suite (so ~1% probability per test). This error is responsible for most of the test failures in the suite.

[code]

cc: @mwielgus @fgrzadkowski

[2017-04-10 11:47] xiangpengzhao opened #44269 "kubectl patch node Opaque Integer Resource doesn't take effect"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernete

[2017-04-10 11:52] xiangpengzhao commented on #44269
cc @ConnorDoyle @smart2003

[2017-04-10 11:54] xiangpengzhao commented on #41861
@smart2003 It seems that you missed prefix `opaque-int-resource-` in your command:)

@ConnorDoyle I create a new issue. #44269

[2017-04-10 12:03] gyliu513 commented on #44265
@piosz it is strange that there is no log in rescheduler, do you have any comments for how to debug this?

[2017-04-10 12:05] xiangpengzhao opened #44270 "kubectl describe node should reflect OIR consumption in Allocatable field"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT?

**Kubernet

[2017-04-10 12:07] nicky-lenaers commented on #43808
Same issue on GKE. Any updates on this?

[2017-04-10 12:13] xiangpengzhao opened #44271 "kubectl describe node should show OIR requests/limits for Non-terminated Pods"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Kube

[2017-04-10 12:18] gyliu513 commented on #44262
/cc @piosz any comments for this?

[2017-04-10 12:18] xiangpengzhao commented on #44271
@ConnorDoyle I created three issues(#https://github.com/kubernetes/kubernetes/issues/44269, #https://github.com/kubernetes/kubernetes/issues/44270 and this one) associated with OIR. Is that OK to create them separately ? I think it would be clear to describe them in different issues.

If these issues make sense, I will try to work on them. Of course, if you or other folks have already been working

[2017-04-10 12:21] majewsky opened #44272 "feature request: server-side filtering of `kubectl logs`"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): `logs grep label:area/kubectl`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (ch

[2017-04-10 12:24] gyliu513 commented on #44265
@piosz

No log for rescheduler.
[code]

The critical pod keeps pending.
[code]

Critical pod event
[code]

[2017-04-10 12:26] nicky-lenaers opened #44273 "NetworkPluginNotReady"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "NetworkPluginNotReady", ""

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose o

[2017-04-10 12:28] arthur0 commented on #43808
@nomad-007
I haven't any problem with Ubuntu 16.04.2 bare metal (kubeadm version 1.6.1)
I used Flannel as the overlay network.
You can view step-by-step here: https://asciinema.org/a/bfdhf5l56d4ovec9sv5gvko9e

[2017-04-10 12:39] Scukerman commented on #43808
@vdrizheruk, @nomad-007 you have to use kubernetes version >= `v1.6.1` via `--kubernetes-version` flag

[2017-04-10 12:41] piosz commented on #44265
Ups, that's bad. Can you please ssh to rescheduler and its logs should be in /tmp directory.

Also Rescheduler is triggered by pods with condition [PodReasonUnschedulable](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L1921) which seems to be not set here.

cc @davidopp

[2017-04-10 12:46] piosz commented on #44265
@gyliu513 can you please show result of the following command:
[code]

[2017-04-10 12:50] gyliu513 commented on #44265
@piosz

[code]

[2017-04-10 12:50] piosz commented on #44262
This works as intended. Rescheduler was a solution for problem with Kubernetes components running in user space and we strongly discourage users from using it. The proper priority/preemption support is coming in 1.7 (?).

cc @davidopp

[2017-04-10 12:50] #44262 closed

[2017-04-10 12:52] gyliu513 commented on #44265
@piosz This is the log message for rescheduler.

[code]

[2017-04-10 12:58] piosz commented on #44265
I can't see critical annotation in your pod:
[code]
It should be defined in pod template rather than for the deployment itself. See (heapster-controller.yaml)[https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/cluster-monitoring/google/heapster-controller.yaml] for reference

[2017-04-10 12:58] #44265 closed

[2017-04-10 13:07] gyliu513 commented on #44265
Ah, my bad, I was adding the `critical annotation` in `Deployment metadata`, after switch to `podSpec`, it is working well! Thanks again for @piosz

[code]

[2017-04-10 13:10] gyliu513 commented on #44265
@piosz another question is that in https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/concepts/cluster-administration/guaranteed-scheduling-critical-addon-pods.md , there is no place mentioning that the customer need to start up a`rescheduler` pod, I think that we need to update the document to reflect this, any comments?

[2017-04-10 13:14] piosz commented on #44265
Is there any information in Kubernetes documentation a user needs to start up scheduler? If yes we can add this. In general rescheduler is in some sense the same class as scheduler and should run on master machine by default.

[2017-04-10 13:14] yolinas opened #44275 "Can't access cluster master endpoint after upgrade from 1.5.4 to 1.6.0"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
system:anonymous
User "system:anonymous" cannot get  at the cluster scope
upgrade

---

[2017-04-10 13:17] jsravn commented on #41916
@jswoods I just had the same thing happen - NodeNotReady for about 15 minutes. No errors in kubelet logs - which means kubelet thought it successfully posted the node status (unless there is a bug in this logic). I'm also using HA masters behind an ELB.

Are you sure it's an ELB problem? Because I would expect to see kubelet report an error in that case. Note I've also seen some other strange thin

[2017-04-10 13:17] kargakis commented on #41015
Addressed in https://github.com/kubernetes/community/pull/503

[2017-04-10 13:21] jsravn commented on #41916
Also to add - we long ago set those eviction rates to be really low, because we very early on discovered what happened when there was a network glitch, or apiserver down temporarily (DELETE THE WORLD!) :). 1.5 is finally getting sensible and has removed the eviction altogether, 1.6 lets you specific eviction policy at a pod level. On 1.4 and prior, everyone should set those values correctly to be

[2017-04-10 13:22] deads2k commented on #44188
This is a good idea.  @k82cn are you actively working on it?  If so, I can assign you.

[2017-04-10 13:27] ingvagabund opened #44276 "etcd v2 to v3 migration data verification"
Reading etcd migration docs [1] and the script [2] that carries the migration/upgrade, I don't see anything verifying the v2 data are correctly migrated/transformed into v3 data. What is the proper way to do it? After checking both v2 and v3 data all the keys from v2 are present in v3, with all key values identical. Is it enough to check for every non-directory v2 key if it is present in v3 data a

[2017-04-10 13:29] ingvagabund commented on #44276
@mml @justinsb @xiang90 @hongchaodeng

[2017-04-10 13:49] deads2k commented on #44052
Making names consistent seems reasonable to me.

Do we take a specific CA (not a bundle) anywhere?  Seems like that should be changed.

[2017-04-10 13:54] cmluciano commented on #5607
I too am not an expert at GPU time-slicing and serach results only seem to return research papers on the subject. @prateek2408 for GPU specific features, I would add a comment/use-case to  #44107.

There will also be some work to advance the Device support in https://github.com/kubernetes/kubernetes/issues/43240.

[2017-04-10 13:59] henriquetruta commented on #37842
@nikhiljindal are you working on this? Any thoughts? I'm interested on solving it

[2017-04-10 14:00] gbarkov commented on #10921
Hello everyone,

Last few years I was working on the following project - https://www.klzii.chat
So right now, during postMVP stage, we phased issue with getting real users IP, that I'm trying to solve.

So I was wandering, maybe some one can give me an advice?
We are using: Google Cloud, Kubernetes+Docker

[2017-04-10 14:05] Stono commented on #44275
I also have this issue, going from 1.5.6 -> 1.6.0

[2017-04-10 14:09] k82cn commented on #44188
:). sure, I'll handle this.

/assign

[2017-04-10 14:28] #41990 closed

[2017-04-10 14:31] nkwangleiGIT commented on #33179
It'll be great to support to mount specific files to an existing directory, and these files can be also updated when ConfigMap is updated, we have the same issue for now. thanks!

[2017-04-10 14:44] gyliu513 commented on #44265
With rescheduler, I did not see any place that mentioned the end user need to start up the `rescheduler-v0.3.0` themselves as a pod if want to use `critical pod` feature, but in the document https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/concepts/cluster-administration/guaranteed-scheduling-critical-addon-pods.md here, it only mentioned adding `critical annotation`, this may c

[2017-04-10 14:46] gyliu513 commented on #44262
Good to know, but what is the reason that we want to limit the `critical pod` preemption limited to kubernetes components? @piosz

[2017-04-10 14:51] hongchaodeng commented on #44276
As far as I konw, v2 and v3 should have the same set of keys (excl. dir in v2), and each key should have the same value, created revision, modified revision.

[2017-04-10 14:57] nicky-lenaers commented on #43808
@Scukerman I don't see where I can use the flag `--kubernetes-version`. For creation clusters on Google Cloud there is a option for `--cluster-version=x.x.x.`. But `1.6.1` is not part of the [supported versions](https://cloud.google.com/container-engine/release-notes#supported_kubernetes_versions).

I currently use:
[code]

Note that also the `gcloud beta ...` command does not support `--kubernete

[2017-04-10 15:02] vnalla commented on #14232
I am having the same issue. I used the port name dns-tcp-local and dns-tcp both requests get timed out in the browser.
**Version**
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"87d9d8d7bc5aa35041a8ddfe3d4b367381112f89", GitTreeState:"clean", BuildDate:"2017-01-23T14:15:25Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Inf

[2017-04-10 15:21] therc commented on #5607
@prateek2408 there is no way to provide "only a specific portion of GPU RAM to a container". Multiple processes can access the same device and each allocate RAM, but there's no MMU on the device to protect one process' data from the others. One thing that perhaps Nvidia could implement is letting their memory allocator look at an optional environment variable with a GPU memory limit, which Kubelet

[2017-04-10 15:24] zhouhaibing089 commented on #44272
FYI: `kubectl logs --since=1h <pod>` and `kubectl logs --tail=20 <pod>` should help.

[2017-04-10 15:28] zhouhaibing089 commented on #44271
Bother to ask: what is OIR?

[2017-04-10 15:32] smart2003 commented on #44269
I can add the opaque-int-resource on the master node via patching the http://localhost:8080/api/v1/nodes/192.168.1.220/status. While, it does not work on worker node when the security check is set. masterIP:8080 is not accessible without authentication.

[2017-04-10 15:43] jsravn commented on #41916
It's really unfortunate that NodeNotReady event doesn't include the reason. It seems like the best you can do is use --v=4 in your controller manager - that looks like it will log most of the reasons in the node controller, but it might be too noisy for normal use.

[2017-04-10 15:45] xiangpengzhao commented on #44271
@zhouhaibing089 Thanks for asking. I edited to be clear.

[2017-04-10 15:51] smarterclayton commented on #41040
There is not, because Docker does not allow client certificates to be provided via the pull API.  However, it's possible that this could be solved centrally by controlling secret access on pull.

[2017-04-10 15:52] smarterclayton commented on #19575
This was implemented

[2017-04-10 15:52] #19575 closed

[2017-04-10 15:52] smarterclayton commented on #41965
It's possible we could fix this as part of https://github.com/kubernetes/kubernetes/issues/18787

[2017-04-10 15:53] smarterclayton commented on #41040
It's possible we could fix this as part of https://github.com/kubernetes/kubernetes/issues/18787

[2017-04-10 15:54] majewsky commented on #44272
Yes, it does. Unless you explicitly want to see logs from a longer timeframe, just filtered by some pattern. I expect that the next suggestion will be to use log shipping to some external system. We have one available as well, but I find that `kubectl logs` could still be a bit user-friendlier out of the box. I'll leave it to the maintainers to decide if they see this suggestion as in scope for K8

[2017-04-10 15:55] smarterclayton commented on #18787
I think that we can fix #41965 by integrating it into this solution:

1. Introduce a central pull secret management cache (pull image first checks secrets are in place)
2. Once secret access has been verified, client certificates could be written to disk (for Docker, in /etc/...).  The pull would require a valid secret.
3. Clean up the client certificate after no one references it.

[2017-04-10 16:07] everettcaleb commented on #42164
Same here on v1.5.2

[2017-04-10 16:11] thockin commented on #10921
https://kubernetes.io/docs/tutorials/services/source-ip/#source-ip-for-services-with-typeclusterip

Search for "OnlyLocal"

On Mon, Apr 10, 2017 at 7:01 AM, Gleb Barkov <notifications@github.com>
wrote:

[2017-04-10 16:14] thockin commented on #11237
--force should not work for this - you can not change clusterIP this way -
you have to read the value back, or else use `kubectl apply` which
generates a PATCH

On Mon, Apr 10, 2017 at 12:41 AM, yoshi522 <notifications@github.com> wrote:

[2017-04-10 16:20] jswoods commented on #41916
@jsravn From my testing, I could reproduce this issue by either deleting the ELB or breaking the access to the api server from the kubelet in another way (e.g. making a bad entry in /etc/hosts for the kubernetes master hostname and restarting the kubelet). I confirmed the kubelet does not log that it cannot send its status to the api server.

Interesting point about the `--etcd-quorum-read` flag.

[2017-04-10 16:20] thockin commented on #44063
You only have to add it as an address in direct-return mode.  You should
also be able to simply add it to the local table, rather than actually
assign it as an interface address.

On Mon, Apr 10, 2017 at 12:08 AM, Lingpeng Chen <notifications@github.com>
wrote:

[2017-04-10 16:21] thockin commented on #40573
I think we can do guaranteed if we have a cluster-proportional scaler that
governs it.

On Sun, Apr 9, 2017 at 11:08 PM, David Oppenheimer <notifications@github.com

[2017-04-10 16:28] jsravn commented on #41916
@jswoods how do you monitor when your ELB IPs change? I don't think it's the read quorum thing, the amount of time is too long.

[2017-04-10 16:31] spradeepv commented on #44203
@hzxuzhonghu Thanks for the info. Do any of the other providers do it this way? Just curious. If I need to implement this, I need to add a new watcher or can I use an existing one?

[2017-04-10 16:44] sjenning commented on #43856
Yes, I've seen this before if the kubelet doesn't clean up completely.

QoS level cgroups were enabled by default in 1.6 which explains why this may have not been observed earlier.

The QoS cgroups are created as transient systemd slices when using the systemd cgroup driver.  If those slices already exist, then container manager currently has a issue with that.

As I recall, a workaround that does

[2017-04-10 16:50] fejta commented on #44243
See original descriptio, especially the links. Kris likely caused the decline on Wednesday and/or Thursday. They remain high.

[2017-04-10 16:53] jswoods commented on #41916
@jsravn We just noticed that the IP address it was connecting to and getting the `read: connection reset by peer` error was a different IP than what it was at the current point in time, so we assume it changed. According to AWS, the ELB IPs change from time to time and there is nothing you can do about it. Our solution was rather than monitoring for changing IPs, we set the monitor grace period th

[2017-04-10 16:56] jsravn commented on #41916
@jswoods I think you're right. In my VPC flow logs I found what looks like an apiserver ELB network interface that stopped 50s before my node went not ready. I didn't get any errors at all in my kubelet logs though, so I wonder if there is some transparent retry mechanism with very long timeout that is getting hit. What a pain - now I really need to look into something to replace the ELB.

[2017-04-10 16:59] RaghavendraNandagopal commented on #19515
@tkrille Thanks!.  It worked.

[2017-04-10 16:59] jsravn commented on #41916
Yes the ELB resizes itself and changes IPs when that happens. It's one of the worst things about ELBs, because it's very disruptive to all traffic (it abruptly closes all connections at the end of the 60s window). But it happens infrequently enough that we put up with it. I'm not sure having a longer grace period will help, because kubelet maintains persistent connections to the ELB which it will

[2017-04-10 17:02] jsravn commented on #41916
If only kube-proxy supported multiple apiserver addresses :). I think I'll need to put together some utility that registers each node in the ASG with a route53 entry on startup, then I can just use DNS load balancing.

[2017-04-10 17:06] #44135 closed

[2017-04-10 17:10] perotinus commented on #43123
@irfanurrehman I don't think I have an open PR for this in particular, though you are correct that #42296 does add a default timeout for slower init operations. It shouldn't be too hard to make that configurable via flag in a future PR.

[2017-04-10 17:21] rickypai commented on #43632
so the struct would be something like `map[net.IP][]string` where the keys are IP addresses, and strings are hostnames.

I presume this field would live under PodSpec. is `etcHosts` the name we want to surface? `additionalEtcHosts`?

the content would be:

[code]

which after some merging would look like: (the go struct represented in yaml)

[code]

and the `/etc/hosts` output could either look li

[2017-04-10 17:23] caesarxuchao commented on #44065
Ref https://github.com/kubernetes/kubernetes/pull/16062

[2017-04-10 17:23] ConnorDoyle commented on #44181
@xiangpengzhao thanks for creating some usability issues for OIR -- tracking them here as proposed improvements to make before considering OIR for promotion from alpha to beta.

[2017-04-10 17:24] calebamiles commented on #39334
Thanks for the update, @dashpole.

[2017-04-10 17:27] shashidharatd opened #44283 "[Federation] Support leader election for controller manager"
This issue is to track all the tasks for adding leader election feature for federation controller manager.

Following are missing pieces in order to support the feature:
- [x] Refactor leader election package test code to remove redundancy - #44286
- [x] Refactor leader election package to use ObjectGetter Interface instead of clientset.interface - #44338
- [x] Add support for federation-only name

[2017-04-10 17:30] jswoods commented on #41916
@jsravn interesting point about the persistent connections. For what it's worth, we have not seen this issue since making the adjustment to the grace period. And the problem happened every day for the previous 3 days before making the change. I'll post an update though if anything changes.

[2017-04-10 17:31] caesarxuchao commented on #44065
@sttts Re `install.go`, there are quite many references to the "scheme" in client-go, i'll study if we can remove them.

[2017-04-10 17:36] mikedanese opened #44285 "1.5 and 1.6 cluster have broken service accounts when using dedicated service account key"
Fixed by #44169
cherry picks #44193 #44194

cc @maisem @cjcullen

[2017-04-10 17:43] tavispaquette commented on #30518
+1 for ALB support (native upgrade to websocket support)
We currently manually provision ALBs to run our Meteor apps through

[2017-04-10 17:44] jlaham commented on #33483
+1 for separate intLB and extLB services.

If anyone does need both intLB and extLB, wouldn't it be as straight forward as defining two separate services (one intLB, and one extLB), both pointing to the same deployment?

[2017-04-10 17:59] saad-ali commented on #43977
@jeffvance @copejon Could you please help triage and fix this test?

CC @kubernetes/sig-storage-bugs

[2017-04-10 18:05] bigkraig commented on #30518
We have some work happening at https://github.com/coreos/alb-ingress-controller for this

[2017-04-10 18:10] nikhiljindal commented on #37842
@henriquetruta No, feel free to take it up.
Am not sure why we have this bug. `kubectl get clusters` should work very similar to the way `kubectl get pods` does.

I will recommend starting from apiserver. Use the REST API to watch clusters and see what federation-apiserver returns. Compare that with what kube-apiserver returns for watch pod requests. If apiserver looks fine, then dig into kubectl.

[2017-04-10 18:25] mikedanese commented on #44243
This is fixed by the cherry picks linked in https://github.com/kubernetes/kubernetes/issues/44285

[2017-04-10 18:39] tupy commented on #15180
+1

[2017-04-10 18:41] jeffvance commented on #43977
@saad-ali @copejon and I are looking into it...

[2017-04-10 18:41] PauloPaquielli commented on #15180
+1

[2017-04-10 18:43] vishh commented on #40573
As an example, Heapster is in the Guaranteed QoS class and it runs a [nanny](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/cluster-monitoring/google/heapster-controller.yaml#L72) that resizes it periodically based on cluster size. More details on the nanny program [here](https://github.com/kubernetes/contrib/blob/d519cddaa0b85d37cc912fa6cf2c0592c2b8cf74/addon-resizer/README.m

[2017-04-10 18:46] ntfrnzn commented on #43367
This is apparently expected behavior, but perhaps not well documented
https://github.com/kubernetes/kubernetes/blob/a2c7eb275443a5afea4052094a07daf627e4a724/pkg/cloudprovider/providers/aws/aws.go#L182

[2017-04-10 18:55] nikhiljindal commented on #38593
Now that https://github.com/kubernetes/kubernetes/pull/42225 and https://github.com/kubernetes/kubernetes/pull/42375 are merged, we have command line flgas that users can use to disable specific APIs.

[2017-04-10 18:55] #38593 closed

[2017-04-10 18:58] jdfless commented on #25416
We just hit this exact issue running 1.5.2. Maybe the fix didn't get the root cause or there was a regression since 1.4? This should be reopened.

I waited about an hour to see if the sync interval would resolve this but it did not. I fixed by deleting and recreating the namespace. I can share logs, but they are identical to what the OP noted.

[2017-04-10 19:01] nikhiljindal opened #44291 "federation: alpha APIs should be disabled by default"
Forked from https://github.com/kubernetes/kubernetes/issues/38593.

Now that we have flags to disable specific APIs (https://github.com/kubernetes/kubernetes/issues/38593), we should use them to disable alpha APIs by default.

cc @kubernetes/sig-federation-bugs

[2017-04-10 19:02] freehan commented on #43988
I need to know more about your network setup. Looks like you are using flannel with docker default networking. `kubernetes.io/no-op` just skips networking setup for pods.

To confirm, can you paste the result of `ps aux | grep kubelet`?

If you are using no-op, the current logic is to only retrieve IP from `docker inspect`. I think we should also try to retrieve IP thru `nsenter` by best effort.

[2017-04-10 19:02] nikhiljindal commented on #38593
I realized this bug had 2 parts to it:
* support feature flags (have flags that users can use to enable/disable specific APIs).
* alpha APIs should be disabled by default.

First part is done. Tracking second in https://github.com/kubernetes/kubernetes/issues/44291

[2017-04-10 19:34] dcbw commented on #33789
Yes, kubenet is the replacement in kube 1.5+.  It should function exactly the same as the older "classic" networking.  See https://github.com/kubernetes/kubernetes/pull/34906 or CHANGELOG.md which references this issue.

[2017-04-10 19:34] dcbw commented on #33789
As such, I'll close this issue.  If you have other issues with --network-plugin=kubenet (which should be the replacement for the --configure-cbr0 option) then please file specific issues for those.  Thanks!

[2017-04-10 19:34] #33789 closed

[2017-04-10 19:37] dcbw commented on #43953
@thockin @ravilr I'd agree, it should be an option for the CNI 'bridge' plugin to do this.

[2017-04-10 20:15] jingxu97 commented on #43300
This PR #42033 takes a different way to solve the problem. There is a desiredStatePopulator in attach_detach controller which currently periodically verifies with the API server that the pods in the desired state of th world still exist, if not, it removes them.
PR #42033 adds the check to all the active pods from API server and ensures that each one exists in the desired state of the world cache

[2017-04-10 21:19] mtanino opened #44297 "NFS mount point on both k8s node and pod remain after PVC is deleted"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

- NFS
- Persistent Volume
- Persistent Volume Claim
---

**Is this a BUG REPORT or

[2017-04-10 21:25] vdavidoff commented on #43988
From the running kubelet process, broken into lines for readability
[code]

Also note that as mentioned above, the `NetworkSettings` section of `docker inspect` does not report an IP address.

[2017-04-10 21:25] bklau commented on #16405
Is this PR still active?
I have Privacy service that injects secret key into Docker volume via Docker volume plugin by pulliing down a "data container" image from a private registry.
So really need this feature.

[2017-04-10 21:28] mbohlool commented on #24560
fixed in #44121

[2017-04-10 21:29] #24560 closed

[2017-04-10 21:30] mbohlool commented on #16748
The Swagger/OpenAPI spec is valid and tested here https://github.com/kubernetes/kubernetes/blob/master/pkg/master/master_openapi_test.go. The old swagger 1.2 is deprecated and will be removed.

[2017-04-10 21:30] #16748 closed

[2017-04-10 21:34] mbohlool commented on #14190
OpenAPI/Swagger 2.0 document this (and others like this) as IntOrString type. While generators do not understand it yet, but as it is well documented now, I am going to close this issue. (The problem may still exists in swagger 1.2 spec, but that is deprecated and will be removed).

[2017-04-10 21:34] #14190 closed

[2017-04-10 21:39] marun commented on #44283
Is there a higher-level plan for federation HA that I've missed?  While supporting leader election for the control plane hosted in a single kube cluster is definitely important, has there been any discussion of how to approach loss - temporary or otherwise - of the hosting cluster?

[2017-04-10 21:39] mbohlool commented on #2971
IntOrString fields is now documented as

[code]

While this is not ideal (and we maybe able to represent it better in OpenAPI 3.0), it serves the purpose of this issue.

p.s. We may (should?) add support for int-or-string in our generated clients. Right now python let you pass an actual value instead of an IntOrString type and that can be int or string. But we can certainly do better.

[2017-04-10 21:39] #2971 closed

[2017-04-10 21:42] mbohlool commented on #15571
agree with @dims. We completely removed the support for /swagger-spec/ in favor of new documentation site.

[2017-04-10 21:42] #15571 closed

[2017-04-10 21:42] caseydavenport opened #44298 "Bad STATUS reported for Pod"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: GCE
- **OS** (e.g. from /etc/os-release): debian
- **Install tools**: kubeadm

**What happened**:

`kubectl get pods` resulted in the following status printed to the CLI

[code]

**What you expected to happen**:

The STATUS field should be "ContainerCreating" or "Error" (or som

[2017-04-10 21:43] mbohlool commented on #5356
The Swagger/OpenAPI spec is valid and tested here https://github.com/kubernetes/kubernetes/blob/master/pkg/master/master_openapi_test.go on each commit. The old swagger 1.2 is deprecated and will be removed.

[2017-04-10 21:43] #5356 closed

[2017-04-10 21:48] mbohlool commented on #38637
@smarterclayton I completely agree. @pwittrock What is the plan for client side validation in kubectl? Is this a Q2 thing? If not, should we migrate kubectl to use OpenAPI instead of old swagger?

[2017-04-10 22:04] ichekrygin opened #44301 "Kubelet metrics: missing `container_fs_*` if volume is mounted after kubelet was up and running."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):BUG REPORT

**Kubernetes

[2017-04-10 22:27] rickypai commented on #43873
`--attach-detach-reconcile-sync-period` didn't actually fix our issue, but 1.6 have made it significantly better:

![pasted image at 2017_04_07 14_45](https://cloud.githubusercontent.com/assets/1469579/24885235/2d5fa88a-1e02-11e7-8ef3-3dfa0cb96b0d.png)

[2017-04-10 22:27] #43873 closed

[2017-04-10 22:27] rickypai commented on #43873
thank you @chrislovecnm and @gnufied!

[2017-04-10 22:35] bsalamat commented on #44127
@wanghaoran1988 #43892 is in. Can you work on this issue now? It looks like our scheduler priority tests are failing rather frequently.

[2017-04-10 22:43] fejta commented on #44242
/assign @derekwaynecarr

[2017-04-10 22:47] fejta commented on #44242
Sent a message to sig-node on slack -- https://kubernetes.slack.com/archives/C0BP8PW9G/p1491864388573585

[2017-04-10 22:51] jralmaraz commented on #27607
Just spinned up a Kubernetes cluster using Rancher and I am getting the same unhealthy status. Rancher ran by default on 127.0.0.1. Just reporting to see if this is specific to Rancher on can be affecting someone else.

NAME                 STATUS      MESSAGE
        ERROR
controller-manager   Unhealthy   Get http://127.0.0.1:10252/healthz: dial tcp 127.0.0.1:10252: getsockopt: connection re
fuse

[2017-04-10 23:13] chrislovecnm commented on #43873
Can u share numbers with 1.5 vs 1.6?

[2017-04-10 23:27] marun commented on #39982
I've been puzzling over the design proposal since it popped up again last week, and all the unanswered questions on this issue suggest that it was not yet ready to be merged.

I also wonder if implementation needs to wait till a replacement for annotations is determined for indicating cluster placement. If I recall correctly, stable (non-beta) resources won't be able to use annotations for that pu

[2017-04-10 23:53] netroby opened #44303 "PR waiting for review for long times. no one can handle this?"
I made a pr 26 days ago. waiting for reviews for long times.
but still not any updates. any one can handle this?
https://github.com/kubernetes/kubernetes/pull/43183

[2017-04-10 23:54] nikhiljindal commented on #39982
Many of the questions were answered in the design proposal. Some were deferred as not blocking a first implementation. Feel free to comment if there is anything in particular you are worried about.
Did you feel that it got merged quickly and you didnt get a chance to comment on it?

We can use annotations for alpha. Will need a plan for graduating to beta.