[2020-05-15 12:00] Gerrit-K commented on #38748
I know this issue is ancient, but I still encounter this error and this issue was the closest I could find. In my case it was not a number but a boolean `true` that was unquoted.
Here are the steps to reproduce (on v1.15.7):

`test.yaml`:
[code]

Steps:
[code]

/reopen

[2020-05-15 12:10] cofyc commented on #80712
/remove-lifecycle stale

[2020-05-15 12:24] tnqn opened #91143 "kubeadm reset takes more than 50 seconds to retry deleting the last etcd member"
**What happened**:
When using `kubeadm reset` to delete the last control-plane node of a highly available Kubernetes cluster or the only node of a single control-plane cluster, it always take more than 50 seconds in the `remove-etcd-member` phase with a lot of `Failed to remove etcd member` errors.
It's impossible to remove the last/only member of an etcd cluster. There's no need to try/retry remo

[2020-05-15 12:25] Gerrit-K opened #91144 "--dry-run & --validate not picking up errors in deployment template"
**What happened**:
This is a re-open of #38748.

If a deployment manifest contains environment variables with non-string values, it cannot be applied to the cluster, but a `apply --dry-run --validate` will not report any errors.

**What you expected to happen**:
`--dry-run --validate` should detect and report the invalid environment variable.

**How to reproduce it (as minimally and precisely as p

[2020-05-15 12:26] Gerrit-K commented on #91144
/sig cli

[2020-05-15 12:41] BrijJhala commented on #79224
Thanks @connorworkman for your response. appreciated. I was trying env. variable to read in configmap.  I thought technically configmap reads from env variable. so if env variable is populated from secret or my own defined env should be reference in config map right ?

[code]

[2020-05-15 12:45] jayunit100 commented on #75537
I'd like to suggest that we possibly report

...  instead of `No resources found in x namespace`, I'd like it if we  reported:

- `No resources found`
- `No resources found in the "x" namespace`

Both of these imply that the namespace x may or may not exist.

[2020-05-15 12:48] christianri commented on #42243
As I stumbled across a similar issue with Calico, and the forwarding accept rule worked too, I would describe a different solution on top:

In my case, I am using Debian Buster and kubernetes with Calico network stack. After many diversions and investigation, it turns out Calico used the `iptables-legacy` interface to create the rules whereas the iptables alternative on Debian Buster is `iptables-

[2020-05-15 13:10] #86345 closed

[2020-05-15 13:33] tnqn commented on #91143
/sig cluster-lifecycle
/area kubeadm

[2020-05-15 13:43] iamparamvs commented on #39294
Any solution to this issue? It's been a year now.

[2020-05-15 13:43] christianri commented on #40182
I experienced the same issue on Kubernetes with the Calico network stack under Debian Buster.

Checking a lot of configs and parameters, I ended up with getting it to work by changing the policy for the forward rule to ACCEPT. This made it clear that the issue is somewhere around the firewall.

Running iptables -L gave me the following unveiling warning: # Warning: iptables-legacy tables present,

[2020-05-15 13:47] ticpu commented on #70047
/remove-lifecycle stale

Removing stale since we just did another upgrade where this was again an issue.

[2020-05-15 14:00] BenTheElder commented on #91128
Worth noting that pull-kubernetes-e2e-gce is failing badly as well:

https://prow.k8s.io/?job=pull-kubernetes-e2e-gce

https://prow.k8s.io/?job=pull-kubernetes-e2e-kind

kind runs faster and people push broken PRs so sometimes it has a higher failure rate due to just running more times on broken PRs

Looks to me like our e2e are generally poor right now.

[2020-05-15 14:37] luobintianya commented on #83319
same error , how to reslove?

[2020-05-15 14:45] rosti commented on #91143
Thanks for filing this issue @tnqn !
kubeadm tracks its issues in a separate issue tracker.
I'll move this one over there for greater visibility and we can continue the discussion there.

[2020-05-15 14:47] andrewsykim commented on #90512
@MrHohn opened a PR https://github.com/kubernetes/kubernetes/pull/90753 to fix this (and https://github.com/kubernetes/kubernetes/issues/87603)

/remove-triage unresolved

[2020-05-15 14:51] BenTheElder commented on #91128
xref: https://github.com/kubernetes/kubernetes/pull/91045

[2020-05-15 14:58] neolit123 commented on #91143
/close

[2020-05-15 14:58] #91143 closed

[2020-05-15 14:59] sureshpalemoni opened #91147 "Kubectl create with --all-namespaces or set of namespaces. Or Sharing resources with namespaces"
**What would you like to be added**:
Is there any way I can create resources in multiple namespaces at the same time? Or Can we share the resources like configmaps, secrets with other namespaces?

**Why is this needed**:
I had to create the same secret in multiple namespaces and had to run the command several times. (Not sure how to make a secret shareable to other namespaces -  This would be also

[2020-05-15 15:00] sureshpalemoni commented on #91147
/sig cli /sig architecture

[2020-05-15 15:20] neolit123 commented on #91141
/sig scheduling

[2020-05-15 15:22] neolit123 commented on #91141
/remove-sig scheduling
/sig apps

[2020-05-15 15:23] neolit123 commented on #90761
the kubeadm e2e jobs started requiring more than 40 minutes:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-upgrade-1-18-master
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-18-master/1261188643725250562/build-log.txt

so a lot of tests are now failing. this could be due to:
- resource limits in Prow
- more conforma

[2020-05-15 15:25] neolit123 commented on #90761
/remove-priority important-soon
(prio is already critical)

[2020-05-15 15:38] hamburgerbun commented on #91121
i recompiled kubelet with some extra logs to MarshalIndent pretty print the config after parseConfig is called in NewCloudWithoutFeatureGates, to see if the config was being unmarshalled correctly, and i guess i'm not successfully reading all of my values from the cloud config somehow?

[code]

[2020-05-15 15:53] joemiao-exos commented on #77662
We need this feature. It's especially useful when we try to collect and parse all the LoadBalancer info in a cluster.

[2020-05-15 16:00] hajina opened #91149 "PVC pending : could not get storage key for storage account"
**Which jobs are failing**:
pvc is pending. what can I fix? please tell me.

**Which test(s) are failing**:
log-test-hja3 pvc is pending

jina_ha@Azure:~$ kubectl get pvc
NAME            STATUS    VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS   AGE
log-pvc         Bound     pvc-*******************************   20Gi       RWX            azure-file     35d
log-te

[2020-05-15 16:11] hamburgerbun commented on #91121
never mind. i changed yaml unmarshal to json unmarshal and figured it out based on the error.
the lesson here is if you have a strange character that shows up as whitespace in vim but is actually some weird character like in this error
F0515 16:05:34.052745   54100 server.go:273] failed to run Kubelet: could not init cloud provide
r "azure": invalid character 'Â' looking for beginning of object ke

[2020-05-15 16:11] #91121 closed

[2020-05-15 16:18] ncdc commented on #90686
I looked into some failing vs passing runs from the past couple of days.

For the failing runs, the control plane node fails to register with the apiserver. From the kubelet logs:

[code]

For a passing run, I see something like this:

[code]

The invalid value from above is 67 characters. The passing node name is 63 characters.

I'm not sure what label key is being set that matches the node name,

[2020-05-15 16:45] troyfontaine commented on #47368
/reopen

[2020-05-15 16:57] johnbelamaric commented on #90860
Yes, you can have LinuxOnly in conformance, that's not the issue here. The issue is that it does violate the current policy, and looks like it was added to conformance prior to that but probably should have been removed. So it seems reasonable to me.

[2020-05-15 17:10] lenhattan86 opened #91152 "TopologySpreadConstraints does not work with non-standard topology keys on Kubernetes 1.18.0.beta-2"
**What happened**:
We cannot limit the number of pods of a statefulset per zone using TopologySpreadConstraints (https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/).

**What you expected to happen**:
we can limit the number of pods on each zone using MaxSkew.

**How to reproduce it (as minimally and precisely as possible)**:
1) Create a single node cluster. Then la

[2020-05-15 17:17] khenidak commented on #91117
/remove-triage unresolved

This issue is a confirmed bug /`/etc/host`s is not copied from host (even in pod network). The reason behind that _i think _ is this https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go#L138 PodIPs most likely won't have been assigned by CNI at this stage.

[2020-05-15 17:18] khenidak commented on #91117
@ figassis  thanks for reporting. I will check how we can PR a fix for this.

[2020-05-15 17:42] alexec opened #91153 "Generalized form of `x-kubernetes-int-or-string` for CRD validation"
**What would you like to be added**:

I'd like to have CRD validation, but one array type can be anything. It seems that this is not allowed.

I don't think that `x-kubernetes-int-or-string`does not work for array types.

[code]

**Why is this needed**:

To allow arbitrary types

[2020-05-15 17:42] alexec commented on #91153
/sig api-machinery

[2020-05-15 18:22] liggitt commented on #91153
here's how you can use x-kubernetes-int-or-string in an array:

[code]

demonstrating the validation is effective:

[code]

[code]

[2020-05-15 18:25] liggitt commented on #91153
to define an array that allows items to be of any type, you can do this:

[code]

[2020-05-15 18:28] #91153 closed

[2020-05-15 19:08] khenidak commented on #90928
Thanks for reporting @lwmqwer

This scenario works only if `client=>target-IP(Camera IP)` is routable. Does your Camera IP reachable from wherever your client (maybe on a different edge node). Can you please check if you can get to your camera from a different node?

[2020-05-15 19:09] pohly opened #91155 "extra calls to NodeStageVolume and NodePublishVolume"
**What happened**:

A strict test of CSI calls failed randomly because NodeStageVolume and NodePublishVolume were getting called again after a successful invocation: https://github.com/kubernetes/kubernetes/issues/90250#issuecomment-623602936

**What you expected to happen**:

Once they report success, kubelet should not call NodeStageVolume and NodePublishVolume again.

**How to reproduce it (as

[2020-05-15 19:09] pohly commented on #91155
/sig storage

[2020-05-15 19:12] lavalamp commented on #91131
Thanks for the report.

[2020-05-15 19:12] saiharshitachava opened #91156 "Resources in decimal values converting to m"
We have given a resource limit for memory as 2.7G at the time of deployment.. as below

          resources:
            limits:
              cpu: "1"
              memory: 2.7Gi
            requests:
              cpu: "0.25"
              memory: 512Mi

The values have now been converted into some small I think the millibytes

        resources:
          limits:
            cpu: "1"

[2020-05-15 19:14] saiharshitachava commented on #91156
/sig usability

[2020-05-15 19:19] khenidak commented on #90996
Thanks for reporting @ Urvik08. The effect of stopping kubelet/disable network is not immediate and is subject to the following:

1. Controller Manager is running.
2. The following settings on Controller Manager
`--node-monitor-grace-period`
`--node-monitor-period duration`
`--pod-eviction-timeout`

details for how these flags are here: https://kubernetes.io/docs/reference/command-line-tools-refer

[2020-05-15 19:21] Huang-Wei commented on #90025
Forgot to mention the option I'd like to go with. Generally we will introduce a `PreemptHandle` interface which embed all needed operations during preemption logic, specifically a `PreemptHandle` interface will include several sub-interfaces/functions:
  - `PluginRunner` interface. It's for abstracting calling RunXYZPlugins during plugin runtime
  - `PodNominater` interface with internal nominated

[2020-05-15 19:22] pjbgf commented on #81145
@liggitt Is there a way to disable HTTP2 on the kubelet? If so, shall we remove those ciphers from the kubelet's flags?

[2020-05-15 19:29] ahg-g opened #91157 "Scheduler's volume benchmarks errors"
**What happened**:
When running the new benchmark suite, volume related benchmarks spam the logs with the following error:

"error selecting node for pod: running "VolumeBinding" filter plugin for pod "pod-fxwv5": pod has unbound immediate PersistentVolumeClaims"

We need to look into that and perhaps adjust the benchmark to make sure it runs as expected.

**How to reproduce it (as minimally and p

[2020-05-15 19:31] ncdc commented on #90686
I [chatted](https://kubernetes.slack.com/archives/C09QZ4DQB/p1589569142175900) with @BenTheElder and I think the conclusion is that CAPG Prow jobs may end up running in one of several different GCP projects, whose names are of varying lengths. We use the `local-hostname` value from instance metadata when registering the node, and that is of the format `<instance name>.c.<project name>.internal`.

[2020-05-15 19:38] alculquicondor commented on #88174
Yes

100 is the maximum score we have defined any plugins to have.

I'm not convinced this would work. The variance in my examples for initial resource usage is quite high. So it would still get a lot of importance.

But, you have triggered me to start thinking about the linearity of the scores. The formula `(minCount+maxCount-currCount)/maxCount` is good because it reduce the variance as `minCoun

[2020-05-15 20:54] TomUnequals commented on #7890
@thockin would the new FUSE update simply the objective's model?

I'd like to see this prioritised and would be willing to contribute.

[2020-05-15 21:17] #85726 closed

[2020-05-15 21:32] alculquicondor commented on #88174
Here goes 2 alternatives, with the same situations as https://github.com/kubernetes/kubernetes/issues/88174#issuecomment-628914452

### A Modify PodTopologySpread

`((minCount+maxCount-currCount)/maxCount) ^ 2`

[code]

### B Modify NodeResourcesLeastAllocated

`score = sqrt(remaining_capacity)`

[code]

### Conclusion

We either solution, we wouldn't need to modify the weights 🥳
Although we are n

[2020-05-15 21:44] lavalamp commented on #88174
Yeah, that's a great idea.

You can generalize that and give each function a both a linear weight and a "gamma" (name from image processing): `weight * (function_output ^ gamma)` or even go for `weight * ((bias + function_output) ^ gamma)`

(but in this case I'm in favor of just making a targeted fix to that one function)

[2020-05-15 21:48] alculquicondor commented on #88174
Awesome,
Any concerns against option B? Given that it's an older feature.

[2020-05-15 21:53] ahg-g commented on #88174
how would option B impact node ranking in the absence of spreading? would image size scores start to have bigger impact?

[2020-05-15 21:59] lavalamp commented on #88174
I think SIG Scheduling should probably have a discussion. I could go either way, my naive inclination is to just go for the change, but I'm sure it'll break someone. We probably need a way to get back the old behavior, or a suggested weight change that would approximate it (not clear how well that could do though).

I also have @ahg-g's question, which is how well does this new value compose with

[2020-05-15 22:00] lavalamp commented on #88174
configurable gamma is an obvious way... :/

[2020-05-15 22:06] matthias50 commented on #90334
@tedyu, any idea when you will be able to submit a PR for this one? It looks good from my side.

[2020-05-15 22:07] tedyu commented on #90334
Adding test.

PR coming Monday.

[2020-05-15 22:13] ahg-g commented on #88174
I don't think we want another config parameter, we already have the weight concept and it is configurable, so I think we should go with that, just double the spreading score weight by default, and users who don't favor this behavior can configure it back to 1.

[2020-05-15 22:14] lavalamp commented on #88174
Yeah, that sounds expedient.

On Fri, May 15, 2020 at 3:13 PM ahg-g <notifications@github.com> wrote:

[2020-05-15 22:14] nrockwell3 commented on #90821
I've run additional tests and agree that what I'm seeing is within the normal variation dependent on placement, ect. Thanks for help with this.

[2020-05-15 22:14] #90821 closed

[2020-05-15 23:39] neolit123 commented on #91152
/sig scheduling

[2020-05-15 23:39] neolit123 commented on #91134
/sig autoscaling

[2020-05-15 23:43] neolit123 commented on #90761
xref https://github.com/kubernetes/kubernetes/issues/91128

[2020-05-16 00:35] neolit123 commented on #78534
/remove-lifecycle stale

[2020-05-16 00:37] BenTheElder commented on #91128
there's a broken batch right now (haven't figured out what PR is offending) causing the build to fail so the stats including that batch are off. selecting type=presubmit in the dashboard avoids that. (instead of including type=batch too)

[2020-05-16 00:57] djjayeeta commented on #90461
@danielgblanco
If HPA assumes 100% of the resource then it has detected scale down initially. And so the proposed replicas should be less than current replicas (spec of deployment). This bug is fixed in https://github.com/kubernetes/kubernetes/pull/85027

[2020-05-16 00:58] djjayeeta commented on #84142
@shyamjos
This fix is available from 1.16.9.

[2020-05-16 01:22] #85786 closed

[2020-05-16 01:46] jiuchen1986 opened #91159 "Residence memory consumption of kube-apiserver measured by "top" is much higher than by "kubectl top" which is never reduced"
**What happened**:
After running for days, we observed that the apiserver on one master node was eating a high residence memory by running "top" on the host. However, either "kubectl top" or pprof showed a much lower memory usage by that apiserver pod. By probing with "pmap", a lot of entries of anonymous memory mapping could be seen. On top of that, the residence memory usage is never reduced unl

[2020-05-16 01:47] jiuchen1986 commented on #91159
/sig api-machinery

[2020-05-16 02:46] zerkms commented on #67250
/remove-lifecycle stale

[2020-05-16 03:17] liggitt commented on #91159
Is this reproducible on 1.16+?

[2020-05-16 04:17] 13567436138 opened #91161 "create clusterrolebinding help message doesn't conatin --user"
**What happened**:
·
[root@master01 ~]# kubectl create clusterrolebinding --help
Create a ClusterRoleBinding for a particular ClusterRole.

Examples:
  # Create a ClusterRoleBinding for user1, user2, and group1 using the cluster-admin ClusterRole
  kubectl create clusterrolebinding cluster-admin --clusterrole=cluster-admin --user=user1 --user=user2 --group=group1

Options:
      --allow-missing-te

[2020-05-16 04:25] #86174 closed

[2020-05-16 05:08] manishdangi98 commented on #91120
please assign me this one

[2020-05-16 05:10] manishdangi98 commented on #91120
/assign

[2020-05-16 05:24] Ark-kun commented on #91153
Just for my education:
How is `x-kubernetes-int-or-string: true` is different from something like `oneOf: [{type: integer}, {type: string}]`?

[2020-05-16 05:49] SergeMerge commented on #74340
Hi, all.

Take a look here at the documentation [https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/) and find args _leader-elect-lease-duration_ and  _leader-elect-renew-deadline_.

For my case there was a problem with network througput. In this case leader election f

[2020-05-16 08:46] tarunwadhwa13 commented on #89898
@thockin  Conntrack shows hardly 2 or 3 errors. Memory consumption is 60-65% per node.

Just found that the timeouts were for almost all request and not just probe. We added istio lately to check connection stats and understand if the behaviour was due to application. But the findings were weird. Istio itself is now failing readiness probe quite frequently

![image](https://user-images.githubuserc

[2020-05-16 09:03] Mithu-123 commented on #83038
I am too facing same ,pod getting evicted because of low ephemeral storage

[2020-05-16 10:31] #86378 closed

[2020-05-16 12:11] joesonw opened #91165 "EnvVarSource doc was wrong"
**What happened**:

When I tried to create a pod with env variables referencing to annotations:

`spec.containers[0].env[0].valueFrom.fieldRef.fieldPath: Unsupported value: "metadata.annotations": supported values: "metadata.name", "metadata.namespace", "metadata.uid", "spec.nodeName", "spec.serviceAccountName", "status.hostIP", "status.podIP", "status.podIPs"`

**What you expected to happen**:
Sh

[2020-05-16 12:12] joesonw commented on #91165
/sig docs

[2020-05-16 13:04] ahg-g commented on #91152
can you post the full pod template used in the statefulset spec?

[2020-05-16 13:06] liggitt commented on #91153
It is effectively the same, see https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#intorstring

Experience with multi-type properties has not been generally positive (causes difficulties in generated clients in some languages, cannot be represented in openapi v2 schemas, etc), and is not permitted in [structural schemas](https://kubernetes.io/docs/

[2020-05-16 13:20] ahg-g commented on #91152
oh, the topology key should be something that your nodes are labelled with, ```zone``` isn't a standard label key unless you intentionally used it on the nodes. The standard topology keys are ```kubernetes.io/hostname```, ```topology.kubernetes.io/zone```, ```topology.kubernetes.io/region```

@Huang-Wei  we should update the examples in [topology spread docs]( https://kubernetes.io/docs/concepts/w

[2020-05-16 13:34] #85325 closed

[2020-05-16 14:04] lenhattan86 commented on #91152
Really? it works with normal pods without using statefulset.

[2020-05-16 14:06] ahg-g commented on #91152
may be you were just lucky. What is not disputable is that the topology key should exist as a label on the nodes.

[2020-05-16 14:13] andrewsykim commented on #90854
Sorry I missed this part of the issue ^, seems like tweaking any of the IPVS knobs won't help in this case since we can reproduce on iptables.

This issue seems relevant to https://github.com/kubernetes/kubernetes/issues/88986. There was a kernel fix linked there related to VxLAN offloading but not sure if it was patched into your kernel version. Some users have reported that disabling vxlan offlo

[2020-05-16 14:32] lenhattan86 commented on #91152
You are right. I used the kubernetes.io/hostname for the normal pods.
Hmm, https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/ should be updated as  its examples use the standard labels on the nodes too.

[2020-05-16 14:35] #85428 closed

[2020-05-16 14:36] #89507 closed

[2020-05-16 14:36] #90860 closed

[2020-05-16 14:36] rushins commented on #83038
do you have enough space on the NODE where the POD is getting created .
check your node disk space. also make sure to check this file
/etc/sysconfig/docker-storage , add the below . mostly this will fix.

Modify the docker config in /etc/sysconfig/docker-storage to add the line:

DOCKER_STORAGE_OPTIONS=” - -storage-opt dm.basesize=20G”

On Sat, May 16, 2020 at 2:03 AM Mithilesh <notifications@gith

[2020-05-16 14:43] ahg-g commented on #91152
The title "TopologySpreadConstraints does not work with non-standard topology keys on Kubernetes 1.18.0.beta-2" is not true.

TopologySpreadConstraints works with non standard topology keys. You just need to label the nodes with those keys. The standard topology keys are populated on the nodes by default on most public clouds, the hostname is probably done by default by Kubelet.

[2020-05-16 14:43] ahg-g commented on #91152
/remove-kind bug

[2020-05-16 15:05] lenhattan86 commented on #91152
I am confused here. I intentionally labeled nodes with zone=0, zone=2 and it does not work like the standard topology keys kubernetes.io/hostname.

[code]

yaml files & the whole script are [[here]](https://github.com/lenhattan86/kube-hack/blob/master/EvenPodsSpread/kind-cluster-up.sh)

[2020-05-16 15:31] liggitt commented on #91165
The API docs need to be updated to indicate the correct supported values.

See https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/#capabilities-of-the-downward-api for correct values

[2020-05-16 15:34] joesonw commented on #91165
You are a lifesaver. Thank you!

On Sat, May 16, 2020 at 11:31 PM Jordan Liggitt <notifications@github.com>
wrote:

--

Thanks,
Qiaosen Huang.

[2020-05-16 15:45] BenTheElder commented on #91128
So last night before I clunked 💤 I found that some of the CI nodes on which this we run prow (on which the pods in which we run this job and others run) ... a few of them seem to have very high CPU usage from system components (namely the host kubelet), I'm looking into it. Smells like a bug in k8s 1.14.

This would explain why we've generally seen reliability in the CI jobs go down. FYI @neolit12

[2020-05-16 15:50] liggitt commented on #91128
I'd be very interested in a CPU profile… hot loop in kubelet?

[2020-05-16 16:49] Huang-Wei commented on #91152
@lenhattan86 there is a "Node Label" sub-section under the "Prerequisites" section here: https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/#node-labels. We cannot assume them have already existed.

Isn't the statefulset spread in kind-worker/kind-worker2 as `[2,1]` or `[1,2]`? Can you show the result?

[2020-05-16 17:01] AliMD commented on #66961
For other person ...
This two step solved my issue
1. Increase `addon_job_timeout`
2. Check node free space (at lease 15%)

In my case, one of the nodes had `DiskPressure` state

[2020-05-16 17:26] lenhattan86 commented on #91152
I already labeled the nodes with zone as follows.
[code]

[code]

pod-0, pod-1, and pod-2 use the kubernetes.io/hostname and work as I expected. 1 of them is pending.

pause-0, pause-1, and pause-2 use zone but all of them are scheduled. I think one of them should be pending because I indicated "whenUnsatisfiable: DoNotSchedule"

[2020-05-16 17:32] ahg-g commented on #91152
But it did satisfy the MaxSkew condition, which is 1: two pods in zone0 and one in zone1.

[2020-05-16 17:38] bukowa commented on #87300
/remove-lifecycle stale

[2020-05-16 17:39] bukowa commented on #87300
/remove-lifecycle rotten

[2020-05-16 17:40] lenhattan86 commented on #91152
How did you explain why there is only one pod (using kubernetes.io/hostname) on each node? you could see that one of them is pending.

[2020-05-16 18:00] BenTheElder commented on #91128
Discussed elsewhere, was not able to get a profile (debugging not enabled?), but dumped and passed along the logs at least.

Rolling forward to the latest GKE 1.14.X-gke.Y in the build cluster to at least get us a tad more up to date and get fresh node VMs.

[2020-05-16 18:02] Huang-Wei commented on #91152
@lenhattan86 Can you provide the output of `k describe pod pod-0`? It should tell you the specific reason why it failed to schedule.

BTW: there is a misunderstanding on maxSkew. When there are 2 pods on each node, the 3rd Pod still satisfies maxSkew=1. If not, how can we make the 1st Pod schedulable?

A detailed explanation on maxSkew and example can be checked out: https://kubernetes.io/blog/202

[2020-05-16 18:15] lenhattan86 commented on #91152
Thanks guys. I got the reason why there is the difference here. There are 3 nodes & one of them does not have zone label. Thats why one of normal pods cannot be scheduled.
So, this is not a scheduling issue. We can close this thread.

[2020-05-16 18:16] #91152 closed

[2020-05-16 18:26] hadrian625 commented on #59876
@unstableunicorn
You are a life saver. I had my setup work with hostPath in format /C/path/to/file. After a Docker update it suddenly didn't work. You solution is now the way hostPath volume mount works for Windows.
Thanks again.

[2020-05-16 19:27] tedyu commented on #91128
From an e2e-kind run on master branch today, I saw a lot of (212, to be exact) log lines in the following form :
[code]

[2020-05-17 00:33] BenTheElder commented on #91128
graph pretty much speaks for itself, rolling the nodes cleared things up for now:
<img width="1529" alt="Screen Shot 2020-05-16 at 5 30 45 PM" src="https://user-images.githubusercontent.com/917931/82133016-503b2580-979b-11ea-8289-466737555caf.png">

[2020-05-17 00:34] BenTheElder commented on #91128
(note that those very short failures along the bottom of the graph are nearly always due to code that doesn't compile)

[2020-05-17 01:25] dims commented on #91128
@BenTheElder thanks!

[2020-05-17 01:45] 0xMH commented on #73412
/reopen

This is still happening.

[2020-05-17 01:59] #84595 closed

[2020-05-17 01:59] #89961 closed

[2020-05-17 02:00] #90616 closed

[2020-05-17 02:00] #86355 closed

[2020-05-17 02:20] MikeSpreitzer commented on #86862
/remove-lifecycle rotten

[2020-05-17 03:00] MikeSpreitzer opened #91173 "inflightUsageMetricUpdatePeriod in maxinflight.go is too short"
**What happened**:
While preparing for an enhancement, I studied the existing concurrency metrics produced by the maxinflight filter.  The two numbers of currently executing requests (mutating and readonly) are very bouncy, and the existing code reports windowed high-water-marks instead of the very bouncy numbers.  This makes sense, because Prometheus metrics are scraped at a much lower rate than

[2020-05-17 03:00] MikeSpreitzer commented on #91173
@kubernetes/sig-api-machinery-bugs

[2020-05-17 03:01] MikeSpreitzer commented on #91173
@lavalamp
@deads2k
@yue9944882

[2020-05-17 04:23] wawa0210 commented on #91165
/assign

I can try to update the api documentation

[2020-05-17 05:31] bala83 commented on #90208
Is this issue is fixed ?

[2020-05-17 05:37] #91096 closed

[2020-05-17 06:53] BenTheElder commented on #91128
At least currently, kind is passing much more often than GCE again, and they're both passing at rates I'd have expected until very recently...

vs

I'd like to leave this open to see how we do through Monday though, the weekends are often very different.

[2020-05-17 08:11] ahilsend commented on #33777
I have noticed the same in my cluster, running v1.18.2. Restarting the master node running the scheduler with the lock fixed it.

It would appear the scheduler caches some state, and doesn't properly invalidate it. Is there any way I can help troubleshoot this further?

[2020-05-17 08:15] zerkms commented on #78007
/remove-lifecycle stale

[2020-05-17 13:08] SerialVelocity commented on #88193
/remove-lifecycle stale

[2020-05-17 13:47] dineshba commented on #91161
@13567436138 In the help message
[code]
we have both user and group flag. I didnt understand your question. Can you please explain ?

[2020-05-17 13:56] dineshba commented on #91147
@sureshpalemoni  May be useful for you https://github.com/EmberStack/kubernetes-reflector

[2020-05-17 14:14] kaivalya97 commented on #89925
@singlakirti You can refer https://cloud.google.com/kubernetes-engine/docs/concepts/ingress-xlb#support_for_websocket for setting timeout value of an Ingress (HTTPS Load Balancer)

[2020-05-17 15:06] davizucon commented on #66826
Still error for me on CentOS 7.5 , worked after removed line:
exclude=kubelet kubeadm kubectl

[2020-05-17 15:18] tylerauerbeck commented on #91161
@dineshba I believe the issue is that it's not listed under options and only appears in the usage.

[2020-05-17 15:36] tedyu commented on #88193
[code]
Was the bad rule removed and the expectation is that the retry would get mount to succeed ?

[2020-05-17 15:43] tylerauerbeck commented on #90055
@tlereste I think the problem that's being described here is:

`kubectl -n my-namespace get pods -l run=nginx` = works as expected

however

`kubectl --all-namespaces get pods -l run=nginx` breaks with:

[code]

[2020-05-17 15:55] liggitt commented on #90055
`-n` / `--namespace` is a "global flag" (any kubectl command can take this option). Global flags appear in `kubectl options` help.

`--all-namespaces` is not a global flag (only specific commands can take this option). Only global flags can appear before the command name (in this case, `kubectl get`)

[2020-05-17 15:57] liggitt commented on #90055
This seems more like a feature request for https://github.com/spf13/cobra (the CLI library kubectl uses) than a bug

[2020-05-17 16:00] aojea commented on #91128
/cc

[2020-05-17 18:01] hbagdi commented on #86889
Closing this because we don't have the specific version of the cluster available anymore. Will re-open if needed. Not sure if this is fixed in newer versions or not.

[2020-05-17 18:01] #86889 closed

[2020-05-17 18:16] bpineau opened #91183 "Azure: lost non-VMSS instances fails to leave clusters"
**What happened**:

When the standalone (or VMAS) instance backing a registered node is removed (from Azure, ie. the instance is deleted), that node will remain `NotReady` forever due to the Azure cloud provider only checking whether the node was removed from a containing VMSS.

Moreover this will triggers frequent VMSS full re-scans (when the instance name conforms to the expected VMSS instances

[2020-05-17 18:19] nodo commented on #91111
Hey @alculquicondor - I would be happy to help out with this if you want. However, I am a new contributor, would you be able to give some pointers? At which level were you thinking to add more coverage exactly?

[2020-05-17 18:35] bpineau commented on #91183
/sig cloud-provider
/area provider/azure

[2020-05-17 19:03] #86286 closed

[2020-05-17 21:39] SerialVelocity commented on #88193
Correct. I would expect the mount to be retried as the failure is part of pod creation, not the pod failing while running/starting up.

[2020-05-17 22:07] hashimyousaf commented on #50295
Thanks, it solved my problem. :)

[2020-05-17 22:47] jherrera123 commented on #90653
Still working on this issue.

[2020-05-17 23:55] Nuru opened #91186 "Make Log Timestamps Fixed-Width to Ease Log Viewing and Processing"
Although it can seem like a minor thing, and has been allowed to go on for a long time, it really does cause significant extra work for operations departments that the default Timestamp is [not fixed width](https://github.com/kubernetes/kubernetes/issues/72292), which leads to log messages not being aligned and frustrates column-oriented operations on logs. Notably, Docker does not have this probl

[2020-05-18 00:00] Nuru commented on #91186
/sig node
/area kubelet

[2020-05-18 00:08] #86200 closed

[2020-05-18 00:14] Nuru commented on #89156
I believe the best solution is to use a fixed-width format for output and a variable width format for input. See the code in #91186 for how I propose modifying kubelet to do this for logs. The same kind of thing can be done here for RFC3339Micro, namely create RFC3339MicroFixed and RFC3339MicroLenient and use Fixed for output and Lenient for input. Or, frankly, use RFC3339NanoLenient for input, as

[2020-05-18 00:14] katherine-boost commented on #79224
Exactly this. It depends on where the Helm Chart creator has implemented the ability to use a secret ... not all have, and in those cases I don't think there's any alternative to keeping the secrets in plain text. ☹️

[2020-05-18 00:43] Nuru commented on #72292
@smarterclayton @vikaschoudhary16 I have proposed a fix for this in #91186. I do not think it is a hairy or difficult fix. Please vote for and otherwise support it if you agree.

[2020-05-18 01:41] borgerli commented on #91015
/sig node

[2020-05-18 02:08] lwmqwer commented on #90928
Thanks @khenidak for reply.
The client cannot directly reach this camera as the camera is behind this edge node, which will do the NAT for camera.
If test it without k8s and add ipvs rule like this
ipvsadm -ln
TCP 192.168.100.59:32248 rr
-> 192.168.188.192:80 Masq 1 0 0
this is working fine for 192.168.100.* client to reach this camera.

I think there some rules which write by k8s hinder the packe

[2020-05-18 03:47] cofyc commented on #88150
/remove-lifecycle stale

hi, @gavinfish just want to know if you are still seeing this issue?

[2020-05-18 04:16] feiskyer commented on #90790
Fixed by https://github.com/kubernetes/kubernetes/pull/90886.

[2020-05-18 04:16] #90790 closed

[2020-05-18 06:01] nrvnrvn commented on #79034
/remove-lifecycle rotten

On Sun, 17 May 2020 at 06:47, fejta-bot <notifications@github.com> wrote:

[2020-05-18 06:53] aalsabag commented on #59876
Thank you @unstableunicorn . ```/host_mnt/c/path/to/file`` that did the trick!

[2020-05-18 07:04] sbellan commented on #66826
I think it is because of -- in the commands is being changed to – in the markdown rendering, causing copy paste to fail to run those commands successfully.

[2020-05-18 07:41] iamchuckss commented on #91186
/assign

[2020-05-18 08:14] zhouya0 commented on #91161
/sig cli
Very strange... I don't know how to fix this...

[2020-05-18 08:20] hkamel opened #91195 "[Failing test] gce-cos-master-serial (ci-kubernetes-e2e-gci-gce-serial)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/milestone v1.19
/priority critical-urgent
/sig testing
/sig storage

[2020-05-18 08:33] serathius commented on #89961
Thanks @dims for all great work!

[2020-05-18 08:34] serathius commented on #89190
Klog was upgraded to v2.

[2020-05-18 09:20] veeramalla-f5 commented on #91090
@bowei The request is basically to add more details to the kubectl get ingress output.

Currently it does not print anything related to the path of the ingress and if it is TLS it Non-TLS

[2020-05-18 10:23] #91183 closed

[2020-05-18 10:26] mm4tt opened #91201 "[kubemark] Kubemark-up logs spammed with info on annotating nodes"
After https://github.com/kubernetes/kubernetes/pull/90806 has been implemented and enabled the 5k node kubemark run has extra ~10k lines of logs like this ones:
[code]

Example kubemark 5k run: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/1261967524937863169/

We should get rid of that, it doesn't bring any value only pollutes the log

[2020-05-18 10:26] mm4tt commented on #91201
/sig scalability
/cc @tosi3k

[2020-05-18 10:31] zhucan commented on #86281
When to solve this problem?

[2020-05-18 10:50] xieyanker opened #91203 "Node NotReady, "WorkloadEndpoint does not exist in the datastore""
**What happened**:

One worker node of my k8s cluster got `NotReady`.

A plenty of pods' `pause` container always been deleted by `kubelet`, I got logs `Shutting down, got signal: Terminated` as follows:

[code]

Some kubelet logs as follows:

[code]

I restart the `calico-node` container, `docker`  and `kubelet`, but no help to me.

**What you expected to happen**:
The kubelet get `Ready`, and `p

[2020-05-18 10:53] xieyanker commented on #91203
/sig Network

[2020-05-18 10:57] chendave opened #91204 "scheduler: `ImageLocality` score plugin improvement"
**What would you like to be added**:
redefine the formula, the score should be capped per images instead of pod.

**Why is this needed**:
For the pod that going to be scheduled, `ImageLocality` calculate the score based on the below steps,
-  Scaled score base on the image size and it's spread over the cluster,
***image[i].nodes***:  number of nodes that already have image

![image](https://user-i

[2020-05-18 10:57] chendave commented on #91204
/sig scheduler

[2020-05-18 10:59] chendave commented on #91204
/sig scheduling

[2020-05-18 11:00] chendave commented on #91204
cc @alculquicondor @damemi  @Huang-Wei @ahg-g

[2020-05-18 11:07] rtheis commented on #87087
/remove-lifecycle stale

[2020-05-18 11:22] ira-gordin-sap commented on #29838
Me too.

[2020-05-18 11:31] wojtek-t commented on #86484
/remove-lifecycle stale

[2020-05-18 12:07] larstiq commented on #82905
How is this going? Today I ran into `kustomize` v3.5.4 wanting `git::ssh://user@host:port/group/repo.git//path/` to specify a remote base reachable via a non-standard ssh port, but `kubectl` isn't happy with it. I have yet to find a way to write that so that both `kustomize` and `kubectl` will do the right thing.

[2020-05-18 12:47] rikatz commented on #91203
/assign

@xieyanker how did you installed you cluster? It seems something related to it not being to create network namespaces.

Usually the 'pause' container is used to create those netns first, and then allow other containers belonging to the same Pod to use this netns.

Also k8s 1.14 is pretty old (the 1.16 is the last 'supported'), is there any chance to update to at least a newer version and

[2020-05-18 12:47] rikatz commented on #91203
/remove-kind bug
/remove-triage unresolved

[2020-05-18 12:56] satishsept7 commented on #77251
I am facing issue with kubernet installation on node where 2Mi and 1Gi both size huge page exist.
GitVersion:"v1.18.2"
Could you please let me know,Which version supports multiple size huge Page?

[2020-05-18 12:57] hasheddan commented on #91195
This looks like an infrastructure issue but pinging @kubernetes/sig-storage-bugs just in case anyone has immediate insight

[2020-05-18 12:57] hasheddan commented on #91195
/remove-kind bug

[2020-05-18 13:00] tamalsaha commented on #76789
/lifecycle frozen

[2020-05-18 13:00] ruanafan commented on #76604
@franclinsousa I have a same issue like this.
I try to create a link symbolic like this:

But this does not work, could you please tell me how you fix this problem?

[2020-05-18 13:01] hasheddan commented on #91195
Looks like recent changes here; https://github.com/kubernetes/kubernetes/pull/90773

[2020-05-18 13:09] Aracki commented on #60807
Almost all the time I experience this issue, it's up to CRD's. Delete CRD's if they are used only in that namespace and then you can proceed with deleting finalizer and namespace.

[2020-05-18 13:40] gyliu513 opened #91208 "VolumeSource in Kubernetes does not support StorageClass"
Based on source code here https://github.com/kubernetes/api/blob/master/core/v1/types.go#L51-L159 , seems I cannot specify a `StorageClass` when using `VolumeSource`.

Like the YAML file as below:

[code]

I was not able to set a `storageclass` for my `persistentVolumeClaim`, any comments for this? Thanks.

/sig storage

[2020-05-18 13:45] odinuge commented on #77251
Hi @satishsept7,

This will start working properly in v0.19.0, ref. https://github.com/kubernetes/kubernetes/pull/89252. :smile:

[2020-05-18 13:53] #91208 closed

[2020-05-18 14:02] chenpfeisoo commented on #72610
I met it, too

[2020-05-18 14:06] bng-github commented on #50295
1) **systemctl status kubelet** -> it should be runnning

2) **kubeadm reset** -> reset the kubeadm using this command
Your Kubernetes control-plane has initialized successfully!

3) Now try to RUN “**kubectl get pods**”

[2020-05-18 14:25] jwm commented on #28272
/remove-lifecycle stale

[2020-05-18 14:31] gnufied commented on #91195
/assign @gnufied

[2020-05-18 14:31] ninijay commented on #60987
Same problem with mount.cifs + k8s 1.15.5

[2020-05-18 14:33] alculquicondor commented on #91120
@manishdangi98 you can take it

[2020-05-18 14:37] alculquicondor commented on #91111
Take a look at #91071 for reference.

[2020-05-18 14:40] manishdangi98 commented on #91120
/assign

[2020-05-18 14:54] alculquicondor commented on #88229
/remove-lifecycle stale

@cofyc wdyt?

[2020-05-18 15:12] alculquicondor commented on #88174
In short, yes. Although that score has a mechanism to avoid the "node heating problem" https://github.com/kubernetes/kubernetes/blob/0f2cccc98c3bf2a512ec55cbeba89dbfe7c768cf/pkg/scheduler/framework/plugins/imagelocality/image_locality.go#L105-L112 we could have undesirable consequences unless we carefully analyze the impact.

But that same reasoning doesn't apply to option A (improving PodTopology

[2020-05-18 15:13] liggitt commented on #81145
I don't think there is.

[2020-05-18 15:30] alculquicondor commented on #91204
Thanks a lot for summarizing the problem. I agree that the formula needs improvement.

I think doing the capping for each image solves the original problem and what @damemi said in https://github.com/kubernetes/kubernetes/pull/91138#discussion_r425995455

[2020-05-18 15:36] ahg-g commented on #88174
I am not clear on the following: you say "we could have undesirable consequences unless we carefully analyze the impact." but then you argue for the option at the end, can you clarify?

We had default spreading that was giving similar strong signal, we should compare with that.

My concern with modifying the ```NodeResourcesLeastAllocated``` is that we may break someone. Increasing the weight is s

[2020-05-18 15:39] kong62 opened #91215 "kubectl get --watch lost data"
**What happened**:
[code]
Crashloopbackoff 3 times, restarts 7 times. They are not equal. It seems that data is lost

**What you expected to happen**:
Crashloopbackoff 7 times, restarts 7 times. They are  equal.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

[2020-05-18 15:47] tedyu opened #91216 "'Services should be able to preserve UDP traffic when server pod cycles for a NodePort service' fails if conntrack is not installed on node"
**Which jobs are flaking**:
test_pull_request_crio_e2e_crun_fedora and test_pull_request_crio_e2e_fedora

**Which test(s) are flaking**:
Services should be able to preserve UDP traffic when server pod cycles for a NodePort service

**Testgrid link**:
https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-federated-results/pr-logs/pull/cri-o_cri-o/3775/test_pull_request_crio_e2e_fedora/1

[2020-05-18 15:47] tedyu commented on #91216
/sig network

[2020-05-18 15:51] alculquicondor commented on #88174
Sorry, I meant option A, improve PodTopologySpread

[2020-05-18 15:52] #91110 closed

[2020-05-18 16:10] Urvik08 commented on #90996
Hi @khenidak Thank you for responding.
I double checked my setup and it seems that I am already setting those variables in `controllerManager` section in primary master's yaml file.
[code]
These settings should be cluster wide right? I mean I don't need to include while node joins?

[2020-05-18 16:13] neolit123 commented on #90761
@hkamel @hasheddan hi, the jobs seem to be now at the state where they were before the ticket was logged - i.e. mostly green.

the Prow issue that was discussed in https://github.com/kubernetes/kubernetes/issues/91128 is definitely a factor, so i'm not going to bump the jobs to 60minutes for now.

we do still see 2 occasional types of flakes:
- one of them is known https://github.com/kubernetes/ku

[2020-05-18 16:19] pjbgf commented on #81145
I just confirmed with Bobby from Trail the Bits through the wg-security-audit channel, and the issue was raised based on the configuration being available. No TLS connection was established to the kubelet. Given the points I made above, we should probably 1) close this issue and create a new one for api server or 2) repurposed it for the api server.

@cji what would be your thoughts on options 1 a

[2020-05-18 16:20] BenTheElder commented on #91128
/assign

[2020-05-18 16:23] hasheddan commented on #90761
@neolit123 thanks for following up! I will make sure to take a look at your incoming PR :+1:

[2020-05-18 16:24] #91128 closed

[2020-05-18 16:24] #82949 closed

[2020-05-18 16:31] ankeesler opened #91217 "exec credential provider: add install hint"
**What would you like to be added**:
* Add the ability for users to specify an install hint for their exec credential provider binary.

**Why is this needed**:
* In the exec credential provider workflow, if the exec credential binary does not exist, then the user will see some sort of ugly `...exec: exec: "does-not-exist": executable file not found in $PATH` thing.
* If some user downloads a kubec

[2020-05-18 16:31] ankeesler commented on #91217
/assign

[2020-05-18 16:32] ankeesler commented on #91217
/sig auth

[2020-05-18 16:33] ankeesler commented on #90817
Opened https://github.com/kubernetes/kubernetes/issues/91217 to specifically track install hint bit.

Open to other ways of tracking this work.

[2020-05-18 16:46] marosset commented on #73434
/reopen
/remote-lifecycle rotten

[2020-05-18 16:50] hasheddan commented on #90107
@aojea @BenTheElder this is looking very green since https://github.com/kubernetes/kubernetes/pull/91045 (thanks @saschagrunert!). Do y'all see any reason to keep this open?

[2020-05-18 16:58] gavinfish commented on #88150
@cofyc yes. And any comments on my understanding of this issue?

[2020-05-18 17:02] aojea commented on #90107
I think this was the big change
https://github.com/kubernetes/kubernetes/issues/91128

let's close and reopen if necessary, everything looks better now
/close

[2020-05-18 17:02] #90107 closed

[2020-05-18 17:03] hasheddan commented on #90830
/priority important-soon

[2020-05-18 17:04] hasheddan commented on #90830
/remove-priority critical-urgent

[2020-05-18 17:18] aojea commented on #91216
@tedyu is flaking or is continuously failing?

there is some sort of tool like https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=preserve%20UDP%20traffic to track the occurrence of the errors?

/cc @danwinship @JacobTanenbaum

[2020-05-18 17:25] aojea commented on #90117
this jobs returned to its usual flakiness :sweat_smile:

will close it by now
/close
Thanks @hasheddan for the heads up, keep up this great job monitoring the health of the project

[2020-05-18 17:25] #90117 closed

[2020-05-18 17:31] nonai commented on #77662
+1

[2020-05-18 17:36] aojea commented on #73099
/assign

let's see if we start to recover a bit of stability :smile:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&job=pull-kubernetes-e2e-kind&test=Kubectl%20client%20Simple%20pod%20should%20support%20inline%20execution%20and%20attach

[2020-05-18 17:39] evanmcclure commented on #71930
/remove-lifecycle rotten

Having a replicaCount per node is still needed.

[2020-05-18 17:40] evanmcclure commented on #71930
Maybe a replicaCount anti-affinity?

[2020-05-18 17:55] ingvagabund commented on #91157
I will check it out tomorrow, thanks.

[2020-05-18 17:56] kwiesmueller commented on #90931
This is slightly related: https://github.com/kubernetes/kubernetes/issues/90968
If we want to support `--force` we could try and make the behavior clearer.

[2020-05-18 18:00] johscheuer commented on #91203
Could you also add the logs and the status of the calico pods + the OS and arch would be nice to know.

[2020-05-18 18:03] lechen26 opened #91219 "kubectl get HPA using autoscaling/v2beta2"
Hi

i'm having issues to get the right TARGETS fields when using averageValue on HPA.

i have an HPA configured using version autoscaling/v2beta2 which looks like the following:
[code]

the sample-app is indeed scaled up/down based on the queue length.
the thing is, the output for `kubect get hpa` is:
[code]

while when describing it using `kubectl describe hpa sample-app` i do get the right data:

[2020-05-18 18:04] nodo commented on #91111
Thanks, sounds good. Do you already an idea of what the next test could be? I can start working on it using the structure of your PR.

[2020-05-18 18:05] #91201 closed

[2020-05-18 18:17] eMGabriel opened #91220 "Move pkg/kubelet/cm/cpuset to staging"
**What would you like to be added**:
I would like to request moving `pkg/kubelet/cm/cpuset` to `staging`.

**Why is this needed**:
We depend on `cpuset` in our projects:
[nokia/danm](https://github.com/nokia/danm/search?q=cm%2Fcpuset&type=Code)
[nokia/CPU-Pooler](https://github.com/nokia/CPU-Pooler/search?q=cm%2Fcpuset&type=Code)
Go modules cannot properly handle `k8s.io/kubernetes` as dependency.

[2020-05-18 18:19] alculquicondor commented on #91111
The basic idea is to increase the coverage of this file https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/eventhandlers.go

It is possible that we cover some of it in https://github.com/kubernetes/kubernetes/blob/master/test/integration/scheduler/predicates_test.go but, at quick glance, it doesn't seem like it.

[2020-05-18 18:20] eMGabriel commented on #91220
/sig node
/area code-organization

[2020-05-18 18:43] khenidak commented on #90996
Thanks. So please run the same experiment. make sure that controller manager is running. You should see pods (that are part of a controller e.g. ReplicaSet/Deployments) being recreated on different nodes after ~1M.

[2020-05-18 18:45] khenidak commented on #90928
Yes. You are correct. One way around this is to have a pod that can forward traffic to your camera (basically each camera will have it is pod). Then you can connect to your camera via the pod.

if there is nothing, can i ask you to close this issue. It seems like it is working as intended.

[2020-05-18 18:46] khenidak commented on #60646
@andrewsykim i remember you created a PR to address this, right?

[2020-05-18 19:09] mewais commented on #91031
Any clue on what the root cause was? I have a similar issue.

[2020-05-18 19:14] nodo commented on #91111
cool, I will give it a go in the next days.

/assign

[2020-05-18 19:19] alculquicondor commented on #91111
Thanks

/remove-help

[2020-05-18 19:43] ikramuallah commented on #48798
please don't change anything. Just run this command. The error will be gone.

 kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

[2020-05-18 20:17] Nuru commented on #72292
/reopen will be addressed in #91207

[2020-05-18 20:18] Nuru commented on #72292
/reopen

[2020-05-18 20:56] bobbypage opened #91223 "GCI Docker Logs should be at info level"
**What happened**:

Docker logs on GCI are set at the warning level. This makes hard to debug docker related issues due to a lack of logs. Log level should be set to info.

**What you expected to happen**:

Log level is set to info.

**How to reproduce it (as minimally and precisely as possible)**:

n/a

**Anything else we need to know?**:

n/a

**Environment**:
- Kubernetes version (use `kubectl

[2020-05-18 21:00] bobbypage commented on #91223
/sig cloud-provider

[2020-05-18 21:01] bobbypage commented on #91223
/assign karan

[2020-05-18 21:10] tedyu commented on #90334
Sent PR.

Trying to get maintainer to review it.

[2020-05-18 22:24] yuga711 commented on #86281
In progress. Planning to submit to 1.19 and then backport to earlier releases.

[2020-05-18 22:30] #86021 closed

[2020-05-18 22:30] #86489 closed

[2020-05-18 23:26] cofyc commented on #88229
I have some other concerns. What if the pod is deleted? Should the scheduler send events that PVC is not in volume binding?

The PV controller must be updated to stop emit `waiting for first consumer to be created before binding` event in this scenario. It might be simpler to solve on the PV controller side.

https://github.com/kubernetes/kubernetes/blob/ba2855eaa5c0e4f6b0bb32047f9f832ab1ee14f2/pk

[2020-05-18 23:34] ZhiFeng1993 commented on #91042
@enj Just to confirm, is the integration test for `SubjectRulesReview` supposed to be similar with https://github.com/kubernetes/kubernetes/blob/master/test/integration/auth/accessreview_test.go?(test for `SubjectAccessReview`)

I had some trouble finding out how to construct an authorizer with `isNode` toggled. Not sure where `RulesFor` gets called.

[2020-05-19 00:03] ozankabak commented on #73480
Running into this issue too.

[2020-05-19 00:33] davidstack commented on #89392
@matrixji thanks,i always use  haproxy as the lb , i will try you haproxy config. maybe this is the reason.

[2020-05-19 01:02] lwmqwer commented on #90928
@khenidak Thanks for your reply, and I close this issue now. Currently, I add a nginx as l4 proxy, but I think it is too heavy in the  edge side as this can be done just by one rule.  Would you give me some advices about the pod your mention? Will a debian-base  with some ipvs rules could competent this job?

[2020-05-19 01:03] #90928 closed

[2020-05-19 01:16] skamboj commented on #90854
Thanks @andrewsykim for the pointer. Prima facie checking suggests that `ethtool --offload flannel.1 rx off tx off` fixes the issue although I haven't had the chance to take it through the paces and really test it out with any load. Like you mentioned, I'd be really interested in knowing how this bug manifests with `--random-fully` flag... Also there seems to be a [flannel patch](https://github.co

[2020-05-19 01:27] stealthybox commented on #90136
One of the proposed solutions was to create a single file module in a staging repository containing all of the core feature-gates.

This module would be easily vendored and extended by third-party projects:
-  (ex: kube-proxy replacements implementing IPv6 gates)
-  (ex: third party installer)

[2020-05-19 01:29] ahg-g commented on #88174
One potential advantage to doubling the weight is that topology spread currently offers a signal comparable to default spreading, which we can think of as a baseline for spreading signal since it has been used for a while now. Doubling the weight will allow admins to revert back to the old behavior if they wish to do so.

Also, from my perspective, doubling the weight is giving better placement at

[2020-05-19 01:36] borgerli commented on #91015
this issue relates to https://github.com/kubernetes/kubernetes/pull/53049

[2020-05-19 01:42] kong62 commented on #91215
/assign

[2020-05-19 01:43] kong62 commented on #91215
/sig cli

[2020-05-19 02:43] 13567436138 commented on #91161
option don't have

[2020-05-19 02:45] mewais commented on #91031
Downgrading Docker to the version mentioned in the documentation seems to have fixed it for me.

[2020-05-19 04:15] brianpursley commented on #91031
Yes... I had installed docker from the Ubuntu official repository, but it turns out that does not include experimental features.

Installing the docker-ce from here worked for me:
https://docs.docker.com/engine/install/ubuntu/

[2020-05-19 04:17] b675987273 opened #91232 "Parsing module file error when go get github.com/kubernetes/kubernetes"
**What happened**:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Maybe just because i do not understand the usage of the go mod well?

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`

[2020-05-19 04:24] b675987273 commented on #91232
`/sig Usability`

[2020-05-19 05:09] 13567436138 opened #91233 "kubectl run command‘s code has useless code’"
**What happened**:
\kubectl\pkg\cmd\run\run.go
if generatorNameTemp != generatorName {
			cmdutil.Warning(o.ErrOut, generatorName, generatorNameTemp)
		} else {
			generatorName = generatorNameTemp
		}

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version

[2020-05-19 05:19] andyxning commented on #72637
Should we support finalize sub resource for CRD?

[2020-05-19 05:20] llamerada-jp opened #91234 "scheduler: do not respect topology spread constraints even when satisfiable"
**What happened**:

kube-scheduler gives up too easily to satisfy topology spread constraints
under the following conditions:

- All constraints are `whenUnsatisfiable: ScheduleAnyway`.
- There are some CPU consuming pods already.
- Topology spread constraints can be satisfied.

although the specification clearly says ["whenUnsatisfiable indicates how to deal with a Pod if it doesn’t satisfy the s

[2020-05-19 05:40] draveness commented on #91234
/sig scheduling

[2020-05-19 05:59] bgrant0607 commented on #6132
Thanks. I think we can close this.
/close

[2020-05-19 05:59] #6132 closed

[2020-05-19 06:12] imsrgadich commented on #64689
@chrissound Hi, what is the solution for this issue?

And also, what do you mean by `able to fit`?

[2020-05-19 06:15] xieyanker commented on #91203
@johscheuer The OS info is as follows:

[code]

The calico logs are as follows:

[code]

The calico pod's status is "Running", it seems no problem:

[code]

@rikatz The cluster I install is by ansible which likes kubespray. It seems not to be related with the k8s version or calico version. In fact, this k8s cluster has already running for a while, and only one worker node suddenly appeared in this

[2020-05-19 06:17] Huang-Wei commented on #91234
@llamerada-jp This is not a bug.

- `whenUnsatisfiable: ScheduleAnyway` means it's a SOFT requirement. It can be satisfied or not.
- `whenUnsatisfiable: DoNotSchedule` means it's a HARD requirement, it must be satisfied; otherwise the Pod won't be scheduled.
- if you have `M` hard requirements along with `N` soft requirements. `M` hard requirements must be ALL satisfied. After that, `N` soft requi

[2020-05-19 06:22] gu111gu commented on #45509
@Vorian-Atreides , we hit similar problem and we have a few question on your solution.
I define a CRD, this CRD definition is similar as Deployment, like image and replicas count.
I customize the controller to watch the CRD CRUD. If "create" request. It will deploy the Pods. If "update" request, it will check the replicas count and delete the POD which is in idle status.
But problem here is does i

[2020-05-19 06:38] #79280 closed

[2020-05-19 06:54] #91232 closed

[2020-05-19 07:04] fentas commented on #45419
Just want to share what caused it for us.
We had a container running which "produced" a lot of processes over ~3days which in the and reached a maximum. This caused a complete freeze of the system as no new process could be spawned (there was then the PLEG warning).

So kind unrelated issue for us. Thanks for all the help :+1:

[2020-05-19 07:28] zhouya0 commented on #91233
This will be fixed because we are planning to remove the generators.
/close

[2020-05-19 07:28] #91233 closed

[2020-05-19 07:29] zhouya0 commented on #91219
Can you give more info like using `kubectl version` ?

[2020-05-19 07:32] leopoldxx commented on #86666
before it fixed in k8s, i bypass the problem use the code below. hope it will help.
 @ialidzhikov

[code]

replace the default `Serializers` with the above one.
[code]

[2020-05-19 07:48] Pingan2017 opened #91235 "Job will never succeed because pod GC deletes the success pod"
**What happened**:
Job controller will create pod in a loop, b/c pod gc controller delete the succeed pod since the number of succeed and failed pod exceed the `--terminated-pod-gc-threshold`
**What you expected to happen**:
Job can finished
**How to reproduce it (as minimally and precisely as possible)**:
1. set `--terminated-pod-gc-threshold` to a lower no. eg 1
2. create a job with `completions

[2020-05-19 07:51] #91165 closed

[2020-05-19 07:58] jprzychodzen opened #91236 "Flaky test: [sig-network] Services should be able to preserve UDP traffic when server pod cycles for a NodePort service"
**Which jobs are flaking**:
ci-kubernetes-e2e-gce-scale-correctness

**Which test(s) are flaking**:
[sig-network] Services should be able to preserve UDP traffic when server pod cycles for a NodePort service

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-correctness

**Reason for failure**:
[code]

/sig network
/assign @thockin

[2020-05-19 08:26] gaetansnl commented on #90666
It happened again, but I can't take a profile or get logs because the server is becoming too slow. It took long time just to connect to SSH.

[2020-05-19 08:40] #85256 closed

[2020-05-19 08:50] johscheuer commented on #91043
I took a look and the `--tcp` argument is never used which makes sense since a service of the type `ExternalName` will create a `CNAME` and the `CNAME` won't return any information about the port.

The funny part is that you can create an service with type `ExternalName` and a port specification (this should probably documented):

[code]

results in:

[code]

What Use-case did you want to solve wi

[2020-05-19 09:06] maxgio92 commented on #39593
I think that it's a deliberate behaviour; BTW, it still happens on 1.14.9

[2020-05-19 09:08] mootezbessifi opened #91238 "Kubernetes cloudprovider plugin sending periodical GET volumes info api requests to Cinder"
Hi folks,

I am running k8s v1.17.4 and 1.14.2 with integration with cinder using in-tree openstack cloud provider.

I received a report from openstack team that they are receiving a huge number of GET cinder volume info requests (like 18 request per volume per minute). (volumes are linked to pv/pvc)

I checked out my controller manager and kubelet in the hole cluster but i did not find any abnorm

[2020-05-19 09:18] mootezbessifi commented on #91238
/sig Cloud Provider

[2020-05-19 09:19] mootezbessifi commented on #91238
/sig cloud-provider

[2020-05-19 09:27] uzxmx commented on #56038
Here's the summary of gcr mirror status in China:

* `gcr.azk8s.cn` not working (for private use)
* `gcr.mirrors.ustc.edu.cn` not working (sometimes)
* Aliyun mirror needs to login before pulling

For me, currently the best way is to access gcr images from offical docker registry.  For anyone who's interested in using official docker registry or a mirror like `docker.mirrors.ustc.edu.cn` to access

[2020-05-19 09:34] aojea commented on #73099
The rate of failures decreased a lot since last changes

Checking the logs of the failures it seems that the problem is that the pod has not finished before checking the output, as Lantao described

The test fails

[code]

Collecting events from namespace

[code]

The framework logs the pods the kubelet thinks is on the node

[code]

[2020-05-19 10:10] ialidzhikov commented on #85520
/honk

[2020-05-19 10:10] llamerada-jp commented on #91234
Okay, so it's not a bug, but I think it is very confusing because the
`whenUnsatisfiable` stanza sounds like that the condition will be
applied only when the constraints cannot be satisfied.

Instead of renaming the stanza, I would like to propose an improvement
for kube-scheduler to make it try harder to satisfy soft constraints too.
We made [a proof-of-concept patch](https://github.com/ymmt2005/

[2020-05-19 10:19] panicbit commented on #69676
/remove-lifecycle stale

[2020-05-19 10:33] zhouya0 commented on #91144
https://github.com/kubernetes/kubernetes/issues/64830 Try using `--dry-run=server`

[2020-05-19 10:36] shenmou98 commented on #43633
@kramarz , Thanks, this workround work for me.

[2020-05-19 10:40] ingvagabund commented on #91157
Checking the logs there's a lot of `pod has unbound immediate PersistentVolumeClaims`. Though,
strong majority of them is reported for a different pod and only once. Tracing the code into `VolumeBinding` plugin and `pl.Binder.FindPodVolumes` code, the error says "pvc.Spec.VolumeName" of a specific pvc is not set yet. So it's just a matter of timing since eventually all pods are bound to a node.

A

[2020-05-19 10:47] ialidzhikov commented on #88896
/cc @janetkuo @kow3ns @mattfarina @prydonius

[2020-05-19 10:48] ialidzhikov commented on #88896
/priority important-longterm

[2020-05-19 11:05] hasheddan opened #91242 "[Failing Test] Storage tests are failing due to quay.io being down"
**Which jobs are failing**:

`skew-cluster-latest-kubectl-stable1-gce`
`gce-cos-master-default`
`gce-cos-master-alpha-features`
`gci-gce-ingress`
`gce-cos-master-reboot`
`gce-cos-master-scalability-100`
`Conformance - GCE - Master`
`integration-master`
`kind-master-parallel`
`kind-ipv6-master-parallel`

**Which test(s) are failing**:

All relying on volume snapshot controller.

**Since when has it

[2020-05-19 11:40] koehn commented on #70082
/remove-lifecycle-stale

I'm getting this also for reasons I haven't been able to understand, and my kubernetes api-server is crashing as a result. Could use some help.

[2020-05-19 11:43] hasheddan commented on #91242
@xing-yang is there an issue open for moving this quay.io image to community infra?

[2020-05-19 11:44] Gerrit-K commented on #91144
@zhouya0 it didn't work on my version, but you pointed me to the right direction.

In kubectl 1.18 the parameters changed from `--dry-run` and `--server-dry-run` to `--dry-run=client` and `--dry-run=server`. Thus, on my kubectl (1.16/1.15) I still have to use `--server-dry-run`, but in the end that worked for me and detected the error above.

More on that can be read [here](https://kubernetes.io/b

[2020-05-19 11:44] #91144 closed

[2020-05-19 12:09] xing-yang commented on #91242
@hasheddan we haven't talked about it.  Let me open an issue about it.

[2020-05-19 12:21] rikatz commented on #91203
Can you provide a ``kubectl describe node NODE_NAME`` to confirm that the Node is not ready because of some networking failure?

Also, can you confirm that the calico log in the other nodes are behaving exactly the same, with the same WARNING messages?

Are you running Calico with some specific option / configuration, or using kubespray defaults?

[2020-05-19 12:34] micxer commented on #77086
This part about `kubectl proxy` was the missing piece for me having a non-deletable namespace o an EKS cluster.

BIG THANKS!!

[2020-05-19 12:56] sureshpalemoni opened #91244 "kubectl get <resource> -n <wrong-namespace> returns zero resources instead of wrong namespace"
**What would you like to be added**:
when we send the command kubectl get <resource> -n <wrong-namespace>, it returns no resources or zero resources in the namespace. Some people might get this wrong, and may think there deployments have been erased or not at all deployed.

**Why is this needed**:
It is ideal to return no such namespace in the cluster, to reflect the real error. This will not conf

[2020-05-19 12:58] sureshpalemoni commented on #91244
/sig cli

[2020-05-19 13:04] neolit123 commented on #90761
i haven't seen the same failure in the last 10 runs:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-upgrade-1-18-master

please re-open this ticket if needed.
thanks.

[2020-05-19 13:04] neolit123 commented on #90761
/close

[2020-05-19 13:10] dims commented on #56038
cc @bartsmykla

[2020-05-19 13:37] fsilletti commented on #76146
I have the same problem

[2020-05-19 13:38] hasheddan commented on #91242
Potential fix here: https://github.com/kubernetes-csi/node-driver-registrar/pull/82

[2020-05-19 13:44] liggitt commented on #91244
Looks like a duplicate of https://github.com/kubernetes/kubernetes/issues/75537

[2020-05-19 13:49] alculquicondor commented on #90136
We need a contributor to drive this.

@gavinfish, can you take it?

[2020-05-19 13:59] zafercavdar commented on #90077
According to [Kubernetes docs](https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/), ingress is available at `networking.k8s.io/v1beta1`

[2020-05-19 14:02] HaveFun83 commented on #90066
same here please opt-in `managed-fields` as extra kubectl flag

[2020-05-19 14:10] humblec opened #91246 "Migrate cephfs and rbd intree plugins by CSI Migration path."
There are many ceph plugin ( cephfs and rbd)  users and this migration would enable them to get onto ceph csi driver.

POC PR # https://github.com/kubernetes/kubernetes/pull/95361

[2020-05-19 14:10] humblec commented on #91246
/me assign

[2020-05-19 14:11] humblec commented on #91246
/assign @humblec

[2020-05-19 14:13] humblec commented on #91246
/sig storage

[2020-05-19 14:14] mkumatag opened #91247 "Override the CSI test images"
**What would you like to be added**:
 RightNow CSI tests hardcoded the images in the manifests here: https://github.com/kubernetes/kubernetes/tree/master/test/e2e/testing-manifests/storage-csi, need to figure out how to override the images runtime.

**Why is this needed**:
This is required to use the custom images built and override them while running the e2e tests.

[2020-05-19 14:14] mkumatag commented on #91247
/sig testing

[2020-05-19 14:35] alculquicondor opened #91249 "Extra scheduling attempts when other controllers update Pod Conditions"
**What happened**:

An extra scheduling attempt is observed in some scenarios when kube-scheduler already has already assumed a pod and this has entered the binding routine.

If, during this time, a pod update is received, the pod is added back to the scheduling queue, even if binding succeeds. This is the correct behavior, as scheduling conditions might change. However this updates could just be

[2020-05-19 14:35] alculquicondor commented on #91249
/sig scheduling

[2020-05-19 14:36] UnluckyAj commented on #85499
have you got any solution?.

[2020-05-19 14:46] Jamstah opened #91250 "imagePullSecrets in ServiceAccount should have "x-kubernetes-patch-strategy": "merge""
**What would you like to be added**:
imagePullSecrets in the pod spec use a merge strategy, but they don't in the ServiceAccount.

**Why is this needed**:
Consistency, and it makes sense.

[2020-05-19 15:00] dany74q opened #91251 "Kubernetes auth plugin for Amazon EKS"
**What would you like to be added**:
An authentication plugin for communicating with an EKS cluster.

**Why is this needed**:
Currently, the kubernetes go client comes bundled with several authentication plugins - however, EKS is missing.

I believe that it would ease users to have such a plugin, as EKS being one of the major three managed Kubernetes platforms out there (EKS, AKS, GKE); if not onl

[2020-05-19 15:00] dany74q commented on #91251
/sig auth

[2020-05-19 15:10] andrewsykim opened #91253 "FlexVolume tests are failing"
**Which jobs are failing**:
pull-kubernetes-e2e-gci-gce-ipvs

**Which test(s) are failing**:
[sig-storage] Flexvolumes should be mountable when attachable
[sig-storage] Flexvolumes should be mountable when non-attachable

**Since when has it been failing**:
https://prow.k8s.io/job-history/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gci-gce-ipvs

**Testgrid link**:
N/A since testgrid f

[2020-05-19 15:10] andrewsykim commented on #91253
/sig network
/sig storage

[2020-05-19 15:19] andrewsykim commented on #91253
/triage unresolved

[2020-05-19 15:19] tedyu opened #91255 "kubernetes-e2e-kind-ipv6 fails"
**Which jobs are failing**:
kubernetes-e2e-kind-ipv6

**Which test(s) are failing**:
10 sig-storage CSI tests

**Since when has it been failing**:
Monday May 18th

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/91211/pull-kubernetes-e2e-kind-ipv6/1262727785198129153

**Reason for failure**:
Possible cause: in the kubelet log from the two worker nodes, 'failed to lo

[2020-05-19 15:19] andrewsykim commented on #91253
/remove-triage unresolved

[2020-05-19 15:19] tedyu commented on #91255
/cc @BenTheElder

[2020-05-19 15:33] andrewsykim commented on #91253
/assign

[2020-05-19 15:34] Jamstah commented on #91250
/sig api-machinery

[2020-05-19 15:44] erickfaustino commented on #20753
This did the trick for me today!

`kubectl patch pv my-pv-name -p '{"spec":{"claimRef": null}}'`
Thank you, @robersongomes

[2020-05-19 15:50] BenTheElder commented on #91255
all of e2e is failing due to a bad CSI image, see the thread here https://kubernetes.slack.com/archives/C09QZ4DQB/p1589885719229500

[2020-05-19 15:51] BenTheElder commented on #91255
this is standard kubeadm behavior, FYI. kubeadm has a crashlooping kubelet as a pre-req, then it configures it.

[2020-05-19 16:05] BenTheElder commented on #91253
/retitle FlexVolume tests are failing

[2020-05-19 16:05] BenTheElder commented on #91253
/assign @dims

[2020-05-19 16:05] BenTheElder commented on #91255
/triage duplicate
https://github.com/kubernetes/kubernetes/issues/91253
/close

[2020-05-19 16:06] #91255 closed

[2020-05-19 16:06] BenTheElder commented on #91253
/remove-sig network
/priority critical-urgent
/kind failing-test

[2020-05-19 16:07] BenTheElder commented on #91253
see: https://github.com/kubernetes/kubernetes/pull/91257 for potential short-term fix

[2020-05-19 16:08] BenTheElder commented on #91253
https://github.com/kubernetes/kubernetes/issues/91242 is probably the right issue to track this in
/triage duplicate
/close

[2020-05-19 16:09] BenTheElder commented on #91242
/assign @dims
dupes: https://github.com/kubernetes/kubernetes/issues/91253 https://github.com/kubernetes/kubernetes/issues/91255

[2020-05-19 16:10] BenTheElder commented on #91242
short term work around https://github.com/kubernetes/kubernetes/pull/91257

[2020-05-19 16:15] andrewsykim commented on #91253
Thanks @BenTheElder !

[2020-05-19 16:16] BenTheElder commented on #91242
/assign

[2020-05-19 16:18] wojtek-t commented on #90058
Actually - update on it.
We can't really get rid of this flag, as it allows you to switch on/switch off watch cache for particular resources. We will need to replace it with the one that would allow it.

[2020-05-19 16:39] wojtek-t commented on #90833
FTR: One place where the current mechanism is causing significant differences comparing to reality is for components that list/watch only ObjectMetadata (as=PartialObjectMetadata(List)). addon-resizer being one example here. IIRC in-tree garbage-collector is another one.
@mm4tt ^^

[2020-05-19 16:52] michmike commented on #91036
@javidiaz have you tried this work against windows containers? How does this work in that case?

[2020-05-19 16:59] grosser opened #91262 "Allow setting EmptyDir Medium Disk"
would be nice to be able to call this out instead of being stuck with not setting it
https://github.com/kubernetes/kubernetes/blob/323f34858de18b862d43c40b2cced65ad8e24052/pkg/volume/emptydir/empty_dir.go#L219-L228

[2020-05-19 17:12] grosser commented on #91262
/sig storage

[2020-05-19 17:13] alejandrox1 opened #91263 "ci-kubernetes-node-kubelet-flaky has been constantly failing"
**Which jobs are failing**:
ci-kubernetes-node-kubelet-flaky

**Which test(s) are failing**:
* [sig-node] Node Performance Testing [Serial] [Slow] [Flaky] Run node performance testing with pre-defined workloads NAS parallel benchmark (NPB) suite - Embarrassingly Parallel (EP) workload
* [sig-node] Node Performance Testing [Serial] [Slow] [Flaky] Run node performance testing with pre-defined worklo

[2020-05-19 17:24] enj commented on #91251
See comment at https://github.com/kubernetes/kubernetes/pull/91254#issuecomment-630963728

/close

[2020-05-19 17:25] #91251 closed

[2020-05-19 17:28] alejandrox1 commented on #91263
Documenting some node knowledge about this test...
Looking at the prow configuration, https://prow.k8s.io/prowjob?prowjob=56e44b3a-99e4-11ea-aa9b-c69591b579a5 , this e2e job only tests
[code]

Which turns out to be only 3 e2e tests
[code]
ref: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-flaky/1262765282464632837#1:build-log.txt%3A648

[2020-05-19 17:31] haircommander commented on #91236
CRI-O CI is also hitting this failure. We have been unable to reproduce locally. our CI runs on aws

[2020-05-19 17:32] haircommander commented on #91216
related https://github.com/kubernetes/kubernetes/issues/91236

@aojea it fails 100% on our CI on aws, we've since started skipping the test while we work on finding the issue

[2020-05-19 17:36] figo commented on #78534
/cc

[2020-05-19 17:37] alejandrox1 commented on #91263
Into the tests themselves...
There is a set of workloads predefined in e2e_nodes/oerf/workloads
https://github.com/kubernetes/kubernetes/blob/6c9aab2b098d92adfeba76a4f542cac900393dd1/test/e2e_node/perf/workloads/workloads.go#L52-L53

* The `npbISWorkload` is defined here https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/perf/workloads/npb_is.go
* The `npbEPWorkload` workload is de

[2020-05-19 17:38] MHBauer commented on #89847
n00b here looking at `
pull-kubernetes-node-e2e-containerd` for sig-node test analysis project.

I see this quota exceeded message in a lot of the failing test groups in sig-node-containerd. I think this is a known issue.

How can I help?

[code]

[2020-05-19 17:45] Huang-Wei commented on #91234
@llamerada-jp Thanks for the feedback.

There are quite a lot of Scoring plugins that work together to score each qualified node (which passed Filtering plugins), so it's likely the PodTopologySpread Score plugin's efforts get diluted - which is not surprising, given that we give each Score plugin a default weight 1.

One option is to try giving a larger weight (e.g., 500) to this plugin - what yo

[2020-05-19 17:49] #79737 closed

[2020-05-19 17:49] #83450 closed

[2020-05-19 17:50] MHBauer commented on #91263
looks similar to a lot of other failures I'm seeing in sig-node-containerd test groups related to resource exhaustion, It shows up here as
[code]

[2020-05-19 17:55] alculquicondor commented on #91234
All the improvements to PodTopologySpread score are already in master.
We are also doubling the score by default #91258

Any chance you can give a try to this new setup? I did a lot of simulations to make sure the changes were good enough, but real world feedback is very useful.

[2020-05-19 17:56] alculquicondor commented on #91234
We are also updating the documentation to reflect the true nature of `ScheduleAnyway` parameter, as the current wording is confusing.

[2020-05-19 18:09] ahg-g commented on #91234
Thanks @llamerada-jp for the feedback. As Aldo and Wei said, we did identify that the original scoring function for topology spread didn't provide enough differentiation between nodes, this should improve in 1.19. Also, increasing the weight significantly should give you the semantics you are looking for.

I agree that the ```ScheduleAnyway``` semantics are confusing, I wish we can change the ```w

[2020-05-19 18:25] smirnov-mi commented on #60987
still see the issue on k8s 1.18.2 with   ceph 14.2.6   and two storage classes
rook-ceph.cephfs.csi.ceph.com
rook-ceph.rbd.csi.ceph.com

[2020-05-19 18:38] manojvs157 commented on #86281
Will this be patched to 1.17 as well ?

[2020-05-19 18:55] javidiaz commented on #91036
Unfortunately, I could not test this in Windows. I think Windows use the same kubelet runtime than Linux, so it relies on Docker/ContainerD to do the right thing. I have a colleague test docker behavior, it seems Docker just sets as hostname whatever you put in in the -h flag.

 This is the test we did:
`docker run -h test.company.com -it mcr.company.com/windows/servercore:ltsc2019
C:\>hostname
te

[2020-05-19 19:23] jingyih opened #91266 "Update to etcd 3.4.9 in Kubernetes 1.19"
Bump etcd version to 3.4.9 to pick up a few bug fixes, notably:
 - Fix inconsistency between WAL and server snapshot. (https://github.com/etcd-io/etcd/pull/11888)
 - Fix a data corruption bug when etcd auth is enabled. (https://github.com/etcd-io/etcd/pull/11652)

Todo:
- [x] Update etcd client version (#92075)
- [x] Update etcd server version in Makefile under `cluster/images/etcd` (#92078)
- [x]

[2020-05-19 19:23] jingyih commented on #91266
/remove-kind bug
/assign

[2020-05-19 19:23] jingyih commented on #91266
/cc @dims @wojtek-t @jpbetz @wenjiaswe

[2020-05-19 19:29] nodo commented on #91111
What is the status of https://github.com/kubernetes/kubernetes/pull/91071 ? Can I assume the structure of the test will be the same?

Also, to double check that I am on the right track, I have added a test to check a pod becoming schedulable after a taint is removed from a node. Does it make sense to you? If you have any particular tests in mind I am happy to work on those, otherwise, I can just p

[2020-05-19 19:46] alculquicondor commented on #91111
Yes, that is a good one. I didn't have enough time to go through the whole list. But one test per event should be enough.

An event would be "node created", "node updated", "other pod created", "other pod finished", etc.

[2020-05-19 19:47] alculquicondor commented on #91111
I just pinged the reviewer for #91071 so that we get it merged soon.

[2020-05-19 20:08] BenTheElder commented on #91247
@dims is basically also handling this while fixing https://github.com/kubernetes/kubernetes/issues/91242

[2020-05-19 20:09] ncdc commented on #90686
cc @detiber

[2020-05-19 20:22] fedebongio commented on #91159
/assign @jiahuif

[2020-05-19 20:23] fedebongio commented on #91250
/assign @apelisse

[2020-05-19 20:32] jayunit100 commented on #88008
Yup its a goland terminal  issue - i did this--------------
[code]

And that fixed it for me .

[2020-05-19 20:42] neolit123 commented on #90158
/priority critical-urgent
/milestone v1.19

as indicated by @redcricket in https://github.com/kubernetes/website/issues/21071
the kubelet, kubeadm, kubectl packages are indeed missing.

full reproduction steps:
[code]

[2020-05-19 20:45] apelisse commented on #91250
Thanks for reporting this bug, I'll look into it!

/wg api-expression

[2020-05-19 20:48] haircommander commented on #91216
Note: I haven't reproduced this in a local VM, but have reliably on aws.

when the test fails, actual failure is:
`INFO: Continuous echo ("udp://127.0.0.1:32038"): read udp 127.0.0.1:53491->127.0.0.1:32038: i/o timeout - 1 errors seen so far`
which happens ~16 times.

I can only guess that it's some difference in firewall?

Here are the  dumps of `iptables -S`
[failing-iptables.txt](https://github

[2020-05-19 20:58] jpbetz commented on #91266
Thanks for doing this @jingyih. Be sure to coordinate with https://github.com/kubernetes/kubernetes/pull/91171 (cc @dims)

[2020-05-19 20:59] aojea commented on #91216
can you attach the `iptables-save` to see the NAT rules too?

at first sight, the only difference are the libvirt rules

[2020-05-19 21:00] #91242 closed

[2020-05-19 21:05] apelisse opened #91269 "SSA Apply: Different or same command?"
I've had different form of this conversation with many different people and so far we've been going toward making server-side apply the same command, but there are pros and cons to both approach. I'd like to have a more formal discussion about this.

I'm going to try to describe the problem neutrally, but I think I'm biased toward having a separate command.

Why should we have a new `kubectl` comm

[2020-05-19 21:05] apelisse commented on #91269
cc @lavalamp @kwiesmueller @justinsb @seans3 @kubernetes/sig-cli-maintainers
/wg api-expression
/sig cli
/sig api-machinery

[2020-05-19 21:06] aojea commented on #91216
@haircommander

I think that this is the problem I found in one of the occurences
https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-federated-results/pr-logs/pull/cri-o_cri-o/3775/test_pull_request_crio_e2e_fedora/13145/artifacts/

[code]

Do you have `conntrack` installed ?

[2020-05-19 21:14] haircommander commented on #91216
holy cow, that was it :open_mouth:

[2020-05-19 21:14] haircommander commented on #91216
@aojea thank you very much!!

[2020-05-19 21:16] eMGabriel commented on #91220
/area kubelet

[2020-05-19 21:18] neolit123 commented on #90158
so this is actually a completely different issue here...
see https://github.com/kubernetes/website/issues/21040

the `–` is not a `--` so the flag is ignored and fails.

[code]

if you try
[code]
it works fine.

i'm going to send a fix for
https://github.com/kubernetes/website/issues/21040

/close
/milestone clear

[2020-05-19 21:18] #90158 closed

[2020-05-19 21:19] lavalamp commented on #91269
We will fix this soon, no? Before flipping over the command?

IMO this is a good thing, it wasn't doing what users thought it was previously.

The `--force` flag should be removed / renamed. (But there's no reason why it couldn't work for SSA, just delete and then do the apply operation.)

A list of flags would be helpful for evaulating how bad this is; this same sentence could apply to problems o

[2020-05-19 21:21] neolit123 commented on #90158
/remove-priority critical-urgent

[2020-05-19 21:33] aojea commented on #91236
hmm, I only see 1 failure out of 4 and seems that the connectivity didn't work at all 🤔

[code]

[2020-05-19 21:36] justinsb commented on #91269
I am personally wary of changing the behaviour of apply, even if we believe that the new behaviour is better.

If we're going to do so, a list of the different behaviours (including the good ones which justify the change) would be really helpful, I think.

For example, I believe there's a different behaviour when we remove a field from the source yaml and re-apply.

[2020-05-19 21:44] apelisse commented on #91269
@MikeSpreitzer

[2020-05-19 21:51] redcricket commented on #90158
I remove this line ...

exclude=kubelet kubeadm kubectl

... from the yum repo file.

On Tue, May 19, 2020 at 1:42 PM Lubomir I. Ivanov <notifications@github.com>
wrote:

[2020-05-19 21:53] #86176 closed

[2020-05-19 21:56] neolit123 commented on #90158
instead of removing the line just pass `--disableexcludes=kubernetes`
if you remove the line this means that when you upgrade with `yum` you will upgrade your k8s cluster components which is not desired in most cases.

[2020-05-19 21:57] justaugustus commented on #90772
Closing in favor of https://github.com/kubernetes/kubernetes/issues/91266.
/close

[2020-05-19 21:57] #90772 closed

[2020-05-19 21:57] justaugustus commented on #91266
/area dependency

[2020-05-19 22:22] #90250 closed

[2020-05-19 22:24] dims commented on #91266
+1 to get #91171 in first @jpbetz @jingyih

[2020-05-19 22:25] kbj22 opened #91270 "mmm"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network-rela

[2020-05-19 22:27] dims commented on #91270
/close

[2020-05-19 22:27] #91270 closed

[2020-05-19 22:30] kbj22 opened #91271 "Keep"
**What would you like to be added**:

**Why is this needed**:

[2020-05-19 22:45] BenTheElder commented on #91242
https://prow.k8s.io/?job=pull-kubernetes-e2e-kind lots of green bouncing back
thanks @dims!

[2020-05-19 23:32] #91249 closed

[2020-05-20 00:03] Divya063 commented on #91262
I would like to work on this issue.

[2020-05-20 01:01] spiffxp opened #91274 "[Failing Job] ci-kubernetes-integration-master (and all release branch versions)"
**Which jobs are failing**:
- ci-kubernetes-integration-master (and all release branch variants)

**Which test(s) are failing**:
All of the integration tests (the cmd tests are running fine)

**Since when has it been failing**:
- 2020-05-18 18:22:56 +0000 UTC was the first failure time for ci-kubernetes-integration-master

**Testgrid link**:
- https://testgrid.k8s.io/sig-release-master-blocking#in

[2020-05-20 01:01] spiffxp commented on #91274
/sig testing
/wg k8s-infra

[2020-05-20 01:04] davidstack commented on #89392
@matrixji  ,i change the haproxy cfg file .but after i ifdown the master(10.151.11.51),the ipvs rule on other master is
![image](https://user-images.githubusercontent.com/5036200/82392942-b19f1500-9a77-11ea-8bb1-0fc1d523918b.png)

the conntrack info is like this ;
![image](https://user-images.githubusercontent.com/5036200/82393068-00e54580-9a78-11ea-9e8f-cdcde170ff52.png)

[2020-05-20 01:08] saad-ali commented on #86843
Both `--experimental-check-node-capabilities-before-mount` and `--experimental-mounter-path` have been around for a long time and are currently used. With CSI now GA, there is a better alternative, however, removing these flags would break existing users.

CC @msau42 @jingxu97 @xing-yang @jsafrane

[2020-05-20 01:09] #91271 closed

[2020-05-20 01:12] liggitt commented on #91215
crash loop back off is triggered when the container restarts a given number of times within a certain time window. It is not 1:1 with restarts.

[2020-05-20 01:12] #91215 closed

[2020-05-20 01:43] zrss commented on #28272
/cc

[2020-05-20 01:49] llamerada-jp commented on #91234
Thank you very much @Huang-Wei @alculquicondor  @ahg-g @draveness .
I'm going to evaluate 1.19 and will feed back.

[2020-05-20 02:06] foobarbecue commented on #17028
/remove-lifecycle rotten
Got here because I was trying to figure out how to load a patch from a file... seems like the -p "(cat mypatch.yaml)" method is the best so far. I really think patch and apply should behave identically, though, with regards to supplying the json or yaml from a file or stdin.

[2020-05-20 02:06] foobarbecue commented on #17028
/reopen

[2020-05-20 02:12] chendave commented on #91204
/assign

[2020-05-20 02:25] 13567436138 commented on #91043
If externalName doesn't need ports，you should delete the tcp options

[2020-05-20 02:51] spiffxp commented on #91274
Back to green https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1262910503844319234

I'll let this soak overnight to confirm.

Longer term I'm either going to either:
- replace the COS nodes with ubuntu
- update the integration jobs to use nodeselector `cloud.google.com/gke-os-distribution=ubuntu`

[2020-05-20 03:04] Pingan2017 commented on #91235
ping @kubernetes/sig-apps-bugs

[2020-05-20 03:05] alejandrox1 commented on #91263
Step through the code and the helper functions that run the workloads definitely need some rewriting to make things more debug-gable but
[code]
seems to be the main thing happening here
xref: https://github.com/kubernetes/kubernetes/issues/79159

[2020-05-20 03:05] xiegang1 opened #91276 "pause rolling update of the deployment after user specified pod updated"
**What would you like to be added**:
When rolling update the deployment, we want pause the deployment after specified number of pods are updated, then we could check those pods. and then continue some other and check again. This requires deployment support the pause and resume according to the number specified by user.

**Why is this needed**:
current pause mechanism could not pause rolling update

[2020-05-20 03:07] xiegang1 commented on #91276
/sig apps

[2020-05-20 03:19] zhouya0 commented on #91244
Seems not a sig-cli problem, you can have such test:
[code]
It returned with code 200.

[2020-05-20 03:23] dungdm93 commented on #89900
same issue

[2020-05-20 03:56] justaugustus commented on #58012
See description for updated status.

[2020-05-20 04:03] ganesh-k13 commented on #48798
Thanks @ikramuallah , that worked for 1.18, thing is it didn't work directly cause one of the flannel pod could not be pulled as one of the quay sites was throwing 500. So my suggestion is that after applying the YAML, check if all the flannel pods have come up and debug that. Linking issue I raised in flannel for reference. coreos/flannel#1294

[2020-05-20 04:15] crfrase commented on #41881
I was able to setup this patch in my controller deployment. It worked well for most cases, but the --enable-ssl-passthrough cases weren't responding the the shortened hostname ingress. I don't suppose anyone knows what else would need to be patched to make 'nginx.ingress.kubernetes.io/ssl-passthrough: "true"' cases react to an ingress using a hostname without a domain?

[2020-05-20 04:27] ivanpang1996 commented on #40651
myId is working.
but zoo.cfg sometimes works and sometimes not.
I don't get it.

[2020-05-20 04:50] mkumatag commented on #91247
@BenTheElder I don't see any relevant changes in that PR which overrides the actual images in the manifest, when I tried on my test setup - it didn't override the CSI images in the manifest when I override the QuayK8sCSI registry. I will add more information to this issue

[2020-05-20 04:50] mkumatag commented on #91247
/assign

[2020-05-20 05:14] prankkelkar commented on #87197
@BenTheElder I just verified kubernetes v1.19.0-beta.0 release and looks like this issue is fixed.
Can we make similar changes in other branches (1.18, 1.17 etc) as well so as to fix the issue in earlier versions?

[2020-05-20 05:24] abuccts commented on #90885
try to set `Spec.Volumes.PersistentVolumeClaim.ReadOnly` in your deployment
[code]

[2020-05-20 05:31] chendave commented on #91204
Here is my thoughts,

step1:  calculate image level priority, for each image (should be same as exsting func `scaledImageScore`)
            `image.score = image.size * (imageState.NumNodes / total nodes)`

step2: cap the each image's score with thresholds, minThreshold and maxThreshold. (should be same as existing func `calculatePriority` except that it's per image instead of pod)
           `100

[2020-05-20 05:42] 7tabish opened #91279 "Error while creating 2 containers in a single pod."
I am trying to create a multi container pod but every time when i create pod the first container go in running state and second container always give me error. I am using simple nodejs docker image which return a message from get endpoint.
**Dockerfile**
FROM node:alpine
WORKDIR /usr/src/app
COPY package*.json ./
RUN npm install
COPY . .
EXPOSE 3000
CMD [ "node", "app.js" ]

**Pod.yaml**
apiVersio

[2020-05-20 05:53] mk811 commented on #40651
@ivanpang1996
You should not use `postStart` here because `postStart` is async.
k8s doesn't ensure `postStart` completed before your application starts running.
If you want to output the id to local as a file, I suggest you use `initContainers` as posted by @harishanchu .
https://github.com/kubernetes/kubernetes/issues/40651#issuecomment-421392345

[2020-05-20 06:14] johscheuer commented on #91043
I already opened a PR (see above).

[2020-05-20 06:23] irbekrm commented on #90833
Unfortunately I think it is going to take me too long to figure out cluster loader and kubemark. I will re-assign myself from this issue to give someone else a chance.

[2020-05-20 06:32] saltFisher commented on #90920
does anybody has any propose for this issue ?

[2020-05-20 06:40] #90581 closed

[2020-05-20 06:40] #88174 closed

[2020-05-20 07:48] Baykonur commented on #90814
Dear @divyenpatel , we have started to scrape `cloudprovider_vsphere*` metrics from the controller, can you please point me to a possible grafana dahsboard configuration that you might be using for this?

[2020-05-20 08:13] mm4tt commented on #90833
Thanks, @irbekrm. And no worries, I'm aware that the issue is complicated. I need to add more details here, but I'm quite overloaded recently and I'm not sure when I'll have time to do it.

@wojtek-t, thanks for providing these examples. It's clear to me that the temporary solution we have in place is not ideal, but it's better than nothing. I hope that we'll implement the full solution eventually

[2020-05-20 08:19] cofyc opened #91281 "scheduler/extender: extend the current `ExtenderFilterResult` struct to include node status"
Updated on 13/06/2020:

- ~~[ ] update extender design proposal~~ (not possible, see https://github.com/kubernetes/community/pull/4816)
- [x] migrate it to k/enhancements https://github.com/kubernetes/enhancements/pull/1840
- [x] submit a API change PR https://github.com/kubernetes/enhancements/pull/1850
- [ ] implement it https://github.com/kubernetes/kubernetes/pull/92866

**What would you like

[2020-05-20 08:20] cofyc commented on #91281
/sig scheduling
What do you think?

[2020-05-20 08:35] loganhz commented on #79359
Verified in K8s 1.18. It only works in some particular Windows versions. I guess it is a Windows (OS) issue.

`Windows Server 2019 Datacenter Version 1809 (OS Build 17763.1039)` works.
` Windows Server 2019 Datacenter Version 1809 (OS Build 17763.1217)` doesn't work.

If you are using AWS, please use `Windows_Server-2019-English-Full-ContainersLatest-2020.02.12 (ami-0c898f8cf1a4ae1f5)` instead of

[2020-05-20 08:40] cofyc commented on #91281
cc @resouer @Huang-Wei

[2020-05-20 08:51] gavinfish commented on #90136
@alculquicondor sure, I will follow up.

/assign

[2020-05-20 08:57] humblec commented on #70505
/remove-lifecycle rotten

[2020-05-20 08:57] zhiweiyin318 commented on #70674
I meet the issue too.
I define 2 APIs, one is defined using aggregated API, other is defined using CRD.
I can update the aggregated one without `resourceVersion`, but meet error when I update the CR without `resourceVersion`.

`... is invalid: metadata.resourceVersion: Invalid value: 0x0: must be specified for an update`

[2020-05-20 09:55] wangkai1994 commented on #90042
SNAT will assign the same port when connection network quintuple(s ip、d ip、policy、s port、d port) is same

[2020-05-20 10:31] pjbgf commented on #58211
/remove-lifecycle stale

[2020-05-20 10:55] jaffcheng opened #91284 "Allow pod cidr to be confugured by kubelet config option"
**What would you like to be added**:
A new kubelet config option that allows to specify `podCIDR`/`podCIDRs`. These node specs will be set automatically when the node is created.
**Why is this needed**:
In some cases (for example, if BGP agents are running on the nodes, pod CIDR needs to be configured statically in BGP configurations), specifying pre-planned pod CIDR per node could be more preferr

[2020-05-20 10:57] jaffcheng commented on #91284
/sig node network

[2020-05-20 11:53] MrAmbiG commented on #43924
2020 and still the same issue.
private harbor registry.
docker pull works with no problem.
ls /etc/docker/certs.d/registry.myharbor.com/ shows up the certificate.
kubernetes fails to pull images with imagepullbackoff error.
It is 3 years and kubernetes still has this issue. Very disappointing.

[2020-05-20 12:06] liggitt commented on #91279
Containers in a pod share a network address. If both containers are binding to the same address/port, only one of them will succeed. You need to provide a way to adjust the port the container binds to, then configure unique ports in the container args or env in the pod spec.

[2020-05-20 12:06] #91279 closed

[2020-05-20 12:07] pjbgf opened #91286 "Graduate Seccomp to GA"
Graduate seccomp to GA, as defined on the respective [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/20190717-seccomp-ga.md). This is an umbrella issue to track all outstanding work.

### Core Items
- [x] API Server changes https://github.com/kubernetes/kubernetes/pull/91408 (MERGED)
- [x] Kubelet changes https://github.com/kubernetes/kubernetes/pull/91381 (MERGED)
- [x]

[2020-05-20 12:07] #82482 closed

[2020-05-20 12:07] #86166 closed

[2020-05-20 12:09] pjbgf commented on #91286
/cc @tallclair @palnabarun @hasheddan @saschagrunert

[2020-05-20 12:10] gautierdelorme commented on #90128
@supermqB are you working on a fix or should someone else take a stab at it?

[2020-05-20 12:10] pjbgf commented on #58211
/assign @hasheddan

[2020-05-20 12:11] pohly opened #91287 "endpointslice creation and garbage collection are racy"
**What happened**:

In the PMEM-CSI CI, we rapidly deploy and remove a custom resources which then owns all objects created for that resource. Deletion of those objects is handled through ownership references, i.e. deleting the CR is expected to cascade to all objects. This worked fine up to Kubernetes 1.17.

When starting to test with 1.18.2, we pretty reliably get into a state where the CR and t

[2020-05-20 12:23] liuxu623 opened #91288 "LocalStorageCapacityIsolationFSQuotaMonitoring xfs_quota: invalid option -- 'f'"
[code]
## CentOS Linux release 7.6.1810
[code]
[code]
[code]
## Ubuntu 18.04
[code]
[code]
[code]
so we should remove '-f' to compatible with low version xfs_quota.

[2020-05-20 12:24] liuxu623 commented on #91288
/sig storage

[2020-05-20 12:52] donnybr2019 opened #91291 "Kubeadm init fails complaining re kubelet not running, unhealthy or misconfigured."
**What happened**:
Kubeadm init fails complaining re kubelet not running,  unhealthy or misconfigured.
Am running it with ignore preflight errors =all
**What you expected to happen**:
Kubeadm init should finish successfully.

**How to reproduce it (as minimally and precisely as possible)**:
Build RHEL 7.8 VM, setup up repos, network and install required s/w following Kubernetes.io docs.
Run kubead

[2020-05-20 13:21] hkamel opened #91292 "[Flaky Test] node-kubelet-master (ci-kubernetes-node-kubelet)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

Expected
    <string>: Summary
to match fields: {
[.Pods:
	missing expected element summary-test-2812::stats-busybox-0, .Pods:
	missing expected element summary-test-2812::stats-busybox-1]
}
_output/local/go/src/k8s.io/kubernetes/test/e2e_node/summary_test.

[2020-05-20 13:21] hkamel commented on #91292
/sig testing

[2020-05-20 13:21] monotek commented on #79830
What about:

[code]

[2020-05-20 13:30] liggitt commented on #91287
cc @robscott for endpointslice

[2020-05-20 13:33] Farhanfdema commented on #43783
How can you do the second one :
Expose it as a PodSecurityPolicy securityContext which gets applied to all pods at admission.???

There seems no kind of solution to this

[2020-05-20 13:42] cofyc commented on #89701
after this is done, do you think it's reasonable to call `Unreserve` if `Reserve` fails?

[2020-05-20 13:53] ahg-g commented on #89701
The scheduler calls `Unreserve` when `Reserve` fails already.

The impact this change will have is that you will not need to list the plugin as `Unreserve` plugin in component config, `Unreserve` will just be another mandatory function in the `Reserve` plugin, not a standalone plugin.

[2020-05-20 13:58] andrewsykim commented on #90042
I thought the kernel will assign a new SNAT port if there's a collision. Is that not the case here?

[2020-05-20 14:06] hasheddan commented on #91292
/sig node

[2020-05-20 14:10] krancour commented on #78479
/remove-lifecycle stale

[2020-05-20 14:11] ahg-g commented on #91204
Thanks chendave@, can you update the the examples with the score that we would have gotten with the current function?

[2020-05-20 14:18] alculquicondor commented on #91204
For reference, see this analysis for a different plugin #90475

[2020-05-20 14:23] alculquicondor commented on #91204
Also it's worth to see the difference with just capping per pod, instead of per container.

[2020-05-20 14:26] cji commented on #81145
@pjbgf thanks for the analysis! If you'd like to create a new one for API server, I'd be happy to close this and link to that here and in the master issue tracking the audit findings.

[2020-05-20 14:28] ahg-g commented on #91204
can you also describe the image sizes you used? the example in the original post assumed three images, while your analysis is assuming four.

[2020-05-20 14:48] nevola commented on #62720
/reopen

[2020-05-20 14:50] nevola commented on #62720
Updates to this project can be found here:

[https://github.com/zevenet/kube-nftlb](https://github.com/zevenet/kube-nftlb)

[2020-05-20 14:55] saltFisher opened #91297 "how to delete/remove api-resources which was created after created crd manually ?"
i deploied a ceph cluster by using rook. After i destroyed ceph cluster and delete related CRD which created by rook, i found, i still can see it by using "kubectl api-resources"
how can i remove or delete it ? how can i don't see it when i execute "kubectl api-resources" ?

[2020-05-20 14:57] saltFisher commented on #91297
/sig api-machinery

[2020-05-20 15:05] MrAmbiG commented on #43924
***Solved***
1. Make sure you are able to do a `docker pull IMAGENAME` from the machine where you are running the deployments (yaml files, helm packages etc.,)
2. On all the kubernetes nodes make sure the following is present `/etc/docker/certs.d/my-private-registry.com/my-private-registry.com.crt`

[2020-05-20 15:09] asauber commented on #60535
I tested out Pod Presets, and found two issues with them for my use case.

1. They're namespaced, which doesn't give me cluster-wide env vars, which is a requirement in my case.
2. They don't appear to work with init containers, even though that was supposedly fixed a while back.

The next thing that I will try is a [Mutating Admission Webhook](https://kubernetes.io/blog/2019/03/21/a-guide-to-kube

[2020-05-20 15:15] matrixji commented on #89392
The conntrack entry for idle tcp established connection will keeps log time (by default 432000s which controlled by nf_conntrack_tcp_timeout_established), while for SYN_SENT, the default is 120s. I guess is you check conntrack table several mins late, the SYN_SENT entry should not exist.

For my understanding, the ipvs forwarding rule's weight for node 10.151.11.51:6443 is already set to 0. That m

[2020-05-20 15:15] tamalsaha opened #91299 "PVs created for StatefulSets don’t obey node affinity rules"
**What happened**:

We have created a multizone GKE cluster with 9 nodes (3 per zone). Zones are: us-east1-b, us-east1-c, us-east1-d

Now, we have created a [StatefulSet](https://gist.github.com/lubars/2abb6754b3916665a66fb6fc1644f697#file-iris-data-0-yaml) with the following affinity rules:

[code]

and volumes

[code]

This has created a [PVC](https://gist.github.com/lubars/2abb6754b3916665a66fb

[2020-05-20 15:15] hasheddan commented on #91292
This was merged around the same time failures started: https://github.com/kubernetes/kubernetes/pull/89667

@kmala any idea of if this could be affecting the test here?

[2020-05-20 15:16] tamalsaha commented on #91299
/sig scheduling

[2020-05-20 15:19] tamalsaha commented on #91299
/cc: @lubars

[2020-05-20 15:29] hasheddan commented on #91292
@MHBauer made the astute observation that there are two new `[k8s.io] Summary API [NodeConformance] when querying /stats/summary should report resource usage through the stats api` tests present here. Looks like related to changes in `test-infra`

[2020-05-20 15:36] hasheddan commented on #91292
/remove-sig testing

[2020-05-20 15:39] tangcong commented on #91266
@jingyih v3.4.8 introduces a [crash bug](https://github.com/etcd-io/etcd/pull/11924), we have to release a new version(v3.4.9) to fix it.

[2020-05-20 15:53] deads2k commented on #91131
Based on https://github.com/kubernetes/kubernetes/blob/v1.19.0-beta.0/staging/src/k8s.io/apiserver/pkg/server/options/server_run_options.go#L59 not setting the field, I think it defaults that way, so that's good.

We will leave the option and filter so that when golang updates its client, we will have a simple way to turn it on and execute it.

[2020-05-20 16:36] adrian-gierakowski commented on #74819
/reopen

[2020-05-20 16:39] adrian-gierakowski commented on #74819
@krmayankk it does make sense to properly support strategic merge patch operation on the volumeClaimTemplates in order to allow using patches to generate configs for different enviroments using kustomiztion.yaml

[2020-05-20 16:39] adrian-gierakowski commented on #74819
can we please reopen this?

[2020-05-20 16:46] Huang-Wei commented on #91281
@cofyc extenders.Filter() can set the status of failed node as `UnschedulableAndUnresolvable`, then we should be fix the logic:

https://github.com/kubernetes/kubernetes/blob/b339ed0e75c5815d49c5c4d118d4b9858b4babc4/pkg/scheduler/core/generic_scheduler.go#L509-L515

to respect the `UnschedulableAndUnresolvable` status returned by extenders.Filter().

[2020-05-20 16:53] liggitt commented on #90999
without digging too deeply, if we set a grace period, I'd expect it to match the pod.spec.terminationGracePeriodSeconds on the pod

I don't know whether the path the kubelet uses to deal with static pod deletion honors options set in the pod coming from the API server (for static pods, the file on disk is supposed to be authoritative).

If we start adding an API deletion grace period, what happens

[2020-05-20 17:03] tedyu commented on #90999
For orphaned mirror pod, we have the following code in basicManager#getOrphanedMirrorPodNames :
[code]
At this point, there is no reference to the Pod.

I will think about implication for readding pod manifest.

[2020-05-20 17:05] robscott commented on #91287
@pohly Thanks for the detailed bug report! Will work on getting a fix in soon.
/assign

[2020-05-20 17:05] robscott commented on #91287
/remove-triage unresolved

[2020-05-20 17:16] jingyih commented on #91266
Thanks! I just updated this PR to 3.4.9.

[2020-05-20 17:21] neolit123 commented on #91291
try running without:

and resolve the warnings / errors that kubeadm gives you.

flannel is no longer recommended by the kubeadm maintainers. try calico or weavenet.

i haven't seen this error in recent reports.
make sure you can pull manually using e.g. `docker pull k8s.gcr.io/pause:3.2`

please use the support channels for further help:
https://github.com/kubernetes/kubernetes/blob/master/SUPPOR

[2020-05-20 17:22] #91291 closed

[2020-05-20 17:28] MHBauer commented on #91292
last build before failure was https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/1262973166725107714
first build with failure was https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/1262988516996943872

went from one node on a ubuntu-gke-1804 image
to 3 nodes, ubuntu-gke-1804, cos-73, cos-77

329 tests -> 971 tests

doesn't seem to consisten

[2020-05-20 17:38] MHBauer commented on #91292
So it looks like it's supposed to be running on 3 nodes

job config
https://github.com/kubernetes/test-infra/blob/8547d0b27801b1d6032721faa3d1e3a4bfe723c6/config/jobs/kubernetes/sig-node/node-kubelet.yaml#L27
to
https://github.com/kubernetes/test-infra/blame/master/jobs/e2e_node/image-config.yaml
with the last change, yes, being the swap out of images, https://github.com/kubernetes/test-infra/comm

[2020-05-20 18:05] khenidak commented on #90928
The problem is two parts really. when you want to surface something as a service it needs to be accessible to the caller. podIPs are routable inside a cluster, but not an external IP such as camera IP (only routable from edge node). So you do need to run something (pod) with IP routable from caller. the pod can be something as simple as it writes iptables/ipvs rules to forward traffic to camera.

[2020-05-20 18:09] bboreham commented on #35183
How about using a finalizer?

In the case of a Pod, it would need permission to write to its own object, which is unorthodox.

In the case of a DaemonSet the pods could all add themselves as finalizers to the DaemonSet, but that gets out of hand at scale. Add another pod to coordinate shutdown (an operator, if you like), it feels like it could work.

[2020-05-20 18:25] ankeesler commented on #91217
PR here: https://github.com/kubernetes/kubernetes/pull/91305

[2020-05-20 18:43] msau42 commented on #86281
Duplicating this issue to #84169
/close

[2020-05-20 18:43] #86281 closed

[2020-05-20 19:03] spiffxp commented on #91292
https://github.com/kubernetes/test-infra/pull/17617 is the PR that changed node image config and yes it landed last night right before node-e2e started failing

Yeah that concerns me too, and unfortunately I think you're right.  I'm trying to determine if this means we've had no COS coverage for a while.

I can see my PR to roll ubuntu forward (https://github.com/kubernetes/test-infra/pull/17255)

[2020-05-20 19:16] jeff-hillman opened #91306 "Multiple LoadBalancer in the same cluster compete with each other"
/sig network

**What happened**:
A use case has arisen where multiple LoadBalancers can be present within the same cluster.

specifically, in the case where a hybrid cluster with both OpenStack workers and Bare-Metal workers.  In this scenario, Octavia is used as the LoadBalancer within K8s with the openstack-controller-manager CNI.  Also, MetalLB is used.

The Idea is that one could migrate a wor

[2020-05-20 19:18] spiffxp commented on #91292
OK, this is the first run after the long window of failures we experienced in April: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/1250899833967874050
[code]

This proceeds for a few runs

The last of these is at `2020-04-17 00:35:32 +0000 UTC`: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/1250945887434182657

https://github.com/

[2020-05-20 19:22] damemi commented on #91204
agree with @ahg-g and @alculquicondor, the explanation in https://github.com/kubernetes/kubernetes/issues/91204#issuecomment-631246361 looks good but just to be sure it would be nice to see the math worked out with image sizes, and compared to the current formula

[2020-05-20 19:32] tedyu commented on #90999
[mirror-pod-del-grace.txt](https://github.com/kubernetes/kubernetes/files/4658923/mirror-pod-del-grace.txt)

[2020-05-20 19:47] MHBauer commented on #91292
Seems to only fail in the cos-73 image, so rotating the images forward is the solution.

[2020-05-20 19:48] MHBauer commented on #91292
It'd be good to get a run with FOCUS="should report resource usage through the stats api" to get rid of all the logs that aren't relevant.

[2020-05-20 19:59] Huang-Wei commented on #91292
It's still failing https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/90415/pull-kubernetes-node-e2e/1263189845191168000/

[2020-05-20 20:00] vpickard commented on #91292
I did a run on my gcp, and I see these additional details....

   Timed out after 60.002s.
    Expected
        <string>: Summary
    to match fields: {
    .Node.Runtime:
        Expected
            <string>: RuntimeStats
        to match fields: {
        .ImageFs:
                Expected
                    <string>: FsStats
                to match fields: {
                .AvailableBytes:

[2020-05-20 20:01] karan commented on #87468
Another flake in https://github.com/kubernetes/kubernetes/pull/91304

[2020-05-20 20:14] spiffxp commented on #91292
I just realized we're cause the node e2e presubmit to fail as well, which is blocking all merges https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-node-e2e

I've opened https://github.com/kubernetes/test-infra/pull/17660 to revert https://github.com/kubernetes/test-infra/pull/17617

This gets us back to green, but also to the place where only ubuntu images are running.

[2020-05-20 20:20] MHBauer commented on #91292
As an FYI, here is a link to the test code:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/summary_test.go#L337

[2020-05-20 20:40] #87429 closed

[2020-05-20 20:56] damemi commented on #87526
Bumping this, do we want to go forward with deprecating AlgorithmSource? Policy config is gone in v1alpha2 (and v1alpha1 is gone now too, right?) So the only thing AlgorithmSource still configures is the provider (which is only default or autoscaler https://github.com/kubernetes/kubernetes/blob/eb3405877799b770c72848c11aef967bda887eac/pkg/scheduler/algorithmprovider/registry.go#L60-L62)

So we cou

[2020-05-20 21:05] danielgblanco commented on #90461
Hi @djjayeeta thanks for linking that! I assume it'll be fixed on this PR https://github.com/kubernetes/kubernetes/pull/89465 as I'm using an object metric.

[2020-05-20 21:27] dims commented on #91292
Just caught up here. Nice work you all :)

[2020-05-20 21:27] MHBauer commented on #91292
root cause-ish seems to be that the config https://github.com/kubernetes/test-infra/blob/master/jobs/e2e_node/image-config.yaml uses `image_regex:` which silently skips here.

This was as far back as I could find, and I'm not sure why it was used.
https://github.com/kubernetes/test-infra/pull/4338/files#diff-cd0cab798784c2641e09aaf30a024a93R4-R22

When https://github.com/kubernetes/test-infra/pull

[2020-05-20 21:29] MHBauer commented on #91292
And comparing uses of `image:` to `image_regex:`
[code]
This seems to be a footgun.

[2020-05-20 21:37] alculquicondor commented on #87526
I assume you meant removing it from `pkg/scheduler/apis/config/types.go`.

I'm fine with removing it as long as we can still support the flags in a reasonable way. But that code would go away once we graduate component config to GA in 2 releases. So I'm not sure if it's worth the refactoring effort.

[2020-05-20 21:38] jeff-hillman commented on #91306
/sig network

[2020-05-20 21:53] spiffxp commented on #91292
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-node-e2e presubmits are up and running again, I'm fine with whatever fix-forward PR folks would like to move with

[2020-05-20 22:11] karan commented on #89481
Seems like the TODO is just stale?

https://github.com/kubernetes/kubernetes/blob/eb3405877799b770c72848c11aef967bda887eac/pkg/kubelet/logs/container_log_manager.go#L173

[2020-05-20 22:56] Bluesboy commented on #45300
/remove-lifecycle rotten

[2020-05-20 23:14] ddobrijalowski commented on #81412
We run a lot of small jobs as part of Argo workflows. When they are done workflow and pods are removed.

Describe node and docker ps are showing 12 pods. kubelet_running_pod_count is showing 562.
`Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.1", GitCommit:"7879fc12a63337efff607952a323df90cdc7a335", GitTreeState:"clean", BuildDate:"2020-04-08T17:30:47Z", GoVersion:"go1.13.9

[2020-05-20 23:44] #88905 closed

[2020-05-20 23:44] robscott commented on #91287
@pohly Can you describe the general process to reproduce this bug? Would it involve hundreds of EndpointSlices for a Service? I've tried to recreate this in a [new e2e test with this PR](https://github.com/kubernetes/kubernetes/pull/91311/files#diff-e5f8674c1a7d255ce3bca3d2c2f7a703), but unfortunately I haven't been able to get anything to break. Any ideas for what I could try?

[2020-05-20 23:45] #90982 closed

[2020-05-20 23:46] tallclair commented on #90999
I'm a bit confused by this. The issue as described sounds like you want to move the trigger for the mirrorpod api deletion from the pod manifest being removed to the pod actually terminating. What does the grace period have to do with it?

[2020-05-20 23:49] Joelbear5 commented on #59876
Breaking changes are not cool! But thanks for this!

[2020-05-21 00:04] tedyu commented on #90999
From my observation, pod manifest being removed from /etc/kubernetes/manifests and the destroy of containers (indicated by 'crictl ps') are very close.

So the grace period (30s) should be applied for destroying container and for removal from apiserver.
[code]

[2020-05-21 00:16] tallclair commented on #75563
/remove-lifecycle stale
/lifecycle frozen

[2020-05-21 00:17] george-angel commented on #63022
/remove-lifecycle stale

[2020-05-21 00:20] tariq1890 commented on #51641
/reopen
/remove-lifecycle stale

[2020-05-21 00:21] mattjmcnaughton opened #91313 "Add unit test coverage for `pkg/kubelet/types/pod_update.go`"
**What would you like to be added**:
Currently, in `pkg/kubelet/types/pod_update.go` the following public methods do not have unit test coverage:
- `IsMirrorPod`
- `IsStaticPod`
- `IsCriticalPod`
- `Preemptable`

These methods are great candidates for adding unit test coverage.

**Why is this needed**:
Adding unit test coverage will both ensure they are working correctly and (more importantly), en

[2020-05-21 00:22] mattjmcnaughton commented on #91313
/sig node

[2020-05-21 00:22] tedyu commented on #89481
The code you referenced is periodic.

This issue is about applying RotateLogs function when there is disk pressure.

[2020-05-21 00:22] mattjmcnaughton commented on #91313
/label "good first issue"

[2020-05-21 00:23] mattjmcnaughton commented on #91313
/good-first-issue

[2020-05-21 00:30] knabben commented on #91313
Hi, @mattjmcnaughton I would like to work in one of these.

[2020-05-21 00:33] mattjmcnaughton commented on #91313
/assign @knabben

Awesome!

[2020-05-21 01:01] alejandrox1 commented on #91263
Coming back to this...
Each one of the workloads requires a good chunk of resources

https://github.com/kubernetes/kubernetes/blob/6c9aab2b098d92adfeba76a4f542cac900393dd1/test/e2e_node/perf/workloads/tf_wide_deep.go#L46-L54

https://github.com/kubernetes/kubernetes/blob/ada13bd33016c0b72430d00f436d4345b04858bf/test/e2e_node/perf/workloads/npb_ep.go#L46-L54

and

https://github.com/kubernetes/kube

[2020-05-21 01:18] spiffxp opened #91316 "Possible performance regression landed within the last 24 hours"
**What happened**:
It's most visible in the test `[k8s.io] [sig-node] Pods Extended [k8s.io] Pod Container Status should never report success for a pending container`

<img width="323" alt="Screen Shot 2020-05-20 at 6 09 10 PM" src="https://user-images.githubusercontent.com/49258/82512466-0f0d8300-9ac5-11ea-8396-94ce8cf25a61.png">

It shows up in kind, kube-up.sh and kops jobs
- https://testgrid.k

[2020-05-21 01:21] cofyc commented on #91281
yes, when `extenders.Filter()` can return the status of the node, we must update this logic to respect the status returned by the extender.

[2020-05-21 01:25] spiffxp commented on #91274
/close
I redeployed the greenhouse nodes as ubuntu

[2020-05-21 01:25] #91274 closed

[2020-05-21 01:29] Riaankl commented on #90937
/close
Merged successfully

[2020-05-21 01:29] #90937 closed

[2020-05-21 01:33] andrewsykim commented on #80250
/close

Fixed in https://github.com/kubernetes/kubernetes/pull/81185 and https://github.com/kubernetes/kubernetes/pull/90769

[2020-05-21 01:34] #80250 closed

[2020-05-21 01:35] wangkai1994 commented on #90042
I read the kernel SNAT assign port code , i think kernel will not assign a new SNAT port if there's a collision when connection  network quintuple(s ip、d ip、policy、s port、d port) is same.That may caused the IPVS bug.But i hava no idea to fix it.

[2020-05-21 01:46] Jefftree commented on #85425
/reopen

[2020-05-21 01:46] Jefftree commented on #85425
/remove-lifecycle rotten

[2020-05-21 01:53] BenTheElder commented on #91316
/cc

[2020-05-21 01:57] kmala commented on #91316
#89667 will increase the time for deletion of pod and it should be expected because currently pod is deleted from apiserver before removing the sandbox container but after this fix pod will be deleted from the apiserver only after deleting the sandbox container.

[2020-05-21 01:59] yinkun111 commented on #90961
yes, using cloud-provider-openstack .  openstack keystone endpoint and cinder service both have ipv4 and ipv6 endpint

keystone:
openstack endpoint list | grep keystone
| 0a389503c9fe4cad93e2c518f3a8b122 | RegionOne | keystone       | identity       | True    | public    | https://[2001:1b70:6288:4016::8]:5000/v3                    |
| 58f0f50d80ea4d4282302247acb64a19 | RegionOne | keystone

[2020-05-21 02:35] cofyc opened #91318 "VolumeBinding: share pod volume binding cache via framework.CycleState"
**What would you like to be added**:
part of #90962
Share pod volume binding cache via `framework.CycleState`.

**Why is this needed**:

See https://github.com/kubernetes/kubernetes/issues/56180#issuecomment-457046118 and discussion [here](https://github.com/kubernetes/kubernetes/pull/83726#discussion_r386727174).

[2020-05-21 02:37] cofyc commented on #91318
/kind cleanup
/sig scheduling
/sig storage

[2020-05-21 02:38] cofyc commented on #91318
/remove-kind feature

[2020-05-21 02:38] cofyc commented on #91318
/assign

[2020-05-21 03:22] #86528 closed

[2020-05-21 03:24] ivorscott commented on #59078
/remove-lifecycle stale

[2020-05-21 03:40] tedyu commented on #90999
Reading Kubelet#syncLoopIteration, it seems kubetypes.REMOVE is not concerned with graceful deletion while kubetypes.DELETE is.

I noted the following from kubelet.log
[code]

[2020-05-21 04:11] BenTheElder commented on #73099
note that it's still racy, but it's hopefully somewhat mitigated.

[2020-05-21 04:57] lurenjia528 opened #91320 "pod priority and preemp fail when use ResourceQuota"
[code]

[code]
[code]

[code]

[code]

[code]

[code]
[code]

[code]
[code]

[2020-05-21 05:29] 376466932 commented on #76146
I have the same problem. Have you solved it？

[2020-05-21 06:02] answer1991 commented on #91131
Sure.

I am trying to fix the golang http client issue and will update progress at [golang issue](https://github.com/golang/go/issues/32441). After golang http client issue fixed, I will add more concurrent test cases to see if there are any other bugs may occur by GOAWAY feature.

BTW, we still enable GOAWAY feature in our production cluster, because there is no any evidence told us this error wi

[2020-05-21 06:57] llamerada-jp commented on #91234
Hi, @Huang-Wei @alculquicondor @ahg-g

We examined under conditions close to the real environment, but topology spread constraints did not work.
I'm sure it's possible to make adjustments using weight, but I'd like to propose improving it to be as satisfy as possible like [the PoC patch](https://github.com/ymmt2005/kubernetes/commit/b45c2bf5779490225a7aa9a7164703ccb5a24641), or propose adding a ne

[2020-05-21 07:23] llamerada-jp commented on #91234
I can submit an elaborated patch if you agree the direction.

[2020-05-21 07:34] cofyc commented on #91281
@kubernetes/sig-scheduling-feature-requests

[2020-05-21 08:04] llamerada-jp commented on #91234
By the way, we are trying additional examination to change scoring weight on Kubernetes 1.19.
I applied the following settings for kube-scheduler option, but an error occurred. I would like to ask you how to set it up correctly.

[code]

kube-scheduler terminated with the following log.

[code]

[2020-05-21 08:09] Huang-Wei commented on #91281
One thing I’m thinking about is: if we can keep current failedNodeMap struct, say still use string as the value, but set an implicit contract with extenders, and then parse the returned error string to a particular type.

If we introduce Status as the the value, extender has to depends on k/k, that sort of violates the intention to move out extender API.

[2020-05-21 08:25] chendave commented on #91204
Sorry for the confusion, let me switch back to the original three images, update the image size a little bit to make it easier to understand, and also fit to the case of `minThreshold` and `maxThreshold`.

Here is the pod,
![image](https://user-images.githubusercontent.com/6007417/82537616-e3e66a80-9b7c-11ea-8cfd-7a06f32318ea.png)

and two nodes in the cluster,
![image](https://user-images.githubu

[2020-05-21 08:36] olakunleoladimeji opened #91323 "Intermittent restart of Kubelet on worker node"
Kubelet on a worker node keeps restarting due to various segfaults. The trace points to an issue between prometheus and cadvisor. Could someone more knowledgeable have a look?

### Cluster information:

Kubernetes version: 1.15.12
Cloud being used: Bare-metal
Installation method: kubeadm
Host OS: Ubuntu 18.04
CNI and version: Flannel v0.11.0
CRI and version: Docker 18.09
Prometheus Version: 2.10.0

[2020-05-21 08:41] olakunleoladimeji commented on #91323
/sig node

[2020-05-21 08:45] cofyc commented on #91281
Add an implicit contract with extenders may change the meaning of the failed msg. How about adding a new field?

The new field can be a map to supersede `FailedNodes`. I agree we should not depend on internal status constants in the framework, we can use string as the status value, e.g. `Unschedulable`, `UnschedulableAndUnresolvable`.

Or the new field can be a map which includes `UnschedulableAnd

[2020-05-21 09:14] k2huang opened #91325 "speed up pre-bound PV binding"
**What would you like to be added**:
simplify and optimize pre-bound PV binding process

**Why is this needed**:
In K8s cluster, normally there are two kinds of pre-bound PVs: dynamic provisioning PV created by [csi-provisioner](https://github.com/kubernetes-csi/external-provisioner) and
VolumeBindingWaitForFirstConsumer BindingMode PV pre-bound by kube-scheduler, and they already have the certain

[2020-05-21 09:14] k2huang commented on #91325
/sig storage

[2020-05-21 09:27] j3j5 commented on #40358
Are there any plans to fix this? I see the issue was automatically closed (again) but it's been open for +3 years. Does anybody know any workaround? Thanks.

[2020-05-21 10:14] sshankaregowda opened #91326 "kubernetes prestop hook is allowed to run only commands"
I have a deployment template as below. but the prestop hook is never been executed at all. the idea here is set the zookeeper node offline before the pod is terminated.

I am running kubectl rollout to restart the pods. and old pod is when it terminates the prestop is not run. could someone please check whats wrong ?

I looked at the kubectl describe pod but it just shows (Reason: Killing) Message

[2020-05-21 10:28] adampl commented on #40358
@j3j5 I think the solution is [Pod Topology Spread Constraints](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/) and/or [Horizontal Pod Autoscaler](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/).

[2020-05-21 10:58] j3j5 commented on #40358
Thanks @adampl, I think the Topology Spread Constraint is what I was looking for. I guess I'll have to wait until an upgrade for 1.18 is available on my clusters.

[2020-05-21 11:41] jsafrane commented on #88229
Sounds better than it's now. My only issue may be performance - PV controller has to check if a pod exists, i.e. list all pods in the same namespace as PVC being reconciled. I am probably too worried.

[2020-05-21 12:18] jlohiya commented on #90272
I do see similar issue on v1.17

kubelet_container_log_filesystem_used_bytes metrics shows more bytes than its actually on disk. This metric never goes down. We have rotating logs capped at 50MB and still we see this metrics goes to 100-200MB.

Can someone help me how is that possible?

EX:
I have mount path /var/local/jlohiya
where my container created files of 50MB
then it got consumed/deleted
t

[2020-05-21 12:22] jlohiya commented on #90272
@hykych Can you share the code piece where you noticed its not for just logs?

[2020-05-21 12:35] yue9944882 commented on #91063
closing as this is fixed

[2020-05-21 12:35] #91063 closed

[2020-05-21 12:38] tedyu commented on #91326
Which release of k8s are you using ?

Can you attach kubelet.log around the time Pod was restarted ?

[2020-05-21 12:52] sshankaregowda commented on #91326
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTreeState:"clean", BuildDate:"2019-08-19T11:13:54Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.4", GitCommit:"8d8aa39598534325ad77120c120a22b3a990b5ea", GitTreeState:"clean", Build

[2020-05-21 13:35] alculquicondor commented on #91316
/remove-sig scheduling

#91258 doesn't affect scheduling running time at all.

[2020-05-21 13:43] BenTheElder commented on #91323
Nil deref in cAdvisor?
cc @dashpole

[2020-05-21 13:54] dashpole commented on #91316
Yeah, #89667 is almost definitely the culprit.  Last time we changed that code path, it also caused a regression.  The degradation in performance is expected, but a 5x slowdown is definitely larger than it should be.

[2020-05-21 14:32] liggitt commented on #91316
do we know if that's because the status used by the `syncPod -> canBeDeleted` path is stale, or if removing sandboxes is actually that slow?

[2020-05-21 14:44] alculquicondor commented on #91234
As we already mentioned, the interpretation of `ScheduleAnyway` is wrong and this was on us when choosing the wording 😞 . This is just a score, and there are other scores in play. For example, NodeResourcesLeastAllocated and ImageLocality (although this one should give 0 for this case, given that the image is small). Another one worth considering is BalancedAllocation. Are your nodes homogeneous?

[2020-05-21 14:45] tedyu commented on #90999
/cc @caesarxuchao
since you worked on related code.

[2020-05-21 14:47] dashpole commented on #91323
Huh, strange.  That function looks pretty simple: https://github.com/google/cadvisor/blame/master/manager/manager.go#L540

The only line that could be nil pointering that I can think of would be `name := m.containers[i].info.Name`

[2020-05-21 14:48] dashpole commented on #91323
I checked to make sure checking the length of a nil slice works: https://play.golang.org/p/GovBngRppk3

[2020-05-21 15:04] ahg-g commented on #91234
@llamerada-jp increasing the weight significantly will give the semantics you want. We already mentioned that the ```ScheduleAnyway``` semantics are confusing, and that what it means is actually best effort, it is too late to change the stanza, and so the best we can do is clarify in the documentation.

[2020-05-21 15:09] ahg-g commented on #91204
Computing the score per image and normalizing by the number of images make sense to me at first glance, but I would like to see more examples.

It would be much easier to digest the analysis if it was summarized in tabular form comparing three scoring functions: (1) current one, (2) one in https://github.com/kubernetes/kubernetes/pull/91138 and (3) https://github.com/kubernetes/kubernetes/issues/9

[2020-05-21 15:10] EddieJamsession opened #91330 "Higher level of infrastructure management than Deployment/StatefulSet"
**What would you like to be added**:

Would be beneficial to have ability to manage infrastructure on a higher level than a Deployment or StatefulSet.

**Why is this needed**:

- Multi-tenancy management, right now we need to generate deployment/set of deployments for each tenant (which are pretty similar) and then delete/create/update them based on the changed requirements, it would be easier to

[2020-05-21 15:15] wk60807430 opened #91331 "ClusterIP UDP Port Not available on CentOS8"
**What happened**:
ClusterIP UDP Port Not available on CentOS8, It was available by test when use ENDPOINTS IP
For Example:

CoreDNS serveice,use UDP 53 ，DNS client available on ENDPOINTS IP:10.244.1.100,but it was not available on ClusterIP 10.0.0.2;Other UDP service test result is like this too. ClusterIP NOT OK, ENDPOINTS IP ok.

**What you expected to happen**:

**How to reproduce it (as minim

[2020-05-21 15:17] alculquicondor commented on #91204
Yes, we don't need to see the individual steps, but a good set of scenarios with final scores.

I didn't mean just the old function. We know it's very ineffective. What I meant is capping per pod using the strategy you used in #91138

[2020-05-21 15:17] olakunleoladimeji commented on #91323
Thanks for the follow-up!

It is strange as we run Kubernetes on over 50 nodes and have never encountered this issue.

Please let me know any helpful information you need

[2020-05-21 15:17] wk60807430 commented on #91331
/sig/network

[2020-05-21 15:19] ahg-g commented on #91234
The problem is with the semantics of ```whenUnsatisfiable``` itself, adding a third option is going to be more confusing.

[2020-05-21 15:25] #91330 closed

[2020-05-21 15:28] mrmartan commented on #62099
I am sorry but I am massively confused by this. The documentation for version 1.14 through to 1.18 all show writable secrets (with `defaultMode`) - https://kubernetes.io/docs/concepts/configuration/secret/#secret-files-permissions

Is that information incorrect?

[2020-05-21 15:32] damemi commented on #87526
I'm fine waiting for this then, just wanted to check in on this issue since it hasn't had activity in some time to clarify where we are

[2020-05-21 15:53] aojea commented on #90258
I was able to reproduce it without Kubernetes
https://gist.github.com/aojea/4ffb520db9f72de21685294d8fec7f33#gistcomment-3298189

and reported the bug in netfilter bugzilla,
https://bugzilla.netfilter.org/show_bug.cgi?id=1427

/remove-triage unresolved

[2020-05-21 15:54] apelisse commented on #89266
/assign @julianvmodesto

I think that's a one-liner.

[2020-05-21 16:00] tedyu commented on #91326
You can run

journalctl -u kubelet

and save the output in file

[2020-05-21 16:07] alejandrox1 commented on #91263
So it appears that the way to solve this is to change the machine instance type in the node config, such as in

https://github.com/kubernetes/test-infra/blob/0952907d173f7bebbf11662f4c3ef5f412bbd756/jobs/e2e_node/benchmark-config.yaml#L6

Overall, the question now is whether to 1.) move the tests to run on bigger machines, 2.) tweak the tests in some other way, 3.) remove them ?
xref: https://gith

[2020-05-21 16:11] alejandrox1 commented on #91263
Tests were originally created on https://github.com/kubernetes/kubernetes/pull/65250
Which explicitly states that these benchmarks were tested n n1-standard-1 machines even though the smallest pod requires 16 cpus and 16 GiB and these resource specifications have never changed.

So i guess time to at least test the benchmarks with less resources and see what happens.

[2020-05-21 16:14] alejandrox1 commented on #87988
I accidentally started looking into this issue as well on https://github.com/kubernetes/kubernetes/issues/91263
I see that this one is a bit stale so hope you dont mind if i close as duplicate
/close

[2020-05-21 16:14] #87988 closed

[2020-05-21 16:35] #82285 closed

[2020-05-21 16:53] michaelgugino commented on #91141
This could be solved with a future version of this patch:

https://github.com/kubernetes/kubernetes/pull/89314

If we filter out pods that already have a deletionTimestamp, then eviction won't fail here.  Since the pod was already marked for deletion, eviction shouldn't have any meaningful effect anyway.  Frankly, I'm not sure how this doesn't get hit if you run drain twice and the pod happens to

[2020-05-21 17:12] alculquicondor commented on #89701
Next step is doing rename of `v1alpha2` into `v1beta1`. I want us to get #91142 merged first.

[2020-05-21 17:15] liggitt commented on #91316
if there's not a quick fix, should we revert https://github.com/kubernetes/kubernetes/pull/89667 and bring it back in once the root issue is understood?

[2020-05-21 17:21] dashpole commented on #91316
I think a revert is appropriate in this case.

[2020-05-21 17:25] liggitt commented on #91316
ok, I'll open it

[2020-05-21 17:31] liggitt commented on #91316
open at https://github.com/kubernetes/kubernetes/pull/91337

[2020-05-21 17:52] kmala commented on #91316
I agree with @dashpole that 5x is something which shouldn't happen and i can take a look on why thats happening and that might require changing the way how the sandbox is currently deleted which is on during GC.

[2020-05-21 18:18] pikrzysztof commented on #87615
can you please tell what bond mode are you using? I'm not able to reproduce this on my cluster with active-backup bonds.

[2020-05-21 18:32] vagababov opened #91338 "No way configure timeout for conversion webhooks"
Regular validation/mutation webhooks have `timeoutSeconds` field which permits configuring the timeout for the webhook to use.
Conversion webhooks on the other wise, use the default timeout of 30s.
It would be beneficial to actually permit this to be configurable for conversion webhooks as well.

[2020-05-21 18:34] vagababov commented on #91338
/sig api-machinery
I guess...

[2020-05-21 18:39] 0xMH commented on #21582
Here's a [working link](https://github.com/colhom/coreos-docs/blob/382300c0bcf592f253487f3900f2e88c7faa3362/kubernetes/cluster-dump-restore.md) for the document that colhom put back in the day. Sadly, There isn't a suitable option to export the cluster till this day.

[2020-05-21 18:52] #91316 closed

[2020-05-21 18:57] damemi opened #91340 "FailedScheduling doesn't report all reasons for nodes failing"
**What happened**:
With a pod that is failing to schedule, seeing the following error:
[code]

This gives the information that 8 nodes failed the node ports filter, but not why the 9th node has failed. In this case, I am running a daemonset so it makes sense that there should be an existing pod on each node consuming the desired port, but my 9th pod is failing to schedule. Therefore, the informati

[2020-05-21 19:06] Huang-Wei commented on #91340
@damemi which k8s version are you running on? https://github.com/kubernetes/kubernetes/pull/86022 seems to have resolved your problem (available since 1.18).

[2020-05-21 19:16] damemi commented on #91340
@Huang-Wei this is on a 1.18.2 cluster:
[code]

This was a weird report, because like you said I know it usually does report all of the errors now. But clearly, for some reason, at least one is being omitted

[2020-05-21 19:31] MHBauer commented on #91292
https://kubernetes.slack.com/archives/C0BP8PW9G/p1589987979392300 some triage notes.

[2020-05-21 19:38] #82515 closed

[2020-05-21 19:38] #85880 closed

[2020-05-21 19:56] mtaufen commented on #86843
We can mark deprecated, email kubernetes-dev (any other lists we should email?), and remove in 3 releases (and announce again when removed).

[2020-05-21 19:56] rikatz commented on #91331
@wk60807430 You've missed the right command ;)

/sig network

[2020-05-21 19:58] rikatz commented on #91331
/triage unresolved

We will triage this later

[2020-05-21 20:11] fedebongio commented on #91269
/cc @liggitt @jennybuckley @jpbetz

[2020-05-21 20:12] fedebongio commented on #91269
/lifecycle frozen

[2020-05-21 20:12] Huang-Wei commented on #91340
Sounds like a bug. Are you able to reproduce it?

[2020-05-21 20:13] fedebongio commented on #91297
/assign @cheftako

[2020-05-21 20:13] rikatz commented on #90997
/assign

[2020-05-21 20:14] fedebongio commented on #91338
/assign @jpbetz

[2020-05-21 20:15] rikatz commented on #91036
@javidiaz as the KEP of this one is already merged, do you think the triage/unresolved label can be removed and this assigned to you?

[2020-05-21 20:19] rikatz commented on #91216
@haircommander can this issue be closed, as the reason was found?

[2020-05-21 20:22] rikatz commented on #91216
@tedyu As stated by @aojea and reproduced by @haircommander when the referenced PR gots merged will this be resolved?

If so, and as this is in a different repo, can this issue be closed?

Thank you!

[2020-05-21 20:23] jpbetz commented on #91338
This is complicated by a couple things:

- conversion webhook takes a list of objects to convert (admission webhooks take a single object). So it is not as obvious how to pick a timeout limit that works for all requests.
- conversion webhooks are blocking. If the conversion does not happen, there is no other option besides failing the request (for comparison admission webhooks can have failurepoli

[2020-05-21 20:24] tedyu commented on #91216
I can close this once https://github.com/cri-o/cri-o/pull/3787 is merged.

[2020-05-21 20:25] rikatz commented on #91284
@thockin what do you think about this one, related to [this](https://github.com/kubernetes/kubernetes/issues/57130)  issue?

[2020-05-21 20:28] rikatz commented on #91306
/assign

[2020-05-21 20:33] caesarxuchao commented on #90999
Just to clarify, in #1, you said "monitor crictl ps and how the container disappears immediately" and "the static pod is gracefully terminated on the node", which one is true?

[2020-05-21 20:37] vagababov commented on #91338
This is still the problem with default 30s (either of problems).

[2020-05-21 20:40] rikatz commented on #91216
I'll remove the triage-unresolved then so this wont enter into the issue triage queue, and assign to me to keep the track.

Thank you

/remove-triage unresolved
/assign

[2020-05-21 20:43] tedyu commented on #90999
I modified the description to make it clear.

via the output of 'crictl ps', currently the container disappears immediately

[2020-05-21 20:45] javidiaz commented on #91036
Thanks @rikatz , I will do.

/remove-triage unresolved
/assign @javidiaz

[2020-05-21 20:53] rikatz commented on #91306
Hi @jeff-hillman and thanks for raising this issue.

Inside Kubernetes, the responsible for dealing with the objects reconciliation are the controller manager. Specifically for cloud objects (like Openstack, AWS and so on) there's a special component called cloud-controller-manager for each cloud provider.

What should support in this case this kind of 'object filtering' based in annotation or lab

[2020-05-21 20:54] rikatz commented on #91306
/triage support

[2020-05-21 20:56] rikatz commented on #90997
@enviel can this issue be closed?

I'm assigning it to me to keep the track, and will close this if this is solved or if got no answer in 14 days.

Thank you!

[2020-05-21 21:02] jpbetz commented on #91338
I agree. But it is also easy to imagine developer shooting themselves in the foot by setting the timeout to a lower value because they don't understand how it is applied. My point is this is not 1-to-1 with the timeout that already exists on admission webhooks.

[2020-05-21 21:04] hasheddan opened #91341 "[Failing Test] conformance-ga-master (ci-kubernetes-conformance-kind-ga-only)"
**Which jobs are failing**:

`conformance-ga-master (ci-kubernetes-conformance-kind-ga-only)`

**Which test(s) are failing**:

`Overall`

**Since when has it been failing**:

`5-20-20 04:19 PDT`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#conformance-ga-only

**Reason for failure**:

[code]

**Anything else we need to know**:

/cc @kubernetes/ci-signal
/priority critic

[2020-05-21 21:06] hasheddan commented on #91341
/sig architecture

[2020-05-21 21:06] caesarxuchao commented on #90999
I think I missed something, what do you mean by "the static pod is gracefully terminated on the node" if "the container disappears immediately"?

[2020-05-21 21:13] tedyu commented on #90999
I dropped that sentence since it is redundant with the first sentence of 'What you expected to happen'.
Currently given:
[code]
Once 'mv /etc/kubernetes/manifests/kube-scheduler-pod.yaml /tmp/' is executed, the two containers would be destroyed immediately.

The desired behavior is for the containers to have 30s grace period.

[2020-05-21 21:16] hasheddan commented on #91341
This may resolve with being moved to new infra: https://github.com/kubernetes/test-infra/pull/17674

[2020-05-21 21:38] aojea commented on #90961
I'm not familiar with this integration, but seems that this is related to the cloud provider integration https://github.com/kubernetes/cloud-provider-openstack/ , not to sig-network. However, is better to ask someone with more knowledge in this area.
@dims do you know someone in cloud-provider-openstack that can help us with this issue?

[2020-05-21 21:49] caesarxuchao commented on #90999
Thanks for the clarification. So currently the container is deleted immediately, and the pod is removed from the APIServer immediately as well. The desired behavior is that the kubelet honors the `pod.spec.terminationGracePeriodSeconds` in the yaml file when turning down the container, and only deletes the pod from the APIServer after the container is down.

[2020-05-21 21:53] tedyu commented on #90999
[mirror-pod-del-grace-killing.txt](https://github.com/kubernetes/kubernetes/files/4665020/mirror-pod-del-grace-killing.txt)

Here is tentative patch
I verified on patched 1.18 master node :
[code]

[2020-05-21 21:58] Nuru commented on #68827
@bsalamat wrote:

The [original design document](https://github.com/kubernetes/kubernetes/blame/33d1f6c085ed7f5b737904c262dfee18cfa8426d/docs/design/podaffinity.md#L159) said you could specify "all namespaces" with an empty list of namespaces. Is there some public resource that explains why this was changed?

A second point, I know it was in the original design proposal, but I think the security p

[2020-05-21 21:59] Huang-Wei commented on #91281
To sum up, there are several options:

- **Option 1:** keep `FailedNodesMap map[string]string` as is. In the scheduler core, add additional logic to check whether the return error reason contains (or starts with, well it's an implicit contract) keyword "UnschedulableAndUnresolvable", if so, set the status to `UnschedulableAndUnresolvable`; otherwise, set it to `Unschedulable` as before. In this wa

[2020-05-21 22:06] ash2k commented on #74560
/remove-lifecycle stale
/lifecycle frozen

[2020-05-21 22:14] andrewsykim commented on #90854
/remove-triage unresolved

[2020-05-21 22:15] andrewsykim commented on #90854
@skamboj were you able to test this again with VxLAN offloading disabled?

[2020-05-21 22:16] tedyu commented on #91323
How about the following change ?
[code]

[2020-05-21 22:23] dashpole commented on #91323
That could work.  I checked, and neither info nor Name can be nil, so unless i'm missing something, that should do the trick

[2020-05-21 22:25] BenTheElder commented on #91341
it's not the infra, this is #91316

[2020-05-21 22:26] sjmiller609 commented on #67937
I have found in practice that --minimum-container-ttl-duration is not no-operation as of at least 1.15. If you set this flag, you can see with 'docker ps -a' that containers remain "stopped" for at least the configured TTL before becoming "removed"

[2020-05-21 22:26] BenTheElder commented on #91341
it should be resolved by the next run, liggitt reverted the regression

[2020-05-21 22:29] hasheddan commented on #91341
@BenTheElder gotcha, thanks!

[2020-05-21 22:29] morhook commented on #74551
With [astronomer helm chart](https://github.com/astronomer/airflow-chart), `ubuntu` + `minikube` this error happens a lot!

[code]

[2020-05-21 22:30] olakunleoladimeji commented on #91323
I'll make a build with this modification on the affected node this weekend and revert. Thanks once again!

[2020-05-21 22:49] sjmiller609 opened #91345 "Log symlinks are garbage collected even if containers are not"
**What happened**:

I am hoping it is possible to configure kubelet such that a logging agent such as fluentd is capable to collect the logs of short-lived pods.

The deprecated flag --minimum-container-ttl-duration is still working to keep containers around in the "stopped" state after pods are terminated, only getting "removed" after the minimum TTL has passed. This is evident by container remai

[2020-05-21 22:50] sjmiller609 commented on #91345
/sig node

[2020-05-21 23:13] tedyu commented on #90999
@timstclair @caesarxuchao
Please take a look at the patch in above comment.

[2020-05-21 23:23] tedyu commented on #91345
Have you looked at #89160 ?

[2020-05-21 23:35] wawa0210 commented on #91133
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#container-v1-core

openapi detailed description about terminationMessagePath

[2020-05-22 00:43] #86543 closed

[2020-05-22 00:43] #86544 closed

[2020-05-22 00:43] #86372 closed

[2020-05-22 00:43] #86494 closed

[2020-05-22 00:43] #86235 closed

[2020-05-22 01:07] liggitt commented on #91338
Is the context of the request triggering the timeout plumbed to the conversion webhook call?

[2020-05-22 01:08] zhouya0 commented on #91340
@Huang-Wei Can I try to fix this bug?

[2020-05-22 01:12] system51 opened #91346 "kubernetes Udp is not available"
**What happened**:   Unable to resolve using coredns

**What you expected to happen**: Resolve the SVC address

**How to reproduce it (as minimally and precisely as possible)**:

1、Start a coredns pod on a node
![image](https://user-images.githubusercontent.com/26198108/82619925-cad7cb00-9c09-11ea-8d13-59a4391355f7.png)

2、Try to use coredns svc address resolution

![image](https://user-images.git

[2020-05-22 01:20] #91186 closed

[2020-05-22 01:26] dims commented on #90961
/cc @ramineni

[2020-05-22 01:27] vincent-pli commented on #91133
@wawa0210
Thanks

[2020-05-22 01:33] sshankaregowda commented on #91326
please find the logs attached ..
let me know whats your thoughts. the command which I run zookeepercli runs prefectly fine when I run manually inside the pod
[k8s3.tar.gz](https://github.com/kubernetes/kubernetes/files/4665609/k8s3.tar.gz)

[2020-05-22 01:36] BenTheElder commented on #78737
Noting that this doesn't just mean not writing them in shell, you won't be able to depend on the presence of a userspace (IE your binary can't shell out to typical userspace utils)

[2020-05-22 01:44] #85921 closed

[2020-05-22 01:48] tedyu commented on #91326
[code]
Can you check that HOSTNAME can be correctly expanded in container ?

[2020-05-22 01:53] sshankaregowda commented on #91326
yes the HOSTNAME is an env variable and it can be expanded correctly

[2020-05-22 01:54] sshankaregowda commented on #91326
zookeepercli --servers zk-hs -c set $HOSTNAME-2313 thrift://$HOSTNAME:2313/online

if I run this manually inside container it works fine

[2020-05-22 02:00] tedyu commented on #91326
Do you have other hook(s) which calls zookeepercli ?
Does other hook run correctly ?
See if more information can be logged if zookeepercli fails.

[2020-05-22 02:04] liggitt commented on #91341
Green again

[2020-05-22 02:04] #91341 closed

[2020-05-22 02:37] Huang-Wei commented on #91340
@zhouya0 Sure. But it’s better to check with @damemi first in case he has started working on it.

[2020-05-22 02:43] sshankaregowda commented on #91326
so how do I echo the $HOSTNAME in the prestop and see the results ?
I can not see it in the logs

[2020-05-22 03:46] #81609 closed

[2020-05-22 04:45] invidian commented on #84298
/remove-lifecycle stale

[2020-05-22 05:19] cofyc commented on #91281
I guess 2) is not possible because it adds an extra deps to `k/k` as you said. I'm ok with option 1) and 3).

@resouer @ahg-g @alculquicondor what do you think?

If you agree, I can send a PR to implement it. This gives extender the ability to mark nodes unscheduable and unresolvable then nodes can be skipped in the preempt phase.

[2020-05-22 05:22] nshekhar221 commented on #84308
I am also seeing this issue in 1.6.9. Any possibility of backporting this fix to 1.16?

[2020-05-22 05:27] GsssC opened #91352 "Pod using PodReadinessGate which crashes and restarts will not dePatch the ReadinessGate."
**What happened**:
Pod using PodReadinessGate which crashes and restarts will not dePatch the ReadinessGate.
**What you expected to happen**:
Pod dePatch when restart. rePatch until it is really ready.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware co

[2020-05-22 05:29] GsssC commented on #91352
/sig cluster-lifecycle

[2020-05-22 05:31] sshankaregowda commented on #91326
I think I found the issue.. although the HOSTNAME is an env variable but its not expanding inside prestop-hook. which I believe is a bug.

[2020-05-22 06:21] fred01 commented on #76146
Hi!. Had same issue, solved it right now by upgrading docker on master host. Was version 18.09, now 19.03, after upgrade `kubeadm init` works without any errors. Solution inspired by this question https://stackoverflow.com/questions/55571566/unable-to-bring-up-kubernetes-api-server , but without reinstall docker. Just performed`apt updrade`

[2020-05-22 06:32] sshankaregowda commented on #91326
command: ["zookeepercli","--servers","zk-hs", "-c", "set", "$(HOSTNAME)", "offline"]
command: ["zookeepercli","--servers","zk-hs", "-c", "set", "${HOSTNAME}", "offline"]

I tried all the combinations but doesnt work, you know how to access the env variable from prestop hook ?

[2020-05-22 06:38] jpeach opened #91353 "Add a well-known Secret key constant for CA certificate bundles"
**What would you like to be added**:

Add a constant `TLSCABundleKey = "ca.crt" to the set of well known names that are used to key Secret data.

**Why is this needed**:

Most Ingress controllers provide a TLS termination feature and support using TLS Secrets to specify the server certificate and private key. A number of projects in the ecosystem (e.g. certificate-manager, contour, ingress-nginx)

[2020-05-22 06:40] jpeach commented on #91353
/sig network
/cc @bowei

I'm happy to submit a PR if this request is accepted.

[2020-05-22 06:56] zhangguanzhang commented on #76146
I don't use kubeadm

[2020-05-22 07:32] xingfeng1234 commented on #90553
The next step, what should I do? Close the question?

[2020-05-22 07:39] cofyc commented on #89701
https://github.com/kubernetes/kubernetes/blob/cdbd07f64e2f1392fc9b3c68a6c1e06ee22d6449/pkg/scheduler/scheduler.go#L583-L603

The scheduler run `Unreserve` plugins when `assume` fails but not when `Reserve` plugins fail. Maybe I missed something?

[2020-05-22 07:42] wawa0210 commented on #91133
/assign

[2020-05-22 08:09] diversario commented on #81636
@qqshfox would you be able to share the KCM patch used in your clusters?

[2020-05-22 08:11] zhouya0 commented on #91340
The number of scheduling failures is the number of reasons so it's possible for scheduling failures more than the number of nodes, for example node resource filter can have two reasons:
[code]
But seems not possible for scheduling failures less than nodes in your case:
[code]
So I think this is really a bug.

[2020-05-22 08:14] chendave commented on #91204
Did some comparison here,
[code]

[2020-05-22 08:24] zjj2wry commented on #91276
Now deployment does not support this feature, maybe you can refer to this document to achieve the purpose.

https://github.com/ContainerSolutions/k8s-deployment-strategies/tree/master/canary/native

[2020-05-22 08:36] llamerada-jp commented on #91234
Hi @alculquicondor @ahg-g

I could set `Scheduling Profile` using the method you taught me. Thank you, @alculquicondor.
We are going to consider adjusting the `weight` to accommodate the behavior of `ScheduleAnyway`.

About the number of nodes for each rack, it is due to failure or reserve. We want it to be as equal as possible, but not perfect.
About the node's performance, we examined using `kin

[2020-05-22 09:12] qqshfox commented on #81636
The patches are here:

* 1.11: https://github.com/qqshfox/kubernetes/tree/release-1.11-alo7
* 1.12: https://github.com/qqshfox/kubernetes/tree/release-1.12-alo7
* 1.13: https://github.com/qqshfox/kubernetes/tree/release-1.13-alo7

[2020-05-22 09:20] gauravsjc02 commented on #59551
Mention the selector as well, for ex:-
    sudo kubectl expose rs myweb-rs --selector="key=value" --port=80 --type=NodePort

here, rs is the replica set having the name myweb-rs.
key and value must match with selector that we have mentioned in replica set file.

[2020-05-22 09:27] ahg-g commented on #89701
You are right, I guess what I meant is that RunUnreservePlugins is called on any error happening after RunReservePlugins succeeds.

I believe the assumption was that if RunReservePlugins fails, no reservation happened, and so there is no need to call RunUnreservePlugins. But that is not true because there could be multiple reserve plugins, and even if RunReservePlugins fails, some reserve plugins

[2020-05-22 09:43] wawa0210 commented on #90809
I feed these clarification information into the document

[2020-05-22 09:44] Jamstah commented on #91250
@apelisse i have a PR here but am waiting on my CCLA: https://github.com/kubernetes/kubernetes/pull/91256

New to contributing to k8s, I'm not sure if the PR needs an API review, so any advice appreciated!

[2020-05-22 10:07] tedyu commented on #88423
@ashutoshgngwr
Did you have a chance to check ?

[2020-05-22 10:14] Xindahuang opened #91359 "wrong comment for preparedAPIAggregator struct"
**What happened**:
https://github.com/kubernetes/kubernetes/blob/1a8561464e33a63869ef9606dcda50895a0101f4/staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go#L99

wrong struct name in its comment

**What you expected to happen**:
change to `preparedAPIAggregator`
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
nothing
**Environment**

[2020-05-22 10:22] YangLu1031 commented on #88153
Yes, we use Docker. Am wondering is there any thing we can do to improve it. Currently we choose 1pod/33s scaling speed for windows, compared to Linux 5pods/s.

[2020-05-22 10:23] himanshusharma-git opened #91361 "#sig-multicluster ..kube/config file wont update locally."
**What happened**:
i was using my cluster locally by copying .kube/config file in my local system , i created a name space and started working in it and meanwhile i was also looking at my cluster not locally but where it was actually running . I created a name space and switched on it on from both of my machine , locally as well as original bare-metal one , after completing my work i can see all c

[2020-05-22 10:27] himanshusharma-git commented on #91361
sig-multicluster

[2020-05-22 10:31] himanshusharma-git commented on #91361
/sig multicluster

[2020-05-22 10:34] himanshusharma-git commented on #91361
/sig contribex

[2020-05-22 10:49] ashutoshgngwr commented on #88423
@tedyu I did check the same day. Check my last comment.

[2020-05-22 11:54] #86540 closed

[2020-05-22 12:12] cofyc commented on #89701
Agree. After we merge `Reserve` and `Unreserve`, the latter option should be easy to implement.

[2020-05-22 12:19] rikatz commented on #91331
@wk60807430 can you provide further informations please, steps to reproduce what is happening? I couldn't figure out what's actually happening and how to reproduce.

Thank you

[2020-05-22 12:40] hasheddan commented on #91341
Thank you @liggitt!

[2020-05-22 12:45] Joseph-Irving commented on #90553
Once a fix is merged into master, this issue will automatically get closed.

[2020-05-22 12:47] liggitt commented on #91359
Thanks for the attention to detail, an issue isn't really needed to track this, a PR to fix it can be opened directly

[2020-05-22 12:47] #91359 closed

[2020-05-22 12:51] liggitt commented on #91361
The current namespace is optionally specified in the kubeconfig file, not as a server-side setting. If you copy the kubeconfig file elsewhere, changes made to the original file will not be replicated. You can set the current namespace used by the client with this command:

[code]

[2020-05-22 12:54] #91361 closed

[2020-05-22 12:55] ramineni commented on #90961
@yinkun111 need more clarification in the issue

which version of cinder-csi plugin are you using in manifests? auth_url of keystone mentioned in cloud-config is of ipv4 address only? sharing the logs of controller plugin and nodeplugin would be helpful

you can raise the issue here , https://github.com/kubernetes/cloud-provider-openstack/issues , will have more eyes on it.

[2020-05-22 13:09] hasheddan commented on #91195
/reopen

@gnufied unfortunately I don't #91221 resolved the issues

[2020-05-22 13:21] hasheddan commented on #89262
/assign

Assigning myself for CI Signal ownership.

[2020-05-22 13:25] hasheddan commented on #85814
/retitle [Failing Test] gce-cos-k8sbeta-serial (ci-kubernetes-e2e-gce-cos-k8sbeta-serial)
/remove-kind flake
/remove-sig scheduling
/sig storage

[2020-05-22 13:30] hasheddan commented on #85814
/unassign @ahg-g
/assign @msau42

Looks like the cherry pick did not cause this to bounce back. Any ideas why that would be? cc @justaugustus

https://github.com/kubernetes/kubernetes/pull/91272

[2020-05-22 13:31] hasheddan commented on #85814
/milestone v1.18

[2020-05-22 13:32] Tawmu commented on #75488
/reopen
/remove-lifecycle rotten

Would love to see this.

[2020-05-22 13:33] justaugustus commented on #85814
Is this failure specifically for 1.17 (because we only cherry picked into 1.18)?

[2020-05-22 13:35] hasheddan commented on #91195
/assign @VineethReddy02

[2020-05-22 13:36] hasheddan commented on #88974
/assign

[2020-05-22 13:36] hasheddan commented on #90830
/assign @VineethReddy02

[2020-05-22 13:37] hasheddan commented on #90686
/assign @hkamel

[2020-05-22 13:38] hasheddan commented on #90955
/assign @VineethReddy02

[2020-05-22 13:39] hasheddan commented on #91292
/assign

[2020-05-22 13:48] damemi commented on #91340
Hi, unfortunately I'm not sure how I could reproduce it (which is part of the problem, lol). This just occurred on a cluster, and we were unable to diagnose what the issue was with the 9th node from looking at the pod and node info. Eventually, the scheduler restarted and the pod went through fine.

The only other information I have is that the pod did have a required affinity for that particular

[2020-05-22 13:59] gnufied commented on #91195
@hasheddan how do you say that ? looking at grid - https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-serial&include-filter-by-regex=Driver%3A%20csi-hostpath it looks like it is not breaking anymore?

There is one failed run after my fix merged -  https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/1263641052737179649 but that is unrelated to orig

[2020-05-22 14:05] vishalud commented on #50375
+1

[2020-05-22 14:10] hasheddan commented on #91195
@gnufied apologies, I believe your fix solved its intended issue, but the job is still failing. I was not clear about that in my comment :+1:

[2020-05-22 14:49] alitoufighi commented on #24957
Regarding comparisons of doing a rolling restart instead of just sending signals, in my case, I have a Prometheus deployment that uses a volume to persist the time series, so that its data is huge. When restarting, it takes about 5 minutes to read the tsdb to become available.

But if I send a `SIGHUP` signal after changing its config in ConfigMap, it only reloads the config and is available witho

[2020-05-22 15:07] tedyu commented on #90999
Currently static pod deletion doesn't respect grace period.
What we ultimately need is cancellable grace period where if, the static pod is recreated shortly after pod deletion, the remaining grace period should be cancelled.

It seems putting call to apiserver for pod deletion and the call to Kubelet#killPod() in the same place would make implementation of cancellable grace period more intuitive.

[2020-05-22 15:31] jeff-hillman commented on #91306
@rikatz  OCCM bug [https://github.com/kubernetes/cloud-provider-openstack/issues/1074](https://github.com/kubernetes/cloud-provider-openstack/issues/1074) filed

[2020-05-22 15:37] jeff-hillman commented on #91306
@rikatz MetalLB bug [607](https://github.com/metallb/metallb/issues/607) filed

[2020-05-22 15:56] champtar commented on #91306
You want a service annotations `kubernetes.io/loadbalancer.class`, if absent keep current behavior, if present check if we are the right controller ?

[2020-05-22 15:57] andrewsykim commented on #81636
Can we close this issue? Sounds like the fix is already in v1.14 but it wasn't backported cause those versions are unsupported.

[2020-05-22 16:44] alanbchristie opened #91365 "OpenStack volumes constantly entering Reserved state when Pod tries to mount"
**What happened**:
We have an OpenStack cluster where all new dynamic volumes enter a `Reserved` state and fail to mount into their respective Pods.

All `PersistentVolumeClaims` result in PVCs and dynamic PVs being created and appearing to be _bound_ but the volume, in OpenStack, switches to a `Reserved` state when the volume is actually mounted in the Pod resulting in the Pod getting stuck - com

[2020-05-22 16:47] alanbchristie commented on #91365
/sig storage

[2020-05-22 17:06] olfway commented on #54482
/remove-lifecycle stale

[2020-05-22 17:45] #90653 closed

[2020-05-22 17:50] Huang-Wei commented on #91281
Thanks @cofyc. Just a reminder, for option 3, we may need to update (or migrate) existing extender KEP as it involves API changes.

[2020-05-22 17:52] rikatz commented on #91306
@jeff-hillman great, this makes sense to you?

If so, I think we can close this issue and wait for each controller to support this. I hope Andrew also can take a look into this issue to put some thoughts :)

[2020-05-22 17:56] andrewsykim commented on #91306
I'll put some thought into it. I think the class annotation is probably a hard sell for Services, but maybe a "ignore this Service" annotation read by service controller can work to at least disable cloud providers. That in addition to a class annotation read by MetalLB would let you do what you're looking for.

[2020-05-22 18:07] champtar commented on #91306
@andrewsykim `kubernetes.io/loadbalancer.class: openstack` means everyone else than openstack please ignore this service

[2020-05-22 18:20] andrewsykim commented on #91306
Right, but that requires everyone else to watch that class annotation and ignore the Service if the "class" doesn't match. Today if your cloud provider is enabled, it owns all Service Type=LoadBalancer. Changing that default behavior may be tricky.

[2020-05-22 18:40] champtar commented on #91306
If you want 2 LoadBalancer controller (say MetalLB and OpenStack) to work side by side, today you must modify both, so better have only 1 annotation and modify controller if it make sense.

You don't need to modify GCP/AWS/Azure/... cloud controller because you are not going to run another LoadBalancer controller with them, they can stick to the default behaviour of owning all the `Type=LoadBalanc

[2020-05-22 18:43] michaelgugino commented on #80389
I'm still interested in this.  I'm hoping the ignore-pending case will merge at some point, and then we can investigate this.

I think between how we're doing deletion of pending (enforcing deletionOptions that ensure pod has not changed revision) and my other patch that checks current PDB count (not include the broken pod) is stable could work.

Since 'NotReady' is possibly transitive, we would n

[2020-05-22 18:51] andrewsykim commented on #91306
Exactly, I wouldn't be in favor of adding a first class annotation based one provider's use-case. If OpenStack wants to support a custom annotation to ignore a Service Type=LoadBalancer so you can run it along side MetalLB that would be a conversation to have in https://github.com/kubernetes/cloud-provider-openstack.

If there are use-cases to support multiple loadbalancer controllers in other pro

[2020-05-22 19:01] #86556 closed

[2020-05-22 19:08] champtar commented on #91306
The conversation needs to happen in openstack-cloud-provider and MetalLB and ..., so kubernetes repo/this ticket is kind of the right place to have this conversation IMO.
Also having feedback on the limitations on using a simple annotation and why Ingress switched away from it

[2020-05-22 19:09] pohly commented on #91287
There's one endpointslice per service. Our operator creates two services. One peculiarity may be that we don't actually want the pods to start during these tests because we only want to verify object creation, not the usage of the result, and therefore all pods reference non-existent images. All objects immediately get deleted once the test has verified that they exist, so the timing is probably v

[2020-05-22 19:11] pohly commented on #91287
I had tried to come up with a script that triggers the problem, without success. That was before I realized that endpointslices are involved. On Monday I can have another look.

[2020-05-22 19:17] tedyu commented on #90999
I tested updated patch on 1.18 master node.
Please note the containers were not immediately destroyed after kube-scheduler-pod.yaml was moved.
When kube-scheduler-pod.yaml was moved back, the containers were immediately destroyed and new containers created:
[code]
Here was snippet from kubelet.log - note that the actual wait was 16.8 seconds (< 30 second grace period):
[code]

[2020-05-22 19:19] ahg-g commented on #91281
I think option 3 is the one we should go with. Option 1 in my opinion shouldn't be considered at all, while option 2 breaks backward compatibility.

[2020-05-22 19:21] tedyu commented on #90999
[mirror-pod-del-grace-cancel-2.txt](https://github.com/kubernetes/kubernetes/files/4669979/mirror-pod-del-grace-cancel-2.txt)

[2020-05-22 19:37] joemiller commented on #24957
@alinbalutoiu You could use a sidecar container that watches the mounted configmap for changes and sends a signal to prometheus. That's the best/closest to native way I'm aware of.

in the pod spec: `  shareProcessNamespace: true`

A bash script with while loop around inotify
[code]

inotifywait will block until any changes to the $WATCH_FILE are detected

[2020-05-22 19:44] hasheddan opened #91367 "[Failing Test] kind-master-parallel / kind-ipv6-master-parallel (ci-kubernetes-kind-e2e-parallel / ci-kubernetes-kind-ipv6-e2e-parallel)"
**Which jobs are failing**:
`kind-master-parallel (ci-kubernetes-kind-e2e-parallel)`
`kind-ipv6-master-parallel (ci-kubernetes-kind-ipv6-e2e-parallel)`

**Which test(s) are failing**:

`[sig-api-machinery] client-go should negotiate watch and report errors with accept "application/json"`
`[sig-api-machinery] client-go should negotiate watch and report errors with accept "application/json,applicati

[2020-05-22 19:46] hasheddan commented on #91367
Suspect it has to do with https://github.com/kubernetes/kubernetes/pull/91260
cc @wojtek-t

/assign @VineethReddy02
(for CI signal ownership)

[2020-05-22 20:01] liggitt commented on #91367
Seems unlikely since multiple kind e2e tests passed on the PR itself

[2020-05-22 20:03] hasheddan commented on #91367
@liggitt I was thinking that as well, but I don't see any other relevant changes

[2020-05-22 20:06] liggitt commented on #91367
Actually, I take that back. Looks like the same failure was encountered as a flake on some of the PR runs.

Looking at the test, it appears to assume the resource version of the kubernetes service will always be in the watch window, which is a bad assumption.

I'd expect us to fix that assumption in the test, but also make sure we didn't unintentionally shrink the watch window for resources.

[2020-05-22 20:06] liggitt commented on #91367
/assign @wojtek-t

[2020-05-22 20:24] djschny commented on #40846
Why was this closed? It sounds the `valueFrom` work still needs to be done as part of this issue or tracked in a different issue.

[2020-05-22 21:03] #70279 closed

[2020-05-22 21:17] casey-robertson commented on #89898
I apologize for not having a lot of details to share but I'd add my 2 cents.  We recently upgraded from Istio 1.4.4 to 1.5.4 and started seeing the issues described by OP.  Lots of liveness / readiness issues there were not happening before.  It SEEMS like adding let's say a 20sec initial delay had helped in most cases.  At this point we are still seeing it and not sure what the root cause is.

ru

[2020-05-22 21:44] dsx opened #91368 "nil pointer dereference"
**What happened**:
kube-router process crashed:

`kube-router I0522 21:36:22.204132       1 kube-router.go:216] Running /usr/local/bin/kube-router version v1.0.0-rc4, built on 2020-05-20T19:03:51+0000, go1.10.8
 kube-router I0522 21:36:24.157143       1 network_policy_controller.go:142] Starting network policy controller
 kube-router I0522 21:36:24.157170       1 network_policy_controller.go:147]

[2020-05-22 21:44] fejta-bot opened #91369 "pr:pull-kubernetes-node-e2e flaked 35 times in the past week"
### Flaky Job: pr:pull-kubernetes-node-e2e
 Flakes in the past week: **35**
 Consistency: **92.80%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Node Tests | 35 |
| [k8s.io] Summary API [NodeConformance] when querying /stats/summary should report resource usage through the stats api | 30 |
| [k8s.io] Probing container should *not* be restarted with a /healthz http l

[2020-05-22 21:46] dsx commented on #91368
Sorry for the mess, I honestly don't know how to fix it.

[2020-05-22 22:05] tedyu commented on #91368
I searched for network_services_controller.go in k8s codebase but don't seem to find it.

Should this be logged in kube-router repo ?

[2020-05-22 22:09] johngmyers commented on #80389
If it's not ready because it's replicating data from another pod then the data exists in the pod it is replicating from.

If a pod is not ready then it does not contribute to the satisfaction of the PodDisruptionBudget constraint and deleting it will not cause that constraint to be violated.

[2020-05-22 22:11] dsx commented on #91368
It totally should! Too many browser tabs…

[2020-05-22 22:11] #91368 closed

[2020-05-22 22:24] tedyu opened #91371 "kubernetes-e2e-kind sometimes times out"
**Which jobs are flaking**:
kubernetes-e2e-kind

**Which test(s) are flaking**:

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/90253/pull-kubernetes-e2e-kind/1263941030328143879

**Reason for failure**:
[code]
**Anything else we need to know**:
- links to go.k8s.io/triage appreciated
- links to specific failures in spyglass appreciated

[2020-05-22 23:10] rmohta commented on #91326
To provide additional info, httpGet works for preStop hook. Haven't been able to get exec work on preStop yet. Have to try some more and read code.

[code]

[2020-05-22 23:25] hasheddan commented on #91367
Note: this also appears to be breaking `gce-cos-master-default`

[2020-05-22 23:42] neolit123 commented on #91371
/sig network

ping @danwinship as per https://github.com/kubernetes/kubernetes/commit/9f5e1a140dd84da5a4752409f1ab951b37a73c81

do you happen to know what may be causing this?

if i'm reading the logs correctly it exits with error `TIMEOUT` instead of `REFUSED`.
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/90253/pull-kubernetes-e2e-kind/1263941030328143879/build-log.txt

[2020-05-22 23:43] neolit123 commented on #91369
/sig node storage

[2020-05-22 23:48] neolit123 commented on #91346
/sig network

i think i've seen similar reports from flannel users.

[2020-05-22 23:52] neolit123 commented on #91346
try logging an issue in the flannel repo or try a CNI plugin that works best for you and your setup.
if this is a coredns issue, log a ticket in the coredns issue tracker.

if the maintainers of those projects confirm this is core k8s bug, please reopen this ticket.

thank you.
/close

[2020-05-22 23:52] #91346 closed

[2020-05-22 23:53] neolit123 commented on #91320
/sig scheduling

[2020-05-22 23:57] rmohta commented on #91326
;tl;dr; preStop are working as expected. I will recommend to invoke a shell script for preStop instead of command string.

@sshankaregowda My 2 cents will be, to create a pre-stop.sh and push them in your image or mount them. This will allow the script to have access to environment variable.

Other reason is exec.command does not run inside any shell. Placing them inside a shell script, will allow

[2020-05-23 00:08] zjj2wry commented on #91161
/assign now the root command has defined persistent flags "user". you can see it through "kubectl option". kubectl subcommand usage message only show local flags. see it https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/util/templates/templates.go#L28. i created a pr to fix this issue.

[2020-05-23 00:08] zjj2wry commented on #91161
/assign

[2020-05-23 01:21] wu105 opened #91374 "Source-IP is not preserved by NodePort service with externalTrafficPolicy:Local or by ClusterIP service"
**What happened**:
Source-IP is not preserved by NodePort service with externalTrafficPolicy:Local or by ClusterIP service.  LoadBalancer service seems to have the same issue.

**What you expected to happen**:
Source-IP is preserved in these contexts

**How to reproduce it (as minimally and precisely as possible)**:
Follow tests in
https://kubernetes.io/docs/tutorials/services/source-ip/#source-ip

[2020-05-23 01:23] wu105 commented on #91374
/sig network

[2020-05-23 01:29] gongguan commented on #91367
I'm willing to take a look, but how could I get the apiserver log which can't be seen in artifacts.

[2020-05-23 02:25] zjj2wry commented on #89611
It seems that the metrics are meaningless. If the client cannot be distinguished from kubernetes component {kubelet, controller-manager} and others.

@enj If I understand correctly, we want add an audit when the client cert expires?

[2020-05-23 02:25] jherrera123 commented on #91155
/assign

[2020-05-23 05:11] #86596 closed

[2020-05-23 06:17] ajizkai opened #91375 "external etcd cluster restarting and make api server crashed"
## Versions

**kubeadm version** (use `kubeadm version`): v 1.16.10-00

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.16.10-00
- **Cloud provider or hardware configuration**: openstack instance over juju and maas
- **OS** (e.g. from /etc/os-release): ubuntu xenial
- **Kernel** (e.g. `uname -a`): Linux devops-node 4.4.0-140-generic #166-Ubuntu SMP Wed Nov 14 20:09:47 UTC 2018

[2020-05-23 06:43] ajizkai commented on #91375
/sig API Machinery

[2020-05-23 06:45] ajizkai commented on #91375
/sig API-Machinery

[2020-05-23 06:53] qw1mb0 commented on #89611
Now we have a workaround for resolve this issue via patch apiserver:

[code]

[2020-05-23 07:16] RyuunoAelia opened #91376 "Allow restricting scope of (Cluster)RoleBinding a user can create with RBAC"
**What would you like to be added**:
I think at least white/blacklisting the (Cluster)Roles that can are referenced by (Cluster)RoleBindings would be a good start for security minded clusters.

Also maybe restricting the ApiGroups/Resources/Verbs of (Cluster)Role would help too (just throwing an idea here).

**Why is this needed**:
With the increase of Controllers (Operators) trying to mangle with

[2020-05-23 07:23] RyuunoAelia commented on #91376
/wg Policy

[2020-05-23 07:36] RyuunoAelia commented on #91376
The rationale is simple here (and most obvious for ClusterRoleBindings), if you allow a service account to manipulate (create or modify) ClusterRoleBindings without restrictions, then it can basically privilege escalate  to any right it wants.

[2020-05-23 07:48] system51 commented on #91331
We encountered the same problem. I used calico instead of flannel

[2020-05-23 08:14] #86551 closed

[2020-05-23 08:14] #86406 closed

[2020-05-23 09:19] isindir commented on #80967
before mainstream fixes the issue I created this small operator: https://github.com/isindir/eks-ebs-node-operator

[2020-05-23 10:16] #86605 closed

[2020-05-23 12:10] tedyu opened #91379 "'[sig-api-machinery] client-go should negotiate watch and report errors' is flaky"
**Which jobs are flaking**:
kubernetes-e2e-gce

**Which test(s) are flaking**:
[sig-api-machinery] client-go should negotiate watch and report errors with accept "application/vnd.kubernetes.protobuf,application/json"

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/90253/pull-kubernetes-e2e-gce/1264149278851338240/

**Reason for failure**:
[code]
**Anything else we

[2020-05-23 12:11] tedyu commented on #91379
/sig apimachinery

[2020-05-23 12:11] tedyu commented on #91379
/sig api-machinery

[2020-05-23 13:21] liggitt commented on #91367
Failure seems to be timeout related as well

https://testgrid.k8s.io/sig-release-master-blocking#kind-ipv6-master-parallel&graph-metrics=test-duration-minutes&width=20 shows the runtime ~tripled after 99dff90d613e2014873dc2fae0a00acaf95c3bd2 merged

[2020-05-23 13:22] liggitt commented on #91367
revert open in https://github.com/kubernetes/kubernetes/pull/91380

can investigate test failure and timeouts and bring the change back in

[2020-05-23 13:25] liggitt commented on #91367
I take it back, the test tolerates an expired error explicitly.

[2020-05-23 13:31] system51 commented on #91331
@rikatz I want to be the same as I encountered the problem  https://github.com/kubernetes/kubernetes/issues/91346#issue-622881454

[2020-05-23 14:30] tedyu commented on #91326
@sshankaregowda
Can you modify the subject of this issue ?
The preStop hook is executed - though the formation of the hook matters.

[2020-05-23 14:33] #91367 closed

[2020-05-23 14:44] ayanamist commented on #68737
/remove-lifecycle stale

[2020-05-23 14:45] charlesld commented on #84430
bug of k8s , I found it in my operator development , thus , I need wait and refresh the meta to check last update was  succeed before my next update carry on.

[2020-05-23 15:19] tedyu commented on #91379
Probably fixed by:

Revert "Rely on default watch cache capacity and ignore its requested size"

[2020-05-23 15:21] #85992 closed

[2020-05-23 15:43] #90809 closed

[2020-05-23 15:56] liggitt commented on #91367
https://testgrid.k8s.io/sig-release-master-blocking#kind-master-parallel&graph-metrics=test-duration-minutes showed 17 of the 22 runs since 1700acb035ce24b760ff6e2c3fb6ee6246528ab1 merged took ~1 hour.

The first run after the revert at c37837e5eaf92c440913f7e16c9007428350a461 returned to less than 30 minutes for the run. Will keep an eye on that to see if subsequent runs match.

[2020-05-23 17:19] #91379 closed

[2020-05-23 18:19] liggitt commented on #91376
Take a look at https://kubernetes.io/docs/reference/access-authn-authz/rbac/#privilege-escalation-prevention-and-bootstrapping

When modifying a (cluster)role or (cluster)rolebinding, by default, the writer can only set permissions in a role (or create/modify a binding to a role with permissions) which they already hold.

[2020-05-23 18:19] #91376 closed

[2020-05-23 19:37] neolit123 commented on #91375
duplicate of:
https://github.com/kubernetes/kubernetes/issues/65062

/close

[2020-05-23 19:37] #91375 closed

[2020-05-23 21:07] aojea commented on #91371
the tests are ok and passing , the problem is that the job itself timed out, it is limited to 1 hours if you see the prow config

[code]

[2020-05-23 21:07] #91371 closed

[2020-05-23 21:13] aojea commented on #91371
This is the referred issue https://github.com/kubernetes/kubernetes/issues/91367#issuecomment-633081841

[2020-05-23 22:54] michaelgugino commented on #80389
How about this scenario:

I have 3 pods.  1 pod hit some kind of problem, and the process exits.  The process takes some minutes to warm up, but all data is present.  This pod is 'NotReady' but otherwise working fine.  Simultaneously, another pod on a different node dies because the node crashes, never to return.

If we disregard PDBs in this scenario, we risk data loss by terminating the NotReady

[2020-05-24 00:07] Eriner commented on #20227
I released an open source kubectl plugin to proxy Kubernetes Services on Thursday: https://github.com/soluble-ai/kubetap

I am anxiously awaiting movement on this issue, or in @vfreex's [yet unmerged PR](https://github.com/kubernetes/kubernetes/pull/57320) which has been on hold for more than a year:

@smarterclayton

Is [this](https://github.com/kubernetes/kubernetes/pull/57320#issuecomment-45162

[2020-05-24 00:13] salanki commented on #75262
Does service topology solve this? Will it no longer create blackholing IPVS entries?

[2020-05-24 01:31] #86619 closed

[2020-05-24 01:34] veeramalla-f5 commented on #91090
Any update on this

[2020-05-24 02:55] gemfield commented on #60987
@smirnov-mi I got this issue too...

[2020-05-24 03:37] Lagicrus commented on #78139
I am also having this issue

[2020-05-24 03:37] Lagicrus commented on #78139
/reopen

[2020-05-24 04:03] 13567436138 opened #91391 "kubectl set selector --resource-version has no effect"
**What happened**:

--resource-version
······
[root@master01 ~]# kubectl set selector svc nginjx-svc app=nginx2 --resource-version=1 -n test -o yaml
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: "2020-05-24T03:33:34Z"
  labels:
    app: nginjx-svc
  name: nginjx-svc
  namespace: test
  resourceVersion: "1838182"
  selfLink: /api/v1/namespaces/test/services/nginjx-svc
  uid: c1b52ecc-

[2020-05-24 05:26] RyuunoAelia commented on #91376
Oh yes... sorry for the noise I overlooked this part of the doc...

[2020-05-24 06:09] wk60807430 commented on #91331
1 Enviroment:
![image](https://user-images.githubusercontent.com/40818413/82746724-a0327180-9dc5-11ea-99e1-72d76ec72593.png)
 uname -a
Linux talcloud-web-002 4.18.0-147.8.1.el8_1.x86_64 #1 SMP Thu Apr 9 13:49:54 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
[root@talcloud-web-002 ~]# cat /etc/redhat-release
CentOS Linux release 8.1.1911 (Core)

2 Run a pod with UDP service and kube-proxy service use Clu

[2020-05-24 06:13] wk60807430 commented on #91331
Yes,calico I used it to test this problem, it's have the same problem, i think problem may be in IPVS,bu i'm not sure about that.

[2020-05-24 07:37] HirendraKoche commented on #62594
I was receiving same error while I spin up pods for jenkins container.

I removed limits on the container. It start working.

---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: jenkins-dep
  namespace: jenkins-ns
spec:
  template:
    metadata:
      name: jenkins-tmplt
      labels:
        app: jenkins
    spec:
      containers:
        - name: jenkins
          image: jenkin

[2020-05-24 07:37] #81713 closed

[2020-05-24 11:55] ialidzhikov commented on #87336
/remove-lifecycle stale

[2020-05-24 12:09] spacez320 commented on #88900
Also interested in this issue. It seems like storage features in Kubernetes don't have the ability to account for transparent, file-system shared storage.

Example:

- I have a magic distributed filesystem that isn't accounted for as a StorageClass provisioner or a PV type.
- It presents itself on Nodes at some path, say `/data`.
- Pods want to attach it as a volume.
- I create a `kubernetes.io/no

[2020-05-24 12:37] sghose0007 commented on #19317
Running - kubectl replace --raw "/api/v1/namespaces/demo-app-02/finalize" -f ./demo-app-02.json getting the below error
**Error from server (Forbidden): namespaces "demo-app-02" is forbidden: User "sso:Administrator@vsphere.local" cannot update resource "namespaces/finalize" in API group "" in the namespace "demo-app-02"**

Running this - curl -k -H "Content-Type: application/json" -X PUT --data-b

[2020-05-24 13:16] fengzixu commented on #90402
Start to implement. Sorry about leave this issue for a long time.

[2020-05-24 13:58] anton-yurchenko commented on #69264
Working on EKS 1.16, every target group has a unique suffix, for example: `k8s-istiosys-ingressg-5db8dac7c3`

[2020-05-24 14:39] farah commented on #91029
Hi @ahg-g,

I was hoping that maybe I can pick this up as I'm looking for my first PR :)

I'll get started on this anyway anyway will and attempt to break the package up . Will report in a few days.

Any tips are most welcome :) @Huang-Wei  @alculquicondor

[2020-05-24 14:40] farah commented on #91029
Hi @ahg-g,

I was hoping that maybe I can pick this up as I'm looking for my first PR :)

I'll get started on this anyway will and attempt to break the package up . Will report in a few days.

Any tips are most welcome :) @Huang-Wei @alculquicondor

[2020-05-24 14:45] tamalsaha opened #91395 "Default value not allowed for in x-kubernetes-list-map-keys"
**What happened**:
I have a CRD which was working fine in 1.17. But it fails with in 1.18.

CRD YAML:
https://github.com/kubedb/apimachinery/blob/ok117/api/crds/kubedb.com_memcacheds.yaml

In 1.18, I get the following error:

[code]

Then I tried to add a `default` value for the `protocol` field. But now, I am getting this error in 1.18 .

[code]

I am generating the CRD YAMLs using kubebuilder co

[2020-05-24 14:47] tamalsaha commented on #91395
cc: @sttts

Can you please help me understand the default value is not acceptable here?

Also, this is using the PodTemplate and Go types from the core/v1 .

[2020-05-24 14:56] tamalsaha commented on #91395
Just so you now the example CronJob yaml is controller-tools project also does not work in 1.18

https://github.com/kubernetes-sigs/controller-tools/blob/v0.3.0/pkg/crd/testdata/testdata.kubebuilder.io_cronjobs.yaml

[code]

[2020-05-24 15:32] JnMik commented on #69697
Will we eventually stop playing around with these finalizers with manual edit ?

[2020-05-24 15:45] #75803 closed

[2020-05-24 16:05] yaminisridaran opened #91396 "kubernetes.io/maxRetriesForOnFailurePolicy does not set the MaxRetryCount in Docker"
**What happened**:
I am trying to set maxRetriesForOnFailurePolicy so that docker MaxRetryCount will be set via deployment

**What you expected to happen**:
[code]
the above line should set docker MaxRetryCount to 5

/sig/api-machinery

[2020-05-24 16:12] yaminisridaran commented on #91396
sig/api-machinery

[2020-05-24 16:15] yaminisridaran commented on #91396
/sig api-machinery

[2020-05-24 17:09] liggitt commented on #91395
properties defined as list map keys must either be required or have a default value. Otherwise merge behavior on items that do not specify is undefined.

You can specify default attributes using the v1 CRD API

[2020-05-24 17:09] #91395 closed

[2020-05-24 17:22] JnMik commented on #63371
Still an issue

[2020-05-24 17:28] rkojedzinszky commented on #91073
Debugging, tracing the code, I am not really sure that this is the same issue as the other mentioned here.
Error messages show that the client is requesting higher resource versions that is available at the server:
`159128021, current: 159127032`, the former is greater by 989 than the latter. I dont know from where this resource version comes from.

I've made a very stupid patch on my kubelet/clie

[2020-05-24 17:45] JnMik commented on #74741
Once the job is finished and the pod has been removed, is there a way to get the logs of the terminated pod ? Even if It's not the the list of _kubectl get pods_. anymore ?

[2020-05-24 17:46] tamalsaha commented on #91395
Thanks @liggitt ! What is the best way to keep up with this type of breaking changes for CRDs?

[2020-05-24 18:21] tedyu commented on #74741
I couldn't find failed_jobs_history_limit in k8s codebase.
Once pod is removed, its logs are no longer kept.

[2020-05-24 18:46] JnMik commented on #74741
@tedyu I supposed it should if terraform offers it, na ? https://www.terraform.io/docs/providers/kubernetes/r/cron_job.html

[2020-05-24 18:50] ahg-g commented on #91029
Thanks @farah, feel free to send a PR my way. For now, let's just move the implementation to `scheduler/framework/runtime`

/assign @farah

[2020-05-24 19:18] papdaniel commented on #90066
I think too it could be optional to show managed fields

[2020-05-24 22:22] liggitt commented on #91396
This was suggested as a pull request in https://github.com/kubernetes/kubernetes/pull/79334, but was not accepted yet, so it's not expected that this annotation would have any effect.

[2020-05-24 22:22] #91396 closed

[2020-05-24 22:51] rearden-steel commented on #39188
This bug is older than my daughter, it will soon go to school.
Why no one is going to fix it?

[2020-05-24 23:31] robinpercy commented on #91391
/sig cli

Confirmed that `--resource-version` seems to be ignored in kubectl 1.16.x. However, it does work as expected in 1.17.0 and beyond.

[2020-05-25 00:04] danielyaa5 commented on #69696
These three pods are causing me not to be able to scale down
[code]

[2020-05-25 00:27] nelsonspbr commented on #66826
@davizucon I confirm that removing the `exclude=...` line was required to install Kubernetes on CentOS following the official instructions.

[2020-05-25 00:32] andrewsykim commented on #75262
Service topology would offer a work around for this issue ("fall back to addresses in the same zone/region") but the actual fix is a bit more involved and is proposed here https://github.com/kubernetes/enhancements/pull/1607.

[2020-05-25 00:45] tedyu commented on #90999
[cri-ctl-test.txt](https://github.com/kubernetes/kubernetes/files/4674705/cri-ctl-test.txt)

Attempted to write e2e test.
However, there was no host where the scheduler container could be found:
[code]

[2020-05-25 00:54] rbtcollins commented on #80996
/remove-lifecycle rotten

[2020-05-25 00:55] raravena80 commented on #69041
/remove-lifecycle stale

[2020-05-25 01:28] cofyc commented on #91281
Thanks!

Current extender [design proposal](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/scheduler_extender.md) doesn't document `preempt` verb (maybe documented in another place?). I'll update it first, then submit an API change proposal.

We can migrate the doc to `k/enhancements` after it's done.

[2020-05-25 02:05] xmapst commented on #79359
@loganhz I do n’t think it should be a system problem, I am using Microsoft Windows Server version 1909 [OS build 18363.778]

[2020-05-25 02:08] cofyc commented on #88229
current attach detach controller has a custom indexer to index pods by PVC keys to avoid iterating all pods every time to find pods which reference given PVC.
https://github.com/kubernetes/kubernetes/blob/4e8b56e6671893757d40e2001a3c615acebc13a2/pkg/controller/volume/attachdetach/attach_detach_controller.go#L199-L203

And there are other places we need to check if a PVC is used by a pod or not fro