[2019-12-14 19:45] liggitt commented on #43214
only the Ingress API remains in the extensions/v1beta1 API group/version, narrowing focus of this to Ingress and adding the sig-network folks working on it

[2019-12-14 19:55] altreze commented on #86176
/sig api-machinery

[2019-12-14 20:06] badaldavda opened #86273 "Container Ports for pods vanishing"
**What happened**:

1. Created a pod with one container but two containerPorts 8080 and 8081    ---> Pod Config 1
2. Now I changed both the container ports to 8080 and 8080, therefore one of them vanished. Pod Config 2
3. Again applying 8080 and 8081 (Step1), it should again go to Config 1 but it shows only one of the ports 8080 or 8081 Pod.

**What you expected to happen**:
I expected it to have

[2019-12-14 20:13] tbarrella commented on #81523
/remove-lifecycle rotten

[2019-12-14 20:16] justaugustus commented on #86182
Overall, we can see that the tests are starting to trend to green.
For those that are still listed as failing, I'll try to give a little explanation.

(I'm skipping any discussion of disposition of the 1.17 jobs as they actually aren't affected by this issue.)

## 1.16

### ci-kubernetes-e2e-gci-gce-scalability-stable1

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce

[2019-12-14 20:31] #80267 closed

[2019-12-14 20:40] badaldavda commented on #86273
/sig bugs

[2019-12-14 21:14] kvaps commented on #53059
Also affected for me, I'm using [linstor-csi](https://github.com/LINBIT/linstor-csi) plugin

[2019-12-14 21:19] kvaps commented on #53059
Steps to reproduce:

* Create StatefulSet
* Run `kubectl get pod -o wide | grep <statefulsetname>` for find the node where is it running
* `kubectl cordon <node>`
* `kubectl delete <podname>
* Run `kubectl get pod -o wide | grep <statefulsetname>` for find the new node is it running
Container will stuck for 10 minutes in `ContainerCreating` state

You also can check `kubectl get volumeattachments.

[2019-12-14 23:41] yangl900 opened #86275 "Internal load balancer configuration failure when subnet name too long"
**What happened**:
When the specified internal LB uses a subnet with longer name, the LB configuration will fail with following error:

[code]

**What you expected to happen**:
When constructing the frontend IP configuration name and the load balancing rules name, the subnet name should be truncated if too long.

**How to reproduce it (as minimally and precisely as possible)**:
Use a subnet that h

[2019-12-14 23:47] yangl900 commented on #86275
/sig cloud-provider
/area provider/azure
/assign @yangl900

[2019-12-15 00:49] smileusd commented on #85476
Thanks @jsafrane. We have persistent data in pods direcectory, why we could not also persistent data in  plugin directory? Or persistent in configmap of csi owner.

[2019-12-15 03:03] justaugustus commented on #86182
Current status...

### Testgrid dashboards for 1.17

Boards checked for FAILING:

- [sig-release-1.17-blocking](https://testgrid.k8s.io/sig-release-1.17-blocking)
- [sig-release-1.17-informing](https://testgrid.k8s.io/sig-release-1.17-informing)

<details><summary><tt>2019-12-14 21:51:19-0500</tt> FAILING sig-release-1.17-informing#aks-engine-azure-1-17-windows <a href="https://testgrid.k8s.io/sig

[2019-12-15 04:33] OJFord commented on #69661
(It went to kubernetes/kubeadm#1185.)

[2019-12-15 06:38] zedtux commented on #68981
Any news on this please?

[2019-12-15 06:41] tuminoid commented on #85894
@aojea You're creating and deleting the port on the same apiserver, if I understood your test code right. Try sequence of "create on 1, delete on 2, create on 1" instead. Like the description says, it is very easy to reproduce when forcing this kimd of sequence.

[2019-12-15 07:16] NickrenREN commented on #82067
Thanks for your comment, Jordan.
I just run `./hack/update-openapi-spec.sh ` in my local host.
And i redirect etcd logs, can not find useful logs.

[code]

[2019-12-15 07:16] NickrenREN commented on #82067
apiserver logs:

[code]

[2019-12-15 07:17] NickrenREN commented on #82067
apiserver logs:
[code]

[2019-12-15 08:27] #86248 closed

[2019-12-15 08:43] #80287 closed

[2019-12-15 08:50] gilShin commented on #45419
Upgraded kernel of Ubuntu 16.04 from 4.4 to 4.15. It took three days for the error to reoccur.
I'll see if I can upgrade the docker version from 17 to 19 as hakman suggested on a Ubuntu 16.04.
I prefer not to upgrade Ubuntu version.

[2019-12-15 10:58] vmalloc opened #86280 "Connection refused during rolling upgrade of deployment"
**What happened**:

I am running two pods, one is exposed via a service, and the other communicates with it to make
requests.

The main service lookes more or less like this:

[code]

The service is defined like this:

[code]

The other pod just periodically sends HTTP traffic to `http://my-backend:8000`.

I use helm to upgrade the deployment, running:

[code]

(I use the set-string trick to force

[2019-12-15 11:02] vmalloc commented on #86280
/sig network

[2019-12-15 11:17] kvaps opened #86281 "Extremely slow detach/attach via controller-manager (csi_attacher)"
**What happened**:

Hi, after upgrade to 1.17 we started having the next trouble, the pod migration is taking ages if any csi-volume attached. Example:

**controller-manager v1.16.4** *(17 seconds)*:
[code]

**controller-manager v1.17.0** *(6 minutes)*:
[code]
Due backoff loop the container is starting only after 10 minutes.

**What you expected to happen**:

* controller-manager detaches volume f

[2019-12-15 11:17] kvaps commented on #53059
this is new bug, reported here https://github.com/kubernetes/kubernetes/issues/86281

[2019-12-15 11:18] kvaps commented on #86281
/sig storage

[2019-12-15 12:12] gilShin commented on #45419
There's no way to upgrade docker to 19 with k8s 1.10. We'll need to upgrade to 1.15 first which will take a while because there's no way to upgrade to 1.15 strait. We'll need to upgrade one by one 1.10 -> 1.11 -> 1.12 etc'

[2019-12-15 13:43] tedyu commented on #86181
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/85275/pull-kubernetes-e2e-gce/1206026036261687298/

[2019-12-15 15:20] neolit123 commented on #86182
FYI, the 1.14 kubeadm jobs started failing with missing release artifacts too.

summary:
- the release-dev bucket latest-1.14.txt points to stable artifacts (this is not right)
- the release artifacts for v1.14.11-beta.1 are present in the  release-dev bucket (they should't be there)
- the release artifacts for v1.14.11-beta.1 are missing from the release bucket

seems as if the release and releas

[2019-12-15 16:51] #80299 closed

[2019-12-15 18:11] deiga commented on #81459
I really like this idea. I wonder what it would take to start this.

[2019-12-15 18:20] nv30 commented on #84767
@tyangliu i have exactly the same problem with postgresql in my cluster. Kubernetes 1.16.3, calico with ipvs.

[2019-12-15 19:16] deiga commented on #81459
This would require design work to figure out that the best positioning for this information would be.
I don't think the place you highlighted would be the best place as it could confuse people what "NAME - MY PROD CLUSTER" would mean.

I would rather suggest printing the context information before the table, but then we have 1 additional row before content starts. Which ist also not ideal

[2019-12-15 19:33] Bessonov commented on #40610
I'm not sure, that `fejta-bot` is useful. Why every one subscriber must get this message, just because no body take care about issues and hope that they are automagically get closed by time?

/remove-lifecycle stale

[2019-12-15 20:45] gnufied commented on #81365
/close

[2019-12-15 20:45] #81365 closed

[2019-12-15 21:22] elvishsu66 commented on #80897
I was randomly checking out the EKS EC2 nodes and found this issue...
1.14 cluster with nginx 0.26.1

[2019-12-15 21:56] #80098 closed

[2019-12-15 22:40] micw commented on #62537
Hello @uablrek ,

I don't understand why this issue is closed. It's still an issue on recent k8s. It should be a no-brainer to set up an iptables rule that preserves the source IP for a service that is routed to a local pod (using externalTrafficPolicy: Local). Currently this bug breaks documented behaviour (https://kubernetes.io/docs/tutorials/services/source-ip/):

[2019-12-15 22:51] aojea commented on #85894
I'm creating 2 clients, and IIUIC each client uses a different apiserver.
I've tried that sequence you mentioned but I'm not able to reproduce the bug running on master, let me check if I can reproduce it in 1.15

[2019-12-15 23:32] chrissnell commented on #68083
/remove-lifecycle stale

On Sun, Dec 15, 2019 at 5:57 PM fejta-bot <notifications@github.com> wrote:

[2019-12-16 01:46] pytimer commented on #86196
@sftim Sorry to reply late.

local persistent volume i try, it can solved my question, but if i use this feature, i must be do a lot of things, such as create the local pv on the node before pod running... I found a repository https://github.com/openkruise/kruise/blob/master/docs/concepts/astatefulset/README.md , it maybe can solve my question, i will try it.

Thanks.

[2019-12-16 01:59] #84452 closed

[2019-12-16 02:37] leileiwan opened #86285 "Unstructured converted to struct with anonymous field error when json is inline mode"
* The Struct is PytorchJob. Frist we convert the PytorchJob to Unstructed with json.Then we use function FromUnstructured convert Unstructed to PytorchJob,it cannot convert anonymous field "common.JobStatus" success.
[code]

* I printed the Unstructed and converted PytorchJob,PytorchJob does not have the Success status after the conversion is performed.And the Unstructured Status shows that the co

[2019-12-16 02:40] leileiwan commented on #86285
sig/api-machinery

[2019-12-16 02:41] leileiwan commented on #86285
/sig api-machinery

[2019-12-16 03:32] sbezverk opened #86286 "Every 2 second update of kube-scheduler and kube-controller-manager endpoints"
**What happened**:
a controller watching for endpoint add/delete/update gets update event every 2 seconds for kube-scheduler and kube-controller-manager's endpoints.

Update is triggered due to update of renewTime in both objects annotation.

kind: Endpoints
metadata:
  annotations:
    `control-plane.alpha.kubernetes.io/leader:` '{"holderIdentity":"kube-4_7a53b8ee-b00b-4a82-acd2-777cfc725f43","le

[2019-12-16 03:42] BobyMCbobs opened #86288 "Promote CoreV1Event test - +5 coverage"
- [x] [mock test ticket](#)
- [x] [PR](https://github.com/kubernetes/kubernetes/pull/86858)
- [ ] [promotion](https://github.com/kubernetes/kubernetes/pull/89753)

This issue proposes the writing of a new test for the API endponts `readCoreV1NamespacedEvent`, `patchCoreV1NamespacedEvent`, `listCoreV1NamespacedEvent`, `listCoreV1EventForAllNamespaces`, `deleteCoreV1NamespacedEvent`, and `createCore

[2019-12-16 03:50] ahg-g opened #86290 "Deprecate PredicateMetadata [Migration Phase 2]"
/assign @ahg-g
/sig scheduling
/priority important-soon

Part of #85822

[2019-12-16 04:02] RainbowMango opened #86292 "Provide a mechanism to support deprecated metrics testing"
**What would you like to be added**:
Once a metric be deprecated, we should update the unit test accordingly if there is any.
We need to work out a way for a unit test freely select codebase version, and also should make sure the unit test won't fail in the subsequent release.

**Why is this needed**:
Deprecated also needs to be protected.

/sig instrumentation
/assign

[2019-12-16 04:02] SataQiu commented on #86052
@pohly Thank you for pointing this out.
I think if we find a func that is being used externally, and we make sure the func is common(can be widely used), we'd better not move it. The problem is that we don't have a good way to identify these external references either.  @oomichi What do you think？

[2019-12-16 06:06] HelenaZheng commented on #83044
@haosdent
when I restart the kubelet service, the problem not happend. Do I need try the latest kernel version.

[2019-12-16 06:09] lubinsz opened #86295 "About official multi-platform initial support for Arm64"
Hi,
Currently, I checked the design-proposal of multi-platform (https://github.com/kubernetes/community/blob/a8944bea54d4bb854bdd5da98ecae3ebc7a18d9a/contributors/design-proposals/multi-platform.md),  and in this document it says so: "When all e2e tests are passing for a given platform; the platform should be officially supported by the Kubernetes team. At the time of writing, amd64 is in the offi

[2019-12-16 06:11] lubinsz commented on #86295
/sig proposals

[2019-12-16 06:12] lubinsz commented on #86295
Hi @luxas
Any comments?

[2019-12-16 06:31] lubinsz commented on #86295
cc @zhlhahaha @chendave

[2019-12-16 06:35] zjj2wry opened #86296 "kubelet did a health check on the deleted pod"
**What happened**:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is

[2019-12-16 06:36] zjj2wry commented on #86296
/sig kubelet

[2019-12-16 06:37] zjj2wry commented on #86296
/sig node

[2019-12-16 06:44] uablrek commented on #62537
@micw I totally agree. A silly thing is that local policy actually makes the call to be local (this is the hard part) but it still performs a totally unnecessary NAT anyway(!).

When I was working with this our intention was to use "externalIPs" rather than "loadBalanceIP", but we must support src-address preservation. But the response was "that is not supported" for externalIPs (period).

The cod

[2019-12-16 06:44] #62537 closed

[2019-12-16 06:54] zjj2wry opened #86297 "hpa get cpu utilization from deleted pod"
**What happened**:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is

[2019-12-16 06:55] zjj2wry commented on #86297
/sig autoscaling

[2019-12-16 07:08] uablrek commented on #62537
BTW if you need an easy way to set the loadBalancerIP, please see; https://github.com/Nordix/assign-lb-ip

[2019-12-16 07:11] boddumanohar commented on #73906
I also see the same issue. I am also not able to create a new Service of type loadbalancer. I see this error
[code]

[2019-12-16 07:21] boddumanohar commented on #73906
what is the tag that this `tag` that kubernetes is looking for?

[2019-12-16 07:43] #86275 closed

[2019-12-16 08:00] salvob opened #86299 "kube-apiserver --target-ram-mb bug?"
**What happened**:
I have a Kubernetes cluster with 4 nodes and around 100 pods and kube-apiserver start with flag --target-ram-mb=512
After start kube-apiserver consumes  ~3GB of RAM

**What you expected to happen**:
Stable memory usage.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
There are no errors in kubelet logs

[heap_profile.pb.gz]

[2019-12-16 08:04] salvob commented on #86299
@kubernetes/sig-api-machinery-bugs

[2019-12-16 08:06] #80286 closed

[2019-12-16 08:06] #80348 closed

[2019-12-16 08:16] haosdent commented on #86194
this one looks more like Linux didn't expose _nodev for different mount namespace.

[2019-12-16 08:19] zhucan commented on #86194
@haosdent Is there a way to solve this problem？

[2019-12-16 08:27] feiskyer opened #86300 "Azure cloud provider shouldn't put route table when it's already been configured"
**What happened**:

Kubernetes shouldn't put route table when it's already been configured. Azure cloud provider should check whether the route has already been created before invoking `az.CreateOrUpdateRoute(route)`.

https://github.com/kubernetes/kubernetes/blob/e680ad7156f263a6d8129cc0117fda58602e50ad/staging/src/k8s.io/legacy-cloud-providers/azure/azure_routes.go#L128-L131

**What you expected

[2019-12-16 08:31] haosdent commented on #85987
Is there any network problem, both your log show it fail when doing leader election.

[2019-12-16 08:32] feiskyer opened #86301 "[Cloud Provider] Add unit tests for pkg azure/auth"
**What happened**:

There are no unit tests yet for pkg [azure/auth](https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/legacy-cloud-providers/azure/auth), we should add unit tests.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl versio

[2019-12-16 08:36] norshtein commented on #86300
Why this is a bug? A PUT operation should be idempotent and multiple calls should get the same result?

[2019-12-16 08:41] feiskyer commented on #86300
@norshtein Right. But cloud provider shouldn't make unnecessary API calls, in case.

[2019-12-16 08:51] paxatasadey commented on #73906
The tag to be updated for the node security group as
Key="kubernetes.io/cluster/", Value="shared"

[2019-12-16 08:52] mm4tt opened #86302 "Scheduler throughput regression"
Looks like the scheduler throughput regressed over the weekend. Both gce/kubemark tests at scale of 100 and 5K nodes are failing because of that.

GCE 5K perf dash - http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=Scheduler&metricname=SchedulingThroughput

/sig scalability
/sig scheduler

[2019-12-16 08:55] mm4tt commented on #86302
/sig scheduling

/assign @ahg-g
@ahg-g, could you take a look?

BTW, it was detected based on an alert for scheduler throughput that we discussed during the last regressions and which I set up recently. The investment is already paying off :)

[2019-12-16 09:00] norshtein commented on #86300
To check whether it is configured, we need a GET call, so we're going to replace PUT call with GET call in this case?

[2019-12-16 09:10] haosdent commented on #85992
Keep retry when image appears also reasonable?

[2019-12-16 09:16] feiskyer commented on #86300
it's not a replace, we need to LIST routes and check whether it has already been there, then PUT if it's not.

[2019-12-16 09:16] aksharj commented on #63371
I encountered this too, would deleting the job and creating a new one every time we want to update the schedule be the suggested workaround till the issue is fixed?

[2019-12-16 09:31] salvob commented on #86299
@area/apiserver

[2019-12-16 09:32] norshtein commented on #86300
I got your point. But if we directly send a PUT request, seems route RP will also do this comparation? Is there any issue making us have to do the comparation by ourselves instead of sending PUT request to route RP?

[2019-12-16 10:20] boddumanohar commented on #73906
@paxatasadey  I've updated the node security group to the value said above, but I still get the same message in events.

[2019-12-16 11:01] mm4tt commented on #86302
Perf-tests presubmits are also affected, e.g. https://github.com/kubernetes/perf-tests/pull/891

[2019-12-16 11:01] mm4tt commented on #86302
/priority critical-urgent

[2019-12-16 11:04] seanlin1326 opened #86307 "a problem for jupyterhub account management"
I am a beginer for manage account by jupyterhub
I have to manage 62 acount for 62 student for a ai lesson
to do that I have to spawn 62 account server
this is a hard job
<img width="849" alt="問題github " src="https://user-images.githubusercontent.com/58818014/70901920-abbf8680-2036-11ea-857c-48f7d3155a34.PNG">
![P_20191216_142513_vHDR_Auto](https://user-images.githubusercontent.com/58818014/7090194

[2019-12-16 11:09] #76304 closed

[2019-12-16 11:13] ashokponkumar commented on #45967
/reopen

[2019-12-16 11:26] Binyang2014 commented on #85992
@haosdent Can we customize the retry policy for image pull? For some use cases, we don't want to waste time to retry. Since resource already allocated at this time.
How about add retryPolicy for image pull. The policy can be `Always/Never` ...

[2019-12-16 11:54] feiskyer commented on #86300
It would help to reduce the chances of ARM PUT throttling.

[2019-12-16 12:00] frittentheke commented on #76568
/remove-lifecycle stale.

[2019-12-16 12:07] boddumanohar commented on #73906
I've created the cluster using kubespray and the kubernetes version is 1.14.

[2019-12-16 12:28] jsafrane commented on #85476
No, API server may not be reachable at the point when kubelet starts.

PRs are welcome. It's not so easy to implement global directory reconstruction. Even reconstruction from pod directory took us several iterations to get it right. Maybe using some sort of checkpoints could help.

[2019-12-16 12:30] levimm commented on #85805
/assign

[2019-12-16 12:32] strigazi commented on #75457
@ozankabak Have you found the commit that introduced this change? I can't find it anywhere. Nothing in the changelog either.

[2019-12-16 12:44] claudiubelu commented on #78861
/remove-lifecycle stale

[2019-12-16 13:24] jkaniuk commented on #86302
It was triggered by https://github.com/kubernetes/kubernetes/pull/86224
which adds logging:
https://github.com/kubernetes/kubernetes/pull/86224/commits/c54dbd85e00d1739ac925370b02aab1bce54ce58#diff-c4a6434e8b170fc499461028d284c57bR82
[code]

Run before merge:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1205638860017504259

kub-scheduler.log: 100kB, 8k

[2019-12-16 13:28] ahg-g commented on #86302
Thanks, we are aware of it, this should solve it: https://github.com/kubernetes/kubernetes/pull/86284

[2019-12-16 13:30] ahg-g commented on #86302
We will also move the Error log to a V(4) in case CA in the future call Filters without PreFilters.

[2019-12-16 13:45] liggitt commented on #83870
tracked in https://github.com/kubernetes/kubernetes/issues/82875

/close

[2019-12-16 13:45] #83870 closed

[2019-12-16 13:46] liggitt commented on #86067
#85970 merged

/close

[2019-12-16 13:46] #86067 closed

[2019-12-16 13:48] liggitt commented on #84514
is a general issue like this actionable? is this tracking specific jobs/tests and assigned to specific sigs/owners?

[2019-12-16 13:51] liggitt commented on #86182
1.14 bazel build is failing with:

[code]

[2019-12-16 13:54] blurpy commented on #85205
I've verified that the problem has been resolved in 1.15.7.

[2019-12-16 13:54] #85205 closed

[2019-12-16 14:32] benmathews commented on #45967
@ashokponkumar This is still a valid issue in my mind. I just got tired of marking it not stale. If you want to work on it, I'd love to reopen it and have some progress made on it.

[2019-12-16 14:38] ashokponkumar commented on #45967
Yes, @benmathews. I agree. I was looking into a similar situation. Will probably explore it offline, and then once I have a concrete proposal will come back and request you to reopen.

[2019-12-16 14:46] liggitt commented on #86181
interestingly this is not flaky at all against master

https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-default&width=5&sort-by-flakiness=&include-filter-by-regex=GCEPD
and is exceptionally flaky in PR jobs:

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&include-filter-by-regex=GCEPD&width=5

[2019-12-16 14:58] liggitt commented on #86181
in the last 47 runs, there were 26 failures (and only one PR looked like it could have introduced relevant failures):

* https://github.com/kubernetes/kubernetes/pull/77253
* https://github.com/kubernetes/kubernetes/pull/80973
* https://github.com/kubernetes/kubernetes/pull/81895
* https://github.com/kubernetes/kubernetes/pull/81928
* https://github.com/kubernetes/kubernetes/pull/81934
* https://g

[2019-12-16 15:38] msau42 commented on #86281
@kubernetes/sig-storage-bugs

[2019-12-16 15:41] liggitt opened #86312 ""OCI runtime start failed" runc race causes many CI failures/flakes"
**Which jobs are flaking**:
pull-kubernetes-e2e-gce
ci-cos-containerd-e2e-ubuntu-gce
ci-kubernetes-e2e-kops-gce

Changes needed to get the fix into official containerd releases:
- [x] runc race condition fixed - https://github.com/opencontainers/runc/pull/2185
- [x] runc release - https://github.com/opencontainers/runc/releases/tag/v1.0.0-rc10
- [x] cri bump of runc - https://github.com/containerd

[2019-12-16 15:41] liggitt commented on #84514
opened https://github.com/kubernetes/kubernetes/issues/86312 to track this specifically

[2019-12-16 15:42] liggitt commented on #86312
From @msau42 in https://github.com/kubernetes/kubernetes/issues/84514#issuecomment-548008149

[2019-12-16 15:50] msau42 commented on #86181
@kubernetes/sig-storage-test-failures
/assign @msau42

[2019-12-16 16:04] pglass commented on #5698
For people arriving here from google, looking to disable colors for the cluster-info command, try setting `TERM=dumb`.

[code]

This works for me as of kubectl v1.16.2.

Seems an odd way to disable colors, but source for that is here: https://github.com/daviddengcn/go-colortext/blob/186a3d44e9200d7eb331356ca4864f52708e1399/ct_ansi.go#L11-L13

[2019-12-16 16:10] strigazi commented on #75457
k8s v1.14.6 works fine, when I pass `--node-labels=node-role.kubernetes.io/master=""` my master is labeled with this label exactly.

In k8s v1.14.7 `--node-labels=node-role.kubernetes.io/master=""` in kubelet is converted to `--node-labels="node.kubernetes.io/master="` according to kubelet logs and kubectl get node.

[2019-12-16 16:10] tavin commented on #82435
We are planning to use it for launching batch jobs from a previously deployed spec, where in particular the docker image reference in the spec corresponds to a build number that is "released" to the environment where the kubernetes cluster sits.

[2019-12-16 16:14] #79926 closed

[2019-12-16 16:18] liggitt commented on #79564
e2e deletion made asynchronous in https://github.com/kubernetes/kubernetes/pull/82439

/close

[2019-12-16 16:18] #79564 closed

[2019-12-16 16:23] liggitt commented on #86179
this is the second flakiest test (failing on ~15% of PR runs)

[2019-12-16 16:26] thockin commented on #69811
The main problem I see with this is that `externalIPs` are totally unmanaged.  To make `Local` work (at least on some platforms) we need to fail an LB health-check on any node that does NOT have a backend.  We support that through kube-proxy, but not for externalIPs - we key it off of "type=LoadBalancer".

I suppose we could key it off externalIPs, too.

What I don't know is why this is preferable

[2019-12-16 16:37] spiffxp commented on #86068
/priority critical-urgent
This is the 3rd flakiest test for pull-kubernetes-e2e-gce

[2019-12-16 16:41] spiffxp commented on #85762
Retitling because I don't think this specific test failure is IPv6 specific anymore

[2019-12-16 16:43] liggitt commented on #86080
it appears we have a test for this but it is labeled Flaky and is not release blocking

[code]

[2019-12-16 16:45] spiffxp commented on #85762
triage: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Delete%20Grace%20Period%20should%20be%20submitted%20and%20removed
[code]

flaking in pull-kubernetes-e2e-gce: https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&include-filter-by-regex=Delete%20Grace

/priority important-soon
This is the fourth flakiest test for pull-kubernetes-e2e-gce

[2019-12-16 16:48] seils commented on #69811
99% of the time I recommend externalIPs it is to get around the feature gap
between the cloud-native load balancer and what can be instantiated through
the Kubernetes manifest.

On Mon, Dec 16, 2019 at 11:26 AM Tim Hockin <notifications@github.com>
wrote:

[2019-12-16 16:52] liggitt commented on #86181
also, the timeout error is on the namespace delete, not the PD detach

[2019-12-16 16:56] spiffxp commented on #84514
I'm inclined to suggest we close this unless it's actionable, the information in the description isn't specific enough to know what needs to be done to close this out

[2019-12-16 16:59] spiffxp commented on #86068
triage link: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=PreemptionExecutionPath%20runs%20ReplicaSets%20to%20verify%20preemption%20running%20path

Retitled since this is failing for more than just the one job

[2019-12-16 17:06] tedyu commented on #86299
Can you see if this high memory consumption is reproducible on 1.17.0 release ?
If it reproduces, can you attache heap profile ?

Thanks

[2019-12-16 17:11] liggitt commented on #86181
opened https://github.com/kubernetes/kubernetes/pull/86313 to mark flaky to unblock the queue, opened https://github.com/kubernetes/kubernetes/pull/86314 to add debugging around the timeout failure; will keep this issue open and in the milestone to ensure the test is fixed or removed before 1.18.0

[2019-12-16 17:11] soltysh commented on #86179
I'll look into it.
/assign

[2019-12-16 17:13] paxatasadey commented on #73906
@boddumanohar .. I got your point. Actually the K8s version 1.14 only support single untagged SG per instnace. But it seems you have multiple untagged SGs per instance. Please remove the unnecessary ones or tagged those if possible. The aws.go is as bellow:
	if len(untagged) > 0 {
		// For back-compat, we will allow a single untagged SG
		if len(untagged) != 1 {
			return nil, fmt.Errorf("Multiple

[2019-12-16 17:15] #79277 closed

[2019-12-16 17:19] uablrek commented on #62537
The passing to the local node for externalIPs and "externalTrafficPolicy: Local" has been corrected somewhere from k8s 1.10. I tested on k8s 1.17.0 and externalIPs are always treated as "Cluster". Sorry for mentioning it without testing if it's still valid.

[2019-12-16 17:23] spiffxp commented on #83869
https://github.com/kubernetes/test-infra/pull/15516 has caused failures to go up for this job since we're no longer hiding flakes

[2019-12-16 17:23] liggitt commented on #85762
debugging added in https://github.com/kubernetes/kubernetes/pull/86315

[2019-12-16 17:27] spiffxp commented on #83869
Top flakes
- https://github.com/kubernetes/kubernetes/issues/86181
- https://github.com/kubernetes/kubernetes/issues/86179
- https://github.com/kubernetes/kubernetes/issues/86068
- https://github.com/kubernetes/kubernetes/issues/85762

[2019-12-16 17:27] liggitt commented on #86179
if there's not an obvious immediate fix, I would recommend:
1. marking the test as `[Flaky]` to skip the test in merge-blocking job runs
2. opening a second PR that reverts the `[Flaky]` change and adds debugging commits and do `/test ...` on that PR to flush out issues
3. keeping this issue open and in the current milestone to track resolution of the test before release (either by fixing the test

[2019-12-16 17:37] boddumanohar commented on #29876
has this issue been unified? did kubernetes unify `kubectl get events` and the events seen in `kubectl describe pod`?

[2019-12-16 17:43] liggitt opened #86317 "[Flaky test] [sig-storage] CSI mock volume"
**Which jobs are flaking**:
pull-kubernetes-e2e-gce
pull-kubernetes-e2e-kind

**Which test(s) are flaking**:
* `[sig-storage] CSI mock volume CSI workload information using mock driver should not be passed when podInfoOnMount=nil`
* `[sig-storage] CSI mock volume CSI workload information using mock driver should not be passed when podInfoOnMount=false`
* `[sig-storage] CSI mock volume CSI Volume e

[2019-12-16 17:50] csallen1204 commented on #71887
Same Issue Here:
k8s: v1.16.2
docker: 18.06.3-ce
linux: Centos 7.6
cgroup-driver: systemd

[2019-12-16 17:51] jkaniuk commented on #86302
Based on the first run, limiting logging did not help:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1206619573504184323
`[measurement call SchedulingThroughput - SchedulingThroughput error: scheduler throughput: actual throughput 89.800000 lower than threshold 90.0000`
/reopen

[2019-12-16 17:52] spiffxp opened #86318 "[Flaky Test] In-tree Volumes: Error getting c-m metrics : the server could not find the requested resource"
**Which jobs are flaking**:
- pull-kubernetes-e2e-gce
- ci-kubernetes-e2e-gci-gce

**Which test(s) are flaking**:

* [sig-storage] In-tree Volumes [Driver: hostPath] [Testpattern: Inline-volume (default fs)] subPath should support readOnly file specified in the volumeMount [LinuxOnly]
* [sig-storage] In-tree Volumes [Driver: emptydir] [Testpattern: Inline-volume (default fs)] subPath should suppor

[2019-12-16 17:57] jkaniuk commented on #86302
kube-scheduler.log (https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1206619573504184323)
[code]

[2019-12-16 18:02] ahg-g commented on #86302
#86284 hopefully will fix it.

[2019-12-16 18:29] Huang-Wei commented on #68981
@zedtux You can check out this: https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/

[2019-12-16 18:40] kenotsolutions commented on #85776
cd ~/kthw

kubectl config set-cluster kubernetes-the-hard-way \
  --certificate-authority=ca.pem \
  --embed-certs=true \
  --server=https://localhost:6443

kubectl config set-credentials admin \
  --client-certificate=admin.pem \
  --client-key=admin-key.pem

kubectl config set-context kubernetes-the-hard-way \
  --cluster=kubernetes-the-hard-way \
  --user=admin

kubectl config use-context kuber

[2019-12-16 18:42] byxorna commented on #84541
I can confirm that pulling in https://github.com/kubernetes/kubernetes/pull/85993 fixes this issue with kubenet.

[2019-12-16 18:48] cjwagner commented on #86257
Can you add an image publishing job instead so that this is done automatically when the [version file](https://github.com/kubernetes/kubernetes/blob/master/test/images/dnsutils/VERSION) is updated? https://github.com/kubernetes/test-infra/tree/master/config/jobs/image-pushing

[2019-12-16 18:53] liggitt commented on #83869
I'm not sure these "job X has flaked N times" issues are very useful for the primary CI jobs. when should they be closed? who should own them?

[2019-12-16 18:57] dashpole commented on #43916
/cc

[2019-12-16 19:01] claudiubelu commented on #86257
https://github.com/kubernetes/test-infra/pull/14833

[2019-12-16 19:06] msau42 commented on #86317
@kubernetes/sig-storage-test-failures
/assign @gnufied

[2019-12-16 19:13] liggitt commented on #86285
is the `,inline` json tag not required to get inline behavior?

[2019-12-16 19:14] zedtux commented on #68981
Thank you @Huang-Wei, looks good, I'll give it a try after upgraded my cluster from 1.15.

[2019-12-16 19:40] liggitt commented on #82387
opened https://github.com/kubernetes/kubernetes/pull/86320 to add a uid precondition to the kubelet pod status patch

[2019-12-16 19:43] tianhe-oi commented on #86262
Any ideas for this?

[2019-12-16 19:47] wojtek-t commented on #82069
/remove-lifecycle stale

I think we already understand everything is happening here - I will try to summarize it tomorrow.

[2019-12-16 19:51] msau42 commented on #86181
Looking at this run:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/86304/pull-kubernetes-e2e-gce/1206527716946350083/

[code]

namespace deletion timeout in the test is 5 minutes, so looks like this took just a little longer.  Looking into what is taking the pod so long to be deleted

[2019-12-16 20:07] liggitt commented on #86068
if there's not an obvious immediate fix, I would recommend:
1. marking the test as `[Flaky]` to skip the test in merge-blocking job runs
2. opening a second PR that reverts the `[Flaky]` change and adds debugging commits and do `/test ...` on that PR to flush out issues
3. keeping this issue open (at the current priority, since I would expect the sig to prioritize test restoring test coverage of e

[2019-12-16 20:19] liggitt commented on #86068
flakes in the last ~24 hours:

failed in 14 our of ~125 runs (~11% failure rate)

* https://github.com/kubernetes/kubernetes/pull/77253 - failure: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/1206529353358249984
* https://github.com/kubernetes/kubernetes/pull/80831 - failure: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kuberne

[2019-12-16 20:20] Huang-Wei commented on #86068
/assign

I will take a look.

[2019-12-16 20:33] silphid commented on #70674
Also had same issue and found this helpful article:
https://www.timcosta.io/kubernetes-service-invalid-clusterip-or-resourceversion/
(TLDR: remove `last-applied-configuration` annotation)

[2019-12-16 20:56] msau42 commented on #86181
It seems like kubelet tore down and deleted the Pod pretty quickly and it was registered by apiserver log. For some reason, the namespace controller doesn't see that deletion?

kubelet.log:
[code]

apiserver.log
[code]

[2019-12-16 21:11] kenotsolutions commented on #85776
piVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
  name: rewrite
  namespace: default
spec:
  rules:
  - host: rewrite.bar.com
    http:
      paths:
      - backend:
          serviceName: http-svc
          servicePort: 80
        path: /something(/|$)(.*)

[2019-12-16 21:20] tedyu commented on #86181
From kubelet.log in https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/86304/pull-kubernetes-e2e-gce/1206527716946350083/artifacts/e2e-143519fb90-674b9-minion-group-62ps/ , a little earlier than the log @msau42 posted:

E1216 11:23:16.309541    1335 nestedpendingoperations.go:270] Operation for "\"kubernetes.io/glusterfs/8cadf6af-c02f-4701-9708-b6b4621e49d3-test-volume\" (\"8cadf6af-c02f-47

[2019-12-16 21:23] aramase commented on #86125
/assign

[2019-12-16 21:48] logicalhan commented on #79108
/remove-lifecycle stale

[2019-12-16 22:10] liggitt commented on #86179
marked as `[Flaky]` in https://github.com/kubernetes/kubernetes/pull/86327, will leave this issue open to track root causing, fixing, restoring the test before release

[2019-12-16 22:11] liggitt commented on #86068
marked as `[Flaky]` in https://github.com/kubernetes/kubernetes/pull/86327, will leave this issue open to track root causing, fixing, restoring the test before release

[2019-12-16 22:22] liggitt commented on #82387
The uid-precondition patch should resolve the issue @wongma7 described, will monitor https://k8s-testgrid.appspot.com/sig-release-master-blocking#Conformance%20-%20GCE%20-%20master&sort-by-flakiness=&width=10&include-filter-by-regex=StatefulSet for a few days before closing this.

Because this was a real bug, I've opened cherry-picks to release branches as well, but would like to let the fix soak

[2019-12-16 22:31] jingxu97 commented on #77268
/remove-lifecycle rotten

[2019-12-16 22:44] msau42 commented on #86181
I'm not sure the kubelet panic is related to this test flake.

So far in this flake, the API server did register pod deletion, but the namespace controller still seems to think the pod is not deleted.

[2019-12-16 22:44] mml opened #86328 "Misconfigured core dump pattern can lead to log spam on GCI"
The way we're setting the core dump pattern on GCI (COS) leaves the kernel complaining over and over on the console.  Fix incoming.

[2019-12-16 22:45] shalini-b commented on #70505
@saad-ali Can I know what is the expected behavior of an SP if user chooses an access mode of `ROM` for PVC as well as PV and does not specify `Pod.spec.volumes.persistentVolumeClaim.readOnly` as `true`? Is the SP supposed to read the access mode of PVC from Volume Capabilities and set the read-only flag while mounting the volume during NodeStage/NodePublish?

[2019-12-16 23:28] tianhe-oi commented on #86262
It happens we need to enable `CheckVolumeBinding` in the scheduler `predicates`.

[2019-12-16 23:28] tianhe-oi commented on #86262
Closing the issue.

[2019-12-16 23:28] #86262 closed

[2019-12-16 23:46] zqingqing1 commented on #86300
I'd like to work on this

[2019-12-17 00:06] bswartz commented on #70505
Access modes are merely a minimum access level requested by the user. ReadOnlyMany means the user wants to attach the volume to multiple pods, and only requires read access, but higher access is acceptable. You have to specify read only in the pod spec as well if you want k8s to actively prevent write access.

[2019-12-17 00:22] pooneh-m commented on #86007
I hit the same issue.

The issue that I am hitting is that the annotation of [MatchLabel](https://github.com/kubernetes/apimachinery/blob/master/pkg/apis/meta/v1/types.go#L1067) does not have the required protobuf_key and protobuf_val tags and the the server panics when [unmarshalling](https://github.com/golang/protobuf/blob/master/proto/table_unmarshal.go#L1738) request if the MatchLabel field is

[2019-12-17 00:22] #79445 closed

[2019-12-17 00:49] yguo0905 commented on #86328
@mml, could you elaborate on the kernel complains due to the current relative path a little bit?

[2019-12-17 01:26] davidz627 commented on #68528
/remove-lifecycle rotten

[2019-12-17 01:29] shalini-b commented on #70505
@bswartz Thank you for the explanation :)

[2019-12-17 01:33] aftlabs commented on #40406
It can be done here is the example from: [https://deploy-preview-2317--kubernetes-io-vnext-staging.netlify.com/docs/concepts/tools/kubectl/object-management-using-commands/#using-set-commands-to-modify-objects-before-creation](url)

clusterip <myservicename> -o yaml --dry-run | kubectl set selector --local -f - 'environment=qa' -o yaml | kubectl create -f -

[2019-12-17 01:57] justaugustus commented on #86182
@neolit123 @liggitt -- I believe the 1.14 bazel job is misconfigured. This issue is opened (https://github.com/kubernetes/test-infra/issues/15514) to discuss and I've opened https://github.com/kubernetes/test-infra/pull/15612 to hopefully fix.

[2019-12-17 02:08] anencore94 commented on #86244
Thanks @praseodym. I understand your recommendation to use LimitRange objects.
By the way, I just wonder what '0' means actually.
By your comment, you mean the resource.limits and resource.requests values are used only for scheduling?
If so, for example, resource.requests.cpu = 4 and resource.requests.cpu = 0 does not affect any performance of pod actually?

Thanks for your comment again.

[2019-12-17 02:12] BenTheElder commented on #68091
`pull-kubernetes-e2e-kind` (NOT `.*kind.*conformance` jobs) was setting `GINKGO_TOLERATE_FLAKES=y` to follow `pull-kubernetes-e2e-gce`.

This was resolved over the weekend shortly after the main change merged. https://github.com/kubernetes-sigs/kind/pull/1171

This job will also be impacted.

[2019-12-17 02:31] xinghui-hou commented on #71887
Same Issue Here:
k8s: v1.15.5
docker: 18.6.2
linux: Centos 7.4
kernel: 4.4.200
cgroup-driver: systemd

[2019-12-17 03:00] pjh commented on #74674
/remove-lifecycle rotten

[2019-12-17 03:39] HistoryGift opened #86332 "resource extend"
when any nodes in my cluster has 2 CPU , but my requirement needs 4 CPU;
I set 4 CPU in my yaml doc
resource:
   limits:
      cpu: '4'
but pod is always in pending ;
the version of my k8s  is 1.16
are there some special options to meet my requirement ?

[2019-12-17 04:00] Tran-Hoang-Lam commented on #73056
Is that your client version or both?

[2019-12-17 04:43] nick4fake commented on #54579
I am sorry for sending notification to everyone involved in this thread but I simply wanted to note another aspect: same-file referencing.
What do you think about allowing referencing at least definitions in the same file?

[2019-12-17 05:07] liggitt opened #86333 "[Flaky test] [sig-apps] Job should run a job to completion when tasks sometimes fail and are not locally restarted"
**Which jobs are flaking**:
pull-kubernetes-e2e-kind

**Which test(s) are flaking**:
* `[sig-apps] Job should run a job to completion when tasks sometimes fail and are not locally restarted`

**Testgrid link**:
https://testgrid.k8s.io/presubmits-kubernetes-nonblocking#pull-kubernetes-e2e-kind&include-filter-by-regex=Job.*completion

**Reason for failure**:

**Anything else we need to know**:
https

[2019-12-17 05:08] liggitt commented on #86333
Failure at https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/84735/pull-kubernetes-e2e-kind/1206768560399978496

[2019-12-17 05:10] liggitt opened #86334 "[Flaky test] TestPreemption"
**Which jobs are flaking**:
pull-kubernetes-integration

**Which test(s) are flaking**:
TestPreemption

**Testgrid link**:
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&include-filter-by-regex=TestPreemption

/sig scheduling

[2019-12-17 05:22] liggitt commented on #86332
To schedule a pod successfully, you need nodes in your cluster with sufficient resources. When a pod requests more resources than can be allocated, it is expected it will remain in pending state.

/close

[2019-12-17 05:22] #86332 closed

[2019-12-17 05:31] gossion opened #86335 "Add a config option to azure cloud provider for the pre-configured loadbalancer"
**What would you like to be added**:
Add a new configuration to AKS cloud provider for the pre-configured load balancers, and then k8s can skip the reconciliation of loadbalancer backend pool

**Why is this needed**:
On AKS with stand loadbalancer, the loadbalancer backend pools are fully configured by AKS, so cloud provider itself doesn't need to check and configure the backend pool for each VM.

[2019-12-17 05:38] #85746 closed

[2019-12-17 05:38] #85352 closed

[2019-12-17 05:39] #86263 closed

[2019-12-17 05:43] dims commented on #86295
@lubinsz Here's my thought / brain dump
- We should publish the daily test results for the equivalent of `pull-kubernetes-e2e-gce` job, NOT just conformance
- Do we support the basic tools used the community (`kind`, `kubeadm`) and ensure their documentation is updated to reflect.
- Do we support some of the installers? (updated documentation?)
- Do we have fully transparent build scripts? (To ens

[2019-12-17 05:48] liggitt opened #86336 "[Flaky test] [sig-storage] PersistentVolumes-local [Volume type: blockfswithoutformat] Two pods mounting a local volume one after the other should be able to write from pod1 and read from pod2"
**Which jobs are flaking**:
pull-kubernetes-e2e-kind

**Which test(s) are flaking**:
* `[sig-storage] PersistentVolumes-local [Volume type: blockfswithoutformat] Two pods mounting a local volume one after the other should be able to write from pod1 and read from pod2`

**Testgrid link**:
https://testgrid.k8s.io/presubmits-kubernetes-nonblocking#pull-kubernetes-e2e-kind&include-filter-by-regex=Pers

[2019-12-17 05:48] liggitt commented on #86336
Failure at https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/84735/pull-kubernetes-e2e-kind/1206803954063642627

[2019-12-17 05:49] paulgmiller commented on #76338
We got this one more time last week. We run like 30 clusters and only saw this once in the last months so this is obviously extremely rare.  Still didn't have metrics that made it into 1.15.
Still think a heartbeat for kubeproxy's watch would be good, but low pri given low occurrence rate.

Didn't see this in our nginx ingress which takes a similar watch.

[2019-12-17 05:56] sofat1989 opened #86337 "podsandbox(pause) will be OOMKilled for guaranteed Pods"
Recently we found our pods were OOMKilled, At the same time, sandbox was OOMKilled too.

[code]
the oom_score_adj of both the process of uers' application and pause process are  `-998`
So os will choose one of them to be killed.

From the codes of kubelet, we found that this value is set by kubelet
[code]
If the QoS of the pod is guaranteed, it will set the oom_score_adj to `-998`

Here is the def

[2019-12-17 06:00] sofat1989 commented on #86337
/sig node

[2019-12-17 06:00] feiskyer commented on #86300
/assign @zqingqing1

[2019-12-17 06:08] hamzanasirr commented on #71692
Hi Casey,

In my case, /etc/cni/net.d file isn't present. Is there a command to fix it?

Thanks!

[2019-12-17 06:10] feiskyer commented on #86335
/assign gossion
/area provider/azure
/sig cloud-provider

[2019-12-17 06:34] brancz commented on #69507
/remove-lifecycle stale

[2019-12-17 07:39] edwardbadboy commented on #62900
Thanks, Abhshek, Jay.

I also think the answer is no. It's adding 1 more field to the existing arguments. The length of the Pod uid value is limited, too.

I think the problem is that if kubelet doesn't provide Pod uid, it's not possible to keep the mapping correct for StatefulSet. Suppose the CNI plugin knows all Pod names and uids from Kubernetes apiserver. When Kubernetes performs a rolling upd

[2019-12-17 07:41] salvob commented on #86299
Can I upgrade only the master node?

[2019-12-17 07:52] liggitt opened #86340 "[Flaky test] staticcheck reports used functions as unused"
**Which jobs are flaking**:
pull-kubernetes-verify

**Which test(s) are flaking**:
staticcheck

Sometimes reports methods as unused when they are, in fact, used

**Testgrid link**:
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-verify&include-filter-by-regex=staticcheck

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-verify/12068276108106

[2019-12-17 07:53] wojtek-t commented on #86299
After start kube-apiserver consumes ~3GB of RAM

the --target-ram-mb flag is only a hint, it does NOT guarantee that the usage will be within that boundary.

[2019-12-17 07:57] salvob commented on #86299
Ok. The object cacher.newCacheWatcher memory continuously increasing every day. What could be the cause?

[2019-12-17 08:00] wojtek-t commented on #86299
Leaking watches:
https://github.com/kubernetes/kubernetes/pull/84693
https://github.com/kubernetes/kubernetes/pull/85410

though, both should be in 1.17 release

[2019-12-17 08:10] vutuong opened #86341 "Provide a mechanism to support container migration in K8S"
**What would you like to be added**:
When we checkpoint then stop container by using docker engine, pod status will be marked as Error. But after that, when we restore Container, pod status should back to Running.
**Why is this needed**:
One of the key challenges for edge computing is keeping quality of service guarantees better than traditional cloud services while offloading services to the end

[2019-12-17 08:19] praseodym commented on #86244
Setting a request value will set the [container’s cpu_shares value](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#how-pods-with-resource-limits-are-run), which affects its performance in periods of CPU contention (i.e. how much CPU each container gets to use when the CPU is 100% in use).

[2019-12-17 08:40] WoohyungHan opened #86342 "Need VolumeSnapshot Status"
**What would you like to be added**:
If I create VolumeSnapshot with pvc that not exists, It created successfully. I can find error message in csi snapshotter driver pod, but I think we can provide more information. I'm using kubernetes v1.15.0 and ceph-csi/rook-ceph latest version.

**Why is this needed**:
User want to know the snapshot is really created or not.

[2019-12-17 08:40] WoohyungHan commented on #86342
/sig storage

[2019-12-17 08:42] tuananhnguyen-ct commented on #85643
Having the same issue. Any graceful termination in the pod itself will not help, since the port at node level stop accepting traffic.

[2019-12-17 08:47] glyn commented on #82396
https://github.com/google/go-containerregistry is consumed by many projects including some that I'm involved with, so I'd like to see progress on this issue and am also happy to help. How's it going @andrewsykim?

[2019-12-17 08:48] #86342 closed

[2019-12-17 08:54] tsuna commented on #73056
These days I'm on client version v1.17.0 and server version v1.15.5 but I've seen it with all combinations of clients and servers over the months

[2019-12-17 09:03] kireledan commented on #77557
I was able to replicate this in 1.13.13.
I was not able to replicate it in the latest version.

K8s version:  v1.13.13-beta.0-dirty
controllermanager.go:115] Version: v1.13.13-beta.0-dirty

I started off with the 1.2.3.4 rule and added the 4.3.2.1 rule. That failed. When I deleted and re-created with both these rules. It worked.
[code]

[2019-12-17 09:11] wojtek-t commented on #82069
To quickly summarize it:
- the high latencies were caused by lock contention for memory allocations at golang level
- memory allocations were originating from creating new watches

The problem was happening in density test, when we are quickly increasing the number of active watches in the system (which means quickly growing memory usage at apiserver). That is resulting in lock contention at the g

[2019-12-17 09:11] #82069 closed

[2019-12-17 09:21] FloatingSunfish commented on #51835
Experiencing it too and it's rather annoying to have to confirm if Kubernetes properly cleaned the old pods or not.
Hopefully, this gets fixed soon.

[2019-12-17 09:33] riuvshyn commented on #22368
2020 is coming and we still doing manual rollouts for if CM is changed, yay! 🎅 🎄 🎁

[2019-12-17 09:35] leileiwan commented on #86285
Yes. But when there are no json information for StructB, the SturctB will not convert success. Beacuse len(fieldInfo.name) == 0 will not be satisfied (The fieldInfo.name is string structB),but json has no filed structB.
[code]

[2019-12-17 09:35] brancz commented on #67126
/remove-lifecycle rotten

[2019-12-17 10:11] jethrogb commented on #62788
/remove-lifecycle stale

[2019-12-17 10:24] przemek-pokrywka commented on #35189
A piece of advice for everybody running across this problem. The root cause is the following feature of the Python Click library: http://click.palletsprojects.com/en/5.x/options/#dynamic-defaults-for-prompts - all Python applications that use the `auto_envvar_prefix` options are affected. In the example above the variable prefix was `RQ_DASHBOARD` (https://github.com/Parallels/rq-dashboard/blob/ma

[2019-12-17 10:47] george-angel commented on #13136
/remove-lifecycle stale

[2019-12-17 11:06] jkaniuk opened #86345 "Flaky SchedulingThroughput measurement in scalability tests"
SchedulingThroughput measurement in scalability tests is flaky in all but one (1.17) release branches.
Probably threshold is set too high, especially for older branches.

http://perf-dash.k8s.io/#/?jobname=gce-100Nodes-1.14&metriccategoryname=Scheduler&metricname=SchedulingThroughput
http://perf-dash.k8s.io/#/?jobname=gce-100Nodes-1.15&metriccategoryname=Scheduler&metricname=SchedulingThroughput
h

[2019-12-17 11:06] jkaniuk commented on #86345
Flakes on master branch (could be fixed by: #86284):
12/11/2019 - https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1204859707991265282
`[measurement call SchedulingThroughput - SchedulingThroughput error: scheduler throughput: actual throughput 78.200000 lower than threshold 90.000000]`
12/16/2019 - https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-k

[2019-12-17 11:08] jkaniuk commented on #86302
Actually, reducing logging helped significantly:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-cos-master-scalability-100

out of 23 runs since merge, only two were below the threshold::
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1206619573504184323
`[measurement call SchedulingThroughput - SchedulingThroughput error: scheduler throughput:

[2019-12-17 12:20] ahg-g commented on #86302
Reducing logging does help for sure, the logging you saw wasn't intentional, it was a result of missing PreFilter plugins.

[2019-12-17 12:26] bodji commented on #50375
+1

[2019-12-17 12:54] arjunrn opened #86349 "HPA should consider individual containers when scaling based on resource metrics"
**What would you like to be added**:
Currently when calculating the utilization of resources on pods the usage of all the containers in the pods is summed and then divided by the sum of the requested resources of all containers. The HPA should have a way of specifying how the utilization should be computed. If it should be the sum of the containers, or if it should be the average of the individual

[2019-12-17 12:55] arjunrn commented on #86349
/sig autoscaling

[2019-12-17 13:02] odinuge commented on #80452
/remove-lifecycle stale

[2019-12-17 13:06] jkaniuk commented on #86302
Yes, I understand.
Fingers crossed for retest ;)

[2019-12-17 13:12] andyzhangx opened #86350 "Azure data disk should use same encryption key as os disk"
**What happened**:
Azure data disk should use same encryption key as os disk if key is not provided by user, otherwise user would mess up with too many keys

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuratio

[2019-12-17 13:20] tavin opened #86352 "Field selectors for job status: active, failed, succeeded"
**What would you like to be added**:

Field selectors for job status: `active`, `failed`, `succeeded`

**Why is this needed**:

Currently the only supported status selector is `successful` (which appears to match the `succeeded` field). My use case is to delete jobs that have stopped running and failed. I can obtain a list using `status.successful=0` but I still have to walk through the returned s

[2019-12-17 13:26] tavin commented on #86352
@kubernetes/sig-architecture-feature-requests

[2019-12-17 13:32] ahg-g opened #86353 "Use framework.Status instead of PredicateFailureError to report extenders filter status [Migration Phase 2]"
Specifically: https://github.com/kubernetes/kubernetes/blob/ec4f3e306446f30e3db9df0a00b83ddcd2cd9941/pkg/scheduler/core/generic_scheduler.go#L573

and remove all references to PredicateFailureReason and PredicateFailureError from generic_scheduler.go.

/assign @Huang-Wei
/sig scheduling
/priority important-soon

Part of #85822

[2019-12-17 13:37] liggitt opened #86355 "[Flaky test] [sig-cli] Kubectl Port forwarding With a server listening on localhost that expects a client request should support a client that connects, sends DATA, and disconnects"
**Which jobs are flaking**:
pull-kubernetes-e2e-gce

**Which test(s) are flaking**:
* `[sig-cli] Kubectl Port forwarding With a server listening on localhost that expects a client request should support a client that connects, sends DATA, and disconnects`

[code]

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/84735/pull-kubernetes-e2e-gce/1206903865241243649/

**Testgrid link**:
htt

[2019-12-17 13:46] liggitt commented on #86285
the intent is for `ToUnstructured(obj)` to match the result of:
[code]

and FromUnstructured(map, obj) to match the result of:
[code]

These were designed to work with well-behaved Kubernetes go API type definitions, which are expected to provide json tags for all fields. If you specify the json tags explicitly, does this work as expected?

[2019-12-17 13:52] liggitt commented on #86273
Thank you for the detailed report. This is a known issue with `kubectl apply` and the specified merge key on container and service ports. see discussion in https://github.com/kubernetes/kubernetes/issues/59119#issuecomment-490760644

Unfortunately, the specified merge key cannot be changed without breaking skewed clients that use their knowledge of those type definitions to build patches locally.

[2019-12-17 13:52] #86273 closed

[2019-12-17 14:40] liggitt commented on #75355
Still seen after disabling auto flake retry:

- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/86142/pull-kubernetes-e2e-gce/1206729301232193537
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/86325/pull-kubernetes-e2e-gce/1206681107517411330
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/86148/pull-kubernetes-e2e-gce/1206675318736162816
- https://prow.

[2019-12-17 14:46] liggitt commented on #85762
bumped priority, a conformance test must not be flaky

[2019-12-17 14:48] liggitt commented on #85762
cc @kubernetes/sig-node-test-failures

[2019-12-17 15:06] danielsand commented on #81042
found this recently on
ubuntu 18.04.3 LTS
kubernetes 1.15.6
docker 18.09.7

[code]

currently its only one - i had one week ago a on all worker nodes a lot of defunct Z process from containers. I got some Kernel OOM output but thats all.

[2019-12-17 15:06] answer1991 opened #86356 "Add More Metrics for cacher/watcher"
**What happened**:

When API Server is in heavy load or even in extremely bad situation, clients can not set up their watch request normally.

However, our API Server's metrics does not tell us this status, as watch response code is always 200, even watch request caused error "resource version too old" or API Server can not flush data to clients(force close watcher).

**What you expected to happen

[2019-12-17 15:07] answer1991 commented on #86356
/priority important-soon
/good-first-issue

cc @wojtek-t

[2019-12-17 15:11] notpad commented on #86356
/assign
/remove-help

[2019-12-17 15:19] jacksontj commented on #73158
/reopen

[2019-12-17 15:20] jacksontj commented on #73158
/remove-lifecycle rotten

[2019-12-17 15:37] leileiwan commented on #86285
There were no problem when I specified the json tag. But my project depends on other project’s struct which has no json tag. And the when I run the test case in PR ,it could not pass it without any warnning information, it may cause some potention problem.

[2019-12-17 15:37] #71907 closed

[2019-12-17 15:39] tomkerkhove commented on #85544
I've had a quick sync with @duglin who would be able to give an introduction to CloudEvents (@clemensv might also join). Given the fact that the timing of the standup on 9th is not ideal and I don't want to hijack the whole meeting it might be good to do it in a separate call?

[2019-12-17 15:49] davidbalazs commented on #86161
Hi @dims
I did that as well and it works very nice for this use case, however we have some rabbitmq instances running inside our clusters. They consume a huge number of pids compared to the other apps (around 800). That seems to be because rabbbitmq uses native threads and for some reason the pids cgroup controller counts them as well when it comes to pids. If we set a max-pids limit that is highe

[2019-12-17 16:04] brancz commented on #85544
There are people involved in sig instrumentation spread all over the world, it's never ideal for everyone, I'd prefer not to deviate from normal meetings. As this isn't too pressing, what do you think about dedicating the meeting after that to this topic?

[2019-12-17 16:20] haosdent commented on #44328
/reopen

[2019-12-17 16:20] haosdent commented on #44328
/remove-lifecycle rotten

[2019-12-17 16:32] liggitt opened #86358 "[Flaky test] [sig-apps] DisruptionController should block an eviction until the PDB is updated to allow it"
**Which jobs are flaking**:
pull-kubernetes-e2e-gce

**Which test(s) are flaking**:
`[Flaky test] [sig-apps] DisruptionController should block an eviction until the PDB is updated to allow it`

**Testgrid link**:
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&include-filter-by-regex=DisruptionController.*block

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs

[2019-12-17 16:32] liggitt commented on #86358
/sig scheduling

[2019-12-17 16:32] liggitt commented on #86358
@kubernetes/sig-scheduling-misc @kubernetes/sig-apps-bugs

[2019-12-17 16:41] tomkerkhove commented on #85544
That would be 23rd of January then? Fine for me, does that work for you @duglin?

[2019-12-17 16:50] brancz commented on #85544
Yes exactly the 23rd of January. If that works for you feel free to put it into the meeting notes already.

[2019-12-17 16:52] tomkerkhove commented on #85544
Fine for me, will add if @duglin agrees as well.

[2019-12-17 16:59] liggitt commented on #86358
cc @mortent

[2019-12-17 17:06] mortent commented on #86358
/assign

[2019-12-17 17:08] munnerz opened #86359 "New LIST/WATCH permission requirement for aggregated apiservers & versioning aggregated apiservers"
**What happened**:

In cert-manager, we provide a library [`github.com/jetstack/cert-manager/pkg/acme/webhook`](https://github.com/jetstack/cert-manager/tree/master/pkg/acme/webhook) that wraps `k8s.io/apiserver` to allow users to create their own webhooks that integrate with parts of our own project. This is to facilitate trusted communication with our extension points (webhooks) via the apiserve

[2019-12-17 17:09] munnerz commented on #86359
I'm not sure if this should really be considered a bug 🐛

/remove-kind bug

[2019-12-17 17:22] jsafrane opened #86360 "NodeStage is not called after NodeUnstage timeout"
Kubelet does not call NodeStage after NodeUnstage timed out. When a pod that uses the volume that's being unstaged is created, kubelet calls just NodePublish.

After the NodeUnstage timeout, kubelet cannot be sure if the storage backed is progressing with unstaging the volume and it should make sure that the volume is staged by calling NodeStage before calling NodePublish.

It's reproducible with

[2019-12-17 17:23] jsafrane commented on #86360
/assign @gnufied

[2019-12-17 17:42] liggitt commented on #86312
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1206958853602676741

[2019-12-17 17:42] liggitt commented on #86312
@kubernetes/sig-node-bugs @kubernetes/sig-storage-bugs

[2019-12-17 17:59] deads2k commented on #86359
Yeah, it's a bug.  We fixed the permission in 1.17.0 and should backport.

Workaround is to create your own role or modify the stock role

[2019-12-17 18:10] mnaser commented on #74551
Can anyone share the architecture behind how they are running the Kubernetes API server?  I suspect we're dealing with this issue because we're running it behind `haproxy` and there is some sort of idle timeout at play.

[2019-12-17 18:18] tedyu commented on #85966
@spikecurtis
Can you bring this feature request up at the next sig-node meeting ?

[2019-12-17 18:18] mltsy commented on #81042
I'm getting zombie processes occasionally as well.  From recent reading I understand that it's the job of the `init` process to reap zombie processes after a failure of the parent process.  In our case (in most cases in kubernetes?), the container's root process (PID 1) is not `init` - it's whatever we set as the entry command.  I assume this means it's probably not looking for and handling reapin

[2019-12-17 18:21] johnbelamaric commented on #82435
https://www.hyrumslaw.com/

[2019-12-17 18:28] mnaser commented on #74551
Upon adding the following to our `haproxy` front-end, this issue has pretty much been eliminated.

[code]

and the following to the backend:

[code]

Upon making that change, absolutely zero timeouts for an idle `port-forward` for quite sometime.  There must be similar options if you have a different load balancer in front of your Kubernetes API.  Perhaps this is something that people who are affe

[2019-12-17 18:36] deads2k commented on #86359
opened https://github.com/kubernetes/kubernetes/pull/86362 and https://github.com/kubernetes/kubernetes/pull/86363 for backports.

[2019-12-17 18:52] liggitt commented on #86318
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-e2e-gce/1206995563719954438/

[2019-12-17 19:02] Random-Liu commented on #85966
@spikecurtis Thanks for filing the issue!

One question: What if I have a pod with 10 containers, and the last one takes 2 min to start. In that case, even without the post start hook, we'll have similar issue, right? Do we expect that also to work?

[2019-12-17 19:11] spikecurtis commented on #85966
@Random-Liu Without the post-start hook, I believe that things work fine.  When Kubelet starts containers it doesn't wait for them to complete before sending a pod status update. So, the container may not be able to talk on the network the instant it starts, but eventually Calico gets the pod status update and is able to set up the networking. Calico is designed to work in this "eventually consist

[2019-12-17 19:22] liggitt commented on #86312
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-e2e-gce/1206995563719954438/

[2019-12-17 19:27] liggitt commented on #86318
xref #86312

I think we have a general failure to start containers reliably. Almost every instance of these test failures contained the pod status error of "OCI runtime start failed: container process is already dead: unknown"

- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/1206995563719954438
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/di

[2019-12-17 19:28] liggitt commented on #86312
I think we have a general failure to start containers reliably. Almost every instance of the "In-tree volume" test flakes referenced from https://github.com/kubernetes/kubernetes/issues/86318 contained the pod status error of "OCI runtime start failed: container process is already dead: unknown"

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/120699556371

[2019-12-17 19:31] liggitt commented on #86318
@kubernetes/sig-node-test-failures

[2019-12-17 19:34] sebastialonso commented on #69697
Any real solution so far? I remember having this issue  in the first months of 2019, and still see the patching of finalizers as the only workaround. Do someone has a diagnostic about this?

[2019-12-17 19:40] liggitt commented on #86312
seen in [k8s.io] Docker Containers should be able to override the image's default arguments (docker cmd) [NodeConformance] [Conformance] in https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-single-flake-attempt/1206650027410198530

[2019-12-17 19:44] liggitt commented on #86312
also seen in containerd CI runs - https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-containerd-e2e-ubuntu-gce/1206962125457592325

[2019-12-17 19:53] Random-Liu commented on #86312
This seems to be a race condition in runc. It only happened once in 2 weeks for containerd.

In the runc code, when starting a container, `exec` will be called:
* https://github.com/opencontainers/runc/blob/master/start.go#L34
* https://github.com/opencontainers/runc/blob/master/libcontainer/container_linux.go#L263
* https://github.com/opencontainers/runc/blob/master/libcontainer/container_linux.g

[2019-12-17 19:59] tuminoid commented on #85894
I see you changed the test code to do that exact sequence. Did it reproduce, @aojea ?

[2019-12-17 20:00] #84041 closed

[2019-12-17 20:00] liggitt commented on #86312
thanks for digging.

at first glance, it looks more frequent than that in some of the jobs - https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=OCI%20runtime%20start%20failed&job=containerd

ci-cos-containerd-e2e-ubuntu-gce - Failed in 5% (18/348) of builds:
- 1206955833544413185 12/17/2019, 10:14:46 AM
- 1206294929978953731 12/15/2019, 2:28:43 PM
- 1206003258967986176 12/14/2019

[2019-12-17 20:01] #86302 closed

[2019-12-17 20:06] liggitt commented on #86312
/remove-sig storage

[2019-12-17 20:13] jingxu97 commented on #85786
I think my PR https://github.com/kubernetes/kubernetes/pull/81437 fixed this issue. Could you try newer version 1.16?

[2019-12-17 20:23] derekwaynecarr commented on #77174
closing due to inactivity.

[2019-12-17 20:23] #77174 closed

[2019-12-17 20:32] hh commented on #86288
lgtm according to the SIG-Arch conformance office hours 17th December 2019.

[2019-12-17 20:32] liggitt commented on #86318
after sweeping a bunch of the in-tree test failures, almost all seemed to have https://github.com/kubernetes/kubernetes/issues/86312 as a root cause, triggered by very short-lived containers used to check file content or permissions.

The only test I saw failing that didn't seem to fit that was:

[sig-storage] In-tree Volumes [Driver: nfs] [Testpattern: Dynamic PV (default fs)] subPath should supp

[2019-12-17 20:37] hh commented on #85876
It might be good to create a service, and then check it's status.

[2019-12-17 20:38] hh commented on #85876
OR use `kubernetes.default`
This service is required.

[2019-12-17 20:45] hh commented on #86087
Possibly not conformant due to being optional.

/assign @johnbelamaric

[2019-12-17 20:48] hh commented on #85782
@johnbelamaric says to use dynamic client.

[2019-12-17 20:51] johnSchnake commented on #86087
FYI I expressed concern if these were disabled by certain config options. I found what I was thinking of here: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/server/server.go#L233-L237 and I don't see these endpoints being part of it.

I wasn't the first/only one to be unsure of these, but wanted to surface this for others to be aware.

[2019-12-17 20:53] msau42 commented on #69697
There have been various different root causes that have been fixed.

To debug any additional issues, we need repro steps, more detailed logs from kube-controller-manager to see what pv protection controller is doing, and potentially more logs from other controllers/drivers to debug further.

[2019-12-17 20:55] johnSchnake commented on #86087
Also, if someone needs a quick snapshot of what this endpoint may return I put what Sonobuoy captured into a gist: https://gist.github.com/johnSchnake/6628b07824699b18e3695ffa5b644645

[2019-12-17 20:56] mml commented on #75957
It's technically **possible** to support multiple PDBs, but in practice it may lead to more problems than we anticipate.  @davidopp lays it out a bit in [this comment](https://github.com/kubernetes/kubernetes/issues/35318#issuecomment-255519251).

@tedyu's logic is sound regarding implementation, but the biggest risk is that it could be extremely easy for users to put ~all evictions into gridlock

[2019-12-17 21:17] fedebongio commented on #86176
/assign @logicalhan

[2019-12-17 21:19] fedebongio commented on #86285
/assign @caesarxuchao
(assigning to Chao since the PR is assigned to him already)

[2019-12-17 21:20] fedebongio commented on #86286
/assign @jpbetz

[2019-12-17 21:21] fedebongio commented on #86299
/assign @wojtek-t
(hope you don't mind, since you are already helping here)

[2019-12-17 21:22] fedebongio commented on #86359
/assign @deads2k

[2019-12-17 21:39] roycaihw commented on #86286
This is working as intended. The leader election retry period is defaulted to 2s and configurable through

[code]
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/

You can also exclude those endpoints using selectors if the controller doesn't care about them

Ref https://github.com/kubernetes/kubernetes/issues/23812

[2019-12-17 21:53] PatrickLang commented on #63121
/remove-lifecycle rotten
/reopen

Currently tracked in https://github.com/containerd/containerd/issues/3897 plus an internal MS bug

[2019-12-17 22:04] liggitt commented on #86312
opened https://github.com/opencontainers/runc/issues/2183 in runc, am working on a low level reproducer/fix

[2019-12-17 22:35] roycaihw commented on #86176
Based on the log message it looks like it comes from [here](https://github.com/kubernetes/kubernetes/blob/v1.16.0/staging/src/k8s.io/client-go/tools/record/event.go#L255) and [this controller](https://github.com/kubernetes/kubernetes/blob/v1.16.0/pkg/controller/cronjob/cronjob_controller.go#L73).

I'm not familiar with how the pipeline is set up for `klog.Infof`, but [this comment](https://github.

[2019-12-17 22:37] liggitt commented on #86312
cc @mrunalp

[2019-12-17 22:42] jdef opened #86367 "kubectl logs ... --limit-bytes option is ignored for docker legacy logging"
**What happened**:

Conformance test failed:
- `[sig-cli] Kubectl client Kubectl logs should be able to retrieve and filter logs  [Conformance]`

xref https://github.com/cncf/k8s-conformance/issues/746

[code]

**What you expected to happen**:

I expected this conformance test to pass.

**How to reproduce it (as minimally and precisely as possible)**:

We have configured docker's logging driver to

[2019-12-17 22:49] #82426 closed

[2019-12-17 22:53] kfox1111 commented on #22368
+1. I brought up the issue again at Kubecon and there was some traction. It was suggested with the holidays coming up that we should renew the effort again in January.

[2019-12-17 23:26] EmanekaT commented on #78761
It seems this still happens somehow.
[code]
Based on events, no metrics are missing, and all metrics are below target. Yet it scaled up to 6?

[2019-12-17 23:33] dims commented on #82396
@glyn @jonjohnsonjr let's help by reviewing https://github.com/kubernetes/enhancements/pull/1406

[2019-12-17 23:34] nileshkumar01 commented on #85786
@jingxu97 Thank you for the info will test it out and provide some feedback about my results

[2019-12-17 23:53] joshmsamuels opened #86370 "[Flaky Test] [sig-network] Services should be able to switch session affinity for service with type clusterIP [LinuxOnly]"
**Which jobs are flaking**:
pull-kubernetes-e2e-gce

**Which test(s) are flaking**:
* [sig-network] Services should have session affinity work for service with type clusterIP [LinuxOnly]
* [sig-network] Services should be able to switch session affinity for service with type clusterIP [LinuxOnly]
* [sig-network] Services should be able to switch session affinity for NodePort service [LinuxOnly]
*

[2019-12-17 23:54] joshmsamuels commented on #86370
/sig testing

[2019-12-17 23:55] joshmsamuels commented on #86370
/sig network

[2019-12-18 01:22] stcheng commented on #86301
/assign

[2019-12-18 01:47] #80205 closed

[2019-12-18 02:26] hoyho commented on #86174
Those in-tree volume plugins will be remove sooner or later.
But it is still possible to support HDFS. For example, you can use CSI to implement this.
See the document https://kubernetes-csi.github.io/docs/ or join Slack channel [csi](https://kubernetes.slack.com/messages/C8EJ01Z46/details/)

[2019-12-18 03:06] duglin commented on #85544
Assuming the meeting is an hour, I can do the 2nd 30 minutes. I have the CloudEvents weekly call from 12-1 ET on Thursdays, but can join right after that.

[2019-12-18 03:34] like-inspur opened #86372 "I build fluentd image but not version 1.7.4"
I build fluentd image refercing from https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/fluentd-es-image/Gemfile, but found that fluentd version is not 1.7.4 like this:
Installing fluentd (1.6.3)

when I config gem 'fluentd', '~>1.7.4' in Gemfile, the build of fluentd image output error:
[code]
/kind bug

[2019-12-18 03:48] #86328 closed

[2019-12-18 03:48] #86179 closed

[2019-12-18 03:48] leileiwan commented on #86285
Sorry, It's my code error,I should just use the function ToUnstructured and FromUnstructured. I will use ToUnstructured to instead of the function ConvertMyStructToUnstructured in PR  test case.

[2019-12-18 03:48] #86285 closed

[2019-12-18 04:53] yqwang-ms opened #86373 "Totally avoid Pod starvation (HOL blocking) or clarify the user expectation on the wiki"
**What would you like to be added**:

Seems even after #81263 (#81214), the pod starvation (head-of-line blocking) can only be **besteffort alleviated**, i.e. cannot be **totally avoided**.

This is even more worse in this case https://github.com/kubernetes/kubernetes/issues/86373#issuecomment-570186182

We cannot config the backoff duration to be infinite large to totally avoided it, since it wil

[2019-12-18 05:11] zhouya0 commented on #86367
/assign

[2019-12-18 05:17] dongwangdw commented on #12964
yes, the manually created EP resource will not be reconciled by the controller. This is the cause.
Usually we do not create EP, this kind of secondary resource directly. It is created for the corresponding service resource.

[2019-12-18 05:32] danielqsj commented on #86373
/cc

[2019-12-18 05:56] Chaos-Ju commented on #61937
docker info:
`Client:
 Debug Mode: false

Server:
 Containers: 71
  Running: 61
  Paused: 0
  Stopped: 10
 Images: 99
 Server Version: 18.09.8
 Storage Driver: overlay2
  Backing Filesystem: extfs
  Supports d_type: true
  Native Overlay Diff: false
 Logging Driver: json-file
 Cgroup Driver: cgroupfs
 Plugins:
  Volume: local
  Network: bridge host macvlan null overlay
  Log: awslogs fluentd gcplo

[2019-12-18 06:18] like-inspur commented on #86372
/sig bugs

[2019-12-18 06:25] ragav0102 commented on #69507
Looking at ways to get these metrics, which will help plan ephemeral-storage requests and limits and avoid over/under provisioning.
@tbarrella Were you able to find any workaround?

[2019-12-18 06:36] vutuong commented on #86341
#investigating

[2019-12-18 06:40] zeniri commented on #83290
https://kubernetes.slack.com/archives/C0EG7JC6T/p1576651152067200
@neolit123 Link to thread in slack

[2019-12-18 07:12] zehuaiWANG commented on #86181
[#8144](https://github.com/kubernetes/kops/pull/8144) This problem also happened in kops.

[2019-12-18 07:16] zehuaiWANG commented on #86181
@liggitt @spiffxp I encountered this problem in kubernetes and Kops projects, which seems to be more serious.

[2019-12-18 07:19] brancz commented on #85544
The meeting is 30min.

[2019-12-18 07:42] #86290 closed

[2019-12-18 08:16] kargakis commented on #74551
I doubt this is an external LB issue, I was able to reproduce in a local cluster.

[2019-12-18 08:23] xueweiz commented on #72878
@etcshad0vv The patch I mentioned has been [backported](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/commit/?h=v4.14.159&id=c294780a80b0fb2e92ab4e2fd584029ced994186) and [released](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/log/?h=v4.14.159) in [4.14.159](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tag/?h=v4.14.159) stable kernel :)

(

[2019-12-18 08:52] xial-thu opened #86378 "enable extended resources in kubemark"
**What would you like to be added**:
Enable extended resources in kubemark by exposing flags such as `enable-extended-resource` or `extended-resources-conf-path`

**Why is this needed**:
Kubernetes is more and more popular in AI. Due to GPUs are not able to be shared among pods, the scenario of scheduling AI jobs is quite different from common cases. And extended scheduler such as kube-batch or vo

[2019-12-18 08:57] xial-thu commented on #86378
/sig scalability

[2019-12-18 08:58] #86350 closed

[2019-12-18 09:15] aojea opened #86379 "Failing Test: SchedulerPredicates [Serial] validates that taints-tolerations is respected if matching [Disruptive] [Conformance]"
**Which jobs are failing**:

kind serial conformance jobs

**Which test(s) are failing**:

The conformance test SchedulerPredicates [Serial] validates that taints-tolerations is respected if matching [Disruptive] [Conformance]

**Since when has it been failing**:

The test was promoted in kubernetes/kubernetes#83652 passing the kind-ipv6 job but it keeps failing after that in both ipv4 and ipv6 co

[2019-12-18 09:15] aojea commented on #86379
/cc @spiffxp @BenTheElder

[2019-12-18 10:17] jpbochi commented on #30784
is there any workaround for this? Maybe trying to make some always unauthorized action, and parsing the username from the error message?

[2019-12-18 10:22] alitoufighi commented on #82482
@ashish-oyo
Hi. I think this is the `startupProbe` that is implemented in 1.16.
Take a look at [documentation](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-startup-probes).

As it seems to be implemented, I close this issue.

[2019-12-18 10:27] michaelk3k commented on #86064
@kubernetes/sig-storage-bugs, can you have a look at this and give some guidance?

[2019-12-18 10:36] alitoufighi commented on #82482
I'm reopening again as it seems that `startupProbe` is an initial probe for `liveness`, but in this issue we're talking about `readiness`. Also I think `startupProbe` was meant to be for `readiness`, as our containers take time to be ready and we don't want to kill our previous containers during a rolling update.

[2019-12-18 10:52] BenTheElder commented on #86379
https://testgrid.k8s.io/conformance-gce#Conformance%20-%20GCE%20-%20master

[2019-12-18 10:59] BenTheElder commented on #86379
/retitle Failing Test: SchedulerPredicates [Serial] validates that taints-tolerations is respected if matching [Disruptive] [Conformance]

[2019-12-18 11:00] BenTheElder commented on #86379
/remove-sig network
/sig scheduling
/area conformance

[2019-12-18 11:07] BenTheElder commented on #30784
Yes there is a kubectl whoami plugin relying on this
https://github.com/kubernetes-sigs/krew-index/blob/master/plugins.md

https://github.com/rajatjindal/kubectl-whoami/blob/1bdd367d5fb2717a5620d130f49565f8047d9531/pkg/k8s/tokenreview.go#L22

On Wed, Dec 18, 2019, 02:17 João Paulo Bochi <notifications@github.com>
wrote:

[2019-12-18 11:19] zbw0046 opened #86381 "add deltaType to the parameters for workqueue CRUD"
**What would you like to be added**:
Add deltaType to the parameters for workqueue CRUD

**Why is this needed**:
We usually use workqueue to collect events from DeltaFIFO and send the key of them to controller for processing. However, when controller pop keys from workqueue it does not know which type of event(add/update/delete) is associated to this key.

One choice is to wrap key and deltaType i

[2019-12-18 11:25] zbw0046 commented on #86381
/sig cli

@kubernetes/sig-cli-feature-requests

[2019-12-18 11:44] rvanderboom commented on #85325
No idea if our issue is related but we are searching for a strange bug we can not explain.
We have an application running on 3 pods and almost every time when a new release (new image pull) is made, the first pod doesn't start correctly because it compains about missing classes.
The other 2 go ok, and after we restart  (delete te pod) its ok to.
Also when deploying same release we do not have this

[2019-12-18 12:47] lllamnyp commented on #73056
I'm surprised, this has gone on for so long. Apparently, this is by design:

`"--streaming-connection-idle-timeout=30m"`
(see https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/)

in my deployment gives me the observed exact 30 minutes before disconnecting. What's worse is that it exits with an exit code of 0. This may be fine in some cases, but problematic in others. It see

[2019-12-18 12:51] mnaser commented on #74551
@kargakis Fair enough, I actually would never have this issue with local clusters (but would consistently run against remote ones), so this bug might still be a thing but maybe some of us affected actually are running into a external load balancer issue and thought I'd put my notes there anyways.

[2019-12-18 13:14] TomaszKlosinski commented on #62153
Any new on this?

[2019-12-18 13:18] TomaszKlosinski commented on #70147
Is there any news on this?

[2019-12-18 13:21] liggitt commented on #30784
Fair warning that human readable message text is not guaranteed to be stable as an API

[2019-12-18 13:59] chilicat commented on #61937
Note we were able to solve the kernel memory issue with Centos 7.7, Kernel 3.10.0-1062.4.1.el7.x86_64
by setting a kernel parameter: cgroup.memory=nokmem

Example:

[code]

[2019-12-18 14:15] aojea commented on #85894
nope, neither with the same kubernetes version ... maybe I'm doing something wrong or is not reproducible with the integration test framework, the logs shows that etcd is updated after each operation

[code]

[2019-12-18 14:50] teotia39 commented on #74266
@thockin
Hi Tim ,

I'm facing issue as mentioned by you in thread above :
**Can a pod client mount the NFS share from the server Pod's IP address (instead of the service address)?**

I can't access the nfs server via service ip (gives permission denied from server)  , Whereas If I dorectly hit pod this works smooth.

I haven't got resolution to this problem , We are facing this specifically on kub

[2019-12-18 15:04] liu-cong opened #86387 "Document how to add/modify/run new scheduler benchmark tests"
**What would you like to be added**:
We are making a series of enhancements #81719  to scheduler benchmarks. Once we are done, we should update the README.md.

Ref #86160, #85861

**Why is this needed**:

/sig scheduling

cc @notpad @ingvagabund

[2019-12-18 15:06] spiffxp commented on #86379
I've opened https://github.com/kubernetes/kubernetes/pull/86386 to revert

[2019-12-18 15:06] lukeschlather commented on #18568
Is there an equivalent issue for kubectl rollout with deployments? They seem to have the same behavior of basically surfacing no useful information when a pod fails to start for any reason.

[2019-12-18 15:21] lukeschlather opened #86388 "kubectl rollout status should be able to show new pod logs"
**What would you like to be added**:
kubectl rollout status should provide a mechanism to view logs for all new pods until the pods are marked as healthy (or completed for init containers.)

**Why is this needed**:
When debugging deployments in CI, it's extremely frustrating to figure out what's going wrong. A somewhat related issue is #28746 , which discusses how kubectl logs frequently fails whe

[2019-12-18 15:22] lukeschlather commented on #86388
@kubernetes/kubectl

[2019-12-18 15:24] lukeschlather commented on #86388
/sig cli

[2019-12-18 16:06] mnowrot commented on #40273
Not really, as I don't have access to it any more. IIRC it boiled down to creating a drop-in file to systemd configuration of a docker service, making it dependent on nfsd. Something like:

[code]

[2019-12-18 16:13] tedyu commented on #85966
If we make execution of postStart hooks for init containers asynchronous, #86010 would be a preferable choice (which is simpler compared to #86271).

[2019-12-18 16:23] #86379 closed

[2019-12-18 16:33] smpar commented on #17512
Using the following comands: `kubectl top nodes` & `kubectl describe node` we do not get consistent results

For example with the first one the CPU(cores) are 1064m but this result cannot be fetched with the second one(1480m):
[code]
[code]

Any idea about getting the CPU(cores) without using the `kubectl top nodes` ?

[2019-12-18 16:41] rajha-korithrien commented on #81089
I do not believe this issue should go stale. I still have software that can not be run in a Pod because the software does uid checks of sensitive files. The software (rightly) refuses to run as uid 0 because it doesn't need to, and (rightly) refuses to use a sensitive (secrets) file it doesn't own and is the only entity that can read said file.

[2019-12-18 16:42] maxneaga commented on #81089
/remove-lifecycle stale

[2019-12-18 16:56] samudralavamshi54 opened #86390 "[Failing Test] gce-master-scale-correctness (ci-kubernetes-e2e-gce-scale-correctness)"
**Which jobs are failing**:
ci-kubernetes-e2e-gce-scale-correctness #1207269747872239616

 https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1207269747872239616

**Which test(s) are failing**:
#1207269747872239616

**Since when has it been failing**:

2019-12-18 12:02:04 +0000 UTC . / 6:00 AM PST

**Testgrid link**:

https://testgrid.k8s.io/sig-release-ma

[2019-12-18 16:59] hasheddan commented on #86390
/cc @kubernetes/ci-signal
/sig storage
/priority critical-urgent
/milestone v1.18

[2019-12-18 17:33] liggitt commented on #86312
fix in progress at https://github.com/opencontainers/runc/pull/2185

[2019-12-18 18:03] #80366 closed

[2019-12-18 18:19] cji commented on #81115
/remove-lifecycle stale

[2019-12-18 18:20] cji commented on #81138
/remove-lifecycle rotten

[2019-12-18 18:21] spiffxp commented on #86317
/milestone v1.18
/priority critical-urgent
https://github.com/kubernetes/kubernetes/issues/83509 looks like a subset of this

[2019-12-18 18:24] jingxu97 commented on #69507
I think in PosStats:VolumeStats, you could get any type of volume usage information including ephemeral ones?

[2019-12-18 19:25] gnufied commented on #82838
This might be because both `NodeStage` and `NodePublish` are part of same general `MountVolume` function in operation_generator. The isolation we are looking for does not exist.

Fixing it will require detangling MountDevice and Setup calls, which could be tricky..

[2019-12-18 20:32] liu-cong opened #86391 "Cleanup/Enhance scheduler metrics"
I'd like to propose the following changes to `pkg/scheduler/metrics/metrics.go`.

For metrics to be deprecated, should do it in **two phases** in order to maintain some sort of backwards compatibility. This is not mandatory as all scheduler metrics are ALPHA now.
1. Mark the metrics as deprecated in 1.18
2. Remove metrics in 1.19

### Remove metrics marked as deprecated
Currently handled in #76496

[2019-12-18 20:32] liu-cong commented on #86391
/good-first-issue
/help

[2019-12-18 20:52] prameshj commented on #81555
Fixed.
/close

[2019-12-18 20:52] #81555 closed

[2019-12-18 21:04] BobyMCbobs opened #86393 "Write CoreV1Secret mock test - +3 coverage"
This issue contains a very basic mock test in order to start the conversation about what a good e2e test would look like for this endpoint. The code below is verified to be hitting the intended endpoint, show as per the queries in APIsnoop's live view of the cluster's audit logs.

## Deploy APISnoop

[code]

# Identify an untested feature Using APISnoop

According to these query results from APIsn

[2019-12-18 21:11] howardjohn opened #86394 "Codec.Decode panic with client-go v0.17.0"
**What happened**:

I have a test case:
[code]

This behaves different with different client-go versions.

With `kubernetes-1.16.0`, the test passes. This is using `k8s.io/client-go v0.0.0-20190918160344-1fbdaa4c8d90` in go.mod with `k8s.io/apimachinery v0.0.0-20190913080033-27d36303b655` in go.sum

With `v0.17.0`, this test panics. This is using `k8s.io/client-go v0.17.0` in go.mod with `k8s.io/a

[2019-12-18 21:14] howardjohn commented on #86394
/sig api-machinery

[2019-12-18 21:15] maximilien commented on #83628
@freehan as you know this is important for us. How long shall we wait for `sig-app`? did you have any discussions with them? I am afraid they will ignore it. Especially since w/o addressing it we might appear to simply be throwing the “hot potatoe”... anyhow, do let us know. Can we timebox this (for responses from sig-app) to 7 or 14 days?

[2019-12-18 21:25] bowei commented on #83628
Let me see if I can rouse someone from sig-apps to keep the conversation going

[2019-12-18 21:33] tedyu commented on #86394
/assign

[2019-12-18 21:38] gnufied commented on #86317
I am looking into this now.

[2019-12-18 21:43] gnufied commented on #86317
Opened https://github.com/kubernetes/kubernetes/pull/86396 for fixing expansion test. I am looking at other one too.

[2019-12-18 22:02] gnufied commented on #86317
Second flake should be also pretty simple to fix. I will open a PR. Basically we can't expect that number of unpublish calls should be same as publish calls. It was introduced here - https://github.com/kubernetes/kubernetes/pull/81960

[2019-12-18 23:25] paulgmiller commented on #76338
/remove-lifecycle stale

[2019-12-18 23:35] oomichi commented on #86206
I might be a little confused..
There is already a code check to use `framework.ExpectEqual()` in `./hack/verify-test-code.sh`.
This issue is for proposing to use `framework.ExpectEqual(foo, true)` / `framework.ExpectEqual(foo, false)` only for boolean cases?

At this time, there are not so many lines which call the above patterns.
I don't have strong opinion to implement the rule or not.
(When I c

[2019-12-19 00:19] oomichi commented on #86052
That is a nice point.
We can see external users inside of kubernetes since https://cs.k8s.io/ but it is so difficult to know external users outside of kubernetes.
The above case(https://github.com/intel/pmem-csi/blob/732ab4735306f841f240333355f7f5482ef3d2e2/test/e2e/storage/csi_volumes.go#L173-L178) @pohly pointed it in advance, but I don't think that is a common case for outside users.

IMO if we

[2019-12-19 00:35] liggitt commented on #86381
The key in the work queue just indicates which object should be synchronized. It is not intended to convey the type of the event. Typical implementations dequeue the key and look up the object from a local store. If the object is present, they handle the object that is present. If the object is absent, they handle any cleanup required on a delete.

[2019-12-19 00:37] liggitt commented on #86381
If you want to handle raw event types, I'm not sure workqueue is the best fit for you… it almost seems like to want to consume a deltafifo's output directly

[2019-12-19 01:13] xiaoanyunfei commented on #86391
/assign

[2019-12-19 01:18] ahg-g opened #86398 "Move Pod Affinity priority logic to its Score plugin [Migration Phase 2]"
/assign @ahg-g
/sig scheduling
/priority important-soon

This includes moving the metadata logic into PostFilter.

Part of #85822

[2019-12-19 01:36] M00nF1sh commented on #81636
@mwhittington21
Is this issue still happening? What's your VPC DNS setting and did you have custom DHCP settings.
BTW, would you help check whether the spec.ProviderID is set on your nodes?

[2019-12-19 01:51] chenjiandongx opened #86401 "The result of `kubectl top pods/nodes --sort-by=cpu/memory` command is not as expected."
**What happened**:

 sort by memeory
[code]

sort by cpu
[code]

As you can see above, the sorted result is unreliable.

**What you expected to happen**:

The correct result of this command, like this.

sort by memory
[code]

sort by cpu
[code]

**How to reproduce it (as minimally and precisely as possible)**:

Just type `kubectl top nodes --sort-by=memory`

**Anything else we need to know?**:

**

[2019-12-19 01:53] chenjiandongx commented on #86401
/sig kubectl

[2019-12-19 01:54] chenjiandongx commented on #86401
/sig cli

[2019-12-19 01:58] brentpearson opened #86403 "kube-apiserver container log file seems to have no size limit"
I noticed this file
/var/lib/docker/containers/aa0faf7c7e4cfe30cb33768a1f3462a225267fbdee00c70b23c7d47903bd38d2/aa0faf7c7e4cfe30cb33768a1f3462a225267fbdee00c70b23c7d47903bd38d2-json.log
is 2.3 GB.
It's the kubeapi-server log.

How can I limit this size? From what I've read, the default log size is only 10 MB, but that doesn't seem to be getting enforced here.

[2019-12-19 02:00] oomichi commented on #81803
I think this still is important for us.

/lifecycle active

[2019-12-19 02:01] brentpearson commented on #86403
/sig api-machinery
/sig node
/sig storage

[2019-12-19 02:12] ahg-g commented on #85928
/close

[2019-12-19 02:12] #85928 closed

[2019-12-19 02:16] ahg-g opened #86404 "Move ImageLocality priority logic to its Score plugin [Migration Phase 2]"
/sig scheduling
/priority important-soon

See #86399 as an example.

Part of #85822

[2019-12-19 02:16] ahg-g commented on #86404
/unassign

[2019-12-19 02:17] joshmsamuels commented on #86370
I think this issue is resolved. my pipeline (https://github.com/kubernetes/kubernetes/pull/86222) passed and the issue that mentioned this one (https://github.com/kubernetes/kubernetes/pull/86298) has been merged.

cc'ing Jordan just in case there is anything im missing.

/cc @liggitt

[2019-12-19 02:17] draveness commented on #86404
/assign

[2019-12-19 02:21] liggitt commented on #86370
Until the root cause has been identified/fixed, or we see testgrid show this flake free for several days, we'll leave this open.

[2019-12-19 02:24] ahg-g commented on #86404
Note that this shouldn't need a PostFilter plugin.

[2019-12-19 02:25] ahg-g opened #86405 "Move NodeAffinity priority logic to its Score plugin [Migration Phase 2]"
/sig scheduling
/priority important-soon

See #86399 as an example.

Part of #85822

Note that this shouldn't need a PostFilter.

[2019-12-19 02:30] draveness commented on #86405
/assign

[2019-12-19 02:37] zhxqgithub opened #86406 "Pod pending waiting for pvc due to fsck -a /dev/rbd error"
**What happened**:
The pod always pending because it waiting for mount pvc,however, error occur when fsck -a /dev/rbd.

![image](https://user-images.githubusercontent.com/8119309/71139823-4b089780-224a-11ea-9262-42244d7d20ed.png)

**What you expected to happen**:
in  pkg/util/mount/mount_linux.go#433,we can see fsck use -a parameter to check and repair disk. however, fsck -a can not work well when

[2019-12-19 02:39] ahg-g opened #86407 "Move NodePreferAvoidPods priority logic to its Score plugin [Migration Phase 2]"
/sig scheduling
/priority important-soon

See #86399 as an example.

Part of #85822

This shouldn't need a PostFilter Plugin, it is not worth caching the result of metav1.GetControllerOf.

/assign @denkensk

[2019-12-19 03:02] zhxqgithub commented on #86406
/sig node
/sig storage

[2019-12-19 03:35] janetkuo commented on #83628
ReplicaSet controller has some built-in logic for which Pods to delete first. Allowing users to specify this requires some API & controller changes. Would you write a KEP with more details?

[2019-12-19 03:38] RainbowMango commented on #79616
/uncc

[2019-12-19 04:04] weinong opened #86410 "AAD token obtained by kubectl has spn prefix which is incompatible with AAD on-behalf-of flow"
**What happened**:
In the [code path](https://github.com/kubernetes/kubernetes/search?q=NewOAuthConfig&unscoped_q=NewOAuthConfig) to acquire AAD token, because of the inclusion of the API version in the URLs for authorization, the returned token is not compatible with many AAD scenarios like OIDC and On-Behalf-Of flow.

There is a long list of issues documenting this problem:
https://github.com/Az

[2019-12-19 04:05] weinong commented on #86410
/area provider-azure

[2019-12-19 04:07] weinong commented on #86410
/area provider/azure

[2019-12-19 04:07] weinong commented on #86410
/sig cli

[2019-12-19 04:20] feiskyer commented on #86410
/sig cloud-provider

[2019-12-19 04:20] feiskyer commented on #86410
/assign @weinong

[2019-12-19 04:23] danielqsj commented on #82900
Oops, forget this task. Will have a look soon.

/remove-lifecycle stale

[2019-12-19 04:36] #83259 closed

[2019-12-19 04:38] #81028 closed

[2019-12-19 04:38] mikedanese commented on #81028
I think this is actually good for now.

[2019-12-19 04:51] mikedanese commented on #86403
From the path, I'm inferring that you are using the docker json-file driver. You have a few options:

https://docs.docker.com/config/containers/logging/json-file/#options
https://docs.docker.com/config/containers/logging/configure/#configure-the-default-logging-driver
https://github.com/kubernetes/kubernetes/blob/8cd87842894464bdf7bc25378fc4824ba1cb37bb/cmd/kubelet/app/options/options.go#L536-L537

[2019-12-19 04:57] mikedanese commented on #86381
This is the first point of Kubernetes control logic principles.

https://github.com/kubernetes/community/blob/3f8bf88a06a114b3984417d6867bb16506c9c71e/contributors/design-proposals/architecture/principles.md#control-logic

The API and usage of workqueue is intended to lead users to write controllers that align with this principal.

[2019-12-19 05:02] mikedanese commented on #86341
Duplicate of #3949

[2019-12-19 05:02] #86341 closed

[2019-12-19 05:08] mikedanese commented on #86286
We're also in the process of migrating off of endpoints and onto leases.

[2019-12-19 05:12] axozoid commented on #33714
So, just removing the admission controllers and that's it? No one questioned, why do we need to do that? Isn't that better to try figure out what's happening and fix that, rather than using a workaround by disabling some functionality?

Later on, when one needs to use any of the admission controllers he will be trapped.

From what I understand, we need to make sure, that:
For **API-server**: `--se

[2019-12-19 05:25] brentpearson commented on #86403
I keep seeing these things about configuring Docker logging, but I haven't done anything to change Docker from it's default (version 19.03.1, build 74b1e89) state, other than modifying
/usr/lib/systemd/system/docker.service
to add "native.cgroupdriver=systemd" to the end of the "ExecStart" line.

There is no /etc/docker/daemon.json file. Should I just create it with
`{
  "log-driver": "json-file",

[2019-12-19 05:32] liggitt commented on #86080
in the place where we are running this test, it appears to be failing 100% of the time:

https://testgrid.k8s.io/google-gce#gci-gce-flaky&sort-by-flakiness=&width=20&include-filter-by-regex=SELinux

[2019-12-19 05:33] liggitt commented on #86080
/assign @gnufied

[2019-12-19 05:45] mikedanese commented on #86403
Yes, I would expect that to work.

[2019-12-19 06:03] liggitt commented on #86181
test has been marked flaky, and can now be seen in https://testgrid.k8s.io/google-gce#gci-gce-flaky&sort-by-flakiness=&width=20&include-filter-by-regex=GCEPD

root cause is an extremely slow namespace deletion controller; see analysis in https://github.com/kubernetes/kubernetes/pull/86314#issuecomment-566357652

[2019-12-19 06:08] liggitt opened #86417 "Namespace controller cannot keep up with e2e namespace deletion rate"
**What happened**:
e2e tests deleting namespaces timed out waiting for namespace cleanup. this was the root cause of https://github.com/kubernetes/kubernetes/issues/86181.

I graphed namespace controller lag times:
* from namespace delete to start of processing by the namespace cleanup controller (average 3:36, min 0:05, max 5:41)
* from start of processing to end of processing by the namespace cl

[2019-12-19 06:13] liggitt commented on #86181
Opened https://github.com/kubernetes/kubernetes/issues/86417 to track the namespace controller issue. In the meantime, I would probably suggest rewriting this test to:
1. issue the namespace delete
2. issue deletecollection calls against the pvcs and pods
3. wait for the absence of the pvc and pod objects, rather than the namespace

[2019-12-19 06:14] denkensk commented on #86391
/remove-help

[2019-12-19 06:53] liggitt commented on #86370
@kubernetes/sig-network-bugs

[2019-12-19 07:01] liggitt opened #86418 "[Flaky test] [sig-api-machinery] CustomResourcePublishOpenAPI flakes"
**Which jobs are flaking**:
pull-kubernetes-e2e-gce

**Which test(s) are flaking**:

- [sig-api-machinery] CustomResourcePublishOpenAPI [Privileged:ClusterAdmin] updates the published spec when one version gets renamed [Conformance]
- [sig-api-machinery] CustomResourcePublishOpenAPI [Privileged:ClusterAdmin] works for CRD without validation schema [Conformance]
- [sig-api-machinery] CustomResource

[2019-12-19 07:02] liggitt commented on #86418
@kubernetes/sig-api-machinery-bugs
/priority important-soon

[2019-12-19 07:04] liggitt commented on #75355
top-ten flake according to http://storage.googleapis.com/k8s-metrics/flakes-latest.json

[2019-12-19 07:13] hase1128 opened #86419 "Can [Linux Only] tag be removed in "kubernetes/test/e2e/storage/subpath.go"?"
**What happened**:

`framework.ConformanceIt` in `kubernetes/test/e2e/storage/subpath.go` has "LinuxOnly" tag, and there is the following TODO description.

[code]
According to the following URL, we can use containerd on Windows.
https://containerd.io/

If this is correct, "LinuxOnly" tag is able to be removed from `framework.ConformanceIt`.
Is this right understanding??

[2019-12-19 07:13] hase1128 commented on #86419
/assign

[2019-12-19 07:15] #78338 closed

[2019-12-19 07:16] hase1128 commented on #86419
/sig testing

[2019-12-19 07:17] liggitt commented on #86370
/assign @bowei @dcbw

these are four of the top-ten flakes according to http://storage.googleapis.com/k8s-metrics/flakes-latest.json

if a fix is not identified shortly, we'll need to mark them as `[Flaky]`, which will move them out of the merge/release-blocking jobs

[2019-12-19 07:21] nicorikken commented on #83094
I have a similar use-case, that can benefit from this feature. I'm waiting for a Kubernetes Job that runs an integration test. I want to wait for the output in my Jenkins CI/CD tool.

Now we wait for completion:
[code]

But if the job fails, the waiting continues until the timeout, as the `failed` condition is not equal to the `complete` condition. I prefer to have an early return on waiting, so I

[2019-12-19 07:22] #81641 closed

[2019-12-19 07:26] hprateek43 commented on #85822
@ahg-g Is any activity pending around this? I am relatively free and can pick some tasks.

[2019-12-19 07:27] vitality411 opened #86420 "Set containerd oom score adj to -999"
**What would you like to be added**:
In https://github.com/kubernetes/kubernetes/blob/661a08daf6acb99374401b68639d82e8b3509f04/pkg/kubelet/qos/policy.go#L34 Kubernetes sets OOM score adjustment for Docker but not for containerd.
Set containerd oom score adj to -999.

**Why is this needed**:
In an OOM situation containerd migth be killed, stop docker and kubelet due to systemd dependency and won't

[2019-12-19 07:39] vutuong commented on #3949
Hi everyone, is there any active project about pod migration ? I am Master student from South Korea , and currently is investigating live migration for K8S. If there are any project about this, please let me know. I want to join it.
Why is this needed:
One of the key challenges for edge computing is keeping quality of service guarantees better than traditional cloud services while offloading servi

[2019-12-19 07:49] pohly commented on #86052
I also looked at the information that godoc provides about users of a package, but for `test/e2e/framework` that list is dominated by forks of Kubernetes, which isn't very helpful.

I suppose we'll have to rely on common sense and feedback from outside users to determine whether some API in `e2e/framework` or its sub-packages is useful enough to stay there or whether it is so test specific that it

[2019-12-19 07:54] answer1991 commented on #86299
@salvob

The increasing mem may caused by golang GC algorithm. In our small-scale kubernetes, the mem will increase from 1Gi to 5Gi.

![image](https://user-images.githubusercontent.com/2566352/71155023-d4828e80-2277-11ea-8f7d-32314a9e4b84.png)

But in our large-scale kubernetes, the mem keep in a large number and does not increase:

![image](https://user-images.githubusercontent.com/2566352/711549

[2019-12-19 08:02] xieyanker opened #86421 "Network cannot be disconnected after kube-proxy switching to ipvs mode"
**What happened**:
I have been using `iptables` mode for `kube-proxy` for a long time. And now I need deploy a large-scale cluster, so I want to switch to `ipvs` mode. However, once I change no matter which node the `proxy-mode` from `iptables` to `ipvs`, this node cannot be connected by other nodes.

**How to reproduce it (as minimally and precisely as possible)**:
100% on my environment
update `

[2019-12-19 08:03] xieyanker commented on #86421
/sig network

[2019-12-19 08:36] Aresforchina commented on #68026
@dims when I run `hack/verfiy-staticcheck` ,I found some errors as below:
`` IGNORE[*]: unbound variable ``
I have already set $GOPATH well

[2019-12-19 08:36] aojea opened #86422 "APIserver communicates mixing IPv4 and IPv6 for different components"
The apiserver can work communicating using IPv4 with etcd and using IPv6 with the kubelet and the other kubernetes components. I've seen this behaviour on:

https://github.com/kubernetes/kubernetes/pull/85745
https://github.com/kubernetes/kubernetes/pull/86389

This setup works, but I really don't know what are the consequences of using this setup, I've observed that some components like kube-prox

[2019-12-19 08:36] aojea commented on #86422
/cc @liggitt @BenTheElder

[2019-12-19 08:38] #86394 closed

[2019-12-19 09:27] mm4tt opened #86423 "All CI kubemark tests are failing"
See https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-100

E.g. failure, the error seems to be:
[code]

/assign @jkaniuk

[2019-12-19 09:27] mm4tt commented on #86423
/sig scalability

[2019-12-19 09:45] a1198457636 opened #86424 "https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/prometheus is this link gone?"
https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/prometheus is this link gone?

[2019-12-19 09:58] jkaniuk commented on #86423
Problem started right after #85879 was merged.

Log:
[code]

Interestingly - same happened in presubmit, but was not reported as an error:
pull-kubernetes-kubemark-e2e-gce-big Job succeeded. [Details](https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/85879/pull-kubernetes-kubemark-e2e-gce-big/1207282581612007424/)
I will open separate bug for that.

[2019-12-19 10:14] jkaniuk opened #86426 "Presubmit failed but did not stop the merge"
**What happened**:
One of presubmits failed in https://github.com/kubernetes/kubernetes/issues/85879 job, but PR was still merged, which caused all kubemark tests to start failing #86423

Last status:

**14 of 15 checks passed**
**tide** Not mergeable. Retesting: pull-kubernetes-kubemark-e2e-gce-big [Details](https://prow.k8s.io/pr?query=is%3Apr+repo%3Akubernetes%2Fkubernetes+author%3Agongguan+hea

[2019-12-19 10:16] jkaniuk commented on #86426
/cc fejta

[2019-12-19 10:25] jkaniuk commented on #86426
/assign fejta

[2019-12-19 10:41] zbw0046 commented on #86381
It seems like that i misunderstand the usage of the `workqueue`. thanks.

[2019-12-19 10:41] #86381 closed

[2019-12-19 10:53] bertreyking commented on #21248
[root@k8s-master03 log]# kubelet --version
Kubernetes v1.16.2

[root@k8s-master03 log]# cat /var/lib/kubelet/kubeadm-flags.env
KUBELET_KUBEADM_ARGS="--cgroup-driver=systemd --network-plugin=cni --pod-infra-container-image=10.6.203.60:5000/pause:3.1 --log-dir=/var/log/kubelet/ --log-file=/var/log/kubelet/kubelet.log --logtostderr=false"

it's ok

[2019-12-19 10:58] aojea commented on #86422
/remove sig-storage

[2019-12-19 11:14] jkaniuk commented on #86426
/assign mm4tt

[2019-12-19 11:24] jkaniuk opened #86427 "[Failing Test] gce-master-scale-correctness - sig-storage tests"
**Which jobs are failing**:
ci-kubernetes-e2e-gce-scale-correctness

**Which test(s) are failing**:
- [sig-storage] In-tree Volumes [Driver: gluster] [Testpattern: Inline-volume (default fs)] volumes should allow exec of files on the volume
- [sig-storage] CSI mock volume CSI Volume expansion should expand volume by restarting pod if attach=off, nodeExpansion=on

**Since when has it been failing**

[2019-12-19 11:28] jkaniuk commented on #86427
/sig scalability
@kubernetes/sig-storage-test-failures
@guineveresaenger @alenkacz - FYI

[2019-12-19 11:38] discordianfish commented on #40610
@Bessonov tell that @fejta
I've just stopped filling issues I don't have the resources to fix right away.

[2019-12-19 11:57] jkaniuk opened #86429 "[Failing Test] node-containerd-throughput failing"
**Which jobs are failing**:
ci-kubernetes-e2e-gce-node-containerd-throughput

**Which test(s) are failing**:
Setting up the cluster

**Since when has it been failing**:
long time

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-node#node-containerd-throughput

**Reason for failure**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-node-containerd-thro

[2019-12-19 12:34] warmchang commented on #80948
/remove-lifecycle stale

[2019-12-19 13:10] squeed commented on #76338
So, I've been looking at kube-proxy, and have identified two issues. I have PRs for both, though one is in progress:

1. there is an informer bug that can cause updates to be missed if they come during a re-List() (done after disruption) and there multiple handlers on the informer. I don't think this affects kube-proxy, but it did affect OpenShift's version of it. The PR is #86015
2. kube-proxy is

[2019-12-19 13:17] daixiang0 opened #86432 "Why hostNetwork auto generate hostPort"
**What happened**:

[code]
I do not specify hostPort in ports field, but in final yaml, it existes.

**What you expected to happen**:

Final result yaml does not include hostPort.

**How to reproduce it (as minimally and precisely as possible)**:
Apply above yaml.

**Anything else we need to know?**:

I read docs and get that hostPort would generate iptable rule but hostNetwork not.
It confuses me

[2019-12-19 13:25] 871690991 commented on #52694
Brother, what's the matter? I need help. Which API to use

[2019-12-19 13:41] aojea commented on #86370
🤔 it seems that those errors are not happening when using KIND

https://testgrid.k8s.io/presubmits-kubernetes-nonblocking#pull-kubernetes-e2e-kind&include-filter-by-regex=session%20affinity&width=5
https://testgrid.k8s.io/presubmits-kubernetes-nonblocking#pull-kubernetes-e2e-kind-ipv6-canary&include-filter-by-regex=session%20affinity&width=5

may it be a GCE environment issue?

[2019-12-19 14:05] aojea commented on #86370
Analyzing this occurence https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/86222/pull-kubernetes-e2e-gce/1207063762578706433/

The tests fails timing out at 23:05:35.615

Dec 17 23:05:35.615: Connection to 10.0.207.245:80 timed out or not enough responses.
test/e2e/network/service.go:189

The last update of the service port is at

However, the endpoints are not present until 23:05:40.21

[2019-12-19 14:06] liggitt commented on #80948
I don't anticipate that happening. The number of required addons that provide API-like surfaces is *very* small (something providing DNS according to the kubernetes DNS schema, something providing metrics for HPA to consume, and that's about it). Making it easily consumable so that controllers that want to make use of it sounds like a good idea, but not adding it to core.

/close

[2019-12-19 14:06] #80948 closed

[2019-12-19 14:13] aojea commented on #86370
Same happens in this one https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/1207088803420835843

Dec 18 00:42:18.918: Connection to 10.0.60.18:80 timed out or not enough responses.
test/e2e/network/service.go:189

endpoints are not ready until

I1218 00:42:29.723746       1 endpoints.go:376] Setting endpoints for "services-4166/affinity-clusterip-transition:"

[2019-12-19 14:18] aojea commented on #86370
This is the constant that handles the timeout, however the comment says it should be enough time

https://github.com/kubernetes/kubernetes/blob/ec4f3e306446f30e3db9df0a00b83ddcd2cd9941/test/e2e/network/service.go#L76-L80

is it possible there is a performance regression hidden somewhere?

[2019-12-19 14:21] mm4tt opened #86434 "Kubelets issue 2K QPS of GET PersistentVolumeClaim requests during 5K node load test"
It happens during the "delete" phase in the load test.

![Vc5Ms0vcuCo](https://user-images.githubusercontent.com/2604887/71180511-a0589f00-2272-11ea-858d-8015a6a9ab8d.png)

In perf-dash we can see that in total there are ~20M requests like that during the load test.

![4WrEtLhXEh9](https://user-images.githubusercontent.com/2604887/71180626-e01f8680-2272-11ea-9204-aff990067727.png)

It started in S

[2019-12-19 14:27] sbezverk commented on #86286
@roycaihw  What would be the exclusion  selection criteria? I do not see any specific labels on kube-scheduler and kube-contoller-manager which can be used to exclude them. Checking for these two names to ignore in the controller would be very costly.  I can only see annotations, but ListOptions does not have option to filter on Annotations. Would you accept extending ListOptions to support filter

[2019-12-19 14:30] ahg-g opened #86435 "Move SelectorSpread priority logic to its Score plugin [Migration Phase 2]"
/sig scheduling
/priority important-soon

SelectorSpread priority is now called from a plugin named DefaultPodTopologySpread. We need to move the logic to run in the plugin and remove SelectorSpread priority completely.

See #86399 as an example.

Part of #85822

This needs PostFilter Plugin to store the pod selector.

/assign @hprateek43

[2019-12-19 14:31] danielfm opened #86436 "Kubectl reporting wrong duration for jobs aborted due to exceeding deadline"
**What happened**:

It seems that Jobs that get terminated due to exceeding the active deadline seconds get a wrong duration reported via `kubectl`.

This the `kubectl get jobs` for the affected Jobs:

[code]

There are other Jobs affected by this issue (all of those created via a Cronjob), but let me show one particular example.

Running `kubectl describe` don't give any information about the sta

[2019-12-19 14:32] danielfm commented on #86436
/sig cli

[2019-12-19 14:37] ahg-g opened #86437 "Move NodeLabelPriority to its Score and Filter plugin [Migration Phase 2]"
/sig scheduling
/priority important-soon

See #86399 as an example.

Part of #85822

This shouldn't need a PostFilter Plugin.

/assign @danielqsj

[2019-12-19 14:38] liggitt commented on #86426
resolved in https://github.com/kubernetes/test-infra/pull/15657?

[2019-12-19 14:38] mm4tt commented on #86426
Yes, we can close this one.
/close

[2019-12-19 14:39] aojea commented on #86370
The timeline shows that failures started around Dec 14th
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&include-filter-by-regex=session%20affinity&width=5

[2019-12-19 14:40] liggitt commented on #86370
That's when silent flake suppression/retry was turned off. I suspect this has been flaky for far longer than that.

[2019-12-19 14:41] jkaniuk commented on #86427
#86317 flake

[2019-12-19 14:43] ahg-g opened #86439 "Move Taint and toleration priority to its Score plugin [Migration Phase 2]"
/sig scheduling
/priority important-soon

See #86399 as an example.

Part of #85822

This will require a PostFilter Plugin to pre-compute the list of tolerations with effect TaintEffectPreferNoSchedule.

/assign @SataQiu

[2019-12-19 14:47] ahg-g opened #86440 "Move Pod Spread priority logic to its Score plugin [Migration Phase 2]"
/assign @Huang-Wei
/sig scheduling
/priority important-soon

This includes moving the metadata logic into PostFilter.

Part of #85822

[2019-12-19 14:49] AlexShemeshWix opened #86441 "Error creating load balancer in AWS"
kube version: Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.7", GitCommit:"6c143d35bb11d74970e7bc0b6c45b6bfdffc0bd4", GitTreeState:"clean", BuildDate:"2019-12-11T12:34:17Z", GoVersion:"go1.12.12", Compiler:"gc", Platform:"linux/amd64"}
nginx-ingress controller version: 0.22.0

**What happened**:
We have kops managed kube clusters in 6 DCs in AWS.
in one of them kube fails t

[2019-12-19 14:52] AlexShemeshWix commented on #86441
@kubernetes/sig-contributor-experience-bugs

[2019-12-19 14:53] liggitt commented on #85762
debugging log messages merged 2019-12-19T08:38:10Z, will check for output in next failure

[2019-12-19 15:11] detiber commented on #79616
/remove-lifecycle rotten

[2019-12-19 15:17] notpad commented on #86356
@answer1991 `good first issue` is a label denotes the issue is suite for a new contributor, but I think this issue may need some background knowledge about the api server.

/unassign

[2019-12-19 15:18] notpad commented on #85822
/cc

[2019-12-19 15:18] idealhack commented on #86441
/sig cloud-provider
/area provider/aws

/remove-sig contributor-experience

[2019-12-19 15:37] cppforlife commented on #33664
i just ended up on this issue from following some blog posts, etc.

one solution as mentioned above was to...

for folks who want to do it in an automated way, we ended writing some time ago a little tool, kbld (https://get-kbld.io), that transform image references to their digest equivalents. even though we did this to _lock down_ which image is being used, it would also solve this problem as wel

[2019-12-19 15:40] ahg-g opened #86442 "Move volumebinding predicate to its filter plugin [Migration Phase 2]"
/sig scheduling
/priority important-soon

We need to move the unit tests as well.

See #86399 as an example.

Part of #85822

/assign @zouyee

[2019-12-19 15:44] JakubOboza commented on #81121
If it is ports which should be in range 0 to 65535 most sense to me makes unit16 but strconv.ParseUint returns uint64 which could also be a option.

ParseUint has a limit on bitsize which can be set to 16 to force port be in correct range
https://golang.org/pkg/strconv/#ParseUint

link to playground: https://play.golang.org/p/bWlmTBuwKNt
[code]

golang "net" package has also unexported function ca

[2019-12-19 15:46] ahg-g opened #86443 "Move NoDiskConflict predicate to its Filter plugin [Migration Phase 2]"
/sig scheduling
/priority important-soon

See #86399 as an example.

Part of #85822

/assign @angao

[2019-12-19 15:47] ahg-g opened #86444 "Move VolumeZone predicate to its Filter plugin [Migration Phase 2]"
/sig scheduling
/priority important-soon

See #86399 as an example.

Part of #85822

/assign @tanjunchen

[2019-12-19 16:04] ahg-g opened #86445 "Move resource-based priority functions to their Score plugins [Migration Phase 2]"
/sig scheduling
/priority important-soon

See #86399 as an example.

There are two parts to this:

PR 1: move  RequestedToCapacityRatio plugins/requestedtocapacityratio/requested_to_capacity_ratio.go to plugins/noderesources/requested_to_capacity_ratio.go

PR 2: move resource_allocation.go to plugins/noderesources/ and move the logic in  Least/Most/Balanced and RequestedToCapacityRatio logic to th

[2019-12-19 16:07] markpeek commented on #85544
Since @duglin will be running the CloudEvents call, he asked me to give the introduction to CloudEvents on the proposed 2020-01-23 call mentioned above. Looking forward to it.

[2019-12-19 16:08] ahg-g commented on #85822
Thanks all for your interest helping with the migration. I created a bunch of issues and assigned them to all cc-ed themselves on this issue. Please confirm on the assigned issue that you will be able to work on it.

[2019-12-19 16:16] tedyu commented on #86417
For improvement #1, it seems there should be filtering (corresponding to the deletionTimestamp of the namespace being synced) added to this func of ServerResourcesInterface interface :
[code]

[2019-12-19 16:37] GhostDZ9 commented on #36304
/remove-lifecycle stale

[2019-12-19 16:49] ahg-g opened #86447 "Move ServiceAntiAffinityPriority to its Score plugin [Migration Phase 2]"
/sig scheduling
/priority important-soon

See #86446 as an example.

/assign @danielqsj

[2019-12-19 16:49] ahg-g commented on #86437
/unassign @danielqsj
/assign

[2019-12-19 16:51] aojea commented on #86370
Some interesting things, the apiserver is using the [::1] address. per example
[code]
more entries in the log file

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/86222/pull-kubernetes-e2e-gce/1207063762578706433/artifacts/e2e-427a309747-674b9-master/kube-apiserver.log

I've opened an issue because I've observed that the apiserver mixing IP families caused retries and errors in kub

[2019-12-19 16:52] aojea commented on #86422
Using `localhost` as url doesn't guarantee that the IP family resolved is the one that we are using

https://gist.github.com/aojea/94f6f483173641647c731f582e52f0b0

Several examples:

https://github.com/kubernetes/kubernetes/issues/86370#issuecomment-567570903
https://github.com/kubernetes/kubernetes/pull/86389

[2019-12-19 17:18] dimileeh commented on #13488
Our GKE cluster on "rapid" release channel has upgraded itself to Kubernetes 1.16 and now `kubectl rollout restart` has stopped working:

[2019-12-19 17:51] wojtek-t commented on #41504
I'm reopening it, because the PR fixing is going to be reverted: https://github.com/kubernetes/kubernetes/pull/86425

[2019-12-19 18:09] davi5e commented on #72196
In our case, glob/wildcard patterns would suffice, but they aren't supported either.

[2019-12-19 18:12] #86423 closed

[2019-12-19 18:37] PatrickLang commented on #83450
I don't think anyone has investigated this yet. A few things to check:

Setting it system-wide:

- Currently storage-opt is broken in some combinations of Docker+Windows - see https://github.com/docker/engine/pull/429 and https://github.com/microsoft/hcsshim/issues/708
- Once that's fixed, I think you could write a daemonset that would change this docker config system wide, but I don't know if tha

[2019-12-19 18:40] adamnovak commented on #69014
I think this still needs doing.

/remove-lifecycle stale

[2019-12-19 18:49] mikedanese opened #86448 "CSI drivers need some way to get service account tokens"
CSI drivers need some way to get service account tokens for the pods they are provisioning volumes for. These tokens may be used to authenticate to the Kubernetes API (e.g. the [Certificates API](https://github.com/jetstack/cert-manager-csi), or to authenticate to external services like [vault](https://github.com/hashicorp/secrets-store-csi-driver-provider-vault)). Right now the state of the art i

[2019-12-19 18:56] seh commented on #86448
As an intermediate hack, following a suggestion posed by @tallclair, my CSI driver uses the _TokenRequest_ API to fetch a service account token for the pod into which it's mounting a volume. However, as discussed in the SIG Auth meeting on 11 December 2019, doing so is only really safe if we also use an admission plugin that verifies that the token request both comes from the CSI driver's service

[2019-12-19 19:12] apelisse commented on #13488
hey @dimileeh

Do you happen to know what version of kubectl you're using now? and what version you used before? I'd love to know if there was a regression, but at the same time I'd be surprised if the feature had entirely disappeared.

With regard to the GCS thing, and knowing very little about your use-case so sorry if it makes no sense: I would suggest that the gcs model get a different name ev

[2019-12-19 19:23] dimileeh commented on #13488
hi @apelisse, thank you for your response!

When I run `kubectl version` from Google Cloud Terminal, I get the following:

[code]

When I tried to upgrade kubectl via `gcloud components update`, it said I'm already using the latest versions of all products. Therefore, I think my kubectl version stayed the same while the K8S cluster upgraded from 1.15 to 1.16.

The Kubenetes documentation 1.17, 1.1

[2019-12-19 19:40] jheiss commented on #68164
Also kubernetes-client/java#652

[2019-12-19 19:49] jpbetz commented on #59848
https://github.com/kubernetes/enhancements/pull/1404 proposes how we might fix the last remaining underlying problem we need to fix to resolve this issue.

[2019-12-19 19:52] brentpearson commented on #86403
Nice, looks like it worked.

[2019-12-19 19:52] #86403 closed

[2019-12-19 20:19] liggitt commented on #86424
yes, see https://github.com/kubernetes/kubernetes/pull/83442#issuecomment-545367910

/close

[2019-12-19 20:19] #86424 closed

[2019-12-19 20:23] ggriffiths commented on #86200
@gnufied is this expected behavior? Seems like maybe the warning could specify that it couldn't find any in-tree plugins instead?

[2019-12-19 20:26] apelisse commented on #13488
I can see the docs here:
https://v1-16.docs.kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#-em-restart-em-

[2019-12-19 20:35] kfox1111 commented on #86448
should such a check be added to the node admission plugin?

[2019-12-19 20:38] seh commented on #86448
It would need to know which service accounts are associated with which CSI drivers, which isn't obvious from the _CSIDriver_ object. You can get from a pod's volume mounts to _CSIDriver_ objects, but you don't know which pods are implementing which drivers.

[2019-12-19 20:40] dimileeh commented on #13488
Ah, thank you, I was looking here:
https://v1-16.docs.kubernetes.io/docs/reference/kubectl/cheatsheet/

[2019-12-19 20:40] #86410 closed

[2019-12-19 20:43] enj commented on #86448
Folks from SIG Auth seemed to generally be happy with this proposal.  I think we need feedback from SIG Storage folks on if this makes sense and how to configure it.

[2019-12-19 21:09] akhileshwathada opened #86451 "Worker node fails always in Not ready state"
Worker node was added to the master and was running a few days back, now getting the following error

[root@samwise ~]# kubectl get nodes
NAME                           STATUS     ROLES    AGE    VERSION
bilbo.devemc.commvault.com     Ready      master   120d   v1.16.1
samwise.devemc.commvault.com   NotReady   <none>   86d    v1.16.1

[root@samwise ~]# systemctl status kubelet -l
● kubelet.service

[2019-12-19 21:12] apelisse commented on #13488
Thank you very much for that link, I’ll make sure it gets updated !

On Thu, Dec 19, 2019 at 12:40 PM Dmitri Lihhatsov <notifications@github.com>
wrote:

[2019-12-19 21:13] kfox1111 commented on #86448
Hmm... yeah, there is no real link between a csidriver and a service account...

This somewhat is not specific to csidrivers as well. Say you have a daemonset that loads a nonstorage driver onto the node. It wants to modify the nodeobject on which it is running on. Today either you need to use the node's credential, or you need to give the daemonset service account access to change all nodes (not

[2019-12-19 21:17] fedebongio commented on #86417
/cc @logicalhan

[2019-12-19 21:20] kfox1111 commented on #86448
It almost feels like an rbac kind of policy thing. Pod P1 with service account S can do X with resource Y but only if P1 is on the same host as another pod P2 referencing Y?

kind of like: the serviceaccount for the csidriver has permissions to impersonate user service account only if it has a running pod instance on the same node as a pod on the same node. or the service account or a problem dete

[2019-12-19 21:22] fedebongio commented on #86418
/cc @jennybuckley

[2019-12-19 21:25] kfox1111 commented on #86448
More thinking out loud here.... There's a third general service account restriction I'd really like to see.
Operators typically ask for access to all secrets in the cluster so they can do their work. but that is kind of horrible...

There needs to be a way to restrict secret access by namespaces only to those operators service accounts that have an instance of their CR inside that same namespace.

[2019-12-19 21:39] #86398 closed

[2019-12-19 21:52] gnufied commented on #86200
This is expected - I think we should turn that warning into a normal message. @ggriffiths if you can open a PR I am happy to review/merge it.

[2019-12-19 21:54] ggriffiths commented on #86200
Will do, thanks @gnufied!

[2019-12-19 21:54] ggriffiths commented on #86200
/assign @ggriffiths

[2019-12-19 22:05] mikedanese commented on #86448
I don't see this requiring any admission or changes in authorization. In either of the options for the Kubernetes API, permission to update the CSIDriver or PodSpec to specify an audience should be sufficient. There's no object references or secrets here at play here.

[2019-12-19 22:34] msau42 commented on #86390
@kubernetes/sig-storage-test-failures

[2019-12-19 22:51] joelsmith commented on #81128
/remove-lifecycle rotten

[2019-12-19 22:52] joelsmith commented on #81119
/remove-lifecycle rotten

[2019-12-19 23:02] kfox1111 commented on #86448
for just the csi use case, I agree, it could be solved with a csidriver/podspec audience field addition and admission checks.

Just wondering out loud a little bit if there is a greater problem that can be solved with the same machinery. The other two use cases are just as scary to me on my own clusters. All fall into the category of "software provided by others are asking/getting way more permiss

[2019-12-19 23:12] msau42 commented on #86181
I think then the test case would be very similar to
"[sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Dynamic PV (filesystem volmode)] multiVolume [Slow] should access to two volumes with the same volume mode and retain data across pod recreation on different node", which

1. Creates 2 PVCs used by a single Pod
2. Deletes the pod
3. Force reschedules the pod to a different node and vali

[2019-12-19 23:15] msau42 commented on #86427
https://github.com/kubernetes/kubernetes/issues/86390 is open for the same thing. Which one do you want to use?

[2019-12-19 23:19] liggitt commented on #86181
Doing this inside a deleting namespace ensures nothing blocks on the inability to create events. I would keep that aspect of it and just trigger the pod/pvc deletions yourself.

[2019-12-19 23:27] vsxen commented on #86406
accessmode ReadonltMany?
use fsck.ext4  to fix file system?

[2019-12-19 23:37] #86437 closed

[2019-12-19 23:41] msau42 commented on #86181
Ok, then I would be more in favor of adding a new test case in our testsuite that explicitly does the namespace deletion. I want to start moving away from having cloud provider-specific tests, and as a bonus we'll get coverage for CSI drivers too.

[2019-12-19 23:53] liggitt commented on #86181
I'm ok adding a test specifically around namespace deletion, but ensuring the PV/PVC infrastructure behaves well in a namespace that is being deleted seems valuable as well (and that test would not need to wait on the namespace to disappear)

[2019-12-20 01:03] RainbowMango commented on #82510
/close

[2019-12-20 01:03] #82510 closed

[2019-12-20 01:11] msau42 commented on #86181
Agree. When I said "testsuite" I meant the [storage testsuite](https://github.com/kubernetes/kubernetes/tree/master/test/e2e/storage/testsuites)

[2019-12-20 01:23] zhxqgithub commented on #86406
@vsxen yes ,we use ReadOnlyMany accessMode. 'fsck -y ' can fix file system by manual  . however , hope the code can auto repair file system.

[2019-12-20 01:32] a1198457636 commented on #86424
thanks

[2019-12-20 01:33] yuxiaobo96 commented on #85822
/cc
I want to join it too.

[2019-12-20 01:35] neujie commented on #85261
Why your pod subpath was deleted?
Just killing the pause container won't solve your problem, cause the volumeManager notes the subpath was mounted.

[2019-12-20 01:37] msau42 commented on #81751
I believe this has been addressed by https://github.com/kubernetes/kubernetes/pull/83108

/close

[2019-12-20 01:37] #81751 closed

[2019-12-20 01:40] neujie commented on #85261
maybe #61446 is the root cause,

[2019-12-20 01:46] ahg-g opened #86460 "Move Pod Affinity predicate logic to its Filter plugin [Migration Phase 2]"
/assign @ahg-g
/sig scheduling
/priority important-soon

This includes moving the metadata logic into PreFilter.

Part of #85822

[2019-12-20 01:56] neujie commented on #61446
Better practice:
* kill or delete pod
* clear the pod's all `subpath`
**otherwise a lot of useless dir will be left**

[2019-12-20 01:58] daixiang0 commented on #86432
/sig cli
/sig docs
/sig network

[2019-12-20 01:58] 13567436138 opened #86461 "my kubernetes version is 1.16.2 I cannot use ephemeralcontainers"
}[root@master01 ephemeralContainers]# curl http://localhost:8081/api/v1/namespaces/default/pods/nginx/ephemeralcontainers
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {

  },
  "status": "Failure",
  "message": "the server could not find the requested resource",
  "reason": "NotFound",
  "details": {

  },
  "code": 404
}

[root@master01 ephemeralContainers]# kubectl -n default replac

[2019-12-20 02:05] yuzhiquan commented on #79547
/remove-lifecycle stale
Any update?

[2019-12-20 02:08] yuzhiquan commented on #59078
/remove-lifecycle stale
Watching on this

[2019-12-20 02:18] qqshfox commented on #81636
We are facing this exact issue in our production cluster using 1.11.10.

Here're the KCM logs:

[code]

New node registered at 08:59:13, deleted 6s later at 08:59:19.

From these logs, the actual delete logic, which is at https://github.com/kubernetes/kubernetes/blob/v1.11.10/pkg/controller/nodelifecycle/node_lifecycle_controller.go#L706, is not using `ProviderID` at all.

I believe the logic @M00

[2019-12-20 02:35] yuzhiquan commented on #21248
BTW, why don`t want shows log in syslog?

[2019-12-20 02:37] weinong commented on #82776
@tdihp are you working on it? I will grab it if I dont hear it from you :)

[2019-12-20 02:39] liggitt commented on #86461
The feature is still alpha level and is not enabled by default. You can enable it with the --feature-gates flag to the apiserver and to kubelets, but be aware that upgrade compatibility for alpha features is not guaranteed.

[2019-12-20 02:39] #86461 closed

[2019-12-20 03:04] antoninbas opened #86462 ""kubectl get -A all" hangs when using kubectl version 1.17.0"
I just created a new cluster using version 1.17.0 of the kubeadm & kubelet Debian packages (downloaded from https://packages.cloud.google.com/apt), and observed a strange behavior when using `kubectl` version 1.17.0.

**What happened**:
When running `kubectl get -A all` with `kubectl` version 1.17.0, the command hangs and takes about 1 minute to complete.
If instead I run `kubectl get -A pods`, th

[2019-12-20 03:05] antoninbas commented on #86462
/sig cli

[2019-12-20 03:08] ozbillwang opened #86463 "apply can't work, but delete/apply work"
**What happened**:

when apply a replicaset change, and change the label and apply again, it reports error, I have to delete this replicaset and apply again, all fine.

Furtherly, if the first deployment with wrong yaml, and apply with correct one, it only starts one pod.

**What you expected to happen**:

should be fine to switch the label and start the nominated count of replica pods.

**How to

[2019-12-20 03:11] ozbillwang commented on #86463
/sig labels

[2019-12-20 03:13] ozbillwang commented on #86463
@kubernetes/sig-cli-bugs

[2019-12-20 03:21] liggitt commented on #86462
What does trace logging show is taking a long time (add `--v=6`)

[2019-12-20 03:23] liggitt commented on #86463
The selector on an apps/v1 replicaset is immutable after creation.

/remove-sig cli
/sig apps

[2019-12-20 03:26] zhouya0 commented on #86463
As it said ` field is immutable`, so you can use `kubectl apply --force` which will delete and then create.

[2019-12-20 03:32] angao commented on #86443
thx, I will do it soon.

[2019-12-20 03:39] antoninbas commented on #86462
@liggitt Thanks for the quick follow-up. A lot of messages like this one:
[code]
which makes sense since the `.kube` folder was created by the root user in my Ansible playbook and is owned by root. So related to this older issue: https://github.com/kubernetes/kubernetes/issues/59356. Funny how I don't have this issue with older kubectl versions.

[2019-12-20 03:41] liggitt commented on #86462
Older versions of kubectl do the same thing... that behavior hasn't changed in years. Working without a cache means most calls fully rediscover available APIs, which unsurprisingly has an impact on performance.

[2019-12-20 03:43] tedyu commented on #86463
See #66602

[2019-12-20 03:45] antoninbas commented on #86462
Yes you're right I see the same messages with kubectl 1.16.4, but for some reason the request still completes much faster. I see these messages with kubectl 1.17.0:
[code]

Some throttling happening causing the command to take much longer to execute?

[2019-12-20 03:47] liggitt commented on #86462
ah, that would be https://github.com/kubernetes/kubernetes/pull/86168, which is already merged into the 1.17 branch in https://github.com/kubernetes/kubernetes/pull/86170 and will be fixed in 1.17.1

[2019-12-20 03:50] antoninbas commented on #86462
Sorry for the duplicate issue and thanks for the pointer! I will "fix" the ownership of the ".kube" directory to avoid the issue until 1.17.1 is released.

[2019-12-20 03:50] #86462 closed

[2019-12-20 03:53] ozbillwang commented on #86463
Thanks a lot @zhouya0  & @tedyu

so `kubectl apply --force` fixed both issue.

* I can switch label whatever I like to, the command will be always successful
* I can guarantee to get proper number of replica pods.

[2019-12-20 03:53] #86463 closed

[2019-12-20 04:19] tdihp commented on #82776
have the code ready will try PR this weekend

Best,
Ping
________________________________
发件人: Weinong Wang <notifications@github.com>
发送时间: Friday, December 20, 2019 10:38:00 AM
收件人: kubernetes/kubernetes <kubernetes@noreply.github.com>
抄送: tdihp <tdihp@hotmail.com>; Mention <mention@noreply.github.com>
主题: Re: [kubernetes/kubernetes] kubectl: Azure AAD authentication should handle refresh token

[2019-12-20 04:25] 13567436138 opened #86465 "I want to use readinessGates ，how can i create a condition"
I want to use readinessGates ，how can i create a condition

[2019-12-20 04:36] liggitt commented on #85762
debug output from failure:
[code]

[2019-12-20 04:40] liggitt commented on #85762
debug output from success:
[code]

[2019-12-20 04:52] 13567436138 opened #86467 "how to use runtimeclass and runtimeClassName"
how to use runtimeclass and runtimeClassName
how to config runtime?

[2019-12-20 05:16] cleverguy25 commented on #40908
We have this scenario as well.  We have both successful and failure exit scenarios of essential pods where we want the whole pod to terminate with the right status.  This works in a single container scenario but the minute you add a sidecar support container it doesn't function how I would expect.

[2019-12-20 05:23] liggitt commented on #85762
failure in https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/86454/pull-kubernetes-e2e-gce/1207802378506473472/artifacts/

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/86454/pull-kubernetes-e2e-gce/1207802378506473472/build-log.txt
[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/86454/pull-kubernetes-e2e-gce/1207802378506473472/artifacts/e2e-dd22242

[2019-12-20 05:42] liggitt commented on #85762
based on my reading of this, the timeline was:
* 00:02:23.540776 - we got a pod running
* 00:02:23.912297 - deleted it with a 30 second grace period
* 00:02:54.101551 - the kubelet finished handling the delete request (30.18 seconds)
* 00:02:54.16085 - test failed with a timeout (30.25 seconds)

That seems like extremely tight tolerances, especially since the grace period refers to termination of

[2019-12-20 05:47] liggitt commented on #85762
opened https://github.com/kubernetes/kubernetes/pull/86468 to allow time for the kubelet to remove the terminated pod from the API

[2019-12-20 05:57] cblecker opened #86469 "Testing :)"
Test 123

[2019-12-20 05:57] #86469 closed

[2019-12-20 06:23] denkensk commented on #85871
/cc

[2019-12-20 06:31] Belyenochi commented on #83672
I am also confused.

[2019-12-20 06:58] robinwangrubin opened #86471 "My K8s-Cluster cannot access Service-IP(clusterIP)"
Hello,
It's my first time trying K8s cluster. The embarrassing thing is when i did the first task, i failed.

Here is the thing.

I followd official documents to create a web deployment.
I can access my pod in my cluster node.
And then i created a service to link my pod. So i got the service IP.
The official documents told me that i could access my service ip in my cluser node.
But it seems like t

[2019-12-20 06:59] brancz commented on #85544
Sounds good, thanks!

[2019-12-20 07:01] zhangguanzhang commented on #76531
[code]
It will ok which use this
[code]

[2019-12-20 08:40] Sampathkonka commented on #45509
scale command won't accept --pods as parameter

[2019-12-20 09:17] sshukun commented on #86471
`ClusterIP` is cluster-internal IP and can only be accessed from inside the cluster.
To access the service from your node, you can use `NodePort` instead.
You can find more details about `ServiceTypes` [here](https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types).

[2019-12-20 09:20] cwdsuzhou opened #86475 "Scheduler： len(failedPredicates) always 0"
failedPredicates declared, but would not have failedPredict add to it.

https://github.com/kubernetes/kubernetes/blob/9fa1e00be9f4816e18d463f8125a7f20c0d4aee1/pkg/scheduler/core/generic_scheduler.go#L642
https://github.com/kubernetes/kubernetes/blob/9fa1e00be9f4816e18d463f8125a7f20c0d4aee1/pkg/scheduler/core/generic_scheduler.go#L652

**What happened**:

**What you expected to happen**:

**How to

[2019-12-20 09:20] cwdsuzhou commented on #86475
/sig scheduling

[2019-12-20 09:21] jkaniuk commented on #86390
/sig scalability

[2019-12-20 09:22] jkaniuk commented on #86427
I did not notice it. It do not have scalability label.
I will close this one.

[2019-12-20 09:22] #86427 closed

[2019-12-20 09:26] erenatas commented on #83471
I am having this issue right now. Pods are either stuck at ContainerCreating or Init because it says it's pulling the image.

I go to the node that it's trying to pull the image and pull the docker image manually. It's still stuck.

[2019-12-20 09:26] afirth commented on #65973
KEP shipped in https://github.com/kubernetes/enhancements/pull/1265

still want :+1:

[2019-12-20 09:29] eyenx commented on #52172
/reopen

Still a problem with 1.16 and cri-o

[2019-12-20 09:33] aojea commented on #86370
@liggitt I'm starting to think that this may be a performance regression because the endpoints are not being updated in a timely manner,  based on this analysis https://github.com/kubernetes/kubernetes/issues/86370#issuecomment-567502852 and the following entries

[code]

and seems that these issues are related:

https://github.com/kubernetes/kubernetes/issues/85881
https://github.com/kubernetes/k

[2019-12-20 09:52] chenkaiyue commented on #75065
@zhan849 ”container started and terminated (failed, not k8s / docker related)“ how you know container start and then failed?

[2019-12-20 10:07] Tejas-Subramanya commented on #83332
Any solution to this problem?

[2019-12-20 10:16] jpbochi commented on #30784
for CI, I might end up installing the binary from https://github.com/rajatjindal/kubectl-whoami/releases directly instead of using krew. I already verified that this works.

[2019-12-20 10:49] ksubrmnn commented on #81938
@benmoss @vitaliy-leschenko as mentioned here (:

[2019-12-20 11:43] #78973 closed

[2019-12-20 11:43] #80473 closed

[2019-12-20 11:55] aojea opened #86479 "apiserver, controller-manager and scheduler listen on all interfaces (ipv4 and ipv6) when binding to 0.0.0.0"
**What happened**:

The apiserver, controller-manager and scheduler are configured to use IPv4 addresses
[code]

however, are serving on all addresses IPv4 and IPv6

[code]

**What you expected to happen**:

To listen only on the IP family specified

**How to reproduce it (as minimally and precisely as possible)**:

https://gist.github.com/aojea/92b53f2989b83644abc3eb75314330af

or checking in one

[2019-12-20 11:56] aojea commented on #86479
/assign @aojea
/cc @liggitt @BenTheElder

[2019-12-20 11:56] etcshad0vv commented on #72878
Thank you for following up @xueweiz , I will have to wait for 4.4 release. So far it has been really helpful using the python script through a scheduled task fixing the period, I am checking regularly kernel.org for new release in 4.4 plus I will have to wait for a couple of days the rollout of kernel in Ubuntu's repositories in xenial branch (16.04). I will definitely let you know how it will go.

[2019-12-20 12:31] benceszikora commented on #85397
I have noticed the same thing using IPVS on our cluster.

[2019-12-20 12:40] sebolabs commented on #80897
Think, I've found out why: `externalTrafficPolicy: "Local"`
This by default sets up the HTTP healthcheck on a random port unless:

**controller.service.healthCheckNodePort**

Source: https://github.com/helm/charts/tree/master/stable/nginx-ingress

I changed this: `externalTrafficPolicy: "Cluster"` and had to redeploy the Service.
Now the healthcheck is configured with a TCP port and I get healthy

[2019-12-20 12:56] seh commented on #86448
Something I forgot to mention, @mikedanese: Since these service account tokens likely have a short lifetime before they expire, a CSI driver may need to acquire fresh tokens every so often. It would be easy enough to push a valid token down to the driver through the "volume context" in the `NodePublishVolume` call, but after that, the driver would have no way to receive subsequent tokens. I don't

[2019-12-20 13:12] aermakov-zalando commented on #72155
/remove-lifecycle stale

[2019-12-20 13:56] vitaliy-leschenko opened #86482 "Windows Containers can't communicate with resources from host's network"
**What happened**:
Pods on Windows can't communicate with any resources (db, smb, etc) that hosted at the network of on-premise k8s.

**What you expected to happen**:
Pods should have opportunity to communicate with host's network.

**How to reproduce it (as minimally and precisely as possible)**:
1. setup k8s-master (192.168.10.1/24) on ubuntu 18.04
2. setup k8s-worker-1 (192.168.10.2/24) on wind

[2019-12-20 14:12] wojtek-t opened #86483 "1.17 & 1.18 clusters are failing during master rolling upgrade"
https://github.com/kubernetes/kubernetes/pull/83520 changed the way how reflectors work.
In particular, when we down kube-apiserver, what happens is:
- watches (from kubelets/kube-proxies) are breaking and reconnecting to a different apiserver
- apiserver (when restarting) initializes watch cache at "now"
- given that bookmarks (in the current implementation) are send only right before watch is ti

[2019-12-20 14:15] wojtek-t opened #86484 "Upgrades of large clusters should be scalability tested"
As shown in https://github.com/kubernetes/kubernetes/issues/86483, performance of up-and-running large clusters was fine in 1.17, but upgrade of such cluster has high probability of killing the cluster.

We should add "control plane upgrade" scalability test to release blocking tests.

@kubernetes/sig-scalability-bugs
@liggitt

[2019-12-20 14:23] wojtek-t commented on #86483
We will provide more exact data once we have concrete numbers and comparisons.

[2019-12-20 14:35] liggitt commented on #86483
my immediate inclination would be to revert https://github.com/kubernetes/kubernetes/pull/83520 for 1.17.1 until we have more data, rather than leave it as-is or experiment in patch releases.

[2019-12-20 14:36] liggitt commented on #86483
isn't dropping the limit on reflector relist likely to crush servers running without the watch cache enabled? @smarterclayton might have better data on what that looks like.

[2019-12-20 14:37] liggitt commented on #82949
this job was hard failing for several hours yesterday, and was fixed by https://github.com/kubernetes/kubernetes/pull/86464

[2019-12-20 14:37] liggitt commented on #82949
it is still flaky, but is no longer hard failing - xref https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-kubemark-e2e-gce-big

[2019-12-20 14:41] liggitt commented on #86479
binding 0.0.0.0 to all interfaces is the documented behavior of net.Listen:

[2019-12-20 14:49] liggitt commented on #86479
The unspecified ip (0.0.0.0) is a special case that means "bind to all interfaces". This is currently working as intended. Is there a specific problem this causes?

[2019-12-20 15:33] marqc opened #86485 "Pod ready condition is not always updated after readiness gates condition changes"
**What happened**:
I have ReplicationController with 2 replicas. Pods have deafined custom readinessGates condition. Sometimes after readinessGates condition gets changed to True, pod ready condition does not get updated.

**What you expected to happen**:
pod condition type==ready status to be always updated as soon as defined readiness gates status gets changed

**How to reproduce it (as minimall

[2019-12-20 15:35] #86335 closed

[2019-12-20 15:40] aojea commented on #86479
If (0.0.0.0) means "bind to all interfaces on all IP families", then is a misconfiguration problem and not a bug 😅.

I was worried because this causes that some components use IPv6 for their communications on dual-stack hosts despite the cluster is IPv4 single family (and viceversa), as we can see in this snippet from one of the gce presubmits job
[code]

and don't know if this can impact on some

[2019-12-20 15:41] liggitt commented on #86479
From the listen godoc:

That means binding to `0.0.0.0` or `0:0:0:0:0:0:0:0` or `::` will bind to all interfaces

[2019-12-20 15:43] liggitt commented on #86479
I would expect anyone using network interfaces as security boundaries to be binding to a specific interface, not binding to all and hoping "all" is family-partitioned

[2019-12-20 15:44] liggitt commented on #86479
Clarifying the handling of unspecified addresses like that in the flag/config help seems reasonable, but as far as I can tell, this is working as intended.

[2019-12-20 15:47] aojea commented on #86479
yeah, thanks for the clarification, I totally misinterpreted the net.Listen function

[2019-12-20 15:47] #68940 closed

[2019-12-20 15:47] #80340 closed

[2019-12-20 15:47] #80423 closed

[2019-12-20 15:47] #80308 closed

[2019-12-20 15:47] #80323 closed

[2019-12-20 15:52] marqc commented on #86485
/sig node

[2019-12-20 16:04] saf-itpro opened #86486 "Validation error during deployment using YAML config file"
**Environment**: Windows Containers on Windows 10, Azure Kubernetes Services Cluster, Azure Cli, Azure Cloud Shell

I'm following [this][1] Microsoft Tutorial to create a Windows Server container on an Azure Kubernetes Service (AKS) cluster using Azure Cli. In the [Run the Application][3] section of this turorial, I get the following error when running the following command to deploy the applicati

[2019-12-20 16:33] liggitt commented on #86479
/remove-triage unresolved

[2019-12-20 16:35] liggitt commented on #82387
testgrid on that test looks good, will unhold the cherrypicks

/close

[2019-12-20 16:35] #82387 closed

[2019-12-20 16:38] liggitt commented on #86486
I'm unable to reproduce this. what version of kubectl are you using? can you attach the exact yaml file you are using to rule out any copy/paste whitespace issues?

[2019-12-20 16:48] #80279 closed

[2019-12-20 16:48] #79853 closed

[2019-12-20 16:48] #80239 closed

[2019-12-20 16:48] #79988 closed

[2019-12-20 16:48] #79825 closed

[2019-12-20 17:08] saf-itpro commented on #86486
@liggitt I'm using [Azure Cloud Shell](https://azure.microsoft.com/en-us/features/cloud-shell/) that  -according to the second checkmark on the above link - is updated and maintained by Microsoft. However, I did run `kubectl version` in Azure Cloud Shell, and got the following output. Does this output tell what version I'm using. If it's an older version, do you happened to know how I can upgrade

[2019-12-20 17:29] spiffxp commented on #84610
/close
This is no longer continuously failing in the linked testgrids.  Using https://github.com/kubernetes/kubernetes/issues/85762 to track the test's flakiness

[2019-12-20 17:29] #84610 closed

[2019-12-20 17:34] dgpilkin commented on #45509
This feature is currently not in place. He is saying it would be nice if this was implemented.

[2019-12-20 17:43] spiffxp commented on #76338
/remove-lifecycle stale

[2019-12-20 17:51] saf-itpro commented on #86486
@liggitt Following is the attached yaml file you request. I'm using the Azure Cloud Shell and downloaded this file using command `download sample.yaml`. After download, I had to changed the file extension to `.txt` since GitHub was not allowing me to attach the file with some other extensions such as `yaml` .
[sample.txt](https://github.com/kubernetes/kubernetes/files/3989527/sample.txt)

[2019-12-20 17:52] liggitt commented on #86486
it looks like you have a typo in the file:

[code]

[2019-12-20 18:12] Huang-Wei commented on #86475
I suppose it's the master code, right? We're in the mid of migrating legacy predicate/priorities to pure plugins, so some messy code is expected. We're aware of them and get them cleanup very soon :)

[2019-12-20 18:16] saf-itpro commented on #86486
@liggitt The file content is taking from [this ](https://docs.microsoft.com/en-us/azure/aks/windows-container-cli#run-the-application) section of Microsoft tutorial by just clicking `Copy` button at the top right corner of their file content there and then pasting it to their Azure Cloud Shell by first creating the file using `vi` editor. Is there something we can suggest there to correct their ty

[2019-12-20 18:22] liggitt commented on #86486
The file on that site is correct. I suspect you opened vi in read mode, then by pasting, the first `a` put you in edit mode.

[2019-12-20 18:27] #86486 closed

[2019-12-20 18:28] tedyu commented on #86483
Option #2
[code]
Can we send the bookmark right before shutting down api-server (not increasing frequency of sending bookmarks) ?

[2019-12-20 18:31] saf-itpro commented on #86486
@liggitt  Good catch. You are the best. Thank you for coming to my rescue. It's working now.

[2019-12-20 18:32] alex-kovshovik commented on #63214
Passing `--overrides` works, but the JSON has to be 1 line with no spaces or should be put into single quotes - 'overrides here'.

This breaks down when I'm trying to make it part of CI YAML config file.

It would be very nice if I could indeed specify the Pod manifest in a file.

**The following works however:**

[2019-12-20 18:36] TrueGreens opened #86488 "node affinity Gt/Lt not working with floats"
**What happened**:
Pod not scheduled on node

**What you expected to happen**:
Pod should be scheduled on node (running not pending)

**How to reproduce it (as minimally and precisely as possible)**:
Pod.yaml:
[code]

On the target node add:
kubectl label node <node-name> appVersion='500'

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
Client Ve

[2019-12-20 18:42] TrueGreens commented on #86488
/sig Scheduler.  Not sure how to add it here.

[2019-12-20 18:42] immutableT opened #86489 "Enable deleting API objects even when storage-level decryption is not working properly"
**What happened**:
Users are unable to delete secrets when kms provider (which originally encrypted such secrets) can no longer decrypt them. There may be several reasons why kms provider would fail to decrypt secrets, the most common one is that users deleted/disabled the version of the key that was used to originally encrypt secrets.

**What you expected to happen**:
Secrets to be deleted.

**Ho

[2019-12-20 18:43] TrueGreens commented on #86488
/sig scheduling

[2019-12-20 18:49] liggitt commented on #86489
It is expected that inability to read from storage (including any required decryption from storage) will block access to the object (including read, write, and delete requests).

The deletion path requires checking things like finalizers, and finalizing controllers can take arbitrary actions via the API (reading and updating the object).

Adding support for partial object encryption would be an en

[2019-12-20 18:50] #78957 closed

[2019-12-20 18:54] immutableT commented on #86489
I will work on a KEP for this.

[2019-12-20 19:08] lkoba commented on #63214
@alex-kovshovik

https://gist.github.com/lkoba/e73dcc13bd8d81907b1f4069a19979ec

I use this to run pod manifests, it works with multiline commands, volumes, secrets, labels, etc.

You may need to adapt it to your needs. At the moment it only works with Pod manifest files.

It depends on jq and y2j to parse json and convert yaml files to json.

[2019-12-20 19:11] jlforester commented on #73480
We're also seeing this issue.  Manually deleting the service deletes the ELB, but not the the SG or the reference it creates inside the node SG.  Same thing with Terraform and Helm releases.  Using EKS with v1.14.8-eks-b8860f.

[2019-12-20 19:26] jlforester commented on #73480
/remove-lifecycle stale

[2019-12-20 19:43] spiffxp opened #86491 "[Flaky Test] [sig-api-machinery] ResourceQuota"
**Which jobs are flaking**:
- pull-kubernetes-e2e-gce

**Which test(s) are flaking**:
- [sig-api-machinery] ResourceQuota should verify ResourceQuota with best effort scope. [Conformance]
- [sig-api-machinery] ResourceQuota should create a ResourceQuota and capture the life of a replication controller. [Conformance]
- [sig-api-machinery] ResourceQuota should verify ResourceQuota with terminating s

[2019-12-20 19:51] #80264 closed

[2019-12-20 19:59] hasheddan commented on #86491
/cc @kubernetes/ci-signal

[2019-12-20 20:28] IvanBoyko commented on #59551
It's sad it was closed without resolution

[2019-12-20 20:33] liggitt commented on #86488
This is working as designed/documented. From the API documentation for the values field:

[code]

[2019-12-20 20:33] #86488 closed

[2019-12-20 21:02] TrueGreens commented on #86488
The following doc, does not mention integer.
https://kubernetes.io/docs/concepts/configuration/assign-pod-node/

[2019-12-20 21:22] mcandre opened #86494 "Idempotent `apply` with clearer logs"
Kubernetes resources A) act differently on `apply` and B) have varying degrees of specificity for `apply` response logs. Can we unify these into a more idempotent `apply` behavior, and make sure that logs disambiguate error vs. modification vs. no change?

[2019-12-20 21:58] alex-kovshovik commented on #63214
This is great, thanks for sharing! To reduce the number of dependencies, I saved my manifest file as JSON - no need for `y2j`. `jq` was already installed on that system (container).

Thank you @lkoba

[2019-12-20 22:26] tedyu commented on #86491
For https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/86338/pull-kubernetes-e2e-gce/1207659777459490828 ,
[code]
observed the following in kube-apiserver.log around the above time period:
[code]

[2019-12-20 23:18] altreze opened #86497 "Service is not within the service CIDR please recreate"
**What happened**:
All the services are asking to be recreated because the service CIDR changed after upgrading from 1.16.3 ro 1.17.0

[code]

**What you expected to happen**:
Smooth migration from `1.16.3` to `1.17.0`, which would not break service CIDR.

**How to reproduce it (as minimally and precisely as possible)**:
Do an upgrade from version 1.16.3 to 1.17.0

**Anything else we need to know?

[2019-12-20 23:20] altreze commented on #86497
/sig node

[2019-12-20 23:23] altreze commented on #86176
What kind of configuration you could like, could you please be more precise ?
Is there any reason why the logs are sent by default to stderr ?

[2019-12-20 23:40] oke-py commented on #79606
I wrote a plugin to watch until statefulset gets ready.
https://github.com/oke-py/kubectl-wait-sts-plugin

Does it work for you?

[2019-12-20 23:42] mmerrill3 commented on #79523
@justinsb gave some good feedback to the original PR.  Does this need a reset with a fresh PR?  I also have a need for this.  I don't have a strong urge to write, or reuse, an operator for NLBs in AWS for UDP.  This will eventually get done in k8s anyways, so I'd rather put the effort there.

[2019-12-20 23:45] mmerrill3 commented on #79523
BTW, you can always setup an NLB manually to forward UDP to a nodePort service on your k8s instances.  The issue with that is that you have to pick a NodePort service for UDP before hand, and manually handle the NLB and the target groups.  One cluster upgrade and your target group behind the NLB disappears since all of the instances get replaced.  It's not ideal but in a pinch...

[2019-12-20 23:51] roy-work opened #86499 "kubectl shows node memory >100%?"
**What happened**:

We ran the following, and got the following:
[code]

How/why do we have a node reporting >100% memory usage? (There seems to be plenty of memory on the host as reported by the kernel's `MemAvailable` statistic. (multiple gigabytes)

**What you expected to happen**:

Memory usage can't exceed 100%, no?

**How to reproduce it (as minimally and precisely as possible)**: we unfortu

[2019-12-20 23:51] davidz627 commented on #75220
/remove-lifecycle stale

[2019-12-20 23:54] roy-work commented on #86499
(Taking my best shot here, but if this is wrong please freely adjust it.)

/sig instrumentation

[2019-12-21 00:08] apelisse commented on #13488
@dimileeh PTAL https://github.com/kubernetes/website/pull/18224 (I'll cherry-pick in relevant branches once this gets merged).

[2019-12-21 00:18] tedyu commented on #86499
Other than 101% reporting issue, do you observe any other abnormality ?

[2019-12-21 00:21] apelisse commented on #13488
@dimileeh I think I figured out what's wrong with your kubectl version, we'll be working on it.

[2019-12-21 02:28] #86460 closed

[2019-12-21 02:38] qqshfox commented on #81636
Deployed a modified KCM into our production cluster last night, we can't reproduce this issue any more by now.

There were at least 5 nodes couldn't got deleted before the patch when spawning 50 nodes. Now we tried spawning 100 nodes for more than 10 times, all nodes successfully registered.

We'll let the modified KCM keep running for some days, to see if this problem will appear again.

[2019-12-21 02:58] #79155 closed

[2019-12-21 04:16] warmchang commented on #79280
/remove-lifecycle stale

[2019-12-21 04:39] alexives commented on #31753
@liggitt, you closed this, but has it been resolved? I seem to get `not found` now, but I'm not sure what version it was changed in.

[2019-12-21 06:45] qqshfox commented on #81636
xref #58334

[2019-12-21 06:52] warmchang commented on #85256
I think you want StatefulSet to have a richer update stratege like Deployment:

[code]

[2019-12-21 08:32] dineshba commented on #82612
I would love to work on this. Can i work on this ?

[2019-12-21 08:41] irajdeep commented on #81984
@RainbowMango sure I can do that, I will update the corresponding PR:
https://github.com/kubernetes/kubernetes/pull/82627

[2019-12-21 09:39] tomkerkhove commented on #85544
Thanks @markpeek & @duglin  for making this work out!

[2019-12-21 10:27] aojea opened #86504 "Pod Probes doesn't work if host = 0.0.0.0"
**What happened**:

When configuring the host field of a probe with the 0.0.0.0 address it fails

**What you expected to happen**:

There is controversy on what should expect to happen, you can follow the discussion here:

https://github.com/kubernetes/kubernetes/pull/86493#discussion_r360595011

personally ,and after checking the code, I think that a good option will be replacing the host field b

[2019-12-21 10:28] aojea commented on #86504
/cc @liggitt @neolit123 @ereslibre @mauilion

I think it's better to open a bug so we can refer to it for the decision we are going to take

[2019-12-21 11:30] ghhenry opened #86507 "Service cannot be accessed via nodeport"
**What happened**:
A NodePort service can be accessed via the ClusterIP, but not via the NodePort (the request hangs)

**What you expected to happen**:
Request works the same as called via cluster IP.

**How to reproduce it (as minimally and precisely as possible)**:
On the master node the following works:

`curl http://10.96.111.117:8080/`

but the following hangs:

`curl://localhost:32585/`

The

[2019-12-21 11:32] ghhenry commented on #86507
/sig network

[2019-12-21 13:07] drightchao commented on #82519
Hi, we met exactly the same issue on openshift, pod restarts occassionally, with exit code 3

[2019-12-21 14:09] #67828 closed

[2019-12-21 14:36] cwdsuzhou commented on #86475
thanks for your clarification @Huang-Wei

[2019-12-21 14:38] aojea commented on #86504
/sig node
/sig network
/Cc @thockin

[2019-12-21 14:53] hprateek43 commented on #86435
Started working on this. Will be opening a PR shortly.

[2019-12-21 15:01] aojea commented on #86497
@altreze do you mean that the service cidr changed without any intervention after the upgrade?

10.96.0.0/12 is the default service cidr

May it be possible you were using another service cidr before the upgrade and you didn't set it during the upgrade, so it fall back to the default?

[2019-12-21 15:22] wawa0210 commented on #83450
@PatrickLang  Very comprehensive

As far as i know
Setting it system-wide:
 + After my testing, this parameter `storage-opt` is no problem in docker-ee, there is a problem in docker-ce, it seems to have been fixed
+ If we run daemonset to change the docker daemon.json, this requires restarting docker to work, which is very risky

Therefore, I thought we could specify this parameter by configuring

[2019-12-21 16:41] #86353 closed

[2019-12-21 16:43] aojea commented on #86422
/remove-triage unresolve

[2019-12-21 16:44] aojea commented on #86422
/remove-triage unresolved

[2019-12-21 16:49] aojea commented on #86451
/triage support

[2019-12-21 16:53] justinsb opened #86509 "BlockOwnerDeletion does not block owner deletion"
I created a CR "parent" that creates a CR "child".  The "child" CR has **two** ownerrefs: "parent" and "uncle" (another CR).  The "parent" ownerRef blockOwnerDeletion is true; the "uncle" ownerRef blockOwnerDeletion is unset.

When I delete "parent", "child" is not deleted.  We do not seem to honor blockOwnerDeletion on "child" being deleted, though we do remove the ownerRef.  If I first remove th

[2019-12-21 16:53] justinsb commented on #86509
/sig apimachinery

[2019-12-21 16:53] justinsb commented on #86509
/sig api-machinery

[2019-12-21 17:05] aojea commented on #86185
/assign
/remove-triage unresolved

@sftim can you guide me on what steps are needed to publish the examples?

[2019-12-21 18:03] liggitt commented on #86509
That is expected. A child is not deleted by GC until all parents are absent.

That is surprising to me. Are you deleting the parent with an "orphan dependents" deletion option? If not, I would expect the ownerRef to remain and for blockOwnerDeletion to be effective.

[2019-12-21 18:04] aojea commented on #85894
I've reproduced using KIND  and the following KIND configuration:

[code]

with the steps provided in the description

[code]

[2019-12-21 18:06] liggitt commented on #86497
Can you provide your kube-apiserver invocation?

[2019-12-21 18:10] liggitt commented on #86497
xref https://github.com/kubernetes/kubernetes/pull/81668 which added warnings if no explicit CIDR flag was passed but should not have changed behavior otherwise

[2019-12-21 18:13] #80532 closed

[2019-12-21 18:16] liggitt commented on #86497
Where do you see that?

The default is specified here as 10.0.0.0/24 and did not change between 1.16.0 and 1.17.0:

https://github.com/kubernetes/kubernetes/blob/v1.17.0/pkg/kubeapiserver/options/options.go

https://github.com/kubernetes/kubernetes/blob/v1.16.0/pkg/kubeapiserver/options/options.go

[2019-12-21 18:17] aojea commented on #85894
This is a more verbose sequence (KIND uses a load balancer)
[code]

[2019-12-21 18:19] aojea commented on #86497
🤦‍♂ I was assuming it was using kubeadm, that's the default for kubeadm

https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/

[2019-12-21 18:23] liggitt commented on #86497
ah, ok. If they are using kubeadm, *that* default also did not change between 1.16.0 and 1.17.0:

* https://github.com/kubernetes/kubernetes/blob/v1.16.0/cmd/kubeadm/app/apis/kubeadm/v1beta* 1/defaults.go#L31-L32
https://github.com/kubernetes/kubernetes/blob/v1.16.0/cmd/kubeadm/app/apis/kubeadm/v1beta2/defaults.go#L31-L32
* https://github.com/kubernetes/kubernetes/blob/v1.17.0/cmd/kubeadm/app/apis

[2019-12-21 18:25] liggitt commented on #86497
@altreze a few questions for you:
* how did you install your 1.16.x cluster?
* did you customize the service cidr in that deployment?
* how did you upgrade your 1.16.x cluster?
* did you apply the same service cidr customization in that deployment?

[2019-12-21 19:14] #70767 closed

[2019-12-21 19:40] wojtek-t commented on #86483
That doesn't work if e.g. machine is hard-rebooted or sth, so I wouldn't treat is as very full solution.

@liggitt - that is good question. But my claim is that you can't have very large clusters withou watch cache enabled (at least for couple main high-volume resources like endpoints, nodes and pods). So I'm personally not too worried about that.

[2019-12-21 20:15] altreze commented on #86497
1.16.x  was a straight and normal install no change on service CIRD, and we have never touched this CIDR configuration.

And kubeadm is supposed to be used during the upgrade from 1.16.x to 1.17.x.
 We just followed the describe process:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

The logs system started showing the shared message.

[2019-12-21 20:15] #80537 closed

[2019-12-21 20:18] liggitt commented on #86497
@neolit123 can you reproduce?

[2019-12-21 20:38] aojea commented on #86497
@altreze can you paste `kubectl -n kube-system get configmap kubeadm-config -o yaml`?

That will show you kubeadm config

[2019-12-21 20:54] altreze commented on #86497
[code]

[2019-12-21 20:55] neolit123 commented on #86497
created a single node cluster with v1.16.4 and a custom service cidr:
[code]

applied upgrade to v1.17.0:
[code]

i do not see a change in the custom service cidr.

[2019-12-21 21:12] neolit123 commented on #86497
@altreze if you never touched the service CIDR on the initial install it should have been `10.96.0.0/12` which is the kubeadm default.

your config map shows `serviceSubnet: 10.96.0.0/12`.

how did you adapt the IP `10.101.249.43` to work with the service cidr if you deployed kubernetes with the kubeadm default `10.96.0.0/12`?

[2019-12-21 21:24] altreze commented on #86497
The only change is the update from 1.16.3 to 1.17.0, done yesterday.
Please find below a snapshot from our logs:

<img width="1635" alt="Screen Shot 2019-12-21 at 22 22 29" src="https://user-images.githubusercontent.com/11944714/71313922-8a98d480-2440-11ea-9e09-4a031a15cc21.png">

[2019-12-21 21:31] neolit123 commented on #86497
my point is that if you did not apply a custom service cidr on "kubeadm init", then this cidr was the default out from kubeadm `10.96.0.0/12` and after upgrade the service cidr was preserved as your config map shows.

what was the elasticsearch/logging service IP before upgrade?

[2019-12-21 22:23] #79108 closed

[2019-12-22 00:41] sftim commented on #86185
I [replied](https://github.com/kubernetes/kubernetes/pull/86511#issuecomment-568221332) via the pull request. (Although I want these examples added, it's not a task I'm familiar with).

[2019-12-22 00:52] sftim commented on #86448
I'm wondering what determines the audience for the token the CSI driver gets to see. Maybe there's a confused deputy attack there, I'm assuming there couldn't be but I thought I'd mention it in case I'm wrong.

[2019-12-22 02:18] wawa0210 commented on #86482
Can you see any error logs for flannel on windows nodes?

[2019-12-22 02:21] #68720 closed

[2019-12-22 02:34] wawa0210 commented on #75296
https://github.com/kubernetes/kubernetes/issues/85379

[2019-12-22 02:34] wawa0210 commented on #75296
https://github.com/kubernetes/kubernetes/pull/86101

[2019-12-22 03:08] seh commented on #86448
In my CSI driver, I take the audiences as a command-line flag set by the cluster operator who deploys the driver. That's the person who probably also configured whichever other system needs to accept those tokens.

With Vault's Kubernetes auth method, for example, the cluster operator who deploys the CSI driver would have to tell the Vault role authors [which audience to expect](https://www.vaultp

[2019-12-22 04:23] #80244 closed

[2019-12-22 04:51] 13567436138 opened #86516 "why I cannt access pod with headless service"
[root@master01 service]# curl nginx-02.nginx-clusterip-svc-headless.default.svc.cluster.local:80
curl: (6) Could not resolve host: nginx-02.nginx-clusterip-svc-headless.default.svc.cluster.local; Unknown error
[root@master01 service]# curl nginx-clusterip-svc-headless.default.svc.cluster.local:80
<!DOCTYPE html>
<html>
<head>
<title>Welcome to nginx!</title>
<style>
    body {
        width: 35em;

[2019-12-22 05:03] #86301 closed

[2019-12-22 05:51] ragav0102 commented on #69507
@jingxu97 Yeah, hoping that there are others like me, it would be great if these stats are exposed as metrics.

[2019-12-22 06:56] 13567436138 opened #86517 "already set--hostname-override but node port service cannot access with set externaltrafficpolicy"
[Service]
WorkingDirectory=/var/lib/kubelet
ExecStartPre=/bin/mount -o remount,rw '/sys/fs/cgroup'
ExecStartPre=/bin/mkdir -p /sys/fs/cgroup/cpuset/system.slice/kubelet.service
ExecStartPre=/bin/mkdir -p /sys/fs/cgroup/hugetlb/system.slice/kubelet.service
ExecStartPre=/bin/mkdir -p /sys/fs/cgroup/memory/system.slice/kubelet.service
ExecStartPre=/bin/mkdir -p /sys/fs/cgroup/pids/system.slice/kubele

[2019-12-22 07:25] 13567436138 opened #86518 "ipFamily: IPv6 is set but the ip is still ipv4"
[root@master01 service]# vi nginx-clusterIp-svc-ipFamily.yaml
apiVersion: v1
kind: Service
metadata:
  name: nginx-clusterip-svc-ipfamily
spec:
 selector:
   app: nginx
 type: ClusterIP
 ipFamily: IPv6
 ports:
 -  name: http
    port: 8000
    targetPort: 80

[2019-12-22 07:26] #80560 closed

[2019-12-22 07:26] #76187 closed

[2019-12-22 07:43] aojea commented on #86497
10.101.249.43 belongs to the service rubnet range `10.96.0.0/12 = 10.96.0.1 - 10.111.255.254`

at minimum the error message is wrong

/kind bug

[2019-12-22 08:38] aojea commented on #86497
@altreze
are those errors happening constantly or only happened during the upgrade?
are you able to create new services within that range?
let's say, with a service IP of 10.101.249.45 https://kubernetes.io/docs/concepts/services-networking/service/#choosing-your-own-ip-address

Also, can you paste your current service-cluster-cidr configured in the controller-manager and apiserver? i.e.
[code]
[c

[2019-12-22 09:38] 13567436138 opened #86520 "loadBalancerSourceRanges did not take affect"
[root@master01 service]# vi nginx-loadblancer-svc-loadBalancerSourceRanges.yaml
apiVersion: v1
kind: Service
metadata:
  name: nginx-loadblancer-svc-loadbalancersourceranges
spec:
 selector:
   app: nginx
 type: LoadBalancer
 loadBalancerSourceRanges:
 - 1.1.1.0/24
 ports:
 -  name: http
    port: 8000
    targetPort: 80

I still can access from 192.168.198.154

[2019-12-22 09:45] matthyx commented on #82482
@alinbalutoiu actually both `ReadinessProbe` and `LivenessProbe` are disabled until `StartupProbe` succeeds.

[2019-12-22 10:07] vitaliy-leschenko commented on #86482
Unfortunately C:\ProgramData\Kubernetes\logs\flanneld\flanneldsvc.log contains only 2 lines:
[code]
But kubelet logs contains this:
[code]

Details for reproduce issue on real environment:
[code]

[2019-12-22 10:12] 13567436138 opened #86522 "sessionAffinityConfig did not take affect"
[code]
[code]

[2019-12-22 10:29] mpmprock3 commented on #49387
`kubectl get po --all-namespaces|grep -v Running`This can help to filter non running pod

[2019-12-22 11:31] kvaps commented on #82883
/remove-lifecycle stale

[2019-12-22 11:42] danielsand commented on #81042
@mltsy
1. Yes - basically switch to another container runtime.

https://kubernetes.io/docs/setup/production-environment/container-runtimes/0

I had that in mind but didnt started on Evaluation and trials switching to another CR

[2019-12-22 12:54] EastMoneyColin opened #86523 "pod.spec.affinity.podAffinity.preferredDuringSchedulingIgnoredDuringExecution.podAffinityTerm Mismatch explain doc"
**What happened**:
when create resources  pod.spec.affinity.podAffinity.preferredDuringSchedulingIgnoredDuringExecution.podAffinityTerm.labelSelector with yaml config file, prompt unknown field "labelSelector" in io.k8s.api.core.v1.NodeSelectorTerm; but kubectl explain this sourece include this filed.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)*

[2019-12-22 13:09] #86523 closed

[2019-12-22 13:09] EastMoneyColin commented on #86523
Sorry My mistake...

[2019-12-22 13:22] sftim commented on #75535
What priority should this issue have?

[2019-12-22 13:59] #85805 closed

[2019-12-22 14:52] docwhat commented on #23130
/remove-lifecycle-stale

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-22 15:28] wawa0210 commented on #86482
Through these logs, we can see that flannel was not successfully installed on windows.

[2019-12-22 15:34] #80584 closed

[2019-12-22 15:46] Mikulas commented on #50041
The generated documentation from the source is also available at https://godoc.org/k8s.io/kube-proxy/config/v1alpha1#KubeProxyConfiguration

[2019-12-22 16:32] vitaliy-leschenko commented on #86482
I used this instructions: https://kubernetes.io/docs/setup/production-environment/windows/user-guide-windows-nodes/ with little changes.
[code]
When flannel had been deployed I cloned https://github.com/kubernetes-sigs/sig-windows-tools and run
[code]
How I can enable more logs for flanneld to provide more details about the issue?

[2019-12-22 20:39] #80599 closed

[2019-12-22 20:47] julianvmodesto opened #86525 "Document kubectl diff command as GA"
**What would you like to be added**:

Currently, we primarily have documentation for `kubectl diff` in the helptext itself.

`kubectl diff` is being promoted from beta to GA in v1.18.

For `kubectl diff`, we need more documentation on kubernetes.io.

Documentation includes:

- [x] https://kubernetes.io/docs/reference/kubectl/cheatsheet/ https://github.com/kubernetes/kubernetes/issues/86525
- [x] `

[2019-12-22 20:51] julianvmodesto commented on #68526
For properly documenting this feature, I've opened https://github.com/kubernetes/kubernetes/issues/86525

[2019-12-22 21:02] julianvmodesto opened #86526 "document server-side dry run is GA"
**What would you like to be added**:

Server-side dry-run is being promoted from beta to GA in v1.18.

For the server-side dry-run integration in kubectl, we are making a few changes:

- we're extending the `--dry-run` flag to support the options `client`, `server` and `none`
- we're deprecating no value for the `--dry-run` flag, such that setting a value will be required in the future
- we're dep

[2019-12-22 21:40] neolit123 commented on #86497
this is a bug in core:
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/service/ipallocator/controller/repair.go#L244-L247

this call in the repair controller returns `ErrNotInRange` for an IP that is actually in the CIDR range:
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/service/ipallocator/controller/repair.go#L228
also indicates a missing unit te

[2019-12-22 21:40] #80594 closed

[2019-12-22 21:44] neolit123 commented on #86497
/priority important-longterm

[2019-12-22 21:46] altreze commented on #86497
I was able to reproduce the same behavior again, with a fresh install k8s release 1.16.4.

### Init config:
[code]

[code]

### Before the upgrade:
#### Services
[code]
#### Pods
[code]
Just After installing metrics server, we could notice a shift in the service CIDR, but nothing in the logs.

### After the upgrade to 1.17.0:
#### Services
[code]
#### Pods
[code]

#### The logs
[code]

#### Config

[2019-12-22 22:41] #80466 closed

[2019-12-22 23:34] aojea commented on #86497
/cc @aramase @lachie83

[2019-12-22 23:46] neolit123 commented on #86497
so the problem here is that a IPv4 CIDR such as `10.96.0.0/12` translates to 1048576 addresses.
but this line here clamps the maximum to 2^16 (65536)
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/service/ipallocator/allocator.go#L87

so for an address like `10.103.106.226` the logic in the ip allocator fails in the `contains()` function:
https://github.com/kubernetes/kuber

[2019-12-23 00:09] liggitt commented on #86497
I think that was touched in https://github.com/kubernetes/kubernetes/pull/83422 … was this bug preexisting or did that change behavior?

[2019-12-23 00:21] aojea commented on #85894
I think I can confirm @liggitt's comment https://github.com/kubernetes/kubernetes/issues/85894#issuecomment-562153133

If I understood the code correctly, the port allocator checks only the local map
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/service/allocator/storage/storage.go#L83-L93

and if the local map has the port in use(because it wasn't updated), but etcd have

[2019-12-23 00:25] neolit123 commented on #86497
before @yastij PR (#83422) i do not see a clamp for IPv4:
https://github.com/kubernetes/kubernetes/blob/0779296bf3609f43e62bffb98c3f05aa107539ad/pkg/registry/core/service/ipallocator/allocator.go#L269-L284

only one for IPv6 at 16bits.

https://github.com/kubernetes/kubernetes/commit/0779296bf3609f43e62bffb98c3f05aa107539ad#diff-ab29e3b9d3d92908a050414ba389e185
https://github.com/kubernetes/kubern

[2019-12-23 00:42] ranjit552 opened #86528 "gcloud container v1 api support for gke regional clusters"
Hi

I tried to connect with a regional cluster using v1 api and ended up with the following error.

error: google.api_core.exceptions.NotFound: 404 Not found: projects/myprojectname/zones/us-central1-a/clusters/myclustername.

Can you guys make an enhancement for regional gke clusters ?

[2019-12-23 00:43] #78694 closed

[2019-12-23 00:50] LiWeiJie commented on #77073
The same issue is observed in kubernetes v1.15, v1.16 version too.

[2019-12-23 01:12] ranjit552 commented on #86528
/sig cloud-provider

[2019-12-23 01:15] ranjit552 commented on #86528
/sig apps

[2019-12-23 01:16] ranjit552 commented on #86528
/sig release

[2019-12-23 01:16] ranjit552 commented on #86528
/sig usability

[2019-12-23 01:25] zouyee commented on #86442
got it, thanks.

[2019-12-23 01:58] liggitt commented on #86497
We should:
* revert https://github.com/kubernetes/kubernetes/pull/83422
* add unit tests for the missed cases
* get that into 1.17.1
* reintroduce the reliance on the k8s.io/utils function carefully

[2019-12-23 02:58] jfbai commented on #82827
/remove-lifecycle stale

[2019-12-23 03:05] zhaoguangqiang opened #86531 "init-container restarted after docker prune image"
**What happened**:

My init-container completed in the first day.
In the second day, i have a crontab to prune image by docker.
After clean, my init-container will be restarted.

**What you expected to happen**:

I want the init-container not be restarted

**How to reproduce it (as minimally and precisely as possible)**:

Run a pod with init-container.
After init-container success complete.
Then r

[2019-12-23 03:30] wawa0210 commented on #86482
I guess your flannel configuration file is incorrect，

https://github.com/microsoft/SDN/blob/ba6fbdf445dff0906151db348cccf1c93d002ecc/Kubernetes/flannel/l2bridge/net-conf.json#L1-L7

The correct configuration is 'host-gw' instead of 'host_gw'

[2019-12-23 03:31] tuminoid commented on #85894
If only it was only theoretical issue. Unfortunately, we've noticed that this is happening in our CI, when application namespace is deleted and then redeployed, and time between deletion and recreation may be even a minute or two. 😖

As stated in the original bug report:

making it a very real problem, since kubectl doesn't show any objects left, yet it fails to create the nodeport. "Lots of objec

[2019-12-23 05:36] superbrothers opened #86536 "`kubectl convert` was not removed in v1.17"
**What happened**:

In v1.16 release note, `kubectl convert` will be removed in v1.17. However it still exists. Is this forgetting to remove it?

- https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.16.md#deprecations-and-removals

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2019-12-23 05:36] superbrothers commented on #86536
/sig cli

[2019-12-23 07:20] vitaliy-leschenko commented on #86482
@wawa0210 you are right. It is just a typo in comment. I used "host-gw" to configure flannel.

[2019-12-23 07:29] wawa0210 commented on #86482
Can you find this gateway configuration via `ipconfig` on the host, the name seems to be 'cbr0_ep'

[2019-12-23 07:43] vitaliy-leschenko commented on #86482
Yes, I can.
[code]

[2019-12-23 08:08] feiskyer commented on #82776
/assign @tdihp

[2019-12-23 08:10] mm4tt commented on #73519
I think this got fixed via https://github.com/kubernetes/perf-tests/pull/915
/close

[2019-12-23 08:10] #73519 closed

[2019-12-23 08:29] #86019 closed

[2019-12-23 08:40] robinwangrubin commented on #86471
![image](https://user-images.githubusercontent.com/24934186/71346457-e2e7e780-25a2-11ea-92c3-483fb6aaa235.png)

[2019-12-23 08:59] kvaster opened #86538 "kubeadm is starting kubelet before complete config is writte to disk"
**What happened**:
kubeadm is timing out during cluster initialization on openrc systems.
Kubelet is failing to start cause there is no complete configuration on the disk.

**What you expected to happen**:
It is expected to have complete config already written to disk before attempt to start kubelet.

**How to reproduce it (as minimally and precisely as possible)**:
Bug is reproducable with no con

[2019-12-23 09:00] kvaster commented on #86538
/sig cluster-lifecycle

[2019-12-23 09:07] danielsikorskiy commented on #70179
Any updates on this issue? Same problem ....
Kubectl top shows way more than top / docker stats / any other memory usage checker.

Is there any documentation on how kubectl top actually calculates the memory usage for each pod?

[2019-12-23 09:12] fujitatomoya opened #86539 "No Device Plugin Callback for Releasing devices against Allocate"
**What would you like to be added**:

Device Plugin Callback to release(dis-allocation) the hardware or devices at the finalization of pods.

**Why is this needed**:

Currently the following simple API are ready for Device Plugin,
https://github.com/kubernetes/kubernetes/blob/92e0de32698864f4dce876d79e80386261e3e18c/staging/src/k8s.io/kubelet/pkg/apis/deviceplugin/v1beta1/api.proto#L48-L67

but de

[2019-12-23 09:15] zhangxingdeppon opened #86540 "when computer container cpu usage through the metrics/cadvisor, the value larger than limited value and `top` command's value"
**What happened**:
hi, buddies, I met a problem, when computer container cpu usage through the metrics/cadvisor, the value larger than `top` command's value, I need a exactly value like `top` command,  can you give me some ideas? thanks

here is a example to show you, for example  deployment  `hux7rjho76zj3l2s-notebook`.
this is example deployment yaml:
<pre><code>
[root@ecs-5274-0318501 ~]# kubec

[2019-12-23 09:16] zhangxingdeppon commented on #86540
@kubernetes/sig-apps-bugs

[2019-12-23 09:18] fujitatomoya commented on #86539
/sig apps

[2019-12-23 09:23] prary commented on #83313
/kubernetes

[2019-12-23 09:44] altreze commented on #86497
What would be the safest path to recreate all the services whilst waiting a final solution ? Especially for  production K8S.

[2019-12-23 09:56] abbaspw21 opened #86543 "Failed to created Pod Preset resources in K8 v1.16.1"
**What happened**:
As mentioned on below URL
https://kubernetes.io/docs/concepts/workloads/pods/podpreset/
I tried to enable Pod Preset by adding
--runtime-config=settings.k8s.io/v1alpha1=true
--enable-admission-pluginsPodPreset
 but it didn't work out on v1.16.1. The same thing works well in v1.12.3 and v1.17.0

**What you expected to happen**:
Should be able to create Pod preset resources in v1.

[2019-12-23 09:58] gowthamboddapati opened #86544 "Disable route-mesh for LB liveness probes when destination-preserve=true annotation is set"
**What happened**:
When preserve-destination annotation is set to true the routing mesh is getting disabled for actual traffic flow but the  route mesh isn’t getting disabled for LB liveness probes. As a result the VM's which doesn't have active pods are looking healthy from the point of view of LB and getting active customer traffic. The VM's are dropping the traffic since the routing mesh is dis

[2019-12-23 10:06] yy8848 opened #86546 "Delete data safely from emptyDir volume in multi-tenancy environment"
Local directories of emptyDir volumes are removed from disk during teardown.

[code]

In cloud multi-tenancy environment, safe data deletion is required especially for data like secrets.

Is it possible to add support for safe deletion?

[2019-12-23 10:10] yy8848 commented on #86546
/sig Storage

[2019-12-23 10:13] mm4tt opened #86547 "It's impossible to restart master in private clusters created via kube-up (provider GCE)"
If you create a private cluster via kube-up using provider GCE, you won't be able to restart your master nodes.
If you restart you master, the nodes won't be able to connect to your master.

This is due to this line - https://github.com/kubernetes/kubernetes/blob/127c47caf49bec4a59a0500f99b1b1d4cdbf340e/cluster/gce/util.sh#L2922
It gets executed on master on cluster-up, but it won't be re-executed

[2019-12-23 10:17] AlexShemeshWix commented on #86441
Ive found the solution.
Ive reconfigured nginx-ingress-controller to create classic elb instead of nlb.
Ive removed following annotation from nginx-ingress-controller service object
[code]

[2019-12-23 10:35] superxor commented on #75492
@chen3961 did you fix this?
experiencing same problem

[2019-12-23 11:00] ashutoshgngwr opened #86549 "Inconsistent/faulty response with `kubectl auth can-i cordon nodes`"
**What happened**:

On running `kubectl auth can-i cordon nodes` with my admin account, I am getting a response `yes` which is expected. But when I created a service account with `ClusterRole` that has access to `get` and `patch` nodes, i get a response `no` all the while I am able to cordon nodes with same service account using `kubectl cordon`.

**What you expected to happen**:

Get a `yes` in r

[2019-12-23 11:01] ashutoshgngwr commented on #86549
/sig cli

[2019-12-23 11:02] daixiang0 commented on #86432
hi, mind have a look?@liggitt

[2019-12-23 11:06] sbuvaneshkumar commented on #82285
I am facing the same issue.
Kubernetes version 1.13.11
[code]

[2019-12-23 11:14] superxor opened #86551 "1.16 mount_linux.go formatting rbds, umount issues"
**What happened**:
`I1220 17:41:02.614925    3821 operation_generator.go:670] MountVolume.WaitForAttach succeeded for volume "pvc-bf5d4982-b0f8-439a-a4c7-9c6d42b4f628" (UniqueName: "kubernetes.io/rbd/ssdpool:kubernetes-dynamic-pvc-2e0ec35b-9366-4612-85a4-8ef56cd43757") pod "efk-elasticsearch-data-14" (UID: "893422c0-e083-4812-90f7-51290c2f3f4c") DevicePath "/dev/rbd1"
fsck.ext2: Bad magic number i

[2019-12-23 11:17] superxor commented on #86551
/sig Storage

[2019-12-23 12:25] zhouya0 commented on #86549
/assign

[2019-12-23 12:27] debianmaster commented on #54079
@liggitt   now that custom resources are use extensively , it will be nice to have a built-in solution for filtering custom objects based on k8s native RBAC.    any workarounds that you can suggest?
- Admission controllers [ no get operations supported AFAIK]
- Pass all the objects in get operations and get only objects to which impersonated user has access to?

[2019-12-23 12:37] ijumps opened #86552 "apiserver LoopbackClient Server cert expired after 1 year"
**What happened**:

If you never restart your kube-apiserver after 1  year, kube-apiserver can't works normal anymore.

**What you expected to happen**:

apiserver renew its LoopbackClient server cert.

**How to reproduce it (as minimally and precisely as possible)**:

For quick reproduce, you can change your os date to 1 years later. Notes that there will be two cert expire, one for kubelet, one

[2019-12-23 12:40] ijumps commented on #86552
/area apiserver

[2019-12-23 12:41] ijumps commented on #86552
/sig api-machinery

[2019-12-23 13:30] zouyee commented on #86552
/assign

[2019-12-23 13:31] zouyee commented on #86552
/cc @liggitt

[2019-12-23 13:51] ksubrmnn commented on #86544
Fixed by 85611

[2019-12-23 13:53] ksubrmnn commented on #86544
@yujuhong  Hey Yu-Ju this missed the 1.17 deadline and it’s a bug fix for the Windows preserve-destination feature. Can we back port this?

[2019-12-23 13:56] #79803 closed

[2019-12-23 14:33] ijumps commented on #86552
Tips:

You can run follow command to check your apiserver's loopbackclient server cert expire date

[code]

And as a workaround, restart the apiserver container will regenerate the certs.

[2019-12-23 14:37] liggitt commented on #86552
Given a version of the kube-apiserver is [supported for ~9 months](https://kubernetes.io/docs/setup/release/version-skew-policy/#supported-versions), requiring a restart once a year seems reasonable.

There is an proposal in progress to support an additional release, bringing the supported versions to ~12-14 months. As part of that, the loopback certificate lifetime should be lengthened slightly,

[2019-12-23 14:40] neolit123 commented on #86497
to mitigate the error in 1.17.0 you need to modify the serivce CIDR to be `10.96.0.0/16`, instead of `10.96.0.0/12`.

- modify the `kubeadm-config` ConfigMap CIDR to have `serviceSubnet: 10.96.0.0/16`
- modify the kubeadm static pod manifest for the api server (`/etc/kubernetes/manifests/kube-apiserver.yaml`) to have `--service-cluster-ip-range=10.96.0.0/16`
- edit problematic Service objects and