[2018-08-28 08:52] sebastian-philipp commented on #56852
Relates to https://github.com/ceph/ceph-container/issues/642#issuecomment-341703844

[2018-08-28 08:52] FOSquare commented on #67933
/area kubeadm

[2018-08-28 08:56] lovelly commented on #67808
I tried 17.03 and the result is the same. /etc/kubernetes/kubelet.conf configuration has not been created, docker has not been used yet

[2018-08-28 09:01] islinwb commented on #67932
@lasshpanzer  What's the version of `kubectl` (`make` from which version)? The code is from upstream without any change?

[2018-08-28 09:06] islinwb commented on #67933
@FOSquare Have you checked the `kubelet`? Can you pull those images?

[2018-08-28 09:13] lasshpanzer commented on #67932
@islinwb I `make` base on the src code (version is 1.10 and v1.12.0-alpha.1) and```
 echo alias kubectl='$HOME/kubernetes/cluster/kubectl.sh' >> /etc/profile
source /etc/profile
[code]

[2018-08-28 09:28] NickrenREN opened #67936 "What is the basis for forbidding volume multi-attach ?"
We expect the AccessModes in PV spec to be the `all ways` the volume supports,
https://github.com/kubernetes/kubernetes/blob/029bb4e213502268af6222cc2f6903ab90de751b/pkg/apis/core/types.go#L278-L280
and AccessModes in PVC spec is what user wants.
https://github.com/kubernetes/kubernetes/blob/029bb4e213502268af6222cc2f6903ab90de751b/pkg/apis/core/types.go#L393-L395

then which one should we take in

[2018-08-28 09:30] sttts commented on #67840
IMO this is wrong. The skeleton schema faithfully represents the "type validation" part of the full openapi validation schema.

Faithfully in the sense of: `s` validates an object `=>` `skel(s)` validates an object.

Moreover, `skel(s)` captures the JSON structure of the object, exactly what we would capture with a Golang type.

Hence, we in fact have separated type and value validation.

+1000

T

[2018-08-28 09:39] FOSquare commented on #67879
I tried sudo kubeadm config images pull. It works fine as below

[config/images] Pulled k8s.gcr.io/kube-apiserver-amd64:v1.11.2
[config/images] Pulled k8s.gcr.io/kube-controller-manager-amd64:v1.11.2
[config/images] Pulled k8s.gcr.io/kube-scheduler-amd64:v1.11.2
[config/images] Pulled k8s.gcr.io/kube-proxy-amd64:v1.11.2
[config/images] Pulled k8s.gcr.io/pause:3.1
[config/images] Pulled k8s.gcr.io/

[2018-08-28 09:40] FOSquare commented on #67933
I tried sudo kubeadm config images pull. It works fine as below

[config/images] Pulled k8s.gcr.io/kube-apiserver-amd64:v1.11.2
[config/images] Pulled k8s.gcr.io/kube-controller-manager-amd64:v1.11.2
[config/images] Pulled k8s.gcr.io/kube-scheduler-amd64:v1.11.2
[config/images] Pulled k8s.gcr.io/kube-proxy-amd64:v1.11.2
[config/images] Pulled k8s.gcr.io/pause:3.1
[config/images] Pulled k8s.gcr.io/

[2018-08-28 09:44] JulienBalestra opened #67937 "Deprecation of maximum-dead-containers-per-container"
/kind bug

**What happened**:

We're trying to migrate to the kubelet configuration file but there isn't any equivalent configuration entry for:
- `--minimum-container-ttl-duration`
- `--maximum-dead-containers-per-container`

I reviewed the kubelet [configuration types](https://github.com/kubernetes/kubernetes/blob/release-1.11/pkg/kubelet/apis/kubeletconfig/v1beta1/types.go) and I wasn't able to

[2018-08-28 09:52] FOSquare commented on #67933
OK, Now it works, I unisntall the kubelet by sudo apt-get remove kubelet --purge

and then install it again.

Try the same command, it works fine. Thanks guys.

[2018-08-28 09:52] #67933 closed

[2018-08-28 09:55] fatih commented on #67853
I believe I found the issue. And I think there might be several solutions to fix this issue based on how we can approach it. Here is what's happening:

1. Node is deleted (meanwhile in background, DigitalOcean Kubernetes product brings up a new node with the same node). Pod running inside the node is terminated, the `a/d controller` sees this event:
2. `a/d reconciler`  [calls `DetachVolume()` ]([

[2018-08-28 10:05] kuailedubage commented on #67601
@fhchina

kubectl apply -f [ceph/rbd/deploy/rbac/clusterrole.yaml](https://github.com/kubernetes-incubator/external-storage/blob/master/ceph/rbd/deploy/rbac/clusterrole.yaml
)

[code]

[2018-08-28 10:17] Dani-D commented on #67915
@kubernetes/sig-apps-misc

[2018-08-28 10:48] jhvhs commented on #17626
/remove-lifecycle stale

[2018-08-28 10:55] s-pace opened #67940 "[Documentation] Add a nice search experience in the website"
👋  kubernetes team,

As developers, we've all had some deployment issues. Your tool is great and we'll be forever grateful for how it changed this pain point. We are so eager to discover your documentation that we thought it deserves a nice learn-as-you-type experience.

I'm working at Algolia on the a project called [DocSearch](https://community.algolia.com/docsearch/) which goal is to enhance do

[2018-08-28 11:07] VinayVanama opened #67941 "kubelet does not have ClusterDNS IP configured and cannot create Pod"
Hi, I have created an EKS cluster and configured nodes for my cluster. Both my Cluster and Nodes are communicating. I'm trying to create a simple pod of my application and I'm getting the below error.

kubelet does not have ClusterDNS IP configured and cannot create Pod using "ClusterFirst" policy. Falling back to "Default" policy.
Back-off restarting failed container

Below is my Deployment.yaml

[2018-08-28 11:14] denhub commented on #67526
+1

[2018-08-28 11:34] wgliang commented on #67940
/sig doc

[2018-08-28 11:34] wgliang commented on #67940
/sig docs

[2018-08-28 11:39] fatih commented on #67853
Ok, we were using `v1.10.1`.Seems like there is a fix that returns a `nil` if the VA doesn't exist anymore. This is basically breaking the infinite loop between step 9 and 11 above: https://github.com/kubernetes/kubernetes/pull/63295

I upgraded my cluster to `v1.10.4` and after deleting a Node, our reconciler brought a new one and the node was able to attach it.

However, if no new nodes are crea

[2018-08-28 11:53] mbrt commented on #60807
By looking at logs I just found out that this particular problem was related to the controller manager being unhealthy. In my case it was not a bug most likely. When the controller manager went up again everything was cleaned up correctly.

[2018-08-28 12:07] gnufied commented on #67900
We should figure out precisely in which version of k8s the node deletion behaviour was changed for vsphere, because we will have to backport https://github.com/kubernetes/kubernetes/pull/67847 as well to those versions. @divyenpatel would you mind tracking down the k8s version this was changed?

[2018-08-28 12:09] FOSquare commented on #67725
Now my cluster are shown below.

fyan@ananke:~$ kubectl get nodes -o wide
NAME              STATUS     ROLES     AGE       VERSION   INTERNAL-IP     EXTERNAL-IP   OS-IMAGE             KERNEL-VERSION      CONTAINER-RUNTIME
ananke            Ready      master    20h       v1.11.2   192.168.0.101   <none>        Ubuntu 16.04.4 LTS   4.15.0-33-generic   docker://17.3.0
erebos            Ready      <no

[2018-08-28 12:09] #67725 closed

[2018-08-28 12:11] FOSquare commented on #67879
Anyone have the same problem?
I could cretae the cluster normally. So I am not sure whether this is a problem or not. Can someone answer me, thanks a lot.

[2018-08-28 12:13] divyenpatel commented on #67900
Yes this change works along with https://github.com/kubernetes/kubernetes/pull/67825 for vsphere cloud provider on the master branch.
Refer: https://github.com/kubernetes/kubernetes/pull/67825#issuecomment-416560247

[2018-08-28 12:14] lovelly commented on #67808
When apt-install is installed, /etc/systemd/system/kubelet.service.d/10-kubeadm.conf is not generated.
I solved it manually after creating it.

[2018-08-28 12:14] #67808 closed

[2018-08-28 12:28] dims commented on #67932
@lasshpanzer the problem is in the code in `kubernetes-csi/external-provisioner` not in kubectl itself.  Looks like you already created an issue there - https://github.com/kubernetes-csi/external-provisioner/issues/128 - So let's close this one up.

/close

[2018-08-28 12:57] cpanato commented on #62099
@liggitt Hello, I still see the `ReadOnlyAPIDataVolumes` feature gate in the release 1.11 it should not be removed?

and just to clarify this readonly will be a default? cant we set that to false?

thanks

[2018-08-28 13:11] discordianfish commented on #17626
@akshaymankar I just tried this but it didn't solve the issue for me.
I see exactly what @jhvhs describes on my 1.11.2 cluster. In my case this also prevents re-creation of an ELB. It's easy to reproduce:

1.) Create LoadBalancer
2.) Wait until it gets an IP
3.) Delete LoadBalancer
4.) Recreate it with same name/manifest
5.) LoadBalancer's external IP stays in `pending` forever

In the logs I see

[2018-08-28 13:14] ncdc opened #67946 "e2e tests for LoadBalancer service session affinity with ESIPP fail on AWS"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]

**What you expected to happen**:
The test should either succeed or be skipped on AWS

**How to reproduce it (as minimally and precisely as possible)**:
Run this test on an AWS cluster with the AWS cloud provider configured

**Anything else we need to know?**:
The test sets the service's session affinity to `v1.Ser

[2018-08-28 13:14] ncdc commented on #67946
cc @grayluck

[2018-08-28 13:25] lasshpanzer opened #67949 "The results of 'kubectl version' command cannot display normaly in suse server 12 sp2."
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Run command `kubectl version` in suse server12 sp2, there are many empty strings in version info as below:
[code]
However, i have checked in the ubuntu:
[code]

**Environment**:
- Install tools:
    docker-18.03.1-ce
    etcd-v3.3.0
    go1.9.2 and go1.10.2

/sig <bugs>

[2018-08-28 13:27] chris-bosman commented on #57187
Related, or perhaps alternatively, it would also be nice to be able to set multiple Liveness or Readiness probes, and give them a priority. This would help in the case of Liveness/Readiness commands with external dependencies, where if a primary, externally dependent probe failed, Kubernetes could fallback to a non-dependent probe and keep the pods alive.

[2018-08-28 13:31] liggitt commented on #62099
that is still present in 1.11 only to satisfy the deprecation period for kubelet CLI flags (6 months or 1 release, whichever is longer). it will be removed in 1.12

[2018-08-28 13:47] r7vme commented on #67342
We were hit by this issue. Dirty w/a is to restart kubelet on affected node.

[2018-08-28 14:01] cpanato commented on #62099
ok, thanks @liggitt
asking because the comment says 1.11

[2018-08-28 14:03] mohammedzee1000 opened #67952 "Failing Test : [sig-storage] PersistentVolumes NFS when invoking the Recycle reclaim policy should test that a PV becomes Available and is clean after the PVC is deleted"
# Failing Jobs
[sig-release-master-upgrade#gke-gci-new-gci-master-upgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-new-gci-master-upgrade-cluster-parallel)
# Failing Tests
[[sig-storage] PersistentVolumes NFS when invoking the Recycle reclaim policy should test that a PV becomes Available and is clean after the PVC is deleted.](https://k8s-gubernator.ap

[2018-08-28 14:04] mohammedzee1000 commented on #67603
ping @roberthbailey

[2018-08-28 14:05] adampl commented on #61117
In my case (Kubernetes 1.11.1) the problem is not caused by insufficient amount of free memory.

[2018-08-28 14:07] mohammedzee1000 commented on #67952
sorry wrong name

ping @roberthbailey PTAL

[2018-08-28 14:18] dims commented on #67932
I really don't see the need to reopen this bug, but @lasshpanzer insisted that this be reopened again.

FWIW, the external-provisioner should be using `utilversion.ParseSemantic` if it wants to support scenarios where the kubernetes version may be a development workstation without proper semver. It currently uses `utilversion.MustParseSemantic` which throws a panic by design.

CC @xing-yang

[2018-08-28 14:19] dims commented on #67932
/reopen

[2018-08-28 14:19] dims commented on #67932
/unassign

[2018-08-28 14:27] adampl commented on #45419
Just experienced this issue on a bare-metal node with Kubernetes 1.11.1 :(

[2018-08-28 14:34] soltysh commented on #62772
@aisk if you could provide smallest possible reproducer then it'll be easier for me to do any judgment. There are too many variables at this point in time.

[2018-08-28 14:40] mohammedzee1000 opened #67953 "Failing Tests : BeforeSuite gke-1.12-1.11-downgrade-cluster-parallel"
# Failing Jobs
[sig-release-1.12-all#gke-1.12-1.11-downgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-1.12-all#gke-1.12-1.11-downgrade-cluster-parallel)
# Failing Tests
[BeforeSuite](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-beta-stable1-downgrade-cluster-parallel/3425)
# Triage Results
[BeforeSuite](https://storage.googleapis.com/

[2018-08-28 14:40] mohammedzee1000 commented on #67953
/milestone v1.12

[2018-08-28 14:41] SleepyBrett commented on #19764
This becomes an even bigger issue when you widely enable restricted psps that don't allow for rootfs writes.... which we did last week.

[2018-08-28 14:42] leblancd commented on #62822
Task/To-Do list:
https://docs.google.com/spreadsheets/d/1KjvjvmZkhLI9M1BXVRVNn_oQpcwCB424x-0lOY2a3G0/edit#gid=0

[2018-08-28 14:44] Raffo commented on #51271
Same problem here and it's easy to reproduce, the annotations just don't get applied if they involve breaking changes. In my case I'm trying to change the listener type.

[2018-08-28 14:44] mohammedzee1000 commented on #67339
Green for a while, closing
/close

[2018-08-28 14:44] #67339 closed

[2018-08-28 14:52] mohammedzee1000 commented on #67600
Also failures on https://github.com/kubernetes/kubernetes/issues/67603

[2018-08-28 15:02] #67949 closed

[2018-08-28 15:04] soltysh commented on #65494
@dims yeah, let's move it to the next milestone.

[2018-08-28 15:04] neolit123 commented on #67941
/sig node
/kind bug

[2018-08-28 15:05] neolit123 commented on #67941
/sig node
/kind bug

[2018-08-28 15:05] soltysh commented on #64164
@dims yes

[2018-08-28 15:12] xing-yang commented on #67932
Thanks @dims for the info.  The code that calls utilversion.MustParseSemantic is in kubernetes-incubator.  It checks the version and decides what feature is supported.  If we change that to utilversion.ParseSemantic, it can avoid throwing a panic but it still can't find the version and determine whether a feature is supported.

I am just wondering why "kubectl version" doesn't display version info

[2018-08-28 15:14] ricky1993 commented on #62772
@soltysh I have debug with @aisk and provided what situation we met. Could u have a judgement?

[2018-08-28 15:16] thockin commented on #19764
I'd love to see this get worked on, but it needs an owner.  I'm happy to reopen if someone wants to tackle it..

[2018-08-28 15:22] msau42 commented on #67952
We may have to backport the e2e test fix made in https://github.com/kubernetes/kubernetes/pull/66923

[2018-08-28 15:27] neolit123 commented on #67937
hi, looking at branch / file you posted i'm assuming k8s version 1.11.

these two flags are deprecated and there is no equivalent in the kubelet configuration.
https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#deprecation-of-existing-feature-flags-to-reclaim-disk

(similar flags switched to corresponding eviction functionality)

there shouldn't be any need to use these two flags

[2018-08-28 15:27] #67937 closed

[2018-08-28 15:35] neolit123 commented on #67932
hi all.
please take a look at this comment:
https://github.com/kubernetes/kubernetes/issues/67949#issuecomment-416620933

the version info can be missing if you the binary was built incorrectly.
if these binaries come from SUSE a report should be filed for the distro instead of here.

the **better** alternative is to always download the official k8s binaries.

[2018-08-28 15:36] vladimirvivien commented on #66323
Waiting for a review and approval. @saad-ali

[2018-08-28 15:39] tpepper commented on #67953
/assign @roberthbailey

[2018-08-28 15:42] xing-yang commented on #67932
Thanks @neolit123.  I think this can be closed now.

@lasshpanzer Please try to download the official k8s binaries and test them on SUSE.

[2018-08-28 15:43] neolit123 commented on #67932
/close

[2018-08-28 15:44] #67932 closed

[2018-08-28 15:49] gnufied commented on #66323
@vladimirvivien you have a outstanding comment on the PR. Can you please answer that?

[2018-08-28 15:51] dims commented on #64164
/milestone clear

[2018-08-28 15:51] dims commented on #65494
/milestone clear

[2018-08-28 15:52] dims commented on #65494
oops

/milestone v1.13

[2018-08-28 16:15] frouzbeh commented on #67907
Thanks @TinySong , the result of that command is:

[code]

[code]

It seems there is no storage class pointed in this. Does it mean I just need to create a persistent volume that provides the requirements? Then what can be the type of persistent volume?

Thanks,

[2018-08-28 16:30] BenTheElder commented on #67720
Similar to https://github.com/kubernetes/community/issues/2594#issuecomment-416651779 would you mind waiting a bit longer? I expect to need to migrate this slightly soon, it'll be easier if we can start you off on the improved setup 🤞

[2018-08-28 16:33] pnovotnak commented on #45419
Yeah @adampl my cluster dissolves basically instantly with CPU-bound workloads

[2018-08-28 16:39] borekb commented on #3312
In our case, we have nodes that host ~100 pods (~300 containers) and those pods are bound to them due to a dependency on local disk. If the node restarts, most pods don't manage to start within the initialDelay of the liveness probe (we could probably adjust that...), kubelet kills them and the cycle repeats. It takes quite some time for all pods to become healthy.

Our current workaround is have

[2018-08-28 16:48] Huang-Wei commented on #67536
@aleksandra-malinowska latest autoscaling testing is green. I think we can close this issue.

[2018-08-28 16:50] greghaynes opened #67962 "CoreDNS does not resolve ExternalNames under cluser.local to A records"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When creating a service with an ExternalName of foo.namespace.svc.cluster.local I am unable to resolve that service from within the cluster. Using `dig` I see that a `CNAME` record is returned for my service but a corresponding `A` record for that `CNAME` is not also returned which results in no host found.

**What you e

[2018-08-28 17:07] bowei commented on #64466
/lifecycle frozen

[2018-08-28 17:08] chrisohaver commented on #67962
Recently fix/merged/released in CoreDNS 1.2.1 ...  The fix properly resolve ExternalName services that point to cluster services.

https://github.com/coredns/coredns/pull/2040

[2018-08-28 17:09] greghaynes commented on #67962
Looks like I'm one day behind pulling the fix - thanks!

[2018-08-28 17:09] #67962 closed

[2018-08-28 17:11] chrisohaver commented on #67962
CoreDNS 1.2.1 isn't on the k8s docker image repo yet, still needs to be pushed there...

But it is on dockerhub repo... `coredns/coredns:1.2.1`

[2018-08-28 17:18] shyamjvs commented on #64523
/remove-lifecycle stale
/lifecycle frozen

[2018-08-28 17:19] dims commented on #67962
@thockin Do you mind copying over the coredns image?

[2018-08-28 17:26] divyenpatel commented on #67674
@narkarum Can you please close this issue if this is resolved?

[2018-08-28 17:29] aleksandra-malinowska commented on #67536
Thanks for fixing this!

[2018-08-28 17:29] #67536 closed

[2018-08-28 17:39] timothysc commented on #67946
/cc @kubernetes/sig-aws-misc @kubernetes/sig-testing

[2018-08-28 18:14] timothysc opened #67964 "RFE (e2e): allow registry override, and consistent labeling."
**Is this a FEATURE REQUEST?**:
For air-gapped test runs it's a hard requirement to be able to pull the testing images from a private registry, and it's also a requirement to apply a unified label for cleaning.

**What happened**:
Currently, neither of these is supported in overrides to the e2e-test-framework

**What you expected to happen**:
Optional overrides with sane defaults.

/assign @timoth

[2018-08-28 18:18] mrwulf commented on #24873
Another little tweak to exclude service account tokens:
[code]

[2018-08-28 19:07] dick-twocows opened #67966 "annotations not being applied to ingress and no subsequently no events"
/kind bug

**What happened**:

Applied ingress with annotations and the annotations are ignored.

**What you expected to happen**:

The annotations to be applied and visible when describing the ingress.

**How to reproduce it (as minimally and precisely as possible)**:

Apply this;

[code]

Describe the ingress;

`$ kubectl describe ingress ydos-ingress -n ydos
Name:             ydos-ingress
Names

[2018-08-28 19:13] dick-twocows commented on #67966
/sig cli

[2018-08-28 19:15] MrHohn commented on #67946
Thanks for the investigation, given the information so far, we should just skip this test on AWS. Will prepare a PR soon.

[2018-08-28 19:28] #67674 closed

[2018-08-28 19:54] viveksaiaws commented on #67906
can we work with helm post hook or init container to set up before up and running @xiaoxubeii

[2018-08-28 20:35] gnufied commented on #67900
@divyenpatel pointed me to https://github.com/kubernetes/kubernetes/pull/63413 PR which was opened to address same problem but was stalled.

cc @SandeepPissay

[2018-08-28 21:01] DirectXMan12 opened #67970 "Reconsider External Metrics API's results before GA"
Before we move the external metrics API to GA (at some point in the future), we should consider bring its results style in line with the CM API.  Namely, we should *either* make the external metrics API return a single result and leave it up to the adapter, or make the CM API return multiple results.

I'd *probably* opt for the former, unless we really want to add different aggregation options to

[2018-08-28 21:02] DirectXMan12 commented on #67970
cc @kubernetes/sig-autoscaling-feature-requests

[2018-08-28 21:02] DirectXMan12 commented on #67970
Wanted to file this while I was thinking of it.

[2018-08-28 21:35] richtera commented on #57393
@calebmcelroy oh cool. Thanks I'll be able to fix my scripts and simplify things

[2018-08-28 21:38] daschott commented on #62046
@PatrickLang @feiskyer I don't understand the description -- what do you want me to test?

[2018-08-28 21:58] sfitts commented on #27114
We're in the process of migrating our application to K8s and just ran into this exact issue.  Like many others here our application takes a variable amount of time to start and may take longer due to one-time tasks that occur when we migrate from release to release (you could argue these would be better done in an init container, but we're not at the point were we can make things quite that K8s sp

[2018-08-28 22:08] #62845 closed

[2018-08-28 22:56] verult opened #67972 "CSI kubelet driver registration - Plugins Watcher GA considerations"
/kind feature

**Reconsider driver map locking after plugin unregistration is implemented**:
Depending on the implementation details of kubelet plugin unregistration (https://github.com/kubernetes/kubernetes/issues/64637), the current way of locking the registered driver map inside the plugin registration callback function [here](https://github.com/kubernetes/kubernetes/blob/a2f4f585afba0c57b43277

[2018-08-28 22:59] dtornow opened #67973 "Pod & Container Lifecycle"
Hello,

**Problem:**

Insufficient information about the pod lifecycle and how a pod's state maps to the pod's containers' states. Specifically the documentation states that "The phase of a Pod is a simple, high-level summary of where the Pod is in its lifecycle. The phase is not intended to be a comprehensive rollup of observations of Container or Pod state, nor is it intended to be a comprehensi

[2018-08-28 23:00] andrewsykim opened #67974 "Deployment status does not match ReplicaSet or Pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
A Deployment's Status does not match with what the corresponding ReplicaSet/Pods are showing.

**What you expected to happen**:
I would expect to see the same results for both.

Deployment status, notice only 2 ready replicas:
[code]

ReplicaSet:
[code]

Pods:
[code]

(real application name was replaced with "myapp")

**Ho

[2018-08-28 23:01] andrewsykim commented on #67974
/sig apps

[2018-08-28 23:01] andrewsykim commented on #67974
/assign @janetkuo @enisoc

[2018-08-28 23:08] feiskyer commented on #62046
@daschott Local traffic policy requires DSR mode. Will it be possible in Windows Server 2019?

[2018-08-29 00:14] SandeepPissay commented on #67900
We dont have to fix #63413 PR if the node is not getting removed on node shutdown. Do we know on which version of k8s, the node is getting removed on node shutdown?

[2018-08-29 00:18] mohammedzee1000 opened #67975 "Failing Test: IP SANs (cert subject alternative names) missing"
# Failing Jobs
[sig-release-master-upgrade#gke-gci-new-gci-master-upgrade-master](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-new-gci-master-upgrade-master)
# Failing Tests
[[sig-apps] statefulset-upgrade](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-master/1440)
# Triage Results
[[sig-apps] statefulset-up

[2018-08-29 00:33] daschott commented on #62046
Sadly DSR mode is still not fully supported :( We still need to hold discussion about best course of action.

[2018-08-29 00:33] mohammedzee1000 opened #67976 "Failing Test: persistent-volume-upgrade [sig-storage]"
# Failing Jobs
[sig-release-master-upgrade#gke-gci-new-gci-master-upgrade-master](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-new-gci-master-upgrade-master)
# Failing Tests
[persistent-volume-upgrade [sig-storage]](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-master/1440)
# Triage Results
[persistent-volum

[2018-08-29 00:40] liggitt commented on #67975
cc @awly @mikedanese

[2018-08-29 00:43] liggitt commented on #67895
Show all is the default now, -a is not required

[2018-08-29 00:47] liggitt commented on #67882
The service account token controller generates tokens and adds them to the service account asynchronously. Ensure your kube controller manager is started with a service account token signing key.

[2018-08-29 00:53] msau42 commented on #67976
Many of the upgrade tests are failing with:
[code]

This sounds like a bigger system failure.

[2018-08-29 01:15] k82cn commented on #67874
That's reasonable; a prioritize to lowdown the score of node seems better. In our produce, we have blockhost feature that avoid scheduling task to the node:
https://www.ibm.com/support/knowledgecenter/en/SSZUMP_7.1.2/shared_files/host_blocking_featureref.html

@hex108 , I'm not sure whether this is a regular rejection or race condition; if it's a normal case,
it's better to have a customized sched

[2018-08-29 01:44] liggitt commented on #67966
I'm not able to reproduce this. Creating the ingress object and then describing it shows the annotations successfully. Can you capture the network request/response of the initial creation by adding `--v=9` (and removing any credential headers before posting the results)?

[2018-08-29 01:51] gnufied commented on #67900
I think both me & @divyenpatel have confirmed separately that node does gets removed on shutdown in 1.9 at least. I don't know about later versions or when that change in vsphere was introduced.

[2018-08-29 04:52] yue9944882 commented on #67925
/cc @sttts

[2018-08-29 05:32] cofyc commented on #67857
`metric.Inc()` needs synchronization mechanism. How about incrementing internal counts and using prometheus collector to collect stats on scraping? With this, overhead will be one incremental operation on integer for each call and a lock to return stats per scrape (interval depends on prometheus config, typically 1 minute).

[2018-08-29 05:40] saad-ali commented on #67976
@mohammedzee1000 Could you assign to test environment owner to investigate potential upgrade testing env issue.

[2018-08-29 05:42] travisn commented on #60694
@verult Do you have some insight into this issue? It is turning out to be a common issue for Rook users in 1.11. More details are in the issue referenced by @trevex. Thanks for looking into it!

[2018-08-29 06:39] #66821 closed

[2018-08-29 06:44] jemygraw opened #67983 "Misleading description of kubectl proxy --api-server=k8s-api"
The comment here in the file https://github.com/kubernetes/kubernetes/blob/f077d6736b968b320a4fcc9fe57a342eae86acc5/pkg/kubectl/cmd/proxy.go#L69 is misleading, actually the pods api should be available at localhost:8001/k8s-api/api/v1/pods/ rather than localhost:8001/k8s-api/v1/pods/

[2018-08-29 06:53] orainxiong commented on #62061
I suggest you check the value of field `TerminationGracePeriodSeconds`. If it is not zero, the default value is 30 seconds, it is very likely that you have been hitting the [bug](https://github.com/kubernetes/kubernetes/issues/65392#issuecomment-415014068) which make `A/D Controller` not probably detaching the related volumes.

[2018-08-29 07:06] haiduc32 commented on #64531
/remove-lifecycle stale

[2018-08-29 08:05] stanislavb commented on #47775
We experienced a similar issue to the one in the comment above.

* no ImagePullPolicy
* GKE 1.10.6 Kubernetes (also replicated in minikube with 1.10)
* image has no tag specified

Providing an ImagePullPolicy changed behavior so we are explicitly setting it to Always now even though I would expect the following to be true:

"An alternative, but deprecated way to have Kubernetes always pull the ima

[2018-08-29 08:08] dick-twocows commented on #67966
As requested, I deleted the existing ingress then applied, there's a describe at the end an no annotations. :-(

<
[opc@sysops-control kubernetes_ydos]$ kubectl apply -f ./ydos-ingress.yaml --v 9
I0829 07:54:27.024644    7119 loader.go:357] Config loaded from file /home/opc/ydos-core-kube-config
I0829 07:54:27.034206    7119 round_trippers.go:417] curl -k -v -XGET  -H "User-Agent: kubectl/v1.9.1+2

[2018-08-29 08:29] dick-twocows commented on #67966
Also, this is the ingress.yaml from /docs/example/affinity/cookie and it also doe snot apply the annotations...

<
[opc@sysops-control cookie]$ cat ingress.yaml
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: nginx-test
  annotations:
    nginx.ingress.kubernetes.io/affinity: "cookie"
    nginx.ingress.kubernetes.io/session-cookie-name: "route"
    nginx.ingress.kubernetes.io/sessio

[2018-08-29 08:51] viveknangal opened #67993 "Pod Level Security"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Information Request

**What happened**:
What to understand how do we achieve pod level security in K8S, e.g. I want only Pod A talks to Pod B but not to Pod C. What is the expectation on this ?

[2018-08-29 09:09] shyamjvs commented on #67823
We need to fix this soon to get cluster startup time under control. 5k-node test clusters are timing out while trying to come up due to this. For now, I bumped the timeout in https://github.com/kubernetes/test-infra/pull/9196 - but this is really important.

[2018-08-29 09:09] CaoShuFeng commented on #67993
Maybe network policy would help:
https://kubernetes.io/docs/concepts/services-networking/network-policies/

[2018-08-29 09:26] shyamjvs commented on #67823
To add some more context, there were still 1620 (out of 5000) unschedulable nodes after the 30m timeout.

[2018-08-29 09:54] hex108 commented on #67874
@k82cn Blockhost feature is great! Yes, it seems better to add a generic way to lowdown the score of node. If it could be added, we do not need to write a customized scheduler :) (For us, it is a normal case.)

Another thought, not sure whether it could be generic:
* Step 1. If the device plugin could not allocate GPUs for pod for X times in Y minutes, it adds a new NodeCondition type `FailedAlloc

[2018-08-29 09:56] thsheep commented on #60807
@slassh Perfect solution! thank you very much！！！！

[2018-08-29 10:12] obnoxxx opened #67999 "The glusterfs provisioner creates and deletes gluster volumes if the endpoint creation fails due to length restrictions"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When the glusterfs provisioner is asked to create a PV with a name of more than 45 characters, the endpoint creation fails due to the overal length of the constructed endpoint name being more than 63 characters. See issues #53939 and #56379. This leads to the overall PVC request failing, but the provisioner has at this p

[2018-08-29 10:12] obnoxxx commented on #67999
@humblec @jsafrane @childsb FYI

[2018-08-29 10:26] obnoxxx commented on #67999
/sig storage

[2018-08-29 10:27] obnoxxx commented on #67999
@humblec if you agree with the statement of the issue and proposed solution, I can try to cut a first PR to fix it.

[2018-08-29 10:30] x13n commented on #67538
https://github.com/kubernetes/kubernetes/pull/67505 fixes this, there is a cherrypick to 1.10 and 1.11 in flight.

[2018-08-29 10:30] humblec commented on #67999
@obnoxxx unfrotunately I dont agree. Do we have proof that, there is a leak or dangling gluster volume in this workflow ? because if endpoint creation failed, provisioner delete the volume. More or less, https://bugzilla.redhat.com/show_bug.cgi?id=1622493#c0 says deletion is attempted.

[2018-08-29 10:33] obnoxxx commented on #67999
@humblec ah... I somehow missed the deleting part, thanks for pointing it out... Still the churn of creating and deleting the volume should be prevented, imho. So we could just fail early if the length of the endpoint name would be more than 63 characters. Do you agree to that part? If yes, I can modify the issue description.

[2018-08-29 10:36] obnoxxx commented on #67999
Somehow I also failed to spot the rollback code in the provisioner. Now I see it. Embarrassing. :-)

Still could we fail early to prevent all the time and effort (and possible side effects) of creating and deleting backend volumes?

[2018-08-29 10:37] primeroz commented on #42158
@ncdc @jingxu97  I still see the same issue on v1.11.2 , exact same output

[code]

Everytime my controller-manager restart / failover

[2018-08-29 10:43] humblec commented on #67999
@obnoxxx there were more than one solution or options comes to mind while I wrote https://bugzilla.redhat.com/show_bug.cgi?id=1622493#c6 or said, I will repush the disucssion or PR :). I will summarize the options or thoughts here: Give me some time :)

[2018-08-29 10:56] obnoxxx commented on #67999
@humblec I think the other issues at least were about allowing longer volume names. This issue is different in that it wants to prevent the creation (and deletion) of volumes if we can already know that we will need to roll back. So I think this is independent. Let's not club them together. I fully agree with the statement that the original PR was not the right solution, so imho no need to reopen

[2018-08-29 11:04] humblec commented on #67999
JFR:  https://github.com/kubernetes/kubernetes/pull/56380

[2018-08-29 11:32] devlounge commented on #45419
Experiencing this as well, too often, and the nodes are really powerful and under utilized.

- Kubernetes: 1.10.2
- Kernel: 3.10.0
- Docker: 1.12.6

[2018-08-29 11:33] #61967 closed

[2018-08-29 11:38] Zwordi commented on #44540
Hi,
I have the same behavior even if heapster is on the kube-system namespaces.
What i don't understand it's why even if it's an deprecated project replace by metrics-server do we still need to find an heapster service on the cluster...

Regards,

[2018-08-29 11:50] k82cn commented on #67874
Honestly, prefer to make this as exception. As you known, reject and lowdown the score is a heavy operation which will impact the throughput/performance of cluster. So it's better to let scheduler
or customized scheduler made the right decision almost everytime, and use such feature to handle
exception.

[2018-08-29 11:50] wjzhangcsu commented on #43633
+1 for this feature.

[2018-08-29 12:02] mYmNeo opened #68002 "Restarting kubelet causes unwanted pod rejection"
/kind bug

**What happened**:

if someone submits a pod with the following yaml file

[code]
Suppose the two pods run on same kubelet, if we restart the kubelet, the `busybox-1` pod will pass `PodFitsResources`, but the `busybox-2` pod will fail `PodFitsResources`. Kubelet's log shows the reason
[code]

**What you expected to happen**:

The pod with zero resource request should pass `PodFitsResour

[2018-08-29 12:05] mYmNeo commented on #68002
/sig apps

[2018-08-29 12:05] mYmNeo commented on #68002
/sig node

[2018-08-29 12:34] zoumo commented on #67974
I have the same issue.
I found that it may be the cache in apiserver is out of sync.

I tried to restart controller, but the issue still exist.
After I restart apiserver, everything went well.

[2018-08-29 12:51] NickrenREN opened #68006 "sig-apps tests keep failing when run pull-kubernetes-e2e-gce test"
Tests about ReplicaSet and StatefulSet keep failing today.
Link: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/63011/pull-kubernetes-e2e-gce/50637/

/sig apps
/sig testing

[2018-08-29 12:55] NickrenREN commented on #68006
Hit it in this PR too: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/67982/pull-kubernetes-e2e-gce/50655/

[2018-08-29 12:57] NickrenREN commented on #67972
/cc

[2018-08-29 13:04] josselin-c commented on #40244
In the mean time, I'm running this script on my cluster to periodically re-configure the ELB:

[code]

[2018-08-29 13:33] aveshagarwal commented on #68002
/sig scheduling

In my understanding, we should not allow request for zero resource so the pod spec should fail validation check. What is the use case/advantage for requesting zero quantity for a resource?

[2018-08-29 13:42] andrewsykim commented on #67974
/sig apimachinery

[2018-08-29 13:42] andrewsykim commented on #67974
/sig api-machinery

[2018-08-29 13:51] hldgaoshuo commented on #58876
The issue is that you have a firewall running on your master node that should be disabled.  It’s blocking incoming traffic.
systemctl stop firewalld
and it will be fine.

[2018-08-29 13:57] suveerrao commented on #56682
kube-proxy was down on one of the nodes.. rebooting the node has fixed kube-proxy and this issue for me.. hope this helps..

[2018-08-29 13:59] mattfarina commented on #67975
/cc @kow3ns @janetkuo @smarterclayton @foxish @enisoc

[2018-08-29 14:02] liggitt commented on #67975
(to be clear, the test failure has nothing to do with statefulsets... it's an apiserver -> kubelet communication issue affecting the exec call the test is trying to make, related to the serving certificate the kubelet has and how the apiserver verifies it)

[2018-08-29 14:06] MaciekPytel opened #68011 "HPA no longer works with adapters exposing Custom Metrics v1beta1 API"
Merging https://github.com/kubernetes/kubernetes/pull/64097 has broken e2e tests: https://k8s-testgrid.appspot.com/sig-autoscaling-hpa#gci-gce-autoscaling-hpa. Based on the logs it seems that HPA can no longer retrieve custom metrics provided by adapter (it still works for external metrics though).

Quickly looking through the code it looks like #64097 updated https://github.com/kubernetes/kuberne

[2018-08-29 14:11] mattfarina commented on #64023
/remove-lifecycle stale

[2018-08-29 14:14] DirectXMan12 commented on #68011
Yeah, I realized that yesterday.  Let's get fallback logic merged.

[2018-08-29 14:19] yelled3 commented on #59161
@asarkar

From doing some code reading, I found that when running an exec command (not sure for http command) the timeout is not set at all.

this runs the `postStart` lifecycle hook:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_container.go#L167-L181

and then calls the following:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/lifecycl

[2018-08-29 14:22] yelled3 opened #68013 "Undocumented postStart hook timeout limit"
In the docs, it says

from: https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#hook-handler-execution

But it doesn't specify what's the timeout limit.

From doing some code reading, I found that when running an exec command (not sure for http command) the timeout is not set at all.

this runs the `postStart` lifecycle hook:
https://github.com/kubernetes/kubernetes/blob/mast

[2018-08-29 14:26] dims commented on #63257
/close

please reopen with additional info requested

[2018-08-29 14:26] #63257 closed

[2018-08-29 14:32] DirectXMan12 commented on #68011
@damemi and I will get a fix up today

[2018-08-29 14:32] liggitt commented on #67966
the posted object:

[code]

and the created object returned from the server:
[code]

both show the annotations

it appears something else is modifying the object after the fact and dropping the annotations

[2018-08-29 14:33] DirectXMan12 commented on #68011
Correct, I believe

[2018-08-29 14:44] dick-twocows commented on #67966
The following get output would appear to partially agree. But why would the describe not show the annotations and the kubernetes ingress-nginx does not appear to be reading the annotations? As an aside why can't I seem to format my code properly with `` or <>, I always get random bullets.!? ;-)

`
[opc@sysops-control cookie]$ kubectl get ingress ydos-ingress -n ydos -o yaml
apiVersion: extensions/

[2018-08-29 14:57] soltysh commented on #64164
/milestone v1.13

[2018-08-29 14:58] soltysh commented on #53331
@civik nope, the linked PR is for handling backoffs, not to address problems with `Error` state, which is far more complicated, like I said before.

[2018-08-29 15:06] dims commented on #47775
/sig node

[2018-08-29 15:07] #67966 closed

[2018-08-29 15:08] dims commented on #61381
@hzxuzhonghu do you have a patch for this problem? (asking since you are active contributor :)

[2018-08-29 15:10] novaterata commented on #63155
@feiskyer Can you please explain how to diagnose this in the logs? When I get an error saying the load balancer timed out waiting for the condition. How do I find out what that condition was? I just had this happen to me again, but this time the dns names did match. I upgraded from 1.9.6 to 1.11.2, so maybe something changed. I just want to know where are the logs for this? That was the main issue

[2018-08-29 15:13] DirectXMan12 commented on #68011
Actually, we have conversions in place.  We just need to switch back to v1beta1.  No fallback need.

[2018-08-29 15:34] neolit123 commented on #67993
^ the above link is the correct documentation for this.

you can also read this tutorial.
https://docs.giantswarm.io/guides/limiting-pod-communication-with-network-policies/

/close

[2018-08-29 15:34] #67993 closed

[2018-08-29 15:35] neolit123 commented on #67983
/sig cli

[2018-08-29 15:39] neolit123 commented on #67973
@dtornow  thank you for your proposal for expanding the details on pod and container lifecycle.
ideally a PR should be filed against the `kubernetes/website` repository.

@kubernetes/sig-node-proposals
/kind documentation
/sig node

[2018-08-29 15:50] tpepper commented on #67975
/sig auth

[2018-08-29 15:51] apatil commented on #61937
@pires Which kernel version?

[2018-08-29 15:57] liggitt commented on #67975
/sig cluster-lifecycle

more of a "how was this cluster deployed" question. do we have the apiserver and kubelet invocations for 1.11 and 1.12?

[2018-08-29 16:28] jbw976 commented on #60694
A direct link to an analysis of how this could potentially be impacting Rook users more often with 1.11: https://github.com/rook/rook/issues/1501#issuecomment-416757034

[2018-08-29 16:32] nmittler commented on #65502
@ant31

As suggested, I've started a thread on sigg-apps: https://groups.google.com/forum/#!topic/kubernetes-sig-apps/hEOdsgy4U1Y

FYI @louiscryan @PiotrSikora @costinm @rshriram

[2018-08-29 16:36] emedina opened #68016 "Inconsistent status between DaemonSets and Pods in kubeadm self-hosted (v1.11.2)"
**BUG REPORT**:

/kind bug
/sig cluster-ops

**What happened**:
Trying to bring up a cluster with `kubeadm 1.11.2` using `self-hosted` mode. Everything fine, but two `DaemonSet`s display status not aligned with the `Pod`s they manage:
[code]
However:
[code]

**What you expected to happen**:
I would expect the `DaemonSet`s not to display 0 for the `Ready` and `Available` columns, but 1, as the resp

[2018-08-29 16:44] daschott commented on #64531
I can confirm this on 1803:
[code]

[2018-08-29 16:48] ntolia commented on #44954
Somewhat related, we too are looking for cluster ID that would be stable for its lifetime (also saw this related but closed issue - https://github.com/kubernetes/kubernetes/issues/2292) but understand that this isn't possible today. As a workaround, I did want to ask whether it is possible for the UID for either the `default` or `kube-system` namespace to ever change. IIUC, those namespaces cannot

[2018-08-29 16:58] pmichali commented on #67398
@Lion-Wei I just pulled the latest from master, and gave a try with IPv6 cluster, but I still see the error, when using kube-proxy + IPVS:

E0829 16:51:56.224911       1 proxier.go:1136] Failed to execute iptables-restore: exit status 2 (ip6tables-restore v1.4.21: The protocol family of set KUBE-LOOP-BACK is IPv4, which is not applicable.

Were you able to try this with kube-proxy+IPVS?

[2018-08-29 17:28] rajansandeep opened #68020 "Push the CoreDNS 1.2.2 image in gcr.io"
Need to push the latest CoreDNS image to gcr.io
The 1.2.2 image is available in docker `coredns/coredns:1.2.2`

/cc @BenTheElder
/cc @timothysc
/cc @thockin

@fturib @chrisohaver

/sig network
/sig cluster-lifecycle

[2018-08-29 17:32] fturib commented on #68020
For the record, the revised script that was used for the push of last image was:

** Be sure to deploy the 1.2.2 image*

[code]

[2018-08-29 17:33] jsturtevant commented on #64531
What would be the approach to fixing this?  If connecting to a windows machine use a different tool other than socat?  Are there any tools that are used in the windows world for port-forwarding?

If I got some guidance on tools to use I could take a try at a PR for this.

[2018-08-29 17:34] fturib commented on #68020
/assign @thockin

[2018-08-29 17:38] shay-berman commented on #65392
Hi @saad-ali , @verult and @gnufied.

I have a concern about how to fix this issue.
Regarding the implementation of https://github.com/kubernetes/kubernetes/pull/67847 \ https://github.com/kubernetes/kubernetes/pull/67419 , I am not sure if the PR design is save enough.
The solution that was proposed in this PR was to leverage the DeletionGracePeriodSeconds instead of using the podStatus.Container

[2018-08-29 18:40] #40214 closed

[2018-08-29 18:41] misterikkit commented on #68002
I tried killing the kubelet on a GKE GPU node. I observed that the allocatable amount for `nvidia.com/gpu` dropped to `0` and then returned to its correct value moments later. (presumably after the nvidia driver pod ran)

Can you confirm whether your nodes' allocatable GPUs is stuck at 0?

[code]

[2018-08-29 18:42] verult commented on #65392
@gnufied and I discussed this offline. Please correct me if I'm wrong, Hemant, but your argument was that setting the annotation to true is equivalent to setting TerminationGracePeriod very high, which also "disables" this detach behavior by delaying it indefinitely.

On the other hand, because the default TerminationGracePeriod is 30s, we can't safely cherry-pick this PR back to older versions.

[2018-08-29 18:43] nikhita commented on #59826
/remove-lifecycle stale

[2018-08-29 19:54] mkimuram opened #68024 "csi drivers and in-tree drivers should share e2e tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
csi drivers and in-tree drivers doesn't share e2e tests, as a result, test coverage for csi drivers is not enough.

**What you expected to happen**:
csi drivers and in-tree drivers should run the same set of e2e tests as much as possible to make test coverage the same level.

**How to reproduce it (as minimally and pre

[2018-08-29 20:14] gnufied commented on #65392
One of the other things we could do is - only detach volumes from a node when it is known that it has been shutdown. So basically make use of newly introduced taint to detach the volume. This does mean that volumes never get detached from unresponsive or crashed kubelet nodes but that is probably fine. If user really wants to force the detach he can always do that via:

[code]
This will mean, we w

[2018-08-29 20:19] yastij commented on #65392
@gnufied - some production cluster relies on quick reboots (i.e. reboot and still have disks attached). We might want to give them some bandwidth for transition.

[2018-08-29 20:27] bschwartz757 commented on #15826
@smarterclayton was this ever implemented? I'm trying to recover logs for some killed pods.

[2018-08-29 20:37] smarterclayton commented on #15826
Yes, `terminationMessagePolicy` if set to `FallbackToLogsOnError` will capture the last chunk of log output when a container fails.

[2018-08-29 20:46] bschwartz757 commented on #15826
@smarterclayton ok thanks - good to know. But there is no log storage/archive of previous machine's data (like the data a logging application might send to STDOUT), correct? Reason I ask is that we had a service outage that caused our FluentD process to stop working, and in pushing a fix, we caused the previously-running application pods to be killed and respawned. We later realized that we may ha

[2018-08-29 21:02] smarterclayton commented on #15826
The logs are on disk, but are rotated.  The previous container logs should
be there but the pod and container garbage collector is likely to have
removed anything older than that (and even the previous run will eventually
get removed)

On Wed, Aug 29, 2018 at 4:46 PM blake schwartz <notifications@github.com>
wrote:

[2018-08-29 21:06] bronger commented on #19593
As a side note: If you have a common root for your exports (with fsid=0), then this issue prevents the NFS server from starting in the container.  Then, mounting an emptyDir to the common root solves the problem.

Moreover, Linux 4.16 may not have this issue anymore, see https://www.phoronix.com/scan.php?page=news_item&px=OverlayFS-NFS-Export-Linux-4.16.

[2018-08-29 21:14] dims opened #68026 "Fix golint failures"
Anyone itching to understand the code and try fixing things in Kubernetes, please help fixing the lint failures

Step 1: Remove one or two packages (related packages) from the list in - https://github.com/kubernetes/kubernetes/blame/master/hack/.golint_failures (note: do not change generated files, the name of defaulting functions, or the name of conversion functions... packages failing linting du

[2018-08-29 21:17] juanvallejo opened #68027 "Improve `kubectl get` sorting"
This issue tracks feature improvement for `kubectl get --sort-by...` functionality.

https://github.com/kubernetes/kubernetes/pull/67211 updated the sorting functionality in `kubectl get` to allow Table response from the server to be sorted using a given JSONPath. Prior to this update, sorting caused `kubectl get` to request a non-Table response from the server, which in turn meant that the comman

[2018-08-29 21:38] misterikkit commented on #67857
That sounds like a good approach. I was looking for how to do this in prometheus, and I didn't know it's called a 'collector'.

[2018-08-29 21:49] neolit123 commented on #68026
/sig architecture
/sig testing

[2018-08-29 22:41] bschwartz757 commented on #15826
@smarterclayton ok, thanks - I feared as much, but just wanted to double-check. There aren't any directories I'd want to check other than `/var/lib/docker/containers`, are there? All of the other log locations seemed to be symlinked back to the ones there.

[2018-08-29 22:54] fturib commented on #67962
Image has been copied to staging-k8s.gcr.io, we need now to wait propagation to gcr.io. May take one day ...

[2018-08-29 23:33] #66571 closed

[2018-08-29 23:50] jennybuckley commented on #59829
/remove-lifecycle stale

[2018-08-29 23:51] wyardley commented on #28321
/remove-lifecycle stale

[2018-08-29 23:53] roycaihw opened #68035 "CR scale subresources update request fails when using non-storage version's endpoint"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When trying to update a CR's scale subresource, the update request fails if the CRD has multiple versions and the request is sent to a non-storage versions's endpoint.

**What you expected to happen**:
The update request succeed.

**How to reproduce it (as minimally and precisely as possible)**:
https://github.com/roycaihw

[2018-08-29 23:54] roycaihw commented on #68035
/sig api-machinery

[2018-08-30 00:01] sudeshsh opened #68036 "Scarce Resource Bin Packing Priority Function"
**What happened**:
Consider a 3 node cluster with following resources availability

*Node 1*  extended-resource = intel.com/foo : 4
*Node 2*  extended-resource = intel.com/foo : 4
*Node 3*  extended-resource = intel.com/foo : 2

Run Job spec with following requests for extended resources

*Job 1*  extended-resource-requests = intel.com/foo : 2
*Job 2*  extended-resource-requests = intel.com/foo :

[2018-08-30 00:55] hex108 commented on #67874
@k82cn Thanks for the suggestion.

[2018-08-30 01:28] Lion-Wei commented on #67398
@pmichali Sorry, I didn't try ipv6 cluster with ipvs proxier. Those two issue are related, but not exactly the same issue.
Seems we already have conclusion in https://github.com/kubernetes/kubernetes/issues/67799, nobody working on that?

[2018-08-30 01:53] james-callahan commented on #64547
/remove-lifecycle stale

[2018-08-30 02:18] krmayankk commented on #56682
@nikhita yes please close

[2018-08-30 02:18] dims commented on #68013
@yelled3 please see https://github.com/kubernetes/kubernetes/pull/58925 would you be able to try that patch out?

[2018-08-30 02:18] krmayankk commented on #56682
/close

[2018-08-30 02:18] #56682 closed

[2018-08-30 02:27] fengzixu commented on #68026
@dims  Hey, I would like to resolve this issue. Could you assign it to me ?

[2018-08-30 02:31] dims commented on #68026
@fengzixu there are a lot of packages so there will be many people working on this. Also we cannot assign issue to folks who are not in the github org for kubernetes. please feel free to pick up a few packages like i mentioned and file a PR.

[2018-08-30 02:35] fengzixu commented on #68026
OK. I see. I will probably pick up some failures to fix.

[2018-08-30 02:44] fengzixu commented on #68026
Hi dims. @dims Should i submit my PR before i remove one or two packages (related packages) from the list in - https://github.com/kubernetes/kubernetes/blame/master/hack/.golint_failures ？ Or I first remove the package from list, then I fix the issue and submit a PR?

[2018-08-30 02:50] dims commented on #68026
@fengzixu in your PR, you will have both the fixes to packages and some lines removed from /.golint_failures

[2018-08-30 02:53] wenlxie commented on #64557
Issue had fixed
#64555

[2018-08-30 02:53] #64557 closed

[2018-08-30 03:06] bruceauyeung opened #68039 "kube-apiserver cpu high when etcd server is down"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I have a cluster (1 master, 3 node), and runs only 1 deployment, everything goes well. kube-apiserver's cpu usage is about 3~5%. but after i turning down etcd server, kube-apiserver's cpu usage increases up to 300% very fast , and only when etcd server is back again kube-apiserver's cpu usage's becomes normal.
**What you e

[2018-08-30 03:12] gnufied commented on #65392
@yastij shouldn't pod eviction timeout(5 minute default) + expiry window before a node is considered lost and it stops sending heartbeats enough? There is also - grace period obviously.

The reason I do not particularly like annotation also is because, detaching volumes from shutdown nodes should be a default behavior and should not require user intervention. If we can differentiate between shutdo

[2018-08-30 04:09] orainxiong commented on #67466
@msau42

IMO, from the stateful application(especially database just like MySQL) perspective, we should clarify the differences between **node is down** and **kubelet is down**.

In the case of **kubelet is down**, the present controller-planes(statefulset for example) can't guarantee **at most one** pod semantic, that means it very likely cause data corruption due to more than one pod instances a

[2018-08-30 05:02] feiskyer commented on #63155
@novaterata Please follow https://docs.microsoft.com/en-us/azure/aks/view-master-logs to check kube-controller-manager logs, which includes the detailed errors.

[2018-08-30 05:32] luckyluke192 commented on #67869
Hi,
Have you try to set STORAGEOS_HOST env variable to the address of any of the node running storageos daemon pod?
`export  STORAGEOS_HOST=159.69.116.1`
in your case.

[2018-08-30 06:42] MrHohn commented on #67348
@shyamjvs Quick question, are we using the default API rate limits quota for scalability projects? https://cloud.google.com/compute/docs/api-rate-limits

[2018-08-30 06:43] andyzhangx opened #68043 "hit select zone error when creating an azure disk PVC"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
If no `zone` or `zones` specified in azure disk storage class, user will hit following error when creating a dynamic azure disk PVC:

[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `k

[2018-08-30 06:45] mYmNeo commented on #68002
@aveshagarwal It seems that there is not code to check request for zero resource. I've tried set cpu to zero, then submitted pod to cluster, it could be running in cluster. Set zero resource has no advantage but it's allowed by kubernetes.

[2018-08-30 07:01] yastij commented on #65392
I agree @gnufied, the plan is to promote this as beta on 1.13. From what I’ve see the eviction timeout impacts *all pods* which might be tricky: for aggresive clusters this doesn’t work as pod timeout and node grace period are set lower than usual. This window (1 release) ensures that everything goes smoothly.

[2018-08-30 07:08] saad-ali commented on #65392
Good arguments on both sides. On the one hand, we have to very careful not to cause data corruption. On the other hand, we don't want to get in to a state where their data is stuck and requires manual intervention to access from new workloads.

I agree with @gnufied, we should avoid adding another annotation -- whenever there is a question like this, exposing the option to the end user is the easi

[2018-08-30 07:12] FOSquare opened #68045 "(Super strange!) Application is not run at the cluster that I created on NIC with internal IP but on the NIC with external IP."
/sig cluster-lifecycle

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I have several servers with two NICs, one 1Gb/s NIC for ethernet connetion with external IP, one 10Gb/s NIC with internal IP for data communication. And I created a K8s cluster. when I finished, "kubectl get nodes -o wide"  will show:

NAME      STATUS    ROLES     AGE       VERSION   INTERNAL-IP      EXTERN

[2018-08-30 07:14] FOSquare commented on #68045
use weave rather than flannel can slove the problem. We have slove it, so I close this issue. Thanks guys.

[2018-08-30 07:14] #68045 closed

[2018-08-30 07:31] xiaoxubeii commented on #66018
/close

[2018-08-30 07:32] #66018 closed

[2018-08-30 07:43] DylanBLE opened #68046 "statefulset not create new replicas when some of its pods are in Unknown status"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
When a statefulset's pods become 'Unknown', it will not create new replicas which affects the SLA of that service.

**What you expected to happen**:
Statefulset behaves the same as Deployment:  ignore Unknown pods and create new one.

**How to reproduce it (as minimally and precisely as possible)**:
Delete a node and

[2018-08-30 07:43] DylanBLE commented on #68046
/sig apps

[2018-08-30 08:08] mfouilleul commented on #62415
We have the same issue of pods stuck randomly on ContainerCreating (with FailedMount reason) on our Cronjobs. We plan to dev an operator to delete pod with this status (since few minutes). What do you think?

[2018-08-30 08:11] pms1969 commented on #47733
I've just observed this today trying to set up the postgres helm chart.
[code]

pulled that out of the dashboard ui.  trying to track down the pod that the log file will be in.  The kube-controllers have other instances of this error message for other services, but I can't find it for this particular one - odd :/

[2018-08-30 08:42] houjun41544 opened #68050 "glusterfs log files may become very large if volumes mount failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
when a pod start and need to mount a gluster volume, a log file will be created to record the errors in glusterfs mount. The log path is at 	/var/lib/kubelet/plugins/kubernetes.io/glusterfs/[volName]/[podName]-glusterfs.log

we encounter a scenario that pod mount glusterfs always failed since the glusterfs server is unrea

[2018-08-30 08:59] houjun41544 commented on #68050
/sig storage

[2018-08-30 09:08] cpwujoewu opened #68052 "cluster nodes won't never scale down to default number of counts if I update/deploy a deployment on scaled-up node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I have a three-node cluster, called node A, B, C, and it scales up because I have a deployment with HPA. When HPA scales up, the cluster nodes scales up too.

The situation is when the cluster is scaled up due to cluster auto-scaling, at this time, I re-deploy a deployment(due to update), this deployment will be deployed on a scaled

[2018-08-30 09:09] cpwujoewu commented on #68052
/sig auto-scaling

[2018-08-30 09:12] cpwujoewu commented on #68052
/sig autoscaling

[2018-08-30 09:57] Cobra1978 commented on #2630
Same problem here: whe have somo Dockerized tomcat that run our web applicaition and we us jmx to monithor them, we want to serve jmxremote user and jmxremote password as secrets, but tomcat, which obviously doesen't run as root, want that jmx files are readable only for the user that run tomcat.

[2018-08-30 09:58] primeroz opened #68055 "IPVS shortcut the network policies when src pod and dst pod are on the same node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When using IPVS mode for kube-proxy and network-policy with calico-node the iptables rules applied to the nodes don't manage to block unwanted traffic when the source pod and destination pod are on the same node.

**What you expected to happen**:
Unwanted traffic to be blocked regardless of which node host the src and dst

[2018-08-30 10:06] ocofaigh commented on #61937
Reproduced on the latest kernel version (3.10.0-862.9.1.el7.x86_64) on RHEL 7.5
@pires Can you confirm your kernel version and if the issue is really fixed for you?

[2018-08-30 10:06] wufenglinux commented on #61532
我也是这个问题，但是我尝试过无数种方法。
我发现了一个让人很生气的问题
我修改了storageclass中的配置参数，这个参数
parameters:
monitors: 这个参数即使乱写 storage依然可以创建出来，并且provisioner也是报 StorageClass "rbd": missing Ceph monitors

这个错误真的很误导人，其实并不是没有ceph monitor
我到现在还没有解决这个问题。
这个问题误导了我快1个月了

[2018-08-30 10:50] andyzhangx opened #68061 "implement resizefs feature on Windows"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Currently there is only resizefs functionality on Linux, we need to implement resizefs feature on Windows, I will try to implement that on k8s v1.13 release.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kube

[2018-08-30 10:56] #61903 closed

[2018-08-30 11:00] primeroz commented on #50041
You can find the go reference [here](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kube-proxy/config/v1alpha1/types.go) which tells you all the options and their format . Not ideal but good enough for me

[2018-08-30 11:06] ocofaigh commented on #67278
@merdincz Did you find any solution to this?

[2018-08-30 11:35] dims commented on #67477
Looks like this wont make it. upstream patches got rejected. ( cc @ghodss )

[2018-08-30 11:35] dims commented on #67477
/milestone clear

[2018-08-30 12:02] mgdevstack opened #68062 "Unable to run "Garbage Collection Test:" e2e_node tests due to GRPC connection issue"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
"Garbage Collection Test:" e2e_node tests are failing because of GRPC connection issue.
Following e2e_node tests are failing -
- [k8s.io] GarbageCollect [Serial][NodeFeature:GarbageCollect] Garbage Collection Test: Many Restarting Containers  Should eventually garbage collect containers when we exceed the number of dead co

[2018-08-30 12:47] sttts commented on #68035
This is much deeper in apimachinery than https://github.com/kubernetes/kubernetes/pull/68038 suggests. It's again a case of machinery conversion code which thinks that in=Unstructured, out=Unstructured implies same GVK. Obviously this is wrong. But the code (versioning decoder in this case) skips another CR conversion step.

[2018-08-30 12:52] The-Loeki commented on #46989
I'm trying to do this on a k8s 1.10.6-gke.1, but it still doesn't work???

[code]

[code]

[2018-08-30 13:05] soltysh commented on #68027
As long as these two are nice to haves, in the next release we *MUST* focus on improving the performance problems @smarterclayton mentioned in #67211.

[2018-08-30 13:08] dims opened #68066 "[k8s.io] Pods should be submitted and removed [Conformance] {E2eNode Suite}"
We need to fix this potentially flaky test and add it back to conformance suite. Please see discussion in

- https://github.com/kubernetes/kubernetes/pull/64240#discussion_r191465289
- https://github.com/kubernetes/kubernetes/pull/67901#issuecomment-416414759

Also waiting on:
- https://github.com/kubernetes/kubernetes/pull/67350

[2018-08-30 13:12] dims commented on #68066
cc @tnozicka @liggitt @spiffxp

/sig testing

[2018-08-30 13:19] dims commented on #68066
/area conformance

[2018-08-30 13:35] juliantaylor commented on #67577
Another issue with quotas is that the kubelet counts hyperthreads as "cpus". When a cluster becomes so loaded that two threads are scheduled on the same core and the process has a cpu quota quota one of them will only perform with a small fraction of the available processing power (it will only do something when something on the other thread stalls) but still consume quota as if it had a physical

[2018-08-30 14:23] rhugga opened #68070 "FlexVolume (1.10.6): err=no volume plugin matched"
/kind bug

**What happened**:
Flexvolume drive is not being found.

`2018-08-30T14:10:48.591755+00:00 pv41p01if-smds08022901 kubelet[11776]: E0830 14:10:48.591675   11776 desired_state_of_world_populator.go:293] Failed to add volume "test" (specName: "test") for pod "54381998-ac5e-11e8-b13f-0cc47a587b96" to desiredStateOfWorld. err=failed to get Plugin from volumeSpec for volume "test" err=no volu

[2018-08-30 14:30] sttts commented on #68035
Only scale has a problem as far as I see.

[2018-08-30 14:57] davidbalazs commented on #67134
hi @caesarxuchao  I have tried creating the deployment without webhook, then manually patch it with the same patch json that the webhook does, and it worked:
`kubectl patch deployment <DEPLOYMENT_NAME> --type='json' -p="$(cat <file_containing_patch_operations>.json)"`

[2018-08-30 15:09] mkimuram opened #68073 "subpath tests fails in namespace deletion due to remaining pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Below subPath tests fails with below errors:

[Test]
- subPath should support restarting containers using directory as subpath
- subPath should support restarting containers using file as subpath

[Error]
[code]

**What you expected to happen**:
Above error doesn't happen

**How to reproduce it (as minimally and precisely

[2018-08-30 15:49] zetaab commented on #65392
@gnufied actually in openstack nodes are not deleted anymore. https://github.com/kubernetes/kubernetes/pull/59931 It basically means that in openstack if you shutdown instance which had pod with pvc, it cannot failover to another instance.

However, #67977 will fix this issue

[2018-08-30 15:57] davidz627 commented on #67348
I will defer to @bowei for priority because he probably has the most context on how serious this is and what it could effect

[2018-08-30 16:01] #61906 closed

[2018-08-30 16:01] #61335 closed

[2018-08-30 16:01] #61628 closed

[2018-08-30 16:01] #61784 closed

[2018-08-30 16:01] #61398 closed

[2018-08-30 16:01] #61469 closed

[2018-08-30 16:01] #61256 closed

[2018-08-30 16:26] hgascoigne opened #68078 "Network policy not properly blocking GKE metadata IP"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I'm attempting to configure a network policy on GKE with "Network policy for nodes" and "Metadata concealment proxy" enabled. My goal is simple: I want to block access to the metadata endpoint at `169.254.169.254` while allowing all other egress traffic. I cannot get the network policy to block access to that IP.

**What

[2018-08-30 16:29] hgascoigne commented on #68078
cc @kubernetes/sig-network

[2018-08-30 16:29] shyamjvs commented on #67348
@MrHohn Which rate limit are you referring to? (I don't remember us changing it any time) Btw - this is the project being used for that job - https://pantheon.corp.google.com/home/dashboard?project=kubernetes-scale

[2018-08-30 16:31] tpepper commented on #68073
/milestone v1.12
/priority critical-urgent

[2018-08-30 16:44] dashpole commented on #68062
This test appears to be passing: https://k8s-testgrid.appspot.com/sig-node-kubelet#kubelet-serial-gce-e2e&include-filter-by-regex=GarbageCollect
The error indicates that it failed to `ListContainers` from the runtime [here](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/garbage_collector_test.go#L155).  This is likely an issue with your test setup or the runtime you are using.

[2018-08-30 17:02] #61197 closed

[2018-08-30 17:02] #61103 closed

[2018-08-30 17:02] #61153 closed

[2018-08-30 17:02] #61192 closed

[2018-08-30 17:19] dims commented on #68062
@dashpole, Looks like @mgdevstack is running against a remote runtime

[2018-08-30 17:33] misterikkit commented on #68002
After the node status was updated to the correct value, did your pod schedule? If not, then I think there's a scheduler bug.

Generally, zero-values requests seem fine to me. That's how we specify BestEffort pods, even if it is implicit. Given the observed kubelet behavior with the `nvidia.com/gpu` resource temporarily dropping to `0`, we should consider whether (A) kubelet should prevent that fro

[2018-08-30 17:38] shay-berman commented on #66181
How do you know that node is Shutdown?
is it a planned shutdown or a unplanned shutdown?

[2018-08-30 17:43] sudeshsh commented on #68036
https://docs.google.com/document/d/1LwOBNh554in0fjVFW5bKpVnG9nKNHBvO6r9hDCyyPik/edit?usp=sharing

[2018-08-30 17:57] ConnorDoyle commented on #68036
@kubernetes/sig-scheduling-feature-requests

[2018-08-30 17:58] brentpearson commented on #62415
We had to do something similar. We have an application that polls the events for each job and when an event is found with any one of several "reason" values (such as FailedMount) that indicate a failure that will make the job forever sit in an "active" state, and that Kubernetes can't be bothered to handle by stopping the pod after it fails instead of leaving it to sit pending forever, and setting

[2018-08-30 18:00] cmluciano commented on #68036
/cc

[2018-08-30 18:08] Huang-Wei commented on #67845
#64954 will resolve this issue.

[2018-08-30 18:27] caesarxuchao commented on #67414
Closed by #67552

[2018-08-30 18:27] #67414 closed

[2018-08-30 18:31] chrissnell opened #68083 "Specifying idle timeout on ELB-backed service publicly exposes an internal ELB"
/kind bug

**What happened**:

When using AWS and a Service of type LoadBalancer:

If the annotation `service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout` is added to a Service that has been designated to use an internal-only ELB (via `service.beta.kubernetes.io/aws-load-balancer-internal: "0.0.0.0/0"` annotation), the ELB will be created as a public-facing ELB.

**This is a poten

[2018-08-30 18:32] roycaihw commented on #68035
You're right. I had status integration test fail for different reason. Updated the issue topic and comment

[2018-08-30 18:33] chrissnell commented on #68083
/sig aws

[2018-08-30 18:33] vishh commented on #67577
@juliantaylor As I mentioned in #51135 turning off CPU quota might be the best approach for most k8s clusters running trusted workloads.

[2018-08-30 18:53] merdincz commented on #67278
@ocofaigh Nope, I'm still waiting help.

[2018-08-30 18:59] bowei commented on #67348
I put up a patch for adding exponential retry

[2018-08-30 19:05] chrissnell commented on #45234
Is it possible to limit the number of nodes being added to a LB?  I've noticed that I will see 504 Gateway Timeouts on my service ELBs when cluster autoscaling adds/removes a bunch of new nodes.  I'm not sure what's going on here but it feels like my service LBs are more reliable when nodes are not constantly being added and removed.

[2018-08-30 19:12] msau42 opened #68085 "Failing multizone test: [sig-storage] In-tree Volumes [Driver: gce] [Testpattern: Inline-volume (default fs)] subPath should fail for new directories when readOnly specified in the volumeSource"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
https://k8s-testgrid.appspot.com/sig-storage#gce-multizone

Probably related to requiring that the pod needs to be scheduled in the same zone where the PD is created.

[2018-08-30 19:12] msau42 commented on #68085
/assign

[2018-08-30 19:13] dlamotte commented on #67913
I witnessed similar behavior and believe its the same issue (or at least related). I can reproduce with traceback.  It appears to be an issue within `kubelet`.

Effectively, to reproduce, spin up a large container that takes time to download (so it stays within the `ContainerCreating` state).  Any `kubectl exec` calls to the container in this state will result in a `kubelet goroutine panic` and le

[2018-08-30 19:17] dlamotte commented on #67659
I believe this is related directly to #67913.  I've posted a traceback of the issue in `kubelet` here https://github.com/kubernetes/kubernetes/issues/67913#issuecomment-417434592

[2018-08-30 19:17] shay-berman opened #68086 "Allow to configure maxWaitForUnmountDuration"
**Is this a FEATURE REQUEST?**:

/kind feature

**What happened**:
maxWaitForUnmountDuration is set hardcoded in k8s to 6 minutes so the user cannot change its timing. So a detach of a PVC will always have to wait for 6 minutes.

**What you expected to happen**:
maxWaitForUnmountDuration should be configurable (probably in the Pod spec or globally).

**How to reproduce it (as minimally and precise

[2018-08-30 19:26] Nowaker commented on #30656
This would be extremely welcome. It's not cool to be penalized for being security conscious and running all processes as non-root. (Rephrasing https://github.com/kubernetes/kubernetes/issues/30656#issuecomment-272055993)

[2018-08-30 19:26] guineveresaenger commented on #67823
Do we have a priority on this? @shyamjvs @wojtek-t ? Thanks! 👍

[2018-08-30 19:29] dims commented on #30656
/sig node

[2018-08-30 19:33] wojtek-t commented on #67823
Added priority. The PR fixing that (https://github.com/kubernetes/kubernetes/pull/67864) is hopefully close to be done.

[2018-08-30 19:37] guineveresaenger commented on #67348
Gentle reminder that for this to be considered for 1.12 past Code Freeze, which is next week, it must have a status/critical-urgent label.
I see this is being actively worked on 👍

[2018-08-30 19:40] #68073 closed

[2018-08-30 19:44] shyamjvs commented on #67823
/priority critical-urgent

On Thu, Aug 30, 2018, 9:33 PM Wojciech Tyczynski <notifications@github.com>
wrote:

[2018-08-30 19:46] shyamjvs commented on #67823
Sorry missed Wojtek's comment above.. Not sure how to uncomment the label.

[2018-08-30 19:50] wojtek-t commented on #67823
I remove it manually :)

[2018-08-30 19:54] shyamjvs commented on #67823
It doesn't let me do that. You could do it probably because you created the issue?

[2018-08-30 19:59] jingyih commented on #66475
@leeivan

This suggests that kubectl is not configured correctly.  I think the error happens when the start-kubemark.sh script is creating hollow node resources using kubectl commands.  Can you check if the server info in `test/kubermark/resources/kubeconfig.kubemark` matches the kubemark master ip?

[2018-08-30 20:01] guineveresaenger commented on #65392
Do we have any notion of the timeframe on resolving this issue? Code freeze is next week, at which point only critical/urgent bugs will be permitted into the milestone.

Thank you! :)

[2018-08-30 20:05] #30793 closed

[2018-08-30 20:14] dims opened #68091 "Stop using ginkgo.flakeAttempts"
- Is this really useful? (fuzzer based tests?)
- Does this contribute to hiding flakiness in our test suites?
- Is it time to get rid of it?

(Do we really need ginkgo is the larger question i guess!)

[2018-08-30 20:15] dims commented on #68091
cc @spiffxp @BenTheElder @bgrant0607

[2018-08-30 20:15] dims commented on #68091
/sig testing

[2018-08-30 20:19] bgrant0607 commented on #68091
It would be good to measure what the impact of this is now. Maybe turn it off in the post-submit tests for a few days after code freeze so that we could observe the impact? Do we have a way to monitor failures in the pre-submit tests?

[2018-08-30 20:21] gnufied commented on #65392
@shay-berman PR #67977 should still be on hold because without actual handling of pods from shutdown nodes the PR #67977 has no effect whatsoever. The volumes still will not be detached from shutdown nodes.

[2018-08-30 20:26] fedebongio commented on #67974
/assign @jpbetz @wenjiaswe

[2018-08-30 20:28] fedebongio commented on #68039
/assign @jpbetz @wenjiaswe @jingyih

[2018-08-30 20:31] zetaab commented on #65392
@gnufied yes it has? Lets say that we have 2 nodes: node1 and node2. Then we have deployment called foobar which have pvc in it. foobar is now running in node1, and then node1 is shutdown.

The result is that node1 foobar pod is going to unknown state and volume is detached using volume danglingerror. foobar pod will start in node2 and volume is attached. What happens when node1 comes back? It wil

[2018-08-30 20:37] itamarh commented on #65392
@zetaab, what happens if it wasn't shutdown?
I.e, container using the pvc is working and writing to the pvc.
Communication with kubelet has an issue for 1 hour, then comes back.

[2018-08-30 20:38] spiffxp commented on #68091
I was literally talking about this yesterday with @jdumars and @calebamiles, stop reading my mind.

I think we should turn this off selectively before turning it off globally.  I would welcome a job that runs the "normal" and "flaky" tests together, with this setting turned off, so that we could accumulate some data first, ref: https://github.com/kubernetes/test-infra/issues/9208

I don't have eno

[2018-08-30 20:40] gnufied commented on #65392
@zetaab dangling error should just add a volume to actual state of the world to handle the case of missed pod statuses. In itself - it should *never* cause volume detaches. If it does, we probably have a bug. I have tested similar scenario on AWS with latest patch(https://github.com/kubernetes/kubernetes/pull/66835)  that prevents node object from being deleted and volumes are NOT detached.

If on

[2018-08-30 20:47] roycaihw commented on #68035
/area custom-resource
/milestone v1.12

[2018-08-30 20:48] cheftako commented on #59826
I believe this has been fixed in https://github.com/kubernetes/kubernetes/pull/67433.
1.9 cherry pick #67784
1.10 cherry pick #67155
1.11 cherry pick #67154

[2018-08-30 20:48] cheftako commented on #59826
/close

[2018-08-30 20:48] #59826 closed

[2018-08-30 21:00] gnufied commented on #64788
I will look into this. Sorry, somehow I did not see notification for this.

[2018-08-30 21:00] msau42 opened #68093 "hostpath subpath reconstruction tests are failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

https://k8s-testgrid.appspot.com/sig-storage#gce-serial

**What happened**:
The skip check for hostpath doesn't seem to be working for these test cases

[2018-08-30 21:00] msau42 commented on #68093
@mkimuram can you take a look?

[2018-08-30 21:06] #61737 closed

[2018-08-30 21:11] zetaab commented on #65392
@itamarh like I commented to that PR it does not do anything if there is issue with connectivity (no taint). Kubernetes itself starts eviction (I have 1min eviction time), so after 1 minute it will try to create pod to another node. However, because volume is not deattached it cannot start.

I do not know should it force detach drive in case of connectivity issue or not. The behaviour before cloud

[2018-08-30 21:14] jmcmeek commented on #67913
I definitely see many stacks like that in the kubelet.log I just checked.  I had noticed those before, but mistakenly associated them with apiserver server returning 404 errors - not the long running requests.

From the apiserver perspective...  When the client has closed its connection, can the apiserver consider the exec request complete and close its connection to kubelet, etc?  That might make

[2018-08-30 21:16] yusong0926 opened #68094 "does kubelet cadvisor config provide storage-driver of kafka"
I want to push the container stats to kafka, but I couldn't find storage-driver option https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/

I am wondering if kublet can provide this option as what cadvisor provided:
https://github.com/google/cadvisor/blob/master/docs/storage/kafka.md

[2018-08-30 21:31] gnufied commented on #65392
Just to add to what @shay-berman wrote the complete discussion is as follows:

1. Both https://github.com/kubernetes/kubernetes/pull/67977 and https://github.com/kubernetes/kubernetes/pull/67847should be on hold for now. Because as we discovered that #67977 will have no effect if pod is not being removed from DSWP(desired state of the world).

2. The reason we chose to put https://github.com/kuber

[2018-08-30 21:34] kartojal commented on #67278
Facing the same issue after upgrading from 1.10 to 1.11.2, similar bare-metal setup with Centos 7 and flannel. Any recommendation?

[2018-08-30 21:41] mkimuram commented on #68093
Oh, disruptive tests are the tests that can't be tested locally in my environment due to
https://github.com/kubernetes/kubernetes/issues/65232

I will take a look.

[2018-08-30 21:42] #67348 closed

[2018-08-30 21:45] mkimuram commented on #68093
I found that above issue is not related, I should have been checked more carefully. Sorry for that.

[2018-08-30 21:50] jwendell opened #68095 "Add an "Allow with warning" response to Admission Webhooks"
/kind feature

It would be nice if responses for Admission Webhooks had a third option: **Allow with warning**.
That would allow users to finish their task (creation, update, etc) but would print a warning.

**Use case**
Sometimes a configuration is not an error itself, but along with other configurations might lead to a "runtime error". That could be on purpose or could be a mistake. Accepting th

[2018-08-30 21:53] jwendell commented on #68095
/sig api-machinery
/kind feature

[2018-08-30 22:07] #61975 closed

[2018-08-30 22:19] msau42 opened #68097 "Flaky test: [sig-storage] In-tree Volumes [Driver: nfs] [Testpattern: Dynamic PV (default fs)] volumeIO should write files of various sizes, verify size, validate content [Slow]"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
Only the newly added nfs external provisioner volume IO test is flaking.

[code]

I wonder if the pod is getting killed due to cpu/memory limits.  Could it be a problem with limits set by ganesha?

[2018-08-30 22:29] mkimuram commented on #68093
@msau42

I found out that this was just a driver name issue, so below will fix it:

- hostpath -> hostPath
- hostpathSymlink -> hostPathSymlink

We might be better changing the skip logic later, to make it skip not by name in order to avoid this kind of bug, though. I will make a PR for above change, soon.

[2018-08-30 22:48] neolit123 commented on #68086
/sig storage

[2018-08-30 22:50] neolit123 commented on #68094
/sig node
/kind feature

[2018-08-30 22:50] verult commented on #65392
@jingxu97 @msau42 and @random-liu from sig-node discussed offline about potentially having a higher level controller to force delete a pod. One of the possible issues is that there could be a race condition if the node comes back up soon after.

Imagine we have a StatefulSet pod that has a non-attachable volume, and suppose the shutdown node comes back up right before the pod is force deleted. Kub

[2018-08-30 22:52] zhukovsd commented on #67869
Hi, @luckyluke192

I did not try your suggestion exactly, but I changed k8s cluster so every node (include `master`) runs StorageOS pod. Thus, on every node we can call `storageos` CLI commands.

Although, the problem with `storageos volume create` failing to create a volume still persists.

I reported that issue to StorageOS devs - https://github.com/storageos/storageos.github.io/issues/196
It lo

[2018-08-30 22:58] mkimuram commented on #68093
I made a PR above.

Also, it might be a bit out of scope of this fix, but are drivers tested with containerized volume server, like nfs, ceph, etc..., safe to be tested with subpath disruptive tests?
I'm worrying about the case that test pod and containerized volume server are deployed on the same node. In such a case, the same behaviour expected or do we need to avoid this kind of situation?

[2018-08-30 23:00] liggitt commented on #65392
For intentional shutdown of a node for maintenance, where highly responsive transfer of workloads to another node is desired, there's no substitute for condoning/draining workloads from the node prior to shutdown.

Is the desire here to handle intentionally shutting down a node without terminating it, and without cordoning/draining it, while still quickly moving workloads and volumes to another no

[2018-08-30 23:07] yastij commented on #65392
@liggitt - Yes, it may also cover shutting down a node when it may need to be migrated and re-deployed.

[2018-08-30 23:09] msau42 commented on #65392
For an intentional shutdown of a node, how come a node drain cannot be done?

[2018-08-30 23:12] yastij commented on #65392
@msau42 - Indeed it should be. The feature covers both anyway.

[2018-08-30 23:17] bremy11 opened #68101 "StatefulSet pod anti-affinity update not working"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**:

Updating a statefulset sometimes bypasses pod anti-affinity depending on the labels applied on the pod itself.

**What you expected to happen**:
**How to reproduce it (as minimally and precisely as possible)**:

On a 3 node cluster I cover all the nodes with statefulsets i1, i2, and i3 (i1.yaml, i2.yaml, i3.ya

[2018-08-30 23:28] tallclair commented on #46404
/lifecycle frozen

[2018-08-30 23:29] verult commented on #65392
I believe the desire is more to handle *unintentional* shutdown, by making available volumes previously attached to the node without causing data corruption.

[2018-08-30 23:33] verult commented on #65392
My understanding is this is more of a problem for unintentional shutdown, to make available volumes previously attached to the node without causing data corruption.

[2018-08-30 23:45] bremy11 commented on #68101
/sig scheduling

[2018-08-30 23:48] #68085 closed

[2018-08-30 23:48] mbohlool commented on #63494
@TheKevJames The change goes into 1.9.8 patch: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md/#other-notable-changes-2

look at item #63626

I see the log you reference has 1.9.6 server, can you try this with 1.9.8+ server? it should have been fixed, if it is not, let me know.

[2018-08-31 00:17] msau42 commented on #68097
/milestone v1.12

[2018-08-31 00:29] liggitt commented on #65392
Making specific taints inform a "force detach" controller instead of scheduler/eviction logic doesn't seem safe. Coordinating on the existence of the pod object is what I expected.

Is there any precedent for using taints in this way?

[2018-08-31 00:33] liggitt commented on #65392
The shutdown taint informing the container running condition makes more sense but is still racy

[2018-08-31 00:38] dims commented on #68026
@fengzixu

- Say your GOPATH looks like this `GOPATH=/Users/dims/go`
- Your kubernetes directory should be `/Users/dims/go/src/k8s.io/kubernetes` (`$GOPATH/src/k8s.io/kubernetes`)
- cd to `/Users/dims/go/src/k8s.io/kubernetes` and then run `hack/verify-golint.sh` from that directory.

[2018-08-31 00:52] msau42 commented on #65392
If the Pod object is not deleted, StatefulSet will not be able to recreate a replacement pod.

[2018-08-31 00:53] caesarxuchao commented on #67134
Actually it works as expected, see my deployment at https://github.com/caesarxuchao/kubernetes/commit/7f7eb9b7721cd5fc0cb78dc246da12db2dbee378#diff-1c64c41d318df5671824f69f9455924dR35.

[code]

Note that my cluster is at the latest commit:
[code]

[2018-08-31 01:09] #67538 closed

[2018-08-31 01:34] #68093 closed

[2018-08-31 01:37] beekhof commented on #65392
Is that before or after the volumes are actually released? Because a kublet failure after the taint is added and before the volumes are released would still be problematic.

I have far more experience with traditional HA systems than I do with k8s, but a core old-world principle is that you just don't know what you don't know.  You can use heuristics and make assumptions, but some of the time they

[2018-08-31 01:38] mYmNeo commented on #68002
@misterikkit After kubelet rejected the zero-values request pod, the scheduler will reschedule the pod, so in my understanding it's not a scheduler bug.

Apparently, I think kubelet should prevent that from happening, because scheduler can't overcommit this kind of pod.

[2018-08-31 01:46] cpwujoewu commented on #68052
I can't tell if this is a feature request or a bug.
I don't config any PDB,  but because spec.replica in a deployment is set to 1 as default, this has the same meaning, right? [How Disruption Budgets Work](https://kubernetes.io/docs/concepts/workloads/pods/disruptions/#how-disruption-budgets-work)

So, when HPA scales up a deployment, it will use up resources that original cluster nodes have and t

[2018-08-31 02:11] #44328 closed

[2018-08-31 02:11] #56227 closed

[2018-08-31 02:18] tatsuhiro-t commented on #67875
It turns out that the master node which kube-proxy connected to via LB is gone, but kube-proxy does not notice it and keep watching stale connection.  This is not kube-proxy issue.

[2018-08-31 02:18] #67875 closed

[2018-08-31 02:35] fengzixu commented on #68026
@dims I revised some errors about golint. Request review

[2018-08-31 03:12] #62017 closed

[2018-08-31 03:22] jiangwh opened #68107 "Bug in "kubectl scale -h""
**Is this a BUG REPORT or FEATURE REQUEST?**:
proposals
**What happened**:
Want to use the command ```  kubectl scale --replicas=3 rs/foo ``` to scale my app，it don‘t work~~’
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
change the help doc about the “kubectl scale -h” command
change examples ```  kubectl scale --replicas=3 rs/foo  ``` to ```

[2018-08-31 03:30] ochinchina opened #68109 "apiserver bind-address is not configuration through kubeadm MasterConfiguration"
Currently only the advertise-address for the kube-apiserver can be configured and the bind-address for kube-apiserver can not be configured. And kube-apiserver will listen on 0.0.0.0, this will cause some security issues for the kubernetes.

[2018-08-31 03:38] Pingan2017 commented on #68109
/area kubeadm

[2018-08-31 03:40] Pingan2017 commented on #68107
scale a rs, use kubectl scale --replicas=3 rs/foo
scale a rc, kubectl scale --replicas=3 rc/foo

[2018-08-31 03:40] andyph4n opened #68110 "Container should restart after Liveness Probe fails"
Is this a BUG REPORT or FEATURE REQUEST?
/kind bug

What happened:
Right now after one of my liveness probes fail, there is down time between the last liveness probe failure and the restart of the container - meaning, all requests sent to this pod would fail.  This is happening only on applications that run on node js and not on applications that run on Java.

What you expected to happen:
I expect

[2018-08-31 03:49] jiangwh commented on #68107
Thank you~ got~

[2018-08-31 03:49] #68107 closed

[2018-08-31 04:15] humblec commented on #67999
@obnoxxx @jsafrane I was thinking about a solution [1] to lift this limitation and to ensure backward compatibility of admin tools/utilities which filter these ep/svcs. The backward compatibility was one of the main reason for denying the attempts till now to enhance this .

afaict, the WIP solution [1] does address below:

*) It does not break the backward compatibility.
*) Allow admins to create

[2018-08-31 04:29] xrl opened #68111 "NLB fails to create when ELB exists targeting same resource"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig aws

**What happened**: I created a NLB object to compare with a classic ELB but none of the NLB targets went healthy. When I describe the ELB:

[code]

**What you expected to happen**: The NLB should have behaved just like an ELB, routing traffic to the backend pods.

**How to reproduce it (as minimally and precisely as possible)**:

C

[2018-08-31 05:17] radeksimko commented on #44539
/remove-lifecycle stale

[2018-08-31 05:36] wpf710 commented on #68070
have you tried to restart the kubelet service?

[2018-08-31 05:47] gyliu513 opened #68112 "Kubernetes do not support creating pods based on percentage"
/kind feature

I have a use case as follows:
1) Set up a single Kubernetes cluster across two different AZ, suppose they are AZ1 and AZ2.
2) In AZ1 and AZ2, I deployed service and deployment for service1.
3) In AZ2, I deployed service and deployment for service2.
4) AZ2 is down, when all of the pods are being rescheduled to AZ1, I want to make sure service2 can be created first on AZ1 before servi

[2018-08-31 05:57] mathspanda commented on #68026
Is it necessary to obey all rules in golint? Rules in golint are set in stone. Maybe using gometalinter to ignore some specific errors is better? @dims

[2018-08-31 05:59] fengzixu commented on #68026
@dims I revise some erros about golint in some packages. Please review it. https://github.com/kubernetes/kubernetes/pull/68113

[2018-08-31 06:04] saad-ali commented on #67313
In your pod template, make sure that you set `spec.volumes.persistentVolumeClaim.readOnly` to true.

[code]

[2018-08-31 06:16] mbohlool commented on #67840
Adding one more detail to the idea, we can set the bar for restriction on OpenAPI schema using our own kube-openapi. Anything that kube-openapi cannot generate should not be allowed in the Schema of CRD. this will help us both develop kube-openapi to take care of all cases (structure and value validation in a separate way) and also make sure what we accept from users which may come from another so

[2018-08-31 06:31] KielChan commented on #67702
notice that warning raised by event, was there a bug ?
and attach ur log related with it.

[2018-08-31 06:34] saad-ali opened #68115 "Histogram metrics generating overwhelming number of prometheus metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

In Kubernetes 1.11.x, the controller-manager metrics are providing histogram records for every api endpoint ever called during namespace cleanup. For every namespace that is deleted since a controller has been the leader, 1000+ new lines of metrics are created / served indefinitely. When creating/deleting namespaces at a

[2018-08-31 06:44] hechuan73 commented on #67702
@KielChan
Thanks，I have fixed it by steps below:
1. Enable the Aggregation Layer.
2. Modify the parameters in metrics-server-deployment.yaml
[code]
The file "ca.pem" is created when I enable the Aggregation Layer. And notice that we need to mount the volume where the file is.

When I finished these steps, the metrics server worked normally.

[2018-08-31 06:44] #67702 closed

[2018-08-31 07:00] saad-ali commented on #68115
@cduchesne did some more debugging and believes that the root cause is https://github.com/kubernetes/kubernetes/pull/63444

He says that PR switched to the new dynamic client so when a request is made, this function is called:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/rest/request.go#L637

[code]

https://github.com/kubernetes/kubernetes/blob/master/staging

[2018-08-31 07:18] kaikun213 commented on #41336
Same issue when deploying with Gitlab CI Auto-DevOps.
Any suggestions?

[2018-08-31 08:33] sttts commented on #67840
The more I think about it, I think we are mixing problems here and should be more precise what we want to change:

1. we have OpenAPI validation. **Restricting expressibity in validation is the wrong goal.** Proof: if we restrict validation expressivity, we force people into admission webhooks which are turing complete. We have even less control about what they do.
2. we have OpenAPI schema check

[2018-08-31 08:39] merdincz commented on #67278
@ocofaigh Thank you i just updated all images with;

`kubectl delete pod --all -n kube-system`

Also rebooted master and nodes but nothing changed. Which process did you followed for fresh deployment?

[2018-08-31 08:42] wpf710 commented on #67376
it's not the attribute of volume,  you can create a pv/pvc with csi, and use it in pod

[2018-08-31 09:26] ocofaigh commented on #67278
I did a complete new deployment of the platform following these steps: https://kubernetes.io/docs/setup/independent/high-availability/

[2018-08-31 09:34] adampl commented on #66181
@shay-berman AFAIK regardless of whether it's planned or not, it's detected by the cloud provider.

In case of bare-metal node it doesn't happen automatically, as there is no universal way to reliably determine if a node is powered off, so the node must be tainted as `nodeShutdown` by some external source.

[2018-08-31 09:42] kartojal commented on #65875
Hitting same issue here, can not get the traffic to port 80 after upgrading to 1.11.1

[2018-08-31 09:53] mgdevstack commented on #68062
I used ```hack/local-up-cluster.sh``` to setup cluster from k8s source on Ubuntu 16.04.2 LTS machine having docker 18.06.0-ce installed.

Running ```_output/bin/e2e_node.test --ginkgo.focus "Garbage Collection Test:"``` leads to above error. Hope it should pickup **_docker_** as runtime.

[2018-08-31 09:54] wojtek-t opened #68125 "Retrying of volume binder in scheduler is too aggresive"
When running scheduler integration tests, I'm seeing 40.000 lines like this:
[code]

It seems we are retrying pretty much every 1ms. for couple minutes.
This is way too aggresive.

@bsalamat @msau42 @kubernetes/sig-scheduling-bugs

[2018-08-31 10:04] #68043 closed

[2018-08-31 10:08] kartojal commented on #67278
After downgrading to 1.11.1 and doing a  refresh of the NodePort service
that handles my ingress-nginx deployment  i am able to reach my cluster.
El vie., 31 ago. 2018 a las 11:27, ocofaigh (<notifications@github.com>)
escribió:

[2018-08-31 10:18] dims commented on #68026
@mathspanda which errors would you like to ignore? if you can open a new issue with the list of errors to ignore (and proposing gometalinter), we can get some opinions there from others in the community.

[2018-08-31 10:24] wojtek-t opened #68126 "TaintNodeByCondition doesn't isolate individual test cases"
While lookint into https://github.com/kubernetes/kubernetes/pull/67864, I spent few minutes looking into this test: https://github.com/kubernetes/kubernetes/blob/master/test/integration/scheduler/taint_test.go#L64

And there is a problem that is relatively easy to reproduce.

The problem is that we are running its test cases one by one. But nothing in the meantime is ensuring that the current stat

[2018-08-31 10:32] k82cn commented on #68126
/assign

[2018-08-31 10:37] obnoxxx commented on #67999
@humblec, let's not club two actually independent fixes together.

* One is avoiding the creation and deletion of volumes in gluster when we can already know the overall PVC creation would fail, e.g. because the PV name is longer then 45 chars. (this issue)
* The other is lifting the limit of 45 characters to higher numbers (#56379 and  #53939).

Let's fix separate issue separately. I volunteered

[2018-08-31 10:38] MaciekPytel commented on #68052
All HPA does is set the number of replicas on deployment. It doesn't have any control over what pods are created or removed, or where they're scheduled. In general there is no built-in rescheduling in Kubernetes and once the pod gets scheduled on a node it will generally stay there.

You probably need to figure out why Cluster Autoscaler is not scaling down afterwards (usually the reason is pretty

[2018-08-31 10:50] obnoxxx commented on #67999
I would also try to do the check for the length a little differently, so that we don't explicitly test against a 45, which is kind of arbitrary and bad. Will send a patch...

[2018-08-31 11:09] humblec commented on #67999
@obnoxxx well, eventhough my preference is for one solution, I dont want to stop you :). Go ahead with the first PR and assign to me .

[2018-08-31 11:33] adampl commented on #65392
The question is, how soon will this bug get fixed, if one PR after another are being held/rejected so often? This bug is quite critical, so IMHO it deserves to be fixed ASAP, even if the solution is not perfect.

I'd also like to suggest, that probably most network/distributed/replicated volume drivers should be able to independently determine if a volume is safe to detach from the given node, bec

[2018-08-31 12:18] olafure opened #68133 "fluentd-elasticsearch addon's es-image doesn't build"
/kind bug

Build fails on the es-image dependecy with the Makefile:
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/es-image/Makefile

**What happened**:
[code]

**What you expected to happen**:
Binary to be built with no errors.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environment**:
master branch HEAD (ff46c0fe6b774792

[2018-08-31 12:27] sttts commented on #67925
ouch

[2018-08-31 12:33] sttts commented on #67925
Probably fixed via https://github.com/golang/protobuf/pull/528

[2018-08-31 12:53] davidbalazs commented on #67134
thanks @caesarxuchao  for the time! :)

[2018-08-31 13:03] cuppett commented on #59015
Partial fix in #66397.

The new T3 and z1 need matched as well according to this:

https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/volume_limits.html

T3, C5, C5d, M5, M5d, R5, R5d, and z1d instances support a maximum of 28 attachments, and every instance has at least one network interface attachment. If you have no additional network interface attachments on these instances, you could attach

[2018-08-31 13:07] sellers commented on #64751
Can someone share why you can't do 👍
[code]
Is there a way to set map values (e.g. something that is -name: value ; versus something that is  -context: )

[2018-08-31 13:31] childsb opened #68137 "kubernetes FLEX volumes should allow GID / selinux relabel calls from FLEX shell script"
**What happened**:
For some filesystems recursively applying an SELinux label through chcon or the GID permission is expensive (>30 mins in some cases).  There is better strategies for the recursive change and the call should be available through FLEX API.

**What you expected to happen**:
FLEX has a shell script call to label or set GID for a volume.

Notes--

The fix should be backwards compatib

[2018-08-31 13:37] dims commented on #68020
@cjwagner Can you please help with this request?

[2018-08-31 13:39] chrisohaver commented on #68020
I believe this is already done.

[2018-08-31 13:50] dims commented on #68020
Ah thanks @chrisohaver

Confirmed with https://console.cloud.google.com/gcr/images/google_containers/GLOBAL/coredns?gcrImageListsize=50 and using docker pull below:

[code]

/close

[2018-08-31 13:50] #68020 closed

[2018-08-31 13:50] KptnKMan opened #68139 "Running kube-dns on new 1.10.6 cluster fails"
/kind bug

**What happened**:
On a fresh cluster, unable to run kube-dns latest.
kube-dns is stuck in a crashloop.

**What you expected to happen**:
Kube-dns to run, and work.

**How to reproduce it (as minimally and precisely as possible)**:
- Create new cluster.
- deploy kubedns using: `kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernet

[2018-08-31 13:52] jsafrane opened #68140 "iscsi: Each target is tried only once in case of multipath"
If I have a volume with 3 targets, iSCSI volume plugin tries to log in into each target. If it succeeds with at least one target, it mounts the volume.

I experience login timeouts quite frequently when I drain a node with >20 iSCSI volumes with 3 paths each - these volumes need to be re-attached to different nodes and `iscsiadm --login` sometimes times out  under such load. In the worst case, two

[2018-08-31 14:18] msau42 commented on #68125
https://github.com/kubernetes/kubernetes/pull/67556 is redesigning the volume binder to not make multiple passes through the scheduler when waiting for volumes to finish binding.

But regardless, shouldn't the scheduler retry pod scheduling with exponential backoff?

[2018-08-31 14:19] msau42 commented on #68125
/assign

[2018-08-31 14:25] wojtek-t commented on #68125
Does this PR address this issue then [sorry don't have time to take a deeper look into that].

It used to be that in the past, but recently they changed the scheduler to be more priority-queue based and apparently that was removed (I'm not sure if that was intentional or not).
@bsalamat ^^ - thoughts?

[2018-08-31 14:28] dkoshkin commented on #59372
@liggitt Im seeing the same behavior as @seh and @stealthybox

Running a `v1.12.0-beta.0` cluster.
The node is reporting the IP:
[code]
Bu the cert only has the DNS:
[code]

[2018-08-31 14:28] dims commented on #58222
ack. let me clear the milestone then @resouer

/milestone clear

[2018-08-31 14:29] jmcmeek commented on #67659
I think what I see in 1.11 as an easily reproducible problem is different that what was reported in #67913

In my 1.11 single node kubeadm cluster I changed apiserver and kubelet logging to `--v-10`.  I had a single pod running throughout the exercise. It should not have had issues like trying to exec to a container that was still starting and I do not see any evidence of panics.

This is first re

[2018-08-31 14:31] msau42 commented on #68125
Yes, this particular issue of volume binding retrying will be addressed by #67556

[2018-08-31 14:38] liggitt commented on #59372
what are your kubelet startup arguments?

[2018-08-31 14:38] shyamjvs commented on #50907
With scalability presubmits setup (for different scales) both blocking and optional ones that can be triggered using a bot command on a PR, I think this issue can now be closed.
More details here - https://github.com/kubernetes/community/blob/master/sig-scalability/processes/formal-scalability-processes.md#implementation--pre-submit-phase

[2018-08-31 14:38] #50907 closed

[2018-08-31 14:39] msau42 commented on #67631
Typo in your json: volume => volumes

[2018-08-31 14:40] dlamotte commented on #67659
@jmcmeek Yeah, agreed.  There might be two issues here (or this issue and #67913 are indeed different).  I have seen those `write: broken pipe` messages as well.  We're working through cleaning up our code to remove polling `kubectl exec`'s before the container starts and we'll see if it continues to rise.

In our cluster, we are seeing it consistently.  Rising to around 40k `fd`s open in kubelet

[2018-08-31 14:42] liggitt commented on #59372
when the kubelet generates the serving certificate itself, it is a self-signed certificate and TLS verification against it will always fail. whether it includes an IP SAN is secondary to the fact that it is a self-signed certificate and would not be trusted by anything verifying TLS connections to it against a configured trust bundle.

also, the `--rotate-certificates` flag only enabled rotation o

[2018-08-31 14:43] msau42 commented on #67631
Although it's strange, validation should have failed [here](https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/pkg/apis/core/validation/validation.go#L2253:1) because the volume reference in volumeMounts should have not been found in the volumes array (which is empty in this case due to the typo)

[2018-08-31 14:50] msau42 commented on #67814
@kubernetes/sig-storage-bugs

@jsafrane do you see any problem with setting group execute for fsgroup?

[2018-08-31 14:55] msau42 commented on #66387
You need to delete the nfs-clients before you delete the nfs-server otherwise client unmount will hang.

[2018-08-31 15:02] anash28 commented on #29540
Similar to @31bbb , I am experiencing this issue while using weave, However the k8s-dashboard has restarted 2569 times
[code]

[2018-08-31 15:06] lkoba opened #68142 "GKE node preemption leaves pods unreachable"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When a GKE node is preempted, some pods are left with an unrouteable IP.

**What you expected to happen**:
When a GKE node is preempted, pods are restarted/recreated/rescheduled/etc and they continue working normally.

**How to reproduce it (as minimally and precisely as possible)**:
I have already reported this issue on G

[2018-08-31 15:12] lkoba commented on #68142
/sig bugs
/sig network

[2018-08-31 15:31] jtuttle commented on #24668
@smarterclayton Did you ever find the exec websocket docs? I've searched through [pkg/kubelet](https://github.com/kubernetes/kubernetes/tree/master/pkg/kubelet) but I don't see anything relevant. Thanks.

[2018-08-31 15:37] printfcoder commented on #37922
China:

1.
[code]
2.
[code]
3.
[code]

[2018-08-31 15:39] guineveresaenger commented on #68115
@lavalamp @deads2k - friendly reminder that Code Freeze is next week; if this is critical enough for 1.12 it needs   to be triaged accordingly.

[2018-08-31 15:44] GregHila commented on #50898
Tagging EBS volumes on a PVC would be a much needed feature for us too. I would like to see the above mentioned  PR (#49390) be actually re-opened and approved

[2018-08-31 15:49] frouzbeh commented on #67907
Thanks @wpf710 , I'll try that and get back to you if still have problems.

[2018-08-31 16:06] msau42 commented on #65392
@adampl @yastij @nikopen as an interim workaround, is it possible to write an external controller that watches for this node shutdown taint and force deletes the pods on that node?  It's becoming clear that reacting specifically to this node shutdown taint in the attach/detach controller is racey and not going to help statefulset pods, so is not the solution we want to continue pursuing.

[2018-08-31 16:12] chrisaj commented on #65153
I guess we could try. Maybe we need to add a command-line argument/configuration option to kubelet that would enable this behaviour?

[2018-08-31 16:15] zetaab commented on #65392
@msau42 and if it is external resource, you mean like pod running in kubernetes? How we can instruct everybody to install it? Or new controller inside kubernetes?

[2018-08-31 16:19] msau42 commented on #65392
Yes, it can be run as a pod in kubernetes. The distro/provider would need to provide instructions on how to run it.

It would be a similar issue if we alpha gated a workaround in-tree.  You would need to instruct users to enable the feature gate.

[2018-08-31 16:25] #62065 closed

[2018-08-31 16:54] dashpole commented on #68062
That probably means it is running the e2e_node tests locally (on your machine), as e2e_node tests don't run on existing clusters

[2018-08-31 16:59] shyamjvs commented on #59567
I've sent out https://github.com/kubernetes/kubernetes/pull/68143 as a simple strategy to delete image right after startup.

[2018-08-31 17:01] Nowaker commented on #30656
There seems to be a rebase-needing unfinished PR for this feature: https://github.com/kubernetes/kubernetes/pull/59092. Is there anyone who could pick it up and finalize? CC @louyihua

[2018-08-31 17:04] yastij commented on #65392
@msau42 @liggitt @saad-ali - Do we want to fix this for 1.12 ? If yes we can file an exception for this and start considering a taint based eviction design.

[2018-08-31 17:18] jingxu97 commented on #65392
Thanks for all the discussion. The fix I proposed in this comment https://github.com/kubernetes/kubernetes/issues/65392#issuecomment-417509512 is NOT a force detach actually.
When node is tainted with "shut down", we are sure that the mounts are gone and containers are no longer running. It is safe for node controller to mark container status and remove VolumeInUse information from node status (no

[2018-08-31 17:39] caesarxuchao commented on #67134
@davidbalazs did you find the root cause in your set up yet?

[2018-08-31 18:14] gnufied commented on #65392
This may be problematic for stateful sets. Lets say a pod backed by stateful sets is running on node X. The node is shutdown and is tainted. The pod's containers are marked as "NotRunning" and volume gets detached from node X.  Now when node X, does come back - the pod backed by stateful set will no longer be able to run on it. afaict - there will be no new events related to pod and hence attach/d

[2018-08-31 18:50] joekohlsdorf commented on #47202
Would anyone be willing to write an operator with a TimezoneAwareCronjobController?
Moving TZ handling into a packaged application would solve the distribution argument that killed first class cronjob support in Kubernetes.

[2018-08-31 18:53] rahulgautam commented on #62772
@soltysh, @ricky1993  can you please take a look at this too - https://stackoverflow.com/questions/52119955/kubernetes-does-not-track-pods-success-count-for-job-completion

For me, Job is never completing when I use higher `parallelism` number like 1600 or so.
I have enough CPU + memory resources available and pods are running fine and exit with proper success status.

[2018-08-31 18:54] brentpearson opened #68146 "kube-dns stops working after random amount of time"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Every time I initialize a new cluster, everything works perfectly for anywhere from 3 days to around a month. Then kube-dns simply stops functioning. I can shell into the kubedns container, and it seems to be running fine, although I don't really know what to look for. I can ping a hostname, it resolves and is reachable, s

[2018-08-31 18:56] brentpearson commented on #68146
/sig network
/area dns

[2018-08-31 18:59] jennybuckley commented on #66368
@mbohlool The relevance is that (I think) it doesn't build the entire swagger spec, only the spec for the dependencies of the provided resource. It is still doing a lot of redundant work, since many of the resources may share dependencies, and it is being built multiple times for each handler, but I don't think it's building the complete openapi spec once per handler.

[2018-08-31 19:05] BenTheElder opened #68148 "flaky test: [sig-scalability] Density [Feature:Performance] should allow starting 30 pods per node using { ReplicationController} with 0 secrets, 0 configmaps and 0 daemons"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The e2e test:
`[sig-scalability] Density [Feature:Performance] should allow starting 30 pods per node using { ReplicationController} with 0 secrets, 0 configmaps and 0 daemons`

flakes with slightly too much CPU usage, eg:
[code]

**What you expected to happen**: I expect PR blocking tests to not be flaking.

**How to rep

[2018-08-31 19:11] neolit123 commented on #67975
here is my take on ownership.

the gce/gke/gci upgrade and upgrade skew jobs are defined and tagged under sig-cluster-lifecycle:
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-cluster-lifecycle/k8s-upgrade-gke.yaml#L86-L110

the tests use GKE as the deployer and **not** any of the tools that sig-cluster-lifecycle maintains.
arguably, the ownership of the jobs needs

[2018-08-31 19:31] gnufied commented on #65392
Just to be clear "making force detach configurable" will do nothing to change logic of volume detachment. It will only cause detach faster when pod is already deleted.

[2018-08-31 19:37] zetaab commented on #65392
@msau42 now when nodes are not deleted anymore from cluster, configuring that detach timeout does not matter. Pods cannot move anymore. The behaviour is this https://github.com/kubernetes/kubernetes/pull/67977#issuecomment-417233035

[2018-08-31 19:57] mkimuram commented on #68097
@msau42

One of the cause of this issue might be that only nfs driver sets FileSizeLarge to [MaxFileSize](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/drivers/in_tree.go#L83).
We will be able to change it to FileSizeMedium as other drivers do, if the root cause of this issue is clear.

I suspect that it is caused by the difference of the nfs backend between dynamic proviso

[2018-08-31 20:04] ddebroy commented on #67342
/assign @ddebroy

[2018-08-31 20:46] msau42 commented on #65392
The previous behavior is that when a Node object gets deleted, the garbage collector will force delete pods on that node.  Now that the Node object is not deleted anymore, there is nothing to force delete pods.  (The node controller will evict pods after 5 minutes of kubelet unresponsiveness, but it is not a force delete).  So this external controller workaround is to mimic that similar behavior a

[2018-08-31 20:49] msau42 commented on #68097
I'm fine with reducing the write size just for this or disable the test for this

[2018-08-31 20:51] mkimuram commented on #68097
@wongma7

Is it possible for nfs external provisioner to utilize containerized nfs server, instead of ganesha?

I'm thinking about moving ```NewNFSServer``` from ```CreateVolume``` to ```CreateDriver``` and share it from all of the volume types.

In that case, how [```startExternalProvisioner```](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/drivers/in_tree.go#L150) will be

[2018-08-31 20:57] Jeeppler commented on #43962
+1 need this feature as well.

[2018-08-31 21:00] neolit123 commented on #68139
/sig network

[2018-08-31 21:01] neolit123 commented on #68133
/sig instrumentation

[2018-08-31 21:13] wongma7 commented on #68097
@mkimuram I want to move the test to use https://github.com/kubernetes-incubator/external-storage/tree/master/nfs-client + NewNFSServer. We can reduce write size etc. in the meantime.

[2018-08-31 21:26] neolit123 commented on #68109
thank you for the report.

`--bind-address` is bound on a security port for HTTPS and this is about security connections.
also if `0.0.0.0` is the value, the api-server will fallback to the address in your default network interface.
e.g. 192.168.0.1.

if you wish to modify `--bind-address` from kubeadm you can pass it to the APIServer the following way:
https://kubernetes.io/docs/setup/independent

[2018-08-31 21:26] #68109 closed

[2018-08-31 21:30] #61641 closed

[2018-08-31 21:38] jingyih commented on #67925
Another not very reader-friendly things in godoc are the comment tags. e.g. `+k8s:deepcopy-gen=package` and `+groupName=example.k8s.io` shows up in https://godoc.org/k8s.io/apiserver/pkg/apis/example. This can be fixed by adding a blank line between the comment tag and package name.

After a discussion with @lavalamp, I am working on a PR to clean up our existing code base. Also, I will investigat

[2018-08-31 21:38] msau42 commented on #65392
I take back my recommendation to make force detach configurable and shorten it.  Because it's going to impact our detach when still mounted safety mechanism even in normal pod termination scenarios.

So with just the controller workaround, the volume will get force detached after 6 minutes of the pod being force deleted.

[2018-08-31 21:44] msau42 commented on #68097
If we plan to remove the test altogether, can we just not support dynamic PV for nfs then?

[2018-08-31 21:48] mkimuram commented on #68097
I just implemented @wongma7 's suggested version. If the cause is ganesha, it wil fix this issue.
I will make a PR, soon.

[2018-08-31 22:04] mkimuram commented on #68097
@msau42

Of course, I will agree to drop dynamic PV for nfs test in this release, if necessary. I understand that we have a lot of things to do before code freeze, and above fix can be in next release.

[2018-08-31 22:28] novaterata commented on #63155
@feiskyer I enabled diagnostics as instructed in your link, but there are no logs for kube-controller-manager

[2018-08-31 22:32] #68126 closed

[2018-08-31 22:32] #64428 closed

[2018-08-31 23:03] Mahendrasiddappa opened #68155 "Please suggest what is the annotation for health check path on load balancer"
how to set health check path for AWS load balancers created by EKS service?

We found annotation for for adding health check interval and protocol, but not for path -
service.beta.kubernetes.io/aws-load-balancer-backend-protocol
service.beta.kubernetes.io/aws-load-balancer-healthcheck-timeout

Please suggest what is the annotation for health check path?

We looked in to the following links -
A. ht

[2018-08-31 23:17] Mahendrasiddappa opened #68156 "Please suggest what is the annotation for health check path on load balancer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
how to set health check path for AWS load balancers created by EKS service?

We found annotation for for adding health check interval and protocol, but not for path -
service.beta.kubernetes.io/aws-load-balancer-backend-protocol
service.beta.kubernetes.io/aws-load-balancer-healthcheck-timeout

Please suggest what is t

[2018-08-31 23:18] #68155 closed

[2018-09-01 00:59] #59670 closed

[2018-09-01 01:07] eroji opened #68160 "Master nodes missing NoSchedule taint and pods are being scheduled on them"
I have a HA master cluster setup where it was initialized using kubeadm. It appears that the NoSchedule taint for them were removed and now there are pods being being scheduled on them which I don't want to run. Is there a way to retaint the nodes so that they serve as master only and not handle any workloads?

[2018-09-01 01:28] spiffxp opened #68163 "use KUBE_BUILD_WITH_COVERAGE directly in kube::golang::build_some_binaries"
/kind cleanup
/sig testing
/priority important-longterm

This is a followup issue to address the "standard build globals" nit on https://github.com/kubernetes/kubernetes/pull/67971/files#r214488996

At the very least I think we shouldn't capture our custom env var.

Also think it'd be worth documenting the assumed variables in a list, similar to
https://github.com/kubernetes/kubernetes/blob/master

[2018-09-01 01:28] mikedanese opened #68164 "Update client client guidelines to recommend reloading tokens"
ref https://github.com/kubernetes/kubernetes/pull/67359#issuecomment-415463989

/sig auth

The minimum supported token lifetime for projected service account tokens is 10 minutes, and renewal occurs at ~80% of token lifetime, so reloading once per minute is sufficient to ensure a reload occurs between renewal and expiration.

If reload from file fails, the last-read token should be used to avoid b

[2018-09-01 02:09] spiffxp commented on #67862
The following GKE jobs are still failing:
- [google-gke#gci-gke](https://testgrid.k8s.io/google-gke#gci-gke)
- [google-gke#gci-gke-alpha-enabled-default](https://testgrid.k8s.io/google-gke#gci-gke-alpha-enabled-default)
- [google-gke#gci-gke-ingress-1.9](https://testgrid.k8s.io/google-gke#gci-gke-ingress-1.9)
- [google-gke#gci-gke-multizone](https://testgrid.k8s.io/google-gke#gci-gke-multizone)
-

[2018-09-01 03:03] Huang-Wei commented on #68160
@eroji kube version? and any featuregate is enabled?

[2018-09-01 03:04] Huang-Wei commented on #68101
/assign

It looks like a bug. I will take a look.

[2018-09-01 03:37] #67103 closed

[2018-09-01 03:41] #66981 closed

[2018-09-01 03:41] #45118 closed

[2018-09-01 05:57] bronger commented on #32542
I think https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#local-ephemeral-storage went full in my case.  However, there is no real debug information and no info about how to increase or reclaim it.  Local ephemeral storage is yet poorly documented anyway.

[2018-09-01 06:39] #62091 closed

[2018-09-01 07:40] #46840 closed

[2018-09-01 08:00] shubheksha commented on #68160
/kind question
/sig scheduling

[2018-09-01 08:12] eroji commented on #68160
@Huang-Wei 1.10.5, no featuregates.

[2018-09-01 09:16] dixudx opened #68170 "flaky test: [sig-scheduling] LimitRange should create a LimitRange with defaults and ensure pod has those defaults applied"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig scheduling
/priority critical-urgent

**What happened**:
The e2e test:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/64829/pull-kubernetes-e2e-gce/51281/
https://k8s-gubernator.appspot.com/build/kubernet

[2018-09-01 09:17] dixudx commented on #68170
/priority critical-urgent

[2018-09-01 09:51] dixudx commented on #68170
/assign

[2018-09-01 10:32] #67561 closed

[2018-09-01 13:46] #62106 closed

[2018-09-01 13:54] andyzhangx commented on #67813
/assign

[2018-09-01 14:46] MikeSpreitzer opened #68172 "apiserver panics "runtime error: index out of range""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Colleagues made an extension server following the example.  I have a cluster that is partially broken.  I have not fully diagnosed all the issues.  But one of them is that the extension server is panicing.  Here is an example:
[code]

The that first line is https://github.com/kubernetes/apiserver/blob/8378ef881d4fa7d3ca5c

[2018-09-01 14:49] MikeSpreitzer commented on #68172
@kubernetes/sig-api-machinery-bugs

[2018-09-01 15:04] linuxman1 commented on #53533
@srevenant I completely agree with you, SWAP is used on Unix and Linux by default since they were born, I think I didn't see an app during 15 years of working on Linux that asks for SWAP to be off.
The issue SWAP is always on by default when we install any Linux distro, so I must set it off before I install K8s and that was a surprise.
Linux Kernel knows well how to manage SWAP to increase perform

[2018-09-01 17:50] #62124 closed

[2018-09-01 18:51] #62127 closed

[2018-09-01 19:07] nikopen commented on #65392
So it seems that:

Shutdown taint + InstanceShutdownByProviderID gives the ability to differentiate between Shutdown and Unresponsive kubelets by properly identifying shutdowns, verifying a 'safe to delete/detach' status.

However, 'ISBPID' is currently implemented only for AWS and Openstack, with the rest likely not making it for 1.12 (?) .
And the above cannot cover bare-metal at all.

As per it

[2018-09-01 19:08] nikopen commented on #65392
@msau42 I'm thinking of the following behaviour for the 'temporary' external controller:

Node shutdown:
1. force delete all pods after a short timeout (e.g. 5 sec)

Unresponsive kubelet:
1. Catch event of unresponsive kubelet
2. Confirm it stays unresponsive several times over X minutes (e.g. poll status every 20 sec for 4 mins)
3. If it's still down after max timeout, force delete all pods assoc

[2018-09-01 19:13] nikopen commented on #65392
For 1.13 and beyond, it would be great to form a team to deliver a solid solution over volume detaching on dropped nodes for the longer term, by handling synchronization/utilizing fencing/other.

[2018-09-01 19:29] Paxa commented on #53515
Can you give example how to make it?
I tried to use kubectl edit and updating from a file - both are rejected

[2018-09-01 19:40] joaocc commented on #60751
/remove-lifecycle stale

[2018-09-01 19:44] spiffxp commented on #67862
/assign @mohammedzee1000

[2018-09-01 22:55] #61092 closed

[2018-09-01 23:56] #57001 closed

[2018-09-01 23:58] #51135 closed

[2018-09-02 00:39] resouer commented on #63842
As #68081 is in, this feature is no on track for 1.12 release.

[2018-09-02 04:13] sayanarijit commented on #68026
Let me take the kubectl cmd part...

[2018-09-02 05:26] blessedwithsins opened #68175 "Minikube doesn't start on CentOS 7.5"
I am trying to run minikube on Windows 10 using VMware Workstation Pro via running a CentOS 7.5 VM. But when I try to start I get below error:

[root@kubernetesexam ~]# minikube start
Starting local Kubernetes v1.10.0 cluster...
Starting VM...
Getting VM IP address...
Moving files into cluster...
Setting up certs...
Connecting to cluster...
Setting up kubeconfig...
Starting cluster components...
E

[2018-09-02 08:04] #61831 closed

[2018-09-02 09:03] sayanarijit commented on #68026
Can someone please review and let me know if I am doing it right? [#68176](https://github.com/kubernetes/kubernetes/pull/68176)

[2018-09-02 09:31] bgopalakrishnan1986 commented on #43962
+1 need the feature ASAP

[2018-09-02 10:11] sahitpj opened #68177 "Using Athens for Go deps"
**FEATURE REQUEST**:

Integrating Athens for go deps will allow for more reliability and stability. Will reduce go dependency related issues to a large extent

[2018-09-02 10:15] sahitpj commented on #68177
/sig enhancement
/sig scalabilty

[2018-09-02 11:50] nikhita commented on #64483
/remove-lifecycle stale

[2018-09-02 12:36] liggitt commented on #68172
Can you provide the full invocation?

[2018-09-02 12:37] liggitt commented on #68172
There are a fair number of places that valid startup or construction arguments are assumed at runtime. It's possible we need to add more validation at startup. The invocation would help narrow down what input might be causing issues

[2018-09-02 12:38] liggitt commented on #68164
/sig api-machinery
as well

[2018-09-02 12:38] redbaron commented on #65885
I like current status quo,  that "cluster" concept  is not leaking into cluster itself, but stays within some levels above , like federation.

[2018-09-02 12:41] #67714 closed

[2018-09-02 12:52] pehlert commented on #63128
@lenartj Would you mind adding a quick comment how you managed to renew the certificate?

[2018-09-02 13:27] jackzhou121 opened #68178 "kubelet cannot start kube-proxy container"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind feature

**What happened**:
kubelet cannot start kube-proxy container after run "kubeadm join " command
the error log:
[code]

**What you expected to happen**:
other work-node works fine after running "kubeadm join" command, but the last worker node failed.
**How to reproduce it (as minimally and precisely as possible)**:
run "kubeadm join" comma

[2018-09-02 14:01] lenartj commented on #63128
@pehlert, if your cluster was brought up with kubeadm then remove the expired certificates (.crt) and execute `kubeadm alpha phase certs all`

[2018-09-02 15:06] Shadowraze228 commented on #66637
@andrewmyhre have the same issue, how did you troubleshoot it?

[2018-09-02 15:14] YueHonghui opened #68179 "normal events of statefulset blocked for long time by resynced events"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We have more than 10000 statefulsets in kubernetes. Every time statefulset controller resyncing, the normal events will be blocked to be processed for a long time(3~5min). After inspecting the metric and code of workqueue, I think the workqueue is filled with all the statefulsets sync event when informer resyncing. So, mo

[2018-09-02 16:12] #43516 closed

[2018-09-02 16:44] pehlert commented on #63128
@lenartj Only on the master node or all nodes? I tried it but still get the error from above

[2018-09-02 16:46] saravanan30erd commented on #68026
I ll work on below packages,

cmd/hyperkube
cmd/kube-apiserver/app
cmd/kube-controller-manager/app
cmd/kube-proxy/app
cmd/kubeadm/app
cmd/kubeadm/app/apis/kubeadm/v1alpha2
cmd/kubeadm/app/apis/kubeadm/v1alpha3
cmd/kubeadm/app/util/config
cmd/kubeadm/app/util/system
cmd/kubelet/app
cmd/kubelet/app/options
cmd/kubemark

[2018-09-02 16:57] lenartj commented on #63128
@pehlert, first of all, are you sure it's an expired cert issue, have you actually checked that some of them have indeed expired? Have you identified which ones? There are a multitude of setups possible, but in general you'd only need to do this on the master node(s). The kubelets can renew their own certs via the master. Also, have you restarted the appropriate Kubernetes components? For example,

[2018-09-02 17:05] thockin commented on #38890
/remove-lifecycle stale

On Sun, Sep 2, 2018, 3:07 AM fejta-bot <notifications@github.com> wrote:

[2018-09-02 18:14] #48396 closed

[2018-09-02 18:26] perryao commented on #67566
@sgnn7 is there a workaround you know of for using code-generator tools in a go mod project?

[2018-09-02 18:38] neolit123 commented on #68178
/sig cluster-lifecycle
/area kubeadm

[2018-09-02 18:39] neolit123 commented on #68177
/sig scalability
/kind feature

[2018-09-02 18:40] neolit123 commented on #68175
/sig cluster-lifecycle

[2018-09-02 22:08] liggitt commented on #68095
The ability to return warnings in general along with successful API responses would be useful. Probably via Warning http headers (xref https://github.com/kubernetes/kubernetes/pull/36325)

[2018-09-02 23:17] sgnn7 commented on #67566
@perryao Yes but it requires a few changes and all the changes are [out-of-tree](https://github.com/conjurinc/code-generator/tree/fix-runners). You can see how we use this [here](https://github.com/cyberark/secretless-broker/blob/master/bin/codegen).

Sadly my PRs for getting some of this in-tree have either been closed or struck in review. Let me know if you have any questions.

[2018-09-03 02:40] gyliu513 commented on #66103
@m1093782566 any plan to fix this?

[2018-09-03 02:42] m1093782566 commented on #66103
xref: #66590

[2018-09-03 02:57] ShualLiu commented on #68146
I encountered the same problem. The kube-dns doesn't work after sometime but I don't find the reason. Maybe you could choose coredns as a replacement.

[2018-09-03 05:44] yue9944882 commented on #68026
we get 800-ish pkgs left to fix. my concern is that if we the fix them package by package, then such pulls will be flooding the repo. can't we possibly make it in larger pulls? the larger the better?

[2018-09-03 06:28] feiskyer commented on #50752
/remove-lifecycle stale

[2018-09-03 06:42] amithapa opened #68186 "AWS T3 instance is missing cloud providers meta information on the node"
/kind bug

**When a node on AWS instance was provisioned of a type EC2 T2 and EC2 T3. The metadata data information for EC2 T3 was missing**:

**Create a kubernetes master on aws using kubeadm of a instance type t3.**:

E.g.

**T2**
[code]

**T3**

[code]
**https://github.com/aws/aws-sdk-go/releases/tag/v1.15.17 (Release v1.15.17 (2018-08-21))**
- The support for t3 instance service api was added

[2018-09-03 06:45] NickrenREN commented on #65392
@msau42 @jingxu97  IIUC,  `shutdown` here means the node is tainted ? What about the volumes in bare-metal nodes which are not managed by cloud providers ?

[2018-09-03 07:27] #57015 closed

[2018-09-03 07:30] feiskyer commented on #63155
@novaterata It should show the logs after about 5-10 mins. If you still can't get the logs, please open a ticket on Azure portal.

[2018-09-03 07:49] arjenvanderende commented on #62013
/reopen

This feature makes sense for us. For one of our applications we have a large number of pods running (> 500) that accept websocket connections. We scale based on the total number of websocket connections. Because of the default threshold of 10%  the HPA refuses to add dozens of pods. For just this application we'd prefer to lower the threshold considerably.

[2018-09-03 07:58] stregatto commented on #45419
Same issue...

Environment:
    Cloud provider or hardware configuration: bare metal
    OS (e.g. from /etc/os-release):Ubuntu 16.04
    Kernel (e.g. uname -a): 4.4.0-109-generic
    Kubernetes: 1.10.5
    Docker: 1.12.3-0~xenial

[2018-09-03 08:11] yastij commented on #65392
@NickrenREN - This has to be done by some external controller.

[2018-09-03 08:19] 1032231418 opened #68189 "Unable to find k8s configuration file."
Hello!
I developed it on Windows, but when I used the interface, I couldn't find the configuration file, and my path was good. Linux development is no problem.
![filenotfounderror](https://user-images.githubusercontent.com/5716348/44975589-7011c200-af95-11e8-8c63-c3c00ede18d3.png)

[2018-09-03 08:26] NickrenREN commented on #65392
So we need a detailed and complete proposal for this.

[2018-09-03 08:36] tao12345666333 commented on #68178
What's your docker version?

Can you check the dockerd status and the daemon's log ?

[2018-09-03 08:47] tao12345666333 commented on #68175
You can try:

[code]

And try to add `--vm-driver` option to `minikube start`.

[2018-09-03 08:57] blessedwithsins commented on #68175
@tao12345666333 I have already tried that and it doesn't work. I tried to install using cloning Kubernetes repo but after i run command "make quick-release", it hung at "cluster/gce/gci/mounter".

[2018-09-03 09:01] soodakshay commented on #48798
https://github.com/kubernetes/kubernetes/issues/48798#issuecomment-395965665

@ChinaSilence Can you explain why we have to use flannel? Can't we do it without flannel?

[2018-09-03 09:03] charrywanganthony commented on #68189
/sig windows

[2018-09-03 09:34] nekufa commented on #42594
Guys, it's not a good idea to break current behaviour. By default delete command was not waiting until everything will be complete. I have a lot of scripts that drops a lot of resources. Now they are working for a very long time. Wait feature is good, but default behaviour change is upsetting

[2018-09-03 11:10] shyamjvs opened #68190 "[Kubemark] Failures in master kubelet trying to start pods"
We recently started observing flaky failures in couple of kubemark jobs:

- https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-500
- https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-100-high-density

E.g failed run - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/16634

The reason seems to be that [kubelet was faili

[2018-09-03 11:13] pehlert commented on #63128
@lenartj It turned out that deleting the kube-apiserver pod was not enough to restart the apiserver for some reason. Although it had been deleted and recreated successfully, the apiserver process / docker container remained untouched, so that it hadn't picked up the new certificates, yet. Using `docker stop` on the apiserver instance successfully restarted it and authorization was successful after

[2018-09-03 11:15] shyamjvs commented on #68190
Changed title, as it seems like kubelet is failing to start all master pods not just apiserver).

[2018-09-03 11:16] 1032231418 commented on #68189
@charrywanganthony  have already been solved      https://github.com/papudatta/kubernetes_kubeadm

[2018-09-03 11:45] #59567 closed

[2018-09-03 11:57] #63397 closed

[2018-09-03 12:09] nikopen commented on #65392
@beekhof if 'wedged' kubelet means unresponsive kubelet, I already gave an answer to that in https://github.com/kubernetes/kubernetes/issues/65392#issuecomment-417880760 - if kubelet  stays unresponsive then pods should migrate elsewhere anyway.

re: network outage, generally, if it's happening then there's bigger problems to attend to.
But if split-brain is the problem case then it should be solv

[2018-09-03 12:10] nikopen commented on #65392
@NickrenREN @msau42  As I see there is much confusion of the shutdown taint, and as per https://github.com/kubernetes/kubernetes/issues/58635#issuecomment-397771924
InstanceShutdownByProviderID is not yet implemented in most cloudproviders, will the taint really make it to 1.12?

An external controller can work for unavailable kubelets regardless of the shutdown taint status (which would make thin

[2018-09-03 12:34] tao12345666333 commented on #68175
Can you try other vm-driver option?

[code]

[2018-09-03 12:39] primeroz commented on #68055
Closing since , after going through the changelog of calico, i should at least upgrade to version 3 before testing again since that version added ipvs mode support

[2018-09-03 12:39] #68055 closed

[2018-09-03 12:44] george-angel commented on #35054
/remove-lifecycle stale

[2018-09-03 13:25] discordianfish commented on #41204
Apparently nobody has time to maintain these. Can we just remove the addon to not trick people into believing this works/is supported/maintained?

[2018-09-03 14:01] sttts commented on #67925
Interesting. I always wondered why we have those empty line. Now I know :)

Compare also https://github.com/kubernetes/gengo/pull/121. The semantics should be the same whether first or second comment. But a warning where it makes sense would be good :+1:

[2018-09-03 14:34] mgdevstack commented on #68062
Thanks for having look on the issue. Issue was due to a missing package "policykit-1" from my system and permission issue. Closing the issue.

/close

[2018-09-03 14:34] #68062 closed

[2018-09-03 14:37] splnanthakumar opened #68193 "kubectl top pod is not working"
@kubernetes/sig-contributor-experience-<group-suffix>
/sig scalability

i have tried "kubectl top pod" command in kubernetes cluster . but it gives the error as follows:

Error from server (ServiceUnavailable): the server is currently unable to handle the request (get services http:heapster:)

Kubernetes cluster info:
Kubernetes master is running at https://**********
Heapster is running at https:

[2018-09-03 14:52] dims commented on #68026
@yue9944882 +1 to slightly larger pulls with related packages. if allow too large then the reviewers will not be able to do a thorough review. we should spread the load among multiple reviewers. (if we allow a really large pull, we will end up with top level reviewers who will face the burden and the PR(s) will just stagnate)

[2018-09-03 15:05] alexjx opened #68194 "kube-proxy ipvs mode does not populate filter table. (merge issue or intentional?)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After setting up kube-proxy, and static routing. The node is not forwarding the ClusterIP of a service.
Services are accessible if the default policy filter FORWARD chain is set to ACCEPT, but not DROP.

**What you expected to happen**:
nodes should be forwarding ClusterIP from external cluster to the correctly Pod IP.

*

[2018-09-03 15:07] alexjx commented on #68194
/sig network

[2018-09-03 15:09] alexjx commented on #68194
Related logging:

[code]

[2018-09-03 15:33] yue9944882 commented on #68026
oh good point. we could put one pkg's change into one commit, and merge all changes under one `OWNER` area into one pull so that it wont spread the load. wdyt? for each pull, we can have hundred-ish lines of change. but it will still be 30~50 pulls i guess? good news is that we can take our time to deal with it, at least before 1.12 😉

[2018-09-03 16:44] dkoshkin commented on #59372
@liggitt I modified the deployment with `--rotate-server-certificates` but I think I might still be missing a flag somewhere as I am still getting:
[code]
And only the client cert is generated `kubelet-client-current.pem`
Also I'm seeing the `csr` but its in `Pending` state
[code]
Where the client csr was `Approved`
[code]

Flag for apisever, controller-manager and kubelet below:
[code]
[code]
[co

[2018-09-03 16:51] dims commented on #68026
@yue9944882 sounds great! please feel free to help make it happen :)

[2018-09-03 16:53] liggitt commented on #59372
Serving certificate approval requires you to provide your own approver. The controller manager doesn't have enough information today to know if the SANs requested by the node are appropriate.

[2018-09-03 17:35] blessedwithsins commented on #68175
@tao12345666333 It's working now although i used VM driver as kvm2. Also, swapoff is required as it didn't start without doing so. Please close this issue.

[2018-09-03 17:43] sttts opened #68197 "Conversion of Unstructured broken in apimachinery"
Follow-up of https://github.com/kubernetes/kubernetes/issues/68035 which uncovered deep issues with Unstructured in apimachinery:

We have conversions to `__internal` in our handlers, e.g.

- create: https://github.com/kubernetes/kubernetes/blob/5f364a0b84669a2dc086a35292db088b912d1c3c/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/create.go#L80
- update: https://github.com/kubernetes/kuberne

[2018-09-03 17:56] nikhita commented on #49465
/remove-lifecycle stale

[2018-09-03 18:31] zetaab commented on #65392
@nikopen https://github.com/kubernetes/kubernetes/pull/67977#issuecomment-416836342 it do exist nowadays in quite many.

azure https://github.com/kubernetes/kubernetes/pull/68033

gce is missing, but other big players do have that

[2018-09-03 18:39] zhukovsd commented on #67869
The problem happens because Kubespray disables Kubernetes mount propagation by default.

In order to fix it, set `local_volume_provisioner_enabled: true` in `k8s-cluster.yml` and redeploy the cluster. Then, reinstall StorageOS.

More details here:
https://github.com/storageos/storageos.github.io/issues/196

[2018-09-03 18:39] #67869 closed

[2018-09-03 18:40] #67738 closed

[2018-09-03 19:08] lenny87 commented on #56903
Try to add
[code]
to your resolv.conf. It will force TCP for DNS lookups and will workaround this issue with ease

[2018-09-03 19:10] dcowden commented on #56903
@lenny87 nice idea, but not supported on all platforms  (unfortunately including alpine, which is common)

[2018-09-03 19:18] lenny87 commented on #56903
Yap, it's supported only on glibc images (debian/ubuntu and so on), but I think it's still good workaround until it will get fixed in kernel conntrack

[2018-09-03 19:46] ryankemper commented on #24225
@laurieboyes If you use selectors, you can do something like this:

`kubectl exec -it "$(kubectl get po -l app=$YOUR_APP_NAME -o name | cut -d '/' -f 2)" -c $YOUR_CONTAINER_NAME -- /bin/sh`

Otherwise you'll need to manually grep, something like this: `kubectl exec -it "$(kubectl get po -o name | grep -o $YOUR_REGEX | cut -d '/' -f 2)" -c $YOUR_CONTAINER_NAME`

[2018-09-03 20:48] jmsaucier commented on #68026
@dims I'm looking at fixing pkg/proxy, and I think I see what @mathspanda was talking about ignoring some rules.

proxy.ProxyProvider is being suggested because golint is saying that it stutters. In that example, I think it's okay renaming it to proxy.Provider, but I could see an example where you would want to keep the stutter if the package that it's declared in uses it heavily.

[2018-09-03 20:55] kcao3 opened #68198 "Configure CoreDNS to use strict-order when quering upstream nameservers"
Hello,

I have a Kubernetes cluster running with version 1.11.2 with CoreDNS version 1.1.13.
Previously we have been using Kubernetes version 1.10 with kubedns, dnsmasq, and sidecar.

Here is an example of CoreDNS proxy plugin where it proxies everything
using the host's resolv.conf's nameservers:
. {
    proxy . /etc/resolv.conf
}

Assuming there are MULTIPLE nameservers entries defined in /etc/r

[2018-09-03 20:59] kcao3 commented on #68198
/kind feature

[2018-09-03 21:42] dims commented on #68026
@jmsaucier sure thing, feel free to propose a PR for switching to gometalinter independently of other patches. We can work through that there.

[2018-09-03 22:42] #55693 closed

[2018-09-03 23:30] dims opened #68201 "Upate import-boss restrictions"
`hack/verify-import-boss.sh` is a tool we use to reduce technical debt around rampant interdepencies between packages in the main k/k repository.

The tool uses a file `.import-restrictions` in some directories that verify-import-boss.sh then uses to check. The syntax for the file is here:
https://github.com/kubernetes/code-generator/blob/master/cmd/import-boss/main.go#L32-L52

We currently have t

[2018-09-03 23:31] dims commented on #68201
/sig testing

[2018-09-03 23:39] dims commented on #68201
Also see longer discussion of how things can be split into multiple repos to gauge why this work is important:
https://github.com/kubernetes/kubernetes/issues/24343

[2018-09-03 23:57] neolit123 commented on #68198
/sig network

[2018-09-04 00:31] felixfbecker opened #68202 "Failed test operation in JSON Patch should return 4xx, not 500 Internal Server Error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Making a PATCH request to a resource (e.g. deployment) with an RFC6902 JSON Patch that contains a `test` operation that is false results in a 500 Internal Server Error with response body
[code]

**What you expected to happen**:
The server should not apply the patch and return a 4xx status code so the client can react (e.g. update lo

[2018-09-04 00:34] felixfbecker commented on #68202
@kubernetes/sig-api-machinery-bugs

[2018-09-04 00:41] tao12345666333 commented on #68175
@blessedwithsins Congratulations.

[2018-09-04 01:00] k82cn commented on #66714
That's great :)

/assign essamhassan

[2018-09-04 01:26] cpwujoewu commented on #68052
hi,
I solve this problem by using 'kubectl drain <node-name>' manually. I think this is just a workaround.

I will write shell scripts to check the cluster status. If there are nodes under utilized and other nodes can accept the deployments, then use kubectl drain to drain the node.
The side-effect is that the cluster will has downtime when draining the node.

[2018-09-04 01:45] CaoShuFeng commented on #68202
/assign

[2018-09-04 01:47] beekhof commented on #65392
@nikopen but how would you arrange that or confirm it took place without being able to talk to the kubelet?

In most cases k8s can spin up replacement Pods regardless, but StatefulSets and Pods with persistent volumes must wait until either kubelet comes back or something somehow confirms that it is safe.  Otherwise there is a very real risk of corruption.

[2018-09-04 02:18] houjun41544 commented on #68050
@kubernetes/sig-storage-bugs, can you have a look at this?

[2018-09-04 02:37] xiegang112 opened #68203 "Using virtual size of the image when image gc may be not accurate"
Hello,

I’m tracking down a issue that the image gc of the kubelet not working, and found that the imageGCManager could only get the virtual size of the image from docker. This means that, the actual freed space could much less than the one we want. Because the shared space is not freed but we calc the freed size of the space according to the virtual one. It this a defect?

[2018-09-04 02:41] xiegang112 commented on #68203
/sig node

[2018-09-04 02:58] jmsaucier opened #68204 "Switch to gometalinter for linting"
This is being created as a result of #68026.

It was brought up because there may be some lint errors that may need to be ignored.

The example that I saw was proxy.ProxyProvider was being flagged as a stutter. That one is fine to be renamed to proxy.Provider, but it's possible that elsewhere in the project, fixing a stutter like that would not make sense because of its use in the package it was d

[2018-09-04 03:00] jmsaucier commented on #68204
/sig architecture
/sig testing

[2018-09-04 04:42] odedpriva commented on #25478
you can do something like that
[code]

you can also add `--dry-run -o yaml` to check validate the service object that will be created.

[2018-09-04 04:45] xiegang112 commented on #68203
I think the root cause is that image gc is not aware of the real disk space. An option to improve this is not use image size from docker but query docker image space when determine if stop the gc.

[2018-09-04 05:07] mkenigs commented on #68201
I'll work on this

[2018-09-04 05:17] yangtea commented on #67856
@ddebroy Hi! Yes, I'm able to reach Scalio's gateway 10.8.192.55:443 by scli. The result is following like this:
`#scli --query_all_volumes --mdm_ip 10.8.192.55
Query-all-volumes returned 3 volumes
Protection Domain 9891eb0b00000000 Name: domain1
Storage Pool 7eaadc6500000000 Name: pool1
 Volume ID: 3567f18f00000000 Name: vol-0 Size: 56.0 GB (57344 MB) Unmapped Thick-provisioned
 Volume ID: 356818

[2018-09-04 05:36] thanethomson commented on #67119
We're graphing this at the moment on an hourly basis, will post those charts soon, but in the meantime I thought I'd mention that at first glance there does seem to be a relationship between the number of open files and the number of connections in `CLOSE_WAIT`.

It appears as though all of those connections in `CLOSE_WAIT` are connections to port 10010 (containerd).

[2018-09-04 06:24] feiskyer opened #68209 "azure cloud provider panic because of nil pointer dereference"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When Azure ARM API gets something wrong, kube-controller-manager may panic because of azure cloud provider:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

Create LoadBalancer services on Azure and it may happen when Azure returns something wrong (e.g. DNS rec

[2018-09-04 06:31] juliantaylor opened #68211 "modified subpath configmap mount fails when container restarts"
/kind bug

**What happened**:
When a container uses a configmap which is mounted with the `subPath` option, the configmap is changed and then the container (but not the pod) restarts the mounting of the configmap fails:

[code]

    # change something in the configmap
    kubectl edit extra-cfg
    kubectl exec podname kill 1
    kubectl describe podname

(The pod this happens on consists of multi

[2018-09-04 06:49] juliantaylor commented on #68211
minimal example:

[code]

deploy the pod, edit the configmap, wait for the 30 second sleep to complete and the container to restart, the restart will fail with the error above.

[2018-09-04 06:59] luongvo209 commented on #56289
/reopen I am having this issue

[2018-09-04 07:07] willthames commented on #66432
This bug is actually due to SourceDestinationCheck being true on the EC2 nodes. That is caused because k8s-ec2-srcdst container sometimes crashes due to a bug gathering node information following node deletion - any new nodes created after that crash will see this issue, manifesting in not being able to talk to endpoints only in the *same* subnet.

k8s-ec2-srcdst crash is fixed in https://github.c

[2018-09-04 07:08] #66432 closed

[2018-09-04 07:18] krzysztof-jastrzebski opened #68213 "Horizontal Pod Autoscaler controller can process only 3 autoscalers per second."
BUG REPORT
/kind bug
**What happened**:
I created 800 Horizontal Pod Autoscaler and 800 Deployment.
**What you expected to happen**:
 HPA controller should update HPAs every 30 seconds but it updates HPAs every 250s
**How to reproduce it (as minimally and precisely as possible)**:
Create cluster with 800 HPAs and Deployments.

**Environment**:
- Head K8s version
- Cloud provider or hardware config

[2018-09-04 07:40] sttts commented on #68197
The very same issue we found with UPDATE on scale subresources shows up in a simple GET: the object from storage is not converted. Hence, as soon as we switch to version specific validation, we validate the wrong object version against the schema.

[2018-09-04 07:58] frittentheke commented on #62078
Even the Kubernetes own cluster-autoscaler would benefit from a simple way to get i.e. the AWS_REGION - https://github.com/kubernetes/autoscaler/issues/1208

[2018-09-04 08:06] dylanrhysscott commented on #62204
I'm hitting the same issue on this one and it's causing cluster networking issues - Kubernetes deletes a shared SG which breaks my API access - I have added the shared ownership tag to the security group but it is still removed. Any ideas?

[2018-09-04 08:08] Pingan2017 commented on #68193
you should install the heapster firstly
[code]

[2018-09-04 08:13] pires commented on #67119
@thanethomson are you using cri-containerd?

[2018-09-04 08:16] WegDamit commented on #13358
When using docker edge on mac with kubernetes and hyperkit there is no IP for the host,
see [Docker Docs](https://docs.docker.com/docker-for-mac/networking/#use-cases-and-workarounds)

so when accessing an external  Service via endpoint (eg. a db) on the host the workaround  for docker is using "host.docker.internal",
which is not possible in k8s as the endpoint definition only accepts an IP.

Wha

[2018-09-04 08:27] wpf710 commented on #68193
I test it with my V1.10.5 ,since I don't have 1.10.3,
it works

what's the output of `kubectl get po,svc -n kube-system`

[2018-09-04 08:49] x13n commented on #65266
/reopen

[2018-09-04 09:28] FengyunPan2 commented on #30189
@yujuhong
Can you tell me the PR which watches configmap/secret? I want to find the PR.

[2018-09-04 09:41] tristanveness commented on #43962
I ran into this issue myself today. Made me very sad *sniffle*. Especially considering `kubectl proxy` has all the bells and whistles already :(
[code]

To workaround this feature not yet being implemented/merged... you can port-forward your already port-forwarded port using `socat` in another terminal...

```socat tcp-listen:9222,fork tcp:127.0.0.1:9223```

^ where e.g. 127.0.0.1:9223 is the inte

[2018-09-04 09:42] discordianfish commented on #62078
@frittentheke Yes, that's what brought me here. Though I feel like this should be part of the downyard API, so personally would close this issue and focus on #40610 instead.

[2018-09-04 09:49] dims commented on #68201
@mkenigs please specify which files you are going to look at (or create), so others can pick up other work.

[2018-09-04 09:54] mwielgus commented on #68213
Closing as not that informational. Will open a new one that clearly explains the problem.

[2018-09-04 09:54] #68213 closed

[2018-09-04 09:55] mwielgus opened #68217 "Use informer cache instead of active pod gets in HPA controller"
/kind bug

**What happened**:

Currently HPA code issues a GET request to API server every time it analyses pods to be scaled. This introduces significant latency and reduces HPA controller throughput.

**What you expected to happen**:

Use informers local cache to reduce API server load and improve performance.

https://github.com/kubernetes/kubernetes/blob/5b355f5d408c80234b4016a84b4d7c8159db21d

[2018-09-04 09:59] drewwells commented on #20227
/remove-lifecycle stale

[2018-09-04 10:03] adampl commented on #65392
@beekhof If we know that a node is shut down (tainted), then it is always safe to detach, though the kubelet is not responding. The unresponsive kubelet (while the node is not tainted as shut down) is a different case that needs a more sophisticated solution. IMHO these two cases should be fixed separately, so the first is not blocked by the second.

[2018-09-04 10:34] xmik commented on #42885
/remove-lifecycle stale

The bug is still valid for:
[code]

[2018-09-04 10:51] Baitanik commented on #60884
I am also having same issue .. t/kubelet.go:451: Failed to list *v1.Service: Get https://localhost:8443/api/v1/services?limit=500&resourceVersion=0: dial tcp [::1]:8443: getsockopt: connection refused
Sep 04 21:48:16 ddeVM kubelet[4000]: E0904 21:48:16.747740    4000 reflector.go:205] k8s.io/kubernetes/pkg/kubelet/kubelet.go:460: Failed to list *v1.Node: Get https://localhost:8443/api/v1/nodes?fie

[2018-09-04 11:19] #66887 closed

[2018-09-04 11:19] #68209 closed

[2018-09-04 11:19] #40224 closed

[2018-09-04 11:47] discordianfish commented on #17626
fwiw, I've tried adding the tags to my controller nodes securitygroup but it didn't help:

[code]

[2018-09-04 12:18] bartekzurawski commented on #67777
@b-m-f I'm currently working on that. Tbh I'm almost done. Fixing unit test right now.

[2018-09-04 12:19] deads2k commented on #68197
That's a significant problem.  Adding @liggitt and @erictune in case they have ideas.

[2018-09-04 12:31] thanethomson commented on #67119
Yes that's what's strange to me. We've configured our `kubelet` to use the containerd socket. I also can't imagine why it'd be a containerd issue. See our `kubelet` config below:

[code]

Also, see the attached image for what it looks like when I do a `netstat | grep CLOSE_WAIT`.

![k8s close_wait fds](https://user-images.githubusercontent.com/212999/45031405-09e97580-b04f-11e8-9dda-ddd29ac728b6.p

[2018-09-04 12:32] lystor commented on #62841
Please don't. I have the exact issue.
Kubernetes 1.10.3

[2018-09-04 12:41] foxish opened #68220 "GKE tests failing in release-1.11-blocking"
Cluster creation failing in the following tests:
- gce-cos-1.11-alphafeatures
- gke-cos-1.11-default
- gke-cos-1.11-slow
- gke-cos-1.11-serial
- gke-cos-1.11-ingress
- gke-cos-1.11-reboot
- gke-device-plugin-gpu-1.11

This needs to be fixed in order to unblock releasing 1.11.3

cc @krzyzacy @BenTheElder @kubernetes/sig-gcp-test-failures @kubernetes/sig-testing

[2018-09-04 12:49] schweikert opened #68221 "kubectl --server using certificate-authority-data from wrong context"
/kind bug

**What happened**:
I logged in to a gcloud GKE cluster, and then executed an unrelated kubectl command towards our on-premise cluster like this:

    kubectl --token=xxx --server=https://out-cluster.our-domain apply -f myresource.yaml

**What you expected to happen**:

kubectl to work normally (instead of producing a x509 certificate error).

**How to reproduce it (as minimally and prec

[2018-09-04 12:55] schweikert commented on #68221
/sig cli

[2018-09-04 13:00] rfevang commented on #56371
We were just bitten by this as well. We have a service defined (Kafka) that also needs to be individually addressable. After a client connects, the container gives the client the addresses to the other containers, so to enable this the container definition declares hostPort.

The service is exposed outside the cluster using an internal load balancer:
[code]
It was a real surprise that this caused

[2018-09-04 13:31] alfanse opened #68222 "kubectl cp does not accept wild cards"
**FEATURE REQUEST**
/sig cli

As a paranoid admin,
I would like to take a manual backup of all /*.xml files in a folder (think Jenkins)
so that I can preserve a snapshot of the config

e.g. `kubectl cp <namespace>/$jenkins_master_pod:/var/jenkins_home/*.xml .`

**Environment**:
- Kubernetes version:

Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.2", GoVersion:"go1.9.6", Com

[2018-09-04 13:34] inish777 commented on #68211
I have the same configuration and could reproduce this bug

[2018-09-04 13:34] mbohlool commented on #68197
How does the test passes then? both Nop converter and webhook converter convert on read and write.

[2018-09-04 13:37] mbohlool commented on #68197
get test for nop converter: https://github.com/kubernetes/kubernetes/blob/d691748aa64376e4b90ae2c01aca14d1be2b442c/staging/src/k8s.io/apiextensions-apiserver/test/integration/basic_test.go#L163

I am not saying there is no problem, just saying conversion is happening during the life of request.

[2018-09-04 13:38] saravanan30erd commented on #68201
@dims @mkenigs  I ll take the below packages
[code]

[2018-09-04 13:40] mkenigs commented on #68201
./cmd/kubeadm/.import-restrictions
./pkg/.import-restrictions
./pkg/api/testing/.import-restrictions
./pkg/client/clientset_generated/.import-restrictions

[2018-09-04 13:50] kcao3 commented on #68198
/area dns

[2018-09-04 13:51] liggitt commented on #68197
One possibility is that conversion is happening on output to the rest response, not on input to the in-memory object the handler deals with. The in-memory version the handler has may be whatever version was read from storage (which isn't even necessarily the current storage version)

If that is the issue, that would cause problems for things like "patch", which expect the in-memory version the han

[2018-09-04 13:56] msau42 opened #68223 "Gce PD doesn't use mount options"
**Is this a BUG REPORT or FEATURE REQUEST?**:

@kubernetes/sig-storage-bugs

**What happened**:
Plugin returns true for SupportsMountOptions but doesn't actually use them when mounting

**What you expected to happen**:
It should either return false or actually use them.

[2018-09-04 13:57] angegar commented on #45419
Have the same issue after migrating to kubernetes 1.10.3.

Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.5"
Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3"

[2018-09-04 14:04] rfevang commented on #56371
Adding
[code]
to the service definition seems to have worked. It's a little surprising that isn't implied by the internal annotation, but I guess that might be a GKE issue?

[2018-09-04 14:09] sttts commented on #68197
This ^^ happens.

And @liggitt mentions PATCH, @deads2k also just brought that up: if we start with webhook conversion, very probably this bug leads to broken CRUD for non-storage versions.

[2018-09-04 14:11] rcarmonad commented on #58988
I have the same issue. Turned of the swap and export the env.
Not working.

[2018-09-04 14:15] liggitt commented on #68197
If the crux of the issue is the in-memory version the handlers are dealing with, my first thought would be to make that part of the input to createHandler/updateHandler. The native handlers would indicate they wanted the in-memory object to be `schema.GroupVersion{Group: gv.Group, Version: runtime.APIVersionInternal}`, and the CRD handlers would indicate they wanted the in-memory object to be `sch

[2018-09-04 14:19] felixfbecker opened #68224 "API server should return 4xx for invalid path in JSON Patch, not 500 Internal Server Error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
If you make an RFC6902 JSON Patch request to the server that contains an operation with an invalid `path`, the server returns 500 Internal Server Error with response
[code]

**What you expected to happen**:

400 Bad Request seems the most appropiate here:

https://tools.ietf.org/html/rfc5789#section-2.2

**How to reproduce it (as mi

[2018-09-04 14:25] felixfbecker opened #68225 "API Server should return 4xx for JSON Patch operation that is not allowed instead of 200"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
If you make an RFC6902 JSON Patch request to the server that contains an operation that is not allowed, for example adding an arbitrary property to a deployment.
The server returns the unchanged resource with a 200 OK.

**What you expected to happen**:

200 OK signals that all operations as stated by the client were applied successf

[2018-09-04 14:26] zenglian opened #68226 "interactive CLI shell for kubectl"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Type `kubectl ...` commands in bash shell, there is no auto-complete.

**What you expected to happen**:
- type `kubectl` in a OS shell (e.g., bash), a shell opens (like spark-shell)
- `kubectl` is omitted for every command
- **auto-complete**   e.g., when you type a space, a dropdown list of `apply|create| delete|get...` etc is disp

[2018-09-04 14:26] felixfbecker commented on #68224
@kubernetes/sig-api-machinery-bugs

[2018-09-04 14:27] felixfbecker commented on #68225
@kubernetes/sig-api-machinery-bugs

[2018-09-04 14:33] sttts commented on #68197
We are sure. We have distinc storage and handler scope objects even today. They are completely indepentently constructed (https://github.com/kubernetes/kubernetes/blob/5b82745cafec1b8fb0d767fc33fa4609354d2cc0/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go#L429)

Both ways would work I expect. I don't have a strong opinion about either way, maybe tending slightly

[2018-09-04 14:39] cjohansen opened #68227 "Service annotations for AWS ELB randomly does not "take""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Defined the nginx ingress controller service like so:

[code]

**What you expected to happen**:

A new ELB with TLS certificate on port 443, no TLS certificate on port 80, and access logs sent to S3 bucket "my-bucket".

The load balancer is created, TLS certificate is attached as expected, no access logging is configured

[2018-09-04 14:39] dims commented on #68211
/sig storage
/priority important-soon

[2018-09-04 14:48] cjohansen commented on #68227
@kubernetes/sig-aws-bugs
@kubernetes/sig-api-machinery-bugs

[2018-09-04 15:03] #65021 closed

[2018-09-04 15:06] inish777 commented on #68211
Using findmnt on node with test-pod I can see
[code]
Updated configmap is actually placed at ```/var/lib/kubelet/pods/3dc49ca4-b046-11e8-978a-0e51a1d2416a/volumes/kubernetes.io~configmap/extra-cfg/..2018_09_04_13_31_59.038960565/extra.ini```

[2018-09-04 15:10] DirectXMan12 commented on #68217
/priority important-soon

[2018-09-04 15:38] chrisohaver commented on #66432
@willthames, Thanks for following up!

[2018-09-04 15:55] neolit123 commented on #68226
/sig cli
/kind feature

[2018-09-04 15:57] dims opened #68231 "update doc.go in staging/ repositories"
- Look at one of the directories under staging/src/k8s.io/ (Please don't pick more than one directory for one PR as it will cause issues for reviewers)
- Find all the files named `doc.go` (example find staging/src/k8s.io/client-go/ -name doc.go)
- See the following link it has a `// import "k8s.io/client-go/tools/remotecommand"` this tells tools how this package needs to be imported. So we should

[2018-09-04 16:07] kfox1111 commented on #65153
Seems to me it is always the correct behaviour? Would we need a config option then?

[2018-09-04 16:43] tpepper opened #68234 "in-tree cloud provider README needs updated"
The https://git.k8s.io/kubernetes/pkg/cloudprovider/README.md needs updating to be in line with community agreed trajectory for the movement of cloud provider code out of k/k.  For example the current statement:

[code]

This statement is approximately 16 months old and implies there is still ambiguity, where there is now a much more clear plan which should be clearly communicated to those who mig

[2018-09-04 16:45] dims opened #68235 "master/staging/README.md is out of date"
List of directories in:
https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io

does not match the list here:
https://github.com/kubernetes/kubernetes/tree/master/staging

/good-first-issue

[2018-09-04 16:56] andrewsykim commented on #68234
Thanks for the reminder Tim, sorry this fell off my radar, will put together a PR today :)

[2018-09-04 16:57] msau42 commented on #64781
https://github.com/kubernetes/kubernetes/pull/66884 makes it so that you can implement MountDevice without Attacher.  However, it does not separate Attacher from MountDevice, as we couldn't find a use case for the other way around.  Also, it turns out, that the CSI Kubernetes plugin still has to implement the Attacher and MountDevice interfaces regardless of what the underlying driver supports.

[2018-09-04 17:00] spiffxp commented on #68220
related: https://github.com/kubernetes/kubernetes/issues/67862

[2018-09-04 17:00] caesarxuchao commented on #67134
Please reopen if you still have trouble mutating the deployment.

[2018-09-04 17:00] #67134 closed

[2018-09-04 17:11] krzyzacy commented on #68220
hummm? `ERROR: (gcloud.container.clusters.create) ResponseError: code=503, message=The service is currently unavailable` looks like something's borked on Monday.

/assign @dashpole
(assign to dev oncall to take a look here)

[2018-09-04 17:16] dashpole commented on #68220
ack.  I am taking a look.  Will post updates here

[2018-09-04 17:29] spiffxp commented on #67862
The following tests are failing across google-gke, google-gke-staging, and google-gke-prod
- [google-gke#gci-gke](https://testgrid.k8s.io/google-gke#gci-gke)
- [google-gke#gci-gke-1.10](https://testgrid.k8s.io/google-gke#gci-gke-1.10)
- [google-gke#gci-gke-1.8](https://testgrid.k8s.io/google-gke#gci-gke-1.8)
- [google-gke#gci-gke-1.9](https://testgrid.k8s.io/google-gke#gci-gke-1.9)
- [google-gke#g

[2018-09-04 17:50] chenrui333 opened #68240 "`--dry-run` did not catch cannot capture "targetAverageUtilization and targetAverageValue cannot co-exist issue""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When deploy `HorizontalPodAutoscaler` object, I have met this error:
[code]

But the validation seems working fine:
[code]

**What you expected to happen**:
Expecting the validation throws the same error

**How to reproduce it (as minimally and precisely as possible)**:
Create a `HorizontalPodAutoscaler` yaml file with bo

[2018-09-04 17:51] chenrui333 commented on #68240
/sig cli

[2018-09-04 18:08] kcao3 commented on #68198
policy sequential is what I was looking for.
. {
    proxy . /etc/resolv.conf {
        policy sequential
    }
}

[2018-09-04 18:08] #68198 closed

[2018-09-04 18:15] liggitt commented on #68240
client side dry run does not (and can not) run server-side validations.

ability to run server-side dry-run is in progress, but will likely require a different flag

cc @apelisse

[2018-09-04 18:18] liggitt commented on #68221
That is the specified behavior. Setting --server overrides the url, but maintains the rest of the data read from the current context. If you want to use a different cluster definition, specify `--cluster`

/close

[2018-09-04 18:18] #68221 closed

[2018-09-04 18:28] chenrui333 commented on #68240
I see, that makes sense.

[2018-09-04 18:30] guineveresaenger commented on #68197
@sttts @liggitt since Code Freeze is _today_, this will need to be of `priority/critical-urgent` by tomorrow, or it will have to be dropped from the milestone. Please evaluate.

cc @lavalamp @deads2k

[2018-09-04 18:35] apelisse commented on #68240
Orthogonal-ly, is that a "oneof" problem?

[2018-09-04 18:42] davidz627 commented on #64635
/remove-lifecycle stale

[2018-09-04 18:46] davidz627 commented on #62561
/remove-lifecycle stale

[2018-09-04 18:53] msau42 commented on #64604
/remove-lifecycle stale

API redesign is being worked on

[2018-09-04 18:56] davidz627 commented on #68223
/assign

[2018-09-04 18:58] msau42 commented on #65392
Unresponsive kubelet is already handled by the node controller, which evicts pods (not force delete) after 5 minutes.

I don't think node shutdown can be 100% guaranteed to be safe to detach a volume, which is why I think force deleting a pod after a short timeout is unsafe.  Node shutdown is only a temporary state.  What if the node is just rebooting and comes back up quickly?

[2018-09-04 18:59] deads2k commented on #68197
/priority critical-urgent

[2018-09-04 19:00] davidz627 commented on #64781
/close
due to @msau42 comment

[2018-09-04 19:00] #64781 closed

[2018-09-04 19:00] gnufied commented on #68223
That is very weird. I rememeber making a demo of it. :(

[2018-09-04 19:01] guineveresaenger commented on #64530
@dashpole @mtaufen @dixudx Code Freeze is today. For this issue to remain in the 1.12 milestone, it needs to be of `priority/critical-urgent`. Please decide if you want to keep it in the milestone and are able to fix it before end of release.

cc @dchen1107 @derekwaynecarr

[2018-09-04 19:07] mestery commented on #59154
I'm very much interested in this as well, just curious on it's current status.

[2018-09-04 19:07] guineveresaenger commented on #68197
/remove-priority important/soon

[2018-09-04 19:08] guineveresaenger commented on #68197
/remove-priority important-soon

[2018-09-04 19:13] guineveresaenger commented on #65392
@msau42 @beekhof @verult

This issue needs to be of `priority/critical-urgent` to remain in the 1.12 milestone. Can you please verify and triage?

cc @childsb @saad-ali

[2018-09-04 19:16] schweikert commented on #68221
@liggitt thanks for the tip and sorry for the noise. I guess I should have asked first on the slack channel or something.

[2018-09-04 19:18] itamarh commented on #65392
@msau42 if the kubelet is not responsive, how can pods be evicted from the nodes to not continue and write to the storage and corrupt it if used by another pod on another node?

a node shutdown shouldn't release the PV/PVC. a node known to have been shutdown should allow to force delete the pod, releasing the storage?

[2018-09-04 19:21] luxas opened #68243 "The openapi generation should be distinct from API type violation checking?"
Right now, if you want to get a k8s type checked for API violations (right now only checking that the struct field name in `CapitalCase` matches the json name in `camelCase`), you must register the API types for openapi generation with the `// +k8s:openapi-gen=true` tag in a `doc.go` file. For the use case of ComponentConfig types (ref: kubernetes/community#2354), that aren't served by an API serv

[2018-09-04 19:29] luxas opened #68244 "Testing plan for ComponentConfig types"
/kind cleanup

As part of kubernetes/community#2354, it is stated that we need a set of tests for each set of types. Some high-level examples:
 - Roundtrip testing with fuzzing (testing conversions)
 - Defaulting unit tests
 - Validation unit tests
 - Standardized naming and API group setup testing (unit tests for the ComponentConfig conventions)
 - API group naming (`*.k8s.io`), type field naming

[2018-09-04 19:29] liggitt commented on #68172
@jpbetz @gyuho can you comment on the expected responses from a compaction API call to etcd? the assumptions made by https://github.com/kubernetes/apiserver/blob/8378ef881d4fa7d3ca5c5e7e5309592ec69b11e4/pkg/storage/etcd3/compact.go#L148 are not valid in some cases

[2018-09-04 19:33] dashpole commented on #67862
/cc

[2018-09-04 19:39] luxas commented on #57618
This has now been fixed with https://github.com/kubernetes/kubernetes/pull/67469 :tada:

[2018-09-04 19:39] #57618 closed

[2018-09-04 19:43] guineveresaenger commented on #68035
@sttts @roycaihw this issue needs to be priority `critical-urgent` for it to remain in 1.12 milestone. Please check and triage.

cc @lavalamp @deads2k

[2018-09-04 19:44] deads2k commented on #68035
/priority critical-urgent

critical to CRD conversion

[2018-09-04 19:47] derekwaynecarr commented on #64530
removing from the milestone, we can do this update after 1.12.

[2018-09-04 19:50] guineveresaenger commented on #68035
/remove-priority important-soon

[2018-09-04 19:51] deads2k commented on #68115
@cduchesne This isn't a regression (1.11 had it), but it's a big enough bug that I'd take a fix for it in 1.12.

I think that a fix should take the form of fixing the `finalURLTemplate()` to handle cases where the abspath is set.  That would fix it for all future callers instead of just a one off for this client.  That method is only called for metrics and our api paths follow a very fixed format.

[2018-09-04 19:55] nikopen commented on #65392
@msau42 differentiate between shutdown and reboot on the cloudprovider level, if it's not done already, i.e. go the cloudprovider way.

Give the shutdown taint only when a node has been issued a clear 'shutdown' signal
or
Poll the VM's status for 1m. It shouldn't be in 'Shutdown state' for more than that when rebooting.

A controller observing the shutdown taint then issues a node drain, triggerin

[2018-09-04 19:58] msau42 commented on #65392
@guineveresaenger this is not planned to be resolved in 1.12

@nikopen what I mean is that you will always have a window where the node can come back up from a shutdown state.  Not just a reboot, but the user can also power it back on.  So whatever timeout value we choose won't be race free.

[2018-09-04 19:59] msau42 commented on #66376
It looks like the latest run on 9/1 has passed.

[2018-09-04 20:02] PatrickLang commented on #67964
does this overlap with https://github.com/kubernetes/kubernetes/pull/60848?

[2018-09-04 20:03] msau42 commented on #65392
To clarify, here is a sequence that demonstrates the race with force deleting the pod:

1. VM gets shutdown
2. Shutdown taint gets added to node.
3. Controller sees the shutdown taint on the node.
4. VM comes back online and starts running pods again
5. Controller force deletes pods on nodes
6. AD controller detaches volumes while container still has them mounted.

[2018-09-04 20:35] BenTheElder commented on #66649
/cc
These sound like great goal, will try to keep up with this 👍

[2018-09-04 20:50] lavalamp commented on #68197
CRs have no hub (internal) type. Conversion can't happen without distinct source and dest versions.

If the code treats the "internal" type as being the storage version, then of course no conversion will happen on the etcd read.

I was kind of hoping we could find a solution for this without adding an "internal" type for CRs. (Because I would like to remove the internal type for builtins!)

E.g.,

[2018-09-04 21:02] stantonxu commented on #68235
@dims , if nobody has been working on it, can I take this one?

[2018-09-04 21:04] msau42 opened #68246 "Failing e2e: restart kube-controller-manager fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs
@kubernetes/sig-auth-bugs

**What happened**:
Since 8/31 10am, the following test case fails.  It kills kube-controller-manager and waits for it to restart.  However, it seems like kube-controller-manager failed to come back up:
`[sig-storage] NFSPersistentVolumes[Disruptive][Flaky] when kube-controller-manager restarts sho

[2018-09-04 21:06] gyuho commented on #68172
@jpbetz @liggitt The compact logic looks correct.

Was there any restart or snapshot restore?

[2018-09-04 21:08] liggitt commented on #68172
so all non-erroring compaction calls, successful or not, should return a response for which `resp.Responses[0].GetResponseRange().Kvs[0].Version` is valid?

[2018-09-04 21:10] davidz627 commented on #66376
Marking closed as the fixes have been merged and the test runs are now passing
/close

[2018-09-04 21:10] jingyih commented on #67925
The PR for removing comment tags in GoDoc is created: #68245
@lavalamp can you please take a look?

[2018-09-04 21:10] #66376 closed

[2018-09-04 21:10] liggitt commented on #68246
likely https://github.com/kubernetes/kubernetes/pull/64149

/assign @sttts

[2018-09-04 21:14] gyuho commented on #68172
@liggitt

It's only valid, it `Succeeded` is false.

That is, when `clientv3.Compare` condition is evaluated to false, we expect `clientv3.OpGet(compactRevKey),` to be run, so `len(resp.Responses[0].GetResponseRange().Kvs) > 0`.

[2018-09-04 21:17] liggitt commented on #68172
ah, right. so that looks correct to you.

given that the panic *is* occurring, we should probably put range checks in and return an error if we don't see a non-zero length response, but it's concerning if we are seeing a response that should not be possible

[2018-09-04 21:26] neolit123 commented on #66649
@jayunit100

that very reasonable.

@pohly
thank you for working on this.
just saw the sig-testing meeting.

we also need something like viper in the context of kubeadm.
the number of issues and pending PRs is concerning for such a small project like viper. the project is lacking regular maintenance.

i think k8s pretty much needs a homebrew replacement as a library that does exactly the same thin

[2018-09-04 21:29] spiffxp commented on #67862
This is blocking all patch releases, but at the moment we only have an issue open for 1.11.x ref: https://github.com/kubernetes/kubernetes/issues/68220

[2018-09-04 21:43] mikedanese commented on #67975
@awly figured this out and is looking into it

[2018-09-04 22:11] fengpinghu opened #68248 "kubernetes api server fails to make tls connection to the dex server:certificate signed by unknown authority"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kurbernetes is setup with oidc for for authentication. the id provider is CoreOS dex.
I am able to use the token to access the api before the token expired.However the token failed to renew because the kuber api server fails to make tls connection to the dex server.
this is the error:
~$ kubectl  --kubeconfig=.kube/config

[2018-09-04 22:16] fengpinghu commented on #68248
sig/ auth

[2018-09-04 22:56] jpbetz commented on #68172
The issue on the etcd side is https://github.com/etcd-io/etcd/pull/8813#issuecomment-344158430. This was fixed in etcd 3.1.11+ 3.2.10+ and 3.3.0+.

[2018-09-04 23:01] mabushey opened #68250 "Unable to kill pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Used `helm delete istio` to remove istio.

**What you expected to happen**:
Remove all istio resources.

**How to reproduce it (as minimally and precisely as possible)**:
$ kubectl get pods -n istio-system
NAME                                     READY     STATUS        RESTARTS   AGE
istio-galley-6c799667d4-6k568

[2018-09-04 23:05] mabushey commented on #68250
What the #$%@# is a sig label? I feel dumber after clicking on Details and trying to comprehend the garbage echoed
@kubernetes/sig-bug-bugs

[2018-09-04 23:12] stantonxu commented on #68235
One quick question, @dims

While working on it, I find that there are not corresponding repos for the following staging areas. Where should we point them to?

`cli-runtime`
`kube-controller-manager`
`kube-proxy`
`kube-scheduler`
`kubelet`
`sample-cli-plugin`

[2018-09-04 23:16] gtseres opened #68251 "kubectl create job should support passing labels to the pod spec"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**: `kubectl create job` does not have a `--labels` flag.

**What you expected to happen**: `kubectl create job` should support a `--labels` flag, so that labels to the pod(s) can be passed. This can be really handy when we have defined a PodPreset and want the pod(s) created by the Job to use the PodPreset. In order to do

[2018-09-04 23:16] liggitt commented on #68172
Thanks. @MikeSpreitzer what version of etcd are you seeing this with?

[2018-09-04 23:17] gtseres commented on #68251
/sig cli

[2018-09-04 23:26] gtseres commented on #68226
There is something similar to what you are describing that has been implemented [here](https://github.com/cloudnativelabs/kube-shell).

[2018-09-04 23:35] guineveresaenger commented on #65392
@msau42 would you mind removing it from the milestone? I can do it but don't really want to go over anyone's head. :)

[2018-09-04 23:37] verult opened #68254 "Integration tests for CSINodeInfo NodeAuthorizer and NodeRestriction updates"
/kind bug

A NodeAuthorizer and NodeRestriction update was introduced in https://github.com/kubernetes/kubernetes/pull/67684 to restrict node updates to `CSINodeInfo`. However, integration testing proved to be more difficult because the original test suite was not set up to include APIExtensions apiserver, so it wasn't possible to install CRDs. This issue tracks the effort for adding these integra

[2018-09-04 23:37] verult commented on #68254
/sig storage

[2018-09-04 23:45] gnufied commented on #65392
I think, it should be captured in release notes of some sort. I am not sure what is the best way of doing this, but since before this release the default behaviour on Openstack, vSphere and AWS was to detach volumes from shutdown nodes after this release that no longer will be the case. Detach in GCE-PD never worked but was masked by GCE's deployment strategy.  Those who use kops to deploy on AWS

[2018-09-04 23:55] msau42 commented on #65392
@guineveresaenger i don't have milestone permissions

[2018-09-04 23:57] guineveresaenger commented on #64627
@timothysc in order for this to qualify for 1.12 release, it and all related PRs need the label `priority/critical-urgent`. Can you consider and triage?

[2018-09-05 00:02] guineveresaenger commented on #65392
let's see if I do... ;)
/milestone clear

[2018-09-05 00:04] guineveresaenger commented on #65392
nope, I don't.

cc @saad-ali, @childsb, @tpepper  - could you please remove from milestone?

[2018-09-05 00:12] leakingtapan commented on #68026
@dims I sent the pull request to fix pkg/volume/aws_ebs

[2018-09-05 00:12] saad-ali commented on #59015
/milestone v1.12

[2018-09-05 00:12] gnufied commented on #59015
/kind bug

[2018-09-05 00:28] neolit123 commented on #68250
commented here about SIGs:
https://github.com/kubernetes/kubernetes/issues/68252

i think you can delete all pods in the istio namespace like so:
[code]

ref:
https://kubernetes.io/docs/reference/kubectl/cheatsheet

[2018-09-05 00:29] neolit123 commented on #68250
please close the issue if the above solves your problem.

/sig cli

[2018-09-05 00:30] itamarh commented on #65392
VM gets shutdown
    Shutdown taint gets added to node.
    Controller sees the shutdown taint on the node.
    VM comes back online and starts running pods again
    Controller force deletes pods on nodes
    AD controller detaches volumes while container still has them mounted.

@msau42 to avoid the race, controller should not remove the shutdown taint until after force delete. node should not s

[2018-09-05 00:38] msau42 commented on #65392
@beekhof correct, the pod eviction is not a force delete of a pod, so A/D controller will not try to detach because the Pod object won't be updated.  I think in either case, unresponsive kubelet or node shutdown, you need to force delete pods.  The difference is that in an unresponsive kubelet case, we really can't tell if it's safe to detach, and in a node shutdown, you can have a better chance o

[2018-09-05 01:03] neolit123 commented on #68235
/sig architecture
?

[2018-09-05 01:08] neolit123 commented on #68235
@stantonxu that's actually a bit of a problem, because some of the components don't have repos yet.
i think what can be done for now is to list all the components but don't have links on some of them.

the alternative is to wait for the new resos, which might take a while.

[2018-09-05 01:08] saad-ali opened #68260 "Attach Detach Controller Install CRD does not specify validation schema"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The CRD installation in https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/attach_detach_controller.go#L671 does not specify validation.

[code]

@liggitt pointed out lack of validation may cause issues with watchers and listers. So we validation should be added.

/milestone v1.12

**

[2018-09-05 01:37] infinitymittal commented on #55807
@yujuhong You are right about the behavior but, it seems more like it is the "current" behavior rather than "designed".

Hook delivery guarantees clearly mention "at least once" for hooks, including preStop. This also makes sense as it would make preStop similar to postStart which is already giving the same guarantee. Fixing this bug would allow preStop to handle a wide range of real scenarios rat

[2018-09-05 01:48] noqcks commented on #68231
currently working my through `staging/src/client-go/`

Not going to use / assign since there could be a number of PRs for this issue.

[2018-09-05 01:52] gnufied opened #68261 "Ensure that csiDriver informers are synced before use"
We aren't checking if informers are synced before using them - https://github.com/kubernetes/kubernetes/pull/67945#discussion_r215105859

We should ensure that, informers are synced before use in kubelet/attach-detach controller.

/sig storage
/assign

[2018-09-05 01:55] gnufied commented on #59015
/priority critical-urgent

[2018-09-05 02:12] feiskyer commented on #64188
#64862 has been merged now.

/close

[2018-09-05 02:38] ms4720 commented on #45746
+1

[2018-09-05 02:49] tylerauerbeck commented on #68026
I've fixed a few of these, but get the following error when I try to run `update-bazel.sh`:

[code]

Are there any instructions on what I need to setup in order to resolve this?

[2018-09-05 03:49] #64470 closed

[2018-09-05 04:10] stantonxu commented on #68235
@neolit123 , thank you for your reply. I will leave those don't have repos as plain text, and link those which have repos.

[2018-09-05 04:11] zenglian commented on #68226
awsome!

[2018-09-05 04:55] splnanthakumar commented on #68193
kubectl get po, it gives the list of pods which are all running.
svc - command not found

[2018-09-05 04:59] #66087 closed

[2018-09-05 05:12] #61016 closed

[2018-09-05 05:55] yue9944882 commented on #68248
[code]
set `insecure-skip-tls-verify` in ur kubeconfig

[2018-09-05 05:56] alinbalutoiu commented on #64188
@feiskyer has this issue been fixed? Is the CNI getting called only for the infra container?
From what I see, the CNI still gets called for every single container from within a pod:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/helpers_windows.go#L151-L156

[2018-09-05 06:06] feiskyer commented on #64188
@alinbalutoiu See comments https://github.com/kubernetes/kubernetes/pull/64189#issuecomment-395248704. It is required for windows containers.

[2018-09-05 06:08] #66088 closed

[2018-09-05 06:22] shahbour opened #68270 "One Node loose private and external ip address"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig node

**What happened**:
One of my nodes engine02 lose the internal and external IP after some time
[code]
**What you expected to happen**:
[code]
**How to reproduce it (as minimally and precisely as possible)**:
If i do restart for the engine02 node, the ip do show for some time then after a while it just disappear . i found this while

[2018-09-05 06:26] shahbour commented on #68270
@kubernetes/sig-node

[2018-09-05 06:27] tanshanshan commented on #68026
you can find this file in
https://github.com/kubernetes/kubernetes/blob/master/build/root/.kazelcfg.json
@tylerauerbeck

[2018-09-05 06:29] krmayankk commented on #68217
/assign @krmyankk

[2018-09-05 06:30] MikeSpreitzer commented on #68172
The etcd image was quay.io/coreos/etcd:v3.0.17

There was no explicit etcd snapshot restore.  I am not sure how many meanings "restart" might have in this context.  I can not tell you whether the etcd container in the etcd pod was restarted.

[2018-09-05 06:31] krmayankk commented on #68217
/assign @krmayankk

[2018-09-05 06:33] #63567 closed

[2018-09-05 06:35] krokwen commented on #26375
bug still apear

[code]

only pod age changes

[2018-09-05 06:35] pohly commented on #66649
"Lubomir I. Ivanov" <notifications@github.com> writes:

Yes, I was also a bit concerned about that.

In some Viper PR comments it was said that others have already forked
Viper because they needed to host their fixes or enhancements. Perhaps
a maintenance team can be formed for it, either in its current location
or elsewhere?

Using flags is automatic and therefore no extra work.
flag.String("my.n

[2018-09-05 06:36] sttts commented on #68197
No, it doesn't. Logically our code takes the handler scope version as internal, but does not call it `__internal` and keep using the real GVK.  We just have some duct-tape in place which was supposed to make this work, but it seems it never did (and we did not notice because the e2e tests showed the right version being returned by handlers.

IMO this is what we need to integrate cleanly with apima

[2018-09-05 06:40] stieler-it commented on #68270
We are already discussing this problem, but I think this might be the correct place for it. What we currently think know:

- Nodes lose their IPs (internalIP and externalIP)
- Information can come back after time and will immediately come back when kubelet is restarted
- Happens with different cloud providers (so far OpenStack and Azure)
- Seems to be a regression with K8S 1.11.1, does not happen

[2018-09-05 06:41] krmayankk commented on #68217
/unassign

[2018-09-05 06:42] krmayankk commented on #68217
/assign @krzysztof-jastrzebski

[2018-09-05 06:50] shahbour commented on #68270
Some notes:
it did start from version 1.11.0 as you can see in the weave issue above
[code]
I do have `vshpere cloud provider` , i did install it on our own vsphere using kubeadm.

If you need any log i would be happy to share it

[2018-09-05 06:56] stlaz commented on #67387
Resolved by https://github.com/kubernetes/kubernetes/pull/68105.

[2018-09-05 06:56] #67387 closed

[2018-09-05 07:04] sttts commented on #68246
It looks like the kube-controller-manager is started as static pod in the gci e2e test. When it first starts, there is no kubernetes service and the KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT env vars are not set inside the container.

When the kube-controller-manager is restarted, the KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT env vars are set, but the static pod has no service

[2018-09-05 07:33] shahbour commented on #68270
Yes log is full of that, please note that I did restart kubelet

`2018-09-05 07:12  systemctl restart kubelet.service`

[code]

[2018-09-05 08:03] junpark12 opened #68276 "CPU Metrics between hpa and top pod"
Hi I'm confused when i read cpu usage using HPA result and top pod.
When i run top pod, i see the following result.
There are 3 pod which i configured hpa.

NAME                                                              CPU(cores)   MEMORY(bytes)
......
webapp-5699d546d9-2rk2k                                           3m           119Mi
webapp-5699d546d9-5sw67

[2018-09-05 08:10] noam-arad opened #68277 "kubectl describ cronjob doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`kubectl describe cronjob <job-name>`
returns Error from server (NotFound): the server could not find the requested resource
**What you expected to happen**:
Get the full description of the cronjob
**How to reproduce it (as minimally and precisely as possible)**:
Create cronjob
run `kubectl describe cronjob <job-name>`

*

[2018-09-05 08:15] #59629 closed

[2018-09-05 08:38] atoato88 opened #68279 "Wrong message of e2e test "apply set/view last-applied" about kubectl"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubectl/kubectl.go#L805-L807

At e2e test for kubectl above, success scenario is `replicas` key is not contained in result of `view-last-applied`.
But test failure message is `Missing "replicas": 2 in kubectl view-last-applied`, in spite of `replicas` key is c

[2018-09-05 08:46] atoato88 commented on #68279
/sig cli

[2018-09-05 09:03] rpunetha commented on #11690
Any idea what the permissible range is? I tried 2000-65535 and the nodes weren't getting ready. I waited for almost 20 mins. So I had to revert the changes. It took almost 30 mins for the api server to respond this time.
So, is there any restriction on what the ports could be or can we allow 1-65535?