[2015-06-10 01:20] yifan-gu commented on #9502
One workaround I tried before is to enable shippable build for your own fork of the project. Then you can see the results on your own fork.

But sometimes it will generate some spam messages to the k8s' irc channel (Not sure if this is fixed yet)

[2015-06-10 01:24] yifan-gu commented on #9534
subscribe

[2015-06-10 01:24] hurf opened #9546 "kubectl describe outputs unnecessary warning messages."
$ kubectl describe po apache1
    W0610 01:17:14.439254   28086 request.go:302] field selector: v1 - events - involvedObject.namespace - default: need to check if this is versioned correctly.
    W0610 01:17:14.439399   28086 request.go:302] field selector: v1 - events - involvedObject.uid - cee7253e-0e8a-11e5-b63e-fa163e837eb3: need to check if this is versioned correctly.
    W0610 01:17:14.4394

[2015-06-10 01:25] krousey commented on #9540
#9342 seems to be the cause according to @brendandburns

[2015-06-10 01:29] caleblloyd commented on #8235
oops, coming from a json backround :)

thanks

[2015-06-10 01:32] yifan-gu commented on #9534
@erictune What does the spec of the pod look like? How can I reproduce this? Thanks!

[2015-06-10 01:33] satnam6502 commented on #9526
Well part of my complaint was about the hex in the error message.

[2015-06-10 01:42] #8235 closed

[2015-06-10 01:43] krousey commented on #9540
@brendandburns verified that #9342 fixes this locally. I killed and restarted kubernetes-e2e-gce and kubernetes-e2e-gce-parallel with this change and both have been able to get past starting the cluster. I am going to close this now.

[2015-06-10 01:43] #9540 closed

[2015-06-10 02:16] smarterclayton commented on #9180
We may want to bump that timeout (apiserver is 60 minutes right now).

We really need timeouts per connection type (including better idle timeouts) and a garbage collector than can close outstanding connections by class of the kubelet is under stress.

[2015-06-10 02:33] derekwaynecarr commented on #9359
If you push a branch with your current approach, I can help finish up tomorrow.

[2015-06-10 02:36] erictune commented on #9180
Seen today multiple times from build at head today.
On Jun 3, 2015 1:18 PM, "Brian Grant" <notifications@github.com> wrote:

[2015-06-10 02:39] BenTheElder commented on #9359
Ok thanks, I think I've got it almost figured out, bust it seems like possibly saltstack is trying to manage the kube-proxy config and making an empty default one over the one I've written so hopefully that's the last thing that needs fixing. I'll push and mention it here before I quit for the night.

[2015-06-10 02:58] hurf commented on #9546
I looked into the code and found it's because client is using v1 api version now, but `resourceTypeToFieldMapping` didn't provide a key for v1.

[https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/request.go#L314][1]
[1]: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/request.go#L314

[2015-06-10 03:07] justinsb commented on #9456
Yes, but I think I have seen that Docker does not kill always those processes that were running in its containers.  I think that it never does so when killed by monit, but I will double check and see if I can reproduce reliably.

I think my core problem behind this series of issues is that I had too many big containers running.  When I ran out of memory, Docker stopped responding to monit, monit k

[2015-06-10 03:14] satnam6502 commented on #9526
As for RC, I guess I wanted a different kind of controller which "launches N pods and waits for each to run to completion".

[2015-06-10 03:16] feihujiang commented on #9518
field detail &{{0xc2083f4c90 <nil>   []   0xc2083f6b00 <nil>} list of containers belonging to the pod; cannot be updated; containers cannot currently be added or removed; there must be at least one container in a Pod}, this just show the description of the field defined in type.go, not an error. I committed a PR, and removed it.
type PodSpec struct {
...
Containers []Container `json:"containers" d

[2015-06-10 03:25] justinsb commented on #9473
@dchen1107 - thanks for the link, but I don't think that applies here?  (Unless there's a trick I'm missing, which is not unlikely).  I know I can get the information from the API (via kubectl or curl), I was just hoping for a more direct way.  In my host I have /sys/fs/cgroup/memory/, and apparently this is usually available in Docker containers also, although I don't see it in my Docker k8s cont

[2015-06-10 03:37] nkwangleiGIT commented on #9122
Hi lavalamp,
Thanks for your test case for troubleshooing
1. I tried GOMAXPROCS on etcd, seems it didn't do much help
2. About the step below:
[code]
Kubernetes build system is on another host that is different with the environment that has this issue, could you point me how I can run this test agains a remote kubernetes system?

Thanks!

[2015-06-10 03:40] brendandburns opened #9552 "Add troubleshooting instructions for network problems"
DNS, iptables, etc.

[2015-06-10 03:41] brendandburns opened #9553 "Add troubleshooting info for viewing resource usage in cAdvisor, etc."

[2015-06-10 03:43] justinsb commented on #9474
@dchen1107: thanks for that link, although I don't know that it applies here.  To be clear - I'm inside a container, and I would like to get the pod info that applies to me from the API.  I don't know how to get my namespace, nor am I certain that my hostname was always my name.

I did figure out that I could look at my IP, which is my podIP in the API.  Sadly I don't think I'm allowed to use that

[2015-06-10 04:21] satnam6502 commented on #9486
Something seems to be going wrong with either where pods are places, or with pod re-starts.
[code]

[2015-06-10 04:36] satnam6502 commented on #9486
Submitted a PR to relax this test although I am not sure if this gets to the heart of the issue since the pods this test creates should never be restarted. I suspect there might be an underlying problem with our system.

[2015-06-10 04:46] satnam6502 commented on #9486
Note that I don't regard this test as 'flaky'. It is detecting some "jitter" in our system which I think is a problem.

[2015-06-10 05:08] brendandburns commented on #9460
This is b/c the kubectl that is suggested is the 0.17.0 release we shouldn't have updated that page for run, without updating the code/images.

Please use:
[code]

I will revert the docs until we update the image.

[2015-06-10 05:10] roberthbailey commented on #9537
What gcloud commands is it trying to run? Doing a quick code search I only see gcloud references in the gce / gke directories (and in the phabricator example for firewall rules) so I'm not sure how it would be getting invoked for other providers.

@justinsb - Can you double check that gcloud isn't needed to provision on AWS?

[2015-06-10 05:19] gmarek commented on #3954
@goltermann - can you explain why you moved this back to v1.0?

[2015-06-10 05:43] davidopp commented on #3954
Sorry, I should have updated the issue.

We decided there are only two things left for 1.0 here:
(1) Get #9186 merged
(2) figure out what the actual performance is -- in other words, re-run your experiment multiple times to figure out the max # pods per node (at 100 nodes) that gives us 5s 99%ile pod startup latency, and then re-title this issue (replace "30" with the new number) and mark it fixed

[2015-06-10 05:51] looztra commented on #8042
@erimatnor which version of kubernetes are you using? I had the same trouble with versions < 0.18 and it seems to not happen anymore since 0.18

[2015-06-10 05:54] davidopp commented on #3952
I'd like to close this issue. In this comment:
https://github.com/GoogleCloudPlatform/kubernetes/issues/3952#issuecomment-83670602
@alex-mohr said "If you want to re-word #3954 to track e2e latency for X pods to appear as running after being sent to apiserver and close this one, that'd also be fine." But that's actually how we've been interpreting #3954 even though technically that's not what it s

[2015-06-10 06:02] mikedanese commented on #9541
I wonder if this is what I was seeing. #9557 was the fix for me.

[2015-06-10 06:29] Kielan opened #9558 "Communication between Kubernetes client and server broke unexpectedly"
I believe this happened unexpectedly but I may have changed AWS regions though I don't think I did.

After a few minutes away I kielan$ kubectl get pods

after some delay

Unable to connect to the server: dial tcp 52.26.140.56:443: i/o timeout

Even kubectl version returns the client kubernetes version and after some delay the same error as above

I restart my system after some poking around and n

[2015-06-10 06:39] vnugent commented on #8658
my colleague was able to install the cluster

[2015-06-10 06:39] #8658 closed

[2015-06-10 06:52] BenTheElder commented on #9359
Still debugging the config creation but here's the branch:
https://github.com/BenTheElder/kubernetes/tree/vagrant_certificates

[2015-06-10 07:09] hurf commented on #9546
[https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/request.go#L301][1]
[1]: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/request.go#L301

for those fields don't need converting, no need to send a warning message.

[2015-06-10 07:11] bnprss opened #9559 "kubelet with --configure-cbr0=true failed to restart docker on systemd"
Hi,

On https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/container_bridge.go#L57

kubelet asked for service binary to restart docker which failed on systemd powed systems (coreos).
That's an issue while docker still routing docker container on bad address until restarted.

Best regards

[2015-06-10 07:13] roberthbailey commented on #9559
This is known to not work on systemd distributions.

@cjcullen @dchen1107

[2015-06-10 07:57] davidopp commented on #9356
@fgrzadkowski @gmarek @marekbiskup

[2015-06-10 08:02] davidopp commented on #3952
Sorry, never mind, somehow I overlooked that the measurements in #3954 use pod startup time reported by Kubelet, so we actually are measuring exactly what #3954 specified.

@gmarek maybe you could augment #9186 to also record the difference between the pod startup time reported by Kubelet and the time on the master when the test detects the pod as running? (I think that's what this issue was askin

[2015-06-10 08:29] marekbiskup opened #9561 "Docker log is not rotated on kubernetes master"
We have rotation of logs from docker containers, but not for logs from docker

[code]

Without rotation, the logs may fill the root partition entirely.

[2015-06-10 08:32] marekbiskup commented on #9561
I can add rotation (5 files, 100MB each) if you decide it goes for v1.0 (for me it's a blocker).
I'm not sure which platforms are affected. For sure GCE.

cc @davidopp @dchen1107

[2015-06-10 08:46] davidopp commented on #9561
Sure, send a PR and I'm sure we can merge it.

[2015-06-10 09:12] BenTheElder commented on #9359
I think ultimately the issue was just a space missing when piping in EOF on creating the config files...
Regardless I've refactored so that the tokens are generated in util.sh and can be placed across all of the nodes. It seems to be working now.

Side note: in order to `vagrant ssh minion-2` I find i have to do:
`NUM_MINIONS=2 vagrant ssh minion-2`
If commands aren't prefixed with NUM_MINIONS=n t

[2015-06-10 09:27] gongysh2004 opened #9566 "the wrong doc URL shown when NodePort service is created"
$ cat nginx-service-nodeport.yaml
apiVersion: v1
kind: Service
metadata:
  name: nginx-service-nodeport
spec:
  ports:
    - port: 8000
      targetPort: 80
      protocol: TCP
  clusterIP: 192.168.3.84
  selector:
    name: nginx
  type: NodePort

$ kubectl -s http://192.168.0.201:8080 create -f ./nginx-service-nodeport.yaml

				You have exposed your service on an external port on all nodes in y

[2015-06-10 09:29] gmarek commented on #3952
I can, but I don't really know how to do this easily, short of hammering the master. I may add a watch for Pods in test but this seems like an overkill to me, as the only "latency" between time when Kubelet reports that it wrote data to etcd and moment when master "notices" the change (i.e. have it written in etcd) is the time skew, as AFAIK etcd writes are synchronous.

[2015-06-10 10:03] gongysh2004 commented on #9566
I am working on it.. correct result should be:
$ kubectl -s http://192.168.0.201:8080 create -f ./nginx-service-nodeport.yaml

				You have exposed your service on an external port on all nodes in your cluster.
				If you want to expose this service to the external internet, you may need to set up
				firewall rules for the service port(s) (tcp:31592) to serve traffic.

				See https://github.com/

[2015-06-10 10:40] hurf commented on #9502
Same problem to me.

[2015-06-10 10:47] marekbiskup commented on #9487
The scenario of the test is the following:
 1. create a service
 1. create an RC with as many pods as the number of nodes
 1. wait for pods created, running and responding
 1. take the first node and get the pod from it
 1. ...

It is assumed that the first node has a pod - that's because kubernetes is supposed to distribute pods for which there is a service evenly among nodes. So we expect that e

[2015-06-10 11:38] Artenac2 opened #9570 "How test round-robin ?"
Recently, i do some test on ReplicationController kind. I create a ReplicationController with just a stateless website with 2 replicas. I watch my network to see my request communicate between my host and my replicationController. And I saw my HTTP request go on my two replicas, Normal right ?

I did this test to test load-balancing round-robin but like you read before, this was a total failure. I

[2015-06-10 12:09] fgrzadkowski commented on #9485
This test fails because latency metrics are too high. I looked into this and my current theory is that the flaky runs are due to previous tests that affected latency (we do not reset metrics between tests). I'll send a PR to verify this.

I see two solutions:
1. Measure latency by reading full histogram before and after the test and manually compute percentiles.
2. Disable this tests in regular je

[2015-06-10 12:13] resouer opened #9573 "Error executing command in container: exec unavailable - unable to locate nsenter"
ENV:

I installed k8s by Docker on a single node EC2

COMMAND:
[code]
And I got this ERROR:

[code]

I have nsenter in the PATH of that VM, but I don't think that matters.

Can anyone help me with this?

[2015-06-10 12:27] feihujiang commented on #9405
@mikedanese OK, I 'm currently working on this now.

[2015-06-10 13:18] rassie opened #9576 "kubernetes directory in release tarballs is not world-readable"
Since I've been having troubles with `libvirt-coreos` installation, I've digged a bit and found out that the permissions inside Kubernetes tarballs changed between 0.16.0 and 0.17.0. I've downloaded both tarballs, extracted them into separate directories and then extracted the Kubernetes server tarballs. This is what I get:

[code]

I suppose, there has been a concious decision to restrict the wor

[2015-06-10 13:18] rassie commented on #9465
Closing in favour of #9576, since that is probably the cause of my troubles.

[2015-06-10 13:18] #9465 closed

[2015-06-10 13:35] timothysc commented on #9208
@pmorie @eparis - I'm still getting the same silent mount failure on atomic 7.1.3 ...

[2015-06-10 14:22] rhcarvalho commented on #7770
Seems that this has been fixed, at least with the default configuration that uses `docker exec`.

[2015-06-10 14:30] gmarek commented on #3954
(1) - updated PR
(2) - waiting for @bprashanth PR to be merged

[2015-06-10 14:37] andronat opened #9577 "kubectl run-container has changed to run"
Isn't this `run` instead of `run-container` at 0dfb681ba5d5dba535895ace9d650667904b5df7?

It is changed from: #8319 and #8596

/cc @brendandburns

[2015-06-10 14:43] ncdc commented on #8620
I've traced the burst of 20 `GET /containers/json` calls to the container.RuntimeCache. In the Kubelet's `syncLoop`, it calls `SyncPods` every `SyncFrequency` (default=10s). `SyncPods` asks the cache for its pods. This starts a goroutine (if it's not already running) which ultimately gets the list of containers from Docker. The problem is that in `startUpdatingCache`, it asks Docker for the list o

[2015-06-10 14:44] ncdc commented on #8620
@smarterclayton @pmorie @derekwaynecarr @thockin @dchen1107 @yujuhong ^^^^^

[2015-06-10 14:51] ncdc commented on #9573
@resouer where do you have nsenter installed? It needs to be in the PATH that the Kubelet is using.

Also, the latest Kubernetes defaults to using Docker's exec API for `kubectl exec`, so you shouldn't see this issue if you're able to update.

[2015-06-10 14:54] ncdc commented on #9180
@erictune what did you see specifically?

[2015-06-10 14:54] brendandburns commented on #9312
For the PD issue, at least part of it is that we're over-scheduling the cluster:
[code]

As a stop the bleeding, we should drop the CPU resource requirement from the PD test, it doesn't contribute one way or the other.

However, we should also see why we are apparently over-committing a Node, that should only happen in really rare race conditions.

--brendan

[2015-06-10 15:04] andronat opened #9578 "TestCreateCleanWithPrefix fails if KUBERNETES_MASTER is set"
This test fails when the testing environment has the `KUBERNETES_MASTER` declared.

[code]

[code]

A similar case was here: #8646

I am not sure which is the correct way to fix this. Any suggestions?

/cc @jdef (4b8995f0093369465f728e686416b52f8b10b0a8)

[2015-06-10 15:19] jdef commented on #9578
how about this: add a bool flag (default of `false` is desired) to the `DirectClientConfig` struct:
- `type DirectClientConfig struct { ... ignoreEnvironmentConfig bool }`
- alter `DirectClientConfig.getCluster()` to check that flag and ignore `EnvVarCluster` if set
- alter the failing test case such that it directly creates the `DirectClientConfig` instance, and sets the flag to true

[2015-06-10 15:30] diferential commented on #9372
If this is due to version incompatibility, it would be good if Kubernetes
checked for version incompatibility before accepting to make changes on a
cluster.

What guarantees does Kubernetes offer in that case? Should I create an
issue tracking that if the version checking is not implemented right now?

On Tue, Jun 9, 2015 at 7:52 PM, Dawn Chen <notifications@github.com> wrote:

[2015-06-10 15:31] moix opened #9580 "Cannot ping pods from different minions"
Hi, I've been for a couple of weeks trying to setup a kubernetes cluster in centos with etcd and flanneld following current getting started guidelines (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/centos/centos_manual_config.md) and all the information I could find out in the repostory and other sources from google, so far still couldnt find how to make

[2015-06-10 15:51] smarterclayton opened #9581 "Prometheus stats holding onto a fair amount of memory (potential unbounded rest stats)"
Right now the faceted search stats from cadvisor, the rest client, and the apiserver are holding on to a fair amount of memory:

https://github.com/openshift/origin/issues/3053#issue-87005876

Prometheus is holding about 225mb, 35 from the rest client, probably 40-50 from the apiserver (we log more summary data there), and then the bulk is probably from cadvisor.

The growth is proportional to the

[2015-06-10 15:52] crcsmnky commented on #9521
Update: retried `create` with specific `api-version` and increased verbosity.

    I0610 10:42:13.327680   70965 helpers.go:82] server response object: [{
      "metadata": {},
      "status": "Failure",
      "message": "the server could not find the requested resource",
      "reason": "NotFound",
      "details": {},
      "code": 404
    }]
    F0610 10:42:13.328129   70965 create.go:51] Error

[2015-06-10 15:53] smarterclayton commented on #9581
The service account controller issues measured there will be tracked separately.

[2015-06-10 16:03] vmarmol commented on #9581
We *just* submitted a [change](https://github.com/google/cadvisor/pull/767) to cAdvisor to fix a leak which I suspect is behind most of this growth. Will build 0.15.1 today and integrate it into Kubernetes. Although, is this apiserver or controller-manager memory? The linked comment seems to be for that.

for (b), AFAIK Prometheus does not support it, although it sounds like a reasonable thing to

[2015-06-10 16:04] justinsb commented on #9537
@Snesha happy to look into this for AWS - you definitely shouldn't need gcloud to bring up a cluster on AWS.  (I can't really speak to Azure, but I suspect/hope whatever the issues is with AWS will be the same issue as Azure).

As @roberthbailey I don't see where we would be using gcloud.  It looks like we would use it if you tried to do a kubernetes release, but only Googlers can do that anyway.

[2015-06-10 16:11] smarterclayton commented on #9581
OpenShift runs everything in one process (including etcd and skydns) in its all-in-one mode.  So this is the whole kit and caboodle :)

The REST growth was from observation of the rest client metric count (curl /metrics | grep rest_client -c)

[2015-06-10 16:14] justinsb commented on #9558
@Kielan - not sure I fully understand, but I have hit similar things if I shut down one k8s cluster, and then spin up another, but I still have a configuration pointing at the old server.  So, in your case, you shut down the cluster on 52.26.140.56, and now someone else has that IP.  And you have a working cluster on 52.74.189.120, although even changing the configuration doesn't quite work.

The

[2015-06-10 16:15] dchen1107 commented on #9559
cc/ @yifan-gu

[2015-06-10 16:15] justinsb commented on #9323
Probably means we just need to bump the version of k8s that the CoreOS script is installing.  @bakins?

[2015-06-10 16:17] syst3mw0rm commented on #9323
@justinsb yeah, that fixed the problem for me. I have created PR for it #9466

[2015-06-10 16:22] smarterclayton commented on #9581
Actually, the rest client is almost clever enough - it substitutes out "{name}", but not "{namespace}".  Derek's test was adding hundreds of namespaces, which grows without bound.

[2015-06-10 16:22] smarterclayton commented on #9581
Fix is to do the same thing that we do for names.

[2015-06-10 16:39] smarterclayton commented on #9581
Do we want to allow rest_client to subdivide on query parameter values?  We'll get the same fanout on field selector and label selector values, effectively meaning infinite growth.  I can fairly easy cap it by making all the parameters empty value.

[2015-06-10 16:52] timothysc commented on #8119
@lavalamp - re: etcd, that was my suspecion the entire time.  I'm planning on making some configuration changes on those machines just to see what happens.. similar to details outlined here: https://youtu.be/12ZLq2pHWsI

[2015-06-10 16:54] smarterclayton commented on #9581
REST client fixed in #9584, etcd metrics also are unbounded and fix is pending.

[2015-06-10 16:54] alex-mohr commented on #2462
Closing #2462 via #9451

[2015-06-10 16:54] #2462 closed

[2015-06-10 17:00] davidopp commented on #3952
@alex-mohr thinks it is important to measure this so that we can get an end-to-end startup latency number. (And I agree.) You could do a new measurement that just measures the difference between time observed on master and StartTime recorded in PodStatus, or a new measurement that's the full end-to-end startup time (time in. #3952 + #3954). I agree there is very little in the path that could make

[2015-06-10 17:00] roberthbailey commented on #8571
@theiq @manolitto @edword - Can anyone confirm whether this is only seen on the master machine or if it is also seen on the node machines as well?

[2015-06-10 17:01] smarterclayton commented on #9581
With those two fixes (cadvisor and #9584) I think we're back to bounded growth.  Etcd is taking 6M but that may just be because we record a lot of latency metrics and the pool size is fine.  We have ~40 types going through etcd in openshift, so with the extra operations (i believe get / compareAndSwap / delete) that doesn't sound crazy.

[2015-06-10 17:06] bprashanth commented on #9581
Isn't this already behind a debug flag? https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/server.go#L124/ListerAnd

[2015-06-10 17:10] theiq commented on #8571
it was seen especially on the nodes (non-masters). have to check the new version 0.19 for this error

[2015-06-10 17:11] smarterclayton commented on #9581
The metrics are captured regardless of whether the handler is there.

----- Original Message -----

[2015-06-10 17:17] bprashanth commented on #9581
Can't we just send it down /dev/null or something instead of keeping it in memory when there are no handlers? I suppose this is prometheus side.

[2015-06-10 17:39] smarterclayton commented on #9581
It is.  Anyway, this is still an issue for controllers when debugging is on - OpenShift secures those endpoints via policy so we don't have an issue with them being enabled by default.

----- Original Message -----

[2015-06-10 17:55] dchen1107 commented on #9411
I double checked my node, and restart docker daemon a couple of times, the oom_score_adj is set to be -900. I am closing it. Justin, feel free to open it if I missed anything here. Thanks!

[2015-06-10 17:55] #9411 closed

[2015-06-10 18:05] austintrose commented on #2849
I could also really use this!

[2015-06-10 18:15] juliaferraioli commented on #8824
That's exactly what I would expect for prereqs.

[2015-06-10 18:36] saad-ali commented on #9453
Ran `github.com/GoogleCloudPlatform/kubernetes/pkg/client/record` tests repeatedly back to back overnight, still no repro.

[2015-06-10 19:25] amygdala opened #9593 "Modify redis guestbook example to use a term other than 'slaves'"
I'd like to see us avoid the use of the term 'slave' in the guestbook redis stuff where possible.
Maybe use 'minion' instead for all the names and labels.
As part of this, the frontend image (kubernetes/example-guestbook-php-redis:v2) will need to be rebuilt, since it references 'redis-slave' in the php script.

[2015-06-10 19:30] dchen1107 commented on #8571
I raised the priority to P1 since ppl reports such error messages on non-master node. I suspect the problem is caused by misconfigured node, but still we need to understand it more and update the troubleshooting guide for this. On master node, we need to introduce a flag to stop register itself with cluster.

@theiq which cloud provider is your cluster on? Also are you using --hostname_overrides t

[2015-06-10 19:32] derekwaynecarr commented on #8620
@ncdc - if it ran 1 time every 10s, that would be better than 20 times every 10s.  is there a negative consequence of tweaking the values that I am missing?

[2015-06-10 19:34] satnam6502 commented on #9486
PR #9556 reverted because we should really get to the root of the system instability -- specifically -- jitter.

[2015-06-10 19:37] ncdc commented on #8620
@derekwaynecarr seems better to me as well

[2015-06-10 19:37] sanjana-bhat commented on #8988
@jdef, apart from exposing the port-mapping information this would also require the framework to assign a dynamic port to the container and map the same port to the host. We achieved this in marathon with the following fix: [mesosphere/marathon#1548](https://github.com/mesosphere/marathon/pull/1548) and [mesosphere/marathon#1468](https://github.com/mesosphere/marathon/pull/1468).

[2015-06-10 19:45] jdef commented on #8988
Why does the port number need to match between the host and container?

On Wed, Jun 10, 2015 at 3:38 PM, Sanjana J Bhat <notifications@github.com>
wrote:

[2015-06-10 19:49] timothysc commented on #3952
I'm almost certain @rrati and @fgrzadkowski have done similar things in other tests.

[2015-06-10 19:50] dchen1107 commented on #8620
@ncdc Thanks for looking into this. I don't see any negative impact of tweaking those values. cc/ @yifan-gu

[2015-06-10 19:51] ncdc commented on #8620
@yifan-gu could you please take a look at my comment here: https://github.com/GoogleCloudPlatform/kubernetes/issues/8620#issuecomment-110779616. I'm wondering if you can help shed some light on why `startUpdatingCache` gets the containers from Docker 20 times in a row before stopping?

[2015-06-10 19:51] ncdc commented on #8620
I'm also wondering why `startUpdatingCache` runs a loop? Wouldn't a single call to get the containers be sufficient?

[2015-06-10 19:57] satnam6502 commented on #9449
OK. I guess so.

[2015-06-10 19:57] #9449 closed

[2015-06-10 19:57] quinton-hoole commented on #9486
So we still have what appears to be a case of pods restarting when they should not. Satnam, are you planning to dig into this?  If not, feel free to unassign yourself and I'll try to do it myself, or find someone else.

[2015-06-10 19:59] satnam6502 commented on #9486
I shall look into this since I have this test at hand which I can use to both induce the symptom and help diagnose it.

[2015-06-10 20:00] thompsonja commented on #9497
This seems to work fine after doing a 'gcloud components update' and grabbing today's updates.

[2015-06-10 20:00] #9497 closed

[2015-06-10 20:05] manansaraf commented on #9536
I can work on this issue if no has started on it or have an issue with it!

[2015-06-10 20:13] jeffbean opened #9599 "kube-addons.sh hardcoded kubectl path"
`cluster/saltbase/salt/kube-addons/kube-addons.sh` has a hardcoded bin path. This is not the path for yum installed Kubernetes and maybe more cases.

Should be a variable at least. similar to `kube-addon-update.sh`.

[2015-06-10 20:18] brendandburns opened #9601 "Scheduler doesn't exclude terminated or succeeded pods when scheduling"
Pods that are terminated or in success are no longer running, so they shouldn't be included in the scheduler's decisions.

[2015-06-10 20:22] gmarek commented on #3952
If you think it's important I'll add this.

[2015-06-10 20:27] jhuttner commented on #8003
It appears that part of the problem is that the datacon.co.uk DNS server is taking a long time to return.  Try removing it by running "docker exec -it $container_id /bin/bash" on these containers (i.e. all replicas), modifying /etc/resolv.conf, and then reloading the webapp in your browser.  It may fix this.

[2015-06-10 20:30] pmorie commented on #9536
@manansaraf I haven't had a chance to look yet, feel free to take a look and tag me for a code review if you need it.

[2015-06-10 20:32] pmorie commented on #9536
Whoops -- my bad, I thought this was a different issue.

[2015-06-10 20:33] satnam6502 commented on #9536
I think this is fixed by a different PR. This was due to a spurious log line that should have been removed. Closing.

[2015-06-10 20:33] #9536 closed

[2015-06-10 20:35] #9402 closed

[2015-06-10 20:50] lavalamp commented on #9122
@nkwangleiGIT you should be able to run it anywhere that you can run e.g. `kubectl get pods`. I just tested myself and after building, the below command worked for running it against a normal (non-e2e) cluster:

[code]

But it now occurs to me that rather than me guessing, perhaps the easiest way to figure this out is for you to condense your config that shows the problem into a short script? Can

[2015-06-10 20:59] lavalamp commented on #3952
A measurement of this could be added to my #9592, which is already measuring something similar.

[2015-06-10 21:03] yifan-gu commented on #8620
@ncdc Interesting, we had a dejavu here.
https://github.com/GoogleCloudPlatform/kubernetes/pull/7812

[2015-06-10 21:06] goltermann commented on #9593
This is a Redis term, for what it's worth.  http://redis.io/topics/replication  We still may or may not want to change what we use.

[2015-06-10 21:09] thockin commented on #9526
Validation errors should NOT include %v object dumps - this is terrible UX.

On Tue, Jun 9, 2015 at 6:33 PM, Satnam Singh <notifications@github.com>
wrote:

[2015-06-10 21:10] yifan-gu commented on #8620
@ncdc Looks like we are getting some support for removing the async cache loop.
/cc @vmarmol

[2015-06-10 21:11] davidopp commented on #9601
What is the behavior you're observing? That a terminated/succeeded pod that is not running under a replication controller comes back to life on a new node?

[2015-06-10 21:12] saad-ali opened #9610 "`events_cache` should not be a singleton"
Discovered while debugging #9453

**Problem:**
The `events_cache` used by `pkg/client/record/event.go` is created as a singleton in `pkg/client/record/events_cache.go`. That means all sinks created by `StartRecordingToSink` in `event.go` end up using the same LRU cache.

**Impact:**
This is unlikely to cause issues since all our components (kubelet, scheduler, service controller, node controller,

[2015-06-10 21:12] lavalamp commented on #9601
No-- he means that the scheduler think that pods in those states are consuming resources when in fact they aren't.

[2015-06-10 21:15] caesarxuchao opened #9611 "output of `kubectl cluster-info` is still v1beta3"
[code]

#7018

@krousey @bgrant0607 @nikhiljindal

[2015-06-10 21:26] saad-ali commented on #9453
The error indicates that the number of times the event was seen in the past (event compression) is less (`2`) than expected (`3`).

Possibilities considered:
* At 3rd occurrence of event, the previous occurrence was not found in LRU cache:
  * Maybe the key generated for the event to do LRU lookup is different between the 3 occurrences of the event.
    * Logs indicate this is not the case, the ev

[2015-06-10 21:42] bakins commented on #9323
@syst3mw0rm I commented on PR, it LGTM

[2015-06-10 21:48] andronat commented on #9577
/cc @ghodss

[2015-06-10 21:48] andronat commented on #9578
/cc @ghodss

[2015-06-10 21:49] #9415 closed

[2015-06-10 21:49] andronat commented on #7027
I think this can be closed now

[2015-06-10 21:50] #9561 closed

[2015-06-10 21:52] quinton-hoole commented on #7972
b/21597665  (Google-internal reference)

[2015-06-10 22:03] quinton-hoole commented on #9487
Thanks @marekbiskup .  cc: @lavalamp @davidopp Is it a valid assumption that pods should be evenly spread across nodes?  I assume not?

If even spreading is a valid assumption, then there's a bug in the system.  If not, then we need to fix this test.

[2015-06-10 22:04] erictune opened #9620 "Image access control is not multi-tenant."
Docker does a credential check when pulling images, but not when using them. It will let you run an image that is already pulled even if you don't present credentials.

That is reasonable behavior from the standpoint of the docker tool since it is not trying to be multi-user.

However, it makes it hard to make Kubernetes multi-user. If an image is already pulled, (e.g. using `imagePullSecrets`, th

[2015-06-10 22:06] quinton-hoole commented on #9487
To clarify the above, it's perfectly sensible to me that k8s should in an ideal world spread pods that constitute a service across as many nodes as possible.  But I doubt whether our scheduler has such logic yet?

[2015-06-10 22:06] jseaidou opened #9621 "New mergo version breaks config merging"
We were accidentally using the HEAD of mergo and found that it breaks the assumptions of merge. If a field in the config is not empty, the overwrite will not override. Before making a change, I was curious if upgrading the version is something the project will require or are we comfortable having it pinned at this version

[2015-06-10 22:07] lavalamp commented on #9487
Our spreading is only a probabilistic guarantee. So this is incorrect test behavior.

[2015-06-10 22:11] lavalamp commented on #9487
We do actually have spreading logic.

To determine if this is a scheduler bug, you'd have to know the state of the system more exactly. Spreading is balanced with resource usage, for example-- if something big was a little slow leaving the node, it could cause it to not get a pod. Or if it was briefly unavailable.

[2015-06-10 22:12] pwais opened #9623 "run kube-proxy on master node"
kube-proxy does not currently run on the master node (at least for providers that use salt).  Brendan Burns notes that it might be a good idea (generally) to add this: https://groups.google.com/d/msg/google-containers/PLZonkj9N4g/HjDKEFGP4i0J

I'm opening this issue to:
- query if this is actually a desirable change
- and if so, offer to contribute a patch

I needed this functionality when using a

[2015-06-10 22:15] satnam6502 commented on #9526
The spurious hex output issue has now been resolved by another PR I merged earlier today.

[2015-06-10 22:17] lavalamp commented on #9526
You want a 'job controller'. RC doesn't offer this feature, it's only for long-running services.

[2015-06-10 22:17] erictune commented on #9620
@ncdc @deads2k tell me if I stated this right.  And what does openshift do?

[2015-06-10 22:18] #8356 closed

[2015-06-10 22:19] pwais opened #9626 "make allow_privileged configurable at cluster startup time (providers using salt)"
For providers that use salt, currently the way to enable privileged containers is to check out k8s from source, manually edit a salt config, build tarballs (which is very slow, even just `make quick-release`), and start.  I propose introducing an env var so that this property can be toggled at cluster startup time on a k8s binary release.

I have a draft of said changed here (see top portion, this

[2015-06-10 22:20] erictune commented on #9534
[code]

[2015-06-10 22:28] erictune commented on #9534
It is now failed, but it seemed to take a long time.
[code]

[2015-06-10 22:32] satnam6502 commented on #9526
Indeed. I offer to write one after 1.0. Indeed, I have an urge to write lots of new kinds of controllers.

[2015-06-10 22:35] quinton-hoole commented on #9487
OK, I'd suggest that we change the test then, to not assume that pods are perfectly evenly spread across nodes.

[2015-06-10 22:35] erictune commented on #9534
some relevant log lines.
Note that there was a pod with the same name but different UID not long before.
[code]

[2015-06-10 22:38] quinton-hoole commented on #9534
Quite possible that this is #7972

[2015-06-10 22:42] quinton-hoole commented on #9534
Wait, sorry, probably ignore the above.  This is not a volume attachment external to the VM, right?  In which case, it's unlikely to be related to #7972.

[2015-06-10 22:42] manansaraf commented on #9511
So if all the "ID" has to be replaced to "Name" in the help output, I can do it if no one else wants to do it

[2015-06-10 22:43] goltermann opened #9630 "Guestbook Example should use labels to cleanup"
Step Seven could be shortened, and also introduce the power of labels by updating it to:

$ kubectl stop rc -l "name in (redis-master, redis-slave, frontend)"
$ kubectl delete service -l "name in (redis-master, redis-slave, frontend)"

[2015-06-10 22:44] erictune commented on #9534
no PDs were harmed in this bug.

[2015-06-10 22:45] andronat opened #9631 "Proposal for extending kubectl get [resource] by printing resource labels as extra columns"
### **Proposal**

After finishing with #9032, we can also add resource labels as extra columns when we print resources.

The user could define in a flag `--label-column=` or `-l` the names of the labels that he wants to print, and then **kubectl will append extra columns in the end of each resource row**.

The extra column will use:
* as header-column name --> the label name
* as per row value -->

[2015-06-10 22:46] erictune commented on #9534
This looks suspicious and about the same time:
[code]

[2015-06-10 22:46] erictune commented on #9534
in particular:
[code]

[2015-06-10 22:49] goltermann opened #9632 "Add link to kubectl.md in Getting Started Guide"
Suggest we link to https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/kubectl.md in the getting started guides.  Anyone standing up their first cluster is going to want to play around with all the kubectl options, and this is a useful reference page.

[2015-06-10 22:49] parikhyash opened #9633 "Launch resource of "list" kind using rest API"
I have a list of services defined under a json having "kind" : "list"

I'm using the v1beta3 API version.

However, I don't see any endpoint to launch a list resource.

I'm following the Swagger spec on http://kubernetes.io/third_party/swagger-ui/#!/v1beta3/listService to see the endpoints.

Is there any way to use the API to launch multiple services using a single json/yaml with kind=list?

[2015-06-10 22:57] erictune commented on #9534
@mattmoor any idea why `404 while fetching url http://metadata.google.internal./computeMetadata/v1/instance/attributes/google-dockercfg`

[2015-06-10 22:58] caesarxuchao opened #9634 "Need more explanation & instructions on privileged containers in examples/nfs"
In [nfs-server-pods.yaml](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/nfs/nfs-server-pod.yaml), the container is set to be privileged, but`kubectl create` will not create the pod and complain:
[code]
I think this has something to do with the cluster setup and this [line](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/capabilities/capabilities.go#L44) o

[2015-06-10 23:10] #7745 closed

[2015-06-10 23:10] mikedanese commented on #7745
@chaten v1beta2 no longer exists

[2015-06-10 23:11] ghodss commented on #9631
@bgrant0607 @brendandburns

[2015-06-10 23:12] ghodss commented on #9631
It would be nice to reserve a single letter for this flag if there's one available that makes sense. `-l version,deployment` would be really convenient.

[2015-06-10 23:22] manansaraf commented on #9407
Hi is this issue fixed , because when I create the objects in the list I don't get the error?

[2015-06-10 23:26] mattmoor commented on #9534
This is a feature that @brendandburns asked for a while ago.

There are ostensibly 4 sources of credentials on the node today (that I'm aware of):
  1. /.dockercfg on disk
  1. .dockercfg read out of metadata (the 404 you are seeing)
  1. .dockercfg read from a URL specified in metadata (should also 404)
  1. .dockercfg entry synthesized from GCE metadata

FWIW 2-4 are only enabled when GCE metada

[2015-06-10 23:27] dchen1107 commented on #8918
Filed https://github.com/docker/docker/pull/13867 to docker, which causes several failures reported above since it takes much longer time to get a node into a ready state. The issue is going to be fixed in docker 1.7 release.

Also observed much higher failure rate with PreStop test with 1.7.0-rc2, which never failed with docker 1.7 from our jenkin-e2e reports. Still investigate it.

[2015-06-10 23:34] bprashanth opened #9641 "Prevent concurrent GetContainerInfo requests from hitting docker"
GetPods(https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L722) can be quite slow when we get a flurry of requests on the /stats endpoints. A snippet from my logs https://gist.github.com/bprashanth/20559b465c6fbea72ebb. It also seems to slow down other docker operations, a concurrent generatePodStatus takes ~2s.

Can we teach GetContainerInfo about th

[2015-06-11 01:03] bprashanth opened #9645 "v1 rollingUpdate doesn't copy replicas from old rc if left unspecified"
During a rolling update we default an rc with no spec.Replicas to the replicas of the old rc (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/cmd/rollingupdate.go#L232). with the v1 api we default an rc with no spec.replicas to have 1 replica. This effectively means rolling-update behaves differently in the 2 versions.

[2015-06-11 01:09] yifan-gu commented on #9641
The answer I think is yes as long as the consumer of the information can tolerate the slightly older data (2 seconds older than real for now).

[2015-06-11 01:29] hurf commented on #9433
I happened to be reading the code of this part recently, I'll create a PR to show namespaces.

[2015-06-11 01:51] njuicsgz opened #9649 "[kubelet] ReadinessProbe broken (failures are triggering kubelet to kill containers)"
1. I have a RC with one pod whose container has readinessProbe.sh
2. The service run in container can not be 'ready' until about 2 min, so readinessProbe.sh exit with 1.
3. kubelet execute readinessProbe.sh every 10s by default, so it always get a status of 'False'
4. kubelet will kill and restart the container
5. goto 2, so it run into a loop of failure

I remembered that readinessProbe fail does

[2015-06-11 02:00] hurf commented on #9433
@dchen1107 - Should we display namespaces of other resources like service, pod, etc. while describing them?

[2015-06-11 02:42] hurf commented on #9057
Can we have `--all` option for `describe`, it can meet the requirment of @jdk-google to view all the 'services' without bring pod status into `get` @bgrant0607

[2015-06-11 02:44] hurf commented on #9057
Since we think adding label support for `describe` is resonable in #9248, which would allow `describe` output multiple results.

[2015-06-11 03:51] brendandburns commented on #9433
@hurf yes, that would be great.  Please feel free to send the PR to me.

Thanks!
--brendan

[2015-06-11 03:53] brendandburns commented on #9190
Closing this, as I believe it is fixed by 9542, will re-open if it re-occurs.

[2015-06-11 03:53] #9190 closed

[2015-06-11 03:57] #9352 closed

[2015-06-11 03:59] brendandburns commented on #8871
I'm working on this in the context of

https://github.com/GoogleCloudPlatform/kubernetes/pull/9287

But I'm not doing anything else yet.

Maybe the next thing is to set a CORS header?

--brendan

[2015-06-11 04:56] brendandburns commented on #9395
```kube-proxy``` is responsible for these rules.  It should be synchronizing them.

I see that there is a note in the code:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/proxy/proxier.go#L172

That we don't delete old routes.

My guess is that we somehow connection to the API server to get new updates.  The next time this happens, can you post the full ```/var/log/kube-proxy.l

[2015-06-11 05:07] sanjana-bhat commented on #8988
@jdef, this is especially useful for apps that advertise the port they are listening on to the outside world for P2P communication. Without this feature, they would erroneously advertise their private container port which is usually not the same as the externally visible host port. For ex: multi workers in storm.

[2015-06-11 05:33] mikedanese commented on #9649
Oh uh. This is a definitely a bug. Thanks for submitting the issue!

[2015-06-11 05:43] mikedanese commented on #9649
Second time we've had this regression. :(

Break: #6327
Fix: #6327
Break: #8238

Docs on intended behavior [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/pod-states.md#container-probes)

[2015-06-11 06:31] resouer commented on #9573
As I said, kubelet is started by Docker as below, it seems I need to add `nsenter` into the hyperkube image?

[code]

[2015-06-11 07:26] mikedanese commented on #9649
It seems the [pkg/kubelet/prober/prober.go.prober.Probe()](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/prober/prober.go#L94) method has been a bit confusing for maintainers and the monolithic method primarily exists because of the semantic that links readinessProbe to livenessProbe: "if liveness probe is unsuccessful, then readiness is false". Otherwise, the readiness

[2015-06-11 07:29] sdminonne opened #9656 "swagger-spec service ... targetPort wrongly defined as "string""
In swagger spec of v1beta3 and v1 targetPort should be defined as int32
Just opened PR https://github.com/GoogleCloudPlatform/kubernetes/pull/9655 to fix it

[2015-06-11 07:50] #9656 closed

[2015-06-11 07:50] sdminonne commented on #9656
Hmm need to invetigate more.

[2015-06-11 08:14] njuicsgz commented on #9649
@mikedanese I am completely agree with you that we should separate liveness and readiness probe. However, I am also afraid that will work out too many code change.

I have a proposal and run in my env well now:
1. computePodContainerChanges define the keep/restart container list, container will be kept if probe.Success, or killing/restart in else. Since we have 3 status of probe, we should only ki

[2015-06-11 08:41] casusbelli opened #9657 "Unable to mount localPath volume"
Hello!
I've been trying to play through the persistent-volumes example running a hack/local-up-cluster.sh setup. In several setups i always ended up with nginx serving me the default start page but not the index.html file from the volume to be mounted in the container at /var/www/html/ .

[code]

I used a standard docker nginx image, as the example did not specify otherwise, any ideas on what went

[2015-06-11 08:47] davidopp commented on #9649
I'm not sure this is incorrect. Putting containers into a pod means they work closely together, so I think you do want the behavior you described. For example, if the log saver stops working, you probably want to stop directing traffic to the web server it is paired with (since you are no longer able to save the logs from the web server). Likewise in the case of a "data puller" and web server, if

[2015-06-11 09:01] erictune commented on #9494
I think the HEAD docs and the code need to live in the same branch.
  1. It is pretty convenient as a developer to be able to search the docs in the same subdir as the code.  I don't think a single git client can include stuff from multiple branches.
  1. It is nice when code changes are accompanied with doc changes in the same PR.  I don't think a single PR can cover changes from multiple branche

[2015-06-11 09:13] fgrzadkowski commented on #9467
@davidopp My personal feeling is that this is issue is far less important than moving kube-addon to a pod or updating services.

[2015-06-11 09:48] theiq commented on #8571
I just checked the kubelet logs and it seems that the error is gone with the new 0.19.

Before we used Kubernetes on AWS. We tried both with and without  --hostname_overrides finally, with no difference at all.

[2015-06-11 10:07] gmarek commented on #9641
@gmarek

[2015-06-11 10:16] gmarek commented on #3952
I added watch-based monitoring to #9186, similar to what @lavalamp uses. The problem with this approach is that effectively we measure watch lag, which adds to e2e startup latency only for systems depending on watch. Ordinary gets/lists will return fresh data from etcd, which will include recently added entries.

[2015-06-11 11:00] justinsb commented on #9411
Sorry for false alarm; this was with a 0.17.1 build.  Confirmed that on newer builds docker does have oom_score_adj=-900 (and looking at the code, kubelet even reapplies it after a docker crash - nice!)

[2015-06-11 11:14] hurf commented on #9502
@yifan-gu I've tried to enable shippable build for my own fork, but it failed for non code reason. Do I need special settings in shippable.yml under root directory?

Part of the log message is as follows, do you have any idea of the error?

 ./hack/build-go.sh
    +++ [0611 11:04:21] Building go targets for linux/amd64:
        cmd/kube-proxy
        cmd/kube-apiserver
        cmd/kube-controller-

[2015-06-11 11:39] hurf opened #9661 "Reduce container ID in event to 12 characters"
Event logs the full ID of containers, it takes lot of places in the screen and make it hard to read other useful information.

    Thu, 11 Jun 2015 11:34:50 +0000   Thu, 11 Jun 2015 11:34:50 +0000   1         nginx-controller-6df80   Pod                     spec.containers{nginx}              killing            {kubelet 127.0.0.1}         Killing 08b2ba60914f1997d22669d2c1bce174fb9154350e143a224b4

[2015-06-11 11:54] TomasTomecek commented on #9013
Any update? This is _really_ annoying and I'm thinking of patching my k8s.

[2015-06-11 11:58] deads2k commented on #9620
One possibility we considered was attempting to perform an image pull no matter what the pull policy was.  If we got a 401/403, then reject the pod.  If we started to get back layers, then either allow the pull or cancel it and use the existing image.  The biggest problem with the approach was what to do in the case of non-401/403 rejection.  If the Docker registry is down and your policy is `IfNo

[2015-06-11 12:04] jdef commented on #8988
OK, so storm workers are advertising only their port and not an IP address
to go along with it?

On Thu, Jun 11, 2015 at 1:08 AM, Sanjana J Bhat <notifications@github.com>
wrote:

[2015-06-11 12:13] andronat commented on #9631
Added `-l` to the proposal

[2015-06-11 13:09] liggitt commented on #9013
I think the default API timeout has been lengthened to 60 minutes

Defined:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L54

Used for API server:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L418

It looks like the kubelet timeout is still 5 minutes, so that would gate log streaming to 5 minutes:
h

[2015-06-11 13:22] liggitt commented on #9013
More nuances in https://github.com/GoogleCloudPlatform/kubernetes/pull/8574
* Looks like the API http server times out after 60 minutes: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L418
* Watches time out between 5 and 10 minutes: https://github.com/GoogleCloudPlatform/kubernetes/pull/8574/files#diff-8083573e04feb68d0fbb1eed942974b9R70
* Kubelet h

[2015-06-11 13:25] rrati commented on #3952
@davidopp I read this requirement differently.  To me, a pod is scheduled when it has a node assigned to it and in that case I don't think there's a need to get any information from the kubelet.  You would check the apiserver for when a pod is assigned to a node (scheduled) and when the apiserver reports the pod running.

Am I misunderstanding the requirement?

[2015-06-11 13:29] jayunit100 opened #9662 "E2E: Modify networking.go to verify containers (rather than client) can access internet."
From a recent thread https://groups.google.com/forum/#!topic/google-containers/aDdYFLcQxk4 , it looks  like we can modify networking.go to do a test of external connectivity which is actually useful :).

The snippet im suggesting we replace ...

[code]

... in its place, we should write a test w/ a  simple pod which pings google **FROM INSIDE A CONTAINER** and prints "SUCCESS" after its done, then

[2015-06-11 13:30] markturansky commented on #9657
@casusbelli The examples referenced in the PV README work.  Those are my test/dev examples :)

I see your volume's path ```/var/www/html:/prod/silvan```

Is that directory accessible by Kubelet?  selinux enabled?

[2015-06-11 13:30] ncdc commented on #9620
A better solution would be to use the v2 registry client from docker/distribution to attempt to retrieve the image manifest. This would be much faster than trying to do a pull, but it obviously only works with v2 registries. But it would still have the same problem David describes, where if the image was previously pulled successfully, but the registry is down, you won't be able to use the image.

[2015-06-11 13:30] fgrzadkowski commented on #9485
After #9574 is checked few runs in jenkins and in all cases it caused by some random calls from other cases (e.g. POSTing limit ranges). I believe that we should just rely on density in scalability job.

@quinton-hoole Thoughts?

[2015-06-11 13:32] feihujiang commented on #9405
Sorry for the delay, I'll finish it as quickly as I can

[2015-06-11 13:36] TomasTomecek commented on #9013
Which means that getting logs timeouts after 5 minutes?

[2015-06-11 13:39] liggitt commented on #9013
yeah

[2015-06-11 13:40] liggitt commented on #9013
@dchen1107 did #8574 intentionally leave the kubelet timeout at 5 minutes, or should it be using the same ReadWriteTimeout as the api server?

[2015-06-11 13:44] marekbiskup commented on #9487
@lavalamp , is there a way to run the scheduler with debug logs?
I'm interested about the scores for nodes.
(even if it won't help me in this issue, it's a nice exercise)

I suppose the test fails because CPU utilization has a significant impact on scheduling pods - more that having a service. That's why all pods are scheduled on the same node.

I'm going to remove the requirement that there is on

[2015-06-11 13:46] liggitt commented on #9013
nm, @dchen1107 just merged the pr. @bprashanth, did #8574 intentionally leave the kubelet timeout at 5 minutes, or should it be using the same ReadWriteTimeout as the api server?

[2015-06-11 14:02] fgrzadkowski commented on #7561
In the last runs many of them didn't even start due to failed firewall creation. #9658 should fix this. In the remaining ones most problems were caused by too short timeout for RC creation. Hopefully @9571 should fix it.

I'll watch jenkins closely overnight.

[2015-06-11 14:12] casusbelli commented on #9657
Thanks for the feedback!
Yep, the path is accessible, and I tried also with the examples local /tmp/data-01/ path because /prod/ is a mounted distributed storage volume . Results where the same.
SeLinux is in permissive mode, it's a CentOS 7 box.

[2015-06-11 14:19] marekbiskup commented on #9394
The test is ready for the second round of review (#9493)

[2015-06-11 14:25] markturansky commented on #9657
Would you mind sharing your pv, claim, and pod json/yaml?

[2015-06-11 14:34] BugRoger commented on #7789
I was trying to put all infrastructure related resources into their own namespace. A side effect of this regression is that manifests have to live in the `default` namespace.

e.g. given the namespace `cluster` directly in the manifest, kubelet will complain with:
[code]

[2015-06-11 14:43] akamalov opened #9666 "Kubectl is reporting wrong Cluster Port"
Env: <b>CoreOS</b>
Release: <b>695</b>
Kubernetes Release: <b>0.18.0</b>

I am running Mesosphere + Marathon + Kubernetes framework. I have changed ```kube-apiserver``` port from ```8080``` to ```8888``` so it wouldn't conflict with Marathon listening port. Now, if I issue ```kubectl cluster-info```, it is reporting that a cluster is listening on port ```8080```, which is not true. It doesn't vali

[2015-06-11 14:53] bnprss commented on #9559
By the way it works, ip on cbr0 is set if kubelet parameter is settup and docker is correctly restarted with:
		if err := exec.Command("systemctl", "restart", "docker").Run(); err != nil {

I don't know what shouldn't work.

Best regards

[2015-06-11 14:56] casusbelli commented on #9657
In the end I simply ran the example files directly from the git directory as I couldn't find out what was wrong with my config. No modifications.
When that didn't work I filed this ticket. :-D

In essence I did a checkout from GitHub , ran hack/run-local.sh and followed on with the example, everything as root.
(I'm currently on my mobile, shellscript name might be misspelled).

[2015-06-11 15:01] jdef commented on #9512
This was a network configuration problem on the user's host (I've xref'd the issue w/ the details). It's been resolved.

[2015-06-11 15:37] gmarek commented on #3954
Waiting for #9549 to be merged.

[2015-06-11 15:41] mikedanese commented on #9649
@davidopp your use case is still possible (put a readiness probe on the log shipper or data puller), however if I want my webserver to stay up, even if my log shipper is failing a liveness probe, there's nothing I can do about it with the current semantics.

[2015-06-11 15:47] mikedanese commented on #8571
I've been reading through the code and I've tried to reproduce but have been unable to do so. If this happens again, please save the full kubelet logs (preferable at log level `--v=4`) and paste a link to them here. Also if it's possible to reproduce with any of the local cloud providers, please let me know the steps.

[2015-06-11 15:53] bprashanth commented on #9013
@liggitt we could easily bump up the kubelet timeout. The handlers on the kubelet don't have their own built in timeouts (like I did for watch), so a potential downside is long hanging /stats requests could hog connections, and depending on why they're hanging, continue consuming kubelet/cpu/cadvisor time.

@lavalamp had a suggestion previously about using elasticsearch, are you running with a clu

[2015-06-11 16:10] marekbiskup commented on #9487
#9671 is ready for review. Possible second round will be needed.
No changes in production code have been made (tests only).

[2015-06-11 16:10] brosner commented on #7042
I would love to see this get fixed and willing to help. Given that #8530 was pushed to after 1.0, I would like to avoid the custom kubelet binary for all my deployments.

I could use some suggestions on how to best fix this? Would looking for `safe_format_and_mount` in `/usr/share/oem/google-startup-scripts` before `/usr/share/google` be a reasonable fix?

[2015-06-11 16:16] mattmb commented on #9241
Seeing the same thing here.
[code]

This seems to be hanging: https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh#L2593

Just going to try on fedora 21

[2015-06-11 16:24] ravigadde commented on #1518
This can be achieved using anti affinity scheduler #9560 and a replication controller attribute that would maintain the number of replicas as equal to the number of nodes.

For this replication controller, the Replicas field is not relevant. Can you comment on whether this definition is appropriate before I submit a patch or if I should combine them in to a embedded replication policy object?

//

[2015-06-11 16:38] dchen1107 commented on #9349
One way to speed up docker's startup is removing all containers before reboot for testing purpose. There is not much things we can do at node level.

[2015-06-11 16:52] nkwangleiGIT opened #9673 "Best practice of kubernetes cluster setup to support large number of services"
Hi
We're planning to use k8s as the framework as our cloud service and need to support a large number of services(pods). I'm not sure if we have any guide or best practices to setup such kind of environment, from architectural view, some related questions below:
1. Do we need to setup cluster for each k8s components? like api-server, etcd, scheduler, controller-manager
2. Ho we can achieve best pe

[2015-06-11 16:59] derekwaynecarr commented on #9359
you should export NUM_MINIONS to the value desired or set it in your bash config file.

[2015-06-11 17:11] bprashanth commented on #9641
@vmarmol maybe has thoughts

[2015-06-11 17:13] parikhyash commented on #9633
Any update on this? @thockin

[2015-06-11 17:14] lavalamp opened #9674 "Move UI out of apiserver and into an addon pod"
(Filing for tracking; @timstclair is working on this as a starter project.)

[2015-06-11 17:18] justinsb opened #9675 "What storage driver (& kernel & OS) should AWS use?"
I have struggled to find a filesystem/kernel for AWS that really works well.

* GCE uses wheezy with a custom kernel and aufs, but aufs seems like a dead-end: it isn't in the kernel and looks like it never will be AFAICT.  Getting GCE's kernel onto AWS would likely be work, both one-off and ongoing (?).

* overlayfs seems like the future of aufs, but is only in newer kernels

* if we're going to u

[2015-06-11 17:19] erictune commented on #9430
You could add an event to kubelet when it notices a pod for the first time.  This would be generally be useful, and since it is events, you can process that at the end of the test.

[2015-06-11 17:26] #9435 closed

[2015-06-11 17:26] derekwaynecarr commented on #9474
@justinsb - you can get the namespace information from the downward API.

see the example here:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/downward_api.md

Closing the issue, re-open if this did not address your concern.

[2015-06-11 17:26] #9474 closed

[2015-06-11 17:32] marekbiskup commented on #9345
I implemented skipping not-ready nodes in #9676.
Is it enough to close this issue, or is there something else to be done here?

[2015-06-11 17:35] erictune commented on #9620
This sounds workable.

Aren't you running the registry in the same node as the apiserver and scheduler for openshift?  So, if any of those are down, they are all down, and you can't start new pods.  What I'm saying is it doesn't seem like a big loss in availability.

The other concern is bootstrapping; need to be able to restart file-based pods without registry started.  I think that can be addres

[2015-06-11 17:36] BenTheElder commented on #9359
Of course; I just meant that because in this case NUM_MINIONS is being set by the e2e config, and if your config NUM_MINIONS is the default of 1 or unset then vagrant strangely seems to not be able to access or list the minion, so others may run into that issue if they are only running tests.

[2015-06-11 17:41] dchen1107 commented on #9345
@marekbiskup I think that should fix the issue. @lavalamp ?

[2015-06-11 17:42] ncdc commented on #9620
The registry runs as 1 or more pods via a replication controller.

[2015-06-11 17:48] jayunit100 opened #9677 "E2E add some timeouts around client create, service accounts and other stuff outside It blocks."
looks like some (at least the namespace soak) of the tests lead to a  loop on service accounts... which behaves like a very long, cold start...but the tests aren't timing out. maybe because setting up the client isnt inside of a ginkgo `It` block...?

(example https://github.com/GoogleCloudPlatform/kubernetes/pull/9322)

So... lets add some timeouts in e2e where the service account (i.e. is maybe

[2015-06-11 17:53] #9221 closed

[2015-06-11 17:56] yifan-gu commented on #9559
@bnprss Sorry, you mean `exec.Command("systemctl", "restart", "docker").Run()` works, right?

[2015-06-11 18:01] #8713 closed

[2015-06-11 18:06] brendandburns commented on #9657
I think the Docker nginx (https://registry.hub.docker.com/_/nginx/) uses ```/usr/share/nginx/html``` not ```/var/www/html```  judging from the examples given on the hub's page.

[2015-06-11 18:13] brendandburns commented on #9661
I think we'd happily take a PR to do this... ;)

[2015-06-11 18:14] ddysher commented on #8735
I reached this while trying to setup a private registry.  Basically, allow docker on each node to be able to pull from image "kube-registry.default.cluster.local/myimage".  There are other workaround, but being able to reach kube dns server is definitely a win.

What's the problem of configuring resolve.conf based platform?   I think we have a support matrix right, so it shouldn't be too hard to a

[2015-06-11 18:16] brendandburns commented on #9577
@andronat those instructions referred to an old hyperkube image (v0.17.0) and so I needed to preserve them.

https://github.com/GoogleCloudPlatform/kubernetes/pull/9651

has the complete update.

[2015-06-11 18:16] #9577 closed

[2015-06-11 18:19] davidopp commented on #3952
I honestly don't remember how we originally intended this issue and #3954 to be interpreted. But I think the best interpretation is that they describe non-overlapping parts of the startup process that sum to the end-to-end startup latency. That is, given the following steps:

(1) pod created
(2) scheduler assigns host to pod object
(3) pod starts running on kubelet; PodStatus.StartTime is set to t

[2015-06-11 18:21] mattmb commented on #9241
Now failing on the first call to yum `yum install -y openvswitch bridge-utils`
[code]
Or on a different network
[code]
Are we doing anything non default with yum? Or are the repositories it happens to be selecting for me just broke?

[2015-06-11 18:25] brendandburns commented on #7964
I'm going to close this.  We're going to add the 172 range to container-vm, it is a necessary feature to enable running a registry on the cluster itself.

[2015-06-11 18:28] #6548 closed

[2015-06-11 18:29] lavalamp commented on #9487
I think if you set v=10 you'll see the log messages with that info in them.

[2015-06-11 18:43] lavalamp commented on #9013
IMO there's no reason not to make kubelet server's timeout really long, at least for these requests.

[2015-06-11 18:53] #9634 closed

[2015-06-11 18:57] alex-mohr commented on #3952
If it helps, my take: one reasonable end-user-visible SLO is the time from "kubectl create -f blah.yaml" until a "kubectl get pod blah" returns it in a running state.   Other end-user SLOs might also be useful to measure: e.g. the time from "kubectl create" until some/all of the pod's processes are created, or until watch returns it, etc.  Those are the things users observe, and if we directly mea

[2015-06-11 19:02] amygdala commented on #9593
yeah, I know... I still constantly wince, though, and suspect many others do the same.

[2015-06-11 19:21] timothysc commented on #9208
So it seems that the reason it doesn't fail in my case, is defaults have changed around service-accounts which appear to have been updated for other configs, but on wide-open default there is no mount, but tests expect them on startup.

@jayunit100, @rrati.

Please close... we'll open other issues as needed.

This is a bug imho, but we'll root them out 1 by 1.

[2015-06-11 19:54] karlkfi opened #9681 "Vagrant e2e test failures"
Running `KUBERNETES_PROVIDER=vagrant make test_e2e` (on mac os) against the upstream_ks8m branch (admittedly slightly behind master). Once this finishes, I'll run against master (but it takes a REALLY long time when it's failing and timing out).

1) LoadBalancer

[code]

2) Node Resize:

[code]

3) Create and Stop a Replication Controller

[code]

4) Rolling update of a Replication Controller

[co

[2015-06-11 19:57] jdef commented on #9681
/cc @davidopp

[2015-06-11 19:58] brendandburns commented on #7964
Actually, I took a closer look, this was in salt.  I'm going to re-open and fix this for real.

[2015-06-11 20:03] justinsb commented on #9474
Thanks @derekwaynecarr - that is a good option that I wasn't aware of!

I was hoping for something that didn't require the manifest writer to do anything, but maybe that's over-optimizing.  (I'm thinking about packaged k8s apps that can just be deployed and will self-configure, but it'll probably involve a service & and an rc anyway so this would actually work great).

Between this and the option

[2015-06-11 20:03] pnovotnak opened #9682 "Document Resolvable Names"
Document all SkyDNS records, or provide *and document* a method for getting an index from the Kubernetes API &| UI.

[2015-06-11 20:09] gmarek commented on #3952
I partially agree. Yes, there can be some lag between information about running pod is written to etcd and the time when "get pod" will return it, but goal stated this way is impossible to test without somehow heavily instrumenting API server. If we want to treat API server as a black box, it's impossible to know if "get" call would return running pod or not without actually calling it, and we don

[2015-06-11 20:13] JasonGiedymin commented on #9488
I'll try to verify some of this. One thing I'd like to point out is that base box DL is SLOW. You'll have to give me some time.

@PeregrineFalcon Most of the important things like export, up docs work. Also the kubectl.sh script instructions should work too. Not sure what on the page is out of date save say the pre-reqs. Anyways, I'm still __downloading__... give me time.

[2015-06-11 20:20] lavalamp commented on #3952
sophisticated users will use watch instead of get for measuring this, so I think it's valid for us to use watch when making this timing measurement.

[2015-06-11 20:26] bprashanth commented on #8801
So i noticed our scalability tests on jenkins are using an n1-standard-8. Did I miss the notification of an upgrade, I thought we settled on a standard-4 in https://github.com/GoogleCloudPlatform/kubernetes/issues/6454?

[2015-06-11 20:29] bprashanth commented on #9119
Also observed here https://app.shippable.com/builds/5579ea717915e70b0059767b

[2015-06-11 20:31] bprashanth commented on #3952
Watch can lag upto 30s in a 100 node cluster with 3000 pods :)

[2015-06-11 20:31] PeregrineFalcon commented on #9488
@JasonGiedymin Thanks for the help.

As far as docs, the kubernetes auth FAQ at bottom is no longer accurate also, the instruction
[code]
does not work on OS X and requires a manual download.

[2015-06-11 20:37] mikedanese commented on #9649
@njuicsgz We have a code freeze for 1.0 at the end of the week (tomorrow), and I think what you are proposing is a larger api change then just unwinding readiness from liveness. readinessProbe should kill a container but only if it's and execAction and it returns a status code > 1? That seems intuitive. I also think that the concept of readiness and liveness should be orthogonal in the api, and ha

[2015-06-11 20:43] davidopp commented on #9649
I think the coupling is slightly better than the decoupling (new way requires people to write an extra readiness probe) but I'm fine with the change.

[2015-06-11 20:54] JasonGiedymin commented on #9488
@PeregrineFalcon the curl script should be brought up in another issue. So that doesn't get overshadowed by vagrant label this pr has. Also take a look at #8514

[2015-06-11 20:58] davidopp commented on #8801
Thanks for noticing this! I was under the same impression as you. @fgrzadkowski

[2015-06-11 21:13] yifan-gu commented on #9502
@hurf It's the gopath problem, because now you are now under $GOPATH/src/hurf instead of $GOPATH/src/GoogleCloudPlatform.

Quick hack:
Add these two lines at the end of `before_install` in shippable.yml
[code]

[2015-06-11 21:27] dchen1107 commented on #9486
@satnam I believe ElasticSearch test failed due to the same reason I found at  #9345. There is a pending pr #9676 to resolve that one. Once that is merged, ElasticSearch test should use the same util method to check which node is ready, and schedule the pod to those ready nodes.

[2015-06-11 21:30] karlkfi commented on #9681
On master I can't even get master validation to finish...

[code]

[2015-06-11 21:55] RichieEscarez commented on #9494
Hi @erictune,
I spoke to @brendandburns about this and in short, for the sake of simplicity in the long run, the decision was to continue as planned and separate the docs into the gh-pages branch.

Search will be available in Kuberenets.io and the expectation is as the code stabilizes that eventually there will be fewer and fewer combined code and doc changes.

[2015-06-11 21:59] dicato commented on #2849
@brendandburns for clarity, what component is this limitation in? I'd assume `kubelet`?

Does this same limitation apply to container optimized GCE images? I'd assume so.

Thanks!

[2015-06-11 22:02] smarterclayton opened #9689 "cAdvisor in containerized Kubelet can't find Docker to move it into a container"
Testing containerized Kubelet and seeing:

[code]

This is normal because Docker isn't in the pid namespace of the kubelet - but either cAdvisor needs to use the same pid namespace escape tricks that the kubelet uses for mounts, or we need to run the kubelet outside of a pid namespace, which makes other things regarding the container much harder.

Started with https://github.com/google/cadvisor/is

[2015-06-11 22:12] dchen1107 commented on #9689
cc/ @vmarmol @rjnagal

[2015-06-11 22:13] saad-ali commented on #5880
Abhi (@ArtfulCoder) and I will work on this together.

Ideally we'd like to measure the following metrics:
* Heapster to API Server
  * QPS
  * Latency
  * Read/write error rate
  * Total number of events being pulled
* Heapster to Kubelet(s)
  * QPS
  * Latency
  * Read/write error rate
  * Total number of metrics being pulled
* Heapster to backends (GCM, GCL, InfluxDB)
  * QPS
  * Latency
  * Re

[2015-06-11 22:17] vishh commented on #5880
Thanks for picking this up!
`4` can be tackled by using a real monitoring backend like GCM.

[2015-06-11 22:18] mikedanese opened #9690 "Add e2e tests for readinessProbe and livenessProbe"

[2015-06-11 22:19] dchen1107 commented on #5880
@saad-ali The plan SGTM Thanks!

[2015-06-11 22:54] dchen1107 commented on #8918
docker/docker#13850 is fixed. Also there are some network regression found in rc2 too. Will tested it again with rc3 once it is out (today or tomorrow. )

[2015-06-11 23:01] erictune commented on #1518
I think it is a bit more complex than that.
 - it isn't sufficient to set the number of replicas equal to the number of nodes.  If one node leaves and another appears at about the same time, the controller needs to add a pod for the new node and delete the pod for the departed node.  The pod that was on the departed node won't be rescheduled elsewhere.
 - Doing a rolling update of per-machine pods

[2015-06-11 23:04] karlkfi commented on #9681
[code]

[2015-06-11 23:05] karlkfi commented on #9681
Might be related to this issue:
- https://github.com/GoogleCloudPlatform/kubernetes/issues/9359
- https://github.com/GoogleCloudPlatform/kubernetes/pull/9563

[2015-06-11 23:29] akamalov opened #9694 "Question: Kubernetes v0.18.0 - kube-controller-manager - kubelet_addresses"
<b> This is a question - Not an Issue </b>

Quick question: As of ```v0.18.0``` does ```kube-controller-manager``` still have ```--machines=```directive? .  It  does not look like that it does:

[code]

I am using ```kube-register``` and all daemons are up in master node, including  minion node ```proxy``` and ```kube-kubelet``` are active. However, I can't seem to be able to discover my minion no

[2015-06-11 23:53] brendandburns commented on #9349
The reboot test shows no failures in the last 30 runs due to this bug.  I'm de-prioritizing back to P2, and if it continues to not be flaky, I'm going to kick it out of 1.0

[2015-06-12 00:08] erictune commented on #9675
Btrfs looks like it has some benefits in the desktop and "pet" server scenarios.  However, the benefits appear reduced in the Kubernetes environment:
  - Atomic COW snapshots: this is useful for backups, but you shouldn't need to backup your node because it can be recreated.
  - Per-block checksumming: nice, but, again, nodes can be reimaged or replaced if they start acting weird; persistent volum

[2015-06-12 00:17] karlkfi commented on #9681
Looks like the problem is in loading `/usr/lib/systemd/system/kube-apiserver.service`:

[code]

I suspect the `"$DAEMON_ARGS"`...

[2015-06-12 00:22] mikedanese commented on #9694
`--machines` and `kube-register` are no longer necessary as self registration is now built into core kubernetes.

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/node.md#self-registration-of-nodes

[2015-06-12 00:26] akamalov commented on #9694
Thanks a ton, Mike. I'll try to re-visit my config file again.

Alex

On Thu, Jun 11, 2015 at 8:23 PM, Mike Danese <notifications@github.com>
wrote:

[2015-06-12 00:51] njuicsgz commented on #9649
So that readiness will only mark status and send event, but not report its result to SyncPod().
LGTM thanks.

[2015-06-12 00:52] JasonGiedymin commented on #9488
I had to revert. Fedora21 doesn't work for me, download speeds on my super fast connection are horrible.

[code]

[2015-06-12 00:52] karlkfi commented on #9681
Looks like the failure to come up might be caused by https://github.com/GoogleCloudPlatform/kubernetes/pull/9093 but I'm not certain. The upstream_ks8m branch that at least comes up did not have this commit.

[2015-06-12 00:55] karlkfi commented on #9488
I haven't been able to get Fedora21 working either, even when the image downloads. The `/etc/sysconfig/kube-apiserver` seems to be missing on the master. https://github.com/GoogleCloudPlatform/kubernetes/issues/9681 has more details.

[2015-06-12 00:59] pnovotnak opened #9696 "Document NodePort Address Rage"
Just like it sounds.

[2015-06-12 01:05] erictune commented on #9682
Each time you create a kubernetes service, it creates A and SRV records for that service.
So, I can't document all the records themselves, but the process is documented in `cluster/addons/dns/README.md`, which I admit is not the normal place you'd expect to find docs.

To dump out all the records, I did this:
[code]
I first tried `dig -tAXFR @10.0.0.10 cluster.local` but it said `; Transfer failed

[2015-06-12 01:16] derekwaynecarr commented on #9488
Kubelet issues are fixed in

https://github.com/GoogleCloudPlatform/kubernetes/pull/9563

[2015-06-12 01:17] derekwaynecarr commented on #9681
See https://github.com/GoogleCloudPlatform/kubernetes/pull/9563

[2015-06-12 01:45] pnovotnak commented on #9682
Perfect! After running `kubectl describe service/kube-dns` to get the endpoint for the DNS service and querying it like `dig @<endpoint ip> cluster.local SRV` I indeed see an exhaustive list of services. I had tried AXFR previously and gotten the same result.

So, this brings me to my real question, which I can think a little more on and create a separate ticket for if appropriate, or buzz off if

[2015-06-12 02:06] BenTheElder commented on #9488
I've got this working smoothly with the PR @derekwaynecarr mentioned.
Also @JasonGiedymin the download only has to run once and comes from the same location as the fedora 20 image ... ?

[2015-06-12 02:27] WIZARD-CXY commented on #9694
agreed

[2015-06-12 04:25] mikedanese commented on #9621
I've had some issues with mergo before (see #4008 #4416). Personally, I'm comfortable with leaving it pinned, until it doesn't work for us, at which point we could remove it altogether. I mean it's _just_ one method.

[2015-06-12 04:45] JasonGiedymin commented on #9488
@BenTheElder These opscode boxes hosted on S3 images are problematic for me every now and then. Was finally able to add the box.

[2015-06-12 04:46] justinsb commented on #8571
So I'm trying to get to the bottom of this on AWS.  I'm pretty sure the error happens because kubelet tries to get information about itself, and in order to do that is queries (cached) information from the API nodes collection.  See GetNode & GetHostIP in pkg/kubelet/kubelet.go.

I'm not clear whether the kubelet on the master is supposed to register itself as a node.  If not, I don't see how this

[2015-06-12 05:00] roberthbailey commented on #8571
On GCE I disabled the kubelet on the master from registering itself in the cluster (see https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/saltbase/salt/kubelet/default#L25-L28). I think it would be ok to allow it to register, assuming you wanted to be able to use it for running work in the cluster.

[2015-06-12 05:24] JasonGiedymin commented on #9681
@karlkfi do a `vagrant destroy` before doing a kube-up. Run again.

[2015-06-12 05:31] dalekurt opened #9704 "Building binaries fails"
I'm trying to build a release but I get this error message ` Error in hack/test-go.sh:159`. Here is a copy of the results.

[code]

[2015-06-12 05:46] davidopp commented on #1518
That's a pretty interesting point.

I think there are (at least) two ways to handle this.

Approach 1: The "dumb scheduler" approach. RC orchestrates everything. That is, it creates pods with hostname label selector, and creates new pods when a new machine is added or comes back from being down. The problem with this approach is the issue you mentioned in your second bullet (though I think you int

[2015-06-12 06:06] ravigadde commented on #1518
@erictune
Very valid points.
1) If a node goes away, node controller would evict the pod. The default pod eviction timeout was very large last time I looked at it (5 mins). Since RC only looks at total number of nodes and pods, it doesn't notice this condition until the timeout happens and the pod is deleted by node controller.
2) Yes upgrade is tricky but conflict labels #9560 help. If the same c

[2015-06-12 06:22] davidopp commented on #3952
I realized my 4-item list earlier was wrong. Step (3) has two parts
(3a) Kubelet receives pod; this is the time it will use in PodStatus.StartTime
(3b) pod starts running on Kubelet (after images are fetched and process(es) started)

The thing we're measuring in #3954 is (1) through (3a).

Anyway, I agree with @alex-mohr  that we want an end-to-end time (with pods that are already on the minion so

[2015-06-12 06:23] hurf commented on #9502
@yifan-gu, thanks, it works. But it brings new git problem. It seem shippable only recognize shippable.yml in master branch.

when shippable.yml is modified in master branch. It works fine

     **git checkout -f master --
    Already on 'master'
    Your branch is up-to-date with 'origin/master'.
     git reset --hard bc1fdb8e659f1d43fdfd9609976dbfc9987da339
    HEAD is now at bc1fdb8 Merge remot

[2015-06-12 06:33] dalekurt commented on #9704
I was able to resolve the issue with the following:

[code]

[2015-06-12 06:43] YanXiaoping commented on #7891
I modifed examples/liveness to try readiness probe and have same problems.

Another issue is that probe interval seems to be controlled by sync-frequency which is a kubelet parameter:
          --sync-frequency=10s: Max period between synchronizing running containers and config
I think different pod may want to use different probe interval, so it would be good if we can define pod specific probe i

[2015-06-12 07:08] YanXiaoping commented on #7891
One more question:
when liveness probe succeeded, and readiness probe failed,container "liveness" is unhealthy, will be killed and recreated.
Same behavior when liveness probe failed.
So what's the different on using liveness and readiness probe? (seems to me no difference, container is killed and recreated no matter liveness probe fail or readiness probe fail.)

kubelet logs:

Jun 12 09:49:11 k8s

[2015-06-12 07:18] jszczepkowski commented on #9487
This scenario is OK.

[2015-06-12 07:21] casusbelli commented on #9657
Bang on, path in the image was different!
 _sigh_
Thanks a lot Mark & Brendan !!

[2015-06-12 07:21] #9657 closed

[2015-06-12 07:32] davidopp commented on #1518
Until we have a priority-based scheduling scheme, the extra-pods approach doesn't work, for the reason @erictune originally mentioned and which I also mentioned: when a machine comes up, other pods may fill the machine and the one you want running on every node may not be able to fit. (Or as @erictune also mentioned, even a rolling upgrade gives a window of time when another pod could sneak in and

[2015-06-12 07:33] marekbiskup commented on #9487
@lavalamp , sorry for such simple questions, but how do I set v=10?

[2015-06-12 07:46] gmarek commented on #3952
In my test I measure something slightly different than (3a) and (3b). Namely there's a
(3b') All containers in the pod are in the Running state.

The thing that is measured in #9186 is (3b') which is maximum over containers of Pod.Container[x].State.Running.StartedAt.

We'll merge #9549 today, so I'll be able to run tests, and update this bug with the results.

[2015-06-12 08:12] davidopp commented on #8801
@fgrzadkowski is going to switch the scalability Jenkins back to n1-standard-4.

I forgot that he and I had briefly discussed this; the argument was that it's reasonable to ask people with large clusters to run beefier masters, which seemed reasonable to me. But I think it would be good to see how n1-standard-4 compares. He also pointed out that when he reported the latest stats, he mentioned that

[2015-06-12 08:14] thomschke commented on #9271
same problem with 0.18.2

pod `kube-dns-v1-6iptb` is `PENDING` due to host is `<unassigned>`

[2015-06-12 08:37] feihujiang commented on #9405
@mikedanese #9707 just solves the DirectoryVisitor's continue loops. Now I'm thinking  a change to visitor to allow it to accept an error, like Go's path walker.

[2015-06-12 08:40] bnprss commented on #9559
yes it's working, I made several test this moring.

[2015-06-12 09:11] fgrzadkowski commented on #4521
@davidopp Results with 4 core master:

Density with 3 pods per node
[code]

Density with 30 pods per node
[code]

Load test
[code]
NOTE: For load tests some requests were performed when we were creating/deleting RCs, so the cluster was not full (full spectrum from 0 to 30 pods per node)

@davidopp I suggest we keep 4 core master, but increase the threshold for density to 3 seconds. WDYT?

[2015-06-12 09:12] fgrzadkowski commented on #8801
Please see https://github.com/GoogleCloudPlatform/kubernetes/issues/4521#issuecomment-111423515 with the results for 4 core master.

[2015-06-12 09:17] davidopp commented on #4521
Sure, sounds good.

[2015-06-12 09:18] davidopp commented on #4521
And thanks for collecting the additional data. That doesn't look too terrible vs. the 8-core data (i.e. it's not 2x the latency).

[2015-06-12 10:11] marekbiskup commented on #9345
status: waiting for merge of #9676

[2015-06-12 10:36] #9570 closed

[2015-06-12 10:54] #4521 closed

[2015-06-12 10:54] #7561 closed

[2015-06-12 10:59] akamalov commented on #9694
@v0.18.0  - Still cannot get minions correctly register with API server. Here are the messages I am getting:

[code]

Issuing command from a master node:

[code]

No registration. Can't discover nodes :(

[2015-06-12 12:41] mnemotiv opened #9711 "API server hangs with --etcd-config"
If I'm using --etcd-servers=http://127.0.0.1:2379 - API server starts normally.

If I'm using --etcd-config=/var/lib/etcd/etcd.json - API server hangs right after publishing swagger log lines and doesn't publish/bind ports and API server process stays "hanged" here without any errors.

[code]

I've tried with all certificate files, https protocol and etcd with https/certs also - same  problem with

[2015-06-12 13:01] timothysc commented on #9662
report sure.. but many people want an air-gaped cluster.

[2015-06-12 13:06] paulbakker commented on #9521
Having the same problem (trying to create a service), both when using the Go client and REST. Switching to beta3 works.

[2015-06-12 13:21] timothysc commented on #1518
The typical use case I see of per-node replication is some form of provisioning.  In those scenarios you can just startup the pod at boot time and consider your base boot-strapping images immutable.

Eventually with preemption+priority, we can just boot out other pods and a naive controller would work.

[2015-06-12 13:59] justinsb opened #9712 "Specify PersistentVolumeClaimSource by Selector, not Name"
My understanding is that when we want a cluster of e.g. 3 pods with persistent storage, the best we can do today is to launch 3 RCs, specifying a different persistent volume for each.   We can still group those into one service.

I think it would be nice to be able to just specify one RC, and have it map to a group of persistent volumes.

One way to do that would be to specify a list of persistent

[2015-06-12 14:00] fgrzadkowski commented on #4747
@alex-mohr do we still have some issues not resolved regarding cluster upgrade?

[2015-06-12 14:02] jayunit100 commented on #9662
Yeah ....
This might be a warning report rather than an error.

[2015-06-12 14:05] fgrzadkowski commented on #9107
I think we need a tie-breaker here. I see there are arguments for both using DNS and using env vars. @brendanburns You were looking into many UX related things. WDYT?

[2015-06-12 14:07] markturansky commented on #9712
+1.

Yes, we need a way for replicas from a replication controller to get their own volume but use the same single claim in the RC.  That was out of scope for the original implementation but it is a known limitation that will be worked post 1.0.

A good use case is MongoDB where each node in the mongo cluster requires its own volume.

[2015-06-12 14:07] akamalov opened #9713 "Getting error status on WatchServices channel"
Getting the same errors as in ticket: https://github.com/GoogleCloudPlatform/kubernetes/issues/3258

API server is on non-standard port of ```8888``` instead of ```8080```. I had to do it to avoid port conflict with Marathon.  Getting ```kube-proxy``` errors:

[code]

[2015-06-12 14:46] mikedanese commented on #9694
@akamalov your kubelet needs to be able to auth with the apiserver with either  bearer token or basic auth credentials, let me take a look for some docs...

[2015-06-12 14:56] akamalov commented on #9694
Really?  The doc does not mention about auth credentials:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/node.md

kube-kubelet section of the node.yaml does not contain directives for credentials either:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/cloud-configs/node.yaml

[2015-06-12 15:01] marekbiskup commented on #9394
The third round of review is necessary. To be ready on Monday.

[2015-06-12 15:09] akamalov commented on #9694
I am speculating here, but it could be because of this https://github.com/GoogleCloudPlatform/kubernetes/issues/3258

[2015-06-12 15:13] erictune commented on #9673
How large is large?  We have tested with 100 nodes and 30 pods per node (3000 pods).  If your cloud service is much larger than that, then we should discuss further.

Are you planning to run on hosted VMs, or on-prem VMs, or bare metal?   That will help me help you pick one of the getting-started guides that will work for you, which is a prerequisite for answering a lot of your questions.

You ask

[2015-06-12 15:14] mikedanese commented on #9694
@akamalov notice the --kubeconfig command:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/node.md#self-registration-of-nodes

[2015-06-12 15:14] gmarek commented on #3952
I did the experiment and put the results in #3954. I measure everything separately, so we have 'time to running on kubelet' latency, 'time from trying to submit to seeing in in watch' latency and the sum of those two.

[2015-06-12 15:19] akamalov commented on #9694
Wow, Thank You! Obviously I have missed it. Mike, where would I find sample entries which I can reference to configure my environemnt?

[2015-06-12 15:22] akamalov commented on #9694
Got the example file:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/kubeconfig-file.md

However, does it mean that I need to setup CA files ?

[2015-06-12 15:26] justinsb commented on #8571
Thanks @roberthbailey - I had overlooked that change you made in salt!

By adding that to the branch I am working on I got past the problem I was working on.  (BTW, I really don't want normal pods on the master, not least because we don't have kube-proxy on the master!)

However, I do still see this issue, though only on the master. This is on GCE 0.18.2 (and on something close to head on AWS). On

[2015-06-12 15:26] akamalov commented on #9694
I think I got it. Need to configure the environment using ```kubectl```. Will keep you posted. Thanks Mike!

[2015-06-12 15:27] mikedanese commented on #9694
@akamalov I don't think tls is neccesary, though it's recommended to setup tls (but I haven't actually looked at this stuff). I'm going to bring up a cluster and paste.

[2015-06-12 15:35] mikedanese commented on #9694
apiserver is started with:
[code]

[code]

[2015-06-12 15:37] gmarek commented on #3954
I run #9186 tests for 3, 5, 10, 15, 20, 25, 30 pods/node saturation on 100 n1-standard-1 node cluster with n1-standard-4 master, three times each.

TL;DR; General observation is that I didn't observe long "watch" latencies what @bprashanth suggested. It's always <1s on 50%, <2s on 90% and <3s on 99%. We also seem to scale pretty well, which makes me think that we don't have a problem with a load,

[2015-06-12 15:37] akamalov commented on #9694
Mike, does kube-apiserver need to be setup for authentication as well ?

[2015-06-12 15:38] mikedanese commented on #9694
^^^ that is the apiserver, then you need to create an appropriate kubeconfig for the kubelet.

[2015-06-12 15:48] karlkfi commented on #9681
Confirmed: https://github.com/GoogleCloudPlatform/kubernetes/pull/9563 fixes kube-up.

[2015-06-12 15:55] akamalov commented on #9694
Nope, no cloud provider. Local setup on CoreOS + Mesosphere

[2015-06-12 15:57] roberthbailey commented on #8571
It seems like that check should be skipped if the apiserver isn't passed to the kubelet.

This looks like an error to anyone looking through the kubelet logs, but we want the kubelet to work in stand-alone mode too, and in stand-alone mode we will see this error for all statically configured pods (as we do on the master).

[2015-06-12 15:58] roberthbailey commented on #8571
@dchen1107

[2015-06-12 16:03] bprashanth commented on #3954
The watch latency I mentioned is on the master (eg from the rc manager) while it's bringing up 3000 pods. You probably won't observe these latencies with a watch running on your machine because it's a function of both master slowness and the client watch goroutine not getting cpu.

That first line means with 3 other pods on the node (including cluster addons I'm assuming), spinning up 1 pod took 5

[2015-06-12 16:07] mikedanese commented on #9713
`Status:Failure Message:401` indicates to me that the kube-proxy is unauthorized. It needs to have valid auth credentials to start a watch on the apiserver.

[2015-06-12 16:08] RichieEscarez opened #9717 "Validate that each "Getting Started Guide" passes e2e for v1"
To ensure we dont publish anything for v1 that does not work, each Getting Started Guide should pass e2e. Otherwise we only mention that those IaaS (which dont pass e2e) are in progress (under development/revision/being updated).

For those that do not pass e2e and do not get published (for v1 - stable), we can point to that "in-development" Getting Started Guide under the HEAD doc set (unstable).

[2015-06-12 16:16] smarterclayton commented on #7789
Just because you said that - openshift recently switched to creating our system level service accounts in a namespace (configurable) called "openshift-infra".  We should try to have a common pattern between Kube and OpenShift there.  What name were you going to default to, "cluster"?

----- Original Message -----

[2015-06-12 16:19] iterion opened #9718 "AWS: CreateTCPLoadBalancer fails with 2 subnets in the same AZ."
I ran into an issue today when trying to create an externally load balanced service on AWS. It appears that when we create a ELB on AWS we just pull all of the subnets in the VPC and pass those to the creation of the ELB. AWS complains with `ELB cannot be attached to multiple subnets in the same AZ.`

In my setup I had 3 subnets (2 of which were not actually used by the cluster) and 2 of those sub

[2015-06-12 16:25] dchen1107 commented on #8571
Sounds like we confirmed the problem only occurs on master node, not minions. I am lowering the priority back to P2 now since it is spam. But we should fix those misleading messages. @mikedanese has a pending fix for it.

[2015-06-12 16:36] erictune opened #9721 "Excessively verbose error when update fails"
What happened:
[code]

I don't need to see addresses of pointers of the internal representation.  And I don't even need to see any representation of the object, since the last part of the error message is pretty clear.

What I would like to have seen:
[code]

Ideally, it would also say which fields it thinks I am changing.  But just removing the spew would be a net improvement.

[2015-06-12 16:38] bprashanth commented on #9713
A watch expiring ~5m is ok. I see you have the expiration at shorter intervals sometimes, which is a little weird, but I'm going to say this is mostly normal and you probably see similar errors in you other logs (eg: kubelet). Everything should still work though? If this is the case, we should do a better job of surfacing what's going on, instead of just piping back the etcd error.

[2015-06-12 16:41] gmarek commented on #3954
I'm not deleting anything. The problem may be (it's actually a problem of Density test) that it's not guaranteed that of this #Nodes * 3 pods will be evenly distributed. So it's possible that this median "5" is actually on nodes with more than 3 pods, but not many more.

[2015-06-12 16:44] bprashanth commented on #3954
so you're bringing down the cluster between your runs (otherwise how do you avoid a pile up of 3+5+...)? The density test will delete at the end, this is an expensive operation and you probably have to wait till the kubelet has cleared out pods.

[2015-06-12 16:44] #9313 closed

[2015-06-12 16:51] gmarek commented on #3954
Oh, sorry - between runs I do delete everything between runs.
Note that the first test also had 5sec median so I doubt deletion is a problem.

[2015-06-12 17:12] nelcy commented on #1518
+1 for priority based scheduling scheme.

@davidopp @erictune
Irrespective of the agents discussion, I think we will still need solve the problem of newer pods replacing older pods when a node goes down and comes back alive. As David mentioned, the problem can be solved to a certain degree using the priority based scheduling scheme, but not 100%. Users intuitively want their previously running job

[2015-06-12 17:22] jfoy commented on #2890
@pires I'm afraid not; it's on my list to return to.

The [Rackspace provider](https://github.com/GoogleCloudPlatform/kubernetes/tree/c08f202fb9a7e8c8b8f142d4a8ea9d689c60ead2/cluster/rackspace) is a reasonable starting point. The next steps I would take would be to extract most of its cloud-config units to Fleet, then abstract out master discovery (I suggest the master should be assigned by Fleet

[2015-06-12 17:45] saad-ali commented on #5880
Abhi and I set up a GCE cluster with 4 nodes yesterday. We scheduled 275 pods (1 container each) on the cluster. Within an hour heapster stopped sending data to GCM because we hit quota limits:
[code]
By morning time the error switched to:
[code]

To by pass I will try to get quota increased, in the meantime, I'll set up a script to scrap docker stats off the machine directly.

CC @erickhan @dchen

[2015-06-12 17:48] vishh commented on #5880
The quota issue is expected.

On Fri, Jun 12, 2015 at 10:46 AM, Saad Ali <notifications@github.com> wrote:

[2015-06-12 17:51] dchen1107 commented on #5880
We are filing the request to ask for more quota. Is there any easy way to get those quota, and do we have a estimation on how big quota it should be for a given cluster size (number of nodes and number of pods, etc. ) cc/ @roberthbailey @a-robinson too.

[2015-06-12 18:16] mulloymorrow commented on #8609
[code]

[2015-06-12 18:24] jfoy commented on #9283
@bgrant0607 We'll adjust our applications to use the downward API where we control the mechanism of name discovery.

Our problem is with legacy JVM programs that expect meaningful results from `InetAddress.getLocalHost.getCanonicalHostName` and `InetAddress.getLocalHost.getHostName`, and more generally, for components expecting `getaddrinfo()` to behave predictably.

Does Kubernetes make a stateme

[2015-06-12 18:34] mikedanese commented on #8609
@mulloymorrow show me some-replication-controller.yaml! put quotes on your strings!

[2015-06-12 18:35] brendandburns opened #9725 "Turn down timeouts on services tests when we resolve long turn-up issues"
See:  https://github.com/GoogleCloudPlatform/kubernetes/pull/9724

We should turn those timeouts back down if we resolve what is going on.

[2015-06-12 18:52] brendandburns commented on #9725
See GCE support ticket 21807001 for more details

[2015-06-12 18:57] matthiasr commented on #8609
I guess this is a completely separate issue, but would it be possible to coerce numbers into strings where that makes sense ( = label values )?

[2015-06-12 19:34] RichieEscarez opened #9729 "Remove use of "minion" from graphic"
~~https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/ovs-networking.md~~
 https://github.com/kubernetes/kubernetes/blob/master/docs/admin/ovs-networking.md

Related: #8599, #9176, #1111

[2015-06-12 19:40] #9694 closed

[2015-06-12 19:41] akamalov commented on #9694
Thanks a lot Mike. Using your examples I was able to configure the minions.

[2015-06-12 19:41] akamalov commented on #9713
Errors were due to misconfiguration. kubeconfig had to beconfigured with correct authentication parameters.

[2015-06-12 19:41] #9713 closed

[2015-06-12 19:42] jseaidou commented on #9621
@mikedanese Fair enough. I will close the ticket.

[2015-06-12 19:42] mikedanese commented on #9694
Awesome!

[2015-06-12 19:46] bprashanth commented on #9713
That's great! though I'd assumed if you misconfigured something it would break right away not every 5m, so keep an eye out for it anyway ("the requested history has been cleared [942342/941958]) [943341]" is a classic etcd watch error)

[2015-06-12 19:46] krousey opened #9731 "Cannot remove types from API and then run code gen tools"
I am trying to remove ContainerManifest from the API package. There are some references to it in deep_copy_generated.go. So I thought I'd just delete it from types.go, and then run the tool to regenerate that file.

It turns out that the generation tool depends on the API package? So I can't build it:

[code]

I imagine I can just delete these manually, then build and run the tool. But the tool sh

[2015-06-12 20:17] BenTheElder commented on #9681
I just ran a full e2e against #9563 and I also see failures:

[code]

[2015-06-12 20:18] justinsb commented on #9718
Nice find.  I think I have fixed this (accidentally) although I'm not sure whether it has made it into a release yet.  We should be tagging the subnet with a tag Name=KubernetesCluster, Value=${clusterid}, and then we should be filtering on that.  Are you running on a build that includes this: https://github.com/GoogleCloudPlatform/kubernetes/commit/33a3d884f23e5a449397450cef55340adfa46bd9

And if

[2015-06-12 20:28] fahadpolash opened #9733 "Problem in Vagrant kubernetes deployment in a proxy environment..."
Hello,
I have vagrant kubernets up and running in my laptop. There is no proxy settings in my laptop.
The outputs are from my laptop:

from my laptop Operating system:

fahad@fahad-Inspiron-5537:~/kubernetes$ env | grep -i proxy
fahad@fahad-Inspiron-5537:~/kubernetes$

Now I get into the vagrant master:

[vagrant@kubernetes-master ~]$ env | grep -i proxy
[vagrant@kubernetes-master ~]$
[vagrant@kub

[2015-06-12 20:34] brendandburns commented on #9531
My bad!  They're posted now.

[2015-06-12 20:34] #9531 closed

[2015-06-12 20:36] iterion commented on #9718
I'm actually starting up a new cluster now with latest master and found a couple small script issues that slowed me down. I'll have some PR's up for those shortly :).

It looks like 33a3d88 might have resolved the issue, but I'll try to recreate the same scenario with a new cluster and get back to you here.

[2015-06-12 20:40] sdminonne opened #9734 "Missing validation for Service.Spec.Ports.TargetPort"
Original openshift issue https://github.com/openshift/origin/issues/3143
If Service.Spec.Ports.TargetPort is defined as `string` there's no validation on this.
The user could write something like ( `targetPort` with `""`)
[code]
and the final results could be no endpoints for the service.

Some kind of validation with some syntax check should be introduced (for example  https://tools.ietf.org/html

[2015-06-12 20:48] karlkfi commented on #9681
yeah, my e2e test suite just finished with similar errors:

[code]

Full log: https://gist.github.com/karlkfi/dab4602a8f49cf8dd9f5

[2015-06-12 20:49] #9345 closed

[2015-06-12 20:51] #8871 closed

[2015-06-12 20:54] #9460 closed

[2015-06-12 21:01] vincentcr opened #9740 "issues in documentation of images.md"
- the link to secrets is a 404
- the imagePullSecrets instructions don't work as written:
 - the json is invalid
 - if run with `"apiVersion": "v1"`, i get the error:
`` Error: the server could not find the requested resource``
 - if run with `"apiVersion": "v1beta3"`, i get the error:

`` Error: Secret "myregistrykey" is invalid: data[.dockercfg]: invalid value '.dockercfg': must have at most 253

[2015-06-12 21:44] yifan-gu commented on #9559
@bnprss Awesome! Would you like to send a PR on this?

[2015-06-12 21:46] caesarxuchao opened #9742 "docker complains "Authentication is required" and fails to pull image when running k8s on local cluster"
I use hack/local-cluster-up.sh to start a local cluster. Then I run example/k8pestore/k8petstore.sh, which starts several pods and pull images. Then docker complains "Authentication is required" and fails to pull the images. Furthermore, I cannot manually pull a docker image on the local machine. The docker on my local machine was v1.5.0. After I updated docker to v1.6.2, I can pull images manuall

[2015-06-12 21:50] uruddarraju commented on #9049
I pulled the latest and did not have any issues.

Thanks for the support. Closing this for now.

[2015-06-12 21:50] #9049 closed

[2015-06-12 21:53] yifan-gu commented on #9502
@hurf hmm, I can build on shippable with the shippable.yml in branches rather than master. But it's overall pretty bad experience. I think the reviewer will give you the shippable log if any.

[2015-06-12 22:03] quinton-hoole commented on #9717
I don't think that it's useful to run the e2e tests manually over each Getting Started Guide, because the results will get stale quite quickly (due to changes to the system as well as changes to the getting started guides).  Better to have them be part of our continuous integration tests, so that as soon as they break, we can either fix them or declare them to be "in development " in our docs.

[2015-06-12 22:06] mikedanese commented on #9541
can you see if this is still broken?

[2015-06-12 22:17] quinton-hoole opened #9743 "Couldn't unpack Salt tree in master startup script"
Jun 12 21:46:07 e2e-test-quinton-master startupscript: Running startup script /var/run/google.startup.script
Jun 12 21:46:07 e2e-test-quinton-master startupscript: == kube-up node config starting ==
Jun 12 21:46:08 e2e-test-quinton-master startupscript: Networking functional on e2e-test-quinton-master (10.240.94.15)
Jun 12 21:46:08 e2e-test-quinton-master startupscript: Mounting master-pd
Jun 12 2

[2015-06-12 22:18] quinton-hoole commented on #9743
Discovered during testing of https://github.com/GoogleCloudPlatform/kubernetes/pull/9738

Debugging...

[2015-06-12 22:20] ArtfulCoder commented on #9576
@brendanburns assigning this to you to decide who the eventual assignee should be :)

[2015-06-12 22:20] quinton-hoole commented on #9743
Note: without resolving this we cannot run Jenkins e2e tests under different GCE projects.  Running multiple e2e jobs in the same GCE project is causing a variety of quota exhaustion, test flakyness etc, so it's important to resolve this.

[2015-06-12 22:34] mulloymorrow commented on #8609
@mikedanese , yeah it works when we have quotes on strings. Just a little misleading to the end user. The exception `error: no objects passed to create` could be a bit more informative.

[2015-06-12 22:36] quinton-hoole commented on #9743
The error message is bogus.  The file does not exist at all:

$ wget https://storage.googleapis.com/kubernetes-staging-8e55f027a8/devel/kubernetes-server-linux-amd64.tar.gz
--2015-06-12 22:33:46--  https://storage.googleapis.com/kubernetes-staging-8e55f027a8/devel/kubernetes-server-linux-amd64.tar.gz
Resolving storage.googleapis.com (storage.googleapis.com)... 64.233.181.132, 2607:f8b0:4001:c02::8

[2015-06-12 22:37] quinton-hoole commented on #9743
I suspect that this probably because I did the e2e.go --build in a different project than the e2e.go --up.
So the buckets are different.

Rebuilding...

[2015-06-12 22:41] satnam6502 commented on #7843
This is now fixed and can be closed.

[2015-06-12 22:41] #7843 closed

[2015-06-12 22:43] brendandburns commented on #9601
Closed by #9613

[2015-06-12 22:43] #9601 closed

[2015-06-12 22:47] satnam6502 commented on #9721
For reference, current output:
[code]

[2015-06-12 22:48] quinton-hoole commented on #9743
Indeed.
Ginkgo ran 1 suite in 2m7.46661881s
Test Suite Passed
Closing.

[2015-06-12 22:54] mikedanese commented on #8559
I think this can be close?

[2015-06-12 22:54] #8559 closed

[2015-06-12 22:59] brendandburns commented on #9487
@marekbiskup you need to edit ```/etc/kubernetes/manifests/kube-scheduler.manifest``` and change ```--v=2``` to ```--v=10``` in the command line args.

The kubelet should then restart the container (validate with ```docker ps```) if it doesn't, ```sudo /etc/init.d/kubelet restart``` should fix it.

[2015-06-12 23:00] brendandburns commented on #9433
Closed by #9650

[2015-06-12 23:07] brendandburns commented on #8892
I believe that this is due to load balancer creation in GCE taking a long time.  Merged https://github.com/GoogleCloudPlatform/kubernetes/pull/9724 and I'm going to close this.  Will re-open if it re-occurs.

[2015-06-12 23:07] dchen1107 commented on #8995
Any updates on this one?

[2015-06-12 23:07] mikedanese commented on #8609
@mulloymorrow I think this is fixed by #9357. Can you try upgrading your kubectl? A few errors in the resource visitor loop were being logged at invisible log levels and are being printed to stderr now.

[2015-06-12 23:07] #8609 closed

[2015-06-12 23:11] #9649 closed

[2015-06-12 23:11] dchen1107 commented on #9649
I just merged #9680, close the issue. @njuicsgz Thanks for filing the issue and review the pr.

[2015-06-12 23:12] iterion commented on #9718
@justinsb looks like you were right about 33a3d88! I started a new cluster and recreated subnets in the same way I had them before and everything is working fine. Closing this since it's already been fixed in master.

[2015-06-12 23:12] #9718 closed

[2015-06-12 23:14] erictune opened #9753 "api documentation is not aimed at kubectl users"
We have lots of api documentation in docs/api.md and docs/api-conventions.md.  But it is focused
on direct REST access and on how to extend the API.

We need documentation which is for people who:
  - will interact mostly with kubectl
    - gloss over REST/HTTP
  - don't plan on extending the API
    - less prescriptive tone, less design discussion
  - are not thinking about the problem of multipl

[2015-06-12 23:15] erictune commented on #9753
I'll take an initial pass at this.

[2015-06-12 23:18] mikedanese commented on #8609
@matschaffer It's a bit tricky. It's actually a _"feature"_ of the golang stdlib "encoding/json" package. See:

http://play.golang.org/p/sdR_gXKDpH

I'm not sure if it's possible to fix while still using "encoding/json". File an issue if you want to see it.

[2015-06-12 23:23] iterion commented on #9675
CoreOS defaults to ext4 + overlayfs which gets us away from btrfs. But, I think there is some work needed to get the master running on CoreOS.

[2015-06-12 23:23] jlowdermilk opened #9755 "kubectl 0.19+ returns empty string for all get requests against old server"
This seems like a bug to me
[code]
No output, and command exits success... wat. Have to explicitly pass `--api-version=v1beta3` to see expected output.
[code]

If the `kubectl` client version is greater the server version, it should be making requests based on the server's newest accepted apiversion.

[2015-06-12 23:26] justinsb commented on #8571
Awesome - though I think the call from checkNodeSelectorMatching will still spam the logs.  We'll see once I get to my next rebased test run!

[2015-06-12 23:28] timstclair opened #9756 "Don't rewrite relative URLs in reverse-proxied HTML"
Rewriting relative URLs breaks paths which are loaded into the browser at a different path from where they are served, as is the case with angularjs templates. Since relative paths should already be relative to the proxy path prefix, the solution is to simply not rewrite those paths.

This issue is blocking #9674

[2015-06-12 23:29] bprashanth commented on #8610
Why keep track? Maybe just a fprintf/glog in our request library that's toggled with a flag on the request, this is essentially what i end up doing when i debug.

[2015-06-12 23:29] jlowdermilk commented on #9755
cc @bgrant0607

[2015-06-12 23:31] mikedanese commented on #8571
I'm hoping that get's called much less often.

[2015-06-12 23:32] mikedanese commented on #8571
Uh oh :( you may be right.

[2015-06-12 23:54] goltermann commented on #9028
@saad-ali Is this one finished with the merge of #9309, or is there still work to do?

[2015-06-13 00:04] bprashanth commented on #7507
Would be nice if this ran for days and monitored memory footprint to avoid issues like https://github.com/GoogleCloudPlatform/kubernetes/pull/9584

[2015-06-13 00:04] mikedanese commented on #9729
#1111

[2015-06-13 00:06] #7964 closed

[2015-06-13 00:12] saad-ali opened #9757 "Disable ElasticSearch and enable GCL for GCE."
We've decided to do the following for GCE:

* Metrics:
  * Disable GCM
  * Enable InfluxDB/Grafana
* Events:
  * Leave GCL enabled
* Logs (this issue):
  * Disable Elasticsearch
  * Enable GCL

The 1st bullet point was tracked by #9028

This issue is to handle the 3rd bullet point: to disable ES and enable GCL for GCE.

Assigning to @satnam6502

CC @erickhan, @dchen1107, @vishh, @goltermann

[2015-06-13 00:14] saad-ali commented on #9028
@goltermann, yes, with #9309 this is resolved (InfluxDB/Grafana/GCL are enabled and GCM is disabled for GCE). I will close the issue.

I created #9757 to track the 3rd bullet point above: "Disable ElasticSearch and enable GCL for GCE"

[2015-06-13 00:42] #9028 closed

[2015-06-13 00:48] satnam6502 opened #9760 "GCE Cluster creation broken"
[code]

The Docker logs on a node suggest a flag issue.

[2015-06-13 00:49] satnam6502 commented on #9760
@dchen1107 @brendandburns

[2015-06-13 00:53] satnam6502 commented on #9760
Rebuilding and verifying after the revert...

[2015-06-13 00:55] dchen1107 commented on #9760
Jenkin build: kubernetes-e2e-gce/6882/ is broken too.

[2015-06-13 01:01] ixdy commented on #9760
The final precommit Jenkins run on the PR ([log](https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/675d8378f23f4ca0a5bdb0adf93a195defc91f02/kubernetes-pull-build-test-e2e-gce/120/build-log.txt)) failed in the same way, so it seems likely that was the culprit.

[2015-06-13 01:04] satnam6502 commented on #9760
Now working.
[code]

[2015-06-13 01:04] #9760 closed

[2015-06-13 02:02] satnam6502 commented on #9721
The changes in PR change the output to:
[code]

[2015-06-13 02:26] #9533 closed

[2015-06-13 03:44] brendandburns opened #9764 "Kubelet sometimes kills network pod before other containers"
This means that preStop that is an http hook to localhost will fail.

[2015-06-13 03:58] timstclair opened #9766 "ApiServer proxy wraps partial HTML responses"
The ApiServer proxy wraps partial HTML responses to serve a complete HTML document in the proxy response. This is problematic for applications which expect HTML fragments, such as with AngularJS templates.

Example:
This is the response for a [footer template](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/www/master/components/dashboard/pages/footer.html) from the unproxied server:

[2015-06-13 04:03] #9433 closed

[2015-06-13 04:44] brendandburns commented on #8526
https://github.com/GoogleCloudPlatform/kubernetes/pull/9509 merged.  Closing this

[2015-06-13 04:44] #8526 closed

[2015-06-13 06:20] davidopp commented on #9681
Thanks for investigating this. @derekwaynecarr if you can help them, that would be great.

[2015-06-13 06:57] mnemotiv commented on #9711
Why v1.0-post milestone? How to make a secure ectd<->k8s once v1 is out?

[2015-06-13 08:54] tback opened #9771 "Getting Started with vagrant broken"
I was following the [Getting started with Vagrant](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/vagrant.md) guide.
`curl -sS https://get.k8s.io | bash` fails silently with error code 5.
I suspect wget is to blame:

[code]

wget was installed through homebrew: GNU Wget 1.16.3 built on darwin14.1.0.

[2015-06-13 10:24] tback commented on #9771
Workaround: uninstall wget it works with curl

[2015-06-13 11:55] guilhem commented on #3760
I may have not understand all the need for `iptables`, but why not using [`IPVS`](http://www.linuxvirtualserver.org/software/ipvs.html) instead?
It seems to be more relevant for proxing than iptables...
Here is a simple go implementation: https://github.com/noxiouz/go-ipvs
And just to complete #561, there is also the [`ktcpvs`](http://www.linuxvirtualserver.org/software/ktcpvs/ktcpvs.html) project

[2015-06-13 12:06] pires commented on #9531
Thank you!
On Jun 12, 2015 21:34, "Brendan Burns" <notifications@github.com> wrote:

[2015-06-13 12:52] BenTheElder commented on #3760
IPVS appears to also be an abstraction upon netfilter (like iptables). We are able to share some functionality with the existing code by using iptables; and iptables seems like the more flexible/general solution to managing netfilter.

As for #561 and ktcpvs: ktcpvs doesn't appear to have had any development since 2004 and doesn't appear to have features users would want like URL rewriting. Regard

[2015-06-13 13:14] guilhem commented on #3760
iptables will be deprecated "one day" in favor of nftables (`nft` cli).
Also using iptables CLI to create rules doesn't seems to be quite robust...

A quick search find me this other MIT project: https://github.com/vieux/go-libipvs
But it seems to be really quite easy to create a simple working one as all complexity is already bulletproofed inside kernel code.

[2015-06-13 14:11] BenTheElder commented on #3760
I doubt iptables will be removed from any of the major distros anytime soon, and the iptables CLI is specifically to create and manage rules for nftables ... ?

An incomplete cgo wrapper like the one linked seems a lot less safe than shelling out to `iptables` and `iptables-restore` and we already need iptables for other rules (eg nodeports) and with `iptables-restore` we can do bulk updates with

[2015-06-13 14:21] moander opened #9773 "Can't find the necessary components for the vmware_fusion vagrant provider"
I am following this guide on OS X:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/vagrant.md

I am able to run other vagrant's using the same provider.

[code]

[2015-06-13 15:26] lxpollitt commented on #3760
+1 for the iptables approach.  We use iptables extensively in Calico and they have proved to be robust and they perform and scale well (assuming you design your rules well).  @BenTheElder, should you need any help with anything of the iptables work then please let us know, because we would be happy to chip in.

[2015-06-13 15:36] jdef commented on #3760
+1 for iptables and iptables-restore, it's much less heavy-handed approach
than IPVS/LVS and dictates fewer system requirements (heartbeating daemon,
etc.)

On Sat, Jun 13, 2015 at 11:27 AM, Alex Pollitt <notifications@github.com>
wrote:

[2015-06-13 15:41] BenTheElder commented on #3760
Thanks Alex, I will let you know if I do.

[2015-06-14 00:47] juliusv commented on #6437
@thockin @alml Prometheus author here. Just an update: Prometheus 0.14.0 now has a more generic service discovery framework, and also supports Consul and a file-watch-based interface now: http://prometheus.io/blog/2015/06/01/advanced-service-discovery/. We plan on supporting just a few more "native" SD implementations in the future, while users can plug in any other custom SD mechanism via the fil

[2015-06-14 05:35] thockin commented on #9734
I see this in validation:

[code]

I guess that validation happens afetr defaulting, so we should never see that case, wo I guess it should be an error.

[2015-06-14 06:02] thockin commented on #9682
Reaching up into the cloud-provider's DNS is in the cards for sometime
after 1.0

On Thu, Jun 11, 2015 at 6:46 PM, Peter Novotnak <notifications@github.com>
wrote:

[2015-06-14 06:03] thockin commented on #9696
Did you mean "Range" or "Rage" ?  Freudian slip?

Thanls for doing this :)

[2015-06-14 06:14] #9512 closed

[2015-06-14 06:33] thockin commented on #9290
I still think we should do it, but I agree that we should have a general
policy for EVERYTHING that we build as semi-required containers.

Option 1) Vendor etcd (resolve deps conflicts by hand for now) into
kubernetes, build container images from there.  Repeat for skyDNS.  What
about InfluxDB, grafana, fluentd, heapster, kibana, etc etc?

Option 2) Fork all of those repos, but keep them as distin

[2015-06-14 08:17] Kielan commented on #9558
I found that I had removed a  VPC rule I had reset on AWS. I could ssh into the machine but all other ports I was trying to access were closed.

[2015-06-14 08:17] #9558 closed

[2015-06-14 09:08] fabxc commented on #6437
The API seems to have everything we need form a quick look at the [Go client package](https://godoc.org/github.com/GoogleCloudPlatform/kubernetes/pkg/client).

The easiest option would be an external contribution by someone using Kubernetes. The implementations on Prometheus's side are usually done within 300 LOC - knowing the other system is more important.

I'm happy to do it myself at some poin

[2015-06-14 09:32] sameersbn commented on #9521
I see the same. switching to `v1beta3` works.

[2015-06-14 13:50] sghosh151 commented on #9290
Option 2 is preferable to option 1. Option 3 is ideal.

One major issue in vendored code is managing security updates at the linux
distribution level. We have to worry about 2 or more communities instead of
one.

Regards
Subhendu

On Sun, Jun 14, 2015, 02:33 Tim Hockin <notifications@github.com> wrote:

[2015-06-14 14:53] Industrial opened #9776 "When using Vagrant, I can't access my services (guestbook)"
Hi. I'm using vagrant with virtualbox to run kubernetes.

    $ kubectl get pods
    NAME                 READY     REASON    RESTARTS   AGE
    frontend-80ru5       1/1       Running   0          10m
    frontend-kx4lk       1/1       Running   0          10m
    frontend-u708s       1/1       Running   0          10m
    kube-dns-o3i40       3/3       Running   0          13m
    redis-master-sy

[2015-06-14 15:18] thockin-cc commented on #9776
If you set your service.spec.type = NodePort, it will allocate you a port
on your VM's IP. You can find the allocated port number in
service.spec.ports[*].nodePort. Hitting that port on any node's main IP
should transport you to your service.
On Jun 14, 2015 7:54 AM, "Tom Wieland" <notifications@github.com> wrote:

[2015-06-14 15:20] jdef commented on #8957
xref https://github.com/mesosphere/kubernetes-mesos/issues/295

[2015-06-14 15:29] brendandburns opened #9777 "Add retry to e2e commands."
We should add some basic retry to e2e commands to work around occasional flakes like:

/go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/test/e2e/rc.go:47
Expected error:
    <*url.Error | 0xc20820c1b0>: {
        Op: "Post",
        URL: "https://130.211.128.221/api/v1/namespaces/default/replicationcontrollers",
        Err: {},

[2015-06-14 15:30] Industrial commented on #9776
Thanks.

I now have

[code]

but when I create the service I get:

`The Service "frontend" is invalid:spec.ports[0].nodePort: spec.ports[0].nodePort: invalid value '8080': provided port is not in the valid range`

[2015-06-14 16:09] thockin-cc commented on #9776
You don't get to pick any old NodePort.  It has to come out of a
master-configured range.  That's why it is easier to let the master
allocate it for you, just like the "portal" IP.  Otherwise it conflicts
with pod host ports and anything else running on nodes.
On Jun 14, 2015 8:31 AM, "Tom Wieland" <notifications@github.com> wrote:

[2015-06-14 16:30] luxas opened #9778 "Socket operation on non-socket kubelet error"
Hello everyone,

I'm trying to make a Raspberry Pi 2 Kubernetes cluster. I've installed etcd, merged the patches (coreos/etcd#2308), cloned kubernetes and started hack/local-up-cluster.sh (with some modifications, e.g. I built my own kubernetes/pause, removed sudo, because of arch linux).

I'm using arch linux arm.
***Everything start up fine if I start it via plain docker, e. g. my alpine image o

[2015-06-14 17:26] Industrial commented on #9776
@thockin-cc: I'm not sure what to do now. I don't know where I can configure this range of ports in the master. It does the delegation of ports if you dont specify a `service.spec.ports[0].nodePort`?

Having some piece give me a new host/port to view the service on would be nice. I don't mind if it would be random.

[2015-06-14 17:36] thockin commented on #9776
Set type=NodePort and that's all.  The master has a default port range
which should almost always be safe.  Submit your Service, then read it back
to see what NodePort you got.  Once you have a port assigned, it is yours
until you destroy the Service.
On Jun 14, 2015 10:27 AM, "Tom Wieland" <notifications@github.com> wrote:

[2015-06-14 18:16] Industrial commented on #9776
frontend       name=frontend                                                       name=frontend       10.100.67.149    80/TCP

is the line printed for this service, but it doesnt include this random port :(

[2015-06-14 18:19] justinsb opened #9779 "AWS: Instance using aufs fails to restart (after kernel upgrade)"
The error from aws ec2 get-console-output says that the /mnt/docker device is not found or not ready.

[2015-06-14 20:08] pires commented on #7648
`cassandra` and `hazelcast` examples rely on the dangerous assumption that all certificates are valid. Would be great to have this pushed forward.

[2015-06-14 21:51] thockin commented on #9776
Try 'kubectl get -o json' or -o yaml
On Jun 14, 2015 11:16 AM, "Tom Wieland" <notifications@github.com> wrote:

[2015-06-15 01:48] saad-ali opened #9783 "Jenkins reports E2E symlink creation failure as build failure"
Jenkins reports builds as failed if it fails to create the `junit*.xml to ${WORKSPACE}` symlink in E2E script.

[code]

[2015-06-15 01:53] nkwangleiGIT commented on #9673
Hi erictune, thanks for your comments.
1. We're doing some public container as a service, so we expect it'll be much larger, maybe one hundred thousand. If that's the scope, I think we need to have multiple clusters to support it, please also comment here.

2. We're running on other cloud provider(IaaS), maybe AWS, GCE, etc...

3. Yes, we already have the cluster running following the k8s guide, s

[2015-06-15 02:00] nkwangleiGIT commented on #9122
Hi lavalamp,
The endpoints update seems some quicker now, around 10s, so I'll take a look at your test case and try it later. For now, we just upgraded to 0.18.2.
And we found some performance issue of kube-proxy, and more discussion here:
https://github.com/GoogleCloudPlatform/kubernetes/issues/9673
I think we can close this issue for now, and will open another one if it's an issue, thanks.

[2015-06-15 02:00] #9122 closed

[2015-06-15 02:55] YanXiaoping commented on #1366
I did some test on kubernetes v0.18.0-157-g5520386b180d3d.
Eviction of pods from unresponsive noe is quite slow (4:20 minutes = pod-eviction-timeout - node-monitor-grace-period).
As those pods were running (from kubectl get pods), I think they are not removed from backend list of service.
Isn't it a problem to keep an unresponsive pod in service backend list for so long time?

PS: How can I check

[2015-06-15 03:31] bprashanth opened #9788 "Cluster addons make large clusters unstable (user container's oom_score_adj is misconfigured)"
1. Setup a 100 node cluster with 0 extra pods
2. Periodically run `kubectl get pods | sort -k 5 -u` till you notice a youger cluster addon, eg:
[code]
At this point you'll probably have some dead nodes, or at least a kubelet restart (related:  https://github.com/GoogleCloudPlatform/kubernetes/issues/7815).

Additional information:
- All my dead nodes had at least 1 addon eg:
[code]

- A spike in c

[2015-06-15 03:31] bprashanth commented on #3954
I think your results are dominated by scheduling latency. With the stats I'm adding in https://github.com/GoogleCloudPlatform/kubernetes/pull/9523 I see syncPods taking no longer than 3s with 20 pods per node on a 100 node cluster with your test (I only ran it once though).

As I increased the pods from 20-30 I saw docker list operations taking O(seconds) and syncPod started to have unpredictable

[2015-06-15 04:23] roberthbailey commented on #7648
This is not currently marked for the 1.0 milestone. I'll add the candidate tag so it will be given another look (although it's a bit late to be proposing changes....)

[2015-06-15 04:37] WIZARD-CXY commented on #8424
@JeanMertz @sroze I use 0.18.2 hyperkube the same error exists too

[2015-06-15 06:32] wojtek-t commented on #9641
/subcribe

[2015-06-15 06:35] hurf commented on #9462
Find the cause, the registry is not updated in etcd. After deleted /registry directory manually, k8s generated new keys automatically, all works fine now. The lost is all data are gone, never do it in a productive environment.

    $ etcdctl get /registry/namespaces/default
    {"kind":"Namespace","id":"default","uid":"8b05a41a-c633-11e4-be1c-fa163e837eb3","creationTimestamp":"2015-03-09T08:09:00Z

[2015-06-15 08:05] davidopp commented on #3954
We discussed in person and I think the general feeling was that it would be useful to break down the rows from the chart that are not "watch" or "total" into two rows: time until PodStatus.StartTime, and time from PodStatus.StartTime until container starts. This is useful not for the SLO (which includes both of them) but for helping understand which part of the sequence more of the latency is comi

[2015-06-15 08:21] wojtek-t commented on #9485
+1 - I definitely agree that since we have a pretty stable scalability suite on Jenkins, we can drop the density test from regular GCE.

On the other hand, we shouldn't have requests with >3s latency in 2-node clusters - @fgrzadkowski did you look into it?

[2015-06-15 08:24] BugRoger commented on #7789
Yes, after creating too many namespaces (like `monitoring`, `logging`, ..) we figured that there is a trade-off between namespaces and filtering. I chose `cluster` as a "global" bucket for infrastructure like services. Though I'm in no way married to that term.

On the concrete problem, I would expect that the kubelet starts its manifests with the `--all-namespaces` flag or similar.

[2015-06-15 08:38] gmarek commented on #3954
@bprashanth - I'm already gathering data about actual pod startup times, as stored in etcd. Generally we generate events and write to etcd very close to each other, so I don't think scraping events are necessary. I'll do what @davidopp suggested and split create_to_running latency into create_to_schedule and scheduled_to_running ones, to have a better picture of what's going on.

[2015-06-15 08:45] hurf opened #9790 "Problems on quota and limits."
I was testing quota and limitrange following [example/resourcequota/README][1].

First in step 3, there supposed to be a creation failure, but it succeeded. And the resource caculation seems not working for cpu and memory.

    $ kubectl get pods --namespace=quota-example
    NAME          READY     REASON    RESTARTS   AGE
    nginx-rxtko   1/1       Running   0          21s

    $ kubectl descri

[2015-06-15 09:06] fgrzadkowski commented on #9485
@wojtek-t Not very deeply. I've noticed that sometimes this happens even during cluster intialization.

[2015-06-15 09:26] YanXiaoping commented on #1366
just noticed answer for

kubectl get endpoints ${SERVICE_NAME}

Still expect comment to "Isn't it a problem to keep an unresponsive pod in service backend list for so long time?" :)

[2015-06-15 09:42] sroze commented on #8424
@WIZARD-CXY How did you build hyperkube ?

[2015-06-15 09:46] imdario commented on #9621
How can I help you? Maybe I introduced a bug through a pull request and it wasn't detected by my testing suite.

[2015-06-15 09:54] piosz commented on #9356
Is there any decision made? I'm happy to fix it once the decision is made.

[2015-06-15 10:00] gmarek opened #9792 "Comment for Pod.Status.StartTime inconsistent with implementation"
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/types.go#L924

It currently reads that it's a time when Kubelet acknowledged scheduled Pod, but my tests and understanding the code suggests that it's really a start time (time after all containers are started). Can someone more familiar with Kubelet code take a look as well?

@dchen1107 @vmarmol

[2015-06-15 10:28] nkwangleiGIT opened #9793 "long time to get response from kube-proxy sometimes"
Hi,
We're experiencing a strange issue below when try to access the service using kube-proxy, here is the output of curl:
[code]
As you can see, it's quite slow to get the response for the 2nd and 4th time, but the time is expected for 1st and 3rd time. Then we did more tries, and found the quick and slow one will appear by turns, not sure what we can do to find out the potential issue here, need

[2015-06-15 11:00] davsclaus commented on #7648
+1 to get this resolved

[2015-06-15 11:49] akamalov opened #9794 "Kube API Server Not Registering Any Nodes"
Kubernetes version: ```0.18.0```
CoreOS version: ```695```

Kube API Server not registering any nodes:

Deployed Kubernetes framework with authentication defined in Kubeconfig on  five nodes. I basically took a first node which was working and cloned kubeconfig on the remaining nodes. Initially I had an environment with only two worker nodes defined and the were ```Ready```. Now, None of them are

[2015-06-15 11:57] deads2k commented on #8610
Prettiness of display or alternative analysis?  Recognition of common patterns?  We do have a patch downstream we're considering: https://github.com/openshift/origin/pull/3088

[2015-06-15 11:58] deads2k commented on #8610
I think I'd prefer to have it as an option on the `client.Config` as opposed to triggering based on glog level, but that was bigger than I'd want to carry.

[2015-06-15 12:02] deads2k commented on #8610
Oh, I should add that if you'd take this sort of patch during your code freeze, I'll submit an kube PR.

[2015-06-15 12:07] akamalov commented on #9794
Could this be that this ticket is related to the same issue ? https://github.com/GoogleCloudPlatform/kubernetes/issues/8195

[2015-06-15 12:12] akamalov commented on #9794
BTW, restarting the nodes, as per Kelsey Hightwoer at ticket #9794 did not help. Still getting not complete list of nodes + nodes reporting ```NotReady```

[2015-06-15 12:39] skuzye commented on #7831
I got the same issue. I copied and pasted the commands in the guide.

[2015-06-15 12:45] fgrzadkowski opened #9795 "Wrong error message for missing imagePullPolicy"
Our error message says the field is called ```pullPolicy``` while it's called ```imagePullPolicy```.

[2015-06-15 12:48] skuzye commented on #7831
Seems like the docs are wrong, as per #7581

[2015-06-15 12:48] skuzye commented on #7292
Seems like the docs are wrong, as per #7581

[2015-06-15 13:13] kelseyhightower commented on #9794
@akamalov Looks like the kubelet is adversting itself as 10.9.158.72 per the log message you posted:
[code]

Review the flags used to start the kubelet, mainly if the `--hostname-override` flag is set.

[2015-06-15 13:16] fgrzadkowski commented on #9795
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/validation/validation.go#L853

[2015-06-15 14:17] bparees opened #9798 "Readiness probe tears down container if initial delay is not passed"
We have a scenario with no liveness probe defined, and a readiness probe defined with an initial delay.  It appears that this logic:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/prober/prober.go#L146

results in tearing down the container immediately because the initial delay has not passed so the probe returns failure.

My understanding is that readiness probe failure

[2015-06-15 14:19] smarterclayton commented on #9798
@mikedanese and @yifan-gu because you've been involved.

[2015-06-15 14:22] smarterclayton commented on #9798
My expectation was the same as Ben - that in the absence of a successful readiness check, the container shouldn't be torn down - only when readiness transitions from unready -> ready that a subsequent failure could result in teardown.  Or, that readiness does not result in teardown.

[2015-06-15 14:23] smarterclayton commented on #9798
We just need a decision on what the correct behavior is (why it's a p1) so we can put a patch in place.

[2015-06-15 14:25] bparees commented on #9798
Also having the readiness probe return failure just because the initial delay has not passed seems like the wrong behavior.

[2015-06-15 14:29] #9795 closed

[2015-06-15 14:30] smarterclayton commented on #9798
Agree, readiness was supposed to be a ratchet, not a switch.

[2015-06-15 14:42] bprashanth commented on #3954
I see your latest commit scrapes events (https://github.com/GoogleCloudPlatform/kubernetes/pull/9186/files#diff-e98c4edf3baa4df8ca5b39bd5e7577ddR302). That should work :)

[2015-06-15 14:45] gmarek commented on #3954
It turned out that our API documentation is outdated (#9792), so I had to rewrite the test and read events to get a scheduler time as @bprashanth suggested. I did this and rewrote #9186 in result.

I rerun some tests (I didn't manage to run full suit for all sizes), and results are new:
* for not-saturated clusters scheduling time (understood as the time from Pod being created by RC to the time wh

[2015-06-15 15:18] mikedanese commented on #9798
@bparees There was a bug in readiness probe and the fix was merged on friday in #9680. Are you working off the most recent version of HEAD? Before this, Readiness probe failures would cause a pod to be killed. The failure before the initial delay is actually the documented semantic here https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/pod-states.md#container-probes.

[2015-06-15 15:32] smarterclayton commented on #9798
We missed that - hadn't pulled since Friday morning :). Looking.

[2015-06-15 15:50] antoineco opened #9801 "VPC name is hardcoded (AWS cloud provider)"
The name of the VPC used to create ELB instances is [hardcoded inside the AWS cloud provider](https://github.com/GoogleCloudPlatform/kubernetes/blob/release-0.19/pkg/cloudprovider/aws/aws.go#L1372). This prevents the creation of services with type `LoadBalancer` inside a VPC with a different name from what is expected ("kubernetes-vpc" for instance).

A solution could be to query the metadata serv

[2015-06-15 15:59] bprashanth commented on #8610
how would you trigger your patch for kubectl?

@bgrant0607

[2015-06-15 16:11] mikedanese commented on #1366
@YanXiaoping the kube-proxy will retry failed connections with the next backend. Even if 1 out of 3 backends are failing tcp connections (e.g. no longer listening), a client using the kube-proxy should see no impact.

[2015-06-15 16:22] WIZARD-CXY commented on #8424
I didn't build it myself.I use the hyperkube image which pulled from gcr.io

[2015-06-15 16:26] deads2k commented on #8610
We could plumb in `loglevel` like we do in `osc`.

[2015-06-15 16:27] dchen1107 commented on #9429
I am closing the issue for now. There are more optimization in syncloop and creation path. We are going to handle them post 1.0

[2015-06-15 16:27] #9429 closed

[2015-06-15 16:33] akamalov commented on #9794
Hey Kelsey,

Currenly, kubelet starts as:

[code]

where ```EnvironmentFile=/etc/network-environment``` contains:

[code]

So, I'd say <b>kubelet</b> has all necessary parameters to startup correctly. Here is the full excerpt from cloud-config:

[code]

[2015-06-15 16:47] krousey commented on #9731
Now that I've manually removed the functions, I get this:

[code]

I think it will go away if I re-run the gen tool now that I can build it. Ideally there shouldn't be this much friction to remove a deprecated type.

[2015-06-15 16:47] dchen1107 commented on #9788
Couple comments related to the issue:

1) Why does scheduler try to bind a addons pod to not_ready nodes at the first place?
2) What is the job with process id 11230? I bet it is elasticssearch one since I observed it is using a lot of cpu constantly before.
3) Can you share more kernel log on that oom node? Do you know how many pods are scheduled to the node at a given time when oom occurs? And w

[2015-06-15 16:54] bparees commented on #9798
thanks @mikedanese i was a little behind.

[2015-06-15 16:54] #9798 closed

[2015-06-15 16:54] roberthbailey commented on #9394
@marekbiskup is this ready to be reviewed again?

[2015-06-15 16:57] #9359 closed

[2015-06-15 16:57] marekbiskup commented on #9394
Status: already LGTM-ed. Waiting for merge.
Shippable fails for unknown reasons (as always).

[2015-06-15 16:59] thoraxe opened #9802 "[RFE] nodeSelector on persistentVolume(Claim)"
It would be interesting to implement some kind of security via nodeSelector for persistent volumes. Essentially the volume would have specific selectors defined and a pod requesting a volume (claimed within the project) should only be scheduleable on a node with matching selectors for both the volume **and** the pod's defined selectors.

This helps to enable external volume security in that I can,

[2015-06-15 17:00] marekbiskup commented on #9487
Status: waiting for review of #9671

[2015-06-15 17:04] #8824 closed

[2015-06-15 17:05] bprashanth commented on #9788
It doesn't, the pod bounces around NotReadying nodes.

It's always either heapster or elasticsearch, the java job in the example is elasticsearch.

This is from another node I just reset.
https://gist.github.com/bprashanth/32c9d22cc39b961a395f

td-agent is the event collector daemon used by fluentd:
[code]

2, fluentd and heapster.

[code]

All I have are the cluster addons on this cluster

[code]

[2015-06-15 17:08] jeffmendoza commented on #8828
Fixed by #9629

[2015-06-15 17:15] #9323 closed

[2015-06-15 17:26] dchen1107 commented on #9788
cc/ @thockin on general cluster issues.

cc/ @saad-ali and @ArtfulCoder  since they are working on heapster scalability issue. Can we have resource limit specified for our addons service? Especially monitoring and logging ones?

@vishh Why we only have one replica of heaster for monitoring?

[2015-06-15 17:38] roberthbailey opened #9804 "Add a healthcheck for kube-apiserver"
kube-scheduler and kube-controller-manager both have a liveness probe defined ([here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/saltbase/salt/kube-scheduler/kube-scheduler.manifest#L16-L23) and [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/saltbase/salt/kube-controller-manager/kube-controller-manager.manifest#L48-L55)) but kube-apiserver d

[2015-06-15 17:38] bprashanth commented on #9788
Trying to figure out what it's logging I found that on most nodes /var/lib/docker/containers just has 2 containers, pause and fluentd, and neither of them log anything. On some nodes there are more, I guess these are the influxdb and es containers. They produce logs:
https://gist.github.com/bprashanth/5f7949b37aabade3023c

So maybe just telling those 2 to stay really quiet might help.

[2015-06-15 17:41] dchen1107 commented on #9788
cc/ @satnam6502 on logging side  (https://github.com/GoogleCloudPlatform/kubernetes/issues/9788#issuecomment-112149413)

[2015-06-15 17:42] quinton-hoole commented on #8849
#8953 (which added some retries) does not seem to have fixed this test completely, although the failure mode is now different:

Test 1: Prove that the service VIP is alive.
Verifying the VIP from the host
waiting for service1 at 10.0.182.230:80
waiting for service1 at 192.168.1.1:80
waiting for service1 at 192.168.1.2:80
waiting for service2 at 10.0.200.24:80
Verifying the VIP from a container
wai

[2015-06-15 17:43] dchen1107 commented on #9788
@bprashanth You mentioned above that "Sometimes there are OOMs, these don't affect the kubelet, but the node eventually dies" The two OOM killing examples are manage_accounts and manage_addresses, which all belongs to our /system cgroup, but we haven't oom protected them yet. But do you know why that particular node is changed to NotReady from Ready? You can have such information by doing kubectl

[2015-06-15 17:43] justinsb commented on #9801
Good suggestion.  I thought this was a major screw-up on my part, but it turns out it is just the name (which is only a tag), and we always tag it with the same name in cluster/aws/util.sh.

It is limiting, and getting the VPC ID from the metadata service is a better idea.

Is this actually causing you any problems at the moment?  It is not my best code, but I don't know if we need to change it as

[2015-06-15 17:49] satnam6502 commented on #9788
Note that PR #9758 will make Cloud Logging the default after which no addons run for logging (unless Elasticsearch is explicitly set as the logging choice).

[2015-06-15 17:54] OllyGinger opened #9805 "Accessing etcd cluster from within a pod/container"
Hi. I'm trying to access our etcd cluster from within a pod/container. There is an etcd node running on each minion, so I should be able to get to it. If I try to access the etcd api using the minion's 'docker0' network interface it's fine, but I'm not aware of any way that this gets exposed to a pod.

Ideally I would just use the etcd cluster that's running as part of kubernetes, but I guess the

[2015-06-15 17:54] bprashanth commented on #9788
aka non-gce clusters right (or can one still use gce from aws)? if that's true it will make this even harder to debug :)

[2015-06-15 17:56] satnam6502 commented on #9788
@mr-salty to what extend can people use Cloud Logging from AWS, Azure etc?

[2015-06-15 18:00] bprashanth commented on #9788
Hmm, I'm assuming even if they can, they won't. Each of those probabaly has a gcl equivalent that those people are more familiar with, and until someone writes plugins for them they'll probably stick with ES.

[2015-06-15 18:09] satnam6502 commented on #9356
Where are we with this issue? I suggest:
* It's too late to move the add-ons to a different namespace before 1.0
* We keep the add-ons visible as is the case now when someone does `get pods`.
* The more concise output makes this less troublesome.
* Consequently I propose that we close this issue and re-think add-ons etc. post 1.0

Agreed?

[2015-06-15 18:11] antoineco commented on #9801
Hey @justinsb, I wouldn't say this is a critical issue, it's just confusing for users like me who run in a VPC with a different name since logs do not mention what is actually expected in case of failure.

[code]

I can live with it but I'm quite sure other people out there deploy clusters using custom approaches. As a temporary solution I would at least mention this restriction on the Name tag so

[2015-06-15 18:12] dchen1107 commented on #9356
Agreed with @satnam6502, and my suggestion is do nothing for 1.0 since we already have a concise output for kubectl get pods.

[2015-06-15 18:14] satnam6502 commented on #9057
What do we want to do about this? Personally, I think a combination of `get rc` and `get pods` is fine -- but if you wanted to add `3 [2 Running]` under the replicas heading then I would be happy to take on this issue.

[2015-06-15 18:15] satnam6502 commented on #8529
Can I have a bit more detail about what this issue is about? If I knew then I might be able to work on it :-)

[2015-06-15 18:15] justinsb commented on #9801
How were you able to run in a different VPC though?  Is there a "secret" way of running k8s in AWS other than using cluster/kube-up?  :-)

[2015-06-15 18:16] vishh commented on #9788
We can have multiple replicas if required. The plan is to place resource
limits on heapster pod after we profile the pod as part of scalability
testing.

On Mon, Jun 15, 2015 at 11:00 AM, Prashanth B <notifications@github.com>
wrote:

[2015-06-15 18:18] satnam6502 commented on #5906
What's the status here? Shall we go ahead and add a `-q` flag that reports resources in the resource/name format for use with xargs? If yes happy to take this on.

[2015-06-15 18:20] alex-mohr commented on #9599
I think @jlowdermilk has the most kubectl context and can figure out something reasonable to do here?

[2015-06-15 18:22] lavalamp commented on #9122
Ah-- I recently rewrote the endpoint controller, if you were running anything <= 0.16 (I think?), it probably would have been slow. :)

[2015-06-15 18:28] #9794 closed

[2015-06-15 18:31] akamalov commented on #9794
The issue was at ```write_files``` directive which had <b>extra space</b> at the beginning of each line. Once extra space was removed,  correct <b>kubeconfig</b> was written out:

[code]
Thereafter all nodes were able to correctly register. Thanks so much!!

Alex

[2015-06-15 18:32] caesarxuchao commented on #7949
fixed by #8025

[2015-06-15 18:32] #7949 closed

[2015-06-15 18:33] mr-salty commented on #9788
@satnam6502 only GCP services are officially supported at this time, although users can use configuration file settings to specify project and instance metadata on other platforms on an unsupported basis.

[2015-06-15 18:34] quinton-hoole commented on #8849
Failure rate is ~3.3% over the past 100 runs.  The error is pulling a busybox image from docker:

      sudo docker pull busybox >/dev/null;
      sudo docker run busybox sh -c '

We need to clone this image to gcr.io.

Dropping this to post-1.0.

[2015-06-15 18:35] smarterclayton commented on #5906
I think brian's proposal was an alternate output mode ("-o simple" or "-o quick") handled by the printer.  Then change the default output to *not* be xargs compatible but be friendlier.

----- Original Message -----

[2015-06-15 18:35] lavalamp commented on #9673
@thockin have we done much performance testing with kube-proxy?

@nkwangleiGIT If I understand what you're describing, it sounds like you are building something like AppEngine. kube-proxy's main purpose is to route traffic from pods to services inside the cluster; it also can route traffic via the old PublicIP method.

My recommendations for your setup:
* Make every independent RC/Pod/Service insi

[2015-06-15 18:40] antoineco commented on #9801
I can explain our setup so that you can understand the use case:

Basically we run everything on CoreOS. The master, Auto Scaling Group (for
the minions) and corresponding Security Groups are created via
Cloudformation, and we start all services within the cluster using fleet
(including token and certs generation, etc)

staging and prod environments are running in 2 identical VPCs, called
"staging

[2015-06-15 18:47] mikedanese commented on #9621
@imdario if you'd like, you could bumb the version of Mergo that we are using to your HEAD and see which tests break and why. you can run tests from the root of the project by running `make test`. Were there any breaking api changes recently merged into Mergo?

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/Godeps/Godeps.json#L347-L351

[2015-06-15 18:50] juliaferraioli commented on #8521
@briandorsey what's the status of this fix?

[2015-06-15 18:53] caesarxuchao commented on #8360
@lavalamp, can I close this because we don't support v1beta1 anymore?

[2015-06-15 19:00] lavalamp commented on #8360
SGTM

[2015-06-15 19:00] #8360 closed

[2015-06-15 19:12] justinsb commented on #9801
Ah ... CloudFormation!  @bakins is that still the recommended way to run with CoreOS?

[2015-06-15 19:15] justinsb commented on #9801
This will be fairly easy to fix though; I think we can just drop the name filter, because the VPC should be tagged with a KuberentesCluster={ClusterId} tag, and we grab that from whatever instance we are running on.  I'll put together a PR!

[2015-06-15 19:20] antoineco commented on #9801
Would that work with multiple clusters inside the same VPC?

[2015-06-15 19:27] mpilant opened #9808 "Cannot install Kubernetes on Bare-metal Ubuntu Nodes"
I'm trying to install Kubernetes on a collection of three virtual machines and am running into all sorts of problems.  The instructions I'm following are here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/ubuntu.md.

First, after updating config-default.sh and trying to invoke kube-up.sh, I get complaint ("Could not find or add an SSH identity") about s

[2015-06-15 19:38] justinsb commented on #9801
Hmmm, I think you're right.  Right now it each k8s cluster spins up a new VPC, so it is one-to-one.  I'd like to relax that, but it isn't there yet.

[2015-06-15 19:51] davidopp commented on #9356
+1

[2015-06-15 19:53] quinton-hoole commented on #9486
Since merging #9727 (Jun 12, 4:43 PM) this test has failed four times out of ~35 runs (i.e. ~11%) , with the following errors (twice each):

========

/go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/test/e2e/es_cluster_logging.go:39
Failed to find all 200 log lines

=========

/go/src/github.com/GoogleCloudPlatform/kubernetes/_o

[2015-06-15 20:13] quinton-hoole commented on #9485
@wojtek-t @fgrzadkowski

Two comments:

1. Having "hermetic" tests, which are independent of other tests, is our goal for e2e. To this end, measuring the metrics for only this test, and not previous ones would be a good improvement to the test. post-v1.0.

2. I share @wojtek-t 's concerns as to why exactly we're seeing such high latency calls in small clusters.  It would be good to get to the bott

[2015-06-15 20:13] satnam6502 commented on #9486
OK, it looks like Elasticsearch is giving an error response in an unexpected way. I will investigate.

[2015-06-15 20:17] quinton-hoole commented on #9485
Oh, and I'll turn off this test in the general e2e-gce continuous integration test.

[2015-06-15 20:28] dchen1107 commented on #9788
Ok, I don't think logging pods causing issues here by analyzing all NotReady nodes, I will explain it below:

Here are what I understood so far:

1) I observed the several nodes having 100% cpu usage all the time from pantheon, which indicates a kernel crash since I saw a similar issue with porch.com case before. I checked the serial log, it is kernel crash. But the node is not reboot. @brendandbu

[2015-06-15 20:28] #9224 closed

[2015-06-15 20:33] dchen1107 commented on #9788
According to 3), I realized that because heaspter process is inheritant the oom_score_adj from its parent process docker with -900. Will send PR to fix it now.

[2015-06-15 20:37] #9783 closed

[2015-06-15 20:39] bprashanth commented on #9788
A heapster/es crash is what got us the first NotReady node though?

g1-small is essentially what we've been optimizing performance for, I think we recently bumped it up to n1-standard (but that isn't *that* much better).

Since this is OOMing with 0 extra pods,  customers can just never have a 100 node cluster of g1-smalls because of the 1 or 2 nodes heapster is running on?

@dchen1107  any idea w

[2015-06-15 20:47] mikedanese commented on #9805
In the GCE setup, etcd runs only on the master and we restrict access to only the apiserver. We do this for security and to implement fine grained access control. Depending on your setup, it is possible to bypass this.

[2015-06-15 20:51] vishh commented on #9788
Heapster requires memory to store metrics fromm all nodes in the cluster.
If the cluster size os large, then a g1-small is not sufficient to run
heapster.

Inheriting docker daemon's oom_score_adj is a bug. Dawn is fixing it.

We can turn off heapster on a scale cluster and optimize the rest of the
components for g1-small, if required.

On Mon, Jun 15, 2015 at 1:39 PM, Prashanth B <notifications@g

[2015-06-15 20:55] satnam6502 commented on #9788
I  will conduct a test with a 100 node cluster set up with Elasticsearch
logging and pods running synthetic loggers on each node and report back.
On Jun 15, 2015 1:51 PM, "Vish Kannan" <notifications@github.com> wrote:

[2015-06-15 21:00] pmorie opened #9815 "There should be a resize timer"
It's a pretty common test to want to know how fast a cluster can resize a replication controller for some specific pod template.  It would be great if there was a kubectl command that could:

1.  Resize some replication controller R to some new size N
2.  Watch R and time how long it takes the _running_ replica count to go to N

@detiber @smarterclayton @derekwaynecarr

[2015-06-15 21:15] quinton-hoole commented on #9089
@vishh can we close this?

[2015-06-15 21:17] davidopp opened #9818 "Shippable flaking on integration tests"
I've seen this several times now, see for example
https://app.shippable.com/builds/557bb30faca9060b004c001a

[code]

[2015-06-15 21:17] quinton-hoole commented on #8672
@lavalamp you debugged this to a Ginkgo bug/usability issue, which I believe you filed?  I can't seem to find the issue number.  Please add here if you have it.

[2015-06-15 21:18] davidopp commented on #9818
Ah, @lavalamp said there is already an issue for this -- sorry. Feel free to close this one, Daniel.

[2015-06-15 21:21] quinton-hoole commented on #7664
This is done.

[2015-06-15 21:21] #7664 closed

[2015-06-15 21:25] quinton-hoole commented on #6651
@yujuhong Can this be closed yet?

[2015-06-15 21:27] lavalamp commented on #8672
See: https://github.com/onsi/ginkgo/issues/165

Ginkgo's timeout feature is *totally broken* and *unfixable*, and should not be used.

[2015-06-15 21:29] quinton-hoole commented on #7173
Closing old issue.  @ncdc , @thockin  Please re-open if this still requires attention.

[2015-06-15 21:29] #7173 closed

[2015-06-15 21:31] lavalamp commented on #9818
Hm, surprisingly it looks like there isn't another issue, so thanks for making this. I'll look into this.

[2015-06-15 21:33] ixdy commented on #5670
Still more cleanup to be done, but the base issue is done.

[2015-06-15 21:33] #5670 closed

[2015-06-15 21:39] arun-gupta opened #9819 "Offline installer for Kubernetes"
Need a fully offline installer for Kubernetes that can work in a closed network. Currently, it requires a network connection to upload/download to a storage bucket.

[2015-06-15 21:54] lavalamp commented on #8672
That said, that function does the even more totally broken thing of ```defer```ing a ```close(Done)``` call at the very end of the function instead of the very beginning. Seriously, how did that get into our codebase?

[2015-06-15 21:56] cjcullen opened #9822 "kube-apiserver fails to start"
Looking in kubelet's logs, I see: "API error (500): Cannot start container \<ID\>: [8] System error: read parent: connection reset by peer"

I have only been able to consistently reproduce it on a dev build of kubernetes running in GKE, but I think I saw the same thing happen off and on when debugging some of the Jenkins GKE-Test failures from Friday.

More logs:
[code]

[2015-06-15 21:57] cjcullen commented on #9822
@mikedanese @dchen1107

[2015-06-15 21:59] dchen1107 commented on #9822
I marked this as P0 for triage. Mike, please feel free to lower the priority once you root cause the issue. Thanks!

[2015-06-15 22:00] quinton-hoole commented on #9312
Updated status:

The following 23 e2e tests are currently flaky (in increasing order of stability):

1. Pod Disks should schedule a pod w/ a RW PD, remove it, then schedule it on another host (Failed 30 times in the last 30 runs. Stability: 0 %) #7972
1. Pod Disks should schedule a pod w/ a readonly PD on two hosts, then remove both. (Failed 30 times in the last 30 runs. Stability: 0 %) #7972
1. N

[2015-06-15 22:02] lavalamp commented on #9029
#9698 added an e2e proxy test.

[2015-06-15 22:06] bprashanth commented on #9788
The oom score will help undead nodes, but the cpu and memory pressure from the addons will still affect syncPods latency making 99%ile type benchmarks hard to achieve (on a 100 node cluster 99%ile fails if one node is slow to start a pod: https://github.com/GoogleCloudPlatform/kubernetes/issues/3954).

A solution involving more restrictive limit ranges/cgroups is probably out of scope for 1.0, so

[2015-06-15 22:07] #9630 closed

[2015-06-15 22:08] justinsb commented on #9450
Can I confirm that I understand where we are:

* We saw "cannot allocate resources of type serviceipallocation at this time" bugs in e2e test runs
* We reverted #9390 (which contained a version bump of go-etcd, including a replacement JSON library)
* That fixed the test runs
* But the logic is still suspicious, as described in the first comment

Is that right?  (And in particular, we're not seeing

[2015-06-15 22:08] vishh commented on #9788
I am curious to know the kind of workloads a user would run on a g1-small
100 node cluster.
Why are we spending on optimizing for g1-small?

On Mon, Jun 15, 2015 at 3:06 PM, Prashanth B <notifications@github.com>
wrote:

[2015-06-15 22:09] #9764 closed

[2015-06-15 22:11] #8828 closed

[2015-06-15 22:12] bprashanth commented on #9788
Maybe they want to run 30 pause pods :)
We probably should've started off with a bigger node size, meh. But I'm assuming resource pressure will happen on an n1-standard-1 as well (it's just a little bigger right, so it might take a few hours more)?

[2015-06-15 22:13] lavalamp commented on #9450
@justinsb Yup!

[2015-06-15 22:14] smarterclayton commented on #9450
All #9390 could have done was make an existing test race more likely.  The tests or our start order is at fault, not the codec (at least not without more evidence to the contrary).

If we change our start order and have Start return an error that's probably a better solution.  It ensures true failures cause masters to fail to start (etcd misconfiguration, etc), and transients should not recur on t

[2015-06-15 22:20] vishh commented on #9788
I'd expect heapster resource usage to be proportional to the size of the
cluster and not vary over time. We can wait for the scalability test
results before we arrive at any conclusions.

On Mon, Jun 15, 2015 at 3:12 PM, Prashanth B <notifications@github.com>
wrote:

[2015-06-15 22:35] dchen1107 commented on #9822
The error is propagate from libcontainer to docker then fail our container creation/startup.  cc/ @rjnagal and @vmarmol too.

[2015-06-15 22:40] mikedanese commented on #9822
I'm unable to reproduce from HEAD using gce cluster/kube-up.sh. @cjcullen for posterity, can you paste the output of `docker version` and `docker info` here?

same error message as reported in #8070.

[2015-06-15 22:53] erimatnor commented on #7042
I am also seeing this problem on CoreOS/AWS. A kubelet command-line parameter for setting script path  would be nice.

[2015-06-15 22:57] cjcullen commented on #9822
[code]

[2015-06-15 22:59] dchen1107 commented on #9822
@cjcullen is kube-apiserver eventually started by kubelet after several tries? Or never?

[2015-06-15 23:03] saad-ali commented on #5880
Here are the initial set of results.

## Test Setup
* Cluster characteristics:
  * 4 nodes
  * `n1-standard-1 (1 vCPU, 3.8 GB memory)`
* Test duration: 20 hours total
  * 17 hours under "no load" to get a baseline
    * No additional pods/containers other than default
  * 3 hours under "high load"
    * 135 additional pods, with 10 containers each (1350 extra containers)
    * Container used was a

[2015-06-15 23:04] saad-ali commented on #9788
See https://github.com/GoogleCloudPlatform/kubernetes/issues/5880#issuecomment-112233798 for initial scalability test results.

[2015-06-15 23:04] cjcullen commented on #9822
kube-apiserver is never started.

I can get it to start by docker killing its infra container. Kubelet then restarts the infra container and kube-apiserver comes up happy.

[2015-06-15 23:11] nikhiljindal commented on #9248
kubectl describe does not support -l.

I just ran ```kubectl describe pods frontend``` and it gave me the description of all pods with name frontend* in my cluster.
@pramttl Is that not the case for you?

[2015-06-15 23:13] justinsb commented on #9450
@smarterclayton - sounds like you believe the problem is that it genuinely has not been initialized yet.  I was working under the assumption that it was simply an etcd/etcd binding/allocator bug.  @lavalamp: Do we have any indication of that?  Were the failures early in the run?

Did spot two slightly suspicious pieces of code:

1: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/

[2015-06-15 23:15] nikhiljindal commented on #9248
https://github.com/GoogleCloudPlatform/kubernetes/pull/9705 is adding support for -l in kubectl describe

[2015-06-15 23:16] rjnagal commented on #9822
It seems like another reincarnation of the bug where new container tries to
join the namespace of an older infra container. I think that was caused by
a restart race.

On Mon, Jun 15, 2015 at 4:05 PM, CJ Cullen <notifications@github.com> wrote:

[2015-06-15 23:20] dchen1107 commented on #5880
@saad-ali After you restart heapster, does the memory usage go down? Looks like there are some memory leakage issues.

[2015-06-15 23:23] baldwinSPC commented on #7693
I would +1 removing it from the standard CoreOS configs. I'm yanking it out in my own builds. I agree with everyone that this is an "add-on" that shouldn't be part of a minimal configuration.

[2015-06-15 23:25] smarterclayton commented on #9450
I don't have any proof that's the problem in the tests but it's possible to race against the core controller loop starting, and if the first repair fails the cluster is not usable for services until it is.  If that's the case I expect there to be a glog error reported from

glog.Errorf("Unable to perform initial service nodePort check: %v", err)

So that we can control the error, but not truly req

[2015-06-15 23:25] lavalamp commented on #9450
I filed this issue specifically about the bit of code that I liked to in the first post. @justinsb if you're talking about #9444 specifically, my actual best guess is that the dependency change legitimately had a bug that changed the behavior of the go-etcd package, specifically what it returned as a resourceVersion in the case that it wasn't set (updating an non-existing object). (0 vs "" or some

[2015-06-15 23:29] smarterclayton commented on #9444
We're running with the ugorji code in etcd and haven't hit this yet.  Will try to stress test it

[2015-06-15 23:30] smarterclayton commented on #9444
@derekwaynecarr we need to try and expose this

[2015-06-15 23:35] dchen1107 commented on #9822
@cjcullen Can you share with us kubelet.log?

[2015-06-15 23:41] justinsb commented on #9450
Right, so on the original issue here, I had a look and I think I understand the code.  (I am not the original author: https://github.com/GoogleCloudPlatform/kubernetes/blob/e200d5a317da3e3f6f25ff8f475aed785964443e/pkg/registry/service/ipallocator/etcd/etcd.go#L114-L136, but I could very well have introduced a problem)

I believe the code is correct, if perhaps a little over-optimized!  We keep tra

[2015-06-15 23:54] cjcullen commented on #9822
The chunk I pasted above in https://github.com/GoogleCloudPlatform/kubernetes/issues/9822#issue-88551130 was when kubelet began trying to start the apiserver container. I don't have a failed cluster running right now, but I will grab the entire logs next time I bring one up.

As a fun note, I changed the name of the cluster, and everything starts up fine. "cjcullen-gke-e2e" appears to be cursed.

[2015-06-15 23:58] dchen1107 commented on #9822
@cjcullen based on @rjnagal's comment above, we only has that issue when network related configuration are changed for kube-apiserver spec. Question on GKE, is kube-apiserver's manifest is changed? especially network related configuration?

[2015-06-15 23:58] BenTheElder commented on #9681
The full output of my most recent run (against #9210) can be seen here: https://gist.github.com/BenTheElder/f8d7f70fa5bd45f9ad06

I'm seeing a single failed test take upwards of 20 minutes to run as well:
`[It] should release the load balancer when Type goes from LoadBalancer -> NodePort` https://gist.github.com/BenTheElder/f8d7f70fa5bd45f9ad06#file-e2e-snippet-L1172

[2015-06-16 00:04] nikhiljindal commented on #9711
I just ran ```./hack/local-up-cluster.sh --etcd-config=/tmp/etcd.json``` on HEAD and my local cluster came up fine.

@mnemotiv Does it work for you on HEAD?

[2015-06-16 00:04] brendandburns commented on #9717
While I agree in principle w/ @quinton-hoole I think that we need to do this for now until we actually have coverage when we go live.

[2015-06-16 00:11] saad-ali opened #9833 "After replication controller is deleted, some nodes do not kill running containers"
Discovered this while debugging with @ArtfulCoder

Some nodes do not kill containers after associated replication controller is deleted.

**Repro steps:**
* You may use a standard GCE 4 node cluster `n1-standard-1 (1 vCPU, 3.8 GB memory)`
* Download [sleepypod.yaml](https://gist.github.com/saad-ali/7d04ff21534729c6c42a)
  * It defines a replication controller with 300 replicas with 10 containers p

[2015-06-16 00:12] cjcullen commented on #9822
GKE's kube-apiserver manifest shouldn't change any of the network configuration. Some of the flags to the kube-apiserver binary are different, and we use a gce.conf file in an additional mounted volume.

[2015-06-16 00:16] dchen1107 commented on #9833
Is a watcher issue or kubelet failed to take an action here?

[2015-06-16 00:26] quinton-hoole commented on #9717
I'm happy as long as "we" is not me :-)

[2015-06-16 00:27] quinton-hoole commented on #9717
I unassigned myself, as I'm unlikely to have time for this in the next few weeks.

[2015-06-16 00:48] bprashanth commented on #9833
a good way to debug this would be to send an event from the kubelet anytime it notices either a create or delete for a pod via the watch conduit. that would be useful in general. If we see/don't see this event it rules out 1/2 the possible bug scenarios.

[2015-06-16 00:49] lavalamp commented on #9822
@cjcullen I think Dawn was actually asking if, during the GKE startup, the apiserver config file is written and then written again (modified).

[2015-06-16 01:04] lavalamp commented on #9450
You mean this, right? ```if existing.ResourceVersion != e.last {```

Yeah, it looks like someone was trying to avoid unnecessary deserializations, but it's wrong-- the condition will always be true (because every write will increment resourceVersion but not change e.last), and if it were ever not true, it would erroneously not run ```fn()```.

[2015-06-16 01:09] nkwangleiGIT commented on #9673
Hi lavalamp, thanks for your comments.
1. We already used namespace for each user for each RC/pod/service
2. Yes, we found one weird issue on kube-prxy below:
https://github.com/GoogleCloudPlatform/kubernetes/issues/9793
So for now, we're going to use HAProxy to replace kube-proxy to fix this, please see if any comments for 2nd issue, thanks.

[2015-06-16 01:11] bkeroackdsc opened #9836 "Pod init hooks"
I have a container in a pod whose only job is to populate some configuration values within the pod-local etcd on startup. This works fine except that after it exits successfully Kubernetes continually respawns it over and over again.

My current hack is to append ``&& tail -f /dev/null`` to the container command to allow it to "run" indefinitely.

It would be great if Kubernetes allowed one to spe

[2015-06-16 01:11] lavalamp commented on #9788
@vishh we use small VMs to keep our test cluster size & cost down. I agree that people probably won't use it that way in the wild.

[2015-06-16 01:15] justinsb opened #9837 "Containers fail to start if memory limit set but memory cgroup not (fully?) enabled"
On Debian Jessie, we need to boot with these options:
`GRUB_CMDLINE_LINUX="cgroup_enable=memory swapaccount=1"`

https://docs.docker.com/installation/ubuntulinux/#memory-and-swap-accounting

Without it though, I can still run docker directly passing memory limits, although I am warned those limits are ignored:
[code]

However, kubelet cannot start containers:

[code]

I haven't been able to track

[2015-06-16 01:16] bprashanth commented on #9788
OTOH, if I was speccing out a kubernetes cluster for production I would pick a 100 node g1-small cluster for the same reasons you just mentioned.

[2015-06-16 01:19] smarterclayton commented on #9450
Actually no, the last version is set here: https://github.com/GoogleCloudPlatform/kubernetes/blob/e200d5a317da3e3f6f25ff8f475aed785964443e/pkg/registry/service/ipallocator/etcd/etcd.go#L190 after a successful save.  So the version we check against here is our version and whether we are the last committer.

[2015-06-16 01:30] justinsb commented on #9450
@lavalamp yes, that's the attempt to skip the deserialization.  I agree it won't get hit often, because...

@smarterclayton yes I agree that CreateOrUpdate sets the last field, but I don't think that is the common case (in particular, tryUpdate does not set the last field after a write).  I tracked it back and it looks like CreateOrUpdate is only called from the repair loop, so for the update afte

[2015-06-16 01:30] mikedanese commented on #9836
Is it possible for you to use a container lifecycle hook? http://godoc.org/github.com/GoogleCloudPlatform/kubernetes/pkg/api/v1#Lifecycle

RestartPolicy is almost what you want but it is applied over all the containers in a pod. http://godoc.org/github.com/GoogleCloudPlatform/kubernetes/pkg/api/v1#RestartPolicy

[2015-06-16 01:34] lavalamp commented on #9788
@dchen1107 it sounds like this was the real P0 problem; now that #9824 is merged, can we close this issue?

@bprashanth Yeah. But we can split this into two issues: syncPods can get resource-starved; and our own addons are resource hogs. Can we find/file issues for both and close this?

[2015-06-16 01:39] bprashanth commented on #9788
The addons being resource hogs sounds like this issue, so maybe we can just demote it in priority? I'll  fork off a syncPods issue if there isn't one already. We should also surface somewhere that there is a relationship between node and cluster size, just so people aren't surprised.

[2015-06-16 01:40] saad-ali commented on #5880
@dchen1107 Yes, once the extra containers are removed, Heapster memory usage drops back down:
![heapster_mem_0extracontainers](https://cloud.githubusercontent.com/assets/10052848/8174155/be556a4a-138d-11e5-8075-3bcc93868a35.png)

As does InfluxDB memory usage (though not nearly close to original levels):
![influxdb_mem_0extracontainers](https://cloud.githubusercontent.com/assets/10052848/8174161/d

[2015-06-16 01:45] lavalamp commented on #9793
Is it possible that you have two pods implementing the service, and one of them is quick and one slow?

[2015-06-16 01:46] lavalamp commented on #9793
e.g., if you do `kubectl get endpoints serivceName`, are there two endpoints, and is one of them faster than the other?

[2015-06-16 01:47] lavalamp commented on #9450
...and it's a good thing it essentially never gets hit, because if it were, fn() would not get called and no progress would be made.

[2015-06-16 01:51] dchen1107 commented on #9788
Can we use this issue for misconfigured oom_score ones? That is a real p0 issue, and I had a fix for it which merged and @brendandburns is going to include it in our 0.19 patch release.

Can we move heapster's resource limits and scalability to  #5880 based on workload and cluster size?

to me, SyncPod one sounds like #9833?

[2015-06-16 01:54] dchen1107 commented on #9788
@bprashanth Please filed a separate one for syncPods if you don't think it is dup of #9833. I am closing this one for now.

[2015-06-16 01:54] #9788 closed

[2015-06-16 02:09] liggitt opened #9840 "longRunningRE matches practically all requests"
longRunningRE defaults to:
[code]

That is supposed to reject paths that should be rate-limited. Turns out, it matches pretty much every request made to the API: http://play.golang.org/p/K1voSIkX4K

Basically, any string with one of these characters:
[code]
followed by something other than one of these characters:
[code]
anywhere in the path

[2015-06-16 02:10] pmorie commented on #9815
@erictune @bgrant0607

[2015-06-16 02:27] derekwaynecarr commented on #9833
@smarterclayton - i thought I may have seen similar behavior today when stress testing but I had thought I may have done something stupid on the node.  We need to track this as well

[2015-06-16 02:31] #9599 closed

[2015-06-16 02:32] #9696 closed

[2015-06-16 02:49] smarterclayton commented on #9450
Try update not setting that field is very wrong - we get a response from etcd, we should be setting it.

[2015-06-16 02:53] smarterclayton commented on #9450
Also, refresh should be setting last.

[2015-06-16 02:53] #8013 closed

[2015-06-16 03:02] derekwaynecarr commented on #9681
Thanks for the logs.  I have been swamped working on OpenShift related performance testing, but I hope to have some time to assist here soon.  In practice, there are some tests that need to be disabled in a vagrant environment as they make no sense.  In addition , I am wondering if the slow or timing related tests should be held to the same standards as GCE or other cloud providers.  Will review y

[2015-06-16 03:05] BenTheElder commented on #9681
Thanks. I plan to look into it some more tomorrow as well.
On Jun 15, 2015 11:03 PM, "Derek Carr" <notifications@github.com> wrote:

[2015-06-16 03:11] karlkfi commented on #9681
I'm working on a PR to Ginkgo to allow Skipping tests at runtime. Once that's accepted I'll submit a PR to kubernetes to use Skip it the e2e tests, which allows us to skip noisily (but successfully) for tests that aren't supported by the infrastructure.

[2015-06-16 03:16] bkeroackdsc commented on #9836
@mikedanese RestartPolicy would be perfect if only it were per-container rather than pod.

I wouldn't mind trying to implement this if there's interest.

[2015-06-16 03:19] quinton-hoole commented on #9681
@karlkfi That will be very well received! :+1:

[2015-06-16 03:20] karlkfi commented on #9681
Ginkgo Skip PR: https://github.com/onsi/ginkgo/pull/169

[2015-06-16 03:23] justinsb commented on #8215
@vmarmol I really can't claim to understand this issue, but I hit it while trying to run with Ubuntu Vivid Vervet (which runs systemd), as part of my neverending quest to find a supported AWS image that doesn't require a reboot.

I was able to get it to work by doing this in kubelet:

[code]

But, honestly, I have absolutely no idea what I am doing here.  I guess I'm setting the root of the cgroup

[2015-06-16 03:26] mikedanese commented on #9836
cc @bgrant0607 for api changes.

[2015-06-16 03:47] derekwaynecarr commented on #9792
If the behavior is not aligned with the description, it's a bug.  The intent was for this field to include time to do a docker pull of any requisite images.  I had added this API, it's possible there was a bug or skew in behavior.  I have a corresponding bug in Red Hat bugzilla for this that I can link to tomorrow.

[2015-06-16 03:47] derekwaynecarr commented on #9792
@abhgupta

[2015-06-16 03:51] derekwaynecarr commented on #9790
Which provider or cluster did you use?  What admission control plugins are enabled?

See https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/admission_controllers.md

Need more info to know how to assist, but I suspect a simple configuration issue.

[2015-06-16 03:57] brendandburns opened #9843 "Flake in volume binder..."
From https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/66970232

[code]

[2015-06-16 04:09] thockin commented on #9843
@markturansky for an assist

On Mon, Jun 15, 2015 at 8:58 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-06-16 04:12] thockin commented on #9836
The corner cases around mixed-restart-policy pods is not worth the energy.
This is what lifecycle hooks should do, and if they aren't sufficient, we
should make them sufficient.

On Mon, Jun 15, 2015 at 8:26 PM, Mike Danese <notifications@github.com>
wrote:

[2015-06-16 04:13] thockin commented on #9793
We know kube-proxy has a long-tail problem, but it's not THIS bad.

On Mon, Jun 15, 2015 at 6:47 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-06-16 04:21] justinsb commented on #9717
Commenting so that I will remember to (1) open source the dashboard I wrote that makes it easy to watch results from Jenkins and (2) add the GCE output that you're now publishing (thanks!).  I just have to find the time, and I've been working on getting the AWS e2e tests actually passing :-)

FYI though, I would be surprised if anyone had better results than AWS, and AWS is still not at 100%.  I t

[2015-06-16 04:44] thockin commented on #9712
It's the right direction, we just (as you know :) ran out of time for 1.0.

On Fri, Jun 12, 2015 at 7:00 AM, Justin Santa Barbara <
notifications@github.com> wrote:

[2015-06-16 04:53] bprashanth commented on #9833
Can we convert comment 0 into an e2e test? AFAIK we don't have one that checks end to end deletes of countainers on the kubelet. Instead of ssh-ing we would use the proxy to scrape /pods on the node.

[2015-06-16 04:56] dchen1107 commented on #9833
@bprashanth Do we believe that syncPod response times is getting really big under resource stress, or just simply an bug with either watcher or kubelet?

[2015-06-16 04:57] dchen1107 commented on #9833
I will update e2e test to validate end to end deletes of containers.

[2015-06-16 05:01] dchen1107 commented on #9837
I believe docker CLI ignore those failures, but remote API doesn't. I reported a similar issue to docker / libcontainer related to swap limit.

[2015-06-16 05:02] smarterclayton commented on #9712
xref #260

[2015-06-16 05:06] smarterclayton commented on #9673
We've tested haproxy up to hundreds of thousands of front ends - 1.5 has a number of performance improvements and dynamic acl rules to enable that case.  It depends on how much traffic you want to put through your services.  In our case, we are programming the backend from the service endpoints, but the principle is the same.

[2015-06-16 05:10] smarterclayton commented on #9673
We probably also want to limit or scope service rules on a node in the future (so that you don't necessarily see all the services in the entire cluster on the same node).  A more in depth design has not been proposed yet

[2015-06-16 05:21] liggitt opened #9846 "kubernetes service doesn't have UID/creationTimestamp"
From a brand new cluster:
[code]

[2015-06-16 05:27] thockin commented on #9395
Yeah, this is a new symptom I've not seen before.  I was looking for something more ... incriminating.  Maybe you can run your kube -proxy with -v=4 soit generates more logs.  It's possible there's some corner case where we don't clean up properly, but even then I would expect the correct rules to show up later in the list...

[2015-06-16 05:32] thockin commented on #9623
I'm a little wary of making master-components depend on DNS, it feels a
little bit like a chicken-egg problem.  Can you explain why you need this
for a registry?  I think I am missing a piece.

On Fri, Jun 12, 2015 at 3:12 PM, Abhi Shah <notifications@github.com> wrote:

[2015-06-16 05:41] thockin commented on #9356
Last time (if I recall) we decided that defsault was fine for addons, and
that users should start their kubernetes experience with "here's how you
create a namespace".  Why don't we just update examples?

On Mon, Jun 15, 2015 at 12:51 PM, David Oppenheimer <
notifications@github.com> wrote:

[2015-06-16 05:41] mikedanese commented on #8528
Is it that there is not an example of how to script against the apiserver without kubelet: how to authenticate, how to discover resources, how to discover apiobject structures? These things are easy for people who are comfortable with kubernetes and go but not everyone else. Would an example of how to go through this process using curl resolve this issue?

[2015-06-16 05:46] davidopp commented on #9836
It's true that the most common use cases of sidecar containers, for example data loader and log saver, will run forever. However, IIRC we've occasionally told people to use sidecar containers for various kinds of initial configuration, and in those cases it seems that having the sidecar run once to completion and the other pod restart would be desirable.

I guess the lifecycle hook proposal would

[2015-06-16 05:48] thockin commented on #9673
I tested just plain iptables and I did not see any measurable slowdown with
tens of thousands of rules.

We have done some measurements of kube-proxy, and we know it has a long
tail.  Plans to fix that are after 1.0

On Mon, Jun 15, 2015 at 11:36 AM, Daniel Smith <notifications@github.com>
wrote:

[2015-06-16 05:50] thockin commented on #9836
We've thrown out the idea of having two stages in a pod - stage 1 only
completes when stage 0 is done.  E.g. all the containers in stage 1 have
completed successfully.  Like so many other things, it is a matter of
priority and making time for it among the ocean of other things going on :)

On Mon, Jun 15, 2015 at 10:47 PM, David Oppenheimer <
notifications@github.com> wrote:

[2015-06-16 05:51] davidopp commented on #9356
I remember that was discussed as a possibility, but I didn't realize it had been firmly decided (and I guess at least some others didn't remember it either).

I guess my concern would be whether this would be considered unnecessary complexity that would negatively affect the kick-the-tires experience.

[2015-06-16 05:54] davidopp commented on #9836
Yeah, I was assuming the user would be responsible for orchestrating the dependency between the two containers (e.g. the application in the main container would wait until the configuration data was populated by the other container before finishing its startup).

[2015-06-16 06:00] dchen1107 commented on #9356
@thockin I am not sure we decided on that. If we ended to do that, I want create a default LimitRange object for each namespace by default. We had tons of issues caused by overcommit nodes nowadays, and there is no way to protect the nodes without reasonable admission control. LimitRange is the minimum thing we can do for now.

+1 on @davidopp said about the complexity too.

[2015-06-16 06:01] thockin commented on #1366
kube-proxy probably should keep track of failed backends and preferentially
not use them.  Boy that is going to make the kube-proxy rewrite tricky :)

On Mon, Jun 15, 2015 at 9:12 AM, Mike Danese <notifications@github.com>
wrote:

[2015-06-16 06:03] hurf commented on #9790
@derekwaynecarr Thanks Derek! My mistake for not enable any admission controller. After the configuration, the resource caculation works now, and only one resourcequota is accepted.

[2015-06-16 06:08] pnovotnak commented on #9696
Freudian slip indeed :)

[2015-06-16 06:08] thockin commented on #8735
We want less host-OS-specific tweaks, not more.  Running dnsmasq seems like
a plausible way to get nodes using the cluster DNS, but details TBD.

On Thu, Jun 11, 2015 at 11:15 AM, Deyuan Deng <notifications@github.com>
wrote:

[2015-06-16 06:11] davidopp commented on #9356
I think #5547 is an alternative to LimitRange if we just care about limiting number of pods per node. (Actually using the feature is blocked on #8802 because there was some disagreement as to how to best set different flag value in test vs. production, but we could easily get that submitted and use the feature if it was considered important for 1.0.) We had put testing it on the back burner since

[2015-06-16 06:31] davidopp commented on #9792
We should let one of the experts weigh in, but it looks to me like it's doing what is documented. AFAICT PodStatus.StartTime is set on the first call to statusManager.SetPodStatus(), which happens on the first call to syncPod() for a pod, which is before the containers are started.

[2015-06-16 06:46] dchen1107 commented on #9356
I don't treat #5547 as an alternative to LimitRanger since there is no easy way to configure it based on node side.

For our internal system, I treated max_tasks_on_node as the control knob for capping daemons' management cost. Based on that we could roughly estimate the time / resource the agent needs to manage the workload on a machine at the worst case. So that we can do a careful resource prov

[2015-06-16 07:15] mnemotiv commented on #9711
@nikhiljindal no, it doesn't:
[code]
now it stops earlier without even publishing swagger info to logs.

https://github.com/GoogleCloudPlatform/kubernetes/pull/9390 - go-etcd client updated
https://github.com/GoogleCloudPlatform/kubernetes/pull/9447 - reverted the above due to failed tests
maybe this is related - we need an updated go-etcd

[2015-06-16 07:27] hurf commented on #9790
@derekwaynecarr  Is there any scenario would request more than one resourcequota in one namespace? Since resourcequota contains resourcequota itself, I guess it allows user to config the quantity by their needs.

[2015-06-16 07:35] dchen1107 commented on #9833
Ok, when you observed such issue, have you checked the node Status by running kubectl get nodes? Are those nodes still in Ready state?

Obviously your test scenario are putting our nodes overcommitted for both cpu and memory. I think I mentioned that when you first designed such test case. :-)  When a node is under resource pressure, everything could be slowly, including kubelet and docker. I trie

[2015-06-16 07:36] erimatnor opened #9849 "Avoid Python in shell-scripts (e.g., kube-addons.sh) to be compatible with CoreOS."
Kubernetes v0.19.0 breaks kube-addons.sh on CoreOS because it includes some Python code. I am running a setup where Fleet installs Kubernetes on CoreOS from the official tar-ball, basically extracting and installing Kubernetes similar to how Salt does it. This works fine in Kubernetes v0.18.2, but kube-addons.sh now fails on CoreOS because of the use of Python. It would be good if system services

[2015-06-16 07:59] davidopp commented on #9756
We can close this now, right?

[2015-06-16 08:19] satnam6502 commented on #9356
+1 to what Tim says.

[2015-06-16 08:24] gmarek commented on #9792
@davidopp it indeed is called in syncPod(), but in deferred function. Hence it's done after containers are started (after containerRuntime.SyncPod() returned), AFAICT.

[2015-06-16 08:33] davidopp commented on #9792
Oh, you're right. Thanks for clarifying.

[2015-06-16 10:16] fgrzadkowski commented on #9450
@lavalamp

To be honest I don't see how this could be a bug in etcd client library. Ugorji is used only to unmarshal etcd response. One of the fields in the response contains marshalled k8s api object, but it is not unmarshaled in go-etcd client library. In other words ugorji doesn't decode/encode our objects, it only decodes etcd.Response:
https://github.com/coreos/go-etcd/blob/master/etcd/respon

[2015-06-16 10:31] hurf commented on #9790
@derekwaynecarr I read https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/design/admission_control_limit_range.md , is multi limitranges used for the possible enhancement mentioned in the last section?
Since limitRange contains a list of limitRangeItems, can we have a restriction that one namespace can contain only one limitRange resource? If we want to define different limitranges

[2015-06-16 10:41] adyanthaya17 commented on #9237
Hi, thank you for the responses. So I reinstalled the ubuntu kubernetes setup of master and minion node. I have installed docker on both the nodes as it behaves as minion nodes. I have a new error this time.

When I run the command 'KUBERNETES_PROVIDER=ubuntu ./kube-up.sh', it reads as cluster validation succeeded. Even it's able to fetch the node state that reads 'Ready'.

The thing is when I iss

[2015-06-16 10:56] adyanthaya17 opened #9850 "'kubectl get nodes' returns unknown command"
So I reinstalled the ubuntu kubernetes setup of master and minion node. I have installed docker on both the nodes as it behaves as minion nodes. I have a new error this time.

When I run the command 'KUBERNETES_PROVIDER=ubuntu ./kube-up.sh', it reads as cluster validation succeeded. Even it's able to fetch the node state that reads 'Ready' during the command process when it ends.

The thing is whe

[2015-06-16 12:07] michaeltchapman opened #9852 "Mesos getting started guide fails due to missing parameter for apiserver"
in `docs/getting-started-guides/mesos.md` the command:

    ./bin/km apiserver \
      --address=${servicehost} \
      --mesos_master=${mesos_master} \
      --etcd_servers=http://${servicehost}:4001 \
      --service-cluster-ip-range=10.10.10.0/24 \
      --port=8888 \
      --cloud_provider=mesos \
      --v=1 >apiserver.log 2>&1 &

fails because apiserver needs the parameter --portal_net.

[2015-06-16 12:14] fgrzadkowski commented on #9788
@bprashanth I don't think we are optimizing for g1-small. For example scalability e2e jenkins tests are using n1-standard-1 that have twice as much memory (3.75G vs 1.7G).

[2015-06-16 13:20] fgrzadkowski commented on #9444
I was trying to reproduce this, but failed. I've run e2e tests 4 times and all passed. I suggest we remerge PR with newer etcd client version with some additional debugging. I'll merge it my morning and will watch jenkins closely to look for regressions. If needed I'll revert it again (probably even before US morning), but hopefully with more data for debugging. WDYT? @quinton-hoole @smarterclayto

[2015-06-16 13:22] akamalov opened #9857 "Kube-dns - kube2sky fails with /etc/dns_token/kubeconfig: no such file or directory"
<b> Environment </b>

```CoreOS: 695```
```Kubernetes release: 0.18.0```

Following examples described at https://github.com/GoogleCloudPlatform/kubernetes/tree/afedb2d24a920dc3de4f10926c1f93accf0d93ed/cluster/addons/dns to setup Kube-DNS. However, I am getting an error trying to run kube-dns:

[code]

Here is my service file: ```kube-dns.service```
[code]

Here is my ```rc``` file: ```kube-dns.co

[2015-06-16 13:29] smarterclayton commented on #9673
We've had rhel 6 instances with a hundred thousand rules performing port mapping (similar but not identical use pattern) and the primary issues were restart and update times, not network.

[2015-06-16 13:33] smarterclayton commented on #9444
Sgtm

[2015-06-16 13:50] derekwaynecarr commented on #9790
I will use this issue to fix the validation enforcement to guarantee a min is less than a max and that a default is in the specified range.

In OpenShift, we run with the restriction that a namespace has a single limit range and we enforce that via quota.  If you have multiple, basically each limit is enforced prior to admission so the resource being admitted needs to be valid according to all of

[2015-06-16 13:52] derekwaynecarr commented on #9790
Right now, we do not yet support a limit range targeting a particular class of pods via a label selector but it's a possible feature enhancement in the future.  If done, it would be post Kube 1.0

[2015-06-16 14:06] liggitt commented on #9403
#9840 is related... API server rate-limiting has no effect currently

[2015-06-16 14:11] justinsb opened #9860 "Salt requires module.reload to be sprinkled everywhere for systemd"
Apparently we need:

[code]

for _every_ file that systemd caches.

https://github.com/saltstack/salt/issues/16778#issuecomment-59974857

Currently we're only using systemd on redhat, but I don't see how they managed to sidestep this problem...

[2015-06-16 14:18] justinsb commented on #9860
(Working on this, I'm just hoping there's a workaround I'm missing)

[2015-06-16 14:33] WIZARD-CXY commented on #9237
@adyanthaya17, you forget something in my guide. The `kubectl` binary should be in cluster/ubuntu/binary directory.You can put it into your `PATH` directory.So you can use

[2015-06-16 14:38] bprashanth commented on #9788
@fgrzadkowski we recently bumped it up (https://github.com/GoogleCloudPlatform/kubernetes/pull/9678, and that was a pr for the normal e2es, scalability just benefitted from it). For example if you check the build output from the jenkins scalability run of build 1228 you'll see we use g1-smalls.

@dchen1107 on a cluster I setup last night 2 nodes died, 1 recovered,
(e2e-test-beeps-minion-9sar, e2e-