[2016-03-09 12:54] deads2k commented on #22484
Not just that, it returns a *random* first since its based on map ordering.

[2016-03-09 13:35] huang195 commented on #22585
@yujuhong Here's the metrics information after starting 15 pods on a single node. Quite a few docker operations take an abnormal amount of time.

[code]

[2016-03-09 13:39] huang195 commented on #22585
@dchen1107 This is the exact command I'm using to sequentially starting pods and measure the time it takes to start each.

[code]

Is there a way to translate this `kubectl` command to its `docker` commands so I can run them manually to see if I can reproduce this problem by hand? Specifically I'd like to create/start infrastructure container and then create/start the busybox container, with all t

[2016-03-09 13:43] eparis commented on #22629
fixed!

[2016-03-09 13:43] #22629 closed

[2016-03-09 14:00] patrikbeno commented on #15108
Kubernetes v1.2.0-beta.0
`--register-schedulable[=true]: Register the node as schedulable. No-op if register-node is false. [default=true]
`
Using kubelet on master node with --register-node=false
(as per https://coreos.com/kubernetes/docs/latest/deploy-master.html)

Still an issue. 6 error lines per 10 seconds.

[2016-03-09 14:19] wojtek-t commented on #22659
@ixdy @spxtr - this seems like a problem with Jenkins itself...
To small machine? To many runs in parallel?

Can you please take a look?

[2016-03-09 14:20] wojtek-t commented on #22654
Looks like a duplicate of #22659

[2016-03-09 14:20] #22654 closed

[2016-03-09 14:22] jmastr opened #22742 "Fix 'kubectl get rc' for rcs with more than one container"
Commit 53d4b15 moved columns into wide option to make result more readable. However, the patch did not consider more than one container in the rc, e.g.:
[code]
The desired output shall be probably something like that:
[code]
and the remaining information in `-owide`.

[2016-03-09 14:25] wojtek-t commented on #22045
Unfortunately we don't have logs in GKE...

[2016-03-09 14:26] wojtek-t commented on #22045
I mean logs from apiserver

[2016-03-09 14:27] wojtek-t commented on #19681
@mikedanese - I'm afraid we don't have logs from master components from GKE runs...

[2016-03-09 14:32] wojtek-t commented on #20778
Yeah - we were observing hanging forever proxy in scalability suites some time ago, before we did some workaround. It's definitely possible that this is the same reason here (it happens from time to time).

[2016-03-09 14:36] wojtek-t commented on #21451
After downgrading Jenkins to 1.9 Docker this is no longer happening.
I think we should close this issue (or if we want to leave it open for some reason, we should remove it from flaky). @ixdy - what do you think?

[2016-03-09 14:43] wojtek-t commented on #18980
If that's after:

    +++ [0307 12:28:56] Starting kubelet in masterful mode

Is it a dup of #21640 ?

[2016-03-09 14:44] wojtek-t commented on #21866
Hmm - since we can't do anything about it and it's documented, can we close this one? @dchen1107 ?

[2016-03-09 14:48] AdoHe commented on #22484
I just noticed the map ordering, it should returns a random first.

[2016-03-09 14:55] wojtek-t commented on #22238
I don't think so - it's usually in the order of tens of milliseconds. It's quite a huge difference between tens of milliseconds and 15 seconds...

[2016-03-09 14:55] mqliang commented on #22054
close this in favour of https://github.com/kubernetes/kubernetes/issues/22217

[2016-03-09 14:55] #22054 closed

[2016-03-09 14:56] wojtek-t commented on #22259
@yujuhong - what's the status of it?

[2016-03-09 14:57] fgrzadkowski commented on #22676
@piosz Can we estimate amount of data sent in this cluster? How many containers we had?

[2016-03-09 14:57] wojtek-t commented on #22300
@dchen1107 @yujuhong ^^

[2016-03-09 14:57] AdoHe commented on #22742
@jmastr IIUC you want to move the containers display row to `-o wide` option, I am not sure whether we should do this, if we do this with rc, we have to do same thing with rs, ds etc, in order to keep consistence. @kubernetes/kubectl

[2016-03-09 15:06] wojtek-t commented on #22341
Can't we just retry it (similarly to how we e.g. retry creating firewall rules:
https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L379

Should be very simple to do.

[2016-03-09 15:08] wojtek-t commented on #22611
Yeah - reverting that PR solved the issue. Closing.

[2016-03-09 15:08] #22611 closed

[2016-03-09 15:39] gembin commented on #22130
I got the same problem with almost same pod spec except for IP, but a different error:
[code]

[2016-03-09 15:59] antoineco commented on #15056
This doesn't seem to be valid anymore since this particular commit https://github.com/kubernetes/kubernetes/commit/413d8d18fe6a454b728b911c8adab7163ab90250. Is it even still possible to communicate with etcd over TLS?

[2016-03-09 16:01] timothysc commented on #22699
This should belong to the @kubernetes/sig-storage & @kubernetes/rh-storage teams.

But yes we need node-capabilities in order to do this.

[2016-03-09 16:07] vaijab commented on #13585
Meanwhile:
[code]

[2016-03-09 16:09] jmastr commented on #22742
@AdoHe No, that was only my guess. I would like to revert commit 53d4b15. This also should keep the consistency...

[2016-03-09 16:45] huang195 opened #22747 "MESOS: km controller is broken"
Built from HEAD, `km controller-manager` fails to start. Log shows `nil exception`

[2016-03-09 16:45] huang195 commented on #22747
cc: @jdef

[2016-03-09 16:48] gmarek commented on #18558
It happened again: http://pr-test.k8s.io/22743/kubernetes-pull-build-test-e2e-gce/32142/

[2016-03-09 16:49] bprashanth commented on #22676
~10,000 failed pods and a n1-standard-1 master. Nodes were out of disk. There was a period when we kept creating pods that went into failed, there were only a handful of running pods.

[2016-03-09 16:54] bprashanth commented on #21640
Noticed a similar hang in: https://github.com/kubernetes/kubernetes/issues/18980#issuecomment-193600649

The logs are a bit different from those observed in https://github.com/kubernetes/kubernetes/issues/21640#issuecomment-187457714:
[code]

[2016-03-09 16:54] bprashanth commented on #18980
Likely so, closing for now as a dupe of #21640

[2016-03-09 16:54] #18980 closed

[2016-03-09 17:14] bgrant0607 commented on #22024
An example from @termit on slack https://gist.github.com/roman-shuhov/fb3fe7605152a7e9e7f7

[code]

cc @wojtek-t @lavalamp

[2016-03-09 17:15] bgrant0607 commented on #22024
Should be documented in known issues #21000 if we're not going to fix it. It generates a lot of noise, though.

[2016-03-09 17:24] wojtek-t commented on #22024
Looking into logs from the original post, it seems there are 2 different issues:

first is the problem in the communication apiserver <->etcd:

     2016-02-25T18:42:48.7850+00:00 tuk6r2kmaster2 [err] [docker] E0225 18:42:48.785758       1 errors.go:62] apiserver received an error that is not an unversioned.Status: too old resource version: 1785219 (1787027)

second is the problem with communicati

[2016-03-09 17:45] Calpicow commented on #22609
I don't believe that issue is related. When I down a master, I could see the node and pods being removed. What's not being removed is the second apiserver IP in the kubernetes endpoint.

[2016-03-09 17:48] ArtfulCoder commented on #22717
Yes, hairpin mode in a flannel setup seems to not work.
This is a dup issue of #20391

[2016-03-09 17:56] ArtfulCoder commented on #22698
you have `/proc/sys/net/ipv4/ip_forward` turned on ?

[2016-03-09 17:58] ArtfulCoder commented on #20391
Users are hitting this issue. (referenced issue #22717)

[2016-03-09 18:02] yujuhong commented on #22300
We have seen this before but still not sure what's the cause. Use tagged image (#20836) will help reducing unnecessary pulling and reducing such flake. (The node in question had successfully pulled an nginx image before this happened)  @fejta has an open PR for fixing this for the deployment tests: #22606

[2016-03-09 18:13] yujuhong commented on #22259
I discussed with @dchen1107 for the possibility of decoupling kubelet's and docker's health check, so that we can allow kubelet to report node not ready when docker is down. In order to do so, we will need to modify docker's health check to detect hangs (e.g., using `docker ps`) and put in more robust mechanism (e.g., retries and failure threshold) to prevent killing docker randomly. This may be t

[2016-03-09 18:13] childsb commented on #22689
hi @paralin. We are building up user stories for Recycle function.  Is there a reason that you'd prefer to recycle an existing volume over deleting and re-creating?  If the delete and recreate where automated, would that be sufficient?

[2016-03-09 18:14] huang195 commented on #22585
@yujuhong Just for comparison, here's the metrics information using HEAD of release-1.1. It looks much better. Again, I'm using the same command to start Kubernetes, using the same benchmark, and using the same cluster of nodes.

[code]

[2016-03-09 18:25] bprashanth commented on #13774
@roberthbailey there's a lot of scope for DOS prevention at scale and I think we'll inevitably need a dedicated DOS controller, so starting off with one makes sense to me. I think we should get the ball rolling on basic DOS prevention (https://github.com/kubernetes/kubernetes/issues/22679) in 1.3.

It should at least protect us from: while true; do kubectl create -f pod.yaml; done, or more likely,

[2016-03-09 18:31] gmarek commented on #19014
By looking at numbers it seems to me that there's a memory leak in Kubelet:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-soak-continuous-e2e-gce/4870/

[code]

[2016-03-09 18:32] carsonoid opened #22750 "Kubernetes on AWS describes instances too frequently"
We have two Kubernetes clusters and the master seems to call out to AWS to DescribeInstances an average of 150 **thousand** times per day on one and around 90 thousand times per day on the other.

This seems absurd. Is there a way to throttle down the down the number of AWS calls so that we don't hit our limit? This is going to be an even bigger issue as we look into running multiple kubernetes ma

[2016-03-09 18:33] spxtr opened #22751 "_SCOPES_WARNING showing up in GKE jobs"
I'm seeing this warning show up every time we do a `detect-node-instance-group`, `ssh-to-node`, and some others. Everything still seems to work, but we're getting 50-100 of these, depending on the job. [Example](https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/2508/build-log.txt)
[code]

[2016-03-09 18:40] gmarek commented on #22259
cc @bgrant0607 @davidopp - as this seriously impacts usability of the system.

[2016-03-09 18:43] wojtek-t commented on #22259
@gmarek - the question is whether it really does... I didn't see that failure at least since Friday, which means that since we are running scalability suite ~ every hour, that gives us ~120 runs times 100 nodes / run -> 12.000 nodes without such failure. So maybe it's not that serious now...

[2016-03-09 18:43] paralin commented on #22689
@childsb I'd be quite happy if there was a delete and recreate on AWS or GCE. As far as I knew there wasn't yet. But yeah, that'd be fine.

[2016-03-09 18:50] gmarek commented on #22259
That's true, but I'd like to understand why it got better, and not assume that it was a very, very bad luck last week.

[2016-03-09 18:58] markturansky commented on #22689
"Delete" works for AWS and GCE as a reclamation policy.

The recycler controller ignores volumes set to Retain and either recycles
or deletes volumes w/ Recycle or Delete policy, respectively.  The plugins
for the volumes will correctly delete a cloud volume.

Manually created EBS PVs (and GCE) can use the delete policy.  The downside
is that without dynamically provisioning, the pool of available

[2016-03-09 19:01] dchen1107 commented on #22259
Like what I mentioned above and some other issues, I spent more than one days to reproduce this issue, and failed. I did hit some other issues, one of them is  #22480 which is addressed. Also our jenkins builds look good. Changing babysitter for docker daemon to docker ps instead of docker version is too risky for 1.2, especially which might result more unnecessary killing for docker. It also invo

[2016-03-09 19:01] #22259 closed

[2016-03-09 19:02] ixdy commented on #22658
Yes, I'd love to automate the process of building and pushing a new image on merge. Pretty sure there's even a Jenkins plugin to do that, though I haven't looked into it (and don't immediately have bandwidth for it).

[2016-03-09 19:03] davidopp commented on #22518
ping @soltysh -- we're getting very close to closing 1.2

[2016-03-09 19:03] dchen1107 commented on #21570
I am closing this one. Supporting 100 pods (actuall configured with 110 pods) is in release notes, and we are going to document it separately.

[2016-03-09 19:03] #21570 closed

[2016-03-09 19:04] davidopp commented on #22449
ping - we're getting close to the end for 1.2

[2016-03-09 19:04] davidopp commented on #22106
ping @justinsb - can you confirm there's nothing to do here for 1.2?

[2016-03-09 19:10] #21451 closed

[2016-03-09 19:11] soltysh commented on #22518
I'll try to prepare a PR later today. Sorry was quite busy that last few
days.
On Mar 9, 2016 7:03 PM, "David Oppenheimer" <notifications@github.com>
wrote:

[2016-03-09 19:20] vishh commented on #22668
A note about the bump:  google/cadvisor#1152
<https://github.com/google/cadvisor/pull/1152> will have to be
cherry-picked into `release-0.22` branch and then we can create a tag based
on that branch. We can then use that tag to update cadvisor deps on the
kube side,

On Tue, Mar 8, 2016 at 10:17 AM, Derek Carr <notifications@github.com>
wrote:

[2016-03-09 19:23] maclof commented on #22698
Yes @ArtfulCoder it is turned on as below:
[code]

[2016-03-09 19:23] dchen1107 commented on #22742
commit 53d4b15 is in 1.2 release branch. I marked this as P0 and 1.2 milestone for now. We need to make the decision asap.

[2016-03-09 19:24] mattseh opened #22752 "Local cluster should support DNS"
Hi,

This guide is a good start - http://kubernetes.io/v1.1/docs/getting-started-guides/docker.html - but IMO it doesn't go far enough. I think most people will want the DNS (and maybe the UI) addons, but the information on how to do this is scattered around. It'd be nice to be able to do the getting started guide, then instantly move on to one of the examples (which require DNS).

[2016-03-09 19:39] ArtfulCoder commented on #22698
Can you try one more thing:
can you run tcpdump on all interfaces on the offending host as you make the curl call ?

1. I want to verify whether DNAT happened ?
From the trace, it feels that it didn't, but tcmpdump should tell us..

2. If DNAT did happen, then the packet does not exit eth1 after DNAT happened, because the packet came in on ETH1 and for some reason, won't go out again on ETH1 ?

Be

[2016-03-09 19:41] mml commented on #22611
OK, AIUI this is now fixed, but reopen if I'm mistaken.

[2016-03-09 19:42] paralin commented on #22689
@markturansky Okay so there is currently no implementation for creating volumes, correct?

[2016-03-09 19:46] dchen1107 commented on #21086
I am going to close this one. We are going to create containervm image with CONFIG_CFS_BANDWIDTH for testing.

[2016-03-09 19:46] #21086 closed

[2016-03-09 19:47] bgrant0607 commented on #22742
We shouldn't revert the change. We should move the other containers to the wide output.

In general, `kubectl get` output should NEVER be multi-line.

[2016-03-09 19:48] markturansky commented on #22689
There is the 1st pass here:
https://github.com/kubernetes/kubernetes/tree/master/examples/experimental/persistent-volume-provisioning

The newer, fuller feature is in development.

On Wed, Mar 9, 2016 at 2:43 PM, Christian Stewart <notifications@github.com>
wrote:

[2016-03-09 19:55] piosz commented on #22449
Sorry for the delay. I'll take a look tomorrow.

[2016-03-09 20:12] spxtr opened #22754 "Kubelet [Serial] [Slow] regular resource usage tracking for 100 pods per node over 20m0s"

[2016-03-09 20:15] spxtr opened #22755 "E2E Failure: "Kubelet [Serial] [Slow] regular resource usage tracking for 100 pods per node over 20m0s""
It's been broken every test since http://ci-test.k8s.io/kubernetes-e2e-gce-serial/791 . It's flaky, but not broken in `gke-serial`.

[2016-03-09 20:51] #22561 closed

[2016-03-09 20:57] dchen1107 commented on #22480
I am going to close this issue since #22483 was merged.

[2016-03-09 20:57] #22480 closed

[2016-03-09 21:06] yujuhong commented on #22754
dup #22755

[2016-03-09 21:06] #22754 closed

[2016-03-09 21:16] yujuhong commented on #19014
I checked jenkins-e2e-minion-rcef and dumped the goroutines: https://gist.github.com/yujuhong/64f0f2c08a5f20f51099
There were only 10~15 containers running at the time, but pprof showed ~700 goroutines running.

[code]

[2016-03-09 21:22] dchen1107 commented on #21866
Close this one. After adding workaround for hairpin mode, docker process hung issue is rare. I am closing this issue, and we are going to document docker issue as known release issue.

[2016-03-09 21:22] #21866 closed

[2016-03-09 21:24] bgrant0607 commented on #22742
Could you please work on this, @AdoHe ?

[2016-03-09 21:25] bgrant0607 commented on #22742
Personally, I think we could omit all of the container names.

[2016-03-09 21:26] bgrant0607 commented on #22742
And probably repo names

[2016-03-09 21:28] dchen1107 commented on #22755
@yujuhong This is the failure what I mentioned to you earlier.

[2016-03-09 21:30] jmastr commented on #22742
Having the container names was what I wanted in the first place. It gives a
nice overview. Good for a huge cluster.

Please do not remove that behavior...
Am 09.03.2016 22:27 schrieb "Brian Grant" <notifications@github.com>:

[2016-03-09 21:31] dchen1107 commented on #22755
I think I know what is going on here. Now we registered 4 nodes including master node but master is unschedulable. The test itself doesn't detect such, and expect 400 pods. I will send pr shortly to fix this.

[2016-03-09 21:32] yujuhong commented on #19014
[code]
/cc @ncdc, @kubernetes/sig-node

[2016-03-09 21:33] yujuhong commented on #22755
@gmarek already had a PR up to fix this #22743

[2016-03-09 21:37] ncdc commented on #19014
@yujuhong what exec / attach / port-forward calls are in play during this test?

[2016-03-09 21:39] yujuhong commented on #19014
I am not sure which e2e test caused this, but https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubectl.go does test all those functions.

[2016-03-09 21:40] ncdc commented on #19014
Can you describe how this perf test relates to other e2es?

[2016-03-09 21:40] dchen1107 commented on #22609
cc/ @mikedanese @lavalamp they might see the issue before.

[2016-03-09 21:42] yujuhong commented on #19014
The test was just monitoring the memory/cpu usage of docker and kubelet, and it failed because of the high memory usage caused by the ~200 goroutines.

[2016-03-09 21:43] ncdc commented on #19014
Right, but what is creating those spdy goroutines? Those only come from exec / attach / port-forward.

[2016-03-09 21:43] yujuhong commented on #19014
No, they must have been leftover from previous e2e tests.

[2016-03-09 21:44] ncdc commented on #19014
So it runs a bunch of e2es against a cluster, and then this test eventually runs against the same cluster?

[2016-03-09 21:45] yujuhong commented on #19014
Yes, the e2e tests are run continuously in the same cluster (soak cluster), and this test is just one of them.

[2016-03-09 21:47] ncdc commented on #19014
Ok, thanks for the clarification. I'll see if I can reproduce locally. I had previously fixed one of these issues (spdy connection hanging while shutting down, which ultimately will clear after 10 minutes), but that fix afaik is in Kube already.

[2016-03-09 21:48] yujuhong commented on #22259
What made you say so? Whether it was caused by docker/kernel or not, kubelet stopped running the sync loop in the initial failure :-)

[2016-03-09 21:50] mikedanese commented on #22609
This isn't a bug. This is by design but it's likely the design could be better.

[2016-03-09 21:54] yujuhong commented on #19014
FYI, we create a new soak cluster every week, and the current version is v1.3.0-alpha.0.232+8b186991e2a857

[2016-03-09 21:59] bgrant0607 commented on #22755
Fixed

[2016-03-09 22:01] bgrant0607 commented on #22518
@soltysh Thanks. This needs to be done by tomorrow to get into 1.2.

[2016-03-09 22:01] yujuhong commented on #19014
@ncdc, I ran the "kubectl client" e2e test and after 15 minutes, my node was still left with 25 connections/goroutines. You should be able to reproduce this easily. Let me know if there's anything I can help.

[2016-03-09 22:03] ncdc commented on #19014
@yujuhong yes, I can reproduce. I'll let you know what I find out (might not be until tomorrow).

[2016-03-09 22:04] yujuhong commented on #22370
https://github.com/kubernetes/kubernetes/issues/19014#issuecomment-194510029 could be the root cause.

[2016-03-09 22:05] jayunit100 commented on #20999
update
- liveness fix submitted here #22757
- since k8petstore flakes arent reproducible even on GCE, maybe we can  assume it has something to do w/ parallel test services colliding...

- K8petstore passes consistently outside of CI, so maybe its more a parallel test issue then a examples/ failure.
- Spark fixed now: containers were labelled wrong
- Cassandra fixed now: The new maven jar has to be

[2016-03-09 22:10] vishh commented on #22694
Yeah. I will handle this.

On Tue, Mar 8, 2016 at 2:28 AM, David Oppenheimer <notifications@github.com>
wrote:

[2016-03-09 22:10] jayunit100 opened #22759 "Fix infra for last two failing example e2es"
The main work of fixing examples/ code for the obvious failures was done in #20999 .

We still have a couple of minor things left to do for making examples/ 100% perfect.

- cassandra: Needs to use the containers that are built from maven jars in the examples/ source.  Otherwise endpoints fail.  This is an easy fix.  Ive run cassandra many times, and confirmed its stable iff we use the new contain

[2016-03-09 22:13] dchen1107 commented on #22259
Because:

*  Initial comment: https://github.com/kubernetes/kubernetes/issues/22259#issue-137508309 only tells me one of static pods on the node is pending.
* Comment you made at https://github.com/kubernetes/kubernetes/issues/22259#issuecomment-190829856 only tells kubelet failed with /healthz. But the timeline is after test failure. I ruled out this comment.
* Comment @Random-Liu made at https:/

[2016-03-09 22:17] spxtr commented on #20999
Thanks for taking care of these :)

[2016-03-09 22:17] yujuhong commented on #21640
Uh...even if kubelet couldn't start up properly, the test itself should've timed out and logged "Timed out waiting for kubelet to answer at http://127.0.0.1:10248/healthz; tried 25 waiting 0.5 between each".
I am not sure if this failure is related.

[2016-03-09 22:22] yujuhong commented on #22259
kubelet will fail /healthz only if sync loop hangs. I checked the log at the time, and it was clear that kubelet was inactive (not printing any message in sync loop) for a while. The healthz/ failure was reported after the test already failed because kubelet only fails the healthz/ if sync loop has not been run in 5 minutes. Not that this is important now, but I think it's a hang due to docker/ker

[2016-03-09 22:23] ixdy commented on #22759
@jayunit100 Thanks for your hard work on this! Build logs and artifacts should be viewable at http://ci-test.k8s.io/kubernetes-e2e-gce-examples/.

[2016-03-09 22:24] mml commented on #22489
The test has a broken assumption: that the pods it lists once it gets to the "ensuring all pods are running and ready" step are all the interesting pods.  It will wait and poll to see if *that list* of pods gets healthy, and of course sometimes that list won't be complete.

Later, the test passes if the new set of pods acquired by the same method (a) has the same length, and (b) all get healthy wi

[2016-03-09 22:31] ixdy commented on #22759
FYI, the petstore test has failed every build since 8197 (most recently in 8227), which suggests a recent regression. Before that, it failed in 8192, 8190, 8182, 8180, 8173, 8171, 8169, 8168, 8166, and more even older builds.

[2016-03-09 22:39] yujuhong commented on #22585
@huang195, the container start takes unusually long in your cluster, which matched our theory.
[code]
We did slightly change the container create/start code to prepare for docker upgrade (#20842), but I fail to see how that PR might've caused this.
If you could bisect and confirm that this PR is the cause, we'll have more to go on...

[2016-03-09 23:00] jsilberm commented on #15818
FWIW, RH/CentOS 7 no longer use "eth0".
When I made sure that:
FLANNEL_IFACE is set to: enp1s0f0
good things happened ...

[2016-03-09 23:04] mikedanese commented on #21367
Ok i opened #22760 with the other approach.

[2016-03-09 23:16] vishh commented on #22652
As a temporary workaround, we can disable the filesystem tests while running on devicemapper nodes. Node e2e tests are written using the ginkgo framework. So it should be possible to ignore one or more tests.

[2016-03-09 23:34] madhusudancs opened #22761 "Fuzzer for LabelSelector type"
LabelSelector type fields - keys, values and operators, have more stringent validation requirements than other string fields. The current fuzzer implementation has no capability to generate the values that conform to these validation requirements. A fuzzer that satisfies these requirements must be implemented.

cc @bgrant0607 @lavalamp

[2016-03-09 23:45] vishh commented on #22179
Would making the root filesystem read-only help? That will be possible in v1.2

@pmorie: From kube perspective, why do we care if a user where to specify a non-zero gid that is incompatible with their image?

[2016-03-09 23:58] nikhiljindal commented on #21353
Fixed by https://github.com/kubernetes/kubernetes/pull/22420

[2016-03-09 23:58] #21353 closed

[2016-03-10 00:03] mml commented on #22489
Hmm.. unfortunately checkPodsRunningReady() takes a list of strings.  A simpler approach is to loop over listing all the pods until that list has the length we expect (14 AFAICT).  Until we have a list of 14 pod names, we won't enter the phase where we're waiting for those pods to be running and ready.

[2016-03-10 00:13] dchen1107 commented on #22652
@vishh This is the workaround we talked about at yesterday's sig-node meeting. At least we shouldn't make this test as conformance test.

[2016-03-10 00:15] saad-ali commented on #22590
Definitely needs to be done, and the sooner the better.

@kubernetes/sig-storage @kubernetes/rh-storage: Can someone jump on this.

Beta/RC for v1.2 are targeted within a week, so if we can get this in and cherry picked, that would be wonderful--if not, this is not a 1.2 blocker.

[2016-03-10 00:19] saad-ali commented on #22592
Fix pending: https://github.com/kubernetes/kubernetes/pull/22602

[2016-03-10 00:25] saad-ali commented on #22592
This issue appears to be a duplicate of https://github.com/kubernetes/kubernetes/issues/22532
Do we need both?

[2016-03-10 00:52] saad-ali commented on #14642
@bussyjd That's a different issue. GCE requires that a PD must be in the same zone as the instance that will use it.

[2016-03-10 01:04] vishh commented on #22652
What is the criteria for a test to be included in Conformance?

On Wed, Mar 9, 2016 at 4:13 PM, Dawn Chen <notifications@github.com> wrote:

[2016-03-10 01:06] bgrant0607 commented on #22672
Moving scalability to 1.2 seems reasonable to me. We don't expect much to change in 1.1 at this point.

Feature tests for 1.2 features makes sense to me.

Getting the upgrade tests up is pretty critical at this point. The existing upgrade tests are upgrading from what to what?

Many of them are failing. For example, kubernetes-upgrade-gce-1.1-master-step2-kubectl-e2e-new:
[code]

[2016-03-10 01:08] mlucy opened #22764 "Unable to restrict pod access to Kubernetes API"
Hi,

I'm using GKE, and trying to set it up so that individual pods can't issue commands to the Kubernetes API.  (I'm planning to run arbitrary code in these pods, so it would be really bad if a single pod getting pwned gave someone access to all the other pods.)

Is there a standard way of doing this?  GKE is automatically mounting a token at `/var/run/secrets/kubernetes.io/serviceaccount/token`,

[2016-03-10 01:31] bgrant0607 commented on #22590
@saad-ali Please add a priority label

[2016-03-10 01:36] dchen1107 opened #22765 "Automated docker validation tests"
We introduced node test infrastructure for 1.2 release, and engineers are working on docker validation test suite too. We should automate today's docker release validation process by fetching the latest docker release candidate from docker.io and run our node conformance tests.

cc/ @kubernetes/goog-node

[2016-03-10 01:37] dchen1107 commented on #22765
@liangchenye I am assigning this one to you for now. Please let us know if you don't have the bandwidth for this.

[2016-03-10 01:41] yujuhong commented on #15108
What errors did you see with `--register-schedulable=false`?

[2016-03-10 02:22] bgrant0607 commented on #21625
Is this really a release blocker? I don't see any activity.

[2016-03-10 02:27] bprashanth commented on #21625
Clearing 1.2 mileston since we put in a mitigation https://github.com/kubernetes/kubernetes/pull/22069 and have a failsafe backoff so things don't go completely awry https://github.com/kubernetes/kubernetes/pull/21982.

[2016-03-10 02:41] bgrant0607 commented on #22755
Still failing

[2016-03-10 02:43] bgrant0607 commented on #22755
kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/749
[code]

[2016-03-10 02:53] yujuhong commented on #22755
One of the nodes ran into the "no available IPv4 addresses" docker issue #21523
[code]

[2016-03-10 02:56] paralin commented on #22689
@markturansky Thanks, I will have a look at that and see if I can contribute at all.

[2016-03-10 02:57] bgrant0607 commented on #22592
Closing in favor of #22532. Reopen if that's wrong.

[2016-03-10 02:57] #22592 closed

[2016-03-10 03:00] yujuhong commented on #22755
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/749/

Also, not all logs were collected for this node (gke-jenkins-e2e-eb728830-node-dexu). E.g., kubelet.log was empty but docker.log was fine. /cc @spxtr

Also, probably unrelated, but the build log is full of warning like this:
[code]

[2016-03-10 03:00] bgrant0607 commented on #21692
Is this fixed?

[2016-03-10 03:03] bgrant0607 commented on #18455
@pmorie Can this be closed? Is there an issue for docs?

[2016-03-10 03:04] bgrant0607 commented on #18455
I see a PR for docs. Closing.

[2016-03-10 03:04] #18455 closed

[2016-03-10 03:05] bgrant0607 commented on #9107
@thockin Do we have a conformance test for this?

[2016-03-10 03:05] yujuhong commented on #22755
Dropping the priority since this is a documented, known issue.

[2016-03-10 03:06] AdoHe commented on #22742
@bgrant0607 sure I will work on this.

[2016-03-10 03:08] AdoHe commented on #15056
@antoineco I have opened a PR #21535 to do this, and it is on the way.

[2016-03-10 03:11] bgrant0607 commented on #22742
@AdoHe Thanks! Keep both container names and images for now. For multi-container pods, the output will be long, but we can improve the output more in 1.3.

[2016-03-10 03:11] bgrant0607 commented on #22742
That is, keep them in the wide output

[2016-03-10 03:16] #15313 closed

[2016-03-10 03:20] spxtr commented on #22755
I made this issue about the warnings: #22751

[2016-03-10 03:30] yujuhong commented on #22755
I see. Thanks!

Closing this issues since the new failure was caused by #21523.

[2016-03-10 03:30] #22755 closed

[2016-03-10 03:33] bgrant0607 commented on #22505
Scale is in.

@madhusudancs Please close this once you've confirmed that tests pass.

[2016-03-10 03:34] bgrant0607 commented on #22454
If this is going to be addressed in 1.2, it needs to be addressed in the next 24 hours.

[2016-03-10 03:35] bgrant0607 commented on #22454
I'm punting this out of 1.2, but feel free to argument with me (though do it quickly).

[2016-03-10 03:37] jayunit100 commented on #22759
interesting.  ok.  I'll need to dig into the logs because for some reason, i cannot reproduce these failures when running it on a GCE cluster built via kube-up.sh.

[2016-03-10 03:40] bgrant0607 commented on #21692
Believed to be fixed by #22274. Reopen if there's still a problem.

[2016-03-10 03:40] #21692 closed

[2016-03-10 03:41] bgrant0607 commented on #17536
Why is this attached to the 1.2 milestone?

[2016-03-10 03:42] bgrant0607 commented on #18162
Does this need to be attached to the 1.2 milestone?

[2016-03-10 03:43] bgrant0607 commented on #20930
@thockin Time to revisit. I'd like 1.2.0-beta.1 cut Friday morning with everything other than maybe bug fixes. Do we have a decision?

[2016-03-10 03:44] bgrant0607 commented on #22484
Is someone working on this? It needs to be fixed in the next 24 hours to make 1.2.

[2016-03-10 03:45] bprashanth commented on #20930
I believe this is all that was needed https://github.com/kubernetes/kubernetes/pull/22664

[2016-03-10 03:50] shenshouer commented on #1957
+1 for consul

[2016-03-10 04:00] bgrant0607 opened #22768 "Requirements for ThirdPartyResource to graduate to beta"
Tracking issue for #18835.

[2016-03-10 04:10] ddysher opened #22770 "Unable to resolve hostname using `kubectl logs`"
Using kubectl logs shows the following error:

[code]

Kubernetes master uses nodeName to fetch logs from kubelet, which doesn't always resolve.  There are two workarounds as I can think of:
1. Manually add host entry in master's /etc/hosts, but this doesn't scale;
2. Use hostname override to use raw IP address. This is better, but raw IP is hard to manage and we see this error https://github.com/

[2016-03-10 04:39] bgrant0607 commented on #21810
I think the problem might be that we filter ReplicaSets by the Deployment's label selector, but the adopted RS has no labels:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/deployment/deployment_controller.go#L682

[2016-03-10 04:42] bgrant0607 commented on #22719
See also #21810

[2016-03-10 04:59] bgrant0607 commented on #18558
@gmarek Latest failure has a totally different symptom:
[code]

[2016-03-10 04:59] mikedanese commented on #22509
I agree with @derekwaynecarr . FWIW, this is not how cgroups work or other quota systems I have encountered.

[2016-03-10 05:00] bgrant0607 commented on #22512
Reducing to P2 since it looks like it just adding tests at this point

[2016-03-10 05:07] mikedanese commented on #22506
This seems to be working as intended.

[2016-03-10 05:08] #22506 closed

[2016-03-10 05:09] mikedanese commented on #22644
--insecure-bind-port=8888

[2016-03-10 05:09] #22644 closed

[2016-03-10 05:11] #22631 closed

[2016-03-10 05:14] bgrant0607 commented on #18558
This looks like a bug in the e2e framework.

[2016-03-10 05:15] mikedanese commented on #22700
@imkin

[2016-03-10 05:21] binarybana commented on #22750
This should be resolved in 1.2.0. If you try the beta.0 release, you should notice a dramatic decrease in API `DescribeInstance` calls.

[2016-03-10 05:22] mikedanese commented on #22734
cc @bprashanth

[2016-03-10 05:23] mikedanese commented on #22721
cc @bprashanth

[2016-03-10 05:26] mikedanese commented on #22750
@justinsb is this fixed?

[2016-03-10 05:27] mikedanese commented on #22752
Feel free to make it better!

https://github.com/kubernetes/kubernetes.github.io

[2016-03-10 05:29] bprashanth commented on #22721
I believe we fixed this when we started re-getting the service https://github.com/kubernetes/kubernetes/pull/22069
@a-robinson @justinsb

[2016-03-10 05:32] a-robinson commented on #21625
Not a release blocker. I'd actually claim that this is completely resolved by #22069, since any reordering of events gets sorted out by getting the current state from the apiserver.

[2016-03-10 05:32] #21625 closed

[2016-03-10 05:33] bprashanth commented on #22734
Very possible, plase use `gcr.io/google_containers/nginx-slim:0.3` instead till we've repushed (https://github.com/kubernetes/contrib/tree/master/ingress/images/nginx-slim). Currently the nginx on gcr.io is only used in e2e testing as a placeholder container, AFAIK.

[2016-03-10 05:54] davidopp commented on #15056
cc/ @xiang90 @hongchaodeng

[2016-03-10 06:02] krmayankk opened #22771 "Cannot delete services using label selector in 1.1.3"
$ cluster/kubectl.sh version
Client Version: version.Info{Major:"1", Minor:"1", GitVersion:"v1.1.3", GitCommit:"6a81b50c7e97bbe0ade075de55ab4fa34f049dc2", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"1", GitVersion:"v1.1.3", GitCommit:"6a81b50c7e97bbe0ade075de55ab4fa34f049dc2", GitTreeState:"clean"}
$ cluster/kubectl.sh get services
NAME                    CLUSTER_IP    EXT

[2016-03-10 06:17] a-robinson commented on #22721
Yeah, this'll be fixed in 1.2.

In the meantime, if you're managing your own cluster, you should be able to fix things by restarting the kube-controller-manager process on the master VM.

If you're running on GKE, feel free to send me an email at `arob at google.com` and I'll make sure it gets fixed up for you. Sorry for the trouble!

[2016-03-10 06:17] #22721 closed

[2016-03-10 06:57] zhouhaibing089 commented on #22771
how about `kubectl delete services -l app-test=report-collector-report-collector`?

[2016-03-10 06:58] krmayankk commented on #22771
same issue
./cluster/kubectl.sh delete services -l app-test=report-collector-report-collector
No resources found

[2016-03-10 06:59] zhouhaibing089 commented on #22771
`kubectl get services` shows what?

[2016-03-10 07:04] AdoHe commented on #22771
@krmayankk @zhouhaibing089 well I am afraid you misused this kubectl delete.

[2016-03-10 07:05] AdoHe commented on #22771
`kubectl delete services -l <label_name>=<label_value>`

[2016-03-10 07:11] madhusudancs commented on #22505
All HPA tests are passing, both e2e and unit tests. And both e2e and unit tests now have HPA targeting Deployments and ReplicaSets. Closing this issue.

[2016-03-10 07:11] #22505 closed

[2016-03-10 07:35] fgrzadkowski commented on #22676
@mwielgus @piosz Do we export metrics for failed pods? My understanding was that we don't since we export the newest samples through GKE API, and there are no new samples for terminated pods.

[2016-03-10 07:41] rasekar2000 commented on #10323
@housebolt , Yes.. I was using that public IP only .. Now the problem is resolved , when I switched to another service name. Also in the gCloud ' External IP Addresses ' , I recreated with 'Regional' attachment with Forward Rules empty. Then when the actual service is getting created, it used the specified loadBalancerIP address.

[2016-03-10 07:44] rasekar2000 commented on #22721
Hello Alex - @a-robinson , I am running this in GKE only - Google Container Engine ...I overcame this by creating another service name .. Yet this error message is annoying as well, potentially going to bring some kubectl service with infinite retry attempt. Regards, Raj

[2016-03-10 07:48] wing328 commented on #4700
@thockin @nikhiljindal Before the spec gets upgraded to OpenAPI/Swagger spec 2.0, can we replace `"type": "any"` with `"type": "object"` for the time being so as to avoid compilation error related to missing model "Any" ?

[2016-03-10 08:00] madhusudancs commented on #16500
This issue shouldn't be closed yet. #22724 fixes this problem only partially and is a stopgap solution for v1.2. #22511 fixes this issue in a desirable way. So reopening the issue.

[2016-03-10 08:12] nikhiljindal commented on #4700
Does "type": "object" have any special meaning?
I think we chose "type":"any" arbitrarily to represent custom types.
It should be fine to change it.

[2016-03-10 08:16] wing328 commented on #4700
`"type": "object"` means arbitrary JSON.

[2016-03-10 08:17] rasekar2000 commented on #10323
Another thread https://github.com/kubernetes/kubernetes/issues/22721#issuecomment-194719162

[2016-03-10 08:23] zhouhaibing089 commented on #22771
@AdoHe thanks, I mean the same ^_^.

[2016-03-10 08:25] zhouhaibing089 commented on #22771
@AdoHe

I mean the same where `app-teset` is the label name and `report-collector-report-collector` is the label value.

[2016-03-10 08:26] krmayankk commented on #22771
pods,services works but just specifying the services doesnt work. I am not sure what is the thinking behind that implementation ?

[2016-03-10 08:31] zhouhaibing089 commented on #22771
@krmayankk thanks for clarify this.

[2016-03-10 08:34] AdoHe commented on #22771
@krmayankk @zhouhaibing089 I did test on HEAD:
[code]
would you mind giving a try on master branch?

[2016-03-10 08:36] rasekar2000 opened #22773 "Gluster FS Server Runs outside of the Google Cloud and Mapping it with gcloud - GKE- Container Client issue"
Hello Team,
I am having Gluster FS server outside google cloud. And when the same is getting connected ( via Gluster FS Client - mount) from Google VM .

But when I connect to GKE - Container Engine's Docker .. It is **not** working fine .. It worked very fine when the GlusterFS server was inside the Google VM.

5m          3m         2         my-glusterfs-cluster   Service

[2016-03-10 08:39] bgrant0607 commented on #22300
#22606 merged

[2016-03-10 08:41] piosz commented on #22505
Thanks @madhusudancs

[2016-03-10 08:44] zhouhaibing089 opened #22775 "leader election issue for controller manager and scheduler"
When multiple controller managers are scheduled onto the same node while leader elect is enabled, they would all think themselves as leader because  `HolderIdentity` is set to be hostname, see https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/controllermanager.go#L159.

[2016-03-10 10:06] patrikbeno commented on #15108
5x times
`Error updating node status, will retry: error getting node "master.cloud.local": nodes "master.cloud.local" not found`

followed by
`Unable to update node status: update node status exceeds retry count`

`--register-schedulable=false` does not have any effect because `--register-node=false`

[2016-03-10 10:12] justinsb commented on #21625
Agreed - this should be fixed now.  We could probably fix them better if we weren't under the constraints of a pending release - do you think we should look at this whole controller again in 1.3?

[2016-03-10 10:17] justinsb commented on #22750
Yes this should be vastly improved in 1.2 - the master used to make N DescribeInstances calls every 10 seconds (N=# of nodes), now it makes 1.  There's always room for further optimization, but perhaps you can reopen @carsonoid if it's still bothersome in 1.2?

[2016-03-10 10:17] #22750 closed

[2016-03-10 10:19] justinsb commented on #22592
I don't know what I was doing opening a duplicate issue here... sorry.

[2016-03-10 10:25] liangchenye commented on #22765
@dchen1107 I have 1/3 of my working hour on this between March and April. I'll update my progress by submit PRs.

[2016-03-10 10:34] adaam commented on #17626
also meet this problem, seem not very stable, sometime can recreate ELB, but most time it just can not work.

[2016-03-10 10:37] justinsb commented on #21690
I think this is an easy fix, and I think I saw a PR to do it go by.  Downgrading to P2 though, because (while annoying) it is not a release blocker.

[2016-03-10 10:40] justinsb commented on #22586
Marking as a P3.  I suspect it is actually more important, but we can upgrade once I figure out what the consequence is.

[2016-03-10 10:47] macpoint opened #22778 "Secret dir mounted, but empty"
Hi,
I know similar issues have been already discussed, but this seems to be different. I have a secret:

[code]

... and a pod

[code]

The pod is started without any errors, the pod describe command shows the secret volume:

[code]

But the mount point is empty:

[code]

And this is interesting - docker inspect shows the bind and mount

[code]

...

[code]

The file seems to be in place:

[code]

[2016-03-10 10:48] wojtek-t commented on #22659
@kubernetes/goog-testing

[2016-03-10 11:32] lingz commented on #17205
I have the same problem @SunWeicheng0001 mentioned with basically identical console output. Any ideas?

[2016-03-10 11:40] mwielgus commented on #22676
No, we only export mertrics for pods that are scrapeable by cAdvisor.

[2016-03-10 11:41] justinsb commented on #19619
I believe this is fixed by #20153.  Let's reopen if we hit it again.

[2016-03-10 11:41] #19619 closed

[2016-03-10 11:42] jellonek commented on #21923
Connected with https://github.com/coreos/rkt/issues/2256

[2016-03-10 11:42] mwielgus opened #22780 "Update cluster/addons/cluster-monitoring/README.md with new Heapster details."
cc: @piosz @fgrzadkowski

[2016-03-10 11:44] mwielgus opened #22781 "Include new Heapster and Influxdb details in Release Notes for 1.2"

[2016-03-10 11:45] mwielgus commented on #22781
cc: @piosz @fgrzadkowski

[2016-03-10 11:45] mwielgus opened #22782 "Create documentation for Custom Metrics and HPA with CM"
cc: @piosz @fgrzadkowski

[2016-03-10 12:00] justinsb commented on #17626
I opened a PR to fix this.  I believe one of these three things went wrong:

1. General controller bugs - we've made a lot of fixes to the controller loop here in 1.2
1. ELB deletion took > 5 minutes - I've bumped the timeout to 10 minutes in the PR
1. A security group on the ELB was used elsewhere.  This shouldn't be the case, but I now log it so that if it happens again, we can investigate that

[2016-03-10 12:07] justinsb opened #22786 "AWS ELB doesn't cope if user deleted ELB"
From Slack, we got a report that "my service controller is trying to delete a ELB ( im running k8s in ews ) thats is not there, and for that reason its failing over and over again  with the message  `Warning   DeletingLoadBalancerFailed   {service-controller }   Error deleting load balancer (will retry): error querying for tagged security groups: error querying security groups: error listing AWS s

[2016-03-10 12:18] AdoHe commented on #22775
IIRC this should not be a problem even in multi master nodes, I am not certainly sure.

[2016-03-10 12:23] PradeepSingh1988 opened #22789 "null pointer error with openstack cloud provider"
Hi,

--Version Info
`Client Version: version.Info{Major:"1", Minor:"0", GitVersion:"v1.0.1", GitCommit:"6a5c06e3d1eb27a6310a09270e4a5fb1afa93e74", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"0", GitVersion:"v1.0.6", GitCommit:"388061f00f0d9e4d641f9ed4971c775e1654579d", GitTreeState:"clean"}
`

I am trying to use cinder volume in my container.

I am starting kubelet with be

[2016-03-10 12:26] justinsb commented on #22786
I think this was actually caused by a failure to tag the cluster, which triggered another bug where we can't pass an empty filters list to the AWS API

[2016-03-10 12:54] justinsb commented on #15073
I just don't think this is fixable with the volume cache we have.  I proposed a PR to remove the cache, and replace it with a map of active attachment operations in progress.  A little less efficient, but a lot more correct (presuming passes testing).

[2016-03-10 12:58] justinsb commented on #19322
Actually I don't know that this is AWS specific.  I think CreateRoute is being passed an empty string for route.DestinationCIDR.  That so me seems like an issue in the route controller (?)

Going to untag from AWS and move out of 1.2

[2016-03-10 13:04] justinsb commented on #22118
I believe this was fixed by #20731:

[code]

[2016-03-10 13:04] #22118 closed

[2016-03-10 13:09] justinsb opened #22792 "AWS: Dynamic volumes should have EC2 tags"
We should tag EBS volumes created by k8s with our tags, just like we (should) tag everything else we create/own.

[2016-03-10 13:17] therc commented on #22118
It is indeed. But I wish we went one step further and gave the LoadBalancer the name CLUSTER:NS:SVC. It still takes too many clicks to figure in the console bwhat a88bd3.. is.

[2016-03-10 13:32] fgrzadkowski commented on #22676
So my understanding is that the size of heapster response should be rather small.

[2016-03-10 14:09] piosz commented on #22676
It should be easy to check:
[code]
Could you please do it?

[2016-03-10 14:11] jayunit100 commented on #22778
As a sanity check: Can you run the `EmptyDir` e2e tests and confirm how many pass?  That will help us diagnose the details better.

[2016-03-10 14:15] justinsb commented on #22118
@therc we're constrained by the restrictions on ELB names `This name must be unique within your set of load balancers for the region, must have a maximum of 32 characters, must contain only alphanumeric characters or hyphens, and cannot begin or end with a hyphen.`

We use "a" + a prefix of the service UUID right now.  I agree it's not great, but we do have the tags now (thanks to your work, it lo

[2016-03-10 14:15] zhouhaibing089 commented on #22775
Firstly, It is truth in current situation that one host could not run multiple instances of controller-managers and kube-schedulers due to the log file(`/var/log/kube-controller-manager.log`) and port binding(hostnetwork).

Secondly, it will not cause problem since both controller-manager and kube-scheduler are all running as static pods.

My point is that hostname is not reliable for the identity

[2016-03-10 14:17] ethernetdan commented on #22405
+1 Happy to help with Go

[2016-03-10 14:29] AdoHe commented on #22405
@ethernetdan seems you are interested in this, guess we can start doing some prototype.

[2016-03-10 14:30] justinsb commented on #22592
Ah - I think this was supposed to be about tags in the EC2 API.  Opened #22792 instead (and PR-ed a fix)

[2016-03-10 14:33] macpoint commented on #22778
Will try that. Before I do that, I think I am facing the issue when Docker cannot see shares (tmpfs in this case) mount after the daemon starts. I am not running on systemd so no luck with MountFlags=slave.

[2016-03-10 14:45] jayunit100 commented on #22778
Also run `--ginkgo.focus=Secret` , that will be a very clear diagnosis i bet.

[2016-03-10 15:35] iterion commented on #19619
:+1: @justinsb and @jsravn

That fix looks like it'll indeed fix the issue. I'll try to build and push a release from master to my cluster and reopen if the issue persists. Thanks!

[2016-03-10 15:36] zyxue opened #22795 "Why after a Job finishes successfully, the Reason for the State the Pod becomes Error"
The original google groups thread is [here](https://groups.google.com/forum/#!topic/google-containers/eWRVGYvqSUw)

Here is an example showing the problem in the title with the relevant part highlighted in red. The job finishes successfully.

	....
		QoS Tier:
		  cpu:    Guaranteed
		Limits:
		  cpu:    7
		Requests:
		  cpu:        7
		State:        Terminated
		  Reason:        Error
		  Exit C

[2016-03-10 15:43] derekwaynecarr opened #22796 "godep restore broken by influxdb client"
[code]

[2016-03-10 15:44] derekwaynecarr commented on #22796
/cc @eparis you have experience in fixing these issues.

[2016-03-10 15:45] derekwaynecarr commented on #22796
This is blocking ability to bump cadvisor to fix kubelet startup blocking when not on GCE/AWS

[2016-03-10 15:54] cheyang commented on #22717
@thomaso-mirodin
Can you try?
1. service kubelet stop
2. service kube-proxy stop
3. service docker stop
4. service flanneld stop
5. iptables -t nat -F
6. service kube-proxy start
7. service flanneld start
8. service docker start
9. service kubelet start

The key is to start kube-proxy first then flannel. @ArtfulCoder do you think this work around can be applied? And is there any potential issue?

[2016-03-10 16:04] piosz opened #22797 "Update HPA design doc"
https://github.com/kubernetes/kubernetes/blob/master/docs/design/horizontal-pod-autoscaler.md

@madhusudancs could you please update Scale Subresource section?

cc @mwielgus @fgrzadkowski

[2016-03-10 16:09] amygdala opened #22798 "Should we add daemonset info to docs/user-guide too?"
I noticed that the daemonset info is only under docs/admin, not part of the user guide.
Maybe there should be `user-guide` info on it too, since some of our examples pitched to 'users' use daemonsets and that is where they will look for it.  Feel free to just close if you disagree...

cc @johndmulhausen @bgrant0607

[2016-03-10 16:22] timothysc commented on #22421
I would prefer backoff tracking, which we had proposed an earlier patch on.

/cc @jayunit100

[2016-03-10 16:26] timothysc commented on #22039
@wojtek-t as soon as it's ok(post 1.2), I'd like to start 1.6 migration.  Which history has taught us can be filled with behavioral changes.

[2016-03-10 16:32] piosz commented on #16500
Is there anything to do for 1.2? If not let's change the milestone.

[2016-03-10 16:35] amygdala commented on #20961
Just a note on this umbrella issue that I'm currently working on "phase 2" of the cassandra example overhaul.  Will have another PR soon.

(Perhaps we should fix the seed node usage issue as part of a presumed further upcoming overhaul to use PetSets).

[2016-03-10 16:37] eparis commented on #22796
What do you get if you
[code]

My guess is that influxdb is trying to

[2016-03-10 16:44] soltysh commented on #20778
I think I'm hitting this in #22762.

[2016-03-10 16:44] derekwaynecarr commented on #22796
That unblocked me.

[2016-03-10 16:46] ncdc commented on #19014
The spdy goroutines are lingering because of the way that the httpstream wrapper handles closing a connection. The code currently calls stream.Close() for all streams, then conn.Close() for the underlying spdy connection. The problem with this approach is that stream.Close() is unidirectional and only indicates that no more data will be sent over that stream. And the spdystream connection Close()

[2016-03-10 16:47] spiffxp commented on #12941
agree we can close this out

[2016-03-10 16:49] spiffxp commented on #18162
As a stake in the ground, yes.  I suspect the remaining work is docs.  Will see if I can put some cycles to this today.

[2016-03-10 16:50] wojtek-t commented on #22039
@timothysc - we are talking with Go folks right now - they are trying to debug our problems with Go 1.4.3 and Go 1.5. If/when they debug, I would like to first upgrade to Go 1.5, which should be just immediate at that point.

[2016-03-10 16:52] shshang opened #22799 "roles[${ii}]: unbound variable error in ubuntu environment"
Hi, guys:

I ran into this issue in my ubuntu environment since 2 days ago. The kube-up.sh just ended here and installation was incomplete. Would you please take a look?

...
docker stop/waiting
docker start/running, process 2076
Connection to 172.16.7.13 closed.
Validating master
Validating shshang@172.16.7.11
Validating shshang@172.16.7.12
Validating shshang@172.16.7.13
./../cluster/../cluster/u

[2016-03-10 16:56] luxas commented on #22039
@wojtek-t So should I update #22149 to `go1.5.3`?

[2016-03-10 16:57] eparis commented on #22796
@freeformz I would debug a little deeper myself, but I'm on my phone. My wild guess is that just `go get -u github.com/influxdb/influxdb` and then `godep restore` from kube master will reproduce. Seems like godep shouldn't whine about things until after it has checked out the specified revision...

[2016-03-10 16:58] gmarek commented on #22421
@timothysc - can you point me to that?

[2016-03-10 16:58] eparis commented on #22796
@freeformz once I get useful internet, if I can reproduce, I'll open an issue against godep...

[2016-03-10 17:08] bprashanth commented on #21625
Yes, it's a question of bandwidth :)
I'm willing to help review/debug but most likely won't get the time to re-write it. We should probably start with a help-wanted bug, if there isn't one already.

[2016-03-10 17:11] fgrzadkowski commented on #22797
To be honest I think that we shouldn't update design docs. Overtime we'd have to update too many of them.

As a workaround I'd suggest to:
1. Add a warning at the top that this design doc might be updated
2. Add "last update" timestamp to the design doc.

@bgrant0607 @davidopp

[2016-03-10 17:17] simonswine commented on #19899
@bprashanth thanks for offering your help on this. I've got a very basic (and stupid API polling) example working now, but I will polish it and write some docs how to set it up.

I've basically started implementing a reverse proxy (https://github.com/simonswine/kube-ingress-proxy) to consume the certificates and the ingress resource.

If by any chance you are in London the next two days, I am happ

[2016-03-10 17:18] jayunit100 commented on #22707
Some folks on our team also are interested in the `*perf` stuff (netperf, uperf, i perf).  Its pretty easy to run from containers...

[code]
[code]
And you get a nice little output
[code]

[2016-03-10 17:21] timothysc commented on #19014
How much memory are we talking about?
Also this seems like an easy test to automate.. Back-2-back fill and drains, as a separate test.

/cc @jayunit100

[2016-03-10 17:40] mwielgus opened #22800 "Make custom metris count limit from cAdvisor available in kube_up.sh"
cc @fgrzadkowski @piosz

[2016-03-10 17:54] ncdc commented on #19014
spdystream PR merged. I'm preparing a bump PR now.

[2016-03-10 18:00] ncdc commented on #19014
Looks like the port forwarding e2es are still leaking some goroutines. I'll look into that next.

[2016-03-10 18:01] eparis commented on #22796
No, stick with v53 if you need to `save`

[2016-03-10 18:10] nikhiljindal commented on #22484
I am working on this.
Trying to get a PR ready based on @deads2k comment: https://github.com/kubernetes/kubernetes/issues/22484#issuecomment-193784766

[2016-03-10 18:13] ihmccreery commented on #22672
I wrote docs about how to spin up jobs for a new branch, to avoid vagueness of what should be done:

https://github.com/kubernetes/kubernetes/blob/master/docs/devel/releasing.md#manual-tasks-for-new-release-series

Especially:

Re: upgrade jobs—the GCE jobs have not worked for a long time; we've deprioritized making them work in favor of the GKE jobs.  I can add the new GKE upgrade tests for v1.2.

[2016-03-10 18:16] #22593 closed

[2016-03-10 18:31] wojtek-t commented on #22672
Sorry - I missed this email.
Yes, I agree that moving scalability to 1.2 and dropping 1.1 is fine.

[2016-03-10 18:32] a-robinson commented on #22721
@rasekar2000 - the problem of infinitely retrying deletes should be resolved on your cluster.

[2016-03-10 18:46] Random-Liu commented on #22585
@huang195 We couldn't reproduce the regression in our environment. Could you please tell us your test environment? Or try again with kubelet version before #20842?

[2016-03-10 18:49] yifan-gu commented on #22739
@woodbor Yeah, kubelet doesn't need to manage /etc/hosts if rkt can populate it with correct content.
Also see https://github.com/kubernetes/kubernetes/issues/21923

[2016-03-10 18:51] ixdy commented on #17536
Deleting branch now.

[2016-03-10 18:52] bgrant0607 commented on #22798
The examples are perhaps dubious, but any examples that mention it should link to where it lives. It belongs in admin. It's not safe for general usage.

[2016-03-10 18:52] #22798 closed

[2016-03-10 18:52] #17536 closed

[2016-03-10 18:58] ncdc commented on #19014
The port forwarding e2es are leaking because of the way that the shelled out call to `kubectl port-forward` is terminated by the test. It sends SIGKILL to the process, which doesn't allow the client to tell the server it's going away. I would hope the server would eventually figure it out, but I need to see about that.

[2016-03-10 19:02] spothanis commented on #22789
I think it is an issue with your openstack config file
Please see http://stackoverflow.com/questions/32714756/kublet-doesnt-start-with-cloud-provider-openstack/32721296#32721296 for more info

[2016-03-10 19:09] bgrant0607 commented on #22615
@caesarxuchao PTAL

[2016-03-10 19:10] bgrant0607 commented on #21810
We confirmed that the ReplicaSet in this test should have the expected label, so the filtering shouldn't be the problem.

[2016-03-10 19:15] bprashanth commented on #19899
@simonswine unfortunately I am not. But maybe you can give a 10-15m demo on one of the kubernetes community hangouts? (http://blog.kubernetes.io/2015/06/weekly-kubernetes-community-hangout.html). This is a topic the community at large will be interested in.

[2016-03-10 19:19] bgrant0607 commented on #21810
My other wild guess is that this and #22719 could be related to #22451

[2016-03-10 19:21] lavalamp commented on #22609
Yes, we don't expect an apiserver to go down and stay down without a replacement.

[2016-03-10 19:28] cjcullen opened #22813 "Use ABAC authz by default."
For 1.3, we'd like to do some more interesting things with authorization (like actually checking authz). Right now (by default) we authenticate users against known_tokens.csv or against the cluster-CA, and then AllowAll after that. Trying to add an authorization scheme on top of that is futile because Union(AllowAll, X) = AllowAll.

If we switch to using ABAC by default (with a generated ABAC file

[2016-03-10 19:29] bgrant0607 commented on #22451
One idea about how to address this: ReplicaSet could report how many pods' labels match the labels in the pod template in its status. Deployment could await that to report all replicas match (and observedGeneration >= generation) before updating the selector.

[2016-03-10 19:29] goltermann commented on #19071
Closing - this works now from head:

$ kubectl create -f ./examples/cassandra/cassandra.yaml
pod "cassandra" created
$ kubectl get po
NAME        READY     STATUS              RESTARTS   AGE
cassandra   0/1       ContainerCreating   0          4s
$ kubectl get po
NAME        READY     STATUS    RESTARTS   AGE
cassandra   1/1       Running   0          24s

[2016-03-10 19:29] #19071 closed

[2016-03-10 19:31] ixdy opened #22814 "e2e flake: "Kubectl client Simple pod should support inline execution and attach" hangs"
Log at http://pr-test.k8s.io/22762/kubernetes-pull-build-test-e2e-gce/32254/ while testing #22762.

Looks like this test hung at the "executing a command with run and attach with stdin with open stdin should remain running":

[code]

Based on output and looking at the code, it seems this may have gotten stuck in [`util.GetFirstPod`](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/

[2016-03-10 19:32] ixdy commented on #20778
@soltysh Looks like this is the "Kubectl client Simple pod should support inline execution and attach" test failing, so a potentially different issue. Filed #22814.

[2016-03-10 19:35] ncdc commented on #19014
Because the flow is kubectl -> apiserver -> kubelet, when kubectl is forcibly killed, the proxy code running in the apiserver isn't smart enough at the moment to terminate the proxying, which results in dangling goroutines in both the apiserver (the proxying) and the kubelet (the spdystream frame workers and connection handler).

[2016-03-10 19:35] lavalamp commented on #22454
I don't think we can solve this completely for 1.2. Can we at least deprecate the --api-version flag?

[2016-03-10 19:58] goltermann commented on #20916
@bprashanth what remains to close this bug?  Should it be closed and we only track #22655?

[2016-03-10 19:59] goltermann commented on #20930
@thockin can we close this one?

[2016-03-10 20:03] soltysh commented on #22814
@ixdy actually it was related to abug in the code so this can be closed as well. Thx

[2016-03-10 20:06] deads2k commented on #22454
How much time is left to see what it takes to support `resource.version.group`?  It can be done as along we're greedy on the version and not the group.  I'd like to have some way to disambiguate versions for 1.2.

[2016-03-10 20:15] lavalamp commented on #22454
@deads2k Not much time. I thought it already worked ;-(

[2016-03-10 20:20] huang195 commented on #22585
@yujuhong I built from 1 commit earlier than #20842, and I'm getting the same result, so something else is causing this problem.

[2016-03-10 20:20] bprashanth opened #22819 "Investigate etcd unavailability leading to 300s cluster up timeout"
https://github.com/kubernetes/kubernetes/pull/20931#issuecomment-192775954
Apiserver logs:
[code]

Didn't find anything immediately suspicous in master kubelet or docker logs.

[2016-03-10 20:22] bprashanth commented on #20916
The last issue that Wojtek posted logs too seems to be that etcd wasn't up, filed:
https://github.com/kubernetes/kubernetes/issues/22819

I haven't observed the metadata server issue that I'm keeping this open for since I put in the poll+timeout, so I'm closing this for now as suggested by David in https://github.com/kubernetes/kubernetes/issues/20916#issuecomment-192033284. Please re-open if it r

[2016-03-10 20:24] bprashanth commented on #17119
Fixed now

[2016-03-10 20:24] #17119 closed

[2016-03-10 20:32] rasekar2000 commented on #22773
After shaking up docker file ,

After the ENV    PM2_HOME   setup, again did the sudo chown once again.

RUN     sudo chown -R nonroot:nonroot /logfilelocation/logs/
ENV    PM2_HOME   /logfilelocation/logs/
RUN     sudo chown -R nonroot:nonroot /logfilelocation/logs/

This time docker with application worked fine..

And after that to confirm glusterfs client folder mounting disrupting, commented o

[2016-03-10 20:37] ihmccreery commented on #19715
cc @jlowdermilk

[2016-03-10 20:38] ihmccreery commented on #18581
cc @jlowdermilk

[2016-03-10 20:38] ihmccreery commented on #21421
cc @jlowdermilk.

[2016-03-10 20:39] ihmccreery commented on #21421
Jeff & I were discussing this today.  Given the current tests, we're not convinced that a v1.2 client will be able to do a simple `kubectl run` on an older cluster and expect it to work.  That means when we release v1.2.

[2016-03-10 20:47] bprashanth commented on #22290
The few enormous cluster logs I checked (there are only a few available) didn't show restarts, but we don't track this. Please reopen if it's still an issue with a cluster built post https://github.com/kubernetes/kubernetes/pull/22253.

@thockin the kubelet exports stats and we can access it from tests via the master proxy. We'd probably have to aggregate over some period in a soak cluster.

[2016-03-10 20:47] #22290 closed

[2016-03-10 20:48] codefx9 opened #22820 "Using master as a reserved node for kube-system apps"
I would like a mode in kubelet that will allow running kube-system apps on master and visible via kubectl cli but no user apps can run on master. So far I have not found a way to do this. I have seen that Kubelet runs in 2 mode:
1. Master kubelet stays disconnected. In this mode, secret volumes does not seem to mount on static pods.
2. Master kubelet is connected. I can potentially use a node labe

[2016-03-10 21:00] janetkuo commented on #21810
It seems that this failure isn't related to pod-template-hash race.

In the failed case, old rs spec.Replicas=3, status.Replicas=3; new rs spec.Replicas=2, status.Replicas=1.

I saw that the old rs and its 3 pods are correctly labeled with the new hash. Then, the deployment's new RS is scaled up to 1 and the new pod is created; then old RS is scaled down to 2; then new RS scaled up to 2; then old

[2016-03-10 21:05] rnataraja opened #22822 "Keep seeing TLS handshake error "bad certificate""
Hello,
Iam trying to setup a kubernets cluster with coreos and have hyperkube/v1.1.9.

 I keep seeing the following log on the apiserver

logs.go:40] http: TLS handshake error from xxxxx:60216: remote error: bad certificate
on the api server.  But I do not see any failure logs are seen on the worker kubelet.

I tried issuing a curl with approproate certs from the worker node and the url acces seem

[2016-03-10 21:06] ArtfulCoder commented on #22717
If this works, we could consider adding this to flannel logic..

[2016-03-10 21:07] ArtfulCoder commented on #20391
Other option could be along these lines: https://github.com/kubernetes/kubernetes/issues/22717#issuecomment-195049542

[2016-03-10 21:08] robertBrem commented on #22799
I have exactly the same problem!

[2016-03-10 21:17] janetkuo commented on #21810
My wild guess is that https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/deployment/deployment_controller.go#L889 `cleanupUnhealthyReplicas` scaled the old RS without updating `oldRSs`, and then https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/deployment/deployment_controller.go#L895 `scaleDownOldReplicaSetsForRollingUpdate` scaled old RS right after that with t

[2016-03-10 21:18] aliteff opened #22823 "intermittent DNS issues between containers"
### **Our understanding of k8s DNS**

on each node we have a kube-dns pod which contains a Sky DNS server running in one container (which answers the DNS queries) and etcd which provides the data, when you do a container-to-container call, say an http request from Buy service  to a Sell service we reference the other service using a regular DNS name.
### **Issue**

every now and then it'll just st

[2016-03-10 21:22] #22518 closed

[2016-03-10 21:25] deads2k commented on #22454
It's possible to do on top, but not done.  I'll see what I can put together.

[2016-03-10 21:31] timothysc commented on #22669
@rrati is working on some controller startup throttling.

[2016-03-10 21:32] aliteff commented on #22161
I believe we are experiencing a similar problem to this ... see here #22823

[2016-03-10 21:39] janetkuo commented on #21810
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/deployment/deployment_controller.go#L963 this is likely to be the cause.

[2016-03-10 21:42] liggitt commented on #22454
`resource.group` works. `resource.version.group` doesn't. Supporting both of those formats seems prone to ambiguity.

[2016-03-10 21:44] guoshimin commented on #22717
Actually, after I upgrade kubelet to 1.2.0-beta.0, I can't reproduce the
problem anymore. The POSTROUTING chain now looks like:

Chain POSTROUTING (policy ACCEPT)
target     prot opt source               destination
KUBE-POSTROUTING  all  --  0.0.0.0/0            0.0.0.0/0            /*
kubernetes postrouting rules */
FLANNEL    all  --  10.2.0.0/16          0.0.0.0/0
MASQUERADE  all  -- !10.2.0.0

[2016-03-10 21:45] ncdc commented on #22814
@soltysh what PR fixed it? #22762?

[2016-03-10 21:46] ncdc commented on #22795
cc @soltysh

[2016-03-10 21:49] guoshimin commented on #22717
Is the problem fixed in 1.2.0-beta.0 or did it happen by chance that
KUBE-POSTROUTING was placed before FLANNEL?

On Thu, Mar 10, 2016 at 1:44 PM, Shimin Guo <shimin@databricks.com> wrote:

[2016-03-10 22:01] quinton-hoole commented on #22077
Blocked on #22572 now (test infra).  Need to get this running reliably on GCE again first, before trying on AWS.

[2016-03-10 22:03] eparis opened #22825 "Namespace controller should scale rcs to 0 before deleting pods"
http://pr-test.k8s.io/22807/kubernetes-pull-build-test-e2e-gce/32271/build-log.txt

[code]

[2016-03-10 22:06] dchen1107 commented on #22739
cc/ @ArtfulCoder we discussed this earlier.

[2016-03-10 22:24] ixdy commented on #22814
@soltysh even if it was due to a bug in the code, the test should have failed instead of hanging, probably.

[2016-03-10 22:37] #21955 closed

[2016-03-10 22:40] ixdy commented on #22572
(taking this over because @spxtr is swamped with a few other issues)

`jenkins-e2e` is the network that basically every job uses now, unless it's sharing a project with another job. Names like `jenkins-gke-e2e-serial` aren't used anymore, and should probably be cleaned up.

The `k8s-jkns-e2e-gce-ubelite` project is missing the "default" network; I'm not sure if that's important to have or not. Sti

[2016-03-10 22:41] lavalamp commented on #5660
@Raffo It's a bit out of date now, but take a look at my proposal here: https://github.com/kubernetes/kubernetes/pull/16062

We're mostly there. We need to start tightly controlling the import paths, and engineer things so that you can import the client without importing e.g. our scheme, conversion functions, etc.

[2016-03-10 22:43] ixdy commented on #22572
Comparing routes against project `k8s-jkns-e2e-gce`, there are quite a few routes on the `jenkins-e2e` network that appear to be missing in `k8s-jkns-e2e-gce-ubelite`, which is likely what's causing the issue.

What was @zmerlynn's PR that you referenced?

[2016-03-10 22:45] soltysh commented on #22814
@ixdy the thing is this test attaches to a running pod. Exec timeout is the
only reasonable way of failing it. See execOrDie in e2e's util.go.
On Mar 10, 2016 10:24 PM, "Jeff Grafton" <notifications@github.com> wrote:

[2016-03-10 22:47] codefx9 opened #22826 "What is the alternative for "A mirror pod may not reference secrets" ?"
Today I got hit by this old issue #8180 while creating a static pod with secrets. What is the recommended alternative for this use-case? We would like to not wait for daemonsets, since daemonsets are not going GA with 1.2 . Also, it will be great to document these various corner cases. Testing stuff in k8s is really time consuming.

[2016-03-10 22:47] ixdy commented on #22814
@soltysh well, as I mentioned originally, it appears that `execOrDie` returned without hanging. It was the later `GetFirstPod` call that never returned.

[2016-03-10 22:48] ArtfulCoder commented on #22823
as an immediate fix, could you increase the number of kube-dns pods ?
The default is 1.

[2016-03-10 22:53] ArtfulCoder commented on #22822
@roberthbailey

[2016-03-10 23:02] lavalamp commented on #22454
As long as no one makes a group called "v1" or "v1beta1" it should be fine,
no?

On Thu, Mar 10, 2016 at 1:42 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-03-10 23:05] soltysh commented on #22795
@zyxue can you provide us with more details? From the above I see you got one failed pod, that doesn't prevent job from finishing successfully. It will always try to run to `.spec.completions` successful pods. If one pod fails new one will be spawn. Can you provide us with your configs and logs? Reproducible example would be the best, especially that I'm currently preparing for tomorrows KubeCon E

[2016-03-10 23:14] yujuhong commented on #22826
@codefx9, if your goal is to run a pod on every node and allows the pod to access the secrets (and you don't want to use daemonset until it goes GA) you can try the old trick of assigning a host port to your container to ensure that only one pod can be scheduled on a node. Not recommended but it should work.

[2016-03-10 23:18] lavalamp commented on #22421
@gmarek I don't think you need to do 2. e.g. I expect to see something like this at the places where clients are created:

[code]

@timothysc I think backoff recording is a separate issue completely-- let's fix them one at a time.

[2016-03-10 23:24] zyxue commented on #22795
I don't have a log at the moment. I can attach a config. But that doesn't happen only for a single pod. I have finished thousands of jobs, and they all behave this way though the jobs all finished successfully. The finished pods don't get restarted even though its status labelled as Error, that's why I am confused.

[2016-03-10 23:26] lavalamp commented on #22669
@wojtek-t maybe we could test this in the scalability test suite.

But yeah, I wouldn't expect this to cause it to fall over.

@timothysc What caused the failure of controller-manager? Maybe the cause of that is actually causing other problems, too.

[2016-03-10 23:28] lavalamp commented on #22675
? The current dynamic client can operate on any group?

[2016-03-10 23:29] lavalamp commented on #22675
Why is this P1? What does it block?

[2016-03-10 23:29] sjpotter commented on #20475
so in my work on rktnetes we ran into this same issue.

I first noticed that the e2e tests of kube-proxy would fail, but didn't know why.  We then noticed if the l7-load-balancer and skydns ended up on the same node that l7-load-balancer woud fail (becaues it couldn't hit 10.0.0.10 for dns)

We tested by loading some busybox pods on all the nodes and were able to duplicate the behavior.  busybox p

[2016-03-10 23:41] quinton-hoole commented on #22572
The PR from zmerlynn that I referred to was #22234, but in retrospect I don't think it's to blame.  It merged around the time that the problems started, and it updated the binary download code (it's the downloads that are failing, but that's almost definitely due to the network isolation mentioned above).

[2016-03-10 23:42] lavalamp commented on #22725
Who shares that? Why not just copy it?

IMO, components should each have their own /apis/ tree.

[2016-03-10 23:43] zyxue commented on #22795
Here I reproduced the problem using a hello-world example

$ gcloud container clusters create sample-cluster --num-nodes 1 --machine-type n1-standard-1

$ cloud container clusters get-credentials sample-cluster

$ kubectl create -f secret.yaml

$ cat jobs.yaml

	apiVersion: extensions/v1beta1
	kind: Job
	metadata: {name: abcd}
	spec:
	  parallelism: 2
	  selector:
		matchLabels: &id001 {app: abcd,

[2016-03-10 23:44] goltermann commented on #17728
This was fixed in #21645, which now points to :v8.

[2016-03-10 23:44] #17728 closed

[2016-03-10 23:46] quinton-hoole commented on #22572
@ixdy Whatever you did seems to have worked:

 http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ubernetes-lite/802/console

[2016-03-10 23:46] lavalamp commented on #22540
@AdoHe Oh! The problem is that our global timeout is also a minute. So maybe we just need to reduce that timeout to something less. (10s? 30s?)

[2016-03-10 23:49] caesarxuchao commented on #22615
@bgrant0607's theory is correct. From the controller manager's log pasted by eparis, the old replicaset is deleted before the controller observes the addition of the hash to the old pod. The two log entries:

[code]
and
[code]

[2016-03-10 23:49] eparis commented on #22796
now I'm having trouble blaming godep....  I'll play more with it tomorrow but simply
[code]
Seemed to fall over...  weird....

[2016-03-10 23:50] lavalamp opened #22830 ""error that is not an unversioned.Status: too old resource version""
Somehow, a raw etcd error is finding its way into apiserver. I suspect the InterpretEtcdError functions are perhaps not catching it, or not getting called everywhere they ought to be.

[2016-03-10 23:50] lavalamp commented on #22024
Filed #22830 about the error message, still reading rest of issue.

[2016-03-10 23:56] lavalamp commented on #22024
Basically, you're getting an out-of-window message, which is totally normal and expected, and has nothing whatsoever to do with your upgrade flow AFAICT. We will continue to print a message here. The thing wrong is that the error is not interpreted correctly, somehow we've started returning a 500 and the message is confusing. This should not be 500 nor should it print a stack trace. I will follow

[2016-03-10 23:57] mm0 commented on #11204
Hello, I have also been impacted by this (previously lacking) configuration.  Looks like there is some progress in making it configurable, however does it make sense to have the:

`NON_MASQUERADE_CIDR="${NON_MASQUERADE_CIDR:-10.0.0.0/8}"`

by default only encompass the ranges defined by:

`SERVICE_CLUSTER_IP_RANGE="${SERVICE_CLUSTER_IP_RANGE:-10.0.0.0/16}"`

`CLUSTER_IP_RANGE="${CLUSTER_IP_RANGE:-

[2016-03-10 23:58] lavalamp commented on #22830
Split from #22024.

It seems some watch requests return 500 (example in #22024) and print a stack trace when this happens, this should *not* happen.

@wojtek-t @smarterclayton @kubernetes/sig-api-machinery

(Also @janetkuo since she fixed another thing about these functions last week)

[2016-03-11 00:00] janetkuo commented on #21810
No, we checked it here https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/deployment/deployment_controller.go#L955

[2016-03-11 00:00] hongchaodeng commented on #22189
Now I'm really sure what's causing the problem.

Thank @yujuhong for sharing the logs to me. Complaint: I have been trying to reproduce that but unfortunately unsuccessful. Meanwhile unable to access the google internal logs and unwilling to ask.

[code]

Previously this breaks the assumption of scheduler cache. See https://github.com/kubernetes/kubernetes/pull/22381#issuecomment-194724349.

Those

[2016-03-11 00:00] lavalamp commented on #22609
We could make this more robust by having apiservers count themselves, e.g. by each separately making an entry in etcd somewhere.

For now, if you change the number of apiservers that are running, you must change the --apiserver-count= flag by restarting all apiservers.

[2016-03-11 00:02] lavalamp commented on #22761
@madhusudancs you can write arbitrary fuzzing functions; see https://github.com/kubernetes/kubernetes/blob/108f72265774c39637623b2b20a07dfd1a06d972/pkg/api/testing/fuzzer.go#L42

[2016-03-11 00:04] mml commented on #22489
#22831 is a fix in progress.

[2016-03-11 00:09] yujuhong commented on #22189
@hongchaodeng, I just tried with my personal account. The bucket is public, but you have to login in order to access the data (there is an internal bug for GCS). Sorry for the trouble.
https://storage.cloud.google.com/?arg=kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/709

[2016-03-11 00:11] yifan-gu commented on #20475
...

Also cc @dcbw who did the kubenet, maybe you can help us understand the problem better :)

Besides, when I changed to `--proxy-mode=userspace`. Things also work.

[2016-03-11 00:13] lavalamp commented on #22773
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-03-11 00:13] #22773 closed

[2016-03-11 00:15] lavalamp commented on #22775
Thank you for the report and the PR. I will make some comments in the PR.

[2016-03-11 00:19] lavalamp commented on #22778
@derekwaynecarr ideas?

[2016-03-11 00:22] dchen1107 commented on #22494
We talked about this offline. I agreed that Kubelet should respect that signal, and push new NotReady status with new Condition similar to #14140. But who should initiate this shutdown is a different story. I think it should be managed through cluster API, not node- or cloud provider- initiated directly.

[2016-03-11 00:26] lavalamp commented on #22796
@thockin loves godep.

[2016-03-11 00:32] lavalamp commented on #22814
@soltysh Can you send a PR?

[2016-03-11 00:34] lavalamp commented on #22826
Yup, wait for daemonset-- it's going beta in 1.2, it should be usable. Or use the trick @yujuhong describes.

[2016-03-11 00:34] #22826 closed

[2016-03-11 00:35] pwittrock commented on #21605
PR #22443 pending accepting non-1.2 PRs into master.

[2016-03-11 00:35] deads2k commented on #22454
You mean losing autonegotiation in the case where someone has "group/v1" and "group.v1/v1"?  I'd say it make the situation painful, but not impossible and cluster-admins would really have to hate users to allow it.

Painful, but not impossible since greedy on version will prefer "group/v1" for "resource.v1.group", but if you look up the version (or know it), you can ask for "resource.v1.v1.group"

[2016-03-11 00:36] lavalamp commented on #22825
@thockin to delegate

[2016-03-11 00:38] lavalamp commented on #22822
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-03-11 00:38] #22822 closed

[2016-03-11 00:38] imkin commented on #22700
@ivan-exness unfortunately vsphere support for kubernetes 1.1 is broken.

We have fixed it for kubernetes 1.2 release. You could run this on 1.2 beta release being shipped this weekend.

[2016-03-11 00:38] lavalamp commented on #22822
(personal note: check your kubelet command line.)

[2016-03-11 00:40] lavalamp commented on #22820
This is probably a dup, I imagine we have a request for dedicated nodes already. @bgrant0607 might know.

[2016-03-11 00:44] lavalamp commented on #22771
Thanks for the report. I don't expect we'll backport a fix into 1.1. Please reopen if that's super important for your use case.

[2016-03-11 00:44] #22771 closed

[2016-03-11 00:46] lavalamp commented on #22718
We'd be happy to accept a PR fixing this.

[2016-03-11 00:50] ArtfulCoder commented on #22717
I suspect its by chance...

[2016-03-11 00:54] lavalamp commented on #22671
Maybe we have to fix #22165 for real :/

[2016-03-11 00:55] lavalamp commented on #22671
Maybe @krousey will have time to look at this next week.

[2016-03-11 00:57] yujuhong commented on #22585
@huang195, again, it's kind of hard to debug without the knowing testing environment :-)
Another wild guess will be #20873, where we upgraded the go-dockerclient.
The exact configs kubelet uses to create a docker container should also be apparent in /var/lib/docker/containers/<container_ID>/*.json

[2016-03-11 01:00] lavalamp commented on #22655
Yup, need retry loop. @thockin to delegate? Not sure who owns our setup scripts.

[2016-03-11 01:01] lavalamp commented on #22639
Sounds like the pod never started. I don't think the line @ncdc mentions is a root cause, but maybe @dchen1107 can verify that?

[2016-03-11 01:03] lavalamp commented on #22451
Assign to @bgrant0607 to delegate

[2016-03-11 01:04] nikhiljindal commented on #22484
I am still debugging, but this seems like a bug in visitor code to me.
The builder in GET is using PriorityMapper from kubectl factory: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/get.go#L199.

Hence resource.AsVersionedObject should be converting to extensions.v1beta1: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource/result.go#L259
But `info.Mappi

[2016-03-11 01:05] lavalamp commented on #22238
@wojtek-t I agree it's weird, but it *worked*-- so maybe the timeout is wrong?

[2016-03-11 01:05] yujuhong commented on #22718
@petems, I am not familiar with CentOS and the systemd docker configurations. I can only guess that the variable expansion ($OPTIONS) did not work correctly when systemd got the environment variable from this file. I'd suggest looking at the docker service configuration file on your machine to see what's going on exactly, so that this can get fixed for centos 7.

[2016-03-11 01:06] nikhiljindal commented on #22484
Is NewFlattenListVisitor's visitorFunc expected to change Info.Mapping?

[2016-03-11 01:07] ArtfulCoder commented on #22698
Following up on my previous comment,
1. in the ingress-on-eth0 case, traffic gets dnat-ed and goes out on eth1.
2. in the ingress-on-eth1 case, traffic gets dnat-ed and goes out on eth1 (since eth1 is the default gateway for pod ip range)

Case 2, could be blocked by an external switch that sees a packet going in and coming out on the same interface.

If you do a tcpdump, we should be able to vali

[2016-03-11 01:12] janetkuo commented on #22719
The cause is that when we update the new RS's revision, the new RS is stale and we end up updating its Spec.Replicas to an earlier value.
[code]

[2016-03-11 01:15] dchen1107 commented on #22820
You can achieve this with 1.2 release.

1.2 release has daemon_set support as v1beta, Once you have done this, you can use this support to by passing scheduler and place your kube-system pods on master nodes. Of course daemon_set_controller will do feasibility check including resource admission. cc/ @mikedanese on daemon_set status for 1.2 release.

Once you have done with above step, you definite

[2016-03-11 01:18] dchen1107 commented on #22819
@lavalamp could you please take a look at this or delegate? Thanks!

[2016-03-11 01:19] bgrant0607 commented on #22451
@caesarxuchao is working on this

[2016-03-11 01:22] liangchenye commented on #22683
Thanks. He must be very interest in this. I've sent an email to him.

These two ways are new features on the todo list, right?
The later one seems better, to me.

cc @maquanyi

[2016-03-11 01:27] dchen1107 commented on #22800
Why we need this one? We agreed with custom metrics count limit (:5) for this release because of the resource consumption and other concerns to Kubelet. Once you made this available in kube_up.sh, shouldn't we remove this restriction? Or you just suggest this for future release after we resolved the pending issues of monitoring pipeline? cc/ @vishh to refresh my memory on this.

cc/ @timstclair wh

[2016-03-11 01:28] bgrant0607 commented on #22742
@AdoHe How is it going? We need to get this fix in soon in order to make the next beta release. Do you need help?

cc @janetkuo @madhusudancs

[2016-03-11 01:28] bgrant0607 commented on #22742
cc @kargakis @soltysh

[2016-03-11 01:32] yujuhong commented on #22795
Apart from that, kubelet shouldn't have reported reason "Error" for a container with 0 exit code. This can be easily fixed in kubelet by [adding an extra check here](https://github.com/kubernetes/kubernetes/blame/release-1.1/pkg/kubelet/dockertools/manager.go#L392).

BTW, this has already been fixed in HEAD (1.2):
[code]

[2016-03-11 01:43] janetkuo commented on #22719
This is similar to #21810, the old RS is scaled up (when it should be scaled down) unexpectedly.

[2016-03-11 01:45] nikhiljindal commented on #22484
It did boil down to ObjectKind() :)
`NewFlattenListVisitor` calls `mapper.InfoForObject` which calls ObjectKind: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource/mapper.go#L89.

The object that it got was:
[code]
and it returned gvk:
[code]
and thats why the final object ends up in autoscaling/v1.

[2016-03-11 01:53] lavalamp commented on #22819
@dchen1107 something bad happened to the node, maybe to docker. I see lots of

[code]

messages on the master node's kubelet.log. Looks like it wasn't able to run much. etcd log is empty. Nothing obvious in docker log.

But anyway, the problem is clearly that etcd never started. Sorry, but I have to give this back to you :)

[2016-03-11 01:54] bprashanth commented on #22655
As Dawn noted in https://github.com/kubernetes/kubernetes/issues/22655#issuecomment-193416361 this appears to be a problem with kube-up in general and not just our e2e setup script, which makes me think we should fix it for 1.2.

[2016-03-11 01:54] janetkuo commented on #22795
@bgrant0607

[2016-03-11 02:04] janetkuo commented on #22795
Looks like this is fixed in HEAD, and the `state.reason` should now be `Completed` (instead of `Error`). See https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L371-L372

[2016-03-11 02:04] #22795 closed

[2016-03-11 02:07] vishh commented on #22800
AFAIK, this issue is referring to the limit in cAdvisor (100 by default)
and not in the kubelet.

On Thu, Mar 10, 2016 at 5:27 PM, Dawn Chen <notifications@github.com> wrote:

[2016-03-11 02:12] AdoHe commented on #22742
@bgrant0607 I have opened a PR already #22772

[2016-03-11 02:13] fejta commented on #18558
This is what failed https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubectl.go#L972
`runKubectlOrDie("delete", "jobs", jobName, nsFlag)`

Which eventually just calls kubectl delete jobs here
https://github.com/kubernetes/kubernetes/blob/cdd339505e0216e5eb2f06404e0211c0696f3cb2/test/e2e/util.go#L1473

Should kubectl be robust to TLS handshake timeouts?

[2016-03-11 02:16] AdoHe commented on #22540
@lavalamp this is considerable, will do this in the next-candidate.

[2016-03-11 02:18] jlowdermilk opened #22836 "default `kubectl run` with kubectl 1.2 is not backwards compatible with 1.1 master"
Tested with:
[code]

Most of the simple basic starting guides direct users to create a cluster with `kubectl run`. If I run kubectl 1.2 against a 1.1 cluster, I'll get the following behavior
[code]

now I happen to know I can get the old behavior by doing
[code]

but I don't expect an average user to know that or be able to find it easily. I'm mainly concerned that we will be breaking recommended

[2016-03-11 02:41] bgrant0607 commented on #22742
@AdoHe Sorry. I didn't see it, because it didn't reference this issue.

[2016-03-11 02:48] paralin commented on #22693
@derekwaynecarr Did you have a chance to look at it?

[2016-03-11 02:56] bgrant0607 commented on #22836
We should update those docs and document how to achieve stable behavior: #20304.

[2016-03-11 02:57] bgrant0607 commented on #22836
This would ideally use API discovery, though, to check whether the API exists.

[2016-03-11 03:00] bgrant0607 commented on #22836
@lavalamp @deads2k @soltysh  @janetkuo How hard would it be to check whether Deployment existed?

We had the same issue in 1.1, btw, with Job.

[2016-03-11 03:00] bgrant0607 commented on #22836
I'd accept a hack, also, which checked the k8s version if there wasn't enough discovery info in 1.1.

[2016-03-11 03:08] bprashanth opened #22837 "kubectl get ingress should print consistently formatted columns"
We should show a nicely formatted map, with tls and ports. This 50% works. Today we have:
[code]
Which works well enough, but printing a single Ingress involves hand managing tabs and newlines till the entire Ingress is printed, i.e: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource_printer.go#L1029

So when we start mixing different Ingress types, we get jarring output:
[c

[2016-03-11 03:17] bgrant0607 commented on #22820
https://github.com/kubernetes/kubernetes/blob/master/docs/design/taint-toleration-dedicated.md

[2016-03-11 03:18] bgrant0607 commented on #22820
But, yes, DaemonSet can place the pods on unschedulable nodes, so that should work in the mean time.

[2016-03-11 03:19] bgrant0607 commented on #22820
In 1.2

[2016-03-11 03:26] huang195 commented on #22585
@Random-Liu @yujuhong I posted my testing environment information earlier:

If there's anything else that might help, please let me know.

[2016-03-11 04:11] bgrant0607 commented on #22795
Thanks. @janetkuo @yujuhong
cc @erictune @davidopp

[2016-03-11 04:23] AdoHe commented on #22837
@bprashanth you can assign this to me, will fix this next-candidate.

[2016-03-11 04:26] therc commented on #22820
I can definitely confirm that DaemonSet will place the pods on unschedulable nodes (kubelets). I use it for two separate pods on each of my three master nodes on AWS: monitoring and log forwarding. It works as of a few days ago, when the last few bugs I reported were squashed.

[2016-03-11 04:29] pgmahesh opened #22839 "How to Determine the Pod Terminating status using REST API"
Hi,

We like to understand how the terminating status "Terminating" can be determined using the response payload of interface /Namespaces/<namespace>/pods. We always noticed that the Status.Phase is "pending" and Even the Container.statuses is "running".

However when we use Kubectl to know the status it indicates "Terminating". can you please let us know how to determine the pods status "Terminat

[2016-03-11 04:46] AdoHe commented on #22839
@pgmahesh ptal [https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource_printer.go#L561-L590](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource_printer.go#L561-L590)

[2016-03-11 04:51] liggitt commented on #22484
We have the original `GroupVersionKind` used to fetch the list of HPAs in the list info object. Using that to pick a preferred version when there are multiple possibilities could work.

[2016-03-11 04:52] liggitt commented on #22484
https://github.com/kubernetes/kubernetes/pull/22840 is one way we could do this

[2016-03-11 05:02] bprashanth commented on #22837
@AdoHe thanks!

[2016-03-11 05:11] bprashanth commented on #22837
Sounds like we should keep it to a single line (https://github.com/kubernetes/kubernetes/pull/22772/files#r55788741) and move everything else to describe. Well, that makes this bug easier.

[2016-03-11 05:16] AdoHe commented on #22837
@bprashanth yeah, we will move this to a single line, this is the principle.

[2016-03-11 05:18] roberthbailey commented on #22655
On the other hand, it's been this way since it was written and shouldn't be any flakier now that it's been for the last year. I wouldn't block a release on it (but I would cherry pick it so that it gets fixed on the release branch in the 1.2.1 release if it misses 1.2.0).

[2016-03-11 05:19] #22532 closed

[2016-03-11 05:34] roberthbailey commented on #22822
also note that the error could be from a system component other than the kubelet that is trying to reach the apiserver.

[2016-03-11 05:52] luxas commented on #22683
Ref: #5770 and #15140
I lean towards option one, which doesn't require the flag

[2016-03-11 06:00] liggitt opened #22841 "kubectl --validate doesn't work for API group objects inside lists"
[code]

hpa.yaml:

[code]

hpas.yaml:

[code]

[2016-03-11 06:45] soltysh commented on #22814
@lavalamp sorry for the confusion, but it was already addressed in the PR I've noticed it happening, iow. #22762.

[2016-03-11 06:46] feiskyer opened #22842 "Cluster failed to initialize on GCE"
I tried to setup a trusty cluster on GCE, but it failed with `Cluster failed to initialize within 300 seconds`.

Here is my environment setting:

[code]

Am I missing something? CC @dchen1107

By the way, this problem has also been confirmed by @Random-Liu .

[2016-03-11 07:07] wojtek-t commented on #22238
If increasing the timeout to say 30 seconds will solve the problem, I definitely vote for increasing it.

[2016-03-11 07:15] ixdy opened #22843 "hack/verify-godep-licenses.sh fails on Jenkins"
I don't understand what's going on. This check works fine locally, but fails on Jenkins with:
[code]

This appears to be the contents of https://github.com/opencontainers/runc/blob/902c012e85cdae6bb68d8c7a0df69a42f818ce96/NOTICE, which indeed is missing from our checked-in copy of Godeps/LICENSES, yet running `hack/update-godep-licenses.sh` doesn't add it.

Interestingly, if I run `hack/update-god

[2016-03-11 07:19] #22742 closed

[2016-03-11 07:20] nikhiljindal commented on #22484
Yes, thanks @liggitt for sending that PR.

We should look closely at other InfoForObject() calls as well and see if we can pass meaningful preferredGVKs. We should return an error if we cant rather than silently choosing a random one.

[2016-03-11 07:26] Random-Liu commented on #22842
In my test, kubelet keeps complaining that:
[code]

[2016-03-11 07:26] AdoHe commented on #22841
would take a look asap, but I am not sure what's the bulk creation status #9633

[2016-03-11 07:34] bgrant0607 commented on #21810
Removing from v1.2 unless/until this recurs

[2016-03-11 07:34] bgrant0607 commented on #22719
Removing from v1.2 unless/until this recurs

[2016-03-11 07:36] nikhiljindal commented on #22484
I was discussing this with @caesarxuchao and it seems that we can get away without using ObjectKind() at many (if not all) places.
For ex: for `kubectl get`, we already have the resource name, we can get the kind from resource using the RESTMapper (which supports priority).
In `kubectl create`, we unnecessarily try to find kind from go type using ObjectKind(). We have the kind directly in the inpu

[2016-03-11 07:38] bgrant0607 commented on #22836
We have the same issue with Job in 1.2, also. @soltysh

[2016-03-11 07:38] bgrant0607 commented on #21421
Ref #22836

[2016-03-11 07:42] bgrant0607 commented on #22338
Dupe of #21116

[2016-03-11 07:42] #22338 closed

[2016-03-11 07:45] patrikbeno commented on #15108
According to https://coreos.com/kubernetes/docs/latest/deploy-master.html:

Are you saying that the proper way to configure master node is `--register-node=true --register-schedulable=false` ?

[2016-03-11 07:48] bgrant0607 commented on #20999
Thanks @jayunit100.

petstore is still failing continuously, but there are no test results. Leaving this open, but removing from milestone.

[2016-03-11 07:50] bgrant0607 commented on #20999
Found a test result.
[code]
kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/8210/

[2016-03-11 07:56] nikhiljindal commented on #4700
https://github.com/emicklei/go-restful/pull/270 replaces "any" by "object".
Thanks @wing328

[2016-03-11 08:14] bgrant0607 commented on #22603
[code]
kubernetes-jenkins/pr-logs/pull/22844/kubernetes-pull-build-test-e2e-gce/32357

[2016-03-11 08:59] wojtek-t commented on #22830
@lavalamp - from #22024 it seems that they are using v1.1.3
The fix for it: #16628 was merged on December 1 - which means it's not included in 1.1.3
So it's already fixed, by not in that old release

[2016-03-11 09:13] wojtek-t commented on #22189
@hongchaodeng - yes what you wrote above makes perfect sense. Thanks for debugging it!

[2016-03-11 09:26] wojtek-t commented on #22189
Actually, this one is now debugging (and it was already fixed by reverting a harmful PR).
Closing this issue.

[2016-03-11 09:26] #22189 closed

[2016-03-11 09:39] vpal commented on #22179
@pmorie thank you for dealing with this issue.

Yes, having the root filesystem read-only could reduce the attack vector caused by the fact that the process in the container is running with the group root.

I think though that this is not enough and I believe that the only real solution form security and also operational point of view is to have fine grained control from Kubernetes over as what us

[2016-03-11 09:46] aliteff commented on #22823
Thanks, we will be trying this ... and feedback

[2016-03-11 09:47] wojtek-t commented on #20916
This just happened again:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/22682/kubernetes-pull-build-test-e2e-gce/32360/build-log.txt

It seems that master components, didn't event started, although we have some logs from master kubelet:
it seems like some metadata-serve issue, but I'm not sure.

[2016-03-11 09:54] wojtek-t opened #22848 "integration flake: TestMultiScheduler is flaky"
=== RUN   TestMultiScheduler
    --- FAIL: TestMultiScheduler (15.06s)
    	scheduler_test.go:370: Test MultiScheduler: pod-with-no-annotation Pod scheduled
    	scheduler_test.go:377: Test MultiScheduler: pod-with-annotation-fits-default Pod scheduled
    	scheduler_test.go:384: Test MultiScheduler: pod-with-annotation-fits-foo Pod not scheduled
    	scheduler_test.go:408: Test MultiScheduler: po

[2016-03-11 10:55] WIZARD-CXY commented on #17205
@lingz I met the same problem today when deploying the 1.1.8 version k8s, but the k8s can still works fine

[2016-03-11 10:57] #14370 closed

[2016-03-11 12:16] patrikbeno commented on #20625
@AdoHe isn't `kube-apiserver` a system component? Shouldn't it be placed in `kube-system` by default?

[2016-03-11 12:54] deads2k commented on #22675
The current dynamic client pins itself to an `APIPath` (which doesn't allow switching to legacy groups) and statically pins the `GroupVersion` that it operates upon, so I have no way to easily say, "list me all of this groupversionresource from this namespace".  I must maintain a `restclient.Config` (leaking it throughout code that shouldn't care) in order to build the `dynamic.NewClient` that I n

[2016-03-11 13:02] deads2k commented on #22603
My kubelet skills are lacking, but this seems odd:
[code]

Are those docker errors normal?

[2016-03-11 13:04] deads2k commented on #22603
Also, do we gather etcd dumps for failed tests?  I didn't see them `artifacts`, but I wasn't sure if they were somewhere else.  Being able to load an etcd with the dump, point an API server (no controllers) at it, and debug using the normal client tools is pretty useful downstream.

[2016-03-11 13:14] huang195 commented on #22585
It looks like #19900 is the culprit here since I'm using `kubectl run ... --limits="cpu=10m,memory=8Mi" ...` and by default `--cpu-cfs-quota=true` since that PR, whereas it was set to `false` in release-1.1. As a result, `docker start` works under this cpu constraint and starts very slowly. It's mentioned that

which could be the reason you cannot reproduce the problem I was seeing even running th

[2016-03-11 13:14] #22585 closed

[2016-03-11 13:19] #22747 closed

[2016-03-11 13:20] #22583 closed

[2016-03-11 13:59] jayunit100 commented on #20999
ah this tells me the kubectl path on the test runner isn't found most likely..?
I'll check how the other kubectl tests are running, maybe a convention was updated

[2016-03-11 14:02] pgmahesh commented on #22839
Thanks a lot. it was very useful.
why not "Terminating" not of status.Phase?.

[2016-03-11 14:16] rnataraja commented on #22822
Thanks

Sent from my iPhone

[2016-03-11 14:20] rnataraja commented on #22822
Thanks. Handshake error happens on the server. I think the error is in the API SERVER when it is trying to connect to kubelet worker. Would that be possible?

Thanks
Rajesh

Sent from my iPhone

[2016-03-11 14:23] bgrant0607 commented on #19680
Need to replace out-of-date design docs and proposals: #22797

[2016-03-11 14:31] bgrant0607 commented on #22797
@fgrzadkowski

I'd rather not have obsolete docs in the tree.

We need to ensure that everything in this doc that's still relevant is covered and up to date somewhere.

We definitely need a doc for the scale API. (And for the rest of the API #19680)

The kubectl details needs to be covered in kubectl user docs. Other user-facing details need to be in an autoscaling guide and example in the user gu

[2016-03-11 14:34] ndtreviv commented on #22178
+1 This was the command I ran (as part of these instructions: http://kubernetes.io/docs/getting-started-guides/docker-multinode/master/):

[code]
This was the result:
[code]

And then if I run the next instruction and ignore the error, I get a message about the container not running:
`Error response from daemon: Container [HASH HERE] is not running`

So if I run it without the last two options I d

[2016-03-11 14:54] bgrant0607 commented on #22405
See also #5660

[2016-03-11 14:54] ncdc commented on #21367
Hit this again: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/13159/

[2016-03-11 14:58] bgrant0607 commented on #22405
@AdoHe @ethernetdan

There are a number of hand-written clients -- do a google search. We also have not-up-to-date links to some in our docs. They might be good starting points. For instance, the Fabric8 client is worth a look.

But I'm looking for a way to auto-generate the bulk of them, since they'll otherwise bit rot rapidly.

A few people of tried to generate them via swagger. We need to impro

[2016-03-11 15:02] jayunit100 commented on #22707
After looking at a few different workloads and talking to more people,  for any cluster , the metrics we care about that I was able to find:

- TCP : GBits per second between pods w/ Max packet size.
- TCP : GBits per second between pods at with x*n services present (n=num of nodes, x=1...100).
- TCP : GBits per second between pods when large packets.
- TCP: (Real world) GBits per second between p

[2016-03-11 15:07] bgrant0607 commented on #22603
@deads2k No, good idea. Please file an issue.

[2016-03-11 15:08] bgrant0607 commented on #22603
@deads2k Yes, those docker errors look normal to me.

[2016-03-11 15:23] bgrant0607 commented on #22836
Fix is in #22849

[2016-03-11 15:24] bgrant0607 commented on #21421
@ihmccreery @jlowdermilk It's possible to bring back the older `kubectl run` test and pin to a generator.

We should be doing that, anyway: #20304

[2016-03-11 15:25] deads2k commented on #22454
opened https://github.com/kubernetes/kubernetes/pull/22853

[2016-03-11 15:25] bgrant0607 commented on #21421
We may want another test that tests that a pod runs rather than kubectl run produces a particular resource.

[2016-03-11 15:26] timothysc commented on #22669
CPU saturation until it hits a lease expiration in openshift, forcing a fail-over.  It's on the controller-manager + scheduler restart on a fresh node that we see the hammering.  In our case they are 1 process.

Our test hits the api-server probably harder then *e2es, we have concurrent submissions of deployments+other resource objects trying to hit every controller and resource object.

So to ans

[2016-03-11 15:37] justinsb commented on #21625
Oh absolutely, I just meant we should make sure we have a tracking issue to revisit in 1.3 or later.  What we've got into 1.2 is great & a huge improvement.

[2016-03-11 15:53] ofthecurerh commented on #22707
In our testing we do throughput and latency for TCP and only latency for UDP. Does iperf only do throughput?

@jayunit100 what do you define as large and max packet size? We usually run 64, 1024, 16384 bytes to cover small/medium/large packets.

[2016-03-11 15:54] dchen1107 commented on #22842
@andyzheng0831 Can you take a look at this?

[2016-03-11 16:01] derekwaynecarr commented on #22693
@paralin - I did.  It's very cool.  In general, I think my only complaint was the need to specify a PV name rather than take part in the normal PVC binding process.  I am curious if you found the scope of flags in your current solution sufficient or if there are other things you want to parameterize?

I want to get your feedback on the experimental command I am working on downstream so I can ensur

[2016-03-11 16:03] zombor opened #22854 "Support for AWS ELB SSL Services"
Right now services that setup amazon ELBs setup a TCP port 443 listener. It would be swell if there was a way to setup an HTTPS protocol listener that included specifying an SSL certificate.

Currently I have to manually go into the aws console and re-configure the ELB for each service to use https with our certificates, which isn't really manageable because k8s occasionally reconfigures them to m

[2016-03-11 16:03] jayunit100 commented on #22707
maxpacketsize: cluster dependent.
re: latency - if we want to track this, then lets track it.  w/ or w/o iperf.  I'll add it to the list :)

[2016-03-11 16:07] zombor commented on #22854
Paging @justinsb !

[2016-03-11 16:17] bgrant0607 opened #22856 "rkt_test.go is failing"
Array equality test:
[code]
kubernetes-jenkins/pr-logs/pull/22853/kubernetes-pull-test-unit-integration/18143

Triggered in #22853 and #22851

cc @ncdc @yifan-gu

[2016-03-11 16:20] quinton-hoole commented on #22572
Still all green.  Closing.

[2016-03-11 16:20] #22572 closed

[2016-03-11 16:22] quinton-hoole commented on #22077
Unblocked now that #22572 is resolved.  Tackling this now.

[2016-03-11 16:39] kargakis commented on #13719
This is fixed now in kubectl. @rhcarvalho can you do the same for oc?

[2016-03-11 16:47] rhcarvalho commented on #13719
@kargakis will do.

[2016-03-11 16:47] #13719 closed

[2016-03-11 16:55] adohe opened #22858 "decide on insecureSkipVerify setting when run against secured etcd"
We just restore ability to run against secured etcd here #21535, but InsecureSkipTLSVerify is still questionable in secured etcd. We need to decide whether we should add this. @liggitt @timothysc @bgrant0607 @xiang90 ptal.

[2016-03-11 16:58] jayunit100 commented on #20999
@bgrant0607 ill just add all the k8petstore shell script into the go code for the example , so the shell script implementation dissapears.  i think the value of a shell wrapper is diminished alot now that dns and kubexec are being used ubiquitiously for the examples.

[2016-03-11 16:59] #20930 closed

[2016-03-11 17:04] #22836 closed

[2016-03-11 17:07] bgrant0607 commented on #21367
Bumped up to P0

[2016-03-11 17:10] thockin commented on #3580
@derekwaynecarr I haven't spun up vagrant lately - is this still an issue for DNS tests?  We want to make DNS a conformance test.

[2016-03-11 17:11] bgrant0607 commented on #22858
cc @lavalamp

[2016-03-11 17:11] ncdc commented on #22856
I can't reproduce this locally (Fedora 23, golang-1.5.3-1.fc23.x86_64), but it appears to be happening in many (every?) PRs now.

[2016-03-11 17:15] ncdc commented on #22856
Ah, I wasn't on HEAD. Now I can reproduce.

[2016-03-11 17:17] thockin commented on #9107
No, there's a TODO in the e2e for DNS and Vagrant not working.  I am trying to find if that is stale or needs work.

[2016-03-11 17:26] ncdc commented on #22856
I'm guessing #22767 is the culprit

[2016-03-11 17:28] bgrant0607 commented on #22856
Ok, this is causing the build to fail.

[2016-03-11 17:29] bgrant0607 commented on #22856
Yes, I'm going to revert that @k8s-oncall

[2016-03-11 17:29] ncdc commented on #22856
@bgrant0607 I think I can fix it

[2016-03-11 17:31] bgrant0607 commented on #22856
Thanks @ncdc. Pretty much every PR is getting snagged on this

[2016-03-11 17:32] yujuhong commented on #22585
@huang195, thanks for the thorough debugging!

According to https://github.com/kubernetes/kubernetes/pull/19900#issuecomment-173747795, setting "requests" instead of "limits" is better for your performance benchmark.

In short, kubernetes v1.2+ enforces hard cpu limits. Setting small cpu limits for containers may cause very slow container start (e.g., 7s). @kubernetes/sig-node, in case anyone runs

[2016-03-11 17:38] #22856 closed

[2016-03-11 17:48] andyzheng0831 commented on #22842
I just try with the latest kubernetes head code. I think you missed something. Please note that you need to set both the master and nodes image/image-project. Here is my env variables:

export KUBE_OS_DISTRIBUTION=trusty
export KUBE_GCE_MASTER_PROJECT=ubuntu-os-cloud
export KUBE_GCE_MASTER_IMAGE=ubuntu-1404-trusty-v20160304
export KUBE_GCE_NODE_PROJECT=ubuntu-os-cloud
export KUBE_GCE_NODE_IMAGE=ub

[2016-03-11 17:49] nikhiljindal commented on #22454
Thanks @deads2k!
I assume that now we can get https://github.com/kubernetes/kubernetes/pull/22410 in as well?
Can I add it to 1.2 milestone and cherrypick-candidate?

[2016-03-11 17:54] mikedanese commented on #21367
#22760 is lgtm'd. it will give us some more visibility and increase the timeout.

[2016-03-11 17:56] lavalamp commented on #22454
If we're really worried about it, we can reject group names based on a regexp.

@nikhiljindal Yes. We have til 11...

[2016-03-11 18:05] jlowdermilk opened #22863 "generated doc scripts (e.g. for kubectl) should update the new docs repo"
We have a number of scripts in https://github.com/kubernetes/kubernetes/tree/master/hack/after-build that generate docs (markdown, manpages etc) from source. Those should be updated to require a docs path so they can still be used to push updates to https://github.com/kubernetes/kubernetes.github.io.

cc @johndmulhausen

[2016-03-11 18:18] bprashanth commented on #20916
That's really strange. The test ran 9 hours ago: https://github.com/kubernetes/kubernetes/pull/22682#issuecomment-195285625

And the kubelet logs have:
[code]

Which I removed in https://github.com/kubernetes/kubernetes/pull/22192/files#diff-d983c6311a6046434cdbf5d6edfc84f9R66 and went in a week ago. So I'm assuming the run didn't have my timeout fix as well, from the same pr.

@kubernetes/goog-te

[2016-03-11 18:19] Random-Liu commented on #22842
@andyzheng0831 I don't quite understand.
In `gce/config-default.sh`, I saw this:
[code]
Doesn't that mean, nodes image/image-project is default to be the same with master?

[2016-03-11 18:30] Random-Liu commented on #22585
@huang195 Thanks for digging it out!

[2016-03-11 18:32] mikedanese commented on #20916
Maybe it was an older PR that had not been rebased recently. Do we attempt to merge with HEAD before building the test artifact like travis does?

[2016-03-11 18:33] dchen1107 commented on #22585
@huang195, great that you found the culprit here.

For kubernetes 1.2 release, we enable cpu cfs quota by default for qos. But unfortunately the kernel in our containerVM image isn't compiled with CONFIG_CFS_BANDWIDTH, so that we introduced a warning message to NodeStatus if CONFIG_CFS_BANDWIDTH is not on:

[code]

[2016-03-11 18:34] carsonoid commented on #22750
Is it possible to run the 1.2 api server while the rest of the cluster is
deployed via 1.1?

On Thu, Mar 10, 2016 at 3:18 AM, Justin Santa Barbara <
notifications@github.com> wrote:

[2016-03-11 18:38] mikedanese commented on #22750
@carsonoid it's possible to run the 1.2 controller-manager,scheduler,apiserver when the nodes are v1.1.*. IIUC, this call in question in made from the node controller in the controller-manager.

[2016-03-11 18:45] nikhiljindal opened #22866 "Stop using scheme.ObjectKind"
Based on discussion in https://github.com/kubernetes/kubernetes/issues/22484.

Now, that we have multiple possible kinds for a go type (HorizontalPodAutoscaler has 2 kinds - extensions/v1beta1 and autoscaling/v1), we cant use scheme.ObjectKind().
scheme.ObjectKind() arbitrarily returns the first possible kind.
We should replace it by ObjectKinds() and then disambiguate appropriately.

@kubernetes/

[2016-03-11 18:46] nikhiljindal commented on #22484
https://github.com/kubernetes/kubernetes/pull/22840 has fixed the critical `kubectl get hpa` issue.

We now need to scrub the codebase and fix other places as well. But thats beyond 1.2
Filed https://github.com/kubernetes/kubernetes/issues/22866 to track.

[2016-03-11 18:46] #22484 closed

[2016-03-11 18:46] dchen1107 commented on #22765
@liangchenye Could you delegate this to one of your co-workers since I don't have their github names? Thanks!

[2016-03-11 18:46] smarterclayton commented on #22669
I would expect pod master to hit similar scenarios.  I would expect Mike's
leader library to expose more.  We're just running with 3 master 3
controllers today, so we hit it first.  The other thing we're seeing is
that CPU starvation can cause us to miss our lease renewal, which worries
me that there's something about fairness in the go scheduler or our client
libraries or the etcd client that pre

[2016-03-11 18:47] nikhiljindal commented on #22866
https://github.com/kubernetes/kubernetes/pull/22840 is an example way to fix this

[2016-03-11 18:55] ArtfulCoder commented on #9107
the dns test has certain docker specific tests around pod hostname-via-annotation, which would not work for rkt.
For conformance, we would need it to work for rkt as well ?

[2016-03-11 18:56] bprashanth commented on #22825
This is a race in the namespace controller. We deleted the ns, but leaked a pod:
[code]

From namespace_controller logs:
[code]

The pod that was leaked was created by the rc when it detected a termination grace period on an existing pod. So why not scale the rc, wait for it to hit 0, delete it, then cleaning up any pods?

@derekwaynecarr

http://kubekins.dls.corp.google.com:8081/job/kubernetes-pu

[2016-03-11 18:56] liggitt commented on #22866
#22840 was a contained fix at the edge of one use. I wouldn't recommend that as a pattern. I'd like to revisit usage after 1.2 closes.

[2016-03-11 18:57] lavalamp commented on #22830
@wojtek-t Thanks!

[2016-03-11 18:57] #22830 closed

[2016-03-11 18:58] bprashanth commented on #22825
Un-assigning Tim to let someone else with cycles take over, since this doesn't look like team/cluster

[2016-03-11 19:00] lavalamp commented on #22024
As pointed out in #22830, the error message was fixed by #16628.

IMO you should not worry about "errors" in Kubernetes log files unless there's a corresponding symptom. Kubernetes is designed to be self-healing; errors should all be recoverable & not require admin intervention. If they do require admin intervention, the error message should make that very clear, and/or I'd expect some obvious sym

[2016-03-11 19:09] freeformz commented on #22796
This *may* be related to https://github.com/tools/godep/issues/400. I'll see if I can duplicate, but I may not get to it today.

PS: Why are you sticking to v53?

[2016-03-11 19:13] lavalamp opened #22868 "build scripts should not attempt to push to gcr.io/google_containers by default"
Reported here: https://github.com/golang/go/issues/14396#issuecomment-195498998

If true, this is a time bomb waiting to happen.

[2016-03-11 19:18] lavalamp commented on #18760
PR is LGTM'd, we're just waiting for a merge.

[2016-03-11 19:19] derekwaynecarr commented on #22652
I am marking this milestone 1.3 .

The initial error was because the kubelet stats API returned incorrect results when running systemd + devicemapper.  That problem was fixed in https://github.com/kubernetes/kubernetes/issues/22656

The test still fails when running systemd+devicemapper because it requires per container disk usage stats which is not yet possible with cAdvisor + devicemapper.  We h

[2016-03-11 19:19] paralin commented on #22693
@derekwaynecarr I'd love to help out on that front (downstream).

I think it might be good to add an option to poll the users list until someone signs in and make them cluster admin so that the admin user can easily get access to the oadm commands without using admin.kubeconfig. On that front as well it would be good to offer to put a kubectl context for the user in admin.kubeconfig into their kub

[2016-03-11 19:21] derekwaynecarr commented on #22652
@sjenning - assigned this issue to you since you are working on underlying cadvisor fix for devicemapper container usage stats.

[2016-03-11 19:26] DreadPirateShawn commented on #22024
@lavalamp First and foremost, many thanks for your help and attention!

That being said, will this still be an "error"-level log, or will it be lowered to "warning/info/etc"-level, since it's expected behavior?

The problem with ignoring errors (quotes deliberately omitted) in Kubernetes log files that is that it's basically recommending to put tape over the engine warning lights.

For instance, o

[2016-03-11 19:26] sjenning commented on #22652
cadvisor issue tracking per-container devicemapper usage:
https://github.com/google/cadvisor/issues/959

[2016-03-11 19:28] derekwaynecarr commented on #22693
@paralin on GCE, you can add an annotation to automatically provision a PV for a PVC.  Will cc you on the `openshift ex on-kubernetes install` command in downstream PR which will need to be done before this is fixed.

[2016-03-11 19:28] lavalamp commented on #22669
CPU starvation triggering this sounds like there's already a problem, and
the restart is triggering at the worst possible time.

On Fri, Mar 11, 2016 at 10:47 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-03-11 19:29] DreadPirateShawn commented on #22024
PS: I'm in the #kubernetes-users slack chat as well, user sfalknerhorine, if you want to chat more without an audience :-) -- this is admittedly a bit more philosophical and tangential to the main topic of fixing the etcd response handler, but it may very well come up again as we pursue other various error-level logs.

[2016-03-11 19:33] lavalamp commented on #22024
This will now print in API server as a 410 HTTP response, instead of the stack trace.

I think components doing watches may still log something when a watch is dropped. I can definitely see your point, and there have been other complaints about this message.

[2016-03-11 19:34] lavalamp commented on #22024
I have a lot to say about this message, but lack the time today to say it. So I'll leave this issue open a bit longer.

[2016-03-11 20:09] janetkuo commented on #22719
Watching if #22828 fixes this failure mode.

[2016-03-11 20:09] janetkuo commented on #21810
Watching if #22828 fixes this failure mode.

[2016-03-11 20:09] paralin opened #22871 "Add API endpoint to query cluster capabilities"
I'm not sure if this exists at the moment (I browsed through the API and couldn't find anything like this).

I'd like to be able to query what Cloud Provider the cluster is running on as well as for other settings. Is this possible?

This might be a node specific thing, if the cluster spans multiple locations.

[2016-03-11 20:11] david-mcmahon commented on #22843
A recent change to verify-godep-licenses.sh makes it return cleanly when Godeps/LICENSES is actually out of date:

[code]

[2016-03-11 20:11] codefx9 commented on #22820
@dchen1107, thanks a lot for the detailed answer. Can you please elaborate how do I config the master kubelet to register itself, but not schedulable ?Do I set --api-servers to 127.0.0.1 and --register-schedulable=false ?

A tangential question regarding master kubelet is that how does it handle the race condition on cbr0 interface. What I understood reading the source code is that systemd starts

[2016-03-11 20:12] janetkuo commented on #22603
This failure mode (pods not running) is similar to #22300. The rc successfully created pods, but they fail to start running in 5 minutes.
cc @dchen1107 @yujuhong

[2016-03-11 20:14] #18760 closed

[2016-03-11 20:14] paralin commented on #22792
Is there any documentation yet on automatic EBS volume creation?

[2016-03-11 20:14] #14318 closed

[2016-03-11 20:18] andyzheng0831 commented on #22842
Yes, what you mentioned is correct. And I can reproduce the issue. I have been using the old way of setting both master and node image/project, so I have not noticed this issue. I am debugging it, and will update you

[2016-03-11 20:20] #22614 closed

[2016-03-11 20:22] ncdc commented on #19014
Now that 22802 and 22804 are merged, this should be better, at least for the spdystream parts. I'm going to close this for now.

[2016-03-11 20:22] #19014 closed

[2016-03-11 20:26] huggsboson commented on #18239
With the :rw fix I'm seeing no errors on pod creation but the /var/run/secrets/kubernetes.io/serviceaccount/ is empty.
I'm going to try the :ro fix with the mount commands @gopinatht mentioned above.

/ # ls -lah /var/run/secrets/kubernetes.io/serviceaccount/
total 4
drwxrwxrwx    2 root     root          40 Mar 11 18:55 .
drwxr-xr-x    3 root     root        4.0K Mar 11 18:55 ..

[2016-03-11 20:26] davidopp commented on #22848
@wojtek-t I assume #22835 isn't actually a fix for this, just a way to get faster logs?

[2016-03-11 20:28] davidopp commented on #22176
ping

[2016-03-11 20:30] lavalamp commented on #22858
We're doing client cert to etcd, right? So I think it's OK, since etcd will be doing the cert checking, not apiserver. But maybe we can get confirmation from @xiang90.

[2016-03-11 20:31] derekwaynecarr commented on #22825
I was hoping to avoid having to infer a priority order or do any special behaviors per controller in deletion since admission should be blocking the controller from doing new creations here.

https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/namespace/lifecycle/admission.go#L93

It's possible that local admission controller had a latent cache.

[2016-03-11 20:31] lavalamp commented on #22675
We should evolve the dynamic client until it handles both cases, IMO.
@krousey

On Fri, Mar 11, 2016 at 4:54 AM, David Eads <notifications@github.com>
wrote:

[2016-03-11 20:33] nikhiljindal commented on #22866
@liggitt @deads2k What do you guys think about using mapper.KindFor(resource) instead of scheme.ObjectKind(obj) to get the kind in kubectl commands.
https://github.com/kubernetes/kubernetes/issues/22484#issuecomment-195234347

[2016-03-11 20:34] wojtek-t commented on #20916
Actually, I agree with @bprashanth - there is something extremely strange here.
@kubernetes/goog-testing - any thoughs on it?

[2016-03-11 20:34] wojtek-t commented on #22848
@davidopp Actually #22835 is only where the test failed. To be honest, I didn't have time to look into it at all.

[2016-03-11 20:35] huggsboson commented on #18239
When I do what @gopinatht suggested, /var/lib/kubelet:shared instead of /var/lib/kubelet:rw it actually mounts the secrets.

I still get this error when my pods start up even though the file exists, I assume it is another permissions issue:
1m		1m		1	{kubelet 127.0.0.1}			Warning		FailedSync	Error syncing pod, skipping: failed to "StartContainer" for "POD" with RunContainerError: "addNDotsOption:

[2016-03-11 20:35] nikhiljindal commented on #22866
Example PR: https://github.com/kubernetes/kubernetes/pull/22872

[2016-03-11 20:35] derekwaynecarr commented on #22825
Closing as its a duplicate of https://github.com/kubernetes/kubernetes/issues/22045

[2016-03-11 20:35] #22825 closed

[2016-03-11 20:36] huang195 opened #22873 "Help with defining the right ABAC authorization policies"
I'm in the process of creating ABAC authorization policies for our Kubernetes cluster and ran into several issues:

1. Is there a cookie cutter example of what a "normal user" and an "admin user"'s policy should look like?

2. We expect our users to use `kubectl` to interact with our k8s cluster, is the following policy safe to use?

[code]

3. If I add a new user to the cluster with the correspon

[2016-03-11 20:37] huang195 commented on #22873
cc @erictune, @liggitt

[2016-03-11 20:38] #22814 closed

[2016-03-11 20:40] derekwaynecarr commented on #22045
I suspect this has a latent cache when this flake occurs that is letting in a resource spawned by a controller after the namespace is deleted:

https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/namespace/lifecycle/admission.go#L93

I am not sure what to do here... suggestions welcome.

* changing the namespace controller to do something order specific should not be needed
*

[2016-03-11 20:41] deads2k commented on #22866
For some commands, it seems like they could explicitly indicate what they're creating.  The `create` subcommands you called out only know how to make one thing, right?

[2016-03-11 20:46] wojtek-t commented on #22045
@derekwaynecarr - I agree that this is possible. But when I looked into the test I didn't see any reasonable explanation what object can be created/updated in the namespace after the request to delete it. Any thoughts on it?

[2016-03-11 20:55] derekwaynecarr commented on #22045
@wojtek-t - I think we can reduce the flake by having the ns controller create an Event in a terminating namespace.  Once it gets a response back from the server that says the Event cannot be created, it knows at least one admission controller (assuming a clustered api server) has had its local cache propagated, and no further creates would be let in to that namespace.  Ideally, we would have a wa

[2016-03-11 20:57] pmorie commented on #22179
@vpal forgive my absense, had some minor surgery this week and have been recovering.

[2016-03-11 21:00] spxtr commented on #20916
@mikedanese Yes, PR Jenkins checks out the PR merge tag when possible. If the PR has a merge conflict then we will get whatever the user has in their branch, which may be very out of date. We should probably disallow building/testing PRs with merge conflicts.

[2016-03-11 21:00] luxas commented on #18239
@huggsboson Try this: https://github.com/kubernetes/kubernetes/issues/4869#issuecomment-194149162

[2016-03-11 21:03] derekwaynecarr commented on #22045
@wojtek-t - the test in question creates multiple replication controllers:

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/service.go#L452

we could modify the test to manually delete the replication controller as well.

[2016-03-11 21:06] huang195 commented on #22585
@Random-Liu Right, that's what I ended up doing.
@dchen1107 I never paid attention to those message before, thanks for the heads up.

[2016-03-11 21:12] derekwaynecarr commented on #22045
or discover scaled resources and scale those to 0 and block until the status reports 0 for each scaled resource.  not sure how easy that is to do generically.

[2016-03-11 21:24] derekwaynecarr commented on #22045
This will be my top priority on Monday pending more thoughts on how to do this best.

[2016-03-11 21:27] bgrant0607 commented on #22045
Will comment later.

[2016-03-11 21:28] Random-Liu commented on #22842
@andyzheng0831 Thanks a lot! :)

[2016-03-11 21:31] justinsb commented on #22792
@paralin from a user perspective, they are not AWS specific.  That said, I don't know that we have clear user-facing docs.  Here's an example though, from my (very) WIP Ubernetes-Lite docs:

https://raw.githubusercontent.com/justinsb/kubernetes/docs_ubernetes_lite/docs/getting-started-guides/ubernetes-lite.md

...

[code]

The PV is also tagged with the zone & region is is in (us-central1-a):

[co

[2016-03-11 21:32] huggsboson commented on #18239
rshared starts up okay, and secrets get mounted, but I still get the message (before it even pulls images, cf6cb... is the docker container id for the /pause for busybox):
[code]

[2016-03-11 21:37] luxas opened #22876 "Make pause image started in kubelet_perf configurable"
Right now, the image started in `kubelet_perf` (https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubelet_perf.go#L70) is hard-coded, and for example makes it impossible to run that `e2e` test on an ARM cluster, where `gcr.io/google_containers/pause-arm:2.0` should be used instead.

The best way of fixing this is by creating a flag for the e2e test (but I don't know if that's possible)

[2016-03-11 21:41] nikhiljindal commented on #22719
Failed again: https://github.com/kubernetes/kubernetes/pull/22872#issuecomment-195552901

[code]

[2016-03-11 21:43] #15073 closed

[2016-03-11 21:48] ixdy commented on #22876
How do we handle the core kube containers?

[2016-03-11 21:50] yujuhong commented on #19014
@k8s-oncall, @dchen1107  the soak clusters will continue failing without the fixes.

[2016-03-11 21:51] yujuhong commented on #15108
@patrikbeno, yes, we want the master node to register so that users can view the pods running on the node. Setting "--register-schedulable=false" simply prevents other tasks to be scheduled on the master node.

[2016-03-11 21:53] huggsboson commented on #18239
I've been using master.json to launch services inside kubelet.  I'm curious if I should be using master-multi.

[2016-03-11 21:54] ixdy commented on #22876
We could make it flag-configurable in the e2e tests, but I'd rather it be more automatic than that.

#19905 adds support for including the platform in the version string, so we could use that to detect the correct name to use.

That said, I'm curious if we have a plan for easily maintaining and specifying parallel versions of x86, arm, etc containers - e.g. would we expect the same configs to work

[2016-03-11 21:57] huggsboson commented on #4869
@tdeheurles I had to do the following to get it working
[code]
Note: rshared

[2016-03-11 22:08] caesarxuchao commented on #18704
This seems to occur again:
[code]
https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/22847/kubernetes-pull-build-test-e2e-gce/32427/?debugUI=CLOUD

[2016-03-11 22:09] tdeheurles commented on #18239
the only difference between the two are from where you can access the cluster

[2016-03-11 22:10] janetkuo commented on #22719
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/22872/kubernetes-pull-build-test-e2e-gce/32425/?debugUI=DEVELOPERS

[2016-03-11 22:11] thockin commented on #9107
Maybe we can split out the annotation parts into a separate case and mark the core case as conformance for now?  The annotation/hostname stuff is beta anyway

[2016-03-11 22:12] tdeheurles commented on #18239
Look [master](https://github.com/kubernetes/kubernetes/blob/master/cluster/images/hyperkube/master.json) and [master-multi](https://github.com/kubernetes/kubernetes/blob/master/cluster/images/hyperkube/master-multi.json)

The only difference is the `--insecure-bind-address`. In one you can only access in localhost, in the other from anywhere.

[2016-03-11 22:14] huggsboson commented on #18239
it looks like master-multi (manifests-multi) also doesn't spin up an etcd for you:
[Dockerfile](https://github.com/kubernetes/kubernetes/blob/master/cluster/images/hyperkube/Dockerfile)

[2016-03-11 22:14] nikhiljindal commented on #13929
We now support resource.version.group for kubectl commands: https://github.com/kubernetes/kubernetes/pull/22853

https://github.com/kubernetes/kubernetes/issues/22454 tracks what we should do about --api-version and --output-version.

I guess we can close this issue?

[2016-03-11 22:15] tdeheurles commented on #4869
@mikedanese was pointing to `mount --make-shared /var/lib/kubelet`.

Kubernetes seems to start well with the command I resumed from the other post but I didn't have time to test the cluster ... I don't really understand that part sorry ...

[2016-03-11 22:20] yujuhong commented on #18704
With a totally different cause:
[code]

This looks like #20550, cc @ArtfulCoder

[2016-03-11 22:27] thockin commented on #22045
I thought we marked the namespace as Terminating, which would fail any subsequent POST operations, which should free us up to delete in any order (since we have no referential integrity or delete inhibition)?  What did I get wrong?

[2016-03-11 22:29] bprashanth commented on #22680
Apparently this bites us more often than we thought with the smallest master size @kubernetes/goog-gke
I think we can simply bump it down to something like 5000?

[2016-03-11 22:30] derekwaynecarr commented on #22045
@thockin - we do.  the issue best that i can tell is that when this flake occurs the cache in that admission controller is stale.  so while namespace controller has observed it should delete, the admission controller that is blocking creates has not yet made that observation.

[2016-03-11 22:43] bprashanth opened #22878 "Informer can send an update if it notices an update in a delete"
Consider the following:
- apiserver watch expires, relisting from etcd
  - update pod with deletion timestamp, rv: X
  - delete after a few seconds, rv: Y
- apiserver starts watching from rv: X
- apiserver gets "too old resource version", relists and starts watching from rv Z

If Z > Y: informer sends tombstone object because pod is gone from list but in store.
If X < Z < Y: informer sends Delete,

[2016-03-11 23:07] andyzheng0831 commented on #22842
I find the root cause. There are few racing cases which make the health check incorrectly thinks kubelet is unhealthy and kill it too fast. I just made a fix and tested it by running "kube-up.sh" and "kube-down.sh" back and forth for 10 times. I will send it out for review shortly.

[2016-03-11 23:11] bmelville opened #22881 "Deleting ReplicationController does not delete pods in API"
Deleting a ReplicationController behaves differently between the command line and the API. From the command line, it will also delete the pods it has created, while in the API the pods are orphaned.

The difference in behavior between command line and API is jarring. Additionally, integrating directly with the API becomes extremely difficult when trying to manage replicationcontrollers directly. W

[2016-03-11 23:13] #22786 closed

[2016-03-11 23:13] roberthbailey commented on #22680
Do we want to scale it based on master size or just set a lower threshold for all masters?

[2016-03-11 23:22] janetkuo commented on #22719
The scaling events look right, but one of the old replicas's status.replicas and spec.replicas doesn't look right.

`test-rollover-controller` has been scaled down 4 -> 3 -> 1 -> 0, but its `spec.replicas` and `status.replicas` are both 3, and there's only 1 pod (available) it manages in the system when the test failed.

[2016-03-11 23:50] janetkuo commented on #22719
RS replicas seem to be updated correctly.

[code]

[2016-03-11 23:50] ihmccreery commented on #21994
@saad-ali This isn't a test infra issue; it's an issue with the test itself.

[2016-03-11 23:54] ihmccreery commented on #7256
I'm closing this as obsolete; lots of stuff has changed in the last 6 months: some of this is already done, and in-place updates are currently not a target.

[2016-03-11 23:54] #7256 closed

[2016-03-11 23:56] ihmccreery commented on #16040
I'm unassigning myself from this right now, and will work with @kubernetes/goog-testing to make this (hopefully) better.

[2016-03-12 00:00] ihmccreery commented on #22104
The blocker here is being able to run two `ginkgo test` runs in the same Jenkins job and deal with the JUnit output in a sane way.

[2016-03-12 00:02] bprashanth commented on #22680
Yeah bumping it down to something like 5000 might just make more sense. I suppose we want to make sure the gc isn't too aggressive and cleaning up failed pods in large ish clusters in 10h/overnight.

[2016-03-12 00:04] ixdy commented on #22843
@david-mcmahon `verify-godep-licenses.sh` only runs when there are Godeps changes relative to upstream master. This has been the case since the check has existed, I believe - the recent changes just make it clearer it's skipping because of this.

[2016-03-12 00:05] ihmccreery opened #22883 "Get upgrade test job results into gke-testdash"
(This is a Google-internal kind of thing.)

@spxtr, can we get all the upgrade test results into gke-testdash please?  (Or enable me to do it myself?)

[2016-03-12 00:07] saad-ali commented on #21994
@ihmccreery Thanks Ike. Please add the correct team label so that it can be triaged appropriately.

[2016-03-12 00:10] ihmccreery opened #22884 "Version-skewed Kubectl client Simple pod should support exec through an HTTP proxy"
This looks like it popped up 3 days ago: http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GKE/job/kubernetes-upgrade-gke-1.1-master-step2-kubectl-e2e-new/

It affects both `master` and `release-1.2`.

[code]

Assigning to @bgrant0607 for triage—I'm looking into it as well.

[2016-03-12 00:13] ihmccreery commented on #21994
No team owns upgrades right now, as far as I know.  It's team @ihmccreery :stuck_out_tongue:

[2016-03-12 00:15] spxtr commented on #22883
Yes, I'll need to reboot it with a bunch of new jobs once the 1.2 jobs are created.

[2016-03-12 00:15] bgrant0607 commented on #22884
There are 2 other issues for this test: #22165, #19997

cc @ncdc @lavalamp @krousey

[2016-03-12 00:17] ihmccreery commented on #21994
I'll put it in the control-plane team, since that's what subsumed cluster lifecycle, and will probably be responsible for upgrade quality, along with the GKE team.

[2016-03-12 00:18] saad-ali commented on #21994
Ha! Nice

[2016-03-12 00:21] janetkuo commented on #22719
In the e2e test log, `test-rollover-controller`'s Generation and ObservedGeneration are 4.

[2016-03-12 00:23] ihmccreery commented on #22884
Sorry, that first comment wasn't clear.  This occurs when running `master` or `1.2` `kubectl` against a `1.1` master.

Same test, different issue, though, right?  This is a validation issue for the object; it's triggering validation error, I believe: https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/schema.go#L198

[2016-03-12 00:27] ihmccreery commented on #22884
I think #18672 isn't backward compatible.

[2016-03-12 00:28] lavalamp commented on #22884
Yeah, this is a different issue. We may have to add --validate=false to the
commands if the server is 1.1 or older. But I'm a bit confused, is Probe
really a new type? I think there may be a different problem, like the
swagger not getting loaded correctly or something.

On Fri, Mar 11, 2016 at 4:23 PM, Isaac Hollander McCreery <
notifications@github.com> wrote:

[2016-03-12 00:28] ixdy commented on #20916
The build log shows no merge conflicts in that build, and indeed shows
[code]

I really don't know what happened.

[2016-03-12 00:31] dachulin opened #22885 "vsphere init.sh should not use hardcoded name"
In vsphere cluster's init.sh, when doing salt check, it uses hardcoded "kubernetes-master":

printf "Waiting for all packages to be installed on ${KUBE_MASTER} ...\n"
  kube-check  ${KUBE_MASTER_IP} 'sudo salt "kubernetes-master" state.highstate -t 300 | grep -E "Failed:[[:space:]]+0"'

This causes failure when user use different prefix.

Instead, it should use "${KUBE_MASTER}".

[2016-03-12 00:32] #21218 closed

[2016-03-12 00:36] dachulin opened #22886 "Docker failed to start in master node"
Deployed a vsphere cluster according to the latest instruction. Docker was not able to start in master, but started ok in minion.

In master:
root@da-master:/var/log# docker ps
An error occurred trying to connect: Get http://%2Fvar%2Frun%2Fdocker.sock/v1.22/containers/json: read unix @->/var/run/docker.sock: read: connection reset by peer

looking at the /var/log/syslog:
syslog:Mar 11 11:14:23 kub

[2016-03-12 00:46] janetkuo commented on #22719
[code]
Looks like the RSes are correctly scaled up/down, and the replica count is updated right, but the e2e test `waitForDeploymentStatus` listed RSes without noticing the `test-rollover-controller` replica count update in step 3.

[2016-03-12 00:50] janetkuo commented on #22719
I think it's because in `waitForDeploymentStatus` we didn't list old RSes and new RSes atomically.

[2016-03-12 00:53] paralin opened #22887 "Pod start prerequisites"
Are there any plans to implement a setup where a pod could define some prerequisites (e.g. label selectors) for starting?

The problem this would solve is the problem of trying to deploy something all in one go. Usually you would `kubectl create -f configs/` to create all the configs for a system. But in many cases certain components have (sub-optimal) requirements to start properly, particularly

[2016-03-12 00:54] susan92 commented on #22843
Do you require the services of a hacker?..contact leehacks92@gmail.com,he's time conscious and reliable,check him out and you won't be disappointed..serious enquiries only!!

[2016-03-12 00:56] erictune opened #22888 "Ensuring only images are from approved sources are run"
A customer has asked for a feature which would ensure that only certain "approved" binaries are run on the cluster.  This issue is to get feedback from other users on whether this would be useful, and to clarify requirements, and to see if some simple implementations would be sufficient.
## Background

The threat some users are trying to protect against is that an otherwise authorized user of a ku

[2016-03-12 00:58] erictune commented on #22888
@kubernetes/sig-auth @liron-l @dimastopel @wteiken

[2016-03-12 01:01] ixdy commented on #22843
I'm able to reproduce the failure on Jenkins locally if I use the kubekins-test image, though running verify-godep-licenses.sh directly still passes. So something about the environment in the kubekins-test image seems to make update-godep-licenses.sh behave differently.

[2016-03-12 01:01] bgrant0607 commented on #22884
@lavalamp There are new fields.

[2016-03-12 01:04] mml commented on #22489
@davidopp should this be milestoned to 1.2?

[2016-03-12 01:04] bgrant0607 commented on #22884
Discussed at length in #5889.

Yes --validate=false. The server will ignore the unknown field.

Not ideal, but we have lots of problems in this space, such as round-tripping in kubectl #3955.

[2016-03-12 01:08] #21147 closed

[2016-03-12 01:13] ihmccreery commented on #22104
Okay, after talking a bit with @spxtr, we're going to have the following 6 jobs running for each version skew:

- Deploy at `X` and run Kubectl tests at `Y`
- Deploy at `X`, upgrade master to `Y`, and run tests at `X`
- Deploy at `X`, upgrade master and nodes to `Y`, and run tests at `X`
- Deploy at `X`, upgrade entire cluster to `Y`, and run tests at `Y`
- Deploy at `X`, and run upgrade test acro

[2016-03-12 01:17] ihmccreery commented on #22104
This should be something we can implement entirely in `e2e.go`, using `SynchronizeBeforeSuite` and a flag.  Will write it up on Monday.

[2016-03-12 01:19] dchen1107 commented on #22819
I looked at logs of master node.

* The etcd-server container didn't run because docker image isn't loaded. We are doing side-loading all docker images for master component, including etcd image.
* I checked docker log, it doesn't complain any failure of docker load operation.
* Also docker is not hung at all since all other images are properly loaded and containers are created and started.
* I ch

[2016-03-12 01:31] derekwaynecarr commented on #3580
DNS is on in vagrant.

I can run conformance tests Monday and we can update the referenced tests

On Friday, March 11, 2016, Tim Hockin <notifications@github.com> wrote:

[2016-03-12 01:59] dchen1107 commented on #22819
Together with @bprashanth, we double checked our master component tarball, which doesn't include etcd:2.2.1 image tar file. Looks like etcd:2.2.1 is the only image of master component which is pulled from gcr.io.

I checked kubelet.log on master node again, there are only image pulling event, no corresponding pulled event for etcd:2.2.1. Based on my understanding, the reason we want to keep image

[2016-03-12 02:02] smarterclayton commented on #22888
We had been planning to implement this soon, I'll follow up here with our approach (not necessarily exactly equal because we have all the image metadata close at hand, but can make sure what can be shared is shared).

[2016-03-12 02:08] paralin commented on #17397
@justinsb As of v1.2.0-beta.1 running kube-push.sh on AWS gave me:

[code]

?

[2016-03-12 02:14] paralin commented on #22534
Ah I see here that the AWS push doesn't work right now. Ignore my last @ @justinsb

Although you might want to put a warning in place because this is kind of messy:

[code]

What's the current interim way of updating on AWS?

[2016-03-12 02:23] hanikesn opened #22894 "Provide a Docker Image Volume"
There are applications which need to have a shared directory between two containers in a pod. For example legacy PHP applications that share the application folder between Nginx and PHP-FPM.

For various reasons Kubernetes doesn't have a builtin way to share existing directories between containers. That means currently on Pod start one of the containers has to copy the application files into a sha

[2016-03-12 02:28] yujuhong commented on #22886
I assume you have docker 1.10 on your master node, because of the v1.22 API and the fact that docker 1.10 stopped supporting the "-d" flag. You'll need to change the docker options to use "daemon" instead of "-d". You may also want to check why the docker version is different only on your master node.

[2016-03-12 02:32] ixdy commented on #22572
Just to close the loop, my investigation/actions:

Build 691 failed with a resource leak:
[code]

Basically, since we failed to delete the instance group, we then couldn't delete the template, either.

This should have been harmless, as it should have been cleaned up in the next run, but there appears to be some bug in `kube-down` or `detect-node-names`, much like in #21564:
[code]

and since it d

[2016-03-12 02:43] bprashanth opened #22895 "Build fails from 404 on cloud-sdk-testing/"
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-ingress/2548/console
https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-jenkins/o/logs/kubernetes-e2e-gke-ingress/2548/build-log.txt
[code]
Just another case that needs retries?

[2016-03-12 02:51] paralin commented on #22792
@justinsb Is there any significance to "foo" here? Is it just the existence of the key that causes it to auto-allocate the volume?

[2016-03-12 02:57] yujuhong commented on #19655
@jeremyeder, thanks for sharing the numbers/graphs! Looking forward to trying out the test code when it's available!

[2016-03-12 03:04] vhosakot opened #22896 "kube-up.sh fails with "Parent directory not present" error in Vagrant setup"
I am following the steps in http://kubernetes.io/docs/getting-started-guides/vagrant/ to run a Kubernetes cluster with Vagrant.

I have installed latest Vagrant (version 1.8.1) and vagrant-libvirt on Ubuntu 14.04. My libvirt version is 1.2.2.

I ran the following steps and see that kube-up.sh fails with a "Parent directory not present" error. Am I missing anything ?

[code]

[2016-03-12 03:06] paralin commented on #22792
@justinsb It doesn't seem to cleanup the volume when the PV is deleted... probably intended behavior. Any way to tell it to automatically delete the volume on PV delete?

[2016-03-12 03:09] paralin commented on #22871
Another thing here would be a `capabilities` endpoint to check if the cluster can create volumes, create load balancers...

The main reason for this is because in the Openshift-Under-Kubernetes deployment script I would like to automatically check if the cluster is able to create LoadBalancers and pick NodePorts instead if it can't.

[2016-03-12 03:15] chenchun commented on #9049
Still seeing this with vagrant setup. `removing --cloud_provider=vagrant` works for me.

[2016-03-12 03:31] roberthbailey commented on #22819
I don't recall a time when we were side-loading the etcd image. We load it from gcr.io in the [release-1.1 branch](https://github.com/kubernetes/kubernetes/blob/release-1.1/cluster/saltbase/salt/etcd/etcd.manifest) and the [release-1.0 branch](https://github.com/kubernetes/kubernetes/blob/release-1.0/cluster/saltbase/salt/etcd/etcd.manifest) and we haven't seen it have a significant impact on clus

[2016-03-12 03:51] companycy commented on #7581
I follow guide from http://kubernetes.io/docs/getting-started-guides/docker/, and same issue still exists for release 1.1.2.

[2016-03-12 04:05] bgrant0607 commented on #22719
Good catch!

FWIW, there is no such thing as "atomic", except for individual keys in etcd.

The functions being called were mutating, not just polling.

[2016-03-12 04:20] bgrant0607 commented on #22884
cc @bprashanth @ArtfulCoder

[2016-03-12 04:37] #22792 closed

[2016-03-12 05:37] paralin commented on #22693
@derekwaynecarr I added `deploy --create-volume` which will automatically allocate a cloud volume for the OpenShift etcd storage. I've also added the command `addclusterrole` which lets you easily add a cluster role to a user (such as cluster-admin).

There's a function in os_kube called `escalate_admin_kubeconfig` which uses the Kubernetes access level to fetch the OpenShift config and escalate t

[2016-03-12 05:52] #22668 closed

[2016-03-12 06:26] nikhiljindal commented on #10064
Verified that all rest handlers call writeNegotiated() which calls errToAPIStatus: https://github.com/kubernetes/kubernetes/blob/21455ab776faf3a257927e6fb3771e97fd4206cf/pkg/apiserver/apiserver.go#L423, so we never return raw etcd errors outside the apiserver.

[2016-03-12 06:26] #10064 closed

[2016-03-12 06:49] dachulin commented on #22886
Yes seems like I have 1.10.3. Change to daemon brings it up.

[2016-03-12 06:49] #22886 closed

[2016-03-12 08:38] luxas commented on #4869
`rshared` isn't required. It works with just `-v /var/lib/kubelet:/var/lib/kubelet:shared` and `mount --make-shared /var/lib/kubelet`.
@tdeheurles Please update your previous comment and note that when using systemd, `docker.service` should reset `MountFlags=` (defaults to `shared`, but docker sets it by default to `MountFlags=slave` [here](https://github.com/docker/docker/blob/master/contrib/init

[2016-03-12 08:39] #17851 closed

[2016-03-12 09:02] luxas commented on #22683
@Pensu To answer your question, the way we tag images is `binary-arch:version`, so for pause it means `pause-ppc64le:2.0`, but I think you have noticed that already.

Just `pause:2.0` is backwards-compability for `amd64`, and the only used image in kube code right now.

I think quite a lot will change with pause to `1.3`. @thockin discussed if we should use C instead of go when compiling it and so

[2016-03-12 09:10] #22615 closed

[2016-03-12 09:11] luxas commented on #15140
@thockin Could you kindly upload the C code you used to build your new pause image (if you have it now). I guess it wasn't too complicated.

The gcc compiler isn't a problem, we could just build `pause` in the `kube-cross` image.

And just for curiosity, how much are we using pause atm? I guess runc has evolved a bit since 7 Oct when this was discussed. `runc` spec is now `0.4`, but `cni` is stuck

[2016-03-12 09:17] tdeheurles commented on #4869
@luxas it's done.

I propose to add a readme in the [hyperkube folder](https://github.com/kubernetes/kubernetes/tree/master/cluster/images/hyperkube) in order to have the comment up to date.
I'll add a link to this issue in it too.

[2016-03-12 09:18] luxas commented on #22876
It would be really nice to read the server platform from #19905 and automatically choose image based on that. +1 for that.

No I guess there isn't a plan yet, but #17981 is a bit related. I guess we'll convert the parts we think are most important for other arches, like the `docker` and `docker-multinode` deployments and some important addons. For auto-configuration, I have been thinking about if

[2016-03-12 09:20] luxas commented on #4869
It should be mostly documented elsewhere: `docker.md` in the docs is a good place to put that in. There is also a `turnup.sh` script.

[2016-03-12 09:38] mkulke commented on #22873
it depends on your definition of admin and user, when users are supposed to create all kinds of objects, you probably want to restrict them to a namespace.

http://kubernetes.io/docs/admin/authorization/ has pretty good examples.

According to those docs you still have to restart the apiserver when adding/removing policies. We hand out namespace'd group-tokens to development-teams.

[2016-03-12 09:59] PradeepSingh1988 commented on #22789
@spothanis , thanks i will check on monday and will update accordingly.

[2016-03-12 10:27] AdoHe commented on #22884
any progress on this?

[2016-03-12 11:23] justinsb commented on #22792
@paralin - I'm not sure about foo - hopefully that'll be resolved with docs.  I think the failure to delete the volume is actually pretty important.  Do you want to open an issue?  It's not AWS specific (and this particular issue was auto-closed when the PR merged)

[2016-03-12 12:29] huang195 commented on #22873
@mkulke in my environment, i'd like a *user* to be able to do anything within a namespace, but not anything outside of his namespace. Is the following sufficient?

[code]

An *admin* on the other hand can perform any operation in the cluster, so I'm using the following:

[code]

yet, this is insufficient due to `nonResourcePath` if admin were to access the cluster via `kubectl`, so I would also ne

[2016-03-12 12:33] #22843 closed

[2016-03-12 13:13] kevinchee commented on #20514
Same problem on 1.2.0-beta.1
Following instructions [here](http://kubernetes.io/docs/getting-started-guides/docker) and apiserver not starting up. Logs indicate missing ca.cert.

[code]

[2016-03-12 14:00] luxas commented on #20514
Sorry, but can't reproduce. After the command in the docs, I got:
[code]
The image wasn't prepulled and `/var/lib/kubelet` was empty.
FYI, the `setup-files.sh` container is the one making certs, so maybe you should check the logs of that one.

[2016-03-12 14:21] liron-l commented on #22888
Re implementation, why not mixing docker content trust with existing kubernetes authz approach.

That is, apiservers will perform the image tag validation (without hash), while docker content trust will verify that the image is from a trusted authority.

This can be achieved by forcing content validation on all image pulls (for docker, either enable content trust in the daemon level or use the aut

[2016-03-12 15:10] paralin commented on #22792
@justinsb yeah I will open an issue later today. Issue seems to still be
happening - the PV is never deleted.

On Sat, Mar 12, 2016, 6:24 AM Justin Santa Barbara <notifications@github.com>
wrote:

[2016-03-12 15:24] codefx9 opened #22903 "Use pod metdata to generate mount paths in Pod specs"
We would like to be able to mount host paths inside pods based on pod metadata. Is this possible today? If not, can we make a feature request for this?

[2016-03-12 15:24] AdoHe commented on #22881
@bmelville could you provide your kubernetes version?

[2016-03-12 15:53] benmcrae opened #22904 "apiserver POST now requires appropriate JSON or YAML Content-Type"
Just upgraded to hyperkube 1.2.0-beta.0. On creating the 'kube-system' namespace against the apiserver...

```curl -XPOST -d '{"apiVersion":"v1","kind":"Namespace","metadata":{"name":"kube-system"}}' "http://127.0.0.1:8080/api/v1/namespaces"```

I get the following error back.
[code]

Should this default to ```application/json``` to stop a breaking change?

The following works successfully

[code]

[2016-03-12 16:21] thockin commented on #22903
Can you be a bit more specific about what you are tying to do?
On Mar 12, 2016 7:25 AM, "codefx9" <notifications@github.com> wrote:

[2016-03-12 16:39] codefx9 commented on #22903
I have a use-case where a proccess does not log to stdout. I would like to use the existing host fluentd to collect logs from this process, instead of running a side-car fluentd. Fluentd seems to be pretty memory hungry. Since, I am using RC with replica > 1, I can't just mount a host path inside Pod's /var/log folder. I can use downward api to achieve this today. But a more clean approach will be

[2016-03-12 17:08] justinsb opened #22906 "AWS: API RequestLimit delayer was not triggering"
@benmcrae reported that while trying beta.0 he was hitting the AWS ELB rate limit exceeded error because of a security group tagging problem (`Error creating load balancer (will retry): Failed to create load balancer for service default/my-nginx: error creating AWS loadbalancer listeners: Throttling: Rate exceeded`).  However, he did not see `Inserting delay before AWS request (%s) to avoid Reques

[2016-03-12 17:55] justinsb opened #22907 "AWS: Check that dynamic volumes are deleted"
It was reported that dynamic volumes were not deleted on AWS.  Maybe we need to enable the PersistentVolumeRecycler somehow?

[2016-03-12 17:57] mkulke commented on #22873
The policies you posted should work as intended (they look exactly like ours), but I understand your concern regarding the nonResourcePath. The current implementation is actually discerning requests as *either* `nonResourcePath` *or* `resource` and choosing policies accordingly:

https://github.com/kubernetes/kubernetes/blob/master/pkg/auth/authorizer/abac/abac.go#L120

which relies on :

https://

[2016-03-12 18:48] bgrant0607 commented on #20605
We also don't document kubeconfig.

Video from skippbox:
https://www.youtube.com/watch?v=iMfUfrEYfRQ

[2016-03-12 19:15] hongchaodeng opened #22908 "verify-symbols.sh complained error when importing etcd/clientv3"
ref: https://github.com/kubernetes/kubernetes/pull/22604#issuecomment-195658011

When I wrote [v3Helper](https://github.com/kubernetes/kubernetes/commit/21f089f27f94440ce6713630168f368c411cfaa1), which is a completely parallel struct and not used by anything, hack/verify-symbols.sh will complain:
[code]

This happened when importing "github.com/coreos/etcd/clientv3" even in a completely isolated f

[2016-03-12 20:17] maclof commented on #22698
I will try and get some tcpdump data tonight.

I have noticed that I can't ping the IP from within a container on the same node as where the IP is currently routed.

[2016-03-12 21:03] davidopp commented on #21500
@wojtek-t https://github.com/kubernetes/kubernetes/issues/21500#issuecomment-188770116 shows both 99th percentile and 100th percentile numbers. In kubernetes/kubernetes.github.io/#77 I used 99th percentile for all cluster sizes.

@gmarek If you want to give me new/more accurate numbers, that would be great. 100th percentile for everything sounds good. Please distill it into the format I used in ku

[2016-03-12 21:23] njoneja opened #22909 "Controller selector changes can create orphans"
The kubectl update mechanism (e.g. for replication controllers) can create orphans. A more consistent approach to this verb (consistent wrt delete for example) would be:

(Proposal is a summary of conversation with Brendan Burns)
update that would create orphans fails with a warning
update -f updates anyway and creates orphans (e.g. if someone wants to do an in-place update of the RC)
update --cas

[2016-03-12 22:26] hongchaodeng commented on #22908
Here is some analysis of hyperbuke binary
[code]

[2016-03-12 22:56] amlinux opened #22911 "Many orphaned volumes in hyperkube"
Kubelet continuously throws lots of errors:

[code]

I'm starting the cluster this way:

[code]

[2016-03-12 23:21] paralin commented on #22907
I'm going to double check this is an issue later today.

[2016-03-12 23:34] paralin commented on #5640
I'd like to prod at this issue a little bit since alerting would be really nice in production.

[2016-03-12 23:42] kevinchee commented on #20514
Thanks @luxas , `setup-files.sh` did not run properly for me. After looking into it, seems like `/make-ca-cert.sh` is stuck at
`curl -L -O https://storage.googleapis.com/kubernetes-release/easy-rsa/easy-rsa.tar.gz`.

My host server is behind a proxy. Verified that the same command is running OK on my host server.
How can i pass https proxy to the container?

[2016-03-12 23:44] paralin commented on #22907
This is definitely an issue. Two pvs are created via pvcs with the "magic annotation" for automatic PV allocation. I then delete the PVCs, wait a bit, and delete the PVs themselves. The volumes remain.

[2016-03-13 01:15] andyzheng0831 commented on #22842
The fix is merged. Please feel free to close this issue. It seems like I don't have permission to close it.

[2016-03-13 01:33] Random-Liu commented on #22842
@andyzheng0831 I also tested it with #22882. It works!
Close this issue since #22882 has been merged.

[2016-03-13 01:33] #22842 closed

[2016-03-13 01:44] huang195 commented on #22873
@mkulke thanks for those pointers. I will take a look and see it's actually implemented to give me more confidence that I'm creating an authorization policy without holes.

[2016-03-13 05:49] #22820 closed

[2016-03-13 07:58] liggitt opened #22920 "Job created with no selector and extra template labels fails validation"
When creating a job like this:
[code]
the API returns the following error:

This is the object passed to `ValidateGeneratedSelector`, which seems like it should validate:
[code]

[2016-03-13 08:00] liggitt commented on #22920
it looks like the issue is that the expected labels *only* include the generated labels:
[code]
whereas the selector includes some of the actual template's labels

including the actual labels from the template in addition to the generated ones correctly indicates if the selector will match

[2016-03-13 09:14] AdoHe commented on #22909
would take a look.

[2016-03-13 09:24] AdoHe commented on #22342
@bgrant0607 seems no one is working on this. I would work on this.

[2016-03-13 10:16] maclof commented on #22698
The issue here feels like it is to do with the fact that I'm using multiple routing tables as the IP as added like so:
[code]

[code]

If I try to ping the 164.132.217.81 IP from any container on node8, the ping will fail. If I remove the rule for lookup table 125, the ping will start working from the container, however the IP address would no longer respond to pings from the outside world.

[2016-03-13 10:49] aronchick commented on #831
@philips adding you in as you talked about this in your keynote :) Could you guys commit a resource for implementing this (as a starter) for 1.3?

[2016-03-13 11:08] ncdc commented on #22904
cc @bgrant0607 @smarterclayton @kubernetes/rh-cluster-infra @kubernetes/sig-api-machinery

[2016-03-13 11:17] ncdc commented on #22894
This sounds like it might be covered by #831 and/or #15899

cc @kubernetes/rh-storage @kubernetes/sig-storage

[2016-03-13 11:21] ncdc commented on #22887
See also #4245 #1768

[2016-03-13 13:13] resouer commented on #20910
Encountered this flake in PR #22838

[2016-03-13 15:06] ksr1 opened #22922 "Grafana does not display cluster monitoring graphs"
Running a kubernetes cluster on aws and grafana does not display any metrics - shows the following error:

**Dashboard init failed
Template variables could not be initialized: InfluxDB Error: <br/>Couldn't find series: memory/limit_bytes_gauge**

Heapster logs show this error:
I0313 12:29:34.966328       1 heapster.go:60] /heapster --source=kubernetes:'' --sink=influxdb:http://monitoring-influxdb:

[2016-03-13 15:29] smarterclayton commented on #22904
Curl is sending an incorrect content type by default (use -H "Content-Type: application/json")

If you don't set a content type by default we use the default, but sending an incorrect content type is now rejected.  No clients I am aware of send incorrect content types.

[2016-03-13 15:30] smarterclayton commented on #22904
This is an intentional change in 1.2 to allow us to properly support future alternate serializations.  Accepting the incorrect content type was a bug.  If you can find a client in wide use that is dependent on that behavior please let us know.

[2016-03-13 16:18] themsay commented on #15818
I'm new to kubernetes.

Following http://kubernetes.io/docs/getting-started-guides/docker-multinode/ to create multi node cluster both on debian/jessie64 3.16.0-4-amd64.

1. I ran ./master.sh on master node and it worked!
2. But I trying ./worker.sh on worker node output this error.

K8S_VERSION is set to: 1.2.0-alpha.7
FLANNEL_VERSION is set to: 0.5.5
FLANNEL_IFACE is set to: eth0
FLANNEL_IPMASQ

[2016-03-13 17:03] bgrant0607 commented on #19680
Example API documentation needed: content type: #22904

[2016-03-13 17:04] bgrant0607 commented on #22904
@benmcrae Thanks for trying the beta release!

It would be useful to document this. Sadly, we don't even have a client-focused API doc. #19680

Since it is a change that could break some clients (including curl), we should document this in release notes. I'll add it now.
https://docs.google.com/document/d/1qVWj3mmrYfYcS68t_rPvuym8xkj4O5PkL5YcoEorYMM/edit?ts=56e36ad0#heading=h.1zlusrq4rqmk

cc @lav

[2016-03-13 17:08] bgrant0607 commented on #22904
@smarterclayton Could you please make an announcement on kubernetes-dev@, to give client developers a heads-up?

[2016-03-13 17:36] metral commented on #22342
I'd like to be of help as well, though I need to ramp up on the dev process

[2016-03-13 17:41] bgrant0607 commented on #22342
@AdoHe @metral That would be great. There are plenty of apply-related issues to go around if you're interested in that specifically. It would be great to work out all the kinks for 1.3.

#15493, #19809, #19767, #17238, #16569, #13576, ...

@ghodss and/or @jackgr should be able to help review

[2016-03-13 17:42] bgrant0607 commented on #22342
In terms of getting up to speed, take a look at the developer docs:
https://github.com/kubernetes/kubernetes/tree/master/docs/devel

[2016-03-13 17:43] bgrant0607 opened #22923 "Write a guide for new contributors"
docs/devel has a lot of stuff in it at this point.

[2016-03-13 18:01] smarterclayton commented on #22904
Done.  In our testing so far curl is the only client we've had reports
of being affected.

[2016-03-13 18:14] ducwindow opened #22924 "vvlljiugudnflfhikfnnnirknnjcigvbebhieglurhnu"

[2016-03-13 18:15] #22924 closed

[2016-03-13 19:22] jsilberm commented on #15818
Sounds like you're running CENTOS/RH 7?

If so, set FLANNEL_IFACE=enp0s3 in your environment.
'eth0' has been superceded.

Good luck,
  -Jeff

On Sun, Mar 13, 2016 at 9:19 AM, themsay <notifications@github.com> wrote:

[2016-03-13 20:07] huang195 commented on #22873
@mkulke where is a "group" getting defined in all this? If I'm using TLS certificate, I understand that the CommonName of the cert is used as the username, but where is the group concept comes in?

[2016-03-13 20:18] liggitt commented on #22873
Currently, only the tokenfile auth and OIDC auth providers populate group information for users. Service account auth includes group info as well

[2016-03-13 20:29] bprashanth commented on #20910
That's completely different:
[code]

and
[code]

From the 503 it indicates that we either hit a qps limit of gce bug.

[2016-03-13 20:38] bprashanth opened #22925 "Creating type=loadbalancer fails with 503"
Leads to:
[code]
Eg: https://github.com/kubernetes/kubernetes/issues/20910#issuecomment-196046843
Also tracked in b/27631176

Controller mamange logs:
[code]

[2016-03-13 20:39] bprashanth commented on #22925
If this is really a gce problem it's an unfixable flake on our side, so I'm not adding kind/flake

[2016-03-13 21:25] davidopp commented on #21500
Actually in kubernetes/kubernetes.github.io#77 @wojtek-t suggested just omitting the CPU/memory usage numbers. If that's preferred then it's probably still a good idea to measure it (and set limits in the next release), but we can leave it out of the docs.

[2016-03-13 21:37] bgrant0607 commented on #17998
This just failed again. Maybe daylight savings change?
kubernetes-jenkins/pr-logs/pull/22901/kubernetes-pull-test-unit-integration/18293
[code]

[2016-03-13 21:40] bgrant0607 commented on #17998
Still uses Now:
[code]

[2016-03-13 21:42] bgrant0607 commented on #17998
Build seems to be broken due to this now

[2016-03-13 21:50] liggitt commented on #17998
Might be related to DST being in the interval, not sure

[2016-03-13 22:15] bprashanth commented on #14204
The kube-proxy test is slow, we punted on it in 1.2. It still takes 15m and it's currently banished to gce-slow. For it to run per pr it needs to take < 5m.

Currently each time it wants to test something (eg: endpoint reachability) it loops 30 times with a sleep of 1s. At the very least we can bail early if the condition we're testing is satisfied (eg: has seen all endpoints).

[2016-03-13 22:46] randykunkee opened #22927 "Document how to change kubernetes api port"
I wanted to kick the tires of Kubernetes by following the instructions at ([Running Kubernetes Locally via Docker](http://kubernetes.io/docs/getting-started-guides/docker/)), but the system I was on already was using port 8080. After poking around I recalled this bit of knowledge and therefore tried to change the --api-servers=http://localhost:8080  flag to use another port, 9080, but internally t

[2016-03-14 00:39] stepanstipl commented on #22854
+1
I was thinking about implementing support for this via annotations, in similar fashion that support for internal ELBs is implemented via `service.beta.kubernetes.io/aws-load-balancer-internal`.

At first I would propose to implement most common and relatively simple use cases - add support for http, https and ssl ELB type, in case of https and ssl allow to set certificate (certificate would hav

[2016-03-14 00:49] huang195 commented on #22873
@liggitt Is there some way to fake having groups when using TLS? If not, is there a plan to add general support of a group concept? Thanks!

[2016-03-14 01:29] liggitt commented on #17998
Fix is in #22929

[2016-03-14 01:43] mikedanese commented on #17598
Upgraded

[2016-03-14 01:43] #17598 closed

[2016-03-14 01:45] mikedanese commented on #5419
done

[2016-03-14 01:45] #5419 closed

[2016-03-14 01:49] mikedanese commented on #5755
ref https://github.com/polvi/monokube

[2016-03-14 02:30] smarterclayton commented on #5755
The one downside of the monokube approach we've hit is the propensity for
bad loops to murder the process (i.e. a controller gone wild), and having
to have upwards of 20k file handle limits.  Other than that, we use it for
everything smaller than a medium sized cluster.

On Sun, Mar 13, 2016 at 9:49 PM, Mike Danese <notifications@github.com>
wrote:

[2016-03-14 02:31] smarterclayton commented on #5755
I have a todo to look into https://godoc.org/github.com/gdamore/chanstream
for letting the loopbacks bypass the kernel stack.  Haven't had a chance to
dig in yet.

On Sun, Mar 13, 2016 at 10:30 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-03-14 02:47] AdoHe commented on #22540
@lavalamp IIUC `client ---> apiserver ---> components servers`, the `global timeout` is used at phase one(client->apiserver), the `probe timeout` is used at phase two(apiserver-components servers), and now both of them are a minute, definitely we need just to reduce the global timeout to some value acceptable, for me 30s is ok.

[2016-03-14 02:57] feiskyer commented on #22842
Have someone encountered this problem:

[code]

I think `resource.metadata.items[1].value` should be `user-data=${KUBE_ROOT}/cluster/gce/trusty/master.yaml`, whose size is:

[code]

BTW: I use a modified version of setup scripts from [here](https://github.com/feiskyer/kubernetes/blob/kubelet/hyper/cluster/gce/trusty/master.yaml) (mainly added some config for hyper container runtime).

[2016-03-14 03:06] andyzheng0831 commented on #22842
@feiskyer Thanks for reporting this. Recently I had expected this would happen someday, as GCE has a size limit for custom metadata. I made a PR #22818 to address it and sent out for review (actually earlier than the fix for this issue) Hopefully, we can get it be merged soon.

[2016-03-14 03:19] #17998 closed

[2016-03-14 03:29] AdoHe commented on #22342
@bgrant0607 you can assign this to me.

[2016-03-14 03:44] feiskyer commented on #22842
@andyzheng0831 Thanks a lot.

[2016-03-14 03:52] liggitt commented on #22858
This is about the client verifying the server's serving cert (2-way TLS), and whether the client has to have a way to disable that check.

[2016-03-14 04:08] davidopp commented on #22775
cc/ @mikedanese

[2016-03-14 04:29] mikedanese commented on #22775
This is only true if they are running on the hostNetwork in which case you also likely have a port conflict. unless schedulers run on different ports. The hostname is the pod name which is unique even if the pods are on the same node.

[2016-03-14 04:47] davidopp commented on #15140
Just to repeat my previous request -- can we please document the "pause" container? People ask about it pretty frequently and it's not documented anywhere (at least not in the docs in the docs repo).

[2016-03-14 04:55] davidopp commented on #22489
I guess it's moot now since the PR wasn't reviewed in time.

[2016-03-14 04:55] davidopp commented on #22489
(Sorry for not seeing this sooner.)

[2016-03-14 04:59] zhouhaibing089 commented on #22775
@mikedanese thanks for this clarification, it turns out to be true that `hostname` is the same as `podname` without setting `hostNetwork` to be true.

[2016-03-14 04:59] #22775 closed

[2016-03-14 05:04] jadhavnitind opened #22931 "Mount Google storage bucket in Google container"
I would like to mount Google storage bucket in Google Container Engine using gcafuse or any other tool/other provision. The Docker container runs under Google container engine So,we need to use yaml file to define few parameters in it.

If there is any kind of thing/parameter that can be used in .yaml file to build new replication controller/service using privileged or --device sys_admin or any ot

[2016-03-14 05:34] brendandburns commented on #22931
you can use privileged:

http://kubernetes.io/docs/user-guide/pods/#privileged-mode-for-pod-containers

the --device flag is not currently supported.

[2016-03-14 05:34] #22931 closed

[2016-03-14 05:49] jadhavnitind commented on #22931
Is it possible to mount Google storage bucket in Google Container Engines pod/container? I have installed gcsfuse in the docker container image and using following parameters to mount it still not able to mount it in container. Need more inputs on it.

apiVersion: v1
kind: Service
metadata:
  name: apache-frontend
  labels:
    app: apache-webapp
spec:
  type: NodePort
  ports:
  - port: 80
    ta

[2016-03-14 05:56] chenchun commented on #22255
I encountered the same error when doing `make clean && make quick-release`.
Turning up docker-dev VM memory from 1GB to 2GB via VirtualBox works for me.

[2016-03-14 06:22] Pensu commented on #22683
@luxas, yeah, I have seen that and I have named the image accordingly in my PR. My point would be how do it arch dependent? I mean how would the code base know what arch is it running on and which image would be downloaded, i.e. either pause:2.0 or pause-ppc64le:2.0. Would docker do it or k8s?

[2016-03-14 06:38] Pensu commented on #22683
@dchen1107 I too like the first option. Shouldn't be too difficult to let kubelet know which pause to download. But how do I push the image for ppc64le to gcr.io? What's the way to do that?

[2016-03-14 06:48] wangqunOne commented on #19603
@smarterclayton and @AdoHe , Are this issue progressing ? When can update it? Thanks.

[2016-03-14 06:54] openxxs commented on #17994
Hi @vishh, I meet the same issue. for Kubernetes 1.1.7, docker 1.10.2 and CentOS 7, kubelet image GC only works fine in default /var filesystem. If I assign the docker parameter `--graph /opt/docker` to store images in /opt filesystem, GC never works.

[2016-03-14 07:14] wojtek-t commented on #21500
@davidopp - just to clarify a bit - I think that in general we should have these numbers and should be setting at least requests (but probably also limits) based on them. However, as for now, I don't have enough confidence in these numbers. That said, for sure I don't want to set limits based on those in 1.2, but also I'm not sure if we should publish them in the docs officially...
I think we need

[2016-03-14 07:19] jayme-github commented on #22506
@thockin @mikedanese thanks for your help. I'm unsure if I got that right. It was clear to me that quoting the number fixes the parsing problem but I don't understand why this is intended. Shouldn't numbers be possible (like for ports) or is this an limitation of labels/selectors?

[2016-03-14 07:34] bgrant0607 commented on #22920
You created a v1beta1 Job, which defaults manualSelector to true, but provided no selector. I believe Job was changed to not set the selector by default from its labels in that scenario.

[2016-03-14 07:35] bgrant0607 commented on #22920
Actually, that can't be right, because ValidateGeneratedSelector would have bailed out earlier.

[2016-03-14 07:36] bgrant0607 commented on #22920
I'll let @erictune figure it out. :-)  (I was just triaging cherrypick-candidates)

[2016-03-14 07:37] wojtek-t commented on #22908
@timothysc - I think you wrote this tool, right? Can you please take a look?

[2016-03-14 08:12] luxas commented on #22683
@Pensu I'm working on a PR that chooses the right `pause` image based on `runtime.GOARCH`.
And BTW, we don't have permission to push to `gcr.io`, so you have to convince some k8s maintainer to do it.

[2016-03-14 08:13] louisyw commented on #22799
I have the same problem!

... Starting cluster using provider: ubuntu
... calling verify-prereqs
... calling kube-up
~/kubernets/kubernetes/cluster/ubuntu ~/kubernets/kubernetes/cluster
Prepare flannel 0.5.0 release ...
Prepare etcd 2.2.0 release ...
Prepare kubernetes 1.0.5 release ...
Done! All your binaries locate in kubernetes/cluster/ubuntu/binaries directory
~/kubernets/kubernetes/cluster
./

[2016-03-14 08:46] wojtek-t commented on #22045
@wojtek-t - I think we can reduce the flake by having the ns controller create an Event in a terminating namespace. Once it gets a response back from the server that says the Event cannot be created, it knows at least one admission controller (assuming a clustered api server) has had its local cache propagated, and no further creates would be let in to that namespace (for at least one server in th

[2016-03-14 08:48] tobad357 opened #22932 "Pods not starting on Kubernetes 1.2-beta.1 with CNI"
We have been running a Kube cluster on 1.2-alpha.7 for quite a while with no problems.
Now trying to upgrade to Kube 1.2-beta.1 the pods end up in a restart loop and never come online.
The upgrade is done via a complete reinstall of OS and Kubernetes and the issue has been recreated several times by upgrading and downgrading between alpha.7 and beta-1

OS: Centos 7.2
Docker: 1.9.1
Kube version: 1.

[2016-03-14 10:23] liangchenye commented on #22765
@dchen1107, I'll catch up with the 'docker unique test' this week and see if it is necesary to delegate to other co-workers.

[2016-03-14 11:06] zhouhaibing089 commented on #22932
`healthz` is a process which checks the name `kubernetes.default` to see whether it is resolvable, if it is not, it will kill the container `kube2sky` and `skydns`, seems so, maybe you could get some luck by checking the log of `healthz`

[2016-03-14 11:09] codefx9 commented on #22903
Closing this, since we don't need this feature any more.

[2016-03-14 11:09] #22903 closed

[2016-03-14 11:30] gmarek commented on #21500
Since we enabled master registration we gather this data continuously for 100 Node cluster. We should turn it on for 1000 Node one.

[2016-03-14 11:50] JaydiptaBiswas commented on #22688
Q1.
a. Created a docker container[generated IP: 172.17.0.79] in x.y.z.105 and another container [generated IP: 172.17.0.7] in x.y.z.54. Then trying to execute 'ping 172.17.0.7' from 172.17.0.79 and vice-versa. Both gives error : ' Destination Host Unreachable'.

b. Then created a tomcat container[172.17.0.8] forwarding 8080 to 9096 in HOST[x.y.z.54]. Then successfully able to curl from Container[1

[2016-03-14 11:53] mwielgus opened #22937 "Eventer has the same memory requirements as Metrics Heapster"

[2016-03-14 11:54] mwielgus opened #22938 "Version is missing in Heapster configuration"
cc: @piosz

[2016-03-14 11:54] mwielgus commented on #22937
cc: @piosz

[2016-03-14 12:06] ctrld commented on #22799
Bug was introduced in the commit 9c5d82d9bd72d2f837eb11b50500c31a0d38d0fa

[2016-03-14 12:20] deads2k commented on #13929
I think we'll still have problems specifying api-versions for names retrieved from files and for commands that don't take resource strings like `cordon` as a for instance.  We don't use those often downstream, have you guys already figured out what to do about those?

[2016-03-14 12:28] mwielgus commented on #22938
apparently addon updater can update based on name only

[2016-03-14 12:30] kargakis commented on #13929
I think `cordon` can handle resource strings.

[2016-03-14 12:56] ibalashov commented on #21478
I have a similar problem with Jobs, which according to docs cannot have `restartPolicy: Always`.  Yet the job keeps creating a new pods every minute after pod crashes.

[code]

Just realized that this might be a separate issue, since here a new pod is constantly _created_, not _restarted_. If it is the case, is there any way to suppress new pod creation?

[2016-03-14 14:11] timothysc commented on #22858
/cc @hongchaodeng

[2016-03-14 14:15] xoss commented on #13776
Thanks to @bittrance and @xied75, we found an even shorter solution which also includes entire directories:
[code]

Now, we have a `node-dev` (quay.io/amadeusmuc/node-dev) running in the developer's namespace and sync the entire folder to that plain vanilla node container. It is a rough solution, but it does work.
However, a decent implementation would help a lot.

[2016-03-14 14:21] preillyme commented on #22623
I'd like to plan a kickoff meeting with @BenjaminArmstrong and @sschuller sometime in the next couple of weeks. I'd also like to ask @sarahnovotny to create the Windows SIG as well.

[2016-03-14 14:28] timothysc commented on #22908
@hongchaodeng you're transitively pulling in testing dependencies... The check is to ensure we don't do that.  Someone in the dependency chain for etcd3 has linked against the testing libraries.

[2016-03-14 14:36] wojtek-t opened #22941 "Generated protobuf tags seems to be incorrect"
The "protobuf" tags that we are generating seems to be wrong - in particula most of them claim the type to be bytes, e.g.:

    HostPath *HostPathVolumeSource `json:"hostPath,omitempty" protobuf:"bytes,1,opt,name=hostPath"`

    EmptyDir *EmptyDirVolumeSource `json:"emptyDir,omitempty" protobuf:"bytes,2,opt,name=emptyDir"`

@smarterclayton - FYI

[2016-03-14 14:37] wojtek-t commented on #22941
I will take a look and try to fix it.

[2016-03-14 14:41] timothysc commented on #22623
/cc @kubernetes/sig-node

[2016-03-14 14:41] wojtek-t commented on #22941
Or maybe it is correct? @smarterclayton

[2016-03-14 14:44] rootfs commented on #22894
@hanikesn I think your use case can be solved by using [Kubernetes volumes](http://kubernetes.io/docs/user-guide/volumes/). Kubernetes volume supports multiple storage assets, NFS, iSCSI, Ceph, Glusterfs, just to name a few. The storage is bind mounted to the containers and they can share and persist data.

[2016-03-14 14:48] rootfs commented on #22590
I believe @jsafrane is working on these e2e tests.

[2016-03-14 14:53] hanikesn commented on #22894
@rootfs I don't want to share data between different pods or persist it, so I think the existing Volume providers are not a good fit.

[2016-03-14 14:57] wojtek-t commented on #22941
If that's correct (and now I think it is, but I will try to look deeper) this code:
https://github.com/kubernetes/kubernetes/blob/master/cmd/libs/go2idl/go-to-protobuf/protobuf/generator.go#L471

doesn't make much sense then.. (becuase it's always varint, bytes or fixed64)

[2016-03-14 15:07] wojtek-t commented on #22941
Yes - actually those values are correct - there are just few possible values:
https://github.com/golang/protobuf/blob/master/proto/properties.go#L262

That means the code that is trying to parse it:
https://github.com/kubernetes/kubernetes/blob/master/cmd/libs/go2idl/go-to-protobuf/protobuf/generator.go#L471
doesn't make sense.

I will clean it up.

[2016-03-14 15:21] thockin commented on #22903
The best answer I can give around this, for now, is to mount, for example,
host's /var/log/myapp into your container, then use Downward API to get
your pod name or UID into an env var and pass something like
`--logdir=/var/log/myapp/$(MYNAME)/` to your app.

On Sat, Mar 12, 2016 at 8:40 AM, codefx9 <notifications@github.com> wrote:

[2016-03-14 15:24] mattmoor commented on #15140
@davidopp In addition, it would be good to make the container name itself slightly more self-documenting.  `pause` isn't a useful name at all (at least to me).

[2016-03-14 15:25] rootfs commented on #22894
@hanikesn  Would the following simplifed pods work for your use case?

As long as `/path/to/your/shared/directory` are the same in two pods and the your volume type are the same, you should be able to share either your binary or your data between pods.

php pod:
[code]
ngix Pod
[code]

[2016-03-14 15:26] thockin commented on #22506
Selectors are explicitly string-string maps, but YAML parses `1` as a
number, and then can't figure out how to convert that to a string.

On Mon, Mar 14, 2016 at 12:20 AM, jayme-github <notifications@github.com>
wrote:

[2016-03-14 15:26] jsafrane commented on #22590
Yes, there is a PR since Feb 12: https://github.com/kubernetes/kubernetes/pull/21140

[2016-03-14 15:28] asultan001 commented on #22623
And here we go!

[2016-03-14 15:31] tobad357 commented on #22932
The problem is that it isn't only skydns and kube2sky dying.
The registry (which I haven't added health checks to) and kube-ui dies as well very quickly

[2016-03-14 15:33] backender commented on #22178
Make sure Port 4001 is exposed for your master node. This solved the issue for me.

[2016-03-14 15:34] hanikesn commented on #22894
@rootfs I don't want to share data between pods, only between containers in a single pod.

[2016-03-14 15:35] jayme-github commented on #22506
number, and then can't figure out how to convert that to a string.

Okay, makes sense now (still silly that the number can't be converted :smile:).
Thank you very much for clarification! :+1:

[2016-03-14 15:36] pires commented on #5640
The [TICK stack](https://influxdata.com/get-started/what-is-the-tick-stack/) from the guys that brought InfluxDB seems really cool.

[2016-03-14 15:46] quinton-hoole commented on #22623
Here are a few reasonable intro's, for those following along:

[The Register: Hands On](http://www.theregister.co.uk/2015/08/31/hands_on_with_windows_server_2016_containers/?page=2)
[Mark Russianovich, Microsoft CTO](https://azure.microsoft.com/en-us/blog/containers-docker-windows-and-trends/)
[Microsoft Docs](https://msdn.microsoft.com/en-us/virtualization/windowscontainers/about/about_overview)

[2016-03-14 15:51] wojtek-t commented on #22941
Will send out a slightly bigger (with some refactoring) PR tomorrow.

[2016-03-14 15:53] preillyme commented on #22623
Thanks @quinton-hoole greatly appreciate the references. Exciting times @asultan001 @timothysc

[2016-03-14 16:08] thockin commented on #9107
@ArtfulCoder do you have time to take this one - I have another priority first part of this week...

[2016-03-14 16:21] bmelville commented on #22881
Client Version: version.Info{Major:"1", Minor:"1", GitVersion:"v1.1.7", GitCommit:"e4e6878293a339e4087dae684647c9e53f1cf9f0", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"1", GitVersion:"v1.1.8", GitCommit:"a8af33dc07ee08defa2d503f81e7deea32dd1d3b", GitTreeState:"clean"}

I'll add that this is not only a function of ReplicationControllers, but also the new DaemonSets appare

[2016-03-14 16:21] shshang commented on #22799
Hi, Oleg:

I changed the shell script and it really worked well now!

Thanks for the help!

Shixiong

[2016-03-14 16:25] aanm opened #22943 "Kubernetes v1.2.0-beta.1 doesn't run containers on simplest example"
Steps to replicate:

[code]

After build is complete open a new terminal and run:
[code]
Environment:
[code]

The last version I've try it out that and it works is `v1.1.8`

[2016-03-14 16:32] zombor commented on #22854
Generally, yes. Right now I have two listeners setup on each ELB, one for port 80 and the other for 443 (since we want http -> https redirection). I have to do the redirection in software as I don't think there are any redirection options on ELBs like there would be with haproxy.

[2016-03-14 17:15] dchen1107 commented on #22932
@tobad357 From the log you attached, I saw the error message from Kubelet:

Mar 11 06:47:53 srv04 kubelet[21599]: E0311 06:47:53.706664   21599 manager.go:309] NetworkPlugin cni failed on the status hook for pod 'kube-ui-v5-whtv9' - invalid CIDR address: Device "eth0" does not

Looks like there is a configuration issue of cni on your node, which causes PodInfra container failure.

cc/ @kubernetes/

[2016-03-14 17:18] smarterclayton commented on #22941
I'm trying to remember, but it may be that the parsing code existed before
the read back of tags.  So it should be able to go away.

On Mon, Mar 14, 2016 at 11:52 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-03-14 17:21] dchen1107 commented on #22943
@aanm I just tried to reproduce your issue with Kubernetes v1.2.0-beta.1 but failed. The only difference between your and my environment from what you reported above is that Kubernetes 1.2 officially recommend to run with docker 1.9.1, and compatible with docker 1.8.3. We explicitly said we haven't officially supported docker 1.10.X yet even we did a lot of works for forward compatibility. Could y

[2016-03-14 17:26] taylorb-microsoft commented on #22623
This is great to see!  Just for a quick intro I am the lead program manager for all server container technologies in Windows, my team is responsible for Windows Server Containers and Hyper-V Containers.

[2016-03-14 17:28] asultan001 commented on #22623
Thanks @taylorb-microsoft looking forward to connecting once we have something a bit more concrete.

[2016-03-14 17:32] smarterclayton commented on #8190
I'd like to see services be factored so that the user intent parts can be cleanly decoupled from the admin controlled / unsafe parts, in more of a "pod phase" pattern than our current "do everything synchronously" approach).  I.e. today nodePorts and clusterIP must be allocated with a shared lock on the entire cluster (via access to a single resource), but externalIP has no such control (allowing

[2016-03-14 17:40] caesarxuchao commented on #22451
Should be fixed by #22847. Please reopen if the issue is not resolved.

[2016-03-14 17:40] #22451 closed

[2016-03-14 17:40] pdbogen commented on #22888
We would benefit from and use this functionality.

However, it would be valuable only if the whitelisting applies to all of the containers that are part of the dependency chain for a given container.

E.g., if we have an organizational policy that we build all base containers in-house instead of using anything from docker hub, we would need to ensure that when we run the "fooService" container tha

[2016-03-14 17:40] bprashanth commented on #22932
Hmm, kubernetes will pass eth0 in as CNI_IFNAME and expect the plugin to create such an interface.
The error message pointed out by Dawn:
[code]
 makes me think this isn't happening for calico? (you're not running your DNS pod with host networking for some reason, right?).
@caseydavenport

[2016-03-14 17:52] saad-ali commented on #22590
Thanks @jsafrane. I'll take a look at that PR.

[2016-03-14 17:52] smarterclayton commented on #22888
Here's the approach we were going to take in OpenShift (where we have integrated the registry into the platform), allowing the following sets of rules:

(in the rules below, "use" means "can be the input to a pod run, a build, or be tagged into the system for reuse")

1. Only use images on the platform that have a set of known "base layers" (as mentioned above), defined by a specific policy
2. Onl

[2016-03-14 17:59] saad-ali commented on #22894
@rootfs The idea is a more featureful `emptyDir` volume that pre-populates data from somewhere (like a container).

I totally agree that this is a useful scenario and we need to enable it. We just need to flush out a design and get hands on keyboards.

As @ncdc mentioned this feature request is tracked in other issues (specifically #831). So I'd like to close this issue, please re-open if you thin

[2016-03-14 17:59] #22894 closed

[2016-03-14 18:06] erinboyd commented on #20466
Note, you can do this already by using the NFS plugin and directly specifying the path you want on the NFS server. So long as the export/permissions are appropriate you could do this for each claim you are wanting. @swagiaal @pmorie with the current dynamic supplemental group implementation is this going to be possible? I assume you will have to look at the permissions in the directory above or re

[2016-03-14 18:06] vishh commented on #17994
Can you try running kubelet with `--docker_root=/opt/docker`? We are aware
of this issue and will fix it soon.

On Sun, Mar 13, 2016 at 11:54 PM, openxxs <notifications@github.com> wrote:

[2016-03-14 18:06] lavalamp commented on #22884
I want to fix the round-tripping for 1.3, it's on my list.

[2016-03-14 18:08] mwielgus commented on #22938
not needed - works without version.

[2016-03-14 18:08] #22938 closed

[2016-03-14 18:09] preillyme commented on #22623
I've created a shared document available at: https://goo.gl/NE0ABx to track our planning discussions. Thanks for helping us @taylorb-microsoft.

[2016-03-14 18:12] bprashanth commented on #22884
Probe is not a new type we added new fields like successThreshold, which seems to be the problem. I think the main problems with this test are:
* this validation failure
* some timeout we're not setting that causes a hang when a node being connected to goes down (punted to 1.3)
* and a race that causes one of the intermediate connections (possible in the proxy) to get prematurely dropped.

The las

[2016-03-14 18:13] mwielgus commented on #22937
in progress: #22940

[2016-03-14 18:18] mwielgus commented on #22937
The problem is that heapster has the same memory limits set for both containers instead of one.

[2016-03-14 18:20] davidopp commented on #22937
@mwielgus says he is still testing on 1k node cluster, so we should hold off on merging this

[2016-03-14 18:25] yujuhong commented on #22370
Closing the issue since the goroutine/memory leak in spdy connection has been fixed. Will reopen if the test fails again.

[2016-03-14 18:25] #22370 closed

[2016-03-14 18:26] derekwaynecarr commented on #22045
@wojtek-t - there are 2 caches in separate processes at play here.  the namespace controller correctly sees that a namespace is terminating in its cache.  it then deletes all the things.  what it can't see is if the cache in admission control in the kube-apiserver process has seen the terminating state.  the event creator was a cheap way of knowing that it had seen the state transition in the admi