[2020-04-22 18:39] tvvignesh commented on #30617
@mboret I had the same issue today re-using the same email for service account. Lucky that I saw your comment. Changed the name and it worked. Thanks.

![Screenshot from 2020-04-23 00-09-15](https://user-images.githubusercontent.com/1165845/80020453-b0211200-84f6-11ea-8a26-e293647b1b14.png)

[2020-04-22 18:52] bcaton85 commented on #45486
Was there any update on this? Currently having the same issue.

[2020-04-22 18:53] quercy commented on #90345
`dial tcp 10.0.2.15:6443: connect: connection refused` indicates the node is having trouble accessing the master via networking. Can you run `nc -zv 10.0.2.15 6443` from the node and paste the output?

[2020-04-22 19:08] bartekzurawski commented on #84742
@tallclair Hi, I would like to work on this issue? Is it available?

[2020-04-22 19:10] rahulwagh commented on #90345
It says - connection refused

[code]

[2020-04-22 19:15] neolit123 commented on #90326
looks like kubeadm is pulling 3.2.
3.2 is now the default version for the 1.18 kubeadm and kubelet.

are you passing 3.1 in the containerd config?

[2020-04-22 19:15] neolit123 commented on #90326
/triage needs-information
/sig cluster-lifecycle
/area kubeadm

[2020-04-22 19:17] neolit123 commented on #90345
kubeadm cannot join if there is no connectivity to the api server.

/triage support
/remove-kind bug

[2020-04-22 19:31] asthasr commented on #79224
+1 reopen

[2020-04-22 19:39] rahulwagh commented on #90345
Well i can ping my master node from the worker node, so it doesn't feel like connectivity issue but something else.

[code]

[2020-04-22 20:03] connorworkman commented on #79224
Our workaround is to load the secrets into environment variables and reference the environment variables in the configmaps.
In the container spec:
`
envFrom:
-- secretRef:
  name: example-secrets
`
Mount the configmap as a volume, then reference the environment variables in the configmap.

[2020-04-22 20:03] zerkms commented on #67577
@Nuru

One one of my servers.

I did not check release notes, I'm not even sure what to look for, and nevertheless - it's a default kernel like everyone has. 🤷

[2020-04-22 20:10] juliantaylor commented on #67577
the patch should be here in ubuntus kernel git:
https://kernel.ubuntu.com/git/ubuntu/ubuntu-bionic.git/commit/?id=aadd794e744086fb50cdc752d54044fbc14d4adb

and here the ubuntu bug concerning it:
https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1832151

it should be released in the bionic.
You can make sure by running `apt-get source linux` and check in the downloaded the source code.

[2020-04-22 20:32] dineshgovindasamy commented on #70279
@fasaxc @craiglpeters @daschott

Network Namespaces were not a first-class citizen on any Windows version prior to Windows Server 2019. We operate on an endpoint basis, and we needed an additional CNI call to replicate DNS registry keys. If you remove this call, then it becomes an issue as the new container inside the POD won't have any DNS registry keys set.

We added the network namespace suppor

[2020-04-22 21:05] tedyu opened #90376 "Introduce additional worker goroutine in PodContainerDeletor"
**What would you like to be added**:
Currently PodContainerDeletor only uses one goroutine which calls runtime.DeleteContainer() .

We can introduce additional goroutine to do container deletion.

**Why is this needed**:
Saw the following in kubelet log:
[code]
which indicated congestion at the buffer channel

/sig node

[2020-04-22 21:05] hasheddan commented on #87851
Will continue to monitor here and reopen if needed :+1:

[2020-04-22 21:29] sskmail14 commented on #63959
@newtondev
New to EKS.

Could you elaborate how the connectivity from NLB that we have created manually (as you mentioned ) to the ingress-nginx pod?

[2020-04-22 21:32] Nuru commented on #67577
@zerkms By "where did you run your tests" I mean was it a server in your office, a server in GCP, AWS, Azure, or somewhere else?

Obviously there is a lot I do not understand about how Ubuntu is distributed and maintained. I am confused by your `uname -a` output, too. The [Ubuntu Release Notes](https://wiki.ubuntu.com/BionicBeaver/ReleaseNotes#New_features_in_18.04) say:

and also says 18.04.4 was

[2020-04-22 21:46] vgarcia-te commented on #67577
I just ran that Go test (very useful) in kernel `4.15.0-72` in a baremetal server in a datacenter and it seems the patch is there:

[code]

I can also see that the same execution in kernel `4.9.164` in the same type of server shows burns over 5ms:

[code]

So, my problem is that i still see CPU throttling even my kernel seems to be patched

[2020-04-22 21:47] zerkms commented on #67577
@Nuru right, sorry. That was my bare metal server hosted in the office.

[2020-04-22 22:26] spiffxp commented on #71565
They all pull from `ci/latest`

Just to use the latest failure listed on triage as an example: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-coredns-nodecache/1252809431276589059

v1.19.0-alpha.2.8+85ee5fdd901619

Looking at the commits in #90278 (eg: https://github.com/kubernetes/kubernetes/pull/90278/commits/638e077b4b93753a97315dcfb9c88f424d33f333) I see that it

[2020-04-22 22:44] Nuru commented on #67577
@zerkms Thanks for the info. I remain confused, but this is not the place to educate me.

@vgarcia-te If your kernel is patched, which it seems to be, then the throttling is not due to this bug. I'm not sure of your terminology when you say:

Kubernetes CPU resource is measured in CPUs, 1 meaning 100% of 1 full CPU, 1m meaning 0.1% of 1 CPU. So your limit of "500m" says allow 0.5 CPUs.

The defaul

[2020-04-22 22:52] brec opened #90379 "Give Deployments access to the supplementalGroups feature"
**What would you like to be added**:
Our kind:deployments use nfs shares, which are group id (gid) access based. We specify the gid using the runASGroup option. However, if a deployment wants to use multiple nfs shares, we cannot do that because each share will require additional gids.

Pod type deployments support the option supplementalGroups, which allow additional gids to be added to the envir

[2020-04-22 22:53] vgarcia-te commented on #67577
@Nuru that makes sense, but let me understand this, given that the default cpu period is 100ms, in the case a process gets 1 CPU assigned, if that process runs for more than 100ms in a single pass, will it be throttled?
Does this mean that in linux, where the default cpu period is 100ms, any process that has a limit that runs for more than 100ms in a single pass, is going to get throttled?

What w

[2020-04-22 23:10] BobyMCbobs commented on #89740
Made a PR to mark this test as flaky in the meanwhile:
https://github.com/kubernetes/kubernetes/pull/90354

[2020-04-22 23:21] tedyu commented on #76718
/remove-lifecycle stale

[2020-04-22 23:22] tedyu commented on #90346
/sig node

[2020-04-22 23:30] CecileRobertMichon opened #90382 "Missing Azure credentials should return an error and not panic"
**What happened**: Was debugging something and forgot to export credentials before creating a cluster which resulted in missing Azure credentials in Azure.json:

[code]

and it caused the cloud provider to panic():

[code]

**What you expected to happen**: The cloud provider should return an error and not panic.

**How to reproduce it (as minimally and precisely as possible)**: Create an Azure k8s

[2020-04-22 23:53] tedyu opened #90383 "Log volume path in PodResourcesAreReclaimed"
**What would you like to be added**:
When pod volume exists and keepTerminatedPodVolumes is false, PodResourcesAreReclaimed would return false.
The volume path should be included in the log to facilitate debugging.

**Why is this needed**:
Currently information about the pod is logged, but not the volume:
[code]

[2020-04-23 00:02] #89597 closed

[2020-04-23 00:28] mysunshine92 commented on #89564
/close

[2020-04-23 00:29] #89564 closed

[2020-04-23 00:47] yamaszone commented on #85499
@danwinship any thoughts on the proposed patch by @tedyu ? Our AKS clusters are suffering from this issue and we are eagerly waiting for a solution! Thanks in advance!

[2020-04-23 00:48] yamaszone commented on #85499
`/remove-lifecycle stale`

[2020-04-23 01:09] Riaankl opened #90384 "Create CoreV1Node resource lifecycle test +2 endpoint coverage"
# Progress <code>[2/5]</code>

-   [X] APISnoop org-flow : [CoreV1NodeStatus.org](https://github.com/cncf/apisnoop/blob/master/tickets/k8s/CoreV1NodeStatus.org)
-   [X] test approval issue : [kubernetes/kubernetes#90348](https://github.com/kubernetes/kubernetes/issues/90384)
-   [ ] test pr : kuberenetes/kubernetes#?
-   [ ] two weeks soak start date : testgrid-link
-   [ ] two weeks soak end date

[2020-04-23 01:27] msau42 commented on #83129
/lifecycle frozen

[2020-04-23 01:43] chendave commented on #89507
@LeoLiuYan , properly a little slow but I am still on it. :)

[2020-04-23 01:49] spiffxp commented on #83590
/assign @jingxu97 @msau42
cc @kubernetes/sig-windows-bugs
What do you think about tagging this test case as [Flaky]? It's still flaking, and per above it's not deemed to be a CSI issue
- https://testgrid.k8s.io/sig-windows#gce-windows-1909-master&include-filter-by-regex=ntfs&include-filter-by-regex=should%20store%20data&width=5
- https://testgrid.k8s.io/sig-windows#gce-windows-2019-master&include-

[2020-04-23 01:57] msau42 commented on #83590
This test case isn't actually testing CSI.
https://github.com/kubernetes/kubernetes/pull/83591 should have fixed the flaky test issue.

@jingxu97 can you take another look at why this test is flaky?

[2020-04-23 01:58] msau42 commented on #83590
/remove-lifecycle stale

[2020-04-23 02:03] neolit123 commented on #90345
ICMP echo (ping) is not sufficient to validate the connectivity of this Node to the kube-apiserver.

[2020-04-23 02:07] BenTheElder commented on #90326
if they're using containerd many versions have pause 3.1
with newer containerd pause 3.2 is the default

cri-o is probably similar.

[2020-04-23 02:09] lubinsz commented on #89554
Hi @erikwilson ，
Did you run this test in an arm64 virtual machine?
If so, I have fixed this issue in cadvisor side.

This issue is caused by google/cadvisor.
Currently, the version of cadvisor in kubernetes is  v0.36.1-0.20200323171535-8af10c683a96.
There is a bug in this version, it get the wrong machine info on Arm64 guest.

I have delivered the PR into cadvisor in 22 days ago. And this patch w

[2020-04-23 02:12] lubinsz commented on #89554
Currently we only have one conformance test is alive, this conformance test was run on AWS：
https://k8s-testgrid.appspot.com/conformance-arm#Periodic%20Arm64%20conformance%20test%20on%20AWS

[2020-04-23 02:20] spiffxp commented on #89554
/area conformance

[2020-04-23 02:42] l1b0k commented on #90298
@xiaoanyunfei  will you have plan to update that PR  https://github.com/kubernetes/kubernetes/pull/83701?

[2020-04-23 03:38] erikwilson commented on #89554
Thanks for taking a look @lubinsz, just to be sure it is not a VM issue I fired up an a1-metal arm64 aws instance. Please note I am using sonobuoy for running tests rather than kubetest, I tried to find if kubetest is using the conformance image for testing and from a quick check maybe not. The error is not in the conformance test itself, but launching the conformance test image on arm64.

The `do

[2020-04-23 04:38] BobyMCbobs commented on #89071
/reopen

[2020-04-23 05:15] lubinsz commented on #89554
Hi @erikwilson
I see. I'll check it.
Thanks.

[2020-04-23 05:26] #85585 closed

[2020-04-23 06:38] seans3 commented on #85750
Currently we return a different exit code for `kubectl diff` based on whether there was a difference detected (with a different exit code >1 if error). Would that be analogous to this ask? I think the hard work would be in the api-machinery, so I'll defer to that team. `kubectl` is already going to have to deal with headers for api deprecation warnings: https://github.com/kubernetes/enhancements/p

[2020-04-23 06:49] sskmail14 commented on #63959
@dayyehm

Has it worked for you in k8s 1.15 EKS?

[2020-04-23 06:56] waynepeking348 commented on #85489
@EdwinRobbins hi~ we seem to encounter the same problem as described in our production environment, so I wonder if you have any idea how to deal with this now.

[2020-04-23 06:57] tonglil commented on #35890
Just for anyone stumbling upon this issue, you can get the same error when trying to run `kubectl apply` with the `--dry-run` flag, which only does client validation, and thus error out.

`apply` should still work with these errors.

[2020-04-23 07:10] liruishan opened #90393 "I set a static pod to critical mode by priority, why its oom_score_adj is still 1000"
I set a static pod to critical mode by priority, why its oom_score_adj is still 1000, I checked through the code should be -998, the code is as follows:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/qos/policy.go
func GetContainerOOMScoreAdjust(pod *v1.Pod, container *v1.Container, memoryCapacity int64) int {
	if types.IsCriticalPod(pod) {
		// Critical pods should be the last t

[2020-04-23 07:21] iFreeon commented on #85963
This would save a lot of time in administration overhead.

In lower environments I want to empower development teams by giving them access to do everything except specific namespaces and secrets.  That usually translates into two use cases

I want to give a user:
1. Access to all namespaces except kube-system and the ingress controller namespace.
2. In all namespaces (not restricted above) I don’t

[2020-04-23 07:23] JBerny commented on #90359
I made a mistake. I copied the output of the label --list command after the issue was resolved.
The original output was
[code]
and i expected this
[code]

[2020-04-23 07:28] #70496 closed

[2020-04-23 07:28] JBerny commented on #90359
I deleted the Node API object with `kubectl delete node minio3`
We use Rancher, so we run the rancher-agent container with the `--label` flag that specifies which labels you want to assign to the node.

[2020-04-23 07:45] #89092 closed

[2020-04-23 07:54] zischknall commented on #90334
Have found two instances of this in the logs but not in connection with `log2much`

[2020-04-23 08:37] aojea commented on #71565
ok, let it run a few days more and see how it evolves ...

[2020-04-23 09:00] ericsuhong commented on #84308
It seems like this has only been merged into 1.17+. Is it possible to backport this fix into 1.16 as well?

[2020-04-23 09:06] Nuru commented on #67577
@vgarcia-te asked

Of course scheduling is insanely complicated so I can't give you a perfect answer, but the simplified answer is no. More detailed explanations are [here](https://kernel.googlesource.com/pub/scm/linux/kernel/git/glommer/memcg/+/cpu_stat/Documentation/cgroups/cpu.txt) and [here](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/Documentation/scheduler/sched-b

[2020-04-23 09:23] shwuhk commented on #79224
Any updates on this?

[2020-04-23 09:30] like-inspur opened #90398 "cadvisor output multi result for each container cpu metric"
I use prometheus 2.15.2 to collect kubernets 1.14.3 cadvisor monitor by following config
[code]
But when I want to search single container cpu, there are three results return to me like this:
![telegraf](https://user-images.githubusercontent.com/18571465/80083379-1f931200-8588-11ea-8d60-295f0685dd63.png)

I think this is bug for kubernetes cadvisor, because each query will return multi result and

[2020-04-23 09:32] like-inspur commented on #90398
@kubernetes/sig-node-bugs

[2020-04-23 09:42] like-inspur opened #90399 "container_cpu_load_average_10s return 0"
container_cpu_load_average_10s return 0 for all container on kubernetes 1.14.3 environment when I use promethus to query
![container](https://user-images.githubusercontent.com/18571465/80084712-d04de100-8589-11ea-9e49-b04ae8b79837.png)

[2020-04-23 09:43] like-inspur commented on #90399
@kubernetes/sig-node-bugs

[2020-04-23 09:58] cwdsuzhou commented on #88445
/close

[2020-04-23 09:58] #88445 closed

[2020-04-23 09:58] cwdsuzhou commented on #85878
/close

[2020-04-23 09:58] #85878 closed

[2020-04-23 10:10] yogeshdass commented on #72226
Delete the node from the cluster and it will remove the pods that are in terminating state on that dead node

[2020-04-23 10:18] DarthSlider commented on #68211
We have exactly the same problem even without the modification of configmap.
If container fails (just kill PID 1 in the container) it can't start.
Restarting whole pod works.

Removed subpath and mounted configmap to separate dir and the problem is gone.
k8s 1.16.2
docker 19.3.2

[2020-04-23 10:31] #85592 closed

[2020-04-23 10:31] developer-guy opened #90401 "caBundle field of MutatingWebhookConfiguration can reference CA Cert's value from Configmap or Secret"
**What would you like to be added**:
It would be nice if want to reference my CA Cert's value from Secret or ConfigMap for the "caBundle" field of MutatingWebhookConfiguration.
**Why is this needed**:
At this point, we need to create our CA Cert first because we need to set it to caBundle field, so there is no chance to edit the creation process of the certificate with Helm. I would like to do cre

[2020-04-23 10:38] developer-guy commented on #90401
/wg component-standard

[2020-04-23 10:38] developer-guy commented on #90401
/sig cluster-lifecycle

[2020-04-23 10:57] #86288 closed

[2020-04-23 11:02] fengzixu opened #90402 "Make the "GetResourceRequest" logic in scheduler pkg more clean"
**> This issue is for tracking some problems I found and I plan to fix.**

**Why is this needed**:
During I fixed the bug [**bugfix: initcontainer is also taken into account when calculating resource requests**](https://github.com/kubernetes/kubernetes/pull/89222), I found some issues of calculating resource request logic existed in scheduler package.

1. **Duplication**: Actually, in Kubernetes c

[2020-04-23 11:03] fengzixu commented on #90402
/sig scheduling

[2020-04-23 11:03] fengzixu commented on #90402
/assign @fengzixu

[2020-04-23 11:05] fengzixu commented on #90402
@Huang-Wei @ahg-g @alculquicondor We can discuss the next work on this issue.

[2020-04-23 11:27] sparkoo commented on #87603
@MrHohn hello, any updates on this?

[2020-04-23 11:30] ChristofSchwarz opened #90403 "fully qualified service addresses *.default.svc.cluster.local do not resolve while *.default.svc do"
**What happened**:
My deployment of several pods talk to each other using the fully qualified service name like http://qlik-tenants.default.svc.cluster.local:8000/api/v1/tenants ... in my latest deployment this no longer works. No service can reach any other. I tried nslookup from within some pods like this
`kubectl exec -ti qlik-nats-0 -- nslookup qlik-tenants.default.svc.cluster.local`

**What y

[2020-04-23 11:35] ChristofSchwarz commented on #90403
How do I add a label after I submitted an issue?

[2020-04-23 11:42] alebedev87 commented on #60807
This command shows not available apis:
[code]

[2020-04-23 11:48] ankitm123 commented on #90329
I can take a look, if no one's looking at it @liggitt

[2020-04-23 12:01] hasheddan commented on #89892
/close

Green since https://github.com/kubernetes/test-infra/pull/17349

[2020-04-23 12:01] #89892 closed

[2020-04-23 12:02] hasheddan commented on #89893
/close

Green since https://github.com/kubernetes/test-infra/pull/17349

[2020-04-23 12:03] #89893 closed

[2020-04-23 12:14] angegar commented on #57250
I am encountering the same issue today and I don't want to go in production with unhealthy instances in my target group.

Is there a way to fix this ?

[2020-04-23 12:43] xiaoanyunfei commented on #90298
There is no need to update it, and It only needs someone to review it

[2020-04-23 12:47] joakimr-axis commented on #72956
Suggestion for fixing for `cluster/gce/util.sh` in PR #90405.

[2020-04-23 12:54] WestFarmer commented on #63124
it's not true, when only listen on tcp6, you can't access with ipv4 address.
At least, I can't access kubernetes-dashboard, when the kube-proxy only listen on tcp6.

[2020-04-23 13:03] chrisohaver commented on #90403
/assign @chrisohaver

[2020-04-23 13:44] alculquicondor commented on #90402
/remove-kind feature
/kind cleanup

[2020-04-23 13:57] josh-tepper commented on #33766
Any updates on this?  The workarounds are helpful.  Nonetheless, recently this issue caused confusion/took up time from some of our engineers, myself included

[2020-04-23 14:11] heckad commented on #89995
@neolit123?

[2020-04-23 14:16] soltysh commented on #89811
@hasheddan this is similar to #87851 and I suspect that #90364 should fix it too.
/close

[2020-04-23 14:16] #89811 closed

[2020-04-23 14:21] wojtek-t commented on #87851
Unfortunately - it seems that the problem still exists - the test failed today (an hour ago):
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1253293067511795714  :(

@soltysh @mm4tt ^^

[2020-04-23 14:27] soltysh commented on #87851
I'll check it, thx Wojtek for pointing that out.

[2020-04-23 14:32] liggitt commented on #54079
watch/list support for single resources was added in https://github.com/kubernetes/kubernetes/pull/63469 in v1.11

The list/watch requests must set a fieldSelector of `metadata.name=$name`

[2020-04-23 14:39] neolit123 commented on #89995
/remove-sig cluster-lifecycle
/sig apps

try asking in #kubernetes-users on k8s slack.

[2020-04-23 14:42] gnufied commented on #81854
/reopen
/remove-lifeycle rotten

[2020-04-23 14:45] wojtek-t commented on #87851
@soltysh - I'm not familiar with kubectl code, but I took a quick look and what I found is that this waitForPod() thing is happening only for pods with RestartPolicyNever:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/cmd/run/run.go#L385

I must be missing something here, but for the case that failed it's not really the case, which means we don't wait for it?

[2020-04-23 14:45] heckad commented on #89995
How to do this if I don't have slack workspace or company or somebody else?

[2020-04-23 14:46] liggitt commented on #90359
I'm not familiar with how the rancher agent applies labels to nodes... is it possible it is actively reconciling them and undoing the `kubectl label node` command?

I'm not familiar with the mechanism Rancher uses to label nodes... I'd suggest raising the issue there.

[2020-04-23 14:46] #90359 closed

[2020-04-23 14:47] chrisohaver commented on #90403
I am unable to replicate the reported behavior with k8s 1.15 using MicroK8s. All dns queries I tested worked as expected, including `kubernetes.default.svc.cluster.local` without trailing dot.

What changed between your deployments, and how did you migrate?

[2020-04-23 14:49] soltysh commented on #87851
This particular one is using `RestartPolicyNever`, see the actual invocation that failed:
[code]

That's why I started with this approach.

[2020-04-23 14:50] alculquicondor commented on #90402
The overall idea sounds good to me and I think we can discuss some details in a PR.

Non-zero values are used to calculate scores (not to perform filters). A couple of thoughts:

1. We have some slack in changing those calculations and I'm ok with making the values per-pod. The effect will be that some nodes that used to get a zero score now get a small value.
1. Since the code is not used anywher

[2020-04-23 14:51] alculquicondor commented on #90402
We could start unifying just the scheduler code in `pkg/scheduler/utils` or `pkg/scheduler/framework/plugins/helper` to initiate sig-scheduling discussions.

And we could leave the changes that affect kubelet for a followup PR.

[2020-04-23 14:52] wojtek-t commented on #87851
Sorry - the one for which the bug was originally opened.
But the today`s failure is actually slightly different (the same test, different case - sorry):
[code]

The restart policy for this one is `OnFailure`

[2020-04-23 14:56] soltysh commented on #87851
Gotcha, so it looks like we progressed, I'll check the possible paths for this one, something tells me we're missing another timeout somewhere :wink:

[2020-04-23 15:03] damemi commented on #89930
I've updated the main description of this issue with a list of all the PRs we've received so far, if I missed any please let me know to add it.

We are trying to review them in a timely manner but please keep in mind that this is intended as an ongoing effort, and some package dependencies reveal trickier entanglement once you try to remove them so those may take longer to find a good resolution.

[2020-04-23 15:08] heckad commented on #89995
@neolit123, they are silent in the chat. Who is involved in the development of startup probe?

[2020-04-23 15:15] neolit123 commented on #89995
i think this topic better fits SIG Node.

try asking in their channel on slack `#sig-node`, but beg patient ;)
/sig node
/remove-sig apps

[2020-04-23 15:26] ankitm123 commented on #90329
/assign

[2020-04-23 15:26] uablrek commented on #90403
Rule out the simple answer first, check `/etc/resolv.conf` inside a pod where is fails. Should look something like;
[code]

[2020-04-23 15:31] JBerny commented on #90359
It seems like you are right
https://github.com/rancher/rancher/issues/5751

Thanks for the help

[2020-04-23 15:36] #80622 closed

[2020-04-23 16:05] apelisse commented on #85750
Also note that Server-side Apply doesn't show "configured" vs "unchanged" so it's not just about the exit status code. But again, we can't do that without changing the apiserver.

[2020-04-23 16:05] alculquicondor commented on #80639
/remove-lifecycle stale

[2020-04-23 16:24] apelisse commented on #33766
"Unions" is kind of stalled for now, but we've made a lot of progress on the necessary work to make this happen. I'll keep this issue posted when we make progress, thanks for your patience!

[2020-04-23 16:30] MrHohn commented on #87603
@sparkoo Sorry for the delay, I implemented a fix locally and am working on a test at the moment. Looking to have a PR out this week.

[2020-04-23 16:33] asauber commented on #60535
@aojea I haven't tried Pod Presets for my use case. I'll give them a spin and see how it goes.

[2020-04-23 16:35] thockin commented on #89995
I think this is a feature request, not support, so I changed labels.  On its face it SEEMS reasonable, but I am not close enough to the details to say.  This is definitely sig-node.

[2020-04-23 16:55] dannymk commented on #41881
How about just "domain.com" as a catch all for 'www|myhost|myhost2|..."?  We definitely need this feature.

[2020-04-23 17:01] wojtek-t commented on #90287
@liggitt @smarterclayton  - sorry for that - we hit the bug with resetting timer not the first time, I should have caught that (I remember at least two other bugs with that).

@smarterclayton I'm not sure revert is a good option, because there were PRs that were chained on that: #87795 - this would have to be a very careful manual revert which I'm not sure it justifies the risk, given that 1.18 is

[2020-04-23 17:02] StodaraHodan commented on #57783
update on what the issue was?

[2020-04-23 17:12] riking commented on #89995
Adding a new pod lifecycle state has been determined to be intractable in the past.

Do you mean keeping the pod in !Ready until the first success from `startupProbe`?

[2020-04-23 17:15] ahg-g commented on #90402
How about we have the code in frameworkv1alpha1/types.go instead of noderesources since it will be used by nodeinfo?

Perhaps we can have a single function in types.go that calculates the total pod resources, and the function accepts a ```WithNonZero()```:

```GetPodResources(pod *v1.Pod, options ...PodResourcesOption) (requests *v1.ResourceList, limits *v1.ResourceList)```

The limits will be use

[2020-04-23 17:18] lavalamp commented on #85750
OK the current state on this from my perspective:
* It's not clear it's important enough...
* But if it is, we'd likely use a header and not a status code to communicate it
* Note that apiserver always avoids writing to etcd for no-op mutating requests, so it actually does have this information; if we added this, it'd make sense to do it for all mutating requests.

On that first point (importance)

[2020-04-23 17:20] apelisse commented on #85750
Just to make sure there's not confusion, we're mostly talking about the binary `kubectl` exit code here.

[2020-04-23 17:24] apelisse commented on #85750
For your first bullet point, quoting from #66450

[2020-04-23 17:24] alculquicondor commented on #90402
Then that code wouldn't be shared with kubelet.

[2020-04-23 17:26] wojtek-t commented on #87006
The code path to delete default-conversions has been disabled.

We will keep that in that state at least until the next release and will remove that code path then (it will allow us to simplify stuff a little bit too).

[2020-04-23 17:30] lavalamp commented on #85750
Yeah that's a better argument than the OP.

It's surprising to me that you'd want different binary exit codes? Wouldn't that imply that one of these states was an error?

[2020-04-23 17:31] apelisse commented on #85750
Not necessarily, the typical diff binary returns 1 when there's a diff, doesn't mean it's an error.
http://man7.org/linux/man-pages/man1/diff.1.html

[2020-04-23 17:41] ahg-g commented on #90402
How would nodeinfo be able to calculate pod resources if the function is placed in noderesources?

Why not? They do have a dependency on nodeinfo I think, and so the dependency on the framework isn't new.

[2020-04-23 17:48] alculquicondor commented on #90402
That suggestion was limited to calculations that include non-zero

True

[2020-04-23 17:54] ahg-g commented on #90402
ok, I think we can do better by unifying all uses under a single function with an option for non-zero.

[2020-04-23 18:03] rbo54 commented on #90123
I don't think we need any additional assistance from the k8s team, so I'm going to close this for now. Thank you for your assistance and confirming our findings. Tom

[2020-04-23 18:03] #90123 closed

[2020-04-23 18:10] lavalamp commented on #85750
Makes more sense for diff, I think? If I call kubectl apply from a script and got an error, I'd expect it mean something went wrong and I needed to abort and/or retry it, though. How would we communicate that there was e.g. a network problem rather than a difference?

[2020-04-23 18:30] heckad commented on #89995
Yes, I want that pod considered not ready until `startupProbe` will not be successful. If readiness probe doesn't present then a pod can become ready.

[2020-04-23 19:00] kwiesmueller commented on #85750
I don't know if I agree on a response code.
We already wanted to clarify, that the user shouldn't take concrete actions from this but that there are better ways (which is outlined in the KEP).
A response code seems like more of an encouragement in that direction.
The feedback to the user is what I aimed for, not feedback to the "caller".

[2020-04-23 19:02] liggitt commented on #85750
I agree. Subdividing the "successfully applied" case into "made a change" and "didn't make a change" seems like it explicitly breaks the idea of apply as an idempotent operation.

[2020-04-23 19:07] DavidParks8 opened #90412 "Azure credential provider does not authenticate to ACR in all clouds"
**What happened**:
An aks-engine cluster with a user assigned managed service cluster identity fails to authenticate to azure container registries in private clouds when the proper (acrpull) azure role assignments are in place and when there are no image pull secrets.

**What you expected to happen**:
The cluster should be able to authenticate and pull from an ACR hosted in the same azure cloud wi

[2020-04-23 19:09] DavidParks8 commented on #90412
/sig provider-azure

[2020-04-23 19:11] ritazh commented on #90412
/area provider/azure
/sig cloud-provider

[2020-04-23 19:11] juniormayhe commented on #59876
This one was closed by the bot again. Do we have another issue opened related to hostPath in Windows? I have tried in git bash and command prompt all combinations:

  hostPath:
    path: "/D/tmp/sqldata"
or
  hostPath:
    path: "D:\\tmp\\sqldata"

but none worked. The message is always the same:

[code]

My kubectl version
[code]
Docker Desktop for Windows is 2.2.05

Did anyone manage to make hos

[2020-04-23 19:11] juniormayhe commented on #59876
/reopen

[2020-04-23 19:24] liggitt commented on #90401
thanks for the feature request. this is a duplicate of https://github.com/kubernetes/kubernetes/issues/72944

/close

[2020-04-23 19:24] #90401 closed

[2020-04-23 19:32] liggitt commented on #90393
what version are you running? how did you set the priority?

[2020-04-23 19:32] #88606 closed

[2020-04-23 19:34] zhan849 commented on #90287
thanks @wojtek-t ! and sry again I did not read the timer's doc carefully enough but simply followed the Clock interface :(

To fix, we can also initialize the timer to nil and create a fresh one when `Backoff()` is first called.

But to ensure timer is drained before reset, we need to have user explicitly pass in "if timer is drained" into the `Backoff()` to accurately decide if `Backoff()` needs

[2020-04-23 20:01] DavidParks8 commented on #90412
It looks like we may be able to obtain the acr suffix from the azure environment:
https://github.com/Azure/go-autorest/blob/f29a2eccaa178b367df0405778cd85e0af7b4225/autorest/azure/environments.go#L71

[2020-04-23 20:02] eddytruyen commented on #90133
https://github.com/kubernetes/kubernetes/issues/67577#issuecomment-463800714

[2020-04-23 20:03] jonesbr17 opened #90416 "Multiple images affected by CVE-2020-1967"
**What happened**: The latest images for the apiserver, controller-manager, and scheduler are vulnerable to [CVE-2020-1967](https://nvd.nist.gov/vuln/detail/CVE-2020-1967).

**What you expected to happen**: Latest images built using community automation should have patches to address existing security vulnerabilities.

**How to reproduce it (as minimally and precisely as possible)**: Build latest

[2020-04-23 20:05] 2rs2ts commented on #40244
@sureshkvl k8s doesn't support UDP for load balancers; it's hardcoded in. #87549 is tracking that issue

[2020-04-23 20:08] wojtek-t commented on #87851
OK - I think I know what is going on here.
Here is what is happening (for the test case from two comments above):
- the test is setting "-i", so interactive mode is switched on
- that option triggers that Attach option defaults to true: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/cmd/run/run.go#L187
- over the Run() command, we get to the handleAttachPod: ht

[2020-04-23 20:09] wojtek-t commented on #87851
@soltysh ^^ - please take a look at the PR that I assigned to you (it's literally one-liner as of now - if you want to add tests or anything like that, feel free to pick it up).

[2020-04-23 20:12] fedebongio commented on #90361
/cc @liggitt

[2020-04-23 20:12] enj commented on #85963
Even if RBAC supported deny rules to allow you to express that, it would not matter because the Kubernetes API itself lacks any mechanism to return partial lists based on authorization.

[2020-04-23 20:14] wojtek-t commented on #87851
Actually I went ahead, and fixed couple other commands too - so it's no longer one-liner. But still short one :)

[2020-04-23 20:22] apelisse commented on #85750
I also agree with that point. I'm not concerned at all about having to differentiate 0 from 1 exit code. The problem we're trying to solve is human beings looking at their screen and seeing if things go as they expected, not so much about scripts taking a different approach based on that.

[2020-04-23 20:53] ChristofSchwarz commented on #90403
Hi @uablrek, yes the /etc/resolv.conf file shows that expected contents: yet, the resolution fails, here is a screenshot of what I try in one of the services
[code]
I am recreating Docker + MicroK8s from scratch every now and then, starting with an blank Ubuntu 18 image. This is my bootstrap script ... https://github.com/ChristofSchwarz/qseok_on_Microk8s/blob/master/deploy_1_requirements.sh ... it

[2020-04-23 21:37] chrisohaver commented on #90403
By any chance ... is ...
[code]

... returning something _other_ than `NXDOMAIN`?  If it is, then that would prompt the client to stop searching (and not try `qlik-tenants.default.svc.cluster.local.`)

[2020-04-23 21:42] pshemk commented on #55045
There definitely should be at least an opt-in option to remove all the PVC of stateful set on scale-in (and on stateful set removal). We just got bitten by this. We have an app that generates and stores own config files to speed up startup after an image upgrade. The workloads are hashed between all members of the set. After a scale-in and scale-out (a few days later) the new members read some old

[2020-04-23 23:02] rmorrise commented on #40908
/remove-lifecycle stale

[2020-04-23 23:43] #83360 closed

[2020-04-24 00:02] eugene-chernyshenko opened #90427 "Services without selectors (bug or feature) ?"
According to documentation (https://kubernetes.io/docs/concepts/services-networking/service/#services-without-selectors) I can create services for sending traffic to external ips.
I have to create an endpoint to do it.
There is no exact answer to the question "how service maps to endpoints"?
I suggested it maps by name.
I found one interesting moment with a target port:

So I have an endpoint
[cod

[2020-04-24 00:03] eugene-chernyshenko commented on #90427
/sig architecture

[2020-04-24 00:44] #85504 closed

[2020-04-24 00:58] msau42 commented on #80918
/lifecycle frozen

[2020-04-24 00:59] lwx294821 opened #90428 "cannot access services by ${master-ip}:{nodePort}"
version: k8s v1.15.3
hardware: Bare Metal
system: centos7.5
install tool: kubespray
network plugin: flannel vxlan

The problem happened suddenly.
 step1: use command :  kubectl get pods -owide  ,find the node of the pod is running.
 step2:it is ok when access service by  http://${node-ip}:{nodeport},but http://${mastere-ip}:{nodeport} is error

[2020-04-24 01:08] neolit123 commented on #90416
hello @jonesbr17

the k8s control-plane binaries that are inside the images are build with Go and do not depend on these Linux shared libraries build with C. am i missing something?

in terms of what is in the images:
[code]
there is a libcrypto-2.28 in the image and libssl* cannot be found.

/priority awaiting-more-evidence

[2020-04-24 01:13] neolit123 commented on #90428
hi, this seems like a support request for kubespray.

please try logging an issue in https://github.com/kubernetes-sigs/kubespray
or asking in the k8s support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

this tracker is for core k8s bugs.

/close
/triage support

[2020-04-24 01:14] #90428 closed

[2020-04-24 01:15] neolit123 commented on #90383
/sig storage

[2020-04-24 02:00] wonleing opened #90429 "Failed to open current namespace: failed to Statfs "/proc/18661/task/1439572/ns/net": no such file or directory"
kubeadm init done, apply flannel plugin done, check pods with "kubectl get pods --all-namespaces"
NAMESPACE     NAME                             READY   STATUS              RESTARTS   AGE
kube-system   coredns-859fd9b8b5-8g2xl         0/1     ContainerCreating   0          15h
kube-system   coredns-859fd9b8b5-tjnfk         0/1     ContainerCreating   0          15h
kube-system   etcd-uos-pc

[2020-04-24 02:08] wonleing commented on #90429
And another hint in `sudo journalctl -u kubelet -f`:
CNI failed to retrieve network namespace path: cannot find network namespace for the terminated container "db2eff3ad44656995b1a3a3fb9e90fa6d5cc78aea1ac17382a20f3c4c69f4a59"

[2020-04-24 02:09] wonleing commented on #90429
/sig network

[2020-04-24 02:31] knabben commented on #86843
@savitharaghunathan I'm getting
[code]

[2020-04-24 02:36] SataQiu commented on #90429
The error `Failed to open current namespace: failed to Statfs "/proc/18661/task/1439572/ns/net": no such file or directory` is reported by flannel plugin. Maybe you should submit an issue in flannel community https://github.com/coreos/flannel

[2020-04-24 02:42] andyzhangx commented on #90412
there is a security issue here:
if we support self defined ACR domain, e.g. `test.azurecr.my.cloud`, then service principal secret could be sent to that remote server.
The reason why we use hardcoded domains is that we could always make sure the following 4 domains are owned by Azure:
https://github.com/kubernetes/kubernetes/blob/0c0984abdb17246b472e65f0fefee82637dd83e6/pkg/credentialprovider/azur

[2020-04-24 02:42] tedyu commented on #90429
Getting log for container db2eff3ad44656995b1a3a3fb9e90fa6d5cc78aea1ac17382a20f3c4c69f4a59 may reveal additional clue.

[2020-04-24 03:49] 13567436138 opened #90431 "debug kubectl with goland got an panic"
**What happened**:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
windows 10
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (i

[2020-04-24 04:28] 13567436138 opened #90432 "debug kubectl with goland panic"
**What happened**:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
windows 10
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (i

[2020-04-24 06:35] jcxian opened #90434 "loading OpenAPI spec for "v1beta1.custom.metrics.k8s.io" failed with: OpenAPI spec does not exist"
**What happened**:
1. After I deployed custom-metrics-apiserver, kube-apiserver always reported the following information non-stop
[code]
2.log of custom-metrics-apiserver

[code]

3. APIService

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
image of custom-metrics-apiserver is k8s-prometheus-adapter

[2020-04-24 06:44] liupeng0518 commented on #89208
1.14.10 still has this problem.

[2020-04-24 07:05] VladoPortos commented on #50375
+1

[2020-04-24 07:46] wonleing commented on #90429
@SataQiu  flannel plugin could make all the containers fail to access outside network? Even I tried to kubectl delete -f flannel.yaml, restart kubelet, kill all runing containers, kubeadm reset, the network still fail to access. How to make the system back?

[2020-04-24 07:47] wojtek-t commented on #90287
Very quick (I might have missed something) glance from the code suggests, that the only place we would need to change is actually BackoffUntil method. So passing the "if timer is drained" bit seems less error prone imho.

[2020-04-24 08:00] tedyu commented on #90432
Are you able to reproduce this with newer k8s release ?

staging/src/k8s.io/cli-runtime/pkg/resource/helper.go has changed since 1.16
e.g.
[code]
It would be nice if you can outline the procedure leading to the crash.

[2020-04-24 08:01] xishengcai opened #90435 "when I delete pods, the pods ip has been changed.but ipvs rule not change, and svc can't visit."
**What happened**:
[code]

**What you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
[code]
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

- Cloud provider or hardware configuration:
[code]
- OS (e.g: `cat /etc/os-release`):
[code]
- Kernel (e.g. `uname -a`):
[code]
- Install tools

[2020-04-24 08:02] tedyu commented on #90431
Did you use go 1.12 ?

Not sure if this was related to the use of Goland.

[2020-04-24 08:06] SataQiu commented on #90251
/assign

[2020-04-24 08:06] xishengcai commented on #90435
/sig network
/area ipvs

[2020-04-24 08:22] ahmedwaleedmalik opened #90438 "spec.finalizers cannot be modified via a patch or update to a namespace resource"
**What happened**:

I am trying to patch a namespace but i am unable to do so. On dry run it shows the correct output that is :

[code]

But when i apply the patch:

[code]

Is patching somehow restricted on namespaces ?

**What you expected to happen**:

For the namespace to be patched

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

[2020-04-24 08:48] ChristofSchwarz commented on #90403
Thanks @chrisohaver for the hints. In fact, qlik-tenants.default.svc.cluster.local.3k32yaozxvnuteru2c5qb54rqg.bx.internal.cloudapp.net doesn't resolve into NXDOMAIN, but into SERVFAIL. In detail, here are 3 tests:
# good dig: *.default.svc
`dig +search +showsearch qlik-tenants.default.svc`
This is the (long) reply of a successful dig
[code]
# bad dig: *.default.svc.cluster.local
`dig +search +show

[2020-04-24 09:12] Arun-KumarH opened #90441 "patching node for allocatable pods not updated"
**What happened**:
We want to increase the default maxPods value from `110` to `200` for Kubernetes node.
We followed this documentation to update node configuration dynamically:
https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet/

We had generated the configuration file as per doc in namespace `kube-system`, but when we try to patch it:

[code]
we get:
[code]
where `node-conf

[2020-04-24 09:13] Arun-KumarH commented on #90441
/sig cli

[2020-04-24 09:29] joakimr-axis commented on #72956
I do believe there is now actions going on for all remaining files in hack/.shellcheck_failures:

./cluster/gce/gci/configure-helper.sh #90433
./cluster/gce/gci/configure.sh #90442
./cluster/gce/gci/master-helper.sh @gavinfish, what is the status?
./cluster/gce/upgrade.sh @gavinfish, what is the status?
./cluster/gce/util.sh #90406
./cluster/log-dump/log-dump.sh #88349 (needs rebase, owner @BenThe

[2020-04-24 09:45] Gerrit-K commented on #67974
I think I'm hitting the exact same issue as @magicsong:
[code]
This is run against an AKS cluster.

Really unpleasant, as the cluster is not able to recover from this state. Recreating the pods manually solves it.

[2020-04-24 09:56] yann-soubeyrand opened #90444 "New type of Service: external SRV record"
**What would you like to be added**:

I'd like a new type of Service, an external SRV record service which would be configured similarly to an external name service, by setting an external DNS record. However, contrary to an external name service which translates to a CNAME to the DNS record, this new service type would continually resolve the SRV record in the background and update the service en

[2020-04-24 09:58] yann-soubeyrand commented on #90444
/sig network

[2020-04-24 10:29] hasheddan opened #90445 "[Failing Test] gci-gce-ingress (ci-kubernetes-e2e-gci-gce-ingress)"
**Which jobs are failing**:

`gci-gce-ingress (ci-kubernetes-e2e-gci-gce-ingress)`

**Which test(s) are failing**:

[code]

**Since when has it been failing**:

`04-23-20 10:56 PDT`

**Testgrid link**:

https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-ingress

**Reason for failure**:

[code]

**Anything else we need to know**:

/cc @kubernetes/ci-signal @kubernetes/sig-network-

[2020-04-24 10:32] smlHao opened #90446 "telnet nameserver 不通"
![image](https://user-images.githubusercontent.com/3837738/80203564-f478f300-8659-11ea-8867-41cbfef81fe0.png)

how to solve this?

[2020-04-24 10:42] smlHao commented on #90446
/sig network

[2020-04-24 11:48] nmathew opened #90450 "E2E: networking_perf.go test erroring out"
**What happened**:

E2E:networking_perf.go test failing
My cluster is based on 1.16.3 release with multus CNI, when I ran networking_perf suite from e2e.test, it is failing out with below error.
Apr 17 07:46:25.532: INFO: At 2020-04-17 07:36:40 +0000 UTC - event for iperf-e2e-pod-0: {kubelet worker-pool1-09u5e8jl-esiperu-demo-cluster} FailedCreatePodSandBox: Failed create pod sandbox: rpc
error: c

[2020-04-24 12:21] ahmedwaleedmalik commented on #90438
/sig cli

[2020-04-24 12:22] hasheddan opened #90451 "[Failing Test] gce-cos-master-slow (ci-kubernetes-e2e-gci-gce-slow)"
**Which jobs are failing**:

`gce-cos-master-slow (ci-kubernetes-e2e-gci-gce-slow)`

**Which test(s) are failing**:

`[sig-network] Loadbalancing: L7 [Slow] Nginx should conform to Ingress spec`

**Since when has it been failing**:

`04-23-20 11:09 PDT`

**Testgrid link**:

https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-cos-master-slow

**Reason for failure**:

[code]

**Anythin

[2020-04-24 12:23] hasheddan commented on #90451
Ref: #90445

[2020-04-24 12:32] beikov opened #90453 "DNS name with pod name prefix shouldn't resolve to an IP when Service does load balancing"
**What happened**:
I had some very strange problems with my Solr Cloud cluster which took me a while to figure out the reason. I am using a StatefulSet for my Solr deployment and used the `-Dhost` option to specify the host name for the pods such that solr-0 gets solr-0.solr.test i.e. matching the pattern POD.SERVICE.NAMESPACE which is the network identifier for the pod.
My problem now is, that I

[2020-04-24 12:34] beikov commented on #90453
/sig network

[2020-04-24 12:50] savitharaghunathan commented on #86843
@knabben @gavinfish I have updated the original issue with the flags that you are either interested to work on/working on.

[2020-04-24 12:52] xing-yang commented on #74359
KEP was merged in 1.18.
CSI spec change was merged too: https://github.com/container-storage-interface/spec/pull/415
Implementation in kubernetes-csi is WIP.

[2020-04-24 12:52] xing-yang commented on #74359
/remove-lifecycle stale

[2020-04-24 12:56] #85635 closed

[2020-04-24 12:56] #85636 closed

[2020-04-24 13:06] chrisohaver commented on #90403
OK, so something must have changed in your upstream nameserver that handles the zone `3k32yaozxvnuteru2c5qb54rqg.bx.internal.cloudapp.net.`...

[2020-04-24 13:09] chrisohaver commented on #90403
/remove-kind bug
/remove-triage unresolved

[2020-04-24 13:18] chrisohaver commented on #90403
... Actually... before declaring this an upstream issue... can you confirm that when you query the upstream directly, that you also get a SERVFAIL (i.e. that this is not some kind of issue with they way CoreDNS is forwarding the query upstream?)
e.g.
[code]

[2020-04-24 13:21] liggitt commented on #90287
We should avoid changing the interface in a patch release.

[2020-04-24 13:22] vikramkhatri commented on #72826
I still see the same issue when my Calico/cni node is 3.13.2 using Kubernetes 1.16.9

My setup is 3 master node. I do not see this problem is a single master node V<.

[2020-04-24 13:57] #83439 closed

[2020-04-24 13:57] #84263 closed

[2020-04-24 14:02] liggitt commented on #90287
I think initializing the timer in Backoff() and documenting the returned timer must be expired and drained before calling Backoff() again is the most compatible thing we can do:

[code]

[2020-04-24 14:10] AceHack commented on #69264
So is NLB still an alpha feature of EKS or is it now more supported?

[2020-04-24 14:25] fengzixu commented on #90402
After I looked comments above, I think I can confirm some points as below

#### Confirmed

1. Unify all calculating resource request logic of the scheduler package to the single place. We prefer to put this logic in `frameworkv1alpha1/types.go` file for better sharing
2. Change the "assign default resource request logic" from per container to per pod
3. Use the "Variadic Argrument" mechanism in Go

[2020-04-24 14:32] alculquicondor commented on #90402
My take is that it should be respected and considered 0.

I think you can start a PR with the points you have. And a follow up would be to make kubelet use the code in framework so that we can remove `pkg/api/v1/resource`

[2020-04-24 14:34] prankkelkar commented on #87197
@ryan-cradick The issue on s390x can be resolved using steps mentioned in one of the [comments](https://github.com/kubernetes/kubernetes/issues/87197#issuecomment-588897102) above .After debugging it was found that there was an issue with cross-compilation of the image and the culprit was old QEMU version. A straightforward fix would be upgrading the QEMU version as mentioned [here](https://github

[2020-04-24 14:50] fengzixu commented on #90402
Got your point. Let me submit my PR first.

[2020-04-24 15:02] aojea commented on #90451
my `git bisect` fu points me to this commit

[f624314f91d27292661115f4a7e12f33f50cb72f] Fix multiple conversion tests

that belongs to this PR https://github.com/kubernetes/kubernetes/pull/90018 , that seems related

@liggitt @wojtek-t can you confirm if that PR is the cause this test is failing?

(should we gate on this test?)

[2020-04-24 15:06] liggitt commented on #90451
Yes, that PR is related to the failure. The `ingressFromManifest()` test utility is trying to convert extensions/v1beta1 data read from various `ing.yaml` files directly to a networking.k8s.io/v1beta1 go type. This was never a valid thing to do, and happened to silently succeed because the two structs had an identical structure.

[2020-04-24 15:07] liggitt commented on #90451
the correct fix is to update the test/e2e/testing-manifests/ingress/.../ing.yaml files to networking.k8s.io/v1beta1

[2020-04-24 15:17] bowei commented on #90451
/assign

[2020-04-24 15:23] BrenemanR commented on #81584
I know this issue is closed, but I'm following up to see if enabling NLB access logs via annotations is or will be supported. I'm looking to enable logs using the same annotations as in the previous comment. If this is not currently supported, what is the best way to enable the logs in the deployment? I'm looking for a way that isn't manually enabling them in the AWS console.

[2020-04-24 15:26] wojtek-t commented on #90451
It was my PR that broke this - I can also fix that.

[2020-04-24 15:33] soltysh commented on #89262
The problem doesn't seem to be with kubectl but rather with apiserver on windows, we're seeing 417 HTTP returned on every request for retrieving services. I think someone from @kubernetes/sig-api-machinery-bugs or @kubernetes/sig-windows-bugs should look into it.

[2020-04-24 15:48] aojea commented on #90451
Thanks,
o it was the commit that was good but the test that was wrong :upside_down_face: ,
At least I got right the commit :sweat_smile:

[2020-04-24 16:38] #86547 closed

[2020-04-24 16:51] bowei commented on #90445
/assign

[2020-04-24 16:56] snaik commented on #90240
Similar problem had been vexing me as well. After some troubleshooting, it was observed the base64  and tr solution doesn't work well in an MacOS environment. Using the gbase64 utilities from GNU has a '-w <col>' option that will not line wrap. Once I installed gnu coreutils and used gbase64, the scripts worked as expected. The problem is related to 'tr' and line-wrapping using the original combin

[2020-04-24 17:00] danielgblanco opened #90461 "HPA v2 scales up deployment during rolling updates"
**What happened**:
I have been experiencing some strange behaviour on the HPA v2 on v1.14.9, where it scales up a deployment unnecessarily during rolling updates. The deployment has a `maxSurge` of 1 and a `maxUnavailable` of 0, and while the deployment is completely idle at 1 replica, a rolling update makes it scale up to 4 replicas or more very rapidly, and then scales down gradually. This seems

[2020-04-24 17:01] danielgblanco commented on #90461
/sig autoscaling

[2020-04-24 17:19] mohamadnikan2013 opened #90462 "Kubernetes API Server authentication and authorization webhook failed due to the server could not find the requested resource"
**What happened**:
API server couldn't use webhook to authenticate requests using barrier token
[code]
**What you expected to happen**:
I configure necessarily config so I expect my api server use my webhook to authnz
[code]
**How to reproduce it (as minimally and precisely as possible)**:
run api server using this command
[code]
**Anything else we need to know?**:
when I checked my available apis

[2020-04-24 17:21] mohamadnikan2013 commented on #90462
/sig auth

[2020-04-24 17:23] mohamadnikan2013 commented on #90462
/sig api-machinery

[2020-04-24 17:47] SeMeKh opened #90464 "Expose eviction-related metrics in kubelet"
**What would you like to be added**:
Expose the threshold of each eviction signal, and optionally their current value.

**Why is this needed**:
Since an eviction might cause disruption to the overall quality of service, we'd like to be able to prevent it from happening. Right now, we can collect most of the required metrics from the node exporter, except for the threshold after which an eviction i

[2020-04-24 17:52] SeMeKh commented on #90464
/sig node

[2020-04-24 17:57] zhan849 commented on #90287
Thanks @liggitt and @wojtek-t
I'm also more inclined to Jordan's proposal, besides avoid interface change, if user are able to accurately pass "if timer is drained" info, it's fair to let user finish draining.

@liggitt do you have a PR already? of if not, I can make one, and add more tests if possible about this failure case.

[2020-04-24 17:59] liggitt commented on #90287
I do not have a PR open

[2020-04-24 18:43] wojtek-t commented on #90451
https://github.com/kubernetes/kubernetes/pull/90465 is out for review (talked with @bowei offline, he was aware that I'll send that out)

[2020-04-24 18:54] TechnoChimp opened #90466 "Environment Variable Interpolation is Order Dependent"
**What happened**:
Variables are not interpolated when the variable assignment is ordered after the variable use.

**What you expected to happen**:
I would expect variable interpolation to succeed regardless of the order of the variables.

**How to reproduce it (as minimally and precisely as possible)**:
Define variables for a container spec in the following order:

- name: var2
   value: $(var1).

[2020-04-24 19:01] TechnoChimp commented on #90466
/sig apps

[2020-04-24 20:10] matthias50 commented on #90334
We are also seeing this with crio on Kubernetes 1.15.11. Here is a pod spec which can readily reproduce the issue. All it does is spew to standard out for 5 minutes and then die.

[code]

After this has been running for 10 minutes or so, here is what things look like on the node:

[code]

As you can see, each time the container restarts, the counter for ContainerLogMaxFiles restarts. Thus a pod wh

[2020-04-24 20:40] deads2k opened #90473 "batch v1beta1 will be deprecated in 1.22"
per https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/1635-prevent-permabeta/README.md.   https://github.com/kubernetes/kubernetes/pull/90472 added the tags, but the release note should be in 1.22.

[2020-04-24 21:05] dims opened #90474 "Fix entries in root go.mod for staging repositories just before tagging a release"
Looking at a released go.mod file:
https://github.com/kubernetes/kubernetes/blob/v1.18.2/go.mod#L141-L152

Please see the for all the staging repos, we have `v0.0.0` in the root go.mod. If there was a way for the release tooling to update this go.mod file just before we cut alpha/beta/rc/final etc. that would help some folks.

Yes, this gets into the discussion that folks should not use k/k direct

[2020-04-24 21:06] dims commented on #90474
oh in the example above the suggestion would be for the `v0.0.0` to be `v1.18.2`. Yes i know when we cut the release publishing bot has not yet run that publishes code to the repos that get populated from staging repos.

[2020-04-24 21:08] tedyu commented on #90334
Looking at the doc for this flag:

<Warning: Beta feature> Set the maximum number of container log files that can be present for a container. The number must be >= 2. This flag can only be used with --container-runtime=remote.

I think the current behavior aligns with the description above (1.log.*, 2.log.*, respectively).

I wonder if another flag should be introduced which bounds the number of l

[2020-04-24 21:08] liggitt commented on #90474
I am not in favor of making our release tagging workflow more complicated, to add commits referencing dependency versions that don't yet exist, to enable uses we explicitly don't support.

[2020-04-24 21:15] matthias50 commented on #90334
It doesn't seem right that Kubernetes would intentionally allow unbounded node file system consumption. With the current behavior, a misbehaving or malicious pod can easily take down a node by filling its file system with logs. So I'm not really buying the argument that this is "works as designed."

[2020-04-24 21:28] tedyu commented on #90334
Have you tried setting non-default ContainerLogMaxSize value to bound the log file consumption ?

Thanks

[2020-04-24 21:32] liggitt commented on #90462
This means when the API server made a request to the URL configured in `--authorization-webhook-config-file=/etc/kubernetes/webhook/authorization-config.yaml`, it received a 404 error. Make sure your authorization-webhook-config-file is valid and is pointing at a server and path that returns a valid TokenReview response as documented in https://kubernetes.io/docs/reference/access-authn-authz/authe

[2020-04-24 21:32] #90462 closed

[2020-04-24 21:32] matthias50 commented on #90334
That doesn't help. ContainerLogMaxSize limits the size of any instance of a log file. However, since a pod can cause an unlimited number of the files to be created (as shown above), the space consumption is unbounded.

[2020-04-24 21:35] alita91 commented on #43984
Hello Eduard,

I hit this issue on Kubernetes 1.16 and helm 2.14.2, while deploying metrics-server:

[code]

Is there a good practice to make helm resilient to failure, like retry the API call after some time?

Thanks

[2020-04-24 21:38] liggitt commented on #90466
since envvars can reference each other, and cycles are possible, this matches behavior of defining envvars in a shell, etc. this behavior should be documented.

[2020-04-24 21:39] lorenzo-david commented on #46508
Any updates on this one?

[2020-04-24 21:41] liggitt commented on #90438
`spec.finalizers` is only mutable via the `/finalizers` subresource

this is described obliquely in the [namespace design](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/namespaces.md#finalizers), but should be called out explicitly in the field documentation

[2020-04-24 21:46] liggitt commented on #90431
closing as duplicate of https://github.com/kubernetes/kubernetes/issues/90432

/close

[2020-04-24 21:46] #90431 closed

[2020-04-24 22:00] andrewsykim commented on #90188
Unfortunately this is a side effect of:
1) setting conn_reuse to 0
2) not deleting an RS when the pod is deleted

Not sure there's much we can do about 1) because the performance trade-offs are probably not worth it, but I think 2) will be fixed if KEP-1672 (https://github.com/kubernetes/enhancements/pull/1607) is approved. With KEP-1672 we would start tracking the terminating state of endpoints s

[2020-04-24 22:02] andrewsykim commented on #90188
/remove-triage unresolved

[2020-04-24 22:05] #85655 closed

[2020-04-24 22:07] andrewsykim commented on #81775
/remove-lifecycle rotten

[2020-04-24 22:12] andrewsykim commented on #81775
Once https://github.com/kubernetes/enhancements/pull/1607 is approved, we should be able to start tracking terminating state of endpoints which means we can delete a real server as soon as the pod is terminated. This _should_ mean the # of "inactive" conntrack entries (mostly connections in TIME_WAIT) will be significantly less. I'm hoping this should alleviate most of the issues we're seeing with

[2020-04-24 22:15] M00nF1sh commented on #69264
@AceHack it's considered beta on 1.15+

[2020-04-24 22:22] tedyu commented on #90334
If a new flag is to be introduced, I think we should bound the total log file size for a given Pod.

[2020-04-24 22:27] andrewsykim commented on #89871
FYI: SIG Network is currently discussing whether we want to move forward with the Service Topology feature in it's current form. Having said that I'm still curious about this issue.

@balraj111 the service topology feature depends on EndpointSlice feature being enabled. Can you confirm if you've enabled that?

[2020-04-24 22:32] #87851 closed

[2020-04-24 22:32] #90451 closed

[2020-04-24 22:55] balraj111 commented on #89871
@andrewsykim yes, I enabled that.
https://github.com/kubernetes/kubernetes/issues/89856#event-3203202635.
Initially I was facing some issue so i raised the bug, but then I resolved it.

[2020-04-24 23:11] andrewsykim commented on #89871
Can you share output from `kubectl get nodes -o yaml` and `kubectl get endpointslice -l kubernetes.io/service-name=my-service -o yaml`?

[2020-04-24 23:16] BenTheElder commented on #87197
I just don't have time for this right now, I'm over-extended as is.

Anyone can PR the QEMU change, but you're going to need to fix the fact
that this particular build doesn't appear to respect that QEMUVERSION
anyhow...

On Fri, Apr 24, 2020 at 7:34 AM Prasanna Kelkar <notifications@github.com>
wrote:

[2020-04-25 01:44] warmchang commented on #86337
FYI: https://github.com/kubernetes/kubernetes/commit/73b2d831254756a3595625432a6c23398e180472#diff-f68f85ddd69f898c7c548d9524f25d0a

[2020-04-25 03:43] #90412 closed

[2020-04-25 03:58] mitar commented on #69816
/remove-lifecycle stale

[2020-04-25 04:19] tedyu commented on #90334
[rm-excess-log.txt](https://github.com/kubernetes/kubernetes/files/4532345/rm-excess-log.txt)

[2020-04-25 04:23] tedyu commented on #90334
The presence of 0.log.20200424-* files was due to the fact that log manager only checks containers in runtimeapi.ContainerState_CONTAINER_RUNNING .
For non-running containers, I think containerLogManager#removeExcessLogs() should also be called (without log rotation).

@matthias50 @zischknall
I want to get your opinion on rm-excess-log.txt above.

thanks

[2020-04-25 08:08] yiyang5055 commented on #89930
/cc

[2020-04-25 08:08] Henry-Asante commented on #53881
$ kubectl get nodes
Unable to connect to the server: dial tcp 34.229.22.26:443: connectex: No connection could be made because the target machine actively refused it.

Even after setting up the KUBECONFIG env variable.

[2020-04-25 08:12] tlereste commented on #90055
Hi @mcandre , I don't reproduce this issue.

I create a pod :
`kubectl run nginx --image=nginx --restart=Never`

I can get it with adjacent `-n` :
`kubectl get po -n my-namepsace -l run=nginx`

And I can also get it with adjacent `--all-namespaces` :
`kubectl  get po --all-namespaces -l run=nginx`

Do you have steps to reproduce this issue ?

[2020-04-25 08:15] #80041 closed

[2020-04-25 08:15] #84872 closed

[2020-04-25 08:23] inoam opened #90482 "kubectl get events returns null on some events timestamp fields"
**What happened**:
Ran `kubectl get events -o yaml`
got list of events but some of the timestamp fields are missing
for example here - no first and last:
[code]

While here no eventTime:
[code]

**What you expected to happen**:
get list of events in yaml format, with all following fields not null:
`firstTimestamp`
`lastTimestamp`
`eventTime`
`metadata.creationTimestamp`

such that I'll be able to

[2020-04-25 08:23] inoam commented on #90482
/sig cli

[2020-04-25 08:45] aojea commented on #90453
@beikov I can't reproduce the behavior that you mention with 1.17.

It seems you are using an old kubernetes version (1.9) that was using kube-dns IIRC and, since 1.11, CoreDNS reached GA https://kubernetes.io/blog/2018/07/10/coredns-ga-for-kubernetes-cluster-dns/ and maybe it doesn't show that behavior.

Also, bear in mind that kubernetes latest supported release is 1.16 at this time https://kube

[2020-04-25 08:46] raghuchahar007 opened #90483 "unexpected behavior using zip-stream NPM on GKE"
I am working on creating a zip of multiple files on the server and stream it to the client while creating. Initially, I was using [https://www.archiverjs.com/](url) It was working fine if I was appending buffer to it but it fails when I need to add streams into it. Then after having some discussion here [https://github.com/archiverjs/node-archiver/issues/364#issuecomment-573508251](url), I switche

[2020-04-25 09:01] beikov commented on #90453
Great to hear that this is fixed in newer versions, that's all I wanted!

[2020-04-25 09:01] #90453 closed

[2020-04-25 09:16] #85670 closed

[2020-04-25 10:17] aojea commented on #90453
I couldn't reproduce it , if anyone else is able to reproduce it please reopen the issue with more details on how to do it.

[2020-04-25 10:25] harshanarayana opened #90485 "DaemonSet Controller - Flaky race-condition on Version Check during UpdateStrategy"
**What happened**:
While running a simple loop test on DaemonSet to evaluate certain flaky behavior, I noticed that the pods for DaemonSets don't always get scheduled due to `Operation cannot be fulfilled on daemonsets.apps "daemonset-example": the object has been modified; please apply your changes to the latest version and try again`  Error.

This behavior is really flaky and doesn't always repr

[2020-04-25 10:27] harshanarayana commented on #90485
/sig apps

[2020-04-25 10:28] harshanarayana commented on #90485
/sig scheduling

[2020-04-25 12:05] aojea commented on #90444
I'm curious about this use case, but I'm not totally getting it sorry

A service Type ExternalName

[code]
answers a CNAME record with the data provided
[code]

[2020-04-25 12:09] hasheddan commented on #90445
This appears to have been fixed by https://github.com/kubernetes/kubernetes/pull/90465 as well. Thanks @wojtek-t!

/close

[2020-04-25 12:09] #90445 closed

[2020-04-25 12:19] #80967 closed

[2020-04-25 12:28] tedyu commented on #90334
[rm-excess-log.txt](https://github.com/kubernetes/kubernetes/files/4532942/rm-excess-log.txt)

[2020-04-25 12:51] cCloudSky commented on #90204
Can we add a field on the node and pod resource?
Node.status.topology field is managed by kubelet, show the topology collected by kubelet, for example:
[code]
and add a field on the pod resource, this field manage by kubelet, set on kubelet allocate resource for pod.
[code]
then, we can easily write scheduling strategy based on topology.

[2020-04-25 12:57] #87893 closed

[2020-04-25 13:08] raghuchahar007 commented on #90483
/sig Network

[2020-04-25 13:22] zischknall commented on #90334
I think an option should be added to determine the number of old instances to keep around for investigation of issues. Then we don't really need to run the logrotation with number and size of logs over dead containers logs, if it was honored during their lifetime there should only be five of them. And then we would only keep the logs of the currently running container N down to the options value M

[2020-04-25 13:45] yann-soubeyrand commented on #90444
@aojea thanks for your curiosity about this use case ;-)

Continuing on your example, let's modify my-service to look like this:

[code]

Let's say the SRV record for my.database.example.com looks like this:

[code]

And let's say the the A records corresponding to the targets of the SRV record look like this:

[code]

The priority of 0 for my-db-replica-4.xxxxx.eu-west-1.rds.amazonaws.com indicat

[2020-04-25 14:15] aojea commented on #90450
/assign
/remove-triage unresolved

[2020-04-25 14:40] tedyu commented on #90334
Is M the value of ContainerLogMaxFiles or the instances to keep ?
What's N ?
How is 5 determined ?

Please give clear definition.

[2020-04-25 15:04] lbernail commented on #72236
@uablrek this is very interesting and worth exploring
This is actually what the google_network_daemon does on gce for Internal Load Balancers (traffic reaches the instances with the ILB VIP and in order for this address to be considered local the daemon adds the VIP to the local route table).

This would greatly improve performances too.
Just to summarize, this would mean:
- dropping the IPVS inte

[2020-04-25 15:05] liggitt commented on #90482
This is the responsibility of the component creating the event, not the CLI. I'd suggest opening specific issues for the problematic reporting components.

[2020-04-25 15:11] aojea commented on #90444
who generate the A records?

[2020-04-25 15:16] lbernail commented on #79783
@andrewsykim I believe a flag for kube-proxy or an additional status field set by the cloud provider implementation are the simplest approaches (because I don't see scenarios where the behavior would change between services of type LoadBalancer in the same cluster)

@uablrek I'm not sure removing kube-ipvs0 would solve this here because we would have to add LoadBalancer IPs to the local route tabl

[2020-04-25 15:23] secret104278 commented on #66661
Can you provide your full `haproxy.cfg` ? I've tried update timeout server/client, but my kubectl exec still timeout after 2m.

[2020-04-25 15:25] Sh4d1 commented on #79783
@lbernail the solution also solves some LoadBalancer bypass mechanism issues with LB that for instance encapsulate in proxy protocol (it's better described in the KEP 😅) and in this case I could see some scenarios when the user would want to enable/disable it by service

[2020-04-25 15:26] andrewsykim commented on #79783
In https://github.com/kubernetes/enhancements/pull/1392 I suggested adding a status field to enable/disable binding the LB IP. Let's move the discussion there.

[2020-04-25 15:28] lbernail commented on #72236
@uablrek as explained in the other issue we would still need to add loadbalancer IP to the local route table

Having look into it some more it's not easy:
- we don't have the service cidr in the kube-proxy configuration
- the pod cidr is optional

What we could do is add an iptables rule dropping all traffic from the pod CIDR to the service cidr but not matching the set KUBE-CLUSTER-IP but this wo

[2020-04-25 15:35] inoam commented on #90482
@liggitt as always thanks for reply!
Just to be sure - in the first case for example talks about  assigning pod to a node, component is default scheduler, so I should open bug for the specific event and tag sig scheduling ? (I will find my way for the other examples)

[2020-04-25 15:37] yann-soubeyrand commented on #90444
The A records are generated by AWS: when you create a RDS instance, AWS gives you an A record of the form \<instance-name\>.\<id-related-to-aws-account\>.\<aws-region\>.rds.amazonaws.com. This is because the IP address of the instance can change (for example after an outage).

The SRV record would be generated by me.

The idea is to introduce a load balancing between the instances which is transpa

[2020-04-25 15:37] generals-space commented on #46508
I don't think they will make a new API for this.

I have searched the output of `kubectl cluster-info dump` and found the `--cluster-cidr`(and `--service-cluster-ip-range`) field.

Maybe we can just get the `controller-manager` or `apiserver` Pod resource in our pods, and find the `--cluster-cidr` and `--service-cluster-ip-range` in their `.spec.containers.command` block.

[2020-04-25 16:04] aojea commented on #90444
but ... you can do that with whatever loadbalancer, L4 or L7, right?

You can use a service ExternalName to point to the virtual ip of the external load balancer.
The external load balancer will use the A records as backends and health checks to not blackhole traffic

[2020-04-25 16:36] zischknall commented on #90334
Sorry if i wasn't clear enough M is the number of instances to keep N is the number of the current container. Every log older than that should be deleted if this is represented by your patch I didn't get it.

[2020-04-25 16:54] tedyu commented on #90334
By instance to keep, did you mean the following (from @matthias50 example above):
[code]
Does M only apply to non-running containers (since running containers are covered by existing parameters) ?
If so, it seems M == 1 (per image) would be acceptable (for investigational purpose).

[2020-04-25 17:31] uablrek commented on #79783
@lbernail True, but the point is that you can set the "src" address to something else than the clusterIp itself, e.g the node address.

[2020-04-25 17:51] lbernail commented on #89358
@andrewsykim We are not except for the kubernetes service on older clusters (it used to be set by default)
We patched it a while back when we added support for graceful termination and it seemed to work as expected (we set `expire_quiescent_template`, see https://github.com/kubernetes/kubernetes/pull/71834). I'm not very surprised it does not work well for very low timeouts (which would not very u

[2020-04-25 17:55] aleeminati opened #90488 "Unable to deploy AI model to Kubernetes"

[2020-04-25 18:00] kvaps commented on #66661
@secret104278, sure:

[code]

[2020-04-25 18:17] yann-soubeyrand commented on #90444
This can of course be done with a load balancer ;-) The goal is to have this functionality built into Kubernetes to avoid having to manage a load balancer. IMHO, having to manage a load balancer every time you encounter this use case should not be necessary, the platform should offer this functionality.

It can of course be implemented in a separate controller but I thought it's a sufficiently com

[2020-04-25 19:05] rubenst2013 commented on #70411
Same for me on 1.18.2
Seeing this ertor after creating a fresh cluster with 3 masters and 2 workers with vagrant/virtualbox and kubeadm.

First two masters seem to be able to communicate  properly. The third master and the two workers I had to restart kubelet which then shows the mentioned errors about tls handshaking.

The cluster was created a few hours ago. The join tokens are valid for 24hrs.

[2020-04-25 19:21] PaulWBrassard commented on #85963
@enj This cannot be true based on the ability to write RBAC with allow rules for specifically named resources.
Source - https://kubernetes.io/docs/reference/access-authn-authz/rbac/
[code]

[2020-04-25 19:23] Asgoret commented on #53059
Same on OKD 3.11 with Ceph RDB storage

[2020-04-25 19:39] enj commented on #85963
You are misunderstanding what I mean.

If you try to do:

`kubectl get cm` it will fail with an authorization error.  Only `kubectl get cm my-configmap` will work.

If the API could return a partial list based on authorization, the first query would return the single config map you have access to.  This is critical for meaningful deny rules since you do not know the names of individual objects.

[2020-04-25 19:40] EdwinRobbins commented on #85489
@waynepeking348 if you are running into this issue when using dynamic auditing I was able to mitigate the effect by running a fork of k8s with a lower timeout for the apiserver's requests to the audit webhook. The default 30s timeout was causing a connection build up in the apiserver. If your audit webhook is being throttled increasing its limits may also help

[2020-04-25 20:03] tedyu commented on #90334
[rm-excess-log.txt](https://github.com/kubernetes/kubernetes/files/4533912/rm-excess-log.txt)

[2020-04-25 20:24] iahmad-khan commented on #90488
@aleeminati

Hi , I may not be the best person to reply here , but I think this is not related to kubernetes itself and you may ask your question on some other platform , such as stackovferflow might be the best place.

[2020-04-25 20:31] lbernail commented on #81775
KEP-1672 will definitely be a huge improvement for IPVS graceful termination (it will require EndpointSlices which are not GA yet but still).
Thanks a lot for your work on this @andrewsykim

[2020-04-25 21:00] liggitt commented on #90482
Actually, it looks like firstTimestamp/lastTimestamp is deprecated in favor of eventTime reported in newer versions of the events helpers and API. See https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/1661-new-event-api-ga-graduation#comparison-between-old-and-new-apis

The scheduler reports events using the newer version when available, so the eventTime field is popu

[2020-04-25 21:01] liggitt commented on #90482
The firstTimestamp/lastTimestamp and eventTime fields are optional, so clients must tolerate events without those timestamps set.

[2020-04-25 21:01] #90482 closed

[2020-04-25 21:02] liggitt commented on #90482
there are issues tracking migrating components to the newer events helpers and API: https://github.com/kubernetes/kubernetes/issues?q=is%3Aopen+%22use+v1beta1+events%22+is%3Aissue+

[2020-04-25 21:29] tedyu commented on #90334
[rm-excess-log.txt](https://github.com/kubernetes/kubernetes/files/4534030/rm-excess-log.txt)

[2020-04-25 22:19] #90287 closed

[2020-04-25 22:47] KnicKnic opened #90492 "use filepath to concatenate cert paths"
Cert path was generated with wrong slashes

**What happened**:

Paths generated with path and not filepath do not work always work on windows. `c:\tmp/file.crt` will in general work, however volume guid paths will not `\\?\Volume{26a21bda-a627-11d7-9931-806e6f6e6963}\tmp/file.crt`

This issue is related to rancher/k3s#1687

[2020-04-25 23:54] BenTheElder commented on #89064
cc

[2020-04-26 00:56] lojies commented on #72155
@aermakov-zalando @jwm @BrianKopp @sharkymcdongles
Could the daemonset pod  be seen with error status or it was not be created at all.I met the scence with DESIRED of ds was correct but pod was not created at all.

[2020-04-26 01:00] aleeminati commented on #90488
Yes, you're right but I can not delete the issue.

On Sun, Apr 26, 2020 at 1:25 AM Ijaz ahmad <notifications@github.com> wrote:

[2020-04-26 01:00] #90488 closed

[2020-04-26 01:32] #82163 closed

[2020-04-26 01:51] tarjintor commented on #80818
I have the same requirement,and I solved it in 2 diffrent ways
1.use ansible
2.use daemon set with mount hostpath of /var/run/docker.sock
both ways are try to execute docker commit in slave nodes
If there is a better way,I would like to know.
Since this issue closed for a long time,I wonder if there is any new solution today?
@Philbewan

[2020-04-26 02:24] l1b0k commented on #90298
@xiaoanyunfei thanks for your reply . This PR only sort `podSandbox` by attempt ,but in my case , the problem is caused by `containerStatusByCreated`. Which can be reproducted by kill running container.

[2020-04-26 02:24] #90434 closed

[2020-04-26 02:25] jcxian commented on #90434
/sig custom-metrics-apiserver

[2020-04-26 02:33] #85557 closed

[2020-04-26 02:54] knabben commented on #86843
I'm taking the testing ones on https://github.com/kubernetes/kubernetes/pull/90499
[code]

The --chaos-change looks deprecated and not used in any place, should it be moved to deprecated/removed?

[2020-04-26 02:57] tedyu commented on #90298
See https://github.com/kubernetes/kubernetes/issues/90298#issuecomment-616628650

We need to find alternative to Attempt for ContainerStatus

[2020-04-26 03:05] #90492 closed

[2020-04-26 03:24] lbf19881016 commented on #54542
I close swap memory ,but also start kubelet,who can explaint ?

[2020-04-26 04:45] RahulRatan07 commented on #17512
How can we get memory dumps logs of the pods?
Pods are often getting hung,

[2020-04-26 05:59] SataQiu commented on #90435
Maybe related to this: https://github.com/kubernetes/kubernetes/issues/89520
You can try to upgrade your system kernel to 4.xx edition

[2020-04-26 06:03] SataQiu commented on #90429
Did you clean up `/etc/cni/net.d/*`? `kubeadm reset` won't automatically do that for you.

[2020-04-26 07:02] gaorong commented on #90159
@immutableT @mikedanese  could you help take a look?

[2020-04-26 07:15] aojea commented on #89064
/cc

[2020-04-26 07:38] #65756 closed

[2020-04-26 08:11] aojea commented on #71565
I'm going to close this because there are no errors on the `pull-kubernetes-e2e-gce-*` jobs in the last 5 days, and only one error in the  `ci-kubernetes-e2e-gci-gce-*`that I can't explain, because theoretically, the loop to find the close_wait connection has to run every second during 30 seconds and, in that failure, it only runs 3 times.

There are other errors of this test with the output `pod

[2020-04-26 08:11] #71565 closed

[2020-04-26 09:05] fvigotti commented on #22024
Me too, another thing is that this message if it's a normal and expected should not be leveled as "W"arning but "I"nfo

[2020-04-26 09:40] #81020 closed

[2020-04-26 10:23] zhangguanzhang opened #90503 "imagePullSecrets cannot work for the private infra_image"
**What happened**:
the infra_image is set to: `harbor-local.unicloudsrv.com/muye/pause-amd64:3.1` and the image on my harbor
[code]
[code]
If there is no pause images on the node,kubelet will log
[code]
but the info of the `imagePullSecrets` is ok,  if I use the `docker pull` could pull the image. and the pod will be running after I use `docker pull harbor-local.unicloudsrv.com/muye/pause-amd64:3.

[2020-04-26 11:04] liruishan commented on #90393
version:1.15.6
pod priority config is as follows:
spec.containers.priorityClassName:system-cluster-cirtical

I tried version 1.16 and the test results were as expected, but I don’t understand why version 1.15 is wrong

[2020-04-26 11:10] mikkeloscar commented on #83107
/remove-lifecycle stale

[2020-04-26 12:07] yue9944882 opened #90504 "Free-form object directive as Map's value type in CRD openapi schema doesn't work"
/kind bug
/sig api-machinery
/cc @sttts @kubernetes/sig-api-machinery-misc

in [OAS's supported data models](https://swagger.io/docs/specification/data-models/dictionaries/), we can represent map structure using `additionalProperties`. and it says there's two official ways plus one CRD's extended way to represent free-form object:
[code]

(NOTE: however currently, 1 and 2 are not completely free-f

[2020-04-26 12:54] adampl commented on #53059
[Taint-based Evictions](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/#taint-based-evictions) feature should do the trick - it's GA since k8s 1.18.

[2020-04-26 13:21] liggitt commented on #90504
Can you clarify what you mean by `we can omit it in CRD's openapi schema`?

[2020-04-26 13:24] liggitt commented on #90504
I would expect approach 6 to be required to preserve unknown properties in object values without them being pruned.

[2020-04-26 13:34] mgaurav opened #90505 "Unable to request "attachable-volumes-aws-ebs" resource"
**What happened**:
I am running a EKS cluster and to respect volume attachment constraints which EC2 instances have, I want to use "attachable-volumes-aws-ebs" resource type in my request.

kubectl describe node shows "attachable-volumes-aws-ebs" resource is specified on the nodes. However, when I request it in my pod spec, I get an error.
[code]

[code]

**What you expected to happen**:
I expecte

[2020-04-26 13:38] mgaurav commented on #90505
/sig cloud-provider

[2020-04-26 14:18] tedyu commented on #90503
[code]
When you used docker pull, you would have logged in, hence command line worked.

[2020-04-26 14:34] zhangguanzhang commented on #90503
see the command
[code]
This command is effective for image pull of pod, but not for infra_image

[2020-04-26 14:45] #82770 closed

[2020-04-26 14:47] hkamel opened #90506 "[Flaky Test]: gce-master-scale-correctness (ci-kubernetes-e2e-gce-scale-correctness)"
**Which jobs are failing**:
gce-master-scale-correctness (ci-kubernetes-e2e-gce-scale-correctness)

**Which test(s) are failing**:
[sig-api-machinery] CustomResourcePublishOpenAPI [Privileged:ClusterAdmin] works for CRD with validation schema [Conformance]

**Since when has it been failing**:
04-26 05:02 PDT

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-

[2020-04-26 14:50] hasheddan commented on #90506
/milestone v1.19

Thanks for opening this! I'll get you on milestone maintainers soon @hkamel :)

Also, was taking a look at this as well and noticed this test was recently added: https://github.com/kubernetes/kubernetes/pull/89505

[2020-04-26 14:51] dims commented on #54542
Please see https://github.com/kubernetes/kubernetes/issues/53533

[2020-04-26 15:07] yue9944882 commented on #90504
i mean it doesn't make a difference whether we keep the line or not:

[code]

i agree 6 would be the officially recommended approach. so 4 is actually working but it's not intended? as a matter of fact, most developers learns the openapi schema from the OAS site which doesn't mention the kubernetes' pruning annotation, hence supporting 4&5 would make the CRD's openapi schema more user-friendly. la

[2020-04-26 15:18] liggitt commented on #90504
It makes a difference whether pruning is enabled for the CRD. In general, when pruning is on, x-kubernetes-preserve-unknown-fields is required to disable pruning. Are you using v1beta1 or v1 CRD (pruning defaults off in v1beta1, and defaults on in v1)? Do you have the full CRD manifest you are using?

[2020-04-26 15:49] tlereste commented on #88808
I had the same problem.

Here is a workaround :

Remove the Makefile and Makefile.generated_files files :
`rm Makefile Makefile.generated_files`

Create the symlinks :
`ln -s build/root/Makefile Makefile`
`ln -s build/root/Makefile.generated_files Makefile.generated_files`

This solution worked for me !

[2020-04-26 15:49] liggitt commented on #90504
Fields are only dropped when pruning is enabled (by default in v1 CRDs or when spec.preserveUnknownFields=false in v1beta1 CRDs).

When pruning is disabled, unknown fields are always preserved.

When pruning is enabled, I get validation errors trying to create the CRD you describe with `additionalProperties: {}`:

* spec.validation.openAPIV3Schema.properties[b].additionalProperties.type: Required

[2020-04-26 16:27] hypdeb commented on #87634
Is there really NO reference to what this config file should contain ? If yes, I support this request for documentation. I would like to help but I'm here exactly because I know nothing about kubectl :)

[2020-04-26 16:35] mmajko commented on #47862
bump +1
Really needed.

[2020-04-26 16:46] liggitt commented on #90504
kubebuilder will need to set x-kubernetes-preserve-unknown-fields as part of the transition to v1 and structural schemas

[2020-04-26 16:47] #85731 closed

[2020-04-26 16:57] liggitt commented on #90504
From what I can tell, the behavior is working as documented in https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#specifying-a-structural-schema and https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#pruning-versus-preserving-unknown-fields

If you're seeing something different, a complete reproduce

[2020-04-26 18:49] #82052 closed

[2020-04-26 19:48] msrinivascharan commented on #83936
i am using CentOS8 as node, works fine after disabling swap.

[2020-04-26 19:58] Xtigyro commented on #40651
+1

[2020-04-26 20:11] lukasmrtvy commented on #80745
I can confirm this. I am using kubespray (v2.12.5, baremetal), problem is with deployments using node selector.
After cluster restart, ( all masters ) a lot of pods will get MatchNodeSelector state. ( Perfect answer: https://stackoverflow.com/questions/56609029/how-pod-status-becomes-matchnodeselector/61402065#61402065 )

Labels are set via API:
* kubectl label node node1 foo=bar
* kubectl patch n

[2020-04-26 20:32] chiluk commented on #67577
@Nuru my slides are correct.  I'm a also an Ubuntu developer *(only in my spare time now). Your best bet is to read the sources, and check git blame +tag --contains to track when the patch hits the version of the kernel you care about.

[2020-04-26 20:51] #84528 closed

[2020-04-26 21:18] lukaszo commented on #67730
/remove-lifecycle stale

[2020-04-26 23:01] jherrera123 commented on #88132
@bartekzurawski are you still working on this? I'm interested in helping out as well.

[2020-04-26 23:03] karlkfi commented on #25908
Given that this issue is like 4 years old, the KEP hasn’t gone anywhere yet, and the state of the art is a hacky inline shell script replacing every entrypoint, I decided to codify the “standard” hack (tombstones in a shared volume) into a Go binary that can be easily baked into container images using a multi-stage build.

https://github.com/karlkfi/kubexit

Having to bake in a binary into each im

[2020-04-27 01:02] sadortun commented on #36572
@ChrisTerBeke Your link leaves us with a 404 too 😢

[2020-04-27 01:26] Nuru commented on #67577
@chiluk I had not seen your slides. For others who haven't seen them, here is where they say the patch has landed as of some time ago:
- Ubuntu 4.15.0-67+
- Ubuntu 5.3.0-24+
- RHEL7 kernel 3.10.0-1062.8.1.el7
and of course Linux stable v4.14.154 , v4.19.84, 5.3.9. I note it is also in Linux stable 5.4-rc1.

I'm still struggling to understand the various CFS scheduler bugs and find reliable, easy-t

[2020-04-27 02:12] wonleing commented on #90429
I executed following commands:
sudo systemctl stop kubelet
docker ps
docker stop [all running containers id]
rm -rf /etc/cni/net.d/*
sudo kubeadm reset
sudo iptables -F && sudo iptables -t nat -F && sudo iptables -t mangle -F && sudo iptables -X
sudo systemctl restart docker.service

it works. (only rm net.d files is not enough)

[2020-04-27 02:33] xjliang2007 commented on #63396
I have the same issue as described above, the app is stuck and health probe failed. @gpjacobs 's action show me some tips, I put no resource limit on the container, and it works, but I still not know the fundamental reason

[2020-04-27 02:47] liggitt commented on #90506
As noted in https://github.com/kubernetes/kubernetes/pull/89505/files#r415473166, this modified an existing conformance test and made it flaky. Please move the new test out of the conformance test and mark it as flaky until this issue has been resolved.

[2020-04-27 02:49] liggitt commented on #90506
Cc @knight42 @soltysh for flake introduced in https://github.com/kubernetes/kubernetes/pull/89505

[2020-04-27 04:20] chrisroat commented on #89651
Should the asciicinema on the getting started page be updated?  It shows installing 1.12, and it basically stops working half-way through because a deployment is not created.  (A bit jarring for someone new to the project.)

[2020-04-27 05:47] saraAlizadeh commented on #89860
I upgraded my Kubernetes from 1.16.4 to 1.17.5. also upgraded ceph-rook to latest. (rook v1.3)
everything was ok at first but then again, my pods started terminating and recreating.
could this have a relation with the number of pods or the number of PVs?
I don't know what is causing this...any ideas?

[2020-04-27 06:00] nqdrizzt commented on #90326
there is no sign of a pause:3.1 container configured anywhere:

detox@detox01-dm:~$ sudo systemctl status containerd
● containerd.service - containerd container runtime
   Loaded: loaded (/lib/systemd/system/containerd.service; enabled; vendor preset: enabled)
   Active: active (running) since Thu 2020-04-23 12:21:22 UTC; 3 days ago
     Docs: https://containerd.io
 Main PID: 439 (containerd)

[2020-04-27 06:04] BenTheElder commented on #90326
those pause processes are probably 3.1

what containerd version? until recently containerd used 3.1 as the pod sandbox image.

kubeadm OTOH assumes 3.2 for kubernetes 1.18+ and dockershim will use this.

you can either avoid the kubeadm pull step (sadly currently requires skipping preflight checks) or configure containerd to use the 3.2 image

[code]

[2020-04-27 06:11] uablrek commented on #79783
@andrewsykim

Would removing bind-addresses not solve the problem *only* for those using an external LB that load balances to node-ports (most public clud providers), but would not the problem in this issue remain for others (all private-cloud users and some public clud providers)?

[2020-04-27 06:15] nqdrizzt commented on #90326
detox@detox01-dm:~$ apt list containerd
Listing... Done
containerd/stable,now 1.3.3 all [installed]

Actually the current installation works a bit different for me: As I am locaten in a separated on premise network with no internet access available, we are delivering a tarball which contains all the basic container. This tarball gets import into the local repository before initializing k8s itself,

[2020-04-27 06:16] BenTheElder commented on #90326
This is more or less how sigs.k8s.io/kind works, we ran into the same issue. https://github.com/kubernetes-sigs/kind/issues/1471

[2020-04-27 06:17] BenTheElder commented on #90326
contained 1.3.3 uses pause:3.1 by default. 1.3.4 uses 3.2

[2020-04-27 06:20] 13567436138 opened #90510 "csr approved than denied ，can not be approved again"
**What happened**:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a

[2020-04-27 06:26] yiqinguo commented on #71907
I have this problem,with v1.11.1.Does anyone know why?

[2020-04-27 06:28] sharkymcdongles opened #90511 "Kubelet cannot detect CPU Cache for ARM CPUs"
**What happened**: On both k8s 1.16.1 and 1.18.2 Ubuntu 18.04 aarch64 and Rasbpian Buster ARM7l kubelet logs say cannot detect CPU cache and I see this:

`Apr 26 13:55:24 pi0 kubelet[1509]: E0426 13:55:24.900279 1509 machine.go:331] failed to get cache information for node 0: open /sys/devices/system/cpu/cpu0/cache: no such file or directory`

**What you expected to happen**: I expect CPU cache to

[2020-04-27 06:30] sharkymcdongles commented on #90511
/sig node

[2020-04-27 06:38] lukasmrtvy commented on #84248
What about labels ? Related: https://github.com/kubernetes/kubernetes/issues/80745

[2020-04-27 06:42] sparkoo opened #90512 "Multiple service delete with Foreground propagation policy results in hanging services"
**What happened**:
Observed on minikube `1.9.2` with kubernetes `1.18`. When I do multiple service delete requests with `propagationPolicy: Foreground`, some services are not deleted, only `finalizer` and `deletionTimestamp` is applied.

**What you expected to happen**:
All services that were requested to delete are actually deleted.

**How to reproduce it (as minimally and precisely as possible)*

[2020-04-27 06:50] draveness commented on #84248
/remove-lifecycle stale

[2020-04-27 06:55] zischknall commented on #90334
Yes M only applies to non-running containers in my idea, so a value of 2 for M would mean you have the logs of three containers in the folder (the current one + two older ones) which would add up to a maximum of 3 * `ContainerLogMaxFiles` (default 5) so 15 log files.

Otherwise I think log files of running containers and their previous instance's log files should be kept indefinitely since as long

[2020-04-27 07:07] nqdrizzt commented on #90326
after pinning containerd v1.3.3 to use pause version v3.2 it looks like the local repository only hast the pause:3.2 container stored:

detox@detox01-dm:~$ cat /etc/containerd/config.toml
version = 2

[debug]
  level = "warn"

[plugins."io.containerd.grpc.v1.cri"]
  sandbox_image = "k8s.gcr.io/pause:3.2"

detox@detox01-dm:~$ sudo crictl images
IMAGE                                TAG

[2020-04-27 07:20] knight42 commented on #90506
It is a bit weird that I cannot reproduce this problem on my local kind cluster by running
[code]
even after 20 times 😕

I suspect this is a cache issue since I once created a crd without short name `ksvc` and forgot to delete it in the test.

[2020-04-27 07:46] l1b0k commented on #90298
@tedyu can we  add `Attempt` field to `ContainerStatus`  ?
i have done a few change,and the problem is solved in my env.

[2020-04-27 08:14] sftim commented on #87634
https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/ exists
It would be great if https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/ could hyperlink to a reference document explaining `.kubeconfig` as  a reference.

[2020-04-27 08:29] ahmedwaleedmalik commented on #90438
Makes sense @liggitt  (y)

[2020-04-27 08:39] hmsvigle commented on #17512
- `kubectl describe nodes`  OR  `kubectl top nodes` , which one should be considered to calculate cluster resource utilization ?
- Also Why there is difference between these 2 results.
 Is there any logical explanation this yet ?

[2020-04-27 08:49] aermakov-zalando commented on #83107
@RobertKrawitz This happens with the Docker writable layer as well, and I don't think that one even supports limits.

[2020-04-27 08:50] aermakov-zalando commented on #77666
/remove-lifecycle stale

[2020-04-27 08:50] vnktram commented on #88886
@willise Is this a doc update or a code-fix? Please clarify. I'm willing to take this up.

[2020-04-27 08:51] shanmukha511 commented on #90369
Hi @aojea
have a quick question if it is packet drop does it logs in dns pod?
because i dont see any logs at dns pod.
Is it OS related issue?

[2020-04-27 09:03] huangjiuyuan opened #90514 "Support reflector with tuned backoff manager for informer factory"
**What would you like to be added**:
Support reflector with tuned backoff manager for informer factory.

**Why is this needed**:
We have clusters with more than 60k pods, configmaps, and crds in production. Several operators are watching api resources, which list all resources of one kind on start. We have encounterd apiserver oom for a couple of times and our control plane recovers slowly with th

[2020-04-27 09:24] sparkoo commented on #90512
/sig network

[2020-04-27 09:33] aojea commented on #90369
Packet drops seems the more likely reason if you don't have logs in the dns pods, but that will depend on the environment, I don't know, high load and kernel dropping the packets, nat race conditions, ... all of these things can cause this.

There is a considerable amount of issues and posts talking about this topic, i.e.
https://tech.xing.com/a-reason-for-unexplained-connection-timeouts-on-kubern

[2020-04-27 09:50] wuchenzh opened #90516 "after scheduled to a node, it will stuck a few minutes,then start pull image"
version 1.13,  CNI calico
when the node's pods no more than 100 or less,it works well.
is there some logs i can find?
or, is there some config i forgot?

[2020-04-27 09:58] wuchenzh commented on #90516
/sig node

[2020-04-27 10:42] jprzychodzen opened #90517 "E2E: [sig-api-machinery] CustomResourcePublishOpenAPI [Privileged:ClusterAdmin] works for CRD with validation schema [Conformance]"
[Recent failure](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1254380216860545027) in sig-scalability conformance test is related to CustomResourcePublishOpenAPI. Could you please check the reason for this failure?

/sig api-machinery
/assign @liggitt
/cc @kubernetes/sig-api-machinery-misc

[2020-04-27 11:21] jprzychodzen commented on #90517
/assign @lavalamp

[2020-04-27 11:34] wojtek-t commented on #80289
/remove-lifecycle stale
/lifecycle frozen

[2020-04-27 11:41] dinogun opened #90518 "Dynamically changing CPU requests / limits"
**What would you like to be added**:
Sorry if this has been asked before, is it possible to change the CPU requests and limits during the course of the lifetime of a pod ?

**Why is this needed**:
Java applications typically need more CPU during initialization and subsequently settle down. Putting the pod into the shared pool (Burstable QoS) means that the extra CPU needed at Init time is not guar

[2020-04-27 12:14] hasheddan commented on #90506
/retitle [Flaky Test]: gce-master-scale-correctness (ci-kubernetes-e2e-gce-scale-correctness)
/kind flake
/remove-kind failing-test

[2020-04-27 12:21] soltysh commented on #90506
/assign @knight42

[2020-04-27 12:29] huang-jy opened #90519 "Allow editing labels/selector in pod template spec in StatefulSets"
**What would you like to be added**:
The ability to modify the labels and selector clauses in StatefulSets after they are deployed

**Why is this needed**:
Currently if a STS is deployed and you need to modify the pod labels and, by inference, the selector labels you cannot do so, because Kubernetes will reject the update with:

`Forbidden: updates to statefulset spec for fields other than 'replic

[2020-04-27 12:30] huang-jy commented on #90519
/sig api-machinery

[2020-04-27 12:45] liggitt commented on #90517
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/90506

/close

[2020-04-27 12:46] #90517 closed

[2020-04-27 12:49] liggitt commented on #90519
This restriction was added in apps/v1 because changes to labels/selectors had not worked well historically.

[2020-04-27 12:51] claudiubelu commented on #76827
/remove-lifecycle rotten

[2020-04-27 12:51] liggitt commented on #90510
Approving, then denying a CSR is not an intended behavior, and is proposed to be disallowed in 1.19. See https://github.com/kubernetes/enhancements/pull/1691

/sig auth
/assign

[2020-04-27 12:52] huang-jy commented on #90519
Thanks, @liggitt, is there any easier (and less destructive) way I would update something like the labels and selector clauses without having to nuke the entire STS?

[2020-04-27 12:53] liggitt commented on #90519
I thought labels could be updated as long as they still matched the selector. The changing selector was the problematic field which was why it was made immutable.

[2020-04-27 12:55] liggitt commented on #90518
It is not currently possible. There is a proposal to allow it at https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/20181106-in-place-update-of-pod-resources.md, but is quite involved.

[2020-04-27 12:55] #90518 closed

[2020-04-27 12:57] claudiubelu commented on #90336
/sig windows

[2020-04-27 13:00] huang-jy commented on #90519
In my case I'm making the update to both together -- the label (spec.template.metadata.labels) and the selector (spec.selector.matchLabels)

If I only change the label section, the update will fail saying the labels don't match the selector.

[2020-04-27 13:07] liggitt commented on #90519
https://github.com/kubernetes/kubernetes/issues/50808 was the issue tracking selector immutability and described some of the problems caused by allowing selectors to change.

[2020-04-27 13:08] rudolphjacksonm commented on #88709
Awesome idea!

[2020-04-27 13:12] huang-jy commented on #90519
https://github.com/kubernetes/kubernetes/issues/50808#issuecomment-324746374

You mentioned my exact situation here :)

[2020-04-27 13:15] andrewsykim commented on #79783
I think it depends what IPs you are advertising (clusterIP, externalIPs, loadbalancerIPs?). It will also depend on what the src address of the traffic is. For the public cloud LB case, this is only a problem when the source address is the LB's IP.

[2020-04-27 13:27] andrewsykim commented on #90435
This is probably related to https://github.com/kubernetes/kubernetes/issues/89520 as @SataQiu mentioned. Can you also share logs from kube-proxy so we can confirm?

[2020-04-27 13:28] hasheddan commented on #90117
It seems that https://github.com/kubernetes/kubernetes/pull/90364 also improved the stability of this job. Recently observed a flake for a different test:
[code]

@kubernetes/sig-network-misc

[2020-04-27 13:38] alculquicondor commented on #86943
/close

[2020-04-27 13:38] #86943 closed

[2020-04-27 13:44] matthias50 commented on #90334
I like this approach. It puts a cap on the log file consumption, doesn't require any new parameters, and preserves the behavior of "kubectl logs -p".  The primary location for historical logs should be wherever fluentd is forwarding logs, so I don't see how keeping more logs from dead containers than that on the node is worth the space allocation required.

[2020-04-27 14:16] rbvigilante opened #90521 "Service Topology: kube-proxy seems to be unaware of node labels in 1.17.4"
**What happened**: When we enabled service topology on our Kubernetes cluster, it didn't seem to work. When we put topology keys on a service:
- If a wildcard key was included, traffic was routed as though that was the only key.
- If no wildcard key was included, traffic wasn't routed anywhere at all.

We made a local build of `kube-proxy` to add a bunch of extra logging. We can see that `FilterTo

[2020-04-27 14:17] rbvigilante commented on #90521
/sig sig-networking

[2020-04-27 14:17] rbvigilante commented on #90521
/sig sig-network

[2020-04-27 14:17] rbvigilante commented on #90521
/sig network

[2020-04-27 14:30] tedyu commented on #90334
@zischknall @matthias50
Please take a look at the patch https://github.com/kubernetes/kubernetes/issues/90334#issuecomment-619443165 where M == 2

See if this new config is needed.

[2020-04-27 15:14] verb commented on #27140
/remove-lifecycle-stale

[2020-04-27 15:29] eladm26 commented on #87861
@kalyanbhonagiri16 @justgotthis thank you for for the info.
can you please elaborate more on how exactly to reproduce it?

[2020-04-27 15:33] wojtek-t commented on #90160
I'm reverting #90249 as it broke bookmarks. I'm going to fix and re-submit for review hopefully later this week.

[2020-04-27 15:40] neolit123 commented on #90326
thank you for confirming.
if you wish to improve the kubeadm documentation regarding matching the kubeadm / containerd "pause" please log a ticket in k/kubeadm, but other than documentation there isn't much else we can do on the kubeadm side for the time being.

/close

[2020-04-27 16:17] juliantaylor commented on #67577
A 4 core cpu is probably not large enough to reproduce the problem chiluk fixed.

It should only be reproducible on larger machines with probably upward of maybe 40 cpus if I understood the explanation from chiluks kubecon talk (https://www.youtube.com/watch?v=UE7QX98-kO0) correctly.

There are a lot of kernel versions around and there is a lot of patches and reverting of patches. Changelogs and v

[2020-04-27 16:18] dashpole commented on #90464
/cc

[2020-04-27 16:22] matthias50 commented on #90334
I'm concerned that adding the new flag as part of the solution to containers filling nodes will mean that any PR which requires API changes (which the kubelet config would be) would not be able to be cherry-picked back to older releases. I don't want to be forced to update to Kubernetes 1.18 in order to fix a bug with nodes getting filled with logs.

So I'd much prefer to keep the initial PR for t

[2020-04-27 16:34] tedyu commented on #90334
Updated patch with one dead container (the latest) whose log is to be kept.
[rm-excess-log.txt](https://github.com/kubernetes/kubernetes/files/4540881/rm-excess-log.txt)

[2020-04-27 16:52] bsquizz commented on #46861
@Thematrixme I think the root cause of this is that resources were initially created with `kubectl create` and are later trying to be updated with `kubectl apply`. This is also mentioned in some of the related issues linked in this issue's description.

I'm not able to reproduce the issue when following these steps:
* Write this data to `file.yaml`:
[code]

* Then `kubectl apply -f file.yaml`
* Ed

[2020-04-27 16:54] immutableT commented on #90159
Would not a liveness probe help in the scenario you desribed?

I think that #87438 could also help by reducing the reliance of kube-apiserver on kms-plugin/kms.

[2020-04-27 17:01] andrewsykim commented on #90521
FYI: SIG Network is currently discussing whether we want to keep supporting Service Topology in it's current (alpha) form or take a different approach.

[2020-04-27 17:02] andrewsykim commented on #90521
@rbvigilante did you enable EndpointSlice in kube-proxy? Can you also check if your nodes have the topology labels applied (check `kubectl get nodes -o yaml`)?

[2020-04-27 17:07] hasheddan commented on #88974
@pjh any updates here?

[2020-04-27 17:08] hasheddan commented on #89262
@kubernetes/sig-windows-misc can someone take a look at this?

[2020-04-27 17:33] andrewsykim commented on #90435
/remove-triage unresolved
/assign

[2020-04-27 17:42] rbvigilante commented on #90521
Ah, OK. Some way to handle topology-based routing is/would be extremely valuable to us, so we wanted to give it a try. We understand it's alpha and might change drastically in the future.

Yes, we enabled EndpointSlice, and our nodes definitely have the topology labels applied. The proxy doesn't even seem to be picking up the node's hostname.

[2020-04-27 17:44] andrewsykim commented on #90521
Does the hostname according to kube-proxy match the name of the Kubernetes node? That's typically one reason for node local traffic not being picked up.

[2020-04-27 17:49] andrewsykim commented on #90042
Haven't read the whole thread here but it's very possible this is related to https://github.com/kubernetes/kubernetes/issues/89520 since you are using CentOS 7

[2020-04-27 18:05] bgrant0607 commented on #22675
This resource descriptor proposal aims to solve a similar problem: https://blog.byte.builders/post/resourcedescriptor/

[2020-04-27 18:06] bgrant0607 commented on #1698
Closing this in favor of other issues.
/close

[2020-04-27 18:06] #1698 closed

[2020-04-27 18:14] jhohertz commented on #88986
I left a note on coreos/flannel#1243... I suspect this has something to do with kubernetes/kubernetes#83576, as there are changes relating to vxlan and checksums within it, and is unique to the 1.17 version.

[2020-04-27 18:30] uablrek commented on #90042
@andrewsykim That was my first thought also, but it was reported also in linux-4.x so it is different.

It looks like a connect via a service and a direct connect to the (same) endpoint done from the same client fails if the client port happens to be the same. This can be provoked (https://github.com/kubernetes/kubernetes/issues/90042#issuecomment-616660628) or it can happen by accident if you lim

[2020-04-27 18:42] rbvigilante commented on #90521
Yes, the two names appear to match.

[2020-04-27 19:03] dcantah commented on #87420
@daschott @dims Release is finally out. I'm sorry for the delay we had more fixes on our end that needed to happen. Let me know if there's any problems or other things we need to do on our side. https://github.com/microsoft/hcsshim/releases/tag/v0.8.8

[2020-04-27 19:08] coryrjohnson commented on #74383
Any update on if this might get fixed for NodePort services?

[2020-04-27 19:15] JacobHenner commented on #40635
/reopen /remove-lifecycle rotten

[2020-04-27 19:15] andrewsykim commented on #90042
Ah, seems related to https://github.com/kubernetes/kubernetes/issues/81775 then. I think this is largely a side effect of setting `conn_reuse_mode=0` and the way we do graceful termination which results in holding on to many TIME_WAIT connections. If https://github.com/kubernetes/enhancements/pull/1607 gets approved we could significantly reduce the # of TIME_WAIT entries because we can delete rea

[2020-04-27 19:20] andrewsykim commented on #90042
I think there are some cases where we want conn_reuse_mode=1, but the performance trade-offs are pretty significant and I suspect most users wouldn't find it worthwhile. However if there are users that can prove `conn_reuse_mode=1` _is_ better for their use-case we could start some discussions around adding a flag for it.

[2020-04-27 19:21] andrewsykim commented on #90521
Can you share output from `kubectl get endpointslice -l kubernetes.io/service-name=<your-service> -o yaml` and `kubectl get nodes -o yaml`?

[2020-04-27 19:36] dims commented on #79224
Anyone ready to write a KEP based on the discussion in this?

[2020-04-27 19:42] dcantah commented on #87420
@dims If possible can we hold off on vendoring the above? There's a commit that another team has been trying to get vendored in that slipped my mind. I'll see if I can re-upload the release with this in by today as I'm not able to delete it myself. My apologies

[2020-04-27 19:44] coltonstapper opened #90533 "API Server package does per-request mTLS"
**What would you like to be added**:
The API Server's secure serving settings today [only requests the client cert](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/secure_serving.go#L64), and its [x509 Authenticator and Verifier implementations verify the cert signing chain of every request](https://github.com/kubernetes/kubernetes/blob/master/staging/s

[2020-04-27 19:44] dims commented on #87420
@dcantah sounds good!

[2020-04-27 19:45] coltonstapper commented on #90533
/sig scalability

[2020-04-27 19:54] christopherhein commented on #90533
/sig auth

[2020-04-27 19:58] andrewsykim commented on #89520
FYI: https://github.com/moby/ipvs/pull/15 just merged, need to run some validation & cut a new release (v1.0.1).

[2020-04-27 20:09] Jeffwan commented on #62013
/reopen

[2020-04-27 20:13] coltonstapper commented on #90533
This is a simple example of the patch we used, though this breaks other cluster's use cases because it assumes that there are no intermediary certs/different CA certs so some logic has to change there to support those. But I think shows the general idea of what the config options and the Authenticator/Verifier would look like, stripping the verify() calls and using the VerifiedChains from the alre

[2020-04-27 20:25] raesene commented on #90259
Hi all,

Just to add a confirmatory post on this.  I've just run up an experiment which looks like this

- single node Kubeadm 1.18.2 cluster with Weave as CNI, running on Ubuntu 18.04.3 server in VMWare Workstation on Linux.  Straight install no changes from the standard process.  Server IP is 192.168.41.208

- client is ubuntu 18.04.3 in VMWare workstation on Linux. Client IP is 192.168.41.248

[2020-04-27 20:40] #90303 closed

[2020-04-27 20:47] andrewsykim commented on #90259
@uablrek I don't have the full context for this but in doing some digging I think this was mostly added because iptables had it. I wouldn't be surprised though if disabling it broke some functionality that users depend on.

For IPVS, even though we don't permit node port via localhost (yet), it sounds like it still has implications for when the source is from localhost?

[2020-04-27 21:01] rajakshay commented on #70342
I think there is value in adding this feature to kubelet. There are projects out there to handle this:
1. https://github.com/aws/aws-node-termination-handler
2. https://github.com/kube-aws/kube-spot-termination-notice-handler

The problem in running another container to do this:
* Wastage of resource (since they run as Daemonset).
* Allowing container to read EC2 Instance Metadata.

It just seems

[2020-04-27 21:21] liggitt commented on #90533
Optimizing to do the certificate verification once per connection could make sense (especially if it is bounded to the lifetime of the cert), but switching to have the http.Server do the verification via `VerifyClientCertIfGiven` would break clients which present an unrecognized client certificate at connection time and then present valid bearer tokens in requests.

[2020-04-27 21:27] alculquicondor commented on #88919
/help

[2020-04-27 21:40] eladm26 commented on #90512
new contributor, would love to take on this one
/assign

[2020-04-27 21:43] liggitt commented on #90533
Note that some API server authentication configuration (including [CA](https://github.com/kubernetes/kubernetes/pull/83579) [bundles](https://github.com/kubernetes/kubernetes/pull/85004)) can be dynamic, so it is possible for the results of an x509 validation to change within the lifetime of a connection.

[2020-04-27 21:44] eladm26 commented on #90485
new contributor, would love to take on this one
/assign

[2020-04-27 22:11] coltonstapper commented on #90533
@liggitt hmm, for the first point, why would we want to support clients that are presenting unrecognized client certs if they're trying to do bearer token auth? If the client's trying to obtain a token it'd present no cert (I believe this is what kube-controller-manager does, for example).

For the second point, if the CA bundle changes we would need to disconnect any connections that authorized p

[2020-04-27 22:16] #82988 closed

[2020-04-27 22:38] BenTheElder commented on #90416
the base images have not been automated yet. this is the real bug imho.

+1 to @neolit123's comment as well, we only ship go binaries using go's TLS stack which is NOT openssl

[2020-04-27 22:39] enj commented on #90533
Well, we always have at this point, so it may be too late to ask _why_.  Generally speaking, we try all ways to authenticate a request in a specific order, and pick the first one that works.  So short-circuiting because client cert verification fails is not the desired behavior.

[2020-04-27 22:44] BenTheElder commented on #90416
/assign
/assign @dims

[2020-04-27 22:45] liggitt commented on #90533
That is not universally true. We've observed real clients configured to present client certs unconditionally at a transport level (e.g. browsers or clients expecting to speak to corporate proxies that require client certs) in addition to whatever kubernetes-specific bearer tokens are required to authenticate to the API server.

[2020-04-27 22:58] matthias50 commented on #90334
Code looks ok. Have you had a chance to test it out yet?

[2020-04-27 23:00] BenTheElder commented on #87197
@kubernetes/release-engineering

[2020-04-27 23:01] tedyu commented on #90334
I have run the patch through test suite which passed.

[2020-04-27 23:07] SerialVelocity commented on #90042
@andrewsykim That issue seems to be to do with high load. This can be reproduced with only two connections (where one connection is not using ipvs). Could you explain why this is to do with holding on to too many `TIME_WAIT` connections? (both connections are active in the repro mentioned on this issue)

[2020-04-27 23:23] andrewsykim commented on #90042
There's more details in the end of the thread that are more relevant to this thread.

Generally we don't have to account for two connections from a pod using the same source port at the same time. However, you can have a stale connection (e.g. TIME_WAIT connection in conntrack) and a new connection try to use the same source port. This causes a conflict in the conntrack table. In the IPVS proxy be

[2020-04-28 01:02] hasheddan opened #90538 "[Failing Test] verify-master (ci-kubernetes-verify-master)"
**Which jobs are failing**:

`verify-master (ci-kubernetes-verify-master)`

**Which test(s) are failing**:

`Overall`

**Since when has it been failing**:

`04-27-20 05:47 PDT`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#verify-master

**Reason for failure**:

[code]

**Anything else we need to know**:

/cc @kubernetes/ci-signal
/milestone v1.19
/priority important-soo

[2020-04-28 01:08] liggitt commented on #90538
I think that's a false positive and not the actual cause of the failure. Note those messages are logged at info level.

[2020-04-28 01:13] liggitt commented on #90538
It's a timeout error.

https://testgrid.k8s.io/google-unit#verify-master&graph-metrics=test-duration-minutes&width=20

[2020-04-28 01:19] #79492 closed

[2020-04-28 01:43] JokerDevops commented on #89947
The version of kubernetes I am currently using is 1.15.1

[2020-04-28 01:47] JokerDevops commented on #89947
@gongguan  yes，It's the same, the current version I'm using is 1.15.1 and I don't know which version it fixed and merged into the master branch at the beginning. How to check which version of the problem he solved?

[2020-04-28 02:01] rikatz commented on #89947
This was fixed in 1.15.4, I suggest updating to at least the the last 1.15 bugfix version (1.15.11) to check if the behavior changes.

Also when possible is highly recommended that you make a planned upgrade to the latest version 1.18.1 right now) as 1.15 doesn’t seems to be supported anymore :)

Ricardo P. Katz

[2020-04-28 02:15] JokerDevops commented on #89947
@rikatz Thank you. How did you know that it was fixed in version 1.15.4? Do you have any relevant information? I want to learn about the methods of adding functionality, fixing problems, iterating version functionality, branch commit and version correspondence.

Thank you again for your answers. Thank you.

[2020-04-28 02:15] JokerDevops commented on #89947
Thank you again for your answers. Thank you.

[2020-04-28 02:17] wangkai1994 commented on #90042
@andrewsykim Thank you. And one of my question is: Does IPVS NAT support simultaneous access vip and realserver ip by same source port ?

[2020-04-28 02:36] jcxian commented on #90434
/sig/api-machinery

[2020-04-28 02:50] rikatz commented on #89947
Well probably not the smarter way, but I’ve picked the referenced PR (#80942) and searched in the 1.15 Changelog (https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.15.md)

About the versioning, branch commiting and so on I can’t provide you with much specific information (sorry!) but I know there are some presentations and talks from sig-release explaining how cherry picki

[2020-04-28 03:00] liggitt commented on #90533
Ideally, golang would support a VerifyClientCertIfGiven-style option that would continue with empty VerifiedChains on cert verification failure.

A few years ago, I explored moving the verify from request-level to connection-level while preserving the ability to serve requests presenting unknown client certificates, and wasn't able to find a reasonable way to do it without reimplementing significa

[2020-04-28 03:04] JokerDevops commented on #89947
@rikatz  That's great. Thanks for sharing. I should also pay more attention to sig-releases. Thank you very much.

[2020-04-28 03:06] liggitt commented on #90533
I actually wonder if a golang option would be the most reasonable approach here, long-term. PeerCertificates+VerifiedChains in the request would mean verification succeeded. PeerCertificates without VerifiedChains would mean it failed.

[2020-04-28 03:42] knight42 commented on #90506
I can reproduce this problem by the following steps now

<pre>
$ cat ksvc.yaml
<summary>
<details>
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: services.crd-publish-openapi-test-service.example.com
spec:
  conversion:
    strategy: None
  group: crd-publish-openapi-test-service.example.com
  names:
    kind: Service
    listKind: ServiceList
    plural: serv

[2020-04-28 03:47] andrewsykim commented on #89947
/close

Please reopen if you can reproduce in new versions

[2020-04-28 03:47] #89947 closed

[2020-04-28 04:01] feiskyer commented on #81172
/assign @nilo19

[2020-04-28 04:18] BurtonQin opened #90540 "A field in a structure is sometimes protected by Mutex, but sometimes unprotected."
**What happened**:
A field in a structure is sometimes protected by Mutex, but sometimes unprotected.
This may lead to data race.
There are 7 such cases:
- [ ] `pm.plugins` is not protected by `pm.mutex` on L754. But for all the other 6 places, it is protected by `pm.mutex`.
https://github.com/kubernetes/kubernetes/blob/54e1e5b62f9dd6d069399400afd5b015cabda351/pkg/volume/plugins.go#L752-L754
- [ ]

[2020-04-28 04:24] BurtonQin commented on #90540
/sig network

[2020-04-28 04:45] rbvigilante commented on #90521
Here's the output from those commands: https://gist.github.com/rbvigilante/6dfc0dd22ab613e1ecc33d5895105e4e. This is from a small cluster we created just for testing this issue (but still using all our weird homegrown tooling).

[2020-04-28 05:09] rbvigilante commented on #90521
Looking at that, it does appear that the endpoint slices don't have the same hostname as the nodes. I wonder if that's causing the problem

[2020-04-28 06:16] nqdrizzt commented on #90326
/reopen

Sadly this issue is not resolved. I did further testings withe containerd v1.3.4
Even with containerd using the latest version it tries to pull the pause:3.1 container, if the sandbox image is not specified explicitly in the containerd.conf

detox@detox01-dm:~$ sudo journalctl -xeu kubelet
Apr 28 06:10:56 detox01-dm kubelet[1334]: E0428 06:10:56.970976    1334 remote_runtime.go:105] RunPo

[2020-04-28 06:17] BenTheElder commented on #90326
@nqdrizzt this was closed because it should be tracked in github.com/kubernetes/kubeadm's issue tracker (translating https://github.com/kubernetes/kubernetes/issues/90326#issuecomment-620065079)

[2020-04-28 06:18] BenTheElder commented on #90326
https://github.com/kubernetes/kubeadm/issues/2020

[2020-04-28 06:19] BenTheElder commented on #90326
implementation of the podsandbox is up to the container runtime, except when you use "dockershim" mode (which is in tree for now), either kubeadm (https://github.com/kubernetes/kubeadm/issues/2020) or containerd (the sandbox_image config) will need to be configured to match the other.

containerd already supports this, and kubeadm has this issue tracking being able to specify the pause image https

[2020-04-28 06:21] tomkerkhove commented on #85544
This won't work I guess, but can only try:

/remove-lifecycle stale

Eventually we'll get there, just need to have time to work out a POC.

[2020-04-28 06:22] BenTheElder commented on #90326
your options are:
- discuss in / help implement https://github.com/kubernetes/kubeadm/issues/2020
- configure containerd pod_sandbox to match `kubeadm config images list | grep pause`
- `kubeadm init --skip-phases=preflight` (skip the preflight checks, which includes image pulling, unfortunately this cannot currently be done more granularly, see also https://github.com/kubernetes/kubeadm/issues/52

[2020-04-28 06:22] #90326 closed

[2020-04-28 06:34] nqdrizzt commented on #90326
Thanks for clarifying

[2020-04-28 06:35] BenTheElder commented on #90326
FWIW I think this behavior is clearly suboptimal, discussing in the kubeadm repo.

[2020-04-28 06:50] nqdrizzt commented on #90326
What's a bis disturbing me is the case, that although I am using containerd 1.3.4 now (which should use pause 3.2 by default ) something still tries to pull 3.1 and I'm not sure if it is kubeadm, because they are already pulling the 3.2 image

[2020-04-28 06:53] BenTheElder commented on #90326
these values are off the top of my head, you can confirm the default from
`containerd config dump` IIRC

On Mon, Apr 27, 2020 at 11:50 PM nqdrizzt <notifications@github.com> wrote:

[2020-04-28 06:58] nqdrizzt commented on #90326
ok thx, well it seems even v1.3.4 is still using pause:3.1 as default

`  [plugins."io.containerd.grpc.v1.cri"]
...
    sandbox_image = "k8s.gcr.io/pause:3.1"`

[2020-04-28 07:06] BenTheElder commented on #90326
https://github.com/containerd/cri/pull/1399 is merged, i'm not sure which
versions it landed in, that repo gets pulled into containerd. I could've
sworn 1.3.4 pulled in that change.

On Mon, Apr 27, 2020 at 11:58 PM nqdrizzt <notifications@github.com> wrote:

[2020-04-28 07:28] #90516 closed

[2020-04-28 08:03] rbvigilante commented on #90521
OK, I think this problem is entirely the way we're holding Kubernetes. The _hostnames_ for our nodes are _not_ the same as the names the nodes were getting from the AWS provider (I did not correctly read the configuration from the proxy the first time), and this is what was causing kube-proxy to get confused.

Is this a requirement of the platform? Is it documented anywhere?

(I'll close this issu

[2020-04-28 08:03] #90521 closed

[2020-04-28 08:17] SataQiu commented on #90540
Thank you for reporting this @BurtonQin
I'd like to pick it up.
/assign

[2020-04-28 08:22] BenTheElder commented on #66221
https://github.com/kubernetes/enhancements/pull/1717
this will get a https://github.com/kubernetes/enhancements tracking issue soon, anyone interested should keep an eye out there.

generally features are done via enhancements now, with this issue tracker mostly used for bugs.

[2020-04-28 08:38] gaorong commented on #90159
We deploy apiserver in the bare-metal hosts behind an L4 load balancer, and the L4 load balancer does not understand the L7 liveness probe meaning.

[2020-04-28 08:44] SataQiu commented on #90540
`checkoutChanges` and `checkoutTriggerTimes` are protected by internal lock of ect.
So this will not lead to data race.
https://github.com/kubernetes/kubernetes/blob/54e1e5b62f9dd6d069399400afd5b015cabda351/pkg/proxy/endpoints.go#L391-L403

[2020-04-28 08:50] yuyulei commented on #90262
@liggitt ptal

[2020-04-28 09:21] zakkg3 commented on #70147
Here you have the solution: An operator that introduces ClusterSecret object:

https://github.com/zakkg3/ClusterSecret

PR /  bugs reports  / feature request are welcome.

[2020-04-28 09:21] zakkg3 commented on #62153
Here you have the solution: An operator that introduces ClusterSecret object:

https://github.com/zakkg3/ClusterSecret

PR /  bugs reports  / feature request are welcome.

[2020-04-28 09:54] kvaps commented on #84322
/remove-lifecycle stale

[2020-04-28 10:06] leexiaominghub opened #90546 "How can I make Level of klog of kube-proxy to 4?"
**What happened**:
when I edit the configmap of kube-proxy to give "-v=4" as flag to kube-proxy, it errors.
and I fail to find corresponding parameters in this file:
"kubernetes/staging/src/k8s.io/kube-proxy/config/v1alpha1/types.go"
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernete

[2020-04-28 10:21] munnerz opened #90547 "e2e tests failing on Kubernetes 1.14 and below"
This PR: https://github.com/jetstack/cert-manager/pull/2831 properly enabled the validating webhook during e2e tests.

Its merge corresponds with all our periodic e2e jobs on Kubernetes 1.14 and below failing due to:

[code]

Looking at the webhook logs I see:

[code]

This seems like a legitimate failure and should be investigated ASAP ahead of v0.15.

/kind flake
/priority critical-urgent
/area

[2020-04-28 10:22] munnerz commented on #90547
.... sorry, testgrid sent me to the wrong repo. Ignore this it's meant for jetstack/cert-manager 🤦

[2020-04-28 10:22] #90547 closed

[2020-04-28 10:25] EwanValentine commented on #87917
We're seeing the same thing, same version of Kubernetes as well, on EKS. Auto-scaling kicks in and maxes out our HPA, but the cpu usage is like 0%.

[2020-04-28 11:09] vespian commented on #90327
More information on the matter:
* the issue was fixed in the systemd >=228, commit https://github.com/systemd/systemd/commit/9c8d1e1a712
* basing on the https://distrowatch.com webpage, some of the major distributions that still use systemds older than 228:
  * Ubuntu 14.04 LTS (204) - until 04.2022 with Canonical's extended support, standard support ended on 04.2019
  * Centos 7.8 (219) full upda

[2020-04-28 11:24] lolin9 opened #90549 "ORing label selectors for different keys"
Is it possible to have a logical OR operation for different keys when selecting objects? Something like
```key1=value1 || key2=value2```
I am more interested in the programmatic approach via the go-client case not the YAML config.

[2020-04-28 11:44] duglin commented on #85544
https://www.youtube.com/watch?v=9uKm5pD7GWM  :-)

[2020-04-28 11:46] xingfeng1234 opened #90550 "activeDeadlineSeconds is not reached, the original job is regenerated, then activeDeadlineSeconds is invalid"
**What happened**:
First,you can create job like below yaml file.
[code]
Second, activeDeadlineSeconds is not reached, and delete the original  job, then create job  using the same yaml file above.

You will find that activeDeadlineSeconds is invalid. When activeDeadlineSeconds have reached, the job is still running. I am very confused about this.
**What you expected to happen**:
ActiveDeadlineSec

[2020-04-28 11:47] zhouya0 commented on #90540
/cc

[2020-04-28 11:50] xingfeng1234 opened #90551 "activeDeadlineSeconds is invalid, job has completed, info is not accurate about status"
**What happened**:
First,you can create job like below yaml file
[code]
Second, activeDeadlineSeconds is not reached, and delete the original  job above, then create job  using the same yaml file above.
You will find activeDeadlineSeconds is invalid. Please wait the job to complete. Util the job is completed.
exec command: kubectl edit job job-test-deadline
[code]
**What you expected to happen**:

[2020-04-28 11:51] vespian commented on #90327
https://github.com/kubernetes/utils/pull/162

[2020-04-28 11:57] xingfeng1234 opened #90553 "activeDeadlineSeconds is setted greater than original ,the value is invalid."
**What happened**:
First,you can create job like below yaml file
[code]

Then, edit the job, set the parameter activeDeadlineSeconds greater than 40. You will find that activeDeadlineSeconds is reached, but the job is still running.
**What you expected to happen**:
ActiveDeadlineSeconds is reached the time which is updated, job can be stopped.

**How to reproduce it (as minimally and precisely as

[2020-04-28 12:03] xingfeng1234 commented on #90553
/sig apps

[2020-04-28 12:06] xingfeng1234 commented on #90553
/sig area/workload-api/job

[2020-04-28 12:08] xingfeng1234 commented on #90551
/sig apps

[2020-04-28 12:09] xingfeng1234 commented on #90550
/sig apps

[2020-04-28 12:10] hasheddan commented on #90538
@liggitt the variance that you noted makes me think the solution is likely not just bumping the timeout limit here. Any ideas why this would be taking much longer on some runs than others?

[2020-04-28 12:35] bjorn-ali-goransson commented on #48307
I assume this means High Availability. I'm a bit of a noob in this terminology.

Wouldn't it be nice to have a kubectl drain --safe where you don't shut down a pod without first having started (and readyness probed) it on another node?

Perhaps this is one of those "this feature contradicts in every way the architecture of the system" requests, like my favorite application feature request "making

[2020-04-28 12:53] liggitt commented on #90538
Not sure. My first guess would be CPU or disk contention

[2020-04-28 13:14] liggitt commented on #90506
looks like https://github.com/kubernetes/kubernetes/issues/65517

[2020-04-28 13:18] hasheddan commented on #90538
@liggitt I am going to close this in favor of https://github.com/kubernetes/kubernetes/issues/87807, which has historical info about this flake

/close

[2020-04-28 13:19] #90538 closed

[2020-04-28 13:20] hasheddan commented on #87807
This has been flaking quite a bit as of late as noted in #90538. @RobertKielty could you investigate the history and root cause here?

[2020-04-28 13:25] rikatz commented on #90429
@SataQiu so can we close this one? :)

[2020-04-28 13:27] rikatz commented on #90546
/assign

[2020-04-28 13:29] rikatz commented on #90446
By what you've posted in screenshot your ClusterIP is 10.1.116.109 publishing the port 8010 so the connection goes fine.

Your second attempt is to connect to the kubernetes dns server (10.1.0.10) into the same 8010 port, that doesn't seems to be opened (as DNS answers in port 53) so I don't get what's the question

/assign
/triage support

[2020-04-28 13:29] rikatz commented on #90446
/remove-triage unresolved

[2020-04-28 13:31] liggitt commented on #87807
https://testgrid.k8s.io/google-unit#verify-master&graph-metrics=test-duration-minutes&width=20 might be helpful in pinning down specific problematic tests

The following tests stand out as taking a really long time for what they do and/or having a high degree of variance
* verify.generated-files-remake  (10-35 minutes)
* verify.generated-kubelet-plugin-registration (3-10 minutes)
* verify.no-vendo

[2020-04-28 13:33] rikatz commented on #90294
So inside your minikube vm are you able to call the Pod IP in 4200 port? As 172.18.0.6:4200?

Also, Take a look to see if minikube networking is properly working (also ufw/firewalld in your host machine, etc)

/triage support
/remove-triage unresolved
/assign

[2020-04-28 13:59] liggitt commented on #90549
That is not currently possible. Disjoint selectors were intentionally avoided in the selector design to allow for efficient indexing in the future (e.g. https://github.com/kubernetes/kubernetes/issues/4817) and to avoid complexity of nested boolean AND/OR expressions.

[2020-04-28 13:59] #90549 closed

[2020-04-28 14:03] liggitt commented on #90546
log level parameters are not part of the config file, you still need to use `--v=4`

[2020-04-28 14:03] #90546 closed

[2020-04-28 14:03] rikatz commented on #90546
@leexiaominghub assuming that you're running kube-proxy as a Daemonset, what about editing the Daemonset (``kubectl edit daemonset -n kube-system kube-proxy``) and inserting this into the command arg?

[2020-04-28 14:03] rikatz commented on #90546
oh Jordan was faster than me while answering, tks :)

[2020-04-28 14:04] rikatz commented on #90446
/remove-kind bug

[2020-04-28 14:11] zakir-dashdevs commented on #32414
/reopen

[2020-04-28 14:12] dcbw commented on #88986
https://marc.info/?l=netfilter-devel&m=158742974931309&w=2 was accepted. I suspect it will be in the 5.8 kernel, but could also be backported to earlier releases once it lands in mainline.

[2020-04-28 14:13] andrewsykim commented on #90042
Based on what @uablrek said it sounds like IPVS doesn't support it but I will try to validate it on my end this week and figure out the root cause for this behavior. Possibly a bug in the kernel or expected behavior.

[2020-04-28 14:14] andrewsykim commented on #90521
No worries.

Yes, the hostname that kube-proxy is seeing has to match the node name. You can override the hostname with `--hostname-override`.

[2020-04-28 14:27] logicalhan commented on #78454
/reopen

[2020-04-28 14:27] logicalhan commented on #78454
This is fixed by https://github.com/kubernetes/kubernetes/pull/89285

[2020-04-28 14:27] logicalhan commented on #78454
/close

[2020-04-28 14:27] #78454 closed

[2020-04-28 14:34] andrewsykim commented on #89520
FYI https://github.com/kubernetes/kubernetes/pull/90555

[2020-04-28 14:40] bimmerkiev commented on #51322
The same problem here.

gave the different podCIDR for each node.
10.45.1.0/24 10.45.7.0/24 10.45.4.0/24 10.45.0.0/24 10.45.5.0/24 10.45.2.0/24 10.45.3.0/24

[2020-04-28 14:41] lolin9 commented on #90549
@liggitt thank you for the quick response. I can get around this by using regex for a single key (e.g. `key=*val*`), is this possible, maybe in set-based selections?

[2020-04-28 14:42] liggitt commented on #90549
No, label selectors only match literal values, presence, or absence of a key. Regex/prefix matching is not a supported label selector feature.

[2020-04-28 14:44] andrewsykim commented on #89520
/retitle DualStack / IPv6-only: parseIP error with IPVS proxy on CentOS 7

[2020-04-28 14:46] tedyu commented on #84595
@mrobson
Have you seen the comment above pcm.Destroy() call ?
[code]
Did you have a chance to look at kubelet log to see if the above was true ?

[2020-04-28 14:48] tedyu commented on #84595
/remove-lifecycle stale

[2020-04-28 14:56] tedyu commented on #84595
This would give us some clue about the error:
[code]

[2020-04-28 14:57] lolin9 commented on #90549
Thank you! It seems that I wish for more advanced filtering via labels than I should. Have you ever been asked by any big opensource project devs (e.g. istio, rook, etc..) about something similar? Maybe I can just read some code and learn how things are done (even if it's some dirty solution). Maybe these projects need advancing filtering for their CRDs.

[2020-04-28 15:01] liggitt commented on #90549
The suggestion we've made in the past is to actively watch/compute/persist more complex decisions as a dedicated label

[2020-04-28 15:03] yanosh1982 commented on #90294
Hi rikatz, thank you for your answer. I've found a solution in stackoverflow. Here is the link.

https://stackoverflow.com/questions/61305722/why-cant-i-access-a-service-exposed-from-minikube-on-windows

i close the issue.

[2020-04-28 15:03] #90294 closed

[2020-04-28 15:04] alculquicondor commented on #89259
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/90475/pull-kubernetes-integration/1255139243836051457

Still happening

cc @pancernik

[2020-04-28 15:05] RobertKielty commented on #87807
My initial reading is that when the overall job duration spikes, all the tests are spiking pointing to possible resource contention where the job is run.

Sometimes for duration spike jobs there are missing results for some of the tests so presumably they are timing out and not failing?

Next step here would be for me to investigate to see if there is an hour-of-day to job duration spike correlati

[2020-04-28 15:08] mrobson commented on #84595
@tedyu yes, definitely looked! In this specific situation, the pods are never retried.

What we see happen with these pods:

ADD -> RECONCILE -> Started Volumes -> Created slice -> No sandbox for pod -> Started libcontainer -> ContainerStarted -> ContainerStarted -> RECONSILE -> ContainerDied -> RECONCILE -> Unmounts -> Killing unwanted pod -> Orphaned removing pod cgroups -> container kill failed

[2020-04-28 15:14] mrobson commented on #84595
@tedyu your change is of a similar nature to what I proposed in my PR for this issue, just a level higher. I think there are a few areas noted above the could help further debug this.. Still haven't been able to get my PR merged with additional logging.

[2020-04-28 15:17] ChristofSchwarz commented on #90403
Hi @chrisohaver is there a timeslot where we can meet with a remove session (Zoom, Skype, Teams, Webex, TeamViewer, name it) and have a look at it? My main job is BI Software Presales, I am not so fluent in Kubernetes and each "can you check this" or "try this" is one command line for you but hours of research for me. If positive, could you suggest a time to csw@qlik.com (Central Europe day hours)

[2020-04-28 15:19] saschagrunert commented on #90311
cc @dims

[2020-04-28 15:22] saschagrunert commented on #90119
/assign @Verolop

[2020-04-28 15:22] hacst commented on #62821
@MHBauer Clarification would definitely be helpful.

Documentation says:
[code]
But when I try to use it with a pending pod:
[code]
[code]
No waiting is done.

[2020-04-28 15:23] chrisohaver commented on #90403
@ChristofSchwarz, I'm fairly confident that this is an issue with your upstream DNS server, and not a Kubernetes issue.  IOW, Something must have changed in your upstream nameserver that handles the zone 3k32yaozxvnuteru2c5qb54rqg.bx.internal.cloudapp.net - where it used to return NXDOMAIN, but now returns a SERVFAIL.

[2020-04-28 15:23] lolin9 commented on #90549
@liggitt Probably for my case, I will just use `List` repetitively with each label and then combine the unique objects into one list. It isn't clean but it isn't that expensive too.

[2020-04-28 15:24] saschagrunert commented on #89847
/assign @spiffxp

Can you please add the latest information and close this one out? (Just discussed it in the release engineering meeting right now)

[2020-04-28 15:25] RobertKielty commented on #90311
ASLR stands for Address Space Layout Randomization
ref: https://en.wikipedia.org/wiki/Address_space_layout_randomization

[2020-04-28 15:25] neolit123 commented on #90311
conditionally building only Linux binaries in PIE for ASLR seems acceptable.
the problem is k8s is using a bash library for building which is not very flexible.

[2020-04-28 15:25] saschagrunert commented on #89847
@derekwaynecarr will request a new GCP project in k8s wg infra to add the SIG node jobs

[2020-04-28 15:28] tedyu commented on #84595
The following code was relatively new (compared to when you logged this issue):
[code]

[2020-04-28 15:33] leexiaominghub commented on #90546
when I insert "-v=4", it   @@reports:
kubectl edit -n kube-system daemonsets.apps kube-proxy
error: daemonsets.apps "kube-proxy" is invalid
A copy of your changes has been stored to "/tmp/kubectl-edit-ncqcu.yaml"
error: Edit cancelled, no valid changes were saved.

[2020-04-28 15:33] leexiaominghub commented on #90546
kubectl edit -n kube-system daemonsets.apps kube-proxy
error: daemonsets.apps "kube-proxy" is invalid
A copy of your changes has been stored to "/tmp/kubectl-edit-ncqcu.yaml"
error: Edit cancelled, no valid changes were saved.

[2020-04-28 15:43] leexiaominghub commented on #90546
but I saw this in source code ,
klog.Warning("WARNING: all flags other than --config, --write-config-to, and --cleanup are deprecated. Please begin using a config file ASAP.")
makes me confused....

[2020-04-28 15:58] alculquicondor commented on #89507
This seems reasonable to me. WDYT @ahg-g @Huang-Wei ?

[2020-04-28 16:05] mtaufen commented on #90136
@stealthybox and I discussed this in the component standard meeting this morning.
We think we'd be ok with a staging features repo that just applies to the core components, if other components in staging need a common place to consume these definitions from.
But we don't think that component-base is the right place for these feature definitions.

It may be a fine-line in this case, because of how

[2020-04-28 16:07] davesargrad commented on #88986
@dcbw Ty Dan.

[2020-04-28 16:28] ahg-g commented on #89507
sounds good to me, we can define an args type passed via PluginConfig.

[2020-04-28 16:34] #85765 closed

[2020-04-28 16:38] alculquicondor commented on #89507
#90544

[2020-04-28 16:40] yashbhutwala commented on #72811
/remove-lifecycle stale

[2020-04-28 16:46] ahg-g commented on #90485
/remove-sig scheduling

This is not quite related to the scheduler.

[2020-04-28 16:59] rikatz commented on #90546
About  this, please put the argument as ``- --v=4``  just after the same line from kube-proxy, becaming something like

[code]

About the error message you're right, as the logics of the code [here](https://github.com/kubernetes/kubernetes/blob/7ad2eb04af31f445025057d5bf560e7dc4eaf4fa/cmd/kube-proxy/app/server.go#L225) checks for the specific kube-proxy configuration args, but not from verbose and

[2020-04-28 16:59] mrobson commented on #84595
Indeed... I looked into it a while ago and those changes are new via: https://github.com/kubernetes/kubernetes/pull/88440 - Could definitely make a different if the issue is related to pod getting filtered out from activePods when they have not been fully cleaned up yet on the subsequent housekeeping syncloop runs.

[2020-04-28 17:11] roy-work commented on #82525
To me, during a `kubectl apply`, I'm _setting_ the state of the object, I'm not trying to patch it. (I'd be calling `kubectl patch` if that were the case.) To have fields on the previous object survive into the new object like this is _incredibly_ surprising behavior.

[2020-04-28 17:14] roy-work commented on #72519
This bug bit me today. As I stated on the linked #82525, I consider `kubectl apply` to be an operation that sets the current state of an object, not patches it. Having properties like this that survive the apply is incredibly surprising.

The `kubectl apply` in the original bug report doesn't set either field. (It doesn't explicitly `null` them out, which I think is what you're getting at, but I d

[2020-04-28 17:35] matthias50 commented on #90334
I rebuilt kubelet with your patch and I didn't see any difference in the behavior.  As a sanity test, I did add in this line:
[code]
as the first line to rotateLogs and I do see lines like these in the output:

[code]
So it seems I have indeed built my own patched kubelet.  However, these are the *only* logs I see from container_log_manager.go. I was expecting to see logs with "cleaning log for" i

[2020-04-28 17:44] alculquicondor commented on #90136
What do we need to move forward? Perhaps a KEP? Which SIG would be the most appropriate to own it?

[2020-04-28 17:48] immutableT commented on #90159
Sorry, I was not clear.
I was suggesting to use a liveness probe in the kms-plugin pod. The idea is to use such a probe to restart kms-plugin is it fails to perform encrypt/decrypt operations (example [here](https://github.com/GoogleCloudPlatform/k8s-cloudkms-plugin/blob/master/plugin/healthz.go#L127)).

Based on my memory, the main reason for the decision of using Unix Domain Socket was to avoid

[2020-04-28 17:51] bertoost commented on #70147
Sure, it's a solution @zakkg3 and first of all; great to see people taking this serious.
But the ding what I don't like is this;

together with this to-do;

I understand why this works like this, but I want this to be a generic available resource, not a copy in each namespace and I think above to-do should also be working. With a lot of namespaces this would be an massive update to handle manually

[2020-04-28 17:53] gWOLF3 commented on #28167
/reopen

[2020-04-28 17:53] tedyu commented on #90334
It seems you may have reached this (line 241) (with additional logging):
[code]
Within containerLogManager#removeExcessLogs, an info log can be added:
[code]

[2020-04-28 17:55] gWOLF3 commented on #28167
@kubernetes/sig-node-feature-requests

[2020-04-28 17:56] Zetanova commented on #484
any progress?

would really be great to socket activate pods to use them for webhooks/serverless services.

[2020-04-28 17:59] spolti commented on #55045
Any update on this? StatefulSet handled by operators has the same behavior, pvc not getting deleted after delete a application which is handled by the given operator.

[2020-04-28 18:01] neolit123 commented on #90136
i'd say SIG Architecture as it affects multiple components.

[2020-04-28 18:04] BenTheElder commented on #87807
here `staticcheck` flaked, IIRC this particular check ("unused") is known to be potentially flaky wrt _test imports https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/90400/pull-kubernetes-verify/1255118096859926529

[2020-04-28 18:21] andrewsykim commented on #90512
@eladm26 you probably want to sync up with @MrHohn who has started some work in https://github.com/kubernetes/kubernetes/issues/87603 which seems related.

[2020-04-28 18:29] matthias50 commented on #90334
Looks like the old containers get skipped for some reason.

[code]
So, if we look for logging regarding the Exited container, we see it gets skipped:
[code]

[2020-04-28 18:32] tedyu commented on #90334
This was expected: there was only one Exited container whose log was to be kept.
Please wait till there are two Exited containers.

[2020-04-28 18:32] DavidWHarvey commented on #55045
I have now have a successful workaround this problem for Elasticsearch.  If the Elasticsearch cluster is up, the preStop hook forces all data off of the pod, emptying the filesystem.   In the preStop hook, the pod reads the statefulSet for its PVC to  get the replica count.   If the pod number is >= the current replica count, then the pod  issues a delete of the PVC.   This has no effect until the

[2020-04-28 18:37] tedyu commented on #90334
Please also note the safety check:
[code]
which you can adjust in your cluster.

[2020-04-28 18:39] matthias50 commented on #90334
I don't think this will ever happen. Kubelet cleans up the Exited container before another one appears.

[code]
Note that the container id has changed for the Exited container.

[2020-04-28 18:42] spiffxp commented on #87807
https://github.com/kubernetes/kubernetes/issues/89052#issuecomment-599803604

last time this was resolved by raising the size of the build cluster, and/or raising CPU request, though I suspect that wasn't the actual resource being contended

looks like we're back to not knowing what resource is contended

[2020-04-28 18:44] spiffxp commented on #87807
you can see it happens to verify across branches, so I doubt it's the introduction of anything particularly new to verify
- https://testgrid.k8s.io/google-unit#verify-master&graph-metrics=test-duration-minutes&width=5
- https://testgrid.k8s.io/google-unit#verify-1.18&graph-metrics=test-duration-minutes&width=5
- https://testgrid.k8s.io/google-unit#verify-1.17&graph-metrics=test-duration-minutes&wi

[2020-04-28 18:52] tedyu commented on #90334
When you have time, see if this is better :
[rm-excess-log.txt](https://github.com/kubernetes/kubernetes/files/4547893/rm-excess-log.txt)

[2020-04-28 19:04] sheerun commented on #55045
Maybe some kind of Operator could be appropriate for this as in some cases it would be reasonable to e.g. backup PV before removing PVC. Auto-removing PVC is not silver bullet.

[2020-04-28 19:13] rikatz commented on #90546
Just to reply you with the right answer and close this, IF you have neither --config NOR --write-config-to the proxy will return an error.

Much possibly you're passing the arguments of the container in some wrong way, so it's not recognizing the --config and returning you the warning before it returns the error of -v not being recognized also.

So dismiss what I've said in the last comment about

[2020-04-28 19:13] princerachit commented on #89330
closing this issue as I was not able to reproduce it in the newer release. Thanks for your help @gnufied

[2020-04-28 19:46] gmatev commented on #56582
One other use case to consider here. We have an application that can run in a multi-tenant cluster collocated with other applications. The application itself orchestrates a number of user workloads. Ideally it would be able to deploy some of these workloads in a separate namespace for each user. On a multi-tenant cluster, we would like to find a way to give the application service account the perm

[2020-04-28 20:05] zakkg3 commented on #70147
@bertoost the to-do now its working. (just commited 10 mins ago)
On CRD deletion, the operator will delete all created or "synced" secrets.
On CRD update, the operator will update all created/synced secrets.

So no manually interventions needed anymore.
 :)

[2020-04-28 20:09] howardjohn commented on #70147
@zakkg3 you will likely want to watch for new namespaces being created as well. Its not a super trivial problem to solve, Istio has been struggling with a similar issue: https://github.com/istio/istio/issues/22463

[2020-04-28 20:13] zakkg3 commented on #70147
Good point!

[2020-04-28 20:22] alculquicondor commented on #90308
I realized that using `maxSkew` as weight is quite counterintuitive. Instead, I propose that we use `maxSkew` to water down the counts per topology.

`newCount := max(count - maxSkew + 1, 0)`

This way, the behavior still doesn't change for `maxSkew = 1`. But as `maxSkew` increases, counts become more similar. For example, given the counts `5 3 2 7` and `maxSkew=3`, we get the new counts: `2 0 0 4

[2020-04-28 20:26] fedebongio commented on #90504
/cc @jpbetz @roycaihw

[2020-04-28 20:27] yliaog commented on #90504
/cc

[2020-04-28 20:27] fedebongio commented on #90506
/assign @jpbetz

[2020-04-28 20:28] fedebongio commented on #90438
/sig docs

[2020-04-28 20:29] dcantah commented on #87420
Just ended up making a new release with this changes. https://github.com/microsoft/hcsshim/releases/tag/v0.8.9 @dims @daschott Hopefully this is finally resolved! 😁

[2020-04-28 20:38] ahg-g commented on #90308
That sounds better than the original proposal which seemed to deviate from the original semantics of the API.

[2020-04-28 20:46] hkamel opened #90568 "[Failing Test] build-master-fast (ci-kubernetes-build-fast)"
**Which jobs are failing**:
Overall

**Which test(s) are failing**:
ci-kubernetes-build-fast

**Since when has it been failing**:
04-28 12:59 PDT

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#build-master-fast

**Reason for failure**:
W0428 20:30:04.496]   File "/workspace/./test-infra/jenkins/../scenarios/kubernetes_build.py", line 32, in check
W0428 20:30:04.497]     su

[2020-04-28 20:50] hkamel commented on #90568
/sig testing

[2020-04-28 20:52] hasheddan commented on #90568
/milestone v1.19

[2020-04-28 21:33] BenTheElder commented on #90568
/assign

[2020-04-28 21:43] BenTheElder commented on #90568
PRing fixes

[2020-04-28 21:49] BenTheElder commented on #90568
https://github.com/kubernetes/test-infra/pull/17423
needs 2x followup. on it.

[2020-04-28 21:50] dims commented on #90568
pull-kubernetes-cross failed as well https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-cross

[2020-04-28 21:57] hamburgerbun opened #90570 "GCE "baremetal" cluster, worker node IPs not populated when kubelet --node-ip given IP of not-first-NIC"
**What happened**:

when initializing a kubernetes cluster in Google Cloud manually (not using GKE), internal (and external if available/applicable) node IP is not populated in "kubectl get nodes" if the interface used to connect to the master and passed to kubelet does not correspond to the first network interface, nic0 on google cloud console UI.

I cannot "kubectl edit node" and patch in the no

[2020-04-28 22:02] matthias50 commented on #90334
As an experiment, I deleted the safety check with the assumption that it would always leave around one old set of logs. Instead they were immediately cleaned and I only ended up with the logs from the latest running container, so I think something isn't quite right there.

Perhaps this occurred because the log cleaning ran while the pod was in crash loop backoff and the *only* container for the po

[2020-04-28 22:05] hamburgerbun commented on #90570
/sig cloud-provider ?

[2020-04-28 22:08] tedyu commented on #90334
The safety check is for log collection to retrieve the log from dead container.
So I think the safety check should be kept.

[2020-04-28 22:33] matthias50 commented on #90334
Well, that doesn't seem to work at all unfortunately. I let that run for a while and the logs hung around, just like before:
[code]
Also, I'm a bit concerned about something which is time based on how long to keep around the logs from the dead container. If that works as intended, won't that mean that `kubectl logs --previous` would no longer work after the grace period expired?

I noticed that th

[2020-04-28 22:34] BenTheElder commented on #90568
https://github.com/kubernetes/test-infra/pull/17425 => bump kubekins next.

[2020-04-28 22:43] alculquicondor commented on #88919
cc @SataQiu @gavinfish since you seemed interested in #89701

[2020-04-28 22:51] BenTheElder commented on #90568
https://github.com/kubernetes/test-infra/pull/17427

[2020-04-28 22:51] tedyu commented on #90334
In rm-excess-log-2.txt, containersByImage becomes field of containerLogManager.
There is no need to call status.GetLogPath() in the (new) loop which cleans logs of dead containers.
This version 2 would keep functionality of 'kubectl logs --previous'

I am running version 2 through test suite.

[rm-excess-log-2.txt](https://github.com/kubernetes/kubernetes/files/4548945/rm-excess-log-2.txt)

[2020-04-28 23:00] ankitm123 commented on #90329
I took a look at the code base, and looked at the VisitKind (used for `kubectl explain pod.spec.containers`) and VisitPrimitive (`kubectl explain pod.spec.containers.name`) methods. VisitPrimitive uses the *Primitive* struct which lacks the info if a primitive is required or not, while VisitKind use the *Kind* struct which has the list of all required fields. IMO, adding a required field to *Primi

[2020-04-28 23:02] jrroman commented on #89082
/assign

[2020-04-28 23:03] BenTheElder commented on #90568
fairly confident this will bounce back once https://github.com/kubernetes/test-infra/pull/17427 merges. it's lgtm just waiting on tests / tide

[2020-04-28 23:07] RobertKielty commented on #87807
Thanks @BenTheElder and @spiffxp I'll do some work on this tomorrow.

[2020-04-28 23:08] BenTheElder commented on #87807
might be worth seeing if staticheck has a mitigation for this in a newer
version or discussing disabling that check

On Tue, Apr 28, 2020 at 4:07 PM Robert Kielty <notifications@github.com>
wrote:

[2020-04-28 23:27] BenTheElder commented on #90568
green https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-build-fast/1255265195530391552

[2020-04-28 23:45] jrroman commented on #89082
@JoelSpeed I have submitted a PR at #90573 to address this issue. PTAL, thank you!

[2020-04-28 23:50] BobyMCbobs opened #90574 "Watch event test verification tooling"
- [Ticket status](#sec-1)
- [Current problem](#sec-2)
- [Proposed solution](#sec-3)

# Ticket status<a id="sec-1"></a>

-   [ ] [K8s watch events test tooling #323](https://github.com/cncf/apisnoop/pull/323)
-   [ ] [Watch event test verification tooling #90574](https://github.com/kubernetes/kubernetes/issues/90574)

# Current problem<a id="sec-2"></a>

Watch events may be missed and the test may

[2020-04-28 23:51] BobyMCbobs commented on #90574
/sig testing
/cc @hh

[2020-04-28 23:51] BobyMCbobs commented on #90574
/assign @smarterclayton

[2020-04-29 00:13] neolit123 commented on #90514
/sig scalability api-machinery

[2020-04-29 00:18] neolit123 commented on #90503
/sig node

[2020-04-29 00:27] ahjsun commented on #84730
I am having the same error.

To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code BJZQH4LQV to authenticate.
E0428 17:26:32.610157    2793 azure.go:154] Failed to acquire a token: acquiring a new fresh token: waiting for device code authentication to complete: autorest/adal/devicetoken: Error while retrieving OAuth token: Unknown Error

Setting up  SS

[2020-04-29 00:44] jherrera123 commented on #88132
/assign

[2020-04-29 01:21] xingfeng1234 commented on #90553
/sig apps-bugs

[2020-04-29 02:11] feiskyer commented on #90351
Per Azure Identity team, fore refreshing MSI token is not supported. Customers need to wait at most 1 hour to wait the token refreshed.

[2020-04-29 02:11] #90351 closed

[2020-04-29 02:26] LeoLiuYan commented on #74302
Why the 250 streams is the upper limit?

[2020-04-29 02:39] tedyu commented on #90570
[code]
We can keep calling Get for 1/ip, 2/ip, ... until err is non-nil.

Is there a better way to find how many interfaces there are ?

[2020-04-29 02:45] DaveWHarvey commented on #55045
What you are suggesting is an operator that runs when the stateful set has
completed upgrading?   That seems like a good solution.

On Tue, Apr 28, 2020, 3:05 PM Adam Stankiewicz <notifications@github.com>
wrote:

Disclaimer

The information contained in this communication from the sender is confidential. It is intended solely for use by the recipient and others authorized to receive it. If you ar

[2020-04-29 02:55] tedyu commented on #90334
[rm-excess-log-2-name.txt](https://github.com/kubernetes/kubernetes/files/4549609/rm-excess-log-2-name.txt)
From test suite results, it seems I need to increase the number of dead containers whose logs are kept, without the 6 minute grace period. See updated patch with test above.

Otherwise some test would fail with:
[code]

[2020-04-29 03:18] gaorong commented on #90159
Thanks, this is also the only way we can come up with, for now.
On the other hand, we allocate a big DEK cache for apiserver, which could serve the majority secret read request and no need to invoke kms-plugin. In this way, the majority read request can succeed even thought the kms-plugin crashed.

All this solution can mitigate the pain, but can not resolve this issue from the root. IMO, we would

[2020-04-29 03:46] dellkeji opened #90580 "Create daemonset by kubectl or helm，but default updateStrategy is OnDelete"
**What happened**:

i have a daemonset yaml, there is not  updateStrategy in yaml. But create daemonset by kubectl,  updateStrategy is set `type: OnDelete`.

in `https://v1-14.docs.kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/`，the daemonset default strategy is RollingUpdate。

the source daemonset yaml:

[code]

the daemonset yaml by kubectl：

[code]

**What you expected to happen**:

[2020-04-29 03:48] dopelsunce opened #90581 "Racy usage of sync.Cond in client-go/tools may cause goroutine leaks"
**What happened**:
Race conditions found on 2 usages of sync.Cond in client-go/tools/cache.DeltaFIFO and client-go/tools/watch/eventProcessor.  I don't know how harmful they are since the buggy interleaving is hard to trigger. They may lead to goroutine leaks to my understanding. They have similar causes and I put them in one issue here for ease of triage.

1. DeltaFIFO

When `(*DeltaFIFO).Pop()`

[2020-04-29 03:54] BenTheElder commented on #90568
/close
this has been green since the 15:39 PDT run

[2020-04-29 03:54] #90568 closed

[2020-04-29 03:55] BenTheElder commented on #90568
last follow up FTR https://github.com/kubernetes/test-infra/pull/17428

[2020-04-29 03:55] dopelsunce commented on #90581
/sig api-machinery

[2020-04-29 04:03] thockin commented on #90369
UDP can drop packets.

DNS is UDP.

There are known bugs in older (pre 5.0) kernels that can make this worse because of conntrack.

The only complete solution is the node-local DNS cache, I am afraid.

[2020-04-29 04:03] #90369 closed

[2020-04-29 04:06] thockin commented on #90344
I am guessing that you are accessing the service by its "cluster.local" name, but the remote end does not have that name in its certificate or in its routing tables.

ExternalName is a poor fit when using TLS.

[2020-04-29 04:06] #90344 closed

[2020-04-29 04:11] thockin commented on #90259
This allows some corner cases of `-j DNAT` in iptables, but honestly I forget the details.

I'm baffled why the kernel would respond to localhost traffic when it's clearly martian.

[2020-04-29 04:25] hasheddan commented on #90568
Thanks so much @BenTheElder!

[2020-04-29 04:26] tedyu commented on #90581
For issue 1, in controller.go
[code]
probably the date race is not uncovered due to Run() being long running.

If we use f.lock in f.Close() and f.IsClosed(), closedLock is not needed any more.
Since f.lock is taken at the beginning of Pop(), we would need lockless version of IsClosed()

[2020-04-29 04:59] mythi opened #90584 "e2e framework deletes all namespaces"
**What happened**:

We are using the e2e framework to implement e2e tests for our extensions (device plugins). We noticed that running the tests basically destroys the cluster setup by deleting everything in custom namespaces:

Very basic (single node) cluster setup with node-feature-discovery installed in node-feature-discovery namespace:

[code]

A test run gives:
[code]

And after the tests com

[2020-04-29 05:00] mythi commented on #90584
/sig testing

[2020-04-29 05:08] dopelsunce commented on #90581
Oh..Right. I didn't see this point. Please ignore my suggested fix for issue 1 then.

[2020-04-29 05:09] liggitt commented on #90580
The default in extensions/v1beta1 is OnDelete. The default in apps/v1 is RollingUpdate. See https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/ for details about the changes in DaemonSet between the beta and v1 API version.

[2020-04-29 05:09] #90580 closed

[2020-04-29 05:27] tanrobotix opened #90585 "Kube API Server has been crash, cannot use kubectl"
Hello,
Please help me, I fount this log in kube API server docker container.
Seem to be the api server has been crashed, I tried to reboot the server but it isn't work
[code]

**What happened**:
KubeAPI Server has been crash, I can not use kubectl
**What you expected to happen**:
Restart KubeAPI Server
**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need

[2020-04-29 05:37] liggitt commented on #90585
This was fixed in https://github.com/kubernetes/kubernetes/pull/83789 in 1.16.2+

[2020-04-29 05:37] #90585 closed

[2020-04-29 05:39] tanrobotix commented on #90585
Thank you! I'll take a upgrade

[2020-04-29 05:56] #16707 closed

[2020-04-29 06:02] lorenzo-david commented on #46508
Thanks @generals-space for the response and the workaround.

I'm totally new to all these component, but I tried to make sense of the various resources I've read online. Here's my write-up after some research - thanks in advance for correcting it in case I'm getting it wrong!

If I understand @errordeveloper's [comment](https://github.com/kubernetes/kubernetes/issues/46508#issuecomment-365356111)

[2020-04-29 06:19] dellkeji commented on #90580
ok, i know. thanks

[2020-04-29 06:34] abutail commented on #80122
What was the solution in a nutshell coming across similar setup where"lusterIP and LoadBalancerIP is not acceptable in my case. Reason you can route via ClusterIP and LoadBalancerIP inbound (from client to server) traffic, but you not able to route outbound traffic (from pod to server outside kubernetes) via ClusterIP and LoadBalancerIP."

[2020-04-29 06:46] sergey-safarov commented on #80122
I ow looking to `cilium` cni and then use `externalIPs` service for this case.

[2020-04-29 06:55] pbloigu commented on #69697
I also got hit by this. The PV had the finalizer "foregroundDeletion" in place. Editing the PV and removing the finalizer allowed the PV to terminate.

[2020-04-29 07:11] hkamel opened #90586 "[Flaky Test] gce-cos-master-serial (ci-kubernetes-e2e-gci-gce-serial)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-serial

**Reason for failure**:

**Anything else we need to know**:

/cc @kubernetes/ci-signal
/milestone v1.19
/priority critical-urgent
/sig testing

[2020-04-29 07:11] hkamel opened #90587 "[Failing Test] capg-conformance-v1alpha3-k8s-master (ci-cluster-api-provider-gcp-make-conformance-v1alpha3-k8s-ci-artifacts)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#capg-conformance-v1alpha3-k8s-master

**Reason for failure**:

**Anything else we need to know**:

/cc @kubernetes/ci-signal
/milestone v1.19
/priority critical-urgent
/sig testing

[2020-04-29 07:15] saschagrunert commented on #90311
I know at least some distributions which build go binaries per default with `buildmode=pie`. @neolit123  do you see any reason to not turn it on for Linux per default?

[2020-04-29 07:16] hkamel commented on #89372
The job is failing since 04-28 14:06 PDT, but not for the same reason. There is an issue pulling the images from gcr

/sig testing

[2020-04-29 07:22] BenTheElder commented on #89372
that's been fixed already
/remove-sig testing

On Wed, Apr 29, 2020 at 12:16 AM Hosam Kamel <notifications@github.com>
wrote:

[2020-04-29 07:22] BenTheElder commented on #89372
https://github.com/kubernetes/kubernetes/issues/90568#issuecomment-620981829

[2020-04-29 07:40] jonashartwig commented on #85966
Hi, I just came across the same problem (using weave and k8s v1.17.4). I used before 1.12.7 and wanted to migrate to the newer version. This was not an issue in 1.12.7.

regards

[2020-04-29 07:41] humblec commented on #82372
/reopen

[2020-04-29 07:49] #80431 closed

[2020-04-29 07:59] uablrek commented on #89392
@davidstack Since @matrixji does not see this issue;

Can you please try to check if the sync seems to run? And, of course, any error loggings around it.

What I would like to know is if the sync itself fails, or if it is a bug in the sync functions so stale entries are not cleaned-up.

[2020-04-29 08:27] weili10 opened #90588 "Check podSandboxChanged with wrong sandboxStatus"
https://github.com/kubernetes/kubernetes/blob/0c3c2cd6ac8c9ffefc38f9746034e546331b9cd6/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L434

The comment said 'Needs to create a new sandbox when readySandboxCount > 1 or the ready sandbox is not "the latest one".'

but the sandboxStatus got here is the first one.

[2020-04-29 08:35] weili10 commented on #90588
/sig apps

[2020-04-29 08:36] andyzhangx commented on #85354
/reopen
since it's not fixed

[2020-04-29 08:36] andyzhangx commented on #85354
/reopen

[2020-04-29 08:47] yeganeahmadnejad opened #90589 "pods in some project recreate every minute randomly"
**What happened**:
in some of my project , pods with pv assigined start to recreating all the time . I use ceph storage latest version. that's wondering why just few of project among other project get to this trouble .
this is the cycle for a wordpress project happening:
1.
[code]
2)
[code]
3)

[code]
4)
[code]

[code]

[code]

**Environment**:
- Kubernetes cluster
[code]
[code]
[code]
and I have

[2020-04-29 08:58] nielsole opened #90590 "NetworkPolicy allow traffic from nodes by label"
**What would you like to be added**:
I would like the following network policy to be valid:
[code]
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#networkpolicyingressrule-v1-networking-k8s-io
This would mean adding `nodeSelector` as a field to NetworkPolicyPeer as a LabelSelector

**Why is this needed**:
When a pod is using hostNetwork, it cannot be selected by a networkPolic

[2020-04-29 09:03] tedyu commented on #85966
@spikecurtis has provided comment on using the solution from #88169

https://github.com/kubernetes/kubernetes/pull/88169#issuecomment-600883890

[2020-04-29 09:15] tedyu commented on #90588
Take a look at the two if statements starting with the one on line 435:
[code]

[2020-04-29 09:24] JoelSpeed commented on #89082
@jrroman Apologies, this is already being tackled in #89482 which is currently under review and @renatoviana12 has been actively responding to, I think it's close to getting LGTM now

[2020-04-29 09:24] JoelSpeed commented on #89082
/lifecycle active

[2020-04-29 09:47] jonashartwig commented on #85966
I see he uses a new kubelet build from master. I use rancher/rke to facilitate my cluster. I will have a look if i can use a newer version of kublet with it. Do I understand correctly that this could be a way forward?

[2020-04-29 09:50] tedyu commented on #90589
Can you attach the kubelet log from the node ?

Thanks

[2020-04-29 09:50] kvaps opened #90593 "Kubelet is hanging due broken NFS share"
**What happened**:

- We had a NFS-server.
- Some pods were using this share
- NFS-server has died
- Pods were removed forcefully (with `--force --grace-period 0`)
- Kubelet was stuck operations for any other pods, eg. when you create new pods they are stuck on `Pending`, if you do `systemctl restart kubelet`, they are changing their state to `ContainerCreating` but still stuck. However on the doc

[2020-04-29 10:12] pohly commented on #90584
Which revision of the E2E framework are you using?

[2020-04-29 10:16] pohly commented on #90584
The code which removes namespaces is probably this: https://github.com/kubernetes/kubernetes/blob/0c3c2cd6ac8c9ffefc38f9746034e546331b9cd6/test/e2e/e2e.go#L240-L257

However, that is in `e2e.go`. In your own custom E2E suite you probably have a copy of that file. You can simply remove that code there if you don't want it.

[2020-04-29 10:20] chief93 opened #90594 "Cluster recovering failure"
**What happened**: after a midnight power down, I restarted my cluster's host machine and all of it's nodes. But seems like working nodes WRONGLY tried to reach the master node (and especially the API) through the CNI interface, which was not ready yet. This behavior was even on CNI-plugin pods (I use `kube-router` because of [this Flannel issue](https://github.com/coreos/flannel/issues/1281)).
Af

[2020-04-29 10:21] chief93 commented on #90594
/sig network
/sig node

[2020-04-29 10:37] BouweCeunen commented on #55946
It has never happened to me on T2 instances on AWS, can anyone also confirm? It could be related to nitro instances: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html#ec2-nitro-instances. I'm seriously considering writing a script to patch and remove this taint when it occurs.

[2020-04-29 10:38] mythi commented on #90584
A miss on our side.

[2020-04-29 10:38] #90584 closed

[2020-04-29 10:52] pantelis-karamolegkos opened #90595 "Preferred inter-pod affinity rarely collocates pods"
**What happened**:

Trying to leverage the inter-pod affinity [concept](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#inter-pod-affinity-and-anti-affinity).

The pod with the affinity property fails almost consistently to collocate with the pod described in the `labelSelector`

**What you expected to happen**:

Having the pod with the `affinity` property in its spec, collocate

[2020-04-29 10:52] pantelis-karamolegkos commented on #90595
/sig scheduling

[2020-04-29 11:28] brianpursley commented on #89762
/close fixed in 1.18.1.  https://github.com/kubernetes/kubernetes/pull/89795

[2020-04-29 11:29] brianpursley commented on #89762
Fixed in 1.18.1
https://github.com/kubernetes/kubernetes/pull/89795
/close

[2020-04-29 11:29] #89762 closed

[2020-04-29 11:33] brianpursley commented on #89195
@castlemilk did updating the fqn as mentioned above Solve the problem?

[2020-04-29 11:54] theAkito commented on #60957
**k3s server**:
[code]

[2020-04-29 12:04] neolit123 commented on #90311
i think it should be turned on. my comment was that our build infra is a bit entangled at places.

/priority backlog
the `help-wanted` label seems appropriate.

[2020-04-29 12:05] hasheddan commented on #90587
Related to https://github.com/kubernetes/kubernetes/issues/90568, looks green now 👍

/close

[2020-04-29 12:05] #90587 closed

[2020-04-29 12:07] hasheddan commented on #90586
Related to #90568 and will likely turn green now. However, it has not technically passed yet. @hkamel will you close this when you observe return to passing? Thanks!

[2020-04-29 12:09] hkamel commented on #90586
@hasheddan sure, I'm watching it already. can you tag the milestone pelase

[2020-04-29 12:10] hasheddan commented on #90586
/mileston v1.19

[2020-04-29 12:11] hasheddan commented on #90586
/milestone v1.19

[2020-04-29 12:13] KielChan commented on #74302
concurrent stream in client and server is same, 'cos http2 headers coordination. In Apiserver it's default value is 250, and in kubelet client is 1000, so just adjust apiserver's configuration `--http2-max-streams-per-connection` in v1.13.2

[2020-04-29 12:36] ysaakpr commented on #57250
Looks like the community doesn't want to support new features from AWS I guess.

[2020-04-29 12:41] pantelis-karamolegkos commented on #90595
The problem was in the usage of "all" as namespaces across which the affinity rule should be applied.

When replaced with a specific namespace (in this case `jenkins`) the scheduling became far more predictable.

There is no clear indication in the [docs](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#podaffinityterm-v1-core) however how to declare that the affinity should sp

[2020-04-29 12:41] #90595 closed

[2020-04-29 13:07] hasheddan commented on #89262
Pinging sig-windows testing approvers: @adelina-t @andyzhangx @chewong @marosset @michmike @PatrickLang

[2020-04-29 13:24] brianpursley commented on #89110
/kind bug

[2020-04-29 13:26] brianpursley commented on #69461
/kind feature

[2020-04-29 13:26] brianpursley commented on #58065
/kind bug

[2020-04-29 13:27] brianpursley commented on #55072
/kind bug

[2020-04-29 13:28] brianpursley commented on #44025
/kind bug

[2020-04-29 13:30] brianpursley commented on #42552
/kind bug

[2020-04-29 13:31] brianpursley commented on #42217
/kind bug

[2020-04-29 13:34] brianpursley commented on #35213
/kind feature

[2020-04-29 13:36] brianpursley commented on #17512
/kind feature

[2020-04-29 13:37] brianpursley commented on #14040
/kind feature

[2020-04-29 13:38] brianpursley commented on #8876
/kind feature

[2020-04-29 13:40] brianpursley commented on #3268
/kind feature

[2020-04-29 13:41] brianpursley commented on #5164
/kind feature

[2020-04-29 13:42] kvaps commented on #86281
Just checked that reverting b4e0f1b8f8b4de2fadf7a875742a2da913cd0a27 from #84321 does not solves the original problem.

Problem still persist on v1.17 and v1.18 versions

[2020-04-29 13:47] pjbgf commented on #82647
/remove-lifecycle stale

[2020-04-29 13:48] gregoryfranklin opened #90597 "Resourcequota not updating due to broken webhook"
**What happened**:
We upgraded cert-manager from 0.13 to 0.14 which included moving the CRD version from v1alpha2 to v1alpha3.
At the time, resourcequota_controller picked up the change.

What we had not noticed was that we had mis-configured the webhook, so started getting these errors

Some time later controller-manager was restarted.

After this point, resourcequota usage was no longer updated

[2020-04-29 13:54] #84130 closed

[2020-04-29 14:32] holmesb commented on #83471
Yes we're also seeing this "Pulling image", even when said image already exists.  Eventually seems to sort itself out and pods start.  If there really is a "blocking" image being pulled when `--serialize-image-pulls=true`, then is there any way of detecting which image is being pulled?  Dockerd logs aren't clear.
Is there a downside of disabling serialize-image-pulls?  [Docs ](https://kubernetes.i

[2020-04-29 14:36] yashbhutwala commented on #75503
/reopen
/remove-lifecycle rotten

[2020-04-29 14:49] smarterclayton commented on #90574
If the condition fails, the whole scenario should probably be re-run (a fixed number of times) to account for scenarios with long pauses and intervals.  Is that accounted for?

[2020-04-29 15:09] andrewsykim opened #90600 "Add .import-restrictions file to cmd/cloud-controller-manager"
**What would you like to be added**:
Add a .import-restrictions file to cmd/cloud-controller-manager to prevent new imports to k8s.io/kubernetes.

**Why is this needed**:
As part of https://github.com/kubernetes/cloud-provider/issues/29 and the effort to remove cloud providers, we are moving cmd/cloud-controller-manager to staging (under k8s.io/cloud-provider) so that external cloud providers don'

[2020-04-29 15:10] hamburgerbun commented on #90570
i haven't used the gcloud go metadata client, but looping until error or hitting instance/network-interfaces directly for the interface indices available is probably about the same since NIC count is limited by VM tier anyways.

[code]

[2020-04-29 15:15] andrewsykim commented on #90600
/sig cloud-provider

[2020-04-29 16:02] jethrogb commented on #59119
/remove-lifecycle rotten

[2020-04-29 16:16] harshanarayana commented on #90485
@ahg-g Thanks for fixing the label.

[2020-04-29 16:32] abutail commented on #80122
Thanks how are you managing HA for those external IPs

[2020-04-29 16:36] andrewsykim commented on #90600
cc @cici37 @cheftako

[2020-04-29 16:39] kvaps commented on #86281
But after upgrade to v1.18 I also see many `Throttling request took` messages:

[code]

[2020-04-29 16:50] msau42 commented on #86281
Do you have a lot of volumes in your cluster? You may be hitting this scaling issue: https://github.com/kubernetes/kubernetes/issues/84169

[2020-04-29 16:51] andreamaruccia commented on #78865
hm maybe not 100% related to this issue but I had a problem which was due to the fact that I had 2 filesystems. K8S couldn't manage that fact. See https://github.com/kubernetes/enhancements/issues/361#issuecomment-372369454.

So I ended up to mount the partition and made docker and kubelet use the same partition with symlinks which solved the issue.

[2020-04-29 16:57] kvaps commented on #86281
@msau42, thanks for pointing
I have 803 PVs, 588 of them are CSI

If I downgrade controller-manager to v1.16.9, reattachment is working fine

[2020-04-29 17:09] tedyu commented on #90334
[rm-excess-log-2-name.txt](https://github.com/kubernetes/kubernetes/files/4553157/rm-excess-log-2-name.txt)
Here is updated patch where I introduced two helper methods to make the code more readable.
container in runtimeapi.ContainerState_CONTAINER_RUNNING state would be added to the map. Later, when container exits, its state in the map would be updated.

This way, we don't rely on CRI giving us

[2020-04-29 17:31] alculquicondor commented on #88634
@liggitt do you know of such precedents?

On the other hand, OpenAPI is probably well-known among kubernetes users.

[2020-04-29 17:33] lavalamp commented on #59119
I believe SSA code should reject this. I am not sure if we're failing requests yet when SSA barfs (@apelisse probably knows). We are slightly worried about making client requests that used to "work" stop working. In this case the result is clearly garbage so that's probably not an issue.

(sorry for extremely delayed response, this is the first I saw the issue in my email)

[2020-04-29 17:38] anks333 commented on #74551
I am facing the same issue,
error logs
[code]

[2020-04-29 19:22] spiffxp commented on #88971
/assign
/close
I just noticed this issue.  The situation should be markedly improved since https://github.com/kubernetes/test-infra/pull/17213 merged 2 weeks ago

There are still some piecemeal GKE jobs floating around but I don't think any of them should be on CI Signal's radar

[2020-04-29 19:22] #88971 closed

[2020-04-29 19:31] roy-work opened #90607 "StatefulSet continues to try to create pods with old spec even after spec updated"
**What happened**: We attempted to remove a `serviceAccount` from a `StatefulSet` by removing the `serviceAccount` from the `spec.template` of the `StatefulSet`, and by removing the `ServiceAccount` itself.

However, due to the unfixed https://github.com/kubernetes/kubernetes/issues/72519, while the removal of the `ServiceAccount` itself succeeded, the removal of the reference to it on the `Statef

[2020-04-29 19:32] roy-work commented on #90607
/sig apps

[2020-04-29 19:33] sergey-safarov commented on #80122
External IP may be assigned using [pacemaker](https://github.com/ClusterLabs/resource-agents/tree/master/heartbeat) (make search by `aws`).

Or if you want assign public IP without NAT then you can make static route to "eni-" card.
When EC2 instance will fail, then unic pacemaker change static route to other ''eni-".

[2020-04-29 19:44] akrock commented on #69687
Sure would be nice on some kind of guidance on what it takes to push `FeatureGates` through the pipeline.

Seems all of the major managed K8S  providers (AKS/EKS/GKE) have taken a similar stance on only allowing GA `FeatureGates`

[2020-04-29 19:53] spiffxp commented on #89372
/close
I suggest we close this, the job's not exactly perpetually flaky.  Please /reopen and update this to be more actionable if you disagree

[2020-04-29 19:53] #89372 closed

[2020-04-29 20:01] apelisse opened #90610 "Updates with client-go dropping ManagedFieldsEntry.FieldsType breaks"
https://github.com/kubedb/issues/issues/739

[`ManagedFieldsEntry. FieldsType`](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L1123) is not defaulted and can be dropped by pre 1.15 versions of client-go (since the field didn't exist at that time). Unfortunately, sending an update will then result in a validation failure since the fie

[2020-04-29 20:01] apelisse commented on #90610
/cc @kwiesmueller @liggitt @lavalamp

[2020-04-29 20:02] spiffxp commented on #89847
Getting this to run over in wg-k8s-infra is going to take some time.  Expect something in the next two weeks. (ref: https://github.com/kubernetes/k8s.io/issues/752#issuecomment-621371086)

As these aren't release blocking or merge blocking tests I haven't spent time dissecting whether there is something unique about this project that requires it be used for containerd tests.  Someone is welcome to

[2020-04-29 20:03] apelisse commented on #90610
The bug is probably present since 1.16, but we haven't detected it before 1.18 because it's more likely to happen (now that most objects have managed fields, rather than before when barely any had it).

[2020-04-29 20:05] jrroman commented on #89082
@JoelSpeed Sorry about that I didnt realize, I have closed my PR accordingly. Thank you!

[2020-04-29 20:11] matthias50 commented on #90334
Doesn't seem to work. Here is what I get after letting the test run for a few minutes:
[code]
Are you able to perform e2e tests on the patches on your side?

[2020-04-29 20:15] tedyu commented on #90334
Please note:
[code]
If 3.log.20200429-183743 is for the current container, logs for 0, 1 and 2 would be kept.

Please attach kubelet log if logs for more containers accumulate.

Thanks

[2020-04-29 20:16] apelisse commented on #90610
A much simpler solution is to use a post-1.16 client-go? I don't think upgrading to 1.18 is necessary.

[2020-04-29 20:29] jaimehrubiks commented on #50375
+1

[2020-04-29 20:32] jqmichael commented on #80967
The fundamental resource limits that AWS enforces is the # of ENIs that can be attached to an ec2 instance, nothing CNI/CSI specifically. Imagine if there're other resources that need to attach ENI, they will run into the same limit.

If # of ENI is modeled as a Node resource, similar to CPU/memory, Scheduler/CNI/CSI/any other component can be aware of the Node limit and capacity before placing po

[2020-04-29 20:33] snehala27 opened #90611 "Azure LoadBalancer service not accessible due to missing inbound rule in NSG"
**What happened**: I have created Azure cluster with the following conf file:
[code]
On adding a load balancer service, a public IP is assigned to it. But the service is not accessible through public IP
On debugging further, found out that the NetworkSecurityGroup: testCluster-node-nsg has no inbound rule for the service
I tried adding the rule manually but the NSG gets updated with the default se

[2020-04-29 20:38] snehala27 commented on #90611
/sig cloud-provider
/area provider/azure

[2020-04-29 20:57] circum1 commented on #52757
@adampl I tried it out, but in that case nvidia-docker does not configure my container for using the gpu. How do you make nvidia-docker kick in in case you do not specify nvidia.com/gpu as a resource limit?

[2020-04-29 21:01] #85740 closed

[2020-04-29 21:16] apelisse opened #90614 "Investigate and test differences between Client-side apply and Server-side apply"
If we want to change make server-side apply the default for `kubectl apply`, we need to minimize the surprise and roadblocks for users. To do that, we need to investigate what the differences between CSA and SSA are and make sure that we have proper testing to detect these differences and prevent new differences from being introduced.

cc @liggitt @lavalamp @kwiesmueller

[2020-04-29 21:17] apelisse commented on #90614
/wg apply
/priority important-soon

[2020-04-29 21:17] apelisse commented on #90614
/wg api-expression

[2020-04-29 21:17] apelisse commented on #90614
/kind deprecation

[2020-04-29 21:20] apelisse commented on #90614
What I've thought so far:

Since we don't exactly know what we're looking for we have multiple ways of approaching this:
Make automatically generated tests (from fuzzing) and/or as we do for dry-run/etcd: generate data for all types
Basically, all the "kubectl apply" test should keep working as we make SSA the default. Of course it'd be optimistic to assume that the existing testsuite is sufficien

[2020-04-29 21:27] apelisse commented on #90610
A rather radical method would be to just drop the whole ManagedFields thing when it misses the field. I think in general we drop ManagedFields when it's invalid anyways.

[2020-04-29 21:28] apelisse commented on #90610
Alternately, we could also try to load the ManagedFields using the only type we have right now.

[2020-04-29 21:36] #90138 closed

[2020-04-29 21:40] liggitt commented on #90610
not sure what you mean by this

I would expect a managedFields without fieldsType set to be more likely to be a pre-1.16 client-go client than a client that is trying to manipulate the managedFields structure and doesn't know to set that field properly. Treating that scenario the same way we treat a request that omits managedFields entirely seems reasonable to me.

[2020-04-29 21:43] apelisse commented on #90610
To be honest, we do the same thing in both cases.

Well, the `FieldsType` has only one value today, so if it's missing, we still really know what it should be doing anyway ...

[2020-04-29 21:47] liggitt commented on #90610
if we add a second possible value, we would still need to tolerate a client that worked prior to 1.16 dropping the fieldsType field

[2020-04-29 21:49] apelisse commented on #90610
Yes, I think that sort of goes back to what I was trying to say here:

We can try to load it with the one deserializer we have and see if it works. When we have two, we could possibly try both deserializers.

[2020-04-29 21:50] liggitt commented on #90610
is falling back to the old object's managedFields simpler/safer?

[2020-04-29 21:51] apelisse commented on #90610
It's probably simpler yes.

[2020-04-29 21:53] apelisse commented on #90610
We have to make the `FieldsType` not required, and it's probably an if-statement somewhere.

[2020-04-29 22:05] tedyu commented on #90334
Here is updated patch (with more log)
[rm-excess-log-3.txt](https://github.com/kubernetes/kubernetes/files/4554921/rm-excess-log-3.txt)

[2020-04-29 22:09] yeganeahmadnejad commented on #90589
that the kubelet log
[Uploading kubelet-log.txt…]()

and after 4 hours pod recreating at last stop, but also in some cases pod recreate for a day or more.

[2020-04-29 22:23] tedyu commented on #90589
The link to log says 'Uploading kubelet-log.txt…'

I don't seem to be able to download the log.

If it is too big, consider compressing it.
If you see repeated pattern in the log, you can extract snippet from it.

Thanks

[2020-04-29 22:44] Huang-Wei opened #90616 "Unnecessary scheduling attempt"
When there is not any node fits for an incoming Pod, scheduler firstly tries to [put it to internal unschedulableQ or backoffQ](https://github.com/kubernetes/kubernetes/blob/429aefa2e6e1d41cab892703733cf6fdd9919561/pkg/scheduler/factory.go#L504). And right after that, scheduler [updates the Pod's status as unschedulable](https://github.com/kubernetes/kubernetes/blob/429aefa2e6e1d41cab892703733cf6f

[2020-04-29 22:44] Huang-Wei commented on #90616
/assign

[2020-04-29 22:54] BobyMCbobs commented on #90574
@smarterclayton, that's a good thought. I've updated the ticket with that functionality.

[2020-04-29 22:55] adampl commented on #52757
@circum1 In order to use Nvidia GPUs from your pods, you will need:
1. `cuda-drivers` and `nvidia-container-runtime` installed on the host
1. `nvidia-container-runtime` configured as the default runtime in `/etc/docker/daemon.json`
1. a CUDA-enabled docker image for your containers (if you want to use CUDA)
1. `NVIDIA_VISIBLE_DEVICES=all` (`all` or selected GPU IDs) env variable set in the contain

[2020-04-29 22:59] liggitt commented on #90597
https://github.com/kubernetes/kubernetes/pull/74747 was primarily concerned with the periodic sync, not the initial one done on controller manager startup. It's possible similar tolerations could be added there

[2020-04-29 23:07] liggitt commented on #90589
Sounds similar to https://github.com/kubernetes/kubernetes/issues/89860

[2020-04-29 23:20] heyste opened #90619 "Add deleteCoreV1CollectionNamespacedEvent Test - +1 endpoint coverage"
# Progress <code>[2/6]</code>

-   [X] APISnoop org-flow: [deleteCoreV1CollectionNamespacedEventTest.org](https://github.com/cncf/apisnoop/blob/master/tickets/k8s/deleteCoreV1CollectionNamespacedEventTest.org)
-   [X] Test approval issue: [kubernetes/kubernetes#90619](https://github.com/kubernetes/kubernetes/issues/90619)
-   [ ] Test pr: kuberenetes/kubernetes#
-   [ ] Two weeks soak start date:

[2020-04-29 23:24] Huang-Wei commented on #90616
We can use an integration test to reproduce this:

[code]

And then run the "TestFilterPlugin" test for 10 times, on my local dev machines, it shows like:

[code]

The number shows Filter() function being called, as the test setups 2 node, so only 2 calls are expected, but you can see that 30% of the results shows 4 calls, and also there is error msa when adding the Pod to unschedubleQ:

[code]

I

[2020-04-30 00:07] raymonddeng99 commented on #90619
/assign

[2020-04-30 00:16] raravena80 commented on #69311
/remove-lifecycle stale

[2020-04-30 00:17] Huang-Wei commented on #90616
/cc @ahg-g @alculquicondor

[2020-04-30 00:39] yeganeahmadnejad commented on #90589
[code]

[2020-04-30 01:28] matrixji commented on #89392
As this problem is only happened twice in our testing environment(one for IPVS, and one for iptables,during some testing with poweroff one master), now we have adjust the logging level to 7, and try to reproduce it. I'll update here if have any more information in future.