[2021-06-11 18:49] ehashman commented on #102806
https://golang.org/src/net/ip.go?s=15720:15745#L668 for the upstream code.

[2021-06-11 18:50] cndoit18 commented on #102806
[code]

[2021-06-11 18:54] ehashman commented on #102806
This is the line throwing the NPE: https://github.com/kubernetes/kubernetes/blob/3dd561ade4cfde179af0e17b029bff27c537a534/pkg/kubelet/kubelet_pods.go#L1591

I don't know how we'd call that with a null pointer, happy for others to dig :)

[2021-06-11 18:55] endocrimes commented on #102806
@cndoit18 hmm - that's not quite the same crash  - That fails when dereferencing the pointer, not when trying to access the string in the loop

[2021-06-11 18:55] cndoit18 commented on #102806
[code]

[2021-06-11 18:56] endocrimes commented on #102806
@ehashman Yeah - It _seems_ like this should only occur if somehow the string had length but a borked data pointer, and I'm not quite sure how that can happen naturally in the code that I'm reading in the pod deregistration flow

[2021-06-11 19:07] endocrimes commented on #102806
@cndoit18 That also crashes when deferencing *point rather than ever making it to net.ParseIP. I don't think there's a way you can break the string len like this easily because SetString under the hood derefs the value pointer and assigns the new value.

[2021-06-11 19:10] BenTheElder commented on #102607
https://github.com/kubernetes/test-infra/pull/22537 to drop `KUBE_TIMEOUT` from the CI config after https://github.com/kubernetes/kubernetes/pull/102768

[2021-06-11 19:18] Huang-Wei commented on #97208
/remove-lifecycle rotten

[2021-06-11 19:48] bmcentos opened #102816 "Pods in status pending after apply upgrade from 1.20.2 to 1.21.1"
Hi, after upgrade my masters nodes, i had upgraded my workers nodes once each time, i realized that my pods was in state "pending", and i cant create new pods without it stay in this status. Mys schedullers and controllers are running. Someone got this behavior in cluster?

NAME                             READY   STATUS    RESTARTS   AGE
java-59c89dc56-sbcs8         0/1     Pending   0          1

[2021-06-11 20:46] aojea commented on #102806
https://github.com/kubernetes/kubernetes/pull/102817

[2021-06-11 20:50] kbelow opened #102818 "Graceful node shutdown conflicts with unattended-upgrades package"
#### What happened:
setting shutdownGracePeriod: "60s" and shutdownGracePeriodCriticalPods: "30s" in /etc/kubernetes/kubelet-config.yaml results in /var/log/kubelet.log messages like:
Jun 2 19:41:48 test-c2rtl5620bsn3hi5voeg-kublettest1-default-0000042f kubelet.service[7402]: E0602 19:41:48.214662 7402 kubelet.go:1404] "Failed to start node shutdown manager" err="node shutdown manager was unable t

[2021-06-11 20:55] kbelow commented on #102818
/sig sig-node

[2021-06-11 20:56] kbelow commented on #102818
/sig node

[2021-06-11 21:42] bmcentos commented on #102816
/sig Descheduler

[2021-06-11 21:46] bmcentos commented on #102816
sig/cluster-lifecycle

[2021-06-11 22:23] renukamanavalan commented on #102797
Duplicate of [#99305](https://github.com/kubernetes/kubernetes/issues/99305)

[2021-06-11 22:23] #102797 closed

[2021-06-11 22:25] SergeyKanzhelev commented on #102818
/cc @bobbypage

KEP: https://github.com/kubernetes/enhancements/issues/2000

[2021-06-11 22:34] bobbypage commented on #99986
/cc

[2021-06-11 22:37] gjkim42 commented on #102816
Did you also upgrade your kubelet?

[2021-06-11 22:38] SergeyKanzhelev opened #102820 "Pods with Shutdown status confuse users of graceful node shutdown feature"
#### What happened:

When using Graceful Node Shutdown feature, status and reason of "shutdown" pod  are confusing for users. See https://github.com/kubernetes/website/pull/28235/ where I attempt to address this confusion by documenting the behavior.

However, it would be great to improve messages. Perhaps the following renaming:

[code]

Reason "Shutdown" is confusing because it may appear as a p

[2021-06-11 22:39] SergeyKanzhelev commented on #99986
/cc

[2021-06-11 22:40] bmcentos commented on #102816
@gjkim42 yes, after upgrade kubeadm, as steps from documentation, but I had this issue.

[2021-06-11 22:41] SergeyKanzhelev commented on #99986
Additional consideration here - have a different thresholds for different failure reasons. In case of pods terminated because of node graceful termination - pods will likely be less interesting for troubleshooting. See https://github.com/kubernetes/kubernetes/issues/102820

[2021-06-11 23:01] gjkim42 commented on #102816
Could you post output of `kubectl get pods -A`?

[2021-06-11 23:19] lavalamp commented on #102632
Why can you not remove the registration line prior to importing the new packages?

[2021-06-11 23:21] bmcentos commented on #102816
Yes, follow:

app-exemplo            app-java-59c89dc56-sbcs8                                   0/1     Pending       0          5h44m

app-exemplo            app-java-676f4c6c5c-vtqs7                                  0/1     Pending       0          5h38m

app-exemplo            python-projetos-b4c7694d-t99nw                             0/1     Pending       0          5h44m

cattle-logging

[2021-06-11 23:25] gjkim42 commented on #102816
It would be helpful to make blocks by wrapping each output log with ```.

[2021-06-11 23:26] bmcentos commented on #102816
Sorry, its my first opened issue.

[2021-06-11 23:33] bmcentos commented on #102816
After reboot a node, like cni0 stop to work:

"nown desc = failed to setup network for sandbox \"7ee5c947ebbda9af2f399ad7df598b3fd830f309fa06753ad61915406a455274\": open /run/flannel/subnet.env: no such fi>

r \"rancher-logging-log-aggregator-linux-wc7b9_cattle-logging(9ec94134-e6d5-4240-9b4a-b76fc8f7f08e)\" with CreatePodSandboxError: \"Failed to create sandbox f>

= Unknown desc = failed to setu

[2021-06-11 23:34] gjkim42 commented on #102816
See https://www.markdownguide.org/extended-syntax/#fenced-code-blocks to make a block.

[2021-06-11 23:43] gjkim42 commented on #102816
Can you post the output of `kubectl get pods -o wide -A`?

[2021-06-12 00:08] bmcentos commented on #102816
Thank you. Follow the output for -o wide:

[code]

[2021-06-12 00:23] ehashman opened #102822 "Builds fail without `docker buildx`, but dependency isn't validated"
#### What happened:

When I ran `make update`, it failed with the following error:

[code]

#### What you expected to happen:

I expected the build to successfully complete, or to be warned that I am missing a required build dependency.

#### How to reproduce it (as minimally and precisely as possible):

If you don't have docker buildx installed, you will hit this error. However, that error is mas

[2021-06-12 00:23] ehashman commented on #102822
/sig release

[2021-06-12 00:24] gjkim42 commented on #102816
I think pending pods are even not scheduled yet.

1. Can you make a new pod ? What happens if you run `kubectl run test --image=busybox --command -- sleep 3600`?
2. What happens if you run `kubectl delete nginx-5b6bd98f9c-nljx8 -n default`? Is new pod created?

[2021-06-12 00:24] ehashman commented on #102820
/cc @rphillips @wgahnagl

[2021-06-12 00:35] bmcentos commented on #102816
The pod stay pending
![image](https://user-images.githubusercontent.com/25855270/121759395-e1dea900-cafb-11eb-8d68-fc448de38157.png)

![image](https://user-images.githubusercontent.com/25855270/121759412-ed31d480-cafb-11eb-9f2f-d35ff4460d58.png)

![image](https://user-images.githubusercontent.com/25855270/121759422-f7ec6980-cafb-11eb-8cb6-fd73b339a68d.png)

![image](https://user-images.githubuserc

[2021-06-12 00:37] jberkus commented on #91246
I've pinged some of the Ceph devs about this.

[2021-06-12 00:40] gjkim42 commented on #102816
Can you post full scheduler logs?

[2021-06-12 00:44] novahe commented on #102820
/assign

[2021-06-12 00:45] bmcentos commented on #102816
This is full scheduler log:

[code]

[2021-06-12 01:04] gjkim42 commented on #102816
What happes if you run `kubectl get poddisruptionbudget` and `kubectl api-resources`?

[2021-06-12 01:07] #100871 closed

[2021-06-12 01:10] bmcentos commented on #102816
kubectl get poddisruptionbudget -A

[code]

kubectl api-resources
[code]

[2021-06-12 01:11] gjkim42 commented on #102816
What about `kubectl get apiservices`?

[2021-06-12 01:11] bmcentos commented on #102816
[code]

[2021-06-12 01:19] gjkim42 commented on #102816
Maybe this is an authentication issue?

[code]

How about binding extension-apiserver-authentication-reader with the serviceaccount of kube-scheduler pod?
`kubectl create rolebinding -n kube-system ROLEBINDING_NAME --role=extension-apiserver-authentication-reader --serviceaccount=YOUR_NS:YOUR_SA`

[2021-06-12 01:23] gjkim42 commented on #102816
Or there is no such configmap.
Run `kubectl get configmap extension-apiserver-authentication -n kube-system`

[2021-06-12 01:24] bmcentos commented on #102816
![image](https://user-images.githubusercontent.com/25855270/121760953-bc559d80-cb03-11eb-8e55-8eb90e7df21f.png)

The rbac would be like that?

kubectl create rolebinding -n kube-system defaultrbac --role=extension-apiserver-authentication-reader --serviceaccount=kube-system:default

[2021-06-12 01:26] bmcentos commented on #102816
In controller manager i can see this error too:

[code]

[2021-06-12 01:30] bmcentos commented on #102816
This is the clusterRole:

kube-controller-manager
[code]

kube-scheduler:
[code]

[2021-06-12 01:37] gjkim42 commented on #102816
My bad.

I think scheduler should requests as user `system:kube-scheduler`. Is kube-scheduler using proper kubeconfig file?

[2021-06-12 02:05] gjkim42 commented on #102816
I think you have to add `configmaps` to `system:kube-scheduler` clusterrole.

[2021-06-12 03:06] knight42 commented on #102754
@BenTheElder Hi, I have filed #102824 to address this issue.

[2021-06-12 03:21] knight42 commented on #102793
@ahg-g Hi! I would like to help. By saying `Remove legacy registry and related factory code`, did you mean we should keep the deprecated flags but make them have no effect?

[2021-06-12 03:41] BenTheElder commented on #102754
Thank you!

[2021-06-12 04:22] MikeSpreitzer opened #102826 "typo in kubeadm api doc: "node subnet" instead of "pod subnet""
#### What happened:
I was reading about how to use kubeadm and noticed a typo in the API documentation.  https://github.com/kubernetes/kubernetes/blob/52eea971c57580c6b1b74f0a12bf9cc6083a4d6b/cmd/kubeadm/app/apis/kubeadm/v1beta3/doc.go#L123 speaks of the "node subnet" where I think "pod subnet" is intended.

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as

[2021-06-12 04:22] MikeSpreitzer commented on #102826
@kubernetes/sig-cluster-lifecycle

[2021-06-12 04:23] MikeSpreitzer commented on #102826
/sig cluster-lifecycle

[2021-06-12 04:39] MikeSpreitzer opened #102827 "syntax of KubeletExtraArgs is not clear"
#### What happened:
I was reading the doc about NodeRegistration, with an interest in specifying some `kubeletExtraArgs`.  I noticed that the doc (e.g., https://github.com/kubernetes/kubernetes/blob/52eea971c57580c6b1b74f0a12bf9cc6083a4d6b/cmd/kubeadm/app/apis/kubeadm/v1beta2/types.go#L207-L210) does not tell me exactly how to identify each arg: exactly as on the command line (including leading da

[2021-06-12 04:45] MikeSpreitzer commented on #102827
/sig cluster-lifecycle

[2021-06-12 06:09] BenTheElder commented on #102827
FWIW the answer is flag names as on the command name but without any leading dashes.

This also applies to controllerManager.extraArgs, scheduler.extraArgs, etc. which hopefully should all cover this similarly (if not now, after fixing ...)

[2021-06-12 06:09] BenTheElder commented on #102826
/area kubeadm

[2021-06-12 06:11] BenTheElder commented on #102822
That's not the same as in the script, which should be setting `DOCKER_CLI_EXPERIMENTAL=enabled` which ungates this command.

Stable docker versions should have buildx, at least behind this env. unfortunately the project has never validated a minimum docker version for building.

[2021-06-12 06:17] BenTheElder commented on #102822
buildx as a build requirement was actually introduced at least as back as 1.21 as well, for some of the core images. we've just standardized on it more since then (including the linked commit), so if we do add some validation we should probably backport it.

I think docker buildx has been available since 19.03?, but it appears your install is too old to have the `--load` flag in buildx.

we could

[2021-06-12 06:23] BenTheElder commented on #102792
https://github.com/kubernetes/kubernetes/pull/94564 merged 🤞

[2021-06-12 07:25] serathius commented on #102632
We have e2e periodic tests that would start failing if JSON is not available.

[2021-06-12 08:18] n4j commented on #102750
Hello @jicowan, need some clarification.

Is the intent of the above code to convey that `cmd.Env`  isn't passing env vars correctly to the spawned process?

Below code works as expected for me

[code]
`output`
[code]

Also, could you tell if `ecr-credential-provider` is a proprietary binary or a open source code something similar to [amazon-ecr-credential-helper](https://github.com/awslabs/amazon

[2021-06-12 09:01] #96346 closed

[2021-06-12 09:01] #97765 closed

[2021-06-12 09:18] gjkim42 commented on #102816
Note that, your cluster has the wrong api-resources for v1.21.1.

[code]

[v1.21.1 Changelog](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.21.md#changelog-since-v1210)

[code]

**I think your kube-apiserver is not of v1.21.1.**

You can confirm it by running `kubectl get pods -n kube-system kube-apiserver-XXX36463 -o jsonpath="{.spec.containers[0].image}"`

[2021-06-12 09:48] lkoniecz commented on #87603
Any updates on this?
I just got hit by that. Got stuck in deleting service
`  Type     Reason                 Age                 From                             Message
  ----     ------                 ----                ----                             -------
  Warning  PortNotAllocated       21m (x2 over 16h)   portallocator-repair-controller  Port 31704 is not allocated; repairing
  Warnin

[2021-06-12 10:43] pigletfly commented on #82440
How many services in your single namespace?I have many services in the same namespace,so there are many service environments.If I unset all service environments before readiness exec command execution,the CPU utilization seems better than before.

[2021-06-12 11:51] bmcentos commented on #102816
Hi, really, my runnings apis pods are working with the image 1.20.2
![image](https://user-images.githubusercontent.com/25855270/121774967-3cf3b880-cb5b-11eb-87ca-949143915255.png)

But in manifest, it is:
![image](https://user-images.githubusercontent.com/25855270/121774947-28172500-cb5b-11eb-94a4-454c731e00b9.png)

So, rbac question can be ignored for while? Because like seem some components did'

[2021-06-12 11:58] bmcentos commented on #102816
the controller pod and scheduller, are in updated version:

![image](https://user-images.githubusercontent.com/25855270/121775074-c86d4980-cb5b-11eb-9bd4-f6f495d0b46d.png)

![image](https://user-images.githubusercontent.com/25855270/121775077-cdca9400-cb5b-11eb-8fbc-182d03149c97.png)

So, the root problem here can be the api server in old version?

This is my manifest for api-server from one of ma

[2021-06-12 12:25] novahe commented on #102718
I think this is the same problem issue: #102564 pr: #102565

[2021-06-12 12:43] novahe commented on #102718
I format code used for reproduction
[code]

[2021-06-12 12:58] gjkim42 commented on #102816
Yes, I think rbac is not the root problem.

What command did you use to get this manifest?

[2021-06-12 13:19] bmcentos commented on #102816
I used:
[code]

[2021-06-12 13:21] jicowan commented on #102750
Yes @n4j, it is not passing the Envs to the spawned process. The code for ecr-credential-provider is in the AWS cloud controller repository, https://github.com/kubernetes/cloud-provider-aws/blob/master/cmd/ecr-credential-provider/main.go.

[2021-06-12 13:27] gjkim42 commented on #102816
I think for some reason static pods are not synchronized with manifest files.
Can you give us kubelet logs? You can get the logs by running `sudo journalctl -u kubelet > /tmp/kubelet.log` at maser node.

[2021-06-12 13:37] bmcentos commented on #102816
Yes, follow the file.

[kubelet.zip](https://github.com/kubernetes/kubernetes/files/6642261/kubelet.zip)

[2021-06-12 13:44] gjkim42 commented on #102816
I think kube-apiserver will be recreated if you delete it.
`kubectl delete pods -n kube-system KUBE-APISERVER-POD`

[2021-06-12 13:50] bmcentos commented on #102816
Static pods is not only a mirror in kube-system to real container?

 There is some errors in kubelet about cni network, and in some nods this network cni0 really not exist. It can be part of probably root cause?

I will do de delete of kube api if it be security. It is?

[2021-06-12 14:04] gjkim42 commented on #102816
It is not completely secure. Maybe it will not be recreated.

However the log said that kube-apiserver is not synced because it is pending termination for some reason.
[code]

Is this real production environment?

[2021-06-12 14:06] bmcentos commented on #102816
Hun, right. This is a development environment. I m test behavior of upgrade to apply after in others environments.

[2021-06-12 14:11] gjkim42 commented on #102816
Or maybe you can try running `touch /etc/kubernetes/manifests/kube-apiserver.yaml` to trigger synchronization.(maybe ..)

[2021-06-12 14:17] bmcentos commented on #102816
If the recreation don’t occur there will have an other way to restore the work of cluster without recreate all the cluster?

[2021-06-12 14:29] bmcentos commented on #102816
I have deleted the apis pods, and it was created now with updated image:

![image](https://user-images.githubusercontent.com/25855270/121779216-0b85e780-cb71-11eb-9d97-564a4c98d928.png)

The tail show this:

[code]

[2021-06-12 14:30] bmcentos commented on #102816
I deleted the api servers pods, but the image then  continue using is:
![Uploading image.png…]()

[2021-06-12 14:41] bmcentos commented on #102816
Nice help, friend. After do that in each master node, all back to working fine:
[code]

So, in next time each node then i upgrade, i will see if kube-apiserver is running in updated version.

[2021-06-12 14:55] gjkim42 commented on #102816
/kind support
/close

[2021-06-12 14:55] #102816 closed

[2021-06-12 16:39] ckvtvm-arch commented on #58514
same issue with control plane

[2021-06-12 18:28] mukundmckinsey commented on #44954
this does not work with incluster_kubeconfig.

[2021-06-12 18:49] dgoscn commented on #96764
Hi @kishorj

Kubernetes version is 1.17

[2021-06-12 18:51] dgoscn commented on #96764
@primeroz in my case, I tried to delete the loadbalancer server via kubectl.

`kubectl delete svc/myservice-loadbalancer`

But, it was not possible, I tried to "undo", but, it is not possible. Because of this, I still using this loadbalancer, but I can't update to a non deleting event on EKS.

[2021-06-12 19:01] #36291 closed

[2021-06-12 19:29] szuecs commented on #91492
/lifecycle stale

[2021-06-12 19:30] szuecs commented on #91492
/remove-lifecycle stale

[2021-06-12 20:02] #97549 closed

[2021-06-13 07:07] rajdevworks commented on #92092
@joelsmith @neolit123 is there any pending work that I can contribute on?

[2021-06-13 07:22] cynepco3hahue commented on #100788
Will take a look at this week.

[2021-06-13 15:07] striver619 commented on #95279
Hi, friends! I'd like to know how's it going?

@erismaster
@justaugustus
@liggitt
@puerco
@LappleApple

[2021-06-13 15:10] n4j commented on #102750
@jicowan  Quick update, I had setup two test beds to reproduce the above issue, but both of them gave expected results and the issue was not reproducible.

Below are my test setups:

**ECR Repository**  `7604xxxx39.dkr.ecr.ap-south-1.amazonaws.com/whalesay:v1`

**Test Bed 1**  Execute `ecr-credential-provider` from code and pass `AWS_PROFILE` as environment variable

**Code**
[code]

**Observed Re

[2021-06-13 16:07] #96104 closed

[2021-06-13 16:15] jicowan commented on #102750
@n4j i am using credential_process, https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-sourcing-external.html in my profile. I am also using KinD for testing, but I don't think that should matter.

[2021-06-13 16:43] jicowan commented on #102750
This is the binary I'm calling with credential_process, https://github.com/jicowan/cognito.

[2021-06-13 19:07] #97159 closed

[2021-06-13 20:39] hiddeco commented on #70147
/remove-lifecycle stale

[2021-06-13 23:07] #98022 closed

[2021-06-14 00:08] #97904 closed

[2021-06-14 00:27] ahg-g commented on #98828
/close

[2021-06-14 00:27] #98828 closed

[2021-06-14 02:03] matti commented on #25625
/remove-lifecycle stale

[2021-06-14 04:07] caseboy01 commented on #86762
厉害，我的环境上 centos8 + kubectl v1.21.1 生效了。

[2021-06-14 05:12] #98076 closed

[2021-06-14 06:02] wojtek-t commented on #92506
/remove-lifecycle stale

[2021-06-14 06:50] furkanmustafa commented on #47202
Nice to see there is some awareness/movement.

There was no mention of this issue and efforts on this, I've created a [PR](https://github.com/kubernetes/enhancements/pull/2782) for mentioning these.

[2021-06-14 07:01] harche opened #102835 "pull-kubernetes-node-kubelet-serial-crio-cgroupv1 failing"
#### Which jobs are failing:
`pull-kubernetes-node-kubelet-serial-crio-cgroupv1`

#### Which test(s) are failing:
The job simply crashes without finishing the tests with following stack trace,
[code]

#### Since when has it been failing:
It was recently introduced to test kubelet's systemd support against node e2e serial tests and it has been failing every since.

#### Testgrid link:
https://testg

[2021-06-14 07:01] harche commented on #102835
/sig node

[2021-06-14 07:01] harche commented on #102835
/cc @giuseppe @odino @ehashman

[2021-06-14 07:02] harche commented on #102835
/cc @odinuge

Sorry, by mistake tagged @odino

[2021-06-14 07:07] harche opened #102836 "pull-kubernetes-node-kubelet-serial-crio-cgroupv2 failing"
#### Which jobs are failing:
`pull-kubernetes-node-kubelet-serial-crio-cgroupv2`

#### Which test(s) are failing:
The job fails to even initialize when ran using cgroup v2

#### Since when has it been failing:
Ever since it was introduced.

#### Testgrid link:
https://testgrid.k8s.io/sig-node-kubelet#pr-node-kubelet-serial-crio-cgroupv2

#### Reason for failure:
Unknown

#### Anything else we need

[2021-06-14 07:07] harche commented on #102836
/sig node

[2021-06-14 07:08] harche commented on #102836
/cc @giuseppe @odinuge @ehashman

[2021-06-14 08:04] paulmarshall opened #102837 "Modify image repository name"
Other than using DNS, is there a way the image repository name can be changed prior to the container being pulled.

I have the situation where I want to deploy the same deployment but use different container registries in each deployment.

[2021-06-14 08:18] george-angel commented on #40610
/remove-lifecycle stale

[2021-06-14 08:20] serathius commented on #94428
/remove-lifecycle stale

[2021-06-14 08:21] serathius commented on #94428
/lifecycle frozen

[2021-06-14 08:47] 249043822 commented on #102718
Cc @jpbetz @wojtek-t

[2021-06-14 08:51] giuseppe commented on #102836
does the same issue happen with cgroup v1?

[2021-06-14 08:52] andyxning commented on #55051
Statefulset will auto delete Failed pod https://github.com/kubernetes/kubernetes/blob/52eea971c57580c6b1b74f0a12bf9cc6083a4d6b/pkg/controller/statefulset/stateful_set_control.go#L386. For now Deployment and DaemonSet do not do this.

[2021-06-14 09:23] harche commented on #102836
No, cgroup v1 fails with different error, https://github.com/kubernetes/kubernetes/issues/102835

[2021-06-14 09:31] sxllwx commented on #102718
FYI, I think this is caused by Golang's GC, not `meta.EachListItem`. If the num parameter of the `generatePod` function is removed, 100,000 simulated Pods are generated each time, and the RES value is very stable.

[2021-06-14 09:52] brokencode64 opened #102839 "Oidc authenticator: initializing plugin: Get https://172.16.x.x/.well-known/openid-configuration: Forbidden"
### Summary

We are using Gangway/dex to authenticate to our ldap servers. I created a similar setup in aws and it worked perfectly.

#### Expected behavior (what you expected to happen)

Kubectl should be able to get resources with downloaded config.

#### Actual behavior (what actually happened)

We are able to login to gangway/dex and get a kubeconfig to download. Dex is clearly getting ldap gr

[2021-06-14 10:28] adisky commented on #102750
@n4j can you check kubelet logs for `Failed getting credential from external registry credential provider`, It might be possible that is falling back to in-tree aws credential provider.

[2021-06-14 10:31] n4j commented on #102750
@adisky on my local setup credentials are being fetched.

I'll setup another test bed with the Cognito provider which @jicowan is using.

[2021-06-14 10:54] tcolgate commented on #47202
By way of an experience additional report...

We've implemented this internally at Qubit with a controller that adjust cron schedules to local timezones that are configure within our own cron type (with some saftey mechanisms built in to make DST stuff saner). Ours is a hack, but one we definitely needed. We run dataprocessing jobs for our clients. We run them in the client  time zone so that resu

[2021-06-14 11:03] xmudrii commented on #97294
As far as I know, the issue is still relevant.
/remove-lifecycle rotten

[2021-06-14 11:05] adisky commented on #102750
@n4j It is fetching credentials because it is falling back to other options available, It might be fetching from other credential provider if failed from external one. To confirm this you have to check kubelet logs.

[2021-06-14 11:12] #97810 closed

[2021-06-14 11:21] n4j commented on #102750
@adisky In my env I just have one provider there are no fallbacks. And as I had mentioned earlier I don't see any issues in passing env vars to credential process.

Also, I did try negative cases as well by passing invalid profile names and it did fail and pods weren't pulled from ECR

[2021-06-14 11:45] adisky commented on #102750
@n4j kubelet registers intree credential providers while startup, you need not to explicitly add any!!
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/plugins_providers.go#L23-#L25

And I recently tried GCP credential provider, It does fall back to intree GCP credential provider after getting failed response from the one i set up.

[2021-06-14 11:49] n4j commented on #102750
@adisky Sure, makes sense. Though as I mentioned earlier I was keeping an eye on the kubelet logs and I didn't see the logs you had mentioned

[2021-06-14 11:52] sxllwx commented on #102718
a

[2021-06-14 11:59] sxllwx commented on #102718
If I modify the unleak function to the following code, there will also be a monotonic rise in RES. I suspect that the value (plist) of plist v := reflect.ValueOf(plist).Elem() makes the plist object escape to the heap, which affects the work of golang gc.
[code]

[2021-06-14 12:00] jicowan commented on #102750
@adisky i see Failed getting credential from external registry credential provider in the logs when the kubelet starts, before attempting to run a pod that pulls an image from ECR.

[2021-06-14 12:23] wojtek-t commented on #102718
Re code above - the leak is not coming from the ForEach, but the fact that you're not really releasing all the references here:
[code]

Going back to the original comment, I don't think we have a problem with ForEach function:

you should adjust watchcache size - 100 items in 5k-node cluster is certainly enough. There was a function that adjusts it on number of nodes, but it was based on some flag

[2021-06-14 12:31] neolit123 commented on #92092
/close
To not confuse contributors.
These file will be removed eventually.

[2021-06-14 12:31] #92092 closed

[2021-06-14 12:32] neolit123 commented on #92092
@rajdevworks not sure. you can check more help wanted issues.

[2021-06-14 12:34] jsafrane commented on #99042
/remove-lifecycle rotten

[2021-06-14 12:55] giuseppe commented on #102836
I see this error in the logs, this could be the reason why the Kubelet doesn't start:

[code]

[2021-06-14 12:57] n4j commented on #102750
@jicowan Had a light bulb moment and I was able to reproduce this issue, it might not be applicable in your case but it could be worth trying out.

In my local setup I ran the cluster as root and `ecr-credential-provider` failed with error:

`E0614 18:19:27.692505   42719 main.go:165] Error running credential provider plugin: NoCredentialProviders: no valid providers in chain. Deprecated.`

`E0614

[2021-06-14 13:23] Manu10744 opened #102841 "Container Lifecycle Hooks exit on non-0 exit code"
Hi,

i don't understand why Container Lifecycle Hooks are instantly killed by Kubernetes (Exit Code 137) when some command is used that returns a non-0 exit code. Sometimes this is expected behavior and i don't understand why this is not possible with Kubernetes.

For example, in a `postStart` lifecycle hook, if i am trying to wait for a webservice inside the container to be running like so:

[cod

[2021-06-14 13:25] ankeesler opened #102842 "Failure cluster [6837517a...]"
### Failure cluster [6837517a387bf52e4017](https://go.k8s.io/triage#6837517a387bf52e4017)

##### Error text:
[code]
#### Recent failures:
[6/2/2021, 10:37:11 AM ci-kubernetes-integration-master](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1400098826638856192)
[5/31/2021, 7:14:34 AM ci-kubernetes-integration-master](https://prow.k8s.io/view/gs/kubernetes-jen

[2021-06-14 13:36] harche commented on #102836
Will need to take deeper look at the other artifacts of those runs to see why that's happening in cgroup v2. Sample run - https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/102209/pull-kubernetes-node-kubelet-serial-crio-cgroupv2/1396774971895713792/

[2021-06-14 13:58] cynepco3hahue commented on #100788
It looks has the same symptoms as - https://github.com/kubernetes/kubernetes/pull/95345
@harche @alejandrox1 @dashpole FYI

Looks as cadvisor stats provider(e2e node still runs with docker) does not provide relevant stats. It looks like some cadvisor bug, because we only fethc the data from the cadvisor.

[2021-06-14 14:02] ankeesler commented on #102650
Opened https://github.com/kubernetes/kubernetes/issues/102842 to track flakes once again

[2021-06-14 14:12] #95673 closed

[2021-06-14 14:12] jicowan commented on #102750
@n4j I am getting the error you mentioned, `NoCredentialProviders: no valid providers in chain. Deprecated.` So far as I can tell, the kubelet is running as root and the `config` file in the `/root/.aws/` directory. Again, I'm using KinD for testing. I'm not sure how KinD runs the kubelet. Below is the output from `systemsctl cat kubelet.service`:

[code]

[2021-06-14 14:18] zeleena commented on #100021
/remove-lifecycle stale

[2021-06-14 14:25] liggitt commented on #100895
This has now been merged to go1.17, so all our uses of ParseIP and ParseCIDR in API validation are backwards-incompatible and must be fixed before we can pick up go 1.17.

/milestone v1.22

[2021-06-14 14:59] neolit123 commented on #102807
This seems like a yum specific problem that does not happen for apt?

The specs are in kubernetes/release. Fixes are welcome!

[2021-06-14 15:00] neolit123 commented on #102807
/triage accepted

[2021-06-14 15:12] #94722 closed

[2021-06-14 15:17] MartinKirchner commented on #69507
I can totally agree to @eddieparker .
What I basically need is a way to get a warning before a pod is evicted to check what consumes so much space and how can I fix this.
Please implement some metric for it. Could just be the quotient of limit and current consumption. I don't need it detailled for every volume.

[2021-06-14 15:23] sxllwx commented on #102718
The leak here is caused by the golang slice gc mechanism, and there is no memory leak in the `for...range` mode because of the copy mechanism of `v` in `for_, v := range slice`. If the unleak function is changed to the following code (equivalent to the mode of using reflect in meta.EachListItem), there will be an incorrect situation where the res value monotonously increases. I suggest adding deep

[2021-06-14 15:33] danielkucera commented on #94722
Whatever... Your problem...

[2021-06-14 15:35] jayunit100 opened #102846 "windows userspace proxy has an extra dependency w/ unwanted behaviour"
#### What happened:

Windows userspace proxy has some unnecessary docker DNS mangling stuff in it, discovered by @aojea  a long time ago, https://patch-diff.githubusercontent.com/raw/kubernetes/kubernetes/pull/97812.patch

#### What you expected to happen

we wouldnt have extra dead code in windows userspace proxy, because after all userspace proxying is the future of Kubernetes (sarcasm).  but ei

[2021-06-14 15:49] liggitt commented on #102641
likely because that was paired with a Kubernetes upgrade which eventually restarted the kube-controller-manager, at which point it picked up the apps/v1 versions of those resources

[2021-06-14 16:12] #92137 closed

[2021-06-14 16:18] msau42 commented on #102567
A reboot should be handled properly. When kubelet starts up, it performs "reconstruction" from any leftover directories on the host to clean them up. However some plugins may not implement reconstruction correctly, which may cause problems. But at least for CSI drivers, it should be working.

For the force detach while a workload is still running case, what is the cause of that? That scenario does

[2021-06-14 16:18] thockin commented on #100895
Is anyone actually working on this yet?  It doesn't seem very hard, but needs some attention to detail.

Specifically, we should copy the previous version of Go's ParseIP and ParseCIDR logic (into third_party/forked or else being very careful to retain copyright notices).  I suspect we can bifurcate into parse functions (which allocate results) and validate functions (which do not allocate a resul

[2021-06-14 16:32] ritazh commented on #54960
This issue might be addressed by the workload certificates design lead by @ahmedtd https://docs.google.com/document/d/1a9Veu8r9bHjgouWhKaO-cOfhCkCtFBotOhiSy7Sqbd0

[2021-06-14 16:33] enj commented on #39767
This needs consensus on where the code should live and exactly what it should do (IIRC that is what kept #87796 from progressing).

[2021-06-14 16:37] jayunit100 commented on #102846
/sig network

[2021-06-14 16:37] jayunit100 commented on #102846
/triage accepted

[2021-06-14 16:37] jayunit100 commented on #102846
/assign

[2021-06-14 17:01] odinuge commented on #102835
Hey!

Have done some investigation, and found a few issues when running these tests on systemd
- https://github.com/kubernetes/kubernetes/issues/102394
- https://github.com/kubernetes/kubernetes/pull/102396
- https://github.com/kubernetes/kubernetes/pull/102250 - Will be fixed by runc bump as well, as this issue breaks all/most users with systemd driver
- https://github.com/kubernetes/kubernetes/p

[2021-06-14 17:02] aojea commented on #102569
/assign

[2021-06-14 17:04] odinuge commented on #102676
/cc @harche

[2021-06-14 17:11] msau42 commented on #102452
The last 2 runs have succeeded after disabling the health monitor sidecars. We'll investigate scalability of the health monitoring feature separately.

/close

[2021-06-14 17:11] #102452 closed

[2021-06-14 17:12] #97831 closed

[2021-06-14 17:26] aravindhp opened #102849 "Windows Pods with a Projected Volume is stuck at ContainerCreating"
#### What happened:

When a Windows Pod is created with a Projected Volume is stuck at ContainerCreating

#### What you expected to happen:

The Pod should go to Running.

#### How to reproduce it (as minimally and precisely as possible):

Create a Windows Pod with a Projected Volume.

#### Anything else we need to know?:

The KEP, [proposal for file permission handling in projected service accoun

[2021-06-14 17:26] aravindhp commented on #102849
/sig windows

[2021-06-14 17:27] aravindhp commented on #102849
/assign

[2021-06-14 17:40] n4j commented on #102750
@jicowan In order to simplify the sprawl and to pinpoint the offending component,could you remove the credential_process and Cognito and just try fetching creds via plain AWS credentials profile?

[2021-06-14 17:41] spiffxp commented on #96770
/kind cleanup

[2021-06-14 18:00] MadhavJivrajani commented on #84353
Hi @verb! Sorry that this issue has been so quite recently, I got around to thinking about what to change, and here's what I think would need to be done:

1. Add a new `PodCondition` here:
https://github.com/kubernetes/kubernetes/blob/51cbebab1fd2ec85842aba632b0efd0835254455/staging/src/k8s.io/api/core/v1/types.go#L2537

2. Invoke https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec8

[2021-06-14 18:01] tech-geek29 commented on #101008
/assign

I will work on `CHANGELOG/CHANGELOG-1.8.md:1434:[scalability validation report]`

[2021-06-14 18:01] jsturtevant commented on #102849
/triage accepted
/priority important-soon

[2021-06-14 18:10] jicowan commented on #102750
@n4j, sure, however, supporting credential process is critical for my use case. I'm using Cognito as a gating mechanism to ECR. Only licensed users will be allowed to pull images from ECR. These users will not have IAM credentials (access key/secret key). They will authenticate to AWS using Cognito.

[2021-06-14 18:28] jicowan commented on #102750
The following configuration works when I specify access key/secret key:

[code]

[2021-06-14 18:36] jicowan commented on #102750
When I switch to a profile with credential process I get the following error:
[code]

[2021-06-14 20:14] ecordell opened #102855 "CRDs are never stored in etcd at v1, encodingVersion is still v1beta1 in 1.21"
#### What happened:

- Create a 1.21 cluster
- Create a CRD
- Get the object directly from etcd
- The CRD is stored in etcd at v1beta1

#### What you expected to happen:

- It seems like the CRD should have be stored at v1 [since this commit](https://github.com/kubernetes/kubernetes/commit/b694d8b8eaab906b8a59f0b5921f5e4dd4376651#diff-8d8481dfae0a0b89bd701e79de80edda277bb92ae4db29e825cfdbee1ba4d16

[2021-06-14 20:19] ecordell commented on #102855
/sig api-machinery

[2021-06-14 20:22] #102780 closed

[2021-06-14 20:30] ialidzhikov opened #102856 "Race condition can lead Pod to "steal" other Pod's PVC after CSI migration"
/sig storage
/king bug

#### What happened:

While upgrading a K8s cluster from v1.17.x to 1.18.18 (with CSI migration enabled), we ended up with a Pod that managed to "steal" and mount another Pod's PVC.

We have a Pod `pod-1` that according to its spec needs to mount `vol-1` and Pod `pod-2` that needs to mount `vol-2`. We also have a Node `worker` (backed by instance id `i-1234`, machine type `x

[2021-06-14 20:39] msau42 commented on #102856
/assign @wongma7 @jsafrane

[2021-06-14 20:50] justaugustus commented on #102856
cc: @kubernetes/release-engineering
ref: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1623702854323900?thread_ts=1623453145.304800&cid=CJH2GBF7Y

[2021-06-14 20:51] neolit123 commented on #102837
hi, please try asking on the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2021-06-14 20:51] #102837 closed

[2021-06-14 20:52] neolit123 commented on #102672
/sig api-machinery
/remove-kind bug
/kind documentation

[2021-06-14 20:53] neolit123 commented on #102841
/kind support
/sig node

[2021-06-14 20:54] neolit123 commented on #102839
note this version is out of support.

/sig auth
/kind support
until a bug is confirmed.

[2021-06-14 21:07] wongma7 commented on #102856
can you elaborate on the block device naming issue? The manual detach case I am not too concerned about, kubelet has to trust that it has been provided a stable `devicePath:volume` mapping, any manual manipulation of that outside of kcm/csi attacher during the mount process is undefined behavior

I am not fully understanding how the volume got detached from KCM, I will read the relevant PRs and co

[2021-06-14 21:14] wongma7 commented on #102856
We should use https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/nvme-ebs-volumes.html#identify-nvme-ebs-device to verify the mapping before calling MountDevice

[2021-06-14 21:40] thockin commented on #100895
So, I started on this but it's a bit more complicated (surprise).  Because we call ParseIP and ParseCIDR from k/utils, these forked functions probably need to live there.  Will try to come back to it, but here's my WIP if someone else wan ts to run with it.

https://github.com/kubernetes/kubernetes/compare/master...thockin:fix-100895?expand=1

[2021-06-14 23:45] rvillane commented on #87603
I was impacted by this issue today, also got stuck trying to delete a service in a Kubernetes 1.18 cluster

`Warning   ClusterIPNotAllocated          service/myservice-stage-internal                                   Cluster IP 10.32.19.1 is not allocated; repairing
`

[2021-06-15 00:04] jsturtevant commented on #93580
/remove-lifecycle rotten
/reopen

[2021-06-15 00:14] jsturtevant opened #102864 "[Failing Test] sig-release-master-informing#aks-engine-windows-containerd-master"
#### Which jobs are failing:

https://testgrid.k8s.io/sig-release-master-informing#aks-engine-windows-containerd-master

#### Which test(s) are failing:

cluster is not coming up

#### Since when has it been failing:
June 06

This diff: https://github.com/kubernetes/kubernetes/compare/8f318b85f...28e0c4f5d

#### Testgrid link:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-a

[2021-06-15 00:21] ramrodo opened #102865 "[Failing Test] [sig-storage] ci-kubernetes-e2e-gci-gce-serial"
#### Which jobs are failing:
ci-kubernetes-e2e-gci-gce-serial (gce-cos-master-serial)

#### Which test(s) are failing:
- Kubernetes e2e suite: [sig-storage] [Serial] Volume metrics PVController should create unbound pvc count metrics for pvc controller after creating pvc only
- Kubernetes e2e suite: [sig-storage] [Serial] Volume metrics PVController should create unbound pv count metrics for pvc c

[2021-06-15 01:18] #102724 closed

[2021-06-15 01:48] tongchao199 commented on #102517
@pacoxu

What I exported is the complete message log.
I review the v1.18.9 code, and the Allocate method is indeed called serially.
This problem has occurred once in our test environment, but it has not been reproduced for the time being.
We can track this problem and see if other people have encountered similar problems.

[2021-06-15 01:55] pacoxu commented on #102517
Thanks for the information.

[2021-06-15 02:12] #97444 closed

[2021-06-15 02:16] coffeepac commented on #81863
@logicalhan I am able to repro the error from the hack/verify- script.  Is the ask to allow this metric because `metrics.KubeletSubsystem` is a resolvable string or to use an error message that says 'static analysis does not currently support strings defined outside of the `pkg/file` scope'?

[2021-06-15 02:18] logicalhan commented on #81863
The ask would be to resolve it to a string. It would involve having to pull in the dependent files and parse them though.

[2021-06-15 02:38] coffeepac commented on #81863
Okay.  I'll start working through this.

Any gotchas about this I should be aware of ahead of time?  Is there a list of packages we don't want to important strings from or should I be applying some kind of foul language filter?

[2021-06-15 02:45] ahg-g opened #102867 "Add a metric to track reasons for unschedulable pods"
#### What would you like to be added:

A metric that tracks reasons for currently unschedulable pods in a cluster. Breaking down the metric by pod name is not scalable because of cardinality, but we can break down by plugin name.

_Suggested Semantics_
[code]

Each unschedulable pod increases the gauge for all plugins that caused the pod to fail (since each pod is assessed against multiple nodes a

[2021-06-15 02:46] yuzhiquan commented on #102867
/triage accepted
/assign

[2021-06-15 02:48] ahg-g commented on #102867
We still need to discuss the issue.

[2021-06-15 02:51] wzshiming commented on #102849
/assign

[2021-06-15 02:53] ahg-g commented on #102793
We will likely remove them in the same cycle or even same PR.

Thanks for your interest, most likely we will do that in a later release once the community agree that CC is mature enough to replace policy. I created this issue for tracking purposes and raise awareness that this deprecation is coming.

[2021-06-15 02:54] logicalhan commented on #81863
No I think it should be okay to pull strings from any file, since these are all checked in. The one thing which seems like a gotcha to me are dynamically constructed strings, which may not be interpretable at compile time, like a string which is constructed with an input parameter from a function argument.

[2021-06-15 02:54] ahg-g commented on #102793
@damemi @Huang-Wei @alculquicondor should we propose and announce a specific release to remove policy support so that we give the community enough buffer to switch to CC?

[2021-06-15 03:02] wzshiming commented on #102849
/unassign

[2021-06-15 03:03] coffeepac commented on #81863
sounds good.  thank you.

[2021-06-15 03:07] yuzhiquan commented on #102867
Sure

[2021-06-15 03:15] coffeepac commented on #81863
actually, does that gotcha matter?  this seems to be a type analysis operation so even if the value is determined at runtime the type is still known when this hack/verify- runs so it should be fine to just check the type, right?

[2021-06-15 03:27] ahg-g commented on #102804
@sftim do we manually update the flags in the [reference](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/) or do they get automatically updated?

[2021-06-15 03:31] logicalhan commented on #81863
It does matter because there are two scripts.. the second generates the stable metric list and the reason we want to support const interpretation is so that we can expand our generator to alpha metrics (which there are way more of).

[2021-06-15 05:00] #102404 closed

[2021-06-15 05:53] adisky commented on #102750
@jicowan isn't it the issue of ecr-credential-provider? This is the job of ecr-credential-provider to fetch credentials and return result in expected format to kubelet.

[2021-06-15 05:55] JohnRusk commented on #102672
@wojtek-t  I'm looking at that code you mentioned above.  And I noticed this:

[code]
Which is called from [here](https://github.com/kubernetes/kubernetes/blob/8ac5d4d6a92d59bba70844fbd6e5de2383a08c96/staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go#L695)

**Will that TODO be addressed as part of the 1.22 work you mentioned?**  If not.... could there be a problem as follows: when multilpe

[2021-06-15 05:59] wojtek-t commented on #102672
We're not planning to touch this code at least in 1.22.

That said - it's actually not that bad as you wrote. Note that whole rate-limitting is based on in-flight limits. So if the requests takes less time (as it should when served from watchcache) it kind-of automatically gives us ability to be able to process more requests in a unit of time. We may want to address that TODO eventually, but that'

[2021-06-15 06:04] JohnRusk commented on #102672
Ah, yes, thanks for explaining.  Yes, it's not as bad as I initially thought.  It still worries me, but slightly less now :-)

[2021-06-15 06:19] xiaoanyunfei commented on #102718
@sxllwx  is right, `The leak here is caused by the golang slice gc mechanism`.
Once we get address of element in golang slice,  the whole golang slice can not be gc.

I add a new test case, and the `store` caches different `Generation` pod list.
[code]

[2021-06-15 06:32] sxllwx commented on #102718
There is already a PR that is working on a similar issue. The link for this PR discussion
 https://github.com/kubernetes/kubernetes/pull/102565#discussion_r645105418

[2021-06-15 07:04] pacoxu commented on #102842
The link seems to be not correct.

 Non TestExecPluginRotationViaInformer flake after June 7th(#102652 merged on June 7th)
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=TestExecPluginRotationViaInformer
![image](https://user-images.githubusercontent.com/2010320/122007302-60806280-cdea-11eb-8b08-9190f622458d.png)

[2021-06-15 07:18] vpnachev commented on #98035
Still valid question. @liggitt any opinion? Should it stay open till v1[alpha|beta]1 are removed in 1.24 or we can close it now?

/remove-lifecycle stale

[2021-06-15 07:18] Hanvans commented on #102820
/assign

[2021-06-15 07:42] stewart-yu commented on #102621
how about 'flags.VarP('？

[2021-06-15 07:53] fromanirh commented on #102780
possible workaround (not tested but everything suggests it should work)
- **enable the cpumanager feature gate**
- set the cpumanager policy to "none"

[2021-06-15 08:18] sftim commented on #102804
The reference for kube-scheduler is autogenerated; https://kubernetes.io/docs/contribute/generate-ref-docs/kubernetes-components/ explains how.

[2021-06-15 08:52] fangpb opened #102874 "informer watch memory leak after create and delete resources thousands times"
#### What happened:
I use informer to watch a kind of resources. Then, I try to create and delete the resources ten thousands times, after that, I find that the memory used by the process increased 35MB。 I try to analays the memory use with pprof, the result as follow.
the pprof graph show the momory used by the **StreamWatcher**.

11270.19kB 37.05% 37.05% 11270.19kB 37.05%  reflect.New
 6145.50kB

[2021-06-15 09:50] ialidzhikov commented on #102856
On a `m5.xlarge` host, the output of `lsblk` is:

[code]

When you try out the above steps to reproduce against a `m5.xlarge` host, at `step 12.` Pod `web-0` fails "steal" other Pod's PVC and fails to start with:

[code]

On a `x1.16xlarge` host, the output of `lsblk` is:

[code]

You can see that the device name is derived from the VolumeAttachment `.status.attachmentMetadata.devicePath`

When yo

[2021-06-15 09:58] mootezbessifi opened #102876 "Node NotReady: kubelet suddenly giving error Failed to list ****: an error on the server ("") has prevented the request from succeeding"
#### What happened:
Worker nodes on a cluster suddenly stop sending heart bits giving the below error

`Jun 15 11:06:25 fms-k8s-node-dev-14 kubelet[8693]: E0615 11:06:25.205094    8693 reflector.go:153] object-"sop-qa"/"stag-registry": Failed to list *v1.Secret: an error on the server ("") has prevented the request from succeeding (get secrets)
Jun 15 11:06:25 fms-k8s-node-dev-14 kubelet[8693]: E0

[2021-06-15 10:04] mootezbessifi commented on #102876
/sig Cluster Lifecycle
/sig Node
/wg K8s Infra

[2021-06-15 10:04] mootezbessifi commented on #102876
/sig cluster-lifecycle

[2021-06-15 10:19] soltysh commented on #53331
I think we have a problem in the job controller, not cronjob controller. A somewhat similar situation as here is being described in https://github.com/kubernetes/kubernetes/issues/93783. In both cases job controller will indefinitely try to complete a job, but either due to error in the pod or other issues (quota, wrong pull spec, etc.) the pod will not start or will always fail. We would need a s

[2021-06-15 10:32] soltysh commented on #53331
Hmm... I just tried with an explicitly failing job:
[code]
it does take some longer wait, but eventually the job controller fails the job, it just takes significant amount of time, until a pod reaches the error state.

What the job looked like in your situation, where pod wasn't accounted as failed?

[2021-06-15 10:37] Gerst20051 commented on #13776
I got it to work copying a local file to the pod like this:

[$]> `kubectl exec -i $pod -- /bin/bash -c 'cat > /app/file.txt' < ~/file.txt`

Has anyone figured out the reverse of this to get `/app/file.txt` on the **remote** to `~/file.txt` on **local**?

[2021-06-15 10:46] vazmin commented on #102621
The pointer of `StringSlice`'s values is assigned to the new address, and the relationship with the input parameter is broken. The 'flags.VarP(' also to no avail

[2021-06-15 10:47] jicowan commented on #102750
@adisky why does it work when I run it from the command line? Why does it work when I import envs from the OS?

[2021-06-15 11:25] soltysh commented on #100927
I'm inclined to say this is working as designed. `kubectl create job` is rather simplistic approach for creating jobs, and the proposed solution isn't improving this situation. I'm quite worried that the new flag will only make a lot of users quite confused.

[2021-06-15 11:35] Chobicus commented on #18755
I had the same need. To change log level an all the pods through actuator endpoint. Try execing in one of the pods and use:
`// Change level to DEBUG
host <service-name>| awk '{print $4}' | while read line; do
curl --location --request POST "http://$line:9111/actuator/loggers/com.foo.MyClassName" \
--header 'Content-Type: application/json' \
--data-raw '{"configuredLevel": "DEBUG"}'
done
// Query

[2021-06-15 12:01] aslafy-z commented on #88709
/remove-lifecycle rotten

[2021-06-15 12:34] glensc commented on #13776
untested, but should work:

to read a file:
[code]

to write a file:
[code]

[2021-06-15 12:46] damemi commented on #102793
@ahg-g announcing a specific release would be very helpful, at least for us so we can propagate that timeline downstream to customers. +1

[2021-06-15 13:09] alculquicondor commented on #90485
@kow3ns do you have any news about this?

[2021-06-15 13:09] adisky commented on #102750
@jicowan you might have saved env on command line, same goes for OS.

[2021-06-15 13:09] alculquicondor commented on #90485
/remove-lifecycle stale

[2021-06-15 13:11] ahg-g commented on #102793
@damemi what is a reasonable target for your customers?

[2021-06-15 13:16] mootezbessifi commented on #102876
/wg

[2021-06-15 13:21] damemi commented on #102793
@ahg-g we have been planning for a 1.23 removal (btw, I think this is a duplicate of the original issue for deprecating policy config: https://github.com/kubernetes/kubernetes/issues/92143, we should close one of them)

So, we are fine moving forward with that for a timeline

[2021-06-15 13:23] ahg-g commented on #102793
oh, I didn't see that one, closing this. Lets move the discussion on setting a target release for the removal to the other issue.

[2021-06-15 13:23] #102793 closed

[2021-06-15 13:27] jicowan commented on #102750
That doesn't make sense to me. If I run `echo {json blob} | AWS_PROFILE=default ecr-credential-provider get-credentials` it returns a properly formatted response. Same goes for the Go code I wrote. Does calling another binary, like credential_process, confuse the kubelet?

[2021-06-15 13:27] ahg-g commented on #92143
Lets try to set a target release to remove policy config and announce that so that users have enough time to migrate.

Do we feel that CC is mature enough to announce policy config deprecation in 1.23? There are more changes coming to CC, but they are properly versioned and moving from beta2->beta3->GA should not be problematic, and probably better than continuing to depend on policy config.

[2021-06-15 13:28] alculquicondor commented on #92143
The policy API is already marked as deprecated. Maybe we can add a log line that says when it's going to be removed.

+1 to removal in 1.23

[2021-06-15 13:30] ahg-g commented on #92143
Yeah, adding a log line, updating the website docs and sending an email to sig-scheduling and dev google groups.

[2021-06-15 13:36] adisky commented on #102750
@jicowan I am not familiar with aws credential process. Kubelet talks `ecr-credential-provider`  with exec based plugin mechanism, is ecr-credential-provider calling the credential process you are talking about?

[2021-06-15 13:43] wojtek-t commented on #102718
OK - that makes sense to me. Sorry for confusion, I was looking to much at https://github.com/kubernetes/kubernetes/pull/102565#discussion_r645105418 and I still think there is no bug in that PR, because we're not taking an address of slice item there, right? The runtime.Object are already pointers, right?

That said, the extractList that is happening before has this problem:
https://github.com/ku

[2021-06-15 13:47] n4j commented on #102750
@jicowan I have already validated that env vars are being passed to `ecr-credential-process` and there is no issue over there. If that wouldn't be the case then AWS credentials generation process via `profile config` wouldn't work for you.

I had debugged the code of kubelet myself and validated it + I wrote some logs in `ecr-credential-process` to print out the env vars and it was logging the pas

[2021-06-15 13:51] n4j commented on #102750
Here's the execution flow `kubelet` -> `ecr-credential-process` -> `aws plugin looks for the profile configured via env var` -> `it sees a binary needs to be executed (written by Jim)` -> `generate credentials via calling Congnito API`

@jicowan  Does the above paints a fairly accurate picture? If not then feel free to correct :)

[2021-06-15 13:54] ahg-g commented on #92143
@damemi would you like to follow up on that? Start with announcing on the mailing lists to bring attention to the proposal before we update the logs and docs.

[2021-06-15 14:00] damemi commented on #92143
@ahg-g can do, I'll send out the emails later today

[2021-06-15 14:07] Frankkkkk commented on #99305
An ugly as sin workaroud:
[code]
(please don't hate me :D )

[2021-06-15 14:17] n4j commented on #102876
@mootezbessifi Could you describe on what environment your cluster is deployed? If it's on cloud then do let us know the cloud vendor.

[2021-06-15 14:20] n4j commented on #102874
/sig api-machinery

[2021-06-15 14:27] logicalhan commented on #81863
/assign @coffeepac

[2021-06-15 14:29] swatisehgal commented on #102552
The above statement is not clear to me.
I tried reproducing this issue but noticed that after kubelet restart the topology information is getting repopulated in the checkpoint file. Can you please add more description on the how to exactly reproduce this issue? Are we saying that this issue occurs when the device plugin is not ready and kubelet restart occurs? I would like to gain a better underst

[2021-06-15 14:31] HongjiangHuang commented on #102841
https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/#discussion.

The Container's state will only change to Running when the postStart hook is successfully executed,

so I don't understand what your question is?

[2021-06-15 14:36] HongjiangHuang commented on #102841
/triage needs-information

[2021-06-15 14:44] HongjiangHuang commented on #102815
You can try:

1. `kubectl get configmap … -o yaml > my-file.yaml`
2. Modify my-file.yaml
3. `kubectl apply -f my-file.yaml`

@ha-douken

/close
/kind support

[2021-06-15 14:44] #102815 closed

[2021-06-15 14:51] mootezbessifi commented on #102876
@n4j my enviroment is deployed on Ubuntu VMs 16.04 provisioned on Mirantis Openstack cloud

[2021-06-15 14:54] edqallen commented on #82381
I agree with @boldandbusted .  As @thockin said, changing it is a complex process, but that's not a reason to not do the right thing.  Leaving a known problematic default in place just because changing it isn't easy strikes me as rather questionable judgement.

[2021-06-15 15:01] ankeesler commented on #102842
@pacoxu you are correct, this was my mistake. The failures I was seeing were actual failures in my PR, and were fixed here: https://github.com/kubernetes/kubernetes/pull/99310#issuecomment-861525441.

Closing this issue as it is not the flake that I thought it was.

[2021-06-15 15:01] #102842 closed

[2021-06-15 15:03] jeremyrickard commented on #74375
@spiffxp are you still able to revisit this one?

[2021-06-15 15:23] fromanirh opened #102880 "Device manager silently fails to restore checkpoint after upgrading to 1.20+"
#### What happened:
After upgrading kubelet from version <= 1.19 to version >= 1.20, the device manager will fail to restore its state from the checkpoint. The change was introduced in https://github.com/kubernetes/kubernetes/commit/a8b8995ef241e93e9486d475126450f33f24ef4e .

The restore fails silently (it actually writes a warning in the logs, but keeps going). Because of this the device manager

[2021-06-15 15:24] fromanirh commented on #102880
/sig node
/triage accepted

[2021-06-15 15:24] fromanirh commented on #102880
I have a PR in the working to make sure the kubelet can read pre-1.20 checkpoint files, which is IMO the cleanest and most robust way to solve this issue. I will post it shortly.

[2021-06-15 15:31] adtac commented on #92229
/remove-lifecycle stale

[2021-06-15 15:34] JasonShenk opened #102881 "Docker container runs correctly when running standalone, but crashes when running in kubernetes (out of memory)."
My program is an unmanaged c++ core wrapped with a managed .NET interface. I am running this in a linux docker container in kubernetes. I noticed that garbage collection with the typical using statements doesn't seem to work correctly in the kubernetes environment i.e. the pod will run out of memory if repeatedly allocating. This same behavior is not seen when running just the docker container out

[2021-06-15 15:36] sxllwx commented on #102718
After testing, only in two cases will affect the work of GC

- store[plist.Items[i].GetName()] = &plist.Items[i]
- items.Index(i).Addr().Interface()

The two functions with this kind of operation are

-meta.EachListItem https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/staging/src/k8s.io/apimachinery/pkg/api/meta/help.go#L143
-meta.EachListItem
https://github.c

[2021-06-15 15:37] jsturtevant commented on #102864
Fix being worked on in: https://github.com/Azure/aks-engine/pull/4466

[2021-06-15 15:54] jsturtevant commented on #102864
/triage accepted

[2021-06-15 16:00] kassarl commented on #100474
I'm be interested in taking a look at this issue

[2021-06-15 16:00] verb commented on #84353
@MadhavJivrajani SGTM and thanks! Updating the KEP will allow us to discuss it with the kubelet experts. Since this will change the core API we'll need API review.

Some details to work out:

- In which direction does the condition work? That is, should it be ~IsTainted or ~IsPristine?
- How do we prevent the condition from being reverted once set? It should be a one-way gate.
- Should `kubectl ex

[2021-06-15 16:22] davidtseng opened #102885 "APIPriorityAndFairness feature gate with max-requests-inflight: 0 and max-mutating-requests-inflight: 0 causes kubeadm init failure"
#### What happened:
Using Kubespray to build a new cluster with v1.20.7, kubeadm init fails at phase upload-config with these specific settings due to apiserver startup issues and the beta feature gate "API Priority and Fairness" enabled (which is by default).

max-requests-inflight: 0
max-mutating-requests-inflight: 0

note: tested setting the vars individually does not trigger bug, only when bot

[2021-06-15 16:24] davidtseng commented on #102885
/sig api-machinery

[2021-06-15 16:39] zx8 commented on #90329
/remove-lifecycle stale

[2021-06-15 16:54] ryan-dyer-sp commented on #97445
/remove-lifecycle stale

[2021-06-15 17:06] aravindhp commented on #102849
/retitle Windows Pod with RunAsUserName and a Projected Volume does not honor file permissions in the volume

[2021-06-15 17:52] fawadkhaliq commented on #100648
We saw this under similar conditions described above. The summary captured here [1] pretty much sums up what we discovered

[1] https://www.caseyc.net/home/localhost-special-1/

[2021-06-15 18:31] #75674 closed

[2021-06-15 18:31] #102826 closed

[2021-06-15 18:31] #102827 closed

[2021-06-15 18:56] ehashman opened #102887 "[Failing test] Unit: FAIL k8s.io/kubernetes/pkg/api/testing"
### Failure cluster [bf11e79583121ff73ec4](https://go.k8s.io/triage#bf11e79583121ff73ec4)

##### Error text:
[code]
#### Recent failures:
[6/15/2021, 8:16:38 AM pr:pull-kubernetes-unit](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/102431/pull-kubernetes-unit/1404819768589946880)
[6/15/2021, 7:15:11 AM pr:pull-kubernetes-unit](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pu

[2021-06-15 18:58] ehashman commented on #102887
/sig api-machinery

[2021-06-15 19:01] ehashman commented on #102887
/cc @BenTheElder

[2021-06-15 19:16] wongma7 commented on #102856
Thanks, the nvme/nitro instance (like m5) not being affected by this issue makes sense because we already do use volume ID to decide what nvme volume to mount, as opposed to using whatever inaccurate devicePath/block device name got set in volumeattachment. So my previous comment that we should verify nvme mapping before mounting can be disregarded, we already do it for nitro instances. ref: https

[2021-06-15 19:18] #94862 closed

[2021-06-15 19:19] jicowan commented on #102750
I included my KinD configuration in the beginning of this thread. Can you use that @n4j? The `cognito` binary has to be built from source, https://github.com/jicowan/cognito (or I can send it to you along with a temp username/password). There is an accompanying blog post for the binary at https://jicowan.medium.com/pulling-docker-images-from-ecr-private-registries-with-a-cognito-user-pool-identity

[2021-06-15 19:27] BenTheElder commented on #102887
filed https://github.com/kubernetes/kubernetes/pull/102888

I'm hesistant to bump it all the way back to 240, if you follow back the original PR / issue trail I ran a number of iterations of testing and it really shouldn't take 240s. four minutes is ludicrous for unit testing one package.

[2021-06-15 19:30] BenTheElder commented on #102887
there are 39 failures in the last day in `pull-kubernetes-unit` from `k8s.io/kubernetes/pkg/api/testing TestMain` timeout :/
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=unit#bf11e79583121ff73ec4
/priority critical-urgent

[2021-06-15 19:53] iterion commented on #47202
I managed to spend a bit of time yesterday and today porting my previous implementation to the new controller here: https://github.com/kubernetes/kubernetes/pull/102889. I had to do some catch up with the dev guides on API changes, but I think I managed to do all of that sanely. It's still WIP as I want to read through it again and do some more local testing. However, at this point, I'd appreciate

[2021-06-15 19:56] gnufied opened #102891 "regression in vsphere attach disk call with invalid canonical path"
When we introduced https://github.com/kubernetes/kubernetes/pull/95447 we added an additional check during attach disk call to check for canonical path - https://github.com/kubernetes/kubernetes/pull/95447/files#diff-5000d45019379218cc35bc5f967f2731b4dbff230399361c8f6b9a8af3e7e1f0R928

Now this is creating a regression in many deployments because when volume is created, canonical path gets replace

[2021-06-15 19:57] divyenpatel commented on #102891
cc: @chethanv28

[2021-06-15 20:00] BenTheElder commented on #98213
/help

I think we should setup a linter for this with the usual approach of having a list of known failing packages/files and ratcheting it up. We have some examples in hack/verify-* + hack/.known*

Once we have the linter setup in CI under make verify we can start to fix these and avoid future regressions.

[2021-06-15 20:04] gnufied commented on #102891
The code that replaces canonical Path during provisioning is pretty old and hence I don't remember/know why we are doing that. But since there could be many existing PVs that now have different canonical path - I think it might be safest to merge - https://github.com/kubernetes/kubernetes/pull/102892 to prevent any regressions.

[2021-06-15 20:13] fedebongio commented on #102672
Thank you Wojciech for all your comments and knowledge!
/cc @yliaog
/triage accepted

[2021-06-15 20:14] fedebongio commented on #102732
Hi! Thank you for raising!

Is anybody in cc planning to send a PR to docs? Thanks!

[2021-06-15 20:15] fedebongio commented on #102792
/remove-sig api-machinery
looks like the SIG Network PR got merged, maybe we can close this one if flake is solved?
Thanks!

[2021-06-15 20:16] fedebongio commented on #102798
/cc @caesarxuchao who volunteered to reply / explain / ask
Thanks!
/triage accepted

[2021-06-15 20:18] fedebongio commented on #102808
/cc @liggitt @smarterclayton
Do either of you feel like taking a look here?
thank you!

[2021-06-15 20:18] aojea commented on #102792
/close
Indeed, not failure during the last 3 days

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestInitialSync

[2021-06-15 20:18] #102792 closed

[2021-06-15 20:18] fedebongio commented on #102810
/assign @apelisse @kwiesmueller @leilajal @jpbetz
/triage accepted

[2021-06-15 20:19] caesarxuchao commented on #102798
I think it makes sense to pass down the deleteOptions to the reactors. @chenchun do you want to make a patch?

I don't think the fake client should mimic other graceful deletion logics like handling finalizers. That's too complicated. If tests need to test our those behaviors, they can use the real apiserver.

[2021-06-15 20:20] fedebongio commented on #102855
/assign @deads2k @roycaihw @jpbetz
/triage accepted

[2021-06-15 20:22] fedebongio commented on #102874
/cc @wojtek-t @caesarxuchao @yliaog  in case you have some insights, thank you!
/triage accepted

[2021-06-15 20:23] fedebongio commented on #102885
/cc @MikeSpreitzer @lavalamp
/triage accepted

[2021-06-15 20:41] jingxu97 opened #102893 "Fail to grab controller manager metrics fro Windows test cluster on prow job"
One of Windows prow tests (gce pd CSI migration tests) started to fail from May 10 (between 17~21pm UTC). Checking PRs merged, we identified PR https://github.com/kubernetes/kubernetes/pull/96216

This PR disable insecure serving in controller-manager, created metrics-proxy to get metrics. Some investigation so far

1. From build log of prow jobs, the metrics-proxy is running fine.
[code]
2. All t

[2021-06-15 20:41] #102684 closed

[2021-06-15 20:42] jingxu97 commented on #102893
cc @pohly @knight42 @mauriciopoppe

[2021-06-15 20:43] BenTheElder commented on #74375
Timeouts are still happening in this job overall, I see it taking over an hour.
This is an eternal struggle as people add more default-enabled e2e tests to GA features or as tests get slower etc.

I don't know how to make it sustainable.

[2021-06-15 20:54] jingxu97 commented on #102893
cc @mattcary @jeremyeder @pjh

[2021-06-15 21:18] logicalhan commented on #102867
I think that pattern is okay, many metrics are already like that. For instance, the aggregate request counts/latencies for WATCH and POSTS isn't particularly meaningful, they are meaningful only within their respective drilldowns.

[2021-06-15 21:22] eddiezane commented on #98854
Failures appear to be down outside of mass group failures. If this creeps back up [this](https://github.com/kubernetes/kubernetes/pull/101295/files#r618594831) is our next option.

/close

[2021-06-15 21:22] #98854 closed

[2021-06-15 21:38] alculquicondor commented on #102154
can we proceed? we don't have much time left until the code freeze.

[2021-06-15 21:49] #93320 closed

[2021-06-15 22:09] ehashman commented on #102822
No difference with the flag. But I am not running upstream Docker, I'm running Docker out of the Debian repos.

[code]

[2021-06-15 22:13] liggitt commented on #102855
This comes from here:

https://github.com/kubernetes/kubernetes/blob/3a47ddccdfb09e73758cebb2690ad2a014f67e23/cmd/kube-apiserver/app/apiextensions.go#L72-L73

Changing the storage version is blocked on http://issue.k8s.io/82292, since v1 encodings take more space than v1beta1

[2021-06-15 22:13] #102855 closed

[2021-06-15 22:18] liggitt commented on #93320
kubernetes @ HEAD now has current versions of:

* github.com/golang/protobuf
* google.golang.org/protobuf
* google.golang.org/grpc

[2021-06-15 22:18] BenTheElder commented on #102822
discussed on slack: seems debian packages don't have the buildx plugin https://github.com/docker/buildx/#binary-release, while docker-ce / docker desktop do.

we should at least be checking for the command and throwing a clear error like we do with e.g. tar.

[2021-06-15 22:19] liggitt commented on #95893
updated the etcd client in unit/integration tests to only emit errors as part of the update to etcd 3.5.0 client in https://github.com/kubernetes/kubernetes/pull/100488

[2021-06-15 22:19] #95893 closed

[2021-06-15 22:24] liggitt commented on #99384
removed in https://github.com/kubernetes/kubernetes/pull/100488

[2021-06-15 22:24] #99384 closed

[2021-06-15 22:26] liggitt commented on #98720
still an issue after update to etcd 3.5.0 and latest grpc in https://github.com/kubernetes/kubernetes/pull/100488

[2021-06-15 22:27] liggitt commented on #98720
@gyuho @ptabor is there a recommended way to quiet the etcd client logs with the new logging setup in 3.5.0?

[2021-06-15 22:33] BenTheElder commented on #95893
Thank you!

Hope we can fix this for production as well, the actual component logs are similarly annoying 🤨

[2021-06-15 22:38] BenTheElder commented on #99751
cluster/ is still necessary for CI for the immediate future, we should continue to minimally maintain there for the purposes of kubernetes CI signal. It's not really relevant to GCP, we just run it in GCP because:

- the jobs exist and work
- we have the credits necessary to do e.g. scale testing
- there is no comparable CI. Kind alone is insufficient, and we would want different CI to compare aga

[2021-06-15 22:50] BenTheElder commented on #99751
it's also important to note that `hack/local-up-cluster.sh` shares these addons, which is very much used for local development by contributors e.g. @dims @liggitt, we should not let the coreDNS addon lapse

https://github.com/kubernetes/kubernetes/blob/3a47ddccdfb09e73758cebb2690ad2a014f67e23/hack/local-up-cluster.sh#L42
https://github.com/kubernetes/kubernetes/blob/3a47ddccdfb09e73758cebb2690ad2a

[2021-06-15 22:52] liggitt commented on #98720
potential solution in https://github.com/kubernetes/kubernetes/pull/102896

[2021-06-15 23:13] BenTheElder commented on #102822
https://github.com/docker/docker-ce-packaging/pull/415 / https://github.com/docker/for-linux/issues/1066  👀
https://github.com/docker-library/docker/issues/156#issuecomment-489245333

[2021-06-15 23:30] jgavinray commented on #80546
Hi @LappleApple,
Bug Triage team here for the 1.22 release. Is this issue still intended for milestone 1.22?

[2021-06-15 23:32] BenTheElder commented on #80546
this is now also the case in https://github.com/kubernetes/release/blob/master/dependencies.yaml including entries that are for a single file, people that could previously approve the base images cannot anymore.

I haven't seen any movement there, I don't think there's any change here.

[2021-06-15 23:33] jgavinray commented on #101728
Hi @cici37, @Damans227, and @sladyn98
Bug Triage team here for the 1.22 release. Is this issue still intended for milestone 1.22?

[2021-06-15 23:33] lavalamp commented on #102887
Did any timed-out run produce any logs?

[2021-06-15 23:35] BenTheElder commented on #102887
we capture the test logs but `TestMain` itself doesn't appear to have any.

[2021-06-15 23:37] BenTheElder commented on #102887
e.g. at random:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-unit/1404843241420886016
=> "raw build-log.txt" =>
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-unit/1404843241420886016/build-log.txt

I'm not sure this code emits any when it fails.

[2021-06-15 23:43] BenTheElder commented on #102822
also https://github.com/docker/buildx/pull/384

[2021-06-15 23:44] lavalamp commented on #102887
Likely it's timing out on some step, but I would have expected *some* logging from something related -- I was just going to look at the last thing logged and figure that something after that must be the culprit.

Does that log capture stderr and stdout of the test invocations?

[2021-06-15 23:51] BenTheElder commented on #102887
it should, e.g. see a different kind of failure with logs: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/102437/pull-kubernetes-unit/1404519021017042944

we're running with json output formatting then through [gotestsum](https://github.com/gotestyourself/gotestsum) to junit, and prow will capture stdout/stderr of whatever is running within the job as build-log.txt

[2021-06-16 00:04] #102299 closed

[2021-06-16 00:08] BenTheElder commented on #102887
reopening to keep an eye on this.

[2021-06-16 01:15] ehashman commented on #102822
Note: reverting https://github.com/kubernetes/kubernetes/commit/086cdfb3601536f24b127d6e1a16fdd96f468126 fixes the issue, so I have been building locally with that as a carry patch as a workaround.

[2021-06-16 01:35] chendave commented on #96252
/remove-lifecycle stale

[2021-06-16 01:37] chendave commented on #102154
@Huang-Wei are you still working on this?

[2021-06-16 01:45] #100546 closed

[2021-06-16 01:52] chenchun commented on #102798
Yes, I'll send a patch later.

I agree.

[2021-06-16 01:58] cofyc opened #102902 "Umbrella Issue: Prioritization on volume capacity [beta]"
This is an umbrella issue to track the development of the [KEP 1845: Prioritization on volume capacity](https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1845-prioritization-on-volume-capacity). The goal in this issue is beta (see [criteria](https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1845-prioritization-on-volume-capacity#beta)).

- [x] API change

[2021-06-16 01:58] cofyc commented on #102902
/sig storage scheduling

[2021-06-16 02:06] cofyc commented on #83323
FYI, this feature (`VolumeCapacityPriority`) is already in 1.21 release. I'm going to move it to beta, the track issue is here: https://github.com/kubernetes/kubernetes/issues/102902

[2021-06-16 02:12] pacoxu commented on #102885
Take a quick look and find below which may be related.
https://github.com/kubernetes/kubernetes/blob/d5685397e18b78133afde778077652ee55e4c5f7/cmd/kube-apiserver/app/server.go#L493-L502

[2021-06-16 02:16] pacoxu commented on #102876
See https://github.com/kubernetes/kubernetes/issues/73742#issuecomment-460659872 and https://github.com/kubernetes/kubernetes/issues/83938#issuecomment-543370966 which may help.

[2021-06-16 02:24] pacoxu commented on #102893
Since #96216, the 10252 HTTP port for kube-controller-manager was not supported anymore.
Does windows setup or csi depend on that port?

[2021-06-16 02:29] SataQiu commented on #102885
If the `APIPriorityAndFairness` feature gate is enabled, `FlowControl` will be created.
https://github.com/kubernetes/kubernetes/blob/f880187573d118ec624332e7d62e77074302c7f9/staging/src/k8s.io/apiserver/pkg/server/options/recommended.go#L127-L138

https://github.com/kubernetes/kubernetes/blob/f880187573d118ec624332e7d62e77074302c7f9/staging/src/k8s.io/apiserver/pkg/server/config.go#L735-L741

If

[2021-06-16 02:49] #100547 closed

[2021-06-16 03:05] pacoxu commented on #100795
@BenTheElder  I made a mistake here. I thought that the dns-autoscaler only supports old kube-dns, however, it supports both kube-dns and coredns. https://kubernetes.io/docs/tasks/administer-cluster/dns-horizontal-autoscaling/

So this should not be removed. I will check if it still fails or the failure reason.

[2021-06-16 03:08] liggitt opened #102904 ""dial timeout" flakes in e2e tests with konnectivity proxy enabled"
#### What happened:

various e2e tests are flaking with "dial timeout" errors since June 7th, when the konnectivity network proxy was enabled by default in

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=dial%20timeout

![image](https://user-images.githubusercontent.com/980082/122152112-c2fb5200-ce2e-11eb-904d-17446da52172.png)

All the failures I saw in https://testgrid

[2021-06-16 03:27] n4j commented on #102750
@jicowan Let me replicate your setup in my local env and see if I can reproduce this issue.

Also, could you tell what your AWS `config` file look like? Is it something like this

[code]

You can use placeholder values for sensitive information but correct the binary path if it's not `/opt/bin`

[2021-06-16 03:46] indrajithgihan opened #102906 "Kubernetes services unable to communicate with inter subnets"
#### What happened: We have worker nodes with 2 different subnets (172.26.180 & 172.26.224). Kubernetes IP range communication is working within the subnet as expected and unable to communicate with inter subnets.

Please refer the below scenario for more information.

 Working  -  Traffic initiating from 172.26.224.34 (Master Server)  to pod (10.244.27.2) which is scheduled in worker node (172.26

[2021-06-16 03:53] pacoxu commented on #99751
I made a mistake here. I thought that the dns-autoscaler only supports old kube-dns, however, it supports both kube-dns and coredns.
1. one practice is running coredns  deployment with 2 or 3 replicas, plus node-local-dns daemonset(This is GAed https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/)
2. another practice is coredns deployment, plus dns-auto-scaler. (I missed this practice

[2021-06-16 03:57] heyste opened #102907 "Patching a created APIService may make it unavailable"
#### What happened:
Running a new e2e test fails around 50% of the time. Test code in #100508

- Using the [TestSampleAPIServer](https://github.com/kubernetes/kubernetes/blob/6298e1fe6add48f2705c19a120d041570c7eba9a/test/e2e/apimachinery/aggregator.go#L122) conformance test to create an API Service object,
- Patch it with a label
- Test the status sub-resource (read,patch,replace)
- Finally delete

[2021-06-16 03:58] heyste commented on #102907
/sig api-machinery
cc @smarterclayton

[2021-06-16 04:08] liggitt commented on #102904
I'm not seeing how the request context is plumbed to egress dialers, specifically here:

https://github.com/kubernetes/kubernetes/blob/6298e1fe6add48f2705c19a120d041570c7eba9a/staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector.go#L224-L243

I expected to see the context plumbed so that connect/proxy calls don't outlive the driving request... maybe something like this (though I'

[2021-06-16 04:17] pmmalinov01 commented on #101728
/assign @simcard0000

[2021-06-16 04:32] xrmzju opened #102908 "use cluster size instead of zone size when decide eviction rate in node life cycle controller"
#### What happened:

both the [doc](https://kubernetes.io/docs/concepts/architecture/nodes/#reliability) and [notes](https://github.com/kubernetes/kubernetes/blob/f5cf74ddff818236b8435370afa41a51f23dd532/cmd/kube-controller-manager/app/options/nodelifecyclecontroller.go#L45) implies that the `large-cluster-size-threshold` of node lifecycle controller is the whole cluster size, but the [reduce qps

[2021-06-16 04:34] xrmzju commented on #102908
/sig node

[2021-06-16 05:04] lkoniecz commented on #87603
For those who are only interested in deleting the service
[code]

[2021-06-16 05:10] BenTheElder commented on #102887
sigh:
- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/102900/pull-kubernetes-unit/1404991522742472704
- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/102897/pull-kubernetes-unit/1404994908871200768

180s

[2021-06-16 05:29] jkh52 commented on #102904
Thanks will take a look.

[2021-06-16 05:58] BenTheElder commented on #102887
it's doing better (all recent runs passed, looks like 3 flakes due to this since the PR merged this afternoon) but we may still want to bump it again
https://prow.k8s.io/?job=pull-kubernetes-unit
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=unit%24&test=k8s.io%2Fkubernetes%2Fpkg%2Fapi%2Ftesting%20TestMain#bf11e79583121ff73ec4

[2021-06-16 06:15] matthyx commented on #99437
I cannot reproduce (despite trying hard!) on my PC...

I wonder if that flake wasn't greatly improved by:
https://github.com/kubernetes/kubernetes/pull/101931

Now it looks like it fails rarely:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=Pods%20should%20run%20through%20the%20lifecycle%20of%20Pods%20and%20PodStatus

[2021-06-16 06:21] pacoxu commented on #102908
/cc @mtaufen cheftako

[2021-06-16 06:27] george-angel commented on #66430
/remove-lifecycle stale

[2021-06-16 06:29] pacoxu commented on #102908
I prefer to think it would be a doc problem which may be not that clear.

https://kubernetes.io/docs/concepts/architecture/nodes/#reliability

[2021-06-16 06:34] pacoxu commented on #102906
/sig network
but it seems to be a support case and should be flannel issue in my opinion.

[2021-06-16 06:43] BenTheElder commented on #102887
We're at 100% pass rate the past 3 hours but CI is not very active right now. still just 3 fails.

If we have a similar rate tomorrow morning I'd opt for a small bump (maybe 180s -> 190s) to cover remaining limited flakes still over going all the way back to 4 minutes.

[2021-06-16 07:03] xrmzju commented on #102908
From the implement now you are right. but on the other side, i think use zone size does not make any sense. PartialDisruption state  accours when the percentage of  notReadyNodes  in this zone greater than [unhealthyZoneThreshold](https://github.com/kubernetes/kubernetes/blob/7b9c335826d0d76a8a49c45588f5a30bd85b7ed9/pkg/controller/nodelifecycle/node_lifecycle_controller.go#L1496)（default 0.55）, im

[2021-06-16 07:05] aojea commented on #87603
This bug is a "temporary" problem when using finalizers on services, but doesn't cause the service to got stuck on deletion, if you have to remove the finalizer manually you should check what controller should remove that and what is causing it to fail to delete it

[2021-06-16 07:11] pacoxu commented on #102908
My point is only from a quick reading of the code and docs. The code owner may have a better understanding and clarificaiton.

[2021-06-16 07:17] ptabor commented on #98720
@liggitt @serathius
Do you understand the source of this logs ?

From the high-level glance they might be a syndrome / optimization opportunity:

1. etcd-3.5. configures clientv3 to use 'roundrobin' balancer by default:
  https://github.com/etcd-io/etcd/blob/76df94a8399eafb48eb8a02d6b1b90868d6b4277/client/v3/internal/resolver/resolver.go#L43
    is it aware decision of api-server to override it to

[2021-06-16 07:28] aojea commented on #100795
If this is a kops only issue https://storage.googleapis.com/k8s-gubernator/triage/index.html?sig=autoscaling&test=DNS%20horizontal%20autoscaling%20kube-dns-autoscaler%20should%20scale%20kube-dns%20pods%20in%20both%20nonfaulty%20and%20faulty%20scenarios

should this not be open in the kops project?

[2021-06-16 07:35] Rajalakshmi-Girish commented on #100127
After the dependency update to `golang 1.16.5` in https://github.com/kubernetes/kubernetes/blob/master/build/dependencies.yaml#L103 the Test stopped failing.
![image](https://user-images.githubusercontent.com/63038004/122177756-8a499000-cea3-11eb-8621-a1d3fec770a3.png)

[2021-06-16 07:35] #100127 closed

[2021-06-16 08:22] mootezbessifi commented on #102876
Hi @pacoxu  I used to share all logs which i have.
The main issue is with kubelet and not with kube-api as per the above logs
I was interacting with master using many kubectl commands without facing any considerable issue. everything was pretty fine.

why kubelet gets working for a while then go down suddenly after hours generating the previously reported logs !

[2021-06-16 08:28] Anumita opened #102911 "Retries for Context cancelled errors in kube-apiserver for webhook authorizer requests"
Currently kube-apiserver only retries for the following errors when trying to send a webhook authorizer request.
https://github.com/kubernetes/kubernetes/blob/29e5e4df4b150169ed27f2c22e026800da9761cf/staging/src/k8s.io/apiserver/pkg/util/webhook/webhook.go#L65

We notice a lot of other errors as well for "Failed to make webhook authorizer request" like "context cancelled" / "context deadline excee

[2021-06-16 08:35] yaya56 opened #102912 "Building go targets for darwin/arm64: ./vendor/k8s.io/code-generator/cmd/prerelease-lifecycle-gen touch: _output/bin/prerelease-lifecycle-gen: No such file or directory make[1]: *** [_output/bin/prerelease-lifecycle-gen] Error 1 make: *** [generated_files] Error 2"
go env
GO111MODULE=""
GOARCH="arm64"
GOBIN=""
GOCACHE="/Users/sifan/Library/Caches/go-build"
GOENV="/Users/sifan/Library/Application Support/go/env"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="arm64"
GOHOSTOS="darwin"
GOINSECURE=""
GOMODCACHE="/Users/sifan/go/pkg/mod"
GONOPROXY=""
GONOSUMDB=""
GOOS="darwin"
GOPATH="/Users/sifan/go"
GOPRIVATE=""
GOPROXY="https://goproxy.io,direct"
GOROOT="/opt/homebrew/Cellar/

[2021-06-16 08:52] BenTheElder commented on #102912
This repo must be in a GOPATH still. I believe the developer guide covers this.

[2021-06-16 08:58] rockwyc992 commented on #97230
I found this bug in my cluster, too.

And then, I change the `loglevel` of `kube-controller-manager` to the higher level, actually the `TraceAll` level in the OpenShift Cluster.
There is some wierd message as below:
[code]

With the function `Detach` in the [csi-attacher.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_attacher.go#L400), when a detach request be sent to

[2021-06-16 09:08] yaya56 commented on #102912
echo $GOPATH
/Users/sifan/go
i moved kubernetes dir into $GOPATH/src/k8s.io/ ,still got same problem

[2021-06-16 09:24] denkensk commented on #96478
/remove-lifecycle

[2021-06-16 09:35] pacoxu commented on #84764
Thanks for the information. I will work on it this week and next.

- [ ] serverside change: update validation to allow removing the ephemeral container
- [ ] validation: new requirement to check container statuses for name collisions.
- [ ] kubelet side:  kill an ephemeral container that's removed

[2021-06-16 09:48] serathius commented on #98720
/reopen

[2021-06-16 09:59] pohly commented on #102893
My theory, as mentioned in https://github.com/kubernetes/kubernetes/pull/102050#issuecomment-855386927, is that in the CI's Windows cluster, the kube-controller-manager only listens on localhost. The current metrics-grabber does not support this. My PR would address that.

[2021-06-16 10:06] rockwyc992 commented on #97230
In this case, we tried a workaround and succeeded to fix this problem perfectly.

## **TL;DR**

**Change your `--volume-name-prefix` more longer in the CRD `CSIUnity`**

## Root Cause

First, there are something we need to know:
1. The `UniqueName` for a CSI volume is combined with `Driver Name` and `Volume ID (in CSI)`, or called `Volume Handle`.
2. The `Volume Handle` is combined with `PV Name`,

[2021-06-16 10:08] rockwyc992 commented on #97230
@vermaa31 @francisnijay1 Please try this workaround, thanks.

[2021-06-16 10:19] serathius commented on #98720
Integration with third party logging should be in scope of SIG Instrumentation and WG structured logging.
/sig instrumentation
/wg structured-logging

[2021-06-16 10:25] odinuge commented on #102782
This test suite fails because it is hitting its limit of number of open files. Will be unblocked by: https://github.com/kubernetes/kubernetes/pull/102169

[2021-06-16 10:36] invidian commented on #84298
/remove-lifecycle stale

[2021-06-16 11:41] cndoit18 commented on #102794
i agree

[2021-06-16 11:58] jicowan commented on #102750
@n4j yes, that looks right. Ideally the cognitive binary is located in a directory in the shell's PATH but it also works when you specify the full path in the config file like you've done.

Are you planning to setup cognito in AWS? You'll need a cognito user pool and configure federation.

[2021-06-16 13:14] n4j commented on #102750
@jicowan Yes, I am planning to setup Cognito Identity pool in my AWS Account.

[2021-06-16 13:44] aojea commented on #93740
It failed twice the last week, but now is failing in another point

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress/1404664768026906624
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress/1404533904244740096

[code]

@swetharepakula @bowei can you PTAL, what is that certificate error?

[2021-06-16 14:07] liggitt commented on #98720
the API server sets up the etcd client here, and doesn't override options like that:

https://github.com/kubernetes/kubernetes/blob/0bc75afcf262e20a23966c10a3224f8acd1cc117/staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go#L153-L162

The specific messages in the description were from an older etcd client, the messages were different in 3.5.0, but still spammy

the issue with

[2021-06-16 14:07] #98720 closed

[2021-06-16 14:08] chrisohaver commented on #99751
My 2 cents: I don't know about best practice, but theoretically it does makes sense to use the cluster proportional auto-scaler in conjunction with a `coredns + node-local-dns` deployment. However the cores/nodes per replica value should be set much higher, since the load of caching and upstream forwarding is distributed to the node local dns instances. The amount of load distributed would be depe

[2021-06-16 14:17] jayunit100 opened #102919 "(cleanup) Make the netpol/ model.go model stateful"
#### What happened

In https://github.com/kubernetes/kubernetes/pull/102354#discussion_r651517900 @aojea brought up the fact that to get Service IPs we currently need to make an API call, i suppose that is suboptimal .

## in a nutshell...

- We *CREATE* services in one place, and this returns the Service IP that we dont use at that time.
[code]

(model.go)

- We *READ* service IPs in another plac

[2021-06-16 14:22] jayunit100 commented on #102919
/good-first-issue

[2021-06-16 14:34] yangjunmyfm192085 commented on #102919
/assign @sandwish

[2021-06-16 14:36] yangjunmyfm192085 commented on #102919
/assign sanwishe

[2021-06-16 14:37] sanwishe commented on #102919
/assign

[2021-06-16 14:37] yangjunmyfm192085 commented on #102919
take a look @sanwishe

[2021-06-16 15:05] mind-mind commented on #13776
There is anyone know how can I get the throughput of `kubectl cp `

Thank you.

[2021-06-16 15:08] justaugustus commented on #102294
We'll also need a new kube-cross image w/ etcd v3.5.0.
I'm working on that here: https://github.com/kubernetes/release/pull/2123

[2021-06-16 15:11] fromanirh commented on #100145
/remove-lifecycle stale

[2021-06-16 15:21] fromanirh commented on #75355
I'm happy I have time again to work on this issue. It doesn't reproduce locally on BM, and this seems indeed to point to a too busy worker in CI and/or too short timeout. So let's start with the simplest fix: https://github.com/kubernetes/kubernetes/pull/102921

[2021-06-16 15:29] lavalamp commented on #102887
If we knew which sub test was slow when it is slow, that would possibly narrow it down to a haystack small enough to look for needles in.

[2021-06-16 15:48] sladyn98 commented on #99270
**JSON**

Flags: -log-flush-frequency - setting frequency between log flushes

**Output:**

Kubernetes logs are written to stdout
Zap internal errors are written to stderr

**Format:**

{"ts":1622923409719.5403,"msg":"Log using InfoS","v":0,"key":"value", "f":35}
Analysis of json keys:

ts - timestamp in UNIX time represented as float64
msg - log message
v - log verbosity
f - log flush frequency i

[2021-06-16 16:01] msau42 commented on #102794
Another timed out run: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/102894/pull-kubernetes-e2e-gce-storage-slow/1404991185872752640/

[2021-06-16 16:03] msau42 commented on #102794
@chrishenzie do you have time to take a look

[2021-06-16 16:03] ritazh commented on #98992
/remove-lifecycle rotten

[2021-06-16 16:05] chrishenzie commented on #102794
I'll give it a look

[2021-06-16 16:11] mikenri commented on #102737
I am using the following YAML for example:

apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: managed-premium-nodelete
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
provisioner: kubernetes.io/azure-disk
allowVolumeExpansion: true
reclaimPolicy: Retain
parameters:
  kind: managed
  cachingMode: ReadWrite
  storageaccounttype: Premium_LRS
  resourceGroup: my

[2021-06-16 16:12] logicalhan commented on #102545
/triage accepted
/assign

[2021-06-16 16:19] logicalhan commented on #79432
/assign @ehashman
/triage accepted

[2021-06-16 16:21] logicalhan commented on #102231
/remove-sig instrumentation

[2021-06-16 16:28] ahg-g commented on #102867
Sounds good, I think we can move forward then.

@yuzhiquan are you still interested in doing this? do you have any questions on how to do it?

[2021-06-16 16:30] gnufied opened #102923 "Provide fsgroup of the pod to CSI driver whenever applicable"
As per design in https://github.com/kubernetes/enhancements/issues/2317 we need to supply pod's fsgroup to the CSI driver.

[2021-06-16 16:34] gnufied commented on #102923
/sig storage

[2021-06-16 16:37] verult commented on #102923
/assign

[2021-06-16 16:44] #100437 closed

[2021-06-16 17:11] immunochomik commented on #92777
So basically you have to **call nodeSharedInformer.Start() after** setting up all the listeners and stuff (sorry but this was not obvious to me form @liggitt answer).

[2021-06-16 17:35] Jiawei0227 commented on #100474
Sounds good! Thanks Laila

[2021-06-16 17:39] SergeyKanzhelev commented on #102835
/assign @odinuge

[2021-06-16 17:39] ehashman commented on #102835
/triage accepted

[2021-06-16 17:39] SergeyKanzhelev commented on #102835
/triage accepted

[2021-06-16 17:39] ehashman commented on #102836
/triage accepted

[2021-06-16 17:40] SergeyKanzhelev commented on #102836
/triage accepted
/assign @odinuge

[2021-06-16 17:51] BenTheElder commented on #102887
@liggitt dug into it locally, https://kubernetes.slack.com/archives/C09QZ4DQB/p1623860506164900

follow up in: https://github.com/kubernetes/kubernetes/pull/102924

[2021-06-16 18:23] sftim commented on #102907
For clarity:
/retitle Patching a created APIService may make it unavailable

[2021-06-16 18:25] sftim commented on #102867
How come this is not a counter metric? That's what I'd expect to see.

[2021-06-16 18:34] mrmcmuffinz commented on #13776
@brendandburns @smarterclayton @bgrant0607 @kubernetes/kubectl Can we lock this issue? I feel like this issue is just being compounded with support request and don't contribute anything meaningful to the discussion. If individuals have problems they should open up a new issue or try to reach out for help on slack.

[2021-06-16 18:44] #102211 closed

[2021-06-16 19:24] jayunit100 commented on #102919
@sanwishe to understand this,  you may need to read  and base your work on my branch in the PR https://github.com/kubernetes/kubernetes/pull/102354 , that should merge in the next few days .

[2021-06-16 19:34] davehouser1 commented on #43924
Same issue.

I don't understand what I am missing.
We have a private registry, and a private openssl CA.
I  followed all instructions [here](https://docs.docker.com/registry/insecure/)
Mainly the following
- Created certs for each master and nodes. Included SAN fields for short host name and FQDN. Included SAN for IP address.
- Move the private, public, and root ca's files to specific /etc/docker/

[2021-06-16 19:36] chrishenzie commented on #102794
It seems like we're encountering a 30 second timeout when issuing a REST call to the API to execute commands in a pod.

Two examples where this pops up:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-storage-slow/1405164406798553088
[code]

30 seconds after issuing the command it fails.

Also here:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/d

[2021-06-16 19:44] msau42 commented on #102794
It's possible writing data could take longer if the system is overloaded. Maybe the timeout should be increaed

[2021-06-16 19:48] #100863 closed

[2021-06-16 19:48] #102820 closed

[2021-06-16 19:53] BenTheElder commented on #102887
Fairly confident this is now fixed after https://github.com/kubernetes/kubernetes/pull/102924

[2021-06-16 20:02] ahg-g commented on #102867
Because we need to track the current number of unschedulable pods, which goes up and down like a gauge.

A counter may work (take the delta) if we are able to increment it once per unique pod, but I don't believe we can reliably do that.

[2021-06-16 20:39] neolit123 commented on #102893
/sig windows

[2021-06-16 20:40] neolit123 commented on #102881
/sig node

[2021-06-16 20:40] neolit123 commented on #102911
/sig api-machinery

[2021-06-16 21:12] davi5e commented on #56582
IMHO I don't think OPA should be considered the way to go...

There could be a way to cascade RBAC permission where applicable, as for example having readonly permissions to Deployments would yield the same permissions to its ReplicaSets and then further down to Pods. Like so resourceNames would become very useful...

There could be some CRDs where this would also help. Take cert-manager, where is

[2021-06-16 22:28] liggitt commented on #102887
closing as fixed by https://github.com/kubernetes/kubernetes/pull/102924

[2021-06-16 22:28] #102887 closed

[2021-06-16 22:45] Riaankl commented on #102258
/reopen

[2021-06-16 22:50] Riaankl commented on #102255
/reopen

[2021-06-16 23:20] BenTheElder commented on #102887
confirmed https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=unit%24&test=k8s.io%2Fkubernetes%2Fpkg%2Fapi%2Ftesting%20TestMain

[2021-06-16 23:27] BenTheElder opened #102932 "[Flaky unit test] Test_Run_Positive_VolumeMountControllerAttachEnabledRace data race"
#### Which jobs are flaking:

`pull-kubernetes-unit`

#### Which test(s) are flaking:

`k8s.io/kubernetes/pkg/kubelet/volumemanager/reconciler: Test_Run_Positive_VolumeMountControllerAttachEnabledRace`

#### Testgrid link:

N/A

Triage instead: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=unit%24&test=Test_Run_Positive_VolumeMountControllerAttachEnabledRace

#### Reason

[2021-06-16 23:27] BenTheElder commented on #102932
/sig storage

[2021-06-16 23:27] BenTheElder commented on #94568
it's back 🙃  not sure if related to this issue but same test with a data race spotted last night looking into #102887

https://github.com/kubernetes/kubernetes/issues/102932

[2021-06-16 23:28] BenTheElder commented on #102932
previously: https://github.com/kubernetes/kubernetes/issues/94568

[2021-06-17 00:54] ehashman commented on #102073
/close

linked PR is merged

[2021-06-17 00:54] #102073 closed

[2021-06-17 00:57] ehashman commented on #101989
We've verified this on OpenShift 4.8 (1.21-based) after backport: https://bugzilla.redhat.com/show_bug.cgi?id=1953102#c28

/close

[2021-06-17 01:22] ehashman commented on #102438
/kind support
/close

Please submit a support ticket to GKE support. This is the Kubernetes development repo.

[2021-06-17 01:22] #102438 closed

[2021-06-17 01:23] ehashman commented on #102562
/close

Please submit a support ticket to GCP support. This is the Kubernetes development repo.

[2021-06-17 01:23] #102562 closed

[2021-06-17 01:26] ehashman commented on #19831
/close

[2021-06-17 01:26] #19831 closed

[2021-06-17 01:50] brianpursley commented on #82296
I spent some time looking at this today and I think I see what is causing this problem.  I'm not quite sure the best way to go about fixing it though.  The trick is fixing the problem for YAML without affecting JSON because they share much of the same code.

I'll leave what I found here in case it helps.

---

### The Cause

The problem seems to occur in `staging/src/k8s.io/apimachinery/pkg/runtim

[2021-06-17 01:54] blue-troy commented on #89682
it will cause kubelet fail in my k8s 1.18 which is a single node k8s

[code]

[2021-06-17 01:55] pacoxu commented on #102932
The data race is for `generatedVolumeName` this time 😓.

#100215 fixed only `volumeSpec`  by using a copy`volumeSpecCopy`.

[2021-06-17 02:05] pacoxu commented on #102932
/assign @Haleygo

[2021-06-17 02:09] pacoxu commented on #84298
See https://github.com/kubernetes/kubernetes/pull/98507#issuecomment-846167132 to know current status of this issue.

[2021-06-17 02:13] gavinfish commented on #93591
/remove-lifecycle stale

[2021-06-17 02:31] jcayzac commented on #84210
To recap the current available workarounds:

1. If you don't care much about container isolation inside your pod, switch to shared process namespaces and let `pause` be PID 1 for everything else.
2. Manually add `tini` as an entry point to the Dockerfile of a an image with a special `kubernetes` tag, based on your regular image.
3. Manually add `tini` as an entry point to the Dockerfile of your re

[2021-06-17 02:40] pacoxu commented on #100795
The link is broken now: https://testgrid.k8s.io/sig-cluster-lifecycle-kops#kops-gce-stable

@aojea  https://prow.k8s.io/?job=e2e-kops-gce-stable is green now.

@sladyn98 can we close this?

[2021-06-17 03:25] houzhx759 commented on #90585
@SuryaTeja369 I also encountered this problem, I implement this why is it so ETCDCTL_API=3 etcdctl get /registry/apiextensions.k8s.io/customresourcedefinitions --limit=10 --prefix --keys-only --cacert=cacertfile --cert=tlscertfile --key=tlskeyfile --endpoints https://127.0.0.1:2379
Error: open tlscertfile: no such file or directory
Please help to reply when you have time, thank you

[2021-06-17 05:57] sladyn98 commented on #100795
Yeah if the job is green we can close it.

[2021-06-17 05:57] #100795 closed

[2021-06-17 06:10] pacoxu commented on #100389
/remove-lifecycle stale

[2021-06-17 06:29] pacoxu commented on #102887
[code]
example: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-unit/1405195070969221120

[2021-06-17 06:32] BenTheElder commented on #102887
@pacoxu that run happened at `2021-06-16 16:07:56 +0000 UTC`
the fix merged at `2021-06-16T19:48:50Z` https://github.com/kubernetes/kubernetes/pull/102924#event-4900066110

[2021-06-17 06:35] lxnch commented on #43784
TOKEN=$(kubectl get secret $SECRET_NAME -o jsonpath='{.data.token}' | base64 --decode)
and then added in /etc/kubernetes/manifests/kube-apiserver.yaml

What happens when the token expires though? Do you refresh the token out of band?

[2021-06-17 07:02] brokencode64 opened #102938 "Cadvisor metrics missing multiple labels in kubernetes 1.16.8"
#### Summary:
After (partial) upgrade to kubernetes 1.16.8 Cadvisor metrics are missing proper lables and are not useful. Specifically `container_cpu_usage_seconds_total` is missing multiple labels including `pod`. Curling the metrics from localhost confirms the metrics are being exported with proper labels.

#### What you expected to happen:
Cadvisor metrics should be collected with proper labels

[2021-06-17 07:20] adisky commented on #100336
/remove-lifecycle stale

[2021-06-17 07:22] pacoxu commented on #102887
😯

👌

[2021-06-17 08:05] neujie opened #102939 "The method of verifying the secret name is inconsistent, and the pvc/pv cannot be created normally"
#### What happened:
1. I create a secret for pvc/pv, the name is: test.csi
2. create a pv with the secret test.csi as the bellow templates:

[code]
A failure error occurred, as bellow:

[code]

#### What you expected to happen:

I reviewed the code [validateCSIPersistentVolumeSource](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/validation/validation.go#L1538), and found: vali

[2021-06-17 08:22] sftim commented on #102867
Sometimes you can do this with two counters - incrementing one when a Pod becomes unschedulable and the other (using the same label for relevant plugin) when that particular plugin ceases to contribute to any Pod being unschedulable.

Thinking this through but not in depth, I believe that you don't have to track the names of Pods to use this technique.

By themselves these counters aren't so usefu

[2021-06-17 08:30] hangzhouwanjun opened #102941 "Reboot node calico pod not healthy"
#### What happened:
When reboot node, the calico-node pod is not healthy
**pod status**
[code]
**pod describe**
[code]
**calico-node pod container**
[code]
Container k8s_calico-node_calico-node-gs5ww_kube-system_7a493c50-03f2-467a-8a58-5c0893e04dba_11_a428b1fc status was created and not running, there has running container as k8s_calico-node_calico-node-gs5ww_kube-system_7a493c50-03f2-467a-8a58-5c

[2021-06-17 08:31] hangzhouwanjun commented on #102941
/sig kubelet

[2021-06-17 08:31] hangzhouwanjun commented on #102941
/sig node

[2021-06-17 08:40] jsafrane commented on #102939
It is probably an oversight. `pvc.spec.csi.name` should allow anything that `secret.name` allows. `ValidateSecretName` seems to be the right approach.

/triage accepted
/sig storage

Since you already checked the code, would you mind fixing it? Perhaps check all other Secret references in `pvc.spec`.

[2021-06-17 08:50] dgomezleon opened #102942 "kubernetes.tar.gz not found for some versions"
The kubernetes.tar.gz tarball is not present for the latest versions 1.21.2, 1.20, and 1.19.12. However, it is available for version 1.18.20, and even for 1.22.0-alpha.3

Do you plan to make it available for these or future versions or do you stop its release? Is there any other way to obtain it?

I could see this [open issue](https://github.com/kubernetes/kubernetes/issues/100460), but it does no

[2021-06-17 09:02] dgomezleon commented on #102942
/sig release

[2021-06-17 09:05] fromanirh commented on #102880
Update:
After further investigation: I'm quite confident the issue here happens on the upgrade flow when node is recovering, so all the pods -including the device plugin one(s)- need to be recreated, and this take some time.
This means there is no concern about device plugins slow to re-register or other issues: it really seems a plain old race, which is possible because the device manager state i

[2021-06-17 09:30] neujie commented on #102939
ok.

[2021-06-17 09:38] nikhilbhandari123 commented on #85330
This is happening for me for arbitrary job names also:

"Mount cannot be satisfied for the container, because the volume is missing or the volume mounter (vol.Mounter) is nil" containerName="prepare" ok=false volumeMounter={Name:host-root ReadOnly:false MountPath:/host SubPath: MountPropagation: SubPathExpr:}

k3s version v1.21.1+k3s1 (75dba57)

[2021-06-17 10:17] akshitgrover commented on #102939
@neujie
Do you mind if take this up?
I am new to the community and this issue looks like a good place for me to start with

[2021-06-17 10:20] aojea commented on #98577
We forgot to close this :)

/close

[2021-06-17 10:20] #98577 closed

[2021-06-17 10:29] ialidzhikov commented on #102942
See https://groups.google.com/g/kubernetes-dev/c/Q3gCBTGleK8/m/-KRD52uCBAAJ

[2021-06-17 10:30] ialidzhikov commented on #102942
/kind support

[2021-06-17 10:30] ialidzhikov commented on #102942
@dgomezleon, can we now close this issue?

[2021-06-17 10:39] Nebulazhang opened #102947 "Why not add metrics about image pulling in Kubelet"
#### What would you like to be added:

#### Why is this needed:

[2021-06-17 10:40] Nebulazhang commented on #102947
/sig node

[2021-06-17 11:07] FillZpp opened #102948 "[Bug] ReplicaSet incorrect deletion rank when there are multiple colocation nodes"
#### What happened:
When ReplicaSet prepares to delete Pods, it will calculate the rank of Pods by same node  spread.

Now here are two Nodes and five Pods on them:

[code]

Then modify the replicas from `5` to `2`, ReplicaSet will delete all three Pods on `node01` and leave two Pods running on `node02`.

It is because the rank of the three Pods on `node01` are all `3`, and the rank of the two Pod

[2021-06-17 11:09] Riaankl commented on #100727
/reopen

[2021-06-17 11:46] brokencode64 commented on #102839
Issue was an http proxy between api-server and dex. Had to add dex ip to "No-proxy" in kube-apiserver settings.

[2021-06-17 11:46] #102839 closed

[2021-06-17 12:21] humblec commented on #91246
The wider communication has been sent out to Kubernetes MLs last week to poll the interest  from the community   about migration/deprecation  of RBD and CephFS plugins.

[2021-06-17 12:33] arnaudlacour commented on #84210
if this was satisafctory, Thomas Orozco wouldn't have spent the time in the first place writing tini, I reckon.

That sounds brittle.

This is what we do because it is a _tiny_ redundancy but I'd much rather we didn't need it at all.

[2021-06-17 13:15] ricosega commented on #55713
I have the same situation in version 1.20.0, when shutting down a node it remains tainted ```node.kubernetes.io/unreachable: NoSchedule``` for the eternity and all the pods are in status ```Running``` just like here:

But if I taint myself the node with ```node.kubernetes.io/unreachable:NoExecute``` then after the eviction time I've noticed the same things @antoinetran said:

- The pods from Deplo

[2021-06-17 13:46] franznemeth opened #102954 "Windows kubelet volume-stats-agg high cpu usage."
#### What happened:
In our windows  kubernetes environment we run workloads with an emptyDir which is about 80GiB in size and contains lots of small files. Since the --volume-stats-agg-period features defaults to 1m kubelet never seems to finish this run and uses more and more CPU over time and eventually crashing.

Setting the --volume-stats-agg-period=-1s  (#96674) fixes this behavior.

#### Wha

[2021-06-17 14:25] enj commented on #92678
/remove-lifecycle rotten
/assign

[2021-06-17 14:26] enj commented on #92678
/remove help-wanted

[2021-06-17 14:26] franznemeth commented on #102954
/sig windows

[2021-06-17 14:26] enj commented on #92678
/remove help

[2021-06-17 14:26] #102846 closed

[2021-06-17 14:27] enj commented on #92678
/lifecycle frozen

[2021-06-17 14:55] aojea commented on #87603
heh, I manage to reproduce it https://github.com/kubernetes/kubernetes/pull/102955
 the key to make it deterministic was to wait for the repair loop, it is hardcoded to 3 mins ...

[2021-06-17 15:10] aojea commented on #87603
/assign

[2021-06-17 15:12] ncopa commented on #96114
/remove-lifecycle stale

[2021-06-17 15:13] ncopa commented on #96114
still waiting for #96115 to be merged

[2021-06-17 15:13] dgomezleon commented on #102942
Yes. Thank you for the info.

[2021-06-17 15:13] #102942 closed

[2021-06-17 15:55] n4j commented on #102750
@jicowan So I replicated your setup on my local machine with slight change, instead of using AWS Cognito for generating credentials via `credential_provider` I am calling a binary written by me which logs env vars to a specific path and prints out credentials in the format as prescribed by AWS.

Below was my initial config file
[code]
After I ran local cluster with this setup I noticed couple of l

[2021-06-17 16:21] aravindhp commented on #96935
/reopen

This is still required.

[2021-06-17 16:29] deads2k commented on #102019
We spoke about this at the sig-apimachinery call this week.  The outcome is that we're interested in reviewing a KEP if someone can commit effort to delivering and maintaining such a feature, but no one on the sig call was in a position to commit to pushing it through.

Just a reminder that a commitment to review a KEP isn't the same as a commitment to merge it or shepherd it through implementatio

[2021-06-17 16:29] #102019 closed

[2021-06-17 16:51] neolit123 commented on #102938
1.16 is no longer in support.
you should check with 1.19 and newer.

/sig node

[2021-06-17 17:23] alculquicondor commented on #102154
From the SIG meeting:
If you have nodes with scarce resources (like GPUs), those nodes should have a taint so that pods that don't request the resource don't get scheduled there. Then, the remaining of the nodes should be scored as if the resource didn't exist.
In conclusion, we should go for `(50+50)/2` instead of `(50+50+100)/2`.

FTR, @Huang-Wei is out this week.

[2021-06-17 17:30] jicowan commented on #102750
@n4j thanks for doing this. I never tried adding the PATH to the list of environment variables. I honestly didn't think it was necessary because I was referencing the full path to the binary in credential_process. I also never saw an error about not being able to find the executable in $PATH. I'll re-test after adding PATH as an ENV and let you know the results.

[2021-06-17 17:50] jicowan commented on #102750
@n4j Adding the PATH did not work for me.

[code]
I'm happy to send you the cognito binary with a username/password that you can use for testing. I have only tested this with KinD, but I don't think that is the issue here since it fails with exit code when when I try using `exec.Env()`.

[2021-06-17 17:51] jicowan commented on #102750
[code]
^^ is my credential provider config

[2021-06-17 17:54] n4j commented on #102750
@jicowan Thanks for the logs. I have cloned your code in my repo and I'll substitute my Cognito creds. If it doesn't work out then I'll reach out to you for creds 🙂

[2021-06-17 18:11] rothgar commented on #12123
Personally, I like the option to use shell globbing and make `kubectl` more glob friendly. I read through the other issue with options and I'm in favor of supporting positional arguments (space separated) after `-f` and until another option is passed. There are plenty of 1 liners and pipes that _could_ make this work (`xargs`, `tr`) but the simplicity of space or new line separated file names is l

[2021-06-17 18:50] pradhans0906 opened #102958 "Cannot install the best candidate for the job on RHEL 8.3"
#### What happened:
Error:
 Problem 1: cannot install the best candidate for the job
  - nothing provides conntrack needed by kubelet-1.21.1-0.x86_64
  - nothing provides socat needed by kubelet-1.21.1-0.x86_64
 Problem 2: package kubeadm-1.21.1-0.x86_64 requires kubelet >= 1.13.0, but none of the providers can be installed
  - cannot install the best candidate for the job
  - nothing provides soc

[2021-06-17 19:05] graywolf-at-work opened #102959 "Job gets restarted even though it has backoffLimit: 0"
#### What happened:

Job was executed, however when pod failed it was started up again.

#### What you expected to happen:

Job with backoffLimit: 0 should not be started second time.

#### How to reproduce it (as minimally and precisely as possible):

Create Job with (at least) following in the following in the spec section:

[code]

It will sometimes create two pods.

#### Anything else we need

[2021-06-17 19:14] BenTheElder commented on #102607
https://github.com/kubernetes/kubernetes/pull/102960 to enable the race detector by default

[2021-06-17 20:13] graywolf-at-work commented on #102959
/sig scheduling

[2021-06-17 20:15] fedebongio commented on #102732
/help
/triage accepted

[2021-06-17 20:16] fedebongio commented on #102907
/cc @sttts @deads2k
/triage accepted

[2021-06-17 20:18] fedebongio commented on #102911
It is a utility function that is in API Server, but the definition of the behaviour should be in SIG Auth.
/remove-sig api-machinery
/sig auth

[2021-06-17 20:25] kvaps commented on #90593
/remove-lifecycle

[2021-06-17 20:25] kvaps commented on #90593
/remove-lifecycle rotten

[2021-06-17 20:27] BenTheElder commented on #102904
Pass rate for the GCE e2e presubmit in Kubernetes has _tanked_

https://prow.k8s.io/?job=pull-kubernetes-e2e-kind

https://prow.k8s.io/?job=pull-kubernetes-e2e-gce-ubuntu-containerd

~60% versus a real pass of 100% of PRs is not very acceptable. If this can't be fixed immediately we should probably be reverting konnectivity in this repo, I've already seen a number of SIGs wind up opting out their

[2021-06-17 20:42] BenTheElder commented on #102904
kubemark: https://github.com/kubernetes/test-infra/pull/22495, https://github.com/kubernetes/perf-tests/issues/1828
netpol: https://github.com/kubernetes/test-infra/pull/22503

[2021-06-17 20:52] ialidzhikov commented on #102660
@Michael-Sinz , can this issue be closed now?

[2021-06-17 20:54] OmarElawady commented on #62434
I'm curious about the consequences of moving the pod container init process at initializtion to the root cgroup in the cpu subsystem. It won't respect cpu limits and requests but are there any additional things that can go wrong?

[2021-06-17 21:21] liggitt commented on #102904
I don't think that's related to this... this was enabled since June 7th, and there are only ~4 total flakes today with the "dial timeout" signature in the PR presubmit

[2021-06-17 21:54] Michael-Sinz commented on #102660
I have not yet had a chance to test a k8s with the fix yet.  (Various reasons, including being rather busy)

[2021-06-17 22:02] SergeyKanzhelev commented on #46404
Just stumbled across,

/remove-lifecycle frozen
/close

there is a way to lock the feature gate now introduced here: https://github.com/kubernetes/kubernetes/pull/72382

[2021-06-17 22:03] #46404 closed

[2021-06-17 22:44] cheftako commented on #102904
Looking to land the context fix with https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/238 soon. Once that lands I will generate the change in K/K to pick it up and try to get it landed ASAP.

[2021-06-17 22:49] gjkim42 commented on #102948
/triage accepted

[2021-06-17 22:55] BenTheElder commented on #102904
ACK @liggitt, somewhere we have a problem, and the timeline lines up anecdotally with noticing issues.

Even if we only have 4 flakes from that timeout, the overall job runtime is getting high enough -- could still be related. failures are > 1h

[2021-06-17 23:05] Dragoncell commented on #101044
/assign

[2021-06-17 23:23] Dragoncell commented on #101044
@ns-rwong Do you still have the issues for the container exit status in latest GKE version ?

I am try to reproducing it in 1.19.9-gke.1900, but not able to.
Below were reproduction steps I did:
Steps 1. create the 1.19 cluster
Steps 2: create the deployment of below spec:
[code]

step 3: ssh into node, and do http curl connection to pod_ip:port and repeated several times

step 4: observe the pod

[2021-06-17 23:33] #94956 closed

[2021-06-17 23:37] ns-rwong commented on #101044
hey @Dragoncell,  we've worked around the problem for now, so haven't had a chance to test this with a version other than `v1.18.17-gke.100`

[2021-06-18 00:16] #102891 closed

[2021-06-18 02:17] chendave commented on #102154
In conclusion, we should go for (50+50)/2 instead of (50+50+100)/3.

Good idea, that makes the things easier.

[2021-06-18 03:55] BenTheElder commented on #102822
cc @vinayakankugoyal 🙈 apparently there are docker packages that don't ship this, which maybe changes the equations a bit, see above.

[2021-06-18 03:56] BenTheElder commented on #94622
/lifecycle active
/assign @aojea
ref: https://github.com/kubernetes/kubernetes/pull/102967

[2021-06-18 04:02] ordovicia opened #102971 "scheduler: `frameworkImpl.extenders` is not set"
#### What happened:

`frameworkImpl.extenders` here

https://github.com/kubernetes/kubernetes/blob/9d3e4eb86254a436f4bb8f2677b46704e086e3dd/pkg/scheduler/framework/runtime/framework.go#L278

is supposed to be set through `WithExtenders()`,

https://github.com/kubernetes/kubernetes/blob/9d3e4eb86254a436f4bb8f2677b46704e086e3dd/pkg/scheduler/framework/runtime/framework.go#L219

but `WithExtenders()`

[2021-06-18 04:03] ordovicia commented on #102971
/sig scheduling

[2021-06-18 04:14] NickHuangA opened #102972 "One endpointslice has more than 100 ports"
What happened:
Now we have a single pod and a service applied to it. But our pod and service have 405 ports. When configuring pod, the error will appear when service is configured.

The error is as follows
#############
Warning  FailedToUpdateEndpointSlices  5s    endpoint-slice-controller  Error updating Endpoint Slices for Service default/rcdc: failed to create EndpointSlice for Service default/

[2021-06-18 05:05] MikeSpreitzer commented on #102885
D'oh!  I don't remember considering this case, and it is not mentioned in https://kubernetes.io/docs/concepts/cluster-administration/flow-control/#enabling-disabling-api-priority-and-fairness .  I suppose the proper thing to do is to behave analogously to the max-in-flight filter.  That would make the `--enable-priority-and-fairness` command line flag unnecessary, but I do not think that's a show-

[2021-06-18 05:40] Kaka1127 commented on #28272
Any update on this?

[2021-06-18 05:44] MikeSpreitzer opened #102973 "One more oversight in generalization for width"
#### What happened:
I noticed that the the code in queueset.go for calculating the dR/dt, the derivative of R(t) with respect to t, called in the code `getVirtualTimeRatioLocked`, was not updated when the generalization for width was introduced.  The `min` should be between C and the sum of seats not the number of requests.  See https://github.com/MikeSpreitzer/kube-enhancements/tree/max-min-list/

[2021-06-18 05:44] MikeSpreitzer commented on #102973
@kubernetes/sig-api-machinery-bugs

[2021-06-18 05:44] MikeSpreitzer commented on #102973
@tkashem

[2021-06-18 06:31] ialidzhikov commented on #102660
Okay. v1.21.2 was released yesterday - https://github.com/kubernetes/kubernetes/releases/tag/v1.21.2. Let us know if it is fixing the issue for you.

[2021-06-18 06:31] BenTheElder commented on #99877
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/102960/pull-kubernetes-unit/1405766620067926016

again

[2021-06-18 06:40] BenTheElder commented on #99881
No progress, been chasing other CI issues. Still blocked on `k8s.io/kubernetes/pkg/volume/csi: TestAttacherMountDevice`

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/92316/pull-kubernetes-unit-experimental/1405761564602011648

[2021-06-18 06:52] BenTheElder opened #102975 "shellcheck output not capture properly by shell2junit in CI"
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/102960/pull-kubernetes-verify/1405766623234625536

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/102960/pull-kubernetes-verify/1405766623234625536/artifacts/junit_verify.xml

junit output:

[code]

full output with actual error (expand build-log.txt and grep around)

[code]

we want the actual error to be included in the

[2021-06-18 06:55] BenTheElder opened #102976 "`verify-generated-docs.sh` log spam: `WARNING: go-md2man does not handle node type HTMLSpan`"
expand the logs for:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/102960/pull-kubernetes-verify/1405766623234625536

see this long line included _many_ times repeatedly

probably we should fix this?

/sig docs
? maybe ?

[2021-06-18 06:58] Frankkkkk commented on #97328
/remove-lifecycle stale

[2021-06-18 07:38] antoineozenne commented on #48528
Another use case: simplify static analysis of resources. For example, we use kyverno to control which labels are used in all resources selectors. Currently, we have to do that differently for services.

[2021-06-18 08:11] chendave opened #102977 "scheduler: cache the state of node resource usage for node resource plugins"
#### What would you like to be added:
cache the state of node resource usage for multiple node resource plugins.

#### Why is this needed:

Scheduler is able to enable config multiple node resource plugins, for example, enable both `NodeResourcesLeastAllocated` and `NodeResourcesBalancedAllocation`.

when the multiple node resource plugins are enabled, `allocatable` and `requested` are calculated

[2021-06-18 08:11] chendave commented on #102977
/assign

[2021-06-18 09:01] navidshaikh commented on #101528
snyk scan continuous job is running at 6h interval, see https://testgrid.k8s.io/sig-security-snyk-scan#ci-kubernetes-snyk-master

result can be seen in each job artifacts https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-snyk-master/1405787379716853760/artifacts/

 next:
  - add docs and communicate

any suggestion about where the docs should reside ?

[2021-06-18 09:03] AbelTaylor opened #102982 "When create a cluster by kubeadm, the parameter'--log-file' does not take effect"
#### What happened:
i use command 'kubeadm init --kubernetes-version {{ k8s_version }} --token={{ token }} --token-ttl 0 --log-file /var/log/kube_master.log' to initialize the cluster

#### What you expected to happen:
the file '/var/log/kube_master.log' becomes the log file of the master node, but it doesn't work, same time, the worker node use 'kubeadm join XXX --log-file ' does not work , neith

[2021-06-18 09:23] wangyysde commented on #102982
dupplicated: #101425

[2021-06-18 09:44] Rajalakshmi-Girish opened #102987 "TestGetServicePrincipalTokenFromMSI unit tests fails on ppc64le"
#### Which jobs are failing:

https://prow.ppc64le-cloud.org/job-history/gs/ppc64le-kubernetes/logs/periodic-kubernetes-unit-test-ppc64le

#### Which test(s) are failing:
Below two test cases started failing on ppc64le:
vendor/k8s.io/legacy-cloud-providers/azure/auth:
1. TestGetServicePrincipalTokenFromMSIWithUserAssignedID
2. TestGetServicePrincipalTokenFromMSI

#### Since when has it been failin

[2021-06-18 09:45] Rajalakshmi-Girish commented on #102987
/cc @feiskyer

[2021-06-18 10:17] encodeflush opened #102988 "[Failing Test][sig-release] ci-kubernetes-build"
#### Which jobs are failing:

ci-kubernetes-build

#### Which test(s) are failing

* Overall (build-master)

#### Since when has it been failing:

2021-06-15 06:07:32 +0000 UTC

#### Testgrid link:

https://testgrid.k8s.io/sig-release-master-blocking#build-master

#### Reason for failure:

[code]

#### Anything else we need to know:

/sig release

[2021-06-18 10:23] jcayzac commented on #84210
I see what you did here.

[2021-06-18 10:39] wangyysde opened #102990 "kubeadm: as if TestImagePullCheck logic is incorrect"
#### What happened:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/preflight/checks_test.go#L931

expecting  1 error ,but the condition of if is len(errors) != 0.  I think that this is not right.

#### What you expected to happen:
Fix this bug.

#### How to reproduce it (as minimally and precisely as possible):
run checks_test.go in cmd/kubeadm/app/preflight

#### Anything el

[2021-06-18 10:39] wangyysde commented on #102990
/assign

[2021-06-18 10:42] #95440 closed

[2021-06-18 10:48] mkumatag commented on #102987
/sig cloud-provider
/priority important-soon
/triage accepted
/assign @feiskyer

[2021-06-18 11:18] eplightning commented on #94970
/remove-lifecycle rotten

[2021-06-18 11:18] eplightning commented on #94970
This still happens, needed to do `fsck -y /dev/sdc` manually

[2021-06-18 11:48] sftim commented on #87869
Thinking about this again, maybe this could be done as a CRD or APIService that does something similar to the built-in (and deprecated) ComponentStatus API.
ComponentStatus was deprecated because it didn't fit as a core feature. However, the same functionality might work as an add-on, and kubectl could be aware of whether or not that API exists.

The trouble is: yes, that's making great use of Kub

[2021-06-18 13:19] KamatR opened #102992 "jav groovy libraries are not executed in kubernetes slave pod"
#### What happened:
we are executing our pipeline script on slave pod, which has some groovy libraries.
def     process =  ['bash', '-c', cmd].execute()
def file= new File( "test.txt" )

even though the scripts are executed from slave pod, the groovy libraries seems to be working only in our master pod.

#### What you expected to happen:
We want groovy libraries to be executed in kuberbetes slave

[2021-06-18 13:27] wangyysde commented on #102990
/close

[2021-06-18 13:27] #102990 closed

[2021-06-18 13:28] dbenque opened #102993 "Extending taint-based-eviction schedule by lengthening `tolerationSeconds` is not possible."
#### What happened:

Working with taint based eviction, the `tolerationSeconds` parameter is taken into account when the eviction schedule is created.
Once an eviction schedule is create, updating the `tolerationSeconds` only works if it creates an earlier schedule.

This does not give a good user experience because the behavior appear to be not consistent. If `tolerationSeconds` is updated for a

[2021-06-18 14:08] henrysecond1 opened #102996 "Resource Quota Per PriorityClass is not working on ephemeral-storage"
#### What happened:

According to the [document](https://kubernetes.io/docs/concepts/policy/resource-quotas/#resource-quota-per-priorityclass), it is expected that resource quota for `ephemeral-storage` can be configured per PriorityClass.

However, below error occurs when I deployed `ResourceQuota` on `ephemeral-storage` with `PriorityClass` scopeSelector.

[code]

#### What you expected to happe

[2021-06-18 14:16] dprotaso commented on #102810
Ideally it would be nice if this fix wasn't only for `kubectl` but something that the API could handle. That would open up the ability for other tools to mimic the same behaviour

[2021-06-18 14:42] alculquicondor commented on #102476
/reopen

Can you backport to 1.21?

[2021-06-18 14:55] PushkarJ commented on #101528
Hey @navidshaikh Have been talking about location for docs with @dims and @tabbysable

github.com/kubernetes/community/sig-security/ seems like a good place. I have a WIP fork for this as well. Should get something for review for you next week. Let me know what you think!

[2021-06-18 16:04] SuryaTeja369 commented on #90585
Hi @houzhx759 you need to provide your tlscertfile, cacertfile & tlskeyfile paths in place of cacertfile, tlscertfile & tlskeyfile in the above command. In case your etcd service is not running on https endpoint then you can omit those options and use this:

**ETCDCTL_API=3 etcdctl get /registry/apiextensions.k8s.io/customresourcedefinitions --limit=10 --prefix --keys-only --endpoints http://127.0

[2021-06-18 16:07] navidshaikh commented on #101528
sounds good @PushkarJ, thanks!

[2021-06-18 16:21] manavchawla98 commented on #102405
Hi! I am a new contributor and would like to help solve this issue. I understand what's happening vs what's expected but was hoping someone could help with reproducing this issue on my local. I can then take a look at the code that needs to be modified and any tests that go along with it.

[2021-06-18 16:41] jcortejoso opened #103000 "Session affinity for same service and different ports is forwarded to different endpoints for each destination port"
#### What happened:
Having a service configured with `sessionAffinity: ClientIP`, requests from same client/pod are forwarded to different destination service pod endpoints for each of the service ports.

#### What you expected to happen:
The requests from the same pod/clientIP are forwarded to the same destination pod for all the ports in the service. Quoting the [docs](https://kubernetes.io/docs

[2021-06-18 16:41] tkashem commented on #102973
yes, i noticed it, I am going to open a PR.

/assign

[2021-06-18 16:43] jcortejoso commented on #103000
/sig network
/area platform/gke

[2021-06-18 18:04] #100182 closed

[2021-06-18 18:11] gnufied commented on #85248
This is now fixed by https://github.com/kubernetes/kubernetes/pull/100183/files

[2021-06-18 18:11] #85248 closed

[2021-06-18 18:14] gnufied commented on #83129
This is fixed by https://github.com/kubernetes/kubernetes/pull/82492

[2021-06-18 18:14] #83129 closed

[2021-06-18 18:30] dguyhasnoname commented on #17512
another tool to see resources node-wise, namespace-wise: https://github.com/dguyhasnoname/k8s-day2-ops/tree/master/resource_calcuation/k8s-toppur

[2021-06-18 20:04] SaveTheRbtz opened #103006 "Excessive disk writes after enabling CPUManager"
#### What happened:
We've recently enabled CPUManager and TopologyManagers:
[code]

This lead to major increase in our SSD write rates, that negatively affects their lifetime.  Nodes that have CPU Manager enabled have around 6x the disk IO than ones without the manager:
![image](https://user-images.githubusercontent.com/169976/122610917-42f30900-d035-11eb-9dd2-549864cb1d86.png)

Seems like the exc

[2021-06-18 20:10] SaveTheRbtz commented on #103006
/sig node

[2021-06-18 21:05] ahg-g commented on #102971
Thanks for pointing that out. The plumbing of extenders to the framework impact calling extenders on preemption. That seems to be a path not covered by tests end to end.

Can you submit a PR to fix this? as you mentioned we need to pass the extenders on profile creation.

We need to patch the fix back to v1.21 and v1.20 (the release where this was refactored).

/cc @Huang-Wei

[2021-06-18 21:06] ahg-g commented on #102959
/sig apps
/remove-sig scheduling

[2021-06-18 21:11] ehashman commented on #23816
/remove-lifecycle frozen

Docker 1.10 is no longer supported.

/close

[2021-06-18 21:11] #23816 closed

[2021-06-18 21:15] ahg-g commented on #102959
This is probably related to https://github.com/kubernetes/kubernetes/issues/28486, which we will be fixing in this cycle (https://github.com/kubernetes/kubernetes/pull/98238). When a node is downscaled, the pod becomes orphaned and gets completely removed, and the job controller doesn't count it as a failure.

When this happens, what do you observe in the [Failed](https://github.com/kubernetes/kub

[2021-06-18 21:56] SergeyKanzhelev commented on #96717
/remove-lifecycle rotten

[2021-06-18 21:56] BenTheElder commented on #102992
There's nothing in this issue to suggest it's a kubernetes bug and not some issue in this groovy system you're using.

kubernetes does not have any concept of "master" or "slave" pods (also we no longer use either of those terms in this project in general), and does nothing special for groovy, these are just containers.

I suggest reaching out to support channels for whatever system has this conce

[2021-06-18 21:56] #102992 closed

[2021-06-18 22:00] davecozz commented on #89898
We recently upgraded multiple k8s clusters to v1.20 and are now having this issue occur at a _much_ higher rate than previously (on v1.18).

![image](https://user-images.githubusercontent.com/7975697/122619490-2b784800-d056-11eb-9518-30fcac24fca7.png)

^You can see exactly when we started the upgrades this week. Those are k8s events that match `context deadline exceeded`.

[2021-06-18 22:00] BenTheElder commented on #102988
This is probably because the job runs with the non-standard `gcr.io/k8s-staging-releng/k8s-ci-builder:latest-default` versus the rest of CI, I'd guess the go version is wrong but this image is utterly enourmous and I'm still waiting for it to download.

[2021-06-18 22:01] BenTheElder commented on #102988
/sig windows

[2021-06-18 22:04] BenTheElder commented on #102988
probably https://github.com/Azure/go-ansiterm/commit/d185dfc1b5a126116ea5a19e148e29d16b4574c9

[2021-06-18 22:06] BenTheElder commented on #102988
/assign

[2021-06-18 22:08] BenTheElder commented on #102988
/lifecycle active
working on a fix.

[2021-06-18 22:10] ruiwen-zhao opened #103009 "Kubelet to validate container's resource limit"
#### What would you like to be added:
Kubelet to check whether resource limits are valid. Currently kubernetes does not check whether the resource limits are valid. If a user puts a ridiculously large value as limit [1] (note the CPU limit is 10Gi), the container will fail to start with following error message.

[code]

The failure is due to kernel check on CPU quota [2]. The failure makes sense b

[2021-06-18 22:11] ruiwen-zhao commented on #103009
/sig node

[2021-06-18 22:17] BenTheElder commented on #102988
https://github.com/kubernetes/kubernetes/pull/103010

[2021-06-18 22:42] #98094 closed

[2021-06-19 00:18] karunasagark opened #103011 "Invalid value: "null" when field is removed from configuration and SSA is used to apply"
#### What happened:
We are developing a new k8s controller and decided to use SSA completely. However, ran into an issue when I removed a field from the configuration. I have a custom resource with field called 'prop1' and it is not a required field (see snippet below). Using SSA, I created an object of this CR kind with 'prop1' specified and this was successful. I changed the configuration by rem

[2021-06-19 00:20] karunasagark commented on #103011
/wg wg-api-expression
/sig api-machinery

[2021-06-19 00:21] karunasagark commented on #103011
/wg api-expression

[2021-06-19 02:19] NickHuangA commented on #102972
In version 1.21, endpointslice has 1600 ports。

[2021-06-19 02:19] #102972 closed

[2021-06-19 03:12] pytimer commented on #101506
@uablrek I use v1.17.2 and run k8s on the only IPv6 environment, i have the same issue. I don't enable `EndpointSlice` feature, how can i fix it if use v1.17.2 ? Thanks.

[2021-06-19 03:30] #95172 closed

[2021-06-19 03:30] #95186 closed

[2021-06-19 03:30] #96114 closed

[2021-06-19 03:42] #98024 closed

[2021-06-19 04:42] #102988 closed

[2021-06-19 05:41] uablrek commented on #101506
I don't think you can. Ipv6-only got to beta in v1.18 so in v1.17 ipv6 is still alpha and as such it may have bugs and fixes are not back ported. And besides v1.17 is not maintained. I think you must upgrade. And then I recommend to upgrade to v1.21. I am unsure about upgrade but I think the "version scew" allows you to upgrade 2 minor versions, e.g. v1.17 -> v1.19 -> v1.21. But you have to check

[2021-06-19 05:42] #98106 closed

[2021-06-19 06:11] uablrek commented on #102906
K8s v1.17 is no longer maintained. That said, this does not look like a K8s problem, rather a configuration problem. Likely in flannel as @pacoxu pointed out.

Which network overlay are you using? Vxlan? Please add this info and version of flannel to the network plugin info.

[2021-06-19 06:17] uablrek commented on #102906
Can you from within a POD on a worker in subnet "A"  `ping` a POD on a worker in subnet "B"? With it's pod ip that is, **not** through any service ip. If not this is a CNI-plugin overlay problem. And btw, in a multi subnet cluster you _must_ use a network overlay.

[2021-06-19 06:45] uablrek commented on #103000
What proxy-mode are you using, ipvs or iptables?

For ipvs the different service ports becomes different "targets" and affinity is per target (I think). It might be hard to fix, but may be simpler for proxy-mode=iptables.

[2021-06-19 07:14] BenTheElder commented on #102988
Green run: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-build/1406124137763573760

[2021-06-19 08:51] bcho opened #103017 "Upgrading from 1.18 to 1.19 may prevent csrapprover controller from starting"
#### What happened:

We have a couple of clusters were upgrading from 1.18 to 1.19 and saw `csrapprover` controller skipped starting due to certificates.k8s.io resource api change.

We use similar setup for these clusters:

- HA apiserver
- multiple instances of kube-controller-manager with leader election

We upgrade the cluster with rolling update each control plane components to switch from 1.1

[2021-06-19 08:52] bcho commented on #103017
I think this issue is similar with #101740 #98548 . And the root cause is: https://github.com/kubernetes/kubernetes/issues/101740#issuecomment-835401680

[2021-06-19 08:57] feiskyer commented on #102987
Thanks for reporting the issue. This was caused by vendor changes in https://github.com/Azure/go-autorest/pull/613, which introduced external dependency on IMDS. If IMDS endpoint is not reachable, then the new logic would report error.

[2021-06-19 09:03] feiskyer commented on #102987
Filed #103018 to clean up the failed tests.

[2021-06-19 09:48] ordovicia commented on #102971
I have submitted a PR for a fix. #103019

[2021-06-19 10:11] feiskyer commented on #102660
v1.21.2 released. Let me know if you still have issues.

[2021-06-19 10:11] #102660 closed

[2021-06-19 10:50] tiran commented on #97149
/remove-lifecycle rotten

[2021-06-19 11:47] olemarkus commented on #86812
Still happening with k8s 1.20.

/remove-lifecycle rotten

[2021-06-19 12:04] mind-mind opened #103020 "Can I get the throughput with kubectl cp?"
#### What would you like to be added:

#### Why is this needed:

Hello,

I would like to get the throughput from `kubectl cp `, I tried to find the command to use it, but I just found the command to get thoughput when using it with .tar file. I would like to know if I use another file, how can I get the throughput?

Thank you so much.

[2021-06-19 12:16] akshitgrover commented on #102939
@jsafrane @neujie
Can I assign this to myself?
I was going through the code, Found that all secret references for in CSI block use ValidateDNS1123Label.
Instead it should use ValidateSecretName, As suggested above.
Can I take a shot and fix this?

[2021-06-19 13:47] pbaderia01 commented on #80481
There are multiple things I tried but unfortunately there wasn't anything I could add to the amazingly detailed documentation already created by @ArturoTarinVillaescusa. So I'm unassigning myself from this issue.

@supriya-premkumar If you're still interested maybe you'd like to take a look at it?

[2021-06-19 13:47] pbaderia01 commented on #80481
/unassign pbaderia01

[2021-06-19 13:48] pbaderia01 commented on #80481
/unassign @pbaderia01

[2021-06-19 15:48] serathius commented on #102353
All tasks been done, thanks for the help!

[2021-06-19 15:48] #102353 closed

[2021-06-19 17:35] Jeansen commented on #102676
I have this problem when creating a fresh new cluster. With version 1.21.1 all worked fine. with 1.21.2 it no longer passes preflight. No containers are created, at all.

[2021-06-19 17:59] Jeansen commented on #102676
I just confirmed in my setup. Installing kublet, kubeadm  (and kubectl) in version 1.21.1-00, all works as expected. But with the current version 1.21.2-00 I cannot successfully init a cluster with kubeadm (because not containers have been started).

[2021-06-19 18:51] serathius commented on #102294
@pacoxu We just need to upgrade the server to use new image like in https://github.com/kubernetes/kubernetes/pull/102062

[2021-06-19 20:51] #98236 closed

[2021-06-19 21:51] #98239 closed

[2021-06-19 22:51] #90814 closed

[2021-06-19 23:51] #97473 closed

[2021-06-20 01:48] hbzxl commented on #98368
no state, phase is not state

[2021-06-20 01:51] #97474 closed

[2021-06-20 03:14] neolit123 commented on #102982
see https://github.com/kubernetes/kubeadm/issues/2455

use `| tee ...` instead.

/close

[2021-06-20 03:14] #102982 closed

[2021-06-20 03:17] neolit123 commented on #102941
1.15 is no longer in support
please also try 1.19+

/triage needs-information

[2021-06-20 07:05] akshitgrover commented on #103009
@ruiwen-zhao
I think the units are incorrect for CPU requests Gi is the unit for memory

[2021-06-20 08:58] fmiqbal commented on #59876
Ok this works, thank you so much. but, where is this mount file exactly? I dont find any on my distro (`Arch linux`) or `docker-desktop` or `docker-desktop-data` entry?

[2021-06-20 09:41] yuriy-yarosh commented on #1957
It takes forever... I think it would be easier to develop a etcd-consul bridge instead of getting through all the CNCF bureaucracy.

[2021-06-20 10:32] akshitgrover commented on #102939
/assign

[2021-06-20 10:41] kirankumarhm commented on #63702
Thanks I have the same configuration Vagrant + Virtualbox for setting up a K8s cluster. On all worker node I did edit for  corresponding IP address  and got resolved. thank you so much

[2021-06-20 11:51] #96363 closed

[2021-06-20 12:08] serathius commented on #102430
/milestone v1.22
Part of work go graduate JSON log format.

[2021-06-20 12:08] serathius commented on #102237
/milestone v1.22
Part of work go graduate JSON log format.

[2021-06-20 12:12] serathius commented on #102439
/milestone v1.22
Part of work go graduate Structured Logging KEP to beta.

[2021-06-20 12:33] akshitgrover commented on #102939
/check-cla

[2021-06-20 13:57] serathius commented on #99270
@sladyn98 Not sure I understand your comment, in comments above I tried to describe what current features JSON format currently supports, currently only `-v` flag is supported no others. I will post a proposal for changes separetly.

[2021-06-20 13:58] serathius commented on #99270
@yuzhiquan I don't see any progress on the issue from your side, are you still planning to continue the work? I would be happy to take over the issue. This issue is needed to graduate JSON format to Beta so we should target it for 1.22.
/milestone v1.22

[2021-06-20 14:00] chaudyg commented on #86812
Wave. Did you manage to reproduce the issue?

[2021-06-20 14:18] serathius commented on #102557
@mrbobbytables I provide tracking issue when we are organizing a migration to reach some milestone. Before organizing component migrationwe would need agreement from it's owners. We cannot pick whole k8s as a target as this would take multiple releases with minimal benefit for users vs when we picked Kubelet and migrated all it's logs.

Still PRs are coming in so I proposed that if contributor rea

[2021-06-20 15:20] olemarkus commented on #86812
In my experience this seems to happen more often than not. I.e just follow the etcd-manager instructions here https://kops.sigs.k8s.io/operations/etcd_backup_restore_encryption/

[2021-06-20 15:43] n4j commented on #102750
@jicowan After several rounds of troubleshooting I was able to get `ecr-credential-provider` working in my KinD environment.

My credential loading setup is `ecr-credential-provider` <-> `cognito` <-> `AWS Cognito` and below is my configuration of credential process

[code]

Initially, I got the same error as yours, then I added couple of custom log lines to print env vars in `ecr-credential-provi

[2021-06-20 15:53] #94695 closed

[2021-06-20 15:59] tiloso commented on #92402
We're close to resolving this issue - all remaining packages in [hack/.staticcheck_failures](https://github.com/kubernetes/kubernetes/blob/master/hack/.staticcheck_failures) are covered by PRs. :slightly_smiling_face:
[code]

[2021-06-20 16:05] bhumijgupta commented on #94927
I would like to pick this up

[2021-06-20 16:06] bhumijgupta commented on #94927
/remove-lifecycle stale
/assign bhumijgupta

[2021-06-20 19:29] sladyn98 commented on #99270
@serathius I could help pick up some of the implementation as well. Happy to do so

[2021-06-20 19:40] shay-berman commented on #96149
@lingsamuel @alculquicondor what is the status of this issue?
Indeed having requiredDuringSchedulingRequiredDuringExecution is needed as mentioned when you have pod that must run with other pods on the same node.

Is there a work around until requiredDuringSchedulingRequiredDuringExecution will be available?

[2021-06-20 20:14] serathius commented on #99270
## Proposal

Kubernetes system component logs should be treated as a event streams like defined by 12 factor app standard  https://12factor.net/. This is something that Kubernetes already encourages by collecting stdout and stderr by default and making them available via `kubectl logs`. As so it's confusing that K8s system components doesn't itself comply to it's own best practices.

As so I propo

[2021-06-20 20:40] justaugustus commented on #102493
/assign @rikatz

[2021-06-20 21:58] #98157 closed

[2021-06-20 23:54] #102971 closed

[2021-06-21 01:09] houzhx759 commented on #90585
@SuryaTeja369 Hi, thank you very much for your help. The problem has been solved. thank you

[2021-06-21 02:25] yuzhiquan commented on #99270
Sorry for lately reply, i am still interested in this implement, but if the timeline is matter of some urgency, i think @serathius can take this from here.
I DO have enough time this week, and happy to working with you.

[2021-06-21 02:26] yuzhiquan commented on #100152
/remove-lifecycle stale

[2021-06-21 02:37] yqwang-ms commented on #86373
/remove-lifecycle stale

[2021-06-21 02:37] yqwang-ms commented on #83834
/remove-lifecycle stale

[2021-06-21 03:18] n4j commented on #103020
/sig cli

[2021-06-21 03:24] n4j commented on #103020
@mind-mind Do you intended to do something like this `tar cf - /tmp/foo | kubectl exec -i -n <some-namespace> <some-pod> -- tar xf - -C /tmp/bar` with other utilities perhaps `zip` or `jar`?

`kubectl cp` isn't file type specific and you can pipe `I/O` from any utility as long as they are installed on your container.

Please refer to https://kubernetes.io/docs/reference/generated/kubectl/kubectl-c

[2021-06-21 03:49] AbelHu opened #103032 "No enough disk space in the os disk but there is no alert in node's DiskPressure"
#### What happened:
No enough disk space in the os disk but there is no alert in node's DiskPressure

[code]

#### What you expected to happen:
Node is not ready since there is no enough disk space to host new pods.

#### How to reproduce it (as minimally and precisely as possible):
Generate large files in the OS disk in the Windows node.
[code]

#### Anything else we need to know?:

#### Environm

[2021-06-21 03:50] AbelHu commented on #103032
/sig Windows

[2021-06-21 05:08] n4j commented on #94892
/remove good-first-issue

[2021-06-21 05:09] n4j commented on #94892
/remove-good-first-issue

[2021-06-21 05:32] n4j commented on #103020
@mind-mind Could you paste the exact command which you tried?

Also, can you check if external dependencies are met in your container?

[2021-06-21 05:58] #98256 closed

[2021-06-21 07:06] mind-mind commented on #103020
<img width="685" alt="image" src="https://user-images.githubusercontent.com/68138683/122719600-9d3fd400-d298-11eb-9c69-10ddbca75b4c.png">

I tried this one `kubectl exec <podname> -- tar cf - <file.gz> | pv | tar xf - -C <path destination>`

<img width="722" alt="image" src="https://user-images.githubusercontent.com/68138683/122720510-c44ad580-d299-11eb-8c11-4c4678fe64e0.png">

`tar cf - train-idx

[2021-06-21 07:13] lsytj0413 opened #103034 "Unclear errors message when update pod spec"
#### What happened:

1. create pod with nodeSeletor
2. kubectl edit pod, delete the nodeSeletor field
3. kubernetes report error with:

![image](https://user-images.githubusercontent.com/6871552/122721122-de3ce600-d2a2-11eb-9f32-23ac7fc32d90.png)

#### What you expected to happen:

The errors message should displayed as:

[code]

Because the nodeSeletor is been deleted with this edit.

#### How to

[2021-06-21 07:14] lsytj0413 commented on #103034
/sig api

[2021-06-21 07:15] lsytj0413 commented on #103034
/sig api-machinery

[2021-06-21 07:21] irbekrm commented on #102641
@caesarxuchao sorry for the delay!

[Updating the API version when the object is updated](https://github.com/kubernetes/kubernetes/pull/103033/commits/1ada461ee968a8f07512cd45be9cd462b66a3806) seems to fix it. I built this version a couple of times with the scenario described in https://github.com/kubernetes/kubernetes/issues/102641#issuecomment-857809490 and saw the owned resource being correctly

[2021-06-21 07:44] AbdulBasitAlvi commented on #80481
/assign

[2021-06-21 07:49] jcortejoso commented on #103000
Under my understanding it is using iptables mode (and GKE does not support directly ipvs mode).:

[code]

Another consideration is that if I ssh to the node that is running the `test-websocket` pod, I cannot see or identify the iptable rules corresponding to the service `geth-rpc`:

[code]

[2021-06-21 08:32] n4j commented on #103020
@mind-mind For your first command it looks like `train-idx3.gz` is missing in the container (the message is pretty clear)

For your second command the syntax is incorrect, it's format is `tar cf - /tmp/foo | kubectl exec -i -n <some-namespace> <some-pod> -- tar xf - -C /tmp/bar`, looking at your command you don't need to pass `-n` flag and remove `/home/ubuntu` as it's being interpreted as command

[2021-06-21 08:48] #102874 closed

[2021-06-21 09:05] lsytj0413 commented on #102996
/assign

[2021-06-21 09:51] mowangdk commented on #102779
This problem is only reproduced in version 1.20, 1.18 & 1.16 are normal

[2021-06-21 10:35] dims opened #103043 "Stop using github.com/pkg/errors"
We should be using Go native error wrapping (available since Go 1.13) (similar to what was done in https://github.com/containerd/console/pull/54)

NOTE : Please do not submit PRs for `cmd/kubeadm/app` though it is listed below.

code search : https://cs.k8s.io/?q=%22github.com%2Fpkg%2Ferrors%22&i=nope&files=&excludeFiles=vendor%2F&repos=kubernetes/kubernetes
ripgrep search :
[code]

If folks can p

[2021-06-21 10:35] dims commented on #103043
/area code-organization

[2021-06-21 10:44] mcbenjemaa commented on #103043
/assign

[2021-06-21 10:48] danielfoehrKn opened #103046 "More accurate kube-/system-reserved based on actual resource usage"
Operating a managed Kubernetes service ([Gardener](https://gardener.cloud/)), we have observed problems due to under-reserving resources (OS OOM, processes CPU starved, ...)  and would like to talk about a mechanism to more accurately set reserved resources based on actually available resources on the Node.

#### What would you like to be added

- Ability to update the `kube-reserved` and `system-

[2021-06-21 10:49] danielfoehrKn commented on #103046
/sig node

[2021-06-21 10:50] dims commented on #103043
@mcbenjemaa since you have contributed to k8s before and are in the github org, may be you can tackle the BONUS one? leave the easy stuff to new folks?

[2021-06-21 11:01] mcbenjemaa commented on #103043
@dims For sure!

[2021-06-21 11:15] g3rzi commented on #101695
Hi @soltysh, did you have time to look at this issue?

[2021-06-21 11:18] gdsoumya commented on #103043
@dims would like to take this up

[2021-06-21 11:18] neolit123 commented on #103043
Makes sense to cleanup sparse usage across the code base. But usage in kubeadm is intentional and %w is just not the same. We rather touch kubeadm for the time being.

[2021-06-21 11:39] MadhavJivrajani commented on #103043
/assign @gdsoumya

[2021-06-21 11:49] krak7602 commented on #103043
Pardon me for working on an assigned issue. I forgot to assign the issue . Also I have only finished one section. There are many remaining so the assigned person might not face issues.

[2021-06-21 11:53] gdsoumya commented on #103043
Taking up files :
[code]

[2021-06-21 11:55] mcbenjemaa commented on #103043
@gdsoumya allow the others to submit their first PR.

[2021-06-21 12:00] gdsoumya commented on #103043
@mcbenjemaa each of these directories have a single file with 1/2 line changes mostly so I thought of taking up these in one go.

[2021-06-21 12:02] Rahul-D78 commented on #103043
Hi I would like to pick
kubernetes/cluster/images/conformance/go-runner/main.go

[2021-06-21 12:18] Rahul-D78 commented on #103043
Hi @dims
`return fmt.Errorf(err, "failed to find absolute path for %v", resultsTarball)`
what about %v is it ok to replace with return `fmt.Errorof("failed to find absolute path for: %w", err, resultsTarball)`

[2021-06-21 12:43] jhyot commented on #78664
/remove-lifecycle rotten

[2021-06-21 12:43] jhyot commented on #78664
/reopen

[2021-06-21 13:15] velmuruganvelayutham commented on #54482
Hi @okgolove , Did you get any workaround to make this work?

[2021-06-21 13:50] jicowan commented on #102750
@n4j That did it! Thanks for helping me troubleshoot this. I wonder if this is unique to KinD or whether we would see this behavior in a "normal" cluster (i'll test it later). I will tell the developers who wrote the ecr-credential-provider to include an argument to increase the verbosity or to output logs to a file so this is easier to troubleshoot in the future.

[2021-06-21 13:50] rajaSahil commented on #103043
Hi, I would like to take up ` pkg/kubelet/pluginmanager`

[2021-06-21 13:52] okgolove commented on #54482
Hi @velmuruganvelayutham!
Unfortunately no. We decided to go with a separate VPC and peer it to the main VPC then.

[2021-06-21 13:54] n4j commented on #102750
@jicowan What I have observed is, `ecr-credential-process` is only passed env vars which are in credential spec and the spec clearly says that the vars in spec are appended to existing env vars and this looks like an issue which needs deeper investigation.

Could you please re-open this issue?

[2021-06-21 13:56] jicowan commented on #102750
@n4j sure thing.

[2021-06-21 13:57] kwiesmueller commented on #102810
Just to clarify what you're asking for.
Do you want to set ownerRefs to all resources managed in a single apply command?
What would be the owner you add? The namespace, some other resource? How would you like to specify the owner?

I'm not sure if this is an apply only feature or if the cli should record all the resources it touched and allow you to patch them all with an ownerRef afterwards.

[2021-06-21 13:58] n4j commented on #102750
/triage accepted

[2021-06-21 13:59] liggitt commented on #102476
opened https://github.com/kubernetes/kubernetes/pull/103051

[2021-06-21 14:08] alculquicondor commented on #96651
@Huang-Wei can you confirm if this is still happening?

[2021-06-21 14:10] alculquicondor commented on #96149
You can check the KEP or take if over if nobody is working on it.

[2021-06-21 14:15] pacoxu opened #103053 "Failure cluster [115e5f18...]: test/e2e_node/node_shutdown_linux_test.go"
### Failure cluster [115e5f18964a60264cd9](https://go.k8s.io/triage#115e5f18964a60264cd9)

##### Error text:
[code]
#### Recent failures:
[2021/6/21 下午2:22:20 ci-kubernetes-node-kubelet-serial-graceful-node-shutdown](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial-graceful-node-shutdown/1406859995206651904)
[2021/6/21 上午10:22:21 ci-kubernetes-node-kubelet-seri

[2021-06-21 14:16] dprotaso commented on #102810
I think I'd prefer to be explicit and declare owner references in the resources explicitly - and the API server just populate the UIDs

[code]

[2021-06-21 14:24] wu0407 commented on #13358
maybe kube-proxy not support Endpointslice of FQDN

[2021-06-21 14:27] pacoxu commented on #103053
The failure should be caused by https://github.com/kubernetes/kubernetes/pull/100369

[2021-06-21 14:45] MorrisLaw commented on #99005
/assign @MannyGutierrez98

Here's a good first issue to work on.

[2021-06-21 14:50] mrksngl commented on #76292
I don't think this issue is actually resolved, I got the same problem on 1.21.1.

I used this as mwe:
[code]

after waiting a bit for metrics to be collected, running `kubectl top pod test` says

If I leave the `initContainer` away, metrics are available shortly after.

I'm using cri-o 1.21.0 as container environment.

[2021-06-21 14:53] neolit123 commented on #103017
/sig auth

[2021-06-21 14:58] neolit123 commented on #103017
is thus happening because the upgrade process is not following this upgrade order strictly?
https://kubernetes.io/releases/version-skew-policy/#supported-component-upgrade-order

ideally, you must first upgrade all kube-apiservers and only then the kube-controller-managers.

[2021-06-21 14:58] Elbehery commented on #102248
fixed by https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/912

Closing

[2021-06-21 14:58] #102248 closed

[2021-06-21 15:03] neolit123 commented on #103017
is the controller not started after a period of time?

looking at logs of the kubeadm upgrade test for 18->19, which also upgrade apiserver and KCM at the same time (not following the policy) i do see the controller being started:

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-18-1-19/1406952354686701568/artifacts/kinder-upgrade-control-plane-1/c

[2021-06-21 15:04] kwiesmueller commented on #102810
Ah, that makes sense.
Is your goal from this, that you'd want to garbageCollect cluster resources by deleting for example a namespace, or that you want to make the user aware that there are cluster resources that need to be deleted first (I think with your example it's the later)?

I wonder if the uid needs to be populated by the apiserver or if we could instead could support onwerRefs without UID

[2021-06-21 15:05] Haleygo commented on #103043
Hi, I would like to take those under cmd without cmd/kubeadm/app :)
taking up :
cmd/kube-proxy/app
cmd/kubeadm/test

[2021-06-21 15:06] neolit123 commented on #102996
the bots in https://github.com/kubernetes/kubernetes/pull/103041 suggest SIG Apps:
/sig apps

[2021-06-21 15:07] neolit123 commented on #102993
/sig scheduling

[2021-06-21 15:07] bcho commented on #103017
Hi, yes, the csrapproving controller never starts, since it failed to discover the v1 CSR resource.

For your examples, I think if the kube-controller-manager starts bit earlier, it may be able to discover the v1beta1 CSR resource from the old kube-apiserver. But this depends on the timing.

[2021-06-21 15:17] rahulii commented on #103043
Folks working on this should not mention `Fixes` in their PR , it will close this issue once that PR is merged, instead use `Part of `

[2021-06-21 15:22] #102987 closed

[2021-06-21 15:27] youhonglian commented on #103043
Hi, I would like to take those under cmd without cmd/kubeadm/app :)
taking up :
pkg/kubelet/kubeletconfig
staging/src/k8s.io

[2021-06-21 15:35] dprotaso commented on #102810
I'd imagine the UIDs are there to help disambiguate between resources with the same name - ie. if I force delete a namespace with no grace period - and then immediately create a new one with the same name. I think you'd want the GC to collect resources that were part of the ownership graph of the first namespace.

Yeah that's one option. Ideally it would be nice if this could be done within the AP

[2021-06-21 15:37] thockin commented on #65098
Having just read the KEP (https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/2599-minreadyseconds-for-statefulsets#how-does-this-feature-react-if-the-api-server-andor-etcd-is-unavailable), I am not opposed to adding this for the purrpose of parity.  I'd really like to see it make its way down to pod so LBs can actually consume this.  But that is a different discussion.

[2021-06-21 16:06] neolit123 commented on #103043
@Haleygo

we should not change kubeadm for the time being.

[2021-06-21 16:09] mgutierrez98 commented on #99005
@MorrisLaw hey i think you @'d the wrong account, feel free to assign me to this now that iv commented.

[2021-06-21 16:11] Haleygo commented on #103043
@neolit123 Sorry about that, I saw the conversation above says don't change files under cmd/kubeadm/app, but cmd/kubeadm/test is not under it, so I changed it.
I will change it back.

[2021-06-21 16:12] enj commented on #38541
@tallclair how is this issue progressing?  Do we need to keep it open?  Should we look for folks in the community to work on this?

[2021-06-21 16:14] enj commented on #18982
@deads2k are you planning on a KEP related to this in the v1.23 release?

[2021-06-21 16:21] jkaniuk opened #103058 "[Flaky Test] [sig-network] ESIPP [Slow] should work for type=NodePort"
**Which jobs are flaking**:

`gce-master-scale-correctness (ci-kubernetes-e2e-gce-scale-correctness)`

**Which test(s) are flaking**:

`[sig-network] ESIPP [Slow] should work for type=NodePort`

![image](https://user-images.githubusercontent.com/5487158/122795095-41d40d00-d2bd-11eb-8b1c-b7f1275ac08b.png)

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-cor

[2021-06-21 16:23] enj commented on #65785
This should be fixed in v1.21 via #97693

/close

[2021-06-21 16:24] #65785 closed

[2021-06-21 16:26] lavalamp commented on #1957
The last few comments here seem to have misunderstood: it's not the case that we can't decide what to do, it is the case that we have decided not to expand to other storage backends, and every time it comes up we've determined that that's still the right thing for the project, and I don't really see that changing.

Fortunately you don't have to wait for us to change our minds, e.g. check out: http

[2021-06-21 16:41] ehashman commented on #103043
@gdsoumya Hi, please don't mix and match files between SIGs if possible. If you want to do node files, do

[code]

If you want to do network, do

[code]

[2021-06-21 16:57] gdsoumya commented on #103043
@ehashman I have dropped the kubelet changes from my PR. Thanks for letting me know

[2021-06-21 17:01] bradtgmurray commented on #95140
Looks like the cherry-pick process didn't go through. Is there a suggested workaround for older version of Kubernetes (1.18)?

[2021-06-21 17:10] BenTheElder commented on #82531
/remove-lifecycle stale

tentatively it looks like we may not have to do this by 1.17 but we probably still need to long term.

https://tip.golang.org/doc/go1.17

[2021-06-21 17:12] BenTheElder commented on #100112
actually just `TestWatch` in all packages seems somewhat flaky https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=TestWatch

example spotted today https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/103005/pull-kubernetes-unit/1407011643325419520

/remove-lifecycle stale

[2021-06-21 17:13] BenTheElder commented on #103043
@dims are we _only_ using the wrapping feature? I know e.g. kind uses this package and will *not* be migrating because we also use the stacktrace feature.

[2021-06-21 17:14] adisky commented on #102750
@n4j Thanks for looking into the issue, you are right the spec does says that. Feel free to fix it
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/config/types.go#L550-#L554
/triage accepted

[2021-06-21 17:41] dims commented on #103043
@BenTheElder yep that's fine. motivation was that if something is available in core golang, we should try to use it.

[2021-06-21 19:03] BenTheElder commented on #99270
I don't think that's true, klog has an explicit `InitFlags`, we can just have an `InitFlags` that does not register flags Kubernetes is not supporting? Or bounce them through a temporary flagset and only copy over specific flags to the global / command flagset?

Removing these also potentially breaks consumers that are not the core Kubernetes binaries. I'm sure we have lots of those:
https://cs.k8

[2021-06-21 19:39] serathius commented on #99270
Started thread https://groups.google.com/g/kubernetes-dev/c/dAzHAdxe6ok

One of goals of this change is to move logging configuration to Options/Configuration format from k8s.io/component-base/logs as this is the standard not global way to configure components. If we kept all klog flags it would be much harder to remove them in future.

That's why I want changes to be implemented on k8s.io/compone

[2021-06-21 19:47] serathius commented on #99270
/unassign @yuzhiquan
/assign

[2021-06-21 19:58] BenTheElder commented on #99270
Sorry I misread this to removing the flags in klog directly, not component base. I agree https://github.com/kubernetes/kubernetes/issues/99270#issuecomment-865293966 sounds reasonable 👍

[2021-06-21 20:08] BenTheElder commented on #103043
er right, but have we validated that none of these packages depend on any of the functionality not provided by go?
changing error types is also a breaking change, some of those are in staging, but that's _probably_ fine.

[2021-06-21 20:20] pacharya-pf9 commented on #53459
+1 for this

[2021-06-21 20:24] ruiwen-zhao commented on #103009
Hi yes, the unit is indeed incorrect. The issue here is to trying to get some clarity on if it makes sense for kubelet to validate the requests/limits and surface informative error messages, so that it will be easier for users to find out what is wrong.

[2021-06-21 20:33] MikeSpreitzer commented on #102885
I do not understand how you got `--max-requests-inflight=0` and `--max-mutating-requests-inflight=0` on the command line.  When I search for the in kubespray, I find nothing:

[code]

We discussed the case of `--max-requests-inflight=0` and `--max-mutating-requests-inflight=0` on the command line in the APF meeting today.  The consensues was that since APF can be disabled using the `--enable-prior

[2021-06-21 20:46] damemi commented on #101820
We actually merged something like this that I wrote in https://github.com/kubernetes/kubernetes/pull/99411, but had to revert it because of performance issue in large clusters. That could be a good starting point @pacoxu

My general approach was to 1) invert the `scoresMap` already available to map `node->plugins` (rather than `plugin->nodeScores`, which it currently does) and then 2) log the top

[2021-06-21 20:49] davidtseng commented on #102885
@MikeSpreitzer

We had some custom arguments sent in to kubespray with these vars:

`kube_kubeadm_apiserver_extra_args:
  max-requests-inflight: 0
  max-mutating-requests-inflight: 0`

In the past we ran into apiserver requests hitting the limits due to some large clusters so we had these vars set. They may be outdated / incorrect with recent changes. We are going through upgrading from v1.17.17.

[2021-06-21 20:58] MikeSpreitzer commented on #102885
You can try setting large inflight limits, or disabling APF using the `--enable-priority-and-fairness` flag.

[2021-06-21 22:22] aojea commented on #103058
/cc

[2021-06-21 22:45] gkarthiks opened #103068 "purell module is no longer maintained"
#### What happened:

This is a proactive issue opened to explore the path forward with the `purell` module that we have been using as a dependency for `kubeadm` in here https://github.com/kubernetes/kubernetes/blob/d6b408f74890abaa0b5be7172714c7fe89ee7eff/cmd/kubeadm/app/preflight/checks.go#L714

This module is looking for a new maintainer.

#### What you expected to happen:
Discussions around the

[2021-06-21 23:01] kireledan commented on #86881
I left a comment on the original issue a bit ago https://github.com/kubernetes/cloud-provider-aws/issues/80#issuecomment-864320888. I don't have any time to work on it unfortunately , but the code is there and just needs feedback implemented from the comments. https://github.com/kubernetes/kubernetes/pull/95208

[2021-06-21 23:27] #102723 closed

[2021-06-21 23:52] aojea commented on #103058
/assign

[2021-06-22 00:52] Riaankl commented on #100486
/remove-lifecycle stale
e2e Test PR to follow shortly

[2021-06-22 01:13] #98281 closed

[2021-06-22 01:15] n4j commented on #102750
@adisky Thanks!!!

[2021-06-22 01:29] neolit123 commented on #103068
in kubeadm the usage of `purell.NormalizeURLString` [does a number of things](https://github.com/kubernetes/kubernetes/blob/d6b408f74890abaa0b5be7172714c7fe89ee7eff/vendor/github.com/PuerkitoBio/purell/purell.go#L152-L173):
1. applies Unicode normalization on the URL host according to "Unicode Normalization Form C".
2. applies Unicode transformation to "fold" characters to canonical width on the h

[2021-06-22 01:30] neolit123 commented on #103068
/sig cluster-lifecycle
/area kubeadm
/remove-kind bug
/kind cleanup

[2021-06-22 01:41] wongma7 commented on #79660
/assign

opened #103074 to close this for good :)

[2021-06-22 01:54] silenceper commented on #102552
Meet several conditions:
1. The kubelet restarts
2. The device plugin has not reported device information in time
3. Only containers that have been running on the original node (without rescheduling) will get the error numa information

[2021-06-22 02:11] pacoxu opened #103075 "Failure cluster : node_problem_detector Failed to read configuration file config/guestosconfig/known-modules.json"
### Failure cluster [6bca1a441552b2cec1fe](https://go.k8s.io/triage#6bca1a441552b2cec1fe)
/cc @vteratipally
Can #101629  and npd v0.8.8(with https://github.com/kubernetes/node-problem-detector/pull/557) fix this problem?
/sig node

##### Error text:
[code]

Example: [node-problem-detector.log
](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-containerd/140686956161

[2021-06-22 02:20] wzshiming commented on #103053
/assign

[2021-06-22 02:24] #94622 closed

[2021-06-22 03:02] vivian-xu commented on #103043
Hi, I would like to take up test/e2e/windows ~

[2021-06-22 03:08] coffeepac commented on #81863
I've been working on this.  I am, as probably expected, struggling to locate the dependent files on disk.  But progress is being pursued at least.

[2021-06-22 03:14] bhumijgupta commented on #103043
@dims @ehashman I would like to take up the changes relating to sig/node

[code]

[2021-06-22 03:14] prnvkv opened #103077 "Support for 1:N mapping between hostPort and containerPort in Deployment Spec"
Currently when we specify a deployment spec with hostNetwork is true and the application in a container listens to multiple ports, the hostPort should be assigned for each of those port.

ports:
     - containerPort: 8090
        hostPort: 8090
     - containerPort: 8091
        hostPort : 8091

It would be nice to have range of containerPort for a given hostPort. Something like this below:
ports:

[2021-06-22 03:16] bhumijgupta commented on #94927
As per the conversation on slack, will be unassigning myself in interest of https://github.com/kubernetes/kubernetes/pull/96087 to be merged
/unassign bhumijgupta

[2021-06-22 03:24] mycall commented on #72734
In case anyone wants an answer, it needs two things:
1. Put Notepad2.exe (or code.exe) into system PATH environment variable
2. set EDITOR=notepad2 -w
   (or EDITOR=code -w)

[2021-06-22 03:43] #101425 closed

[2021-06-22 06:11] mind-mind commented on #103020
Okay. Sorry about that.

I use this command instead` pv | tar cf - train-idx3.gz | kubectl exec -i  test1 -- tar xf - -C /home/ubuntu `

This is output

`0.00 B 0:02:27 [0.00 B/s] [<=>                                                                                   ]
`

I see the data in the worker node, but I didn't get throughput to send data from the master node to the worker node.

The thing

[2021-06-22 06:20] mind-mind commented on #103020
Well, seems like I found the solution. Thank you so much for your help.

[2021-06-22 06:20] #103020 closed

[2021-06-22 07:11] #102557 closed

[2021-06-22 07:12] mowangdk commented on #102779
the 6060c57ba3a944bd133968fd669980c97af846c6 commit affects the function

[code]

[2021-06-22 07:21] mowangdk commented on #102779
Can this judgment be removed？

[2021-06-22 07:25] lmxia opened #103084 "Add Pod Schedule Score into ScheduleResult and put the scheduleResult into CycleState"
#### What would you like to be added:
1. Add Score of the suggested host  into ScheduleResult
2. Add the scheduleResult into cycleState, so the latter plugins can get the score.

#### Why is this needed:

The scheduler did't put the score of suggested host into scheduleResult and no plugin can get the score, however if i want to  schedule a pod across clusters, i have no way to compare with nodes

[2021-06-22 07:26] matthyx commented on #95140
Unfortunately not... the refactor is needed and is the base for other fixes that are also needed to properly fix the startupProbe behavior.
Even though 1.20 was the first release with GA support, I only consider it 100% usable in 1.22

[2021-06-22 07:27] dkistner opened #103085 "Azure Exclude node from LoadBalancer lead to failed reconciliation of services"
#### What happened:

Exclude node from LoadBalancer (via `kubectl label node node1 node.kubernetes.io/exclude-from-external-load-balancers=true
`) leads to failing reconciliation of the existing load balancer services in the cluster with following error:

[code]

The legacy provider azure is not using an AvailablilitySet as it it running with those cloudprovider config:

[code]

Creating new load

[2021-06-22 07:32] ZYecho opened #103086 "nodelifecycle: not compatible with virtual-kubelet node"
#### What happened:
when node in not ready state, node controller will set pods which on this node to not ready state, but with virtual-kubelet node(https://github.com/virtual-kubelet/virtual-kubelet),  this logic brings side effects. The pod which run in vk node，its lifecycle is not managed by vk node，so, when vk not ready, that not means the pod is not ready.

and when the pod not ready, it caus

[2021-06-22 07:57] pacoxu commented on #101820
@damemi thanks for the information.
[code]

So with current kube-scheduler, I can set log level to 10 to get every node score for each plugin. It helps in some cases.

[2021-06-22 09:50] sftim commented on #91459
(If it's not clear whether the API changes document does or doesn't allow the change from @bacongobbler's last comment, let's raise a separate improvement request against that document).

[2021-06-22 10:53] JasonShenk commented on #102881
How do I triage?  I went to the bot link https://github.com/kubernetes/community/blob/master/contributors/guide/pull-requests.md and there is nothing about triage.

[2021-06-22 12:00] jion commented on #60140
Same here. It was working before. Getting this error on a 3MB file.

[2021-06-22 12:02] cabrinoob commented on #91459
Does the case is important ? Because here I can read `clusterIP` or `ClusterIP` ...

[2021-06-22 12:54] damemi commented on #101820
@pacoxu yes, that's the current case. Though `V(10)` creates a *lot* of other noise in the logs, so I think we agreed that it is okay for us to add this kind of summary at a lower level like `V(4)`

[2021-06-22 13:26] mowangdk commented on #102779
related: https://github.com/kubernetes/kubernetes/pull/88759

[2021-06-22 13:31] brsolomon-deloitte commented on #99305
It seems like this could be closed with https://github.com/kubernetes/kubernetes/pull/102673 and related cherry picks now being part of the newest releases?

Bumping to 1.21.2 allowed me to remove the `--experimental-patches` hack for etcd and several test deployments have steered clear entirely of the original issue. Thanks @jackfrancis

[2021-06-22 14:10] logicalhan commented on #81863
Nice! Yeah it's definitely non-trivial functionality but it would be amazing to have since it would allow us to expand the scope of functionality quite a bit.

One idea is to read all the files in a single pass, mapping from the golang package name to a list of files which correspond to that package name. This wouldn't be exact and perhaps there ways to improve on the heuristic, but it could be a

[2021-06-22 14:13] aojea commented on #102865
I think that this will be fixed by https://github.com/kubernetes/kubernetes/pull/102050
cc @pohly

[2021-06-22 14:29] ialidzhikov commented on #98218
@chenyw1990, I think it make sense to reopen this issue as the referenced PR is still open.

[2021-06-22 15:59] s-urbaniak commented on #78494
/assign

[2021-06-22 16:00] s-urbaniak commented on #66844
/assign

[2021-06-22 16:04] coffeepac commented on #81863
yep, I'm having trouble loading the files from the listed import paths.  I tried naively using GOPATH and GOMODCACHE just to see what happens and I think I need to go look how the compiler does it.

[2021-06-22 16:11] #92114 closed

[2021-06-22 16:44] sftim opened #103096 "Retain LGTM through squashes"
#### What would you like to be added:

Configure this repo ([k/kubernetes](https://github.com/kubernetes/kubernetes)) to retain LGTM labels when people squash commits. PR https://github.com/kubernetes/test-infra/pull/9138 made this possible.

#### Why is this needed:
This feature will make it easier for people to squash commits, and should give reviewers confidence to ask other contributors to squ

[2021-06-22 16:45] jackfrancis commented on #99305
@brsolomon-deloitte great news.

I'd prefer to pin this issue to this PR:

https://github.com/kubernetes/kubernetes/pull/101882

That PR will deliver more race condition resilience for *all* static pod + ephemeral-storage requirement scenarios.

[2021-06-22 16:52] ehashman commented on #103043
it's already done in https://github.com/kubernetes/kubernetes/pull/103059

[2021-06-22 17:08] encodeflush opened #103097 "[Failing Test][sig-release] ci-kubernetes-e2e-ubuntu-gce"
#### Which jobs are failing:

ci-kubernetes-e2e-ubuntu-gce

#### Which test(s) are failing:

- Kubernetes e2e suite: AfterSuite
- e2e.go: Test
- e2e.go: Timeout

#### Since when has it been failing:

2021-04-30 15:49:28 +0000 UTC

#### Testgrid link:

https://testgrid.k8s.io/sig-release-master-informing#gce-ubuntu-master-default

#### Reason for failure:

[code]

#### Anything else we need to know

[2021-06-22 17:10] sftim commented on #103096
/sig contributor-experience
Any other SIGs?

[2021-06-22 17:34] tallclair commented on #38541
We should get issues filed for each addon that still needs work. I would say the remaining work for _this_ issue is to audit the addons that we provide a yaml for, and file an issue with the specific recommendations for that addon. As a first pass, we should enumerate the addons that need an audit.

[2021-06-22 17:36] tallclair commented on #38541
Alternatively, we should push more towards deprecating k/k/cluster. I heard that was happening a few years ago, but I don't know what the current state is.

[2021-06-22 17:54] swatisehgal commented on #102191
/kind documentation

[2021-06-22 17:55] BenTheElder commented on #103096
/sig testing
I guess? We own the tooling / repo but not the workflow expectations (contribex).

I am a big +1 for this if it's working as expected now (and it's benign if not, it just used to not detect it correctly => still need re-lgtm)

[2021-06-22 18:17] pmanno commented on #101743
Hello,
I am still experiencing this bug and it is becoming a major problem.  Any ETA to a fix?

[2021-06-22 18:19] ggriffiths commented on #87491
Also seeing this with Portworx in-tree plugin, k8s 1.19.8

[2021-06-22 18:40] BenTheElder commented on #103086
virtual-kubelet is not part of the Kubernetes project, and is not supported by the Kubernetes project.

it seems like vk is responsible for emulating kubelet, not Kubernetes responsible for supporting a fake kubelet ...

[2021-06-22 18:40] BenTheElder commented on #103086
/sig node

[2021-06-22 18:42] fkocik commented on #101786
Hi all,

I'm currently migrating to Kubernetes **1.21.2** that seems to fix this issue.
Can you confirm that ?

Thanks.

[2021-06-22 18:58] pohly commented on #102865
Now we just need to convince someone to merge that PR...

[2021-06-22 19:15] gnufied commented on #102779
cc @jsafrane

[2021-06-22 19:49] serathius commented on #99270
Did a quick search on k/k and kops repo. [Search](https://cs.k8s.io/?q=%22log-dir%7Clog-file%7Clog-flush-frequency%7Cone-output%7Cstderrthreshold%7Clog-file-max-size%7Cskip-log-headers%7Cadd-dir-header%7Cskip-headers%7Clog-backtrace-at%22&i=nope&files=&excludeFiles=CHANGELOG%7Cconfigure-helper.sh%7C(%5C.md%24)&repos=kubernetes/kops,kubernetes/kubernetes)

Looks like both kops and kubeup use log-fi

[2021-06-22 20:04] MorrisLaw commented on #99005
/assign @mgutierrez98

[2021-06-22 20:21] fedebongio commented on #103034
/remove-sig api-machinery
/sig apps

[2021-06-22 20:22] fedebongio commented on #103011
/assign @leilajal @Jefftree
/triage accepted

[2021-06-22 20:22] fedebongio commented on #102973
/triage accepted

[2021-06-22 20:22] fedebongio commented on #102808
/help

[2021-06-22 20:52] vteratipally commented on #103075
Yes, the  #101629 and npd v0.8.8(with kubernetes/node-problem-detector#557) should fix this problem

[2021-06-22 20:57] dims commented on #99270
@serathius we never got enough debugging on the scalability jobs to nail that down, we tried several things and had to revert multiple times :(

So ended up coding go-runner to keep the same contract as before and that worked fine the first time we tried it :)

[2021-06-22 21:04] Jefftree commented on #103011
This is a known issue and has been fixed and backported by this commit: https://github.com/kubernetes/kubernetes/pull/99038

The fix applies for server version >=1.19.10 and >=1.20.6. Looking at your server version, 1.19.7 doesn't yet include the fix, and upgrading should solve the problem.

Going to close this for now, feel free to reopen if the problem persists in the later versions.
/close

[2021-06-22 21:15] neolit123 opened #103101 "[failing test] kubeadm-kinder-latest: task-03-init"
#### Which jobs are failing:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-latest

#### Which test(s) are failing:
kubeadm-init

#### Since when has it been failing:
06-22

#### Testgrid link:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-latest

#### Reason for failure:

[code]

#### Anything else we need to know:

all kubeadm jobs a

[2021-06-22 21:17] PushkarJ commented on #101528
Docs PR: https://github.com/kubernetes/community/pull/5853

[2021-06-22 21:18] ehashman commented on #102822
/assign @dims

[2021-06-22 21:20] ehashman commented on #102822
tl;dr from https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=989917#10

`buildx` isn't actually part of moby, but Docker Inc. ships it as part of their Docker packages in their PPA. It's a separate tool with a separate code repo.

[2021-06-22 21:22] neolit123 commented on #103101
cc @wangyysde @pacoxu
/sig cluster-lifecycle
/area kubeadm

kinder cluster preparation constructs images locally by downloading tarballs and tagging them with:

then running `kubeadm init` it would find the image locally and not pull it from GCR.

`k8s.gcr.io` does not contain pre-release images, so trying to pull these images would fail.

i think the problem here is that we broke the default beha

[2021-06-22 21:24] BenTheElder commented on #102822
would it be eligible for another package?

otherwise we probably need to provide support for installing it at least to some extent, e.g. if you are on mac with ancient bash we point to installing with homebrew in the failure message that detects this (and we should also be detecting that the command is missing).

[2021-06-22 21:26] ehashman commented on #102822
You can build it from source and install it as a docker plugin by following the instructions at https://github.com/docker/buildx#with-docker-1809

I doubt it'll be part of any of the FOSS distro repos soon (although I'm happy to be proven wrong on that).

[2021-06-22 21:28] neolit123 commented on #103101
ok, the problem is indeed here:
https://github.com/kubernetes/kubernetes/pull/102901/files#diff-831431801d11a8ecc1116374c90a45c20e4ff67824003f430f588e07b994edb6R839-R847

empty string "" should be the same as PullIfNotPresent.

[2021-06-22 21:54] graywolf-at-work commented on #102959
I've put in place some countermeasures for this to not happen again, so I've
based my analysis just on the logs I was able to get from the cluster, but it
indeed looks like what you described is accurate. Near the end I see

[code]

But this is after 2 pods were done finished (based on logs from loki), so looks
like it really does not know about the first one. I'm not able to find more in
the logs

[2021-06-22 21:55] neolit123 commented on #103101
should be fixed by https://github.com/kubernetes/kubernetes/pull/103102

[2021-06-22 23:23] dims commented on #102822
@ehashman we don't have the yard stick that something we use should be part of FOSS distro repos. Just that it needs to be easily installable.

[2021-06-22 23:28] neolit123 commented on #103101
/triage accepted

[2021-06-22 23:31] neolit123 commented on #103077
/sig node

[2021-06-22 23:38] dims commented on #102822
Seems like you can also use the release artifacts from github as well, you don't need their ppa and you won't need to build it either.

[code]

[2021-06-23 00:27] pjh commented on #96915
/reopen

[2021-06-23 00:30] pjh commented on #96915
@tosi3k the guidance in https://github.com/kubernetes/kubernetes/blob/master/cluster/log-dump/README.md was not sufficient for our test jobs (https://github.com/kubernetes/test-infra/pull/22292) - we had to submit https://github.com/kubernetes-sigs/windows-testing/pull/271 as well.

Could you please update the guidance to reflect that, since https://github.com/kubernetes/kubernetes/pull/102337 has

[2021-06-23 01:28] #100401 closed

[2021-06-23 01:28] #103058 closed

[2021-06-23 01:58] sftim commented on #103096
We (SIG Docs) already use Prow plugin / mechanism for [k/website](https://github.com/kubernetes/website), and in my experience it has worked the way I expected it to.

[2021-06-23 02:52] #103101 closed

[2021-06-23 03:07] ZYecho commented on #103086
yep，but in a cloud provider environment, vk is widely used with k8s. So I hope k8s can provide a extensible mechanisms such as a label to make it more suitable.

[2021-06-23 03:22] pacoxu commented on #83465
/remove-lifecycle stale
/assign
I will take this up as I am working on #12968 and #101139. (Hope it can be started in this release cycle and KEP discussion in 1.23?)

It needs a KEP for `kubelet API v2`.
- `/pods` API  for monitoring systems
- `/healthz` not just on loopback

[2021-06-23 03:24] denkensk commented on #93500
/remove-lifecycle stale

[2021-06-23 03:33] BenTheElder commented on #103086
It's not clear to me from your post why it is that VK cannot emulate a kubelet accurately without changing Kubernetes, it might be worth elaborating a bit.

But I'm also pretty sure a label meaningful to this controller would require a https://github.com/kubernetes/enhancements, and I don't think SIG Node / Cloud Provider (I don't speak for them, but I'm somewhat familiar with these groups) likely

[2021-06-23 04:41] Yavdhesh commented on #50295
For me I accidently installed kubectl and microk8s both. So, I uninstalled kubectl.
`microk8s.kubectl version ` <---- works fine now

[2021-06-23 05:14] MadhavJivrajani commented on #103096
/triage accepted

@sftim good first issue?

[2021-06-23 05:57] chendave commented on #102166
The feature has been removed.

[2021-06-23 05:57] #102166 closed

[2021-06-23 06:13] gkarthiks commented on #103068
@neolit123 cool, that was helpful. I'll take up on this and create a PR.

[2021-06-23 06:13] gkarthiks commented on #103068
/assign

[2021-06-23 06:37] matthyx commented on #95140
See #100530 (comment)

/close

[2021-06-23 06:37] #95140 closed

[2021-06-23 07:15] ZYecho commented on #103086
thanks, will do it.

[2021-06-23 07:15] #103086 closed

[2021-06-23 07:55] aimuz commented on #100236
/remove-lifecycle stale

[2021-06-23 08:37] pacoxu commented on #97026
/remove-lifecycle stale

[2021-06-23 08:38] sftim commented on #103096
I don't triage enough in _this_ repo to make that call confidently. No objection though!

[2021-06-23 08:39] mengjiao-liu commented on #100478
Haven't had time to do it recently, or can you continue with it? @lunhuijie

/unassign

[2021-06-23 08:47] mengjiao-liu commented on #100478
The previous PR is here https://github.com/kubernetes/klog/pull/232 for your reference.

Anyone is welcome to do it.😀

[2021-06-23 08:50] wzshiming commented on #103084
/sig scheduling

[2021-06-23 08:53] serathius commented on #99267
Options now use Config internally so this solved problem of duplicated code by Kubelet. Thanks @mengjiao-liu for help with that.

[2021-06-23 08:53] #99267 closed

[2021-06-23 08:54] serathius commented on #99265
Proposal https://github.com/kubernetes/kubernetes/issues/99270

[2021-06-23 08:56] wzshiming commented on #103043
Hi, I would like to take up test/e2e/network

[2021-06-23 08:58] BenTheElder commented on #102315
I think that's probably it for this bug then, I don't think backporting a change that changes build tools will be approved (you're welcome to try and see if I'm wrong though! I'm not actually sure!) and this is fixed in subsequent releases.

we also will not change an existing image, but if it was backported a future 1.19.X could contain this change.

[2021-06-23 08:58] serathius commented on #99265
/milestone v1.22

[2021-06-23 08:59] serathius commented on #100152
/milestone v1.22

[2021-06-23 08:59] BenTheElder commented on #97119
https://github.com/kubernetes/kubernetes/pull/97123#issuecomment-821322913 seems this is pending someone rebasing that PR and a bit of follow-up

/remove-lifecycle rotten
I think we still want this.

[2021-06-23 09:04] BenTheElder commented on #83107
/lifecycle frozen

[2021-06-23 09:04] learner0810 commented on #103043
Hi, I would like to take up test/e2e/storage

[2021-06-23 09:06] niulechuan commented on #103043
I will take ``test/e2e/storage``

[2021-06-23 09:11] BenTheElder commented on #100914
The Kubernetes project is working on running this image as non-root in all our tools. There is a KEP related to this.

For the core images we do want to enable running as non-root.

[2021-06-23 09:11] MadhavJivrajani commented on #103096
Lemme mark it as help wanted since there's enough context provided 😄
Thanks @sftim!

[2021-06-23 09:12] MadhavJivrajani commented on #103096
/help

[2021-06-23 09:15] BenTheElder commented on #102146
https://github.com/Homebrew/homebrew-core/commit/fc81390368122d805938778c164f7a19b3641f59 fixed by having GNU utilities in path at build time.

[2021-06-23 09:15] #102146 closed

[2021-06-23 09:18] mcorbin commented on #100914
But it was already possible on non-privileged ports.
Why should the image have **by default** the capability ? Why not:

- Run things on non privileged ports
- Rebuild/extend the image if you really need to run on privileged ports

For me base images should have the as few permissions as possible, then it's up to people to add what they need for their specific use cases.

[2021-06-23 09:22] pacoxu commented on #93300
After reading the code, I prefer that this is a bug according to [the website doc](https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/#create-a-pod-that-gets-assigned-a-qos-class-of-guaranteed).

@dashole  would you confirm?

/assign
I opened #103107.

[2021-06-23 09:22] BenTheElder commented on #100707
@aojea do you maybe want to run https://github.com/kubernetes/kubernetes/issues/77682 by SIG node again? I think we should reconsider it perhaps

[2021-06-23 09:23] BenTheElder commented on #102029
this was cherry picked AFAICT, thank you!

[2021-06-23 09:23] #102029 closed

[2021-06-23 09:25] gdsoumya commented on #103096
Would like to take this up.

[2021-06-23 09:27] MadhavJivrajani commented on #103096
Feel free to assign it to yourself (by commenting `/assign`)

[2021-06-23 09:27] gdsoumya commented on #103096
/assign

[2021-06-23 09:28] BenTheElder commented on #100415
Usually kube-scheduler runs as a pod so you can see the flags, logs etc. using the normal pod tooling (kubectl get, kubectl logs, etc.)
Docker may choose to run it in a way that you cannot debug / tune it, probably docker inc should be tuning this for you.

[2021-06-23 09:36] BenTheElder commented on #40422
https://github.com/kubernetes/kubernetes/pull/102873 this is actually happening now.

[2021-06-23 09:47] ardaguclu opened #103108 "ValidatingWebhook API sometimes throws connection refused and works after retry"
#### What happened:
Created a deployment and saw that validating webhook endpoint started serving. However, when trying to apply some resources to trigger validating webhook, it throws an error, as shown below, sometimes and after retrying a couple of times, it works.

Sometimes it throws an error `Internal error occurred: failed calling webhook "vbaremetalhost.kb.io": Post "https://capm3-baremeta

[2021-06-23 09:48] muma378 commented on #103043
Taking up files ：）
   1 test/utils/deployment.go
   1 test/utils/pki_helpers.go

[2021-06-23 09:49] ardaguclu commented on #103108
/sig api-machinery

[2021-06-23 09:54] yuswift commented on #103108
please make sure the pods behind `https://capm3-baremetal-operator-webhook-service.capm3-system.svc:443/validate-metal3-io-v1alpha1-baremetalhost?timeout=10s` are running before you create deployments

[2021-06-23 09:54] aojea commented on #100707
I don't know, that will depend on Node.Status.PodCIDR,  and that field is "controversial" at minimum :)

https://github.com/kubernetes/kubernetes/issues/57130

I never thought I would say this :smile: , but is not clear to me after these years that we should create this slippery slope between CNI and Kubernetes/Kubelet, right now CNI is CRI runtime business

[2021-06-23 09:55] ardaguclu commented on #103108
Thanks, I'm sure because before applying it, I run;
`kubectl rollout status deployment capm3-baremetal-operator-controller-manager -n capm3-system`