[2017-03-20 23:08] dcbw commented on #40590
Which is odd, because loadBalancerSourceRanges should be validated by the apiserver... if you get this issue again, could you 'kubectl describe' the service and paste in the results?

[2017-03-20 23:13] #41270 closed

[2017-03-20 23:16] caesarxuchao commented on #40494
I'm going to remove timed workqueue. It's used to gather metrics for queues used in the garbage collector. This feature is supported by a regular workqueue now.

[2017-03-20 23:18] dcbw commented on #38372
If kube-proxy is running containerized, then it could be a candidate for health-checks.  Otherwise, I think handling this is probably outside the scope of kube-proxy itself, and instead a general issue for various kubernetes components, not the proxy specifically.

Could we close this issue in favor of the Golang one, since hang seems to be a Go thing and not actually kube-proxy?

[2017-03-20 23:21] jingxu97 commented on #43045
cc @vishh @dashpole

[2017-03-20 23:22] dcbw commented on #38140
Also, note that 'iptables-restore' doesn't actually take the iptables lock and doesn't currently support '-w'.  So iptables-restore, as run by the proxy, can certainly clash with any other parallel iptables calls including other iptables-restores.

There are patches upstream on the netfilter lists to fix this and introduce a '-w' option to iptables-restore. See http://marc.info/?l=netfilter-devel&

[2017-03-20 23:23] dcbw commented on #38140
I'd imagine that if we could depend on the -w option to iptables-restore, then we can probably close this bug and not introduce a retry or jitter, since we could depend on the lock to serialize calls.

[2017-03-20 23:23] caesarxuchao commented on #29934
Fixed by #36673.

[2017-03-20 23:23] #29934 closed

[2017-03-20 23:24] #29015 closed

[2017-03-20 23:25] caesarxuchao commented on #27886
Moved to meta/v1 now. Closing.

[2017-03-20 23:25] #27886 closed

[2017-03-20 23:25] #22235 closed

[2017-03-20 23:35] #21932 closed

[2017-03-20 23:38] smarterclayton commented on #43382
Fix was in v1.4.0 from #19603

[2017-03-20 23:38] smarterclayton commented on #19603
Fixed!

[2017-03-20 23:38] #19603 closed

[2017-03-20 23:43] greg-jaunt commented on #33884
Tags would be the most flexible.  The other alternative that comes to mind is to be able to specify an instance group name in the Service config, since I think nodes in an instance group would always all be the same instance type.  That's less flexible, but foolproof.

An even better solution, IMO, would be to determine what nodes the service is actually running on and only add those nodes to the

[2017-03-20 23:47] jarpy commented on #3595
@hiscal2015 Could you please edit your comment with "triple ticks" to format the pasted files? Like this:

\``` dockerfile
[ dockerfile goes here]
\```

\``` yaml
[ yaml goes here]
\```

It will help everyone. Thanks!

[2017-03-20 23:49] thockin commented on #40310
If it is the bug I am thinking of, yes.

On Mon, Mar 20, 2017 at 12:46 PM, Conrad Irwin <notifications@github.com>
wrote:

[2017-03-20 23:51] vishh commented on #43045
The system is working as intended. Please read the node allocatable doc [here](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node-allocatable.md) to understand what the feature is meant for. I do admit that it's naming is a bit confusing.

[2017-03-20 23:51] #43045 closed

[2017-03-21 00:14] stannnous opened #43418 "Error syncing pod, skipping: failed to "StartContainer" for "test" with RunContainerError"
**What happened**:
We're intermittently seeing containers fail to start with the following error:

The relevant section from the kubelet log is:

which seems to indicate the volumes haven't been mounted when the run container options are being generated.

This happens infrequently so it's difficult to reproduce but it occurs dozens of times daily at our workload which involves starting hundreds of

[2017-03-21 00:24] #43218 closed

[2017-03-21 00:36] ethernetdan commented on #43191
This looks stable other than the firewall test, which looks like an infra issue. Moving to v1.6.1, move back if you disagree.

[2017-03-21 00:41] ethernetdan commented on #43392
@MrHohn any luck with a fix?

[2017-03-21 00:44] ethernetdan commented on #43263
Keeping open until can be confirmed in skew tests - I'll check later tonight.

[2017-03-21 00:51] MrHohn commented on #43392
@ethernetdan Not yet :(

I checked couple CI posted above, and found some other add-ons (like kube-dashboard and l7-default-backend) were having similar situation --- the older version add-on didn't get cleaned up. I'm now working on reproducing this on my cluster.

[2017-03-21 01:00] yujuhong commented on #43397
Both @bowei and I cannot reproduce this issue. @luxas could you try again and let me know if it's reproducible for you? Thanks!

BTW, don't edit the manifest file directly. There are some known issues. If you copy, modify, and replace the manifest file, it should be ok

[2017-03-21 01:33] cjcullen commented on #43409
I was thinking something similar to that.

Strawman:
To see if a user should be able to create/update a clusterRole:
Check "clusterRoleBindings" "bind" on the root of the cluster.
To see if a user should be able to create/update a role:
Check "roleBindings" "bind" on the whole namespace.

If you can bind to any existing role/clusterRole, then you can create/update roles/clusterRoles.

I think this

[2017-03-21 01:35] jayunit100 commented on #43402
Agree with this, and the fuzzer stuff is so confusing.  As I recall another part of making this stuff less cumbersome is adding the right logging to unit tests when equivalence options fail, which isn't really possible with deepequal.go

[2017-03-21 02:09] justinsb commented on #43410
Background info:

In kops I started on a mock (AWS) cloud provider: https://github.com/kubernetes/kops/tree/master/cloudmock/aws.

And in cloudprovider/aws we also declare an interface with the subset of methods we actually use, so that we can mock them out.

I find the mock AWS cloud provider more effective, though neither is great.

[2017-03-21 02:30] JunejaTung commented on #43211
@dixudx  My kubernetes version is 1.2.0, maybe this bug had been resolved in  1.4.0 as @kargakis  stated. we will try a new version to avoid this problem. thanks

[2017-03-21 03:30] Random-Liu opened #43423 "Add node e2e test for static pod change."
Now we already have some mirror pod node e2e test.
https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/mirror_pod_test.go

However, one expected behavior is that after any part of pod spec is changed, kubelet should restart the whole pod. We don't have a node e2e test for this.

We should create a pod, change the pod spec, and check kubelet endpoint to check whether the static pod i

[2017-03-21 03:39] MrHohn opened #43424 "cluster/gce/upgrade.sh -M is broken in release-1.6 branch"
For reproducing upgrade failures, followed the manual upgrade/downgrade doc and encountered unexpected error. Described below:
1. git fetch upstream.
2. Check out to release-1.5 branch.
3. make clean & make quick-release.
4. Execute cluster/kube-up.sh.
5. Check out to release-1.6 branch.
6. Execute `cluster/gce/upgrade.sh -M v1.6.0-beta.4`, hit below error:
[code]

Checked out to v1.6.0-beta.2 and

[2017-03-21 03:43] k8s-merge-robot opened #43425 "[k8s.io] Cluster level logging using GCL should check that logs from containers are ingested in GCL {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-multizone/6186/
Failed: [k8s.io] Cluster level logging using GCL should check that logs from containers are ingested in GCL {Kubernetes e2e suite}

[code]

Previous issues for this test: #34623 #34713 #36890 #37012 #37241

[2017-03-21 04:00] MrHohn commented on #43392
Reproduced the issue after upgraded the master from 1.5 to 1.6 (nodes are still 1.5). Found all the add-ons deployments got updated correctly. But the underlying old pods did not get deleted by the deployments:
[code]

Need helps from @kubernetes/sig-apps-bugs

[2017-03-21 04:04] MrHohn commented on #43392
Also found couple errors in kube-controller-manager.log from https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.5-1.6-upgrade-cluster-new/32:
[code]

[2017-03-21 04:05] NickrenREN commented on #42784
@keyingliu  Can you provide more logs about PVController and attach-detach controller.
Codes indicate that volume will not be marked as Failed if err is deletedVolumeInUseError:

if vol.IsDeletedVolumeInUse(err) {
			// The plugin needs more time, don't mark the volume as Failed
			// and send Normal event only
			ctrl.eventRecorder.Event(volume, v1.EventTypeNormal, "VolumeDelete", err.Error())

[2017-03-21 04:35] liggitt commented on #43203
@ethernetdan all the fields referenced in https://github.com/kubernetes/kubernetes/issues/43203#issuecomment-287164295

Fix to make non-omitempty slices output as [] in https://github.com/kubernetes/kubernetes/issues/43422

[2017-03-21 04:49] justinsb opened #43426 "AdmissionControllers: DefaultTolerationSeconds added after ResourceQuota"
cluster/gce/config-default.sh has this:

[code]

AFAICT, DefaultTolerationSeconds cannot actually throw, but we should:

* Move the order of AdmissionController initialization to prevent someone adding an unsafe admission controller later
* Change `AddOrUpdateTolerationInPod` to not return error, if it will in fact never return an error

[2017-03-21 05:08] roberthbailey commented on #43394
We'd have two successful runs after run 951.

[2017-03-21 05:32] ethernetdan commented on #43394
Yeah this looks stable, closing for now. Reopen if this regresses.

[2017-03-21 05:32] #43394 closed

[2017-03-21 05:37] ethernetdan commented on #43263
Looks good!

[2017-03-21 05:37] #43263 closed

[2017-03-21 05:46] liggitt commented on #43426
yes, resource quota should always be at the end

[2017-03-21 05:52] liggitt commented on #43426
added in https://github.com/kubernetes/kubernetes/pull/41815
opened #43427 to restore resource quota to the end of the chain

[2017-03-21 05:57] liggitt commented on #43426
cc @derekwaynecarr @davidopp

[2017-03-21 05:57] davidopp commented on #43228
I checked
https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gce-1.5-1.6-upgrade-master
and
https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gce-1.5-1.6-upgrade-cluster
and the scheduler predicate tests that are failing are the ones we'd expect to fail, as @timothysc alluded to above. So I think probably we can close this issue (especially since #43394 has been closed), unless some

[2017-03-21 06:22] #43212 closed

[2017-03-21 06:37] bgrant0607 commented on #43112
See also #22368

[2017-03-21 06:39] dragon9783 commented on #41580
I found the reason, after all of init container finished and exit 0, the pod status will change to 'Running', but i delete the init container (or by kubelet GC), the pod status will change to 'Pending'(Init 0/1), so i think it is the issue in kubelet (sync pod status).

[2017-03-21 06:50] wanghaoran1988 commented on #43320
@davidopp Are you still working on this? If not I can help here. :)

[2017-03-21 06:52] davidopp commented on #43320
I'm not working on it. Feel free to send a PR to implement it. Feel free to take anything that is useful from the PR that I had started (#43278).

[2017-03-21 07:22] ash2k opened #43430 "Panic and crash after using TPRs"
**Kubernetes version** (use `kubectl version`):
minikube version: v0.17.1

Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.3", GitCommit:"029c3a408176b55c30846f0faedf56aae5992e9b", GitTreeState:"clean", BuildDate:"1970-01-01T00:00:00Z", GoVersion:"go1.7.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Cloud provider or hardware configuration**:
Macbook Laptop
-

[2017-03-21 07:25] wenskys opened #43431 "How to use the config.json in privilege-registry"
Hi, I have some problem when i create a pod in kubernetes,the old node is ok,but the new node can't pull images form my privilege registry.
[code]
kubectl describe pod mycentos-130testd-zg823
![docker-pull](https://cloud.githubusercontent.com/assets/12937669/24136625/a2fed63c-0e4a-11e7-98e8-79641810615d.png)
[code]
But docker pull is ok.
![docker-config](https://cloud.githubusercontent.com/assets/

[2017-03-21 07:27] k82cn commented on #43426
Addressed at #42964

[2017-03-21 07:47] zhouhaibing089 opened #43433 "install RBAC api in federation-apiserver"
RBAC has been in beta since v1.6, and I think we should enable this apigroup in federation-apiserver, too.

Per this document: https://docs.google.com/document/d/1O2SEr_TDtgXzndh5lHPuAZmT-haylB9NaBRSo4DsUdk/edit#, RBAC was not enabled due to that it was still alpha at that time.

cc @nikhiljindal

[2017-03-21 07:51] wojtek-t commented on #43366
Technically you can, though it would need to be 2-step rollback:
- first downgrade to "3.0.17" image using version "2.2.1" (assuming you have json)
- after that, you can get back again to "2.2.1" image
Though I don't know if anyone would really want to do this...

[2017-03-21 08:07] k8s-merge-robot opened #43434 "ci-kubernetes-e2e-gci-gke-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial/954/
Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl taint [Serial] should update the taint on a node {Kubernetes e2e suite}

[code]

Failed: [k8s.io] SchedulerPredicates [Serial] validates that required NodeAffinity setting is respected if matching {Kubernetes e2e suite}

[co

[2017-03-21 08:09] dshulyak opened #43435 "Unable to create TPRs using incluster auth, due to Forbidden error"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-beta.1-dirty", GitCommit:"23cded36d1d20a538f97e0da05c1d2b62a6be700", GitTreeState:"dirty", BuildDate:"2017-03-20T09:11:01Z", GoVersion:"go1.7", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-beta.3", GitCommit:"0cd5ed4

[2017-03-21 08:37] wujianlin commented on #40131
+1， i hope kubernetes can automatically assigned host ports.

[2017-03-21 09:08] #43431 closed

[2017-03-21 09:13] jeremywu0127 opened #43437 "does k8s support gated launch ?"
I have deploy a web service which nginx verion is `1.10.2` with `replica=10`, then I want to upgrade to nginx `1.11.5`, I modify the `deployment` file and use `kubectl rollout status deployment nginx`, then I find all of 10 pods upgrade to `1.11.5`, I know it can use `kubectl rollout pause deployment nginx` to pause the rollout, but it can't determine the amount of pods which I want to upgrade. fo

[2017-03-21 09:26] Finsico opened #43438 "cannt choose a exists load balancer(ELB) of aws"
i want choose a exists load balancer for service(type="LoadBalancer") or config the load balancer name(default is from service.UID)

[2017-03-21 09:55] Finsico commented on #43438
support a new annotation(like `service.beta.kubernetes.io/aws-load-balancer-name`)

[2017-03-21 10:09] soltysh commented on #30079
@liggitt here's the current state. Our [testapi.go](https://github.com/kubernetes/kubernetes/blob/1e5fa8fed5459ab72175e4af84d128a34789a05e/pkg/api/testapi/testapi.go#L192) supports only testing single version for each group, the preferred one. This is also mentioned in [test-integration](https://github.com/kubernetes/kubernetes/blob/1e5fa8fed5459ab72175e4af84d128a34789a05e/hack/make-rules/test-int

[2017-03-21 10:16] wojtek-t opened #43442 "Cluster level logging using GCL should check that logs from containers are ingested in GCL failed in gke-large-cluster suite"
This failed here:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-large-cluster/90

What I'm seeing in logs is:
[code]

It seems to me that it is some configuration issue, but we should fix it.

[2017-03-21 10:28] mdshuai opened #43444 "Node get taint 'node.alpha.kubernetes.io/notReady' when node become 'Unknown' form 'notReady''"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug

**Kubernetes version** (use `kubectl version`):
v1.7.0-alpha.0.1397+e3f6f14bf0d1af-dirty

**What happened**:
On node stop docker, then node ready conditions will become notready;  then stop kubelet on node, node ready conditions will become 'Unknown', But node only have a taint 'node.alpha.kubernetes.io/notReady'

**What you expected

[2017-03-21 10:29] mdshuai commented on #43444
@derekwaynecarr @aveshagarwal help check thanks

[2017-03-21 10:35] paulharter commented on #43288
Hi @crassirostris,

I see that you came across this same bug in https://github.com/kubernetes/kubernetes/issues/32762

The problem on my servers lasted several days, which wasn't a total disaster as I'm only deploying a beta, but it was inconvenient and would be really bad in production. I'm not sure what fixed it, I guess  maybe a system upgrade in the background.  I tried

* Deleting the pod. -

[2017-03-21 10:49] Levovar opened #43445 "Mirror pod creation error is unnecessarily logged by Kubelet"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Both? More of a bug IMO

**Kubernetes version** (use `kubectl version`):

(though based on the code I think the issue is there in all versions)

**What happened**:
Kubelet constantly produces the following error log:

**What you expected to happen**:
Kubelet does not constantly produce the above error log, when it is not justified (see bel

[2017-03-21 10:55] crassirostris commented on #43288
@paulharter There's a fix for fluentd being stuck in a bad state without any progress: https://github.com/kubernetes/kubernetes/pull/42299 . It basically removed buffers (hard way, not via signals :) ) and restarts fluentd if it hasn't made any progress for a several minutes. It will be a part of 1.5.5 I believe.

Generally, this is a known problem and a paint point. Fluentd (and ruby in general)

[2017-03-21 11:01] kiich commented on #27796
Hello, I'm having trouble passing the cla check on https://github.com/kubernetes/helm/pull/2143 and as far as i can tell i have done everything I needed to such as email is set correctly, form is signed and so on. Can anyone please help why the cla is not passing? thanks.

[2017-03-21 11:08] crassirostris commented on #43442
There are couple of tests running in the background in the flaky suite that create logging load and then check the number of log entries that made it.

Stackdirver has a hard limit on the number of entries per read request: 1000. According to [the policy](https://cloud.google.com/logging/quota-policy), It also has a hard limit of 10 requests per second, however it seems like not a most accurate in

[2017-03-21 11:10] paulharter commented on #43288
@crassirostris thank you for the prompt and comprehensive answer. It sounds like you have this in hand.

I'll move to 1.5.5 when its ready and wait for 1.6 to tweak the config. In the meantime I'll try not to write any more dysfunctional back off code.

Thanks

[2017-03-21 11:16] crassirostris commented on #43442
I took a look at the quotas in the API Manager and it seems that Stackdriver Quota Policy is actually wrong, real limit is 100 requests per 100 seconds and you cannot bump it.

[2017-03-21 11:21] jacekn opened #43448 "kubeapi-load-balancer endpoint not reconfigured on failure"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "load-balancer ha", "kubeapi-load-balancer"

---

**Is this a BUG REPORT or FEATURE R

[2017-03-21 11:22] crassirostris commented on #43288
@paulharter OK. Sorry for the inconvenience with this part! Hope they will be resolved soon

[2017-03-21 11:31] #43288 closed

[2017-03-21 11:48] lth2015 opened #43449 "Hash collision in GetPodTemplateSpecHash Function"
Test Code:
[code]

Result:
[code]

In kube-controller-manage.log:
[code]

The rolling upgrade progress got stuck(actually failed)  when we try to upgrade our deployment yce, and we know we got the new Deployment with it's image updated, but it didn't get the newRs as suppose to, it seems like the Deployment had created the newRs with the same PodTemplateSpecHash in its name because of the hash col

[2017-03-21 12:21] punkracy commented on #42785
@hoanhdo thanks that helped to start kube-dns. But still environment does not work as it supposed. Have similar issues as here:
https://github.com/kubernetes/kubernetes/issues/16836

[code]

and

[code]

ifconfig

[code]

resolv (here we have a problem I guess)

[code]

But if I change manually resolv

[code]

[code]

So how to make it work?

[2017-03-21 12:32] aveshagarwal commented on #43444
looking into this.

[2017-03-21 12:36] aveshagarwal commented on #43426
So both issues in the report are addressed in the following PRs:
https://github.com/kubernetes/kubernetes/pull/43427 by @liggitt  and milestone set to 1.6.
 https://github.com/kubernetes/kubernetes/pull/42964  by @k82cn and milestone set to 1.7 so do we want to get it in 1.6?

[2017-03-21 12:37] aveshagarwal commented on #43444
@kubernetes/sig-scheduling-bugs

[2017-03-21 12:38] k82cn commented on #43426
It's not release blocker; but I prefer to get it in 1.6 :).

[2017-03-21 12:41] prabhakar-pal commented on #31384
Hello, just curious if this change has been pulled in and if so, in which version of kubernetes?

[2017-03-21 12:42] punkracy commented on #42785
After reading more regarding issue I found:
https://github.com/kubernetes/kubernetes/issues/17406#issuecomment-226014284
and
http://stackoverflow.com/questions/37949471/kubernetes-kubelet-says-that-dns-is-not-set-with-missingclusterdns-skydns

I added to kubelet config file

[code]

and now

[code]

It is a pity that there is no corresponding manual for this topic for CentOS.

[2017-03-21 12:42] #42785 closed

[2017-03-21 12:44] prabhakar-pal commented on #31384
Could you please inform if the hostPath type attribute has been added to kubernetes? If so, in which version?

[2017-03-21 12:45] wojtek-t opened #43452 "Test rollback in automated upgrade tests"
Currently, we re not testing rollback at all in any of our existing automated-upgrade testing. Since we are going into direction when there will be only automated upgrade tests (hopefully this will happen in 1.7), this would mean that noone will be testing rollback at that point.

We should extend our existing upgrade test to also test "rollback".

@thockin @davidopp @mml @skriss

[2017-03-21 12:49] liggitt commented on #43435
How did you create your cluster?

[2017-03-21 12:52] dshulyak commented on #43435
With kubeadm, i almost sure thats because of RBAC authorization

[2017-03-21 13:05] kargakis commented on #43449
Dupe of https://github.com/kubernetes/kubernetes/issues/29735

[2017-03-21 13:05] #43449 closed

[2017-03-21 13:10] aveshagarwal commented on #43444
I am able to reproduce this.

[2017-03-21 13:15] kargakis commented on #43392
@MrHohn can you post the output of
[code]
I wouldn't worry about the errors in the cm log because those deployments are getting retried on the spot but I personally worry about those errors because I am not sure how we can end up in such a (albeit transient) state.

[2017-03-21 13:24] aveshagarwal commented on #43444
I am seeing different behavior with kubectl describe and kubectl get:

[code]

[code]

So kubectl describe shows unkown whereas kubectl get shows NotReady.

[2017-03-21 13:26] dshulyak commented on #43435
@liggitt Thank you, thats exactly what i was looking for

[2017-03-21 13:26] #43435 closed

[2017-03-21 13:43] k8s-merge-robot opened #43454 "ci-kubernetes-e2e-gci-gce-proto: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-proto/5679/
Multiple broken tests:

Failed: [k8s.io] MetricsGrabber should grab all metrics from a Kubelet. {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27295 #35385 #36126 #37452 #37543

Failed: [k8s.io] DNS configMap federations should be able to change federation configuration {Kub

[2017-03-21 13:51] mdshuai commented on #43444
@aveshagarwal There also are two other issue need confirm with you if it's by design or not.
1) If there is only one node(all-in-one env), when node become notReady/Unknow, node controller can't add taint to node. multi-nodes no this issue
2) After node controller add taint to node, then manual remove the taint, node controller can't add the notready/unreachable again.
Thanks

[2017-03-21 14:01] aveshagarwal commented on #43444
@mdshuai first one is by design to avoid mass eviction when all nodes are not ready/unknown. 2nd I am not sure will have to look into that though it seems node controller is honoring user intent so looks good.

Also in my understanding, the original issue here should not affect the end result in a cluster regarding eviction as there is no difference w.r.t action taken irrespective of notready or u

[2017-03-21 14:05] aveshagarwal commented on #43444
@gmarek I am noticing that when a node goes from NotReady to Unreachable even though node status is unknown I dont see the flow reaching here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/nodecontroller.go#L530

[2017-03-21 14:08] mdshuai commented on #43444
@aveshagarwal thanks confirm

[2017-03-21 14:09] castrojo commented on #31293
This is no longer necessary.

[2017-03-21 14:09] #31293 closed

[2017-03-21 14:16] henriquetruta opened #43455 "Cluster IP update is not carried to federation-controller"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T04:57:25Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1",

[2017-03-21 14:22] aveshagarwal commented on #43444
@mdshuai how many node cluster are you testing on?

[2017-03-21 14:29] bryanlarsen opened #43456 "Feature request: allow returning success when job queue empty"
In https://kubernetes.io/docs/concepts/jobs/run-to-completion-finite-workloads/

under "3. Parallel Jobs with a Work Queue" it says:

4. when any pod terminates with success, no new pods are created.
5. once at least one pod has terminated with success and all pods are terminated, then the job is completed with success.
6. once any pod has exited with success, no other pod should still be doing an

[2017-03-21 14:33] bryanlarsen commented on #43456
Hmmm, when I wrote my suggestion, I thought that anything written to work under the existing rules would also work under my suggested rules, but that's not true.   Some existing code may get quite surprised to be restarted under my modified rule 4.   Darn.    Go ahead and close, but it'd be awesome if you accept my request or modify it to accept the gist without breaking existing code.

[2017-03-21 14:45] mdshuai commented on #43444
@aveshagarwal Three

[2017-03-21 15:04] luxas commented on #43397
What I ran now:
[code]

So it seems like this issue is fixed, :+1: the apiserver did now restart correctly. Earlier it didn't get restarted at all; it just remained in its initial state.

Still there are some somewhat confusing logs, I don't think the CNI plugin should ever be called when dealing with Pods with HostNetwork, but it seems like kubelet calls CNI regardless of networking type right no

[2017-03-21 15:05] #43397 closed

[2017-03-21 15:22] liggitt opened #43459 "PodSecurityPolicy admission plugin authorizes incorrectly"
A PodSecurityPolicy admission plugin vulnerability allows users to make use of any PodSecurityPolicy object, even ones they are not authorized to use.

CVE: Pending

* Fixed in [v1.5.5](https://github.com/kubernetes/kubernetes/releases/tag/v1.5.5) in https://github.com/kubernetes/kubernetes/commit/7fef0a4f6a44ea36f166c39fdade5324eff2dd5e
* Fixed in release-1.5 branch in https://github.com/kubernet

[2017-03-21 15:30] aveshagarwal commented on #43444
@mdshuai I think i know what is the issue working on a fix.

[2017-03-21 15:49] grodrigues3 commented on #43366
Do we document the downgrade process somewhere?  Can we get somewhat to update the instructions?

[2017-03-21 16:00] jacekn opened #43461 "etcd charm scale out/scale back breaks API server"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "etcd relation", "etcd charm"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (cho

[2017-03-21 16:10] MrHohn commented on #43392
Sure, seems like there are multiple replica sets existing. Please see the output on https://gist.github.com/MrHohn/294a79821322430a8e93e935f2b46de3.

[2017-03-21 16:10] bnerd commented on #29166
I know this is an old one, but since we're still running with K8s v1.4.3 on CoreOS we hit this bug from time to time with glusterfs volumes resulting in a node which is unable to schedule new pods (default-token). I then usually ssh into the node and manually umount (-f) the volume and restart the pod. it's way better than restarting the complete node…

[2017-03-21 16:25] anhowe commented on #43424
@Random-Liu can you take a look at the above error.  It is happening in upgrade-master-env() function you added in https://github.com/kubernetes/kubernetes/commit/cf41dcaeecbfb440099dc17ce618156537bd788e

[2017-03-21 16:34] kargakis commented on #43392
Can you grep for any "Dropping deployment" logs from the controller manager?

[2017-03-21 16:37] MrHohn commented on #43392
Found many:
[code]

[2017-03-21 16:37] kargakis commented on #43392
Ok, I just found the log.
[code]

[2017-03-21 16:41] jingxu97 commented on #29166
@bnerd In order to better understand the issue, could you please share the kubelet log when the issue occurred? You can directly ping me at slack @jinxu or email me jinxu at google.com. Thanks!

[2017-03-21 16:42] kargakis commented on #43392
Ok, this problem shouldn't happen and my wild guess is that readyReplicas for Deployments is somehow dropped by protobuf due to the transition to the new api group.

[2017-03-21 16:42] kargakis commented on #43392
Looking further.... cc: @soltysh

[2017-03-21 16:59] aveshagarwal commented on #43444
@mdshuai fixed it in https://github.com/kubernetes/kubernetes/pull/43463

[2017-03-21 17:05] kargakis commented on #43392
I think the issue stems from the fact that there is no ReadyReplicas field in 1.5 for Deployments. @MrHohn is the error happening before or after the update to 1.6? It seems that 1.6 validation is used for the 1.5 cluster.

[2017-03-21 17:07] yujuhong commented on #43397
@luxas I actually never seen the "cni" error in all my attempts to reproduce this issue yesterday. Could you make sure you run this on a new machine (with no stale state in `/var/lib/`) and with the latest kubelet from HEAD? If you still see this error, feel free to open a new issue and we'll look into it more.

[2017-03-21 17:08] MrHohn commented on #43392
It happened after the the master was updated to 1.6, though the nodes are still in v1.5.

[2017-03-21 17:08] skriss commented on #43187
@jszczepkowski have you been able to look at this?

[2017-03-21 17:09] jacekn commented on #43461
Another pieced of info - even when relation data changes daemon flags will possibly not be updated due to this code in kubernetes-master layer:

[code]

If I understand above correctly *handle_etcd_relation* will only be triggered during initial set up due to *@when_not('kubernetes-master.components.started')*

[2017-03-21 17:11] grrywlsn commented on #15073
Also having the same issue as @erstaples ^

Should we be using PV+VPC instead of claiming the EBS volume directly from the deployment spec?

[2017-03-21 17:12] ethernetdan commented on #43014
**Plugin fix PRs**
* flannel - containernetworking/cni#407
* bridge, ipvlan, macvlan, ptp - containernetworking/cni#412

[2017-03-21 17:18] bgrant0607 commented on #38745
Dupe of #23597.

Needs to be changed in a new API version.

[2017-03-21 17:18] #38745 closed

[2017-03-21 17:20] kargakis commented on #43392
Yeah, the Deployment is in the apps group. Nodes shouldn't matter. The problem is that because there is no field in 1.5, when we update to 1.6 and the controller tries to update the Deployment, it will be denied by validation because the pre-existing availableReplicas field is greater than readyReplicas (normally readyReplicas should always be greater or equal). The fix for now is to disable the v

[2017-03-21 17:22] bgrant0607 commented on #38684
@kargakis Yes, we should not allow activeDeadlineSeconds for restartPolicy=Always pods generally.

[2017-03-21 17:23] bnerd commented on #29166
@jingxu97 sure.

[2017-03-21 17:24] bboreham commented on #43014
Weave Net 1.9.4, just released, does not error on missing netns or no-such-address during CNI DEL operation.

https://github.com/weaveworks/weave/releases/tag/v1.9.4

[2017-03-21 17:30] skriss opened #43464 "1.6 upgrade testing - [k8s.io] Kubectl client [k8s.io] Kubectl describe should check if kubectl describe prints relevant information for rc and pods [Conformance]"
This test is still failing -- looks like now due to a minor change from "Image(s)" to "Image" (see PR 42283) -- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.5-1.6-upgrade-master/28#k8sio-kubectl-client-k8sio-kubectl-describe-should-check-if-kubectl-describe-prints-relevant-information-for-rc-and-pods-conformance

cc @smarterclayton

[2017-03-21 17:30] skriss commented on #43464
/assign @smarterclayton

[2017-03-21 17:33] bgrant0607 commented on #38612
See also #36891

[2017-03-21 17:34] liggitt commented on #43430
adding to the milestone for triage

[2017-03-21 17:35] yujuhong commented on #43423
Alternatively, we can check the hash annotation, container IDs, etc., from the status of the mirror pod.

[2017-03-21 17:44] tomdee commented on #43014
It's also fixed in Calico CNI plugin v1.6.1 release - https://github.com/projectcalico/cni-plugin/releases/tag/v1.6.1

I've just merged the flannel CNI plugin fix https://github.com/containernetworking/cni/pull/407
But [my fix](https://github.com/containernetworking/cni/pull/412) for the other plugins probably still needs a little work (such as adding tests).

[2017-03-21 17:45] bowei commented on #42636
/assign

[2017-03-21 17:46] ethernetdan opened #43466 "[GKE] Ingress should conform to Ingress spec"
The [1.6 GKE Ingress Tests
](https://k8s-testgrid.appspot.com/release-1.6-all#gci-gke-ingress-1.6) started failing yesterday. This looks like an infra issue.

[Error: ](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-ingress-release-1.6/700)
[code]

@kubernetes/test-infra-maintainers

[2017-03-21 17:51] calebamiles commented on #43357
Is this a release blocker @luxas, @DirectXMan12? We need to move this issue into either the `v1.6` milestone if it is or into the `v1.6.1` or `v1.7` milestones so the release team can move on to other issues.

**cc: @ethernetdan, @kubernetes/kubernetes-release-managers**

[2017-03-21 17:52] calebamiles commented on #43197
so can this issue be closed @timstclair, @davidopp?

**cc: @ethernetdan, @kubernetes/kubernetes-release-managers**

[2017-03-21 17:53] ethernetdan commented on #43412
This is not release blocking per SIG node.

[2017-03-21 17:54] ethernetdan commented on #43434
Looks like infra issue, no problems on release branch

[2017-03-21 17:55] ethernetdan commented on #43454
bad run

[2017-03-21 17:57] ethernetdan commented on #43425
Dupe of kubernetes/kubernetes#43442

[2017-03-21 17:58] ethernetdan commented on #43408
Looks isolated

[2017-03-21 17:58] #43408 closed

[2017-03-21 18:00] krzyzacy commented on #43466
`event for echomap: {loadbalancer-controller } GCE :Quota: googleapi: Error 403: Quota 'BACKEND_SERVICES' exceeded. Limit: 5.0, quotaExceeded`

Is this test using more than 5 backend services?

[2017-03-21 18:01] bgrant0607 commented on #41596
The first thing to do is set maxSurge to 0.

[2017-03-21 18:01] #43426 closed

[2017-03-21 18:06] krzyzacy commented on #43466
I think https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-ingress-release-1.6/680/ is a bad run maybe screwed up something there. I can wipe the project, but guess I'll leave it there for someone want to take a look.

[2017-03-21 18:08] bgrant0607 commented on #41596
I also agree that StatefulSet would be better for this use case.

Deployment and ReplicaSet are designed for fungible workloads and are optimized for availability.

[2017-03-21 18:08] #41596 closed

[2017-03-21 18:17] Random-Liu commented on #43424
@anhowe Will have a try.

[2017-03-21 18:17] bgrant0607 commented on #12611
@mml What remains to be done here?

[2017-03-21 18:17] jbeda commented on #43014
We need someone to update the docs and identify which plugins are ready for kubeadm 1.6 and have fixes (1) RBAC roles (2) master taints (3) this issue.

Someone want to sign up?

[2017-03-21 18:23] cmluciano commented on #43014
I can help to test some of these things out. Should I just view the release notes for kubeadm 1.6 to determine what new features need tested?

[2017-03-21 18:24] djosborne commented on #43014
I've posted yaml to calico's master docs that launches Calico with correct RBAC on kubeadm 1.6: http://docs.projectcalico.org/master/getting-started/kubernetes/installation/hosted/kubeadm/1.6/calico.yaml

This yaml launches master images of Calico. I plan to move it into a pinned Calico release that uses the pinned Calico CNI plugin ASAP.

[2017-03-21 18:27] tomdee commented on #43014
For 1) and 2) it might be that https://github.com/coreos/flannel/pull/618 and https://github.com/coreos/flannel/pull/614 should be merged. I haven't had a chance to test them yet but if someone else can then I can merge them.

[2017-03-21 18:32] bgrant0607 commented on #37566
See also https://github.com/kubernetes/kubernetes/issues/22543#issuecomment-215833295

[2017-03-21 18:36] ethernetdan commented on #43228
@davidopp the issue here is not the failures but the amount of time spent trying to delete namespaces, it is causing several upgrade jobs to timeout. I'm hesitant to release with jobs timing out.

[2017-03-21 18:39] marun commented on #43442
@crassirostris @wojtek-t I'm assuming this shouldn't be blocking 1.6.  Feel free to revert my milestone change if you disagree.

[2017-03-21 18:39] yujuhong commented on #43014
The list of cni plugins that work (or doesn't work) should be documented in the 1.6 release note even if kubeadm is not used to set up the cluster.

[2017-03-21 18:43] mml commented on #43362
Our worst case measurements using large mock clusters (with a lot of nodes, pods, and deployments) were about 27s to upgrade and 34s to downgrade.  Both seem too short for the container to have been killed and respawned, so I'm guessing this all happens within a single run of the container.

[2017-03-21 18:45] bgrant0607 commented on #20497
I believe this is obsolete.

[2017-03-21 18:45] #20497 closed

[2017-03-21 18:46] #43203 closed

[2017-03-21 18:46] bgrant0607 commented on #42752
I fleshed out the issue description. PTAL. It's especially missing StatefulSet issues.

[2017-03-21 18:49] carlosedp opened #43468 "Deployment on openstack-heat fails on docker - CentOS 7 image"
**Kubernetes version** (use `kubectl version`): Trying to deploy 1.6.0-beta4

**Environment**:
- **Cloud provider or hardware configuration**: Mirantis Openstack 9.2 (Mitaka) over VMware VSphere
- **OS** (e.g. from /etc/os-release):CentOS 7.3 (1611)
- **Kernel** (e.g. `uname -a`): 3.10.0-514.el7.x86_64
- **Install tools**: kube-up.sh from 1.6.0-beta4 release
- **Others**: Deployed from a CentOS 7

[2017-03-21 18:50] grodrigues3 commented on #38806
+1.  This is still causing problems.  Fixed by upping the size of VMs in my cluster

[2017-03-21 18:56] deads2k commented on #43430
Even if it's in 1.6, it also existed in 1.5.  I don't think it should block 1.6.

[2017-03-21 19:01] ethernetdan commented on #43362
Since @mml is confident, I think this can be closed

[2017-03-21 19:01] #43362 closed

[2017-03-21 19:02] deads2k commented on #43430
@ash2k does minikube try to launch a single go process which contains both the kube-apiserver and the kube-controller-manager?  That appears to be the most likely way for something like this to happen.  Kube isn't very well structured to do that given the accidental interaction via the global API registry which kube only tests in separate processes.

[2017-03-21 19:03] sajal commented on #21070
I have a slightly different case, but the solution similar in the PR in OP would apply.

I plan to deploy cluster on baremetal without any external firewal, for each nodePort, I would like to define a list of CIDRs to be let in.

By default kubernetes accepts everything without any filter, even adding my own DROP rules in iptables INPUT chain does not help.

`-A KUBE-NODEPORTS -p tcp -m comment --

[2017-03-21 19:06] krousey commented on #43424
@MrHohn It seems you're trying to upgrade from a dirty 1.5.2 build. Could you retry with a clean 1.5.4 build? I was able to upgrade using those versions.

[2017-03-21 19:10] MrHohn commented on #43424
@krousey Sure, on it.

[2017-03-21 19:11] deads2k commented on #43430
Yeah, that looks like what is being done here: https://github.com/kubernetes/minikube/blob/69c85e98288361cd84d6d023b4a61b6829efb8c6/cmd/localkube/cmd/start.go#L109-L114 and here https://github.com/kubernetes/minikube/blob/ceb25dfd43a1c9d4ab6e11fdc34fa4333cab4626/pkg/localkube/apiserver.go#L61 .

I don't think this is a kube problem.  It looks like a wiring problem for someone vendoring kube.  Remo

[2017-03-21 19:17] gg7 commented on #21070
@sajal I had the same issue on bare metal and ended up disabling the public interface. Instead I put the Kubernetes servers behind a firewall.

I wish kube-proxy did not insert its rules before mine.

[2017-03-21 19:26] ethernetdan opened #43470 "1.6 -> 1.5 Downgrade jobs failing"
Currently the 1.6 -> 1.5 downgrade jobs are failing:
[gce-1.6-1.5-downgrade-cluster](https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gce-1.6-1.5-downgrade-cluster)
[code]

[gke-gci-1.6-gci-1.5-downgrade-cluster](https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gke-gci-1.6-gci-1.5-downgrade-cluster)
[code]

Looks like this could be for different reasons.

[2017-03-21 19:32] ixdy commented on #43470
I'll fix quota for the GKE test. It was failing for unrelated reasons yesterday and leaked IPs.

[2017-03-21 19:33] luxas commented on #43357
@calebamiles Not a blocker, moving milestone to v1.6.1 for further triage, but this is nonblocking

[2017-03-21 19:38] sajal commented on #21070
@gg7 External firewall is one way, but I'm trying to avoid needing it. Not comfortable adding another fail-able component.

Hopefully I can firewall them off using iptables, if all fails then I could use ingress (with nginx-ingress) and block it there.

[2017-03-21 19:38] dcbw commented on #43014
Why is fixing the original issue not as simple as:

[code]

[2017-03-21 19:43] MrHohn commented on #43424
Seems like it works. Sorry for the wrong signal :(

[2017-03-21 19:43] ethernetdan commented on #43424
Great!

[2017-03-21 19:43] #43424 closed

[2017-03-21 19:44] nikinath commented on #10309
I think this issue can be closed now.

1. As @feihujiang mentioned, the error gives a helpful message that there is invalid base64 data (along with the position). If there is any improvement required to the error message, I'd like to work on it!

2. For invalid keys, the error message is now:

[code]
Now it clearly mentions that the **key** is invalid and not the **value**. Ref: https://github.com

[2017-03-21 19:46] eicnix opened #43471 ""invalid memory address or nil pointer dereference" while provisioning volumes on vsphere"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
vsphere, volumes, invalid memory address or nil pointer dereference

**Is this a BUG

[2017-03-21 19:48] mml commented on #43366
Most of this is covered in the latest revision of kubernetes/kubernetes.github.io#2767.  I self-assigned and will close once that is merged.

[2017-03-21 19:51] mml commented on #43366
@liggitt Can you take a look at the doc PR and verify that it's clear enough?

[2017-03-21 19:56] erictune commented on #10309
Thanks for verifying this is fixed, @nikinath! Closing.

[2017-03-21 19:56] #10309 closed

[2017-03-21 20:01] krousey commented on #43452
https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gce-1.6-1.5-downgrade-cluster
https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gke-gci-1.6-gci-1.5-downgrade-cluster

[2017-03-21 20:10] mml commented on #43452
I pinged @krousey because we had been talking via IM about these failing rollback tests.  I believe he's planning to send me a PR to fix them, but if not a bug specifically about those is on the way.

At any rate, we actually are testing rollback.

[2017-03-21 20:11] krousey commented on #43470
From etcd log:

[code]

From what I understand, we cannot rollback etcdv3 + proto data store encoding. We can rollback etcdv3 + json data store encoding if we use the updated etcd image that has the rollback tool in it. Details look to be in https://github.com/kubernetes/kubernetes.github.io/pull/2767/files

I'll start playing around with this to see if I can get it working.

cc @mml

[2017-03-21 20:14] krousey commented on #43452
https://github.com/kubernetes/kubernetes/issues/43470 for the issue about broken downgrade testing.

[2017-03-21 20:21] thockin commented on #29735
Changing revision history doesn't seem to alleviate hash collisions, right?  Looking at #43449 - are we using a poor hash for this?

[2017-03-21 20:27] carlosedp opened #43476 "Deployment of 1.5.4 fails on Openstack Mitaka. Error on second node."
**Kubernetes version** (use `kubectl version`): 1.5.4 from releases (.tar.gz)

**Environment**:
- **Cloud provider or hardware configuration**: Mirantis Openstack 9.2 (Mitaka) over VMware
- **OS** (e.g. from /etc/os-release): CentOS 7.3 (1611)
- **Kernel** (e.g. `uname -a`): 3.10.0-514.el7.x86_64
- **Install tools**: `KUBERNETES_PROVIDER=openstack-heat ./cluster/kube-up.sh`
- **Others**: Deploymen

[2017-03-21 20:29] jpoon commented on #27796
@dankohn I emailed helpdesk@rt.linuxfoundation.org and the last response was a week ago. Not really sure how to get this resolved....

[2017-03-21 20:30] cjcullen opened #43478 "It would be nice to have a kubectl get pods --all-the-pods-i-can-get"
I don't have a clue how this would work. But I've heard this request a couple times now, so maybe somebody else has some magical idea.

Maybe if we limited it to `--all-authorized-namespaces` or something, we could do an initial GET namespaces, followed by a bunch of GET pods that silently drop all the 403s. That would require the caller to have namespaces.get on the cluster, which may also be ask

[2017-03-21 20:32] mml commented on #41054
Here's a concrete piece for the rel notes from @liggitt

[2017-03-21 20:35] kargakis commented on #29735
Actually, it does. If all you have is 3 old replica sets, it's less likely that the controller will break you because of a hash collision. 200 seems to be the limit with adler.

Yes. There is https://github.com/kubernetes/kubernetes/pull/38714 that changes us to fnv but there is also https://github.com/kubernetes/community/pull/384 that moves us away from hashing. I am going to open an alternative

[2017-03-21 20:35] bowei commented on #43014
Hi all -- I made a spreadsheet with the current status so we can track the progress of the plugin fixes. I tried to summarize what is on the sheet. Request edit privileges if you need to edit the sheet, thanks:

https://docs.google.com/spreadsheets/d/1Nqa6y4J3kEE2wW_wNFSwuAuADAl74vdN6jYGmwXRBv8/edit#gid=0

[2017-03-21 20:35] gvenka008c commented on #11000
I have 3 masters running. How do i generate certs for 3 masters?

[code]

[2017-03-21 20:39] ash2k commented on #43430
@deads2k Thanks for looking into it! Sorry, I have no idea how minikube works internally. If Kubernetes is not affected by this issue then it is not that bad. I was afraid to try my code on our real cluster and preventing it from starting up next time. However this is a serious inconvenience for minikube users.

[2017-03-21 20:42] grodrigues3 commented on #43197
if this is a non release blocker can we remove from the milestone?

[2017-03-21 20:49] dankohn commented on #27796
@jpoon apologies for the problem. Could you please resend to the help desk with a cc to caniszczyk at linuxfoundation.org

[2017-03-21 20:52] timothysc commented on #43197
Let's leave this open until @davidopp has time to think about it.  In the mean time, I've update the milestone to 1.7.

[2017-03-21 21:15] nikinath commented on #6703
I think this issue can be closed now.

When I run `sudo cluster/kubectl.sh create -f mysql.yaml` with apiVersion as `v1beta3` (which is deprecated), I get:

[code]

This is a helpful error message. However, if any improvement is needed, I'd like to work on it!

Ref: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/runtime/error.go#L47

[2017-03-21 21:20] ncdc commented on #43228
@davidopp I'm not 100% sure about this, but it maybe looks like the apiserver is allowing in a pod that subsequently fails validation in the kubelet, and maybe the kubelet isn't able to delete said pod. What I'm seeing is there's a pod that is scheduled to a node, it's listed as Pending, and it's never deleted, which is why the namespace never gets deleted.

With these upgrade tests, is such a sce

[2017-03-21 21:20] ethernetdan commented on #41054
@idvoretskyi ^ could we make sure this makes 1.6 release notes?

[2017-03-21 21:22] kerneltime commented on #43471
cc @BaluDontu @divyenpatel

[2017-03-21 21:23] ncdc commented on #43228
@aveshagarwal do you have any idea? I'm seeing:

[code]

and

[code]

and (kubelet.log):

[code]

[2017-03-21 21:33] ncdc commented on #43228
It looks like the kubelet filters out pods that fail validation: https://github.com/kubernetes/kubernetes/blob/fbc320af28a11c09d487f9b7cea43fe8f8b224c6/pkg/kubelet/config/config.go#L231, called on line 278. I'm assuming that this is why a pod that makes it into the apiserver but fails validation in the kubelet can't be deleted gracefully.

[2017-03-21 21:34] ncdc commented on #43228
I have to run for now. cc @yujuhong for additional sig-node coverage. I would love it if someone could explain how a pod passes apiserver validation but fails kubelet. I'm guessing it's because the apiserver and kubelet are running different validation code (given this is an upgrade test)?

[2017-03-21 21:35] idvoretskyi commented on #41054
@ethernetdan ok.

[2017-03-21 21:38] sjenning opened #43479 "tests: e2e-node: container log path test only works for json-file"
[code]

Probably should skip this test is docker is not using `json-file` logging driver

@derekwaynecarr

[2017-03-21 21:41] derekwaynecarr commented on #43228
@ncdc -- your analysis appears correct to me.

[2017-03-21 21:47] derekwaynecarr commented on #43228
@ncdc -- there are potential remedies.  for example, if the kubelet fails any pod that fails local validation rather than leave pending namespace deletion will work as expected.  we cannot have the namespace controller force delete, so that may be the preferred option if we think this is must fix.

[2017-03-21 22:00] thockin commented on #21070
#33586 ?

On Tue, Mar 21, 2017 at 12:38 PM, Sajal Kayan <notifications@github.com>
wrote:

[2017-03-21 22:04] antoineco commented on #11000
@gvenka008c that's a question for Stackoverflow. Make sure you reference the certificate and not only the key. Add logs showing the error if this doesn't fix it (on Stackoverflow please)

[2017-03-21 22:05] vishh commented on #43228
+1 on having kubelet fail pods that do not pass local validation.

On Tue, Mar 21, 2017 at 2:47 PM, Derek Carr <notifications@github.com>
wrote:

[2017-03-21 22:16] derekwaynecarr commented on #43228
@vishh @yujuhong -- i am not able to work this issue the remainder of the day.  the challenge is that where this validation check is done i cannot figure out the cleanest way to handle the failure.  most times where we fail things (active deadline for example), its driven by the sync loop, but in this case, the sync loop won't even see the pod.  i guess we could pass something that knows how to do

[2017-03-21 22:32] enisoc commented on #2210
My understanding is that ControllerRef was about protecting the system if the user creates overlapping controllers, but we still don't want the user to do that. If that's the case, we may still want to consider some mechanism for discouraging it.

[2017-03-21 22:39] yujuhong commented on #43228
The validation code also guards the potentially invalid pod manifest file (e.g., they may even have invalid names?). One potential solution is to move the validation code down to the main kubelet pod admission logic and reject it right there. Not sure if kubelet would run into any issue if the manifest file is very broken. It might be ok.

That said, this is not a trivial change and it's so close

[2017-03-21 22:48] yujuhong commented on #43014
This is a right fix for initialization, but I think the underlying cause (i.e., deletion with partial resources) still needs to be fixed. Otherwise, the problem will show up in other cases.

[2017-03-21 22:52] dchen1107 commented on #43444
The feature is alpha, but what is reported here is indeed a bug for the feature.

[2017-03-21 23:01] ethernetdan commented on #43014
After merging the plugin fixes, we need to build and push a new kube CNI build and update any references to it. Should any of [these](https://github.com/kubernetes/kubernetes/search?utf8=%E2%9C%93&q=07a8a28637e97b22eb8dfe710eeae1344f69d16e) NOT be bumped?

[2017-03-21 23:03] fejta commented on #43454
https://k8s-testgrid.appspot.com/google-gce#gci-gce-proto&width=20&sort-by-failures=

/assign @lavalamp

Daniel, do you know who cares about the gci-gce-proto job? I'm inclined to delete this job entirely unless I can find an owner for it. It looks like is flakes a bunch of DNS and other tests.

[2017-03-21 23:06] fejta commented on #43153
/assign @mikedanese

[code]

[2017-03-21 23:17] BaluDontu commented on #43471
I see from the logs that there is an error at https://github.com/kubernetes/kubernetes/blob/v1.5.3/pkg/cloudprovider/providers/vsphere/vsphere.go#L1248 where it waits for virtual disk manager to create a disk.

- Can you check on the VC task lists whether this volume creation task got completed successfully?
- Is it the same problem every time? Did u retry this operation?
- Can you provide the vsp

[2017-03-21 23:30] ethernetdan commented on #43228
@yujuhong who would be a good person to decide on that?

Also if we decide this doesn't need to be fixed in the kubelet, can we just cleanup the Pod inside the test logic?

[2017-03-21 23:34] yujuhong commented on #43228
@dchen1107 is looking into this. She'll probably update this with more information soon.

[2017-03-21 23:36] dchen1107 commented on #43228
I haven't looked into the issue deeply, but if what @ncdc's comment at https://github.com/kubernetes/kubernetes/issues/43228#issuecomment-288222469 is the root cause of the issue, this might be a serious release blocker here with API object validation logic.

If an API object is validated by 1.6 release, it should be validated by 1.5 release too. The validation policy shouldn't be weaken over the

[2017-03-21 23:45] dchen1107 commented on #43228
There are two possible components might causing this very issue here:

1) API conversion logic upon convert versioned object to API object in 1.6, breaks the backward compatibility here
2) Validation code in 1.6 might have a weaken rule.

Still looking into the detail.

[2017-03-21 23:45] krousey opened #43486 "Remove ETCD env vars from the master upgrade process when they're not needed"
In https://github.com/kubernetes/kubernetes/pull/43481, I added some env vars to the master upgrade routine so that we could optionally specify ETCD configuration settings that allow us to downgrade to 1.5. We should remove this by 1.8 if it's no longer needed.

[2017-03-21 23:51] ethernetdan commented on #43187
This seems to be a flake but we should try to address it for 1.6.1 to improve upgrade signal, moving milestones.

[2017-03-21 23:56] lavalamp commented on #43228
Can we have the offending pod so we can see what exactly it is?

Kubelet should be rejecting (failing) pods that don't validate, not ignoring them.

[2017-03-21 23:57] lavalamp commented on #43228
This appears to have something to do with the scheduler annotations.

[2017-03-21 23:59] lavalamp commented on #43228
(reading more) ah, we expect these tests to fail, the issue is that the pod never gets cleaned up.

[2017-03-22 00:00] lavalamp commented on #43228
The issue is that the bug is in a 1.5 kubelet, I guess.

[2017-03-22 00:01] nikhiljindal opened #43487 "Prevent users from deleting pods serving live traffic"
Problem:
Users today can run `kubectl delete rs` that does cascading deletion by default and hence will also end up deleting all the pods, even though they might have been serving live traffic.
The problem is even more severe in the case of federation since the deletion impacts multiple clusters and can cause global outages.

One possible solution:
When user creates an ingress (or service) targeti

[2017-03-22 00:03] caesarxuchao commented on #43228
https://github.com/kubernetes/kubernetes/blob/release-1.5/pkg/api/validation/validation.go#L2089

This function is removed in 1.6, so the annotation was not validated in the 1.6 apiserver, but 1.5 kubelet still ran the check and failed.

[2017-03-22 00:04] lavalamp commented on #43228
Yeah, that stuff got moved to fields in 1.6.

[2017-03-22 00:06] nikhiljindal commented on #43487
We will need to introduce this functionality in a backward compatible way i.e we cant change the existing ingress implementation to do this. Users today expect to delete rs before deleting the ingress and we should not break that.

What we can do is if users add a particular annotation to their ingress, then that prevents deleting the corresponding rs before the ingress (i.e users have to explicit

[2017-03-22 00:08] davidopp commented on #43228
Thanks for the debugging, everyone.

I didn't even realize kubelet runs validation, I thought it just ran [predicates](https://github.com/kubernetes/kubernetes/blob/0bc16d8966c38c8b3e2af57f9addce254031b247/pkg/kubelet/lifecycle/predicate.go#L52).

So is the solution to put back the validation we removed?

[2017-03-22 00:08] ericchiang commented on #43478
I remember a comment that openshift did a filtering of namespaces, so listing all namespaces returned a filtered list of the namespaces you had access to. Don't remember how that worked out for them though.

[2017-03-22 00:09] xiang90 commented on #43430
I do not follow this logic. Why we do not need to fix this if the bug also exists for 1.5?

[2017-03-22 00:13] krabhishek8260 commented on #30243
@bgrant0607 @soltysh Is anyone working on this?

[2017-03-22 00:15] nikhiljindal commented on #38897
Discussed this with @quinton-hoole (Thanks @quinton-hoole for the discussion!)

If we want --cascade=false in federation, there are 2 ways to do it:
* push for --cascade=false in kubernetes as well (so that federation and kubernetes remain in sync); or
* diverge from kubernetes

I dont think we should do the second. Can keep this issue open for first.

The reason why we want --cascade=false in fed

[2017-03-22 00:20] lavalamp commented on #43228
Dawn has a good point, that if kubelet failed these pods, we'd have a chance at producing a recidivism type problem where the same pod keeps getting scheduled over and over.

So, yes, the solution is to put back the validation.

[2017-03-22 00:20] lavalamp commented on #43228
Arguably we *do* need a solution for graceful deletion when kubelet is ignoring a pod.

[2017-03-22 00:21] lavalamp commented on #43228
But I think that's a separate issue.

[2017-03-22 00:22] dchen1107 commented on #43228
Yes, the solution sgtm. Again, Kubelet shouldn't fail pod due to mismatching validations / API backward compatibility. This is different from the admission control.

@lavalamp But I agreed that Kubelet shouldn't silent ignore a pod. I am filing a separate issue for that. Thanks everyone.

[2017-03-22 00:23] yujuhong commented on #43228
That doesn't mean kubelet should not surface this information through an event, etc, but see my comment above: https://github.com/kubernetes/kubernetes/issues/43228#issuecomment-288241585. The code is shared by pods from all sources, so it is run as early as possible to avoid kubelet operating on an invalid pod. We *could* move this down to the admission logic if we are sure this won't cause any i

[2017-03-22 00:26] liggitt commented on #43430
A crasher in 1.5.3 by definition is not a release blocker (since it already exists in a released version).

[2017-03-22 00:27] aveshagarwal commented on #43228
But wonder why the kubelet is throwing the following error:

[code]

when the test `validates that a pod with an invalid podAffinity is rejected because of the LabelSelectorRequirement is invalid` does have topology key, unless I am missing something?

[2017-03-22 00:29] dchen1107 commented on #43228
@davidopp I am assigning this to you to address or delegate the backward incompatibility issue here.

[2017-03-22 00:32] davidopp commented on #43228
@aveshagarwal Do you think you could add back the annotation validation logic we removed in these PRs?
https://github.com/kubernetes/kubernetes/pull/37299
https://github.com/kubernetes/kubernetes/pull/39478
https://github.com/kubernetes/kubernetes/pull/38957
https://github.com/kubernetes/kubernetes/pull/38871

Note: I didn't check if #41617 already took care of the first two -- those might already

[2017-03-22 00:40] dcbw commented on #43014
@caseydavenport I think this specific issue is kinda diverging; it was originally about scheduling before ready, but now we've got a lot of talk about CNI plugins not handling DEL correctly in general.

The first is a legit Kube bug; the second is a plugin issue unrelated to kubelet (since this has always been the case with these plugins) but still relevant to the Kube release.  Perhaps that deser

[2017-03-22 00:45] aveshagarwal commented on #43228
@davidopp do we want to add validation check back for taints/tolerations too given that taints.tolerations annotations are completely removed in 1.6?

Also adding back validation check can fix only those tests where apiserver is not throwing errors but kubelet is. Are we sure there are no others upgrade tests related to pod/node affinity and taints/tolerations that might be failing due to some oth

[2017-03-22 00:56] derekwaynecarr commented on #43228
I think we need a solution kubelet side in future to not leave pods in limbo.  If I understand this issue correctly, it's never safe to validate alpha fields like this as dropping the alpha feature in a future release would break old kubelets.   That just seems wrong in the long run.  For example, would we be able to drop this logic in 1.7 for the old alpha annotation form?

[2017-03-22 00:59] derekwaynecarr commented on #43228
Could the node controller force delete these pods as well that are stuck in kubelet limbo?

[2017-03-22 01:06] davidopp commented on #43228
@aveshagarwal

Yes I think we have to, as people might create taint/toleration annotation with 1.6 master that is then consumed by 1.5 kubelet where it fails validation. Even though taint/toleration annotation is meaningless in 1.6, user might create it anyway.

There are kubectl skew tests that failed due to moving annotation to fields but we disabled the combination that is expected to fail. Als

[2017-03-22 01:07] ethernetdan opened #43488 "Many CNI Plugins don't properly support DEL"
Started as a tangent of #43014

Many CNI plugins don't properly handle a `DEL` action on missing resources. The spec says, `Plugins should generally complete a DEL action without error even if some resources are missing`, however many improperly return an error.

I see the steps moving forward to be:
- [x] Modify CNI plugins bundled with Kubernetes to properly support del (flannel already done; br

[2017-03-22 01:08] ethernetdan commented on #43014
@dcbw agreed, let's move discussion of fixing DEL in plugins to #43488

[2017-03-22 01:11] tomdee commented on #43488
SGTM - I'm working on the https://github.com/containernetworking/cni/pull/412 right now and can do the CNI release too.

On the 3rd check box ` Build Kubernetes version of CNI using Makefile` - why is that still a thing? Doesn't the CNI project provide the required artifacts as part of its release?

[2017-03-22 01:12] liggitt commented on #43487
isn't this working as designed? graceful deletion allows pods time to finish serving requests

[2017-03-22 01:19] kargakis commented on #43487
We already have mechanisms for avoiding outages (maxUnavailable in Deployments/DaemonSets, PDB). Why aren't those enough?

[2017-03-22 01:33] nikhiljindal commented on #43487
Sorry for not being clear, this is to prevent outages by developer running `kubectl delete rs` or `kubectl delete deployment`. maxUnavailable will not help in that case.

Graceful deletion will help so that existing requests will be handled gracefully but not for future requests.

This is helpful in the scenario when developer thought that the rs or deployment is not serving traffic and hence dele

[2017-03-22 01:37] ethernetdan commented on #43014
Fix for this being worked on in kubernetes/kubernetes#43474

[2017-03-22 01:40] derekwaynecarr commented on #43228
@davidopp @lavalamp @dchen1107 - i understand the desire is to maintain the legacy annotation validation code in 1.6 to appease 1.5 kubelets, but i am trying to reconcile that near term desire with the long term direction pitched here:

https://docs.google.com/document/d/1YpYMLZiFfGHB4KNNdS-JY7uX8w5H9tzyq7-lWrFTmN8/edit#heading=h.3sjjx2gvn9hz

it sounds like there are some assumptions related to k

[2017-03-22 01:44] bgrant0607 commented on #42917
@piosz My github notifications go to /dev/null, so please notify me out of github if you'd like me to look at something.

@smarterclayton Is "step 2" documented somewhere?

Right now, changing the node selector or other scheduling constraints in the pod template affects all pods of the DaemonSet.

If we only wanted the new constraints to affect updated pods, I believe that would be a change in sem

[2017-03-22 01:48] ethernetdan commented on #43228
It's looking like unless a solution can be implemented by tomorrow morning we will likely have to block the release for this issue.

/cc @kubernetes/release-maintainers

[2017-03-22 01:53] kargakis commented on #43487
Isn't this a more general problem related to any kind of mutation? For example, by scaling up a stateful app I could still cause an outage. Or by pushing bad config, although in this case, correctly configured controllers may incur only partial unavailability.

[2017-03-22 01:54] bgrant0607 commented on #42752
We should also document some more of the common vision and conventions behind the workload APIs, to inform the subsequent roadmap.

I put some things in the system overview:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture.md#cluster-control-plane-aka-master

But we should document additional details, such as:
* It should be possible to manage an appli

[2017-03-22 02:01] derekwaynecarr commented on #43228
I do not understand why we would block the release.

1. alpha features on GA resources are not guaranteed to work across releases
1. alpha features on GA resources that are removed in 1.6 masters, but cause validation failures in 1.5 clients seems like a never win situation.  it implies we support migration of alpha features, which it seems like as a project, we said we would not support per @lava

[2017-03-22 02:04] ethernetdan commented on #43228
Was thinking of blocking based on Slack conversation with @dchen1107

@dchen1107, what are your thoughts?

[2017-03-22 02:06] smarterclayton commented on #43464
The test in 1.5 will need to be changed if it's using the 1.6 kubectl.  However... is the test supposed to be using the 1.6 kubectl?

[2017-03-22 02:09] smarterclayton commented on #43228
I don't see his as being a supported configuration.  Alpha features being dropped... means alpha features are dropped.

[2017-03-22 02:11] ethernetdan commented on #43228
That logic makes sense to me

[2017-03-22 02:11] xingzhou commented on #43126
Happened to see the same issue on my laptop, @shiywang, I can help fix this issue if you do not have time, thx

[2017-03-22 02:12] ethernetdan commented on #43228
We should modify the tests to compensate for this failure and fix our upgrade signal.

[2017-03-22 02:20] shiywang commented on #43126
@xingzhou thanks, I been really busy this week, go ahead

[2017-03-22 02:25] aveshagarwal commented on #43228
So is my understanding correct that now we are not going to add annotation based validation for pod/node affinity and taints/tolerations back?

[2017-03-22 02:27] kargakis commented on #42917
Just to be clear, every update in the pod template will affect all pods.

I don't think this is any different from enabling A/B Deployments but I haven't thought out yet the implications of an updated node selector between versions.

This is possible today because the DS is reconciled on any of these events.

[2017-03-22 02:31] ethernetdan commented on #43470
#43481 just merged - will review results in morning before closing

[2017-03-22 02:37] calebamiles commented on #39357
Closing this issue due to lack of response

[2017-03-22 02:37] #39357 closed

[2017-03-22 02:46] davidopp commented on #43228
@aveshagarwal Please start working on this. We can discuss later.

[2017-03-22 02:47] calebamiles commented on #43228
@davidopp are you referring to the tests in https://github.com/kubernetes/kubernetes/issues/43228#issuecomment-288282437?

[2017-03-22 03:10] #38946 closed

[2017-03-22 03:13] krousey commented on #43470
@ethernetdan I'm afraid this only uncovers another issue. Last I spoke with @mikedanese, he said he was working on something for that.

[2017-03-22 03:21] nickschuch commented on #30243
@soltysh, can you please elaborate on "completely not what we want"? From what I saw in that ticket is sounded like we just need extra toggles for additional cases. I have a pretty clear outline of what Im trying to achieve in that PR (if you want me to duplicate it in here I can). Im happy to work on this, Im just not to sure how to proceed.

[2017-03-22 03:22] gvenka008c commented on #27973
Anyway I can bypass the below error?

[code]

[2017-03-22 03:25] mkumatag commented on #42492
@yujuhong I've submitted code in cadvisor to expose docker API version, can you PTAL at https://github.com/google/cadvisor/issues/1623 and give LGTM ?

[2017-03-22 03:26] davidopp commented on #43228
I'd like Avesh to implement adding back the validation logic that I described in my earlier comment.

[2017-03-22 03:32] derekwaynecarr commented on #43228
Ack.  I think the policy described previously should not get retroactively applied in these cases.  It does mean we need to carry this validation until 1.8 unless I am mistaken given kubelet skew.

[2017-03-22 03:33] derekwaynecarr commented on #43228
I would like us to tackle how kubelet should enforce validation for alpha fields in 1.7+ to avoid a recurrence of this problem.  Validation does not appear feature gate flagged.

[2017-03-22 03:35] thockin commented on #43488
I just want to say thanks to everyone for jumping on this.

On Tue, Mar 21, 2017 at 6:11 PM, Tom Denham <notifications@github.com>
wrote:

[2017-03-22 03:57] ethernetdan commented on #43228
I see the number one priority for the release as stopping these from taking an hour each to run.

[2017-03-22 04:22] DreadPirateShawn opened #43495 "Error-level alert on pod startup: "Partial failure issuing GetContainerInfoV2 ... RecentStats: unable to find data for container""
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Bare metal
- **OS**: `Ubuntu precise (12.04.4 LTS)`
- **Kernel**: `3.13.0-55-generic #92~precise1-Ubuntu`
- **Install tools**: N/A
- **Others**: N/A

**What happened**:

Often when we start pods, we see the following error-level alerts:

[code]

**What you expected to happen**:

[2017-03-22 04:30] justinsb opened #43496 "dns-horizontal-autoscaler missing ServiceAccount"
I note that there is no serviceaccount on dns-horizontal-autoscaler.

https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns-horizontal-autoscaler/dns-horizontal-autoscaler.yaml

It does not appear to work under (my) RBAC configuration therefore.

Do we know what permissions it needs?  Certainly list nodes....

[2017-03-22 04:44] justinsb commented on #43496
Here's what I've got so far...

I put `serviceAccountName: kube-dns-autoscaler` on the pod

Then I apply the manifest below.

A few things I'm unsure about:

* Do we need any other permissions for kube-dns-autoscaler?  And I didn't see `update` configmaps, but I'm guessing if we create it that we also update it?
* Is there any way to scope the configmaps?   I guess I could create a Role for the co

[2017-03-22 04:46] k8s-merge-robot opened #43497 "ci-kubernetes-e2e-gci-gke-prod-smoke: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-prod-smoke/10242/
Multiple broken tests:

Failed: [k8s.io] Pods should be submitted and removed [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26224 #34354

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Pods should function for node-pod communication: http [Conform

[2017-03-22 05:05] davidopp commented on #43228
The thing @aveshagarwal is working on will fix that.

[2017-03-22 05:09] aveshagarwal commented on #43228
I have added validation logic back in https://github.com/kubernetes/kubernetes/pull/43498 .

[2017-03-22 05:10] liggitt commented on #41892
still seen in kubectl test in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/43489/pull-kubernetes-unit/23566/

[2017-03-22 05:15] bowei commented on #43488
https://docs.google.com/spreadsheets/d/1Nqa6y4J3kEE2wW_wNFSwuAuADAl74vdN6jYGmwXRBv8/edit#gid=0

[2017-03-22 05:53] #43459 closed

[2017-03-22 05:58] wanghaoran1988 opened #43502 "hack/verify-staging-godeps.sh failed on master branch"
When I run the script on the new master branch, it failed, seems some dependencies need copy to the repo under the staging dir. these dependencies exists in the Godeps.json but not the file under staging dir.
Should I update the staging godeps?
[code]

[2017-03-22 06:20] 13567370952 opened #43503 "use glusterfs mount data of postgresql in k8s"
i use glusterfs mount data of mysql in k8s  is sucess.
but i use glusterfs mount data of  postgresql in k8s  is sucess.
i'm sure the dataPath is right. i am try to enter to the container to fin the data is on /var/lib/posqtgresql/9.3/main . how can i do?
the test yaml is
apiVersion: v1
kind: ReplicationController
metadata:
  name: database-node1
spec:
  replicas: 1
  template:
    metadata:

[2017-03-22 06:25] wangycc commented on #17626
Failed to process service. Retrying in 5s: timed out deleting ELB: kubernetes-dashboard. Could not delete security groups sg-bc12d8d8

[2017-03-22 06:36] bboreham commented on #43014
That part of the spec was only added three months ago.  I know things move fast around here, but it's not "always".

[2017-03-22 06:40] dchen1107 commented on #43228
I didn't realize that this is an alpha feature, and agreed that this shouldn't be the release blocker for 1.6.

[2017-03-22 06:51] davidopp commented on #43228
It is and is not an alpha feature. Pod and node affinity/anti-affinity are alpha features we moved to beta in 1.6 but a lot of people are using the alpha form so we wanted to make it possible for people to upgrade to 1.6 without breaking their scheduling, even though it is alpha. (Unfortunately because it moves from annotation to field, it's not possible to "prepare" for the upgrade, since the fie

[2017-03-22 06:59] #43437 closed

[2017-03-22 07:25] jingxu97 opened #43504 "scheduler and storage provision (PV controller) coordination"
There are several ongoing discussion threads related to this topic, so open this one to summarize all the relevant discussions and hope to reach a conclusion.

Currently pod scheduling and PV controller (PVC/PV binding and dynamic provisioning) are implemented in completely separated controllers. This separation has some benefits such as enabling scheduler pluggable, better isolation, and better p

[2017-03-22 07:26] jingxu97 commented on #43504
@kubernetes/sig-storage-misc
@kubernetes/sig-scheduling-misc
@kubernetes/sig-apps-misc

[2017-03-22 07:43] davidopp commented on #43504
ref/ kubernetes/community#306 (for 2 and 4)

[2017-03-22 08:01] eicnix commented on #43471
The volume was created and is attachable but there is no event for the creation under tasks or events in VC.

Same error every time. I also tried different volume sizes.

[code]

[2017-03-22 08:11] klausenbusk commented on #12337
I'm currently running a "web-app" pod with nginx and php-fpm (which expose foobar.com) (k8s test env), and my use-case is that I want request to foobar.com to get directly to this local webserver.

Currently we just use plain docker on CoreOS (scheduling with fleet), and I append to the hosts file at container start, but I can't do that with k8s due to:

I just read the man (http://man7.org/linux/

[2017-03-22 08:26] piosz commented on #43442
@marun agree

[2017-03-22 08:36] jsafrane commented on #43504
As author of the PV controller I admit it's quite stupid when scheduling PVs to PVCs and it ignores pod requirements at all. It's a very simple process, however it's complicated by our database not allowing us transactions. It would save us lot of pain (and code!) if we could update two objects atomically in a single write and such operation could be easily done in pod scheduler.

PV controller wo

[2017-03-22 08:40] piosz commented on #43288
It seems the mentioned patch missed 1.5.5, see #42299

[2017-03-22 08:45] wojtek-t commented on #43442
Yup - it's not strictly related to OSS.

@crassirostris - btw, it failed again today:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-large-cluster/91

[2017-03-22 09:02] k8s-merge-robot opened #43507 "ci-kubernetes-e2e-gci-gke: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/6111/
Multiple broken tests:

Failed: [k8s.io] Cluster level logging using GCL should check that logs from containers are ingested in GCL {Kubernetes e2e suite}

[code]
Issues about this test specifically: #34623 #34713 #36890 #37012 #37241 #43425

Failed: [k8s.io] DNS should provide DNS for pods for Hostnam

[2017-03-22 09:05] bjb2010 commented on #39228
It happened when I want to do the same thing. Does the PodFitsHostPorts only take port into account, without considering the IP?

[2017-03-22 09:29] xingzhou commented on #43126
@adohe, for this ticket, want to discuss one more thing with you:
at present, for each of the update event, `get` command with `--watch` option will print out a line showing the status change of this event. But this behavior is different with what we saw from the output of linux's `watch` command, which I think is not a very good user experience. For this kind of command, we shall reset all the ol

[2017-03-22 09:47] shiywang commented on #43126
I think both output format has it's advantage, for current output format, user can copy paste the whole information like checking logs, for linux's `watch` command style output which user can stare on only one screen(if it's not too many pods or sth else).

[2017-03-22 10:01] robinmonjo commented on #23255
I'm experiencing the same kinds of issue with kubernetes 1.5.2 installed with kops on AWS. I have periods where some of my nodes get crazy with iops. Here is what I see:

<img width="1280" alt="screen shot 2017-03-21 at 22 34 59" src="https://cloud.githubusercontent.com/assets/1815076/24191947/b20ec72e-0eed-11e7-9490-16a7330ef37c.png">

So `du` take all my iops in the docker overlay directory.  He

[2017-03-22 10:40] CallMeFoxie opened #43512 "Limit retries for a (Cron)Job"
Hi,
as of right now there's no easy way (or at least I have not found any?) how to specify how many times a (Cron)Job can be retried before it is skipped for this run. We have got:

Job.spec.activeDeadlineSeconds

however from the docs:
 The job will have status with reason: DeadlineExceeded. No more pods will be created, and existing pods will be deleted.
which implies that the running ones will

[2017-03-22 11:56] jonathan-kosgei opened #43515 "Error syncing pod, skipping: timeout expired waiting for volumes to attach/mount for pod"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): container-os
- **Kernel** (e.g. `uname -a`): Linux gke-wordpress-cluster-default-pool-b41e0322-m764 4.4.21+ #1 SMP Fri Feb 17 15:34:45 PST
 2017 x86_64 Intel(R) Xeon(R) CPU @ 2.60GHz GenuineIntel GNU/Linux
- **Install tools**:
- **Others

[2017-03-22 12:14] edevil opened #43516 "Kubelet stops reporting node status"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

healthy node notready controller manager kubelet node status

---

**Is this a BUG

[2017-03-22 12:37] munnerz commented on #39676
Yep looks to be. Closing in favour of #33483

[2017-03-22 12:37] #39676 closed

[2017-03-22 12:46] crassirostris commented on #43425
This is a problem Piotr is working on

[2017-03-22 13:23] justinsb commented on #43364
Once we shut down the etcd cluster though, the apiserver is read-only?

It sounds like you're saying that it is not safe to write to an etcd HA cluster during the etcd2 -> etcd3 procedure, and so that there is no option where we do not take an outage on the API.

What do our e2e tests do for testing of HA etcd2 -> etcd3 migration cc @kubernetes/sig-testing-misc ?

[2017-03-22 13:27] jayunit100 commented on #43516
Does this ever go away ? We've seen a long startup time from NotReady->Ready before but i thought it recovered...

[2017-03-22 13:34] jszczepkowski commented on #43187
@skriss
Sorry, I missed the first notification.

The problem is in the resource consumer library:
* call to `ConsumeCPU` blocks forever (autoscaling_utils.go:147) as no one is listening on `rc.cpu` channel,
* go-routine `makeConsumeCPURequests()` is not listening on `rc.cpu` channel as it dies calling `sendConsumeCPURequest()` method:
[code]
* service `res-cons-upgrade-ctrl` seems to be unavailabl

[2017-03-22 13:34] jszczepkowski commented on #43187
CC @DirectXMan12

[2017-03-22 13:44] ncdc commented on #43496
cc @liggitt

[2017-03-22 13:46] jayunit100 commented on #43332
cc /
@kubernetes/sig-node-feature-requests
@kubernetes/sig-node-bugs

[2017-03-22 13:48] danielbonatto commented on #8731
Updating reference:

https://github.com/kubernetes/ingress/blob/master/controllers/nginx/configuration.md

[2017-03-22 13:52] ravisantoshgudimetla commented on #43332
In order to avoid this, we can have.

- Create a "-f" option for register-with-taints, which actually does a forceful re-registration deleting the node object and recreating it.
- Create a purge-metadata "-p" for register-with-taints option which purges the meta-data for node object and repopulates it with given one.

[2017-03-22 14:02] divyenpatel commented on #43471
If you are using non administrator user.

Can you verify the "kubernetes" user in the vsphere.conf file, has following permissions set in the Role.

[code]

[2017-03-22 14:06] eicnix commented on #43471
I gave the kubernetes user read permission on the whole VC server and it works.

When I tried to create a disk using govc I go this response:
[code]

[2017-03-22 14:08] jayunit100 commented on #43332
I'd vote for the `-f` option.  I'm ok if the community wants the `-p` option as well.  something is needed to make this explicit and fail fast.

[2017-03-22 14:08] vbmade2000 commented on #30692
@foxish I see all mentioned paths exist but I noticed two links don't exist. Following are those links:

1. ...or an example, see [v1 conversion tips](https://github.com/kubernetes/community/blob/master/contributors/api.md#v1-conversion-tips)
2. [The client library](https://github.com/kubernetes/community/blob/master/pkg/client/restclient/request.go) has custom conversion...

Can you tell me what

[2017-03-22 14:21] ktsakalozos opened #43519 "Remove and re-add juju kubernetes-master units breaks the cluster"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): 1.5

**Environment**: Any juju deployed environment
- **Cloud provider or hardware configuration**: Any cloud used by juju
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04.2 LTS
- **Kernel** (e.g. `uname -a`): 4.4.0-66-generic
- **Install tools**:
- **Others**:

**What happened*

[2017-03-22 14:30] cblecker commented on #43502
/assign
Having a look at this.

[2017-03-22 14:32] jkamenik commented on #36152
:+1:

I think it should be parallel to the `kubectl proxy` command, which uses `--address`.  Here is what I do for kubectl proxy.

[code]

Right now the workaround we do is that we deploy a docker container with kubectl and our product configs, and then we have users separately download kubectl and run `port-forward` from outside.  Would be ideal to be able to wrap this entirely within the docker

[2017-03-22 14:38] k8s-merge-robot opened #43520 "ci-kubernetes-e2e-gci-gce-etcd3: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-etcd3/5623/
Multiple broken tests:

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361 #38663 #39788 #39877 #40371 #40469 #40478 #40483 #40668 #41048 #43025

Failed: TearDown {e2e.go}

[code]
Issues about this test specifically: #34118 #34795 #37058 #38207

Failed: DiffResources {e2e.g

[2017-03-22 14:41] liggitt commented on #43496
almost all add-ons run as the `default` service account in the `kube-system` namespace. if a deployment wants to make use of add-ons that don't yet use their own service account or provide a custom role, a short-term solution is to give the default service account in kube-system superuser permissions

[2017-03-22 14:46] edevil commented on #43516
Yes, the system recovers quickly:
[code]
However, it would be nice not to be in this state at all, since there seems to be no problem with the nodes themselves and sometimes pods are moved for no reason.

[2017-03-22 14:50] pieterlange commented on #27010
Is there any movement on this issue? Can we at least make sure `--validate=false` works as expected? (doesn't validate private key against the chain)

[2017-03-22 14:50] cblecker commented on #43502
Hi @wanghaoran1988
I just ran the following on a clean clone of master, in a clean gopath:
[code]

And it succeeded. I'm guessing that you have a different version of those dependencies in your gopath, and the verify script (which effectively does a `godep save` and then diffs it) is erroring.

It's worth noting that [ci-kubernetes-verify-master](https://k8s-testgrid.appspot.com/sq-blocking#verify

[2017-03-22 14:51] divyenpatel commented on #43471
Good. To monitor status of running task we need this permission. I think we do not have capability to set read permission for tasks created for specific kind of object.

We will update official documentation to publish minimal set of permissions required for vsphere cloud provider.

cc: @tusharnt

[2017-03-22 14:57] wojtek-t commented on #43228
So the fix was merged 4 hours ago. However, the current run of upgrade tests:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.5-1.6-upgrade-master/32/
still doesn't contain it (as it was started 1 hour before that). So we will have to wait for the next one.

[2017-03-22 15:07] skriss commented on #43228
@ixdy is it possible to restart any running upgrade jobs that started before the fix was merged so we don't have to wait so long?

[2017-03-22 15:10] ethernetdan commented on #43228
@ixdy +1 if that's possible

On Mar 22, 2017 8:08 AM, "skriss" <notifications@github.com> wrote:

@ixdy <https://github.com/ixdy> is it possible to restart any running
upgrade jobs that started before the fix was merged so we don't have to
wait so long?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/kubernetes/kubernetes/is

[2017-03-22 15:30] shiywang commented on #7688
I will take a look

[2017-03-22 15:30] shiywang commented on #7496
will take a look

[2017-03-22 15:31] shiywang commented on #7300
I will take a look

[2017-03-22 15:31] shiywang commented on #7547
I will take a look

[2017-03-22 15:36] JackyChen255 commented on #43400
The first issue is probably my local network issue. Kubernetes can be installed with Docker 1.12 now. But Kubernetes still can't installed with docker-ce-17.03. Reopen it

[2017-03-22 15:40] skriss opened #43523 "Tag e2e tests for alpha features as such and exclude them as appropriate from upgrade testing"
Currently, there is no explicit tagging of e2e tests that exercise alpha features. Because we provide no guarantees for compatibility across k8s versions for these features, these tests frequently fail in our upgrade jobs when running some form of version-skewed testing (i.e. create a 1.5 cluster, upgrade the master to 1.6, run 1.5 E2E tests against the cluster).

We should tag any e2e tests for a

[2017-03-22 15:42] piosz commented on #43425
This is fixed by https://github.com/kubernetes/kubernetes/pull/43472 in HEAD. It should be fixed once we the mentioned PR is in 1.6 branch.

[2017-03-22 15:45] timothysc commented on #43523
Some of the root causes around failures in some of the upgrade tests were breaking compat behavior from Alpha-Beta.  Perhaps it would be easier to just skip [Alpha] tests as part of upgrade, b/c we make no guarantees across releases.?.?

/cc @kubernetes/sig-scheduling-bugs @derekwaynecarr

[2017-03-22 15:52] pieterlange commented on #27010
Leaving a comment for posterity.

If you get an error message trying to create a TLS secret with a certificate chain:
[code]

Create your certificate chains [like this](https://github.com/kubernetes/kubernetes/issues/24669):
[code]

Order matters. The first certificate will be checked against the private key.

[2017-03-22 15:54] cmluciano commented on #43488
I can test out patches as needed. I currently only have test cases for Weave and Calico, but it should not be too difficult to add others.

[2017-03-22 15:58] andrewmyhre opened #43524 "kubelet fails to start when --cloud-provider=aws in a heavily populated VPC"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug report

**Kub

[2017-03-22 16:07] tomdee commented on #43488
@cmluciano It would be great to get flannel tested too. You probably need a master build of the flannel CNI plugin and possibly some flannel patches to be merged. Feel free to DM on slack if you need more info.

[2017-03-22 16:11] luxas commented on #43488
@tomdee s390x builds are missing still. If that's added, we can switch to v0.5.1 in time for v1.7.
However, I really don't want to bump from v0.3.0-ish to v0.5.0 one day before release.

This is a v1.7 issue to ensure all CNI plugins (including the official) work as intended with Kubernetes and an issue to make sure we update to CNI v0.5.0 w/ spec v0.3.0 in time for v1.7.

I think https://github.c

[2017-03-22 16:12] itskingori commented on #3595
@hiscal2015 I'm not sure what you're trying to do in your `Dockerfile` ... seems you're trying to do stuff during the build phase. Can't follow your idea to an approach that could work.

I'm just gonna share what we did ... we overrode the image `ENTRYPOINT` (which was `docker-entrypoint.sh`) to run what we want first. Like this ...

[code]

Where `custom-entrypoint.sh` is ...

[code]

The idea is

[2017-03-22 16:13] tomdee commented on #43488
@luxas I'm a little confused!You mean s390x builds for flanneld?

[2017-03-22 16:16] shiywang commented on #7496
will take a look on how `docker command`  implement this

[2017-03-22 16:19] henriquetruta opened #43526 "ingress_uid configmap is not replicated in cluster creation"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report

**Kubernetes version** (use `kubectl version`): 1.5.2

**Environment**:
- **Cloud provider or hardware configuration**: GCE + On-prem with kubeadm

**What happened**:
After creating a cluster in a hybrid federation as in [here](https://github.com/henriquetruta/hybrid-k8s-federation/#create-cluster), the `ingress_uid` configmap

[2017-03-22 16:25] ethernetdan commented on #43014
@bboreham please move discussion of DEL to #43488

[2017-03-22 16:35] screeley44 commented on #40817
closing this as have not had an issue quite some time...

[2017-03-22 16:35] #40817 closed

[2017-03-22 16:36] screeley44 commented on #4544
old issue, closing

[2017-03-22 16:36] #4544 closed

[2017-03-22 16:48] eicnix opened #43527 "Filesystem limit metric for pod with storageclass volume is 0"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

NO

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

cadvisor, 0, metric, storage, container_fs_limit_bytes, storageclass

**Is this a B

[2017-03-22 16:50] luxas commented on #43488
@tomdee CNI still needs s390x binaries to be consumable by k8s: https://github.com/containernetworking/cni/releases

Two other conclusions:
1) We should go with https://github.com/kubernetes/kubernetes/pull/43474 as the immediate solution
2) We should upgrade to CNI v0.5.1 (when released( officially for Kubernetes in time for v1.7 and enforce the latest spec (v0.3.0) for all network plugins

[2017-03-22 16:51] yujuhong commented on #43515
/cc @kubernetes/sig-storage-misc

[2017-03-22 16:53] ethernetdan commented on #43236
Repeated failures in [gci-gce](https://k8s-testgrid.appspot.com/sq-blocking#gci-gce) today, potentially related failures in other suites.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/5599

[2017-03-22 16:54] ethernetdan commented on #43236
Looks infra related
[code]
AND
[code]

@kubernetes/test-infra-maintainers

[2017-03-22 16:58] thockin commented on #43504
This started in email, so I'll bring in some of my notes from there.

In reality, the only difference between a zone and a node is cardinailty.  A node is just a tiny little zone with one choice.  If we fold PV binding into scheduling, we get a more holistic sense of resources, which would be good.  What I don't want is the (somewhat tricky) PV binding being done in multiple places.

Another consi

[2017-03-22 17:00] kensimon commented on #42392
Also noticing this even when the deployment is initially created by a 1.5.x client:

[code]

And it's not just `kubectl edit` but other things that read the deployment in (in this case `kubectl expose`.)

[2017-03-22 17:04] yujuhong commented on #43488
We should get the PR in (after testing), but this is not a really solution as it only avoids hitting this problem at cluster setup.

[2017-03-22 17:04] coffeepac commented on #3595
When we started trying to run ES 5.0 we hit this issue as well.  We're
running a init-container to prep the node.  I was unable to get ulimit
inside a running container to do the job so I wrote this guy:
https://github.com/samsung-cnct/set_max_map_count  it requires /proc to be
mounted into the init container only which gives me the heebies but it
works.

Example using this is here:
https://github

[2017-03-22 17:09] ethernetdan commented on #43470
@mikedanese, any luck?

[2017-03-22 17:17] vdavidoff opened #43528 "Clarify "Schedulable resources and eviction policies" in Best Practices documentation"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
"system-reserved"
"Schedulable resources and eviction policies"
"covered by the evict

[2017-03-22 17:27] dmmcquay commented on #43400
@JackyChen255 the current max validated version of docker by sig-node is docker 1.12. As they verify more, the max validated version will change.

[2017-03-22 17:27] cjcullen commented on #43459
Kubeadm and GKE do not allow enabling PodSecurityPolicy in 1.5, so are not affected by this.

Kube-up.sh and kops do not enable PodSecurityPolicy by default. A modified kube-up.sh or kops deployment could have enabled it.

[2017-03-22 17:31] martincalvert opened #43530 "Deployment fails with multiple containers with resource limits"
Kubernetes version 1.5.3
Environment: GKE & Minikube

**What happened**: When adding resource requests/limits to multiple containers inside a pod the
error `unable to parse quantity's suffix` is tossed.

**What you expected to happen**: Allow the same syntax for multi container pods as kubernetes does for single container pods.

**How to reproduce it** (as minimally and precisely as possible):
`ku

[2017-03-22 17:32] sajal commented on #21070
Actually for now I've solved it using iptables rule in `PREROUTING` chain. Earlier I had tried `INPUT` chain which gets overridden by the iptables stuff kube-proxy does. iptables noob here.

[code]

[2017-03-22 17:36] bsalamat commented on #43523
+1
There are alpha features known to be incompatible. If we see failures caused by such incompatibilities, we should skip the upgrade tests. The question is that "can we find a solution, such as versioning, etc., to automatically or semi-automatically detect these incompatibilities?" By semi-automatically I mean something along the lines of tagging all the tests with the features that they test. T

[2017-03-22 17:36] sethpollack commented on #42164
Same issue here. k8s v1.5.2

[2017-03-22 17:37] thockin commented on #21070
You want a node port that only works from localhost?  I guess I still don't
understand the use-case...

On Wed, Mar 22, 2017 at 10:33 AM, Sajal Kayan <notifications@github.com>
wrote:

[2017-03-22 17:37] tomdee commented on #43488
OK, @luxas that makes sense on the s390x binaries.

I've just released v0.5.1 of CNI, which updates the plugins with the new del behaviour. They should all still be back compatible with the older spec versions so I recommend that K8s takes this CNI release.

https://github.com/containernetworking/cni/releases/tag/v0.5.1

[2017-03-22 17:39] djosborne opened #43531 "status.podIP empty for HostNetwork tasks"
**Kubernetes version**: v1.6.0-beta.4

I think this may be the same issue as #39113, but I'm opening separately since I'm seeing the behavior for pods in hostNetwork (instead of a CNI networked pod).

**What happened**:

I have a pod spec with this snippet of yaml:
[code]

In v1.5.2, my Pod is coming up with `$ETCD_IP` correctly filled in to the node's IP.

In 1.6.0-beta.4, `$ETCD_IP` is empty at

[2017-03-22 17:48] janetkuo commented on #42570
I'm not sure if I understand the issue. `FindOldReplicaSets` should return old replica sets with pods. We don't list old replica set if there's no pods created by it. This is intentional.

[2017-03-22 17:48] timothysc commented on #43523
yes, just add [Alpha] to tests the exercise alpha features and add it to the ginkgo skip list.

[2017-03-22 17:52] thockin commented on #12337
I'm open to exposing this, but I have not thought it through very carefully.

On Wed, Mar 22, 2017 at 1:11 AM, Kristian Klausen <notifications@github.com>
wrote:

[2017-03-22 17:53] kargakis commented on #42570
Where was the intention documented? I couldn't find it in the Deployment proposal and I don't remember it being discussed anywhere. Not showing the history of a Deployment to users because the controller is idle is a bug imo.

[2017-03-22 17:55] MrHohn commented on #43392
Status update in case it is not clear. The fix (#43465) sent by @kargakis will fix this issue, and the "old add-ons didn't get deleted" issue as well . And it is already LGTMed and Approved.

[2017-03-22 17:57] cmluciano commented on #43488
I'm working on a patch for that bump now

[2017-03-22 18:00] grodrigues3 commented on #43520
Looks like these #43392 are related and both fixed by https://github.com/kubernetes/kubernetes/pull/43465.

@kargakis  @MrHohn can you confirm?

[2017-03-22 18:03] bsalamat commented on #43523
Sure, but as skriss said, that would require ongoing maintenance to adjust the tags in the future.

[2017-03-22 18:11] mikedanese commented on #43470
https://github.com/kubernetes/kubernetes/pull/43532 https://github.com/kubernetes/kubernetes/pull/43529

[2017-03-22 18:11] ConnorDoyle commented on #43523
As long as it makes it into the general alpha => beta checklist, it seems pretty manageable.

[2017-03-22 18:13] MrHohn commented on #43520
This seems more like a HPA specific issue. And notice that dns-autoscaling is mostly unrelated to the HPA feature.

[2017-03-22 18:18] MrHohn commented on #43520
Clarity:
I meant the specific failure posted on top. Took a look at this CI and found the failures are somehow random.

[2017-03-22 18:25] martincalvert commented on #43530
Closed my error

[2017-03-22 18:25] #43530 closed

[2017-03-22 18:29] krousey commented on #43470
Also https://github.com/kubernetes/kubernetes/pull/43533 is probably needed. Thanks @mml for helping investigate that.

[2017-03-22 18:36] calebamiles commented on #43531
Could someone from @kubernetes/sig-node-bugs or @kubernetes/sig-network-bugs please help triage this issue and see whether it's covered by https://github.com/kubernetes/kubernetes/issues/39113? Thanks!

**cc: @ethernetdan, @kubernetes/kubernetes-release-managers**

[2017-03-22 18:38] janetkuo commented on #42570
I don't think it's documented. It's probably hidden somewhere in a PR discussion. The idea is that if the user has 10 old ReplicaSets (or even more) and 1 old pod, the user would only care about that one old ReplicaSet who created the old pod.

[2017-03-22 18:40] patwhite commented on #30617
So, seems like there's been a ton of conversation around this - I'm running into a similar issue and am unable to parse this to understand how to fix it. It would be great if there was some documentation about running k8s from a ephemeral CI store, and even potentially WITHOUT gcloud around.

[2017-03-22 18:41] kow3ns commented on #43504
/ref #41598

[2017-03-22 18:44] dchen1107 opened #43534 "Bugs in EmptyDir Teardown path"
While debugging a node-e2e failure on Ubuntu image, I noticed that the kublet log is full of the following error messages from: https://github.com/kubernetes/kubernetes/blob/a2c7eb275443a5afea4052094a07daf627e4a724/pkg/volume/empty_dir/empty_dir.go#L332

[code]

The above failure results in tons of EmptyDir volumes (including both secret and confgmap) are not properly deleted, thus test failures.

[2017-03-22 18:46] jlowdermilk commented on #30617
@patwhite, https://kubernetes.io/docs/tasks/administer-cluster/share-configuration/ has some info for how to configure kubectl. If you are looking for GKE-specific guidance, I'd be happy to write up a doc, just need a place to put it.

[2017-03-22 18:49] itamarst commented on #30617
Having similar issue:

[code]

Once I set `GOOGLE_APPLICATION_CREDENTIALS=~/build/datawire/telepresence/gcloud-service-key.json` it started working though.

[2017-03-22 18:49] dchen1107 commented on #43531
@bowei could you please triage or delegate this one to others? Thanks!

[2017-03-22 18:50] patwhite commented on #30617
@jlowdermilk Thanks for quick response! I think what's really opaque (at least to me, and I've been working with GKE and k8s for almost a year now) is what magic gcloud is doing behind the scenes. Even looking at my .kube/config, I can't fully figure out what authentication mechanism is being used. So, what ends up being really difficult to figure out, I have a key file from GKE, I have kubectl, c

[2017-03-22 18:54] kargakis commented on #42570
If a Deployment has 1 pod, be it new or old, currently we show all replica sets. If the Deployment is scaled to zero, we show only the latest replica set. This can be surpising to users (it definitely was for me) and it seems that this behavior of FindOldReplicaSets also breaks the cleanup policy:
[code]

[2017-03-22 19:09] #43392 closed

[2017-03-22 19:21] ethernetdan opened #43535 "Clear Upgrade Signal"
We need a clear and passing upgrade signal for 1.6 in order to release. Currently several jobs are routinely timing out.

In order to release we need:
* [x] All upgrade tests to finish without timing out
* [ ] Out of the last 3 test runs each test should have passed twice
* [x] Total number of unexpected failed tests is fewer than 15%

[2017-03-22 19:21] lumjjb commented on #22888
@krmayankk I believe https://github.com/kubernetes/community/blob/master/contributors/design-proposals/image-provenance.md could be what you're looking for?

[2017-03-22 19:28] lumjjb commented on #22888
We have been exploring enabling Docker Image Signing in our clusters and we looked into the Image Provenance Architecture (https://github.com/kubernetes/community/blob/master/contributors/design-proposals/image-provenance.md) in the process. We believe that there is a use-case in which we can augment the architechture for two additional features.

The two additional "features" we have identified a

[2017-03-22 19:29] cmluciano commented on #38806
Possibly related https://github.com/kubernetes/kubernetes/issues/42910

[2017-03-22 19:32] cmluciano commented on #43512
@kubernetes/sig-scheduling-bugs

[2017-03-22 19:35] #43014 closed

[2017-03-22 19:39] saad-ali commented on #43534
CC @kubernetes/sig-storage-bugs

[2017-03-22 19:40] saad-ali commented on #43534
@dchen1107 could you share the complete kubelet logs please

[2017-03-22 19:44] bowei commented on #43531
@yujuhong I think has an update on this

[2017-03-22 19:44] thockin commented on #43531
@pmorie because fingerprints

I do not think this was changed on purpose.

[2017-03-22 19:47] calebamiles commented on #43535
cc: @davidopp

[2017-03-22 19:47] sajal commented on #21070
Well I have 2 usecases.

nodePort that only works from localhost : To allow local non-kubernetes things to access a service
nodePort that only works from authorized CIDRs : For privileged access

[2017-03-22 19:52] ethernetdan commented on #43228
Merged, looking for fix in upgrade results. Will reopen if issue persists.

[2017-03-22 19:52] #43228 closed

[2017-03-22 19:55] cmluciano commented on #39228
/cc @kubernetes/sig-scheduling-bugs

[2017-03-22 20:03] kargakis commented on #43512
/ref https://github.com/kubernetes/kubernetes/issues/30243

[2017-03-22 20:03] yujuhong commented on #43531
Confirmed that this is a regression in the CRI implementation. Looking into the code now.

[2017-03-22 20:03] kargakis commented on #43512
@kubernetes/sig-apps-misc

[2017-03-22 20:04] jingxu97 commented on #43515
If you delete pod and create pods soon, it is possible that you could see some errors like "timeout expired waiting for volumes to attach/mount" temporally. Could you wait for a few more minutes to see whether the pods could be started correctly?

[2017-03-22 20:04] yujuhong commented on #43488
Be aware that #43474 has just been merged. If you sync to HEAD, you won't be able to reproduce this problem at cluster setup easily.

[2017-03-22 20:05] ecordell commented on #22888
W.R.T. Image Tag Rewriting, I know this is being discussed but I'm not sure where it's written down. A decision needs to be made about where the translation point happens, and for consistency reasons that probably needs to be before the image name reaches the kubelet for running.

Please see https://github.com/kubernetes/kubernetes/issues/31524 for a discussion of ImagePullSecret propagation. Ther

[2017-03-22 20:08] dchen1107 commented on #43534
@saad-ali you can access the kubelet log from previous run at: https://pantheon.corp.google.com/storage/browser/canonical-kubernetes-tests/logs-gke/kubernetes-gce-e2e-node/170317055001/artifacts/

They have the same issue.

[2017-03-22 20:09] jonathan-kosgei commented on #43515
I actually tried that, deleted the pods, then waited 5 minutes and
recreated them with the same error. Maybe it wasn't long enough

On Wed, Mar 22, 2017 at 11:04 PM, Jing Xu <notifications@github.com> wrote:

[2017-03-22 20:15] ixdy commented on #43488
New `cni` packaged tarball (based on v0.5.1) has been pushed:
[code]

[2017-03-22 20:15] gnufied commented on #43515
Can you post output of `kubectl describe pod <pod_name>` ? It may have some other events for failure..

[2017-03-22 20:16] cjcullen opened #43538 "PodSecurityPolicy API is enabled but unusable by default, and doesn't have E2Es"
The PodSecurityPolicy API got defaulted to on in https://github.com/kubernetes/kubernetes/pull/39743, but kube-up does not turn on the admission controller (neither do kube-adm or GKE), and we don't run any tests against it.

Right now, most deployments have an API object that can be created, but won't do anything (until we decide sometime later that we actually want to enable PodSecurityPolicy).

[2017-03-22 20:17] thockin commented on #21070
On Wed, Mar 22, 2017 at 12:48 PM, Sajal Kayan <notifications@github.com> wrote:

That should already work

That is #33586

[2017-03-22 20:20] pweil- commented on #43538
Since the PSP plugin will deny all requests until PSP objects are created it is not enabled by default.  Once we're satisfied with bootstrapped RBAC roles we can enable a cluster wide "do anything" PSP that is also bootstrapped in but I worry that enabling it with no PSP api objects is just a bad experience.

@php-coder FYI

[2017-03-22 20:20] vorlonofportland commented on #43534
for the most recent test run see also https://pantheon.corp.google.com/storage/browser/canonical-kubernetes-tests/logs-gke/kubernetes-gce-e2e-node/170322163928/artifacts/

[2017-03-22 20:24] jonathan-kosgei commented on #43515
I deleted the cluster this afternoon, but I checked constantly and those
were the only errors, Timeout on mount and a failed to sync error

On Wed, Mar 22, 2017 at 11:16 PM, Hemant Kumar <notifications@github.com>
wrote:

[2017-03-22 20:24] bgrant0607 commented on #43538
This is similar to RBAC. We can't change the default behavior of kube-up. This would have to be part of an opt-in secure profile.

cc @smarterclayton @liggitt

[2017-03-22 20:29] yujuhong commented on #43531
Will send a fix shortly.

[2017-03-22 20:35] jlowdermilk commented on #30617
The mechanism for GKE is basically this
1. `gcloud container clusters create|get-credentials` writes an entry to .kube/config that tells kubectl to use the gcp plugin to generate a token to pass to the kube-apiserver.

2. when kubectl runs, it reads the kubeconfig entry that includes the plugin directive, and passes that along to the gcp auth plugin.

3. gcp auth plugin uses the go library to load

[2017-03-22 20:36] bowei commented on #43488
@ethernetdan -- can this be closed?

[2017-03-22 20:44] jingxu97 commented on #43515
If you use level 4 log, it should also give the detailed messages of failed mount so that we can figure out why it failed.

[2017-03-22 20:49] gnufied commented on #43534
Is there a link not behind a login?

[2017-03-22 20:54] jfpucheu opened #43540 "Proposal: Just Allow Health Check /healthz without authentification in Kube-apiserver"
**What happened**:

When HTTPS is enable on the cluster and HTTP disable loadbalancer for API-server can't access /healthz whitout passing basic-auth or certificate. Loadbalancer can't pass auth or certificate.

**My Proposal**:

Juste Expose  page /healthz without authentification in http for healthcheck without exposins all APIs in http.

[2017-03-22 20:57] msau42 commented on #43515
@jonathan-kosgei Can you email me your project name, cluster name, and zone information?  I can take a look at the master logs to see if there's anything useful there.

[2017-03-22 21:00] wongma7 commented on #37007
This is a problem again due to https://github.com/kubernetes/kubernetes/pull/41221 and https://github.com/kubernetes/kubernetes/pull/41482, now test/e2e/framework/statefulset_utils imports test/e2e/generated

@ncdc would you accept a simple revert of these changes https://github.com/kubernetes/kubernetes/pull/41482/files#diff-20a9335743239e362032f5839bb81f98L73 to get this working again asap or do

[2017-03-22 21:02] cmluciano commented on #43488
I was trying to update the Godeps to include the new 0.5.1 release. Are the Godeps the wrong place for this?

[2017-03-22 21:03] wongma7 commented on #37007
nvm there's no rush I figured I can work around it easily, I'll work on a proper PR

[2017-03-22 21:03] ncdc commented on #37007
@wongma7 sorry, I didn't realize this was not the right way to do it. I would strongly prefer a proper refactor.

[2017-03-22 21:10] liggitt commented on #43538
there are lots of APIs that are inert until an external component uses the data:
* ingresses (requires ingress controller paying attention to the data)
* storageclasses (requires PV provisioner paying attention to the data)
* rbac (requires RBAC authorizer in use)

Agree that we wouldn't enable the admission plugin in kube-up without opt-in

[2017-03-22 21:11] liggitt commented on #43538
why is this considered a 1.6 blocker?

[2017-03-22 21:11] dkiser commented on #39792
This makes perfect sense for use cases where we need to terminate TLS internally between services who are also reached externally.  E.g. map `someawsomesite.com` to `someawsomesite.namepace.svc.cluster.local`.

[2017-03-22 21:14] jayunit100 commented on #43540
cc @liggitt might have another opinion on this though :)

[2017-03-22 21:17] liggitt commented on #43540
already done in https://github.com/kubernetes/kubernetes/pull/41821

[2017-03-22 21:18] liggitt commented on #43540
misread... this is proposing leaving the http port active serving only healthz info?

[2017-03-22 21:20] cjcullen opened #43541 "kube-up.sh Should keep ABAC enabled by default in 1.6"
Decision from the sig-auth meeting today is that we should default to the old permissive mode in the 1.6 cycle. Users can disable ABAC if they want to run more securely.

@liggitt
@kubernetes/sig-auth-bugs

[2017-03-22 21:20] jfpucheu commented on #43540
exactly or add a specific port for healtz un http

[2017-03-22 21:24] msau42 commented on #43534
Here is one of the errors:
Mar 17 06:20:32 vorlon-vorlon-test-e2f kubelet[3808]: E0317 06:20:32.047086    3808 nestedpendingoperations.go:262] Operation for "\"kubernetes.io/empty-dir/f6970dd1-0ad5-11e7-ae49-42010a8a0005-test-volume.deleting~627643705.deleting~484157271.deleting~226651937.deleting~672981309.deleting~979447588\" (\"f6970dd1-0ad5-11e7-ae49-42010a8a0005\")" failed. No retries permitt

[2017-03-22 21:25] calebamiles opened #43542 "v1.6 Release Blocking Issue/PR Umbrella Issue"
### In flight

- [ ] [kube-up.sh should keep ABAC enabled by default](https://github.com/kubernetes/kubernetes/issues/43541)
- [x] [CNI consumers updated](https://github.com/kubernetes/kubernetes/issues/43488)

### Merged

- [x] [etcd downgrades](https://github.com/kubernetes/kubernetes/pull/43533)
- [x] [Taints](https://github.com/kubernetes/kubernetes/pull/43537)
- [x] [1.5 kubectl edit broken f

[2017-03-22 21:27] calebamiles commented on #43488
@bowei we can't close until all the consumers have been updated to point to the new tarballs

[2017-03-22 21:41] Thermi commented on #41913
Problem persists with 1.5.4.

[2017-03-22 21:43] mml commented on #41054
This is not done until kubernetes/kubernetes.github.io#2767 merges, at least.

[2017-03-22 22:02] mml commented on #43364
@justinsb To my knowledge, there are no e2e etcd tests covering an HA setup.  See https://k8s-testgrid.appspot.com/etcd-upgrades

[2017-03-22 22:04] tusharnt commented on #43319
cc @BaluDontu , @divyenpatel

[2017-03-22 22:16] yujuhong commented on #43531
The fix #43539 has been merged.

[2017-03-22 22:16] #43531 closed

[2017-03-22 22:17] vishh commented on #23255
cc @dashpole We are working on some optimizations to alleviate `du` issues.

[2017-03-22 22:22] pmcq commented on #38456
@thockin Can you clarify "The pod states how long it needs to drain connections"?  I haven't been able to find docs for how to specify that.  I do know how to set readinessChecks and setting `terminationGracePeriodSeconds` so that SIGKILL will be delayed.  However it seems that kube-proxy will remove the iptables rules immediately (not after some drain period).

[2017-03-22 22:41] mikedanese commented on #33245
If you are going to force delete, don't use etcd. Use `kubectl delete --now`

[2017-03-22 22:46] lqueryvg commented on #29322
For me (with zsh):

`kubectl create -f <TAB>`

gives:

`__handle_flag:29: bad math expression: operand expected at '/Users/joh...'`

[2017-03-22 22:56] kerneltime commented on #43527
CC @dashpole

[2017-03-22 22:59] tusharnt commented on #43318
CC @BaluDontu , @divyenpatel

[2017-03-22 23:11] davidopp commented on #43228
@ixdy killed the builds that started before 3 pm today, so we should hopefully have something useful in the next 12 hours.

[2017-03-22 23:19] dashpole commented on #23255
@robinmonjo I would love more information, if you are willing to share.  How large are the container's writable layers that are taking that long?  Do you have lots of smallish files, or just a couple larger files, or some of each?

[2017-03-22 23:26] bgrant0607 commented on #34508
Heh, just stumbled on #18185

[2017-03-22 23:37] dashpole commented on #43527
Just to make sure I understand correctly: You have a container, named "grafana", which has a volume mounted into it.  You wish to see the disk space used by that volume.

I am only moderately familiar with the cAdvisor Prometheus metrics.  However, you should be aware that a container's disk usage does not include space used by volumes.  A container's disk usage is only based on the container's wr

[2017-03-22 23:55] smarterclayton commented on #42917
Step 2 was in the daemonset upgrade proposal - we punted the bulk of the issue to 1.7 and need to amend the proposal to cover the issues

[2017-03-22 23:57] smarterclayton commented on #43487
The solution is to not let people delete.  99% of production use cases don't involve deletion.  99% of dev / test / first time user use cases do.  kubectl allowing you to delete things is bad in production.

This is what deletion protection was intended to solve, as well as various UI improvements that require special action to delete anything.  Services, ingress, secrets, etc.

[2017-03-23 00:04] javapapo commented on #41640
similar issues with kubernetes 1.5.3, on top of AWS. I can narrow it down to internal pod to service resolution where pods from app X whentl they try to access service Y ... the http client reports can not find dns entry (y service) .

[2017-03-23 00:10] thockin commented on #38456
On Wed, Mar 22, 2017 at 3:22 PM, pmcq <notifications@github.com> wrote:

Kube-proxy will remove rules ASAP to prevent *new* connections.
Existing connections should be fine - that's what you need to drain.

[2017-03-23 00:11] smarterclayton commented on #1806
We've discussed adding that in a few places - a way to ask for both a container and image to be "preserved" for a reasonable period of time to allow commit and push to have time to work.  Ideally that could be done without having to define an API on the master.

[2017-03-23 00:16] smarterclayton commented on #34856
That's "internal clients" (we wrote that thinking about kubectl or
kubelet), I don't see that as sufficient doc to imply "the client go
library is now broken".

We have a real problem anyway - the body is where we push large chunks of
data.  If we need more preconditions on delete, or choose to include other
structured data, we run a real chance of running out of http header space.
I'm not willing

[2017-03-23 00:33] cjcullen commented on #43538
I would propose that we don't enable the PSP object by default if we aren't going to enable the PSP admission controller by default (w/ a bootstrap policy or something).

It is effectively "not enabled" today, but  we will happily create objects for you. I think it will cause confusion to be halfway on.

[2017-03-23 00:48] janetkuo commented on #42570
Yes, the behavior you described is definite a bug

[2017-03-23 00:59] eurodomenii commented on #38923
Same issue for Openshift containerized  https://github.com/openshift/origin/issues/13517

[2017-03-23 01:25] Random-Liu commented on #43542
Check the taints one, the PR is merged.

[2017-03-23 01:25] k8s-merge-robot opened #43549 "ci-kubernetes-e2e-gke-test: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-test/1586/
Multiple broken tests:

Failed: [k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [StatefulSet] should come back up if node goes down [Slow] [Disruptive] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #37373

Failed: [k8s.io] ServiceAccounts should mount an API token into po

[2017-03-23 01:58] wanghaoran1988 commented on #43502
@cblecker I did the same as you did, still have the problem, but, yeah, should be my own problem, it's strange, the dependencies Rev id are same as the one in the  root Godep.json, but not exits in the stage subdir, close this, as it's my own dev env problem.

[2017-03-23 01:58] #43502 closed

[2017-03-23 02:08] ethernetdan commented on #43364
@mml are we blocking the release for this?

[2017-03-23 02:11] k8s-merge-robot opened #43550 "ci-kubernetes-e2e-gke-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-serial/994/
Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that taints-tolerations is respected if matching {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28853 #31585

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl taint [Serial] should remove all the tai

[2017-03-23 02:23] #42399 closed

[2017-03-23 02:41] liggitt commented on #43542
is "Pod security policy" supposed to link to https://github.com/kubernetes/kubernetes/issues/43538?

[2017-03-23 02:53] bgrant0607 commented on #41711
Dupe of #30337

[2017-03-23 02:53] #41711 closed

[2017-03-23 03:15] xinxiaogang opened #43552 "What's the intention to expose PodTemplate as an api object?"
I found that there is an object `PodTemplate` registered in apiserver which we can use as other kube objects.

From the struct definition, `PodTemplate` contains `PodTemplateSpec` just as other workload objects, such as rc. But I do not find any usage of `PodTemplate` object from either doc or code. And rc/ps/ss does not have any reference to `PodTemplate` actually.

So I want to understand:
- Wha

[2017-03-23 05:06] liggitt commented on #43538
We can debate enablement, but I don't think this qualifies as a bug

[2017-03-23 05:06] ethernetdan commented on #43538
Are we blocking for this issue?

[2017-03-23 05:20] ethernetdan commented on #43470
@mikedanese @krousey looks like still failing but with different errors this time. I'm seeing:
[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.6-1.5-downgrade-cluster/110

and

[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.6-gci-1.5-downgrade-cluster/111

[2017-03-23 05:31] ethernetdan commented on #43542
@liggitt fixed

[2017-03-23 05:40] liggitt commented on #43538
I don't actually see the issue. Enabling the admission plugin (which we expose as a configurable cluster option) lets you use PodSecurityPolicies:

[code]

How is this any different from [other APIs](https://github.com/kubernetes/kubernetes/issues/43538#issuecomment-288540929) that support features some deployments don't enable?

[2017-03-23 06:09] rexc commented on #26670
I have VPC subnets, nodes/minion tagged with the correct KubernetesCluster but still seeing our node SG getting an entry for each ELB that is created.

@Krylon360 is there anything else I might be missing?

[2017-03-23 06:17] groundnuty commented on #42607
@shashidharatd I'm trying to run kubefed with kubeadm on ubuntu 16 openstack without loadbalancer. The only choice is coredns. I encountered the issue described here:
[code]
Could you elaborate where should one provider this config file? What config file is it at all?

[2017-03-23 06:24] piosz commented on #43425
This is fixed now.

[2017-03-23 06:24] #43425 closed

[2017-03-23 07:25] eicnix commented on #43527
@dashpole Thanks for the info.

I am trying to monitor the disk usage on the volumes. In this example I am using a container "grafana" which has a volume mounted into it.

I looked into the summary API for this container but the volumed I am using for storage isn't listet there either.

summary API for pod:
[code]

[code]

[2017-03-23 07:41] rlamarche commented on #29166
Hi,
This morning 2 pods had the state "completed" with the following error message :

[code]

I think that the gitlab nightly backup has triggered this bug. Two of my pods with some persistent volume claims were on the state : Completed during 4 hours.
I resolved my problem by delete the pods and they restarted on another node.

Note that while the pods were terminated, the persistent volume was m

[2017-03-23 08:57] TheStalwart commented on #27796
I've requested an email twice. Only first one arrived, and it's now expired. Second one never arrived. Failed the third time too.

[2017-03-23 09:11] wojtek-t commented on #43442
And one more:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-large-cluster/92

[2017-03-23 09:14] crassirostris commented on #43442
@wojtek-t I hope it will be resolved today

[2017-03-23 09:53] mkumatag opened #43556 "Integration tests are failing if they run in parallel."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** BUG

**Kubernetes version** (use `kub

[2017-03-23 10:16] dankohn commented on #27796
@TheStalwart Have you emailed the help desk?

[2017-03-23 10:18] natalia-k opened #43560 "cAdvisor container_network_* metrics are coming with container_name="POD" instead of container_name="real name of container""
BUG REPORT:

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1", GitCommit:"82450d03cb057bab0950214ef122b67c83fb11df", GitTreeState:"clean", BuildDate:"2016-12-14T00:57:05Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1", GitCommit:"82450d03cb057b

[2017-03-23 10:23] Pensu opened #43561 "Local cluster shuts down unexpectedly"
Hi,

I am running a local kubernetes cluster using the script ./hack/local-up-cluster.sh. I am able to get the cluster up successfully, but after some time, cluster shuts down unexpectedly with the following error:

[code]

Any idea what am I doing wrong here? Or how can I prevent it from happening?

[2017-03-23 10:51] edevil commented on #43516
I've also increased the logging level on the API side, and this is another occurrence:

[code]

We can see that nodes stop reporting their status, until kube-scheduller starts reporting them as not ready. The node's kubelets report nothing wrong, as usual. I'll try increasing their log verbosity.

[2017-03-23 11:24] robinmonjo commented on #23255
Thank you for being interested in my problem :) I would love to share !!

- First can you tell me why the kubelet launch the `du` command ? What is the purpose ? When does it happens ?

I'm missing some context on why the kubelet is doing this to tell you exactly which containers causes the issue, but I can give you more general info on my cluster:

- 3 nodes cluster running on EC2 m4.xlarge with

[2017-03-23 11:47] ktsakalozos opened #43563 "known_tokens.csv only has the latest entry pushed in the juju kubernetes-master charm"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): 1.5

**Environment**:
- **Cloud provider or hardware configuration**: Any cloud used do deploy kubernetes with Juju
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04
- **Kernel** (e.g. `uname -a`): 4.4.0-66-generic
- **Install tools**: Juju
- **Others**:

**What happened**:
/srv/

[2017-03-23 11:52] gyliu513 opened #43564 "Kubernetes do not support publish all exposed ports to random ports"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-03-23 11:58] pweil- commented on #43538
Agree that we should not block on this and it is opt-in behavior.  The enablement was to fall in line with the api guidelines that state beta api objects should be enabled by default and PSP was not compliant, requiring extra steps to enable the API AND the admission plugin. (https://kubernetes.io/docs/concepts/overview/kubernetes-api/).

[2017-03-23 11:58] gyliu513 opened #43565 "HPA policy event need some enhancement"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-03-23 12:37] shenlanse opened #43566 "[BUG] threadSafeMap: the obj has already been removed， but index is still in it"
### k8s version
1.3.5

---

### OS
linux/amd64

---
### Problem Description
Suppose we init threadSafeMap with two indexers: **indexFunc1 and indexFunc2**.

Obviously, **indexFunc may return error** if the object has something wrong or some other reasons.

when we add an object, will first add the object to threadSafeMap.items, then compute the index and add the index into threadSafe.indices.

[co

[2017-03-23 12:39] fedya opened #43567 "using network plugins \"cni\": cni config unintialized;"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-03-23 12:51] ktsakalozos commented on #43519
It seems that keeping a safe copy /etc/kubernetes/serviceaccount.key before losing the final unit is what is missing. This file is recreated here https://github.com/kubernetes/kubernetes/blob/master/cluster/juju/layers/kubernetes-master/reactive/kubernetes_master.py#L170

[2017-03-23 13:09] kargakis commented on #43405
Approach 1 seems like a custom strategy: https://github.com/kubernetes/kubernetes/issues/39337 https://github.com/kubernetes/kubernetes/issues/14510

cc: @kubernetes/sig-apps-feature-requests

[2017-03-23 13:26] renannprado commented on #16448
any news about this?

[2017-03-23 13:53] #43339 closed

[2017-03-23 13:53] skyfall86 commented on #43339
nobady answer me. ok i will reset k8s

[2017-03-23 13:55] akram opened #43570 "Allow `kubectl port-forward` to use "services""
`kubectl port-forward` should give the ability to forward trafic to a service not only a pod.

This is convenient for developer/debugging purposes and especially for non HTTP/SNI protocols that cannot use routes and that we don't want to expose through nodePort.

Implementation could be done using the /proxy url to send trafic to the service, and netcat/socat to handle it through a local port.

It

[2017-03-23 14:32] jayunit100 commented on #43007
cc @kubernetes/sig-scheduling-pr-reviews

[2017-03-23 14:46] kargakis commented on #33767
@kubernetes/sig-api-machinery-misc @kubernetes/sig-cli-bugs

[2017-03-23 14:48] jacekn opened #43572 "kubernetes-master layer should allow access control"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

kubern

[2017-03-23 14:49] ethernetdan commented on #43187
@skriss @krousey judging from overnight runs I don't think this is fixed

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.4-gci-1.6-upgrade-master/60

[2017-03-23 14:53] ethernetdan commented on #43187
Could we change the ordering to at least allow skew to run?

[2017-03-23 15:12] crassirostris commented on #43442
Also: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce/5860

[2017-03-23 15:19] lumjjb commented on #22888
Thanks @ecordell for the feedback! By the way, do you have a image policy webhook that I can take a look at It would be great if there is something that I can play around with!

Agreed! It would be nice if somehow I can view/jump in on this discussion. I've played around with admission controller where I did rewriting at the admission controller level, which seems like an OK idea (imo).

[code]

I

[2017-03-23 15:19] TheStalwart commented on #27796
After another retry, i was able to sign via the link that was previously expired. Yay!

[2017-03-23 15:24] skriss commented on #43187
@jszczepkowski can you check this out? Looks like most (but not all) master upgrades on GKE failed on this (they were all restarted around 4pm PST yesterday). In the couple that succeeded (e.g. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.5-gci-1.6-upgrade-master/53) it looks like the retry worked correctly.

[2017-03-23 15:31] dashpole commented on #23255
We run 'du' on each container's writable layer, and on each empty-dir-volume's directory in order to get disk usage metrics containers and volumes.  We use this information largely to determine which pod to evict if we are under disk pressure.  We also expose these metrics as part of the summary API (/stats/summary).

It is very possible that running 'du' on large directories with lots of files ca

[2017-03-23 15:34] dashpole commented on #43527
@eicnix I believe we only collect volume stats for some kinds of volumes.
@kubernetes/sig-storage-misc Which volume types do we collect stats for?  And do we expect this list to change anytime in the near future?

[2017-03-23 15:38] jayunit100 commented on #43565
Makes sense; please paste what you'd like to see in the Event message just for concreteness ....

[2017-03-23 15:40] kargakis commented on #29735
Opened https://github.com/kubernetes/community/pull/477 as an alternative to kubernetes/community#384

[2017-03-23 15:42] jsravn commented on #43300
@jingxu97 we managed to trigger this condition again. It is as I expected, the pods got processed before the nodes - so the attach detach controller skipped them, and the future attaches failed. Due to the 12 hr resync period this is a problem of course.

In this case it happened to an influxdb pod which needs an EBS:

![screenshot from 2017-03-23 15-38-30](https://cloud.githubusercontent.com/asse

[2017-03-23 15:45] jsravn commented on #43300
I suppose it's also possible the node informer never triggered, but I'd need to add additional logging to confirm.

[2017-03-23 15:53] krousey commented on #43187
No. If the upgrade doesn't happen first, then the skew doesn't exist.

If there are specific upgrade tests that are causing the issue, we can
disable them if someone tests them by hand.

On Mar 23, 2017 07:54, "Dan Gillespie" <notifications@github.com> wrote:

[2017-03-23 16:46] takama commented on #39356
The same issue for any service with type `externalName`. k8s v1.5.3

[2017-03-23 16:48] fabioy commented on #43344
@erictune Sorry, don't have much context on this test. Reassign?

[2017-03-23 16:54] liggitt commented on #43570
@kubernetes/sig-cli-feature-requests

[2017-03-23 16:59] ethernetdan commented on #43187
Every master failure had the `No SSH tunnels currently open.` error message in it and all of the successes did not so they are definitely correlated.

Unless we have other theories on this, I'd say we disable HPA upgrade.
Can someone put in a PR for this? I can after the community meeting if no one does.

[2017-03-23 17:04] f-w commented on #43350
Thanks all for inputs.
I'll wait for sts available in our OS env and give a shot.
preStop hook gives more accurate timing control and it's something I can try now. But having to write app-specific script is usually an overkill as opposed to toggling a app-agnostic setting.

[2017-03-23 17:04] #43350 closed

[2017-03-23 17:04] foxylion opened #43576 "Lost requests when doing a rolling update"
**Kubernetes version** (use `kubectl version`): 1.5.2

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS**: Debian GNU/Linux 8 (jessie)
- **Kernel**: `Linux ip-10-234-53-65 4.4.26-k8s #1 SMP Fri Oct 21 05:21:13 UTC 2016 x86_64 GNU/Linux`
- **Install tools**: kops
- **Others**: -

**What happened**:
When I update a deployment behind a service (type `NodePort`) for a short

[2017-03-23 17:14] ethernetdan commented on #43187
Nevermind just put it in.
@skriss & @krousey WDYT?

[2017-03-23 17:18] skriss commented on #43187
lgtm

[2017-03-23 17:24] bgrant0607 commented on #43538
Ok, now that I better understand the state, I think there is no code issue that needs to be fixed now. We discussed having a "secure profile" in SIG Auth, and this would clearly fall under that umbrella.

However, the documentation for PSP is inadequate. I don't see this admission controller listed in the admission control docs, and the documentation about enablement in the PSP guide wasn't update

[2017-03-23 17:25] bgrant0607 commented on #43538
@liggitt @pweil- Could you please clarify the state of e2e testing?

[2017-03-23 17:27] ethernetdan opened #43579 "Re-enable Horizontal Pod Autoscaler upgrade tests"
During the 1.6 release it was determined that the [Horizontal Pod Autoscaler (HPA) upgrade test](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/upgrades/horizontal_pod_autoscalers.go) was causing upgrade jobs to timeout.

We should try to determine the root cause, fix the issue, and [re-enable when possible](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/cluster_upgra

[2017-03-23 17:27] JulienBalestra commented on #42909
I have the same issue with the v1.5.5 with rkt as container runtime.

Could you tell me what is your container runtime in your setup ?

[2017-03-23 17:29] ethernetdan commented on #43579
Related:  #43187

[2017-03-23 17:32] krousey commented on #43579
Also, HPA will need manual upgrade testing. @jszczepkowski

[2017-03-23 17:32] krousey commented on #43579
cc @skriss

[2017-03-23 17:36] bgrant0607 commented on #38336
cc @mml

[2017-03-23 17:37] wolfadactyl commented on #34982
I have just run into this issue in the past few days. Here is an example that should repro:
[code]

Opening a bash terminal and checking permissions:
[code]

[2017-03-23 17:37] pweil- commented on #43538
current state is inadequate, we need an e2e test that runs with enabled RBAC and tests the permissions and denial of particular settings.

I will note, though, that the vast majority (if not all) of the individual admit/deny settings are covered in the [admission unit test](https://github.com/kubernetes/kubernetes/blob/b0b156b3811ecd0c33b1f3a234ece56726b1eb95/plugin/pkg/admission/security/podsecur

[2017-03-23 17:42] pweil- commented on #43538
@php-coder don't forget the use case of `MustRunAsNonRoot` UID which has an additional kubelet check if no RunAsUser is set and surfaces as an error in the state - it's not all admit/deny.  That's the only tricky one I can think off of the top of my head.

[2017-03-23 17:45] bgrant0607 commented on #12611
ref #35318, #38336

[2017-03-23 17:46] hobti01 commented on #12732
@smarterclayton Could you explain your considerations in more detail?  Here's my interpretation of what you've mentioned and I'm getting stuck on "automatically" :)

- Existing service cert functionality via annotations remains as-is
  - /var/run/secrets/kubernetes.io/serviceaccount/service-ca.crt
  - /my/secret/tls.crt and /my/secret/tls.key
- "user" generates new-ca.crt and new-ca.key, client.cr

[2017-03-23 17:50] php-coder commented on #43538
@pweil- Yes, I can.

[2017-03-23 17:52] theothermike commented on #40415
We did some early testing upgrading from 1.5.2 to 1.5.4, and it appears this finally fixed the duplicate RS problem both right after upgrade, and during regular operation (updating docker image tag with new build, rolling restart)

[2017-03-23 17:56] divyenpatel commented on #42690
Disabled IPV6 on all nodes and rebooted them, and no longer seeing Duplicate value: api.NodeAddress.

[code]

I was able to create storage class, pvc, pv and pod using storage.k8s.io/v1APIs.

[code]

following is diff I see in the IPs on eth0 after setting IPV4 only.

[code]

**cluster is up and running, but weird can not see IPV4 addresses in the nodes's status.**

[code]

[2017-03-23 18:01] saad-ali commented on #43534
Some things we should improve regardless of the root cause of this:
1. The volume reconstruction logic should ignore any `.deleting~` folders (to break the explosion of directories/volumes in cases like this).
2. Improve the the default `TearDown(...)` method for `EmptyDir`:
    * Understand why it does a create directory before rename. Eliminate the create directory if possible. Otherwise make su

[2017-03-23 18:07] kargakis commented on #27548
Give transactions to the people!

[2017-03-23 18:09] kargakis commented on #43504
This is the issue about transactions: https://github.com/kubernetes/kubernetes/issues/27548

[2017-03-23 18:12] nikhiljindal commented on #43487
I agree that there are other scenarios that can cause outages and the proposed mechanism does not solve all of them. But I think its still valuable since it solves a particular scenario.
Am open to any other potential solutions.

Yes its not as common as other operations, but resources do need to be deleted. Outages in staging are bad as well :)

@smarterclayton By deletion protection, do you mean

[2017-03-23 18:18] krzyzacy commented on #43466
janitor has cleaned it up, the job is green now.

/close

[2017-03-23 18:20] copumpkin opened #43580 "Make it possible to build kubernetes without cgo"
**Is this a request for help?**: Nope

**What keywords did you search in Kubernetes issues before filing this one?**: cgo, CGO_ENABLED

---

**Is this a BUG REPORT or FEATURE REQUEST?**: Feature request

This feature request started on the minikube issue tracker, but basically it greatly complicates the build process to use cgo, since in the minikube case at least we need to run Docker to produce

[2017-03-23 18:21] ethernetdan commented on #43366
@mml @devin-donnelly @wojtek-t can this be done today? this will block the release

[2017-03-23 18:21] ethernetdan commented on #41054
@mml @devin-donnelly @wojtek-t can this be done today? this will block the release

[2017-03-23 18:21] erikbgithub commented on #42791
having the same issue. Some guidance about how to debug would be nice. That kind of stuff can't even be easily debugged with curl.

[2017-03-23 18:23] ethernetdan commented on #43470
@mikedanese @krousey @skriss thoughts? This is a release blocker

[2017-03-23 18:32] mikedanese commented on #43470
@ethernetdan your comment was before https://github.com/kubernetes/kubernetes/pull/43532 merged. Most recent failure is significantly different but I'm finding the output hard to read. I'm talking to @krousey to decipher:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.6-1.5-downgrade-cluster/113

[2017-03-23 18:37] msau42 commented on #43534
BTW, in Go 1.8, it looks like they've changed the behavior of os.Rename:

https://golang.org/doc/go1.8#os

So I think we should move towards eliminating the create directory.

[2017-03-23 18:45] ethernetdan commented on #43538
These tests should have been already completed, this should not block 1.6

[2017-03-23 18:51] vorlonofportland commented on #43534
On Thu, Mar 23, 2017 at 11:37:40AM -0700, Michelle Au wrote:

Does this mean the problem could be caused by a difference in the use of
golang 1.7 vs. golang 1.8 for k8s binary builds?

[2017-03-23 18:56] msau42 commented on #43534
Yes that's possible.  From the development guide, go1.8 has not been verified for building k8s.  https://github.com/kubernetes/community/blob/master/contributors/devel/development.md

[2017-03-23 19:08] gnufied commented on #43534
related https://github.com/kubernetes/kubernetes/pull/38345

[2017-03-23 19:10] ethernetdan commented on #28188
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-etcd3/7158

@kubernetes/test-infra-maintainers blocking submit queue

[2017-03-23 19:16] jonathan-kosgei opened #43582 "Initcontainer with only a cat command gets stuck"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): container os
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

I have an etcd statefulset with the following initcontainer declaration that gets stuck even though it's a very simple cat command

[cod

[2017-03-23 19:21] jonathan-kosgei commented on #43582
Never mind, it was an issue with the volume not being mounted. sigh.

[2017-03-23 19:21] #43582 closed

[2017-03-23 19:40] jonathan-kosgei commented on #43515
This is starting to happen more frequently..

[2017-03-23 19:43] krousey commented on #28188
cc @bowei looks like this may be a dns issue:

[code]

also this was one of the 4 failures https://github.com/kubernetes/kubernetes/issues/43094

[2017-03-23 19:45] #42392 closed

[2017-03-23 19:47] igormrbean commented on #43356
+1. Exact same problem, following https://kubernetes.io/docs/getting-started-guides/docker-multinode/  and testing with https://github.com/kubernetes/kubernetes/tree/release-1.2/cluster/addons/dns#how-do-i-test-if-it-is-working (lauching a sample busybox pod, and executing nslookup on it).

I tried shutting down firewalld on my CentOS7 systems without much luck.

[2017-03-23 19:57] jingxu97 commented on #43515
@jonathan-kosgei could you provide more details about in what situation it happened frequently? Kubelet log could give us more information. If you use GKE cluster, run "journctlctl -u kubelet > /tmp/log" to get the log. You could also share with us the log if it is ok.

[2017-03-23 20:07] yihuaf commented on #15817
I got it working in a very rudimentary way. The basic idea is to create a service in your cluster for the jobmanager, give the k8s' dns path for the jobmanager's service to the taskmanager and then launch your taskmanager. The taskmanager should automatically add itself to the jobmanager. It's very much similar to running flink stand alone and have k8s launch more pod as taskmanager to scale the c

[2017-03-23 20:09] jonathan-kosgei commented on #43515
This seems to be the relevant part of the log
[code]

I re-created that and my pods sprang back up. Weird thing is I had created that, along with the pvcs and pvs but seems it's somehow getting deleted. There's almost certainly certain I'm doing wrong but I'm not sure what.
]

[2017-03-23 20:10] janetkuo commented on #43470
I tried to create a 1.6 cluster and then downgrade the master to 1.5, but the downgraded master never responded (waited ~hours).

The steps I run:
[code]

[2017-03-23 20:11] dcbw opened #43583 "kubenet: remove code forcing bridge MAC address"
A while back code (https://github.com/containernetworking/cni/pull/254) was added to CNI's 'bridge' plugin to ensure a consistent bridge MAC address based on the IP address given to the bridge.  This means we can effectively revert some of https://github.com/kubernetes/kubernetes/issues/30783 because that functionality is now handled by CNI.

[2017-03-23 20:11] bgrant0607 commented on #43488
What is the ETA for resolving this?

[2017-03-23 20:13] davidopp commented on #43394
Reconfirmed at today's burndown meeting that the scheduler predicates e2e problem was resolved by @aveshagarwal 's PR. Thanks again Avesh!

[2017-03-23 20:14] pwittrock opened #43584 "Downgrade testing for Deployments hangs"
The downgrade script hangs when downgrading a 1.6 cluster.

[2017-03-23 20:17] dcbw commented on #28188
@krousey nothing looks out-of-the ordinary on the node itself, but there aren't enough logs to really figure out whether it's the DNS server or kubelet/kubenet...

[2017-03-23 20:21] grodrigues3 commented on #43550
@davidopp is this scheduler related?  Can you PTAL and assign or close?

[2017-03-23 20:22] bgrant0607 commented on #43488
Ok, I see that #43546 is at the top of the submit queue.

[2017-03-23 20:26] mikedanese commented on #43470
Your hitting the downgrade issue https://github.com/kubernetes/kubernetes/issues/43470#issuecomment-288203309, there is no way to downgrade etcd from v3 storage version to v2. @krousey has some env variables that allow you to deploy etcd with v2 for the 1.6 cluster.

[2017-03-23 20:26] dchen1107 commented on #43534
@vorlonofportland Is the test binary which generates the failures reported here is built with golang 1.8? I couldn't find those information through the existing logs.

[2017-03-23 20:28] bsalamat commented on #41600
As I have mentioned in the above doc, the final decision is to implement approach #2. The main reason for picking this approach is its advantages as explained in the doc.
There are scalability concerns for some components of the system with many instances, e.g., kubelet, if they decide to watch a number of API server objects. Such concerns do not exist for scheduler as we have usually one or at mo

[2017-03-23 20:32] davidopp commented on #43550
I don't know, and I can't look at it for a few hours.

@kubernetes/sig-scheduling-bugs can someone from SIG scheduling please take a look at this?

[2017-03-23 20:34] smarterclayton commented on #43487
Delete protection was an annotation on the resource that the CLI or
web UI would respect that requires you to confirm deletion.  It would
start client only and apply to all clients.

A second level would be requiring higher permissions to delete in some
namespaces, but that is not likely to solve the real problem.

A third level might be "lock" for human driven operations in a namespace.

[2017-03-23 20:35] jessfraz opened #43587 "release-1.4 testgrid failure"
failing: https://k8s-testgrid.appspot.com/release-1.4-blocking#gce-slow-1.4
See: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-slow-release-1.4/3257

Seems to be caused by https://github.com/kubernetes/kubernetes/commit/92427fc1bae65b481c4ea595fabf0e5c034aa6df from https://github.com/kubernetes/kubernetes/pull/42842

pinging @ixdy to see if he has any ideas

[2017-03-23 20:37] bgrant0607 commented on #35182
This is done

[2017-03-23 20:37] #35182 closed

[2017-03-23 20:37] bowei commented on #28188
The failures with `wget` in that test are evenly split between "bad address" and "network unreachable" in the past 10 runs (5 vs 5). It looks to be a generic networking issue...

[2017-03-23 20:38] ethernetdan commented on #43584
@pwittrock is this the same as https://github.com/kubernetes/kubernetes/issues/43470#issuecomment-288845358?

[2017-03-23 20:38] ixdy commented on #43587
sure does look like it. I expected this to mostly be a no-op, so that's frustrating. @MrHohn any ideas?

[2017-03-23 20:41] MrHohn commented on #43587
Looking, it's sad that addon manager's log is not exposed yet in 1.4 :(

[2017-03-23 20:44] rpothier opened #43588 "cidr_set does not support IPv6"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubern

[2017-03-23 20:46] bowei commented on #28188
It looks at least half the time, wget is trying the IPv6 address:

[code]

[2017-03-23 20:47] janetkuo commented on #43584
@ethernetdan yes it is

[2017-03-23 20:48] anhowe commented on #43584
@ethernetdan @pwittrock - may we close this as a duplicate and known issue

[2017-03-23 20:49] bsalamat commented on #43550
Almost all of the failures in Scheduler predicates tests happen in preparation phase of the tests and in "BeforeEach" while the test is waiting for system pods to be ready. So, they don't seem to be scheduler related, but I will investigate further.

[2017-03-23 20:49] kargakis opened #43589 "Patch applies defaults from other group"
I am creating a deployment in the extensions group and when I do a `kubectl edit` or `kubectl patch`, the defaults from the apps group are applied. Normal updates work fine (tried `kubectl scale`).
http://pastebin.com/CsNGsZxK
Note the additional `progressDeadlineSeconds` and `revisionHistoryLimit` fields

cc: @kubernetes/sig-api-machinery-misc @soltysh

[2017-03-23 20:49] mml commented on #43470
We still aren't passing the right variables into the kube-env.  In particular, there's no value for `ETCD_IMAGE`, so we end up running the 2.2.1 image which doesn't contain the migration script nor the rollback tool.

[code]

I can try to reproduce this myself.

cc @wojtek-t in case we are doing something dumb WRT the environment.

[2017-03-23 20:51] liggitt commented on #43589
can you run this with high verbosity? Prior to https://github.com/kubernetes/kubernetes/pull/43553 merging, that will run against the apps group
[code]

[2017-03-23 20:53] vishh commented on #42910
@jayunit100

Can you provide some links to the user feedback you are mentioning? Under what scenario are users hitting CPU starvation? Are they running besteffort pods?

[2017-03-23 20:54] kargakis commented on #43589
http://pastebin.com/FCmyQKSx

[2017-03-23 20:55] liggitt commented on #43589
yeah, you're submitting the patch to `deployment.apps`:
[code]

[2017-03-23 20:57] ethernetdan commented on #43584
sgtm

[2017-03-23 20:57] #43584 closed

[2017-03-23 20:59] MrHohn commented on #43587
I'm bringing up a 1.4 cluster for debugging. Will update soon.

[2017-03-23 21:04] jessfraz commented on #43587
thanks!

[2017-03-23 21:10] jiosec commented on #42909
I'm using rkt for kubelet too.

[2017-03-23 21:10] kargakis commented on #43589
Works fine on HEAD

[2017-03-23 21:10] #43589 closed

[2017-03-23 21:11] vishh commented on #40044
Yes. `--minimum-container-ttl-duration` should ideally not be used for log
management. Logging policy is a separate problem by itself which is closely
tied to local storage management.

On Thu, Mar 9, 2017 at 3:26 PM, Harry Zhang <notifications@github.com>
wrote:

[2017-03-23 21:13] #43488 closed

[2017-03-23 21:13] #43541 closed

[2017-03-23 21:14] bsalamat commented on #43550
I see a few different errors; among them I see many errors like this:
`docker_sandbox.go:263] NetworkPlugin kubenet failed on the status hook for pod`...

Unfortunately, I know nothing about docker_sandbox. Would be great if people with more familiarity could take a look and tell us if it is the root cause or is it triggered by other issues in the system.
https://k8s-gubernator.appspot.com/build/k

[2017-03-23 21:15] bgrant0607 commented on #43496
cc @MrHohn

[2017-03-23 21:18] MrHohn commented on #43496
There is also an open PR for this: #42617

[2017-03-23 21:19] msau42 commented on #43534
From what I understand, the purpose of the rename is so that the system knows quickly that the volume has been deleted.  This is important for volumes with large content that can take a long time to delete.  So I think the right set of changes that are needed are:

1.  The volume reconstruction logic should ignore directories with ".deleting~".  I can make this change.
2.  The rename needs to be c

[2017-03-23 21:22] MrHohn commented on #43496
Note that ConfigMap permission may be tweaked once we mount configmap into dns-autoscaler pod.

[2017-03-23 21:23] grodrigues3 commented on #43550
@yujuhong @bowei I'm not sure if this is network or node related.  Can one of you PTAL?

[2017-03-23 21:37] dashpole commented on #43550
This is from the most recent test run on [this node](http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-serial/997/artifacts/gke-bootstrap-e2e-default-pool-8a1675df-xp8c/): `Conditions:[]v1.NodeCondition{v1.NodeCondition{Type:"NetworkUnavailable", Status:"True", LastHeartbeatTime:v1.Time{Time:time.Time{sec:0, nsec:0, loc:(*time.Location)(nil)}}, LastTransitionTime:v1.Time{Time:

[2017-03-23 21:40] yujuhong commented on #43550
heapster wouldn't come up.
[code]
Known docker image issue triggered by one of the disruptive (node restart) test. The fix is in docker 1.13 https://github.com/docker/docker/pull/25523

[2017-03-23 21:49] MrHohn commented on #43587
Seems like addon-manager v5.1.1 is somehow broken, logs:
[code]

Looking for the reason.

[2017-03-23 21:49] danehans commented on #43588
https://github.com/kubernetes/kubernetes/issues/1443

[2017-03-23 21:50] gnufied opened #43592 "Race condition between PV getting deleted and a new pvc requested"
There appears to be a race condition when user deletes a PVC that dynamically creates PV and there is a pod in pending state because a PVC that it uses is in pending state because no 'free' PV is available.

In that case, the  PVC gets deleted and PVC that wants a 'free' PV gets bound to dynamically allocated PV but code appears to try and delete that PV anyways.

In that case dynamically allocate

[2017-03-23 21:52] gnufied commented on #43592
cc @jsafrane @kubernetes/sig-storage-bugs

[2017-03-23 21:53] wolfadactyl commented on #34982
Oh, also I've tried this with setting `mode` on my deployments (also tried using with `defaultMode`) and neither have seemed to have any impact.

+ @stp-ip

[2017-03-23 21:59] ixdy commented on #43587
maybe something did functionally change in kubectl between v1.3.0-beta.2 and v1.3.10?

[2017-03-23 22:03] MrHohn commented on #43587
Yeah very likely, let me build another local image and see if kubectl binary is the only issue.

[2017-03-23 22:07] RenaudWasTaken opened #43593 "Kubernetes memory consumption explosion"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug report

**What happened**:
TLDR: kubelet explodes in RAM on a 32GB machine
Current master: 03aba86974957feae11a73a0db43a39b5743c550
Date:   Thu Mar 23 12:45:38 2017 -0700

1) git clone https://github.com/kubernetes/kubernetes.git (
2) cd ./kubernetes && ./hack/local-up-cluster.sh
3) open sudo htop and wait 4-5 minutes on a 32GB machine
4) Observe t

[2017-03-23 22:11] MrHohn commented on #43587
Oops, built with kubectl v1.3.0-beta.2 and hit the same error:
[code]

[2017-03-23 22:12] lavalamp commented on #34508
yet another design in this series: https://docs.google.com/document/d/1wuoSqHkeT51mQQ7dIFhUKrdi3-1wbKrNWeIL4cKb9zU/edit#

[2017-03-23 22:16] msau42 commented on #43515
HI Jonathan, can you clarify what you had to recreate?

[2017-03-23 22:24] jonathan-kosgei commented on #43515
The glusterfs endpoints

On Fri, Mar 24, 2017 at 1:17 AM, Michelle Au <notifications@github.com>
wrote:

[2017-03-23 22:24] ethernetdan commented on #28188
Looks like this stabilized

[2017-03-23 22:25] ethernetdan commented on #43542
All complete.

[2017-03-23 22:25] #43542 closed

[2017-03-23 22:26] ethernetdan commented on #43470
@mml were you able to reproduce?

[2017-03-23 22:36] timstclair commented on #25274
Any idea where this metric is being generated? I can't find the string `rest_client_request_status_codes` anywhere in our code base.

[2017-03-23 22:44] MrHohn commented on #43587
The addon manager is broken by #30372. Built after reverting this PR and things seem correct.

[2017-03-23 22:47] MrHohn commented on #43587
Should we re-push addon manager v5.1.1 without this? Should we revert #30372 in 1.4 branch?

[2017-03-23 22:51] timstclair commented on #25274
nvm, found it in 1.5, it was renamed in 1.6: https://github.com/kubernetes/kubernetes/blob/release-1.5/pkg/client/metrics/prometheus/prometheus.go

Looks like this was fixed in https://github.com/kubernetes/kubernetes/pull/38058

[2017-03-23 22:51] #25274 closed

[2017-03-23 22:59] perotinus opened #43596 "[Federation] Print out namespace on each line during Federation E2E tests"
Now that the Federation E2E tests are running in parallel, the logs from the control manager and the API server are very difficult to understand because of the number of interleaved operations. We should add the namespace (or, more specifically, the five-character unique suffix that we add to the namespace template we use for tests) to each of the log statements so that we can grep through the log

[2017-03-23 23:03] ixdy commented on #43587
oh, good call. I suspect #28823 was also not originally included in v5.1 - it looks like that tag was created in #28467.

[2017-03-23 23:04] dchen1107 commented on #43549
This very failure was reported here are caused by a corrupted docker image layer:

I0322 10:49:50.617] Mar 22 10:49:50.615: INFO: At 2017-03-22 10:44:48 -0700 PDT - event for pod-3de59347-0f27-11e7-ba87-0242ac110007: {kubelet gke-bootstrap-e2e-default-pool-b477d9f5-ttrw} Failed: Failed to pull image "gcr.io/google_containers/mounttest:0.7": failed to register layer: rename /var/lib/docker/image/au

[2017-03-23 23:09] dchen1107 commented on #43549
Following up with what I said above...

The real fix should be in docker. Before we have the fix, since Kubelet already reports such issue as an event, the remedy system should take an action upon this.

[2017-03-23 23:14] mml commented on #43364
@ethernetdan Yes.  I think we need clear instructions for HA users, too.  The current kubernetes/kubernetes.github.io#2767 should cover non-HA users.

When @justinsb has done an upgrade of a k8s cluster running on HA etcd, we will add a paragraph or two describing the process.

[2017-03-23 23:31] bgrant0607 commented on #43538
Though I realize it's the status quo now, in the future we should disable inert APIs. The API discovery mechanism needs to be able to be used to accurately determine the availability of features. Additionally, allowing people to create resources that don't do anything creates a potential time bomb (for another time bomb example, see #30819).

[2017-03-23 23:33] jeremyschlatter commented on #27464
Similar to #27140

[2017-03-23 23:34] bgrant0607 commented on #43538
Additionally, the test coverage of PSP is very weak, since it isn't active by default in GCE, GKE, and AWS which are the platforms for which are continuously tested, by the submit queue and in the PR builder.

[2017-03-23 23:34] blakebarnett commented on #42438
This was happening in our clusters as well, only the leader was doing and and killing the container so it restarted made it stop happening.

[2017-03-23 23:35] krmayankk commented on #38542
i dont think this is fixed in 1.5 I just encountered this bug on 1.5.3

[2017-03-23 23:47] gyliu513 commented on #43565
Thanks @jayunit100 , how about the following:

[code]

I also have one question for

[code]
The above `calculateScaleUpLimit` is getting the `max` of the two, so the `scaleUpLimitFactor*float64(currentReplicas)` can be a big value if `currentReplicas` is big, such  as if the `currentReplicas` is 1000, then HPA will scale up to 2000? Does this will cause some issue for such scale up?

[2017-03-23 23:49] guoshimin commented on #39028
We are also hitting this issue after upgrading to v1.5.4 from v1.4.7. We noticed that in v1.5.4, kubelet adds a `:Z` to each bind mount spec if SELinux is enabled on the system. We patched kubelet to disable this behavior and the problem went away.

Our running theory is that this causes libcontainer to try to recursively label all the files in the prometheus volume, which has a lot of files, and

[2017-03-23 23:49] kerneltime commented on #41575
I am ok with leaving the behavior as is and working on adding a separate set of APIs and attributes that give a better guarantee. @jsafrane I think we should bring this up in the sig-storage meeting.

[2017-03-24 00:04] calebamiles commented on #41054
we're waiting on HA upgrade results from @justinsb before finishing the upgrade doc; blocked on that.

[2017-03-24 00:05] justinsb opened #43598 "etcd 3.0.17 image should use symlinks or bash script"
[code]

For the sake of the image size, etcd should be a symlink to etcd-3.0.17.  Or - even better - etcd should be a script that launches `TARGET_VERSION`, which would both be smaller and much easier to launch.

[2017-03-24 00:06] justinsb commented on #43598
Scratch that - my mistake - the script copies it.

[2017-03-24 00:06] #43598 closed

[2017-03-24 00:23] RenaudWasTaken commented on #43593
Cleaning up kubernetes files in the environment seems to have fixed it

[2017-03-24 00:23] #43593 closed

[2017-03-24 00:32] liggitt commented on #43478
See https://github.com/openshift/kube-projects for the ACL filtered virtual resource on top of namespaces

[2017-03-24 00:38] aveshagarwal commented on #43550
logs have around 5 panics:

[code]

[2017-03-24 00:41] victorgp commented on #38498
We are having the same issue, and i found that the volumes directory of the problematic pods have tons of directories:

(i'm running version 1.5.4)

Example:
[code]

And i count all of them, in a /var/lib/kubelet with only 39 pods, this is the number of total files i get:
[code]

That is why the kubelet cannot get the volumes and shows this message:
[code]

Probably is timing out due to the huge a

[2017-03-24 00:46] pawankkamboj commented on #42542
Is there any other option to customize resolve.conf?

[2017-03-24 00:50] yujuhong commented on #43550
@aveshagarwal which log is this?

[2017-03-24 00:52] aveshagarwal commented on #43550
the first link in the first comment:  https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-serial/994/

[2017-03-24 00:55] aveshagarwal commented on #43550
I agree with @bsalamat several tests are failing in BeforeEach as not all pods are in running and ready state. Still going through the logs why is this happening though.

[2017-03-24 01:01] perotinus opened #43599 "[Federation] Make sure that all documentation about Federated services explains that you need to own the relevant domain name"
We should make sure that all documentation about Federated services/setting up DNS for Federation explains that you must own the domain name. We do mention this in our documentation, but it's an easy thing to miss and it can be very tricky to diagnose if you don't know that you need to do it.

It may be worth noting as well that, if you don't care about access from the public Internet and your pro

[2017-03-24 01:02] perotinus commented on #43599
cc @madhusudancs

[2017-03-24 01:12] aveshagarwal commented on #43550
[code]

[2017-03-24 01:14] k82cn commented on #38542
@krmayankk , yes, the PR is NOT merged to any branch, so the issue is still here. I'll create a PR for 1.5.

[2017-03-24 01:30] justinsb opened #43600 "HA etcd upgrade v2 -> v3: Split-brain - all members became leaders"
I tried a live upgrade from v2 -> v3 (i.e. without stopping the apiserver or etcd before proceeding).  After the upgrade, all 3 members of my cluster thought they were the leader.

Highlights (full log below) seem to show that it removes the other two peers for some reason, whereupon it is able to self-elect.  All three nodes exhibit the same behaviour:

[code]

Full log:

[code]

[2017-03-24 02:15] justinsb commented on #43600
Tried again: Same thing happened when I manually stopped all members and then upgraded them all at the same time (i.e. no intermediate writes)

[2017-03-24 02:18] ncdc commented on #43580
FYI #41262 bumps go-systemd so you can compile without cgo.

[2017-03-24 02:18] liuchjlu commented on #43363
I have the same wrong with you. My kube-apiserver is 1.6.0-beta.4. I think the reason is that the kube-apiserver requests  accessing too many keys. You can refer this page:https://coreos.com/etcd/docs/latest/faq.html

[2017-03-24 02:24] justinsb commented on #41054
My results so far: I've tried a few times and so far it has split-brained every time: https://github.com/kubernetes/kubernetes/issues/43600

Going to keep experimenting, but I'm thinking I might pull the ejection handle on etc3 soon...

[2017-03-24 02:36] egeland commented on #32676
I can confirm that this (still) happens for me on MacOSX 10.12.3:

[code]

[2017-03-24 02:38] liggitt commented on #43600
@wojtek-t @mml is there a different way an etcd cluster is supposed to be migrated?

[2017-03-24 02:38] NickrenREN commented on #43592
findByClaim() should find PV which phase is Available ?

[2017-03-24 02:39] smarterclayton commented on #43600
Can you verify that there are no other "set initial state" flags being set on the etcd process startup?  I find the second result surprising in that the membership records would be dropped

[2017-03-24 02:43] xiang90 commented on #43600
@justinsb

I looked at the log. You forced the cluster to drop the members. If you are using the script GKE team provides, I guess it will not work well for N member case. It forces a new cluster every time.

[2017-03-24 02:46] xiang90 commented on #43600
@wojtek-t

I remember I looked at a script you guys wrote for GKE migration. We now suggest people to use it for migrating any clusters? I was under the impression that it only works for one member etcd cluster.

[2017-03-24 03:02] titanlien commented on #42791
I meet the same issue, my solution is using "".
e.g
$ kubeadm join --token="[YOUR TOKEN]" [IP]

[2017-03-24 03:06] justinsb commented on #43600
@xiang90 what process should I be using?  Happy to switch, though time is running out.

Also, how did I force the cluster to drop the members?

@smarterclayton the logs above are when passing parameters using env vars, but I am currently trying with flags, the concern being that the upgrade script wouldn't be tested with env vars.  The manifest I have right now is:

[code]

(I am still mid debuggi

[2017-03-24 03:09] victorgp commented on #40415
We've done an upgrade from 1.3.7 to 1.5.4 and the issue no longer happens

[2017-03-24 03:26] xiang90 commented on #43600
@justinsb

I was not get involved into designing the upgrade process for k8s other than answering some etcd related questions here and there. So I have nothing for you to switch.

Also I do not really know what script you ran and how you ran it. I know it dropped member from the etcd logging you provided. I can take a look at the script though if you wish to share. I suspect you might run the scri

[2017-03-24 03:33] justinsb commented on #43600
Thanks - I presume it's the same script!  I run https://github.com/kubernetes/kubernetes/blob/master/cluster/images/etcd/migrate-if-needed.sh , as baked into the `gcr.io/google_containers/etcd:3.0.17`.

I am trying to mirror the procedure that we've been e2e testing, in https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/etcd/etcd.manifest

If I had to guess, I would guess t

[2017-03-24 03:37] kargakis commented on #41575
@kubernetes/sig-storage-misc

[2017-03-24 03:44] xiang90 commented on #43600
@justinsb

Ah. So here: https://github.com/kubernetes/kubernetes/blob/master/cluster/images/etcd/migrate-if-needed.sh#L125

It dropped all other members. Also this script uses 127.0.0.1 a few times.

I think https://github.com/kubernetes/kubernetes/blob/master/cluster/images/etcd/migrate-if-needed.sh#L103 is a validation step that only works for one member etcd cluster. You probably can simple ski

[2017-03-24 03:45] shenlanse opened #43605 "[Bug] threadSafeMap: the obj has already been removed， but index is still in it"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

---

**Kubernetes version** (use `kubectl version`):
k8s1.3.5. still exist in 1.6

---

**What happened**:

when exec threadSafeMap.Index func, the returned items contain nil object. That is to say, index is in threadSafeMap but the corresponding has already been deleted.

---

**What you expected to happen**:
when object is deleted f

[2017-03-24 03:45] #43566 closed

[2017-03-24 04:15] mumoshu commented on #40027
Thanks @hongchaodeng, your answer really helped me.
I ended up implementing https://github.com/kubernetes-incubator/kube-aws/pull/417 thanks to your help.

[2017-03-24 04:29] mumoshu commented on #40027
@xiang90 Thanks for answering my question in the google doc!
It was good to know that EBS snapshots are consistent.
However, according to @hongchaodeng's advice and my own experience implementing https://github.com/kubernetes-incubator/kube-aws/pull/417, just restoring etcd nodes from EBS snapshots doesn't work. You may already know and it was unclear just for me but let me clarify.

Restoring an

[2017-03-24 04:37] smarterclayton commented on #39325
I have a reliable reproducer (I think) against 1.5

[2017-03-24 04:49] liggitt commented on #39325
We can't wait to see it

[2017-03-24 05:02] vishh opened #43607 "[Storage] Add support for capacity isolation of shared partitions"
Based on https://github.com/kubernetes/community/pull/306

This issue is meant to track work items and help collaboration between the community on adding support for capacity isolation of shared partitions.

Note: Priority of these features can change based on the number of collaborators.

**v1.7**

Note: @jingxu97 has already been making progress on some of the items for v1.7.

- [ ] Extend Empty

[2017-03-24 05:06] rocketraman opened #43608 "Azure: Updating `loadBalancerSourceRanges` does not update the Azure NSG"
What keywords did you search in Kubernetes issues before filing this one?

loadBalancerSourceRanges

---

**Is this a BUG REPORT or FEATURE REQUEST?** Bug

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release):  Ubuntu 16.04 LTS (Xenial Xerus)
- **Kernel** (e.g. `uname -a`): Linux k8s-mas

[2017-03-24 05:08] vishh commented on #43607
@derekwaynecarr kindly vet this plan and add any missing items.

[2017-03-24 05:28] davidopp commented on #43607
cc/ @kubernetes/sig-scheduling-feature-requests

[2017-03-24 05:51] shenlanse commented on #43605
Who can help me? Do i miss something important or misunderstand it ?
@davidopp @lavalamp

[2017-03-24 06:17] k82cn commented on #43607
I'd like to contribute "scheduler predicate" if not owner now :).

[2017-03-24 06:46] zouyee commented on #43279
kube-state-metrics-deployment-1725944925-z0ltb   1/1       Unknown
when I exec `kubectl deelte pods kube-state-metrics-deployment-1725944925-z0ltb`,pods can not deleted found by `kubectl get pods`

[2017-03-24 07:39] ethernetdan opened #43610 "expected pod "" success error during upgrade"
During upgrades an error is encountered:
[code]
Error from: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.5-1.6-upgrade-master/36

Other failures:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.5-container_vm-1.6-upgrade-master/51

/cc @skriss @krousey

[2017-03-24 07:48] ethernetdan opened #43611 "Failing to get logs during upgrade"
Upgrade fails with:
[code]
Error from: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.4-gci-1.6-upgrade-master/62

Related failures:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.4-container_vm-1.6-upgrade-master/69
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cont

[2017-03-24 07:49] ethernetdan commented on #43611
/cc @wojtek-t @krousey @skriss

[2017-03-24 07:51] ethernetdan opened #43612 "No SSH tunnels currently open during upgrade"
Encountered error during upgrade:
[code]
Error from: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.5-container_vm-1.6-upgrade-master/52

Related failures:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-container_vm-1.5-gci-1.6-upgrade-master/56

/cc @krousey @skriss @wojtek-t

[2017-03-24 07:55] wojtek-t commented on #43600
I don't understand this one. If you are running 2.2.1 and want to upgrade to 3.0.17, you need to go through 2.3.7 and 3.0.17 in v2 mode (and that's mostly what this function is used for).

@justinsb I think what is problematic for HA setup is this "--force-new-cluster" line:
https://github.com/kubernetes/kubernetes/blob/master/cluster/images/etcd/migrate-if-needed.sh#L125

I don't remember the exa

[2017-03-24 07:56] jsafrane commented on #27548
I have another use case: we need to write `persistentVolume.spec.claimRef` and `persistentVolumeClaim.spec.volumeName` in a single transaction. Now we do it in two writes and we have lot of code to recover from corner case when PV is successfully written and write of PVC has failed from some reason.

[2017-03-24 07:57] wojtek-t commented on #43612
I don't have enough context to look into it.

@cjcullen

[2017-03-24 08:00] ethernetdan commented on #43187
Looks like the issue with timeouts is resolved but we are still seeing upgrade failures. I'll close this issue and have opened #43610 & #43611 & #43612.

[2017-03-24 08:00] #43187 closed

[2017-03-24 08:27] gosharplite commented on #17482
This issue is out of date.

[2017-03-24 08:27] #17482 closed

[2017-03-24 08:28] guoshimin commented on #39028
cc @pmorie, author of https://github.com/kubernetes/kubernetes/commit/21116a7dbe3caeed22afd22511282e9ec568be4f. Does my theory in the comment above make sense?

The relevant docker code is
https://github.com/docker/docker/blob/v1.12.6/volume/volume.go#L127-L131,
https://github.com/docker/runc/blob/54296cf40ad8143b62dbcaa1d90e520a2136ddfe/libcontainer/label/label_selinux.go#L144, and
https://github

[2017-03-24 08:35] wanghaoran1988 opened #43613 "[Deployment] revisionHistoryLimit cannot be remove or update to nil if it is created with a specific value"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"7+", GitVersion:"v1.7.0-alpha.0.1432+4862989d6169b5-dirty", GitCommit:"4862989d6169b524701aface4bb5e3cea7e419f2", GitTreeState:"dirty", BuildDate:"2017-03-22T08:08:20Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Serve

[2017-03-24 08:36] wanghaoran1988 commented on #43613
/cc @kargakis

[2017-03-24 08:41] k8s-merge-robot opened #43616 "[k8s.io] GarbageCollect [Serial] Garbage Collection Test: Many Pods with Many Restarting Containers Should eventually garbage collect containers when we exceed the number of dead containers per container {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/581/
Failed: [k8s.io] GarbageCollect [Serial] Garbage Collection Test: Many Pods with Many Restarting Containers Should eventually garbage collect containers when we exceed the number of dead containers per container {E2eNode Suite}

[code]

Previous issues for this test: #36903

[2017-03-24 08:46] jsafrane commented on #43592
@gnufied, can you please describe more in detail what are the PVs and PVCs that lead to this bug? Especially, how many PVCs are involved?

PV that is dynamically provisioned for a PVC can never be used by any other PVC, see https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/pv_controller.go#L1324
Is this assumption broken?

[2017-03-24 08:47] paolomainardi commented on #39028
The problem AFAIK is a more extended and includes also older Docker
releases and it's not limited just to volumes, I think that the error
message is quite generic to do a complete analysis.

Maybe k8s should do some sanity check to Docker/containerd to understand
the reliability of pods provisioning.

Il giorno ven 24 mar 2017 alle 09:28 guoshimin <notifications@github.com>
ha scritto:

--
*SPARKF

[2017-03-24 08:57] piosz commented on #42188
@wojtek-t is this a problem from performance point of view? Do you plan to solve it? Or maybe the recommendation is to not have watch per node in big clusters?

[2017-03-24 08:59] jstrachan opened #43617 "add a `kubectl shell` or `kubectl repl` command to provide an interactive REPL shell to reduce typing"
its common to work on the same kinds of resources quite a bit; viewing/editing/removing the same kinds of resources so you can find yourself typing quite a lot. An interactive REPL could help reduce typing.

e.g. something like:

[code]

[2017-03-24 09:15] #40198 closed

[2017-03-24 09:38] k82cn commented on #43605
@shenlanse , can you share a unit test to show it? I'd like to help on it.

[2017-03-24 09:38] wojtek-t commented on #42188
It seems like a matter of setup, configuration etc. Even now, e.g. kubelet has IIRC at least 2 open connections to API server all the time. And it works for us in 5000-node clusters too. Also http2 helps with that (I can't remember when we enabled it by default - I think it was 1.5).

[2017-03-24 09:51] robinmonjo commented on #23255
@dashpole, I have more info on my container causing the issue. It is the container that runs our biggest app (a rail + react app, bundled in a unique container). We have 15 containers of this app running simultaneously on our cluster.

This app is packaged by a heroku buildpack so everything is packaged (gem npm packages, ruby ...). When I run `du` manually in the upper container directory, it is

[2017-03-24 10:55] javapapo commented on #29330
+1

Kubernetes : 1.5.3
Cloud Provider: AWS
Installed with : kube-aws

`etcd-2               Unhealthy   Get https://xxxx.compute.internal:2379/health: remote error: tls: bad certificate
etcd-1               Unhealthy   Get https://xxxxxx.compute.internal:2379/health: remote error: tls: bad certificate
etcd-0               Unhealthy   Get https://xxxxxx.compute.internal:2379/health: remote error: t

[2017-03-24 11:11] edevil commented on #43516
I have a fairly verbose log (-v=10) of a kubelet that for some reason stops reporting its status to the API. I'm a bit weary of posting it here because it surely contains private info, but if someone from the kube team wants to take a look I can e-mail it.

[2017-03-24 11:32] edevil commented on #43516
Here is a snippet from the kubelet log where we can see the gap in kubelet_node_status logs starting at 07:47:35:
[code]

[2017-03-24 11:46] jayunit100 commented on #43593
I wonder wether it would have self-healed eventually ?

[2017-03-24 11:54] crassirostris commented on #43442
Turns out there's another problem: cluster doesn't have fluentd running and logging test fails with the following message:

[code]

[2017-03-24 11:55] deads2k commented on #39325
Was it too large to fit in the margin?

[2017-03-24 11:57] nerdyglasses commented on #24669
I have just done all this and it almost works for me. But it seems like the bundle isn't 100% working.
I know that android has problems with SSL when the chain isn't present. I am using a PostiveSSL which has one certificate, 2 intermediate and one root certificates like described above.

GCE now accepts my certificate but android is still causing issues.
I have searched almost every place for a s

[2017-03-24 12:06] jayunit100 commented on #43617
probably should be a proposal?

[2017-03-24 12:08] kargakis commented on #43613
Works fine, make sure you are using HEAD and you have cleaned up the discovery docs
rm -rf .kube/cache

[2017-03-24 12:25] JulienBalestra commented on #42909
For me the following setup doesn't works: https://github.com/JulienBalestra/enjoliver/blob/ebc091f7c424d3f51c08dede6d88d16bf2babf60/matchbox/ignition/etcd-member-kubernetes-control-plane.yaml#L325

Without the `--runonce` flag it works.
I need to setup the **kube-apiserver** before running the definitive **kubelet** to avoid several issues in case of reboots / upgrades.

ATM I see the following op

[2017-03-24 12:39] smarterclayton commented on #39325
Obviously left to the reader.  Just, I don't know, try numbers until one is executed by the processer and recreates.  Pretty sure it's between 2^2^32 and 2^2^36.

Will paste when I get in

[2017-03-24 12:39] bprashanth commented on #24669
For good or bad desktop chrome will do it's darnest to try and thread some valid path through your cert chains from the provided leaf to a valid root. I think android chrome is a little more strict. Maybe https://www.ssllabs.com/ssltest/ will show you where the chain breaks?

[2017-03-24 12:41] baracoder commented on #7890
I have a similar issue. I would like to use ceph-fuse because of requent problems with the kernel driver.

Using life cycle hooks is a valid workaround but the issue is still valid because the docker images need to be modified this way. Is it possible to use privileged init containers for this somehow?

[2017-03-24 13:14] liggitt commented on #43611
requires https://github.com/kubernetes/test-infra/pull/2330

[2017-03-24 13:15] liggitt commented on #43610
requires https://github.com/kubernetes/test-infra/pull/2330

[2017-03-24 13:27] dmcnaught commented on #39028
For me restarting docker on the node is quicker that provisioning a new node @paolomainardi
I am seeing this mostly on the node running a prometheus container (kube-prometheus)

[2017-03-24 13:32] jayunit100 commented on #43516
Im working @ reprducing this as well we expect it to be a bigger problem @ certain scales.  Thanks for all this info .

[2017-03-24 13:34] jayunit100 commented on #43516
The kubelet NotReady issues continue to confuse folks, these also floating around:
- https://github.com/kubernetes/kubernetes/issues/32522
- https://github.com/kubernetes/kubernetes/issues/31415

I think we definetely need a Readiness diagnostic e2e test.

[2017-03-24 13:39] deitch commented on #41711
@bgrant0607 this is _not_ a duplicate. #30337 refers to being able to upsert configmaps from files, so I can do `kubectl apply configmap mmap --from-file=/some/file`.

This issue refers to the ability to do it declaratively from a `yml` config file.

[2017-03-24 13:41] gnufied commented on #43592
okay, I need to look bit deeper. But I *do* need to provide more details:

First thing is - this happened in openshift-3.4.1.10 not with latest kubernetes release.

Secondly - I was using `oc new-app` feature which automatically creates a PVC.  I am going to close this and investigate this from openshift perspective. Sorry for the noise.

[2017-03-24 13:41] #43592 closed

[2017-03-24 13:42] smarterclayton commented on #39325
https://github.com/smarterclayton/origin/tree/generic_trigger

    $ go test ./pkg/image/controller/trigger/ -test.v -test.run=TestTriggerController$ -alsologtostderr -args -v 4

The run should complete within ~0.1s - instead, it'll pause for 5s (while we wait for the queue to drain) and then error and exit.  You can trigger a SIGABRT to see the goroutines running once glog output stops showing up

[2017-03-24 13:43] smarterclayton commented on #39325
[code]

[2017-03-24 13:48] smarterclayton commented on #39325
It looks like it happens at around N=10k on the loop - the queue then eats the rest of the modifications (yay for deduping work!).

[2017-03-24 14:19] paolomainardi commented on #39028
Restarting the node is not always the answert, sometimes Docker can get
stucked because disk is full or broken inodes.

Il giorno ven 24 mar 2017 alle 14:28 Duncan McNaught <
notifications@github.com> ha scritto:

[2017-03-24 14:19] crassirostris commented on #43442
WAI, GKE problem, should be fixed by the end of Monday

[2017-03-24 14:39] justinsb commented on #43600
OK, putting this into the 1.6 milestone (for now) for triage.

kops definitely has a lot of users using HA (including myself).  I believe kube-up GCE shipped HA in 1.5.

Is there is a group driving the effort of making etcd3 the default for 1.6, where we can discuss options?

[2017-03-24 14:41] nerdyglasses commented on #24669
@bprashanth thx for ssllabs.com!
I would never have figured it out without it.
I had the same intermediate cert twice in a row.

many many many thx. you have saved a long weekend!

[2017-03-24 14:42] xiang90 commented on #43600
Say I am a users running etcd 2.3.7 already, I can follow https://github.com/coreos/etcd/blob/master/Documentation/upgrades/upgrade_3_0.md to upgrade my cluster. Upgrading the etcd cluster and migration the data is really two separate steps. And they can be done separately.

I assume the etcd start() step is there for preparing/validating the migration for a certain way. But I am not sure.

I woul

[2017-03-24 14:59] wojtek-t commented on #43600
@xiang90 - ok, I understand now, thanks for explanation.

I agree that upgrading to 3.0.17 is potentially separate step from migrating to v3. But we have never do any more extensive validation if "2.3.7" works with Kubernetes and if "3.0.17 in v2" works with Kubernetes. That's we wanted to make this a single step.

In theory, yes you can first upgrade your etcd to 2.3.7, then to 3.0.17 using v2 an

[2017-03-24 15:00] wojtek-t commented on #43600
@mml @lavalamp

[2017-03-24 15:01] gyliu513 commented on #40131
Two question for this:
1) Why use `host Network`? In Docker, there is no need to use hostPort mapping feature when using docker `host Network`.
2) With host port mapping, how to handle the case of pod reschedule to another node? I know you may  have some haproxy outside the Kubernetes cluster, but if the pod was rescheduled to other node, who will tell haproxy the node has been changed?

I also fi

[2017-03-24 15:12] k8s-merge-robot opened #43626 "IsUp {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-alpha-features/6790/
Failed: IsUp {e2e.go}

[code]

Previous issues for this test: #33702 #42520

[2017-03-24 15:21] xiang90 commented on #43600
OK. Now I understand why we couple the upgrade+migration together. I do not think this is not ideal, but yea, I got your point. For the wide community the script might not work well, as it assumes a few thing about how they run etcd and with what flags they run it.

I will give it a closer look later today to see where we can improve.

@justinsb

We (some CoreOS folks) recently created an etcd cha

[2017-03-24 15:22] ethernetdan commented on #43610
@liggitt I'm wondering if there might be an additional issue here, looks like we have been having [similar failures](http://storage.googleapis.com/k8s-gubernator/triage/index.html?text=s%3A%20%22expected%20pod%20#882f68fd678e76ae3137) for a while now with the etcd upgrade tests.

[2017-03-24 15:27] wojtek-t commented on #43600
I'm not trying to say it's ideal. In the ideal world we should have upgraded to 2.3.7 year and a half ago. And yes, I agree this script doesn't solve all setups - it's purpose was more to show what we are doing as a reference point and make people to adjust it to their needs.

Great. Thanks.

[2017-03-24 15:31] ethernetdan commented on #43612
From [triage](http://storage.googleapis.com/k8s-gubernator/triage/index.html?text=No%20SSH%20tunnels%20currently%20open#98caa0dacd872f18a78c) this looks like it has flaked before.

[2017-03-24 15:38] piosz commented on #42917
@bgrant0607 ack
@kargakis @smarterclayton my intent was to not suggest any solution but only to describe our use case, which seems to be pretty common. I added some example of the solution to show that it's a solvable problem, but I'm not devoted to it.

[2017-03-24 15:38] ethernetdan commented on #43611
Looks like [these failures](http://storage.googleapis.com/k8s-gubernator/triage/index.html?text=failed%20to%20get%20logs%20from#8811541c43f138d7e064) are pretty isolated to upgrade tests.

[2017-03-24 15:48] xiang90 commented on #43600
@wojtek-t

From etcd community standing point, we wish users to try and upgrade to the latest stable release (try out alpha!). We would like to address users' concern about upgrades. So far, we really do not see significant complaints from users. We do not see users' complaints from our general survey. And from what we can tell, a significant amount of users do run recent versions of etcd.

Unfort

[2017-03-24 15:52] ethernetdan commented on #43611
Also we didn't start seeing this until the ABAC default change merged so I think @liggitt's change might help

[2017-03-24 15:53] liggitt commented on #43611
it will definitely help with the jobs mentioned in the description of https://github.com/kubernetes/test-infra/pull/2330

[2017-03-24 15:57] dashpole commented on #23255
@robinmonjo i'm afraid i'm not aware of a workaround right now, other than increasing iops.  This is a known issue, but without an easy solution since the Kubelet needs those stats to function.  In the future, the solution will be to use a local persistent volume, but sadly that is a long way off.

Another possibility would be to use remote storage mounted as a volume, but it sounds like this may

[2017-03-24 16:01] ethernetdan commented on #43612
Here are possible fixes from previous failures: https://github.com/kubernetes/kubernetes/issues/12167#issuecomment-161049902

@cjcullen you're help here would be super appreciated

[2017-03-24 16:10] ethernetdan commented on #43470
Looks like `gke-gci-1.6-gci-1.5-downgrade-cluster` is now failing with the same error as #43612, progress!
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.6-gci-1.5-downgrade-cluster/136

Now it looks like `ci-kubernetes-e2e-gce-1.6-1.5-downgrade-cluster` has the static IP allocation issue:
[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenk

[2017-03-24 16:11] ethernetdan commented on #43612
@ixdy could you PTAL if these fixes make sense here?

[2017-03-24 16:36] timothysc commented on #43607
This is pretty impactful, we should enqueue this for the next SIG meeting.

[2017-03-24 16:38] timothysc commented on #27548
So we'll need to factor out the multi-op through the storage interface and make certain it can apply throughout the registry.

@wojtek-t @lavalamp @hongchaodeng and myself would need to get the base in place to support this.

[2017-03-24 16:40] erictune opened #43628 "Provision/deprovision non-mountable storage"
Scenario:  I want to stamp out many instances of a microservice.  Each microservice instance is a collection of objects (service(s), deployment(s), pod(s) etc).  Also, each instance needs some object storage.

Object storage is storage that you access via code rather than the filesystem.  Examples are: AWS s3, GCS, Minio, Rados+Radosgw, etc.

What if Kubernetes had a Kind that represented  an allo

[2017-03-24 16:41] erictune commented on #43628
@matchstick
@kubernetes/sig-storage-feature-requests

[2017-03-24 16:41] erictune commented on #43628
@kelseyhightower

[2017-03-24 17:04] krousey commented on #43610
This is a storage flake combined with incorrect logging. This is the pv
upgrade test's test pod failing to start because mounting the pv failed.

On Mar 24, 2017 8:22 AM, "Dan Gillespie" <notifications@github.com> wrote:

[2017-03-24 17:12] jayunit100 commented on #43332
im going to close this for now @ravisantoshgudimetla please re-open this.  My understanding is that you no longer are planning on implementing the `--force` function.

[2017-03-24 17:12] #43332 closed

[2017-03-24 17:12] saad-ali commented on #43628
To expand on this, a possible quick and dirty way to achive this:
* We could create an [external provisioner](https://github.com/kubernetes-incubator/external-storage#external-provisioners) that creates and delete object storage.
* A storage class can then be created pointing to this provisioner.
* Then when a PVC is created the external provisioner is triggered to create the storage.
* After the

[2017-03-24 17:12] saad-ali commented on #43628
CC @kubernetes/sig-storage-feature-requests

[2017-03-24 17:26] ixdy commented on #43587
Tests started passing again after pushing a new v5.1.1 image. Thanks @jessfraz for alerting us, and thanks @MrHohn for triaging it!

[2017-03-24 17:26] #43587 closed

[2017-03-24 17:34] ncdc commented on #43611
I haven't looked at the logs, so sorry if this is just noise, but the symptom (couldn't get logs b/c pod doesn't exist) looks very similar to what happened when the kubectl taint e2e tests were running in parallel instead of serial.