[2017-09-13 17:36] heckj commented on #52430
/sig docs

[2017-09-13 17:40] yujuhong commented on #52107
These pods do *not* have memory limits. They were causing system OOM issues and stressed the nodes -- the nodes are expected to be slow and unresponsive. If any of the pods under test are on those nodes, it'd not be surprising the status reporting latency is long.  Of course, the OOM events could cause second effects and increase the load on etcd.

As for why these pods were using so much memory a

[2017-09-13 17:44] liggitt commented on #52265
@tallclair the current mechanism of generating the GCE audit doesn't seem maintainable if we want to automatically pick up new resources. is there a reason we didn't exclude specific resources instead?

[2017-09-13 17:50] crassirostris commented on #52433
@dchen1107 Docker splits messages of length 100k into messages of 16k. Is this expected?

[2017-09-13 17:53] geekofalltrades commented on #31891
Hi all,

We just hit this issue in Kubernetes 1.6.0.

We have three EC2 instances in a development Kubernetes cluster on which our developers are constantly setting up and tearing down container workloads that have PersistentVolumes associated. PostgreSQL databases with a pv; three-member etcd clusters with three pvs; etc. The instances have been up for about five months, and according to AWS supp

[2017-09-13 18:00] ericchiang commented on #52433
(Note this isn't blocking the submit queue just the e2e tests, but we still need to get this green for the release)

[2017-09-13 18:03] tallclair commented on #52265
The purpose of this list was to exclude third party resources, since we don't know what kind of data they could include (could be sensitive PII, could be large). Perhaps we could build in a way of identifying 3rd party resources.

[2017-09-13 18:05] tallclair commented on #49653
I'm moving this to v1.9 because, while important, it shouldn't block the 1.8 release, and doesn't need to be match the release schedule. It still might be worth backporting the improvements to the 1.8 branch though.

[2017-09-13 18:05] crassirostris commented on #52433
Reproducible on GCP on COS in head, in versions 1.6.9 and 1.7.5, suspect it might be related to the COS image

[2017-09-13 18:06] tallclair commented on #48561
Good progress has been made on this, but the remaining issues aren't blockers. Moving to 1.9, but maybe we should consider this complete?

[2017-09-13 18:07] liggitt commented on #52265
We really don't want that distinction leaking into external layers like admission

[2017-09-13 18:09] tallclair commented on #52265
In that case maybe an e2e test to catch when a new group is added, but the list isn't updated.

[2017-09-13 18:09] dashpole commented on #52433
This seems to be the correct behavior now.  This comment: https://github.com/moby/moby/issues/34620#issuecomment-328094239 seems to indicate this was a recent change.  I suspect that this changed when we upgraded from docker 1.11 to 1.12.

[2017-09-13 18:13] crassirostris commented on #52433
That is a problem, major-major problem that is going to break a lot of people. Is there a way to turn this off?

/cc @fgrzadkowski @piosz

[2017-09-13 18:13] tnozicka commented on #40224
/assign

[2017-09-13 18:14] derekwaynecarr opened #52436 "Pods marked for deletion on nodes that are unreachable should not charge to quota"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Traditionally, we charge to quota all pods that are in a non-terminal phase. We have a user report that noted the behavior change in kube 1.5 for the node controller to no longer force delete pods whose nodes have been lost. Instead, the pod is marked for deletion, and the reason is updated to state that the node is unreac

[2017-09-13 18:15] crassirostris commented on #52433
@tagomoris @repeatedly @edsiper Could you please help? Is there a plugin already to recombine docker output?

[2017-09-13 18:16] gnufied commented on #31891
Did you ever force detach a volume from those instances and did not reboot?

What does xenstore-ls report?

[2017-09-13 18:17] enisoc commented on #48031
Making progress... we're not number 1 anymore:

[code]
http://storage.googleapis.com/k8s-metrics/flakes-latest.json

Hopefully it will go down more after yesterday's PR.

[2017-09-13 18:23] crassirostris commented on #49653
@tallclair OK, though I hope it will mostly be addressed this week

[2017-09-13 18:25] vishh commented on #52412
Kubernetes provides a feature called Quota that is expected to help distribute compute resource capacity between namespaces. Support for GPU quota will not land anytime soon because we need better APIs to represent an extensible resource in the Quota sub-system.

How serious of an issue is this @pineking ? You should be able write your own quota admission controller that interacts with your user G

[2017-09-13 18:26] crassirostris commented on #48561
@tallclair Everything except for the discussion about api-aggregator (and/or federation?) is done, I think it makes sense to close this one and one a new one later

[2017-09-13 18:27] derekwaynecarr commented on #52436
/sig api-machinery

[2017-09-13 18:28] krzyzacy commented on #52353
Thanks to @krousey spotted this:
[code]

cc @smarterclayton as the original author

[2017-09-13 18:30] balajismaniam commented on #52351
@lichuqiang `RemoveContainer` is called as a part of internal container lifecycle pre-stop and post-stop hooks (see https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_container.go#L573 and https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_container.go#L809).

Regarding Kubelet restarts, it is a known issue and captured in

[2017-09-13 18:34] krzyzacy commented on #52353
/assign @mehdy
https://github.com/kubernetes/kubernetes/pull/52438

[2017-09-13 18:35] krzyzacy commented on #52353
whoops
/assign @mbohlool

[2017-09-13 18:57] igorpeshansky commented on #52433
/cc @igorpeshansky.

[2017-09-13 19:05] itajaja commented on #1806
This article might be relevant for the discussion: https://applatix.com/case-docker-docker-kubernetes-part-2/

basically, to not circumvent the kubernetes abstraction, they favor the dind approach over mounting the socket. What do you think about the solution? does it have any flaws?

[2017-09-13 19:12] liggitt commented on #52265
checking via a test would be preferable

[2017-09-13 19:22] cjyar commented on #1806
@itajaja DinD has equivalent security problems to DooD, as far as I can tell. DooD allows you to escape from your container by manipulating dockerd on the host. In contrast, DinD doesn't work unless your dind container is running in privileged mode. In privileged mode, you can escape by directly manipulating the host's /dev entries.

[2017-09-13 19:33] rrati commented on #51640
This has become a non-issue since #52169 has merged.  Closing.

[2017-09-13 19:33] #51640 closed

[2017-09-13 19:34] itajaja commented on #1806
true. but dind doesn't break the kubernetes abstraction as dood does. with dind, running docker is no different than anything else, with dood, you are actually polluting the host's docker, and it's by nature more intrusive

[2017-09-13 20:03] tmjd commented on #39823
I've been doing some testing with the first two options and chatted with @fasaxc and @caseydavenport about these potential options for adding some forwarding rules. They all are a certainly lot more specific than the previous blanket all ALLOW.

1. Forward any traffic sourced or destined for the clusterCIDR.
[code]
2. Forward traffic that has the KUBE-MARK-MASQ set and conntrack rules to accept th

[2017-09-13 20:06] nickperry commented on #52433
@dashpole the 16k split behavior was introduced in Docker 1.13.0 via https://github.com/moby/moby/pull/22982

 @crassirostris the only log drivers that currently handle the partial flag are journald and json-file. The behavior of the json-file driver is to only add a \n to the end of log message if the partial flag is not set on the message. https://github.com/moby/moby/blob/master/daemon/logger/j

[2017-09-13 20:09] dashpole commented on #52433
Thanks for the correction @nickperry, we did just move to 1.13 (not 1.12)

[2017-09-13 20:11] crimsonfaith91 opened #52441 "PVC ProvisioningFailed error when following wordpress and mysql tutorial"
**What happened**:
When following this [tutorial](https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/), i encountered a `ProvisioningFailed` error for PVC.

**How to reproduce it (as minimally and precisely as possible)**:
(1) Download YAML files as instructed by the tutorial
(2) Follow the tutorial until reaching `kubectl create -f mysql-deployment.yaml`
(

[2017-09-13 20:19] jimmycuadra commented on #44518
FWIW, I've only seen this happening when a pod is using host networking/exposed as a port on the host. Could be a red herring.

[2017-09-13 20:25] luxas commented on #51841
Update, https://github.com/kubernetes/kubeadm/milestone/3 contains four items:
 - Enabling upgrade e2e tests (assignees: @jessicaochen @jamiehannaford @luxas)
 - Making sure the kubelet doesn't panic (potential release-blocker): https://github.com/kubernetes/kubernetes/issues/52242 (assignee: @dixudx @luxas to verify)
 - Merging https://github.com/kubernetes/kubernetes/pull/52085 (assignee: @abgwo

[2017-09-13 20:32] crimsonfaith91 commented on #50795
@ericchiang I believe this has been fixed. Do you mind to verify it?

[2017-09-13 20:33] crassirostris commented on #52433
OK, since this is not a problem with Kuberentes per se, I'll move the offending test out of the blocking suite, while working on the resolution of this problem

@nickperry Thanks for clarification

[2017-09-13 20:39] ericchiang commented on #50795
@crimsonfaith91 yep the current upgrade tests mark this as passing

https://k8s-testgrid.appspot.com/master-upgrade#gke-gci-1.7-gci-master-upgrade-cluster-new

/close

Thanks!

[2017-09-13 20:39] #50795 closed

[2017-09-13 20:42] liggitt commented on #50767
@seh sorry for the delay... talked through this with some of the sig node folks as well. Adding write permissions to the `admin` and `edit` roles and read permissions to the `view` role makes sense to me.

[2017-09-13 20:51] crassirostris opened #52444 "Supporting docker log splitting in Kubernetes logging integrations"
Follow-up of https://github.com/kubernetes/kubernetes/issues/52433

Docker 1.13 introduced a change into the logging mechanism (https://github.com/moby/moby/pull/22982), that split the log lines longer than 16K into chunks of no more than that. Current default logging integrations (fluentd-gcp and fluentd-es addons) do not support that and this might result in broken ingestion, i.e. when JSON pars

[2017-09-13 20:55] ixdy commented on #51571
@pipejakob I think if we merge https://github.com/kubernetes/kubernetes/pull/52432 + https://github.com/kubernetes/test-infra/pull/4547 this should fix.

[2017-09-13 21:14] MaikuMori commented on #45626
Just had this in GKE running:
[code]

[2017-09-13 21:22] seans3 opened #52446 "k8s.io/kubernetes/pkg/kubectl/apps.TestApps test continually failing in Test Grid"
/kind bug

test **k8s.io/kubernetes/pkg/kubectl/apps.TestApps** continually failing.

[Test Grid Failure](https://k8s-testgrid.appspot.com/sig-cli#unit-integration-cmd&sort-by-failures=&exclude-non-failed-tests=)
`
<testsuite tests="1" failures="1" time="1.033" name="k8s.io/kubernetes/pkg/kubectl/apps">
<properties>
<property name="go.version" value="go1.8.3"/>
</properties>
<testcase classname="a

[2017-09-13 21:22] seans3 commented on #52446
@kubernetes/sig-cli

[2017-09-13 21:24] seans3 commented on #52446
/sig cli

[2017-09-13 21:44] igorpeshansky commented on #52444
Presumably this should be done in the Docker fluentd logging driver... The discussion on https://github.com/moby/moby/issues/34620 seems to be leaning that way...

[2017-09-13 21:50] enj commented on #52185
I have worked closely with OpenShift's installer/upgrade team on their use of the `oc adm migrate storage` command.  I will say running it automatically pre and post upgrade is the trivial part.  The command is surprisingly good at finding random edge cases.  It could be turned into a controller of sort, though I am not sure what state the controller would try to drive the system from/to.

[2017-09-13 22:01] kow3ns commented on #51306
@jianglingxia VolumeClaimsTemplates are not PVC's, and validation using the exiting PVC validation code would fail.

1. If you try to name your PVC in the VolumeClaimsTemplate the controller will overwrite the name. The PVC(s) for a StatefulSet Pod is named by the controller using a convention. The convention is important as it ensures that the CloudProvider provisions volumes correctly according

[2017-09-13 22:04] nikhiljindal commented on #52138
Looking at the PR description, it seems that https://github.com/kubernetes/kubernetes/pull/52350 adds tests for ReclaimPolicy only. What about MountOptions?

[2017-09-13 22:07] madhusudancs commented on #52315
PR https://github.com/kubernetes/test-infra/pull/4545 is the short-term fix.

[2017-09-13 22:15] timothysc commented on #44100
@caseydavenport I believe this is the source of multiple race condition issues we have seen across multiple versions of calico.

On some distro(s) e.g. fedora there is a kernel panic condition that I'm trying to record.

On other environments it causes some race conditions on cluster bootstrap.

I'm reopening this issue as a higher priority bug.

/cc @sjenning @ncdc @derekwaynecarr

[2017-09-13 22:22] geekofalltrades commented on #31891
The only volumes I've force-detached from these instances are the ones that got stuck in attaching.

Here's xenstore-ls on one of the three:

[code]

[2017-09-13 22:22] jburwell commented on #43800
@isuftin as a complete aside, you recreation steps are some of the best I have ever seen.  I wish every bug report was so thorough.

[2017-09-13 22:24] jpbetz opened #52453 "Enable custom etcd repository/image to be specified for kube-up and e2e scripts"
/kind feature
**What happened**:

The`ETCD_IMAGE` environment variable can be provided to cluster scripts such as `cluster/kube-up.sh`, but it only allows the version of etcd to be specified.

For example,

[code]

will deploy the kubernetes master with an etcd container running `gcr.io/google_containers/etcd:3.0.17`. But there is no way to specify that an image from an alternate registry should b

[2017-09-13 22:25] jpbetz commented on #52453
/assign @jpbetz

[2017-09-13 22:26] tallclair opened #52454 "AllowPrivilegeEscalation missing API validation"
**What happened**:
The new `AllowPrivilegeEscalation` feature has silent defaulting logic performed in the kubelet, related to whether the container requests privileged mode or the CAP_SYS_ADMIN capability. Instead, the kubelet should just use the value of the field if specified, and validation should be added to prevent setting the field to true for privileged or CAP_SYS_ADMIN containers.

/cc @j

[2017-09-13 22:27] BaluDontu commented on #46442
At least in case of vSphere, I think we should delete the node from kubernetes cluster when the node is powered off in vSphere.

**Approach1:**
I observe the following issues when the node is not deleted by the node controller and is in "NotReady" state:
- The pods on the powered off node are not **instantaneously** created on the other available node. Only after 5 minutes timeout, the pods will b

[2017-09-13 22:28] jpbetz commented on #52453
/sig apimachinery

[2017-09-13 22:28] fejta-bot opened #52455 "pr:pull-kubernetes-federation-e2e-gce flaked 94 times in the past week"
### Flaky Job: pr:pull-kubernetes-federation-e2e-gce
 Flakes in the past week: **94**
 Consistency: **86.80%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Federation Up | 95 |
| DumpFederationLogs | 89 |
| FederationTest | 5 |

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2017-09-13 22:28] jessfraz commented on #52454
crap sorry about this

[2017-09-13 22:29] gnufied commented on #31891
And did you reboot the instances after that?

[2017-09-13 22:29] derekwaynecarr commented on #52351
priority/important-soon

[2017-09-13 22:32] caseydavenport commented on #44100
@timothysc is there an issue somewhere for the specific failures and races you're seeing with Calico CNI v1.10.0?

Would be interested in seeing a log file to help diagnose.

[2017-09-13 22:32] hanikesn commented on #31891
Never ever force detach an EBS volume. When stuff got stuck we always manually connected to the machine and umounted the volume so it could properly be detached. When you force detach a volume always reboot the node.

[2017-09-13 22:33] derekwaynecarr commented on #52331
@lichuqiang @choury - are you able to submit a fix?  thank you for reporting the issue.

[2017-09-13 22:37] derekwaynecarr commented on #52323
is this an issue unique to a particular container image?

have you tried increasing the --runtime-request-timeout value?

[2017-09-13 22:42] derekwaynecarr commented on #24070
@mrunalp - can you weigh in here for what is possible w/ cri-o?

[2017-09-13 22:43] timothysc commented on #51496
/sig network

[2017-09-13 22:52] derekwaynecarr commented on #52032
fwiw, this has been a discussion for us recently.

for clusters where we needed to control this, we can optionally run the following:
https://github.com/projectatomic/docker-novolume-plugin

but its aggressive in that it denies the ability to start a container that uses an image volume.

for cri-o, we want the runtime to support "ignore" image volumes, which i think is the right long term behavior

[2017-09-13 22:55] derekwaynecarr commented on #51187
@sjenning -- any idea here?  is this a containerized kubelet?

[2017-09-13 22:56] derekwaynecarr commented on #51333
this is expected behavior.  previously, the node controller would have deleted these pods, but the behavior changed in kube 1.5 to require the admin to forceful delete the pod per the above comment.

[2017-09-13 22:56] #51333 closed

[2017-09-13 22:56] foxish commented on #52441
As discussed offline, this is something that needs to be turned on when using local-up-cluster (https://github.com/kubernetes/kubernetes/blob/master/hack/local-up-cluster.sh#L229).
However, it may help us to include some documentation on how hostpath must be turned on using a controller-manager flag.

cc @kubernetes/sig-storage-misc

[2017-09-13 22:56] kow3ns commented on #49135
@bgrant0607 Controllers don't create evictions or drain. For each controller, workload owners specify the desired number of disruptions during rollouts, rollbacks, turn ups, and turn downs using the parameters of the corresponding objects.

A PDB represents a contract between workload owners and cluster admins so that the former has a means to specify the tolerated number of disruptions to the lat

[2017-09-13 23:03] pwittrock commented on #51253
cc @seans3

[2017-09-13 23:18] spiffxp opened #52457 "failing: [sig-instrumentation] Cluster level logging implemented by Stackdriver should ingest logs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

EDIT: this probably shows it better
https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=AAAAAAAAAAAAAA

I noticed this test started failing across all PR's in the pull-kubernetes-e2e-gce-bazel job this morning.

First failure I noticed:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs

[2017-09-13 23:21] spiffxp commented on #52457
@kubernetes/sig-instrumentation-test-failures FYI

[2017-09-13 23:25] spiffxp commented on #52457
https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=AAAAAAAAAAAAAA shows the full list of jobs this is hitting

[2017-09-13 23:27] caesarxuchao commented on #51643
I'm going to push the master branches for all these repos.

I chose to ignore the [problem](https://github.com/kubernetes/kubernetes/issues/51643#issuecomment-329070707) with the kube-aggregator master branch because I believe not many external projects import  it.

I chose to ignore the apiserver master branch [issue](https://github.com/kubernetes/kubernetes/issues/51643#issuecomment-329074931) b

[2017-09-13 23:28] yujuhong commented on #52457
dup of #52433

[2017-09-13 23:28] geekofalltrades commented on #31891
@gnufied, @hanikesn
These instances have never been rebooted. Doing so would disrupt certain "pet" pods that are running on them.

Again, the only volumes I ever force-detached were volumes that were stuck in attaching _recently_ - volumes that were already affected by this bug. AFAIK they were never attached in the first place in that case, so there would have been nothing to see from the OS side

[2017-09-13 23:29] spiffxp commented on #52457
thanks, not sure how I didn't see the original issue, closing as dupe

[2017-09-13 23:29] #52457 closed

[2017-09-13 23:35] caesarxuchao commented on #51643
For the record, this is [script](https://gist.github.com/caesarxuchao/bcca4360d98c42783a66750816fd6a11) I'm going to run to push all the masters.

[2017-09-13 23:41] gnufied opened #52458 "Add e2e tests for volume operatin metrics"
We should have some e2e tests that verify volume operation metrics are accurate.

cc @msau42

/sig storage

[2017-09-13 23:41] gnufied commented on #52458
/assign

[2017-09-13 23:41] gnufied commented on #52458
https://github.com/kubernetes/features/issues/349

[2017-09-13 23:47] jessfraz commented on #52454
I assigned myself

[2017-09-13 23:51] jingxu97 opened #52459 "Add e2e test for feature of exposing PVC usage metrics"
In 1.8, we added a new feature https://github.com/kubernetes/features/issues/363  to expose PVC information through summary API so user can check the volume belongs to which PVC. We should add e2e test in summary_test.go under test/e2e_node.

[2017-09-14 00:12] caesarxuchao commented on #51643
Done. Masters updated.

[2017-09-14 00:17] MrHohn opened #52462 "kube-proxy's init container stuck in `Waiting` phase while kube-proxy container is running"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Saw kube-proxy pods stuck in a weird state on a long running cluster as below:
[code]

Logged on those unready kube-proxy pods and found kube-proxy container is in fact running (iptables entries is being updated).

`kubectl describe` the unready kube-proxy pods show init container stuck in `Waiting` phase.
[code]

**What

[2017-09-14 00:26] FisterDotOrg commented on #24472
@justinsb Is this even necessary now that AWS supports propagating tags?

[2017-09-14 00:47] smarterclayton commented on #46442
The vsphere cloud provider has enough information to make the correct
decision about what to do to a stopped instance, since it should recognize
a stopped node via the API.  For instance, the cloud controller could drain
pods and detach volumes from stopped nodes immediately.

However, tims slow reboot metaphor holds.  What if you want to stop
instances to idle machines and then bring them back wh

[2017-09-14 00:53] k82cn commented on #52166
/cc @bsalamat for user experiences :).

[2017-09-14 00:53] smarterclayton commented on #1806
We are currently exploring a local node service proxy that exposes the docker build/push/pull apis, authenticates the source pod through something unforgeable, and provides various API level controls on what is allowed (forcing the cgroup parent field on docker builds to be in the calling pods cgroup).  That allows us to charge builds to the callers cgroup without giving the pod privilege.

[2017-09-14 01:05] bgrant0607 commented on #1806
@smarterclayton Would that work with other container runtimes?

[2017-09-14 01:27] repeatedly commented on #52444
In fluentd logging driver side, journald driver approach is better: https://github.com/moby/moby/blob/80edccda708c6771824c245b4d634c2a9ce29795/daemon/logger/journald/journald.go#L110
I'm not sure buffering partial message in logging driver is good or not...

In fluentd side, implementing `in_docker_forward` or `filter_docker_xxx` is needed.

[2017-09-14 01:55] jianglingxia commented on #51306
thanks @kow3ns
I want to know that the Following some Questions：
1、if use dynamic pvc ，can Force binding pv？for example，pv0 binding pvc0，pv1 binding pvc1；because dynamic can not ensure that，maybe pv0 binding pvc1.later the k8s can implement it？
2、why I Manually Create the pvc named ”www-nfs-0” and binding one pv before creating statefulset that the volumeclaimtemplate's name it www and statefulset

[2017-09-14 01:59] NickrenREN opened #52463 "Requirements for local ephemeral storage to graduate to Beta"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
In 1.8, the feature is alpha

**What you expected to happen**:
Graduate to beta in 1.10

**Requirements** :

In 1.9
- [x]  e2e test for quota (owner @NickrenREN) #52523

- [x] e2e test for limitrange (owner @NickrenREN) #52523

 - [x] e2e test for downward api (owner @NickrenREN) #52523

 - [x] kubereserved related(f

[2017-09-14 02:00] NickrenREN commented on #52463
/assign @NickrenREN

[2017-09-14 02:00] NickrenREN commented on #52463
/kind feature

[2017-09-14 02:04] m1093782566 opened #52464 "Refactor service/endpoints list/watch part among different proxy modes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup

**What happened**:

There are huge duplication among different proxiers. For example, the service/endpoints list/watch part in iptables, ipvs and windows(to be get in soon).

I think the more places this is replicated the harder it becomes to keep correct.

**What you expected to happen**:

I assume we may need to refactor it and let di

[2017-09-14 02:09] pineking commented on #52412
@vishh I hope this feature can be implemented as soon as possible. that's great if @cmluciano can give some sample code.

BTW， I search the issues and find https://github.com/kubernetes/kubernetes/issues/46639#issuecomment-324414548, does this mean the Quota feature will be released until v1.10 or 6 months later ?

[2017-09-14 02:10] m1093782566 commented on #52464
/kind cleanup

[2017-09-14 02:36] m1093782566 commented on #52464
I think the following struct/function can be consumed by different proxiers:

[code]

[2017-09-14 02:47] yanxuean commented on #45419
I hit a same issue. I suspect the reason is that ntpd correct current time.
I has saw that the ntpd correct time.

[code]

[2017-09-14 02:48] wackxu commented on #52391
I can help fix it.

[2017-09-14 02:51] xiangpengzhao commented on #52391
@wackxu seems like @guangxuli is already working on it :)

[2017-09-14 03:01] liggitt commented on #52454
Assigning to the milestone to fix before release

[2017-09-14 03:05] liggitt commented on #52081
Your binding is to a clusterrole with the name pod-reader, but you defined a role, not a clusterrole

[2017-09-14 03:06] wackxu commented on #52391
@xiangpengzhao ok

[2017-09-14 03:23] liggitt commented on #48629
@gaballard can you provide the following:
* output of `kubectl version`
* output of `kubectl api-versions`
* the yaml of the cluster role you were creating

[2017-09-14 03:23] liggitt commented on #48628
@gaballard can you provide the following:
* output of `kubectl version`
* output of `kubectl api-versions`
* the yaml of the cluster role you were creating

[2017-09-14 03:25] vklonghml opened #52468 "`kubectl get nodes` does not work with admission controller NodeRestriction"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
1)i add a log line in the
noderestriction module with admission.go, as follows:
 86 func (c *nodePlugin) Admit(a admission.Attributes) error {
 87         nodeName, isNode := c.nodeIdentifier.NodeIdentity(a.GetUserInfo())
 88         glog.Infof("@hml in noderestriction nodename=%s", nodeName)

2)start kube-apiserver with --admission

[2017-09-14 03:28] liggitt commented on #51328
the type field on the secret object indicates it is a service account token with the value `kubernetes.io/service-account-token`. all service account tokens are managed by the token controller.

[2017-09-14 03:28] #51328 closed

[2017-09-14 03:31] vklonghml commented on #52468
/sig area/admission-control
/sig sig/auth

[2017-09-14 03:33] BruceShenC commented on #52016
@wongma7 , when will release 1.8? Is there plan? thanks a lot!

[2017-09-14 03:36] warmchang commented on #45419
mark.

[2017-09-14 03:37] warmchang commented on #51919
mark.

[2017-09-14 03:39] koko990 commented on #45727
It looks like that kubelet keeps registering to apiserver, and the function “func (kl *Kubelet) registerWithAPIServer()”   go into a dead cycle. I think you should check apiserver Listen  address and kubelet  address for correctness

[2017-09-14 03:52] pineking commented on #52323
No, that's not relevant to particular container image.

I did not try to increase the --runtime-request-timeout value, the default one should be 2 minutes. that's a good idea to have a try, since I think the issue is caused by docker, not kubernetes. (I close this issue first).
the docker daemon could not answer the kubernetes request in the limit runtime-request-timeout time, may be due to some h

[2017-09-14 03:52] #52323 closed

[2017-09-14 04:02] darktall commented on #44518
I am running like 5 pods in a worker node

[2017-09-14 04:06] darktall commented on #44518
I have three different kubernetes versions running  1.2, 1.5.2, 1.5.6 with same coreos version. i am not seeing this issue on 1.2 ,1.5.2. But only seeing on 1.5.6 version. kubelet  start up configuration is same for all three clusters.

[2017-09-14 04:29] du2016 commented on #52400
thanks

[2017-09-14 04:29] #52400 closed

[2017-09-14 04:34] m1093782566 commented on #52464
Then, we may need to introduce an abstract layer for `proxyEndpointsMap` & `proxyServiceMap`? I think that's the most challenging part of this work.

[2017-09-14 04:46] saurfangg commented on #45010
We're running into this issue right now trying to use Ceph.

Is the amount of of people using rbd that low that this is not gaining any traction? rbd is currently broken in K8S because of this.

[2017-09-14 05:06] pwittrock commented on #52433
/approve

[2017-09-14 05:12] dixudx commented on #51919
Dup of #45419.

[2017-09-14 05:55] dixudx commented on #52468
@vklonghml This may not be a bug. Please be aware of log level.

[2017-09-14 06:19] choury commented on #52331
@derekwaynecarr I can fix it as above, but I don't know if it is a good solution.

[2017-09-14 06:45] xiangpengzhao commented on #52430
FYI: https://github.com/kubernetes/community/issues/116

/cc @bgrant0607 @philips

[2017-09-14 06:50] radeksimko commented on #51328
Hi @liggitt
I think there may be little bit of misunderstanding - let me try to explain the situation with an example below.

The main confusion (at least for me) comes from the fact that anybody can create a custom token and attach it to a service account:

[code]
[code]
[code]

While both secrets (`custom-secret-not-managed` & `hello-kubernetes-token-brq4h`) are deleted along with the associated

[2017-09-14 06:55] bgrant0607 commented on #12428
@surajssd I don't think anyone is working on this, but there are some tricky issues to sort out, like where to get credentials for private registries, and there are higher-priority issues to tackle, such as bug fixing, testing, etc. Reach out to the kubernetes-sig-cli googlegroup if you're looking for areas to contribute to in kubectl

[2017-09-14 06:55] hzxuzhonghu opened #52472 "local cluster apiserver and scheduler cpu > 100% and memory utilization too large."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
my local cluster apiserver and scheduler cpu and mem utilization percentage too large
**What you expected to happen**:
these 2 component cpu and mem utilization not so high
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
[code]

[pprof cpu](https://gist.github.com/hzxuzhonghu/df

[2017-09-14 06:56] hzxuzhonghu commented on #52472
[code]

[2017-09-14 07:03] yu-yang2 commented on #51919
close by duplicate to #45419

[2017-09-14 07:03] #51919 closed

[2017-09-14 07:19] lichuqiang commented on #52351
@balajismaniam  Well, I understand business in  `internal container lifecycle`, what I wonder is upper behavor, that is, the behavior of `sync` in containerRuntime, When a container with restartStrategy `Always` exits,  It seems that the runtime try to restart new container directly, without calling things like `killContainer`.  So I failed to see the place where remove related hooks called in thi

[2017-09-14 07:35] mitake commented on #19972
@byronyi sorry for my very late reply. I understood your opinion. Currently I'm not facing emergent problems so let's close this issue for now. But if the standardization efforts in the networking side can be mature in the future, having a way of controlling them from k8s would be valuable, I think.

[2017-09-14 07:35] #19972 closed

[2017-09-14 07:37] vklonghml commented on #52468
@dixudx i add --v=5 with kube-apiserver

[2017-09-14 07:38] vklonghml commented on #52468
i know what is the problem, because the admission controller could not admit the list(get, watch) request, so it can't admit the list request, so i will close this problem

[2017-09-14 07:38] #52468 closed

[2017-09-14 08:05] #46298 closed

[2017-09-14 08:09] pierreozoux commented on #1806
My 2 cents:
We have a staging k8s cluster, and this is where our jenkins run, using kubernetes agents.
We opted for one dedicated docker only node, and we are really happy so far!
It is running ubuntu, and docker, without any k8s things. It is just on the same AWS VPC.

It allows us various things:
 - we can login to any registry without configuring the full cluster
 - we can use the docker daemon

[2017-09-14 08:22] deimosfr commented on #39824
Any news on this topic ? As far as I know, it's not possible to rolling restart a statefulset and as deleting all pods at once is not handled by the PodDisruptionBudget, what is the recommended solution then?

How could we rolling restart a statefulset or deployments with a PodDisruptionBudget ?

[2017-09-14 08:51] codrut51 commented on #52081
So I should use a clusterrole instead of a role?

[2017-09-14 09:01] soltysh commented on #49653
I agree with Tim, Vik if you make it, it'll merge and you rock :) But it should not block the release on it.

[2017-09-14 09:01] soltysh commented on #49653
I agree with Tim, Mik if you make it, it'll merge and you rock :) But it should not block the release on it.

[2017-09-14 09:03] crassirostris commented on #49653
Yeah, sure, I agree with that

[2017-09-14 09:08] mozhuli commented on #36657
@quinton-hoole  I also meet the same problems when i use 1.7.5 in GCP, the dns records still remains when service has no healthy endpoints or the service has been deleted or cluster has been unjoined.

And there a another bug. When i unjoin cluster2, the service,deployment etc. created by federation still remain in the cluster2.
[code]

[2017-09-14 09:09] verb opened #52474 "GCE e2e master detection fails to print error message"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

/kind bug

**What happened**: Attempting to run e2e test on GCE without cluster started fails with stack trace

**What you expected to happen**: A useful error message to be printed

**How to reproduce it (as minimally and precisely as possible)**:
Without a cluster started:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernete

[2017-09-14 09:11] verb commented on #52474
/sig testing
/assign @verb

[2017-09-14 09:12] verb commented on #52474
This happens because gcloud returns an error when a resource isn't found and ginkgo-e2e.sh sets errexit

[2017-09-14 09:35] m1093782566 commented on #52464
I find the most tricky part is

[code]

Currently `serviceInfo` and `endpointsInfo` are proxy-specific, and if we keep them being proxy-specific, it's difficult to move the duplicated codes outside.

[2017-09-14 09:42] wojtek-t commented on #52464
Can we hide them behind some interface?
I very quickly looked into "serviceInfo" and the interface wouldn't be big,

Obviously the interface will not expose every information for those, because they will be different.
But then in the code using them, we can actually cast the interface to proxy-specific type.

I think that should actually work.

[2017-09-14 09:44] surajssd commented on #12428
@bgrant0607 oh ok, thanks for the info.

[2017-09-14 10:02] vadapalliravikumar commented on #22232
Were you able to get past this error @ntquyen. If yes, can you please share the details.

[2017-09-14 10:10] shiywang commented on #47976
@pwittrock I think @zjj2wry just made a pr to address that, it lgtm, but I'm not sure if @smarterclayton has some concern here, since he said in [commit](https://github.com/kubernetes/kubernetes/pull/22285/files#diff-a7196c94eb0ca7d377b6daf05d2b37cfL93)

[2017-09-14 11:08] m-no-2017 opened #52481 "Critical POD failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:
- bug report

/kind bug
/sig scheduling

**What happened**:
- POD is not able to be scheduled again

**What you expected to happen**:
- POD should start (as it always did the past 13 days)
**How to reproduce it (as minimally and precisely as possible)**:
- I don't think that anyone else can reproduce this behaviour (err msg below)

**Anything else we n

[2017-09-14 11:11] mkmik opened #52482 "Make it possible to override the timeout on a GetLogs call in the client"
/kind feature

I would like to be able to override the timeout on a `GetLogs` call in the Go client typed API.

The Go client typed pods API has a method GetLogs:

[code]

This Request embeds the http client setting obtained from the config, e.g.:

[code]

The only option I have is to clone the config, create two clientsets.

Note: the request has a `Timeout` field but it only sets the `timeout=..

[2017-09-14 11:20] m-no-2017 commented on #52481
The specific POD is not able to be scheduled on any host in the cluster, even after a complete fresh setup of kubernetes (v1.7.2).

As we are new to k8s, we are not able to figure out how we can even attempt to solve this (very critical) issue.

Anomalies:
- POD can be run with plain docker on every host
- no host able to run the container with k8s (same error msg from above on each)

Attempts:
-

[2017-09-14 11:25] zjj2wry commented on #47976
@smarterclayton feel free close my PR if this on purpose

[2017-09-14 11:48] liggitt commented on #52081
Yes

[2017-09-14 11:52] jamiehannaford commented on #52276
@henriquetruta What image or codebase are you building from? The `cloud-controller-manager` binary in master has `--kubeconfig` flag defined [here](https://github.com/kubernetes/kubernetes/blob/master/cmd/cloud-controller-manager/app/options/options.go#L91).

[2017-09-14 12:12] jamiehannaford commented on #31118
Looks like this was fixed by https://github.com/kubernetes/kubernetes/commit/fa5551b80d41cc62d127e40f9135574eed0a0dee. Can we close @dims?

[2017-09-14 12:16] zjj2wry commented on #20941
ref #52484

[2017-09-14 12:32] mmikulicic commented on #52482
/sig api-machinery

[2017-09-14 12:33] ravisantoshgudimetla commented on #48147
@thehufbro . I tried reproducing the issue with a single master with label and no taints but was unsuccessful. The pod got scheduled on master.(I tried with current master branch and 1.6.3). The only thing that I can think of is - Are masters unschedulable?

[2017-09-14 12:34] m1093782566 commented on #52464
Thanks for your quick response, @wojtek-t

I will try it and will let you know updates :)

[2017-09-14 12:42] m-no-2017 commented on #52481
Issue is solved:

The Problem was a malformed string (lots of special characters like ? ´ ` _.@ ... etc) in a k8s secret (generic, opaque). After a change of the secrets content it worked.

I must admit, that the error message was kind of misleading and did cost a ton of nerves due to a complete cluster teardown (2x times) in a productive environment.

[2017-09-14 12:42] #52481 closed

[2017-09-14 12:49] dims commented on #31118
ah cool. closing

/assign

[2017-09-14 12:49] dims commented on #31118
/close

[2017-09-14 12:49] #31118 closed

[2017-09-14 13:00] ravisantoshgudimetla commented on #51313
@shenlanse Can you please elaborate what you mean by pod delete event is lost?

If the node is deleted manually pod would be deleted as well(In 1.3 nodecontroller would have done reconciliation from node status in 1.5 the behaviour has changed). SchedulerCache gets the data from kubelet. If the kubelet is down(as the node is down), schedulercache's entry should be reconciled almost immediately. Ca

[2017-09-14 13:05] vadimeisenbergibm opened #52487 "dnskube and dnsmasq fail to achieve healthy state when RBAC is applied on minikube"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`dnsmasq` fails to achieve healthy state and is killed and restarted infinetely.
`kubectl describe` contains:
`Liveness probe failed: HTTP probe failed with statuscode: 503`

**What you expected to happen**:
`dnsmasq` to achieve the healthy state

**How to reproduce it (as minimally and precisely as possible)**:
`minikube

[2017-09-14 13:07] vadimeisenbergibm commented on #52487
/sig network

[2017-09-14 13:19] mattjmcnaughton commented on #52024
Seems like there isn't much interest - going to close this. Of course happy to revisit if other people feel like it could be helpful later on :)

[2017-09-14 13:19] #52024 closed

[2017-09-14 13:21] fohnwind commented on #43993
Hi，I have this issue on Windows Server 2016 with docker 17.06.1-ee-1 and Kubelet v1.7.3.
Is there any solution so far?
Thanks

[2017-09-14 13:40] mattjmcnaughton commented on #52271
@xiangpengzhao that sounds like a good plan to me - @cblecker, what would you think of that is a fix? My understanding is that that would be similar to what was in place before, except before the list was missing artifacts we wanted `make clean` to remove.

[2017-09-14 13:44] ConnorDoyle commented on #52351
@lichuqiang Yes, that's exactly correct. The linked PR with the fix for this issue also helps the situation you described to converge faster.

[2017-09-14 13:45] timothysc commented on #44100
We believe https://github.com/projectcalico/calico/issues/1105 is symptomatic of this issue.

We have also witnessed: https://paste.fedoraproject.org/paste/OXLjFPmS6L4u71WP4NS2ng which leads us to believe that a race condition still occurs on network namespace cleaning.

An attempt to repro with level 5 logging and kernel dumping produces: https://drive.google.com/open?id=0ByIl30A0PqL5M1p4U3JIRzhW

[2017-09-14 13:47] sjenning commented on #51187
The name of the controller is `cpu,cpuacct` in RHEL/CentOS.  This is due to a kernel change that flipped the ordering in v3.14 (not the intent, but a side effect of the patch)

https://github.com/torvalds/linux/commit/3ed80a62b

I believe if you use `--cgroup-driver=systemd` however, this is abstracted away and should work.

Also docker 17.05.0-ce is not the version of docker in the repos for RHEL

[2017-09-14 13:56] jdumars commented on #51841
ack - I'll keep an eye on this as best I can.  Please let me know directly if things change for better or worse.  I have a lot of irons in the fire at the moment.  :)

[2017-09-14 14:17] timothysc commented on #25625
Yes.

[2017-09-14 14:19] timothysc commented on #52185
Per conversation on sig-api-machinery, there was general consensus that it makes more sense to have this as a controllers responsibility with some set of strategies.

[2017-09-14 14:46] sjenning commented on #44100
@timothysc that kernel stack trace is fun.  Are you trying to mount an nfs share from a transient (non-host) network namespace?  Is this a containerized kubelet trying to do the mount?

It does seem like the the network namespace is being removed from underneath nfs even though there is reference counting on the net namespace struct.  Maybe we aren't taking the reference under lock or there is a d

[2017-09-14 14:51] timothysc commented on #44100
It's running the e2e's when it bombs, so I'm not entirely certain "what" it's doing.

It's not containerized kubelet, it's kubeadm install of 1.7.5 kubelet on f26.  It's a single node cluster (master + worker)

[2017-09-14 15:01] dims commented on #52276
@ss22ever @henriquetruta - Seems to work for me, see lines 265,266 shows the options. admittedly that's the first step, i still have to try running it

http://paste.openstack.org/show/621114/

Here's my repository:
https://github.com/dims/k8s-cloud-provider/

[2017-09-14 15:14] timothysc commented on #44100
@sjenning here is the last flushed e2e.log for that data - https://drive.google.com/file/d/0ByIl30A0PqL5U2g4WW1iTjg5VE0/view?usp=sharing

[2017-09-14 15:14] munnerz commented on #49536
Will github.com/kubernetes/code-generator also be tagged as part of this? That'd make it a lot easier to generate client libs etc. that are compatible with released versions of client-go/apimachinery/apiserver. & will there be a release-1.7 of code-generator if so? It'd be great to stop depending on master! 😄

[2017-09-14 15:20] quinton-hoole commented on #36657
We should add an e2e test for the unhealthy endpoints and deleted federated service cases.  Those events should cause the DNS records to be updated/deleted.

As for unjoining a cluster, that by design does not automatically delete anything from the cluster.  You should do that before unjoining the cluster.

[2017-09-14 15:35] guangxuli commented on #52166
@abitrolly hmm, yes, i think you are right after checking the message and the code details, it indeed exist a little confusing at some extent. `NodeUnderMemoryPressure ` aim to find node no under memory pressure . Any way i will fix it.

[2017-09-14 15:40] floreks opened #52490 "API server service proxy does not use HTTPS"
**Environment**:
- Kubernetes version (use `kubectl version`): 1.7.5
- Install tools: kubeadm
- OS:  Ubuntu 17.04

**Is this a BUG REPORT or FEATURE REQUEST?**: Possibly a bug
/kind bug
/sig auth

**What happened**:

While trying to access application's HTTPS endpoint through api server service proxy I got an error:
[code]

I'm using simple service:
[code]

Then trying to access `https` port:
`htt

[2017-09-14 15:46] pires opened #52491 "apiserver crashes with --secure-port=0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Started apiserver with flag `--secure-port=0`. The process crashes with the following logs:
[code]

**What you expected to happen**:

apiserver is running but doesn't generate TLS certificates automatically and is not listening on a secure port.

**How to reproduce it (as minimally and precisely as possible)**:

Just set

[2017-09-14 15:46] pires commented on #52491
/sig api-machinery

[2017-09-14 15:48] pires commented on #52491
/kind bug

[2017-09-14 15:55] fasaxc commented on #39823
@tmjd If we add some more rules, we shouldn't put them in the top-level chain since it makes them hard to manage/clean up.  Best to add them to a chain that kube-proxy owns that is jumped to from the top-level chain.

[2017-09-14 16:02] guangxuli opened #52492 "[e2e test] pull-kubernetes-e2e-gce-bazel failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
pull-kubernetes-e2e-gce-bazel failed in PR https://github.com/kubernetes/kubernetes/pull/51889 for many times. But seems not relevant to this PR. A couple of PR tests also generates the failure.

ref https://github.com/kubernetes/kubernetes/pull/52479, https://github.com/kubernetes/kubernetes/pull/52406, https://github.co

[2017-09-14 16:02] guangxuli commented on #52492
/sig testing

[2017-09-14 16:08] perotinus commented on #39482
I agree with @nikhiljindal's second comment: why does this need to be in kubefed join? It's easy enough to use kubectl after the fact to add the labels. If we want to support something like this in kubefed join, it seems like it would be more expedient to allow it to take a template yaml for a cluster.

[2017-09-14 16:12] rphillips commented on #42752
Are workload APIs still on target for GA in 1.9? Are there any blockers?

[2017-09-14 16:30] shyamjvs commented on #51714
@nicksardo Friendly ping. This e2e is still failing (https://k8s-testgrid.appspot.com/google-gce-scale#gce-scale-correctness) and it's part of release-blocking suite.

[2017-09-14 16:31] aleksandra-malinowska commented on #52492
Closing as this is a duplicate of #52433

[2017-09-14 16:39] bboreham commented on #39823
@tmjd `kube-proxy` doesn't necessarily know the ClusterCIDR.  I could see your proposal making sense in conjunction with #46508.

[2017-09-14 16:40] shyamjvs opened #52494 "Failing stackdriver logging e2e tests on large clusters"
The following e2e tests related to sd-logging are failing on our release-blocking 5k-node correctness tests:
- Cluster level logging implemented by Stackdriver should ingest system logs from all nodes (failing continuously) - seems like timeout during ingesting logs
- Cluster level logging implemented by Stackdriver should ingest logs (failed in the last run)

This is part of the correctness suite

[2017-09-14 16:40] shyamjvs commented on #52494
@crassirostris Could you PTAL?

[2017-09-14 16:41] shyamjvs commented on #52494
Ref https://github.com/kubernetes/kubernetes/issues/51718

[2017-09-14 16:46] shyamjvs commented on #51702
@piosz @DirectXMan12 Friendly ping. So what do we plan to do here? Are we fine with the test failing / do we use some other monitoring mode / .. ?
Friendly reminder that this is part of our large-cluster release-blocking tests.

[2017-09-14 16:47] shyamjvs commented on #52494
Link to the relevant job - https://k8s-testgrid.appspot.com/google-gce-scale#gce-scale-correctness

[2017-09-14 16:48] yujuhong commented on #52494
The test is failing everywhere because of a change in docker 1.13: #52433
@crassirostris has a PR #52442 to move the test to a non-blocking suite

[2017-09-14 16:50] shyamjvs commented on #52494
Btw - Is "[sig-instrumentation] Cadvisor should be healthy on every node." failing also expected? I see that it's mostly green (except the last run) on the normal correctness job - https://k8s-testgrid.appspot.com/google-gce#gce

[2017-09-14 16:52] MrHohn commented on #52226
Fixed via https://github.com/kubernetes/test-infra/pull/4544. Test is now passing.

[2017-09-14 16:52] #52226 closed

[2017-09-14 16:56] shyamjvs opened #52495 "ESIPP [Slow] e2e tests failing on large cluster release-blocking job"
The following that have been consistently failing on our 5k-node tests (https://k8s-testgrid.appspot.com/google-gce-scale#gce-scale-correctness):
- ESIPP [Slow] should handle updates to ExternalTrafficPolicy field
- ESIPP [Slow] should only target nodes with endpoints
- ESIPP [Slow] should work for type=LoadBalancer
- ESIPP [Slow] should work from pods
- Services should be able to create an intern

[2017-09-14 16:57] shyamjvs commented on #52495
@bowei Assigning this to you. Feel free to redirect as apt.

[2017-09-14 16:58] shyamjvs commented on #52495
Ref https://github.com/kubernetes/kubernetes/issues/51718

cc @nicksardo

[2017-09-14 17:03] shyamjvs commented on #52495
Btw I'm seeing that almost all of those tests failed with the same kind of reason - `Timeout waiting for service "<xyz>" to have a load balancer`
@nicksardo Does it look like the same as https://github.com/kubernetes/kubernetes/issues/51714 to you?

[2017-09-14 17:06] nicksardo commented on #52495
Yes, I think we can close #51714 as it doesn't seem to be an internal LB specific issue.

[2017-09-14 17:06] bgrant0607 commented on #52430
I just marked that page as obsolete. It will be removed once we ensure all important topics are covered by docs.

[2017-09-14 17:06] #52430 closed

[2017-09-14 17:14] shyamjvs commented on #52495
We can probably close that issue. So is it the problem with load balancer not getting created with custom subnets?
Btw - is there a fix on flight for this already (I vaguely remember seeing a pr around it)?

[2017-09-14 17:17] shyamjvs opened #52496 "HPA e2e tests failing on large clusters"
The following that have been failing on our 5k-node tests (https://k8s-testgrid.appspot.com/google-gce-scale#gce-scale-correctness):

- [HPA] Horizontal pod autoscaling (scale resource: CPU) [sig-autoscaling] ReplicationController light Should scale from 1 pod to 2 pods
- [HPA] Horizontal pod autoscaling (scale resource: CPU) [sig-autoscaling] ReplicationController light Should scale from 2 pods t

[2017-09-14 17:17] shyamjvs commented on #52496
@mwielgus Could you PTAL into this or redirect as apt? It's a release-blocker.

[2017-09-14 17:18] heckj commented on #52430
@bgrant0607 There's some doc updates that need to happen with that - there are 4 links from within the current kubernetes.io docs to that page if we're removing it:

 - `_data/tasks.yml`:    path: https://github.com/kubernetes/kubernetes/wiki/User-FAQ#how-do-i-change-the-size-of-my-cluster/
 - `docs/home/index.md`:* [User FAQ](https://github.com/kubernetes/kubernetes/wiki/User-FAQ)
 - `docs/tasks/

[2017-09-14 17:19] shyamjvs commented on #52496
xRef https://github.com/kubernetes/kubernetes/issues/51718

[2017-09-14 17:20] quinton-hoole commented on #40536
@luxas Nothing beyond what it linked in this issue, that I am aware of.

[2017-09-14 17:24] bgrant0607 commented on #52430
@heckj Thanks. Please file an issue on the kubernetes.github.io repo.

[2017-09-14 17:24] shyamjvs commented on #52496
The tests seem to be passing on the normal correctness job - https://k8s-testgrid.appspot.com/google-gce#gce (except the latest run)
but they're failing on large cluster and the reason seems to be timeout waiting for scaling to happen.

[2017-09-14 17:29] luxas commented on #51571
Did this get fixed?

[2017-09-14 17:33] nicksardo commented on #52495
The custom subnet problem was fixed. The latest test run shows the kube controller is being sent the subnet name.  I don't know why the LBs are timing out - still trying to make sense of the kube-controller-manager log.

[2017-09-14 17:44] ixdy commented on #51571
@luxas no, #52432 is waiting for lgtm/approval.

[2017-09-14 17:46] mwielgus commented on #52496
If i have to guess it is heapster who is failing to provide metrics. HPA itself has no direct dependency on the number of nodes in the cluster. Assigning to @piosz .

[2017-09-14 17:57] bgrant0607 commented on #52185
We need to figure out downgrades, also, which are similar. Right now, a downgrade will strand storage of any new APIs that are created.

[2017-09-14 17:58] tmjd commented on #39823
Very good point @bboreham, I should have mentioned that the options I presented are assuming clusterCIDR is set.  If clusterCIDR is not defined then the first option is not possible (except for the wide open option that these rules are attempting to avoid).  I guess on options 2 & 3 if it was not set then a conntrack rule could be added without the clusterCIDR. I would appreciate feedback on the d

[2017-09-14 18:01] kow3ns commented on #42752
@rphillips 1.9 is still the plan

[2017-09-14 18:02] yujuhong commented on #28154
Closing due to age.

[2017-09-14 18:02] #28154 closed

[2017-09-14 18:04] liggitt commented on #52185
Brand new resources will get orphaned on downgrade, but should be inert.

New versions of existing resources shouldn't start persisting with the new version until n+1 versions from when they are released (or rolling HA API upgrades won't work). If we only support single version downgrade, there shouldn't be any issues.

[2017-09-14 18:07] smarterclayton commented on #1806
Our plan was to allow docker build API to be translated into some set of container runtimes as necessary.  I.e. docker build API call translated into buildah direct to the kernel, docker build, or custom third party stuff.  I think it's reasonable to say that we would try to make "docker build API the endpoint" work well on a Kubernetes node (and play well with the kubernetes resource constraints,

[2017-09-14 18:16] kow3ns commented on #39824
@deimosfr It is possible to perform a rolling update on a StatefulSet as of 1.7. In 1.8 RollingUpdate is the default update strategy for all core workload API objects (Deployment, DaemonSet, ReplicaSet, and StatefulSet). Each of these provides a way to manage the disruptions that the application will tolerate (except for StatefulSet where the controller will only introduce one disruption at a time

[2017-09-14 18:19] mml commented on #51355
/priority critical-urgent

[2017-09-14 18:20] mml commented on #51355
@jpbetz can we mark this fixed?

/assign

[2017-09-14 18:24] nicksardo commented on #52495
Looking at the project's GCP activity log, it takes ~13 minutes for the 'add instance to target pool' operation to complete. I'm wondering if the test timed out before GCP could catch up.  It also seems that the service controller didn't even attempt to create the internal LB.

[2017-09-14 18:25] mengqiy commented on #47976
I think this means the change is not good.

Link the potential fix here https://github.com/kubernetes/kubernetes/pull/52009

[2017-09-14 18:28] #33583 closed

[2017-09-14 18:28] kow3ns commented on #51306
1. This [tutorial](https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/) demonstrates how you can manually bind a PVC to a PV.
2. If you manually create a PVC that corresponds to naming convention and VolumeClaimsTemplate of the StatefulSet's Pod it will use that PVC/PV.
3. If I understand what you are trying to do, you should create a volume with 4GB and b

[2017-09-14 18:31] cblecker commented on #52271
I think it's just a difference in assumption around what the command does. When I run "make clean" I want to ensure that that my working copy doesn't have any files that may change or interfere with a build. To me, this is any files we don't check into the repo. Maintaining a list of files that is safe to clean leaves us open to the list falling out of date (which it previously did, which is why t

[2017-09-14 18:32] nicksardo commented on #52495
@shyamjvs is this the first time these LB tests have been run in a scalability suite?

[2017-09-14 18:40] emaildanwilson commented on #39482
Yes, I also do not think this is required. The docs I added [here](https://kubernetes.io/docs/tasks/administer-federation/cluster/) show how to label clusters after the fact. I could see this as a nice to have for improving the admin experience. I also think this will naturally be a better experience once we get to using the cluster registry API.

[2017-09-14 18:43] kow3ns commented on #50340
@kargakis why not let GC happen in the background after deletion?

[2017-09-14 18:48] kargakis commented on #50340
@kow3ns you mean, delete the Deployment and let the ReplicaSets be deleted by the garbage collector as opposed to the revisionHistoryLimit mechanism?

[2017-09-14 18:52] piosz commented on #51702
It's not a release blocker - we are fine with the test failing. You can switch to `standalone` mode in large clusters.

[2017-09-14 18:53] kow3ns commented on #50363
@bsander are you implementing [this](https://www.elastic.co/guide/en/elasticsearch/reference/current/rolling-upgrades.html) workflow? If so, what mechanisms are you using to do it?

[2017-09-14 19:03] jeroenjacobs1205 opened #52498 "In a HA setup, rebooting one master node messes up the entire cluster."
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

In an HA setup, rebooting one of the master nodes messes up the entire cluster

**What you expected to happen**:

Rebooting a master node should have no impact in a HA setup

**How to reproduce it (as minimally and precisely as possible)**:

I have 3 nodes with the control-plane processes (kube-apiserver, kube-scheduler

[2017-09-14 19:14] wongma7 commented on #52138
those are coming also, I'll re-rename issue/point to another one 👍

[2017-09-14 19:31] timothysc commented on #44100
So there are two possible fixes here:
1. De-dupe the flood of overlapping deletes that call through to CNI (Which is weird imo)
2. Update calico-cni to handle this cleaner-er.  In the situation where we wedge a pod into a crashloop.

[2017-09-14 19:32] jeroenjacobs1205 commented on #52498
I'm gonna share as much of my config as I can.

These are the master servers:

- 192.168.60.10
- 192.168.60.11
- 192.168.60.12

The Loadbalancer ip is 192.168.60.150

This is the kubelet systemd unit file that is used by all nodes (both master- and worker nodes):

[code]
Here is a part of the kubeconfig file, as you can see, it connects to the loadbalancer:

[code]

This the kube-apiserver manifes

[2017-09-14 19:32] dcbw commented on #44100
@timothysc a while back I did https://github.com/kubernetes/kubernetes/pull/37036 which at least serialized the DEL calls so they don't overlap.  But this is how Kubelet currently works due to garbage collection, the sync loop, and clearing out containers.

We changed most CNI plugins to accept multiple DEL calls and be tolerant of missing namespaces on delete.

[2017-09-14 19:32] dcbw commented on #44100
@timothysc note that https://github.com/kubernetes/kubernetes/pull/37036 only serializes them in internal plugins.  If you use a remote runtime then you need to do that yourself, like I also did for CRIO in https://github.com/cri-o/ocicni/pull/5

[2017-09-14 19:37] caseydavenport commented on #44100
Yep, the Calico CNI plugin is also designed to be tolerant of a missing netns on delete. (see [this code](https://github.com/projectcalico/cni-plugin/blob/master/utils/utils.go#L49))

[2017-09-14 19:38] dcbw commented on #44100
@timothysc #37036 serializes calls on a per-pod basis, but it will (correctly IMHO) allow parallel operations for different pods.

[2017-09-14 19:38] kow3ns commented on #50340
@kargakis Yes. Maybe I'm missing something, but if you delete the Deployment and leave the ControllerRef on the RS it should get collected anyway no?

[2017-09-14 19:48] kargakis commented on #50340
Yes. IIRC, the reason behind deleting RSs first and then collecting the Deployment was that a Deployment may run a bunch of ReplicaSets in parallel. Essentially, people/processes should be able to monitor the Deployment and determine that things are getting cleaned up. Now, the kubectl reaper predates the work that has been done on server-side GC and I think that it's possible today to do this via

[2017-09-14 19:49] jcbsmpsn commented on #52114
Related to https://github.com/kubernetes/kubernetes/pull/52115, https://github.com/kubernetes/kubernetes/issues/52282

[2017-09-14 19:53] kow3ns commented on #51315
@janetkuo @kargakis All of the controllers currently work in the same way with respect to rollback. The behavior is documented. I don't see a strong reason to redesign how rollback works from a UI perspective.

[2017-09-14 19:58] jdumars commented on #51643
Current status on this?

[2017-09-14 19:58] kargakis commented on #51315
Let's add a link in this issue and close it, then.

[2017-09-14 20:01] jdumars commented on #52265
It looks like the last PR associated with this is on deck to merge soon.  Is there more to do here, or will that close out this issue?

[2017-09-14 20:12] joelsmith opened #52502 "Error when using journald log driver and FallbackToLogsOnError"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When using the legacy docker container runtime and when a container has `terminationMessagePolicy=FallbackToLogsOnError` and when docker is configured with a log driver other than `json-log` (such as `journald`), the kublet still tries to fetch the last few lines of the container logs from the json log file. When it trie

[2017-09-14 20:17] joelsmith commented on #52502
/sig node
#52503 is meant to fix this.

[2017-09-14 20:28] caesarxuchao commented on #50340
This is possible with the server-side GC. You need to set [DeleteOptions.PropagationPolicy](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L449) to "Foreground" when you delete a deployment, then the deployment object won't be deleted until all the dependent replicasets and pods are garbage collected.
[Doc](https://kubernetes.io/docs/

[2017-09-14 20:31] mtaufen commented on #42125
Please do not add any parameters that must be unique to an individual node to the KubeletConfiguration object (including the node's IP address). It must be possible to share a single ConfigMap containing this object between multiple nodes.

[2017-09-14 20:32] rantuttl commented on #44100
I've seen this same issue, and put a theory in #51554. I somehow believe that most of the CNI failures that occur following the original successful delete are merely symptomatic of an original failure to delete the sandbox container.

[2017-09-14 20:34] mtaufen commented on #42125
I'm also not sure if the Kubelet is the proper agent to configure this, as there is a lot of work towards moving networking code *out* of the Kubelet.
/cc @kubernetes/sig-network-api-reviews
/cc @thockin @dnardo

[2017-09-14 20:34] kargakis commented on #50340
Yeah, that's what I was thinking! Thanks @caesarxuchao! So we should be able to switch the kubectl reaper to use foreground policy but we need to make sure that it works with two versions older servers? Or is it one?
@caesarxuchao what's the version foreground policy was added?

[2017-09-14 20:42] mbohlool commented on #52202
/cc @jennybuckley

[2017-09-14 20:45] mbohlool commented on #52428
cc @lavalamp

[2017-09-14 20:48] lavalamp commented on #52436
See https://github.com/kubernetes/kubernetes/issues/51820

/sig scheduling

[2017-09-14 20:48] kargakis commented on #51704
We have been seeing this fairly often downstream. What's the effort required to fix the test w/o the move?

[2017-09-14 20:49] kargakis commented on #51704
/kind flake

[2017-09-14 20:49] liggitt commented on #51328
If you create such a secret with type=kubernetes.io/service-account-token, the token controller *will* manage it. It will populate the token portion of the data, it will delete it if it is not annotated with a service account name or if the referenced service account does not exist.

If you want to manage service account tokens, you should not run the service account token controller and should ru

[2017-09-14 20:50] lavalamp commented on #52428
Why is API Machinery tagged here? Is there something wrong with configmaps?

[2017-09-14 20:53] nicksardo commented on #51714
/close

[2017-09-14 20:53] #51714 closed

[2017-09-14 20:56] mbohlool commented on #52482
cc @roycaihw

[2017-09-14 20:58] ncdc commented on #52428
It is probably more appropriate to notify kubernetes/api-reviewers (I'm purposefully omitting the leading at sign to they don't actually get notified) when the time comes. There is no proposal to move away from a config file (supplied via a configmap).

[2017-09-14 20:59] mbohlool commented on #52491
/cc @cheftako

[2017-09-14 21:00] Rev1408 commented on #39849
I have the similar problem, but moving to NodePort did not solve it.
In my case I have a master and 2 nodes, from the nodes, i can access its' own pod internal ip. But I can't access the pod ip from another node or from master. master cannot even access the cluster-ip of the service

[2017-09-14 21:09] mbohlool commented on #45174
@jfoy do you have a code or test that we can confirm the proposed fix will be good.

[2017-09-14 21:10] lavalamp commented on #52428
Thanks. boilerplate response: SIG API Machinery doesn't own the *contents* of the API.

[2017-09-14 21:25] caesarxuchao commented on #52202
Currently the initializer plugin [rewrites](https://github.com/kubernetes/kubernetes/blob/v1.9.0-alpha.0/plugin/pkg/admission/initialization/initialization.go#L225-L227) `metadata.initializers.pending=[]` to `initializers=nil` on update, but that happens after it [rejects](https://github.com/kubernetes/kubernetes/blob/v1.9.0-alpha.0/plugin/pkg/admission/initialization/initialization.go#L213-L214)

[2017-09-14 21:27] vishh commented on #52412
Dates are TBD. For now, we are focussing on stabilizing core
implementation. I'd recommend running Initializer based extensions for now.

On Wed, Sep 13, 2017 at 7:10 PM, Qingsong Liu <notifications@github.com>
wrote:

[2017-09-14 21:28] nicksardo commented on #52495
It also appears that the forwarding rule creation operations are taking ~18 minutes at this scale. Not surprising that all the load balancers are timing out and the service controller never got around to creating the ILB.

[2017-09-14 21:34] fejta commented on #52446
@kubernetes/sig-apps-test-failures
/assign @michelleN @mattfarina @prydonius

@kubernetes/sig-cli-test-failures
@fabianofranz @pwittrock @adohe

Will someone from sig-cli or sig-apps please review the PR that @seans3 made to fix this outage?

[2017-09-14 21:42] pires commented on #52491
According to @liggitt and @lavalamp it seems this is no longer supported and so I suggest to remove this flag entirely. But I have another related question: if the apiserver generates TLS automatically (when no cert/key pair is provided) then how will the controller-manager provide CA certificate to the token being mounted in a pod? Seems to be mandatory for API client intra-cluster configuration.

[2017-09-14 21:45] liggitt commented on #52491
Changing the port is supported. Disabling it is not

[2017-09-14 21:51] mrajashree commented on #26050
Hi, I'm interested in contributing to kubernetes. Can I take this up if it's not already taken?

[2017-09-14 21:52] dims commented on #51899
@wojtek-t @shyamjvs : how bad is the situation here? Still a release blocker?

What's the next theory to test? ( json-iterator vs ugorji )

Thanks,
Dims

[2017-09-14 21:54] fejta commented on #52446
/assign @fabianofranz @pwittrock @adohe

[2017-09-14 21:59] ericchiang commented on #52353
Still seeing issues with https://k8s-testgrid.appspot.com/master-upgrade#gce-1.7-master-upgrade-cluster-new

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new/298

[code]

[2017-09-14 22:01] liggitt commented on #52491
If the API server generates a self signed certificate, it makes the certificate a CA, so the controller manager *can* reference it. However, I wouldn't expect actual deployments to use the "self sign at start" approach

[2017-09-14 22:04] caesarxuchao commented on #50340
1.6

[2017-09-14 22:05] pires commented on #52491
Thanks for clarifying.

[2017-09-14 22:05] krzyzacy commented on #52353
that's affected by https://github.com/kubernetes/test-infra/issues/4571 - still looking into that but should be functional after redeployment

[2017-09-14 22:10] krousey commented on #47379
@mbohlool This did occur there, but it doesn't seem to occur often (hasn't happened in that suite since). The major issue with the suite that you linked is the panic you fixed yesterday.

[2017-09-14 22:27] #51253 closed

[2017-09-14 22:27] #52265 closed

[2017-09-14 22:29] fejta-bot opened #52504 "Failure cluster [ea6679...] failed 262 builds, 61 jobs, and 1 tests over 1 days"
### Failure cluster [ea6679417165f10786e6](https://go.k8s.io/triage#ea6679417165f10786e6)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    61 jobs failed,    262 builds failed.
Failure stats cover 1 day time range '13 Sep 2017 18:14 UTC' to '14 Sep 2017 18:14 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 61 |

##### Top

[2017-09-14 22:29] fejta-bot opened #52505 "Failure cluster [244b71...] failed 202 builds, 22 jobs, and 1 tests over 1 days"
### Failure cluster [244b7148749b5091a4e4](https://go.k8s.io/triage#244b7148749b5091a4e4)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    22 jobs failed,    202 builds failed.
Failure stats cover 1 day time range '13 Sep 2017 18:14 UTC' to '14 Sep 2017 18:14 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-instrumentation]

[2017-09-14 22:29] fejta-bot opened #52506 "Failure cluster [042bdd...] failed 119 builds, 21 jobs, and 1 tests over 1 days"
### Failure cluster [042bddddb0ddedf8547f](https://go.k8s.io/triage#042bddddb0ddedf8547f)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    21 jobs failed,    119 builds failed.
Failure stats cover 1 day time range '13 Sep 2017 18:14 UTC' to '14 Sep 2017 18:14 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-instrumentation]

[2017-09-14 22:29] fejta-bot opened #52507 "Failure cluster [797506...] failed 96 builds, 2 jobs, and 1 tests over 1 days"
### Failure cluster [797506ce4f37e6090c80](https://go.k8s.io/triage#797506ce4f37e6090c80)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    2 jobs failed,    96 builds failed.
Failure stats cover 1 day time range '13 Sep 2017 18:14 UTC' to '14 Sep 2017 18:14 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| test setup | 2 |

#####

[2017-09-14 22:30] fejta-bot opened #52508 "Failure cluster [7880d4...] failed 96 builds, 2 jobs, and 1 tests over 1 days"
### Failure cluster [7880d43dc15b8b3935be](https://go.k8s.io/triage#7880d43dc15b8b3935be)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    2 jobs failed,    96 builds failed.
Failure stats cover 1 day time range '13 Sep 2017 18:14 UTC' to '14 Sep 2017 18:14 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DumpClusterLogs | 2 |

[2017-09-14 22:30] fejta-bot opened #52509 "Failure cluster [aee91b...] failed 79 builds, 12 jobs, and 1 tests over 1 days"
### Failure cluster [aee91b517d53c1a9097d](https://go.k8s.io/triage#aee91b517d53c1a9097d)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    12 jobs failed,    79 builds failed.
Failure stats cover 1 day time range '13 Sep 2017 18:14 UTC' to '14 Sep 2017 18:14 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 12 |

##### Top f

[2017-09-14 22:31] MHBauer commented on #52491
0 port should be 'pick me a random one'.

[2017-09-14 22:35] liggitt commented on #52491
No other kube component behaves that way… not sure the use case

[2017-09-14 22:41] MrHohn commented on #52096
Ref https://github.com/coreos/flannel/issues/734.

[2017-09-14 22:52] mengqiy commented on #23326
@DanyC97 You may be interested in this example: https://github.com/kubernetes/kubernetes/tree/master/examples/https-nginx

[2017-09-14 23:24] karabijavad commented on #45438
@thockin
here is the output from when i SSH in to one of my nodes. i also use a NodePort service, with an ingress pointing at it, and get 502s.
[code]

[2017-09-14 23:30] jiayingz opened #52510 "resources exported by a device plugin are not removed from kubelet node status after the device plugin is removed"
**What happened**:
When we delete a device plugin, its exported resources are still listed in node status.

**What you expected to happen**:
The resource should be removed after its device plugin is deleted.

**How to reproduce it (as minimally and precisely as possible)**:
The existing test/e2e/scheduling/nvidia-gpus.go has already been extended to reproduce this bug.

**Anything else we need to

[2017-09-14 23:33] jiayingz commented on #52510
/sig node

[2017-09-14 23:43] lavalamp commented on #7856
Man, this issue brings back memories.

From @bgrant0607's analysis a few comments up I think a possible interpretation is: it's not that conditions have been tried and found too hard, but rather they have been found too hard and mostly left untried.

I still think the ["outlook" model](https://github.com/kubernetes/kubernetes/issues/7856#issuecomment-99667941) deserves a trial.

I think promoting

[2017-09-14 23:44] enj commented on #51704
@kargakis perhaps we should just disable it downstream?

[2017-09-14 23:50] enj commented on #51704
https://github.com/openshift/origin/pull/16077 already changed the tests with the longer sleep and it is still flaking.

[2017-09-14 23:50] caesarxuchao commented on #51290
@liggitt could you elaborate on why we need to restrict to a "selector"?
Can we reserve a namespace called "initialization-exempted", and ask the cluster-admin to deploy initializer controllers there?

[2017-09-15 00:01] liggitt commented on #51290
I prefer one mechanism to two. Selection can cover targeting a specific namespace.

[2017-09-15 00:03] lavalamp opened #52511 "Authorization webhook is self-hosting-hostile"
https://kubernetes.io/docs/admin/authorization/webhook/#configuration-file-format

Problems:
1. I need to change an input file to turn on or off the webhook, requiring an apiserver restart. (dynamic configuration would be better)
2. The destination should be phrased in terms of a Kubernetes service, both to be consistent with other similar things (aggregator, admission control webhook), and becaus

[2017-09-15 00:08] davidopp commented on #52511
+1

I would imagine the most common way to implement a webhook authorizer will be as a pod running in the cluster. The configuration mechanism for the webhook authorizer should enable that use case.

Alternatively, removing it and telling people to use admission controller webhook is also reasonable (assuming it solves this problem, which I take from point 2 that it does), but then we need to make

[2017-09-15 00:13] liggitt commented on #52511
The interfaces and uses are different. The authorizer is consulted for more things than admission, including speculative "can user u perform verb v on resource r" queries.

[2017-09-15 00:19] filmil commented on #52511
+1 as one of the people who is looking into running an authorizer as a pod.

[2017-09-15 00:23] caesarxuchao commented on #51290
Will it be tedious to go over each initializer configuration to exempt a certain namespace?

[2017-09-15 00:26] ericchiang commented on #52511
Yeah this would be great.

Today we've got webhooks for token authentication, authorization, and audit events.

https://kubernetes.io/docs/admin/authorization/webhook/
https://kubernetes.io/docs/admin/authentication/#webhook-token-authentication
https://kubernetes.io/docs/tasks/debug-application-cluster/audit/#webhook-backend

Do we see any of these as less of a candidate for dynamic configuration

[2017-09-15 00:31] liggitt commented on #51290
I'd expect any exemption mechanism to be specifiable per initializer config, just like resource selection is

[2017-09-15 00:32] yujuhong commented on #51540
@JiangtianLi I asked because then you need one job to cross compile the binary, and another job to run tests on Windows. I don't know if this is currently supported by our test framework.

[2017-09-15 00:34] lavalamp commented on #52511
The thing they do is super similar, and the admission control webhook is still alpha and easy to change.

[2017-09-15 00:36] lavalamp commented on #52511
Hosts can manage this with their own admission control plugin + RBAC, I think.

[2017-09-15 00:43] pwittrock commented on #52446
@fetja #52382 is nearly identical and was supposed to resolve it.  There seems to be another issue.  @mengqiy and @seans3 are looking into it.

[2017-09-15 00:46] MrHohn commented on #52487
This doesn't seems relevant to RBAC.

@vadimeisenbergibm Could you share your configuration for `kube-dns` pod? `dnsmsaq`'s healthcheck is served by the [`sidecar` container](https://github.com/kubernetes/kubernetes/blob/85025ef7dc693c116efc5fbf199a4f7119c69186/cluster/addons/dns/kubedns-controller.yaml.base#L146-L169). And was kubedns container also restarting?

[2017-09-15 01:12] caseydavenport commented on #44100
I've dug into this a bit (see [slack convo](https://kubernetes.slack.com/archives/C09QYUH5W/p1505436158000099))

The summary is that the Calico CNI plugin has code in place to handle the out-of-order ADD->DEL, and that code seems to be working in the logs above for most cases.

However, there is a race condition in which sometimes the Calico policy controller overwrites the container ID metadata (

[2017-09-15 01:17] tatsuhiro-t commented on #52323
We got the similar issue.  After the boot, kubelet created 1 pod just fine, but few seconds later, every other pod is created without network IP address.  IP is empty. We use kubelet from hyperkube v1.7.5 image, and flannel CNI plugin.
It looks like log message is not entirely the same with this thread (log level difference?  We use --v=2).

There are several logs which indicates sandbox failure:

[2017-09-15 01:22] hzxuzhonghu commented on #51306
@kow3ns I think @jianglingxia just wonder the third case may not work as expected, if you create a volume with 1GB, but create a statefulset with VolumeClaimsTemplate of pvc requiring 4GB storage.
Because , statefulset controller only check the name of pvc.

[2017-09-15 01:25] guangxuli commented on #52492
Of course.

[2017-09-15 01:25] #52492 closed

[2017-09-15 01:28] FengyunPan commented on #52249
cc @dims

[2017-09-15 01:29] tallclair commented on #52511
Admission is an "AND", but authorization is an "OR". If the authorization webhook was moved to an admission plugin, then any user it authorized would also need to be authorized by a built-in authorization method.

/cc @cjcullen

[2017-09-15 01:37] shenlanse commented on #51313
1. delete pod by kube-apiserver
2. kube-apiserver is down before delete event is sent to watcher.

scheduleCache is not like threadSafeStore, if watch connection is reset, will relist and replace all content of it.  scheduleCache don't.

kube-scheduler only communicate with kube-apiserver directly.

[2017-09-15 01:44] FengyunPan commented on #52378
IMO, if getMetadataFromConfigDrive() is failed, we can call getMetadataFromMetadataService(). And if all of them are failed, we will return error. So this doesn't result in an error.

[2017-09-15 02:35] liggitt commented on #52490
Use `https://<master-ip>:6443/api/v1/namespaces/kube-system/services/https:some-service:https/proxy`

[2017-09-15 03:12] #52387 closed

[2017-09-15 03:15] warmchang commented on #23349
mark.

[2017-09-15 03:24] pineking commented on #52323
@tatsuhiro-t , perhaps your issue has a different reason. the issue I meet: the pod is always hanging in "ContainerCreating" status.

I have not resolved this issue. this issue does not occur when every container creating, it's occasional, perhaps the reason is a huge memory allocated or other heavy loads on the host. since I found khugepaged process at 100% CPU from "top" command output. that cau

[2017-09-15 03:40] karataliu commented on #50752
(Work Items Explained continued)
## Get ProviderID approach work
ProviderID is source for cloud controller manger to identify nodes, we need to ensure it works when switching from controller manager.

Related work:
Done: #51528, #51596, #51588, #51590, #51761
Pending: #51406

[2017-09-15 03:57] jianzhangbjz commented on #51313
schedulerCache does updates based on Pod events. I think the root issue is the why the kube-apiserver is down.

[2017-09-15 04:05] bgrant0607 commented on #23349
@yujuhong Can this be closed? If not, the title definitely needs to be changed

[2017-09-15 04:24] richardalberto commented on #52378
the issue is that getMetadataFromConfigDrive()  doesn't fail, but the results are out of date. getMetadataFromMetadataService() is never called in this scenario.

[2017-09-15 04:28] shenlanse commented on #51313
@jianzhangbjz we can't be sure any service is never down. What we can do is to try our best to lower the probability. Yeah, it is the root cause, but we must task necessay action to deal with side effects instead of ignoring it.

[2017-09-15 04:29] tatsuhiro-t commented on #52323
@pineking Thank you.  Our pods were in Running status, but without IP address, so I agree that it is a different issue.  I'll file a new issue.

[2017-09-15 04:39] bgrant0607 commented on #7856
@lavalamp

Using strings to represent the reasons for exceptional conditions could look as follows:

[code]

or:

[code]

I thought about empty string rather than "N/A", but that seemed less clear.

This does have the issue that the conditions are expressed in the negative sense, but I think that's inevitable, since that's the case where additional information is desired.

[2017-09-15 04:46] caesarxuchao commented on #51989
Instead, can we just let these pending initialization time out, and let the hypothetical controller delete the objects?
After deleting the ic, the cluster admin should wait 1s+initialization_timeout before turning off the initialization controller. Any pending initialization should be handled by then. And if there are remaining uninitialized objects, they would be deleted by the hypothetical contr

[2017-09-15 04:48] FengyunPan commented on #52378
Oh, I see. So can you file a PR to fix it?

[2017-09-15 04:51] FengyunPan commented on #52378
/kind bug

[2017-09-15 04:54] gyliu513 opened #52521 "Kubernetes events will disappear after one hour"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
If the deploy failed, then I can check pod events to see what is wrong. But the events will disappear after one hour, why do we have such design?

/sig apps

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernet

[2017-09-15 05:12] anguslees commented on #49867
Cache invalidation becomes an issue with any cache of mutable data.  Also, from the k8s side, all _we_ can do is change the point at which the sum of all the metadata queries becomes an issue - we can't change the _shape_ of the scalability curve..   So we're not going to find any good answer here.

I'm inclined to reassign this bug to openstack as the right place to fix it.  It seems to me like a

[2017-09-15 05:13] guangxuli commented on #52492
@aleksandra-malinowska Failure seems still exists. Shall we have fix this issue?

[2017-09-15 05:14] #49948 closed

[2017-09-15 05:25] guangxuli commented on #52141
Hi, if no guys work on this, i will go deeply into details.

[2017-09-15 05:53] xiangpengzhao commented on #52521
@gyliu513 you can configure the ttl of events as you wish by setting the flag `--event-ttl duration                                      Amount of time to retain events. (default 1h0m0s)` of kube-apiserver.

[2017-09-15 05:55] karataliu opened #52522 "Should be able to set cluster-name for cloud controller manager"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
`cluster-name` is used by servicecontroller and routecontroller, for controller-manager, we have an option to set it, but for cloud-controller-manager, it will always be of default value 'kubernetes'.

Here are some examples where it was in use:

aws:
https://github.com/kubernetes/kubernetes/blob/6b39b017b4096028396719b062

[2017-09-15 05:56] karataliu commented on #52522
/sig cluster-lifecycle
/area cloudprovider

[2017-09-15 06:02] gyliu513 commented on #52521
Thanks @xiangpengzhao do you know why default to 1hr, it is a bit short, I think that an ideal value should be 1day or even 1week so that the end user would have enough time to retrieve events as they want.

[2017-09-15 06:33] jeroenjacobs1205 commented on #52498
/sig scalability

[2017-09-15 06:38] #52433 closed

[2017-09-15 07:04] radeksimko commented on #51328
Understood. The token controller will manage it the way you described (it will populate the token portion of data + delete it), but it won't ever use that secret when auto-mounting token to a pod, which still is slightly confusing to me.

Thanks for the explanation though! 👍

[2017-09-15 07:11] #52436 closed

[2017-09-15 07:11] #52351 closed

[2017-09-15 07:18] renewooller commented on #12526
Here is a use case - any thoughts or comments appreciated.

We're making a Continuous Deployment/Integration tool which can run as an application in k8s. It needs to be able to talk to a docker daemon to execute builds and push them to an external repository.

Due to the security concerns of 'dood', we're using 'did'. I could theoretically extend the 'did' image and install the software required t

[2017-09-15 07:22] floreks commented on #52490
Awesome, thanks! Is it documented somewhere? I think, I have looked through whole k8s official documentation, but did not see that.

[2017-09-15 07:26] xiangpengzhao commented on #52521
@gyliu513 I have no idea... :(

[2017-09-15 07:29] floreks commented on #52490
I guess section `Manually constructing apiserver proxy URLs` in [this](https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/) guide should be updated to mention this.

[2017-09-15 08:06] #47298 closed

[2017-09-15 08:06] valentin2105 commented on #1443
@leblancd Thanks for your IPv6 work on k8s !!
Any idea in which release Kube-proxy will start to handle IP6table for Services ? and specially Service/ExternalIPs ?

[2017-09-15 08:12] tatsuhiro-t opened #52527 "Pod is Running but IP address is not assigned"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After the boot, kubelet created 1 pod just fine, but few seconds later, every other pod was created without network IP address.  Pod statuses were all Running, but IP address were missing. We use kubelet from hyperkube v1.7.5 image, and flannel CNI plugin.

There are several kubelet logs which indicate sandbox failure:

[2017-09-15 08:19] m1093782566 commented on #52464
/assign @m1093782566

[2017-09-15 08:29] crassirostris commented on #52494
Should be fixed by https://github.com/kubernetes/kubernetes/pull/52442

[2017-09-15 08:29] #52494 closed

[2017-09-15 08:44] unixhat opened #52530 "Can't create a resource with imagePullSecrets on apiVersion: extensions/v1beta1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Can't create a resource by yaml file with imagePullSecrets on apiVersion: extensions/v1beta1.

kubectl create -f unixhat.yml
error: error validating "unixhat.yml": error validating data: found invalid field imagePullSecrets for v1.Container; if you choose to ignore these errors, turn validation off with --validate=false

cat unixhat

[2017-09-15 08:45] crassirostris commented on #52505
Should be fixed by https://github.com/kubernetes/kubernetes/pull/52442

[2017-09-15 08:45] #52505 closed

[2017-09-15 08:45] crassirostris commented on #52506
Should be fixed by https://github.com/kubernetes/kubernetes/pull/52442

[2017-09-15 08:45] #52506 closed

[2017-09-15 08:50] zhangxiaoyu-zidif commented on #23349
mark.

[2017-09-15 08:58] kargakis commented on #7856
@bgrant0607 what about timestamps? There are conditions where we want to know when they were last updated (Progressing in Deployments) or flipped from False to True (Ready in Pods).

[2017-09-15 08:59] #51736 closed

[2017-09-15 09:00] #52114 closed

[2017-09-15 09:00] #52261 closed

[2017-09-15 09:07] k82cn commented on #50077
any feedback after apply  #50106 ?

[2017-09-15 09:22] yastij commented on #52356
@gmarek - how do we plan to devide this one ?

The following order for merge should be fine I think:

- the tests for #52402 (we can split also test case deletion if it's too long to review)
- #52402 itself + adding const deletion
- change how we create nodecontroller
- delete `#forcefullyDeletePod()`

[2017-09-15 09:27] tatsuhiro-t commented on #52527
/sig node

[2017-09-15 09:49] flaviamissi commented on #33777
Thanks @chrissound, I have another cluster with high cpu instances and indeed they haven't shown any issues.

Not sure if related, but I recently got an email from GCP pointing to these docs https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/. GKE will start doing this after `1.7.6` upgrade.

[2017-09-15 09:51] rochaporto commented on #49867
Scaling on openstack is already possible in two ways: using cells (spread the load) and using a memcache layer in front of the nova metadata api.

[2017-09-15 09:58] shyamjvs commented on #52494
Thanks for fixing.

[2017-09-15 10:14] #51702 closed

[2017-09-15 10:25] jeroenjacobs1205 commented on #52498
I added the following to kube-apiserver, but no difference:

`--etcd-quorum-read=true`

As long as the master node is down, everything keeps working. The moment it comes up again, the cluster breaks, and nothing can be done to solve it. I keep getting errors like these:

[code]

A cluster in HA mode should be able to cope with 1 master node being down for a few minutes.

[2017-09-15 10:40] shyamjvs commented on #52495
To add some clarity:
- We've been running correctness tests on 5000-node clusters for about 2 releases now and they're defined by '--ginkgo.skip=\[Serial\]|\[Disruptive\]|\[Flaky\]|\[Feature:.+\]'. So pretty much all suites except those ones are covered by it. And note that this also includes [Slow] suite. It seems like these ESIPP tests are new as I don't remember seeing them a while ago.
- Also

[2017-09-15 10:42] shyamjvs commented on #52495
Unfortunately I'm a bit occupied by few other things at the moment and couldn't look deeper. Can this test be fixed somehow in the short-term - by increasing timeout based on cluster size or something?

[2017-09-15 11:27] piosz commented on #52496
@loburm is going to take a look.

[2017-09-15 11:45] piosz commented on #50599
As this is not fixed we decided to revert #46850.

[2017-09-15 11:55] zoumanakeita opened #52534 "IBM Cloud private"
Hello Everyone,

I need your help for my cloud private install.

I've got the following errors after the installation of my private cloud.

***After the installation with my ubuntu terminal.
<img width="733" alt="errorserveraccess" src="https://user-images.githubusercontent.com/24225491/30481148-6cceda3a-9a1d-11e7-839
<img width="733" alt="errorserveraccess" src="https://user-images.githubusercont

[2017-09-15 12:03] zoumanakeita commented on #52534
@kubernetes/master-<Cluster Lifecycle>
 area/cloudprovider

[2017-09-15 12:24] aleksandra-malinowska opened #52535 "Addon resizer v2.0 keeps restarting pod every 1 minute in e2e tests"
In ~30% of cluster size autoscaling test suite runs, Heapster pod starts restarting every 1-2 minutes for ~15 minutes. This causes flakes for two reasons:
1. nodes don't become schedulable due to rescheduler repeatedly tainting nodes with CriticalAddonsOnly (which doesn't help as pod is deleted and created again, sometimes before the taint is lifted),
2. in HPA/CA integration test, HPA is unable t

[2017-09-15 12:25] deads2k commented on #52511
Authorization and admission are two different operations, for two different purposes, at two different points in the handling chain.  Authorization is a global filter on the server (absolutely everything passes through it) and it doesn't inspect the body, making ideal for handling opaque requests. Admission inspects the body and may or may not be associated with a particular request.  One is not a

[2017-09-15 12:40] gmarek commented on #51704
It's probably ~week of work to rewrite NC tests.

[2017-09-15 12:42] puja108 commented on #47733
I could reproduce this even with a pretty much empty K8s 1.7.5, the kubernetes svc itself already has carries that error:

[code]

[2017-09-15 12:45] gmarek commented on #52356
Yeah, sounds good.

[2017-09-15 12:47] yastij commented on #52356
I'll create the PRs accordingly and assign you

[2017-09-15 12:49] deitch commented on #47733
We are running k8s 1.7.5 now, but with the `describe*` IAM permissions, it won't come back. Still, this is an issue.

[2017-09-15 13:06] luxas commented on #52511
cc @kubernetes/sig-cluster-lifecycle-feature-requests

+1 for dynamic reconfig. On top of this, implementing ComponentConfig (with dynamic reloads) would be great.

We really should get rid of all places where we rely on config files on disk. kubeadm supports Webhook authz today, but forces you to put your config file in a specific place. This works with both Static Pod hosted and self-hosted cont

[2017-09-15 13:19] rantuttl commented on #44100
@caseydavenport @dcbw @timothysc -- I respect the possibility that you're seeing a slightly different problem, but in my case, and after reviewing my level 5 logs against the kubelet code, I am convinced that the problem lies with the kubelet not deleting the sandbox after asking the CNI to teardown the networking via kubelet's `TearDownPod` by way of `StopPodSandbox`.

In my logs, I can clearly s

[2017-09-15 13:24] yastij commented on #52534
/kind support

[2017-09-15 13:28] MatMaul commented on #49867
I understand your point, we can indeed (and will) increase metadata_cache_expiration in Nova (for ref if someone has the same issue).

However I still think that decoupling the update of the ips from the kubelet heartbeat could be helpful, doing so every 10s is quite overkill. With a randomized start so that all the requests don't end up at the same time.
It can be either a change in k8s core and

[2017-09-15 13:30] MatMaul commented on #49867
If not this issue can be closed BTW.

[2017-09-15 13:30] shyamjvs commented on #52107
We're not seeing the issue with high pod-startup latencies anymore with n1-standard-1s. Continuing the discussion for increased api call latencies (which is a separate issue) in https://github.com/kubernetes/kubernetes/issues/51899. Removing the release-blocker label and 1.8 milestone.

cc @wojtek-t @dims

[2017-09-15 13:41] shyamjvs commented on #51899
It's not too bad (we're seeing a couple of high-latency requests), but there definitely seems to be a regression. It is a release-blocker.
The following are the api calls failing to satisfy our 1s SLO for 99th %ile latency (from last run i.e run no. 34 - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/34):

[code]

I looked into the apiserve

[2017-09-15 13:45] mattfarina commented on #52446
Looking at [test grid](https://k8s-testgrid.appspot.com/sig-cli#unit-integration-cmd&sort-by-failures=&exclude-non-failed-tests=) now, it appears the test is passing again.

[2017-09-15 13:48] Vlaaaaaaad commented on #23580
Any updates on this? What's the preferred way to grant permissions at a pod/container level on AWS?

[2017-09-15 13:52] dims commented on #52107
w00t! thanks @shyamjvs

[2017-09-15 13:56] puja108 commented on #47733
Sure, but it doesn't feel right giving it more IAM permissions just because it wants to, it's not useful for non-LB services and security contacts at my customers' would ask questions as to why that is needed (which it is not). I still think this is a bug, why does K8s need to check ELBs for creating a service that has nothing todo with ELBs?

[2017-09-15 13:58] timothysc commented on #44100
@rantuttl I believe there are a couple of separate issues here that are a result of non-deterministic behavior between kubelet <> host <> CNI plugins.   I think we've uncovered 1 in calico and @caseydavenport 's fix works for that issue.   However, I think the misbehavior of calico exposed 1 or two other bugs.  e.g. the kernel should never panic, and I think that may be linked to your issue.

[2017-09-15 14:03] k82cn commented on #52534
@zoumanakeita , this's pure k8s community, I think you need to send email to cfchelp@ca.ibm.com to ask help :).

[2017-09-15 14:05] rantuttl commented on #44100
@timothysc -- Yes, I suppose an issue in Calico may have been exposed. However, I did not see what @caseydavenport may be seeing, although I do see the continual calls to CNI, but never the kernel panic describe in Fedora (I use Ubuntu 16.04). I can surely provide my heavily annotated level 5 logs somewhere, which lead me to the conclusions I made above about my similar behaviors described in this

[2017-09-15 14:06] timothysc commented on #44100
Please post a link to your data, it would be useful imo.

[2017-09-15 14:07] bgrant0607 commented on #7856
@kargakis Timestamps that may be collected across multiple nodes, such as controller-manager/kubelet or even multiple instances of a HA cluster or even after moving the master from a dead node, risk time skew. Even if NTP is set up correctly, there may still be non-negligible skew. So, the approach we've been moving towards is conservative in-memory tracking within a single instance, based on when

[2017-09-15 14:08] bgrant0607 commented on #7856
If there are a few cases where timestamps are useful for debugging, those could also just be added as fields.

[2017-09-15 14:09] shyamjvs commented on #52107
/unassign
/assign @bowei @crassirostris
for event-exporter and kube-proxy respectively. Feel free to redirect it as apt.

ref @yujuhong's comment - https://github.com/kubernetes/kubernetes/issues/52107#issuecomment-329242797

[2017-09-15 14:10] rantuttl commented on #44100
@timothysc -- As requested, my logs used to come to the conclusions noted above (sorry, Ubuntu pastebin)

http://paste.ubuntu.com/25540698/

[2017-09-15 14:17] bgrant0607 commented on #12526
@renewooller See #831

[2017-09-15 14:33] kow3ns commented on #51306
@hzxuzhonghu @jianglingxia True we don't check the storage constraints of manually provisioned PVCs when used with a StatefulSet.
1. The intention of the design is to use the controller to create the PVCs for you. You  declare the storage you want inside of the VolumeClaimsTemplates and then provision PVs (not PVCs) either manually or via a dynamic provisioner.
2. If you're manually creating PVCs

[2017-09-15 14:34] richardalberto commented on #52378
Yeah I'll file a PR, but I wanted to discuss what's the best approach first. The way I see it we have 4 options:
1. Disable config drive with a flag in the kubelet service
2. Don't use the config drive at all, alway query the metadata service.
3. Change order; query metadata service first and config drive second.
4. Use flag a on the kubelet to select which we want to use

or maybe something else?

[2017-09-15 14:35] kow3ns commented on #50340
I think we should do this for 1.9.

[2017-09-15 14:36] rrati opened #52546 "GCE HasCluster should be checking the ClusterId"
/kind bug

The GCE cloud provider is always returning true when HasClusterID is called.  It should be checking if the ClusterId.GetID returns an error or non-empty string.

[2017-09-15 14:38] rrati commented on #52546
@saad-ali @jingxu97

[2017-09-15 14:39] kow3ns commented on #51315
https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#rolling-back-a-deployment documents the correct behavior

[2017-09-15 14:39] #51315 closed

[2017-09-15 14:42] bgrant0607 commented on #51862
@smarterclayton Mike started with an admission controller for this purpose and it looked to me like a lot of extra mechanism and config-based APIs for another authorization mechanism to prevent mutation and/or deletion. Arguably the authorization hook would be a better place for it if we could AND authorizers, which also would have helped with the ABAC->RBAC transition.

[2017-09-15 14:44] mattmoyer commented on #52511
I'm +1 on this if we can make it safe. I brought this up at a SIG-Auth meeting a while back (2017-07-26) and have been thinking about it since. Some things that came up then:
 1. Hosted scenarios where you might not want "cluster admin" to actually have full control to override authentication/authorization/audit for the cluster.
 2. Potential for a privilege escalation footgun if a non cluster adm

[2017-09-15 14:45] andyxning commented on #52521
/unassign kind/bug

@gyliu513  @xiangpengzhao This is mainly for easing the burden on ETCD. Ref #4432 and #47532 .

[2017-09-15 14:48] kargakis commented on #50340
sgtm

[2017-09-15 14:54] luxas commented on #51862
Side note, if we had something like this, it'd be much easier to self-host certificates in Secrets.
Putting the CA key or similar up in the cluster now is just not possible (in the reasonable secure vs convenience tradeoff)
I haven't considered all edge cases with the even when having an authorizer that could unconditionally DENY requests (from anyone but users with `cluster-admin` privs in this c

[2017-09-15 14:56] estechnical commented on #22770
This issue also affects me, I have just set up a kubernetes cluster with MAAS + Juju without using conjure-up, because conjure-up was failing to place the services correctly on our machines.

This issue https://github.com/conjure-up/conjure-up/issues/1150 details how I got where I am now...

When I try to use kubectl logs, it clearly shows that the dns request is going to google DNS:
[code]
Is thi

[2017-09-15 14:56] liggitt commented on #51862
It wouldn't solve list/watch exposure/filtering issues... I think this would be more useful for denying specic write cases

[2017-09-15 15:13] yujuhong commented on #23349
Updated the title. We never increased the maximum number of pods above 110. There is still work to do for scaling the pod capacity based on the machine size.

[2017-09-15 15:15] dims commented on #52522
oops looks like a PR ready already :)

[2017-09-15 15:15] mattmoyer commented on #50613
/reopen

Re-opening because there's a little bit left to do in 1.9 (ready to go in https://github.com/kubernetes/kubernetes/pull/52551).

[2017-09-15 15:18] pwittrock commented on #52446
woot.  thanks @mattfarina

[2017-09-15 15:19] #52446 closed

[2017-09-15 15:22] abitrolly commented on #48985
@david-mcmahon indeed. I'd also wish to have a release notes with interesting highlights on top of each log for minor version.

[2017-09-15 15:39] aleksandra-malinowska commented on #52496
From the logs it seems like Heapster is unable to get metrics from nodes. It appears to be a separate issue from addon resizer restarts.

[2017-09-15 16:09] jeroenjacobs1205 commented on #52498
I have done some more research, and the issue seems to caused by etcd. I moved etcd to differrent nodes, so they are no longer shared with kubernetes master processes.

I started stopping hosts again, and turn them back on after a minute.

As soon as I stop one of the etcd nodes, and start it again after a minute, the issues start to pop up again with the same error message.

I'm getting the feeli

[2017-09-15 16:11] szarkos commented on #50150
The "66-azure-storage.rules" is typically installed as part of the Azure agent package, and upstream cloud-init carries a similar rule for Azure.  So if you use setup.py at all to create packages then it would be added to the package, but of course that's not the case with CoreOS.

I'll discuss with CoreOS to see if we can add this rule to their Azure images.  For now I guess the best option is to

[2017-09-15 16:16] mattnworb commented on #39722
This gives me the same result, at least with a cluster on GKE created with the `--no-enable-legacy-authorization` flag to `gcloud container clusters create`.

Accessing http://localhost:8001/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy/#!/workload?namespace=default gives me:

Accessing other URLs printed out by `kubectl proxy`, such as the one for Heapster (after replacing the

[2017-09-15 16:16] caseydavenport commented on #52331
[code]

It looks like flannel is failing to clean up state when it gets a DEL call for something it doesn't think exists (or with an empty CNI_NETNS).  I think the expectation is that CNI plugins should handle this gracefully rather than returning an error.  Probably warrants a fix in flannel CNI.

@dcbw for confirmation on CNI behavior.

[2017-09-15 16:21] arthur0 commented on #39482
There is any work to do? I think the issue should be closed.

[2017-09-15 16:31] ianchakeres commented on #51431
@msau42 - pulling out one of your comments from earlier in the thread.

"""
If the disk is formatted with a filesystem or has partitions, then we could include the UUID in the local volume source spec, and at mount time, we can enforce that the UUID matches. I think for raw block devices, then the ID/serial should be sufficient. This is something I think we can add in the short term.
"""

Did you

[2017-09-15 16:40] ericchiang opened #52554 "[e2e and upgrade failure] several GCE and GKE tests failing with: gce boskos failed to acquire project"
[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-slow/8999

https://k8s-testgrid.appspot.com/release-master-blocking#gke
https://k8s-testgrid.appspot.com/release-master-blocking#gci-gce
https://k8s-testgrid.appspot.com/release-master-blocking#gce-slow
https://k8s-testgrid.appspot.com/release-master-blocking#gke-slow
https://k8s-testgrid.appspot.com/rel

[2017-09-15 16:43] ericchiang commented on #52554
Upgrade tests as well

https://k8s-testgrid.appspot.com/master-upgrade#gce-1.7-master-upgrade-cluster-parallel
https://k8s-testgrid.appspot.com/master-upgrade#gce-1.7-master-upgrade-cluster
https://k8s-testgrid.appspot.com/master-upgrade#gke-gci-1.7-gci-master-upgrade-cluster

[2017-09-15 16:45] ericchiang commented on #52554
The rest of the upgrade tests have failed with

[code]

e.g. https://k8s-testgrid.appspot.com/master-upgrade#gke-gci-1.7-gci-master-upgrade-cluster-new
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster-new/1304

[2017-09-15 16:45] jpbetz commented on #52453
Fixing this with https://github.com/kubernetes/kubernetes/pull/52520

/sig api-machinery

[2017-09-15 16:49] krzyzacy commented on #52554
/assign

[2017-09-15 16:51] krzyzacy commented on #52554
Current status:
ref https://github.com/kubernetes/test-infra/issues/4571, boskos replicaset does not handle pv mount upon reshedule properly, I'll change that to a statefulset.
Deeper issue: prow encountered node pressure, since it's still on 1.6.9, node will kick out running tests rather than gc finished/errored pods, and the test can never finish running, they are keeping get rescheduled.

[2017-09-15 16:53] timothysc commented on #52521
This is what eventer - https://github.com/kubernetes/heapster/tree/master/events

and eventrouter - https://github.com/heptio/eventrouter are for.

This issue goes back 2+ years and there are multiple ways to handle it.

[2017-09-15 16:53] #52521 closed

[2017-09-15 17:15] lavalamp commented on #52511
@tallclair's point (union vs intersection) seems like the only valid reason above for maintaining both. So, OK, we need both.

The code paths and APIs can still significantly converge: the API specifying how apiserver should make the call should be the same for both mechanisms. The code that actually does the dialing can be the same.

[2017-09-15 17:15] foxish commented on #52554
cc @crimsonfaith91, this looks related to the GKE test failures.

[2017-09-15 17:17] crimsonfaith91 commented on #52554
@foxish yes, opening a bug report for it now.

[2017-09-15 17:24] MrHohn commented on #52495
Some of the ESIPP tests were moved into slow suite for 1.6 release. Ref: https://github.com/kubernetes/kubernetes/pull/44582

[2017-09-15 17:29] dims commented on #1443
cc @sadasu

[2017-09-15 17:36] MrHohn commented on #52495
It seems to be [1000 minutes for gce-scale-correctness](https://github.com/kubernetes/test-infra/blob/f4c3cf4798d22fd76fe4cf07050bf3f281140b57/jobs/config.json#L2847-L2864) and [600 minutes for gce-large-correctness](https://github.com/kubernetes/test-infra/blob/f4c3cf4798d22fd76fe4cf07050bf3f281140b57/jobs/config.json#L2384-L2401).

[2017-09-15 17:40] ncdc commented on #51790
@liggitt

[2017-09-15 17:43] liggitt commented on #52242
Using api machinery validation without accompanying api machinery decoding/defaulting is dangerous

[2017-09-15 17:50] roberthbailey commented on #49673
@ixdy says that this issue is not a release blocker for 1.8, but that we will need to backport the fix into the 1.8 release branch.

[2017-09-15 17:58] krousey commented on #52353
Just to clarify, the cluster is coming up, and upgrading successfully. A couple of the upgrade tests (jobs and stateful sets) seem to have had some issues. The skew tests (not really upgrade tests) that follow after the upgrade has completed had serious bug and were panicking before they could right any test results. This panic has been fixed. Now the test suite can't obtain a GCP project from bos

[2017-09-15 17:59] enisoc commented on #48031
StatefulSet has now fallen completely off the [wall of shame](http://storage.googleapis.com/k8s-metrics/flakes-latest.json)!

The [failure graph](https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=StatefulSet) has fallen from 30-40/hr to 0-1/hr.

Please reopen if the flakes return.

[2017-09-15 17:59] #48031 closed

[2017-09-15 18:04] bsalamat commented on #52166
@guangxuli I just commented on #52515. I think we should change the text of `NoNodeAvailableMsg` and leave the predicate errors as they are.

[2017-09-15 18:17] jiayingz opened #52560 "Some tests in k8s.io/kubernetes/pkg/kubelet/deviceplugin pkg are flaky"
/kind bug

**What happened**:
Some unit tests in deviceplugin/manager.go didn't clean up their states, which could cause subsequent test failures.
There is also a race in deviceplugin manager Stop that it should protect its operations with mutex.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
go test -count 50 -race k8s.io/kubernetes/pkg/kubele

[2017-09-15 18:17] jiayingz commented on #52560
/sig node

[2017-09-15 18:17] rshriram commented on #51290
We have several clusters at that are fully managed and tightly controlled due to the nature of the application (govt/healthcare). Installing a cluster wide feature is a no go. Allowing teams to define initializers for their specific namespace would be the cleaner solution in this scenario, as it allows smooth operability with teams using  other namespaces where initializers are not required.

[2017-09-15 18:20] MrHohn commented on #52495
@shyamjvs Would be great if we keep the previous succeeded build logs for the correctness jobs.

From gubernator it seems we have logs only after 1.7 and they never passed:
- https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/?
- https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-correctness/?

[2017-09-15 18:21] pwittrock commented on #47976
@mengqiy Would you verify the fix and close the issue if it is resolved?

[2017-09-15 18:22] lavalamp commented on #51989
We can solve this with documentation: remove your initializer from the dynamic config, wait 30s (or whatever the timeout is), then stop your initializer controller.

[2017-09-15 18:23] lavalamp commented on #51989
I think the operation of verifying liveness of initializers is not the same as the operation of deleting objects that have taken too long to initialize. Maybe they can run in the same process, but there's no reason to do them both at the same time.

[2017-09-15 18:31] MrHohn commented on #52347
Ref https://github.com/kubernetes/kubernetes/issues/52495#issuecomment-329568213.

The resource leak was likely caused by test timeout --- GCE operations took too long to finish and the cluster was terminated ahead. Because heathcheck and firewall cleanup in gce controller are coupled with targetpool deletion, deleting cluster while targetpool deletion is pending will leak the resources.

[2017-09-15 18:39] henriquetruta opened #52563 "OpenStack cloud provider should support project instead of tenant"
OpenStack cloud provider receives variables `tenant-id` and `tenant-name`. 'tenant' is a term that corresponds to OpenStack v2.0 identity API, which is deprecated and is going to be removed in the next OpenStack release (Queen).

We should support user providing `project-id` and `project-name`, that come from v3, the current Identity API. The ideal behavior would be that when project and tenant ar

[2017-09-15 18:39] henriquetruta commented on #52563
/sig openstack

[2017-09-15 18:45] yujuhong opened #52564 "Deprecate --enable-custom-metrics in kubelet?"
The original PR that introduced the feature: #19944.

Before 1.6, if this flag was set, kubelet would label the docker containers accordingly so that cadvisor could report the custom metrics. The stats are included in the of kubelet's summary API (`/stats/summary`).
Since 1.6+, kubelet switched to using the CRI implementation, and this feature was dropped silently.

IIUC, the feature was in the Al

[2017-09-15 18:49] liggitt commented on #39722
That isn't actually the same result... that message is coming from the dashboard (which you successfully accessed) attempting to make an API call. As of https://github.com/kubernetes/kubernetes/pull/46750, GKE deployments do not give RBAC permissions to the default service account.

[2017-09-15 18:52] MrHohn commented on #51701
@davidegrohmann Would be great if you could reproduce the issue and provide logs from kube-controller-manager (runs on master). Also check if there is any error event emitted.

BTW I think `kubectl delete all --all` will delete `svc/kubernetes` in the default namespace as well and you may not want to do that. Though guessing apiserver will recreate it soon enough.

[2017-09-15 18:52] fabianofranz commented on #26050
@mrajashree Feel free to take it, thanks for the interest! [Ping us](https://github.com/kubernetes/community/tree/master/sig-cli) if you need any help.

[2017-09-15 19:25] krzyzacy commented on #52554
@foxish https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-ubuntustable1-k8sdev-ingress/594/ gke has a different issue

[2017-09-15 19:28] vadimeisenbergibm commented on #52487
@MrHohn I see now that `kube-dns` fails as well. The problem is similar to this one https://github.com/kubernetes/kubernetes/issues/50799.

`kube-dns` has `serviceAccountName` set to default due to the fact that it is not specified in the `kube-dns`' deployment of minikube - https://github.com/kubernetes/minikube/blob/0e6e930a7d5b1c401eaf46dce41abf8be941e47c/deploy/addons/kube-dns/kube-dns-control

[2017-09-15 19:29] bowei commented on #52107
I'm not sure if ascribing the usage to the kube-proxy necessarily makes sense. Is the cause due to increase memory usage in general or kube-proxy increasing its memory footprint? It may simply be the pod that ends up OOMing due to some other system daemon using more memory than before.

[2017-09-15 19:34] crassirostris commented on #52107
Event-exporter problem should be fixed now: https://github.com/kubernetes/kubernetes/pull/52263

[2017-09-15 19:51] ncdc commented on #52530
@unixhat it looks like you have `imagePullSecrets` indented so that it's part of the `unixhat` container. The `imagePullSecrets` field is actually part of the pod spec, and this is why you're getting this error. If you outdent `imagePullSecrets`, it should work. Like this:

[code]

[2017-09-15 19:55] vadimeisenbergibm commented on #52487
Verified that the problem disappears after:

1. `kube-dns` service account is created by applying https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/kubedns-sa.yaml

2. `kube-dns` is redeployed with https://github.com/kubernetes/minikube/blob/0e6e930a7d5b1c401eaf46dce41abf8be941e47c/deploy/addons/kube-dns/kube-dns-controller.yaml plus line `serviceAccountName: kube-dns` added

[2017-09-15 20:04] ahmetb commented on #52202
I'd like to amend the issue, it's more serious than I thought. (thanks for bringing it to my attention @caesarxuchao):

------

If you're deploying your Initializer with `Deployment` and if you have an initializerconfiguration for `Pod` objects,  **it's impossible to deploy your initializer in the first place without deleting InitializerConfiguration first**:

1. `Deployment.metadata.initializers.

[2017-09-15 20:11] seh commented on #24855
Perhaps this comment belongs over on #33241, or maybe a fresh issue, but I noticed that if I run _kubectl get --export=true_ against a pluralized resource name, summoning a _v1.List_ of objects, then the `--export=true` flag has no effect. It only works when running _kubectl get_ against a singular named resource. That is,
[code]
has no observable effect, but
[code]
does.

[2017-09-15 20:13] genexp commented on #52527
We're having this problem too.  Its very strange.  Specifically, our kube-dns/kubedns containers are showing up with 1 network adapter.  We use weave.

[2017-09-15 20:17] MrHohn commented on #52487
@vadimeisenbergibm Glad that you found the cause. Yes please, kubernetes/minikube seems to be a better place for this issue, thanks.

[2017-09-15 20:18] chrislovecnm commented on #28969
^ that is a Java DNS issue that maybe can be addressed by setting the DNS ttl properly.  And by getting openjdk or the tool to fix it.  That is a problem that should be dealt with external to this.

There are some apps that just do not do well without static IP addresses, unfortunately.  But java is a tad notorious.

[2017-09-15 20:19] chrislovecnm commented on #28969
@braedon what is the problem with C*?  Cassandra should launch properly.  I do need to update the C* example :(

[2017-09-15 20:19] smarterclayton commented on #50499
That if block definitely doesn't belong there...

[2017-09-15 20:19] chrislovecnm commented on #28969
@braedon I am on slack a lot, you can ping me there as well.

[2017-09-15 20:20] henriquetruta opened #52566 "OpenStack cloud provider should allow exposing only the public IP"
When creating a service passing the annotation `service.beta.kubernetes.io/openstack-internal-load-balancer: "false"`, two IPs are created in the service, a private and a public:
[code]

Having a private IP is not a desired scenario for service discovery in federated global environments.   If we have, for example, a cluster in GKE and join a local OpenStack cluster, this private IP is written in t

[2017-09-15 20:20] smarterclayton commented on #50499
Or rather, I'm wondering if we should not be reporting the error at all when it's File.

[2017-09-15 20:20] henriquetruta commented on #52566
/sig openstack
/sig federation

[2017-09-15 20:21] chrislovecnm commented on #28969
An update on Cassandra.  I believe that https://github.com/kubernetes/kubernetes/issues/28969#issuecomment-233165307 is no longer the case.  Gossip will complain about IP changes, but it will work itself out eventually.

[2017-09-15 20:23] smarterclayton commented on #50499
We should never fall back to logs if it is File.  Which code would do that (fallbackToLogs or false is always returned)

[2017-09-15 20:23] msau42 commented on #51431
disk uuid

[2017-09-15 20:25] MrHohn commented on #52487
BTW I sent https://github.com/kubernetes/minikube/pull/1970.

[2017-09-15 20:30] smarterclayton commented on #50499
Opened a change to correctly fall back to logs if the termination message path file does not exist (as we do if the file is empty).

While this may actually hide other errors (like #52502) it matches the intent of FallbackToLogsOnError.

[2017-09-15 20:30] jeroenjacobs1205 commented on #52498
Guess what, using etcd 3.1.10 instead of 3.2.7 solves my issues :-)

Is this a known incompatibility between k8s en etcd v3.2.x?

[2017-09-15 20:32] caesarxuchao commented on #52202
For 1, see https://github.com/kubernetes/kubernetes/issues/51299. I don't want to pursue that though, because *i)* we'll need to fix workload controllers one by one, and *ii)* we need to carefully consider permission issues.

I think we should focus on adding the namespace selector.

[2017-09-15 20:41] rphillips commented on #26202
Is this issue considered fixed with the new spec.selector behavior being released in 1.8?

Reference: [Draft Release Notes](https://github.com/kubernetes/features/blob/master/release-1.8/release_notes_draft.md#behavioral-changes)

[2017-09-15 20:47] ahmetb commented on #51290
Perhaps in addition to namespace selectors, what do you think of something like "kube-system pods cannot have initializers"? I reckon most people will deploy their initializers to here.

[2017-09-15 20:51] liggitt commented on #51290
We should not add magic name exceptions for general purpose mechanisms. I'd actually like to see the kube-system monolith broken up and addons, initializers, extension API servers run in their own namespaces

[2017-09-15 21:00] krzyzacy commented on #52554
/close

Should be stable now (except for the above gke issue)

[2017-09-15 21:00] #52554 closed

[2017-09-15 21:04] henriquetruta opened #52568 "CNAME records aren't properly created with unhealthy service in OpenStack cluster"
I have a Federation with control plane running in a GKE cluster, and joined a local OpenStack cluster. When I create a federated LoadBalancer service, the LBs are created in both clusters and properly registered in my Google CloudDNS zone. However, when my OpenStack cluster has no healthy endpoints (I scaled the deploy to 1 replica, that stayed in GKE cluster), the A records in DNS aren't updated

[2017-09-15 21:06] DirectXMan12 commented on #52564
yep, that's fine.  It's long overdue for removal.

[2017-09-15 21:07] krousey commented on #52554
@krzyzacy Is there an issue for that GKE issue?

[2017-09-15 21:07] DirectXMan12 commented on #52564
cc @kubernetes/sig-instrumentation-feature-requests

[2017-09-15 21:10] vadimeisenbergibm commented on #52487
@MrHohn Great, thanks, closing this issue.

[2017-09-15 21:10] #52487 closed

[2017-09-15 21:17] ericchiang opened #52571 "[upgrade test failure] CronJob should adopt Jobs it owns that don't have ControllerRef yet"
https://k8s-testgrid.appspot.com/master-upgrade#gce-1.7-master-upgrade-cluster-parallel

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-parallel/567#k8sio-cronjob-should-adopt-jobs-it-owns-that-dont-have-controllerref-yet

[code]

/kind upgrade-test-failure

cc @kubernetes/kubernetes-release-managers
cc @kubernetes/sig-apps-test-fa

[2017-09-15 21:20] ericchiang commented on #50274
This is popping up again in some of our other upgrade tests https://k8s-testgrid.appspot.com/master-upgrade#gce-1.7-master-upgrade-cluster-parallel

Going to re-open for tracking. It sounds like this is still non-blocking though, so lowering the priority.

[2017-09-15 21:23] foxish commented on #28486
The `FailedPodsLimit` functionality is not going to be enabled on in 1.8? We should edit the relnote in https://github.com/kubernetes/kubernetes/pull/48075 to indicate that.
@soltysh, what would be the implications of having the backoff but not the limit parameter?

[2017-09-15 21:26] crassirostris commented on #41411
Fixed by https://github.com/kubernetes/kubernetes/pull/50904

[2017-09-15 21:26] #41411 closed

[2017-09-15 21:30] enisoc commented on #52571
This is not a blocker. The test should be skipped on 1.8+ clusters because the behavior is no longer desired after #47469.

/assign @crimsonfaith91

[2017-09-15 21:45] crimsonfaith91 commented on #52571
I will add a skip to the test for 1.8+ clusters.

[2017-09-15 21:51] gnufied opened #52573 "Add support for verifying attached but desired to be detached PVCs"
/kind Bug

A Volume can escape attach detach contoller for various reasons. i.e - even though volume is attached to a node, volume may not be present in actual state of world of A/D Controller.

For example:

1. User started a Pod `P` with PVC `VC` at time t1.
2. For some reason - `VC` was stuck in `waitForAttach` call on controller for 1 hour.
3. In meanwhile user gives up and deletes the Pod.
4.

[2017-09-15 21:59] mengqiy commented on #47976
Verified.
Closing.

[2017-09-15 22:00] mengqiy commented on #47976
/close

[2017-09-15 22:00] #47976 closed

[2017-09-15 22:13] smarterclayton opened #52577 "kubectl apply should have a way to indicate "no change""
Some configuration management systems distinguish between "no change", "changed", and "failed".  It should be possible to use kubectl apply and know when any changes were applied from normal shell scripting

Since "no-op" is also success, and we don't expect clients to parse our stdout/stderr, it seems reasonable that we should allow a kubectl apply caller to request that a no-op be given a specia

[2017-09-15 22:25] ericchiang opened #52578 "[upgrade tests] some upgrade tests are missing log artifacts"
Dup'ish of https://github.com/kubernetes/test-infra/issues/4323

We're seeing a lot of upgrade tests missing logs for the nodes and control plane components.

The following suites have logs:
https://k8s-testgrid.appspot.com/master-upgrade#gce-1.7-master-upgrade-cluster-parallel
https://k8s-testgrid.appspot.com/master-upgrade#gce-1.7-master-upgrade-cluster-new

The following suites appear to be mis

[2017-09-15 22:28] krzyzacy commented on #52578
[code]

Something turned down the cluster? Or after upgrade the node name not matching `--filter` anymore?
(We should print out the gcloud calls from log_dump.sh)
cc @shyamjvs rings any bells to you?

[2017-09-15 22:30] fejta-bot opened #52579 "Failure cluster [be986b...] failed 68 builds, 14 jobs, and 3 tests over 1 days"
### Failure cluster [be986b1e2cf1af1a5777](https://go.k8s.io/triage#be986b1e2cf1af1a5777)
##### Error text:
[code]
##### Failure cluster statistics:
3 tests failed,    14 jobs failed,    68 builds failed.
Failure stats cover 1 day time range '14 Sep 2017 20:16 UTC' to '15 Sep 2017 20:16 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Services shou

[2017-09-15 22:30] fejta-bot opened #52580 "Failure cluster [d6a4c0...] failed 65 builds, 13 jobs, and 10 tests over 1 days"
### Failure cluster [d6a4c017d4239fba6d58](https://go.k8s.io/triage#d6a4c017d4239fba6d58)
##### Error text:
[code]
##### Failure cluster statistics:
10 tests failed,    13 jobs failed,    65 builds failed.
Failure stats cover 1 day time range '14 Sep 2017 20:16 UTC' to '15 Sep 2017 20:16 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-network] ESIPP [

[2017-09-15 22:30] fejta-bot opened #52581 "Failure cluster [aee02e...] failed 64 builds, 21 jobs, and 33 tests over 1 days"
### Failure cluster [aee02e0442d98d20850b](https://go.k8s.io/triage#aee02e0442d98d20850b)
##### Error text:
[code]
##### Failure cluster statistics:
33 tests failed,    21 jobs failed,    64 builds failed.
Failure stats cover 1 day time range '14 Sep 2017 20:16 UTC' to '15 Sep 2017 20:16 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Networking [

[2017-09-15 22:31] joelsmith commented on #52043
To close the loop on this for any that find it via future searches:

It turns out that this was a false alarm. The above analysis was flawed and this turns out not to be a bug (or maybe a very minor one if we consider it a bug to log a an error on a (semantic) non-error).

The error messages like `secret ... not registered` were not an indicator of a failure to mount a secret volume, but instead a

[2017-09-15 22:33] tallclair commented on #38541
/cc @destijl

[2017-09-15 22:33] tonglil commented on #42164
I encountered this today too.

[code]

[2017-09-15 22:36] msau42 commented on #52318
/cc @kubernetes/sig-storage-misc

[2017-09-15 22:38] krzyzacy commented on #52353
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster/1203?log#log (starts 8am today) seems still have the issue.

xref (might be related) https://github.com/kubernetes/kubernetes/issues/52578

[2017-09-15 22:50] krzyzacy commented on #52578
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-parallel/567 has all the logs - I'll wait for a few more runs and check back.

[2017-09-15 22:55] pwittrock commented on #47976
Woot.  Thanks.

[2017-09-15 22:56] MrHohn commented on #52580
Ref https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=Timeout%20waiting%20for%20service. Timeouts for LB creation increased since 9-11-2017.

[2017-09-15 22:57] MrHohn commented on #52580
/sig network

[2017-09-15 23:16] hzxuzhonghu commented on #51306
thanks , i see.

[2017-09-15 23:23] krzyzacy commented on #52578
/assign

I think that's due to we redeployed project pool and janitor probably wiped off some gcp resources. New runs should be fine, I'll keep an eye here.

[2017-09-15 23:29] gnufied commented on #52573
The other cases, I can think of are:

1. controller crash before actual state could be written.
2. admin manually detaching a "stuck" volume while attach is still in progress.

[2017-09-15 23:43] msau42 commented on #28367
@jeffvance what else is left for this?

[2017-09-15 23:45] ericchiang opened #52584 "[upgrade test failure] Initializers should be invisible to controllers by default"
cc @kubernetes/sig-api-machinery-test-failures
cc @kubernetes/kubernetes-release-managers

Observed on the upgrade cluster test suite

[2017-09-15 23:45] ericchiang opened #52585 "[upgrade test failure] Initializers should be invisible to controllers by default"
cc @kubernetes/sig-api-machinery-test-failures
cc @kubernetes/kubernetes-release-managers
/kind bug
/king upgrade-test-failure

Observed on the upgrade cluster test suite

https://k8s-testgrid.appspot.com/master-upgrade#gce-1.7-master-upgrade-cluster-parallel

Example failure

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-parallel

[2017-09-15 23:51] ericchiang opened #52587 "[upgrade test failure] PodPreset should create a pod preset; PodPreset should not modify the pod on conflict"
cc @kubernetes/sig-service-catalog-test-failures
cc @kubernetes/kubernetes-release-managers

Both tests failing on our upgrade cluster test suite

https://k8s-testgrid.appspot.com/master-upgrade#gce-1.7-master-upgrade-cluster-parallel

Example failures

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-parallel/568

Looks like an API

[2017-09-15 23:54] liggitt commented on #52587
Pod preset alpha group is no longer enabled by default. The e2e test is behind a feature tag.

[2017-09-15 23:56] liggitt commented on #52585
Initializer name validation tightened in 1.8 (and is release noted as needing action), test should be updated with a valid name

[2017-09-16 00:02] jeffvance commented on #28367
@msau42 1) several of the in-tree plugins are not implemented. 2) there are no non-graceful tests.

[2017-09-16 00:35] gnufied commented on #52573
Spoke with @jingxu97 briefly offline and she pointed me to https://github.com/kubernetes/kubernetes/issues/32727 issue which also proposes a similar approach. We need to think through little bit and consider pros and cons and come up with a solution.

[2017-09-16 00:47] jbw976 opened #52590 "[Flexvolume] Consider adding json options to Unmount and Detach call-outs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

The Flexvolume `Unmount()` call-out provides only the mount dir to the flexvolume plugin driver as seen in
https://github.com/kubernetes/community/blob/master/contributors/devel/flexvolume.md#unmount
[code]

It would be useful if more context could be provided to the driver in the `Unmount()` call-out, similar to all the information that

[2017-09-16 00:51] jbw976 commented on #52590
/sig storage

[2017-09-16 00:54] msau42 commented on #43640
We started tracking individual task items in the sig storage planning [spreadsheet](https://docs.google.com/spreadsheets/d/1t4z5DYKjX2ZDlkTpCnp18icRAQqOE85C1T1r2gqJVck/).

I'm closing this tracker issue as it's difficult to keep both of them in sync.  We'll open up issues for each PR in the future releases.

[2017-09-16 00:54] #43640 closed

[2017-09-16 01:00] peterwillcn commented on #44175
ETCDCTL_API=3 etcdctl --endpoints=http://localhost:2379 get / --prefix --keys-only

[2017-09-16 01:17] netroby commented on #38774
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.5", GitCommit:"17d7182a7ccbb167074be7a87f0a68bd00d58d97", GitTreeState:"clean", BuildDate:"2017-08-31T09:14:02Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.4", GitCommit:"793658f2d7ca7f064d2bdf606519f9fe1229c381", GitTreeState:"clean", BuildDate:

[2017-09-16 01:21] liggitt commented on #38774
That is printing the error that indicates you need to specify a container name as expected

[2017-09-16 01:36] smarterclayton commented on #51989
Hrm - I think the point I was trying to make was that if an initializer is
expected to be alive and actions are attached to that liveness, then the
actions taken when liveness fails are tied to the thing evaluating
liveness, not the timeout.  I.e. "timeout" is a non-local action, whereas
"if liveness fails, resources with that initializer either fail or
continue" is a local action and easy to reas

[2017-09-16 01:51] mattjmcnaughton commented on #52271
Yeah, I think you make a great point @cblecker that it seems like there are two different interpretations of what `make clean` does. I'm not super familiar with `make` - do you know which one is the more "traditional" interpretation?

One thing I think about is that it seems slightly more dangerous to delete too many, instead of too few files - one operation is very easy to address, whereas the ot

[2017-09-16 03:32] liggitt commented on #52585
should be fixed by https://github.com/kubernetes/kubernetes/pull/52592

[2017-09-16 04:19] warmchang commented on #23349
Hi @yujuhong , The goal of max pods per machine is 500: https://github.com/kubernetes/community/blob/master/sig-scalability/goals.md

And openshift team increase the default number form 110 to 250 (from the ocp 3.4):
https://docs.openshift.com/container-platform/3.4/install_config/install/planning.html

[2017-09-16 05:55] andyxning commented on #44990
@antoineco In fact, this has not been fixed in v1.6.4. The filter for **files** starting with a dot(`.kube-addon-manager.yml.swp`) instead of *file paths starting with  a dot**(`./etc/kubernetes/manifests/.kube-addon-manager.yml.swp`), has been fixed in #45111 and only available after Kubernetes v1.7.0-alpha.4.

So we can close this now, imo.

[2017-09-16 06:36] unixhat commented on #52530
@ncdc 🥇  Greats..! Thanks for your explaination, its working fine right now, so i just need make this part of container. Cool. yaml things :)

[2017-09-16 06:36] #52530 closed

[2017-09-16 07:19] shiywang commented on #52577
sounds interesting, @fabianofranz @pwittrock I would like to dibs on it.

[2017-09-16 07:28] shiywang commented on #52577
hi, @smarterclayton also need confirm you, this is only for apply right ? we do not currently want other declarative/Imperative object configuration commands or even every command to have this flag right ?
otherwise the tittle would be like `implement a custom return error code mechanism for kubectl`

[2017-09-16 07:31] #52143 closed

[2017-09-16 08:56] pgnaleen commented on #9580
i am also face this problem please some one give me clear simple answer.

[2017-09-16 08:56] luxas commented on #51571
Closing this as last two runs were green. Reopen if you disagree ;)

[2017-09-16 08:56] #51571 closed

[2017-09-16 09:25] gmarek opened #52593 "Need downgrade tests for 1.8 release"
From what I learned on slack we're testing upgrades only - we check if we upgrade 1.7 cluster to 1.8 cluster things keep working. On the other hand we're NOT testing if downgrading 1.8 cluster to 1.7 works at all. Downgrades are extremely important for everyone running kubernetes in production - if it turns out that 1.8 has a bug that breaks some of user's workloads.

Standard mitigation policy in

[2017-09-16 10:19] humblec commented on #50463
@grebois yeah, we will fix it soon!

[2017-09-16 11:04] shiywang commented on #52577
/assign

[2017-09-16 11:16] jaypipes commented on #49199
What is "OIR"? Googling for that term and k8s or Kubernetes returned nothing...

[2017-09-16 11:27] andyxning commented on #52280
@ArunSambandam

Failed to execute operation: Unit name kubelet is not valid.

Of cause, you can not use systemctl to enable an binary file.

Have you try to install docker.service in you machine? It is required for kubelet to work.
Or you should check the error log of kubelet service using `journalctl -u kubelet.service`.

[2017-09-16 11:35] jaypipes commented on #48453
Should this be closed? Looks like the issue has been fixed, yes?

[2017-09-16 11:42] dims commented on #49199
@jaypipes - i believe it's https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#opaque-integer-resources-alpha-feature

[2017-09-16 11:45] jaypipes commented on #49199
Thanks @dims :)

[2017-09-16 12:59] liggitt commented on #52584
Dupe of https://github.com/kubernetes/kubernetes/issues/52585

[2017-09-16 12:59] #52584 closed

[2017-09-16 13:00] #52534 closed

[2017-09-16 13:01] #52081 closed

[2017-09-16 13:34] #52522 closed

[2017-09-16 13:44] dims commented on #52564
@yujuhong @DirectXMan12 - is there a point in deprecation when the code was already dropped and the flag has no user/effect whatsoever? are we trying to protect people who have `--enable-custom-metrics` in their scripts from breaking?

[2017-09-16 14:05] dims commented on #52378
5. Disable config drive in your openstack installation? :)

[2017-09-16 14:15] dims commented on #52491
Looks like the intent was to switch off secure port per:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubeapiserver/options/serving.go#L88

cc @deads2k

[2017-09-16 14:17] dims commented on #52491
Looks like the intent was to stop serving on secure port when it is set to 0

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/options/serving.go#L91

[code]

[2017-09-16 14:29] dims commented on #52491
cc @deads2k

[2017-09-16 15:00] richardalberto commented on #52378
Disabling config drive is not always an option, some deployment tools (ex. https://bosh.io) will enable the config drive for you when the vm is created.

[2017-09-16 15:00] smarterclayton commented on #51290
Yeah, Kube-system is one giant security bomb waiting to go off.  We
should never have allowed as many system components to congregate
there, and will need to much more strictly control that in the future
as well as begin gradually moving them out.

[2017-09-16 15:08] smarterclayton commented on #51290
The only concrete use case for exemption I've seen so far is the deployment, statefulset, daemonset, replicaset, or replication controller that runs a particular intializer.  That is solvable in many ways, including possibly a ref or owner ref from initializer config to the actual object.

Tenant initializer configs (where an umprivileged user can register configs) sounds a lot like "api aggregati

[2017-09-16 15:12] dims commented on #52491
@pires - i just tried the local-up-cluster.sh in master and did not see this problem. are you on 1.7.x?

[2017-09-16 16:45] #41892 closed

[2017-09-16 18:53] smarterclayton opened #52596 "etcd3 storage does not properly type errors so that higher layers can react"
Etcd2 properly converted certain transient errors into a ServerTimeout error which allow clients to retry certain operations when etcd was unable to complete an operation.  etcd3 simply returns an internal error which may expose internal details of the server, but also doesn't help clients deal with transient errors.

In general, the storage error abstraction adds too much complexity to the error

[2017-09-16 19:53] felixhummel commented on #48628
I had the same problem with an outdated `kubectl`. Just update, so versions match, and it works! \o/

[code]

[2017-09-16 20:24] pires commented on #52491
1.7.5

[2017-09-16 20:27] smarterclayton commented on #52577
In the future this would likely be extended to other declarative commands.
We should pick a pattern that would translate to all other declarative
commands.  Apply is the important one right now.

On Sat, Sep 16, 2017 at 7:04 AM, Shiyang Wang <notifications@github.com>
wrote:

[2017-09-16 22:18] dims commented on #52378
Ah, so looks like we need to supply an ordered list of what to check as a flag

[2017-09-16 22:31] fejta-bot opened #52598 "Failure cluster [696ec7...] failed 124 builds, 7 jobs, and 1 tests over 1 days"
### Failure cluster [696ec7d74ed9dbe7e4c3](https://go.k8s.io/triage#696ec7d74ed9dbe7e4c3)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    7 jobs failed,    124 builds failed.
Failure stats cover 1 day time range '15 Sep 2017 20:48 UTC' to '16 Sep 2017 20:48 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| TearDown | 7 |

#####

[2017-09-16 22:31] fejta-bot opened #52599 "Failure cluster [f2cf02...] failed 101 builds, 17 jobs, and 1 tests over 1 days"
### Failure cluster [f2cf02eef5fcff71c670](https://go.k8s.io/triage#f2cf02eef5fcff71c670)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    17 jobs failed,    101 builds failed.
Failure stats cover 1 day time range '15 Sep 2017 20:48 UTC' to '16 Sep 2017 20:48 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 17 |

##### To

[2017-09-16 22:31] fejta-bot opened #52600 "Failure cluster [43527a...] failed 91 builds, 43 jobs, and 1 tests over 1 days"
### Failure cluster [43527a5da04982681110](https://go.k8s.io/triage#43527a5da04982681110)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    43 jobs failed,    91 builds failed.
Failure stats cover 1 day time range '15 Sep 2017 20:48 UTC' to '16 Sep 2017 20:48 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DumpClusterLogs | 43 |

[2017-09-16 22:31] fejta-bot opened #52601 "Failure cluster [c6d74c...] failed 91 builds, 15 jobs, and 1 tests over 1 days"
### Failure cluster [c6d74c2f4c1a6e608629](https://go.k8s.io/triage#c6d74c2f4c1a6e608629)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    15 jobs failed,    91 builds failed.
Failure stats cover 1 day time range '15 Sep 2017 20:48 UTC' to '16 Sep 2017 20:48 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 15 |

##### Top f

[2017-09-17 02:14] dixudx commented on #48453
Yes, should close it.

The fix #50582 has already been merged.

[2017-09-17 02:20] #48453 closed

[2017-09-17 02:59] dixudx opened #52605 "missing method getAvailableDriveLetter when testing on windows"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig windows

**What happened**:

[code]

This bug was introduced in #51252. @andyzhangx Please fix it.

/cc @brendandburns

**What you expected to happen**:
Should include the definition of `getAvailableDriveLetter()`

**How to reproduce it (as minimally and precisely as possible)**:
As above

**Anything else we need to know?**:

**Environm

[2017-09-17 03:49] debianmaster commented on #40968
this is a much needed feature!   i like how  `openshift` does  `oc project <projectname>` its hard with k8s

[2017-09-17 06:41] richardalberto commented on #52378
@dims @FengyunPan do you guys think `cloud.conf` is the correct place for this flag?

[2017-09-17 06:47] laverite opened #52608 "Initializer support for updates"
How are updates to things like deployments to be handled within Initializers?  Currently I think you have to either delete and recreate a deployment, or write custom update code within the Initializer.  Is there another way to do this?
/kind feature

[2017-09-17 06:48] wanghaoran1988 commented on #52141
@guangxuli Cool, go ahead.

[2017-09-17 07:03] FengyunPan commented on #52378
Yes.

[2017-09-17 07:06] laverite commented on #52608
/sig api-machinery

[2017-09-17 07:08] FengyunPan commented on #52566
'loadbalancer.openstack.org/register-internal-ip=false' sounds better.

[2017-09-17 08:11] #47707 closed

[2017-09-17 08:11] #47708 closed

[2017-09-17 08:45] linhbombk commented on #40920
The last time it happened same as mentioned symptom this issue.
I will try to reprodure as @Oloremo's way and update here.

[2017-09-17 10:46] evmin commented on #45438
Facing the same issue.
Healthcheck is fine
[code]

[2017-09-17 10:47] kargakis commented on #23211
Or you can write a k8s controller that does this for you.

At this point, I think it's more valuable to make sure that all workload controllers report lack of progress.
cc: @kow3ns @janetkuo

[2017-09-17 11:15] pwittrock commented on #52577
Sounds like a good idea.  I remember sometime back there were issues where apply see detect that there were changes when there in fact were none.  This may have since been resolved.  I *think* it was due to an interaction with round tripping and defaulting, but don't quite remember.

This would fit nicely with the other apply renovations we are doing to address long standing issues.

RE priority a

[2017-09-17 11:50] pakali commented on #31424
+1

[2017-09-17 12:20] andyzhangx commented on #52605
https://github.com/kubernetes/kubernetes/pull/52469 will fix this issue, just comment TestGetAvailableDriveLetter test case if it's blocking you, thankx.

[2017-09-17 12:20] andyzhangx commented on #52605
/assign andyzhangx

[2017-09-17 12:59] liggitt commented on #52608
Webhook admission is how you would inject admission checks for update/delete API calls. See https://kubernetes.io/docs/admin/extensible-admission-controllers/#external-admission-webhooks

[2017-09-17 12:59] #52608 closed

[2017-09-17 14:17] #52490 closed

[2017-09-17 15:10] laverite commented on #52608
@liggitt in my case i'm trying to mutate the incoming request (something like https://github.com/kelseyhightower/kubernetes-initializer-tutorial).  looks like the external webhook won't support that. is there another way for that use case?

[2017-09-17 16:12] liggitt commented on #52608
Adding support for mutation to external webhook admission is planned

[2017-09-17 16:40] liggitt commented on #52608
Alternately, you could simply write a controller that issues another update on the object in response to observed update events.

[2017-09-17 17:41] leblancd opened #52613 "kube-proxy needs to consider IPv6 '::' bind address when deriving node IP"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Upon code inspection, found that kube-proxy server takes into consideration a bind
address of 0.0.0.0 (IPv4), but does not check for a bind address of :: (all-zeros IPv6)
when calculating its node IP.

**What you expected to happen**:
IPv6 address "::" should be taken into consideration when calculating node IP.

**Ho

[2017-09-17 17:41] leblancd commented on #52613
/area ipv6
/sig network

[2017-09-17 18:02] liggitt commented on #52587
Feature flag added to e2e test in 1.7 in https://github.com/kubernetes/kubernetes/pull/52615

[2017-09-17 20:07] karabijavad commented on #45438
fwiw, this isnt an issue anymore for me. no idea why it was, or what fixed it

[2017-09-17 20:10] metral commented on #20473
Per the [update](https://github.com/kubernetes/ingress/issues/322#issuecomment-315884499), zero downtime deployments only seem to work if the lifecycle preStop sleep hack is configured in the primary containers of the backend Pods in an RC undergoing a rolling update, or a Deployment being scaled.

If so, this should be documented for ReplicationControllers, ReplicaSets, and Deployments.

Thoughts

[2017-09-17 21:41] #49292 closed

[2017-09-17 21:51] #38383 closed

[2017-09-17 21:54] #44237 closed

[2017-09-17 22:07] renewooller commented on #831
Here is a use case - any thoughts or comments appreciated.

We're making a Continuous Deployment/Integration tool which can run as an application in k8s. It needs to be able to talk to a docker daemon to execute builds and push them to an external repository.

Due to the security concerns of 'dood', we're using 'did'. I could theoretically extend the 'did' image and install the software required t

[2017-09-17 22:19] dims opened #52617 "Deprecate (and then remove) the Persistent Volume Admission Controller"
In https://github.com/kubernetes/kubernetes/pull/44680, we added a Persistent Volume Controller with existing code that runs in cloud-controller-manager
In https://github.com/kubernetes/kubernetes/issues/51629, we cleaned up dependencies for AWS/GCE for the new controller

Next steps,

- [ ] Deprecate the PersistentVolumeLabel admission controller
- [ ] Remove the PersistentVolumeLabel admission c

[2017-09-17 22:24] dims commented on #52617
/sig cluster-lifecycle

[2017-09-17 22:30] kjvalencik commented on #831
@renewooller. This feature wouldn't solve your problem because it would only provide files and not dependencies.

Since you have multiple entry points, what you explained is exactly the correct decision. Mount an `emptyDir` to share the docker socket across containers in the same pod.

[2017-09-17 22:31] mengqiy commented on #52577
This feature will be helpful. And it doesn't require big change since apply already can distinguish if there is a change (but it only print it out).

I agree with @pwittrock's opinion, make it opt-in for now and change the behavior in future major version change.

[2017-09-17 22:32] fejta-bot opened #52619 "Failure cluster [44a489...] failed 82 builds, 11 jobs, and 3 tests over 1 days"
### Failure cluster [44a489900a84ab701fd2](https://go.k8s.io/triage#44a489900a84ab701fd2)
##### Error text:
[code]
##### Failure cluster statistics:
3 tests failed,    11 jobs failed,    82 builds failed.
Failure stats cover 1 day time range '16 Sep 2017 20:11 UTC' to '17 Sep 2017 20:11 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 7 |
| TearDown |

[2017-09-17 22:32] fejta-bot opened #52620 "Failure cluster [781c0a...] failed 70 builds, 14 jobs, and 1 tests over 1 days"
### Failure cluster [781c0a9809255622ffed](https://go.k8s.io/triage#781c0a9809255622ffed)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    14 jobs failed,    70 builds failed.
Failure stats cover 1 day time range '16 Sep 2017 20:11 UTC' to '17 Sep 2017 20:11 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] DNS should pr

[2017-09-17 23:46] smarterclayton commented on #52596
/sig api-machinery

On Sat, Sep 16, 2017 at 2:54 PM, Kubernetes Submit Queue <
notifications@github.com> wrote:

[2017-09-18 00:57] hzxuzhonghu opened #52622 "kubelet ClientCertificateManager should use async notification rather than periodically checks to know certificate rotation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Currently kubelet client certificate manager use [periodically checks ](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/certificate/transport.go#L53-L113) to check kubelet client certificate rotaion.
**What you expected to happen**:
I think we can optimize this mechanism, by asynchronous channel notification when re

[2017-09-18 00:58] hzxuzhonghu commented on #52622
/area kubelet
/sig node

[2017-09-18 01:37] ssakhuja57 commented on #47800
I am able to reproduce this with minikube v0.22.1. When following logs for separate pods concurrently (using `/api/v1/namespaces/<ns>/pods/<pod_id>/log?follow=true`), I very quickly see `unexpected stream type "`. Funny thing is there's always one random pod for which the follow doesn't crash with this error (at least not for a long time) and keeps running successfully.

[2017-09-18 02:22] jianglingxia commented on #51306
the second point that if I manually creating pvc  to match the naming convention of the StatefulSet ,and volumeclaimtemplate define storage is 1Gi，but manually creating pvc define the capacity is 4Gi，k8s will create it and work well,but the behavior is not correct？
and if I delete the volumeclaimtemplate's spec only left the metadata.name,the above case is ok?and the behavior is correct?
thanks fo

[2017-09-18 02:25] liggitt commented on #52622
cc @kubernetes/sig-auth-feature-requests @jcbsmpsn

[2017-09-18 02:36] flyxiao2000 opened #52624 "Can not curl a service from other nodes."
1) I am using kubernetes 1.7 (deploy by kubeadm).
    two nodes:
         148.11.22.176 -- master node
         148.11.22.245  --- work node
     Here is some information.
 ubuntu@kubemaster:~$ kubectl describe services nginx-http
Name:                   nginx-http
Namespace:              default
Labels:                 run=nginx
Annotations:            <none>
Selector:               run=nginx
Typ

[2017-09-18 03:13] Lion-Wei opened #52626 "kube-proxy ipvs mode can't realize session affinity in some cases."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Kube-proxy ipvs mode, for NodePort type service, when I set `sessionAffinity` field to `ClientIP`, and visit
this service, it doesn't seems like realized `sessionAffinity`.

**What you expected to happen**:
Here is my test result:
[code]

[2017-09-18 03:14] Lion-Wei commented on #52626
/sig network
/area ipvs

[2017-09-18 03:32] mengqiy commented on #39434
cc: @apelisse

[2017-09-18 03:56] phucvinh52 opened #52631 "[Question] map range port docker on kubernetes?"
Hi all,
i have run docker with command
docker run -d --name=turnserver -p 64900-65000:64900-65000 turnserver:v0.1
I have a question. Does kubernetes support map hostport with range?
Thank all.

[2017-09-18 04:01] pgnaleen commented on #45022
did you found the issue. i am facing same.

[root@master ~]# nsenter -t 15394 -F -- ip ad sh
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN qlen 1
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host
       valid_lft forever preferred_lft forever
2: ens192: <BROA

[2017-09-18 04:02] pgnaleen commented on #45022
[root@master ~]# route
Kernel IP routing table
Destination     Gateway         Genmask         Flags Metric Ref    Use Iface
default         gateway         0.0.0.0         UG    100    0        0 ens192
10.244.0.0      0.0.0.0         255.255.0.0     U     0      0        0 flannel.1
172.17.0.0      0.0.0.0         255.255.0.0     U     0      0        0 docker0
gateway         0.0.0.0         25

[2017-09-18 04:02] pgnaleen commented on #45022
[root@master ~]# netstat -i
Kernel Interface table
Iface      MTU    RX-OK RX-ERR RX-DRP RX-OVR    TX-OK TX-ERR TX-DRP TX-OVR Flg
docker0   1500   938806      0      0 0        971740      0      0      0 BMRU
ens192    1500  2505821      0    257 0       1291968      0      0      0 BMRU
flannel.  1450        0      0      0 0             7      0      5      0 BMRU
lo       65536  9249986      0

[2017-09-18 04:10] pgnaleen commented on #45022
wow i found out.
in my case
sudo iptables -P FORWARD ACCEPT

worked...

[2017-09-18 05:00] gyliu513 opened #52632 "./hack/update-all.sh failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/kind flake

**What happened**:

[code]

@sttts @smarterclayton

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release

[2017-09-18 05:05] smarterclayton commented on #52622
Can you describe why we need to optimize this?  What benefit do we get from the extra complexity?

[2017-09-18 05:43] surajssd commented on #52345
@aisengard  I think the use-case you are talking about can be simulated by sharing volume between container and init-container, isn't it?

I have updated the config to include volumeMount that is shared between container and init-container.
[code]

running it:

[code]

[2017-09-18 06:24] hzxuzhonghu commented on #52622
@smarterclayton Firstly, this is not very complex;

[2017-09-18 06:52] xiangpengzhao commented on #50274
/sig testing
/area test-infra

/assign @zmerlynn
as per #51695

[2017-09-18 07:04] hrishin commented on #52163
/area api
/area extensibility
/sig api-machinery

[2017-09-18 07:05] linyouchong commented on #51612
may be this PR will fix it:
https://github.com/kubernetes/kubernetes/pull/52324

[2017-09-18 07:06] prashantabkari opened #52636 "Kubectl gives the error "the server doesn't have a resource type "nodes"""
**BUG REPORT**:

**What happened**:
I re-installed the Kubernetes and performed kubeadm init and join from the worker too. But when i run kubectl get nodes it gives the following response

the server doesn't have a resource type "nodes"

What might be the problem here? Could not see anything in the /var/log/messages

**What you expected to happen**:
kubectl get nodes should return the list of work

[2017-09-18 07:12] gyliu513 commented on #52632
There are some discussion here https://groups.google.com/forum/#!msg/kubernetes-dev/KTFObcpKpb8/PtjmcSbTBwAJ , but still not clear how to workaround this, can anyone help? Thanks!

[2017-09-18 07:15] sttts commented on #52632
Which of the deps failed? `godep: Error downloading some deps. Aborting restore and check.`

[2017-09-18 07:27] gyliu513 commented on #52632
The log does not show much, but only the above info.

After more checking, seems it is caused by that I do not have `hg` installed in my new dev env, after install hg via `apt install mercurial`, the `./hack/update-all.sh` works well. @sttts

[2017-09-18 07:39] sttts commented on #52632
@gyliu513 thanks for the update. Closing this.

[2017-09-18 07:39] #52632 closed

[2017-09-18 07:42] xiangpengzhao commented on #50274
Found this in : https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-parallel/595?log#log

[code]

Not sure if this has something to do with the failure.

BTW, the below tests have exactly the same failure status when `[k8s.io] DNS should provide DNS for ExternalName services` fails.
* [k8s.io] CronJob should adopt Jobs it owns that don'

[2017-09-18 07:46] xiangpengzhao commented on #7204
@dchen1107 is this issue valid? If not (seems likely), we can close it :)

[2017-09-18 08:03] lichuqiang commented on #52636
Seems there is something wrong with your kube-apiserver, you can take a look at the log of apiserver

[2017-09-18 08:12] #43206 closed

[2017-09-18 08:12] #43344 closed

[2017-09-18 08:12] #43797 closed

[2017-09-18 08:12] #43930 closed

[2017-09-18 08:14] mYmNeo opened #52641 "PodWorker drops some important update event, cause pod can't be deleted"
**What happened**:
Sometimes we found our cluster had some pods in `Terminating` state, but the containers in these pods were stopped. We also found some logs in kubelet said `Pod xxx is terminated, but some containers are still running`.

**What you expected to happen**:
These pod should be deleted

**How to reproduce it (as minimally and precisely as possible)**:
It's hard to replay our situatio

[2017-09-18 08:31] loburm commented on #52496
Thanks for checking it. I have got the same logs for smaller cluster (10 nodes), so at least we know that the problem is not related to big number of nodes/pods.

[2017-09-18 08:53] xiangpengzhao commented on #14075
@brendandburns is this issue still valid?

[2017-09-18 08:55] xiangpengzhao commented on #21390
@justinsb is this issue still valid?

[2017-09-18 09:06] mozhuli opened #52643 "Federation: google cloud dns records aren't properly when create/update/delete endpoints or LB service"
I have a federation with two clusters in a GKE cluster, the version is `v1.7.5` , show below:
[code]
When I create a federated LoadBalancer service, the LoadBalancer Ingress are created in both clusters.
[code]

However, when only cluster1 has healthy endpoints (I create deployment use --context=cluster1), There
 are not  CNAME records in DNS with cluster2.(DNS should create CNAME records with clu

[2017-09-18 09:13] mozhuli commented on #52643
/sig federation

[2017-09-18 09:19] xiangpengzhao commented on #14753
This code doesn't exist anymore. Going to close this issue :)
/close

[2017-09-18 09:19] #14753 closed

[2017-09-18 10:30] sttts commented on #49536
@munnerz k8s.io/code-generator is a staging repo like the others, i.e. it will be tagged as well.

There won't be a code-generator repo for 1.7.

[2017-09-18 10:34] prashantabkari commented on #52636
ran kubeadm reset and then init. But now get nodes seems to be giving the following error
"The connection to the server localhost:8080 was refused - did you specify the right host or port?"

KUBECONFIG is set but the admin.conf file is blank. So should the /etc/kubernetes/conf $HOME/.kube/config and $HOME/admin.conf be same?

Also could not find the file log files. And all the containers are runni

[2017-09-18 12:05] shyamjvs commented on #52495
@MrHohn @nicksardo That's right. And currently the gce-scale-correctness job finishes in about 5-7hrs. So I don't think it would be a problem to bump the timeout for your e2e by a few minutes (if you feel that would fix it).

I agree. The problem is we only recently (about a month or so ago) automated our scalability tests to run as part of CI. Previously we were running them manually, just prior

[2017-09-18 12:14] shyamjvs commented on #52347
Fyi - this affected gce-scale-performance again (ref: run 35 of https://k8s-testgrid.appspot.com/google-gce-scale#gce-scale-performance):

[code]

Is there a way to make sure they get deleted even in case of a timeout? I have a dirty hack in my mind - of deleting those as part of kube-down. Maybe you have some better suggestions?

[2017-09-18 12:23] shyamjvs commented on #52107
@bowei Sounds reasonable - should be verifiable. After the release I'll try switching to a smaller node again and see what's causing the mischief.

[2017-09-18 12:28] shyamjvs commented on #52578
I fixed this problem for master branch gke jobs. Backporting those fixes (https://github.com/kubernetes/kubernetes/pull/52360 & https://github.com/kubernetes/kubernetes/pull/52420) to whichever release these jobs are running against should fix it.

[2017-09-18 12:31] shyamjvs commented on #52578
@krzyzacy / @ericchiang Could one of you create a PR with those commits?

[2017-09-18 12:44] shyamjvs commented on #52496
@loburm - I'm seeing the test pass on our regular (small cluster) gce job - https://k8s-testgrid.appspot.com/google-gce#gce
And seems like it was passing before and then started failing on our 2k-node job - https://k8s-testgrid.appspot.com/google-gce-scale#gce-large-correctness

[2017-09-18 12:49] talk2vino opened #52652 "Low throughput on K8s Loadbalancer"
**Environment**:
- Kubernetes version (use `kubectl version`):

[code]
- Cloud provider or hardware configuration**:

    Google Container Engine.

**What happened**:

We are in testing phase of springboot based microservice deployment on GKE. During testing QA filed a performance issue , stats that the throughput of the service in k8s  is low when compared to run the java app in

- java -jar meth

[2017-09-18 12:51] floreks commented on #52490
@liggitt is it possible to also access https endpoint if it is default and only endpoint of service without name?

[code]

[2017-09-18 12:53] liggitt commented on #52490
You still have to specify the scheme if you want it to be something other than http

[2017-09-18 12:55] talk2vino commented on #52652
/sig scalability

[2017-09-18 12:58] floreks commented on #52490
I have tried `https://<master-ip>:6443/api/v1/namespaces/kube-system/services/https:some-service/proxy` for example service as above but it did not work.

[2017-09-18 13:02] liggitt commented on #52490
when specifying the scheme, you always need to provide three segments. The supported formats are:
* `<name>`
* `<name>:<port>`
* `<scheme>:<name>:<port>`

If you don't have a port name, include the colon, and leave the port segment empty

[2017-09-18 13:06] liggitt commented on #52490
opened https://github.com/kubernetes/kubernetes.github.io/pull/5520 to update docs

[2017-09-18 13:08] floreks commented on #52490
Great! Thank you.

[2017-09-18 13:10] lghinet commented on #44103
hello,
@AleiHanami can you share your solution please ?
do you have 3 kafka brokers and 3 services with NodePort each pointing to one pod ?

how does your advertised.listeneres looks like ?
thanks

[2017-09-18 13:11] deads2k commented on #52491
There's no valid use-case for an apiserver without a secure serving port.  Failing the process when it is set to zero is ok, but a better message is preferred.

@sttts did you want to give zero a special meaning for testing?  I really don't like "random port" behavior.

[2017-09-18 13:26] oxygenxo commented on #43800
Got this error on CentOS 7.3 with kubeadm and kubelet version 1.7.5

[2017-09-18 13:30] loburm commented on #52496
thanks for pointing on it. The main difference between runs on small and big cluster - special node that we are creating for heapster container. And my local experiment have shown that without this node everything works, but with it - fails.

So I assume that it's more network related. I'll try to figure out what's going on.

[2017-09-18 13:43] prashantabkari commented on #52636
Ok. i got what the issue is. Not sure how admin.conf in $HOME is empty. But i copied /etc/kubernetes/conf to $HOME/admin.conf and it worked.

Closing now.

[2017-09-18 13:43] #52636 closed

[2017-09-18 13:52] #52546 closed

[2017-09-18 14:05] andrewsykim opened #52653 "StatefulSet Status is missing UpdatedReplicas field"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:
StatefulSet Status is missing `updatedReplicas` field but has `updateRevision` set
[code]

**What you expected to happen**:
According to the docs in https://kubernetes.io/docs/api-reference/v1.7/#statefulsetstatus-v1beta1-apps:

 It seems that `updatedReplicas` is actually only useful when doing a rolling updat

[2017-09-18 14:16] liggitt commented on #50767
opened https://github.com/kubernetes/kubernetes/pull/52654 with updates

[2017-09-18 14:18] smarterclayton commented on #52593
I agree, even a manual test would be better than nothing.  The potential impact of *not* knowing what would happen puts the project at risk.

[2017-09-18 14:20] x1957 commented on #51612
@linyouchong I think this pr works, but **UnmountMountPoint** not used in flexvolume

[2017-09-18 14:21] sttts commented on #52491
The special meaning of zero was only inside the `Config` struct, and should not leak into the flags. The behaviour to switch of secure serving is correct.

I bet this crash is related to what we fixed in https://github.com/kubernetes/kubernetes/pull/51900 for 1.8.

[2017-09-18 14:28] eparis commented on #52593
Upgrades can do storage layer re-writes, which would be downgrade incompatible. Right? Isn't 'downgrades working' basically impossible over the long run?

[2017-09-18 14:28] andrewsykim commented on #52653
/sig apps

[2017-09-18 14:34] smarterclayton commented on #52593
Technically every API field has to be forward and backwards compatible, so new data would be lost, but the system should function without that data.  So normal objects that don't have their storage version changed would be unaffected.  However, if the upgrade has changed what the preferred storage version is (such as deployments in apps/v1beta2), then yes, any "new" versions would be unreadable af

[2017-09-18 14:41] gmarek commented on #52593
This means we should consider having a tool that "moves" the storage of a given type to different (compatible) one.

[2017-09-18 14:42] smarterclayton commented on #52593
We do have a variant of it, but need to get more formal about it.

[2017-09-18 14:46] matt-duch opened #52655 "Containers intermittently start with host /etc/resolv.conf instead of the kubernetes created file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The issue was noticed when some containers stopped being able to resolve cluster addresses. After a docker daemon restart, ~10% of containers that came up had invalid /etc/resolv.conf files (did not contain kubedns settings, just the host /etc/resolv/conf). This was distributed evenly across the 4 types of images/pod conf

[2017-09-18 14:49] sttts commented on #51643
@caesarxuchao https://github.com/kubernetes/kubernetes/issues/51643#issuecomment-329070707 is probably due to our too aggressive pruning of the Godeps.json in the staging dirs: we delete all k8s.io repos, even those which are not staging repos like kube-openapi.

[2017-09-18 14:53] matt-duch commented on #52655
@kubernetes/sig-node-bugs

[2017-09-18 14:54] jdumars commented on #52593
This testing is going to be like putting a pair of pants full of loose change in the dryer.  We're going to find a lot of work shaking out of this.  The worst thing we can do is be blind to what that work may be, because a no-revert strategy for cluster operators is not a good UX and will inevitably lead to a decline in adoption.

[2017-09-18 15:20] liggitt commented on #26202
in apps/v1beta2, defaults are no longer set on spec.selector

however, the spec.selector field is also no longer allowed to mutate at all in apps/v1beta2 as of https://github.com/kubernetes/kubernetes/pull/50719

[2017-09-18 15:53] ericchiang commented on #47820
Bumping. These tests are still failing on two of our upgrade suites

https://k8s-testgrid.appspot.com/master-upgrade#gce-1.7-master-upgrade-cluster-new
https://k8s-testgrid.appspot.com/master-upgrade#gce-1.7-master-upgrade-cluster

cc @kubernetes/sig-apps-test-failures

[2017-09-18 16:01] ericchiang commented on #52353
This appears to have been resolved. Upgrade tests ran well throughout the weekend. Thanks @krzyzacy for all the help here.

[2017-09-18 16:01] #52353 closed

[2017-09-18 16:03] ericchiang commented on #50793
This appears to be green now on all master upgrade blocking tests. Closing.

[2017-09-18 16:03] #50793 closed

[2017-09-18 16:05] julia-stripe opened #52657 "Memory leak in controller manager"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

Apologies for this not being more specific from "in the controller manager" -- I've attached a heap dump which hopefully will clarify but I haven't figured out yet how to track this down further to a specific controller. Right now we're restarting the controller manager every hour to mitigate this issue.

**What happened**:

The controller

[2017-09-18 16:09] liggitt commented on #52454
@jessfraz @tallclair what's the plan for this for 1.8?

[2017-09-18 16:12] gnufied opened #52658 "resize admission plugin breaks dynamic provisioning"
Currently the resize admission plugin - https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/persistentvolume/resize/admission.go checks for all kind of updates.

This is problematic because this means that enabling the plugin blocks other kind of updates to PVC too. But PV controller in particular depends on ability to set `volumeName` after pvc creation for dynamic provision

[2017-09-18 16:15] ericchiang commented on #50797
Reopening since this is still failing on on our or upgrade tests.

https://k8s-testgrid.appspot.com/master-upgrade#gke-gci-1.7-gci-master-upgrade-cluster-new

We're blocked on that test not producing logs though (https://github.com/kubernetes/kubernetes/issues/52578).

[2017-09-18 16:17] jessfraz commented on #52454
I will open a PR today

[2017-09-18 16:28] julia-stripe commented on #52657
/sig api-machinery
(not sure if that's right)

[2017-09-18 16:29] dchen1107 commented on #42926
We finished the qualification for both docker 1.13.x and 17.03 for k8s 1.8. The related docker dependency information in 1.8 release notes were updated. Close the issue.

[2017-09-18 16:29] #42926 closed

[2017-09-18 16:34] dchen1107 commented on #47255
Clear the milestone for this issue. We increased the limit for runtime (docker), but please note that the newer version of docker use more resource.

[2017-09-18 16:38] dchen1107 commented on #52331
cc/ @kubernetes/sig-network-bugs Network folks, can you help to confirm the CNI behavior described above?

[2017-09-18 16:38] dims commented on #52657
@julia-stripe - Do you have `successfulJobsHistoryLimit ` and `failedJobsHistoryLimit ` set? See tip here : https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/#jobs-history-limits

[code]

[2017-09-18 16:39] dims commented on #52657
@soltysh thoughts?

[2017-09-18 16:41] dchen1107 commented on #52242
Agreed with both @yujuhong and @liggitt above. @saad-ali can you assign this to the owner of the volume manager in sig-storage?

cc/ @kubernetes/sig-storage-bugs

[2017-09-18 16:47] mtaufen commented on #47765
Closing as no updates in 2 months. Feel free to re-open if you see this issue again.

[2017-09-18 16:47] #47765 closed

[2017-09-18 16:48] yujuhong commented on #52564
@dims Yes.

[2017-09-18 16:48] jingxu97 opened #52661 "Map a resource to multiple signals in eviction manager"
It is possible to have multiple signals that point to the same type of
resource, e.g., both SignalNodeFsAvailable and
SignalAllocatableNodeFsAvailable refer to the same resource NodeFs.
Change the map from map[v1.ResourceName]evictionapi.Signal to
map[v1.ResourceName][]evictionapi.Signal

[2017-09-18 16:49] dchen1107 commented on #47943
@derekwaynecarr Do you have time looking into the issue in detail? Based on the initial bug description, I think the root cause might be cAdvisor doesn't report overlay2 image usage properly, thus disk-based eviction manager doesn't take an action properly.

cc/ @dashpole

[2017-09-18 16:49] spiffxp commented on #50599
Is this still a release-blocker for 1.8? Seems like since the offending change has been reverted we can kick this out of v1.8 milestone

[2017-09-18 16:50] julia-stripe commented on #52657
@dims

We do have `successfulJobsHistoryLimit` and `failedJobsHistoryLimit` set.

If the problem were due to the actual number of jobs in the cluster, I'd expect the memory usage to immediately go back up once the controller manager is restarted. The fact that restarting it seems to fix the problem makes me think it's a leak. Does that reasoning make sense to you?

[2017-09-18 16:51] dims commented on #52564
@yujuhong Looks like the PR is just ripping it out - https://github.com/kubernetes/kubernetes/pull/52629

[2017-09-18 16:52] spiffxp commented on #30819
Should this issue still be in the v1.8 milestone?  Seems like this would benefit from a definition of done before putting into a release milestone

[2017-09-18 17:05] dchen1107 commented on #43607
I retarget this to v1.9 since all work items for 1.8 are done.

[2017-09-18 17:13] pmoosh commented on #52173
@micahhausler - how are things coming along?

[2017-09-18 17:15] dims commented on #15077
@justinsb - So, time for that question again. Do we want this in v1.8?

[2017-09-18 17:16] dims commented on #21657
@quinton-hoole @xinxiaogang Looks like there's nothing here that can be done for 1.8. Can we please move this out of 1.8?

[2017-09-18 17:18] dims commented on #22212
@davidopp @dchen1107 @kubernetes/sig-node-feature-requests Can we please move this out of 1.8? Doesn't look like much was done and it's too late now.

[2017-09-18 17:18] dims commented on #23479
@justinsb Let's move this out of 1.8 please?

[2017-09-18 17:21] spiffxp commented on #51825
friendly v1.8 release ping, does this issue need to be in the v1.8 milestone? is this issue actively being worked?

[2017-09-18 17:22] spiffxp commented on #42394
friendly v1.8 release ping, does this issue need to be in the v1.8 milestone? is this issue actively being worked?

it looks like #43016 which partially fixes this issue has been moved to v1.9

[2017-09-18 17:23] MrHohn commented on #52347
Consider the frequency this happens, I think it makes sense to implement some cleanup logic within the e2e test. Will give it a try.

[2017-09-18 17:23] dims commented on #47723
@spradeepv @caseydavenport - How badly do we need this in 1.8? given that there is not PR yet for this issue? Can we please move this off of 1.8?

[2017-09-18 17:24] Random-Liu opened #52665 "`make test-e2e-node` should exit with non-zero exit code for test failure"
Currently, `make test-e2e-node` always returns with 0 exit code no matter the test fails or not.

We should fix it to return non-zero exit code for test failure.

[2017-09-18 17:25] dims commented on #47131
@xiang90 @hongchaodeng @javipolo  So is there any PR for this? if not can we move it out of 1.8 milestone please?

[2017-09-18 17:25] dims commented on #39746
@marun @madhusudancs this shouldn't be blocking 1.8 either right?

[2017-09-18 17:26] liggitt commented on #42394
no, moving to 1.9

[2017-09-18 17:26] dims commented on #38537
@quinton-hoole @marun we should not block 1.8 too right? looks like this slipped 1.7 too

[2017-09-18 17:27] dims commented on #52258
@saad-ali looks like there are 2 PR(s) for this issue, can you please review them? hoping we get this in for 1.8

[2017-09-18 17:27] dchen1107 commented on #22212
Ok, here is a quick status updates

1) The design proposal was agreed and merged during 1.8 timeframe
2) The new API for the proposal was merged during 1.8 timeframe
3) There are pending PR and discussion on the implementation.

I am retargeting this to v1.9. @bsalamat please correct me if I missed anything above.

[2017-09-18 17:28] dims commented on #45019
@k82cn @gmarek can we please drop the 1.8 milestone on this issue?

[2017-09-18 17:29] dims commented on #43486
@krousey, Do we really need to block 1.8 for this issue?

[2017-09-18 17:30] dims commented on #34508
@lavalamp @ncdc @thockin @timothysc @liggitt Is there anything else we need to do for 1.8 here? Can we please move the milestone if not? (or close the issue)

[2017-09-18 17:34] dims commented on #48510
Since this is a bug, i have requested the release team to mark the PR #48970 as milestone v1.8 too.

[2017-09-18 17:35] dims commented on #48968
@saad-ali @kubernetes/sig-storage-bugs Do we still need this fixed? (in 1.8)

[2017-09-18 17:37] MrHohn commented on #52495
Ack, will give it a shot.

/assign

[2017-09-18 17:42] dchen1107 commented on #48510
@dims,  I raised my concern at #48970, but ok with it as a temporary fix. Marked it for v1.8. Thanks!

[2017-09-18 17:42] dims commented on #49987
@caesarxuchao Looks like at least one PR merged for this. Can we close this? or push it out of 1.8 milestone please?

[2017-09-18 17:44] dims commented on #49391
@caesarxuchao @deads2k @mbohlool - Do we need this for 1.8? If not, please clear the milestone

[2017-09-18 17:45] krousey commented on #43486
No we do not. This is cleanup. Sorry this slipped of my radar for this release. It can be bumped.

[2017-09-18 17:46] dims commented on #50115
Looks like the PR #52322 needs v1.8 milestone

[2017-09-18 17:51] dims commented on #51718
@shyamjvs are we almost done with the issues for this umbrella issue? if so can we close this out and leave the individual issues with correct milestone?

[2017-09-18 17:52] dims commented on #51961
@msau42 @MrHohn @abgworrall Anything left to do for 1.8 specifically that has not merged yet? Should we close this or drop 1.8 if so?

[2017-09-18 17:53] dims commented on #50495
@thockin @bowei @cmluciano Can we please drop 1.8 milestone? since it's already too late?

[2017-09-18 17:55] dims commented on #49896
@bsalamat @timothysc @davidopp @k82cn Can we please drop 1.8 milestone?

[2017-09-18 17:55] dims commented on #49158
@jingxu97 @dixudx Looks like this is too late for 1.8, can we please drop the 1.8 milestone?

[2017-09-18 17:56] dims commented on #52040
@cmluciano Can we please move out of 1.8 milestone?

[2017-09-18 18:01] dims commented on #46763
@mwielgus @crassirostris Can we please move this out of 1.8 milestone?

[2017-09-18 18:02] somejfn commented on #50522
Same problem here on Tectonic 1.7.2 and Ceph Luminous 12.2.0

W0918 17:49:34.813572       1 rbd_util.go:364] failed to create rbd image, output 2017-09-18 17:44:34.641191 7fe33b924780 -1 did not load config file, using default settings.
2017-09-18 17:44:34.806063 7fe33b91c700  0 -- 10.74.80.70:0/1000057 >> 10.74.80.131:6789/0 pipe(0x55e354476060 sd=3 :32796 s=1 pgs=0 cs=0 l=1 c=0x55e3544762f0).con

[2017-09-18 18:02] jingxu97 commented on #49158
Yes, we can drop this one from 1.8

[2017-09-18 18:02] dims commented on #40212
@crassirostris looks like we'll need to move this out of 1.8 or close it right?

[2017-09-18 18:04] crassirostris commented on #40212
@dims Whoops, it's actually closed by https://github.com/kubernetes/kubernetes/pull/52289 in 1.8. Thanks for reminding!

[2017-09-18 18:04] #40212 closed

[2017-09-18 18:06] dims commented on #52039
@cmluciano are there any specific PR(s) that are ready to get into 1.8?

[2017-09-18 18:08] dims commented on #50645
@jingxu97 @BaluDontu @FengyunPan - This is marked urgent, are there PR(s) ready to merge?

[2017-09-18 18:08] spiffxp commented on #52284
friendly v1.8 release ping, does this issue need to be in the v1.8 milestone? is this issue actively being worked?

[2017-09-18 18:11] jingxu97 commented on #48968
@dims I want to keep this open because we might want to fix something related to this issue. Still working on it.

[2017-09-18 18:11] deads2k commented on #49391
Jordan fixed the reconciliation loop in 1.8, which gets us unstuck.

[2017-09-18 18:14] dims commented on #48968
@jingxu97 - y, we are already one week late for 1.8 please keep that in mind :)

[2017-09-18 18:16] dims commented on #47604
@bsalamat @grodrigues3 @resouer - Do we still need this for 1.8? Can we please move it out if not? (we are already late for 1.8)

[2017-09-18 18:18] dims commented on #51899
@shyamjvs So we can move this out of 1.8 milestone?

[2017-09-18 18:19] dims commented on #51355
@jpbetz ping, we need to close this out or move it out of 1.8 milestone. Please let us know

[2017-09-18 18:20] krzyzacy commented on #52578
doing it

[2017-09-18 18:24] jingxu97 commented on #50645
@dims, I think all the PRs are merged for this issue.

[2017-09-18 18:27] krzyzacy commented on #52578
https://github.com/kubernetes/kubernetes/pull/52668

[2017-09-18 18:27] dims commented on #52444
@crassirostris @repeatedly @igorpeshansky do we need to block 1.8 release? can we please move this out of 1.8 if it's not?

[2017-09-18 18:27] dims commented on #52459
@jingxu97 @vkamra Can we please move this out of 1.8 milestone?

[2017-09-18 18:30] crassirostris commented on #52444
@dims Moved to 1.9, since it's not specific for 1.8

[2017-09-18 18:32] dims commented on #49135
@kow3ns looks like there was a lot of progress, can we close this out or move this out of 1.8 milestone please?

[2017-09-18 18:33] dims commented on #50645
great thanks!

(assigning to myself to close the issue)

/assign

[2017-09-18 18:34] dims commented on #50645
/close

[2017-09-18 18:34] #50645 closed

[2017-09-18 18:35] yujuhong opened #52670 "Surface cloud-provider-specific information in Services of type LoadBalancer"
Service of type LoadBalancer is backed by a cloud-provider-specific load balancer. Due to the inherent differences in networking, each cloud provider supports a very different sets of features and/or configurations exposed via annotations. For example, the Service annotations supported on AWS:
https://github.com/kubernetes/kubernetes/blob/8c025bc2f23a3be059bf9a7d05867a8cb6f52ea8/pkg/cloudprovider/

[2017-09-18 18:37] nikhiljindal commented on #52458
Any update on this?
If I understand correctly, there are no e2e tests currently for this new feature

[2017-09-18 18:37] dims commented on #51841
@luxas looks like there are 5 items now :)

[2017-09-18 18:43] gnufied commented on #52458
Not yet, I should have tests written by tomorrow.

[2017-09-18 18:43] bowei commented on #52284
@shyamjvs Your current patch seems to be ok -- we can do the broader fix for 1.9. What do you think?

[2017-09-18 18:46] Rev1408 opened #52671 "Pod IP not accessible from master node"
I have a 3 node kubernetes cluster, a master and two nodes on AWS that I created with kubeadm (https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/)

I have created some deployments from the master node and I can see that pods are created on the 2 nodes for each of the deployments. But the issue is I can't access the pod ip from the master or from the other node. So the pod ip is o

[2017-09-18 18:47] Rev1408 commented on #52671
/sig network

[2017-09-18 18:48] MrHohn commented on #52495
Humm, it seems we already set a large timeout (2 hours) for LB tests when running on big cluster.

https://github.com/kubernetes/kubernetes/blob/bb50086b8ffb4289e085fce637a5cd01f8ef4296/test/e2e/framework/service_util.go#L73

https://github.com/kubernetes/kubernetes/blob/bb50086b8ffb4289e085fce637a5cd01f8ef4296/test/e2e/network/service.go#L1433-L1435

But [we still hit timeout](https://k8s-guberna

[2017-09-18 18:52] Rev1408 commented on #52671
/sig aws

[2017-09-18 18:53] Rev1408 commented on #52671
/sig area/platform/aws

[2017-09-18 18:58] DirectXMan12 commented on #52564
@dims @yujuhong it's been unsupported for a while now, and it never left alpha.  Since it was alpha, I think we're fine just ripping it out.

[2017-09-18 19:04] nikhiljindal commented on #52458
Since the feature is in 1.8, we need tests in 1.8.
Adding 1.8 milestone.

[2017-09-18 19:05] jessfraz commented on #52454
so hmmm, the default is `nil` and the function `AddNoNewPrivileges` isn't doing the default, it is setting the `NoNewPrivs` for the cri used, ex. https://github.com/kubernetes/kubernetes/blob/b32639f9e7d47d0f69bb41b5535803ae4c9d835a/pkg/kubelet/kuberuntime/security_context.go#L72 and https://github.com/kubernetes/kubernetes/blob/9737efccf0e026e2e2437aa31c4365577d628bd5/pkg/kubelet/rkt/rkt.go#L442

[2017-09-18 19:05] nikhiljindal commented on #52138
Since the feature is in 1.8, we need tests in 1.8.
Adding this to 1.8 milestone.

[2017-09-18 19:13] piosz commented on #46763
It will not happen for 1.8.

[2017-09-18 19:14] piosz commented on #50599
@spiffxp correct, removing 1.8 milestone

[2017-09-18 19:23] ssakhuja57 opened #52672 "unable to follow logs for multiple pods concurrently"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Tried to follow logs for multiple pods via `/api/v1/namespaces/<ns>/pods/<pod_id>/log?follow=true` and am seeing the output of each successfully at first, but then each of the commands die with `unexpected stream type "` until one is remaining, which continues to run successfully.

**What you expected to happen**:
Each of

[2017-09-18 19:33] tallclair commented on #52454
I was thinking the field `SecurityContext.AllowPrivilegeEscalation` could be defaulted in `pkg/api/v1/defaults.go`, and then https://github.com/kubernetes/kubernetes/blob/b32639f9e7d47d0f69bb41b5535803ae4c9d835a/pkg/kubelet/kuberuntime/security_context.go#L72
could just be simplified to `synthesized.NoNewPrivs = !*effectiveSc.AllowPrivilegeEscalation` (plus handle nil)

[2017-09-18 19:40] ssakhuja57 commented on #52672
@kubernetes/sig-node-bugs

[2017-09-18 19:47] thockin commented on #52593
I like the analogy, @jdumars.

I wrote https://github.com/kubernetes/kubernetes.github.io/pull/5338 specifically to address the issues around default storage version, which lead to https://github.com/kubernetes/kubernetes/issues/52185

[2017-09-18 20:07] somejfn commented on #45010
+1 on upgrading the rbd client.   Currently a blocker to use the latest Ceph release Luminous for me:
 https://github.com/kubernetes/kubernetes/issues/50522

[2017-09-18 20:10] nelson-cf commented on #42727
Did anyone ever figure out how kubeadm is handling container logs and the approach to ship them?  It appears to do something different than every other cluster management solution.

[2017-09-18 20:14] yujuhong commented on #50797
[code]
The expected number of nodes "-1" was the value of `framework.TestContext.CloudConfig.NumNodes`
This recent PR changed how this values is set in GKE: https://github.com/kubernetes/test-infra/pull/4500
There are other tests with similar failure signature too.
/cc @krzyzacy @zmerlynn

[2017-09-18 20:20] yujuhong commented on #52672
The fix was merged and included in 1.7.6 (#51871). Please open a new issue if the problem remains after you upgrade. Thanks.

[2017-09-18 20:20] #52672 closed

[2017-09-18 20:20] mbohlool commented on #51639
This does not seem to be an api-machinery problem. I will remove sig-api-machinery label and add sig cli.

[2017-09-18 20:33] dashpole commented on #47943
I tested this on a COS image using overlay2:

`docker info`
...
Server Version: 17.03.2-ce
Storage Driver: overlay2
...

The inode eviction test passed, and looking at the log had correct stats for container writable layer metrics and volume metrics.

Even if overlay2 metrics did not work, it should not result in a permanently filled filesystem.  DiskPressure is triggered by running low on disk sp

[2017-09-18 20:45] lavalamp commented on #52596
/assign @jpbetz

[2017-09-18 20:46] lavalamp commented on #52657
/assign @cheftako

[2017-09-18 20:50] #45009 closed

[2017-09-18 20:50] liggitt commented on #51639
it was api-machinery, fixed in https://github.com/kubernetes/kubernetes/pull/50012

[2017-09-18 20:51] #51639 closed

[2017-09-18 20:52] lavalamp commented on #44995
I think the best solution is to have a "dry-run" option to `POST` requests. Linking in the code is asking for major problems around version upgrades.

[2017-09-18 20:56] lavalamp commented on #44957
/assign @mbohlool

[2017-09-18 21:09] mtanino opened #52674 "fc volume can't be attached with "MountVolume.WaitForAttach failed""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Pod creation doesn't finish due to the following error. If the directory doesn't exist it will be created instead of returning error.
[code]

**What you expected to happen**:

Pod with FC volume works properly.

**How to reproduce it (as minimally and precisely as possible)**:

- Clean up under the "/var/lib/kubelet/plugi

[2017-09-18 21:10] lavalamp commented on #44932
I think supporting float comparison is a reasonable feature request.

But are you sure you don't want support for semver? That seems more useful for versions?

[2017-09-18 21:12] krzyzacy commented on #50797
It was like that before my PR, @zmerlynn seems `--num-nodes=3` is passed properly but it's still insufficient to fix the issue? I'll take another look.

[2017-09-18 21:12] spiffxp commented on #47820
friendly v1.8 release ping, does this issue need to be a release-blocker? does this issue need to be in the v1.8 milestone? is this issue actively being worked on?

[2017-09-18 21:15] mtanino commented on #52674
/sig storage

[2017-09-18 21:19] foxish commented on #47820
Triaging and looking into it, will have an update by tomorrow.

[2017-09-18 21:22] jingxu97 opened #52676 "Add e2e test for testing detach volume after pod is evicted."
When pod is evicted, pod is terminated. After this change #45286, attach/detach controller should be able to detach the pod correctly so that new pod which uses the same volume will start up. We need to have an e2e test for this scenario.

[2017-09-18 21:30] krzyzacy commented on #50797
/assign

[2017-09-18 21:34] krzyzacy commented on #47820
the wrong num nodes in network tests might be related to https://github.com/kubernetes/kubernetes/issues/50797

[2017-09-18 21:49] yujuhong commented on #52462
Were you able to login to the node and check all docker containers (`docker ps -a`)? One possible cause is that the exited init containers got removed manually.

[2017-09-18 21:54] bowei commented on #50495
:-( I does look like this will not be possible to fix without increased risk for 1.8.0. Maybe we should target a dot release for the bugfix?

[2017-09-18 22:01] thockin commented on #52670
I like the idea of status for this.  We've tried to stay away from string-string maps in general, but it seems appropriate here.  Something like:

[code]

"properties" is a terrible name, but you get the idea.  Better than storing annotations perhaps, though it is sort of a slippery distinction.

@smarterclayton @bgrant0607

[2017-09-18 22:06] everett-toews commented on #32987
Confirmed still an issue in 1.7.x. This should be re-opened please.

[2017-09-18 22:08] anguslees commented on #52566
I don't like adding annotations just to make things work.  I counter-propose just not publishing the private IP whenever there is also a floating-ip (without a configuration option to control this behaviour).

[2017-09-18 22:08] krzyzacy commented on #50797
Before #4500 the entire upgrade was failing (if you scroll to the right of the testgrid page, that fixed `UpgradeTest` row).

So this test was passing in both https://k8s-testgrid.appspot.com/master-upgrade#gke-gci-1.7-gci-master-upgrade-cluster and https://k8s-testgrid.appspot.com/master-upgrade#gke-gci-1.7-gci-master-upgrade-master, @crimsonfaith91 can you double check that if there's any differ

[2017-09-18 22:11] spiffxp commented on #52661
/kind cleanup
/priority important/soon
taking a guess at labels to satisfy the milestone munger

[2017-09-18 22:17] bsalamat commented on #47604
@dims All the items we had planned for 1.8 are already in. The rest should go to 1.9. So, yes, we can move it out now.

[2017-09-18 22:21] bsalamat commented on #22212
@dchen1107 Priority and Preemption are already implemented in 1.8. We plan to improve preemption algorithm in 1.9, but those improvements are beyond the scope of this issue in my opinion.

[2017-09-18 22:26] ixdy opened #52677 "compilation issues with bazel 0.6.0"
Kubernetes 1.8 and master currently builds with bazel 0.5.4 and `rules_go` at 82483596ec203eb9c1849937636f4cbed83733eb.

Upgrading `rules_go` to a newer version causes bazel 0.5.4 to crash (https://github.com/bazelbuild/rules_go/issues/783).

However, using bazel 0.6.0rc1 with the currently-pinned version of `rules_go` results in a build failure:
[code]

This seems to be due to a flag default chan

[2017-09-18 22:29] tallclair commented on #52370
@dixudx yes, I commented on the PR.

[2017-09-18 22:31] vishh opened #52678 "Checkpoint artifacts injected into a pod using device plugins in kubelet"
Device plugins expose an Allocate API which is not expected to be idempotent.
Kubelet checkpoints devices allocated to a pod.
The artifacts (env vars, mounts, etc) provided by device plugins as part of allocation are not checkpointed by the kubelet.
So in the event of a kubelet restart and pod (re)start, kubelet will have to re invoke "allocate" on a pre-allocated device.
To solve this we either r

[2017-09-18 22:58] apelisse opened #52681 "Federation tests are broken"
https://k8s-testgrid.appspot.com/release-master-blocking#gce-federation

Federation tests are broken and blocking the release.

cc @kubernetes/sig-federation-bugs
cc @jdumars

[2017-09-18 22:59] apelisse commented on #52681
cc @kubernetes/kubernetes-release-managers

[2017-09-18 23:06] ugorji commented on #51899
In case the issues you see are caused by the json-iterator merge at #48287

FYI: See ugorji/go@54210f4e076c57f351166f0ed60e67d3fca57a36

Substantial performance updates that bring the performance without code-generation in line with what you get from json-iterator. we did this while only using 'unsafe' in very targeted places, with a build tag to switch to 'no unsafe' mode. See helper_unsafe.go to

[2017-09-18 23:17] madhusudancs commented on #52681
This should be fixed in about an hour. Ran the script to cleanup leaked resources. Next run should pass.

[2017-09-18 23:28] bowei commented on #52670
Should there be something like a `HasError: bool` field at the top level? Seems useful to make that piece generic

[2017-09-18 23:47] MrHohn commented on #52495
Regarding my previous comment, I just noticed that we run tests in parallel for the correctness jobs. Given this, we would probably try to create 7 LBs at the same time, at the worse case it might take (17 mins ( forwarding rule creation) + 14 mins (target pool creation/addition) + 1~2 mins (firewall rules, healthcheck etc.)) * 7 = larger than 3.5 hours to finish, and test will certainly timeout.