[2019-04-23 08:37] Pingan2017 commented on #76930
/sig node

[2019-04-23 08:40] mm4tt commented on #76374
To summarize recent work:

1. Implementing setting up private gce clusters with nat, feature is gated via the `KUBE_GCE_PRIVATE_CLUSTER` env
2. CI test and dashboard with correctness tests on gce private cluster - https://k8s-testgrid.appspot.com/sig-scalability-experiments#gce-private-cluster-correctness
3. Currently 27 tests fail
4. WIP on fixing the tests - https://github.com/kubernetes/test-in

[2019-04-23 08:59] SolarisYan commented on #74340
I have same issue on Ubuntu 16.04.4 with kubernetes v1.12.2

[2019-04-23 09:05] timstoop commented on #71706
I'm not sure if this is related or not, but it seems like this is one of the few issues dealing with this error. We have the same error on Kubernetes 1.11.6 (yes, we should upgrade, but I doubt that's related? Didn't see any fixes in newer versions that sound like they would solve this), running on Debian 9 in GCE. The underlying problem seems to be that "something" that kube-proxy is doing is cau

[2019-04-23 09:06] kivagant-ba commented on #58212
I don't know if there is a separate issue for that, but same problem with `set resources`

[code]

[2019-04-23 09:55] sonykus commented on #47368
We've also been looking for this, thinking that by 2019 it should probably be a given already.
It turns out that it's unfortunately not the case yet.

Of course, one could say "Well, write your own admission controller that adds this functionality, and you're done" (like I've been writing admission controllers in golang my entire life). I think it would be pretty useful it just worked out of the b

[2019-04-23 10:55] yivo commented on #49466
I am also interested in that feature. Would be good for me to use along with `RestartPolicy: OnFailure`.

[2019-04-23 10:58] ashrayjain opened #76935 "kubelet does not setup /etc/resolv.conf correctly for host networked pods"
**What happened**:

**TL;DR**: Due to slightly lacking error handling in dockershim, pods can end up with partially setup sandboxes under certain conditions. Specifically, with incorrect dns settings.

We sporadically encounter host-networked pods with the ClusterFirstWithHostNet dnsPolicy fail trying to resolve k8s services. The `/etc/resolv.conf` inside the container is set to the host configura

[2019-04-23 10:59] ashrayjain commented on #76935
/sig node

[2019-04-23 11:10] Hermain commented on #48609
Not necessary to remove the entire claimRef if the deploment/statefullset has not changed. The uid: field is enough to unbind the volume and you don't risk using that volume for the wrong statefullset/replica since the other labels wont match.

[2019-04-23 11:21] CallMeFoxie commented on #76693
Don't want to jinx it, but testing it on debian stretch and crio is so far okay.
[code]

so maybe somewhere within dockershim?

[2019-04-23 11:36] lersouza commented on #76447
That would be great @draveness!

[2019-04-23 11:48] oxddr commented on #76579
In the meantime I am re-running tests at 51db0fe21 to verify what was the last good run.

[2019-04-23 12:46] petro404 opened #76938 "undesired number of replica sets are created during deployment update"
**What happened**:
I am running client in golang which is using k8s to create deployment resource and HorizontalPodAutoscaler
I am not defining replicaset as part of the deployment resource so it used the default 1
HorizontalPodAutoscaler us defined with mix=max=1

The current behavior:
2 replica set are created then 2 pods are created then the HorizontalPodAutoscaler take care to reset one replic

[2019-04-23 13:16] mrgavinconway001 commented on #50375
+1

[2019-04-23 13:21] vaisov commented on #66961
I did set `imagefs.available: 2Gi` in `/var/lib/kubelet/config.yaml`, but I still see errors in logs like:
`
Apr 23 15:16:30 y49295 kubelet[29149]: I0423 15:16:30.654916   29149 image_gc_manager.go:300] [imageGCManager]: Disk usage on image filesystem is at 89% which is over the high threshold (85%). Trying to free 9053972070 bytes down to the low threshold (80%).
Apr 23 15:16:30 y49295 kubelet[29

[2019-04-23 14:01] liggitt commented on #75193
will be fixed in https://github.com/kubernetes/kubernetes/pull/76910

[2019-04-23 14:01] liggitt commented on #76649
closed in favor of https://github.com/kubernetes/kubernetes/pull/76910

[2019-04-23 14:09] liggitt opened #76943 "pods/eviction does not honor `dryRun: true`option"
**What happened**:
The pods/eviction REST handler does not check options.DryRun, and actually evicts the pod

/sig api-machinery
/assign @apelisse
/priority important-soon

The integration test for dry run skips all subresources. As part of fixing this, we should fix that test to exercise subresources. There are likely other subresources that do not wire up dry run

[2019-04-23 14:14] alejandrox1 commented on #75045
/remove-milestone v1.14
/milestone v1.15

[2019-04-23 14:18] alejandrox1 commented on #75196
A little delayed getting on top of this but we will be looking into this again. For now, the specific test failure in this issue is no longer in place.
/close

[2019-04-23 14:18] #75196 closed

[2019-04-23 14:22] alejandrox1 commented on #75373
this test failure hasn't shown up for a while 🎉
/close

[2019-04-23 14:22] #75373 closed

[2019-04-23 14:25] alejandrox1 commented on #73105
Failures here are still showing up so I guess this needs some more investigation
/remove-milestone v1.14
/milestone v1.15

[2019-04-23 14:45] neolit123 commented on #76938
/sig scalability

[2019-04-23 15:11] neolit123 commented on #76873
/sig architecture
cc @dims @vincepri

for further details:

flags like that are marked using pflag:
https://github.com/kubernetes/kubernetes/blob/a9ab371f46ac746c8e3d293d83d485b1fdfc5f26/cmd/kube-proxy/app/server.go#L157

pflag prints using stderr by default, unless SetOutput is set to something else:
https://github.com/spf13/pflag/blob/master/flag.go#L473
https://github.com/spf13/pflag/blob/maste

[2019-04-23 15:33] thockin commented on #71706
That is bizarre.  Which proxy mode?

On Tue, Apr 23, 2019, 2:06 AM Tim Stoop <notifications@github.com> wrote:

[2019-04-23 15:35] CallMeFoxie commented on #76693
OK so I've added a 5 second sleep to here: https://github.com/projectcalico/cni-plugin/blob/79704ebd41315e77d9ecdd57db52e634e03fd7b1/internal/pkg/utils/network_linux.go#L189
and so far it has been running ok for 1.5 hours, which is 4 times as long as it normally takes to trigger.
Maybe the ipv6 LL is not set in time due to some change in kubelet? Anybody has any clues what relevant has changed? :)

[2019-04-23 15:46] ervinb commented on #68737
@polarn Thanks for that!

The PVC still has to be updated manually though. After doing that, the underlying PV will get updated and the disk will grow. However, the client (Pod) will not see the new size; it either has to be restarted, or the fs has to be manually extended with `resize2fs /dev/<id>` from within the Pod.

[2019-04-23 15:56] ervinb commented on #68737
@polarn Thanks for that!

The PVC still has to be updated manually though. After doing that, the underlying PV will get updated and the disk will grow. However, the client (Pod) will not see the new size; it either has to be restarted, or the fs has to be manually extended with `resize2fs /dev/<id>` from within the Pod.

In case of restarting the pod, the resize operation is visible in the event l

[2019-04-23 16:05] cwdsuzhou commented on #75545
looks fine

[2019-04-23 16:05] #75545 closed

[2019-04-23 16:13] cwdsuzhou opened #76949 "PluginWatcher: if do not close watcher when timeout is expected?"
**What happened**:

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/util/pluginwatcher/plugin_watcher.go#L160

When timeout happens, we should not close watcher? Is this desired?

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
-

[2019-04-23 16:23] cjwagner opened #76950 "The OWNERS_ALIASES file cannot be parsed. YAML is invalid."
The OWNERS_ALIASES file in this repo is currently being ignored because it cannot be parsed.
[code]

I think the problem is that this PR introduced incorrect indentation: https://github.com/kubernetes/kubernetes/pull/76736/files

/assign @saad-ali

[2019-04-23 16:31] cwdsuzhou commented on #76949
If this is not expected, I would like to send a PR

[2019-04-23 16:32] wangzhen127 commented on #76209
NPD v0.6.3 will be available in 1.11.10+, 1.12.8+, 1.13.6+, 1.14.2+.

[2019-04-23 16:32] #76209 closed

[2019-04-23 16:50] mlensment commented on #2630
For `postgres:11.1-alpine` use this:
[code]

[2019-04-23 17:02] neolit123 commented on #75194
i actually did recent modifications for this test
https://github.com/kubernetes/kubernetes/pull/75989
the whole "move the configuration/client loading in the test" seems a bit sketchy, yet the flakes in this ticket are from March and my PR was merged 7 days ago.

a lot of CI jobs are passing for this test, but locally i see it consistently timing out too, in parallel execution.
in fact i cannot ge

[2019-04-23 17:03] johnl commented on #66607
We hit this same problem at Brightbox with our cloud controller manager. Our Load Balancers can terminate SSL and support the PROXY protocol. Confirmed with both ipvs and iptables kube-proxy modes. Any IPs we provide as LoadBalancerIngress are used to redirect outgoing connections and keep them within the cluster, breaking things.

To put it more clearly (imo), the problem is that kube-proxy assum

[2019-04-23 17:03] neolit123 commented on #75194
[code]

[2019-04-23 17:03] markusthoemmes opened #76951 "Allow probes to run on a more granular timer."
**What would you like to be added**:

For posterity:

[code]

Probes today take all their specified timeouts and delays in **seconds**. I feel like that arbitrarily sets a lower bound on pod readiness of at least 1 second. For usual operations of K8s workloads, that's all fine. When looking at serverless workloads, where a quick startup of new containers is key and directly reflected in the end us

[2019-04-23 17:14] ghasemloo opened #76952 "providers/vsphere/vclib/fixtures/fixtures.go test using source file location inside the test"
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/vsphere/vclib/fixtures/fixtures.go

Relies on an a very unusual pattern to locate input files. It uses the location of the source file at the compile time. This breaks the test if you try to run the test anywhere else.

[2019-04-23 17:25] jerer opened #76954 "User without access to secrets can create pod, mounting secret"
**What happened**:
I've created Role without access to Kubernetes secrets, but with ability to create pods, exec commands in pods. User with that role can mount any secret in namespace into pod and access it through exec commands in pod, so effectively can read all secrets.

**What you expected to happen**:
Pod creation (that mount secrets) should fail.

**How to reproduce it (as minimally and pre

[2019-04-23 17:35] naumvd95 commented on #72905
absolutely similar problem !
k8s `v1.13.5`
cinder SC
```Operation for "provision-openstack/mysql-data-mariadb-server-0[6ddbcc2a-65ed-11e9-b23f-fa163e56065a]" failed. No retries permitted until 2019-04-23 17:30:04.187120038 +0000 UTC m=+19037.170658427 (durationBeforeRetry 500ms). Error: "Operation cannot be fulfilled on persistentvolumeclaims \"mysql-data-mariadb-server-0\": the object has been mo

[2019-04-23 17:50] ionutbiru commented on #72905
for me it works if i create the template with the following labels:

--labels kube_tag=v1.13.4,cloud_provider_tag=1.13.1,kube_version=v1.13.4

[2019-04-23 18:23] rtheis opened #76956 "duplicate metrics collector registration attempted"
**What happened**:

The following error messages were found in the Kubernetes API server and controller manager logs:

[code]

These appear to be for deprecated metrics (https://github.com/kubernetes/kubernetes/pull/71300) noted in https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.14.md.

**What you expected to happen**:

No ` duplicate metrics collector registration attempted` erro

[2019-04-23 18:24] rtheis commented on #76956
/sig api-machinery

[2019-04-23 18:28] rtheis commented on #76956
Updated description to note this impacts controller manager as well.

[2019-04-23 18:46] toadjaune opened #76957 "kubectl zsh completion misbehaves on path containing a directory"
**What happened**:

In the current working directory, I have a `dir` directory, containing a `plop.yml` file.
When typing the following :
[code]
the command-line becomes :
[code]
Please note the space after the trailing slash. This causes a second [TAB] press to start completing a subsequent argument, instead of completing among the files in `dir/`

**What you expected to happen**:

I expected the

[2019-04-23 18:49] toadjaune commented on #76957
@kubernetes/sig-cli-bugs

[2019-04-23 18:50] cmoulliard commented on #76820
I understood the issue as the kubernetes instructions to setup docker [1] configures the cgroup driver as `systemd` while kubelet is configured by default with `cgroupfs ` [2]

[1] https://kubernetes.io/docs/setup/cri/
[2] https://kubernetes.io/docs/setup/independent/install-kubeadm/#configure-cgroup-driver-used-by-kubelet-on-master-node

[2019-04-23 19:12] #75193 closed

[2019-04-23 19:28] fl-max commented on #76531
@yanghaichao12 Yes, it was fixed and back ported to v219 as the comment suggests in the [k8s code](https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/apply_systemd.go#L167). The fix release can be found [here](https://access.redhat.com/errata/RHBA-2016:2216) with the updated package version of `v219-30`.

My affected system has `

[2019-04-23 19:29] timothysc commented on #76345
/assign @brahmaroutu

[2019-04-23 19:29] timothysc commented on #76345
/assign @timothysc

[2019-04-23 19:30] timothysc commented on #70137
/assign @dims
/unassign @spiffxp

[2019-04-23 19:33] timothysc commented on #47350
/assign @johnSchnake

[2019-04-23 19:47] timothysc commented on #75324
/assign @timothysc @bgrant0607

[2019-04-23 19:54] timothysc commented on #75022
/assign @brahmaroutu

[2019-04-23 19:55] timothysc commented on #69373
/assign @johnSchnake

[2019-04-23 20:01] timothysc commented on #73424
Coverage for this should be tested via the api-server to test key storage behaviors such as
- Watch Behaviors
- Storage Layer issues

/assign @timothysc

[2019-04-23 20:02] johnSchnake commented on #76344
I'm not perfectly clear on the direction here; @timothysc you're suggesting that we just make as many serial tests non-serial, right?

Also, is `Serial` a supposed to be a no-go for conformance tests? Just using grep (haven't run a dry run to check if there are more) I found one serial, conformance test: ```
test/e2e/storage/empty_dir_wrapper.go:	framework.ConformanceIt("should not cause race cond

[2019-04-23 20:25] holyspectral commented on #43916
Hi @gcoscarelli ,
Did you see this issue?  The issue happens on 3.10 kernel so it's quite similar.
https://github.com/kubernetes/kubernetes/issues/61937#issuecomment-469662772

[2019-04-23 20:32] anthonyrisinger opened #76963 "Consider $ref in CRDs or recommending authors add a GVK hint in replacements"
**What would you like to be added**:

**Why is this needed**:

[2019-04-23 20:32] holyspectral commented on #69793
A new config `KernelMemoryTCP` is available in moby as well.

[2019-04-23 20:32] anthonyrisinger commented on #76963
Consider $ref in CRDs or recommending authors add a GVK hint in replacements

[2019-04-23 20:32] #76963 closed

[2019-04-23 20:34] johnSchnake commented on #76726
OK; I will:
 - confirm GKE handling
 - paste link here for history
 - Put up PR removing the special case entirely

[2019-04-23 21:33] liggitt commented on #76954
Granting a user permission to create pods allows them to run processes that make use of resources in the pod's namespace, including secrets and configmaps.

Allowing them to create pods with arbitrary images, or invoking arbitrary commands, or to exec/attach into those pods can allow the user to access data they could not access directly via the API.

The ACL boundary for the content of pod specs

[2019-04-23 21:33] #76954 closed

[2019-04-23 21:34] liggitt commented on #76950
likely the mis-indented sig-storage-api-reviewers alias, being fixed in https://github.com/kubernetes/kubernetes/pull/76947/files

[2019-04-23 21:50] anthonyrisinger opened #76965 "Consider $ref in CRDs or recommending authors add a GVK hint in replacements"
Original type information is lost when CRD authors [expand their openapi definitions](https://github.com/ant31/crd-validation/blob/eab5f7e90b2c/pkg/convert_types.go#L81-L89). `openapi-gen`[-based operator code is similarly affected](https://github.com/coreos/prometheus-operator/blob/master/example/prometheus-operator-crd/alertmanager.crd.yaml). CRDs forbid `$ref` (implicit GVK link) and `x-*` prop

[2019-04-23 22:03] anthonyrisinger commented on #76965
@kubernetes/sig-api-machinery-feature-requests

[2019-04-23 22:56] rushtehrani commented on #73572
When will this be released for 1.11.x?  We are getting this same issue with `kube-controller-manager` and believe it's related:
[code]

The api log:
[code]

[2019-04-23 23:03] Huang-Wei commented on #73572
Maybe in v1.11.10 (but I didn't see it in v1.11.10-beta.0 yet)

[2019-04-24 00:05] egernst opened #76970 "runtimeclass: type description indicates alpha - should be beta"

[2019-04-24 00:06] egernst commented on #76970
/sig node

[2019-04-24 00:08] apelisse opened #76971 "Create an integration test suite for dry-run sub-resources"
There is currently no integration test for dry-run sub-resources, which for example led to #76943. We have a test that goes over all the resources, we should probably have one that goes over all sub-resources too and make sure that it works.

[2019-04-24 00:08] apelisse commented on #76971
cc @liggitt @jennybuckley

[2019-04-24 00:08] apelisse commented on #76971
/sig api-machinery

[2019-04-24 00:08] apelisse commented on #76971
/priority important-soon

[2019-04-24 00:47] andrewsav-datacom commented on #68712
With regards to:
[code]

If you actually follow this link and then search on that page for "conditions" you will get exactly zero hits. This is extremely unhelpful.

[2019-04-24 00:56] zhan849 opened #76975 "Inefficient GetCandidateZonesForDynamicVolume impl caused aws api call throttling"
**What happened**:

We have pretty large clusters in aws and in production, we found an inefficiency in provisioning dynamic EBS volumes, where aws-ebs volume provisioner tries to look for available zone from aws directly. With scale, this can trigger massive `Server.Unavailable` from ec2, and affect cluster stability.

This is also related to #76747

**What you expected to happen**:
To simply get

[2019-04-24 01:01] zhan849 commented on #76975
/assign @zhan849

[2019-04-24 01:21] cwdsuzhou commented on #76949
/sig storage

[2019-04-24 02:08] #76908 closed

[2019-04-24 02:16] Rand01ph commented on #69896
@dims @nikhita @BenTheElder  I made a PR here: #76953 . Review/feedback/suggestions appreciated! :)

[2019-04-24 02:55] yanghaichao12 commented on #76531
@fl-max maybe you're right， yesterday i tried it in Centos 7 with v219 and nothing happend.

[2019-04-24 03:07] randomvariable opened #76982 "ExperimentalHostUserNamespaceDefaulting feature flag is obsolete"
**What happened**:
Enabled ExperimentalHostUserNamespaceDefaulting feature gate.
Looking through the code, once the transition to CRI was made, the flag no longer had any effect.
The original code was in https://github.com/kubernetes/kubernetes/blob/d0d78f478ce0fb9d5e121db3b7c6993b482af82c/pkg/kubelet/dockertools/docker_manager.go#L684

**What you expected to happen**:
Expected to see pods start w

[2019-04-24 03:07] randomvariable commented on #76982
/sig node

[2019-04-24 03:12] warmchang commented on #63005
No progress now.

[2019-04-24 03:19] minhtrietbkit commented on #9995
We have a very specific case for using `NodePort` instead of `LoadBalancer`. Several endpoints in our application requires connection timeout to be really long (one of them being two hours). We are using AWS EKS (AWS native K8s) and the load balancers there doesn't allow timeout that long. This is the main reason why we have to use `NodePort`. If we can't expose `NodePort` service through port 80/

[2019-04-24 03:39] #76950 closed

[2019-04-24 03:40] #76907 closed

[2019-04-24 03:47] SaltedEggIndomee commented on #34314
I'm having the same issue on EKS with Kubernetes 1.12.

Minimal steps to reproduce:
1) Create a deployment with 1 replica. 2 Nodes.
2) Create a HPA with 50% cpu target, minpods 1, maxpods3
3) Overload the cpu on the first Pod
4) Watch HPA scaling with "kubectl get hpa -w"
5) After 1 minute, see 1 Node go down with NotReady status.
6) After 30 mins, Node still in NotReady status. Even after HPA has

[2019-04-24 04:21] yue9944882 commented on #76956
/remove-sig api-machinery
/sig instrumentation

[2019-04-24 04:51] rushtehrani commented on #73572
Ok, I assume this is pretty high priority if it's causing `kube-controller-manager` to be evicted?

[2019-04-24 05:12] k-toyoda-pi commented on #72956
some files in /hack/make-rules/ were fixed in 2 PRs. could you help to review?

#76420
- /hack/make-rules/update.sh
- /hack/make-rules/verify.sh

#75859
- /hack/make-rules/clean.sh
- /hack/make-rules/test.sh
- /hack/make-rules/vet.sh

[2019-04-24 05:13] Huang-Wei commented on #73572
Yes.

Prior to get it in 1.11.x, you can work it around by manually setting the priority value (not only setting priority name) to the control plane pods (apiserver, controller-manager and scheduler).

[2019-04-24 05:25] chicago7 commented on #76575
@andyzhangx Could you help to fix the problem ? thanks

[2019-04-24 05:35] andyzhangx commented on #76575
@chicago7 I cannot repro on chinaeast2, is your config works on global Azure?

[2019-04-24 05:42] jlucktay commented on #68026
Starting on `test/utils` and should have a PR soon

[2019-04-24 05:52] ghouscht commented on #76704
Plain docker without k8s seems to be ok:

[code]

Taking a look at the corresponding cgroup:
[code]

systemd version:
[code]

Manually writing into a cgroup also works:
[code]

So seems like it's not a docker nor systemd problem (probably a combination of them but k8s definitely has an impact).

[2019-04-24 06:19] andyzhangx opened #76986 "use an existing azure file share name should be possible in azure file plugin"
**What happened**:
use an existing azure file share name should be possible in azure file plugin

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname

[2019-04-24 06:21] aparamon opened #76987 "Error "i/o timeout" when getting logs"
Frequently (but not always!) I'm getting "i/o timeout" error when retrieving logs:
[code]

After some minutes, it starts working temporarily, like this:
[code]

Logs always correctly shown from Dashboard Web interface.

[code]
https://forums.aws.amazon.com/thread.jspa?messageID=897791

[2019-04-24 06:22] aparamon commented on #76987
/sig bugs

[2019-04-24 06:28] llarsson commented on #9995
@minhtrietbkit (and others with this issue) until this bug is fixed, which I hope will happen but am not holding my breath, you should be able to work around this limitation by deploying your such services using a DaemonSet with privileged Pods that [can use the host network](https://kubernetes.github.io/ingress-nginx/deploy/baremetal/#via-the-host-network). If you wish to only use a subset of you

[2019-04-24 06:39] PaulFurtado commented on #62078
I want https://github.com/kubernetes/kubernetes/issues/40610 a lot more than these labels, however, I don't think that it eliminates all of the use-cases for these labels. Labels are great because they're possible to query and possible to use in service selectors, disruption budgets etc.

If nothing else, using kubectl or the API to get pods in a given availability zone is difficult right now: you

[2019-04-24 06:42] PaulFurtado commented on #62078
Although, that said, if this issue is implemented for propagating node labels onto pods, then #40610 might not be necessary since the propagated labels would be accessible by the downward api for the pod automatically...

[2019-04-24 06:44] fejta opened #76989 "//pkg/kubelet/pleg:go_default_test is flaky"
@kubernetes/sig-node-bugs

[code]

[2019-04-24 06:46] fejta commented on #76989
Repro:
[code]

[2019-04-24 06:49] fejta commented on #76989
/assign @dchen1107 @danielqsj @changyaowei

[2019-04-24 06:50] CallMeFoxie commented on #76693
Yep, most likely a race condition, the code between

[code]

has shortened and the LL is not there in time. I think that the correct place to fix this is in Calico :)

[2019-04-24 07:00] valkolaci commented on #54967
/reopen
/remove-lifecycle rotten

[2019-04-24 07:13] chicago7 commented on #76575
@andyzhangx Thanks for your reply. Currently, The issue can repro on global azure and China Azure.

[2019-04-24 07:43] yanghaichao12 commented on #76704
/cc @dashpole

[2019-04-24 07:48] andyzhangx commented on #76575
@chicago7 can you paste your api-server config by: `cat /etc/kubernetes/manifests/kube-apiserver.yaml | grep args`

My working cluster has following parameters
[code]
and that crt file is valid:
[code]

[2019-04-24 08:03] danielqsj commented on #76989
@changyaowei: this test case was introduced by https://github.com/kubernetes/kubernetes/commit/b52afc350ff93cf2b26831ef4b65e2610600d782#diff-49a1185cd859eb6ef8ffc6cf807a7feb .  Could you verify it ?
cc @resouer

[2019-04-24 08:13] zq-david-wang commented on #76704
@ghouscht  could you try with container limit higher than 200m?  If you set cpu period to 5ms and limit to 100m,  the cpu quota  would be 5ms * (100m/1000m) = 0.5ms < 1ms, this would cause cgroup error when writing cpu quota.
[code]
And can  you make sure that you can run your pod with 100m limit and 5ms cpu period with cgroupfs? That dose not make sense

But considering that kubelet reporting err

[2019-04-24 08:19] blackpiglet opened #76995 "Can kubectl describe nodes add GPU resource summary?"
**What would you like to be added**:
On kubernetes 1.10.9, "kubectl describe node" can get allocatable resources as following:

[code]

I am wondering whether it's feasible to add GPU resource in it too, or is there some other ways to get idle GPU numbers on the node?

**Why is this needed**:
Because I am running a k8s cluster to admin GPU resources. I found there is no easy way to find out how ma

[2019-04-24 08:24] #59124 closed

[2019-04-24 08:27] blackpiglet commented on #76995
/sig area/kubectl

[2019-04-24 08:48] SaltedEggIndomee commented on #76187
I have the exact same problem using Kubernetes 1.12.

The problem was that 1 of the kubelet in 1 of the Node went down due to expired certificate.

Solution :
1) SSH into node
2) rm /var/lib/kubelet/pki/kubelet-server-current.pem
3) systemctl restart kubelet

Now the Node is back up, the HPA is able to schedule the Pod on the Node, and the scaling up/down of HPA is working fine.

ATTENTION : this

[2019-04-24 08:55] manojchandrabss opened #76998 "how to validate client certificate, my application resolves for all digi cert client certificates"
kubectl version
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.5", GitCommit:"753b2dbc622f5cc417845f0ff8a77f539a4213ea", GitTreeState:"clean", BuildDate:"2018-12-06T01:33:57Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.8-eks-7c34c0", GitCommit:"7c34c0d2f2d0f11f397d55a46945193a0e22d8f3",

[2019-04-24 08:57] it-praktyk commented on #72990
I've found that issue is related to the [Zsh shell](https://www.zsh.org/).

By pasting the command
[code]
the braces are escaped and the command in the terminal looks like
[code]

[2019-04-24 08:57] #72990 closed

[2019-04-24 09:07] oxddr commented on #76579
Load tests had failed at 51db0fe. My current hypothesis is that the last green run was at f6c51d6e9. I am going to verify that now.

[2019-04-24 09:22] zq-david-wang commented on #76704
I can reproduce it now.
Just set --cpu-cfs-quota-period to a value smaller than systemd default 100ms.

[2019-04-24 09:24] zq-david-wang commented on #76704
@szuecs

[2019-04-24 09:34] MrD2 commented on #70685
I found same problem
Apr 24 09:26:06 kube-qrhfws6uojdg-master-0.novalocal runc[4455]: error: invalid argument "TTLAfterFinished=true" for "--feature-gates" flag: unrecognized key: TT
Apr 24 09:26:06 kube-qrhfws6uojdg-master-0.novalocal systemd[1]: kube-apiserver.service: Service hold-off time over, scheduling restart.
Apr 24 09:26:06 kube-qrhfws6uojdg-master-0.novalocal systemd[1]: Stopped kuberne

[2019-04-24 09:42] timstoop commented on #71706
Sorry, I updated my comment but of course you cannot see that in your email. The stuff I pasted was a totally unrelated to the problem, so my comment sort of ended up being a "me too". Sorry for the noise.

[2019-04-24 10:27] ghouscht commented on #76704
cgroupfs setup with the exact same configuration works:
[code]

[code]

resulting cgroup configuration for this pod:
[code]

[2019-04-24 10:36] yanghaichao12 commented on #76704
@zq-david-wang i've set  --cpu-cfs-quota-period=50ms，every is okay，that's my configuration:

[code]

could you provide more information about how to reproduce it?

[2019-04-24 10:36] marvinpan8 opened #77004 "how to change limits.cpu on metrics-server pod?"
**What happened**:
when deploy metrics-server，
[code]
**What you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
kubectl apply -f kubernetes/cluster/addons/metrics-server/metrics-server-deployment.yaml

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration

[2019-04-24 10:36] ghouscht commented on #76704
And back to systemd as cgroup driver with increased limits/requests (500m):

[code]

[2019-04-24 10:38] ghouscht commented on #76704
@yanghaichao12 we've set the quota-period even lower to 5ms.

[2019-04-24 11:07] zq-david-wang commented on #76704
@yanghaichao12 you need to enable the feature gate for CFSQUOTAPeriod --feature-gates=CustomCPUCFSQuotaPeriod=true

[2019-04-24 11:13] fbede4 commented on #44815
I tried to use this method, but I got a Read-only file system error, when I applied the statefulset. Does anyone know how to fix that?
(I'm overwriting an existing file, that contains settings for elasticsearch, actual error message --> /usr/share/elasticsearch/bin/run.sh: line 28: ./config/elasticsearch.yml: Read-only file system)

[2019-04-24 11:19] zq-david-wang commented on #76704
@ghouscht it seems code for cgroupfs would round up value lower than 1ms to 1ms.  (a 5000 period with cpu limit set to 100m should have quota set to 500)

[2019-04-24 11:39] zq-david-wang commented on #76704
I think the issue is in runc,   trying to make code change and tests, should have a easy fix.

[2019-04-24 12:16] namreg commented on #58329
see https://github.com/kubernetes/kubernetes/issues/58329

[2019-04-24 12:51] iahmad-khan commented on #13136
Any update on this?

[2019-04-24 13:00] amelbakry commented on #17512
This is a python script to get the actual node utilization in table format
https://github.com/amelbakry/kube-node-utilization

Kubernetes Node Utilization..........
+------------------------------------------------+--------+--------+
| NodeName                                       | CPU    | Memory |
+------------------------------------------------+--------+--------+
| ip-176-35-32-139.eu-centra

[2019-04-24 13:02] iahmad-khan commented on #13136
@doprdele any luck? I want to access a kerberized nfs from kubernetes pod with nfs volume plugin

[2019-04-24 14:05] liggitt commented on #69654
duplicate of https://github.com/kubernetes/kubernetes/issues/57042

/close

[2019-04-24 14:11] dims commented on #76504
Here's an experiment at removing the Alpha code from k/k https://github.com/kubernetes/kubernetes/pull/77014

as @MrHohn said (and i can confirm) we need to remove code from `github.com/GoogleCloudPlatform/k8s-cloud-provider` as well.
https://github.com/kubernetes/kubernetes/pull/77014#issuecomment-486246793

I think it's worth the effort to remove `v0.alpha` from both the repos. WDYT? ( cc @thock

[2019-04-24 14:18] liggitt commented on #57042
https://github.com/kubernetes/kubernetes/issues/69654 is tracking  the established condition transition time

Age: `<invalid>` means that you are using a version of kubectl older than 1.11, *and* that your client clock is skewed from your server clock.

Supported versions of kubectl (1.12+) get display text from the server and do not have this issue.

/close

[2019-04-24 14:18] #57042 closed

[2019-04-24 14:24] chicago7 commented on #76575
@andyzhangx  output as following:

root@k8s-master-15989644-0:/etc/kubernetes/manifests# cat ./kube-apiserver.yaml |grep args
      args: ["--advertise-address=172.16.0.200", "--allow-privileged=true", "--anonymous-auth=false", "--audit-log-maxage=30", "--audit-log-maxbackup=10", "--audit-log-maxsize=100", "--audit-log-path=/var/log/kubeaudit/audit.log", "--audit-policy-file=/etc/kubernetes/addons

[2019-04-24 14:38] SleepyBrett commented on #76715
@mattjmcnaughton @brancz

The results under 1.14.1kube/1.14.0cri-o/0.32ms were exactly the same. I get `usageNanoCores` at the pod level but not at the container level (only on crio, not on docker 17.03). This seems to cause the metrics server to throw out all of the data for the pod causing the hpa to not function (pods located on crio nodes also do not show up in `kubectl top pods`.

[2019-04-24 14:39] SleepyBrett commented on #76715
whoops!

[2019-04-24 14:40] ghasemloo commented on #76952
This is really not a bug in the code but an issue with the test fixture code.

I think there was a workaround in that file to allow running tests both using go tool and bazel but it is essentially relying on the debug information that refers to the absolute path of the source code to figure out where the cert files are located. This causes problems when trying to run the test after moving the code

[2019-04-24 15:03] andyzhangx commented on #76575
@chicago7 You need to specify `enableAggregatedAPIs` as true in cluster definition file under `kubernetesConfig`, and then use aks-engine to regenerate the template, change `enableAggregatedAPIs` in generated templates won't work.
https://github.com/Azure/aks-engine/blob/master/docs/topics/clusterdefinitions.md#kubernetesconfig

And if set `enableAggregatedAPIs` as true, api-server will have follo

[2019-04-24 15:41] sashayakovtseva commented on #76995
For GPU you should use device plugin, there's one for NVIDIA+Docker here: https://github.com/NVIDIA/k8s-device-plugin

[2019-04-24 15:52] cwdsuzhou commented on #76949
/sig node

[2019-04-24 16:30] maflaven commented on #49926
I've been seeing a similar issue on EKS with k8s version 1.11. Our support agent suggested the following:
[code]

[2019-04-24 16:37] guineveresaenger commented on #74876
I am experiencing this issue as well.. upped my memory to 8GiB and nothing.

[2019-04-24 16:59] thockin commented on #71706
Logging has been added upstream.  I'll close this for now, but if/when it reappears please post new info! :)

[2019-04-24 16:59] #71706 closed

[2019-04-24 17:03] answer1991 opened #77018 "Kube-Apiserver can not proxy admission-webhook and aggr-apiserver to Headless Service"
**What happened**:

When I use Headless Service to declare my admission-webhook or aggr-apiserver, the Kube-Apiserver can not proxy the request if the Kube-Apiserver start flags has `--enable-aggregator-routing=false`, the error message is "cannot route to service with ClusterIP "None"".

What's more, in apiserver lib(staging/src/k8s.io/apiserver/pkg/util/proxy) test cases, if Kube-Apiserver start

[2019-04-24 17:03] answer1991 commented on #77018
/assign

[2019-04-24 17:04] evankanderson commented on #76951
@kubernetes/sig-node-feature-requests

[2019-04-24 17:05] answer1991 commented on #77018
/sig apps

[2019-04-24 17:14] liggitt commented on #76965
/cc @sttts

[2019-04-24 17:14] sethp-nr opened #77019 "AWS cloud provider caches security group tags forever"
**What happened**:

When we modified the layout and tags of our security groups to satisfy the error we were seeing reconciling the load balancer, we had to clear the cached `snapshot` (by adding a node to the cluster, or restarting the controller manager) before the load balancer was created.

**What you expected to happen**:

The cloud provider would observe the change in security groups without

[2019-04-24 17:15] sethp-nr commented on #77019
/sig cloud-provider
/sig aws

[2019-04-24 17:21] j-griffith opened #77020 "Discuss providing a way to query configured CSIPlugins for available capabilities"
As a user of a cluster with multiple StorageClasses my application may have specific needs in terms of storage capabilities (ie Snapshots, Resize) for my application.  Ideally I would be able to gather this sort of information in an automated fashion using the Kubernetes API.

Additionally, this would be useful for things like reporting available capacity, or general usage info of a storage class.

[2019-04-24 17:22] j-griffith commented on #77020
/sig storage
/sig api

[2019-04-24 17:22] j-griffith commented on #77020
/sig api

[2019-04-24 17:36] strmdvr commented on #76664
We observe the same behavior in k8s v1.12.7 and it hits us hard.
In our case Nginx in a pod uses coredns service IP as DNS resover address and every time coredns  pods get new addresses, DNS queries are blackholed.
Query rate is higher than ipvs UDP connection timeout (30s in our case), so the connection to a non-existent ip address stays forever.
Kube-proxy keeps non-existent real server entry in

[2019-04-24 17:42] neolit123 commented on #77004
/sig instrumentation

[2019-04-24 17:43] neolit123 commented on #76987
/sig cli

[2019-04-24 17:53] rushtehrani commented on #73572
I think the priority value is correct:

[code]

[2019-04-24 17:57] Huang-Wei commented on #73572
Did you get that from `kubectl`? If so, that's not sufficient. You should work around by hardcoding it into your static pod yaml file.

[2019-04-24 19:12] misterikkit commented on #75274
As I started researching this, I found an email thread happening in @kubernetes/sig-cloud-provider which potentially subsumes this effort.

https://groups.google.com/forum/#!topic/kubernetes-sig-cloud-provider/32N59IYXogY

[2019-04-24 19:20] dims commented on #70137
Hmm, we do need @spiffxp 's input. Looks like Aaron asked for a sanity check and Mayank came up with the list of tests currently that use this flag.

/assign @spiffxp

[2019-04-24 19:20] dims commented on #70137
If @spiffxp is ok with the list, we can close this out.

[2019-04-24 19:36] JacobHenner commented on #74265
This would be useful for me too (specifically, being able to reference status.podIP as the IP for a hostalias, and spec.nodeName as a component of the hostname).

In my situation, sendmail expects the hostname of the container to resolve to an IP present in /etc/hosts. That /etc/hosts entry is expected to contain both the short hostname, and the fqdn. Since k8s does not supply such an fqdn in /etc

[2019-04-24 19:47] tedyu commented on #76783
ping @m1093782566

[2019-04-24 19:53] embano1 commented on #75274
Related issue with design implications listed under "phase 2" in the issue: https://github.com/kubernetes/kubernetes/issues/64021

[2019-04-24 19:55] dims opened #77024 "Remove dependency on ghodss/yaml"
looks like we still pull in `github.com/ghodss/yaml` instead of `sigs.k8s.io/yaml`
[code]

Tasks:
- [x] [create PR in sigs.k8s.io/kustomize repo to replace the dependency](https://github.com/kubernetes-sigs/kustomize/pull/1014)
- [x] [create PR in github.com/coreos/etcd repo to replace the dependency](https://github.com/etcd-io/etcd/pull/10687)
- [ ] create PR in kubernetes/kubernetes to pull in u

[2019-04-24 19:57] dims commented on #77024
@rohitsardesai83 can you please look into this?

[2019-04-24 20:13] rushtehrani commented on #73572
I did get it from `kubectl`, will try hardcoding. Thanks!

[2019-04-24 20:23] aparamon commented on #76987
@neolit123 Thanks!
I don't think though that the problem is CLI-specific: "i/o timeout" error is reproducible with Python Kubernetes API as well, see https://forums.aws.amazon.com/thread.jspa?messageID=897791.

[2019-04-24 20:47] MrHohn commented on #60897
This is still valid.
/remove-triage unresolved

[2019-04-24 20:53] bowei commented on #74265
Could these use cases be met by a sidecar or init container? Is the issue the fact that `/etc/resolv.conf` is owned by kubelet so its hard to mutate.
I see the value, but adding this particular downward API seems to be a one off. For instance, we would probably never refer to fields in the pod other than `status.{host,node}Name`? Do we have use cases outside of those fields?

[2019-04-24 21:21] #76986 closed

[2019-04-24 21:27] rochaporto commented on #75113
In case this helps, here's a summary of what we're trying to do:
https://techblog.web.cern.ch/techblog/post/priority-preemption-boinc-backfill/

I'll start the discussion next week.

[2019-04-24 21:28] rickypai commented on #74265
@bowei thanks a lot for giving the time to review this. The issue with init container/sidecar remains the same, which is that kubelet is responsible for the content of `/etc/resolv.conf` and `/etc/hosts`. While users can make modifications to those files, the modifications are lost on each container restart when kubelet re-mounts the volume.

This was the impetus for `HostAliases` in the first pla

[2019-04-24 21:29] msau42 commented on #49926
/assign @leakingtapan

[2019-04-24 21:58] bigkraig commented on #76761
FWIW we are seeing this too, same versions

[2019-04-24 22:02] victort commented on #70229
hi,
Docker 18.06 here, k8s 1.11 (or 1.13) with (ubuntu) kernel 4.15.0-32-generic here. multiple clusters randomly getting same condition.. takes rebooting the machine to fix.

Am switching k8s cluster to `ipvs` instead of `iptables` to see if it's related..

error as follows:
[code]

[2019-04-24 22:10] MikeSpreitzer commented on #75980
Nobody is assigned to this issue.  How does that get changed?

[2019-04-24 23:14] misterikkit commented on #75274
Created the KEP so we can make a decision and have it documented.

[2019-04-24 23:33] liggitt commented on #76951
If a more granular duration field was added, the definition of the field should include the units, not tie a field to golang duration parsing. c.f. https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md

[2019-04-24 23:34] khogeland commented on #70506
Hey @caesarxuchao, wondering if this might actually be a bug, since a mutating webhook has no way to respond that the client input was incorrect. Maybe the response code from the webhook server should just be relayed to the originating request?

Here's an example:

I have a webhook that sets an annotation on certain pods. If that annotation is already set, I would like to return a 400 error to the

[2019-04-24 23:45] yuxiangqian opened #77030 "Expose end to end latency volume operation metrics via CSI"
**What would you like to be added**:
Latency of volume operations like provisioning a volume has been evaluated as following:
1. for in-tree implementation, latency is recorded ONLY for one-retry loop which could be not accurate, i.e., when the first retry actually fails while the following attempt succeeded.
2. via CSI, as its async nature, i.e. [https://github.com/kubernetes/kubernetes/blob/mast

[2019-04-24 23:46] yuxiangqian commented on #77030
@kubernetes/sig-storage-feature-requests
/assign
cc @gnufied @msau42 @saad-ali

[2019-04-25 00:41] msau42 commented on #69643
/close
Will reconsider once pd csi driver is installed by default

[2019-04-25 00:41] #69643 closed

[2019-04-25 00:49] sbezverk commented on #71435
/assign @sbezverk

[2019-04-25 01:08] msau42 commented on #72198
/remove-lifecycle stale

[2019-04-25 01:12] msau42 commented on #72551
/remove-lifecycle stale

[2019-04-25 01:12] #76970 closed

[2019-04-25 01:16] YoubingLi commented on #76957
zsh (5.0.2) doesn't have this kind of issue on RHEL 7.2
Did you try it on other OS with different zsh version?
I am not sure if it is the problem of zsh (5.3.1)

~# cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.2 (Maipo)

~# echo $0
zsh

~# zsh --version
zsh 5.0.2 (x86_64-redhat-linux-gnu)

~# ls dir/
a.ymal

~# kubectl apply -f dir/a.ymal

[2019-04-25 01:17] m1093782566 commented on #76783
/lgtm

[2019-04-25 01:18] m1093782566 commented on #76783
looks good to me. Thanks!

[2019-04-25 01:26] chicago7 commented on #76575
@andyzhangx  thanks for your reply, i will test it later.

[2019-04-25 01:30] YoubingLi commented on #76820
@cmoulliard

    Did you resolve the issue?
   If the answer is YES, you could close this one.

[2019-04-25 01:34] msau42 commented on #74988
/reopen
We should double check all volume operations are fixed

[2019-04-25 01:52] benamazing commented on #64743
hi all, so what's the final solution?

[2019-04-25 02:14] gnufied commented on #77030
thanks for creating this. I have a WIP PR that partially implements this - https://github.com/kubernetes/kubernetes/pull/75384 . This PR only captures mount, unmount and attach operation timings.

[2019-04-25 02:36] SaltedEggIndomee commented on #75247
@dmarkey I have the same error. From observations, the scaling DOWN gets stuck when the scaling UP don't finish successfully. Long after the metric have re-fallen back down well below the target.

Could be due to faulty Pods schedule, Node down, application failure etc. All will lead to this bug.

I'm using Kubernetes 1.12 on EKS btw

[2019-04-25 02:36] #76172 closed

[2019-04-25 02:41] SaltedEggIndomee commented on #65991
How is this resolved? I'm still experiencing this exact error on Kubernetes 1.12 running on EKS.

[2019-04-25 02:43] fejta opened #77040 "/dev/kmsg inaccessible during remote bazel execution"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/76924/pull-kubernetes-bazel-test-rbe/1121234523384713218

[code]

https://github.com/kubernetes/kubernetes/blob/a0d82783465019d36be3429552e6613270f9d1e9/vendor/github.com/euank/go-kmsg-parser/kmsgparser/kmsgparser.go#L59-L60

https://github.com/kubernetes/kubernetes/blob/a0d82783465019d36be3429552e6613270f9d1e9/vendor/github.com/google/c

[2019-04-25 02:45] WanLinghao commented on #76206
@andrewrynhard  Do we have any progress here?

[2019-04-25 02:46] fejta opened #77041 "TestNewManagerImplStartProbeMode in (pkg/kubelet/cm/devicemanager) flakes half the time"
Repro: `bazel test --runs_per_test=10 //pkg/kubelet/cm/devicemanager:go_default_test`

[code]

Errors tend to look something like this:

[code]

[2019-04-25 02:53] fejta commented on #77040
/sig testing

[2019-04-25 02:56] andrewrynhard commented on #76206
@andrewsykim

[2019-04-25 03:01] blackpiglet commented on #76995
Thanks. I understand that, but NVIDIA device plugin doesn't provide a direct way to get the used and unused GPU number. This is the suggested way to do that recommended by NVIDIA device plugin:
https://github.com/NVIDIA/k8s-device-plugin/issues/67

[code]

This is acceptable, but I think we can do better. By my understanding, k8s or NVIDIA device plugin already know how much resource are used to m

[2019-04-25 03:24] fejta commented on #77040
Switching to running bazel in gcr.io/k8s-testimages/kubekins-e2e:v20190329-811f7954b-master does not change the result

[2019-04-25 03:24] dixudx commented on #77018
@answer1991 `enable-aggregator-routing` only indicates what the service resolver will get, clusterIP or endpointIP.
For your case, i.e. headless service, no IPs will be found no matter `enable-aggregator-routing` is set to `true` or `false`.

[2019-04-25 03:28] dixudx commented on #77018
/cc @liggitt @sttts

[2019-04-25 03:37] draveness opened #77045 "Inconsistency imports of core/v1 package"
**What would you like to be added**:

Currently, there are many `k8s.io/api/core/v1` imports in the project, and we could see two approaches for imports. I used ag to count the pkg imports and found out as below.

[code]

There are 1215 imports with `"k8s.io/api/core/v1"` and 120 imports with `v1 "k8s.io/api/core/v1"`.

I met this problem for quite a long time since the first day I started to subm

[2019-04-25 03:42] draveness commented on #77045
/sig architecture

[2019-04-25 03:57] #71388 closed

[2019-04-25 04:01] yue9944882 commented on #71754
/remove-lifecycle rotten

[2019-04-25 04:13] fejta commented on #77041
Looks like this has to do with needing a privileged container

[2019-04-25 04:13] fejta commented on #77040
Looks like this has to do with needing a privileged container

[2019-04-25 04:18] saad-ali commented on #76539
/sig storage

[2019-04-25 04:35] chicago7 commented on #76575
@andyzhangx  it works. thanks.   I set enableAggregatedAPIs and enableRbac as following:

"enableAggregatedAPIs": true,
"enableRbac": true,

[2019-04-25 04:37] burdzwastaken opened #77047 "kubectl top should mention it requires setrics server not heapster due to deprecation"
**What happened**:
kubectl top displays the following message when ran:
[code]
**What you expected to happen**:
Output along the lines of:
[code]
**How to reproduce it (as minimally and precisely as possible)**:
`kubectl top`
**Anything else we need to know?**:
offending line: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/top/top.go#L39
heapster deperecation: https://github.

[2019-04-25 04:44] #76943 closed

[2019-04-25 05:32] WanLinghao commented on #76370
1. Does a generic controller mean the controllers `./pkg/controller`?
2. Could you please make more clear about expectations and podcontrol components?

Thank you

[2019-04-25 05:43] mllu commented on #25908
I was here due to the same reason, however, our Cloud SQL was provisioned before this feature was ready. I combined previous suggestions and came out this (probably not ideal, but it works) for my dbmate migrator helm chart.
[code]

`ensure_proxy_is_up.sh`
[code]

[2019-04-25 06:04] #76544 closed

[2019-04-25 06:26] andyzhangx commented on #76575
thanks for confirm
/close

[2019-04-25 06:26] #76575 closed

[2019-04-25 06:27] MikeSpreitzer commented on #76699
This smells like more of the same kernel bug discussed in that article.

Are you with XING Engineering?

Maybe I missed it, but I did not notice where the article said the latest flannel would fix the problem.

As far as iptables is concerned, that article said the authors created a patch that was "merged (not released)".  Do you know whether that patch is in iptables 1.6.2?

Have you tried printi

[2019-04-25 06:35] WanLinghao commented on #76370
@liggitt After a dive into source code, I have figured out what you mean^_^

[2019-04-25 06:39] andyzhangx commented on #76575
cc @jackfrancis it looks like `enableAggregatedAPIs` value is false in aks-engine 0.34.0, that would cause metrics-server crash.

[2019-04-25 06:39] systm32 commented on #74689
Seeing the same behavior with Deployment on 1.13

[2019-04-25 06:43] MikeSpreitzer commented on #76699
Also, if I understand that kernel bug correctly, it is more likely to bite the fewer the destinations.  Does your problem occur more frequently when there are fewer services involved?  It may be easier to diagnose if only one service is involved.
Has that kernel bug been fixed?  If so, could you try a kernel with the fix?

[2019-04-25 06:43] xichengliudui opened #77052 "Pod scheduling is uneven"
**What happened**:
Pod scheduling to each node is uneven.
I have nine pods and three nodes, a node is allocated five pods, the other node is only assigned one pod. as a result, some of the machine's resources will be fully occupied.some nodes have a lot of resources

**What you expected to happen**:
Let's say I have nine pods, we have node1, node2, node3 three nodes.
I want three pods running on e

[2019-04-25 06:47] xichengliudui commented on #77052
/sig scheduling

[2019-04-25 07:06] CallMeFoxie commented on #76693
Fixed in calico cni-plugin: https://github.com/projectcalico/cni-plugin/pull/730

/close

[2019-04-25 07:06] #76693 closed

[2019-04-25 07:08] kierenj commented on #17512
For me at least @amelbakry it's cluster-level utilisation that's important: "do I need to add more machines?" / "should I remove some machines?" / "should I expect the cluster to scale up soon?" ..

[2019-04-25 08:48] wdoekes commented on #74900
Interesting. I think this also causes `--since-time` to fail:
[code]
^-- expected record
[code]
^-- some later record (there are only 2 pods running, so `--max-log-requests` is not relevant)
[code]
^-- adding `--tail=N` makes it work

[2019-04-25 09:01] wdoekes commented on #74900
A bit strange that it finds records a few seconds older as well.. but that's not a big concern, and not relevant for this issue.
[code]
vs.
[code]
Although that only happens when the `--tail` workaround is used:
[code]
:thinking:

[2019-04-25 09:35] Pingan2017 commented on #77024
I'd like to take this if needed

[2019-04-25 09:38] yanghaichao12 commented on #76704
@ghouscht yes, 17.03.2-ce:
[code]

and my kernel :

[code]

[2019-04-25 09:41] denis111 commented on #10179
+1. Yesterday we had our certificate secrete accidentally overwritten by another generated by cert-manager because of accidentally added cert-manager annotation to ingress and with existing secret name which was our company's wildcard certificate that we would like to be protected from any modifications.

[2019-04-25 09:41] zigmund commented on #76699
@MikeSpreitzer patch is in iptables 1.6.2. I've checked flannel's repo and found `--random-fully` PR that was merged few month ago: https://github.com/coreos/flannel/pull/1040. Latest release (v0.11.0) contains this code.

Currently node 8 is only node in cluster with iptables 1.6.2 + latest flannel and I see `--random-fully` NAT rules that I don't see on other nodes:
[code]

Yes, our problem is s

[2019-04-25 09:46] zigmund commented on #76699
At the moment we stabilized situation. Enabled keep-alive everywhere we can (clients, loadbalancers, microsevices) and no retransmits anymore. So I think we are really were out of ports somewhere (namespaced networks?) but cannot catch this.

Any method to monitor POD networks to avoid such situation?

[2019-04-25 09:52] yanghaichao12 commented on #76704
@ghouscht have you ever checked it in other docker version? and how about the result?

[2019-04-25 09:52] adamdougal opened #77058 "Deployment Rollback Leaves Env Vars Stranded"
**What happened**:
Created a deployment `v1` with some env vars. Applied a new version of the deployment `v2` with some env vars removed. The deployment failed so I then rolled back to `v1`, which brought the env vars back. I then reapplied `v2` with the env vars removed but they were not removed from the deployment.

**What you expected to happen**:
For the env vars removed in deployment `v2` to

[2019-04-25 09:59] yanghaichao12 commented on #76704
@zq-david-wang  my configuration have come into effect if you notice that：

[code]
so, how can i reproduce the bug? or which versions of runc this error can occurs   in?

[2019-04-25 10:10] ashrayjain commented on #76935
@kubernetes/sig-node-bugs

[2019-04-25 10:14] rohitsardesai83 commented on #77024
Yes dims I will start working on this

[2019-04-25 10:22] SaltedEggIndomee commented on #63022
Autoscaler does not add label to newly added Node. Which makes it pretty much unusable in most scenarios, which uses nodeSelector

New Nodes DO NOT have label so HPA can't schedule Pods on the new Nodes. It will get stuck.

[2019-04-25 10:29] zkpingguo opened #77061 "flannel can't connect kube-apiserver"
**What happened**:
flannel can't connect kube-apiserver,thus restart very often。

**What you expected to happen**:
flannel run normal.
**How to reproduce it (as minimally and precisely as possible)**:
master: kubeadm init  --pod-network-cidr=10.244.0.0/16
node：kubeadm join --token 3dp75u.icdqwe786yf7vc59 192.168.50.148:6443 --discovery-token-unsafe-skip-ca-verification
**Anything else we need to k

[2019-04-25 10:42] zq-david-wang commented on #76704
@yanghaichao12  sorry I did not read through carefully.
Could you check whether your docker is using systemd cgroup driver as well? what your `docker info` yields?

The problem with systemd is that when creating systemd cgroup, the period is always 100ms, and when update the quota/period, a period of value less than 100ms would cause kernel error because runc would set period first. And cgroupfs c

[2019-04-25 10:45] bboreham commented on #68522
Running cAdvisor on its own may produce the same numbers, but it does not label them in the way Kubelet does with pod, container, etc., so is not a replacement.

Unless I'm missing something, we would need a new program which duplicates this part of Kubelet+cAdvisor.

[2019-04-25 11:01] cofyc opened #77067 "Validate `kubernetes.io/hostname` label is same as metadata.name field of node object?"
**What would you like to be added**:

Make sure `kubernetes.io/hostname` always equals to the node name.

**Why is this needed**:

https://github.com/kubernetes/kubernetes/blob/78190f0758a6ccbe11051b33844a886e5c282342/pkg/kubelet/kubelet_node_status.go#L212-L229

However, `kubernetes.io/hostname` can be updated to any value later and some components will not work.

[2019-04-25 11:35] #77040 closed

[2019-04-25 11:51] brancz commented on #68522
I may be wrong, but last I checked, all Kubernetes does is re-write the labels available well-known docker labels to `pod_name`, `pod`, `container_name`, and `container`, that would be possible to be replicated with metric relabelling in Prometheus. I agree that the exact same response from cAdvisor directly is not currently possible, although it could be by implementing label replacing directly i

[2019-04-25 11:56] bboreham commented on #68522
We tried it, and resorted to creating a new program. If you describe how to do it without, that would make a great blog post.

[2019-04-25 11:56] kivagant-ba commented on #17512
What about ephemeral storage usage? Any ideas how to get it from all pods?

[2019-04-25 11:56] johnSchnake commented on #77045
Consistent with my attempt here:
https://github.com/kubernetes/kubernetes/pull/76863

It becomes a large diff and I think I may have hit a bug with goimports (I was ending up with duplicate imports, one aliased and the other not) in some cases. I haven't had time in the past few days to try and analyze the failure cases.

Ideally, we'd be able to just fix goimports and then get something like this

[2019-04-25 12:03] toadjaune commented on #76957
@YoubingLi you're right, I just try manually compiling zsh on my test system described above for both versions `5.0.2` and `5.3.1` (I did recompile `5.3.1` just to be sure a behaviour difference was not due to a side effect of my install method), and I confirm that the problem is present in `5.3.1` but not in `5.0.2`.

Thanks for this, I'll start bisecting this and reading changelogs when I have a

[2019-04-25 12:51] zgfh commented on #60987
it will be cause other problem,like @kivagant-ba
I find if I just  'rm /var/lib/kubelet/pods/{podUid}/volumes/kubernetes.io~csi/{volumeID}', the orphaned pod will auto cleaned by kubelet

[2019-04-25 12:58] genie2014 opened #77071 "I create a single master cluster with kubeadm, everything is fine but CoreDNS didn't work"
I create a single master cluster with kubeadm, according to doc, I did it like this:

[code]

Now, everything is fine, all pods and services are running, but when I test CoreDNS, the problem is arise. I create a pod to test dns:

`kubectl exec busybox -- nslookup kubernetes`

It cannot resolve the kubernetes.

I think it maybe because the master IP is 10.0.197.143, and CoreDNS service's cluster-ip

[2019-04-25 13:13] soltysh commented on #64787
This is still a thing.
/reopen
/remove-lifecycle rotten

[2019-04-25 13:22] zq-david-wang commented on #76704
There is a easy way to reproduce this. (I was using ubuntu to make the test)
First make sure your docker use systemd cgroup griver.
Then set some limit to your systemd slice.
sudo bash -c "echo 800000 > /sys/fs/cgroup/cpu,cpuacct/system.slice/cpu.cfs_quota_us"

Then run a docker with period over 8 times less than default period value. (I am using 1000, which is 100 times less than 100000)
$ docker

[2019-04-25 13:28] StevenACoffman commented on #56903
@prameshj From [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/0030-nodelocal-dns-cache.md#risks-and-mitigations)

If musl queries nodelocal cache via tcp and kube-dns via udp in parallel, and one responds quickly and the other times out, why is that a problem?

[2019-04-25 13:30] henglianghe opened #77073 "Updating cpu-manager-policy=static causes NVML unknown error"
**What happened**:

1. After setting the cpu-manager-policy=static of kubenets, the pod with gpu running nvidia-smi will report an error

[code]

2. Setting the cpu-manager-policy=none for kubenets will not cause this error

3. Sometimes when the pod first runs, nvidia-smi will not give an error, and about 10 seconds later, running nvidia-smi will give an error

4. Check the reason for the error,

[2019-04-25 13:31] krzysied opened #77074 "gci-gce-scalability - listResource fails"
**Which jobs are failing**:
gci-gce-scalability and all other gce performance tests

**Which test(s) are failing**:
List resource fails.

**Since when has it been failing**:
Run 1121352546590396419. 02:57 PDT 04/25/2019

**Testgrid link**:
https://testgrid.k8s.io/sig-scalability-gce#gci-gce-scalability

**Reason for failure**:
[code]
After 4th attempt the script fails.

**Anything else we need to

[2019-04-25 13:34] sharathmankala opened #77075 "kubernetes dashboard token not responding."
Hi Team,
I am  new to K8s.
Today i have setup K8s cluster. I am  able to deploy K8s dashboard, everything working fine except  dashboard authentication (using existing Token not able to respond).
Kindly needful.
Thanks in advance.

[2019-04-25 13:36] cwdsuzhou opened #77076 "Audit plugin: log and webhook get different events"
**What happened**:

Log file  output

{"kind":"Event","apiVersion":"audit.k8s.io/v1beta1","metadata":{"creationTimestamp":"2019-04-25T11:07:48Z"},"level":"Request","timestamp":"2019-04-25T11:07:48Z","auditID":"a0e8d1ab-bed8-412e-9009-5747ca91f443","stage":"ResponseComplete","requestURI":"/api/v1/pods?fieldSelector=spec.nodeName%3D192.168.17.42\u0026limit=500\u0026resourceVersion=0","verb":"list","

[2019-04-25 13:36] cwdsuzhou commented on #77076
/sig apiserver

[2019-04-25 13:38] krzysied commented on #77074
/sig testing

[2019-04-25 13:40] krzysied commented on #77074
The error is returned by the https://github.com/kubernetes/kubernetes/blob/f043e49a936bd1d5196ace4b3e89dc47d70cedae/cluster/gce/list-resources.sh#L63

[2019-04-25 13:41] lic17 opened #77077 "kube-proxy IPVS: can't connect kube-apiserver by kubernetes service sometimes."
**What happened**:
I have enabled ipvs on Kubernetes 1.12.2 and try to connect kube-apiserver by kubernetes service sometimes and I find with ipvs mode, cannot connect kube-apiserver, but when I restart kube-proxy, I can connect  kube-apiserver by kubernetes service.

**What you expected to happen**:
connect kube-apiserver by kubernetes service

**How to reproduce it (as minimally and precisely as

[2019-04-25 13:45] kivagant-ba commented on #60987
So the script should be tunned to be more accurate and delete not the entire pods directory but only a volume directory, right? How to get the volume id automatically? Could you help to make this babysitting script better?

[2019-04-25 14:03] zyfo2 opened #77078 "spark on kubernetes driver pod phase changed from running to pending and starts another container in pod"
**What happened**:
I'm using spark-on-kubernetes  to submit spark app to kubernetes.
most of the time, it runs smoothly.
but sometimes, the driver pod phase changed from running to pending and starts another container in the pod though the first container exited successfully.

**What you expected to happen**:
spark app finished successfully

**How to reproduce it (as minimally and precisely as pos

[2019-04-25 14:08] liggitt commented on #71435
submitting the specified object on master returns a 400 badrequest, as desired

/close

[2019-04-25 14:08] #71435 closed

[2019-04-25 14:09] liggitt commented on #65136
posting an empty object on master now returns this error:

errors.StatusError{ErrStatus:v1.Status{TypeMeta:v1.TypeMeta{Kind:"", APIVersion:""}, ListMeta:v1.ListMeta{SelfLink:"", ResourceVersion:"", Continue:""}, Status:"Failure", Message:"WishIHadChosenNoxu in version \"v1beta1\" cannot be handled as a WishIHadChosenNoxu: unmarshalerDecoder: Object 'Kind' is missing in '{}', error found in #2 byte

[2019-04-25 14:09] #65136 closed

[2019-04-25 14:12] #75579 closed

[2019-04-25 14:13] christian-2 opened #77079 "kubeadm init phase upload-certs reports storing to ConfigMap instead of Secret"
**What happened**:

`kubeadm init phase upload-certs --experimental-upload-certs` (as documented [here](https://kubernetes.io/docs/setup/independent/high-availability/#stacked-control-plane-and-etcd-nodes)) reports this:

But certificates are actually stored in a Secret (not ConfigMap) by that name and in that namespace. The message printed by kubeadm should be changed accordingly.

/sig cluster-l

[2019-04-25 14:15] lic17 commented on #77077
when I run iptables -F ,I can  connect kube-apiserver by kubernetes service.
It's caused by iptables.

[2019-04-25 14:15] #77077 closed

[2019-04-25 14:16] zgfh commented on #60987
I think the script write by @fredkan may work

[2019-04-25 14:30] JacobHenner commented on #74265
podIP and nodeIP would both be useful. In my situation, podIP and nodeName would be necessary to accommodate sendmail's (misguided) assumptions about /etc/hosts, while maintaining /etc/hosts through the required HostAliases setting.

[2019-04-25 14:37] johnSchnake commented on #69373
As requested above; I'll do an audit and create a list of the affected tests. We can discuss further at that point.

[2019-04-25 14:38] amelbakry commented on #17512
@kivagant-ba you can try this snipt to get pod metrics per node, you can get all nodes like
https://github.com/amelbakry/kube-node-utilization

def get_pod_metrics_per_node(node):
  pod_metrics = "/api/v1/pods?fieldSelector=spec.nodeName%3D" + node
  response = api_client.call_api(pod_metrics,
                                 'GET', auth_settings=['BearerToken'],
                                 r

[2019-04-25 14:40] amelbakry commented on #17512
@kierenj I think the cluster-autoscaler component based on which cloud kubernetes is running should handle the capacity. not sure if this is your question.

[2019-04-25 14:50] oxddr commented on #76579
I had problems with my machine and results from yesterdays run are lost. I am rerunning tests now.

I am also having a look whether there are any traces of increased latency in smaller tests (ideally for 100 nodes cluster). Being able to run against smaller cluster will reduce feedback loop.

[2019-04-25 14:51] fredkan commented on #60987
Just umount the directory under orphaned pod(if exist), and remove the mountpoint, kubelet "cleanup" will do the pod cleaning process.

https://github.com/AliyunContainerService/kubernetes-issues-solution/blob/master/kubelet/kubelet.sh

[2019-04-25 14:56] oxddr opened #77080 "[Failing test] GCE-5000: density tests are failing"
It seems there is yet another regression in scalability tests (another one is debuged in https://github.com/kubernetes/kubernetes/issues/76579), this time in density tests. It looks unrelated to this another regression as it started to failing later (at 53b7bc30b).

/sig scalability

[2019-04-25 15:04] johnSchnake commented on #69373
Files with framework.SkipUnlessSSHKeyPresent()
 - test/e2e/network/service.go
 - test/e2e/node/crictl.go
 - test/e2e/node/node_problem_detector.go
 - test/e2e/node/ssh.go
 - test/e2e/framework/util.go
 - test/e2e/storage/nfs_persistent_volume-disruptive.go
 - test/e2e/storage/flexvolume_mounted_volume_resize.go
 - test/e2e/storage/flexvolume_online_resize.go
 - test/e2e/storage/detach_mounted.go

[2019-04-25 15:11] raravena80 commented on #69428
/reopen

[2019-04-25 15:12] raravena80 commented on #69428
/remove-lifecycle rotten

[2019-04-25 15:18] johnSchnake commented on #47350
As far as I can see the issue has now been resolved; on test grid I see only green for this test:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-serial
https://k8s-testgrid.appspot.com/sig-api-machinery-gce-gke#gce-serial

https://github.com/kubernetes/kubernetes/pull/75213 was the PR that seems to have fixed this.

/close

[2019-04-25 15:18] #47350 closed

[2019-04-25 15:27] krzysied commented on #77074
IIUC the problem is cause by ```gcloud-list logging sinks``` call.
When there is no filter argument passed (${3}) there is ```gcloud logging sinks list --project="${PROJECT}" ""``` call executed. The "" causes unrecognized arguments error.

[2019-04-25 15:34] neolit123 commented on #77061
/sig network
/close
please contact the flannel maintainers for analysis of your problem, by creating a ticket in the flannel repo.
if they direct you that this is a k8s problem, re-open this ticket.
thanks.

[2019-04-25 15:34] #77061 closed

[2019-04-25 15:35] neolit123 commented on #77075
/sig ui

[2019-04-25 15:37] neolit123 commented on #77078
/remove-kind bug
/triage support

try logging a ticket against the spark-on-kubernetes project instead.

[2019-04-25 15:38] neolit123 commented on #77073
/sig node

[2019-04-25 15:40] neolit123 commented on #77071
/area kubeadm
/priority awaiting-more-evidence

hi, what is your k8s version?
if you are running a k8s version before 1.12 it's not longer supported.
CoreDNS is the default DNS server in kubeadm since last year.

[2019-04-25 15:40] neolit123 commented on #77058
/sig api-machinery

[2019-04-25 15:42] neolit123 commented on #77067
/area kubelet
/sig node

[2019-04-25 15:42] neolit123 commented on #76998
/sig auth

[2019-04-25 15:43] zgfh commented on #60987
I find it will not work if the volume is csi，because csi in-tree plugin create file （mount/block,vol_data.json） in volume path：https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_mounter.go#L211
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_plugin.go#L431

[2019-04-25 15:53] awly commented on #65991
@SaltedEggIndomee your error message complains about kubelet serving certificate while your workaround removes the client one.
Is that a typo in workaround steps?

In any case, serving certificate being empty and preventing kubelet startup is a separate issue, this one is about client certificates. Please file a new issue.

[2019-04-25 15:55] engin commented on #62594
for spring boot deployment
increasing `initialDelaySeconds` from `10` to  `45` fixed the problem for me.

[2019-04-25 15:58] jackfrancis commented on #76575
Definitely can't repro this issue, `enableAggregatedAPIs` has been default true for clusters >= k8s 1.9 for a long time. Validated on `v0.34.0`:

[code]

The above is from the resultant apimodel.json generated from a default api model input.

Additionally, we test basics metric-server operation with all E2E tests, so if it was consistently crashing we'd notice.

[2019-04-25 16:10] rfranzke opened #77081 "Objects with finalizers may get stuck when deleted with foreground deletion"
**What happened**:
Continuous `DELETE` requests with propagation policy "foreground deletion" may lead to objects in the system that can only be purged with manual intervention if the object had a finalizer and no owner references.

I created a `ServiceAccount` and added a finalizer `foo.example.com/bar` to it. Then I deleted the object with "foreground deletion" policy. I saw the `foregroundDelet

[2019-04-25 16:13] rfranzke commented on #77081
/kind bug
/sig api-machinery

[2019-04-25 16:17] genie2014 commented on #77071
k8s version is 1.14.0, DNS server is CoreDNS

[2019-04-25 16:39] purgeyao opened #77083 "kubeadm join"
FYI: You can look at this config file with 'kubectl -n kube-system get cm kubeadm-config -oyaml'
error execution phase preflight: unable to fetch the kubeadm-config ConfigMap: failed to get config map: Get https://172.17.0.11:6443/api/v1/namespaces/kube-system/configmaps/kubeadm-config: dial tcp 172.17.0.11:6443: connect: no route to host

kubeadm join

Node setting error
Could not find where this

[2019-04-25 16:40] krzysied commented on #77074
/assign

[2019-04-25 16:48] neolit123 commented on #77071
`kubeadm init` does have `--service-cidr` which maps to the api-server `--service-cluster-ip-range`.

[2019-04-25 17:04] cofyc opened #77084 "Follow up of #75434: fix go lint failures"
**What would you like to be added**:

**Why is this needed**:

https://github.com/kubernetes/kubernetes/pull/75434#discussion_r266350830

[2019-04-25 17:06] cofyc opened #77085 "Follow up of #75434: remove duplicate constants"
**What would you like to be added**:

**Why is this needed**:

https://github.com/kubernetes/kubernetes/pull/75434#discussion_r266358665

[2019-04-25 17:11] willbeason opened #77086 "There is no way to force delete Namespaces stuck in Terminating"
**What happened**:

There is no way to delete Namespaces stuck in Terminating if they have finalizers which will never be run.

**What you expected to happen**:

There is a way to delete Namespaces stuck in Terminating.

**How to reproduce it (as minimally and precisely as possible)**:

Begin with any Kubernetes cluster.

1. `kubectl apply -f` this YAML

[code]

2. `kubectl delete ns delete-me`

3

[2019-04-25 17:13] willbeason commented on #77086
@kubernetes/sig-api-machinery-bugs

[2019-04-25 17:17] rfranzke commented on #77081
@kubernetes/sig-api-machinery-bugs

[2019-04-25 17:18] dims commented on #77086
please see https://github.com/kubernetes/kubernetes/issues/60807#issuecomment-455497099

/close

[2019-04-25 17:25] willbeason commented on #77086
/open

Thanks for pointing me there, but that also did not resolve the issue.

[code]

[2019-04-25 17:30] rdzimmer commented on #43916
Hi @gcoscarelli I believe I'm seeing the same thing as you:
https://github.com/docker/for-linux/issues/653
https://github.com/docker/for-linux/issues/651

[2019-04-25 17:42] prameshj commented on #56903
The problem is that we would increase the number of dns requests to kube-dns and number of conntrack entries/DNATs which might be causing the latency problem to begin with. For a cache miss, nodelocal is going to query kube-dns as well. You are right, the nodelocal connections to kube-dns will be TCP, so those would atleast get RST instead of blackholed.

[2019-04-25 17:52] tallclair commented on #54923
/reopen
/remove-lifecycle rotten

[2019-04-25 18:08] juniorz opened #77092 "CSR ignores requested extension "Subject Alternative Name""
**What happened**:

The certificate issued does not have `X509v3 Subject Alternative Name` extension.

**What you expected to happen**:

`X509v3 Subject Alternative Name` should be in issued cert, as in k8s v1.11.8.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

The certificate signing request has the extension:

[code]

and

[code]

[2019-04-25 18:08] dashpole commented on #76258
Apologies, any CRI compatible runtime can expose metrics, including Kata, etc.  I just listed those because I am familiar with them.

resources required by kubectl top include CPU and memory usage metrics, which are already part of the CRI.

[2019-04-25 18:11] #71418 closed

[2019-04-25 18:15] roycaihw commented on #54712
/remove-lifecycle rotten
/lifecycle frozen

[2019-04-25 18:17] juniorz commented on #77092
/sig auth

[2019-04-25 18:21] dashpole commented on #68522
@bboreham I opened https://github.com/google/cadvisor/issues/2227 to track that.

[2019-04-25 18:22] rohitsardesai83 commented on #77024
@dims , I have raised a PR for the kustomize repo  : https://github.com/kubernetes-sigs/kustomize/pull/1014.

[2019-04-25 18:23] yuxiangqian commented on #77030
@gnufied thanks for providing the reference implementation. I will be working on this enhancement along with @msau42 @saad-ali early next week and plan to merge into 1.15.

[2019-04-25 18:40] mattjmcnaughton commented on #76989
I believe this is fixed by https://github.com/kubernetes/kubernetes/pull/76603 - which is waiting on a merge. I'll re-ping the assigned reviewer :)

[2019-04-25 18:41] dims commented on #77086
/reopen

can you see the other tips to see if you still have a finalizer?

[2019-04-25 18:41] liggitt commented on #62326
go-openapi/spec3 is not used by kubernetes

/close

[2019-04-25 18:41] #62326 closed

[2019-04-25 18:43] willbeason commented on #77086
Yes, the finalizer still exists.

[code]

[2019-04-25 18:44] dims commented on #77086
so please use the other tips to delete the finalizer :)

[2019-04-25 18:47] willbeason commented on #77086
What other tips? [I have tried](https://stackoverflow.com/questions/55853312/how-to-force-delete-a-kubernetes-namespace):

- Editing and reapplying the YAML
- `kubectl edit ns delete-me`
- `kubectl proxy &` and `curl` to run `finalize`
- `kubectl delete ns delete-me --force --grace-period=0`
- Waiting a week
- `etcdctl --endpoint=http://127.0.0.1:8001 rm /namespaces/delete-me`
- `./kill-kube-ns de

[2019-04-25 18:50] liggitt commented on #73387
work on an ongoing feature, recategorization

[2019-04-25 18:52] lavalamp commented on #77086
@caesarxuchao how can users figure out what the GC is blocked on?

[2019-04-25 18:56] fog1985 commented on #23001
And here what index was created with this approach:
[code]
Any other options available? :)

[2019-04-25 19:08] mattjmcnaughton commented on #77067
/assign @mattjmcnaughton

@cofyc could you explain more about what components will not work if `kubernetes.io/hostname` is updated to any value later? Additionally, can you share more about how `kubernetes.io/hostname` could be updated later (i.e. are you referring to a k8s user manually changing the label)?

@neolit123 I'd love to tackle this - I'm curious if the correct place to fix this is in `

[2019-04-25 19:09] mattjmcnaughton commented on #76598
I'm still happy to look into this, but haven't had a ton of luck finding an immediate fix (still learning the code base :) ). If anyone else has a better idea of how to fix, please ping me and I'm happy for you to take over!

[2019-04-25 19:10] mattjmcnaughton commented on #76761
I'm still happy to look into this, but haven't had a ton of luck finding an immediate fix (still learning the code base :) ). If anyone else has a better idea of how to fix, please ping me and I'm happy for you to take over!

[2019-04-25 19:19] willbeason commented on #77086
Also, the Namespace is empty (per the example), so it isn't waiting on that.

[code]

[2019-04-25 19:20] alejandrox1 commented on #75355
This issue seems to not be a problem anymore.
/close

[2019-04-25 19:21] neolit123 commented on #77067
i'd pose similar questions, is this a request to improve the error handling in case the label was changed manually or lock the label to prevent it being overwritten?

[2019-04-25 19:38] MikeSpreitzer commented on #76699
It looks like you do not have `--random-fully` where you need it.  Here is what I see on one of my nodes (which is using Calico):

[code]

The first rule listed, for KUBE-POSTROUTING, is the one that does the masquerading for an inbound request to a NodePort service (as well as for other cases)

[2019-04-25 19:53] lavalamp commented on #77086
The problem isn't the namespace lifecycle controller--that finalizer is due to it the GC.

[2019-04-25 19:55] pjh commented on #75421
In our test job running with the private fix for #76666 we're still seeing this problem sometimes, but possibly frequently than before?

Here's a test run from a few hours ago: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-poc/1121439869814444036. Looking at the raw [build-log.txt](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows

[2019-04-25 19:56] lavalamp commented on #77086
If you `kubectl edit` and manually remove the finalizer, either it will be deleted or you'll be shown a probably useful error message.

If that makes it get deleted then either the GC has a bug or it's stuck trying to delete some other resource.

[2019-04-25 19:57] willbeason commented on #77086
Thanks @lavalamp , but that doesn't work.

## Things I've tried:

None of these work or modify the Namespace. After any of these the problematic finalizer still exists.

### Edit the YAML

Apply:
[code]

The command finishes with no error, but the Namespace is not udpated.

The below YAML has the same result:

[code]

### `kubectl edit`

`kubectl edit ns delete-me`, and remove the finalizer. Ditto

[2019-04-25 19:57] andrewsykim opened #77095 "Break up and Refactor test/e2e/framework/util.go"
**What would you like to be added**:
There are a lot of methods in `test/e2e/framework/util.go` that can be cleaned up or moved into it's own package for easier consumption/discovery. In https://github.com/kubernetes/kubernetes/issues/76206 there were some discussions for how to break up this file. The proposed package structure was:

**test/e2e/framework/**
   - [ ] kubectl/ (@MorrisLaw)

[2019-04-25 20:02] andrewsykim commented on #77095
/sig testing
/area e2e-framework

[2019-04-25 20:03] andrewsykim commented on #77095
/area e2e-test-framework

[2019-04-25 20:04] andrewsykim commented on #76206
Sorry folks, been travelling this week so this fell off my radar. I opened up a separate issue for `test/e2e/framework/util.go`, please assign yourself to tasks there https://github.com/kubernetes/kubernetes/issues/77095

[2019-04-25 20:08] lavalamp commented on #77086
use --v=9 to make sure you see the network traffic.

Something is definitely wrong; we need to narrow it down more though. Do you have access to apiserver or controller manager logs?

[2019-04-25 20:09] johnSchnake commented on #77095
There are also ssh utilities that should probably move into their own package; I'll take that one as I think it is also a reasonable step in #69373 which is assigned to me (reducing reliance on ssh in tests). Step 1, figure out where it really bubbles up to, step 2, do something about it.

[2019-04-25 20:23] caesarxuchao commented on #76928
/priority backlog
/sig auth

[2019-04-25 20:23] willbeason commented on #77086
[gist of --v=9 output for `kubectl edit`](https://gist.github.com/willbeason/ba52f1d01f4494c398aa64ca8e0f09e9)

[2019-04-25 20:25] feluxe commented on #68369
I guess this is an example of how the issue unfolds in practice: https://github.com/helm/charts/issues/9227

[2019-04-25 20:27] caesarxuchao commented on #76965
/cc @jpbetz

[2019-04-25 20:28] caesarxuchao commented on #77058
/assign @jennybuckley

[2019-04-25 20:29] willbeason commented on #77086
While the above does result in an intermediate 401 Unauthorized error, this doesn't stop the update from going through. For example, [I can use `kubectl edit` to add a label and get the same error](https://gist.github.com/willbeason/b39514212592e3f4a1edde25a18ad501), but the edit succeeds and the label is added.

[code]

[2019-04-25 20:30] caesarxuchao commented on #77076
/cc @pbarker @tallclair

[2019-04-25 20:36] #75060 closed

[2019-04-25 20:44] roycaihw commented on #76965
discussion related to $ref idea: https://github.com/kubernetes/kubernetes/issues/62872

[2019-04-25 20:49] liggitt commented on #77086
Namespace `spec.finalizers` are specific to namespaces. They existed before general purpose `metadata.finalizers`

They have many similarities, but a few differences:

See https://github.com/kubernetes/kubernetes/blob/release-1.1/docs/design/namespaces.md#finalizers for the original design

Specifically, to remove a finalizer, a separate API request is made:

https://github.com/kubernetes/kubernet

[2019-04-25 20:50] lavalamp commented on #77086
How did the GC finalizer end up there? GC doesn't pay attention to that field at all.

[2019-04-25 20:51] liggitt commented on #77086
looks like it was user-added... this was applied:

[code]

[2019-04-25 20:53] lavalamp commented on #77086
It seems like a bug that the patch had no effect and also returned 200, it should have given a validation error if it was changing a field that can only be changed via the special verb.

[2019-04-25 20:58] lavalamp opened #77097 "modifying namespace spec.finalizers via PATCH should return a validation error"
**What happened**:

PATCH `{"spec":{"finalizers":null}}` doesn't clear the finalizers and also doesn't return an error.

**What you expected to happen**: It should return an error (use the /finalize subresource).

**How to reproduce it (as minimally and precisely as possible)**: see #77086

[2019-04-25 20:59] lavalamp commented on #77097
/sig api-machinery

[2019-04-25 21:00] lavalamp commented on #77086
I filed #77097.

Closing this as it's intended that namespaces don't get deleted until the finalizers are removed correctly.

[2019-04-25 21:00] #77086 closed

[2019-04-25 21:05] willbeason commented on #77086
@liggitt Do you mean [like this](https://gist.github.com/willbeason/be90dac4c9d1b2a26b8c0a10ac1e50dc)? POST returns a 405 MethodNotAllowed.

[2019-04-25 21:15] liggitt commented on #77086
sorry, PUT.

You essentially have to mimic what a controller that was sending PUT requests to the finalize subresource would do to drop those spec.finalizers.

[code]

Create with a spec.finalizer:
[code]

Request deletion:
[code]

[code]

PUT the namespace without finalizers to the /finalize subresource (`kubectl proxy` just lets you easily use curl against the subresource):
[code]

And now the d

[2019-04-25 21:15] willbeason commented on #77086
That worked. Thanks!

[2019-04-25 21:30] dims opened #77098 "Remove Rancher Credential Provider from upstream kubernetes"
Rancher 1.6 is using it still. Current Rancher version is 2.2.x per @alena1108. So we could possibly remove it from upstream and let the rancher folks maintain it in their own tree.

We don't need to carry the extra weight as mentioned in https://github.com/kubernetes/kubernetes/issues/76506

Since this is useful only in the rancher environment, we don't really need the traditional deprecation per

[2019-04-25 21:31] oomichi commented on #76206
@andrewsykim I know you are traveling this week, it is fine to response after that.
(I just don't want to forget this :-))
Current module names under `test/e2e/framework/<..>/` seem inconsistent and that lead this work makes more inconsistent module names.
The following is current module names:
- test/e2e/framework/auth/helpers.go
- test/e2e/framework/ginkgowrapper/wrapper.go
- test/e2e/framework/

[2019-04-25 21:32] alena1108 commented on #77098
fine with me @dims

[2019-04-25 22:21] andrewsykim commented on #76206
Tried to avoid this since many of the existing `test/e2e/framework/*_util.go` files still need a refactor + clean up. Trying to move more files in there could make it harder to refactor later. What do you think @oomichi?

[2019-04-25 22:21] cwdsuzhou commented on #76949
@mattfarina could you help take a look at this issue

[2019-04-25 23:12] feiskyer commented on #73105
any updates on this? see a lot of failures in cherry pick PRs

[2019-04-25 23:16] #71427 closed

[2019-04-25 23:16] #67970 closed

[2019-04-25 23:23] resouer commented on #68720
/remove-lifecycle stale

[2019-04-25 23:24] alejandrox1 commented on #73105
@feiskyer we are still looking for an owner on this issue 🙂

[2019-04-25 23:42] davidz627 opened #77102 "Volume deletion not triggered when CSI Migration is enabled"
Using GCE PD in-tree volumes with feature flags `CSIMigration=true,CSIMigrationGCE=true` with csi external provisioner `v1.1.0` when pvc is deleted with `RetentionPolicy=delete` the `Delete` call is never triggered on the CSI Driver.

This causes the PD to be leaked and the PV to never go away.

Feature is `Alpha` so I think the impact of this is not high. However, a fix is required for `Beta`.

D

[2019-04-25 23:43] davidz627 commented on #77102
/sig storage

[2019-04-26 00:05] oomichi opened #77103 "Use framework.ExpectNoError() for e2e tests"
**What happened**:

After fixing golint failures under `test/e2e` (now still in progress), we need to put `gomega` for each `Expect()` and `HaveOccurred()`.
Then very common error checking code has become like:

`gomega.Expect(err).NotTo(gomega.HaveOccurred())`

We can replace this code with `framework.ExpectNoError(err)` which is more readable and easy to be understood what the code does.

Now we

[2019-04-26 00:05] oomichi commented on #77103
/sig testing

[2019-04-26 00:16] humbledude commented on #51835
In my case, there was Out of memory on the node.
And kernel killed cilium-agent, that seems disturb pod termination.
I just restarted the node and it cleared.

[2019-04-26 00:17] #66013 closed

[2019-04-26 00:20] bowei commented on #64743
To reiterate Tim's comment above, mismatched ref counts is the symptom of a Linux kernel bug, so it would be good to investigate there first.

[2019-04-26 00:29] pbarker commented on #77076
`kind` `apiversion` and `timestamp` could potentially be in how you are decoding it, not sure about `user_agent`. Could you share more of your code at getting to these results @cwdsuzhou, as well as the flags you have set on the API server and the audit policy you are using. Thanks

[2019-04-26 00:30] amaurer commented on #64743
I haven't seen the issue since I ran a yum update on my kernel version
3.10.0-957.10.1.el7.x86_64

[2019-04-26 01:01] jianglingxia opened #77104 "cinder-csi-plugin GRPC attach failed that DeadlineExceeded desc = context deadline exceeded"
**What happened**:
i test in k8sv1.13 that use the cinder-csi-plugin, the pod running in the end but the pod log print that :GRPC error: rpc error: code = DeadlineExceeded desc = context deadline exceeded

the problem is that the csiTimeout is 15 second that the cinder can not attached within in 15 second so time out ?

Events:
  Type     Reason                  Age              From

[2019-04-26 01:01] jianglingxia commented on #77104
/sig-storage

[2019-04-26 01:24] atoato88 commented on #77103
I can work to following items.
- test/e2e/lifecycle
- test/e2e/lifecycle/bootstrap

[2019-04-26 01:25] feiskyer commented on #73105
ping @wojtek-t

[2019-04-26 01:27] k-toyoda-pi commented on #77103
I think that we can replace `gomega.Expect(err).NotTo(gomega.HaveOccurred())`, too.
Files in the following directories have it. Could you add these directories to list?
- test/e2e/apimachinery
- test/e2e/apps
- test/e2e/instrumentation
- test/e2e/kubectl
- test/e2e/servicecatalog
- test/e2e/ui
- test/e2e/upgrades/apps
- test/e2e/upgrades
- test/e2e/upgrades/storage
- test/e2e/windows

[2019-04-26 01:27] fntlnz commented on #67342
This seems to be fixed, closing it. Feel free to reopen if needed.

[2019-04-26 01:27] #67342 closed

[2019-04-26 01:33] oomichi commented on #77103
@k-toyoda-pi Thanks, I updated the list based on your comment :-)

[2019-04-26 01:36] k-toyoda-pi commented on #77103
Thanks, I can work to the following item.
- test/e2e/common

[2019-04-26 01:45] chicago7 commented on #76575
@jackfrancis @andyzhangx thanks for your help and continuous follow-up the issue.  i can repro the issue in aks-engine 0.34.1/0.34.0/0.33.6 and k8s version is 1.14.1/1.14.0

[2019-04-26 01:45] s-ito-ts commented on #77103
I can work to the following item.
- test/e2e/autoscaling

[2019-04-26 02:10] draveness commented on #77095
I'd like to take the files as below :)

[code]

[2019-04-26 02:19] IceKaching commented on #56670
I have an application running locally on port 9099 that I can't change --- what would be the recommended way in the current version of Calico to change it's port usage?

`          livenessProbe:
            httpGet:
              path: /liveness
              port: 9099
              host: localhost
            periodSeconds: 10
            initialDelaySeconds: 10
            failureThreshold: 6

[2019-04-26 02:19] yanghaichao12 commented on #76704
@zq-david-wang as you see, my driver is systemd
[code]
and my period is 50000(50ms）， it‘s less than 100ms
[code]
but why i can't get it?  is there something i missed?

[2019-04-26 02:32] zq-david-wang commented on #77058
You can not remove an env via kube apply, because the patch strategy for env is merge.
kubectl edit should work, it has intricate code logic handling strategic merge very well,

[2019-04-26 02:33] cofyc commented on #77067
lock the label. I guess there are no exceptions that hostname needs to be different from the node name.  If it has been changed by accident, users may encounter some strange problems, for example:

- if `kubernetes.io/hostname` of node A is changed to B
- a user creates a pod with node affinity `kubernetes.io/hostname in (A)`
- the pod fails with `didn't match node selector` error and be pending f

[2019-04-26 02:34] changyaowei commented on #76989
I already fixed it in #76603 , it waiting to be merged.

[2019-04-26 02:42] zq-david-wang commented on #76704
@yanghaichao12  could you try the procedure I mentioned above? If you have make manual changes to your cgroup parent node, better reset those back (or just reboot)

To make sure whether your docker is using systemd driver,  run a new container can check whether its cgroup tree has a systemd signature , something like *.scope

[2019-04-26 02:55] yanghaichao12 commented on #76704
@zq-david-wang no， i never have made it manually. i just set   --cpu-cfs-quota-period less than 100ms and modify "resources" requested by pods. and i didn't use "docker run ....."
 i guess systemd driver take effect:
[code]

[2019-04-26 03:13] henglianghe commented on #77073
https://github.com/NVIDIA/nvidia-docker/issues/966

[2019-04-26 03:20] #71420 closed

[2019-04-26 03:25] silenceshell commented on #66664
@francotseng I have commit a PR #64044 , however it has gone rotten and is closed.
With pleasure if you want to use my code :)

[2019-04-26 03:29] alejandrox1 commented on #77095
I’d like to take kubectl/* and pod/* :)

[2019-04-26 03:42] justaugustus commented on #73105
Several continued failures for cherry-picks: #76992, #77069, #76993, #76994

Assigning the scalability test [OWNERS](https://raw.githubusercontent.com/kubernetes/test-infra/master/config/jobs/kubernetes/sig-scalability/OWNERS):
/assign @mborsz @mm4tt @shyamjvs @wojtek-t

[2019-04-26 03:47] justaugustus commented on #73105
/remove-priority important-soon
/priority critical-urgent

[2019-04-26 04:03] MikeSpreitzer commented on #76699
Also, the prospect of running out of ports for masquerading concerns me.  Can you outline the calculation?  How large is the rage of port numbers used for this purpose?  The load is spread among 8 nodes, right?  If I understand correctly, the initial SYN packet's source NAT is done after its destination NAT; that means the number of endpoints, rather than the number of services, is the relevant qu

[2019-04-26 04:48] zq-david-wang commented on #76704
@yanghaichao12
https://github.com/opencontainers/runc/commit/c44aec9b23f89ca40434fe5f86693870ef3bf9f9
This commit, "on Feb 24, 2017", using systemd to create and config cpu quota for child node,  it may not  be  in the runc binary with your docker-17.03 .
Before the commit, the initial value for quota/period is the same as cgroupfs.

THis maybe the reason why you could not reproduce it. Why not up

[2019-04-26 04:57] mattjmcnaughton commented on #76949
@cwdsuzhou are you suggesting that we should move the `w.fsWatcher.Close()` call at line 175 to a `defer w.fsWatcher.Close()` call at line 168? I think I'd agree with that - it does seem like the `w.fsWatcher` is going to leak if there's a timeout.

That being said, I'm not super familiar with this part of the code. Happy to review a pr if you create one :)

[2019-04-26 05:04] cwdsuzhou commented on #76949
Yes , I think this may cause cause leak and I would like to send a PR later.

[2019-04-26 05:06] vinothrao commented on #73111
For windows

This has happened to me because of wrong version of kubectl installed by docker in the path
"C:\Program Files\Docker\Docker\resources\bin" .

I resolved this by following below steps

Install kubectl manually by :

Install-Script -Name install-kubectl -Scope CurrentUser -Force
install-kubectl.ps1 [-DownloadLocation ]

(https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-ku

[2019-04-26 05:07] WanLinghao commented on #77095
I would like to take kubectl and log

[2019-04-26 05:26] cwdsuzhou commented on #77076
@pbarker

log config

--audit-log-maxbackup=10 \
--audit-log-maxsize=100 \
--audit-log-path=/var/log/kubernetes/kubernetes.audit \
--audit-log-maxage=7 \
--audit-policy-file=/etc/kubernetes/audit-policy.yml \

webhook config

--audit-webhook-mode=batch \
--audit-webhook-batch-max-size=40 \
--audit-webhook-config-file=/etc/kubernetes/audit-webhook.conf \
--audit-policy-file=/etc/kubernetes/audit-po

[2019-04-26 05:44] WanLinghao commented on #77095
Hi, all. When I try handle cluster thing, I found there are many functions containing k8s-component. Like
[code]
Should we combine node/ and cluster/, maybe something like:

- [ ] cluster/
      - kubelet.go
      - kube-proxy.go
      - controller-manager.go
      - api-server.go
What do you think?

[2019-04-26 06:01] liggitt commented on #77092
I'm not able to reproduce this on master with `hack/local-up-cluster.sh`. Submitting your example, I see the signed certificate having the requested subject alt names.

It appears you're running in EKS.

@micahhausler, do you know if EKS runs a different CSR signer? If so, do you know if it's behavior changed to not honor SANs in the originating CSR?

[2019-04-26 06:16] jpbetz commented on #76624
Looks like prevKV not being returned if the previous KV was compacted [was intentional](https://github.com/etcd-io/etcd/blob/cca0d5c1bed134ac30e1354241f7655d2a118db4/etcdserver/etcdserverpb/rpc.proto#L695-L697):
[code]

But the behavior is surprising, so let's discuss it with the etcd devs: https://github.com/etcd-io/etcd/issues/10681

I agree with @liggitt that closing the current watch and then

[2019-04-26 06:24] andyzhangx opened #77108 "hit rate limit issue when attach/detach 70 disks at one time"
**What happened**:
hit rate limit issue when attach/detach 70 disks at one time

https://github.com/kubernetes/kubernetes/blob/release-1.14/pkg/cloudprovider/providers/azure/azure_vmss.go#L96:21 I am mostly interested in code path from https://github.com/kubernetes/kubernetes/blob/release-1.14/pkg/cloudprovider/providers/azure/azure_controller_common.go#L161

I am getting reports that says with no

[2019-04-26 06:31] mm4tt commented on #73105
Looking at this, will post an update shortly

[2019-04-26 06:36] mm4tt commented on #73105
Kubekins version in green runs:
[code]

Kubekins version in red runs:
[code]

We've made some changes recently in clusterloader that require kubekins in version v20190418-925ad44-master.
As a mitigation I will disable the features that require newer kubekins version, this should unblock the presubmits.
Then I'll investigate why kubekins version changes back and forth.

[2019-04-26 07:16] MIBc commented on #63858
I met the problem for k8s 1.13.2 .Do you have any solutions except clear dead container manually? @Ehekatl @mcluseau

[2019-04-26 07:18] yanghaichao12 commented on #76704
@zq-david-wang okey, i think that's the reason, thx a lot!

[2019-04-26 07:23] draveness commented on #77095
Maybe we could leave these for now and see what we could do after the major part of this is done.

[2019-04-26 07:25] mm4tt commented on #73105
https://github.com/kubernetes/test-infra/pull/12367 has merged, it should fix the problem.
Will keep an eye on the scalability presubmits until they are all green

[2019-04-26 08:01] Madhansudhan commented on #15839
Hi, am getting below error when i tried checking etcd cluster health status.  AM maintaining external etcd cluster(3 nodes) and checking health status with http , the cluster status was healthy.

Error:  client: etcd cluster is unavailable or misconfigured; error #0: tls: oversized record received with length 20527

[2019-04-26 08:15] #77071 closed

[2019-04-26 08:25] genie2014 commented on #41341
How do you resolve this problem?

[2019-04-26 08:27] przemolb commented on #68937
/remove-lifecycle stale

[2019-04-26 08:27] wojtek-t commented on #77080
My personal guess would be: https://github.com/kubernetes/kubernetes/pull/74690
Can we try confirming/rejecting this hypothesis?

[2019-04-26 08:28] wojtek-t commented on #77080
@wenjiaswe - FYI (it's not confirmed, but if you could comment on that too)

[2019-04-26 08:28] genie2014 commented on #41341
How do you resolve this problem?

[2019-04-26 08:35] wojtek-t commented on #76579
I'm not convinced this is reflected in 100-node tests.

That said, I tried to looked around if I can find something else around that time that regressed.
And here is the graph for:
- LIST pods (scope=cluster) for kubemark-5000 from exactly that time:

![Screenshot from 2019-04-26 10-31-00](https://user-images.githubusercontent.com/10743879/56794578-b6f74500-680e-11e9-9fa1-c532c6a7373f.png)

The in

[2019-04-26 08:44] wanghaoran1988 opened #77114 "Thousands TCP connections between master/compute stuck in "ESTABLISHED" status."
**What happened**:
We've see thousands connections stuck in "ESTABLISHED" status between apiserver and kubelet. and running our of the 5-tuples for connections.

#netstat -t
Active Internet connections (w/o servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State
tcp        0      0 ip-10-194-56-159.:38337 ip-10-194-57-180.:10250 ESTABLISHED
tcp        0      0 ip-10-194-

[2019-04-26 08:45] wanghaoran1988 commented on #77114
/sig node
/sig api-machinery

[2019-04-26 08:46] genie2014 opened #77115 "POD cannot access kube-dns service's cluster-ip"
k8s's version is 1.14.0.
I use kubeadm to install k8s, like this:
[code]
Every pod and service are running, but pod cannot resolve hostname from dns. The service kube-dns has a cluster-ip which is 10.96.0.10, I use a pod to test, like this:
`kubectl exec -ti dig -- nslookup kubernetes`
Output: `connection timed out; no servers could be reached`
I find the same issue here: [#41341](https://github.c

[2019-04-26 08:52] magnetik commented on #66300
/reopen

There are still no clear information about what repo to use.
Looks like #557 is a duplicate (as this one got a lot more traction).

[2019-04-26 08:54] rishi360 commented on #48798
Works for me !

[2019-04-26 08:54] wojtek-t commented on #76579
BTW, assuming I'm correct above, there are only 15 commits in that range:
https://github.com/kubernetes/kubernetes/compare/2a05e1b7...99a52350

[2019-04-26 08:56] wojtek-t commented on #76579
Obviously, assuming that it's not test-infra change or sth like that...

[2019-04-26 08:58] mm4tt commented on #73105
It fixed one issue, but there is another one.
Looks like my other change configuring internal firewall for kubemark master (https://github.com/kubernetes/kubernetes/pull/76773) is not propagated in some presubmits - https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/76992/pull-kubernetes-kubemark-e2e-gce-big/1121685578983673856/
Disabling Prometheus to unblock presubmits, will investigat

[2019-04-26 09:00] mm4tt commented on #73105
Ok, everything make sense. We need to cherrypick https://github.com/kubernetes/kubernetes/pull/76773 into older releases.
Leaving prometheus disabled until then.

[2019-04-26 09:26] #70835 closed

[2019-04-26 09:31] wojtek-t commented on #76579
I checked test-infra and there weren't any changes for our jobs in this period (we enabled prometheus stack in the previous run, but the last good one already had that).

[2019-04-26 09:35] yanghaichao12 commented on #76699
@zigmund can you get any vulable information in system log？like dmesg something

[2019-04-26 09:37] wojtek-t commented on #75833
To give an update on that - the current state of it is as following:
- that particular commit can't be just reverted, as it was fixing some issue
- however, golang folks have a PR that is mitigating that issue in a different way
- we have verified with custom build of that fully mitigates regression on our side

The current plan is as following:
- https://github.com/golang/go/commit/8c05d67661c966

[2019-04-26 09:38] mm4tt commented on #73105
Sent https://github.com/kubernetes/kubernetes/pull/77117, https://github.com/kubernetes/kubernetes/pull/77118, https://github.com/kubernetes/kubernetes/pull/77119, https://github.com/kubernetes/kubernetes/pull/77120 with cherrypicks.

[2019-04-26 09:38] adamdougal commented on #77058
I thought you can? I've been able to so far, just not in this rollback scenario.

I can use `kubectl edit`, but would rather avoid this manual step for production applications.

[2019-04-26 09:40] fatal-exception opened #77121 "Kubernetes unable to delete Azure managed disks when PVCs are deleted"
**What you did**: We replaced our 400GB PVCs with 250 GB PVCs by updating the definition of the `volumeClaimTemplates` in our statefulsets. We deleted the statefulsets, pvc and pv objects and then recreated them the statefulset with the new `volumeClaimTemplates` value of 250GB.

**What you expected to happen**: We expected new 250GB Persistent Volumes to be created, and the old 400GBs to have the

[2019-04-26 09:43] oxddr commented on #76579
I've checked your suggestion from the comment above and there is indeed correlation between increased latency in density tests on kubemark and failure on GCE 5000.

I had a look at the commit range. There were two minor changes to scheduler (https://github.com/kubernetes/kubernetes/commit/db1ab237bf2c89a907902e9001910f1280572eda, https://github.com/kubernetes/kubernetes/commit/a93f803f8e400f1d42dc

[2019-04-26 10:01] fatal-exception commented on #77121
To recreate, I tried:
1. create minimal statefulset with a volumeClaimTemplate
2. wait for pods to start and pvcs, pvs to be created
3. try deleting statefulset
4. try deleting pvc

I confirmed that deleting statefulset led to the managed disk being moved to state ''unattached', and that deleting the pvc led to the managed disk being deleted in Azure - so i was not able to recreate the issue

[2019-04-26 10:03] weekface commented on #73263
The scheduler should record each other information to pv1 and pv2, for example, the scheduler should add an annotation `theOtherPVName: pv2` to pv1 when binding pv1.

Then, if pv2 failed to bind, and then pod2 come in, the pod2 can't take pv2, because the scheduler can get the annotation `theOtherPVName: pv2` from pv1 that the pv2 is the other pv used by pod1.

[2019-04-26 10:10] cofyc commented on #73263
It seems a possible idea!

[2019-04-26 10:10] danmassie commented on #77121
/sig azure

[2019-04-26 10:11] mengxifl commented on #76764
i have set cluster port can use 20-32767 when i init my cluster . i konw i can create a pod use my cluster some node port but if i use this i lost k8s service associated multiple backend ability.

[2019-04-26 10:16] #75954 closed

[2019-04-26 10:32] zq-david-wang commented on #77058
@adamdougal  you may be able to delete env together with other field via apply. (Maybe because a whole new replicaset is created before processing env field, the apply payload is used without merging with old configuration) But I don't think you can just delete one env with all other field unchanged via apply.

I made the test,
1. create the deployment
2. get deployment -o yaml > apply.yaml
3. edi

[2019-04-26 10:42] zigmund commented on #76699
This rule is added by kubelet (or kube-proxy?) and I found only one relevant closed ticket: https://github.com/kubernetes/kubernetes/issues/62628

Right.

Yes. DNAT is PREROUTING action while SNAT is POSTROUTING.

Conntrack can handle same src-ip:scr-port since all combination src-ip:scr-port:dst-ip:dst-port is unique. I see src-ip:src-port duplicates via `conntrack -L -p tcp | awk '{print $5$7}'

[2019-04-26 10:51] dims commented on #76579
@liggitt https://github.com/kubernetes/kubernetes/commit/1cca3f9d45a6aae62145b8630e36722bd316ef88 was one of yours ...

[2019-04-26 10:51] xiaoxubeii commented on #77052
Please fill in the Environment:
[code]

[2019-04-26 10:52] dims commented on #75833
thanks for the update @wojtek-t ! we will still be in 1.15 alpha* phases so that's great news.

[2019-04-26 11:04] genie2014 opened #77125 "Node can access cluster-ip but pod is not"
k8s's version is 1.14.0
The kube-dns service's cluster-ip is 172.21.0.10. I can use` telnet 172.21.0.10 53` to access this cluster-ip, but the pod in this node cannot.
What should I do?

[2019-04-26 11:06] krzysied opened #77126 "[Failing test] GCE-5000: pods startup latency > 5s"
**Which jobs are failing**:
gce-scale-performance

**Which test(s) are failing**:
density test

**Since when has it been failing**:
Run 1120236390706057221. 2019-04-22 10:02 CEST

**Testgrid link**:
https://testgrid.k8s.io/sig-scalability-gce#gce-scale-performance

**Reason for failure**:
PodStartupLatency error: pod startup: too high latency 50th percentile: 5.589886258s.
The 99th percentile is e

[2019-04-26 11:07] oxddr commented on #76579
FYI: I am going to run kubemark tests now with 1cca3f9 revert to check whether it's culprit.

[2019-04-26 11:09] krzysied commented on #77126
![pod_startup_regression](https://user-images.githubusercontent.com/25119199/56803980-87ebce00-6824-11e9-9059-77c6f0481233.png)
http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=E2E&metricname=DensityPodStartup&Metric=create_to_schedule

[2019-04-26 11:10] krzysied commented on #77126
/sig scalability

[2019-04-26 11:11] xichengliudui commented on #77052
[code]

[2019-04-26 11:13] krzysied commented on #77126
![configmaps](https://user-images.githubusercontent.com/25119199/56804133-fd579e80-6824-11e9-934a-2399a5535520.png)
http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=APIServer&metricname=DensityResponsiveness&Resource=configmaps&Scope=namespace&Subresource=&Verb=GET

This regression has also visible impact on api calls latency.

[2019-04-26 11:16] zigmund commented on #76699
According to formula for max outgoing requests per second:
max RPS = local port range / fin timeout.
so with stock sysctls it will:
(60999 - 32768) / 60 = ~470 RPS max

And I don't understand why extending port range in out case helped a lot.

For example, we have pretty loaded serviceA (3 POD replica) exposed via hostPortA on 8 nodes. One haproxy sending up to 500 RPS spreaded to 8 nodes. So it w

[2019-04-26 11:28] krzysied opened #77127 "GCE-5000: apiserver - increased cpu usage"
**Which jobs are failing**:
gce-scale-performance

**Which test(s) are failing**:
density test

**Since when has it been failing**:
Run 1117699728771911683. 2019-04-15 10:03 CEST

**Testgrid link**:
https://testgrid.k8s.io/sig-scalability-gce#gce-scale-performance

**Reason for failure**:
Increased cpu usage of apiserver

**Anything else we need to know**:
The test is not failing, however the cpu

[2019-04-26 11:28] krzysied commented on #77127
/sig scalability

[2019-04-26 11:30] krzysied commented on #77127
![apiserver_cpu](https://user-images.githubusercontent.com/25119199/56804868-73f59b80-6827-11e9-9d5a-72a8e0e019a6.png)
http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=E2E&metricname=DensityResources&PodName=kube-apiserver-gce-scale-cluster-master%2Fkube-apiserver&Resource=CPU

[2019-04-26 11:32] #77074 closed

[2019-04-26 11:32] #77098 closed

[2019-04-26 11:34] krzysied commented on #77127
![etcd_cpu](https://user-images.githubusercontent.com/25119199/56804980-e1a1c780-6827-11e9-923e-67116ed0715e.png)
http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=E2E&metricname=DensityResources&PodName=etcd-server-gce-scale-cluster-master%2Fetcd-container&Resource=CPU

The etcd cpu usage is affected in the same way.

[2019-04-26 11:39] zigmund commented on #76699
@yanghaichao12 checked dmesg, kubelet, kube-proxy, flannel logs and there is no interesting information. :(

[2019-04-26 11:47] krzysied commented on #77080
I've opened the [bug for increased cpu usage of apisever](https://github.com/kubernetes/kubernetes/issues/77127). The plot for  [apiserver cpu usage](http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=E2E&metricname=DensityResources&PodName=kube-apiserver-gce-scale-cluster-master%2Fkube-apiserver&Resource=CPU) looks exactly like plot for [get pod latency](http://perf-dash.k8s.io/#

[2019-04-26 11:50] lidaxiahehe commented on #75424
same issue, any way to solve the problem

[2019-04-26 11:56] toadjaune commented on #76957
It seems you were lucky, the behaviour difference apparently appeared somewhere between `5.0.2` and `5.0.3` !

All that the changelog says is :
[code]
which seems totally unrelated to our issue.

I'll try to bisect it down to an exact commit.

[2019-04-26 12:07] liggitt commented on #76579
https://github.com/kubernetes/kubernetes/commit/1cca3f9d45a6aae62145b8630e36722bd316ef88 is the merge commit of a PR updating several dependencies (each in their own commit), and won't revert cleanly on master. If I had to pick a likely candidate, I would try reverting the golang.org/x/sys dependency to its previous version

[2019-04-26 12:09] wojtek-t commented on #75833
@dims - the trick is that go 1.12 is also in 1.14, so we should also cherrypick 1.14 branch - currently there is visible regression in 1.14

[2019-04-26 12:14] dims commented on #75833
@wojtek-t agree. i'd support that

[2019-04-26 12:15] oxddr commented on #76579
@liggitt I wasn't precise with my previous comment: I am running version Kuberntes as of 99a52350a43b8824db655779a7d34d8c8f761dfe with  1cca3f9 reverted. It reverted cleanly for me.

[2019-04-26 12:24] liggitt commented on #76579
I see. Looking through the list of updated dependencies in that PR, only the golang.org/x/sys and golang.org/x/text seem likely possibilities for having any performance implications.

If you wanted to try on master with the previous levels of those dependencies, you could do this:
[code]

Note that the level of those dependencies we were previously on was ~18 months old and not in sync with go 1.1

[2019-04-26 12:28] swoldemi commented on #41881
Does https://kubernetes.github.io/ingress-nginx/user-guide/ingress-path-matching/ reference the desired behaviour that this PR requests? (For paths, not domains)

[2019-04-26 12:31] matanshukry commented on #65066
@liggitt - I can't get this to work, not now anyway.
What you wrote works if the configmap already exists. If it doesn't, I'm getting an error:
`Error from server (NotFound): error when replacing "STDIN": configmaps "my-config" not found.`

Versions:
`
Client Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.9-dispatcher", GitCommit:"e3f5193e8f1091a162af7e17a781e6a3129bcfd0", GitTree

[2019-04-26 12:33] wojtek-t commented on #76579
Thanks Jordan - although other PRs does seem to be suspicious, we should first try to prove that it's really this PR that caused regression. Once we know that for sure, we should find the exact commit and then think what do do with it.
I looked into description of golang.org/x/text, and it doesn't seem to be something that should visibly affect the tests.
What I'm wondering though, is that why it

[2019-04-26 12:35] Constantin07 commented on #70732
I'm experiencing the same issue on v1.11.8 (EKS).

[2019-04-26 12:38] dims commented on #70732
/reopen

[2019-04-26 12:44] wojtek-t commented on #56694
/assign @yastij

[2019-04-26 12:46] liggitt commented on #76579
because that bump only changed a single line:
[code]

[2019-04-26 12:52] alvaroaleman opened #77128 "Kubelet started with `/usr/bin/kubelet --pod-manifest-path=/etc/kubernetes/manifests` panics"
**What happened**:

Ran `sudo /usr/bin/kubelet --pod-manifest-path=/etc/kubernetes/manifests`, log is full of panics (the `/etc/kubernetes/manifests` dir is empty):

[code]

**What you expected to happen**:

My kubelet to happily manage pods based on my pod manifests

**How to reproduce it (as minimally and precisely as possible)**:

Run `/usr/bin/kubelet --pod-manifest-path=/etc/kubernetes/manife

[2019-04-26 13:05] benhartley commented on #57923
I have hit this issue too. The following config excerpt results in files with `0440` instead of `0400` as expected:

[code]

[2019-04-26 13:20] krzysied commented on #77126
/assign

[2019-04-26 13:22] jvoeller opened #77129 ""KubeFailed to get node "{hostname}" when trying to set owner ref to the node lease" when specifying cloud provider."
**What happened**:
I set up a windows cluster with kubeadm. I used flannel in host-gw mode as a network plugin.
My windows node were set up using these scripts (https://github.com/Microsoft/SDN/tree/master/Kubernetes/windows/kubeadm). (I run into the same error when using the _start.ps1, install.ps1, etc_ scripts
My cluster runs on Azure and when I tried adding the two flags --cloud-provider & --c

[2019-04-26 13:22] jvoeller commented on #77129
/sig windows
/sig azure

[2019-04-26 13:23] dparalen commented on #76761
@mattjmcnaughton take it easy, same noob here ;)

[2019-04-26 13:26] chenchix opened #77130 "iptables-restore fails applying rules if pod run in arm64"
**What happened**:
kube-proxy is not applying iptables-restore because it cannot write all rules
**What you expected to happen**:
kube-proxy applies iptables rules correctly
**How to reproduce it (as minimally and precisely as possible)**:
Using flannel (master manifests), kube-proxy started correctly but then run
**Anything else we need to know?**:
master is a pc (amd64) and worker are aarch64 bo

[2019-04-26 13:35] wojtek-t commented on #76579
got it - thanks makes a lot of sense now

Unfortunately, I just realized, that the results when test run locally (those for kubemark-5000) will not really be comparable, because:
- there are only 3 LIST all pods request in this test (it's interesting how stable that is though...)
- those are done from test, so will be affected by network latency

@aoxn So the fact that those will be higher doesn't

[2019-04-26 14:07] wojtek-t commented on #77126
Hmm - for this one, actually the only suspicious commit seems to be upgrade to golang 1.12.4:
https://github.com/kubernetes/kubernetes/pull/76576

which seems unfortunate, given that we didn't yet fully solve regression of 1.12.0

@krzysied - can you please run tests at head by just reverting to go 1.12.1 ?

[2019-04-26 14:14] wojtek-t commented on #77126
i'm fairly sure (given that here all phases of pod startup increase) it's exactly the same as:
https://github.com/kubernetes/kubernetes/issues/77127
So we can probably look into those together:

So I looked into what changed in 1.12.4 golang (comparing to 1.12.1), and my strong suspicion is on:
https://github.com/golang/go/commit/ec06e9ba4578d26fdb9c521d4042e3f9f7f42435

@liggitt - thoughts?

@cbl

[2019-04-26 14:16] wojtek-t commented on #77126
@bradfitz

[2019-04-26 14:19] wojtek-t commented on #77126
FTR - the range of commits on k8s side when the regression happened: https://github.com/kubernetes/kubernetes/compare/3cbb20c69...75d45bdfc

[2019-04-26 14:25] liggitt commented on #77126
That fixed a regression in 1.12 to make it behave closer to 1.11.x. It only impacts proxied paths, so would not affect Pod API calls

[2019-04-26 14:32] Alisd96 opened #77131 "Custom scheduler leaves pod in pending state"
I have deploying a custom scheduler after following instructions step by step like mentioned in Kubernetes Docs

Here's [a link] (https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/)

Pods I specify should be scheduled using scheduler "my-scheduler" leaves in Pending state while "my-scheduler" pod is Running state..

Kubectl version : -Client: v1.14.1 -Server: v1.14.

[2019-04-26 14:37] janwillies commented on #60660
would be nice to use this in envoy with `remote_jwks`

[2019-04-26 14:39] pbarker commented on #77076
@cwdsuzhou I'm curious if you get the same results using the k8s decoder https://github.com/kubernetes/kubernetes/blob/master/test/images/audit-proxy/main.go#L42

[2019-04-26 14:43] s-urbaniak commented on #76956
/assign

[2019-04-26 14:54] s-urbaniak commented on #76956
This is, at least for the API server, because admission options are applied twice during bootstrap, once in https://github.com/kubernetes/kubernetes/blob/59a86822cb966ffb77a702321c89bb4e6f1c1c89/cmd/kube-apiserver/app/apiextensions.go#L53 and once in https://github.com/kubernetes/kubernetes/blob/59a86822cb966ffb77a702321c89bb4e6f1c1c89/cmd/kube-apiserver/app/server.go#L487

While https://github.co

[2019-04-26 15:01] mattjmcnaughton commented on #77067
Ok, I've got a diff addressing this issue via a validation. Will create a pr shortly.

[2019-04-26 15:02] ManiacDC commented on #45398
For those having this issue with helm, you can use the --force argument during an upgrade to force a deletion/re-creation of the resource if apply fails. It isn't specific to PDB's, though.

https://github.com/helm/helm/issues/2914

[2019-04-26 15:16] liggitt commented on #77114
duplicate of https://github.com/kubernetes/kubernetes/issues/67382?

[2019-04-26 15:30] wanghaoran1988 commented on #77114
/close

[2019-04-26 15:30] #77114 closed

[2019-04-26 15:35] andrewsykim commented on #77095
`test/e2e/framework/nodes` should be for anything handling the node resource. So `CheckNodesReady` should go there if it gets and checks node objects from the apiserver.

RestartControllerManager and WaitForApiserverUp should go into `test/e2e/framework/restart.go` or `test/e2e/framework/cluster/state.go` IMO. What do you think?

[2019-04-26 15:43] kragniz commented on #76661
Fixed in #76662
/close

[2019-04-26 15:43] #76661 closed

[2019-04-26 15:46] mlensment commented on #74266
I've got a related issue. I have set up my NFS StatefulSet in GKE (1.11.7-gke.12), i can connect to it through POD IP, but using NFS through service just timeouts.

StatefulSet:
[code]

Service:
[code]

I found this topic from StackOverflow: https://stackoverflow.com/a/51943703, but even if I switched NFS image to `itsthenetwork/nfs-server-alpine`, that does not require so many ports, I still coul

[2019-04-26 15:52] eviln1 commented on #77092
Hello,
Able to reproduce in EKS  1.11 (eks.2) and EKS 1.12 (eks.1).

[2019-04-26 17:01] dims commented on #73392
/unassign

[2019-04-26 17:03] dims commented on #72975
/unassign

[2019-04-26 17:03] dims commented on #71677
/unassign

[2019-04-26 17:04] dims commented on #68091
/remove-lifecycle stale
/unassign

[2019-04-26 17:05] CodeCorrupt commented on #74266
@mlensment Why are you trying to telnet? telnet will use port 23 which you don't have forwarded, and needs the telnet daemon running on the other end.

My solution was to make sure the client you're trying to mount onto is running with privileged mode.

[2019-04-26 17:09] dims commented on #69896
/assign @Rand01ph
/unassign

[2019-04-26 17:33] thockin opened #77134 "Finalizing objects not reflected in CLI"
Assume I have an object, e.g. a Service, which has a finalizer.  When I delete that object, it correctly waits for the finalizer to be removed.  In that intervening period, I can not see any indication that the object is being deleted.  It does not show up in `kubectl describe`.  It is not an event.  If it gets stuck, I have NO indication that it is being deleted or if I know that, why it is not c

[2019-04-26 17:38] thockin opened #77135 "Finalizing objects are mutable"
**What happened**:

Delete an object (Service in this case) with a finalizer.  Mutate the Service.

**What you expected to happen**:

I expected an error.

**Anything else we need to know?**:

It's debatable whether this should be a blanket ban on mutability.  Status seems important to mutate.  Metadata too, probably.  Maybe it should be resource-by-resource?  E.g. chaning the `ports` or `type` of

[2019-04-26 17:51] neolit123 commented on #77131
/sig scheduling

[2019-04-26 17:52] BenTheElder commented on #71677
/unassign
Also not going to have cycles for this. Doubtful other assignees will either @ixdy

[2019-04-26 17:58] BenTheElder commented on #68091
@spiffxp @mariantalla what next?

[2019-04-26 18:06] aranair commented on #51835
In my experience, `sudo systemctl restart docker` helps (but there is obviously downtime).

And this is still happening periodically on random nodes that are either A) close to memory limits or B) CPU starved (either bc of some kswapd0 issue which might be mem related, or actual load)

[2019-04-26 18:09] guineveresaenger commented on #68026
I keep getting this golint verify error on `master` and was wondering if others saw it:
[code]
But when I added that package to the golint failures in my PR, my reviewer said it isn't necessary? What does that mean? What did I miss? Should I use a different kind of verify?
cf: https://github.com/kubernetes/kubernetes/pull/77033#discussion_r278377666

[2019-04-26 18:43] micahhausler commented on #77092
Yea, I can confirm this is not an upstream issue and is EKS specific. You can follow along here: https://github.com/awslabs/amazon-eks-ami/issues/244.

[2019-04-26 18:54] wojtek-t commented on #77126
Thanks Jordan. Apparently I was also wrong with the cpu-usage - that increased 4 runs earlier.

[2019-04-26 18:57] dims commented on #68026
@guineveresaenger looks like the disconnect is because that problem does not show up in the version of `golint` we use in the CI.

please see https://github.com/kubernetes/kubernetes/blob/master/hack/verify-golint.sh#L33-L34

[2019-04-26 18:59] guineveresaenger commented on #68026
Still confused: is that not the golint version I ran? it installs from vendor and uses that I think?

[2019-04-26 18:59] dims commented on #68026
i installed from https://github.com/golang/lint and i still don't see the problem, can you please check what version of golint you have?

[2019-04-26 19:00] guineveresaenger commented on #68026
I'm confused why I wouldn't be using the vendored version? how would that get out of sync?

[2019-04-26 19:00] dims commented on #68026
/me looking

[2019-04-26 19:00] RRAlex commented on #60987
We have the same issue happening on:
- K8s 1.13.2
- Glusterfs 3.12.15 endpoints
- Ubuntu LTS (16.04)
- Docker 18.09.3
...  not sure how long back we've had it though.

[2019-04-26 19:05] wojtek-t commented on #77127
Hmm - it's also worth mentioning that etcd cpu-usage also signiifcant increased:

http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=E2E&metricname=DensityResources&PodName=etcd-server-gce-scale-cluster-master%2Fetcd-container&Resource=CPU

That may indeed suggest that https://github.com/kubernetes/kubernetes/issues/77080 is the culprit, as this is the PR that was touching both et

[2019-04-26 19:08] gyuho opened #77138 "Inconsistent message size in Kubelet"
**What happened**:

[code]

**What you expected to happen**:

`ListPodSandbox` should not fail because of it's response size.

**How to reproduce it (as minimally and precisely as possible)**:

N/A.

**Anything else we need to know?**:

Run batches through Argo workflow, but I don't think it's specific to the workloads.

**Environment**:
- Kubernetes version (use `kubectl version`): 1.12
- Cloud p

[2019-04-26 19:12] gyuho commented on #77138
/sig node

[2019-04-26 19:17] liggitt commented on #77092
thanks, closing here, can track in the eks issue

/close

[2019-04-26 19:17] #77092 closed

[2019-04-26 19:23] nagiesek commented on #75421
@pjh @yujuhong Ping me on slack. I want to resolve this.

[2019-04-26 19:26] dims commented on #77138
@gyuho +1 to make it the same. as reviewers mentioned, it's a temporary thing as the right way to fix it is to have some pagination which is not available currently

https://github.com/kubernetes/kubernetes/pull/63977#issuecomment-390064094

[2019-04-26 19:34] gcoscarelli commented on #43916
Seems to be pretty similar. So upgrading to Docker 18.9.1 might fix it. I will test it. Thanks!

[2019-04-26 20:28] davidz627 opened #77141 "Add unit tests for Migration scenarios for Operation Generator"
/sig storage
/kind cleanup
/kind enhancement

This is necessary to make sure that operation generator functions use the correct plugins when being run with migration on/off. Additionally we should check that the metrics generated from the `CompleteFunc` are generated with the correct plugin name

[2019-04-26 20:34] thediveo opened #77142 "API proxy strips URL query params when proxying websocket connections"
Tested on Kubernetes 1.14 (minikube 1.0). To reproduce:

1. deploy pod with a websocket server running:

[code]

2. in host shell outside minikube run the following websocat command to connect to the websocket server in your wsserver pod:

[code]
3. check the output of the server-side websocat and notice that **the query params are missing**: `[DEBUG websocat::ws_server_peer] Incoming { version: H

[2019-04-26 20:35] TheDiveO commented on #77142
/sig api-machinery

[2019-04-26 21:04] mlensment commented on #74266
This was a mistake, trying to connect through telnet, but it does not solve my issue. Setting `securityContext` to privileged helps a bit, I can mount NFS from the other pod using Pod IP: `mount -t nfs -o nolock 10.36.3.9:/ mnt`, but I still get timeout when trying to connect through service ClusterIP or service name: `mount -t nfs -o nolock nfs-service:/ mnt` results in `mount.nfs: Connection tim

[2019-04-26 21:10] andrewsykim commented on #77095
@WanLinghao updated `test/e2e/framework/cluster` to `test/e2e/framework/lifecycle` as per @jiatongw's suggestion

[2019-04-26 21:26] #74839 closed

[2019-04-26 22:09] kellanburket commented on #76897
Figured out the problem. KOPs should mount the default plugin directory '/usr/libexec/kubernetes/kubelet-plugins/volume/exec' into kube-controller-manager, otherwise kube-controller doesn't know about its plugins. See similar issue in [kubeadm](https://github.com/kubernetes/kubeadm/issues/410). I'll open an issue in KOPs and hopefully someone with admin privileges can merge them.

[2019-04-26 22:16] #76897 closed

[2019-04-26 22:37] mlensment commented on #74266
@CodeCorrupt I deleted my previous comment, my service was defined incorrectly. My issue was not related to this topic.

[2019-04-26 22:39] #71335 closed

[2019-04-27 00:05] Huang-Wei opened #77152 "cleanup features.PodPriority"
As PodPriority has been GA in 1.14, and we've removed FIFO implementation in scheduler.

I think it'd good to remove code related with "checking if features.PodPriority feature gate is enabled or not" - as that's always true now.

/sig scheduling
/kind cleanup

[2019-04-27 00:06] Huang-Wei commented on #77152
/cc @bsalamat if you have a different option. Otherwise let's put a /help here.

[2019-04-27 00:08] Huang-Wei commented on #77152
/remove-kind feature

[2019-04-27 00:14] #76289 closed

[2019-04-27 01:19] andyzhangx commented on #77121
/assign

[2019-04-27 01:40] andyzhangx commented on #77121
@fatal-exception what's the interval between you delete the old statefulset and create the new statefulset in the first repro? If there is detach failure, there should be logs in kube-controller-manager.

[2019-04-27 02:36] draveness commented on #77095
Hi @SataQiu, how is the process of refactoring networking_util going on?

I'm working on service related functions in utils.go https://github.com/kubernetes/kubernetes/pull/77155. Some of the functions have to import `framework` package because of some common functions like `Logf`. And networking_util.go is calling `WaitForServiceEndpointsNum` and `WaitForService` which means it could cause the im

[2019-04-27 04:34] MorrisLaw commented on #77095
I can work on wrappers and providers if they’re still available.

[2019-04-27 05:20] johnSchnake commented on #77095
@draveness I have a WIP for extracting the logging into its own package. It is a very heavily used set of functions though so I am running into a few issues. All solvable though I think.  I’ll let you know when that is done.

[2019-04-27 07:03] draveness commented on #77152
I could open a PR to clean it up if it' ok to do so. 😆

[2019-04-27 07:15] draveness commented on #77103
I'd like to take the files below.

[code]

[2019-04-27 08:07] wojtek-t commented on #77126
So I looked into that range again (the k/k) part and after eliminating all that has no chance to break (comments, unrelated scripts, etc), there are 5 PRs in this range:
[doubtful] https://github.com/kubernetes/kubernetes/pull/76546
[doubtful] https://github.com/kubernetes/kubernetes/pull/76819
[doubtful] https://github.com/kubernetes/kubernetes/pull/76796
[doubtful] https://github.com/kubernetes/

[2019-04-27 11:00] MorrisLaw commented on #77095
Should provider related things go into `test/e2e/framework/providers`? Or, is it actually intended for `provider` related methods to be broken into a `test/e2e/providers.go` file despite there already being a `test/e2e/framework/provider.go` file? @andrewsykim

[2019-04-27 13:45] andrewsykim commented on #77095
I think everything in `test/e2e/framework/providers` should be the provider implementations and `test/e2e/framework/providers.go` should have methods like `ProviderIs`and variables like `ProvidersWithSSH` in it. We can consider moving that up to `test/e2e/framework/providers/provider.go` but a lot of other methods in `test/e2e/framework` depend on it so I think keeping it in the same package at le

[2019-04-27 14:06] SataQiu commented on #77095
@draveness I have tried to solve this problem before, but it was suspended for some reason. If you have the time, feel free to take it over. Thanks a lot.

[2019-04-27 14:15] andrewsykim commented on #77095
@SataQiu that's why we're breaking up `test/e2e/framework/util.go` first. If we can move methods like `Logf` and `WaitForService` into their own packages we would avoid import cycles. Correct me if I'm wrong though, maybe there's another import cycle I'm not seeing

[2019-04-27 16:06] #72104 closed

[2019-04-27 17:27] liggitt commented on #76930
/close

daemonset pods are not treated differently by virtue of being daemonset pods

see discussion in the linked PR

[2019-04-27 17:27] #76930 closed

[2019-04-27 17:27] mattjmcnaughton commented on #77138
@dims Thanks for the guidance - putting out a pr to bump the size rn.

[2019-04-27 17:58] #71476 closed

[2019-04-27 17:58] #68070 closed

[2019-04-27 18:07] tedyu opened #77166 "Use worker pool for killing Pods"
**What would you like to be added**:
Add worker pool which is used to kill Pods.

**Why is this needed**:
Currently in Kubelet#podKiller, when we retrieve PodPair, we spin off goroutine (per PodPair).

By using worker pool which kills Pods, we can limit resource consumption - in case there is surge in pod killing requests.

[2019-04-27 18:08] tedyu commented on #77166
/sig node

[2019-04-27 18:18] #76727 closed

[2019-04-27 19:08] rajansandeep commented on #76845
Maybe this should be on hold till we ensure the air is clear with the Docker Hub hack.
/hold
(don't know a way to hold issues)

[2019-04-27 19:34] ialidzhikov commented on #72757
As far I see `kubectl cluster-info` uses `kubernetes.io/cluster-service` for only `kind: Services`.
Why all of the related PRs for removing of the label from non `kind: Service` manifests are on hold?

[2019-04-27 19:53] tedyu opened #77168 "Clear Ids for killed Pods in batches in Kubelet#podKiller"
**What would you like to be added**:
Change killing Set to map which holds Ids of Pods which are killed, along with the timestamp killing starts.
On periodic basis, obtain lock, remove Pod Ids whose killing start time is sufficiently old from the killing map.

**Why is this needed**:
Currently we clear Pod Id as soon as the Pod is killed where lock acquisition is needed.
This incurs extra locking

[2019-04-27 19:54] tedyu commented on #77168
/sig node

[2019-04-27 19:55] arnarg opened #77169 "Permission denied on hugetlb due to wrong filename"
**What happened**:
When running `kubeadm init --pod-network-cidr=10.244.0.0/16` on OpenSUSE Kubic for aarch64 (board with amlogic s905w) kubelet spits out the following error and exits.
`kubelet.go:1359] Failed to start ContainerManager failed to initialize top level QOS containers: failed to update top level Burstable QOS cgroup : failed to set supported cgroup subsystems for cgroup [kubepods bur

[2019-04-27 19:58] arnarg commented on #77169
@kubernetes/sig-architecture-bug

[2019-04-28 02:18] cnbailian opened #77174 "kubelet: Observed a panic: "invalid memory address or nil pointer dereference""
**What happened**:

Kubelet startup error

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

`kubernetes 1.13.3` does not have this problem.

**Environment**:
- Kubernetes version (use `kubectl version`):

`Kubernetes v1.14.1`

- OS (e.g: `cat /etc/os-release`):

[code]

[2019-04-28 02:29] cnbailian commented on #77174
/sig node

[2019-04-28 02:45] Bevisy commented on #76892
Maybe you didn't understand what I meant. I just set the nodeport port of a service to 6443 ,then the kube-apisever cann't be accessed and I lost my k8s cluster.
`Unable to connect to the server: http: server gave HTTP response to HTTPS client`
This means that when a node's host port is occupied and the nodeport points to this port, it will not prompt the port to be occupied and cannot be created.

[2019-04-28 03:02] zjning95 opened #77175 "dl.k8s.io Can't visit"
http://dl.k8s.io Can't visit

[2019-04-28 03:07] #71534 closed

[2019-04-28 03:46] jonstacks commented on #50898
We would also really love to see something like this get added into Kuberentes. It looks like #49390 got closed before it made its way in. If it helps in the discussion, we released a project, [lambda-ebs-backup](https://github.com/c2fo/lambda-ebs-backup) that runs in lambda on a schedule and takes automated EBS snapshots of volumes with certain tags. It also supports keeping a certain number of s

[2019-04-28 04:16] Nebulazhang opened #77177 "kubelet debug interface"
**What would you like to be added**:
Does kubelet have http debug interface?

**Why is this needed**:
When kubelet or dockerd or node is notReady, we want to know the important cache in kubelet, like pod inof,  pod status, containers..etc. These info can help to locate bugs.
Maybe k8s can add an http interface to save this memory status in file without restarting kubelet.

[2019-04-28 04:17] Nebulazhang commented on #77177
/sig node

[2019-04-28 04:54] raravena80 commented on #69311
/remove-lifecycle rotten

[2019-04-28 05:09] #71469 closed

[2019-04-28 05:12] justaugustus commented on #60646
/remove-lifecycle rotten
/lifecycle frozen

[2019-04-28 05:23] fejta commented on #77041
@kubernetes/sig-node-test-failures
`bazel test --runs_per_test=10 //pkg/kubelet/cm/devicemanager:go_default_test` should demonstrate that this package's unit tests are flaky, see initial comments

/assign @vishh @jiayingz @mindprince

[2019-04-28 06:12] Tarvinder91 commented on #50295
Or in case your master is running on different port. Specify that port instead of 8080. 6433 in my case

[2019-04-28 06:40] xiaoying0442 commented on #67180
we have the same issue now. How to fix it?

[2019-04-28 06:45] rohitsardesai83 commented on #77024
@dims , opened a new PR against etcd repo : https://github.com/etcd-io/etcd/pull/10687

[2019-04-28 07:55] deitch commented on #41881
@swoldemi possibly, but:

1. It doesn't support domains, which is the larger issue to handle deployment to multiple environments.
2. it is specific to nginx, and thus not an official part of the `Ingress` api

[2019-04-28 08:09] WanLinghao commented on #77095
I think we need move log functions and ssh functions to their own packages first to avoid cycle import.
They are widely referred in `test/e2e/framework package `.
I have create PR #77156  to solve this.

[2019-04-28 08:40] warmchang opened #77182 "Directory traversal (or path traversal)?"
**What happened**:

Initial submission is in k3s repo, but after verification and Darren's reminder, it also exists in kubernetes.

TL;DR https://github.com/rancher/k3s/issues/387

Accessing the "https://k8s-server:6443/logs/" reveals the details of the /var/log directory and the contents of all the files below.

**What you expected to happen**:
Kubernetes users cann't view all the files & directo

[2019-04-28 08:55] WanLinghao commented on #77095
oops, it seems it would import huge change both in test/e2e/framework and out test/e2e/framework...
I am not sure if we need this change now..

[2019-04-28 09:38] zhtaoit commented on #71887
Same issue
K8s: v1.14.0
Docker：18.06.3-ce
Linux：4.4.178-1.el7.elrepo.x86_64
cgroup-driver: systemd

[2019-04-28 09:43] yue9944882 commented on #77182
isn't the path protected from RBAC?

[2019-04-28 09:53] draveness commented on #77095
We could duplicate the `Logf` and other functions in the target pkg and refactor piece by piece.

[2019-04-28 10:11] draveness commented on #77095
I open a pr  https://github.com/kubernetes/kubernetes/pull/77184 which adds a new logger package with duplicate `Logf` implementation. I think we could start from this. :)

[2019-04-28 10:48] Sanjary commented on #70506
Hey @khogeland, if user input is wrong, that should be challenged in validating admission webhook, but if you want to mutate based on user input in your mutating admission webhook, then you can still send response from back there. Check this bit, you can send response and a custom message back to the client:

https://github.com/kubernetes/api/blob/01ff9a9183351161976ac234ac88da924d1df1ef/admission

[2019-04-28 11:25] draveness commented on #77045
Maybe we could replace the `"k8s.io/api/core/v1"` manually with `v1 "k8s.io/api/core/v1"` which could solve the major part of this problem.

[2019-04-28 12:20] andyzhangx opened #77186 "azure data disk list is corrupted after attach/detach disk"
**What happened**:
In Azure disk attach/detach function, it uses slice(`disks`) to store the disk list:
https://github.com/kubernetes/kubernetes/blob/f01c1401a9802cf650382983161dd587705d7444/staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_standard.go#L44
And after `disks` changed, the original `vm.StorageProfile.DataDisks` would also be changed, so original azure data disk list is

[2019-04-28 12:22] xiaoxubeii commented on #76322
According to the proposal https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/podaffinity.md:

[code]

It says that system may or may not try to eventually evict the pod from its node. So is it possible that this is an acceptable behavior which kubelet evicts the pods after restarting?

[2019-04-28 12:34] xiaoxubeii commented on #77131
You can add some logs to trace scheduling process, such as in: https://github.com/kubernetes/kubernetes/blob/f01c1401a9802cf650382983161dd587705d7444/pkg/scheduler/core/generic_scheduler.go#L183

[2019-04-28 13:18] gaorong commented on #76322
@xiaoxubeii  Yes, you are right, but It seems to be an odd behavior, I didn't found any official document clarify this behavior(please correct me if I am wrong ), I guess most of people think the pod will still continue to run on the node after kubelet restart. Basically, the restart of kubelet should make an effect on an exsiting pod.

[2019-04-28 13:55] warmchang commented on #77182
The program startup parameters:

[2019-04-28 14:18] #69038 closed

[2019-04-28 14:24] nikhita commented on #68231
I guess this is still not done, https://github.com/kubernetes/kubernetes/pull/76481 was supposed to partially fix this issue.

/reopen

[2019-04-28 14:28] nikhita commented on #65183
/remove-lifecycle rotten
/lifecycle frozen

https://github.com/kubernetes/repo-infra/pull/82

[2019-04-28 16:09] tedyu commented on #77175
What error did you get ?
I can see xml where the beginning reads:
[code]

[2019-04-28 16:19] tedyu commented on #77174
1.14 does't contain the following:
[code]
Is it possible to try out the build with above fix ?

[2019-04-28 16:25] liggitt commented on #77182
The logs proxying can be turned off with `--enable-logs-handler=false`

That is supported by cluster installers like https://github.com/kubernetes/kubernetes/blob/1039feeab745d62661657565285c06373c42fec2/cluster/gce/gci/configure-helper.sh#L1737

Even when enabled, that handler is still subject to authorization. With what credentials are you accessing the secured port? Are they superuser credentia

[2019-04-28 16:26] vishnukraj1111 commented on #68447
I am getting in 1.14.0 as well in some worker nodes.

[2019-04-28 16:33] tedyu commented on #77169
What do you see for the following:
[code]
thanks

[2019-04-28 16:42] arnarg commented on #77169
[code]

[2019-04-28 17:21] #63225 closed

[2019-04-28 17:38] Bessonov commented on #73108
/remove-lifecycle stale

[2019-04-28 18:28] liggitt commented on #77182
Cannot reproduce on v1.14.1:

[code]

With sufficiently powerful credentials (cluster-admin-level credentials), you can request the `/logs/` endpoint, but that is working as designed if the apiserver did not disable log access completely:

[code]

[2019-04-28 18:29] liggitt commented on #77182
/close

[2019-04-28 18:29] #77182 closed

[2019-04-28 18:36] liggitt commented on #77177
kubelet:10250/pods surfaces pods as the node sees them

[2019-04-28 18:38] liggitt commented on #77177
These are set up in https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/server/server.go

[2019-04-28 18:39] rlenferink commented on #73082
Closing this one as #72956 provides a more detailed description of the work left to be done

/close

[2019-04-28 18:39] #73082 closed

[2019-04-28 18:46] liggitt commented on #77174
* What version of the apiserver are you using? (what is the full output of `kubectl version`)
* What is the full kubelet invocation?

[2019-04-28 19:20] khogeland commented on #70506
@Sanjary The issue is that the user sees a 500 status code instead of the status code specified in the Result. There is no way for a mutating webhook to reject a request with a proper 400-something status code.

[2019-04-28 20:06] dhruv881 opened #77190 "Kubernetes working fine but not able to run using Jenkins."
1. When running the below command directly to vm
ubuntu@rajas-test2:~$ kubectl get pods
NAME                     READY   STATUS    RESTARTS   AGE
nginx-65f88748fd-b8z4g   1/1     Running   0          89m
==========================================================
2. When running the same command using Jenkins execute shell to the vm.
[frestyl_testjob] $ /bin/sh -xe /tmp/jenkins2088735681149444643.s

[2019-04-28 20:14] aojea commented on #77190
@dhruv881 it seems you don´t have the KUBECONFIG environment variable in your jenkins shell environment.

You should have a cluster configuration file to use with `kubectl` https://kubernetes.io/docs/reference/kubectl/cheatsheet/#kubectl-context-and-configuration

[2019-04-28 20:21] aojea commented on #76491
What CNI plugins version do you have? this seems related to https://github.com/containernetworking/cni/issues/531

[2019-04-28 20:22] dhruv881 commented on #77190
I already set the environment variable to the node. But still not working.
ubuntu@rajas-test2:~$ echo $KUBECONFIG
/home/ubuntu/.kube/config

[2019-04-28 20:24] #71567 closed

[2019-04-28 20:40] aojea commented on #77190
IIRC you have to pass the environment variables to the jenkins job using a plugin https://wiki.jenkins.io/display/JENKINS/EnvInject+Plugin or setting it in the Jenkins job script.

That environment variable belongs to the `ubuntu` user, you should check what user is used to run the jenkins jobs

[2019-04-28 20:59] cabrinha commented on #52241
This issue keeps getting sent to stale/rotten but it is ongoing.

There are several other issues and PRs open and closed that bring this up.

What we need is the option to set the nodeName at the time a worker joins the cluster. kubeadm and kubelet have these options available, its just that setting the cloud-provider to aws omits these options.

This still an issue and lots of users want the opti

[2019-04-28 21:02] dhruv881 commented on #77190
@aojea I tried using the env injection plugin: Still not working

[EnvInject] - Executing scripts and injecting environment variables after the SCM step.
[EnvInject] - Injecting as environment variables the properties content
KUBECONFIG=/root/.kube/config

[EnvInject] - Variables injected successfully.
[frestyl_testjob] $ /bin/sh -xe /tmp/jenkins7339260447691010456.sh
+ kubectl get pods
The connec

[2019-04-28 21:16] cabrinha commented on #54482
Can we get some traction on this issue? Seems there is a real need for this option to be implemented but it keeps getting brushed aside and related issues emerge while PRs go stale.

[2019-04-28 21:19] cabrinha commented on #22984
Can we simply get a nodename-override flag added to kubelet?

[2019-04-28 21:25] #69999 closed

[2019-04-28 22:03] yastij commented on #72479
/remove-lifecycle stale

[2019-04-28 22:04] yastij commented on #72479
/priority important-soon

[2019-04-28 22:26] #69052 closed

[2019-04-29 00:13] olamy commented on #76491
@athenabot I added some comments in https://github.com/containernetworking/cni/issues/531 :)
I'm not sure how to verify cni version? probably the last one as I just re installed my k8s cluster.

[2019-04-29 01:26] cnbailian commented on #77174
[code]

[2019-04-29 01:43] leo1515416043 opened #77192 "Can't make a ref to pod "{pod_name}", container {container_name}: selfLink was empty, can't make reference"
**What happened**:
pod already gone，but such error occur in kubelet logs
[code]
**What you expected to happen**:
no such error
**How to reproduce it (as minimally and precisely as possible)**:
I don't know
**Anything else we need to know?**:
How to solve it?
**Environment**:
- Kubernetes version (use `kubectl version`):
1.9.4
- OS (e.g: `cat /etc/os-release`):
Alibaba Group Enterprise Linux Server

[2019-04-29 02:07] cofyc commented on #73168
/lifecycle frozen

[2019-04-29 02:14] liggitt commented on #77192
Can this be reproduced on 1.12+? 1.9 is no longer supporter

[2019-04-29 02:28] warmchang commented on #77182
@liggitt Thank you for reply!

Yes, it can be turned off with --enable-logs-handler=false.

But IMO the superusers are only for cluster-admin-level.

Like a typical LAMP program, as the administrator of WordPress, I can handle all the data, configurations and logs of WordPress, but this does not mean that I have permission to view files and directories that do not belong to me on the colocation ho

[2019-04-29 02:44] liggitt commented on #77182
Individual deployments are free to change their defaults, and I'm in favor of defaulting to less exposed configurations. To change the kube-apiserver default, we would need to deprecate the current default and wait the requisite time period (https://kubernetes.io/docs/reference/using-api/deprecation-policy/#deprecating-a-flag-or-cli)

[2019-04-29 03:11] one-two-my-gad commented on #35062
哈喽 我用chmod 对kubelet.service 给予754权限  该报错不在发生

[2019-04-29 03:13] one-two-my-gad commented on #66335
哈喽   我对kubelet.service 给予了权限  该报错不在发生   chmod 754  /etc/systemd/system/kubelet.service

[2019-04-29 03:15] Nebulazhang commented on #77177
@liggitt Wow, thanks very much.

[2019-04-29 03:15] Nebulazhang commented on #77177
/close

[2019-04-29 03:15] #77177 closed

[2019-04-29 03:42] AndySkyL commented on #56990
if you install the cluster with binary package,  must  install ceph-common , if with container  need run rbd-provisioner container.

[2019-04-29 04:18] kubernetes-guide commented on #70082
My kubernetes cluster is v1.13.5 and etcd is v3.3.10.
Then I have the same error, but my etcd cluster uses an SSD hard drive. The read and write speed is as follows:
[code]

error logs:
[code]

Is my disk too slow?

[2019-04-29 04:21] dotbalo commented on #70082
My kubernetes cluster is v1.13.5 and etcd is v3.3.10.
Then I have the same error, but my etcd cluster uses an SSD hard drive. The read and write speed is as follows:
[code]

error logs:
[code]

Is my disk too slow?

[2019-04-29 04:32] #65267 closed

[2019-04-29 06:19] wojtek-t commented on #76579
I did a number of experiments over the weekend.
I was experimenting with "kubemark-5000", looking into "LIST pods (scope-cluster)" APi call latencies based on https://github.com/kubernetes/kubernetes/issues/76579#issuecomment-486976106

As I also wrote above, I'm not entirely sure if it's a good thing to look, but it was easy to leave tests to run. Here are the results (below 50th, 90th and 99th p

[2019-04-29 06:32] jiatongw opened #77197 "Clean up and Refactor test/e2e/framework/service_utils.go"
**What would you like to be added:**
As I am doing the refactor of `service_util.go`, I found some of the methods needed to be moved out of this file. I went through all the methods and picked up those below which should be moved:

- func **GetNodeAddresses**(node *v1.Node, addressType v1.NodeAddressType) (ips []string) {
- func **CollectAddresses**(nodes *v1.NodeList, addressType v1.NodeAddressTy

[2019-04-29 06:33] jiatongw commented on #77197
/kind feature
/sig testing
/area e2e-test-framework

[2019-04-29 06:35] jiatongw commented on #77197
@andrewsykim @neolit123

[2019-04-29 06:38] #77186 closed

[2019-04-29 07:20] jianzhangbjz commented on #68648
`/remove-lifecycle rotten`

[2019-04-29 07:43] natlibfi-arlehiko commented on #63704
/remove-lifecycle stale

[2019-04-29 07:43] natlibfi-arlehiko commented on #30603
/remove-lifecycle stale

[2019-04-29 08:00] mleneveut opened #77201 "Having an option "if different" for imagePullPolicy"
**What would you like to be added**:
I could be usefull to have an option "IfDifferent" for imagePullPolicy.

**Why is this needed**:
When we need an image tag "latest" (for example the Dynatrace oneAgent is :latest and we need it to be always at the lastest version to get Dynatrace's updates) but don't want to re-pull always the same image.

The option "IfDifferent" would behave like "Always", bu

[2019-04-29 08:00] mleneveut commented on #77201
/sig node

[2019-04-29 08:13] LudovicTOURMAN commented on #73208
/remove-lifecycle stale

[2019-04-29 08:14] PaulFurtado commented on #70262
/remove-lifecycle stale

[2019-04-29 08:55] lmdaly commented on #72828
/milestone v1.15

[2019-04-29 08:56] jeffreystoke opened #77202 "[Feature] Add namespaced node taint"
**What would you like to be added**:

Node taints in namespaced scope.

**Why is this needed**:

Since the `Kubernetes` brings us `virtual cluster` via the concept `namespace`, I think it's reasonable to support namespaced node taint to prevent workloads in some namespaces from being scheduled and executed in nodes with such taint(s) forcibly, and admits workloads from other namespaces without req

[2019-04-29 08:59] jeffreystoke commented on #77202
/sig scheduling
/sig node

[2019-04-29 09:07] DaiHao opened #77203 "RollingUpdate daemonset got stucked"
**What happened**:

RollingUpdate daemonset got stucked, leaves a few pod not updated.

Daemonset's status are as follows:
[code]

[code]

**What you expected to happen**:

All pods managed by daemonset upgrade succeed.

**How to reproduce it (as minimally and precisely as possible)**:
1. config minReadySeconds for deamonset
2. daemon-controller's clock time is a little slower than node.

**Anythi

[2019-04-29 09:08] DaiHao commented on #77203
/sig apps

[2019-04-29 09:10] DaiHao commented on #77203
/assign @DaiHao

[2019-04-29 09:23] hoegaarden commented on #69374
/remove-lifecycle stale

xref: https://github.com/kubernetes/kubernetes/pull/74966

[2019-04-29 09:29] Alisd96 commented on #77131
I've found a solution

Add these lines:

[code]
to the end of the output of this command (this opens a file for you to edit):

`kubectl edit clusterrole system:kube-scheduler`

The pod using the scheduler that I deployed is now Running

[code]

`kubectl describe pod annotation-second-scheduler
`

[code]

[2019-04-29 09:31] #77131 closed

[2019-04-29 09:37] #71590 closed

[2019-04-29 09:47] lbernail commented on #76664
I've been putting some thoughts on the issue (we actually have the same one).

Currently, we handle graceful termination the same way for udp as we do for tcp. However on heavily loaded UDP services, (DNS for instance) udp ports are reused quickly and old backends are not deleted fast enough.

There are two possible solutions:
- use more aggressive timeouts (30s instead of the default 300s). Not p

[2019-04-29 09:53] m1093782566 commented on #76664
I like the idea. BTW, iptables also does not support graceful termination.

[2019-04-29 09:59] danielqsj commented on #77201
How can we get the hash of image before pulling it ? I think it depends on the remote image registry.

[2019-04-29 10:05] spender0 commented on #74527
same issue

[2019-04-29 10:09] lbernail commented on #76664
@m1093782566 this is very easy to implement:
- change the test here: https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/graceful_termination.go#L170
- make sure `expire_nodest_conn` is set (which we do : https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L344-L349)

[2019-04-29 10:11] lbernail commented on #76664
If we agree this is the way to go, I can implement it
(if iptables works this way this is the best solution, I agree)

We could still tweak timeouts for TCP (defaults are very long: 900s, which can lead to complete blackholing for 15mn on a crash of a target because the connection is never closed)

[2019-04-29 10:13] m1093782566 commented on #76664
I agree.

[2019-04-29 10:46] nielsole commented on #64751
/remove-lifecycle stale

[2019-04-29 11:22] yanghaichao12 commented on #76699
@zigmund  could you reproduce it in lab?  i think it's easy  because you said  it occurred even with 30..50 RPS, right? and do you consider testing it in different kernel?

[2019-04-29 11:23] Kanshiroron commented on #65304
/remove-lifecycle stale

[2019-04-29 11:27] dims commented on #76579
that's a lot of work! ... thanks @wojtek-t

[2019-04-29 11:40] aojea commented on #76491
@olamy `dpkg -l | grep cni`

[2019-04-29 11:45] olamy commented on #76491
so ```dpkg -l | grep cni
ii  kubernetes-cni                        0.7.5-00                          amd64        Kubernetes CNI``
I guess the problem is not here :)

[2019-04-29 12:03] wojtek-t commented on #77126
Hmm - this is an interesting graph too:
http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=E2E&metricname=DensityResources&PodName=coredns%2Fcoredns&Resource=CPU

Not sure what that really means, but it seems to be related...

[2019-04-29 12:09] oxddr commented on #76579
For sake of completeness I've reverted changes to github.com/sirupsen/logrus, github.com/PuerkitoBio/urlesc, github.com/beorn7/perks, github.com/pborman/uuid and github.com/mailru/easyjson and run the same tests as @wojtek-t .

[2019-04-29 12:37] silenceshell opened #77209 "ceph-fuse should run with "systemd-run" in centos"
**What happened**:

1. create cephfs storage class with external-storage
2. create pvc of cephfs
3. mount this pvc to a pod
4. restart the kubelet on the node where the pod is running
5. run kubectl exec -it to login the pod, run `df`, will get an error 'Transport endpoint is not connected'

**What you expected to happen**:

restart kubelet should not affect the pod on the same node.

**How to rep

[2019-04-29 12:39] fatal-exception commented on #77121
@andyzhangx  I think just a few minutes between delete and create.

Weirdly, we don't se any errors for the detach, just the following repeated 4 times:
[code]

Actually I think I found the problem. In between the disk detach, I also see errors talking to the Azure API:
[code]

It looks like Azure storage API was throwing errors at the time of the original detach. I guess the kube-controller-manag

[2019-04-29 12:46] islinwb commented on #77190
@dhruv881 try specifying KUBECONFIG using `--kubeconfig` in kubectl commands

[2019-04-29 12:47] mleneveut commented on #77201
Good point, not sure about that. Thought it could be like a metadata of the image, that we could ask about first before pulling the whole image. You know like when you download a file, you have the file and aside the SHA or MD5.

[2019-04-29 13:03] wojtek-t commented on #77080
Hmm - this is an interesting graph:
http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=Scheduler&metricname=SchedulingThroughput

@krzysied - how we can have throughput higher than 100? What does the measurement do?

[2019-04-29 13:34] Kanshiroron commented on #45419
Hello,
We also found this issue on one of our platform. The only difference we had with other clusters is that it only had a single master node. And indeed, we recreated the cluster with 3 masters and we haven't noticed the issue so far (few days now).
So I guess my question is: has anybody noticed this issue on a multi-master (>=3) cluster?

[2019-04-29 13:48] silenceshell commented on #77209
/sig storage

[2019-04-29 13:48] answer1991 commented on #77203
Please rename our production daemonset name to "foo-daemonset"

[2019-04-29 14:07] aojea commented on #76491
what CNI plugin are you using? calico, weave, flannel, ...

[2019-04-29 14:09] 030 opened #77212 "What about adding this project to sonarqube?"
By adding this project to sonarcloud, codesmells, vulnerabilities could be reported.

[2019-04-29 14:14] tedyu commented on #76783
@m1093782566
Can you give /lgtm ?

[2019-04-29 14:16] white-cloud commented on #72395
@Unrealnew  hello ,
may i know please how did you set up -–node-status-update-frequency to 4s (kubelet) in kubelet , because i can find no config file for the kubelet ??

Thank you .

[2019-04-29 14:18] Nefelim4ag commented on #70082
@dotbalo , yep very-very slow ssd disk
(Your test are useless, you at least must use oflag/iflag direct/sync. Better use fio/ioping, because you must care about iops/latency, not throughput)

[2019-04-29 14:25] alejandrox1 opened #77213 "[Failing Test] bazel-test-master is failing"
**Which jobs are failing**:
`ci-kubernetes-bazel-test`

**Which test(s) are failing**:
`//cmd/kubeadm/app/util:go_default_test` ([spyglass](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-bazel-test/1122855768916234241))

**Since when has it been failing**:
Failing 4/27.

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#bazel-test-master

**Reason for failu

[2019-04-29 14:28] dims commented on #77213
cc @neolit123

[2019-04-29 14:31] dims commented on #77212
@030 will you be able to help try this out? essentially fork kubernetes/kubernetes into your own org, try sonarqube and share results for us to look at? This will help decide if the service is useful enough to point at the kubernetes/kubernetes directly.

[2019-04-29 14:32] andrewsykim commented on #77197
Did you mean `test/e2e/framework/kubectl`?

[2019-04-29 14:42] wojtek-t commented on #76579
This signal is really weak - I've run tests 3 times with all golang.org deps reverted and the results wer:
[code]
which is quite similar to previous results with a bit more revert described above.

Given how clean the signal was, when run the previous PR, now my thinking is that it's neither of those 8 commits. But I will try to run tests from the "1 PR" before 1 or 2 more times to see if somethin

[2019-04-29 15:18] zgfh commented on #77190
you can debug by exec this:
[code]

[2019-04-29 15:22] liggitt commented on #77201
that's what Always does... it pings the registry for the sha that corresponds to the tag, and if different, pulls it. pull always is very cheap if the sha hasn't changed

/close

[2019-04-29 15:22] #77201 closed

[2019-04-29 15:28] derekwaynecarr commented on #25625
I am just catching up on this thread.  I agree there is a proliferation of drain behaviors happening all over the place.  I am not sure if it should be consolidated or not, but its worth a KEP to explore pros/cons.  A potential thought is that it could be a sub-resource on the node API itself, but I have not given it enough thought, and would want to collect input from others.

[2019-04-29 15:38] jiatongw commented on #77197
Ah, yes. It's `test/e2e/framework/kubectl`

[2019-04-29 15:43] zgfh commented on #77175
it seem we hardcode a url in code https://github.com/kubernetes/kubernetes/blob/0f4b55bbf2149f6993006d4df4bae3378a56beab/cmd/kubeadm/app/util/version.go#L41
can we change it to a param or add a way to disable version check for offline install?

[2019-04-29 15:45] andrewsykim commented on #77197
I think `GetContainerPortsByPodUID` should go into `test/e2e/framework/endpoints`. The rest going into `test/e2e/framework/node` sgtm!

[2019-04-29 15:47] jiatongw commented on #77197
Sounds good 👍

[2019-04-29 15:52] guineveresaenger commented on #68026
Note: I am reserving `pkg/apis/apps` for a KubeCon Contributor Workshop demonstration. It is noted in the spreadsheet.

[2019-04-29 15:58] andrewsykim commented on #68026
@guineveresaenger I think `pkg/apis/apps` may not be ideal cause there's a lot of generated files there. What do you think about reserving `test/*` for the KubeCON Contributor Workshop?

[2019-04-29 16:10] rajansandeep commented on #76845
The image has been verified and it's good to go.
/hold cancel

[2019-04-29 16:20] alejandrox1 commented on #75388
/close

[2019-04-29 16:20] #75388 closed

[2019-04-29 16:21] alejandrox1 commented on #74661
This doesn't seem to be an issue anymore :)
/close

[2019-04-29 16:21] #74661 closed

[2019-04-29 16:22] MartinEmrich commented on #56990
@AndySkyL thanks, that looks interesting... So if I run this rbd-provisioner as a deployment, the kube-controller-manager will detect it and delegate RBD management to it?

[2019-04-29 16:26] alejandrox1 commented on #73884
This seems to still be a thing.

Assigning the scalability test OWNERS:
/assign @mborsz @mm4tt @shyamjvs @wojtek-t

[2019-04-29 16:26] alejandrox1 commented on #73884
/remove-milestone v1.14
/milestone v1.15

[2019-04-29 16:36] agolomoodysaada opened #77215 "Feature Request: PVC metrics should expose disk IO"
**What would you like to be added**:

Is it possible to extend `container_fs_io_time_seconds_total` and similar FS metrics for PVCs? I am not able to access metrics for any of the mounted PVC disks.
I can only access them via `node_disk_io_time_seconds_total` from node-exporter but there's no way to automatically map those to the container mounting the disk without some seriously manual process. I

[2019-04-29 16:38] agolomoodysaada commented on #77215
@kubernetes/sig-storage-feature-requests

[2019-04-29 16:39] alejandrox1 commented on #75298
Still need to keep an eye on this one
/remove-milestone v1.14
/milestone v1.15

[2019-04-29 16:39] agolomoodysaada commented on #77215
Related: https://github.com/google/cadvisor/issues/1702

[2019-04-29 16:42] mitar commented on #69816
/remove-lifecycle stale

[2019-04-29 16:45] imkin commented on #76895
/cc @Katharine @taragu @mariantalla

[2019-04-29 16:45] alejandrox1 commented on #75326
Will continue to keep an eye on this one
/remove-milestone v1.14
/milestone v1.15

[2019-04-29 16:50] jayunit100 commented on #77202
Per conv in slack, this is an interesting idea and ive seen similar stuff done before, but there are other ways to do this, admission controllers to force pods to be mapped to hosts or taint controllers for namespaces, and so on.  I'd suppose bringing this up as a discussion item in sig-node or scheduling , and see how other people are solving the problem.

[2019-04-29 17:08] jiayingz commented on #77041
/assign @vikaschoudhary16 @RenaudWasTaken @chardch

Looks like a race in probe watcher stop?

[2019-04-29 17:23] jebeaudet commented on #61486
/remove-lifecycle stale

[2019-04-29 17:28] neolit123 commented on #77213
testing locally

[2019-04-29 17:29] DarrienG opened #77216 "Stateless services get stuck in ContainerCreating forever"
**What happened**:
A number of our crons are getting stuck in ContainerCreating. Most of them are stateless, or use a ConfigMap or a secret or two.

**What you expected to happen**:
For the container to run, or to be rescheduled on another node.

**How to reproduce it (as minimally and precisely as possible)**:
We're not certain how to reproduce this. It's sporadic and hits about half of our crons

[2019-04-29 17:29] DarrienG commented on #77216
/sig scheduling

[2019-04-29 17:31] DarrienG commented on #77216
It's worth noting that when this happens, we kill all pods stuck in ContainerCreating, they get rescheduled, and immediately work after that (until they don't again).

We aren't even close to our pod limit either.

[2019-04-29 18:00] neolit123 commented on #77213
PR sent:
https://github.com/kubernetes/kubernetes/pull/77218
feel free to LGTM.

[2019-04-29 18:09] tallclair commented on #76660
Followed up with @dashpole, and we agreed on this timeline/proposal.

[2019-04-29 18:12] tallclair commented on #76660
David merged this proposal into https://github.com/kubernetes/kubernetes/issues/68522, so closing this as a duplicate.

[2019-04-29 18:18] gabordk commented on #49926
Unfortunately this has nothing to do with AWS Availability Zones or VolumeScheduling. AZ related problems are kinda hot nowadays, so people like to mix up that problem with this one, but a quick look at the Availability Zones makes clear that there is no connection.

Today's testing results:
Kubernetes: 1.13.0
Instance: m5.4xlarge
EBS: gp2
- Both the worker node and the EBS volume is in the same A

[2019-04-29 18:20] pjh commented on #75421
@nagiesek @madhanrm I captured another repro with traces on Friday. Artifacts [here](https://github.com/pjh/kubernetes/tree/75421-element-not-found/e2e-artifacts-elementnotfound-repro), server.etl trace logs [here](http://storage.googleapis.com/36871f5e-af616f6874e8/server-e2e-test-peterhornyack-windows-node-group-9bnh.etl) and [here](http://storage.googleapis.com/36871f5e-af616f6874e8/server-e2e-

[2019-04-29 18:22] tv42 commented on #76517
This is generally desired.

[2019-04-29 18:24] #76660 closed

[2019-04-29 18:35] tahoward commented on #71319
I'm seeing this issue as well. Creating an eviction resource from k8s API terminates the pods regardless of how the container handles SIGTERM event or if it has a preStop CMD.

[2019-04-29 18:41] tklovett commented on #65013
Besides running a test like the @kevinkim9264 above, how would I determine what the behavior is on AWS? I haven't found anything in the node administration docs or the `aws-load-balancer` Service that would imply that `cordon` would shift traffic away from a `Ready` Pod. In fact, the doc for [Manual Node Administration](https://kubernetes.io/docs/concepts/architecture/nodes/#manual-node-administra

[2019-04-29 18:46] JacobTanenbaum commented on #72511
@skbly7 could you provide an `iptables -c` dump from a problem node before and after you do the `nc`?

[2019-04-29 19:07] gabordk commented on #49926
After some debugging I found my problem is this, all the symptoms are matching:
https://github.com/coreos/bugs/issues/2371

[2019-04-29 19:15] stevekuznetsov commented on #54247
/remove-lifecycle stale
@kubernetes/sig-node-bugs

[2019-04-29 19:16] stevekuznetsov commented on #54247
/shrug cancel

[2019-04-29 19:34] liggitt commented on #76154
removed in https://github.com/kubernetes/kubernetes/pull/77222

[2019-04-29 19:41] RenaudWasTaken commented on #77041
The probe watcher stop is explicitly setup as a synchronization point. We expect all goroutines started by that module to finish at most 11s after stop is called (10s is the timeout for a socket).

I'll take a look at trying to reproduce this and getting the klogs that the pluginwatcher should output.

[2019-04-29 19:51] ammills01 opened #77225 "AKS can assign pods to nodes with insufficient disks to attach"
**Environment:** Azure Kubernetes Service v1.13.5
**Nodes:** 6 x Standard E2s v3 (2 vcpus, 16 GB memory, 4 disk max)
**Issue:** I'm trying to spin up Zookeeper from [cp-helm-charts](https://github.com/confluentinc/cp-helm-charts), specifically [cp-zookeeper](https://github.com/confluentinc/cp-helm-charts/tree/master/charts/cp-zookeeper). I have not altered the default settings since this is a POC

[2019-04-29 20:21] gnufied commented on #77225
/sig storage
/sig scheduling
/sig azure

[2019-04-29 20:21] fabiocorneti commented on #69041
/remove-lifecycle stale

[2019-04-29 20:25] paulgmiller commented on #76338
Got a repro of this again.
You can see in kube-proxy's metrics were several counters are effected but healthz is blissfully unaware
reflector_items_per_watch a nd reflector_watch_duration_seconds becomes NAN.
reflector_items_per_watch_sum falls to zero  and rest_client_requests_total falls off sharply
[1257metrics.txt](https://github.com/kubernetes/kubernetes/files/3129078/1257metrics.txt)
[goodme

[2019-04-29 20:27] paulgmiller commented on #76338
/heathz endpoint also seems happy nad returns a last updated time.
I don't think this is an iptables issue but a endpoints watch connection break/hang.

[2019-04-29 20:35] tedyu opened #77227 "Provide Stop func to ImageGCManager"
**What would you like to be added**:
Provide Stop func to ImageGCManager

**Why is this needed**:
Currently, realImageGCManager starts two constantly running goroutine's .
This issue adds Stop func which stops both goroutine's

This func can be used to cleanly shutdown ImageGCManager

[2019-04-29 20:35] tedyu commented on #77227
/sig node

[2019-04-29 20:48] #71613 closed

[2019-04-29 21:08] tsuna commented on #73056
/remove-lifecycle stale

[2019-04-29 21:09] paulgmiller commented on #76338
Looks like the most reliable metrics for detecing these problems got removed in https://github.com/kubernetes/kubernetes/pull/74636 by @logicalhan  so need some other way to detect this.

[2019-04-29 21:11] 030 commented on #77212
[code]

It the first issue that occurred. I will try again and then added the suggested exclusions.

[2019-04-29 21:19] fedebongio commented on #77081
/assign @caesarxuchao

[2019-04-29 21:25] fedebongio commented on #77135
/assign @lavalamp

[2019-04-29 21:26] fedebongio commented on #77142
/assign @cheftako

[2019-04-29 21:27] yliaog commented on #77135
/cc

[2019-04-29 21:27] neolit123 commented on #77175
try using kubeadm 1.12 at least, but best to move to 1.14.
it has support for offline mode and will use the version of the client if not internet connection is available.

/remove-kind failing-test
/triage support
/close

[2019-04-29 21:27] #77175 closed

[2019-04-29 21:28] alejandrox1 commented on #77213
Thank you very much @neolit123 and @dims for jumping on this so quickly

[2019-04-29 21:28] neolit123 commented on #77190
/triage support

[2019-04-29 21:29] neolit123 commented on #77212
/sig release

[2019-04-29 21:31] lavalamp commented on #77135
I can see why you'd expect that, but it can be valid for system components to mutate the object (yes, even spec) as part of the shutdown process. So, it is risky to blanket-ban these modifications.

You can opt-in to a ban by e.g. explicitly setting deletion timestamp to nil in a patch or PUT; this will always fail validation if the object already has a deletion timestamp.

[2019-04-29 21:36] #77079 closed

[2019-04-29 21:36] #77213 closed

[2019-04-29 21:49] #44272 closed

[2019-04-29 21:53] MrHohn commented on #77135
Humm..This may be problematic for service LB finalizer (https://github.com/kubernetes/enhancements/pull/992) --- service controller might be cleaning up wrong resources. One specific case:
- Delete LB type service with `externalTrafficPolicy=Local`.
- (Before service controller gets a chance to process the deletion) Change service to `externalTrafficPolicy=Cluster`.
- Service controller tries to c

[2019-04-29 21:53] thockin commented on #77135
I'm mostly looking for guidance to implementors.  This is effectively
a new state of being that they might want to consider.  E.g. I would
like Service to reject changes while finalizing so I don't try to spin
up LBs or change ports.

On Mon, Apr 29, 2019 at 2:32 PM Daniel Smith <notifications@github.com> wrote:

[2019-04-29 21:55] SleepyBrett commented on #75663
Warnings of this form:
[code]

occur forever whenever a pod has an init containers. Once the init-container exits the kubelet will forever try to interrogate the runtime for information on this container. (Verified on kubernetes 1.11.13)

Seems like once the container exits status 0 you should stop trying to interrogate it.

[2019-04-29 22:05] alejandrox1 opened #77232 "Testgrid runs shown as pending after weeks"
**Which jobs are failing**:
* `ci-kubernetes-e2e-gce-new-master-upgrade-master`
* `ci-kubernetes-e2e-gce-new-master-upgrade-master-parallel`
* `ci-kubernetes-e2e-gce-new-master-upgrade-cluster-parallel`
* `ci-kubernetes-e2e-gce-new-master-upgrade-cluster`
* `ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new`
* `ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new-parallel`

**Since when has it

[2019-04-29 22:07] thockin commented on #77135
So can we validate that deletionTimestamp is not already set on an update,
and if it is fail the update?

On Mon, Apr 29, 2019 at 2:54 PM Zihong Zheng <notifications@github.com>
wrote:

[2019-04-29 22:07] thockin commented on #77135
...for spec

On Mon, Apr 29, 2019 at 3:06 PM Tim Hockin <thockin@google.com> wrote:

[2019-04-29 22:15] yuxiangqian commented on #77030
@msau42 @saad-ali @gnufied
Document couple of implementation options here:
1. utilizing CreationTimestamp/DeletionTimestamp of each PVC metadata (https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go) as the starting ts of the user operation.
   pro: accurate provisioning end to end latency
   con: does not really work for deletion because o

[2019-04-29 22:22] Anmar-Salih commented on #75701
I don't see update, I am wondering if this issue has been fixed ?

[2019-04-29 22:27] thockin commented on #76845
mirror starting now

On Mon, Apr 29, 2019 at 9:11 AM Sandeep Rajan <notifications@github.com> wrote:

[2019-04-29 22:27] lavalamp commented on #77135
Yes, if you're 100% sure no update will ever need to change that to finish
deleting the service. The penalty for being wrong is an object that is
wedged and can't be removed without manual intervention. So, if you want to
do this, don't be wrong :)

I think it's OK to do this on a case-by-case basis. I don't think it's
great to have a blanket rule, something will end up wedged if we do that.

On M

[2019-04-29 22:31] thockin commented on #77135
What you wrote is already good guidance.

On Mon, Apr 29, 2019 at 3:28 PM Daniel Smith <notifications@github.com>
wrote:

[2019-04-29 22:40] imkin commented on #76895
/sig gcp

This jobs seems to have been failing from quite some time (even before 4/16)
https://prow.k8s.io/job-history/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster

@Katharine pointed out that the jobs failures before 2019-04-16 and after 2019-04-27 09:28:04 +0000 UTC  are similar.

This corresponds to the commit https://github.com/kubernetes/kubernetes/pull/74690 and

[2019-04-29 22:42] 030 commented on #77212
@dims and @neolit123

![k8s-sonarqube](https://user-images.githubusercontent.com/7524528/56931604-d88f4f80-6ae0-11e9-9853-4f5095cde681.png)

![k8s-sonarqube2](https://user-images.githubusercontent.com/7524528/56931608-dcbb6d00-6ae0-11e9-9b5f-4997f01cd951.png)

![k8s-sonarqube3](https://user-images.githubusercontent.com/7524528/56931611-df1dc700-6ae0-11e9-9f9a-092aedd6bfc4.png)

[2019-04-29 22:50] davidz627 opened #77235 "Improve GCE PD migration translation library"
- [x] Translate access modes, making sure that all `ReadWriteMany` access modes are translated to `ReadWriteOnce` with a comment explaining reasoning (backward compatibility)
- [x] Translate deprecated `zone` and `zones` labels to supported topologies
- [x] Translate topology key from "failure-domain.beta.kubernetes.io/zone" to "topology.gke.io/zone"
- [x] Translate deprecated "fstype"  to the pre

[2019-04-29 22:50] davidz627 commented on #77235
/sig storage

[2019-04-29 22:52] davidz627 opened #77237 "Disable in-tree {plugin} when CSIMigration{plugin} feature flag is on"
/sig storage
/assign

When CSI Migration goes beta, we should "disable" the in-tree plugin when CSI Migration is turned on. This will force us to fail fast if any operations are not migrated or some pathways are broken, this will allow us to identify problem areas before GA

[2019-04-29 22:53] tiwalter commented on #73395
/remove-lifecycle stale

[2019-04-29 23:02] mtaufen opened #77238 "verify godeps failing on 1.14"
**Which jobs are failing**:
https://testgrid.k8s.io/sig-release-1.14-blocking#verify-1.14

**Which test(s) are failing**:
verify.godeps

**Since when has it been failing**:
04-29@08:54PDT

**Testgrid link**:
https://testgrid.k8s.io/sig-release-1.14-blocking#verify-1.14

**Reason for failure**:
[code]

**Anything else we need to know**:
~This is also blocking cherry-pick PRs against the 1.14 branch

[2019-04-29 23:02] mtaufen commented on #77238
/cc @yujuhong

[2019-04-29 23:11] mtaufen commented on #77238
@liggitt informs me that when someone adds a new tag to an existing sha it confuses godeps

[2019-04-29 23:11] liggitt commented on #77238
Looks like github.com/evanphx/json-patch added a new tag to an existing sha, which confuses godeps. Updating the normalized godeps.json file is the only fix

[2019-04-29 23:13] mtaufen commented on #77238
I'll send a fix, thanks

[2019-04-29 23:13] mtaufen commented on #77238
/assign @mtaufen

[2019-04-29 23:28] neolit123 commented on #77212
https://sonarcloud.io/dashboard?id=030_kubernetes

[2019-04-29 23:36] neolit123 commented on #77212
i had a look and some of these are good suggestions for cleanups, but most of the high severity items are nothing "critical".

maybe we can leverage this website data WRT `good-first-issue`.
but a lot of static analysis based PRs are sent today already.

[2019-04-29 23:41] thockin commented on #76845
promotion should occur in O(10 minutes)

[2019-04-30 00:05] thockin commented on #76845
1.5.0: Pulling from coredns
Digest: sha256:e83beb5e43f8513fa735e77ffc5859640baea30a882a11cc75c4c3244a737d3c
Status: Downloaded newer image for k8s.gcr.io/coredns:1.5.0

[2019-04-30 00:05] #76845 closed

[2019-04-30 00:16] olamy commented on #76491
@aojea I'm using weave

[2019-04-30 00:18] paulgmiller commented on #76338
I threw this PR up which I doubt even builds to test the waters for having kube-proxy go unhealthy after a period of no endpoint updates.

[2019-04-30 00:19] #75097 closed

[2019-04-30 00:26] eroldan commented on #57187
/remove-lifecycle stale

[2019-04-30 01:01] fturib commented on #76845
@thockin : Thanks !

[2019-04-30 01:18] dims commented on #77212
@neolit123 i agree. it's just another lint tool at this point

[2019-04-30 01:28] logicalhan commented on #76338
The NaNs are due to the fact that [summary observations get dropped from memory after some time](https://github.com/prometheus/client_golang/blob/fa4aa9000d2863904891d193dea354d23f3d712a/prometheus/summary.go#L137). It probably not the most reliable way mechanism to detect that watches have been inactive, since that value can be arbitrarily overridden during metric definition. Also, it won't reall

[2019-04-30 02:17] draveness commented on #77095
Hi, @andrewsykim  I came up with a list of files which has the text of `framework.Logf` with the following cmd:

[code]

+ [ ] test/e2e_node
+ [ ] test/e2e
+ [ ] test/e2e/ui
+ [ ] test/e2e/scheduling
+ [ ] test/e2e/framework/ingress
+ [ ] test/e2e/framework/providers
+ [ ] test/e2e/framework/deployment
+ [ ] test/e2e/framework/replicaset
+ [ ] test/e2e/framework/volume
+ [ ] test/e2e/auth
+ [ ] te

[2019-04-30 02:38] liggitt commented on #77097
/kind documentation
/lifecycle frozen

The spec.finalizers field belongs to the finalizer subresource, just like the status field belongs to the status subresource.

For better or worse, the way "subresource-owned" fields like that currently behave is to ignore modification when the parent resource is submitted via a different endpoint (updates via the primary resource ignore status and spec.final

[2019-04-30 03:03] dotbalo commented on #70082
@Nefelim4ag Thank  for your answer. I tested the BandWidth, IOPS, and Latency on this SSD hard drive separately. It seems that the test results are not very good. The test results are as follows:

BandWidth Test:
[code]

IOPS Test:
[code]

Latency Test:
[code]

I think this disk performance is too bad, but my k8s cluster is a new cluster, and I estimate that the node will not exceed 100. Will this

[2019-04-30 04:21] leakingtapan commented on #69434
/remove-lifecycle stal

[2019-04-30 04:21] leakingtapan commented on #69434
/remove-lifecycle stale

[2019-04-30 05:41] brancz commented on #69825
/remove-lifecycle stale

[2019-04-30 05:54] brancz commented on #69825
@logicalhan and I were just talking about how we could potentially introduce something like that. The biggest problem is that people have tooling built around the current logging mechanisms, so we'll need to keep that in mind as we migrate/introduce new formats. A high level way we could get there could be:

1) Add alternative format that contains the same information as a glog log line `type=info

[2019-04-30 05:57] #68721 closed

[2019-04-30 06:05] wojtek-t commented on #75833
The commits that we were waiting for are already there:
https://github.com/golang/go/commit/fd3676302e8436ec9243ae0695582bbb3f31dc3a
https://github.com/golang/go/commit/438b1a5dae01812a2b91b648c762414d4854ccd7

Now we are waiting for next 1.12 patch release of Go to update Kubernetes to use, the ETA is May 1st.

@dims - given that I will be on vacation for the rest of this week, would you be able

[2019-04-30 06:28] peter-wangxu opened #77250 "External provisioner to manage static imported PV"
**What would you like to be added**:

Currently user can import a static CSI PV with a storage class(`persistentVolumeReclaimPolicy : Delete`), then create a pvc to bind this PV. when create a pod with above pvc, the external attacher(with csi plugin) can attach/detach the pv without any problem.

while due to the current design, deletion of PVC would trigger an event on the PV:
[code]

below is f

[2019-04-30 06:33] peter-wangxu commented on #77250
@kubernetes/sig-storage-feature-requests

[2019-04-30 06:35] zigmund commented on #76699
@yanghaichao12 less loaded services affected too, but only when overall cluster load is high.

I'll try to reproduce in lab with load generator.

[2019-04-30 07:02] danielqsj commented on #55405
Hi @bgrant0607 @thockin @liggitt , does this feature sound reasonable to you ?
I'd like to submit a PR to support this feature if you agree to do it.

[2019-04-30 07:03] #75456 closed

[2019-04-30 07:14] cheng1li opened #77251 "Support multi size hugepages at host level"
**What would you like to be added**:

If I have two sizes of hugepages allocated on the node, the node stuck in notready status. I think this was discussed [in the proposal](https://github.com/kubernetes/community/pull/837/files#r133337110).
I wonder if we can allow multiple sizes of hugepages on the host/node.

**Why is this needed**:

We can launch numbers of pods on one node. There are cases at

[2019-04-30 07:21] hfeng101 commented on #52386
I have got the same questions in using Kubernetes.
![image](https://user-images.githubusercontent.com/5158183/56946015-9a834180-6b5b-11e9-96b7-3526bd9bf3a0.png)

[2019-04-30 07:49] Davidrjx commented on #54804
@phsiao has there this issue related with kube-proxy been a solution, or it been ignorable?

[2019-04-30 08:09] MarkusTeufelberger commented on #65089
Meanwhile Ubuntu Bionic installs Docker 18.06 by default (https://packages.ubuntu.com/bionic/docker.io)

/close

[2019-04-30 08:09] #65089 closed

[2019-04-30 08:25] feiskyer commented on #77225
/assign @andyzhangx

[2019-04-30 08:35] anmolsachan commented on #73019
Referencing related PR : https://github.com/kubernetes/kubernetes/pull/76188

[2019-04-30 08:40] ducquoc commented on #70009
I also met this issue, it only happens on MacOSX with default shell (Bash 3.2 apple-darwin), and bash-completion from Brew.

By default, the bash-completion folder of Brew is: **/usr/local**/etc/bash_completion.d/
(i.e. `$(brew --prefix)/etc/bash_completion.d/` , you can check with `brew --prefix` )

As commented above, https://github.com/kubernetes/kubernetes/issues/70009#issuecomment-433714755 ,

[2019-04-30 08:47] danielqsj commented on #77251
/sig node
/cc @derekwaynecarr

[2019-04-30 09:04] dixudx commented on #77250
/cc @msau42

[2019-04-30 09:34] timyinshi opened #77255 "the connection is unavailable"
/kind bug

/sig node
@Dawn Chen

**What happened**:
Pod creation failed in my k8s cluster with error message:grpc the connection is unavailable

**Anything else we need to know?**:
The location found that there was no connection to the docker, and my solution was to restart the docker,I didn't find a better way. Is there a better way to solve this problem?
command:
systemctl restart docker

**Envi

[2019-04-30 09:35] shigy123456 commented on #77255
docker version :17.03.2-ce

[2019-04-30 09:42] joost14 opened #77256 "RuntimeClass not working after updating to v1.14.1"
**What happened**:
When updating to Kubernetes v1.14.1 from 1.13.2 RuntimeClass stopped working.
I deleted the old runtimeclass resources with:
`kubectl delete customresourcedefinitions.apiextensions.k8s.io runtimeclasses.node.k8s.io`

And tried to re-add the following resource:
[code]
But I end up with the following error:
`error: unable to recognize "kataruntime.yaml": no matches for kind "Runti

[2019-04-30 10:19] stgleb commented on #77083
@1346735074 could give  more details about that? Are you sure that api-server up and runnig on  https://172.17.0.11:6443/ ?

[2019-04-30 10:19] soltysh commented on #60712
I'm closing this in favor of https://github.com/kubernetes/enhancements/issues/515 and the work its tracking.
/close

[2019-04-30 10:19] #60712 closed

[2019-04-30 11:14] guitmz commented on #3595
btw I have tried
[code]
      securityContext:
        capabilities:
          add:
            - IPC_LOCK
            - SYS_RESOURCE
[code]

[2019-04-30 11:14] dims commented on #75833
@wojtek-t yes i can, please let me know what needs to be done (so i can figure out if i have access before you head out)

[2019-04-30 11:15] jsafrane commented on #75941
It has been fixed in all supported branches
/close

[2019-04-30 11:15] #75941 closed

[2019-04-30 11:34] XzenTorXz opened #77258 "Can't remove terminating persistent volumes (PV)"
**What happened**:

The pod and namespaces got removed, but sometimes the pv still remains in "Terminating" status even with `ReclaimPolicy` `Delete`.

![grafik](https://user-images.githubusercontent.com/3819224/56957908-f395aa00-6b48-11e9-930a-90606adeebd9.png)

[code]
I tried to delete it with `kubectl delete pv pvc-3252ac79-674e-11e9-9651-5404a6f17789 --force --grace-period=0` but it gets stuck

[2019-04-30 11:40] jasongerard commented on #3595
@guitmz I do not believe an `initContainer` will work. In that case, you are setting the ulimit for _that_ container, not the pod as a whole.

Below are links to an example Dockerfile and pod.yaml for running a process succesfully as non-root with the ability to change ulimit. Please note that the process in this example changes the ulimit with a syscall.

Dockerfile: https://github.com/jasongerar

[2019-04-30 11:41] wojtek-t commented on #75833
@dims  - thanks a lot. I didn't do upgrade of go for 2 years or so, so I'm not entirely sure how (if?) the process changed in the meantime. @cblecker - was doing the last one: https://github.com/kubernetes/kubernetes/pull/76576, so I'm sure he will be able to help with that.

[2019-04-30 11:56] clamoriniere opened #77259 "Kubelet endpoint with Node information"
## Motivation

The Kubelet already proposes a set of endpoints (`/pods`, and soon `/metrics/resource/v1*`) that offer useful information for "local" node monitoring. In addition to those endpoints, we would like to introduce a new `/node` endpoint for displaying the node resource information. It will allow daemonset-based monitoring solutions to retrieve node information locally (on the same host)

[2019-04-30 11:57] dims commented on #75833
Ah just update to latest golang when it gets out. yes, i can do that. i was wondering if you wanted me to kick off some CI runs or something.

Have a good vacation @wojtek-t

[2019-04-30 12:01] clamoriniere commented on #77259
/sig Node

[2019-04-30 12:19] joost14 commented on #77256
Fixed it myself. I forgot to run the kubeadm upgrade command on my master node... Only my workers were properly updated.
Command:
`kubeadm upgrade apply v1.14.1`

[2019-04-30 12:19] #77256 closed

[2019-04-30 12:30] Nefelim4ag commented on #70082
@dotbalo,
Have you any problems with your cluster?
I think not, if not, then which problem you try to solve and what do you here?

If you just see several records of "slow requests" that not a problem.
If you see that many times per day, see cluster freeze, slow requests for 1s+ you have REAL PROBLEM.
- - -
I mean:
You don't understand what you are doing.
You don't try to read how to measure drive

[2019-04-30 12:52] XzenTorXz commented on #77258
/sig storage

[2019-04-30 13:06] wojtek-t commented on #75833
@dims - thanks a lot!
Yes - it wasn't clear, but I was testing that and it helps us, so no need to run another tests (we will get final confirmation from postsubmits).

[2019-04-30 13:48] jsafrane commented on #75980
If you're project member, you can assign it to yourself by creating comment with `/assign`. But nothing prevents you from creating PR without this issue assigned to you ;-).

[2019-04-30 14:08] DockToFuture opened #77264 "Kube-proxy goes in non-operational mode after cleanup without reporting when cleanup job is done"
**What happened**:
After removing auto-cleanup logic for non-current kube-proxy modes, kube-proxy has to be called manual with ```cleanup``` flag(see, https://github.com/kubernetes/kubernetes/pull/76109). After switching the proxy mode from ```iptables``` to ```ipvs```, kube-proxy gets called with the ```--cleanup``` flag and goes in a non-operational loop after https://github.com/kubernetes/kuber

[2019-04-30 14:09] DockToFuture commented on #77264
/sig network

[2019-04-30 14:13] mattjmcnaughton commented on #77255
Hi @shigy123456 - I'm seeing that you're using Kubernetes 1.10.4, which is not currently supported. Could you please upgrade to a currently supported k8s version (more info [here](https://kubernetes.io/docs/setup/version-skew-policy/)). tl:dr; 1.12.x, 1.13.x, and 1.14.x are the currently supported versions.

[2019-04-30 14:20] andrewsykim commented on #77095
@draveness awesome! Can you open another issue to track that work separately?

[2019-04-30 14:21] mattjmcnaughton commented on #77259
Thanks for this submission @clamoriniere :)

My guess is that since this is something "users will notice and come to rely on", you'll need to create a Kubernetes Enhancement Proposal (KEP) for this. See the [KEP homepage](https://github.com/kubernetes/enhancements/) for more information. I think that window is closing for 1.15, but will presumably reopen fairly soon for 1.16.

Side note... what di

[2019-04-30 14:24] mattjmcnaughton commented on #77251
For context, here's the relevant discussion in the proposal: https://github.com/kubernetes/community/pull/837/files#diff-5b796e498a8c17ce3e0ec1afdd49b8e1R166

Could you please describe your use case in more detail @danielqsj ?

My understanding of the discussion in the proposal is that supporting multiple hugepage sizes requires some non-trivial API changes, and we'd only want to undertake these i

[2019-04-30 14:25] clamoriniere commented on #77259
@mattjmcnaughton thanks for your fast comment, I hesitated between an issue and a KEP :)
I will convert this Issue into KEP.

for the diagram: draw.io and https://imgbb.com/ for the storage

[2019-04-30 14:25] mattjmcnaughton commented on #77227
@tedyu please update your [PR](https://github.com/kubernetes/kubernetes/pull/77231) to indicate it fixes this issue. thanks :)

[2019-04-30 14:28] mattjmcnaughton commented on #77259
:+1: it may also be worth seeing if there is community interest in this before going through the KEP process. The linked KEP homepage has some good guidance :)

[2019-04-30 14:30] mattjmcnaughton commented on #77202
Thanks for the idea @jeffreystoke . I agree with @jayunit100 re circulating this around different sigs and seeing if there are other ways to solve this problem or if there is general interest in your proposed solution. If the later, please create a Kubernetes Enhancement Proposal (KEP) to track your work. See the [KEP](https://github.com/kubernetes/enhancements/) homepage for more information.

[2019-04-30 14:31] keyosk commented on #69264
/remove-lifecycle stale

[2019-04-30 14:34] wojtek-t commented on #76579
I'm less and less convinced that these are providing any useful signal. But given how easy is to run them, for completeness:
- 2 more runs from PR right before Jordan`s PR:
[code]
- 3 runs with last 13 commits of that PR reverted:
[code]

[2019-04-30 14:36] mattjmcnaughton commented on #77166
Thanks for opening this issue @tedyu :)

Can you please share more about the practical ramifications of creating goroutines as necessary instead of having a worker pool? Specifically, are you concerned about the resource consumption of the goroutines themselves or the resource consumption of the code executing within the goroutine if there is no bound on how many pods are being killed in parallel?

[2019-04-30 14:37] lbernail opened #77265 "When running in ipvs mode, unable to update kube-proxy to 1.15"
**What happened**:
When updating to 1.15 in IPVS mode, kube-proxy fails to start

**What you expected to happen**:
kube-proxy updates ok

**How to reproduce it (as minimally and precisely as possible)**:
Deploy kube-proxy <1.15 in ipvs mode and update to 1.15

**Anything else we need to know?**:
Error message in kube-proxy:
[code]

I think the reason is the change of ipset type (bitmap to hash) in

[2019-04-30 14:38] DarrienG commented on #76570
This hit us again yesterday on one of our clusters. We thought we cleaned up all the crons, bt it wasn't the case. It's such an easy and innocuous error to get.

[2019-04-30 14:39] arun17sep2018 opened #77266 "Issue in creating statefulset resource in K8s"

[2019-04-30 14:40] aleks-mariusz commented on #76531
also am seeing this on centos 7.6.1810 w/ latest rpms from updates channel, and also running kubernetes v1.14.1