[2016-10-12 20:05] screeley44 commented on #34549
@saad-ali - any thoughts on this? Do we want to not allow this to happen?

[2016-10-12 20:08] mooperd commented on #34411
@errordeveloper - It just sits there indefinitely after I fg the process.... :(

[root@CentOS-72-64-minimal ~]# kubeadm init
<master/tokens> generated token: "c6e4c8.aae9cf5d56b21a44"
<master/pki> created keys and certificates in "/etc/kubernetes/pki"
<util/kubeconfig> created "/etc/kubernetes/kubelet.conf"
<util/kubeconfig> created "/etc/kubernetes/admin.conf"
<master/apiclient> created API clien

[2016-10-12 20:14] errordeveloper commented on #34101
@miry

No, it uses [`10.32.0.0/12`](https://github.com/weaveworks/weave-kube/blob/1be4819fdb01b2774144d12cb42bcd2f554e9e5c/image/launch.sh#L6).

So for Weave we have `10.32.0.0/12`, which expands to `10.32.0.1` - `10.47.255.254`.
Kubernetes service range is `10.12.0.0/12`, which expands to `10.0.0.1` - `10.15.255.254`.
And you have `10.136.0.0/16`, which expands to `10.136.0.1` - `10.136.255.254`.

[2016-10-12 20:16] foxish commented on #34377
@erikerlandson I've added the namespaces and isolation to our checklist. However, I think dynamic allocation, preemption, and so on, can be taken care of in a follow-up, so as to not expand the scope of this first PR too much.

[2016-10-12 20:16] lavalamp commented on #34508
1. Yes, each group has its own version.
2. Yes, that's one goal.
3. The most obvious way would be to extend the version in the APIVersion field. It should be OK unless clients are using that to blindly construct URL paths.

[2016-10-12 20:24] lavalamp commented on #26637
That's not pagination, that's sharding the endpoint object, which may not be necessary in etcd3 on account of size. I'd sooner worry about write contention with that many endpoints. (Pagination is where apiserver serves a list request in multiple pages.)

[2016-10-12 20:27] spxtr commented on #34446
We did touch `log-dump.sh` recently in #34153. Might be related.

[2016-10-12 20:29] zmerlynn commented on #34446
Yeah, I was just trying to work out if it was. I tried to keep the fake `kubemark` path alive as best I could.

[2016-10-12 20:30] lavalamp commented on #26637
I guess my point is more that if kube-proxy / iptables can't handle the 2 second updates without being a CPU hog, it's going to have major problems in even medium sized clusters. Is there something odd about OP's setup? Why aren't other people complaining? Why does kube-proxy update iptables as fast as it can, why not batch and update every 5 seconds or 15? Can it precompute something and then tak

[2016-10-12 20:33] ixdy commented on #34626
The **kubernetes-cross-build** job is still passing.

[code]
looks like docker weirdness. I'd try deleting your local docker images and volumes and then try again.

[2016-10-12 20:34] bprashanth commented on #26637
Yeah I think there's kubeproxy optimization and unnecessary watch notifications from overloading an object broadcast cluster wide. That's why i forked the bug.

[2016-10-12 20:37] wojtek-t commented on #34446
@zmerlynn - if you could figure out if it was because of your PR (timing matches) that would be great...

[2016-10-12 20:38] lavalamp commented on #32837
Kubelet can't put a pod in pending state--states can't go backwards.

On Tue, Oct 11, 2016 at 6:13 PM, Tim St. Clair <notifications@github.com>
wrote:

[2016-10-12 20:38] ixdy commented on #34626
Oh, because we don't set `KUBE_DOCKER_REGISTRY` or `KUBE_DOCKER_IMAGE_TAG` we don't build the hyperkube docker image on Jenkins. That's unfortunate.

[2016-10-12 20:41] roberthbailey commented on #7347
Back in mid-2015 I was looking for places where we were fetching resources dynamically during cluster creation and trying to make sure that the fetches were done over SSL (to prevent a malicious actor from being able to inject code into new clusters) -- see https://github.com/kubernetes/kubernetes/issues/128.

The idea was to try and switch https://github.com/kubernetes/kubernetes/blob/master/clus

[2016-10-12 20:42] lavalamp commented on #32398
The problem isn't with patches (they can represent the replacement of the
entire list) it's with the patches that kubectl edit makes.

At the very least kubectl edit can test the patch it makes on the old
object; if that doesn't result in something exactly like what the user
wrote, kubectl edit can stop there with an error. This would at least let
people be confident that their changes will work w

[2016-10-12 20:45] roberthbailey commented on #7347
I've created https://github.com/kubernetes/kubernetes/pull/34646 to switch it to https

[2016-10-12 20:48] czerwina commented on #33729
V1.4.1 fixes all the startup issues on ubuntu sInce we started experimenting with kubeadm

[2016-10-12 20:49] zmerlynn commented on #34446
@wojtek-t: #34647

[2016-10-12 20:51] timothysc commented on #26637
They're not paying close attention to node performance profiles...?  Also, we do HA differently so it never jumped out in our profiles, except during bulk operations. (see comment below)

Broadcasting is still an issue, but we've proposed a similar approach:

https://github.com/kubernetes/kubernetes/issues/33693
https://bugzilla.redhat.com/show_bug.cgi?id=1371971#c0

[2016-10-12 20:56] timothysc commented on #34627
We could provide an arg on the watch that gave an exclusion filter for updates?

[2016-10-12 21:01] nikhiljindal commented on #34519
@yarntime Can you please specify the command you used to delete the namespace?
Did you use our go client or kubectl?
If you are using kubectl then will be great if you can add --v=9 to your command and add the output here

[2016-10-12 21:03] saad-ali commented on #34626
@david-mcmahon I'm running `anago` and it seems to have gotten through the hyperkube arm build without error (see log below). If my run completes successfully, I'll go ahead and run with `--nomock` to push a new 1.5.0.alpha release.

<details>
[code]
</details>

[2016-10-12 21:05] geotro commented on #34379
Hi,

I'm also new to k8s and tried to bootstrap a test cluster with kubeadm on Ubuntu 16.04 and am also trying to figure out why I can't reach my dashboard.    I think my issue is the same, or very similar:

#  kubectl get pods --all-namespaces
NAMESPACE     NAME                                    READY     STATUS              RESTARTS   AGE
kube-system   etcd-kubernetes                         1/

[2016-10-12 21:10] tshprecher commented on #29206
fwiw, I'm getting the same error and came across this issue.

[code]

[2016-10-12 21:10] david-mcmahon commented on #34626
@saad-ali, Oh nice,  >Details.  That's new to me.  I'll be using that.  Thanks.
If the mock run completes successfully, yes go ahead and run it with --nomock.

@ixdy ok, good, at least we identified a gap in our test job though I guess we wouldn't have caught it since it looks to be a problem in my env.  I'm not sure though because I completely purged docker and reinstalled it and still getting th

[2016-10-12 21:12] kking124 commented on #34379
That error is because DNS can't resolve the name of your node.
[code]
You need to add an A record to the DNS service at 10.0.0.161 so that the kubectl command can resolve the hostname properly.

[2016-10-12 21:15] erictune commented on #30819
@thockin I agree with you that if the semantics are different, it is better to drop alpha support.

That is 3.i. in https://github.com/kubernetes/kubernetes/issues/30819#issuecomment-251218390

[2016-10-12 21:16] obeattie commented on #26637
@bprashanth Yes, the issue is CPU performance. In my [earlier comment](https://github.com/kubernetes/kubernetes/issues/26637#issuecomment-241661292) you can see the sort of CPU `iptables-restore` is consuming. On heavily-loaded nodes, this penalty and the associated context switches are not insignificant.

I'm not sure why others are not seeing this issue to be honest; we are running HA master, on

[2016-10-12 21:16] errordeveloper commented on #34411
@mooperd that sounds like a different problem, did you run `systectl start kubelet`?

[2016-10-12 21:16] metral opened #34649 "Default seccomp profile cannot be configured without hardcoding it in Kubelet"
As of v1.4.0 (and current master), the default seccomp profile is set to`unconfined`, as this is the intended behavior for a new k8s cluster.

However, it would be great if there was a config flag in the Kubelet that allowed the specification of an alternate default seccomp profile e.g. the `docker/default` profile. Currently, we have to alter the src and rebuild the bin to use `docker/default` so

[2016-10-12 21:18] errordeveloper commented on #16508
@rapenchukd will containerised components fit the bill for you? I suppose you can implement image pulling policy as a Docker plugin or point privileged machines a different registry...

[2016-10-12 21:19] lblackstone commented on #34649
Related to https://github.com/kubernetes/kubernetes/issues/20870

[2016-10-12 21:21] erictune commented on #30819
@thockin I'm not sure what you are calling uncertainty in my proposal.  One of the following things happens:

1. the field you thought should work (alphaFoo or betaFoo) doesn't work with the current version of the apiserver.  You get an error when trying to write that object, or when trying to read that object.
1. you set just one of the fields and it works
1. you set both of the fields to values

[2016-10-12 21:23] rmmh commented on #34193
dupe of #34446

[2016-10-12 21:24] #32646 closed

[2016-10-12 21:24] #32753 closed

[2016-10-12 21:24] #34063 closed

[2016-10-12 21:24] #34065 closed

[2016-10-12 21:24] #34077 closed

[2016-10-12 21:24] #34078 closed

[2016-10-12 21:24] kking124 commented on #34379
Nodes don't appear to be oversubscribed:
[code]

kube-dns logs:
[code]

[2016-10-12 21:25] rmmh commented on #34111
gke timeout, uninteresting

[2016-10-12 21:25] #34111 closed

[2016-10-12 21:26] bprashanth commented on #26637
Hmm, in that comment it looks like you have nothing else on the node. If you're saying it's getting much more than its "request: 100m" even on a loaded node, that sounds like a different bug. Of course we should still fix it, I'm just wary of pointing fingers at something that has a relatively low request.

[2016-10-12 21:26] MrHohn commented on #34590
All of delete/add/update should be reflected by `OnUpdate`. Did kube-dns always return the wrong IP after recreated the petset?

[2016-10-12 21:28] zmerlynn commented on #34193
@rmmh: Why? This looks like it succeeded in `log-dump.sh`, and isn't the `kubemark` provider, which was the last issue left. So at least [2529](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-updown/2529/) is unrelated to #34446?

[2016-10-12 21:29] thockin commented on #26637
Agree, there's an open issue for proxy to batch updates.  There's really no
need for it ever to run more than once per second, and even that is
probably too much.

On Wed, Oct 12, 2016 at 1:31 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-10-12 21:30] thockin commented on #26637
FTR - I did try to to repro this and had kube-proxy writing out thousands
of iptables rules as fast as it could, and I never saw a single
iptables-restore more than 120ms or so, (numbers from memory)

On Wed, Oct 12, 2016 at 2:26 PM, Prashanth B <notifications@github.com>
wrote:

[2016-10-12 21:30] geotro commented on #34379
Thank you.  How about this one?

`#` kubectl get events --all-namespaces|grep kube-dns|head
default   37m       37m       1         kube-dns   Pod                 Normal    Scheduled        {default-scheduler }   Successfully assigned kube-dns to geff8
default   37m       37m       1         kube-dns   Pod                 Warning   FailedSync       {kubelet geff8}        Error syncing pod, skippin

[2016-10-12 21:33] foxish commented on #28977
@soltysh Able to reproduce this in about 20 minutes with the following job definition.

[code]

* Despite https://github.com/kubernetes/kubernetes/pull/32785, the pod creates are being retried every 1 second or so, and not backing off exponentially.
* The pods are never cleaned up from the apiserver after they fail and "complete" (is this by design?)

[2016-10-12 21:33] kking124 commented on #34379
I think you forgot to install weave per: http://kubernetes.io/docs/getting-started-guides/kubeadm/#installing-a-pod-network

on your master, run:
[code]

[2016-10-12 21:34] geotro commented on #34379
I removed it, as it was erroring as well, I thought it was related and dependent upon kube-dns working correctly:

`#` kubectl get pods --all-namespaces
NAMESPACE     NAME                                    READY     STATUS              RESTARTS   AGE
kube-system   etcd-kubernetes                         1/1       Running             4          5m
kube-system   kube-apiserver-kubernetes

[2016-10-12 21:35] kking124 commented on #34379
How many  nodes do you have?

[2016-10-12 21:36] geotro commented on #34379
4, plus the master

[2016-10-12 21:36] rmmh commented on #34193
Ok, dupe of #34446 AND #28188. I don't know why the bot is claiming these runs don't have JUnit output, many of them do.

[2016-10-12 21:36] #34193 closed

[2016-10-12 21:38] rmmh commented on #34479
Dupe of #34446 (and an uninteresting timeout).

[2016-10-12 21:38] #34479 closed

[2016-10-12 21:40] kking124 commented on #34379
please run on your master:
[code]

[2016-10-12 21:41] rmmh commented on #34231
Dupe of #34446 and #31561 (for the opening issue).

[2016-10-12 21:41] #34231 closed

[2016-10-12 21:41] rmmh commented on #34478
Dupe of #34446

[2016-10-12 21:41] #34478 closed

[2016-10-12 21:42] rmmh commented on #34481
Dupe of #34446, last failure is a timeout.

[2016-10-12 21:42] #34481 closed

[2016-10-12 21:42] rmmh commented on #34190
Dupe of #34446.

[2016-10-12 21:42] #34190 closed

[2016-10-12 21:43] bprashanth commented on #34590
kube-dns latency aside (because dns should be updated around the time endpoints updates, in theory)

If your database allows hostnames, it should be re-resolving correctly on its own.
If your database needs ips (and you're writing out the config with the exact ip), you should wait in the init container till your ip shows up in an nslookup of your name.

So basically wait for the peer finder to del

[2016-10-12 21:46] rmmh commented on #34477
Dupe of #34446 and 17990 is another etcd download flake.

[2016-10-12 21:46] #34477 closed

[2016-10-12 21:46] rmmh commented on #34483
I believe test gke was broken 2 days ago, this should be working again now.

[2016-10-12 21:46] #34483 closed

[2016-10-12 21:49] rmmh commented on #34550
jenkins-master rebooted, unsurprisingly this caused builds to not complete.

[2016-10-12 21:50] rata commented on #33475
@chengzhang1016 let me know if this looks good to you: https://github.com/kubernetes/kubernetes.github.io/pull/1447

Thanks!

[2016-10-12 21:50] geotro commented on #34379
[code]

[2016-10-12 21:51] rmmh commented on #34182
Dupe of #34446.

[2016-10-12 21:51] #34182 closed

[2016-10-12 21:51] rmmh commented on #34170
Dupe of #34446.

[2016-10-12 21:51] #34170 closed

[2016-10-12 21:52] rmmh commented on #34181
I don't know how to debug AWS timeouts.

[2016-10-12 21:52] rmmh commented on #34200
Dupe of #34446.

[2016-10-12 21:52] #34200 closed

[2016-10-12 21:53] rmmh commented on #34117
Mostly a dupe of #34446.

[2016-10-12 21:53] #34117 closed

[2016-10-12 21:54] rmmh commented on #34185
Dupe of #34446.

[2016-10-12 21:54] #34185 closed

[2016-10-12 21:57] eparhei commented on #33729
I'm following this document: http://kubernetes.io/docs/getting-started-guides/kubeadm/
and it is still installing kubectl and kubelet 1.4.0. And of course blocks after kubeadm init reaches to "waiting for the control plane to become ready" . Would you please indicate how to install the new version then? Thanks!

[2016-10-12 21:57] kking124 commented on #34379
Are ```geff6```, ```geff8```, ```geff9```, and ```kubernetes``` all DNS resolvable?

[2016-10-12 22:01] thockin commented on #30819
I'm torn on the need to ever have both representations.  The result of
today's conversation and subsequent lunch leads me away from the need to
ever do that, which makes me happy.

On Wed, Oct 12, 2016 at 2:22 PM, Eric Tune <notifications@github.com> wrote:

[2016-10-12 22:02] geotro commented on #34379
kubernetes wasn't, I added it now, same thing.   They are all resolvable.

Why does it get a connection refused:
dial tcp 127.0.0.1:6784: getsockopt: connection refused; Skipping pod

If this is an attempt on the kubernetes node, it should work...

[2016-10-12 22:03] MrHohn commented on #33894
Your `kubedns` deployment was deleted by the addon manager.

I assume that your yaml file is not being put under /etc/kubernetes/addons on the master node. Addon manager will try to maintain the running addons to be the same as the configuration files under the addons folder. If your deployment have `kubernetes.io/cluster-service: "true"` label and under `kube-system` namespace, addon manager woul

[2016-10-12 22:03] timothysc commented on #30819
So I read half of this in detail, but wanted to offer an bit of user experience here in the hopes that we strive towards a better longer term solution and not try to promote annotations too hastily.

As @davidopp mentioned earlier the @kubernetes/sig-scheduling group would like to promote taints, tolerations, and affinity to beta.  In an effort to vet the feature and usability we stood up a separa

[2016-10-12 22:07] eparhei commented on #33729
@errordeveloper , what kind of information can help you? I have Ubuntu 16.04 installed. It's behind a proxy but the proxy is set as mentioned in https://docs.docker.com/engine/admin/systemd/#/http-proxy
Then, kubeadm init blocks while "waiting for the control plane to become ready". However, if in a second terminal, I run
$ kubectl get pods --all-namespaces
This is the output:
NAMESPACE     NAME

[2016-10-12 22:17] kking124 commented on #34379
Did the weave pods all come up at least?

My understanding is that kube-dns won't stop crash looping until the pod
network is running.

On Oct 12, 2016 6:03 PM, "geotro" <notifications@github.com> wrote:

[2016-10-12 22:22] geotro commented on #34379
No, and I don't see in the event log why exactly they won't start.

[code]

[code]

[2016-10-12 22:28] janetkuo commented on #34511
Looks like a flake, closing

[2016-10-12 22:28] #34511 closed

[2016-10-12 22:28] geotro commented on #34379
Still doesn't explain the error on kube-dns' start attempt where it says connection refused.  Where is it trying to connect to 127.0.0.1:6784 from?

[2016-10-12 22:29] MrHohn commented on #32992
Related to #32749.

[2016-10-12 22:30] aveshagarwal commented on #25320
I can take a stab at "make toleration key wildcardable" implementation if no one is working on it.  Here is my understanding.

When a toleration key is wild card:
Case 1: Operator=Equal, Value=v, Effect=one of NoSchedule, PreferNoSchedule, NoExecute, NoScheduleNoAdmit

It means that a pod with the above toleration could be scheduled to any node that has a taint with value v (irregardless of key) a

[2016-10-12 22:30] #33398 closed

[2016-10-12 22:30] #33482 closed

[2016-10-12 22:30] #33514 closed

[2016-10-12 22:30] #33525 closed

[2016-10-12 22:30] #33537 closed

[2016-10-12 22:30] #33560 closed

[2016-10-12 22:30] #34061 closed

[2016-10-12 22:30] #34069 closed

[2016-10-12 22:30] #34112 closed

[2016-10-12 22:30] #34115 closed

[2016-10-12 22:30] #34121 closed

[2016-10-12 22:30] #34155 closed

[2016-10-12 22:30] #34159 closed

[2016-10-12 22:30] #34162 closed

[2016-10-12 22:30] #34165 closed

[2016-10-12 22:30] #34174 closed

[2016-10-12 22:30] #34192 closed

[2016-10-12 22:30] #34194 closed

[2016-10-12 22:30] #34196 closed

[2016-10-12 22:30] #34203 closed

[2016-10-12 22:30] #34209 closed

[2016-10-12 22:30] #34476 closed

[2016-10-12 22:30] #34499 closed

[2016-10-12 22:30] #34529 closed

[2016-10-12 22:30] #34564 closed

[2016-10-12 22:30] #33624 closed

[2016-10-12 22:30] #33647 closed

[2016-10-12 22:30] #33989 closed

[2016-10-12 22:30] #34070 closed

[2016-10-12 22:30] #34075 closed

[2016-10-12 22:30] #34087 closed

[2016-10-12 22:30] #34096 closed

[2016-10-12 22:30] #34163 closed

[2016-10-12 22:30] #34164 closed

[2016-10-12 22:30] #34167 closed

[2016-10-12 22:30] #34172 closed

[2016-10-12 22:30] #34179 closed

[2016-10-12 22:30] #34181 closed

[2016-10-12 22:30] #34183 closed

[2016-10-12 22:30] #34187 closed

[2016-10-12 22:30] #34188 closed

[2016-10-12 22:30] #34197 closed

[2016-10-12 22:30] #34202 closed

[2016-10-12 22:30] #34208 closed

[2016-10-12 22:30] #34388 closed

[2016-10-12 22:30] #34465 closed

[2016-10-12 22:30] #34475 closed

[2016-10-12 22:30] #34622 closed

[2016-10-12 22:32] mikekap commented on #34590
The wrong IP was returned up to 24h after the initial pod restart, so it looks like it was "stuck" in kube-dns. I certainly didn't expect the ip to be instantly correct after the pod starts, but this wait was quite excessive.

To clarify, I only killed a petset pod - not the petset. The petset controller recreated the pod with the same name almost instantly (as expected). `kube-dns` never seemed t

[2016-10-12 22:33] k8s-merge-robot opened #34654 "[k8s.io] Deployment paused deployment should be ignored by the controller {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-release-1.4/1244/

Failed: [k8s.io] Deployment paused deployment should be ignored by the controller {Kubernetes e2e suite}

[code]

Previous issues for this test: #28067 #28378 #32692 #33256

[2016-10-12 22:33] k8s-merge-robot opened #34655 "kubernetes-e2e-gci-gce-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-serial/143/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance] {Kubernetes e2e suite}

[code]

Issues about this test specifically: #27115 #28070 #30747 #31341

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular r

[2016-10-12 22:35] kking124 commented on #34379
I just noticed that all of your nodes are listing public facing ip
addresses, and not addresses on the 10.0.0.0/24 subnet with your master. I
think there might be something off in how your nodes got joined to your
master.

Unfortunately, I have no idea how to check that or fix it.

[2016-10-12 22:37] MrHohn commented on #32381
FYI, documentation for DNS is on http://kubernetes.io/docs/admin/dns/ now.

[2016-10-12 22:40] geotro commented on #34379
I suspected it might have something to do with this.  The nodes also have a publically routable interface, and that's the default gateway.   Do you know how to prevent it from selecting that interface when joining?

[2016-10-12 22:44] k8s-merge-robot opened #34656 "kubernetes-e2e-gci-gce-federation: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-federation/888/

Run so broken it didn't make JUnit output!

[2016-10-12 22:44] kking124 commented on #34379
Unfortunately, no. I'm still trying to get my first working cluster up and
running myself.

[2016-10-12 22:47] smarterclayton commented on #9125
@directxman12 can you take a look at this?  Has some value for idling.

[2016-10-12 22:49] CelsoSantos commented on #24330
I too am facing this issue. My old/previous RSs are being kept alive/running.

My issue in particular is this.
I have a deployment YAML file where I do the following:
- I have two labels in `template.metadata.labels`: JenkinsBuildID:"0" and app:api
- Then, I have `spec.selectors` with matchLabels and to match solely by the `app` tag.
- Sample:
[code]

I use jenkins to build my project and a docker

[2016-10-12 22:49] euank commented on #27796
Yup, thanks @emsearcy, last time I think I must have accidentally ended up with my personal email. Looks good now!

(also, nice profile picture)

[2016-10-12 22:57] geotro commented on #34379
Making some progress.  I applied what is suggested at the bottom of this issue https://github.com/kubernetes/kubernetes/issues/34101 and all my weave-net instances are now running, the rest, kube-dns, kube-discovery, kubernetes-dashboard are still pending...

[code]

[2016-10-12 22:59] thockin commented on #16508
On Wed, Oct 12, 2016 at 12:39 PM, Drew Rapenchuk
<notifications@github.com> wrote:

I am curious.  If the resultant mega-binary was busybox-style
(intended to be run multiple times in different roles) rather than a
single mega-process, what causes extra time in the process?

Whether I produce 8 individual binaries or 1 binary with 8 different
modes, the test matrix seems the same...what am I missi

[2016-10-12 23:08] timothysc commented on #26637
/cc @ncdc - fyi...

[2016-10-12 23:19] jingxu97 commented on #33760
This problem described in this PR also fix the issues in #29903. Although the problems are different but the root cause and the fix are the same

[2016-10-12 23:26] errordeveloper commented on #28138
From kubeadm UX perspective, it'd be best to get confirmations when each pod is deployed and ready, may be even have status while images are being fetch, and _most of all we want to fail early_, without having to check in a polling fashion for multiple things.

[2016-10-12 23:28] AdoHe commented on #34633
this is a bug, will open a PR to fix this.

[2016-10-12 23:30] k8s-merge-robot opened #34658 "[k8s.io] EmptyDir volumes should support (non-root,0666,tmpfs) [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/9914/

Failed: [k8s.io] EmptyDir volumes should support (non-root,0666,tmpfs) [Conformance] {Kubernetes e2e suite}

[code]

[2016-10-12 23:31] fluxrad commented on #19634
FWIW turned on prometheus metrics in skydns and found the following. I'm a little confused as to why error rates are significantly higher than overall request counts:

[code]

### Query data

[code]

While the switch to dnsmasq has ameliorated some issues, it does look like this may be causing excessive load on AWS itself. We're now seeing tens of DNS timeouts/second talking to AWS DNS from every

[2016-10-12 23:31] AdoHe commented on #34629
/cc @AdoHe

[2016-10-12 23:31] tnachen commented on #34377
Dynamic resource allocation in terms of namespaces will be nice but also a bit use case specific. Also executors in the Spark world is not sharable and launched per job, so we are really talking about machine resources that either can be preempted or moved around based on some other policy outside. We can worry about those later as I believe having a good usability story is more important as it's

[2016-10-12 23:32] smarterclayton commented on #30819
There was universal consensus on the call today that annotations as
api features are dead (but will take several releases to die).  We
will use typed and structured fields.  Still working on exact
semantics of transition between alpha -> beta as Tim was describing.

[2016-10-12 23:33] ymqytw commented on #20508
Any suggestions about how to fix this issue?

[2016-10-12 23:36] Crazee commented on #34044
I need this feature, too.  When you get stuck with errors like

[code]

I'd like a way to reset things to square one without throwing away the VM and making a new one.

[2016-10-12 23:38] #34623 closed

[2016-10-12 23:39] errordeveloper commented on #34044
Guy, we have this in docs, it was a bit hidden earlier, should be more
visible now... Yet indeed we should add this command ASAP.

On Thu, 13 Oct 2016, 00:36 Guy Riddle, <notifications@github.com> wrote:

[2016-10-12 23:44] k8s-merge-robot opened #34659 "kubelet-serial-gce-e2e-ci: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/1032/

Run so broken it didn't make JUnit output!

[2016-10-12 23:46] kking124 commented on #34379
My issue seems to be centos related; I built an Ubuntu LTS cluster and everything came up with no issues.

[2016-10-12 23:46] bprashanth opened #34660 "servicecontroller needs periodic reconciliation"
We really need to add periodic reconcile to service controller. We didn't add it in 1.4 because there was enough other stuff going on, and the legacy controller never reconciled.

There is surely a bug in 1.4 around updating status, where if it fails to update (because of conflict), it just drops the update, user sees `<pending>`, and the controller never retries. All resources for loadbalancer wi

[2016-10-12 23:47] yujuhong commented on #34003
This fix is in. Closing the issue and wait for re-occurrence.

[2016-10-12 23:47] #34003 closed

[2016-10-12 23:50] Crazee commented on #34044
I had gotten past the first one but didn't figure out all the bits in clearing up the kube-discovery part.

By the way, I did a "chown ubuntu" of the /etc/kubernetes tree so I can run kubeadm/kubectl not as root.  Hope that won't cause other problems.

[2016-10-13 00:00] bprashanth commented on #34660
We should also add some clarity around the status update failed path, there was nothing in logs

[2016-10-13 00:02] pires commented on #28138
@luxas can please you assign this over to me and @aaronlevy?

[2016-10-13 00:02] piersharding commented on #33729
Hi  @errordeveloper -

Thanks for this!

Cheers,
Piers Harding.

On 13 October 2016 at 05:56, Ilya Dmitrichenko <notifications@github.com>
wrote:

--
mail/xmpp: piers@ompka.net
http://www.piersharding.com
http://www.linkedin.com/in/piersharding/
0xE0BFB92B

[2016-10-13 00:06] geotro commented on #34101
@errordeveloper, after applying your changes I was able to get kube-dns and weave-net working!

However, kube-scheduler-kubernetes won't run:

[code]

[2016-10-13 00:06] thockin commented on #34629
I could get behind disallowing fundamental changes (e.g ExternalName ->
ClusterIP), but I think that lots of folks assume that you can upgrade from
ClusterIP -> LoadBalancer.  I don't think we can break that.

On Wed, Oct 12, 2016 at 4:32 PM, TonyAdo <notifications@github.com> wrote:

[2016-10-13 00:08] Random-Liu opened #34661 "Node E2E: We should test whether container log files are in the right place."
Cluster logging assumes kubelet stores container log at a specific directory with specific name.

Currently the path is:

[code]

After the CRI work, the path will be:

[code]

However, we don't have test coverage for this. We don't even know whether the log files are there or not.
We should add a node e2e test for this, basically:
1) Create a container which prints logs
2) Check whether the expec

[2016-10-13 00:32] k8s-merge-robot opened #34665 "kubernetes-e2e-gci-gke-slow: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow/710/

Run so broken it didn't make JUnit output!

[2016-10-13 00:37] k8s-merge-robot opened #34666 "[k8s.io] Cluster level logging using Elasticsearch [Feature:Elasticsearch] should check that logs from containers are ingested into Elasticsearch {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-es-logging/1617/

Failed: [k8s.io] Cluster level logging using Elasticsearch [Feature:Elasticsearch] should check that logs from containers are ingested into Elasticsearch {Kubernetes e2e suite}

[code]

[2016-10-13 00:42] errordeveloper commented on #34101
@geotro sorry, that was a copy/paste bug, I've updated the comments now, it's should had been `kube-apiserver.json` not `kube-scheduler.json`.

[2016-10-13 00:49] errordeveloper commented on #33729
@piersharding you are welcome!

@eparhei

That shouldn't be a problem at all, I don't think there was anything in 1.4.1 that should improve kubeadm. We are looking to publish new packages before the end of this week, if all goes well.

I'll take a look at the extra info you have provided tomorrow.

[2016-10-13 00:50] macb commented on #19634
@fluxrad I think I ran into the same quirky metrics and submitted https://github.com/skynetservices/skydns/pull/297 which I hope at least brings them somewhat closer but haven't actually looked into upgrading it in `kube-dns`.

I think it may also report double the errors which I filed an issue for https://github.com/skynetservices/skydns/issues/298.

[2016-10-13 00:50] geotro commented on #34101
Yeah I figured that out shortly after my comment.  I have everything working as expected now.  Thank you to everyone who participated in fixing this! :)

[2016-10-13 00:51] errordeveloper commented on #34101
@geotro you are welcome! We should eliminate the need for these work-around soon.

[2016-10-13 00:51] geotro commented on #34379
The "fixed" version of https://github.com/kubernetes/kubernetes/issues/34101 made everything work now

[2016-10-13 00:58] ymqytw opened #34667 "API server should"
According to [#23564comment](https://github.com/kubernetes/kubernetes/issues/23564#issuecomment-252715115), when API server gives a client (e.g kubectl) a secret object, the secret has been exposed.
This is the root cause of #23564 and #20508.

From the client-APIServer prospective, I think we should let the API server encrypt the secret. When a client requests a secret object. The API server shou

[2016-10-13 00:58] #34667 closed

[2016-10-13 00:59] ymqytw opened #34668 "API server should encrypt the secret object"
According to [#23564comment](https://github.com/kubernetes/kubernetes/issues/23564#issuecomment-252715115), when API server gives a client (e.g kubectl) a secret object, the secret has been exposed.
This is the root cause of #23564 and #20508.

From the client-APIServer prospective, I think we should let the API server encrypt the secret. When a client requests a secret object. The API server shou

[2016-10-13 01:03] erikerlandson commented on #34377
My POV on that is that elasticity and fair resource sharing are both part of a good usability story.   However people may have legitimately differing points of view on that.  IMO, it's worth investigating to see if it is feasible as part of an initial design.

[2016-10-13 01:18] k8s-merge-robot opened #34670 "kubernetes-e2e-gci-gke-multizone: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-multizone/1128/

Run so broken it didn't make JUnit output!

[2016-10-13 01:22] k8s-merge-robot opened #34671 "kubernetes-e2e-gci-gce-reboot-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-reboot-release-1.4/894/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all outbound packets for a while and ensure they function afterwards {Kubernetes e2e suite}

[code]

Issues about this test specifically: #33703

Failed: [k8s.io] Reboot [Disruptive] [Fea

[2016-10-13 01:24] dims commented on #34636
@pmorie this was already fixed i believe. https://github.com/kubernetes/kubernetes/issues/34580

[2016-10-13 01:25] #34446 closed

[2016-10-13 01:28] ymqytw commented on #34613
kubernetes/kubernetes.github.io#1441

[2016-10-13 01:28] Random-Liu opened #34672 "CRI: Should we checkpoint SandboxConfig and ContainerConfig and in dockershim?"
The philosophy of current CRI is to only pass configuration (SandboxConfig, ContainerConfig and ImageSpec) when creating sandbox, container and image, and only use the reference (id) to manage them after creation.

However, in dockershim, the config is not only needed in the creation function:
- **We may need the config in other CRI functions.** E.g. the container log is created by docker only aft

[2016-10-13 01:28] jkemp101 commented on #28174
I believe this can be closed.  `service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "True"` should do the trick.

[2016-10-13 01:29] ymqytw commented on #34592
cc: @janetkuo

[2016-10-13 01:30] BoriszhangSec commented on #34602
o，sorry sir

mysql-service.defualt.**svc**.cluster.local      Can parsed
mysql-service.defualt.cluster.local           cannot parsed

[2016-10-13 01:32] ymqytw commented on #34583
@kubernetes/sig-storage

[2016-10-13 01:36] k8s-merge-robot opened #34673 "kubernetes-e2e-aws: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-aws/5781/

Run so broken it didn't make JUnit output!

[2016-10-13 01:37] MrHohn commented on #34602
Thanks for explain this.

`mysql-service.default.cluster.local` is not a valid DNS name. Consider we set up several default search paths, you can consider using below input for DNS query:
- mysql-service(if the pod runs under `default` namespace)
- mysql-service.default
- mysql-service.default.svc

[2016-10-13 01:41] k8s-merge-robot opened #34674 "kubernetes-e2e-gci-gke-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-serial/122/

Multiple broken tests:

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}

[code]

Issues about this test specifically: #26982 #32214 #33994 #34035

Failed: [k8s.io] SchedulerPredicates [Serial] validates

[2016-10-13 01:44] ymqytw commented on #34453
@kubernetes/sig-storage

[2016-10-13 01:59] chengzhang1016 commented on #33475
@rata
After `Note that the JSON spec doesn't support octal notation, so use the value 256 for 0400 permissions. If you use yaml instead of json for the pod, you can use octal notation to specify permissions in a more natural way.`

Do you want to add more detail info for `How to set/work for yaml file`?  I mentioned in above:
1. Use a proper number in octal, will not change and it works.
2. Use a

[2016-10-13 02:06] k8s-merge-robot opened #34675 "kubernetes-verify-master: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/4927/

Run so broken it didn't make JUnit output!

[2016-10-13 02:12] k8s-merge-robot opened #34676 "[k8s.io] DisruptionController evictions: enough pods, absolute => should allow an eviction {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-aws/5782/

Failed: [k8s.io] DisruptionController evictions: enough pods, absolute => should allow an eviction {Kubernetes e2e suite}

[code]

Previous issues for this test: #32753

[2016-10-13 02:13] msplayer opened #34677 "deploy cluster fail with kubeadm"
I have 2 machine:
10.86.8.109 (master) CentOS7
10.86.8.110 (cluster node) CentOS7

I use kubeadm to install master, it it works well, "kubectl get pods --all-namespaces" get all pods are running.
When I join a node to cluster, "kubectl get nodes" is still get only one localhost node. and pod "kube-apiserver", "etcd-localhost" restart endless.

I stop and disable firewall on both node as well.
It a

[2016-10-13 02:13] smarterclayton commented on #34629
Should you be able to transition from LoadBalancer -> ClusterIP?

You definitely can't transition from headless to non-headless or vice versa.

On Wed, Oct 12, 2016 at 8:06 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-10-13 02:17] colemickens opened #34678 "Confusion regarding kube-addon-manager tags"
`v6` is tagged: https://gcr.io/v2/google_containers/kube-addon-manager-amd64/tags/list

No `v6` is tagged: https://gcr.io/v2/google_containers/kube-addon-manager/tags/list

Further, `kube-addon-manager-amd64:v6` doesn't seem to be actually used anywhere...

[2016-10-13 02:20] BoriszhangSec commented on #34602
ok,thanks :)

[2016-10-13 02:20] yarntime commented on #34519
@nikhiljindal, thank you for your help.

the output:

NAME      STATUS    AGE
zw-test   Active    3m

I1013 10:03:29.090804    2972 round_trippers.go:299] curl -k -v -XGET  -H "Accept: application/json, */*" -H "User-Agent: kubectl/v1.4.0+a16c0a7 (linux/amd64) kubernetes/a16c0a7" http://192.168.101.82:30080/api
I1013 10:03:29.183766    2972 round_trippers.go:318] GET http://192.168.101.82:30080/ap

[2016-10-13 02:27] k8s-merge-robot opened #34679 "kubernetes-e2e-gce-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/2327/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}

[code]

Issues about this test specifically: #27662 #29820 #31971 #32505 #34221

Failed: [k8s.io] SchedulerPredicates [Serial] validates r

[2016-10-13 02:33] ixdy commented on #33801
We have official v1.4.1 `kubectl` binaries available now, too.

http://dl.k8s.io/release/v1.4.1/bin/darwin/386/kubectl
http://dl.k8s.io/release/v1.4.1/bin/darwin/amd64/kubectl

[2016-10-13 02:37] ddysher commented on #30151
@bprashanth as mentioned in the other [thread](https://github.com/kubernetes/kubernetes/pull/34013), we'll take ingress claim (and possibly more on ingress).   @mqliang will update the write up, any objections?

[2016-10-13 02:57] k8s-merge-robot opened #34680 "kubernetes-e2e-gci-gce-es-logging: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-es-logging/1622/

Run so broken it didn't make JUnit output!

[2016-10-13 03:07] brendandburns commented on #34216
@vishh can you comment on heapster/influx/grafana versioning?

[2016-10-13 03:12] k8s-merge-robot opened #34682 "kubernetes-e2e-gci-gke-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-release-1.4/1253/

Run so broken it didn't make JUnit output!

[2016-10-13 03:22] thockin commented on #34629
On Wed, Oct 12, 2016 at 7:14 PM, Clayton Coleman
<notifications@github.com> wrote:

It has always been supported and tested...

ClusterIP is the only special field

[2016-10-13 03:28] MrHohn commented on #33698
As @thockin indicated, we are not sure whether all the addons are ready to be migrated from ReplicationController to Deployment or not. But as the Addon Manager will soon support rolling update for Deployments (WIP in #34513 ), I don't see why we shouldn't do it.

I'm here pinging some owners of those major addons to see if there is any concern about this migration. Please comment if you think you

[2016-10-13 03:29] spxtr commented on #34675
Looks like the timeout is a bit aggressive. https://k8s-testgrid.appspot.com/k8s#verify-master&graph-metrics=test-duration-minutes

It takes ~40 min on average but our timeout is 60 min.

[2016-10-13 03:33] dynaum commented on #17895
There is no `v2` tag too. The only tag on hub.docker is `latest`. Where I can find the Dockerfile of redis-proxy?

[2016-10-13 03:34] thockin commented on #34453
I just did a simple test, can confirm something is wonky...

On Wed, Oct 12, 2016 at 6:44 PM, Mengqi Yu <notifications@github.com> wrote:

[2016-10-13 03:34] madhusudancs commented on #34676
@k8s-merge-robot you are disappointing :P

Assigning to @mml

cc @davidopp

[2016-10-13 03:34] thockin commented on #34583
@jsafrane

On Wed, Oct 12, 2016 at 6:32 PM, Mengqi Yu <notifications@github.com> wrote:

[2016-10-13 03:40] thockin commented on #34641
i thought we had agreed that the "match nothing" wasn't a useful semantic?
 @smarterclayton, who had an issue with pointer to slice, mostly because we
have abused omitempty.

On Wed, Oct 12, 2016 at 1:03 PM, Dan Winship <notifications@github.com>
wrote:

[2016-10-13 03:45] k8s-merge-robot opened #34684 "kubernetes-e2e-gci-gce-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-release-1.4/1070/

Run so broken it didn't make JUnit output!

[2016-10-13 03:53] caseydavenport commented on #34641
Looks like the documentation still describes it supporting nil semantics: https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/v1beta1/types.go#L1166

I do vaguely remember agreeing on "match nothing" not being useful.  The Calico implementation today treats an empty "from" or "ports" slice means "don't care about ports", rather than "match no ports"

Sounds like we should just

[2016-10-13 03:59] #34417 closed

[2016-10-13 04:34] Starefossen commented on #33801
Hooray 🎉😄

[2016-10-13 04:37] bprashanth commented on #33698
Loadbalancing is no longer an "addon", the only thing that runs as an addon is the default backend and it doesn't matter if that's managed by an rc or deployment because we're not touching the default backend service, which is all the real loadbalancer really cares about.

I don't see any reason to continue using an rc for elasticsearch either. I don't know of any support customers (GKE or otherwi

[2016-10-13 04:45] #31902 closed

[2016-10-13 04:55] piosz commented on #9125
@DongyiYang how do you plan to expose the metrics?

[2016-10-13 05:04] thockin commented on #34641
Mike made a string argument that the dual semantic was logically correct,
even if not useful, but Clayton argued that pointers to slices were
abhorrent.

The problem really came down to omitempy being used to indicate
optional-ness, but that is a much larger issue.

On Wed, Oct 12, 2016 at 8:54 PM, Casey Davenport <notifications@github.com>
wrote:

[2016-10-13 05:13] piosz commented on #34216
Sorry for the confusion.

The current InfluxDB version is 0.12.

We build Grafana using this Makefile https://github.com/kubernetes/heapster/blob/master/grafana/Makefile
And the version should match the Grafana version itself.

[Here](https://github.com/kubernetes/heapster/blob/master/influxdb/RELEASES.md) you have InfluxDB release. The versioning started from 0.1 and is increasing any time the re

[2016-10-13 05:13] #34216 closed

[2016-10-13 05:34] thockin commented on #30151
Is the ingress claim acting as an IP address placeholder?  I'm not sure I
understand...

In the storage analog, there is a global resource - actual storage -
against which a claim denotes ownership.  What is the global resource?
When we spoke of ingress claims before, I was thinking about IPs, but I am
not sure what you're thinking here..

You mention validation, but we don't really do cross-objec

[2016-10-13 05:37] thockin commented on #9125
I have not looked at the code yet, sorry, but the idea seems good.  I don't
understand the proxy server part though?

On Wed, Oct 12, 2016 at 9:56 PM, Piotr Szczesniak <notifications@github.com>
wrote:

[2016-10-13 05:49] bprashanth commented on #9125
I assumed that was something like prometheus (which we'd need to funnel into heapster however https://github.com/kubernetes/kubernetes/issues/34125 plays out)

[2016-10-13 06:04] mqliang commented on #30151
understand...

IIUC, it should be a Ingress Service(backed by several Ingress Pods) act as an VIP address placeholder.

I think it should be Ingress Service. That is: cluster admin deploy all kinds of Ingress Pods: nginx, haproxy or cloud lb, and create several Ingress Service with vip. And when user create Ingress Resource, he can claim "I want a Ingress Service to list&watch this Ingress Resourc

[2016-10-13 06:15] thockin commented on #30151
I do not understand.  what you are describing is classes (analog to
StorageClass) not claims..

On Wed, Oct 12, 2016 at 11:05 PM, Liang Mingqiang
<notifications@github.com> wrote:

[2016-10-13 06:29] mqliang commented on #30151
For example:

* Cluster admin create:
    * a IngressService A(backend by several nginx pods), with a VIP 172.10.10.1
    * a IngressService B(backend by several haproxy pods), with a VIP 172.10.10.2

* a user claim "I want a nginx class IngressService to loadbalance foo.com for me" by creating a IngressClaim.
* ingress-claim-controller will bind IngressService A with the IngressClaim.
* before bi

[2016-10-13 06:39] wojtek-t commented on #34193
I confirm that this is fixed now.
@zmerlynn - thanks a lot for fixing this!

[2016-10-13 06:39] wojtek-t commented on #34446
I confirm that this is fixed now.
@zmerlynn - thanks a lot for fixing this!

[2016-10-13 07:00] vans88 commented on #34600
In fact I have built docker,go1.6(linux/mips64le in my go env),etc... to my platform, currently , I  just want to port kubernetes to mips64el---Fedora21 OS. The use-case sound like "linux/amd64: For running most of the general-purpose computing tasks, cluster addons, etc."

[2016-10-13 07:03] fejta commented on #34665
Not test-infra

[2016-10-13 07:08] k8s-merge-robot opened #34686 "kubernetes-e2e-gci-gke-reboot: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-reboot/470/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by triggering kernel panic and ensure they function upon restart {Kubernetes e2e suite}

[code]
Issues about this test specifically: #34123

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by ord

[2016-10-13 07:11] fejta commented on #34378
It doesn't (and didn't) block tests from executing, but it will cause the suite to fail after everything runs.

Janet/Robby, do either of you two care about the kubectl version command e2e tests run for either clusterlifecycle or else kubectl purposes? If not then I'd suggest just removing it.

[2016-10-13 07:12] wernight commented on #34453
Forgot to specify that in my case I'm using a GKE disk.

[2016-10-13 07:24] ddysher commented on #30151
As briefly outlined in this [comment](https://github.com/kubernetes/kubernetes/pull/34013#discussion_r83000410), i'm also not sure if ingress claim should hold vip.  I tend to agree with @mqliang , but we could be wrong as there seems to be a lot of discussions around ingress.

If we follow lessons from storage class, this really should be two things, one that actually hold the vip (IngressService

[2016-10-13 07:25] k8s-merge-robot opened #34687 "[k8s.io] Deployment deployment should support rollback when there's replica set with no revision {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-staging/72/

Failed: [k8s.io] Deployment deployment should support rollback when there's replica set with no revision {Kubernetes e2e suite}

[code]

[2016-10-13 07:25] #25605 closed

[2016-10-13 07:26] #32941 closed

[2016-10-13 07:34] fejta commented on #33867
Running out of firewalls on PR testing is https://github.com/kubernetes/kubernetes/pull/34577 (see https://github.com/kubernetes/test-infra/pull/807#issuecomment-253436568 for a long-winded explanation of the situation)

[2016-10-13 07:39] k8s-merge-robot opened #34689 "kubernetes-soak-continuous-e2e-gke-gci: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gke-gci/206/

Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for pod-Service: udp {Kubernetes e2e suite}

[code]
Issues about this test specifically: #34317

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should update

[2016-10-13 07:45] resouer commented on #34661
@Random-Liu I will add a node-e2e test here

[2016-10-13 07:45] jsafrane commented on #34583
Running Kubernetes master in a zone that has no running nodes is quite strange and I don't think this is a typical case we should support.

AWS cloud provider lists all machines in the cluster and chooses a random zone that has at least one running instance. It seems it does not distinguish master/node machines.  IMO, GCE has the same problem, it lists all zones in a region where the master runs a

[2016-10-13 07:57] k8s-merge-robot opened #34690 "kubernetes-e2e-gci-gke-updown: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-updown/2585/

Run so broken it didn't make JUnit output!

[2016-10-13 08:10] feiskyer commented on #33189
Seems #34669 has fixed network problems. Only one failed now:

[code]

[2016-10-13 08:22] miry commented on #33544
@Miyurz I think you need to check that `docker` and `kubelete` services are up and running.

[2016-10-13 08:33] feiskyer commented on #34661
I think it's ok to add this for CRI.

But there maybe problems on today's interface for rkt. If I'm not wrong, rkt does't store logs at same location with docker. cc/ @euank Is this true?

[2016-10-13 08:42] kenan435 commented on #33925
I had a look at the kubeadm init part. In the initial run of kubeadm we let kubeadm do its thing and create all the necessary assets.
Users can provide their own cert and key files in which case we would parse the values from the files and continue execution.

During each subsequent run (goal is to make it idempotent):
- **Static pod manifests**: what I did is look at the newly generated assets if

[2016-10-13 08:44] #34411 closed

[2016-10-13 08:54] Crassirostris commented on #34623
@piosz

[2016-10-13 09:05] gmarek opened #34692 "NodeController can't handle DeletedFinalStateUnknown it gets from controller framework."
cc @davidopp @wojtek-t @lavalamp @fgrzadkowski

[2016-10-13 09:18] bach1 commented on #34101
Thank you for the feedback. I'm getting closer to a working solution. With my basic Vagrant 2-node cluster (Centos) I now have weave up and running. The kube-dns service is however still not working.
Steps taken:
1) kubeadm init on master with api-advertise-addresses flag set.
2) Update flags in pod manifest and daemonsets per guidelines above.
3) Join node.
4) Install weave on master.

kube-dns i

[2016-10-13 09:18] errordeveloper commented on #34404
This makes sense to add. Are you envisioning re-joining another cluster or simplify clean-up and recycle nodes? Right now you can just throw away a node and run `kubectl delete node <name>`.

[2016-10-13 09:21] errordeveloper commented on #34101
@bach1 could you provide the output of `kubectl -n kube-system describe pod -l name=kube-dns`?

[2016-10-13 09:23] #34293 closed

[2016-10-13 09:24] errordeveloper commented on #34307
I'd like to fix https://github.com/kubernetes/kubernetes/issues/33638 ASAP, also after https://github.com/kubernetes/kubernetes/pull/34501 lands, we can allow users to pass any custom flags to any of the control plane components.

[2016-10-13 09:27] errordeveloper commented on #34379
@kking124 thanks for such a detailed report! We are planning to cut a snapshot release today, please jump on Slack and we should be able to help ;)

[2016-10-13 09:37] sandys commented on #34307
@errordeveloper does that mean that your official recommendation right now is to not touch kube-apiserver.json and instead use the flags from #33638 ?

[2016-10-13 09:37] zreigz commented on #33641
I've prepared some proposal for it:
https://github.com/zreigz/release/commit/12a8c950117674498b84097002e9f99877027cf2

[2016-10-13 09:43] rogerwelin opened #34695 "kubeadm hangs after 'waiting for the control plane' on Centos 7.2"
**Environment**:
-  VMware
- CentOS Linux release 7.2.1511 (Core)
- kernel: 3.10.0-327.36.1.el7.x86_64
- Installed packages:
  kubeadm.x86_64                       1.5.0-0.alpha.0.1534.gcf7301f

kubectl.x86_64                           1.4.0-0

kubelet.x86_64                           1.4.0-0

kubernetes-cni.x86_64               0.3.0.1-0.07a8a2

docker-engine.x86_64                1.11.2-1.el7.ce

[2016-10-13 09:50] k8s-merge-robot opened #34697 "kubernetes-e2e-gci-gke-reboot-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-reboot-release-1.4/645/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all outbound packets for a while and ensure they function afterwards {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33703

Failed: [k8s.io] Reboot [Disruptive] [Feat

[2016-10-13 09:51] cityofships opened #34698 "Cinder volume doesn't get attached to the pod"
**Kubernetes version** (use `kubectl version`):
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0+coreos.0", GitCommit:"278a1f7034bdba61cba443722647da1a8204a6fc", GitTreeState:"clean", BuildDate:"2016-09-26T20:48:37Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Cloud provider or hardware configuration**: Kolla Openstack Mitaka version with

[2016-10-13 09:54] miry commented on #34101
@errordeveloper

I thought it should be `100.64.0.0/12`.

After update api server to use specific ip address the wave could not connect to 100.64.0.1:443.

Digital Ocean has also Anchor Ip to eth0  with mask: 10.10.0.0/16:

[code]

[2016-10-13 10:03] bach1 commented on #34101
@errordeveloper sure, see below. I assume the last cni-related errors propagate before weave is installed. The local NAT-interface address is still visible in `Node: master/10.0.2.15`. Is this an issue?
[code]

[2016-10-13 10:05] ingvagabund commented on #34637
Additionally, ``test.e2e.framework.GetPauseImageName`` needs to be refactored as well. It is used throughout integration and e2e tests.

[2016-10-13 10:12] errordeveloper commented on #33638
I'm working on this.

[2016-10-13 10:13] pires commented on #33641
@zreigz I too have relied on the IP address, in the past. This seems to be a tricky one.

[2016-10-13 10:19] ingvagabund commented on #34637
The ``test.e2e.framework.NewFramework`` creates the ClientSet from the same client config as well so it should be simple replacement.

[2016-10-13 10:21] k8s-merge-robot opened #34701 "kubernetes-e2e-gci-gce-slow-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-slow-release-1.4/670/

Run so broken it didn't make JUnit output!

[2016-10-13 10:38] zreigz commented on #33641
I've just made debian binaries and tested it. It seems to work

[2016-10-13 10:45] rhuss opened #34702 "hyperkube-arm crashes on Hypriot 1.0.0"
**Kubernetes version** 1.4.1

**Environment**:
- **Cloud provider or hardware configuration**: Raspberry Pi v3
- **OS** (e.g. from /etc/os-release): Hypriot OS 1.0.0, based on Raspbian 8
- **Kernel** (e.g. `uname -a`): Linux 4.4.24-hypriotos-v7+ #1 SMP PREEMPT Tue Oct 11 17:15:58 UTC 2016 armv7l GNU/Linux
- **Install tools**:
- **Others**:

**What happened**: When running a `docker run -it gcr.io/

[2016-10-13 10:58] andyxning opened #34704 "Specify Username to exec health check commands"
I have read the docs about [health check](http://kubernetes.io/docs/user-guide/liveness/). IMO, currently the health check command is run under **root** user. Is there any way to specify the username under who the health check can be run. This may be useful in health check logging with proper permission which will allow deletion and compress under non root user.

[2016-10-13 11:02] errordeveloper commented on #34101
@miry

You a right, it's that in the current release, but it changed in master.

Yes, there is an issue with that in some DO regions... you need to pass `--service-cidr`, but not with the build you are using.

If you are online now, it'd be easy if you could find me on Slack. Thanks.

[2016-10-13 11:05] errordeveloper commented on #34101
@bach1 just as a sanity check, could you kill the DNS pod, i.e. `kubectl -n kube-system delete pod -l name=kube-dns --all`, may there is some bug on the CNI end and somehow it's not getting picked up for this pod...

[2016-10-13 11:10] errordeveloper commented on #34307
@sandys unless you really have to, it seems like patching the static pod manifest results in this weird pending situation, and it's probably a separate bug, but I'm not entierely sure we need to look into it, given we are looking to get rid of static pods all together soon with proper kubelet API.

[2016-10-13 11:15] MahipalRao commented on #34695
@rogerwelin
`kubeadm init` will download the required binaries viz etcd. When you are behind firewall kubeadm will hang. I dont know whether it is addressed correctly in kubeadm implementation. I am also facing the same issue and waiting for the resolution.

[2016-10-13 11:16] zreigz commented on #33641
cc @luxas

[2016-10-13 11:19] #34666 closed

[2016-10-13 11:24] k8s-merge-robot opened #34706 "kubernetes-kubemark-gce-scale: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/1481/

Run so broken it didn't make JUnit output!

[2016-10-13 11:30] janjilek commented on #34154
some workaround?

[2016-10-13 11:34] k8s-merge-robot opened #34708 "[k8s.io] Cluster level logging using Elasticsearch [Feature:Elasticsearch] should check that logs from containers are ingested into Elasticsearch {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-es-logging/1641/

Failed: [k8s.io] Cluster level logging using Elasticsearch [Feature:Elasticsearch] should check that logs from containers are ingested into Elasticsearch {Kubernetes e2e suite}

[code]

Previous issues for this test: #34666

[2016-10-13 11:39] wojtek-t opened #34709 "etcd v3 is returning 500s under heavy load"
I was running 4000-node kubemark today, and under heavy load it seems that etcd is returning abunch of 500s, e.g.:

[code]

So it seems that etcd is timing out some requests with 5s timeout (in the example above it was GET of a single node).

@xiang90 @hongchaodeng - given that the load was quite high, do you think it is expected?

I've seen thousands of requests that failed like this, and most (a

[2016-10-13 11:40] mfojtik opened #34710 "Jobs should have configurable limits of how many successful jobs should be preserved"
Currently, when you have ScheduledJob/CronJob that runs a Job "more often" every Job run leave a Job resource around which is not pruned. Also every job leave a Pod around without any pruning.

What I propose is to have a "limit" setting for Jobs and ScheduledJobs that will limit the number of successful jobs. If we exceed this limit, the old jobs are automatically pruned.

We also need a policy t

[2016-10-13 11:41] mfojtik commented on #34710
@soltysh FYI, the wording might be better :)

[2016-10-13 11:45] rogerwelin commented on #34695
@MahipalRao Thx, I suspected it to be some firewall issue. Do you know if there's a way to add https_proxy & http_proxy settings to kubeadm?

[2016-10-13 11:45] gluke77 commented on #34210
@amolsh it should be 'kind: Pod'. Mind the case of 'p' in 'Pod'. With the above does it still fail?

[2016-10-13 11:54] wojtek-t commented on #33259
So the first one is already fixed.

For the throttling part, if we are not passing explicitly "RateLimiter" as part client config, then these are not shared. And it seems that we are not setting "RateLimiter" explicitly anywhere...

[2016-10-13 11:54] #33259 closed

[2016-10-13 11:58] #34692 closed

[2016-10-13 12:03] gluke77 commented on #32544
@mikedanese Do you plan to get back to it? If not, I'd like to pick it up.

[2016-10-13 12:16] deads2k commented on #34508
As I recall, that was actually pitched as a benefit of not adding an `apiGroup` field to `TypeMeta`.  I'd prefer to have a separate field for separate information.  Old clients that interpret the object and drop it weren't going to understand what to do with it anyway, so I don't think that lack of roundtripping on old clients is different than current behavior for existing fields today.

[2016-10-13 12:18] k8s-merge-robot opened #34713 "[k8s.io] Cluster level logging using GCL should check that logs from containers are ingested in GCL {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce/1280/

Failed: [k8s.io] Cluster level logging using GCL should check that logs from containers are ingested in GCL {Kubernetes e2e suite}

[code]

Previous issues for this test: #34623

[2016-10-13 12:19] wojtek-t opened #34714 "Kubemark logs not stored in GCE from failed runs"
#34647 fixed the problem for passing runs, e.g.:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/1480/artifacts/?project=kubernetes-jenkins

However, it seems that we still don't have logs from failed runs:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/1482/artifacts/?project=kubernetes-

[2016-10-13 12:23] sandys commented on #34307
@errordeveloper im not advocating for the manifest fix - im just asking what should we wait for ? Will  this bug become WONTFIX and #33638 be the right way to do it ?

[2016-10-13 12:26] diegodelemos opened #34715 "Unexpected delay executing k8s Jobs (created through REST API)"
**Kubernetes version**:
Client Version: version.Info{Major:"**1**", Minor:"**3**", GitVersion:"v1.3.0", GitCommit:"283137936a498aed572ee22af6774b6fb6e9fd94", GitTreeState:"clean", BuildDate:"2016-07-01T19:26:38Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"**1**", Minor:"**3**", GitVersion:"v1.3.5", GitCommit:"b0deb2eb8f4037421077f77cb163dbb4c0a

[2016-10-13 12:28] wojtek-t commented on #34714
As an example - in this run:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/1482

looking at the test logs, I'm pretty sure that apiserver crashed. However, we have no way to understand/debug it without logs (and probably the same can happen in the future for our customers...)

[2016-10-13 12:30] k8s-merge-robot opened #34716 "kubernetes-e2e-gci-gce-slow: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-slow/695/

Run so broken it didn't make JUnit output!

[2016-10-13 12:40] k8s-merge-robot opened #34717 "[k8s.io] Deployment scaled rollout deployment should not block on annotation check {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-multizone/1163/

Failed: [k8s.io] Deployment scaled rollout deployment should not block on annotation check {Kubernetes e2e suite}

[code]

Previous issues for this test: #30100 #31810 #34331

[2016-10-13 12:54] rapenchukd commented on #16508
@errordeveloper Not so much. we want to try to avoid running Docker (or any container engine, really) where it isn't absolutely needed. We don't schedule any workloads on our masters- so running binaries as native daemons via systemd is ideal.

@thockin it is very dependent on the workload, that's why (I said it may be different in this case). I just fear that as has been stated that it is impossi

[2016-10-13 12:55] vans88 commented on #34600
You should run make WHAT=cmd/kube-apiserver,cmd/kubelet,etc...
you mean that before building kubernetes, I should build kube-apiserver,etc,,, manualy. if "make release" doesn't suit for me, if I should take cross-compile in considertaion.

[2016-10-13 13:10] errordeveloper commented on #34307
@sandys I've just opened #34719, hope we might be able to merge it and cut a snapshot release later today ;)

[2016-10-13 13:11] errordeveloper commented on #34307
@sandys yes, this issues as it stands won't be fixed, as user's problem is only about setting the port.

[2016-10-13 13:22] bach1 commented on #34101
@errordeveloper Hmm no luck. After deletion:
[code]

[2016-10-13 13:26] #34391 closed

[2016-10-13 13:31] a-robinson commented on #33698
There is an ES e2e test - https://github.com/kubernetes/kubernetes/blob/master/test/e2e/cluster_logging_es.go

I had been assuming fluentd would switch to be a daemonset, but I'm pretty out of it these days. Let @piosz decide fluentd's fate.

[2016-10-13 13:32] piosz commented on #34708
Fixed in #34699

[2016-10-13 13:32] #34708 closed

[2016-10-13 13:39] samnissen opened #34720 "CentOS 7 hangs at "created API client, waiting for the control plane to become ready""
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
Possibly the same issue as #33729 -- different OS.

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**:
  p

[2016-10-13 13:44] danwinship commented on #34641
Clayton initially argued that pointers to slices where abhorrent, but eventually was convinced and updated the protobufgen code to deal with it.

I agree that "match nothing" isn't useful, but it does seem more logically consistent... I'm fine with changing it though.

[2016-10-13 13:54] sampeka opened #34722 "fatal error: unexpected signal during runtime execution"
**Kubernetes version**
`1.4.0`

**Environment**:
- Google Cloud Container engine

**What happened**:
I have a cluster running a few services on it, I just created a new service + deployment which have failed to deploy. The state of the underlying pod is: `CrashLoopBackOff`.

Here is the error when running `kubectl describe ...`:

[code]

**Anything else do we need to know**:
I'm also getting anoth

[2016-10-13 14:01] hekike opened #34723 "Ingress doesn't add X-Forwarded-Host header"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

`x-forwarded-host`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2016-10-13 14:07] dims commented on #33375
Once https://github.com/kubernetes/kubernetes/pull/33966 merges, next step is to create an identity for the controller-manager. We should also setup the `--service-account-private-key-file` for controller-manager as well.

One option is to use `cfssl` to create a `system:masters` identity via the `--kubeconfig` option to setup the client that is used to talk to the api server.

(cc @deads2k)

[2016-10-13 14:07] kking124 commented on #34379
It looks like there's something wrong with the kube-dns container - it keeps getting killed for being unhealthy.

[code]

[2016-10-13 14:09] xiang90 commented on #34709
@wojtek-t What is your setup looks like? etcd 3.0x should be able to handle 10,000 concurrent small read requests per second per node easily (avg latency <20ms). I think there might be a simple bug or misconfiguration somewhere?

You can expect etcd 3.1 to handle 40,000s.

[2016-10-13 14:10] xiang90 commented on #34709
We (Hongchao and I) are working on client side RPC metrics. So we can know the exact load being sent to etcd. But it might take a while for us since we have something higher priority at hand for the rest of the week.

[2016-10-13 14:15] mikebryant commented on #28138
Would this just be a pod api?
If the intent is to persist the pod definitions to the apiserver when it becomes available, and for the pods to be adopted by a higher level Deployment or Daemonset - Do we need a ConfigMap and Secret api as well?
i.e. make the pod spec we're pushing in match the one that might come from the Daemonset?

(I'm thinking in terms of the apiserver manifests generated by bo

[2016-10-13 14:16] AdoHe commented on #34723
@thockin ptal.

[2016-10-13 14:17] wojtek-t commented on #34709
I'm using 3.0.12.

What do you mean by "small read requests"? Most (all) of them are gets for a single object, by e.g. Node is probably more than 1k of data.

[2016-10-13 14:18] wojtek-t commented on #34709
And we have single etcd instance.

[2016-10-13 14:20] xiang90 commented on #34709
@wojtek-t Small in terms of both key size and number of keys. We test 256bytes keys (https://github.com/coreos/etcd/blob/master/Documentation/op-guide/performance.md). for 1kb, i would expect that etcd can handle > 5k req/second at least on a GCE 8 Cores machine.

[2016-10-13 14:20] xiang90 commented on #34709
What is the scalability goal for 1.5 by the way? Sorry I have been missing scale meeting recently.

[2016-10-13 14:21] wojtek-t commented on #34709
5000-nodes, 30pods/node

[2016-10-13 14:23] liggitt commented on #28138
I'm really unsure about a partial API that operates disconnected from the "real" API, and attempts to move state to a real API once it is available. For example:
* references in a pod spec to other resources wouldn't be resolveable
* uids and resource versions would change when moving a pod from the "local" API to the "real" API
* names could conflict with existing real resources
* clients of the

[2016-10-13 14:23] xiang90 commented on #34709
@wojtek-t Can you give the etcd log during the period of the test failure? etcd would complain something if it is under heavy load.

[2016-10-13 14:25] DongyiYang commented on #9125
Proxy server is used to expose the metrics we collected to a port. It definitely can be merged into heapster later. How does Connection counter and flow counter look? I am thinking of creating PR in smaller pieces once it’s confirmed good to add

[2016-10-13 14:27] wojtek-t commented on #34709
Unfortunately, due to our problems with testing infra, I don't have it... I can try to repro it tomorrow.

[2016-10-13 14:29] xiang90 commented on #34709
@wojtek-t That would be great thanks. Is there a reason that we want to test 1 node etcd cluster? I understand GKE probably wants that, but for general production use case we might want to do multiple nodes testing? Also for k8s, it is actually read heavy. So multiple nodes can help with performance.

/cc @timothysc RH cares about multiple nodes too?

[2016-10-13 14:37] wojtek-t commented on #34709
Since node etcd is the default setup, so we care about it.

[2016-10-13 14:38] wojtek-t commented on #34709
@xiang90 - do you have any other suggestions why we can see those 500s ?

[2016-10-13 14:39] xiang90 commented on #34709
@wojtek-t first we should get the log from etcd. then we should add some metrics (hongchao and i will take care of that).

[2016-10-13 14:52] mtaufen opened #34726 "TODO: Remove the opt-in for failing when swap is enabled."
We need to eventually remove the opt-in for the behavior where Kubelet fails with swap enabled. Swap enabled should be an error by default.

This can't be done immediately because we need to maintain legacy behavior.

TODO introduced in: https://github.com/kubernetes/kubernetes/issues/34463

[2016-10-13 15:04] rata commented on #33475
@chengzhang1016 not follow you. I think how yaml work is out of the scope of that guide. Just some notes to make it clear seems okay, but a whole explanation I don't think it should go there.

Also, note that "2." use "an invalid octal" doesn't make sense. Unless the yaml parser is doing it wrong, the it it parses it is correct and you are not using an invalid octal.

In fact, let see the spec and

[2016-10-13 15:06] pires commented on #28138
I see it as an alternative or even replacement for static pod manifests. As @errordeveloper pointeed out:

I'm not sure about pushing said pods to an API server when one is available.

However, worry not! @aaronlevy and I will be putting out a design proposal before any implementation. We will reference said proposal as soon as we have something worth showing, which should happen next week.

[2016-10-13 15:11] malaskim commented on #34702
Hi everyone,

I have exactly the same issue with Raspbian Jessie on a Raspberry Pi 3. (same stacktrace)
hyperkube-arm:v1.3.2 and hyperkube-arm:v1.3.6 also work flawless.

Malaskim

[2016-10-13 15:14] deads2k opened #34728 "Failure to create self-client in apiserver startup should be fatal"
Right now its just an error, but it will cause admission failures later on.  This is currently the case because `test-integration` doesn't run a "normal" start flow for the integration tests.  We should rewire test-integration to run a "normal" api-server.

@smarterclayton You did a lot infrastructure set-up in origin that allowed me to wire it up.  Any chance of similar help in kube?

[2016-10-13 15:20] piosz commented on #34125
@bprashanth the way you mentioned is a deprecated alpha feature, which wiil be removed in 1.5(?). We are working on the Monitoring v2 which will allow gather such metrics easily. You can take a look into [the proposal](https://docs.google.com/document/d/1z7R44MUz_5gRLwsVH0S9rOy8W5naM9XE5NrbeGIqO2k/edit) or reach me or @fgrzadkowski if you have any questions.

[2016-10-13 15:23] timothysc commented on #34709
so I'm going to nack on the (5000-nodes, 30pods/node)

I'm pretty sure the current tests are flawed, we can chat about it more today.  Right now we need to be testing (N) services w/load.

[2016-10-13 15:24] wojtek-t commented on #34714
Actually, when I'm thinking about it now, the I stopped the previous run manually. So maybe it wasn't apiserver crash, but just the whole VM disappeared (it used to happen in the past after manually stopping the previous run).

So I will close it now, and reopen if we face this again in the future (and I will be sure it's not disappeared VM).

[2016-10-13 15:24] #34714 closed

[2016-10-13 15:29] diegodelemos commented on #34715
I think that it is definitely because of the volumes I am mounting which  are of type `hostPath`.  After checking the minikube logs I got a bunch of messages like this:
[code]
I am looking forward to hearing your confirmation about this.

[2016-10-13 15:35] bpulito commented on #23864
+1. We also need support for a large port range to enable a media processing engine running in a Docker container that is part of a Pod. As others have mentioned, this is needed to process (RTP) media streams. The SIP protocol is limited to 5060 and 5061 so we don't need it for the SIP signaling. The issue is with the standard RTP port range which is 16384-32767. Its important to understand that t

[2016-10-13 15:57] wojtek-t commented on #34709
@timothysc - I think I don't uderstand what you wanted to say.
Obviously I agree that our tests are not very sophisticated, but we don't have capacity to improve them.

About 5000-nodes - this obviously doesn't work now, but we are targetting 1.5 to support it.

[2016-10-13 16:07] therc opened #34731 "ExternalName service support in kubectl"
There's no way to create ExternalName services from the command line without using a YAML/JSON file. (See https://github.com/kubernetes/features/issues/33 for more details about the feature)

`kubectl expose` doesn't feel exactly right, because the whole point of ExternalName (CNAME) services is that there are no pods to be exposed and they are entirely a kube-dns artifact.

If `expose` is the way

[2016-10-13 16:12] ncdc opened #34732 "Server component commands and hyperkube should be using cobra"
As best I can tell, our server component commands only use cobra as a means of generating docs and man pages. We should refactor our commands so that they use cobra the right way (i.e., they have `Run` functions that actually do things). As a result, we can make hyperkube leaner by reusing the cobra commands once they're refactored correctly.

Server component command tasks:
- [x] federation-apise

[2016-10-13 16:21] jayunit100 opened #34735 "TestContext parameters outside of It lambdas are unset."
Problem:

If we declare a test

[code]

Solution:
- add an init to test_context.go?
- add inits somewhere else
- make TestContext a function (not a var) and let it lazy init itself
- any other ideas :) ?

Should be simple to solve in a few minutes trying things/hacking

@kubernetes/sig-testing

[2016-10-13 16:27] k8s-merge-robot opened #34736 "kubernetes-soak-continuous-e2e-gci-gce-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gci-gce-1.4/224/

Multiple broken tests:

Failed: [k8s.io] Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster. {Kubernetes e2e suite}

[code]
Issues about this test specifically: #29647

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resour

[2016-10-13 16:28] MarkThink commented on #22770
I also encountered a similar problem, weave network Kai not.

[code]

[code]

[2016-10-13 16:38] bprashanth commented on #34125
Great, so should we develop to the new api if we want to ship better metrics for system components in 1.5 (i.e when's the new api going to alpha)?

[2016-10-13 16:47] jeremywadsack commented on #32929
@jingxu97 We had another deadlock issue this morning on nodes. We're now running 1.4 and I think this may be a different issue (than the drives didn't mount read-only) but might be related to your fix. I think this is related to the "timeouts that never resolve" issue that I also mentioned.

One of our nodes marked all containers for eviction. The containers all ended up hanging in the `Terminatin

[2016-10-13 16:53] ncdc commented on #33756
As I commented in #34256, this is a docker bug that needs to be resolved.

[2016-10-13 16:57] spxtr commented on #34675
Ah, wait. It's hanging at a build step.
[code]

[2016-10-13 16:59] spxtr commented on #34706
#34712

[2016-10-13 17:00] bprashanth opened #34737 "kops travis/jenkis builder"
some people asked for this, @kubernetes/sig-testing thoughts?

[2016-10-13 17:09] ncdc commented on #32215
kube-proxy refactoring POC PR: #34727

[2016-10-13 17:11] ncdc commented on #34731
How about something like `kubectl create service foo --external-name=bar.com`?

[2016-10-13 17:11] ncdc commented on #34731
cc @fabianofranz @derekwaynecarr @smarterclayton

[2016-10-13 17:14] jsravn commented on #26673
I just ran into this as well, on 1.3.7. I noticed controller-manager pegs at 100% cpu and spams the already mentioned message. I'm not sure yet what triggered it.

[2016-10-13 17:15] ncdc commented on #34640
cc @deads2k

[2016-10-13 17:17] jsravn commented on #29735
@kargakis Are you sure the fix is in 1.3.7? I just hit this problem in 1.3.7, and it kills the master node as it pegs a cpu at 100% in this error loop.

[2016-10-13 17:20] ncdc commented on #34560
Is `/var/log/apiserver` configured as a volume? If not, can you exec into your kube-apiserver container and see if the audit log was created in its file system?

[2016-10-13 17:24] Random-Liu commented on #34661
@resouer Thanks! :)

[2016-10-13 17:28] wojtek-t commented on #34706
the first run was experiment with 4000-ndoe kubemark and it wasn't unexpected that it failed;
in the second run, I think master VM disappeared as a reason of manually cancelling the previous one
so these are all kind of "working as expected"

However, I will keep that open, since we will be doing more experiments in the upcoming days, and those failures will probably appear again.

[2016-10-13 17:31] smarterclayton commented on #34731
I think create service is a good approach.

[2016-10-13 17:31] smarterclayton commented on #34732
@kubernetes/kubectl

[2016-10-13 17:34] ixdy commented on #34737
Can you elaborate on what you're requesting?

[2016-10-13 17:35] ixdy commented on #34675
cc @jbeda

[2016-10-13 17:38] pmorie opened #34738 "Service controller lacks integration tests"
The service controller has no integration test coverage, which is bad for obvious reasons.

[2016-10-13 17:39] pmorie commented on #34738
cc @kubernetes/sig-network

[2016-10-13 17:41] matthiasr opened #34739 "File permissions in release tarball have changed"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "tarball", "permissions"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose o

[2016-10-13 17:43] ixdy commented on #34735
can you explain why you're trying to `Logf` inside the `KubeDescribe` instead of a `BeforeEach`/`AfterEach`/`It`?

[2016-10-13 17:44] punitag commented on #25554
+1. new annotation is fine. we want to tag the rollout with the git commit so as to make it easier to rollback if we have to

[2016-10-13 17:45] wojtek-t commented on #34709
@xiang90 - so I already have a repro.

Let me put some logs (first from apiserver)
[code]

I checked first 50 and they all are the reason of the same:
[code]

To show how important this issue is:
[code]

And now logs from etcd from roughly when it started (I bit before and a bit after):
[code]

I don't see anything suspicious in those logs though.

@xiang90 - any thoughts?

[2016-10-13 17:48] xiang90 commented on #34709
@wojtek-t

2016-10-13 15:37:34.556269 W | etcdserver: apply entries took too long [540.722837ms for 2 entries]

This is crazy. We need to figure out why. Or if we have 10 requests pending, the wait time would be 5 seconds. Then a lot of stuff can timeout.

[2016-10-13 17:48] aaronlevy commented on #28138
I can give some initial thoughts, but this is a bit speculative at this stage. This is assuming that pods created via the kubelet-pod-api are persisted once an api-server is available (similar in concept to persisting mirror pods, but without the "on-disk" static pod backing it).

A kubelet-pod-api bootstrap scenario I envision (assuming external etcd for now, but have some ideas there as well):

[2016-10-13 17:49] xiang90 commented on #34709
@wojtek-t Can you get mertcis from http(s)://etcd:2379/metrics?

[2016-10-13 17:54] yannchristensen commented on #24829
I hit this issue after our kubernetes certs were rotated. Deleting the service-account-token for kube-system and deleting the kube-dns pod fixed the issue. Thanks so much for the detailed troubleshooting steps here, much appreciated.

[2016-10-13 17:57] aaronlevy commented on #28138
@liggitt:

Per the above steps, I believe we can still bootstrap a control plane without needing external resources (will require some replacement / coordination points). And this is already true of static pods.

I'm not familiar enough with the mechanics right now to comment directly -- but very similar concerns were brought up with static pods. One such discussion: https://github.com/kubernetes/

[2016-10-13 17:58] mml commented on #34221
The serial test failing is now blocking @saad-ali in his attempt to cut a 1.5 alpha.

[2016-10-13 17:59] mml commented on #34221
Related to this is "[k8s.io] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance]"

[2016-10-13 18:02] mml commented on #31935
@dchen1107 this is caausing e2e-gce-serial to fail which is blocking @saad-ali in his attempt to cut a 1.5 alpha.

[2016-10-13 18:04] wojtek-t commented on #34709
[code]

[2016-10-13 18:05] mml commented on #31935
These look to be dups: #33329 #33304

In addition, the versions for 35 and 100 pods per node are also failing, but I expect it's all the same cause: #33331 #33307 #33306 #33330 #33308 #33305 #32214

[2016-10-13 18:08] howlym commented on #23920
I have the same issue with kube-registry-proxy on 1.4 bare metal.

[2016-10-13 18:09] bprashanth commented on #34738
I think lots of controllers lack that (assuming you mean test/integration), there should be quite a few e2es in e2e/service.go (but still in sufficient, give how much trouble that thing's given us in the past)

[2016-10-13 18:12] timstclair commented on #32837
I don't think it would be going backwards? The pod would never enter a Running state, since the container requesting apparmor wouldn't start. I meant keep containers that ask for AppArmor profiles in a waiting state if it can't be enforced, rather than rejecting the pod outright.

[2016-10-13 18:12] rmmh commented on #34735
Tests shouldn't have any side effects (I/O or networking) outside of their
It functions. All the other code runs every time, regardless of whether
ginkgo is set to run (with focus) or ignore (with skip) a particular test.

Log statements from skipped tests would be confusing.

On Oct 13, 2016 10:44, "Jeff Grafton" <notifications@github.com> wrote:

[2016-10-13 18:13] bprashanth commented on #34737
Not 100% sure, I'll let @justinsb / @chrislovecnm elaborate

[2016-10-13 18:20] fabianofranz commented on #34731
SGTM

[2016-10-13 18:24] pmorie commented on #34738
@bprashanth yeah, it's not really sufficient.  I am working on an issue where the service controller exhausts the AWS quota due to repeat calls to `DescribeLoadBalancer` in the AWS API.  E2E isn't going to catch that, I don't think.  I want an integration test to verify that we don't make more cloud provider calls than we have to.

[2016-10-13 18:27] thockin commented on #9125
kube-proxy already hosts an HTTP server - why do you need a separate proxy server?

[2016-10-13 18:27] bprashanth commented on #34738
Probably the first step would be to write some fakes of the cloudprovider libs, don't think we already have that

[2016-10-13 18:28] bprashanth commented on #34738
Also fyi i think we put in some rudimentary backoff to prevent qps exhaustion on asw, @justinsb might remember

[2016-10-13 18:30] ixdy commented on #34680
#34699

[2016-10-13 18:30] #34680 closed

[2016-10-13 18:31] barthoda opened #34742 "Endpoint names should be unique to a namespace, not unique globally"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kubernetes endpoint namespace unique name collision

---

**Is this a BUG REPORT or F

[2016-10-13 18:31] mbohlool opened #34743 "Represent model (and verb) examples in OpenAPI"
We need a way to represent operation examples in OpenAPI to generate better documentation (#31266). My first though is to have special tags in type comment:

// Type is ....
// @example(post):
// {
//   id : "identifier",
//   ...
// }
// @endexample
// @example(put):
// {
//   id : "identifier",
//   ...
// }
// @endexample
...
Furthermore, we need to represent this as an extension in openapi. My

[2016-10-13 18:31] thockin commented on #9125
The fact that the code builds a standalone binary makes it nice for testing and development, but I don't think we want this to be a distinct thing do we?  More specifically, we do some amount of conntrack for things like traffic out of your GCP project, but most of it comes from kube-proxy.  So this feels like it should be coupled with kube-proxy.  Maybe in the same pod, or maybe linked in.  Igues

[2016-10-13 18:33] ixdy commented on #34690
Timeout. #31776

[2016-10-13 18:33] #34690 closed

[2016-10-13 18:34] ixdy commented on #34716
#33827

[2016-10-13 18:34] #34716 closed

[2016-10-13 18:36] sjug commented on #34735
[code]

@iakshay
Even when logging using `It` the TextContext isn't initialized. It would have to be done inside of the `It`.

[2016-10-13 18:36] mbohlool commented on #34743
@lavalamp @pwittrock

[2016-10-13 18:36] ajanthan commented on #30507
@piosz  I would like to take this.

[2016-10-13 18:38] thockin commented on #34723
Google's cloud load balancer does not set that header.

https://cloud.google.com/compute/docs/load-balancing/http/

That said, I think you can rely on the original `Host` header - that should be unchanged.

[2016-10-13 18:38] #34723 closed

[2016-10-13 18:40] thockin commented on #34641
let me run a straw poll of other folks whose opinions might count.

On Thu, Oct 13, 2016 at 6:45 AM, Dan Winship <notifications@github.com>
wrote:

[2016-10-13 18:40] spxtr commented on #34713
Should this be fixed? @Crassirostris

[2016-10-13 18:41] bprashanth commented on #34154
Maybe we have 2 issues, proxy doesn't work as intended, and grafana still doesn't work. @kubernetes/sig-api-machinery  (who's responsible for the proxy?)

[2016-10-13 18:42] peiwenhu commented on #31222
I noticed this as well.
Was previously using plain replication controller and ingress. Then deleted the RC and made a Deployment out of the same RC yaml file.
Then '/' got hit instead of custom livenessprobe

I don't specify any http header for the probe.

[2016-10-13 18:43] jayunit100 commented on #34735
- this is  a matter of making impossible for logging_soak to access parameters that are unset.
- WLOG (and more  importantly) its about making it impossible for *any* e2e to access unset variables.

[2016-10-13 18:44] axsuul commented on #34307
@errordeveloper how would we change an existing kubeadm cluster's API ports with the flags?

[2016-10-13 18:45] bprashanth commented on #33698
Yeah i mean I don't think `[Feature:Elasticsearch]` runs anywhere (@freehan or does it?)

[2016-10-13 18:46] barthoda commented on #34742
I actually managed to make this success using `kubectl --namepsace=app-2 create -f app-2/origin-endpoint.json`.

It seems that the declaration of `"namespace": "app-2"` in the metadata of the json file did not work.

[2016-10-13 18:46] #34742 closed

[2016-10-13 18:46] bprashanth commented on #31222
You can't modify the probe in gce, it'll get reverterd. You also can't use a liveness probe, it needs to be a *readiness* probe. See comments and examples posted above.

[2016-10-13 18:47] jayunit100 commented on #34735
@rmmh I agree,  but this is not about  i/o, it is about  configuration.
- but some (And increasingly-  more) tests are inherently defined via parameterization.    A declarative test should precisely report exactly the parameters is used.
- right now people either hack the code or make for loops to cover every possible case (100 pods, 1000 pods, etc) and then use filters to remove the cases they do

[2016-10-13 18:48] thockin commented on #34641
Brian agrees that pointer-to-slice is probably the most realistic near-term
solution, assuming it actually works now (haven't tried).  The questions
are:

a) This is a breaking change for clients and implementations.  How do we
manage that?

b) Is the additional semantic worth the cost of (a).

c) Will other parts of the API want to follow suit?

The alternative is that we fix the docs wrt non-spe

[2016-10-13 18:51] DongyiYang commented on #9125
Yes, I thought about it. The current existing HTTP server in proxy is basically the health check server. The server code I added here is for retrieving connection and flow metrics and serving users' request for those metrics.

[2016-10-13 18:54] pwittrock opened #34746 "Changes to Kubectl behavior Release Notes"

[2016-10-13 18:55] mml opened #34747 "gke kube-down error blows up whole test run :'("
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/17639 shows us trying to kube-down at the start and then blowing up when the cluster is not there.  No bueno.

[code]

[2016-10-13 18:59] thockin commented on #16508
Just to be very clear, at least in my mind, running `hyperkube apiserver
--foo --bar` is *exactly* identical to running `apiserver --foo --bar`,
except that `main()` has a bit of extra logic to peek at the first arg and
jump to a different function.  We would have to handle `init()` functions
and flags and logging such that there's no real impact to being a megabin.

Practically, it's not no-cost.

[2016-10-13 19:02] mml commented on #34747
This looks due to #34577

[2016-10-13 19:04] Crassirostris commented on #34713
@spxtr  Didn't see this issue, thanks for mentioning this

Inversigating

[2016-10-13 19:18] danwinship commented on #34641
It doesn't quite; the protobuf generation works (as long as you use a dummy alias type as described in https://github.com/kubernetes/kubernetes/issues/25835#issuecomment-225464922) but the generated DeepCopy methods don't compile (https://github.com/kubernetes/gengo/issues/11).

And then because it doesn't compile I didn't manage to test that everything works after that... maybe "omitempty" ends u

[2016-10-13 19:20] dgoodwin commented on #34324
Yes haven't been able to start but I'm hoping to start designing richer token management.

[2016-10-13 19:22] ixdy commented on #34747
cc @spxtr (test-infra oncall)

That's not the failure. This is:
[code]

I'm pretty sure we shouldn't be failing if the pre-setup teardown fails, but I might be mis-remembering the code.

In any case, if we just delete those leaked firewall rules, we should be fine.

[2016-10-13 19:25] luxas commented on #16508
Re the init()'s, I'm working on reducing them here: #31432

[2016-10-13 19:27] ixdy commented on #34747
[code]

[2016-10-13 19:28] ixdy commented on #34747
Note that some of these rules are for the `jenkins-e2e` network, and some are for `e2e-gke-ci`. We have a lot of leaked rules. I'm sure other projects are similarly broken.

cc @kubernetes/test-infra-maintainers

[2016-10-13 19:29] czerwina commented on #33729
To get 1.4.1 to install use

kubeadm init --use-kubernetes-version v1.4.1

This sorted out the hang issues. Just use kubeadm join as per the link created at the end of the process.

[2016-10-13 19:34] luxas commented on #34732
Also relevant here: #31432

[2016-10-13 19:41] k8s-merge-robot opened #34751 "kubernetes-e2e-gci-gke-serial-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-serial-release-1.4/183/

Multiple broken tests:

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 35 pods per node {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28220 #32942

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular r

[2016-10-13 20:03] wojtek-t commented on #34709
@xiang90 confirmed offline that this indeed is etcd issue. They will work on it

[2016-10-13 20:04] ixdy commented on #34747
`k8s-jkns-e2e-gke-ci` has leaked nodes, too:
* gke-jenkins-e2e-86f8f155-node-mqua, created 2016-03-02T14:32:42.404-08:00
* gke-jenkins-e2e-f1c9c16d-node-24tq, created 2016-02-29T19:01:17.484-08:00

Deleting them both.

[2016-10-13 20:06] k8s-merge-robot opened #34755 "ListResources Before {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/5237/

Failed: ListResources Before {e2e.go}

[code]

[2016-10-13 20:08] ixdy commented on #34747
`k8s-jkns-e2e-gke-slow` also has leaked firewall rules; deleting them too. No leaked VMs, at least.

[code]

[2016-10-13 20:09] spxtr commented on #34713
No problem. If you don't think you can make a fix in the next few hours feel free to add the `[Flaky]` label to the test. It will switch out of a merge-blocking suite, and you can remove the label once you've fixed it.

[2016-10-13 20:11] chrislovecnm commented on #34737
@ixdy we are not able to enable travisci builds on github.com/kubernetes/kops ~ we do not see the admin tab, and cannot configure webhooks for the project.  Can someone assist or grant us the perms to do that.

Thanks

p.s. on slack please ping me if you have questions

[2016-10-13 20:12] saad-ali commented on #34701
The flaky test `[k8s.io] Pod Disks should schedule a pod w/two RW PDs both mounted to one container, write to PD, verify contents, delete pod, recreate pod, verify contents, and repeat in rapid succession [Slow] 2m10s` is tracked by https://github.com/kubernetes/kubernetes/issues/28081 and the root cause is being tracked by issue #34256

Not sure about why it says "Run so broken it didn't make JUn

[2016-10-13 20:15] ixdy commented on #34737
@spxtr looks like you have the owner bit on the kubernetes org. Can you help?

[2016-10-13 20:16] chrislovecnm commented on #34737
@ixdy I am going to move this issue over to kops ... kinda should not be here :)

[2016-10-13 20:19] smarterclayton commented on #34641
I did not give in to pointer to slice.  I implemented the "correct" way
which is a type alias which has a specific serialization in protobuf that
distinguishes between empty and nil.  Protobuf can't handle pointer to
slice, so pointer to slice wasn't a win.

The way to fix this is to crib from pkg/apis/authorization/v1beta1:

// ExtraValue masks the value so protobuf can generate
// +protobuf.null

[2016-10-13 20:20] chrislovecnm commented on #34737
@ixdy / @bprashanth I moved this over to the kops repo.  Does someone want to put the close button?

[2016-10-13 20:21] k8s-merge-robot opened #34757 "kubernetes-e2e-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/25055/

Run so broken it didn't make JUnit output!

[2016-10-13 20:21] eparhei commented on #33729
@czerwina  sorry! this command (--use-kubernetes-version v1.4.1 ) didn't change anything on my system, still blocks waiting for the control plane to become ready :(

[2016-10-13 20:21] smarterclayton commented on #34641
And example with nullable optional struct slice:

https://github.com/openshift/origin/blob/e76e0e869f9eca443dff5a265fc194475f32a121/pkg/deploy/api/v1/types.go#L260

On Thu, Oct 13, 2016 at 4:19 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-10-13 20:23] timstclair commented on #32467
Fixed by https://github.com/kubernetes/kubernetes/pull/34565

[2016-10-13 20:23] #34737 closed

[2016-10-13 20:28] ixdy commented on #34747
I think both gke and gke-slow are making progress now. gke-slow had some leaked routes too.

[2016-10-13 20:28] lavalamp commented on #32837
er, sorry-- I guess we don't have an official "scheduled" state but once
the pod has been assigned a node I'm pretty sure apiserver will not
currently let you unassign it from that node.

On Thu, Oct 13, 2016 at 11:12 AM, Tim St. Clair <notifications@github.com>
wrote:

[2016-10-13 20:29] #34747 closed

[2016-10-13 20:31] thockin commented on #34641
The difference is that you don't have `omitempty` which, as per documented
convention DOES indicate optionalness

On Thu, Oct 13, 2016 at 1:22 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-10-13 20:31] gg7 commented on #22586
Seeing this as well. Running Kubernetes 1.4.0, bare-metal Ubuntu 16.04 (x86_64), Docker 1.11.2 (Storage Driver: aufs, Backing Filesystem: zfs).

[2016-10-13 20:35] timothysc commented on #34709
/cc @smarterclayton

[2016-10-13 20:38] xiang90 commented on #34709
@wojtek-t To be more clear, this is an issue with etcd+etcd-client+k8s etcd code. I am not exactly sure where is the problem. So it might not be an etcd server (coreos.com/etcd) problem.

[2016-10-13 20:41] #34636 closed

[2016-10-13 20:41] luxas commented on #31937
Anyone working on this?
We should do it now so it can make v1.5

@yujuhong @freehan @thockin @justinsb

[2016-10-13 20:42] foxish commented on #31260
@grodrigues3 handing off to you. https://github.com/kubernetes/contrib/pull/1737 is now merged.

[2016-10-13 20:50] stensonb commented on #33192
I'm seeing the same.  CoreOS 1185.1.0, docker 1.11.2, Kube 1.3.5.

After restarting kubelet, I've noticed that the `http://<node>:4194/api/v2.0/stats/` URL returns a large json blob including values for cpu/memory usage for each container.

However, after cAdvisor stops working as expected, cpu/memory usage metrics are returned as all zeros (0) for each container.

Is this related to default CoreO

[2016-10-13 21:00] pwittrock commented on #25382
Some state in #34731

[2016-10-13 21:01] pwittrock commented on #34715
@saad-ali @dchen1107 Any ideas?

[2016-10-13 21:02] wojtek-t commented on #34709
By etcd, I meanth etcd server + etcd client here. But sure, thanks for clarification.

[2016-10-13 21:02] pwittrock commented on #34704
@yujuhong Do you know anything about this?

[2016-10-13 21:03] thockin commented on #34641
I am lost, I am not seeing the full context below.  Are we talking again
about the difference between a missing field vs a field containing an empty
list?  I presume we are talking about every place in the JSON where this
can occur.  We thought long and hard about each one of those, and did not
come up with the same answer on all of them.  Are you saying the current
implementation does not represe

[2016-10-13 21:04] pwittrock commented on #34592
Thanks

[2016-10-13 21:05] janetkuo commented on #34592
Cool thanks

[2016-10-13 21:06] timothysc commented on #25319
Version moved per sig+community discussion re: alpha-beta transitioning.

[2016-10-13 21:07] pwittrock commented on #34466
1 & 2 working as intended.  There is also an annotation applied that lists what the overlapping issue is.

[2016-10-13 21:08] pwittrock commented on #34621
@foxish @bprashanth  This either of you?

[2016-10-13 21:13] danwinship commented on #34641
Yes, docs/proposals/network-policy.md claims that NetworkPolicyIngressRule.Ports and NetworkPolicyIngressRule.From are pointers to slices, but the actual structs in pkg/apis/extensions/ have just slices, so they can't represent "not set" and "set but empty" distinctly.

[2016-10-13 21:15] pwittrock commented on #34460
@sauercrowd This should probably be moved out of the docs repo and somewhere else

[2016-10-13 21:17] czerwina commented on #33729
@eparhei is docker working correctly on your system? I had to add the following to the boot cmdline for docker to start after which all the images downloaded and started

 cgroup_enable=memory cgroup_enable=cpustats

[2016-10-13 21:20] pwittrock commented on #34445
@saad-ali @yujuhong This either of you?

[2016-10-13 21:23] pwittrock commented on #34423
@mikedanese Does this have anything to do with you?

[2016-10-13 21:24] jingxu97 commented on #34466
The issue is when deleting the deployment, it returns with error  timed out waiting for the condition. And when checking the status, the api object is still in apiserver. The it shows the desired replica number is 0, but actual replica number is 3, which is wrong. Tried to delete multiple times, it returns the same thing.

[2016-10-13 21:25] pwittrock commented on #34067
@ZhangBanger Why not use `make release`?

[2016-10-13 21:27] kargakis commented on #34466
Can you post the yamls with both deployments?

[2016-10-13 21:28] pires commented on #34324
@dgoodwin if you're good with it, I can implement this simple functionality and then when token mgmt becomes a thing I'm ok with replacing it.

[2016-10-13 21:28] grodrigues3 commented on #31260
1737 adds labels to denote the state of the PR:  "state/prereview", "state/needs-review", "state/needs-changes", "state/needs-approval"

[2016-10-13 21:30] kargakis commented on #34466
It can be related to us not updating observedGeneration for deployments with overlapping selectors (the deployment reaper gets stuck until it observes that the deployment is observed by the controller)

[2016-10-13 21:30] pwittrock commented on #31643
When I add my docker container to kubernetes as a container you can edit it to expose a public to private port mapping and the app works great.

Do you mean in a Pod?  I am not sure what you mean by this.

However when I deploy the same docker image as a kubernetes deployment using a yaml deployment file, everything deploys fine and starts up but I am unable to access the application?

Where are y

[2016-10-13 21:31] jingxu97 commented on #34466
I used the exact deployment file as the online doc  (http://kubernetes.io/docs/user-guide/deployments/#what-is-a-deployment), just change the name

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  replicas: 3
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.7.9
        ports:

[2016-10-13 21:31] k8s-merge-robot opened #34764 "[k8s.io] Cluster size autoscaling [Slow] should increase cluster size if pending pods are small and there is another node pool that is not autoscaled [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-autoscaling/288/

Failed: [k8s.io] Cluster size autoscaling [Slow] should increase cluster size if pending pods are small and there is another node pool that is not autoscaled [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}

[code]

[2016-10-13 21:32] jingxu97 commented on #34466
BTW: I think I created 3 or more of those deployment and then try to delete them

[2016-10-13 21:34] pwittrock commented on #34148
Closing as dup of #25382

[2016-10-13 21:34] #34148 closed

[2016-10-13 21:35] thockin commented on #16508
We can reduce init() calls in our code, but we can't, in general, eliminate
them from every downstream library.

On Thu, Oct 13, 2016 at 12:26 PM, Lucas Käldström <notifications@github.com>
wrote:

[2016-10-13 21:37] rata commented on #34445
@pwittrock @wernight reported that upgrading kubectl to 1.4 did the trick (and it won't work with kubectl 1.3.x as the feature is not there, so the field is probably not sent by kubectl). He reported it here: https://github.com/kubernetes/kubernetes/issues/4789

@wernight can you confirm this should be closed too?

[2016-10-13 21:40] pwittrock commented on #34312
@davidopp Is this you?

[2016-10-13 21:41] thockin commented on #9125
I'm not sure I understand the importance of the distinction, but I guess it
doesn't matter too much.  Running a conntrack-metrics-reporter inside
kube-proxy's Pod seems reasonable.

On Thu, Oct 13, 2016 at 11:51 AM, Dongyi Yang <notifications@github.com>
wrote:

[2016-10-13 21:42] k8s-merge-robot opened #34768 "kubernetes-e2e-gci-gke-pre-release: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-pre-release/937/

Run so broken it didn't make JUnit output!

[2016-10-13 21:47] kargakis commented on #34466
@jingxu97 I am more interested in the current state of the Deployments. Can you post the output of
[code]

[2016-10-13 21:47] pwittrock commented on #31267
Ping this thread with the PRs when you create them

[2016-10-13 21:50] pwittrock commented on #33863
Not that I am aware of.  I believe `kubectl apply -f` unwraps the lists.  @lavalamp Are lists supported by any of the apis?

[2016-10-13 21:51] pwittrock commented on #34294
Sounds like you kubectl config isn't setup correctly to talk to a cluster.

[2016-10-13 21:51] #34294 closed

[2016-10-13 21:52] pwittrock commented on #33845
cc @caesarxuchao

[2016-10-13 21:54] lukaszo opened #34769 "Curl e2e flake"
Sometimes e2e tests fails during cluster installation because curl fails with:
[code]
For example see here: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32781/kubernetes-pull-test-unit-integration/48792/ Downloading etcd failed.

I've run curl to get etcd from github 4400 times. It failed 5 times. So it doesn't happen often.

[2016-10-13 21:55] smarterclayton commented on #34641
Yes, omitempty is incorrect when used to communicate optionalness for slices.  The bug is that we are using omitempty for optionalness.  The fix if you need optionalness slices or maps is to follow the pattern linked, because that's the only way today to make it work in protobuf that we support.

I'd like to fix optionalness in 1.5 but haven't had time to talk with @mbohlool

[2016-10-13 21:57] pwittrock commented on #34445
Ah, this is probably due to round tripping the objects in kubectl so it wipes out values it doesn't know about

[2016-10-13 22:01] JMoellerSLB opened #34772 "Scheduling errors and OutOfCpu during cluster autoscaling"
**Is this a request for help?**: No

**What keywords did you search in Kubernetes issues before filing this one?** OutOfCpu
Issue #29846 may be related; however, #29846 is not related to cluster autoscaling and is limited to an OutOfCpu condition.

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): 1.4.0

**Environment**: Goo

[2016-10-13 22:02] #33908 closed

[2016-10-13 22:05] yujuhong commented on #31458
@feiskyer do you have a list of missing features?

[2016-10-13 22:06] dgonzalez commented on #31267
Done. This is quite a big issue... what about splitting it?

[2016-10-13 22:11] pwittrock commented on #34413
Does this work consistently if the the hpa is in a different file?

[2016-10-13 22:12] yujuhong commented on #31458
I just discovered that we don't support various security context features. For example, `RunAsUser` is never examined and applied to the container configs in kuberuntime.
I looked at the docker package and noticed that `DockerManager` calls methods in [`pkg/securitycontext`](https://github.com/kubernetes/kubernetes/blob/8fd414537b5143ab039cb910590237cabf4af783/pkg/securitycontext/types.go) directl

[2016-10-13 22:12] rata commented on #34445
@pwittrock yeap, this is not expected to work with kubectl 1.3 and the report says it was using that. So quite confident that was the issue :-)

[2016-10-13 22:14] bprashanth commented on #34621
Chris probably has most context on c* + petset at this point

[2016-10-13 22:24] foxish commented on #34621
It seems like the api group itself is missing. This looks like a GKE issue to me.

/cc @jlowdermilk

[2016-10-13 22:26] yujuhong commented on #34704
AFAIK, we currently don't support that. There is a similar issue for specifying a user when `exec` into a container (#30656). I think that'd be a prerequisite for supporting customized users for health checks.

[2016-10-13 22:27] bprashanth commented on #34621
oh, i didn't read it. Are you running an alpha cluster? https://cloud.google.com/container-engine/docs/alpha-clusters, alpha resources aren't enabled by default on gke clusters

[2016-10-13 22:28] foxish commented on #34621
I just reproduced this with a new 1.4.0 cluster that I brought up. @bprashanth, shouldn't beta features be accessible by default?

[2016-10-13 22:29] bprashanth commented on #34621
petset is not beta

[2016-10-13 22:30] foxish commented on #34621
My mistake, needs to be run on alpha cluster. :)

[2016-10-13 22:32] caesarxuchao commented on #33845
We currently only automatically creates the ownerRef for pods pointing to the RC or RS that creates it, as stated in the [doc](http://kubernetes.io/docs/user-guide/garbage-collection/). I want to support deployment as well, but did not have time to.

@krmayankk thanks for taking this, I can help with the review. You could take a look at my previous [PR](https://github.com/kubernetes/kubernetes/pul

[2016-10-13 22:35] caesarxuchao commented on #33845
To be compatible with old clients, we also need to set the default garbage collection policy for deployments, something like this: https://github.com/kubernetes/kubernetes/pull/30838/files#diff-4098c5ce0a712fe113b57ca60b0fbb5aR48.

[2016-10-13 22:35] yujuhong commented on #31937
@luxas there is no one working on this AFAIK, and @freehan most likely won't have spare cycles this release.

If anyone wants to pick this up, that'd be great.

[2016-10-13 22:36] k8s-merge-robot opened #34773 "kubernetes-e2e-gci-gke-staging-parallel: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-staging-parallel/972/

Multiple broken tests:

Failed: [k8s.io] Generated release_1_2 clientset should create pods, delete pods, watch pods {Kubernetes e2e suite}

[code]
Issues about this test specifically: #32043

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run --rm job should create a job from an image,

[2016-10-13 22:36] k8s-merge-robot opened #34774 "[k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29465/kubernetes-pull-build-test-e2e-gke/16757/

Failed: [k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #29465.

Previous issues for this test: #26175 #26846 #27334 #28293 #29149 #31884 #33672

[2016-10-13 22:48] saad-ali commented on #33447
We're looking into adding the NFS client package into the GCI image. Uncertain of the ETA at this point. In the meantime, we recommend those dependent on the existence of an NFS client binary in the OS image opt-out of GCI and use the (non-default) `container-vm` image (see the bottom of [this](https://cloud.google.com/container-engine/docs/node-image-migration) page).

[2016-10-13 22:49] saad-ali commented on #34252
Closing this bug as a duplicate of https://github.com/kubernetes/kubernetes/issues/33447

[2016-10-13 22:49] #34252 closed

[2016-10-13 22:50] rmmh commented on #34362
Tracking in kubernetes/test-infra#826

[2016-10-13 22:50] #34362 closed

[2016-10-13 22:55] erictune opened #34776 "PodDisruptionBudget maxUnavailable"
PodDisruptionBudget allows you to specify minAvailable.

I would like to have, say, a cassandra cluster, and be able to scale it up and down according to some custom metric.

Say my data is replicated 3 ways.  So, I don't ever want more than 2 instances down or I can't read my data during the disruption.

With the current `minAvailable`, I have to adjust both the Deployment (or PetSet) scale, and

[2016-10-13 22:57] davidopp commented on #34776
We allow minAvailable to be expressed as a percentage of desired number of replicas rather than an absolute number. Does that address your requirement?

[2016-10-13 22:58] k8s-merge-robot opened #34777 "kubernetes-e2e-kops-aws-updown: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws-updown/1871/

Run so broken it didn't make JUnit output!

[2016-10-13 23:04] timstclair commented on #29579
Design doc: https://docs.google.com/document/d/1OE_QoInPlVCK9rMAx9aybRmgFiVjHpJCHI9LrfdNM_s/edit?usp=sharing

There shouldn't be any surprises there, it's the same design we had previously discussed (option 3), but with more details filled in.

[2016-10-13 23:09] ZhangBanger commented on #34067
Let me give that a try - thanks!

[2016-10-13 23:21] AdoHe commented on #34731
SGTM.

[2016-10-13 23:24] erictune commented on #34776
I don't think so.  What percentage should I use for a collection that must allow for 1 unavailable, and up to 2 unavailable, but not more than 2, and which can be scaled from 3 to 300 Pods?

[2016-10-13 23:28] AdoHe commented on #31267
@dgonzalez sure, split it into small PRs, easily for review.

[2016-10-13 23:39] AdoHe commented on #34732
I will start update server components.

[2016-10-13 23:42] erictune commented on #25321
Please consider https://github.com/kubernetes/kubernetes/issues/34776 before beta, as it might be a breaking API change to fix it.

[2016-10-13 23:56] k8s-merge-robot opened #34781 "kubernetes-e2e-gci-gke-autoscaling: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-autoscaling/289/

Multiple broken tests:

Failed: [k8s.io] Cluster size autoscaling [Slow] shouldn't increase cluster size if pending pod is too large [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #34581

Failed: [k8s.io] Cluster size autoscaling [Sl

[2016-10-14 00:03] alex-mohr commented on #27754
@Random-Liu Any idea on when this might land?

[2016-10-14 00:21] feiskyer commented on #31458
@yujuhong There is a list in #29478 (although docker-specific, some of them also apply to other runtimes). Should we merge this issue into #29478 for easy tracking.

[2016-10-14 00:21] bprashanth commented on #27754
I believe /var/ (/var/log/docker,logs) is already a seperate partition that occupies all the bootdisk not used by rootfs. @vishh or @Amey-D will know for sure. We should document the recommended lvm patitioning scheme for on-perm masters, but currently I dont think we have a way to do anything better.

[2016-10-14 00:25] chrislovecnm commented on #34621
@mcortinas you need to be running s cluster that has alpha enabled. By default in GKE alpha APIs are not enabled.

[2016-10-14 00:27] alex-mohr commented on #27754
@bprashanth Propose + implement something that works for GKE and then document it and/or make that the default so others can benefit too?

[2016-10-14 00:28] erictune opened #34782 "kubectl drain should wait for pods to be finally deleted"
This is for all pods, not just petset pods.

When a pod is deleted by kubectl drain, it goes into DELETING.  Kubectl drain should not return success to the user until the pod is completely deleted.  That way, if the user is scripting automation, and they say something like `kubectl drain $MACHINE && ssh root@$MACHINE shutdown -r now`, that it does not shutdown before the pods are expecting it.  Ri

[2016-10-14 00:29] erictune commented on #34782
@ymqytw @foxish @kow3ns we discussed this today.
@pwittrock we discussed this the other day.

[2016-10-14 00:31] bprashanth commented on #27754
So GKE+GCI should already have a partitioned /var, limiting the damange.
The remaining work is:
1. auto sizing of disk based on cluster size at kube-up time (not sure who is responsible for this, lifecycle? node?), or at least recommending variable disk size.
2. documenting partition scheme for other platforms so log spam doesn't eg: cause 100% root partition and a completely dead node

[2016-10-14 00:35] AdoHe commented on #34731
I am working on this and will open a PR today.

[2016-10-14 00:35] yujuhong commented on #16456
@pmorie, are there any jenkin builds in testgrid.k8s.io running SecurityContext tests? I couldn't find them...
I am trying to make sure that the new CRI-docker integration will continue support all existing features, and we rely heavily on the tests results. It'd be good to make sure we have some builder running these tests.

[2016-10-14 00:40] AdoHe commented on #34731
what about `kubectl create service externalname bar.com`, in consistent with other service types?

[2016-10-14 00:52] yujuhong commented on #31458
Sure. I'll close this one.

[2016-10-14 00:52] #31458 closed

[2016-10-14 00:53] #32467 closed

[2016-10-14 00:57] pwittrock commented on #34782
It should also respect disruption budgets

[2016-10-14 00:58] feiskyer commented on #29478
cc/ @kubernetes/sig-node

[2016-10-14 01:06] timstclair commented on #31984
FYI, this is possible with go-template. We should still fix the jsonpath though.
[code]

Similar issue: https://github.com/kubernetes/kubernetes/issues/23386

[2016-10-14 01:07] jmarhee opened #34783 "Add DigitalOcean support to Cloud Providers"
I was unable to locate an efforts/attempts at this in any existing issues (looked for instances of "digitalocean" and "digital ocean" which didn't yield anything seemingly relevant), so I'd like to work to add support for DigitalOcean as a Kubernetes_provider when deploying with kube-up.sh (and kube-down.sh).

I did work to this effect in the following fork to try to make this happen, based on the

[2016-10-14 01:24] #34626 closed

[2016-10-14 01:31] k8s-merge-robot opened #34785 "kubernetes-e2e-gke-slow: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/9843/

Run so broken it didn't make JUnit output!

[2016-10-14 01:32] chengzhang1016 commented on #33475
@rata No any more. Very thanks for your professional work.

[2016-10-14 02:06] rata commented on #33475
@chengzhang1016 thank you! Please feel free to close the bug, then! :-)

[2016-10-14 02:18] andyxning commented on #34704
@yujuhong I have just find yesterday that `docker exec` and `docker run` support specify user by `-u` command line argument.

[2016-10-14 02:33] hongchaodeng opened #34788 "ThirdPartyResourceData objects still exist after deleting and recreating namespaces"
**BUG REPORT**

**Kubernetes version** (use `kubectl version`): v1.4.0

**Environment**:
- **Cloud provider or hardware configuration**: GCE
- **OS** (e.g. from /etc/os-release): default GCI image
- **Install tools**: kube-up

**What happened**:

- Create TPR "MyResource"
- Create namespace "soak-test"
- Create a "MyResource" "a" under "soak-test":
[code]
- Delete namespace "soak-test"
[code]
- Ve

[2016-10-14 02:33] hongchaodeng commented on #34788
cc @brendandburns @philips @aaronlevy @xiang90

[2016-10-14 02:39] chengzhang1016 commented on #33475
@ Sure. Waiting PR https://github.com/kubernetes/kubernetes.github.io/issues/1447 to merge.

[2016-10-14 03:36] axsuul commented on #34314
This issue came up again. I've tried debugging with

[code]

to view logs. Nothing out of the ordinary. Also fine here:

[code]

How can I debug this?

[2016-10-14 03:46] kking124 commented on #34379
@errordeveloper I'm on slack now. What channel should I join?

[2016-10-14 03:48] axsuul commented on #34314
Ok this was related to changing the `kubeadm` cluster IP... I think.

[2016-10-14 03:48] #34314 closed

[2016-10-14 04:08] MrHohn opened #34790 "Need to implement reaper for PersistentVolume and PersistentVolumeClaims."
From #34513.

Experimenting the new feature `kubectl apply --prune`, found it unable to prune resource type `PersistentVolume` and `PersistentVolumeClaims`. Error as below:
[code]

We will need this for upgrading Addon Manager. It's weird that these resource types are not included. Or am I missing something?

@mikedanese @ymqytw

[2016-10-14 04:14] thockin commented on #34641
It's unlikely that omitempty can change in 1.5.

So if we mark this as non-omitempty, swagger will indicate that it is a
required field.

If we mark it as omitempty, we can't distinguish `nil` from `[]`.

If we make it a pointer, all hell breaks loose (thanks, proto).

Another option is to wrap those slices in a struct and make the field a
pointer-to-struct.  Big breaking change, all docs will be

[2016-10-14 04:16] MrHohn commented on #34790
@saad-ali  Or would it be too dangerous to delete PV and PVC by apply --prune?

[2016-10-14 04:53] mikedanese commented on #34790
Hmm, maybe I made an incorrect assumption about ReaperFor. Good catch.

[2016-10-14 04:56] brendandburns commented on #33793
I'm closing this one, as the subsequent failures appear to be unrelated.  This isn't 100% fixed, but the specific error in this bug is fixed.

Someone else can pick it up the SSH problem (now with better info) if it happens again.

[2016-10-14 04:56] #33793 closed

[2016-10-14 04:57] mikedanese commented on #32544
Yes please. Go for it.

[2016-10-14 05:00] k8s-merge-robot opened #34792 "kubernetes-e2e-gci-gce-kubenet: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-kubenet/871/

Run so broken it didn't make JUnit output!

[2016-10-14 05:00] k8s-merge-robot opened #34793 "kubernetes-e2e-gci-gke-prod: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod/75/

Run so broken it didn't make JUnit output!

[2016-10-14 05:09] brendandburns commented on #29542
@AdoHe the data field is the arbitrary JSON representation of the third party object.

We need to store the object as a `runtime.Object` inside the internals of the system, but of course the third party object doesn't exist as a golang object, so we use `ThirdPartyResourceData` and store the contents of the third party object in the `data` field.

[2016-10-14 05:18] brendandburns commented on #2965
Note that #34407 (sadly) doesn't fix this error for .yaml files, since the YAML conversion doesn't preserve the duplicated key.

I guess we'll need to extend validate to handle streaming YAML too...

[2016-10-14 05:22] MahipalRao commented on #34695
Kubeadm doesn't seem to pick proxy environment variables.
I am looking at app/master/manifests.go
[https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/master/manifests.go](url)
recompiling with proxy support may work. But I dont know how to do that.
Waiting for updates about proxy

[2016-10-14 05:37] AdoHe commented on #29542
@brendandburns that's the problem, when we apply a patch, we just update the `data` field of `ThirdPartyResourceData`

[2016-10-14 05:38] AdoHe commented on #2965
[code]
client side validation or server side?

[2016-10-14 05:43] k8s-merge-robot opened #34794 "[k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner should provision HDD PD on GCE/GKE {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-multizone/1214/

Failed: [k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner should provision HDD PD on GCE/GKE {Kubernetes e2e suite}

[code]

[2016-10-14 05:46] thockin commented on #30151
That's not a claim, that's a class.  If you want to draw analogies...

Pod uses PVClaim
PVClaim references a StorageClass by name
StorageClass represents the implementation of a PV
PVClaim represents the right to use a particular PV instance
PV represents a concrete piece of storage
When the PVClaim is deleted, the cleanup policy dictates what happens to
the PV

in real terms:

I (the user) hold a

[2016-10-14 05:46] brendandburns commented on #2965
client side.

[2016-10-14 05:47] thockin commented on #34453
Disk tech doesn't matter. I can repro with an emptyDir

On Thu, Oct 13, 2016 at 12:12 AM, Werner Beroux <notifications@github.com>
wrote:

[2016-10-14 05:50] k8s-merge-robot opened #34795 "TearDown {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws-updown/1938/

Failed: TearDown {e2e.go}

[code]

[2016-10-14 05:50] k8s-merge-robot opened #34796 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/5234/

Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377 #33993 #34033

[2016-10-14 05:51] k8s-merge-robot opened #34797 "[k8s.io] Kubectl client [k8s.io] Simple pod should support exec {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/34624/kubernetes-pull-build-test-gci-e2e-gce/2334/

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support exec {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #34624.

Previous issues for this test: #28426 #32168

[2016-10-14 05:51] k8s-merge-robot opened #34798 "kubernetes-e2e-gce-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/2334/

Multiple broken tests:

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 35 pods per node {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28220

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking

[2016-10-14 05:51] k8s-merge-robot opened #34799 "kubernetes-soak-continuous-e2e-gke-gci: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gke-gci/209/

Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for endpoint-Service: udp {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for node-Service: http {Kubernetes e

[2016-10-14 05:59] thockin opened #34800 "kubectl edit brokenness editing volumeMounts (list of struct)"
Start with:

[code]

Edit to:

[code]

Read back what happened:

[code]

It synthesized a COMPLETELY WRONG result.  At this point, I can not, in good conscience, advocate using kubectl edit.

Can I please have `kubectl edit --replace` that doesn't go through patch brokenness.  Or better, make that default for 1.5 and make `kubectl edit --patch`   be the broken (but eventually fixed) path.

[2016-10-14 06:00] #34795 closed

[2016-10-14 06:03] thockin commented on #34453
Hmm, I just tried again and it worked.  What as broken for me was kubectl
edit (#34800)

On Thu, Oct 13, 2016 at 10:47 PM, Tim Hockin <thockin@google.com> wrote:

[2016-10-14 06:12] bes commented on #34413
@pwittrock No, it's the same thing. Every other time it seems to work.

[2016-10-14 06:13] Crazykev commented on #29478
Claims these two:
1. `Listing containers without filters (to see old containers).`
2. `Distinguish between annotations and labels from older containers`

[2016-10-14 06:20] MahipalRao commented on #34695
This issue same as
[https://github.com/kubernetes/kubernetes/issues/33729](url)
Lets join there.
The solution mentioned there may work.
`kubeadm init --use-kubernetes-version v1.4.1 `

[2016-10-14 06:23] feiskyer commented on #34672
+1 for checkpointing config by labels for various use cases.

Not sure why a periodically sync is needed. @Random-Liu Would you mind explain this more clearly?

[2016-10-14 06:34] luxas commented on #34046
This is now fixed with #34341

[2016-10-14 06:34] #34046 closed

[2016-10-14 06:34] #34796 closed

[2016-10-14 06:37] luxas commented on #33715
What's left to do here?

Including the control planes' componentconfig in the kubeadm componentconfig API I suppose?

[2016-10-14 06:44] feiskyer commented on #33139
I'm in favor of support security context on both sandbox and container. we could make them aligning with [PodSecurityContext](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L1582) and [Container SecurityContext](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L3037).

I think changing the behavior of container security context is out of CRI scope. It ma

[2016-10-14 06:58] k8s-merge-robot opened #34801 "[k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner should provision SSD PD on GCE/GKE {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-multizone/1218/

Failed: [k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner should provision SSD PD on GCE/GKE {Kubernetes e2e suite}

[code]

[2016-10-14 07:13] zreigz commented on #34100
I can take this

[2016-10-14 07:27] AdoHe commented on #34100
@zreigz that would be great, go ahead and leave comments here if any problem.

[2016-10-14 07:29] #34433 closed

[2016-10-14 07:29] #34504 closed

[2016-10-14 07:31] zreigz commented on #34100
OK, thanks

[2016-10-14 07:36] zh168654 commented on #34429
you need find a way out of GFW, for example, using the following command to start the kubelet:
kubelet --pod-infra-container-image="docker.io/kubernetes/pause"

[2016-10-14 07:58] hanikesn commented on #30243
As I understand the pod object limit only applies to non-terminal pods:

http://kubernetes.io/docs/admin/resourcequota/

[2016-10-14 08:20] davidopp commented on #34782
I completely agree with @erictune's suggestion; we should have done it that way from the beginning.

As for respecting disruption budgets: agree with that one too, and @maisem offered to do it soon-ish.

[2016-10-14 08:32] sampeka commented on #34278
I'm also experiencing this problem, is there a workaround for this at the moment? I.e. is there a way to force Kubernetes to release the unused IP addresses?

[2016-10-14 08:37] mikkeloscar opened #34805 "federation-apiserver should support authentication token webhook"
**FEATURE REQUEST**
##### Problem

We want to integrate federation-apiserver authentication with our own IAM infrastructure.

For the normal apiserver we use the authentication token webhook feature (`--authentication-token-webhook-config-file`) to achieve this.
##### Solution

Add support for the authentication token webhook in the federation-apiserver through the same flags as the normal apiserv

[2016-10-14 08:45] kargakis commented on #29735
Hm, git fooled me. The fix is included in 1.4.

[2016-10-14 08:52] davidopp commented on #34776
Let me see if I understand. You have a storage system. It consists of an arbitrary number of pods whose quantity can change over time. Within the storage system, regardless of the number of pods that constitute the storage system, each data item is replicated 3 times, with each replica on a separate node. Therefore you want to ensure that no more than 2 nodes are ever down at the same time. Is tha

[2016-10-14 08:58] miry commented on #34101
resolved my issue via add routing rule to use eth1 for node machines to kubernetes service range ip. Example:

[code]

[2016-10-14 09:14] wernight commented on #34445
Should close, no? I expected a validation error but that may be for the future.

[2016-10-14 09:15] wernight commented on #34453
I don't do `kubectl edit` often. I mostly do `kubectl apply` to upgrade a `Deployment` and for that this bug appears.

[2016-10-14 09:17] wernight commented on #34800
Just wondering, why would on want to use `--patch` over `--replace`? Is that in case of concurrent edits?

[2016-10-14 09:30] #29745 closed

[2016-10-14 09:37] #34798 closed

[2016-10-14 09:41] hekike commented on #34723
@thockin thanks for the answer.

[2016-10-14 10:44] #34797 closed

[2016-10-14 10:50] donpark commented on #19899
Unless I'm mistaken, kube-lego say it's not ready for production use and I have not found a concrete timeline nor plan to bring it to production quality.

[2016-10-14 10:59] gluke77 commented on #32544
Thanks, so I start working.

[2016-10-14 11:00] wallrj opened #34810 "Flocker volume driver should use StorageClass parameters to determine the Flocker Storage profile of dynamically provisioned volumes"
Since #31005 the Flocker volume driver supports dynamic volume provisioning. It creates Flocker datasets with a size matching that of the PVC.
It currently ignores the StorageClass annotation of the PVC.
Instead it should use the parameters of the StorageClass to choose the Flocker  dataset profile of the new Flocker dataset.
- API docs: https://docs.clusterhq.com/en/latest/reference/api.html#crea

[2016-10-14 11:01] feiskyer commented on #29478
"Support pod/container security context features"  is addressed at #34811.

[2016-10-14 11:07] feiskyer commented on #29478
@yujuhong Some more features not tracked here:

- [ ] Sandbox resource requirements: depends on pod level cgroup #31546
- [ ] Container logging #34376
- [ ] ImageStats in CRI #33048
- [ ] Support add or drop capabilities in dockershim.
- [ ] Support apparmor/seccomp: dockershim completed, need docs in CRI.

[2016-10-14 11:15] kargakis commented on #34466
I could see the second deployment added being stuck for the reason I mentioned above. I could delete the first deployment without a problem. Sending a patch soon for fixing the deletion for the deployments we don't sync.

[2016-10-14 11:15] k8s-merge-robot opened #34812 "kubernetes-e2e-gce-etcd3: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-etcd3/3760/

Run so broken it didn't make JUnit output!

[2016-10-14 11:37] wernight commented on #19899
Doesn't provide one to consider it stable or bug-free enough to use it in production.

[2016-10-14 11:41] #34799 closed

[2016-10-14 11:44] rbtcollins commented on #32543
@chakri-nelluri w.r.t. secrets - can I confirm that the following use case is one that this proposal would support?:

We want to supply unique TLS certificates to every pod in a Deployment. We are investigating using volumeClaimTemplates to dynamically provision secret volumes, one per pod. The provisioner would need the pod dns name to set the CN in the certificate, and would create a certificate

[2016-10-14 11:47] svenwltr commented on #17199
Are there any plans/updates to this issue? Otherwise we have to find a way to work around this behavior.

[2016-10-14 12:03] #34717 closed

[2016-10-14 12:08] kargakis commented on #34466
The reaper should also take into account overlapping deployments and do not cascade deletion for them.

[2016-10-14 12:17] rapenchukd commented on #16508
the bug introduction like I said is probably a small concern, I know that the binaries are mostly independent in function and code- and will remain as such when combined. However this is a step backwards for those who don't containerize everything with their Kubernetes setups- for example Openshift, or probably most people deploying on RHEL/centos, and I would imagine an not insignificant amount o

[2016-10-14 12:20] AdoHe commented on #34466
@kargakis I will send a PR to check overlapping selector when  user create deployment through kubectl.

[2016-10-14 12:21] kargakis commented on #24946
Any updates on this?

[2016-10-14 12:24] maciaszczykm commented on #34559
It could be good improvement. Me and @floreks would like to discuss what direction we can go and possibly work on implementation.

Please share your feedback and post your own ideas.

## Indentation

Indents should be used for all second+ tier messages:

[code]

`\t` indent should be used per every tier of message like in `kubectl`.

## Structure

### Timestamp

Taking into consideration, that `ku

[2016-10-14 12:27] gmarek commented on #24946
@caesarxuchao can give you current update. AFAIK it's implemented for ReplicaSet and ReplicationController. I'm not sure about other ones.

[2016-10-14 12:28] k8s-merge-robot opened #34815 "kubernetes-e2e-gci-gce-examples: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-examples/759/

Run so broken it didn't make JUnit output!

[2016-10-14 12:29] k8s-merge-robot opened #34816 "[k8s.io] Deployment scaled rollout deployment should not block on annotation check {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32663/kubernetes-pull-build-test-gci-e2e-gce/2370/

Failed: [k8s.io] Deployment scaled rollout deployment should not block on annotation check {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #32663.

Previous issues for this test: #30100 #31810 #34331 #34717

[2016-10-14 12:33] deads2k commented on #33375
I think this a good starting point.

[2016-10-14 12:50] kargakis commented on #24946
So controllerRef is the the same as an owner reference, right?

[2016-10-14 12:54] pires commented on #34559
I like this a lot, however I'd leave it until the code stabilizes. Right now, there's too much still going on and there's already some rebase he'll happening.

[2016-10-14 13:05] gmarek commented on #24946
Yes and no - controller ref is implemented as a field in OwnerRef object (controller has to be an owner), and adoption code makes sure that there's only one owner with controller flag set.

[2016-10-14 13:23] smarterclayton commented on #33139
In general, any non backwards compatible API change is out of scope unless
we have pretty broad consensus at the top level and the feature isn't
accidental or a security hole.

Restricting it for new runtimes in alpha is less of a problem.  But when
those run turns graduate we'd have to make a decision one way or another.

I don't think we have consensus for change here yet, and we would need
mult

[2016-10-14 13:23] k82cn opened #34820 "Failed to start `kube-proxy` in Docker"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
v1.5.0-alpha.0-1414-g7f63058

**Environment**:
- **Cloud provider or hardware configuration**: Docker 1.12.2
- **OS** (e.g. from /etc/os-release): Ubuntu 14.04.3 LTS
- **Kernel** (e.g. `uname -a`): `Linux mesosslave 4.4.0-31-generic #50-Ubuntu SMP Wed Jul 13 00:07:12 UTC 2016 x86_

[2016-10-14 13:24] errordeveloper commented on #34379
@kking124 I can see you have joined #kubeadm channel...

[2016-10-14 13:25] smarterclayton commented on #34641
I think it's pretty easy to fix omit empty so we can have the correct
marker in swagger and openapi.  If that's he biggest concern, I'd prefer to
make the correct API first, then the correct docs.

Optional slices are required when have to introduce new fields.  So this
has to be solved regardless.

I'm strongly in favor of fixing optional in swagger, because it's the
actual broken tool here.

On

[2016-10-14 13:29] smarterclayton commented on #34641
Actually, the real bug is Gos json serialization which doesn't do what we
need.  But that's too hard to fix for this.

On Oct 14, 2016, at 12:14 AM, Tim Hockin <notifications@github.com> wrote:

It's unlikely that omitempty can change in 1.5.

So if we mark this as non-omitempty, swagger will indicate that it is a
required field.

If we mark it as omitempty, we can't distinguish `nil` from `[]`.

[2016-10-14 13:32] smarterclayton commented on #34731
Sounds more correct

[2016-10-14 13:34] ncdc commented on #34732
@AdoHe thanks! If you want to see an example, here's what I did for kube-proxy (although it's part of a larger POC, so we can refactor kube-proxy separate from the POC, and I'll rebase as needed): #34727

[2016-10-14 13:35] mwielgus opened #34821 "HPA uses wrong count to calculate target replcias"
The current formula looks like:

[code]

If currentReplicas doesn't match to the number of replicas used to calculate utilization then the result can be way bigger than necessary. For example if there are 10 pods created in apiserver (= current replicas) but only 1 is scheduled and it is running at its last legs (300% of the target utilization) then the target will grow to 30 pods.
20 (30-10) pods

[2016-10-14 13:36] dgoodwin commented on #34559
I like the color, indentation, and timestamps.

I'd love to see warnings/errors printed in red/yellow from the new pre-flight checks. (Example here: #34341)

[2016-10-14 13:41] pires commented on #33928
@luxas Fixed by #34341.

[2016-10-14 13:46] jsafrane opened #34822 "Dynamic provisioning with Secrets can leak any secret on the system"
When a dynamic provisioner (and deleter) needs some credentials to a remote storage appliance (gluster server, Ceph, ...), we use a reference to a Secret instance in `StorageClass.Parameters`.

We also agreed that the StorageClass does not need to exists at the point when a provisioned volume is being deleted, therefore we must pass all information (incl. reference to the Secrets) in annotations o

[2016-10-14 13:47] errordeveloper commented on #34559
@maciaszczykm great work, I love it! If you make a PR, please make sure colours can be disable when output is not a TTY, or doesn't suppor colours. I am not sure we have to hold on with this, if it's something you have already implement and can open a PR soon, as long as it doesn't change lines other than ones that print output message.

[2016-10-14 13:48] errordeveloper commented on #34559
We can discuss more colours later, e.g. some extra verbose messages can be grey, but I'd love to get something in for the start!

[2016-10-14 13:56] DongyiYang commented on #9125
I think there is some confusion in the architecture graph and my explanation. I apologize. Currently new metrics are simply exposed on different endpoints which served by the same proxy server. So no additional container is needed for this.

[2016-10-14 13:57] k8s-merge-robot opened #34823 "kubernetes-e2e-gci-gce-etcd3: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-etcd3/970/

Run so broken it didn't make JUnit output!

[2016-10-14 13:58] pires commented on #34324
@luxas please assign to me.

[2016-10-14 13:58] kargakis commented on #34466
@AdoHe thanks but kubectl changes are not enough. There are a couple of options here:
1.
i. fix the deployment controller to update observedGeneration for overlapping deployments
ii. fix the deployment controller to not add the overlapping annotation for the older deployment
iii. fix kubectl to do non-cascading deletion of deployments with the overlapping annotation

2.
i. fix the deployment contr

[2016-10-14 14:01] jszczepkowski commented on #34821
If this is urgent and we need to fix it on 1.4, I can prepare a small, separate PR with the fix. PR #33593 is huge and will not be cherry-picked to 1.4.

[2016-10-14 14:01] pires commented on #34559
@errordeveloper there are quite a few PRs already open and some in the works related to the many issues that were opened for `kubeadm`.I'm looking to avoid the frustration of handling rebase hell for everyone involved, particularly because CLI is under active development.

[2016-10-14 14:02] smarterclayton commented on #30151
The claimed resource I most care about is public DNS name.  So user A
and user B can't both be exposed under the same ingress controller as
www.google.com unless one of them can prove they own www.google.com.
Although it's only weakly a claim, so other tools can be used to solve
it.

We have moved much further down having multiple routers, at this point
we are seeing lots of multiple router deploy

[2016-10-14 14:03] kargakis commented on #34466
Even 3. has a problem: if the working deployment is set to zero replicas and we try to delete it, we will actually orpahn any replica sets that it has, albeit with no pods.

[2016-10-14 14:06] kargakis commented on #34466
Actually we can remove the annotation from the working deployment so I think 1 and 2 are viable options. What I really don't want is to embed any of that logic (overlapping selector annotation) into kubectl. That's why I think 4 is what we really want.

[2016-10-14 14:12] kargakis commented on #34466
One last thought before I go offline: I think we will need to continue supporting kubectl 1.5 to work with older servers which means that we are stuck with the current implementation of the reaper as a fallback from server-side deletion. Iow. we should probably do one of 1. or 2. anyway since 4. is not backwards-compatible.

[2016-10-14 14:18] mqliang commented on #30151
L7Config uses an IngressClaim
IngressClaim references an IngressClass
IngressClass dictates the actual load-balancer tech (nginx, haproxy, gclb, ...)

Can not agree more. This is exactly I want to express (sorry for the misleading, I am not a native english speaker).

In bare-metal environment, we want load-balancer (nginx, haproxy) to be HA, so I introduced a "Ingress Service" term: IngressClaim

[2016-10-14 14:29] smarterclayton commented on #33622
If we set the performance target of one cluster to "as big as we can fit in memory" doesn't that mean that you can't then federate that cluster if you choose 2b?

[2016-10-14 14:30] smarterclayton commented on #33622
On 1b - if I specify cluster selector against a single cluster is that an error?

[2016-10-14 14:40] deads2k commented on #34788
I'm adding this to the list of knowing issues around ThirdPartyResources here: https://github.com/kubernetes/features/issues/95

[2016-10-14 14:43] derekwaynecarr commented on #34788
This is the same as https://github.com/kubernetes/kubernetes/issues/32306

[2016-10-14 14:44] derekwaynecarr commented on #34788
In addition, you should not be able to delete a TPR schema def, if there are instances of that TPR in the system.

[2016-10-14 14:50] deads2k commented on #34788
Probably requires a finalizer as noted in the feature issue along with proper respect for finalizing TPRs from the associated REST handler.

[2016-10-14 14:55] AdoHe commented on #34732
@ncdc I will take a look, thanks :)

[2016-10-14 15:08] AdoHe commented on #34466
[code]
yes, this is the kubectl convention, kubectl 1.5 should still work with 1.3 server.

[2016-10-14 15:10] AdoHe commented on #34466
As for 4, owner reference should be a good solution for lots of problems, the backward compatibility is the biggest block.

[2016-10-14 15:21] dmmcquay commented on #33928
@pires @luxas I was actually thinking of going a little deeper into this issue now that #34341 got merged in and look at more errors that could be handled correctly (permission errors, bad args, potential networks issues).

[2016-10-14 15:28] k8s-merge-robot opened #34827 "[k8s.io] ConfigMap should be consumable from pods in volume with defaultMode set [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-smoke/1023/

Failed: [k8s.io] ConfigMap should be consumable from pods in volume with defaultMode set [Conformance] {Kubernetes e2e suite}

[code]

[2016-10-14 15:36] mikedanese commented on #33715
I think this is basically done

[2016-10-14 15:36] #33715 closed

[2016-10-14 15:44] thockin commented on #34641
I don't presume to assign blame, but of course it is Go's JSON's fault.
It's always go's JSON's fault.

On Fri, Oct 14, 2016 at 6:29 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-10-14 15:47] zefciu commented on #32398
@lavalamp the patches created by kubectl have the deleted object correctly removed. So the problem is on the server side it seems to me.

[2016-10-14 16:06] maisem commented on #34782
cc @bdbauer - we were discussing this yesterday for GKE.

[2016-10-14 16:18] mqliang commented on #30151
@smarterclayton

Yes, one load-balance with one IP can host many sites, and again, that's why I proposed "ingress scheduler" to make metrics-based binding decision in https://github.com/kubernetes/kubernetes/issues/34013

[2016-10-14 16:36] k8s-merge-robot opened #34832 "kubernetes-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-build/12935/

Run so broken it didn't make JUnit output!

[2016-10-14 16:38] #33998 closed

[2016-10-14 16:42] thockin commented on #34822
This is another case of referential integrity (or lack thereof) causing problems. @lavalamp

To be clear on the problem statement, you talk about annotations because that's how the feature is currently implemented.  Once the annotation for class becomes a real field, is this a problem?  It seems like the root of the problem is allowing users to write to PVs in the first place.  I know upstream ACL

[2016-10-14 16:48] mikedanese commented on #34559
Awesome stuff!

We won't know the impact on other PRs until we know what the code looks like. I'd recommend opening a PR once this is ready. We can always merge other PRs before this if we think conflicts will be painful.

[2016-10-14 16:52] k8s-merge-robot opened #34833 "[k8s.io] Kubectl client [k8s.io] Kubectl run job should create a job from an image when restart is OnFailure [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-smoke/1026/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run job should create a job from an image when restart is OnFailure [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28584 #32045

[2016-10-14 17:01] thockin commented on #30151
On Fri, Oct 14, 2016 at 7:02 AM, Clayton Coleman
<notifications@github.com> wrote:

This is solvable within kubernetes, perhaps, but we'd need a clearer
picture of all the below claims and classes and what they mean.  This
has languished because of lack of ownership bandwidth.

This is largely in alignment with what we are seeing, and part of why
I wrote this up.  The distinction between the URL m

[2016-10-14 17:04] caesarxuchao commented on #32398
@zefciu last time I checked `kubectl edit` generated an empty patch if the edit was removing an item from a list of primitives (but not removing the entire list).

[2016-10-14 17:07] caesarxuchao commented on #24946
That's right, just those two. There was an [issue](it's implemented for ReplicaSet and ReplicationController) regarding set the controllerRef for Deployments and @krmayankk was interested to do it.

[2016-10-14 17:07] yujuhong commented on #34704
@andyxning yes, but kubernetes doesn't support this feature yet, and it requires some API changes. I do think it's a reasonable use case.

[2016-10-14 17:08] smarterclayton commented on #34728
*twitches*

[2016-10-14 17:13] edsiper commented on #32762
I've found that memory fragmentation is the root cause of high-memory usage on Fluentd. After doing some tests and comparing _libc memory allocator_ v/s _Jemalloc_ there is a big difference. Please refer to these findings:

- https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/issues/87#issuecomment-253853691
- https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/issues/

[2016-10-14 17:13] freehan commented on #28667
To summarize the discussion:

With container runtime interface, runtime/shim are responsible for pod networking. This includes set_up, tear_down, get_network_status and other background mechanism for maintaining network state (e.g. keep track of allocated IPs and hostports). Kubelet is responsible for supplying information to shim/runtime. From kubelet point of view, it pushes necessary config inf

[2016-10-14 17:14] thockin commented on #9125
I'm confused again.  Your code builds a new binary.  Are you proposing that
all the code be embedded into kube-proxy or that it live in its own binary?

On Fri, Oct 14, 2016 at 6:57 AM, Dongyi Yang <notifications@github.com>
wrote:

[2016-10-14 17:17] k8s-merge-robot opened #34835 "kubernetes-e2e-gci-gke-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-test/83/

Run so broken it didn't make JUnit output!

[2016-10-14 17:24] smarterclayton commented on #34641
Straw man:

add a new struct tag “optional=true” to specifically that field, update
swagger and openapi to respect it if omitempty is not present.  IF we
decided we don’t like the struct tag, we only have to change 3 places

Clayton will go do the work, then this pr can be fixed by removing
omitempty and adding optional=true to that field, and using the protobuf
tags to get the correct protobuf se

[2016-10-14 17:25] tnine commented on #34625
Closing, this appears to be a kops + aws + 1.4 issue.  Moved to here.

https://github.com/kubernetes/kops/issues/648

[2016-10-14 17:25] davidopp commented on #34782
@bdbauer / @maisem if you have time to do both of the things mentioned in this issue (I know you were originally only planning to do the second one), that would be great.

[2016-10-14 17:25] yujuhong commented on #33664
@yissachar using `:latest` tag IMO is not the best practice as it's hard to track what image is really in use in your pod. I think tagging images by versions or using the digests is strictly better than reusing the same tag. Is it really such a hassle to do that?

[2016-10-14 17:28] kking124 commented on #34379
I'm nothing if not

<img src="http://imgs.xkcd.com/comics/tech_support_cheat_sheet.png" />

source: http://xkcd.com/627/

but I'm just like <img width="16px" src="https://what.thedailywtf.com/uploads/system/site-logo.png" /> at this point on the problem

[2016-10-14 17:29] lilnate22 commented on #33729
@czerwina total noob question...how did you add that to docker arg? (note i am following the 1.4 guide)

[2016-10-14 17:29] kking124 commented on #34379
and I'm out on the "google stuff" trail :grinface:

[2016-10-14 17:32] k8s-merge-robot opened #34837 "kubernetes-e2e-gce-multizone: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-multizone/4374/

Run so broken it didn't make JUnit output!

[2016-10-14 17:32] k8s-merge-robot opened #34838 "kubernetes-kubemark-500-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/6776/

Run so broken it didn't make JUnit output!

[2016-10-14 17:33] yujuhong commented on #29478
@Crazykev thanks for offering to help! We don't have a clear picture of what's missing in supporting old k8s containers. It'd be great if you can start from /checkingtesting the new CRI integration with the old containers and see what would need to be added to support them. After gathering all the items, we can assess how much work is needed, and how we want to approach it. Thanks!

[2016-10-14 17:34] maisem commented on #34782
@davidopp IIUC #34778 would fix this issue, while we tackle #34277/

[2016-10-14 17:35] davidopp commented on #34782
Oh yeah, sorry, I somehow missed #34778. Yes, I agree it addresses the first issue.

[2016-10-14 17:35] deads2k opened #34839 "GenericAPIServer improvments"
I'm building this list based on actual attempts to make use of the genericapiserver
- [x] serializer should be set by default
- [x] version is messed up.  I need to be able to pass values through https://github.com/kubernetes/kubernetes/pull/34967
- [x] authentication setup: it should be really easy to set up: anonymous, clientCA (same as master), master webhook https://github.com/kubernetes/kuber

[2016-10-14 17:37] enlinxu commented on #9125
@thockin I think you are talking about the standalone version. What Dongyi is now talking about is the integrated version (https://github.com/DongyiYang/kubernetes/tree/IntegrateK8sConntrack) based on your old comment "I am
turning my eye towards "ok, how (and how much) do we integrate vs leave as
standalone".
Basically the integrated version added the connection counter and flow counter, both by

[2016-10-14 17:38] yujuhong commented on #29478
Included in the list. Thanks!

[2016-10-14 17:38] rootfs commented on #28081
@kubernetes/sig-storage is anybody working on it? I'll volunteer myself if I am not stepping on somebody's toe.

[2016-10-14 17:40] Random-Liu commented on #34672
In fact, this is not clear yet. Because dockershim is managing some resources which is not directly managed by docker, such as pod IP, log files and maybe more in the future. For example, if a sandbox is removed, the shim must guarantee the corresponding IP should be released. However, even though we put the ip release logic into `RemoveSandbox`, it may fail. Once it fails, we need a periodically

[2016-10-14 17:43] thockin commented on #16508
On Fri, Oct 14, 2016 at 5:18 AM, Drew Rapenchuk
<notifications@github.com> wrote:

This is not just about containerized deployments.  Taken to its
logical extreme, the primary (only?) build artifact would be a single
binary.

Noted.  One option that was considered was two mega-bins, one for
master and one for node.  To your argument, we're trying to balance
overall complexity, so the argument is m

[2016-10-14 17:44] roberthbailey commented on #34136
/cc @kubernetes/sig-testing

[2016-10-14 17:45] roberthbailey commented on #34136
It would be great if we could get e2es running in our existing test-infra using kubeadm.

[2016-10-14 17:48] mikedanese commented on #34136
I'd like to do this by adapting kubernetes-anywhere to use kubeadm instead of iginition and write bindings for kubernetes-anywhere using  @zmerlynn 's new hack/e2e.go features.

[2016-10-14 18:02] Arachnid commented on #33664
@yissachar Sometimes it's very useful to be able to do this. For instance, we run a testing cluster that should run a build from the latest commit on the master branch of our repository. There aren't tags or branches for every commit, so ':latest' is the logical and most practical name for it.

Wouldn't it make more sense if Kubernetes stored and checked the hash of the deployed container instead

[2016-10-14 18:07] yissachar commented on #33664
@yujuhong I agree that if you can do so then you should (and I do!). But this question comes up quite frequently and often users cannot easily tag every build (this often arises with CI systems). They need a solution with less friction to their process, and this means they want to see some way of updating a Deployment without changing the image tag.

[2016-10-14 18:12] k8s-merge-robot opened #34842 "kubernetes-e2e-gci-gke-prod-smoke: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-smoke/1027/

Run so broken it didn't make JUnit output!

[2016-10-14 18:12] k8s-merge-robot opened #34843 "kubernetes-kubemark-5-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-5-gce/15568/

Run so broken it didn't make JUnit output!

[2016-10-14 18:14] dominiek commented on #33664
I am running into the same limitations. I agree that in an ideal setup every version would be explicitly tagged, but this can be cumbersome in highly automated environments. Think of dozens of containers with 100 new versions per day.

Also, when debugging and setting up a new infrastructure there are a lot of small tweaks made to the containers. Having a force-repull on a Deployment will make the

[2016-10-14 18:20] dgoodwin commented on #31779
Ok if I close this in light of https://github.com/kubernetes/features/issues/134 and https://github.com/kubernetes/features/issues/130 ?

[2016-10-14 18:22] luxas commented on #33715
@mikedanese What about including the control planes' componentconfig in the kubeadm componentconfig?

I think that would be quite crucial in order to make it possible to customize apiserver, cm, scheduler and proxy arguments

@mikedanese Will you work on it?

[2016-10-14 18:23] mikedanese commented on #31779
SGTM

[2016-10-14 18:31] mikedanese commented on #33715
We need to finish componentconfig for other components. I think that's a seperate issue that already has issues open on it. I'm not currently working on it.

[2016-10-14 18:31] mbohlool commented on #34641
I have a fix PR for OpenAPI using +optional tag. Will send it after some
clean ups. Swagger 1.2 still needs a fix.

Mehdy Bohlool |  Software Engineer |  mehdy@google.com |  +1 650-253-0099

On Fri, Oct 14, 2016 at 10:24 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-10-14 18:34] yujuhong commented on #33664
Hmm....I still think automatically tagging images by commit hash would be ideal, but I see that it may be difficult to do for some CI systems.

In order to do this, we'd need (1) a component to detect the change and (2) a mechanism to restart the pod. I think (1) can be

This sounds reasonable.

/cc @pwittrock, who has more context on the CI systems.

[2016-10-14 18:36] piosz commented on #30507
Sure, your contribution is welcome.

[2016-10-14 18:37] ixdy commented on #34832
Bizarre:
[code]

@spxtr anything weird happening on Jenkins this morning? particularly agent-heavy-8?

[2016-10-14 18:43] yujuhong commented on #28154
Do you set memory limit for this pod? What's the spec?
If a pod uses more than what the memory limit is allowed, it'd get killed. Setting good memory requests/limits helps the node not being over-committed, and also limits the damage to a single pod.  However, if the whole node is under memory pressure, kernel would pick a victim process to kill. Kubelet adjusts the OOM scores to make sure that ke

[2016-10-14 18:47] piosz commented on #33698
Thanks @a-robinson.

@MrHohn
Heapster is now running as Deployment.
InfluxDB should run as PetSet. @jszczepkowski did the migration but due to a bug in PetSet it was reverted.
Grafana can run as Deployment.

Fluentd should run as DaemonSet. Work in progress #32088
ElasticSearch should run as PetSet.
Kibana can run as Deployment.

@bprashanth we have dedicated suite with ES tests [gce-es-logging](h

[2016-10-14 18:48] yifan-gu commented on #34672
@Random-Liu Can we clean up all resources before actually removing the container? And if there are any errors, try later.

[2016-10-14 18:49] yifan-gu commented on #34672
You can get the information from labels, right?

[2016-10-14 18:53] pires commented on #34136
/cc @dmmcquay

[2016-10-14 19:01] piosz commented on #32762
Thanks a lot @edsiper for debugging. @Crassirostris could you please try to use Jemalloc and post an update?

[2016-10-14 19:02] euank commented on #34672
I don't see why we'd need more status codes in that case. The only thing kubelet needs to care about is if it succeeded or not, the runtime then just needs to be able to figure out what it's already done itself, but that all seems like it can be internal

[2016-10-14 19:04] igorpeshansky commented on #32762
Note that the google-fluentd defaults to jemalloc. So unless Kubernetes changed the default settings, the fluentd container should be using jemalloc.

[2016-10-14 19:05] errordeveloper commented on #33715
Mike, I've been trying to trace down current WIP, but couldn't find much,
any pointers would help!

On Fri, 14 Oct 2016, 19:31 Mike Danese, <notifications@github.com> wrote:

[2016-10-14 19:09] edsiper commented on #32762
Is there a way to query the process maps ? like:

[code]

[2016-10-14 19:12] Quentin-M opened #34846 "rkt: user-provided /etc/resolv.conf mount fails with rkt-fly + hostNetwork"
**Environment**:

[code]

[code]

[code]

**What happened**:

It is impossible to start a rkt pod with `hostNetwork:true` and a `/etc/resolv.conf` mount.
- kubelet appears to add the volume to mount `/etc/resolv.conf`, even though it shouldn't when there is an user-specified one, thanks to this [condition](https://github.com/kubernetes/kubernetes/blob/41ece9a/pkg/kubelet/rkt/rkt.go#L666).
- While

[2016-10-14 19:13] smarterclayton commented on #34641
I can do the swagger part if you have other stuff.

On Fri, Oct 14, 2016 at 2:32 PM, mbohlool <notifications@github.com> wrote:

[2016-10-14 19:14] kerneltime opened #34847 "Kube-up for vsphere is broken due to a salt bug"
Kube-up installs the latest version of salt before installing kube. https://github.com/saltstack/salt/issues/35423 leads to kube-up being broken for all.
Will post steps to work around this problem for 1.4 and include fixes for next release of 1.4 and master.
This can be assigned to me.

[2016-10-14 19:17] Quentin-M commented on #34846
cc @yifan-gu who authored the relevant chunk of code.

[2016-10-14 19:22] rapenchukd commented on #16508
Oh, I didn't mean for that to sting, that wasn't the intent at all @thockin I don't expect anyone to know the uses or views of everyone. Thats why I am here to raise noise and look like a fool. At least I can say I tried! In all seriousness, though- I suspect most users giving you input probably aren't large enterprise consumers- though they may be. I have no real clue. Most of my time working has

[2016-10-14 19:22] mikedanese commented on #33715
There's an effort per component. For example: https://github.com/kubernetes/kubernetes/pull/34727 for kube-proxy. The umbrella issue is https://github.com/kubernetes/kubernetes/issues/12245

[2016-10-14 19:36] tnine commented on #34625
After getting help from @justinsb on Slack.  This is due to the `type:LoadBalancer` and `  clusterIP: None` both existing in the same service definition.   The cluster does not allocate an IP for this service.  Therefore, no node ports on the minions will be opened.  Please add validation to catch this conflict.

[2016-10-14 19:51] saromanov commented on #21656
@montanaflynn Did you found solution for this?

[2016-10-14 20:00] pires commented on #34404
@luxas please assign this to me.

[2016-10-14 20:04] DirectXMan12 commented on #34821
#33593 currently experiences this as well, I think, but I'm trying to figure out the right way to solve it.  The problem, as I see it, is this:  while we can be reasonably certain that an unready pod will probably become ready eventually (certain-ish, at least), a pod in a pending state may effectively be permafailed (e.g. if you don't specify a command, it looks like the pod will report pending,

[2016-10-14 20:05] Arachnid commented on #33664
Creating a tag for every single commit is also pretty pointless - commits already have unique identifiers - especially when you only care about the last one.

What I don't understand is why Kubernetes treats tags as if they're immutable, when they're explicitly mutable human-readable names for immutable identifiers (the hash of the manifest).

[2016-10-14 20:06] eparhei commented on #33729
@czerwina yes docker is working on the system. For example, using docker images I can see that gcr.io/google_containers/kube-controller-manager-amd64   v1.4.1 is already pulled.

[2016-10-14 20:14] davidopp commented on #34821
cc/ @lavalamp for the HPA problem we saw today

[2016-10-14 20:15] mbohlool commented on #34641
Sure, do you want to update go-restful?

Mehdy Bohlool |  Software Engineer |  mehdy@google.com |  +1 650-253-0099

On Fri, Oct 14, 2016 at 12:14 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-10-14 20:20] #34686 closed

[2016-10-14 20:20] #34689 closed

[2016-10-14 20:20] #34697 closed

[2016-10-14 20:20] #34701 closed

[2016-10-14 20:20] #34706 closed

[2016-10-14 20:20] #34736 closed

[2016-10-14 20:20] #34751 closed

[2016-10-14 20:20] #34757 closed

[2016-10-14 20:20] #34768 closed

[2016-10-14 20:20] #34773 closed

[2016-10-14 20:20] #34777 closed

[2016-10-14 20:20] #34781 closed

[2016-10-14 20:20] #34792 closed

[2016-10-14 20:20] #34793 closed

[2016-10-14 20:20] #34812 closed

[2016-10-14 20:20] #34815 closed

[2016-10-14 20:20] #34823 closed

[2016-10-14 20:20] #34832 closed

[2016-10-14 20:20] #34835 closed

[2016-10-14 20:20] #34837 closed

[2016-10-14 20:20] #34838 closed

[2016-10-14 20:20] #34842 closed

[2016-10-14 20:20] #34843 closed

[2016-10-14 20:20] k8s-merge-robot opened #34855 "kubernetes-e2e-gci-gke-reboot-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-reboot-release-1.4/681/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by triggering kernel panic and ensure they function upon restart {Kubernetes e2e suite}

[code]

Issues about this test specifically: #34123

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] eac

[2016-10-14 20:28] bdbauer opened #34856 "API uses body in DELETE requests"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

When deleting a pod using DeleteOptions, we use a DELETE http request, but require a body. This is generally a bad idea. It seems like DeleteOptions should become a query parameter, rather than a body parameter.

cc: @maisem @lavalamp @krousey @kubernetes/sig-api-machinery

[2016-10-14 20:30] maisem commented on #34856
cc @davidopp

[2016-10-14 20:30] nikhiljindal commented on #31611
@derekwaynecarr Did you get a chance to submit https://github.com/kubernetes/kubernetes/pull/31250 again?

[2016-10-14 20:31] derekwaynecarr commented on #34821
@DirectXMan12 and I chatted on this today, I think we should split pods into two states based on the pod condition `Ready`.  I would ignore cpu usage associated with pods whose `Ready` condition was not true.

[2016-10-14 20:40] krousey commented on #34856
Just adding info.. quoting https://tools.ietf.org/html/rfc2616#section-4.3

   a request if the specification of the request method (section 5.1.1)
   does not allow sending an entity-body in requests. A server SHOULD
   read and forward a message-body on any request; if the request method
   does not include defined semantics for an entity-body, then the
   message-body SHOULD be ignored when han

[2016-10-14 20:45] roberthbailey commented on #34378
I don't care much about the kubectl version command being run, but the fact that it is getting an i/o timeout in between cluster validation succeeding (where we know that the master is up) and the e2e tests passing (where we know that the master is up) is concerning. It seems like this indicates that either the master VM was unreachable or the apiserver had crashed.

Do we scrape apiserver logs fr

[2016-10-14 20:49] krousey commented on #34378
I looked at the apiserver logs, and there was no indication that a version request failed or took longer than 5ms.

[2016-10-14 20:55] roberthbailey commented on #34378
Any indications that it restarted?

[2016-10-14 20:55] pires commented on #34404
I'll add this behavior after #34807 lands, such that both
`kubeadm reset` and `kubeadm leave` result in the node been marked as unschedulable to the cluster.

Thoughts @luxas @errordeveloper?

[2016-10-14 21:12] krousey commented on #34378
There are indications that the api server was started 3 times.

[code]

and then ran until

[code]

The 3 starts were close to the beginning. And it looked to be because etcd wasn't up yet. I don't think we start serving until we can talk to storage. Also, the restart timestamps don't line up with the build log's error:

[code]

The clocks are off, but I assume that at least the minutes are somewh

[2016-10-14 21:13] smarterclayton commented on #34856
Are you reporting this because you're broken somewhere or have seen it
broken?  I'm not aware of any HTTP client, proxy, or server that has an
issue with this.  DELETE is not required to not take a body as krousey
notes.

On Fri, Oct 14, 2016 at 4:40 PM, krousey <notifications@github.com> wrote:

[2016-10-14 21:16] fluxrad commented on #19634
More data here. I ran a sysdig against one system hosting a DNS pod. And found an order of magnitude more bogus queries being generated. I'm assuming this is because skydns isn't caching NXDOMAIN records, but is caching valid entries:

[code]

Someone should double check my methods, but the above suggests that 80% of queries are falling through dnsmasq, and of those 22% are propagating bogus queri

[2016-10-14 21:18] krousey commented on #34856
@smarterclayton It is an actual problem we're hitting with an internal proxy.

[2016-10-14 21:28] smarterclayton commented on #34856
Wow, I've dealt with every crazy proxy in enterprise software I can imagine
and none of them have thrown up yet.  Google having the problem surprises
me :)

I don't see any reason not to also accept query parameters if a body is not
present (we have to take the body if provided for backwards
compatibility).  Are you proposing to patch older versions of Kube if we do
change to support this as well?

[2016-10-14 21:31] quinton-hoole commented on #27236
We're seeing this again consistently on federation e2e tests.  Not yet sure what the root cause is, but a wild guess would be that we have a regression as per above.

cc: @kubernetes/sig-cluster-federation @kubernetes/sig-testing @colhom @madhusudancs

[2016-10-14 21:33] roberthbailey commented on #34378
A bunch of our cluster deployment code doesn't have timestamps, but these two lines bound the start of cluster creation to after cluster validation has suceeded:

[code]

That lines up with the first 3 restarts being early in cluster creation and not related to the `kubectl version` failure.

[2016-10-14 21:34] #31779 closed

[2016-10-14 21:35] mml commented on #33344
This has caused several failures today https://k8s-testgrid.appspot.com/k8s#kubemark-500-gce&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Density%5C%20%5C%5BFeature%5C%3APerformance%5C%5D%5C%20should%5C%20allow%5C%20starting%5C%2030%5C%20pods%5C%20per%5C%20node

[2016-10-14 21:35] roberthbailey commented on #34378
Also, it's strange that right after the `kubectl version` timeout, getting the cluster status (which also seems to print the version) suceeded in 200ms:

[code]

[2016-10-14 21:36] luxas commented on #34324
FYI, you can fetch the token already this way:
[code]

May be a bit hacky, but it works :smile:

[2016-10-14 21:36] roberthbailey commented on #34378
https://github.com/kubernetes/kubernetes/blob/master/hack/e2e-internal/e2e-status.sh runs `kubectl version` if it isn't testing cluster federation.....

[2016-10-14 21:38] roberthbailey commented on #34856
We'd like to see 1.4 patched.

[2016-10-14 21:39] maisem commented on #34856
@roberthbailey beat me to the reply. Yeah we only care about fixing this in v1.4+.

[2016-10-14 21:42] smarterclayton commented on #34856
The problem being that clients would have to send both to work with all
servers, but that that would break your internal proxy, so you'd need to
switch to sending query params, which means graceful deletion would be
broken from a kubectl 1.4 against 1.3?

On Fri, Oct 14, 2016 at 5:39 PM, Maisem Ali <notifications@github.com>
wrote:

[2016-10-14 21:45] mml commented on #33344
@wojtek-t @ncdc it looks as if #34851 is supposed to fix this.  Correct?

[2016-10-14 21:51] dashpole commented on #33444
Just taking a couple notes regarding this issue:
Running on GCI (using overlayfs): we report the RootFs as: path: '/', device: '/dev/root', and ImageFs as: path: '/var/lib/docker', device: 'dev/sda1'
Running on Ubuntu Trusty (using devicemapper), we report the RootFs and ImageFs as: path: '/dev/disk/by-uuid/c303...edf9', and device: '/'

The desired behavior is that using overlayfs, the RootFs and

[2016-10-14 21:54] ixdy commented on #27236
@quinton-hoole do you have a link showing the failure?

[2016-10-14 22:25] miracle2k commented on #30656
@adarshaj @smarterclayton Thanks for the tips. `su -m` has it's own issues (the home dir is wrong), but I did make it work in the meantime. The point though is - that's why I posted it here - is that I'd like to see "kubectl exec" do the right thing. Maybe even use the user that the docker file defines.

[2016-10-14 22:26] yolkov commented on #33894
No, I put the yaml in /etc/kubernetes/addons.
If I uncomment a line kubernetes.io/cluster-service: "true", then pods created and immediately terminated.
If I comment out the line, then pods, deployment not created.

[2016-10-14 22:27] eparis commented on #16508
I will say that Red Hat decided to package kube in 3 parts. master, node, client. While possible to run apiserver, controller-manager, and scheduler on different pieces of hardware it was sufficiently unlikely that that are delivered together. It also means that it is more difficult to get into the (rather bad) situation of having, say, an old apiserver and a new controller manager.

I believe the

[2016-10-14 22:31] mbohlool commented on #34641
btw, I have a plan to down-generate 1.2 spec from OpenAPI. If that happens
in 1.5 (I hope it does) we don't need to change anything in swagger.

Mehdy Bohlool |  Software Engineer |  mehdy@google.com |  mbohlool@github
<https://github.com/mbohlool>

On Fri, Oct 14, 2016 at 1:15 PM, Mehdy Bohlool <mehdy@google.com> wrote:

[2016-10-14 22:34] k8s-merge-robot opened #34863 "kubernetes-e2e-gci-gce-proto: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-proto/943/

Run so broken it didn't make JUnit output!

[2016-10-14 22:44] smarterclayton commented on #34641
We could carry a transform in our side to avoid the need to modify
go-restful if you think it'll change.

On Fri, Oct 14, 2016 at 6:31 PM, mbohlool <notifications@github.com> wrote:

[2016-10-14 22:50] MrHohn commented on #33894
Hmm, that is weird. In theory, if configuration file got put under the correct path, the Addon Manager should create it automatically.

Was there another kube-dns addon running? Are the other addons' configuration files put in the same place? Were they running properly?

And was there any suspicious error in Addon Manager's logs?

[2016-10-14 22:55] yolkov commented on #33894
no

[code]

[2016-10-14 23:01] k8s-merge-robot opened #34865 "kubernetes-e2e-kops-aws-updown: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws-updown/2102/

Run so broken it didn't make JUnit output!

[2016-10-14 23:03] lavalamp opened #34866 "Load balancer controller doesn't wait for caches to fill"
Seen in logs after a controller-manager restart:

[code]

I think this means that the only thing keeping it from blowing away working load balancers is the fact that it managed to check before it loaded any services, as opposed to before it had loaded all services.

[2016-10-14 23:05] thockin commented on #16508
On Fri, Oct 14, 2016 at 12:23 PM, Drew Rapenchuk
<notifications@github.com> wrote:

I was sort of kidding - you'll have to try harder than that if you
want to offend me :)

What process changes?  At worst, this would be changing "foo" to
"hyperkube foo", but that could be symlinked away so there would
literally be no change in scripts or anything.

Updating binaries is the same - plop hyperkube in

[2016-10-14 23:16] roberthbailey commented on #34856
Clients don't have to work with all servers, just +/- 1 version. So a 1.4 client should work with 1.3, 1.4, and 1.5.

Since you said that the server would accept both, why do we need to change the client at all?

[2016-10-14 23:17] roberthbailey commented on #34856
(or rather, we could change the client at head, and then remove the body handling in the server once we get to k8s 1.7 or so)

[2016-10-14 23:18] erictune commented on #34377
@davidopp  who also likes resource fairness and batch and elasticity.

[2016-10-14 23:22] smarterclayton commented on #34856
A 1.4 client that sends query params wouldn't be able to talk to a 1.3
server, unless I miss your point.

On Fri, Oct 14, 2016 at 7:17 PM, Robert Bailey <notifications@github.com>
wrote:

[2016-10-14 23:32] dhawal55 commented on #34560
duh!! I forgot to configure it as volume, feel so stupid. That's what happens when you are down with flu and try to get work done. Thanks @ncdc and sorry for the false alarm. Closing this issue.

[2016-10-14 23:32] #34560 closed

[2016-10-14 23:34] Random-Liu commented on #34672
One example is `StopContainer`. Different runtime may have different implementation for `StopContainer`. If `StopContainer` does release some resource, e.g. IP address, then once it fails, should the container be marked as `Running` or `Exited`?

If it is `Running`, I'm not sure whether Kubelet may get confused. We are not sure whether `Running` means a working container or just some leaked resour

[2016-10-14 23:40] MrHohn commented on #33894
Thanks for the log.

Seems like it is not Addon Manager who deleting it. I'm not aware of what other components are also using label `kubernetes.io/cluster-service: "true"` to manage resource (except `kubectl cluster-info`, but it is not deleting things). I will try to reproduce it.

BTW, your YAML file does not include the exec-healthz container but you are still specifying liveness probe for the

[2016-10-14 23:41] thockin commented on #34453
Apply also does patch - can you verify by reading-back that the YAML you
wanted got saved correctly?

On Fri, Oct 14, 2016 at 2:15 AM, Werner Beroux <notifications@github.com>
wrote:

[2016-10-14 23:50] yolkov commented on #33894
I updated the config kubedns-deployment on top. I get it from https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/skydns-rc.yaml.base.

logs from another addon-manager:
[code]

[2016-10-14 23:51] k8s-merge-robot opened #34868 "kubernetes-soak-continuous-e2e-gke-gci: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gke-gci/212/

Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should update nodePort: udp [Slow] {Kubernetes e2e suite}

[code]

Issues about this test specifically: #33285

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking re

[2016-10-14 23:58] yifan-gu commented on #34672
First, I am not sure which runtime is cleaning up IPs in `StopContainer`. Can we suggest runtime clean up resources in `RemoveContainer`? Why this is not achievable? It's true that different runtime will have different implementation, but isn't the whole purpose of the CRI is to make some explicit contract for runtimes? And I think we can make it clear by stating something like:

[code]

[2016-10-15 00:01] mikedanese opened #34869 "Add an lgtm button to PR dashboard."
@rmmh

[2016-10-15 00:01] mikedanese opened #34870 "Allow users to add labels to things from gubernator"
Which will allow us to have more fine grained ACL.

@rmmh

[2016-10-15 00:02] k8s-merge-robot opened #34871 "kubernetes-e2e-gci-gke-autoscaling: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-autoscaling/304/

Multiple broken tests:

Failed: [k8s.io] Cluster size autoscaling [Slow] shouldn't increase cluster size if pending pod is too large [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}

[code]

Issues about this test specifically: #34581

Failed: [k8s.io] Cluster size autoscaling [S

[2016-10-15 00:02] k8s-merge-robot opened #34872 "kubernetes-e2e-gci-gke-reboot: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-reboot/512/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by ordering unclean reboot and ensure they function upon restart {Kubernetes e2e suite}

[code]

Issues about this test specifically: #33882

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dr

[2016-10-15 00:04] rmmh commented on #34870
Please file gubernator issues in test-infra.

I've moved this to kubernetes/test-infra#842.

[2016-10-15 00:04] #34870 closed

[2016-10-15 00:04] yifan-gu commented on #34846
OK, I will take a look

[2016-10-15 00:05] k82cn commented on #34820
xref https://github.com/mesosphere/kubernetes-mesos/issues/724

[2016-10-15 00:05] rmmh commented on #34869
Folded into kubernetes/test-infra#842

[2016-10-15 00:05] #34869 closed

[2016-10-15 00:06] erictune commented on #34377
I agree with @erikerlandson that elasticity and fair resource sharing are both part of a good usability story for Spark on Kubernetes, or any type of batch computation on Kubernetes.

I think fairness is something that should happen at the Kubernetes level.  So, if I start a Storm job and Tim starts a Spark job, and Jane starts a TensorFlow job, and so on, I think we each expect to get a fair shar

[2016-10-15 00:14] MrHohn commented on #33894
Wait, what do you mean by another addon manager? There should be only one addon manager running, right?

Or you mean the logs in another case. Could you please tell me which log corresponding to which case?

[2016-10-15 00:21] fluxrad commented on #19634
Looks like using the `-A` flag with dnsmasq relieves quite a bit of pressure on Skydns:

#### dnsmaq args:
[code]

#### New test

[code]

I'm still seeing timeouts talking to AWS so there may be a separate issue there. We still probably have a number of bogus queries that slip through and don't resolve, e.g. `google.com.au.default.svc.cluster.local` or what have you. Ameliorating DNS load in this

[2016-10-15 00:26] wernight commented on #34453
I not sure I understand your question. My YAML that I tried to apply is as above in this bug report (at least the relevant section).

[2016-10-15 00:34] maisem commented on #34856
If we only change the 1.4 and 1.5 servers to accept both.
We change the 1.5 client to use query parameters.
We change 1.6 to only accept query parameters (not accept body).

[2016-10-15 00:39] pouledodue commented on #32334
any news on that? I need this

[2016-10-15 00:58] montanaflynn commented on #21656
@saromanov when I upgraded to 1.4.0 it stopped happening.

[2016-10-15 01:19] karlkfi commented on #16508
FWIW, this mentality is why the controllers are all bundled together under one controller-manager and aren't individually extensible. This is a large contributing factor to why kubernetes-mesos had to build its own binary and why it became such an unmaintainable mess. If everyone installs and tests as one binary it become harder to replace/extend core components.

[2016-10-15 01:19] yolkov commented on #33894
thanks!!!

I ran 3 addon-manager on the master nodes. I killed the extra addon-manager. It worked.

[2016-10-15 01:19] Random-Liu commented on #34672
@yifan-gu
1) In current kubelet implementation, we'll not remove all containers unless the pod is deleted, so that user can still describe the pod and get container status. If these stopped but not removed container still hold scarce resources, like IP address, we'll have less and less available addresses unless the pods are deleted.
2) In the dockershim implementation, @freehan told me that we'll

[2016-10-15 01:27] Random-Liu commented on #34672
@euank Yeah, I agree. I believe rkt itself will manage all resources well, and kubelet don't need to worry about any resource leakage or something, just call CRI is enough.

For dockershim, because we are managing something which is not managed by docker directly, such as container logs, ip addresses and maybe more in the future. Ideally, dockershim itself should manage the resources well, and mak

[2016-10-15 01:34] yifan-gu commented on #28667
@freehan Could you elaborate what's included in the`network workflow`? Do you have any examples here?
My thought is we should keep the common logic in the kubelet's network package, and the special part as CNI plugins. Isn't that why we need plugin for?

From what I understand, today's runtimes can be categorized into two types:
- namespace based (docker, rkt with nspawn stage1, cri-o)
- vm based

[2016-10-15 01:37] #17151 closed

[2016-10-15 01:45] yifan-gu commented on #34672
@Random-Liu OK you are right, we teardown() before killsandbox(). (shame on me, actually I am the one who just wrote the exactly same code in the refactor PR...)

How about we also run teardown()/cleanup() before RemoveSandbox()?
Which is a no-op if it's already cleaned up, and if it fails, it blocks the RemoveSandbox().

[2016-10-15 01:59] erikerlandson commented on #34377
I am doing some experiments with how this prototype interacts with namespaces, to see what kind of issues and best practices arise with using them as a resource sharing mechansim.

I generally agree that it's desirable to keep as much advanced scheduling logic out of spark itself, as possible.  Spark has a concept of fair-share that can be configured, although at least in a standalone cluster it d

[2016-10-15 02:23] chrislovecnm commented on #30338
@thockin I know u are super busy, but any ideas on this one?

[2016-10-15 02:25] madhusudancs commented on #33886
@owenhaynes This is fixed in v1.4.2 now. Could you please verify?

[2016-10-15 02:25] #33886 closed

[2016-10-15 02:34] MrHohn commented on #33894
Surprise to know that! When you said `the master nodes`, do you mean you also have multiple master nodes? We expect only one master node in one cluster, and others should be non-master nodes. Just wanna make sure.

[2016-10-15 03:24] justinsb commented on #34866
See also #34267 ... I am not sure that we always get lucky.

[2016-10-15 03:29] justinsb opened #34874 "servicecontroller key should be ID, not name"
A user reported that rapidly creating & deleting a Type=LoadBalancer service would not necessarily update the ELB (on AWS) correctly.

Looking at the servicecontroller code, it seems that the key we are using is the name.  However, I think we should be using the ID, so that we don't fall into this trap.  Also, the load balancer name is derived from the ID, not the name; the assumption was that the

[2016-10-15 03:32] justinsb commented on #34660
@bprashanth are you talking about a reconciliation to the actual state of the world (i.e. read the list of all ELBs), or just a re-read of the desired state of the world?

[2016-10-15 04:00] bprashanth commented on #34660
Yeah re-list from kube, make sure ELBs are as we expect them to be, re-write kube-status if necessary. If a human messes something up, it should get corrected o(soon). We do the periodic relisting, but we don't actually follow through into the cloudprovider today, we just compare our (servicecontroller's) cached state with what the master gives us.

[2016-10-15 04:11] k8s-merge-robot opened #34875 "kubernetes-soak-continuous-e2e-gci-gce-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gci-gce-1.4/230/

Multiple broken tests:

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}

[code]

Issues about this test specifically: #26982 #32214 #33994 #34035

Failed: [k8s.io] Kubelet [Serial] [Slow] [

[2016-10-15 04:26] vishh commented on #33444
ImageFS is the filesystem under which docker image layers are stored. In
the case of overlayfs this can be a dedicated partition too. For example,
`/var/lib/docker` can be on a dedicated partition.

On Fri, Oct 14, 2016 at 2:52 PM, David Ashpole <notifications@github.com>
wrote:

[2016-10-15 04:31] rapenchukd commented on #16508
want to offend me :)

Dont tempt me!

By processes I mean many possible small things, individual changes are not large, but certainly shouldnt happen in a point release. Changing sourcing for binaries, changing binary name(s), dozens of scriptas and orchestrations tests. Hundreds of documentation points, video documentstion that needs correcting, a general rethinking of how people use kubernetes a

[2016-10-15 05:21] tnachen commented on #34377
Identifying idle executors is already done by the dynamic allocation by Spark itself, so generally you don't need to do anything in k8s. The native integration code from k8s will be called from Spark and it will then need to shut down those executors. Same as when the job needs more executors.

[2016-10-15 05:25] tnachen commented on #34377
@erictune @erikerlandson definitely agree with fair sharing and elasticity being important for usability, but just want to prioritize doing the basics well first (deploy executors and client jars, also including python, R, how to get logging, error handling, , etc).

[2016-10-15 05:46] k8s-merge-robot opened #34878 "kubernetes-e2e-gci-gce-serial-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-serial-release-1.4/168/

Run so broken it didn't make JUnit output!

[2016-10-15 05:47] roberthbailey commented on #34856
What @maisem said -- I don't think we should back-port the client changes. But we should back-port the server changes to accept either query parameters or a body.

[2016-10-15 06:00] matchstick commented on #28081
@rootfs Please take a look. Everyone keeps getting pulled off this, and you taking ownership would be great. @saad-ali @jingxu97 @childsb @wattsteve

[2016-10-15 06:10] pwittrock commented on #33664
@erictune @janetkuo

This could live either outside the deployment in a CICD system that forces forces a new deployment rollout.  Alternatively, it could be a field on the deployment.  WDYT?

[2016-10-15 06:12] wojtek-t commented on #33344
Yes  - it is now fixed.

[2016-10-15 06:12] #33344 closed

[2016-10-15 06:33] chy168 commented on #27885
the same error happened:

[code]

server info:
Kubernetes: 1.3.6
Linux kernel: 4.4.0-38-generic
Docker version: 1.12.1

[2016-10-15 06:42] bowei commented on #29055
# Dnsmasq memory consumption

To reproduce these results:

https://github.com/bowei/contrib/tree/dnsmasq-mem/dnsmasq-mem

## TLDR

dnsmasq in its current configuration caps the size of its cache to 10k records.
(See `src/options.c`) It will not use more than 3mb for typical workloads. When
the cache limit was removed, we get the following memory usage scaling:

cache size | memory footprint
------

[2016-10-15 06:58] k8s-merge-robot opened #34879 "kubernetes-e2e-gci-gke-test: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-test/85/

Multiple broken tests:

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}

[code]

Issues about this test specifically: #26982 #32214 #33994 #34035

Failed: [k8s.io] V1Job should fail a job [Slow] {Kubernete

[2016-10-15 07:23] k8s-merge-robot opened #34880 "kubernetes-e2e-gci-gke-serial-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-serial-release-1.4/192/

Run so broken it didn't make JUnit output!

[2016-10-15 07:38] k8s-merge-robot opened #34881 "[k8s.io] PetSet [Slow] [Feature:PetSet] [k8s.io] Basic PetSet functionality should handle healthy pet restarts during scale [Feature:PetSet] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-alpha-features/562/

Failed: [k8s.io] PetSet [Slow] [Feature:PetSet] [k8s.io] Basic PetSet functionality should handle healthy pet restarts during scale [Feature:PetSet] {Kubernetes e2e suite}

[code]

[2016-10-15 07:39] luxas commented on #34406
Fixed by: #34341

[2016-10-15 07:39] #34406 closed

[2016-10-15 07:44] luxas commented on #34016
There is no UI installed by default for kubeadm
You can install the UI from https://github.com/kubernetes/dashboard

Everything what you've outputted so far seems to be correct.
apiserver is listening on localhost:8080 unsecurely, and on 443 securely