[2015-06-30 17:26] bprashanth commented on #10242
Do we need to do a smart weight policy pre 1.0? If we change the hardcoded weights to a weight function we could eventually expose this through the scheduler api. For now it could be dumb.

[2015-06-30 17:27] derekwaynecarr commented on #10495
@deads2k - agree, that is the intent, trivial subcommand is the singular form of <resource>, so

[code]

[2015-06-30 17:29] dchen1107 commented on #10420
I updated #10451 which has the same cause as this one. This is known issue because heapster collects /stats too frequently. PR #9809 was merged for v0.20 release should mitigate the issue.

@yujuhong did measurement on today's kubelet, and measurement can be found at https://github.com/GoogleCloudPlatform/kubernetes/issues/10451#issuecomment-117268016

[2015-06-30 17:30] smarterclayton commented on #9180
I don't know that TimeoutHandler is lower level enough - we want to have
that be applied almost at the Filter level of an individual restful
Container WebService (per type) - i.e. the CONNECT / PROXY / WATCH
behaviors should all be handled like this, and then log retrieval is inside
of a particular handler.  I would think we would want a helper to apply to
a given http.ResponseWriter and propagate

[2015-06-30 17:30] erictune commented on #3338
I'd like to see this split into two issues, one for usability, and one for performance.
The former is much more urgent.

[2015-06-30 17:31] erictune opened #10555 "Make --validate default on for kubectl"
the --validate flag improves error messages for kubectl, for example by pointing out invalid fields.
Why is it off by default?

[2015-06-30 17:31] avinci commented on #10420
any idea why this happens?
https://groups.google.com/forum/#!topic/google-containers/aoWv7wCd4uk

[2015-06-30 17:31] erictune commented on #10555
@bgrant0607

[2015-06-30 17:39] yujuhong commented on #10420
@avinci, the error message means that the system was running out of inotify watches. There was some discussion in #7815 related to this topic.

How many containers were you running on the machine?

[2015-06-30 17:42] avinci commented on #10420
We currently are running around 30-40 containers out of which atleast 30% of the containers are Kube containers like pause etc.

again on c4.x8 machine. we are seeing tons of other scale issues, space not found, not available resources all sorts of just runtime operational issues...

[2015-06-30 17:44] dchen1107 commented on #10489
Ok, I am moving this to post 1.0.

[2015-06-30 17:45] dchen1107 commented on #10451
@yujuhong Thanks for the measurement here. Please add more loads to the kubelet and measure the cpuusage of kubelet, docker and kube-proxy from HEAD. Thanks!

Also #10420

[2015-06-30 17:49] roberthbailey commented on #10116
@zmerlynn offered to make the required changes to salt.md. Feel free to assign back to me (or create separate issues) if we need to cover anything other than salt here.

[2015-06-30 17:49] quinton-hoole commented on #10548
Completely disagree, unfortunately. We have e2e tests that require an environment other than GCE, and we (Google) don't currently have e2e tests running outside of GCE from Jenkins C.I. yet.  So I think that this issue should be reformulated as a combination of "Run e2e in more environments"  and "enable 3rd parties to share Ci test results".  We have issues for both of those already.  I think tha

[2015-06-30 17:49] alex-mohr commented on #9356
#10487 is the current PR, with discussion as to whether we're going to try to get this into v1 or whether we should push it to later.

[2015-06-30 17:54] mikedanese commented on #10420
@avinci are you using the aws cloud provider scripts or do you have a custom deployment of kubernetes?

We should maybe increase sysctl limits with salt config. I've seen people run into limits for `fs.inotify.max_user_watches`, `net.ipv4.netfilter.ip_conntrack_max`, `fs.file-max` and ulimit.

[2015-06-30 17:58] thockin commented on #10489
It was urgent to make sure it was known.  We tell users to edit this file
to enable privileged containers, and then we destroy their work.

On Tue, Jun 30, 2015 at 10:45 AM, Dawn Chen <notifications@github.com>
wrote:

[2015-06-30 18:00] dchen1107 commented on #10489
@thockin I am going to make --allow-priority as default for kubelet like what we discussed earlier for 1.0 :-)

[2015-06-30 18:00] #10016 closed

[2015-06-30 18:08] dchen1107 commented on #10409
If we want to cut v0.20.2, please do include PR #10400; otherwise, I plan to update our release notes for v0.20.1 for such breakage.

[2015-06-30 18:09] dchen1107 commented on #10409
Ahh, I just saw @alex-mohr already includes pr #10400

[2015-06-30 18:10] alex-mohr commented on #10409
Yeah, just sent #10559 to cherrypick 3 PRs into v0.20.2:
  * Don't make kubelet systemd service depend on Docker #10400
  * Kubelet doesn't fight apiserver for cputime on the master. #10471
  * Wait until a token shows up to start addons (redux) #10542

*Unmerged* candidate for v0.20.3:
 * Make UpgradeAwareProxyHandler use transport.Dial if provided #10529

[2015-06-30 18:12] bhourigan commented on #1957
+1 for consul

[2015-06-30 18:15] yujuhong commented on #10451
FYI, the cpu profile:

![test](https://cloud.githubusercontent.com/assets/10524058/8438215/504ec1a8-1f19-11e5-9c35-5940fba310f5.png)

[2015-06-30 18:16] erictune opened #10560 "kubectl get pods says REASON, but reason for what?"
Example output from my cluster:
[code]

What is the REASON column a reason *for*?
It looks like it is the reason for being terminated if terminated, otherwise it is showing `status.phase`, except when `status.phase == "Failed"`, in which case it shows one of the `.status.containerStatuses[].state.terminated.reason`.

I think it would be clearer to show phase and then reason, so that it is clear th

[2015-06-30 18:20] zmerlynn commented on #10548
@quinton-hoole: This is more referring to tests like Elasticsearch that somehow fell off our radar completely.

[2015-06-30 18:20] zmerlynn commented on #10548
(Not accepting v1.0-post, sorry.)

[2015-06-30 18:22] alex-mohr commented on #9576
@rassie Apologies for the issue.  It wasn't intentional -- likely an artifact of build scripts being run by different people?  I'll check out 0.20.2 as I build it to make sure it has the right perms.

[2015-06-30 18:23] vmarmol commented on #10543
If we don't set shares Docker uses the kernel default which is 1024 (1 core for us). We treat 0 as "not specified" here: https://github.com/GoogleCloudPlatform/kubernetes/blob/0f1c4c25c344f70c3592040b2ef092ccdce0244f/pkg/kubelet/dockertools/docker.go#L308

We should probably either change that or use a different value as "zero".

[2015-06-30 18:26] bgrant0607 commented on #10560
cc @andronat @ghodss

[2015-06-30 18:31] quinton-hoole commented on #10548
Sorry - I might have misunderstood what is being proposed here.  Is it just the audit being proposed here, or are you proposing deleting all of the e2e tests from the code base if they are not being run by Google's Jenkins C.I. The latter I'm rejecting, but the former is totally reasonable.

[2015-06-30 18:31] bgrant0607 commented on #10543
I don't care whether it's on purpose, accidental, or by negligence, but "0" shouldn't translate to 1024. It should translate to the smallest share we can set. In particular, "0" should be less than "100m".

When we implement nested cgroups, they'd go into a "best effort" cgroup.

[2015-06-30 18:34] quinton-hoole commented on #10548
PS:  Elasticsearch did not fall off our radar.  It's just that it is currently too flaky to provide a reliable signal of regressions, and is hence in the flaky group of tests, explicitly.  Just two days ago I discussed promoting it with @satnam6502 and we decided not to.  As soon as it's reliable (which it might well be by now) and the system is stable (it should be) we can promote it back to the

[2015-06-30 18:35] krousey commented on #9180
Also the server level read and write timeouts don't even close TCP sessions. It just makes the writes and reads error. The TCP session doesn't end until the handler returns (or close it manually if you hijack the net.Conn).

[2015-06-30 18:37] zmerlynn commented on #10548
How about the narrower statement: "We need to make sure that at least one of our Jenkins configurations covers each GCE/GKE-capable e2e test."

Is there a bug open for everything that's been demoted? I'm not sure of that.

[2015-06-30 18:37] quinton-hoole commented on #10548
And to be clear, a test being labelled flaky is not necessarily any indication that there is anything wrong with the test.  It's more common for there to be something wrong with the system.  But as long as it's flaky, for either reason, it cannot provide a useful signal indicating regression, and is hence excluded from our set of reliable regression indicators.

[2015-06-30 18:37] zmerlynn commented on #10548
@quinton-hoole: Totally agree with having a sickbay for flaky tests, but if something is perma-sickbayed, it's also bad.

[2015-06-30 18:37] ncdc commented on #9180
@krousey yeah, it took me a while to figure out that was happening. Not a great UX.

[2015-06-30 18:38] quinton-hoole commented on #10548
@zmerlynn Yes, every GCE-capable test is run in one of e2e-gce, e2e-gce-flaky, e2e-reboot, or e2e scalability.  If that's not the case, it's a bug which I can take responsibility for.  And yes, and audit to confirm this is a good idea, and I can do it.

[2015-06-30 18:43] thockin commented on #10480
I don't know the Ubuntu setup, but the primary platforms are all HTTPS - is
there even a non-https port open any more?  On my master I see :8080 bound
to localhost only and :443 exposed.

On Tue, Jun 30, 2015 at 12:31 AM, Gangadhar <notifications@github.com>
wrote:

[2015-06-30 18:47] parikhyash opened #10564 "Deleting a replication controller using the REST API doesn't delete the pods"
I'm trying to use the REST API to bring down a Redis cluster that I've launched.

However, a DELETE call on the replication controller doesn't bring down the pods associated with it. Is this the expected behavior?

"kubectl stop" on a replication controller brings down the associated pods as well. So it seems that there's some disparity.

@bgrant0607

[2015-06-30 18:50] andronat commented on #10560
The way I see it is that `REASON` explains why `READY` is not `n/n` and it is something like `0/n` or `1/n`. Maybe we should discard `Running` from `REASON`?

[2015-06-30 18:54] dchen1107 commented on #10543
Ahh, I misunderstood you @bgrant0607 earlier. Again I still think we should have better spreading algorithms in scheduler, or apply LimitRanger with default resource limit for all namespaces. But that is different issue. What you proposed here do make sense. I move this to 1.0, and assign it to myself. I am going to change this to "match" our internal system (2ms).

[2015-06-30 19:01] jackgr commented on #1702
@smarterclayton I'm starting on diff+patch now. Will look at porting your 3 way.

[2015-06-30 19:02] liggitt opened #10565 "Propagate Retry-After headers correctly"
`NewServerTimeout` and `NewTimeoutError` allow setting `retryAfterSeconds` suggestions, but those suggestions do not result in `Retry-After` headers.

`SuggestsClientDelay` extracts that value, but it is only used in a test.

[2015-06-30 19:05] liggitt commented on #10565
@quinton-hoole fyi

[2015-06-30 19:07] quinton-hoole commented on #10548
cc @ixdy who's doing a kind of an audit right now.

[2015-06-30 19:13] erictune commented on #168
Docker appear to support a `--cpu-quota` flag now.  Should we set that where it is supported?  This brings the behavior of limit for CPU closer to memory.  https://docs.docker.com/reference/run/#runtime-constraints-on-resources

[2015-06-30 19:14] ixdy commented on #10548
Based on the config in hack/jenkins/e2e.sh, we should hopefully be able to make sure that something demoted to flaky definitely runs in the flaky project; in particular, the e2e-gce project is configured with `--ginkgo.skip=${GCE_DEFAULT_SKIP_TEST_REGEX}|${GCE_FLAKY_TEST_REGEX}` and the gce-e2e-flaky project is configured with `--ginkgo.skip=${GCE_DEFAULT_SKIP_TEST_REGEX} --ginkgo.focus=${GCE_FLAK

[2015-06-30 19:25] quinton-hoole commented on #10565
UX team/ @bgrant0607 the basic problem here is that we don't appear to surface retryable API errors correctly.  I'm not sure whether this is something we want to fix in v1.0 - I'll leave it to you to decide.

[2015-06-30 19:27] chiefy commented on #10467
@roberthbailey yeah, I actually got them working with my [terraform based project](https://github.com/chiefy/tf-aws-kubernetes). I will fork + PR.

[2015-06-30 19:37] smarterclayton commented on #1702
#10502 is porting some of it right now

On Jun 30, 2015, at 3:01 PM, Jack Greenfield <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton> I'm starting on
diff+patch now. Will look at porting your 3 way.

—
Reply to this email directly or view it on GitHub
<https://github.com/GoogleCloudPlatform/kubernetes/issues/1702#issuecomment-117304672>
.

[2015-06-30 19:38] davidopp commented on #168
Would using that mean people couldn't burst over their requested (limit) CPU (at least over non-short timescales)? I'm not sure that's desirable. IMO it is better to distribute up 100% of the CPU in proportion to what people have requested (limit) rather than limit people to what they requested.

[2015-06-30 19:43] smarterclayton commented on #168
That matches our experience - and how we run today (fair, but allow
bursting when it's available).

On Jun 30, 2015, at 3:39 PM, David Oppenheimer <notifications@github.com>
wrote:

Would using that mean people couldn't burst over their requested (limit)
CPU (at least over non-short timescales)? I'm not sure that's desirable.
IMO it is better to distribute up 100% of the CPU in proportion to what

[2015-06-30 19:57] #9420 closed

[2015-06-30 19:57] #9414 closed

[2015-06-30 20:11] derekwaynecarr opened #10570 "Determine if we should support cpuset-cpus and cpuset-mem"
Docker now supports `cpuset-cpus` and `cpuset-mem` arguments when running a container to control which cpus can execute a container.  We have been asked by some users if we plan to support this feature in Kubernetes.

https://docs.docker.com/reference/run/#runtime-constraints-on-cpu-and-memory

Opening an issue to gather feedback on if its desired or not.

@erictune @dchen1107

[2015-06-30 20:26] bprashanth opened #10571 "Kubelet should unmount before trying to remove orphaned pod dirs"
Often observed in logs:
[code]

However:
[code]

Which probably means we'd be ok unmounting it:
[code]

This probably also means we don't delete orphaned mirror pods, which is the next step in SyncPods (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1477).

[2015-06-30 20:28] krousey opened #10572 "kubectl replace command breaks tests"
in pkg/kubectl/cmd/replace.go under RunReplace, there's

[code]

Running `godep go test` in this directory panics with index out of range errors. Shippable/CI didn't pick this up because when run through hack/test-go.sh, the first arg is `-test.timeout=120s`

So this also doesn't account for any flags that could be between kubectl and the command.

[2015-06-30 20:32] erictune commented on #168
@davidopp It's comforting to see that our positions remain unchanged and opposite after all these years. :wink:

[2015-06-30 20:35] caesarxuchao commented on #10572
FWIW, same problem here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg%2Fkubectl%2Fcmd%2Frollingupdate.go#L108

[2015-06-30 20:36] krousey commented on #10572
Yea that would have caused test panics to... if it were tested. Both should probably be fixed since they don't properly handle the `kubectl -flag command` case.

[2015-06-30 20:36] roberthbailey commented on #10467
Thanks! I'd much rather see the configs catch up to a newer kubernetes version that keep old flags around.

[2015-06-30 20:42] erictune commented on #5247
I'm fine with not all clusters being the same and I've documented two options in #10271

[2015-06-30 20:42] #5247 closed

[2015-06-30 20:54] timstclair commented on #10368
Thanks Robert, that was exactly what I needed. I was able to reproduce this running (only) the Restart test: `go run hack/e2e.go -v -test --test_args="--ginkgo.focus=Restart"`

I've uploaded the test output and the kubelet & kube-proxy logs here: https://drive.google.com/file/d/0B_-O9fAr2fafNll5R2pmM3p0bG8/view?usp=sharing

At the beginning of the kubelet log, it complains that there is "no api se

[2015-06-30 20:59] saad-ali commented on #10335
Here are the results from a 4 node cluster 200 pod run.

## Test Setup
* Cluster characteristics:
  * 4 nodes
  * `n1-standard-1 (1 vCPU, 3.75 GB memory)`
* Test duration: 24 hours total
  * 200 pods (in addition to default), with 2 containers each (total 400)
  * Container used was a small a statically-linked C program that just sleeps for 28 days with a container size of 877.6 kB.

## Results
##

[2015-06-30 21:01] #10452 closed

[2015-06-30 21:01] bgrant0607 commented on #10543
Thanks. #10242 covers the scheduling of containers with no resources specified.

[2015-06-30 21:03] yujuhong commented on #10531
`minimum-container-ttl-duration` sets "Minimum age for a finished container before it is garbage collected", but it only guarantees that a container would *NOT* be GC'd before that.

What you want to set is `--maximum-dead-containers`, which is the "Maximum number of old instances of a containers to retain globally`. The default is 100, once the number of dead containers is greater than 100, GC wo

[2015-06-30 21:07] caesarxuchao commented on #10572
cc @bgrant0607

[2015-06-30 21:07] saad-ali commented on #10335
Here are the results from a 4 node with 0 additional pods ("no load").

## Test Setup
* Cluster characteristics:
  * 4 nodes
  * `n1-standard-1 (1 vCPU, 3.75 GB memory)`
* Test duration: 24 hours total
  * Only default kubernetes pods (no additional pods)
  * Container used was a small a statically-linked C program that just sleeps for 28 days with a container size of 877.6 kB.

## Results
### Mem

[2015-06-30 21:12] lavalamp commented on #10368
I'm running Restart test on my cluster I started last night to see if I can repro.

[2015-06-30 21:13] lavalamp commented on #10368
Just to confirm, the log files are from a node, not your master, correct?

[2015-06-30 21:13] dchen1107 commented on #10420
@avinci There are two issues reported from the link you were referring at: https://groups.google.com/forum/#!topic/google-containers/aoWv7wCd4uk

1) Both error messages are come from cadvisor. In Kubernetes environment, cadvisor is running as part of kubelet for better integration in the future.
2) The first one: cadvisor tries to run du to get disk usage of each docker container, and report it as

[2015-06-30 21:23] JanetKuo commented on #5906
@bgrant0607 `-o` isn't supported in all kubectl commands. Should we use `-q name` instead to make it work for both get and mutations?

[2015-06-30 21:27] roberthbailey opened #10577 "kube-apiserver generates a self signed cert that doesn't work for the kubernetes service"
If no certificate is passed on the command line, kube-apiserver will [generate a self signed certificate](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L451-L452).

We need to update the cert generate to add a few subject alternate names as per https://github.com/GoogleCloudPlatform/kubernetes/pull/10107.

[2015-06-30 21:27] lavalamp commented on #10368
I repro :'(

[2015-06-30 21:33] lavalamp commented on #10368
Although my kubelet doesn't seem to have auth errors. I get:

"0630 21:32:09.218542    3078 kubelet.go:777] Unable to register kubernetes-minion-fmp0 with the apiserver: minion "kubernetes-minion-fmp0" already exists"

[2015-06-30 21:35] lavalamp commented on #10368
Vagueified title, since I'm not sure of cause anymore.

[2015-06-30 21:43] smarterclayton commented on #5906
I think we should eventually support -o on all commands - it's mostly that
we haven't gone back to create/update/delete since they were the first
commands.

On Jun 30, 2015, at 5:24 PM, Janet Kuo <notifications@github.com> wrote:

@bgrant0607 <https://github.com/bgrant0607> -o isn't supported in all
kubectl commands. Should we use -q name instead to make it work for both
get and mutations?

—
Repl

[2015-06-30 21:43] mbforbes commented on #10368
Good thing we turned off the reboot and restart tests I wrote!

[2015-06-30 21:45] JanetKuo commented on #5906
Discussed with @bgrant0607 and decided to add the following changes to only mutations*:
* Add `-o name` (prints current output)
* Make default output more verbose/understandable (such as `[object_name] [operation] successfully`)

*Mutations include: create, delete, expose, label, patch, replace, rollingupdate, run, scale, stop

[2015-06-30 21:46] roberthbailey commented on #10368
Weird. That should only be logged if apierrors.IsAlreadyExists(err) returns false (see https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L782) which used to work (back when the aforementioned reboot tests were passing).

[2015-06-30 21:51] vishh commented on #10409
Can you include #10369 in the next patch release?

[2015-06-30 21:53] timstclair commented on #10368
Yes, those logs are from the kubelet (minion).

[2015-06-30 21:53] vsimon commented on #10522
I just tried this also with Release 0.20.2 Candidate on Ubuntu 14.04 with VirtualBox, Vagrant and I am seeing:
[code]

[2015-06-30 21:57] lavalamp commented on #10368
@roberthbailey not necessarily. If all three checks don't fire, it'll also be printed.

Another clue is that this is logging every 100ms, so somehow the backoff code doesn't work or isn't firing.

[2015-06-30 21:58] luxas commented on #9778
@miekg Can you explain to me what arguments kubelet sends to docker or how it starts the containers?
I didn't find for now that place in the source code...

Checked issue 14184 out and they now have solved the problem with **docker 1.7**, I wonder if kubelet gives some strange args to docker that makes it fail already in v1.6.2.

Thanks for the help

[2015-06-30 21:59] lavalamp commented on #10368
I see a bunch of bad things here. Let me send a PR.

[2015-06-30 22:02] medhedifour opened #10581 "Bad behavior of new node added to ubuntu cluster kubernetes"

[2015-06-30 22:04] RichieEscarez commented on #9220
#10130 (related to downward API)

[2015-06-30 22:13] alex-mohr commented on #10409
@vishh Can you please summarize why #10369 should be cherrypicked?  What's the state of the world if we don't patch vs. we do?  Is it fixing a regression?  That is, we need to finalize 0.20.x and it's not clear to me if this is just a nice to have that's fine waiting for 0.21 or more urgent.

[2015-06-30 22:14] davidopp commented on #168
Heh. One thing we could consider is making it a cluster-level or even pod-level configuration option. I don't think this is a question where one answer is obviously wrong, I just think one answer is slightly more useful to people than the other. But I can definitely imagine that some people would want the behavior you like, and it doesn't seem hard to make it an option.

[2015-06-30 22:16] zmerlynn commented on #10522
@dchen1107 - Is there someone on your team that could take a look?

[2015-06-30 22:22] dchen1107 commented on #10522
Honestly no, everyone is busy, and working on either cluster or network related issue. But I talked to @mikedanese briefly, he kindly agree to take a look. @mikedanese  The cloud provider here is Vagrant, if you could reproduce the issue, that would be huge help. Feel free to re-assign it to me if you are blocked. Thanks!

[2015-06-30 22:27] thockin commented on #10163
Progrium was just EOL'ed in favor of Alpine which has totally broken DNS.  YaY!

@vmarmol

[2015-06-30 22:31] thockin commented on #10163
for this issue we can use dig which should not use the host's resolver lib anyway, but in general this is pretty useless

[2015-06-30 22:34] dchen1107 commented on #10543
This issue is blocked by configuring default addon services with proper resource limit; otherwise, those services won't get any cpu.shares to run.

[2015-06-30 22:35] bgrant0607 commented on #10555
See #7600 and #5889.

[2015-06-30 22:37] briandorsey commented on #8521
Confirmed, after manually stopping an instance, the Managed Instance Group re-creates the instance after a few minutes and pods are successfully scheduled to it. (tested with a manual install of kubernetes release v0.19.3 to GCE)

[2015-06-30 22:37] #8521 closed

[2015-06-30 22:47] #9994 closed

[2015-06-30 22:49] #9398 closed

[2015-06-30 22:51] dchen1107 commented on #10522
cc/ @justinsb since he looked into valgrant issue lately. cc/ @derekwaynecarr on Valgrant.

[2015-06-30 23:01] bgrant0607 commented on #5906
cc @deads2k

[2015-06-30 23:03] bgrant0607 commented on #5906
Later PRs can:
* add `-o name` to get
* add `-o json|yaml|template` to mutations (applied to status object in apiserver response)

[2015-06-30 23:09] caesarxuchao opened #10586 "TODO: Revert #10585 when deprecated commands are removed"
#10585 is a temporary solution to check if a command is called by its alias. It should be reverted when deprecated commands are removed.

@bgrant0607 @krousey

[2015-06-30 23:09] dchen1107 commented on #10482
We did have logrotation, but on those bad node, kubelet writes those loggings too quickly before logrotation take action yet.

[2015-06-30 23:12] ae6rt opened #10587 "SecurityContext GoDoc error in v1 types.go"
This line of GoDoc appears to be a vestige from an earlier version of the API:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1/types.go#L1943

The line says SecurityContext.Privileged must match Container.Privileged.  Container.Privileged no longer exists in the v1 API.

I believe the line should be removed.  Or, replaced, in which case with what?

[2015-06-30 23:13] roberthbailey commented on #10577
@eparis do you have time to take a look at this?

[2015-06-30 23:15] roberthbailey commented on #10458
As discussed on the PR, this will land post 1.0.

[2015-06-30 23:20] ghodss commented on #10560
What if we keep the current behavior but rename REASON to STATUS? It seems like that would be a close enough approximation without adding width.

[2015-06-30 23:21] zmerlynn opened #10588 "Test failure in TestNewInvalid"
I let in a test failure somewhere along the way. Mea culpa.

[code]

[2015-06-30 23:25] bgrant0607 commented on #10318
yes, thanks

[2015-06-30 23:25] #10318 closed

[2015-06-30 23:27] roberthbailey commented on #7046
If we assume that addons are in the default namespace, is there further work to do here? Or is it only if we move addons to a different namespace?

[2015-06-30 23:30] bgrant0607 commented on #10202
We now have `kubectl patch` and `kubectl replace --force`.

[2015-06-30 23:30] #10202 closed

[2015-06-30 23:32] bgrant0607 commented on #10311
I don't think we have time to do this for 1.0. We'll get back to it later.

[2015-06-30 23:52] alex-mohr commented on #10337
I suspect we should do the following:
 * Make sure containerVM has a recent gcloud by default
 * Make sure kubectl is in the default path for that containerVM
 * Make sure that version of kubectl works with the v1 API regardless of master binary version without triggering the sanity check.

@thockin also mentioned driving cloud shell to get a more-recent gcloud and default to kubectl being install

[2015-06-30 23:56] #10482 closed

[2015-06-30 23:59] davidopp commented on #10553
I'm going to close this issue and copy the comments over to #9207.

[2015-06-30 23:59] #10553 closed

[2015-07-01 00:00] davidopp commented on #9207
@etune says "Failed to Fit pod errors are not useful"

Scheduler event:
[code]

Problems with this event message:
1. It says `Error`, but having pods fail to schedule is a common event in a system, and "Error" is too alarming a term.
1. It says `scheduling`, but the event makes it clear that this is about scheduling in both the `From` and `Reason` fields.
1. it says `For each of these fitness pred

[2015-07-01 00:00] erictune commented on #10560
I like @ghodss suggestion.

[2015-07-01 00:08] erictune commented on #10587
That line should be removed, as well the comment a few lines above about Container.Capabilities, which has the same problem.

[2015-07-01 00:09] satnam6502 opened #10591 "kubectl should accept slash-based specification of namespace and resource"
After doing:
[code]
It is then annoying to say:
[code]
which does even play well with double-click selection on Linux in my terminal. It would be nice to say:
[code]
which just requires one double click.
@jlowdermilk

[2015-07-01 00:13] dchen1107 commented on #10406
I believe reverting #10430 should fix this already.

[2015-07-01 00:13] #10406 closed

[2015-07-01 00:16] dchen1107 commented on #7046
cc/ @bgrant0607 @thockin and @davidopp since we just talked about moving addons to different namespace. If we think that one is p1, should we promote this one to p1 too?

[2015-07-01 00:18] bgrant0607 commented on #10064
Can this be closed?

[2015-07-01 00:20] bgrant0607 commented on #9453
Thanks for taking a look. Removing from 1.0. If it can't be reproduced, we can close. If it increases in frequency, we can reevaluate priority and milestone.

[2015-07-01 00:21] bgrant0607 commented on #9350
Can this be closed?

[2015-07-01 00:21] bgrant0607 commented on #8726
Can this be closed?

[2015-07-01 00:22] albertocsm commented on #5640
this https://github.com/bosun-monitor/bosun/issues/618 looks promissing

[2015-07-01 00:31] cjcullen commented on #10588
Fix merged.

[2015-07-01 00:31] #10588 closed

[2015-07-01 00:48] smarterclayton commented on #10064
I had a comment about the linked change - I would have preferred not to change etcd/error like this because it changes error filtering cases.

[2015-07-01 00:48] lavalamp commented on #10368
OK I think the problem is that the GCE external ID apparently can change when the node reboots. I'll send a PR. @dchen1107 does that make sense to you?

[2015-07-01 01:00] ixdy commented on #10548
There are some inconsistencies in the parallel vs. non-parallel runs that still exist.

Compare the regular expressions:
[code]

`GCE_FLAKY_TEST_REGEX` should be a subset of `GCE_PARALLEL_FLAKY_TEST_REGEX`, but it's not. In particular, the "Service endpoints latency" test is (was) disabled on the sequential builds but not all of the parallel builds (pull had it disabled, post did not); additionall

[2015-07-01 01:07] zmerlynn commented on #10548
I feel like we should perhaps automatically run those lists through dryrun
and diff them and see what pops out, on a regular basis.
On Jun 30, 2015 6:00 PM, "Jeff Grafton" <notifications@github.com> wrote:

[2015-07-01 01:24] feihujiang commented on #10591
@satnam6502 Do you start to work on this? If not, could you please let me work on this?

[2015-07-01 01:28] satnam6502 commented on #10591
It's a P3, this might not get "approved" by people like @jlowdermilk and nothing is going to happen until after 1.0 so I strongly recommend directing your energies towards other things. No, I don't intend to work on it (I am only doing P0 and P1 things for the V1.0 release).

[2015-07-01 01:32] erictune commented on #10591
I don't think we should do this.  `pods/foo` is at least part of a valid resource URL, but `namespace/foo` is not.  let's not invent arbitrary formats.

[2015-07-01 01:32] feihujiang commented on #10591
@satnam6502 I know, thanks for your reply.

[2015-07-01 01:37] feihujiang commented on #9511
@manansaraf Do you start to work on this? If you have no time, I could work on this.

[2015-07-01 01:41] manansaraf commented on #9511
Sure go ahead

[2015-07-01 01:44] thockin commented on #9861
@derekwaynecarr Any word on this?  I want to understand if this is actually a critical issue or a misconfig or something.  I'm going to have to close it if I don't hear back soon :)

[2015-07-01 01:47] odis912 commented on #10531
thanks!, '--maximum-dead-containers' is working.

[2015-07-01 01:48] thockin commented on #9849
I'm moving this to the post 1.0 category.  Scream if I am misinterpreting.

[2015-07-01 01:52] davidopp commented on #9849
Wasn't @dchen1107 saying there was something to do, and she would do it?

[2015-07-01 01:56] thockin commented on #9075
Status on this?  I want to get it off the books...

[2015-07-01 02:07] zmerlynn commented on #10531
Closing. Reopen if you'd like further assistance. Thanks for the help, @yujuhong!

[2015-07-01 02:07] #10531 closed

[2015-07-01 02:08] rajatchopra commented on #9861
Two fixes have gone in since:  #10562 and #10568 by @derekwaynecarr which hopefully fix the vagrant issues.

[2015-07-01 02:15] a-robinson opened #10596 "Run fluentd on the master to collect the master components' logs"

[2015-07-01 02:17] jiangyaoguo commented on #10564
Yes. If you want to delete rc and pods associated, you need to update replicas of rc to 0 and then delete rc.

[2015-07-01 02:23] parikhyash commented on #10564
@jiangyaoguo I see. So "kubectl stop" does both the operations that you described?

[2015-07-01 02:29] bgrant0607 commented on #10564
@parikhyash Yes, kubectl delete and kubectl stop resize to 0.

We'd like to implement this in the server eventually -- see #1535. But currently we don't.

[2015-07-01 02:29] jiangyaoguo commented on #10564
@parikhyash Yes. You can check help information of "kubectl stop". You'll see "If the resource is scalable it will be scaled to 0 before deletion".

[2015-07-01 02:36] roberthbailey commented on #10368
Really? The external ID is supposed to be the node name. How does that change across reboots?

Instance ID: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/cloudprovider/gce/gce.go#L563

External ID: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/cloudprovider/gce/gce.go#L554

[2015-07-01 02:45] doublerr commented on #10368
just FYI, I've seen this as well on other providers. Rebooting a node will put it in a NotReady state. removing the node and restarting the services force them to re-register.

[2015-07-01 02:48] erictune commented on #10570
#### Short answer
Not soon.

#### Long answer
Supporting both cpusets and cfs well is very complex.

Having to support both options will increase the development time of some features which we definitely want, such as:
 - QoS Tiers and dealing with CPU overcommitment
 - Auto-scaling

The complexity will become further evident if we later add features like:
 - normalizing CPU for different platform

[2015-07-01 02:51] alexanderguzhva commented on #10522
+1, 0.20.2 still has this issue

[2015-07-01 03:11] alexanderguzhva commented on #10158
v0.20.2, it looks like that the problem is still alive

1) fresh installation, vagrant
2) ./kube-up.sh, ends with 'dial tcp: connection refused'
3) vagrant halt
4) ./kube-up.sh

host machine: top
[code]

5) vagrant ssh master

"[root@kubernetes-master vagrant]# journalctl -u -r kubelet" is full of this
[code]

O_o, the same for "kubelet get rc" and "kubelet get services"
[code]

[2015-07-01 03:41] #10591 closed

[2015-07-01 03:42] adyanthaya17 commented on #10472
I tried it on chrome but I still am unable to see the web page :(

[2015-07-01 03:46] adyanthaya17 opened #10599 "Deploying kube-up cluster: Permission denied (public key)"
Hi, I'm building my kubernetes inside my openstack with the help of instances, while deploying the master and minion instance nodes I get the error 'Permission denied (public key). I have worked building on bare metal and I didn't face such issue then.

I have added the ssh-agent identity successfully.

[2015-07-01 04:27] adyanthaya17 commented on #10599
When I try the command with sudo this is what I get:

$ sudo KUBERNETES_PROVIDER=ubuntu ./kube-up.sh
Starting cluster using provider: ubuntu
... calling verify-prereqs
Could not find or add an SSH identity.
Please start ssh-agent, add your identity, and retry.

I've deleted and created the key freshly. And added the ssh-agent too.

[2015-07-01 04:46] davidopp commented on #10242
I created a spreadsheet to explore this issue. The hypothesis is that we can create a new spreading function (call it DumbSpreadPriority, to distinguish it from ServiceSpreadPriority) and give it an appropriate weight, so that pods will be spread (by number of pods) and will be biased towards machines with low usage after the new pod is placed (as computed by limits).

I used @bprashanth 's scoreH

[2015-07-01 04:47] davidopp commented on #10242
(Oh, and to be clear -- I wasn't using "smart weights." I was just adding a new algorithm to the mix and using exactly the same framework we currently have.)

[2015-07-01 05:03] davidopp commented on #9207
@erictune I will implement what you described except this one: "It says `For each of these fitness predicates .. failed on at least one node:` but there is only one predicate in this case. Lets be concise and to the point where possible. Maybe when only one predicate failed, say: `No node satisfied rule PodFitsResources`."

The message you saw does *not* mean "No node satisfied rule PodFitsResourc

[2015-07-01 05:05] bgrant0607 commented on #1990
@nikhiljindal Are there any known instances of this remaining?

[2015-07-01 05:14] bgrant0607 commented on #9502
cc @kmerker

[2015-07-01 05:16] nikhiljindal commented on #1990
None that I know of.

[2015-07-01 05:16] #1990 closed

[2015-07-01 05:17] nikhiljindal commented on #10064
Fixed by https://github.com/GoogleCloudPlatform/kubernetes/pull/10246

[2015-07-01 05:25] bgrant0607 commented on #7046
@marekbiskup @roberthbailey Future upgrades will need to be able to upgrade components in the new namespace. Assuming either default or kube-system for previously running add-ons seems fine.

@dchen1107 Yes, they should have the same priority.

[2015-07-01 05:34] nikhiljindal commented on #10515
I just tried it on HEAD and this works fine for me.
[code]
gave me the expected output.
Changing nodeName to anything else gave me the field label not supported error.
Here is my version
[code]

@sym3tri Can you please try syncing to HEAD and see if you still face this issue?

[2015-07-01 05:38] roberthbailey commented on #7046
@bgrant0607 -- I wasn't specific enough; what I meant to ask was whether there was any work remaining that blocks v1.0 if we leave the addons in the default namespace.

I was under the impression that the current addons updater scripts worked for addons in the default namespace but not if we move them to a new namespace. In this case, if we wait to move them, then we could bump the remaining work

[2015-07-01 05:42] zmerlynn commented on #10248
We just had 4 GCE runs in a row fail on this test.

[2015-07-01 05:44] zmerlynn commented on #10248
(I would be more concerned, but gke-ci racked up a green blob in the middle, so hey.)

[2015-07-01 05:44] thockin opened #10603 "Some volumes mix "what" and "how" in API"
The GCE PD volume (and several others) have a `ReadOnly` flag alongside all of the fields that identify a PD.  This works fine in plain old "mount a volume" mode - the user specifies in their pod just what they want (a specific PD) and how they want it (read-only vs read-write).

The problem arises with PersistentVolumes - they also hold the same VolumeSource struct with the PD name and the ReadOn

[2015-07-01 05:55] roberthbailey commented on #10337
It's a trivial salt change to put the kubectl from the release onto the user's path on the nodes just like we do on the master (see #10590). I'm not sure if this is the best fix, but it works.

[2015-07-01 06:02] thockin commented on #10337
Cloud shell will include it in an upcoming release.

On Tue, Jun 30, 2015 at 4:52 PM, Alex Mohr <notifications@github.com> wrote:

[2015-07-01 06:12] davidopp commented on #9207
I had a rather important typo in my previous comment, so please read on the web for the update.

[2015-07-01 06:16] gangadhars commented on #10480
When I try to deploy loadbalancer I got below logs.

kube-proxy.logs:
[code]

[2015-07-01 06:20] thockin commented on #10480
Is something else holding the iptables lock?  Some other firewall process
or something?  Firewalld?

On Tue, Jun 30, 2015 at 11:16 PM, Gangadhar <notifications@github.com>
wrote:

[2015-07-01 06:25] gangadhars commented on #10480
@thockin No. firewall is inactive.
[code]

[2015-07-01 06:40] thockin commented on #10480
SOMETHING is holding that lock.  `ps auxww` and `netstat -nap` please?

On Tue, Jun 30, 2015 at 11:25 PM, Gangadhar <notifications@github.com>
wrote:

[2015-07-01 06:42] WIZARD-CXY commented on #10265
@thockin I get all yes from token , ca.crt and pod has secret.
But kube2sky's log is
`
E0701 06:24:53.596237       1 helper.go:247] expected to load root ca config from /var/run/secrets/kubernetes.io/serviceaccount/ca.crt, but got err: open /var/run/secrets/kubernetes.io/serviceaccount/ca.crt: no such file or directory
I0701 06:24:53.596387       1 kube2sky.go:455] Using https://192.168.3.1:443 fo

[2015-07-01 06:48] thockin commented on #10265
Are you SURE the pod has the right secrets on it?

This suggests otherwise:

[code]

Can you `kubectl exec` into your DNS pod's kube2sky container and see what
is in the  /var/run/secrets/kubernetes.io/serviceaccount/ dir?

Did you try just deleting the DNS pod?  The replication controller will
recreate it.  If you hit the race, this will fix it.

On Tue, Jun 30, 2015 at 11:43 PM, Xingyu Chen <not

[2015-07-01 07:00] bgrant0607 commented on #10560
I'm fine with STATUS. It basically needs to be done today, though.

[2015-07-01 07:05] harish-myaccount opened #10605 "Unknown options: --exact-timestamps"
When running  ./cluster/kube-up.sh

Output is
Starting cluster using provider: aws
... calling verify-prereqs
... calling kube-up
Starting cluster using os distro: ubuntu
Uploading to Amazon S3
Creating mycompany-kubernetes
make_bucket: s3://mycompany-kubernetes/
+++ Staging server tars to S3 Storage: mycompany-kubernetes/devel
Unknown options: --exact-timestamps

[2015-07-01 07:08] wojtek-t commented on #10475
@derekwaynecarr

Can you write your doc as a design PR in docs/design, so its easier to comment on specific sections and give feedback on selective items?

Sure - will do. Let me just clarify something with @smarterclayton first (since it may change some things).

@smarterclayton

It seems like from the proposal above you're trying to avoid two things:
1. Having too many watches on etcd
2. avoidin

[2015-07-01 07:10] parikhyash commented on #10564
Got it. Thanks for the replies

[2015-07-01 07:12] harish-myaccount commented on #10605
deleted --exact-timestamps option in kubernetes/cluster/aws/util.sh from line
aws s3 sync

[2015-07-01 07:14] #10564 closed

[2015-07-01 07:15] marekbiskup commented on #10537
I need a fix for my other tests. I'll make a quick PR.

[2015-07-01 07:20] marekbiskup commented on #7046
@roberthbailey

There are two more things @erictune mentioned:
 1. kill children of kube-addons.sh (patch almost ready)
 1. suppress salt error message Failed when setting service kube-addons to start at boot (to be investigated)

[2015-07-01 07:24] WIZARD-CXY commented on #10265
Only a file named token in it.

[2015-07-01 07:44] devurandom commented on #10265
I do have a `serviceaccount`, but no secrets.

[2015-07-01 07:47] wojtek-t commented on #10282
Yes - this is still an issue. The failure with exactly the same logs just happened tonight:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-scalability/1649/consoleFull

For the reference:
- the node that had problems: e2e-scalability-minion-bv49 (104.154.79.113-22-kubelet.log in GCS)
- again there are logs like this:

        2814 I0701 05:44:17.407515   18374 container.go:369] Failed

[2015-07-01 08:42] andronat commented on #10560
I am on it

[2015-07-01 08:49] wojtek-t commented on #10282
This just happened again.

@bprashanth @lavalamp @davidopp
do you think that we should be reporting it as an error in scalability tests? If the Kubelet is dead and node controller is deleting the pods running on that node, ReplicationController will recreate them and they will be scheduled somewhere else. So maybe we should just log it and wait until all of them are running instead of failing the

[2015-07-01 08:54] stefwalter opened #10610 "No unique way to identify Kubernetes objects"
Previously we could use ```object.metadata.uid``` together with ```object.kind``` to uniquely identify kubernetes objects loaded on the client side. Both unique during a single snapshot, and temporally unique across creation/delete cycles (as near as makes no difference).

However that is currently no longer the case: The ```kubernetes``` service does not have a ```metadata.uid``` field.

Is this

[2015-07-01 09:00] bgrant0607 commented on #9350
I believe this was resolved by #10422.

[2015-07-01 09:00] #9350 closed

[2015-07-01 09:01] bgrant0607 commented on #8726
I believe this was resolved by #10422

[2015-07-01 09:01] #8726 closed

[2015-07-01 09:01] marekbiskup commented on #10537
#10609 renames the port. (it turned out that the port name wasn't used anyway)

@quinton-hoole , Correct me if I'm wrong: we don't need to do anything about tests because @satnam6502 's test does the job.

[2015-07-01 09:25] wojtek-t commented on #9349
@jszczepkowski - can you please take a look?

[2015-07-01 09:27] bgrant0607 commented on #3338
Usability is #5889

[2015-07-01 09:50] antoineco opened #10612 "kubectl can not resolve EC2 instance IDs (AWS)"
Regression introduced in #9728

Some kubectl subcommands like `logs` rely on the node name to perform an API call, and fail if this name is not resolvable:

Example:
[code]

[2015-07-01 10:08] pires commented on #9075
@thockin for real? #10344

[2015-07-01 10:11] pires commented on #5640
Prometheus already supports InfluxDB and others and seems the best solution so far.

[2015-07-01 10:30] #10248 closed

[2015-07-01 10:32] devurandom commented on #10265
I modified my cloud-config to better mimic `local-up-cluster.sh`, and also mixed in the example CoreOS cloud-init files as well as some changes from #10344. Now I get:
[code]

[2015-07-01 11:09] wojtek-t commented on #10282
cc @dchen1107
on the other hand, setting limits for addons may also solve this issue

[2015-07-01 11:11] dove-young commented on #8652
I hit to similar problem.

I am using hyperkube image, and it sets portal-net to 10.0.0.1/24 by default.  And all the services will be registered to this network.

[code]

I configured  flannel handles docker networks

[code]

Then I also hit problems that application cannot connect to database if application pod is not located in the same host as database pod.

when I try to access to the databas

[2015-07-01 11:15] WIZARD-CXY commented on #10265
@devurandom Aha, you have the same problem with me.I just use kube_master_url flag https://github.com/GoogleCloudPlatform/kubernetes/pull/10393

[2015-07-01 11:58] mwielgus opened #10616 "Misleading behavior when ~/.kube/config uses a non-existing context"
There are 2 problems here:

1. `kubectl config use-context foobar`. Should throw an error or at least print a warning if foobar is not defined.
2. `kubectl get pods` with non-existing current-context . There is no server to talk to but the error is:
[code]

[2015-07-01 12:04] lordkada commented on #10522
+1

[2015-07-01 12:26] piosz opened #10617 "Heapster is crashlooping with cluster monitoring set to google"
The cause is probably #10369

More context https://github.com/GoogleCloudPlatform/heapster/issues/381

[2015-07-01 12:44] deads2k commented on #5906
I like the idea of human readable by default and a separate flag for machine readable output flag.  `-o name` sounds fine, but how well will this play with `--all-namespaces`?   I'll get back a list of `kind(resource?)/name`, but that won't be sufficient to lookup when it gets piped.  Can we choose a machine readable format that is fully qualifying?

[2015-07-01 13:07] smarterclayton commented on #10610
It was a bug - but should have been fixed.  @liggiitt was there an existing
issue?

On Jul 1, 2015, at 4:54 AM, Stef Walter <notifications@github.com> wrote:

Previously we could use metadata.uid and metadata.kind to uniquely identify
kubernetes objects on the client side. Both unique during a single
snapshot, and temporally unique across creation/delete cycles (as near as
makes no difference).

H

[2015-07-01 13:26] gmarek commented on #10242
My feeling about complexity of analysis is similar to @davidopp, so I guess we should create a post-v1 issue for rethinking scheduling algorithm (and possibly rename scoring functions: LeastRequestedPriority confuses me all the time). In example currently I've no idea what is the definition of a thing we're trying to optimize for, hence is hard to reason what solution is 'good' for 0-limit case.

[2015-07-01 13:41] #10497 closed

[2015-07-01 13:41] #10262 closed

[2015-07-01 13:44] smarterclayton commented on #10475
the near future too.

I may have missed / forgotten this from an earlier discussion, but how
would this Indexer differ from the existing Indexer we have on the store,
which provides incremental atomic maintenance and is used by several
components already?  Indexers are coupled to API objects and Stores - so my
assumption is that reducing open watches would not impact the store.

multiple FIFOs". C

[2015-07-01 13:52] derekwaynecarr commented on #9861
@thockin - per the IRC discussion we had yesterday, this is all part of getting skydns fixed up.  I am hoping to get the core issues closed today.

[2015-07-01 13:56] derekwaynecarr commented on #10522
The fix for this issue is this PR:

https://github.com/GoogleCloudPlatform/kubernetes/pull/10492

[2015-07-01 13:56] derekwaynecarr commented on #10522
Assigning issue to me since I am focused today on closing out remaining Vagrant setup issues.

[2015-07-01 13:59] zmerlynn commented on #10522
Sigh, I'm sorry. So busy working through unassigned PRs I forgot to work through my own queue.

[2015-07-01 14:02] wojtek-t commented on #10475
Today we are starting to accumulate controllers and admission controllers
that watch the same content.  Namespaces are the best example.  Rather than
having two etcd list watchers feeding two stores with two FIFOs, I would
prefer one list watcher, one store, and two FIFOs.  That would then
preserve our existing design patterns and require no net new concept.

Sorry - my thought must have been uncl

[2015-07-01 14:04] wojtek-t commented on #10475
In that case, I will try to write a doc with the proposal as @derekwaynecarr suggested (hopefully later this week or next week).

[2015-07-01 14:07] moix opened #10620 "elasticsearch failing due to /var/run/secrets/kubernetes.io/serviceaccount/token: no such file or directory"
It is happening in a 0.19 installation on centos servers.

docker version is:
Client version: 1.6.2
Client API version: 1.18
Go version (client): go1.4.2
Git commit (client): ba1f6c3/1.6.2
OS/Arch (client): linux/amd64
Server version: 1.6.2
Server API version: 1.18
Go version (server): go1.4.2
Git commit (server): ba1f6c3/1.6.2
OS/Arch (server): linux/amd64

I disables selinux as commented https:/

[2015-07-01 14:08] smarterclayton commented on #10475
Ok - I was confused by the watch processor discussion, since the
terminology I was expecting to hear was "multiple DeltaFIFOs on a store",
as well as "unifying underlying etcd watchers under etcd helper".  I think
we're on the same page - sorry :)

On Wed, Jul 1, 2015 at 10:04 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-07-01 14:11] wojtek-t commented on #10475
@smarterclayton - thanks. I will try to be more clear when writing this doc.

[2015-07-01 14:15] derekwaynecarr commented on #10250
You can create the service for your frontend.

And you can then SSH into any minion and curl the internal service ip.

I am fixing some SkyDNS issues today on Vagrant setup, but will round back on this issue later today with full set of steps (and probably look to update the documentation).

[2015-07-01 14:15] bgrant0607 commented on #5906
@deads2k I agree that --all-namespaces is problematic. That's a separate issue -- #3731. The form kubectl accepts on its command line would need to be extended with namespace if we wanted to add namespace to the output.

[2015-07-01 14:22] bgrant0607 commented on #3338
Note that the lame error message has been known for a long time: https://github.com/golang/go/issues/6716

[2015-07-01 14:25] ocsbrandon commented on #10522
@derekwaynecarr, I was running into the same issue and cherry picked your changes in #10492, but still have the same issue. Prior to those changes the kubelet never started on the master. With the changes it does start, but I still get:
[code]
It looks like #10562 also needed before vagrant works correctly.

[2015-07-01 14:25] PeterLamar commented on #10250
Indeed, I was SSH into the minion and curling the internal service ip. It would be worth adding that to the docs as a trouble shooting option and I am happy to create the pull request.

In this particular case, that wasn't working and I suspect it was due to a separate issue. You just verified that these steps still should work which is good to know.

[2015-07-01 14:25] markturansky commented on #10603
Original issue/bug for persistent-claim ReadOnly flag:  https://github.com/GoogleCloudPlatform/kubernetes/issues/10244

[2015-07-01 14:29] medhedifour opened #10621 "I cannot access to pods' ip adress scheduled to a new minion added to cluster ubuntu"
@WIZARD-CXY
When adding new node to kubernetes cluster on ubuntu, I cannot access to new pods in this new minion with their ip adress.

[2015-07-01 14:29] markturansky commented on #10603
Not all Volumes have ReadOnly.  All PersistentVolumes have ReadOnly.

All storage volumes have ReadOnly.  If the intention is to migrate them to PV only, then no remaining volumes would have ReadOnly (but I think it might make sense for HostPath).

[2015-07-01 14:40] WIZARD-CXY commented on #10621
Did you configure the flannel network?

May the force be with you

[2015-07-01 14:47] medhedifour commented on #10621
Initially I configured flannel in the new node
but after adding this new minion to cluster, flannel is falling down

[2015-07-01 14:50] zmerlynn opened #10622 "Pull request builder flaking on DNS / Probing container"
http://goto.google.com/prkubekins/job/kubernetes-pull-build-test-e2e-gce/1456 is an example, but I've seen it a bunch:

[code]

I'm not seeing similar failures on kubernetes-e2e-gce-parallel

[2015-07-01 14:50] zmerlynn commented on #10622
cc @ixdy @quinton-hoole

[2015-07-01 14:55] medhedifour commented on #10621
@WIZARD-CXY
Initially I configured flannel in the new node
but after adding this new minion to cluster, flannel is falling down

[2015-07-01 14:56] markturansky commented on #10603
If you found #10424 clumsy, please re-review and see the IsReadOnly flag I had to add to Builder to get at all the private implementations and their private readOnly fields.

[2015-07-01 15:00] antoineco opened #10623 "Multiple concurrent docker image pulls may lead to layer corruption"
When adding a new node to an existing cluster (k8s 0.19.3), all containers scheduled on this node fail to start with the following pod event log:

[code]

All subsequent container restart fail with the following error (also mentioned in #7332)

[code]

When this starts happening Docker fills the local disk indefinitely at a rate of about 4GB/minute with only 4 scheduled containers.

[2015-07-01 15:01] WIZARD-CXY commented on #10621
how do you configured?It is a bit tricky

May the force be with you

[2015-07-01 15:05] medhedifour commented on #10621
I executed : etcdctl mk /coreos.com/network/config ' {"Network":"10.0.0.0/16"}'
and I started service flanneld

[2015-07-01 15:21] RichieEscarez commented on #9984
I agree the getting started grid covers the specific combinations that work but there are several details about Nodes mentioned in #10271 that aren't mentioned elsewhere: https://github.com/erictune/kubernetes/blob/how-to-write-a-gsg/docs/getting-started-guides/scratch.md#nodes

Do you think it would benefit users (those who use the pre-canned getting started guides) if a copy of that "Nodes" sect

[2015-07-01 15:22] satnam6502 commented on #10537
There is an existing PR which changes the port names #10453 which has been waiting for a merge for a while -- so you could cherrypick the commit in that -- my PR for the namespace change also has that change. I think that is preferable to making a new PR.

[2015-07-01 15:23] derekwaynecarr commented on #10570
@erictune - I am going to direct the original questioner to this issue for feedback on their needs, but my initial response was in-line with yours prior to opening the issue.

[2015-07-01 15:24] antoineco commented on #10623
Here is the procedure I have to follow in order to make the node operational:
* stop kubelet
* unmount kubelet's tmpfs volumes
* wipe /var/lib/kubelet/pods
* pull the images manually
* restart kubelet

[2015-07-01 15:32] WIZARD-CXY commented on #10621
Your configurations are wrong.
First, you need to add to the existing etcd cluster, the /coreos.com/network/config key exists, no need to set it again.
Second, docker bridge ip is getting from a file from flannel daemon , it is not the 10.0.0.0/16 in your case.
I understand It is a little hard for you to add a new node to the cluster.Now is 11:30 pm in China. I will figure it out tomorrow and tell

[2015-07-01 15:33] zmerlynn commented on #10537
@satnam6502: Sorry about that. My memory really has been goldfishy as on-call.

[2015-07-01 15:36] #10445 closed

[2015-07-01 15:37] thockin commented on #10623
Is this a matter of a wrong image (typo or something) or is there an actual bug in finding that image?

[2015-07-01 15:37] satnam6502 commented on #10537
Thank you kindly, whoever you are.

[2015-07-01 15:38] thockin commented on #10623
A quick try on near-HEAD does not repro this, but it's not clear how to do so.

[2015-07-01 15:38] medhedifour commented on #10621
@WIZARD-CXY
Ok
Thanks

[2015-07-01 15:39] thockin commented on #10623
@dchen1107 or @yujuhong for triage

[2015-07-01 15:40] delianides commented on #9801
@justinsb Any idea why I would still be getting "Unable to find VPC"  even if my VPC is named `kubernetes-vpc`?

The error I see in kube-controller-manager logs is this:

[code]

[2015-07-01 15:47] antoineco commented on #10623
No there is no typo, as the log mentions the image is actually pulled and only after that everything falls apart.

I can reproduce it at 100%. It **seems** to happen because several pods try to pull the same image simultaneously.

[2015-07-01 16:06] thockin commented on #10623
ah, I mis-parsed the logs before.  So it could still be a GC issue, but
that should not be so reproducible.  There are 2 issues in play.  First,
why the pull succeeds and the run fails.  Second, why something (kubelet?)
goes into a loop trying the same thing over and over

On Wed, Jul 1, 2015 at 8:47 AM, Antoine Cotten <notifications@github.com>
wrote:

[2015-07-01 16:11] lordkada commented on #10522
Yep, I picked #10492 and then merged #10562 and it started to work again... just my 2 cents

[2015-07-01 16:26] dchen1107 commented on #10623
Yeah, my first impression is I resolved this kind of issues before and caused by GC. :-) But you are right, GC shouldn't be so easy to reproduce, especially we changed the logic not using untagged filter to list images, and decide which ones are not useful.

@antoineco You mentioned that you can reproduce it 100%. Could you please give more detail on the steps how to reproduce it? When you reprodu

[2015-07-01 16:47] shankeriyer opened #10624 "How to query resource utilization metrics from the pod"
Hi
I am trying to query the actual resource utilization of containers running with a pod. Is there a mechanism with the API that provides for that?
Thanks
Shanker

[2015-07-01 16:51] JanetKuo commented on #10372
Issue fixed with #10519

[2015-07-01 16:51] #10372 closed

[2015-07-01 16:52] quinton-hoole commented on #10507
Fixed by #10523

[2015-07-01 16:54] antoineco commented on #10623
It seems to happen if at some point nodes are in a `NotReady` state:

---
State before adding the node

[code]
[code]

---
We add a new node

[code]
[code]

---
After a short period of time

[code]

---

I'll create a gist with my logs.

[2015-07-01 16:56] quinton-hoole commented on #9486
Fixed by #10453

[2015-07-01 16:56] #10507 closed

[2015-07-01 16:57] dchen1107 commented on #10242
I like this idea, and believe we need this spreading algorithms in a long run anyway.

Kubelet can report resource-usage at all 3 levels: node, pod and containers, including system daemons. The problem is that there is no API available to retrieve such information after v1beta3 refactory. All those usage data are collected by heapster directly, and there is no pipeline to feed such data to API ser

[2015-07-01 17:04] antoineco commented on #10623
Logs available here: https://gist.github.com/antoineco/f03b389a23ffe22fddfe

[2015-07-01 17:05] aronchick commented on #831
@elibixby Interesting - could you just mount those scripts and libraries in an NFS volume? Or is that overly complex for the solution?

[2015-07-01 17:07] bgrant0607 commented on #8686
Another addon: the UI

[2015-07-01 17:08] dchen1107 commented on #10623
Could you please run kubectl describe nodes <node-name> when it is notReady, and share with us the output? NotReady could be caused by docker is not running, kubelet is not responding to API server, or node network configuration issue, etc.

Also from what you posted above, you have two nodes in NotReady state, and looks like they are stuck at that state, but newly joined node is in Ready very qui

[2015-07-01 17:10] antoineco commented on #10623
The `NotReady` nodes have been stopped unintentionally to simulate a failure (I simple stopped kubelet)

Not sure if this is relevant but kubelet seems to mount multiple times the same secret:
[code]

[2015-07-01 17:11] bprashanth commented on #10282
The feeling I got from https://github.com/GoogleCloudPlatform/kubernetes/issues/9788 was, when something starts hogging memory (eg: heapster without cgroup limits) we wait for it to get oom killed. We increase the chances that the oom killer kills the right things by setting oom score. In theory, this should ensure that we never kill a system daemon and the node should not flip into NotReady.

If

[2015-07-01 17:15] bprashanth commented on #9349
Fyi I think reboot is part of the tests we're skipping (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/hack/jenkins/e2e.sh#L69), so if we don't think reboot is important/stable enough to run regularly, this probably isn't a 1.0 bug

[2015-07-01 17:19] erictune opened #10626 "Group Namespace and Cluster in UX"
I'm proposing a best practice for Kubernetes UX:  **Group namespace with cluster, not name**
### Rationale

Teams will frequently be exposed to the existence of multiple clusters:
- vagrant on laptop for development on airplane
- testing new version of Kubernetes software
- multiple divisions in company who refuse to share nodes
- multi-cloud/multi-region

The tuple of (ClusterName, Namespace) uni

[2015-07-01 17:21] erictune commented on #10626
@stefwalter who I think is working on UIs for openshift, for this thoughts on this proposal

@smarterclayton to redirect to other openshift UI people for their feedback.

@bgrant0607 for obvious reasons.

[2015-07-01 17:22] elibixby commented on #831
Yeah it's a possible workaround. That becomes a lot more heavyweight if I want a large "library" of scripts or programs that I want to attach to containers. Much easier to maintain images in a image repository, than maintain a fleet of disks.

[2015-07-01 17:28] eparis commented on #10293
I'm going to go ahead and close this.  We have ansible in contrib/ansible.  In fact it works better than the salt stuff in some ways!

[2015-07-01 17:28] #10293 closed

[2015-07-01 17:32] thockin commented on #10603
Note I did not mean to imply clumsy was your fault here - the API conflates
concepts.

As for not all V having RO, sure they do - they can all be RO bind
mounted.  How different plugins interpret read-only is up to them.  Some
(PD) will do a different attach call.  Others will just ignore mount RO.

On Wed, Jul 1, 2015 at 7:57 AM, Mark Turansky <notifications@github.com>
wrote:

[2015-07-01 17:32] bgrant0607 opened #10628 "Essentially all kubectl commands should accept a filename param"
Forked from #10493

I'd like essentially all commands operating on sets of resources to accept `-f`. The general idea is that if I have a directory full of config files, I want to use that to construct a list of objects on which to perform arbitrary operations.

Concretely, the following commands would need to accept FilenameParam:
* describe
* get
* expose
* label (and annotate, if/when we add th

[2015-07-01 17:35] erictune commented on #10626
Related:
#3731 #8225

[2015-07-01 17:37] bgrant0607 commented on #3731
See also #10626

[2015-07-01 17:39] bgrant0607 commented on #3731
And #10591

[2015-07-01 17:40] dchen1107 commented on #10623
Ok, I ruled out GC in kubelet completely, but there is a bug introduced by GC which generates a wrong event related to image pulling. I will explain that later.

From both docker and kubelet log, I saw pulling image does failed:

[code]

[code]

Since you are pulling an image from a private registry, have you followed the steps here:https://github.com/GoogleCloudPlatform/kubernetes/blob/master/doc

[2015-07-01 17:42] mikedanese commented on #10617
Does your branch include #10523? There was a race condition where serviceaccount ssl certs were sometimes not mounted for the cluster addons. Deleting the pod and allowing it to be recreated would temporarily fix it. #10523 should be a permanent fix.

[2015-07-01 17:44] mikedanese commented on #10617
Related issue #10507

[2015-07-01 17:47] antoineco commented on #10623
No I'm still using the old-fashioned way of dropping a .dockercfg in /var/lib/kubelet, but I can give `ImagePullSecrets` a try.

I also noticed these errors, and when I observe what's happening on the local machine it seems that images are deleted and pulled at the same time, resulting in a conflict. A watch on `docker images` alternatively shows me my tagged images and dangling images.

[2015-07-01 17:48] bgrant0607 commented on #10626
I agree we should nuke the namespace/name syntax.

There are at least 2 perspectives to consider:
1. Ordinary users, who will just live within a single namespace.
2. Cluster admins, who will have access to all namespaces.

Will think about the rest when I have time.

[2015-07-01 17:49] bgrant0607 commented on #3731
Also relevant: #10009 and #7111

[2015-07-01 17:49] mikedanese commented on #10617
Actually I am incorrect. I will investigate.

[2015-07-01 17:49] dchen1107 opened #10629 "Kubelet misreports the image is pulled successfully when simultaneously pulling the same image"
Forked from #10623:

When kubelet simultaneously pulling the same image, it might mis-report an image is pulled successfully, and later starting container failed due to no such image.

Here is the piece of related kubelet log:

[code]

From docker log, pulling such image always failed:

[code]

The bug causes the confusion to the users.

[2015-07-01 17:50] erictune commented on #10626
Yes, we should not join two things with a slash if that thing is not a substring of a resource URL.

[2015-07-01 17:50] bgrant0607 commented on #10009
Quick note: We need to think about the syntax printed and accepted by kubectl. Currently it uses resource/name.

[2015-07-01 17:50] erictune commented on #10626
Brian also mentioned how api groups will affect URL structure.  Consider that.

[2015-07-01 17:53] bgrant0607 commented on #10626
See also:
https://github.com/GoogleCloudPlatform/kubernetes/issues/3731#issuecomment-82602492
https://github.com/GoogleCloudPlatform/kubernetes/issues/10009#issuecomment-117764944

[2015-07-01 17:57] lavalamp commented on #10282
@dchen1107 this is your hobby horse, I think.

@wojtek-t I'm guessing that setting limits for addons will resolve this, so let's wait for that and see?

[2015-07-01 17:57] erictune opened #10630 "Kubectl calls a Kind a "Resource""
kubectl help strings say "RESOURCE", but resource means the thing itself, not its type.
According to docs/api-conventions.md, we call the type of the thing the "kind".  So the help strings should change to "KIND".

example:

[code]

should read:

[code]

[2015-07-01 17:58] dchen1107 commented on #10623
I filed #10629 for misreporting issue.

When you said the image is deleted later, do you mean the same image you manually pulled from docker outside kubernetes? That is possible since you might pull image, but not used it for some window of time, and kubelet GC kicks in. I think if you run docker run with your image manually instead of docker pull, that image shouldn't be removed at all.

But stil

[2015-07-01 17:59] lavalamp commented on #10475
I will try to find time to give feedback on this next week.

[2015-07-01 18:00] antoineco commented on #9801
@justinsb today I hit another issue which makes me believe the cloudprovider should really be able to determine in which VPC the cluster is running:

I created a node which happened to have the same IP as another instance in a different VPC, and the API Server could not register it because of a conflict.

[2015-07-01 18:07] yujuhong commented on #10623
I saw the image pulling failed until around 16:55, where docker seemed to report that the image existed.
[code]
After that, there was no "No such image" error messages anymore. In the meantime, kubelet was still unable to start the containers.

Unless docker was wrong, the image was pulled successfully. @dchen1107, did I interpret the logs wrong?

[2015-07-01 18:08] antoineco commented on #10623
Thanks a lot for taking care of it.

My images are not deleted if I pull them manually, only if several pods are scheduled simultaneously on the same node and all of them attempt to pull the same image.

I was mistaken regarding the tmpfs mounts, this is why I cleaned up my original post :)

[2015-07-01 18:10] wojtek-t commented on #10475
@lavalamp - thanks - I will try to write my proposal in more clear way as a doc. Will let you know once it is ready.

[2015-07-01 18:12] lavalamp commented on #3933
Late to the party-- anything that serializes the internal structs is BROKEN and needs to be fixed. :( :(

[2015-07-01 18:14] bgrant0607 commented on #3933
I completely agree.

My preference is to nuke api/types.go.

[2015-07-01 18:16] antoineco commented on #10623
The quickest way to reproduce the issue is simply to provision a fresh node without pre-pulled images and to run:

[code]

If at least one Replication Controller in the cluster is scheduled with a sufficient amount of replicas (n.nodes * 3 for example) the problem will occur.

[2015-07-01 18:18] yujuhong commented on #10624
You can query kubelet directly for the information.
[code]
For example. "curl --insecure https://localhost:10250/stats/foo/bar"

[2015-07-01 18:22] dchen1107 commented on #10623
@yujuhong you interpret the log right. That is also what @antoineco said above, he can pull image manually through docker. I bet around 16:55, he did manual pull.

[2015-07-01 18:31] dchen1107 commented on #10623
@yujuhong is going to carry on with the issue. The first step is reproducing the issue based on https://github.com/GoogleCloudPlatform/kubernetes/issues/10623#issuecomment-117779553

[2015-07-01 18:35] smarterclayton commented on #10626
@liggitt

On Wed, Jul 1, 2015 at 1:53 PM, Brian Grant <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-07-01 18:36] derekwaynecarr commented on #10250
You would have needed https://github.com/GoogleCloudPlatform/kubernetes/pull/10562

I am now investigating this issue relative to that PR to see if there are any other issues.

[2015-07-01 18:55] derekwaynecarr commented on #10250
Ok, I ran through the guestbook example, and verified that with #10562, I am able to curl the service ip address for the frontend from any minion in the cluster and get a response.

[2015-07-01 19:01] #10357 closed

[2015-07-01 19:10] jayunit100 commented on #10293
Yup! Sorry this was obsolete...

[2015-07-01 19:14] caseydavenport opened #10638 "Kubelet hard-codes network plugins directory."
The kubelet supports networking plugins as of (merged) PR https://github.com/GoogleCloudPlatform/kubernetes/pull/5069.  However the directory used to locate plugins is hard-coded.

This is especially relevant on CoreOS systems, where the /usr directory is mounted as read-only, making it difficult to install networking plugins into the hard-coded directory "/usr/libexec/kubernetes/kubelet-plugins/n

[2015-07-01 19:25] yujuhong commented on #10623
@antoineco, does the kubelet/docker log include the [kubelet restart and manual image pull you mentioned](https://github.com/GoogleCloudPlatform/kubernetes/issues/10623#issuecomment-117714220)? I didn't see any restart messages in kubelet.log you provided.

[2015-07-01 19:27] lavalamp commented on #10368
@roberthbailey Well, empirically, it happens. Should we file a bug with GCE? I think we need this change anyway, in case it changes on some other provider.

[2015-07-01 19:28] lavalamp commented on #10368
@roberthbailey We don't use the external id as the node name.

[2015-07-01 19:34] bgrant0607 commented on #1571
cc @thockin

[2015-07-01 19:34] bgrant0607 commented on #3059
cc @thockin

[2015-07-01 19:35] bgrant0607 commented on #3059
We also want to translate the links to release-specific links, for releases.

[2015-07-01 19:36] bgrant0607 commented on #1571
Now more important since we're forking the docs for each release.
cc @nikhiljindal

[2015-07-01 19:50] suyogbarve commented on #10539
Seems like something might be broken with latest release
yum - install kubernetes (results in the above problem.)

However the problem was resolved on installing *0.20.0-0.3.git835eded.fc21.x86_64.rpm

[2015-07-01 19:54] antoineco commented on #10623
Not at all, the logs are from a freshly provisioned node. Do you need the logs after a manual cleanup+pull?

[2015-07-01 19:59] yujuhong commented on #10623
Nope. I just wanted to make sure that the image pull success wasn't caused by your manual pull. Then kubelet did report the pull success correctly, unlike what @dchen1107 stated above in  https://github.com/GoogleCloudPlatform/kubernetes/issues/10623#issuecomment-117789108

[2015-07-01 20:02] dchen1107 commented on #10623
Yes, in this case, it looks like there is indeed a serious bug in kubelet.

[2015-07-01 20:07] gmarek commented on #10242
I have a PR for RC spreading ready - I'll test it tomorrow and send it for review before Monday.

[2015-07-01 20:07] yujuhong commented on #10623
If I understand correctly, your reproduction steps cause the replication controller to create new pods, and some of the pods will be assigned to the freshly provisioned node. I should be able to reproduce it by just creating a replication controller with sufficient #replicas using a image that is not already on the nodes. I tried that but did not run into any bugs.

If the image GC actually kicked

[2015-07-01 20:17] yujuhong commented on #10623
@antoineco, I would like to rule out the possibility that the image doesn't exist on the node. It is possible that the container couldn't start for other reasons. Could you try manually starting a docker container using the image?

[2015-07-01 20:20] erictune commented on #10425
I'm sure I deleted /root/.dockercfg.
Thanks for trying.
Weird.

[2015-07-01 20:20] #10425 closed

[2015-07-01 20:29] davidopp commented on #10242
Sorry my previous message was so long. I'm suggesting something very simple for 1.0:

1) Take @bprashanth 's PR and split the algorithm into a separate priority function (but use 10 as the denominator instead of max pods reported by NodeStatus)
2) Weight that priority function with weight 2 (all the others are currently weighted as 1)

And that's it. I think it's good enough.

[2015-07-01 20:38] gmarek commented on #10242
SG for v1, but we should revisit afterwards. In my message I was referring to your message one before the last long one.

What's your take on extending Service spreading to RC? The problem is that some of examples do not care about the order of RC/Service creation, even though it's crucial for the current implementation of Scheduler.

[2015-07-01 20:45] CpuID commented on #10605
FYI this option was added in awscli Version 1.3.23, there is a bugfix in 1.5.3 though.

https://github.com/aws/aws-cli/blob/develop/CHANGELOG.rst

If you update awscli this should work unmodified. Maybe the kube-up.sh script should have an awscli version check?

[2015-07-01 20:46] ixdy commented on #10622
The flaky tests have occurred on all of the executors, so it doesn't seem like it's related to that.

A lot of the recent failures are all on #10487 (e.g. builds 1486, 1484, 1474, 1473, 1466) though there are failures for other PRs earlier than that.

Still digging...

[2015-07-01 20:48] ixdy commented on #10622
The probing container test failed on the kubernetes-e2e-gce-parallel build once: https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-parallel/2531/

[2015-07-01 20:50] ixdy commented on #10622
Also a DNS flake in build 2490 on June 29: https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce-parallel/2490/

[2015-07-01 20:53] ixdy commented on #10622
The probing container test shows an error message like the following before failing:
[code]

I'm not sure how to interpret this.

[2015-07-01 20:54] ixdy commented on #10622
Similar error messages from the DNS test.
[code]
etc.

Is there some issue with docker that we're hitting?

[2015-07-01 21:02] bgrant0607 commented on #6797
cc @JanetKuo

[2015-07-01 21:04] zmerlynn commented on #10622
cc @dchen1107 !

[2015-07-01 21:06] zmerlynn commented on #10622
The reason I opened this bug is that I saw multiple cases yesterday where the pull builder turned up one of these, I asked it to retest, and it went away.

[2015-07-01 21:08] ixdy commented on #10622
Yeah, I am not sure why this is occurring much more heavily on the pull builder than on our post builders.

[2015-07-01 21:11] JanetKuo commented on #5906
Some mutations (`label`, `run`, `expose`, `rollingupdate`) use `-o` flag and print the object like `get` does. I'll add `-o name` to other mutations (`create`, `delete`, `stop`, `replace`, `patch`, `scale`) first and deal with those mutations later.

[2015-07-01 21:12] dchen1107 commented on #10335
@saad-ali and @vishh I did measurement last night over heapster, and found there are big increase of memory usage from 0.14.3 to 0.15.0

[2015-07-01 21:13] bgrant0607 commented on #6797
More output conventions:
* the ability to specify labels as columns using `-L` #9876
* AGE of every object #10008
* `-o wide` for wide get output #10491
* human-understandable output from mutations (create/update/delete) by default: resource/name verbed #5906
* `-o name` for mutations to output just resource/name #5906

[2015-07-01 21:14] #10617 closed

[2015-07-01 21:15] yujuhong commented on #8223
If a pod gets deleted from the apiserver, kubelet (more specifically, the SyncPods function) would stop the container, and remove the orphaned volumes and pod directories. In the meantime, the per-pod workers (goroutines) may not have terminated yet. Therefore, the workers could be inspecting the containers to generate the status, causing the errors. Note that this does not happen if containers te

[2015-07-01 21:27] erictune commented on #10610
Do we tell API users that they need to use `(metadata.uid, kind)` or can they just use `metadata.uid`?

[2015-07-01 21:30] bgrant0607 commented on #6132
Another case where more info is desired on failure is update failure. Somewhere we discussed returning the whole object on conflict, for instance. A related discussion is https://github.com/GoogleCloudPlatform/kubernetes/pull/9569#discussion_r32160088
cc @smarterclayton @lavalamp

[2015-07-01 21:31] nikhiljindal opened #10645 "Missing pod host in UI"
I brought up a local cluster and created a simple pod.
Now when I go to ```http://localhost:8080/static/app/#/dashboard/pods```, I see that the host field is empty.

![pod_ui](https://cloud.githubusercontent.com/assets/10199099/8465279/9eb530ae-1ffd-11e5-84c0-b56a9e6e2e0b.png)

I assume that I should be seeing localhost/127.0.0.1 there.

[2015-07-01 21:32] nikhiljindal commented on #10645
```grep -r "spec.host" www/``` returns a few hits which could be the cause?
Note that we changed spec.host to spec.nodeName in v1

[2015-07-01 21:32] bgrant0607 commented on #6132
Related: #8668

[2015-07-01 21:33] erictune commented on #9984
Most of the getting-started-guides other than scratch ensure that your nodes meet the requirements in one way or another.

I added language similar to what you suggested to  https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/README.md

[2015-07-01 21:33] nikhiljindal commented on #10645
cc @bcbroussard  @jackgr @preillyme @lavalamp

[2015-07-01 21:35] yujuhong commented on #10629
This may not be a bug after all. The original docker.log in #10623 indicated that the image pull eventually succeeded, so kubelet reported the success correctly. The fact that container wasn't able to start might be because of other reasons.

[2015-07-01 21:36] davidopp commented on #10242
Yes, these problems should go away after v1. Having node-level resource usage information available in the scheduler will help a lot, as will having initial limit guess from auto-scaler.

As for your idea of expending Service spreading to RC -- I guess it depends on the performance and complexity impact. Feel free to put together a PR to do that and we can see how complicated it is.

[2015-07-01 21:38] bgrant0607 commented on #6797
We also want conventions for:
1. Showing what a mutation would do, without doing it, aka --dry-run
2. Showing what a mutation did, by automatically getting the current object
3. Printing or describing (#4471) a local object rather than one fetched from the server

All of these should be orthogonal to output format (default, wide, json, yaml, template).

[2015-07-01 21:38] bgrant0607 commented on #5906
@JanetKuo points out that label, run, expose, and rolling-update commands don't adhere to the same output conventions as other mutations. We'll want to fix that. For instance, label is just another kind of patch, basically.

[2015-07-01 21:43] bcbroussard commented on #10645
@nikhiljindal this is fixed in #10625

[2015-07-01 21:46] krousey commented on #9180
I'm trying to put in a fix to increase the kubelet timeouts to 1 hour to match the master. Unfortunately adding proper timeout handling for these cases may not make 1.0, but hopefully this can make it less annoying.

[2015-07-01 21:46] krousey commented on #9013
I'm trying to put in a fix to increase the kubelet timeouts to 1 hour to match the master. Unfortunately adding proper timeout handling for these cases may not make 1.0, but hopefully this can make it less annoying.

[2015-07-01 21:48] nikhiljindal commented on #10645
Great, thanks!

[2015-07-01 21:51] bgrant0607 commented on #9180
1 hour would be much better than 5 minutes. Thanks.

[2015-07-01 22:12] bgrant0607 commented on #1702
Ideally edit would work similarly to apply, yes. It just gets its "previous config" by fetching the resource from the server instead of from a file.

Conceptually, "apply" (aka "reconcile", "make it so", ...) is a rebase: A resource is created from a configuration. Later, the user updates that configuration. In the meantime, the live state evolves. Both the live state and the updated configuration

[2015-07-01 22:29] bgrant0607 commented on #10337
@jkingyens You just want SOME VM/machine with the tools installed, but don't want to install them on your own host and don't want to create another VM?

[2015-07-01 22:40] jkingyens commented on #10337
Yes thats right. 

—
Sent from Mailbox

On Wed, Jul 1, 2015 at 3:29 PM, Brian Grant <notifications@github.com>
wrote:

[2015-07-01 22:51] kelseyhightower commented on #4869
@sporkmonger Makes a good point. I've been running the Kubelet under Docker for a few weeks now on CoreOS, but I have not push the install that hard. I have enjoyed the ability to drop the Kubelet in a larger OS container with the  extra utilities I find useful. I'm hoping longer term it will a supported use case for running the Kubelet in a container.

[2015-07-01 22:54] #6781 closed

[2015-07-01 22:55] #10410 closed

[2015-07-01 22:58] alex-mohr commented on #9576
@rassie Apologies, but 0.20.2 didn't include fixed permissions.

I now understand the issue, : "make release" builds a tarball using the permissions on files in your local git tree.  I had "umask 027" set when I cloned, so those in-the-repo files had no world-readable perms.  Setting "umask 022" before running "make release" is *not* enough -- it has to be part of creating the local tree when clon

[2015-07-01 23:04] smarterclayton commented on #4869
Right now we've identified a blocker in Docker 1.7 - mount propagation mode
was set to PRIVATE, which means volumes can't be mounted.  At this point
we're considering carrying a patch for RHEL/Fedora/CentOS to allow SHARED,
but that won't help other OSes including boot2docker.

Paul is tracking this for now.

On Jul 1, 2015, at 6:51 PM, Kelsey Hightower <notifications@github.com>
wrote:

@sporkmon

[2015-07-01 23:08] bgrant0607 commented on #10337
@aalexand How often is gcloud updated in [developer shell](https://cloud.google.com/developer-shell/)?

[2015-07-01 23:17] dchen1107 commented on #10622
I believe you are running into this issue: https://github.com/docker/docker/issues/13742

[2015-07-01 23:22] smarterclayton commented on #6132
I would prefer to have this behavior by default for our error object if we
can - it's a big performance win and reduces client annoyance.

On Jul 1, 2015, at 5:30 PM, Brian Grant <notifications@github.com> wrote:

Another case where more info is desired on failure is update failure.
Somewhere we discussed returning the whole object on conflict, for
instance. A related discussion is #9569 (comment)

[2015-07-01 23:25] smarterclayton commented on #10610
Just uid, although I don't see harm in over specifying it now to include
both.

On Jul 1, 2015, at 5:27 PM, Eric Tune <notifications@github.com> wrote:

Do we tell API users that they need to use (metadata.uid, kind) or can they
just use metadata.uid?

—
Reply to this email directly or view it on GitHub
<https://github.com/GoogleCloudPlatform/kubernetes/issues/10610#issuecomment-117830117>
.

[2015-07-01 23:33] #9075 closed

[2015-07-01 23:42] thockin commented on #9075
Excellent!  Is this issue resolved now?

[2015-07-01 23:54] pires commented on #9075
@thockin the PR was up for a week but it got lost in the pipe. 0.19.3 with service-account support is done for CoreOS (tested on Vagrant, AWS and GCE).

[2015-07-01 23:55] pires commented on #9075
I will wait for v1 to come out before updating again. I want to add root CA and whatever may be needed then.

[2015-07-02 00:02] bgrant0607 commented on #10630
The code is confused about whether it's a kind or resource, as well. Since kubectl accepts lowercase plurals, they do look more like resources (partially qualified).
[code]

cc @smarterclayton

[2015-07-02 00:04] lavalamp commented on #8119
Do you have etcd in an HA configuration, too? I'll be quite surprised if the relevant difference is actually only multiple apiservers. If you set the number of apiservers in your configuration to 1, does the problem come back?

[2015-07-02 00:09] ixdy commented on #10307
As I mentioned in https://github.com/GoogleCloudPlatform/kubernetes/pull/10301#issuecomment-117857163, we really should at least execute the TODO on https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/util/wait/wait.go#L49 and create a PollImmediate, since this will otherwise unnecessarily slow down tests.

[2015-07-02 00:12] smarterclayton commented on #10307
I think we can change the method directly - the reason it's the way it is
was simplicity, not a desire to wait the first interval.  Checking
immediately seems like something we'd always want.

On Jul 1, 2015, at 8:09 PM, Jeff Grafton <notifications@github.com> wrote:

As I mentioned in #10301 (comment)
<https://github.com/GoogleCloudPlatform/kubernetes/pull/10301#issuecomment-117857163>,
we really

[2015-07-02 00:16] quinton-hoole commented on #9312
Updated status:

The following 6 e2e tests are currently flaky (in increasing order of stability):

1. Service endpoints latency should not be very high (Failed 24 times in the last 30 runs. Stability: 20 %) #9592
1. Reboot each node by dropping all outbound packets for a while and ensure they function afterwards (Failed 10 times in the last 30 runs. Stability: 66 %) #9062
1. Reboot each node by d

[2015-07-02 00:35] saad-ali commented on #10335
This is a follow up to the 4 node cluster 200 pod run, after 2 days.

## Test Setup
* Cluster characteristics:
  * 4 nodes
  * `n1-standard-1 (1 vCPU, 3.75 GB memory)`
* Test duration: 48 hours total
  * 200 pods (in addition to default), with 2 containers each (total 400)
  * Container used was a small a statically-linked C program that just sleeps for 28 days with a container size of 877.6 kB.

[2015-07-02 00:38] bgrant0607 commented on #10630
Mostly they're considered resources in kubectl -- RESTMapper, RESTMapping, etc.

[2015-07-02 00:47] ghodss commented on #4869
@smarterclayton Is there a Docker issue where that issue is discussed/developing?

[2015-07-02 00:52] quinton-hoole opened #10657 "Flaky e2e test: EmptyDir volumes should support r/w (Failed 2 times in the last 30 runs. Stability: 93 %)"

[2015-07-02 00:54] quinton-hoole commented on #10136
This test is still failing, approximately as often as it always was.

[2015-07-02 00:57] ixdy commented on #10622
The docker errors are from the kubelets, not from our Jenkins instance, so I'm not sure that issue is (entirely) related.

[2015-07-02 00:58] quinton-hoole commented on #10136
My apologies!  I was completely confused. It has not failed since the merge of #10237

[2015-07-02 00:59] ixdy commented on #10307
We probably don't want to

[2015-07-02 01:02] derekwaynecarr commented on #10630
It uses resource to know how to construct the query.  I think resource is
the proper terminology here.

On Wednesday, July 1, 2015, Brian Grant <notifications@github.com> wrote:

[2015-07-02 01:09] smarterclayton commented on #4869
Start here: https://github.com/docker/libcontainer/pull/632

On Jul 1, 2015, at 8:48 PM, Sam Ghods <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> Is there a Docker issue
where that issue is discussed/developing?

—
Reply to this email directly or view it on GitHub
<https://github.com/GoogleCloudPlatform/kubernetes/issues/4869#issuecomment-117863556>
.

[2015-07-02 01:09] dchen1107 commented on #10335
@saad-ali Could please measure ui addons too?

[2015-07-02 01:11] quinton-hoole commented on #9062
For some reason #10547 seems to have fixed most but not all reboot tests.  For example:

Reboot each node by dropping all outbound packets for a while and ensure they function afterwards:

kubernetes-e2e-gce-reboot #1257 (Failed 8 times in the last 30 runs. Stability: 73 %)

Need to investigate and fix.

[2015-07-02 01:12] quinton-hoole commented on #9062
@jszczepkowski perhaps you could take a look in Poland while the U.S. is celebrating July 2nd, 3rd, 4th? :-)

[2015-07-02 01:21] lavalamp opened #10659 "Idle cluster, CPU usage increasing"
Over the course of ~ 18 hours, my idle cluster's CPU usage went from ~5% -> ~20%. I repeated it with another cluster, which seems to have a single node with increasing CPU usage.

Surprisingly, kubelet seems to be the hog. I used pprof to figure it out. It turns out to be the __exec based liveness probe__ that the kube-dns pod uses. Turning that off makes kubelet stop using so much CPU. The before

[2015-07-02 01:21] lavalamp commented on #10659
@dchen1107 for node problem

@thockin can we replace the exec liveness probe with something?

[2015-07-02 01:22] saad-ali commented on #10335
@dchen1107 Yep, will do

[2015-07-02 01:30] bprashanth commented on #10659
Nice. I made a mental note to myself that if anything was using exec on the node we might run into weirdness because of a potential timer leak: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/server.go#L488

But I dismissed it at the time. Does your pprof have a bloated siftdown timer block by any chance?

[2015-07-02 01:34] bprashanth commented on #10659
Hmm, I take that back, the timeout is too small really. But can you post the pprof?

[2015-07-02 01:39] lavalamp commented on #10659
Sorry, I didn't actually save the pprof from the broken state. But it's easy to reproduce. It did have a small timer section, but the vast majority of the time went to json decoding docker output (and the associated garbage cleanup).

[2015-07-02 01:42] bprashanth commented on #10659
then ignore my eagerness to correlate to other cpu issues I've seen

[2015-07-02 02:02] derekwaynecarr commented on #10659
So is this an issue with any exec liveness probe or just this probe?

On Wednesday, July 1, 2015, Prashanth B <notifications@github.com> wrote:

[2015-07-02 02:25] WIZARD-CXY commented on #10621
Have you get it done?
1 First solution is simple, if you do not have some important thing running, just tear down the old cluster and add the new node in configure-defaul.sh and run kube-up.sh.
2 make the new node's etcd join into the old etcd cluster.It is very tricky though
I recommend you use the first approach.

[2015-07-02 04:08] zmerlynn commented on #10645
@lavalamp, can you shepherd this with #10625?

[2015-07-02 04:11] zmerlynn commented on #10621
Thanks for your help, @WIZARD-CXY!

[2015-07-02 04:24] zmerlynn commented on #10612
cc @justinsb

[2015-07-02 04:29] stefwalter commented on #10610
Well ```metadata.uid``` is not unique. For example endpoints match their service. I guess we should update the docs. Will open a pull request.

Anyway, it looks like this issue was fixed by @liggit in e869d5c6fc14b7c85205496e5633db6c091617f1 ... closing.

[2015-07-02 04:29] #10610 closed

[2015-07-02 04:31] zmerlynn commented on #10605
The GCE version auto-updates `gcloud`. Could we do the same thing for `aws-cli`?

Anyways, drive-by comment. cc @justinsb for support.

[2015-07-02 04:35] zmerlynn commented on #10599
cc @WIZARD-CXY?

[2015-07-02 04:37] zmerlynn commented on #10581
Closing. Please reopen with more detail.

[2015-07-02 04:37] #10581 closed

[2015-07-02 04:48] WIZARD-CXY commented on #10599
never met it before.Where do you issuse the `kube-up` command? openstack vm or what?
You can add `set -x` to enable debug in util.sh to see more info

[2015-07-02 05:01] lavalamp commented on #10659
@bprashanth You're not wrong, that's clearly a bug, just not this bug :)

@derekwaynecarr I think it's probably all exec probes, barring further evidence.

Further detail: after turning off the exec probe, my cluster's CPU stopped growing but did not go down.

[2015-07-02 05:17] F21 opened #10662 "Unable to build: /usr/local/go/pkg/tool/linux_amd64/6l: running gcc failed: Cannot allocate memory"
I am trying to build binaries at `HEAD` of `master` for `mesos`. I am following the instructions here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/mesos.md

When building, gcc fails because it is unable to allocate memory:

[code]

OS is Ubuntu 14.10 64-bit running on as a VirtualBox VM through vagrant. The VM has access to 2.5gb of memory.

Seems to b

[2015-07-02 05:28] dchen1107 commented on #10659
Will look into it tomorrow.

[2015-07-02 05:51] thockin commented on #10659
Without that probe we have no real way to know when DNS is in trouble.

On Wed, Jul 1, 2015 at 10:28 PM, Dawn Chen <notifications@github.com> wrote:

[2015-07-02 05:58] marcospedreiro opened #10664 "Data does not persist past life cycle of container with mounted volumes"
I have a kubernetes cluster running on GCE. One of my replication controllers is for a database image, currently I have only one pod running. My goal is be able to have data survive a container crash, or a pod/replication-controller deletion.

The issue is that if the pod or containers fails or has to be restarted/upgraded, I lose all the data that was previously on the database. I'm trying to use

[2015-07-02 05:59] thockin commented on #10610
UUIDs should NEVER match.  If that is the case it is a bug.  can not repro:

[code]

On Wed, Jul 1, 2015 at 9:29 PM, Stef Walter <notifications@github.com>
wrote:

[2015-07-02 06:06] thockin commented on #10664
pod/replication-controller deletion.

Container crash should never cause a reschedule, so it should be fine

restart the replication controller or pod, the container crashes and I am
unable to use it.

What does "unable to use it" mean?  What happens?  What errors?

What kubernetes version?  Note that a nasty PD bug was fixed literally
yesterday, which manifested as failure to attach a PD sometime

[2015-07-02 06:16] F21 commented on #10662
I had to use `taskset 3 make` to get it to build properly as suggested in #6730.

Not sure why `make` by itself isn't working today. I was able to compile without any problems a few weeks ago.

[2015-07-02 06:23] wojtek-t commented on #10282
@lavalamp

@wojtek-t I'm guessing that setting limits for addons will resolve this, so let's wait for that and see?

I'm fine with waiting - those failures are relatively rare so it's not a big problem to look into them from time to time to check whether it's again the same problem or a new regression.

[2015-07-02 06:38] thockin commented on #10337
kubectl is already deployed in cloud shell! They fixed it yesterday :)

finding the master auth info, well that's different.

On Wed, Jul 1, 2015 at 4:09 PM, Brian Grant <notifications@github.com>
wrote:

[2015-07-02 06:42] satnam6502 commented on #10620
Interesting. I suspect something is broken in the 0.19 installation. I am pretty sure Elasticsearch logging works from HEAD -- I have made working builds for it many times this week. I wonder if other 0.19 cluster services are broken?

[2015-07-02 06:58] antoineco commented on #10623
I just gave it a quick try. I added a new node an scaled my RC: everything went fine.
Seems like I can reproduce it only if I **stop the current nodes** before adding new ones.

I'll try to reproduce the situation described above and do what you asked me to try. Stay tuned.

[2015-07-02 07:04] moix commented on #10620
maybe something is wrong in my installation but I checked everything and couldn't find a reason. Checking the container I see /var/run/secrets/ volume is created but empty, any idea or clue what can I check?

[2015-07-02 07:32] #8223 closed

[2015-07-02 07:38] satnam6502 commented on #10620
Are you in a hurry to get this looked at? If not, I can it when I get back to the office on Monday. Otherwise happy to look at it when I get a moment over the coming days (holiday in the US).

[2015-07-02 07:55] stefwalter commented on #10610
Ah ok, so I confused this with Openshift. You're right that there is a slight difference between the service and endpoint uids in Kube.

In Openshift the various objects do have identical uids with different kinds when they theoretically represent the same object (eg: ```Project``` and ```Namespace```). Clients that want to deal with Openshift unfortunately cannot rely on ```metadata.uid``` for un

[2015-07-02 08:36] moix commented on #10620
Oh dont worry, I can wait of course :)
It was just in case I can investigate it further in my environment and provide more information.

Thanks!

[2015-07-02 09:13] harish-myaccount opened #10666 "kube-up.sh is stuck for many minutes"
![image](https://cloud.githubusercontent.com/assets/592646/8473611/9bd00712-20c8-11e5-9fb0-1777ecfe9164.png)

[2015-07-02 09:30] harish-myaccount commented on #10605
updating aws-cli helped.thanks

[2015-07-02 09:30] #10605 closed

[2015-07-02 09:33] CpuID commented on #10605
Worth reopening to add checks to enforce a min version?

Nathan Sullivan
Sent from a mobile device

[2015-07-02 10:05] marekbiskup opened #10668 "Update docs and examples after cluster addons are moved to a separate namespace"
A follow-up from #9356.
I created a separate issue so that it's clear that @satnam6502's / @brendanburns's patch doesn't address this
I suppose it is not urgent and we can wait until the code for #9356 is ready (correct me if I'm wrong).

[2015-07-02 10:55] antoineco commented on #10623
Allright, interesting finding: it doesn't happen when pulling one image, but when pulling 2 images from the same repo (optionally from 2 different RCs).

I did a test with one RC which pulls the `nginx` image from the Docker Hub, and one RC which pulls the `postgres` image, both from the public repo. Both RC are set to 20 replicas.

[code]
[code]

I had one node in `NotReady` state when I schedule

[2015-07-02 11:05] medhedifour commented on #10621
I didn't get it done yet.
For the first solution, it's easy to do, but I will lose many things ( pods, rc, services ...)
I will try the second solution.
Can you give some principal points to make the new node's etcd join the old etcd cluster ?

[2015-07-02 11:32] adyanthaya17 commented on #10472
I have manually installed kubectl in the master node by:

$ wget https://storage.googleapis.com/kubernetes-release/release/v0.17.0/bin/linux/amd64/kubectl
$ chmod +x kubectl
$ mv kubectl /usr/local/bin/

and have executed the commands
$ kubectl proxy --www=examples/update-demo/local/ &
$ kubectl create -f examples/update-demo/nautilus-rc.yaml

in the directory:
$ kubernetes/release-0.19.0/

[2015-07-02 11:45] harish-myaccount commented on #10666
Changed 'aws s3 sync --exact-timestamps' to 's3cmd sync'

Seems working now...

[2015-07-02 12:00] marekbiskup opened #10669 "remove infinite loop from test/e2e/service.go:validateEndpointsOrFail()"
test should fail after some time, and should not block other tests.

[2015-07-02 12:08] marekbiskup opened #10670 "test logs should print the current time"
Consider including also the date.
I suggest the time is in GMT.

Rationale: Test logs are often compared to component logs. It's important to match the time.

Not urgent, but important.

[2015-07-02 12:21] marekbiskup opened #10671 "error registering a node after reboot"
I run into this problem when trying to run a test with the patch from #10487, so it may not be a true problem. But I suggest someone have a quick look at it - it looks like a race condition somewhere (maybe we're not handling some error properly?)

After reboot test, both nodes disappeared:
[code]

kubelet logs:
[code]
Then the errors keep on repeating.

Apiserver logs don't have anything special:

[2015-07-02 12:28] zmerlynn commented on #10671
Is this a dupe of #10368? You might try patching in #10593.

[2015-07-02 12:36] antoineco commented on #10623
@yujuhong I edited my previous comment.
The combination of events does not seem to be so easy to reproduce with public repos, however it happens every single time with our private repo, so I posted something much closer to our actual setup instead.

Our private repo is using the v2 API.

[2015-07-02 12:53] zmerlynn commented on #10337
It actually works great on GKE. :)
[code]

[2015-07-02 13:08] WIZARD-CXY commented on #10621
OK, follow this guide to add the new node to the existing etcd cluster.Be careful
https://github.com/coreos/etcd/blob/master/Documentation/runtime-configuration.md#add-a-new-member
then start flanneld and reconf docker bridge.

May the force be with you.

[2015-07-02 13:19] zmerlynn commented on #3561
@ixdy actually did this already.

And it's awesome.

Closing.

[2015-07-02 13:19] #3561 closed

[2015-07-02 13:24] medhedifour commented on #10621
@WIZARD-CXY
Thanks a lot.

[2015-07-02 13:53] marekbiskup opened #10674 "kubectl describe - undocumented feature: resources are matched by prefix"
There is an undocumented feature in "kubectl describe": If we give two arguments, for instance

[code]

and the name is not found, kubectl searches for resources whose name starts with the given prefix (here: nodes with names starting with e2e-test

This feature doesn't work if we use / to separate the resource type:

[code]

What needs to be sorted out:
1. document (or not) this feature
2. unify

[2015-07-02 14:01] marekbiskup commented on #10674
cc @bgrant0607 @brendandburns

priority low

[2015-07-02 14:03] skuzye opened #10675 "vSphere getting started stuck on waiting kubernetes API"
Hello, I'm trying to setup a kubernetes cluster using the development tree but cannot make it work. After running kube-up.sh it just hangs on waiting for the API to be ready. However, I can confirm that all machines have installed the saltstack correctly, i.e. finished the minion-start.sh and master-start.sh successfully.

Running salt-key --list-all shows that all keys have been accepted. None of

[2015-07-02 14:08] zmerlynn opened #10676 "Release validation (running Jenkins on release branches)"
I spent a little while thinking about this this morning, while working on finally writing up #1883. I would really like us to get in a state where we have a job hitting the N-1 release branch (where "N" is head). So today, it would be helpful if something were actually running against `release-0.20`.

In particular, I think this requirement isn't just "run against the release". I'd like the cherry

[2015-07-02 14:17] liggitt commented on #10620
@moix can you include the pod spec (`kubectl get pod <pod> -o json`)  and the results of running `mount` from within the container? It would also be helpful to know what specific version of docker you are using (1.6.2-x?) if installed with `yum`.

[2015-07-02 14:28] moix commented on #10620
Hi, the exact version of docker is `docker-1.6.2-14.el7.centos.x86_64`.

And output from `mount` is:

`
/dev/mapper/docker-253:1-1074341495-a52c6a7e3514661122451cd2932ac063fe6da366beff115ae11c3cecb07f304e on / type ext4 (rw,relatime,seclabel,discard,stripe=16,data=ordered)
proc on /proc type proc (rw,nosuid,nodev,noexec,relatime)
tmpfs on /dev type tmpfs (rw,nosuid,seclabel,mode=755)
devpts on /de

[2015-07-02 14:35] liggitt commented on #10620
I don't see a service account token getting mounted at all. Do you have the pod spec to see if one was set up?

Also, this looks like this might shadow the service account token mount:
[code]

[2015-07-02 14:36] wojtek-t commented on #10475
I've created #10679 with (hopefully) cleaner description of my proposal.

[2015-07-02 14:50] moix commented on #10620
The full pod resource is:

[code]

[2015-07-02 15:02] liggitt commented on #10620
@moix, ok... a couple issues.

1. It looks like this pod was created before the service account API token was provisioned (which can take a few seconds immediately after a new namespace is created). https://github.com/GoogleCloudPlatform/kubernetes/pull/10523 prevents pods from being created until the token is ready, so the replication controller will keep trying to create the pod. Two things you

[2015-07-02 15:14] zmerlynn commented on #9576
@alex-mohr: I can't repro https://github.com/GoogleCloudPlatform/kubernetes/issues/9576#issuecomment-117845651:

[code]

Trying again a different way, but I don't think the umask before clone should do anything (in particular, umasks aren't "sticky" on files, they're sticky to processes.)

[2015-07-02 15:24] marcospedreiro commented on #10664
@thockin , thank you for the fast reply, and I apologize for my vague post.

One of the following situations occurs when I restart the replication controller or pod:

1) The influx container crashes and the logs say: ```run: open server: open tsdb store: readdirent: input/output error```

2) The pod is stuck waiting and with the message, "image ready, create container," which I think had to do wit

[2015-07-02 15:26] moix commented on #10620
thanks @liggitt ,

- there's no token generated, `kubectl get secrets` shows empty list
- default service account is present has no secrets generated, actually it was not generated automatically, I generated it during the setup of kubernetes.
- deleting the pod forces the rc to recreate but same as above, no service account so volume is same status

[2015-07-02 15:28] liggitt commented on #10620
How are you starting the controller manager? Are you passing in the `service_account_private_key_file` argument to enable generation of service account API tokens?

[2015-07-02 15:30] zmerlynn commented on #9576
And let's pretend `master` on my personal fork isn't woefully out of date (who uses master on their personal fork? I should really just delete that that thing.) Comment updated.

[2015-07-02 15:35] thockin commented on #10664
I can't say what the IO error means, but it should restart in-place when it
crashes and the volume should not be unmounted at all - can you try that?
 maybe `kubectl exec` into it and verify that data exists or ssh to the
node and look at /proc/mounts?

On Thu, Jul 2, 2015 at 8:25 AM, Marcos <notifications@github.com> wrote:

[2015-07-02 15:38] moix commented on #10620
no, it runs without `service_account_private_key_file`, though it uses a self generated key. Is it needed then?

[2015-07-02 16:02] marcospedreiro commented on #10664
I ssh'd into the node and did a ```ls -l``` on /proc/mounts, and the time stamp on the output was updated when I stopped the container and restarted it. I have been unsuccessful in entering with kubectl exec, but I will continue trying that.

[2015-07-02 16:05] thockin commented on #10664
you can also try docker exec if kubectl exec is not working in your env.
Or you can poke through /var/lib/kubelet/pods

On Thu, Jul 2, 2015 at 9:03 AM, Marcos <notifications@github.com> wrote:

[2015-07-02 16:14] marcospedreiro commented on #10664
So I entered the container and did a ```ls -a``` and a ```ls -l``` on the /data directory that I was mounting to and got ```reading directory /data: Input/output error total 0```. I am able to list other directories, so I will try mounting the directory into one of those.

[2015-07-02 16:18] edevil commented on #5095
Any progress on this?

[2015-07-02 16:21] zmerlynn commented on #9576
Ah, I see the problem now. `(umask 022; make release)` works fine for the server tar, but the full tar also packages examples, etc., and for that, tar tends to just pick up the permissions of the git tree. Got it.

[2015-07-02 16:25] thockin commented on #10664
ooh, so the IO error is actually coming from the PD.  Fascinating.

anything in `dmesg` ?

On Thu, Jul 2, 2015 at 9:15 AM, Marcos <notifications@github.com> wrote:

[2015-07-02 16:30] bgrant0607 commented on #10630
cc @deads2k

[2015-07-02 16:31] marcospedreiro commented on #10664
Here is some of the output, it's a lot so I only took the last 15%:

[code]

[2015-07-02 16:36] thockin commented on #10664
Nothing obvious.

This is going way out there, but we need some forensics.  Here's what I
would do, but I ack that this is a bit involved.

Kill the pod trying to use this PD.  Manually attach the PD to a VM, ssh to
that VM and manually mount the PD, looking for errors and dmesg output.
Verify that data exists there. unmount it, detach it. now run your pod.

I have seen at least one case where ext

[2015-07-02 16:46] marcospedreiro commented on #10664
Okay while I do that, here is another part of the output of my first dmesg output:

[code]

[2015-07-02 16:53] zmerlynn commented on #9576
I'll take this. I'm going to write a script to build official bits, and this is easy enough to fix along the way.

[2015-07-02 17:01] sushantk commented on #8988
I am closing this in favor of recommended approach of using overlay network.

[2015-07-02 17:01] #8988 closed

[2015-07-02 17:02] thockin commented on #1571
I'm changing it all to minimal ../../foo and ./bar links, but as I finsih
it, I wonder if it would be easier to maintain if everything did ".." to
the root.   So ./foo might become ../../../docs/bar/foo - it's longer but
easier to grep for...  Thoughts?

On Wed, Jul 1, 2015 at 12:36 PM, Brian Grant <notifications@github.com>
wrote:

[2015-07-02 17:04] dchen1107 commented on #10671
It is indeed a dup of #10368.

[2015-07-02 17:04] #10671 closed

[2015-07-02 17:05] deads2k commented on #10630
In the code its definitely a resource and I think it should stay that way.  I can envision scenarios where we'd like to have two different resources make use of a single kind.  In fact, many subresources already do that today.

[2015-07-02 17:11] liggitt commented on #10620
The controllers that provision service accounts and service account tokens run in controller manager, so that has to be started, and provided the private key to use to sign the service account tokens.

See hack/local-up-cluster.sh for an example of:
* generating a public/private key
* giving the API server to use the public key to verify tokens
* giving the controller manager the private key to ge

[2015-07-02 17:16] thockin commented on #10664
aha, this may be the same thing I saw.

[24041.817078] EXT4-fs error (device sdb): ext4_put_super:790: Couldn't
clean up the journal

if a read-write mount and unmount fixes the problem, we'll have to
understand this better.  I am not an ext4 expert, but I know someone who is.

On Thu, Jul 2, 2015 at 9:47 AM, Marcos <notifications@github.com> wrote:

[2015-07-02 17:21] sym3tri commented on #10515
@nikhiljindal Thanks for the update. May just be an issue in v0.19.3. Sounds like it's fixed in master.

Unfortunately I'm not able to run off of master right away.  I'll try the latest version once I'm able to and report back.

[2015-07-02 17:38] nlf opened #10682 "allow mounting a different secret based on namespace"
For our node.js applications we base the configuration file that's loaded on the NODE_ENV environment variable, so for example if we run our app with `NODE_ENV=production` for configuration we load `production.json`, when `NODE_ENV=beta` we load `beta.json`, etc.

I've already found how to use the downward API to set the NODE_ENV environment variable based on the namespace, which is great.

What w

[2015-07-02 17:39] #10368 closed

[2015-07-02 17:56] quinton-hoole commented on #10676
SGTM

[2015-07-02 18:09] marcospedreiro commented on #10664
Mounting it manually gives similar errors:

[code]

[2015-07-02 18:15] nikhiljindal commented on #10666
Great to know that its working now.

[2015-07-02 18:15] #10666 closed

[2015-07-02 18:38] thockin commented on #10664
Does it give IO errors when used?
On Jul 2, 2015 11:09 AM, "Marcos" <notifications@github.com> wrote:

[2015-07-02 18:39] markturansky opened #10683 "Better PV matching"
Currently, the PV binder matches claims with the exact access modes on the volume and claim.  For example, a GCEPD with RWO+ROX will bind only to a claim that requests RWO+ROX.

Matching should be loosened to allow users to request fewer modes but possibly get more than they asked for.  A user can request RWO in a claim but get a GCEPD with RWO+ROX.

Getting more than requested follows storage, wh

[2015-07-02 18:40] marcospedreiro commented on #10664
Yes, same as before

[2015-07-02 18:58] smarterclayton commented on #10683
We should make sure that anyone who requests RWO but gets RWO+ROX is treated like RWO by the platform, once we enforce RWO on the same node (what's the issue for that one, Mark?)

[2015-07-02 19:07] aronchick opened #10684 "0.19.3 fails on installing to AWS?"
Tried to do a clean install to AWS last night, and got the following:

[code]

[2015-07-02 19:10] markturansky commented on #10683
#7835 is for volume scheduling constraints.

[2015-07-02 19:11] aronchick commented on #10684
Sorry, missed this - looks like it's a dupe of this:

https://github.com/GoogleCloudPlatform/kubernetes/pull/9737

But it's a really bad experience - we can't expect most people to have to install OpenSSH via homebrew.

[2015-07-02 19:23] nikhiljindal commented on #10684
@aronchick Can this be closed since its a dup?

[2015-07-02 19:45] #10684 closed

[2015-07-02 19:46] aronchick commented on #10684
Yep.

On Thu, Jul 2, 2015 at 12:23 PM, Nikhil Jindal <notifications@github.com>
wrote:

[2015-07-02 19:57] aronchick opened #10688 "kubectl not respecting $KUBECONFIG setting?"
I'm trying to lean more heavily on using KUBECONFIG instead of the default, but it doesn't seem to be working as an environment variable:

[code]

Am I doing something wrong?

[2015-07-02 19:58] aronchick commented on #10688
Sigh. Didn't realize that kubectl started a new shell, and needed to export KUBECONFIG.

[2015-07-02 19:58] #10688 closed

[2015-07-02 20:25] markturansky opened #10689 "Allow admins to restrict the types/size of persistent volumes by namespace"
Quota in put in place to limit the number of PVClaim per namespace.

Add the ability to restrict by size as well.  This allows admins to limit the big, special fancy PVs to specific namespaces.

[2015-07-02 20:39] stefwalter commented on #10626
In general I like this. In Cockpit there would be a global selector with "cluster, Namespace" in a list, and that would filter what objects the various views show.

There are two wrinkles:

 1. We want to have some dashboard views that show limited information about services in all namespaces on a cluster. This needs some more thought on how navigation between a filtered view (one cluster and name

[2015-07-02 21:33] smarterclayton commented on #10630
Yeah, this was intentionally focused on "resource names" vs "kinds".  We've defined "resource names" so far as the subset of names that transforms into at least one valid resource.  The client can be totally agnostic of resource name if you provide the exact value the server supports (i.e. a new type "foo" would be valid if the user typed "foos").  Unknown kinds though aren't our primary goal.

[2015-07-02 21:35] smarterclayton commented on #10630
I think you're right that we should use KIND in the cli, but not if people get confused thinking they have to use uppercase or can't use plurals (for usability).  It's better to establish "KIND" early.  Internally in code we have clear distinction between "resource" and "kind" because we transform a weak string (resource name) into a strong name (kind) and then back (to a value we place in a URL t

[2015-07-02 21:53] aronchick opened #10692 "AWS not opening external loadbalancer"
Here's the service:
[code]

Here's the result:
[code]

and here's the version:
[code]
It doesn't appear to be opening an external IP on AWS.

[2015-07-02 22:03] ghodss opened #10693 "Remove non-mergable fields from .kubeconfig"
As per #9298, there are two fields (Preferences and CurrentContext) in kubeconfig which are destructive when kubeconfigs are merged and prevent clean and transparent merging of kubeconfig files. We should pull out these fields to support the use case of more merging of kubeconfig files (#9298).

.kubeconfig currently holds two kinds of data:

* Maps of data that are *fully mergable* (save for conf

[2015-07-02 22:04] ghodss commented on #10693
@bgrant0607 @deads2k @erictune

[2015-07-02 22:24] smarterclayton commented on #10689
We should also do total aggregate GB requested, and ensure we have a mechanism for admins to arbitrarily limit the claims that can be requested based on a label selector for a namespace, or similar (the use case would be to ensure claims to volume matching can be controlled by an admin in bulk).  I don't know that size is necessarily the key feature - it seems likely that labels (on namespaces?) a

[2015-07-02 22:26] aronchick commented on #10692
@justinsb (per thockin)

[2015-07-02 22:26] thockin commented on #10692
@justinsb

On Thu, Jul 2, 2015 at 2:53 PM, David Aronchick <notifications@github.com>
wrote:

[2015-07-02 22:29] thockin commented on #10664
So, to be clear, mounting this PD works but accessing it gives you an IO
error?  I'd call that PD toast.  I don't know enough about the underlying
ext4 FS to try to diagnose it.  I'll see if I can get helpful clues, but
I'm not sure what the prognosis will be.

On Thu, Jul 2, 2015 at 11:40 AM, Marcos <notifications@github.com> wrote:

[2015-07-02 22:34] markturansky commented on #10689
That makes sense.  The admin can devise a labelling scheme based on size (or anything) and enforce it that way.

[2015-07-02 22:35] nikhiljindal commented on #10693
I have added it to v1.0-candidate since you say that you want it in 1.0.
And I have made it P2. Feel free to bump to P1 if you disagree.

[2015-07-02 22:47] zmerlynn commented on #10622
I just got hit by a bunch, and they seem to clump on these tests. I had to look back at some other PRs to see if I was going insane, but #10680 got this clump:
[code]

And my #10687 just got hit with this about 3-4 times, all of which seem kubelet related:
[code]

[2015-07-02 22:47] zmerlynn commented on #10622
I tested #10687 manually and can't get those to repro.

[2015-07-02 23:08] smarterclayton commented on #10689
I'm not sure exactly what an implementation would be like - the openshift
project node selector is a good example, and in general how the scheduler
handles node selectors is also analogous (both are steps enforceable either
when creating the claim in an admission controller, or in the binder by
reading a config file).

On Jul 2, 2015, at 6:34 PM, Mark Turansky <notifications@github.com> wrote:

Th

[2015-07-02 23:33] smarterclayton commented on #10009
I think users will stab us if we force them to type long
group/version/names.  We may be able to get away with guessing group based
on resource, but it does seem fraught.

On Jul 1, 2015, at 1:50 PM, Brian Grant <notifications@github.com> wrote:

Quick note: We need to think about the syntax printed and accepted by
kubectl. Currently it uses resource/name.

—
Reply to this email directly or view i

[2015-07-03 00:04] jeffbean opened #10694 "[Ansible] When master IP changes we don't regen the cert"
The condition on task for checking if the cert is created only checks the file. We need to name the file something so we can know when to force the task to create a new cert on IP change.

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/contrib/ansible/roles/kubernetes/tasks/gen_certs.yml#L20
### Issue

Kubelet can then not reconnect to apimaster

[code]
### Possible solutions
1. Hav

[2015-07-03 00:06] jeffbean commented on #10694
@eparis any thoughts on this?
I really don't want to change the cert script for our needs so not a great solution.

[2015-07-03 01:42] caesarxuchao commented on #8668
@smarterclayton, could you elaborate on how to reproduce this error message? I don's see why your []Env is wrong.
And what error message do you expect? Something that tells you why the []Env is invalid?

FWIW, #9803 should remove the long spec if we append a more specific error.

[2015-07-03 02:52] #10159 closed

[2015-07-03 03:11] feihujiang commented on #10628
Does it  get "approved" ? If it does, Is there anyone to work on this? If not, I'd like to work on this.

[2015-07-03 03:44] adyanthaya17 opened #10696 "kubernetes on ubuntu 12.04?"
Hi,

I wanted to know if deployment of kubernetes from the directory kubernetes/docs/getting-started-guides/ubuntu.md works for ubuntu 12.04 version? Like I have tested on ubuntu 14.04 but I'm unable to work it out on 12.04.

Thank you.

[2015-07-03 04:51] adyanthaya17 commented on #10599
I was wondering if it's because of the version I'm using. Previously I worked on the baremetal vm having ubuntu 14.04. The instances vm inside the openstack has ubuntu 12.04. Is that the reason it's not able to deploy and is giving permission issue related to ssh?

I googled few documents and went through it, I  have an inclination that it might be related to openssh-server. Currently I'm upgradin

[2015-07-03 05:24] karlkfi opened #10697 "kube-ui endpoint not found"
I have kubernetes running in a vm, but the apiserver proxy doesn't seem to be routing to the kube-ui.

Do I need to manually create a service for the kube-ui?

http://10.141.141.10:8888/api/v1/proxy/namespaces/default/services/kube-ui/#/dashboard/

[code]

When I use `kubectl proxy --www=www/app --www-prefix=/` in the VM the statically hosted files are curl-able, but they aren't exposed outside of

[2015-07-03 05:48] marcospedreiro commented on #10664
I deleted the PD and will try with a fresh one. I also discovered an issue with influx0.9 where a recreated container can't find previously mounted data.

Thank you for all your help.

[2015-07-03 06:21] thockin commented on #10696
I don't think anyone has tried...

On Thu, Jul 2, 2015 at 8:45 PM, Aishwarya <notifications@github.com> wrote:

[2015-07-03 06:27] feihujiang commented on #10305
Does it get approved? If it does, Is there anybody to work on this? If not, I'd like to work on this

[2015-07-03 08:38] smarterclayton commented on #8668
I was changing the env of an existing, scheduled pod.

[2015-07-03 08:48] jszczepkowski commented on #9062
There was a problem with monit restarting kubelet because of blocking localhost communication on firewall. Fixed by #10703.

[2015-07-03 08:55] wangzhezhe commented on #10159
sorry , some spell mistakes in curl command , Its  Bearer but not Beare
curl --cacert ca.crt -H "Authorization:Bearer abcdTOKEN1234" https://k8master:8081/api/v1beta3/namespaces/default/pods -v

[2015-07-03 09:52] nlamirault commented on #8772
Same error using the  ``gcr.io/google_containers/hyperkube:v0.18.2`` and  ``gcr.io/google_containers/hyperkube:v0.19.3`` container

[2015-07-03 14:52] justinsb commented on #10692
Can you please post the output from `kubectl describe service client-service`, and also check the `/var/log/kube-controller-manager.log` on the master for any relevant errors?

[2015-07-03 14:53] justinsb commented on #10692
Oh - it won't be `.ip` anyway on AWS, it'll be `.hostname`.  `kubectl describe service` deals with this for you though.

[2015-07-03 16:20] andronat commented on #10628
@feihujiang as far as I know this is free. I had it my plans to do it but I am going to be busy this week with some other issues. So you can take it over.

[2015-07-03 16:40] eparis commented on #10694
Changing the --cluster-service-ip-range also invalidates the cert.

We also are not saving the ca.key, so it's not like we can just mint a new apiserver cert, we have to mint entirely new certs for everything...

It's a problem. i'll think on it as well...

[2015-07-03 16:50] quinton-hoole opened #10710 "Use more specialized types than strings in internal API's where sensible"
I've seen a variety of bugs stemming from the use of strings as types in internal API's where more specialized types could have been more appropriate, and enabled our compiler rather than our users to pick up programming errors.

https://github.com/GoogleCloudPlatform/kubernetes/pull/10699 is one particular example, where node names and host names got confused, as they are both passed around as st

[2015-07-03 16:59] thockin commented on #10710
I can not agree more. I am a huge fan of this, and this is one place where
Go just gets it right , IMO.
On Jul 3, 2015 9:50 AM, "Quinton Hoole" <notifications@github.com> wrote:

[2015-07-03 17:08] #10612 closed

[2015-07-03 17:21] nikhiljindal commented on #10697
Does ``http://<masterIP>/ui``` work?

cc @bcbroussard @jackgr @preillyme

[2015-07-03 21:52] aronchick commented on #10692
Here's the issue (it would appear):

[code]

[2015-07-03 22:33] saad-ali commented on #10335
Here are the initial results for the `kube-ui` container with no load.

## Test Setup
* Cluster characteristics:
  * 4 nodes
  * `n1-standard-1 (1 vCPU, 3.75 GB memory)`
* Test duration: 48 hours total
  * Default with no additional pods

## Results
![kubeui_memusage_4node_noload](https://cloud.githubusercontent.com/assets/10052848/8505388/cb43bd06-2198-11e5-8a28-0c6d8c7bff2f.png)

![kubeui_cupusa

[2015-07-03 22:34] aronchick commented on #10692
Stupid question - trying to ssh in to get the kube-controller log on the master, but where is the .pem file to do so?

[2015-07-03 22:48] karlkfi commented on #10697
`http://<master>/ui` redirects to `http://<master>/api/v1/proxy/namespaces/default/services/kube-ui/#/dashboard/`

[2015-07-04 00:58] justinsb commented on #10692
Ah, we updated the IAM policy to include the ELB permissions, but we don't update existing IAM policies.  We should probably track that as an issue.  The file is cluster/aws/templates/iam/kubernetes-master-policy.json, and the change in question is @2b4d37427e750d1a9cd7347b1ec9504038a60ec3.

I think it should suffice to do this from a source checkout:

``` aws iam put-role-policy --role-name kuber

[2015-07-04 01:00] pmorie commented on #7554
@erictune @aronchick I missed the tag into this issue.  We've gone around about settable permissions for secrets -- perhaps this is another data point we can use to inform that discussion.  @aronchick could you give an example of a secret that shouldn't be readable by non-root UIDs?

[2015-07-04 01:00] pmorie commented on #4789
Related: https://github.com/GoogleCloudPlatform/kubernetes/issues/7554

[2015-07-04 01:02] pmorie commented on #10682
@nlf perhaps I'm missing something about the use-case, but since you already have different namespaces for different environments, why not use the same secret name in both namespaces, and have it contain env-appropriate configs in each.  For example, if you have two namespaces, `production` and `beta`, each of those namespaces can have an `app-config` secret which contains the environment-appropri

[2015-07-04 01:03] pmorie commented on #10682
@nfl You may also be interested in: https://github.com/GoogleCloudPlatform/kubernetes/pull/6477

[2015-07-04 03:36] lavalamp commented on #10659
Further followup: I rebooted the offending kubelet and the CPU dropped back to its initial level. Rebooting a different kubelet didn't have any effect. So it seems clear that exec leaks something.

[2015-07-04 04:22] thockin commented on #10682
Paul is right - everything is namespace-relative, so you can just use the
same name in both, unless you run both prod and beta in the same
namespace.  You can't do cross-namespace secret references.

On Fri, Jul 3, 2015 at 6:04 PM, Paul Morie <notifications@github.com> wrote:

[2015-07-04 04:43] #10383 closed

[2015-07-04 05:36] davidopp commented on #8686
What are unofficial releases? Does that mean releases the user creates, as opposed to the ones released by the Kubernetes project itself?

One other question: I wasn't clear how your proposal addresses the "Addons leave lingering dependencies" issue (probably because I don't understand that issue).

[2015-07-04 05:39] pmorie commented on #8686
@lavalamp the kubelet can run in a container under docker 1.6 -- the mount
propagation mide used fir bind mounts changed in 1.7 in a way that breaks
it, though. We at RH are trying to get this fixed.

On Saturday, July 4, 2015, David Oppenheimer <notifications@github.com>
wrote:

[2015-07-04 10:36] antoineco commented on #10612
Thanks @justinsb \o/

[2015-07-04 15:43] zmerlynn opened #10720 ""MaxPods Validates MaxPods limit number of pods that are allowed to run." has failed 22/30 times"
[code]

[2015-07-04 16:00] zmerlynn commented on #10720
This was introduced in #10481, at about the right time. Banning it to the flaky test list ASAP.

[2015-07-04 18:13] nlf commented on #10682
You're absolutely right, I don't know why I had it in my head that secrets aren't namespaced since they are. This is a non-issue.

[2015-07-04 18:13] #10682 closed

[2015-07-04 18:50] davidopp commented on #10720
The functionality has been in the system for a while. The only thing that's new is the test. Of course it may mean the functionality is broken but much more likely is that there's a problem with the test.

[2015-07-04 21:58] thockin commented on #10265
I think this is being worked out right now for all other platforms.  Sorry
for missing that.

@eparis  @justinsb  @roberthbailey

On Wed, Jul 1, 2015 at 4:15 AM, Xingyu Chen <notifications@github.com>
wrote:

[2015-07-04 22:41] eparis commented on #10265
My guess?  missing --root-ca-file= for the kube-controller-manager.

[2015-07-04 23:16] roberthbailey opened #10722 "Build CentOS packages for a recent release"
A user on stack overflow is [looking for CentOS packages for a release > 0.17](http://stackoverflow.com/questions/31194336/kubernetes-setup-on-baremetal-centos-7/31217712). Who builds these packages and can we get them built for 0.20.2?

@moix @coolsvap

[2015-07-05 01:09] F21 commented on #10697
Seeing the same problem here.

[2015-07-05 01:58] bprashanth commented on #10616
This is a really confusing error

[2015-07-05 02:03] bprashanth commented on #9521
I've run into the same problem on older installations. Don't think it'll repro on upstream/master. We shold clarify the error message for sure, especially since it can happen in the getting-started-flow.

@crcsmnky does curl http://apiserver:port show you v1 as a supported version, or do you just see v1beta{1,2,3}?

[2015-07-05 02:07] bprashanth opened #10725 "Apiserver fails to generate certs on fedora"
Setting up a kubernetes cluster on a couple of gce-fedora machines (per https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/fedora/fedora_manual_config.md) I ran into:

[code]

Think it's because the apiserver fails to generate certs in /var/run/kubernetes. Creating the dir and chowning it as kube worked. This didn't happen on the node, so I suspect it's a kub

[2015-07-05 02:23] bprashanth opened #10726 "Use a working example in the kubernetes 101 guide"
We link to the 101 guide (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/walkthrough/README.md#volumes) from various getting started guides and it has a git-monitor example that can be confusing, since all you're going to end up with is:

[code]

Can we upload the git-monitor or change it to another working example? IMHO we shouldn't introduce volumes before labels,rcs and

[2015-07-05 02:52] eparis commented on #10725
Actually, it's likely because the apiserver isn't even listening on 8080 on anything other than 127.0.0.1....

[2015-07-05 02:53] eparis commented on #10725
I wonder if we should scrap the manual docs and just tell people to use ansible (The ansible in contrib/ansible/ not the ansible in the kubernetes-ansible repo, so that doc needs updated too)

[2015-07-05 04:12] #10596 closed

[2015-07-05 04:30] zmerlynn commented on #9356
Re-requesting triage on this. We were unable to get PR #10487 merged, and unless it gets merged maybe early tomorrow (Sunday) morning, there's not really enough time to shake out whether it needs to be rolled back for a Monday release cut.

[2015-07-05 06:21] roberthbailey commented on #10472
You are running kubectl proxy on the master node? That would explain why you can't connect.

The instructions are for running kubectl on your local machine; if you are running the command on the master then nothing will be listening on localhost for your web browser's connection.

Please try running kubectl proxy locally on your machine and see if that helps.

[2015-07-05 07:03] roberthbailey commented on #10675
@pietern seems to be the primary author of the vsphere getting started guide.

[2015-07-05 08:25] devurandom commented on #10265
Are there docs on this subject?

I have already read http://docs.k8s.io/design/service_accounts.md (and a few others), but still there are lots of questions:

* Is the CA in `--root-ca-file=` authenticated by `--service-account-key-file=`?
* If so, I cannot create the `--service-account-key-file=` on the host automatically via a systemd.service unit, unless I also automatically create the `--root-

[2015-07-05 08:28] satnam6502 commented on #10265
On of the uses of the token is to make it more convenient to issue things like `curl` commands to the API server or application endpoints (e.g. Elasticsearch and KIbana logging endpoints). See https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/logging-elasticsearch.md

[2015-07-05 09:22] ibotty commented on #2725
can't that be closed? isn't it implemented in upstream kubernetes?

[2015-07-05 12:03] bibryam opened #10727 "Fix Jube link in the wiki"
Couldn't find what is the recommended way for PR to the wiki, so here is a diff

diff --git a/Kubernetes-Community.md b/Kubernetes-Community.md
index 0ec7d3a..b2d52ec 100644
--- a/Kubernetes-Community.md
+++ b/Kubernetes-Community.md
@@ -14,7 +14,7 @@
 * [OpenStack on Kubernetes](https://github.com/stackforge/kolla)
 * [Apache Stratos](http://stratos.apache.org/)
 * [Java client](https://github.co

[2015-07-05 13:52] justinsb opened #10729 "Failed-mount events in kubectl describe pod are verbose"
I had set up an incorrect persistent-volume-claim name in my rc.

When I did `kubectl describe pod <podname>` I saw the error (awesome), but it was very verbose:

[code]

We should consider formatting the volume.Spec in a more user-friendly way for events.  (I'd suggest that JSON is probably better for both machines & people)

[2015-07-05 18:08] bprashanth commented on #10725
The apiserver might've crashed when it hit the permissions error, unsure, but I was able to create pods etc after I chowned the directory and restarted services.

Having a single canocial fedora guide makes sense. Ansible is an external dependency, but it should reduce the maintenance overhead. Optionally we could explain what ansible does behind the scenes, since the manual guide provides some de

[2015-07-05 18:08] zmerlynn opened #10730 "Cherry pick process"
After 1.0, we've talked about the timeline for minor releases being longer (circa ~1mo), which means we'll be putting out more patch releases (1.0.1, 1.0.2, etc.) in the interim. Outside of developers, people are probably going to be running something closer to the `release-X.Y` branch, so release validation (#10676) is going to be very important as well.

Our current cherry pick "process" is very

[2015-07-05 18:17] bprashanth commented on #10729
Instead of directly dumping the error into the event we can log it and send an more concise message https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1188

[2015-07-05 18:22] bprashanth commented on #10727
@RichieEscarez who maintains the wiki?

[2015-07-05 20:28] mwielgus opened #10731 "Hazelcast (from examples/hazelcast) doesn't support namespaces and uses the old API"
It has the same problem as examples/cassandra (see #10231 and #10034) since the code for pod discovery is very similar ([Hazelcast](https://github.com/pires/hazelcast-kubernetes-bootstrapper/blob/master/src/main/java/com/github/pires/hazelcast/HazelcastDiscoveryController.java), [Cassandra](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/cassandra/java/src/io/k8s/cassandra/K

[2015-07-05 20:50] ghost opened #10732 "Running in Minimal Container"
Seems to be a similar issue as https://github.com/coreos/fleet/issues/1280 where the kubelet, kube-proxy and kubectl in a minimal container such as Alpine Linux doesn't run but the kube-apiserver, kube-controller-manager and kube-scheduler does.

**How to reproduce**

[code]

[2015-07-06 00:59] bprashanth commented on #10731
@caesarxuchao

[2015-07-06 01:09] bprashanth opened #10734 "Readiness probe test flakes when image pulling is slow"
If the container_probe test runs on a node without the nginx image, it sometimes takes > 90s to get the pod in running. Most of this time goes in pulling the image, so I'm assuming it's registry related hiccup. Using gcr.io might make it more reliable.

Example failure: https://github.com/GoogleCloudPlatform/kubernetes/pull/10728#issuecomment-118623354. Note the following event in the logs:
[code]

[2015-07-06 01:19] feihujiang commented on #10628
@andronat Thanks for your reply. I start to work on this.

[2015-07-06 03:11] adyanthaya17 commented on #10472
When you say 'local machine' does it mean the minion node? I have my kube-proxy service running on minion node.

[2015-07-06 03:22] thockin commented on #10734
a) we should not be pulling from docker in our tests - too hit-or-miss
b) we should replace nginx (132 MB) with
gcr.io/google_containers/test-webserver (4.5 MB) whenever possible.

On Sun, Jul 5, 2015 at 6:09 PM, Prashanth B <notifications@github.com>
wrote:

[2015-07-06 03:36] thockin commented on #10729
For plain old loggin, this sort of struct--dump is overkill usually.  For
user-facing errors it is just terrible.

On Sun, Jul 5, 2015 at 11:17 AM, Prashanth B <notifications@github.com>
wrote:

[2015-07-06 04:01] Kielan opened #10735 "kubectl needs better cluster-info and switching cluster functionality"
1. Currently Kubectl cluster-info only returns where the kubernetes master is currently running and no other information.
2. Not apparent how to switch cluster or delete the current cluster, kubectl config set cluster sets values and not the actual cluster
3. If you leave the google cloud platform context you cannot switch back out

Please correct me if I'm wrong with statements above but this see

[2015-07-06 04:07] thockin commented on #10730
+1 - this needs to be really transparent and obvious.  Glomming commits
together into a cherry-pick is a terrible idea.

On Sun, Jul 5, 2015 at 11:09 AM, Zach Loafman <notifications@github.com>
wrote:

[2015-07-06 06:26] gmarek commented on #10720
IMO it's fixed by #10700. It wasn't a problem with functionality neither the test. Another e2e test wasn't cleaning after itself. @zmerlynn please verify and move back to gce

[2015-07-06 06:28] wojtek-t commented on #10720
I agree - this test hasn't failed since #10700 was merged.

[2015-07-06 06:36] roberthbailey commented on #10472
The local machine is the machine that you are running the web browser on. You should run kubectl proxy on the same machine as your web browser.

[2015-07-06 06:49] adyanthaya17 opened #10737 "kube-up lost connection while deploying"
Hi,
I'm unable to deploy the services and other functions on my node. I'm working on a single node, deploying master and minion on it.

kubernetes/cluster# KUBERNETES_PROVIDER=ubuntu ./kube-up.sh
Starting cluster using provider: ubuntu
... calling verify-prereqs
... calling kube-up
Deploying master and minion on machine 10.x.x.x

ubuntu@10.x.x.x's password:
ubuntu@10.x.x.x's password:
config-defau

[2015-07-06 07:18] moix commented on #10722
Latest packages I can find are generated for 0.20.0 in the centos' community build server, http://cbs.centos.org/kojifiles/packages/kubernetes/. Not sure how to request to trigger a more recent build

[2015-07-06 07:33] wojtek-t commented on #9312
I will look into "Proxy version v1 should proxy logs on node" - this failed twice during last 10 runs.

[2015-07-06 07:46] hurf commented on #10630
IIUC we can use 'KIND' in the cli for help string, but keep others unchanged internally. I'll submit a small patch for this.

[2015-07-06 07:50] wojtek-t commented on #10282
It seems that setting limits for addongs - #10653 fixed the main issue here (there wasn't such failure since merging that PR).

Currently the only failures are are because of too high latency metrics.

[2015-07-06 07:56] davidopp commented on #10282
Great -- please close the issue unless you think there is something left to do here. (Other than investigate the latency failures, which is unrelated to this issue.)

[2015-07-06 07:59] #10282 closed

[2015-07-06 08:08] hurf commented on #10382
Following the discussion in #7576, I'm planning to add a verb `convert` to kubectl, with `i,o,r,v` flags. Is this the right way to fix this issue?

[2015-07-06 09:52] wojtek-t commented on #9312
The "Proxy version v1 should proxy logs on node" failures were caused by running the just after "should be able to delete nodes" test which didn't clean up properly after itself. Will send a PR for it in few minutes.

[2015-07-06 09:59] wojtek-t commented on #9312
#10739 sent out for review.

Also, all the "Reboot each node ..." test failures should be fixed by #10703 which is also under review.

[2015-07-06 12:27] swti6690 commented on #10250
Hacking the Internet link of the collective computers in Colleges & increase the absolute reach of internet with occupied velocity.

http://www.hackingaccount.com/how-to-hack-internet-server-provider/

[2015-07-06 12:33] mwielgus opened #10744 "RethinkDB images & configs (examples/rethinkdb) have hardcoded namespace"

[2015-07-06 13:01] zmerlynn commented on #10720
You could've sent the revert to close this bug out. :)

[2015-07-06 13:33] etcinitd opened #10748 "Getting started guide for docker multi-node deployment fails on Ubuntu trusty64"
I am trying to setup a test cluster on a few fresh Ubuntu trusty64 VMs using the docker multi-node getting started guide but at the very first stage on the master node, etcd fails to startup with the provided parameters and gives an error:

`2015/07/06 13:20:39 etcd: listen tcp: lookup localhost: no DNS servers`

 Even after I got it up and running with the following changes to parameters:

[code]

[2015-07-06 13:51] wojtek-t commented on #10720
@zmerlynn - sorry I don't understand this comment. Why did you reopened this issue?

[2015-07-06 13:52] zmerlynn commented on #10720
I was still writing the comment, sorry. In the process of diligence for sending the PR to take it off the flaky list, I noticed: Kubernetes e2e suite.MaxPods Validates MaxPods limit number of pods that are allowed to run. (Failed 3 times in the last 30 runs. Stability: 90 %)

When you closed this, that wasn't true, but this test can no longer come off.

[2015-07-06 13:59] wojtek-t commented on #9312
I started looking into "should be able to override the image's default arguments (docker cmd)" failures, but so far I didn't find anything worth noting.

[2015-07-06 14:02] tdeheurles opened #10750 "Getting started on CoreOS - Single Node Cluster - Error 404"
Just to mention that the [Single Node CoreOS link](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/coreos_single_node_cluster.md) have become broken on [the CoreOS page](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos.md)

[2015-07-06 14:55] nikhiljindal opened #10754 "Update kube2sky to use v1 API"
I see that kube2sky is still issuing v1beta3 requests in e2e tests.
We need to update it to use v1 API.

We cant stop exposing v1beta3 in master, unless this is fixed (https://github.com/GoogleCloudPlatform/kubernetes/pull/10525)

Example request from e2e logs:
[code]

[2015-07-06 14:56] nikhiljindal commented on #10754
cc @thockin @ArtfulCoder @bgrant0607

[2015-07-06 14:56] wojtek-t commented on #10335
Since #10653 is merged - can we close this issue?

[2015-07-06 14:58] nikhiljindal opened #10755 "Update heapster to use v1 API"
I see that heapster is still issuing v1beta3 requests in e2e tests.
We need to update it to use v1 API.

We cant stop exposing v1beta3 in master, unless this is fixed (#10525)

Example request from e2e logs:
[code]

[2015-07-06 14:58] nikhiljindal commented on #10755
cc @dchen1107 @vmarmol @vishh @bgrant0607

[2015-07-06 15:05] nikhiljindal commented on #10754
Looking at the code, it seems like it is correctly configured to use v1: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/addons/dns/kube2sky/kube2sky.go#L438
Not sure why is it emitting v1beta3 requests.

[2015-07-06 15:06] wojtek-t commented on #10127
@brendanburns - are you planning to look into it today? If not, I can look into it tomorrow waw time and check whether the shell script is testing anything that is not tested by go test.

[2015-07-06 15:11] nikhiljindal opened #10756 "Update elasticsearch_logging_discovery to use v1 API"
I see that elasticsearch_logging_discovery is still issuing v1beta3 requests in e2e tests.
We need to update it to use v1 API.

We cant stop exposing v1beta3 in master, unless this is fixed (#10525)

Example request from e2e logs:
[code]

[2015-07-06 15:12] nikhiljindal commented on #10756
cc @satnam6502 @lavalamp @bgrant0607
Any idea on how to fix it?
Will building a new image from HEAD fix this?

[2015-07-06 15:16] jszczepkowski commented on #10657
I've spent some time looking into this issue. I couldn't reproduce it on my e2e cluster, even though I run the test ~50 times. I think that the problem may be with timeout in testContainerOutputInNamespace method (test/e2e/util.go:858). The timeout for waiting for container to generate the expected output is only 1 minute. It may be too small in our case. I suggest we extend the timeout and check

[2015-07-06 15:25] zmerlynn commented on #10730
@thockin: I hacked up something in #10757 that I think meets your "not smashing commits". I wish it were slightly more automated given the way PRs get automatically generated in GitHub (because I want the subject of these things to also tell us the original PR #), but I think it gets the job done and is thoroughly straightforward.

[2015-07-06 15:26] gmarek commented on #10720
I'm looking into those failures and all failures are different flavors of more general problems: dying pods, which cause `additional-pod` to be scheduled or too many container failures in `RunRC`. I can increase the tolarance fort the latter and add additional check for the first, but it'll only reduce flakyness...

[2015-07-06 15:29] pmorie commented on #10657
Are you running in gce or locally? I sometimes get the 'slow test' warning
on these but the time lovally is rarely over 35s. We should definitely pin
this down since there are about to be like 8 more of these cases to cover
non-root and local storage medium.

On Monday, July 6, 2015, Jerzy Szczepkowski <notifications@github.com>
wrote:

[2015-07-06 15:41] roberthbailey commented on #10722
That makes it look like they are pretty up to date, which I think is sufficient. It would still be nice to know who builds them so that we can request new builds for new release cuts.

[2015-07-06 15:41] #10722 closed

[2015-07-06 15:46] satnam6502 commented on #10756
Yes, indeed, there don't seem to be any hard-coded references to `v1beta3` so the unversioned client library in our Go code is probably the issue. I will rebuild from HEAD to see if this fixes the issue.

[2015-07-06 15:50] thockin commented on #10754
I don't know the logic here - could use an assist to figure it out - I
built 1.10 with the v1 changes, I am 99% sure.

On Mon, Jul 6, 2015 at 8:05 AM, Nikhil Jindal <notifications@github.com>
wrote:

[2015-07-06 15:53] nikhiljindal commented on #10756
Thanks @satnam6502

[2015-07-06 15:58] tytso commented on #10664
Tim asked me to chime in; my apologies for not getting back until now, but I was out on vacation.

The specific error message indicates there was an I/O error when trying to write to the journal superblock.  (-5 is EIO), and the error message is in jbd2_write_superblock() in /usr/src/linux/fs/jbd2/journal.c, and indicates that the attempt to write the journal superblock returned an error.   I wish

[2015-07-06 16:05] zmerlynn commented on #10720
Until we can get the flakiness down quite a bit, I think we should probably keep it sequestered.

[2015-07-06 16:15] zmerlynn commented on #10754
cc @jlowdermilk

It's presumably getting it's kclient.Config from an sideloaded kubeconfig, isn't it, rather than the if block there? Is it possible the client code in the container was built pre-#9762?

[2015-07-06 16:21] zmerlynn commented on #10754
Or, shot in the dark, does #10556 play a role here? Not sure when those images were built, nor that familiar with the client code.

[2015-07-06 16:26] dchen1107 commented on #10335
One last thing: kube-ui which requires resource limit was added lately. After that, we can close this one.

[2015-07-06 16:32] jlowdermilk commented on #10754
@zmerlynn, loaded or constructed kubeconfig shouldn't make a difference; that code isn't setting apiversion in overrides so it's getting the hardcoded default from pkg/latest. Is there a good way to determine what commit/pr # the kube2sky container was built from?

[2015-07-06 16:45] jlowdermilk commented on #10754
@nikhiljindal, @thockin Looking at https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/addons/dns/kube2sky/kube2sky.go#L438 , that will only set apiversion explicitly if no kubecfg flag was provided. Since we are setting a kubeconfig flag for gce, that means it is [defaulting](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/helper.go#L493) to whatever was

[2015-07-06 16:47] yujuhong commented on #10744
The example in question: https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/rethinkdb

[2015-07-06 16:47] thockin opened #10760 "v1.0.0 known issues / FAQ accumulator"
This issue is intended to accumulate known errata / issues / workarounds so we can produce a useful doc upon release.  If you have a known issue that is worth putting in our 1.0 release notes, please add a comment here of the form "NEW: ..." and write a paragraph explaining the issue and the workaround or repercussions or whatever.  The core team will accumulate these into a final doc.

[2015-07-06 16:49] thockin commented on #9861
status here?

[2015-07-06 16:50] cjcullen commented on #9822
It appears that this issue was not triggered by terminating a master pod in a bad state. It continues to occur, even now that we are not starting master components until after docker is restarted and ready.

[2015-07-06 16:51] gmarek commented on #10720
RunRC failures have the following symptom:
`
I0706 16:27:02.084087    3094 server.go:163] HTTP InternalServerError: Internal Error: unable to find data for container /341c88bddf635ca2c858a2c3b89e54af522101694f14d2877ea1d73b8d1364b3
I0706 16:27:02.084302    3094 server.go:635] GET /stats/e2e-tests-maxp-oabfz/max-pods200-9c949f47-23fb-11e5-aeff-42010af01555-6taj7/9ff2d6c8-23fb-11e5-ab8d-42010af00091

[2015-07-06 16:51] thockin opened #10761 "Rebuild kube2sky with fixed client (to emit v1 API)"
Apparently the client libs were fixed after our 1.10.  We need to rebuild a v1.11 with no code changes but client lib.

[2015-07-06 16:54] thockin commented on #10335
Who is doing this last one?  Saad?

[2015-07-06 16:54] zmerlynn commented on #10761
c.f. #10754

[2015-07-06 16:55] thockin commented on #10577
Can this be closed now?

[2015-07-06 17:00] goltermann commented on #9356
@zmerlynn Triaged today - quorum was to push this in before today's release, and get test cycles in this week.

[2015-07-06 17:01] gmarek commented on #10720
We don't see such things in Density test, but it does have way higher tolerance (50 times higher) and does not saturate the cluster. With current scheduler semantics it fully saturated ~1/3 of the cluster which means ~30 machines. Because we have 50 times higher failure tolerance with only 15 times more load (where by load I mean number of fully saturated machines) we don't fail Density for this r

[2015-07-06 17:03] bgrant0607 commented on #10337
Sounds good enough for now.

[2015-07-06 17:03] zmerlynn commented on #9312
"Proxy version v1 should proxy logs on node *" failed again on build 3400, after this went in. I don't think this is fixed yet.

[2015-07-06 17:04] zmerlynn commented on #9356
This can't go in right before a release is cut. It needs 2-3 good Jenkins cycles before we can cut a release.

[2015-07-06 17:05] RichieEscarez commented on #10727
Hi @bibryam, Im not sure (my first time trying to edit one of our wiki pages) but I found that I do have editing authority so Ive delivered the change. Please take a look:
https://github.com/GoogleCloudPlatform/kubernetes/wiki/Kubernetes-Community

[2015-07-06 17:05] zmerlynn commented on #9356
(Or, y'know, at least one - and maybe a sidelong glance at scalability.)

[2015-07-06 17:05] zmerlynn commented on #9356
But let's get some leads on here to LGTM up this PR.

[2015-07-06 17:06] cjcullen commented on #9822
This has only been observed on GKE, and only happens when the command to the kube-apiserver command ("/bin/sh -c /usr/local/bin/kube-apiserver ...") is exactly 795 characters long :).

Somehow, length of the Bind list also influences this. If I tack on a character to one of my bind mounts, the magic number becomes 794. If I add or remove a bind mount, I have not been able to find the magic number.

[2015-07-06 17:06] roberthbailey commented on #10577
Will be fixed by https://github.com/GoogleCloudPlatform/kubernetes/pull/10711.

[2015-07-06 17:13] bgrant0607 commented on #7789
I believe this was fixed by PR #10493

[2015-07-06 17:13] #7789 closed

[2015-07-06 17:15] thockin commented on #9356
Discussed this morning - I think we're OK to go - @brendandburns @bgrant0607

On Mon, Jul 6, 2015 at 10:06 AM, Zach Loafman <notifications@github.com>
wrote:

[2015-07-06 17:16] caesarxuchao commented on #8668
Hi @smarterclayton, I tried on HEAD, it seems the problem has been fixed. Here's what I did:
I created a pod, then modified one of it's env var, and use `kubectl update` to update it, and I got this response:

[code]
which seems to be a clear error message to me. What do you think?

[2015-07-06 17:17] zmerlynn commented on #9356
If someone gives it another review, I'll happily warn the oncall.

[2015-07-06 17:29] nikhiljindal commented on #10755
Assigning this to @krousey since he had updated heapster for migrating it from beta1->3 and knows the steps.

[2015-07-06 17:32] caesarxuchao commented on #10731
@mwielgus , I think the change you made in #10231 is very good. I think it would be helpful if we make it a java library and reuse it in all related examples.

[2015-07-06 17:39] wojtek-t commented on #9312
Thanks @zmerlynn - I think the problem is very similar here - the test run just after "recreates pods scheduled on the unreachable minion node AND allows scheduling of pods on a minion after it rejoins the cluster" which also makes one of the nodes not ready.
I will look into it tomorrow.

[2015-07-06 17:43] zmerlynn commented on #9312
Hrm, maybe we need a general "leaving e2e cluster state checker" fixture that could check for these kinds of things.

[2015-07-06 17:48] quinton-hoole commented on #9312
Yes, agreed, a standard precondition check before every check seems sensible.  We could add it to e2e/util/Framework (or where-ever that stuff lives these days).

[2015-07-06 17:54] #10366 closed

[2015-07-06 18:07] erictune commented on #9984
I think with the new Scratch Getting-started-guide #10271 that this is mostly addressed.  Closing, and we can open new issues if user feedback indicates specific

[2015-07-06 18:07] #9984 closed

[2015-07-06 18:12] saad-ali commented on #10335
Yep, I had a cluster running over the long weekend. I'll publish the remaining results for `kube-ui` with load shortly.

[2015-07-06 18:25] jlowdermilk opened #10764 "All kubectl commands should be covered by e2e tests"
`hack/test-cmd.sh` is good, but insufficient, as some of the commands exercise provider-specific logic. We need e2e coverage for every kubectl command that talks to the server, at least for defaults.

- [x] [kubectl api-versions](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/user-guide/kubectl/kubectl_api-versions.md)	 - Print available API versions.
- [x] [kubectl cluster-inf

[2015-07-06 18:27] saad-ali commented on #10335
Here are the results for the `kube-ui` container with load.

## Test Setup
* Cluster characteristics:
  * 4 nodes
  * `n1-standard-1 (1 vCPU, 3.75 GB memory)`
* Test duration: 72 hours total
  * 200 pods with 2 containers each in addition to the default pods

## Results
![kubeui_memusage_4nodes_200pods](https://cloud.githubusercontent.com/assets/10052848/8529789/e9df85d4-23d1-11e5-9448-ce364d31baa

[2015-07-06 18:33] RichieEscarez opened #10767 "Implement the remaining editing comments in the getting started from scratch document"
Open editing comments not implemented are in #10271

[2015-07-06 18:37] yujuhong opened #10768 "pkg/volumeclaimbinder: data race in unit tests"
https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/69763411

[code]

/cc @markturansky

[2015-07-06 18:38] #10543 closed

[2015-07-06 18:39] #10560 closed

[2015-07-06 18:47] ArtfulCoder commented on #10761
#10771
Verifying..

[2015-07-06 18:50] lavalamp commented on #10756
Rebuilding is probably sufficient.

[2015-07-06 18:55] wojtek-t commented on #10127
I will look into it tomorrow waw time.

[2015-07-06 18:55] roberthbailey commented on #10577
Actually, I think that PR is for a different bug and this can be closed.

[2015-07-06 18:55] #10577 closed

[2015-07-06 18:56] roberthbailey commented on #9733
@derekwaynecarr have you been able to reproduce?

[2015-07-06 18:56] wojtek-t commented on #9312
+1 - this would be very useful - I can look into it after debugging the test itself.

[2015-07-06 19:08] erictune commented on #10732
Kube-apiserver is statically linked but kubelet is dynamically linked:
[code]

[2015-07-06 19:09] eparis commented on #10577
correct #10643 is what fixed this (and led to #10711)

[2015-07-06 19:12] akamalov commented on #10697
If the question is to get to kube-ui, I've tried the following and it got me to <b>kube-ui</b>:

[code]

[2015-07-06 19:13] #10734 closed

[2015-07-06 19:14] lavalamp commented on #8686
@davidopp yes, that covers random builds by individual devs.

By "lingering dependencies" I mean that if you build from head and re-push e.g. kube2sky:v1, you accidentally break an unknown number of running clusters that used to work.

[2015-07-06 19:15] yujuhong commented on #9119
Just saw a similar failure:
https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/69774690

[code]

[2015-07-06 19:17] erictune commented on #10732
IIUC, @UserTaken is using Alpine Linux, which requires position-independent executables for security reasons, and a statically linked program is not a position-independent executable.

@ArtfulCoder or @lavalamp it looks like you touched some code related to static linking, so I wonder if you know why we chose we chose to statically link some targets and not others.  Would it be possible to provide

[2015-07-06 19:18] ncdc commented on #9119
I will try to work on a fix this week.

[2015-07-06 19:24] lavalamp commented on #10732
[code]

[2015-07-06 19:25] yujuhong commented on #10623
@antoineco, why was the node in `NotReady` state and how did you start kubelet? If you used our cluster setup scripts, `monit` would be monitoring kubelet and would restart it if it's not running.

Hmm...it'd be really nice to see if you could start the container manually. I wouldn't expect docker to be so overwhelmed that it didn't respond at all. Were you able to find any information of your req

[2015-07-06 19:26] davidopp commented on #10720
@bprashanth Could you take a look to see if there is a Kubernetes bug lurking in here? (See @gmarek's comment about dying pods)

[2015-07-06 19:27] erictune commented on #10675
AFIAK, the vSphere guide was last tested with v0.9.  We are on v0.21.  If you are trying to use latest binaries with that guide, I'm certain it won't work.  If you are using v0.9 binaries, those are so old that most devs can't remember how to debug stuff that old.

[2015-07-06 19:28] yujuhong opened #10773 "pkg/apiserver unit test is flaky"
https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/69776569
[code]

[2015-07-06 19:29] yujuhong commented on #10768
This turns out to be a dup of #9843

[2015-07-06 19:33] pietern commented on #10675
I'll check it out.

[2015-07-06 19:35] borg286 opened #10774 "Docker k8s setup instructions to have DNS option"
Please add a way to add DNS support to the setup instructions for getting a kubernetes cluster using docker.
The SkyDNS server already has a yaml file  and would exist as a pod and service just as the current apiserver pods exist.

[2015-07-06 19:37] yujuhong opened #10775 "Known travis/shippable test flakes"
Travis is failing more often than passing. There are a variety of different flakes, most of which have already been reported. I am opening this issue to aggregate them so that on-calls don't waste time filing duplicates.

Unit tests:
 - ~~#9843: data race in `pkg/volumeclaimbinder`~~
 - #10773: `TestMaxInFlight` unexpected response: 429  in `pkg/apiserver`
 - ~~#9119: `TestRequestExecuteRemoteComm

[2015-07-06 19:41] bcbroussard commented on #10697
If you are running off of master, the ui has been recently moved out into its own container - https://github.com/GoogleCloudPlatform/kubernetes/pull/10077. When using the salt scripts, a new kub-ui manifest file should be generated, and the container started by default. How are you starting your cluster?

The new container web ui can be launched manually with:
[code]

@timstclair it sounds like we

[2015-07-06 19:48] yujuhong commented on #10774
@borg286, [DNS is offered as cluster add-ons] (see https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/dns.md), and will be created automatically if you use our cluster setup scripts. Please see the [getting started guide](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/README.md) and select the OS/infra combination that suits your need. If

[2015-07-06 19:53] yujuhong opened #10776 "contrib/mesos/pkg/election unit test timeout"
https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/69776608

[code]

/cc @jdef, @davidopp

[2015-07-06 19:57] bprashanth commented on #10720
Failure to list stats for a container (https://github.com/GoogleCloudPlatform/kubernetes/issues/10720#issuecomment-118923036) is benign. Scheduling 100 pods per node is too much, we know we can't handle that load on an n1-standard, especially if we're running a resource heavy cluster addon like heapster on the same node. I'd recommend bringing down the pod count to something more manageable (I thi

[2015-07-06 19:58] quinton-hoole commented on #10622
@ixdy Any progress on this one?  It's one of our few remaining v1.0 priority 0's.

[2015-07-06 19:59] davidopp commented on #9207
Now that @erictune's comments have been addressed, I'm moving this back out of 1.0.

[2015-07-06 20:00] davidopp commented on #9207
(addressed by my PR)

[2015-07-06 20:05] ixdy commented on #10622
No progress. I have no idea why docker is failing more consistently on the pull request jenkins.

[2015-07-06 20:06] krousey commented on #10755
@dchen1107 @nikhiljindal The PR is out. Once it's merged, a release will have to be pushed. Then we can update `cluster/addons/monitoring/...` to point to the new release.

[2015-07-06 20:06] ixdy commented on #10622
The DNS tests were already using images from gcr.io, so the fix in #10758 seems unlikely to be the issue.

[2015-07-06 20:11] borg286 commented on #10774
The docker option does not use those setup scripts. According to your documentation it would be done by passing a flag to the kubelet pointing it to the DNS server, and to have the DNS server spun up with the salted yaml file. For the simplistic case that the docker setup tries to solve it isn't far fetched to make some simple assumptions like the domain to be used.

[2015-07-06 20:18] #10242 closed

[2015-07-06 20:21] zmerlynn opened #10777 "Figure out "post release build validation steps""
This is a follow-on to https://github.com/GoogleCloudPlatform/kubernetes/pull/10709#discussion_r33963117. We don't have an easy way outside of GKE validation of a build to do "grab a tarball and validate it using e2es, etc." It's not hard, necessarily. It's slightly different than #10676, which is about validating the source on the release branch.

[2015-07-06 20:23] timstclair commented on #10697
I'll take another pass at the docs, but it should be enabled by default along with the other cluster addons. Are any of the other cluster addons running? You can check with:
[code]
The cluster addons are started according to the manifests in `/etc/kubernetes/addons/kube-ui`, so if those are absent that is the problem.
@bcbroussard if the addon manifests are not present, starting the UI manually wi

[2015-07-06 20:45] satnam6502 commented on #10756
I am creating a new tag and updating -- out of paranoia -- to avoid stomping over an existing image.

[2015-07-06 20:50] lavalamp commented on #10697
If the addon script isn't running, you should be able to manually create addons as @bcbroussard says. (@timstclair correct me if I'm wrong, but I think the addon script is the only thing that would delete this? So it should be OK if it's not running at all?)

What cloud provider are you using? It may not start by default everywhere.

[2015-07-06 20:51] erictune commented on #10242
Trying to recap Brian's list of suggestions (which David agreed with), and their current status and if they have issues:

1. *Assign some cpu on all the addons.*    **Done** by #10653
1. this one had two parts:
  1. *use number of pods as ... priority.*  **Not needed** due to #10661.
  1. *use resource usage ... for placement.*  **Not needed** IMHO because it will be done by auto-sizer.
1. *spread

[2015-07-06 21:08] bgrant0607 commented on #10242
(4) is the only thing critical for 1.0. Yes, please file an issue.

(5) is still desirable as a user convenience, independently of this issue, but isn't critical. Covered by #10495

(6) is still desirable independently of this issue, but isn't happening for 1.0. Covered by #168, #147, #7355.

We don't really have an open issue specifically for vertical auto-sizing. We should.

[2015-07-06 21:09] cjcullen commented on #9822
My current repro (requires curl 7.43 for the --unix-socket flag):

Docker run a container w/ host networking (this step only needs to happen once):
[code]
Post to docker's containers/create endpoint with a 1279 character Entrypoint:
[code]
Start the container w/
1) --net and --ipc pointing to the host-networked container from above.
2) Cgroup parent set to "/", MemorySwap set to -1
3) 13 Binds, 4

[2015-07-06 21:11] erictune commented on #10732
@lavalamp the user wants to make things be dynamic, not static.

[2015-07-06 21:14] davidopp commented on #10242
I agree with the list, with the caveat that some of the "not needed" is more like "maybe after 1.0, but not relevant to this issue."

#10667 is related to item 3

[2015-07-06 21:14] lavalamp commented on #10732
Ah, I see. In that case, you'd have to edit the bash function that uses KUBE_STATIC_OVERRIDES to always return false.

[2015-07-06 21:15] dchen1107 opened #10779 "Resource management guidance for addons containers"
#10653 and #10778 are merged to allocate resource limit (cpu and memory) for all addon containers based on current default configuration for GCE / GKE and AWS: 4 nodes, 30~50 pods per node based on #10335. We should provide scaling guidance and steps for cluster users to update their addon services based on cluster size and workloads.

cc/ @bgrant0607

[2015-07-06 21:17] dchen1107 commented on #10242
I just filed #10779 for item 4)

[2015-07-06 21:17] cjcullen commented on #9822
I guess the `>>` technically gets represented as `\u003e\u003e`, so my magic number is actually 1341 (1289 for the command, plus 13*4 for the binds).

[2015-07-06 21:19] bgrant0607 commented on #10168
I'd like to get this done now that we're focusing on docs for 1.0.

Different examples could be done by different people, in order to parallelize the work. Please pitch in once more critical 1.0 issues are resolved.

cc @JanetKuo @caesarxuchao @krousey @nikhiljindal

[2015-07-06 21:20] bgrant0607 commented on #10109
Needs to be done this week if it's going to get into our 1.0 doc branch. Is there a PR for this?

[2015-07-06 21:24] antoineco commented on #10623
We run our cluster on CoreOS and provision everything via fleet, so I simply stopped the systemd unit on the node, and started it again manually.

I haven't checked the Docker logs after my attempt, I'll try another time.

I will try with a private repo hosted on the Docker Hub.

[2015-07-06 21:25] bgrant0607 commented on #5799
This is done.

[2015-07-06 21:25] #5799 closed

[2015-07-06 21:25] erictune commented on #10732
@UserTaken is this blocking you or do you have a workaround?  If you are stuck, I can try to suggest a workaround.  To do that, it would help if you tell me which getting-started guide and which cloud provider you are using.

[2015-07-06 21:26] kelseyhightower commented on #10774
@yujuhong Will running k8s in containers prevent the DNS addon from working because of the inability to mount secrets? We have an issue right now with the Kubelet running in a container and the fact that Docker 1.7+ does now allow the mounts created by the Kubelet to show up in other containers.

[2015-07-06 21:28] bgrant0607 commented on #9097
Any progress on this?

[2015-07-06 21:29] smarterclayton commented on #8668
Sounds good, as long as the API is returning that (not the client side).

On Jul 6, 2015, at 1:16 PM, Chao Xu <notifications@github.com> wrote:

Hi @smarterclayton <https://github.com/smarterclayton>, I tried on HEAD, it
seems the problem has been fixed. Here's what I did:
I created a pod, then modified one of it's env var, and use kubectl update
to update it, and I got this response:

Replace fai

[2015-07-06 21:31] bgrant0607 commented on #3060
cc @caesarxuchao

[2015-07-06 21:31] bgrant0607 commented on #5331
Some short descriptions can be found here: https://github.com/openshift/origin/pull/2914

See also #3060

[2015-07-06 21:32] dchen1107 commented on #10779
cc/ @saad-ali

[2015-07-06 21:34] smarterclayton commented on #9097
Will open a pull next week when I get back from PTO

[2015-07-06 21:34] andronat commented on #3060
@bgrant0607 I am working on it and I'll report progress really soon

[2015-07-06 21:35] kelseyhightower commented on #10732
@erictune My guess would be the docker deployment guide and I also saw an issue from @UserTaken on a k8s docker image I rolled for simple testing: https://github.com/kelseyhightower/kubeos

[code]

The kubeos container is pretty large (360MB), and we would save about ~150MB if we could run the binaries on Alpine linux.

One thing that I think will be a blocker is that Alpine Linux uses [musl](http

[2015-07-06 21:35] bgrant0607 commented on #9632
We could copy the relevant text from https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/gce.md#installing-the-kubernetes-command-line-tools-on-your-workstation to other guides.

[2015-07-06 21:37] erictune opened #10781 "Create a resource-management tutorial"
In #10242, @bgrant0607 said "We should create a resource-management tutorial, which explains things like how to debug OOMs, how to figure out resource usage with heapster, how to set and rollout resource limits, and how to use LimitRange. @vishh"

[2015-07-06 21:38] erictune commented on #10781
#10573 describes resources and limits.

[2015-07-06 21:38] bgrant0607 commented on #3059
See also #10690

[2015-07-06 21:40] karlkfi commented on #10697
Thanks for the help! Wish I'd had all those comments a week ago. :)

I'm working on a new cluster setup for mesos, and we hadn't deployed the addon pod/service. After deploying it with the yaml in `cluster/addons/kube-ui` it came up as expected and was accessible via `http://<master>/ui`.

It was pretty confusing that the `/ui` redirect is built into the apiserver, but the ui itself isn't. Perhaps

[2015-07-06 21:43] bgrant0607 commented on #1571
Backtracking to root: I can see the value, but think we have bigger fish to fry.

[2015-07-06 21:44] soundofjw commented on #9043
This would be wildly valuable - specifically for kubernetes + elastic-search, where data nodes really shouldn't be losing data.

[2015-07-06 21:44] bgrant0607 commented on #499
I think this is done.

[2015-07-06 21:44] #499 closed

[2015-07-06 21:45] bgrant0607 commented on #9951
The docs have been updated to v1

[2015-07-06 21:45] #9951 closed

[2015-07-06 21:46] erictune opened #10782 "Vertical pod auto-sizer"
We should create a vertical auto-sizer.  A vertical auto-sizer sets the compute resource limits and request for pods which do not have them set, and periodically adjust them based on demand signals.  It does not directly deal with replication controllers, services, or nodes.

Related issues:
- #2768
- #147
- #1629
- #10242
-  #1899

[2015-07-06 21:47] erictune commented on #10242
Filed #10781 for the tutorial.  Filed #10782 for Vertical auto-sizer.

[2015-07-06 21:49] bgrant0607 commented on #10097
Indeed, we have no docs about using the UI. We should create some overview and workflow-oriented docs, with screenshots.

[2015-07-06 21:52] antoineco commented on #10623
Ok, just made another attempt with two images an the RCs posted [earlier](https://github.com/GoogleCloudPlatform/kubernetes/issues/10623#issuecomment-117997161)
* toni0/redis (private)
* toni0/postgres (public)

Surprisingly the **public** images failed this time. This is driving me crazy.
Again the logs show `Successfully pulled image` but all the pods in the RC stay in a `Waiting, no such image`

[2015-07-06 21:54] bgrant0607 commented on #9043
Data needs a lifetime independent of pods. See, for example, #598 and #7562.

[2015-07-06 21:55] bgrant0607 commented on #10097
Looks like we also need to update deployment documentation, at least for non-GCE/GKE cloud providers: https://github.com/GoogleCloudPlatform/kubernetes/issues/10697#issuecomment-119005309

[2015-07-06 21:56] lavalamp commented on #10697
/ui is a redirect to /api/v1/proxy/namespaces/default/services/kube-ui/#/dashboard/, which is a proxy.

We moved the ui to an add-on pod to:
* Reduce security concerns from hosting UI directly from apiserver.
* Decouple UI & cluster version, making UI development easier.
* Make running the UI optional.

[2015-07-06 21:59] antoineco commented on #10623
Just updated the Gist @ https://gist.github.com/antoineco/f03b389a23ffe22fddfe

[2015-07-06 22:11] alex-mohr commented on #10409
Marked 0.20.2 as stable and removed pre-release tag.

[2015-07-06 22:11] #10409 closed

[2015-07-06 22:15] alex-mohr commented on #9253
@kelseyhightower we plan to run master components in containers for GCE and GKE going forward.  Unless that's a hardship for other distros, perhaps we can encourage it?

And if the tarball sizes are a problem, perhaps we could have a size-optimized tarball with just binaries?

[2015-07-06 22:18] antoineco commented on #10623
Another attempt with a fresh node: this time posgres succeeded and redis failed.

[code]

This time most errors seem to be related to overlayfs, still the issue always seem to occur when multiple pods pull at the same time.

I'm committing a new revision of the Gist with a kubelet log level of 4.

[2015-07-06 22:19] alex-mohr commented on #10367
@zmerlynn  fwiw, seems like if we do want a test for has-it-been-staged, the most-robust approach would be to "gsutil ls" the object in question?

removing from v1.

[2015-07-06 22:23] alex-mohr commented on #8699
@juliaferraioli I'm not sure what the actionable item here is.  Can you give an example of the error message you saw and a revised version you'd like to have seen?

[2015-07-06 22:25] yujuhong commented on #10623
@antoineco, what version of docker are you using? I found a docker issue https://github.com/docker/docker/issues/9718 (pre 1.7.1) that seemed to show similar symptoms as yours at concurrent image pulls. The issue has been fixed in docker 1.7.1

[2015-07-06 22:27] philips commented on #2725
@ibotty I believe so, CC @yifan-gu

[2015-07-06 22:28] antoineco commented on #10623
Right now Docker 1.6.2.
I can try with Docker 1.7.1, but it will take a while before everybody updates to this version. It's surprising that I'm the only one to observe this behavior, especially with both the latest CoreOS and Kubernetes.

[2015-07-06 22:29] erictune commented on #10732
Related:
https://github.com/blang/golang-alpine-docker

[2015-07-06 22:33] juliaferraioli commented on #8699
Not my error message, but here's the text from the friction log:

$ cluster/kube-down.sh
Cannot start cluster using os distro: windows
Bringing down cluster using provider: gce

The user had changed their settings which resulted in the mismatch. They then had to dig around to find where the correct config file was located. Instead, the error message could point them to that path:

*Cannot start cl

[2015-07-06 22:33] alex-mohr commented on #4747
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/upgrade.sh has usage notes.  It's not the most discoverable of "docs" and we don't have an equivalent for other distros, but it's there.

[2015-07-06 22:33] #4747 closed

[2015-07-06 22:34] dchen1107 commented on #10659
I did measurement over the long weekend through heapster, and couldn't reproduce the issue. I did observe slight cpu usage increase by running docker exec, but not as obvious as what reported here. Chatted with @lavalamp offline, he observed such increase from GCE pantheon ui, which is known NOT-ACCURATE since it includes all overheads for running VM itself.

[2015-07-06 22:43] timstclair commented on #10697
@karlkfi thank you for outlining the specific issues you had with the docs. I created #10784 which I hope addresses most of your issues, except covering general dashboard usage information.

[2015-07-06 22:44] alex-mohr commented on #8699
Agreed that getting k8s scripts to work on a new distro is painful.  I think we're going to work on moving away from bash rather than harden all the corner cases.

[2015-07-06 22:48] lavalamp commented on #4875
This is no longer possible now that the ro service has been removed.

[2015-07-06 22:48] #4875 closed

[2015-07-06 22:52] lavalamp commented on #10659
I can readily believe it's not accurate (it doesn't agree with ```top```, for example), but since restarting kubelet made the numbers go back down, I don't believe the VM overhead is a contributing factor.

[2015-07-06 23:05] yujuhong commented on #10623
There seems to be quite a few people hitting this issue by looking at the docker issues (https://github.com/docker/docker/issues/9718, https://github.com/docker/docker/issues/13971). The fundamental problem seems to be layer corruption due to multiple concurrent pulls ("Multiple simultaneous docker pulls that depend on the same underlying layers will corrupt them.").

Thank you very much for bring

[2015-07-06 23:08] cjcullen commented on #9822
Now that #10780 is submitted, I'll mark this issue closed. Any follow-up on the underlying issue can happen on https://github.com/docker/docker/issues/14203.

[2015-07-06 23:08] #9822 closed

[2015-07-06 23:10] karlkfi commented on #10697
@lavalamp yeah I totally understand that it's an improvement to externalize the UI. It's just odd now that it gets a special hardcoded short url endpoint that you can't configure any other services to have.

[2015-07-06 23:13] #9576 closed

[2015-07-06 23:13] karlkfi commented on #10697
I see the following follow-up issues have been created.
- #10097
- #10784

[2015-07-06 23:19] bgrant0607 commented on #2725
Yes

[2015-07-06 23:19] #2725 closed

[2015-07-06 23:22] bgrant0607 commented on #10501
This won't make 0.21.0.

[2015-07-06 23:30] bprashanth commented on #10418
This was fixed after discussion in the spinoff bug and the associated pr

[2015-07-06 23:30] #10418 closed

[2015-07-06 23:32] caesarxuchao commented on #5331
After this [commit](https://github.com/emicklei/go-restful/commit/840de8cdfa1cb6acba339dcaf0c7811101eac06a), go-restful will populate model.description field from the contents of modelDescription tags attached to any struct fields, including embedded fields like `TypeMeta`.

However, swagger-ui does not render the model.description field in the generated webpage. We will work on this later.

[2015-07-06 23:40] caesarxuchao commented on #8668
Unfortunately, #9803 is a client side trick that extracts this neat error message from a messy response. The response from the apiserver includes a full spec of the object and this error message appended at the end.

[2015-07-06 23:44] juliaferraioli commented on #8699
This was an issue that someone experienced with relatively little usage with k8s, so I don't think that it falls under the corner case category. It will be a pretty common scenario to have people trying out different OS's, especially in the decision-making phase of development. This is "one of the paper cuts" when it comes to developer experience.

I'm reopening this, because DevRel agrees that it

[2015-07-06 23:45] nikhiljindal commented on #10761
Fixed by https://github.com/GoogleCloudPlatform/kubernetes/pull/10771

[2015-07-06 23:45] #10761 closed

[2015-07-06 23:45] nikhiljindal commented on #10754
Fixed by https://github.com/GoogleCloudPlatform/kubernetes/pull/10771

[2015-07-06 23:45] #10754 closed

[2015-07-06 23:45] caesarxuchao commented on #10168
I'll work on the first 5 examples for now, i.e. aws_ebs to cluster-dns.

[2015-07-06 23:59] JanetKuo commented on #3059
I'm adding doc url to descriptions of swagger fields. e.g.,

type Container struct {
Image string '.... description:...**; see http://releases.k8s.io/HEAD/docs/Images.md**'
}

[2015-07-07 00:00] aronchick commented on #10692
This solved it.

[2015-07-07 00:01] quinton-hoole opened #10792 "Flaky e2e: Proxy version v1 should proxy logs on node (Failed 4 times in the last 30 runs. Stability: 86 %"
#9312 and #10739 provide further details.  #10739, the intended fix, does not seem to have done the job.

[2015-07-07 00:04] aronchick opened #10793 "Cannot Allocate Memory causes RC to not continue to try to spin up nodes"
What would cause this?

[code]

This container is running properly on other nodes. As a result, my cluster is out of alignment (only one replica has been created, when 2 are required) but this is permanently stuck.

The exact same cluster works fine on GCE, it appears it's only on AWS.

[2015-07-07 00:10] erictune commented on #10103
fixed by #10573

[2015-07-07 00:10] #10103 closed

[2015-07-07 00:11] erictune commented on #7871
Fixed by #10271

[2015-07-07 00:12] lavalamp commented on #10792
It's totally nuts that we have to change every test to check for nodes being ready. :/

[2015-07-07 00:17] lavalamp commented on #10793
What else is running on that node? Do you have resource values on the pod's containers?

[2015-07-07 00:21] smarterclayton commented on #8668
Doesn't seem very useful.  The server doesn't (and shouldn't) print the
object the user sends back - would prefer we shorten that so all API
clients have something to show to a user:

On Jul 6, 2015, at 7:40 PM, Chao Xu <notifications@github.com> wrote:

Unfortunately, #9803
<https://github.com/GoogleCloudPlatform/kubernetes/pull/9803> is a client
side trick that extracts this neat error message f

[2015-07-07 00:24] thockin commented on #10126
load-balancing some docs @alex-mohr and WAW folks @wojtek-t

[2015-07-07 00:24] thockin commented on #10125
Another for @alex-mohr @wojtek-t

[2015-07-07 00:25] quinton-hoole commented on #10792
@lavalamp You're right (as usual). Better suggestions welcome.  A few I can think of off the top of my head:

1. Have the e2e Framework automatically validate/wait for all nodes to be ready before each test (not ideal, IMO - slow, and not really realistic, especially for larger clusters).
1. Have each test "know" how many nodes it needs, and explicitly fail if there are an insufficient number read

[2015-07-07 00:26] zmerlynn commented on #10792
@lavalamp: That's why I was proposing a general fixture that could check for this type of thing on the way out, then we could catch bad actors.

[2015-07-07 00:26] davidopp opened #10795 "Fix shippable flake in contrib/mesos/pkg/scheduler"
Example:
https://app.shippable.com/builds/559b0c6a8469020c00c6b9e3

[code]

[2015-07-07 00:26] bgrant0607 commented on #9220
cc @thockin, since he's working on #10130

[2015-07-07 00:29] lavalamp commented on #10792
Yeah, it should be pretty trivial to check this when a framework is shut
down.

On Mon, Jul 6, 2015 at 5:26 PM, Zach Loafman <notifications@github.com>
wrote:

[2015-07-07 00:29] aronchick commented on #10793
The odd part is that these nodes just finished running these very
containers. I'm using the default t2.micros, so I'm increasing it to
m3.mediums to see what happens.

On Mon, Jul 6, 2015 at 5:18 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-07-07 00:32] skuzye commented on #10675
I tested with latest release version and with master. I'm trying to find where things go wrong but I have no experience with Saltstack.

If there's something you need from me to help debug this please let me know. Meanwhile I'll see what I can find out.

Thanks!

[2015-07-07 00:35] davidopp commented on #10782
@jszczepkowski Do you have any issues open already on this?

[2015-07-07 00:38] dchen1107 commented on #10659
I sync-ed my client to HEAD, which includes ##10763, then I brought up a cluster after lunch, and monitored kubelet usage through heapster, and couldn't reproduce the issue. I will leave the cluster for one night, and recheck it.

[2015-07-07 00:48] aronchick commented on #10735
Though we could certainly do better, the way to switch is to set your KUBERNETES_CONFIG file to the appropriate cluster. E.G.

[code]

[2015-07-07 00:50] thockin opened #10797 "swagger-ui is uselessly slow, ..."
...horribly ugly, and practically indecipherable.  Is it actually useful to anyone at all?  we should find or make something better.

[2015-07-07 00:58] quinton-hoole opened #10798 "flakey e2e test: Docker Containers should be able to override the image's default command (Failed 3 times in the last 30 runs. Stability: 90 %)"

[2015-07-07 00:58] yujuhong commented on #10797
/cc @nikhiljindal

[2015-07-07 01:05] bibryam commented on #10727
Yep, the link is fixed now.
Thanks.

[2015-07-07 01:05] #10727 closed

[2015-07-07 01:15] lavalamp commented on #10659
I started a cluster from head just now, too. We'll see if I repro. :)

On Mon, Jul 6, 2015 at 5:38 PM, Dawn Chen <notifications@github.com> wrote:

[2015-07-07 01:17] lavalamp commented on #10797
I've only used it a couple times. It's slow to load, but after it loads it
works fine on my system. It was useful for whatever I was doing, which I
can't recall.

On Mon, Jul 6, 2015 at 5:58 PM, Yu-Ju Hong <notifications@github.com> wrote:

[2015-07-07 01:31] quinton-hoole commented on #7840
This test is still flaky.

1. Docker Containers should be able to override the image's default commmand (docker entrypoint) (Failed 2 times in the last 30 runs. Stability: 93 %
1. Docker Containers should be able to override the image's default arguments (docker cmd) (Failed 1 times in the last 30 runs. Stability: 96 %)

[2015-07-07 01:38] caesarxuchao commented on #10168
I'll work on the next 5 examples, i.e. downward-api to glusterfs

[2015-07-07 01:46] WIZARD-CXY commented on #10774
I think I can do it.Because I developed the dns deployment for ubuntu https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/ubuntu/deployAddons.sh.It just need deploy a dns rc and service.@brendandburns

[2015-07-07 01:49] WIZARD-CXY commented on #10774
@kelseyhightower It seems the newest dns doesn't require mounting token.It is automatically handled by service account if I understand right.

[2015-07-07 01:59] UserTaken commented on #10732
@erictune As a workaround I decided to build my own minimal Buildroot base container with the necessary dependencies. For normal testing I am using Fleet + Rkt to deploy the individual components so I'm not inconvenient by this.

[2015-07-07 02:09] bprashanth commented on #10720
@gmarek I think you should modify your test a little. It checks for running pods (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/max_pods.go#L124) so if we had the (now fixed) scheduler bug, and the kubelet wasn't respecting max pods, we'd end up with 200 pods on a node right (and it won't fail)? Given that you need to count pods on a node, it could double as a spreading te

[2015-07-07 02:17] brendandburns commented on #10774
Yes, we should do this.  It's a wart that it's not there right now.

[2015-07-07 02:19] WIZARD-CXY commented on #10774
Ok, I will add it today

[2015-07-07 02:24] pmorie commented on #10774
@WIZARD-CXY The service account's tokens are delivered via secrets

@kelseyhightower I will double check but this would be one use-case that doesn't work under 1.7 now when the kubelet is containerized.

[2015-07-07 02:26] WIZARD-CXY commented on #10774
Roger Roger

[2015-07-07 02:40] gghonor opened #10803 "Unclean container garbage collection"
I'm conducting PoC about distributed build using Kubernetes.
Jenkins master distribute jenkins slave pods through Kubernetes API Server.
When build is done, jenkins slave pod is also deleted by kubernetes API Server.
But, kubernetes didn't delete container. (Pod is deleted well)

After searching, I found kubelet’s containerGC option.
So, I adjusted below options to kubelet.

--minimum-container-tt

[2015-07-07 03:09] hurf opened #10805 "Add a better message for kubectl describe when resource type is not given"
Inspired by #9522, I think we should do the same thing to `kubectl describe` command.

[2015-07-07 03:27] hurf commented on #9944
I found this issue when I'm working with #10806. I looked into the code and found for some command, it's hard to seperate usage errors and other errors. To just print help only for usage errors, we may need to define different checks of parameters for different commands. I'll try to find out a way to fix this.

[2015-07-07 03:35] daizuozhuo commented on #9185
The PR: #9296 has solved this problem. Please have a look at it.

[2015-07-07 03:51] satnam6502 opened #10807 "Docker 1.7.0 auth login support broken"
As explained in #10801 we have an issue with docker auth login. We need to update:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/credentialprovider/config.go

Perhaps @mattmoor could kindly add more details?
Thank you.
@dchen1107  @davidopp

[2015-07-07 04:10] KSanthanam opened #10809 "Kubectl-proxy to support polling and socket.io"
I have a node.js pod that uses socket.io for polling. I configured my nginx pod for polling with
ip_hash &
proxy_set_header Connection upgrade;

so that subsequent requests are forwarded to the same service. However kubctl-porxy  configuration is not accessible to me to do the same from Service to POD.

How to do I alter the parameters for kubectl-proxy?

Currently I am experimenting hardcoding th

[2015-07-07 05:28] KSanthanam commented on #10809
Is SessionAffinity the answer to my question? Can you please guide.

[2015-07-07 05:34] jlowdermilk commented on #10764
FYI @bgrant0607. I started with a test for `kubectl proxy in #10813, but if we agree this is 1.0-worthy, it'd be faster to split this up among a few people with available cycles. Also cc @mwielgus who recently added kubectl examples e2e, and may be interested in picking up an unchecked box or two.

[2015-07-07 06:14] wojtek-t commented on #10126
@piosz - can you please take a look?

[2015-07-07 06:15] wojtek-t commented on #10125
@gmarek @jszczepkowski - can one of you please take a look?

[2015-07-07 06:53] bgrant0607 commented on #10764
I have 0 time left to review any PRs, but I'm happy for people to work on this if they've finished more critical 1.0 work. We can always merge tests that don't uncover critical bugs after 1.0.

[2015-07-07 06:54] bgrant0607 commented on #10764
cc @nikhiljindal @caesarxuchao @krousey @JanetKuo

[2015-07-07 07:07] davidopp commented on #10097
Is there anyone who has more experience with the UI who would be interested to take this issue from me?

[2015-07-07 07:23] gmarek commented on #10720
Yeah - but in this case 'additional-pod' will be able to schedule as well and the test will fail. I can do this if you think it's really important, but I don't think it's necessary.

[2015-07-07 07:34] jszczepkowski commented on #10657
I was running it on GCE.

[2015-07-07 07:53] satnam6502 opened #10818 "kubectl get rc output format error"
The number of replicas are not properly lined up.
[code]
@davidopp

[2015-07-07 07:53] marekbiskup commented on #7046
I don't see the salt error anymore. It must have been fixed at some point.
Addon update is already working.

#10611 only will resolve this issue.

[2015-07-07 08:10] wojtek-t commented on #10792
Regarding the original test - it seems that the problem was different in the last failure. Basically, the first 3 failures were failing with error:
    Error: 'dial tcp 10.240.41.154:10250: connection refused
which was due to not-ready node.

The last failure (once the previous one was fixed) failed with:
    Error: 'read tcp 10.240.216.116:10250: connection reset by peer
which is different - i.e.

[2015-07-07 08:11] wojtek-t commented on #10792
Also - I'm not able to reproduce this failure.

[2015-07-07 08:52] jszczepkowski commented on #10782
I don't have any issue for it yet.

[2015-07-07 08:52] feihujiang commented on #10628
@bgrant0607 I think small PRs could be reviewed easily, so I new pull request for each of these commands. Is this OK?

[2015-07-07 08:59] adyanthaya17 commented on #10737
The node I'm working on is on a openstack instance of image 12.04 ubuntu.

[2015-07-07 09:48] Icedroid commented on #8176
How to fix it. I can't run etcdctl.
flanneld.service - Flanneld overlay address etcd agent
   Loaded: loaded (/usr/lib/systemd/system/flanneld.service; enabled)
   Active: failed (Result: timeout) since 二 2015-07-07 17:13:43 CST; 52s ago
 Main PID: 12566

7月 07 17:13:36 uapi1 flanneld[12566]: E0707 17:13:36.421659 12566 main.go:151] Failed to create SubnetManager: 100: Key not found (/config) [65]

[2015-07-07 12:12] wojtek-t commented on #9062
@jszczepkowski - since #10703 is now merged, can we close this issue? Or is there anything remaining here?

[2015-07-07 12:29] marekbiskup opened #10822 "Restart test - nodes disappear"
[code]

Nodes disappeared. I suppose the shutdown script unregistered them. Then they never registered.

From nodes:

[code]

docker logs:

[code]

kubelet:

[code]

Just before these tests I created another GKE cluster (this was on a e2e cluster). Maybe GKE interfered?

[2015-07-07 12:30] marekbiskup commented on #10822
[code]

[2015-07-07 12:30] omribahumi commented on #1957
+1 for consul

[2015-07-07 12:30] marekbiskup commented on #10822
I have no idea what happened. I still have the cluster, if someone wants to get more logs.

[2015-07-07 12:38] zmerlynn opened #10825 "Versioned API descriptions breaks existing release flow"
#10690 doesn't work with our existing release flow. I thought it did, but, from https://github.com/GoogleCloudPlatform/kubernetes/pull/10812#issuecomment-119078638:

cc @eparis @thockin

closing out #10812.

[2015-07-07 12:47] marekbiskup opened #10826 "GCE/GKE: test/e2e/restart.go - MIG rolling update with identical template will not restart nodes"
test/e2e/restart.go, func restartNodes, assumes that MIG rolling update on GCE will cause node restart.

However, there is a feature of MIG rolling update (currently broken) that skips update if the new instance template is the same as the old one.
The feature is supposed to work quite soon, so the test will not test anything (reboot will not be performed).

A workaround may be to create an identi