[2015-09-03 18:56] stevesloka commented on #13552
Today I'm using IP's to talk to each pod, but I have a need to enable TLS over that. When I gen my cert, if I need a dns name that I can add to my SAN.

I don't care what the name of the pod is or how it's gen'd, just as long as I can use something like: <pod>.<namespace>.pod.k8s.local and it routes to that pod, then I can add *.<namespace>.pod.k8s.local to the cert's SAN.

I also don't need for e

[2015-09-03 18:56] #13539 closed

[2015-09-03 19:07] kshelton commented on #13035
Good point, I was thinking of the GKE case where the are all tagged the same, but that's not enforced by the k8s code.

So, I think having the constraint of "If you change your instance tags you need to recreate your LB and restart the api servers / kubelets" seems reasonable.  For a path forward then, are you fine with keeping the generation to use the set of tags that are the instance name prefi

[2015-09-03 19:14] #13478 closed

[2015-09-03 19:28] smarterclayton commented on #13567
@derekwaynecarr for limits and quota and @bparees @solytsh for builds and
jobs

On Sep 3, 2015, at 2:50 PM, Cameron Brunner <notifications@github.com>
wrote:

This is a continuation of a discussion started in the #sig-scheduling
kubernetes slack channel between @davidopp <https://github.com/davidopp>,
@smarterclayton <https://github.com/smarterclayton>, and @quinton-hoole
<https://github.com/quint

[2015-09-03 19:31] smarterclayton commented on #12968
127.0.0.1 : 6060?

On Sep 3, 2015, at 1:34 PM, Mike Danese <notifications@github.com> wrote:

And what about profiling (not custom compiled) kubelets? golang/go#11468
<https://github.com/golang/go/issues/11468>

—
Reply to this email directly or view it on GitHub
<https://github.com/kubernetes/kubernetes/issues/12968#issuecomment-137521905>
.

[2015-09-03 19:32] smarterclayton commented on #13557
You can always switch to redhat os'es... :)

On Sep 3, 2015, at 11:52 AM, Filip Grzadkowski <notifications@github.com>
wrote:

Currently when kubelet is running in a container writing secretes doesn't
work. The problematic workflow is:
1. Kubelet mounts tmpfs as a secret volume using nsenter_mounter in host's
namespace
2. Kubelet reads secretes from API server
3. Kubelet tries to write secretes to

[2015-09-03 19:37] quinton-hoole commented on #13548
Yes, I think this is a good idea.  It should be relatively trivial to mask the uploading error from Jenkins (in the script).  We do ideally need some sort of warning to alert us if/when the uploads are failing repeatedly (which could be done in a separate PR).  Ideally it would email the oncall, or automatically (re-)open and assign a github ticket.

@ixdy do you have time to look at this next wee

[2015-09-03 19:42] ixdy commented on #13548
We're using a Jenkins plugin, not the e2e scripts, to upload build results to GCS. There's no way that I can find to make it not fail the build if an upload fails.

Side note: the actual error message is a 401 error from GCS
[code]
which seems to suggest an actual issue in the underlying infrastructure somewhere, which probably shouldn't be overlooked, but I have no idea where to start to try to f

[2015-09-03 19:45] smarterclayton commented on #13258
It's entirely possible it's not getting flushed from the cleanup queue due
to a bug.  I will look when I have time tonight.

On Sep 3, 2015, at 6:52 AM, Marek Grabowski <notifications@github.com>
wrote:

Ping @smarterclayton <https://github.com/smarterclayton> - can you give any
input on this? I'm going to debug this in free cycles (which may appear in
not-too-distant future or not), so any help w

[2015-09-03 19:47] yujuhong commented on #13562
Ideally, the pod lifecycle event generator would detect the container change, trigger a cache update, and then mark the container GC-eligible.
However, to survive kubelet restarts, we'd still need to keep at least *one* container per container name in the pod

[2015-09-03 19:55] jtblin commented on #12400
On Mac, you have to install `bash-completion` with `brew` i.e. ` brew install bash-completion` then as per the install notes, add it to your `~/.bash_profile`:

[code]

That said even after doing that, it still doesn't work for me but I guess it isn't a `kubectl` issue.

[2015-09-03 19:57] ixdy commented on #13548
That said, it should be pretty straightforward to write a script to upload the artifacts and build log, rather than relying on the plugin.

[2015-09-03 19:58] timothysc commented on #11962
Per our discussion the client is available:
https://github.com/coreos/etcd/tree/master/client + godoc:
https://godoc.org/github.com/coreos/etcd/client

@wojtek-t is isolating the dependencies which appear to be in a lot of locations, including a forked client in server.go.?.?.?

$ grep -r "go-etcd" * | wc -l
39

I'm starting from the helper and updating.

[2015-09-03 20:00] moander commented on #12400
Same for me. I have bash completion installed, and it works for any other program I have installed except for kubectl..

Morten

[2015-09-03 20:01] eparis commented on #12400
what's the error?

[2015-09-03 20:01] eparis commented on #12400
(and version of bash_completion)

[2015-09-03 20:01] pmorie commented on #10288
Spoke with @sdminonne about this one.  Probable call site: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L1601

I think @sdminonne or @ejmemba is going to take this one.

E2E plan we've discussed:  create an imagine that core does (by making `abort` syscall), test that there is an event for it.

[2015-09-03 20:03] jtblin commented on #12400
Error is still `kubectl -bash: _init_completion: command not found`. I posted the question on [SO](http://stackoverflow.com/questions/32384452/kubectl-bash-init-completion-command-not-found) as well.

[2015-09-03 20:04] jtblin commented on #12400
Version is `1.3`.

[2015-09-03 20:05] yifan-gu commented on #8262
@kamalmarhubi No.

[2015-09-03 20:10] jtblin commented on #11543
Is there an ETA for this to be fixed? We deploy kubernetes on coreos in our own VPC in AWS and this is basically preventing us from using it as `kubelet` crashes with `cloud-provider=aws` as for OP because of this issue.

[2015-09-03 20:11] jtblin commented on #9801
Is there an ETA for this? We deploy kubernetes on coreos in our own VPC in AWS and this is a blocker as we are getting same error as OP.

[2015-09-03 20:20] timothysc commented on #8132
@smarterclayton At millions of keys, I often question offloading any non-operational data.

@xiang90 ^ fyi re: ticket.

[2015-09-03 20:35] jswoods opened #13569 "Publish latest hyperkube versions v1.0.5 and v1.1.0-alpha.1"
[code]

It would be great to get these published as I'd like to use them.

[2015-09-03 20:36] someword commented on #11751
Is it possible to have images pushed to gcr.io for any release or pre-release that shows up on https://github.com/kubernetes/kubernetes/releases.   The pre compiled binaries are available and it would be nice if the analog hyperkube image was available as well.

[2015-09-03 20:37] eparis commented on #12400
any change one of you can try this patch https://gist.github.com/eparis/fd17b8fb4eb58efc2c12 ??

[2015-09-03 20:39] eparis commented on #12400
you'll need to patch the kubectl completions file, source it again `. /path/to/it/kubectl` then try `kubectl [tab][tab]`

[2015-09-03 20:43] eparis commented on #12400
I'm going to reopen, as this is a bug/issue  not a request for support

[2015-09-03 20:48] derekwaynecarr commented on #13567
There were earlier discussions on where quota should be enforced.  I do not want to enforce quota in the scheduler, that is problematic if/when you run multiple schedulers, so if we change something we need to change how our admission controller operates.

A simple option of enforcing a running quota is to only charge against the quota pods whose podSpec.NodeName != nil in admission control.  The

[2015-09-03 20:48] piosz commented on #6020
Should this be closed?

[2015-09-03 20:50] thockin commented on #6020
I think so ?

On Thu, Sep 3, 2015 at 1:48 PM, Piotr Szczesniak <notifications@github.com>
wrote:

[2015-09-03 20:51] jtblin commented on #12400
It works great with the patch, thanks @eparis!

[2015-09-03 20:53] jtblin commented on #12400
Re: support vs bugs, I did find some issues have been closed lately that are real issues, not requests for support. It doesn't give the best image of the project (which is a shame as kubernetes is awesome) but I can understand as it can be hard to manage the number of issues and number of support type issues that are a better fit for SO. Thanks for your help with that, I'll answer the question on

[2015-09-03 20:53] packetcollision commented on #9801
I'd also love to know if this is going to be included in 1.1. It was a blocker for us, but we worked around it by running a separate ASG of CoreOS machines outside of the Kube cluster but on the same overlay network that do manual load-balancing into the cluster using Vulcan and Romulus. The ASG automatically adds machines to an ELB. @jtblin if you only need to do http(s) load-balancing, something

[2015-09-03 20:54] derekwaynecarr commented on #13567
Thinking a little more, I think we need to enable the ability to modify resource requirements on a container that is not yet scheduled before entertaining this idea further.  If we admit the pod and do not cost it against your quota until its nodeName is filled out, we need to ensure that if the pod had no resource requirements that it could be adjusted by another component.

I think the idea has

[2015-09-03 20:54] eparis commented on #12400
give me 10 minutes or so and I'll have a PR you can link to that actually fixes it.

[2015-09-03 20:56] jtblin commented on #12400
:+1:

[2015-09-03 20:58] thockin commented on #13552
I spoke with Brian on this and we agreed on a reasonable compromise.  It
seems that Clayton came to the same solution.

For every pod, assign a DNS A record (PTR is different can of worms) of the
form `12-34-56-78.your-namespace.pod.cluster.local`.  The pod IP is already
part of the downward API and easily discovered besides.  This does not
expose any information that was not already knowable give

[2015-09-03 21:00] derekwaynecarr commented on #13567
@cameronbrunner - are you really interested in quota-ing the number of pods, or are you more interested in quota of memory/cpu that those pods consume?  If its the latter, I think it makes a ton of sense to only charge the quota usage for compute resources when the api server receives that schedule request.  If we only charge for compute resources at schedule time, then a JobController can spawn a

[2015-09-03 21:05] yifan-gu commented on #8262
@kamalmarhubi FYI, here's the PR for the API interface https://github.com/coreos/rkt/pull/1359

[2015-09-03 21:09] eparis commented on #12400
https://github.com/kubernetes/kubernetes/pull/13570

[2015-09-03 21:23] thockin commented on #1957
@jefferai

The part I don't understand is why people care?  If the K/V store is a) not visible to users, b) not providing direct service to users, and c) not using higher-order features of the underlying implementation - why does anyone care whether it is etcd, consul, or something else?

My understanding of this bug was mostly that people care because the ALREADY have consul and want to use and s

[2015-09-03 22:00] quinton-hoole commented on #11675
Fixed by #13534

[2015-09-03 22:00] #11675 closed

[2015-09-03 22:01] smarterclayton commented on #8132
Yes, authentication, authorization, and such can and should be decoupled on
top.  However, services and deployments and replication controllers and
endpoints and scheduled jobs and pod autoscalers and pod metrics and jobs
(builds, scheduled jobs, and run once jobs) are likely to fan out 1:1 with
number of namespaces/apps, and those are much harder to split.  The more
this becomes a platform for re

[2015-09-03 22:07] a86c6f7964 commented on #1957
My concern is just that I have been able to have a stable consul cluster running in prod for a long time, where as I had to ditch the etcd1 cluster because it was causing my machines to have problems. I have not tried etcd2 yet. That being said, does k8s manage running the etcd cluster itself? I would not care if that were the case, but I think that I would assume that you configure the etcd clust

[2015-09-03 22:12] thockin commented on #1957
We own the etcd cluster.  That it exists is an implementation detail :)

On Thu, Sep 3, 2015 at 3:08 PM, Cameron Davison <notifications@github.com>
wrote:

[2015-09-03 22:40] saad-ali commented on #12210
@swagiaal Did #13293 end up fixing this?

[2015-09-03 22:49] feihujiang commented on #13004
I think the exec has the same problem too. $ kubectl exec  -c ruby-container -i -t -- bash  aaa, also use bash as the pod name. and aaa as the command

[2015-09-03 23:06] vsimon commented on #13484
Tried again today, still seeing this issue.

[2015-09-03 23:28] kamalmarhubi commented on #8262
Awesome thanks!

[2015-09-03 23:36] #12863 closed

[2015-09-04 00:40] vishh commented on #12214
@yujuhong: 1.8.2-rc1 is out. Do we have some automated way to validate docker now?
https://github.com/docker/docker/releases/tag/v1.8.2-rc1
Linux 64bit binary: https://test.docker.com/builds/Linux/x86_64/docker-1.8.2-rc1

[2015-09-04 00:45] kamalmarhubi opened #13572 "HashContainer is sensitive to order of repeated elements"
[code]

The implementation of HashContainer is sensitive to the order of elements in repeated fields. As a result, the kubelet will recreate a container if, eg, only the order of `ports` changes.

Eg, swapping the order of the `ports` in this config causes the container to be recreated:

[code]

Is this desired behaviour? Are there repeated elements where the order is relevant?

Investigating this

[2015-09-04 00:50] stevesloka commented on #13552
Yup that sounds great! I'm happy to work on this. I will get some things together and maybe ask for a code review since I'm new to contributing back code-wise.

[2015-09-04 00:52] kamalmarhubi opened #13573 "kubelet should verify updates to the pods from non-apiserver sources"
[code]

The implementation of HashContainer is sensitive to the `name` of a volume in the `volumeMounts` section, and not the actual volume. This means that a change to a volume will not result in containers being restarted.

Eg, changing the `hostDir` path from `/tmp/dir` to `/tmp/another-dir` will not result in the kubelet recreating the container for the spec below.

[code]

Investigating this

[2015-09-04 01:02] yujuhong commented on #12214
@vishh, I don't believe we do, other than creating a cluster, deploying docker, and running e2e tests.

I will get to this soon. Perhaps it's time to try creating/keeping multiple e2e clusters?...

[2015-09-04 01:21] jefferai commented on #1957
@thockin People care because of PCI, SOX, HIPPA, SLAs, and all sorts of other reasons that require strong controls and documented practices around where data is being stored, how it is being backed up, its supposed level of service, and so on. It's not dissimilar to reasons that enterprisey types don't run internal sqlite databases for applications. They connect them to a managed, replicated, moni

[2015-09-04 01:29] jonmoter commented on #1957
+1 to what @jefferai said, especially around the first 3 paragraphs on controls, SLAs, compliance, etc.

I don't have a strong opinion on the "common thread" on abstraction vs. opinionated functionality. I like opinionated frameworks. But I also recognize that for every additional technology introduced into an ecosystem, there's work required to handle replication, security, compliance, recovery,

[2015-09-04 01:36] bgrant0607 commented on #13552
I'm fine with the compromise, but am curious why a headless service won't work.
https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/services.md#headless-services

[2015-09-04 01:41] bgrant0607 commented on #13552
The other thing we've agreed we should do is something along the lines of:
https://github.com/kubernetes/kubernetes/issues/260#issuecomment-133318903

I'm in agreement philosophically with: https://github.com/kubernetes/kubernetes/issues/13552#issuecomment-137537731

[2015-09-04 02:09] stevesloka commented on #13552
@bgrant0607 headless won't work since I need a way to talk to each pod directly for a sort of health check / stats update. I want to do that over TLS, so need a cert which can wildcard the dns. If I drew up a diagram or something, would that help?

[2015-09-04 02:10] resouer commented on #13424
@kelseyhightower yes, portable, on the other hand, eliminate OS distro. For now, we have to not only take care of upstart, systemd, but also a huge bunch of scripts to adapt to different OSes. I have already done a POC, which is only half LOC of current ubuntu-cluster scripts, but take care of all distros.

A compromise is we can run kubelet in baremetal (have to take care both upstart & systemd )

[2015-09-04 02:35] bgrant0607 opened #13576 "kubectl apply conflict detection"
Forked from #1702 and #13007 .

We're not initially doing conflict detection in kubectl apply -- the user's config will always win. Eventually we should provide that (optionally). See the (lengthy) discussions in the issues/PRs mentioned above.

cc @smarterclayton @ghodss @jackgr

[2015-09-04 02:38] thockin commented on #13552
From the IRC conversation: he wants to to every single pod.
On Sep 3, 2015 6:37 PM, "Brian Grant" <notifications@github.com> wrote:

[2015-09-04 02:50] ddysher opened #13577 "Prefix/Suffix cluster name in loadbalancer name"
Loadbalancer name is now based on service name, this works great but also poses challenges to delete them.  Resources like instances will be prefixed with cluster name, so when deleting, we can easily find them through cluster name (assuming it's unique).  We can of course record the loadbalancers created by user, but it adds states somewhere which I think we'd better to avoid.

The proposed chang

[2015-09-04 02:57] bgrant0607 commented on #13552
Headless generates a DNS record for every endpoint:
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/kube2sky/kube2sky.go#L162

A single headless service could match every pod in a namespace.

[2015-09-04 04:05] Hokutosei commented on #1957
+1 to Consul. the fact that it has a UI manager, I can do more for the KV.

[2015-09-04 04:35] bgrant0607 commented on #13576
Field-based preconditions on PATCH (in addition to a resourceVersion precondition) could push some of the detection onto the server, which is generally desirable #12143.

[2015-09-04 05:02] bgrant0607 commented on #12140
I missed commenting on this issue and on the proposal: https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/rescheduler.md

A few quick comments now:
1. I was also going to suggest taking cluster auto-scaling into account: https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/rescheduler.md#appendix-integrating-rescheduler-with-cluster-auto-scaler-scale-up
    This cou

[2015-09-04 05:05] thockin commented on #1957
@jefferai ok, there's some fair points in there.  I think the charge that we don't want things to be swappable is patently false, though - we have jumped through hoops to make things swappable and pluggable.  This is an area where we've laid the groundwork but have neither the time nor expertise to make  Consul work (and keep it working) but we'd welcome contributions.

[2015-09-04 05:09] thockin commented on #13552
Headless generates an A record for the set of endpoints, but that's not
useful if you are trying to connect to a particular instance to gather
metrics.  It also means that every pod has to have some common label or
else not get scraped.

On Thu, Sep 3, 2015 at 7:58 PM, Brian Grant <notifications@github.com>
wrote:

[2015-09-04 05:14] bgrant0607 commented on #1957
Yes, this issue has a help-wanted label on it for a reason: We'd be happy for someone to take this up. But we're swamped and won't get to it any time soon. Just to contrast: People who wanted support for their storage, networking, identity, or auth solutions stepped up to make it happen.

[2015-09-04 05:15] davidopp commented on #12140
Simplify compared to what? (Please don't say "compared to not taking cluster auto-scaling into account :) )

This is a good point. Since our restarts never go through the scheduler, the rescheduler is the only place we can put this logic. (Contrast with Borg, where IIRC after some number of local restarts, it punts back to the master to make a decision about restarting it, in which case the schedu

[2015-09-04 05:18] thockin commented on #11684
What CIDR is assigned to each of your nodes?

On Thu, Sep 3, 2015 at 4:07 AM, Nicolas Lamirault <notifications@github.com>
wrote:

[2015-09-04 05:18] bgrant0607 commented on #13552
Ah. I thought we were going to generate As for the individuals, also.

A common label doesn't seem like a huge burden.

Anyway, I'm fine with the compromise, but was trying to understand why it was needed.

Thanks.

[2015-09-04 05:20] thockin commented on #8891
I don't think an inactivity timeout would be TOO bad, but yeah it would be
surprising by default.

On Thu, Sep 3, 2015 at 2:21 AM, Magnus Kulke <notifications@github.com>
wrote:

[2015-09-04 05:28] thockin opened #13579 "User confusion on namespace field for non-namespaced objects (swagger)"
http://stackoverflow.com/questions/32316178/does-kubernetes-pv-recognize-namespace-when-created-queried-with-kubectl/32337310?noredirect=1#comment52557906_32337310

We should make sure the swagger does not list namespace as a valid field

[2015-09-04 05:44] bgrant0607 commented on #12418
We're moving away from flags for configuration: #12245

[2015-09-04 05:46] bgrant0607 commented on #10408
set-env: https://github.com/kubernetes/kubernetes/pull/13422#issuecomment-136893405

cc @kubernetes/goog-ux

[2015-09-04 05:50] bgrant0607 commented on #13522
cc @kubernetes/kubectl

[2015-09-04 05:54] bgrant0607 commented on #13488
Corruption would just be one pod, which could just be killed and replaced by the RC.

The other case mentioned offline was to re-read configuration. That's dangerous to do implicitly, because restarts for any reason would cause containers to load the new configuration. It would be better to do a rolling update to push a new versioned config reference (e.g. in an env var) to the pods. This is simil

[2015-09-04 06:00] samsabed commented on #13562
@yujuhong Is this a wish list or something you are working on ? I can look into it.

Is that because of how GetPodStatus works in docker ?

[2015-09-04 06:04] bgrant0607-nocc commented on #13097
cc @kubernetes/kubectl @kubernetes/rh-platform-management

[2015-09-04 06:05] streamnsight commented on #13552
I'm deploying Zookeeper and Kafka on Kubernetes and the DNS / hostname issue is a nightmare:
Zookeeper takes other nodes' IPs, but services calling it most often are designed to receive a list of zk hosts (for failover).
Kafka nodes define their own hostname in the config, and nodes talk to each other using hostnames. Services using Kafka also get passed the hostname...
So there are 2 problems her

[2015-09-04 06:09] bgrant0607-nocc commented on #13096
Items shouldn't be tagged with omitempty:
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L422
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L422

[2015-09-04 06:09] bgrant0607-nocc commented on #13096
cc @markturansky

[2015-09-04 06:11] bgrant0607-nocc commented on #13096
PersistentVolumeList and PersistentVolumeClaimList appear to be the only resource types with this problem.

[2015-09-04 06:30] wojtek-t commented on #11962
Thanks @timothysc

One PR slightly reducing dependencies on go-etcd is already LGTMed:
https://github.com/kubernetes/kubernetes/pull/13509

I have another one pretty close - should send it out for review today and will post its number here.

[2015-09-04 06:31] wojtek-t commented on #11962
But I think that we will need to convert few things anyway. These are:
- the whole pkg/storage
- references to it under pkt/tool
- few reverences to the client itself under test/integration, cmd/ and cluster/addons

[2015-09-04 07:07] #13350 closed

[2015-09-04 07:44] marekbiskup commented on #6020
AFAIR, the reason why this isn't closed is that the tests only get the endpoints from the api server - they don't try to access them.
We wanted to create a test that also checks if pods are serving under the endpoints.

I suppose we have many other tests for this, so maybe we can close it.

[2015-09-04 07:48] #6020 closed

[2015-09-04 07:49] jsafrane commented on #13556
I am not OpenStack guy, I am just testing it. I do not know what's usual there. In my environment, server.Metadata is empty and hostname is probably the only way.

It would be nice if the code checked also value of `kubelet --hostname-override=<instanceID>` instead of `ossys.Hostname()`. Or a new element in cloud.conf?

[2015-09-04 07:51] bobef opened #13583 "Timeout option for containers before they receive SIGKILL"
Here http://kubernetes.io/v1.0/docs/user-guide/production-pods.html#liveness-and-readiness-probes-aka-health-checks it says

These 10 seconds **MUST** be customizable like `docker stop` can. Real world scenario from our company: you are making a hotel booking or flight booking. The services that provide these bookings are sometimes slow as hell. You can't stop the container in the middle of a book

[2015-09-04 07:56] davidopp commented on #13567
If we record the quota usages as etcd objects and have multi-object transactions then sharded scheduler should be fine (bind a pod in same transaction as you update quota usage).

[2015-09-04 08:04] antoineco opened #13585 "[kubectl] terminal dimensions not exported with 'exec' command"
When using `kubectl exec` the terminal dimensions are always set to 80x24 instead of matching the client's layout.

Of course it is possible to insert "env COLUMNS=$COLUMNS LINES=$LINES" before every command, but this is not very usable.

[2015-09-04 08:35] wojtek-t commented on #11962
No I didn't touch server.go

However, once #13584 is merged it will be much better:

$ git grep "go-etcd" | wc -l
23

(And changing half of them should be trivial)

[2015-09-04 08:46] bobef commented on #831
Offtopic: kubernetes docs is the worst. It is mess, yaml is not documented, the examples give partial information. One needs to search google all the time and find issues like this to find out that feature even exists and then search google more to find some .md files on GitHub that confirm the existence but without example or anything. For example I want to deploy my app files in a docker image,

[2015-09-04 08:53] ejemba commented on #10288
@pmorie   I'm going to take care of this one.

[2015-09-04 09:12] wojtek-t commented on #8132
I'd assert that optimizing
the read storage path through etcd and the internal memory is far more
valuable to invest time in in the near term, because it pays dividends in
all paths.  But I agree we don't necessarily want to over optimize for a
scenario most people don't have.

+1

[2015-09-04 10:12] bbirand opened #13588 "In "Getting Started Guide", cannot SSH with generated key"
I'm trying to follow the CoreOS/Azure startup guide:
https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/coreos/azure/README.md

I can pull up the VMs, but when I try to ssh to the the root kubernetes node, I get asked for a passphrase for the SSH key:

[code]

I'm not sure what the passphrase is supposed to be, and I asked this question on SO as well:
http://stackover

[2015-09-04 11:45] #13450 closed

[2015-09-04 12:26] jefferai commented on #1957
@thockin I do recognize that work that has gone into abstraction to lay the groundwork for other KV stores...I've looked at the code and I'm not sure it's completely ready for other stores (when I looked a few months ago I still saw etcd-specific stuff), but if not it's certainly close. But other decisions that have been made more recently (such as DNS/service discovery) have not (AFAICT) followed

[2015-09-04 12:52] piosz opened #13589 "Setting Initial Resources"
_Warning: This issue suppressed the previous one #12149 since the previous one became messy due to the discussion about design started by me there._

This is an umbrella issue for tracking progress and discussing priorities of setting initial resources. Part of #10782.
##### Related docs

[proposals/initial-resources.md](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/initial-r

[2015-09-04 12:53] #12149 closed

[2015-09-04 12:56] piosz commented on #13589
cc @fgrzadkowski @davidopp @jszczepkowski @mwielgus @kubernetes/goog-control-plane

[2015-09-04 13:05] stevesloka commented on #13552
I have a couple random questions about the DNS service:

1. Why is the refresh interval 30 minutes? (https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/kube2sky/kube2sky.go#L61) So if I create / update / or delete a service, it won't be reflected until the next cycle every 30 mins?

2. If I want to scale the service, we'll rely on each instance having the same data stored in e

[2015-09-04 13:37] liggitt commented on #13097
for an authorizer to able to express "allow all users to access /api and /version", the authorizer attributes need to include the request path for non-resource requests. @deads2k, might be worth adding non-resource-path to the attributes in https://github.com/kubernetes/kubernetes/pull/12209/files#diff-a80bc00f0f154458f2f259c2e7e61e52R13

[2015-09-04 13:38] liggitt commented on #13097
the alternative is to leave those endpoints outside the authorizer filter, but I prefer having the option to restrict access (/healthz might be considered sensitive info by some admins, for example, while others wouldn't care who saw it)

[2015-09-04 13:50] moander commented on #12400
Thanks @eparis! It works :D

[2015-09-04 13:54] markturansky commented on #13096
Please see #13590 for fix.

[2015-09-04 14:03] rrati commented on #13388
Fixed by #13523

[2015-09-04 14:03] #13388 closed

[2015-09-04 14:09] jpooler commented on #11373
If you create it, you should own it. Basic rule.

I was bit by this and at the least it there could be a warning message to check the role. I didn't know someone had tried to launch kubernetes in our env months back, so the role was old. Why doesn't kube-down.sh remove the role?!? It cleans up *everything* else.

[2015-09-04 14:12] jayunit100 commented on #13152
In particular, the error I'm getting is `E0904 10:11:56.307660   13442 event.go:195] Unable to write event: 'Post http://0.0.0.0:30291/api/v1/namespaces/default/events: malformed HTTP response "\x15\x03\x01\x00\x02\x02\x16"' (may retry after sleeping)` .  I'm assuming this has something to do with the way requests may need to be encoded , not sure .

[2015-09-04 14:15] wojtek-t commented on #13548
Yes - that would be great if you could do it...

[2015-09-04 14:18] justinsb commented on #11373
Yes, this is annoying I agree!

The reason it doesn't delete it is because the IAM role is shared between all Kubernetes clusters.  So deleting it would likely be problematic unless it was your last cluster.

Of course, sharing the IAM role is actually the really bad idea here.  (My bad idea).

Another wrinkle is that in theory you could modify the IAM policy to grant more permissions (or remove s

[2015-09-04 14:25] jpooler commented on #11373
Sorry for the curtness of my post, I should have proofread it for snark and tone.

Yea, that sounds like a good idea! One role per cluster is definitely viable, the only concern would be if someone wanted to spin up 125 kubernetes clusters in one AWS account, since that would then hit the AWS role limit of 250.

Again, sorry for my rudeness @justinsb !

[2015-09-04 14:49] jayunit100 commented on #13152
ok , progress, by switching from `http` -> `https`, its saying x509 error, so just a certs issue.

[2015-09-04 15:00] pmorie commented on #13152
:+1:

[2015-09-04 15:03] smarterclayton commented on #13552
On Sep 4, 2015, at 9:06 AM, Steve Sloka <notifications@github.com> wrote:

I have a couple random questions about the DNS service:

   1.

   Why is the refresh interval 30 minutes? (
   https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/kube2sky/kube2sky.go#L61)
   So if I create / update / or delete a service, it won't be reflected until
   the next cycle every 30 mins?

Ser

[2015-09-04 15:16] smarterclayton commented on #1957
I'll speak to service discovery directly - Kube offers (or attempts to
offer) a holistic view of how service discovery and DNS and interconnection
should perform.  So it's not that the Consul service discovery mechanism is
incompatible, or that we don't see value, it's that we are trying to build
something that is a fundamental building block there, and it's hard to see
how you can have two fundam

[2015-09-04 15:17] markturansky opened #13592 "Compilation failure on OS X in contrib/mesos"
This change fails to compile on OS X:  https://github.com/kubernetes/kubernetes/pull/13295/files#r38761270

[code]

[2015-09-04 15:27] sttts commented on #13592
Fix is in preparation.

[2015-09-04 15:36] quinton-hoole opened #13593 "Services e2e tests are flaky when run in parallel"
* Services should serve a basic endpoint from pods
* Services should serve multiport endpoints from pods

The above two tests both failed twice out of the past 30 e2e-gce-parallel test runs.
They are both 100% stable when run in serial.

As an example, the parallel failures are:

* job/kubernetes-e2e-gce-parallel/7287/
* job/kubernetes-e2e-gce-parallel/7305/
* job/kubernetes-e2e-gce-parallel/7310/

[2015-09-04 15:44] quinton-hoole commented on #13593
I've just noticed that almost all of the services tests have been deemed flaky when run in parallel.  I assume that there is some race condition, either in the tests, or in the services implementation itself.  Digging further...

[code]

[2015-09-04 15:48] yichengq commented on #13331
For current etcd 2.x, if watch begins(client starts to read request body), etcd server will wait until event happens or server self is killed.

[2015-09-04 16:04] eparis opened #13598 "Impossible to completely eliminate insecure access to apiserver"
The apiserver listens, by default, on 127.0.01:8080 in a completely insecure manor. Even if the scheduler, controller-manager, proxies, kubelets, etc are all configured to use the secure port the apiserver still talks to itself on the insecure port.

https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L340

This is how things like the admission controllers (part o

[2015-09-04 16:06] #10683 closed

[2015-09-04 16:08] #11471 closed

[2015-09-04 16:30] streamnsight commented on #13552
@smarterclayton

RE: Zookeeper from fabrik8

They take a different and simpler approach that has its own limitations: they basically have to declare a RC and a SERVICE per ZK instance:
If you want a standalone ZK, you declare one, you want 3, you declare 3 and spin them manually, but you need to declare IDs as ENV variables here, so it cannot scale automatically, and each client application needs

[2015-09-04 16:39] caesarxuchao opened #13599 "links in kubernetes.io/v1.0/docs/api-reference/operations.html fail"
Start here: http://kubernetes.io/v1.0/docs/api-reference/operations.html, then click the "v1.Binding" link, the correct address http://kubernetes.io/v1.0/docs/api-reference/definitions.html#_v1_binding is shown in the address bar, but the browser doesn't take the user to the section.

cc @RichieEscarez

[2015-09-04 17:18] emaildanwilson commented on #9801
I'm hitting this from a kube-up deployment as well when I deployed to my own existing VPC. The VPC and subnet were created ahead of time and tagged appropriately. Install worked without error, ELB volumes work but when trying to use a LoadBalancer type service I get "Unable to find VPC" then the controller manager starts DOSing the aws API. I had to delete the service and force a restart of the co

[2015-09-04 17:21] yujuhong commented on #13562
I am not working on this. It'd be great if you want to take a look :) @vishh is working on disk management, and he may have more plans on GC.

This is because kubelet doesn't persist any state, so we rely on dead containers on state. We'd probably need to keep one dead container so that we can know the restart count.

[2015-09-04 17:39] jayunit100 commented on #13152
Thanks for the help pmorie ... Now just gotta fix x509 and we're all set

[2015-09-04 18:05] lavalamp commented on #13331
@timothysc https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/etcd/etcd_watcher.go#L200 Look through your apiserver logs and see if this channel is getting filled-- if so, apiserver is the culprit.

[2015-09-04 18:05] cameronbrunner commented on #13567
@derekwaynecarr - The most important aspect to me is adding the concept of a running quota so if we want to start with actual host resources that is perfectly fine with me.

As for your concerns regarding the scheduler handling quotas; could you provide a couple of details or point me to the issue where this was discussed in the past?

[2015-09-04 18:28] quinton-hoole commented on #13407
Yes, we should report this in a better way.

I ran into this today, and the problem was some leaked network forwarding rules from a previous test run.  I deleted those and all was good.  I'm still trying to diagnose how those rules are being leaked.

[2015-09-04 18:28] quinton-hoole commented on #13407
@amygdala FYI ^^

[2015-09-04 19:03] smarterclayton commented on #13567
Actually, we don't even need that today, because we can do it during bind
which is a distinct API path and so we can apply the admission controller
for quota there.

On Sep 4, 2015, at 3:56 AM, David Oppenheimer <notifications@github.com>
wrote:

If we record the quota usages as etcd objects and have multi-object
transactions then sharded scheduler should be fine (bind a pod in same
transaction as

[2015-09-04 19:05] smarterclayton commented on #13552
Ok, that helps to know that this is about Kafka.  The nominal services work
applies to this problem then (possibly the volume allocation issue for the
subset of Kafka users that want to guarantee the volume isn't lost on node
loss).

On Sep 4, 2015, at 12:31 PM, streamnsight <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton>

RE: Zookeeper from fabrik8

They tak

[2015-09-04 19:15] davidopp commented on #13567
Actually, we already have a problem with multi-scheduler (to be clear -- if we were to run concurrent schedulers, not the HA scheduler failover mechanism we're using today), which is that two schedulers can bind two different pods to the same machine at the same time without any check before they are committed to etcd. (There will be no resource version conflict on the Pods, since they are differe

[2015-09-04 19:21] ihmccreery opened #13602 "Fix 1.0-1.1 GKE upgrade tests, and get them into release critical builds"

[2015-09-04 19:22] aleks-f commented on #8019
Following [instructions](http://kubernetes.io/v1.0/docs/getting-started-guides/vagrant.html), using:

Mac OSX 10.10.5
Vagrant 1.7.4
Parallels Desktop 10.2.2

When I run

<pre>export VAGRANT_DEFAULT_PROVIDER=parallels
export KUBERNETES_PROVIDER=vagrant
./cluster/kube-up.sh</pre>

*master* and *minion-1* windows pop up, apparently fully functional (I can ssh into them and everything seems to work) b

[2015-09-04 19:27] smarterclayton commented on #13567
For sure - just highlighting that we can approximate bound resource
tracking without multi-commit.

On Fri, Sep 4, 2015 at 3:15 PM, David Oppenheimer <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-09-04 19:31] #13394 closed

[2015-09-04 19:31] #13395 closed

[2015-09-04 19:37] #13592 closed

[2015-09-04 19:44] kjvalencik commented on #831
@bgrant0607, #1 is a pretty common use case (at least for us). We build a web application container that provides both a server component as well as static assets. Ideally, we would be able to initialize a read only volume from that same image so that an nginx container can serve the assets.

This is probably similar to the one of the use cases for the `git` container. However, it's handy to use d

[2015-09-04 19:45] swagiaal commented on #12210
@saad-ali looks like it. I have not been able to reproduce it.

[2015-09-04 19:45] #12210 closed

[2015-09-04 19:51] thockin commented on #13552
@stevesloka

The refresh is a forced refresh.  The watch triggers whenever there's an update in real time.  The forced refresh is a safety net that we don't really need.

We treat etcd as an implementation detail.  If you want to scale the DNS service, just add more replicas - they are fungible.

[2015-09-04 20:26] quinton-hoole commented on #13577
Sounds like a good solution to me.  I'll leave it to the team who work on this to prioritize.  I'm pretty sure that they would be open to a concrete code PR.

@kubernetes/goog-cluster

[2015-09-04 20:26] thockin commented on #9801
https://github.com/kubernetes/kubernetes/pull/13467 just went in.  Does that solve the problem?

[2015-09-04 20:28] quinton-hoole commented on #13573
@markturansky @kubernetes/goog-cluster

[2015-09-04 20:29] thockin commented on #13577
@a-robinson in paritcular

[2015-09-04 20:29] piosz commented on #13589
@davidopp, @fgrzadkowski could you please take a look if the plan for 1.1 is reasonable for you?

[2015-09-04 20:29] quinton-hoole commented on #13572
See also #13573

[2015-09-04 20:36] quinton-hoole commented on #13558
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-09-04 20:37] #13558 closed

[2015-09-04 20:38] jayunit100 opened #13603 "client-certificate and client-key have identical definitions."
The client-certificate and client key command line options in kube-api-server/app/server.go seem to have identical definitions.

[code]

[2015-09-04 20:49] quinton-hoole commented on #13465
Yes, you should not be trying to access services running on the host from within your pod.  Rather run etcd in pods.

Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easi

[2015-09-04 20:49] #13465 closed

[2015-09-04 20:51] quinton-hoole commented on #13459
@kubernetes/goog-cluster

[2015-09-04 20:52] quinton-hoole commented on #13443
@kubernetes/goog-friction

[2015-09-04 20:58] #13200 closed

[2015-09-04 20:59] dchen1107 commented on #13236
Sorry for chiming in so late (I were OOO last week).

Do we know what's the root cause here? Reverting cAdvisor pr fixed the bleeding, but we need to bump up cAdvisor version, especially fixing the issue for network stats collection. I failed to find the fix at cAdvisor side.

[2015-09-04 21:03] dchen1107 commented on #13517
I believe this is fixed in HEAD by #13320. Please reopen it otherwise. Thanks!

[2015-09-04 21:03] #13517 closed

[2015-09-04 21:11] jimmidyson commented on #13236
@dchen1107 The cause seemed to be some dodgy network namespace switching code I wrote to collect network stats in cadvisor. I've since rewritten that code in cadvisor completely & network stats now come from /proc fs.

I've personally run through e2e tests a few times & @vishh suggested we run through the e2e for the PR a couple of times to make sure.

New cadvisor upgrade PR is #13454.

[2015-09-04 21:18] jtblin commented on #9801
It looks like it does, thanks!

Last blocker that I know of to run kubernetes in our VPC in AWS is #11543

[2015-09-04 21:23] justinsb commented on #11543
I recognize it's not ideal, but to help me understand better, is it an option to use the normal .compute.internal DNS suffix for the k8s VPC?  If not, why not?

I would like to fix it, but it is non-trivial.  Though it is a holiday weekend....

[2015-09-04 21:32] Symmetric commented on #13459
Or maybe "NamespaceIP" to mirror "ClusterIP".

On Thu, Sep 3, 2015 at 10:54 AM, Spike Curtis <notifications@github.com>
wrote:

[2015-09-04 21:37] dchen1107 commented on #13236
Yeah, I realized that https://github.com/google/cadvisor/pull/870 should be the new code fixing the initial stats collection issue in cAdvisor. Thanks!

[2015-09-04 21:40] bgrant0607 commented on #13567
I don't see a compelling reason for this change, and it would break backward compatibility.

If anything, I'd think users would want even earlier admission-control decisions, such as at the RC or Job level rather than when pods are created. That's what creates the reservation that prevents even more work from entering the cluster. Enabling more pods to enter when some are already unable to schedul

[2015-09-04 21:48] bgrant0607 commented on #13567
With batch specifically, a lot of work has been done on queuing systems -- LSF, Maui, SLURM, ...  Defer execution if the cluster is too busy.

A horizontal auto-scaler could also be aware that some instances were unable to schedule and then downsize. ReplicationController already favors killing pods that are pending or unhealthy.

[2015-09-04 21:59] amygdala commented on #13407
In my case, I believe it was just a cores limit, and not due to a leakage.  For some reason the project I was using had only an 8 cores quota, which I didn't realize, and some were already in use.

(Though - I have seen leaked forwarding rules myself in earlier days.  I'm trying to remember the context.  It might have been some version mismatch with the cluster and the local installation causing i

[2015-09-04 22:04] roberthbailey commented on #13603
This looks like a typo. They certainly have different meanings. Can you send a PR to fix the description for the client certificate flag?

[2015-09-04 22:06] bgrant0607 commented on #1957
@jefferai I appreciate your patience in explaining your desire for the feature.

By "storage", I meant network-attached storage solutions, like NFS. Sorry for the confusion.

[2015-09-04 22:08] bgrant0607 commented on #1957
It's certainly reasonable to discuss what Consul name resolution / service discovery has to offer, but we should split that into a different issue.

[2015-09-04 22:12] #13096 closed

[2015-09-04 22:19] bgrant0607 commented on #8132
@timothysc I didn't understand your latest comment. Are you referring to offloading resource status, events, and metrics?

[2015-09-04 22:21] bgrant0607 commented on #8132
We've tried to keep the state shardable by at least kind, and perhaps namespace. Moving out auth-related resources would just be a special case of that.

[2015-09-04 22:22] bgrant0607 commented on #8132
But now we're getting away from communication and into storage optimizations.

[2015-09-04 22:27] bgrant0607 commented on #13019
@kgrvamsi There was a reply on stackoverflow a few days ago. Please follow up there if you still need help, or feel free to decommission the servers if you do not.

[2015-09-04 23:07] pmorie commented on #13459
@deads2k

On Friday, September 4, 2015, Paul Tiplady <notifications@github.com> wrote:

[2015-09-04 23:18] danielschonfeld commented on #7826
Just ran into this myself, being a new user to Azure.

It appears that when SSHed into kube-master it has kube-master-addons.sh and kube-addons.sh scripts stuck in their respective loops.  With kube-master-addons waiting on docker to be installed.

It appears mostly as if salt hasn't done any of it's magic or not called to run.

I have noticed that in salt-master.sh the command `install-salt --mas

[2015-09-04 23:23] bgrant0607 commented on #5721
cc @saad-ali

[2015-09-04 23:32] ericln commented on #11711
yes, ran into the same problem just now on v.1.0.3, any workaround at the moment?

[2015-09-05 00:00] cameronbrunner commented on #13567
When I was first considering of this change I was thinking of the traditional queuing systems where quotas are enforced against submitted jobs as well as running jobs.  In traditional queueing systems submission limits are typically meant to bound the max resource usage of the scheduler when submission rates are consistently exceeding completion rates while runtime limits are typically used to enf

[2015-09-05 00:56] davidopp commented on #13567
@cameronbrunner Thanks for your additional explanation.

@bgrant0607 I think there are probably some workloads where you want admission control at the RC or Job level (i.e. the atomic unit of admission is the RC or Job), but I can imagine cases where you don't really care about the whole collection running simultaneously, you are fine with parts running as resources become available. Also, one pro

[2015-09-05 01:34] benmccann commented on #4235
I'm more familiar with AWS which has availability zones (AZ) and regions. AZs are separate failure domains and there are multiple AZs in a region. You can setup a VPC (virtual network) across AZs within a region, but not across regions. When we talk about zones here, I'm assuming we're talking about something roughly equivalent to an AZ.

I just did a quick search and the first article I saw said

[2015-09-05 01:51] bgrant0607 commented on #13567
@cameronbrunner Yes, thanks for the further explanation. It's probably worth creating a batch SIG and discussing the use cases and landscape there before filing specific issues.

We're trying to develop the Job API incrementally. Many issues have been pushed to future iterations: time-deferred scheduling, gang scheduling, budget limits, deadlines, execution-order dependencies, etc. There's a lot w

[2015-09-05 02:00] resouer commented on #11711
ping @WIZARD-CXY @dalanlan  Why this appears again in v1.0.3? Did we merged something wrong?

[2015-09-05 02:02] bgrant0607 commented on #13567
Popping up a level: It's worth discussing what kinds of policies and outcomes users running / admins of batch workloads would want. Execution-ordering priorities (like a Disneyland FastPass -- go to the front of the queue)? Preemption? Background/scavenging? Fairness? Dedicated resource pools? Opportunistic scaling? Off-hours deferral? Deadline scheduling? Gang scheduling? Resource hoarding? Node-

[2015-09-05 02:03] dalanlan commented on #11711
I'll take a look :-/

[2015-09-05 02:23] dalanlan commented on #11711
Yet this didnt occur to me for v1.0.3.
Did you start from the HEAD, if i may ask? /cc @noz-oro  @ericln
We now separate those two vars `roles` & `role`, as you can see [here](https://github.com/kubernetes/kubernetes/blob/master/cluster/ubuntu/config-default.sh#L24~L27)

[2015-09-05 03:37] bgrant0607 opened #13606 "kubectl plugins"
This was discussed way back when designing kubectl.

Although we want to move more functionality server-side (#12143, #5280), there are going to be some things that are better / more easily done in the client (e.g., processing of local inputs, such as #4822). For the latter category, it would be useful to support some kind of plugins/extensions in kubectl.

[2015-09-05 04:45] aleks-f opened #13608 "Installation on Mac/Vagrant/Parallels"
Following [instructions](http://kubernetes.io/v1.0/docs/getting-started-guides/vagrant.html), using:

Mac OSX 10.10.5
Vagrant 1.7.4
Parallels Desktop 10.2.2

When I run

<pre>export VAGRANT_DEFAULT_PROVIDER=parallels
export KUBERNETES_PROVIDER=vagrant
./cluster/kube-up.sh</pre>

master and minion-1 windows pop up, apparently fully functional (I can ssh into them and everything seems to work) but t

[2015-09-05 04:46] mattma commented on #10265
@antoineco I had a similar problem to setup SkeyDns. Your solution helps me.

I have a secure cluster with API server `https://IP:6443`. My API server and controller manager setup like you described above.

I have confirmed that I am using service account to SkyDns. But my container (gcr.io/google_containers/skydns:2015-03-11-001) restart infinitely. The issue here is `spec.containers{skydns}			un

[2015-09-05 07:39] spothanis commented on #13556
Just to make sure when you say in "your environment server.metadata is empty" you are referring to metadata returned by `nova show <instance-id>` command right?

[2015-09-05 13:06] bliss commented on #11011
Good day! It's still all about AWS persistent drives. I found out that say for mariadb containers persistent drive mountpoints has improper context. It prevents mariadb from reading to the drive and makes it crush. As for safe_format_and_mount script I make a workaround with solves the issue:
[code]
But what about the issue when the script functionality gets built-in?

[2015-09-05 14:03] kamalmarhubi opened #13610 "Add an inline volume type that stores small amounts of RO data with the manifest"
For cases where a small amount of static data is desired. This could include
1. configuration for containers whose process is configured by files
2. small-medium amounts of static data, such as an archive of www data for a static site server
3. inputs to a process that has a small input to work ratio

Example use cases:
- allow developers to specify data along side the pod it's used with, instead

[2015-09-05 20:34] thockin commented on #13610
Can you sketch the API in a bit more detail.  I don't have any
philosophical objections to this.

On Sat, Sep 5, 2015 at 7:04 AM, Kamal Marhubi <notifications@github.com>
wrote:

[2015-09-05 20:37] thockin commented on #10265
The liveness probe is doing a DNS lookup to prove that DNS is working.  If
it is failing then DNS is probably not working...

On Fri, Sep 4, 2015 at 9:47 PM, Matt Ma <notifications@github.com> wrote:

[2015-09-05 20:57] antoineco commented on #10265
I would add that you **shouldn't** ever remove the probe. @thockin said it all, your container restarts because DNS is simply not working.

You should check the logs of your `kube2sky` container, this is where your problem lies, not in `skydns`.

Chances are that your `default` secret doesn't contain a valid token and/or CA cert, so *kube2sky* can't connect to the API, but the logs will give you t

[2015-09-05 21:19] thockin commented on #1957
@jefferai Thanks for a thoughtful discussion.

I promise it's not - until you have multiple implementations of an abstraction there are ALWAYS leaks.

Do you mean the discussion about internalizing DNS?  The problem with having DNS be an add-on is that many pieces of the system actually expect it to work, and yet probably half of the install instructions out there (including some in-tree!) forget

[2015-09-05 21:32] mattma commented on #10265
`kube2sky` only use args `--domain: cluster.local`, as @thockin suggested, no `kubecfg_file and master` flags are used. ServiceAccount should pick up by now,

In my `kubelet` binary, take dns args `--cluster_dns=10.100.0.10 --cluster_domain=cluster.local`.

what is the correct URL for the ` kubernetes master`? @antoineco

[code]

[2015-09-05 21:48] antoineco commented on #10265
Look, it's trying to hit port 443 but you mentioned earlier that you were using 6443. Something is wrong with your service account token.

[2015-09-05 22:01] mattma commented on #10265
I think what you said makes perfect sense. My API server secure port is 6443. How could I debug my **serviceaccount**? Could you reference any docs? @antoineco

[code]

[code]

[code]

[code]

[2015-09-06 01:46] hurf commented on #11814
@hw-qiaolei - Can you please look at this issue since you're recently working on documentation?

[2015-09-06 01:59] evanphx commented on #13375
@thockin @MikaelCluseau I took a crack at implementing this. It's a bit of a hack but it covers the requirements and also nicely performs some anti-entropy on the interfaces in case something is missed.

[2015-09-06 03:08] linzichang commented on #7581
Maybe it due to failed to download the pause image. You may have a check.

[2015-09-06 06:50] wulonghui opened #13620 "OVS: ARP Reply missing"
I create ovs networking refer to [vagrant/provision-network.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/vagrant/provision-network.sh)

![image](https://cloud.githubusercontent.com/assets/5194128/9702937/f2bb1606-54a4-11e5-9809-2c90321f983d.png)

Host1:
[code]

Host2:
[code]

When I ping Container1's IP(10.1.58.3) on Host2, the ARP Reply is dropped on Host1,
`docker0` can captu

[2015-09-06 07:45] mattma commented on #10265
I have tried all the things I can, read several docs, still no success.

I look at my `server.cert` which used in `api-server` binary.

[code]

I tried to set PORT on `172.17.8.100:6443`, `10.100.0.1:6443` before I use the `make-certs.sh` to generate the certificates, it cannot be done due to the error. I guess that I have to get rid of PORT here.

I think it may related to [make-certs.sh](https:/

[2015-09-06 07:46] coocla commented on #13470
Here:  http://kubernetes.io/third_party/swagger-ui/

If you have your own kubernetes cluster, you can also find it from  http://apiserver:apiport/swagger-ui

[2015-09-06 08:08] jijun2 commented on #13428
ok,thank you!

[2015-09-06 08:12] feihujiang opened #13621 "kubectl describe <kind> needs to hide terminated pods"
kubectl get <kind> default hide terminated pods, use --show-all (-a ) to show all resources. Does kubectl describe <kind> need to be consistent with kubectl get <kind> ?

[2015-09-06 08:13] feihujiang commented on #13621
@bgrant0607 What's you point about this issue?

[2015-09-06 08:23] feihujiang commented on #13621
But "kubectl get pods -o yaml/json" show all pods, not hide terminated pods. So I'm confused whether "kubectl describe pods" needs to hide terminated pods.

[2015-09-06 08:40] feihujiang commented on #13621
According to the docs, "kubectl get pods -o yaml/json" should  hide terminated pods too.

[2015-09-06 09:53] Smana commented on #11869
Ok i've done some tests on a brand new cluster and i'm stucked with the same error.
The secret is not generated and i got the following error :
[code]

I followed exactly the steps mentionned on the documentation except i've used "NodePort" for the service
[code]

[code]
Note: the ip 10.115.77.87 is the ip of one of the nodes

Any idea ? i keep digging

Thanks,
Smana

[2015-09-06 11:16] feihujiang opened #13625 ""kubectl get pods NAME" couldn't get the terminated pod"
When the pod terminated, using "kubectl get pods NAME" couldn't get it.

[2015-09-06 11:46] hurf commented on #13443
Closing since it's fixed

[2015-09-06 11:46] #13443 closed

[2015-09-06 11:47] dalanlan opened #13627 "Running errors of containerized kubelet"
This is a follow-up of #11733 ( to get rid of the noises).
### Main errors
- sync pod error

[code]

Also showed in the events

[code]
- image garbage collection

[code]
### How to reproduce
- hyperkube built from the HEAD

[code]
- Follow the [official guide](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker.md) to start k8s via docker (except the prerequisit

[2015-09-06 11:47] hurf commented on #12638
Closing since it's fixed

[2015-09-06 11:47] #12638 closed

[2015-09-06 12:15] dalanlan commented on #11733
Thank you for your time. I hardly find time for this until today. I open another issue to track this.
Have a nice vacation, yet i assume you'd already been there:) @pwittrock

[2015-09-06 14:06] resouer commented on #13389
@lavalamp I think both two issues exists actually:

1. First, postStart will replace my default CMD of my image:
If I changed it to:
[code]
The container state will still be `Terminated`, but it's code is: `Exited (0)`.  That means, even if there's nothing wrong with my `command`, the container become a one-off-task somehow.

2. If I do:
[code]
The container stops with `Exited (1)`. It seems, the

[2015-09-06 15:12] justinsb commented on #13508
The root cause here is that (on aufs) we assign a very small partition to "kubernetes" (my screw up), and this is the volume that backs host-volumes, as used by influx and elasticsearch.

I'm looking at ways to make this better.  Ideas (so far):
* repoint the influx & ES manifests to work with volumes;
* change the size of the partition
* making host-volumes draw from the bigger docker
* get rid o

[2015-09-06 15:36] justinsb commented on #13245
Thanks for the bug report & sorry for the problem.

I would like to track this under #13508, as that's where I've started thinking about it (although I think you reported it first!).  I'm going to close this one, but if you don't think #13508 will cover it then please do reopen.

[2015-09-06 15:36] #13245 closed

[2015-09-06 15:37] justinsb commented on #13174
This is the same issue as #13508 (commenting to link the two issues)

[2015-09-06 16:23] roberthbailey commented on #10265
It looks like the port used for service accounts may be hard-coded as 443; see https://github.com/kubernetes/kubernetes/blob/master/pkg/master/master.go#L373

@saad-ali since he wrote https://github.com/kubernetes/kubernetes/pull/3618

[2015-09-06 17:19] jlowdermilk commented on #13608
cc @derekwaynecarr

[2015-09-06 17:22] jlowdermilk commented on #13608
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-09-06 17:23] jlowdermilk commented on #13620
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-09-06 17:23] #13620 closed

[2015-09-06 17:23] #13608 closed

[2015-09-06 17:41] mattma commented on #10265
@roberthbailey If I pass `--secure_port=443` instead of `--secure_port=6443` using `https` instead of `insecure` login, I should be able to hit the Master Node from `kube2sky` via `serviceAccount` ? I will definitely give it a try. I did not see anywhere in the K8S related docs. It would be great to add in the docs too.

[2015-09-06 17:57] jlowdermilk commented on #13621
@kubernetes/kubectl

[2015-09-06 18:21] onorua commented on #13511
@rootfs  the problem is POD was never being restarted... What do I need to check first when the issue occur again?
My list so far:
 1. Whether POD/container was restarted
 2. Whether glusterfs volume actually present inside the POD
 3. Logs from kubelet (which I've already provided, there is nothing extra apart from that one)

Anything I'm missing?

[2015-09-06 18:23] JeanMertz opened #13629 "update/patch resource name"
I'd like to update a replication controller's name using `kubectl`, but am unable to do so.

Basically, I want to mimic the `rolling-update` command where it creates a temporary rc name and then renames it.

There are the steps I'd like to take:

[code]

And the error I am getting:

[code]

[2015-09-06 19:27] JeanMertz commented on #13629
I've found the documentation regarding a rolling update. This explains that after the update, a new RC is created, and the old one removed.

So I guess the "correct" description would be

[code]

right?

This seems rather complicated for a resource rename.

The reason for this rename is simple: to keep documentation up-to-date with the real-world scenario. That is, if our documentation states to d

[2015-09-06 19:33] mattma commented on #10265
@roberthbailey

I tried on a brand new K8S stack with the `--secure_port=443` on **api-server**. Well, I think it is not the root cause of the `kube2sky` dns issue. Still seeing the logs on `kube2sky` container

[code]

i think it must be something wrong with my `ServiceAccount`. What is the good docs that I could debug my `ServiceAccount`? I have following the `Start from scratch` k8s guide, do n

[2015-09-06 19:36] mattma commented on #10265
Service account token, I am using the same `key` from  `/srv/kubernetes/server.key`.

See `--tls-private-key-file` and `--service_account_key_file` reference the same `/srv/kubernetes/server.key`. Is it wrong? should I generate a new one?

[code]

[2015-09-06 20:03] antoineco commented on #10265
It doesn't restart, but it also doesn't work. If you try to query the internal DNS server you'll get a timeout.

This is correct. If I were you I'd start by deleting both my default secret and service account, and then the DNS pod. This will force the controller manager and kubelets to regenerate everything. If it still doesn't work then something may be wrong with your PKI.

Btw, you said you swi

[2015-09-06 20:44] JeanMertz opened #13630 "patching service' port renders ip routing unusable"
I was messing around with some `kubectl` commands, to see what was possible, and ran into this situation:

[code]

[code]

after repeating above steps to change it back to port 80, I noticed the `loadBalancer` IP had changed. However, I was no longer able to reach the service using this IP:

[code]

the pods where still up, and I could still curl their internal IPs (from inside one of the pods, us

[2015-09-06 20:58] thockin commented on #13630
The fact that the load-balancer IP changed is a bug and is fixed for v1.1.

Can you clarify what the 130.211.x.y is ?  The old load-balancer IP?  The
new load-balancer IP?

There's not quite enough info here to repro the problem.

On Sun, Sep 6, 2015 at 1:45 PM, Jean Mertz <notifications@github.com> wrote:

[2015-09-06 21:12] JeanMertz commented on #13630
It was the new LB ip. After recreating the Service I got that IP again (I guess GCE hangs on to it?) and the curl request still didn't work.

I'll try to reproduce tomorrow and see if I can get some more information.

[2015-09-06 21:15] thockin commented on #13630
Yeah, if you can boil it down to a simple repro case, we can dig in.
Thanks!

On Sun, Sep 6, 2015 at 2:13 PM, Jean Mertz <notifications@github.com> wrote:

[2015-09-06 21:21] mattma commented on #10265
@antoineco I have delete default  secret and service account, recreate a DNS pod, still does not work.

Same error. `Failed to list *api.Service: Get https://10.100.0.1:443/api/v1/services: EOF`

Yes, I have switch back to port 443, my nodes connects to API server via  `/var/lib/kubelet/kubeconfig` and  `/var/lib/kube-proxy/kubeconfig`

[code]

[code]

Look at the `proxy` cannot talk to API-server

[2015-09-06 21:48] mattma commented on #10265
A question:

Saw some examples on K8S, does the certs and keys requires to be in the group `root kube-cert`? Mine is in `root root`

[code]

[2015-09-06 21:49] thockin commented on #10265
"Connection refused" implies that something is not right in your setup
still.

Please try to tackle one problem at a a time.  If you SSH into a node and
curl https://10.0.2.15:443 with --insecure flag, what happens?  You need to
first be able to connect to the master directly, then to be able to connect
to the master through the 'kubernetes' service.  THEN you can worry about
service account.

On

[2015-09-06 21:53] mattma commented on #10265
@antoineco @thockin

[My current development K8S stack is up](https://github.com/mattma/coreos-distro/tree/feature/images) and you should be able to follow a simple steps to deploy the K8S to a Vagrant-CoreOS environment via this [simple-guide](https://github.com/mattma/coreos-distro/tree/feature/images#quick-start-guide)

You should be able to see exactly what I am seeing and facing. Sorry to kee

[2015-09-06 22:12] ericln commented on #11711
got it from the release tar for v1.0.3, i'll pull from head. shouldn't the fix be in v1.0.3 just wondering

[2015-09-06 23:10] aleks-f commented on #13608
Thanks, re-posted on [stackoverflow](http://stackoverflow.com/questions/32429156/kubernetes-installation-on-mac-vagrant-parallels).

[2015-09-06 23:33] davidopp commented on #13567
I think the argument against this approach is that the scheduler has the advantage of knowing whether something will actually schedule. The alternative (for some use cases) requires linking the scheduling logic into each controller so they can know whether it will be productive to create a Pod.

To put it another way: I believe that the only way to use our existing admission control mechanism to i

[2015-09-06 23:34] davidopp commented on #13567
I do agree we should have a more holistic discussion about the policies we want (such as the questions you listed) before implementing anything in this direction.

[2015-09-07 00:44] dalanlan commented on #11711
The patch may not be cherry picked into v1.0.3. If there is any problem, LMK:)

[2015-09-07 00:58] dalanlan commented on #13557
The param `--containerized` seems to do with this. Hadn't dived deep though @pmorie

[2015-09-07 01:24] linzichang commented on #13507
This issue can close now. Fix was merged.

[2015-09-07 01:50] dalanlan commented on #13627
The syncing pod problem is due to namespace isolation.
kubelet cannot access pause process of infra container locates on the host.

[2015-09-07 01:53] dalanlan commented on #13627
The gc problem of cadvisor is because it cannot check the mount point of /var/lib/docker.
[code]
Hence it wont add the required label.

[2015-09-07 02:18] hurf opened #13631 "Quantity doesn't recognize format correctly."
I set memory limit to 1.1Gi for a container, then used `describe` to view the details, it returned `memory: 1181116006400m`. But for 100Mi, 1Gi and **1.5Gi**, it will be 100Mi, 1Gi and **1536Mi**.
1. for 1.1Gi and 1.6Mi, it will be recognized as DecimalSI.
2. for 1.5Gi, it will be recognized as BinarySI, but displayed with another suffix.

Should we fix this?

[2015-09-07 02:27] resouer commented on #12722
@fgrzadkowski Actually we have proposed scripts for that several weeks ago, see: [this doc and scripts](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker-multinode.md) :)

I'll happy to keep updating that part of work based on your advice!

But to avoid making a getting-started-doc too complicated, we proposed #13424 , which is on, see:[dev branch](https://git

[2015-09-07 02:56] thockin commented on #13631
@lavalamp

On Sun, Sep 6, 2015 at 7:19 PM, Victor HU <notifications@github.com> wrote:

[2015-09-07 02:58] dalanlan commented on #13627
Yet we have this in the containerized kubelet
[code]
So it's deprecated by https://github.com/google/cadvisor/blob/master/fs/fs.go#L88
'cause we have following already
[code]

[2015-09-07 03:07] tsjsdbd commented on #13500
Thanks for kindly reply.

It is just an idea when I see the shortcomming section in the Service Readme, not sure if it worth further more step, because one of my colleague told me that iptables is very poor performance, and also it may have some security group on the Node. But I'm not sure about the performance result between pure-iptables and pure-ips.

Seems that pure-iptables can works but with

[2015-09-07 03:27] thockin commented on #13500
On Sun, Sep 6, 2015 at 8:08 PM, 唐盛军 <notifications@github.com> wrote:

I'm eager to see the new solution stress tested - Our benchmarks and
initial measurements look very promising.

That's true.  There are things you can do in userspace that there just
are not iptables rules to express.  This is a conscious tradeoff.  We
did not intend for kube-proxy to become a competitor to haproxy or
ngingx -

[2015-09-07 03:47] alexanderguzhva opened #13633 "vagrant-based cluster is broken"
I took the last version from github several days ago, installed without any problems
host machine
[code]

minion-1, everything is fine
[code]

minion-2. Completely empty
[code]

minion-3. Completely empty
[code]

ok, let us run redis from the example (replication factor is 3). Here is what I see after 10 minutes of waiting
[code]

[2015-09-07 05:53] resouer commented on #12725
The release of gcr.io/google_containers:hyperkube is a bit slower than k8s release. So maybe the last one of latest release?

[2015-09-07 06:21] resouer commented on #12725
I'm also wondering if there's any way to update default version automatically? (seems e2e test will be need in this case)

[2015-09-07 06:44] siddharth20729 opened #13637 "kubernetes on mesos - apiserver received an error that is not an api.Status: tls: handshake did not verify certificate chain"
I am running into this error when i run the kubectl exec command

kubectl  exec busybox -- nslookup kubernetes
Error from server: tls: handshake did not verify certificate chain

can anyone guide me on the issue ?

kuberenetes release 1.0.5
go 1.5

[2015-09-07 07:32] resouer commented on #13385
If my container have written some files/logs, they will be still there if the pod starts on the same Node. That will be helpful for debug. So, I propose to preserve & mark the old Pod as “Discard”, and start a new one on other Nodes.

I'm not sure whether this is implemented now?

[2015-09-07 07:52] fgrzadkowski commented on #13589
Assuming we should be code complete for 1.1 in ~3-4 weeks I'm worried you will not have time to do all of those things. In my opinion you should first focus on integrating with all backends so that this solutions works in all environments. Then work on providing more insight into the system (i.e. annotations) so that it's easy to debug. Then work on additional features in the following order:
1. p

[2015-09-07 08:01] fgrzadkowski commented on #13557
@dalanlan ```--containerized``` will indeed help with mounting, but will _not_ help with writing secrets. I have WIP PR that should fix it.

[2015-09-07 08:07] mkulke commented on #12107
kubelets need to post their status to /nodes.

[2015-09-07 08:16] mkulke commented on #13097
Is there a fix/workaround for 1.0 conceivable, or is this an architectural issue? i'd like to give users access to specific namespaces via kubectl w/o exposing everything.

[2015-09-07 08:45] linzichang commented on #13507
@quinton-hoole

[2015-09-07 08:51] onorua commented on #13511
So, this happened again:
##### kubectl po describe
[code]
##### docker ps
*on host machine*
[code]
##### kubelet log
[code]
##### mount  | grep  gluster
*on host machine*
[code]
##### docker exec
[code]
When I recreated pod - all started to work.

[2015-09-07 10:17] jszczepkowski commented on #13589
@smarterclayton can you comment how "prediction API" is important and urgent for you?

[2015-09-07 10:21] gmarek opened #13639 "Move remaining e2e tests to framework"

[2015-09-07 10:55] linzichang opened #13641 "kube-ui can't show anything"
I use [libvirt-coreos] (https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/libvirt-coreos.md) to start a k8s cluster. And the cluster work well.
Then
`kubectl create -f kube-ui-rc.yaml --namespace=kube-system`
`kubectl create -f kube-ui-svc.yaml --namespace=kube-system`
The service's `nodePort` is 30000

I have already run a pod.
[code]

It's ok to visit http://anyone

[2015-09-07 11:43] givia commented on #12449
I had same problem in my bare metal coreos cluster. Sometimes docker main service (not early-docker) starts before flanneld and docker can't use flannel network. I solved the problem by adding this code in my cloud-config:
[code]

[2015-09-07 12:20] yuvipanda commented on #2996
So I'm running into this now, again. It works fine from inside a pod, but not on the hosts themselves.

    yuvipanda@k8s-webproxy-02:~$ dig  @192.168.0.100 trusty-php-9.default.svc.kube
    ;; reply from unexpected source: 192.168.46.0#47192, expected 192.168.0.100#53

Works if I force dig to use TCP - other TCP based protocols (HTTP) also work via service IPs.

This is on kubernetes v1.0.1

[2015-09-07 12:20] yuvipanda commented on #2996
Also unsure what the fix was - I can't find a 'dns' branch in @thockin's fork.

[2015-09-07 12:22] yuvipanda commented on #2996
192.168.46.0 is actually the ip of my local flannel interface.

[2015-09-07 13:14] gmarek commented on #13258
I found following races:
- waiting in callback in terminationEvictor until RateLimitter returns true, we loose 'cancelPodEviction' call if happens then
- cancelPodEviction is not atomic and is not synchronized with callbacks, e.g. we may get 'cancelPodEviction' call when podEvictor's callback is running, 'cancel...' will finish, and at the end of the callback we'll add a value to the terminationEv

[2015-09-07 13:23] wojtek-t commented on #3338
I started looking into it from the performance point of view. I looked into:
- ugorji/codec - in the current form it just doesn't work for our structures (so far I filed https://github.com/ugorji/go/issues/94 and https://github.com/ugorji/go/issues/95 - but I'm afraid it's not the end)
- ffjson - it mostly works, but the gain here is not very significant (it's more like 20% and definitely not 2-3x

[2015-09-07 13:34] feihujiang commented on #3338
/sub

[2015-09-07 13:34] jsafrane commented on #13556
Yes. `nova show` displays no metadata.
[code]

And `OpenStack.getComputeIDbyHostname()` gets empty `server.Metadata` at openstack.go:912.

[2015-09-07 13:41] smarterclayton commented on #13258
Those are definitely races - I will try to look tomorrow when I'm back in
the office but what you describe as fixes seems correct to me.

On Sep 3, 2015, at 6:52 AM, Marek Grabowski <notifications@github.com>
wrote:

Ping @smarterclayton <https://github.com/smarterclayton> - can you give any
input on this? I'm going to debug this in free cycles (which may appear in
not-too-distant future or not),

[2015-09-07 13:51] PiotrProkop opened #13643 "Kubernetes does not remove volumes when deleting pods."
After a while, kubernetes minions are running out of disk space. It turns out that directory `/var/lib/docker/volumes/` has `64775` files (garbage volumes) and uses my whole disk space, even when no pod is running on this node.

[code]

I noticed that kubernetes is not deleting containers' volumes using `kubectl delete pod` command.

I am using _CoreOS 794.0.0._

[code]

[2015-09-07 13:56] tsl0922 commented on #13637
Having the same problem with the HEAD version(6605b170b63d14f74d382acd65adf94a53e09ab4), this is the log from `/tmp/kube-apiserver.log` (cluster started with `hack/local-up-cluster.sh`):

[code]

[2015-09-07 14:06] dasch commented on #4710
I know there may be issues with using env vars for secrets, but nonetheless it's a very common pattern that people have come to expect:

1. Many existing and widely used Docker images allow configuration through env vars, including passwords.
2. Dev/prod parity is a lot easier using env vars rather than having a wrapper script that needs to figure out whether to parse secrets from a mounted volume

[2015-09-07 14:42] PiotrProkop opened #13645 "Rkt driver: lifecycle hook doesn't work."
Lifecycle hook doesn't work ( command specifed in pod.yaml is not being executed) when `container_runtime=rkt` flag is specified in `kubelet`. In `kubelet` logs there is no information about failing of postStart action, even with `--v=10` flag.

[code]

[code]

[code]

[2015-09-07 17:39] discordianfish opened #13647 "mesos: Use IPs to connect to masters"
A mesos master host's hostname doesn't necessarily resolve to the IP mesos is listening on. Since we have the IP mesos registers itself in ZK with, we should use that instead.

Basically, we just need to remove 135 and 136:
https://github.com/kubernetes/kubernetes/blob/HEAD/pkg/cloudprovider/providers/mesos/client.go#L135

[2015-09-07 18:31] jlowdermilk commented on #13629
I think from an api standpoint, we can't allow changing the name/id of a resource as an "update" action. If you want to change the name of a resource, you have to delete and recreate.

cc @bgrant0607

[2015-09-07 18:32] jlowdermilk commented on #13637
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-09-07 18:32] #13637 closed

[2015-09-07 18:34] jlowdermilk commented on #13641
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-09-07 18:34] #13641 closed

[2015-09-07 18:38] jlowdermilk commented on #13645
@kubernetes/rh-cluster-infra

[2015-09-07 19:04] #13077 closed

[2015-09-07 20:37] lavalamp commented on #13631
Hm, we should definitely round to whole byte values, we obviously can't give you that extra .4 bytes you asked for. Binary suffixes only divide evenly by powers of two (so e.g. 1.125Gi and 1.0625 should both work). I suspect we just aren't doing enough validation; we should have rejected that or rounded it.

This is as expected, since .1 and .6 are not of the form 1/2^n and therefore leave a fract

[2015-09-07 21:14] smarterclayton commented on #4710
Now that the downward API is in place, substituting secret values into env
vars is not difficult.

On Sep 7, 2015, at 10:06 AM, Daniel Schierbeck <notifications@github.com>
wrote:

I know there may be issues with using env vars for secrets, but nonetheless
it's a very common pattern that people have come to expect:

   1. Many existing and widely used Docker images allow configuration
   through e

[2015-09-07 21:33] JeanMertz commented on #13629
Well, That depends on how names are used

To me, when working with Kunernetes, it feels like

* labels are used for cross-resource referencing
* internal IDs are used for required hard references
* names are used as human readable identifiers, so that two people in a meeting understand what they mean when they reference the "mailing RC".

Given this, keeping names equal and readable throughout the

[2015-09-08 00:20] smarterclayton commented on #13459
I would want to create node port and load balancer services that can't be accessed from the normal pod network (without going through the balancer), because the balancer may impose security policy.  So I think the original proposal or a separate networkPolicy field is more flexible.  I didn't see a reason upthread not to introduce a separate field.  Also, if the network plugin is incapable of supp

[2015-09-08 00:51] rroopreddy commented on #10931
Finally I have Kubernetes cluster on Mac/Vagrant combination working with version 1.0.5. Running example/Cassandra as per instruction spins up pods/services/replicationcontrollers properly. However the original problem still remains, i.e: seed provider not working for a cluster discovery?

on a 4-node cluster the following command only returns one

kubectl exec -ti cassandra -- nodetool status

./

[2015-09-08 01:17] hurf commented on #13631
@lavalamp - Thanks for explaination. I'm now much more clear about the interpretion.
About the display, I have a suggestion, can we just add a method to display the original input? Since we're using "human-readable" format to print information in kubectl, user's may not mind an accuracy loss of .4 bytes but prefer an output easy to read. In this case we can use the new method. For other cases may

[2015-09-08 01:19] vsimon commented on #13484
Tried again today and its looking better.

[2015-09-08 01:19] #13484 closed

[2015-09-08 01:28] alexanderguzhva commented on #13633
I was able to make it work, finally
I'm not sure why. Maybe, because I disabled virtualbox's DHCP (VBoxManage dhcpserver remove --netname HostInterfaceNetworking-vboxnet0). Maybe, problems happen because of some sort of timeouts. Anyway, I was unable to identify the reason why two of three minions were blank (restarting cluster in vagrant halt + kube-up changed nothing)

[2015-09-08 01:54] udaraliyanage opened #13653 "Start containers in privileged mode"
I am running a Kuberneties cluster with one master and one minion. I use coreos images in EC2 for both master and minions. Pods getting created and become running fine. I am using Kuberneties API in order to create/delete pods.

However I need to start the containers in privileged mode in order to solve the Transparent huge pages issue in NuoDB. I added --allow-priviledge=true in minions kubelet s

[2015-09-08 02:40] smarterclayton commented on #13589
It's useful but not urgent - agree on the points Filip made.  I think we would prefer to have the useful core capabilities as represented by 1/2 working cleanly and we can expand into prediction.  @mwringe we should figure out who is going to jump on the hawkular support (who has time?).

[2015-09-08 02:44] smarterclayton commented on #13557
When we do the fix, we should be careful to preserve both modes - with Docker with Slave and without so we can continue working when in centos/fedora.

[2015-09-08 02:46] smarterclayton commented on #13621
Isn't it likely as a user I would describe terminated pods and want to see
their status?  We're putting in a lot of code to try and hide pods that
still exist, I'm a bit worried we should be spending that effort on making
those pods go away instead.

On Sep 6, 2015, at 1:57 PM, Jeff Lowdermilk <notifications@github.com>
wrote:

@kubernetes/kubectl <https://github.com/orgs/kubernetes/teams/kubectl>

[2015-09-08 02:55] jiaweizhou commented on #13395
It's still can't be use when I  run the following
[code]
It will hang the throw an error
[code]

[2015-09-08 02:55] jiaweizhou commented on #13395
@ncdc

[2015-09-08 03:53] spothanis commented on #13556
Let me see what other options we have that can be used to derive the instance id. will get back to you soon.

[2015-09-08 05:50] feihujiang commented on #13621
I means:
1. There is a conflict, "kubectl get pods" hides terminated pods, but "kubectl get pods -o yaml/json" doesn't hide terminated pods. Should we change to keep them consistent?
2. Does "kubectl describe <kind> " need to hide terminated pods and using --show-all (-a ) flag to show all pods?

Most of time, users don't want to see the terminated pods. but if users want to see the terminated pod

[2015-09-08 07:28] ltagliamonte opened #13654 "[Kubernetes on Mesos] : Failed to start service controller"
I'm trying to install Kubernetes on Mesos i followed this guide:
https://github.com/kubernetes/kubernetes/blob/release-1.0/docs/getting-started-guides/mesos.md
Mesos cluster logs are clean the only error the i can see in the logs is coming from the controller logs:
[code]
My configuration is: Mesos Master with Kubernetes + 1 slave node.
the output of cluster info  and get nodes is:
[code]
Thanks i

[2015-09-08 08:00] hurf commented on #11488
@bgrant0607 - I'm planning to add a parameter `dryrun` like 'pretty' or 'labelselector' to API requests. Once the server get this parameter, it will do validation to the resource and check if request can pass admission controls, but return success before write to etcd.
I've read the documented about API changing, it lists some principles when changing the api object, but parameters are not mention

[2015-09-08 08:12] davidopp commented on #4235
@benmccann There's a very related discussion in #13056.

[2015-09-08 08:12] hansjmelby opened #13657 "Kubernetes seems to fail when i try to run kube-up"
I try to run the command kube-up.sh in cygwin and I get the following response
$ ./kube-up.sh
Starting cluster using provider: vagrant
... calling verify-prereqs
./../cluster/vagrant/util.sh: line 85: VAGRANT_DEFAULT_PROVIDER: unbound variable

I have tried to export the folliwing settings
To remedy this, I have tried to to the following :
export VAGRANT_DEFAULT_PROVIDER=virtualbox

I still get an

[2015-09-08 08:14] arun-gupta commented on #13657
Windows experience of starting a Kubernetes cluster is not very optimal and needs to be cleaned up. The instructions to start the Kubernetes cluster by @hansjmelby are at:

https://htmlpreview.github.io/?https://github.com/javaee-samples/docker-java/blob/master/readme.html#_start_kubernetes_cluster

[2015-09-08 08:31] davidopp commented on #8132
I think the granularity of sharding may have to be coarser than kind (i.e. in some cases 2 or more kinds would have to be in the same shard) if/when we add multi-object transactions. Multiple parallel (e.g. framework) schedulers is probably the first use case for this, assuming we don't want to pay the cost of going all the way out to the kubelet to find out a binding conflicted -- we'd need bindi

[2015-09-08 10:02] ncdc commented on #13395
What image is your pod running? Can you provide the output when you run
with DEBUG=1? What Docker version?
On Mon, Sep 7, 2015 at 10:56 PM jiaweizhou <notifications@github.com> wrote:

[2015-09-08 11:47] liggitt commented on #11488
We need to be careful about dry-run with admission control... some admission controllers (like quota, specifically), record things to etcd in the process of admitting an object. Also, dry-run wouldn't work with a list of objects intended to be created in order, where later objects reference earlier objects (and those references are validated at create time)

[2015-09-08 12:38] wojtek-t commented on #13548
Just bumping it up - it happened again few times over the weekend and also today:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/2373/

[2015-09-08 13:17] errordeveloper commented on #7470
For the record, @tomwilkie's [blog post](http://blog.weave.works/2015/09/08/weave-gossip-dns/) describes it at pretty high level, as we have just released it in Weave 1.1 today.

[2015-09-08 13:35] wojtek-t opened #13671 "Handshaking being the most significant part of the cpu profile"
When profiling apiserver on 100-node clusters, the most significant part of the profile is now handshaking. To be more precise:
crypto/tls.(*Conn).Handshake
method can take 25-30 % of CPU.

I'm not sure what we can do with it - maybe trying to reuse tcp connections (although by default we have MaxIdleConnsPerHost set to 2, which I think should be enough).
Any thoughts?

@timothysc @jbeda

[2015-09-08 13:35] wojtek-t commented on #13671
cc @kubernetes/goog-csi

[2015-09-08 13:36] timothysc commented on #3338
@wojtek-t At what point do we re-evaluate the cost/benefits of putting etcd behind the api-server?

The api-server is clearly the bottleneck, and carries the burden of encoding&decoding etcd.

[2015-09-08 13:37] lleszczu commented on #13645
@yifan-gu

[2015-09-08 13:42] resouer commented on #13653
Just as Brendan said in the post, have u restarted api-server and kubelet after you changed the config file?

[2015-09-08 13:43] wojtek-t commented on #3338
@timothysc - sorry I didn't understand the question. I agree that api-server is obviously the bottleneck. What do you mean by:
"At what point do we re-evaluate the cost/benefits of putting etcd behind the api-server?"
Did you mean measuring performance without etcd (i.e. backed by e.g. in-memory storage or some other database)? That would obviously be useful, but that seems like a lot of work.

[2015-09-08 13:44] timothysc commented on #8132
@bgrant0607 namely events, and metrics.  Which could each be their own introspective service.

[2015-09-08 13:55] jayunit100 commented on #13603
hi -- ok, #13672 fixes this.

[2015-09-08 14:15] resouer commented on #12422
/cc

[2015-09-08 14:20] joshm1 commented on #13385
@lavalamp certainly, it's critical to be able to detect issues with nodes. Is this something on that roadmap that will be built into kubernetes/kubelets? In the meantime, I need someway to detect this internally and either automatically handle it and/or send alerts. What are some ways you'd advise to do this?

This issue bit me again over the weekend. I have a simple 3-node cluster in AWS that was

[2015-09-08 14:23] ncdc opened #13673 "Port forwarding stream creation logic is racy"
When a new connection is established to a local port that is forwarded to a pod, the current logic in the Kubelet assumes that an error stream will be created first, followed by a data stream (these are distinguished via a header when creating the stream, and linked together via another header containing the forwarded port). However, because the streaming library, spdystream, processes "new stream

[2015-09-08 14:34] liggitt commented on #13673
Rather than client-assigned stream ids, I would rather do the following:
* Update the client to allocate the error and data streams in a serial, threadsafe way (to guarantee that a particular connection's data and error streams are set up together before another connection's)
* Update the server to accept data/error streams in either order

Client-assigned stream ids seem odd to me, and it would b

[2015-09-08 14:36] smarterclayton commented on #13673
Jordan's suggestion makes sense.

On Tue, Sep 8, 2015 at 10:34 AM, Jordan Liggitt <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-09-08 14:37] ncdc commented on #13673
@liggitt we could guarantee the the client creates the pair of streams for a single connection together, but there's no guarantee the server won't still process streams from multiple connections out of order, given the frame worker has 5 workers in the pool.

[2015-09-08 14:44] smarterclayton commented on #11488
We could potentially carry "dry run" down into the admission controller
request path.

However, a query parameter may not be appropriate, instead there's probably
a HTTP header that already covers this. We try not to mix query parameters
and post bodies in many cases.

On Tue, Sep 8, 2015 at 7:47 AM, Jordan Liggitt <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-09-08 14:53] udaraliyanage commented on #13653
Yes I restarted api service in master node and kublet service on minion. I have pasted commanda and content of the files in that thread.

[2015-09-08 14:56] ncdc commented on #13673
More info: when you run `kubectl port-forward`, it creates 1 long-running SPDY connection to the apiserver. With each new connection to the local port, 2 new streams are created by the client. The reason I went with a unique identifier to tie together the 2 streams is because if you have multiple connections to the local port at the same time, it will rapidly create many streams, and there's no wa

[2015-09-08 15:07] stevesloka commented on #13552
@thockin thanks for the clarification!

[2015-09-08 15:17] liggitt commented on #13673
I'm coming around to the client-generated connectionID idea, but we can preserve backwards compatibility by generating an id for streams that are missing it, using the StreamId.

GenerateConnectionID(errorStream) == errorStream.StreamId
GenerateConnectionID(dataStream) == dataStream.StreamId-2

[2015-09-08 15:19] ncdc commented on #13673
You still might have the server get this (or any variation):

- dataStream for conn1, streamId=1
- dataStream for conn2, streamId=3
- errorStream for conn2, streamId=7
- errorStream for conn1, streamId=9

[2015-09-08 15:21] liggitt commented on #13673
sure, new clients set a connectionID, which guarantees correct pairing

old clients still have problems with concurrency, but at least we don't break compatibility for single or spaced-out connections

[2015-09-08 15:26] smarterclayton commented on #13552
Steve, for your kafka use case are you planning on using persistent volumes
for the kafka broker pods or not?

On Tue, Sep 8, 2015 at 11:08 AM, Steve Sloka <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-09-08 15:34] liggitt commented on #13673
Also, if the server calculated a connectionID and found that connectionID already had a stream of that type, it would know there was a concurrency issue and could fail that connection, instead of just hanging

[2015-09-08 15:37] stevesloka commented on #13552
@smarterclayton I wasn't working on kafka, but @streamnsight was, I'm looking to integrate to the SkyDNS pieces currently.

[2015-09-08 15:44] smarterclayton commented on #13552
I bring that up because we think in order to make persistent volumes work
for nominal services (where you can reuse the same volume when your pod
moves) your volume (if your app records hostname) would have the old
hostname (pod-1-1-1-1) not the new pod hostname, and the two wouldn't
match.  But I suspect most people aren't trying to use persistent volumes
yet.

On Tue, Sep 8, 2015 at 11:37 AM, St

[2015-09-08 15:45] liggitt commented on #4710
I didn't think downward API handled cross-object data transfer (from secrets into pod envvars, etc)

[2015-09-08 15:58] smarterclayton commented on #4710
It doesn't today, but it is a generic mechanism for transforming resource
data relevant to the pod and its related resources into the container in a
controllable and versionable way.

I would see it looking like:

[code]

On Tue, Sep 8, 2015 at 11:45 AM, Jordan Liggitt <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-09-08 15:59] smarterclayton commented on #4710
It doesn't today, but it is a generic mechanism for transforming resource
data relevant to the pod and its related resources into the container in a
controllable and versionable way.

I would see it looking like:

[code]

[2015-09-08 16:01] quinton-hoole commented on #13507
@fixed by #13544

[2015-09-08 16:01] #13507 closed

[2015-09-08 16:13] bmbroom opened #13676 "Allow user to specify alternative MASTER_IP and MINION_IP_BASE"
When creating a vagrant based cluster, the MASTER_IP and MINION_IP_BASE appear to be hardwired to 10.245.1.2 and 10.245.1., respectively, in kubernetes/cluster/vagrant/config-default.sh.  This breaks an environment in which the 10.245.1 subnet has already been assigned (and can't easily be changed).

Please provide a simple mechanism to override these default values.  One approach would be to acce

[2015-09-08 16:17] resouer commented on #13643
@PiotrProkop There are some facts I want to clarify here which may help you out:

1. About Volumes in k8s is: kubelet will never create volumes under `/var/lib/docker/volumes`, both `emptyDir` and `hostDir` are actually treated as `host directory` in Docker side which should either be located at `/var/lib/kubelet/pods/POD_ID/containers/app/CID/`, or any other host dirs you specified as `hostDir` f

[2015-09-08 16:19] CaptTofu opened #13677 "MySQL Galera 3-Node Synchronous example provided"
At Percona Live in Santa Clare in April, I did a talk on running a 3-node Galera cluster on Kubernetes. I recently updated this work for v1 and have a pull request I could immediately make. I work for HP and we have a corporate CLA. I would love to provide this example in the example directory and have other contributions I could make. The example includes pod, rc, service files as well as source

[2015-09-08 16:28] quinton-hoole commented on #13548
I looked at the existing plugin that we're using, and it does indeed retry (5 times!)

https://github.com/jenkinsci/google-storage-plugin/blob/3fcd85a12cc6a6994355e50fedffe3015feecb26/src/main/java/com/google/jenkins/plugins/storage/AbstractUpload.java#L467

https://github.com/jenkinsci/google-storage-plugin/blob/913f85f9753f8b4869dff2ffb3c06891157cd593/src/main/java/com/google/jenkins/plugins/sto

[2015-09-08 16:29] jbeda commented on #13671
This looks like it might be a big stumbling block.  Some quick googling suggests that TLS is significantly underoptimized in the go standard libraries.

https://groups.google.com/forum/#!topic/golang-nuts/u22Up7qN7WM
http://grokbase.com/t/gg/golang-nuts/149j833t8c/go-nuts-tls-termination-reverse-proxy-and-performance-issues
https://blog.cloudflare.com/go-crypto-bridging-the-performance-gap/

The C

[2015-09-08 17:09] ncdc commented on #13627
@kubernetes/rh-cluster-infra

[2015-09-08 17:11] smarterclayton commented on #13621
I tend to think kubectl describe does not need the --show-all flag, if only
because --show-all is specific to the "list" function which we have defined
as being "kubectl get".  kubectl get pods not filtering the output is
inconsistent, although I don't really want to move the logic we currently
have in the printer out to the higher level (out of the pod specific scope).

On Tue, Sep 8, 2015 at 1:5

[2015-09-08 17:12] lleszczu commented on #13643
What about the case when Dockerfile specifies 2 volumes and pod manifest maps to only 1 of them ? Docker might create extra volume in /var/lib/docker/* and GC would clean only volumes defined in /var/lib/kubelet. I believe it should clean both.

[2015-09-08 17:13] yujuhong commented on #13189
The previous PR was reverted. Reopen this issue to wait for #13454 to merge.

[2015-09-08 17:25] timothysc commented on #13671
@jbeda from everything I've read thus far it appears to be in the hand-shake.

I do notice a bunch of updates in 1.5 (https://golang.org/doc/go1.5) regarding tls, but no explicit call-outs to the handshake speed.

@wojtek-t what version of golang are you checking?

[2015-09-08 17:32] #12828 closed

[2015-09-08 17:45] yifan-gu commented on #13645
@PiotrProkop Thanks for reporting. This is because the hooks are not implemented yet (as well as network plugin). Added to the [todo list](https://github.com/kubernetes/kubernetes/issues/8262) to track this. But this should be simple to implement, feel free to patch it if you want :)

[2015-09-08 17:50] pedro-r-marques commented on #13459
In my view, one needs to define the goal for security policy. This goal should be to be able to describe what are the list of allowed traffic flows between application tiers as well as limit the impact of a security vulnerability that compromises one or more pods of an app tier.

I'd like to propose the following api changes:
[code]

[code]

A "namespace closed" policy as defined above in the thre

[2015-09-08 17:50] lavalamp commented on #1957
To add to what Tim said-- we have a ton of stuff to do, and making the storage pluggable hasn't risen to the top yet. But as we evolve the codebase, we try to evolve it in ways that will make that easier, not harder. See for example the recent caching stuff, where @wojtek-t refactored to make a `storage.Interface`. I'm sure that's not sufficient to get a second system running, but it lowered the s

[2015-09-08 17:53] lavalamp commented on #13389
@dchen1107 Can you find an owner for this? It sounds like something wrong is happening.

[2015-09-08 17:59] lavalamp commented on #13385
@joshm1 We already detect various problems with nodes (disk full, docker down, etc).

It looks like you're running out of file handles, so something is leaking them or you have that system setting too low (we raise it for master, but I'm not sure about nodes).

@dchen1107 Can we detect out-of-FDs and make the node not ready?

[2015-09-08 17:59] bgrant0607 commented on #13621
If `kubectl describe` does list all resources (which we've discussed doing in the past), it makes sense to me to be consistent with `kubectl get`.

[2015-09-08 18:08] smarterclayton commented on #13621
It's certainly consistent.  I just don't know whether I think it's
important to emphasize show-all as anything other than an option to get.
In what scenario would I want to call kubectl get -o yaml or kubectl
describe pods?  Probably when I want to capture a lot of output and grep it
or transform it.  --show-all seems much more targeted towards the
assumption that a user needs to filter the list d

[2015-09-08 18:11] lavalamp commented on #13631
Unfortunately the drawback of that is that we'd have to add an additional field to track the original entry. If it were just the addition of some code, that'd be one thing, but adding another field and plumbing it through everywhere begins to not seem worth it, at least to me.

But I think there is an **action item: fix validation, so that quantities of memory never end up with a fractional part.*

[2015-09-08 18:15] caesarxuchao commented on #13653
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-09-08 18:16] caesarxuchao commented on #13654
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-09-08 18:21] Snesha commented on #7826
There are a number of issues. I submitted a patch that fixed some of them and have more fixes that I'm working through for azure. The reason why the setup doesnt complete is because the salt scripts are missing the azure cloud in a number of places. Additionally there are certificate issues and openvpn hasn't been configured right with the cert changes that went in. Right now the layer I'm peeling

[2015-09-08 18:28] mattma commented on #10265
@thockin

Since the problem is not the `secure-port`, I switch from `443` to `6443`. I completely understand your comment above. I have made several adjustment in my K8S stack system. Now I think I am one step closer to the finish line.

Check the [journal of my Stack here](https://gist.github.com/mattma/9d71de27d47c66a9d13e)

Q1: Since I am doing from scratch, I do not have a cloud provider, the

[2015-09-08 18:31] finn0013 opened #13685 "Some 'command' and 'lifecycle.postStart.exec.command' values cause node to go offline"
While working through how kubernetes works I'm struggling to get my commands to execute on the container using either the 'command' or 'lifecycle.postStart.exec.command' attributes. In trying to get this to work I've found that some commands cause the pod to not start correctly, as expected. However, some of these also cause the node to go offline and move to a 'NotReady' state within a minute or

[2015-09-08 18:37] saad-ali opened #13686 "Cleanup/Refactor PV Claim indexing code"
Follow-up from https://github.com/kubernetes/kubernetes/pull/10833#discussion_r38373600

Worth revisiting PV Claim indexing code to try and simplify it.

CC @thockin @markturansky

[2015-09-08 18:46] uruddarraju commented on #11626
@erictune @liggitt

You just want this to be a different authorizer plugin altogether ? For systems that don't use service accounts ? Which would just white list these 2 usernames. Is that what would be ideal ?

I am currently working on the ServiceAccount authorizer, and have got the union authorizer merged already and will followup with the keystone authorizer that we have already been using.

[2015-09-08 18:50] caesarxuchao commented on #13657
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-09-08 18:52] jhadvig opened #13687 "Add a plug point to extended secret type validation"
Would be helpful to have a plugin point to extend SecretType, in order to have a new valid secret of that type.

[2015-09-08 18:53] zmerlynn commented on #3132
Yup.

[2015-09-08 18:53] #3132 closed

[2015-09-08 18:54] zmerlynn commented on #3837
:+1:

[2015-09-08 18:54] caesarxuchao commented on #13673
Please change the label if the one I applied is not appropriate. Thanks.

[2015-09-08 18:57] deads2k commented on #13687
The current structure allows downstream components to add new secret types similar to: https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L2083, but it does not allow for extending the secret validation to ensure that the new secret types are well-formed.  See https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/validation.go#L1568.

@liggitt @bparees fyi

[2015-09-08 19:00] jayunit100 commented on #13152
got another hint from tim, going to try to launch kubelet w/ a custom kubeconfig file which authenticates to the services by referencing the auto generated credentials in /var/run/kubernetes.  Im guess my problem is simply that: by default, if accessing w/o service endpoint, auth isn't really needed.

[code]

[2015-09-08 19:05] akranga commented on #12273
+1

[2015-09-08 19:18] bgrant0607 commented on #2210
See comment https://github.com/kubernetes/kubernetes/issues/2210#issuecomment-135588169

If a pod's labels no longer match C1's selector, controllerRef should be unset, so that the pod may be adopted by a controller whose selector does match its labels.

[2015-09-08 19:40] quinton-hoole opened #13690 "soak test failure: Downward API fails to provide pod IP as an env variable after a while"
In our soak test CI environment, the test below starts to fail consistently after a few hours/runs.

Possibly related:
#13052
#12595

[code]

Example successful runs (immediately after a cluster build:

* job/kubernetes-soak-continuous-e2e-gce/3045/
* job/kubernetes-soak-continuous-e2e-gce/3046/

... whereafter that test (and only that test) fails continuously:

* job/kubernetes-soak-continuous-e2

[2015-09-08 19:41] smarterclayton commented on #13690
Is it possible that the pod doesn't get an IP right away?  That docker is
returning an empty string for the pod IP that only later becomes available?

On Tue, Sep 8, 2015 at 3:40 PM, Quinton Hoole <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-09-08 19:51] quinton-hoole commented on #13690
Yes, that's entirely possible.  The interesting point is that this test succeeds consistently in our one-off test runs (where we build a cluster and run each test once).  It only fails when we run the test multiple times against the same cluster.

Also relevant is that #13656 actually reverts that test, so it's no longer running in our standard tests, only in our soak test cluster, which predates

[2015-09-08 19:52] smarterclayton commented on #13690
Could we be breaking docker IP allocation?

On Tue, Sep 8, 2015 at 3:51 PM, Quinton Hoole <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-09-08 20:24] rootfs commented on #13511
what is interesting is this message
[code]

it indicates the gluster FUSE mount was broken.

Do you have a copy of /var/log/messages or gluster fs log (or something like that if you are using Ubuntu)? I want to see what happened to your gluster mount.

[2015-09-08 20:39] a-robinson commented on #13577
Your premise is a little flawed - each load balancer name is based on its service's UID, not name.

I wholeheartedly agree with everything else - cluster name should be used in conjunction with service name (and indeed it [used to be](https://github.com/kubernetes/kubernetes/blob/eb253a694e965ae8638d4b45433f812607019e91/pkg/cloudprovider/cloud.go#L45)) and the naming should be cloud-provider speci

[2015-09-08 20:43] ihmccreery opened #13694 "Move as many e2e tests into PARALLEL track as possible"
Per the closure of #3132, we should move as many e2e tests into the PARALLEL track as possible.

We should move from a PARALLEL whitelist to a SERIAL blacklist, then audit the blacklist and drain it as much as possible.

[2015-09-08 20:48] derekwaynecarr opened #13695 "kube-addons are all guaranteed qos tier, seems like they could be burstable"
I want to revisit the resource requirements for kube-addons now that we have qos.

All of the `kube-addons` that are added to the cluster are guaranteed qos for the cpu and memory enumerated resources.  I would like to reduce the amount of resource required by the `kube-addons` if possible so I can spin up a smaller sized cluster and still deploy some basic things without needing multiple nodes.

[2015-09-08 20:54] a-robinson commented on #13695
Related to https://github.com/kubernetes/kubernetes/issues/13048, intelligent sizing of addons based on cluster size.

[2015-09-08 20:57] quinton-hoole commented on #13577
@a-robinson the problem with using service names rather than service UID's is that names are reusable things in Kubernetes, so they're ambiguous over time. Concretely it's possible to create two completely different services with the same name, as long as you don't do it at the same time. But time itself is a difficult concept in a distributed system.  Imagine two asynchronous threads, one creatin

[2015-09-08 21:02] derekwaynecarr commented on #13048
cc @kubernetes/rh-cluster-infra @derekwaynecarr

[2015-09-08 21:04] a-robinson commented on #13577
Agreed on the issue, and thanks for re-explaining. In GKE we deal with this by appending a short hash to the ends of user-understandable names, which seems like a good usability compromise.

[2015-09-08 21:14] derekwaynecarr commented on #13633
I am glad you were able to get it working.

I think I understand why the ```kube-addons``` pods were all scheduled to minion-1 during initial provisioning.  Virtual Box does not allow parallel provisioning of the boxes.  So what I suspect is happening is that the ```master``` is provisioned, the ```kube-addons``` are added to the kube-apiserver, and at the point of scheduling those pods, only ```m

[2015-09-08 21:14] #13633 closed

[2015-09-08 21:25] drocsid commented on #1319
@uluyol I'd like to test running the docker registry on a bare metal kubernetes environment without cloud storage. I searched for a release with your commit in place, but could not find one.Is there a build available with your registry commit in place, so I could test?

[2015-09-08 21:30] a-robinson commented on #13035
Sure, I think the instance prefix approach with a cache for the host->tag mappings is workable. Feel free to send a PR my way.

[2015-09-08 21:53] emaildanwilson commented on #1957
For my particular use case a plugin to advertise services outside of kubernetes to Consul would work. Do folks think it would be better to write this as a specific plugin for consul or is it better to leverage something like [registrator](https://github.com/gliderlabs/registrator) to provide this capability for multiple service registry type systems as an abstract? Thank you @ghoffer for finding t

[2015-09-08 22:01] streamnsight commented on #13552
Just a quick update here:
Zookeeper seems to be the only one that really needs to resolve hostnames. I am looking to figure how to just use IPs and not hostnames.
For Kafka, I figured a way to define the advertised name as an IP and it seems to work OK but i need to do more testing.
Originally i had to fill in the hosts file to resolve hostnames, but apparently, by setting both
host.name
and
adver

[2015-09-08 22:01] aaronlevy opened #13696 "Concatenated CAcert in kubelet --tls-cert-file is not used for server validation"
Per the --tls-cer-file flag description ( https://github.com/kubernetes/kubernetes/blob/v1.0.5/cmd/kubelet/app/server.go#L201 ) I assumed (maybe incorrectly) that the CA cert appended to the client cert would be used for server validation. However, it seems to be ignored.

Verified certs by using same concatenated file with curl --cacert and --cert flags.

Not sure if this is expected behavior, an

[2015-09-08 22:07] davidopp commented on #13589
@vishh

[2015-09-08 22:34] vishh commented on #13589
+1 on @fgrzadkowski's points. Having a stable Metrics APIs that works across deployments is a pre-cursor for this feature.

[2015-09-08 22:40] uluyol commented on #1319
The registry needs to be backed by some sort of persistent storage, so you would need to use NFS, iSCSI, or something similar. The config currently only supports GCE, though this isn't hard to change. I don't know if this has made its way into a release. I also don't know if anyone is actively working on this; I am preoccupied with other things (namely school).

[2015-09-08 22:45] quinton-hoole commented on #12800
These tests are still flaky.  Re-opening to investigate.

[2015-09-08 23:02] quinton-hoole commented on #12800
There are 6 tests in this suite:

1. Reboot each node by dropping all inbound packets for a while and ensure they function afterwards (Failed 10 times in the last 30 runs. Stability: 66 %)
1. Reboot each node by dropping all outbound packets for a while and ensure they function afterwards (Failed 11 times in the last 30 runs. Stability: 63 %)
1. Reboot each node by ordering clean reboot and ensure

[2015-09-08 23:09] tummychow opened #13698 "Reducing dependency tree of pkg/labels"
Hey all, I'm writing some code that imports the `labels` package and running into issues with its [large dependency tree](http://godoc.org/k8s.io/kubernetes/pkg/labels?import-graph&hide=2). Specifically `glog`, which declares flags at init time, is causing panics because its flags collide with other flags that we've already defined. In addition, the `util` package sets `logtostderr` to true [at in

[2015-09-08 23:14] saad-ali commented on #12136
I'm going to close this since original issue is resolved.

@Icedroid please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes). We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked que

[2015-09-08 23:14] #12136 closed

[2015-09-08 23:18] quinton-hoole commented on #12800
(run number, followed by the test numbers above, with P for pass, F for fail):

[code]

[2015-09-08 23:19] caesarxuchao opened #13699 "update the description about label-selecors in the labels.md"
The [documentation](https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/labels.md#label-selectors) suggests we support both "equality-based" and "set-based" label selectors, but actually we only support "==" selector right now. This is confusing. People are asking questions on IRC. We should update the doc in both github and k8s.io/v1.0.

[2015-09-08 23:26] benmccann commented on #13056
I'll throw my 2 cents in here for now (though happy to move conversation to the mailing list or elsewhere).

I'd prefer both models being supported as well. [@justinsb summed up my thoughts on the matter almost perfectly](https://github.com/kubernetes/kubernetes/issues/13056#issuecomment-133625145). This is the main thing that's held me back from really jumping on to k8s and I'd potentially be wil

[2015-09-08 23:32] saad-ali commented on #12155
This was completed by @yujuhong in PR #13293

@rootfs can you take a crack at this?

[2015-09-08 23:33] #12725 closed

[2015-09-08 23:40] mikedanese commented on #13698
PRs are welcome. For visibility, I suggest moving this proposal into a comment in #4851 or at least linking it from there since that umbrella issue about package reorg.

[2015-09-08 23:53] thockin commented on #1957
Having a kube2consul (a la kube2sky) would be the right pattern, I think.

On Tue, Sep 8, 2015 at 2:54 PM, Dan Wilson <notifications@github.com> wrote:

[2015-09-09 00:11] quinton-hoole commented on #12800
Specific reasons for failure:

* 4503
[code]

[2015-09-09 00:13] quinton-hoole commented on #12800
* 4500

[code]

[2015-09-09 00:15] quinton-hoole commented on #12800
* 4481

[code]

[2015-09-09 00:19] quinton-hoole commented on #12800
* 4479

[code]

[2015-09-09 00:21] quinton-hoole commented on #12800
* 4478

[code]

[2015-09-09 00:34] hurf commented on #11488
@liggitt - Thanks for advices! I'm trying to make myself thoroughly familar with request handling process. And during this period, I may need more of your help. I think I've replied this message before but unfortunately it's not showed up here:-(

@smarterclayton - Can you provide a link to the code about the HTTP header? Thanks!

[2015-09-09 01:01] thockin commented on #13631
Are you saying that should be rejected or adapted?  We've held the line so
far that Quantity is never lossless, but in this case, a fraction of a byte
seems reasonable, especially given that memory is actually accounted in 4Ki
or larger chunks...

On Tue, Sep 8, 2015 at 11:12 AM, Daniel Smith <notifications@github.com>
wrote:

[2015-09-09 01:20] rootfs commented on #12155
ok, glad to do it.

[2015-09-09 01:32] saad-ali commented on #12155
Thanks!

[2015-09-09 01:54] feihujiang commented on #13621
Now I know the show-all option is just only used by "kubectl get pods --show-all" to show all the pods including the terminated pods, not used by other resources.  Maybe we should remove it, and let "kubectl get pods" show all the pods including the terminated pods. But I don't know the history of the show-all option, so your point is important.

[2015-09-09 02:16] roberthbailey commented on #13696
Strange. We definitely check the CA cert from kubectl.

[2015-09-09 02:17] roberthbailey commented on #13696
/cc @vishh @pwittrock @dchen1107

[2015-09-09 02:22] resouer commented on #13643
@PiotrProkop FYI, a  [nice doc ](https://github.com/ZJU-SEL/kubernetes/blob/f5bdea836e8fbb8998b0abdacdecf9b96b537455/docs/admin/garbage-collection.md) about GC.

[2015-09-09 02:24] jiaweizhou commented on #13395
I am sorry ,I forgot to deploy a new k8 cluster of the branch master .I just use the kubectl builded from the  master with the old version of k8 cluster .Thanks for your concern.

[2015-09-09 02:28] hurf opened #13701 "Return all errors at a time when limitRange is voilated"
When a resource violates the limitrange, both for cpu and memory, only one error will be returned at a time. That means when a user is creating such a resource, first it will fail and return something like `Max cpu usage per pod is 2, but limit is 3`, them user may edit the cpu usage and create again, then fail again and get `Max memory usage per pod is 1Gi, but limit is 3Gi`.

It seem admission c

[2015-09-09 03:25] zhengguoyong opened #13703 "Downward API volume plugin fail in the docker kubernetes cluster"
i run the downwardAPI volume example in docker kubernetes cluster.  after i create the pod, i  saw the pod is running , the i check the pod/container output, in the pod's /etc directory i not found the file created by the plugin.
root@ubuntu:~# kubectl get pods
NAME                                    READY     STATUS    RESTARTS   AGE
k8s-master-127.0.0.1                    3/3       Running   6

[2015-09-09 03:48] saad-ali commented on #13125
@eparis or @jsafrane Could you take a look at this?

[2015-09-09 03:53] bgrant0607 commented on #12231
Note that we want to be able to do this for YAML, too, and we already know that we lose ordering information when converting from yaml to json.

[2015-09-09 04:26] bgrant0607 commented on #12245
Some additional motivation:

The current way in which we configure components via command-line flags is unnecessarily convoluted and hard to standardize, since some deployments run the components using containers, some use init, some use systemd, some use supervisord, etc.

Life of configuring a flag on GCE (if wrong, that's another indication of how convoluted it is; different for every cloud pla

[2015-09-09 05:01] liggitt commented on #13696
`--tls-cert-file` provides the kubelet's serving cert, not a client cert... the concatenated cert chain after the initial server cert is served as well, and is only there so that clients talking to the kubelet can follow the chain to a CA as part of their verification of the server.

Were you expecting the kubelet to use the appended CA to verify client certs connecting to the kubelet?

[2015-09-09 05:44] thockin commented on #10265
I think that "error" is really not an error - it has come up before.

https://github.com/kubernetes/kubernetes/issues/12716

What is that 172 address?

From the node:

iptables-save

ping 10.0.2.15

ip route

On Tue, Sep 8, 2015 at 11:29 AM, Matt Ma <notifications@github.com> wrote:

[2015-09-09 05:54] thockin commented on #7470
I'd be happy to consider it as an alternative to our existing DNS if we can
make it work and it performs better.  I tried to get dnsperf to compile on
Debian but failed after 20 minutes of trying to get the necessary deps
installed.

On Tue, Sep 8, 2015 at 6:17 AM, Ilya Dmitrichenko <notifications@github.com>
wrote:

[2015-09-09 06:12] wojtek-t commented on #13671
@timothysc I was compiling it locally and locally I have 1.5 version (so if there were any improvements, there are already there).

[2015-09-09 06:27] shuoli84 opened #13709 "kube-proxy's udp proxy dead"
EDIT: kubernetes version 1.0.3

One of our kubernete machine not able to connect to dns server, and after some trouble shooting, it seems kube-proxy's udp socket dead.

![screen shot 2015-09-09 at 2 16 14 pm](https://cloud.githubusercontent.com/assets/3402035/9754609/8e603762-56fd-11e5-8e8a-c2b2013919f6.png)

It stops reading from socket. I don't know how to re-pro yet. All other tcp sockets are w

[2015-09-09 06:33] hw-qiaolei commented on #11814
@hurf thanks for the reminder. I will take care of it.

[2015-09-09 06:44] pmorie commented on #13690
@quinton-hoole I will take a look at the individual runs and see if we can tie the beginning of the failures to some other problem in the system once I have a patch that deals with the pod start latency issues that have been reported

[2015-09-09 07:00] erulabs commented on #13056
I'd like to leave some documentation for any readers about my current thoughts on this. It seems to be, after much experimentation, that the benefits of a more complex Kubernetes (MultiAZ/HA cluster out of the box) are outweighed by the benefits of "confederated" Kubernetes clusters (aka "ubernetes").

Part of the benefit is that the Kubernetes API is extraordinarily wonderful to work with, as API

[2015-09-09 07:17] ddysher commented on #13577
Thanks for commenting.  For loadbalancer name, appending a short hash sounds good to me: this also confirms to how we name other resources.  The problem is how we want to enforce this rule if we allow different cloudprovider to implement their own name?

The concern of backward compatibity is sound, since we did use service name before, is there any concret steps we can follow, or we just break th

[2015-09-09 07:47] fgrzadkowski commented on #3338
@wojtek-t @timothysc AFAIU Timothy is considering an architecture where clients talk directly to etcd. Is my understanding correct? It would definitely increase performance, but would also mean that etcd API is part of our official API, which doesn't sound like a good idea to me.

[2015-09-09 08:10] jayunit100 opened #13713 "kubelet options : if missing --tls-Private-key-file while providing --tls-cert-file leads to ambiguous error message"
if we don't provide the `--tls-private-key-file=` option along `--tls-cert-file="/var/run/kubernetes/xyz.crt"`, we get a cryptic error message in the kubelet logs:

[code]

Probably we can clean this up in the flags somehow.   I stumbled into this in trying to better understand certs, so I'm probably not the best person to fix it :)...  But maybe i can give it a shot

[2015-09-09 08:30] hurf opened #13714 "Limitrange validation incorrect due to accuracy loss for small numbers"
Limitrange should follow min<=default<=max, and request<=limit. But we can create limitrange like

    Resource Limits
     Type       Resource    Min Max Default
     Container  cpu     200m    50m 100m

The validation is done by #9897, but for small value like 200m and 100m, it will be rounded to 1 in Quantity.Value(), we'd better use MilliValue() instead.

[2015-09-09 08:36] tomwilkie commented on #7470
@bboreham did a benchmark for his http://softwarecircus.eu/ talk tomorrow:

http://go-talks.appspot.com/github.com/bboreham/talks/camp.slide#10

Looks like weavendns is about 30% faster than skydns.  It wasn't a massively scientific test apparently.

[2015-09-09 09:27] hurf opened #13718 "Add an example which contains request constraint for LimitRange"
Since resource QoS is implemented, limitrange also supports request constraint, we can add an example for that.

[2015-09-09 09:27] hurf commented on #13718
@HaiyangDING

[2015-09-09 09:42] sdminonne commented on #13703
@eulerzgy  I'm trying to reproduce the issue on the HEAD. Let you know asap.

[2015-09-09 09:55] rhcarvalho opened #13719 "Consistent syntax in commented examples"
About a month ago #12593 was merged. In the issue (#12426) that it was meant to solve, we had an example like this:
[code]

Becoming:
[code]

I can imagine copy-pasting that as is into a terminal, or into a file to run it as a bash script later.
However, I think except for [one file](https://github.com/kubernetes/kubernetes/pull/12593/files#diff-c59558fac792ecdd67a419318d11ae92), all the examples

[2015-09-09 10:05] feihujiang opened #13721 "APIServer should return error status when receive error status from other location"
For example, when I use "kubectl logs -p counter ", APIServer actually get logs from URL "https://127.0.0.1:10250/containerLogs/default/counter/count?previous=true". If the location returns http.StatusInternalServerError, APIServer returns 200 OK now. I think APIServer should return error status too.

[2015-09-09 10:30] joshm1 commented on #13385
The minion that ran out of file handles didn't have any running pods on it
at the time of seeing that error. It's using a the AWS auto scaling group
on Ubuntu created by kube-up.

On Tuesday, September 8, 2015, Daniel Smith <notifications@github.com>
wrote:

[2015-09-09 11:30] gmarek commented on #13398
assigning @yujuhong as she's reviewing corresponding PR.

[2015-09-09 11:35] gmarek commented on #13418
@yujuhong please mark as help-wanted or reassign.

[2015-09-09 11:40] gmarek commented on #13464
@lavalamp - can you provide more information?

[2015-09-09 11:41] gmarek commented on #13470
@apeeyush - did that answered your question?
@bgrant0607, @davidopp - do we plan on having some "real" doc about it?

[2015-09-09 11:44] gmarek commented on #13488
@bgrant0607 have we decided that we don't want to do this?

[2015-09-09 11:48] gmarek commented on #13535
cc @brendandburns

[2015-09-09 11:52] gmarek commented on #13573
cc @dchen1107 @yujuhong

[2015-09-09 11:53] gmarek commented on #13583
cc @smarterclayton

[2015-09-09 11:54] gmarek commented on #13579
cc @bgrant0607

[2015-09-09 12:03] gmarek commented on #13588
@yifan-gu - as it's CoreOS stuff, can you help with this?

[2015-09-09 12:08] gmarek commented on #13598
The comment for --insecure-access flag says:
[code]

Do we want to do something with this? @thockin

[2015-09-09 12:09] gmarek commented on #13603
Fixed by  #13672 according ot @jayunit100

[2015-09-09 12:09] #13603 closed

[2015-09-09 12:12] gmarek commented on #13647
@discordianfish can you write this PR?

[2015-09-09 12:12] #13653 closed

[2015-09-09 12:13] #13654 closed

[2015-09-09 12:13] #13657 closed

[2015-09-09 12:15] gmarek commented on #13673
cc @dchen1107 @yujuhong

[2015-09-09 12:16] onorua commented on #13511
Yes, good point:
[code]
so it means the problem on glusterfs actually, will raise it there.
Maybe we could try to remount volumes in case of the issue when underlying layer is failed?

[2015-09-09 12:16] gmarek commented on #13676
cc @a-robinson

[2015-09-09 12:20] gmarek commented on #13677
By all means, please do send us a PR.

[2015-09-09 12:20] #13677 closed

[2015-09-09 12:25] gmarek commented on #13685
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-09-09 12:25] #13685 closed

[2015-09-09 12:27] gmarek commented on #13694
cc @quinton-hoole

[2015-09-09 12:28] gmarek commented on #13699
@bgrant0607

[2015-09-09 12:30] gmarek commented on #13709
cc @thockin @dchen1107

[2015-09-09 12:34] kshelton commented on #13035
As soon as I get the rest of my infrastructure deployed I'll go back and update the code as discussed.  The hack works for my immediate concern right now, so I need to get this stuff out there before I have time to fix it.  I'll make a PR as soon as I get it done

[2015-09-09 13:05] rootfs commented on #13511
I have a feeling that retry unmounting won't win much success but could introduce more latency. I suspect your gluster version is not updated to latest (3.7). You probably will get a better chance if you can afford a upgrade.

[2015-09-09 13:09] hurf commented on #13239
@kubernetes/goog-csi

[2015-09-09 13:13] timothysc commented on #3338
I'm not advocating that...

[2015-09-09 13:14] apeeyush commented on #13470
@gmarek: No, it did not. The `swagger-ui` does not contain documentation for kublet API (for example `/attach`, `/pods`, `runningpods` etc.) and how to access them.

[2015-09-09 13:15] steffenmllr commented on #1319
@drocsid I'm also looking for a way to run the docker registry on a bare metal / vagrant setup - did you fin a solution for this ?

[2015-09-09 13:21] gmarek commented on #13713
cc @thockin

[2015-09-09 13:23] gmarek commented on #13719
cc @bgrant0607

[2015-09-09 13:25] fgrzadkowski opened #13731 "Implement kubemark"
As proposed in #12530 we want to implement kubemark - a tool to run performance/scalability tests without using physical machines (details in the #12530). This issue is am umbrella bug to track what needs to be done.
- [x] Initial implementation - simple kubelet (similar to the one from integration tests) runs as pod in kubernetes cluster; master runs on a separate VM
- [x] Provide scripts that wi

[2015-09-09 13:31] smarterclayton commented on #13583
This was implemented as part of graceful deletion.  Docs are still in progress https://github.com/kubernetes/kubernetes/pull/12747

Set pod `spec.terminationGracePeriodSeconds`

[2015-09-09 13:31] #13583 closed

[2015-09-09 13:34] wojtek-t commented on #13548
Thanks for looking into it @quinton-hoole and @ixdy !

Is it easy to increase the retry count? Can we do it (I agree that 5 doesn't seem low, but we still observe errors).

Did you talk to GCS people? I wouldn't expect the number of errors to be such big...

[2015-09-09 13:38] EmmEff commented on #9903
FWIW, I just had the same issue on Atomic:

    [fedora@master-01 ~]$ kubectl version
    Client Version: version.Info{Major:"1", Minor:"1+", GitVersion:"v1.1.0-alpha.0.1588+e44c8e6661c931", GitCommit:"e44c8e6661c931f7fd434911b0d3bca140e1df3a", GitTreeState:"clean"}
    Server Version: version.Info{Major:"1", Minor:"1+", GitVersion:"v1.1.0-alpha.0.1588+e44c8e6661c931", GitCommit:"e44c8e6661c931f7f

[2015-09-09 14:03] zhengguoyong opened #13735 "local-cluster-up.sh should need to be executed from $KUBE_ROOT"
when i execute the script local-up-cluster.sh . it shows :  ./../hack/lib/init.sh no such file.
then i saw the script, i found when execute "source "${KUBE_ROOT}/hack/lib/init.sh"", the pwd is kubernetes, but the var KUBE_ROOT is "./..", so it cann't find the init.sh script,

please check it, and i will repair and merge as soon.

[2015-09-09 14:18] mattma commented on #10265
@thockin

It is the Master Node Public IP address. From the node, I try to curl API server on Master node secure port 6443. I tried the same on `10.0.2.15`, but I got the `connection refused` error. I think that I should get `Unauthorized ` output so it means proxy could talk to API server securely.

Then I logged in from one of the node in my cluster.

[code]

It seems that I could ping both `10.

[2015-09-09 14:38] quinton-hoole commented on #13694
We already use a blacklist, not a whitelist.  Look in e2e.sh for GCE_PARALLEL_FLAKY etc.

[2015-09-09 14:40] shuoli84 commented on #13709
Sorry, I said nothing interesting in logs, I was WRONG. From the log, I can see one ERROR "too many open files error", and I checked the ulimit, it is 1024, which should already be fixed in kube-proxy start up script.

Is this expected behaviour in that situation?

[2015-09-09 15:12] finn0013 commented on #13685
Is this expected behavior? I'm filing an issue to track that the node goes down when I don't feel it should.

I asked a tangental question that I'd be happy to move to StackOverflow.

[2015-09-09 15:13] theo01 commented on #12273
+1

[2015-09-09 15:23] finn0013 commented on #13685
Moving my question to SO and removed from this ticket.

What remains is an issue with the Node going down with invalid command arguments.

[2015-09-09 15:33] thockin commented on #13709
What kubernetes version?  Can you show me the whole log line with this
error?

On Wed, Sep 9, 2015 at 7:40 AM, shuo <notifications@github.com> wrote:

[2015-09-09 15:45] thockin commented on #10265
Good

Bad

Sorry, you have to run this as root.

What flags is your master running with.  I think it's listening on the
wrong port or something.  Here's mine:

/usr/local/bin/kube-apiserver
    --address=127.0.0.1
    --etcd-servers=http://127.0.0.1:4001
    --cloud-provider=gce
    --admission-control=NamespaceLifecycle,NamespaceExists,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota

[2015-09-09 15:48] liggitt commented on #13598
You can disable with `--insecure-access=0`, but it breaks admission controllers (at least). At minimum, need to plumb client config for the admission controllers to use (similar to the way you tell the controller manager what client config to use for the controllers)

[2015-09-09 15:50] ncdc opened #13742 "Update to require Docker >= 1.7"
We should update the code base to require at least Docker 1.7. There are new features added to 1.7 that make CPU overcommit possible, and there is at least 1 bug with exec in 1.6.2 (kubectl exec -i <pod> bash, then type exit -> hangs) that is fixed in 1.7+.

@smarterclayton @derekwaynecarr @dchen1107 @bgrant0607 @thockin @vishh @brendandburns @kubernetes/rh-cluster-infra @kubernetes/rh-platform-ma

[2015-09-09 15:57] thockin commented on #13742
I don't think we have it written down, but we have a de facto "three
dockers" rule.  We might recommend 1.7.1+ stringly, but we have to work
with 1.6 (and 1.5 until we have 1.8 qual'ed)

On Wed, Sep 9, 2015 at 8:51 AM, Andy Goldstein <notifications@github.com>
wrote:

[2015-09-09 15:59] thockin commented on #13598
It would be great to turn this off, but it's outside my area of expertise :)

On Wed, Sep 9, 2015 at 5:08 AM, Marek Grabowski <notifications@github.com>
wrote:

[2015-09-09 16:00] liggitt commented on #13742
If we don't drop support for 1.6.2, we should at least document known issues (like `docker exec` hanging in 1.6.2) in case people hit it

[2015-09-09 16:01] yifan-gu commented on #13588
subscribe

[2015-09-09 16:03] smarterclayton opened #13743 "Can't watch or list objects with a given name across all namespaces"
`generic/etcd` assumes MatchesSingle is that "metadata.name" is set, but if namespace is not set, matches single should be false.  It should be possible to call `GET /api/v1/pods?fields=metadata%2Dname`

One possible fix is to assume that an error in List and Watch in generic/etcd on KeyFunc means that we should not continue down the match single path.

@wojtek-t @lavalamp

[2015-09-09 16:13] thockin commented on #13742
We should have a markdown file detailing what docker versions are known
compatible and what issues exist.  Got 20 minutes to start that?

The fun comes with release branches - do we support 1.8 on v1.0.x?  1.9?
 1.10?

@dchen1107

On Wed, Sep 9, 2015 at 9:00 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2015-09-09 16:15] aaronlevy commented on #13696
I was looking for a way to specify the CA that the kubelet would use to validate the apiserver cert. The answer to that was ultimately specifying a CA in a kubeconfig. When going through kubelet cli flags, the only mention of a CA was the --tls-cert-file, so I made the (incorrect) assumption that it was being used for validating outbound connections.

But your explanation makes sense as to its act

[2015-09-09 16:15] #13696 closed

[2015-09-09 16:17] thockin commented on #9903
Weird - if anyone can repro this I want to know.

[2015-09-09 16:19] thockin commented on #13713
shotgun BANG
@mikedanese @liggitt @erictune

[2015-09-09 16:21] thockin commented on #1319
If you change the specification to not use a persistentVolumeClaim and
instead use emptyDir{} - is that sufficient?

On Wed, Sep 9, 2015 at 6:16 AM, Steffen Müller <notifications@github.com>
wrote:

[2015-09-09 16:26] thockin commented on #7470
If you guys want to pony up some time, I'm happy to guide - I have no
religious affiliation to any particular DNS solution.  One thing worth
noting is that SkyDNS has the ability to provide backends that are not
etcd, so we can slurp data straight from our API (once we get around to
using this :)

On Wed, Sep 9, 2015 at 1:36 AM, Tom Wilkie <notifications@github.com> wrote:

[2015-09-09 16:28] liggitt commented on #13713
Should make sure a non-empty cert and key were both provided prior to starting the server at these two locations, and log a clearer error:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L519
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/server.go#L72

[2015-09-09 16:34] ihmccreery commented on #13694
Woops, could have sworn I saw a whitelist yesterday.  Well, I leave it to you, @quinton-hoole, to say whether this needs to happen.  I opened this per my comment & a :+1: in #3132.

[2015-09-09 16:41] smarterclayton commented on #13743
Fixing...

[2015-09-09 16:43] vishh commented on #13385
Detecting total number of fds open should be possible. In addition to that
we should impose fd limits on containers to precent leaks. #3595

On Wed, Sep 9, 2015 at 3:31 AM, Josh McDade <notifications@github.com>
wrote:

[2015-09-09 16:46] caesarxuchao commented on #13735
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-09-09 16:48] caesarxuchao commented on #13735
From which directory did you run the local-cluster-up.sh script? I think you need to run it from $KUBE_ROOT.

[2015-09-09 16:53] smarterclayton opened #13745 "make clean now fails on Macs when docker isn't installed"
make clean used to work on Mac when docker is not available, now it exits early without deleting _output.  It should clean up content, and if docker isn't available, shouldn't try to clean docker images.

[2015-09-09 16:56] kargakis commented on #13719
@kubernetes/kubectl

[2015-09-09 16:56] quinton-hoole commented on #13577
@a-robinson @ddysher one other problem with basing load balancer names on clusterName+namespace+serviceName is that the resulting name often breaks the naming restrictions of the underlying cloud provider (most notably name length restrictions, but there are other incompatibilities between allowable service names vs allowable load balancer names.  Appending a "hash" to the end of the name further

[2015-09-09 16:58] jayunit100 commented on #11808
If someone is looking to "get their feet wet" with kubernetes this is a great starter issue.  So, I'll outline the steps.

- First, run the prometheus stuff (kubernetes/contrib/prometheus), and confirm that promdash and prometheus are working.
- Then, look at the way other dockerfiles are published (i.e. `nettest`) from kubernetes.
- Move the prometheus container Dockerfiles into the same director

[2015-09-09 17:05] a-robinson commented on #13577
@ddysher we definitely cannot just break things, and @quinton-hoole's warning about name length is important as well.

[2015-09-09 17:10] smarterclayton opened #13748 "Allow a service to resolve to a CNAME from DNS"
A service that is represented by a real internet service is best resolved via DNS from internal name to external CNAME.  This feels like a new service type, but the use case would be:

I have an external service "oracle" with dns name "oracle-1.testdev.mycompany.com".  I don't want to have to keep DNS in sync.  I don't want to create a different signing cert.  I just want "oracle.mynamespace.svc.c

[2015-09-09 17:14] smarterclayton commented on #13748
Similar to #13358, but I think this is the more desirable way to do an external integration.

Works best when we replace *_SERVICE_HOST env with DNS name, similar to https://github.com/kubernetes/kubernetes/issues/9983

[2015-09-09 17:17] bgrant0607 commented on #13038
I'm inclined to use a GET query parameter for export. That's what we'd also use for the more general field filtering #1459.

[2015-09-09 17:19] yujuhong commented on #13418
@gmarek, my understanding is that I shouldn't assign the issue to myself if I don't plan to work on it anytime soon. Is it a new requirement to add help-wanted to every issue? :)

[2015-09-09 17:34] lavalamp commented on #12002
Dawn and I talked about this and came up with an alternative approach, since it's very tricky to figure out appropriate values for these limits. Instead of putting a limit for apiserver & etcd, the plan is to (optionally) add a parent cgroup, to limit the total memory consumption of all kubelet-spawned containers.

[2015-09-09 17:37] yujuhong opened #13749 "Future docker upgrade for different OS distros/versions"
I believe AWS, GCE, bare-metal and vagrant rely on our [salt file](https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/docker/init.sls) to ensure docker installation. Non-RedHat distribution downloads and install a [deb package](https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/docker/init.sls#L102). The deb package used to (<=1.7.1) contain a static

[2015-09-09 17:48] dchen1107 commented on #13742
I talked to @erictune on publishing a validation metrics: Kubernetes release version with recommended docker version(s) (Engine version + API version) + known issues a while back. For example, 1.0 release, we only validate it with 1.6.2. For 1.1, we validate it against 1.7.1 and 1.8+. The metrics should include confirming tests.

@thockin At this moment, I am not sure about a de facto "three docke

[2015-09-09 17:52] lavalamp commented on #13631
@thockin Did you mean "never lossy"?

I agree that it makes sense to round (or truncate?) memory so that it is an integer number of allocatable chunks, not just to the nearest byte. I suppose that number could in theory depend on the node, though, in which case we should perhaps not round and just report the number the node decides was meant?

[2015-09-09 18:04] yifan-gu commented on #13588
cc @crawford @kelseyhightower who are more familiar with azure/coreos

[2015-09-09 18:09] yujuhong commented on #13742
We used to have one deb file (which contains a static docker binary) for all non-RedHat distributions. This won't work anymore because docker switched to releasing dynamic binaries for each OS distro/version. I filed an #13749 for this. We could argue that for bare-metal and vagrant cases, users need to ensure that a supported docker version is installed. However, iiuc, we will still need to rely

[2015-09-09 18:10] quinton-hoole commented on #13694
Yup, it's a whitelist.
https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/e2e.sh#L117
https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/e2e.sh#L130
https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/e2e.sh#L245

As for auditing the backlist, that's something that I, and a few others, do periodically.  I don't think that we need an explicit ongoing issu

[2015-09-09 18:10] crawford commented on #13588
CoreOS does not have a password for the core or root account by default. When you create the Azure instance, you must provide the API with a password or SSH key.

[2015-09-09 18:10] #13694 closed

[2015-09-09 18:17] smarterclayton commented on #13748
Implications:

* Does a service that wants to do this need a cluster IP?
  * Only if they load balance?
    * Why would they not load balance at the remote name instead?
    * Let's not introduce a new layer of DNS caching here?
* If we don't need a cluster IP, then this is like a headless service
  * Except that headless services always have A records - CNAME is contradictory to that
* We don't w

[2015-09-09 18:18] smarterclayton commented on #13748
This is a more likely integration scenario than https://github.com/kubernetes/kubernetes/pull/11838.

@kubernetes/goog-cluster

[2015-09-09 18:24] yujuhong commented on #12506
@thockin, do you know who has the permission to rename the bucket?

[2015-09-09 18:28] saad-ali opened #13751 "GCE PD Rest Operations should poll operations to verify successful completion"
GCE PD Volume attach/detach code issues [`attachDisk`](https://cloud.google.com/compute/docs/reference/latest/instances/attachDisk) and [`detachDisk`](https://cloud.google.com/compute/docs/reference/latest/instances/detachDisk) REST calls.

A HTTP 200 response to these calls simply indicates that the operation was successfully queued for asynchronous execution.

The GCE PD code currently assumes t

[2015-09-09 18:35] saad-ali opened #13753 "Document how to write a new volume plugin"
Add documentation showing how to write a new volume plugin. Document should how to create a sample plugin, and capture gotchas to watch out for.

[2015-09-09 18:38] dchen1107 commented on #12506
We want to test docker 1.8.1 for 1.1 release. Let me quickly fix this.

[2015-09-09 18:39] quinton-hoole commented on #13062
There is still good discussion in this issue, not related to the title ("Label and move slow tests..."), and which still needs to be actioned.  Re-opening, until these have all been closed out or moved to separate issues.

[2015-09-09 19:32] gizmonicus commented on #13125
In case anyone finds this issue and wants a workaround; I used keepalived to create a floating IP address for my gluster endpoints and that solved the HA problem. It obviously wouldn't mitigate a mount storm, but I don't think 2 containers will be a problem.

[2015-09-09 19:35] davidopp commented on #12041
What does "both of its thresholds" refer to?

It seems like a better solution to this problem is to do disk space scheduling and enforce disk limits, so the machine doesn't run out of disk. But I guess we want to fix this problem sooner than that?

[2015-09-09 19:43] yujuhong commented on #13573
I am not sure this is a bug since our v1 API doesn't support VolumeMounts update, see [this line](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L951).

@dchen1107, do we want to support this?

[2015-09-09 19:46] gmarek commented on #13418
I'm just seeing a lot of inactive 'investigate/consider/discuss' issues laying dormant. I think we should do something with this.

[2015-09-09 19:48] yujuhong commented on #13573
Similarly, we support very limited update on the containers. Only the image of a container can be updated. All other changes to the containers will fail at the validation at the apiserver.
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/validation.go#L1083

We should work out whether we want to support this at the API level before attempting to modify kubelet.

[2015-09-09 20:17] quinton-hoole commented on #13056
@erulabs Thanks for your hard-won feedback. Your experience very much mirrors mine in the sense that the conceptually simple "Multi-AZ Kubernetes" in practise generates a lot of complexity, both in the Kubernetes API, as well as in the underlying implementation.  I tried to capture most of that in the [Kubernetes Cluster Federation](https://github.com/kubernetes/kubernetes/blob/master/docs/proposa

[2015-09-09 20:22] yujuhong commented on #12214
Update:
 - I uploaded a PR to upgrade docker to 1.8.1 (for debian/wheezy) in #13752
 - I filed #13749 so that we can discuss about future upgrades now that docker release dynamic binaries in deb

[2015-09-09 20:25] quinton-hoole commented on #13056
Also related: https://github.com/kubernetes/contrib/tree/master/service-loadbalancer#cross-cluster-loadbalancing

[2015-09-09 20:36] caseydavenport opened #13760 "Kubelet supports dropping in network plugins at runtime."
Currently, if a network plugin is declared using the `--network-plugin=` flag, and the plugin is not installed, the Kubelet will fail to start.

This makes bootstrapping a node via the Kubelet somewhat trickier, since the network plugin needs to be installed before the Kubelet is started.

One way you might want to deploy a network plugin is to use a per-node manifest file which installs the plugi

[2015-09-09 20:41] JanetKuo commented on #11262
@arun-gupta Did you get this from running `cluster/kube-up.sh` on v1.0.5?

[2015-09-09 20:43] arun-gupta commented on #11262
@JanetKuo yes

[2015-09-09 20:45] JanetKuo opened #13761 "Vagrant setup - error: couldn't read version from server; connection reset by peer"
@arun-gupta mentioned in https://github.com/kubernetes/kubernetes/issues/11262#issuecomment-137527756 that he got the following error from running `cluster/kube-up.sh` on `v1.0.5`.
[code]

[2015-09-09 20:46] JanetKuo commented on #11262
OK I'm opening a separate issue for this. #13761

[2015-09-09 20:49] #12735 closed

[2015-09-09 20:50] bgrant0607 commented on #13629
@JeanMertz This overlaps heavily with another issue you filed -- #8827.

The deployment API, which I believe is what you want, is in progress. Proposal is here:
https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/deployment.md

As @jlowdermilk said, names will not be made updatable. Please see https://github.com/kubernetes/kubernetes/blob/master/docs/design/identifiers.md#general-d

[2015-09-09 20:50] #13629 closed

[2015-09-09 20:53] bgrant0607 commented on #13579
As discussed in email, we can either fork the struct definition or add a tag and strip out the field where it's not needed.

[2015-09-09 20:54] bgrant0607 commented on #13699
cc @sdminonne

[2015-09-09 20:55] liggitt commented on #13673
Any other opinions on the client-issued connectionID header approach to correlating data/error stream pairs over a single portforward connection (with fallback to StreamID checking to support current clients)? If not, @ncdc is your branch far enough along to open a WIP PR?

[2015-09-09 20:55] bgrant0607 commented on #13699
We support the set-based selectors for filtering GET/watch requests.

We support equality-based selectors, represented as maps, for API resources, such as ReplicationController, Service, and Pod nodeSelector.

[2015-09-09 20:57] ncdc commented on #13673
My current branch has some lingering debugging print statements that ultimately need to be removed, I don't have the StreamID fallback coded yet, and I'm sure the unit tests need updating. I have something else that's a higher priority at the moment, so I can either hand my branch off to someone else or come back to it once I've finished the other thing I'm currently working on.

[2015-09-09 20:58] krousey opened #13763 "ETCD Prefix should not default to "/""
The prefix should probably default to the empty string or something like "k8s.io".

When running `go test` in the `pkg/master`, third party objects are stored to `//ThirdPartyResourceData/company.com/foos/default/test` but the double slash is eaten on the HTTP Get:

[code]

[2015-09-09 20:58] lavalamp commented on #13763
"registry" would also be a sane default.

[2015-09-09 20:59] krousey commented on #13763
Possibly even validate the the specified prefix doesn't end in a slash too.

[2015-09-09 21:02] bgrant0607 commented on #13488
@gmarek Nothing, for now. Too many things are underway already.

[2015-09-09 21:07] caesarxuchao commented on #13763
+1, I encountered this problem last night.

[2015-09-09 21:08] jefferai commented on #1957
@thockin @bgrant0607 @lavalamp Thanks all for your replies and the discussion. I think we're all on the same page -- I'm not expecting anyone from Kubernetes to go and write a storage driver and I understand why it's low priority and definitely understand having a zillion feature requests to deal with. I just hope that you'll keep some of the food for thought around in terms of enterprise-y type n

[2015-09-09 21:08] dchen1107 commented on #13742
@liggitt forgot to mention above that the memory leakage issue caused by docker exec is still not completely fixed in docker 1.8 even: (https://github.com/docker/docker/issues/12899)

[2015-09-09 21:09] bgrant0607 commented on #13470
No immediate plans, no.

If I understand correctly, this is about the internal implementation rather than external APIs (which is covered by #1963 and #2098).

If so, yes, we should document our code better. I don't know when we'll get to it, though.

What are you specifically trying to do?

cc @kubernetes/goog-node

[2015-09-09 21:09] ncdc commented on #13742
@dchen1107 FYI the exec issue I was referring to originally is that `docker exec -i <container> bash' followed by `exit<CR>` hangs. It affects `kubectl exec` as well. This is fixed in 1.7+.

[2015-09-09 21:11] caesarxuchao commented on #13761
Could you paste other logs like kube-apiserver?

[2015-09-09 21:21] krousey opened #13764 "pkg/probe/http fails with Go 1.5 or 1.4"
[code]

[2015-09-09 21:24] krousey commented on #13764
Looks maybe like a fragile test relying on certain error messages.

[2015-09-09 21:55] thockin commented on #13742
It's not clear to me - are we saying that docker 1.8 is OK for kube v1.0
builds?  Are we committing to validating new dockers?  Are we going to roll
containerVM with new dockers?

On Wed, Sep 9, 2015 at 10:48 AM, Dawn Chen <notifications@github.com> wrote:

[2015-09-09 21:58] #11912 closed

[2015-09-09 21:59] kamalmarhubi commented on #13573
Ah, I see that this is indeed blocked if submitted as an update to a cluster. The potentially undesirable behaviour shows up with `--config` on the kubelet.

[2015-09-09 22:10] brendandburns opened #13768 "Add a client/server implementation of the container runtime"
Currently, any container runtime has to be linked into the kubelet.  This makes experimentation difficult, and prevents users from landing an alternate container runtime without landing code in core kubernetes.

To facilitate experimentation and to enable user choice, we should add a client/server implementation of the container runtime interface.

This implementation will simply encode the reques

[2015-09-09 22:11] yujuhong commented on #13573
I see, that makes sense. Kubelet validates pods from the file source, but it doesn't verify whether the "update" itself is valid. That's something we might want to add.
I will change the title to match that. Feel free to open a new feature request if you think in-place container update should be supported :)

[2015-09-09 22:12] smarterclayton commented on #13768
@kubernetes/rh-cluster-infra

[2015-09-09 22:13] onlyjob opened #13769 "please support InfluxDB v0.9"
Please support current release of InfluxDB. [InfluxDB promises to be good](https://github.com/influxdb/influxdb#an-open-source-distributed-time-series-database):

[2015-09-09 22:14] brendandburns commented on #13768
@feiskyer

[2015-09-09 22:17] onlyjob opened #13770 "please support AWS-SDK v0.9"
Current version of [AWS-SDK](https://github.com/aws/aws-sdk-go/releases) is v.0.9.5 while Kubernetes supports only v0.6. Please update to current version of AWS-SDK.

[2015-09-09 22:29] lavalamp opened #13772 "API Package structure"
`pkg/expapi/v1` needs to be renamed to `experimental/v1`. But where to put it?
- pkg/api/experimental/v1
- pkg/api/groups/experimental/v1
- pkg/apigroups/experimental/v1

Some of these might imply moving our current api types.

I don't think it's a good idea to put our api groups loose under pkg/.

[2015-09-09 22:29] lavalamp commented on #13772
@bgrant0607 @caesarxuchao

[2015-09-09 22:33] bgrant0607 commented on #13772
pkg/apis/experimental/v1alpha1
pkg/apis/api/

[2015-09-09 22:36] bgrant0607 commented on #13772
and for "internal"
pkg/apis/experimental/unserialized
pkg/apis/api/unserialized

sadly, we can't use "internal"

[2015-09-09 22:36] lavalamp commented on #13772
OK, that sounds good to me.

[2015-09-09 22:37] lavalamp commented on #13772
We'll leave global types where they are. (i.e., pkg/api/resource, pkg/api/unversioned etc.)

[2015-09-09 22:38] bgrant0607 commented on #13772
Yes, that stuff can move later, when we clean up apiserver-related packages: #https://github.com/kubernetes/kubernetes/issues/4851#issuecomment-132052036, #2742

[2015-09-09 22:42] bgrant0607 commented on #13768
cc @thockin re. consistency and interaction with network and storage plugins

[2015-09-09 23:01] roberthbailey opened #13774 "Implement static object count limits"
/cc @erictune

Having a limit on the total number of pods seems useful. This number should be quite a bit higher than `max-recommended-nodes * max-recommended-pods-per-node`, but low enough that we hit it before we completely run out of memory/disk on master.

We would like to have a static limit that applies across all namespaces and isn't reconfigurable by someone with cluster API access. The ea

[2015-09-09 23:03] vishh commented on #13768
We have two kinds of runtime abstractions in kubelet as of now - docker which operates at the container level, and rocket which operates at the pod level. Are we planning to expose both pod and container runtime plugins?

[2015-09-09 23:04] #13714 closed

[2015-09-09 23:07] bgrant0607 commented on #4855
A notion of minor API versions would facilitate bundling of API versions across groups, as discussed here: https://github.com/kubernetes/kubernetes/pull/12951/files#r38804675

[2015-09-09 23:11] dchen1107 commented on #13742
@ncdc Will make sure that issue is documented.

@thockin Today we are saying something like this for kube v1.0:

1) We validate / qualify docker 1.6.2 against Kubernetes 1.0 release: publish testing results and document the known issues. This is our recommend version for running this release. You can see all endorsed cloud providers (gce / gke / aws) are running 1.6.2 by default for 1.0 release.
2

[2015-09-09 23:13] yujuhong commented on #13768
I think we need to redefine the abstraction (container runtime interface) if we are going to expose it. We may need to ask `rkt` to expose a container-level api to work with kubelet, since most container runtimes operate at that level. That said, kubelet still relies on the container runtime (docker or rkt) to save pod level information (e.g., what pod a container belongs to), so a container runti

[2015-09-09 23:25] smarterclayton commented on #13742
Red Hat support for OpenShift and Kube on RHEL is slightly ahead - we
certify on the RH version of Docker 1.7.1 right now and will probably bump
to 1.8.x prior to RHEL 7.2 (which will be roughly congruous to Kube 1.1 and
OpenShift 3.1).  We will probably drop Docker 1.6.2 support at this point
because of the exec bug, and move our customers up.

I think we definitely need to grow the matrix for bu

[2015-09-09 23:27] smarterclayton commented on #4855
I would like to consider schema versions for individual objects or groups
to allow controlling defaulting/conversion behavior from clients more
precisely.  A lot of our behavior challenges is back compat - smaller
increments of version might be possible to do more precisely from our
clients and server.  Things like precedence order of old fields.

On Sep 9, 2015, at 7:07 PM, Brian Grant <notificat

[2015-09-09 23:32] jvalencia commented on #13056
From my perspective, I would rather run a single zone AWS cluster, but have multiple of them.  Data processing through network transactions on AWS is much, much faster if you stay in the same zone.  I would rather cut out a cluster from production traffic than deal with the increased architecture overhead.

Hence managing federated clusters is preferable.

[2015-09-09 23:34] bprashanth commented on #561
@pires yeah the real challenge is providing a consistent interface that allows multiple loadbalancers to co-exist in the same cluster. https://github.com/kubernetes/kubernetes/pull/12827/files talks about our efforts in this direction.

@JeanMertz yes. See same TLS bits on same proposal.

[2015-09-09 23:36] alexanderguzhva commented on #13761
I see this message all the time in 1.1.0-alpha, but everything works as a charm

[2015-09-09 23:41] dchen1107 commented on #13742
@smarterclayton sounds like for each OpenShift release, there are at least two docker versions. Am I interpreting your statement above correctly?

Yes, we need to grow the metrics, but at which level? horizontal (cluster level)? or vertical (node level)?

[2015-09-09 23:44] philips commented on #13760
The use case that Casey and I talked about for this: a pod launched by a kubelet via an on-disk manifest can place a network plugin on disk and then have the kubelet use that network plugin going forward. It is a bit of a bootstrap loop.

[2015-09-09 23:47] dchen1107 commented on #13760
cc/ @kubernetes/goog-cluster

[2015-09-09 23:50] quinton-hoole commented on #13548
No, the retry count is unfortunately not configurable.  I have not yet spoke  to the GCS people, but plan to.

[2015-09-09 23:51] lavalamp opened #13775 "Make generic: Conversion & Deep copy generators"
It's currently impossible to use the generators on arbitrary go packages, even if the packages are arranged correctly. This makes it really difficult to generically deal with different api groups.

[2015-09-09 23:52] quinton-hoole commented on #13548
@wojtek-t ^

[2015-09-09 23:54] lavalamp commented on #13775
FYI @wojtek-t

[2015-09-09 23:59] brendandburns commented on #13441
Yeah, I would rather get to steady state green without flakes as a first step.  merge bot is serial by design.  We should use this as a forcing function to make our test infrastructure better.

[2015-09-10 00:01] brendandburns commented on #13361
We just do a straight git clone.  Is this a difference in the git repo?  I don't think we want to manipulate permissions on top of git...

[2015-09-10 00:03] brendandburns commented on #10858
Node issue so out to @dchen1107 for triage.

[2015-09-10 00:15] brendandburns opened #13776 "Add a kubectl cp ... command"
Containers are supposed to be immutable, I know, but sometimes copy is useful...

Syntax:

[code]

@smarterclayton @bgrant0607 @kubernetes/kubectl

[2015-09-10 00:15] eparis commented on #13742
Depends who you talk to in Red Hat if we have 1 or 2 "supported" versions. We are generally asking our customers to stay on a rather aggressive docker update schedule.

[2015-09-10 00:27] smarterclayton commented on #13776
Is that pod to pod copy without an intermediate, or passing back to the client?  We'd need to identify pod -> container specificity

[2015-09-10 00:28] bgrant0607 commented on #13776
I agree this would be useful for debugging.

Please ensure pod/container syntax is consistent with exec, log, etc.

As @smarterclayton pointed out, you need to identify the pod.

How do you imagine implementing this?

cc @ncdc @vishh

[2015-09-10 00:30] bgrant0607 commented on #13776
And we should ensure it handles volumes properly. Not sure if docker's cp does yet. Almost certainly it won't work for terminated containers.

[2015-09-10 00:32] smarterclayton commented on #13776
I should note we're going to do a client side command for rsync that does
increments transfer over exec, and rely on the client local rsync for bulk
transfers.  This is a good general purpose tool to have just because you
don't need anything in the remote container (although eventually I'd like
to be able to inject a shell into any container via a busybox like http one
off server proc)

On Sep 9,

[2015-09-10 00:47] amygdala commented on #13361
Hmm. If I do a 'git clone' of the same repo locally, the created directory has 755 permissions, even if the test parent directory has 750 permissions.  I don't know what the difference is, but the direct docker mount of a dir with the same permissions into the same path in the container does end up with 755 permissions.

However, as you say, it doesn't sound like a good idea to mess arbitrarily wi

[2015-09-10 01:04] feiskyer commented on #13768
I think we should provides both pod-level and container-level api to work with kubelet. As you say, container runtime must be aware of the existence of pod, so apis like creating and deleting pod should be pod-level. But other apis like exec/logs/attach should be container-level since they operates directly on container.

[2015-09-10 01:07] eulerzgy commented on #13735
the script is in the $KUBE_ROOT/hack directory,  but we should run it on the $KUBE_ROOT directory, i don't think it is good for common users.
@caesarxuchao

Best regards!

[2015-09-10 01:07] bgrant0607 commented on #13774
cc @davidopp @mikedanese @derekwaynecarr

[2015-09-10 01:20] caesarxuchao commented on #13735
@eulerzgy. I found it a little counter-intuitive when I first started on k8s as well. Then I found all k8s scripts need to be run from $KUBE_ROOT, so I think it's consistent.

[2015-09-10 01:33] eulerzgy commented on #13735
@caesarxuchao
i don't think all k8s scripts need to be run from $KUBE_ROOT, just for example:/kube-up.sh , it run in the $KUBE_ROOT\cluster  directory.

Best regards!

[2015-09-10 01:54] yujuhong commented on #13768
The upside of keeping a container-level api is that we can keep the majority of the logic in kubelet, which would reduce code duplication and maintenance overhead.
I think we can maybe get away by passing pod UID & name as arguments when querying the runtime, if necessary. I need to think more about it.

/cc @yifan-gu for rkt.

[2015-09-10 01:58] liggitt commented on #13742
Did the secrets mounting issue on Docker 1.7 ever get resolved?

[2015-09-10 02:25] feiskyer commented on #13768
@yujuhong Rkt and hyper ( at #13079 ) are both operating at pod-level, their concept is consistent with kubernetes' pod. I think it's a good idea to reuse their pod apis in kubernetes, not split them into container-level.

[2015-09-10 03:06] mikedanese commented on #13097
We should fix this before v1.1

[2015-09-10 03:12] brendandburns commented on #13768
We currently have an exiting interface [`Runtime`](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/container/runtime.go#L53)

that both Docker and RKT implement.

I'm suggesting a network client/server version of that interface.

We can refactor/rewrite to our hearts content, but those refactors will just refactor the client/server interface also.

--brendan

[2015-09-10 04:00] brendandburns commented on #13776
Yes, will def. make it match `exec/attach/logs/...`

@bgrant0607 I was thinking of implementing it in terms of exec, e.g.

`kubectl cp $local-file $remote-file` just looks like:

`cat $local-file | kubectl exec bash -c "cat > $remote-file"`

And

`kubectl cp $remote-file $local-file` is
`kubectl exec cat $remote-file > $local-file`

Possibly mix in some `kubectl ls $remote-file` to try to do maint

[2015-09-10 04:05] brendandburns commented on #13346
If kube-proxy isn't up, we really shouldn't send traffic to that node (since who knows what will happen once it gets there)

I think it's legit to health check on the kubelet /healthz path.

[2015-09-10 04:07] thockin commented on #13361
umask?

On Wed, Sep 9, 2015 at 5:47 PM, Amy <notifications@github.com> wrote:

[2015-09-10 04:12] thockin commented on #13772
uggh, api and apis ?  That's going to be hell on tab-complete and visual
ident.

Can we do this, expunge everything from pkg/api, and then reclaim that name?

On Wed, Sep 9, 2015 at 3:39 PM, Brian Grant <notifications@github.com>
wrote:

[2015-09-10 04:17] thockin commented on #13768
+1 to the idea

I don't see why we would keep any container-centric API.  The abstraction
is pods.  If a given runtime has to jump through hoops to implement pods
(I'm looking at you, docker) that their own problem.

On Wed, Sep 9, 2015 at 8:13 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-09-10 04:27] caesarxuchao commented on #13772
@thockin, we won't have pkg/api/, we will move it to pkg/apis/api (see https://github.com/kubernetes/kubernetes/issues/13772#issuecomment-139063633), is that bad? That shouldn't affect tab-complete.

[2015-09-10 04:32] thockin commented on #13742
On Wed, Sep 9, 2015 at 4:11 PM, Dawn Chen <notifications@github.com> wrote:

So we do not intend to qualify Docker 1.7 or 1.8 against kubernetes
v1.0 - I appreciate that it is simple, I am worried that it will not
be good for real production users.

My question was whether we qual new docker against older kube, and if
so, how old?

The reason or SOME back-compat is that I don't buy that it's good

[2015-09-10 05:01] thockin commented on #13631
I did mean "never lossy" or "always lossless" :)

I did not mean that we should round values in the request, just that the
resources granted might be different from the request.  If I request 100
bytes, the API should say 100 bytes for my limit, but it might also report
4096 bytes as the effective limit (do we report effective limits?  we might
want to).

Likewise if I ask for 0.01Mi (10485.76 byt

[2015-09-10 05:24] mikedanese commented on #13770
@onlyjob any reason why we need to bump the version? Is something broken?

cc @justinsb @iterion

[2015-09-10 05:27] arun-gupta commented on #13761
@caesarxuchao where do I get the logs from kube-apiserver?

[2015-09-10 05:28] thockin commented on #6198
I'm not against adding parameters to these functions if that is a net
simpler solution.

On Mon, Aug 31, 2015 at 11:53 PM, spothanis <notifications@github.com>
wrote:

[2015-09-10 05:30] mikedanese commented on #13769
@onlyjob kubernetes does not directly depend on influxdb. influxdb is a downstream dependency of heapster so this issue would be better posed there, but I see there is already an open issue for it. kubernetes/heapster#302

[2015-09-10 05:30] #13769 closed

[2015-09-10 05:33] mikedanese commented on #13764
Hopefully #13058 will fix this

[2015-09-10 05:34] thockin commented on #13772
The redundancy makes me sad, but I don't have a better answer.

On Wed, Sep 9, 2015 at 9:27 PM, Chao Xu <notifications@github.com> wrote:

[2015-09-10 05:37] iterion commented on #13313
@a-robinson @jimmidyson Any thoughts on what the preferred approach for fluentd on AWS? I'm happy to work on a PR, I'm just not sure what the best path is.

[2015-09-10 06:03] onlyjob commented on #13769
Thank you.

[2015-09-10 06:08] spothanis commented on #6198
It would definitely make searching vips and pools way more simpler since their names can easily be derived off the service and port combination.

[2015-09-10 06:09] onlyjob commented on #13769
Hold on, Kubernetes v1.0.5 have references to InfluxDB in `test/e2e/monitoring.go`. Also I can't find heapster bundled anywhere in Kubernetes...

[2015-09-10 06:09] mikedanese commented on #13745
cc @yuvipanda

[2015-09-10 06:14] mikedanese commented on #13769
@onlyjob the monitoring.go test runs heapster in a pod which writes data to an influxdb backend, then the test checks to make sure data is written properly. When heapster upgrades it's influxdb version, that change will trickle down to kubernetes when kubernetes upgrades heapster.

cc @vishh

[2015-09-10 06:15] roberthbailey commented on #13676
/cc @derekwaynecarr

[2015-09-10 06:15] mikedanese commented on #13769
we don't bundle heapster per say, we just run it as a pod. The autoscaler calls out to heapster to get resource utilization metrics of pods so we do depend on some heapster api types. See https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/autoscaler/metrics/metrics_client.go#L33

[2015-09-10 06:15] onlyjob commented on #13770
No urgent reasons but it is nice to stay up to date and AWS SDK is [packaged](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=798297) for [Debian](http://debian.org) hence it would be great if Kubernetes on Debian could take advantage of properly compartmentalised AWS SDK library. Thanks.

[2015-09-10 06:16] thockin commented on #6198
It's been a while since I touched that code, so I'll defer to @a-robinson
if he has objections

On Wed, Sep 9, 2015 at 11:08 PM, spothanis <notifications@github.com> wrote:

[2015-09-10 06:17] roberthbailey commented on #13598
@gmarek We should update the comment that talks about nginx, since we removed it quite a while ago.

[2015-09-10 06:26] wojtek-t commented on #13441
Yeah, I would rather get to steady state green without flakes as a first step. merge bot is serial by design. We should use this as a forcing function to make our test infrastructure better.

+1 - if we have non-flaky tests, being able to merge ~60 PRs per day (+ those that not require e2e tests, like docs) seems to be enough for now

[2015-09-10 06:29] thockin commented on #13760
having a container use a hostPath to "install" a plugin is a bit clunky,
but I am not against the idea of only looking for network plugins when they
are needed and logging an error and event at that time.

This means that all plugin containers would need to run with host
networking, or we would have to do the equiv of docker's --net=none.

@dchen1107

On Wed, Sep 9, 2015 at 4:44 PM, Brandon Philip

[2015-09-10 06:38] anguslees commented on #6198
Alternatively, a generic mechanism where the provider plugin can stash some private data along with the service/loadbalancer object and use it again during destroy would be useful.  The above name-games are only so we can find the various objects later (complicated by the fact that not all relevant openstack objects can _have_ user-provided names).

[2015-09-10 06:40] tusharsappal opened #13781 "Not able to mount the NFS Storage Block"
Hi ,
I am trying to mount the NFS Storage block that my IT Team has provided . I am trying the sample nginix image by using the following YAML File

[code]

When the Kubernetes master allocates the Node to this docker image to run , and the docker image is up and running  . I am not able to see the mounted NFS Block .

Where as when I first mount that NFS Block on the physical host  and use that i

[2015-09-10 06:52] spothanis commented on #6198
True; On the lines of provider id of node, a struct to stash all of the cloud provider artifacts

[2015-09-10 07:33] feihujiang opened #13782 "Change Expose Command's port operation to be not required"
I found expose command's port operation is set to be required, but actually it is not required. It can be copied from the resource being exposed if unspecified.

[2015-09-10 07:38] gmarek commented on #13579
Can we make a decision on what to do, and rename this issue to indicate what needs to be done, so that anyone looking for things to work on can grab it?

[2015-09-10 07:39] gmarek commented on #13699
Even if it's technically correct people are getting confused, so we need to fix the documentation.

[2015-09-10 07:41] gmarek commented on #13488
Can we have a `post v1.1` milestone (or something) for the stuff that we deem important, but we lack people to fix them straight away?

[2015-09-10 07:54] HaiyangDING commented on #11793
How is multiple-scheduler work going? I see that it is labeled with v1.2-candidate. Our team is working on designing multiple schedulers, and hope to present a proposal soon.

[2015-09-10 08:01] wojtek-t commented on #13743
Good catch and thanks for fixing it.

[2015-09-10 08:10] apeeyush commented on #13470
Yup, it's about the internal implementation. Sorry I didn't see #1963 and #2098 before creating the issue!

I am planning to modify the scheduler and replication controller to add rescheduling and auto-scaling capabilities. It would be great if someone could point out a few (1-2, preferably in scheduler or replication controller) examples of API usage in code and I can try to understand the rest o

[2015-09-10 10:12] bodgit commented on #12575
I'm running into the same problem:

[code]

I think it's possibly triggered by trying to run Kubernetes on Mesos same as @moink635. I'm guessing by default, the log file for glusterfs is constructed from the mountpoint with any `/`'s mapped to `-`'s and this is under so many directories when running on mesos that the resulting filename exceeds the filesystem limitations on file length (XFS in my c

[2015-09-10 10:13] liangxia opened #13787 "Pod with resource limit/request larger than maxLimitRequestRatio still can be created."
Description of problem:
We have constraint: maxLimitRequestRatio <= ( Limit (required, non-zero) / Request (non-zero) ) as described here: https://github.com/kubernetes/kubernetes/blob/master/docs/design/admission_control_limit_range.md#enforcement-of-constraints
but pod with resource limit/request larger than maxLimitRequestRatio still can be created.

Version-Release number of selected component

[2015-09-10 10:54] ngbinh commented on #13508
we got hit by this issue. I think

is the right solution here. Is there a way to do so now?

[2015-09-10 12:30] rootfs commented on #12575
cool, sounds a bug to me, will fix it. thanks for getting the details. @bodgit @moink635

[2015-09-10 12:38] bodgit commented on #12575
I don't know how you're planning to fix it but I've been experimenting with trying to add a logFile option to the glusterfs volume. I'm just in the process of trying to spin up a test Kubernetes environment. If I manage to get it working I can send a PR.

[2015-09-10 12:46] deads2k opened #13794 "NegotiateVersion happens too often"
Whenever a client is requested from the client cache, it negotiates a version with the API server (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/clientcache.go#L63).  For longer latency connections, this adds noticeable delays to every `kubectl` command to gather information that doesn't change very often.  If we don't change our approach, this problem will be exacerbat

[2015-09-10 12:48] rootfs commented on #12575
right, that's the best way to fix it.

[2015-09-10 12:49] liggitt commented on #13794
Based on the comment at https://github.com/kubernetes/kubernetes/pull/13667#issuecomment-139113600, it sounds like kubectl is also requesting swagger spec docs during create/replace calls if --validate=true (which is the default). That's another large request we don't want to repeat for every call... if that could use a similar caching strategy, that would be ideal

[2015-09-10 13:04] smarterclayton commented on #13794
The pattern of Apis identifying which versions are valid as part of a header response is well established.  The vast majority of this information is going to change infrequently at best, which makes a cache practical.  As long as invalidation is easy and predictable for users, that's not a significant issue.

The swagger doc validation is all work that could be done in other ways - I'm not sure it

[2015-09-10 13:04] tech2free commented on #11743
Actually This is failed because no server.key and server.crt was generated from the downloaded tar.gz :
https://storage.googleapis.com/kubernetes-release/easy-rsa/easy-rsa.tar.gz

[2015-09-10 13:05] tech2free opened #13795 "server.key and server.crt was not generated from the ansible installing."
https://storage.googleapis.com/kubernetes-release/easy-rsa/easy-rsa.tar.gz doesn't contain server.crt and server.key which has an impact on ansible installing the Kubernetes.

[2015-09-10 13:08] tech2free commented on #13795
I got code list below:

[code]
from
[code]
above, it seems that we may don't need the server.key and server.crt, but the code below we need them.
What's on the earth for this?

[2015-09-10 13:13] resouer commented on #13776
@bgrant0607 FYI, `docker cp` is implemented by directly copy files from host's file system, we'll do a fake `Mount` to generate real paths of container on the host, including volume dir. In a word, quite a `docker specific` way.

One of the concern is: I can see dockerd is so vulnerable that even larger amount log stdout may crash it. Not sure if `cp` big file or a lot of files will be too much bu

[2015-09-10 13:20] fgrzadkowski commented on #4869
@dchen1107 @brendandburns This issue is a blocker for fixing docker based setup. My understanding is that we agreed that we should simplify setting up new clusters and that docker based setup is the way to go. If that's the case I believe we should bump the priority for this issue to P1. WDYT?

Also reassigning to myself.

[2015-09-10 13:21] Rio opened #13797 "pod with glusterfs volume fails to be restarted after kubelet restart"
I've found that if there is a container running that use gluster as a volume mount type and you restart the kubelet it fails to come back up again. This is what I can tell caused by the kubelet mounting the volume using glusterfs and that program is also stopped on restart without cleanly unmounting which gives us errors like this:
[code]
Only by manually stopping the pod and unmounting the volume

[2015-09-10 13:21] Rio commented on #13797
version: Kubernetes v1.1.0-alpha.0.1588+e44c8e6661c931

[2015-09-10 13:23] hurf commented on #13701
Closing since it's fixed

[2015-09-10 13:23] #13701 closed

[2015-09-10 13:38] hurf opened #13799 "MaxLimitRequestRange validation error in admission control"
We should use float number to calculate observed ratio. Division by integer will lose accuracy.

In https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/limitranger/admission.go#L252 , `observedValue` usually has a different unit with `enforcedValue`. They can't be compared.

[2015-09-10 13:49] smarterclayton commented on #13794
It should be possible to run without a cache for whatever reason, but for
OpenShift and production use cases I don't want to take the negotiate
latency hit, so even if we are less comfortable with using the cache in
Kube I'd like to get the machinery in so we can bypass it in OS.

On Thu, Sep 10, 2015 at 8:49 AM, Jordan Liggitt <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer,

[2015-09-10 13:55] smarterclayton commented on #13776
The rsync path was exactly the same as what you described, `rsync -av -e
'kubectl exec -i ...'` localdir remotehost:/remotedir.  We have to make one
change to allow it though, because when you run rsync like this it adds the
argument of the destination host first, then the command second.  I haven't
looked at exec in the last few weeks but we probably need to have a way to
enforce that for exec to

[2015-09-10 13:57] bliss commented on #12746
Good day. Container on rbd persistent volume fails because of selinux:
[code]
docker logs for mariadb container:
[code]
mount output:
[code]
docker inspect command output related to paths:
[code]
Are there any workarounds?
Thank you!

[2015-09-10 14:00] derekwaynecarr commented on #13799
See https://github.com/kubernetes/kubernetes/pull/13680

[2015-09-10 14:02] rootfs commented on #12746
@bliss what if you make your pod privileged?

[2015-09-10 14:07] justinsb commented on #13508
I think that just having one big ephemeral volume is probably the easier short-term fix; I just propose a PR for that: #13803

If this looks good we can cherry-pick this also.

I think we should also consider putting influx & ES onto persistent volumes, though that isn't specific to AWS!

[2015-09-10 14:11] ncdc commented on #13137
This was fixed in #13322

[2015-09-10 14:11] #13137 closed

[2015-09-10 14:12] justinsb opened #13804 "Docker issue: problems with V2 registry"
This is not technically a k8s issue, but I think because we ship a fixed version of Docker we will hit it.  When using a V2 registry, I observed disk space filling up very fast with GetV2ImageBlob files in /var/lib/docker/tmp, I believe due to https://github.com/docker/docker/issues/14506

The pods in question fail to launch with an error message like "image not found" - I thought I had typod the

[2015-09-10 14:13] jtbcgdv commented on #13508
@justinsb that's the approach we're looking at using.  mount a persistent volume on the kubernetes minions

[2015-09-10 14:18] justinsb commented on #13770
So I have code that does this, which I have just proposed as a PR #13805.  I am uncertain whether we should merge it though.  I agree that we should be on the latest code, except that it only just last week moved out of RC, and this version includes some fairly large breaking changes to naming.  In particular, they changed the capitalization from go-style (VPC) to match AWS (Vpc) in a number of pl

[2015-09-10 14:28] liggitt opened #13806 "Default --validate=true fetches 500kb swagger spec on every create/replace invocation"
https://github.com/kubernetes/kubernetes/pull/12837 changed the default of --validate to true.

This means that every create/replace invocation fetches the full API swagger spec, which is about half a megabyte of JSON. That's a pretty impactful change. I think we should undo defaulting to true until we have a better way to get/cache the spec used to validate.

[2015-09-10 14:31] derekwaynecarr commented on #10495
cc @ashcrow since i think he will be looking to code something up in this space

[2015-09-10 14:40] liggitt commented on #13806
cc @bgrant0607 @jlowdermilk @deads2k for involvement in the original PR

[2015-09-10 14:42] smarterclayton commented on #13742
@mrunalp

On Wed, Sep 9, 2015 at 9:58 PM, Jordan Liggitt <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-09-10 14:44] bliss commented on #12746
@rootfs thank you for quick reply.
This is config fed to kubernetes
[code]
This is kubernetes feedback
[code]
[code]

[2015-09-10 14:46] justinsb commented on #13535
FYI, the AWS e2e tests avoid relying on the AWS CLI.  They check to see if the cloudprovider implements an interface and if so call into that interface.  I would love to promote those interfaces into cloudprovider, not least because I think they may prove generally useful as we add more functionality:

https://github.com/kubernetes/kubernetes/blob/95a60d60856987f36fc666252d1e74ca9c5d377e/test/e2e/

[2015-09-10 14:52] rootfs commented on #12746
If you are admin, see [this instruction](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/fedora/fedora_manual_config.md) but set

[code]

[2015-09-10 15:06] ddysher commented on #13577
@a-robinson Sorry, I meant 'broke things'.  I was trying to say that since we changed the name schema before, there should be some steps we can follow. But since it's pre-alpha at that time, I can understand that we just broke things and there is nothing to follow.

As to @quinton-hoole 's concern about name length.  I think that's part of the reason we want to make the lb name per cloudprovider,

[2015-09-10 15:17] bodgit commented on #12575
I've raised #13807 with my changes, could you take a look and advise if any more changes are required, particularly around my comment on the Persistent Volume bit in `getGlusterVolumeSource()`.

[2015-09-10 15:30] bliss commented on #12746
@rootfs Thank you very much!
Indeed, after setting --allow-privileged=true both on master and nodes pod started in privileged mode and mariadb from container got write access to RBD volume.
Could you please say: is it really no other way to make rbd volume work without elevating privileges? I personally consider privileged mode less secure.

[2015-09-10 15:35] rootfs commented on #12746
@bliss i am working on this, will keep you updated

[2015-09-10 15:38] stefwalter opened #13809 "Regression: Watching without resourceVersion fails"
At some point after kubernetes 1.0 watching without a resourceVersion has broken. This is a v1 API regression.

[2015-09-10 15:42] bliss commented on #12746
@rootfs Thank you!

[2015-09-10 15:43] stefwalter commented on #13809
Current behavior against today's master 6a5049f09d8668d70d21b1fffd0d876caf2cd8ed

[code]

Expected behavior:

$ curl 'http://127.0.0.1:8080/api/v1/watch/nodes'
{"type":"MODIFIED","object":{"kind":"Node","apiVersion":"v1","metadata":{"name":"127.0.0.1","selfLink":"/api/v1/nodes/127.0.0.1","uid":"88c574f5-57d2-11e5-a9ef-5254009e0000","resourceVersion":"14","creationTimestamp":"2015-09-10T15:42:25Z",

[2015-09-10 15:43] rootfs commented on #12746
@pmorie @childsb

[2015-09-10 15:49] stefwalter commented on #13809
Fedora bug: https://bugzilla.redhat.com/show_bug.cgi?id=1259148

[2015-09-10 15:50] stefwalter commented on #13809
@liggitt @derekwaynecarr CC

[2015-09-10 15:51] ngbinh commented on #13508
@justinsb thanks. I will try the fix tomorrow.

[2015-09-10 15:54] derekwaynecarr commented on #13809
Looking to see if I can find where the regression occurred...

[2015-09-10 15:56] stefwalter opened #13811 "Regression: kubectl logs --follow is broken"
This command is broken on git master:

[code]

It just hangs forever rather than producing any output. It used to work in kubernetes 1.0

[2015-09-10 15:58] tech2free commented on #13795
I found code below to generate server.key and server.crt
[code]
Something must be wrong that cause the loss of server.key and server.crt

[2015-09-10 16:09] stefwalter opened #13812 "Regression: kubectl create with List no longer works"
Using kubectl create with a list no longer works. We get the output:

[code]

[2015-09-10 16:10] stefwalter commented on #13812
In kubernetes 1.0 ```kubectl create -f ``` with a List would create all items in the List.

[code]

[2015-09-10 16:10] stefwalter commented on #13812
Test data to duplicate the problem: https://bugzilla.redhat.com/attachment.cgi?id=1071695

[2015-09-10 16:11] stefwalter commented on #13812
@eparis @ingvagabund @liggit CC

[2015-09-10 16:13] stefwalter commented on #13811
Reproduce like so:

[code]

The above just hangs. It should instead produce output:

[code]

```docker logs --follow``` on the same machine works:

[code]

[2015-09-10 16:13] stefwalter commented on #13811
@eparis @ingvagabund @liggitt CC

[2015-09-10 16:13] roberthbailey commented on #13811
@jlowdermilk CC as well

[2015-09-10 16:14] roberthbailey commented on #13811
It sounds like we don't have any regression tests for this feature; we should add one as we fix it.

[2015-09-10 16:15] stefwalter commented on #13811
The Cockpit integration tests caught this bug. So yes, testing upstream would be great.

[2015-09-10 16:15] stefwalter commented on #13812
@sub-mod FYI in case you run into this.

[2015-09-10 16:16] roberthbailey commented on #13812
@jlowdermilk

Another feature that needs a test.

[2015-09-10 16:20] liggitt commented on #13812
the swagger spec may only include object definitions that are registered as API request/response types... since `v1.List` isn't actually submitted to the server (that I know of), that's probably why it didn't get included. Enabling validation by default (https://github.com/kubernetes/kubernetes/pull/12837) probably exposed the bug with a List not being able to validate

[2015-09-10 16:28] mikedanese commented on #13811
@kubernetes/kubectl

[2015-09-10 16:30] mikedanese commented on #13812
@kubernetes/kubectl

[2015-09-10 16:30] mikedanese commented on #13806
@kubernetes/kubectl

[2015-09-10 16:34] mikedanese commented on #13795
@tech2free would this be better filed in https://github.com/kubernetes/contrib where ansible deploy stuff lives? cc @eparis

[2015-09-10 16:35] mrunalp commented on #13742
@smarterclayton The PR is under review https://github.com/opencontainers/runc/pull/208

[2015-09-10 16:39] brendandburns commented on #13768
100% agree, the `Runtime` interface is Pod based, that's what we should have people implement.

[2015-09-10 16:45] bgrant0607 commented on #13806
cc @nikhiljindal @brendandburns @JanetKuo

Our top usability complaint is lack of adequate, actionable feedback about buggy resource specifications. Addressing that is P0, which is why we enabled validation by default. If someone doesn't want validation, they can turn it off.

We should cache the swagger, but we could also switch to a non-swagger-based validation mechanism. For example, how hard w

[2015-09-10 16:46] brendandburns commented on #13806
I'll take this on.  Should be easy to add a "cache-forever" header and an caching HTTP client to kubectl.

wrt to forking the decoder, we're going to switch to code-gen'd JSON soon-ish, I'd rather add the explicit validation there...

--brendan

[2015-09-10 16:47] liggitt commented on #13806
Looks like it also broke List submission (since List doesn't validate), c.f. https://github.com/kubernetes/kubernetes/issues/13812

[2015-09-10 16:47] liggitt commented on #13806
careful with api spec caching assumptions if dynamic API group addition/removal is on the horizon

[2015-09-10 16:48] bgrant0607 commented on #13787
cc @davidopp

[2015-09-10 16:56] eparis commented on #13795
it does belong there, not here.  I don't understand the problem...  Can you please restate what your remaining problem is in an issue there?

[2015-09-10 17:02] erictune opened #13814 "Clear Pod Spec in Strategy not Validation?"
In pkg/api/validation/validation.go in function ValidatePodUpdate, it says:

[code]

But this is also done in pkg/registry/pod/rest.go in function PrepareForUpdate.

I would not expect a Validate routine to modify it's input.  Probably a holdover from before we added strategy.  Should be safe to delete, but needs more thought/testing than I could give at this moment.

[2015-09-10 17:13] lavalamp commented on #13631
Yeah, I agree with all that. I don't think we report effective limit?
That'd have to show up in the status.

On Wed, Sep 9, 2015 at 10:01 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-09-10 17:21] a-robinson commented on #6198
Yup, I have no issue with adding the ports to the functions' arguments if it'll make the implementation simpler.

Stashing private data would have to be done carefully, since everything still has to function properly if the process gets restarted (or even replaced by a newer version on a different machine). There's no real concept of persistent state in the master other than what's in etcd.

[2015-09-10 17:52] derekwaynecarr commented on #13809
This issue appears to be related to introducing the watch_cache

https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/watch_cache.go#L253

fyi @wojtek-t

[2015-09-10 17:54] a-robinson commented on #13313
As you mention, there appear to be two issues here -- one between the kubelet and docker, and one with fluentd. However, if I'm understanding correctly, the fluentd issue is purely a symptom of the kubelet/docker issue.

Unless you're using a very old version (which you don't appear to be), fluentd shouldn't actually be using the /var/lib/docker path at all. I'll send a PR to remove it from the po