[2015-03-21 17:09] thockin commented on #175
Abhi - that doesnt scale well.  Now kubelet has to install all the rules in
all the containers.  If you assume up to 30 pods per machine, that is 30
times more work.  Not impossible, but I dont think it is better.
On Mar 21, 2015 9:00 AM, "Abhi Shah" <notifications@github.com> wrote:

[2015-03-21 17:14] ArtfulCoder commented on #175
We can move the iptables-rules-for-service-ips logic in kubelet. The rules can divert traffic to the kube-proxy container.

The kubelet can set up these rules on host net space instead on each container.

That way, we still get away without --net=host.

Whatever logic needs to be done at a host level, should be kept in the kubelet that runs on the host direcrly.

[2015-03-21 17:28] thockin commented on #175
We want kubelet in a container too.  That aside, setting up the iptables
rules requires you know the ephemeral port numbers allocated inside the
kube-proxy.
On Mar 21, 2015 10:15 AM, "Abhi Shah" <notifications@github.com> wrote:

[2015-03-21 17:55] ArtfulCoder commented on #175
We can have kube-proxy logic completely as part of kubelet (just as we have cadvisor in kubelet now)
kubelet can run as a container with --net=host, but not configured as a pod
That way we can still prevent --net=host for pods.

I am not sure if we can have kubelet as a pod, because (per my understanding) pod has to be instantiated by by a pre-running kubelet on the host.

[2015-03-21 18:38] mbforbes commented on #5706
If you try now, does it work? I'm wondering if this could have been caused by #5708.

Otherwise, I'm not sure whether there is any other way to download Go packages. Maybe others will know.

Again, more info/output helps us debug.

[2015-03-21 19:03] satnam6502 opened #5759 "GCE cluster creation stuck at 22 nodes (out of 50)"
Our aim is to support 50 nodes for V1.0. Before (pre MIG) I arranged for us to have a 1,000 node cluster which the nodes functioned enough to list pods etc. Now it seems we can't create a 50 node cluster. Also, it took a very long amount of time to even get to 22 nodes so cluster creation seems a lot slower than it was before.

[code]

[2015-03-21 19:10] eparis commented on #175
Trying to think how to actually solve the master --net=host because of certificate problems, because I agre with you Tim, tons of things are going to have that problem.  This is exactly the problem satnam was facing months and months ago when he first looked at aggregated logging, we've seen it when trying to use kube to build ceph or gluster clusters (aka, you can't).

Only thing that comes to mi

[2015-03-21 19:31] roberthbailey commented on #5604
@jayunit100 that sounds great. What I'd really like to see here though (and what @piosz is going to do early next week) is a very simple test that isolates creating a service with an ELB to verify that creating a load balancer works in isolation from a complex test of other parts of the system. This will give us a really clear signal when the test starts to fail instead of needing to debug lots of

[2015-03-21 19:44] satnam6502 commented on #5759
This is what the master node has to say:
[code]

[2015-03-21 19:46] satnam6502 commented on #5759
Likewise for a worker node:
[code]

[2015-03-21 20:00] zmerlynn commented on #5722
It's actually not a timeout issue (we're not seeing timeouts, just complaints about duplicate resources). I just noticed that I wasn't paying close attention to the complaint, which is that the target pool was duplicated. I had cleaned up one resource and not the other on the Jenkins project explicitly. :/

Separately, I'm an idiot and the #5732 isn't nearly enough, because it's fine for developer

[2015-03-21 20:05] zmerlynn commented on #5759
That's not actually the interesting part. The interesting part is in here:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/util.sh#L163

I've actually noticed this a few times in my bring-up work. Do me a favor. I bet if you recreate that funny `instance-groups` command, get the list and extract one of the other minions that's *NOT* allegedly "running" (note the `--runni

[2015-03-21 20:09] zmerlynn commented on #5759
cc @tkulczynski

[2015-03-21 20:18] smarterclayton commented on #2156
http://queue.acm.org/detail.cfm?id=2745840 A little light reading for the weekend.

[2015-03-21 20:18] zmerlynn commented on #5759
@satnam6502: Oh. It's not even attempting to create those instances because you ran out of quota. :)

[2015-03-21 20:20] satnam6502 commented on #5759
I have quota for 1,000 VMs in that project. Do I need separate quota for Managed Instance Group machines?

[2015-03-21 20:23] zmerlynn commented on #5759
I IMed you separately, but you hit your regional quota, not your project quota, unless I'm mistaken.

[2015-03-21 20:23] zmerlynn commented on #5759
Still, is there a better error for this? This is awful behavior.

[2015-03-21 20:25] satnam6502 commented on #5759
I will retry in asia-east1-b.

[2015-03-21 20:34] satnam6502 commented on #5759
We should quota before attempting to create anything. If the user has insufficient quota we should just write an error message indicating how much quota is required vs. available quota.

[2015-03-21 20:51] satnam6502 commented on #5759
I am even less lucky in asia-east1-b.
[code]

[2015-03-21 21:00] CaptTofu commented on #5734
I will be working on a container that has percona xtradb cluster for just this thing, per discussion with jayunit100

[2015-03-21 21:04] satnam6502 commented on #5759
It would also be good to be robust against errors like this:
[code]

[2015-03-21 21:09] satnam6502 commented on #5759
Running in the right project and the right region worked.

[2015-03-21 21:09] #5759 closed

[2015-03-21 21:49] satnam6502 opened #5761 "Scalability and Soak Test Experiments: serve_hostname"
I am creating this issue so we can track the results of the soak and scalability experiments I am doing with the soak test that I wrote in PR #5750.

For this batch of resulted I created a 50 node GCE cluster.
First I run serve_hostnames with 1 pod per node and 1,000 queries. This worked fine with each pod (on each node) returning a decent number of queries (i.e. well balanced).

Then when I ran t

[2015-03-21 22:01] satnam6502 commented on #5761
Attempting to manually delete pods gave an etcd error. @dchen1107
[code]

[2015-03-21 22:06] satnam6502 commented on #5761
And again:
[code]

[2015-03-21 22:23] satnam6502 opened #5762 "Add a --retry option to kubectl"
In the experiments reported in issue #5761 I tried to clean up pods using:

[code]

but this kept failing and I ended up having to re-issue this command until I reached a fixed point. We should add a `--retry` flag that keeps re-trying the command until it has worked:

[code]

While we continue to suffer from scalability errors I think it is important to have such a feature. @jlowdermilk @mbforbes

[2015-03-21 22:37] satnam6502 commented on #5761
For an experiment where I try and place 20 pods per node on the 50 node cluster I noticed that at first pod creation is quick but then it slows down drastically -- look at the timestamps of the last few lines of this output (the job has not finished yet since it needs to get to `serve-hostnames-49-19`).
[code]

[2015-03-22 00:05] satnam6502 commented on #5761
For 20 pods on a 50 node cluster creation of a pod 19 on node 23 failed.

[code]

[2015-03-22 05:17] satnam6502 commented on #5761
Even 10 pods per node is not reliably achievable right now. We have a lot of work ahead of us.
[code]

[2015-03-22 05:38] davidopp commented on #5761
Thanks for investigating, Satnam. Please remember to tag these kinds of issues with "misc/perf-1.0" (I see you did area/performance, which is also good.)

[2015-03-22 05:44] satnam6502 commented on #5761
I thought about that. I did not tag that way because I don't understand if we want to make a distinction between:

* Having a single lucky instance when we can instantiate N pods on a node and make some measurements and declare success in some Bush aircraft carrier way, or
* Reliably create N pods on a cluster (in these experiments I make 50 attempts to create N pods on a node) and determine what

[2015-03-22 05:55] roberthbailey commented on #5747
@jainvipin is listed as the ubuntu maintainer in MAINTAINERS.md so maybe he can help.

[2015-03-22 07:04] jainvipin commented on #5747
@decker502
Flannel's IP (flannel0) shouldn't be on all the minions. If flannel is unable to acquire a subnet it can run into this issue. Can you send the output of '/run/flannel/subnet.env' on from the machines, that shows same flannel's IP?

I did run into one problem with the ubuntu-cluster script, configure.sh; I will submit a PR for the same. To see if that's the problem you are running into,

[2015-03-22 08:01] satnam6502 opened #5766 "Pod creation too slow"
In addition to pod creation not working reliably, pod creation is far too slow. At first pods are created fairly quickly, but after a while the pod creation rate significantly decreases.
See  #5750
The log below is for an experiment that tries to create 50 * 5 pods (50 nodes, 5 pods per node).
[code]

[2015-03-22 08:03] satnam6502 commented on #5761
5 pods per node also fails on the 50th node.

[2015-03-22 08:33] decker502 commented on #5747
@jainvipin Two problems can all be confirmed.

* I use configure.sh.
* KUBECTL command is showing **Read** state.

I had fixed Flannel problem. Because my cluster is built by vagrant, eth0's IP is 10.0.2.15. Unfortunately Flannel use this IP. When I assign iface param , it's solved.

[2015-03-22 10:04] tkulczynski commented on #5759
There's at least three things here:
1. Cluster creation getting stuck when not enough qouta. I agree it should check beforehand and print nice error message (MIG should support that  better too, but that's only part of the problem - you can run out of Firewalls, Routes etc. and MIG knows nothing about that).
2. Instances running but not reported by instance-group --running command. @zmerlynn: I ha

[2015-03-22 10:45] xudifsd commented on #3295
similar to #5548 & #4817

[2015-03-22 14:19] xudifsd commented on #5548
I guess it'll spend too much memory to cache all the pods in server side. Maybe it's reasonable just keep selector index in server's memory, and use it to serve selector select. Also maybe we could implement some watch mechanism to serve list & watch method may requested by client

[2015-03-22 14:42] Dekarti opened #5768 "Fails to install Kubernetes locally on ubuntu (both master and minion on one host)"
I am following the Ubuntu getting started guide (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/ubuntu_single_node.md) but etcd service falls immediately after starting.

$ sudo service etcd restart
etcd stop/waiting
etcd start/running, process 29050
$ sudo service etcd status
etcd stop/waiting

[2015-03-22 14:51] zmerlynn commented on #5759
Re: 2, I probably should've known it wasn't that, because anytime I've seen
the situation I was describing, it was transient. I think it's that the
--running filter might be pickier than I am: in particular, there were
nodes in the MIG I could seemingly ssh into but weren't yet "running". It's
possible the state just hadn't caught up yet.

I've actually been meaning to try removing the filter to s

[2015-03-22 15:18] roberthbailey commented on #5768
/cc @jainvipin

[2015-03-22 15:30] satnam6502 commented on #5761
Second attempt at 5 pods per node also failed and as before the deletion of pods was also not reliable.
[code]

[2015-03-22 15:31] satnam6502 commented on #5759
Yes, I did run kube-down.sh before.
Why is it a bad idea to delete templates that we knew we created before?

S

On Sun, Mar 22, 2015 at 3:04 AM, tkulczynski <notifications@github.com>
wrote:

[2015-03-22 15:51] jainvipin commented on #5747
@decker502 - thanks.
If you fixed flannel problem, ping to flannel0's IP from various nodes would be working.

I also assume you mean *Ready* state above in kubectl command.

Did you reconfigure Docker, using reconfigureDocker.sh?
Is the bip used by Docker matching up to whatever flannel is using i.e. `--bip=${FLANNEL_SUBNET}` is used as option in docker deamon?

Can you also confirm the output of

[2015-03-22 16:24] smarterclayton commented on #5548
That depends - at the scales we are targeting in 1.0-1.2 it should be no problem.  Kube is targeted (right now) with having a cluster design <10k nodes.  Even at 50 pods per node 50k*1K objects is still only 50M.

We have strategies for sharding clusters of necessary, so we are still within the memory bounds for our primary focus.

[2015-03-22 18:05] turbospaces commented on #5283
just updated and tried again - issue is no longer reproducible.

[code]

[2015-03-22 18:05] #5283 closed

[2015-03-22 19:47] bketelsen opened #5770 "Kubernetes/pause image is platform dependent"
I'm running a K8s cluster on my Pi cluster this weekend, and one workaround I am doing right now is to build a new pause docker image for arm.  The kubelet source code has the pause image hard-coded as "kubernetes/pause:latest" which works great on amd64, but won't work on any other platform.  Would be nice to have a platform dependency here to determine the correct image, and have pause images fo

[2015-03-22 20:11] thockin commented on #5770
What's an other architecture?  I thought docker only supported amd64? or
has the finally been fixed?

On Sun, Mar 22, 2015 at 12:47 PM, Brian Ketelsen <notifications@github.com>
wrote:

[2015-03-22 20:16] bketelsen commented on #5770
I don’t know what’s officially supported, but I’m running Docker on Raspbian (debian wheezy) on my Raspberry Pi cluster.  Perfect k8s test bed.
There are very few docker images for this arch though.  Nearly everything written in Go works, though.

[2015-03-22 20:54] thockin commented on #5770
Is there a way to arch-tag docker images or is it purely manual?

On Sun, Mar 22, 2015 at 1:17 PM, Brian Ketelsen <notifications@github.com>
wrote:

[2015-03-22 21:11] bketelsen commented on #5770
I’m not aware of any way to tag with architecture information.  Seems like a glaring hole in the Docker plan.

[2015-03-22 21:17] bketelsen commented on #5770
also - skynetservices/skydns-arm is the arm image for skydns.  Almost running a single node k8s “cluster”

[2015-03-22 23:20] smarterclayton commented on #3481
https://github.com/GoogleCloudPlatform/kubernetes/pull/5763 is setting the stage for this work.

[2015-03-22 23:20] smarterclayton commented on #1863
https://github.com/GoogleCloudPlatform/kubernetes/pull/5763 is setting the stage for making this easily secured via the bastion.

[2015-03-22 23:23] smarterclayton commented on #5770
I believe we were discussing using LABEL on the image to track architecture - at a minimum I know Red Hat packaging and release control was planning on decorating that onto the Label in the absence of an ARCH section.

[2015-03-22 23:25] smarterclayton commented on #5762
What error was the kubelet returning?  Was this an explicit busy, or a timeout triggered by the server?  We *should* already be retrying API operations from pkg/client when they return a status code of 429 - https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/request.go#L567.  We *should* also be doing that for other HTTP class timeout errors (controllable via the caller).

[2015-03-22 23:28] smarterclayton commented on #5755
For including etcd I recommend https://github.com/openshift/origin/tree/master/pkg/cmd/server/etcd and https://github.com/openshift/origin/blob/master/hack/version.go / https://github.com/openshift/origin/blob/master/hack/install-etcd.sh#L18 for getting the exact version of etcd you vendored.

[2015-03-22 23:40] bketelsen commented on #5770
--pod_infra_container_image="kubernetes/pause:latest": The image whose network/ipc namespaces containers in each pod will use.
Just saw this in kubelet --help
So maybe I could just use that instead, but I don't see it being parsed in the kubelet source.  Will investigate further.

[2015-03-22 23:43] satnam6502 commented on #5762
[code]

[2015-03-23 00:07] #5706 closed

[2015-03-23 00:07] #5696 closed

[2015-03-23 00:24] thockin commented on #5762
That reminds me - we need to vendor in the newest etcd client lib which has
somewhat better errors.
On Mar 22, 2015 4:44 PM, "Satnam Singh" <notifications@github.com> wrote:

[2015-03-23 00:28] thockin commented on #5770
That flag should work.
On Mar 22, 2015 4:40 PM, "Brian Ketelsen" <notifications@github.com> wrote:

[2015-03-23 00:29] uruddarraju commented on #5699
@netroby can you let us know if you fixed this, if yes, how ?

[2015-03-23 00:33] zmerlynn commented on #5759
@tkulczynski: I played around with the `--running`, and yeah, there's definitely a period when I can ssh into those instances but they aren't caught by the filter, but it's not *that* long (less than a minute? But sometimes seems long in an interactive sense).

I played around with removing the `--running` and it seemed stable, but then not ... unfortunately there's issues where if you try interac

[2015-03-23 00:34] netroby commented on #5699
Not fix it . just gave up trying. so close it .
maybe after a while ,somebody may fixes it .

[2015-03-23 00:58] derekwaynecarr commented on #5699
If you still have the issue, then leave it open.

Can you ssh into the master and append any error output you see when doing journalctl -ru salt-master.

[2015-03-23 01:02] derekwaynecarr commented on #5696
I have trouble following the issues you open and close and if you resolve a problem or not.

I have not experienced issues you at describing.

What host operating system are you using and can you elaborate why you needed shared folders?

I would like to improve the experience using the environment, but it's hard to do without more detail on intended use.

[2015-03-23 02:06] xudifsd commented on #5548
@smarterclayton maybe you made a mistake on calculation: 50 * 10k * 1K = 500M memory, maybe this still isn't a problem?
But it seems we don't need to cache all the pods in memory at all, we can maintain index of it, and the index serve selector request, then we use index to get pods from etcd?

[2015-03-23 02:21] smarterclayton commented on #5548
Lost the zero, but yes.  We've budgeted for that in previous designs, and although it's a lot of memory the goal is to try and find the design with the lowest complexity and the highest performance while still allowing us to scale clusters appropriately.

Etcd also holds everything in memory today (planned to change in the future), but the plan so far has been to work on the assumption that our hi

[2015-03-23 02:21] smarterclayton commented on #5770
We use it (and the underlying infra works).

[2015-03-23 02:24] bketelsen commented on #5770
closing this - it works.

[2015-03-23 02:24] #5770 closed

[2015-03-23 02:28] derekwaynecarr commented on #5548
I am not sure how much you know about etcd api, but there is no fetch nodes by keys operation.  You can get a single node by key, or all child nodes by key.  It's hard to follow your comment on what is meant by use index to get pods from etcd without more detail.

I see no issue holding cluster state in memory and I believe this is how Google runs internally today.  The current cache.Indexer in cl

[2015-03-23 02:29] decker502 commented on #5747
@jainvipin
Yes,  ping to flannel0's IP is working.

I had reconfigure  Docker, using reconfigureDocker.sh.

The bip is used  by Docker matching up to whatever flannel is using.

[code]

[code]

[code]

It is right to connect the IP , but redis-slave container can't resolve **redis-master** .
 Redis master's IP is determined by container's ENV when K8S's version was 0.12 . I don't known how contain

[2015-03-23 02:45] xudifsd commented on #5548
@derekwaynecarr yeah, I know that, so, I mean if we just keep index, then the index value maybe is a bunch of keys of pod, and if we need to fetch them, we have to fetch them one by one. But if we keep pods in memory, we can be much faster.

I'm trying to understand the constraints we currently have and finalize the proposal.

[2015-03-23 02:48] hurf opened #5774 "Support pod resource updates"
Following the doc [https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/kubectl-update.md](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/kubectl-update.md),

I tried the command :

[code]

It says:

[code]

Is it a bug or the doc provided a bad example?

[2015-03-23 02:56] smarterclayton commented on #5757
It's because the test is using os.Hostname, which on Macs can return an upper case value.  Fix incoming.

[2015-03-23 02:58] jainvipin commented on #5747
@decker502 - ah, the ip connectivity seem okay; DUP seems like an issue, because if some other container is also owning this IP, a reliable connection can not be established. Can you examine all other containers and see if any other container is also given the IP address same as that of redis-master i.e. 10.0.83.2? That could be a problem, based on the above debug logs.

I am also not sure how do

[2015-03-23 03:12] smarterclayton commented on #5754
What would we need to do to make OpenShift also be able to support this (when running in Kube-integrated mode)?

[2015-03-23 03:45] roberthbailey commented on #5774
@bgrant0607 can you please take a look and assign appropriately for a fix (code or documentation)?

[2015-03-23 03:49] hurf commented on #5774
I volunteer myself to fix this once the 'which side' problem is comfirmed .

[2015-03-23 03:54] roberthbailey commented on #5754
The idea (from [clustering.md](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/design/clustering.md)), is that you'd point each kubelet at the bootstrap API when it starts up and it would find the appropriate cluster to join and do so securely (possibly) without any human intervention. Basically, this would make it more seamless to get a cluster up and running in a secure manner

[2015-03-23 04:13] vishh opened #5777 "Accessing stats using time range in kubelet does not work"
Cadvisor API support querying stats between a `Start` and a `Stop` timestamp. That interface does not work via the kubelet. Is there anything special about the way cadvisor is setup when run inside kubelet?

cc @vmarmol

[2015-03-23 04:36] decker502 commented on #5747
May the below info be useful.

[code]

[code]
[code]

[2015-03-23 04:41] davidopp commented on #5701
It's not going to be possible to do this by Wednesday since we need to wait for #5399 to be submitted (otherwise it will be a really annoying merge). Would Friday be OK, or is there some reason why there's a Wednesday cutoff for changes to v1beta3?

[2015-03-23 04:53] jainvipin commented on #5747
@decker502 - this info is more or less same as what you sent earlier
Do you know how many DUPs responses do you get for the ping request? Do you ever get ping response for sequences other than 1? This would tell if there is a loop somewhere or containers with duplicate IPs.
`docker ps` on both systems would also help understand if something else is running or not.

[2015-03-23 04:59] thockin opened #5779 "Import newest go-etcd"
The etcd team fixed the lib and it now reports better errors instead of everything being "501 attempted to connect to each peer twice".  We should import that ASAP

[2015-03-23 05:08] WIZARD-CXY commented on #5747
I agreed with @jainvipin .You can solve the dup error first.I think it maybe a static route problem. You can check the env variables in docker container using docker inspect on the minion node or checking the kubelet log.
You can also check the kube-proxy log on redis-slave node to see if there are some hints help debugging.

[2015-03-23 05:14] smarterclayton commented on #5754
I think for the open source version k8s.io is a good place to point.  @liggitt in case you weren't following this yet.

[2015-03-23 05:43] satnam6502 commented on #5779
I'll hack a crack at this. Given my penchant for breaking things I assume I am the ideal candidate.

[2015-03-23 05:48] smarterclayton commented on #3338
https://github.com/ugorji/go Is probably better than ffjson.  It also gets me thinking of how conversion really should be generated (nothing in convertor.go is truly dynamic) - if I had more time I'd give a try of using the existing conversion framework to generate go code to do conversions.  Then we could depend on a json -> go library for decoding encode, and focus more on internal object behavi

[2015-03-23 05:54] kirtijagtap commented on #4926
Hi, I am new to GSoC as well as GoogleCloud Platform, but though it would be a great idea to start with this issue for GSoC. I am willing to put in all the work necessary. Please allow me to work on the project.

[2015-03-23 05:56] bgrant0607 commented on #5701
I'm hoping to be able to enable v1beta3 by default next week. I don't know exactly when it will happen. If you're sure it can be done by Friday, that's probably fine.

[2015-03-23 06:07] decker502 commented on #5747
* Ping
[code]

* Docker ps

[code]
[code]

[2015-03-23 06:31] decker502 commented on #5768
You can check the etcd log (in '/var/log/upstart/etcd.log')  to see if there are some hints help debugging.

[2015-03-23 07:17] bgrant0607 commented on #5774
We should allow resources to be updated.

It looks like they are included in container hash, so the container should be deleted and re-created with the new values.

@dchen1107 @vishh Can you think of anything else we need to do to permit resource updates other than just relax validation?

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/validation/validation.go#L697

[2015-03-23 07:21] hurf opened #5781 "Need validation of template field names."
I used following definition to create a pod:

	{
	  "id": "containermanifest",
	  "kind": "Pod",
	  "apiVersion": "v1beta1",
	  "desiredState": {
	    "manifest": {
	      "version": "v1beta1",
	      "id": "containermanifest",
	      "containers": [{
	        "name": "heapster",
	        "image": "kubernetes/heapster",
	      }],
	      "restarPolicy": {"never": {}}
	    }
	  },
	  "labels": {

[2015-03-23 07:33] HaiyangDING opened #5783 "Implementing 'Balanced Resource Utilization' algorithm in scheduler"
Current algorithm is simple when considering the resource and may lead to imbalanced resource utilization. Balanced Resource Utilization algorithm can be introduced as a new PriorityFunction so that users could choose to enable it when implementing custom algorithm_provider.

See post at [Implementing Balanced Resource Utilization in kubernetes scheduler? - Containers at Google](https://groups.goo

[2015-03-23 07:51] marshauf commented on #284
I'm interested in this project as part of GSoC 2015. A bit has changed since July 2014. cadvisor#74 got implemented and a simple web-UI is available. I couldn't find any up to date information about this topic.
My understanding of the state of this topic is, that the goal of this project would be to create a web-UI which displays statistics, be able to do what the CLI can do. The data for the stat

[2015-03-23 08:31] gmarek commented on #5781
You're 100% right, and you're by far not the first one who spent more time that is should be necessary when debugging typo. There's an open issue #3338 for finding a better JSON parser, and one of things we want from it is catching this kind of things. @smarterclayton

Closing in favor of #3338.

[2015-03-23 08:31] #5781 closed

[2015-03-23 08:36] hurf commented on #5781
Sorry for duplication. Though I've searched issues by the keyword 'validate', it returned too many results and I didn't find #3338.

[2015-03-23 08:38] gmarek commented on #5774
@hurf: I'll assign myself to take a lock for you on this issue (only owners can be assigned). If for whatever reason you'll want to release it cc me in a comment.

[2015-03-23 08:45] piosz commented on #5761
cc @gmarek

[2015-03-23 08:50] satnam6502 commented on #5761
I am re-running some of these experiments with the test program built with the latest go-etcd and etcd client for v2.0.5 but the master still running etcd v.2.0.0.

[2015-03-23 09:06] gmarek commented on #5761
@satnam6502 On what machine are you running master? standard-1 or something bigger? I'm asking because I don't know if we have already decided on target configuration.

[2015-03-23 09:24] fgrzadkowski commented on #5766
CCing @gmarek and @wojtek-t who were looking into performance stats.

[2015-03-23 09:37] fgrzadkowski commented on #3952
I think that #5555 + #5714 should address this (kubelet updates pod status when it changes)

[2015-03-23 10:55] gmarek commented on #4651
OK, so do we have any idea for nontrivial validation of ObjectReference, short of requiring namespace or not depending on the Kind? Is FieldPath design is done, or is it still pending?

[2015-03-23 11:23] daizuozhuo commented on #4348
hi all!  I am going to participate gsoc this summer. From the previous discussion, it seems that the we need a readable template language, so we want a go version of jq instead of invoke it from cgo. Am I understand correctly? I think I can do it.

[2015-03-23 13:03] Dekarti commented on #5768
...
Usage: /opt/bin/etcd {start|stop|restart|status}
Usage: /opt/bin/etcd {start|stop|restart|status}
...

Only such messages`

[2015-03-23 13:06] tkulczynski commented on #5759
Right. I've been playing with that too before introducing MIG into kube-up (clusters of size ~100). It seems that the instance is first added to the group, then provisioned in compute (what we care about for SetMetadata), then in "RUNNING" state according to compute, then in "--running" output. My answer to that is we just wait until IP ranges assignment is removed from kube-up (#5246) then we can

[2015-03-23 13:15] decker502 commented on #5768
Is there not `etcd` command in `/opt/bin`?

[2015-03-23 13:16] fgrzadkowski commented on #3087
I checked pkg/api/validation/validation.go and it seems there are only two errors that do not have detailed explanation. I'll send a PR to fix this.

[2015-03-23 13:33] gmarek commented on #4075
I don't think it's still an issue. By running 'kubectl describe' I get an info about: Type, Status, LastProbeTime, LastTransitionTime, Reason and Message (wrongly populated though), IP address, Capacity, ExternalID and list of names of running(bound?) pods.

The problem currently present is that there's some problem with data formatting:
[code]
I believe that "Type" should be renamed to "Condition

[2015-03-23 13:54] smarterclayton commented on #5581
Ideal CLI design would be like `exec`:

    kubectl run-container <name> --image=... [-- <command>]

i.e.

    kubectl run-container mypod --image=centos:centos7 -- /bin/bash sleep 1d

[2015-03-23 14:24] wojtek-t commented on #5339
cc @bgrant0607

Somewhat related to this discussion: do we have a plan to uniform it? I think it might be misleading to support both "/ns" and "/namespaces" in URLs and we should support only one (personally I prefer "/namespaces"). Is there any reason to support both? Can we get rid of one of those now (is there any open issue for it?)?

[2015-03-23 14:28] Dekarti commented on #5768
*/opt/bin* folder contains all scripts from *kubernetes/cluster/ubuntu/initd_scripts* including *etcd*

[2015-03-23 14:32] errordeveloper commented on #1307
I believe that the original discussion here is mostly overtaken by the plugins introduced with #5069. The only question that still remains is whether there needs to a default plugin or not, but that's a separate discussion, I believe.

[2015-03-23 14:43] wojtek-t commented on #4919
@dchen1107 did you have a chance to start working on it?
IIUC, to support this we need to change the api (pkg/api/v1beta3/types.go), which IIUC from what @bgrant0607 wrote in some other thread should be done this week. I'm happy to help with it if you want me to help.

[2015-03-23 14:47] smarterclayton commented on #1743
https://github.com/ironcladlou/origin/blob/6bf387b6ac3eb738eac220137ce0ac6c89e16468/docs/proposals/post-deployment-hooks.md has some examples of lifecycle hooks before and after a deployment process completes, with a new lifecycle type "execNewPod" which creates a one off copy of your existing pod definition.

[2015-03-23 14:57] zmerlynn commented on #5759
Yeah, good call. Okay, so there's some gain to be had but we know where it
is and it's roadmapped. Sorry for the noise. :)
On Mar 23, 2015 6:06 AM, "tkulczynski" <notifications@github.com> wrote:

[2015-03-23 15:10] jlowdermilk commented on #5625
@deads2k, afaik the only affect on jenkins/automated testing is the usage in cluster/common.sh to create/read kubeconfig on kube-up.

[2015-03-23 15:16] piosz commented on #5184
@brendanburns @bgrant0607 @thockin Any comments?

There is a new example [k8petstore](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/k8petstore) added by @jayunit100 which uses HOST:PORT environment.

[2015-03-23 15:17] wojtek-t commented on #3952
I'm not 100% sure what this issue refers to. Basically, once the pod is scheduled, it needs to be started on Kubelet. This requires e.g. pulling the image if it isn't already present on that node. This can easily take more than 5 seconds, so I'm afraid that this "5 seconds" from the title cannot be satisfied in all cases.

So I think we need to clarify what we would like to take less than 5 second

[2015-03-23 15:18] preillyme opened #5789 "Extend the current Kubernetes WebUI"
We've extended the current Kubernetes WebUI and are working to merge it back into the mainline project.

[2015-03-23 15:26] bgrant0607 commented on #5184
Known problem: #1768, #4245.

Even if we ensured the services were created first (which is a hack that might actually work pretty well), I'm not entirely sure that's sufficient to absolutely guarantee the Kubelet will see the services before it sees new pods that depend on them.

I would eventually like to get rid of the environment variables, but changing to DNS won't entirely eliminate the need

[2015-03-23 15:29] satnam6502 commented on #5761
The default choice i.e. n1-standard-1. In my previous experiments I noticed that using even a high CPU or high memory master did not make any difference when it come to etcd errors.

[2015-03-23 15:32] gmarek commented on #5761
OK. I believe that we should move to more multithreaded master. Lot of things have been recently moved to separate goroutines. I found that master is more stable when it have more resources available.

[2015-03-23 15:34] bgrant0607 commented on #4926
@kirtijagtap You need to apply through the GSoC site. Please take a look at the [wiki](https://github.com/GoogleCloudPlatform/kubernetes/wiki/Google-Summer-of-Code-(GSoC)).

[2015-03-23 15:41] satnam6502 commented on #5761
Using the latest `go-etcd` is not giving better error messages. Let's see what happens when we upgrade the master to use etcd v2.0.5

[2015-03-23 15:43] bgrant0607 commented on #284
@marshauf We'd like the Kubelet web UI to be able to show information about the pods scheduled to the node, and about the node itself -- at least as much information about those objects as available in the apiserver's UI, but ideally going beyond that. CAdvisor's UI could be integrated into it. Links to logs could be made available. Errors from pods executed from local files could be surfaced. Doc

[2015-03-23 15:43] satnam6502 commented on #5761
@gmarek I think we should make recommendations for the master size based on the number of nodes in the cluster and perhaps also on the anticipated number of pods (or activity). It is in the customer's interest to use the smallest possible resource that can do the job -- esp. for something like the master which is in some sense "overhead".

[2015-03-23 15:45] #3511 closed

[2015-03-23 15:48] bprashanth commented on #5650
Most times I've seen "Error received from API: 501: All the given peers are not reachable ..." its been etcd oom. The apiserver would just connection refuse, or some other form of weird html looking trace if nginx is up and your go code segfaulted.

If you have a cluster in this state it would be great to have:
1. sudo service etcd status
2. your /var/log/etcd.log
3. ls -lhR in your etcd data dir

[2015-03-23 15:50] bgrant0607 commented on #4348
@daizuozhuo Yes, you have the right idea. The current template language refers to Go objects from the internal implementation, or at least a way to select out specific fields from json. We need a template language for formatting kubectl output that refers to fields in terms of their versioned json field names, that works well for our API idioms (e.g., needs a convenient way to select list items by

[2015-03-23 15:54] vmarmol commented on #284
+1 to everything @bgrant0607 said. There is a lot of data in the Kubelet about the pods that we don't send to the apiserver. For users and for debugging it will be very useful to display that data. Displaying pods from non-apiserver sources and their mirror pod equivalents would be of particular value.

Some usage data from cAdvisor can be used and integrated, but some of the things mentioned abov

[2015-03-23 16:09] xudifsd commented on #5548
Hi, I just wrote up the draft of my GSoC [proposal](https://docs.google.com/document/d/1aF_Tf0xwV3NDeYtToyZxTp-cZZMsgbWorGl8QOr2INk/edit?usp=sharing)
some details need to be figured out, I'm wondering who will be my mentor if I get in GSoC, it's very hard for me to work this out on my own.

[2015-03-23 16:13] jainvipin commented on #5747
@decker502 - thanks.

It seems like that underlay network (aka host network) is playing some role in creating a temp loop here. That will cause the redis-server to slave connectivity issue you mentioned here. Can you please check if any other interfaces are not accidentally turned on and/or some other static routes are not installed, etc. Meanwhile, let me also try out the latest version myself an

[2015-03-23 16:23] daizuozhuo commented on #4348
OK, I see. So I will look inside this feature to figure out what I should do, and then submit the proposal.

[2015-03-23 16:27] jainvipin commented on #5768
@Dekarti - initd_scripts should not be in /opt/bin, rather in /etc/init, /etc/initd/ and /etc/default directories. Can you please confirm if these files are copied there appropriately? If you ran util.sh it should have...

What version of etcd are you running? And, from what I know etcd start options haven't changed. It would also help if you can check quickly start etcd natively using `/opt/bin/e

[2015-03-23 16:31] derekwaynecarr commented on #5699
I see the same message, but it does not prevent provisioning of the cluster.  Will look into why salt highstate is happening twice.

[2015-03-23 16:31] preillyme commented on #5789
We have a p0 for setting the defaults for out of the box consumption.
Currently, we rely on defaults set in ```www/master/config/development.json```.
These defaults need to be set correctly in releases, such that the user can run the application out of the box.

[2015-03-23 16:31] vishh commented on #284
The UI should help introspect the kubelet itself - provide links to kubelet
logs, track kubelet's uptime, compute resource usage, etc.

On Mon, Mar 23, 2015 at 8:54 AM, Victor Marmol <notifications@github.com>
wrote:

[2015-03-23 16:33] ddysher commented on #4075
Condition.Kind has changed to Condition.Type in v1beta3, and Condition.Status=Full/None may be changed to True/False.

STATUS from `kubectl get` is a joint status from Condition.Type and Condition.Status.  Agreed it's a bit confusing, any suggestion?

As we list names of pods on the nodes, we already have the data necessary to do a 'join', but I think it more like spam, esp when you have a lot pod

[2015-03-23 16:38] vmarmol commented on #5777
We don't have the right version of cAdvisor included :) will send a PR now to update it.

[2015-03-23 16:38] ddysher commented on #5701
I'll move my 20% ahead to accommodate the change.  Instead of waitting for #5399, we can let this in first, I don't expect too much conflict.

[2015-03-23 16:49] dchen1107 commented on #4075
I think eventually we want some joined data, such as usage at node level retrieving from different source. But I think "kubectl describe nodes id" returns a list of pods bounded to that node is good enough since the user can easily retrieve pod's information from "kubectl describe pods pod_name".

[2015-03-23 16:54] bprashanth commented on #5766
Yeah this is because we synchronously bind pods. I have a fix baking. @satnam6502 is there a bug for the pod creation reliability issues I can look at?

[2015-03-23 16:59] you-n-g commented on #5275
I've finished drafting [my proposal](https://github.com/you-n-g/gsoc2015/blob/master/proposal.md)
I'll submit it to google-melange in short time.
Any suggestion?
Thanks!!

[2015-03-23 16:59] bprashanth commented on #5655
Previously we leaked pods in some cases by deleting the rc instead of calling stop. The delete was quick.
https://github.com/GoogleCloudPlatform/kubernetes/issues/5745 should give us the ability to watch for 0 replicas in `stop`, instead of polling.

The `docker ps` issue might be unrelated as the rc will claim victory if the pods are dead (there's typically some delay, but it won't wait on contai

[2015-03-23 17:00] rjnagal commented on #4992
I added two validations to Spec:

- ExternalID: required.
- Capacity: cpu and memory required. We could schedule pods that don't specify resources to nodes that don't publish resources. But it looks like we assume that these fields are present at other places in the code.

[2015-03-23 17:00] satnam6502 commented on #5766
@bprashanth : sorry, can you be a bit more specific? I intended this to be the "GitHub bug" and there is a link to a "GitHub Issue" where I am reporting the results of running various experiments. Perhaps that's not what you mean?

[2015-03-23 17:00] vishh commented on #5774
@bgrant0607: Nope. I think its safe to turn on pod resource updates.

[2015-03-23 17:02] smarterclayton commented on #4992
That will be a breaking change for api consumers.  We should double check and announce that.

----- Original Message -----

[2015-03-23 17:03] bprashanth commented on #5766
From your initial report:

I was asking if you had details/repro steps/another bug I can look at.

[2015-03-23 17:05] yujuhong commented on #5339
Do we support both? My understanding is that we've switched to "namespaces" after the commit I mentioned above.

[2015-03-23 17:11] satnam6502 commented on #5766
To repo you could use the program that I have a PR out for: https://github.com/GoogleCloudPlatform/kubernetes/pull/5750

[2015-03-23 17:13] bgrant0607 commented on #5721
Labels are not an option. They aren't for carrying semantic information between components.

Use annotations for now. We can decide whether to extend the API later, after we get more experience.

[2015-03-23 17:16] rjnagal commented on #4992
I am fixing the tests and checking the checking the current usages. Capacity is the one thats worrisome.

@dchen1107 believes that these values are assumed to be required already in other subsystems. We'll verify before committing the change.

@smarterclayton What's the best list to announce the change?

[2015-03-23 17:20] vmarmol commented on #175
After discussing with @ArtfulCoder and @thockin we decided to continue the route of adding support --net=host. We believe the complexity of the feature is low and is one that we will need to add regardless. The feature does not create any new significant problems we will need to handle. We will need it since even with the above alternatives, if we run Kubelet in a container (which is a goal), we'l

[2015-03-23 17:23] bgrant0607 commented on #2098
@AAzza If the work can be decomposed into small enough pieces, we'd prefer to just merge them into the master branch. If that's too hard to do, we may need to keep the work in a branch in your fork until we create a 1.0 branch, which should happen sometime in June.

As part of this, we should ensure our generic API client library is capable of targeting Kubelet. In fact, I'd like kubectl to be abl

[2015-03-23 17:29] smarterclayton commented on #4992
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/devel/api_changes.md :)

----- Original Message -----

[2015-03-23 17:29] Dekarti commented on #5768
This guide line led me astray. All works, all thanks.

[2015-03-23 17:29] #5768 closed

[2015-03-23 17:31] smarterclayton commented on #4992
Heh, it doesn't describe *where* to discuss changes.  So we should also add that as well.  kubernetes-dev and adding to a changelog were also described.

----- Original Message -----

[2015-03-23 17:44] bprashanth commented on #3954
I collected data against a tiny cluster (master+3 nodes, then I ran out of quota), with a slightly evolved version of @gmarek 's test from https://github.com/GoogleCloudPlatform/kubernetes/issues/4521.

* The first bottleneck was the replication controller. It has a couple of artificial polling intervals (10s tick, 3s poll on `stop`) that pretty much mask any other timing effects in the system (ht

[2015-03-23 17:55] thockin opened #5795 "need v1beta3 example conversion"
in docs/volumes.md

[2015-03-23 17:56] bgrant0607 commented on #2098
Additional details:
* port Kubelet to apiserver/go-restful
* ensure the API client can target Kubelet
* ensure auth for the API is set up in an acceptable way
* auto-generate Swagger-based documentation for the APIs, similar to that exposed by the master
* expose at least readonly Pod and Node APIs (identical to the master's) and remove deprecated /podinfo and /nodeinfo, if that hasn't been done y

[2015-03-23 18:02] ihmccreery opened #5796 "Update "Getting started on Google Compute Engine" docs"
I'm a recent user of Kubernetes, and I struggled a bit to get it up and running on GCE.  It looks to me like the Getting started on Google Compute Engine]() doc is a bit out of date.  I've updated the doc with what I think it should look like, and I'll link the PR here.

The main issues I found are:

- The "Getting VMs" section could be clearer, and some of the docs linked to are out of date.
- I

[2015-03-23 18:04] sumkincpp opened #5798 "Error scheduling controller: PodFitsPorts"
With some of the recent master branches Kubernetes cannot schedule underlying pod with `PodFitsPorts` error :
[code]
Netstat shows that all required to bind ports are available:

    $ sudo netstat -laputen | egrep '(280|243|53306)'
    $

And pod remains pending:
[code]

Here is my pod definition:
[code]

[2015-03-23 18:06] #5207 closed

[2015-03-23 18:08] bprashanth commented on #5548
@xudifsd looks good! I've never seen a gsoc proposal before, someone who has (@bgrant0607 ?) might be able to gauge. You can always flesh it out when you start.

@derekwaynecarr the only danger with doing it all on the clients is fragmentation and creeping normality. Each cache is bound of have different lag/consistency guarantees which might affect the manageability of the system. Not saying buil

[2015-03-23 18:09] roberthbailey commented on #5798
@bgrant0607 - have there been any recent changes to the scheduler that would have caused this?

[2015-03-23 18:09] bgrant0607 commented on #2156
Thanks for the pointer. Yes, Stepan was TL of our internal cron service.

[2015-03-23 18:12] bprashanth commented on #5798
If you deleted and re-created the pod, it's probably fixed by https://github.com/GoogleCloudPlatform/kubernetes/pull/5791

[2015-03-23 18:13] a-robinson commented on #5156
Closing in favor of #5180.

[2015-03-23 18:13] #5156 closed

[2015-03-23 18:14] ihmccreery opened #5799 ""Getting started" guides should point to 'examples/' rather than have their own individual examples"
I spent a good chunk of last week working through the "Getting started" guide for GCE and the Guestbook example.  It seems to me it would be wise to integrate these two resources more.

Right now, the [Getting Started with GCE](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/gce.md) guide has its own example to work through involving Nginx on two container

[2015-03-23 18:24] sumkincpp commented on #5798
@bprashanth
No, it doesn't work either. I am using the folowing commands to recreate pod:
[code]

[2015-03-23 18:29] bprashanth commented on #5798
Hrm, that sounds like it should be fixed with the pr. If you could sync, apply the patch and confirm it would be great. It sounds like all you're doing is create, delete, create on the same pod right? If the pod is still stuck please upload your kube-scheduler logs in a gist.

[2015-03-23 18:29] ihmccreery opened #5802 "Guestbook example README should point to Getting Started, not SETUP.md"
Working through the [Guestbook example](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/guestbook), I was confused about how to get setup with an initial binary and cluster.  I think the [Step Zero: Prerequisites](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/guestbook#step-zero-prerequisites) section should point to the [getting-started guides](http

[2015-03-23 18:32] alex-mohr commented on #3952
Yes, pulls can take arbitrarily long, so the intent with this was "API call to create a pod whose image is already pre-pulled until API reports pod is running should be < 5 seconds."  Ideally we'd be in the sub-second range.

That's plausible, but we should verify they do.  The criteria for v1 are product performance goals, not implementations.

[2015-03-23 18:34] dchen1107 commented on #175
+1 on NOT having kube-proxy logic in kubelet. Kubelet could be down, update and crash, which shouldn't affect running services / containers. If all kube-proxy functionalities are included in Kubelet, we cannot achieve such goal. We want a simple proxy now, and eventually pushing down most of functionalities to kernel.

[2015-03-23 18:52] smarterclayton commented on #5665
I kind of like the latter, in that it doesn't require recompilation of all controllers for one provider changing.  Being able to push more into a cloud provider specific controller over time means they can evolve independently.

[2015-03-23 18:56] vishh commented on #5777
This issue is still not-fixed on HEAD.

[2015-03-23 19:04] wojtek-t commented on #5339
I did just a quick look into a code and saw some places (at least comments) about "/ns". Also the link from the original post has to come from somewhere. But if we just don't support it, I can look deeper into it and try to change those.

[2015-03-23 19:09] roberthbailey commented on #5802
LGTM.

[2015-03-23 19:09] wojtek-t commented on #3952
Thanks for clarification Alex - I completely agree that if we exclude pulling image, this goal is definitely reasonable.
Also, what I wanted to say is that I think that fast reporting is only part of the problem - the other part is startup time in Kubelet and we need to look deeper into it.

[2015-03-23 19:13] roberthbailey commented on #5796
Isaac - thanks for these fixes! (we've been a bit negligent about making sure all of our documentation stays up to date as the underlying source/examples have been churning so quickly).

[2015-03-23 19:38] pmorie commented on #4954
@erictune @smarterclayton @derekwaynecarr @liggitt @mfojtik Starting a branch now to use a name instead of an object reference so there will be no need to specify a namespace and secrets will come only from the pod's namespace.

@erictune I'll update the docs you added.

[2015-03-23 19:54] smarterclayton commented on #1004
Fixed in #5533

[2015-03-23 19:54] #1004 closed

[2015-03-23 19:59] bgrant0607 commented on #3671
docs/volumes.md needs to be converted also (#5795)

[2015-03-23 19:59] bgrant0607 commented on #5795
Dupe of #3671

[2015-03-23 19:59] #5795 closed

[2015-03-23 20:09] bgrant0607 commented on #1004
Is the content-type issue (setting in the client and documenting via go-restful) addressed by #5763?

[2015-03-23 20:09] #5604 closed

[2015-03-23 20:11] smarterclayton commented on #1004
I'll add setting it from client commands to that pull, but the returning and documenting it is part of it already.

----- Original Message -----

[2015-03-23 20:12] bgrant0607 commented on #2837
@bhanusharma92 More details can be found in #4926.

[2015-03-23 20:16] jayunit100 commented on #5734
It's for both. For testing having MySQL is synergistic with Patrick's goals, but also, for tests it will allow us to create churn on the disks in real world access patterns

[2015-03-23 20:18] jayunit100 commented on #5465
Sure. I can upgrade k8petstore in a pr which implements this scheme and we can bat it around some till we are happy with it as a example others can follow

[2015-03-23 20:19] thockin commented on #5599
try this as a one-time fix:

sudo CGO_ENABLED=0 go install -a -installsuffix cgo std

[2015-03-23 20:20] ncdc commented on #5599
I was trying to avoid having to use sudo to install to a system-owned location if possible

[2015-03-23 20:22] thockin commented on #5599
The go team says there is no way to rebuild the standard library and
install it to a private place.  Bug has been filed with them, but don't
hold your breath - it might be a while.

On Mon, Mar 23, 2015 at 1:21 PM, Andy Goldstein <notifications@github.com>
wrote:

[2015-03-23 20:23] ncdc commented on #5599
Ok, then I guess as long as this is documented somewhere, we can close.

[2015-03-23 20:24] thockin commented on #5599
Leave this open until we have a useful error message and docs.  Abhi is on
it.

On Mon, Mar 23, 2015 at 1:23 PM, Andy Goldstein <notifications@github.com>
wrote:

[2015-03-23 20:27] derekwaynecarr commented on #4789
I have a use case where a component requires 'secret' information across multiple sub-directories.

[code]

Both secret1 and secret2 are related, and it would be convenient to manage them as part of the same Kubernetes Secret resource.

While I am not sure if my reaction is knee-jerk, my initial bias is that I should be able to control what sub-directories a secret key can present itself under rel

[2015-03-23 20:34] bgrant0607 commented on #3087
This is one:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/validation/validation.go#L699

[2015-03-23 20:35] smarterclayton commented on #3652
I changed my mind about watch.  Starting to feel like that's a different mime type/query param on LIST and GET.  Proxy of wildcard never made sense (so that is going to always be a subresource).  Redirect can be a query param or subresources.

If we do that we don't need global verbs anymore.

[2015-03-23 20:36] bgrant0607 commented on #4651
Demoting priority of this for now unless someone can point to a specific problem they've encountered due to lack of validation.

[2015-03-23 20:45] bgrant0607 commented on #3676
@simon3z RCs will, out of necessity. Pods could, via an annotation applied by the RC -- PR welcome.

[2015-03-23 20:47] bgrant0607 commented on #4919
@wojtek-t Only breaking changes have a deadline. Additive changes can be done at any time.

[2015-03-23 20:51] #5757 closed

[2015-03-23 20:53] dchen1107 commented on #4919
I am working on this. PR should be ready today or tomorrow.

[2015-03-23 20:54] dchen1107 commented on #4919
Also agree with @bgrant0607 This is not part of API breakage.

[2015-03-23 21:05] #5689 closed

[2015-03-23 21:06] smarterclayton opened #5810 "Integration tests returning a lot of warnings"
[code]

Looks like a watch got crossed somewhere.

[2015-03-23 21:14] bgrant0607 commented on #3652
Yeah!

[2015-03-23 21:28] jayunit100 commented on #5465
there is one more idea to consider, docker secured builds.  lets consider that before we mandate dockerfiles to be in the repo.  @mattf used it in his spark pr https://github.com/GoogleCloudPlatform/kubernetes/pull/5602

[2015-03-23 21:32] satnam6502 commented on #5465
Thanks. I don't know what a Docker secured build is... let me investigate!

[2015-03-23 21:38] dchen1107 opened #5811 "Cannot bring up a new cluster on GCE due to failing to retrieve metadata KUBELET_TOKEN"
I sync-ed my branch to HEAD this morning, and tried to bring up a new cluster. The operation is failed because the following error:

Broken (or in progress) GCE Kubernetes node setup! Suggested first step:
  tail /var/log/startupscript.log

[code]

[2015-03-23 21:41] volyihin commented on #3692
Is this issue still actual? Can I take part in designing this feature during gsoc?

[2015-03-23 21:42] bgrant0607 commented on #5339
Everything should be switched to /namespaces.

@derekwaynecarr

[2015-03-23 21:43] bgrant0607 commented on #5339
See also #5805 and #5763

[2015-03-23 21:44] dchen1107 commented on #5811
cc/ @zmerlynn Zach, is this the one you mentioned in earlier meeting?

[2015-03-23 21:45] brendandburns commented on #5698
See: https://github.com/mgutz/ansi for a utility library for terminal colors.

[2015-03-23 21:46] roberthbailey commented on #5811
FYI this log line is from: https://github.com/GoogleCloudPlatform/kubernetes/blob/4877f4504d7e056b44d3782fe399f6292660825d/cluster/gce/configure-vm.sh#L62

/cc @zmerlynn who was recently mucking with the startup scripts.

[2015-03-23 21:47] brendandburns commented on #4528
I'm closing this, given the retries for stop, and better monitoring of etcd.

[2015-03-23 21:47] #4528 closed

[2015-03-23 21:58] dchen1107 commented on #5811
After more than half hour waiting, I kill that process, and restart it twice. Now it works. Looks like it is a transient issue.

[2015-03-23 22:00] vishh commented on #3636
Monitoring setup does not create firewall rules anymore. Monitoring services can now be accessible via the proxy on the api server.
I believe @satnam6502 has done similar changes to logging. I will let him confirm that.

[2015-03-23 22:08] vishh commented on #3636
I am closing this issue. Re-open if there is more to this issue in addition to removing firewall configs from kube-* scripts.

[2015-03-23 22:08] #3636 closed

[2015-03-23 22:16] vnugent opened #5816 "External services/PublicIPs not working with > 1 minion setup"
Service::publicIPs works for me in a 1-minion/non-GCE cluster on Fedora.

When I have 2 minions external services are only accessible on the node from which pods are running.  For example, if kube deploys the pod to Minion1 then the external service is available on minion1:port, but not on minion2:port. In the example below the service is only available on 172.18.17.19:18085.
Btw I'm not using hos

[2015-03-23 22:19] satnam6502 commented on #3636
Yes, cluster logging now uses the proxy path and does not create ELBs or firewalls.

[2015-03-23 22:30] a-robinson commented on #5180
Should we be adding an entirely new server component for this, along the lines of the kube-scheduler? It feels pretty heavyweight for just this small problem, but could be the start of the cloud-provider controller requested in #5665 (and the first implementation of the initializer concept from #3585).

The shortcut alternative I see would be to add a background goroutine to the apiserver to act a

[2015-03-23 22:37] dchen1107 commented on #5811
I lowered the issue to P1 since after retrying twice, it resolved itself.

[2015-03-23 22:37] quinton-hoole commented on #5180
I'm happy with the shortcut for now.

[2015-03-23 22:39] nikhiljindal commented on #1473
@smarterclayton Yes there is an echo at the top of the script that prints the API version for which the tests were run.

I discussed this with @bgrant0607 and he agreed that we can run the tests just once on travis (picking a version at random) and testing both versions locally.
One idea he suggested was that we can choose different APIVersion for each go version, so that we end up testing both ap

[2015-03-23 22:40] zmerlynn commented on #5811
Cluster creation on GCE has been green for a while (the red dot I see is from a timeout abort). If you see this again, please go into the cloud console and check for "kube-token" metadata on the metadata, or do `gcloud compute instances describe <master name> <appropriate zone and project flags>`  and see if the the kube-token is indeed not set.

That variable gets set [here](https://github.com/co

[2015-03-23 22:40] #5811 closed

[2015-03-23 22:41] a-robinson commented on #5180
I may have spoke too soon, it looks like the node-controller pattern (which uses background goroutines) is a natural one to follow for this. I'll move ahead with that.

[2015-03-23 22:42] brendandburns commented on #5816
v0.9 is pretty old at this point.  Any chance you can try this on a more recent version?

Thanks!
--brendan

[2015-03-23 22:45] brendandburns commented on #5665
I don't think that this makes the v1.0 list.

[2015-03-23 22:47] brendandburns commented on #5655
Closing this issue, as I think that the new delay is WAI, and the scheduler throughput stuff is captured elswhere.

[2015-03-23 22:47] #5655 closed

[2015-03-23 22:52] brendandburns commented on #5419
I don't think this makes the v1.0 bar.

[2015-03-23 22:52] dchen1107 commented on #5774
Since we all agreed on kubelet is the last line of defense on resource quota / mission control, I am ok on pod resource updates.;

[2015-03-23 22:56] simon3z opened #5819 "Updating system date and time on master/nodes kills pods"
It seems that updating the date and time on a single master/node host kills all the running pods.

I haven't had time to properly debug this and identify what actually triggers the issue (master or node side), and if anything can be done to fix this.

In general there could be multiple things to consider here:

1. in general it's better not to use date/time for timeouts but rather using monotonic

[2015-03-23 22:57] brendandburns commented on #4909
I don't think that this makes the v1.0 list.

[2015-03-23 22:57] simon3z commented on #3676
Thanks @bgrant0607 I'll be glad to handle that!

[2015-03-23 22:58] brendandburns commented on #4851
I don't think that this makes the v1.0 cut.

[2015-03-23 22:59] brendandburns commented on #4630
I don't think that this makes the 1.0 cut.

[2015-03-23 22:59] smarterclayton opened #5820 "Proposal: Move match version check to part of the "version" subcommand"
We have to jump through some significant gymnastics to make match version work (it happens when clients are created, but we want that to be abstract, but then we have to make sure it only happens once...).

Since the original intent was to verify your client tools, why not make it part of "kubectl version" via an optional check "--check"?  We can then unplumb it from the depths of the tools, and e

[2015-03-23 23:00] brendandburns commented on #3924
This has been done for a while.

[2015-03-23 23:00] #3924 closed

[2015-03-23 23:01] brendandburns commented on #3622
I don't think that this makes the v1.0 cut.

[2015-03-23 23:04] alex-mohr commented on #4630
@brendandburns Without this, we orphan resources in GCE on cluster delete.  And if e.g. user spins up a new cluster with the same name, there will be all sorts of fun from dangling rules.  I think this falls under operational reliability.

[2015-03-23 23:04] brendandburns commented on #2934
I'll take the update to services.md and then close this.

[2015-03-23 23:05] bgrant0607 commented on #3622
We were trying to get this into v1beta3, since it currently violates our stated API convention.

That said, I'm fine with demoting the priority at this point, esp. since it's in status rather than spec.

[2015-03-23 23:05] brendandburns commented on #2847
Ok, I think this was fixed by #2871

[2015-03-23 23:05] #2847 closed

[2015-03-23 23:07] brendandburns commented on #1768
As above, I don't think this makes the v1.0 cut.

[2015-03-23 23:08] brendandburns commented on #2264
I'm going to pull this out of v1.0

[2015-03-23 23:12] brendandburns commented on #175
I don't think that running the kube-proxy in the kubelet is a blocker for v1.0, and all other uses don't required --host networking.  So I'm moving out of 1.0.

[2015-03-23 23:14] brendandburns commented on #2235
This was closed by #3645

[2015-03-23 23:14] #2235 closed

[2015-03-23 23:18] dchen1107 commented on #175
@brendandburns We need this for running master components in pod too, I explained the reason at: https://github.com/GoogleCloudPlatform/kubernetes/issues/175#issuecomment-84209309

[2015-03-23 23:22] bgrant0607 commented on #2264
The most problematic uses of IntOrString will be eliminated by flipping to v1beta3.

[2015-03-23 23:22] brendandburns commented on #3838
This was fixed by #4801

[2015-03-23 23:22] #3838 closed

[2015-03-23 23:31] alex-mohr commented on #5665
#5180 tracks adding a reconciler pattern for loadbalancers.  I don't think we have an issue tracking this for other components like firewalls?  If any of the underlying resources disappear, the cluster becomes dysfunctional.  E.g., if something deletes a firewall "owned" by a k8s cluster, we should recreate it.

[2015-03-23 23:39] quinton-hoole opened #5821 "Flakey e2e test "kubectl update-demo should do a rolling update of a replication controller""
kubectl update-demo should do a rolling update of a replication controller

/go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/test/e2e/kubectl.go:95
Error running &{/jenkins-master-data/jobs/kubernetes-e2e-gce/workspace/kubernetes/hack/../platforms/linux/amd64/kubectl [kubectl --kubeconfig=/var/lib/jenkins/jobs/kubernetes-e2e-gce/

[2015-03-23 23:41] quinton-hoole commented on #5821
This test is failing several times a day in Jenkins:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/
I'm gonna have a shot at fixing it.

[2015-03-23 23:54] vnugent commented on #5816
Upgraded to v11.  Pods are now stuck in Pending after being deleted and redeployed...

[2015-03-24 00:03] vishh opened #5824 "Recent kube releases are missing release tars"
The latest release v0.13.2 is missing the release tar file.

[2015-03-24 00:04] vishh commented on #5824
Assigning to @zmerlynn who worked on the recent release.

[2015-03-24 00:17] roberthbailey opened #5825 "kubectl guestbook should create and stop a working application flaky"
I've seen numerous failures over the last few days with the output:

[code]

[2015-03-24 00:18] roberthbailey commented on #5825
@piosz Can you take a look?

[2015-03-24 00:19] roberthbailey commented on #5825
Jenkins says it failed 7 times in the last 30 runs. Most of those failures have this output.

[2015-03-24 00:37] zmerlynn commented on #5824
Done

[2015-03-24 00:37] #5824 closed

[2015-03-24 00:52] quinton-hoole commented on #5821
I've reproduced this on a private GCE test cluster.  Looks pretty straightforward to fix:

    F0323 17:49:33.086047    1898 rollingupdate.go:54] Error received from API: replicationController "update-demo-nautilus" cannot be updated: 101: Compare failed ([2767 != 2804]) [2815]

My first guess is that the resource version numbers on the update don't match?  Retry required?

[2015-03-24 01:06] hurf commented on #5774
@gmarek - Thanks, I'm working on it.

[2015-03-24 01:43] bcbroussard commented on #5789
Thanks @preillyme. Although https://github.com/GoogleCloudPlatform/kubernetes/pull/5790 is labeled a WIP, the new web UI does currently work with some default out of box settings from `development.json`. Only a few little cleanup tasks remain. The UI comes with two example dashboards:

The **Dashboard** view developed by Kismatic shows all of the same data as the Kubernetes CLI, along with a bar g

[2015-03-24 01:52] bprashanth opened #5828 "Send prevnode down the line into the resource's match function"
We already run both the current node and the previous node through the match function when a watch event fires (to classify the event: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/tools/etcd_helper_watch.go#L320). Why not send both of them into the filter so resources can implement custom comparison? There's at least one case that @thockin brought up with endpoints (where he d

[2015-03-24 01:58] decker502 commented on #5747
@jainvipin - thanks.
I will also check if something can be found.

[2015-03-24 02:02] yujuhong opened #5829 "Failed to start container: unable to sethostname when calling"
The e2e tests started failing sometime this afternoon because docker was not able to set the hostname.

Sample e2e run: go/k8healthz/job/kubernetes-e2e-gce/3797/consoleFull
The log is full of sethostname errors:
[code]
kubelet uses `pod.name` as the container hostname (I am not sure why). In the example above, the hostname is 83 characters, which has exceeded the max length of 64 on the system.

T

[2015-03-24 02:06] vmarmol commented on #5829
Assigning to myself, will send a quick path capping the hostname size so that we unblock the night crew :) we should get a better fix in later.

[2015-03-24 02:22] jayunit100 commented on #5653
possibly saying "run with wrappers..." would be better if explicit in the main method.

[2015-03-24 03:08] roberthbailey commented on #5821
This seems like a bug with the code rather than with the test (for once).

[2015-03-24 03:34] roberthbailey commented on #5789
@preillyme thanks for the great work you've done so far working on a UI.

Have you read through [faster reviews] (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/devel/faster_reviews.md) yet? The PR you sent was both labeled a work in progress and also contains 250+ commits and 20k lines of code. Would it be possible to break it up into some smaller sized chunks so that it would

[2015-03-24 03:35] brendandburns commented on #5829
Upgrading this to P0, tests are breaking.

[2015-03-24 03:43] ddysher commented on #5665
We already have this problem #3643, how can we eliminate the number of calls?

[2015-03-24 04:05] #5829 closed

[2015-03-24 04:50] BenTheElder commented on #3760
I've been looking into this for GSoC, and I'm wondering:

So ideally we'd detect wether iptables is sufficiently new enough to use and otherwise continue using kube-proxy?

From https://github.com/GoogleCloudPlatform/kubernetes/issues/5419 it sounds like this would be the ideal approach; with kubelet determining wether to use ip-tables or start kube-proxy.

I'm also a bit late to GSoC (was on spri

[2015-03-24 05:04] bgrant0607 commented on #5548
@xudifsd The goal is for 1.0 to land sometime in June.

There are multiple problems discussed on this issue.

One problem is that currently controllers and the scheduler are doing a lot of redundant work.

For instance, the replication controller manager lists pods for every RC:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/controller/replication_controller.go#L195

For each po

[2015-03-24 05:05] preillyme commented on #5789
@roberthbailey: Okay, I've moved the two base components out to separate repositories for now: https://github.com/kubernetes-ui/dashboard and https://github.com/kubernetes-ui/graph respectively.

[2015-03-24 05:18] quinton-hoole commented on #5821
Error comes from here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/6c5f7f7f64a1d86f8a1149ff51d30b9cd7ff62d4/pkg/api/errors/errors.go#L132

[2015-03-24 05:20] bgrant0607 commented on #5275
@you-n-g Thanks for putting together the proposal! We would love to have lots of progress on this.

I think you may underestimate the amount of work required for some of the tasks, however. In particular, configuration reconciliation is challenging on its own -- see #4889. Also, the generator framework could potentially be a project on its own, and deployment manager compatibility likely has signi

[2015-03-24 05:24] bgrant0607 commented on #3760
@BenTheElder Yes, you have until Friday to submit a proposal. There's one other person potentially interested in this topic, but no specific proposal for it yet.

I'm not worried about kernels older than 2012 as much as I am about OSes without iptables entirely, though those are already broken to some degree.

[2015-03-24 05:29] BenTheElder commented on #3760
@bgrant0607 thanks!
I think I may select this issue then. It looks interesting.

[2015-03-24 05:46] piosz commented on #5825
Sure. I'll do it.

[2015-03-24 05:48] piosz commented on #5698
I found this one https://github.com/daviddengcn/go-colortext.

[2015-03-24 05:48] roberthbailey commented on #5825
/cc @fabioy

[2015-03-24 05:49] piosz commented on #3622
I'm about to finish this change (still need to fix one test)

[2015-03-24 05:50] satnam6502 commented on #5698
I love the
[code]
lines in the source code :-)

[2015-03-24 05:51] bprashanth commented on #5821
Its failing because something else is updating the same key at the same time (most likely the replication controller manager): https://github.com/GoogleCloudPlatform/kubernetes/blob/6e242739378fd830a62afb1375c80ad24254a85b/pkg/kubectl/rolling_updater.go#L164
It should retry the update like other parts of kubectl. Essentially you'll need to create a true/false condition that wraps around the update

[2015-03-24 05:57] mikedanese commented on #3760
Readiness probe will work well for application startup but I'm not sure readiness is suitable for mitigating application failure. Upon pod failure, signal must pass from application -> kubelet -> apiserver -> endpoints_controller -> apiserver -> kube-proxy. I'd be interested in understanding the latency between an application failure and an endpoint removal from the kube-proxy rotation. During thi

[2015-03-24 05:58] preillyme commented on #5789
The main repository for the chrome only is available at: https://github.com/kubernetes-ui/kubernetes-ui

[2015-03-24 06:00] mikedanese commented on #3760
Another thought, we will likely encounter issues gracefully connection draining upon reconfiguration vs an actual LB.

[2015-03-24 06:06] quinton-hoole commented on #5821
Cool, thanks.  Yes, that's what I assumed.

[2015-03-24 06:29] thockin commented on #3760
Mike raises good points.

On Mon, Mar 23, 2015 at 11:00 PM, Mike Danese <notifications@github.com>
wrote:

[2015-03-24 06:42] thockin commented on #5828
I can live without it.  I am worried about making more couplings to etcd
specifics..

On Mon, Mar 23, 2015 at 6:53 PM, Prashanth B <notifications@github.com>
wrote:

[2015-03-24 06:45] bgrant0607 commented on #5419
@vmarmol Are we setting ulimit (num. fds) of kube-proxy now at least?

[2015-03-24 06:47] vijayshinvabk opened #5835 "The Linux username 'root' is invalid."
##### Following the basic Azure guide at
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/azure.md

##### Keep getting error message "The Linux username 'root' is invalid." when running kube-up.sh

##### The azure.err file has the following output

[2015-03-24 06:48] thockin commented on #5419
I think this is part of upgrades.

On Mon, Mar 23, 2015 at 3:53 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-03-24 06:52] roberthbailey commented on #5835
/cc @jeffmendoza

[2015-03-24 06:54] thockin commented on #2264
v1b3 will keep IntOrString for ports, but resources become "real" things.

On Mon, Mar 23, 2015 at 4:22 PM, Brian Grant <notifications@github.com>
wrote:

[2015-03-24 06:57] BenTheElder commented on #1651
Where would this be added? To the scripts in /cluster ?

[2015-03-24 07:12] thockin commented on #2572
For now I think IPv4 only, updates can change the endpoints list.  But I am
also working on a big change to endpoints, so maybe hold off on this just a
bit longer

On Fri, Mar 20, 2015 at 8:01 AM, gmarek <notifications@github.com> wrote:

[2015-03-24 07:26] thockin commented on #5129
Right - the place for cloud-specific PD implementations is in the
persistent-volume structs, not in the volume-source struct (and I'll be
happy to put a bullet in the GCEVolumeSource).

But to the original question, I think we want 1 PD type per implementation,
not one uber-abstractions.

On Fri, Mar 6, 2015 at 7:15 AM, Mark Turansky <notifications@github.com>
wrote:

[2015-03-24 07:28] wojtek-t commented on #5339
Thanks Brian - SGTM

[2015-03-24 07:31] gmarek commented on #5761
That I agree, but you're running 50 nodes right now, which is noticeable amount. I guess 4 thread master, which is 1 master thread per 12 nodes should be acceptable. Reason why I'm suggesting this, is 1.0 milestone, that 99%-ile of API calls should return in <1 sec (#4521), which I think would be really hard for cluster composed of 50 minions and 1 single threaded master (and we're far from it rig

[2015-03-24 07:34] satnam6502 commented on #5761
I need to check again, but our scaling limit is not the size of the master -- it is etcd. In the experiments I did before I had large clusters and I varied the size of the master (CPU and memory) and I did not notice it making much (if any) difference. I think the API response time is mostly governed by etcd performance?

[2015-03-24 08:01] decker502 commented on #5816
I think that `publicIPs` take effect above v0.13.

[2015-03-24 08:02] wojtek-t commented on #4919
Thanks for answers & clarifications @bgrant0607 and @dchen1107

[2015-03-24 08:45] gmarek commented on #5761
I have an impression that etcd is running on masters machine. In my experiments I found that for some calls having multi-threaded master gives a large boost to performance (https://github.com/GoogleCloudPlatform/kubernetes/issues/4521#issuecomment-78514427).

I don't know how much time is spent in master itself, and how much in etcd though...

[2015-03-24 08:47] gmarek commented on #2572
Sure - I noticed your PR yesterday.

[2015-03-24 08:55] fgrzadkowski commented on #3087
Thanks for the pointer Brian! I'll send second PR to fix this one.

[2015-03-24 09:19] hurf opened #5840 "Allow one yaml file contain multiple resources"
As discussed in [https://groups.google.com/forum/#!topic/google-containers/vA8vIfZ7WUA](https://groups.google.com/forum/#!topic/google-containers/vA8vIfZ7WUA), we can make some small changes to allow one yaml file contain multiple resources to reduce the file amount of a complex system.

[2015-03-24 13:08] piosz opened #5846 "Services should be able to create a functioning external load balancer is failing on Jenkins"
[code]

[2015-03-24 13:50] gmarek commented on #4075
@ddysher I'm generally fond of simple state machines as NodePhase, and IIUC Condition is something strange. The way I understand it is that there are 3 'dimensions' of Condition (reachability, readiness, schedulability), each of them can be set to True/False separately. Do we really want to have Schedulable, non-ready nodes?

I don't exactly follow the reason for split between Phase and Condition

[2015-03-24 14:02] wojtek-t commented on #5654
I observed a very similar behavior - I looked a bit deeper into it and basically, all the pods get pending pretty quickly and it took quite a lot of time to start them and report back to apiserver that they are started.

cc @fgrzadkowski
i think that #5714 might help, but we also need to look deeper into what takes time when starting pods.

[2015-03-24 14:07] quinton-hoole commented on #5654
+satnam@google.com FYI

[2015-03-24 14:21] rrati opened #5848 "build/install fails when using system go"
Doing a make in the kubernetes source tree produces this error when building with a system version of go:

go install runtime: mkdir /usr/lib/golang/pkg/linux_amd64_cgo/: permission denied

The build shouldn't be trying to install into system directories.  The error is traced is this line:

  'CGO_ENABLED=0 go install -installsuffix cgo "${goflags[@]:+${goflags[@]}}" -ldflags "${version_ldflags}"

[2015-03-24 14:27] rrati commented on #5599
Since the change that brought this in affects a simple make, can we do what @thockin suggested and conditionalize the cgo stuff?  Having make install anything to a system directory seems a very bad practice.  Built binaries should be located in the build tree with either a separate action to install them or a completely manual step (like make install)

[2015-03-24 14:29] #5848 closed

[2015-03-24 14:29] rrati commented on #5848
duplicate of #5599

[2015-03-24 14:45] fgrzadkowski commented on #3087
Still second PR to be sent.

[2015-03-24 14:48] BenTheElder commented on #3760
I've been reading through the source for kube-proxy and the proxy pkg; is iptables not already being used in the current revision?

What exactly needs doing on this? Reading the source it looks as if iptables is already being used pretty extensively in kube-proxy.

[2015-03-24 14:53] zmerlynn commented on #5846
It's because it failed once, is now leaked, and will never recover without
external intervention. cc @quinton-hoole
On Mar 24, 2015 6:09 AM, "Piotr Szczesniak" <notifications@github.com>
wrote:

[2015-03-24 14:57] #2934 closed

[2015-03-24 15:00] smarterclayton commented on #5599
I'm also seeing this fairly consistently (different error)

[code]

[2015-03-24 15:02] simon3z opened #5850 "v1beta3 service api is not supporting containerPort anymore"
It seems that the v1beta3 service is not supporting the `containerPort` attribute anymore, I had to change my service definition using `targetPort`:

     metadata:
       labels:
         name: monitoring-influxdb
         kubernetes.io/cluster-service: "true"
       name: monitoring-influxdb
     spec:
    -  containerPort: 8086
    +  targetPort: 8086
       port: 80
       selector:
         n

[2015-03-24 15:04] erictune commented on #3520
This could also be accomplished in an integration test.

[2015-03-24 15:07] piosz commented on #5846
I know, but maybe we can avoid such situation in the future.

[2015-03-24 15:08] saad-ali commented on #5850
@thockin made the change in PR #5729 to rename Service.ContainerPort to TargetPort

[2015-03-24 15:11] simon3z commented on #5850
@saad-ali thanks! I actually just found it. So it seems that `containerPort` is gone for good with no plan of backward compatibility (internal conversion to `targetPort`). Which means that a bunch of scripts in the wild should be updated (e.g. heapster, etc...). Is that correct @thockin ?

[2015-03-24 15:15] simon3z commented on #5850
Please let's at least fail hard on creation, rather then silently ignore `containerPort` and then generate a wrong endpoint.

[2015-03-24 15:19] bprashanth commented on #5548
Fyi, more of an implementation detail but the lists in the scheduler should be hitting local stores populated by a reflector: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/plugin/pkg/scheduler/factory/factory.go#L145

[2015-03-24 15:27] quinton-hoole commented on #5846
The best type of solution we have right now is the one that zmerlynn@ implemented in PR #5732, i.e. clean up external resources as part of the pre-checks on the next invocation of the test.  I plan to come up with a more generic solution based on projects or namespaces, but that will probably take a while still.  In the mean time, please implement a cleanup as per PR #5732.

[2015-03-24 15:31] simon3z commented on #5850
/cc @abonas @iheim

[2015-03-24 15:32] thockin commented on #5850
Only in v1beta3 which is not even on by default.  We could be compatible
here, but I know @bgrant0607 was hoping to go out clean in v1b3.
On Mar 24, 2015 8:12 AM, "Federico Simoncelli" <notifications@github.com>
wrote:

[2015-03-24 15:34] vmarmol commented on #5419
This is part of upgrades which is why it was placed under v1.0.

@bgrant0607 we have for most providers, we need to add a check in the kube-proxy when it comes up.

[2015-03-24 15:35] satnam6502 commented on #4521
How often were each of the tests run? I noticed (for tests that are dependent on etcd performance) that if you ran the same experiment again and again the results change as etcd accumulates state between invocations.

[2015-03-24 15:37] #3372 closed

[2015-03-24 15:38] #5698 closed

[2015-03-24 15:45] abonas commented on #5850
cc @itamarh

[2015-03-24 15:46] saad-ali opened #5852 "Improve GCE Getting Start Doc OS X Instructions"
kube-up.sh builds release binaries and therefore requires docker (and hence boot2docker VM on OS X). We should make this clear in the pre-requisites.

Also, would be nice to have a link to https://docs.docker.com/installation/mac/ as well.

[2015-03-24 15:47] zmerlynn commented on #5846
Read https://github.com/GoogleCloudPlatform/kubernetes/issues/5722#issuecomment-84446754: That cleanup isn't enough for Jenkins, because it's trying to cleanup the next run. (@a-robinson actually implemented a cleanup like this, but it only works for the ^C case.)

Two things here: (a) the controller could reclaim/update ELBs that are around with the same name (or not), and (b) we need a resource

[2015-03-24 15:48] gmarek commented on #4521
Is this a good thing, or a bad thing (i.e. what do you mean by 'accumulates states'). It depends on which ones you're asking about - roughly with few second pauses.

[2015-03-24 15:53] satnam6502 commented on #4521
If I get a moment (which I may not since I need to change my focus to
networking/plug-ins) I will try and describe in more detail what I observed
(based on state accumulating due to events so a subsequent run of the sam
experiment may have different results from an earlier invocation). However,
I am not sure and I would need time to carefully check what is going on.

On Tue, Mar 24, 2015 at 8:48 A

[2015-03-24 15:55] thockin commented on #5850
Put another way there are still a few changes cooking for v1b3

On Tue, Mar 24, 2015 at 8:32 AM, Tim Hockin <thockin@google.com> wrote:

[2015-03-24 16:00] satnam6502 commented on #3520
As a variation of my serve_hostnames soak/reliability test I intend to make a "cauldron" version of it which uses a replication controller and which every so often kills or add pods and checks to make sure the expected number of pods are up over a given window. Would that meet the requirements of the issue?

[2015-03-24 16:00] #5624 closed

[2015-03-24 16:00] simon3z commented on #5850
@thockin fine by if there are hard-failures where possible. This seems one of those cases where you can: any idea why specifying a containerPort is not failing? (It should be an unknown attribute).

[2015-03-24 16:00] abonas commented on #5850
@thockin I'd be happy to learn what are the changes (especially the backwards incompatible ones) and what is their timeline.
I thought that v1b3 is about to be enabled this week based on this comment, is that still correct?
https://github.com/GoogleCloudPlatform/kubernetes/issues/4940#issuecomment-82130607

[2015-03-24 16:03] fgrzadkowski commented on #5693
Fixed by #5624

[2015-03-24 16:03] #5693 closed

[2015-03-24 16:06] thockin commented on #5850
@abonas - mad scramble to get last changes in - hoping for this week

@simon3z - the go JSON parser ignores unknown data.  We don't hard-stop on invalid data anywhere.

@bgrant0607 as an idea for breaking changes like this, we could leave "traps" for old field names.  E.g. if you specify containerPort we fail validation.

[2015-03-24 16:20] simon3z commented on #5850
@thockin you probably meant "we don't hard-stop on *unknown* data" (known data is parsed and partially validated, e.g. missing names, etc.)

Generally ignoring unknown data is "nice" because you don't get bothered about other less useful keys that are changed and that are going unoticed, but it creates these traps.

Also you don't know how many old recipes there could be out there that are silentl

[2015-03-24 16:21] abonas commented on #5850
:+1:

[2015-03-24 16:24] eparis commented on #5816
publicIPs should work just fine in v.9

[2015-03-24 16:25] eparis commented on #5816
oh, what oyu are saying is that in v9 on the last in the list is getting the iptables rule written, interesting....

[2015-03-24 16:26] bgrant0607 commented on #5850
Try `kubectl --validate` to catch unknown field names.

We really shouldn't have any unknown field names in an existing API version, since we only make incompatible changes in new API versions.

[2015-03-24 16:27] bgrant0607 commented on #5850
Yes, all the v1beta3 examples need to be updated.
https://github.com/GoogleCloudPlatform/kubernetes/search?utf8=%E2%9C%93&q=v1beta3+containerport

[2015-03-24 16:28] bgrant0607 commented on #5850
cc @nikhiljindal since some of the v1beta3 tests may fail now.

[2015-03-24 16:37] bgrant0607 commented on #3760
@mikedanese @thockin Readiness is most useful for planned outages. Unplanned outages will always cause some observable errors. The polling interval should generally long relative to update latency, but we could also put into place re-forwarding rules on the destination node via direct communication between Kubelet and kube-proxy, if the latency via apiserver and etcd is too long and/or that path i

[2015-03-24 16:38] thockin commented on #5850
damn, I don't know how I missed the examples.  Mea culpa, I hang my head in shame.  PR coming ASAP

[2015-03-24 16:42] thockin commented on #5850
ah, actually I got all the examples but one.  Your query also catches ContainerPort structures.

[2015-03-24 16:43] vishh commented on #4958
cc @nikhiljindal

[2015-03-24 16:45] thockin commented on #5850
Even better - the example I thought I missed was v1beta1.  I did it right.  I hold my head with pride :)

[2015-03-24 16:46] thockin commented on #5850
As for strict input, we simply can't have it until we replace the JSON parser.

[2015-03-24 16:48] vbatts commented on #5599
//cc @vbatts

[2015-03-24 16:49] wojtek-t commented on #5630
pkg/kubelet/config currently supports v1beta3 (in addition to ContainerManifest).
Since there is no clear plan what to do with ContainerManifest (and since removing is part of getting rid of v1beta1), I'm closing this one as fixed.

[2015-03-24 16:49] #5630 closed

[2015-03-24 16:57] vbatts commented on #5599
for the record, this issue has come up before in the fedora build. The issue is due to packages that are built across the x86, x86_64 and arm builders are then collated. Some of these non-arch-specific packages are identical and therefore clobbered by the last builder to finish. The rpm `golang-src-1.3.3-1.fc20.noarch` is likely from the arm builder, so the timestamps in that rpm can be older than

[2015-03-24 16:59] thockin commented on #5638
Can we calrify the bounds of what is required for 1.0 vs what can be handled after?

[2015-03-24 17:01] dchen1107 commented on #5638
+1 on including this for 1.0

[2015-03-24 17:06] saad-ali commented on #5638
For 1.0 I'd like to see Heapster able to store events to one persistent store (basically for 1.0 we should have a story for retrieving historical events that have timed out of the etcd temp storage).

[2015-03-24 17:07] dchen1107 commented on #5638
@saad-ali I am assigning this to you since you already worked on this very topic.

[2015-03-24 17:09] bgrant0607 commented on #5850
Not true. We have a validation pass that compares with the swagger pulled from the server, which is preferred to baking in a schema into the client.

[2015-03-24 17:12] BenTheElder commented on #3760
@bgrant0607 Thanks, that makes complete sense now. Another read through the source and the design docs and I'm almost done writing a draft proposal.

[2015-03-24 17:19] a-robinson commented on #5846
I think when Quinton said "clean up external resources", he meant the external load balancer directly. It's unfortunate that this would have to be cloud-platform specific.

I'm working on making load balancer creation asynchronous to service creation. This won't directly fix the problem, but would make it easier to add in logic for handling ELBs that already exist.

In the meantime, perhaps the be

[2015-03-24 17:19] simon3z commented on #5850
So even in the long-term the client-driven validation (probably not all clients have this functionality) is preferred to server-side validation?

[2015-03-24 17:39] bartvankleef commented on #1957
+1

[2015-03-24 17:39] #4582 closed

[2015-03-24 17:48] vishh commented on #5638
+1 to @saad-ali's statement. Immediate goal is to enable long term storage of events. Post 1.0 the plan is to transition events completely out of etcd, cache them in some persistent store and provide access via the apiserver.

[2015-03-24 17:50] vishh commented on #5618
Exposing filesystem usage and network usage of pods is required for v1.0. The rest can be added post v1.0

[2015-03-24 17:53] vishh commented on #5617
Heapster should watch the apiserver for node and pod status changes and convert the status changes to appropriate metrics to support alerting.
The main lifecycle events that are required for 1.0 are node failures, container restarts and container OOM kills.

[2015-03-24 17:55] erictune commented on #4348
just noticed that `docker inspect -f` uses golang templates too.

[2015-03-24 17:59] a-robinson commented on #5638
Note that it's frustrating that we currently completely drop events on the floor after 2 hours. Adding some sort of persistence (even just a stop-gap fix of logging to disk on the master) soon would be very appreciated.

[2015-03-24 18:01] saad-ali commented on #5638
@a-robinson Agreed, I'm working on this at the moment.

[2015-03-24 18:10] vishh commented on #5638
@a-robinson: What is the use case for events? How much do we rely on events for introspection or debugging? I am assuming events are meant for traceability and performance analysis.

[2015-03-24 18:18] BenTheElder commented on #3760
Draft GSoC Proposal: https://gist.github.com/BenTheElder/ac61900595a7ea9ea9b5

I'd especially appreciated feedback on the schedule section. I'm not quite sure on that.
Should I finish early I'd love to work on some other (smaller?) un-taken GSoC issues like:
https://github.com/GoogleCloudPlatform/kubernetes/issues/1651.

Thanks again, Kubernetes takes the cake for friendliest group.

[2015-03-24 18:19] jmreicha opened #5859 "Ability to "seed" an image"
One thing that we have found in testing so far with large image sizes is that it can take quite awhile to download the image.  In some scenario's we have found this to cause a disruption in service as the old containers go away faster thqn the new images can be pulled down and started up.

Is there any way to "seed" an image or possibly create some definition in a replication controller that will

[2015-03-24 18:20] bgrant0607 commented on #4075
cc @davidopp

Phase is monotonic -- provisioning lifecycle.

Condition is the most recently observed status.

For all practical purposes, we can't distinguish reachable vs. ready at the moment, so one of those two could be eliminated for simplicity until we can.

They're not all "health checks".

None of the conditions are aggregations of information -- they are orthogonal. In particular, "Schedul

[2015-03-24 18:22] bgrant0607 commented on #1651
@BenTheElder Probably cluster/addons.

[2015-03-24 18:24] BenTheElder commented on #1651
@bgrant0607 thanks again for all of the info.
This also looks interesting but I've currently decided to post a draft for https://github.com/GoogleCloudPlatform/kubernetes/issues/3760.

[2015-03-24 18:35] a-robinson opened #5861 "kubectl log spits out "Unexpected path for command running" when only a pod name is specified"
On a cluster running 0.13.2, I ran `kubectl get pods`, picked out the name of a pod that only contains a single container, let's call it foo, and then ran `kubectl log foo`. It prints nothing other than the message "Unexpected path for command running". If I add on the container name (`kubectl log foo container`), then it prints nothing, presumably because the pod has no logs.

The docs for kubect

[2015-03-24 18:36] swaprp15 commented on #3948
Hi,

I am final year Master's student of International Institute of Information Technology, Hyderabad. I am familiar with docker and containers. I have basic understanding of Go language with some hands on Docker API. This project seems interesting and a solution to this will also be a good addition to Kubernetes. So I would like to pick this as my GSoC project.

I have started reading about Repli

[2015-03-24 18:40] erictune commented on #5511
@mbforbes you are interested in node upgrades.

[2015-03-24 18:43] ddysher commented on #4075
We don't have a good support for node lifecycle now, so Phase is hidden from user.  Eventually, we'll report it, which will make things more clear.  Also, I'll take some time to remove reachable to simplify things a little bit; afaict, it's not v1.0

The 'schedulable, non-ready nodes' means admin (or other authorized entity) marks the node schedulable, but the node itself is not ready.  On the oth

[2015-03-24 18:45] thockin opened #5863 "CoreOS multinode cluster getting started guide ignores networking"
docs/getting-started-guides/coreos/coreos_multinode_cluster.md

This doc does not seem to mention networking at all.  People are following this doc and failing, which is not surprising given $subject

@kelseyhightower

[2015-03-24 18:52] a-robinson commented on #5638
Events are the [first debugging mechanism listed in our wiki](https://github.com/GoogleCloudPlatform/kubernetes/wiki/Debugging-FAQ#by-symptom) for debugging pods not running.

[2015-03-24 18:55] fabioy opened #5864 "Nodes seem to be updating its status way too frequently"
May be a result of PR #5714. On GCE, the master kube-apiserver.log is flooded with entries like:

I0324 18:53:46.443512    9483 handlers.go:109] GET /api/v1beta1/minions/e2e-test-fabioy-minion-ipwx.c.fabioy-cloud-test-1.internal: (2.978675593s) 200 [[kubelet/v0.10.0 (linux/amd64) kubernetes/9707a94] 10.240.151.207:46823]
I0324 18:53:46.444040    9483 handlers.go:109] GET /api/v1beta1/minions/e2e-t

[2015-03-24 18:55] zmerlynn commented on #5472
@bgrant0607: `cmd` and `pkg` SGTM. I'll work on updating the top verbiage to a complete proposal soon.

[2015-03-24 18:56] fabioy commented on #5864
@fgrzadkowski, @vmarmol

[2015-03-24 18:56] zmerlynn commented on #5511
And me. I need to figure out how this would fit in with #5472, though, because I had intended rollingupdate to fall in under there eventually (with client calls).

[2015-03-24 18:57] thockin commented on #5863
I apologize, the cloud config files DO talk about flannel.  The doc should probably mention that

[2015-03-24 18:58] a-robinson commented on #3412
Checking in -- does any common code exist for this yet?

[2015-03-24 19:01] fabioy opened #5865 "Client should have a rate limiter so that it won't flood the server"
Work item related to issue #5864, but the client library should have a built in rate limiter so it won't issue too many requests, flooding (DOS'ing) the server.

[2015-03-24 19:02] fabioy opened #5866 "API server should limit the number of concurrent requests it processes"
Related with issue #5865, the API server should have a cap on the number of outstanding operations/requests it's handling, and return an error otherwise. A simple semaphore is an idea for this.

[2015-03-24 19:08] davidopp commented on #4075
I agree the Phase vs. Condition thing is a bit confusing. They're not completely orthogonal, in that not every element of the cross-product is possible. We have some ideas for simplification of NodeReady, for example, not using ConditionUnknown to explicitly mark an unreachable node. OTOH that may make things worse, since then it will be less obvious when a machine is temporarily unreachable. I th

[2015-03-24 19:31] #5663 closed

[2015-03-24 19:46] ingvagabund opened #5868 "git describe returns incorrect version"
The latest release is v0.13.2, git describe returns v0.12.0-1145-ged68c8e. How does the master branch relates to the latest release? Is "git describe"'s output intended to be v0.12.0 or is it a bug? This is not the first time inconsistency. Thanks.

[2015-03-24 19:49] roberthbailey commented on #5868
@zmerlynn Zach tagged that build so maybe he can help here?

[2015-03-24 19:51] fabioy commented on #5868
I believe Jeff has a PR for this already (PR #5817).

Thanks.

[2015-03-24 20:03] vmarmol commented on #5864
Taking a look, thanks for reporting @fabioy!

[2015-03-24 20:13] vmarmol commented on #5864
@fabioy these look like node statuses not pod statuses?

[2015-03-24 20:20] fabioy commented on #5864
You're probably right. I couldn't readily tell from the logs.

On Tue, Mar 24, 2015 at 1:14 PM, Victor Marmol <notifications@github.com>
wrote:

--
*-- Fabio Yeon*

[2015-03-24 20:21] satnam6502 opened #5869 "A test cluster is created and then e2e fails saying there is no test cluster"
A test cluster is created and then e2e fails saying there is no test cluster. This is with a build that uses the updated go-etcd library.

[code]

[2015-03-24 20:22] satnam6502 commented on #5869
[code]

[2015-03-24 20:28] yujuhong commented on #5869
Did you try changing the current context by running `./cluster/kubectl.sh config use-context kubernetes-satnam_e2e-test-satnam` first?

[2015-03-24 20:33] bgrant0607 commented on #5850
@simon3z The client-side validation has the benefit of existing today. We should probably also do better server-side validation, but need to think through version-skew cases. Programmatic clients may have different assumptions than generic clients like kubectl.

[2015-03-24 20:34] vishh commented on #5638
There are two parts to this issue.
1. Storing events
2. Easy access to events
I think '1' is required for v1.0. '2' probably a stretch for v1.0. `kubectl get events` falls under '2'. Our logging infrastructure should capture events as part of log files. So if everything fails, events are at-least available as part of logs for introspection purposes.
@dchen1107: Any thoughts on priorities?

[2015-03-24 20:36] alex-mohr opened #5871 "GCE support for heterogenous nodes"
We currently use a single managed instance group by default for GCE.  It's a user request that we should eventually support heterogenous nodes such that users can have e.g. a set of VMs optimized for DBs (high I/O b/w or more local SSD) and a different set for less-demanding pods (e.g. stateless frontends).

[2015-03-24 20:40] roberthbailey commented on #5871
+1

[2015-03-24 20:41] satnam6502 commented on #5869
[code]

[2015-03-24 20:41] #5643 closed

[2015-03-24 20:41] zmerlynn commented on #5868
The problem here is that despite actually being merged into master, 8d8b9b9a is not reachable from head because of contorted pull gymnastics. You can actually do a `git describe` on c04ceec27 which introduces it, and you'll see:

[code]

... which is bad news bears. That's because those two commits, 7fbf52a5 and 8d8b9b9a, once they hit master, really don't exist in their present form, so the tag a

[2015-03-24 20:42] satnam6502 commented on #5869
This is almost certainly due to the go-etcd change. Investigating.

[2015-03-24 20:43] multilinear opened #5872 "Race condition in integration test cases "FAILED: mirror pod has not been created" error"
The bug is around line 261 in "cmd/integration/integration.go"
It seems that the test is expecting a file just written to have appeared immediately, and that doesn't seem to actually occur.
Here's the chunk of code I'm talking about:

podName := fmt.Sprintf("%s-localhost", desc)
      namespace := kubelet.NamespaceDefault
      if err := wait.Poll(time.Second, time.Minute*10,
        podRunning(c,

[2015-03-24 20:44] vmarmol commented on #5864
Load-balancing to @dchen1107 :) assigning to you

[2015-03-24 20:48] davidopp commented on #5589
This was marked P1 and 1.0 milestone but I don't think either of these are the case. Obviously we should fix this, but replicated etcd is part of HA master, which is one of our post-1.0 goals. (I sanity-checked with Tim and he agreed.) So , removing 1.0 tag and moving to P2.

[2015-03-24 20:50] zmerlynn commented on #5868
This is all coming about because we changed procedure slightly. The release was based on a good Jenkins run, tagged off there, and then we inject the release number change back into the master branch. I think we need to tag master with something else.

For now, I'm going to tag the branch point as v0.13.0-dev, which may break *other things*, but actually matches the version stamp we put in `pkg/ve

[2015-03-24 20:54] yujuhong commented on #5872
Hi @multilinear, thanks for reporting the bug!

The test was supposed to poll every second until the 2 minutes timeout, so the extra sleep should not be needed. There was a bug causing problems, and it was fixed by #5775 yesterday. Are you running HEAD? If not, could you try running again with HEAD? Thanks!

[2015-03-24 21:01] davidopp commented on #2726
Can someone (maybe Clayton?) summarize the status of this issue? If this has become a meta-issue, let's file any necessary sub-issues and close this. Otherwise, what remains to be done here for 1.0?

[2015-03-24 21:02] gmarek commented on #4075
I think we all agree that current state is confusing, as we use similar words in different contexts. The way I understand current "Condition" is that it reflects various parts of Nodes health. I don't see a strong reason for non-ready schedulable nodes (the opposite is for drains, this is clear). For this reason I think we can say that non-schedulable nodes are not 'healthy' per se, hence my 'heal

[2015-03-24 21:04] quinton-hoole commented on #5866
+1 !

[2015-03-24 21:05] #5810 closed

[2015-03-24 21:05] eparis commented on #5868
@jbeda has fixed this problem before.  how do we stop it from happening?

[2015-03-24 21:09] zmerlynn commented on #5868
We have better scripts. I'm looking at it.

[2015-03-24 21:10] zmerlynn commented on #5868
This actually came about because we changed to a better procedure that allows cranking the release pretty quickly off a clean Jenkins run, rather than just twiddling thumbs waiting on e2e.

[2015-03-24 21:14] smarterclayton commented on #2726
I don't know that we have a meta issue covering "cluster mutation is watchable, and the status of the cluster is observable from the API server without passthrough hacks" except this one.  Will try to summarize if brian doesn't get here first.

[2015-03-24 21:25] zmerlynn commented on #5868
I pushed a `v0.13.1-dev` tag because @brendanburns v0.13.0 chain was so uniquely messed up that I couldn't reconstruct a useful tag from it.

Closing this.

(BTW, we've never returned the minor version correctly. We typically return the major version, but 0.13.1 was, erm, special and a complete re-release.)

[2015-03-24 21:25] #5868 closed

[2015-03-24 21:44] fabioy commented on #5866
The good news/bad news on this is that there is a rate limiter in the API server (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/handlers.go#L70), but the defaults for it seem too high: 10 qps average, 200 burst (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cmd/kube-apiserver/app/server.go).

We could start by lowering the burst level to something smal

[2015-03-24 21:51] quinton-hoole commented on #5866
I think that we need limits on the number of outstanding requests, not the number of QPS.

[2015-03-24 21:51] satnam6502 opened #5873 "Bad error message about existing namespace returned during pod creation"
While running one of my soak tests I noticed the error message:
[code]
I don't see why I should get this error message. Why should it matter if the namespace already exists? It was created as part of the service creation call just beforehand. And the second attempt to create this pod in exactly the same namespace works. Is this a bug?

[code]

[2015-03-24 21:54] satnam6502 commented on #5873
Running a second time did not produce this error.
[code]

[2015-03-24 22:03] fabioy commented on #5866
@quinton-hoole -> An max outstanding would be useful. But it may force us to have separate buckets for different types of requests, i.e. a small number of long running requests causing API server to reject short requests.

@smarterclayton -> Heard that you might be looking into adding support for flow control (or something like it?). We may need it soon to help avoid bugs like runaway node status

[2015-03-24 22:03] ArtfulCoder opened #5874 "Scheduler should look at the tuple of <HostIP, HostPort Number, Protocol> while scheduling pods"
Kube-Scheduler should look at the tuple of <HostIP, Port Number, Protocol> while determining which nodes are available to run a  pod.
Today, we only look at the Port Number and a result, are over-aggressive in disallowing a pod from being run on a node.

For e.g if pod1 is using udp on port 8080, and pod2 is using tcp on port 8080, both pods can go on the same host and hostIP.
But today, pod1 and

[2015-03-24 22:07] thockin opened #5875 "kubectl describe services should include protocol"

[2015-03-24 22:08] bgrant0607 commented on #4075
@gmarek @davidopp Would it help to have a discussion about this?

[2015-03-24 22:12] satnam6502 opened #5876 "Calls through proxy take wildy varying amounts of time plus too many open files errors"
Running my `server_hostnames` test I notice a big variation in the amount of time it takes to make a proxy call via a service and several (3 + 2) of the requests result in `too many open files` errors and in 9 cases the endpoint was not found.
[code]

[2015-03-24 22:13] smarterclayton commented on #5866
I had not - the things we were looking at were the bastion changes to apiserver which will break logs and proxying into their own rest resources so they can be granularly controlled.  Being able to timebox and classify requests differently would be good.

----- Original Message -----

[2015-03-24 22:33] #5615 closed

[2015-03-24 22:54] mikeln commented on #5737
Update the cassandra example to pick up recent changes. #5857
Incorporates the corrected code, jar, and yaml.
My testing indicates that the issue has been fixed.

[2015-03-24 22:56] roberthbailey commented on #129
I created a new cluster on GCE using default settings to do an audit of our current state of intra-cluster communication security.

I started by looking through the open ports (using `netstat -an`).

The master is listening on a variety of TCP ports, but many of these (7001, 10250, 10251, 10252, 2380, 8080) are only bound to the loopback address and thus wouldn't result in any communication traver

[2015-03-24 22:57] jayunit100 opened #5879 "update getting-started-guides/fedora/ ansible instructions."
I recently went through the ansible instructions, and I got them working using [https://github.com/eparis/kubernetes-ansible/blob/master/old-network-config/hack-network.yml](this old recipe which doesnt use flannel, but instead, uses network manager).

Looks like the flannel directions is the preferred way.  Just noting this and maybe @eparis can help to revise my README updates

[2015-03-24 22:58] vishh opened #5880 "Heapster scalability testing"
Heapster must be tested to ensure that it meets our v1.0 scalability goals - 100 node clusters (#3876) each running 30 - 50 pods each (#4188). A soak test might also be very helpful.
Some of the interesting signals to track includes,
- Heapster uptime
- Kubelet stats API latency
- API server watch errors
- Monitoring Backend (GCM) write errors, QPS
- Total number of metrics being handled
- Heapste

[2015-03-24 23:09] roberthbailey commented on #5879
@jayunit100 Do you have a PR in flight to update the README?

[2015-03-24 23:10] jayunit100 commented on #5879
no i dont.

[2015-03-24 23:15] jlowdermilk commented on #5509
Hi @siddhsuper. Sorry for the delay getting back to you, and glad to hear the RESTClient is working for you.

I did some testing with service schema you posted above, and I believe the reason it's failing on the first request is because you have "createExternalLoadBalancer": true, which tends to take a longer time. I was able to create the same service without an ELB using plain js thru the api, a

[2015-03-24 23:15] fabioy commented on #5866
@smarterclayton - Ah, np, I probably misheard.

[2015-03-24 23:26] bprashanth opened #5884 "Improve replication controller manager performance"
This is an umbrella issue to address replication controller/manager performance that might matter for 1.0. In broad strokes:
* Performance of `stop` Is limited by a 3s polling interval. This needs to be a watch. We cannot currently watch specific fields of an rc (https://github.com/GoogleCloudPlatform/kubernetes/issues/5745). We *could* also watch a subresource endpoint (https://github.com/GoogleC

[2015-03-24 23:33] dchen1107 commented on #5638
I agreed with @vishh on priority of issues.

[2015-03-24 23:40] brendandburns commented on #5850
Closing as the parse ignoring unknowns is working as intended given --validate, and the moving of examples to v1beta3 is documented elsewhere.

[2015-03-24 23:40] #5850 closed

[2015-03-24 23:46] roberthbailey commented on #5737
Fixed by #5857.

[2015-03-24 23:46] #5737 closed

[2015-03-24 23:52] roberthbailey commented on #5722
I just looked at Jenkins and this test now says that it has failed 2 times in the last 30 runs. If this isn't resolved, it's probably not a P0 any longer.

[2015-03-24 23:58] satnam6502 opened #5888 "Asked for passphrase while creating cluster"
[code]

[2015-03-24 23:59] simon3z opened #5889 "Stricter server-side validation of JSON entities"
In issue #5850 we mentioned that we may consider a stricter validation of the JSON entities (explicitly failing on unknown fields instead of ignoring them).

[2015-03-24 23:59] quinton-hoole commented on #5722
Ack.
On Mar 24, 2015 4:53 PM, "Robert Bailey" <notifications@github.com> wrote:

[2015-03-25 00:03] simon3z commented on #5889
Sorry @brendandburns I just noticed that you closed #5850, do you think that this issue should be closed as well? In https://github.com/GoogleCloudPlatform/kubernetes/issues/5850#issuecomment-85681865 @bgrant0607 mentioned:

so I thought that it was worth to keep track of the possibility for a better server-side validation.

[2015-03-25 00:07] satnam6502 opened #5890 "Failed to validate a 50-node GCE cluster"
An instance of `validate-cluster.sh` failed.
[code]

[2015-03-25 00:08] satnam6502 commented on #5890
A second attempt got a little further before giving up.
[code]

[2015-03-25 00:18] dchen1107 opened #5891 "TestGetSetPods is flaky"
--- FAIL: TestGetSetPods (0.00 seconds)
	pod_manager_test.go:73: pods are not set correctly; expected []api.Pod{api.Pod{TypeMeta:api.TypeMeta{Kind:"", APIVersion:""}, ObjectMeta:api.ObjectMeta{Name:"taco", GenerateName:"", Namespace:"default", SelfLink:"", UID:"999999999", ResourceVersion:"", CreationTimestamp:util.Time{Time:time.Time{sec:0, nsec:0x0, loc:(*time.Location)(nil)}}, DeletionTimestamp

[2015-03-25 00:19] dchen1107 commented on #5891
cc/ @yujuhong

[2015-03-25 00:23] davidopp commented on #5884
@bgrant0607 can you remind me which of these you were telling me yesterday you thought was the most important (or maybe it's something that isn't on the list). I've forgotten.

[2015-03-25 00:34] bprashanth commented on #5884
There's also an alternative to 3, which is list all pods *once* per tick instead of once per controller per tick. Feels like we're close enough to the watch-pod-status solution that we should just go for that (we default to using the podcache today but it's feature flagged: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/master/master.go#L384).

[2015-03-25 00:38] #5779 closed

[2015-03-25 00:46] yujuhong commented on #5891
I just noticed that. The order of pods in the list is non-deterministic and should not be compared directly. Will upload a fix soon.

[2015-03-25 00:53] dchen1107 commented on #5864
Found the bug in the code, will sent out fix shortly.

[2015-03-25 01:13] hurf opened #5895 "Check protocol of port defined in service and pod"
I created a service with following template

	id: webserver
	kind: Service
	apiVersion: v1beta1
	protocol: UDP
	port: 8888
	containerPort: testport

But in the in pod behind the service the port is defined using TCP protocol

 	ports:
      - name: testport
        protocol: TCP
        containerPort: 80

I think it should throw an exception rather than allow the service to be created. Though curr

[2015-03-25 01:30] bgrant0607 commented on #5889
I think it's a reasonable request, though not something we plan to implement soon.

[2015-03-25 01:56] thockin commented on #5895
The proxy supports both TCP and UDP (it runs DNS, which is UDP).

Making the service not match the pods is an error, but very hard to catch
statically because the pods that back a service can change dynamically.  We
do not intend to do protocol conversion.

This basically leaves the option of logging when a pod's named port doesn't
match a Service, which probably slips through today.

We'll need t

[2015-03-25 01:57] ironcladlou commented on #1743
Updated draft containing more details at https://github.com/openshift/origin/blob/master/docs/proposals/post-deployment-hooks.md.

[2015-03-25 02:04] nikhiljindal commented on #4958
How are we generating that URL? Can we append a "/" at the end while generating the URL?
Doing a redirect or auto-adding "/" in the proxy for all requests could break other requests.

[2015-03-25 02:10] yifan-gu opened #5896 "Unnecessary killing of the pod infra container."
Currently, we evaluate whether the `pod infra container` should be killed by computing each container's hash and compare them with the running container's hash. If any of them has changed, then we mark the `pod infra container` to be killed.

Instead, how about just comparing the expecting pod infra container's hash with the running one's? If nothing has changed, then we don't need to bother with

[2015-03-25 02:28] hurf commented on #5895
Can we just compare the protocol section of the two ports and if not match then throw an exception?

I saw in pkg/service/endpoints_controller.go line 211 it verified the name, can we just add an comparison of protocol?

[2015-03-25 02:45] thockin commented on #5895
Yeah, but I am pretty much rewriting all of this code to support multiple
ports.  If it is easy I will just add it in.  If not, this bug will serve
as a reminder :)
On Mar 24, 2015 7:28 PM, "Victor HU" <notifications@github.com> wrote:

[2015-03-25 02:53] bgrant0607 opened #5897 "Apiserver proxy rewriting not useful for intra-cluster links"
Forked from #4440.

The apiserver proxy uses httputil.NewSingleHostReverseProxy. This rewrites URLs to a fixed scheme, host, and base path. This is not smart enough to facilitate translation of links to other (intra-cluster) services, pods, and nodes, which are all proxy-able directly. In fact, if someone puts the correct proxy links into their pages, the links are munged and broken by the reverse

[2015-03-25 03:47] vishh commented on #4958
The URL is not generated anywhere. It is assumed that
'/proxy/service/<service name>' would work.

On Tue, Mar 24, 2015 at 7:04 PM, Nikhil Jindal <notifications@github.com>
wrote:

[2015-03-25 04:05] bgrant0607 commented on #5884
Whether indexed or not, we shouldn't be doing a list of all matching pods per replication controller.

Whether watching pod status or listing pods once per tick, we need to move to a model where the appropriate replication controller's count is updated based on the existence (or deletion) of a particular pod.

@fgrzadkowski Is posting of pod status from kubelet really conditional?

[2015-03-25 04:34] zmerlynn commented on #5722
It's not resolved simply because I occasionally have to go clean out ELBs if one of the things fails. However, it's not as critical as it was, true.

[2015-03-25 04:39] zmerlynn commented on #5888
I presume you use screen or some other civilized terminal manager (or this was in a window). Do you know what was asking for the passphrase? I have never seen this and have no repro (Jenkins is green).

[2015-03-25 04:41] zmerlynn opened #5902 "hack/e2e.go event stream busted after pflag merge"
This is the script that runs to capture event output during e2e runs: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/hack/e2e-internal/e2e-watch-events.sh

It's failing after the recent pflag merge:
[code]

[2015-03-25 04:42] zmerlynn commented on #5902
cc @jlowdermilk @brendanburns

[2015-03-25 04:43] zmerlynn commented on #5902
Or something. I might be completely off. But something broke it recently enough, and I know @brendanburns like his event log.

[2015-03-25 04:43] satnam6502 commented on #5888
This was in `screen` of course.

S

[2015-03-25 04:44] satnam6502 commented on #5888
Repo? I am King of the Unreproduceable.

[2015-03-25 04:45] #5891 closed

[2015-03-25 04:45] zmerlynn commented on #5888
When it asked for a passphrase, did you ps to see what the heck was running? It's almost acting like `ssh-keygen` or that ilk, but I can't see anything that would act like that.

[2015-03-25 04:56] satnam6502 commented on #5888
No. Life is too short.

[2015-03-25 05:02] satnam6502 commented on #5888
@erictune

[2015-03-25 05:13] roberthbailey opened #5904 "No error message for creating a pod with an incorrect image name"
When putting in a bad image name (like "docker/busybox") there is no actionable error. Instead, the pod's status stays at pending indefinitely.

/cc @MikeJeffrey

[2015-03-25 05:24] smarterclayton opened #5905 "`kubectl describe` should be using resource.Builder so you can describe multiple things"
For debugging it would be useful to be able to

    $ kubectl describe pods --all

or

    $ kubectl describe pods,services -s mylabel=value

Just needs to support resource.Builder

[2015-03-25 05:27] smarterclayton opened #5906 "`kubectl get` etc. should support a `-o name` (or similar option) for showing only kind/name, and make mutations more verbose by default"
With #5903 commands will support "resource/name" as an arg, which means having -q (show only type/name) becomes valuable for chaining:

    $ kubectl get pods -q | grep "-builder" | xargs kubectl delete

[2015-03-25 05:32] bprashanth commented on #5884
`Status.Replicas` is already updated upon creation/deletion of a replica in the controller manager. The posting of the pod status isn't conditional if I've understood this PR correctly (https://github.com/fgrzadkowski/kubernetes/blob/336525a27d3a815954bf67792ae83d88c5e33096/pkg/kubelet/kubelet.go#L571), the use of the pod cache is (@fgrzadkowski correct me if I'm wrong). I'd rather not have to gue

[2015-03-25 05:38] roberthbailey commented on #5888
What happens if you run `gcloud compute ssh <instance>`? I'm guessing that your ssh key went missing and gcloud is trying to regenerate it because right after we create a cluster we use gcloud to scp the SSL keys down so that we can verify the self signed cert presented by the server when connecting with kubectl.

[2015-03-25 05:40] vijayshinvabk commented on #5835
This was happening because I had run **sudo su**

[2015-03-25 05:41] a-robinson commented on #5888
Yeah, this is gcloud at work. It's happened to me a bunch in the past.

[2015-03-25 05:44] roberthbailey commented on #5835
Does that mean this is no longer an issue?

[2015-03-25 05:47] a-robinson commented on #5722
It's not resolved, but should be less considerably less flaky with the increased timeout that got added this afternoon.

[2015-03-25 05:50] vijayshinvabk commented on #5835
Yes you can close it. Running **kube-up.sh** after **sudo su** had caused the issue.

[2015-03-25 06:03] siddhsuper commented on #5509
Thanks @jlowdermilk I have already tried with the ELB = false,
But we need some error code/message to proceed.

[2015-03-25 06:11] vmarmol commented on #5896
We should only need to restart the pod infra container with network-related changes since those would need for it to restart. Today we don't have the logic in place to only recognize these changes so we're conservative by default and restart on *any* change. We can certainly improve this.

Marking as P2 since I think we can live with the current behavior. @dchen1107 let me know if you disagree :)

[2015-03-25 06:13] vmarmol commented on #5770
A work item for us may be to support official multi-arch images on the kubernetes repo.

[2015-03-25 06:37] roberthbailey commented on #5835
Great! I'm glad you were able to find a fix.

[2015-03-25 06:37] #5835 closed

[2015-03-25 06:45] you-n-g commented on #5275
@bgrant0607  I've updated [my proposal](https://github.com/you-n-g/gsoc2015/blob/master/proposal.md) and submitted it to melange. :)

[2015-03-25 06:50] #5888 closed

[2015-03-25 07:13] bgrant0607 commented on #4075
The following pattern is being applied to all our API objects, currently most complete in Node and Pod.

Lots of early discussion about "states" (or lack thereof) was in #1365. Note that no field is called "state". That's deliberate, as is the lack of a complex state-machine model.

The Phase is a monotonically progressing lifecycle phase. The intent is to keep the set of phases very small, such a

[2015-03-25 07:19] yifan-gu commented on #5896
@vmarmol Agree! So I think by comparing the hash of the `pod infra container` is enough to recognize the network-related changes. I'm willing to start work on this if you don't have objections :)

[2015-03-25 07:29] bgrant0607 commented on #2726
Quick status AIUI:
* Subresource paths are now supported by the apiserver library
* Binding has been converted to a subresource
* Pod status is posted from Kubelet to apiserver via a subresource
* Node status is posted, but not via a subresource AFAIK; Node is being ported to generic etcd, though #5441
* Replication controller status is posted, but not via a subresource #4909
* Service doesn't yet

[2015-03-25 07:53] hurf opened #5907 "Find portalIP automatically while updating a service"
When I tried to update a service to change its port. Kubectl said `spec.portalIp: invalid error ""`

I viewed detailed information of the service and added `portalIp` with the same value as current service in the template and solved the problem.

But since the `portalIp` is automatically allocated when the service is created. Why users must provide `portalIp` explicitly while updating? And also th

[2015-03-25 07:58] volyihin commented on #4259
Is this issue #3692  still actual? Can I take part in designing this feature during gsoc?

[2015-03-25 08:45] abonas commented on #5850
@brendandburns , @bgrant0607 what about REST api users? they can't pass --validate

[2015-03-25 09:20] fgrzadkowski commented on #5884
@bprashanth is right. Use of pod_cache is conditional, but kubelet already updates pod status when it changes (PR #5714). I've already sent PR #5854 to delete pod_cache completely.

[2015-03-25 10:35] gmarek opened #5908 "Where to keep Nodes Capacity"
Currently it's being kept in NodeSpec, and it is being "updated" (hopefully always to the same value, but who knows) in tryUpdatePodStatus in Kubelet. In https://github.com/GoogleCloudPlatform/kubernetes/issues/2726#issuecomment-85896037 it is said, that we want to move Status update to post through subresource, which alone makes a lot of sense.

The question is what to do with Capacity. We can ei

[2015-03-25 11:11] #5319 closed

[2015-03-25 11:15] fgrzadkowski commented on #3139
@saad-ali - Are you working on this? If not, I'm happy to do it.

[2015-03-25 12:03] gmarek commented on #5701
This is done and everything seems to be working. Closing this issue.

[2015-03-25 12:03] #5701 closed

[2015-03-25 12:24] AAzza commented on #2098
@bgrant0607  Thank you for so detailed answer! If the 1.0 release will be around middle June, we probably will not be able to do stable transition to apiserver, so probably it will be merged after branch creation. Before this we probably can do simple tasks, like remove deprecated endpoints if they will exists still.

About client library. For now I understand for kubelet it leaves in separate fil

[2015-03-25 13:17] fgrzadkowski commented on #5872
Actually I think there is a bug in podRunning method. It never waits for PodRunning phase - it returns error on the first check. I'll send PR to fix this.

[2015-03-25 13:31] #3087 closed

[2015-03-25 13:47] xudifsd commented on #5548
@bgrant0607 @bprashanth Thanks for the pointer, I'll try to follow the progress of kubernetes, and familiar with code base, submit some PRs if possible.

Current issue in the proposal is I can't give any detail of solution or anything like that, because the situation might be different when GSoC start.

P.S. what's the best way to ask question about the code? [mail list](https://groups.google.com/

[2015-03-25 14:06] #5872 closed

[2015-03-25 14:41] erictune opened #5917 "Move kube-proxy to use authed-port instead of readonly-port."
Want to retire readonly port.  Also wanted by GKE.

 1. In cluster/saltbase/salt/kube-proxy/default change `--master=http://" + grains.api_servers + ":7080` to `--master=https://" + grains.api_servers + ":6443`, etc
 1. add a line like `fs.StringVar(&s.AuthPath, "auth_path", s.AuthPath, "Path to .kubernetes_auth file, specifying how to authenticate to API server.")` to proxy command.
 1. add a lin

[2015-03-25 14:47] smarterclayton commented on #5906
If we have -q, then we can make the default "create"/"update"/"delete"/"stop" commands be more verbose about what they are creating, which addresses #5579

[2015-03-25 14:48] jszczepkowski commented on #5241
@alex-mohr @roberthbailey
I want to start implementing solution described by @tkulczynski in the previous comment (automatic updating target polls for services by MIG). We need it for cluster resize. Are you OK with it?

[2015-03-25 14:49] smarterclayton commented on #5579
I've spawned https://github.com/GoogleCloudPlatform/kubernetes/issues/5906 which I think covers the important case you mention - if we have a '-q' (scriptable output) we can make the default output be more verbose:

    $ kubectl create -f stuff.json
    Created pod myfoo with images foo/bar:base
    Created service myfoo over labels baz=biz
    Created replication controller brave

and still have

[2015-03-25 14:50] saad-ali commented on #3139
@fgrzadkowski I am not. Removed my self as assignee. Feel free to grab it.

To avoid duplicating work, please sync with @jayunit100 and @satnam6502, I understand that they were working on a load generator (see #5447 and #5260).

[2015-03-25 14:56] gmarek commented on #5904
I believe we don't want to contact docker/some other cache when starting new container, so it probably should be reported by Kubelet in Pod status. Or do we want to make this validation in master?

[2015-03-25 14:56] multilinear commented on #5872
Indeed... my hostname is "slate", all lower-case, and this is on linux. I should've mentioned that.

But, it looks like you already caught the real race. Thanks for the fix!

[2015-03-25 15:04] zmerlynn commented on #5890
I need to file a bug, but the real answer is "why is validate-cluster.sh
still not using the /validate endpoint"? We should add a `kubectl healthy`
or some such and thunk the script to that after verifying that /validate is
covering everything the script does. Issue incoming when I'm not in the air.
On Mar 24, 2015 5:09 PM, "Satnam Singh" <notifications@github.com> wrote:

[2015-03-25 15:05] zmerlynn commented on #5871
What is the priority on this? Multiple MIGs would have a lot of ripples in
the code.
On Mar 24, 2015 1:40 PM, "Robert Bailey" <notifications@github.com> wrote:

[2015-03-25 15:10] marshauf commented on #284
Thank you for the answers.

Which technology could I use for the Kubelet web UI?
cAdvisor uses bootstrap and jquery. The kubernetes web UI uses angularjs.

Would the Kubelet serve the web UI?

What should the proposal for GSoC contain? I couldn't find a template, or a list of requirements.
A project goal, timeline, biography?

[2015-03-25 15:16] rculbertson opened #5918 "If RC's ID contains a period, container continues to run after RC is stopped"
If a replication controller's ID contains a period, the docker container will continue run after you stop the controller. It will also continue to run if you instead resize the number of replicas to 0.

Steps to reproduce:
1. Take the guestbook example's [json file](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/guestbook/redis-master-controller.json), and replace the ID's

[2015-03-25 15:17] alex-mohr commented on #5871
At this point post v1.
On Mar 25, 2015 8:05 AM, "Zach Loafman" <notifications@github.com> wrote:

[2015-03-25 15:21] vmarmol commented on #284
Use AngularJS please, we'll be consistent within Kubernetes (if anything we want to re-write cAdvisor in Angular). The UI will indeed be served by the Kubelet.

@bgrant0607 do we have a template?

Project goal is to create a Kubernetes node user interface allowing introspection into the node and it's workloads. Assisting in visualization and debugging of the current state and possible issues.

Req

[2015-03-25 15:26] vmarmol commented on #2098
@AAzza the half-way point with internal improvements sounds like a good idea. It sounds like you want to do the public-facing changes first (before 1.0) to allow for the internal cleanups to happen in between. This should give us flexibility going forward. One concern would be how documented that versioned API would be. Initially we could do it manually before we move onto swagger-based docs.

Let

[2015-03-25 15:31] roman-shuhov opened #5920 "Error when trying to create service with createExternalLoadBalancer field"
This issue only appears in google cloud. When i try to add guestbook service from the example https://cloud.google.com/container-engine/docs/guestbook

[code]

I got error

[code]

if i remove this field, command executes without errors

[2015-03-25 15:41] erictune opened #5921 "Securing kubernetes-ro use cases"
We'd like all communications to the apiserver to be over https and with authorization.
Kubernetes-ro does not meet these standards.

This bug is about things that use the kubernetes-ro service or the KUBERNETES_RO_* env vars.
kube-proxy is discussed separately in #5917 since it explicitly uses port explicitly 7080 and has a straightforward fix.

## Existing Uses
Use cases for kubernetes-ro
   1. c

[2015-03-25 15:42] erictune commented on #129
1. Fixing port 7080 and kubernetes-ro
   1. Fix kube-proxy to use 6443 instead of 7080: #5917
   1. Fix things that use kubernetes-ro service and KUBERNETES_RO env vars, including kube2sky, elasticsearch, and several examples. #5921

[2015-03-25 15:43] fgrzadkowski opened #5922 "Etcd not cleaned properly in integration test"
Integration tests run the same test for v1beta1 and v1beta3. Sometimes second run fails complaining:

```etcd appears to already be running on this machine. Please kill and restart the test.```

This causes some flakes in travis/shippable. We should wait for the clean shutdown of the first run and only then start the second one.

[2015-03-25 15:48] jayunit100 commented on #3139
I'm currently using k8petstore generators from asf bigtop to do this, you can read about them here ( https://github.com/apache/bigtop/tree/master/bigtop-bigpetstore/bigpetstore-transaction-queue  ).  I think they can be recomposed in many different ways.  To generate the load, I'm using the k8petstore app in `examples` and currently working to make the e2e tests able to run arbitrary examples/ app

[2015-03-25 15:49] vmarmol commented on #5896
@yifan-gu it's a bit harder than that sadly because the network information is spread across the containers. The pod infra container does not have an api.Container object for itself.  I think the approach we need to take is to identify a class of fields in api.Container that are relevant to the pod infra container and then see if any of those changed.

From looking at api.Container, it looks like

[2015-03-25 16:08] dchen1107 commented on #5896
We have one pod infra container per Pod, which does porting mapping for all user containers. One could do is having a sorted list of ports coming in PodSpec, and comparing it the existing port mapping list to decide if we need to kill pod infra container.

It is P2 indeed.

[2015-03-25 16:09] jayunit100 commented on #4897
Is 0.0.0.0 valid?

[2015-03-25 16:10] roman-shuhov commented on #5920
is it possible to fix in any way? Any workarounds?

[2015-03-25 16:10] bgrant0607 commented on #5908
Capacity should be 100% observable from other sources: machine database, cloud provider, the node itself. Therefore, it should just be in NodeStatus.

[2015-03-25 16:13] fgrzadkowski commented on #3139
@jayunit100 I only started looking at this, so let me first understand we already have :) Sync would be great!

[2015-03-25 16:14] bgrant0607 commented on #5850
@abonas: @simon3z filed #5889 for server-side validation.

[2015-03-25 16:17] #2947 closed

[2015-03-25 16:18] quinton-hoole commented on #5722
I also plan to make each invocation run in a new namespace, which will make
it still more robust (but leakage will still eventually consume GCE
quota).  And derekwaynecar@ nearly has namespace deletion working (so we'll
be able to delete whole k8s namespaces, which will help me to cover the
case where the cleanup code in the test fails). And I think we almost have
asynchronous ELB creation/deletio

[2015-03-25 16:18] jlowdermilk commented on #5902
That command is actually invalid. `--watch-only` is a flag on the `get` command, not the root. Fix in #5925

[2015-03-25 16:18] gmarek commented on #5908
Ok, I'll write a PR moving it to Status tomorrow.

[2015-03-25 16:23] fgrzadkowski commented on #4897
No it's not. See #5319 and #5508.

[2015-03-25 16:25] quinton-hoole commented on #5509
Issue 5180 should fix this real soon now by deferring external load balancer creation to be asynchronous w.r.t. the k8s API call.  cc @a-robinson in case he wants to add anything here.

[2015-03-25 16:25] #5922 closed

[2015-03-25 16:32] quinton-hoole commented on #5920
What version of kubernetes are you running?

[2015-03-25 16:36] roman-shuhov commented on #5920
v0.12.2

[2015-03-25 16:37] rrati opened #5927 "Expose container failures as events"
It appears the the status reflected in kubernetes via 'kubectl get pods' isn't always correct.  I'm seeing pods start on the minions then the app container (nginx in this case) dies while the pause container stays running.  The app container is continually restarted and continually dies 1-2 seconds after it starts.  The status for this pod in kubernetes is Running, but clearly that is not the case

[2015-03-25 16:39] yifan-gu commented on #5896
@vmarmol Yes. But I think since we have the `*api.Pod` as input for syncPod, so we can create the expected `api.Container` for the pod infra container, then we are able to compare the hash, or compare the port mappings as @dchen1107 suggested.

I am happy to tackle with this :)

[2015-03-25 16:50] vmarmol commented on #5896
SGTM @yifan-gu

[2015-03-25 16:51] dchen1107 commented on #5864
It turns out this is no bug, and it works as intended. Under current design, we treat nodeStatus as heatbeat message:

When kubelet first starts up, it post nodeStatus every 500 millisec for first 2sec for a faster cluster startup. After this, kubelet post nodeStatus every 2sec. NodeController processes those heatbeat messages, and if it missed sequentially continuous 4 heatbeats, it will mark unr

[2015-03-25 16:51] #5864 closed

[2015-03-25 17:47] justinsb commented on #5129
So, to confirm, I am copying-and-pasting "persistentDisk" in VolumeSource of pkg/api/types.go, to "awsPersistentDisk".  And copying-and-pasting GCEPersistentDiskVolumeSource -> AWSPersistentDiskVolumeSource.  For now, API callers will need to know whether they are running on GCE / AWS / OpenStack / VMWare / Azure, and populate the correct field.

#5105 (when it lands) will then refactor this and r

[2015-03-25 17:50] #5667 closed

[2015-03-25 17:53] yujuhong commented on #5918
@rculbertson, thanks for filing the issue!

What version of kubernetes did you use? Issue #4920 should have fixed this issue (kubelet doesn't accept all valid pod names/namespaces), and I could not reproduce at HEAD.

[2015-03-25 17:59] roberthbailey commented on #5918
It looks like he's running on GKE (from the gcloud commands) so I'd hazard a guess that it's at 0.11. Which release did #4920 make it into?

[2015-03-25 18:06] derekwaynecarr opened #5933 "Namespace directory nodes are not removed from etcd"
The resource paths for each object in etcd follow a convention like the following:

[code]

The same pattern follows for all other namespace scoped resource types.

When we delete a namespace, we are properly deleting the individual resources (pod1 and pod2), but in etcd, we still get a directory node that represented what used to be that namespace's content directory.

For example, if we delete n

[2015-03-25 18:09] yujuhong commented on #5918
Uh..I missed the GKE part completely.

The commit is in release-0.13

[2015-03-25 18:25] yujuhong opened #5936 "Include domain name or not in the static pod names"
Static pods (pods from file/http sources) are named as `podName-hostname`. Because hostname can include the domain name or not, the actual pod name varies.
E.g.
`fluentd-to-elasticsearch-e2e-test-jenkins-minion-4gnu` vs
`fluentd-to-elasticsearch-e2e-test-jenkins-minion-4gnu.c.kubernetes-jenkins.internal`

Pod names are shorter and easier to read if we do not include the domain name. The downside i

[2015-03-25 18:44] #5902 closed

[2015-03-25 18:45] yujuhong commented on #5927
I think this is because kubelet sets the pod status right after syncing the containers. The syncing process'd restart the containers if necessary, and then report the good "running" status after that. Maybe we should track the crashing pods and report it back somehow?

[2015-03-25 18:48] markturansky commented on #5129
Cut/Paste "persistentDisk" and refactor to suit the AWS provider.  This provides the volume to Kubernetes.

The struct pointer can go in either/both VolumeSource and PersistentVolumeSource.  The former allows pod authors to use it directly to access a known EBS volume.  The latter makes it a provisionable resource by a cluster admin.

[2015-03-25 18:52] vmarmol commented on #175
This was fixed by #5886. Marking closed. A remaining TODO is for apiserver to use the property only if the capability exists. Will file an issue for that.

[2015-03-25 18:52] #175 closed

[2015-03-25 18:53] markturansky commented on #5129
After copying from GCE, you'll want to change your volumes GetAccessModes method.  EBS only supports ReadWriteOnce, I believe, while GCE has two modes (adds ReadOnlyMany).

[2015-03-25 18:56] smarterclayton commented on #2726
PodTemplate would support /instantiate.

I need to do some prep work for /size to allow easy implementation.

----- Original Message -----

[2015-03-25 18:59] rrati commented on #5927
I think the information needed to take action is already in the kubelet.  It A) knows that a containers state is terminated, and it knows that the docker container id is.  if the state is terminated, the pod can't be running.   If the docker container id changes something hiccuped and should be monitored for a while.  Maybe even increment a restart counter.  This information seems to be getting up

[2015-03-25 19:33] pmorie commented on #2316
@thockin @smarterclayton @bgrant0607 I believe the suggestion for Command and Args makes sense.  Thinking through the original use-case for this issue, say that I have an image which defines an entrypoint and for which I want to be able to expand env vars in the command for parameters, ie, the entrypoint is /bin/my-entry-point and I want to add arguments: --someflag ${FOO}.  If I understand correc

[2015-03-25 19:42] iantw89 commented on #3757
Hi Nikhil,

Sorry for the delay. One can find it by looking at the 'models' section in any swagger API document. https://{kubernetes_master}/swaggerapi/api/v1beta1 (or v1beta2, etc).

It looks as though array element types are always specified by $ref and non-array properties are always specified by 'type'. $ref is intended to be used for non-primitive, schema-defined types while type indicates pr

[2015-03-25 19:53] nikhiljindal commented on #3757
Yes. This will be fixed by https://github.com/GoogleCloudPlatform/kubernetes/pull/5938
Thanks!

[2015-03-25 19:55] erictune commented on #4957
Now that #5807 is in, pods can only ref secrets in the same namespace.

[2015-03-25 19:56] erictune commented on #4957
Question for @pmorie or @deads2k

In the openshift role-based access control model, can someone with Reader role in namespace N read secrets in that namespace?  Assuming so?

 - In the future, we may want finer grained permissions.

   - a role that can see pods, but not their secrets, such as a UI or monitoring component or auditor role.
   - multiple secrets in a namespace, and different visibil

[2015-03-25 20:00] smarterclayton commented on #4957
In our model, only if they have policy level access.  Read/Write secrets was reserved for "Edit".  We talked about having a default role slightly below "Edit" that was "EditWithSecrets" that allowed you to read secrets but not write them, or a "ViewSecrets" that was "View" with the added ability to see secrets.

We talked about enforcing access to secrets through a service account, by enabling an

[2015-03-25 20:00] rculbertson commented on #5918
Ah, great. Sorry for the dupe then. I didn't realize that bug was the same issue. I am using GKE. Can work around the issue until the fix is rolled out. Thanks!

[2015-03-25 20:02] #5802 closed

[2015-03-25 20:04] iantw89 commented on #3757
Rock on!

[2015-03-25 20:09] dchen1107 opened #5943 "Healthcheck kube-proxy"
We already "healthcheck" kubelet and docker periodically, but miss one for kube-proxy.

[2015-03-25 20:10] vmarmol opened #5944 "Implement auth for apiserver's use of HostNetwork"
Today the apiserver does not verify that requests for HostNetwork usage can only be allowed if the capability is set. The Kubelet checks once the pod is bound however.

We need to add the check in validation and plumb the flag through the apiserver.

[2015-03-25 20:11] quinton-hoole commented on #5864
As an aside, TCP keepalives are a very cheap way to do these sorts of remote heartbeats (all in-kernel).  Then you can potentially do low latency edge-triggered rather than level triggered event reporting.

[2015-03-25 20:16] dchen1107 commented on #5864
@quinton-hoole I raised the same point when first introducing nodeStatus as heatbeat. If I remembered it correctly, the answer is that we can evolve it later. @ddysher Correct me if I were wrong here.

[2015-03-25 20:17] erictune commented on #4957
@liggitt @pmorie @smarterclayton @deads2k
Have you thought about whether the "pod-can-use-secret" check would happen at the kubelet or the apiserver, or both?

I sort of like the idea of doing it in the apiserver, because it gives immediate feedback.

[2015-03-25 20:19] zmerlynn opened #5946 "`validate-cluster.sh` should be using `/validate`: wants `kubectl healthy`?"
We have a `/validate` endpoint that GKE has been using to validate the health of running clusters after the API server is available, similar to the `kube-up.sh` flow of `validate-cluster.sh`. There's no reason that `validate-cluster.sh` should actually do this work manually anymore - we should just go through common source. We should probably introduce a `kubectl healthy` or `kubectl healthcheck`?

[2015-03-25 20:20] thockin commented on #2316
I think that is accurate.  The CLI is not as flexible (entrypoint is a single string, sigh), but you can see

thockin@freakshow kubernetes/$ docker run -ti --entrypoint "/bin/echo" busybox "\$PWD"
$PWD
thockin@freakshow kubernetes/$ docker run -ti --entrypoint "/bin/sh" busybox -c "echo \$PWD"
/
thockin@freakshow kubernetes/$ docker run -ti --entrypoint "/bin/sh" busybox -c "X=\$PWD; echo \$X"
/

[2015-03-25 20:25] thockin commented on #2316
From IRC, we have some other options for variable expansion.

1) add a parallel to env

[code]

2) Do recursive evaluation of all env objects (docker does this in Dockerfile)

3) add a `doVarExpansion bool` flag which tells us to run `command` through a shell-compatible expansion.  We'll have to pick a syntax to support (sh, bash, tcsh, etc).

[2015-03-25 20:25] #3757 closed

[2015-03-25 20:26] zmerlynn commented on #5890
Filed #5946.

That said, there seems to be a real issue here, too. Obviously this shouldn't fail validation, either. :(

[2015-03-25 20:28] eparis commented on #5290
the whole file is gone, the problem was temporary.

[2015-03-25 20:28] #5290 closed

[2015-03-25 20:28] timothysc commented on #5290
Temporary transient issue..  Closing now, will reopen if seen again.

[2015-03-25 20:29] erictune commented on #5095
I have it on good authority that the sysctls in `netns_core_table` in [`net/core/sysctl_net_core.c`](http://lxr.free-electrons.com/source/net/core/sysctl_net_core.c?v=3.10) are namespaced, and the others, which are in `net_core_table`, are not.  As of 3.10, only `somaxconn` is per-netns.

[2015-03-25 20:29] satnam6502 commented on #5890
I tore the cluster down and then re-built it -- which worked fine.
However, I agree, whenever we notice validation failure we should record it somehow or take note.

[2015-03-25 20:29] thockin commented on #5936
How do you get the node name from hostname?  The hostname spec is unclear
whether it includes domain or not.  You could just take the first token, I
suppose.

On Wed, Mar 25, 2015 at 11:25 AM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-03-25 20:34] erictune commented on #4950
You can work around this by treating volumes as immutable and giving them unique names every time.  Lowering priority.

[2015-03-25 20:36] roberthbailey commented on #5920
Unfortunately that is a known issue with 0.12.2 on GKE that we found
shortly after making it available. We've since pulled that release from GKE
but clusters that are still running it won't be able to create external
load balancers.

Your best bet is to create a new cluster (the default is now 0.13.2) which
has this bug fixed.

Sorry for the trouble.

Robby

On Wed, Mar 25, 2015 at 9:36 AM, T3[rm]

[2015-03-25 20:36] roberthbailey commented on #5918
@rculbertson - 0.13.2 is now available on GKE. There is not yet any upgrade path, so you'll need to create a new cluster at which point you should no longer see this bug.

[2015-03-25 20:38] dchen1107 opened #5948 "Kubelet publish node components' version"
Forked from #4855, and required for rolling upgrade:

Kubelet should report cross-products version, such kernel, docker, kubelet, kube-proxy, image, etc. to API server.

cc/ @zmerlynn

[2015-03-25 20:39] yujuhong commented on #5936
Kubelet uses `hostname -f` to get the fully qualified domain name, but user can also override the hostname if they want by passing it to the config.

My question was more about whether we should grab the first token, or we should consider the possibility of nodes from different domains :)

[2015-03-25 20:42] erictune commented on #4567
#5921

[2015-03-25 20:42] erictune commented on #4567
#5917

[2015-03-25 20:44] thockin commented on #5936
I think it's reasonable to assume (and document) that hostnames must be in
the same domain or else the user must override.

I *think* that is sane..

On Wed, Mar 25, 2015 at 1:39 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-03-25 20:54] smarterclayton commented on #2316
I want 1 or 2 so that we force users to explicitly declare downward API vars without having to parse arbitrary commands.

----- Original Message -----

[2015-03-25 20:55] ddysher commented on #5864
Based on the log timing, it's just for faster startup, like @dchen1107 said.

As to performance, yes, we wanted to evolve it later (which is 'now').

[2015-03-25 20:55] #5918 closed

[2015-03-25 21:05] dchen1107 opened #5953 "Measure and optimize push-based heartbeats from Kubelet to NodeController"
Kubelet POST nodeStatus every 2sec as heatbeat message now. NodeController will make decision or fix up the node phase based on those status message. But there is no need to write NodeStatus to etcd server every 2 sec.

cc/ @ddysher @bgrant0607 @davidopp

[2015-03-25 21:09] endrjuskr commented on #5706
On latest version I encountered similar issue:
[code]

OS - Mac OS 10.10.2
Go version - 1.4.2
`make clean & make release` didn't work for me

[2015-03-25 21:12] pmorie commented on #2316
@smarterclayton @thockin I'm personally leaning towards 2, I don't love adding a second env that acts differently.

So, I think then the requirements for this issue have turned into:

1.  Add `Args` field and implement the semantics for `Command` and `Args` as defined above
2.  Handle env substitution, either via a new `evalEnv` or by recursively evaling all envs.

For 2), we need to say exactly w

[2015-03-25 21:13] nikhiljindal commented on #1473
Fixed by https://github.com/GoogleCloudPlatform/kubernetes/pull/5687.
We will now test both the versions in test-go and test-integration when run locally.
On travis, we will test "v1beta1" with go 1.4 and "v1beta3" with go 1.3.
You can change the versions being tested using KUBE_TEST_API_VERSIONS env variable.

[2015-03-25 21:13] #1473 closed

[2015-03-25 21:19] nikhiljindal commented on #5496
Any update? It seems to be failing a lot.

[2015-03-25 21:28] smarterclayton commented on #2316
If we pick that route we should define the scope for downward api as:

ENV var substitutions starting with K8S_API_* that appear in the ENV section of your container.  No automatic downward API replacement will occur in Args or Command. Downward API env is only substituted if an equivalent name was not defined in the same env block.

Prefix open for arguments.

[2015-03-25 21:30] pmorie commented on #2316
@smarterclayton Do you mean to say downward API values are scoped only to explicit ENV entries?  If so, that sounds good to me.  Put another way, I think it equates to, you have to specifically declare a var to hold info from the downward API, right?

[2015-03-25 21:31] nikhiljindal commented on #4083
All errors except the "API requires path parameter but it is not defined" should now be fixed by
https://github.com/GoogleCloudPlatform/kubernetes/pull/5938

[2015-03-25 21:40] smarterclayton commented on #2316
Yes - you have to say:

    { "name": "FOO", "value": "${K8S_API_POD_NAME}" }
    { "name": "FOO", "value": "bar${K8S_API_POD_NAME}" }
    { "name": "K8S_API_POD_NAME", "value": "${K8S_API_POD_NAME}" }

in order to get a podname.

----- Original Message -----

[2015-03-25 21:41] erictune commented on #2877
Okay, I agree we should do this.

We should define a mapping from "Request" to "PolicyVerb" which automatically works on new Kinds without special code.

Does OpenShift already have something for this?  If not, I suggest following mapping of Request to PolicyVerb:
   - GET /api/Ver/Kind/Name :arrow_right:  `get`
   - GET /api/Ver/Kind :arrow_right:  `list`
   - POST or PUT new object :arrow_right:

[2015-03-25 21:52] mbforbes commented on #5706
It looks like the problem is that where it is being built, it can't access the Internet:

[code]

[2015-03-25 21:52] pmorie commented on #2316
@smarterclayton @thockin I will start working on this; I'll start with `Args`

[2015-03-25 21:52] thockin opened #5955 "Flip args in ValidateUpdate"
As per @smarterclayton the args to ValidateUpdate should be "old, new" rather than vice-versa as it is.  This ripples out to all the implementations of this function.

[2015-03-25 21:52] vishh opened #5956 "Scheduling takes more than 3 minutes on a new cluster"
With a cluster built from head on `03/25/15`, scheduling takes more than three minutes. Are there any recent uncaught regressions?

[code]

[2015-03-25 21:55] vishh opened #5957 "Events are missing from kubectl describe pods"
`kubect get events` works.
But `kubectl describe pods` does not display events.

This behavior was observed on a cluster built from HEAD on `03/25/15`

[code]

[2015-03-25 21:56] pmorie commented on #386
We did some discussion on this topic starting around here: https://github.com/GoogleCloudPlatform/kubernetes/issues/2316#issuecomment-86202868

[2015-03-25 21:57] pmorie commented on #2316
@smarterclayton @thockin As far as downward API resolution, I'll initially just support POD_NAME and we can add other pieces of info as we define exactly what's in the API.

[2015-03-25 22:01] erictune commented on #2502
#4849

[2015-03-25 22:02] erictune commented on #4849
Suggest making this a "capability" as described in #2502

[2015-03-25 22:05] #2448 closed

[2015-03-25 22:05] erictune commented on #2292
.kube directory supports multiple clusters.

[2015-03-25 22:05] #2292 closed

[2015-03-25 22:07] endrjuskr commented on #5706
'godep' is already installed on system and machine is connected to internet.

I was able to build kubernetes about one week ago on same machine.

[2015-03-25 22:17] erictune commented on #128
This audit was done and reported in #129

[2015-03-25 22:33] vmarmol commented on #5927
It does sound like we need better support for identifying and handling frequent crashes.

At the very least I see the need to surface container failures in events. We show containers starts today, but failures can more clearly identify problems. Longer term, we probably need to identify frequent crashes and either evict the pod or change its status to something that reflects the issue (eviction is

[2015-03-25 22:36] mbforbes commented on #5706
This could be wrong, but I think sometimes the build happens inside a docker container (this shouldn't be hard to verify).

If you're inside a docker container, can you access the Internet?

[2015-03-25 22:40] dchen1107 commented on #5957
This is a regression. Looking into it now.

[2015-03-25 23:00] mbforbes commented on #4406
I believe this is resolved.

[2015-03-25 23:00] #4406 closed

[2015-03-25 23:25] roberthbailey opened #5962 "etcd on the master should only be accessible from localhost"
Forked from #129.

Right now it binds to 0.0.0.0.

[2015-03-25 23:27] roberthbailey opened #5963 "kube-proxy healthz port should only be accessible from localhost"
Forked from #129.

Right now it binds to 0.0.0.0.

[2015-03-25 23:29] roberthbailey opened #5964 "influx grafana controller should be reachable securely"
Forked from #129.

Right now it listens on an HTTP port.

[2015-03-25 23:30] roberthbailey opened #5965 "elastic search logging controller should be reachable securely"
Forked from #129.

Right now it listens on an HTTP port.

[2015-03-25 23:34] roberthbailey opened #5967 "cAdvisor should only be accessible from localhost"
Forked from #129.

Right now it binds to 0.0.0.0.

[2015-03-25 23:36] roberthbailey commented on #5967
@vishh mentioned that the port is currently open because it's useful to see the cAdvisor UI.

[2015-03-25 23:37] vishh commented on #5967
Yup. The cAdvisor's UI is still useful. The kubelet can act as a proxy if cadvisor needs to run in localhost.
In any case why is this required for v1.0?

[2015-03-25 23:38] vmarmol commented on #5967
There was also concern that there are existing users (and container VM) that access the information in this API directly.

[2015-03-25 23:38] vmarmol commented on #5967
Kubelet exports the same information via its own (non-localhost) API, so we should make sure our stories sync up there :)

[2015-03-25 23:38] roberthbailey opened #5968 "cluster dns should be reachable securely"
Forked from #129.

[2015-03-25 23:40] roberthbailey commented on #129
I've split the remaining work out into smaller issues:

 - etcd on the master should only be accessible from localhost: #5962
 - kube-proxy healthz port should only be accessible from localhost: #5963
 - influx grafana controller should be reachable securely: #5964
 - elastic search logging controller should be reachable securely: #5965
 - cAdvisor should only be accessible from localhost: #5967

[2015-03-25 23:40] #129 closed

[2015-03-25 23:40] #5777 closed

[2015-03-25 23:51] rculbertson commented on #5918
@roberthbailey I recreated the cluster, and everything worked. Thanks for the help!

[2015-03-25 23:54] #5796 closed

[2015-03-25 23:56] vmarmol commented on #5967
I think we should send an e-mail to our dev list, make sure no-one is using it. If they are, encourage them to switch to Kubelet (they support pretty much the same data access). After that, we can turn down the endpoint and only worry about the Kubelet one.

[2015-03-26 00:02] roberthbailey commented on #5918
Yay!

[2015-03-26 00:11] mbforbes commented on #5861
+1, we're having to work around this on guides

[2015-03-26 00:27] a-robinson commented on #5861
@jlowdermilk

[2015-03-26 00:36] thockin opened #5972 "pkg/service is a bad place for endpoint controller"
Filing to remember to move this around later

[2015-03-26 00:40] derekwaynecarr commented on #2877
I am curious what changed your mind?  Will review what we have in OpenShift to give more detail.

[2015-03-26 00:55] yujuhong commented on #5339
@roberthbailey, the path construction was actually fixed by @lavalamp in #4778, and the fix was not included in the 0.11.0 release (it is in 0.12.0+).

[2015-03-26 01:24] preillyme commented on #4797
@saad-ali: Yes it's still happening on our test cluster.
I can add you to that project if you want to observe?

[2015-03-26 01:59] saad-ali commented on #4797
@preillyme Sure, let's sync up tomorrow.

[2015-03-26 03:05] jayunit100 commented on #5879
okay, i just created a pull for this, a quick note to disambiguate.    #5979

[2015-03-26 03:25] smarterclayton commented on #2316
Also, don't forget to define an escaping scheme (\$, $$, etc)

[2015-03-26 03:31] pmorie commented on #2316
I thought I had commented about that but apparently I did not hit enter
On Wed, Mar 25, 2015 at 11:25 PM Clayton Coleman <notifications@github.com>
wrote:

[2015-03-26 03:35] smarterclayton commented on #4957
Just thinking through it it simplifies the kubelet interaction if it can get secrets for a pod by api, although it means they may want to denormalize based on service account as a performance optimization.  Someone from our ops team asked me this the other day, and the more the kubelet has to know to do the right thing the harder it is to verify it is secure.

If there was /pods/foo/secrets or /po

[2015-03-26 03:42] ddysher commented on #5953
As discussed before, we can hold the status in memory and flush to etcd with a longer period; or we can have a rate limiter on etcd, and bypass excessive writes.

There are some other items left we need to fix after implementing the push mode, like the status subresource.  As @davidopp proposed, @gmarek will take more responsibilty for nodecontroller as a full time.  I'll discuss with him about hi

[2015-03-26 03:53] thockin opened #5981 "Flag bugs on kubectl expose"
[code]

The actual problem is that I forgot the = after --selector.

So there are two bugs.  1) I should not need the =.  2) Wrong diagnostic

[2015-03-26 06:06] roberthbailey commented on #3168
@liggit I'm finally getting some time to work on this issue and it seems like you've gotten a bit of a start for me. Thanks!

The list items above were a bit hand-wavy and weren't meant to represent consecutive PRs but rather the general plan forward, knowing that it will need to be tweaked as I dig into the details for each step. For your specific question, when the node registers with the master

[2015-03-26 06:08] roberthbailey commented on #5943
It would make sense to do #5963 (only bind to localhost) at the same time we add the healthchecking configuration.

[2015-03-26 06:30] vmarmol commented on #5657
LOL, interestingly enough this is already implemented and it was implemented ~2.5 months ago by you @thockin :)

https://github.com/GoogleCloudPlatform/kubernetes/commit/ca89aa6528c918985d3527f9b7aa76aa0c219696

Closing as fixed.

[2015-03-26 06:42] davidopp commented on #5944
@vmarmol should this be considered a 1.0 blocker?

[2015-03-26 06:47] davidopp commented on #5874
This seems more like P3 than P2, yes?

[2015-03-26 08:11] davidopp commented on #5859
From experience with our internal cluster management system at Google, I agree that many people find image pre-loading to be useful. I think we should implement this, but I think it is probably P3 given the amount of other stuff we are working on right now. I think it would not be too hard to implement in Kubernetes.

[2015-03-26 09:22] piosz commented on #5956
cc @wojtek-t @fgrzadkowski

[2015-03-26 09:26] piosz commented on #5920
Won't be fixed (unfortunately).

[2015-03-26 09:26] #5920 closed

[2015-03-26 09:55] fgrzadkowski commented on #5956
@vishh How do you measure scheduling? Just assigning host or until it is reported as Running?

[2015-03-26 11:15] gmarek commented on #4651
@thockin - as you're the one who opened this issue: do you agree that it's not in v1.0 milestone?

[2015-03-26 11:44] deads2k commented on #2877
We actually re-use a kubernetes API down here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/handlers.go#L207.  It matches what your mapping would look like pre-subresources and pre-patch.

I think the only significant different with our thinking is that since it is possible to both read and modify subresources, it might be more natural to consider them distinct resou

[2015-03-26 11:45] piosz commented on #5825
According to Jenkins:
[code]

[2015-03-26 11:45] #5825 closed

[2015-03-26 11:50] piosz commented on #4852
@bgrant0607 so you mean a generic solution for health checking, or just you are adding health check for other service. In other words should I start adding health check for DNS?

[2015-03-26 13:37] marshauf commented on #284
I submitted my proposal. Can you review it, please?

[2015-03-26 13:51] cnaize opened #5987 "Etcd and SSL"
Hello!
I have a question about `etcd` and `ssl`.

As it described here https://github.com/coreos/etcd/blob/master/Documentation/security.md, with `flannel` we can do something like this:
[code]
How to do something like this with `kubernetes`?

I see `TODO: authorization, authentication` here https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/design/security.md

Is it in plans? How

[2015-03-26 14:02] liggitt commented on #2877
How do we know whether the object exists already or not?

is `setStatus` combining a subtype with a verb? Would it be better to have the verb be `update` and the type be `Kind/Status`?

[2015-03-26 14:36] smarterclayton commented on #2877
The kind is "Kind/status".  The verb is still the same.

I have a TODO to enable admission control and others to delineate these cases, although I don't think in policy it's as important right now.  PUT is PUT is PUT.

----- Original Message -----

[2015-03-26 14:39] roberthbailey commented on #5879
Fixed by #5979.

[2015-03-26 14:39] #5879 closed

[2015-03-26 14:52] abonas commented on #4932
cc @zeari

[2015-03-26 15:00] pmorie commented on #2316
@mfojtik roping you in on the env stuff since you've done similar stuff downstream

[2015-03-26 15:00] pmorie commented on #2316
@sdminonne FYI; you'll be able to get the pod name this way instead of with `hostname`

[2015-03-26 15:07] wojtek-t commented on #3954
cc @fgrzadkowski @wojtek-t

[2015-03-26 15:09] #5943 closed

[2015-03-26 15:42] vmarmol commented on #5944
I don't think so. The behavior will be a bit weird without it: the apiserver schedules the pod, the Kubelet rejects it. But it should be rare enough that we can live with it for now. The users that want it will be setting up their customized clusters anyways.

[2015-03-26 15:45] roman-shuhov commented on #5920
just fyi, looks like it's not possible to choose kubernetes version for the container cluster and by default it installs 0.12.2 version. i also created question http://serverfault.com/questions/678498/create-google-container-cluster-with-custom-kubernetes-version

[2015-03-26 15:48] pythonpowerd opened #5991 "Hostname resolution works only in one container in pod"
Only one container in pod can access shared /etc/hosts and /etc/resolv.conf

Both containers in one pod and:
[code]
So result:
[code]

Is this normal behavior?)

[2015-03-26 15:59] zmerlynn commented on #5920
You can choose the cluster version on the command line with
--cluster-api-version:

https://cloud.google.com/sdk/gcloud/reference/preview/container/clusters/create

We have a downlevel version available (usually). Also, 0.13.2 is default as
of yesterday afternoon, and because of this issue, 0.11.0 remains our
downlevel version.
On Mar 26, 2015 8:46 AM, "T3[rm]1T" <notifications@github.com> wrote:

[2015-03-26 16:23] roman-shuhov commented on #5920
great, thanks!

[2015-03-26 16:25] andronat commented on #3060
Hello I would like to submit a GSoC proposal for this subject. I believe that UX through documentation is very important especially in large and complex project like Kubernetes (even though that this issues is a P3).

I have seen that there is a general [kubectl roadmap](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/cli-roadmap.md) and I am also aware that there is an other st

[2015-03-26 16:34] vishh commented on #5956
Until is assigned to a node. As the snapshot shows, the pod was unassigned
for more than 3 minutes. Restarting the scheduler seems to fix the issue.

On Thu, Mar 26, 2015 at 2:55 AM, Filip Grzadkowski <notifications@github.com

[2015-03-26 16:37] smarterclayton commented on #2316
Environment changes will resolve https://github.com/GoogleCloudPlatform/kubernetes/issues/4825

----- Original Message -----

[2015-03-26 16:45] smarterclayton opened #5993 "Update CLI roadmap"
[code]
Simple version is done, more complex version needs work.

[code]

Done, now that readiness corresponds to Running and is tracked by Kubelet status if the readiness hook is set?

[code]

Done

[code]

Done

[code]

Do we want to do a more generic one or a less generic one?  OpenShift was looking more at specific topical plugin commands ("add-volume", "set-default-resources"), but not sure ho

[2015-03-26 17:02] dchen1107 commented on #5987
cc/ @erictune

[2015-03-26 17:11] derekwaynecarr commented on #5972
I prefer the pattern we use in OpenShift pkg/noun/<things around that noun>

[code]

I realize that is a bigger refactor but I think it has its perks.

[2015-03-26 17:11] vishh commented on #1726
It looks like this issue has been fixed on HEAD. Kindly reopen if that's not the case.

[2015-03-26 17:11] #1726 closed

[2015-03-26 17:16] #3758 closed

[2015-03-26 17:17] jayunit100 commented on #3139
okay, lets sync up !
my email is jay@apache.rog or jayunit100.apache@gmail.com for a google hangout

[2015-03-26 17:21] #5957 closed

[2015-03-26 17:22] dchen1107 opened #5997 "HEAD: monitoring-heapster-controller container exit with error every 10 mins"
While fixing the issue #5957 on describe events for pod, I found kubelet keep restarting monitoring-heapster-controller container:

[code]

I retrieved the container log, and found it exit due to database creation failure:

[code]

I didn't follow up on why influxdb issue. cc/ @vishh

[2015-03-26 17:24] #5908 closed

[2015-03-26 17:24] vishh commented on #5997
This happens when InfluxDB service is not up. Heapster retries a few times
and then eventually fails. The plan is to avoid failing completely and keep
retrying DB creation until it succeeds and bubble up appropriate errors.

On Thu, Mar 26, 2015 at 10:23 AM, Dawn Chen <notifications@github.com>
wrote:

[2015-03-26 17:29] brendandburns commented on #3756
Fixed by #5938

[2015-03-26 17:29] #3756 closed

[2015-03-26 17:31] roberthbailey commented on #5987
We don't currently run flannel on GCE and as far as I know no one is actively working on this at the moment. The etcd instance that is used by the master will be protected by only being available on localhost (#5962) so we aren't currently concerned with making the connection to that etcd instance use https.

[2015-03-26 17:33] dchen1107 commented on #5997
Influxdb is running happily without issue on the same node:
[code]

[2015-03-26 17:34] dchen1107 commented on #5997
Related kube-proxy log:

# tail -f kube-proxy.log
I0326 17:33:31.878694    4646 proxier.go:364] Periodic sync
I0326 17:33:33.767955    4646 proxier.go:219] New UDP connection from 10.244.0.9:40902
I0326 17:33:34.197367    4646 proxier.go:219] New UDP connection from 10.244.0.9:34778
I0326 17:33:36.110974    4646 proxier.go:108] Accepted TCP connection from 10.244.0.11:39865 to 10.244.0.1:48701
E03

[2015-03-26 17:37] dchen1107 commented on #5997
It looks like a kube-proxy issue.

[2015-03-26 17:42] roberthbailey commented on #5991
/cc @thockin

[2015-03-26 17:46] rrati commented on #5927
@vmarmol I think the most important part of this is ensuring the state reflected in the master is the actual state of the pod.  If exposing the container failures in the events is intended to cause the state in the master to reflect that the pod is not running, errored, or anything other than running, then I'm fine making that the important first change and logging a separate PR for possible mitig

[2015-03-26 18:02] #5963 closed

[2015-03-26 18:12] yujuhong commented on #5927
Agreed that surfacing the errors is a good first step.

Kubelet already records the restartCount for the container (which is currently capped at 5 because of garbage collection).  https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/types.go#L604
We can potentially leverage this for detecting crash loops.

One possible way to handle the crashes is to set the pod status to failed (

[2015-03-26 18:19] thockin commented on #5991
I am not sure what would cause permission denied.  This is not the expected
behavior.  I did a quick repro attempt, but everything works for me.

[code]

Can you try the same basic steps?  what version of docker are you using?  I
am on 1.5.0.

On Thu, Mar 26, 2015 at 10:42 AM, Robert Bailey <notifications@github.com>
wrote:

[2015-03-26 18:23] #5579 closed

[2015-03-26 18:28] pythonpowerd commented on #5991
We use Docker version 1.4.1, build 5bc2ff8/1.4.1 and Kubernetes v0.12.0
I do exactly what you do:
[code]

[2015-03-26 18:30] thockin commented on #5991
try `docker exec $ID ls -l /etc` and paste here?

On Thu, Mar 26, 2015 at 11:28 AM, pythonpowerd <notifications@github.com>
wrote:

[2015-03-26 18:31] pythonpowerd commented on #5991
[code]

[2015-03-26 18:40] dchen1107 opened #6001 "kubectl describe nodes id should report related events"
`kubectl describe nodes <id>` now shows NodePhase, NodeCondition, etc. information from NodeStatus. It should also show related events like what we did for pods.

[2015-03-26 18:41] derekwaynecarr commented on #2726
Namespace Status is posted via a subresource

[2015-03-26 18:52] thockin commented on #5991
I can not fathom how you would get a permission error.  It's world
readable.  Can you try updating Docker?  Docker is the one who sets up
those bind mounts, maybe there's something funky there?

On Thu, Mar 26, 2015 at 11:32 AM, pythonpowerd <notifications@github.com>
wrote:

[2015-03-26 18:52] thockin commented on #5991
And since we can repro it without kubernetes at all, maybe we can ask
Docker people for help?

On Thu, Mar 26, 2015 at 11:51 AM, Tim Hockin <thockin@google.com> wrote:

[2015-03-26 18:55] davidopp opened #6005 "Remove syncNodeStatus==true mode from node controller"
This will allow us to rename LastProbeTime to something more accurate. Currently it means "last time we sent a probe" when syncNodeStatus==true and "last time we received a response" when syncNodeStatus==false.

[2015-03-26 19:14] pythonpowerd commented on #5991
I just tried docker 1.5 on my home machine (ArchLinux) and all works fine!
Found repo for CentOS 7 (we use it at our cluster) with docker 1.5 and try on fresh VM and...
[code]
Obviously, it's a docker + CentOS bug ((

Thanks for help!

[2015-03-26 19:14] derekwaynecarr commented on #4822
@sallyom is prototyping an openshift experimental command to let you bundle a secret from a directory, based on experience with that, we may look to push it upstream to Kubernetes for feedback

[2015-03-26 19:16] derekwaynecarr commented on #5722
@markturansky has a TODO to clean-up persistentvolumeclaims as part of namespace termination

----- Original Message -----
From: "Quinton Hoole" <notifications@github.com>
To: "GoogleCloudPlatform/kubernetes" <kubernetes@noreply.github.com>
Sent: Wednesday, March 25, 2015 12:18:52 PM
Subject: Re: [kubernetes] Test "Services should correctly serve identically named services in different namespaces

[2015-03-26 19:17] derekwaynecarr commented on #5921
@deads2k - I thought we were trying to get rid of kubernetes_auth files ;-)

[2015-03-26 19:18] derekwaynecarr commented on #5921
@liggit - FYI

[2015-03-26 19:30] zmerlynn commented on #5991
@pythonpowerd: Glad you found the issue! Since you seem to have resolved this, I'm closing this. If you have any more trouble, feel free to reopen.

[2015-03-26 19:30] #5991 closed

[2015-03-26 19:33] derekwaynecarr commented on #5873
I agree it should not matter.

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/plugin/pkg/admission/namespace/autoprovision/admission.go#L80

The error is produced there, and I suspect there were multiple concurrent calls being made that try to create a resource in a namespace that had not yet existed.

We need to update the code in question to swallow the error if the namespace alre

[2015-03-26 19:34] derekwaynecarr commented on #5873
FYI - longer term, I would like to eliminate the use of autoprovision of namespace and require you to first create a namespace manually.  what is there now is more to preserve existing behavior prior to namespace as object was introduced.

[2015-03-26 19:40] derekwaynecarr commented on #3652
I prefer the use of a query param.

[2015-03-26 19:41] bgrant0607 commented on #2316
@pmorie Re: https://github.com/GoogleCloudPlatform/kubernetes/issues/2316#issuecomment-86229381
Are you starting with splitting command and args? That is needed just to enable entrypoint overrides for any reason.

@smarterclayton Rather than define a number of ad hoc pseudo-envvars, what do you think about defining envvars from actual API field names, using jsonpath or somesuch? For example:
[code

[2015-03-26 19:44] bgrant0607 commented on #2316
Re. #4825: I don't want to encourage use of the pod name for anything other than contacting API server (or, arguably, Kubelet) to get/mutate that pod object. Something else needs to be used for a generic unique identifier.

[2015-03-26 19:46] #3622 closed

[2015-03-26 19:48] smarterclayton commented on #2316
----- Original Message -----

Interesting.  What about env vars not related to the pod (that we want to expose)?  Kubelet API version?  Kubelet URL?  Kubelet Port?

[2015-03-26 19:56] bgrant0607 commented on #2316
Pod has a Host field. I'm not familiar with jsonpath, but perhaps we could express a path relative to the value of that field. Or, define `$node` or somesuch.

I imagine we'll need to do something for services, also.

As for Kubelet info, I'm not sure we want to directly expose Kubelet info, but assuming we did, I've been thinking we'd expose local agents, including Kubelet and cAdvisor, via well

[2015-03-26 20:03] bgrant0607 commented on #2316
Use of API (json) paths has several (potential) advantages:
* Don't need to invent, document, etc. new ad hoc names for every bit of information we want to expose
* Don't need semi-custom expansion syntax/implementation
* Syntax consistent with API, field selectors, etc.
* Clear to consumers what part(s) of the API they are taking dependencies upon
* Leverages existing API versioning machinery

[2015-03-26 20:05] bgrant0607 commented on #2316
Also, we may want to use a similar mechanism to default other fields of API objects in the future.

[2015-03-26 20:07] rjnagal commented on #4992
Fixed by #5929

[2015-03-26 20:07] #4992 closed

[2015-03-26 20:24] smarterclayton commented on #2316
Do they have to ask for a specific version for that, I.e $.v1beta3.metadata.name?

[2015-03-26 20:24] thockin commented on #5657
No, I fixed orphaned volumes, but this is about the pod directories.  I was able to manually win the race and have a pod dir that never gets cleaned up even though the pod is long gone.

[2015-03-26 20:26] #5873 closed

[2015-03-26 20:32] sdminonne commented on #341
@bgrant0607 I submitted https://github.com/GoogleCloudPlatform/kubernetes/pull/5919  as a step to bring `labels.Selector

[2015-03-26 20:32] bgrant0607 commented on #2316
It's in the context of an API object, so I'd assume that it would implicitly be expected to use the same API version. It's a problem similar to selfLink and targetRef -- we really should translate the references in the conversion code.

[2015-03-26 20:55] bgrant0607 opened #6013 "Change all duration fields in the API to time.Duration"
We have a number of fields in the API that represent an integer number of seconds, such as TimeoutSeconds. We should push the units into the value instead, by using time.Duration. That would be similar to the approach used for resource quantities.

I don't consider this blocking for v1beta3, but seems like a worthwhile change to make in the future.

cc @lavalamp @smarterclayton

[2015-03-26 20:55] deads2k commented on #5921
.kubeconfig files can be made portable so they could serve the same purpose.  Using .kubeconfig files means that they can be manipulated and inspected using the command line tooling we have already developed.  They also make it easy for users to be sure that the credentials they are going to provide to pods have the permissions they expect.  The user simply creates the .kubeconfig file and runs th

[2015-03-26 20:59] bgrant0607 commented on #3652
@derekwaynecarr A query param vs. what? And why?

[2015-03-26 21:00] jayunit100 commented on #5708
Actually, jeff lowdermilk was super helpful and showed me how to update the
deps on this PR.  it was his commit which I merged into my PR, so not sure
it it was accidental or not.

Fortunately, now that k8petstore is in the go build, we will know if it
breaks anything when you revert the version back.

Thanks for noticing this.

On Fri, Mar 20, 2015 at 5:38 PM, Alex Robinson <notifications@github.

[2015-03-26 21:14] derekwaynecarr commented on #3652
I prefer that a WATCH was done by the following:

[code]
over
[code]

It's closer to the behavior in etcd where I can convert any get/list query to a watch by passing ?wait=true

[2015-03-26 21:18] yujuhong commented on #5668
Closing this one since there has been more discussion in #5927

[2015-03-26 21:18] #5668 closed

[2015-03-26 21:23] vmarmol opened #6014 "Surface container failures in a more obvious manner"
Following on #5927, should pods with containers that crashed have that status be reflected in the pod status? Primary usecase is crashloops or frequent crashes. The pods today are reported as "running" although the individual ContainerStatus will report the container crashing. This makes it hard for users to identify these types of problems.

We can consider setting the pod status to Pending (alth

[2015-03-26 21:24] vmarmol commented on #6014
We just had a second issue filed for this (#5668), may be worth making a v1.0 item?

[2015-03-26 21:28] vmarmol commented on #5927
Filed #6014 for the second part of this problem. Will re-purpose this issue to expose the crashes as events. Thanks @rrati!

[2015-03-26 21:30] vmarmol commented on #5927
(arguably I should have done that the other way around, sorry about that...)

[2015-03-26 21:31] bgrant0607 commented on #2316
For the initial implementation I'd be fine with a hardcoded solution for just the one field, not unlike what is done for field selectors, if that would make this approach comparable in implementation difficulty to the faux-envvar approach.

[2015-03-26 21:31] yujuhong commented on #6014
I just saw an old, related issue about this #4121.

[2015-03-26 21:33] bgrant0607 commented on #3652
That works for me.

[2015-03-26 21:33] yifan-gu commented on #5496
@dchen1107
I just looked into this and found that `TestSyncPodsDeletesWithNoPodInfraContainer` is the only test that there are two pods in the []*api.Pod
I think podworker was syncing the two pods in parallel, this causes non-deterministic behaviour

[2015-03-26 21:43] rjnagal commented on #147
Discussed offline. The minimal protection for sys daemons we have now is good enough for v1.0. We'll take up the rest post 1.0.

[2015-03-26 21:43] dchen1107 commented on #5496
@yifan-gu Yes, that is what I believe here, but never have time working on it. Thanks for looking into this, and re-assign it to you.

[2015-03-26 21:46] vishh commented on #5997
It looks like there are no endpoints for 'monitoring-influxdb' service. The service itself is active and there is a pod that matches the selector of the service.

Here is the 'monitoring-influxdb' service:
[code]

Influxdb pod that matches the selector for 'monitoring-influxdb' service is running.
[code]

Here are the endpoints from the apiserver:
[code]

Wonder why there are no endpoints.
cc @tho

[2015-03-26 21:50] yifan-gu commented on #5496
@dchen1107 I saw your old PR for this, I think we still need to keep the parallel sync here. Just need to create a `verifyUnorderedCalls`  for this case :)

[2015-03-26 21:55] davidopp commented on #2726
Thanks for the summary. So, concretely, what remains as a 1.0 blocker? Just the things from Brian's list minus the entries that say the item is done?

[2015-03-26 21:55] rjnagal commented on #5997
I ran into a similar issue where endpoints for monitoring-influxdb was not configured. In my case, the pod state took a long time to move to running (even though the containers on the machine were all running fine). But the endpoints were created as soon as the pod changed to state running.

[2015-03-26 21:56] yujuhong commented on #6014
We could either re-purpose an existing phase or create a new one.
 * Pending: I associate this state with "time-in-between" different tasks, which does not convey a strong signal of failing.
 * Unknown: Unknown suggests an infrastructure issue (e.g. kubelet is temporarily unresponsive).
 * Failed: Failed could be the containers terminated in a failure, or kubelet was unable to start the containers

[2015-03-26 21:59] vmarmol commented on #6014
I think "Failed" is a final state. I'd say to flip between Pending and Running during our allowed time. When we determine it is a crash-loop we can change to the final Failed state as you mentioned and reject the pod.

[2015-03-26 22:01] bgrant0607 commented on #1624
To document later:

Some batch workloads are data processing/analysis workloads of independent utility.

Others support serving workloads, such as:
* data cleanup / GC
* serving data generation / aggregation / indexing / import
* data snapshots / copies / backups / export
* logs processing / billing / audit / report generation
* maintenance (e.g., schema changes / data conversion)
* integrity chec

[2015-03-26 22:05] thockin opened #6020 "Need e2e or integration test for endpoints"
After #5939 goes in, we need an automatic test.  Filing now so as to not forget.

Specifically the repacking functionality needs a test to ensure we don't regress there.

[2015-03-26 22:07] TamerTas commented on #1624
@bgrant0607 I took your considerations regarding my proposal and tried to answer them could you take another look?

[2015-03-26 22:10] dchen1107 commented on #5927
We already export container failure as events, and you can retrieve them through `kubectl get events` or `kubectl describe pods <pod-id>`

There is a bug #5957 related to retrieve pods related events filed by @vishh yesterday, I fixed it through #5994

[2015-03-26 22:11] dchen1107 commented on #5927
I am going to close this one for now, and address the root issue #6014 or  #5668

[2015-03-26 22:14] vishh commented on #5997
Probed a bit further and it looks like the kubelet is not populating PodIP.

[2015-03-26 22:14] dchen1107 commented on #6014
I saw #5927 yesterday, but failed to follow up due to meetings.

I disagree with the proposal made here, and I don't want another phase introduced here. We discussed the lifecycle of Pod which is documented at kubernetes/docs/pod-states.md.

For particular issue reported #5927, we should addressed through #4919 by reporting last terminated container status. I just introduced API for that, and a pe

[2015-03-26 22:27] yujuhong commented on #6014
@dchen1107 , I think part of the reason why users complain (e.g. #5927) is that it's hard to "notice" that the pod is crashing. Personally, I would just run `kubectl get pods` and examine the current pods. When I see "Running", I'd expect the pod is working as expected. The container crashes are not visible to the users at a higher level.

The other reason to propagate the status is to notify repl

[2015-03-26 22:36] bprashanth opened #6023 "Make the scheduler more resilient to zombie pods"
This documents some issues and a solution for scheduler resilience.

TL;DR

* We need a ttl that forces the system to re-evaluate assumed pods periodically
* Every delete watch event needs to get piped from scheduled pods -> assumed pods
* If a partition causes dropped watch events, both stores should recover:
  - the ttl should expire the pod from the assumed store
  - a periodic re-list should r

[2015-03-26 22:36] #5496 closed

[2015-03-26 22:36] lavalamp commented on #5897
I would love to get rid of the rewriting, it is really error-prone.

[2015-03-26 22:42] lavalamp commented on #5897
The only good part of the rewriting is that it works without external dependencies on any sort of discovery system. So it might be useful for debugging broken clusters. But the production proxy shouldn't do rewriting.

[2015-03-26 22:47] lavalamp commented on #5956
If restarting the scheduler fixed it, then you must have stepped on #6023.

[2015-03-26 22:49] lavalamp commented on #5956
This bug is confusing-- this isn't a perf problem, this is a correctness problem. Closing this as a dup of #6023.

[2015-03-26 22:49] #5956 closed

[2015-03-26 22:55] nikhiljindal commented on #4958
I discussed this with @vishh and @lavalamp.
To clarify, proxy server does not require a trailing slash. It works as expected (gives the same response with or without a trailing slash)
The client code, on the other hand, expects it to be rendered on a path with a trailing slash and breaks when that is not the case.
Ideally, we should fix the client code.
For now, we decided to update proxy to send

[2015-03-26 22:57] bprashanth commented on #5884
A strawman for the third problem:
* Use the controller framework to watch for updates to replication controllers
* Also watch for updates to *all* pods, through a separate reflector (memory issues?)
* Periodically wake up the controller manager:
  - list pods from *local* store (based off `Phase` index?)
  - build a map[selector]{InActive pod-count}
  - list all rcs from *local* store, get pod cou

[2015-03-26 22:57] satnam6502 commented on #4958
By "client code" do you mean things like Elasticsearch and Kibana?

[2015-03-26 23:00] lavalamp commented on #4196
I expect that this is fixed now that we removed boundPods. I'll close this since gmarek couldn't repro.

[2015-03-26 23:00] #4196 closed

[2015-03-26 23:00] dchen1107 commented on #6014
I think we should correct restart count for ContainerStatus. Now it is capped due to container GC, but it could be fixed at the best effort now since kubelet POST status now. :-)

I think replication controller should examine the ContainerStatus, there is an issue filed against that. @bgrant0607

I hope someone work on #4121.

[2015-03-26 23:03] nikhiljindal commented on #4958
Yes. The code being rendered on those paths.

[2015-03-26 23:13] dchen1107 commented on #5997
cc/ @vmarmol Can you take a quick look at this one?

[2015-03-26 23:14] vishh commented on #5997
FYI: I am still working on this issue.

[2015-03-26 23:21] dchen1107 commented on #5997
Here is a little bit more updates:

1) PodIP is missing on all pods running on that particular node; but pods on other nodes with exact same kubelet do have PodIP associated with.

2) docker inspect shows that every pods on bad node have proper "NetworkMode":

[code]

3) docker inspect those pod infra containers, they all have proper IP assigned by docker.

[2015-03-26 23:29] ixdy commented on #5007
I haven't had a chance to look into this. If anyone has spare cycles and wants to work on it, feel free to assign to yourself.

One concern I heard from some folks is how this change would affect those running e2e tests not on GCE - in particular, there were some concerns about bandwidth usage and charges, though I don't know all of the details.

[2015-03-26 23:30] lavalamp commented on #5654
I am unable to repro this. I modified contrib/for-tests/network-tester/rc.json to make 150 pods and ran a loop getting the number of running pods every three seconds. Output below. It seems to monotonically and quickly make progress.

[code]

[2015-03-26 23:31] jlowdermilk commented on #5007
I actually started working on this yesterday. The plan is to pull kube addon and e2e images from gcr.io only for clusters running on gce/gke. Other providers would continue to pull from docker hub.

[2015-03-26 23:33] mattmoor commented on #5007
@jlowdermilk I am curious why?

[2015-03-26 23:35] mattmoor commented on #5007
@ixdy Can you loop me into any threads on this?

[2015-03-26 23:35] #5936 closed

[2015-03-26 23:37] jlowdermilk commented on #5007
@mattmoor, do you mean why only gcr.io for gce/gke? Due to the above mentioned concern about egress cost for clusters running elsewhere, mainly on aws.

[2015-03-26 23:38] lavalamp commented on #5745
That code linked in 1. looks like it should have been deleted when we changed controller manager to fill in the replicas field. Can we take that out ASAP?

I think having watchers get updated "only" every 10 seconds is not actually a problem at this point in time.

[2015-03-26 23:42] jayunit100 opened #6028 "E2E tests for kubectl should be runnable outside cloud providers (WLOG, maybe other tests as well) ?"
lets distill some of the testing based on their exact declarations (in e2e) a little more.

without loss of generality, for example, the *kubectl.go* test declaration of "should be able to start/stop a service" , shouldn't be hindered by the fact that im running tests w/o a cloud provider locally.

[2015-03-26 23:44] bprashanth commented on #5745
That happened automatically when we started using generic etcd: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/master/master.go#L380. I forgot to delete the code in registry/etcd, will do.

[2015-03-26 23:49] pmorie commented on #2316
I think i like @bgrant0607's idea
On Thu, Mar 26, 2015 at 5:31 PM Brian Grant <notifications@github.com>
wrote:

[2015-03-26 23:52] lavalamp commented on #5953
Kubelet POSTs to apiserver, correct? Apiserver can't "just" cache this in memory, because then it will not be replicable!

That 2s interval means we'll be giving etcd a steady stream of 50 qps for a 100 node cluster. That seems a little excessive but we should test and see if it's a problem before we do something hard to fix it.

[2015-03-26 23:53] dchen1107 commented on #5927
@vmarmol is right, kubelet only reports restart events, no failure events. Reopen this one, but I don't think it is blocker for v1.0.

[2015-03-26 23:54] lavalamp commented on #5745
Ah.

So is a fair TL;DR: "is a 10 second refresh for rc.status.replicas fast enough?"

[2015-03-26 23:59] bprashanth commented on #5745
Yes, I get the feeling it's not because it could be 20s before it is accurate right now, which slows down stop (even though stop will soon use watch, eliminating its own 3s poll interval).

We can probably make it as fast as we want when we stop listing all the things from the apiserver.

[2015-03-27 00:02] vishh commented on #5997
The issue is that the kubelet does not ignore old network containers while computing pod status. Working on a fix.

[2015-03-27 00:05] lavalamp commented on #3954
@bprashanth as discussed IRL, your "max pod lag" metric is essentially 99th %ile tail latency, but what we're concerned with here to a first approximation is throughput (we'll eventually care about tail latency, but probably not for 1.0). Throughput in your test was 10 pods per second, a > 10x improvement over @alex-mohr's initial comment here. My own tests also have scheduler scheduling at least

[2015-03-27 00:05] bgrant0607 commented on #6014
No new pod phase, and pod phase should progress monotonically.

Fixing the restart count seems like a useful thing to do. Use #4121 for that or file a new issue if there isn't already one specific for that. Or just submit a PR.

Surfacing container status in kubectl output also would be worthwhile. Additionally, we could customize the output (esp. describe output) based on the phase, reason, wheth

[2015-03-27 00:15] lavalamp commented on #3952
@davidopp @alex-mohr Yes I think #5555 + #5714 should fix this, and someone should write an e2e test that verifies this.

[2015-03-27 00:17] satnam6502 commented on #3952
For my soak tests I routinely see pods fail to schedule after waiting 20 minutes.

[2015-03-27 00:20] yujuhong commented on #4121
We also need to persist restart count in the ContainerStatus. This is not the case now because the field is a snapshot of the number of dead containers lying around on the node, and they could be garbage collected.

[2015-03-27 00:38] thockin opened #6031 "Validation should return validation errors"
...not random fmt.Errorf

There are a half dozen such calls, which will translate badly to user experience.

[2015-03-27 00:39] #6001 closed

[2015-03-27 00:44] jlowdermilk commented on #5007
Seems like the extra cost was a complete misunderstanding on my part. There is no added cost for pulling from gcr.io regardless of cluster location. Opened #6030 to pull cluster addon images from gcr.io. Will follow up with the same approach for e2e test images.

[2015-03-27 00:44] proppy commented on #444
+1 to split the `runPod` logic and the `PodSpec` from `pkg/kubelet` and `pkg/api/v1beta3`, it would make written some small tool like [podlet](https://gist.github.com/proppy/04f1270e015c0179b2d4) trivial.

[2015-03-27 00:50] #5997 closed

[2015-03-27 01:23] hurf opened #6036 "Add filename in the error message when parsing error occured"
When using kubctl to create a pod, an parsing error occured. The error message looks like：

    client error processing command: unable to parse : yaml: line 1: did not find expected key.

Need to add the source name for create command make the message look like:

    client error processing command: unable to parse my_pod.yaml : yaml: line 1: did not find expected key.

[2015-03-27 01:51] vmarmol commented on #5997
Nice find :)
On Mar 26, 2015 5:50 PM, "Vish Kannan" <notifications@github.com> wrote:

[2015-03-27 02:56] ddysher commented on #5953
If master is replicated, I assume we will have a leader, not a peer system right?  If so, then it seems caching in memory will only be a problem during master election, which I think other components should be robust enough to make the the system work. e.g. node controller do not evit pods because master is not responding.

[2015-03-27 03:32] thockin commented on #6013
caution when using non-dumb-struct types in the API.  For example, they can
not always be fuzzed or compared generically.  See util.Time.

On Thu, Mar 26, 2015 at 1:55 PM, Brian Grant <notifications@github.com>
wrote:

[2015-03-27 03:36] bgrant0607 commented on #5665
There shouldn't be any big switch statements in the code. The purpose of cloudprovider.Interface is to abstract away differences between different cloud providers. The API we have today definitely isn't sufficient for our needs, however.

That said, it could make sense to push provider-specific functionality to a pluggable controller. We'd then need to present relevant infrastructure resources and