[2018-05-07 17:45] AishSundar commented on #62700
@mikedanese any update on fixing this test ? its currently failing in sig-release master-blocking suite

https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-alpha-features

https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2018-04-16&job=ci-kubernetes-e2e-gci-gce-alpha-features&test=BeforeSuite

@BenTheElder, @tpepper and @jberkus as FYI

[2018-05-07 17:45] msau42 commented on #63306
What I don't understanding is that if it's nil, it creates the class [here](https://github.com/kubernetes/kubernetes/blob/f4b2452654967a44dd0821a48d8833aa839916c0/test/e2e/storage/volume_provisioning.go#L71)

[2018-05-07 17:46] copejon commented on #63306
It's actually the opposite:
[code]
It only creates it if the pointer isn't nil. Otherwise, it makes to line 102 unchecked.

[2018-05-07 17:53] AishSundar commented on #62703
@mattfarina  is there an ETA on fixing this test failure? This is currently on of the few tests failing our sig-release upgrade blocking suite. If this is not fixed we will have to delay beta for 1.11.

@tpepper @jberkus as FYI

[2018-05-07 17:55] AishSundar commented on #62704
@k82cn  is there an ETA on fixing this test failure? This is currently on of the few tests failing our sig-release upgrade blocking suite. If this is not fixed we will have to delay beta for 1.11.

@tpepper @jberkus as FYI

[2018-05-07 18:02] AishSundar commented on #62710
@MrHohn @rramkumar1  is there an ETA on fixing this test failure? This is currently on of the few tests failing our sig-release upgrade blocking suite. If this is not fixed we will have to delay beta for 1.11.

@tpepper @jberkus as FYI

[2018-05-07 18:03] gabrielfsousa commented on #63487
[code]
works, but i dont know if the k8s is compatible with my etcd server/cluster.

in my case i think it is, my etcd version is 3.1.12 and everything is working with 1.10.2

[2018-05-07 18:06] pmichali commented on #63208
With both kube-dns and coredns, during test teardown, I see the same failure of conntrack to remove the connection. Here is logging with additional debug:

[code]

The system is using conntrack 1.4.2.

[2018-05-07 18:27] tamalsaha commented on #61879
I have written a tool that can detect this sort of issues https://appsco.de/2HZ8t1k .
`onessl doctor --v=10`

This will collect various info for apiserver pods and check. https://github.com/appscode/kutil/tree/master/tools/doctor . If you have any question / find bugs, please file a pr in our repos.

[2018-05-07 18:36] szuecs commented on #51135
@vishh I changed to PR title and comment to reflect the current state.
I don't change the default in this PR anymore, but make it possible to set a kubelet flag or config option to change from the 100ms value to some "node owner" decided value.

1. VPA is really new and can not even inplace update the values, which I think is a blocker for production use.
2. From Borg and Omega Google papers I und

[2018-05-07 18:45] AishSundar commented on #63030
We also have another test failing in  https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-scale-performance

Logs
[[sig-scalability] Load capacity [Feature:Performance] should be able to handle 30 pods per node { ReplicationController} with 0 secrets, 0 configmaps and 0 daemons](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/14

[2018-05-07 18:49] chocolat2000 commented on #62029
Hi.

Upgraded to Windows insider Build 17650 and it works fine now.

[2018-05-07 18:52] vishh commented on #51135
@szuecs

CPU thrashing can be handled with just requests. If requests are set appropriately, a single user cannot thrash other users sharing a node. Is your experience with just requests different from what I'm describing?
In-order to guarantee latency, you need to set CPU requests to be equal to 99%ile usage.

Yes. With k8s you can already do this with `BestEffort` pods. CPU is compressible and s

[2018-05-07 18:52] humblec commented on #63306
May be a general improvement is required in these functions to catch nil class as start of the function. I will work on a general fix later .

[2018-05-07 18:53] sjenning commented on #51135
@vishh  tl;dr I don't think that most users want CFS quota on by default.

The purpose of quota is to limit pod CPU usage in the absence of contention.  In the event of contention, it is shares that does that limiting.

I think the case for CFS quota is mostly a business case where one could offer a "1 CPU pod" that can't get more than 1 CPU worth of time, even if there is more CPU available.

In

[2018-05-07 18:55] AishSundar opened #63497 "[sig-storage]: Dynamic Provisioning DynamicProvisioner failing tests in sig-release master-blocking"
## Failing Jobs
* [gci-gce-slow](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-slow)
* [gci-gke-slow](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-slow)
* [gce-scale-correctness](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-scale-correctness)

## Failing Test
* [[sig-scalability] Density [Feature:Performance] should allow starting

[2018-05-07 18:56] shyamjvs commented on #63030
The load capacity test failures were mostly because of #60372 IIUC and that was fixed by it's reverting PR few days later.
The longer term density test failures seems to be another regression (I'm currently looking into it). At this point, I'd say this EOW as a reasonable ETA.

[2018-05-07 18:57] AishSundar commented on #63306
I see these tests are failing multiple jobs in sig-release master-blocking suite as well. Opened an issue to track those failures -

https://github.com/kubernetes/kubernetes/issues/63497

Feel free to triage as you see fit.

[2018-05-07 18:57] AishSundar commented on #63497
More discussion on this issue in https://github.com/kubernetes/kubernetes/issues/63306

[2018-05-07 18:57] shyamjvs commented on #63497
@AishSundar You seem to have mentioned the wrong e2e tests. Should be the storage ones. :)

[2018-05-07 18:58] sjenning commented on #51135
I'm also saying that I don't think we should not add a flag to customize the CFS period at this time.  I believe the better fix to be disabling CFS quota entirely and relying on CPU shared to enforce fairness according to CPU requests.

If there is a use case for having a CPU limit on a latency sensitive workload, I'd love to hear it.

[2018-05-07 18:59] #56938 closed

[2018-05-07 19:03] AishSundar commented on #63497
Ah my bad.

## Failing Tests

* [[sig-storage] Dynamic Provisioning DynamicProvisioner Default should create and delete default persistent volumes [Slow]](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/16859)
* [[sig-storage] Dynamic Provisioning DynamicProvisioner should provision storage with different parameters [Slow]](https://k8s-gubernator.app

[2018-05-07 19:08] mohammedzee1000 commented on #63497
ping @humblec ^

[2018-05-07 19:25] liggitt commented on #63494
what do the apiserver logs show?

[2018-05-07 19:30] vishh commented on #51135
Why can't these users try disabling cpu quota first as a band aid prior to
introducing a new flag?

On Mon, May 7, 2018 at 12:25 PM Henning Jacobs <notifications@github.com>
wrote:

[2018-05-07 19:30] humblec commented on #63306
@AishSundar the fix PR is merged. Idealy the tests should not fail hereonwards.. Atleast from some time now. Can you please verify it from your end ?

[2018-05-07 19:36] AishSundar opened #63499 "Failing Tests: [sig-cluster-lifecycle] cluster-upgrade failing in sig-release-master-upgrade"
## Failing Jobs
* [gce-1.10-master-upgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-cluster-parallel)
* [gce-1.10-master-upgrade-cluster](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-cluster)
* [gce-1.10-master-upgrade-cluster-new](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10

[2018-05-07 19:36] AishSundar opened #63500 "[Failing tests] : hpa-upgrade, ingress-upgrade failing in sig-release-master-upgrade"
## Failing Jobs
* [gce-1.10-master-upgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-cluster-parallel)
* [gce-1.10-master-upgrade-cluster](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-cluster)
* [gce-1.10-master-upgrade-cluster-new](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10

[2018-05-07 19:50] hjacobs commented on #51135
@vishh @sjenning I think I get your argumentation about disabling CFS quota altogether, but this seems to be a rather drastic measure compared to introducing the kubelet flag `cpu-cfs-quota-period` (#63437) --- we can call it "band-aid": it helps all current users with latency problems and does not hurt/prevent any potential future measures such as disabling CFS quota by default.

So: can we get #

[2018-05-07 19:50] AishSundar commented on #62699
/close

[2018-05-07 19:50] #62699 closed

[2018-05-07 19:54] msau42 commented on #63497
Dup of #63306
/close

[2018-05-07 19:54] #63497 closed

[2018-05-07 19:56] AishSundar opened #63501 "Failing tests: [sig-autoscaling] Multiple Horizontal pod tests are failing in sig-release-master-upgrade"
## Failing Tests
* [sig-autoscaling] [HPA] Horizontal pod autoscaling (scale resource: CPU) [sig-autoscaling] [Serial] [Slow] Deployment Should scale from 1 pod to 3 pods and from 3 to 5 
* [sig-autoscaling] [HPA] Horizontal pod autoscaling (scale resource: CPU) [sig-autoscaling] [Serial] [Slow] Deployment Should scale from 5 pods to 3 pods and from 3 to 1 
* [sig-autoscaling] [HPA] Horizontal pod

[2018-05-07 19:59] liggitt commented on #63368
adding etags would help, but would still require pinging the server for each group/version to see if the cached data was up to date. https://github.com/kubernetes/kubernetes/pull/63502 runs discovery requests in parallel to avoid a high-latency connection serializing slow requests.

[2018-05-07 20:00] juanvallejo opened #63503 "Kubectl updated umbrella issue for printers and describers"
Supersedes https://github.com/kubernetes/kubernetes/issues/38768

### Updated printers issues
Does not include already-completed items from https://github.com/kubernetes/kubernetes/issues/38768
or items that are no longer applicable due to recent code refactors.

- [ ] https://github.com/kubernetes/kubernetes/issues/36733 kubectl get node(s) should show all node conditions
- [ ] https://github.com

[2018-05-07 20:00] juanvallejo commented on #38768
This can be closed in favor of https://github.com/kubernetes/kubernetes/issues/63503

[2018-05-07 20:00] juanvallejo commented on #63503
/sig cli

[2018-05-07 20:01] minherz commented on #62640
closed it by mistake

[2018-05-07 20:07] hjacobs commented on #51135
@vishh because we already know that it will lead to "node unresponsive" situations (you deserve some reproducible proof, I know) and we would rather not jeopardize the cluster stability for some misbehaving apps (disabling CFS quota on production clusters would be an "all or nothing" decision). Please also note that your colleague @dchen1107's first reaction (at KubeCon) was to not disable CPU quo

[2018-05-07 20:08] szuecs commented on #51135
@vishh disabling quota fixes latency problems but removes safety.
If I have to tell my users that if they need good latency, they have to remove limits, then who will set this option anyways?

I don’t see that it makes sense in general for our setup to not use limits and best would be to enforce them to make sure everyone has limits set. There are already a lot of deployments that have very low re

[2018-05-07 20:14] AishSundar opened #63505 "[Failing Tests] : BeforeSuite,Up and Upgrade tests failing on multiple Downgrade cluster jobs in sig-release-master-upgrade"
## Failing Jobs
* [gce-master-1.10-downgrade-cluster](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-master-1.10-downgrade-cluster)
* [gce-master-1.10-downgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-master-1.10-downgrade-cluster-parallel)
* [gke-gci-master-gci-1.10-downgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-

[2018-05-07 20:23] AishSundar opened #63506 "SkewTest failing gce-1.10-master-upgrade-cluster-new job in sig-release-master-upgrade"
## Failing Job
[gce-1.10-master-upgrade-cluster-new](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-cluster-new)

## Gubernator logs
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new/1422

## Triage
https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gce-new-ma

[2018-05-07 20:33] AishSundar opened #63508 "Skew Test failing gke-gci-1.10-gci-master-upgrade-cluster-new job in sig-release-master-upgrade"
## Failing Job
[gke-gci-1.10-gci-master-upgrade-cluster-new](sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-new)

## Gubernator logs
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new/1422

/kind bug
/priority failing-test
/priority important-soon
/sig testing
/milestone v1.11
@kubernetes/sig-testing-bugs

cc @j

[2018-05-07 20:41] AishSundar commented on #62713
/reopen

@krousey I still see the Upgrade test failing in the jobs below.

* [sig-release-master-upgrade#gce-1.10-master-upgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-cluster-parallel)
* [sig-release-master-upgrade#gce-1.10-master-upgrade-cluster](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-clus

[2018-05-07 20:42] jfelten-isp commented on #59867
reproducible with:

Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.1", GitCommit:"d4ab47518836c750f9949b9e0d387f20fb92260b", GitTreeState:"clean", BuildDate:"2018-04-13T22:27:55Z", GoVersion:"go1.9.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.7", GitCommit:"b30876a5539f09684ff9fde266fda10b37738c9c", GitTreeSt

[2018-05-07 20:48] Raffo commented on #51135
I guess here the point is really to not rush a flag and an implementation as there are already band-aids or alternatives provided that can fix the problems in production as of today even if they require less safety or telling the user to set request to 99%ile usage.
The effects of a fix would be available in production anyways in at least a release, so there is really no need to rush anything. Wha

[2018-05-07 20:52] TheKevJames commented on #63494
@liggitt Unfortunately I can't run any `kubectl log` commands, but I've attached the dump of all cluster logs from GKE on a new cluster here: https://pastebin.com/76YKiw6j

[2018-05-07 20:58] AishSundar commented on #63024
/close

test is fixed now !

[2018-05-07 21:02] vishh commented on #51135
@hjacobs
I'll check with @dchen1107 to see if she has other thoughts that might benefit this conversation. You make a good point about the documentation. As other's mentioned it needs to be fixed. I'd expect something as follows:
```If you don't specify a CPU limit for a Container, the container can burst to use all the available CPU. Under contention for CPU, all containers will be forced to cons

[2018-05-07 21:06] AishSundar commented on #62702
/close

I dont see this repro any more

[2018-05-07 21:06] #62702 closed

[2018-05-07 21:14] BenTheElder commented on #63506
I don't think this is sig-testing. Looks like `[sig-cluster-lifecycle]` , `[sig-autoscaling]`, `[sig-storage]`

/unassign
/remove-sig testing

[2018-05-07 21:15] AishSundar commented on #63306
Waiting for new run to verify

[2018-05-07 21:17] BenTheElder commented on #63505
Looks like the downgrades are not successful. cluster-lifecycle owns these `[sig-cluster-lifecycle] cluster-downgrade`

/sig cluster-lifecycle
/assign @timothysc
/remove-sig testing
/unassign

[2018-05-07 21:28] davidhao3300 commented on #58793
/remove-lifecycle stale

[2018-05-07 21:37] szuecs commented on #51135
Yes many of our deployments are burstable and in some of our clusters we have latency requirements with a lot of services like these but not super heavy in cpu. We have services that run with 3 replicas and consume 30m CPUs, but these will never have a p99 <100 ms or we need to drop for all of these not super critical pods the limits.

What about the problem of underutilization?

If you don’t set

[2018-05-07 21:45] AishSundar commented on #63506
/sig cluster-lifecycle
/assign @timothysc

@timothysc can you see if this is a cluster lifecycle issue please?

[2018-05-07 21:46] lavalamp commented on #58793
We intend to move computation of the resource to the control plane, so this is **not** going to be supported long term even if kubectl is "fixed".

Is there a reason why you can't segregate the resources by permissions?

[2018-05-07 21:50] liggitt commented on #58793
Agree. Depending on kubectl apply not actually making changes seems odd.

[2018-05-07 22:04] nelsonfassis opened #63513 "Kubeadm doesn't give an intermediate version option"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Trying to upgrade from Kubernetes 1.8.x to 1.9.x according to documentation, however, it only gives me the option to upgrade to the latest 1.8.12 or 1.10.2, skipping 1.9.x completely.
**What you expected to happen**:
To be given the option for v1.9

**How to reproduce it (as minimally and precisely as possible)**:
1 - Hav

[2018-05-07 22:07] misterikkit commented on #56104
Feel free to add me as reviewer as well.

[2018-05-07 22:27] krmayankk commented on #57838
/remove-lifecycle rotten

[2018-05-07 22:35] rossedman commented on #61076
Hitting this on 1.8.9-rancher1.

[2018-05-07 22:36] mikedanese commented on #62700
@kubernetes/sig-scheduling-bugs

[2018-05-07 22:46] msau42 commented on #61076
@rossedman there is a subpath cleanup/container restart issue that was fixed in 1.8.10

[2018-05-07 22:57] jagosan commented on #62703
/cc @kow3ns may have some thoughts on this one...

[2018-05-07 23:12] MrHohn commented on #62710
Checked on the latest runs, both `should maintain a functioning cluster` and `ingress-upgrade` are no longer failing. The only remaining red test is `[sig-apps] Deployment RollingUpdateDeployment should delete old pods and create new ones`, which is tracked on https://github.com/kubernetes/kubernetes/issues/62703.
/close

[2018-05-07 23:14] MrHohn commented on #62710
/reopen
speak too soon. Test is failing on gce but not gke.

[2018-05-07 23:14] nelsonfassis commented on #63513
I tried running kubeadm upgrade apply 1.9.7 and it failed.
Running ``` kubeadm upgrade apply v1.9.7 ``` worked. It failed a bunch of times due to timeout, couldn't find a flag to increase timeout but after several tries, it eventually worked.
Not optimal but so far, seems to work.

Feel free to close this bug, but not showing the version of my kubeadm for upgrade, seems like a bug that should be f

[2018-05-07 23:18] msau42 commented on #56507
/remove-lifecycle stale

[2018-05-07 23:30] MrHohn commented on #62710
From the test logs (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new/1422?log#log):
[code]

Turned out after upgrade, the number of nodes in instance group (managed by ingress) was different  (before upgrade there was 3 but after upgrade there was 1), probably because nodes were being upgraded as well and not yet added back to th

[2018-05-07 23:32] msau42 commented on #62697
/close
Fix has been ported to 1.10 to address upgrade test failure

[2018-05-07 23:32] #62697 closed

[2018-05-07 23:40] timoreimann commented on #51135
@vishh thanks for summarizing our discussion at KubeCon EU. I'd like to reiterate one angle that reflects our use case: One goal for us is to protect the cluster from applications that are buggy to the extent that they request CPUs far beyond what could be considered occasional, short-termed spikes.

Our (well-behaving) applications generally run fine resource-wise, despite the fact that we overco

[2018-05-07 23:54] msau42 commented on #62034
I think the tls issue has been fixed, but gce alpha is still having bringup issues.

Now, BlockVolume tests are failing on GKE alpha: https://k8s-testgrid.appspot.com/sig-storage#gke-alpha

[2018-05-08 00:02] msau42 commented on #62034
[code]

[2018-05-08 00:05] MrHohn commented on #62710
Sending out a quick fix on #63519.

[2018-05-08 00:08] msau42 commented on #62034
looks like alpha gates on GKE 1.11 masters are not configured properly :(

[2018-05-08 00:26] mikedanese commented on #62700
Can someone from sig-scheduling on the resolution? Please see: https://github.com/kubernetes/kubernetes/issues/62700#issuecomment-382562402

[2018-05-08 00:26] davidhao3300 commented on #58793
We currently depend on RBAC to make the call on whether a patch is acceptable or not. We'd rather not implement our own permissioning filter if possible unless it's simple to do.

If we do move this logic to the control plane, I think it's still reasonable to have an effectively empty patch is accepted as OK by the server? The long-term change doesn't seem to conflict with solving this issue

[2018-05-08 00:31] liggitt commented on #58793
Definitely not. Requests are authorized as a whole. The situation you have is a case where no change would be allowed from the user. Rejecting a patch attempt regardless of content is reasonable in that case.

[2018-05-08 00:41] davidhao3300 commented on #58793
That make sense - would you suggest an alternative in the long run then? Either a method to generate a patch on the client-side (would require view perms of the in-cluster actual resource of course), or something else?

[2018-05-08 00:43] davidhao3300 commented on #58793
my guess that this issue https://github.com/kubernetes/features/issues/555 refers to the long-term planned change, and https://github.com/kubernetes/features/issues/491 would be the diff command on the client-side?

[2018-05-08 00:44] msau42 commented on #63306
tests are passing now
/close

[2018-05-08 00:44] #63306 closed

[2018-05-08 00:45] liggitt commented on #58793
Definitely not this. Client side patch generation hasn't proven viable

@lavalamp's suggestion to partition the resources you have a user apply to the ones they are intended to have permissions on makes the most sense.

[2018-05-08 01:11] davidhao3300 commented on #58793
We have a general deployment job that can be requested by any particular user. The deployment job renders a bunch of templates we have, and will be a collection of what we consider unprivileged objects (ConfigMaps and Deployments), and privileged objects (Secrets, Ingresses, etc.). We then attempt to apply the objects. If any fail due to rbac permissions, we ask the user to contact a privileged us

[2018-05-08 01:42] k82cn commented on #62700
let me check it this week.

[2018-05-08 01:46] subbu05 opened #63523 "Pod Lifetime"
Hi,

**Feature Request**
Due to several reasons we want to re-create Pods. In K8S POD life cycle there is no option for settings POD lifetime. Example: if POD is running with some certificate whose expiry is x days. We want to have an option K8S automatically delete POD after x days running and re-create new POD.

[2018-05-08 01:51] subbu05 commented on #63523
Example: Pod.json (POD will be created automatically after 2days, old PODs will be deleted).
{
  "kind": "Pod",
  "apiVersion": "v1",
  "metadata": {
    "name": "demo"
  },
  "spec": {
    "containers": [
      {
        "name": "demo",
        "lifetime": 2d,
        "image": "demoimage",
        "ports": [
          {
            "containerPort": 8080,
            "protocol": "TCP"
          }

[2018-05-08 02:37] wgliang commented on #63523
/kind feature
/sig node

If it is feasible, I can write this proposal.

[2018-05-08 02:37] wgliang commented on #63523
/area kubelet

[2018-05-08 02:44] k82cn commented on #62700
In `pkg/registry/scheduling/rest/storage_scheduling.go`, `AddSystemPriorityClasses` will create system PriorityClasses.

There're error logs in apiserver.log as follow:

[code]

[2018-05-08 03:03] yue9944882 commented on #63463
I don't think this issue should be reported here. It should be submitted to [the repo of ingress controller](https://github.com/kubernetes/ingress-nginx).

[2018-05-08 03:42] AishSundar commented on #63508
/sig cluster-lifecycle

/assign @timothysc

@timothysc could you please help triage?

[2018-05-08 04:16] CaoShuFeng commented on #53455
Since audit events are non-nanmespaced objects, how to use RBAC to implement access control for this stream?

[2018-05-08 04:38] supnobita commented on #61684
I got this issue too.

[2018-05-08 04:52] TodayyadoT commented on #61224
Got the same problem.
The hostname of your VMs must be different, or the master couldn't distinguish them.

[2018-05-08 04:58] mohammedzee1000 commented on #62710
@MrHohn @rramkumar1 This issue has been fixed then?

[2018-05-08 05:04] MrHohn commented on #62710
@mohammedzee1000 Nope, I believe `cluster upgrade should maintain a functioning cluster` is still broken and needs an owner. #63519 was only fixing `ingress-upgrade`.

[2018-05-08 05:27] wgliang commented on #63523
Can you enumerate the usage scenarios of this feature?

[2018-05-08 05:45] dpetzold commented on #55046
Hi. I authored https://github.com/dpetzold/kube-resource-explorer/ for this.

It will display the historical statistical resource usage from StackDriver. By evaluating the TimeSeries data to show the latest value (the most current data point), minimum value, maximum value and the average or the mode in the requested duration per container. The average is displayed when cpu is requested. For memory

[2018-05-08 06:01] resouer commented on #63345
/assign

[2018-05-08 06:10] Miyurz commented on #62156
Hello team, do we have any update here yet ?

[2018-05-08 06:25] vrubiella commented on #61563
We are upgraded to the last stable version 1.9.7.

Now, is not possible mount/inject only one file without affected other files in a directory?

If I use subPath with fileName "caused \"not a directory\"" error is raised.

There are no solutions for this problem jet?. I'm reading a lot of related issues and try different examples with no success.

[2018-05-08 06:36] #62752 closed

[2018-05-08 06:42] spacebel commented on #7890
I'm not sure, but I read in the procedure as step 1 "Make a container that has all the software for doing the GCS Mount".

But this solution indeed remove one other disadvantage of (1) which is privileges required.

[2018-05-08 07:00] kaazoo commented on #18982
+1

[2018-05-08 07:30] the-redback opened #63529 "Getting delete request of 'empty' resources when a namespace is deleted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**: When a namespace is deleted, it sends delete requests to `empty` object of CRD in that namespace. By `empty` resource I meant, the name of the resource is empty. Although, there is no CRD object in that namespace.

In details, I have implemented a Validating webhook for a CRD. When I delete any namespace, the webhook is getting dele

[2018-05-08 07:35] the-redback commented on #63529
cc: @tamalsaha

[2018-05-08 07:37] k82cn commented on #62109
/milestone v1.11

[2018-05-08 07:39] Joseph-Irving commented on #61545
Hi, I was just wondering you had made any decisions in regard to this? If you've decided to not support this I think it would make sense to have a validation check on the API that will prevent you from creating a subPath in the same path as another volume, or at least catch the error and have it return something a bit more readable to prevent confusion.

[2018-05-08 07:41] hzxuzhonghu commented on #63529
cc @nikhita @sttts

[2018-05-08 08:15] kargakis commented on #5774
/remove-lifecycle rotten

[2018-05-08 08:26] yoke88 commented on #63479
ceph2 is the node which the heketi pod runs, and i test from ceph3 to access the service ip of heketi

on ceph2 i used such iptables command to trace packages:

[code]

[code]

[code]

[2018-05-08 08:28] edwardstudy commented on #59867
Reproduced:
[code]

[2018-05-08 08:46] k82cn commented on #62704
According to the log, the pod were scheduled after removing the taint; e2e client already got the event, but not sure why did not update status. Opened a PR to print more message.

[code]

[2018-05-08 08:49] rfer commented on #63463
Moved to https://github.com/kubernetes/ingress-nginx.

[2018-05-08 08:49] #63463 closed

[2018-05-08 09:00] obeattie commented on #51135
I haven't been able to engage with this discussion until now because it's all happened over a weekend. As probably the largest user of a [patch](https://github.com/monzo/kubernetes/commit/9888ef89f3ae85e643f4d1098f0ba001414a5f25) for this in production I am interested in how this gets resolved. I agree we don't need to rush to get something into the mainline without really understanding the proble

[2018-05-08 09:05] tuminoid commented on #61557
Hitting this one with RHEL's docker 1.13.1. Workaround for us is to downgrade Docker to 1.12.6.

[2018-05-08 09:10] xiaoxubeii commented on #63479
The pod ip will be node ip.

[code]

No, you can't.

[2018-05-08 09:25] hanikesn commented on #11488
/remove-lifecycle stale

[2018-05-08 09:33] discordianfish commented on #59356
/remove-lifecycle stale
/lifecycle freeze

[2018-05-08 09:46] ash2k commented on #63467
/kind flake

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/63522/pull-kubernetes-integration/10018/

[2018-05-08 09:50] bboreham commented on #62628
The inestimable @brb has found another race condition, which will tend to cause the last packet to be dropped. https://github.com/weaveworks/weave/issues/3287#issuecomment-387178077

[2018-05-08 09:59] alok87 commented on #52657
@justinsb How can we put restrictions using kops for controller manager. We are also facing the leak
$ kubectl top po -n kube-system | grep controller-man
kube-controller-manager-ip-A.ap-southeast-1.compute.internal   0m           15Mi
kube-controller-manager-ip-B-ap-southeast-1.compute.internal    0m           15Mi
kube-controller-manager-ip-C-ap-southeast-1.compute.internal   108m         3478Mi

[2018-05-08 10:45] #63262 closed

[2018-05-08 10:46] ash2k commented on #63427
Another case in another unrelated PR https://github.com/kubernetes/kubernetes/pull/63522.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/63522/pull-kubernetes-integration/10097/

[2018-05-08 11:02] discordianfish commented on #63018
@balajismaniam / @ConnorDoyle Do you have a rough estimate for this? Fully understand if you have other things on your plate but then I'd probably revert the static policy since this becomes a bigger and bigger problem for us (it looks like it got worse over time, now even nodes are affected that were just brought up).

[2018-05-08 11:03] dims commented on #7890
@spacebel that container is for the daemonset. not the app itself.

[2018-05-08 11:09] meeee commented on #61999
**Summary:** In our case, 400 MiB additional system memory reservation weren't enough, but 800 MiB were.

**Details:**

After a system memory reservation increase by 400MiB wasn't enough, I noticed that one machine was having high I/O regularly for a few minutes (5 minutes high I/O, 5 minutes normal I/O).

When looking into it, I noticed a Java app crashlooping. Giving my previous idea (not all fi

[2018-05-08 11:28] dims commented on #61999
cc @dashpole David, the `du` seems to be from cadvisor

/sig node

[2018-05-08 11:31] dims commented on #61999
@glennschmidt please see the other cadvisor issues:
- https://github.com/google/cadvisor/issues/1774
- https://github.com/google/cadvisor/issues/735
- https://github.com/google/cadvisor/issues/501

[2018-05-08 11:32] randomvariable commented on #62171
Possibly one of the following:

1. No change. Live with the pain.

2. Run "GenerateDataKey" and "Decrypt" on the generated ciphertext blob prior to volume creation as a preflight check.
The advantage being that we can throw an error that this isn't going to work beforehand, but with the disadvantage of doubling up API calls. This is probably fine, and I think if you're creating encrypted volumes a

[2018-05-08 11:44] k82cn commented on #63427
@ash2k , thanks for your input, I'd like to see what will happen after #63472 merged :)

[2018-05-08 11:47] glennschmidt commented on #61999
I think the problem is that it seems to iterate over _every file in the image filesystem_, which could be an entire operating system's worth (eg. if the image is based on Debian) for every container present. It should just iterate the writable layer.

[2018-05-08 12:42] dims commented on #63513
@nelsonfassis can you please move this to https://github.com/kubernetes/kubeadm/issues/ ?

/close

[2018-05-08 12:42] #63513 closed

[2018-05-08 12:45] dims commented on #63494
/sig gcp

[2018-05-08 12:45] dims commented on #63529
/sig api-machinery

[2018-05-08 12:51] shubheksha commented on #62916
/reopen

[2018-05-08 12:53] shubheksha commented on #62916
@msau42, can you please reopen this issue as #63008 is still open?

[2018-05-08 13:06] SachinHg commented on #50745
@harshal-shah I'm running into the same issue. Did you find time to check how to fix this issue with the recent version of kubernetes(1.9x)?

[2018-05-08 13:25] liggitt commented on #63529
/close

[2018-05-08 13:25] #63529 closed

[2018-05-08 13:26] zatricky commented on #52326
I wouldn't narrow the scope to say that the request is to change the addressability in only certain commands. I cannot imagine any commands where it should be treated differently.

[2018-05-08 13:27] liggitt commented on #63523
doesn't the spec.activeDeadlineSeconds meet this requirement?

[2018-05-08 13:27] liggitt commented on #63494
@kubernetes/sig-api-machinery-bugs

[2018-05-08 13:33] liggitt commented on #52326
allowing --namespace to arbitrarily contain multiple namespaces turns every command into needing to run in a loop, and handle partial success. rather than pushing that complexity into every command, I think it is better to invoke kubectl multiple times.

[2018-05-08 13:34] msau42 commented on #62916
/reopen

[2018-05-08 13:40] yoke88 commented on #63479
@xiaoxubeii thank you, i want to know if host has multiple ip address, how pod choose which one to use .

[2018-05-08 13:50] mkumatag commented on #53360
/remove-lifecycle stale

[2018-05-08 13:51] mkumatag commented on #53360
fixed part of #54300, hence closing this task.

[2018-05-08 13:51] mkumatag commented on #53360
/close

[2018-05-08 13:51] #53360 closed

[2018-05-08 14:02] Stono commented on #62878
Hey,
Any change we could confirm a GKE release date for this fix.  It has resulted in a service outage for us twice now.

The workaround for others struggling with this pain is to trigger a node pool resize, which in turn reconfigures the backend-service correctly.

[2018-05-08 14:33] djsly opened #63538 "azure Route Creation is failing when using non Standard LB with VMSS"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Cannot get my Node Networking to complete with using Azure VMSS with Route Table

**What you expected to happen**:
The networking to be configured

**How to reproduce it (as minimally and precisely as possible)**:
Use Azure cloud provider with VmType: vmss and azure route table, use the basic LB.

**Anything else we need

[2018-05-08 14:40] jchv commented on #59047
Looks like this issue can be closed now.

[2018-05-08 14:55] rodcloutier commented on #61901
Did you check if there were more than one kube-proxy process? I had the issue on 1 node in GKE where 2 kube-proxy processes where live.

[2018-05-08 15:17] janetkuo commented on #62703
I think it's likely due to the removal of hash labels in deployments.

[2018-05-08 15:25] IvanovOleg opened #63542 "kubelet 1.10.2 ignores --cni-bin-dir parameter"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I am trying to use a custom directory for cni plugins, but kubelet ignores --cni-bin-dir parameter and tries to find plugins in the default one.

`FailedCreatePodSandBox  2s    kubelet, test-stg-k8s-master-0  Failed create pod sandbox: rpc error: code = Unknown desc = failed to setup network for sandbox "3e98cec42d687001e

[2018-05-08 15:33] drmillan opened #63543 "externalName"
/kind feature

While configuring a Service with ExternalName, I expected it could be possible to use a value from a config map for the externalName property, but it expects only a string, forcing a hardcoded value.

What I think that could be a nice feature
[code]

[2018-05-08 16:06] krousey commented on #62710
For the parallel job, the upgrade succeeds. The framework seems to be having trouble with namespace deletion that runs before each test.
 https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-parallel&include-filter-by-regex=cluster-upgrade

For the serial suite, the upgrade also seems to succeed, but the tests that follow time out. https://k8s-testgri

[2018-05-08 16:33] theothermike commented on #40314
/remove-lifecycle stale

[2018-05-08 16:36] krousey commented on #63506
Chiming in for cluster-lifecycle, this is weird. Somehow the nodes are being put back into a cordoned state after the upgrade. The upgrade checks that after a node is upgraded, it becomes both ready and schedulable. https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/upgrade.sh#L347-L360

Here's an example from the linked failure:

[code]

But just a few lines below that, we can see t

[2018-05-08 16:42] jhorwit2 commented on #63543
/sig network

[2018-05-08 16:42] jhorwit2 commented on #63542
/sig node

[2018-05-08 16:50] dashpole commented on #31362
The remaining items, to be finished in 1.11 are:
Use Memory Cgroup notifications for allocatable evictions: https://github.com/kubernetes/kubernetes/issues/57901
Better kubelet eviction events: https://github.com/kubernetes/kubernetes/pull/63415
Eviction tests ensure `Status.Reason` is `Evicted` so we can catch OOMs: https://github.com/kubernetes/kubernetes/pull/57849

[2018-05-08 16:57] TheKevJames commented on #63494
@dims new to the community, so I'm not sure of processes here -- is the `gcp` sig meant to imply gcp-only-bugs? I've also been able to reproduce this on Docker for Mac.

[2018-05-08 16:59] #60952 closed

[2018-05-08 17:00] AishSundar commented on #62710
@krousey are you actively investigating the Timeouts? if not let me know if this needs triaging and reassignment. As you pointed out I see almost all gke cluster upgrade/downgrade tests timeout today

https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-parallel
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrad

[2018-05-08 17:00] dims commented on #63494
@TheKevJames you mean you used kubectl on mac right? (still talking to apiservers and kubelet on GKE)

[2018-05-08 17:07] TheKevJames commented on #63494
No, to clarify I have reproduced with Docker for Mac --> enable Kubernetes locally, point `kubectl` to localhost, apply the reproduction case there.

![image](https://user-images.githubusercontent.com/3341822/39771473-2d599f6e-52a7-11e8-9250-c1b7a6f3a1a7.png)

When reproducing locally, I get the following apiserver logs:

[code]

[2018-05-08 17:08] AishSundar commented on #62703
cc @kow3ns @janetkuo can one of you please triage and assign a owner to fix the issue? This is currently on of the few tests failing our sig-release upgrade blocking suite. If this is not fixed we will have to delay beta cut for 1.11 which is currently on 5/15.

[2018-05-08 17:16] krousey commented on #62710
I am not actively investigating timeouts. I was merely commenting that the
upgrade steps look to be working.

On Tue, May 8, 2018 at 10:00 AM Aish Sundar <notifications@github.com>
wrote:

[2018-05-08 17:25] dims commented on #63494
/remove-sig gcp

[2018-05-08 17:28] AishSundar commented on #62713
@krousey I still see  UpgradeTest and Timeout failing in the jobs below. Are you actively investigating these or should I re-triage?

* [sig-release-master-upgrade#gce-1.10-master-upgrade-cluster](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-cluster)
* [sig-release-master-upgrade#gce-1.10-master-upgrade-cluster-new](https://k8s-testgrid.appspot.com/sig-releas

[2018-05-08 17:30] dims commented on #61999
@meeee fyi, we already have a limit of concurrent commands to 20 - https://github.com/google/cadvisor/blob/master/fs/fs.go#L51

[2018-05-08 17:36] krousey commented on #62713
@AishSundar These failures seem similar to my comment in https://github.com/kubernetes/kubernetes/issues/63506#issuecomment-387464373. I'm would appreciate help in looping in the node team on why that is happening.

[2018-05-08 17:36] squeed commented on #62112
This is a kubernetes bug: it doesn't compute the hostip correctly. The bug is here: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/docker_service.go?utf8=%E2%9C%93#L384

[2018-05-08 17:40] AishSundar commented on #63506
/cc @dchen1107 @derekwaynecarr can either of you please help investigate the node side of this issue to unblock @krousey.  This is currently on of the few tests failing our sig-release upgrade blocking suite. If this is not fixed we will have to delay beta for 1.11 which is slated for 5/15.

[2018-05-08 17:40] AishSundar commented on #62713
/cc @dchen1107 @derekwaynecarr can either of you please help investigate the node side of this issue to unblock @krousey.  This is currently on of the few tests failing our sig-release upgrade blocking suite. If this is not fixed we will have to delay beta for 1.11 which is slated for 5/15.

[2018-05-08 17:41] AishSundar commented on #63506
/cc @dchen1107 @derekwaynecarr

[2018-05-08 17:41] AishSundar commented on #62713
/cc @dchen1107 @derekwaynecarr

[2018-05-08 17:42] mbohlool commented on #63494
The is the root cause I think: https://github.com/kubernetes/kube-openapi/issues/66

[2018-05-08 17:42] gflarity opened #63548 "Kubernetes TKS CSR/certificate API should support expiry/validity parameters"
/kind feature
/sig auth

[code]
Should take a valid before (and while we're add it valid after) parameter.

The use case is for is short lived credentials (on order of minutes) through tooling. Some service providers (Amazon EKS) have their own way of providing this. However this seems like a feature that should be standard. It also seems that it would very clean to implement said feature just by

[2018-05-08 17:43] DocValerian commented on #61228
I also noticed ebs mount no longer working after a switch to m5 (from t2, which had entirely different non-kube issues),
I'll try the same deployment code on m4 tomorrow.

[2018-05-08 17:45] AishSundar commented on #62713
cc @dchen1107 @derekwaynecarr

[2018-05-08 17:45] AishSundar commented on #63506
cc @dchen1107 @derekwaynecarr

[2018-05-08 17:49] dashpole opened #63549 "[Failing Test] Node-E2E: Validate Node Allocatable set's up the node and runs the test"
/kind failing-test
/sig node
[testgrid history](https://k8s-testgrid.appspot.com/sig-node-kubelet#kubelet-serial-gce-e2e&include-filter-by-regex=Validate%20Node%20Allocatable%20set's%20up%20the%20node%20and%20runs%20the%20test),  [commit diff](https://github.com/kubernetes/kubernetes/compare/398ced1dc...592c39bcc), [example failure](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/

[2018-05-08 17:50] dashpole commented on #63549
/kind e2e-test-failure

[2018-05-08 17:55] filbranden commented on #63549
I'll take a look... Thanks!

[2018-05-08 18:05] bowei opened #63552 "Make NodePort allocation optional for Service.Type == LoadBalancer"
/kind feature

Add an option to the `Service` configuration to avoid allocating NodePorts for `Service.Type: LoadBalancer`.

It is part of the Kubernetes API definition that creating an external load balancer in Kubernetes implies allocation of a nodeport for the service. This is unnecessary for some clouds and uses up the nodeport range.

[2018-05-08 18:05] bowei commented on #63552
/cc @justinsb

[2018-05-08 18:35] #63026 closed

[2018-05-08 18:42] DirectXMan12 commented on #63501
Looking at the controller-manager logs from https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster/2118#sig-autoscaling-hpa-horizontal-pod-autoscaling-scale-resource-cpu-sig-autoscaling-serial-slow-replicaset-should-scale-from-1-pod-to-3-pods-and-from-3-to-5, for instance, it looks like the HPA is doing the right thing, in that it's scalin

[2018-05-08 19:29] BenTheElder commented on #62710
@AishSundar that sounds like some bug in the API server. I will not have time to debug this at the moment, but an owning sig should take this on anyhow.

[2018-05-08 19:43] cblecker commented on #24057
/remove-lifecycle rotten

[2018-05-08 19:47] akochnev commented on #53881
I looked a bit further into my issue, and it turned out that I had a different issue of kubectl not being properly configured with a kubeconfig that points to an actually running API server.

@Dev1969 - there could be many issues that could be causing this issue for you, including the api server not running, kubectl on your windows machine not being configured correctly, and that's on top of netwo

[2018-05-08 20:16] #60444 closed

[2018-05-08 20:37] michmike commented on #62587
/assign akochnev

[2018-05-08 20:40] michmike commented on #53881
/close

[2018-05-08 20:40] #53881 closed

[2018-05-08 20:43] michmike commented on #62587
@akochnev will take ownership of this ticket and work on it.

[2018-05-08 21:09] cjwagner commented on #62710
There is also this error: `I0508 17:13:14.164] May  8 17:13:14.163: INFO: Failed to list network endpoint group: googleapi: Error 403: Required 'Alpha Access' permission for 'Compute API', forbidden`.
I'm not sure if that is related.

The main error appears to be `May 8 10:22:06.860: INFO: discovery error for unexpected group: schema.GroupVersion{Group:"metrics.k8s.io", Version:"v1beta1"}
May 8 10

[2018-05-08 21:15] MrHohn commented on #62710
Quick clarification, that log entry is benign and isn't related. During resource cleanup we attempt to list network endpoint group regardless whether the project has enabled the API or not.

[2018-05-08 21:25] yastij opened #63554 "Export metrics for precidates restrictiveness"
Currently users do not have any metrics on predicates restrictiveness (i.e capacity of a predicate to filter potential target nodes). The idea is to provide a metric each time the predicate is computed. This (And how handle ordering predicates in general) might be impacted by the new scheduling framework.

cc @bsalamat @resouer

/sig scheduling

[2018-05-08 21:25] yastij commented on #63554
/assign

[2018-05-08 21:43] pitinga commented on #28692
Hello... I have the same problem, a spring application that uses 100% of CPU for 1 or 2 minutes while it is starting, what triggers the autoscaling. After some minutes, the CPU goes to 0% and comeback to just one pod.

I tryed to use readiness and liveness probes, but did not take any effect regarding to trigger the autoscaling.

I'm using Kubernetes 1.7.

[2018-05-08 21:47] hbajaj2 opened #63555 "kind:deployment securitycontext and Ceph PVC"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
securityContext attribute is not available for kind:deployment, requirement is to claim Ceph hosted PVC on a non-root container.
**What you expected to happen**:
non-root user should be able write on a volume claim, at the moment fsGroup feature of securityContext is only confined to kind:Pod
**How to reproduce it (as

[2018-05-08 22:36] apelisse opened #63559 "Create dry-run query parameter on CREATE/UPDATE/PATCH/DELETE handlers"
Discussed this morning as part of the wg-apply with @liggitt @lavalamp @seans3

Since we're planning on adding a dry-run mechanism to apply, we would like to have that mechanism in place as early as possible in the server (even if just rejecting with an error), so that future clients don't get their dry-run requests accepted and performed while running against older servers.

I'm suggesting that w

[2018-05-08 22:56] salluvada opened #63560 "MaxPodsPerNode - be able to set hard and soft limits for deployments / replicasets"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
I have a two node cluster (node01, node02 in addition to a master node), and scheduled a deployment with 10 replicas. The pods were scheduled 5 per node which is good. Then I went and drained node01. The pods were evicted from node01 and all pods were scheduled on node02 which is also good. When I uncordoned node01,

[2018-05-08 22:56] salluvada commented on #63560
/kind feature

[2018-05-08 22:58] salluvada commented on #63560
/sig scheduling

[2018-05-08 23:00] lavalamp commented on #63559
It's a little weird that dry-run=false would trigger dry-run behavior.

[2018-05-08 23:27] #50199 closed

[2018-05-08 23:27] haz-mat opened #63564 "AWS cloudprovider: MTU discovery security group rule cannot be scoped. Hardcoded to 0.0.0.0/0"
/kind feature

**What happened**:
When an ELB is provisioned as a LoadBalancer, the client traffic's security group rule can be scoped to specific ranges but the MTU discovery rule cannot.

**What you expected to happen**:
The MTU discovery security group rule source range is configurable or matches the values of `spec.loadBalancerSourceRanges`

**Anything else we need to know?**:
The `0.0.0.0/0`

[2018-05-08 23:29] ch-mathewhornbeek commented on #63564
/sig aws

[2018-05-08 23:54] msau42 commented on #63467
@kubernetes/sig-storage-bugs

[2018-05-09 00:07] krzyzacy commented on #63501
yep, you have control to your e2e cluster shape

[2018-05-09 00:48] glennschmidt commented on #61999
@dashpole It doesn't seem to be cadvisor that's running du, in my case it's kubelet
Below is an excerpt from `pstree -al`
[code]

If it was measuring the writable layer, I think the overlay path would end with `/upper`

[2018-05-09 00:50] jiayingz commented on #63506
/cc @jiayingz @Random-Liu

I am also running into this issue when trying to add a new upgrade test. First, I think the reason that the test log said the node was ready is because the code is looking at a wrong field for SchedulingDisabled. The unschedulable field is a field in node.spec not a node status condition, so I think we should instead use:
local cordoned=$("${KUBE_ROOT}/cluster/kubectl.sh

[2018-05-09 01:06] TrentNow commented on #53333
sed -i -E 's/--cgroup-driver=systemd/--cgroup-driver=cgroupfs/' /etc/systemd/system/kubelet.service.d/10-kubeadm.conf

sudo systemctl daemon-reload
sudo systemctl restart docker

[2018-05-09 01:18] liggitt commented on #63559
Agree. I'd expect behavior consistent with other booleans like the watch param

[2018-05-09 01:29] #49108 closed

[2018-05-09 01:29] k82cn commented on #63560
Similar requirement with https://github.com/kubernetes/kubernetes/issues/40358 :)

/cc @wojtek-t

[2018-05-09 01:38] resouer commented on #63467
/assign

[2018-05-09 02:16] liggitt commented on #63555
the securityContext attribute is part of deployment... it is possible you have it at the wrong level in your deployment manifest. can you include your deployment manifest?

[code]

[2018-05-09 02:17] dims commented on #61999
@glennschmidt the cadvisor code is running as part of the kubelet ( it's started here https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L670 )

[2018-05-09 02:20] 13567436138 commented on #63477
I found the problem ,the mountpath is not correct

[2018-05-09 02:20] #63477 closed

[2018-05-09 02:38] #63345 closed

[2018-05-09 02:43] apelisse commented on #63559
That's a great point, I'll look at this pattern.

[2018-05-09 03:11] MIBc opened #63567 "iperf3 couldn't work with iptables mode tcp service"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I created a tcp service with 3 iperf-server members. A iperf-client pod connected the cluster ip. The connection could established but there were no data output on stout and the process hang.

**What you expected to happen**:
The iperf stream can communicate using iptables mode service.
**How to reproduce it (as minimally

[2018-05-09 03:17] shigy123456 opened #63568 "How to parse yaml files"
**What happened**:
When I configure a k8s object, such as ingres, I can only look at the sample of ingress through some documentation, and then refer to the sample to configure the yaml file.

**What you expected to happen**:
I want to know where the K8s parse the yaml file. By looking at the parse code, I know what the parameters of each k8s version of the supported ingress object are, and what c

[2018-05-09 03:27] liggitt commented on #63568
the kubernetes API types are parsed into structs defined in https://github.com/kubernetes/api

YAML is converted to JSON and then parsed into structs.

For example, the Ingress structs are defined here:
https://github.com/kubernetes/api/blob/b7d77fa220f5130ec63c2ca7167dd9653449c64d/extensions/v1beta1/types.go#L564-L584

[2018-05-09 03:28] liggitt commented on #63568
You can also see the API documentation at https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#ingress-v1beta1-extensions

/close

[2018-05-09 03:28] #63568 closed

[2018-05-09 03:33] shigy123456 commented on #63568
ok，thanks，I get it.

[2018-05-09 04:12] liggitt commented on #58793
Yes, a dry run patch/update would be authorized just like a non-dry-run would

[2018-05-09 04:30] sakarikl opened #63570 "No way to set secret files owner and group"
**FEATURE REQUEST**:

/kind feature

File mode can be set with defaultMode but there is no way to change secrets owner and group.

[2018-05-09 04:45] #58505 closed

[2018-05-09 05:05] davidhao3300 commented on #58793
if the dry-run accurately states whether any actual changes would occur with a patch (reduces empty patches as suggested in this issue), that would work for our case

the deploy job starts with a superuser who impersonates the person triggering the job, so we would have the permissions to do a dry run and see if a diff is generated

[2018-05-09 05:06] davidhao3300 commented on #58793
I see that there'll be ways to figure this out in the long-run, thanks for discussing. I'll change the PR description to not say that it fixes this issue then

[2018-05-09 05:09] nikhita commented on #62786
Changes to be made before going to beta:

- [ ] Disallow update to _all_ fields (not just spec and metadata) during `/status` updates - https://github.com/kubernetes/kubernetes/pull/63385, https://github.com/kubernetes/kubernetes/issues/63359
- [ ] Allow `required` to be used in the CRD OpenAPI validation schema when the `/status` subresource is enabled - https://github.com/kubernetes/kubernetes/p

[2018-05-09 05:26] wgliang commented on #63570
@sakarikl  Maybe you should provide more information to help us understand your problem.

[2018-05-09 05:32] raman36127 opened #63571 "Unit kubelet.service entered failed state - Setup on RHEL 7 - area/kubelet"
[root@k8-master-node tmp]# systemctl start kubelet

May  9 05:10:28 k8-master-node systemd: kubelet.service holdoff time over, scheduling restart.
May  9 05:10:28 k8-master-node systemd: Started kubelet: The Kubernetes Node Agent.
May  9 05:10:28 k8-master-node systemd: Starting kubelet: The Kubernetes Node Agent...
May  9 05:10:28 k8-master-node kubelet: Flag --pod-manifest-path has been deprecat

[2018-05-09 06:14] wgliang commented on #63571
/area kubelet

[2018-05-09 06:32] kadisi commented on #63127
the test performance is :
[code]

[2018-05-09 06:41] #63549 closed

[2018-05-09 06:42] bowei commented on #63552
/sig network

[2018-05-09 06:44] krmayankk commented on #63570
@sakarikl  please add the steps and provide more details.

/sig auth

[2018-05-09 06:48] #63538 closed

[2018-05-09 06:51] krmayankk commented on #63560
i think some form of rescheduling can also be acehived by using https://github.com/kubernetes-incubator/descheduler

[2018-05-09 06:53] lovejoy commented on #63126
facing the same problem ，seems the function  still in  developing ？ as i found a pr here
 https://github.com/kubernetes/kubernetes/pull/43823

[2018-05-09 07:07] vfreex commented on #63571
Note this line of error message:
[code]
You must prepare the required CA file for starting kubelet.
Please following a guide to set up kubernetes.

[2018-05-09 07:17] WanLinghao opened #63575 "Limit the range of token expiration"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

A new API TokenRequest has been implemented.It improves current serviceaccount model from many ways.https://github.com/kubernetes/kubernetes/issues/58790
I think we need some kind measure to limit the range of token expiration.
Try to imagine two cases:
1. User requests a token with extreme short-expiration, say 1s. Then token rotation

[2018-05-09 07:17] WanLinghao commented on #63575
@liggitt @mikedanese WDYT

[2018-05-09 08:11] andyzhangx commented on #61821
update:
Main code and unit test is already done:
https://github.com/andyzhangx/kubernetes/commit/53c8b88144997ae5df400144305547c42217f720

I am going to do e2e test next.

[2018-05-09 08:17] liqlin2015 opened #63577 "vSphere cloud provider did not detach volume when shutdown node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

1. Set up Kubernetes v1.10 cluster with vsphere cloud provider enabled.
2. Create a deployment nginx using some vsphere persistent volume.
3. Shutdown node where nginx pod is running. The nginx pod will be scheduled to another ready node.
4. Try to start above node was shutting off. The node cannot be started because attached vmdk

[2018-05-09 08:17] liqlin2015 commented on #63577
/sig node

[2018-05-09 08:31] raman36127 commented on #63571
https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/
Work for me.
Thanks

[2018-05-09 08:31] #63571 closed

[2018-05-09 08:32] shadowpriest opened #63578 "java.net.UnknownHostException when use coreDns rewrite plugin in kubernetes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I meet java.net.UnknownHostException when I use coreDns rewrite plugin in kubernetes.

the coreDns configmap data:

[code]
I try to  cname   `kms.services.dev.ofc` to the k8s service name `kms`, so I do not need to change the dns config in code when I migrate application to the k8s cluster.

the java error stack
[code]

Pod's `/etc

[2018-05-09 08:34] shadowpriest commented on #63578
/sig network

[2018-05-09 08:38] TrentNow commented on #53333
sed -i -E 's/--cgroup-driver=systemd/--cgroup-driver=cgroupfs/' /etc/systemd/system/kubelet.service.d/10-kubeadm.conf

sudo systemctl daemon-reload
sudo systemctl restart docker

[2018-05-09 09:05] redbaron commented on #59113
/remove-lifecycle stale.

[2018-05-09 09:06] redbaron commented on #59113
/remove-lifecycle stale

[2018-05-09 09:31] y0299 opened #63581 "kube-proxy cannot get real ip of client"
kube-proxy cannot get real ip of client. follow the reference :
https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/
my service config like that:
[code]
**but i also get the load-balancer ip, not the real ip  of client. Does some configuration wrong in my environment?**

**Environment**:
- Kubernetes version (use `kubectl version`):
   v1.8.4
- Cloud provider

[2018-05-09 09:58] islinwb opened #63584 "Add comments to ipset entries in kube-proxy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:
To make the function of ipset entries in kube-proxy more clear.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-

[2018-05-09 09:59] islinwb commented on #63584
/area kube-proxy

[2018-05-09 10:03] lovejoy commented on #63126
i did  a test，found that if I used up all the emptyDir space, the pod status will be Evicted and the status will never change. so the pod is dead forever

But I hope the emptyDir  can't be written by the user, like  `  No space left on device `  warning , not the pod dead forever

[2018-05-09 10:03] m1093782566 commented on #63584
/sig network

[2018-05-09 10:04] dixudx commented on #63542
@IvanovOleg I did not reproduce this.

What's your exact running params for kubelet? Please make sure your params are not override by some drop-ins if you are using `systemd`.

[2018-05-09 10:50] karthiekchowdary1 commented on #54540
HI Team,

we need to install sap vora, for that kubernetes and Docker are prerequisites. we have installed kubernetes master and kubectl, docker . but when we are checking

kubectl cluster-info

 #kubectl cluster-info dump
2018-05-09 06:47:57.905806 I | proto: duplicate proto type registered: google.protobuf.Any
2018-05-09 06:47:57.905997 I | proto: duplicate proto type registered: google.protobuf

[2018-05-09 10:50] karthiekchowdary1 commented on #23726
HI Team,

we need to install sap vora, for that kubernetes and Docker are prerequisites. we have installed kubernetes master and kubectl, docker . but when we are checking

kubectl cluster-info

#kubectl cluster-info dump
2018-05-09 06:47:57.905806 I | proto: duplicate proto type registered: google.protobuf.Any
2018-05-09 06:47:57.905997 I | proto: duplicate proto type registered: google.protobuf.

[2018-05-09 10:58] dims commented on #63581
/sig network

[2018-05-09 10:58] dims commented on #63575
/sig auth

[2018-05-09 10:58] dims commented on #63567
/sig network

[2018-05-09 11:00] dims commented on #57959
/close

[2018-05-09 11:00] #57959 closed

[2018-05-09 11:02] dims commented on #61483
/status approved-for-milestone

[2018-05-09 11:03] #63359 closed

[2018-05-09 11:11] nyxi commented on #62382
This is a pretty terrible bug and it definitely still exists in v1.10.2

[2018-05-09 11:45] calvix commented on #56720
The issue is not fixed, but we have workarounds in place that helps us mitigate the issue.

[2018-05-09 11:56] patotech commented on #42306
I just tested this on K8S 1.10; the IP works but the svc name does not. I tested name resolution with busybox and that works well, but the GlusterFS plugin does not resolve the name. In my case I am working with a bare-metal installation on-premise.

[2018-05-09 12:15] IvanovOleg commented on #63542
@dixudx
kubelet.service:

[code]
config:
[code]
kubelet:
[code]

[2018-05-09 12:38] brrrrain commented on #58876
@jerryduren, you need to pass `--apiserver-advertise-address=<master-node-external-ip>` option when init a cluster.

In my case: `kubeadm init --apiserver-advertise-address=10.1.1.2`

[2018-05-09 12:40] dkirrane commented on #56438
I'm using kubeadm `v1.10.2` and noticed `kubeadm init` it is pulling `k8s.gcr.io/etcd-amd64:3.1.12`

[2018-05-09 12:42] dixudx commented on #63542
@IvanovOleg For those docker-specific flags, like `--cni-bin-dir`,  only work when container-runtime is set to docker. However you're using `remote` container runtime. That's why it does not work as you expected.

We've added warnings for this in #62982.

[2018-05-09 12:44] pitinga commented on #28692
Hi @raffaelespazzoli ....

Did you find a solution for the problem?

/reopen

[2018-05-09 12:50] IvanovOleg commented on #63542
@dixudx
I use the pre-installed containerd runtime in the CoreOS as a remote runtime. It looks like I have to change this parameter somewhere in the containerd configuration. How can I let kubelet know about this directory?

[2018-05-09 12:57] dixudx commented on #63542
@IvanovOleg For `containerd`, you can override it in [/etc/containerd/config.toml](https://github.com/containerd/cri/blob/master/docs/config.md).

[code]

[2018-05-09 12:58] raffaelespazzoli commented on #28692
I think this was resolved sometime in the past.
I haven't actually tested it recently, you could be seeing a regression.
Are you using the new autoscaler?
Either way perhaps it's better to open a new issue and link it to this one.

2018-05-09 8:45 GMT-04:00 k8s-ci-robot <notifications@github.com>:

--
ciao/bye
Raffaele

[2018-05-09 13:10] cezarsa commented on #25766
/reopen
/remove-lifecycle rotten
Not sure if I have permission for these actions, but I think this issue was only closed due to a typo in @euank's comment trying to remove the rotten state (rott**o**n)

[2018-05-09 13:16] dims commented on #63542
we do have warning in the `kubelet --help`
[code]

[2018-05-09 13:27] IvanovOleg commented on #63542
@dixudx  Thanks a lot!

[2018-05-09 13:27] #63542 closed

[2018-05-09 13:35] matthewdupre commented on #60389
This happens to me trying to build on Arch (with go 1.10).  Can this be reopened?

[2018-05-09 13:44] k82cn commented on #61410
/close

All related PRs were merged :)

[2018-05-09 13:44] #61410 closed

[2018-05-09 13:55] resouer commented on #63467
`while ./runtest.sh; do :; done` can re-produce this issue ...

[2018-05-09 14:16] shyamjvs commented on #63030
So I took a look into the density test failures and ~all the failures in the streak were due to high latencies of 'DELETE pods' request (and sometimes 'POST configmaps' also).
E.g from [run-150](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/150):

[code]

From the graph of the latency across runs, there was a jump across runs 141 and 142:

[2018-05-09 14:27] khatamnejad commented on #53777
Hi @ironcladlou @nikhita!

Is someone working on this issue and #798 actively? If no one is working on them, I think I should be able to do so.

[2018-05-09 14:28] OlafSzmidt commented on #33777
Same issue here. GKE. 1.9.2-gke.1.

[2018-05-09 14:31] nikhita commented on #53777
@khatamnejad Hi! I am working on this. :)

I was a little busy from the past few weeks with university work but I will be taking this up again (had already started working on this before).

[2018-05-09 14:37] liggitt commented on #63030
Does the scale test environment enable the OwnerReferencesPermissionEnforcement admission plugin? That's the only plugin using that rest mapper that I can see, and I didn't think it was on by default

[2018-05-09 14:39] akochnev commented on #62587
I rebuilt kubectl on windows/amd64 with the latest sources and I am unable to reproduce this issue on a local Server 2016 instance. kubectl properly responds with an appropriate error (as in the bug report). The command/shell window continues to be functional.

(note the intentionally misspelled resource, as reported in the issue)
[code]

The version details of my setup are :
[code]

@ccanuel  - c

[2018-05-09 14:43] michmike commented on #62587
sounds good. i agree @akochnev

[2018-05-09 14:43] michmike commented on #62587
/close

[2018-05-09 14:47] enj commented on #63030
It is the only plugin we have that uses that REST mapper...

[2018-05-09 14:56] george-angel commented on #56996
Was the issue opened, is there a reference?

[2018-05-09 15:04] shyamjvs commented on #63030
Let me run twice with and without the change to confirm.

[2018-05-09 15:18] liggitt commented on #63030
It looks like the QPS on the client used for internal loopback requests is set to 50 here:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/config_selfclient.go#L40-L45

Using that client for discovery uses ~25 requests every 10 seconds to maintain the list of active resources.

That client is also used by the node restriction admission plugin in pod del

[2018-05-09 15:31] cezarygerard commented on #62710
/remove-sig instrumentation

this is actually not connected to metric server. Deleting the namespace fails and @liggitt has a workaround PR
https://github.com/kubernetes/kubernetes/pull/63597

[2018-05-09 15:39] simon-k8s commented on #58145
@FengyunPan I just tried to use this feature in kubernetes 1.10.2 and it still seems to be broken. The security groups do not get created and the service creation is stuck at pending without an ip address. I used this configuration and i also tried all the alternatives listed here.

`   [LoadBalancer]
subnet-id=833f31d8-dc55-4c2c-9415-a1aeb9771b4e
create-monitor=true
monitor-delay=10s
monitor-time

[2018-05-09 15:40] lavalamp commented on #58793
Thanks for being understanding! :) :)

On Tue, May 8, 2018 at 10:06 PM David Z Hao <notifications@github.com>
wrote:

[2018-05-09 15:45] jeremywadsack commented on #45509
@antoinne85, @chavacava, @Tigh-Gherr we do exactly that pattern. We use  a Kubernetes`Job` to run a worker that scales up (starts the `Job`) when items are added to the queue. When the queue is empty the worker terminates (successfully) and the `Job` completes. I think that `Job` is exactly what you are looking for rather than selecting pods within a deployment to terminate.

See https://github.co

[2018-05-09 15:54] lavalamp opened #63607 "staging: figure out vgo (versioned go) publishing strategy"
We should really figure out our strategy for vgo: https://github.com/golang/go/issues/24301.

The most obviously disruptive changes are:
* We're supposed to have a e.g. v6 in the import path when the major digit of the library's semver is 6.
* We're supposed to increment that every time we break backwards compatibility.

In exchange for making the needed adjustments, we'll get to throw Godep/* in

[2018-05-09 15:55] shyamjvs commented on #63030
On a somewhat related note (though from a different time - around yesterday) we started seeing failures in even our 100-node performance tests - https://k8s-testgrid.appspot.com/sig-scalability-gce#gce

And the reason there is also exactly the same, i.e increased `delete pod` latency:

[code]

That's a super high bump for such a small cluster. And the [diff](https://github.com/kubernetes/kubernete

[2018-05-09 16:01] MikeSpreitzer opened #63608 "Rare 10-second timeouts from ResourceQuota admission controller"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I wrote a simple driver program (https://github.com/MikeSpreitzer/k8api-scaletest/blob/2f5a8414b5da4059bb2a2b33fcdb88f40ca2e07b/cmdriverclosed/main.go) that creates ConfigMap objects as fast as it can, and ran it like this: `cmdriverclosed --kubeconfig $myconfig -n 30103 -threads 10 -conns 10`.  In the CSV file produced,

[2018-05-09 16:03] MikeSpreitzer commented on #63608
@kubernetes/sig-api-machinery-bugs

[2018-05-09 16:17] lavalamp commented on #63608
That's weird, I'm not aware of a 10s timeout anywhere (there is a 60s one). @jpbetz does the etcd client have such a timeout?

[2018-05-09 16:30] dashpole commented on #61999
@glennschmidt Monitoring the writable layer for overlay was fixed in 1.10.  Overlay2 was fixed in 1.9

[2018-05-09 16:32] misterikkit commented on #24246
Hi, it seems like some work was already done to parallelize priority evaluation, but we think we can do better? I know we measure priority evaluation time with the scheduling_algorithm_priority_evaluation metric. Is that tracked in e2e tests?

Finally, I really like the idea for predicates in https://github.com/kubernetes/kubernetes/issues/24246#issuecomment-338635435, but when I brought that up w

[2018-05-09 16:41] AishSundar commented on #62710
We have had further discussion on this. @liggitt and @yliaog are looking into this - https://github.com/kubernetes/kubernetes/pull/63597

[2018-05-09 16:42] AishSundar commented on #62710
cc @liggitt @yliaog

[2018-05-09 16:42] AishSundar commented on #62710
/assign @yliaog

[2018-05-09 16:45] shyamjvs opened #63610 "Readjust QPS defaults for c-m after moving GC to new dynamic client"
Based on discussion on slack with @deads2k ,

Earlier, we were using the c-m qps wrongly in GC. The qps limit was enforced per resource type as opposed to globally for the GC.
So with the old behavior, if you set 10 QPS and had 30 resources, you'd actually have 300 qps.  if you had added more CRDs and aggregated APIs to 80 resources, the same config would then potentially have 800 qps.  With the n

[2018-05-09 17:08] AishSundar commented on #62703
Followed with @kow3ns offline. He is testing a fix locally. He'll cut a PR against 1.10 today. need to modify the tests in that branch and then we need to get the release shepherd to merge the CP

[2018-05-09 17:11] MikeSpreitzer commented on #63608
FYI:
[code]

[2018-05-09 17:13] shyamjvs commented on #63030
FYI - Filed another issue https://github.com/kubernetes/kubernetes/issues/63610 for the GC regression which is a different one.

[2018-05-09 17:27] sttts commented on #63607
And there are nested go.mod files, i.e. staging like submodules. So we might even get rid of the ugly vendor/ -> staging symlinks.

[2018-05-09 17:30] sttts commented on #53777
Understanding @nikhita correctly this is more like a bug of missing dynamic informers (via discovery) in the quota controller than a limited design. So the change is similar to the changes we did for the garbage collector not too long ago.

[2018-05-09 17:37] jingxu97 commented on #63126
@lovejoy @RenaultAI As you discovered, the sizeLimit parameter set for emptyDir volume could not be used for creating a volume with the size. Instead what it does it that eviction manager keeps monitoring the disk space used by pod emptyDir volume and it will evict pods when the usage exceeds the limit.
You can request a feature for your use case so that we might work on it. Thanks!

[2018-05-09 17:42] AishSundar opened #63611 "Failing Test : [sig-network] All Networking Granular Checks are failing in sig-release-master-blocking gci-gce-alpha-features job"
## Failing Job
[gci-gce-alpha-features](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-alpha-features)

## Gubernator Logs
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/21594

## Error
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/network/networking.go:203
May  9 15:57:39.163: Unexpec

[2018-05-09 17:46] dchen1107 commented on #63506
I think @krousey's theory at :https://github.com/kubernetes/kubernetes/issues/63506#issuecomment-387802096 is right. After #60692 was merged, .spec.externalID is mapping to spec.instanceID which wouldn't be unique after recreate. In this case, Kubelet won't delete old node object and recreate new one. I think this is what we want: we want to stop the node to delete and create itself, we want to st

[2018-05-09 17:48] krousey commented on #63506
@dchen1107 Thanks, I'll work on a PR and send it out today.

[2018-05-09 17:49] jiayingz commented on #63506
From my manual run, I ssh-ed into the unschedulable node after the test and saw the kubelet log contains multiple restarts and logged the event that the node was previously registered and then later changed to NodeNotSchedulable based on the spec got from the API server:

1754: May 08 18:03:18 e2e-test-jiayingz-minion-group-ssbv kubelet[1073]: I0508 18:03:18.587210    1073 kubelet_node_status.go:1

[2018-05-09 17:50] krousey commented on #63506
@jiayingz That fits with the current theory. The instance is being recreated, but the kubelet is no longer re-registering itself since the externalID is the same.

[2018-05-09 17:50] AishSundar opened #63612 "Failing Test : [sig-cluster-lifecycle] All Reboot [Disruptive] [Feature:Reboot] tests are failing in sig-release-master-blocking gci-gke-reboot job"
## Failing Job
[gci-gke-reboot](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-reboot)

Gubernator Logs
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot/14474

Error
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/lifecycle/reboot.go:116
May  9 15:49:21.688: Test failed; at least one node failed t

[2018-05-09 17:51] dchen1107 commented on #62713
I updated the issue at https://github.com/kubernetes/kubernetes/issues/63506#issuecomment-387819838, which might explain some of the failures here.

[2018-05-09 18:03] khatamnejad commented on #53777
@sttts  Could you please point out to he Garbage Collector issue you've just mentioned? I am not sure how it is going to help uses define a limit/quota for the number of Custom Resources.

[2018-05-09 18:12] rdzimmer opened #63615 "HPA not able to find CPU, looking at unrelated pod"
**What happened**:
I created HPAs for several Deployments using the helm yaml below:
[code]
It works fine except for on my pod "metric" that has 3 containers in it.  All containers have kubernetes resource requests and limits for CPU and memory.  The problem is the HPA reports it cannot find the CPU usage.
[code]
The odd thing is the "event" pod is completely unrelated to the "metric" pod.  In ano

[2018-05-09 18:13] mikedanese commented on #63575
👍 I'd like a lower bound of 10 minutes. I'd also like an upper bound to be configurable from the command line. The upper bound interacts with signing key rotation. For instance a key should not sign a token to expiry after the key is no longer valid.

[2018-05-09 18:35] nikhita commented on #53777
@khatamnejad Basically, we need to do something like this for the quota controller:

https://github.com/kubernetes/kubernetes/blob/23a9136d4e91e6af7369573805ffb7803785ec1b/pkg/controller/garbagecollector/graph_builder.go#L191-L197

[2018-05-09 18:36] coreypobrien opened #63617 "Collision between healthCheckNodePort and nodePort on LoadBalancer services"
I ran into what appears to be an unlikely collision between two LoadBalancer services. Both services were created with `nil` for `spec.healthCheckNodePort` and `spec.ports[*].nodePort`. Somehow they ended up both trying to use `30073` which resulted in kube-proxy failing to configure the second service correctly.

This is similar sounding to #54885 which was closed without resolution.

kube-proxy

[2018-05-09 18:39] w-leads commented on #63577
Hi, I've faced the same kind of issue, and raised a pull request which is under review phase now.
I'm not sure if this is exactly the same as your case, also if this pr will be merged though... but just let me share it here.
#63413
Thank you

[2018-05-09 18:49] DirectXMan12 commented on #63501
Alright.  It's weird that it popped up suddenly then.  I wonder if we started running extra infra pods during the tests or something?  At any rate, the easy solution should be to drop down the requests on the pods.  What's the size of the nodes that we have to work with?  Based on the error messages, it looks like we've got between 1 and 2 scheduable nodes (that's kind of weird that it's not const

[2018-05-09 18:54] sjenning opened #63620 "kubelet: eviction log size accounting is wrong"
When using json-file logging, docker stores logs in `/var/lib/docker/containers/<containerid>/<containerid>-json.log`.  This is in the imagefs.  However in the eviction code, we account log size as part of the nodefs.

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/eviction/helpers.go#L1012-L1017

This results in wrongful evictions in the case that the size of the logs approaches

[2018-05-09 18:55] sjenning commented on #63620
/sig-node
/assign
/kind bug

[2018-05-09 18:55] sjenning commented on #63620
/sig node

[2018-05-09 18:58] yliaog commented on #62710
this is a CL to rollback the GKE test env change, it should fix the failures like below:

May 8 10:22:06.860: INFO: discovery error for unexpected group: schema.GroupVersion{Group:"metrics.k8s.io", Version:"v1beta1"}

[2018-05-09 19:15] sjenning commented on #63620
More complete log
[code]

[2018-05-09 19:27] #61483 closed

[2018-05-09 19:41] timothysc commented on #63505
/assign @roberthbailey

re: downgrades, that's a google-ism.

[2018-05-09 19:42] timothysc commented on #63505
/unassign @timothysc

[2018-05-09 19:43] timothysc commented on #63500
PR's in flight on upgrade tests -

https://github.com/kubernetes/kubernetes/pull/63596
https://github.com/kubernetes/kubernetes/pull/63595

closing this issue, please reopen is issue persists 24 hours from this comment.
/cc @dims

[2018-05-09 19:43] #63500 closed

[2018-05-09 19:43] timothysc commented on #63499
PR's in flight on upgrade tests -

https://github.com/kubernetes/kubernetes/pull/63596
https://github.com/kubernetes/kubernetes/pull/63595

closing this issue, please reopen is issue persists 24 hours from this comment.
/cc @dims

[2018-05-09 19:47] jingxu97 commented on #63156
I checked a couple of failed tests. Both of them has the log of "MountVolume.WaitForAttach entering for volume ....", but after that, there is no fail or succeed message. It seems like WaitForAttach was hanging. All the following operationExecutor.MountVolume will fail to start because the first operation still exist.
I checked WaitForAttach function in GCE PD attacher, there are some file system

[2018-05-09 19:50] dashpole commented on #63620
This must running version 1.8, right?  I [removed allocatableNodeFs evictions](https://github.com/kubernetes/kubernetes/pull/55338) in 1.9.

[2018-05-09 20:00] msau42 commented on #63156
Another suspicious operation I see that could block is invoking udevadm [here](https://github.com/kubernetes/kubernetes/blame/master/pkg/volume/gce_pd/gce_util.go#L371).

I think we probably need to manually try to stress and reproduce this, so we have a chance to login and see where it's stuck.

[2018-05-09 20:12] sjenning commented on #63620
Ah yes.  This is 1.7.  Everytime I visit the eviction code I have to relearn it all.
Even in the 1.7 code, I could not find out how logs where being accounted in nodefs though :-/

[2018-05-09 20:15] msau42 commented on #56507
cc @Random-Liu @yujuhong

[2018-05-09 20:15] #63620 closed

[2018-05-09 20:17] dashpole commented on #63620
This is the code that does this accounting in the 1.7.13 release: https://github.com/kubernetes/kubernetes/blob/7e4c2dfb27000d69cd43d3a78ece76d5564687be/pkg/kubelet/eviction/helpers.go#L739.

[2018-05-09 20:38] patrikerdes commented on #11852
I tried `build/make-clean.sh && build/run.sh make` a couple of times with 5-8 GB or memory assigned to Docker for Mac, these are my results:

Memory|Build attempts|Successful builds|Failed builds
--------|---------|-----------------|-----------
5 GB|3|0|3
6 GB|5|2|3
7 GB|5|3|2
8 GB|5|5|0

In other words, it seems that Docker for Mac needs at least 8 GB to be able to somewhat consistently build Kub

[2018-05-09 20:56] dprotaso commented on #20572
Getting a pod using it's UID will be very valuable once the log location changes proposed here come into effect.

https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/kubelet-cri-logging.md

For context the fluentd daemonset, which bundles [a plugin to append kubernetes metadata to log records](https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter)

[2018-05-09 21:10] AishSundar opened #63622 "Flaky Test : [sig-api-machinery] Aggregator Should be able to support the 1.7 Sample API Server using the current Aggregator fails on "pull-kubernetes-e2e-gce" and "ci-kubernetes-e2e-gci-gce""
## Flaky Tests
* [pull-kubernetes-e2e-gce](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/pull/59284/pull-kubernetes-e2e-gce/)
* [ci-kubernetes-e2e-gci-gce](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/)

## Consistency: [86%](http://storage.googleapis.com/k8s-metrics/job-flakes-latest.json)

## Flakiest test
[sig-api-machinery]

[2018-05-09 21:12] BenTheElder commented on #63501
nodes.yaml in the artifacts covers this for some jobs
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster/2121/artifacts/nodes.yaml

The [logs](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster/2121?log#log) also include the cluster-up output so you can see:
[code]

[code]

And for c

[2018-05-09 21:12] timothysc commented on #63612
This is either a node or a instrumentation error.  On restart there are a bunch of overlay2 errors

``` rpc error: code = Unknown desc = Error response from daemon: readlink /var/lib/docker/overlay2: invalid argument,} Running:nil Terminated:nil}```

/cc @kubernetes/sig-node-bugs @kubernetes/sig-instrumentation-bugs

[2018-05-09 21:13] timothysc commented on #63612
/unassign @timothysc

[2018-05-09 21:13] timothysc commented on #63612
@AishSundar need to find a new owner re comments above.

/assign @AishSundar

[2018-05-09 21:17] lavalamp commented on #63622
@deads2k has made changes that could have affected this recently. @liggitt
made one that'd be even more suspicious but I don't think it has merged yet
:) :)

On Wed, May 9, 2018 at 2:12 PM Aish Sundar <notifications@github.com> wrote:

[2018-05-09 21:25] liggitt commented on #63622
audit log from the test run shows the requests are returning 404s, not 503s

[2018-05-09 21:25] lavalamp commented on #63622
ah, sorry, I misread the log and thought it was a discovery error. Hm.

On Wed, May 9, 2018 at 2:23 PM Jordan Liggitt <notifications@github.com>
wrote:

[2018-05-09 21:29] lavalamp commented on #63607
Yes, apparently there's built in support for overrides, e.g. "get this module from this directory over here instead of pulling from the remote source", so we'll have a better way to do that.

[2018-05-09 21:30] AishSundar commented on #63612
/sig node
/sig instrumentation
@kubernetes/sig-node-bugs
@kubernetes/sig-instrumentation-bugs

@dchen1107 @dims can one of you please help triage this issue. Its failing the sig-release-master-blocking suite.

[2018-05-09 21:30] AishSundar commented on #63612
/assign @dims

[2018-05-09 21:53] ben-schumacher commented on #62817
Any update on this?  It appears I'm seeing the same issue.  Running on vSphere,

Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.5", GitCommit:"f01a2bf98249a4db383560443a59bed0c13575df", GitTreeState:"clean", BuildDate:"2018-03-19T15:59:24Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}

[code]

[2018-05-09 21:59] spiffxp commented on #24057
This seems like it should be more of a kubernetes/community issue than k/k, but yeah this would fix one of our larger broken windows re: non-prefixed labels.  If we don't do it _soon_ within the 1.11 cycle though I would punt to 1.12

[2018-05-09 22:01] spiffxp commented on #40314
Is this still an issue with kubernetes today? We're up to 1.10.x now, I don't anticipate upstream support beyond 1.8.x

[2018-05-09 22:03] liggitt commented on #63622
hmm, there's a second smaller set of failures that *are* discovery related:

[code]

looks like those started flaking after https://github.com/kubernetes/kubernetes/pull/63421/commits/74b7cec0c6b1355615097be4068500761a9893fd which went in on 5/4

looks like some discovery paths had internal retries that could have masked those 404 errors before. since the error that test is encountering is for an

[2018-05-09 22:03] spiffxp commented on #38768
/close
per above comment

[2018-05-09 22:03] #38768 closed

[2018-05-09 22:04] antoinne85 commented on #45509
@jeremywadsack The job pattern can work, but it introduces more things to keep track of for the end developer.

For example, suppose my queue gets filled with 10 items, so I start a Job and scale it.

At some point the queue is empty and at least one of the pods exits successfully. But there are still others out there wrapping up their work.

So if more messages come in between the time the queue

[2018-05-09 22:08] spiffxp commented on #49508
/remove-lifecycle rotten

[2018-05-09 22:09] spiffxp commented on #52309
/close
Not really sure this is a meaningful cluster

[2018-05-09 22:09] #52309 closed

[2018-05-09 22:11] spiffxp commented on #52504
/remove-lifecycle stale
this is still a persistent failure in bringing up the cluster, looks like it's using a deprecated gcloud flag

[2018-05-09 22:11] spiffxp commented on #52504
/remove-lifecycle rotten
right, stale got removed

[2018-05-09 22:32] jeremywadsack commented on #45509
@antoinne85 Good points.

At the moment our implementation is naive and adds a new Job for each worker. So when the queue is empty a pod terminates and the Job completes. On the other end, the enqueue hook spins up a new Job only if the total number of jobs is less than the set maximum.

I would like to use Job scaling (rather than a Job per worker), but I haven't dug into that. I would expect to

[2018-05-09 22:54] krousey commented on #63505
/assign @krousey

The nodes aren't downgrading properly. I will either look into this or find someone to do it.

[2018-05-09 22:56] tpepper commented on #44505
@spiffxp poked me to get some additional ContribEx eyes on this and try to run with it in his absence...

I'm worried we're reinventing an oft reinvented wheel here.

First it would be good if we could assume a forward world where SPDX license strings and headers are standard.  But in the meantime we will need to deal with outliers cleanly to build a complete list of observed licenses and pieces o

[2018-05-09 23:30] msau42 commented on #62700
I opened PR https://github.com/kubernetes/test-infra/pull/7989 that will hopefully allow alpha clusters to come up more.

[2018-05-09 23:37] glb opened #63629 "PROPOSAL: Include image labels in ContainerStatus"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

Currently the [ContainerStatus](https://github.com/kubernetes/api/blob/8ab7c6a2fbd1724a52514855629cec31a8f86929/core/v1/types.go#L2183) API object reports the image and image ID, for example:
[code]

It's a not-uncommon practice for folks to include labels in their image metadata, for example vendor information or version control referen

[2018-05-09 23:41] jiayingz opened #63630 "Adds a device plugin upgrade test under test/e2e/upgrades/"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Ideally we would like to have master/cluster upgrade test that exercises kubelet device plugin support based on a stub device plugin. Given that the stub device plugin based e2e test is not available yet, we may start with an upgrade test that is based on the existing gpu device plugin.

**What you expected to happen*

[2018-05-09 23:44] cezarygerard commented on #62710
@yliaog which CL you mean? Did you forgot to link?

[2018-05-09 23:47] justaugustus commented on #63155
/assign @kubernetes/sig-azure-bugs

[2018-05-09 23:49] AishSundar commented on #62710
Its an internal GKE CL. Its now checked in all tests are beginning to turn green.

https://k8s-testgrid.appspot.com/sig-cli-master#gke

https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke

[2018-05-09 23:53] cezarygerard commented on #62710
wasn't it fix by this: https://github.com/kubernetes/kubernetes/pull/63597#issuecomment-387781812 ?

[2018-05-09 23:57] AishSundar commented on #62710
That just fixed the e2e tests to ignore the discoverability error. That PR exposed other GKE specific test issues that were fixed by an internal PR.

That said, I still see the e2e test originally tracked by this issue still failing.

[[sig-cluster-lifecycle] Upgrade [Feature:Upgrade] cluster upgrade should maintain a functioning cluster [Feature:ClusterUpgrade]](https://k8s-gubernator.appspot.com

[2018-05-09 23:57] cezarygerard commented on #62710
so this wasn't needed: https://github.com/kubernetes/kubernetes/pull/63597

[2018-05-09 23:58] jiayingz opened #63634 "A DaemonSet pod was not upgraded correctly from a master upgrade test"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I am trying to add a GPUMasterUpgrade test. When running the test from a 1.9.7 release to a recent k8s version built from head that updated the nvidia-gpu-device-plugin DaemonSet to a new image version, I found the nvidia-gpu-device-plugin DaemonSet pod running on the GPU node was not correctly updated to the new image ve

[2018-05-10 00:00] jiayingz commented on #63634
/cc @janetkuo @kow3ns @vishh @mindprince

[2018-05-10 00:04] msau42 commented on #63467
I think there's potentially two issues:
1) It seems like AssumePodVolumes is not working.  When the scheduler does a second pass, it seems to pick a completely different set of PVs even though we should have assumed them on the first pass.
2) After a while, the scheduler stops calling the VolumeBindingChecker predicate, so Pod has failed scheduling forever.  There is probably some race condition w

[2018-05-10 00:08] jiayingz commented on #63634
/sig app

[2018-05-10 00:31] msau42 commented on #63467
Actually, I'm not sure if I can trust the timestamps of the logs to be synced across threads.  So I'm not sure if I can trust the timestamps to determine strict ordering of operations.

The flow should be like this:
First pass:
[code]

After the assume, we queue the Pod for binding asynchronously. While it's theoretically possible for the Pod to be processed again (if a Pod got updated out of band

[2018-05-10 00:40] rikatz commented on #45419
@deitch you say something about CoreOS issues [here](https://github.com/kubernetes/kubernetes/issues/45419#issuecomment-356806635). Can you provide some more information in how to solve this networking issues?

I'm facing the same problems here, but I'm testing with a baremetal node of 768Gb of RAM. It's with more than 2k images loaded (I'm pruning some of them).

We're using k8s 1.7.15, and Docke

[2018-05-10 00:45] msau42 commented on #63467
No hold on I misread the logs.  Editing previous analysis...

[2018-05-10 00:46] glennschmidt commented on #61999
@dashpole Kubernetes 1.10? Hmm..I'm using 1.8 so in that case I don't know what's going on.

I'm fairly confident it's measuring the whole filesystem. My writable layers are tiny (<20 files and <50KB) so I doubt i'd be seeing these problems if it was just looking at the writable layers.

[2018-05-10 01:04] wenlxie commented on #61813
@ashw7n

[2018-05-10 01:05] wenlxie commented on #62896
@ashw7n

[2018-05-10 01:08] msau42 commented on #63467
Regarding why the binding API update failed, it seems like pv-stress-459 was already bound to another PVC + pod:
[code]

So this comes back to the issue why AssumeVolumes didn't reflect in the subsequent FindPodVolumes.

[2018-05-10 01:27] msau42 commented on #63467
FYI, my test [args](https://gist.github.com/msau42/1c29075fb5fce56ac884d58034d27dc4), and extra [logging](https://github.com/kubernetes/kubernetes/commit/ac9680e069955a6130566ab5fb33f0f0cafda221)

[2018-05-10 01:31] wangxinxu411 opened #63637 "glusterfs coredump when kubelet mount a gfs pvc."
1.BASE IMAGE of hypecube
gcr.io/google-containers/debian-hyperkube-base-amd64:0.10

2.the glusterfs version
root@node3:/# glusterfs --version
glusterfs 3.8.8 built on Jan 11 2017 14:07:11

3.the glusterfs log
root@node3:/# cat /var/lib/kubelet/plugins/kubernetes.io/glusterfs/pvc-1bcde16a-5363-11e8-9fdb-001a4a180029/gfstest-0-glusterfs.log  | more
pending frames:
patchset: git://git.gluster.com/glu

[2018-05-10 01:35] wangxinxu411 commented on #63637
/sig Storage

[2018-05-10 02:41] yoke88 commented on #63479
According the packet flow chart here https://upload.wikimedia.org/wikipedia/commons/3/37/Netfilter-packet-flow.svg , I noticed that the package stopped at `nat:PREROUTING` and can not go to next table, and it need routing decision.

but the route table does not contains a rule to match a package from 192.168.235.13 to 10.0.1.12, so the package dropped.

[code]

And According this [reference](https

[2018-05-10 03:13] msau42 commented on #62700
Looks like gce alpha is passing now.

But gke alpha is failing again, probably a new issue should be open for gke

[2018-05-10 03:14] msau42 commented on #62700
/assign
/close

[2018-05-10 03:14] #62700 closed

[2018-05-10 03:28] k82cn commented on #24246
for duplicated codes, it should be fine by some helper funcs. for performance, it should be acceptable :)

Another option is to have some pre-defined events, e.g. NodeConditionChanged, NodeTaintChanged (defined those event based on what conditions are checked in scheduler), and each predicate just return which event will trigger cache refresh :)

[code]

Scheduler will maintain a map: the key is E

[2018-05-10 03:29] AishSundar commented on #62700
Thanks @msau42 for the fix. Where do you see the gke dashboard? Its not on the sig-release dashboard.

[2018-05-10 03:29] k82cn commented on #24246
xref https://github.com/kubernetes/kubernetes/issues/62092

[2018-05-10 03:44] msau42 commented on #62700
Here's gke alpha testgrid:
https://k8s-testgrid.appspot.com/google-gke#gci-gke-alpha-features

[2018-05-10 05:29] jiayingz commented on #63634
/sig apps

[2018-05-10 05:58] jiayingz commented on #63630
/sig node
/sig scheduling

[2018-05-10 06:12] hchenxa commented on #62828
seems the issue can not reproduced in my environment, first close this issue.

[2018-05-10 06:12] #62828 closed

[2018-05-10 06:27] loburm commented on #56210
/reopen
/remove-lifecycle rotten

[2018-05-10 06:52] kareiva commented on #3312
The content of this study resonates pretty well with our production deployment. Therefore I'd like to add a +1 here.

[2018-05-10 06:58] #43860 closed

[2018-05-10 07:10] xiaoxubeii commented on #63629
/sig api-machinery

[2018-05-10 07:28] yph152 opened #63645 "Pod restartPolicy is Never"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

My configuration file is as follows：
[code]
The restartPolicy I set is Never, but when it's done failed, use kubectl to display：
[code]
When I use 1.8, it is invisible
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- K

[2018-05-10 07:48] soltysh commented on #62382
Looking right now...

[2018-05-10 07:49] soltysh commented on #63135
/close

[2018-05-10 07:49] #63135 closed

[2018-05-10 07:55] jimmythedog commented on #36222
It seems strange to me that this is closed, when it is clearly still an issue
A configmap created from a yaml file that uses the [literal style](http://yaml.org/spec/1.2/spec.html#id2795688) i.e. the pipe symbol, is then almost unreadable with 'kubectl get -o yaml', and difficult to edit with kubectl

[2018-05-10 08:11] nikhita commented on #59451
/remove-lifecycle stale

This will be taken care of in pruning: https://github.com/kubernetes/kubernetes/pull/63604

[2018-05-10 08:17] k82cn commented on #62704
#61089 added namespace in the event, #61916 fixed e2e error in 1.11; but it's still failed when running 1.10 e2e in 1.11 cluster.

[2018-05-10 08:41] yevgeniyo commented on #19317
Hi, I got this:

curl -H "Content-Type: application/json" -X PUT --data-binary @temp.json http://127.0.0.1:8001/api/v1/namespaces/cattle-system/finalize/
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {

  },
  "status": "Failure",
  "message": "Operation cannot be fulfilled on namespaces \"cattle-system\": the object has been modified; please apply your changes to the latest version an

[2018-05-10 08:51] xiaoxubeii commented on #63543
ConfigMap is designed for pods to consume not for other resources:
[code]

[2018-05-10 08:52] Tizeen opened #63648 "Using ceph storageclass can't create PersistentVolumeClaim"
**What happened**:

When i use ceph rbd storageclass create persistent volume claim, it always in `pending` status, `kubectl describe ` get follow event:

[code]

ceph-storageclass-secret:

[code]

storageclass yaml config:

[code]

ceph-storage-pvc yaml:

[code]

**Environment**:
- Kubernetes version: v1.8.2+coreos.0
- OS: CentOS 7.4
- Kernel: 3.10.0-693.11.6.el7.x86_64
- Install tools: kubespray

[2018-05-10 08:55] nikhita commented on #57316
xref https://github.com/kubernetes/kubernetes/pull/63518 - CRD Versioning with no-op Conversion

[2018-05-10 08:57] nikhita commented on #55541
I guess we can close this?

[2018-05-10 08:59] Tizeen commented on #63648
/sig Storage

[2018-05-10 09:00] nikhita commented on #59151
PR for pruning fields: https://github.com/kubernetes/kubernetes/pull/63604

[2018-05-10 09:07] xiaoxubeii commented on #63648
Maybe your ceph-common / rbd version is too low. I use ceph-common 10.2.3, it works fine.

[2018-05-10 09:10] xiaoxubeii commented on #63479
@yoke88 The pod would choose node ip.

[2018-05-10 09:14] krzysied commented on #63025
I run the test with increased resources x2. The test failed - still looks like insufficient memory.
I used 60GB nodes (normally we use 30GB) and it didn't solve the problem. Do we want to try with x3 resources?

Btw, without real proxier the test executed fine.

[2018-05-10 09:18] Tizeen commented on #63648
@xiaoxubeii
Sorry, I forget print the ceph version

[code]

[2018-05-10 09:30] wojtek-t commented on #63610
@jberkus FYI

[2018-05-10 09:31] soltysh commented on #62382
I've opened #63650 to address the issue. Sorry for the troubles y'all.

[2018-05-10 09:32] wojtek-t commented on #63025
We definitely want to know how many resources we would need.
I can imagine ways to enable it with some tuning (e.g. instead of updating iptables every 1s or whatever the default is, do this every 10s). But we need to know what the overhead of it is before we decide to tune something.

[2018-05-10 09:36] krzysied commented on #63025
Ok. I will try to run it with x3 resources.

[2018-05-10 09:38] WanLinghao commented on #63575
So only upper bound is configurable by user, and lower bound tend to be a fix value?

[2018-05-10 09:41] loburm commented on #56210
/assign @loburn

[2018-05-10 09:42] wanghaoran1988 commented on #48041
/remove-lifecycle stale

[2018-05-10 09:52] shyamjvs commented on #63610
That's a good catch. Seems like we're now selectively giving the GC a qps of (c-m qps flag value)*20 because of the change.
In that case, @deads2k any reason why you've asked me to bump up the qps (as it already seems to have been bumped 20x)?
Is there some kind of an assumption that there will be ~20 resource types on avg in the cluster?

[2018-05-10 10:05] dims commented on #63612
@AishSundar seems to have turned a corner https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-reboot

/unassign @dims

[2018-05-10 10:11] dims commented on #63487
Can you please move this to https://github.com/kubernetes/kubeadm/issues/ ?

/close

[2018-05-10 10:11] #63487 closed

[2018-05-10 10:11] CallMeFoxie commented on #62382
@soltysh pulled the patch into current 1.10.2 release and it works! Thanks :)

[2018-05-10 10:35] #55541 closed

[2018-05-10 10:36] xmudrii opened #63656 "Revisit Creating CustomResourceDefinitions from apiextensions-apiserver integration tests"
Currently, the logic behind creating CustomResourceDefinitions in `apiextensions-apiserver` integration tests is ugly and could be improved. The [`CreateNewCustomResourceDefinition`](https://github.com/kubernetes/kubernetes/blob/ca76734126fe68bb6ec4fa55be1854c49d2d21d5/staging/src/k8s.io/apiextensions-apiserver/test/integration/testserver/resources.go#L181) function creates CRD and then polls to m

[2018-05-10 10:39] sttts commented on #63656
/cc @nikhita @deads2k

@deads2k you remember this storage cache issue. Wouldn't it be good if we fix it on the server?

[2018-05-10 11:02] #57028 closed

[2018-05-10 11:02] #56291 closed

[2018-05-10 11:18] wojtek-t commented on #63030
@liggitt - it seems that your #63606 helps (which looking into the code is expected, given that you're reducing number of generated QPSes).
I took a look and I'm happy to approve it once you remove the "do-not-submit" commit from it :)

[2018-05-10 12:26] glb commented on #63629
Thanks @xiaoxubeii for the sig annotation -- I really wasn't sure what SIG to send this to.

I can confirm that `ContainerStatus` doesn't have that information today, I'm proposing that it be added to the struct, perhaps something like this:

[code]

[2018-05-10 13:02] k82cn commented on #62704
Status update: The [root cause](https://github.com/kubernetes/kubernetes/issues/62704#issuecomment-387985754) is clear; opened #63647 to fix it, waiting for review :)

[2018-05-10 13:31] #63183 closed

[2018-05-10 13:31] #63610 closed

[2018-05-10 13:34] shyamjvs commented on #63610
I've sent a fix for this issue in #63657 explaining the rationale (with a release-note added by @deads2k).

[2018-05-10 13:34] dims commented on #63645
/sig cli

[2018-05-10 13:41] DaveNW16HD opened #63671 "networkPlugin validation fail during deploy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I'm trying to deploy a k8s cluster with networkPlugin set to kubenet
I have a very simple json deployment api model below
`

{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorRelease": "1.10",
	  "kubernetesConfig": {
            "networkP

[2018-05-10 13:55] timothysc commented on #63508
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster

looks green now from my side, after fixes posted here - https://github.com/kubernetes/kubeadm/issues/775

[2018-05-10 13:55] #63508 closed

[2018-05-10 14:02] soltysh commented on #52657
@alok87 can you try to nail down which exact controller is causing this problem, by trying to disable each resource (if possible). Usually if the resource is disabled, the controller responsible for that is not started. This could allow us to figure out which exact controller should be blamed for.

[2018-05-10 14:04] DaveNW16HD commented on #63671
Sorry, i posted to the wrong repo. It was meant for azure

[2018-05-10 14:04] #63671 closed

[2018-05-10 14:05] #55585 closed

[2018-05-10 14:08] soltysh commented on #53331
Apparently there's https://github.com/kubernetes/kubernetes/issues/62382 which I fixed in https://github.com/kubernetes/kubernetes/pull/63650. Maybe you're hitting that?

[2018-05-10 14:33] liggitt commented on #59451
pruning drops unknown fields, not invalid fields, right?

also, we'll want metadata/labels validated regardless of whether the CRD specifies schema validation, right?

[2018-05-10 15:06] #45140 closed

[2018-05-10 15:42] shyamjvs commented on #63610
FYI - we're back to green https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/13478

[2018-05-10 15:53] kow3ns commented on #62703
@janetkuo is correct in her comment above. Issued #63674. Needs cherry pick into release 1.10.

[2018-05-10 16:04] delgemoon opened #63675 "ingress doesn't support rtmp protocol"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-05-10 16:06] #63675 closed

[2018-05-10 16:09] wallrj opened #63676 "The API server omits the `kind` and `apiVersion` attributes for items in collections"
/kind bug

**What happened**:

I expected to be able to see `apiVersion` and `kind` attributes on each item in a collection of resources returned by the REST API server.

**What you expected to happen**:

The top level list had these attributes, but the items did not.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[code]

[code]

**Anything else we need to know?**:

Wh

[2018-05-10 16:28] lavalamp commented on #56567
We talked about this during the API Machinery SIG call, and the people there were mostly leaning towards recommending finalizers.
* Is graceful deletion a feature for any resource other than Pod? I'm not sure if we want to offer it generally.

[2018-05-10 16:35] lavalamp commented on #59151
For clarity, this is a **bug report**, not a feature request. The sensible thing to do is to give a validation error.

...we can't just add that validation without (likely) breaking a bunch of user workflows that are currently sending invalid stuff.

But if we are fixing this problem for CRDs, please don't make it worse by just silently dropping fields; give the user a validation error instead.

[2018-05-10 16:43] liggitt commented on #63676
duplicate of https://github.com/kubernetes/kubernetes/issues/3030

/close

[2018-05-10 16:43] #63676 closed

[2018-05-10 16:45] lavalamp opened #63677 "CRDs: support proto encoding"
/kind feature

I think eventually we will be asked to add a proto encoding for CRDs. It's very non-obvious how to do this, so I think we should start talking about it now.

I can think of two approaches off the top of my head:
1. Require the user to supply a proto spec as part of the CRD object.
2. Add x-proto-field-number extensions to OpenAPI spec documents. Require the user to set them in the C

[2018-05-10 16:47] lavalamp commented on #63677
People who might be interested: @erictune @nikhita @sttts @bgrant0607 @mbohlool

[2018-05-10 17:10] bgrant0607 commented on #63677
I like the OpenAPI approach.

[2018-05-10 17:16] ernestmartinez opened #63678 "Worker hung Installing kube-proxy snap"
MAAS deploy of kubernetes-worker as part of CDK bundle on MAAS node with Nvidia K10 GPU is hung in juju status with:  Installing kube-proxy snap, syslog shows:

May 10 16:59:14 gpu cdk-service-kicker[2354]: snap.kube-proxy.daemon: not active, restarting
May 10 16:59:14 gpu cdk-service-kicker[2354]: Failed to restart snap.kube-proxy.daemon.service: Unit snap.kube-proxy.daemon.service not found.
May

[2018-05-10 17:28] liggitt commented on #59151
that depends on how the API evolves and what clients want. see discussion in https://github.com/kubernetes/kubernetes/pull/59972#issuecomment-367082497

that is inconsistent with how our other API resources work, and means adding a new API field makes new manifests fail against previous servers. as discussed in the above thread, getting validation failures on unknown fields should be an opt-in str

[2018-05-10 17:29] etsangsplk opened #63679 "Documentation unclear about PATH operation on kubernetes resource"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Unclear Documentation
**What you expected to happen**:
Clarify doc, code comment and example.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-relea

[2018-05-10 17:44] lavalamp commented on #59151
OK this argument I buy, but: will CRD authors find themselves in this situation? Hm. I guess maybe.

[2018-05-10 17:46] lavalamp commented on #59151
I think we need micro versions, so apiserver can figure out if an unknown field is a mistake or might refer to a future version of the API.

[2018-05-10 18:01] stonefury commented on #13892
So am I right that ELB with a service ClientIP sessionaffinity was never supported then? Is the only solution to put a ingress controller in between and use the proxy protocol?

Thanks

[2018-05-10 18:09] pmichali commented on #63208
I temporary used conntrack 1.4.5 and kube-dns does not show conntrack errors during deletion of connections, and I don't (so far), see kube-dns restarts.

Pablo indicated that there was no workaround that could be used for 1.4.2, and there are no binaries for conntrack 1.4.5 available.  Need to understand how to deal with this.

[2018-05-10 18:12] mikecico commented on #40869
/remove-lifecycle stale.

[2018-05-10 18:26] mohammedzee1000 commented on #63611
cc @dcbw @thockin action required guys

[2018-05-10 18:26] AishSundar commented on #63611
The tests seem to be passing now. So will close the issue and re-open if needed

[2018-05-10 18:26] #63611 closed

[2018-05-10 18:30] AishSundar commented on #62703
@MaciekPytel who is 1.10 patch manager to help CP [#63674](https://github.com/kubernetes/kubernetes/pull/63674) into 1.10 after its merged

[2018-05-10 18:30] AishSundar commented on #62703
/cc @MaciekPytel

[2018-05-10 18:54] AishSundar commented on #62710
Tests are passing now. Closing this issue :) Thanks all.

* [sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-new](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-new&include-filter-by-regex=cluster%20upgrade%20should%20maintain%20a%20functioning%20cluster)
* [sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-pa

[2018-05-10 18:54] #62710 closed

[2018-05-10 19:30] AishSundar opened #63680 "Failing Test: [sig-network] DNS configMap nameserver should be able to change stubDomain configuration [Slow][Serial]"
## Failing Job
* [sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster&include-filter-by-regex=DNS%20configMap%20nameserver%20should%20be%20able%20to%20change%20stubDomain%20configuratio)

## Failing Test
[DNS configMap nameserver should be able to change stubDomain configuration [Slo

[2018-05-10 19:37] mikesplain commented on #57049
This appears to be fixed in kubectl 1.10 and beyond.

[2018-05-10 19:37] mikedanese opened #63682 "header key validation stricter than user.Info.Extra key validation"
user.Info.Extra keys can have '/' in them ( we actually advertise this in the [doc](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/authentication/user/user.go#L35)) but header keys cannot. This is problematic because we transport those keys embeded in header keys when we use the requestheader authenticator. We have a couple options that I can think of. We can

[2018-05-10 19:39] AishSundar commented on #62701
/reopen

@jpbetz @dims This issue seemed to have resurfaced again. Canyou please take a look? This could potentially block Beta cut for v1.11 which is slated for 5/15

[2018-05-10 19:41] kow3ns commented on #62703
@AishSundar @MaciekPytel the PR is against 1.10. We don't want to pull the entire PR that modifies the test into release-1.10, just this small patch.

[2018-05-10 19:41] grayluck commented on #63680
I am looking into it.

[2018-05-10 19:49] AishSundar commented on #62703
@kow3ns which is the small patch we want CP'ed into release-1.10?

[2018-05-10 19:50] jpbetz commented on #62701
Per @dims - "i see failures with `No such image: gcr.io/kubernetes-ci-images/kube-controller-manager-amd64:v1.11.0-alpha.2.293_321201f6723a5d"` example - https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce/10445/artifacts/e2e-10445-31d72-master/serial-1.log".

We'll need someone familiar with `kube-controller-manager-amd64` publication to help out here.

[2018-05-10 19:59] jhorwit2 commented on #63617
/sig network

[2018-05-10 20:26] lavalamp commented on #63629
/sig node
/remove-sig api-machinery

SIG Node owns this API. We don't own individual APIs (with a few exceptions).

[2018-05-10 20:29] lavalamp commented on #63656
We need a general mechanism for apiservers (in HA) to coordinate on flipping the status to the correct state at the correct time, and not just for CRDs...

[2018-05-10 20:39] salilgupta1 opened #63687 "Pod Deletion Independent of Container Deletion"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
When we delete a pod via the API the container(s) within that pod are terminated gracefully and all. However, the pod is removed immediately after all the containers are terminated. This is an issue b/c our Fluentd DaemonSet doesn't have enough time to pick up the remaining logs associated with the container before th

[2018-05-10 20:39] salilgupta1 commented on #63687
/sig instrumentation
/sig api-machinery

[2018-05-10 20:46] grayluck commented on #63680
The root cause is that dns-server failed to start. It's due to failure of image inspect for "k8s.gcr.io/k8s-dns-dnsmasq-amd64:1.14.5".

Critical parts extracted from build-log.txt
[code]

[2018-05-10 20:48] stonefury opened #63688 "Support for service sessionaffinity when using an AWS ELB"
I've seen some discussion on this, but no clear solution or commit, maybe I'm wrong?

I want to use the AWS ELB for incoming websocket connections.  The proxy protocol will preserve the client IP, but my understanding is the k8s service sessionAffinity will not work because the header is not right.  One solution is to put nginx in between to fix the header.  Would be cool if k8s could do

/sig AWS

[2018-05-10 21:03] AishSundar commented on #62701
As per @jpbetz comment above, closing this issue and opening a new one

[2018-05-10 21:03] AishSundar commented on #62701
/close

[2018-05-10 21:03] #62701 closed

[2018-05-10 21:06] kow3ns commented on #62703
#63674 needs to be merged into 1.10

[2018-05-10 21:06] AishSundar opened #63690 "Failing Test: [sig-testing] kubeadm-gce and kubeadm-gce-selfhosting jobs failing to Up the cluster"
## Failing Job
* [sig-release-master-blocking#kubeadm-gce](https://k8s-testgrid.appspot.com/sig-release-master-blocking#kubeadm-gce)
* [sig-release-master-blocking#kubeadm-gce-selfhosting](https://k8s-testgrid.appspot.com/sig-release-master-blocking#kubeadm-gce-selfhosting)

## Failing Test
[Up](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-selfhost

[2018-05-10 21:18] grayluck commented on #63680
The test turns green without any change.
Should be docker daemon's problem. Should be solved when docker is restarted and image is re-pulled.
We may close the issue now.

[2018-05-10 21:25] #63287 closed

[2018-05-10 21:28] AishSundar commented on #63680
@grayluck this looks like a flaky test and seems to have been flaring once in a while in the past

https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2018-05-01&sig=network&job=ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster&test=DNS%20configMap%20nameserver%20should%20be%20able%20to%20change%20stubDomain%20configuration

Is there anything we can do to make the test more

[2018-05-10 21:52] glb commented on #63629
Thanks for the redirect @lavalamp, hopefully SIG Node folks have an opinion on whether they would accept this.

Do you happen to have any pointers as to where I might learn the steps I'd need to go through in order to update the API properly? I've looked in a few likely places for a README but no luck so far.

[2018-05-10 22:00] pv93 commented on #33777
Same issue, running 1.9.6-gke.1

[2018-05-10 22:04] #63690 closed

[2018-05-10 22:18] jgiles commented on #51271
I am seeing this issue when I switch a service from having an external load balancer to having an internal load balancer (by adding the `service.beta.kubernetes.io/aws-load-balancer-internal`)

I'm pretty sure the annotations are all set up - if I delete the service and recreate it I can switch between internal and external ELBs, but I can't switch with an update.

[2018-05-10 22:28] krousey commented on #63505
I was able to reproduce this locally. After a node is downgraded, the kubelet tried to delete the old Node API object, but it cannot.

[code]

Maybe something has changed with the cluster role binding logic?

[2018-05-10 22:31] krousey commented on #63505
cc @kubernetes/sig-auth-misc

[2018-05-10 22:32] dineshsckloud9 commented on #38176
@rogeruiz Facing this same issue in Openshift.

`

18:X 10 May 17:18:19.020 # Next failover delay: I will not start a failover before Thu May 10 17:24:08 2018
--
  | 18:X 10 May 17:24:08.972 # +new-epoch 10
  | 18:X 10 May 17:24:08.972 # +try-failover master mymaster 172.16.68.13 6379
  | 18:X 10 May 17:24:08.974 # +vote-for-leader b96416a67746dac32a276c98a38266b30596f8c9 10
  | 18:X 10 May 17:24:

[2018-05-10 22:34] liggitt commented on #63505
cc @mikedanese

[2018-05-10 22:54] krousey commented on #63505
I think this change broke it: https://github.com/kubernetes/kubernetes/pull/62818

[2018-05-10 22:59] krousey commented on #63505
/assign @mikedanese

Give that 1.10 nodes still issue deletes for this, I don't think we can remove that permission until 1.13 since we allow the node to lag the master by 2 minor releases.

[2018-05-10 23:00] ambition-consulting commented on #33777
+1

[2018-05-10 23:09] liggitt commented on #63505
The analysis was that the external ID changes that triggered deletion did not occur any more (and had not since early 1.x releases)

[2018-05-10 23:14] #50356 closed

[2018-05-10 23:14] #56988 closed

[2018-05-10 23:14] #37104 closed

[2018-05-10 23:14] #41907 closed

[2018-05-10 23:27] krousey commented on #51475
/remove-lifecycle stale

I would also like a "local' mode where I can use `kubectl create` subcommands to nicely format files for later use. It's nice that `kubectl create secret generic <name> --from-file=<file1> --from-file=<file2>` takes care of the base64 encoding and populating YAML key/value pairs for me. Similarly nice for config maps.

[2018-05-10 23:35] krousey commented on #63505
@liggitt I can say a bit about this for GCE. In 1.10 and prior, `ExternalID` was tied to the actual gcloud compute instance ID. And this did change on node upgrades (`gcloud compute instance-groups managed recreate-instances` would cause this value to change). https://github.com/kubernetes/kubernetes/pull/60692 changed it so that `ExternalID` is now the VM name and not it's ID. So for 1.11 and on,

[2018-05-11 00:55] justinsb commented on #61649
I described in https://github.com/kubernetes/kubernetes/issues/61647#issuecomment-388223891 how kops does kubelet configuration.  TLDR: we have a cluster level kubelet configuration, and then we allow overrides for each InstanceGroup (our NodePool / MachineDeployment).  That seems to work well for users.

I think it would be wrong to mix OSes in a MachineDeployment.  But we do have a choice in clu

[2018-05-11 01:00] abitrolly commented on #51850
/reopen

Need to test that there is a way to wait for a pod to start.

[2018-05-11 01:31] mewa opened #63694 "v4.channel.k8s.io attach (WebSockets) status is always "Successful" even if the container fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I'm not sure if it's intended behaviour, but when an `attach` session closes (i.e. attached process exits) it always returns
[code]
on error channel, regardless of the process exit code.

**What you expected to happen**:
I would expect to receive a message containing the exit code of that process (especially if it's non-

[2018-05-11 01:39] mewa commented on #63694
/sig node

[2018-05-11 02:26] NickrenREN commented on #61185
cc @angao

[2018-05-11 02:56] alahijani commented on #52326
Bash brace expansion can do it to some degree. Unfortunately you have to use quotes or escape special characters.
[code]

[2018-05-11 04:33] wgliang commented on #63694
Please pull #63697 down to see if it can solve your problem, if it can please ping me.

[2018-05-11 05:26] shadowpriest commented on #63578
see https://github.com/coredns/coredns/issues/1788

[2018-05-11 05:26] #63578 closed

[2018-05-11 05:47] k82cn commented on #58222
are we still target to 1.11 for this feature?

[2018-05-11 05:49] WanLinghao commented on #63575
@mikedanese
Take a example to make sure if I got what you mean correctly.
Start a k8s cluster with  serviceaccout-signing-key KEY-1, and set its expiry time to be 30 days.
After 20 days running, the KEY-1 would be invalid after 10 days. At this time, a user launches a TokenRequest with 15 days expiration time. Since the KEY-1 itself would become invalid after 10 days, so we shall not let this requ

[2018-05-11 05:59] ZhengRongTan commented on #39414
same problem . how to fixed?

[2018-05-11 06:01] ZhengRongTan commented on #21248
set --logtostderr=false and --log-dir=xxx , not work !!

[2018-05-11 06:37] geoffgarside commented on #61277
What changes did you make to switch the cgroup driver? I've tried the following docker override

[code]

and passing `--cgroup-driver=systemd` (with and without `--runtime-cgroups=/systemd/system.slice --kubelet-cgroups=/systemd/system.slice`) to kubelet, and still ended up with the stalled `kubeadm init`.

[2018-05-11 06:45] nikhita commented on #59451
Ah, right. Also, we shouldn't drop _known_ invalid fields but give an error that it is invalid, right?

Yes. :+1:

So IIUC the behaviour should be something like this: (?)

Even if validation is not enabled, we will
- drop unknown fields in metadata i.e prune fields only in metadata
- give an error on known but invalid fields

And to make sure that we remain backwards compatible, we would need to

[2018-05-11 06:51] nikhita commented on #63677
/area custom-resources

/cc @deads2k @liggitt

[2018-05-11 07:04] ShualLiu commented on #63360
The scheduler target version is v1.8.8,,, I think it's not old-fashioned.... @wgliang

[2018-05-11 07:14] vincentwu2011 commented on #58217
+1
k8s: 1.9.6
docker: 1.13.1

Sometimes the issue could be fixed by reboot the node.

[2018-05-11 08:43] krzysied commented on #63025
Good news - x3 passed the test! Now we are sure that this is only resource related thing.
I used 123 nodes, 60GB each.

[2018-05-11 08:55] hightoxicity commented on #61076
@msau42-tmp Hi, I restarted all the control plane daemons, and it seems it fixed the issue... Thx.

[2018-05-11 09:01] wojtek-t commented on #63025
Thanks for running that.

Now, looking in to logs of hollow-proxies, I'm seeing this (though on 100-node kubemark):
[code]

[BTW - I don't really know where 5s is coming from - 30s is coming from default:
https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/apis/kubeproxyconfig/v1alpha1/defaults.go#L56
It would be great if you could figure this out].

The reason I ask for that is that no

[2018-05-11 09:05] CrisMon-01 opened #63702 "kubectl exec return error: unable to upgrade connection: pod does not exist /sig-contributor-experience-bugs"
If everyone else is running a cluster with kubeadm on virtual machine i think [this](https://medium.com/@joatmon08/playing-with-kubeadm-in-vagrant-machines-part-2-bac431095706) lectures is a must have because i have spend same days to solve this error:
`error: unable to upgrade connection: pod does not exist`
or this
 kubectl logs
`Error from server (NotFound): the server could not find the reques

[2018-05-11 09:09] MaciekPytel commented on #63501
@aleksandra-malinowska Can this be related to https://github.com/kubernetes/kubernetes/pull/63616?

[2018-05-11 09:17] recollir commented on #48638
I am wondering if this would also apply to the kube-proxy. As it also maintains a “connection” to the api server and would suffer from the same (???).

[2018-05-11 09:23] natlibfi-arlehiko opened #63704 "Enable content trust for k8s.gcr.io"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
Docker images at `k8s.gcr.io` are not signed.

**What you expected to happen**:
The images should be signed.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
Please push your Docker images with [content trust](https://docs.docker.com/engine/security/trust/c

[2018-05-11 09:25] niuqg commented on #62362
If initContainer restart failed, pod's status will become "Init: CrashLoopBackOff".

[2018-05-11 09:27] MaciekPytel commented on #62703
I've added cherrypick-approved. I don't really have the context here, so I'd rather leave doing the actual review (and lgtm-ing) to someone more competent.

[2018-05-11 09:30] redbaron commented on #48638
Ideally fix should be in client-go

[2018-05-11 10:25] #57088 closed

[2018-05-11 10:25] #54214 closed

[2018-05-11 10:25] #55756 closed

[2018-05-11 10:41] dims commented on #63704
/sig release
/sig testing

[2018-05-11 10:42] TerjeBr commented on #37471
One workaround is posted here https://github.com/Microsoft/WSL/issues/2271#issuecomment-317006437

/remove-lifecycle rotten

[2018-05-11 10:43] dims commented on #63702
cc @joatmon08

[2018-05-11 11:01] dims commented on #56990
this should be working now too - https://github.com/kubernetes/kubernetes/pull/52744#issuecomment-331030480

/close

[2018-05-11 11:01] #56990 closed

[2018-05-11 12:11] mccormickma opened #63706 "delete pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-05-11 12:30] OndraZizka commented on #49466
Hi, I google this up. How should I stop an infinite restart loop? It's wasting the resources, and `kubectl rollout status ...` waits infinitely.

[2018-05-11 12:59] mcglinn commented on #61277
@Rasoul2669, sorry had given up for a while, will revisit soon and report if I do resolve

[2018-05-11 13:00] #62399 closed

[2018-05-11 13:01] wojtek-t commented on #63030
This weeks regression seem to be fixed - but we're still not in a good shape.
The run that is happening now seems to suffer mostly from slow etcd.

In particular, I'm seeing this:
[code]
Which according to https://github.com/coreos/etcd/blob/master/Documentation/faq.md#what-does-the-etcd-warning-apply-entries-took-too-long-mean is not very good sign.

I think we should finally exclude the hypothes

[2018-05-11 13:27] wojtek-t commented on #63030
Sorry - I pasted bad metrics - now it should be better.

[2018-05-11 13:30] pmichali commented on #63208
Well,  I manually built conntrack 1.4.5 and installed it onto kube-proxy and then ran IPv6 E2E tests. I no longer see conntrack throwing an error on connection delete. However, I still see kube-dns restarts during the test runs (most of the time), and some tests intermittently failing (a coworker thinks it is because kube-dns is not responding). I'll try to see if I can confirm that the connection

[2018-05-11 13:38] liggitt commented on #63505
opened revert in https://github.com/kubernetes/kubernetes/pull/63712

[2018-05-11 13:48] pmichali commented on #62883
This failure to handle PTR records by kube-dns, is causing it to fail DNS related tests for IPv6 mode, as there is an unconditional TR probe performed.  This works fine with coredns in IPv6.

[2018-05-11 14:03] liggitt commented on #59451
correct.

correct. we own metadata+kind+apiVersion and are responsible for ensuring the fields we persist and return are validated and correct, regardless of user-specified validation/pruning-preference, in order to ensure the rest of the api mechanisms work properly.

[2018-05-11 14:28] sttts commented on #59451
I even tend to prune ObjectMeta in any case. If we persist anything in ObjectMeta that is not meant to be there (as @liggitt says: we own metadata), this is a bug. I have updated my defaulting+pruning PR to implement that.

[2018-05-11 14:37] Smithx10 opened #63713 "Provide kuberentes.tar.gz hashes as an asset"
Is there a simple way to curl the sha of the kubernetes.tar.gz?

Examples of simplicity:
https://github.com/joyent/containerpilot/releases
https://releases.hashicorp.com/consul/1.0.7/

[2018-05-11 14:44] juanvallejo opened #63714 "[e2e flake] Garbage collector should delete pods created by rc when not orphaning"
[High failure rate](https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&test=Garbage%20collector%20should%20delete%20pods%20created%20by%20rc)

Root cause appears to be the same as https://github.com/kubernetes/kubernetes/issues/50047

Last seen: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/63692/pull-kubernetes-e2e-gce/34847/

/sig api-machinery
/

[2018-05-11 14:46] juanvallejo commented on #63714
cc @caesarxuchao

[2018-05-11 14:47] damien75 commented on #30617
Hi,
After creating a cluster, I would like to use `gcloud` to write the credentials to my K8s config file. I do the following:
[code]
In my K8s config file it fills the fields:
[code]
Am I missing something or it happens to others? I am authenticated with a service account that has roles K8s Engine Admin and K8s Engine Cluster Admin.
Thanks in advance for your help!

[2018-05-11 15:01] msau42 commented on #62034
Everything looks good now
/close

[2018-05-11 15:08] mikedanese commented on #63505
Sorry about that. I tested this against a MIG rolling update, which I guess we haven't used for GCE upgrades in a while.

[2018-05-11 15:29] kakuism commented on #48819
@csarora can you share what the solution was? In my setup all the proxies are set, still the error persists.

[2018-05-11 15:30] #52850 closed

[2018-05-11 16:01] rochdev commented on #30617
@damien75 Generally speaking, you should not set `container/use_client_certificate` to true for new clusters as this switches to the old, less secure way to authenticate.

If you want to use your own account permissions, use:

[code]

If you want to use a service account file, use:

[code]

You can also set the `GOOGLE_APPLICATION_CREDENTIALS` to the service account file path instead.

In both cas

[2018-05-11 16:02] asarkar commented on #49466
/reopen

[2018-05-11 16:39] dashpole commented on #61793
The metric is currently critical for kubelet's operation.  In more recent versions, when using CRI-based runtimes (containerd, for example), the metric comes from the container runtime and is disabled in the kubelet.
Which storage driver are you using?
In version 1.8.5, I think we are monitoring the container's entire disk usage (image layers + writable layer), when we intend to only monitor the w

[2018-05-11 16:43] krousey commented on #63506
Note that this bug is flaky. It doesn't happen 100% of the time. Looks like we got 100% pass in the latest run: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new/1431

Here's an upgrade test that's hitting this flake: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-

[2018-05-11 16:54] dashpole commented on #61999
@glennschmidt it is measuring the whole filesystem.  I am saying that the issue is fixed in newer versions.  It affects older versions going back to 1.4, when it was added.

[2018-05-11 16:58] jingxu97 commented on #63506
@dchen1107 @jiayingz
cc @mikedanese
Please see my comments at for the change https://github.com/kubernetes/kubernetes/pull/61877/files#diff-6b0808bd1afb15f9f77986f4459601c2L147
https://github.com/kubernetes/kubernetes/pull/61877#commitcomment-28935670
Before the change, when instance is recreated, kubelet will delete the node object and a new one will be created. Now, kubelet will not delete the o

[2018-05-11 17:29] strigazi commented on #61144
Note: In all logs below see the relative between each call/log line.

In normal operation a single kubelet queries the api every 10 seconds, a single kubelet. So 10 nodes, let's say one node will manage to do 5 calls in a minute, he have 50 api calls per minute.
Kubelet logs:
[code]
This is reflected on the nova api too.
[code]
a kubelet restart gives 6 api call to nova at once:
[code]

If a node

[2018-05-11 17:31] #56913 closed

[2018-05-11 17:31] #56932 closed

[2018-05-11 17:38] AishSundar commented on #63501
These seems to be cleaning up in the latest run. I am closing this now and will re-open as needed

[2018-05-11 17:38] #63501 closed

[2018-05-11 17:44] gabrielfsousa commented on #57673
same problem on version 1.10.2

[2018-05-11 18:03] krousey commented on #63505
This suite is passing now. I think we can close it.
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster-parallel/2684

[2018-05-11 18:05] MaciekPytel commented on #57673
@gabrielfsousa Since kubernetes 1.9 the default is for HPA to use metrics coming from https://github.com/kubernetes-incubator/metrics-server, not heapster. This is WAI and it will be true for any version of Kubernetes in predictable future. Note that this is the not limited to HPA - moving to metrics-server is the general direction for Kubernetes (for example kubectl top can also use it now: https

[2018-05-11 18:05] AishSundar commented on #63680
Sounds good. I will close this one for now.

[2018-05-11 18:05] #63680 closed

[2018-05-11 18:27] AishSundar commented on #63030
Here is the error in [the latest test run](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/151)

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/scalability/density.go:365
There should be no high-latency requests
Expected
    <int>: 2
not to be >
    <int>: 0
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/

[2018-05-11 18:27] AishSundar commented on #63030
/reopen

[2018-05-11 18:31] AishSundar commented on #63499
/reopen

@timothysc @dims

Cluster-upgrade tests are still failing on the following jobs despite the 2 PRs listed above. Can you please take a look

* [gce-1.10-master-upgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-cluster-parallel)
* [gce-1.10-master-upgrade-cluster](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10

[2018-05-11 18:33] AishSundar commented on #63505
/close Thanks all !

[2018-05-11 18:33] #63505 closed

[2018-05-11 18:36] MaciekPytel commented on #57673
That's strange. How are you deploying your cluster? In 1.10 HPA all the RBAC should be set up by default, though that probably also depends on how the cluster is deployed. Also RBAC related errors in my experience have more explicit errors.

My guess would be the problem is either with missing RBAC or certs for aggregated API server.

Some things I would check to debug:
`kubectl get --raw /apis/me

[2018-05-11 18:38] krousey commented on #63499
/assign
see https://github.com/kubernetes/kubernetes/pull/63718

[2018-05-11 19:03] gabrielfsousa commented on #57673
i did  HA 3 masters with etcd

i have pods on namespace
[code]

[code]

[2018-05-11 19:13] MaciekPytel commented on #57673
Right, the RBAC looks good. I would expect a non-empty list as a result when you query metrics-server, but it doesn't look like auth problem. I don't know what it is off the top of my had. I'd start by looking at kube-controller-manager logs for something HPA related and following requests through api-server and metrics-server logs.

[2018-05-11 19:18] gabrielfsousa commented on #57673
[code]

[2018-05-11 19:26] tallclair opened #63726 "Managed ca-certs"
/kind feature

**What happened**:

A common requirement of container base images is to provide ca-certs. For example, many of our addons are based on alpine purely to install the `ca-certificates` package.

I believe this is an anti-pattern:

- Revoking or adding new ca-certificates requires rebuilding & redeploying all workloads (that need it)
- If my organization wants to add our internal CA, or

[2018-05-11 19:26] tallclair commented on #63726
/cc @mikedanese

[2018-05-11 19:29] gabrielfsousa commented on #57673
yes all 3 :)

[code]

[2018-05-11 19:36] MaciekPytel commented on #57673
Right, so which log are you looking at? You need controller-manager log for the leader (/var/log/kube-controller-manager.log). HPA is very loud in logs if it encounters any errors.

[2018-05-11 19:39] gabrielfsousa commented on #57673
i dont have that log :(

[2018-05-11 19:41] gabrielfsousa commented on #57673
[code]

log of the pod

[2018-05-11 19:43] gabrielfsousa commented on #57673
[code]

[2018-05-11 19:44] misterikkit commented on #58222
The goal is yes. Although I haven't created a PR yet to move it over.
I think we probably want some more tests in place to make sure that we're not missing weird edge cases. Also, we should collect metrics from e2e tests demonstrating the performance benefit.

[2018-05-11 19:45] gabrielfsousa commented on #57673
197 controller-manager
[code]

[2018-05-11 19:46] brendandburns opened #63727 "Enable kubectl to have a flag to adjust TCP keep-alives..."
Right now you can not adjust TCP settings from the command line. This is useful for long-running commands (e.g. `kubectl proxy`) which may be inactive and time out from time to time.

@kubernetes/sig-cli-feature-requests

[2018-05-11 20:01] spronin-aurea commented on #61793
We are running overlay2. So to get rid of this issue we'd better upgrade to 1.9 ?

[2018-05-11 20:23] mradmila opened #63729 "Priority support in service selector"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

I would like to see if it is possible to create tiered/priority selector. Here's the scenario: I have a base deployment of pods that do an OK job, and start up quickly. I also have super-awesome pods that are highly customized but take longer to set up. I would like selector to "prefer" super-awesome ones, if they ar

[2018-05-11 20:26] dashpole commented on #61793
Looks like overlay2 is fixed in 1.6.14, 1.7.11, and 1.8.? (https://github.com/kubernetes/kubernetes/pull/54882), and in 1.9+

[2018-05-11 20:29] dashpole commented on #61793
@eugene-dounar we do limit the number of concurrent `du` calls to 20 using "tokens" implemented with channels (https://github.com/google/cadvisor/blob/master/fs/fs.go#L50).
This has already been moved down to the runtime.  Today, contianerd, but not cri-o implements the CRI stats API.

[2018-05-11 20:29] mradmila commented on #63729
@kubernetes/sig-network-feature-requests

[2018-05-11 20:38] krousey opened #63731 "pull-kubernetes-e2e-gke failing with internal Ginkgo failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
E2E keeps failing with internal Ginkgo failure of "Node 1 disappeared before completing BeforeSuite" on my PR.
https://github.com/kubernetes/kubernetes/pull/63718
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/63718/pull-kubernetes-e2e-gke/1391/?log#log
https://github.com/kubernetes/kubernetes/blo

[2018-05-11 20:39] krousey commented on #63731
cc @kubernetes/sig-testing-bugs @fejta

[2018-05-11 20:42] tallclair opened #63732 "[Proposal] Pod-specific serving cert auto-validation"
/kind feature

**Problem**:

As part of https://github.com/kubernetes/kubernetes/issues/62747, we need a way to authenticate serving pods (control plane & daemon set), i.e. provide serving certs. This proposal is for dealing with cases (2.a) & (3.a).

**Idea**:

1. Pods initiate a certificate signing request where the CSR Extra info matches the Extra info encoded in the pod-scoped API token (from

[2018-05-11 20:44] fejta commented on #63731
Worked on https://k8s-gubernator.appspot.com/pr/63605 this morning: https://k8s-testgrid.appspot.com/presubmits-kubernetes-nonblocking#pull-kubernetes-e2e-gke

[2018-05-11 20:44] fejta commented on #63731
Does this repo on an empty changelist?

[2018-05-11 20:57] fejta commented on #63731
Looks like it repos on ci: https://k8s-testgrid.appspot.com/google-gke#gci-gke&width=20

[2018-05-11 21:03] krousey commented on #63731
Talked with gke dev oncall... internal dashboards look fine, doesn't seem like a gke issue.

[2018-05-11 21:04] fejta commented on #63731
Most interesting thing on https://github.com/kubernetes/test-infra/commits/master is maybe the prow bump?

[2018-05-11 21:06] msau42 commented on #63731
I'm seeing this too on my PR https://github.com/kubernetes/kubernetes/pull/63730

[2018-05-11 21:06] thockin commented on #44505
@tpepper that seems like a cool tool that could be a great basis for the checker.  As it is, we have bespoke tools that extract a best-guess at license info, and a slim list of reviewers who verify changes thereto.

https://github.com/kubernetes/kubernetes/blob/master/hack/update-godep-licenses.sh

https://github.com/kubernetes/kubernetes/blob/master/Godeps/LICENSES

If we had a tool, we could may

[2018-05-11 21:06] jiayingz commented on #52189
/remove-lifecycle stale

[2018-05-11 21:07] fejta commented on #63731
Trying on a clean PR: https://github.com/kubernetes/kubernetes/pull/46662#issuecomment-388485562

[2018-05-11 21:19] poram commented on #58736
Thanks @JordieB, very helpful.

[2018-05-11 21:27] fejta commented on #63731
Maybe this has something to do with https://github.com/kubernetes/kubernetes/pull/63712/files?

[2018-05-11 21:29] krousey commented on #63731
@fejta I'm not sure. That was adding permissions back to nodes so they can delete themselves. It had broken downgrades, so it was reverted. It fixed this: https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-master-1.10-downgrade-cluster-parallel

[2018-05-11 21:36] fejta commented on #63731
Testing the 736f5e2349ede92d35f8f2588d31175fd97533e0 theory in https://github.com/kubernetes/kubernetes/pull/63733

[2018-05-11 21:59] krousey commented on #63731
https://prow.k8s.io/log?job=pull-kubernetes-e2e-gke&id=1396 looks like no

[2018-05-11 22:42] fejta commented on #63731
/remove-sig testing
https://k8s-testgrid.appspot.com/google-gke#gci-gke-alpha-features so absolutely nothing changed on the test-infra side between the last pass at 9:10 and first failure at 9:55 (prow updated before 9a, same kubetest image, same test-infra commit)

Seems to be failing here:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/e2e.go#L149-L152

https://k8s-gubernator.apps

[2018-05-11 22:46] #63158 closed

[2018-05-11 22:56] lavalamp commented on #63677
Here's a project that already does OpenAPI to proto: https://github.com/NYTimes/openapi2proto

It already has an extension defined for representing proto field numbers.

[2018-05-11 23:03] antihax commented on #51322
Just had this also happen, fresh k8s setup using kubeadm with weave-net. Master is not a node

[code]

[code]

Trying to see if there is any pattern here.

[2018-05-11 23:37] #54815 closed

[2018-05-11 23:37] #57117 closed

[2018-05-11 23:54] thockin opened #63741 "Delete service.alpha.kubernetes.io/tolerate-unready-endpoints annotation"
/kind bug

The annotation has been deprecated for 2 releases but it seems its replacement was never implemented.

[2018-05-12 00:17] glennschmidt commented on #61999
@dashpole Whoops sorry I misread 1.10 as 1.1. Thanks for the explanation, I'll upgrade once 1.10 becomes supported with kops and hopefully it will address my problem.

[2018-05-12 00:35] antihax commented on #51322
Both worker02 and worker03 had the same MAC address for weave net. The following followed by a reboot solved the issue for me.
[code]

[2018-05-12 00:43] 2rs2ts commented on #48638
@recollir yes, I'm pretty sure you're right. This issue should be rescoped to include kube-proxy IMO

[2018-05-12 00:53] liggitt commented on #48638
one issue at a time :)

persistent kubelet heartbeat failure results in all workloads being evicted. kube-proxy network issues are disruptive for some workloads, but not necessarily all

kube-proxy (and general client-go support) would need a different mechanism, since those components do not heartbeat with the api like the kubelet does. I'd recommend spawning a separate issue for kube-proxy handl

[2018-05-12 01:35] MrHohn commented on #51292
/remove-lifecycle stale

[2018-05-12 02:57] liggitt commented on #63731
The client go auth plugins are added by import. kubectl imports the gcp provider explicitly, but the e2e test apparently doesn't.

https://github.com/kubernetes/kubernetes/pull/63673 is in the range when the e2e test started failing, and the description of that PR indicates it trimmed lots of dependencies. I'd look at whether the e2e test had only imported that auth plugin indirectly via one of th

[2018-05-12 04:15] krousey commented on #63731
Are you saying the e2e suite imports kubeadm code?

On Fri, May 11, 2018, 19:57 Jordan Liggitt <notifications@github.com> wrote:

[2018-05-12 04:29] liggitt commented on #63731
https://github.com/kubernetes/kubernetes/blob/4725f07dc56834112b7d660efbe750f920b78d41/test/e2e/manifest/manifest.go#L29

[2018-05-12 04:42] #57115 closed

[2018-05-12 04:49] liggitt commented on #63731
potential fix in https://github.com/kubernetes/kubernetes/pull/63743

[2018-05-12 05:17] liggitt commented on #63706
/close

[2018-05-12 05:17] #63706 closed

[2018-05-12 05:42] liggitt commented on #63030
delete pods no longer shows up in top latency metrics. latest job failed on two high latency requests (patch node, post rc):

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/152/

[code]

[2018-05-12 06:44] #56949 closed

[2018-05-12 06:50] wojtek-t commented on #63030
Yup - as I wrote above in https://github.com/kubernetes/kubernetes/issues/63030#issuecomment-388356739

We will be looking into that deeper.

[2018-05-12 08:37] SJAnderson commented on #33777
This issue is coming up on two years now, we're seeing this and its holding us back from going to production.

[2018-05-12 08:41] fjammes commented on #58217
+1
Having error:
`Fail to get rootfs information unable to find data for container /`
kubeadm, 1.9.1-0
kubectl, 1.9.1-0
kubelet, 1.9.1-0
kubernetes-cni, 0.6.0-0

docker: 18.03.1-ce
overlay2 on xfs

[2018-05-12 08:46] #57134 closed

[2018-05-12 09:04] obeattie commented on #48638
Since this issue has been re-opened, would there be any value in me re-opening my PR for [this commit](https://github.com/monzo/kubernetes/commit/81f7a18a9adc09d2b9103148427f8feaa25ee984)? Monzo has been running this patch in production since last July and it has eliminated this problem entirely, for all uses of `client-go`.

[2018-05-12 10:48] #49563 closed

[2018-05-12 10:48] #57138 closed

[2018-05-12 10:49] HaveFun83 commented on #34137
I have the same issue on 1.10.0

[2018-05-12 13:35] FFFEGO commented on #61277
Downgrading docker to 17.12.1 resolved this issue for me.

[2018-05-12 13:39] mikkeloscar opened #63750 "Sub-optimal sizing of buckets exposed in the apiserver_request_latencies metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Currently the buckets defined for the API server latency metric: `apiserver_request_latencies` are defined like this: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go#L64-L65 meaning the smallest bucket is 125ms.

If you want to estimate the percentiles ba

[2018-05-12 14:39] brauner commented on #59152
I'm the author of that particular patch ( https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=6397fac4915ab3002dc15aae751455da1a852f25 ). Without going into detail, what you need to know is `340` is the maximum number of lines you can have in `/proc/<pid>/uid_map` and `/proc/<pid>/gid_map` each.

[2018-05-12 15:44] lavalamp commented on #54665
/reopen

On Sat, May 12, 2018, 12:46 AM fejta-bot <notifications@github.com> wrote:

[2018-05-12 16:54] #51376 closed

[2018-05-12 17:58] nikhita commented on #50248
/remove-lifecycle stale

[2018-05-12 18:41] IvanBiv opened #63754 "kube-dns "getsockopt: connection refused""
I trying to create easy Ingress
https://github.com/nginxinc/kubernetes-ingress/tree/master/examples/complete-example
But I can't get access by host name of the Ingress

[code]

I see some Error in kube-dns.
Details:

[code]
[code]
[code]

[code]

@kubernetes/sig-network-test-failures
/sig network

[2018-05-12 20:02] Monnoroch commented on #57187
Also useful for temporarily stopping databases to restore from a backup.

[2018-05-12 21:44] liggitt commented on #48638
I still have several reservations about that fix:
* it relies on behavior that appears to be undefined (it changes properties on the result of [`net.TCPConn#File()`](https://golang.org/pkg/net/#TCPConn.File), documented as "The returned os.File's file descriptor is different from the connection's. Attempting to change properties of the original using this duplicate may or may not have the desired

[2018-05-12 21:51] liggitt commented on #63645
`kubectl get pod/kubeflow-watch -o yaml` will show the full pod definition from the API

[2018-05-12 22:39] BiochemLouis commented on #62782
Because this is a network install, broken links might cause the issue. Using `docker pull` and mirrors might make it work.
I have the same `[WARNING FileExisting-crictl]: crictl not found in system path` even though I have done `go get` and doing crictl should be in my path.

[2018-05-12 23:00] #55599 closed

[2018-05-13 00:01] #51179 closed

[2018-05-13 01:02] #56977 closed

[2018-05-13 01:26] panterpunk commented on #63731
Unsuscribe

Enviado desde panter ♦️♦️🃏❤️‼️

El 13 may 2018, a las 3:22, Benjamin Elder <notifications@github.com<mailto:notifications@github.com>> escribió:

Thanks @liggitt<https://github.com/liggitt>. Great bug :^)

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/kubernetes/kubernetes/issues/63731#issuecomment

[2018-05-13 02:53] binumn commented on #53889
Delete the current settings using following and restart the master settings
kubeadm reset
kubeadm init

[2018-05-13 05:02] nak3 opened #63756 "When edit PodDisruptionBudget, improper message was produced and cannot updated labels due to required disruptedPods field"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

- PodDisruptionBudget provides inappropriate message and cannot be updated as `disruptedPods` is required filed.

**What you expected to happen**:

- `kubectl edit pdb <PDB_NAME>` works fine for editing labels under `metatdata`. Also, produce correct error message when edit `spec` field.

**How to reproduce it (as minima

[2018-05-13 07:45] shubheksha commented on #63756
/sig cli

[2018-05-13 07:46] shubheksha commented on #63679
@etsangsplk, the docs live in a separate repo, please file it [here](https://github.com/kubernetes/website/issues/new)

[2018-05-13 07:47] redbaron commented on #48638
Few notes on these very valid concerns:
 * https://golang.org/pkg/net/#TCPConn.File is returning dup'ed  filedescriptor, which AFAIK share all underneath structures in kernel, except for entry in file descriptor table, so either can be used with same results. Program should be aware not to try to use them simultaneously though, for exact same reasons.
 * today returned filedescriptor is set to blo

[2018-05-13 08:09] #57183 closed

[2018-05-13 08:09] #41516 closed

[2018-05-13 08:36] yph152 commented on #63645
@ddysher    what do you expect in this case? It seems to be the correct behavior to display the error pod. For 1.8, make sure there is no version skew between client and server (not 100% sure, but seems kubernetes doesn't guarantee compatibility across three versions).

[2018-05-13 10:37] hjacobs commented on #51135
Results of [my non-scientific Twitter poll](https://twitter.com/try_except_/status/993745329337110528):

![screenshot-2018-5-13 henning jacobs auf twitter what do you do to mitigate app latency issues caused by kubernetes cpu quo](https://user-images.githubusercontent.com/510328/39966285-7f60d876-56a9-11e8-8fb1-ba8a8797612d.png)

* 14 out of 38 remove CPU limits for their application pods to mitig

[2018-05-13 12:56] chocolat2000 commented on #62029
Works fine on windows semi-annual update 1803 too.

So I guest we can close this issue.

[2018-05-13 13:55] feiskyer commented on #62029
Let's close the issue since it has been resolved.

/close

[2018-05-13 13:55] #62029 closed

[2018-05-13 14:47] djschny commented on #53817
/remove-lifecycle stale

[2018-05-13 16:30] nrmitchi commented on #25908
@andrewsykim I've been following this issue for a while (just have not gotten around to trying to address it myself), but I would suggest just using annotations for now.

My reasoning is that:
 - This issue has been around for almost 2 years, and hasn't really drawn a lot of attention from the kubernetes core. Therefore, if we wait to make changes to the pod spec, or wait for direct input, we'll p

[2018-05-13 16:33] LittleFox94 opened #63760 "Aggregated cluster roles: base cluster roles not having rules"
/kind bug

**What happened**:

I deployed a fresh custom HA kubernetes v1.10.2 cluster with 3 nodes (all controller and worker currently, more workers planned). I then created a namespace called "stummi" and a rolebinding with "user=stummi clusterrole=admin" in this namespace.

User stummi (successfully authenticated by TLS client certificate) was not able to list pods or anything else in his name

[2018-05-13 16:41] liggitt commented on #63760
/assign

[2018-05-13 16:47] Deshke commented on #62793
oh this? https://github.com/kubernetes/kops/issues/3309 via (https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#elbsecuritygroup) yeah, been there but did not get any answer

[2018-05-13 17:36] rajatjindal commented on #61857
After feedback from liggitt, we do not want to alter this functionality, closing

[2018-05-13 17:36] #61857 closed

[2018-05-13 19:08] geoffgarside commented on #61277
@FFFEGO which kubeadm version, os version and arch are you on? I've tried 17.12.1 on HypriotOS arm64 and I still end up with etcd and apiserver crash looping with 1.10.2

[2018-05-13 19:43] lenartj commented on #63128
@CaoShuFeng, in one case I've tracked down this issue to an expired `apiserver-kubelet-client.crt`. Renewed the cert, restarted apiserver and it went back to normal.

[2018-05-13 19:52] FFFEGO commented on #61277
@geoffgarside Raspbian Stretch Lite April 2018, kubeadm 1.10.2

[2018-05-13 20:42] liggitt commented on #60026
fixed in https://github.com/kubernetes/kubernetes/pull/60741

/close

[2018-05-13 20:42] #60026 closed

[2018-05-13 22:12] dims commented on #63713
/sig release

[2018-05-13 22:13] DreadPirateShawn commented on #55427
/remove-lifecycle stale

Keeping this alive, I think it still needs triage.

[2018-05-13 22:13] dims commented on #63702
/sig cli

[2018-05-13 22:13] dims commented on #63679
/close

[2018-05-13 22:14] dims commented on #63678
please file a bug here? https://github.com/juju-solutions/bundle-canonical-kubernetes/issues/

/close

[2018-05-13 22:15] #63678 closed

[2018-05-14 00:39] bgrant0607 commented on #36601
I can't imagine we'll do this.

[2018-05-14 00:39] #36601 closed

[2018-05-14 01:57] 13567436138 opened #63765 "why my dnsmsq server not effective"
[code]

[code]

/ # cat kube-dns-config/
..2018_05_14_00_55_40.441330605/  ..data/                           stubDomains                       upstreamNameservers
/ # cat kube-dns-config/stubDomains
{"taobao.com": ["10.104.205.80"]}

[2018-05-14 02:39] xiaoxubeii commented on #63765
Please follow the instruction:

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname

[2018-05-14 02:41] nikhita commented on #59154
/remove-lifecycle stale

[2018-05-14 02:52] AishSundar commented on #62703
@kow3ns any ETA on merging #63674 ? its CP approved

[2018-05-14 02:53] AishSundar commented on #62704
Looks like #63647  just merged. Will wait for next run to see latest result. @k82cn is there anything else needed?

[2018-05-14 02:55] AishSundar commented on #63030
@wojtek-t @shyamjvs is there an ETA for fixing the latest failure? Is it even Beta blocking? we are due to cut v1.11 on Tuesday 5/15. Please let us know if this failure is blocking or not.

[2018-05-14 02:56] #63765 closed

[2018-05-14 02:59] AishSundar commented on #63499
Cluster upgrades are now passing in the jobs mentioned above. @krousey thanks for taking care of this. I am closing the issue now.

[2018-05-14 03:01] k82cn commented on #62704
@AishSundar , nop, let's wait for the test result to close this :).

[2018-05-14 03:02] AishSundar commented on #63506
@krousey I see the test failing in the last few runs. Is it a different issue plaguing the test now?

https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-cluster-new

[2018-05-14 03:04] AishSundar commented on #62713
I see the tests passing now. Thanks @krousey and @dchen1107 for all your help.

[2018-05-14 03:04] #62713 closed

[2018-05-14 03:12] feiskyer commented on #63350
Talked offline with @JuneZhao, the issue has been mitigated by rebooting the VM.

/close

[2018-05-14 03:12] #63350 closed

[2018-05-14 03:28] #22536 closed

[2018-05-14 03:43] resouer opened #63766 "Should not rely on checking event message `Successfully assigned ...` in e2e test"
**What happened**:

Copied from: https://github.com/kubernetes/kubernetes/pull/63647#discussion_r187507372

**What you expected to happen**:

We should not rely on checking event message string `Successfully assigned ...` in scheduling e2e test, because the string itself is not reliable, any unconscious change of this string will cause e2e test fail (this already happened for 2x times), and debugg

[2018-05-14 03:52] xiaoxubeii commented on #63688
I think it is very difficult to achieve, because we must peek into the TCP stream to get the real client ip by resolving proxy protocol.

[2018-05-14 03:54] AishSundar opened #63767 "Failing test: [sig-cli] Kubectl client tests failing in sig-release-master-blocking and master-upgrade"
## Failing Job
* [gci-gce-serial](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-serial)
* [gci-gke-serial](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-serial)

## Failing Test
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial/6038

## Triage results
https://storage.googleapis.com/k8s-gubernator/triage/i

[2018-05-14 04:00] AishSundar commented on #63767
Here are the failing upgrade jobs
* (gce-1.10-master-upgrade-master)[https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-master]
* (gce-1.10-master-upgrade-cluster)[https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-cluster]
* (gce-1.10-master-upgrade-cluster-new)[https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-m

[2018-05-14 04:09] AishSundar opened #63768 "Failing test : [sig-scheduling] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] failing in sig-release-master-upgrade"
## Failing Job
* [gce-1.10-master-upgrade-cluster](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-cluster)
* [gke-gci-1.10-gci-master-upgrade-master](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-master)

## Failing Test
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-maste

[2018-05-14 04:40] mcglinn commented on #61277
I also have tried exact same yesterday with "Raspbian Stretch Lite April 2018, kubeadm 1.10.2" and 17.12.1 for docker-ce ----> same problem :(

[2018-05-14 04:49] liggitt commented on #63622
/assign @cheftako

[2018-05-14 04:50] kushortiz commented on #6570
getting this

Attempt 1 to check for SSH to master [ssh to master working]
Attempt 1 to check for salt-master [salt-master not working yet]
Attempt 2 to check for salt-master [salt-master not working yet]
Attempt 3 to check for salt-master [salt-master not working yet]
Attempt 4 to check for salt-master [salt-master not working yet]
Attempt 5 to check for salt-master [salt-master not working yet]

[2018-05-14 04:57] kushortiz commented on #8682
i am able to ssh to master but still getting this issue, any help ?

Attempt 3 to check for master node [master running @]
Attempt 1 to check for salt-master [salt-master not working yet]
Attempt 2 to check for salt-master [salt-master not working yet]
Attempt 3 to check for salt-master [salt-master not working yet]
Attempt 4 to check for salt-master [salt-master not working yet]
Attempt 5 to chec

[2018-05-14 06:06] Kailashcj opened #63771 "updating/editing resource quota using kubectl commandline flags"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I wish to change below listed quota hard limit from 08 to 10. couldn't find a kubectl flag to update existing quota. I was able to update the same via quota manifest file. what is the recommended way to modify/update resourcequota's?

kubectl describe resourcequota foobar
Name: foobar
Namespace: default
Resource     Used     Hard
--

[2018-05-14 06:33] kushortiz opened #63772 "Kubernetes cluster NOT coming up"
Attempt 1 to check for SSH to master [ssh to master not working yet]
Attempt 2 to check for SSH to master [ssh to master working]
Attempt 1 to check for salt-master [salt-master not working yet]
Attempt 2 to check for salt-master [salt-master not working yet]
Attempt 3 to check for salt-master [salt-master not working yet]
Attempt 4 to check for salt-master [salt-master not working yet]
Attempt 5

[2018-05-14 06:44] Kailashcj commented on #63771
@kubernetes/sig-cli-feature-requests

[2018-05-14 06:57] dixudx commented on #63771
@Kailashcj Please try to use `kubectl edit resourcequota foobar`.

[2018-05-14 07:32] #19817 closed

[2018-05-14 07:46] yue9944882 commented on #54885
/remove-lifecycle rotten

[2018-05-14 07:46] yue9944882 commented on #54885
/reopen

[2018-05-14 07:46] yue9944882 commented on #54885
/assign
/reopen

[2018-05-14 07:47] yue9944882 commented on #54885
/reopen

[2018-05-14 07:49] #63584 closed

[2018-05-14 08:11] resouer commented on #63354
/assign

There's known inconsistency after CRI is enabled by default, will take a look at it.

[2018-05-14 08:16] discordianfish commented on #55397
/remove-lifecycle stale
/lifecycle freeze

[2018-05-14 08:17] xiaoxubeii commented on #63366
/assign

[2018-05-14 08:33] maryxu opened #63778 "Unable to connect to the server: x509: certificate signed by unknown authority"
I'm using rancher 1.6 to deploy kubernetes and the website is going well. But when I use kubectl to manage the k8s, it reminds me that:
[root@##### .kube]# kubectl get pods
Unable to connect to the server: x509: certificate signed by unknown authority
How should I check on this? I'm using the config file which is generated from Kubernetes CLI. Thanks!

[2018-05-14 08:37] m1093782566 commented on #58443
/remove-lifecycle stale

Because we are intended to declare IPVS proxy GA in v1.11!

[2018-05-14 08:38] brancz commented on #63612
sig-instrumentation is investigating this, but at first glance I don't think it's actually instrumentation related as there are also non-instrumentation containers with the same errors docker overlay errors, so I think @kubernetes/sig-node-bugs should also have a deeper look.

[2018-05-14 08:44] Joseph-Irving commented on #25908
Hi, I talked to some of the sig-apps guys at kubecon about this issue, basically it's not something that's on their immediate roadmap but it is something that they think is a valid use-case. They're very much open to someone from the community tackling this.

I've created a PR for an enhancement proposal to solve this so I hope this generates some discussion https://github.com/kubernetes/community

[2018-05-14 09:10] vikaschoudhary16 commented on #63630
@jiayingz
I thought we have a [stub device plugin based e2e test](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/device_plugin.go#L61). Or you meant something else by stub device plugin?

[2018-05-14 10:19] chenxushuo opened #63781 "deployment roll update : can't pull images wrong!"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
today,wen i roll update my deployment,one pod had some wrong to pull new images; and then kubernetes  didn't  start a new pod for roll update;deployment skip this wrong pod and go on update old pod ; when all old pod rolled update,th

[2018-05-14 10:41] shyamjvs commented on #63030
@AishSundar We've fixed a couple of issues last week. There's still https://github.com/kubernetes/kubernetes/issues/62064 pending, which is causing the current flakes.
I'd say 2 weeks as a realistic ETA for fixing it and IMO we don't need to block the beta release on it (based on its seriousness). If someone thinks otherwise, please comment.

[2018-05-14 10:47] godliness opened #63784 "When enable the equivalence cache feature which makes the pod scheduling performance decline"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

 When enable the equivalence cache feature which make the pod scheduling performance decline.

**What you expected to happen**:

What i think is that when i enable the cache, it should enhance the performance of kube-scheduler.

**How to reproduce it (as minimally and precisely as possible)**:

- Got a physical machine which is 32

[2018-05-14 10:51] wojtek-t commented on #63030
+1 - this should be blocker for GA, but I'm fine with not blocking Beta on it.

[2018-05-14 11:00] IvanAlegre opened #63786 "HPAs not working on GKE 1.9.7"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After creating the horizontal pod autoscaler, it doesn't get the metrics to autoscale. `kubectl top pods` actually gets correctly the amount of cpu in use. Old hpa created with previous kubernetes versions works fine, they currently are being autoscaled right now.

[code]

I've tried deleting all deployment/service/autosc

[2018-05-14 11:01] IvanAlegre commented on #63786
/sig autoscaling

[2018-05-14 11:19] mafzst commented on #51835
@Adiqq For it was a problem with Docker it self.

Have a look to `journalctl -u kubelet -f` on one of your node. I had a message like 'Cannot kill container <xxx> gRpc error" (I haven't the real message since I've fixed this).

To fix that I have restarted docker on each note. During booting up Docker clean containers in a broken state and remove all this stale pods.

[2018-05-14 11:30] hzxuzhonghu commented on #63727
/cc

[2018-05-14 11:36] #56159 closed

[2018-05-14 11:44] mariojacobo opened #63789 "multiple volumeMounts with 1 single configmap using subPath - only 1 subPath is mounted"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG

#> /kind feature

**What happened**:
When a deployment has multiple volumeMounts and only 1 volume (from configMap), only the last volumeMount is actually being mounted in the PODs; the rest do not get mounted; I have 3 volumeMounts with subPath specified to each required file that I want mounted.

**What you expected to happen**:
all subPath shou

[2018-05-14 11:45] howsTricks commented on #2799
/reopen
/remove-lifecycle rotten

This still appears to be an issue, not seeing any way to configure internal TLS options (nor should TLS1.0 even be an option, let alone the default).

[2018-05-14 11:51] medzin commented on #15000
@thockin I can do this, but I have a few questions:
* if I understand correctly you want to add a custom timeout error type and util function to use in conditions
* can I do this in small PRs, or do you prefer a big one?
* this #10322 issue looks like related

[2018-05-14 11:52] liggitt commented on #2799
TLS defaults to 1.2

Both TLS version and ciphers are controllable by flags as of 1.10

[2018-05-14 11:55] howsTricks commented on #2799
Ah wow, thanks! I'll take a look.

[2018-05-14 12:00] fbac opened #63791 "kubectl auth can-i return "yes" and exit code 0 querying non-existent resources"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
kubectl auth can-i return yes and exit code 0 when querying about  non-existent resources.

Warning: the server doesn't have a resource type 'foo'
yes

0

**What you expected to happen**:
kubectl auth can-i should return the warning message and exit code 1.

**How to reproduce it (as minimally and precisely as possible)**:

[2018-05-14 12:02] fbac commented on #63791
/sig CLI

[2018-05-14 12:50] andrewsykim commented on #25908
Thanks for putting that together @Joseph-Irving! Seems like there are more details that need to be addressed for this so I'll hold off on doing any work til then :)

[2018-05-14 12:56] medzin commented on #15000
Some example code:

[code]

[2018-05-14 13:06] sdboyer commented on #63607
Yeah, there are some cool possibilities here. The way that k8s handles staging has been front of mind for me while analyzing vgo; the staging/ structure used today can be handled pretty much straight up as-is with a `replace` statement - at least, i think, i haven't tried it.

There are other issues k8s is likely to have with vgo, but this one gets easier.

[2018-05-14 13:08] hd-deman commented on #47142
delete and recreating kubedns pod helps for me

[2018-05-14 13:24] andreimoraru opened #63796 "kubeadm init fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`kubeadm init --pod-network-cidr=10.244.0.0/16`    fails with message:

`Unfortunately, an error has occurred:
timed out waiting for the condition
`

**What you expected to happen**:
cluster to be initialized
**How to reproduce it (as minimally and precisely as possible)**:
kubeadm init --pod-network-cidr=10.244.0.0/16

*

[2018-05-14 13:40] andreimoraru commented on #63796
/sig cli

[2018-05-14 13:41] dims commented on #63796
@andreimoraru needs to be in https://github.com/kubernetes/kubeadm/issues please

/close

[2018-05-14 13:41] #63796 closed

[2018-05-14 14:02] francesco-beccaria commented on #40244
+1
This would be very useful

[2018-05-14 14:27] detiber opened #63801 "Kube-proxy ipvs support does not work when ipvs compiled into kernel rather than modules"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Deploying kube-proxy with mode ipvs on a system with the required ipvs support compiled into the kernel rather than as modules causes the kube-proxy deployment to fall back to using iptables.

[code]

tryIPVSProxy is only checking for the presence of kernel modules and not if the running kernel has the required support c

[2018-05-14 14:30] rtreffer commented on #63241
How to test this with a local cluster....

1. Prepare the node (install `ipvsadm`, `ipset` & modprobe the modules `ip_vs`, `ip_vs_rr`, `ip_vs_wrr`, `ip_vs_sh`).
1. `export KUBE_PROXY_MODE=ipvs ; ./hack/local-up-cluster.sh`
1. In a new shell: define a service with manual external endpoints
[code]
4. Run tcpdump on the outgoing interface of the node
[code]
5. Curl the service ip
[code]
6. Check the

[2018-05-14 14:32] dims commented on #63801
cc @m1093782566

[2018-05-14 14:34] #63760 closed

[2018-05-14 14:39] #38849 closed

[2018-05-14 14:48] KIVagant commented on #48629
FYI: I got this problem on one node where `kubectl` had outdated v1.5 version while server was in 1.10.

[2018-05-14 15:07] optimality commented on #34856
This is an issue for me.  I'm working on a C++ Kube client.  None of the HTTP libraries I've considered using so far support bodies on DELETE ([restclient-cpp](http://code.mrtazz.com/restclient-cpp/) and [cpp-netlib](http://cpp-netlib.org/), the latter of which I think is a pretty popular standard library, for example).  I suspect it's because they all use libcurl under the hood, and libcurl doesn

[2018-05-14 15:28] chenrui333 opened #63804 "Failed to get system container stats for "/system.slice/kubelet.service""
/kind bug

**What happened**:
The nodes seems died with bunch of error logs below
[code]
That caused the node with error message as `container runtime is down,PLEG is not healthy: pleg was last seen active 2h15m25.650316157s ago; threshold is 3m0s`

On the apps side, we have seen, `java.lang.OutOfMemoryError: unable to create new native thread`

**Environment**:
- Kubernetes version (use `kubectl

[2018-05-14 15:31] chenrui333 commented on #63804
/sig network

[2018-05-14 15:32] chenrui333 commented on #63804
/sig node

[2018-05-14 15:42] tpepper commented on #62703
@kubernetes/sig-apps-api-reviews this needs your lgtm

[2018-05-14 15:44] AishSundar commented on #63612
/sig node

[2018-05-14 15:50] AishSundar commented on #63612
@dims, @dchen1107 and @krousey can one of you please take a look at this issue along with sig-instrumentation. FWIW the tests seem to be flaky and have failed a couple of weeks in the past with the same failure stack.

Can one of you at the least comment if its a test issue or a real bug so we can decide on blocking v1.11 beta on this?

[2018-05-14 16:00] AishSundar commented on #63506
/reopen

[2018-05-14 16:09] AishSundar commented on #63506
Here are the [Commit changes](https://github.com/kubernetes/kubernetes/compare/444881d0d...c29aa3d25) since the last failure.

[2018-05-14 16:10] yujuhong commented on #55725
@kubernetes/sig-instrumentation-bugs @piosz is this fixed already?

[2018-05-14 16:12] AishSundar commented on #63506
Spoke to @krousey offline and SkewTest is a overall for the second half of the suite. So if the other tests in the job pass, this one should turn the corner. so closing this bug for now.

[2018-05-14 16:12] #63506 closed

[2018-05-14 16:42] #57237 closed

[2018-05-14 16:48] karolz-ms opened #63809 "Downward API metadata.uid does not work"
/kind bug

**What happened**:
Attempted to inject pod UID as environment variable into one of the containers in my pod. I see the following in the `env` section of the container inside the running pod (viewing in K8s dashboard)

[code]
but the environment variable is empty (this is the output of `kubectl describe pod`:

  POD_ID:                  (v1:metadata.uid)

**What you expected to happen**:

[2018-05-14 16:50] integrii commented on #60140
Same issue here.  `error: unexpected EOF` 5-20 seconds of copying.  Only about 50-80MB copied.  Tried from over VPN and not.  Our instance is in AWS behind an ELB.  Deployed with KOPS. Kubernetes 1.9.7.

[2018-05-14 16:54] karolz-ms commented on #63809
@kubernetes/sig-apps-bugs please take a look--thx!

[2018-05-14 17:03] dims commented on #63612
@AishSundar this needs someone who is familiar with the GKE's docker setup etc. (`readlink /var/lib/docker/overlay2` error above in docker and kubelet logs). probably best to ping an internal team who works on this stuff?

Also, we should not block v1.11 on an issue we see in GKE only (if that's so)

[2018-05-14 17:19] #62806 closed

[2018-05-14 17:26] lavalamp commented on #34856
@k8s-ci-robot oh yeah?

[2018-05-14 17:35] jingxu97 commented on #56704
@jsafrane sorry that I missed this issue earlier. Have you fixed it or is it still an issue?

[2018-05-14 17:41] maisem commented on #63612
This doesn't look specific to GKE. It seems to also be happening on GCE

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/23826#sig-cluster-lifecycle-reboot-disruptive-featurereboot-each-node-by-dropping-all-outbound-packets-for-a-while-and-ensure-they-function-afterwards

https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=at%5C%20

[2018-05-14 18:00] jiayingz commented on #63630
@vikaschoudhary16 the above one is a e2e_node test. To test master upgrade and cluster upgrade, we need a cluster level upgrade test. For reference, I am adding an upgrade test based on gpu device plugin: https://github.com/kubernetes/kubernetes/pull/63631. It would be nice if we can add one based on stub device plugin, which I guess will depend on the availability of stub device plugin based e2e

[2018-05-14 18:04] yujuhong commented on #56507
The Alpha feature suite should at least run some functional tests (e.g., conformance) to ensure that no GA features are broken. This will also help smooth out the graduation of the Alpha features to Beta.

I don't think this issue should be owned by sig-gcp. It's a general issue across all SIGs. sig-release *might* be interested in the discussion since this concerns the quality of the release. @ku

[2018-05-14 18:30] jingxu97 commented on #34137
I think after this PR https://github.com/kubernetes/kubernetes/pull/59170, you need to set up [kube-state-metrics](https://github.com/kubernetes/kube-state-metrics) to get the metrics

[2018-05-14 18:46] lavalamp commented on #63559
I'm not sure how to make this work for aggregated apiservers. We could make the aggregator do this check, but then we'd need to provide (in the future) some way for the aggregator to understand whether the downstream apiservers support it. Also, this would be the first such thing checked by the aggregator, which is a little odd. This is a case where #51830 might help us out, depending on how it wa

[2018-05-14 18:49] dims commented on #63612
`Error response from daemon: readlink /var/lib/docker/overlay2: invalid argument` ( from https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/23826/artifacts/err-e2e-minion-group-gpgb/kubelet.log )

So probably still related to google infrastructure (container image + docker?)

[2018-05-14 18:58] misterikkit opened #63813 "Move pkg/scheduler/schedulercache -> pkg/scheduler/cache"
This is a small cleanup, but the package name `k8s.io/kubernetes/pkg/scheduler/schedulercache` is redundant. Let's rename it to `k8s.io/kubernetes/pkg/scheduler/cache`.

Whoever has time for this should take a look at [gomvpkg](https://godoc.org/golang.org/x/tools/cmd/gomvpkg).

/kind cleanup
/sig scheduling
/help

[2018-05-14 19:02] yujuhong opened #63814 "kubelet's calculation of whether a container has changed can cause cluster-wide outages"
Updated 2020-11-09 by @liggitt:

In 1.16+, the kubelet hashes the serialized container spec:

1. API server sends data
    * Defaults for added fields will modify this data
    * If an alpha field that is not defaulted graduates to adding a default in beta, an API server upgrade from alpha->beta will modify this data
    * https://github.com/kubernetes/kubernetes/blob/5f1e5cafd33a8863c5dfe9f36c9cb

[2018-05-14 19:23] misterikkit opened #63815 "gke-staging-1-9-1-10-upgrade-master: FAILING [sig-scheduling] SchedulerPredicates [Serial] validates that a pod with an invalid NodeAffinity is rejected"
https://k8s-testgrid.appspot.com/google-gke-staging#gke-staging-1-9-1-10-upgrade-cluster

/king bug
/sig scheduling
/sig testing (how should we avoid repeating this problem?)

**What happened**:
The PRs https://github.com/kubernetes/kubernetes/pull/63067 and https://github.com/kubernetes/kubernetes/pull/62448 changed admission controller behavior and updated tests with the new logic, but upgrade e

[2018-05-14 19:26] misterikkit commented on #63815
Proposal is to cherry-pick the test fix into 1.9

[2018-05-14 19:52] tpepper commented on #62131
@AishSundar it looks like your approved for milestone command wasn't formatted right so the bot missed it and eventually kicked this out.

[2018-05-14 19:53] luxas commented on #48690
/remove-lifecycle stale
cc @andrewsykim for an update on this effort?

[2018-05-14 19:56] AishSundar commented on #62131
Thanks for pointing out @tpepper. This is more of a cleanup work and it need not be tied to any specific milestone

[2018-05-14 20:00] tpepper commented on #60108
@CaoShuFeng status check?  This has maybe gone dormant.  Is it still targeting 1.11?

[2018-05-14 20:02] tpepper commented on #61579
@feiskyer status check...still intended for 1.11?

[2018-05-14 20:03] tpepper commented on #62047
@feiskyer status check here also...still intended for 1.11 milestone?

[2018-05-14 20:14] lavalamp commented on #63714
/assign @roycaihw

[2018-05-14 20:15] andrewsykim commented on #48690
Yup, we'll be beta in 1.11 as per https://github.com/kubernetes/features/issues/88.

The only thing we decided to leave out from the original beta requirements was E2E testing. What we would like is for all providers to run conformance tests using their CCM and report those results to testgrid but we have decided that that is not a requirement to push the CCM feature to beta since we don't see the

[2018-05-14 20:19] lavalamp commented on #63687
There is an option (-p) to read logs of deleted pods? https://kubernetes-v1-4.github.io/docs/user-guide/kubectl/kubectl_logs/

If that doesn't work, here's your options, in the order you should consider using them:

1) Stop needing to do this: make your pod publish the desired artifact somewhere more permanent. I strongly recommend this one if you can make it work.
2) Attach a finalizer to hold th

[2018-05-14 20:23] driusha opened #63821 "kube-dns disregards stubDomains option while resolving externalName service"
/kind bug

**What happened**:
I have:
* internal DNS "10.2.2.10" with zone "example.com" on it,
* stubDomains: {"example.com": ["10.2.2.10"]}
* externalName service "foo" which points to domain "foo.example.com"

When i try to resolve name "foo", i get NXDOMAIN.
If i try to create externalName (ex. mail -> mail.google.com) without stubDomains, everything works.

**Environment**:
- Kubernetes versi

[2018-05-14 20:31] gayathri-baskaran opened #63823 "tificate error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-05-14 20:31] #63823 closed

[2018-05-14 20:37] misterikkit commented on #63784
Thanks for filing this report. Could you clarify a bit about this? When you say "open" and "close" I take it you mean "enabled" and "disabled"? How are you scheduling 3000 pods - is this an integration test?

Lock contention is something we discussed recently, but clearly needs a closer examination. Our plan for equivalence cache is that it should have a positive impact on scheduling performance s

[2018-05-14 21:09] driusha commented on #63821
/sig apps

[2018-05-14 21:27] saad-ali commented on #63112
That was my initial reaction. But the argument is that there are storage systems that allow tweaking performance characteristics of a volume after it is provisioned. Requiring the creation of a brand new volume for such systems is painful.

I'm sure there are a number of assumptions in the existing implementation that would break and would need to be addressed if we were ever to do this.

Yep good

[2018-05-14 21:30] david-jarman opened #63825 "Unable to expose pod IP using Downward API EnvVar in Windows containers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Created a pod based on the pod definition shown in the [Expose Pod Information to Containers Through Environment Variables](https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/#use-pod-fields-as-values-for-environment-variables).

**What you expected to happen**:

Expecte

[2018-05-14 21:31] salilgupta1 commented on #63687
@lavalamp thanks for the response. We can't make the container publish the desired artifacts to somewhere more permanent. Our clients own the containers and are expecting to see their logs show up without additional configuration on their end.

The finalizer option sounds the most appealing for us. I'd also be curious to see how option 3 pans out.

[2018-05-14 21:33] lavalamp commented on #63687
Option 3 isn't coming for quite a while (no generally agreed-on plan), so
don't hold your breath!

On Mon, May 14, 2018 at 2:32 PM Salil Gupta <notifications@github.com>
wrote:

[2018-05-14 21:35] #63767 closed

[2018-05-14 21:36] salilgupta1 commented on #63687
hahah, sounds good!

[2018-05-14 21:39] david-jarman commented on #63825
/sig apps

[2018-05-14 21:43] tpepper commented on #44505
I’ve never sided FOSSA sonic that’s the CNCF preference I’ll defer to those who do have experience there. Otherwise I’m interested in contributing to making this layer of automation better.

[2018-05-14 21:48] tpepper commented on #44505
(I note FOSSA as the thread in pr 62088 has revived and appears headed that way at the moment)

[2018-05-14 22:01] saad-ali opened #63827 "NodeAuthorizer prevents unmounting of CSI volumes when `terminationGracePeriod` is 0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
NodeAuthorizer prevents unmounting of CSI volumes when `terminationGracePeriod` is 0

**What you expected to happen**:

Volume is unmounted without issue.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a pod referencing a CSI volume and set `terminationGracePeriod` to 0.
2. Delete the pod. T

[2018-05-14 22:01] saad-ali commented on #63827
Reported by @cduchesne

[2018-05-14 22:01] saad-ali commented on #63827
CC @liggitt

[2018-05-14 22:03] lavalamp commented on #63559
@deads2k How hard will it be to convince you that it makes sense for the
aggregator to interpret this query parameter?

On Mon, May 14, 2018 at 2:34 PM Antoine Pelisse <notifications@github.com>
wrote:

[2018-05-14 22:10] stonefury opened #63828 "Question: Example service monitoring"
I deployed the example-app.  Am I understanding this right... There are multiple pods, and we create a single prometheus "frontend" to collectively display metrics about all of those pods?

Then, my other question is, I don't see CPU or Network metrics.

What I'm basically wondering is how can I get basic pod-level metrics, like memory, cpu, network?  My app isn't exposing prometheus metrics. But

[2018-05-14 22:27] karolz-ms commented on #63809
Interestingly when I exec into the container, the environment variable seems to be set correctly with pod UID. So it seems to be the K8s dashboard/kubectl problem.

[2018-05-14 22:28] jingxu97 commented on #39657
Sorry for not updating this thread for a while. We are continuing working on snapshot feature, please check the latest presentation on this topic https://schd.ws/hosted_files/kccnceu18/ec/Policy-based%20Volume%20Snapshot%20Design.pdf
You will see some new features we are proposing including in-place restore. Your feedback/comments and use cases are welcome. Thanks!

[2018-05-14 22:43] godliness commented on #63784
@misterikkit  sorry about the misundertanding，yes, it means enabled the cache and it is an integration test which is named schedule_perf and it is located in test/integration/ directory.

60+/s is based on version 1.9.3, the latest version which is in master branch only 15+/s.
The key point is when get result from cache 1.9.3 used Rlock and latest version used Lock and its range is bigger。

And i

[2018-05-14 22:49] AgentME commented on #19475
Just a tip for others who find themselves here: YAML repeated nodes may be useful if you just want to ensure certain fields match each other. See the usage of `&image` and `*image` below.

[code]

Note that the Kubernetes doesn't retain any knowledge of the repeated nodes. If you use `kubectl get -o=yaml ...`, then the returned yaml won't use the repeated nodes feature, and will instead show "ubun

[2018-05-14 22:53] dharmeshkakadia commented on #45825
Can we please get some love on this bug :)
There is no good way to suspect a cron job and resume it. Are there alternatives ?

[2018-05-14 22:55] dharmeshkakadia commented on #42649
Can we please get some love on this bug :)
There is no good way to suspend a cron job and resume it. Are there alternatives ?
(I added the comment on https://github.com/kubernetes/kubernetes/issues/45825 and realized it was closed in favor of this, hence commenting here as well)

[2018-05-14 22:55] tyrsius commented on #19475
@AgentME That doesn't really help here. The goal is to get information about the running container/pod.

[2018-05-14 23:36] apelisse commented on #11488
a HTTP header that already covers this. We try not to mix query parameters
and post bodies in many cases.

@smarterclayton Do you remember why you said that? I'm trying to understand ...

[2018-05-14 23:44] mahmoudm commented on #60644
Can we re-open this issue given that the linked issue + merged PR don't actually address the problem presented here? We are still encountering this race on 1.9.7 which has the linked fix. This is because the describeInstance API used by the kubelet does not filter by tag, while the controller-manager one does, thus still causing it to delete it and creating a zombie node. @chrisseto

[2018-05-15 00:11] #62377 closed

[2018-05-15 00:25] cheftako commented on #63622
Kubelet log is reporting that the sample-apiserver exited with a return code of 2 and it also shows with a high restart count for the sample-apiserver. When I extract the sample-apiserver log I'm seeing multiple "panic: Get https://10.0.0.1:443/api/v1/namespaces/kube-system/configmaps/extension-apiserver-authentication: dial tcp 10.0.0.1:443: getsockopt: connection refused"
Both failures today are

[2018-05-15 00:25] dims commented on #63781
Please ask on stackoverflow, Discuss ( https://discuss.kubernetes.io/ ), on kubernetes-users slack channel.

/close

[2018-05-15 00:26] #63781 closed

[2018-05-15 00:26] dims commented on #63778
Please ask on stackoverflow, Discuss ( https://discuss.kubernetes.io/ ), on kubernetes-users slack channel.

/close

[2018-05-15 00:26] #63778 closed

[2018-05-15 00:27] dims commented on #63789
/sig storage

[2018-05-15 00:49] rajatjindal commented on #63791
looks like it was intentional

https://github.com/kubernetes/kubernetes/pull/42144

[2018-05-15 00:49] #29679 closed

[2018-05-15 00:49] #28007 closed

[2018-05-15 00:49] #33065 closed

[2018-05-15 00:49] #24020 closed

[2018-05-15 00:49] #31267 closed

[2018-05-15 01:14] CaoShuFeng commented on #60108
Yes.

[2018-05-15 01:44] liggitt commented on #63791
yes, the authorization layer is agnostic to verbs and resources... it treats them as opaque tokens it checks against the configured authorizers

/close

[2018-05-15 01:44] #63791 closed

[2018-05-15 01:45] liggitt commented on #63809
the downward API does not update the API object, it only populates the environment variable inside the running container

/close

[2018-05-15 01:45] #63809 closed

[2018-05-15 01:46] feiskyer commented on #62047
@tpepper Yep.

[2018-05-15 01:46] feiskyer commented on #61579
@tpepper Yep.

[2018-05-15 01:46] wengych commented on #18568
/subscribe

[2018-05-15 01:50] #23580 closed

[2018-05-15 01:50] #16845 closed

[2018-05-15 01:50] #23715 closed

[2018-05-15 01:50] #25281 closed

[2018-05-15 02:11] bgrant0607 commented on #16845
Replaced by #61012

[2018-05-15 02:16] anjuls commented on #61944
I have the same problem, It didn't work for me even after doing following

[code]

Is anyone else facing this issue?

[2018-05-15 02:16] m1093782566 commented on #63801
cc @islinwb, please take a look.

[2018-05-15 02:27] wgliang commented on #63813
/remove-help

[2018-05-15 02:27] lichuqiang commented on #63814
/cc

[2018-05-15 02:30] lubinsz opened #63838 "Question: HugePages require cpu or memory"
In 'pkg/apis/core/validation/validation.go', there is a limitation: if we deploy hugepage volume in pod.yaml, it will report the issue: 'HugePages require cpu or memory', and the deployment will be failed.
My application is DPDK. And for a typical DPDK application, it only needs hugepages volume and cpu isolation.
So can I remove the limitation of 'HugePages require cpu or memory' in pkg/apis/core

[2018-05-15 02:43] derekwaynecarr commented on #51135
I have been away for the past week.  I think we should try and reach consensus on this topic in sig-node tomorrow, but I think completely disabling CFS quota is a non-starter, and it shocks me that this conversation has jumped so far in that direction!

@sjenning @vishh @dchen1107

The vast majority of OpenShift users (even when running single tenant) use CPU limits without major concern.  It's im

[2018-05-15 02:48] derekwaynecarr commented on #51135
fwiw, the period is configurable in cgroups v2 via `cpu.max` so introduction of the tunable period does not represent a major migration challenge in the future if/when kubelet has v2 compatibility.

[2018-05-15 03:10] k82cn commented on #62704
The test is green: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster/2135 :)

[2018-05-15 03:10] #62704 closed

[2018-05-15 03:43] resouer opened #63842 "Moving ImageLocalityPriority as a default priority"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

`ImageLocalityPriority` has been implemented for quite a while (PRs: #18248 #20140). But due to scheduler cache is not ready at that time, this priority is not enabled by default considering the potential performance impact. See: https://github.com/kubernetes/kubernetes/pull/20140#discussion_r51342913

I think we can

[2018-05-15 03:48] wgliang commented on #63813
/assign @wgliang

[2018-05-15 03:59] brunobowden commented on #28746
@mfojtik @kargakis - has there been any movement on this issue?

`kubectl logs` has the `--pod-running-timeout=90s` flag but it doesn't appear to have any effect. It appears that the only workaround is an involved Python script that checks for the job status and then polls until it starts receiving logs... it feels like `kubectl logs` should support this easily.

This is the bad experience that @s

[2018-05-15 04:01] vikaschoudhary16 commented on #63630
@jiayingz That makes sense. I thought you were saying there is no stub device plugin. Thanks!

[2018-05-15 04:11] AishSundar commented on #62703
Things seem to be clearing up now in a few jobs. Closing this issue now

[2018-05-15 04:11] #62703 closed

[2018-05-15 04:31] rramkumar1 commented on #63622
@cheftako We are looking into finding the root cause into the problems with the ipvs clusters. I am pretty confident they were triggered by a bad PR, just need to identify which one.

[2018-05-15 04:32] rramkumar1 commented on #63622
Initial hypothesis is that PR #63585 caused it.

[2018-05-15 05:05] AishSundar commented on #63612
All reboot tests are passing now. definitely a case of flaky test that needs investigation. Will take it up offline. Closing this issue.

[2018-05-15 05:22] AishSundar opened #63843 "Failing test: [sig-service-catalog] [Feature:PodPreset] PodPreset should create a pod preset failing in sig-release-master-blocking"
## Failing Job
* [gci-gce-alpha-features](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-alpha-features)

## Failing Test
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/21750

Triage results
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=PodPreset%20should%20create%20a

This test is currently fai

[2018-05-15 05:32] bgrant0607 commented on #8867
/remove-lifecycle rotten
/lifecycle frozen

[2018-05-15 05:40] AishSundar commented on #63843
/assign @jpeeler

/cc @pmorie

[2018-05-15 06:21] Danfeng-Wang opened #63846 "Here is an issuse on my kubenetes cluster go1.9.2. I edited a pvc yaml file and applied it by "kubectl apply -f test-pvc.yaml". Then I delete it by "kubectl delete -f test-pvc.yaml". But the replicaset still existed and deployment deletion successfully! Is this a bug on the version 1.9.2 or else ?"
Here is my test-pvc.yaml file:

kind: PersistentVolumeClaim
apiVersion: v1
metadata:
 name: openebstest-claim
 annotations:
   volume.beta.kubernetes.io/storage-class: openebs-standard
spec:
 accessModes:
   - ReadWriteOnce
 resources:
   requests:
     storage: 20G

I delete the deployment manually ! Then replicaset deleted successfully