[2016-08-28 10:56] javiercr commented on #28154
@Random-Liu

This is the `docker.log at` the time the site went down:

![image](https://cloud.githubusercontent.com/assets/855995/18033235/17c4db34-6d1e-11e6-93fa-bbc76a6174e5.png)

The logs from 06:04 are before it went down and probably not related to this issue. Then there are some messages regarding the deletion of containers and that's probably when the cluster was trying to recreate the cont

[2016-08-28 12:55] k82cn commented on #31300
@wojtek-t , copy that, thanks a lot.

[2016-08-28 13:34] AdoHe commented on #29838
@krmayankk I think I have time to take a deep look tomorrow, and will do it.

[2016-08-28 13:40] AdoHe commented on #31568
SGTM.

[2016-08-28 13:41] AdoHe commented on #31553
@janetkuo I will fix the bug #31009 asap.

[2016-08-28 13:47] k8s-merge-robot opened #31589 "[k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/5336/

Failed: [k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26544 #26938 #27595 #30146 #30469 #31374 #31427 #31433

[2016-08-28 14:45] keglevich3 commented on #26202
@bgrant0607 Can you please explain what is motivation that he user should maintain labels **and** selectors? As I understand from you they should be assigned with the same content. Is this is a temporary solution or should we except for a better one?
Thanks!

[2016-08-28 15:25] kargakis commented on #31009
cc: @soltysh

[2016-08-28 16:56] kargakis commented on #26079
To answer my own question, currently it's not enough because we need to update the deployment status re available pods, info that should exist in the replica set (https://github.com/kubernetes/kubernetes/issues/28381). Once #28381 is fixed, we can stop requeueing deployments on pod events (rs events should be enough)

[2016-08-28 17:05] kargakis commented on #22961
Closing in favor of https://github.com/kubernetes/kubernetes/issues/31306

[2016-08-28 17:05] #22961 closed

[2016-08-28 17:07] kargakis commented on #22512
Is this still an issue?

[2016-08-28 17:13] kargakis commented on #20435
Fixed by https://github.com/kubernetes/kubernetes/pull/25110

[2016-08-28 17:13] #20435 closed

[2016-08-28 17:30] k8s-merge-robot opened #31591 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] Deployment Should scale from 1 pod to 3 pods and from 3 to 5 {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/2033/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] Deployment Should scale from 1 pod to 3 pods and from 3 to 5 {Kubernetes e2e suite}

[code]

Previous issues for this test: #30317

[2016-08-28 18:18] sijnc commented on #13776
This would be very helpful, would love to be able to mount a pod/container and be able to live edit files for debugging and hotfix as suggested by @joshperry. We have a very large deployment that cannot run on a local dev machine so we have to develop in the kubernetes cluster.

The ability to mount via something like SSHFS would be great!

[2016-08-28 19:12] smarterclayton commented on #10446
Data shows all our memory use is in our frameworks still.  We have a
process for this now so no need for the issue.

[2016-08-28 19:13] smarterclayton commented on #12742
Nodes should only have access to things scheduled to them.  This is
part of a larger issue that has been discussed with sig-auth
participants before.  We need an issue to track that.

[2016-08-28 19:35] smarterclayton commented on #30716
Given the previous discussions in the template proposal, we are
unlikely to use Go templates as a first class mechanism.  I highly
recommend reading that proposal and the associated issue for context -
that will impact how any proposal in this space would be constrained.

[2016-08-28 20:52] caesarxuchao commented on #22368
Yeah, user needs to be able to express whether she wants GC to take care of a configmap/secret. I thought we could do this by inlining the configmap/secret spec in the deployment spec, but that would make the deployment spec too fat.

[2016-08-28 21:09] erictune commented on #31524
I'd expected that in a typical implementation, the webhook backend is either be part of or trusted by the image scanning service.  In that case, it does not need an oauth token to get scanning data.

Perhaps the OP can say more about why per-image secrets are needed rather than blanket authorization for the webhook to read image scanning data.

[2016-08-28 21:23] erictune commented on #31549
We are going to phase out the "examples" directory.

For help setting up specific applications, we will direct people to kubernetes/charts.  If you want it to be easy to setup rabbitmq, I'd suggest contributing there.

For examples which illustrate features of kubernetes, we will host those on k8s.io, and they will be focused on teaching kubernetes concepts, not on broad coverage of applications.

[2016-08-28 21:23] #31549 closed

[2016-08-28 21:46] #31348 closed

[2016-08-28 21:49] justinsb commented on #31496
Running a CoreOS build: `GitVersion:"v1.3.4+coreos.0"`.  Labeled as such, but is there a team for this?

[2016-08-28 23:03] erictune commented on #30603
I commented on that issue.

[2016-08-28 23:14] #31405 closed

[2016-08-29 00:27] k8s-merge-robot opened #31592 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicaSet Should scale from 1 pod to 3 pods and from 3 to 5 {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/2035/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicaSet Should scale from 1 pod to 3 pods and from 3 to 5 {Kubernetes e2e suite}

[code]

Previous issues for this test: #27397 #27917

[2016-08-29 01:45] dims commented on #31587
This problem will show up on non-linux platforms since the test/integration/metrics has only one _test.go file and that is marked as not runnable in non-linux platforms:
https://github.com/kubernetes/kubernetes/blob/master/test/integration/metrics/metrics_test.go#L1

[2016-08-29 02:07] madhusudancs commented on #30790
@dims Please don't close this yet. We still need to cherry pick the fix into 1.3 [PR #31483] and I am using this as a tracking issue.

[2016-08-29 02:12] jbeda commented on #30395
I have a group of interested parties and a doc to collect use cases in. We
are going to find time to meet. Email me if you want in.
On Sat, Aug 27, 2016 at 9:14 PM Brendan Burns <notifications@github.com>
wrote:

[2016-08-29 02:14] Cloven commented on #28718
First, is anything happening on this?  I'd be interested in listening in to any publicly-accessible call if it hasn't happened yet, this topic is super intriguing.

Second, @smarterclayton writes:

that even with sticky IPs there are very real transitions that happen under
the covers, and the implications of that transition can still result in two
peers on the network having the same IP at a point

[2016-08-29 02:22] wu8685 commented on #27454
opened the [issue](https://github.com/spf13/pflag/issues/89) on pflag

[2016-08-29 02:29] smarterclayton commented on #28718
A petset does not guarantee only a single pod identifying as any member
exists (you can have 2 running processes on different nodes that think they
are mysql-0).  It only guarantees that you can determine *which one* should
be included in the official config.  Any network magic for external sticky
IPs would still have to deal with this fundamental split - if you do that
by programming edge routers

[2016-08-29 03:13] Cloven commented on #28718
exists (you can have 2 running processes on different nodes that think they
are mysql-0).

That looks to be contradicted by the Pet Set documentation (http://kubernetes.io/docs/user-guide/petset/):

And, I'd find it pretty surprising.  Can you describe a scenario where you think that should or would happen?  How would the impostor mysql-0 behave?

[2016-08-29 03:18] liggitt commented on #29177
@dhawal55 if you want to refer to a service account, use a subject like this:

[code]

if you want to refer to all service accounts in a namespace:
[code]

and if you want to refer to all service accounts everywhere:
[code]

[2016-08-29 03:44] smarterclayton commented on #28718
1. Create pod mysql-0, scheduled to node-0
2. Network partition between node-0 and the cluster
3. Node controller detects node-0 is down, evacuates node by deleting pods
4. pod mysql-0 reaches maximum grace period without node coming online, deleted by node controller
5. pet set controller creates mysql-0 again
6. Network partition heals between node-0 and rest of cluster

mysql-0 was always avail

[2016-08-29 04:09] Cloven commented on #28718
oh yeah, for sure you wouldn't ever do 3b, 4 or 5 with a pet, would you?  That'd be treating a pet like cattle and breaking the key underpinning abstractions of Pet Sets.  Like operationally, what are you supposed to do when two postgres masters have both taken traffic and your data is not stored as CRDTs?  Or when two paxos nodes come up thinking they have the same identifier and voting according

[2016-08-29 04:17] dhawal55 commented on #29177
I tried it but still getting Forbidden error when trying to access API from
pods. I deleted the pods, service account and secret every time i made
chances to the role bindings.

On Aug 28, 2016 8:18 PM, "Jordan Liggitt" <notifications@github.com> wrote:

[2016-08-29 04:21] smarterclayton commented on #28718
3, 4, 5 are all the default behavior of Kube.  There is no mechanism today to avoid that, other than setting arbitrarily long grace periods.

The point of pet set is to create reliable abstractions on top of unreliable entities.  The potential for split brain has to be managed as the cluster is reconfigured - for instance, mysql-0 prime cannot just act as if it is primary - it must engage in a pro

[2016-08-29 04:23] smarterclayton commented on #28718
Moving to 1.5 - I've added this to the list of proposed work for sig-apps in 1.5.  I'm somewhat skeptical at this point that we can move to beta in 1.5, but we should definitely make progress towards the things that allow beta.

[2016-08-29 04:45] bprashanth commented on #28718
I think there's a blurry line between what the system should handle vs what would be better handled directly by the app, and that's the challenge we're facing right now. Using a pd as a lock is a clunky solution, but it allows us to move past this particular problem. The same can be said about sticky ips, public identities or leader election support in legacy dbs.

There's a list of things that we

[2016-08-29 05:28] Cloven commented on #28718
Even if there were a system of leader election in mysqld through which all queries ran (!!), how do A, B, C, A and B again form a valid quorum?

As documented, I think Pet Sets work swimmingly; they provide a stable guarantee of identity and a stable name and a consistent zero or one quantity, with all that implies.  It follows the price of entry is that cracked Pet Sets require human intervention

[2016-08-29 05:28] brendandburns commented on #13776
I just realized that we could even use this to write a FUSE driver...  Mount your pod's file system into the local filesystem.

What could possibly go wrong :)

[2016-08-29 05:28] asalkeld commented on #31412
PR #31477 has been merged, please close this.

[2016-08-29 05:32] feniix commented on #13776
You mean something similar to this?  https://github.com/opencredo/kubefuse

[2016-08-29 05:41] mfanjie commented on #26134
@bprashanth I acknowledged your message, and I ran the service e2e my gce environment and it was kept running, but did not see leak yet.
Is it possible to check what are the related backend services for those remaining forwarding rules when this error happened?

[2016-08-29 05:42] bprashanth commented on #28718
At the same time I don't think it's on kube to reinvent paxos. The best we can do is provide a framework, where if you assume an HA control plane, you minimize the probability of catastrophic partitions.  The app needs to layer a consistency framework on top. Common methods involve taking a lease in etcd (see frameworks like patroni: https://github.com/zalando/patroni), blocking in the init contai

[2016-08-29 05:47] bprashanth commented on #26134
This is a service.type=lb so no backend services (at least not in the gce sense). A good first step might be to add something to the AfterEach of the test to detect a leak and list the "description" fields of the cloud resources when this hits, kind of like we do in the ingress e2e  (https://github.com/kubernetes/kubernetes/blob/master/test/e2e/ingress_utils.go#L309). We should also clean up the l

[2016-08-29 06:04] Cloven commented on #28718
Patroni is pretty interesting, thanks for the link!   And you make the good point that there are valid, if complex, workarounds in the case where you really do want to extend the availability concern into Pet Sets.  Food for thought.

[2016-08-29 06:12] anioool commented on #31496
@kargakis, I will try to reproduce it.

[2016-08-29 06:16] colemickens commented on #31412
Thanks for the heads up @asalkeld. Closing this.

[2016-08-29 06:16] #31412 closed

[2016-08-29 06:32] cherylhan opened #31595 "kubectl get pods -o wide has no ip"
i use k8s 1.3.4 on centos when i use kubectl get pods -o wide ，i find there is no ip for my pods

etcdctl get /k8s/network/config
{"Network":"172.100.0.0/16"}

flannel0: flags=81<UP,POINTOPOINT,RUNNING>  mtu 1472
        inet 172.100.8.0  netmask 255.255.0.0  destination 172.100.8.0

docker0: flags=4099<UP,BROADCAST,MULTICAST>  mtu 1500
        inet 172.100.8.1  netmask 255.255.255.0  broadcast 0.

[2016-08-29 07:12] maciaszczykm opened #31596 "Error during cleaning up orphaned pods"
Following discussion in https://github.com/kubernetes/kube-deploy/issues/192 I'm creating this issue to clear some things and to work on a solution for possible issue:

[code]

$ mount
...
tmpfs on /var/lib/kubelet/pods/bd3f9c64-69d9-11e6-ac66-901b0e5324e4/volumes/kubernetes.io~secret/default-token-i49yf type tmpfs (rw,relatime)
tmpfs on /var/lib/kubelet/pods/0c52522f-69d9-11e6-ac66-901b0e5324e4/v

[2016-08-29 07:25] nebril commented on #29453
@ash2k the intent of creating dependencies as separate objects was to allow for elasticity within a cluster - you could deploy one application with one graph and then reuse already deployed services to deploy second application in your cluster.

What do you mean by "working with unknown resources"? We plan to support all or most of k8s objects in AppController, what else would you like to orchestr

[2016-08-29 07:26] wojtek-t commented on #31589
I think there are two different issues here - I thikn that I already debugged the second case.
Basically, looking into logs, it seems that there are pretty big pauses between calls to apiserver from the test (my very strong hypothesis is that it is because of overloaded Jenkins machine where the test is running).
These are the logs from the offending RC update:
[code]
As a result, we will end up w

[2016-08-29 07:26] wojtek-t commented on #31589
@gmarek ^^

[2016-08-29 07:41] chao007 commented on #31419
It works after update to `parameters`, close this issue

[2016-08-29 07:41] #31419 closed

[2016-08-29 07:52] nhlfr commented on #31539
@dims thanks for hint. The commit you linked didn't update `test/e2e/generated/bindata.go` with the files which were moved to `test/fixtures/doc-yaml`. However, the `update-bindata.sh` script is broken... I'd need to fix this script, then get rid of the flake we have in this issue.

[2016-08-29 08:03] anioool commented on #31496
Hey @kargakis , my logs contains only following errors:

net/http.(*persistConn).writeLoop(0xc836f57ad0)
	/usr/local/go/src/net/http/transport.go:1277 +0x472
created by net/http.(*Transport).dialConn
	/usr/local/go/src/net/http/transport.go:858 +0x10cb

goroutine 1359 [sleep]:
time.Sleep(0x861c46800)
	/usr/local/go/src/runtime/time.go:59 +0xf9
k8s.io/kubernetes/pkg/cloudprovider/providers/aws.(*Cr

[2016-08-29 08:28] pigmej commented on #29453
@ash2k also besides stuff that @nebril mentioned. Separated dependencies allow you to modify them independently. Which means you can change graph (extend) without touching resources itself. Also you can put deps and resource in one file (as a list).

[2016-08-29 08:32] k82cn commented on #30097
Seems included in brew.

[code]

[2016-08-29 08:33] k82cn commented on #31267
@pwittrock , I'd like to contribute this as a start point. Would you help to provide the guidance ?

[2016-08-29 08:34] jsafrane commented on #31511
Yes, there is such race, however Kubernetes should recover fairly quickly and delete the volume as soon as it is detached from all nodes. The volume is `Failed` during this period, which may give users bad impression about Kubernetes health.

We need a way to tell persistent volume controller that a PV is still attached to a node so it should not try to delete it.

@saad-ali, any ideas?

[2016-08-29 08:43] k82cn commented on #15834
The issue is still here; I'd like to contribute this :).

[code]

[2016-08-29 08:47] kargakis commented on #31496
@anioool the start of the stacktrace is still missing (it should contain the reason for the runtime panic) :/

In the meantime, what type of strategy is your Deployment using (Rolling or Recreate) and what type of access mode is your volume (RWO, or one of RWX, ROX) ?

Can you also post the output of `kubectl get events`?

[2016-08-29 08:55] davidopp commented on #30272
This is close to what I had in mind, but to clarify, there are two types of taints that are relevant here, NoSchedule and NoExecute. (NoExecute hasn't been introduced yet, but it's in #30191). The way this would look end-to-end would be something like:

Normal "node unreachable" scenario (not maintenance event):

1. User submits a pod. It is intercepted by an admission controller that adds tolerat

[2016-08-29 08:59] anioool commented on #31496
I think reason is connected with throttling for AWS queries. I have deployments with rolling stategy and volumes with read-write access.. Each deployment creates one pod with dedicated volume. Problem occurs when throttling for attaching/detaching appers.

I will try to catch beginning of logs and also provide informations from events

[2016-08-29 09:26] DanyC97 commented on #17301
is seems #16830 been merged hence this PR can progress ?

[2016-08-29 09:51] offlinehacker commented on #28723
I have same issue on kubernetes v1.3.5, have you figured how to solve it?

[2016-08-29 09:52] zilman commented on #28497
@girishkalele This doesn't appear to solve it fully.
Besides the scalability issue seems there's an intermittent reliability bug.

[kube-dns-v19](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/skydns-rc.yaml.sed) svc and rc taken from official repo.

```KUBE_PROXY_ARGS="--proxy-mode=iptables --masquerade-all=true"```

nslookup kubernetes.default from a brand new busybox po

[2016-08-29 09:59] zilman commented on #28497
Just to clarify: ```nslookup servicename <podip>```
This is like a lottery. Some of them work some of the time, some hang, and it changes all the time.

[2016-08-29 10:23] jellonek commented on #31232
ping?

[2016-08-29 10:26] zilman commented on #22823
@goltermann I would strongly consider making this a higher priority, as these problems are intermittent and orthogonal to performance (which could have been a separate issue).

See my comments at the bottom of #28497.

[2016-08-29 10:54] anioool commented on #31496
Log contains more than 22 k lines
This is the beginning of stacktrace

I0829 10:42:37.451997       1 event.go:216] Event(api.ObjectReference{Kind:"Deployment", Namespace:"default", Name:"i12-20150917-15-00-00", UID:"e49fc8fb-686e-11e6-9ef1-025cfec37e6b", APIVersion:"extensions", ResourceVersion:"16978477", FieldPath:""}): type: 'Normal' reason: 'ScalingReplicaSet' Scaled down replica set i12-20150

[2016-08-29 10:55] wernight commented on #16779
I don't like magic mounts. We could have a standard mount with new type of Volume.

To avoid it to be a breaking change, may be we could use the `version` and release notes to inform: Upgrading version to X.Y will improve security but some Pods may break, for those simply add ... to their definition.

Is that token actually necessary for most Pods to run? I used the hack of mounting the empty dire

[2016-08-29 11:15] nebril commented on #31550
I will give it a shot if no one is working on this.

[2016-08-29 11:44] cheld commented on #31337
@thockin I thought about parsing a file or using a tool like nmcli. But I do not have something clever in mind.

I did some additional testing and started a centos and suse VM. Actually, those write a proper IP to /etc/resolve.conf. Maybe it is only a problem of Ubuntu laptop installation.

So, do we have any good idea to proceed with the issue or should I close it?

[2016-08-29 11:44] kargakis commented on #31496
Cool, this is a dupe of https://github.com/kubernetes/kubernetes/issues/29960 which has been fixed by https://github.com/kubernetes/kubernetes/pull/30011 (also backported to 1.3 in https://github.com/kubernetes/kubernetes/pull/30297). If you rebuild 1.3 it should work now.

[2016-08-29 11:48] anioool commented on #31496
@kargakis, This is the reason why controller manager is failing in case when throttling appear? Is that fix resolve problem that many pods for the same container are created even if expect only 1 replica?

[2016-08-29 11:53] bjfr commented on #30495
@discostur solution worked for me, adding  the following three lines at line 516 in commons.sh (release 1.3.5)

KUBE_MANIFESTS_TAR_URL="${SERVER_BINARY_TAR_URL/server-linux-amd64/manifests}"
MASTER_OS_DISTRIBUTION=${KUBE_MASTER_OS_DISTRIBUTION:-debian}
NODE_OS_DISTRIBUTION=${KUBE_NODE_OS_DISTRIBUTION:-debian}

[2016-08-29 11:58] m1093782566 opened #31608 "Replace every GET/LIST with list/watch?"
**Is this a request for help?**

Yes.

As this line shows,

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/route/routecontroller.go#L83

[code]

@cjcullen Do you have plan to change  from **List Node** to **watch node**?

BTW, I have general question. - I find some controllers use `GET/LIST` resource objects while some others use `watch`. I wonder is there any rules that condu

[2016-08-29 12:09] deads2k commented on #30924
You'll want to bind that as a `ClusterRole` to have access to the discovery endpoints.  We'll be working on porting the OpenShift roles here, but if you want to see how we do it take a look here: https://github.com/openshift/origin/blob/master/test/testdata/bootstrappolicy/bootstrap_cluster_roles.yaml#L2001-L2022 .

You'll want to bind `system:discovery` to all your users to allow them access to t

[2016-08-29 12:20] m1093782566 commented on #31608
@wojtek-t

Thank you for your quick answer but I still have the question:

Can we replace every `LIST/WATCH` with `watch`, like [node controller](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/nodecontroller.go#L489) and [kubelet](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_node_status.go#L238)?

If can't, is there any reason?

Thanks!

[2016-08-29 12:24] kargakis commented on #31496
The controller manager is failing due to the panic I guess. Not sure if this same issue was causing the controller to hotloop but a bunch of fixes have been merged since you built Kube so please try to rebuild and see if your issue still exists.

[2016-08-29 12:34] wu8685 commented on #27454
[PR](https://github.com/spf13/pflag/pull/90) on pflag

[2016-08-29 12:35] deads2k commented on #30395
@jbeda I'm interested in seeing where this is going and understanding the use-cases we're trying to optimize for.  Can I get a link to the doc and an invite to the meeting?

[2016-08-29 12:37] gmarek commented on #27822
@pwittrock - pretty much all recent errors are caused by failed cluster startups (external ones from the kubemark perspective, so the test fails even before it even sees the kubemark code). We're plagued by them since... well - forever. I'm not sure it's reasonable to assume it'll be fixed for 1.4, but maybe @mikedanese or someone else from cluster-lifecycle team know more.

[2016-08-29 12:38] eparis commented on #27454
@wu8685 thank you!

[2016-08-29 12:46] gmarek commented on #30747
You can see which test failed to delete the namespace in the namespace name. In the last failure (From Aug 17th) it was a DNS test.

[2016-08-29 12:55] wojtek-t commented on #31608
Can we replace every GET/LIST with watch, like node controller and kubelet?

Ideally, we should replace them. But some of them may be tricky to do and are not that obvious (as you can see on the route-controller PR, which seems to be active for few weeks, and it's not yet figured out what's wrong with it).

[2016-08-29 13:03] pmorie commented on #31571
FTR, storage class supports multiple provisioners

[2016-08-29 13:05] pmorie commented on #31571
Another issue in this space: TPR is namespaced, while not all extension controllers are (example: storage class is global)

[2016-08-29 13:05] sstarcher commented on #30637
This recently bit us with kubernetes wiping our efs volume clean in testing.

[2016-08-29 13:09] pmorie commented on #31521
I think there should be a clear rubric in writing that specifies exactly when/where to add an API group before this issue is closed.

[2016-08-29 13:36] pires commented on #29213
Prefer the 1st option as well, but as I've had the opportunity to say before, `quay.io/coreos/hyperkube` release process doesn't (yet?) follow Kubernetes one. For instance, Kubernetes v1.3.6 was released 3 days ago and still no `quay.io/coreos/hyperkube` image is available for that version.

So @euank would fixing this issue fix the aforementioned situation, as well?

Other than that, I'm willing

[2016-08-29 13:39] m1093782566 commented on #31608
Okay, I will trace this PR and hope can do some help.

[2016-08-29 13:52] smarterclayton commented on #28718
Yeah - we have to walk a very fine line between providing tools that make "correct" and "safe" distributed systems possible.  I.e., a moderately experienced mysql/postgres admin with experience in master/slave setups can apply their knowledge to pet sets and get an outcome that is safe.  That means the problems they hit have to be obvious, and the failure modes also have to be obvious.  If another

[2016-08-29 13:52] wojtek-t commented on #31608
That would be great, because I didn't have time to debug it. If you ca help with making it work, I'm happy to review it.

[2016-08-29 14:06] mwielgus opened #31610 "Timed out waiting for cluster initialization. Cluster API may not be available."
More details here:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31526/kubernetes-pull-build-test-e2e-gke/9911/

[2016-08-29 14:09] rootfs commented on #23924
@jperville In [containerized openshift](https://github.com/openshift/origin/blob/master/contrib/systemd/containerized/origin-node.service#L11), the node (kubelet) bind mount /sys. rbd map works in this environment.

[2016-08-29 14:14] dshulyak commented on #30272
Yes, it makes sense. I wanted to avoid updating forgiveness on pods exactly because of this remembering, but i guess thats fine.

Can we use admission controller which will update correctly forgiveness to NoExecute taint for all pods on the node and re-set it back after taint will be removed?

[2016-08-29 14:14] derekwaynecarr opened #31611 "GKE is referencing deprecated admission plug-ins"
The PR (https://github.com/kubernetes/kubernetes/pull/31250) merged to remove `NamespaceExists` and `NamespaceAutoProvision` admission plug-ins.

The plug-ins were deprecated and should not be used in any setup.  Unfortunately, there appears to be a GKE setup that is using them.  It should just be using `NamespaceLifecycle`.

Someone at Google managing the GKE scripts needs to remove these referen

[2016-08-29 14:15] luxas commented on #31581
PetSet API is available, but it seems it's not well-documented: https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/apps/types.go#L31

Open an issue on kubernetes/kubernetes.github.io if you want to add them to the site

[2016-08-29 14:15] #31581 closed

[2016-08-29 14:16] dims commented on #31610
@mwielgus : @lavalamp took care of this over the weekend (https://groups.google.com/d/msg/kubernetes-dev/WlispDLOwVM/CLZ1DqF1CgAJ)

[2016-08-29 14:16] jszczepkowski commented on #30156
There are two issues here not related to resizing of nodes:

1.  the server does not allow access to the requested resource (get): #31213

2. an error on the server has prevented the request from succeeding (put): #31188

[2016-08-29 14:17] #30606 closed

[2016-08-29 14:21] stevesloka commented on #12742
I'm really interested in this as well, possibly adding another secret implementation which has a different backing . That adds complexity to the cluster, but allows users to define which pieces get encrypted and which don't since you could ask for a secret from the default backing or from the encrypted backing.

[2016-08-29 14:34] justinsb commented on #11816
As an issue, I believe we should treat this as we would a vulnerability in our ABAC/RBAC system, because as I understand it the consequences are the same: a pod can gain privileges that it should not be able to.  My understanding is that ABAC is in beta, and RBAC is in alpha.

I agree with @mikedanese that the feature freeze is in place, but that should not affect issues (it should affect merging

[2016-08-29 14:37] kayrus commented on #11816
@justinsb thanks for your support. I've [implemented](https://github.com/kubernetes/kubernetes/pull/31562) as tiny as it is possible patch for the master branch.

[2016-08-29 14:39] rootfs opened #31613 "Supporting filesystem mount options"
This is a generic discussion on how should we support filesystem mount options.

We currently support network filesystems: NFS, Glusterfs, Ceph FS, SMB (Azure file), Quobytes.
Mount time options that are operationally important and have no security implications should be suppported. Examples are NFS's TCP mode, versions, lock mode, caching mode; Glusterfs's caching mode; SMB's version, locking, id

[2016-08-29 14:40] rootfs commented on #24721
opened up a generic mount option support issue #31613

[2016-08-29 14:44] deads2k commented on #11816
This is not new, the changes to make this work properly aren't insignificant, and behavior change after doing this isn't minor.  I don't think I'd want to ram this through in 1.4.  I'd prefer to take the time to do it properly in 1.5.

[2016-08-29 14:49] justinsb commented on #11816
@deads2k I agree we don't want to ram something through in 1.4.  I'm trying to make a distinction here between the issue and the fix.  Personally I think we are likely to mitigate in 1.4, and do it properly in 1.5.  But we should consider all the options: the PR, other mitigation or doing nothing in 1.4.

[2016-08-29 14:56] liggitt commented on #11816
The changes to do this require coordination with all clients of the kubelet API, including the metrics clients that drive autoscaling behavior. That's something we should do at the beginning of a release cycle, not the end.

[2016-08-29 14:58] kayrus commented on #11816
@liggitt metrics should be available via read-only port.

[2016-08-29 14:59] dims commented on #28615
Looks like there are quite a bit of failures because of leaked resources: Example from the previous run.

[code]

[2016-08-29 14:59] ecordell commented on #31524
This doesn't quite track for me - access to images is restricted with per-image pull secrets; the type of information required to make admission decisions is equally private in my mind (the webhook backend could even actually pull an image and running some analysis on it before making a decision).

In any case, it sounds like we should revisit one of the proposed alternate designs:

In the case wh

[2016-08-29 15:01] sjenning opened #31615 "Openstack cloud provider doesn't implement ExternalID() according to Instances interface requirement"
The Openstack provider implementation of ```Instances.ExternalID()``` does not return ```cloudprovider.InstanceNotFound``` as the error if the instance is not found as required by the interface:
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/cloud.go#L113

https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack.go#L265

This is u

[2016-08-29 15:03] oba11 commented on #29627
For my issue, https://github.com/kubernetes/kubernetes/pull/28428 fixes it but need to wait till v1.4

[2016-08-29 15:08] gmarek commented on #31341
The last failure is legitimate. The `util.go` file changed since the run, so for easier lookup - the expect that failed is caused by the Expect in
[code]

Current assumption is that something overwrites PodStatus after Scheduler sets up ScheduledCondition (i.e. we have a conflict during first update, and then retry it without applying changes that were made to the PodStatus at that time). This is

[2016-08-29 15:21] zhouhaibing089 commented on #31524
Firstly, I believe it is true that the webhook backend would be running on kube, but it looks like a little bit strange that the webhook backend is able to gather secrets ahead of time.

Secondly, when looking at this problem again, I feel it is not about how kube transfer the secrets(true secrets or short lived token) to the webhook backend, instead it is about how user would grant the webhook ba

[2016-08-29 15:25] zhouhaibing089 commented on #31524
As far as I know, at least, it is true for [Quay](quay.io), that the image scanning service itself does not have an api, it just do the scanning, and post scanning status to the registry, so it is hard to say integrating the webhook with the image scanning service.

But yeah, that reminds me of the ability to access all the images, the Clair itself gains a private key from registry, and then, it i

[2016-08-29 15:27] zhouhaibing089 commented on #31524
I did not follow this clearly. does OP mean a name of some one?

[2016-08-29 15:32] ecordell commented on #31524
The image scanning service has an api and is [open source](https://github.com/coreos/clair) as well.

OP = Original Poster, in this case me.

[2016-08-29 15:34] quinton-hoole commented on #28812
@madhusudancs Just confirming that we can get this in by tomorrow as previously discussed. It's pretty critical for usability.

[2016-08-29 15:37] quinton-hoole commented on #30790
@madhusudancs I've changed the milestone accordingly.

[2016-08-29 15:45] kfox1111 commented on #16779
+1 to making it default off. I've only got maybe 2 or 3 pods that need service accounts. It is great that service accounts are a thing. One of my big criticisms of OpenStack's current auth implementation is it lacks them. They are critical when needed. But most of the time they aren't needed. So for increased security, they should be able to be enabled only when needed at a container level.

[2016-08-29 15:45] zhouhaibing089 commented on #31524
K, thanks, looks like I need to do some more study there.. I saw there is an endpoint at registry side to retrieve scanning result, but forget to check about the Clair api..

[2016-08-29 15:46] pwittrock commented on #31267
@k8scn Sure.  Have you read this doc yet?

https://github.com/kubernetes/community/wiki/WIP:-Contributor-Guide:-kubectl-new-contributor-onboarding-guide

@AdoHe Would you be able to help @k82cn get started contributing?

[2016-08-29 15:47] pwittrock commented on #31267
@k82cn You can reach either @AdoHe or @pwittrock in the kubernetes slack by mentioning us

[2016-08-29 15:52] quinton-hoole commented on #29339
@mwielgus Where do we stand on this one?  As far as I can see we have e2e tests for API-level CRUD of FederatedReplicasets, but the tests do not confirm that the underlying replicasets get created correctly, or that the number of replicas in each cluster makes sense.  We should also run the non-federated e2e tests against the federation (as far as is possible) to help to ensure API compatibility.

[2016-08-29 15:54] quinton-hoole commented on #29337
Same comment as https://github.com/kubernetes/kubernetes/issues/29339#issuecomment-243165769 applies.  Need e2e test to confirm that underlying secrets are always created correctly in underlying clusters.

[2016-08-29 15:57] quinton-hoole commented on #29336
We still need to extend the existing e2e tests to check that the namespaces are correctly CRUD in the underlying clusters.

[2016-08-29 16:01] tazjin commented on #30518
I think an Ingress controller is the best way to go about this, similar to the GCP L7 load balancers. Would probably be part of k8s/contrib rather than this repo.

[2016-08-29 16:04] quinton-hoole commented on #28335
This is purely a usability issue (it's confusing that the config doesn't work without the trailing dot).  It's a 1-line, very low risk change affecting only the federation service controller.

[2016-08-29 16:09] kapilt opened #31620 "make cloud providers feature sets configurable"
ie. i'm using aws, i want to use elb and ebs from the cloud provider, but not allow for route table manipulation, currently it seems that cloud providers are all or nothing, which is quite problematic when one of the features can't be used due to org policies.

[2016-08-29 16:44] roachmd commented on #23241
I've thus far failed at getting the ubuntu provider up.

I'm attempting to deploy to one node [ ai ] through vagrant.
https://github.com/roachmd/ubuntu-kubernetes-sandbox.

### What I get is this:
Deploying master and node on machine 10.10.103.250
make-ca-cert.sh                                                                                                                              100% 4136

[2016-08-29 16:45] smarterclayton opened #31621 "ImageID returned in pod status is deceptive"
Docker 1.10, when pulling an image by tag or digest, creates local data with the appropriate digest (sha256:1) but does not expose that to the end user.  Instead it creates a new synthetic manifest with a different digest (sha256:2) that references the same data.  Internally, it has access to the original digest for checking, but does not expose that to the API.  Node Status and Pod Status both re

[2016-08-29 16:45] smarterclayton commented on #31621
@ncdc

[2016-08-29 16:50] ncdc commented on #31621
@smarterclayton my NodeStatus has the correct sha256:1 values for images pulled by id, e.g. `docker.io/centos/ruby-23-centos7@sha256:0f097bcd89851ed9c5ac367327f0fb4c9d22574e8884d90a301c813b263832e7`

[2016-08-29 16:58] Q-Lee commented on #30446
Sorry, 1.4 feature work + oncall has kept me pretty busy. I'll take a look tomorrow.

[2016-08-29 17:00] #30463 closed

[2016-08-29 17:03] quinton-hoole opened #31624 "[k8s.io] Flake/perma-fail: Federation apiserver [Feature:Federation] Admission control should not be able to create resources if namespace does not exist"
@nikhiljindal One of these tests introduced in #31139 is ~perma-failing since 8/23.  Could you please take a look?

https://k8s-testgrid.appspot.com/google-gce#gce-federation

[2016-08-29 17:04] madhusudancs commented on #28812
@quinton-hoole I think so. PR #30744 is the only blocking PR as far as I remember.

[2016-08-29 17:04] jingxu97 commented on #30637
@sstarcher , could you please provide some details about your issue to help us debug? Which version of kubernetes are you are using? Any steps you could list to reproduce this issue? If you have the kubelet log files, could you also share with us? Thank you!

Jing

[2016-08-29 17:05] yujuhong commented on #31582
@mtaufen should be an easy fix...

[2016-08-29 17:06] girishkalele commented on #30175
A similar failure in the GCE serial tests was fixed by switching to Debian Node OS.
https://github.com/kubernetes/test-infra/pull/438

[2016-08-29 17:07] mikedanese commented on #11816
We've known about this issue. We have expanded the auth APIs significantly since #14700, and the fix for this should be coherent w.r.t. auth in other parts of the system. I agree that this is high priority but I don't see that happening in v1.4 since we are already deep in the freeze.

[2016-08-29 17:09] shashiranjan84 commented on #24286
ok thanks @chrislovecnm, I will give it a try.

[2016-08-29 17:09] jeffmendoza commented on #20949
This has been fixed for a while, please close
#22195

[2016-08-29 17:11] nikhiljindal commented on #29336
@mwielgus did that.

I think he is planning to add another test to verify that all resources in the namespace are deleted when the namespace is deleted.
Assigning to him to close this appropriately

[2016-08-29 17:13] euank commented on #29213
@pires Starting with the v1.4.0 release, if you want to use official releases with the kubelet wrapper, you can do that just by setting the `KUBELET_ACI` variable (ref](https://github.com/coreos/coreos-overlay/blob/0d7f1e8b257fde4aeaf5aeae509af9931be30a60/app-admin/kubelet-wrapper/files/kubelet-wrapper#L15)). The PR that allows it is #29591, so you can also build any release with that PR picked on

[2016-08-29 17:15] nikhiljindal commented on #29337
@kshafiee can you update us on the progress of this task as per our discussion in the last meeting?

[2016-08-29 17:18] dhawal55 commented on #30924
If you look at my role definition above, I have created `admin-access` as a clusterRole and have * access to nonResourceURLs. In the roleBinding, I add the default serviceAccount as a subject.

[2016-08-29 17:18] kargakis commented on #22368
Working on a proposal cc: @mfojtik

[2016-08-29 17:18] mikedanese commented on #30395
https://groups.google.com/forum/#!topic/kubernetes-dev/3BWd89rWqQ0

[2016-08-29 17:20] smarterclayton commented on #31621
When images are pulled by tag, the value is not set, so an admin cannot discover which images are actually in user in their cluster (even though the daemon knows that the image exists locally).

[2016-08-29 17:21] yujuhong commented on #30175
@girishkalele, it's a known issue that docker uses more memory on GCI, and that is being investigated. In this case, the gke build was using containervm (not gci). the problem is that docker v1.11 has a memory leak, and in the soak cluster, the leak will eventually become significant and fail the test. See #28124 for more details.

[2016-08-29 17:22] stevesloka commented on #12742
Could we add an interface to the secrets api. This would allows us to optionally implement an encryption backend to encrypt secrets before they are written to etcd. My thought would be much like the cloud provider implementation we could build one for Vault, or AWS KMS, etc.

For example, using the Transit Backend in Vault (https://www.vaultproject.io/docs/secrets/transit/), we could grab the secr

[2016-08-29 17:22] ncdc commented on #31621
True. See https://github.com/docker/distribution/issues/1662#issuecomment-213079540 for more details.

[2016-08-29 17:24] mattnenterprise commented on #30637
@jingxu97 Here is some more information

**Kubernetes**: v1.3.4

Currently we are mounting EFS like @Cocotton is mounting it.

What we see happen is that after a some time everything on our EFS volume gets deleted. If we create a file on that volume it gets deleted within seconds.

When we delete everything that uses the EFS volume, and we bring those things back the problem is gone. It does reapp

[2016-08-29 17:24] justinsb commented on #11816
Right, but we need at least a note in the docs for 1.4.  I hope we can do better, but I understand that we're late in the cycle so the risk might not be justifiable.

Also: What promises have we made by virtue of shipping ABAC/RBAC etc?  I'm not sure we _can_ say "ABAC doesn't prevent access", although it is only beta.

[2016-08-29 17:25] dchen1107 commented on #31428
We believe the root cause was identified: https://github.com/kubernetes/kubernetes/issues/30550#issuecomment-242232309 and @mtaufen's pr #31386 should fix the issue.

[2016-08-29 17:28] girishkalele commented on #30175
@yujuhong Thanks for the pointers - I will look at the other failures in the GKE soak e2e.

#28124 tracks the resource usage failures.

[2016-08-29 17:32] jingxu97 commented on #30637
@mattnenterprise , do you happen to have the kubelet log to share? Also did you notice outofmemory error like @Cocotton ? Thanks!

[2016-08-29 17:34] girishkalele commented on #28497
@zilman

Questions on your logs:

If I am reading the logs correctly (what is streamwatcher.go ?) pod 10.40.0.2 attempted an https connection to 10.16.0.1 and the connection timed out ? Is 10.16.0.1 the API master ?

The failure to forward UDP to upstream 172.20.0.2:53 should not be for a lookup of kubernetes.default - local K8s services will not need to be forwarded to upstream DNS ?

If single n

[2016-08-29 17:35] dchen1107 commented on #31428
My above comment shouldn't apply here since it is cluster e2e tests, not node e2e, which means we shouldn't run into the condition being fixed by https://github.com/kubernetes/kubernetes/pull/31386

[2016-08-29 17:36] richm commented on #24677
@sandys Thanks for the article - very interesting.  I would like to make some comments on it in context (i.e. in the blog comments) but there is no way to add comments?  Also, was there a part 2?  There doesn't seem to be one at https://coreos.com/blog/

[2016-08-29 17:38] deads2k commented on #30924
Yes, but you'll want a `ClusterRoleBinding`, not a `RoleBinding`.

[2016-08-29 17:41] dchen1107 commented on #28722
The flaky is never occur last 50 runs. I am closing it for now.

[2016-08-29 17:41] #28722 closed

[2016-08-29 17:43] vishh commented on #24677
@sandys

Kindly read through this entire issue before arriving at a conclusion!

[2016-08-29 17:49] dhawal55 commented on #30924
@deads2k Thank you for following this up. Yes, creating `ClusterRoleBinding` instead of `RoleBinding` gets it to work.

Any idea why it didn't work when created a `RoleBinding`? I have roleBindings for users (kind: User) and it works so i assumed it will work for ServiceAccounts as well.

[2016-08-29 17:50] damienjoldersma commented on #30495
I tried a variety of efforts at line 516, I think it is a poor way to describe where to make a fix. What worked for me was @ianjamez solution, thanks for providing context, as the line 516 seemed to be outside of that  build-kube-env function.

[2016-08-29 17:51] sandys commented on #24677
Hi vish
I did. And I believe that coreos engineers did a fabulous job of going into
the depth.  However, at no point did anyone mention a fundamental problem
with journald itself.
In fact,  there is no part 2 - but one that promises some fixes that coreos
did.

I will not attempt to advocate one approach over the other (though I prefer
building on top of existing building blocks) - but I believe t

[2016-08-29 17:53] mikedanese commented on #16779
There are two approaches to nullifying this access:

1. Don't add the namespace default service account to pods.
2. Don't give the namespace default service account authorization to the API.

Is one better than the other?

I'm afraid that we can't do 1 by default until the v2 api and 2 requires that the cluster is using ABAC (or other).

[2016-08-29 17:53] vishh opened #31626 "[k8s.io] Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster test failing"
This test is failing in the "kubernetes-soak-continuous-e2e-gke-gci" test suite often -
https://k8s-testgrid.appspot.com/google-soak#soak-continuous-e2e-gce-gci

[2016-08-29 17:53] vishh commented on #31626
cc @dchen1107

[2016-08-29 17:53] richm commented on #24677
@sandys "but one that promises some fixes that coreos did." Were any PRs/patches submitted to systemd-journal?

[2016-08-29 17:53] dchen1107 commented on #30548
The same test run on both cluster e2e and node e2e, why only node e2e failed here?

[2016-08-29 17:55] dchen1107 commented on #30550
Close this one via  #31386

[2016-08-29 17:55] zilman commented on #28497
@girishkalele

I'm guessing: https://github.com/kubernetes/kubernetes/blob/master/pkg/watch/streamwatcher.go, not fluent in the k8s codebase yet.

controller-manager, apiserver: ```--service-cluster-ip-range=10.16.0.0/12```
kubelet: ```--cluster-dns=10.16.0.10```
skydns-svc.yaml: ```clusterIP: 10.16.0.10```

10.40.0.2 <-- a kube_dns pod
10.16.0.1 <-- kubernetes.default
So this seems to make sense,

[2016-08-29 17:58] deads2k commented on #30924
Non-resource URLs don't have meaning inside of a namespace, since they are by-nature cluster-scoped.

Also, we've started tightening validation, so you shouldn't have one rule with both resource and nonresource parts.

[2016-08-29 18:05] deads2k commented on #16779
I prefer option 1 because it doesn't rely on the API server having bug free authn/authz layers. A project-editor (someone who can create pods in a namespace) can avoid mounting the API token at all, so that even if their pod gets compromised, the pod doesn't have a valid API token that could be used to execute an attack on the API server and perhaps mutate other resources in the namespace.

[2016-08-29 18:05] dcowden commented on #24677
@sandys as we have worked more and more with containers, I've become more and more aware that the journalD question is less relevant than I thought at first.  I'm learning the hard way as we roll out container tech that the most basic, most flexible ways win.

In this case, file-system based logs are the winner.  They are the most flexible, and the most widely supported. journalD can certainly be

[2016-08-29 18:05] deads2k commented on #16779
I guess I should clarify.  I like being able to not mount an SA token.  I have no issue with still assigning an SA for things like an image pull secret for use by the kubelet.

[2016-08-29 18:09] mattnenterprise commented on #30637
@sstarcher Might be able to get the logs.

IDK if we got an OOM error. I will need to look into it further to figure that out.

[2016-08-29 18:11] sstarcher commented on #30637
@jingxu97 looks like the kubelet logs have already been dropped.  We only have logs for the docker containers, but not anything that was running on the host OS.

[2016-08-29 18:17] dcowden commented on #30709
@tmrts I would love to see the proposal when you have it.  We are rolling out a new Kubernetes based system.  I want to do things as consistently as possible with the 'new way' as we roll out, to minimize change later.

Right now, we are writing logs to manually configured log volumes with the idea that k8s will eventually provide a log volume that's a drop-in substitute.

[2016-08-29 18:20] sandys commented on #24677
@richard - not sure whether Coreos journald fixes were submitted upstream.
But here are some fixes - https://github.com/coreos/bugs/issues/322

hi Dave
thanks for replying.
I wholeheartedly agree that this applies only to journald based systems -
but then choosing file based logs are also an opinionated way for those of
us who have *chosen* journald based systems.
I am not asking you to enforce it

[2016-08-29 18:23] wojtek-t commented on #31341
@gmarek - cool; what about the previous two failure? Did you have time to look into them?

[2016-08-29 18:24] kfox1111 commented on #16779
I prefer option 1 as well. If we can't default it off in v1, that's ok. we can default it on and make it an option to configure it off. once we get to v2, we can flip it around and make it default off and require you to turn it on.

[2016-08-29 18:24] wrs commented on #27538
A workaround for this seems to be to re-issue the `complete` commands from `completion.zsh.inc` after doing the `source <(kubectl completion zsh)`:

[code]

[2016-08-29 18:26] liggitt commented on #11816
I question whether we'll want an unsecured read-only port on the kubelet once we have authn/authz available.

We should expand and make more prominent the doc about running a kubelet securely (http://kubernetes.io/docs/admin/master-node-communication/#master---cluster). In addition to the SSH tunneling info in that page, it sounds like there are also requirements to use firewall settings to isolat

[2016-08-29 18:30] colhom commented on #23653
@quinton-hoole I'm now officially back from vacation- and yes and yes!

[2016-08-29 18:32] girishkalele commented on #28497
The DHCP domain-name option would probably make its way into the node's underlying resolv.conf that would be used for upstream resolution. Can you check the /etc/resolv.conf in the VMs ?

Also, the log line `10.40.0.2:53468->10.16.0.1:443` would mean that DNS lookup for kubernetes.local finished correctly, and the IP 10.16.0.1 was resolved but the TCP connection timed out.

[2016-08-29 18:34] saad-ali commented on #29166
@mikaelh You may be running into issue #29358. A complete fix for that issue is in v1.3.6 (which will be on GKE shortly). In the meantime, feel free to email me the details of your GKE cluster (project name/cluster name/zone) and I can help you get unblocked.

[2016-08-29 18:35] dcowden commented on #24677
@sandys I understand, and you are right, support of both would be awesome. Not sure if that's in the cards, its more work to do that.

FWIW, I started this post advocating jounald, and in fact started out using it.  I lost all hope when I tried to get data from journald into splunk, which of course many people will face . The answer from splunk?  "run journal-ctl to dump the journal to a file, the

[2016-08-29 18:36] nikhiljindal commented on #31624
Not sure why the UI shows that test as failing, but looking at the logs, that test is passing, its the cluster down process that is failing:

From logs:
[code]

Error in cluster down:
[code]

[2016-08-29 18:38] nikhiljindal commented on #31624
cc @ixdy @kubernetes/test-infra-maintainers Are other tests seeing a similar resource leakage error? The script to bring down the cluster is same for all (nothing special for federation).

[2016-08-29 18:42] fejta commented on #31624
No, other jobs are not leaking.

You can check this by looking at the other tabs in the testgrid link Qutinton provided: https://k8s-testgrid.appspot.com/google-gce#gce

[2016-08-29 18:42] againer commented on #30936
Sorry for the delay on the changes; been slammed.  I will make the changes soon.

[2016-08-29 18:46] jingxu97 commented on #30637
@sstarcher , it looks like the issue may reappear in your testing. If this happens again, could you please save the log and share with us? Thanks!

[2016-08-29 18:50] saad-ali commented on #30637
Ditto. This appears to be the orphaned pod loop acting up. But, correction, the fix is in v1.3.6 (not v1.3.5).

Could you both try [v1.3.6](https://github.com/kubernetes/kubernetes/releases/tag/v1.3.6) and let us know if you experience the issues on that version.

[2016-08-29 18:50] richm commented on #24677
@sandys Thanks for the link

@dcowden

That is shocking - that splunk has no way to get data from journald.  Both fluentd (0.12.recent) and rsyslog (v7) have support for reading from journald.  In fact, the default deployment of journald/rsyslog on RHEL7 uses rsyslog to read from journald to write to /var/log/messages.

[2016-08-29 18:51] madhusudancs commented on #31624
@quinton-hoole @nikhiljindal These are the resources leaked by federation. My (narrowed down) suspicion at the moment are either federation-apiserver service or the resources created by federated-services e2e tests which we don't clean up correctly. I will continue to investigate it further.

[2016-08-29 18:56] chancez commented on #24677
Journald has native facilities for sending the logs over TCP with journal-remote-upload, and it can even be sent directly to fluentd with a TCP listener. I'm sure you could have done something similar with splunk, avoiding an intermediary file. There's always varying levels of answers on logging, depending on who you ask, and it really depends on someones knowledge level of the tool.

[2016-08-29 18:57] #31610 closed

[2016-08-29 19:02] Random-Liu commented on #31582
@yujuhong There is a pending fix already https://github.com/kubernetes/kubernetes/pull/31555, hope it could be in soon. :)

[2016-08-29 19:03] dchen1107 commented on #31448
cc/ @pwittrock

[2016-08-29 19:09] sandys commented on #24677
https://bugs.freedesktop.org/show_bug.cgi?id=89103

the journald devs are willing to merge a patch that links the *native* json formatting that already exists in journald to systemd-journal-upload

[2016-08-29 19:15] gmarek commented on #31341
I didn't have time today. I'll look into them tomorrow.

[2016-08-29 19:35] ash2k commented on #29453
@nebril, @pigmej I guess it depends on the use case. In my case it will not be common to share resources between graphs. Also, it may be possible to have an "external resource" resource type to include pre-existing resources into a graph.

I mean if I create a new resource type using [Third Party Resource](https://github.com/kubernetes/kubernetes/blob/master/docs/design/extending-api.md) then I wa

[2016-08-29 19:35] bprashanth opened #31630 "Don't allocate subnet broadcast address"
I have a container that got the broadcast address of podCIDR subnet.
My CNI conf is:
[code]

And the container in question has `10.180.2.255/24` which is the broadcast address for the subnet. So it can't figure out the MAC of cbr0 because all frames are getting sent to `ff:ff:ff:ff:ff:ff` (or at least, that's what `arp -n` seems to indicate).

Eg: tcpdump alonside a wget on google.com
[code]

vs a

[2016-08-29 19:37] nikhiljindal commented on #31624
@madhusudancs pointed me to the diff in artifacts. We are leaking the resources corresponding to the LBs we are creating.

[code]

[2016-08-29 19:46] yujuhong commented on #30548
We should check if the test only fails on a specific OS distro.

[2016-08-29 19:48] thockin opened #31631 "kube-proxy should batch updates"
I created 1000 Services with no endpoints (same selector).  Then I created a single pod that matched them all.  Kube-proxy took upwards of 30 seconds to update all the chains because it was doing a full save/process/restore cycle for each service.  It could instead batch up changes and sync after 2 seconds of accumulation, or something.

[2016-08-29 19:48] thockin commented on #31631
@kubernetes/sig-network

[2016-08-29 19:52] montanaflynn commented on #29524
@MHBauer there isn't a kubernetes error that is shown, the issue is that the output JSON that kubernetes generates is actually invalid JSON due to the comments at the top. This caused errors when I was trying to unmarshal that JSON in another project.

[2016-08-29 19:52] smarterclayton commented on #12742
It should be possible to wrap the current storage interface to provide this
behavior (pkg/storage contains those interfaces).  There are a few
decorator patterns being used there.

On Mon, Aug 29, 2016 at 1:22 PM, Steve Sloka <notifications@github.com>
wrote:

[2016-08-29 19:54] vishh commented on #30567
The test pod gets deleted by the test upon failure and so there is not enough information about the state of the test pod. I'm changing the test to not delete the pod and instead let the namespace deletion logic in the test framework handle deletions.
I'm also increasing the pod lifetime from `10 minutes` to a longer duration to avoid any possible race conditions in the test. The test will also re

[2016-08-29 20:06] fejta opened #31633 "Failure Finished Host tmp-node-e2e-b6d45b2a-coreos-alpha-1122-0-0-v20160727 Test Suite"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30321/node-pull-build-e2e-test/21737/

[code]

Super unclear what happened here...

[2016-08-29 20:21] erictune commented on #31524
That is one possible way to gain access to images, and it was added early in the project before we had thought a lot about image policy.

I think today, many if not most clusters are built with the following assumptions:

1. images do not contain secrets, Kubernetes secrets and configmaps do this.
2. everyone who creates pods on the cluster is trusted enough to have read access to the image reposi

[2016-08-29 20:21] krousey commented on #28415
Closing as it hasn't re-occurred.

[2016-08-29 20:21] #28415 closed

[2016-08-29 20:21] mtaufen commented on #31428
@mikedanese can you take a look at this? Possibly related to the following?
[code]

[2016-08-29 20:22] freehan commented on #31630
Looks like a bug in `host-local` ipam. Will try to put together a fix.

[2016-08-29 20:26] jberkus commented on #30716
... choice of templating syntax still seems like the least important thing about this discussion.  Especially since we might not do templates at all.

[2016-08-29 20:29] timstclair commented on #31633
cc @Random-Liu

[2016-08-29 20:33] k8s-merge-robot opened #31635 "[k8s.io] ResourceQuota should verify ResourceQuota with best effort scope. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/14338/

Failed: [k8s.io] ResourceQuota should verify ResourceQuota with best effort scope. {Kubernetes e2e suite}

[code]

[2016-08-29 20:34] dcowden commented on #24677
Interesting! How would k8s inject container metadata in that scheme?

[2016-08-29 20:38] dchen1107 commented on #29449
xref: #31448

[2016-08-29 20:38] fabianofranz commented on #27454
@wu8685 thanks!

[2016-08-29 20:40] dchen1107 commented on #31592
xref: #31448

[2016-08-29 20:41] derekwaynecarr commented on #29308
Opened a PR to improve e2e framework ns deletion to avoid duplicate ns delete operations, and to give more detailed information on what content did not actually get deleted.

[2016-08-29 20:42] smarterclayton commented on #31621
The use case we hit this on was an administrative tool that wanted to understand what images were actually in use in the cluster to consult a blacklist.  The current value is not useful - admins can't blacklist content without loading it on a docker daemon, and it's not guaranteed that the digest on a particular daemon for a tag is identical across versions of docker.

[2016-08-29 20:42] dchen1107 commented on #31591
xref: #31448

[2016-08-29 20:45] erictune commented on #30629
@foxish did you say you looked at a rate limiting issue recently?  Does it relate to this issue?

[2016-08-29 20:49] erictune commented on #30833
Does this help at all with #30629

[2016-08-29 20:50] foxish commented on #30629
@erictune I did fix for petsets, and a bug which affects the rate-limiting work-queue implementation. They're all related in that I think the effort now is just switching the other controllers to use the same work-queue implementation with back-off.

[2016-08-29 20:50] krousey commented on #31503
See #28124 for the runtime memory issues. Also this may coincide with a lot of the failures on the gke suite: https://github.com/kubernetes/kubernetes/issues/30175

[2016-08-29 20:52] girishkalele commented on #30175
The bot did not file an issue for this specific failure amongst all the other failures.

Failed: [k8s.io] ReplicationController should serve a basic image on each replica with a private image {Kubernetes e2e suite}

[2016-08-29 20:58] janetkuo commented on #30833
#30629 helps this -- we now use rate limiting queue (implements `workqueue.RateLimitingInterface`) in deployment controller

[2016-08-29 21:03] jlowdermilk commented on #31591
@rmmh do you know why I got auto-assigned this. I think the owner should be the same as for the other HPA test, since the only diff is one uses deployment, the other replicationcontroller (#30571)

[2016-08-29 21:06] kelcecil commented on #30637
@saad-ali I'm with @sstarcher's and @mattnenterprise's group. We've upgraded to v1.3.6 and have redeployed our code to see if the problem arises again. We'll report back our findings in a few days either way.

[2016-08-29 21:08] abrarshivani commented on #30254
@sputnik13 It is expected to give datastore in volume path. Datastore in cloud.conf is used to store vmdks which are created dynamically by dynamic provisioning feature of Kubernetes.

[2016-08-29 21:12] thockin commented on #31337
I don't think the solution can come from within Kubernetes - it is too
specific to the exact installation.

On Mon, Aug 29, 2016 at 4:44 AM, Christoph Held <notifications@github.com>
wrote:

[2016-08-29 21:25] dchen1107 commented on #31633
There is no test failed in this run. Is this blocking any pr merge?

[2016-08-29 21:30] mikedanese commented on #31428
cc @freehan ^^^

I think there are a couple causes for that particular node condition.

[2016-08-29 21:34] kargakis commented on #30688
See https://github.com/kubernetes/kubernetes/issues/30629

[2016-08-29 21:34] Random-Liu commented on #31633
[code]
This should be the reason. The ssh connect is reset by some reason.

[2016-08-29 21:39] fejta commented on #31633
I think this is the main cause of https://github.com/kubernetes/kubernetes/issues/31439

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/8802/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/8768/

[2016-08-29 21:39] bprashanth commented on #25277
Not seen much image pulling flake lately, closing

[2016-08-29 21:39] #25277 closed

[2016-08-29 21:40] spxtr commented on #31560
This looks like a flake in `CreateGCECloud` which is a real bother. We call it 25 times in parallel and in one of the failing cases 3/25 failed. It doesn't seem like it's a problem on our end, though, unless we're calling some non-concurrency-safe function.

[2016-08-29 21:41] fejta commented on #31439
Closing as a dup of https://github.com/kubernetes/kubernetes/issues/31633

[2016-08-29 21:41] #31439 closed

[2016-08-29 21:42] vishh commented on #26685
@beeps It might make sense to disable serializing completely given that we have the Node Problem Detector now.

[2016-08-29 21:44] pigmej commented on #29453
This is supported ootb in AppController. You just define dependency with it.

Orchestration of 3rd party resources is not possible now, because all orchestrated types has to have  defined checks in Go code. But we may change that in near future (that's why we want to validate current approach and take required steps to make it better).

[2016-08-29 21:45] ericchiang commented on #29933
@erictune is there a better person to assign this to? Perhaps a team to cc? I don't have an experience with the GKE OAuth code.

[2016-08-29 21:46] ghodss commented on #26202
Personally I think we need to improve apply so any time you delete a field, apply regenerates the defaults for that field. Only if you explicitly set the field to `null` should the field be set to a zero or nil value. In other words, keep the same behavior as creation time.

[2016-08-29 21:47] Random-Liu commented on #31633
One observation is that all these test failures are on coreos `tmp-node-e2e-498cbc0e-coreos-alpha-1122-0-0-v20160727`.

[2016-08-29 21:48] matchstick commented on #27324
@dchen1107 @madhusudancs suspects this is a node issue, can you PTAL

[2016-08-29 21:49] dchen1107 commented on #31633
Looks like all failure are due to lost the connect to coreos host during the tests:

Connection to 104.197.17.25 closed by remote host.
, command [scp -i /home/jenkins/.ssh/google_compute_engine -o UserKnownHostsFile=/dev/null -o IdentitiesOnly=yes -o CheckHostIP=no -o StrictHostKeyChecking=no -o ServerAliveInterval=30 -o LogLevel=ERROR -r 104.197.17.25:/tmp/gcloud-e2e-1986596147/results/ /var/lib

[2016-08-29 21:49] matchstick commented on #28615
@madhusudancs I am removing the label as per @pwittrock's instruction. Here @madhusudancs is going to keep debugging this issue.

[2016-08-29 21:50] vishh commented on #30607
This test hasn't failed in the last 11 days. I'm lowering the priority to P2 before I triage it further.

[2016-08-29 21:53] euank commented on #31633
Possible theory: when I updated to the current way of launching coreos nodes, I just mask the update units, not explicitly stop them. That might not always be sufficient. I'll verify now whether that's where it is (my bad if so).

[2016-08-29 21:54] caesarxuchao commented on #31066
Thanks, @kevin-wangzefeng! But there are two variations of the flake here. Will the retry fix this variation: #31066 (comment)? Do you have a theory why the taint is missing?

[2016-08-29 21:56] matchstick commented on #30527
@dchen1107 It looks like this is failing in E2ENode Suite tests. For now Assigning to you for triage in the node team.

[2016-08-29 21:57] matchstick commented on #30878
@dchen1107 Sending this to the node team to triage as it is failing in E2ENode Suite.

[2016-08-29 21:58] gmarek commented on #27295
It's long time since it happened. Reopen if it happens again.

[2016-08-29 21:58] #27295 closed

[2016-08-29 22:02] ixdy commented on #31492
Two more slow `git checkout`s, one failed download of etcd:
[code]

I'm not sure what to do here.

[2016-08-29 22:02] dchen1107 commented on #30862
Here is the current status:

1) The initial cause of all failures are caused by memory_eviction tests which is tracked through https://github.com/kubernetes/kubernetes/issues/30550#issuecomment-242232309.
2) We also moved all node benchmark related tests to a separate jenkins job. Close this as stale.

[2016-08-29 22:02] #30862 closed

[2016-08-29 22:06] MHBauer commented on #29524
Okay. Got it. The editor is being very strict about json having no comments.

[2016-08-29 22:08] philips commented on #29453
I am going to echo what @smarterclayton said. I think this functionality can live nicely outside of kubernetes as an external controller. Since the POC proves that case can we close this issue out @pigmej?

[2016-08-29 22:09] caesarxuchao commented on #26838
The recent flake reports are not about namespace deletion. I'll close this one and let the bot create new issue.

[2016-08-29 22:09] #26838 closed

[2016-08-29 22:12] ghodss commented on #30395
In regards to addressing #10693 and #9298:

* It looks like this would allow you to have two kubeconfig files that could be merged without worrying about ordering or precedence as long as the names of the ClusterInfo and AuthInfo objects differ. That would satisfy the concerns of #10693 and enable #9298. Is that correct?
* It looks like both Preferences and CurrentContext have been pulled out of a

[2016-08-29 22:12] kanebryant opened #31643 "Cannot access webapp inside kubernetes deployment"
This might be a config issue but I have trawled through the documentation and its not very clear.

When I add my docker container to kubernetes as a container you can edit it to expose a public to private port mapping and the app works great.

However when I deploy the same docker image as a kubernetes deployment using a yaml deployment file, everything deploys fine and starts up but I am unable t

[2016-08-29 22:15] euank commented on #31633
Theory confirmed (note the masked + active):

[code]
PR coming in a second... Mea culpa

[2016-08-29 22:19] janetkuo commented on #28496
The SJ doc should be merged into release-1.4 branch instead of master, so I created another PR https://github.com/kubernetes/kubernetes.github.io/pull/1123

[2016-08-29 22:20] pigmej commented on #29453
@philips https://github.com/kubernetes/features/issues/42 we're targeting 1.5 core with AC. We initially wanted to do it as external component, but being part of core would allow us to do more stuff, to be integrated more tightly with K8S.

Plan for now is:
- validate approach (to spot weak points etc)
- make proper design/proposal aiming core
- refactor/code again some parts.

What do you think a

[2016-08-29 22:22] jingxu97 commented on #30637
Hi, Just did a little experiment to confirm our theory. When kubelet clean up orphaned pod, it uses os.removeAll() to delete the pod directory. Even if at the time the directory is still mounted and the mounted directory cannot be deleted, but all the contents of the volume directory (including directorates) will be deleted.

[2016-08-29 22:22] MHBauer commented on #26210
https://github.com/kubernetes/kubernetes/issues/26210#issuecomment-241010219 looks like one of those times where the VM just decides to pause and hang for ten seconds. Can't do anything about that besides retry.

[2016-08-29 22:23] spxtr commented on #31492
Why don't we bake etcd into the kube-test image?

We can also experiment with keeping a mirror of the repository in a kubernetes deployment in our Jenkins projects. It's actually pretty easy to do.

[2016-08-29 22:27] kiall commented on #29745
It's actually worse than just having the no access from the default group, depending on the LBaaS driver in use, you will get totally different behaviors. e.g. with:

1) LBaaS v2 and haproxy provider

The load balancer port will be assigned to the projects default security group (as described in the original ticket)

2) LBaaS V2 and the octavia provider

The load balancer port will be assigned to

[2016-08-29 22:28] freehan commented on #28827
dup of #29308

[2016-08-29 22:28] #28827 closed

[2016-08-29 22:30] sjenning opened #31646 "Rework cloud providers to lookup by instanceID not nodeName"
I've been looking into how to handle a issue surrounding the Openstack provider code assuming that the node name is equal to the instance name.  It seems like much of the cloud providers use searches by name in `ExternalID()` (deprecated) and `InstanceID()` to convert the node name to a cloud instanceID.

Currently, afaict, these are only used in a few places:
- Load balancer attach (provider inte

[2016-08-29 22:30] philips commented on #29453
@pigmej I really don't want to add more stuff to Core. We added scheduled jobs in v1.4, which I really think doesn't require core either. What would you need out of third party resources to not add this to core?

[2016-08-29 22:31] girishkalele commented on #30175
We need logs from the server inside the pod - the build logs just print `an error on the server has prevented the request from succeeding`. kubelet/docker logs indicate the pod/container started up fine.

Failed: [k8s.io] ReplicationController should serve a basic image on each replica with a private image {Kubernetes e2e suite}

`ServeImageOrFail(f, "private", "b.gcr.io/k8s_authenticated_test/ser

[2016-08-29 22:34] dchen1107 commented on #27272
Close the issue since the test hasn't failed for last two months.

[2016-08-29 22:34] #27272 closed

[2016-08-29 22:42] yujuhong commented on #30978
#30550 has already been fixed. Closing.

[2016-08-29 22:42] #30978 closed

[2016-08-29 22:43] erictune commented on #29933
This has not happened again in 26 days, so I am going to chalk it up to transient infra error.

[2016-08-29 22:43] #29933 closed

[2016-08-29 22:45] saad-ali commented on #30637
Awesome, thanks @kelcecil.

[2016-08-29 22:49] yujuhong opened #31648 "Node e2e: surface the image (OS distro) used in the failed tests more clearly"
The biggest complaint I have so far when triaging node e2e test failures is that it's hard to figure out which image the failed test ran on.

Some suggestions off the top of my head:
- Quick fix: separate different images by printing clear, big "BEGINNING" and "END" lines.
- Upload individual build log for each image to the google cloud storage bucket (artifacts/), and only the links to the logs i

[2016-08-29 22:50] yujuhong commented on #31648
It'd be even better if we have per-OS test flake dashboard to easily identify OS-specific flakes.

[2016-08-29 22:51] saad-ali commented on #28709
@ceefour Thanks for providing logs. `Unable to mount volumes for pod... timeout expired waiting for volumes to attach/mount... list of unattached/unmounted volumes...` is a catch-all for all types of volume failure errors. In your case it looks like the volume failed to attach (`...is not yet attached according to node status`). You may be running into issue #29358. A fix for that issue is in v1.3

[2016-08-29 22:55] fejta commented on #30754
No hits of this for two weeks... I suspect this was a ram issue that we resolved. Please reactivate if it is seen again...

[2016-08-29 22:58] girishkalele opened #31649 "Service behaviour not correct when ESIPP annotation is toggled or deleted"
If a service is created with the ESIPP annotation `service.alpha.kubernetes.io/external-traffic` set to `OnlyLocal` and then the annotation is changed or deleted, the service behaviour does not change correctly.
Also, when the annotation is added to a running service.

It should reflect the current state in the iptables rules correctly, and cleanup the -XLB- rules and chains, if needed.

[2016-08-29 22:58] jimmycuadra commented on #29213
@euank Can you clarify what would be lost by using the official hyperkube instead of the one packaged by CoreOS? Aren't there CoreOS-specific fixes that would be missing by using the official hyperkube?

[2016-08-29 22:59] bprashanth commented on #26490
rewrite/debug ongoing: https://github.com/kubernetes/kubernetes/pull/31559

[2016-08-29 22:59] quinton-hoole opened #31650 "Ingress: Support downtimeless LoadBalancer UID changes in Google Load Balancer Controller"
Capturing a design discussion that @bprashanth and I just had, so that it doesn't get lost:

Summary:
===========
Currently, changing the GCE L7 Load Balancer fronting the Ingresses in a cluster involves a cluster outage for ~10 minutes, and the manual deletion and recreation of all Ingresses in the cluster.  This causes problems for Federated Ingress (where multiple clusters need to be updated to

[2016-08-29 23:00] girishkalele commented on #30175
New failure with ReplicaSets similar to previous failure with ReplicationControllers - there is some flakiness associated with the test docker container...need to fetch logs from container to find root cause of flakiness.

`Failed: [k8s.io] ReplicaSet should serve a basic image on each replica with a private image {Kubernetes e2e suite}`

[2016-08-29 23:03] quinton-hoole commented on #31650
Moved to https://github.com/kubernetes/contrib/issues/1656

[2016-08-29 23:03] #31650 closed

[2016-08-29 23:04] bprashanth commented on #26134
The last weeks failure seem to be because of some version of quota issues, and I think @mfanjie has a plan to tackle those. I'm demoting this from a p0 and adding Jesse as a co-owner.

[2016-08-29 23:20] euank commented on #31633
PR #31653 if any of you fine flake-hunters want to give a review.

[2016-08-29 23:20] erictune commented on #29177
Jordan's comment was so helpful I added it to documentation:

https://github.com/kubernetes/kubernetes.github.io/pull/1125

[2016-08-29 23:26] lavalamp commented on #3955
Kicking this out of the milestone since we're not planning on doing more at the moment.

[2016-08-29 23:26] lavalamp commented on #16508
Looks like this is not making 1.4 if those PRs are required.

[2016-08-29 23:27] lavalamp commented on #19054
Is there anything left to do here?

[2016-08-29 23:28] lavalamp commented on #23508
This seems to not be a burning issue at the moment. Punting.

[2016-08-29 23:30] lavalamp commented on #29904
Kicking this out of CSI team, not sure where it should go. If this is blocked on my cleanup, then it's definitely not making 1.5.

[2016-08-29 23:31] foxish commented on #27796
Tracking in https://github.com/kubernetes/pr-bot/pull/3

[2016-08-29 23:31] jingxu97 commented on #22640
Hi @bitchecker, sorry for the very late reply. From the description of the pod, the error is that some secret file could not be found, so the pod is stuck in ContainerCreating phase. According to your report, you think this is related to an unhealthy node? Do you expect that kubenetes should try out on other nodes if it fail to start on one node? Thanks!

[2016-08-29 23:32] quinton-hoole opened #31654 "Demote Federated Ingress API from v1beta1 to v1alpha1"
As per recent discussions.  See https://github.com/kubernetes/features/issues/82

cc @matchstick @thockin @kubernetes/sig-network FYI.

[2016-08-29 23:33] yujuhong commented on #30938
Since this only happens in the specific test environment, let's close this issue.

[2016-08-29 23:33] #30938 closed

[2016-08-29 23:34] lavalamp commented on #30541
@nikhiljindal is this done?

[2016-08-29 23:34] lavalamp commented on #30871
Is there anything left to do here?

[2016-08-29 23:35] lavalamp commented on #31077
Is this still an open issue?

[2016-08-29 23:42] bprashanth commented on #29514
going to take a look at disruptie e2e failures (https://github.com/kubernetes/kubernetes/issues/29514, https://github.com/kubernetes/kubernetes/issues/29449) right after I'm done with validating https://github.com/kubernetes/kubernetes/pull/31559

[2016-08-29 23:42] bprashanth commented on #29449
going to take a look at disruptie e2e failures (#29514, #29449) right after I'm done with validating #31559

[2016-08-29 23:44] saad-ali commented on #31511
Most cloud providers have [something like a `DiskIsAttached(...)`](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/gce/gce.go#L2510) check that PVC controller could use to poll/wait for disk to be detached before it triggers volume delete. Alternatively, you could require the cloud providers to return a specific error on disk delete if disk is already attached and

[2016-08-29 23:44] AdoHe commented on #31267
@pwittrock sure.
@k82cn my kubernetes slack id is adohe, ping me when you online.

[2016-08-29 23:46] bprashanth commented on #26685
last failure on June 20 was also an image pulling flake, but I haven't see  too many of those lately. Closing.

[2016-08-29 23:46] #26685 closed

[2016-08-29 23:49] yujuhong commented on #31215
A good starting point would be to collect `/var/log/startupscript.log` and see why this is failing.

[2016-08-29 23:49] bprashanth commented on #28277
Given that this is pods not being ready, it doesn't worry me from a networking standpoint. I am backseating it to the other disruptive failures I need to debug. Feel free to give it to anyone else, it's probably something like image pulling or a badly configured liveness probe.

[2016-08-29 23:53] yujuhong commented on #30878
@coufon, is the threshold in the test too aggressive or is this a regression?

[2016-08-29 23:54] erictune commented on #29177
@dhawal55 You should not need to delete pods, service account or secret when you make RBAC changes. The secret contains the toke. whose claims contain the username and the group name, but those should not change over time.  If there was a problem with the token, then you would get a 401, not a 403.

You can verify your token has the right username using a command like this:
[code]
You should see `

[2016-08-29 23:58] yujuhong commented on #31097
Dup of #29308

[2016-08-29 23:58] #31097 closed

[2016-08-29 23:59] yujuhong commented on #31043
The root cause was already fixed #30550

[2016-08-29 23:59] #31043 closed

[2016-08-30 00:00] liggitt commented on #29177
@dhawal55 can you provide details about the API request that is failing? Your example is creating a role binding in the kube-system namespace, which will only grant access to that namespace. If you want to grant the permissions in the referenced role cluster-wide, create a ClusterRoleBinding

[2016-08-30 00:00] yujuhong commented on #31041
The root cause for "pod ran to completion" was already fixed in #30550. Namespace deletion is covered by #29308

[2016-08-30 00:00] #31041 closed

[2016-08-30 00:00] yujuhong commented on #30965
This happened once 11 days ago. @coufon has this been fixed?

[2016-08-30 00:01] bprashanth opened #31656 "1 errors encountered.Running gubernator.sh"
Best I can tell this: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31541/node-pull-build-e2e-test/21735/

failed because
[code]

can we just ignore/retry gubernator.sh failures? unsure if this is just node-e2e or everything

[2016-08-30 00:02] jingxu97 commented on #31196
@edpin Thank you for reporting your issue. I will try to initiate some discussion about this problem.

[2016-08-30 00:02] euank commented on #29213
Yup, quite happy to clarify @jimmycuadra

The list of differences can be found in our release notes (or by diffing between repos if you like). For example, the current release's list of changes: https://github.com/coreos/kubernetes/releases/tag/v1.3.6%2Bcoreos.0

The one there that kubelet-wrapper makes use of which would result in it not working with an official image prior to v1.4.0 is the PR I

[2016-08-30 00:07] yujuhong commented on #30287
The test couldn't get the pod from the apiserver, but there is apiserver log available for the gke cluster.

[2016-08-30 00:08] zilman commented on #28497
@girishkalele, quite right.

nameserver 10.16.0.10
options ndots:5
<sub>/etc/resolv.conf on regular pod, I don't think the 'k8s' on the end impacts it, right?</sub>

I take back what I said about the single minion cluster, I just haven't tried it enough, it is reproducible no matter how many minions. If I repeat ```nslookup kubernetes.default.svc.cluster.local``` after responding instantly a few t

[2016-08-30 00:08] yujuhong commented on #30523
@coufon should we just bump the threshold or is this a regression?

[2016-08-30 00:08] apelisse commented on #30303
The one I looked at are fixed bugs. Let's see if they happen again.

[2016-08-30 00:09] jingxu97 commented on #25368
Surface better error messages issue is requested by several users such as #31196. Will try to work on it soon.

[2016-08-30 00:09] jimmycuadra commented on #29213
That's very helpful, thank you! Thinking about it again, IIRC the CoreOS version also has socat inside the image, where the official one doesn't. (Required for proxy/port forwarding.)

[2016-08-30 00:14] yujuhong commented on #30550
This is still happening. See #30527 for more failures.

[2016-08-30 00:17] #26270 closed

[2016-08-30 00:20] yujuhong commented on #30794
Kubelet failed to admit the pod in question:
[code]

We should check whether we need to set a smaller cpu request for the tests as our nodes are smaller than what's in the regular e2e cluster.

[2016-08-30 00:22] zilman commented on #28497
Aha! I figured it out! This is what the kubelet spews at exactly the same time I nslookup:

[code]

It seems these are all the kube_dns pods having their secrets (needlessly, I might add) refreshed, which appears to be a blocking operation somehow that's a surprisingly long time. As soon as it finishes the dns query returns!

#29059

[2016-08-30 00:24] jmhodges commented on #30617
Is there anyone I could talk to more about this? I'm willing to take the train down to Mountain View to figure this out.

[2016-08-30 00:27] yujuhong commented on #30794
Dup of #27668

[2016-08-30 00:27] #30794 closed

[2016-08-30 00:27] yujuhong commented on #27668
Kubelet failed to admit the pod in question:
[code]

We should check whether we need to set a smaller cpu request for the tests as our nodes are smaller than what's in the regular e2e cluster.

[2016-08-30 00:32] yujuhong commented on #31059
This is a dup of #29308

[2016-08-30 00:32] #31059 closed

[2016-08-30 00:33] yujuhong commented on #30867
This is caused by #30550

[2016-08-30 00:33] #30867 closed

[2016-08-30 00:34] k8s-merge-robot opened #31657 "[k8s.io] ScheduledJob should schedule multiple jobs concurrently {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/22466/

Failed: [k8s.io] ScheduledJob should schedule multiple jobs concurrently {Kubernetes e2e suite}

[code]

[2016-08-30 00:34] thockin commented on #28497
What version kubelet?

On Mon, Aug 29, 2016 at 5:23 PM, Eugene <notifications@github.com> wrote:

[2016-08-30 00:36] cjcullen commented on #30617
I think I found it. I'm guessing your Travis build is running on a GCE VM?

In your patch: jmhodges/howsmyssl@297b2b2, the
[code]
is still necessary to get gcloud & kubectl to use the configured service account. Otherwise, they will both use the VM's default service account, which likely was not configured with the `cloud-platform` scope.

[2016-08-30 00:38] foxish commented on #29149
It appears to fail with different reasons, and could be a bug with the api-server or the controller-manager.
Looks like we need the master logs for this and so far, it doesn't seem reproducible when running e2e tests on GCE.

[2016-08-30 00:42] yujuhong commented on #31579
[code]

kubelet failed to pull image for the pod because the image was not pre-pulled.
@Random-Liu, how do we deal with image prepulling for tests in `test/e2e/common`?

[2016-08-30 00:42] jmhodges commented on #30617
Ah, it had to go before the gcloud auth line, maybe? It wasn't working where it was. Trying that out!

[2016-08-30 00:44] dchen1107 commented on #31582
Finally #31555 was merge, and issue should be closed.

[2016-08-30 00:44] #31582 closed

[2016-08-30 00:45] zilman commented on #28497
Here, I even recorded [a video of it](https://youtu.be/-sj0xJ6nE5Q).
The performance varies but its really clear this is in sync.

[code]

[code]

[2016-08-30 00:47] yujuhong commented on #31236
This is #30550

[2016-08-30 00:47] #31236 closed

[2016-08-30 00:49] yujuhong commented on #31244
Dup of #29308

[2016-08-30 00:49] #31244 closed

[2016-08-30 00:55] anguslees commented on #31646
My approach with https://github.com/kubernetes/kubernetes/pull/31321 (awaiting review) is to pass nodes as full `Node` objects, rather than using names or IDs directly.  That way the provider code can just use the attributes it wants (including reading `NodeAddresses` directly, in the cases where we just want to go node -> address).  The instance ID (and addresses) are of course filled out locally

[2016-08-30 01:08] dchen1107 commented on #30878
There are two issues here, and both are known issues, not regression:

1) CPU/Memory usage: When we choose the limit for daemons, we don't have the enough sample to figure out the peak usage of the 95th%. Now we have more stats, @coufon will send pr shortly to increase the limit.
2)  High pod startup latency: The root cause is https://github.com/kubernetes/kubernetes/issues/31143 due to the qps li

[2016-08-30 01:09] Random-Liu commented on #31579
Will fix this.

[2016-08-30 01:10] yujuhong commented on #29259
Discussed with @Random-Liu offline. We can add retries to this test to see if it helps reducing the flake.

This is not high priority as the flake happens infrequently. @Random-Liu feel free to unassign yourself if you are not going to work on it anytime soon, and thanks!

[2016-08-30 01:13] mikedanese commented on #28687
Mostly fixed in https://github.com/kubernetes/kubernetes/pull/31647,

[2016-08-30 01:23] kevin-wangzefeng commented on #31066
@caesarxuchao Thanks for reminding that, I guess there is a mistake in the [describe #L2577-L2590](https://github.com/kubernetes/kubernetes/blob/72fbb5193b839af17d732631e932de8889850a16/pkg/kubectl/describe.go#L2577-L2590). I'm taking a look.

[2016-08-30 01:26] nikhiljindal commented on #31654
What is the work required here?

The path at which we expose ingress on federation apiserver should still remain `extensions/v1beta1` for users to be able to use their existing ingress YAML definitions with kubectl.
We can call it alpha in our documentation.

This is same as federation services being beta, but we expose them at `/v1` on federation-apiserver so that kubectl and other kube clients c

[2016-08-30 01:28] kevin-wangzefeng commented on #27655
fixed in #31578

[2016-08-30 01:28] #27655 closed

[2016-08-30 01:33] Huang-Wei opened #31663 "How to expose PetSet/Pet externally"
PetSet use a headless service to manage its second domain records. But the headless service cannot be exposed externally.

So in order to expose the `PetSet`, the way I could think of is to create another **Service** (via NodePort/LoadBalancer/etc.). Not sure if it's the best way. Any comments are appreciated.

Another concern in my mind is: what if I only want to expose specific `Pet(s)`? Suppose

[2016-08-30 01:36] jeffvance commented on #23886
Out of curiosity,
1) what is the reason for not adding a check that if the PV to be deleted is bound && its target claim is also bound (to target pv) then the pv delete fails (and possibly is retried later)? Maybe this opens the door for too many race conditions?
2) Similar logic for deleting a PVC ?
3) Is there a potential security issue if: the crashed pod is re-launched, and in the mean time a

[2016-08-30 01:40] dchen1107 commented on #30527
There are two types of issues here from last several builds:

1) memory_eviction_test.go failure: It should be addressed by https://github.com/kubernetes/kubernetes/pull/31555
2) Other test failures after memory eviction test, which is dupe of https://github.com/kubernetes/kubernetes/issues/30550. The one of root causes was identified at https://github.com/kubernetes/kubernetes/issues/30550#issuec

[2016-08-30 01:50] chowyu08 opened #31665 "dashboard https Unauthorized"
Dashboard version: 1.1
Kubernetes version: 1.3.6
Operating system: ubuntu14.04
Go version:1.6.2
Ideploy kubernetes and dashboard as http://kubernetes.io/docs/getting-started-guides/ubuntu/

I can access the dashboard http://master-ip:8080/
bur when I access https://master-ip:6443/ ,return "Unauthorized"
why?

[2016-08-30 01:55] coufon commented on #30965
The Cadvisor pod was not responding. This case seems to be rare. I will change the test to monitor Cadvsior connection and report disconnection.

[2016-08-30 01:56] Random-Liu commented on #31143
@huang195 @coufon is working on node performance benchmark, which includes a group of performance node e2e test and a performance dashboard analyzing resource usage and operation latency across different builds and details in a specific build.

We've already added a continuous running node performance test suite, and will start a node performance dashboard to analyze and publish the data.

The nod

[2016-08-30 02:05] sjenning commented on #31646
@anguslees oh great!  The best kind of work; the kind that is already done :grinning:  I'll review your PR.  I'll keep this issue open for now and close it when we are able to switch to using the ExternalID.

[2016-08-30 02:12] coufon commented on #30878
Another reason is that we create many pods and let namespace controller to delete them. Deletion timeout happens sometime. I will explicitly delete all pods at the end of test.

[2016-08-30 02:35] k8s-merge-robot opened #31667 "kubelet-gce-e2e-ci: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/8829/

Run so broken it didn't make JUnit output!

[2016-08-30 02:45] jbeda commented on #29453
I agree with @philips and @smarterclayton.  We need to hold the line on keeping core, well, core.  This should apply to all new features no matter where they come from. Adding new functionality to core should be very carefully considered and should take multiple release cycles.  It should be easier, faster and safer to implement new features outside of core.

If there are things that you need in c

[2016-08-30 02:50] coufon commented on #31143
1. what pods are you using that they take 60-110s to create and start up?
2. are you using a tool to collect the latency data and plot them or is that from some kind of dashboard?

@huang195 The answers are:
1. The pods just run pause image which does nothing;
2. The tool is node e2e density test (test/e2e_node/density_test.go) and kubelet tracing (not merged to main branch yet). The visualization

[2016-08-30 02:54] girishkalele commented on #28497
@zilman That is quite strange - you mean that during the mountVolume, the kube-dns binary doesn't respond to DNS queries ? I assume this is a docker api call,  I wonder if it sends a SIGSTOP to all container processes while performing mount/unmount operations. Can you watch the process flags in ps to see what state the kube-dns binary is in ?

[2016-08-30 02:57] xiang90 commented on #29453
@pigmej

Can you provide more details? What are the "more stuff"? I am working on an application controller outside Kubernetes too. So I want to understand it better. Thanks in advance.

[2016-08-30 03:38] kb1ca commented on #31310
It appears that under certain conditions the cbr0 interface is brought up but not immediately configured with the final subnet selection. Due to the order of operations this would always manifest with the highest numbered (ie. last to deploy) minion in the cluster.

The existing script would blindly push configuration for the default 172.18.0.0/16 subnet into the cluster, only for the cbr0 interfa

[2016-08-30 05:03] pmorie commented on #31272
Moving the discussion back to the issue.  In #31379 I added timeouts to some calls -- but doing that will leak goroutines in the event that a goroutine blocks due to this issue.  Talking through a couple permutations of solutions for this problem, it seems pretty clear that we need to go back to design on this issue to avoid doing harm.

So, with that said, let's clearly define the goals:

1.  Be

[2016-08-30 05:09] pmorie opened #31673 "Kubelet fails to annotate existing nodes that have controller attach-detach enabled"
When the controller-attach-detach refactor was done, code was added to the Kubelet to annotate the node in a way that the attach-detach controller recognizes as meaning that the controller should manage attach/detach for attachable PVs scheduled to that node.  However, this is only done **if the node does not already exist**.  If the node already exists, the API registration code will only delete

[2016-08-30 05:12] quinton-hoole opened #31674 "Fix Jenkins automated per-PR e2e tests for Federation"
https://github.com/kubernetes/test-infra/issues/470 filed against test-infra repo, but that is a somewhat forgotten repo, and we need to make sure that this does not get overlooked so duplicating here.

Without fixing this, it's difficult to run full e2e tests against submitted PR's before merging them, which makes it very easy to introduce regressions.

[2016-08-30 05:12] nikhiljindal commented on #31077
Yes. I was trying to debug server code, but after talking to @caesarxuchao today, it seems like its a client issue.

When sent a request using `federationClientset.Core().Namespaces().Delete(nsName, &api.DeleteOptions{})`, the body of the request that server receives contains:
[code]

I was expecting the APIVersion to be "v1", but it should atleast be "/__internal", "federation/__internal" seems w

[2016-08-30 05:19] bprashanth commented on #31663
you can use a loadbalancer like haporxy, see https://github.com/kubernetes/kubernetes/issues/28660#issuecomment-241547634, closing as a dupe of that issue

[2016-08-30 05:19] #31663 closed

[2016-08-30 05:24] xingzhou commented on #29876
@AdoHe, do we need some followup actions to fix this? or any suggestions on how we can handle multi-container pod status?

[2016-08-30 05:29] RsrchBoy commented on #14232
...aaaand still an issue.

[2016-08-30 05:31] brendandburns commented on #815
go 1.7 introduces context into the HTTP libs as well as the httptrace library, we should re-consider this in light of those additions.

https://golang.org/doc/go1.7#context

[2016-08-30 05:32] k8s-merge-robot opened #31676 "[k8s.io] MemoryEviction [Slow] [Serial] [Disruptive] when there is memory pressure should evict pods in the correct order (besteffort first, then burstable, then guaranteed) {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/489/

Failed: [k8s.io] MemoryEviction [Slow] [Serial] [Disruptive] when there is memory pressure should evict pods in the correct order (besteffort first, then burstable, then guaranteed) {E2eNode Suite}

[code]

Previous issues for this test: #31582

[2016-08-30 05:50] brendandburns commented on #4101
Closing this, since esp. with the new IP-Tables based proxy this isn't going to happen.

[2016-08-30 05:50] #4101 closed

[2016-08-30 05:52] brendandburns commented on #8267
I'm closing this as obsolete, there have been countless bugs fixed between this issue and present.

[2016-08-30 05:52] #8267 closed

[2016-08-30 06:05] #17301 closed

[2016-08-30 06:08] xavierholt commented on #30076
Seeing the same problem in Kubernetes 1.3.4 on CoreOS.  Does anyone have any idea on the cause / potential workarounds?

[code]

[2016-08-30 06:15] cheld commented on #31337
Ok, thanks for comments

[2016-08-30 06:15] #31337 closed

[2016-08-30 06:27] thockin commented on #28497
I can't fathom how volumes would cause this, but @pmorie can speak to
whether the volume code is doing something unplanned here...

On Mon, Aug 29, 2016 at 5:46 PM, Eugene <notifications@github.com> wrote:

[2016-08-30 06:27] ymqytw commented on #28694
@MHBauer Thanks for your input. I have create a job as discussed above. example/hello-world directory seems to be a place for this example.

[2016-08-30 06:31] wojtek-t commented on #31589
We should double check, but my hypothesis is that it may (similarly to our failures of kubemark-scale) be a consequence of overloaded Jenkins machine.

[2016-08-30 06:33] wojtek-t commented on #31105
There are three remaining things to do here:
- tweak limits for kubemark-5
- merge #31614
- add kubemark-scale to non-blocking suites of merge-queue

@gmarek can you please take care of the first one? I will take care of the other two.

[2016-08-30 06:58] wojtek-t commented on #31589
I checked the last failure and it's pretty obvious that the machine where the test is running is overloaded.
We are calling this code:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/scale.go#L164

Get() and Update() are the method visible in apiserver logs. And here are the logs (corresponding get and put operations for one of RCs):
[code]

[2016-08-30 07:04] xingzhou opened #31681 "Compilation error when try to build kubernets-mesos integration."
When I tried to use the following command to build kubernetes:
[code]
I encountered the following errors:
[code]

I'm using Ubuntu 14.04 and the code from master branch.

will submit a patch then to fix this problem.

[2016-08-30 07:07] gmarek commented on #27822
@pwittrock - IIUC this means we won't treat this flake as a blocker. Thanks!

[2016-08-30 07:08] #31633 closed

[2016-08-30 07:17] gmarek commented on #31589
FYI @fejta @ixdy

[2016-08-30 07:19] erictune commented on #31255
Sounds good!

[2016-08-30 07:39] asalkeld commented on #21062
If no one is working on this I can take it.

[2016-08-30 07:41] asalkeld commented on #25628
@krmayankk are you working on this, or can I take it?

[2016-08-30 07:58] jellonek commented on #29524
It's not only about editor, it's simply part of language specification.
Explanation for this: https://plus.google.com/+DouglasCrockfordEsq/posts/RK8qyGVaGSr
IMO if we want to use [JSON](http://json.org/) format, we should comply with it's standard.

Also currently used `#` sign for comments is unusual in javascript world, from which json evolved. In this world comments are marked in "C++ like" sty

[2016-08-30 08:00] lixiaobing10051267 commented on #31232
@dims @jellonek I tried again, the result is:

    root@ubuntu:/home/zte/share# version=$(etcd --version | head -n 1 | cut -d " " -f 3)
    root@ubuntu:/home/zte/share# $version
    3.0.6: command not found

[2016-08-30 08:07] lixiaobing10051267 commented on #31232
@jellonek I add the following to time of line 35 execution in hack/lib/etcd.sh

echo $PATH
which etcd
which head
which cut

the result is:

root@ubuntu:/home/zte/share/k8s-clone2/src/k8s.io/kubernetes/hack/lib# git commit
Checking that it builds... OK

Checking for files that need gofmt... OK

Checking for files that need boilerplate... OK

Checking for problems with flag names... OK

Checking for

[2016-08-30 08:10] sttts commented on #28881
Never happened for several weeks and looked like a false alarm. Closing.

[2016-08-30 08:10] #28881 closed

[2016-08-30 08:12] sttts commented on #30072
Duplicate of #28608.

[2016-08-30 08:12] #30072 closed

[2016-08-30 08:12] bryk commented on #26191
I'll take care of this after 1.4 release. This is P3 and very little flake, anyway.

[2016-08-30 08:22] jszczepkowski commented on #19144
The problem of autoscaling w/o info from all pods will be solved by #30471.

[2016-08-30 08:22] sttts commented on #26210
@MHBauer a paused VM is an infra problem of course. But this does apply to all ports, not only to port 80 which was the thing we didn't understand about this issue. So I think the paused VM is not the root cause for many other occurrences.

[2016-08-30 08:24] gcbirzan commented on #31222
We experience the same issue, but we removed the HTTP probes and moved to cmd ones, it still happened.

[2016-08-30 08:43] nebril commented on #29453
@xiang90 one example issue I can think of is lack of `describe` in kubectl for ThirdPartyResources, which causes the user experience to fall (he needs to extract the data about these definitions from json output). AppController could really benefit from having Dependency and Definition as part of the core API.

Other limitation imposed by usage of ThirdPartyResources is that they cannot be namespa

[2016-08-30 08:45] AdoHe commented on #21062
[code]

@asalkeld I think this is the root cause. Basically we should error on this not exist context. If you have extra bandwidth, please go ahead :)

[2016-08-30 08:46] wernight opened #31686 "Variable expansion in pod command, args, and env timeline"
Could you add an issue on https://github.com/kubernetes/kubernetes/blob/master/docs/design/expansion.md to have an idea of when it may be released?

Also wondering why not use the standard, also used by `docker-compose` of `${VAR}`?

[2016-08-30 08:52] jszczepkowski commented on #28900
The problem with failed removal of service seems to be caused by #31464

[2016-08-30 08:57] m1093782566 opened #31687 "[Pet Set] Fix useless copy"
There is a question asked by someone, [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/petset/pet_set.go#L225).

This issue is an effort tries to answer it.

1. [pods](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/petset/pet_set.go#L221) is an **array** of `*api.Pod` -`[]*api.Pod`

2. [result](https://github.com/kubernetes/kubernetes/blob/master/pkg/

[2016-08-30 09:09] dshulyak commented on #31009
On master filtering based on selector works as expected. Does it depend on apiVersion? I am using batch/v1

[2016-08-30 09:13] lixiaobing10051267 commented on #31232
run hack/update-swagger-spec.sh:

root@ubuntu:/home/zte/share/k8s-clone2/src/k8s.io/kubernetes# hack/update-swagger-spec.sh
Note: This assumes that the 'types_swagger_doc_generated.go' file has been
updated for all API group versions. If you are unsure, please run
hack/update-generated-swagger-docs.sh first.
Go version: go version go1.6.3 linux/amd64
+++ [0830 17:40:28] Building the toolchain targ

[2016-08-30 09:25] maciaszczykm commented on #31596
Okay, let's rephrase our proposed solution. We want to reflect `etcd` state on disk. It means, that when `etcd` doesn't contain metadata for given pod and `kubelet` is starting, it will try to unmount it. It could be done from `cleanupOrphanedPodDirs` method (we can unmount pods if there are problems with removing orphaned directories) or after checking if there are mounted pods (not existing in `

[2016-08-30 09:26] asalkeld opened #31691 ""KUBE_COVER=y make check" fails"
**Is this a request for help?**
No

**What keywords did you search in Kubernetes issues before filing this one?**
KUBE_COVER

**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug report

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4+", GitVersion:"v1.4.0-alpha.2.1926+956501b1f09237-dirty", GitCommit:"956501b1f0923786c404c062d8ba001a10b3a784", GitTree

[2016-08-30 09:50] AdoHe commented on #31009
@dshulyak I am afraid not, please see my old comment.

[2016-08-30 09:57] gmarek commented on #29820
Both those failures were caused by the "NodeProblemDetector" whis for some reason was not started quickly enough after the restart test. We need to make sure that it's running after each test, so I'm going to modify `AllNodesReady` function.

[2016-08-30 10:39] jsafrane commented on #25294
Not reproduced for three months, closing.

[2016-08-30 10:39] #25294 closed

[2016-08-30 10:45] #31587 closed

[2016-08-30 10:53] jsafrane opened #31694 "e2e flake: Failed to list images in project "google-containers" and zone %!q(*string=0xc8200e4750)"
Logs: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30825/node-pull-build-e2e-test/21451/

[code]

[2016-08-30 11:01] m1093782566 opened #31695 "[Pet Set] Refactor return value from []error to error"
I propose refactor return value from `[]error` to error [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/petset/pet_set.go#L80), for the purpose of simplify code and format error output.

I think we can use `errors.NewAggregate(errorList)` to aggregate `[]error`.

Thanks!

[2016-08-30 11:20] jsafrane commented on #28884
I went through all linked issues.

* #28013, #30066, #28013, #28440, #31201 #31188 - timeout/failure of many tests, seems to be resolved in 1.3.4

* failed test in #31113 - this looks interesting, however there are no controller-manager logs in the output. https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/31113/kubernetes-pull-build-test-e2e-gce/55198/

So, it happen

[2016-08-30 11:23] k8s-merge-robot opened #31697 "[k8s.io] Deployment lack of progress should be reported in the deployment status {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/19343/kubernetes-pull-build-test-e2e-gce/56564/

Failed: [k8s.io] Deployment lack of progress should be reported in the deployment status {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #19343.

[2016-08-30 11:25] kargakis commented on #31697
Hm, why the bot is opening issues about tests not in master? :)

[2016-08-30 11:25] kargakis commented on #31697
@kubernetes/test-infra-admins

[2016-08-30 11:44] jszczepkowski commented on #30571
Wrong scale decision may be caused by https://github.com/kubernetes/kubernetes/issues/30939

[2016-08-30 11:45] jszczepkowski commented on #30519
Wrong scale decision may be caused by https://github.com/kubernetes/kubernetes/issues/30939

[2016-08-30 12:07] dims commented on #31694
cc @vishh @Random-Liu (possibly triggered by https://github.com/kubernetes/kubernetes/commit/5c332e0d0245d9735839b4810e45fe6e54c09adb)

[2016-08-30 12:19] svanderbijl commented on #29324
@justinsb even with a patched kube-controller-manager with your fixes we can consistently reproduce volumes being mounted/assigned to the wrong pods. Your updates do seem to solve volumes being assigned to multiple pods but the ordering is wrong (volume 1 belong to pod-1 now assigned to pod-2 and vice-versa).

Is the kube-controller-manager the only component affected by this or should we also rep

[2016-08-30 12:21] piosz commented on #29647
I bumped InfluxDB version which should be more stable (#27630). The test hasn't failed for almost a month so closing the issue.

[2016-08-30 12:21] #29647 closed

[2016-08-30 12:33] dshulyak commented on #31098
Was able to reproduce it. Pet set controller just loops with the following logs

[code]

[2016-08-30 12:40] #31465 closed

[2016-08-30 12:53] thelastworm commented on #17205
Hello, I have the same issue

in my flannel.log file says

VXLAN init: operation not supported
Retrying in 1 second...
VXLAN init: operation not supported
Retrying in 1 second...
VXLAN init: operation not supported
Retrying in 1 second...

[2016-08-30 12:58] huang195 commented on #31143
@Random-Liu @coufon thanks. It's great to have a such a tool to visualize end-to-end operation time on a node.

[2016-08-30 13:26] k82cn commented on #31267
@pwittrock / @AdoHe , sync up with AdoHe on slack, I'll start from #15834 :).

BTW, you can assign this one to me, i'm a k8s member now :). I'll try my best to clear the issue in the list.

[2016-08-30 13:29] rootfs commented on #28710
logging added per #31531

[2016-08-30 13:35] jdef commented on #31068
Do you have a specific proposal for what the API should look like that allows a user to specify priority of resource consumption?

[2016-08-30 13:56] rootfs commented on #15365
@tobad357 #21304 is merged, can you close this issue? thanks

[2016-08-30 13:58] rootfs commented on #21305
@tobad357 Are you working on this? Want to coordinate with you on progress. Thanks.

[2016-08-30 14:00] rootfs commented on #21306
@tobad357 are you working on this? want to coordinate with you, thanks.

[2016-08-30 14:11] AdoHe commented on #31267
@k82cn you did own this issue now, please go ahead, and comment here if you have any questions.

[2016-08-30 14:16] wojtek-t commented on #30871
Actually, I would like to understand it.

@caesarxuchao - I looked into pantheon and all the logs from the runs between 8102-10000 are there. So we can debug it.

So I tried I did some binary search on the data, and it seems that:
- all runs up to 8168 seem to be ok (<=750MB in density)
- since 8169 is is already 1.5GB in density (8170 is ok, but 8171 and 8172 are again bad), 8175 is also bad

So

[2016-08-30 14:22] svanderbijl commented on #29324
For anyone running into this problem. We've disabled the new controller attach/detach logic for now by passing the flag --enable-controller-attach-detach=false to kubelet. Volumes are now mounted correctly.

[2016-08-30 14:29] wojtek-t commented on #30871
Interestingly, there wasn't any suspicious PR merged around that time.

[2016-08-30 14:32] kargakis commented on #22368
Proposal is up for review: https://github.com/kubernetes/kubernetes/pull/31701

[2016-08-30 14:33] liggitt commented on #27951
the original failure was a generic timeout, and the issue hasn't been observed in two months, closing

[2016-08-30 14:33] #27951 closed

[2016-08-30 14:37] mtaufen commented on #30527
@dchen1107 I will run the serial job against the coreos image we test with (`coreos-alpha-1122-0-0-v20160727`) and see if I can dig something up.

[2016-08-30 14:38] smarterclayton commented on #21062
This is related to https://github.com/kubernetes/kubernetes/pull/30808 - the defaulting is what allows us to continue.  When that merges, only kubectl will have the "use localhost:8080" as defaulting.

[2016-08-30 14:38] hassanshabbirahmed commented on #31681
whoa, I just landed in the exact same place, I am trying to build k8s on a CentOS7 box. Lemme also try with removing the unused utils.

[2016-08-30 14:42] ncdc commented on #28455
@pwittrock this needs reassignment to someone with GKE access

[2016-08-30 14:43] ncdc commented on #31158
@pwittrock this is some sort of gcloud issue

[2016-08-30 14:43] wojtek-t commented on #30871
Hmm - but runs
- 8173 and 8174 are again good. (~750MB in density).
- 8175 and 8176 are again bad
- 8177 and 8178 are again good
- 8179 and 8180 are again bad
- 8181 is again good
- 8182 is again bad
- 8183 is again good
- 8185 is again bad

This is super strange what was happening there...

[2016-08-30 14:46] smarterclayton commented on #29876
The UX evolution of `kubectl get` and the `status` field was involved, but took a lot of feedback from end users about highlighting particular problems.  The reason (if i recall correctly) was that we have a limited amount of space to show useful info, and a divergent container is more important than the overall status of the pod.  The expectation is that a user would use `kubectl describe` to get

[2016-08-30 14:50] smarterclayton commented on #815
I agree, we should wire context (as is) into more places.  Storage did it for the etcd3 work.

I don't know that we've resolved the "acting-as" wrinkles with controllers in a coherent way where the context would be related to the end user.

[2016-08-30 14:57] smarterclayton commented on #31621
@deads2k

[2016-08-30 14:59] wojtek-t commented on #30871
Actually, I know where the trick is. It depends whether we are running Density test first (the the memory usage is lower) or if we are running load test first (the the memory usage of density test is higher).

So I would say this is kind of "working as intended" and I'm closing this one.

[2016-08-30 14:59] #30871 closed

[2016-08-30 15:03] ncdc commented on #31621
What if we scrape & parse the pull progress to get the Digest value and store that somewhere?

[2016-08-30 15:20] smarterclayton commented on #31621
Can we do a Docker daemon flag that sets the RepoDigest on a pulled image
automatically?  And then prefer RepoDigest from this spot?  Would that
break GC?

On Tue, Aug 30, 2016 at 11:03 AM, Andy Goldstein <notifications@github.com>
wrote:

[2016-08-30 15:20] k82cn opened #31702 "Make pkg/kubectl/cmd/util/factor.go:Factory to be interface"
Refactor pkg/kubectl/cmd/util/factor.go:Factory to be a interface. Currently, the `util.Factory` is defined by function pointer:

[code]

In Go, it's better to make Factory to be an struct; it'll also reduce the code line of `NewFactory()` which is more than 100 line of code :).

cc @AdoHe / @pwittrock

[2016-08-30 15:21] ncdc commented on #31621
It would break GC

[2016-08-30 15:26] deads2k commented on #31621
Is there a way for the kubelet to resolve the image:tag down to a digest in the kubelet, then use the digest to pull the image instead of using the image:tag?  That value seems significantly more useful and it wouldn't require a docker change.

[2016-08-30 15:27] ncdc commented on #31702
cc @deads2k

[2016-08-30 15:29] ncdc commented on #31621
Yes, two ways:

1. Scrape and parse, so you'd first pull by tag and then by digest
2. Query the registry for image:tag, get its digest, and then pull by digest

[2016-08-30 15:30] k82cn commented on #31267
sure, I'm working on it :).

[2016-08-30 15:34] elouanKeryell-Even commented on #13382
My team is using kubernetes 1.2.0 on another cloud provider, and we are encoutering the same issue.

Issuing `kubectl get pods` takes a long time (~45s), and generates the following logs on the apiserver side:

[code]

`212.144.*` are my slaves IPs (three slaves).

Sometimes it doesn't even respond:

[code]

I've monitored resource usage on the cluster, it doesn't seem to be too busy. network & CP

[2016-08-30 15:34] smarterclayton commented on #31621
Why would it break GC?

On Tue, Aug 30, 2016 at 11:29 AM, Andy Goldstein <notifications@github.com>
wrote:

[2016-08-30 15:35] smarterclayton commented on #31621
More specifically, if it breaks GC, can we have it not break GC.

On Tue, Aug 30, 2016 at 11:34 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-08-30 15:35] ncdc commented on #31621
I'm saying that `docker rm foo:bar` would result in just untagging `foo:bar` from the actual image. Because the graphdriver still has `foo@sha256:abcd`, the image won't actually get purged.

[2016-08-30 15:37] timothysc commented on #31262
fix posted.

[2016-08-30 15:40] pwittrock commented on #31702
@AdoHe Does this make sense to you?  If so, lets have @k82cn pick it up

[2016-08-30 15:40] smarterclayton opened #31706 "flake: Failed to create GKE cluster 'allow-ssh' firewall already exists"
[code]

[2016-08-30 15:41] pwittrock commented on #31158
@ncdc thanks
@cjcullen assigned this to you, let me know if it should go somewhere else

[2016-08-30 15:41] ncdc commented on #31621
Kube image GC may be ok, since it would record both RepoTags and RepoDigests, and it could purge both values.

[2016-08-30 15:50] smarterclayton commented on #31621
Doesn't GC see that foo@sha256:abcd isn't used and also purge that?  GC of
images has to deal with any visible tags that aren't managed by Kube,
because it can't rely on just managing images downloaded by Kube.

On Tue, Aug 30, 2016 at 11:36 AM, Andy Goldstein <notifications@github.com>
wrote:

[2016-08-30 15:54] bgrant0607 commented on #2837
This has become the "top workloads" effort. Feel free to close if not useful.

[2016-08-30 15:56] anioool commented on #31496
Hi @kargakis,

I upgraded my version to 1.3.6 and it seems that problem with panic is resolved but problem with hotloop where pods are created and terminated rapidly not...

[2016-08-30 16:05] Random-Liu commented on #31694
@dims, that PR only changed script for local development, the Jenkins job won't be affected at all. :)

[2016-08-30 16:10] spdeshpande opened #31708 "HPA autoscaling issue. fails to get the cpu utilization from heapster. Unable to marshall heapster response"
Hi All,

My setup:
K8S v1.3.0
Heapster v1.1.0

HPA complains that it cannot unmarshal heapster's response.
FailedComputeReplicas   failed to get CPU utilization: failed to get CPU consumption and request: failed to unmarshall heapster response: invalid character 'k' looking for beginning of value

Did a little debugging in the metrics_client.go and found out that the URL that the HPA is hitting co

[2016-08-30 16:22] DreadPirateShawn opened #31709 "Scheduler: "FailedScheduling / Binding rejected" occurred with unclear reason"
**Kubernetes version**:

[code]

**Environment**:
- **Cloud provider or hardware configuration**: Bare metal
- **OS** (e.g. from /etc/os-release): Ubuntu 12.04.4 LTS, Precise Pangolin
- **Kernel** (e.g. `uname -a`): Linux tuk6r1knode3 3.13.0-55-generic #92~precise1-Ubuntu SMP Sun Jun 14 18:32:23 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: N/A(?)
- **Others**: N/A(?)

**What happen

[2016-08-30 16:24] k8s-merge-robot opened #31710 "[k8s.io] Rescheduler [Serial] should ensure that critical pod is scheduled in case there is no resources available {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gce/6486/

Failed: [k8s.io] Rescheduler [Serial] should ensure that critical pod is scheduled in case there is no resources available {Kubernetes e2e suite}

[code]

Previous issues for this test: #31277 #31347

[2016-08-30 16:26] jmhodges commented on #30617
Okay, I gave this a shot today and it didn't work out. I can easily believe its a "you're on another person's GKE image" problem but this wasn't the fix, apparently!

[The commit](https://github.com/jmhodges/howsmyssl/commit/9dd214c74c46b24a19261894698760223de7df1c) and the [failed build](https://travis-ci.org/jmhodges/howsmyssl/builds/156272128).

Just to get extra saucy, I also tried it in both

[2016-08-30 16:26] monajalal commented on #30495
Got this error on Ubuntu 15.04 instances on EC2 m4.4xlarge:
[code]

[2016-08-30 16:33] dchen1107 commented on #30878
#31664

[2016-08-30 16:33] mikedanese opened #31711 "kubeadm graduation requirements"
We need to decide on a scope for kubeadm that we feel comfortable strapping a `beta` label onto.

Beta requirements:
- [ ] TLS bootstrap in beta https://github.com/kubernetes/features/issues/43
- [ ] Discovery API in beta #31779
- [ ] e2e testing

Beta or GA?
- [ ] CA certificate rotation
- [ ] join secret rotation

GA requirements:
- [ ] TLS bootstrap GA
- [ ] Discovery API GA

Wishlist:
- [ ] Be

[2016-08-30 16:35] bprashanth commented on #31630
@freehan I stress tested your fix overnight with the networking suite I'm writing (the one that found the bug), didn't hit the failure in > 100 runs, we should get it in asap

[2016-08-30 16:35] ncdc commented on #31621
images has to deal with any visible tags that aren't managed by Kube,
because it can't rely on just managing images downloaded by Kube.

Yes, I think we should be ok because of this. I'm not sure if we'd be able to get a PR accepted to add a field to the daemon to record RepoDigests on pull.

[2016-08-30 16:37] smarterclayton commented on #31621
What would we do in ocid here?  Whatever solution we pick, the lower we can fix it the better.  Agree we might not be able to get a Docker fix.

[2016-08-30 16:39] bprashanth opened #31712 "test service sessionAffinity in networking e2e"
Augment https://github.com/kubernetes/kubernetes/pull/31559 to turn on session affinity for a service, lookup the vip from a container/node and make sure we only hit a single endpoint with N ready/running endpoints.

[2016-08-30 16:40] deads2k commented on #31702
`Factory` already is a struct.  I could support making `Factory` into an interface, promoting its various function into typed functions, and then having first class methods for each function.  I think this is the sort of thing that @fabianofranz, @kargakis, and @kubernetes/kubectl are likely to have opinions on.

I think that you could start by creating first class methods for the anonymous ones c

[2016-08-30 16:41] deads2k commented on #31702
Also, starting with a single method as an example is probably worthwhile so we can argue over principle there instead of in a larger pull.

[2016-08-30 16:42] yujuhong commented on #31676
/cc @dchen1107 @vishh @mtaufen

The test couldn't create an extra pod on the node.

[2016-08-30 16:48] dlamotte opened #31713 "How to restrict Kubernetes Cluster to internal IPs/ELBs/... in AWS?"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): First attempted via #kubernetes-users on slack

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):  internal aws load balancer

---

**Is th

[2016-08-30 16:48] yujuhong commented on #31537
Ah...it's the same for coreos images too. All journald systems have the same issue.

[2016-08-30 16:57] #30878 closed

[2016-08-30 16:58] smarterclayton commented on #31702
And really it should be multiple interfaces and each command should take the interfaces it requires.  That argument is partially why we have deferred this for so long.

[2016-08-30 16:59] yujuhong commented on #30524
Let's close this one in favor of #31676

[2016-08-30 16:59] #30524 closed

[2016-08-30 17:01] derekwaynecarr commented on #31621
/cc @derekwaynecarr sub

[2016-08-30 17:01] erictune commented on #29579
Just skimmed this issue. What is the one-time token for?  Is it for the apiserver to prove its identity to the serving process, or for the serving process to prove its identity to the master?

For master to prove identity to the serving process, can we have the master present a client cert with a well-known CN which identifies it as a trusted proxy for the cluster?  See https://github.com/kubernet

[2016-08-30 17:07] lukemarsden commented on #31711
Thanks for this!

I think it might make sense to distinguish between items such as "phase I => beta" or "phase II => alpha", according to the phase I/II breakdown in https://github.com/kubernetes/kubernetes/pull/30360

[2016-08-30 17:08] lukemarsden commented on #31711
https://github.com/lukemarsden/kubernetes/blob/a692dea1c9be15bf34194fbab81519058fdf19f4/docs/proposals/dramatically-simplify-cluster-creation.md#user-stories to save you some clicks

[2016-08-30 17:10] dims commented on #31694
@Random-Liu next time i will add an emoji for a wild guess :)

[2016-08-30 17:13] freehan commented on #31630
Great. It would be better to pull from upstream once the fix is merged. Otherwise, we have to fork it like we did in 1.3.

[2016-08-30 17:18] yujuhong commented on #31676
@derekwaynecarr, the test waited until the node condition is restored to normal and the node has sufficient memory, but still couldn't schedule a new pod on the node. Do you know what may have caused the eviction manager to make such a decision?

[2016-08-30 17:20] mtaufen commented on #31676
Hmm yes this is strange, the log from the most recent flake says: `Aug 30 13:20:39.376: INFO: At 2016-08-30 13:20:32 +0000 UTC - event for guaranteed-lc41g: {kubelet tmp-node-e2e-4686503f-gci-dev-54-8743-3-0} Evicted: The node was low on memory.
Aug 30 13:20:39.376: INFO: At 2016-08-30 13:20:39 +0000 UTC - event for admit-best-effort-pod: {kubelet tmp-node-e2e-4686503f-gci-dev-54-8743-3-0} Evicted

[2016-08-30 17:22] bprashanth commented on #26062
I don't think this is worth investigating for 1.4 either, since networking setup is going to be consumed by cni plugin + networking daemonset work from cluster lifecycle. Closing.

[2016-08-30 17:22] #26062 closed

[2016-08-30 17:23] jessfraz opened #31715 "[k8s.io] Services should be able to change the type and ports of a service [Slow] [It]"
This failure happens quite often in the e2e upgrade tests:

Seems like a good fix would be to clean out all the static IP's that aren't being used before running the tests.

[code]

[2016-08-30 17:31] aveshagarwal commented on #31300
Same: https://github.com/kubernetes/kubernetes/issues/31083

[2016-08-30 17:32] timstclair opened #31717 "Exec liveness probe does not log any output"
Reproduces on GKE, not on GCE:
[code]

Reported on [stackoverflow](https://stackoverflow.com/questions/39215038/liveness-probe-failure-output-not-in-kubelet-logs)

/cc @kubernetes/sig-node

[2016-08-30 17:33] aveshagarwal commented on #31300
The difference I see in the descriptions: TestWatchList and another is TestWatch.

[2016-08-30 17:33] smarterclayton commented on #29579
I think there is value in requiring the master to access the kubelet first
in order to establish an exec session.  It prevents some abuse (potentially
programmer error) where the master tries to connect to those shims.  All
that being said though, the master -> shim connection must be HTTPS in
practice and so the shim needs a serving cert.

On Tue, Aug 30, 2016 at 1:02 PM, Eric Tune <notifications

[2016-08-30 17:35] ncdc commented on #31717
Does GKE have #30731?

[2016-08-30 17:35] yujuhong commented on #31676
I checked the code and it looks to me that the eviction manager generates node conditions (which it stores internally) using its own thresholds at the beginning of each sync. Therefore, the conditions should be up to date every sync. I didn't check whether the thresholds and conditions are in sync with the node conditions though. @derekwaynecarr @vishh does any of you have more insights?

[2016-08-30 17:39] mtaufen commented on #31676
Based on a cursory reading of `func (m *managerImpl) synchronize(diskInfoProvider DiskInfoProvider, podFunc ActivePodsFunc)` in `pkg/kubelet/eviction/eviction_manager.go`, there is a transition period *after* the pressure condition disappears from the node during which the eviction manager will still evict pods.

This maps to `--eviction-pressure-transition-period` and is set to `30s` for node e2e

[2016-08-30 17:39] mtaufen commented on #31676
@derekwaynecarr is the eviction manager's knowledge of when this transition period has completed exposed anywhere?

[2016-08-30 17:43] jingxu97 commented on #29324
Hi @mrook @svanderbijl Thank you for reporting the issue with us. In order to have a right fix for the problem, we need to reproduce the error. Could you please share your detailed information about your cluster setup and pod deployment specs etc. so that we can try to run the tests? Thank you!

[2016-08-30 17:43] erictune commented on #29579
Agree with what you said.  I think the shim still needs to be sure that the thing connecting to it is really the master, and I was suggesting client cert as the way to ensure that.

[2016-08-30 17:44] jingxu97 commented on #29324
@sstarcher Could you please let us know whether you can reproduce the issue you reported in this thread? Thank you!

[2016-08-30 17:44] pwittrock commented on #30899
@justinsb I agree, I would rather have it in the server side so all clients benefit.  Unfortunately, the server-side stuff isn't as good for contributor on-boarding, and right now kubectl is the client most people use.

[2016-08-30 17:45] pwittrock commented on #30899
@AdoHe Would you help @k82cn on this as well?

[2016-08-30 17:47] jonboulle commented on #31384
Thanks for writing this up; basically +1 on your conclusion on both sides.

[2016-08-30 17:48] sstarcher commented on #29324
@jingxu97 we have not had the issue in the past 2 weeks.

[2016-08-30 17:48] vishh commented on #31676
Given that the node e2e sets the transition period to 30s, there is no need to wait for 5 minutes.

[2016-08-30 17:48] yujuhong commented on #31717
I don't think so, and I think that's the reason. Thanks!

[2016-08-30 17:50] bgrant0607 commented on #28877
Dupe of #1768 and/or #1704. You may be interested in https://github.com/Mirantis/k8s-AppController

[2016-08-30 17:50] #28877 closed

[2016-08-30 17:50] timstclair commented on #31717
Nope, that's why. I built my GCE cluster from head. Thanks!

[2016-08-30 17:50] #31717 closed

[2016-08-30 17:52] caesarxuchao commented on #30871
@wojtek-t so it's because the api-server doesn't release all the memory used in load test?

[2016-08-30 17:57] pmorie commented on #31673
Labeling this a p1 because if an operator configures the kubelet for an existing node to use controller-attach-detach, the kubelet will wait for the controller to perform attaches, but the node will never be annotated, ie, attachable volumes will not work for that node.

[2016-08-30 17:57] timothysc commented on #31300
This should be closed.. and https://github.com/kubernetes/kubernetes/pull/31704 aims to fix.

[2016-08-30 17:58] nikhiljindal commented on #25592
Sent https://github.com/kubernetes/kubernetes/pull/31719 to include clusters in the list of resources printed by kubectl help. This is a short term fix.

The longer term correct fix is to replace the hard coded list by discovery list.

[2016-08-30 17:58] ncdc commented on #25887
I think unless we can have the proxy do MITM and decrypt the connection from kubectl, we may just need to check for 2 `CONNECT` lines in the log instead of 1.

Or you need to be able to find a way to allow packets to go only to the proxy and keep them from going to the apiserver itself.

I'm not sure what else we can really do.

[2016-08-30 17:58] pmorie commented on #31384
I won't have time to review this for a couple of days, but the write up looks very thorough, thanks for the attention to detail.

[2016-08-30 17:59] dchen1107 opened #31720 "Idea: Provided a mechanism to aggregate a given pod's related events / logs"
Forked from #3500 since the initial issue is closed...

When debugging an issue of an application, often the developer has to look into kubelet log and do some logging process.

@coufon introduces time series and tracing to Kubelet for the node performance analysis work (https://github.com/kubernetes/kubernetes/pull/31280). Kubernetes already uses events to trace some operations, but not adequate.

[2016-08-30 18:01] mtaufen commented on #31676
We should at least make sure we put a comment next to the setting in `test/e2e_node/services/services.go`, so that if someone changes it they know to change the test as well.

[2016-08-30 18:01] derekwaynecarr commented on #31676
Self assigning to investigate.

[2016-08-30 18:06] derekwaynecarr commented on #31676
would want to look at kubelet logs and see timestamps for:

[code]

[2016-08-30 18:10] bprashanth commented on #31230
Deleting ns failed.
[code]
Duping into https://github.com/kubernetes/kubernetes/issues/29308 which is fixed in https://github.com/kubernetes/kubernetes/pull/31636

[2016-08-30 18:10] #31230 closed

[2016-08-30 18:11] yujuhong commented on #31676
The coreos/gci logs are not collected properly (#31537)

In the meantime, look for failures on non-journald nodes.
E.g., https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/495/

[2016-08-30 18:13] childsb opened #31723 "allow storageClass.provisioner to be empty"
For manually created volumes that belong to a storageClass there is no provisioner type.  The field should be permitted empty in storageClass object.

[2016-08-30 18:23] Amey-D opened #31724 "Verify checksum of cni tarball on GCI"
In configure.sh for GCI we download the cni tarball from GCS but unlike other release artifacts we do not verify its checksum.  It should be fixed.

cc @freehan @bprashanth @vishh @kubernetes/goog-image

[2016-08-30 18:30] mbruzek opened #31726 "The juju cluster provider does not start the apiserver."
**Is this a request for help?**: No

**What keywords did you search in Kubernetes issues before filing this one?** : juju cluster apiserver

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): v1.3.4

**Environment**:
- **Cloud provider or hardware configuration**: Amazon
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04 xenial
-

[2016-08-30 18:32] cjcullen commented on #30617
You'll still need the `gcloud beta auth application-default activate-service-account`. That's what tells kubectl (via application-default credentials) to use your service account.

[2016-08-30 18:35] saad-ali commented on #29324
For AWS, Kubelet just uses the device path returned by `Attach(...)` (the master passes it to the node, if the node is not doing its own attaches), so you shouldn't need to patch kubelet. @justinsb any thoughts? Is the AWS AttachDisk code making other assumptions that are being violated when not executing on node that could cause it to return the wrong path on `AttachDisk(...)`?

@mrook, @svanderb

[2016-08-30 18:49] cgag commented on #31147
I remember seeing some similar discussion on jobs.  It looks like the inverse (basically unrecoverable exit codes) is discussed here: https://github.com/kubernetes/kubernetes/issues/17244

[2016-08-30 18:51] diegomarangoni commented on #24472
Would be nice to extend this support to [kops](https://github.com/kubernetes/kops) aswell.

[2016-08-30 18:58] bprashanth commented on #30352
The first failure looks like a legit fixable test problem, `pod-configmaps-ba77374d-5edf-11e6-a759-42010af0003f` was started on [e2e-gce-agent-pr-27-0-minion-group-vnn0](https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/30222/kubernetes-pull-build-test-e2e-gce/52694/artifacts/e2e-gce-agent-pr-27-0-minion-group-vnn0/). I think the problem is the mounttester pod we use

[2016-08-30 19:05] johnwchadwick commented on #30518
Would it not make sense to use ALBs in place of ELBs always, including in the case of Service type LoadBalancer? ELB still lacks support for WebSockets and HTTP/2.  Therefore, as long as ALBs can be used as drop-in replacements for ELBs without any major consequences, it seems very desirable to do so.

[2016-08-30 19:05] eparis commented on #31723
@saad-ali @thockin @kubernetes/rh-storage @kubernetes/sig-storage

[2016-08-30 19:12] caesarxuchao commented on #19054
GC is on by default in 1.4. I'll close this issue. For known issues please refer to https://github.com/kubernetes/kubernetes/issues/26120.

[2016-08-30 19:12] #19054 closed

[2016-08-30 19:15] bprashanth opened #31728 "Investigate GKE master get/put flakes"
Quite a few tests flake with:
[code]

This seems to indicate:
* test should retry
* that's a lot of flake on GKE

eg:  https://github.com/kubernetes/kubernetes/issues/29149, https://github.com/kubernetes/kubernetes/issues/30156, https://github.com/kubernetes/kubernetes/issues/30352#issuecomment-243299162, pretty much all the failures in https://github.com/kubernetes/kubernetes/issues/31188, https:

[2016-08-30 19:16] bprashanth commented on #29149
@foxish a lot of these appear to be apiserver flakes of get/put. Duping into: https://github.com/kubernetes/kubernetes/issues/31728, reopen if you disagree, or investigate the dupe otherwise.

[2016-08-30 19:16] #29149 closed

[2016-08-30 19:17] bprashanth commented on #30156
https://github.com/kubernetes/kubernetes/issues/31728 for 2

[2016-08-30 19:19] bprashanth commented on #31188
Duping into https://github.com/kubernetes/kubernetes/issues/31728

[2016-08-30 19:19] #31188 closed

[2016-08-30 19:20] duglin commented on #31017
See https://github.com/kubernetes/features/issues/75

[2016-08-30 19:21] bprashanth commented on #31575
duping into https://github.com/kubernetes/kubernetes/issues/31728

[2016-08-30 19:21] #31575 closed

[2016-08-30 19:33] yujuhong commented on #31676
Thanks!

Bumping the priority since this test has been causing other tests to fail in the serial suite.

[2016-08-30 19:35] pwittrock commented on #30548
According to @dchen1107 this only happens on the CoreOS distro.  This should not be a 1.4 release blocker, and should be further investigated by someone in CoreOS.

[2016-08-30 19:36] mikedanese commented on #31464
ref https://github.com/kubernetes/kubernetes/pull/31590

[2016-08-30 19:40] dchen1107 commented on #27296
This one haven't happened for a while. Close this for now.

[2016-08-30 19:40] #27296 closed

[2016-08-30 19:41] jingxu97 commented on #29324
@justinsb I checked some code in attacher, will this cause any problem in returning the device path?
https://github.com/kubernetes/kubernetes/blob/c5ab95cd792c24e4d0c2fc561e79856ac8236a5b/pkg/volume/aws_ebs/attacher.go#L105

[2016-08-30 19:42] mikedanese commented on #28383
ref #31590

[2016-08-30 19:42] dchen1107 commented on #30607
I raised the priority to p0 for triage.

[2016-08-30 19:42] bprashanth commented on #30566
A majority of these seem to be a failure to watch from the given resource version: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/common/pods.go#L178, and all of them appear to be failures in node-pull-build.

The test lists pods, starts a watch on the RV in the pod list, creates a new pod, then waits for the creted pod on the watch. Unfortunately it doesn't handle any watch event e

[2016-08-30 19:43] mml opened #31729 "Several federation-controller tests fail with 'build failed'"
This could be an infra problem.  [log](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31722/kubernetes-pull-test-unit-integration/42621/)

@kubernetes/sig-cluster-federation

[code]

[2016-08-30 19:44] pwittrock commented on #28047
Not a release blocker because flakiness around pulling images is a known issue unrelated to the tests.

[2016-08-30 19:45] pwittrock commented on #29395
Closing this and will rely on the bot to file

[2016-08-30 19:45] #29395 closed

[2016-08-30 19:47] mml commented on #30754
See #31729.  Not integration tests, but the same symptoms.

[2016-08-30 19:53] vishh commented on #30607
@dchen1107 are you triaging this issue? You comment is unclear.

[2016-08-30 20:06] bprashanth commented on #30632
I do observe the etcd error pointed out by @MHBauer  in most of these failures
[code]
And in master logs https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/31352/kubernetes-pull-build-test-e2e-gce/55772/artifacts/e2e-gce-agent-pr-52-0-master/

[code]

so apiserver throws 500s on odd service creation requests?
@kubernetes/goog-control-plane

[2016-08-30 20:08] bprashanth commented on #27235
I'm rewriting this test to take the apiserver proxy out of the loop: https://github.com/kubernetes/kubernetes/pull/31559, but that's blocked on https://github.com/containernetworking/cni/pull/292

[2016-08-30 20:10] dchen1107 commented on #31728
cc/ @dchen1107

[2016-08-30 20:12] dchen1107 commented on #31560
Based on @spxtr's comment, it looks like a real failure, and affects cluster lifecycle.

[2016-08-30 20:18] pwittrock commented on #31201
@mikedanese will find someone

[2016-08-30 20:19] bprashanth commented on #28462
this looks like a dupe of https://github.com/kubernetes/kubernetes/issues/29633, which is p1, so demoting

[2016-08-30 20:22] pwittrock commented on #30687
@derekwaynecarr Adding you to this because it looks like you are already working on a fix

[2016-08-30 20:38] spxtr commented on #30600
I'm fine with using `make`, but I would like a make rule (`make local` or something) that does the entire build locally and respects my environment. It should make sure that the generated code is generated at the right times before calling `go install`. If this is the case then go tools will still work properly as long as you call `make generated_files` when necessary (The Human Makefile!), and yo

[2016-08-30 20:38] bgrant0607 commented on #29607
ConfigMap should remain just data.

This is effectively a dupe of #2068

See also #831

[2016-08-30 20:42] bgrant0607 commented on #29776
@zefciu My inclination is to not support this, but a more realistic use case would help us suggest alternatives.

[2016-08-30 20:45] dchen1107 commented on #28384
This is a known issue with docker 1.11.x which has memory leakage over time.

[2016-08-30 20:45] #28383 closed

[2016-08-30 20:46] dchen1107 commented on #28384
dup of 28220

[2016-08-30 20:48] pwittrock commented on #27703
@maisem Any updates?

[2016-08-30 20:49] lavalamp opened #31735 "Namespace controller shouldn't DELETE /api/v1/namespaces/<namespace>/bindings"
[code]

[2016-08-30 20:51] lavalamp opened #31737 "No `Â` in logs please"
[code]

The mu character is nice but the A with a hat should be a space, how could this happen to us when go handles utf-8 natively?

[2016-08-30 20:51] ncdc commented on #31272
Would it be preferred to return an array of what is essentially a `(name, error)` tuple, instead of splitting the names and errors into 2 return values?

Would it make sense to have `ReadDir` and `ReadDirStat` so it's clear which one performs a `stat` call?

[2016-08-30 20:52] jmhodges commented on #30617
Back to `ERROR: (gcloud.container.clusters.get-credentials) ResponseError: code=403, message=Request had insufficient authentication scopes.`

See https://travis-ci.org/jmhodges/howsmyssl/builds/156344357 with https://github.com/jmhodges/howsmyssl/compare/31518e58c7ad...bb7cf1c2d198

[2016-08-30 20:54] lavalamp opened #31738 "Rollback subresource returns a bad object type?"
Seen many times in test logs. (e.g. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31559/kubernetes-pull-build-test-e2e-gce/56433/)

[code]

[2016-08-30 20:54] dchen1107 commented on #27427
dup of #27324

[2016-08-30 20:54] #27427 closed

[2016-08-30 20:55] girishkalele opened #31739 "Package and host the kube-dns container on the master"
Today we build the kube-dns binary from the sources that are in-tree.
We do not ship this binary - instead the container is pushed to gcr.io and scheduled on a worker node which pulls it from the GCR container registry.

I wish this was packaged and shipped along with the rest of the master binaries/containers.

Potential Solution:
We host a small Docker registry server on the apiserver and when g

[2016-08-30 20:56] girishkalele commented on #31739
cc @kubernetes/sig-network @MrHohn @thockin

[2016-08-30 20:56] pwittrock opened #31740 "Couldn't delete ns was not deleted within limit: timed out waiting for the condition, pods remaining: []"
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/framework/framework.go:127
Aug 16 08:11:16.645: Couldn't delete ns "e2e-tests-v1job-gmj3l": namespace e2e-tests-v1job-gmj3l was not deleted within limit: timed out waiting for the condition, pods remaining: []
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/framework/framework.go:265

[2016-08-30 20:56] bgrant0607 commented on #30558
See also #25832

[2016-08-30 20:56] bgrant0607 commented on #30558
and #24049

[2016-08-30 20:56] pwittrock commented on #30687
Duplicate of #31740

[2016-08-30 20:58] pwittrock commented on #27503
Meta Issue: #31740

[2016-08-30 20:58] bgrant0607 commented on #30755
See discussion in #18016

[2016-08-30 20:59] bgrant0607 commented on #30755
cc @bprashanth @smarterclayton

[2016-08-30 20:59] dchen1107 commented on #29615
close this one for no failure last month.

[2016-08-30 20:59] #29615 closed

[2016-08-30 21:00] pwittrock commented on #27335
Closing.  Let bot reopen

[2016-08-30 21:00] #27335 closed

[2016-08-30 21:00] bgrant0607 commented on #30337
see also #25832, #24049, #30558

[2016-08-30 21:01] #31464 closed

[2016-08-30 21:03] girishkalele commented on #28650
@freehan You can probably mark this fixed now.

[2016-08-30 21:04] freehan commented on #28650
Thanks for reminding

[2016-08-30 21:04] #28650 closed

[2016-08-30 21:04] #9107 closed

[2016-08-30 21:05] girishkalele commented on #7825
Closed via #27652

[2016-08-30 21:05] #7825 closed

[2016-08-30 21:06] girishkalele commented on #23981
@MrHohn Have a look at the docs for the DNS addons and add more details as requested.

[2016-08-30 21:09] girishkalele commented on #25392
@thockin This flake hasn't happened again - close for now ?

[2016-08-30 21:12] fejta commented on #31179
@karlkfi https://github.com/kubernetes/kubernetes/blob/master/test/test_owners.csv#L234

[2016-08-30 21:12] fejta commented on #29221
@ghodss https://github.com/kubernetes/kubernetes/blob/master/test/test_owners.csv#L396

[2016-08-30 21:13] girishkalele commented on #31739
We are going to start a bunch of enhancements to the kube-dns container across multiple team members, it would be nice to have this without the out-of-band gcr.io container and image versioning conflicts.

[2016-08-30 21:13] fejta commented on #29461
@ghodss https://groups.google.com/d/msg/kubernetes-dev/Cq7rrGIbQ8w/iikKoy2cDAAJ

[2016-08-30 21:13] lavalamp commented on #30632
I am suspicious about the error message. I suspect the allocator is lying about why it failed.

[2016-08-30 21:14] girishkalele commented on #25793
Closed via #28650

[2016-08-30 21:14] #25793 closed

[2016-08-30 21:14] fejta commented on #30287
@yujuhong (and @ncdc) https://groups.google.com/d/msg/kubernetes-dev/Cq7rrGIbQ8w/iikKoy2cDAAJ

[2016-08-30 21:16] girishkalele commented on #29055
100m is probably enough for CPU.
For memory resources, need to fill up dnsmasq cache with its default cache-limit using the dnsbench sample queries file and measure memory utilization.

[2016-08-30 21:16] ncdc commented on #30287
Reassigning to @pwittrock to delegate since this is GKE and I can't access logs there.

[2016-08-30 21:21] saad-ali commented on #31723
This may lead to some potentially confusing user experiences: If a storage class is allowed to be defined with no provisioner, imagine a storage class with no provisioner marked as default. A user creates a PV and PVC both without storage class, admission controller automatically adds the default storage class to the PVC, but since there are no PVs matching the default storage class and no provisi

[2016-08-30 21:23] fejta commented on #31694
I suspect this was an error calling gcloud? Would be nice if we had some additional logs

[2016-08-30 21:24] fejta commented on #31706
@smarterclayton please reactivate this with a debuggable link.

[2016-08-30 21:25] fejta commented on #31656
This is actually a false error message (the gubernator.sh line doesn't fail the build), the real failure is here in `build-log.txt` (truncated from the gubernator output):

`Failure Finished Host tmp-node-e2e-f8139197-coreos-alpha-1122-0-0-v20160727 Test Suite`

[2016-08-30 21:25] fejta commented on #31656
Dup of https://github.com/kubernetes/kubernetes/issues/31633

[2016-08-30 21:25] #31656 closed

[2016-08-30 21:27] jfrazelle commented on #31715
So it seems like they _should_ get cleaned up: https://github.com/kubernetes/kubernetes/blame/d95b9238877d5a74895189069121328c16e420f5/pkg/cloudprovider/providers/gce/gce.go#L1376

[2016-08-30 21:28] timothysc commented on #30132
No flake log'd in 25 days?  move to close.

[2016-08-30 21:29] fejta commented on #30711
@krzyzacy can you look into this and ensure that we will retry 500s when building the provider?
@ixdy will be a good person to help you get started on how to investigate this. Thanks!

[2016-08-30 21:29] k8s-merge-robot opened #31742 "kubernetes-e2e-gke-slow: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/8199/

Run so broken it didn't make JUnit output!

[2016-08-30 21:29] k8s-merge-robot opened #31743 "[k8s.io] Density [Serial] [Slow] create a sequence of pods latency/resource should be within limit when create 10 pods with 50 background pods {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/498/

Failed: [k8s.io] Density [Serial] [Slow] create a sequence of pods latency/resource should be within limit when create 10 pods with 50 background pods {E2eNode Suite}

[code]

Previous issues for this test: #30878

[2016-08-30 21:29] bgrant0607 commented on #14475
There is a new SIG discussing this.

https://github.com/kubernetes/community/blob/master/sig-service-catalog/README.md

[2016-08-30 21:34] vishh commented on #30567
I suspect a race between container starting up and the test querying the logs. I'm adding a retry in the test to avoid the race. Lowering the priority since I still don't suspect any kubelet bugs.

[2016-08-30 21:34] Random-Liu commented on #30714
Some background of the flaky test:
* The test is testing readiness probe, and expect that a good container should not be restarted. However, sometimes the container does get restarted.
* The test only run in cluster e2e before, it used `gcr.io/google_containers/nettest:1.7` and readiness timeout is **10s**.
* The original nettest image needs access to apiserver and token files, we can't use it in

[2016-08-30 21:35] yujuhong commented on #31215
Not sure I'm the best person to debug this.

[2016-08-30 21:37] euank commented on #30548
I'm confused by that assertion. Just clicking through the gubinator links, I'm seeing output like `from junit_e2e-node-ubuntu-trusty-docker9-v1-image06.xml` on the tests. I only saw one from the half dozen I clicked on that was from a coreos junit file.

Is that line inaccurate?

[2016-08-30 21:38] Random-Liu commented on #30714
More interesting thing is that it doesn't flake anymore since 5 days ago.
@freehan Did we merge some container network fix around that time?

[2016-08-30 21:39] girishkalele opened #31745 "LoadBalancer services healthchecks not recreated for preemptible minions"
Ran a cluster with preemptible minions - the load balancer service stopped working after 24 hours.

Manually simulated the same issue by deleting all minion nodes at once. The health check for the target pool disappeared.

[2016-08-30 21:39] girishkalele commented on #31745
Should be possible to scale MIG down to 0 and back up to get the same behaviour.

[2016-08-30 21:44] bprashanth commented on #31739
We should be careful that we don't ever create a daemonset addon, and end up serving O(1000) images from a registry on the master. Eitherway we'd probably need to productionize https://github.com/kubernetes/kubernetes/issues/1319.

We could also just do what we do for all other apiserver components, i.e upload the image to GCS and use docker load on the master. GCS scales already.

[2016-08-30 21:45] maisem commented on #27703
This is flakiness in the GKE test endpoint.
Moving to P2

[2016-08-30 21:48] smarterclayton commented on #31706
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30808/kubernetes-pull-build-test-e2e-gke/10202/

[2016-08-30 21:51] dchen1107 commented on #30548
@euank I think you are right that the issue is not limited to coreos image.  Re-assign it back to me.

[2016-08-30 21:52] bobveznat commented on #6545
I encountered this problem today using the current VPN product (with BGP no less). I found that a specific NAT rule in iptables was a bit overzealous:

-A POSTROUTING ! -d 10.0.0.0/8 -m comment --comment "kubenet: SNAT for outbound traffic from cluster" -m addrtype ! --dst-type LOCAL -j MASQUERADE

That basically says NAT anything that's not going to 10.0.0.0/8. However, my cluster IP space is onl

[2016-08-30 21:54] kiall commented on #6198
Resolved by https://github.com/kubernetes/kubernetes/pull/30649 ?

[2016-08-30 21:57] jingxu97 commented on #30689
After looking through the logs for above test failures, there are three types of failures

1. For all gce tests and one gke test ( 7656), the cause is it fails to unmountDevice even if the path is already unmounted. My PR #30930 should fix it

2. For gke test 7973, the volume could not be attached to the second node on time. In order to find out the root cause, we need the master node which is not

[2016-08-30 21:59] bprashanth commented on #30755
It is not clear how more complex templatization will benefit the goal of making it easier to deploy and maintain clustered applications. I think applying something like `name:pet-0` and using that as a selector for eg: a service per pet is simple enough to work.

Today you only have one type of petset. It provides certain guarantees, including ordering and identity. In this context, removing just

[2016-08-30 22:01] mml commented on #31729
The build really did fail.  I couldn't find stderr, though, so could not see the error message.

[2016-08-30 22:01] mml commented on #30754
#31729 was a legit build failure, but we don't seem to save stderr.  Or may be I just can't find it?

[2016-08-30 22:02] yujuhong commented on #31743
This is still caused by #31676. Assigning to @derekwaynecarr to avoid random assignments from the bot.

[2016-08-30 22:02] Random-Liu commented on #30132
The test is marked as flaky already. And there is already an issue tracking this https://github.com/kubernetes/kubernetes/issues/29633.
 I think we could close this one.

[2016-08-30 22:02] girishkalele commented on #31739
Yes, if we could do side-loading on the scheduled node before launching the kube-dns pod there, that would also work. A use case for init-containers ?

[2016-08-30 22:03] freehan commented on #30689
For the `TeardownNetwork` error, it is not a blocking error. It is a known race within kubelet where 2 go routines try to tear down one pod. I believe you will find a teardown success message for the pod somewhere in the log.

[2016-08-30 22:08] yujuhong commented on #31215
/cc @dchen1107 to help find the right owner.

[2016-08-30 22:09] bprashanth commented on #31739
Yeah, of course it would be even better if the kubelet understood different image sources (including download a tarball binary and run in a cgroup), but I think the second one might be a little far out.

We could make the registry a cluster addon and scale it with load. I'm just afraid that would become another scaling point that we'd need to debug in production.

[2016-08-30 22:12] jingxu97 commented on #30689
I didn't see success message in the kubelet log. My first though is that the TeardownNetwork error cause the failed deleting namespace. If as @freehan mentioned, it is not a blocking error, we need to again check the master log.

[2016-08-30 22:12] bprashanth commented on #30453
You can't apply in alpha petset because of: https://github.com/kubernetes/kubernetes/issues/30158
As the docs indicate, you need to edit or patch: https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/user-guide/petset.md#updating-a-pet-set
This is fixed in 1.4.

[2016-08-30 22:12] #30453 closed

[2016-08-30 22:15] girishkalele commented on #30720
#31745 seems like a duplicate of this one already tracking this.

[2016-08-30 22:15] girishkalele commented on #31745
Closing as duplicate of #30720

[2016-08-30 22:15] #31745 closed

[2016-08-30 22:19] dchen1107 commented on #31215
cc/ @freehan Could you please diagnose the initial cause reported by @wojtek-t related kubenet?

[2016-08-30 22:20] freehan commented on #30689
gke test suite has lower verbosity :(

[2016-08-30 22:23] freehan commented on #31215
This looks like a cluster setup problem. Very likely it failed to download cni tarball.
[code]

[2016-08-30 22:24] foxish commented on #31561
@apelisse Maybe we should refrain from posting a notification when there are no assignees?

[2016-08-30 22:26] dchen1107 commented on #31215
Yes, I vaguely remembered that we run into this kind of issue before, and startupscript.log could really help here.

[2016-08-30 22:29] ghodss commented on #29461
@fejta I'm terribly but sorry but at the moment I just don't have the capacity for Kubernetes development - our team is entirely focused on internal adoption. Please let me know if there is anything further I should do.

[2016-08-30 22:31] #30132 closed

[2016-08-30 22:33] liggitt commented on #31517
auth proxy support is more likely to be added than direct integration with LDAP

the API server would perform mutual TLS auth (to verify the request was via a trusted proxy), then extract user info from headers on the request

[2016-08-30 22:36] cjcullen commented on #30617
Throw the `gcloud auth activate-service-account` line in there as well, and I think you should be good.

So something like:
[code]

In https://travis-ci.org/jmhodges/howsmyssl/builds/156344357, you've configured kubectl to use the service account, but gcloud is still using the VM's service account to call `get-credentials`.

[2016-08-30 22:44] #30946 closed

[2016-08-30 22:45] xavierholt commented on #30076
Found a fix!  Short version:  Add `clusterIP: None` to your Service spec to make it "headless."
 - The SO post that gave me the starting point:
   https://stackoverflow.com/questions/38901877/kubernetes-petset-dns-not-working
 - The docs it references:
   http://kubernetes.io/docs/user-guide/petset/#network-identity
 - Details on headless services:
   http://kubernetes.io/docs/user-guide/services/

[2016-08-30 22:48] saad-ali commented on #31723
I might be misunderstanding something. So please correct me if I'm wrong: my understanding is that this scenario can occur in the cloud world as well: if a storage class is able to be created without a provisioner (and be marked as default), and PVCs have default storage classes added to them, and PVs do not, then a user could easily end up in a scenario where their lack of awareness of storage cl

[2016-08-30 22:54] jingxu97 commented on #31596
Hi @maciaszczykm , we recently have a fix #27970 to unmount orphaned pods volumes when kubelet restarts. Basically It will periodically scans pods directories, and put this information into volume reconciler in kubelet and eventually the volume will be cleaned up (unmounted) if it belongs to an orphaned pod. Please let us know if you still experience any issue related to this.

[2016-08-30 23:02] lavalamp commented on #31728
https://github.com/kubernetes/kubernetes/blob/7272cd09e3819049a125278134ebb699a1f469b5/pkg/apiserver/apiserver.go#L268

throws away the error message... sigh

[2016-08-30 23:04] justinsb commented on #29324
@jingxu97 I'm not seeing the problem, but I could well be missing something.

Also, from the very beginning I wanted this to share GCE's code (rather than being a copy-paste), because they inevitably drift.  This is supposed to be a copy of https://github.com/kubernetes/kubernetes/blob/c5ab95cd792c24e4d0c2fc561e79856ac8236a5b/pkg/volume/gce_pd/attacher.go#L126, but it looks like they have drifted.

[2016-08-30 23:04] jmhodges commented on #30617
Victory!

Specifically, you only need the two auth lines without the env var.

That is, a working CI needs both of these lines:

    gcloud auth activate-service-account --key-file howsmyssl-gcloud-credentials.json || die "unable to authenticate service account for gcloud"
    gcloud beta auth application-default activate-service-account --key-file howsmyssl-gcloud-credentials.json || die "unable

[2016-08-30 23:05] jingxu97 commented on #31176
@ceefour Could you please share the full log during this error occurred and also the spec for your RC? Are you using PVC/PV or directly use pd name? Is that possible to your PD mongo-conf is attached to some node with RW mode? Thanks!

[2016-08-30 23:07] cjcullen commented on #30617
:) I will add this to the list of things that need to be better described in our docs!

[2016-08-30 23:12] bgrant0607 commented on #7365
@pmorie @thockin Reopening. The implicit nature of current service link variables is problematic. I'd like explicit object references, similar to what we have for ConfigMap and Secret.

ref #1768

[2016-08-30 23:14] bgrant0607 commented on #1768
I re-opened #7365. If we had a service downward API along the lines of what we have for ConfigMap and Secret, then Kubernetes could defer container start and/or pod creation until a required Service existed, could surface conditions and/or events about non-existent services, etc.

[2016-08-30 23:20] brendandburns opened #31753 "Get on a non-existent namespace should return a 404."
An example:

[code]

I think it should actually return:

[code]

[2016-08-30 23:24] dchen1107 opened #31754 "Umbrella issue: node performance benchmark & dashboard"
Forked from https://github.com/kubernetes/kubernetes/issues/23349#issuecomment-200484407
xref feature: https://github.com/kubernetes/features/issues/83

File this umbrella issue to track the effort.

[2016-08-30 23:24] mikedanese commented on #31552
Weird logs:
[code]

[2016-08-30 23:25] #386 closed

[2016-08-30 23:27] bgrant0607 commented on #7365
see also #15844

[2016-08-30 23:29] bgrant0607 commented on #15844
Services are an important use case: #7365

[2016-08-30 23:32] eparis commented on #31723
I'm thinking of a situation in which I have 2 different types of storage inside my enterprise, neither with a dynamic provisioner. Maybe one is an array backed by ssds and one by spinning platters. I want users to be able to create PVC w/SC=gold and get the ssd and PVC w/SC=silver and get the spinning platters.

The fact that these are manually or dynamically provisioned is not at all relevant to

[2016-08-30 23:35] k82cn commented on #31702
@deads2k , agree :). I'm going to refactor function pointer into functions firstly (one by one); and then refactor `Factory` to be an interface.

For multiple interfaces as @smarterclayton , we can discuss it after those patches.

Any comments?

[2016-08-30 23:36] AdoHe commented on #31753
/cc

[2016-08-30 23:49] mikedanese commented on #31552
@derekwaynecarr

looks like ns controller never deleted this scheduled job. Possibly your change helps?

[2016-08-30 23:51] AdoHe commented on #31702
@k82cn @deads2k @smarterclayton actually we have discussed a lot about kubectl refactor in #7311 #31173, generally we want decouple command framework from command logical, we will try to create logical groups. I agree that we could promote those functions to typed functions, this could be a good start.

[2016-08-30 23:54] AdoHe commented on #30899
sure~

[2016-08-30 23:59] ixdy commented on #31697
@kargakis we see a lot of flakes in our PR runs. if this was a legitimate failure in the PR, the bot shouldn't have opened an issue.

[2016-08-31 00:00] pwittrock commented on #30287
@mikedanese Can you find this a home?

[2016-08-31 00:00] #31697 closed

[2016-08-31 00:05] saad-ali commented on #28709
@ceefour got in touch with me offline and I was able to confirm that he ran into #29358 (which is fixed in v1.3.6). I was able to unblock him using the workarounds mentioned in that issue.

[2016-08-31 00:05] AdoHe commented on #29876
[code]
I could support this.

And more importantly we should provide more status info in describe output. @xingzhou would you want to take a look?

[2016-08-31 00:06] lavalamp commented on #30632
I added a test in https://github.com/kubernetes/kubernetes/pull/31756 which passes, so it's not lying in the way I thought it might be.

[2016-08-31 00:12] girishkalele opened #31757 "Prevent leaking health check service node ports"
If a service with the ESIPP annotation is created, a health check node port is allocated (and the value stored in an annotation).

If, subsequently, the following cases happen, we need to free the health check node port back to the NodePortAllocator.

a) Service is deleted
b) The HealthCheckNodePort annotation is deleted.
c) The ESIPP annotation is deleted.
d) Both annotations are deleted.

[2016-08-31 00:42] saad-ali commented on #31723
I can buy that. If you don't have provisioners and still want to use storage classes, you should be able to.

Good point, my scenario requires cluster administrator to mark a Storage Class without a provisioner as default, which doesn't make sense. As you pointed out, blocking this behavior is not sufficient to prevent cluster admins from shooting themselves in the foot by, for example, creating b

[2016-08-31 00:45] apelisse commented on #31561
Good point ...

On Tue, Aug 30, 2016, 3:24 PM Anirudh Ramanathan <notifications@github.com>
wrote:

[2016-08-31 00:46] saad-ali commented on #29324
I don't see anything wrong with that particular bit of code either @jingxu97.

@justinsb the drift in this case is necessary because GCE is able to deterministically compute the expected device path for a given GCE PD, whereas AWS EBS device path's are non-deterministic, returned by the attach operation, and must be passed to kubelet/mount operations.

[2016-08-31 00:46] anguslees commented on #30477
Fixed for LBaaS v2 by https://github.com/kubernetes/kubernetes/pull/30649.

I suspect LBaaS v1 can't support multiple ports (not sure if reusing the VIP across multiple loadbalancers is a universally supported thing).  I also believe LBaaS v1 is also mostly gone in favour of v2 in deployments so trying to address this in v1 is extremely low priority unless someone steps forward to ask for it.

So:

[2016-08-31 00:46] spxtr commented on #31203
Fixed by https://github.com/kubernetes/test-infra/pull/475 I think.

[2016-08-31 00:46] #31203 closed

[2016-08-31 00:47] karlkfi commented on #31179
@fejta: Is this test auto-assignment new? I (and Mesosphere in general) haven't been actively involved in k8s development for the last 6 months.

[2016-08-31 00:48] anguslees commented on #6198
@kiall: Yes, we should close this issue now.

[2016-08-31 00:50] karlkfi commented on #31179
FWIW, I didn't write this particular test, but my name's on a ton of tests because I refactored test labels a while back.

[2016-08-31 01:03] Random-Liu commented on #30124
The test is marked as flaky already. And there is already an issue tracking this #29633.
Close this one.

[2016-08-31 01:03] #30124 closed

[2016-08-31 01:08] c-knowles commented on #30337
Happy to close this as duplicate so we have a single ticket.

[2016-08-31 01:13] cjcullen commented on #30962
Recent flakes appear to be jenkins weirdness: deleting clusters while they are being tested. I have @rmmh helping me look into it.

[2016-08-31 01:25] m1093782566 commented on #28718
/cc

[2016-08-31 01:25] bprashanth opened #31762 "PetSet fencing"
Jotting down some thoughts so we can start fleshing it out in time for 1.5.
## Problem

Currently petset uses ns/name as an implicit lock. So there are situation where we might:
- deleted a pod from the apiserver
- but the pod is still alive on the node
- and the petset controller has created another pod with the same name on another node
- and kube-dns has re-programmed dns to point pet-0 at this

[2016-08-31 01:26] bprashanth commented on #28718
fencing in https://github.com/kubernetes/kubernetes/issues/31762

[2016-08-31 01:42] m1093782566 commented on #31762
/cc @magicwang-cn

[2016-08-31 01:59] thockin commented on #31723
All SCs are provisionable, they just have variable latency, up to and
including waiting for storage admin to notice a pending claim, ordering a
disk from Amazon and racking it into a machine.

So the provisioner should be "manual" or "example.com/file-a-ticket".

On Aug 30, 2016 5:43 PM, "Saad Ali" <notifications@github.com> wrote:

I can buy that. If you don't have provisioners and still want to

[2016-08-31 02:34] bgrant0607 commented on #23397
@timstclair Is there anything left to do here?

[2016-08-31 03:44] AlexMioMio commented on #31762
/cc

[2016-08-31 03:47] roberthbailey commented on #7307
agreed

[2016-08-31 03:47] Random-Liu opened #31765 "Node E2E: stop-services option not working properly."
In node e2e, we have the `stop-services` option to keep the services running after test for further debug.

However, we set `Pdeathsig` to `SIGTERM` for the services, which means that once the parent exits, they will receive `SIGTERM` and exit with the parent if they don't trap the signal.
With this, `stop-services` option will never work.

If we still need this feature, we should not set `Pdeaths

[2016-08-31 03:51] ConradIrwin commented on #27721
I think I'm also seeing this (if not, please move this to a new issue). Using kubectl/master/nodes all 1.3.5 on Google Container Engine:

I have a replication controller with gracefulTermination set to 30s, and configured to keep 4 instances up:

[code]

Now I run `kubectl rolling-update backend --image=X --image-pull-policy=Always --update-period=1s` lots of times!

The first time it succeeds (ya

[2016-08-31 03:53] smarterclayton commented on #7365
Cockroachdb had an example of this surprising a user.

[2016-08-31 03:55] smarterclayton commented on #15844
PetSet index via downward API is blocked on us deciding a map syntax (jsonpath is my preferred approach).

I'd like to take and incremental step in 1.5 for annotations and labels at least - will raise that in the sig-apps 1.5 proposal

[2016-08-31 03:56] k8s-merge-robot opened #31766 "kubernetes-e2e-gke: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/14431/

Multiple broken tests:

Failed: [k8s.io] SSH should SSH to all nodes and run commands {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26129

Failed: [k8s.io] ScheduledJob should schedule multiple jobs concurrently {Kubernetes e2e suite}

[code]
Issues about this test specifically: #3165

[2016-08-31 04:04] MikeSpreitzer commented on #31062
One consequence is that the kube DNS application does not work.

[2016-08-31 04:06] ceefour commented on #31176
It's possible that because I ran into #29358 , this problem masked it.
Unfortunately I have been no longer using/trying readOnly PD.

On Wed, Aug 31, 2016, 06:06 Jing Xu <notifications@github.com> wrote:

[2016-08-31 04:14] #31305 closed

[2016-08-31 04:15] thockin opened #31768 "volume failure event has bad message"
The events I got:

[code]

The kubelet log:

[code]

One of these is better than the other.

[2016-08-31 04:36] thockin commented on #7365
Yeah, the utility of this might be nearing the end of its life, though a few are very special (KUBERNETES_SERVICE_HOST and friends).  Sadly, it will have to be opt-out for v1..

[2016-08-31 04:39] #6198 closed

[2016-08-31 04:47] thockin-cc commented on #6545
If you do that, then pod IPs are lost on traffic that goes to your own
network but isn't in your kube cluster.  Basically that rule is designed to
appeas the one-to-one edge NAT, which requires the source IP to be the VM's.

Are you saying that GCE's VPN is dropping pod traffic?

On Tue, Aug 30, 2016 at 2:52 PM, Bob Van Zant <notifications@github.com>
wrote:

[2016-08-31 04:59] bobveznat commented on #6545
I want the pods to get NATed before going back to my corporate network. Not
sure about everyone else but I'm unwilling to take an entire /14 and
dedicate it to a single k8s cluster (there are only 64 /14s in 10/8) and so
I do not route it anywhere. It's an island.

If we had ipv6 (we do, a /48 in total) my opinion might be different.

On Aug 30, 2016 9:48 PM, "thockin-cc" <notifications@github.com

[2016-08-31 05:03] jingxu97 commented on #31768
I plan to work surface the errors to event message, so also assign myself.

[2016-08-31 05:12] jim3ma commented on #31708
+1
Same issue.

[2016-08-31 05:12] #31537 closed

[2016-08-31 05:18] #19030 closed

[2016-08-31 05:43] ibotty commented on #31762
You don't mension partial netsplits. How are these going to be handled? Is the local petset container supposed to kill itself whenever it can't update the annotation? Who is going to do that (a local agent, like the kubelet)?

[2016-08-31 06:00] xiang90 commented on #31762
@bprashanth

One stupid question. You mentioned `but some clients are pointing at pet-0(2) and some at pet-0(1) because they haven't resolved dns.` in the issue. Can you explain why this is a problem in practice? We do not control DNS caching anyway, do we? If the any client connected to the old pod, what might happen? Do we have an example bad case in mind?

[2016-08-31 06:01] bronger commented on #29450
It's here: http://stackoverflow.com/questions/38536900/how-kube-apiserver-worked-on-binding-443-port-using-non-root

[2016-08-31 06:12] davidopp commented on #30272
Admission controller runs when client asks the API server to create, update, or delete a pod. So it's wouldn't work for this purpose. You'd need the client (e.g. introduce a pair of kubectl commands, or write your own simple client) to set the infinite forgiveness on every pod (and record the annotation) when initiating maintenance mode, and then re-set forgiveness and clear annotation to terminat

[2016-08-31 06:13] jingxu97 commented on #18761
@saad-ali @thockin could you please help answer what is the expected behavior?

[2016-08-31 06:18] anioool commented on #31496
Hi @kargakis,

We found that issue is on our side, and duplicated deployments wants cooperate with one Replication controller.

Sorry for mess.

[2016-08-31 06:18] #31496 closed

[2016-08-31 06:29] ibotty commented on #31762
It can lead to split brain. One client weites something to pet-0(1), another client writes something conflicting to pet-0(2).

[2016-08-31 06:32] xiang90 commented on #31762
Shouldnt the application itself handle this? What would be an example application that would be affected by this?

[2016-08-31 06:37] jingxu97 commented on #23615
Since the PR #24682 was closed without merge, could anyone point out which PR is for fixing this? What is the behavior that user should expect "pre-bound" claims? What is the status for refactoring the existing provisioner, binder, and recycler controllers

[2016-08-31 06:38] wojtek-t commented on #31105
It seems that this PR broke scalability:
https://github.com/kubernetes/kubernetes/pull/31614

I'm reverting it and will try to debug it offline.

[2016-08-31 06:45] wojtek-t commented on #30871
@caesarxuchao - it seems so. I think that the problem is probably with some caches. We should debug it at some point, but I would also like to get rid of "deserialization cache" soon, so we shouldn't spend more time on it no, in my opinion.

[2016-08-31 06:50] jeffvance commented on #23615
@jingxu97 I think this issue is resolved by the binder controller rewrite. @erinboyd or I will verify tomorrow.

[2016-08-31 06:55] jingxu97 commented on #24738
What is the status for this? From this doc https://github.com/kubernetes/kubernetes/blob/release-1.3/docs/devel/scheduler_algorithm.md, it looks like we support a few validations for storage. Should we consider adding more validation to avoid system entering in a unexpected state which is hard to work on?

[2016-08-31 06:57] jingxu97 commented on #24914
@saad-ali could we choose volume type in PVC?

[2016-08-31 06:59] uschtwill commented on #17205
@thelastworm: Disclaimer: I am really not an expert at this. But check if you have the VXLAN kernel module set up, and if not, try to install it. If your case is like mine and your hosting provider's VPS use a custom kernel that have problems with handling kernel modules, switching to a generic kernel might be the solution.

Checking for kernel modules: http://www.cyberciti.biz/faq/howto-display-l

[2016-08-31 07:10] jingxu97 commented on #22647
@saad-ali @thockin Do we plan to add some early validation in the system? I can think of some other related examples such as create a pod with direct use of a pd which does not exist. The creation can be failed instead of scheduling the pod and stuck in the "ContainerCreating" phase and also controller keeps trying to attach the non exist pd forever.

[2016-08-31 07:14] jingxu97 commented on #31176
@ceefour Thank you for your response. Since we fixed a few things recently in storage related part. If it is ok, could you please give a try for readOnly PD and let us know if you still have any problem? Thanks!

[2016-08-31 07:16] floreks commented on #31596
I've looked at this PR and it should fix this bug. Let us quickly retest it on HEAD and we'll get back with results.

[2016-08-31 07:18] tobegit3hub commented on #30572
Can you help to verify this? @justinsb

You can copy-and-paste the yaml files above and the docker image is already in docker hub.

[2016-08-31 07:33] k8s-merge-robot opened #31771 "kubernetes-e2e-gce-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/2050/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that NodeAffinity is respected if not matching {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28019

Failed: [k8s.io] SchedulerPredicates [Serial] validates that embedding the JSON PodAffinity and Pod

[2016-08-31 08:17] kargakis commented on #31702
A bunch of the functions already conform to specific kubectl interfaces so it seems that this should end up being an interface composed of other interfaces.

Remaining business logic that exists in the Factory should be factored out to interfaces in pkg/kubectl
Example that conforms to the above already:
https://github.com/kubernetes/kubernetes/blob/ebe733e46983b0201501a23a26d48a73f41fe04c/pkg/kub

[2016-08-31 08:23] floreks commented on #31596
I have tested it and I can confirm that this error does not occur anymore. Reconciler unmounts pod volumes after some time if they are not present in etcd but exist on the disk. After that they are correctly removed.

![zrzut ekranu z 2016-08-31 10-22-48](https://cloud.githubusercontent.com/assets/2285385/18121458/e59746e4-6f64-11e6-81b8-500a67554323.png)

![zrzut ekranu z 2016-08-31 10-15-35](htt

[2016-08-31 08:24] #31596 closed

[2016-08-31 08:28] etki commented on #30453
@bprashanth got it, thank you

[2016-08-31 08:36] enieuw commented on #30769
I ran into the same problem but as a temporary workaround I injected the vers=2.1 into the storage account key variable by creating my secret like this:
`echo -n "<accountKey>,vers=2.1" | base64`

[2016-08-31 08:41] luispabon commented on #27721
This definitely fits our usage pattern also, save for the fact we're using Kubernetes 1.2:
  * CD workflow (affected apps are redeployed with new images several times a day).
  * Horizontal autoscaling (affected apps frequently come under heavy load followed by periods of quiescence).

[2016-08-31 08:43] maciaszczykm commented on #28007
@bharaththiruveedula Are you still working on this? If not I'm willing to take over.

[2016-08-31 09:12] m1093782566 commented on #28706
/subscribe

[2016-08-31 09:21] xingzhou commented on #29876
yes, let me propose some solutions then.

[2016-08-31 09:25] k8s-merge-robot opened #31774 "[k8s.io] Docker Containers should be able to override the image's default arguments (docker cmd) [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31773/node-pull-build-e2e-test/22117/

Failed: [k8s.io] Docker Containers should be able to override the image's default arguments (docker cmd) [Conformance] {E2eNode Suite}

[code]

Happened on a presubmit run in #31773.

[2016-08-31 09:47] k8s-merge-robot opened #31775 "[k8s.io] Pods should have their auto-restart back-off timer reset on image update [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/8218/

Failed: [k8s.io] Pods should have their auto-restart back-off timer reset on image update [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27360 #28096 #29615

[2016-08-31 09:54] k82cn commented on #31068
The original requirement is to use reserved resources firstly; but I think we can extend it to other resources, e.g. revocable resources firstly. But I'm not sure which one is better: 1.) an parameter in k8sm-scheduler or 2.) an annotation in each YAML files.

[2016-08-31 09:58] jsafrane opened #31776 "e2e test build timed out"
See https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30825/kubernetes-pull-build-test-e2e-gce/56572/

[code]

[2016-08-31 10:07] bryk commented on #28007
I think that you can start work on this @maciaszczykm and collaborate with @bharaththiruveedula if they show up again.

[2016-08-31 10:30] jsafrane commented on #31723
So, summing up the discussion so far:

- `StorageClass.Provisioner` **must** be filled (and it's checked in validators)
- It should be possible to set it to some value that does not represent a volume plugin.
  - the volume controller now complains that it cannot find a volume plugin named "example.com/file-a-ticket"

This is very close to external provisioners as I proposed a while ago in #30285.

[2016-08-31 10:57] svanderbijl commented on #29324
@justinsb @saad-ali we configured a Kubernetes testcluster using our own Terraform setup. Controller + two workers, both in different AZ. We deployed 20 petsets to the cluster (each claiming a 1Gb volume). All the petsets do is write their container-id / hostname to the volume.

We then destroy both worker nodes and wait for new nodes to be created and the pods to be deployed. When completed we ve

[2016-08-31 12:11] dshulyak opened #31778 "eviction-hard setting doesnt prevent pods from being re-scheduled onto same node"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4+", GitVersion:"v1.4.0-alpha.2.1807+f80530c7f77e2f", GitCommit:"f80530c7f77e2fd272e6718b7d1754df0869d478", GitTreeState:"clean", BuildDate:"2016-08-29T12:08:57Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"4+", GitVersion:"v1.4.0-alpha.2.18

[2016-08-31 12:15] dgoodwin opened #31779 "JWS Discovery Service API Requirements"
As part of the ongoing sig-cluster-lifecycle work and the kubeadm utility that resulted, we have implemented a standalone JWS discovery service as a pod which kubeadm configures so other systems can run kubeadm and join the cluster. The discovery service pod expects to be passed the API CA certificate, API endpoints list, and a secure token as secrets when launched.

We hope to bring this service

[2016-08-31 12:30] unixbhaskar commented on #31708
Bumped into the same issue ... :( any clue??

`
bhaskar@Fedora_17:52:26_Wed Aug 31:~>kubectl describe hpa
Name:                           php-apache
Namespace:                      default
Labels:                         <none>
Annotations:                    <none>
CreationTimestamp:              Wed, 31 Aug 2016 17:49:10 +0530
Reference:                      Deployment/php-apache
Target CPU util

[2016-08-31 12:54] kargakis opened #31780 "Deployment controller fixes"
There are some issues in the deployment controller right now that need to be fixed in the short term:
- [x] Cache mutations: currently we mutate the replica set and pod caches. We should deep-copy only when we are going to mutate.
- [x] Share replica set and pod caches once we stop mutating.
- [ ] Deep-copy deployments only when we are going to mutate: currently we deep-copy deployments unconditio

[2016-08-31 12:55] kargakis commented on #17491
Closing in favor of https://github.com/kubernetes/kubernetes/issues/31780

[2016-08-31 12:55] #17491 closed

[2016-08-31 12:55] wojtek-t commented on #31105
All the scalability failures from last day are because of #31614 - that PR was reverted, and I fixed the problem in https://github.com/kubernetes/contrib/pull/1664 and built a new image. (I did some 100-node cluster tests locally and it worked fine after the change).
So I will send another bump.

[2016-08-31 12:55] dominikschulz opened #31781 "Reduce metrics cardinality"
Some of the exported prometheus metrics, e.g. `apiserver_request_count` include high-cardinality fields like the User-Agent. This creats a large number of time-series on the prometheus server is ususally not advised to do.

Please consider reducing the cardinality of the exported metrics.

[2016-08-31 13:05] soltysh commented on #28977
Guys sorry, I was out for two last weeks taking some time off. I'm hoping to pick this up when I get through the tons of emails in my inbox.

[2016-08-31 13:07] soltysh commented on #29698
It is a bug and see #22308 for reasons why it happened.

[2016-08-31 13:13] eparis commented on #31723
@thockin ok, so I'd like to see us jam a 'manual' provisioner into 1.4.  Sound good?

[2016-08-31 13:16] smarterclayton commented on #31702
Refactoring into functions would break valid uses in OpenShift (we
implement those).  So a partial refactor that leaves us without an
interface isn't an option.  I'd recommend going the other way, create an
interface, then turn those methods into it one by one.

On Tue, Aug 30, 2016 at 7:35 PM, Klaus Ma <notifications@github.com> wrote:

[2016-08-31 13:18] piosz opened #31784 "Master Metrics API available in api server"
Master Metrics API is implemented in Heapster #23376. It should be available in api server. The rough plan is to:
1. refactor Heapster to be api server by using generic api server library
2. set up discovery summarizer to work well with multiple api servers
3. set up clients to use discovery summarizer
4. change kubectl top/hpa to use it

I will send a proposal soon.

follow up #23376

[2016-08-31 13:19] timothysc commented on #2563
Closing this in favor of - https://github.com/kubernetes/application-images/pull/8

[2016-08-31 13:20] #2563 closed

[2016-08-31 13:21] piosz commented on #31784
@deads2k @smarterclayton @lavalamp @wojtek-t @fgrzadkowski @davidopp @erictune
@kubernetes/sig-instrumentation @kubernetes/autoscaling @kubernetes/sig-api-machinery

[2016-08-31 13:21] piosz commented on #23376
I created an issue #31784 for the further work

[2016-08-31 13:30] workhardcc opened #31785 "Can't access the container's resource when using several nginx proxy (svc type:nodeport)"
Hi all,
centos7.2, kube version:1.3.4
Found a very weird issue in my cluster:
1. Created a deployment which `replicas=1` meanwhile there is only one container in this pod. Nginx running in that container ,just a static web page(eg. "hello world").
2. Create a svc , type: nodePort: 30098.
3. minon: 10.99.1.1, 10.99.1.2; master:10.99.2.1; Using flannel .
It's very readily to access the "hello world"

[2016-08-31 13:37] liggitt commented on #28898
I thought secret volumes were forced read only. I wouldn't have expected a script in the container to be able to modify the files. @pmorie?

[2016-08-31 13:38] nwwells commented on #16296
Hi! Can we get a status check on this? I've just run into this issue, and I'm curious what our options are, and if there's anything we can do to help. FWIW, I've only been bothered by this issue in our development environment, which runs kubernetes on a VirtualBox (via docker-machine). It eats up battery pretty aggressively and keeps the fan spinning.

So, what can I do to help? And failing that,

[2016-08-31 13:47] smarterclayton commented on #31762
Proposal 1 should be forgiveness (forgiveness is an indication that you
tolerate disruption on the node).  Node controller should respect it.  If
we can verify that the implementation matches the expectation we're covered
there.

For proposal 2, I want to make the general statement that "All volumes are
responsible for owning their 'locks' for RWO, that the attach-detach
controller is the componen

[2016-08-31 13:54] wojtek-t commented on #31215
@dchen1107 - you mean "startupscript.log" from that particular node, right?

If so, I looked into logs and it seems that don't have those logs collected from gke runs. In particular these are logs coming from problematic (both kubelet, kubeproxy, kernel, etc.) mentioned in the first post in this bug:

81: https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke-l

[2016-08-31 14:03] stevesloka commented on #12742
Thanks @smarterclayton, I'm going to hack around a bit and see what I can come up with.

[2016-08-31 14:05] gmarek commented on #31341
This is caused by the way `scheduledCondition` is assigned for Pods created by a DeamonController. In case of "normal" Pods assigning Node to a Pod is done in the same time as setting `scheduledCondition`, for daemons DaemonController just assigns a Node, and it's a Kubelet that adds a `scheduledCondition` to it. This leaves some time between Pod creation (with already assigned Node) done by the D

[2016-08-31 14:09] m1093782566 opened #31788 "[Pet Set] Fix Get(pcb) logical breaking"
I think there is a logical breaking in petset, [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/petset/pet.go#L172-L173)

It only set `found` to `false` **only** if client receive an "Not Found" error, while keep `found` to `true` if client receive other type errors. I think it's a logical breaking and should fix it.

 Thanks!

[2016-08-31 14:35] doron-fediuck commented on #31762
What will be the consequence of network issues while using NFS?
So one node sees this in D-state. What happens next?

[2016-08-31 14:39] k82cn commented on #31702
@smarterclayton , do you mean OpenShift implements some additional cmd?

Try to refactor `Factory.Object` today: if moving it out of struct as function, the `cmd_test.go` should be also updated accordingly; but no idea for now on following test cases, maybe we need to create interface firstly, any suggestion?

[code]

BTW, it seems there's no test case in `facotry_test.go` for `Factory.Object`; I'

[2016-08-31 14:40] smarterclayton commented on #30395
I disagree strongly that current context is by pointing at different
kubeconfig files.  Users can and will want to jump between clusters, and
jumping between clusters will be a fundamental use case.  Forcing the user
to set env to switch or set a flag to switch is unintuitive and also a big
bar.  Typically you switch from context to context and stay in that context
for non-trivial amounts of time.

[2016-08-31 14:43] smarterclayton commented on #31762
NFS in RWM (read write many) should provide no guarantees.

I think it's reasonable to say that in the future it should be possible for
an NFS RWO PV (expected to be read by one user) to be "locked" by the
attach-detach controller in the same way that we expect local volumes to be
"locked" - bound to one node, and attach / detach has to unbind it.  That
allows node decisions (deletion) to control

[2016-08-31 14:46] #29820 closed

[2016-08-31 14:54] smarterclayton commented on #28706
Let's straw man what it would take to have PetSets be declarative config.  Without some deployment mechanism for that, we can't `kubectl apply` pet sets more than once, which i think is problematic.

For pet sets to be declarative, we either need a higher level resource, or we need a way to manage that on the petset.  We would need to rollback to a previous history.  Unlike deployments, running tw

[2016-08-31 14:55] smarterclayton commented on #28706
Rolling-upgrade is maybe ok for beta, but I really want to talk about the final design first and then walk back to rolling-upgrade.  Agree that we can probably solve rolling upgrade (have an external process manage the update).

[2016-08-31 14:57] justinsb commented on #30572
cc @resouer, @WIZARD-CXY can you please verify NodePorts work cross machine with ubuntu/flannel?

@tobegit3hub I'll give it a go when I have time, but I don't maintain this configuration.  For AWS you really should be using one of the AWS configurations (I do a lot of work on kops, so I naturally recommend it)

[2016-08-31 14:57] pmorie commented on #31272
@ncdc

Sure

Fine with me.

[2016-08-31 15:08] pmorie commented on #31272
@thockin @saad-ali @matchstick care to weigh in on this?  I would really like to fix this for 1.4.

[2016-08-31 15:08] pavels opened #31790 "Ceph : Unable to mount volumes for pod ... : rbd: image ext4-0002 is locked by other nodes"
Version

kubernetes v1.3.6

Description

All pods using a ceph persistent storage are in state :
Unable to mount volumes for pod ... : rbd: image ext4-0002 is locked by other nodes

Steps To Reproduce

All pods were running correctly on all nodes
A node crash during the week-end (don't know why wet)
Current Result

All pods using ceph persistent volumes are in this state.
On the ceph cluster, each

[2016-08-31 15:09] smarterclayton commented on #31753
The default today is return 403 - forbidden.   That is our behavior for any URL that is not found today when the auth engine is on, and is a good safe default.  There is a usability argument that we should return 404 to assist clients, so this is the classic security vs usability tradeoff.

[2016-08-31 15:17] resouer opened #31791 "[e2e node] /root/.ssh/google_compute_engine not accessible: No such file or directory."
I continually encountered this error when executing e2e node remotely by following https://github.com/kubernetes/kubernetes/blob/master/docs/devel/e2e-node-tests.md.

Did the doc miss some configuration steps? cc @Random-Liu

The full log is:

[code]

[2016-08-31 15:18] jmhodges opened #31792 "docs for PersistentVolume "capacity" field"
Currently, in the docs, the PersistentVolume's "capacity" field has the [schema of `object`](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#persistentvolumespec-v1-core) and [the PersistentVolume docs](http://kubernetes.io/docs/user-guide/persistent-volumes/#capacity) it links to do not describe the format of the capacity field, nor does [the Resource Model docs](https://gith

[2016-08-31 15:19] resouer commented on #31791
I'm not expert on GCE so I just fired a issue here, but please feel free to close it if anyone can make sure nothing is wrong.

[2016-08-31 15:24] thockin commented on #31723
What is a "manual" provisioner?  You mean the string constant?  Undecored
named ("manual" as opposed to "kubernetes.io/manual" are explicitly
reserved for end users, so Joe admin can jam whatever he likes in there..

On Wed, Aug 31, 2016 at 6:14 AM, Eric Paris <notifications@github.com>
wrote:

[2016-08-31 15:25] yujuhong commented on #31774
[code]

@Random-Liu Image pulling failure. Pre-pulling for images used in `e2e/common` should help as we talked.

[2016-08-31 15:43] jbhurat commented on #30278
Hi @brendandburns,
I started with trying out the above approach manually first to see the options available to make it work, and I have been able to make it work using the below approach. Please let me know your thoughts,

- Add Service IP to an existing network adapter

`netsh interface ipv4 add address <IF Index> <service-ip> <service-ip-mask>`
- Redirect `<service-ip>:<service-port>` to `<local

[2016-08-31 15:51] #31105 closed

[2016-08-31 16:01] brendandburns commented on #30278
Yeah, that seems like it should work, especially for an MVP.

I'm trying to connect w/ the Windows networking folks on this side to see what the replacement for netsh would be, but for now, let's just go with that.

Thanks!
--brendan

[2016-08-31 16:02] dchen1107 commented on #19477
Kubernetes drops support for docker 1.8.X, close the issue.

[2016-08-31 16:02] #19477 closed

[2016-08-31 16:02] jbhurat commented on #30278
Sounds good. Thanks

[2016-08-31 16:04] jasonmoo commented on #6545
Just to confirm what worked for me:

Setting up a /16 subnet in GCP and deploying a kube cluster to it with it's own /16.
10.10.0.0/16 - subnet
10.11.0.0/16 - kube cluster ip range
Then adding 10.10.0.0/15 to the routing table on the AWS side of the VPN.