[2017-09-04 05:56] JeanMertz commented on #50962
Thank you two for your response. We solved it by putting the whole script in a simple loop, so the container never stops. CronJobs would be wonderful, but are not available to us on GKE, unfortunately.

[2017-09-04 06:09] dixudx commented on #51883
@gyliu513 Just as the doc said,

You have not started an initializer controller. So

[code]

will exist in the deployment metadata. The initializer controller is responsible to make changes and remove such pending initializers afterwards.

I've introduced a new flag named `include-uninitialized` in #50497. You can issue such uninitialized objects by `kubectl get deploy --include-uninitialized`. PT

[2017-09-04 06:10] jamesawebb1 commented on #51241
Not at all.  I don't have any pressing need for this - I merely noticed the inconsistency.

[2017-09-04 06:54] choury commented on #51694
@m1093782566 the error of netlink is not "output message", but  syscall.Errno

[2017-09-04 06:55] gyliu513 commented on #51443
Dup with https://github.com/kubernetes/kubernetes/issues/49038

[2017-09-04 06:55] #51443 closed

[2017-09-04 06:57] gyliu513 commented on #49038
The `initializers` was now being used by isito to enable transparent injection (https://github.com/istio/pilot/pull/1104), it would be great to bump the `Initializers` admission control plugin to Beta to enlarge its adoption.

[2017-09-04 07:02] resouer opened #51884 "[DaemonSet] rejected pods are re-created too fast to get any log or event"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
I have a pod which is expected to be rejected by admission. It was rejected, and here's what I got:

[code]
But the problem is **the rejected pod is re-created too fast** by ds controller, I have no way to check the details (e.g. events) of those pods. For example, check which admission plugin is rejecting my pod.

A

[2017-09-04 07:06] resouer commented on #51884
I am thinking we may need to set a retry limit in DS if Pod keeps stay in `PENDING` status?

`PENDING` status usually means pod is stuck in some phase and worth to take a deeper look. It's meaningless to keep recreating it (will aways stuck)

[2017-09-04 07:06] lichuqiang commented on #51592
@jiayingz @vishh
I would like to help add  a node level admission handler for resource allocation if ok.
But here I have a doubt, that if we need to move the logic of updateAllocatedDevices in device_plugin_handle(that is: recalculate allocated resources with activepods retrieved everytime new pod comes in) here, or it's ok to process with current data?

[2017-09-04 07:09] gyliu513 commented on #51883
@dixudx Yes, that would help, but I still hope that we can provide some logs for troubleshooting.

[2017-09-04 07:20] gyliu513 commented on #49032
This was already fixed in https://github.com/kubernetes/kubernetes/pull/50497 , I think we can close this now. @ahmetb @dixudx

[2017-09-04 07:22] dixudx commented on #49032
@gyliu513 Yes. We've already implemented this. Please close it. Thanks.

[2017-09-04 07:30] rootsongjc commented on #38923
I encountered the same issue.
**kube-controller-manager logs**
[code]

[2017-09-04 07:33] gyliu513 commented on #49032
I think @ahmetb can help close.

[2017-09-04 07:55] tanjinfu commented on #48437
I've the same issue. and I'm using the version 1.6. @lin99shen could you please share how you restart the kube-proxy with the --override-hostname? As what I see on my cluster, the kube-proxy is a pod, I can delete it to have the k8s create a new one, but I can't pass the option to it.

[2017-09-04 08:10] luxas commented on #50986
hehe, yes, added it at the same time as everything else ;)

[2017-09-04 08:12] evmin commented on #41039
@soltysh - I have been hoping to see this one coming through with the release. Is it just a label issue or something else is required? Just asking...

[2017-09-04 08:17] jsafrane commented on #48431
Fixed by #49640

[2017-09-04 08:17] #48431 closed

[2017-09-04 08:18] jsafrane commented on #51738
kind/cleanup
priority/important-soon

[2017-09-04 08:21] resouer commented on #51884
@kubernetes/sig-apps-feature-requests

[2017-09-04 08:27] resouer opened #51885 "[kubeadm] Need to approve csrs after installation."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After:

[code]
`kubectl logs` won't work (tls error) unless manually approve csrs on master.

[code]

**What you expected to happen**:

Offline talked with @luxas , manual approve is not expected.

**How to reproduce it (as minimally and precisely as possible)**:

Standard `kubeadm init` is enough.

**Anything else we ne

[2017-09-04 08:29] Demonsthere commented on #38923
@jingxu97 I am using the yamls from https://github.com/kubernetes-incubator/external-storage/tree/master/ceph/rbd

controller:
[code]

pvc:
[code]

secrets:
[code]

storageClass
[code]

[2017-09-04 08:36] resouer commented on #51788
@dohnto It's kubernetes 1.7.5 build from release. No minikube but it should make no difference.

Both annotation and admission-control-config-file work in my env.

[2017-09-04 08:59] dohnto commented on #51788
You are right, I have tested with different versions of minikube and it seems to be fixed in `1.7.3` but not in `1.7.2`

[2017-09-04 09:02] dohnto commented on #51788
But I cannot find any Changelog note about that, maybe, it was fixed as a sideaffect. Closing now, thank you @resouer

[2017-09-04 09:02] #51788 closed

[2017-09-04 09:16] fgrzadkowski commented on #50599
@x13n I believe the fact that it's expected doesn't mean it's correct. Basically you're saying "working as implemented" ;) Let's make sure that heapster configuration is correct.

[2017-09-04 09:18] dixudx commented on #51850
@abitrolly You can `kubectl describe deploy depone` to find the root cause that blocks the creating of pods.

[2017-09-04 09:18] tengqm opened #51887 "tls-cert-file is stored at different locations for variants of apiservers."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Not all variants of api servers store the TLS cert files at /var/run/kubernetes. After the commit acba2cb was merged back in Feb, some variants such as kube-aggregator stores them at 'apiserver.local.config/certificates', but the hard-coded help message still says it will save the keys and certs generated into /var/run/kub

[2017-09-04 09:18] tengqm commented on #51887
/sig api-machinery

[2017-09-04 09:19] tengqm commented on #51887
@deads2k pls help confirm.

[2017-09-04 09:28] xiangpengzhao commented on #29911
@guangxuli are you interested in fixing this?

[2017-09-04 09:30] guangxuli commented on #29911
@xiangpengzhao of course, will do that.

[2017-09-04 09:36] mikebryant commented on #47589
@freehan Nope, we've never seen anything relevant in the logs

[2017-09-04 09:39] shiywang commented on #49586
hi @deads2k , I checked the code, seems defaulting is correct here: https://github.com/kubernetes/kubernetes/blob/1faa6f56b9c026b58d17e9163bf0b26a8b4086b4/pkg/api/v1/defaults.go#L43, I'm not sure when those two values turn into `false` when stdout is unset, BTW how do you check those values here ? through etcd ? Thanks

[2017-09-04 09:39] mikebryant commented on #47589
I'm going to close this for now, we're in the middle of upgrading everything to 1.7, will reopen if we hit it again

[2017-09-04 09:39] #47589 closed

[2017-09-04 09:44] dixudx commented on #51883
@gyliu513 Seems current initializer controllers are customized standalone processes to watch the new-born  resources, such as deployments. If the pending initializer names matched, the controllers will make some changes. It would be difficult to provide such logs, even warnings, if user creates the `initializerConfiguration` before `initializers controllers`.

Correct me if I'm wrong @ahmetb @caes

[2017-09-04 09:48] dixudx commented on #51881
/cc

[2017-09-04 10:07] kailashverma2402 commented on #39980
I am also getting the same issue :
Unable to connect to the server: dial tcp: lookup api.dev.abc.ioon x.x.x.x:xx  : server misbehaving

[2017-09-04 10:08] mccormd opened #51891 "NetworkPolicy: NodeSelector for Ingress/Egress rules"
/kind feature

**What happened**:

When defining NetworkPolicy, could we also have a nodeSelector so that we can define policy for pods/containers which run in the net=host network namespace on certain nodes?  This would allow us to define rules for access from pods such as ingress containers to pods on the nodes that they service.  Whilst it would be possible to set an NetworkCIDR rule it would b

[2017-09-04 10:08] mccormd commented on #51891
/sig network

[2017-09-04 11:27] jsafrane commented on #51431
Could we make the daemonset that creates PVs smarter? Now it creates PVs for local disks / directories. Should it sync PVs the other way around and either delete local PVs that don't have corresponding local disk / directory or mark them somehow as "unschedulable"?

[2017-09-04 11:36] zimbatm commented on #32273
The current official solution is to find the created LB and change the timeout manually: https://github.com/kubernetes/ingress/tree/master/controllers/gce/examples/websocket#change-backend-timeout
This is not very satisfying as k8s is quite dynamic and the provisioning happens asynchronously. Basically a cron job is needed to "fix" the value whenever a new LB appears.

[2017-09-04 11:37] zimbatm commented on #32273
related issue: https://github.com/kubernetes/ingress/issues/243

[2017-09-04 11:48] crassirostris commented on #51405
@amitkumarj441 Sorry, I don't understand the question/ask :(

[2017-09-04 11:52] cben commented on #30180
Has this been covered by #40848 /  kubernetes/community#363 with `?includeObject=Metadata`?

(not asking for anything, just wiki-walking some issues trying to figure out how they relate...)

[2017-09-04 11:53] vladimirvivien opened #51897 "CI Task pull-kubernetes-e2e-kops-aws causing AWS EBS storage limit exceeded error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]
See full log https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/50780/pull-kubernetes-e2e-kops-aws/46620/build-log.txt

Related PR seeing issue - https://github.com/kubernetes/kubernetes/pull/50780

**Environment**:
Kubernetes CI

[2017-09-04 12:04] vladimirvivien commented on #51897
/sig release

[2017-09-04 12:39] shyamjvs opened #51899 "`delete pods` API call latencies shot up on large cluster tests"
Updated issue description with latest findings:

#50350 introduced a change to kubelet pod deletion that results in `delete pod` API calls from kubelets being concentrated immediately after container garbage collection.

When performing a deletion of large numbers (thousands) of pods across large numbers (hundreds) of nodes, the resulting concentrated delete calls from the kubelets cause increased

[2017-09-04 12:39] amitkumarj441 commented on #51405
@crassirostris I want kubernetes components logs like kube-apiserver, kube-proxy, kube-dns, kubelet, kube-controller-manager, or kube-scheduler in journald basically I have to find where are getting their logs sent (at least some to journald) and structure Kubernetes logs them.
Please have a look in Kibana (on the sidebar), here I'm not getting any API tags(for kube-apiserver).

P.S.: You can find

[2017-09-04 12:41] shyamjvs commented on #51899
I'm trying to find the offending PR(s). The diff is too huge across those runs.
Luckily this is even seen on relatively smaller clusters i.e. on kubemark-500 - https://k8s-testgrid.appspot.com/sig-scalability#kubemark-500

[2017-09-04 12:41] tao-zhang commented on #49804
I ran into the same issue:
`kubectl get pods` - No resources found.
`kubectl get pods --all-namespaces` that works.

Any idea on this?

[2017-09-04 12:42] wojtek-t commented on #51899
My strong feeling is that it may be related to pagination.

If I'm right, https://github.com/kubernetes/kubernetes/pull/51876 should hopefully fix the problem.

@smarterclayton

[2017-09-04 12:42] wojtek-t commented on #51899
But this is mostly a guess and it may also be something different.

[2017-09-04 12:43] shyamjvs commented on #51899
@kubernetes/test-infra-maintainers We don't have any logs (except the build-log from jenkins) for run-26 of `ci-kubernetes-e2e-gce-scale-performance` because jenkins crashed midway in the test:

[code]

[2017-09-04 12:43] crassirostris commented on #51405
See https://github.com/kubernetes/kubernetes/issues/39800 for details why it's not currently possible in some setups

You can always configure system components to log to stdout in your setup and configure the container runtime to send logs from containers to journald

[2017-09-04 12:48] shyamjvs commented on #51899
@wojtek-t We're also seeing increase in the patch latencies. So there probably is another regression too?

[2017-09-04 12:55] shyamjvs commented on #51899
Till run 8132, kubemark-500 seemed fine:

[code]

We had some startup failures in b/w and it seems to shot up starting from run 8141:

[code]

Looking at the [diff](https://github.com/kubernetes/kubernetes/compare/61bc3aa56...44c518218) right now.

[2017-09-04 13:00] m-no-2017 commented on #49804
<pre><code>kubectl get pods</code></pre>
Shows the "default" namespace. If you don't have any workloads running in the default namespace you don't see anything.

Specify a namespace and try it again.
The standard namespaces are kube-system and default, so try
<pre><code>kubectl -n kube-system get pods
kubectl -n default get pods</code></pre>

PS: the flag "-n" is also shown as "--namespace" in som

[2017-09-04 13:02] wojtek-t commented on #51899
Another possiblity (that you mentioned to me offline) is:
https://github.com/kubernetes/kubernetes/pull/48287

I initially doubted about it, but now when I think about it, maybe it's about memory allocations (I didn't look carefully, but maybe it's much higher with json-iter)?

@thockin - FYI (still just my guess)

[2017-09-04 13:03] smifun opened #51901 "LivenessProbe Timeout doesn't work for exec probes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When timeoutSeconds is defined on livenessProbe which is of type exec, if command takes longer than defined time container is not classified as unhealthy.
**What you expected to happen**:
I expect probe to report unhealthy container (visible in pod events) and restart to happen.
**How to reproduce it (as minimally and pre

[2017-09-04 13:04] wojtek-t commented on #51899
Anyway - @shyamjvs we need more data about what other metrics has changed (cpu usage, allocations, number of API calls, ...)

[2017-09-04 13:07] shyamjvs commented on #51899
After eliminating trivial and unrelated PRs, the following are left:
- Revert "CPU manager wiring and `none` policy" #51804 (I think this one is only affecting kubelet, so unlikely)
- Split APIVersion into APIGroup and APIVersion in audit events #50007 (this one's just affecting audit events)
- Use json-iterator instead of ugorji for JSON. #48287 (I'm most suspicious about this)
- add information

[2017-09-04 13:08] shyamjvs commented on #51899
Yup.. I'm doing some local experiments to verify this. Also merged https://github.com/kubernetes/kubernetes/pull/51892 to start getting kubemark master logs.

[2017-09-04 13:08] rtmie commented on #38923
@rootsongjc can you share the K8S deployment for the rbd-provisioner?

[2017-09-04 13:14] rtmie commented on #38923
@demonsthere that looks like a problem on your ceph server. Have you tried creating an RBD volume with the ceph client tools and mounting it.

[2017-09-04 13:15] sbezverk commented on #38923
@rtmie Please check this link: https://github.com/kubernetes-incubator/external-storage/tree/master/ceph/rbd
I have not tried it personally, but it should work.

[2017-09-04 13:16] smifun commented on #51901
@kubernetes/sig-apps-bugs

[2017-09-04 13:18] rtmie commented on #38923
@sbezverk thanks, I do not have any issues with my setup, just answering someone else.

[2017-09-04 13:30] mperezco commented on #51405
In the current deployment the services are started by systemd as "origin-node" and "origin-master".
The logs can be seen in journald, as for example all access to API to kubernetes master.
Please note that in this case we are not looking for any log coming from a container, but from a service, and that they are all delivered via journald.

[2017-09-04 13:36] yastij commented on #51709
reopening this one, ping  @justinsb @shyamjvs

[2017-09-04 13:39] idvoretskyi commented on #51841
@luxas we have a kubeadm-related feature tracking issue at the features repo - https://github.com/kubernetes/features/issues/11.

Any updates planned for 1.8 to be reflected at the features repo?

[2017-09-04 13:44] Demonsthere commented on #38923
@rtmie I was able to mount the volume created by k8s (rbd map) manually

[code]

[2017-09-04 14:12] igorleao commented on #51835
Hi @resouer and @dixudx
I'm not sure. Looking at kubelet logs for a different pod with the same problem, I found:
[code]

As you can see, this cluster has Calico for CNI.
I brings my attention the following lines:
[code]

Is there a better way find out which phase your pod is stuck?

`kubectl delete pod xxx --now` seems to work pretty well, but I really wish to find out its root cause and avoid hu

[2017-09-04 14:30] igorpeshansky commented on #50845
@tlbdk Unfortunately, we don't have an ETA on the fixes. As a workaround, you could add a custom logging agent config in your cluster that truncates long log lines. This will lose automatic updates of the logging agent DaemonSet in the cluster.
The configuration will need the following additional snippet (untested):
[code]
This will indiscriminately truncate long lines, likely resulting in malform

[2017-09-04 14:49] shyamjvs opened #51903 "Few hollow-nodes failing to start in kubemark-500 runs flakily"
Some of the runs in kubemark-500 are failing during the "Kubemark Up" step - https://k8s-testgrid.appspot.com/sig-scalability#kubemark-500 (neglect other failures where startup went fine).

Few hollow-nodes are crashlooping in those runs (for e.g https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/8203/build-log.txt):

[code]

I tried running it locally and it's r

[2017-09-04 14:55] yastij commented on #51692
reopened #51709 since this is happening again

[2017-09-04 14:56] #51120 closed

[2017-09-04 15:06] liggitt commented on #51709
symptom appears different now:
[code]

possibly https://github.com/kubernetes/test-infra/issues/4361

[2017-09-04 15:08] liggitt commented on #51692
it appears to be a bringup error, not related to the cronjob tests that I can see

[2017-09-04 15:11] k82cn commented on #44188
priority/important-longterm

[2017-09-04 15:13] luxas commented on #51885
@resouer I need way more information (csr details, controller-manager logs and args, join command, etc)
Also you need to reopen this in the kubeadm repo :smile:

[2017-09-04 15:13] #51885 closed

[2017-09-04 15:24] dixudx commented on #51835
[code]

Seems `kubelet/mount` failed to mount configmap as a volume due to such file renaming.

@igorleao Is this reproducible? Or it is just not that stable, happening occasionally. I've met such errors before, just to make sure.

[2017-09-04 15:25] mikebryant commented on #51331
/priority critical-urgent

[2017-09-04 15:25] mikebryant commented on #51012
/priority critical-urgent

[2017-09-04 15:32] gmarek commented on #51899
Can you grab CPU profile from the master when running test? It should help you with figuring out the cause.

[2017-09-04 15:33] gmarek commented on #51899
Adding release team: @jdumars @calebamiles @spiffxp

[2017-09-04 15:40] javipolo commented on #47131
@xiang90 I cannot label this issue, but the correct labels should be 'kind/bug' and 'priority/important-soon'

Can you label the issue or tell me how should I do it?
Thanks

[2017-09-04 15:50] notxcain opened #51907 "Alternating rolling update order for StatefulSets"
/kind feature

Currently Kubernetes performs rolling updates for `StatefulSet`s in reverse ordinal order.
There are clustered systems (like [Akka](http://doc.akka.io/docs/akka/2.5/java/cluster-singleton.html)) that keep leaders on the oldest cluster node.
For such systems it's essential to perform rolling update from youngest to oldest nodes, to avoid unnecessary leader migration.
In Kubernetes th

[2017-09-04 15:53] liggitt opened #51908 "TestRoundTrip flakes"
possibly related to https://github.com/kubernetes/kubernetes/pull/51797 or https://github.com/kubernetes/kubernetes/pull/51719

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/51904/pull-kubernetes-unit/51796/artifacts/junit_f7172f2cb122b44f1a8919fff68dd59e6d916b66_20170904-152944.stdout

[code]

[2017-09-04 15:54] notxcain commented on #51907
/sig apps

[2017-09-04 15:55] ianchakeres commented on #51431
@jsafrane - I like the idea of the local PV provisioner keeping Kubernetes informed of the actual state of local storage.

@msau42 - There are non-ephemeral situations that will likely run into this issue. For example, on bare-metal a disk or server may be replaced. This replacement is likely to result in a disk mounted at the same location and a host with the same node name.

[2017-09-04 15:57] liggitt commented on #51908
@kubernetes/sig-auth-test-failures

[2017-09-04 16:20] xiang90 commented on #47131
@javipolo @liggitt

There are two different issues mentioned in this thread:

1. timeout
2. mvcc: required revision has been compacted

2 is normal. We should change API server error logging to make it a warning or even a debug logging.

Can someone provide a way to reproduce of the timeout issue? I have not seen this behavior in our clusters.

[2017-09-04 16:34] javipolo commented on #47131
@xiang90 in my case by just restarting etcd servers I can randomly trigger the issue ....

[2017-09-04 16:47] tsloughter commented on #32273
Yea, why is this still closed? Is it blocked by kubernetes/ingress#243 ? If so it can still be opened until the time it is unblocked.

[2017-09-04 17:05] igorleao commented on #51835
@dixudx it happens several times a day for a certain cluster. Others clusters created with the same verstion of kops and kubernetes, in the same week, work just fine.

[2017-09-04 17:54] liggitt opened #51910 "Removing dynamic resource during e2e disrupts unrelated namespace cleanup"
https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&text=unable%20to%20retrieve%20the%20complete%20list%20of%20server%20APIs

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51909/pull-kubernetes-e2e-gce-etcd3/52487/#sig-network-services-should-provide-secure-master-service-conformance

The e2e framework cleanup does resource discovery to try to ensur

[2017-09-04 18:37] liggitt opened #51912 "APIServices auto-register controller duels on HA apiserver upgrades"
Working through HA upgrade scenarios from 1.7 -> 1.8, I found several situations the current APIService auto-register controller does not handle well:

Health vs liveness:
* Problem: The apiserver health check that waits until local APIServices are registered and available should not go unhealthy if those APIServices are later removed.
* Solution: Make the health check a no-op once it has complete

[2017-09-04 19:13] #51908 closed

[2017-09-04 19:26] vladimirvivien commented on #51897
/sig testing

[2017-09-04 19:37] liggitt commented on #51424
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51277/pull-kubernetes-e2e-gce-etcd3/52504/#k8sio-resourcequota-should-create-a-resourcequota-and-capture-the-life-of-a-persistent-volume-claim-with-a-storage-class-sig-storage

[2017-09-04 19:38] caseydavenport commented on #48510
This didn't make it into v1.8.

I'd appreciate reviews on #48970 - still looking for input into whether that's the right approach.

[2017-09-04 19:40] caseydavenport commented on #48510
/priority important-soon

[2017-09-04 20:21] davidopp commented on #51331
@bsalamat @wojtek-t

[2017-09-04 20:39] shyamjvs commented on #51899
So I fetched the CPU & memory usage for the load test from the last > 200 runs of kubemark-500, and I don't see any noticeable increase. Actually it appears like it improved:

![cpu_usage](https://user-images.githubusercontent.com/4333971/30038131-dfdab8dc-91c1-11e7-886f-cd85a5d867ec.png)

![mem_usage](https://user-images.githubusercontent.com/4333971/30038148-e4dd856c-91c1-11e7-8d90-2bcf98222bb3.

[2017-09-04 20:45] shyamjvs commented on #51899
There are some consecutive failed runs (due to testinfra bugs / regressions) leading to missing points or temporary spikes... Neglect the noise

[2017-09-04 20:47] pydevops commented on #6545
@tonglil hi Tony, just curious if you end up implemented the DS way of adding iptables for SNATing the pod IP to node IP on GKE. thanks.

[2017-09-04 21:23] shyamjvs commented on #51899
I ran the tests locally on kubemark-500 against head (commit ffed1d340843ed) and it went through fine with low latency values like before. Re-running again to see if it's flaky. I'll continue digging into it tomorrow.

[2017-09-04 22:14] #51700 closed

[2017-09-04 22:24] zimbatm commented on #32273
The ingress development has been split to that other repo so the open issue over there is probably enough. You can see that a lot more discussion has been happening on the other issue already.

[2017-09-04 23:13] #47366 closed

[2017-09-04 23:30] nilebox opened #51917 "client-go REST decoding into wrong type"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
client-go REST method `Into` returns nil if a different type of object is returned.

**What you expected to happen**:
error informing about incompatible type returned

**How to reproduce it (as minimally and precisely as possible)**:
if an object of wrong type is passed into method `Into` decoding the result in https://gi

[2017-09-04 23:33] nilebox commented on #51917
/sig api-machinery

[2017-09-04 23:43] tallclair commented on #40248
I think we have a good grasp on the policy, but it's not being enforced sufficiently. I'll close this one, and follow up once we have a better mechanism in place.

[2017-09-04 23:43] #40248 closed

[2017-09-05 00:09] smarterclayton commented on #51899
Unless you've turned on all alpha features on kubemark you shouldn't have
seen an increase with pagination (which is sounds like further
investigation eliminated).  If you did turn on alpha features on kubemark
that's exactly the validation I was looking for with chunking (that no
regression occurred), which is good.  Chunking would increase average
latency but should decrease tail latency in most

[2017-09-05 00:10] smarterclayton commented on #30180
Yes, still alpha in 1.8.  Likely to be promoted to beta in 1.9.

On Mon, Sep 4, 2017 at 7:53 AM, Beni Cherniavsky-Paskin <
notifications@github.com> wrote:

[2017-09-05 00:23] liggitt commented on #50695
this continues to affect us in myriad ways. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51915/pull-kubernetes-e2e-gce-etcd3/52532/ failed namespace cleanup because the node hosting an add-on server crashed with this bug

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/51915/pull-kubernetes-e2e-gce-etcd3/52532/artifacts/e2e-52532-minion-group-7rs9/kubelet

[2017-09-05 00:34] dixudx commented on #51917
I don't think this is a bug. Just as the comment said,

	// the object.

it will only check that if the status is `StatusSuccess`, and return an error if not. For other types, default to return nil.

[2017-09-05 00:36] yu-yang2 opened #51919 "Node NotReady with PLEG issues"
**Is this a BUG REPORT or FEATURE REQUEST?**: bug

**What happened**:
I have a k8s cluster with 104 nodes, after running a load test about 8000 pods, then I delete all test pods, some of the nodes keep flapping between `Ready` and `Notready` states with kubelet shows some PLEG issues, and keep flapping forever:
[code]
**What you expected to happen**:
no notready nodes
**How to reproduce it (as min

[2017-09-05 00:40] yu-yang2 commented on #51919
/sig node

[2017-09-05 01:16] lichuqiang commented on #51884
+1 I met the same situation

[2017-09-05 01:30] cmluciano commented on #42261
Should be covered by  #42104

[2017-09-05 01:31] cmluciano commented on #42261
/assign
/close

[2017-09-05 01:31] #42261 closed

[2017-09-05 01:34] cmluciano commented on #9914
I think this may be covered by cloudprovider’s interfaces. Is there anything left here?

[2017-09-05 01:36] cmluciano commented on #9401
Closing due to inactivity

[2017-09-05 01:36] #9401 closed

[2017-09-05 01:38] cmluciano commented on #31916
@girishkalele Are you still interested in working on this?

[2017-09-05 01:40] cmluciano commented on #28664
Should be covered by #42104

[2017-09-05 01:40] #28664 closed

[2017-09-05 01:42] cmluciano commented on #27718
@kubernetes/sig-aws-misc

[2017-09-05 01:43] cmluciano commented on #44775
@kubernetes/sig-azure-misc

[2017-09-05 01:47] Lion-Wei opened #51920 "kube-proxy ipvs mode can't corresponding change chain when endpoint changed"
## Issue

Recently I have been testing ipvs mode of kube-proxy, here is the testing step:

1. Run local-up
2. Change kube-proxy to ipvs mode by changing kube-proxy.yaml
3. Create pods by ReplicationController
4. Create corresponding service
5. Use `kubectl` to see endpoint information
6. Use `ipvsadm` to see ipvs information

When I create a service, normally kube-proxy can create the right chain,

[2017-09-05 01:47] cmluciano commented on #45173
@kubernetes/sig-aws-misc

[2017-09-05 01:49] cmluciano commented on #44078
@kubernetes/sig-aws-misc

[2017-09-05 01:50] cmluciano commented on #39421
@kubernetes/goog-gke

[2017-09-05 01:51] cmluciano commented on #23384
Closing due to inactivity

[2017-09-05 01:51] #23384 closed

[2017-09-05 01:54] cmluciano commented on #27375
Cc @nicksardo Is this still relevant?

[2017-09-05 01:56] cmluciano commented on #27975
Is this still happening @yifan-gu

[2017-09-05 01:58] cmluciano commented on #13535
Is this still relevant?

[2017-09-05 01:59] cmluciano commented on #2856
Cc @kubernetes/sig-network-feature-requests

[2017-09-05 02:00] xingzhou commented on #51901
similar one to #43811?

[2017-09-05 02:01] #17906 closed

[2017-09-05 02:06] cmluciano commented on #15990
Is this still relevant?

[2017-09-05 02:09] cmluciano commented on #16371
Seeing many of these covered now https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/

[2017-09-05 02:09] #16371 closed

[2017-09-05 02:20] lichuqiang commented on #51901
Seems the ultimate exec func received the "timeout" parameter but not used, I'll try to fix it

[2017-09-05 02:23] tengqm commented on #50817
#12245

[2017-09-05 02:42] #51738 closed

[2017-09-05 03:09] justinsb commented on #51709
The good news is that this appears to be test-infra, not real.  Tests I have run myself are passing apart from the 3 known failures (nodeports, dashboard, HPA not configured the same way) https://k8s-testgrid.appspot.com/kopeio#kopeio-aws

[2017-09-05 03:10] justinsb commented on #51897
test-infra issue is https://github.com/kubernetes/test-infra/issues/4361

[2017-09-05 03:17] dixudx commented on #51884
@resouer  Which plugin are you using. I tested using `ResourceQuota`, it works as expected.

[2017-09-05 03:19] davidopp commented on #2856
@kubernetes/sig-scheduling-feature-requests

[2017-09-05 03:53] vklonghml opened #51924 "[QUESTION]e2e test failed with "unexpected error (code: 0) in ssh connection to master""
**Is this a BUG REPORT or FEATURE REQUEST?**:

## 1.**What happened**:
when i run e2e test with command (go run hack/e2e.go -v --test --test_args="--ginkgo.focus=\[Feature:Performance\]"), i got error mesage below:

##   2.Expected error:
      <*errors.errorString | 0xc4209d4c30>: {
          s: "unexpected error (code: 0) in ssh connection to master: &errors.errorString{s:\"error getting SSH cli

[2017-09-05 04:13] TinySong commented on #38923
hi,how to use global secret for storageclass between diffent namespaces ?

[2017-09-05 04:15] Lion-Wei commented on #51920
@m1093782566

[2017-09-05 04:24] resouer opened #51926 "[Flexvolume] unmount() is skipped and left metadata file uncleaned"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:

~~Flexvolume will call `os.Remove()` to cleanup the mount directory. This will return error when there're files in the mount directory.~~

But in [some implementation of flexvolume](https://github.com/kubernetes/frakti/blob/master/pkg/flexvolume/flexvolume.go), we need to write a file to store some metadata since fl

[2017-09-05 04:35] k82cn commented on #2856
Interesting requirement! Can we make such requirements be pluggable? AFAIK, @derekwaynecarr is working on making Quota supporting all k8s kinds/types.

[2017-09-05 04:41] dixudx commented on #51891
@mccormd why not add `hostNetwork=true` to podSpec when creating new pods.

Current k8s does provide an alternative. You can start your own [initializer controller](https://kubernetes.io/docs/admin/extensible-admission-controllers/) to handle such changes automatically, e.g. adding `hostNetwork=true` to podSpec. You only need to append below metadata to your spec. Or create an `initializerconfigur

[2017-09-05 05:14] resouer commented on #51884
@dixudx It's about rejected pod is re-creating too fast without frequency limit

[2017-09-05 05:45] jeffvance commented on #28367
kind/cleanup

[2017-09-05 05:49] MuskanGarg23 commented on #51624
Thanks Team!!!
Anyway this issue has been resolved.

Below are the steps:
Service account entry was not present. Checked with the below command:

$oc describe scc anyuid

After creating the service account and following with the below command
oc adm policy add-scc-to-user anyuid -z proptimadb

Entry was created and resulting in prepared db came into running state.

[2017-09-05 05:52] tengqm opened #51930 "kube-aggregator help message needs improvement"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]

**What you expected to happen**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:
As above.

**Anything else we need to know?**:
No.

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.

[2017-09-05 05:53] dixudx commented on #51849
@davecheney  You need to run bazel to generate [`zz_generated.openapi.go`](https://github.com/kubernetes/kubernetes/blob/master/pkg/generated/openapi/def.bzl#L18), that's   where `GetOpenAPIDefinitions` is defined.

[2017-09-05 05:59] davecheney commented on #51849
Is it possible to include all the generated files with the source tarball?

On Tue, Sep 5, 2017 at 3:53 PM, Di Xu <notifications@github.com> wrote:

[2017-09-05 06:03] dixudx commented on #51849
Since these files can be generated, there is no reason to add such unnecessary files.

[2017-09-05 06:04] davecheney commented on #51849
It would be great to be able to build from the distributed source alone.

On Tue, Sep 5, 2017 at 4:03 PM, Di Xu <notifications@github.com> wrote:

[2017-09-05 06:07] dixudx commented on #51849
You can running `make release` from the source code.

[2017-09-05 06:11] felixPG commented on #50463
Hi:

Same in 1.7.4 with glusterfs 3.10.2 as you can see in the following logs:

[code]

[2017-09-05 06:13] davecheney commented on #51849
Will do. Thanks for your time.

[2017-09-05 06:13] #51849 closed

[2017-09-05 06:23] felixPG opened #51933 "glusterfs plugin fail at mount time in 1.7.4"
/kind bug

**What happened**:

Glusterfs plugin fail mounting volume at container creation in k8s 1.7.4:

[code]
**What you expected to happen**:

Glusterfs mount the volume with auto:unmount off when a previous mount fail with this option. Is a warning but rise a mount loop and the container never start.

**How to reproduce it (as minimally and precisely as possible)**:

1. Deploy glusterfs and h

[2017-09-05 06:25] FengyunPan commented on #51933
/sig storage

[2017-09-05 06:35] innovia commented on #20255
one caveat on activeDeadlineSeconds, if your job is depending on capacity controlled by the cluster autoscaler you might be killing the job before a new instance is up and ready

[2017-09-05 06:42] resouer commented on #51885
@luxas  No need, this can not be re-produced in fresh new installed cluster. It should be related to my env. Thanks!

[2017-09-05 06:44] napat1412 commented on #12624
When i run kube-apiserver v1.6.6 with service-cluster-ip-range=10.0.0.0/8. I got error

Error: specified --service-cluster-ip-range is too large

I hit this problem again. Kube-apiserver v1.6 & v1.7 have code

	errors := []error{}
	if options.ServiceClusterIPRange.IP == nil {
		errors = append(errors, fmt.Errorf("no --service-cluster-ip-range specified"))
	}
	var ones, bits = options.ServiceCluste

[2017-09-05 06:44] CaoShuFeng commented on #47165
Fixed by https://github.com/kubernetes/kubernetes/pull/50381

[2017-09-05 06:44] #47165 closed

[2017-09-05 06:59] 3792274 opened #51934 "Can't Start Kubelet Unit"
**What happened**:
Can't start kubelet

**What you expected to happen**:
systemctl start kubelet

**How to reproduce it (as minimally and precisely as possible)**:
[code]
 **error: failed to run Kubelet: cannot create certificate signing request: User "system:anonymous" cannot create certificatesigningrequests.certificates.k8s.io at the cluster scope.**

**Anything else we need to know?**:
[code]

[2017-09-05 07:03] Lion-Wei commented on #51920
/sig network

[2017-09-05 07:19] dixudx commented on #51778
@tamalsaha This bug did exist on v1.7.2, but not exclusively. It gets fixed on master branch.

[code]
I think this issue can be closed.

[2017-09-05 07:29] resouer commented on #51934
How did you installed your cluster? It seems to be blamed :)

[2017-09-05 07:31] resouer commented on #51785
This is no longer a bug, will close it. Feel free to re-open it whenever you encounter same issue again. Thanks!

[2017-09-05 07:31] 3792274 commented on #51934
@resouer
i use the brinary release version to install cluster

[code]

[2017-09-05 07:32] zouyee commented on #49556
update  findutils

[2017-09-05 07:35] dixudx commented on #51764
@dfang Have you tried `kubectl delete deployment tiller-deploy -n kube-system --now`?

From the log, it seems `kubectl` is waiting for the controller's status (like observedGeneration, replicas etc) to update.

[2017-09-05 07:38] 3792274 commented on #51934
**as this can start kubelet unit success：**
[code]

[code]

but it this will have any other problem？and ，**--api-servers has been deprecated**  is still working in v1.6.* ?

[2017-09-05 07:40] dixudx commented on #51756
/cc

[2017-09-05 07:42] resouer commented on #51331
@mikebryant How did you install `kube-scheduler`? Could you please provide yaml for that?

[2017-09-05 07:59] jsafrane commented on #51431
@ianchakeres - I think if it's a different disk it should have a different PV. You should include serial number of the disk or something similar in its name.

[2017-09-05 08:00] piosz commented on #51702
@loburm could you please take a look?

[2017-09-05 08:06] piosz commented on #50148
Thanks everyone for your feedback!

[2017-09-05 08:06] #50148 closed

[2017-09-05 08:10] piosz commented on #30999
@mwielgus isn't this obsolete?

[2017-09-05 08:15] startopscollab opened #51939 "error validating data: the server could not find the requested resource;"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**: When I did kubectl create -f  cronjob.yaml I got following message

error: error validating "cronjob.yaml": error validating data: the server could not find the requested resource; if you choose to ignore these errors, turn validation off with --validate=false

**What you expected to happen**: Creating of cron job

**How

[2017-09-05 08:15] dekhtyarev commented on #51516
Maybe we are faced with the same problem.

Kubelet Parameters for tests:
[code]

When we reach a disk consumption of 20% (for debug) - after 2 minutes, the deletion of logs, image docker, and then PODS should begin.
But nothing happens.

The debug logs kubelet saw the following:
[code]
Problems are observed in the versions 1.6.X, 1.7.X

In version 1.5.7, it looks like this:
[code]

Can you help us

[2017-09-05 08:52] startopscollab commented on #51939
kubectl create -f  cronjob.yaml --validate=false
error: unable to recognize "cronjob.yaml": no matches for batch/, Kind=CronJob

[2017-09-05 09:14] #51717 closed

[2017-09-05 09:16] huzhengchuan commented on #51787
you can look this #50770 to check your environment.
set  --system-reserved-cgroup=/system and execute cmd " find /sys/fs/cgroup -name "system.slice""  to make sure system.slice exist.

[2017-09-05 09:27] mikebryant commented on #51331
Originally using bootkube
Current manifest:
[code]

[2017-09-05 09:34] spradeepv commented on #47723
priority/important-soon

[2017-09-05 09:35] spradeepv commented on #47723
kind/bug

[2017-09-05 09:37] bhavishyagopesh commented on #42950
@Ch3ck   If you agree, I too would like to work on this...
@sttts I did this yr's GSoC with PSF and have been a  k8s user but would now like to contribute too(may be build up for next yrs GSoC)... So I understand the issue at the surface but would like to know the present state and interest? thanks

[2017-09-05 09:42] verb commented on #48937
Update: #51634 is pending review and should be added to the v1.8 Milestone to resolve this issue.

[2017-09-05 09:45] shyamjvs commented on #51717
@verult Thanks a lot for fixing this!

[2017-09-05 09:54] dixudx commented on #49135
/priority important-soon

[2017-09-05 09:57] dixudx commented on #49158
/kind feature
/priority important-soon

[2017-09-05 10:03] shyamjvs commented on #51899
Ok... So the reason for kubemark failing is different. As @wojtek-t pointed out, the kubemark master is not rightly sized.
I recently made some changes in test-infra around auto-calculation of kubemark master-size and seems like it didn't take effect.

[2017-09-05 10:04] chihangc commented on #42298
Agree. A lot of images like mongo expose the port. Forwarding 127.0.0.1 can't help

[2017-09-05 10:06] shyamjvs commented on #51899
Btw - that also explains why the failure wasn't reproducing locally for me. Because I bypassed all the testinfra logic by manually starting the clusters, it got rightly calculated.

[2017-09-05 10:11] shyamjvs commented on #51899
@smarterclayton Thanks for the explanation. I checked that neither of kubemark nor our real cluster tests are using pagination (as `?limit=1` is still returning all the results).
So the real 5k-node test failures seems unrelated to it.

[2017-09-05 10:22] resouer commented on #51934
This is working. Though I suggest you to upgrade to latest kubernetes release. 1.7.x

[2017-09-05 10:58] SarshesJ commented on #51675
#22609

[2017-09-05 11:02] SarshesJ commented on #51675
The parameter '--apiserver-count=3' caused the problem. Removing it will help.
But I still think it is a Bug that nodes may take the wrong ips when the apiserver served on only one of them.

[2017-09-05 11:16] m1093782566 commented on #51920
thanks for reporting that，I will review your review pr soon

[2017-09-05 12:23] CallMeFoxie opened #51950 "PodFitsHostPorts fail on same hostPort, different hostIP"
/kind bug

Hi
I've posted PR few months ago #39369 - regarding validating against combination of hostPort:protocol:hostIP.
It seems that something similar is back, this time with Predicates.

The issue is in `plugin/pkg/scheduler/algorithm/predicates/predicates.go` in `PodFitsHostPorts:880` - it checks only for ports and not for IPs they listen on.

I will try to get PR for this but not if it will

[2017-09-05 12:27] CallMeFoxie commented on #51950
/sig scheduling

[2017-09-05 12:45] jsravn commented on #50245
@mashayev You should be able to watch the nodes endpoint on the apiserver and see when the node gets added / removed. Based on your logs, I really think something else in your cluster (probably the node controller in controller-manager) is deleting your node. Have a look at the controller-manager logs, you might need to increase verbosity.

[2017-09-05 13:26] mikebryant opened #51952 "`kubectl --request-timeout=30s` using in-cluster config doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug
/area kubectl
@kubernetes/sig-cli-bugs

**What happened**:
[code]

**What you expected to happen**:
For it to delete the pod

**How to reproduce it (as minimally and precisely as possible)**:
Use `kubectl --request-timeout=30s` from inside a pod

**Anything else we need to know?**:

Without `--request-timeout` the request succeeds

[2017-09-05 13:31] mattjmcnaughton commented on #51924
In the error message you posed, I see
[code]

It looks like that segment of the code is trying to use two ports for the ssh connection - `8080` and `22`.

I believe you're getting the double port behavior because of the `--host` you've specified in `--test_args`.

[code]

The host string already includes an unexpected port name (8080), so when the ssh connection code tries to append the typical ss

[2017-09-05 13:37] kachkaev commented on #40908
I just faced the same issue and would like to support @madspaulin's feature request. Here are two specific cases where I'd also like the whole pod to be restarted if the `livenessProbe` of any container fails:

1. I've go an five-year-old datavis, which was ported to docker/k8s a couple of months ago. It is a [symfony](http://symfony.com/) app that consists of an nginx server container, a php-fpm

[2017-09-05 13:43] yastij commented on #49625
ping @rootfs

[2017-09-05 13:44] mattjmcnaughton commented on #51650
Re the [liveness and readiness docs](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/) it looks like you're correct re pods going from ready to not ready because of the `readinessProbe`.

I'd be really interested to know more about your use case. Is the load on your application highly variable or fairly consistent? If the latter, I'm confused about the

[2017-09-05 13:51] shyamjvs opened #51953 "Add apiserver metric for #objects of a resource kind"
I think @fgrzadkowski was suggesting this sometime ago.

@smarterclayton @wojtek-t This will help us with measuring new api SLIs Wojtek proposed in his [doc](https://docs.google.com/document/d/1Q5qxdeBPgTTIXZxdsFILg7kgqWhvOwY8uROEf0j5YBw/edit?ts=598439ca). + we wouldn't need to list all objects each time we want to know their count (at the cost of some extra memory, but it's constant no. of metric

[2017-09-05 13:57] mattjmcnaughton commented on #50921
Would you mind explaining more about the error you're experiencing/use case you're hoping to accomplish?

In the cluster-proportional-autoscaler [README](https://github.com/kubernetes-incubator/cluster-proportional-autoscaler/blob/master/README.md), I see the following:
[code]

From this statement, it looks like the `cluster-proportional-autoscaler` will connect to the api server by default from w

[2017-09-05 14:00] mattjmcnaughton commented on #50921
One other note - you could also try asking this question on the cluster-proportional-autoscaler [issues](https://github.com/kubernetes-incubator/cluster-proportional-autoscaler) page. They might be able to provide additional help and insight :)

[2017-09-05 14:28] wojtek-t commented on #51953
I think the metric itself can be useful.

I'm not entirely sure how useful it would be for SLIs - it depends how exactly we would be exposing them and where we will be doing different aggregations
[BTW - you should link OSS doc, not google doc: https://github.com/kubernetes/community/blob/master/sig-scalability/slis/apimachinery_slis.md ]

Also, can you please summarize how you would like to expos

[2017-09-05 14:32] #51846 closed

[2017-09-05 14:32] #51822 closed

[2017-09-05 14:45] javipolo commented on #47131
/kind bug
/priority important-soon

[2017-09-05 14:52] arthur0 commented on #47118
Hello @ZhenyangZhao, there is three possible points of failure, the first one is described above. The two others:

* The nodes of your cluster do not have `zone` and `region` labels, you must add them to service discovery based on regions or/and zones.

* You are trying to create your services with `NodePort` type and this is not possible because the DNS provider support adding 'A' and 'CNAME' rec

[2017-09-05 14:53] dixudx commented on #51952
@mikebryant What's your `./kubectl config view`? Why is it talking to localhost? Seems you've mis-configured config file for `kubectl`.

[2017-09-05 15:05] ZhenyangZhao commented on #47118
Hello @arthur0 .
Thank u for help me.Your tutorial LGTM.

[2017-09-05 15:05] #47118 closed

[2017-09-05 15:06] dixudx commented on #51939
@startopscollab

* Please make sure you've enabled `batch/v2alpha1=true` in `--runtime-config` when starting `apiserver`;
* Please try quote `batch/v2alpha1`, that is `apiVersion: "batch/v2alpha1"`;

[2017-09-05 15:06] dixudx commented on #51939
/sig cli

[2017-09-05 15:13] ArchiFleKs commented on #50461
I can confirm this on freshly deployed OpenStack Pike deployment.

I have cinder v1, v2 and v3. To make cinder works, I had to add

[code]

To cloud_config file.

Maybe we need to support v3 here:

https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack.go#L660

[2017-09-05 15:17] #51424 closed

[2017-09-05 15:43] mikebryant commented on #51952
[code]
There is no kubeconfig file, as I'm trying to just use in-cluster config.

I think that error message was due to us running exechealthz on localhost:8080, so it was trying to parse the output.

We've now changed that, so it now looks like this:

[code]

Note it works without `--request-timeout`, but with it, it seems to be ignoring in-cluster config

[2017-09-05 15:47] #51812 closed

[2017-09-05 15:50] danehans commented on #51866
/area ipv6

[2017-09-05 16:08] shyamjvs commented on #51953
I don't prefer listing the objects (either from storage or cache) because it might end up adding considerable overhead (like you mentioned). My plan is the following:
- On each successful post(/put?) request, counter++
- On each successful delete request, counter--

This should be more light-weight IMO and similar to our current model of collecting some metrics in apiserver (i.e. on a per-request

[2017-09-05 16:17] kevin-wangzefeng commented on #51907
/cc @dhilipkumars

[2017-09-05 16:22] saad-ali commented on #50115
Marking `priority/important-soon` indicating we should try and get a fix in ASAP, but this issue should not block the 1.8 release.

[2017-09-05 16:30] zjj2wry commented on #21648
@smarterclayton i am working with set probe and lifecycle. it is helpful for user.

[2017-09-05 16:34] childsb commented on #32131
The design is to specify the namespace for secrets or endpoints as part of the storageClass.  RBD work was completed in 1.8, but iscsi, gluster and others are still in progress:

https://github.com/kubernetes/kubernetes/pull/51530

[2017-09-05 16:39] ericchiang commented on #50543
Was there a reason this was moved to 1.9? This is a constant red that's messing with our e2e test signal https://k8s-testgrid.appspot.com/release-master-blocking#gce-federation

[2017-09-05 16:43] ericchiang commented on #47255
Adding to the 1.8 milestone since this is showing up on the gce soak tests https://k8s-testgrid.appspot.com/release-master-blocking#soak-gce-test

Can someone bump the resources or help address this? cc @kubernetes/sig-node-test-failures

/kind e2e-test-failure
/priority important-soon

[2017-09-05 17:01] saad-ali commented on #51232
Closed with https://github.com/kubernetes/kubernetes/pull/51667.

Ended up going with a underscore delimited list, which is ugly but works for now. See https://github.com/kubernetes/kubernetes/pull/51667#discussion_r136513111 for details.

[2017-09-05 17:01] #51232 closed

[2017-09-05 17:06] leonj1 commented on #51407
Is flexvolume working in Kubernetes 1.7.1 and 1.7.4 ?
Several team mates have not been able to get the lvm example working.
After some debugging I have verified the driver is called with `init` during kubelet startup and 'getvolumename' when the example POD gets created. Its never called again.
Kubelet startup arguments included `--feature-gates="AllAlpha=true" -v=6 --enable-controller-attach-deta

[2017-09-05 17:34] msau42 commented on #51431
I'm weary of the provisioner deleting local PVs without knowledge of how the user wants to handle this situation.  I prefer the idea of tainting the PVs, and giving the user the ability to specify policies on how to handle those taints.  But we'll need to implement the PV taint/tolerations feature first before we can include any sort of health monitoring here.

Monitoring is also subject to race c

[2017-09-05 17:34] Random-Liu commented on #51746
@tallclair It's still not clear to me what is the behavior for empty AppArmor profile.

Today, even if user doesn't apply any apparmor label, default docker apparmor profile will be applied. Is this expected behaviro?

[2017-09-05 17:47] liggitt commented on #51952
duplicate of https://github.com/kubernetes/kubernetes/issues/49343

[2017-09-05 17:47] #51952 closed

[2017-09-05 17:58] janetkuo commented on #51278
@stevekuznetsov When DaemonSet `.status.numberReady = 1`, is the pod ready (check pod's `.status.coditions` to see if there's one pod condition whose `type=Ready` and `status=True`)?

DaemonSet checks pod's ready condition and then updates DaemonSet's `.status.numberReady` accordingly. A pod's Ready condition and Running state are updated separately in the system. I suspect that caused the delay y

[2017-09-05 18:04] ahmetb opened #51957 "Static IP for Service resource should be configurable "by name" and via annotation"
## Problem

For Kubernetes clusters set up with cloud providers, `Ingress` resource allows users to assign a reserved (static) public IP address to the load balancer created, **by name** of the IP resource via an annotation (see Example 1). However, `Service` resource which is very similar can only use static IP address resource by specifying **the value** of IP address in the `loadBalancerIP` fie

[2017-09-05 18:11] stevekuznetsov commented on #51278
@richm could you provide some timed logs for the behavior you noticed so we can confirm we're seeing the behavior @janetkuo suggests is correct?

[2017-09-05 18:13] wojtek-t commented on #51953
- On each successful post(/put?) request, counter++
- On each successful delete request, counter--

This won't work in HA setups. So we can't make it.

[2017-09-05 18:18] bowei commented on #43340
/assign

[2017-09-05 18:18] bowei commented on #43340
/close

[2017-09-05 18:18] #43340 closed

[2017-09-05 18:20] bowei commented on #39980
/assign

[2017-09-05 18:20] MrHohn opened #51961 "ci-kubernetes-e2e-gce-alpha-features is failing BeforeSuite: too many bad pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/priority failing-test

Not sure which sig to add yet
/sig testing

**What happened**:
ci-kubernetes-e2e-gce-alpha-features is failing BeforeSuite since 09/02. Example failure:
[code]

Ref: https://k8s-testgrid.appspot.com/google-gce#gce-alpha-features&width=5&show-stale-tests=
OTOH, ci-kubernetes-e2e-gci-gce-alpha-features does not have the

[2017-09-05 18:22] matthewceroni opened #51963 "KubeDNS not creating StatefulSet records"
/kind bug

**What happened**:

After upgrading from Kubernetes 1.6.4 to 1.7.4 DNS records for StatefulSet PODs were not resolving. Upon further investigation I noted the following in the kubedns container logs

[code]

As you can see, it is creating records 3231366438663735.fetchdb.dev.svc.cluster.local. The controlling service is fetchdb, the namespace is dev and the statefulset is fetchdb. There

[2017-09-05 18:23] jcbsmpsn opened #51964 "Create a metric for tracking certificate expiration"
/kind feature

The certificate used by the kubelet to connect to the API server authenticates the connection to the API server. If the certificate expires, the kubelet will no longer be able to authenticate and will fall out of the cluster (status of NotReady). This change adds a metric to report the expiration date of the kubelet certificate.

[2017-09-05 18:24] jcbsmpsn commented on #51964
/sig auth

[2017-09-05 18:26] destijl opened #51965 "API for Key Management Service (KMS) plugins for secrets encryption key management"
/kind feature

In 1.7 we added the capability to encrypt secrets at the database layer using keys provided in a file on disk on the master. The next logical step is to protect those keys using a Key Management Service such as Vault or the KMS's provided by the major cloud providers.

In 1.8 via [48574](https://github.com/kubernetes/kubernetes/pull/48574) we added a plugin mechanism and an implemen

[2017-09-05 18:29] matthewceroni commented on #51963
/sig network

[2017-09-05 18:29] madhusudancs commented on #50543
It's has been a known issue since 1.4. We would ideally get it fixed in 1.8 timeframe, there is no reason to block 1.8 for this.

[2017-09-05 18:29] jcbsmpsn opened #51966 "GCE Cluster is created with a Pending CSR"
/kind bug

**What happened**:
Using `cluster/kube-up.sh` to create a GCE cluster on Google Cloud Platform, the resulting cluster starts, but the kubelet running on the master submits a request for a CSR to be signed. That CSR is submitted using the bootstrap certificate, which is not approved for signing server certificates. As a result, the CSR goes to `Pending` and stays there. The kubelet submi

[2017-09-05 18:30] jcbsmpsn commented on #51966
/sig auth

[2017-09-05 18:30] jcbsmpsn commented on #51966
/assign @jcbsmpsn

[2017-09-05 18:31] richm commented on #51278
I won't be able to do this any time soon.

[2017-09-05 18:36] matthewceroni commented on #51963
#48327

[2017-09-05 18:43] matthewceroni commented on #51963
This issue is basically a duplicate of the one referenced above. Closing as the fixes/work arounds are well documented in the linked issue.

[2017-09-05 18:43] #51963 closed

[2017-09-05 18:45] luxas commented on #51965
cc @kubernetes/sig-cluster-lifecycle-feature-requests @wlan0 @thockin @andrewsykim @prydie @jhorwit2
Thank you @destijl for following this up!

Can you @sakshamsharma please link to the doc you wrote up on this matter?

[2017-09-05 18:51] mml commented on #51709
/sig aws

[2017-09-05 18:51] Random-Liu commented on #51903
@shyamjvs `fork/exec /usr/bin/docker-runc: resource temporarily unavailable`. It seems that the node run out of pid.

Did we change anything recently in kubemark. Is there anything could cause more containers/processes created? E.g do we run more hollow nodes on a node?

[2017-09-05 18:54] mml commented on #51709
/sig testing

[2017-09-05 18:55] yujuhong commented on #51903
May or may not be related, but we recently bumped the COS image version:
https://github.com/kubernetes/kubernetes/compare/cb6f32e8b...5f805a5e6

[2017-09-05 18:55] shay-berman commented on #12526
Hello
What is the status of this ticket? is there any plan to support containers dependencies inside a POD or deployment?  So container B will start only if container A was already started. And the same for shutdown - containerB will go down first and only then containerA will go down.

Any plan to support it?

Thanks

[2017-09-05 18:55] mml commented on #51709
@justinsb or @liggit, can we tell if the problem is kubernetes/test-infra#4361 for sure?  If it's not, is it some other problem with test-infra?

[2017-09-05 18:56] sakshamsharma commented on #51965
@destijl please include this doc:
[Implementing KMS plugins](https://docs.google.com/document/d/19SbqLrSC_MpmxbLCxasubRJLaZxgqfw1KeIwg3fHHLU/edit?usp=sharing)

[2017-09-05 18:58] nikhiljindal commented on #33622
Updated the labels and moved out of 1.8

[2017-09-05 18:58] chakri-nelluri commented on #51407
No known issues as of yet.
Do you see any failure events in "kubectl get events"? Please feel free to
slack me @chakri-nelluri I can help debug.

On Tue, Sep 5, 2017 at 1:08 PM, Jose M Leon <notifications@github.com>
wrote:

[2017-09-05 19:10] ixdy commented on #51709
The issue is https://github.com/kubernetes/test-infra/issues/4315#issuecomment-326712225. We're running a 1.7 cluster with 1.8+ tests.

[2017-09-05 19:12] ixdy commented on #51692
https://github.com/kubernetes/test-infra/issues/4315#issuecomment-326712225

[2017-09-05 19:13] enisoc commented on #44407
@crimsonfaith91 Can we close this now?

[2017-09-05 19:15] yujuhong commented on #51903
COS m60 has pid limit set for docker. This was not set in m59.
[code]

/cc @yguo0905

[2017-09-05 19:15] dhawal55 commented on #50767
Just to add to this, is there any reason "admin" role is not allowed to view status on following resources:

- horizontalpodautoscalers/status
- persistentvolumeclaims/status
- services/status
- statefulsets/status
- scheduledjobs/status
- jobs/status
- cronjobs/status
- daemonsets/status
- deployments/status
- horizontalpodautoscalers/status
- ingresses/status
- jobs/status
- replicasets/status
-

[2017-09-05 19:19] seh commented on #50767
One the subject of _NetworkPolicy_, see [this recent discussion in the "sig-auth" channel of the "Kubernetes" Slack team](https://kubernetes.slack.com/archives/C0EN96KUY/p1504021636000705).

[2017-09-05 19:19] DirectXMan12 commented on #44033
note that basically supporting any new autoscaling any new resources is block on supporting scale clients on any resources, which did not quite make it into Kube 1.8.

[2017-09-05 19:19] DirectXMan12 commented on #44033
/assign @directxman12

[2017-09-05 19:19] nikhiljindal commented on #29887
federation 1.7+ includes annotations based support for cluster selector: https://kubernetes.io/docs/tasks/administer-federation/cluster/#clusterselector-annotation

Closing this.

[2017-09-05 19:19] #29887 closed

[2017-09-05 19:19] aleksandra-malinowska commented on #51650
cc @mwielgus

[2017-09-05 19:20] DirectXMan12 commented on #44033
let's try that again with slightly different capitalization in the source:

/assign @DirectXMan12

[2017-09-05 19:23] shyamjvs commented on #51903
Thanks for the info. So we're running 500 hollow-nodes on 6 VMs, ~83 per VM.
And each hollow-node has 1 init-container, and 3 containers (kubelet, kubeproxy and npd). This seems to be well within that limit @yujuhong

[2017-09-05 19:25] shyamjvs commented on #51903
I'll verify locally if it's the image creating the problem. Also we're only seeing this only flakily.

[2017-09-05 19:27] nicksardo commented on #27375
Closing since this was added earlier this year: https://github.com/kubernetes/ingress/blob/7434c50cdbf43e6f329ef28e5c37bcbd2d883267/controllers/gce/controller/utils.go#L62-L67

/close

[2017-09-05 19:27] #27375 closed

[2017-09-05 19:27] shyamjvs commented on #51903
@Random-Liu No change in the no. of containers/processes to the best of my knowledge. We've been running this way for quite a long time now.

[2017-09-05 19:32] liggitt commented on #50767
`get` access to status subresources is not a useful permission if you already have the ability to get the resource, since that returns the same thing as simply getting the resource.

[2017-09-05 19:47] deads2k opened #51970 "workload controllers can't create resources with GC admission on"
owner ref admission checks permissions to decide if an ownerref is legal.  No controller has those permissions, so they can't create the resources they need to.

[2017-09-05 19:49] kilianc commented on #51650
@mattjmcnaughton you are correct yes we have traffic spikes. Unreadying the pods allows them to stop receiving new traffic and successfully recover without a full container restart.

The problem is, if the HPA doesn't take into account pods that are not new, but become not ready, I won't be able to scale accordingly to serve *new* traffic. Also the minimum amount of available pods is not enforced

[2017-09-05 19:50] crimsonfaith91 commented on #44407
Yes! For future reference, perhaps we can change the task list comment above: https://github.com/kubernetes/kubernetes/issues/44407#issuecomment-318765753
Perhaps we can have a strikethrough for item(2) and a tick for item(4).
For item(2), we discussed in sprint planning meeting that we would not do it (correct me if i am wrong), so i think a strikethrough is better than a tick.

[2017-09-05 19:53] kilianc commented on #51650
That's exactly where the HPA should take action.

[2017-09-05 19:54] MrHohn commented on #48437
@tanjinfu It seems kube-proxy runs as [static pods](https://kubernetes.io/docs/tasks/administer-cluster/static-pod/) in your case. You should be able to modify kube-proxy's manifest file under the path specified by `--pod-manifest-path` (for kubelet) on each node.

Though it seems odd to me that user needs to explicitly override hostname. Note that kubelet also provides `--hostname-override` flag

[2017-09-05 19:58] #44407 closed

[2017-09-05 20:06] lin99shen commented on #48437
I'm not overriding hostname on kubelet, at least not intentional.

[2017-09-05 20:12] mml commented on #51709
/assign @justinsb

Justin, can you please find someone from SIG-AWS to work on this?

[2017-09-05 20:15] Random-Liu commented on #51903
Based on the discussion with @yujuhong, as is mentioned https://github.com/kubernetes/kubernetes/issues/51903#issuecomment-327275042, COS has pid limit for docker service now, note that `containerd-shim` will also be in the cgroup, and each `containerd-shim` is a golang program, and launches more than 10 threads:
[code]

[2017-09-05 20:21] Random-Liu commented on #51903
Filed an issue to containerd about the thread number problem: https://github.com/containerd/containerd/issues/1471

[2017-09-05 20:29] krousey commented on #35078
This issue was solved for the 1.7 release.

[2017-09-05 20:29] #35078 closed

[2017-09-05 20:39] shyamjvs commented on #51903
Thanks for looking into it and filing the bug. Will increase the no. of nodes for now by 1 to accommodate them.
On running locally too I'm seeing that few hollow-nodes are just crossing the threshold in case the node is assigned with more than avg no. of hollow-nodes per node:

[code]

[2017-09-05 20:41] #51040 closed

[2017-09-05 20:42] phsiao commented on #51040
After talking to @liggitt I realized that the eviction is not created to support drain so this feature request does not fit the design goal.

[2017-09-05 20:45] MrHohn commented on #51961
From https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-alpha-features/15363/artifacts/bootstrap-e2e-minion-group-3547/kubelet.log.

For kube-proxy, it failed on running init container:
[code]

Specifically, it failed on:
[code]

Looking into whether it is a configuration mistake on manifest.

/assign

[2017-09-05 20:47] readams opened #51974 "Support draining nodes when doing rolling DaemonSet update"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
When performing a rolling update on a DaemonSet, the pods are deleted and then recreated as you'd expect.  However, if the DaemonSet pod is necessary for the correct functioning of other pods on the node, then the other pods are effectively disrupted while this is happening.

**What you expected to happen**:
It would

[2017-09-05 20:52] readams commented on #51974
@kubernetes/sig-cluster-ops
@kubernetes/area/app-lifecycle
@kubernetes/workload-api/daemonset

[2017-09-05 20:54] yujuhong opened #51976 "gce-alpha-api test suite failing"
The environment variable GCE_ALPHA_FEATURES is not set correctly in the test custer.

[2017-09-05 20:56] MrHohn commented on #51961
I believe this is not a configuration mistake. Saw the same issue occurred on some other pods as well:
[code]
[code]

Checked the [diff commits](https://github.com/kubernetes/kubernetes/compare/917f9f02e...fc9e214a8), the mount propagation changes (https://github.com/kubernetes/kubernetes/pull/46444) seems suspicious. Looping in storage folks.

@jsafrane  @k8s-mirror-storage-test-failures
/unassig

[2017-09-05 20:58] MrHohn commented on #51961
/sig storage

[2017-09-05 20:59] doonhammer commented on #28272
@CsatariGergely @vishh we need this for roughly the same reasons as @twistedpair  and @kylegato. Would be happy to help in anyway to get it implemented.

[2017-09-05 21:01] readams commented on #51974
/sig cluster-ops

[2017-09-05 21:07] shyamjvs commented on #51953
That's a good point. Actually other metrics like request counts, latencies, response size, etc make sense to be separate per apiserver, but this one needs to be same everywhere.
I was thinking of sth like each apiserver still keeps the metric (only that it just counts how many objects have been created using that apiserver - and adding it across all instances should give total objects).
But I thin

[2017-09-05 21:15] #51903 closed

[2017-09-05 21:22] Random-Liu commented on #51903
I'll file another issue for the COS pids cgroup.

[2017-09-05 21:26] Random-Liu opened #51977 "COS m60 set low pids limit for docker."
Forked from https://github.com/kubernetes/kubernetes/issues/51903#issuecomment-327290332.

Since m60, COS set 4000 pids limit for docker.service.

However, currently all containerd-shims are also inside the cgroup, and they are per-container.
Each containerd-shim has more than 10 threads based on the node size:
[code]

It's not hard to hit the limit, say 100 3-container pods may hit the limit.

We

[2017-09-05 21:27] nikhiljindal commented on #39982
federation 1.7+ supports admin placement policies using OPA: https://kubernetes.io/docs/tasks/federation/set-up-placement-policies-federation/.

Next steps are to get user feedback and come up with plan for beta.
Closing this.

[2017-09-05 21:27] #39982 closed

[2017-09-05 21:27] cblecker opened #51978 "cross-build: PR 50072 causing cross build failure"
[code]
https://github.com/kubernetes/kubernetes/pull/50072
https://k8s-testgrid.appspot.com/misc#cross-build
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-cross-build/3195

---
cc: @kubernetes/sig-node-bugs @kubernetes/sig-node-test-failures @childsb @derekwaynecarr @eparis @smarterclayton @squall0gd
/kind bug
/priority failing-test

[2017-09-05 21:31] grodrigues3 commented on #47604
/priority important-soon

[2017-09-05 21:35] smarterclayton commented on #51953
We already do almost this setup in kube-state-metrics.  I'd recommend
starting there - much of this discussion is the same as the arguments
leading to a separate tracker for metrics for this.

On Tue, Sep 5, 2017 at 5:07 PM, Shyam JVS <notifications@github.com> wrote:

[2017-09-05 21:46] dchen1107 commented on #51977
cc/ @dnardo I guess this is the cause for some docker failures you observed.

[2017-09-05 21:53] anfernee opened #51979 "Summary API in test-e2e-node failed on a powerful machine"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**: e2e test for node failed

**What you expected to happen**: it should pass

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:
It's beefy for a laptop, beyond the bounded expected value. The test shouldn't assume what environment it's running on. If it does assume

[2017-09-05 21:55] timothysc commented on #50813
It's most likely a permutation of your node-selector and anti-affinity rules.

What happens when you describe the pod that is pending?

[2017-09-05 22:03] timothysc commented on #49480
It's too late in the cycle imo, and we haven't even bumped our .rpm and .deb deliverables.  There is still no owners for the build products.

[2017-09-05 22:06] thockin commented on #12624
That would consume the ENTIRE 10. space for Services - no room for pod IPs
or node IPs or anything else.  That is almost certainly not what you wanted
to do.  What are you trying to achieve?

On Mon, Sep 4, 2017 at 11:44 PM, napat1412 <notifications@github.com> wrote:

[2017-09-05 22:08] anfernee commented on #51979
/sig node

[2017-09-05 22:08] Random-Liu opened #51980 "CRI: Should kubelet or runtime handle Capability ALL?"
`"all"` is not a valid capability string, but docker supports it, e.g. `docker run --cap-drop ALL`.

Since we pass the capabilities strings from K8s API to docker directly, K8s API also supports it. And there are user relying on this now:
https://github.com/microservices-demo/microservices-demo/blob/master/deploy/kubernetes/complete-demo.yaml#L24

The problems are:
1) Should we support this in K8s

[2017-09-05 22:09] MrHohn opened #51981 "cluster/gce/upgrade.sh failed: "SUBNETWORK: unbound variable""
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig network

**What happened**:
While debugging failing kube-proxy downgrade test, found node downgrade itself doesn't work.

For downgrade (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-latest-downgrade-kube-proxy-ds/72?log#log/):
[code]
Specifically:
[code]

Seems to be introduced by https://git

[2017-09-05 22:11] MrHohn commented on #51981
Occurred on master upgrade as well:
[code]
[code]

Ref: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-latest-upgrade-kube-proxy-ds/72?log#log

[2017-09-05 22:12] bowei commented on #51981
Looks like one of the ${SUBNETWORK} needs to be ${SUBNETWORK:-}?

[2017-09-05 22:13] timothysc commented on #50916
I'll enqueue, but I don't have time right now.  IIRC there were a number of small fixes in the shared informer this cycle too that may affect this.

/cc @ncdc

[2017-09-05 22:13] chakri-nelluri opened #51982 "Volumes are not mounted after rebooting a node. (Effects Flexvolume/FC/ISCSI)"
/kind bug

**What happened**:
Volumes used by pod are not getting mounted after rebooting a node. Effects Flexvolume/FC/ISCSI volume types. Pod goes into running state using local file system path.

**What you expected to happen**
Volume should be mounted and pod should not go into running state if the volume fails to attach.

**How to reproduce it (as minimally and precisely as possible)**:
Creat

[2017-09-05 22:14] pydevops commented on #6545
I use the same DS as specified in https://blog.mrtrustor.net/post/iptables-kubernetes/. It works.

[2017-09-05 22:16] chakri-nelluri commented on #51982
/sig storage

[2017-09-05 22:20] Reifier opened #51983 "Allow to set the image name in deployment defenitions via a config map."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
I can't set the image name in my deployment.yaml via a config map.

**What you expected to happen**:
I expect the image name to be set (just like env variable) from my configMap defenition.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
`Error: for field spec.template.spec.containers[0].image

[2017-09-05 22:27] Reifier commented on #51983
@kubernetes/sig-api-machinery-feature-requests

[2017-09-05 22:30] boomshadow commented on #27081
I see this Github issue first on search results for this still. If you come across this and want to do @pstadler 's highly user-rated workaround, please be advised that a label is _not_ an "innocuous field" as @bgrant0607 advised.

If you set the label to trigger a deploy, then you'll run into label/selector errors as discussed in https://github.com/kubernetes/kubernetes/issues/26202

To quote htt

[2017-09-05 22:34] nicksardo commented on #51981
/assign

[2017-09-05 22:36] Reifier commented on #51983
The reason why I want this is because I want to be able to have a test project in gcp where I could apply the same cluster config without the constant need to pull the yamls through the text processor replacing the image name every single time depending on my gcp project/cluster. I don't want to keep it in a separate branch forever because if my config succeeds I want to be able to merge painlessl

[2017-09-05 22:44] pydevops commented on #11204
The DS as specified in https://blog.mrtrustor.net/post/iptables-kubernetes/ works for a pod talking to a service running under a different GCP project over VPC peering.

[2017-09-05 23:08] ahmetb commented on #51883
I think the apiserver logs are not exactly what would help the end user for objects that got stuck in the uninitialized state. What I'd like to see is an event in `kubectl describe`.

For example, if `Initializer` plugin can add an event with message like:

It would be easier for users to debug things when they realize "creation failed but somehow object still exists" as they'll probably do, "hmm

[2017-09-05 23:14] liggitt commented on #51978
Fix in progress in https://github.com/kubernetes/kubernetes/pull/51984

[2017-09-05 23:38] caesarxuchao opened #51989 "[RFC] delete objects that take longer than 15s to initialize"
### Motivation:
* It is bad user experience if the object shows up too long time after it's created.
* Long initialization latency means some CREATE requests are asynchronous, which breaks existing clients, causing problems like #48893.

### Solution: enforcing initialization timeout
* Add an apiserver flag `--initializer-timeout`, default to 15s
* If the initialization of an object takes longer t

[2017-09-05 23:38] dhawal55 commented on #50767
@liggitt Thank you. We had used the status subresource permissions in earlier versions of k8s and thought it was required. I will try without it and let you know.

[2017-09-05 23:39] caesarxuchao commented on #51989
/sig api-machinery

[2017-09-05 23:51] smarterclayton commented on #51989
I am not really buying "everything distributed finishes in 15s".  There are lots of disruptions that will bring a pod down for longer than that.  I'm also skeptical that hard fail at 15s improves the experience (it does surface the problem for logging, which is good).

I think some form of boundary is reasonable.  I'm not sure the 1s SLO is a reason to do this - merely an example.  A pod takes mor

[2017-09-05 23:52] smarterclayton commented on #51989
My worry with a timeout is that the controller is the useful thing, and the timeout is really something we would want a controller to enforce.

[2017-09-06 00:14] yujuhong commented on #51253
Happened again: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/51986/pull-kubernetes-unit/52070/

[code]

The messages were interleaved . `PASS: TestApps (0.00s)` was appended at the end. I think that threw `go-junit-report` off.

[2017-09-06 00:23] caesarxuchao commented on #51883
We need to document `--include-uninitialized` (just created https://github.com/kubernetes/kubernetes.github.io/issues/5310).

Totally agree that `kubectl describe` should make it obvious that the deployment is under initialization.

It sounds good but I noticed that only the PodPreset plugin reports events. Probably it's because of performance concerns, as admission controllers are in the critical

[2017-09-06 00:30] #51185 closed

[2017-09-06 00:30] #51832 closed

[2017-09-06 00:30] #48428 closed

[2017-09-06 00:49] jiayingz opened #51993 "Device plugin code cleanup"
/kind feature

Here are the possible code cleanup/refactoring we have discussed during device plugin PR code review or offline:
1. Currently Kubelet side device plugin is structured as three-layers: cm.DevicePluginHandler -> deviceplugin.Manager -> deviceplugin.endpoint. We may improve code readability by dropping them to two: cm.DevicePluginHandler -> deviceplugin.Endpoint. Some of the functional

[2017-09-06 00:50] jiayingz commented on #51993
/cc @vishh @mindprince @dchen1107

[2017-09-06 00:52] jiayingz commented on #51993
/sig node

[2017-09-06 01:00] caesarxuchao opened #51994 "Remove timeout query parameter"
The apiserver [parses](https://github.com/kubernetes/kubernetes/blob/v1.9.0-alpha.0/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest.go#L395) the `timeout` query parameter, and uses it as the time limit when handling CREATE/PATCH/UPDATE/DELETE. I think this query parameter should be removed because
* Our SLO for non-streaming, single object API call is 1s, so the apiserver can safely timeo

[2017-09-06 01:20] #51978 closed

[2017-09-06 01:28] msau42 opened #51995 "Local PV test is flaky"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig storage
/priority important-soon
cc @kubernetes/sig-storage-bugs

**What happened**:
Local PV test has flaked twice today due to PVC failing to bind.

[log](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/15441)
[testgrid](https://k8s-testgrid.appspot.com/sig-storage#gci-gce-alpha

[2017-09-06 01:29] msau42 commented on #51995
cc @jsafrane

[2017-09-06 01:34] msau42 commented on #51995
The last resync was before processing this volume:
[code]

Afterwards, there are no more resync messages.

[2017-09-06 01:36] resouer commented on #12526
@shay-berman Not yet.

Most use cases should be able to covered by [initContainer](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/). Please check that.

If not, for example, your container A is also a application container, you need to handle it in app level. This is actually little bit wired since we should always have retry logic if we expect info from outside world.

[2017-09-06 01:40] #50453 closed

[2017-09-06 01:40] #51755 closed

[2017-09-06 01:40] #48937 closed

[2017-09-06 01:49] msau42 commented on #49529
I think the issue is that the test is deleting the gluster endpoints before deleting the pod.

[2017-09-06 02:08] napat1412 commented on #12624
I need use pod-network=10.128.0.0/9 and service-cluster-ip-range=10.0.0.0/9.
But I got error
 `Error: specified --service-cluster-ip-range is too large`
Which way to disable validateClusterIPFlags or use service-cluster-ip-range=10.0.0.0/9?

or node IPs or anything else.  That is almost certainly not what you wanted
to do.  What are you trying to achieve?

[2017-09-06 02:10] guangxuli commented on #50735
@quinton-hoole I had send a PR to fix this issue, In this PR i just move the ubernetes_lite.go to the new created directory named multicluster, I created it under e2e directory. I found that there is a another specific directory named **e2e_federation**. A little confusing,  there are three cases:
- move ubernetes_lite.go to e2e, just like PR #51898
- move ubernetes_lite.go to e2e_federation
- mov

[2017-09-06 02:25] madhukar32 opened #51997 "kubeadm init fails if service CIDR range ends with a non-zero IP"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`sudo kubeadm init --service-cidr 10.87.116.64/26` fails with error
`could not parse dns ip "<nil>": <nil>`

**What you expected to happen**:
As 10.87.116.64/26 is a valid subnet CIDR, expected it have a valid dnsIP for example (10.87.116.73)

**How to reproduce it (as minimally and precisely as possible)**:
Execute `kube

[2017-09-06 02:27] madhukar32 commented on #51997
/sig sig-cluster-lifecycle

[2017-09-06 02:30] dekhtyarev commented on #51516
@vishh, @dashpole, hello!

Can you spare a little time to this problem?

[2017-09-06 02:38] WIZARD-CXY commented on #48588
Maybe add a doc explicitly specify "HPA does not support object that can't scale like DaemonSet" is perfect

[2017-09-06 02:43] resouer commented on #48588
@WIZARD-CXY Make sense, please sent out a doc PR.

[2017-09-06 02:43] #48588 closed

[2017-09-06 02:49] ivankennethwang commented on #50921
Got it thanks @mattjmcnaughton

[2017-09-06 02:49] #50921 closed

[2017-09-06 03:02] liggitt commented on #51910
still seeing this - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-e2e-gce-etcd3/52799/#sig-api-machinery-garbage-collector-should-orphan-pods-created-by-rc-if-delete-options-say-so

[2017-09-06 03:07] WIZARD-CXY commented on #48588
@resouer will do sir

[2017-09-06 03:13] dixudx commented on #51983
@Reifier Currently the image name of a container can only be [`string`](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go#L1888-L1890). That means we cannot set the image name using `configmap`, like environment variables.

Does not support now.

[2017-09-06 03:38] #51912 closed

[2017-09-06 03:41] dixudx commented on #51993
@jiayingz  I would work on this. Will submit a PR later.

[2017-09-06 03:51] Reifier commented on #51983
@dixudx I assume to change that the entire code base will have to be turned upside down. And it is probably the reason why the original implementor of config maps did not take it all the way through?

Because really, it makes them very limited for any serious use case. I will essentially either have to copy the environments completely and keep them in separate directories and they will be 90% iden

[2017-09-06 03:52] WanLinghao commented on #51452
@adityadani  are you still focus on this bug

[2017-09-06 03:55] liggitt commented on #51983
the intent of configmaps and secrets is to contain data *used by the containers running in pods*. as such, they can be projected into pods as files or envvars. they are not intended to be used as source vars to substitute into arbitrary fields in API objects.

[2017-09-06 03:55] #51983 closed

[2017-09-06 03:55] lichuqiang commented on #51993
@dixudx Okey...actually, I'm working on it too, have you started?

[2017-09-06 03:56] thockin commented on #12624
You are reserving 2^23 IP addresses for Services.  You're going to have 8
million Services?  There's code that prevents this because it isn't
believable, but also because we store an uncompressed bitmap.

On Tue, Sep 5, 2017 at 7:08 PM, napat1412 <notifications@github.com> wrote:

[2017-09-06 04:03] #41353 closed

[2017-09-06 04:03] #51977 closed

[2017-09-06 04:18] tangzhankun opened #51999 "Support for FPGA as a resource"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
FPGA is becoming popular in data centers nowadays. More and more applications( including ML/DL) will utilize it to boost performance.  The hardware vendors such as Intel also invest in such area. So supporting for such a flexible, high performance-per-wat hardware accelerator in k8s is necessary.

We know that the hard

[2017-09-06 04:28] tangzhankun commented on #51999
/sig [area/hw-accelerators]

[2017-09-06 04:31] andreychernih commented on #51432
It turns out kops does not enable this feature gate by default. https://github.com/kubernetes/kops/pull/3345 is pending review. Thanks @dashpole

[2017-09-06 04:31] #51432 closed

[2017-09-06 04:33] cliffburdick opened #52000 "Node Annotations in Downward API"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
The Downward API should provide a way to pull the node annotations.

**What you expected to happen**:
Currently the pod annotations are available from the interface, as well as a few pieces of information about the node:
https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-informatio

[2017-09-06 04:36] cliffburdick commented on #52000
/sig node

[2017-09-06 04:39] dixudx commented on #51993
@liuchuqiang Yes. Already started.

[2017-09-06 04:56] lichuqiang commented on #51993
@dixudx Okey, I'm concentrating on part of refactoring

[2017-09-06 05:00] dixudx commented on #51993
@lichuqiang I think there is no need to split this into several PRs. I'll cover it all in #52001. Thanks.

[2017-09-06 05:03] lichuqiang commented on #51993
@dixudx Well, in fact, I have finished most part of refactoring

[2017-09-06 05:12] liggitt commented on #51586
fixed by #51633

[2017-09-06 05:12] #51586 closed

[2017-09-06 05:14] liggitt commented on #51429
this got straightened out... kops added the Initializers admission plugin, and the tests got a feature tag

[2017-09-06 05:14] #51429 closed

[2017-09-06 05:21] dixudx commented on #51993
We should avoid doing duplicate work. Better notify others before starting working.

Since you've finished the main part of refactoring, I will close my pr.

[2017-09-06 05:23] lichuqiang commented on #51993
@dixudx I'm so sorry, I discussed with jiayingz in slack but forgot to response in the issue itself

[2017-09-06 05:29] dixudx commented on #51999
@vishh PTAL. Related to your wip proposal.

[2017-09-06 05:31] prateek2408 commented on #51934
I see the version of kubelet as 1.6.0 which is pretty old. The latest stable kubernetes release is 1.7.4 which is stable.
Can you upgrade to a new version of kubelet, you can use hyperkube images as well. ?

Is there any specific reason for using such an old version of kubelet

[2017-09-06 05:37] #51910 closed

[2017-09-06 05:44] borgesgabriel commented on #50813
Linking the output of `kubectl describe pod <pod-name>` again: https://gist.github.com/borgesgabriel/694e2c9e79b192b966d455366411d362

I'm pretty confident in my assessment at the time that node-selector and anti-affinity requirements were met when the pod was pending. Besides, wouldn't a "couldn't schedule pod because no nodes match requirements" event show up in `describe pod`?

[2017-09-06 06:02] dixudx commented on #51994
@caesarxuchao SGTM. +1.

[2017-09-06 06:24] CsatariGergely commented on #28272
Our approach was pushed by @janosi in #34928 and it was not accepted at the end. We worked around this in other ways for the time being.

[2017-09-06 06:28] pshizhsysu opened #52004 "Terminating state of pod lasts too long"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**Labels**

**What happened**:
When deleting a deployment,  a pod stays "Terminating" state too long

There are no events by executing "kubectl describe pod m2m-orderdeal-2-1848417580-0n180"

I inspect the log of kubelet in 10.142.233.108, it says:

Then I check whether containers of the pod exist, just find that "pause" container has been deleted whi

[2017-09-06 06:52] dfang commented on #51764
@dixudx no, i tried --force, now i upgraded my kubernetes, helm, i can kubectl delete the deployment...

[2017-09-06 06:58] napat1412 commented on #12624
Thank you

[2017-09-06 06:59] bgrant0607 commented on #27081
Related: #9043, #13488

As for rollouts of new image with same tag, the recommended solution is to translate the tag to the digest form: #1697

[2017-09-06 07:02] #47837 closed

[2017-09-06 07:02] #51729 closed

[2017-09-06 07:12] pshizhsysu commented on #52004
/sig Node

[2017-09-06 07:13] Kooper commented on #51516
Well, here is what we have found so far.

In our setup, eviction.managerImpl.synchronize() frequently runs with a set of signalObservation objects, which contains the same data as in previous runs, even for "time" field. Probably this is due to slow cadvisor.

Unfortunately, eviction.thresholdsUpdatedStats() considers such data expired and removes it from the list of observed thresholds. This was

[2017-09-06 07:13] oxygen0211 commented on #25908
Also missing this. We run a job every 30 min that needs a VPN client for connectivity but there seem to be a lot of use cases where this could be very useful (for example stuff that needs kubectl proxy). Currently, I am using ```jobSpec.concurrencyPolicy: Replace``` as a workaround but of course this only works if a.) you can live without parallel job runs and b.) Job execution time is shorter tha

[2017-09-06 07:13] jianzhangbjz commented on #51999
/cc

[2017-09-06 07:45] zhangxiaoyu-zidif commented on #1518
I have a question:
when i create the ds, the memory did not meet the request memory, and then when momory is enough, does daemonset start its pod?
 If the pod was not created when memory is insuffient, when memory is suffient, could the pod of ds start?

[2017-09-06 07:59] WIZARD-CXY commented on #49957
@RRAlex I look through your stack trace when apiserver panics.It looks like a client getComponentStatus request fired the panic.From your previous normal log, I guess the client is kubectl.
From Jul 29 13:50:33 localhost docker/kube-apiserver[1048]: #011/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/pkg/registry/core/componentstatus/validator.go:71 I give a quick look at the

[2017-09-06 08:07] #46740 closed

[2017-09-06 08:08] guoh1988 commented on #51527
/sig node

[2017-09-06 08:08] #47104 closed

[2017-09-06 08:28] dixudx commented on #49734
/priority important-soon

[2017-09-06 08:36] choury commented on #51602
Wish to use ipset to replace KUBE-MARK-MASQ chain.

[2017-09-06 08:36] wojtek-t commented on #51953
I think kube-state-metrics is not installed by default in many different setups.

But I agree solving this problem properly without performance overhead probably requires during it externally and if so, Clayton`s suggestion sounds reasonable to me.

[2017-09-06 08:42] Crazykev commented on #48690
/cc @spacexnice @Crazykev

[2017-09-06 08:43] discordianfish commented on #48396
@k8s-merge-robot /label priority/important-soon
Does that work?

[2017-09-06 08:50] mbohlool commented on #51994
SGTM too. Specially because it, as you mentioned, it is not documented and duplicate. It is also create confusion for users as there are two timeout (http connection timeout and this one) and they don't know which one is honor by which part of the system.

[2017-09-06 08:50] shiywang commented on #45519
@mengqiy Aren't we already have a `--openapi-validation=true` flag ?

[2017-09-06 08:53] zjj2wry commented on #45519
[code]
this warnning info can just show when special -v flag?

[2017-09-06 09:15] shiywang commented on #45519
@mengqiy Is there the right way to output log here: https://github.com/kubernetes/kubernetes/blob/332b681bd1d961e2cee16bca10784088a8d308f1/pkg/kubectl/cmd/util/factory_object_mapping.go#L418 ?

[2017-09-06 09:22] szuecs commented on #48926
Can we have an estimate, how long this will take to implement?
For us it was the root cause of an production outage we had yesterday.

[2017-09-06 09:23] flavio commented on #47046
Yes, the fix reached Kubernetes too because the vendored version of cadvisor has been upgraded.

[2017-09-06 09:23] #47046 closed

[2017-09-06 09:59] jsafrane opened #52012 "flake: Panic in Expand controller"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Expand controller crashed during local volume tests:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/15441

[code]

/sig storage
/assign @gnufied

[2017-09-06 10:01] jsafrane commented on #51995
Indeed, PV controller cannot save the PV at 22:41:16.205561. It should be fixed in the next periodic sync (every 15 seconds), but the controller is restarted in 5 seconds:

[code]
This new controller never received the PV or PVC from informers. Where is this PV and PVC lost?

BTW, controller-manager crashes because of resize controller, I filled #52012

[2017-09-06 10:07] shay-berman commented on #12526
@resouer Thanks for the quick respond.

Does it make sense to use the [container lifecycle](https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/) where u can set preSTOP and postSTART script for each container in the deployment.
So we can set :
- preSTOP in containerA to wait till containerB stop(its IP not reachable)
- and also preSTART in containerB to wait ti

[2017-09-06 10:51] jsafrane commented on #51995
PV controller does not get the PVs / PVCs because expand controller crashes regularly after start when informers are synced.

[2017-09-06 10:56] discordianfish opened #133558 "Document where to use versioned struct and where not"
Hi,

I'm using client-go's [NewSharedInformer](https://godoc.org/k8s.io/client-go/tools/cache#NewSharedInformer) to access ingresses but I'm not sure which expectedType to use.

I've started out using `(k8s.io/client-go/pkg/apis/)extensions.Ingress` which worked on my 1.7 clusters but another user reported their got the error `expected type *extensions.Ingress, but watch event object had type *v1b

[2017-09-06 11:19] BruceShenC opened #52016 "NFS volume need to support 'port' option"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
When I create NFS volume, there is no parameter to set the 'port' option.

**What you expected to happen**:
Hope we can create  the NFS PersistentVolume like this:
nfs:
    server:  xx.xx.xx.xx
    path: "/"
    readOnly: false
    port: xxx     ##need this option to mount like : mount -t  nfs -o port=xxx xx.xx.xx.xx

[2017-09-06 11:27] resouer commented on #12526
@shay-berman Right, it should work.

[2017-09-06 11:52] 2vcps opened #52020 "kubectl get nodes should show API server version not client version"
/kind bug

**What happened**:
When doing kubectl get nodes version seems to be the client version.
Example

xxx@z-kube1:~$ kubectl get nodes
NAME      STATUS    AGE       VERSION
z-kube1   Ready     21d       v1.7.3
z-kube2   Ready     20d       v1.7.3
z-kube3   Ready     20d       v1.7.3

xxx@z-kube1:~$ kubectl version
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.3", GitCom

[2017-09-06 12:02] jsafrane commented on #51273
We in OpenShift run kubelet in a container that has host's `/dev` mapped to the container's `/dev`. How do other people run it?

Maybe we could add this requirement to description of NsMounter. Or fix `PathIsDevice` to check `/rootfs/<path to device>`, because mounting host's root to `/rootfs` is already mandatory. IMO we should avoid unnecessary `exec`.

[2017-09-06 12:39] VasylSamoilov opened #52022 "apiserver proxy removes leading slash from path"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Apiserver proxy removes leading slash from path that is send to destination service or pod, effectively breaking applications.

Example tshark output:

Hypertext Transfer Protocol
    GET test HTTP/1.1\r\n
        [Expert Info (Chat/Sequence): GET test HTTP/1.1\r\n]
            [GET test HTTP/1.1\r\n]
            [Severi

[2017-09-06 12:45] VasylSamoilov commented on #52022
@kubernetes/sig-api-machinery-bugs

[2017-09-06 12:50] wojtek-t commented on #50115
@msau

We need to be very careful if this expected behavior or not.
The example I have in mind is the following:
- imagine that we have a multizonal cluster which is supposed to have nodes in zones A, B and C
- but since it is now night and there is no load, HPA + cluster autoscaler together scaled the cluster down to: 1 node in A, 1 node in B and 0 nodes in C
- during the day, it will again be sc

[2017-09-06 13:01] jsafrane commented on #51926
`RemoveAll` is very dangerous operation that could potentially delete user data. It's task of the flex driver to clean up its directory on `unmount` so `os.Remove` is enough.

[2017-09-06 13:02] jsafrane commented on #51933
/assign @humblec

[2017-09-06 13:02] 2vcps commented on #52020
/sig cli

[2017-09-06 13:06] mattjmcnaughton opened #52024 "Add `godep-restore` and `godep-save` to `Makefile`"
/kind feature

**What happened**:
I started developing on Kubernetes by trying to install all of the necessary development dependencies. My first step was looking in the `Makefile` for a command which would do this.
Upon not finding anything, I searched the `hack` directory for files containing `godep` and found `hack/godep-restore.sh`. In hindsight, looking at this [documentation](https://github.

[2017-09-06 13:07] mattjmcnaughton commented on #52024
/sig contributor-experience

[2017-09-06 13:12] mattjmcnaughton commented on #49256
If this is still an open issue, I'd love to take a shot at submitting a pr for it.

To confirm, the desired behavior is that if CPU usage is zero, and the desired replica count is 0, which is less than the minimum (1), `ScalingLimited` should still be `True`, but the status message should make it clear that it is because the CPU usage is zero?

[2017-09-06 13:26] jsafrane commented on #51961
Mount propagation is highly suspicious indeed.

The root cause is that mount propagation alpha feature is enabled, but the host OS does not support that. Looking at the kernel version it's Debian Wheezy. Wheezy runs with the root filesystem with private mount propagation while mount propagation feature in Kubernetes expects that all directories that are used as HostPath volumes are on a mount with

[2017-09-06 13:51] ncdc commented on #51965
fyi @mattmoyer

[2017-09-06 13:56] ncdc commented on #50916
@timothysc I glanced at the "scheduler cache" and it appears to be unrelated to shared informers?

[2017-09-06 13:56] mattjmcnaughton opened #52025 "Add helpful error message when using `make test` with a `WHAT` value relative to the current directory, not the $GOPATH"
/kind feature

**What happened**:
I tried to use `make test` to run the podautoscaler tests, with `make test WHAT=pkg/controller/podautoscaler`. I got the error message
[code]

The issue was that because I was specifying the package path relative to my current directory, as opposed to $GOPATH, I needed to append a `./` to my path dir. The command should have been `make test WHAT=./pkg/controller/p

[2017-09-06 13:59] wojtek-t commented on #50916
Agree. We are using shared informer in scheduler, but I would be surprised if it was related to that.
I guess something is wrong with schedulercache itself, but I also don't have time to look into it now.

[2017-09-06 14:01] dixudx commented on #52020
@2vcps The version displayed here is `KubeletVersion`. Please check the version of your `kubelet` whether is `v1.7.3`.

[2017-09-06 14:15] yan234280533 opened #52026 "When I used configmap to mount assign directory , but it override the file in this directory"
**Is this a BUG REPORT or FEATURE REQUEST?**:

When I used configmap to mount assign directory , but it override the file in this  directory
 /kind bug
/kind feature

**What happened**:
my version is 1.4.6, and in 1.7.1 it also happened

kubectl version
Client Version: version.Info{Major:"1", Minor:"4+", GitVersion:"v1.4.6-32+10d8ac899ab56c", GitCommit:"10d8ac899ab56c6d49dcdb3e155f9ebb98c498aa", G

[2017-09-06 14:18] dixudx commented on #52026
any detailed info? like Kubernetes version, related yaml files and how to reproduce it?

[2017-09-06 14:18] joshrosso commented on #41039
@soltysh sorry for additional noise, but also curious as @evmin whether this will miss the 1.8 milestone?

afaict, all items in

have been merged. Thanks in advanced!

[2017-09-06 14:28] leblancd opened #52027 "Kube proxy using incorrect conntrack CLI flags for IPv6 operation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Upon code inspection, it was noticed that kube-proxy does not supply the required family flag
"-f ipv6" when it calls the conntrack utility.

**What you expected to happen**:
Wherever the conntrack utility is executed, and the associated service uses IPv6, then the
"-f ipv6" family flag should be passed.

**How to rep

[2017-09-06 14:28] liggitt commented on #52026
volume mounts shadow any existing files in the specified directory

[2017-09-06 14:29] leblancd commented on #52027
/sig networking
/area ipv6

[2017-09-06 14:30] liggitt commented on #52000
the downward API is intended to provide information from the pod object, not fields from other objects

[2017-09-06 14:30] leblancd commented on #52027
/sig network

[2017-09-06 14:35] cliffburdick commented on #52000
@liggitt It looks like Node IP and Node Name are already part of the API. Is there a better way to do that?

[2017-09-06 14:37] liggitt commented on #52000
that is because those are fields on the pod

[2017-09-06 14:39] #52000 closed

[2017-09-06 14:57] dhempy commented on #44272
+1

[2017-09-06 15:02] jiaxuanzhou commented on #52004
would you paste some detailed info in kubelet.log to check the terminating behaviour of kubelet ?
Or you can try to config the graceful time in deployment template to shorten the terminating state.

[2017-09-06 15:14] bryanlarsen opened #52029 "Please remove port range restriction for nodePort field on nodePort type Services"
Feature Request:  Please remove port range restriction for nodePort field on nodePort type Services

Rationale:

From the documentation:   _If you want a specific port number, you can specify a value in the nodePort field, and the system will allocate you that port or else the API transaction will fail (i.e. you need to take care about possible port collisions yourself). The value you specify must

[2017-09-06 15:17] leblancd commented on #51866
FYI: I've just posted a PR (PR #52028 ) to fix the way that kube-proxy was calling conntrack without the
required "-f ipv6" CLI flag whenever conntrack was being executed for a service that's
using IPv6 addresses. There were a couple of lines in pkg/proxy/ipvs/proxier.go that needed to be
changed. I don't think I can add UT coverage for those lines until more support for IPv6 addresses
is added to

[2017-09-06 15:18] someword commented on #30073
@bowei @thockin
If you guys can add the labels required to keep this in the v1.8 milestone I will try to work up a pull request for the issue.

[2017-09-06 15:25] liggitt commented on #52022
bisected to 6875e953782076237a0c20facc05eeb5d49aa161

the stringification of the proxied location looks like it was normalizing the path and prepending a slash

that commit switched to copying the incoming request (which was being manually constructed from the parsed subresource path) as-is, which left the path missing a leading `/`

[2017-09-06 15:26] cmluciano commented on #47723
/kind bug
/priority important-soon

[2017-09-06 15:28] vinayk06 commented on #33714
@rgolangh  I was using helm charts with Jenkins triggered jobs.

[2017-09-06 15:34] bryanlarsen commented on #52029
/sig api-machinery

[2017-09-06 15:38] jdumars commented on #50752
/assign

[2017-09-06 15:56] ConnorDoyle commented on #44181
Closing -- deprecated as of v1.8 in favor of Extended Resources. See https://github.com/kubernetes/features/blob/9c50a745086d92321685cdfcf3d0bbaf17e0ab2b/release-1.8/release_notes_draft.md#scheduling

[2017-09-06 15:56] #44181 closed

[2017-09-06 16:07] kevingessner commented on #47264
Is there any way this could be fixed for 1.7.x?  Due to this bug, on 1.7 and earlier, the only reliable way to use init containers is to use the `pod.beta.kubernetes.io/init-containers`annotation, not the newer initContainers field.  But in 1.8 (as of 6ec80eac1bd9d9eb1902f7b20bf151541e6a44c6), that annotation is going away.  That means that a given pod spec can't be compatible with both 1.7 (where

[2017-09-06 16:09] dashpole commented on #51516
The 2 minute grace period has not been met, so no action is taken.
This is the difference between a "soft" and "hard" threshold: The soft only takes action after the threshold has been met for the specified period of time.
If no new stats exist, the correct behavior is not to take action.  This could delay action by 10 seconds, but it is better not to be overactive when evicting (we have had this

[2017-09-06 16:10] ConnorDoyle opened #52031 "Requirements to promote CPU Manager from α to β"
/kind feature

Task tracking issue for Beta CPU Manager.

- [x] Static policy container cpuset assignments are durable across Kubelet restarts either inspecting cgroupfs state or checkpoint state to disk. #54409
- [ ] Gating e2e tests are enabled in CI. This requires multi-CPU test nodes. #55980
- [ ] Enable the feature gate by default and mark the pre-release support level as "beta". #55977
- [ ]

[2017-09-06 16:11] ConnorDoyle commented on #52031
/sig node

[2017-09-06 16:15] dashpole commented on #51516
dekhtyarev@ it looks like your node goes in and out of disk pressure.  I see `no resources are starved` messages woven into your logs.

[2017-09-06 16:17] dashpole commented on #51516
Hmmm, or maybe there is something here.  Looks like the timer is reset for soft eviction thresholds.

[2017-09-06 16:22] dekhtyarev commented on #51516
@dashpole

No, On seeing this, I just ran several PODs on the node and did `docked pull many some images` to achieve the conditions of eviction.
I used ~22% of the disk, at the threshold of 80%. And disk consumption on the node did not change.

[2017-09-06 16:32] dekhtyarev commented on #51516
We just think that the timer resets, as the timestamp of the received data has not changed and this is taken into account in the eviction manager logic.
Look at the `time` field here:
[code]

@Kooper, wrote about it, I think.

[2017-09-06 16:34] msau42 commented on #49529
Nm, the test does seem to be cleaning up in the correct order: client pod, then server pod and endpoints.

So the issue seems to be that during Pod termination, it goes to Failed state.  Before, I thought it was because the unmount failed, but based on the timestamps of the logs, it seems like it fails before we start unmounting.

[2017-09-06 16:35] liggitt commented on #47264
Unfortunately, the annotations have to take precedence as long as 1.5 kubelets are supported, or updates from those kubelets would not correctly update the objects. 1.8 is the earliest that behavior could be dropped.

That conflict between honoring the earliest API representation (via annotations) to preserve skewed compatibility and having an API that isn't insane to use is why annotations are no

[2017-09-06 16:39] liggitt commented on #47264
fixed in https://github.com/kubernetes/kubernetes/pull/51816

[2017-09-06 16:39] #47264 closed

[2017-09-06 16:41] liggitt commented on #52029
@kubernetes/sig-node-feature-requests
@kubernetes/sig-network-feature-requests

[2017-09-06 16:41] cmluciano commented on #50495
/kind bug
/priority important-soon

[2017-09-06 16:51] ericchiang commented on #48561
Bit late but I don't think we can do this. Turning the AdvancedAuditing feature gate on by default changes the behavior of the existing audit log flags. E.g. it starts outputting JSON instead of the existing scheme.

[2017-09-06 17:06] dashpole commented on #51516
I see the issue.  Ill try and get a bugfix into 1.8.

[2017-09-06 17:25] wongma7 commented on #50522
Sorry, I don't know about that. I would open a new issue

[2017-09-06 17:27] dashpole commented on #51516
cc @kubernetes/sig-node-bugs
Soft Eviction thresholds have not been functional since 1.6...

[2017-09-06 17:31] someword commented on #30073
Some more details about what is going on here.   When running the kubelet with the flags
`--cluster-domain=cluster.local --resolv-conf=/etc/kube-resolv.conf`
And the contents of /etc/kube-resolv.conf are

The beginning of the process to manufacture a pods resolv.conf begins [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1347).

The alternate resolv conf is pars

[2017-09-06 17:32] RenaudWasTaken commented on #51993
Hi @jiayingz !

Sorry to be commenting so late on this.

I'll start with a short list of the Exposed interfaces / Functions of the deviceplugin module:
- Manager: `NewManagerImpl`,  `CheckpointFile`, `Start`, `Devices`, `Allocate`, `Register`, `Stop`
- Endpoint: Noting exposed
- Device Plugin Stub: `NewDevicePluginStub`, `Start`, `ListAndWatch`, `Update`, `Allocate`
- Types: `MonitorCallback`, `Ma

[2017-09-06 17:34] bgrant0607 commented on #23233
Ref #51862 regarding resource protection

[2017-09-06 17:37] bgrant0607 commented on #23233
@tamalsaha Not AFAIK. Activity should be tracked in https://github.com/kubernetes/features/issues/18

[2017-09-06 17:42] vishh commented on #51993
Before anyone posts a PR, let's first settle down on the right abstractions and problems to be solved. So a discussion and possibly a rough prototype will help avoid tedious code reviews.

[2017-09-06 17:49] adityadani commented on #51452
@WanLinghao I was on a vacation. I will have a PR ready by tomorrow EOD.

[2017-09-06 17:54] saad-ali opened #52032 "Ensure that host disk space used by Docker volume is accounted for"
From [Docker docs](https://docs.docker.com/engine/admin/volumes/volumes/#start-a-container-with-a-volume):

If the docker volume is not backed by a docker volume driver then docker creates a directory on the host machine to back the volume.

Kubernetes is implementing a mechanism to control the amount of host disk space a container can use. See the `Local Ephemeral Storage Resource Management` des

[2017-09-06 17:58] msau42 commented on #50115
All the callers of `GetAllZones` are either for volume provisioning or for e2e tests, which expect it to only return zones where there are currently nodes, so I think it is safe to add this filtering.  We can rename this to `GetAllCurrentZones` to be more clear.  If we want to include volume provisioning into HPA in the future, then we may have to revisit this and figure out a way to pass in manag

[2017-09-06 17:59] Random-Liu commented on #52032
@saad-ali This is not a regression. Do we want this be a 1.8 issue?

[2017-09-06 17:59] yujuhong commented on #52032
+1. Doesn't seem like a 1.8 issue.

[2017-09-06 18:08] 2vcps commented on #52020
kubelet version is 1.7.3. This makes sense.
Little confused as my "server" version is showing 1.6.8, thought this all should match. Might be my own tweaking that caused this. Is it possible to make it more clear of what "version" each command is referring to? or is this something I should have known on my own. Thanks.

[2017-09-06 18:09] msau42 commented on #50115
/assign

[2017-09-06 18:22] wojtek-t commented on #50115
@msau42 - ok, that sounds reasonable.
And I agree if we proceed with this approach, renaming to GetAllCurrentZones is much better name and we should rename it.

[2017-09-06 18:25] DirectXMan12 commented on #51650
Ah, you have a fundamentally different definition of "unready" than we assume in the HPA.  In order to deal with pod initialization CPU spikes we assume that unready pods will be back soon-ish, and that unready pods are probably unready because they're *not yet* ready.  This means that we don't keep scaling up while new pods are starting, and we don't accidentally overscale because a pod consumes

[2017-09-06 18:25] DirectXMan12 commented on #51650
@kilianc does that scenario above describe what you were seeing?

[2017-09-06 18:29] wojtek-t commented on #51825
Yes, disabling it for many resources shouldn't have visibly impact on performance and can decrease memory usage.

But there are some resources, where disabling it will be a disaster. Those are resources, which are being watched by node components.
Clayton already mentioned: pods, node and endpoints.
I think services are also in this group.

But it definitely shouldn't affect things like RCs, RSs,

[2017-09-06 18:32] saad-ali commented on #52032
My understanding is that the `ephemeral-storage` limit is being introduced in 1.8? @jingxu97?

[2017-09-06 18:43] Random-Liu commented on #52032
Also ref https://github.com/kubernetes-incubator/cri-containerd/issues/186#issuecomment-327390240.

### Background

We don't use docker volume in Kubernetes. However, Dockerfile does support [`VOLUME` ](https://docs.docker.com/engine/reference/builder/#volume), user could create `VOLUME` and write data into it in the Dockerfile. When docker runs the container, it will:
1) create a host volume;
2)

[2017-09-06 18:44] mengqiy commented on #45519
We actually don't need this issue any more. Closing...

But this is a question for you @apelisse

[2017-09-06 18:44] #45519 closed

[2017-09-06 18:46] vishh commented on #52032
Hostpath volumes are not supported because of the inability to identify sharing patterns. Docker volumes described in this context is hostpath volumes to me. @jingxu97 correct me if I got it wrong.

[2017-09-06 18:47] smarterclayton commented on #51825
I was trying to get a prometheus query that would show it.  We could do it per watch cache as well, but basically it's

1. N = number of total resources (i don't think we have a prometheus metric for today, but we could report watch cache stats if necessary)
2. C = concurrent watchers - should be able to calculate from apiserver_request_latency
3. W = write rate - can calculate from apiserver_requ

[2017-09-06 19:06] gnufied opened #52036 "Volumes that finish attaching after pod is deleted take non-trivial amount of time before becoming available"
We have hit on a problem more than once, where a user creates a pod but before volume could finish attaching to the node, he goes ahead and deletes the pod.

Such volumes aren't detached quickly enough because all attached volumes are assumed to be mounted (on attach) and hence https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/reconciler/reconciler.go#L201 che

[2017-09-06 19:06] gnufied commented on #52036
/sig storage

[2017-09-06 19:09] gnufied commented on #52036
I have opened 2 follow up PRs for fixing this - first is https://github.com/kubernetes/kubernetes/pull/52037 which simply removes the check for `MountedByNode` condition. @saad-ali do yo remember why we shouldn't detach volumes which aren't in desired state of world and not-in-use by a node?

The second approach as proposed by @tsmetana  is https://github.com/kubernetes/kubernetes/pull/52038 which

[2017-09-06 19:22] cmluciano opened #52039 "[network-policy] add e2e tests for ipBlock"
Test Cases:
- [ ]  Ingress blocking based on cidr from a given set of pods
- [ ] Test egress blocking based on cidr to a set of pods
- [ ] Consider an using this cidr feature to fix [Set owner references in pods owned by ProwJobs #3409](https://github.com/kubernetes/test-infra/issues/3409)

[2017-09-06 19:26] cmluciano opened #52040 "[network-policy] add e2e tests for EgressRule"
Test Cases:
- [ ] Egress blocking based on cidr to a set of pods
- [ ] Egress blocking based on namespace to a set of pods
- [ ] Egress blocking based on a set of pods to another set of  pods

[2017-09-06 19:30] sjdweb commented on #35941
+1 on @speedplane 's question if anyone has experience doing it?

[2017-09-06 19:34] #51048 closed

[2017-09-06 19:37] joelsmith opened #52043 "Race condition prevents mounting of secret and configmap volumes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Occasionally (more frequently if the node is heavily loaded) the node fails to mount a secret or configmap for a pod. Error recovery fails and the pod must be replaced with a new pod to have any hope of getting the secret or configmap volume mounted.
[code]
The problem appears to be that if a pod is updated, its secrets

[2017-09-06 19:39] wojtek-t commented on #51825
I'm not sure I agree. The fact whether it matters for you or not depends on what machines you're using. For large clusters we have big enough machines so we have quite a bit free space there. So we've never cared that much about memory.

There is one information bit that watch cache is missing, which is how much memory it can actually use.
Even if there are two watchers of a given resource, in the

[2017-09-06 19:40] joelsmith commented on #52043
The PR #52044 addresses this issue.
@kubernetes/sig-node

[2017-09-06 19:42] ericchiang opened #52045 "GKE e2e tests are failing to come up"
Master release blocking e2e tests are currently failing to come up. For example:
https://k8s-testgrid.appspot.com/release-master-blocking#gke

GCE tests are fine.

cc @kubernetes/test-infra-maintainers
cc @spxtr (current testinfra on call)
cc @kubernetes/kubernetes-release-managers

[2017-09-06 19:43] zmerlynn commented on #51695
/assign

[2017-09-06 19:47] zmerlynn commented on #52045
/assign

[2017-09-06 19:47] zmerlynn commented on #52045
I've got an internal fix out for this that's being deployed imminently.

[2017-09-06 19:55] krzyzacy commented on #52045
cc @abgworrall

[2017-09-06 19:57] zmerlynn commented on #52045
I'm not clear why the top comment says "GCI tests are fine." `gke-gci` is just as red. (FWIW, this was injected by #51816 because one of the pods we deploy on masters was using the old `init-containers` notation.)

[2017-09-06 20:02] abgworrall commented on #52045
@zmerlynn , I've interpreted that as 'non-GKE tests are fine'.

[2017-09-06 20:06] ericchiang commented on #51961
Assigning to the 1.8 milestone since this is breaking our gce-alpha-features e2e job.

cc @kubernetes/kubernetes-release-managers
cc @kubernetes/sig-storage-test-failures

[2017-09-06 20:12] ericchiang commented on #52045
@zmerlynn yes, sorry I meant pure gce tests. (too many initialisms)

[2017-09-06 20:20] kilianc commented on #51650
@DirectXMan12 I think you nailed it.

This has been battle tested in production with thousands of users to the point that didn't matter which metric we were using or how low the target was, the number of timeouts and `500`s spikes until every single pod stops working waiting for new nodes to spawn.

What we're doing at the moment is, we distinguish between new and unready pods, and we always take

[2017-09-06 20:29] sjenning commented on #51275
[code]

This message comes from cadvisor.  Stats are not currently collected via the CRI and, therefore, are not subject to `runtime-request-timeout`.

The 2m timeout on disk stat collection is hard-coded in cadvisor:
https://github.com/google/cadvisor/blob/master/container/common/fsHandler.go#L55

[2017-09-06 20:36] #51970 closed

[2017-09-06 20:36] #51842 closed

[2017-09-06 20:36] #52012 closed

[2017-09-06 20:36] msau42 commented on #51961
Can we pass in an environment variable in the test job [env](https://github.com/kubernetes/test-infra/blob/master/jobs/env/ci-kubernetes-e2e-gce-alpha-features.env) so that the mount propagation is only enabled when its set?

[2017-09-06 20:44] smarterclayton commented on #51825
Given that for large clusters it may be a 2x swing, and for small clusters there is very little value, i'm based towards opt in.  But I was saying heuristic on the lines of "you don't need to turn on unless you need to know"

[2017-09-06 20:48] #51695 closed

[2017-09-06 20:56] cheftako opened #52048 "Failure to load some of the volume plugins when cloud set to external."
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug report
/kind bug

**What happened**: Trying to implement stage 1 cloud provider controller manager for GCE (or azure etc) and run the e2e tests we see a lot of errors trying to load the relevant plugin. For this we have the cloud provider on kube controller manager set to external. There are two plugin managers, one of which has the relevant plugin

[2017-09-06 21:27] mml opened #52050 "make zsh completion work when the command isn't exactly `kubectl`"
I have a zsh function called `kc` which runs `kubectl` for me.  I cannot figure out how to repurpose the zsh tab completion to work with it though.  The best I could come up with (using `complete -o default -o nospace -F __start_kubectl kc`), it refuses to complete unless the exact word `kubectl` is present.

[code]

If there is some trick that fixes this, that's fine.  Otherwise maybe we should j

[2017-09-06 21:31] yujuhong commented on #52032
k8s doesn't allow sharing of this types of volumes -- it doesn't pass `-v` when creating a container.

This means that so far these volumes are just private, per-container volumes created by docker and will be destroyed along with the container. This is similar to the emptyDir volumes in kubernetes. It's not that useful unless we explicitly support docker volumes.

The volume section in the OCI im

[2017-09-06 21:31] MrHohn commented on #51961
@msau42 Not that I know of, as for this CI job alpha features are enabled all together by setting `KUBE_FEATURE_GATES=AllAlpha=true`. cc @krzyzacy

[2017-09-06 21:32] timothysc commented on #50686
This isn't really sig-scheduling's purview here.  Punting to /cc @kubernetes/sig-api-machinery-feature-requests

[2017-09-06 21:42] #47691 closed

[2017-09-06 21:43] #51981 closed

[2017-09-06 22:00] mml commented on #51709
@ixdy Does kubernetes/test-infra#4400 fix this?

[2017-09-06 22:04] mengqiy commented on #39188
kind/bug
priority/important-soon
@pwittrock Please change the milestone since this won't land in 1.8.

[2017-09-06 22:04] zmerlynn commented on #52045
Up went green: https://k8s-testgrid.appspot.com/google-gke#gke. Closing!

[2017-09-06 22:04] #52045 closed

[2017-09-06 22:06] roberthbailey commented on #52045
Thanks for jumping on this @zmerlynn

[2017-09-06 22:07] Random-Liu commented on #52032
After pulling down the image, kubelet can inspect the image to discover these "volumes". It can then create emptyDir or host volumes based on the default policy or pod spec. Next, it can pass these "special mounts" to the runtime via CRI and runtime would be responsible for copying the data if necessary.
We still have the problem of recording the volumes and surfacing them properly.

I also prefer

[2017-09-06 22:12] ixdy commented on #51709
that + cleanup finally fixed this, yes.

[2017-09-06 22:12] #51709 closed

[2017-09-06 22:27] zmerlynn commented on #51695
http://prow.k8s.io/log?job=ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster-new&id=201 has an example upgrade job that should be getting past this issue. (Still not complete, but it's getting farther.)

[2017-09-06 22:30] mengqiy commented on #50252
/assign @krousey

[2017-09-06 22:42] dashpole commented on #50268
closed via #50350

[2017-09-06 22:42] #50268 closed

[2017-09-06 22:53] ShawnMilo commented on #52004
If you're on Kubernetes 1.4 then I think this is a known issue. Under some circumstances you can have an oom issue, and there is no solution except restarting or replacing the node. Possibly due to not having the right `limits` (`limitranges`) set and having a pod use too much memory, causing a stability issue with Docker on the node. I believe I read that it's fixed in Kubernetes 1.7, but I did a

[2017-09-06 22:54] Random-Liu commented on #51746
Mark 1.9. I think we should clearly define this in 1.9

[2017-09-06 22:58] yifan-gu commented on #27975
@cmluciano I believe so, /cc @JulienBalestra

[2017-09-06 23:16] danbopes opened #52053 "Isolate backend services from load balancer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig network

**What happened**:
When I setup a loadbalancer to my frontend service, I notice it's forwarding traffic to each of my nodes. In case of possible DDoS attack, I'd like the front end nodes to be isolated to prevent the back end nodes from being overloaded as well.

**What you expected to happen**:
When setting up a LoadBalanc

[2017-09-06 23:21] #35414 closed

[2017-09-06 23:24] timothysc commented on #51331
I believe I saw another issue about this fly by.  It had to do with setting a default timeout on api-requests.

[2017-09-06 23:25] ericchiang commented on #51961
Don't know have a ton of background on this issue, but what happens when this feature gate gets turned on by default once it reaches beta? If it's not appropriate for all clusters it should probably have an additional flag to enable/disable it. And not only be automatically enabled based on the feature gate.

[2017-09-06 23:46] danbopes commented on #52053
/sig network

[2017-09-06 23:48] msau42 commented on #51961
I mean an additional environment variable along with the feature gate.

Also, aren't we deprecating Debian soon?

[2017-09-06 23:55] twistedpair commented on #28272
@CsatariGergely can you share the "other ways" you've worked around this? We'd be keen to use an alternative approach that will work on GKE. Thanks.

[2017-09-07 00:18] yujuhong opened #52055 "pull-kubernetes-e2e-kops-aws: flag provided but not defined: -provider"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/52035/pull-kubernetes-e2e-kops-aws/47388/

[code]

[2017-09-07 00:19] alena1108 commented on #51293
@feiskyer tested against your commits cherry-picked on top of 1.8 beta, the fix seems to work

[2017-09-07 00:21] yujuhong commented on #52055
/cc @krzyzacy because of https://github.com/kubernetes/test-infra/pull/4427

[2017-09-07 00:22] krzyzacy commented on #52055
/assign

doing some migration, https://github.com/kubernetes/test-infra/pull/4429 will fix it

[2017-09-07 00:23] krzyzacy commented on #52055
it's non-blocking now, I'll take the advantage to upgrade the e2e image it's using before we make the job blocking again.

[2017-09-07 00:27] feiskyer commented on #51293
@alena1108 thanks.

[2017-09-07 00:56] yujuhong commented on #52032
Is this feature alpha or beta in 1.8? I think it's ok not to account these volumes for an alpha feature even if we do decide to do so.
I'd suggest punting this to the next release or later given that the volumes are not well-supported in kubernetes.

[2017-09-07 00:57] k8s-merge-robot opened #52058 "Failure cluster [76edb2...] failed 688 builds, 111 jobs, and 1 tests over 1 days"
### Failure cluster [76edb205d929c5fe8d14](https://go.k8s.io/triage#76edb205d929c5fe8d14)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    111 jobs failed,    688 builds failed.
Failure stats cover 1 day time range '6 Sep 2017 00:09 UTC' to '7 Sep 2017 00:09 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DumpClusterLogs | 111

[2017-09-07 00:57] k8s-merge-robot opened #52059 "Failure cluster [b74137...] failed 431 builds, 90 jobs, and 1 tests over 1 days"
### Failure cluster [b741375f10a0c2e1e477](https://go.k8s.io/triage#b741375f10a0c2e1e477)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    90 jobs failed,    431 builds failed.
Failure stats cover 1 day time range '6 Sep 2017 00:09 UTC' to '7 Sep 2017 00:09 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DumpClusterLogs | 90 |

[2017-09-07 00:57] k8s-merge-robot opened #52060 "Failure cluster [8eb9f1...] failed 400 builds, 69 jobs, and 1 tests over 1 days"
### Failure cluster [8eb9f14149d80c9af17d](https://go.k8s.io/triage#8eb9f14149d80c9af17d)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    69 jobs failed,    400 builds failed.
Failure stats cover 1 day time range '6 Sep 2017 00:09 UTC' to '7 Sep 2017 00:09 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DumpClusterLogs | 69 |

[2017-09-07 00:57] k8s-merge-robot opened #52061 "Failure cluster [7aea68...] failed 208 builds, 25 jobs, and 2 tests over 1 days"
### Failure cluster [7aea68a0b7ab17c88d2a](https://go.k8s.io/triage#7aea68a0b7ab17c88d2a)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    25 jobs failed,    208 builds failed.
Failure stats cover 1 day time range '6 Sep 2017 00:09 UTC' to '7 Sep 2017 00:09 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Deferred TearDown | 24

[2017-09-07 00:57] k8s-merge-robot opened #52062 "Failure cluster [f6b5f0...] failed 194 builds, 9 jobs, and 1 tests over 1 days"
### Failure cluster [f6b5f0f079257f868092](https://go.k8s.io/triage#f6b5f0f079257f868092)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    9 jobs failed,    194 builds failed.
Failure stats cover 1 day time range '6 Sep 2017 00:09 UTC' to '7 Sep 2017 00:09 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 9 |

##### Top fail

[2017-09-07 00:59] dchen1107 commented on #31754
Node performance dashboard: http://node-perf-dash.k8s.io/#/builds was published in 1.4. Close this one.

[2017-09-07 00:59] #31754 closed

[2017-09-07 01:13] shyamjvs commented on #51718
Some additional failures seen on 5k-node tests:

- [sig-node] AppArmor load AppArmor profiles should enforce an AppArmor profile (https://github.com/kubernetes/kubernetes/issues/51791)
- [sig-scalability] API call latencies shot up on large cluster tests (https://github.com/kubernetes/kubernetes/issues/51899)

[2017-09-07 01:13] shyamjvs commented on #51700
Ref https://github.com/kubernetes/kubernetes/issues/51718

[2017-09-07 01:13] shyamjvs commented on #51702
Ref https://github.com/kubernetes/kubernetes/issues/51718

[2017-09-07 01:14] shyamjvs commented on #51717
Ref https://github.com/kubernetes/kubernetes/issues/51718

[2017-09-07 01:14] shyamjvs commented on #51791
Ref https://github.com/kubernetes/kubernetes/issues/51718

[2017-09-07 01:15] shyamjvs commented on #51791
@tallclair Could you manage to take a look into this?

[2017-09-07 01:15] shyamjvs commented on #51899
Ref https://github.com/kubernetes/kubernetes/issues/51718

[2017-09-07 01:33] hzxuzhonghu opened #52064 "Should initiate before real use in controllers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Although  #51633 solve this kind of issue<use some field methods before initiate>. But from coding convention, I think these code should be modified in related controllers. like deployment, daemon, etc
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know

[2017-09-07 01:36] CaoShuFeng commented on #48561
Yes, you are right.

We should never turn this feature on?
Or this change will break some tests again like https://github.com/kubernetes/kubernetes/issues/51556, so we should turn the gate on and update some test at the same time?

[2017-09-07 01:37] dixudx commented on #52020
You can enable verbose log to see the full requests, such as `kubectl -v=10 get deploy`.

[2017-09-07 01:44] yujuhong commented on #50695
What might help is to change the default testing OS image to COS since CVM is being deprecated (part of #51487). We can still keep the CVM test coverage but make it non-blocking until it's officially retired.
/cc @abgworrall @dchen1107

[2017-09-07 01:48] timothysc commented on #50813
I'll double check the node-controllers timeout interval to bounce the workload.  In the mean time you may want to reconsider how your are deploying ZK: https://kubernetes.io/docs/tutorials/stateful-application/zookeeper/

[2017-09-07 01:48] m1093782566 commented on #51866
@leblancd

ACK!

I will take care of ipvs/proxier.go, please feel free to ping me when you want my hand :)

[2017-09-07 01:49] timothysc commented on #34508
/cc @ncdc

[2017-09-07 01:54] leblancd commented on #51866
@m1093782566  Sounds good, ipvs/proxier.go is all yours. :) Likewise, let me know if I can help.

[2017-09-07 01:56] ericchiang commented on #48561
Maybe we let users opt into this through `--audit-log-format`?

e.g. if you supply `--audit-log-format=legacy`, which we make the default again, you get the old audit log implementation. If you supply `--audit-log-format=json` you get the new implementation.

Don't know how cleanly that would interact with `--audit-policy-file`.

Don't have a good answer there. We'd probably just update the e2e te

[2017-09-07 02:01] CaoShuFeng commented on #48561
With current implementation, if user doesn't pass --audit-policy-file to kube-apiserver, nothing will be recorded.

[2017-09-07 02:09] helphi opened #52068 "kubeadm offline installer support"
We hope `kubeadm` can support offline installer such as `kubectl` and `minikube`, because we can't access google cloud in China.

[2017-09-07 02:14] hzxuzhonghu commented on #52068
+1

[2017-09-07 02:17] CaoShuFeng commented on #48561
This option is not a switch between Lagacy audit/Advanced audit.
This option is used for the format of Advanced audit.
I known this --audit-log-format hasn't been released yet, but it has been merged for 2 months, can we change it's behavior now?

[2017-09-07 02:19] m1093782566 commented on #51866
Sure.

[2017-09-07 02:39] m1093782566 opened #52070 "Should support flush API for ipvs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Currently, we flush ipvs services by deleting them one by one. That's because there was no flush API in libnetwork. Now, libnetwork supports flush API, I think it's time to rsync.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2017-09-07 02:39] m1093782566 commented on #52070
/sig network

[2017-09-07 02:40] m1093782566 commented on #52070
/area kube-proxy

[2017-09-07 02:40] m1093782566 commented on #52070
/assign @m1093782566

[2017-09-07 02:44] laverite commented on #33192
i'm seeing this in 1.7.4 (CentOS Linux release 7.3.1611 (Core), 4.9.13-1)

i can curl the metrics endpoint continuously and see the stats appear and disappear (missing entries) eve thought the containers are stable.

[2017-09-07 02:53] WIZARD-CXY commented on #51950
@CallMeFoxie if you can not fix it soon, I can give a hand to fix this.

[2017-09-07 03:01] #48760 closed

[2017-09-07 03:03] tallclair commented on #51791
Sorry, I meant to reply to this! I have a fix, just need to confirm it works. I think you're right about the DaemonSet timing out. There's no reason this needs to load the profiles on every node, so the fix just runs a single loader, and uses pod affinity to co-schedule the test pod.

[2017-09-07 03:12] shyamjvs commented on #51791
Smooth!

[2017-09-07 03:22] WIZARD-CXY commented on #51950
After a quick search of the code I think I suspect this pr https://github.com/kubernetes/kubernetes/pull/42524/files causes the regression. The time matches

[2017-09-07 03:33] zjj2wry opened #52072 "consider add aliases for kubectl config"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@pwittrock @fabianofranz @deads2k @smarterclayton
[code]

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-relea

[2017-09-07 03:34] zjj2wry commented on #52072
/sig cli
/king usability

[2017-09-07 03:35] zjj2wry commented on #52072
/king usability

[2017-09-07 03:53] abgworrall commented on #50695
Yep, agreed. We should flip to COS. Even @mtaufen agreed. I might try and flip it this week, although I'm pretty swamped, so anyone else feel free to do it.

A more surgical fix you could do right now would be to amend `pull-kubernetes-e2e-gce-etcd3.env` to specify COS right now by setting `KUBE_NODE_OS_DISTRIBUTION` to `gci` instead of `debian`.

[2017-09-07 03:59] k82cn commented on #51950
it seems #39369 only enhance validation instead of pod predicates.

[2017-09-07 04:11] kevin-wangzefeng commented on #49469
Close in favor of https://github.com/kubernetes/kubernetes/pull/50565#issuecomment-327023306

[2017-09-07 04:11] #49469 closed

[2017-09-07 04:12] joelsmith commented on #52043
This may be a false alarm. I've never actually reproduced it in Kubernetes proper, only in OpenShift. Since our smoking gun was anything but, I'm going to close this until I manage to find an actual problem in Kubernetes.

[2017-09-07 04:12] #52043 closed

[2017-09-07 04:19] WIZARD-CXY commented on #51950
I think update the function ```updateUsedPorts``` which brought by https://github.com/kubernetes/kubernetes/pull/42524/files  and change ```usedPorts        map[int]bool```  to map[string]bool, in which key(string) is hostIp/hostport/protocol and add some unit test is enough.WDYT

[2017-09-07 04:27] CallMeFoxie commented on #51950
That's ~identical to what i did in validation so should be fine i think.

[2017-09-07 04:45] gwind commented on #51881
# This is not a bug !

## In all kubelet node host

### 1. add a `--network-plugin=cni` to kubelet args

[code]

### 2. install cni plugins

[code]

## show pods' IP

[code]

## k8s-node-1 has cni0 NIC

[code]

There is one problem: new pod's ip can not be ping from other node

[2017-09-07 04:50] derekwaynecarr opened #52074 "Cross build broken"
After merging the following:

#51728
#51557

cross build broke.

[2017-09-07 04:51] derekwaynecarr commented on #52074
/sig-node

[2017-09-07 04:53] derekwaynecarr commented on #52074
/sig node

i opened a pr referenced to fix

[2017-09-07 06:11] helphi commented on #52068
/kind feature
/sig area/kubeadm

[2017-09-07 06:12] helphi commented on #52068
/sig area/kubeadm

[2017-09-07 06:15] helphi commented on #52068
/area kubeadm

[2017-09-07 06:32] lichuqiang commented on #51993
So I think the key point is if it necessary to combine the part of Manager into DevicePluginHandler and endpoint.
From a design perspective, it seems clearer to keep it independent; However, people might feel it redundant when looking into the code, since the manager itself does not have much logic, largely works as passthrough, except the gRPC server part.

As for the merge of func listAndWatch &

[2017-09-07 07:12] flyingcougar commented on #52031
As for check pointing - use etcd ?

[2017-09-07 07:17] guangxuli commented on #50735
@nikhiljindal Could you see this issue and the relevant PR. Thanks.

[2017-09-07 07:27] resouer commented on #51926
@jsafrane Yes, I changed the description of the issue, the root cause seems like `unmount()` is skipped somehow. That's why the metadata file is still there (yes, we did cleanup in `unmount()`)

[2017-09-07 07:34] verb commented on #1615
FYI, #51634 reverted this shared PID behavior for 1.8. Shared PID namespaces will be disabled unless enabled with a kubelet flag.

[2017-09-07 07:35] verb commented on #1615
/assign @verb

[2017-09-07 08:32] adelton commented on #51926
I wonder if it's either driver which doesn't do attaching, and then `mount` and `umount` is used, or it's `mountdevice` and `unmountdevice`. At least that's what https://github.com/kubernetes/kubernetes/blob/master/examples/volumes/flexvolume/nfs vs. https://github.com/kubernetes/kubernetes/blob/master/examples/volumes/flexvolume/lvm suggest.

[2017-09-07 08:57] WIZARD-CXY commented on #51950
@k82cn I look through the code and find out the scheduler only predicates using hostPort, not "hostPort protocol" or "hostip hostPort protocol", I wonder if it is intended, If so, it looks a little surprised to me.

[2017-09-07 09:17] hzxuzhonghu commented on #52053
setup node selector in service is the most direct way.
Also another way is to get the node selector from the pods belong to service.

[2017-09-07 09:26] k82cn commented on #51950
yes, it's the logic since 1.5.

[2017-09-07 09:30] danbopes commented on #52053
@hzxuzhonghu Setting up a nodeSelector in the service doesn't effect the load balancer rules. The load balancer still routes to all 3 notes, and traffic from the non-front end nodes, are simply routed to the front-end nodes in the proxy layer. A ddos attack could still bring them down.

[2017-09-07 09:34] k82cn commented on #47943
/priority important-longterm
/kind feature

[2017-09-07 09:34] dixudx commented on #51273
Leave it open here.

Will resolve this after finishing the main part of refactoring.

[2017-09-07 09:35] k82cn commented on #45019
/kind feature
/priority important-longterm

[2017-09-07 10:00] WIZARD-CXY commented on #51950
Ok then, why is it intended? Do we need to change it? @davidopp @timothysc

[2017-09-07 10:01] urzds commented on #44181
Hi @ConnorDoyle! Are Extended Resources already documented? There is no link in the release notes draft, and a quick Google search did not turn up obvious matches.

[2017-09-07 10:04] jsafrane commented on #51995
It should be fixed by #52018

[2017-09-07 10:04] #51995 closed

[2017-09-07 10:07] jsafrane commented on #51961
All kubelets then need to run on OS that supports mount propagation of any HostPath directory.

Any distro with systemd is fine. Only those that run something else (=Wheezy) need to re-bind `/` as rshared during boot. This should be clearly documented when we switch from alpha to beta.

[2017-09-07 10:11] techtonik commented on #28546
@kubernetes/sig-network

[2017-09-07 10:28] discordianfish commented on #48396
This bot is is really agressive. Can/should I add labels? Haven't figure out how.

[2017-09-07 10:58] codrut51 opened #52081 "Binding normal user to read pods only"
I tried binding a normal user to read pods only but it still has access to read deployments and everything. The .yml document that I used is this:
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: pod-admin
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: pod-reader
subjects:
- kind: User
  name: "dcnexttest@gmail.com"
  namespace: k

[2017-09-07 11:05] matthiasr commented on #47264
So do I understand correctly that currently the safe way is to always duplicate the init container between the annotation and the actual field, and then after upgrading to 1.8 drop the annotation?

[2017-09-07 11:30] rbtcollins commented on #26507
Forgive my later-comer confusion, but it seems like there are two different concerns being discussed in the one ticket?

Concern a) tracing the work that goes into a single RPC request: e.g. client -> apiserver -> kubelet -> docker -> lastlog-of-a-container  and back up the stack.

Concern b) tracing the lifecycle of resources in the system - e.g. the pod creation, scheduling, deletion-request, ac

[2017-09-07 11:39] kargakis commented on #51046
This would help a lot with debugging in prow. Today, the only thing we can do is bubble up information from the spec of a prowjob as labels and use a label selector.

[2017-09-07 11:42] odacremolbap opened #52082 "Flex Volumes report falling back to GetVolumeName too often"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Flex Volume plugin `GetVolumeName` might be too verbose

**What you expected to happen**:

Not getting many warning messages about falling back to Flex's default `GetVolumeName`

**How to reproduce it (as minimally and precisely as possible)**:

Create a cluster, add a Flex volume, let reconciler (or any other caller) ca

[2017-09-07 11:43] odacremolbap commented on #52082
@chakri-nelluri

[2017-09-07 11:44] odacremolbap commented on #52082
/sig storage

[2017-09-07 11:46] kevin-wangzefeng commented on #52068
/sig cluster-lifecycle

[2017-09-07 11:52] kevin-wangzefeng commented on #52068
kubeadm supports to download images from custom repositories.
You can first download the images with from google cloud and upload them to your own repository, and then use the command like below.
[code]

[2017-09-07 11:58] codrut51 commented on #52081
@assign user

[2017-09-07 12:05] felixPG opened #52084 "Statefulset container hostname full FQDN"
/kind feature

**What happened**:

I have a statefulset with headless service and both work fine. The service that I run is an activemq instance that use DNS names to make the brokers of networks using multicast discovery.
The problem is that activemq **use the hostname** to expose the uri for the discovery and when the other broker search the "exposed brokers" see the broker as **hostname:port**.

[2017-09-07 12:09] felixPG commented on #52084
/sig network

[2017-09-07 12:30] kevin-wangzefeng commented on #51997
/sig cluster-lifecycle

[2017-09-07 12:37] dims commented on #52081
/sig auth

[2017-09-07 12:46] micahhausler commented on #33192
@laverite  Theres a long discussion going on google/cadvisor#1704 about that issue. I think the titled issue is separate

[2017-09-07 12:51] crassirostris commented on #48561
Wait, hasn't https://github.com/kubernetes/kubernetes/pull/51943 already done this?

[2017-09-07 12:53] nagavenkatab opened #52087 "flexVolume: Volume not attached according to node status for volume "test""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I am using flexvolume lvm plugin to create volume and it fails with the below error
Sep 07 18:15:35 kube1 kubelet[26930]: E0907 18:15:35.552974   26930 nestedpendingoperations.go:262] Operation for "\"flexvolume-naga/lvm/test\"" failed. No retries permitted until 2017-09-07 18:17:37.552933485 +0530 IST (durationBeforeRetry 2m2s). Er

[2017-09-07 12:54] nagavenkatab commented on #52087
@chakri-nelluri I am doing anything wrong here?

[2017-09-07 13:02] ConnorDoyle commented on #44181
No, it still needs to be done. CC @vishh

[2017-09-07 13:10] #52087 closed

[2017-09-07 13:10] nagavenkatab commented on #52087
after disabling --enable-controller-attach-detach, it is working fine.

[2017-09-07 13:11] k82cn commented on #42394
/priority important-soon

[2017-09-07 13:14] DirectXMan12 commented on #51650
/assign @DirectXMan12

[2017-09-07 13:18] crassirostris commented on #48561
The way I see it, you can still enable basic auth by disabling advanced audit logging, so it's not a problem. @CaoShuFeng even added this to the documentation in https://github.com/kubernetes/kubernetes.github.io/pull/5300

[2017-09-07 13:31] liggitt commented on #47264
Correct. Pre-1.8, the information is duplicated in two places in the object, with the annotation taking precedence. 1.8+, only the field is honored. You should set the field for forward compatibility, and set the annotation if you want your changes to be effective against a pre-1.8 server.

[2017-09-07 13:32] shiywang opened #52089 "Unclear openapi cache strategy"
This pr https://github.com/kubernetes/kubernetes/pull/50404 introduced http cache into discovery client, only cache swagger file, and refetch depend on `If-None-Match` or sth else,  if I understand correctly, but from my observation, the behavior is unclear:

1. When I execute command like:
`kubectl create -f ~/xxx.yaml`  it will cache the openapi resource every time, seems even when I remove `htt

[2017-09-07 13:33] shiywang commented on #52089
/sig cli

[2017-09-07 13:39] liggitt commented on #52089
loglevel 10 is requesting network trace, so it is expected you would see the content of discovery/schema docs

[2017-09-07 13:40] liggitt commented on #52089
can you clarify what you mean by this?

[2017-09-07 13:47] jamiehannaford commented on #49503
@jingxu97 Do you want to keep this issue open? Although #50042 has been merged, you also mentioned an ongoing design issue:

[2017-09-07 13:49] jamiehannaford commented on #50246
@dims @idvoretskyi @anguslees Does anybody know of any efforts that might enable this? I heard rumblings of some kind of OpenStack cluster for testing but don't know any details.

[2017-09-07 13:59] dims commented on #50246
cc @hogepodge

[2017-09-07 14:00] derekwaynecarr commented on #47943
we should get a corresponding issue opened in cAdvisor.

[2017-09-07 14:06] resouer commented on #51926
@adelton Fixed. It was due to I am using kubelet 1.7.4 which does not include #50596. Sorry for mess. After upgrade to 1.7.5, everything works.

cc @chakri-nelluri

[2017-09-07 14:06] #51926 closed

[2017-09-07 14:17] ironcladlou opened #52093 "[release-1.7] Panic in kube-controller-manager from concurrent map write race in resource quota controller"
The pod evaluator used by the resource quota controller made direct calls to an unsafe pod conversion function which mutates the pod argument. With multiple resource quota controller workers, concurrent processing of the same pod from a shared informer can result in a panic when the conversion code attempts to write to a map field in the pod.

Observed in this [OpenShift bug](https://bugzilla.redh

[2017-09-07 14:18] shyamjvs commented on #51953
Thanks for the input. I'll take a look at kube-state-metrics and try adding this metric to it.

[2017-09-07 14:26] liggitt commented on #52022
also, this appears to be limited to upgrade requests

[2017-09-07 14:38] jiayingz commented on #51993
@lichuqiang Is it possible that you break your change into small PRs? Possible one PR for a clean-up item mentioned in the issue. This way, it may be easier to settle down and also makes review faster.

[2017-09-07 14:56] DirectXMan12 commented on #49256
Yep!  Having zero usage is a bit of a special case, so it's probably worth letting people know explicitly.

[2017-09-07 14:58] laverite commented on #33192
@micahhausler that fits my problem much better.  thanks for pointing me in the right direction!

[2017-09-07 15:00] liggitt commented on #52022
and actually, the upgrade issue was introduced in https://github.com/kubernetes/kubernetes/commit/715d5d9c91c669cf33c0bf9a9c9d352c6c4228a6#diff-1fbb2e342b0473af45e93e3e26031e80L226

[2017-09-07 15:05] MHBauer commented on #52081
I am not a sig-auth guy, but I've been messing with rbac stuff lately.

1. I don't have the `pod-reader` clusterrole by default on my setup. What does that clusterrole look like?
2. Are you sure that user is not bound using a clusterrole with higher access?
3. Are you sure you are using that user when you connect?

[2017-09-07 15:07] VasylSamoilov commented on #52022
I can confirm that my initial report was incorrect, only upgrade requests are affected.

[2017-09-07 15:08] lichuqiang commented on #51993
@jiayingz Sure. But as @vishh said, shall we have a discussion about direction of the  refactoring first?
First seeing the issue, I thought you major members of the feature already had a discussion offline, but it seems that RenaudWasTaken still have doubts about the idea of breaking Manager into DevicePluginHandler and endpoint.
After we reach an agreement. I would set about the modification at o

[2017-09-07 15:09] pwittrock commented on #52089
My understanding is that the discovery service is cached using a different mechanism from the one in the linked PR.  The ttyl on that cache is 10m.

[2017-09-07 15:09] vdm commented on #39830
This UX sucks. The documentation should list the exceptions. As in: "... except pdb"
[code]

Landed here from https://www.google.com/search?q=kubectl+get+all+pdb

[2017-09-07 15:13] grebois commented on #45626
Same issue:

[code]

[2017-09-07 15:16] timothysc commented on #51950
It's intended.  IIRC hostports are special, in that they are propagated to all nodes in the cluster and should be treated with extra care.  They were a way of exposing services pre-ingress-controller for folks who didn't have native cloud load-balancer integration.

[2017-09-07 15:32] CallMeFoxie commented on #51950
hostports? Don't you mean those nodeport services?

[2017-09-07 15:40] VasylSamoilov commented on #52022
Correct curl to reproduce the issue is to issue websocket upgrade request:
` curl -H "Upgrade: websocket" -H "Sec-Websocket-Version: 13" -H "Sec-Websocket-Extensions: permessage-deflate; client_max_window_bits" -H "Sec-Websocket-Key: rtBOKvTHtRAbTpz9vhyAng==" http://localhost:8080/api/v1/namespaces/default/services/testservice:http/proxy/test `

[2017-09-07 15:43] matthiasr commented on #47264
Perfect!

On Thu, Sep 7, 2017 at 1:39 PM Jordan Liggitt <notifications@github.com>
wrote:

[2017-09-07 15:49] timothysc commented on #51950
sorry... you are correct I transposed those when writing that.

[2017-09-07 16:12] abgworrall commented on #51961
Yep, CVM (debian) is not being supported as of 1.8, and support for it on earlier k8s versions ends on Sep 30. In #51487, we're going to be making COS (GCI) the default node image for testing sometime soon. If moving this testjob from CVM to COS would be helpful right now, that's a fairly easy change to make - set `KUBE_NODE_OS_DISTRIBUTION` to `gci` in the `testjob.env` file.

[2017-09-07 16:14] hogepodge commented on #50246
@jamiehannaford we're bringing a stable OpenStack cluster online that will be devoted to CICD to test OpenStack providers on. I'm expecting to have credentials for it in the next few weeks.

[2017-09-07 16:23] manuperera opened #52096 ""externalTrafficPolicy": "Local" not work fine"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have defined a service thar use externalTrafficPolicy field to preserve source IP of clients requests. The configuration file to this service is as follow:

[code]

In the dashboard of Kubernetes the service appears as follow:

![image](https://user-images.githubusercontent.com/28434493/30173400-ce1e1aac-93f7-11e7-8836-

[2017-09-07 16:24] justinsb commented on #52055
Thanks @krzyzacy !

[2017-09-07 16:35] timothysc opened #52098 "RFE: e2e label internet connectivity."
**PROBLEM STATEMENT:**
It's normal for folks to build clusters in an air-gap'd environment.  In these environments access to the wider internet is strictly forbidden.  We've known that there are several tests in the test suite require internet connectivity e.g. xref: https://github.com/kubernetes/kubernetes/pull/51287 , and this poses a problem for folks wanting to validate their cluster.

**PROPO

[2017-09-07 16:38] msau42 commented on #51961
@abgworrall  We already have quite a few test suites (including this one) that have both debian and gci versions. As part of your work, will you be removing all these non-gci suites?

[2017-09-07 16:41] edude03 commented on #48998
I'm seeing this issue with cronjobs on Kubernetes 1.7.0 as well. Interestingly, I do see this on long lived containers as well.

[2017-09-07 16:42] jamiehannaford commented on #50246
@hogepodge Awesome! Is there a tracking issue which covers that CI integration? (Just so I can subscribe.)

[2017-09-07 16:42] ericchiang commented on #48561
Wasn't aware we already did this. I'll call it out explicitly in the release notes. https://github.com/kubernetes/features/blob/master/release-1.8/release_notes_draft.md#action-required-before-upgrading

[2017-09-07 16:43] tallclair commented on #51746
@Random-Liu Yes that's the intended behavior. I think it would be reasonable to define a default Kubernetes profile though.

[2017-09-07 16:44] abgworrall commented on #51961
Arguably yes. It's possible that moving them from CVM to Ubuntu is the right thing to do, but overall that feels like an unscalable approach to OS image testing ( @yguo0905 , @mtaufen, @krzyzacy  )

[2017-09-07 16:44] bgrant0607 commented on #22909
cc @kow3ns

[2017-09-07 16:45] crassirostris commented on #48561
@ericchiang Thanks!

[2017-09-07 16:51] bgrant0607 commented on #22675
Object references and label selectors are even more challenging, since much of the information is implicit and/or inherited from the referrer.

In addition to an API that takes the referrer and reference/selector and returns a fully qualified reference and relative URI, we need to add the information to our OpenAPI spec for client-side reference traversal, such as for #1698.

[2017-09-07 16:56] bgrant0607 commented on #22675
Selector issue: https://github.com/kubernetes/kubernetes/issues/3676

[2017-09-07 16:57] #52074 closed

[2017-09-07 16:59] bgrant0607 commented on #3676
@kargakis I reopened. Owner references link from pods to their controller. This is about the other direction. The client needs fairly deep knowledge of the API in order to be able to find the selector field, understand what type of resource it refers to, and translate the selector into the syntax used by the API query parameter.

[2017-09-07 17:01] oomichi opened #52099 "Test "should provide Internet connection for containers" could not be valid as a conformance test"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

**What happened**:

The test "should provide Internet connection for containers" is defined as a conformance test, and the test requires traffic to the internet from test target clusters.
But during the discussion of https://github.com/kubernetes/kubernetes/pull/51287 we had a question this test should be defined as a conformance test.
One

[2017-09-07 17:02] kargakis commented on #3676
/sig api-machinery

then

[2017-09-07 17:02] bgrant0607 commented on #14961
v1 plan: #42752

cc @kow3ns

[2017-09-07 17:04] bgrant0607 commented on #42752
cc @kubernetes/sig-apps-proposals

[2017-09-07 17:05] bgrant0607 commented on #3676
Related: #22675

[2017-09-07 17:08] bgrant0607 commented on #1698
Selector and reference info: #3676, #22675

How this fits into the bigger picture: https://goo.gl/T66ZcD

[2017-09-07 17:14] bgrant0607 commented on #22675
@kubernetes/sig-api-machinery-feature-requests

[2017-09-07 17:14] bgrant0607 commented on #3676
@kubernetes/sig-api-machinery-feature-requests

[2017-09-07 17:14] smarterclayton commented on #51825
Hrm - disabling the watch cache globally does not have the same behavior as setting capacity zero for a given resource.  That concerns me.  Also, it looks like we found a bug when watch cache is totally disabled - requests pile up on the api server and then time out an hour later.  Debugging more.

[2017-09-07 17:14] jiayingz commented on #51993
I think the overall goals of this issue is to improve readability and maintainability of the device plugin through certain code refactoring. The listed items are possibilities we may consider and reflects the general concerns that the reviewers had during the device plugin PR review. We do hope whoever takes this task would put more thoughts on them and come up with an implementation that helps ac

[2017-09-07 17:15] bgrant0607 commented on #1698
@kubernetes/sig-apps-feature-requests @kubernetes/sig-cli-feature-requests

[2017-09-07 17:15] cblecker commented on #49484
When done, we should update this: https://git.k8s.io/community/contributors/devel/development.md#go

[2017-09-07 17:21] krousey commented on #50252
This is a GKE/GCP cloud support issue and should be followed up with them. Closing here.

[2017-09-07 17:21] #50252 closed

[2017-09-07 17:22] oomichi commented on #52099
conflict with https://github.com/kubernetes/kubernetes/issues/52098

[2017-09-07 17:22] #52099 closed

[2017-09-07 17:22] yujuhong commented on #51746
@tallclair, this seems misleading to me... Whether the default apparmor profile will be applied to containers or not become a node-level decision, and is hard to detect by the end users.
Perhaps this should be a cluster-level setting? We can set the default for every pod automatically.

Another question. Do we ever want to allow a container to run without any apparmor profile? This seems not doabl

[2017-09-07 17:23] matthewceroni commented on #45688
@euank

Do you happen to have a Issue # within the CoreOS project that describes the fix?

[2017-09-07 17:36] smarterclayton commented on #51825
So re: disabling the watch cache, I'd like to propose adding `default-watch-cache-size` as an arg, let it be set to zero, which should have the behavior of taking the storage cacher completely out of the code path (so that we are calling storage directly).  That would preserve the watch cache flag behavior (turning off turns off watch cache completely)

[2017-09-07 17:50] alex-dixon commented on #43279
Stops showing the pod in `get pods` output but not clear if deletion actually occurs especially given the message received after running `kubectl delete pods <unknown pods name> --grace-period=0 --force`:

`warning: Immediate deletion does not wait for confirmation that the running resource has been terminated. The resource may continue to run on the cluster indefinitely.`

[2017-09-07 17:51] adshmh commented on #43788
Hi, if no one is working on this, I can submit a PR.

[2017-09-07 17:57] k8s-merge-robot opened #52102 "Failure cluster [7494e2...] failed 145 builds, 30 jobs, and 2 tests over 1 days"
### Failure cluster [7494e24d94a92b84dbc1](https://go.k8s.io/triage#7494e24d94a92b84dbc1)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    30 jobs failed,    145 builds failed.
Failure stats cover 1 day time range '6 Sep 2017 16:25 UTC' to '7 Sep 2017 16:25 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Upgrade [Featu

[2017-09-07 18:03] #45133 closed

[2017-09-07 18:04] liggitt commented on #45568
fixed by #51197

[2017-09-07 18:04] #45568 closed

[2017-09-07 18:10] smarterclayton commented on #51825
Hrm - looks like store is looking up watch cache size by using a global variable that is injected by a flag?  I think we may want to take this time to reorganize this and have kube-apiserver perform that calculation and pass defaults in via the storage getter.

[2017-09-07 18:10] krzyzacy commented on #52055
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/52069/pull-kubernetes-e2e-kops-aws/47551 is green, I'm going to close this.

@justinsb you might still wanna verify if it's using the right k8s version.

/close

[2017-09-07 18:10] #52055 closed

[2017-09-07 18:12] bsalamat commented on #41600
kind/feature
priority/important-longterm

[2017-09-07 18:20] ericchiang commented on #51961
Was this deprecation communicated somewhere during 1.7? I don't see it anywhere in the release notes, so it's a little surprising to me as someone who's not actively involved in sig-node or sig-storage.

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#deprecations

[2017-09-07 18:21] shrutir25 commented on #47623
@khenidak thanks for the update !

[2017-09-07 18:21] #47623 closed

[2017-09-07 18:32] liggitt commented on #50234
when I run that query, I get an error:
[code]

[2017-09-07 18:37] JorritSalverda commented on #50252
Google support is indeed looking into this, case #13351336.

[2017-09-07 18:39] smarterclayton commented on #51825
Looks like watch-cache-sizes doesn't work for apiservices, which means you can't selectively control that value.

[2017-09-07 18:49] james-atwill-hs commented on #26309
#48370 doesn't solve this issue. We're running v1.7.3 which has the cherrypick of that issue as e76b4500a3a84 and we still experience the problem described above.

[2017-09-07 18:49] yguo0905 commented on #51961
This would result in many duplicated tests since they are the same tests running on CVM and COS -- we need to convert the CVM ones that do not have a corresponding test on COS, and remove the rest.

I feel like one golden image (COS) would be enough for testing the k8s functionality? The Ubuntu tests are a subset and they are for validating the image.

[2017-09-07 18:49] cmluciano commented on #52062
@kubernetes/sig-network-bugs

[2017-09-07 18:50] tallclair commented on #51746
Unfortunately AppArmor profiles aren't a cluster managed resource yet (I think they should be prior to AA going to GA). This means that it's hard to enforce anything at the cluster level. But for the ideal eventual state, I agree the defaulting should be done at the cluster level.

[2017-09-07 18:51] ekfliu opened #52105 "pod dns lookup with kube-dns does not work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
according to documentation if pod spec file contains
spec:
  hostname: busybox-1

I should be able to do lookup with kube-dns on
nslookup busybox-1.default.pod.cluster.local <cluster dns ip address>

but this does not work at all
on the other hand if i do
nslookup 0-0-0-0.default.pod.cluster.local <cluster dns ip address>
nslookup 2

[2017-09-07 19:01] wojtek-t commented on #51825
Yeah - that is unfortunate. We should fix that.

So you're saying that it would be the same size for all resources? I'm not sure that's the best thing, because for some of resources we seem to need more than for others...

+1

I don't undestand this - can you please clarify?

[2017-09-07 19:03] piosz commented on #50599
@x13n in the previous version the approach was: we assign **at least** 80+n*0.5 mCPU and 140 + n*4 MB.

[2017-09-07 19:04] smarterclayton commented on #51825
We already have a default represented on the etcd struct, it's just not a flag.  Would propose making it a flag.  I do think it's likely that in etcd3 we are more likely to be able to continue watches from etcd3 that are out of the cache window window.

Someone added a setting (based on RAM) but then didn't wire it up to where it is used, so it's a no-op.  I think the previous comment around "we c

[2017-09-07 19:20] cmluciano commented on #52096
/sig network

Are you using Canal or flannel+calico?

cc @caseydavenport @tomdee

[2017-09-07 19:22] cmluciano commented on #50881
@pnuzyf Does what @chestack mentioned make sense?

[2017-09-07 19:22] cmluciano commented on #50881
/kind support

[2017-09-07 19:27] cmluciano commented on #48396
/priority important-soon

[2017-09-07 19:30] cmluciano commented on #48396
@kubernetes/goog-gke @MrHohn any known bugs in GKE around this?

[2017-09-07 19:31] shyamjvs opened #52107 "Seeing OOMs on small nodes (g1-small) for node agents"
Seems to be a regression on the kubelet-side. Ref job - https://k8s-testgrid.appspot.com/google-gce-scale#gce-scale-performance

Run 27 was fine (https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/27/artifacts/PodStartupLatency_density_2017-09-04T10:24:45Z.json) -

[code]

Run 28 regressed (https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubern

[2017-09-07 19:32] luxas commented on #51841
@idvoretskyi I've done the required modifications to the release notes and splitted the "kubeadm upgrades with selfhosting" feature to one for upgrading and one for self-hosting as they mature separately

[2017-09-07 19:33] cmluciano commented on #47976
/kind bug
/priority important-soon

/sig docs

[2017-09-07 19:40] kow3ns commented on #22909
Selectors are immutable in apps/v1beta2 (releasing kubernetes 1.8)

[2017-09-07 19:48] shyamjvs commented on #52107
From kubelet logs on one of the nodes (https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/28/artifacts/gce-scale-cluster-minion-group-0pvz/kubelet.log), I'm seeing the following error:

[code]

[2017-09-07 19:51] shyamjvs commented on #52107
Also seeing some failing inotify events (trying to understand what's happening):

[code]

[2017-09-07 19:56] shyamjvs commented on #52107
From the previous error, appears like it's failing to get docker config from metadata server. I'm suspicious about this PR which bumped the version of metadata-proxy - https://github.com/kubernetes/kubernetes/pull/50647
cc @ihmccreery

[2017-09-07 20:03] #52022 closed

[2017-09-07 20:05] bgrant0607 commented on #22675
Sort of related: #4817

[2017-09-07 20:16] smarterclayton commented on #51825
Cleaning this up, will open a PR

[2017-09-07 20:19] bgrant0607 commented on #1957
Updated viewpoint:
https://github.com/kubernetes/kubernetes/pull/31622#issuecomment-327606218

See also #46351.

We are not ready to do this in the near future, so I'm actually going to close this for now.

[2017-09-07 20:19] #1957 closed

[2017-09-07 20:21] yujuhong commented on #52107
Not sure if this is related, but event-exporter on one of the (not-ready) nodes caused system memory to be low.
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/28/artifacts/gce-scale-cluster-minion-group-2-zcs1/
[code]
It was using more than 1GB of memory.

On the same node, kube-proxy also got oom-killed(?).

I don't think we can reasonably measure the per

[2017-09-07 20:22] sjenning opened #52110 "1.8 regression: Can't pull images from docker.io without explicit path on centos/fedora/rhel"
https://github.com/kubernetes/kubernetes/pull/51751 bumped the vendored docker library and introduced a regression where pods with images that don't contain an explicit "docker.io/" repo path result in `ErrImagePull` failures.

[code]

Results in the following error:
[code]

Pod gets `ErrImagePull`

`docker images` shows that the image has been pulled, though not by that name
[code]

Changing the

[2017-09-07 20:24] sjenning commented on #52110
/sig-node

[2017-09-07 20:24] sjenning commented on #52110
/sig node

[2017-09-07 20:28] dashpole commented on #52110
taking a look now

[2017-09-07 20:30] bgrant0607 commented on #46351
"User API server" is a misnomer. API aggregation is primarily intended to make it easier for us to build a non-monolithic system, to start new projects in separate repos (e.g., in kubernetes-incubator), to build extensions, and to reduce the need to fork the codebase for major extensions like Openshift.

We need a single storage API for all API servers, both the nucleus/core one and all others. We

[2017-09-07 20:31] Random-Liu commented on #52110
@sjenning What docker version are you using?

[2017-09-07 20:31] xiang90 commented on #51825
If we start supporting failing back to etcd watch, we also need to support jumping back to api server watch cache.

etcd team has implemented all coalescing/caching logic in an etcd3 proxy library. we probably should try it out first if we decide to be smarter about watch.

[2017-09-07 20:34] krmayankk commented on #22368
@bgrant0607 it seems the direction we are headed is still, create a new configmap, update  deployment with new name(which will cause a RollingUpdate) with added benefits of GC'ing the old ConfigMaps or is something else ?

[2017-09-07 20:38] bgrant0607 commented on #50658
Related: https://github.com/kubernetes/community/pull/782

[2017-09-07 20:43] dashpole commented on #52110
Do you have any e2e tests that are failing?  We run a lot of tests with image "busybox"

[2017-09-07 20:45] bgrant0607 commented on #44589
dupe of #38637?

[2017-09-07 20:46] smarterclayton commented on #51825
Hrm, I'm seeing multiple calls to storage cache wrappers:

[code]

Investigating

[2017-09-07 20:48] sjenning commented on #52110
@Random-Liu

[code]

Didn't think about it before, but I guess 1.12 is the supported version for 1.8 eh?  Let me try it on 1.12.

[2017-09-07 20:53] Random-Liu commented on #52110
Hm, weird. We also have cluster e2e test coverage for 1.13. Many test are using `busybox` directly from this function https://github.com/kubernetes/kubernetes/blob/da7ee109130a8b9e686086c6a1afebda7bed9cf7/test/utils/image/manifest.go#L89.

[2017-09-07 20:55] kfox1111 commented on #22368
+1

Just for clarity, when using something like helm, the main configmap should be owned by helm. the snapshots of the configmap versions used with rolling upgrade should be the things garbage collected when no longer needed?

[2017-09-07 20:57] lavalamp commented on #51704
Who owns the node controller? It is not api machinery. Scheduling?

[2017-09-07 21:01] lavalamp commented on #51790
/assign @roycaihw

[2017-09-07 21:02] lavalamp commented on #51790
Thanks for the bug report!

[2017-09-07 21:02] euank commented on #45688
@matthewceroni yeah, it's https://github.com/coreos/bugs/issues/1831#issuecomment-290019945 / https://github.com/coreos/coreos-overlay/pull/2508

[2017-09-07 21:04] janetkuo opened #52113 "Revamp deployment tests"
Ref. [Workload Controllers Test Plan](https://docs.google.com/document/d/1e2M3KD2wTfhISyyuqyX0pcUGZyzcyKoWo4CIlUojAdM/edit)

### integration
- [x] Add TestDeploymentBasic with subtests that replace basic behavior unit tests like creating ReplicaSets, reacting to RS/Pod events, orphan/adopt, etc. (#55439)
- [x] Add TestDeploymentRollingUpdate with subtests for roll out, roll back, roll over, etc. (

[2017-09-07 21:07] lavalamp commented on #51830
cc @caesarxuchao @cheftako @bgrant0607

[2017-09-07 21:12] rkamudhan commented on #48510
I seen this scenario in our DPDK pods many times, I will check the fix in our set up..

[2017-09-07 21:12] lavalamp commented on #51887
We should make the messages accurate.

[2017-09-07 21:13] sjenning commented on #52110
@Random-Liu I installed a completely fresh box with docker 1.12 and could still recreate.  I have no explanation :confused:

kubelet.log from kubelet built from upstream/release-1.8
[code]

[2017-09-07 21:13] caseydavenport commented on #50495
/assign @bowei

[2017-09-07 21:15] janetkuo commented on #41039
This is done?

[2017-09-07 21:16] lavalamp commented on #51887
/assign @jennybuckley

[2017-09-07 21:16] dcbw commented on #50274
@xiangpengzhao is this still regularly failing?  And is the actual issue the upgrade framework, or something actually DNS related?

[2017-09-07 21:19] cmluciano commented on #47723
@freehan

I think that might be the case https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go#L216-L217

[2017-09-07 21:20] cmluciano commented on #47723
Can you attach your `iptables-save` @spradeepv

[2017-09-07 21:23] lavalamp commented on #51917
I think there is a bug here.

/assign @jpbetz

[2017-09-07 21:25] lavalamp commented on #51953
Quota system could maybe do this. I don't think apiserver can reasonably do this.

[2017-09-07 21:26] saad-ali commented on #52032
It is alpha so I'm ok with that. Removing from 1.8 milestone.

[2017-09-07 21:29] jcbsmpsn opened #52114 "Add kubelet rotation enabling to kube-up for GCE"
/kind bug

**What happened**:
Kubelet client certificate rotation is a new feature in beta in 1.8. There is a command line flag to enable it, but there is no option to configure the flag in the `kube-up.sh` script.

**What you expected to happen**:
It should be possible to enable kubelet client certificate rotation in new GCE clusters.

**How to reproduce it (as minimally and precisely as possible

[2017-09-07 21:29] jcbsmpsn commented on #52114
/sig auth

[2017-09-07 21:29] jcbsmpsn commented on #52114
/assign @jcbsmpsn

[2017-09-07 21:31] #29972 closed

[2017-09-07 21:33] cmluciano commented on #48240
/assign

[2017-09-07 21:38] caseydavenport commented on #47723
/assign

[2017-09-07 21:39] cmluciano commented on #48240
@renewooller  In the rmq app you have this label
[code]

Your Loadbalancer config targets this label
[code]

[2017-09-07 21:41] berttejeda commented on #51164
For anyone running into this problem:
In my case:

Careful observation revealed:

My nginx config makes reference to the following file objects:
[code]

But my secret was defined as:
[code]
And the volumeMounts derived from the secret was defined as:
[code]

Thus, the files created would appear in the POD as:
[code]
Which would of course mean that, since the pod was looking for /etc/nginx/ssl/ngin

[2017-09-07 21:41] bboreham commented on #48240
@cmluciano I suspect OP realises that, and is appealing that kube-proxy should look past the labels at the ports defined on the pod.

[2017-09-07 21:42] ashish211981 opened #52117 "n06$"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-09-07 21:42] crimsonfaith91 opened #52118 "replicaset tests have to be revamped"
**Background**
As part of GA goal of core controllers, unit, integration, e2e, cmd, and upgrade tests of replicaset have to be revamped based on test plan guidelines suggested by @enisoc. This issue lists all necessary tasks for unit, e2e, cmd, and upgrade tests. Tasks for the integration tests are covered by #51484.

**Unit Test**
- [x] Refactor sync call tree so we can unit test decisions (on th

[2017-09-07 21:43] smarterclayton commented on #51825
Ok, we're definitely starting multiple watch caches.

[2017-09-07 21:44] crimsonfaith91 commented on #52118
@kubernetes/sig-apps

[2017-09-07 21:44] chakri-nelluri commented on #51407
Fix the issue for @leonj1. It was a configuration issue.

[2017-09-07 21:45] yujuhong commented on #52107
Found a TODO to add resource limit to event-exporter: https://github.com/kubernetes/kubernetes/blob/v1.8.0-beta.0/cluster/addons/fluentd-gcp/event-exporter.yaml#L49
/cc @crassirostris

[2017-09-07 21:45] ericchiang commented on #50274
Going to close since the test is back to green. Will re-open if we see more failures.

[2017-09-07 21:51] saad-ali commented on #52036
This check is in place as a safety. In case a volume mount starts but has not yet been reported in VolumesInUse (race condition), we want to make sure that we don't start a detach volume operation resulting in data corruption. Therefore, removing this check, PR #52037, would remove this safety and I am strongly against that. PR #52038 proposes delaying the attach operation until a volume is report

[2017-09-07 21:53] smarterclayton opened #52121 "High cardinality metrics coming from reflectors"
I'm seeing a large number of unique prometheus series showing up (due to the logging we added for anonymous reflectors).

[code]

This is a small cluster but I believe this may have unbounded cardinality.

[2017-09-07 21:55] cmluciano commented on #48240
Ah I understand. I'm surprised that the
[code]

does not work. I will try to replicate with https://github.com/kubernetes/contrib/tree/master/service-loadbalancer.

[2017-09-07 21:56] gnufied opened #52122 "Add e2e tests for mount options"
We need e2e tests for mount options feature including storageClasses.

[2017-09-07 21:56] gnufied commented on #52122
/assign

[2017-09-07 21:56] gnufied commented on #52122
/sig storage

[2017-09-07 22:00] smarterclayton commented on #51825
[code]

[2017-09-07 22:03] mbohlool commented on #44589
I think this is more about kubectl, @pwittrock do you agree? if that is the case the title should reflect that.

[2017-09-07 22:05] smarterclayton commented on #51825
@kubernetes/sig-api-machinery-bugs looks like we start the same storage from multiple places, which starts multiple watch caches.  I would have expected watch caches to be shared across resources.

We have 34 unique resources and 47 watch caches started.

[2017-09-07 22:10] dashpole commented on #52110
does this mean that upgrades will fail @Random-Liu if the local image names need to change?

[2017-09-07 22:11] bbeaudreault commented on #28969
We are also interested in this and have 2 reasons:

1) we run HDFS and ZK, both are notoriously bad about re-resolving DNS.

2) More of a bug: due to docker's method of giving out IP addresses (lowest ip first) we sometimes see issues where, if 2 pods restart around the same time one may inherit the IP address of the other. In this scenario, until the DNS TTL has expired its possible for wires to

[2017-09-07 22:11] smarterclayton commented on #51825
In 1.7 it looks like this was less bad - I only see 3 duplicate in openshift (deployments, replication controllers)

[2017-09-07 22:11] freehan commented on #48396
Some context:

The endpoint controller was trying to correct the node name of an endpoint address. (For instance, endpoint address shows pod 1's IP and node B, but pod1 is on node A) However, the problem endpoint object was stuck in the invalid state due to the following validation: https://github.com/kubernetes/kubernetes/blob/release-1.8/pkg/api/validation/validation.go#L4261
This validation mea

[2017-09-07 22:12] janetkuo opened #52123 "Register apps resources in federation apiserver"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

Core workloads are moving to `apps/v1beta2` (1.8) and finally `apps/v1` (1.9). `apps/v1beta2` resources were enabled in #51159, but not registered yet.

@kubernetes/sig-federation-feature-requests

[2017-09-07 22:17] freehan commented on #48396
@discordianfish also mentioned to me that the cluster was shut down (may not graceful) and restarted not long before the problem was discovered.

I would like to keep this issue open and change the title to be something like `endpoint object contains mismatch pod ip and node name`. If anyone bump into this issue again, we have more ways to reproduce.

Sounds good?

[2017-09-07 22:24] jennybuckley commented on #51887
/cc @jennybuckley

[2017-09-07 22:27] colemickens commented on #27796
I have 2 Linux Foundation accounts:

- cole.mickens@gmail.com (linked with GitHub), signed as an individual contributor
- cole.mickens@coreos.com (newly created)

But:

1. I need to sign the CLA with the second address.
2. To sign the CLA, the account must be associated with a GitHub account.
3. I can't do so, because my GitHub account is already associated with my personal LF account/CLA signatur

[2017-09-07 22:28] Random-Liu commented on #52110
[code]

Could not reproduce this.

[2017-09-07 22:32] shyamjvs commented on #52107
Digged up a bit to roughly find the 99th %ile for individual parts of pod-startup time:

- create->schedule latency : 2s (we have this value only upto second granularity)
- schedule->running latency : 2s (also second granularity)
- running->watch event delivered latency : 4.97s (the real problem)

In general, the tail latencies for watch event delivery seems quite high:

[code]

Normally the highe

[2017-09-07 22:36] shyamjvs commented on #52107
Moving this from sig-node to api-machinery based on the above evidence.

[2017-09-07 22:44] lavalamp commented on #51817
We have client side rate limiting. I agree that we should switch to server side rate limiting, and that we probably need different tiers of service for different requests.

[2017-09-07 22:44] gnufied commented on #52036
@saad-ali Yes I was thinking about same reason, but we have a check in place where we only start mounting a volume *after* it has been reported in `VolumesInUse` and we do this *after* writing to node status. https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/operationexecutor/operation_generator.go#L656

in fact @jingxu97 pointed me to this code. I have written/writing an e2e te

[2017-09-07 22:50] #33048 closed

[2017-09-07 22:51] wackerman opened #52124 "Allow for both dynamic and static node ports"
/kind feature
/sig node

**What happened**:
When using deployment automation from multiple teams, some have node ports set and some use dynamic allocation.

**What you expected to happen**:
It would be nice to be able to set the range of ports kubernetes uses for dynamic allocation and the range allowed to be used for fixed node port in the yamls.

**How to reproduce it (as minimally and precisely

[2017-09-07 23:05] quinton-hoole commented on #42356
It seems we can use UID's for names, and labels to find them later.

[2017-09-07 23:09] binq commented on #1957
wow

[2017-09-07 23:11] mml opened #52126 "Source forest creation failed"
[code]

[2017-09-07 23:11] mml commented on #52126
/sig release

[2017-09-07 23:14] mml commented on #52126
I am sharing my `--output_base` between git workdirs, but the docs seem to imply that should work.  Running `bazel clean` from the other workdir allowed this one to start, but that's kind of costly.

/kind bug
@kubernetes/sig-release-bugs

[2017-09-07 23:14] lavalamp commented on #51883
apiserver log is not typically visible to users and is not the place we want to report this.

Amending `describe` is a good idea.

Making events on failed, or timed-out, initializations might be another option, although we should think about system load.

[2017-09-07 23:16] quinton-hoole commented on #42131
We don't support federation of multi-zone clusters at the moment.  There are several similar issues.  If anyone can present some useful use-cases for federating multi-zone clusters, I will re-prioritize this, otherwise it goes on the backlog as a nice-to-have.

[2017-09-07 23:26] shyamjvs commented on #52107
Difference in resource-usage across the 2 runs during density test:

Before:

[code]

Now:

[code]

Etcd-events is using more memory (which we saw happen even earlier when something goes wrong and the system creates increasingly more and more events load) - though https://github.com/kubernetes/kubernetes/pull/47367 should've helped reduce events spam from client-side. cc @derekwaynecarr Maybe you

[2017-09-07 23:28] shyamjvs commented on #52107
I'll continue looking into it tomorrow.

cc @gmarek

[2017-09-07 23:36] kargakis commented on #49637
I think I have figured out why this is happening - opened https://github.com/kubernetes/kubernetes/issues/49637 and once it merges I will backport it in 1.7.

[2017-09-07 23:40] janetkuo opened #52128 "Kubelet not working in local cluster: thread exhaustion"
/kind bug

This is not always reproducible.

[code]
In /tmp/kubelet.log **(generated ~2G log in ~10 min)**:
[code]

@kubernetes/sig-node-bugs @kubernetes/sig-storage-bugs

Edit:
**Solution:** The root cause is described in https://github.com/kubernetes/kubernetes/issues/52128#issuecomment-328166645. If you hit this issue, manually remove those `wrapped_wrapped_xxxx.deleting~xxx` files will solve t

[2017-09-07 23:43] Random-Liu commented on #52128
Also ref https://github.com/kubernetes/kubernetes/issues/43534 and https://github.com/kubernetes/kubernetes/issues/45935

[2017-09-07 23:45] lpabon commented on #50915
So should the fix be to update the Changelog?

[2017-09-07 23:46] yujuhong commented on #52128
/cc @msau42 @saad-ali

[2017-09-07 23:48] janetkuo commented on #52128
Saw lots of files formatted like this: `wrapped_wrapped_wrapped_wrapped_wrapped_kube-dns-config.deleting~240101287.deleting~094346308.deleting~070326220.deleting~710310308.deleting~012891651` under `/var/lib/kubelet/pods/`

[2017-09-07 23:49] marceldempers opened #52129 "Feature: Azure bind existing IP in another resource group to K8 service of type LoadBalancer"
Not sure if this is a bug or intended behaviour

**What happened**:
I deploy a kubernetes service pointing to an exiting IP in another resource group

[code]
When i do `kubectl get svc my-service` my service is stuck with EXTERNAL-IP in <pending> status.
When I describe service I see it cannot find the IP:

Error creating load balancer (will retry): Failed to create load balancer for service NAMES

[2017-09-07 23:53] lpabon commented on #50898
could we also add annotations to the PVC which can be added as tags to the EBS volume, something akin to #45932 ?

[2017-09-07 23:58] dchen1107 commented on #52128
Looks like dup of https://github.com/kubernetes/kubernetes/issues/43534.

[2017-09-08 00:02] msau42 commented on #52128
Bug #43534 should have been fixed in 1.7.  It looks like this bug is in 1.8.  I'm looking into it.

[2017-09-08 00:02] msau42 commented on #52128
/assign

[2017-09-08 00:05] sjtindell commented on #43805
Confirmed @jmarcos-cano steps at least cleared up kubeadm hanging on "waiting for control plane to become ready".

Virtualbox VM with NAT and Bridged Network interfaces.
CentOS 7.3 Kernel 3.10.0-514.26.2.el7.x86_64
Kubeadm version: &version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.5"
Docker version 17.06.2-ce, build cec0b72

ERROR in /var/log/messages:
`kubelet: error: failed to run Kubelet: fa

[2017-09-08 00:06] nikhiljindal commented on #45812
We still need to fix the following:

[2017-09-08 00:10] ianchakeres commented on #51431
@msau42 If local-PVs (or non-local PVs) no longer exist or are inaccessible and we know it, we should reflect this state in kubernetes. I think that deleting unbouncd PV should be an option, and I agree taints are likely a nicer way to indicate that a PV shouldn't be used or bound with new PVCs.

I agree with your statements about race conditions. If in reality a PV is not available then anything

[2017-09-08 00:12] k82cn commented on #52117
any more description about this?

[2017-09-08 00:20] msau42 commented on #51431
I'm primarily worried about the race condition between the provisioner deleting the PV, and a PVC binding to it, which is why I think taints is a safer mechanism.  Especially today because there is nothing preventing a PV from being deleted even when it's bound.  Taints could also provide more history since the object still exists.

Can you add the recommendations to the user guide?  There's a bes

[2017-09-08 00:24] msau42 commented on #52128
@janetkuo are all your nodes on 1.7+?

[2017-09-08 00:25] marceldempers commented on #52129
/sig azure

[2017-09-08 00:25] msau42 commented on #52128
NM I see it is latest build

[2017-09-08 00:25] quinton-hoole commented on #41963
cc @madhusudancs

[2017-09-08 00:27] #52117 closed

[2017-09-08 00:27] kargakis commented on #52124
@kubernetes/sig-network-feature-requests

[2017-09-08 00:28] kargakis commented on #51640
@kubernetes/sig-storage-bugs

[2017-09-08 00:29] kargakis commented on #51999
@kubernetes/sig-node-feature-requests

[2017-09-08 00:30] kargakis commented on #52016
@kubernetes/sig-storage-feature-requests

[2017-09-08 00:32] quinton-hoole commented on #41512
Closing old bug reports.  Please re-open if you're still seeing this issue.

[2017-09-08 00:32] #41512 closed

[2017-09-08 00:33] kargakis commented on #51525
@kubernetes/sig-cluster-lifecycle-misc
/kind support

[2017-09-08 00:34] #52026 closed

[2017-09-08 00:34] kargakis commented on #51532
/sig aws

[2017-09-08 00:35] kargakis commented on #52064
/sig apps

[2017-09-08 00:36] kargakis commented on #52105
/sig network
/kind support

[2017-09-08 00:37] quinton-hoole commented on #40772
Closing old bug reports.  Please re-open if you're still seeing this issue.

[2017-09-08 00:37] #40772 closed

[2017-09-08 00:38] mkumatag opened #52133 "Multiarch support for pets images."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
This PR is for multiarch support for pets image

Copied over the contrib/pets/peer-finder as this one is heavily used in many docker images under test/images. After this PR I'll submit the PR in contrib project to remove it.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible

[2017-09-08 00:40] mkumatag commented on #52133
/sig testing

[2017-09-08 00:40] quinton-hoole commented on #40306
Closing old bug reports.  Please re-open if you're still seeing this issue.

[2017-09-08 00:40] #40306 closed

[2017-09-08 00:43] ekfliu commented on #52105
Okay after more reading and experimentation, it turns out the pod dns pretty much just echo whatever you put as the nslookup request without checking if an actual pod is there. In order to have pod with dns entries you must create a headless cluster service even if the pod does not expose any service. Then the pod spec hostname and subdomain can be used to do dns lookup at {podname}.{subdomain}.de

[2017-09-08 00:43] #52105 closed

[2017-09-08 00:47] quinton-hoole commented on #39856
We need to verify/fix this before GA.

[2017-09-08 00:48] quinton-hoole commented on #39804
We need to address this before GA.

[2017-09-08 00:48] ConnorDoyle commented on #51999
Just 2 thoughts:

- issue description correctly points to device plugins as a prereq which should help to enable out-of-tree support.
- if we see proliferation of device plugins early on it might raise priority for centralizing the plugin ecosystem somehow

[2017-09-08 00:51] quinton-hoole commented on #39693
Closing old bug reports.  Please re-open if this is still an issue.  We have other issues tracking correct handling of version skew between clients, federation control plane and clusters, the testing of which should cover this.

[2017-09-08 00:51] #39693 closed

[2017-09-08 00:53] mengqiy opened #52135 "Revert update vendor kube-openapi"
/assign

[2017-09-08 00:55] quinton-hoole commented on #39674
I think we need to fix this before GA of federation. Prioritizing accordingly.

[2017-09-08 00:56] quinton-hoole commented on #39555
@nikhiljindal @madhusudancs Has this been resolved yet.  Can it be closed?

[2017-09-08 00:57] quinton-hoole commented on #39555
Needs to be resolved in order to GA federation.

[2017-09-08 01:00] quinton-hoole commented on #38223
Required for GA.

[2017-09-08 01:01] quinton-hoole commented on #37570
Required for GA.

[2017-09-08 01:04] quinton-hoole commented on #37354
Most of the runtime and resource leakage issues have been fixed, and we have pre-submit tests.  Closing this.

[2017-09-08 01:04] #37354 closed

[2017-09-08 01:05] quinton-hoole commented on #36815
We need to resolve this before GA.

[2017-09-08 01:07] quinton-hoole commented on #35637
Needs to be resolved for GA.

[2017-09-08 01:08] ianchakeres commented on #51431
@msau42 - yes I'll add something to the local-volumes user guide.

[2017-09-08 01:08] quinton-hoole commented on #35482
Closing old feature request.  We're tracking cluster authentication functionality elsewhere.

[2017-09-08 01:08] #35482 closed

[2017-09-08 01:09] quinton-hoole commented on #35080
Closing old bug reports.  Re-open as necessary.

[2017-09-08 01:09] #35080 closed

[2017-09-08 01:12] quinton-hoole commented on #34933
You can achieve this be setting the maximum per cluster to one, and the total replicas to any number greater than or equal to your maximum number of clusters.

[2017-09-08 01:12] #34933 closed

[2017-09-08 01:12] quinton-hoole commented on #34919
Closing old bugs.  kubefed resolves this.

[2017-09-08 01:12] #34919 closed

[2017-09-08 01:14] quinton-hoole commented on #33893
Closing old bugs.  Pretty sure that this is resolved by cascading deletion.  Re-open if you're still seeing this.

[2017-09-08 01:14] #33893 closed

[2017-09-08 01:16] quinton-hoole commented on #33292
This is required for GA.  Prioritizing accordingly.

[2017-09-08 01:17] quinton-hoole commented on #33265
Closing as duplicate of #40536

[2017-09-08 01:17] lichuqiang commented on #51993
@jiayingz Thanks for explanation, I would break the PR into small ones according to optional refactoring items :)

[2017-09-08 01:17] #33265 closed

[2017-09-08 01:19] quinton-hoole commented on #31816
Required for GA of federation. Prioritizing accordingly.

[2017-09-08 01:21] quinton-hoole commented on #31154
This was achieved by porting secrets to the sync controller.  Closing.

[2017-09-08 01:21] #31154 closed

[2017-09-08 01:23] quinton-hoole commented on #31078
Scrubbing old bug reports. I believe that this is resolved by kubefed.  Re-open if necessary.  @madhusudancs

[2017-09-08 01:23] #31078 closed

[2017-09-08 01:24] hzxuzhonghu commented on #52053
Yes. not just add selector, but also set up the selected node to LB. In this way, traffic from outer would not affect backend nodes.
By the way, there are many methods to prevent ddos in front.

[2017-09-08 01:24] quinton-hoole commented on #31072
Cleaning up old issues.  kubefed now does all of this.  Closing.

[2017-09-08 01:24] #31072 closed

[2017-09-08 01:26] quinton-hoole commented on #31071
Closing old bug reports.  Re-open if necessary.

[2017-09-08 01:26] #31071 closed

[2017-09-08 01:26] quinton-hoole commented on #31029
This is done.

[2017-09-08 01:26] #31029 closed

[2017-09-08 01:29] xingzhou opened #52136 "Fixed some small comment typo."
Typo fix. Will add the PR links.

[2017-09-08 01:32] quinton-hoole commented on #29723
Indeed, this is still a hard-coded constant.  Should be moved to run-time configuration.

[2017-09-08 01:35] quinton-hoole commented on #27969
I think that we still need to fix this before GA of federation.

[2017-09-08 01:35] WIZARD-CXY commented on #51950
I think we should add it. "Hostport and hostIP" can be useful when using a hostNetwork pod and wants to bind different ip on the host just like @CallMeFoxie's user case.Besides adding protocol is necessary too IMHO, for example a dns server may use both 53/udp and 53/tcp.

[2017-09-08 01:38] WIZARD-CXY commented on #51950
@k82cn @timothysc WDYT. I think it is not a hard thing to implement and if we have agreement on adding this, I can start to implement it.

[2017-09-08 01:39] quinton-hoole commented on #24978
Cleaning up old issues.  @justinsb, do we still need this one, or can it be closed?

[2017-09-08 01:46] xiangpengzhao commented on #50274
Per discussion in #51695, I think it's the issue of upgrade framework.

[2017-09-08 01:46] wongma7 opened #52138 "StorageClass.ReclaimPolicy, PV.MountOptions, and SC.MountOptions need e2e tests"
https://github.com/kubernetes/kubernetes/pull/47987 for 1.8.
/assign

[2017-09-08 01:47] wongma7 commented on #52138
/sig storage

[2017-09-08 02:00] quinton-hoole commented on #44291
@nikhiljindal Are you still working on this?  If you're not likely to get to it in the forseeable future, please unassign yourself and we will try to find another owner.  Thanks.

[2017-09-08 02:02] quinton-hoole commented on #43646
@csbell If you're not still working on this, please unassign yourself and we'll try to find someone else.  Thanks.

[2017-09-08 02:05] quinton-hoole commented on #42995
@dshulyak Any progress?

[2017-09-08 02:07] #42907 closed

[2017-09-08 02:10] quinton-hoole commented on #42761
cc @madhusudancs @perotinus as they probably need to fix this for the cluster registry reference implementation.  I'm pretty sure @irfanurrehman is not currently working on this, so unassigning.

[2017-09-08 02:15] quinton-hoole commented on #41791
Required for GA of federation.  Prioritized accordingly.