[2016-04-12 14:53] pweil- commented on #23217
@erictune yes, many apologies for the delays.  I have still been wrapped up closing the current release.  Been a little crazy.

[2016-04-12 15:14] pmorie commented on #23621
@jadhavnitind it looks like it's working to me from the information you posted, grep for 'MY_SECRET_DATA' in the output you posted.

[2016-04-12 15:23] cjcullen commented on #23835
Fixed by #23843. Released in version 1.2.2.

[2016-04-12 15:23] #23835 closed

[2016-04-12 15:29] marcolenzo opened #24137 "Cannot delete pods associated with a former deployment"
I am in a state where I have PODs which are being automatically replaced even though there is no RC or Deployment associated with them.

I am using Kubernetes 1.2.0

[code]

The sequence that caused the issue from me was:

1- Create deployment xyz-deployment
2- Replace deployment with an updated version of xyz-deployment
3- Delete deployment before its pods are considered ready

My deployment defi

[2016-04-12 15:35] marcolenzo commented on #24137
If it can help I can see the following keys in etcd

[code]

[2016-04-12 15:41] marcolenzo commented on #24137
Deleting those keys solved my issue, i.e. I am not able to delete those pods. However it can be scary if you don't know where to look at.

[2016-04-12 15:42] yissachar opened #24139 "Bash completion fails to autocomplete files or directories"
I've enabled `kubectl` bash completion as per the [instructions](http://kubernetes.io/docs/getting-started-guides/gce/):

`source ./contrib/completions/bash/kubectl`

Now autocompletion works for the `kubectl` commands. However, if I try to autocomplete a file or directory name, it fails.

1. `kubectl create -f ./ser`
2. Tab to autocomplete directory name
3. `kubectl create -f ./ser-bash: _filedir

[2016-04-12 15:45] jayunit100 opened #24140 "Update Ginkgo"
Problem:

- Although Upstream tests can be run using `gingko.focus=k8s.io`, downstream tests have no mechanism for `focus`.
- New tests being constructed in `e2e_node` and so on have no global namespace.

Solution:

- Ginkgo now provides a mechanism for skipping via `code location` (https://github.com/onsi/ginkgo/pull/228).  We should update to the latest Ginkgo, so that kube builds a e2e product

[2016-04-12 15:46] jayunit100 commented on #24140
cc @timothysc @kubernetes/sig-testing

[2016-04-12 15:49] pmorie commented on #23392
@reflection, would you please:

1.  Confirm which docker version and OS you're using
2.  Confirm whether you're using SELinux, and whether it's enabled
3.  Confirm how you're starting the kubelet?  I want to see the arguments you're using specifically, not the guide you're following

[2016-04-12 15:50] pmorie commented on #23392
For the record, I do not know what 'single-node volumes' is supposed to refer to -- could someone enlighten me?

[2016-04-12 15:56] timothysc commented on #24140
I can take this.  I'm pinging to see if folks are planning to switch to go vendoring now that 1.6 is in.

xref: https://docs.google.com/document/d/1Bz5-UB7g2uPBdOx-rw5t9MxJwkfpx90cqG9AFL0JAYo/edit

[2016-04-12 16:04] yissachar opened #24141 "AWS: kube-up should warn if there are existing resources tagged with KubernetesCluster"
`kube-up` generally expects a clean state to operate on. If there are existing resource tagged with KubernetesCluster `kube-up` can fail in subtle ways, even though the script seems to have run successfully. A recent example of this that I experienced was an existing route-table tagged with KubernetesCluster that caused my [networking to break](https://github.com/kubernetes/kubernetes/issues/24002

[2016-04-12 16:08] yissachar commented on #24002
I'm not sure how much the documentation can be improved; it's all there, but just not so easy for a Kubernetes newcomer to know where to look. However, the linked `kube-up` issue I've created would really have saved me a lot of time by quickly pointing me in the right direction.

[2016-04-12 16:23] yujuhong commented on #24005
Closing since #24015 has been merged.

[2016-04-12 16:23] #24005 closed

[2016-04-12 16:28] timothysc commented on #24125
/cc @jayunit100 - enqueue please.

[2016-04-12 16:30] timothysc commented on #23987
IMHO we should only start with the [Conformance] tests.  A lot of the other data in examples still needs to move out of the main repository this cycle.

[2016-04-12 16:31] jayunit100 commented on #22796
@eparis  ok , lets close this since everything is golang 1.5 related, and we build in 1.6

[2016-04-12 16:42] #22796 closed

[2016-04-12 16:44] bprashanth commented on #24030
Hand waving a little.

Identity is defined as:
1. Stable network identity, i.e DNS and hostname
2. Stable storage identity, i.e a PV backed by a storage provider

PetSet will guarantee unique identities by this definition for each pet. The petset controller will start a pet, wait till it goes into running, then start the next. If a pet dies, another will be started with the same identity.

This is

[2016-04-12 16:52] maximmartynov commented on #23187
Apparently there is some network related glitch at the restart, which is gone later. The workaround here is to ssh into master, and manually start etcd, flanneld and docker. Lame, but at least you do not have to do "vagrant destroy" and start from scratch:

[code]

No idea how to avoid this altogether.

[2016-04-12 16:55] spxtr commented on #24140
We are interested in switching to vendoring, see #21098. There is a little work that needs to happen to get there, though.

[2016-04-12 17:17] jayunit100 commented on #23987
k diving back into this .  current status is that i dont know how CI is supposed to be installing the go-bindata stuff

[2016-04-12 17:23] #24004 closed

[2016-04-12 17:25] fabianofranz commented on #23964
We spotted this too, the kubeconfig file was left in a broken state after some concurrent access. Here is a snippet of how it ended up (last 7 characters of `client-key-data` repeated in the tail of the file):

[code]

[2016-04-12 17:27] yujuhong commented on #24122
Yes, this is a dupe, and is a docker bug. By the way, docker v1.11 reports just fine: `test          stress-3600013909-3onaw                             0/1       OOMKilled   0          3s`

[2016-04-12 17:27] #24122 closed

[2016-04-12 17:30] yujuhong commented on #23591
Mark this p2 since this doesn't happen often.

[2016-04-12 17:54] bprashanth opened #24145 "Loadbalancing umbrella issue"
A non-comprehensive list ordered by an approximation of priority. Mostly for documentation and reducing bus factor:
- [ ] Source IP Preservation for external LB services (#28647)
- [x] Run ingress controller as static pod on master (https://github.com/kubernetes/kubernetes/issues/23663)
- [ ] Fix beta limitations ([gce](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/BETA

[2016-04-12 18:00] pdbogen opened #24146 "kube2sky should have an argument to specify the path to a CA certificate file used to validate the k8s apiserver cert"

[2016-04-12 18:12] nikhiljindal opened #24148 "jenkins e2e: reported failure even though all tests passed (note: this means a timeout, check for rc = 124)"
I am not sure what happened here: https://github.com/kubernetes/kubernetes/pull/23953#issuecomment-207658283.

Logs say all tests passed, but jenkins reported that tests failed on the PR.
I dont see anything in the logs.

cc @kubernetes/sig-testing @ixdy

[2016-04-12 18:21] spxtr commented on #24148
Looks like it timed out while tearing down the cluster.

[2016-04-12 18:32] derekwaynecarr commented on #23973
Is there a script you are running to reproduce?  It looks like the referenced fix makes an update to the salt scripts, but I didn't think we had support for Salt on atomic for kube?

[2016-04-12 18:34] ixdy commented on #24148
cc @fejta

[2016-04-12 18:51] gmarek commented on #20673
@piosz - why am I assigned to this issue? Is there something for me to do here?

[2016-04-12 18:54] cjcullen opened #24151 "E2E's broken for mac"
Running the default GCE e2e setup at head:

[code]

[2016-04-12 18:56] cjcullen commented on #24151
The failures that I've dug into so far are just assumptions that we are running on "linux/386", so binaries will be built by default.

[2016-04-12 18:56] rileylark opened #24152 "Deployments with overlapping selectors thrash pods"
A developer accidentally made two deployments with labels that overlapped, such that one of the deployment's selectors matched the pods from both deployments.  In the repro below the labels are exactly the same, but this also happened one one set of labels is a subset of another.

Expected: An error?

Actual: **Cluster CPU went past 100% and everything else broke.** Crazy thrashing with kubernetes

[2016-04-12 19:04] reflection commented on #23392
1.  Docker version 1.10.3, Fedora 23
2.  SELinux disabled
3.  kubelet started from gcr.io/google_containers/hyperkube-amd64:v1.2.0 docker image, arguments exactly from the guide:
[code]

[2016-04-12 19:06] eparis commented on #23409
closing this. I think at least this issue is complete.

[2016-04-12 19:06] #23409 closed

[2016-04-12 19:14] pmorie commented on #23392
@reflection When kubernetes is running, what is the output of `findmnt` from the host?

[2016-04-12 19:30] reflection commented on #23392
output of `findmnt` from the host:
[code]

[2016-04-12 19:32] pmorie commented on #23392
@reflection sorry, i should have said `findmnt -o +PROPAGATION`, and it should be run from the container.

[2016-04-12 19:54] yifan-gu commented on #21414
cc @euank @yifan-gu @sjpotter
I think if we can running some e2e tests on local, it would be super helpful for us to debug.

[2016-04-12 20:02] fejta commented on #24148
Here's the problem:

[code]

[2016-04-12 20:10] nikhiljindal commented on #24137
Yes deployment creates a ReplicaSet and not a ReplicationController. ReplicaSet is like ReplicationController - main difference being LabelSelector.
You can view replica sets using `kubectl get rs`. More details : http://kubernetes.io/docs/user-guide/replicasets/

This is what might have happened to you:
When you deleted the deployment, you didnt delete the corresponding replicaset and hence the p

[2016-04-12 20:13] roberthbailey commented on #23536
This is flaky in the 1.2 release branch as well. Depending on what the underlying issue is, we may want/need to cherry pick a fix for a 1.2 patch release.

[2016-04-12 20:15] nikhiljindal commented on #24132
Dup of https://github.com/kubernetes/kubernetes/issues/19521?

[2016-04-12 20:15] roberthbailey commented on #23536
I'm also seeing similar flakes on the `Horizontal pod autoscaling (scale resource: CPU) [Serial] [Slow] ReplicaSet Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability` and `Horizontal pod autoscaling (scale resource: CPU) [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability` test cases.

[2016-04-12 20:16] soltysh commented on #24132
@nikhiljindal I was thinking about it, but I'm specifically talking about these lines here:
[code]
not the warnings, you've mentioned in your issue.

[2016-04-12 20:17] spiffxp commented on #19720
What remains to be done here?

[2016-04-12 20:17] nikhiljindal commented on #24132
oh I see now that you have real errors in your output. https://github.com/kubernetes/kubernetes/issues/19521 is for warning.

So this is a separate issue. The command should not finish successfully if there are errors :)

[2016-04-12 20:17] ixdy commented on #24148
@fejta I don't see anything wrong in that snippet.

[2016-04-12 20:18] timothysc commented on #21098
/cc @eparis

[2016-04-12 20:28] #22529 closed

[2016-04-12 20:30] spxtr commented on #24148
[code]
124 means we timed out.

[2016-04-12 20:35] vishh opened #24156 "Move generic packages from `pkg/util` into a separate repo"
The code in there is useful for many other projects. It will add some vendoring overhead for Kubernetes, but given that the util package doesn't change that often, it might be ok.

@thockin @pmorie

[2016-04-12 20:39] jayunit100 commented on #23730
closed via #23450

[2016-04-12 20:40] #23730 closed

[2016-04-12 20:42] yujuhong commented on #19720
IIUC, not much, other than running this in the soak cluster to ensure we catch all the issues.

On the other hand, @timstclair is validating docker v1.11 (#23397), and we haven't decided to go straight to v1.11 or not.

[2016-04-12 20:57] fejta commented on #22529
Image version `gcr.io/google_containers/volume-nfs:0.6` now exists!

[2016-04-12 20:57] gmarek opened #24157 "Multiple RateLimiters in a "single" client."
Ref. #22421

Currently one "client", or rather ClientSet consists of multiple clients (one for each API group). This makes reasoning about QPS per component much harder - clients in a single ClientSet should share a single RateLimiter.

cc @wojtek-t @krousey @wojtek-t

[2016-04-12 20:59] krousey commented on #24157
Note there are currently 3 in the v1.2 client set. One for the core API, one for extensions, and one for discovery.

cc @lavalamp @kubernetes/sig-api-machinery

[2016-04-12 21:03] rootfs commented on #22529
thanks!

[2016-04-12 21:05] ghodss commented on #24089
cc @bgrant0607 @smarterclayton

[2016-04-12 21:09] yifan-gu opened #24158 "kubelet tries to kill rkt pods more than once when `kubectl delete pod`"
When testing against rkt's prestop hooks support (https://github.com/kubernetes/kubernetes/pull/23532),
I found that kubelet will try to kill pod more than once when deleting the pod. And the first when it kills, it calls rkt.KillPod() with a valid runningPod, and things work fine. But shortly after the pod is killed, it invokes rkt.KillPod() again. Not sure if this is a normal race case or a bug.

[2016-04-12 21:10] smarterclayton commented on #24089
A v1 list can contain any object under the sun.  If validation is assuming a v1 object contains only v1 objects then it's broken.  The Items under a list should be considered `any` in swagger - if we have other objects in the future that can contain opaque objects we're going to need to ensure swagger validation properly identifies sub objects.  Special casing List isn't enough (since there's PodL

[2016-04-12 21:12] ihmccreery opened #24159 "v1.2 kubectl test can't see v1beta1.Deployment object"
When running v1.2 kubectl tests against v1.1; e.g. https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.1-1.2-kubectl-skew/70

*/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/kubectl.go:179 Expected error: <errors.errorString | 0xc2085666f0>: { s: "Error running &{/jenkins-master-data/jobs/kubernetes-e2e-gke-1.1-1.2-kubectl-s

[2016-04-12 21:16] ihmccreery commented on #24159
My guess is this was caused by https://github.com/kubernetes/kubernetes/pull/23965

Reassigning to @janetkuo.

[2016-04-12 21:19] reflection commented on #23392
I had to make a change to example.yaml to use the "debian:jessie" image instead of "gcr.io/google_containers/busybox" since the latter image doesn't have findmnt installed by default:
[code]

example.yaml
[code]

[2016-04-12 21:23] bgrant0607 commented on #24089
cc @lavalamp

[2016-04-12 21:23] pmorie commented on #23392
I am sorry @reflection, I meant that findmnt should be run from inside the kubelet/hyperkube container

[2016-04-12 21:24] yujuhong commented on #24158
I checked the code and this sort of works as intended.
1. Pod worker sees the DeletionTimestamp and tries to kill the pod.
2. After the pod is killed, PLEG detects the container state changes and triggers the pod worker again.
3. Pod worker gets the exited container states, but still tries to kill the pod at https://github.com/kubernetes/kubernetes/blob/e93c0d727fb40b752411c3f7b9ab20c5d53ffecd/pkg

[2016-04-12 21:25] johndmulhausen opened #24160 "Generate yaml kubectl files for 1.2 and 1.1"
When https://github.com/kubernetes/kubernetes/pull/23526 gets merged, it would be great if we had output not just going forward for 1.3 but also for the 1.2 and 1.1 docsets. 1.1 is lower priority, but 1.2 is the current default version of k8s on the site so it would be awesome for it to have the upgraded CLI docs.

@tyangliu @lavalamp

[2016-04-12 21:27] lavalamp opened #24161 "Flake: [k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner [It] should create and delete persistent volumes"
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23903/kubernetes-pull-build-test-e2e-gce/34980/

[code]

[2016-04-12 21:31] lavalamp commented on #24160
So anyone who has time can (locally) manually merge that into the 1.2 branch & run it. @johndmulhausen where would you like the resulting files?

We could also just cherry-pick it.

[2016-04-12 21:37] bgrant0607 commented on #24093
This seems to be more about supporting other image formats and transports than about running private registries. The former topic is covered by #8702.

[2016-04-12 21:38] johndmulhausen commented on #24160
How about in /_data/cli

[2016-04-12 21:44] lavalamp commented on #24157
@caesarxuchao

[2016-04-12 21:46] yifan-gu commented on #24158
@yujuhong But I didn't see the same behavior (2 and 3) in docker's case, and I don't understand why.

[2016-04-12 21:50] krousey commented on #24157
This is because restclient has the throttler and is also tied to a single group/version. Multiple restclients = multiple throttles. Arguably there should be only one throttler... server side. :smile:

[2016-04-12 21:51] erictune commented on #12742
Here is an alternative that can be implemented by end-users now, rather than waiting for this feature to be implemented.

Assume you have a special secret that you never want to hit the disk, including via etcd.
You can do this:

1. have an init script on each node that makes a tmpfs, say at `/mnt/foo`.
2. Have some process by which, when a node boots, a secret is copied into `/mnt/foo`, say `/mnt

[2016-04-12 21:52] eparis commented on #21098
@thockin we talked a bit about this....

[2016-04-12 21:54] sjenning opened #24163 "util cache entry can self evict during add()"
cacheShard.add() adds the new entry (or updates the existing one) before the eviction, in the case that the shard is full.  Because of the nature of how the eviction entry is chosen (random, yuck), the entry we just added can be evicted.  This results in the add() call returning with the added entry not in the cache.

[2016-04-12 21:54] yujuhong commented on #24158
(2) should happen and (3) simply doesn't log anything in docker's case.

[2016-04-12 21:55] marcolenzo commented on #24137
`kubectl delete deployment xyz-deployment`

What I can add is that immediately before performing this action I had just issued a couple of `kubectl update/replace` that triggered rolling updates. My `readinessCheck` waits for 60 seconds so none of the spawned containers were marked as ready yet.

[2016-04-12 21:58] marcolenzo commented on #24137
By the way thanks for the info on ReplicaSets. If I am understanding well, my approach of dealing with Deployment rather than ReplicaSet is the suggested one.

[2016-04-12 22:06] lavalamp commented on #24160
Of the docs repo? Is there a subdirectory per version?

On Tue, Apr 12, 2016 at 2:39 PM, johndmulhausen <notifications@github.com>
wrote:

[2016-04-12 22:30] yifan-gu opened #24165 "Rework the kube-manifests for kube-up for coreos on gce"
Previously, the coreos kube-up keeps [a private copy of master components and addon manifests](https://github.com/kubernetes/kubernetes/tree/master/cluster/gce/coreos/kube-manifests) to enable we have a working cluster to begin with. However this is not very ideal to keep the manifests up-to-date.

As salt/kube-up is still being heavily used in testing and spinning up the cluster. We should take a

[2016-04-12 22:35] mikedanese commented on #18174
cc @krousey I can work on this but I would appreciate a review or two.

[2016-04-12 22:48] saad-ali commented on #24161
@jsafrane Could you look at this please

[2016-04-12 22:53] yifan-gu commented on #24158
@yujuhong OK, thanks for explaining :)

[2016-04-12 23:15] nikhiljindal opened #24167 "Should serviceAccountLookup be set to true in kubernetes apiserver"
Forked from https://github.com/kubernetes/kubernetes/pull/23959#discussion_r59069701.

Setting serviceAccountLookup to true ensures that we verify that the service account tokens mentioned in the request are actually present in etcd.
Without it we just verify that the token is valid. That check breaks if a service account is used after it is deleted.

@liggitt mentioned that we should set it to tr

[2016-04-12 23:16] krasaee commented on #18174
@mikedanese a simple round robin solution may be sufficient for simple uses cases - however for a more sophisticated load balancing solution, I would suspect kubelets and kube-proxy should be aware of all apiservers load in addition to other characteristic deemed necessary to make balancing decisions... it sounds like this should be almost a new component, otherwise implement a solution via an ext

[2016-04-12 23:26] david-mcmahon opened #24169 "Finer granularity of ACLs, specifically for labels on issues/pull requests"
Concerns raised in related meeting.  Capturing this here so we can develop ideas and work toward a conclusion on it.

Aaron C: The label management for cherry picks is very frustrating for folks without write access to github. One idea would be to separate out the github issues into a separate repository from the code so that we can give broader access to edit / assign / add labels to issues

Bren

[2016-04-12 23:31] saad-ali opened #24170 "Consider changing E2E cloud provider flags to gce_not_gke and gke_not_gce"
@thockin's suggestion:

To prevent E2E tests that should run on both gce and gke from accidently only being run on one or the other, maybe we should rename gce and gke so that it is blatantly obvious to the author that they are exclusive, e.g. `SkipUnlessProviderIs("gce_not_gke", "aws")` instead of `SkipUnlessProviderIs("gce", "aws")`

[2016-04-12 23:36] cjcullen commented on #24151
It looks like the `Simple pod [It] should support exec through an HTTP proxy` test assumes that a linux/386 binary exists, or can be built locally. This means that this test requires `make release` to be run before it will work on a mac. Is this expected @ashcrow?

The other three tests all fail w/ ssh-related errors. My ssh-key on my macbook hadn't been added to the GCP project I was running test

[2016-04-12 23:39] mikedanese commented on #18174
For the first implementation I'm planning on implementing a slightly sticky inprocess pool that provides addresses to the rest client. I'd like to have a kubelet/kube-proxy move on to the next apiserver past a certain threshold of connection failures and possibly also server errors. While performance is important, availability is my main concern here. Longterm, smarter balancing would be nice but

[2016-04-12 23:44] yujuhong commented on #1615
What does the micro-init typically do? If "pause" handles signals and reaping the orphaned zombie processes, would that be enough?

[2016-04-12 23:50] carsonoid opened #24171 "No service account secrets in default azure deployment"
So I followed the azure get started guide and it all went as planned until I wanted to deploy a ingress controller. The pod got created but it was unable to start.

As I delved into it I found out that the cluster didn't have any secrets in it's default service account. I fixed that by adding `--service-account-private-key-file=/var/run/kubernetes/apiserver.key` to the kube-controller-manager star

[2016-04-13 00:03] eparis commented on #24007
@thockin @davidopp any interest in a review (I'm trying to not just self merge all my own bot changes).  This deleted hundreds and hundreds of comments.

[2016-04-13 00:14] yujuhong commented on #23338
I agree in general, and that's also why I added the helper function to begin with. However, supporting this everywhere is a bit problematic because not every function will have access to the entire api.Pod object for example, or even the pod UID. E.g., I think it's acceptable that the dockertools package logs a single line about "deleting a container" without writing down the UID. Of course, there

[2016-04-13 00:18] krasaee commented on #18174
@mikedanese agreed 👍

[2016-04-13 00:27] jhoblitt commented on #13776
1 for built in `cp` support.  This would be invaluable for debugging.

[2016-04-13 00:28] reflection commented on #23392
[code]

[2016-04-13 00:28] bgrant0607 commented on #24030
cc @amygdala, since we'll eventually want to update the cassandra example

[2016-04-13 00:31] gmarek opened #24174 "e2e failures: Error deleting container: Error response from daemon: Unable to remove filesystem for... device or resource busy"
It seems that Jenkins disk is full again.

[2016-04-13 00:31] janetkuo commented on #24116
Copying @errordeveloper's reply on StackOverflow:

[2016-04-13 01:00] fejta commented on #24174
I believe this is under control:

* Increased the size of the docker disk: `gcloud compute disks resize --size=1TB`
* Cleaned up old containers and images: `docker rm -v $(docker ps -a -q -f status=exited -f status=dead)`
* Deleted everything in it `sudo rm -rf /jenkins-master-docker`
* restarted docker: `sudo /etc/init.d/docker restart`
* repulled the e2e image:  `gcloud docker ^Cll gcr.io/google

[2016-04-13 01:00] #24174 closed

[2016-04-13 01:09] mml commented on #18443
I think this happened again.

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/14669
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/14667

Since then there's been a string of failures to start.
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/

[2016-04-13 01:11] mml commented on #18443
cc @ArtfulCoder (build cop)

[2016-04-13 01:41] thockin commented on #1615
signal propagation and wait()ing are the two that jump to mind, but there
are a bunch of docs on this

https://blog.phusion.nl/2015/01/20/docker-and-the-pid-1-zombie-reaping-problem/

On Tue, Apr 12, 2016 at 4:44 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-04-13 01:43] thockin commented on #21098
I have a `glide` branch open in my fork (with no PR yet), but that moves us
off godep completely, and uses vendor/ exclusively.  PTAL

On Tue, Apr 12, 2016 at 2:53 PM, Eric Paris <notifications@github.com>
wrote:

[2016-04-13 01:47] fejta commented on #23545
So this was fixed all day until we migrated stuff over to docker, which caused problems because dns works differently. I'm rolling that back https://github.com/kubernetes/kubernetes/pull/24176

[2016-04-13 02:18] dagnello commented on #23850
@saad-ali this issue is not related to issue #23932

[2016-04-13 03:20] AdoHe commented on #18174
@mikedanese how about this:
[code]
I commented in another issue.

[2016-04-13 03:41] pmorie commented on #23392
@reflection bingo, the mount propagation mode of /var/lib/kubelet is private.  try changing the mount flag for the kubelet dir to `-v /var/lib/kubelet:/var/lib/kubelet:rw:shared`

Can you clarify which vendor's docker you're using?  IE, how did you install docker?

[2016-04-13 04:25] luxas commented on #24169
How about ACLs for `gcr.io`?

[2016-04-13 05:04] bgrant0607 commented on #22368
Secrets have similar issues. @IanLewis

[2016-04-13 05:10] gugahoi commented on #11935
+1

[2016-04-13 05:20] roberthbailey commented on #24169
@luxas that seems like a reasonable concern about the build/release process, but should be split off into a separate issue. This one is specifically about the PR-flow for contributing code to the main repo (and the cherry pick process).

[2016-04-13 05:22] davidopp commented on #24007
Looks like @thockin reviewed it since your last message:
https://github.com/kubernetes/contrib/pull/765#issuecomment-209183559

[2016-04-13 06:05] zhouhaibing089 commented on #23973
@derekwaynecarr we installed salt on atomic.

@bgrant0607 I am thinking it is not tied to atomic but any systemd os, since it is not an intended behavior to write `/.kube`, `/root/.kube` is the expected one.

[2016-04-13 06:15] wojtek-t commented on #23545
@fejta - it seems that rollback didn't help - it is still failing a lot

[2016-04-13 06:33] tommyknows commented on #18174
Hi everyone,
I've got a few ideas of how to solve the problem...
First, for the kube-client:
At the moment, when you set up the kube-client tool, you have to configure a DNS-Record or IP-Adress of the master(s).
Kube-Client should then connect to that master. The master should give back all the master-servers that are available. Now, kube-client stores all IP- or DNS-Adresses locally (on the clien

[2016-04-13 07:32] engineerball commented on #23796
I update kubectl and its working

[code]

[2016-04-13 07:36] fejta opened #24182 "e2e flake: connection reset by peer talking to master during kube-up"
[code]

http://kubekins.dls.corp.google.com/view/Submit%20Queue/job/kubernetes-e2e-gce/14688/console
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/14688/artifacts/jenkins-e2e-master/

[2016-04-13 07:38] fejta commented on #23545
Where are you still seeing errno 111s? Can you send me logs?

[2016-04-13 07:45] sgrimee commented on #21464
+1, been hit by this for RC with name starting with 'attach'

[2016-04-13 07:48] fejta commented on #24170
I don't see a lot of value from this on the test-infra side, but it sounds like it might be useful for people writing tests.

[2016-04-13 07:50] fejta commented on #23496
Dup of https://github.com/kubernetes/kubernetes/issues/23545

[2016-04-13 07:50] #23496 closed

[2016-04-13 08:12] jiangyaoguo commented on #24182
#20699 has the same problem.
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20699/kubernetes-pull-build-test-e2e-gce/35290/

[2016-04-13 08:16] jsafrane commented on #24161
From the logs:
* kube-controller-manager tries to delete the GCE PD at 34:18 and fails because it's still attached to a node:
[code]

* kubelet finishes detaching the volume at 34:51:
[code]

* kube-controller-manager retires to delete the volume at 44:32. The test already timed out at this time.
[code]

Fix will follow shortly.

[2016-04-13 08:26] fejta opened #24183 "kubernetes-kubemark-5-gce averages 20m to pass but has a 30m timeout"
This adds a bunch of unnecessary flakiness to the mergebot

http://kubekins.dls.corp.google.com/view/Submit%20Queue/job/kubernetes-kubemark-5-gce/1354/consoleFull

http://kubekins.dls.corp.google.com/view/Submit%20Queue/job/kubernetes-kubemark-5-gce/buildTimeTrend

[2016-04-13 08:30] fejta commented on #24183
/cc @gmarek @wojtek-t

[2016-04-13 08:35] wojtek-t commented on #23545
Or maybe I looked for runs that are too old, e.g:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/14684/console

[2016-04-13 08:55] porridge opened #24186 "Wrong newline handling in kube::log::usage_from_stdin"
Example:

[code]

I have a fixing PR ready, will send it in a moment.

[2016-04-13 09:44] mqliang opened #24188 "help-need: some requests are really slow"
Some requests are really slow. The following log is grep from our production environment. Any suggestion about this?

[code]

This problem is really strange and hard to debug. Not all requests becomes slow, just little does. And we just don't know how to reproduce it. There are other strange issues we met, for example https://github.com/kubernetes/kubernetes/issues/24094

Do you guys met similar i

[2016-04-13 09:51] wojtek-t commented on #24188
Can this be some kind of throttling?

It's suspicious that most of these requests took exactly 15m39s

[2016-04-13 09:51] wojtek-t commented on #24188
@lavalamp @kubernetes/sig-api-machinery

[2016-04-13 10:11] autostatic opened #24190 "Deploying Kubernetes on bare metal Ubuntu - kube-up.sh doesn't run if /tmp is mount noexec"
When trying to run `kube-up.sh` with `KUBERNETES_PROVIDER=ubuntu` and `/tmp` mounted with the `noexec` option the process stops with the following message:
`Deploying master on machine 10.35.15.151 failed`
Nothing gets logged but after some investigating I found out that the Ubuntu scripts try to execute scripts from `/tmp` and this is not allowed when `/tmp` is mounted with `noexec`. Would it be

[2016-04-13 10:23] mqliang commented on #24188
There is a request took 190h1m17.664131275s. It seems that Kubernetes has no client/serve side timeout mechanism. Intuitively, I think client(kubelet/scheduler/kubelet) should have a timeout option when send requests. And when API server send request to etcd, it should also have a timeout option. The only  exception is WATCH request.

In addition, the log in API server is not detailed enough, I th

[2016-04-13 10:30] wojtek-t commented on #24188
@mqliang - actually there is a support, but client library seems to not setting it by default.

Regarding log details, you may try to look at "traces" in apiserver logs. For example for List requests, a trace log will be created for all requests that processing took longer than 500ms:
https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/resthandler.go#L311

[This is the "real" proces

[2016-04-13 10:31] wojtek-t commented on #24094
@kubernetes/sig-api-machinery @lavalamp

Any thoughts?

[2016-04-13 10:31] SimoTabtaoui commented on #24096
I didn't get how to use Configmap to solve my prob, so i resolve it with a multi mount, i replace the command echo with a volume wish contain the file :D.

[code]

[2016-04-13 11:02] AdoHe commented on #24188
Actually apiserver has the timeout support
[https://github.com/kubernetes/kubernetes/blob/master/pkg/genericapiserver/genericapiserver.go#L658](https://github.com/kubernetes/kubernetes/blob/master/pkg/genericapiserver/genericapiserver.go#L658) when timeout, the response code should be 503

[2016-04-13 11:07] wojtek-t commented on #24188
@AdoHe - that's what I wrote above

[2016-04-13 11:28] AdoHe commented on #24188
@wojtek-t from the log @mqliang paste, the request took 15m39s, it should already timeout, but the status code is still 200.

[2016-04-13 11:31] wojtek-t commented on #24188
@AdoHe

@mqliang - actually there is a support, but client library seems to not setting it by default.

from the above. Yes - it should be 503 if timeout is set. But it seems it isn't.

[2016-04-13 11:43] #24183 closed

[2016-04-13 11:43] deads2k commented on #24167
I think that having long lived, irrevocable token is a security problem.  I think that a cache with a fixed expiry time could be used if performance did become a problem.

[2016-04-13 11:55] wojtek-t opened #24192 "Scheduler infrastructure is too slow"
I did a simple experiment around scheduling throughput today.
Basically:
- I removed all priorities and predicates functions
- I replaced the whole scheduling algorithm with "choose random node from the existing ones".

This gives us an estimation on the maximum scheduling throughput we can get (assuming that scheduling algorithm is infinitely fast).

The bad news is that I get throughput of ~45po

[2016-04-13 11:56] wojtek-t commented on #24192
There are multiple improvements - I think the easiest one is to not wait for "binding" function to finish before starting to process the next pod.

[2016-04-13 11:58] wojtek-t commented on #24192
I guess the first option is significantly better.

[2016-04-13 11:59] wojtek-t commented on #24192
Anyway - I'm not sure how far we can get with this improvment. I will try to run some experiments.

[2016-04-13 12:08] wojtek-t commented on #24192
BTW, we already have a support in the scheduler that if we don't observe binding via watch for some time, we start to ignore the assumedPod. So that might be actually pretty easy to add, and shouldn't cause any correctness issues.

[2016-04-13 12:43] Hui-Zhi commented on #19049
Have update the code of scheduler which could support GPU as a first-class integer resource. The code has been tested, and will submit the kubelet part later.

@therc @davidopp @vishh @erictune @hongchaodeng @timothysc

https://github.com/kubernetes/kubernetes/pull/21446/files

[2016-04-13 12:50] #21677 closed

[2016-04-13 13:34] wojtek-t commented on #24192
It seems that it gives at least 5x improvements (which seems to be enough for now).
I'm going to send out a PR for it soon.

[2016-04-13 13:40] ncdc opened #24194 "Unit flake in pkg/storage: TestFiltering"
[code]

Running in an endless loop, I wasn't able to immediately reproduce, BUT I was able to reproduce as soon as I started running `stress -c 4` in a separate terminal.

[2016-04-13 13:53] ncdc commented on #24194
cc @wojtek-t

[2016-04-13 14:18] wojtek-t commented on #24194
Will take a look

[2016-04-13 14:19] ncdc commented on #24194
cc @liggitt

[2016-04-13 14:19] ncdc commented on #24194
I'm guessing that #24008 has something to do with this

[2016-04-13 14:20] wojtek-t commented on #24194
@ncdc - I have a different hypothesis, let me verify

[2016-04-13 14:27] wojtek-t commented on #24194
Yup - the reason is different.

The problem is that if the watch is already initiated (but it still has resourceVersion in the future comparing to the cacher current state) it doesn't check if the event that it has just received is fresh enough that should be send to the watcher.

For reproducing this problem, see:
https://github.com/kubernetes/kubernetes/compare/master...wojtek-t:fix_cacher?expan

[2016-04-13 14:32] liggitt commented on #24194
@wojtek-t your example shouldn't get the added event unless it occurred past resourceVersion 1000, right?

[2016-04-13 14:33] liggitt commented on #24194
oh, misread... should be failing, but is passing :)

[2016-04-13 14:35] wojtek-t commented on #24194
@liggitt - exactly;
I'm afraid I won't be able to finish the fix today. I can do it tomorrow morning (or feel free to pick it up - my test is already a reproduction to check if it is fixed :P)

[2016-04-13 14:37] wojtek-t commented on #24194
To clarify - the fix is to pass resourceVersion together with events to the "cacheWatcher" (as part of watchCacheEvent) and in filtering function check if the RV is greater then the initial one.

[2016-04-13 14:39] liggitt commented on #24194
right

[2016-04-13 14:48] JeanMertz opened #24198 "changing update strategy and "applying" is not allowed"
I have a replicaset running without a deployment strategy pre-defined.

When defining one in the template, and setting its type to `Recreate`, when deploying with `kubectl apply`, I get:

[code]

I would expect the strategy to be allowed to change using `apply`, _and_ have it apply to the current rollout as well.

[2016-04-13 15:05] zhouhaibing089 commented on #24198
you could not setup `spec.strategy.rollingUpdate` while you are using `Recreate` strategy.

[code]

so if you decide to use `Recreate`, just try omitting the rollingUpdate part.

[2016-04-13 15:09] mqliang opened #24199 "Allow user set mode for Secret/ConfigMap"
I am recently working on adding a SSHVolume, the SSHVolume plugin will inject a ssh key to a specified dir("/home/username/.ssh/authorized_keys"), so that user could login into a container by ssh(if the container has a sshd running)

I am not sure such a SSHVolume is feasible in community. If community folks think such a volume is helpful, I'd like to contribute.

@saad-ali @thockin @pmorie Any th

[2016-04-13 15:10] munnerz commented on #19899
Will do - I'm just making a few changes to clean up the code as well as write some info on how people can get it up and running (the user registration step is currently quite difficult as it requires the user to manually request it and store it).

I'll be submitting a PR in the next week. Is it the intention to have this functionality in the Kubernetes code in future?

[2016-04-13 15:11] smarterclayton commented on #24188
Note that we don't yet support (or have queued up) the ability to
*actually* cancel long running HTTP requests by propagating our go.Context
down to all subordinate calls and verifying that a timeout cancels the
request.  It's something we should eventually do.

On Wed, Apr 13, 2016 at 7:28 AM, TonyAdo <notifications@github.com> wrote:

[2016-04-13 15:14] joshk0 opened #24200 "API server recovery actions are destructive"
Hello! On GCE, we ran into [this incident](https://status.cloud.google.com/incident/compute/16007). The observed symptom was that our API servers were unreachable for a time. During that period, all pods kept running on nodes and we were able to serve production traffic no problem. As soon as the API servers returned, that event caused something to decide to kill every pod in our infrastructure. I

[2016-04-13 15:19] rata commented on #13748
@smarterclayton @thockin: ping?

[2016-04-13 15:36] JeanMertz commented on #24198
@zhouhaibing089 but there is no "rollingUpdate" part in the config. I guess it's still as a "default" in the config on the server, but this prevents me from "applying" a different strategy.

[2016-04-13 15:43] zhouhaibing089 commented on #24198
@JeanMertz it would help if you could paste the file you used to run `kubectl create` and `kubectl apply`, :)

[2016-04-13 15:59] ncdc commented on #24194
Does something like this look like it's going in the right direction? https://gist.github.com/47d197657af47d43a5717a2de2b68743

[2016-04-13 16:01] gmarek opened #24203 "One node test cluster failed to start"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-kubemark-5-gce/1370/console

We should track how often such failures happen.

cc @dchen1107 @wojtek-t

[2016-04-13 16:12] wojtek-t commented on #24194
@ncdc - I wanted to avoid parsing the number you are doing in process() method, and instead of that add a new field "ResourceVersion" to watchCacheEvent where we already have this parsed.
On the other hand, maybe this kind of optimization doesn't make much sense. WDYT?

[2016-04-13 16:14] jayunit100 opened #24204 "Push iperf to gcr"
This is a simple issue, no code required :) , just need to push the images/ iperf container to gcr .

*details*
- #23872  merged a Dockerfile for building iperf containers.
- #22869 can be completed once we push `iperf:e2e` to gcr.

@fejta maybe you can help push the container since you reviewed the original pr ?

That will allow me to  do :

[code]
which will finalize this iteration of the iperf

[2016-04-13 16:23] bprashanth commented on #19899
We currently have this concept of "cluster-addons", which run as pods in a cluster and solve commonly encountered problems when running a distributed application. Examples include cluster DNS, monitoring and loadbalancing. Cluster addons are managed by the master and run in the kube-namespace, so there's a clear indication to the user that we think it's a good idea that you leverage this functiona

[2016-04-13 16:27] zmerlynn opened #24206 "Nag when no cherrypick PR associated with cherrypick-approved"
It would be nice if, after `cherrypick-approved` and `cherrypick-candidate` were both set, the bot could periodically nag to ensure that the PR gets action. In the normal case, this means an automated cherrypick (which would remove the `cherrypick-candidate` label and stop the nagging) or de-approval.

cc @eparis @david-mcmahon @roberthbailey

[2016-04-13 16:32] ncdc commented on #24194
@wojtek-t I've now read through more of the cache code and I think it's best to avoid parsing the resource version twice. I'll update accordingly.

[2016-04-13 16:36] yujuhong commented on #1615
@thockin, those are the two that I mentioned, and was most commonly seen among the micro inits. I was just wondering what other features that users want from these inits :)

[2016-04-13 16:45] zmerlynn opened #24207 "Unit test flake: etcd cluster is unavailable or misconfigured"
From #24150, see https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24150/kubernetes-pull-test-unit-integration/20999/

[2016-04-13 16:56] david-mcmahon commented on #24169
#23743 might offer some more flexibility here.

[2016-04-13 16:57] ncdc commented on #24194
When comparing the event's resourceVersion with the value passed to `Watch`, do we pass the event through if its resourceVersion is `>` starting value, or `>=` starting value?

[2016-04-13 16:59] ncdc commented on #24194
Also, @wojtek-t, your unit test that you added above that passes now but should fail once the corrected code is in place... is there an easy way to add a "future" test that runs quickly and won't flake? I feel like checking for the absence of an event could be problematic.

[2016-04-13 17:07] spxtr commented on #24207
[code]

Note that this is release-1.2 branch and golang 1.5.3.

[2016-04-13 17:09] liggitt commented on #24194
`>`

[2016-04-13 17:10] hongchaodeng commented on #24192
It sounds OK to assume. From scheduler's perspective, binding is no different than the final step of running pod. If we think both as one logically, then:

- if succeeded, the added information is confirmed in scheduler's view
- if failed, I'm not worried about the resources being under-estimated (until we have excessive packed workload). But we need to make sure no race between the assumed info a

[2016-04-13 17:16] mikedanese commented on #22205
This is unblocked.

[2016-04-13 17:29] dchen1107 commented on #24203
@gmarek Thanks for filing the issue.

Looks like the node stuck at downloading our binary. Here is what I found at startup script:

Apr 13 14:25:48 kubemark-5-master startupscript: Downloading binary release tar (https://storage.googleapis.com/kubernetes-staging-e222be933b/kubemark-5-devel/kubernetes-server-linux-amd64.tar.gz)
...

Anything change lately with our startup script?

[2016-04-13 17:37] dchen1107 commented on #24158
Looks like we should clean up at (3) for both docker and rkt cases.

[2016-04-13 17:37] lavalamp opened #24209 "kubelet-e2e-gce-ci timeout"
http://kubekins.dls.corp.google.com/view/Node/job/kubelet-gce-e2e-ci/1473/

https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/1473/

[code]

[2016-04-13 17:38] lavalamp commented on #24209
@pwittrock to find an owner?

[2016-04-13 17:38] davidopp commented on #22205
Pod affinity is also in the pipeline, I just haven't had time to make the second pass review yet (#22985)

[2016-04-13 17:42] lavalamp commented on #24188
There's actually a global 1m timeout. Is this disabled in OP's environment?

[2016-04-13 17:47] lavalamp commented on #24094
Are the failures always from PUT node status? If so, I'd look at the kubelet logs-- what does the kubelet in question think it's setting the status to?

Also, it looks like you're two versions behind, is there a reason for that?

[2016-04-13 17:48] timstclair commented on #23397
Blocker: https://github.com/google/cadvisor/issues/1206

[2016-04-13 17:50] parikhyash commented on #20466
@MikaelCluseau How is the reclaim policy handled for this? For example, in NFS persistent volumes, a 'recycle' reclaim policy should only scrub part of the volume for the corresponding subpath in the PVC and not the entire PV itself.

[2016-04-13 17:50] rata commented on #22368
@bgrant0607: Cascade deletion should work for both, right? If a new secret is created (instead of updated), then the old will be deleted when is not used. Or am I missing something?

In any case, if @IanLewis is working on this, or just to get another opinion, is nice to have :)

[2016-04-13 17:53] spxtr commented on #23954
@dchen1107 In bc326af6daba9eece7441eac9feb4ee156a60dde I added a soak job for release 1.2. To add a new job you need to copy that commit and fill in your own details.

I'm not too sure how you configure your job to use a different docker version or kernel config. Is that just an environment variable? If so, set it under `job-env`. If it's something more complicated than that then let me know.

[2016-04-13 17:54] lavalamp commented on #24209
Also here: http://kubekins.dls.corp.google.com/view/Node/job/kubelet-gce-e2e-ci/1470/

[2016-04-13 17:55] lavalamp commented on #24209
http://kubekins.dls.corp.google.com/view/Node/job/kubelet-gce-e2e-ci/1458/
http://kubekins.dls.corp.google.com/view/Node/job/kubelet-gce-e2e-ci/1456/

[2016-04-13 17:58] dchen1107 commented on #24123
Do we plan to switch for both production release and dev/test? Can we just limit this to the user using official release?

[2016-04-13 18:00] andyzheng0831 commented on #23933
@ixdy We added three GCE projects for our new Jenkins jobs recently, and each test hits this issue. What do we need to change to workaround it? I see PR #24012 has not been merged. cc/ @wonderfly FYI.

[2016-04-13 18:02] gmarek commented on #24203
I even don't know who to ask... @mikedanese ?

[2016-04-13 18:03] dchen1107 commented on #24101
Nice catch!

[2016-04-13 18:03] spiffxp commented on #24192
FWIW I think we've tried optimistic bindings before (#8261) and had to rollback (#8533).  Still think this is a good idea though

[2016-04-13 18:06] spiffxp commented on #24169
related, something to allow more granular wiki access (or replacement of the wiki with something that better suits our needs), ref #23146

[2016-04-13 18:06] luxas commented on #23417
@vishh

I think we won't fix this, it turns out `--containerized` works pretty well in `v1.2` for the most setups.
However, add that we should document how to run "natively" with docker 1.10+

Fixed with #23550.

Another thing you should add is #20514. Since `make-ca-cert` is downloading Brendan's fork of `easyrsa`, internet connection is required. It also makes it impossible to use k8s with a pro

[2016-04-13 18:08] luxas commented on #23417
One thing more, I think we're dependent on a quite new `findmnt` binary on host, so it doesn't work with RancherOS for example. Haven't tested with `v1.2.2` though, just `v1.2.0-alpha.6` or something

[2016-04-13 18:11] andyzheng0831 commented on #23956
My fix #23996 was merged and #24060 was cherry picked in release-1.2, @wonderfly also added Jenkins jobs for serial tests. The fix on my and @wonderfly side is done, and there is another issue for @yujuhong to fix the test case. So, close this issue

[2016-04-13 18:11] #23956 closed

[2016-04-13 18:19] luxas commented on #24169
@roberthbailey ok

Another thing ~related to this is the `needs-ok-to-merge` label.
I don't think it's documented where those privs live and what one should do to earn a removal of that check. The same about k8s-bot retest permission (which I have, but I don't know where that lives either). As an outside-google contributor, none of these things are obvious.

It would be nice with some devel docs a

[2016-04-13 18:31] yujuhong commented on #23397
FYI, `docker-containerd` should probably be moved to the same cgroup that docker daemon is in so that we can account the resource overhead of containerd-shim, a per-container process.  The containerd-shim uses about 3-5MB of memory and may be rewritten in C (xref: https://github.com/docker/docker/issues/21737)

[2016-04-13 18:35] saad-ali commented on #24199
Why is the existing Kubernetes Secret mechanism not be sufficent for this (see http://kubernetes.io/docs/user-guide/secrets/#using-secrets-as-files-from-a-pod)?

[2016-04-13 18:38] yujuhong commented on #24158
Yes, we just need to add a check in kl.killPod().

[2016-04-13 18:40] freehan opened #24211 "Deflake Kubenet e2e suite"
I gathered e2e test results of `kubernetes-e2e-gce-kubenet` suite for last 100 runs. The following is the list of flaky tests. Some might not be related to `kubenet`. I will start with the service tests. Any help would be appreciated.

[code]

Detail list: https://docs.google.com/spreadsheets/d/1Le8UfN_xj7FzI-NuVZ1le-_a8IW62gM40SAWEWv8Xhs/edit#gid=0
Jenkins project:  http://kubekins.dls.corp.googl

[2016-04-13 18:45] mml commented on #23461
I think something else reduced the errors we were seeing from gcloud.  Haven't seen those since.

And we just [finally] merged #23992 which should make failure to start much rarer.

[2016-04-13 18:45] #23461 closed

[2016-04-13 18:52] mikedanese commented on #24123
I don't think that's a good idea. There is plenty to get in dev/test and we should make the dev/test environment as similar as possible to prod. FWIW, I've been doing this in dev/test for ~6 months. Why don't you want to use this in dev/test?

[2016-04-13 18:54] aknuds1 opened #24212 "Why can I not install addons/cluster-monitoring/google/heapster-controller.yaml?"
I am unable to install [cluster/addons/cluster-monitoring/google/heapster-controller.yaml](https://github.com/kubernetes/kubernetes/blob/release-1.2/cluster/addons/cluster-monitoring/google/heapster-controller.yaml) with Kubernetes 1.2 due to the following error:

    Error from server: error when creating "/tmp/heapster-controller.yaml": Deployment in version extensions/v1beta1 cannot be handled

[2016-04-13 19:00] carsonoid commented on #24171
So after a lot of digging and comparison between the azure cluster and some of my other working clusters it turns out that the problem was with the default admission plugins in the apiserver.  By default `--admission-control="AlwaysAdmit"` which does not pass new pods through the ServiceAccount controller which does the actual work of mounting and assigning tokens.

The fix was to add the followin

[2016-04-13 19:00] #24171 closed

[2016-04-13 19:04] wojtek-t commented on #24094
Ohh - that's a good point. In v1.0 we are supporting up to 100nodes (and up to 3000 pods). So it is significantly less than you are trying to achieve with this release.

[2016-04-13 19:09] wojtek-t commented on #24194
Also, @wojtek-t, your unit test that you added above that passes now but should fail once the corrected code is in place... is there an easy way to add a "future" test that runs quickly and won't flake? I feel like checking for the absence of an event could be problematic.

Yeah - that's problematic. What we can do is to wait e.g. 1s for it and pass then. It's far from being ideal, but probably be

[2016-04-13 19:10] erictune commented on #22888
@smarterclayton

Are you planning to have an "Image Policy" object that is stored in the apiserver?

You said in item 7 above that you would *Perform a call to a remote system prior to allowing an image to be run*.  Are you guys envisioning an admission control plugin in apiserver that calls out to an "image approver" service?  Or a kubelet or docker call to an image approval system?  Or some othe

[2016-04-13 19:13] ncdc commented on #24194
I'm really hesitant to add something that waits 1s. That sounds really dangerous (flakey). What about sending data to etcd with various resource versions and making sure you only get the ones newer than the initial resource version?

[2016-04-13 19:17] pducic commented on #6856
neither upgrading nor re-running helped in my case.
however, deleting problematic VM did!

[2016-04-13 19:18] mikedanese commented on #24203
Looks like [download-or-bust](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/configure-vm.sh#L144-L171) is not retrying correctly

[2016-04-13 19:43] liggitt commented on #24194
watch a few forward in the future, then add enough to reach your watch window, and ensure you didn't get the ones prior to that

[2016-04-13 19:44] ncdc commented on #24194
Yeah that's what I was thinking

[2016-04-13 19:44] liggitt commented on #24194
1. start etcd
2. add an object
3. watch at object.resourceVersion + 10
4. add 10 objects
5. ensure you only get one event

[2016-04-13 19:59] fejta commented on #24203
Thanks Mike! Agree with Dawn and Mike that this looks more like a node or cluster issue than test infra.

[2016-04-13 20:01] spxtr opened #24214 ""regular resource usage tracking for 100 pods per node over 20m0s" panic"
[code]
Happening in both master gce and gke serial suites as of about noon yesterday. [Example](https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1060).

[2016-04-13 20:09] janetkuo commented on #24159
@ihmccreery `Deployment` isn't enabled by default in v1.1 so this test won't pass in v1.1 as expected.

[2016-04-13 20:09] lavalamp commented on #22655
Another occurrence. https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/4164/

[code]

[2016-04-13 20:10] mml commented on #23461
I am going to keep my eye on this.  We just had another failure to start in e2e-gce-slow.  In this case, we spent the whole time trying to download the binaries from GCS and by the time 5m was up we still hadn't finished.  This is a new failure mode that is probably rare.

But considering it'll now take an hour for the slow test suite to go green again, this really sucks.

 - https://console.cloud

[2016-04-13 20:14] krousey commented on #21098
@thockin migration to glide is probably completely independent of supporting vendor directories. Also, why? Do we gain anything over godep + vendor directory? I was under the impression that with vendor directories, godep all but goes away in the day to day build process. You only need to use it to update the vendored dependencies.

If there are distinct advantages, I would say it deserves its own

[2016-04-13 20:21] roberthbailey commented on #24123
I think we should switch dev/test as well as production. Otherwise we won't get a good signal as to whether the code is ready for production until it is too late to fix it.

[2016-04-13 20:30] yujuhong commented on #24214
Fix has already been merged this morning #24205.

It just got picked up by the current build. If it passes, I'll close the issue.

[2016-04-13 20:50] falanjones commented on #18333
Why was the alternative to k8 built-in plug-in a single-shot container?
The general interaction of most microservices is through REST, not 'docker run'.
I'm not a fan of the built-in model because it ties development for new storage features to the relatively long k8 release cycle and potentially longer customer adoption.
Incompatibilities in an API are handled by negotiating the version between e

[2016-04-13 21:05] nikhiljindal commented on #24137
Yes, you should be dealing with deployments.

kubectl delete deployment should delete the corresponding replica set and pods as well.
Please file a bug if you have steps to reproduce the problem.

[2016-04-13 21:08] guybrush opened #24215 "`kubectl apply configmap` does not change file-modification-time (in configmap-volume)"
i assumed that when i change a configmap via `kubectl apply` modification-time of files in the configmap-volume would get updated too. but it seems not to be the case (at least on my cluster).

is this a bug or does it work like intended?

i run k8s@1.2.0 via systemd-kubelet and basically 1:1 the manifests from hyperkube-image

when i run this script: https://gist.github.com/guybrush/76b71bd261fcd

[2016-04-13 21:20] #22992 closed

[2016-04-13 21:20] #23048 closed

[2016-04-13 21:22] #20963 closed

[2016-04-13 21:29] MikaelCluseau commented on #20466
@parikhyash The subPath is a property of the Container.VolumeMount (see https://github.com/kubernetes/kubernetes/issues/20466#issuecomment-192526797), not of the PVC, so the PV will only be reclaimed as now, when no-one uses it anymore.

[2016-04-13 21:30] antoineco commented on #15077
@thockin @justinsb this is still broken unfortunately, with the same pod description as in my first comment. The first partition is mounted 2 times.

[2016-04-13 21:37] freehan commented on #23933
@andyzheng0831 You can create the bucket manually. If the bucket exists, it won't hit the `gsutil` bug.

[2016-04-13 21:42] derekwaynecarr commented on #23973
I assume you are wanting to run a more recent version of kube than what
comes with atomic?

/cc @eparis

On Wed, Apr 13, 2016 at 2:06 AM, zhb <notifications@github.com> wrote:

[2016-04-13 21:44] jimmyjones2 commented on #23417
@luxas Just submitted a PR for including easyrsa in hyperkube image - #24218

[2016-04-13 21:49] lavalamp commented on #24215
Thank you for the detailed report.

[2016-04-13 21:52] reflection commented on #23392
Thanks, @pmorie!  It works after changing the mount flag to `-v /var/lib/kubelet:/var/lib/kubelet:rw,shared` and changing `MountFlags=slave` to `MountFlags=shared` in my docker systemd file.  So it looks like the underlying issue was not configuring docker correctly.

To answer your question: I installed docker via the official docker [fedora repo](https://docs.docker.com/engine/installation/linux

[2016-04-13 21:52] #23392 closed

[2016-04-13 21:55] lavalamp commented on #24212
[[Did you try the --validate flag?]]

Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address comm

[2016-04-13 21:55] #24212 closed

[2016-04-13 21:58] yujuhong commented on #24214
The suite is still running but the test in question has already passed. Closing the issue.

[2016-04-13 21:58] #24214 closed

[2016-04-13 21:59] lavalamp commented on #24200
@joshk0 Was your cluster still on 1.1 or had it been upgraded to 1.2 already?

This is probably because the node controller doesn't understand the difference between apiserver being down and all the nodes being down. I think you're not the first to complain. @davidopp to triage. @roberthbailey may be interested also.

[2016-04-13 21:59] davidopp commented on #24200
Hi Josh. Do you have logs from the API server, so we can investigate?

[2016-04-13 22:11] davidopp commented on #24200
cc/ @gmarek

[2016-04-13 22:13] pwittrock commented on #24209
Looks like just building the source can take over 20 minutes, which doesn't leave much time for creating the gce instances and running the actual tests.  I didn't parallelize building the code + creating instances because the instances should only be created if building the code is successful, however that would be one way to speed things up generally.  Still need to better understand why it takes

[2016-04-13 22:14] davidopp commented on #13429
ping -- this seems important (see #24200)

[2016-04-13 22:18] lavalamp commented on #24200
I think this is severe enough when it happens to deserve a P0 rating.

[2016-04-13 22:20] davidopp commented on #24200
Evictions are supposed to be rate limited. @joshk0 do you know over what period of time the pods were killed?

[2016-04-13 22:20] lavalamp commented on #24190
I think we're willing to accept PRs to fix this, but it's probably not going to be at the top of the list for us. Let us know if you disagree.

[2016-04-13 22:22] dcbw commented on #24018
No, it doesn't.  Is the netfilter stuff really needed before any pods are born though?

[2016-04-13 22:22] cjcullen opened #24224 "SNAT traffic from outside-cluster sources in kube-proxy"
A lot of users want to access kubernetes services from outside the cluster, but on the same private network. With the userspace kube-proxy, there are a couple of hacks that could make this work:

1. Run kube-proxy wherever you want to access those services.
2. Create bastion route(s) to funnel traffic to services to a cluster node.

The iptables kube-proxy breaks option 2. Traffic from a client th

[2016-04-13 22:22] lavalamp commented on #24188
Actually, since you're on 1.0, I'm not sure if the timeout was in then. What is the scale of your cluster?

I think you'll have a much better experience if you use 1.2 or at least 1.1.

[2016-04-13 22:23] cjcullen commented on #24224
@ArtfulCoder @thockin @Q-Lee

[2016-04-13 22:25] lavalamp commented on #24156
I don't think we're ready for this yet.

[2016-04-13 22:26] #24137 closed

[2016-04-13 22:28] lavalamp commented on #24132
It looks like you removed the internal type for extensions/v1beta1. You need to register the internal type from batch/ in its place.

[2016-04-13 22:28] lavalamp commented on #24132
And yes, it should not have succeeded.

[2016-04-13 22:28] andyzheng0831 commented on #23933
@freehan Thanks, that works!

[2016-04-13 22:38] saturnism commented on #22911
same issue here.

[2016-04-13 22:46] lavalamp commented on #24096
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-04-13 22:46] #24096 closed

[2016-04-13 22:47] roberthbailey commented on #24169
Those are great points. @david-mcmahon -- we may want to address those in a community meeting (like what you are planning to do for release notes tomorrow).

@luxas The ok to merge list is kept in https://github.com/kubernetes/contrib/blob/master/mungegithub/whitelist.txt

[2016-04-13 22:51] lavalamp commented on #24086
Sorry about this, it probably got lost in a rebase. That said, the original PR should have included a test, and it's totally my fault for not requesting one.

[2016-04-13 22:52] lavalamp commented on #24085
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-04-13 22:52] #24085 closed

[2016-04-13 22:53] lavalamp commented on #24084
@justinsb can you triage this?

[2016-04-13 22:57] roberthbailey commented on #24200
The node controller talks to the apiserver over a localhost connection, so it would have seen the apiserver being up and running during networking incident. If the apisever was down the node controller wouldn't be able to take any action.

The apiserver would have stopped receiving node status updates, so the node controller should have checked with the GCE API to see if the nodes still existed as

[2016-04-13 22:59] lavalamp commented on #24200
Oh, that explains it, actually. So apiserver would not have gotten any status updates, and five minutes later the node controller would start deleting pods. 13 minutes after that (if the cluster is small enough), when connectivity is restored, the nodes reconnect and find a pending deletion/recreation of everything.

[2016-04-13 23:01] lavalamp commented on #24200
So if we saw the logs of this apiserver, I guess we would see a bunch of deletions that happen *before* the nodes reconnect. The deletions would have been rate limited. Basically node controller doesn't account for the possibility of network segmentation where it and apiserver are together but separated from the rest of the cluster.

[2016-04-13 23:03] lavalamp commented on #24200
The node controller only uses the "does this exist in the API" check to let it skip the rate limiting. It will still eventually delete the pods even if the node exists in the GCE API, just it will rate limit that.

[2016-04-13 23:03] thockin opened #24225 "kubectl exec does not accept pod/foobar syntax"
I feel like I should be able to do:

[code]

but I get `error: invalid resource name "pod/hairpin-test-1119317711-4qmtf": name may not contain "/"`

[2016-04-13 23:04] roberthbailey commented on #24200
@joshk0 -- can you send me your project name / zone / cluster (privately if you want) so that I can find the master logs and confirm @lavalamp's guess?

[2016-04-13 23:04] davidopp commented on #24200
Why do you say that? The node controller rate limits pod evictions. We've been discussing making it work better across a range of cluster sizes (#20979) but it should be rate limiting right now.

[2016-04-13 23:05] lavalamp commented on #24200
@roberthbailey If I understand the OP, @joshk0 is actually running a GCE cluster, not a GKE cluster, so that won't help you :)

[2016-04-13 23:06] lavalamp commented on #24200
@davidopp Yes, the deletions were rate limited, but they were all *observed* at the same time, when the network segmentation ended. Is my hypothesis, anyway.

[2016-04-13 23:06] lavalamp commented on #24200
That is, apiserver saw rate-limited deletions. But the kubelets saw a totally different system state when they rejoined 15 minutes later.

[2016-04-13 23:08] cjcullen commented on #22813
Just sent out #24210. Would love to hear if anybody thinks this is a bad idea.

[2016-04-13 23:08] davidopp commented on #24200
I definitely buy the theory that all of the evictions that happened during the disconnection would be observed at the same time; all I am saying is that the rate limiting would not allow to evict an entire cluster in 17 minutes. Regardless, #20979 should address this (and we should increase the priority of that).

[2016-04-13 23:09] roberthbailey commented on #24200
@lavalamp If it was a GCE cluster, then internal connectivity between nodes and the master should have been fine. The outage was related to traffic to/from the external internet.

[2016-04-13 23:11] bprashanth commented on #24018
Clunky because we're loading a module for every pod, and if we fail to do so once for some unrelated reason the pod won't start. If we fail to do so for 10s for same unrealted reason the pod will probably enter crash loop backoff or something.

Periodically checking the module is loaded makes sense, I don't think a failure to *check* should block pods starting though. We still have an init and tha

[2016-04-13 23:13] lavalamp commented on #24200
@roberthbailey good point

@davidopp It looks like the current value is something like one pod every 10 seconds?

[2016-04-13 23:17] nikhiljindal commented on #24086
yes sorry it was not intentional.
Thanks for pointing it out. Will fix.

[2016-04-13 23:18] davidopp commented on #24200
@lavalamp Ah, you're right, I thought it was longer.

[2016-04-13 23:32] dchen1107 commented on #284
cc/ @adityakali

[2016-04-13 23:46] #22523 closed

[2016-04-13 23:50] travisnewhouse commented on #23884
@gmarek Can you share any thoughts about "ability to dry-run munger to audit that a given GCS bucket has the correct data"?  Is this possible today?  Any tips on how to try it?

[2016-04-13 23:54] david-mcmahon commented on #24169
@roberthbailey I don't see any mention of `needs-ok-to-merge` in the kubernetes repo - certainly not in docs/.  I would say that these mechanisms certainly need a place somewhere in docs/devel and a link to it in the bot message that applies the label.  I'll file an issue.  cc @eparis

[2016-04-13 23:55] saad-ali commented on #23796
I tried with the release v1.2.0 version and still no problem:

[code]

[code]

[2016-04-14 00:00] david-mcmahon opened #24228 "Missing dev workflow documentation needs to be added/updated"
There are several bits pointed out in https://github.com/kubernetes/kubernetes/issues/24169#issuecomment-209577684 that are not covered in our development docs (docs/devel):

- [x] The `needs-ok-to-merge` label should be documented probably in [development.md](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/development.md) or [owners.md](https://github.com/kubernetes/kubernetes/blo

[2016-04-14 00:04] quinton-hoole commented on #23461
@mml looks awesome so far.  We've had a 6 hour stretch of green on http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ubernetes-lite/ since you merged #23992.  We haven't had a 6 hour stretch of green on that job in 3 weeks, since I opened this issue :-)

Looks good so far!

[2016-04-14 00:09] zhouhaibing089 commented on #23973
yeah, we are running release-1.2 code along with customization from our side.

/cc @ashw7n

[2016-04-14 00:18] roberthbailey commented on #24228
@bgrant0607

[2016-04-14 00:18] lavalamp commented on #24209
#24222 merged to lessen the effect.

[2016-04-14 00:19] lavalamp commented on #24209
Happened again in http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubelet-gce-e2e-ci/1487/

(before the above merge)

[2016-04-14 00:49] ariscn opened #24229 "Backup/migrate cluster?"
I've searched the docs, but can't find an answer to an important question: how do I backup and migrate or restore a Kubernetes cluster?

There's quite a bit of gray around what qualifies as "the cluster" - running containers, node IP addresses, etc. But at the very least, I'd expect a way to dump the configuration of all high level resources (services, replication controllers, deployments, etc).

[2016-04-14 01:23] gmarek commented on #13429
P1 - if it's a P0, please explicitly mark it so:)

[2016-04-14 01:26] gmarek commented on #23884
I *think* I did that... Try
[code]
or ask @eparis

[2016-04-14 01:30] gmarek commented on #24200
@joshk0 - how large is the cluster? Current defaults are quite aggressive to say the least. We have a burst of 10 (so we can kill 10 Nodes straight away), and after that we kill one node every 10 seconds. If the partition time was 15 minutes NC was able to kill 70 Nodes.

[2016-04-14 01:32] gmarek commented on #24200
To verify if rate limiting is working we'd need to get NodeController logs (or NodeController events).

[2016-04-14 01:35] nikhiljindal opened #24233 "verify-swagger-spec is broken on jenkins and travis"
Ref: https://github.com/kubernetes/kubernetes/pull/24226
verify-swagger-spec is always passing on both travis and jenkins even when the swagger spec is not updated.
It fails when run locally if the spec is not updated.

Need to figure out why does it not fail on travis and jenkins.

[2016-04-14 01:48] nikhiljindal commented on #21517
This failed again: https://github.com/kubernetes/kubernetes/pull/24104#issuecomment-209715933
[code]

Not sure why the bug was closed. Was it because it didnt reoccur for a while?

[2016-04-14 01:59] nikhiljindal commented on #24233
It is failing now: https://travis-ci.org/kubernetes/kubernetes/builds/122945182

All I did was add some echo statements :)

[2016-04-14 02:21] sjpotter opened #24235 "rktnetes doesn't setup resolv.conf and hosts correctly for hostNetwork pods"
Currently we write the same /etc/resolv.conf for every pod based on cluster-dns, this is incorrect, k8s depends on docker's default behavior of essentially mounting in the hosts version of those files.  This prevents master components from working correctly if run under rkt

I've looked at the code and can't seem to figure out how to make it work right,  tried specifying the files on the command l

[2016-04-14 02:44] thockin commented on #24156
Agree.  We need all the bot tooling to be packaged better before we spin up
new repos.  I am not against a util repo, but I also don't think it is too
bad for people as is.  It's a little fat, I guess...
On Apr 13, 2016 3:25 PM, "Daniel Smith" <notifications@github.com> wrote:

[2016-04-14 02:49] thockin commented on #21098
Godep is constantly breaking.  Godep is thoroughly unhelpful when it comes
to telling you what it is doing and why.  Godep development does not seem
to be making it better.  Glide seems to be a better tool all around, modulo
a couple open bugs, and the developers are actively working on it and
making the UX significantly better.

We could move to vendor before that, I guess, but I don't really wan

[2016-04-14 03:06] saad-ali opened #24236 "Consider reducing the PV/PVC binder provisioner retry time"
Consider reducing the PVClaimBinderSyncPeriod from 10 minutes down to something more reasonable, so that volumes don't sit around unbound for half an hour if it fails twice.

This would reduce the impact of issues like https://github.com/kubernetes/kubernetes/issues/21498 until the binder/recycler/provosioner consolidation/refactor is complete.

CC @kubernetes/sig-storage @kubernetes/rh-storage

[2016-04-14 03:28] iamthemuffinman opened #24237 "Is hostPath broken in 1.2.2?"
I'm trying to have kubelet start an etcd pod (etcd.yaml pod definition here: http://hastebin.com/davifuwuzi.sm) and it keeps giving me this error: "only encoded map or array can be decoded into a struct." If I remove "hostPath" or the "volumes" map entirely then it works just fine. I'm using kubelet version 1.2.2.

[2016-04-14 03:43] iamthemuffinman commented on #24237
I should also note that I've also done this:

[code]

And I get this error: "mapping values are not allowed in this context" even though it's done that way [here](https://github.com/kubernetes/kubernetes/blob/release-1.2/cluster/saltbase/salt/kube-proxy/kube-proxy.manifest).

[2016-04-14 04:04] thockin-cc commented on #21098
As a point in favor.

I did a godep restore.

I removed Godep/_workspace (wtf is _workspace_aux?)

I ran godep save ./...

It worked silently for 5 minutes

It installed exactly 2 deps into vendor/, with no error message or clue as
to why or what went wrong.

I ran it again with -v

It produced thousands of lines of totally useless output and still failed
with no clue.

And now I am left with lite

[2016-04-14 04:24] jgraettinger commented on #24200
Hi all, thanks for the quick response! Our project name is `pippio-production`. We operate _GKE_ clusters in both `us-central1-b` and `us-central1-c`, imaginatively called `production-b` and `production-c`. Both clusters had been updated to v1.2 prior to the incident.

Both clusters saw widespread pod deletion & re-creation during the incident window. Running pods appear to have started at exactly

[2016-04-14 04:34] luxas commented on #19030
Ping @fgrzadkowski
I'm working on improvements for `cluster/get-kube-local.sh` which will make it more reliable.
When that PR is in, we should make the link, so this can be closed.

[2016-04-14 04:43] thockin opened #24238 "Deployment API nit"
For when we move out of beta?

type DeploymentStrategy has a `type` field which could be redundant with the params blocks.  Rather than:

[code]

it could just use the existence of the rollingUpdate field as a clue that type is RollingUpdate.  We would need to add an empty `recreate` struct.  We do this other places, e.g. volumes, and it seems to work.  Any reason not to be consistent?

[2016-04-14 05:15] thockin opened #24239 "kubectl describe --events=false flag"
I have a demo case where I want to describe an object, but not see events.

[2016-04-14 05:25] krousey commented on #21098
I would suggest updating godep because I don't see these issues. `_workspace_aux` is a terrible terrible hack for licenses. Some licenses for some reason aren't in the `_workspace` tree, so `_workspace_aux` is manually populated. This directory is is used by scripts that verify and update licenses.

[2016-04-14 05:27] spxtr commented on #21098
On a totally fresh kubernetes clone, I did this:
[code]
It seemed to install everything. Maybe you have to remove the entire folder and not just the _workspace? I'm not sure.

[2016-04-14 05:39] davidopp commented on #23972
@mml I marked this for 1.3, so maybe you can interleave this with the why-pending and DisruptionBudget work. Unless I'm totally off base, this should require only a very small change.

[2016-04-14 05:46] nikhiljindal commented on #24238
cc @bgrant0607 @janetkuo

[2016-04-14 05:48] nikhiljindal opened #24240 "Remove *versioned.Event (should not be pointer) from swagger spec"
Ref https://github.com/kubernetes/kubernetes/pull/24226

https://github.com/kubernetes/kubernetes/pull/23806 added *versioned.Event to swagger spec.
It should not be a pointer.

cc @smarterclayton

[2016-04-14 06:13] wojtek-t commented on #24132
We are getting rid of this script completely. The PR migrating to the new generator is just waiting for being merged:
https://github.com/kubernetes/kubernetes/pull/23768

there is no point in fixing the old script at this point

@lavalamp - should we merge it manually?

[2016-04-14 06:14] wojtek-t commented on #24188
Ohh yeah - actually with 1.0 release is not very scalable - there are 10x+ improvements in 1.2 compared to 1.0

[2016-04-14 06:17] ApsOps commented on #23535
I'm getting a similar error here.
[code]
I setup a custom kubernetes cluster on AWS with flannel overlay network (without using kube-up) and created the dashboard service using these commands:
[code]

Some additional info:
[code]

[2016-04-14 06:18] mfanjie commented on #20223
Got the same issue here, the root cause is that in https://github.com/kubernetes/kubernetes/blob/master/hack/test-go.sh#L259
On BSD, the -I option has constraint of 255 bytes limit, so the arguments got truncated. This did not happen on Linux as GNU has no such limitation.
-I	replstr
	     Execute utility for each input line, replacing one	or more	occur-
	     rences of replstr in up to	replacemen

[2016-04-14 06:21] arjunm183 opened #24241 "kubectl pods creating showing status Container Creating"
Hello Team,

It will be really helpfull if someone helps me with this .

I have kubernetes  2 node cluster running sles12 and i am able to see the nodes when i do kubectl get nodes

I have an private image registry for docker and i wanted to create a pod and make them run in the node

Below is what i have done
=============================================
**Created a yaml file for pod **

host1:~

[2016-04-14 06:26] zhouhaibing089 commented on #24241
`gcr.io/google_containers/pause:2.0` is the infra pod, you could pull it and then push into your own registry, then you could change the flag for kubelet:

[2016-04-14 06:27] wojtek-t commented on #24192
@spiffxp - yes, I remember that. But we significantly change the scheduler and I think that this time it shouldn't be a problem.

I have one question w.r.t. failure case. What's the workflow to tell client the creation of a pod has failed? What happen if client just recreates the same pod (specifically the same name) again? I'm worried about the recreation of the same pod -- if so, cache should ha

[2016-04-14 06:29] arjunm183 commented on #24241
Thanks for the reply. Can you let me know how do I push this from my google repository to my private repository
That would be really a great help.

Thanks and Regards,
Arjun Murugan

From: zhb [mailto:notifications@github.com]
Sent: Thursday, April 14, 2016 11:57 AM
To: kubernetes/kubernetes
Cc: Murugan, Arjun (623)
Subject: Re: [kubernetes/kubernetes] kubectl pods creating showing status Containe

[2016-04-14 06:31] bgrant0607 commented on #24238
This was deliberate. Some client developers have asked for discriminating types for unions.

[2016-04-14 06:31] #24238 closed

[2016-04-14 06:48] AdoHe commented on #24225
or we have to do something like this:
[code]
sounds reasonable to me. @kubernetes/kubectl needs more comments.

[2016-04-14 06:48] thockin commented on #24238
I assume "some client developers" had sound enough arguments to justify the
extra cruft?  Should we then file a v2 bug to discriminate volumes and any
other places we do this?

On Wed, Apr 13, 2016 at 11:32 PM, Brian Grant <notifications@github.com>
wrote:

[2016-04-14 06:48] thockin commented on #8190
discriminated unions to be explicit rather than implicit:

https://github.com/kubernetes/kubernetes/issues/24238#issuecomment-209780488

[2016-04-14 06:59] bgrant0607 commented on #24228
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/pr_workflow.png

[2016-04-14 07:10] thockin commented on #24224
For the record, I dislike using Cluster CIDR in this way (I dislike the
notion of cluster CIDR) but I don't have a better way to express "traffic
from off machine" in a generic way.  Ideas welcome.

I'd like to get this in for the next patch release, if possible, since it
used to work (even if it was undocumented).

On Wed, Apr 13, 2016 at 3:23 PM, CJ Cullen <notifications@github.com> wrote:

[2016-04-14 07:15] thockin commented on #21098
OK, nuking Godeps/ worked (not that this is excusable).

https://github.com/kubernetes/kubernetes/pull/24242

Still doesn't compile.  Not sure why.

On Wed, Apr 13, 2016 at 10:28 PM, Joe Finney <notifications@github.com>
wrote:

[2016-04-14 07:36] zhouhaibing089 commented on #24229
I am thinking backup the etcd storage.

[2016-04-14 07:40] aknuds1 commented on #24212
@lavalamp Cool, I did.

[2016-04-14 07:41] ghodss commented on #24089
Can @smarterclayton or @lavalamp give some guidance on how precisely to solve this in the code? It's a bit of a blocker for us for rolling out applyable config and would be really nice to get into a 1.2.x point release.

[2016-04-14 07:43] ghodss commented on #24089
It's a blocker because right now a kube list is the only way to enforce ordering of objects when kubectl apply is applied to a directory, and we need to apply namespace objects before the objects that are supposed to be inside of them.

[2016-04-14 07:57] boynux commented on #24241
@arjunm183:

    docker pull gcr.io/google_containers/pause:2.0
    docker tag gcr.io/google_containers/pause:2.0 your-repo:5000/pause:2.0
    docker push your-repo:5000/pause:2.0

then add `--pod-infra-container-image="your-repo:5000/pause:2.0"` to kubelet

[2016-04-14 08:34] mfanjie commented on #20223
we have to put the newfunc somewhere rather than test-go.sh, golang.sh is a candidate, as the script need to be sourced before the function call is available. and test-go.sh can not be source.
Another option is to drop the xargs call, a function named runTestIterations is in test-go.sh, which is called when coverage is not enabled, evaluating the possibility of adapting this function.

[2016-04-14 09:08] autostatic commented on #24190
I've submitted a PR.

[2016-04-14 09:32] #22683 closed

[2016-04-14 09:47] chrislovecnm commented on #24030
@bgrant0607 I am going to cut another ticket for the Snitch. @amygdala what is you C* background?!

[2016-04-14 09:54] chrislovecnm commented on #24030
@bprashanth

So this is a no no ;) C* loves it some fast storage. Like local ssd. Dev and smaller deployments are ok with attached PV. Mission critical data is ok with PV, but make C* slow and cranky.

Does PetSet allow for no PV? Need to read the docs.

I am going to work on docs for the current snitch and get some opinions of this service discovery needs to be improved or is good to go!  I am su

[2016-04-14 10:07] #20121 closed

[2016-04-14 10:47] #23990 closed

[2016-04-14 11:42] smarterclayton commented on #24225
All commands that accept resources should accept resource/NAME syntax.
In this case for back compat we must only accept a single argument,
@kargakis is familiar with this.

[2016-04-14 11:50] eparis commented on #24228
I question if 'ok-to-merge' has any value at all....

[2016-04-14 11:52] goblain commented on #24229
@zhouhaibing089 : this is not really an option as too much changes between separate deployments of kubernetes (like ie. IP addresses).

@ariscn : to recover from a catastrophic failure you should be able to quickly provision a new, clean k8s cluster, and then be able to restore services you deployed on the cluster. The biggest issue is obviously persistent data (PVs) but in _catastrophic_ sense yo

[2016-04-14 12:06] AdoHe commented on #22342
@metral as a workaround, you can use two apply to remove the args. Like this:
[code]
The first apply will create the deployment, the second will apply your new configuration.

[2016-04-14 12:07] luxas commented on #24228
@eparis I wonder that too. Why did you implement it in the first place?
Not blaming, just wondering

@bgrant0607 Yes, I have seen that image, but it's a bit hidden, and everything isn't covered. (How to get into the list etc.) But it's a very good starting point, and we could make it more visible for new contributors.

As an aside note, I had contributed ~3-4 PRs before I even noticed there was a

[2016-04-14 12:08] wojtek-t opened #24246 "Change interface of priority functions for easier "framework-based" parallelization"
I'm currently trying to improve the overall scheduling throughput. It seems we can achieve significant gains from different kind of parallelization.
However, I would like to avoid parallizing individual predicate/priority function and support parallelization at the framework level.

For predicate function, it is easy to parallelize computations of them between nodes, since they are independent.
Ho

[2016-04-14 12:09] AdoHe commented on #22342
@bgrant0607 in @metral case, the apply has no chance to do any deletion, since we ignore deletion when we get the delta map.

[2016-04-14 12:14] AdoHe commented on #22342
Also I think you can use `$replace` to do strictly replacement
[https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md#list-operations](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md#list-operations)

[2016-04-14 12:28] goblain commented on #24224
@cjcullen : If I follow you correctly, in this situation you do have a full connectivity to pods on your node (like ie. overlay networking in flannel) so that local iptables kube-proxy can DNAT to POD IP. So this is similar to a case when you wont to access POD from node/minion it self (not from withing the container).

I had this problem on my CoreOS cluster with flannel. The core of mine issue w

[2016-04-14 12:39] Smana opened #24249 "NFS example: unable to mount the service"
Hi guys,

I just noticed that i'm not able to mount the nfs service as described in the nfs example.
Mounting using the pod's ip works fine:

[code]

But when i use the service it doesn't work

[code]

There are no error logs in the kube-proxy logs:

[code]

The forwarding rule seems to be configured:

[code]

This has been reproduced with flannel and calico on GCE and baremetal.
I'm going to try

[2016-04-14 12:55] Smana commented on #24249
Same behavior with iptables mode.

Further info.
Same errors after completing the steps:
[code]

[2016-04-14 12:56] markturansky opened #24250 "Dynamic provisioner requires backoff/retry logic"
The current provisioner will always attempt to provision a volume on each sync period, regardless of current state or when the last attempt was made.  This results in 1 failure to process rapidly in succession, as the first failure persists an error status which triggers a watch event which triggers a sync ... etc.

Retry logic similar to what @jsafrane implement for the recycler is needed here.

[2016-04-14 12:57] markturansky commented on #24250
@saad-ali @thockin

[2016-04-14 13:06] gmarek commented on #24246
IIUC the reason for priority functions to take list of nodes instead of single nodes was exactly what you mentioned - allowing priority function to be relative. Having said that, I think that 'map-reduce' way of doing it is probably a good optimization, as it should be expressive enough (and for all current priorities it certainly is).

I'm not sure if arguments of priority function are not part o

[2016-04-14 13:35] iamthemuffinman commented on #24237
Fixed on Slack channel. hostPath isn't supposed to have a value.

[2016-04-14 13:35] #24237 closed

[2016-04-14 13:56] autostatic opened #24251 "FLANNEL_OTHER_NET_CONFIG emptied after export"
Currently `cluster/ubuntu/config-default.sh` has the following lines:

[code]

So when uncommenting or copying the example `FLANNEL_OTHER_NET_CONFIG` line the variable gets set, then exported and successively emptied which could result in errors like "Failed to acquire subnet: out of subnets" on the nodes. Would it be an option to change the example line by prepending it with the `export` command

[2016-04-14 14:04] bgrant0607 commented on #22342
Oh, sorry @AdoHe @metral! I didn't look at this carefully enough initially.

@metral If you want to use apply, please use apply to create the resource initially, as well, or use create --save-config.

[2016-04-14 14:05] bgrant0607 commented on #22342
We should document that here:
http://kubernetes.io/docs/user-guide/managing-deployments/#kubectl-apply

And in kubectl apply help.

[2016-04-14 14:09] AdoHe commented on #22342
Sure I will update the documentation.

[2016-04-14 14:10] andrewmichaelsmith opened #24252 "kubelet leaves pod in existence when it no longer exists due to devicemapper bug"
Verison: 1.2.0 / Docker 1.8.3

We have come across a (so far undiagnosed) issue with docker/devicemapper (https://github.com/docker/docker/issues/22031) where by the Docker API returns a HTTP 500 when the kubelet polls it for a particular pod:

```Apr 14 13:25:33 server kubelet[14718]: E0414 13:25:33.159976   14718 pod_workers.go:138] Error syncing pod 8f6b7818-00c7-11e6-8eb8-00163e1b3b80, skippin

[2016-04-14 14:15] dcbw commented on #24018
Isn't it once for the first pod ever run on the machine?  This isn't done inside the pod net namespace...

[2016-04-14 14:34] pmorie commented on #24236
+100

[2016-04-14 14:37] microadam commented on #23920
anyone able to confirm if I am just doing something wrong with this? or if it should work like I have described?

Thanks

[2016-04-14 14:38] jsafrane commented on #24236
@markturansky, do you remember what was the reason for 10 minutes?

[2016-04-14 14:39] bgrant0607 commented on #24228
@luxas We would welcome help in better organizing developer-focused docs. Perhaps @jbeda, @erictune, and/or others would help also.

We have contributing guidelines:
https://github.com/kubernetes/kubernetes/blob/master/CONTRIBUTING.md

Do you have suggestions for how to improve them?

Or propose a PR template? #21437

[2016-04-14 14:41] bgrant0607 commented on #24228
@goltermann @sarahnovotny

[2016-04-14 14:46] markturansky commented on #24236
@jsafrane  https://github.com/kubernetes/kubernetes/pull/16728

[2016-04-14 15:01] mikedanese commented on #20125
Why wouldn't these have versions in the rc name (e.g. monitoring-grafana-v2)

[2016-04-14 15:04] mikedanese commented on #23973
Does the root user have a home directory in /etc/passwd on atomic?

[2016-04-14 15:08] csrwng commented on #22623
Early prototype: https://github.com/csrwng/kubernetes/commit/e75550899522a51a27513a9196ee55b4232a3343
And corresponding demo:
https://goo.gl/2XxOtY

More than anything it helps to identify gaps in function (just look at the chunks of code that are stubbed or commented out).

Main issue I ran into was that Windows containers don't lend themselves well to the Linux model where 1 container = (mostly)

[2016-04-14 15:18] erinboyd commented on #21498
Interesting to manually specify the UID in the PV...Curious why this is necessary though. If you have the claimRef and name and you are respecting those, why wouldn't you just reduce the latency and still use the system generated UID from the PVC to populate the PV. What is the need for the 2 step verification here? Is it the generating of the UID that is causing the latency?

As far as the latenc

[2016-04-14 15:21] erinboyd commented on #21498
adding to types.go
   // do one more search just for name
            if claim.Name == volume.Spec.ClaimRef.Name && claim.Namespace == volume.Spec.ClaimRef.Namespace {

Will make sure the bind is respected by the name then once the pvc is created and the UID generated it can be populated back into the PV. Reducing the need for the user to supply both.

[2016-04-14 15:23] erinboyd commented on #21498
Some of this is repeat of the discussion in https://github.com/kubernetes/kubernetes/issues/23615

[2016-04-14 15:28] liggitt commented on #14150
Opened https://github.com/kubernetes/kubernetes.github.io/pull/380/files to note the cleanup of invalid tokens.

[2016-04-14 15:28] #14150 closed

[2016-04-14 15:42] #24194 closed

[2016-04-14 15:48] ajohnstone opened #24254 "Amazon ELBs - ICMP and Network Maximum Transmission Unit (MTU)"
The firewall rules created on Amazon ELBs do not include ICMP. This means that issues can occur with PMTU. Please see below for more information.

When a HTTP/TCP request exceeds a certain payload size, with ELBs not allowing "ICMP request/reply", the request stalls. This is due to the ELB trying to send big packets to the client but the client dropping them since the MTU was higher than expected.

[2016-04-14 15:49] eparis commented on #24228
@luxas Its hard to say it pre-dates me, since I've been here since the beginning, but I don't know. ok-to-merge just has always been here. I think the idea is to get the reviewer to pay a little bit more attention to things from 'unknown' people. I'm not sure if it is worth it. I think it could probably die right now. But if we ever got OWNERS completed it would really be pointless....

[2016-04-14 15:54] eparis commented on #23884
You probably don't want `--once`. I also think the queue might not serve a web page if you don't include a github oauth today with `--token-file=`

`./mungegithub --max-pr-number=0 --pr-mungers=submit-queue --token-file=$PATH`

should give you a web page and logs. You might need to up the `--v=` to get some more logs...

[2016-04-14 15:54] drocsid commented on #17231
@timothysc I'm afraid I don't understand "transitive closer". For example I see my JDK is around 280M, and the Spark binary is 73M. Then that leaves another 636M for base + whatever. I guess I'll have to look at the imagelayers if I'm really curious.

[2016-04-14 15:56] sebgoa opened #24255 "gcePersistentDisk not usable with MySQL on GKE"
Hi,

I was testing this [example](https://cloud.google.com/container-engine/docs/tutorials/persistent-disk/) on GKE.

Turns out the Mysql pod is not running properly with gcePersitentDisk. Mysql starts but the environment variable are not dealt with properly and the root password is not used. The database runs but I cannot access it.

Here is the problematic pod:

[code]

Mysql runs but I get acce

[2016-04-14 15:56] ncdc commented on #24252
cc @derekwaynecarr @rhvgoyal

I get the "unknown device" errors quite frequently in my development environment, but they haven't resulted in pods stuck Terminating (or I haven't noticed, perhaps).

[2016-04-14 15:56] goltermann commented on #24228
Isn't ok-to-merge our way to override the CLA bot (which occasionally tags stuff cla:no incorrectly)?

[2016-04-14 15:58] ncdc commented on #24249
When I tested this a few days ago, if I waited long enough (5 to 10 minutes), the timeout error eventually went away and everything was good. Do you see the same behavior?

cc @kubernetes/sig-network @kubernetes/rh-networking

[2016-04-14 15:59] iamthemuffinman commented on #22135
+1 Also having this issue.

[2016-04-14 16:09] eparis commented on #24228
@goltermann that is `cla: human-approved`

[2016-04-14 16:32] ncdc commented on #24239
I can probably find someone to work on this

[2016-04-14 16:38] #24007 closed

[2016-04-14 16:42] ingvagabund commented on #24239
Introduction of new flag in cobra and one if condition should be enough. Let me take a look.

[2016-04-14 16:44] hongchaodeng commented on #24246
Priority score is per node.
The dependencies could be modeled as DAG computation flow. More parallelization should be achievable.

/cc @xiang90

[2016-04-14 16:44] amygdala commented on #24030
@chrislovecnm  - my C* background is near zilch :), look forward to consulting with you on best practices for this.

[2016-04-14 16:56] gmarek commented on #24246
The question is how much we need dependencies. Maybe single "map-reduce" will suffice. Can you give an example of sane priority function that requires full DAG?

[2016-04-14 16:59] chrislovecnm commented on #24030
@amygdata appreciate the help, and hopefully some other folks that I have asked for help will have some time!

Also in regards to the storage stuff we are talking about for PetSet. This is another design thought that would apply:

https://github.com/kubernetes/kubernetes/issues/7562

[2016-04-14 17:01] bprashanth commented on #24030
Does PetSet allow for no PV? Need to read the docs.

This is slated for post 1.3. Once it works at the storage layer it should *just work* through petset.

Another thing that helps with Service discovery is init containers (https://github.com/kubernetes/kubernetes/pull/23666). It's a container that runs before your "actual" container and can, eg: declare its hostname into some shared storage, get

[2016-04-14 17:02] chrislovecnm commented on #7562
So folks this is quite important to use cases like big data. Cassandra, elastic, and others. I am not familiar with cockroach ... But maybe that as well.

Those big processes love some fast disk, and sometimes jbod attachments of multiple fast disks on bare metal.

How are we proceeding?

[2016-04-14 17:10] mikebrow opened #24259 "vagrant developer guide vs vagrant getting started guide (dup or missing?)"
Vagrant getting started guide:

The file: kubernetes/docs/getting-started-guides/vagrant.md is an empty shell pointing to its new location on the web at http://releases.k8s.io/release-1.2/docs/getting-started-guides/vagrant.md with the source for said web page being located at kubernetes.github.io/docs/getting-started-guides/vagrant.md.

All good so far.

At the bottom of the web page there is a l

[2016-04-14 17:10] wojtek-t commented on #24246
I don't think we should do a full dag - this is overengineering.

[2016-04-14 17:12] ovanes commented on #24249
I probably found the bug/problem this. It has smth to do with the iptable rules.
If I create an RC and throw in a few more instances of the same pod everything works fine.
I saw the the load balancer was implemented with iptables as well. Here the comparisons:

Single POD + Service *DOES NOT WORK*
[code]

Multiple PODS + Service *WORKS*
[code]

Single POD promoted with RC to multiple PODs *WORKS*:

[2016-04-14 17:16] bgrant0607 opened #24260 "Turn prometheus into a real example"
Don't understand why this is in contrib:
https://github.com/kubernetes/contrib/tree/master/prometheus

It's not very discoverable there.

We should also group all monitoring-related examples together somehow.

cc @mikedanese @mwielgus @jayunit100 @kubernetes/examples

[2016-04-14 17:18] bgrant0607 commented on #24260
cc @jimmidyson

[2016-04-14 17:25] bgrant0607 commented on #24228
cc @david-mcmahon

[2016-04-14 17:29] bgrant0607 commented on #24228
The purpose of ok-to-merge has changed over time. If the sets of people that can apply ok-to-merge and lgtm are the same, I agree it doesn't make much sense.

Another nuisance is that "ok to test" (and the bot request to type that) is a message in the PR, not a label.

We should reconcile the testing whitelist, ok-to-merge, and auto-application of lgtm via OWNERS.

[2016-04-14 17:30] bgrant0607 commented on #24228
needs-ok-to-merge is applied to PRs that aren't from maintainers or collaborators -- it's basically a flag that the PR is from someone new-ish.

[2016-04-14 17:43] spxtr commented on #23884
You can also tack on `--fake-e2e` and it won't try to talk to Jenkins or GCS, it'll just say the jobs are passing.

[2016-04-14 17:44] yujuhong commented on #24252
@andrewmichaelsmith, a temporary workaround (which I think should work) is to forcefully delete the pod `kubectl delete --grace-period=0 <pod_name>`. Could you try that if the pod gets stuck again?

If `docker inspect` return a 500 error, the pod worker in kubelet will retry the request again. If docker keeps returning the same error, the worker may be stuck and never gets to actual syncing. To wo

[2016-04-14 17:44] jimmidyson commented on #24260
cc @fabxc

[2016-04-14 17:46] spiffxp commented on #23416
/cc @kubernetes/sig-testing

[2016-04-14 17:46] spiffxp commented on #22077
/cc @kubernetes/sig-testing

[2016-04-14 17:48] lavalamp opened #24262 "Broken test: [k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow]"
This isn't a flake, the test is just broken. Starting from here:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-serial/1064/

https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1064/

[code]

I guess maybe something dies while it is scheduling everything?

[2016-04-14 17:49] lavalamp commented on #24262
@davidopp to triage. This is breaking kubernetes-e2e-gce-serial right now.

[2016-04-14 17:50] spiffxp commented on #24127
/cc @kubernetes/sig-testing

[2016-04-14 17:50] spiffxp commented on #24082
/cc @kubernetes/sig-testing

[2016-04-14 17:51] jmccarty3 commented on #11000
I think one thing that should be documented better is that without the ```--admission-control=ServiceAccount``` being added to the api server, the service token will not be mounted despite it being generated.  This was a pretty large source of confusion for me setting up my own cluster without the set up scripts.

[2016-04-14 17:58] pdbogen commented on #22888
@erictune belatedly (sorry about that); we do a lot of automated builds with Jenkins, though the security story with Jenkins isn't great. The gist of your suggestion is that it'd definitely be easier on Kubernetes if it needed only to be a link in a trust chain- i.e., trust a registry that trusts a build pipeline, etc.; and there's definitely validity there from the k8s engineering perspective.

I

[2016-04-14 17:59] lavalamp opened #24263 "kubernetes-e2e-gke-test: error starting cluster"
Many recent failures.

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-test/12541

https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/12541/

[code]

[2016-04-14 17:59] thockin commented on #23920
It should work, and it does work on my local cluster.

On Thu, Apr 14, 2016 at 7:37 AM, Adam Duncan <notifications@github.com>
wrote:

[2016-04-14 17:59] lavalamp commented on #24263
@ixdy can you take a look and/or delegate?

[2016-04-14 18:00] bprashanth commented on #24249
You can't access yourself through your Service VIP in iptables kube-proxy (i.e 1 endpoint Svc, kubectl exec into endpoint, curl svc ip won't work) without either hairpin mode on all your veth's (for intf in /sys/devices/virtual/net/cbr0/brif/*; do cat $intf/hairpin_mode; done) or a promiscuous mode cbr0 (netstat -i).

[2016-04-14 18:02] bgrant0607 opened #24264 "Organize examples"
Forked from #24260 and other issues.

We need to organize the examples by category:
- monitoring
- logging
- storage
- database
- multi-tier
- paas
  ...

cc @kubernetes/examples

[2016-04-14 18:03] bprashanth commented on #24249
The default cluster setup should give you promiscuous mode. We had a bug in between where we weren't defaulting to old hairpin behavior, but that should be fixed with: https://github.com/kubernetes/kubernetes/pull/23325. What hairpin-mode is you kubelet operationg with?

[2016-04-14 18:04] ncdc commented on #24249
@bprashanth for my test, I had:

- nfs service
- nfs server pod
- nfs pv
- pvc
- client pod using pvc

Are you saying that should not work by default?

[2016-04-14 18:05] erinboyd commented on #24249
Are you using nfsv3 or nfsv4?

[2016-04-14 18:10] spxtr commented on #24082
What does this get us?

[2016-04-14 18:13] timstclair commented on #23397
FYI, docker v1.11 is [released](https://blog.docker.com/2016/04/docker-engine-1-11-runc/)

[2016-04-14 18:14] bprashanth commented on #24082
Hard failures instead of stacktraces in controller manger logs that no-one notices till ship time, watch being broken but this not showing up because we periodically relist, apiserver throwing 500s that are masked because we retry etc.

Quoting: http://static.googleusercontent.com/media/research.google.com/en//archive/paxos_made_live.pdf

In closing we point out a challenge that we faced in testin

[2016-04-14 18:15] vishh commented on #17183
cc @kzk @edsiper

[2016-04-14 18:16] bprashanth commented on #24249
As long as the client pod is talking to the Service VIP that's talking to the nfs server pod (and these 2 are different pods), hairpin mode doesn't matter. It only matters if you're talking to a service that loadbalances back to the same pod. I couldn't make out if that was what @ovanes was asking about.

All setups should work by default. There was a window (before https://github.com/kubernetes/k

[2016-04-14 18:17] lavalamp opened #24265 "Scalability flake: Not all pods in namespace 'kube-system' running and ready within 10m0s"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/6129/

https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/6129/

[2016-04-14 18:32] vishh commented on #17183
Wants from the logging system:

* Ability to collect application specific logs. This includes collecting logs from custom directories.
* Retain recent history of logs on local disk, to workaround issues in logging agent and network outages.
* Isolation per pod - No single container / pod should take up all the disk and network bandwidth.
* Preserve log lines from containers without clobbering them

[2016-04-14 18:34] ixdy commented on #24082
I might be overly pessimistic, but I bet such a mode would just cause all tests to fail. I'm not sure how much signal that gets us...

[2016-04-14 18:39] bprashanth commented on #24082
That's just sad then. Catching panics and retrying 500s should be the exception. I don't mean don't retry an external dep like GCE or gcr.io, we don't care about those. The services we're responsible for shouldn't be failing in an isolated test environment that's carefully crafted according to best practice.

[2016-04-14 18:41] therc opened #24267 "Jenkins unit/integration tests don't survive control plane/node update"
My PR was unlucky enough to be running tests while the cluster was updated to 1.2. It eventually timed out at the 1h mark, but all over the place there were failures:

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/23594/kubernetes-pull-test-unit-integration/21280/

[code]

And a lot more. I'm assuming that others like this are not fatal:
[code]

[2016-04-14 18:48] lavalamp opened #24269 "flake: [k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/6130/

https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/6130/

[code]

[2016-04-14 18:49] lavalamp commented on #24269
Previous closed issue: #22324

[2016-04-14 18:50] fejta commented on #24204
@jayunit100 the image now exists, but `make push` produced a ton of complaints about automake-1.9 not existing on my system. Can you let me know if this was fatal (still seemed to build stuff)?

[code]

[2016-04-14 18:55] jayunit100 commented on #24204
ok ill test `make push` onto my own docker repo and see

[2016-04-14 18:56] fejta commented on #24204
Thanks! You'll probably want to do `make image`

[2016-04-14 19:07] therc commented on #24267
cc @lavalamp

[2016-04-14 19:15] gtank opened #24272 "hack/local-up-cluster.sh fails with no networking"
On my laptop running Fedora 23, this script consistently fails when networking is disabled.

To reproduce:

[code]

Actual results:
[code]
Logs:
[code]

Expected results:
The apiserver launches and announces on localhost.

[2016-04-14 19:19] timothysc commented on #19954
I'm seeing a flake here, totally unrelated to my change.
FAIL	k8s.io/kubernetes/contrib/mesos/pkg/scheduler/integration	12.594s

[2016-04-14 19:22] timothysc commented on #24140
welp I'm not going to gate on vendoring, I'll just update

[2016-04-14 19:35] ncdc commented on #24249
@bprashanth yes, that's what I have (client pod -> service VIP -> nfs server pod). The first time it attempted to mount the PV into the client pod, it failed (connection timed out). I then waited several minutes and it magically cleared up and was able to connect and mount.

[2016-04-14 19:37] #24204 closed

[2016-04-14 19:39] a-robinson commented on #22212
I'm glad to see this happening. Priority will also be useful for ensuring system pods are scheduled before user pods in most circumstances.

@Q-Lee

[2016-04-14 19:39] kargakis commented on #24225
Exactly. ResourceNames in the resource builder is what is needed here to handle the default resource (pod in this case) and provide the ability to specify more.

[2016-04-14 19:42] yifan-gu commented on #24235
A fix would be setting the mounts to mount the host's /etc/hosts, /etc/resolv.conf and set the hostname to host's hostname.

I had a fix on this. Need to update the tests.

[2016-04-14 19:48] luxas commented on #24228
+1 for `ok-to-test` being a label, but the downside is that only people with write access then may add labels, so it ends up being a bad thing

I think the test check should be there for new committers as a safety check.
It may be a good thing to have something like `ok-to-merge` to notify the assignee that the user is a non-maintainer, but it really doesn't make sense to have it as a label becaus

[2016-04-14 19:50] davidopp commented on #22212
Just to clarify, scheduler preemption is definitely not going to be in 1.3. (We had never intended intended for it to be in 1.3.)

[2016-04-14 19:56] jayunit100 commented on #24204
Ok.  So, the  container is working for me without building it.
[code]
[code]

[2016-04-14 19:56] thockin commented on #24249
There's noting in the iptables dumps that indicates that there's a bug - it all looks exactly as I expect it to.

http://docs.k8s.io/user-guide/debugging-services might apply, though I r ealize it needs an update for iptables.

[2016-04-14 19:59] fejta commented on #24204
Super! That is what counts :)

[2016-04-14 20:00] fejta commented on #21517
Looks like this is using very old code:

``sh
!!! Error in /var/lib/jenkins/workspace/kubernetes-pull-build-test-e2e-gce/hack/e2e-internal/../../cluster/gce/../../cluster/gce/../../cluster/../build/../build/common.sh:883
  '"${DOCKER[@]}" pull "${addon_path}"' exited with status 1
``

However head shows that we no longer pull if the image already exists:

https://github.com/kubernetes/kubernetes/b

[2016-04-14 20:04] roman-shuhov opened #24276 "Bad pod may affect whole cluster"
We recently got an issue with pods that had a small memory limit. It was good enough to start the pod, but it fails as soon as it gets any load. In our case, it was Apache container with 32Mb limit.

Kubernetes tries to reschedule it, but keeps getting OOM errors, and at the end this generates a lot of traffic (66.7 Mbit/s in an empty cluster) and, as a result, a lot of nodes went down, which made

[2016-04-14 20:05] fejta commented on #21517
@nikhiljindal we fixed this for 1.3 but your PR is for 1.2

[2016-04-14 20:05] #21517 closed

[2016-04-14 20:06] ixdy commented on #21517
Maybe we should cherrypick #23040 to 1.2?

[2016-04-14 20:06] spxtr commented on #24263
I see that it has failed several times recently, but it looks like this is the only run that had that particular failure. The string of reds from a few days ago happened to all the tests, not just this one.

[2016-04-14 20:11] jayunit100 commented on #24204
ok ... and @fejta

- if we add `dnf install -y findutils` to the Dockerfile, then it will output one-less error message, so that might be a good PR to put in.
- We can also  upgrade to iperf3 after the iperf2 e2e runs a little while.

[2016-04-14 20:31] paralin commented on #3760
@justinsb +1, also we're running into a problem now where we need to see client IPs and it's basically impossible with the current setup.

[2016-04-14 20:31] fabioy opened #24279 "Go routine leaks in tunnel healthcheck in api-server"
If the API server can't establish the SSH tunnel to the node, it seems to leak the go routine establishing the connection. See many go routines leaked with this stack:

golang.org/x/crypto/ssh.DiscardRequests()

Seems related to https://github.com/golang/go/issues/15113

It seems related to periodic api-server crashes that we're observing.

[2016-04-14 20:38] ihmccreery commented on #24159
This is for the following test:

**Kubectl client Guestbook application [It] should create and stop a working application [Conformance]**

Does that mean that if a user upgrades to the v1.2 `kubectl` the Guestbook tutorial won't work against their existing clusters?

[2016-04-14 20:55] drocsid commented on #19765
Hello, I'm running the spark example locally on the 1.22 release. After installing socat, I was able to connect to the zepplin-controller / dashboard.

kubectl port-forward zeppelin-controller-0go00 8081:8080
I0414 20:48:18.156878    2293 portforward.go:213] Forwarding from 127.0.0.1:8081 -> 8080
I0414 20:48:18.156952    2293 portforward.go:213] Forwarding from [::1]:8081 -> 8080
I0414 20:48:29.00

[2016-04-14 20:58] spxtr commented on #24082
I think it'd be helpful if you provide example of a particular place where we should try testing without a retry.

[2016-04-14 21:08] carsonoid commented on #22750
So I upgraded the master components and it all went smoothly. However now I have some issues with endpoints not getting updated correctly when pods go in/out of ready state.

Sample endpoint:

[code]

Notice that `admin-server-uq10k` is under `notReadyAddresses`. However the pod yaml shows that it's "ready" but the "status" is still False.

[code]

Since the kubelet is responsible for probing do I

[2016-04-14 21:14] ovanes commented on #24249
@bprashanth Indeed, taling to ther service from a non-service related container distributes load to all containers. Thanks for clarification.

[2016-04-14 21:29] euank commented on #23887
Now that we've got this in rkt (via https://github.com/coreos/rkt/pull/2402), I can give a shot at plumbing that through here.

[2016-04-14 21:46] lavalamp opened #24285 "kubernetes-test-go: Build timed out"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/10930/

https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-test-go/10930/

Happened twice in a row.

[2016-04-14 21:46] lavalamp commented on #24285
@spxtr Can you take a look? I think the gke build has the same problem.

[2016-04-14 21:48] uruddarraju commented on #23831
@lavalamp I still have to submit a fix to fix this. The PR only updates the godep :)

[2016-04-14 21:51] vishh commented on #24156
As long as `pkg/util` is independent of rest of kubernetes, a new repo is
not necessary for now.

On Wed, Apr 13, 2016 at 7:45 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-04-14 21:55] spxtr commented on #24285
Looks like they've gotten significantly slower since the last time this came up. I'll try and figure out why.

[2016-04-14 22:00] lavalamp commented on #24132
Manually merged--hopefully this is fixed.

[2016-04-14 22:00] #24132 closed

[2016-04-14 22:02] lavalamp commented on #24089
Looking at this is in my queue, but my queue is long and growing :(

[2016-04-14 22:07] chrislovecnm opened #24286 "Cassandra on Kubernetes - Seed Provider and Snitch"
# Background

This project currently contains a custom [SeedProvider](https://github.com/kubernetes/kubernetes/blob/master/examples/cassandra/java/src/io/k8s/cassandra/KubernetesSeedProvider.java) that allows for discovery within a kubernetes cluster.  This issue is covering design and improvements around this initiative.  Once stable these components are stable recommended that this code gets mov

[2016-04-14 22:08] mikedanese commented on #21267
I can submit a PR to add this. I'm thinking:
[code]

[2016-04-14 22:14] chrislovecnm commented on #20961
And here is another ...https://github.com/kubernetes/kubernetes/issues/24286

@amygdala / @bgrant0607 can we be special and get a Cassandra Label - will make my life a BUNCH easier!!

[2016-04-14 22:15] lavalamp commented on #24276
How many of these pods were you running? I don't think network traffic should take down nodes. Why did the nodes go down?

[2016-04-14 22:15] ihmccreery commented on #15131
#24014 provides what I believe is a basic framework for making progress on this.  `chaosmonkey` allows test writers to either implement an interface or define a function that works with a `chaosmonkey.Semaphore` to define functionality across a disruption (e.g. cluster upgrade).

This is similar to what @quinton-hoole suggested above, but puts the structural and parallel logic in first-class code

[2016-04-14 22:17] lavalamp commented on #24267
If you're talking about the upgrade I was chattering about in slack at the same time, the upgrade was of the cluster running the submit queue, not jenkins. So it's unrelated.

[2016-04-14 22:18] lavalamp commented on #24267
[code]

This is actually a timeout problem.

[2016-04-14 22:19] lavalamp commented on #24267
@spxtr who is looking at other timeout problems.

@spxtr @ixdy @fejta I think we need one place in the system to put a "this is how long a build should take" setting, since every time that changes many of our builds start flaking?

[2016-04-14 22:19] errm opened #24288 "httpHeaders in httpGet probe does not work for Host header."
I noticed that httpHeaders were added to the httpGet probe in #20116 to fix #14713

Sadly the httpHeaders addition to the httpGet probe does function correctly for all headers *except* the `Host` header.  I think this must be to do with the way `net/http` make a special case of the Host header [for example](https://groups.google.com/forum/#!topic/golang-nuts/pvG-9DSkKaw) [and](https://golang.org/p

[2016-04-14 22:20] lavalamp commented on #24259
@johndmulhausen

[2016-04-14 22:22] mikedanese commented on #23013
Is 1.2.2 causing issues for people?

[2016-04-14 22:23] lavalamp commented on #24255
@saad-ali do people still need to format GCE PDs? Is that the problem here?

[2016-04-14 22:23] munnerz commented on #19765
I'm seeing this issue running kubectl 1.2.0 on a GKE cluster running 1.2.0. Port forwarding into a pod gives:

[code]

[2016-04-14 22:24] lavalamp commented on #24254
Not sure where this should go - one of @justinsb or @thockin should know.

[2016-04-14 22:25] sijnc commented on #24255
I'm using gcePD with PV and PVC and a Deployment on GKE and it works. I had an issue where I had to chown -R mysql:mysql ./mysql/ (/var/lib/mysql) because it was set to 501 staff, instead of mysql for some reason. Also I mount the gcePD in a regular Google cloud machine outside of Kubernetes and do the formatting manually before I attach to k8s.

[2016-04-14 22:27] lavalamp commented on #24285
This happened again and is continuing to block the merge queue. @spxtr can you make a bandaid that extends the timeout?

[2016-04-14 22:29] lavalamp commented on #24241
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-04-14 22:29] #24241 closed

[2016-04-14 22:38] lavalamp commented on #24229
IMO, you should really be keeping your config in a version control system. You want to store the objects before the cluster applies defaults; exporting from the cluster will include the cluster-applied defaults.

Definitely backing up etcd data is a **really good idea** (GKE does this for you!) but not for the purpose of exporting to a new cluster; all sorts of things (endpoints, node names, etc)

[2016-04-14 22:44] gmarek commented on #21267
cc @Random-Liu - you'll need to change performance data struct to use this.

[2016-04-14 22:50] spxtr commented on #24285
Done, but I need to stress that we need to know why the duration is climbing. I'm afraid in a few months I'll get another issue that says "kubernetes-test-go is timing out".

[2016-04-14 22:51] Random-Liu commented on #21267
@gmarek Thanks! and /sub

[2016-04-14 22:52] lavalamp commented on #24285
Thanks. Yes, we can leave this issue open until we figure it out.

[2016-04-14 22:54] saad-ali commented on #24255
No, volumes are [automatically formatted](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/gce_pd/gce_util.go#L93) if they are not already formated.

[2016-04-14 22:54] chrislovecnm opened #24290 "Cassandra on Kubernetes - Seed Provider / Snitch"
Custom Cassandra makes every Cassandra node in a ring a seed provider.  The provider calls the K8s API and gets every Cassandra endpoint in the pod.  This data should be a small percentage of the nodes, and is static data.

For example for node layout
node1 - 10.10.0.1
node2 - 10.10.0.2
node3 - 10.10.0.3
node4 - 10.10.0.4

A configurable amount of nodes should be returned.  If that number of nodes

[2016-04-14 22:55] chrislovecnm commented on #20961
So we do have a base problem with the way the custom seed provider works.  See https://github.com/kubernetes/kubernetes/issues/24290

It is making all of the Cassandra Nodes a seed.  Ugh.

[2016-04-14 22:56] lavalamp commented on #24285
@spxtr maybe another bandaid for our build? http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-build/9413/

[2016-04-14 22:56] lavalamp commented on #24285
Actually, it was taking 14-17 mins, so 30 minute timeout should hopefully be enough. hm.

[2016-04-14 22:58] chrislovecnm commented on #20961
@bgrant0607 and @amygdala we are running a really old version of C* ... Couple of ideas, how about using the https://hub.docker.com/_/cassandra/ docker.  Also the SeedProvider needs to be built against the correct version of source :smile:

[2016-04-14 22:59] spxtr commented on #24285
The build is the result of a PR going in that does affect the build. It had to download a new build image, maybe that's what took so long.

[2016-04-14 23:08] lavalamp commented on #24285
It looks like it's about to time out again.

[2016-04-14 23:08] chrislovecnm commented on #24030
That might remove the need of a Custom Seed provider, but it does not address the need of a Snitch.  I am leaning towards a discovery service pattern.  This would allow for more dynamic capability, with possibly Snitch capability for C* racks and multiple C* data centers.

That is sorta the pattern that Mesos use, the build the Seed list at startup and then start the C* thread programmatically.

I

[2016-04-14 23:08] yujuhong commented on #24276
What did you use to create these pods and how did they get rescheduled?

[2016-04-14 23:11] bgrant0607 commented on #10931
@vishh @dlorenc: cassandra is an example we should test on the local dev cluster

[2016-04-14 23:11] bprashanth commented on #24030
Honestly I haven't given the snitch that much though. What are its requirements? It needs to understand topology and which nodes are in which dc/rack etc right? Can we just write a custom kube-snitch that watches apiserver for endpoints? (relatively easy, I can help)

[2016-04-14 23:13] bgrant0607 commented on #20961
Thanks, @chrislovecnm. I created an area/example/cassandra label and applied it to issues I know about, including the one you just filed.

[2016-04-14 23:13] spxtr commented on #24285
Barely passed. The build got slower by a factor of two after #23931 went in. This was somewhat expected. I'll bump the timeout.

[2016-04-14 23:14] bgrant0607 commented on #24286
cc @kubernetes/examples

[2016-04-14 23:16] chrislovecnm commented on #20961
@bgrant0607 any opinion on running C* official docker??  I can file an issue.  Also I have a couple of other tweaks for the build as a stop gap.  We need to set the cassandra jar version.  It is building against an old version.

[2016-04-14 23:20] zmerlynn opened #24295 "1000 node cluster, 1 kube-proxy comes up with "open /sys/module/nf_conntrack/parameters/hashsize: read-only file system""
I just brought up a 1000 node cluster, and had one node with `kube-proxy` flapping in the following manner:

[code]

I compared this to a working `kube-proxy`, and it's clear that the `open /sys/module/nf_conntrack/parameters/hashsize: read-only file system` is obviously failing. `dmesg` is showing:

[code]

Could possibly be related to https://github.com/openshift/origin/issues/7977

Keeping it a

[2016-04-14 23:24] bgrant0607 commented on #21267
@thockin We own kube-system. Prefixes on labels are hostile to users. We should only use them when there is a real, compelling need to avoid conflicting with user-applied labels and/or to convey the stability level (alpha, beta, GA). I don't understand the motivation in this case.

Annotations are different. Annotations are primarily for machines. Labels are primarily for users.

[2016-04-14 23:25] lavalamp commented on #24285
We should exclude those platforms in our testing, maybe? We don't need ppc or arm binaries. Should we roll back #23931?

[2016-04-14 23:25] bgrant0607 commented on #21267
Are we going to depend on these specific label keys and values in tooling?

[2016-04-14 23:25] chrislovecnm commented on #24030
@bprashanth we are limited to single custer, without a rack capability at this point.  We have custom provider that watches the server endpoints.  See https://github.com/kubernetes/kubernetes/issues/24286

[2016-04-14 23:27] chrislovecnm commented on #20961
@bgrant0607 https://github.com/kubernetes/kubernetes/pull/24296  Oh please comment away :)

[2016-04-14 23:27] mikedanese commented on #21267
@bgrant0607 I believe @gmarek want's to use these labels to target kube components for both monitoring and e2e testing

[2016-04-14 23:27] pwittrock opened #24297 "Kubelet e2e test flakes against coreos"
Looks like it maybe the ssh connect is getting killed

[2016-04-14 23:28] pwittrock commented on #24297
#23667

[2016-04-14 23:29] pwittrock commented on #24297
[link](https://00e9e64bac5229ea6cdcb588d68d536a4836d718a73039969c-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F23667%2Fnode-pull-build-e2e-test%2F1428%2Fbuild-log.txt?qk=AD5uMEteibGz2qM2P7iC7cJ9mQ5HQjxTTK5iyVxjd4ZO9HOO5JMVwPhNfwx3UZ7woxBh6NDg7K5cJl9Em9O5-ckh_wHwIyVbu-V0R7YeCMOLAlHGLTIJNjce5e50S9ZoCkLZoWOnOrxIuot19GfVeaPedJYxGgvsKa0S1g18WlhG0CpgukShw4Mla

[2016-04-14 23:30] saad-ali commented on #24255
I wonder if  this is a permissions issue like @sijnc mentioned. Might be worth trying his suggestion.

Just for the sake of debugging could you `echo $MYSQL_ROOT_PASSWORD` to verify the environment variable is set correctly

[2016-04-14 23:32] bprashanth commented on #24030
Yeah it's pretty bad, that's why I explicitly called out

Setting all nodes as seeds

above :)

I think single cluster done *right* is a fine starting point. Of course the farther we get the better. Kubernetes is still figuring out cross cluster/AZ loadbalancing, we will be able to leverage what ever WAN   service discovery mechanism we settle on for that.

I haven't looked into those yet so I can

[2016-04-14 23:32] spxtr commented on #24285
I don't think we should roll it back. We want `kubernetes-build` to do a full release build, which now includes building for those architectures.

However, if the PR Jenkins e2e job starts timing out, then we should probably change it to do a quick-release instead of the full release.

[2016-04-14 23:33] mikedanese commented on #21367
This hasn't flaked in kubernetes-gce-e2e since we merged the timeout bump so lowering priority

[2016-04-14 23:34] spxtr commented on #24285
Dropped the priority now that the bleeding has stopped. I'll try to figure out why the test-go job got slower.

[2016-04-14 23:35] Random-Liu opened #24298 "Unit test flake: TestCheckVersionCompatibility() Expected value not to be nil"
The recently merged PR #21741 added a version cache in dockertools, which makes the test [`TestCheckVersionCompatibility`](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager_test.go#L1856-L1895) flaky.
[code]

The reason is that `TestCheckVersionCompatibility` injected error into fake_docker_client and then expected to see the error from `fake_docker_client.Versio

[2016-04-14 23:36] yujuhong commented on #24297
The relevant log snippet:
[code]

[2016-04-14 23:40] gouyang commented on #23973
I've  the same problem on Atomic host.

[code]

[2016-04-14 23:41] chrislovecnm commented on #24030
Yah lost me there.

[2016-04-14 23:46] lavalamp commented on #24265
Again.

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/6136/

https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/6136/

[2016-04-14 23:47] lavalamp commented on #24265
@davidopp to delegate

[2016-04-14 23:48] mikedanese commented on #12744
Can this be closed?

[2016-04-14 23:52] dchen1107 commented on #24215
cc/ @pmorie Can you take a look at this? Thanks!

[2016-04-14 23:53] #24203 closed

[2016-04-14 23:56] #23799 closed

[2016-04-14 23:56] davidopp commented on #12744
I think there are still a couple of things to do (though lower-priority / not for 1.3)
https://github.com/kubernetes/kubernetes/issues/12744#issuecomment-156877624
https://github.com/kubernetes/kubernetes/issues/12744#issuecomment-164372008

[2016-04-14 23:57] emaildanwilson opened #24300 "iptables proxy could prefer local containers"
Currently when kube-proxy sets up iptables rules it round robins requests for a specific service to all containers on all minion nodes in the cluster matching the selector for said service. This has many benefits to resiliency for the services and improved latency as described in issue #3760 .

A further improvement to this design would be to prioritize local containers over remote containers so r

[2016-04-14 23:58] bprashanth commented on #24030
I mean:
* Get a basic cassandra cluster working through petset (so not N Rcs and Services) without any admin fiddling. Of course this needs petset first for stable identities.
* Scale this cluster up/down safely (preferably without vnodes). This might require more custom c* code.
* Think about multi cluster. At this point we can consider targetting some kube resource from an autoscaler to say: dep

[2016-04-14 23:59] dchen1107 commented on #23954
@spxtr and @fejta thanks for the instructions. I will follow those instruction and kick out the second soaking cluster first. Thanks!

[2016-04-15 00:05] dchen1107 commented on #23954
@spxtr I noticed that we still have kubernetes-soak-continuous-e2e-gce-2 job running in our jenkins. Is there any difference between this one and kubernetes-soak-continuous-e2e-gce? Anyway I am going to add a new one dedicating to node team.

[2016-04-15 00:09] lavalamp commented on #24288
Sigh, letting you set Host was the entire point of providing that option.

[2016-04-15 00:12] chrislovecnm commented on #24030
@bprashanth without vnodes?  I have talked with multiple parties, and this may be an issue.  This is from teams running C* in production now.

And more C* code, let's try to not.

[2016-04-15 00:16] bprashanth commented on #24030
With vnodes is also a fine starting point. I'm willing to shave down the requirements for a V0 to as little as we can possibly get away with to have a fully functional c*.

Can you please sketch out how we would:
1. Allocate seeds
2. Get tokens
3. Scale up/down
4. Add a new cluster in another AZ

With vnodes, provided we have petset, when you have the time?

[2016-04-15 00:17] thockin commented on #24295
Why is /sys read-only?  What version of Docker is it?

try `docker ps | grep kube-proxy | cut -f1 -d' ' | xargs docker inspect`

[2016-04-15 00:23] sijnc commented on #24255
@saad-ali Glad to know about the FormatAndMount, will save some time... Would it be possible to also have Kubernetes run safely run resize2fs on a PD during FormatAndMount if the size has changed, or could that cause issues?

[2016-04-15 00:25] sijnc commented on #24255
@runseb If you want to discuss the issue your having hit me up on the kubernetes slack channel, same username.

[2016-04-15 00:27] zmerlynn commented on #24295
This is `v1.3.0-alpha.2.123+d800dca7f8d4a4`, docker 1.9.1. That `docker ps` only pulls up the `pause` pod, unfortunately (it's crashlooping fast).

And yes, that's our mystery, too. I'm trying to figure out if docker is screwing us on this node.

[2016-04-15 00:28] zmerlynn commented on #24295
Grabbing the exited container now, just remembered.

[2016-04-15 00:30] smarterclayton commented on #22888
I agree - this is why we're doing similar in OpenShift.  Admission on
running pods has an advantage in that it becomes the final arbiter.
Unfortunately it requires a tight coupling today (via admission) in
order to accomplish that.

[2016-04-15 00:30] zmerlynn commented on #24295
Here's one of them:

[code]

[2016-04-15 00:38] thockin commented on #24295
Cutting out unrelated stuff.

`docker run -ti --privileged --net=host busybox mount | grep ^sysfs`

On this machine: `sysfs on /sys type sysfs (ro,nosuid,nodev,noexec,relatime)`
On my own machine: `sysfs on /sys type sysfs (rw,nosuid,nodev,noexec,relatime)`

Both are docker 1.9.1, built Fri Nov 20 17:56:04 UTC 2015

Both are same kernel

?????

[2016-04-15 00:38] fejta commented on #23503
Made a best guess at assigning this flake with no owner for 2 weeks

[2016-04-15 00:38] thockin commented on #24295
I want to try a reboot or docker restart, but I am afraid it will fix the problem...

[2016-04-15 00:38] spxtr commented on #23954
There isn't a difference.

[2016-04-15 00:39] fejta commented on #23638
Made a best guess at assigning this flake with no owner for 2 weeks. Look like you may have fixed this @ihmccreery?

[2016-04-15 00:39] zmerlynn commented on #24295
Yeah, funny, we were trying similar experiments just now. :)

[2016-04-15 00:40] sjpotter opened #24305 "test's RestartAPIServer is docker specific for GCE"
[code]

now that I have the master components running within rkt, this fails for rktnetes.

any reccomendations on how to abstract this for rkt?

@yifan-gu @euank

[2016-04-15 00:40] thockin commented on #24295
https://github.com/docker/docker/issues/7101  ???

[2016-04-15 00:41] fejta commented on #23389
Made a best guess at assigning this flake with no owner for 2 weeks

[2016-04-15 00:41] fejta commented on #23321
Made a best guess at assigning this flake with no owner for 2 weeks

[2016-04-15 00:41] fejta commented on #23433
Made a best guess at assigning this flake with no owner for 2 weeks

[2016-04-15 00:42] fejta commented on #23682
Made a best guess at assigning this flake with no owner for 2 weeks

[2016-04-15 00:43] fejta commented on #20836
(the pkg/api tests don't actually talk to anything as they are unit tests)

[2016-04-15 00:44] Random-Liu commented on #23772
Close this one because the link is broken.

[2016-04-15 00:44] fejta commented on #13288
I'm going to call this close enough to done for the time being

[2016-04-15 00:44] thockin commented on #24295
Perhaps we need to add this as part of a node test suite?  @dchen1107 @yujuhong

[2016-04-15 00:44] dbbernstein opened #24306 "HTTP liveness probe always fails with "connection refused" even though URL works without it"
[code]

I have a pretty simple and ordinary configuration: a service and replication controller each for a database and a tier of load-balanced external web servers. I can bring it up fine without any liveness or readiness checks, having tried both one and two replicas for the web tier. I tried adding liveness and readiness probes and they both repeatedly fail with "connection refused" with the we

[2016-04-15 00:50] saad-ali commented on #24255
Supporting automatic resizing is something we've considered. The design needs to be thought through--what are the triggers, how does it interact with PV/PVC objects, what edge cases to watch out for, etc. Definitely something we should support, but lower on the priority list at the moment.

[2016-04-15 00:51] yifan-gu commented on #24305
@sjpotter We need to:
1. Grep the rkt uuid of the pod
2. systemctl stop/kill k8s_${rkt_uuid}.service

[2016-04-15 00:54] zmerlynn commented on #24295
Pinged the Docker bug. Yes, it might be valuable if the `docker-checker` could check this .. I was able to kill Docker and everything came back clean.

[2016-04-15 00:56] nikhiljindal opened #24309 "Support both "type":"any" and "type":"object" in kubectl validation"
We used to generate our swagger spec with "type":"any" for any type that wasnt supported in swagger (for ex: maps).

It was later pointed out that "type":"object" is the correct representation: https://github.com/kubernetes/kubernetes/issues/4700#issuecomment-194719759.

We have now moved to using "type":"object" in our swagger spec (which will be part of release 1.3), but for kubectl to work with

[2016-04-15 00:59] chrislovecnm commented on #24030
1. Allocate seeds - have issue open already.
2. <s>Get tokens</s> - don't do that with vnodes.
3. Scale up/down - Scale up is working, scale down requires a trigger to drain and wait for the node to shutdown.  Run `nodetool decommission ( -h | --host ) <host name> | <ip address>` upon reducing the size of the cluster.  This is a looonnnnggg running process.
4. Add a new cluster in another AZ - thi

[2016-04-15 01:01] bprashanth opened #24310 "verify-api-reference-docs fails trying to contact github"
I modified update-api-reference docs to contain a new group (maybe there's some other way to gen api docs for a new group?):
https://github.com/kubernetes/kubernetes/blob/master/hack/update-api-reference-docs.sh#L43

It's obviously not going to find anything because I just added the group.

[code]

[2016-04-15 01:06] yujuhong commented on #23397
By the way, this should was already fixed by https://github.com/docker/docker/pull/21751

[2016-04-15 01:15] yujuhong commented on #24295
If you mean the node e2e suite, yes, we can add checks to see if the mounts are correct in a  privileged container.
In this particular, it's a one in a thousand flake, so we may not be able to catch it reliably.

This requires a different type of check that performs docker write operations (e.g., creating dockers containers periodically). We talked about it briefly before v1.2, but didn't have tim

[2016-04-15 01:30] bprashanth opened #24312 "Better one stop update-all script"
Todays update-all script has a few cryptic, frustrating failure modes.
A `update-all --group foo --resource bar --clobber --fail-fast` script would be helpful.

Here are a few things I ran into, lots of moving parts when adding a new apigroup so some of this might be user error:
1. Need to update a couple of imports in cmd/libs, failing to do so will just silently not give you the right autogen fi

[2016-04-15 01:33] sjpotter commented on #24305
Yea, we can hack it in, but that wont be anything we can commit, need to figure out how to have the tests differentiate between rkt and docker

[2016-04-15 01:34] bprashanth commented on #24082
That should really be upto the team that handles --fail-fast.
To being with, set this
https://github.com/kubernetes/kubernetes/blob/master/pkg/util/runtime/runtime.go#L26

Make these infinite
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replication/replication_controller.go#L47
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replication/replication_contro

[2016-04-15 01:36] david-mcmahon commented on #24285
@luxas this is a fairly significant increase in build and release times with #23931.  Is there anything we can do to mitigate the increase?  I see many packages downloaded during the build.  Are we maybe downloading more than we need to? Can we cache anything somehow/somewhere?  Can we parallelize package updating and/or building?

[2016-04-15 01:38] euank commented on #24305
Make a helper for IsContainerRuntime, use the `ContainerRuntimeVersion` from `describe node`, and check the scheme (e.g.g `rkt://` or `docker://` I think).

You can then vary the command appropriately for that node.

That's my guess for an okay way to do this anyways. However, the fact that we have a `ContainerRuntimeVersion` field in `NodeSystemInfo`, and not a `ContainerRuntime` makes me think t

[2016-04-15 01:41] Random-Liu commented on #23361
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21224/kubernetes-pull-test-unit-integration/21376/

[2016-04-15 01:47] janetkuo commented on #24159
@ihmccreery it depends on which release branch of guestbook tutorial they read - v1.2 guestbook contains deployment yaml files which v1.1 (and earlier) guestbook contains replication controller yaml files.

[2016-04-15 02:10] janetkuo commented on #24198
@JeanMertz thanks for reporting this. It's because `spec.strategy.rollingUpdate` is added by default when you create this resource (deployment & its replica set) and apply didn't remove it when you apply the change. This sounds like a bug in `kubectl apply`.

A workaround for this case it to use `kubectl edit` to update the `strategy`.

@kubernetes/sig-config @kubernetes/kubectl

[2016-04-15 02:29] mqliang commented on #24199
Thanks for your pointer. Close this.

[2016-04-15 02:29] HaiyangDING commented on #12744
[Comment below is NOT a suggestion for something to implement as part of this issue. But it seemed better to put it here than to create a new issue.]

Related to this, we should also standardize the selection criteria that are applied before a node is even considered by the predicate functions (for example, avoiding nodes with NodeReady==ConditionFalse and nodes marked unschedulable). This doesn't

[2016-04-15 02:32] HaiyangDING commented on #12744
@davidopp

I will work on splitting the library into eviction/non-eviction categories.

[2016-04-15 02:41] thockin commented on #24295
Are we going to have a docker health checker on nodes?  This could be one
of the health probes, restarting docker if it fails...
On Apr 14, 2016 6:16 PM, "Yu-Ju Hong" <notifications@github.com> wrote:

[2016-04-15 02:54] k82cn opened #24314 "Updated example to use non-default namespace"
During the review of #23537, it's better to also update `openshift` and `k8s-pet-store` to use non-default namespace.

cc @eparis .

[2016-04-15 02:58] bprashanth commented on #24312
The apigroup in question https://github.com/kubernetes/kubernetes/pull/24315

[2016-04-15 03:09] maisem opened #24316 "SSH dialer should log an error if it fails to dial"
Right now the apiserver just logs "Dialing..." followed by "Dialed in [X time]" regardless of a success or failure.
It should probably say that it failed to dial as well as output the error.

https://github.com/kubernetes/kubernetes/blob/master/pkg/ssh/ssh.go#L388

[2016-04-15 03:09] pikeas commented on #24229
If storing config in VCS is best practices, this should be documented, and probably emphasized.

I'll go further and propose that Kubernetes should do this for me - the master receives all API calls to add high-level resources, it seems in-scope for Kubernetes to automatically log configuration changes to an attached volume / log file for playback / VCS / etc. It's like a database server that does

[2016-04-15 03:10] bprashanth commented on #24310
So it wasn't just my env since travis is also trying the same thing on https://github.com/kubernetes/kubernetes/pull/24315 (https://travis-ci.org/kubernetes/kubernetes/builds/123232429)

@nikhiljindal maybe?

[2016-04-15 03:20] yifan-gu commented on #24305
cc @kubernetes/sig-testing @kubernetes/sig-node for ideas about how to differentiate the runtime during tests.

[2016-04-15 03:55] thockin commented on #1615
I think most users don't want to think about it :)

On Wed, Apr 13, 2016 at 9:37 AM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-04-15 03:58] thockin commented on #24093
I don't think Kubernetes is in the business of producing such a registry.
If such software exists, I would have no trouble enabling it as an add-on.

On Tue, Apr 12, 2016 at 2:38 PM, Brian Grant <notifications@github.com>
wrote:

[2016-04-15 04:59] saad-ali opened #24317 "Handle increased limit of attached GCE PDs"
The kubernetes scheduler [prevents scheduling](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/predicates/predicates.go#L233) of [more than 16 ](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithmprovider/defaults/defaults.go#L36) Google Compute Engine (GCE)/Google Container Engine (GKE)  PersistentDisks (PDs) to the same node (a

[2016-04-15 05:28] resouer opened #24318 "Termination message guide does not work"
I followed this guide http://kubernetes.io/docs/user-guide/production-pods/#termination-message, and test it against 1.2.2 release.

`.lastState.terminated.message` returns `<no value>`

I can see that `lastState` has no `message` filed:
[code]

I can confirm that `/dev/termination-log` is created and mounted.

btw, I did not look into where `lastState` is set in kubelet, for now I consider this i

[2016-04-15 05:33] davidopp commented on #12744
This is not important right now since we don't do evictions yet. It would be better if you can help @jiangyaoguo with /evict subresource, as that is higher-priority and probably will require iteration on the implementation that could take some time.

[2016-04-15 05:45] oscarzhao opened #24319 "Client API (golang) always gets the default cluster config when authenticating with secured APIServer with BearerToken"
# Description
No matter what APIServer secure address is (https://<server>:<port>) , Apiserver host  I got is default (http:localhost:8080). The Kubernetes Version is v1.2.2.

## Evidence One
In the code following, ```cfg.Host``` is always ```http://localhost:8080```.
[code]
## Evidence Two
Under directory ```$GOPATH/src/github.com/kubernetes/kubernetes/pkg/client/unversioned/clientcmd```, run ```

[2016-04-15 05:55] oscarzhao commented on #24319
I thought I'v found out the reason, the library ```github.com/imdario/mergo``` has changed since version ```0.1.3-8-g6633656```,
[code]

go dependency is really boring

[2016-04-15 06:00] #24319 closed

[2016-04-15 06:03] resouer commented on #24298
Oh no, did not see this data race in my local.

I once considered move this cache to runtime level, while thus may need to change runtime interface.
What if only cache apiversion?

[2016-04-15 06:05] #20478 closed

[2016-04-15 06:05] #17971 closed

[2016-04-15 06:36] wojtek-t opened #24320 "Load test failed in large cluster"
I've found the following failure of load test:

scaling rc load-test-small-rc-821 for the first time
  Expected error:
      <*errors.errorString | 0xc83e461430>: {
          s: "error while scaling RC load-test-small-rc-821 to 2 replicas: the server has received too many requests and has asked us to try again later (get replicationControllers load-test-small-rc-821)",
      }
      error while sc

[2016-04-15 06:40] luxas commented on #24285
The problem is not all the things that get downloaded into `kube-cross`, that's just one time.
It's the building time that's a small problem. Since `go1.5+` building may get ~2x slower, and now we've both upgraded to `go1.6` and added more server platforms, so the increase in build time is expected. Sorry for not notifying you in beforehand though.

Steps we could take to decrease the time:
 - Mov

[2016-04-15 06:41] Random-Liu commented on #24298
@resouer We can only get `apiversion` via `client.Version`, so there will still be the data race. :)

One option is to update the version in `Status()`, now kubelet periodically call `Status()` to check the runtime status.

[2016-04-15 06:42] harryge00 commented on #15925
@yujuhong The problem is that the pod cannot pull the image, it seems like a wrong docker layer is cached somehow. I deleted related images and the pod can pull successfully.

[2016-04-15 06:46] luxas commented on #24285
@spxtr We should do a full build on every CI run for all arches, so we may detect regressions in the code

[2016-04-15 06:48] spxtr commented on #24285
Whoops, I meant to make a PR to do that a while ago. cc @caesarxuchao

[2016-04-15 06:58] caesarxuchao commented on #24285
@spxtr thanks for letting me know. Do you want me to send the PR or will you?

[2016-04-15 07:00] Random-Liu commented on #24318
Thanks for reporting! :)
See https://github.com/kubernetes/kubernetes/issues/23639
The fix has been merged recently: https://github.com/kubernetes/kubernetes/pull/23658
And there is a pending PR to add a node e2e test for this: https://github.com/kubernetes/kubernetes/pull/23969

[2016-04-15 07:19] davidopp opened #24321 "Implement /evict subresource for pod"
Apparently we never filed an issue for this.

Client sends a DELETE for the pod's /evict subresource. This would delete the pod (if it is allowed by the DisruptionBudget; see #22774 for a discussion of how the DisruptionBudget part would work). Subresources are "virtual" resources (other examples: /binding and /scale)

Additional discussion and context in #22217.

cc/ @mml @bgrant0607 @jiangyaoguo

[2016-04-15 07:22] resouer commented on #24318
Thanks, confirmed this has been fixed on lasted master branch. Close this.

[2016-04-15 07:22] #24318 closed

[2016-04-15 07:23] njuicsgz opened #24322 "kube-proxy iptables: service will fail with fixed probability if one of endpoints unreachable"
I am not sure this is a design issue or not, but it puzzled me a lot.

I found my service fails with fixed probability if one of endpoints unreachable when use kube-proxy with iptables mode.

It is a critical problem that client's real requests will be refused when
1) my service is down while container is running ok, before next readiness time interval come if I have readiness probe
2) I am doing

[2016-04-15 07:26] bgrant0607 commented on #21267
@mikedanese @gmarek When adding dependencies on specific labels, please document that, since I suspect some breakages may not be immediately obvious in the case that someone were to change the labels.

[2016-04-15 07:29] runseb commented on #24255
@sijnc if you check the URL of the example I mention, they don't use PV or PVC.

@saad-ali the MYSQL_ROOT_PASSWORD is properly set in the environment and the volume has the proper mysql/mysql permissions.

That's why I am filing the bug :) I am out of ideas...

[2016-04-15 07:57] HaiyangDING commented on #12744
OK.

[2016-04-15 08:09] fgrzadkowski commented on #23361
@mwielgus Can you please look into this? This is a P0 bug so it's pretty important :)

[2016-04-15 08:31] boynux commented on #24322
Would you please let us know how is your Kubernetes cluster setup?

[2016-04-15 08:36] resouer commented on #24298
@Random-Liu OK, well look into this tonight

[2016-04-15 08:38] njuicsgz commented on #24322
@boynux
I installed k8s on AWS by official auto script, however, I think there is no difference with the env setup manually on AWS.

[2016-04-15 09:33] wojtek-t commented on #24265
To clarify - this is more "cluster failed to start" than "scalability failure". We didn't even start tests in those runs.

[2016-04-15 09:35] mwielgus commented on #23361
Sure, sorry for the delay.

[2016-04-15 09:39] davidopp commented on #24246
@wojtek-t I haven't thought carefully about it, but that approach seems reasonable (assuming you think the speedup justifies the extra complexity). BTW CalculateInterPodAffinityPriority() in
https://github.com/kubernetes/kubernetes/pull/22985/files
has the same issue (that PR is still in review).

[2016-04-15 09:40] wojtek-t opened #24325 "e2e flake: Preparation for creating a cluster are ridiculously long (45+ minutes)"
In this example:
http://kubekins.dls.corp.google.com/view/Scalability/job/kubernetes-kubemark-5-gce/1469/consoleFull

It took 45 minutes before we even started creating a cluster. Few log lines:

    00:17:08 Started by timer
    00:17:08 Started by timer
    00:17:08 Started by timer
    00:17:08 Started by timer
    00:17:08 Started by upstream project "kubernetes-build" build number 9424
    ..

[2016-04-15 09:41] wojtek-t commented on #24325
I guess it may be related to overloading of Jenkins - if so we need to really prioritize it.

[2016-04-15 09:45] wojtek-t commented on #24246
@davidopp - thanks

(assuming you think the speedup justifies the extra complexity).

I wouldn't call it just "extra complexity".
It will definitely complicate the framework, but at the same time, I would say it will simplify the individual priority functions. If so, then I think it's a gain from productivity performance too, because we should very rarely touch framework itself, but we may want to

[2016-04-15 09:50] anzhsoft opened #24326 "How to use the cluster addons?"
I cannot find any useful info in the homepage,  the right practice is to prepare the yaml files under /etc/kubernetes/addons?
[kubernetes]# ls /etc/kubernetes/addons/
grafana-service.yaml  heapster-controller.yaml  heapster-service.yaml  influxdb-grafana-controller.yaml  influxdb-service.yaml

However, i prepared these files, and cannot find the expected things happen.

any reply will be very appr

[2016-04-15 09:55] koubas commented on #19332
I had the same problem, deleting the token helped, but it took me days before I found this thread.
Can someone please explain why the token stops working?

I'm using hyperkube locally for development. I sometimes restart that computer and when investigating that DNS problems I've even manually removed all running docker containers and started hyperkube again (leaving the content of /var/lib/kubele

[2016-04-15 09:55] Pendoragon commented on #24086
Good to know! Thanks!

[2016-04-15 09:59] kayrus commented on #19332
@koubas do you use flannel and coreos?

[2016-04-15 10:03] hanikesn commented on #22609
What happens if one of them crashes/machines goes down? The `kubernetes` service endpoint would not be usable as 50% of the requests would fail.

[2016-04-15 10:04] zjmchn commented on #18990
@derekwaynecarr I create PR #24324 for this
The 'vagrant halt; ./cluster/kube-up.sh' cannot work because:
1. etcd for flannel cannot start in boot after a 'vagrant halt' ( issue #23187 also mentioned it ).
When systemd starts etcd, the required network interface may be not ready, and frequently restarts will fail the service. I add RestartSec=10 in the etcd service definition. The systemd will wai

[2016-04-15 10:06] hanikesn opened #24327 "[DOC] --apiserver-count is not documented on http://kubernetes.io/docs/admin/high-availability/"
See titel, it is essential to set `--apiserver-count` otherwise the individual apiservers will fight to set the `kubernetes` service ip.

[2016-04-15 10:07] koubas commented on #19332
@kayrus no, just single host setup on my ubuntu laptop as described here: http://kubernetes.io/docs/getting-started-guides/docker/

[2016-04-15 10:48] hongchaodeng commented on #24246
SGTM.
I like the fact that it will achieve some parallelization while simplifying individual implementation.

[2016-04-15 11:01] soltysh commented on #24132
@wojtek-t @lavalamp thx!

[2016-04-15 11:18] timbunce opened #24328 "Using --sort-by="..." to sort by a timestamp field yields "unsortable type: struct" exception"
I'd like to be able to sort by a timestamp, e.g. `kubectl get rs --sort-by=metadata.creationTimestamp`
but that fails with an exception:
[code]
I appreciate that the root of the problem is probably outside of kubernetes, yet I hope you'd agree that sorting by a timestamp is very useful functionality.

[2016-04-15 11:51] fgrzadkowski commented on #24125
@gmarek That's a flake in node controller. Can you please take a look?

[2016-04-15 11:53] mattf commented on #17231
@drocsid he means all the dependencies and their dependencies. if you'd like to tackle shrinking the spark image, please open an issue for it. we've done some work on this and you can use the example investigation above to help improve image sizes.

[2016-04-15 12:53] gmarek commented on #24125
I believe that what @smarterclayton wrote is right. We just need to inject 'now' function in test.

@timothysc - can @jayunit100 work on it, or should I?

[2016-04-15 13:01] maciaszczykm commented on #22687
Last week me, @floreks, @bryk and @olekzabl have had meeting regarding categorizing resources, that we want to display in Dashboard. We've prepared a list of resources (and their members) exposed by Kubernetes API:

`Namespace, pod, node, replica set, replication controller, job, deployment, daemon set, pet set, service, ingress, persistent volume claim, volume, persistent volume, resource quota,

[2016-04-15 13:53] srcspider commented on #23497
Workaround are not the correct way to go about it, **this illogical change needs to be reverted.**

An image when starting will potentially configure itself and there's plenty of cases where you would want to update to the SAME EXACT IMAGE to force everything to re-configure itself to some updated settings or environment changes. It's also a good way to extremely quickly temporarily fix some once-

[2016-04-15 14:03] smarterclayton commented on #22623
1 pod = 1 container is a dramatic shift, so it's worth diving in what
sharing is important.  Network and volumes are critical for sharing.
Everything else is just nice to have.  Can Windows handle 1 IP for multiple
containers?  Can it handle volume sharing?

On Apr 14, 2016, at 11:08 AM, Cesar Wong <notifications@github.com> wrote:

Early prototype: csrwng@e755508
<https://github.com/csrwng/kubern

[2016-04-15 14:09] JorritSalverda opened #24330 "Deployment with recreate strategy does not remove old replica set"
I want to replace an application by running a new deployment. The image tag however does not change, although the image itself might have (that's the reason for the image pull policy always). For that reason I've added an extra label that changes on every deployment.

[code]

When applying this the deployment is accepted and a new replica set is created. However the old replica set stays alive as

[2016-04-15 14:10] wattsteve commented on #24317
Agreed. @jeremyeder in Red Hat performance engineering brought up a similar request as he's keen to explore the boundaries and behaviors when increasing the number of attached disks to a cloud instance.

[2016-04-15 14:14] smarterclayton commented on #24125
I haven't had a chance in the past week to come back to this, don't think
I'll get to it before Monday at best.

On Apr 15, 2016, at 8:54 AM, Marek Grabowski <notifications@github.com>
wrote:

I believe that what @smarterclayton <https://github.com/smarterclayton>
wrote is right. We just need to inject 'now' function in test.

@timothysc <https://github.com/timothysc> - can @jayunit100
<https://gi

[2016-04-15 14:28] thockin commented on #24295
Why did you close this?
On Apr 14, 2016 9:28 PM, "Lantao Liu" <notifications@github.com> wrote:

[2016-04-15 14:28] csrwng commented on #22623
no (at least as of today). Actually the container IP is not yet surfaced through the Docker API, but I suspect that's just

yes

We're going to find out more next week as we talk to Microsoft and understand what will eventually be possible vs never possible.

[2016-04-15 14:35] fejta commented on #24325
Assigning over to infra oncall.

Actually I suspect the most likely problem is that we're exceeding our IOPs, network and/or some other throttle. I'm going to see if there is a way we can figure this out.

[2016-04-15 14:41] zhouhaibing089 commented on #23497
@srcspider I basically agree and understand your point. but considering the integrity(rolling update and rollback), rollback would be impossible if it is permitted to use the same tagged image, that's the only concern that I am aware of.

please correct me if I am thinking wrong.

[2016-04-15 14:48] gmarek commented on #24125
I also won't have time before next week, and even that it's probably the second half of it.

[2016-04-15 14:49] zhouhaibing089 commented on #24330
I am guessing it is because you are using different selectors?

[2016-04-15 14:53] JorritSalverda commented on #24330
Is there another way to force deployment when the image tag remains the same? I started out without the selector and just the app label, but that didn't do anything at all.

[2016-04-15 14:59] zhouhaibing089 commented on #24330
If you are keep everything as it is and just change the strategy to be `Recreate`, then you may meet this issue: https://github.com/kubernetes/kubernetes/issues/24198 do you?

[2016-04-15 15:00] iamthemuffinman commented on #24326
Yeah, the correct way to do it is to put them under ```/etc/kubernetes/addons```. Although, it's hard to debug without any more information. Have you checked logs using ```kubectl```? Or checked the logs under ```/var/log/containers```?

[2016-04-15 15:02] thockin commented on #24322
This is a limitation of the VIP implementation in iptables.  There isn't a
userspace hook - the tradeoff is performance and transparency.  The idea is
that your readiness probes are fast enough to handle failures.  The only
other answer I see is a "real" proxy, which is significantly more expensive.
On Apr 15, 2016 12:24 AM, "Gao Zheng" <notifications@github.com> wrote:

[2016-04-15 15:03] JorritSalverda commented on #24330
No, I hit that before but worked my way around by deleting deployment, rs and starting a fresh deployment.

This issue however happens since that moment.

[2016-04-15 15:05] andrewmichaelsmith commented on #24252
@yujuhong Can confirm that --grace-period=0 will remove the "Terminating" pod. This is useful, thanks.

A retry counter sounds like a good solution to me.

I had 5 stuck terminating pods today but all appeared in `docker ps -a` I will update if/when I see it again (I'm fairly confident I did see it, but happy to provide logs).

[2016-04-15 15:10] zhouhaibing089 commented on #24328
Agree with sorting by timestamp..

Just make it clear, `creationTimestamp` is of type:

[code]

while only those types are allowed to be sorted:

[code]

[2016-04-15 15:11] roman-shuhov commented on #24276
I have 2 deployment objects, each with 8 pods. Nodes went down because of a lot OOM errors, as  i see from documentation of the killed containers can be pricey.

I can send you more details in private messages...

[2016-04-15 15:12] jsafrane commented on #24317
I  think that some form of `NewMaxPDVolumeCountPredicate` is necessary to prevent scheduler from assigning all pods that have volumes to a single node. We want some logic that scatters them among more nodes. I agree, current `NewMaxPDVolumeCountPredicate` is imperfect and additional check should be in kubelet.

The right way would be probably to add a field to Node.Spec about max. nr. of volumes s

[2016-04-15 15:18] zhouhaibing089 commented on #24326
@anzhsoft is the service `kube-addmons` running.

[2016-04-15 15:23] innovia commented on #24249
Im having the same issue, after being forced to delete all the nodes (would not unmount EBS) when nodes were recreated with labels, and since then it fails for me too on connection timeout

the pod itself listen to 2049 and 111

[2016-04-15 15:28] bnadim commented on #13299
I am running a cluster on kubernetes 1.2.1 through google container engine and this isn't fixed

[2016-04-15 15:30] k82 opened #24332 "[k8sm] Can not delete auto generated ReplicaSet"
## Version:

Kubernetes: master (1.3)
Mesos: master (mesos 0.29.0)

## Steps

1. Create ReplicaSet & Pods:
[code]
2. Delete ReplicaSet

[code]

3. Check the Pod, the ReplicaSet is still here

[code]

[2016-04-15 15:35] bnadim commented on #13299
I sent you by email our iptables-save content

[2016-04-15 15:39] smarterclayton commented on #22623
I would even say volume sharing is the key differentiator for multiple
containers.  I'd be extremely hesitant to consider a 1 pod = 1 container
approach for Windows unless we're saying containers on windows
fundamentally can never approach that.

On Fri, Apr 15, 2016 at 10:28 AM, Cesar Wong <notifications@github.com>
wrote:

[2016-04-15 15:43] timothysc commented on #22212
2 comments then:
1. We should probably change label from P1->P3.
2. Wouldn't rescheduling would also need to be de-prioritized from 1.3 ?

[2016-04-15 15:44] bnadim commented on #13299
Ok, my bad i made some additional test today and it seems to work properly. In days to come i will make more test and confirm that it's now working with kubernetes 1.2 or not.

Thank you

[2016-04-15 15:55] antoineco opened #24333 "[AWS] Node can not register after a drain"
(Kubernetes 1.2.2)

A node that was previously registered in my cluster can not re-register after a `drain`. When `kubelet` starts I see the node coming online ("NotReady" state), and immediately being de-registered.

`kube controller-manager` logs

[code]

`kubelet` logs

[code]

Could be an AWS issue, but this node is using the same IAM role as the rest of the nodes and has been running for over

[2016-04-15 16:03] bprashanth opened #24334 "Support cockroach db in PetSet"
https://github.com/cockroachdb/cockroach/issues/5967#issuecomment-210048164

[2016-04-15 16:05] chrisleck commented on #23013
1.2.2 seems to be stable for me - my DaemonSets are still running pods on each node after a few days.

[2016-04-15 16:09] antoineco commented on #24333
Note about the ECR-related warning: when the incident happened my IAM role did not include the content of [this diff](https://github.com/kubernetes/kubernetes/commit/bc0dd97a705cd337dcc5ada9d09add6b31ccf96e#diff-04225157bd8090fee85ad2a527c5ab12). However I tried starting a new node without it, and this node registered properly.

[2016-04-15 16:13] roman-shuhov commented on #24276
I saw a lot of errors such as

API error (500): Cannot start container 30a5f1ccb9590669560f80f5f84f3b6c34d0565b84fde936961073f0bbad7b5b: [8] System error: open /sys/fs/cgroup/cpu,cpuacct/system.slice/docker-30a5f1ccb9590669560f80f5f84f3b6c34d0565b84fde936961073f0bbad7b5b.scope/cpu.cfs_quota_us: no such file or directory

[2016-04-15 16:24] derekwaynecarr opened #24335 "ConfigMapList JSON serialization is wrong with empty list"
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L2855

It should not have omitempty.

/cc @jwforres

[2016-04-15 16:50] Random-Liu commented on #24295
? I didn't do that???

[2016-04-15 16:51] Random-Liu commented on #24295
Maybe misclick... Sorry about that... :(
Reopen it.

[2016-04-15 16:58] bprashanth commented on #24030
So from a quick look at the seed provider, I have a couple of questions. Looks like we're using endpoint ips https://github.com/chrislovecnm/kubernetes/blob/cassandra-seed-provider-docs/examples/cassandra/java/src/io/k8s/cassandra/KubernetesSeedProvider.java#L149 :
* What happens If the Service just doensn't have endpoints populated yet? (most people put the service def in the same file as the RC

[2016-04-15 17:00] spxtr commented on #24285
I think we definitely want to build test targets for at least darwin, since plenty of people develop on a mac. It might be worth dropping tests for arm and windows.

[2016-04-15 17:11] mml commented on #24297
And another one, not just coreos.  https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/23689/node-pull-build-e2e-test/1691/build-log.txt

[2016-04-15 17:30] yujuhong commented on #24276
Killing containers are pricey.. but not this pricey. In our e2e tests, we kill 100 pods on one node every build.

Could you elaborate more on how a node behaves when it's considered "down"? Was kubelet still posting the node status or did it record any event explaining why (i.e., `kubectl describe node <node_name>`)?
The output of this command should also help us know the version of kubelet and do

[2016-04-15 17:31] fejta opened #24340 "verify-godeps.sh fails at head"
http://submit-queue.k8s.io/#/e2e

[code]

[2016-04-15 17:33] madhusudancs commented on #24207
It looks like test etcd cluster did not start correctly just for this one test. I looked at that code and am not sure what I can do to fix it. Not even sure what caused the cluster startup failure. Also, this test does what 100s of tests do, it does not do anything special while setting up the test cluster. So, I am closing this issue for now. If you see these flakes again, please reopen the issue

[2016-04-15 17:37] mikedanese commented on #24340
this is fixed by https://github.com/kubernetes/kubernetes/pull/24336

waiting for ci to pass

[2016-04-15 17:39] chrislovecnm commented on #24030
Appreciate the feedback.  I have an issue open here: https://github.com/kubernetes/kubernetes/issues/24286

Can we continue the conversation there?

[2016-04-15 17:40] ihmccreery commented on #23638
I think I opened this issue wrong.  http://pr-test.k8s.io/23097/kubernetes-pull-build-test-e2e-gce/32863/ is actually https://github.com/kubernetes/kubernetes/issues/23389.

[2016-04-15 17:40] #23638 closed

[2016-04-15 17:40] spxtr commented on #24267
I don't think the unit/integration job should have gotten slower with the build, since it only builds for linux/amd64.

[2016-04-15 17:41] ihmccreery commented on #23389
Another example, I believe: http://pr-test.k8s.io/23097/kubernetes-pull-build-test-e2e-gce/32863/.

[2016-04-15 17:41] spxtr commented on #24325
It is due to overloaded Jenkins. Sometimes when we're busy untarring kubernetes takes over ten minutes.

We're working on turning up more Jenkins machines and spreading the load.

[2016-04-15 17:43] #24340 closed

[2016-04-15 17:45] pwittrock opened #24341 "Kubelet test flaky failure - expected only one container in the pod \"bin-false\""
[build logs](https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24197/node-pull-build-e2e-test/1700)

04:51:35 • Failure [60.001 seconds]
04:51:35 Kubelet Container Manager
04:51:35 /var/lib/jenkins/workspace/node-pull-build-e2e-test/go/src/k8s.io/kubernetes/test/e2e_node/container_manager_test.go:92
04:51:35   oom score adjusting
04:51:35   /var/lib/jenkins/workspace

[2016-04-15 17:52] roman-shuhov commented on #24276
here is some details - https://gist.github.com/roman-shuhov/dae32f27d85b1596bdc520ec7e53fd3a
here is Deployment which caused this - https://gist.github.com/roman-shuhov/cb6046795b3e2389b4420b86af5390de

[2016-04-15 17:53] microadam commented on #23920
@thockin Thanks for confirming. Could I ask what setup your test cluster is please? (networking type, cloud provider, host OS etc).

[2016-04-15 17:55] yujuhong commented on #24295
We talked about having an API so that kubelet can aggregate various issues from independent health checkers on the machines and surface the information. This *could* include a docker (or any container runtime) health checker. Now that I think about it, restarting/fixing the problem may not be part of the original scope. @dchen1107 had stronger opinions on this though.

[2016-04-15 17:57] fiorix commented on #19854
While playing with a 3 node cluster I misconfigured one my nodes CIDR using kubectl patch, and now I cannot change it back. What to do now?

[2016-04-15 18:00] erictune commented on #22888
Summarizing conversation so far in my own words:

- Want a whitelist/blacklist of known registries.
- Want rkt trust / docker content trust for any registries used.   Does not provide user/namespace granularity, so can't be only solution/
- Important that images have trusted base (`FROM` in Dockerfile).  Transitive check needed.
- While you could have a trusted build process that is the only thing

[2016-04-15 18:00] chrislovecnm commented on #24286
From @bgrant0607 - thoughts?

That is correct!

It looks like the provider will drop back to the
`- seeds:  "110.82.155.0,110.82.155.3"`

In `cassandra.yaml`.
But the default value is 127.0.0.1.  More testing needs to occur.

This provider needs to be tweaked to only provide 2 or some number of active seeds.

So a couple of things:
- We need 2-3 nodes for redundancy
- Picking the same nodes all th

[2016-04-15 18:05] chrislovecnm commented on #24030
@bprashanth I upated https://github.com/kubernetes/kubernetes/issues/24286 with your questions

[2016-04-15 18:19] bprashanth commented on #24286
so say you want 2 seeds.

The first node comes up, updates the config map with the output of hostname (no endpoint watching or IPs).
config map=[c1.default.cluster.local]
config file on disk for c1: seeds [c1]

Second node comes up, gets the config map, sees it's the second node and appends to the list:
config map=[c1, c2]
config file on disk for c1: [c1, c2]
config file on disk for c2: [c1, c2]

[2016-04-15 18:20] binarybana commented on #23607
We just saw this in 1.2.2 using Docker 1.10.3.

[2016-04-15 18:21] chrislovecnm commented on #24286
Also openned https://issues.apache.org/jira/browse/CASSANDRA-11585 requesting assistance, and contacted a couple of gurus.

[2016-04-15 18:22] chrislovecnm commented on #22307
@andrejvanderzee any progress?

[2016-04-15 18:23] bgrant0607 opened #24343 "Figure out how to handle code in multiple repos"
A large monorepo works for Google, but not on github.

We hit the ceiling of achievable velocity of a single github repo in early 2015:
https://github.com/kubernetes/kubernetes/graphs/contributors

There are many reasons: ACLs, notification management, issue triage, PR reviews, sequentialized submit testing, merge conflicts, etc.

We're chipping away at these issues, but we need more than incremen

[2016-04-15 18:29] chrislovecnm commented on #17275
@atemerev Where are we at on this?  This is a long bug.

Logs from cassandra?  What seeds do they have?  `nodetool ring`?

[2016-04-15 18:34] hongchaodeng commented on #24343
That would be super awesome.
I can definitely help move the scheduler part.
Let me know when it's ready for a move.

@davidopp @wojtek-t @xiang90

[2016-04-15 18:36] chrislovecnm commented on #17724
@palonsoro I have https://github.com/kubernetes/kubernetes/issues/24290 open.  Feedback would be awesome!

Also have a PR in with the start of documenting this component: https://github.com/kubernetes/kubernetes/pull/24296

[2016-04-15 18:38] chrislovecnm commented on #24286
PR is in with intial documentation for how the Seed Provider works: https://github.com/kubernetes/kubernetes/pull/24296

[2016-04-15 18:40] davidopp commented on #24343
I'd love to see an analysis of what is the best we can do without creating additional repos (of course re-organizing the directory structure would not count as creating additional repos). In other words, for each of the points you mentioned ("ACLs, notification management, issue triage, PR reviews, sequentialized submit testing, merge conflicts, etc."), what is the best we can do within the curren

[2016-04-15 18:41] bprashanth commented on #24343
Another downside is people will start saying "that's not my job", cross-repo. I think it'll make dealing with e2e flakes that much harder.

[2016-04-15 19:04] #24159 closed

[2016-04-15 19:04] #23691 closed

[2016-04-15 19:05] hongchaodeng commented on #24343
The boundaries between repos are APIs and releases. It's already hard for people from different groups to figure out why other e2e tests failed?

I completely agree. Nevertheless, it's a good timing to raise attention that the current development workflow is tangling people with different interests in scheduling, client side, testing, node into one crowded path. I think what was suggested here is

[2016-04-15 19:12] smarterclayton commented on #24343
Some repos will be compiled into Kube, and so the boundaries are also
imports, dependencies, and team process (along with testing).

Admission controllers may deserve separate repos, as well as authorizer
implementations.

On Fri, Apr 15, 2016 at 3:05 PM, Hongchao Deng <notifications@github.com>
wrote:

[2016-04-15 19:13] smarterclayton commented on #23607
We've been running with the patch and the flake has gone away.  1.2.3 should contain this (as of current setup).

[2016-04-15 19:15] bprashanth commented on #24343
That really depends on how coupled the project is. This is more a statement about the current state of our repo, not about software development philosoply. ~50% of the "Services" test flake I debugged for the past release was not related to Services. If i'd just dropped the mic on those, things would probably be worse off.

I think the distinction is that a lot of contributors don't debug test fla

[2016-04-15 19:18] jayunit100 opened #24348 "eliminate repo-root for good"
Problem

Original problem is here #23987

Solution

After #24193 which should be pending, delete the rest of repo-root dependent calls and simply bootstrap any needed repo artifacts using the `bindata_util.go` asset functionality i.e. `guestbookPath = filepath.Join(framework.TestContext.GeneratedAssetsDir, framework.GENERATED_ASSETS, "examples/guestbook")`.

[2016-04-15 19:18] jayunit100 commented on #24348
cc @kubernetes/sig-testing @timothysc

[2016-04-15 19:20] lavalamp commented on #24343
I think we're not really equipped to run multiple repos right now. I imagine that leads to a world of N submit queues, N times the tests, N times the vendoring, basically N times the problems. It will badly hurt velocity because what you can do in a single PR now, you'd instead have to do with a well-ordered series of PRs & dependency bumps.

Building **import walls in the repository is the thing

[2016-04-15 19:22] trinitronx opened #24349 "Fix kubectl-container Makefile to work on other supported host platforms"
The current `Makefile` for `kubectl-container` fails when built on any platform other than `linux/amd64` due to hardcoded path.
## Proposed Change

Fix container & `kubectl` build on other platforms (such as OSX "`darwin") by:
- Use [`../../hack/lib/util.sh` function: `kube::util::host_platform`](https://github.com/kubernetes/kubernetes/blob/master/hack/lib/util.sh#L121) to detect platform
- [Make

[2016-04-15 19:23] smessmer opened #24350 "Local docker setup leaves /sys as ro in kubelet container"
I have a Kubernetes 1.2.2 setup with kube-proxy in iptables mode.

There is a Pod A with Pod-IP 10.2.94.5.
There is a Service A with IP 10.3.249.19, which redirects all traffic to this pod.
There is Pod B with Pod-IP 10.2.94.2.
Pod A and B are on the same machine.

When I access service A from pod B, everything works fine. However, when I try to access service A from pod A, iptables seems to drop

[2016-04-15 19:31] yujuhong commented on #24276
@roman-shuhov Most of your nodes encountered multiple system OOMs:
[code]
Looks like kubelet and/or docker might have been killed in this case. From what I can see, the `kubectl describe` output indicates that your nodes were *not* over-committed at the time of querying as far as k8s knows. However, even if you did over commit the node, kubelet/docker should have lower oom scores than pods with no

[2016-04-15 19:43] lavalamp commented on #23682
@timothysc any chance you could look at this?

[2016-04-15 19:45] lavalamp commented on #23747
@pwittrock @janetkuo are the closest thing we have to kubectl owners.

[2016-04-15 19:48] roman-shuhov commented on #24276
Nothing else was running in this cluster. It wasn't over-commited as well. Don't have kubelet.log

[2016-04-15 19:55] philips commented on #23944
@bgrant0607 Ping https://github.com/kubernetes/kubernetes/issues/23944#issuecomment-206691009

[2016-04-15 20:01] yujuhong commented on #24276
If nothing else was running in your cluster, then some pods and/or kubelet/docker  must've been behaving badly. I'd like to rule out the possibility that docker or kubelet was leaking memory -- have you seen high memory from either of them? If we can rule out the daemons, the next questions are 1) which pod(s) was using all the memory and 2) why wouldn't the pod(s) be killed first.

[2016-04-15 20:03] derekwaynecarr opened #24351 "LimitRange is not ignoring update operations for kind=Pod"
**CORRECTION**: this is not a regression from old behavior.

There was a proposed fix that would have caused it to be ignored that was never merged:
https://github.com/kubernetes/kubernetes/pull/18477/files#diff-e3f052839796781484de133fea5d5b5dR62

[2016-04-15 20:04] derekwaynecarr commented on #24351
See bz: https://bugzilla.redhat.com/show_bug.cgi?id=1327532

[2016-04-15 20:12] yujuhong commented on #24298
The unit test itself should not start a goroutine to update the cache (unless you're actually testing the goroutine). We should disable it anyway, as we often do in our unit tests.

It also sounds like we don't need a goroutine dedicated for this. If we can tolerate the additional overhead from time to time, we can set a expiration time (e.g., 1 minute), and only call the runtime if the entry expi

[2016-04-15 20:27] Random-Liu commented on #24298
@yujuhong Totally agree. :)
Maybe a new `Version()` call wraps the update logic in `DockerManager` layer, or wrapping the logic in the `kube_docker_client`.

[2016-04-15 20:28] derekwaynecarr opened #24352 "Resource quota should ignore pod resource requirement updates"
https://github.com/kubernetes/kubernetes/blob/master/pkg/quota/evaluator/core/pods.go#L50

The scenario that presented a problem was the following:

a) create pods in a namespace that do not make a memory claim
b) add a quota that tracks memory
c) update one of the pods previously created by reducing its active deadline.

Expected result:
Since a pod cannot change its resources via update, we shou

[2016-04-15 20:34] derekwaynecarr commented on #24351
Reducing priority since this is not an actual regression, and is contradictory to recommended best practice of creating a limit range prior to creating the resources it controls.

[2016-04-15 20:38] thockin opened #24353 "Daemonset NodeSelectorMismatching"
My cluster is head as of a few weeks ago.

Running a DaemonSet selecting `color=red`.  I have run this demo dozens of times before.  One of my three pods failed:

[code]

My nodes:

[code]

Note that all 3 nodes have `color:red` - this failed and never retried, which seems like 2 distinct bugs, to me.

[2016-04-15 20:39] yujuhong commented on #24305
I'd be ok with differentiating the commands based on the container runtime exposed in node status, at least for now.

[2016-04-15 20:50] davidopp commented on #22212
Good point on priority, but moved to P2 rather than P3.

Rescheduling uses DisruptionBudget (#12611), not priority. That said, I don't think it's likely we'll have rescheduling for 1.3 either. I do want to make sure we have the building blocks (among them DisruptionBudget) but it doesn't seem we'll actually have rescheduling.

[2016-04-15 20:53] smarterclayton commented on #23747
If possible I'd like to make retry in the CLI very, very constrained and be
deliberate about it.  We had lots of little flakes in reapers and labels
and annotations that we fixed by doing targeted retry automatically - we
could potentially do the same for URL downloads in resource builder without
making it explicit.

On Fri, Apr 15, 2016 at 3:46 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-04-15 20:54] smarterclayton commented on #24343
Agree with OWNER and import walls now.

On Fri, Apr 15, 2016 at 3:20 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-04-15 20:59] #24235 closed

[2016-04-15 21:02] vishh commented on #24343
I like @lavalamp's suggestion, but it still doesn't help with managing notifications though...

[2016-04-15 21:02] hongchaodeng commented on #24343
May I ask what import wall is?

[2016-04-15 21:13] vishh commented on #22623
Another thing to consider is the level of configurability we will get with windows containers. If we can emulate pods by dynamically configuring containers, that might work as well.

[2016-04-15 21:14] errm commented on #24306
Are you certain that you do have port 80 open on the container?  what does `ports` look like in your container spec?

I have run into this once or twice, opening 80 on a service, mapping back to 8080 or some such on the pod, and then forgetting what I did and setting up the probe for port 80.

You need to use the container port in a httpGet probe as it runs in the network namespace of the pod.

[2016-04-15 21:23] pwittrock opened #24355 "Integration test flake k8s.io/kubernetes/pkg/kubelet/dockertools"
Not a whole log in the logs other than that the dockertools test failed

FAIL	k8s.io/kubernetes/pkg/kubelet/dockertools	1.039s

[link to logs](https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24339/kubernetes-pull-test-unit-integration/21487/)

[2016-04-15 21:29] yujuhong commented on #24355
This is a dup of #24298

[2016-04-15 21:29] #24355 closed

[2016-04-15 21:31] vishh commented on #1615
Running our own `init` will open up many possibilities. I'm concerned about cross runtime compatibility though.

[2016-04-15 21:43] alex-mohr commented on #24343
I'd like to see more justification of why we should split -- that is, identify problems caused by the single repo, determine how significant those problems actually are and what their impact is, then discuss specifically how splitting into multiple repos will solve those problems, along with what the downsides of splitting are, and whether there are alternative approaches to solving those problems

[2016-04-15 21:53] davidopp commented on #24343
@vishh : you and @bgrant0607 both referred to a notifications problem. Can you explain this problem in more detail? In particular, what notifications do you receive today that you do not want, and what notifications do you *not* receive today that you *do* want?

[2016-04-15 22:00] roman-shuhov commented on #24276
Here is a `mayday` log from one bad node
https://transfer.sh/s2vhB/mayday.tar.gz

[2016-04-15 22:04] vishh commented on #24343
@davidopp I was referring to the notifications generated by github. If we were to have separate repos, I can choose to not watch or de-prioritize emails from certain parts of the system. As of now, it is difficult to identify the PRs and issues that I need to look at using notification emails.

[2016-04-15 22:09] Random-Liu commented on #24341
I think this one is added by @vishh  :)

[2016-04-15 22:13] davidopp commented on #24343
@vishh I feel there are solutions to that problem without going to separate repos.

Step 1: Reorg the directory structure a bit, to have cleaner separation between areas
Step 2: Either as part of OWNERS or as a separate mechanism, have a list that maps directory paths to github handles of people who want to be auto-subscribed to PRs that touch that directory
Step 3: Get the oncall to @ mention at

[2016-04-15 22:14] ixdy commented on #23987
Why are we making `test/e2e/e2e.test` the deliverable for conformance tests, rather than `kubernetes.tar.gz`?

The e2e tests currently have dependencies on `test/e2e/testing-manifests` and `test/images`, too. Are we going to `go-bindata`-ize them too?

[2016-04-15 22:18] freehan opened #24357 "iptables kube-proxy should not close all ports of nodeport service on iptables-restore failure"
The symptom is the nodeport service is accessible thru hostip:hostport. But the port on host is not occupied. This is exposed by `Services should be able to create a functioning NodePort service` e2e on kubenet.

I noticed in the kube-proxy.log. Kube-proxy did open the port.
[code]

But later, kube-proxy closed the ports upon iptables-restore failure. It never reopen the ports. Hence causing the e

[2016-04-15 22:20] mikedanese opened #24358 "containvervm kubelet failed to come up in node e2e"
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/1577/

[2016-04-15 22:31] janetkuo commented on #24330
@JorritSalverda all old RSes will be kept by default unless you specify the deployment's [`.spec.revisionHistoryLimit`](http://kubernetes.io/docs/user-guide/deployments/#revision-history-limit).

[2016-04-15 22:32] janetkuo commented on #24330
If you find this surprising please complain at #23597.

[2016-04-15 22:35] vishh commented on #24341
The test is running a single container pod and it is complaining about seeing multiple containers in the pod status. I cannot fix the test today though. I can look at it on monday if no one else gets to it by then.

[2016-04-15 22:51] dbbernstein commented on #24306
That was definitely the problem with the liveness probe. Thank you!

I'll close this and file a documentation enhancement request to remind people of this which is clear once one thinks about it but was easy to make.

[Apologies if this should have gone to stackoverflow first.]

[2016-04-15 22:51] #24306 closed

[2016-04-15 23:00] mikedanese commented on #24349
@luxas

[2016-04-15 23:00] yujuhong opened #24361 "kubelet: handle permanent container inspection failure"
Due to various bugs, sometimes docker won't be able to inspect a container and will keep returning 500 errors (e.g., #24252). Users need to intervene and force delete the pod in this case.

Kubelet should know when to give up and report an "unknown" status, so that the pod can continue syncing. One intuitive solution is to add a retry counter per container, and to report "unknown" when the count e

[2016-04-15 23:05] errm commented on #24306
Good to know you got it sorted out @dbbernstein, you should try the [kubernetes slack](http://slack.k8s.io/) its much less frustrating than waiting on stack overflow

[2016-04-15 23:07] yujuhong commented on #24252
Great.

Filed a bug for this #24361

That'd be great. I am closing this issue since the root cause is handled through the docker issue, and the workaround will be addressed in the #24361. If you have new information about kubelet inspecting a non-existent container, feel free to reopen the issue!

[2016-04-15 23:12] lavalamp commented on #24279
This is after about 1 day of an apiserver running in this condition.

[code]

[2016-04-15 23:25] Random-Liu commented on #24361
Great idea!

[2016-04-15 23:57] k82 opened #24363 "Reserve DNS Cluster IP"
##  Version

Kubernetes: master (1.3)
Mesos: master (0.29.0)

## Phenomenon

The `kubernetes` used DNS Cluster IP, the DNS service maybe failed.

## Steps

[code]

[2016-04-16 00:02] dbbernstein opened #24364 "[ENHANCEMENT] reinforce that probes for ports as defined in container, not externally"
It's obvious if you think about it, but not so difficult to forget, that the right port for a liveness or readiness probe is the port number that the container sees, **not** the one externally exposed.

I got into the wrong mindset and wasted lots of my time (and some of other people's) because of this. I'd even say that the existing documentation can unintentionally send people off in the wrong d

[2016-04-16 00:17] jayunit100 commented on #23987
We can, but as per the comment above, the priority is to get Conformance tests working without external deps.  That paves the way for everything else (without major  forklifting of the whole test suite )

[2016-04-16 00:24] resouer commented on #24298
expiration time sounds good in this case

[2016-04-16 00:24] pwittrock commented on #23747
retrying to download the url seems reasonable.

[2016-04-16 00:29] bgrant0607 commented on #24332
@k82 Please observe the message printed by kubectl. Delete the deployment, not the replicaset.

https://groups.google.com/forum/#!topic/kubernetes-announce/mOFVst-iNZY

[2016-04-16 00:29] #24332 closed

[2016-04-16 00:40] gmarek opened #24368 "Kubemark runs fails"
http://kubekins.dls.corp.google.com/view/Scalability/job/kubernetes-kubemark-5-gce/1508/consoleFull

[code]

[2016-04-16 00:53] fejta commented on #24368
slaves issue?

[2016-04-16 00:58] srcspider commented on #23497
@zhouhaibing089 I'm not sure I understand your scenario and problem here. You'll have to explain it to me. Rollback of what? What's "impossible" exactly? and did you mean it as truly impossible or simply "harder".

If we're talking normal application where you find out you did something stupid and then press a button to "turn back time" sort to speak, then "rollbacks" (for everything I manage) is

[2016-04-16 01:25] therc commented on #24267
Is this a dupe of #24325, due to excessive load on Jenkins?

[2016-04-16 01:45] gmarek commented on #24368
Seems that @spxtr fixed it - big thanks for solving this this late on Friday!

[2016-04-16 01:46] spxtr commented on #24368
We can't run the kubemark tests in the container in the same way we're trying to do the others. For now it'll have to live on the jenkins master, outside of a container :(

[2016-04-16 02:03] k82 commented on #24332
Got that, thanks very much :).

[2016-04-16 02:33] k82 commented on #24363
cc @jdef

[2016-04-16 03:07] zhouhaibing089 commented on #23497
/cc @wojtek-t

[2016-04-16 03:39] zplizzi opened #24373 "Dead Links in Guestbook Example"
In the [README for the guestbook example](https://github.com/kubernetes/kubernetes/blob/release-1.2/examples/guestbook/README.md#step-one-start-up-the-redis-master), the line `Before continuing to the gory details, we also recommend you to read Quick walkthrough, Thorough walkthough and Concept guide.` appears to contain several dead links.

[2016-04-16 03:43] thockin commented on #24040
`replace` is a full replacement, not a patch.  It is invalid to change ClusterIP, and in this case you are changing it from a value to "".  To replace a Service you really have to do an R-M-W cycle.  Get it, apply mutations, then write it back.

[2016-04-16 03:46] thockin commented on #23551
Any update on this?

[2016-04-16 03:49] thockin commented on #23551
I see the PR, sorry.  Thanks!!

[2016-04-16 03:51] #24297 closed

[2016-04-16 04:49] njuicsgz commented on #24322
@thockin I don't think it is even a tradeoff, because I can not accept the loss of real user requests in a prod env.

What about run a nginx as DaemonSet to proxy node port to real endpoints? So the request could be retried with another endpoint when one fails.

[2016-04-16 06:35] bgrant0607 commented on #24343
To be clear, there is no specific timeframe for this, but I view it as inevitable and ultimately healthy. I wanted a place to centralize the discussion.

More and more code is going into additional repos already, I expect that trend to continue.

[2016-04-16 07:00] #24053 closed

[2016-04-16 07:04] mqliang opened #24375 "Informer should not saturate workqueue with sync events"
Initial discussion is in https://github.com/kubernetes/kubernetes/pull/24323

#### Problem:
When cluster is large and a periodic relist happens, a large number of RCs added by Sync event will block the work queue, thus RCs added by Added/Updated/Deleted event may have a long latency(those events are usually caused by users, they should be processed ASAP).

I have done a benchmark about replication

[2016-04-16 07:06] mqliang commented on #24375
@bprashanth @lavalamp @wojtek-t @smarterclayton @kubernetes/sig-scalability

[2016-04-16 09:35] andrewmichaelsmith commented on #24252
@yujuhong Brilliant, thanks very much.

[2016-04-16 09:35] #24252 closed

[2016-04-16 10:11] #21267 closed

[2016-04-16 11:39] #24192 closed

[2016-04-16 12:44] gitolathe opened #24378 "Build for Mesos: Dockerfile ADD kube-source.tar.gz cause "Untar re-exec error ... no such file or directory""
When trying to build [K8s for Mesos](http://kubernetes.io/docs/getting-started-guides/mesos/) i.e.

[code]

the build of the Docker container fails with the error `Untar re-exec error: exit status 1: output: link /contrib/mesos/docs/scheduler.monopic /contrib/mesos/docs/scheduler.monopic: no such file or directory` see output below. Note, doing the build **without** `export KUBERNETES_CONTRIB=meso

[2016-04-16 12:51] tooda02 commented on #23505
@ArtfulCoder I finally was able to get my environment recreated and your command runs successfully:

    [david@centos ~]$ kcsys exec kube-dns-v11-iq8p2 -c healthz -- nslookup kubernetes.default.svc.cluster.local 127.0.0.1
    Server:    127.0.0.1
    Address 1: 127.0.0.1 localhost

    Name:      kubernetes.default.svc.cluster.local
    Address 1: 10.254.0.1

It looks like things are working now,

[2016-04-16 14:14] stevekuznetsov commented on #23378
@janetkuo I believe you wanted to keep the issue open, right?

[2016-04-16 15:01] gmarek commented on #21267
@bgrant0607 - we it should be documented? In the manifest by the label definition, or in one of many doc files?

[2016-04-16 16:05] jdef commented on #24363
This isn't k8sm-specific - you've manually configured the DNS service IP to conflict with the service IP that the k8s master will always try to use. Yous should perhaps pick x.x.x.10 as the address for the DNS service (I believe that the salt scripts do this).

k8s master will always try to grab x.x.x.1 for itself: https://github.com/kubernetes/kubernetes/blob/master/pkg/genericapiserver/genericap